[2019-05-05 19:21] Karlasa commented on #22706
Will close this issue as is duplicate of #19647

[2019-05-05 19:21] #22706 closed, assigned to cedarvinda

[2019-05-05 19:35] sanjaychouhan-webkul commented on #22736
@magento-engcom-team give me 2.3-develop instance

[2019-05-05 19:35] magento-engcom-team commented on #22736
Hi @sanjaychouhan-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-05 19:36] magento-engcom-team commented on #22736
Hi @sanjaychouhan-webkul, here is your [Magento instance](https://i-22736-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22736-2-3-develop.instances.magento-community.engineering/admin](https://i-22736-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-05 19:39] sanjaychouhan-webkul commented on #22736
I am working on this issue.

[2019-05-05 20:11] dmytro-ch commented on #22591
@magento-engcom-team give me 2.2-develop instance

[2019-05-05 20:11] magento-engcom-team commented on #22591
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-05 20:12] magento-engcom-team commented on #22591
Hi @dmytro-ch, here is your [Magento instance](https://i-22591-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22591-2-2-develop.instances.magento-community.engineering/admin](https://i-22591-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-05 20:51] WinstonN commented on #17615
Hello, We are seeing this issue on a 2.2.5 and on 2.2.8 - any update on this?

[2019-05-05 23:29] orlangur commented on #21862
Quoting a PR:

used.
https://www.pcisecuritystandards.org/documents/PCI_DSS_v3-2-1.pdf?agreement=true&time=1557036684432

@diamondavocado @tomekjordan what do you think?

[2019-05-05 23:44] hugoruivo commented on #11577
@sumeetmobiwebtech I was having the same issue with my Magento 2.3 setup.

For me the problem was in a third party module that was using the "old" tinymce.

Search for text 'tinymce' in your app/code directory. If you find some references in third party modules try to check if they have updates for Magento 2.3.

Version 2.3 do not use tinymce anymore so somewhere in your setup you still use tinymc

[2019-05-06 02:00] #18302 closed, assigned to NishaJangid

[2019-05-06 02:49] David-Magebinary opened #22740 ""select all" in backend grid not working properly, only the visiable items are getting updated"
### Preconditions (*)
Magento version: 2.3.1

### Steps to reproduce (*)
1. Go Customers > All Customers
2. Select 'Select all'
![image](https://user-images.githubusercontent.com/26532379/57204716-92208000-700d-11e9-9b19-f236080a31d4.png)
3. Select 'Delete' from the Actions dropdown
4.Shows 'A total of 20 record(s) were deleted.'
![image](https://user-images.githubusercontent.com/26532379/57204746

[2019-05-06 03:31] krishprakash commented on #22740
Hi @David-Magebinary. Thank you for your report.
This issue is duplicate to #22004

[2019-05-06 03:31] #22740 closed, assigned to nobody

[2019-05-06 03:38] ankursachdeva11 opened #22741 "Integrity constraint violation: 1062 Duplicate entry multi-source inventory assignment."
### Preconditions (*)

1.Magento 2.3.0 CE
2.

### Steps to reproduce (*)

1. create an item
2. setup multi-source inventory
3. use V1/inventory/source-items API to allocate inventory.
4. make multiple calls to allocate different source to a single SKU

### Expected result (*)

1. It should pass and give [] response every time.

### Actual result (*)

Request 1: {"sourceItems":[{"sku":"prices/a","s

[2019-05-06 05:07] mystix opened #22743 "M2.3.1: Unable to place order for bundle when child quantity > 1"
When placing an order for a bundle product with child product quantity set to a value greater than 1, the following error message is thrown:
`We found an invalid quantity to invoice item "%1".`

This happens for any payment method where invoices are automatically created during order creation e.g.
- PayPal Express Checkout + Payment Action = **Sale**
- Zero Subtotal Checkout + Automatically Invoic

[2019-05-06 05:13] mystix commented on #22743
@magento-engcom-team give me 2.3-develop instance

[2019-05-06 05:13] magento-engcom-team commented on #22743
Hi @mystix. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-06 05:14] magento-engcom-team commented on #22743
Hi @mystix, here is your [Magento instance](https://i-22743-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22743-2-3-develop.instances.magento-community.engineering/admin](https://i-22743-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-06 05:29] mystix commented on #22743
* [x]  yes
* [ ]  no

[2019-05-06 05:39] dmytro-ch commented on #22591
@magento-engcom-team give me 2.2-develop instance

[2019-05-06 05:39] magento-engcom-team commented on #22591
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-06 05:40] magento-engcom-team commented on #22591
Hi @dmytro-ch, here is your [Magento instance](https://i-22591-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22591-2-2-develop.instances.magento-community.engineering/admin](https://i-22591-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-06 06:11] mystix commented on #22743
This bug was introduced in commit 2fb6b3b81ada22e1a172272a7eb5454a50a71a2d in the following 2 private methods from [app/code/Magento/Sales/Model/Service/InvoiceService.php](https://github.com/magento/magento2/blob/2fb6b3b81ada22e1a172272a7eb5454a50a71a2d/app/code/Magento/Sales/Model/Service/InvoiceService.php]app/code/Magento/Sales/Model/Service/InvoiceService.php):

[code]

The bug is triggered w

[2019-05-06 06:28] krishprakash commented on #22457
Hi @rzaragosin.
I'm closing this issue as not able to reproduce and still no any reproducible steps provided by you.
Feel free to reopen this ticket if you phase this issue on latest magento instance.
Thank you.

[2019-05-06 06:28] #22457 closed, assigned to krishprakash

[2019-05-06 06:52] AlexWorking commented on #10234
The issue is not reproduced nether on 2.2-develop version nor on 2.3-develop version.  Therefore we are closing it. If You manage to reproduce it on ether of the two aforementioned versions please reopen it. Thank You.

[2019-05-06 06:52] #10234 closed, assigned to nobody

[2019-05-06 07:07] ManuIB commented on #20033
I never did this before, could you tell me how to do it please? This can break my website?

[2019-05-06 07:10] sumeetmobiwebtech commented on #11577
@hugoruivo
Thank you so much for your reply.I did it already.And yes you are right in custom module define tinymce,i remove tinymce and the problem is gone.

[2019-05-06 07:11] AlexWorking commented on #22338
Hi, @miteshdhaduk. We are closing this issue due to inactivity.

[2019-05-06 07:11] #22338 closed, assigned to nobody

[2019-05-06 07:40] dmytro-ch commented on #22591
Hi @pietervanuhm,
thank you for your report.
I could not reproduce the mentioned issue while using the appropriate resource for shipment creation `salesShipOrderV1`.

The `/V1/shipment` endpoint should be used in case you need to update the existent shipment.

Please check the following guide for more details:
https://devdocs.magento.com/guides/v2.3/rest/tutorials/orders/order-create-shipment.html

[2019-05-06 08:02] AlexWorking commented on #9851
@vinayshah You reopened the issue without comment. Please tell whether it was done by accident. If it was not what is the reason for reopening. Thank You.

[2019-05-06 08:59] webkul-deepakkumar commented on #22731
@magento-engcom-team give me 2.3-develop instance

[2019-05-06 09:00] magento-engcom-team commented on #22731
Hi @webkul-deepakkumar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-06 09:00] magento-engcom-team commented on #22743
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99568` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-06 09:07] i95devdivya opened #22745 "Wrong discount amount calculating for cart price rules if cart rule set to fixed amount"
### Steps to reproduce

1.  Create cart price rule with Fixed amount discount.
2. Add products to shopping cart.
3. Add discount coupon to cart, click on apply discount button and check for cart totals.

### Expected result

Mentioned Discount amount should apply to cart.

### Actual result

100% discount applying on subtotal.

[2019-05-06 09:49] patrick-bigbridge opened #22747 "JavaScript modules contain unnecessary define checks"
Many Magento 2 RequireJS modules start with a check for the presence of RequireJS' "define" function. I wonder if this check is (still) necessary, or that it may be removed.

As far as I can tell "require.js" is the first JavaScript file that is loaded on every Magento 2 page, both frontend and backend. It is loaded synchronously, so all other JavaScript must be executed after this file has comple

[2019-05-06 10:00] krishprakash commented on #22747
Hi @patrick-bigbridge.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the Community Forums or the Magento Stack Exchange site for advice or general discussion about this.
It will help you to solve your queries.
Thank You.

[2019-05-06 10:10] patrick-bigbridge commented on #22747
Hello @krishprakash
I understand your desire to close off-topic issues quickly.
However, this **_is_** a core technical issue, as you call it, and I urge you to reopen.
Thank you.

[2019-05-06 10:17] krishprakash commented on #22747
If it is related to any core issue then please update all the information with all necessary details.
as per your request I reopen it.
Thank you.

[2019-05-06 10:27] vini1996 opened #22748 "Footers do not snap to bottom of screen on internet Explorer 11"
### Preconditions (*)

1.  Magento 2.2.7
2. php 7.14
3. internet Explorer 11

### Steps to reproduce (*)

1. clicking any pages on the footer.
2. clicking on the any of the categories.

### Expected result (*)

1.footers must fit at the bottom of the page
![Screenshot_2](https://user-images.githubusercontent.com/39683802/57220428-ee3cd180-7018-11e9-9542-01c8f02b0b8b.png)
### Actual result (*)

1.

[2019-05-06 10:30] patrick-bigbridge commented on #22747
Thank you. I updated the original issue.

[2019-05-06 10:33] AlexWorking commented on #22748
Hello @vini1996. Thanks for reporting. Please specify the steps necessary to reproduce Your issue. Screenshot of the actual result will also be appreciated.

[2019-05-06 10:47] nitishcs6 opened #22749 "Product doesn't appear on front end after enabling it when using Scheduled Indexing"
### Preconditions (*)

1. Magento Open Source/Commerce (2.3.1 or 2.3.1) with/without Sample Data.
2. Enabled Flat Tables (BO -> Stores -> Configuration -> Catalog -> Catalog -> Storefront -> Use Flat Catalog Product).
3. Indexer set to 'UPDATE BY SCHEDULE' mode (BO -> System -> Index Management).
4. Initial reindex was done and all indexes already created.

### Steps to reproduce (*)

1. Create a

[2019-05-06 10:48] nitishcs6 commented on #22749
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-05-06 10:48] magento-engcom-team commented on #22749
Hi @nitishcs6. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-06 10:49] magento-engcom-team commented on #22749
Hi @nitishcs6, here is your [Magento instance](https://i-22749-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22749-2-3-develop.instances.magento-community.engineering/admin](https://i-22749-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-06 11:00] nitishcs6 commented on #22749
@magento-engcom-team
can you confirm schedule indexing cron is enabled on given instance?

[2019-05-06 11:30] vini1996 commented on #22748
@AlexWorking  sry, that's all information I have

[2019-05-06 11:44] nitishcs6 commented on #22749
@magento-engcom-team
can you confirm schedule indexing cron is enabled on given instance?

[2019-05-06 11:48] jafar247commerce commented on #22308
@mohitka , yes i am also facing same issue in version 2.2.6, can anybody help me in resolving it?
Thanks

[2019-05-06 11:54] shikhamis11 commented on #22308
Hi @mohitka , I have reopened the issue.
please check the issue at 2.2-develop instance and share screenshot if you are able to reproduce the issue

[2019-05-06 11:56] webkul-deepakkumar commented on #22731
@magento-engcom-team give me 2.3-develop instance

[2019-05-06 11:56] magento-engcom-team commented on #22731
Hi @webkul-deepakkumar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-06 11:57] magento-engcom-team commented on #22731
Hi @webkul-deepakkumar, here is your [Magento instance](https://i-22731-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22731-2-3-develop.instances.magento-community.engineering/admin](https://i-22731-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-06 12:00] jafar247commerce commented on #22308
@shikhamis11 , yes i can reproduce the issue in 2.2.6 version, I am getting the console error, once i logged in with new admin user.

[2019-05-06 12:04] jafar247commerce commented on #22308
![js-error](https://user-images.githubusercontent.com/44928714/57223869-264a1180-7025-11e9-85b3-5cf30d20d20b.png)

[2019-05-06 12:10] magento-engcom-team commented on #20917
Hi @pankaj-cedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#22582 by @webkul-deepakkumar in 2.2-develop branch
Related commit(s):
 - [223b71017578ddf9a27989c96f11c60dd74447fb](https://github.com/magento/magento2/commit/223b71017578ddf9a27989c96f11c60dd74447fb)

The fix will be available with the upcoming 2.2.9 release.

[2019-05-06 12:10] magento-engcom-team commented on #21978
Hi @WalterSmulders. Thank you for your report.
The issue has been fixed in magento/magento2#22579 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [008f8ef03b5eb4b8345bd1657d588bd7cb435e5a](https://github.com/magento/magento2/commit/008f8ef03b5eb4b8345bd1657d588bd7cb435e5a)
 - [e97f14c8e59f201a6fe8df7ed5326cfb130d0300](https://github.com/magento/magento2/commit/e97f14c8e59f201a6fe8df

[2019-05-06 12:11] webkul-deepakkumar commented on #22731
Hi @abhinay111222
Can you please explain in more detail I'm not able to reproduce this issue.
Thanks.

[2019-05-06 12:18] jafar247commerce commented on #22308
@shikhamis11, @mohitka
Facing this issue still in 2.3.0 version
Because of this i am not able to see any orders in sales order grid.
Please anyone look into it and update me. Thanks

[2019-05-06 12:20] AlexWorking commented on #22748
Thank You @vini1996. But we are not able to reproduce Your issue on a clear vanilla instance of Magento2. There is ether missing something in Your Steps to Reproduce or Your Magento instance is modified with some custom extensions that cause such a result. If it's been not for the second one please try to guide us in what else we are supposed to do in order to reproduce Your issue.
![Footers](http

[2019-05-06 12:26] vini1996 commented on #22748
@AlexWorking please try in Internet Explorer 11, this issue is with Internet Explorer only.

[2019-05-06 12:35] #22749 closed, assigned to nitishcs6, krishprakash

[2019-05-06 12:38] webkul-deepakkumar commented on #22745
@magento-engcom-team give me 2.3-develop instance

[2019-05-06 12:38] magento-engcom-team commented on #22745
Hi @webkul-deepakkumar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-06 12:39] magento-engcom-team commented on #22745
Hi @webkul-deepakkumar, here is your [Magento instance](https://i-22745-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22745-2-3-develop.instances.magento-community.engineering/admin](https://i-22745-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-06 12:45] frankatwork commented on #20973
Hi. I am experencing the same, did you find a fix?

[2019-05-06 12:49] magento-engcom-team commented on #22745
@webkul-deepakkumar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required informa

[2019-05-06 12:56] magento-engcom-team commented on #22745
:white_check_mark: Confirmed by @webkul-deepakkumar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-06 13:02] magento-engcom-team commented on #22745
:white_check_mark: Confirmed by @webkul-deepakkumar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-06 13:04] webkul-deepakkumar commented on #22745
@magento-engcom-team why i am not able to add confirmed label on it

[2019-05-06 13:10] magento-engcom-team commented on #22745
:white_check_mark: Confirmed by @webkul-deepakkumar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-06 13:18] PascalBrouwers commented on #12500
Updated the PR for 2.3-develop. Let's hope the tests will pass now.

[2019-05-06 13:19] tim-reynolds-visionet commented on #20973
@frankatwork yes here is essentially the code I used. You have to change the class used for cache in the app/etc/env.php file but with this the problem went from a couple thousand cache hits to load a page to less than 100 for me.

    <?php

    class Example_Cache_Redis extends Cm_Cache_Backend_Redis
    {

        static $_special_cache = [];
        static $_special_patterns = ['/Zend_Locale/'

[2019-05-06 13:21] orlangur commented on #20973
@tim-reynolds-visionet,

How much is that in terms of absolute time?

[2019-05-06 13:27] oefterdal commented on #4688
We have the same issue in 2.3.1

[2019-05-06 13:35] CompactCodeEU opened #22751 "Using Customer Session Factory to avoid depersonalization"
I know this is more of a question but i do not seem to find any good documentation if this is expected behavior or not and what the consequences could be.

### Summary (*)
We have a plugin that adjusts the customer price on the front-end based on its customer ID. When you use the Customer Session class it is depersonalized for a very good reason. But when you use the factory of the same class sudd

[2019-05-06 13:50] mikedubinsky-odb commented on #22528
@chequille Yes, instead of our custom 'PayPal' button, we now see a 'zoid-paypal-button-...' iframe. @neeta-wagento, was this issue something that you also experienced? Thanks all!

[2019-05-06 14:22] gakonhd commented on #7299
Thank you for having people working on this. I am looking forward to the update of this version. Thank you again.

[2019-05-06 14:23] magento-engcom-team commented on #7299
Hi @gakonhd. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-05-06 14:27] gakonhd commented on #7299
Hi @magento-engcom-team , thank you for the update. I wonder if the fix will be applied to 2.2.8 version as well ?

[2019-05-06 14:30] Karlasa commented on #13554
@magento-engcom-team give me 2.3-develop instance

[2019-05-06 14:30] magento-engcom-team commented on #13554
Hi @Karlasa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-06 14:31] magento-engcom-team commented on #13554
Hi @Karlasa, here is your [Magento instance](https://i-13554-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-13554-2-3-develop.instances.magento-community.engineering/admin](https://i-13554-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-06 14:34] Karlasa commented on #13554
Will close this issue because can't be reproduced in current 2.3-develop branch

[2019-05-06 14:34] #13554 closed, assigned to nobody

[2019-05-06 14:47] pkavanaghjr commented on #7299
@gakonhd @magento-engcom-team

I am also looking for a solution to be released for v2.2.8, is that currently in development as well?

[2019-05-06 14:49] orlangur commented on #7199
@darshan-khatri-16 good to know, please add appropriate label then.

[2019-05-06 14:51] magento-engcom-team commented on #22406
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#22423 by @sudhanshu-bajaj in 2.3-develop branch
Related commit(s):
 - [2b60b9fad8d06b47ef0dca54fa321cb35aab2f42](https://github.com/magento/magento2/commit/2b60b9fad8d06b47ef0dca54fa321cb35aab2f42)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-06 14:51] #22406 closed, assigned to sudhanshu-bajaj

[2019-05-06 15:00] karlgram opened #22753 "Uncaught Error: Cannot instantiate interface Magento\InventorySalesApi\Api\GetProductSalableQtyInterface"
### Preconditions (*)

1. Using Magento 2.3.0 migrated from Magento 1.8
2. Magento is in default mode
3. No customization

### Steps to reproduce (*)

1. Stock version of Magento 2.3.0
2. Disable all Magento_Inventory* modules
3. Run setup:upgrade
4. Clean Cache
5. Reindex

### Expected result (*)

1. After disabling Magento_Inventory* modules magento should work using the pre 2.3 inventory system

[2019-05-06 15:03] karlgram commented on #22753
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-05-06 15:03] magento-engcom-team commented on #22753
Hi @karlgram. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-06 15:04] magento-engcom-team commented on #22753
Hi @karlgram, here is your [Magento instance](https://i-22753-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22753-2-3-develop.instances.magento-community.engineering/admin](https://i-22753-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-06 15:06] mrlerch commented on #22509
Hello sdzhepa, thank you for your time to respond. I will go down your list and try all the suggestions and get back to you. Thank you.

[2019-05-06 15:15] karlgram commented on #22753
this instance does not have MSI enabled and not able to subsequently disable it to reproduce my error

[2019-05-06 15:29] krishprakash commented on #22753
Hi @karlgram.
Problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository

[2019-05-06 15:33] karlgram commented on #22753
This is not a data migration tool issue. We migrated our 1.8 shop to 2.3 and ran for 3 months until we decided to turn off MSI. After turning off all MSI modules we are no longer able to save any product due to the error as indicted.

[2019-05-06 15:42] cmtickle commented on #19119
I encountered the same issue in M2 2.2.6 (self-hosted). DB connection 'indexer' was created as below, resulting in the error as per original author
`
               'indexer' => [
                'active' => '1',
                'persistent' => NULL
            ]
`

[2019-05-06 15:51] mozgbrasil commented on #22603
Hello

Thanks for interacting

Conform images did not succeed

See that an error is returned in the attempt to resize the images, even if it is an installation via Composer where the intention is that Composer has already downloaded the images from Sample Data

https://drive.google.com/open?id=1SG-b2N4WeZBmwbBCE5Q8ClhJjin1Xj-i

[2019-05-06 16:22] mozgbrasil commented on #22603
I updated my repository with the appropriate automation, but this part for the time being without success

https://github.com/mozgbrasil/deploy-magento2

[2019-05-06 16:29] arnoudhgz commented on #22103
I had the same / similar issue with special characters not being set properly. It was due to a dotmailer bug. It was solved by updating the extension to 3.2.1: https://github.com/dotmailer/dotmailer-magento2-extension#fixes

[2019-05-06 16:53] Karlasa commented on #20293
Will close this issue as we have duplicates  (#19647) and that one has PR in progress

[2019-05-06 16:53] #20293 closed, assigned to cedarvinda

[2019-05-06 17:05] bonsoni commented on #16471
We are having the similar issue

[2019-05-06 17:09] sanjaychouhan-webkul commented on #22638
It seems like it isn't an issue and it was intended.
![Screenshot from 2019-05-06 22-32-02](https://user-images.githubusercontent.com/42089978/57241898-bb620000-704f-11e9-889f-2e26b489a619.png)

[2019-05-06 17:17] magento-engcom-team commented on #22270
Hi @danielpfarmer. Thank you for your report.
The issue has been fixed in magento/magento2#22535 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [f593573d6ea7e24017df911f595824bd812ff166](https://github.com/magento/magento2/commit/f593573d6ea7e24017df911f595824bd812ff166)

The fix will be available with the upcoming 2.2.9 release.

[2019-05-06 18:42] chequille commented on #22528
Yes, exactly this is my problem. I need a button where i can clearly define my own text "zahlungpflichtig bestellen".
I had that with Magento 2.3.0
But now the buttons and the texts on it are made from paypal.

[2019-05-06 18:52] rafaelespinoza commented on #22498
I'm working on an external API service. The vendor maintains their store installation on their own, so we have no access to a [version check](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/versioning/check-version.html) other than the HTTP GET method, which is incomplete.

The goal is to prevent usage of our API when the vendor is using a version of Magento affected by [PRODSECBUG-219

[2019-05-06 19:28] sanjaychouhan-webkul commented on #21590
Not an issue. As I can see it is intended.
![Screenshot from 2019-05-07 00-56-39](https://user-images.githubusercontent.com/42089978/57249685-384aa500-7063-11e9-8c3b-5e53354d268b.png)

[2019-05-06 19:28] #21590 closed, assigned to dipti2jcommerce, dev-ajaysaini, krishprakash

[2019-05-06 19:40] hostep commented on #22498
@rafaelespinoza: what do you do with Magento shops where the [`magento/module-version` module](https://github.com/magento/magento2/tree/2.3.1/app/code/Magento/Version) isn't installed on?
We recently started removing this module by default on our new shops as we don't want to expose which Magento version is used to the outside. It's considered a security issue when exposing which exact version a s

[2019-05-06 20:00] AlexWorking commented on #22745
Dear @maheshWebkul721. Please next time do not assign to Yourself issues for recheck if they have already been assigned to somebody else. Thank You for understanding.

[2019-05-06 20:00] bacacomanana opened #22754 "Erro Magento instalado no Hostgator"
A
pesquisa de catálogo de aviso de desaprovação está atualmente configurada para usar o mecanismo MySQL, que foi descontinuado. Considere migrar para um dos mecanismos do Elasticsearch agora para garantir que não haja interrupções de serviço durante sua próxima atualização.

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or descripti

[2019-05-06 20:00] magento-engcom-team commented on #22745
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99576`, `MAGETWO-99577` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-06 20:03] chequille commented on #22243
I give my comment as well here, even if the issue is closed, which it should not.

Give us the ability to decide by ourselves whether PayPal credit should be offered or not. This is my decision and not Paypals or Magentos.

Hope more people will see this as I see it.

BR
Jürgen

[2019-05-06 20:27] princefishthrower opened #22755 "a href (anchor) HTML tags in a Phrase used in LocalizedException"
### Summary
I want to include `<a href="....">` HTML in a LocalizedException() Phrase

(I realize this is possible with addComplexErrorMessage() with MessageManager, but we are operating in a plugin method and need to halt further execution)

### Examples
Code:

[code]

The result is an error message on the frontend that has the literal text

`"Please <a href="http://localhost:8080/ch/customer/acc

[2019-05-06 20:40] paginasweb commented on #16868
I hope this issue is been fixed in future releases

[2019-05-06 22:10] orlangur commented on #22754
@bacacomanana English, please.

[2019-05-06 22:12] orlangur commented on #22755
@frewinchristopher, I don't get this.

This is a recommended way.

[2019-05-06 23:57] frewinchristopher commented on #22755
@orlangur yes, but I need to halt execution as I stated - otherwise the standard magento method continues and i get further messages

[2019-05-07 00:04] mrtuvn commented on #22617
steps reproduce is seem clearly now

[2019-05-07 00:50] diamondavocado opened #22756 "There is no clear indication when "Use default value" is set for themes in Content -> Design -> Configuration"
### Preconditions (*)

1. Version 2.3.1

### Steps to reproduce (*)

1. Visit Admin panel -> Content -> Design -> Configuration
2. Try to identify which website/store/store view is set to "Use default value" for its theme

### Expected result (*)

1. It should be clear which website/store/store view has been set to "Use default value" and which one has been allocated a specific (non-default) theme

[2019-05-07 00:51] diamondavocado commented on #22756
@magento-engcom-team give me 2.3-develop instance

[2019-05-07 00:51] magento-engcom-team commented on #22756
Hi @diamondavocado. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-07 00:52] magento-engcom-team commented on #22756
Hi @diamondavocado, here is your [Magento instance](https://i-22756-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22756-2-3-develop.instances.magento-community.engineering/admin](https://i-22756-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-07 00:57] diamondavocado commented on #22756
@m2-assistant Issue confirmed in 2.3-develop instance

I changed the 2nd row's theme to "Magento Luma" but did not touch the 3rd row's theme. The 3rd row therefore inherits the 2nd row's theme, but is still technically set to "Use default value". This is not clear. It looks like the 3rd row's theme has also been changed by me, but it has not:
https://i.imgur.com/UDKNmAv.png

[2019-05-07 03:26] qrider opened #22757 "getAppliedRuleIds() function no longer returns array of ruleIds"
### Preconditions (*)

1. getAppliedRuleIds() function no longer returns array of ruleIds

### Steps to reproduce (*)

1. In overridden template Magento_Checkout/templates/cart/item/default.phtml
`
/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$rules = $_item->getAppliedRuleIds();
//returns null if no rules applied or returns empty string if a rule is a

[2019-05-07 03:58] sanjaychouhan-webkul commented on #21558
I am working on this issue

[2019-05-07 04:23] krishprakash commented on #22638
Asterisk(*) sign position should be consistent through out the admin or front end.
So it should be done as per consistency.

[2019-05-07 04:38] hiren-aimsinfosoft commented on #22603
Hello @mozgbrasil

I am working with your repository.

[2019-05-07 05:20] maheshWebkul721 commented on #22745
@AlexWorking , i did not assign it for rechecking issue, i assigned it for fix this issue.

[2019-05-07 06:45] mystix commented on #13153
Still not fixed in M2.3.1 😞

[2019-05-07 06:45] mkum73 opened #26121 "special price & tier price are coming in base currency"
In Graphql fetch data for special price & tier prices in products query. The values come always in base currency.
### Preconditions (*)
1. Magento based on '2.4-develop' branch
2. Have a product created with name "Beginner's Yoga" (or refer to the same named product that becomes available with sample data) and set the following prices
    a. price: 6
    b. Advanced pricing > special price: 5

[2019-05-07 06:56] Julen10 commented on #22585
Hi @engcom-backlog-nazar ,
I solved the problem in some way. The problem is that HEAD petition to the homepage throws a 404 error and that´s stored in the cache. So, the next home petitions will throw a 404 and for solving it you need to deploy again the theme.

This problem is given because I use uptimerobot on his free plan, and I can´t change there the petition mode so it´s always a HEAD ones.

[2019-05-07 07:00] Julen10 commented on #22243
@chrischerrett Even if I change the Merchant Country to USA, im not able to switch off or see the option.

@chequille You are right, hope we can get this change done. Thanks.

[2019-05-07 07:43] hostep commented on #22585
@Julen10: nice find!

This means this ticket is a duplicate of https://github.com/magento/magento2/issues/21299
It was fixed in https://github.com/magento/magento2/pull/21378
The fix is scheduled to be released in Magento 2.3.2

I'm going to close this issue now if you don't mind.

[2019-05-07 07:43] #22585 closed, assigned to nobody

[2019-05-07 07:43] huuquyasb commented on #2504
@Dannymx  thank you. Magento 2.3.1 and Vagrant/Homestead

[2019-05-07 08:02] AlexWorking commented on #22748
@vini1996 here is a test done on Internet Explorer version 11.437.17763.0 with the same result:
![IE11437177630](https://user-images.githubusercontent.com/27814011/57283299-1570be80-706c-11e9-9a8b-29fba6d1a876.gif)

[2019-05-07 08:03] Julen10 commented on #22585
@hostep For sure, thanks.

[2019-05-07 08:04] Nazar65 commented on #22753
@karlgram did you enable MSI modules after migration ?

[2019-05-07 08:09] Nazar65 opened #22761 "Backward compatibility provided by #19765"
### Summary (*)
magento/magento2#19765
https://github.com/magento/magento2/issues/19761#issuecomment-451092004
Current fixes still don't provide complete backward compatibility with code designed for Magento 2.0.X, 2.1.X, 2.2.X.
IMO it is not good at all to have any variables related to SKU in abstract entity code. In the best case new class must be implemented and extended from abstract entity.
I

[2019-05-07 08:26] simonmaass commented on #13153
you are right with the order status being "complete" - i can confirm... The credit memo on the other hand is just 0€ and looks fine

[2019-05-07 08:32] simonmaass opened #22762 "Credit Memo with Zero Total: Order Status "Complete" and not "Closed""
### Preconditions (*)

1. Magento 2.3.1
2. PHP7.2

### Steps to reproduce (*)

1. Create order with zero Amount (all Grand Total, Total Paid, Total Refunded, Total Due, Subtotal, Shipping & Handling, Tax are zero ) in status = "Pending" and 1 SKU qty = 1.
2. Create Invoice and now Order is status = "Processing"
3. Ship Order -> now Orderstatus is = "Complete"
4. Now create Credit memo and refund a

[2019-05-07 08:53] magento-engcom-team commented on #22762
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99588` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-07 09:08] PiotrSiejczuk commented on #22047
Hi @magento-engcom-team, thank you for your information. Although commits from @lbajsarowicz are not addressing the whole scope of the reported issue. It is perfect that CLI CRON commands are being correctly Tracked @ NewRelic now. Although it is not tracking correctly ATOMIC Transactions executed within standard CRON execution. That being said: this ticket should not be CLOSED as the FIX is not a

[2019-05-07 09:10] mystix commented on #13153
are you on M2.3.1 as well?

[2019-05-07 09:53] mauricehermans commented on #16016
@engcom-backlog-pb any news on this?

[2019-05-07 09:54] orlangur commented on #22755
@frewinchristopher GitHub is intended for bug reports, please add your question on Stack Overflow.

[2019-05-07 09:54] #22755 closed, assigned to nobody

[2019-05-07 10:01] webkul-deepakkumar commented on #22762
@magento-engcom-team give me 2.2-develop instance

[2019-05-07 10:01] magento-engcom-team commented on #22762
Hi @webkul-deepakkumar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-07 10:02] magento-engcom-team commented on #22762
Hi @webkul-deepakkumar, here is your [Magento instance](https://i-22762-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22762-2-2-develop.instances.magento-community.engineering/admin](https://i-22762-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-07 10:04] AlexWorking commented on #22308
Hello @mohitka. We've managed to reproduce Your issue on 2.2.9 version but it's not reproducible on 2.3 develop version. Seems it has been fixed there. So according to the stage 4 of the comment above (m2-assistant bot) we are supposed to close the issue.

[2019-05-07 10:04] #22308 closed, assigned to nobody

[2019-05-07 10:18] webkul-deepakkumar commented on #22762
I have checked this issue is reproducible on 2.2-develop also.

[2019-05-07 10:35] MagentoAr commented on #22737
Hi @AlexWorking
thank you very much for working on this issue.
i'll waiting your updates.

[2019-05-07 10:36] Karlasa commented on #19647
got fixed under PR #22423
will close this issue.

[2019-05-07 10:36] #19647 closed, assigned to SyntaxKay

[2019-05-07 10:39] simonmaass commented on #13153
yes

[2019-05-07 11:25] tsalumets commented on #21264
Also have the same problem on one of our shops. Issue is on the production site. Unable to reproduce on the same site staging environment.

Magento ver. 2.2.6

[2019-05-07 11:36] Cros1404 commented on #18374
Website scoped attributes still have the same issue in 2.2.8

[2019-05-07 11:48] AlexWorking commented on #22753
Hello @karlgram. Please recreate Your issue in an appropriate repository of https://github.com/magento-engcoom/msi. We are closing this issue here but You can link it to a new one You will have created in that repository in order to keep together all the information posted about the issue. Thank You.

[2019-05-07 11:48] #22753 closed, assigned to nobody

[2019-05-07 12:29] Sharkozp opened #22767 "Not clear logic for loading CMS Pages with setStoreId function"
### Preconditions (*)

1. 2.1.x
2. 2.2.x
3. 2.3.x

### Steps to reproduce (*)

1. Create some class that will load CMS Page:
[code]
2. According to description for magic function **setStoreId** must be array in Magento\Cms\Model\Page:
` * @method Page setStoreId(array $storeId)`

[Link](https://github.com/magento/magento2/blob/bd82ed4ecd5c7d66c819711a2a4425d46c232583/app/code/Magento/Cms/Model/Pag

[2019-05-07 12:38] andrey-legayev commented on #6942
The real production case for which I've spent 40 hours debugging:

**Pre-requisites**
- AWS Infra:
    - front load balancer with two Varnish+nginx servers
    - internal load balancer with several Apache+mod_php servers
    - redis master + redis replica
- Magento cache configuration:
    - master node + replica for read requests
    - write_control option is by default (Zend_Cache_Core feature)

[2019-05-07 12:48] magento-engcom-team commented on #22767
:white_check_mark: Confirmed by @GovindaSharma
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-07 12:57] Sharkozp commented on #22767
@GovindaSharma and @magento-engcom-team ,

Yes, I also think so. For array it must be method **setStoreIds**, but I think it was added array for getting more than 1 page, because in **_getLoadSelect** store ids added via join and used for filters:
`->where('cps.store_id IN (?)', $store);`

[Link](https://github.com/magento/magento2/blob/bd82ed4ecd5c7d66c819711a2a4425d46c232583/app/code/Magento/Cms

[2019-05-07 13:00] maheshWebkul721 commented on #22767
i am working on this.

[2019-05-07 13:13] mbijnsdorp opened #22769 "Creating a preference for category product indexer breaks setup:di:compile"
### Summary
When you create a preference for the category product indexer, code compilation breaks. This is because of the definition of the category product indexer execute method: https://github.com/magento/magento2/blob/2.3.1/app/code/Magento/Catalog/Model/Indexer/Category/Product/Action/Full.php#L155:

[code]

Due to the preference, the generated interceptor (Magento already has a plugin defin

[2019-05-07 13:16] jaxtheking commented on #5863
Very odd, I started getting this problem too after upgrading to 2.3.1 from 2.3.0 on my single view site (single-mode is on).
Before the upgrade, URL Rewrites used to be generate correctly upon creating a new product, but they no longer do.
In the meantime, olegkoval's solution works for me.

[2019-05-07 13:33] DJ0815 opened #22770 "New Customer Checkout not working for downloadable products"
Hi,
I try to buy a download product, it does not matter whether free or paid. Guest Checkout for downloable products is disabled, so customer is asked to register first. Works fine, but when i am going to checkout as the new registered customer, enter my whole address (all required fields) under the payment method, i get the error message, that lastname and so on are required fields.

### Precondi

[2019-05-07 13:42] Patelcc opened #22771 "Magento 2.3.0 can't change text area field height admin form using Ui component"
### Preconditions (*)

1. Magento version CE 2.3.0
2. PHP version 7.1.
3. Admin area

### Steps to reproduce (*)

1. Create admin form usign Ui component.
2. Add text area field to form
3. Try to increase text-area field height using `<item name="rows" xsi:type="number">60</item>`
**Note:** It is not working because of CSS `admin__control-textarea` class given height `height: 8.48rem;` if you remo

[2019-05-07 13:45] arnoudhgz commented on #22771
@magento-engcom-team give me 2.3.1 instance

[2019-05-07 13:45] magento-engcom-team commented on #22771
Hi @arnoudhgz. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-05-07 13:46] magento-engcom-team commented on #22771
Hi @arnoudhgz, here is your [Magento instance](https://i-22771-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22771-2-3-1.instances.magento-community.engineering/admin](https://i-22771-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-07 13:47] maheshWebkul721 commented on #22767
@Sharkozp , as i thing it must be type int, because `load()` function will always return a single record
matching with default store id and given store id.

[2019-05-07 13:59] jaxtheking commented on #5929
I can confirm that saving a product now does update the URL rewrite correctly.
However, since I've upgraded to 2.3.1 from 2.3.0, I've been getting a new odd problem where a URL rewrite does not get created upon creation of a new product and the URL for the product is messed up (catalog/product/view/id/9027/s/test222/ instead of just catalog/product/view/id/9027).

However, if I edit the product an

[2019-05-07 14:33] akamenew opened #22773 "Type Error occurred when creating object: Magento\Framework\Communication\Config\Data"
Following the instructions on https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html for upgrading Magento, I got this error when executing the command "php  bin/magento setup:upgrade"

### Preconditions (*)
1. Upgraded from 2.2.3 -> 2.3.1
2. PHP Version 7.2.16

### Steps to reproduce (*)
0. Starting with a 2.2.3 installation, in Magento root dir:
1. php bin/magento maintenance:enab

[2019-05-07 14:34] orlangur commented on #20033
@ManuIB `git bisect` should be an easiest option or check history of files which should potentially contain such kind of fix.

[2019-05-07 14:50] DavidVaini commented on #5929
I have run into a problem upgrading to 2.3.1, after doing so, there are random products where the page url will return a 404: catalog/product/view/id/998, some other products work. The broken URL gets fixed only if I go into management and save the product again. Is there any workaround to find all these broken paths and update them?

[2019-05-07 14:54] dmanners commented on #20256
Thank you @melaxon having looked at the detailed review done by @shachiarkatkar (https://github.com/magento/magento2/issues/20256#issuecomment-460039386) I will close this as the code is in fact switching containers but the default theme has no difference. If you feel this is still not correct please reach out so we can gather a bit more information.

[2019-05-07 14:54] #20256 closed, assigned to nobody

[2019-05-07 15:12] vseager opened #22774 "Can't update totals for credit note"
### Preconditions (*)
1. Magento Open Source 2.3.x & 2.3-develop(after 2.3.3 code was merged)

### Steps to reproduce (*)
1. Select an invoice
2. Click "Credit Memo"
3. Add value to `Refund Shipping `, `Adjustment Refund` or `Adjustment Fee` field

### Expected result
1. Should be able to update totals using the "Update Totals" button

![M2 2 8](https://user-images.githubusercontent.com/2035088/57

[2019-05-07 15:17] andkirby commented on #19469
@dambrogia, thank you for this note. I got 3m for `magento setup:upgrade` just for removing a module!
M2 so fast! =)

[2019-05-07 15:36] Rickertje commented on #16497
I am on 2.2.7. I experience the exact same issue with the Adwords block (... while the Analytics block is working for me). Any comments on that?

[2019-05-07 15:59] magento-engcom-team commented on #22771
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99595`, `MAGETWO-99596` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-07 16:07] shikhamis11 commented on #22770
@magento-engcom-team give me 2.3-instance

[2019-05-07 16:11] magento-engcom-team commented on #22770
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-07 16:11] jorgealonso78 opened #22775 "can not do a plugin for Magento\CustomAttributeManagement\Helper\Data"
Preconditions (*)
php 7.1.26
magento 2.3.1
Steps to reproduce (*)
create a new module in this case (My_test)
 Declaring a plugin
[code]
Defining a plugin
[code]

Expected result (*)
have the new values on the result  for those functions
Actual result (*)
get this when i go to  ..../admin/admin/customer_attribute/new/
 Attribute Information

    Properties Changes have been made to this section tha

[2019-05-07 16:12] magento-engcom-team commented on #22770
Hi @shikhamis11, here is your [Magento instance](https://i-22770-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22770-2-3-develop.instances.magento-community.engineering/admin](https://i-22770-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-07 16:12] magento-engcom-team commented on #22774
:white_check_mark: Confirmed by @vseager
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-07 16:37] jorgealonso78 commented on #22775
@magento-engcom-team give me 2.3-develop instance

[2019-05-07 16:37] magento-engcom-team commented on #22775
Hi @jorgealonso78. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-07 16:37] magento-engcom-team commented on #22775
Hi @jorgealonso78, here is your [Magento instance](https://i-22775-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22775-2-3-develop.instances.magento-community.engineering/admin](https://i-22775-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-07 16:39] shikhamis11 commented on #22770
@DJ0815 I am not able to reproduce this issue at magento 2.3-develop instance can you please check &  confirm

[2019-05-07 16:47] frankhdz commented on #10545
If you are running mod security and you run into the 413 error it could also be these settings in mod security.conf:

SecRequestBodyLimit 1024
SecRequestBodyNoFilesLimit 1024

[2019-05-07 17:40] hirenkpatel0 commented on #22775
Hello I am working on this in Magento 2.3-develop.

[2019-05-07 17:54] sanjaychouhan-webkul commented on #13153
Issue duplicated https://github.com/magento/magento2/issues/22762

[2019-05-07 18:18] hirenkpatel0 commented on #22775
I am working on this

[2019-05-07 18:48] dpolt-codifi opened #22776 "Update to widget options in not saved in Page Builder"
### Preconditions (*)

1. Magento Version: 2.3.1

### Steps to reproduce (*)

1. Create a new empty CMS page
2. Drag and drop Text element into Page Builder Content
3. Insert any widget that has options, for example, "Catalog Product Link"
4. Save the page
5. Double click on the widget to open it's configuration
6. Change any widget options and save the widget
7. Save the page

### Expected result

[2019-05-07 18:54] dpolt-codifi commented on #22776
Yes, I was able to reproduce the issue on vanilla Magento instance.

[2019-05-07 19:01] atishgoswami commented on #22776
Hello @dpolt-codifi this seems to be page builder issue which seems to be associated with the enterprise release of magento.

This GitHub repository is only for issues related to the magento community.

You need to raise a ticket in Magento support using you merchant/partner portal.

[2019-05-07 19:01] #22776 closed, assigned to nobody

[2019-05-07 19:24] chequille commented on #22243
I am happ, that somebody is seeing it as I do !!!!!!
BR
Jürgen

[2019-05-07 20:59] jorgealonso78 commented on #22775
![2019-05-07_16h58_45](https://user-images.githubusercontent.com/8143525/57332769-6c68a900-70e9-11e9-934f-a6e23c13e46a.png)
[my.zip](https://github.com/magento/magento2/files/3154545/my.zip)

[2019-05-07 21:19] marcusirgens opened #22777 "Unable to install Magento 2 if a console command depends on ProductRepositoryInterface"
### Preconditions (*)

1. Have an env.php file
2. Magento 2.2.7, Magento 2.2.8, Magento 2.3.1 with any custom command that uses ProductRepositoryInterface
3. With the fixes from #21693 this does not occur on 2.3.1
4. This issue still occurs on 2.2.7 with fixes from #21719 applied

### Steps to reproduce (*)

1. Install a custom CLI command that injects `Magento\Catalog\Api\ProductRepositoryInterfa

[2019-05-07 21:29] sidolov commented on #12802
Hi @msieprawski. Thank you for your report.
The issue has been fixed in magento/magento2#22549 by @Bartlomiejsz in 2.2-develop branch
Related commit(s):
 - [2a148f665eac3bcebf31110a456e373583946cd6](https://github.com/magento/magento2/commit/2a148f665eac3bcebf31110a456e373583946cd6)
 - [ac0e9330ee930073fcc76b3345fc86cf3976193a](https://github.com/magento/magento2/commit/ac0e9330ee930073fcc76b3345f

[2019-05-07 22:31] orlangur commented on #22769
Hi @mbijnsdorp, how is that different from https://github.com/magento/magento2/issues/11905?

[2019-05-07 23:29] DJ0815 commented on #22770
Hi, i am really sorry, i could also not reproduce it, so it might be a local problem and i will close the ticket.
Sorry for inconveniences!

[2019-05-07 23:29] #22770 closed, assigned to shikhamis11, GovindaSharma

[2019-05-08 00:20] MagentoAr commented on #22737
@AlexWorking  @vteofilo

any help in this issue would be great..
it's urgent problem in our store .

Thanks & Regards

[2019-05-08 00:30] vteofilo commented on #22737
@MagentoAr , please look at my solution:

https://github.com/magento/magento2/issues/15201#issuecomment-417867348

Hope this helps!

[2019-05-08 00:32] MagentoAr commented on #22737
@vteofilo
thank you but i really don't know where to put your code.

[2019-05-08 00:34] vteofilo commented on #22737
Can you find the StockRegistry.php class?

[2019-05-08 00:38] MagentoAr commented on #22737
yes i found it on this path
/vendor/magento/module-catalog-inventory/Model/StockRegistry.php

but i don't know wheres to put the code

[2019-05-08 02:20] vteofilo commented on #22737
You must override the syncProductStock method.

[2019-05-08 02:26] tuyennn opened #22778 "Unable to send mail on Magento 2.2.8 with Arabic or Persian locale as Sender Name"
### Preconditions (*)

1. Magento 2.2.8
2. Persian or Arabic set as main locale

### Steps to reproduce (*)

1. Set sender Name for General Email a Persian or Arabic Name. Ex: نام فرستنده
2. Well to send any email as Welcome or Order confirmation

### Expected result (*)

1. Email should be sent correctly without any issue

### Actual result (*)

1. Error exception throw: Invalid header value dete

[2019-05-08 02:53] tuyennn commented on #22778
@magento-engcom-team give me 2.3-develop instance

[2019-05-08 02:53] magento-engcom-team commented on #22778
Hi @tuyennn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-08 02:54] magento-engcom-team commented on #22778
Hi @tuyennn, here is your [Magento instance](https://i-22778-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22778-2-3-develop.instances.magento-community.engineering/admin](https://i-22778-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-08 03:04] tuyennn commented on #22778
@magento-engcom-team confirmed issue on 2.3-develop instance No welcome email, order confirmation email.
Though from Magento 2.2.8 and Magento 2.3 the Zend Mail 1 was not exist and changed by Zend Mail 2 lib, in some kind the validation of Header was failed during mail send.

[2019-05-08 03:36] tuyennn commented on #22778
https://github.com/zendframework/zend-mail/issues/221
https://github.com/zendframework/zend-mail/issues/97

[2019-05-08 04:37] David-Magebinary commented on #15655
@sunnykhatri Hi, I am not sure how did you reproduce the issue but may I ask you to double check on the 2.3.x version.

I was setting up a Catalog product list widget same as @mattiasorgato but by using 2.3.1 version.
[code]
As you can see, in the query, the custom 'discounted' attribute code is been executed with the store_id = 0 condition.

This is the query I have got for every single store vie

[2019-05-08 06:21] MarcusWolschon commented on #20033
I checked the latest commits but since I don't know the codebase of Magento internal very well, I was unable to find anything related to this.

[2019-05-08 06:34] webkul-deepakkumar commented on #22774
@magento-engcom-team give me 2.3-develop instance

[2019-05-08 06:34] magento-engcom-team commented on #22774
Hi @webkul-deepakkumar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-08 06:35] magento-engcom-team commented on #22774
Hi @webkul-deepakkumar, here is your [Magento instance](https://i-22774-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22774-2-3-develop.instances.magento-community.engineering/admin](https://i-22774-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-08 06:43] magento-engcom-team commented on #22774
:white_check_mark: Confirmed by @webkul-deepakkumar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-08 06:46] mbijnsdorp commented on #22769
That issue only mentions Magento's code generation not being able to process `self` in general, which got fixed as the generated code resolves `self` to a class. However, the following scenario is not covered:
1. Class A contains a public method that returns `self` and this method has a plugin attached: `public function execute(): self`
2. Create a preference for class A, class B. This class doesn

[2019-05-08 06:46] tuyennn commented on #22778
After debugging
[code]

[code]

Just found out my Sender name was exceed 127 characters and the validation was return false.

[2019-05-08 06:46] #22778 closed, assigned to nobody

[2019-05-08 08:00] archonkulis commented on #22274
I also had this problem.

The problem was that Magento tried to focus on the field that was hidden and validation inside `vendor/magento/module-ui/view/base/web/js/form/form.js save()` function didn't pass and it ended up inside `focusInvalid()` function. I console logged `invalidField`and in one of the objects parameters I found the field class max_sale_qty and then found it in the html document,

[2019-05-08 08:19] mystix commented on #13153
Are your tax settings like so?
![Screenshot 2019-05-08 at 4 11 52 PM](https://user-images.githubusercontent.com/174070/57360176-14df4180-71ac-11e9-874b-6dcdd2a1f1d1.png)

Seems like refund calculations for zero subtotal orders are messed up when
- the `Apply Discount On Prices` config is set to `Including Tax`
- order has not been shipped
- a credit memo is created for such an order

Instead of $0

[2019-05-08 08:20] marcusirgens commented on #22777
More specifically, it seems to occur when the install/date key exists in the app/etc/env.php file

[2019-05-08 08:28] simonmaass commented on #13153
here are our tax settings:
![tax](https://user-images.githubusercontent.com/32599710/57361059-e5b0dc00-717b-11e9-8130-95890aaa98e5.png)

but the way u describe it - the order has a discount and there for the final price is 0€?

[2019-05-08 08:52] Rickertje commented on #16497
@WalterSmulders can you please make a comment on this?

[2019-05-08 08:58] WalterSmulders commented on #16497
I did not experience this issue. I recommend to see if the fix I gave in the opening post can be applied to the Adwords block, furthermore I think it's wise to treat this as a separate issue since this one is closed and likely contains a other part of the code.

[2019-05-08 09:01] tuyennn commented on #22103
I have same issue with special characters as Persian or Arabic not being encoded properly.
All my clients email templates were broken down as no styling or wrong styling especially the transaction email.

[2019-05-08 09:02] Rickertje commented on #16497
@WalterSmulders ok thanks I wil investigate an post a new issue if necessary

[2019-05-08 09:03] magento-engcom-team commented on #22774
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99601` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-08 09:25] nicholasscottfish commented on #18923
Was a solution ever found for this, it seems to be a very common error on Magento 2.2.*. Any help would be appreciated.

[2019-05-08 09:28] nicholasscottfish commented on #11991
We are on Magento 2.2.5 and still experiencing this issue. 302 redirects occasionally thrown in the network panel when adding products to cart, yet upon a hard refresh the add to basket functionality works fine.

Has anybody in the community experienced similar issues to this and found a fix?

Any help would be much appreciated.

[2019-05-08 09:36] ankursachdeva11 commented on #22741
@engcom-backlog-nazar any updates on this?

[2019-05-08 09:36] ankursachdeva11 commented on #22741
Any updates @magento-engcom-team

[2019-05-08 09:42] mystix commented on #13153
This is what we're seeing when we create a credit memo for a zero subtotal order and those settings from my previous screenshot:
(NOTE: our tax rate is 7%)

![Screenshot 2019-05-08 at 5 41 09 PM](https://user-images.githubusercontent.com/174070/57365877-802f1080-71b8-11e9-97ff-1f9c2e63716c.png)

[2019-05-08 09:45] ankursachdeva11 opened #22781 "No Response from source item allocation API. (MSI)"
### Preconditions (*)

1. Magento 2.3.0/2.3.1

### Steps to reproduce (*)

1. use V1/inventory/source-items API to allocate inventory.

### Expected result (*)

1. It should provide some result to know if anything fails or pass.

### Actual result (*)

1. getting an only empty response [] which is causing issues in third-party integrations.

[2019-05-08 09:46] ankursachdeva11 commented on #22781
@magento-engcom-team , checked in 2.3.0 and 2.3.1 CE version. please provide the reason behind giving an empty response.

[2019-05-08 09:57] simonmaass commented on #13153
i tried to reproduce but works...

Created order with discount to the total order amount -> so zero total
![order](https://user-images.githubusercontent.com/32599710/57366969-65dd3e80-7188-11e9-9539-da42d9e79d98.png)

then created new zero credit memo
![new_memo](https://user-images.githubusercontent.com/32599710/57367004-7a213b80-7188-11e9-8339-e819601c609f.png)

[2019-05-08 10:27] ghost opened #22782 "Magento 2.3.1 - 2FA is not working"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-05-08 10:29] #22782 closed, assigned to nobody

[2019-05-08 10:32] AlexWorking commented on #22782
Hello @rahulbarot. Please open this issue in a more appropriate repository https://github.com/magento/magespecialist_TwoFactorAuth providing the concrete Steps to Reproduce it with concrete Preconditions, Expected and Actual results. Thank You.

[2019-05-08 10:57] vini1996 commented on #22748
@AlexWorking  can you send theme.less file, because this issue is still present in our site.

[2019-05-08 10:59] Julen10 commented on #22231
@domeglic So, what´s a possible solution for this one?

[2019-05-08 11:04] proatwork opened #22784 "Tier pricing when price scope is Website"
### Preconditions (*)
1. Magento 2.3.1 CE
1. PHP 7.1.23
1. Global-Settings catalog/price/scope = 1 (WEBSITE)
`bin/magento config:set catalog/price/scope 1`
1. Add store codes to URLs (for easy testing)

### Steps to reproduce (*)
1. Create two separate websites (I will name them "`Okay`" and "`Bug`")
1. Set the default base currency (All Storeviews scope) to **SEK*, display currency to *USD* and a

[2019-05-08 11:06] proatwork commented on #22784
@magento-engcom-team give me 2.3-develop instance

[2019-05-08 11:06] magento-engcom-team commented on #22784
Hi @proatwork. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-08 11:07] magento-engcom-team commented on #22784
Hi @proatwork, here is your [Magento instance](https://i-22784-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22784-2-3-develop.instances.magento-community.engineering/admin](https://i-22784-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-08 11:20] proatwork commented on #22784
I was able to reproduct bug in 2.3-develop instance

"`Okay`" Store
![Screen Shot 2019-05-08 at 14 19 48](https://user-images.githubusercontent.com/1921333/57371799-6aabed80-719c-11e9-9c9e-d3b1a4f04772.png)

"`Bug`" Store
![Screen Shot 2019-05-08 at 14 19 53](https://user-images.githubusercontent.com/1921333/57371800-6aabed80-719c-11e9-99b0-4a03f2e3421a.png)

[2019-05-08 12:03] jakwinkler opened #22785 "Product Page: Please enter a quantity greater than 0."
### Preconditions (*)

1. Magento 2.2.x Commerce Edition

### Steps to reproduce (*)

1. Add a simple product
2. Go to Advanced Inventory
3. Set "Minimum Qty Allowed in Shopping Cart" to 1
4. Save product
5. Go to product page on frontend and try to add it to shopping cart.

### Expected result (*)

1. Qty input on product page default value = 1 (above value), should be equal to product settings
2

[2019-05-08 12:37] serhiyzhovnir opened #22786 "The validation for UPS configurations triggers even if UPS is disabled for checkout"
### Preconditions (*)
1. Magento 2.2
2. Magento 2.3

### Steps to reproduce (*)
1. Go to the *Admin -> Stores -> Configuration -> Sales -> Shipping Methods*
2. Click on *Save Config* button

### Expected result (*)

1. The Shipping Methods configurations are saved

### Actual result (*)

1. You see that validation triggers for UPS Access License Number, User ID, Password fields even if UPS disable

[2019-05-08 13:05] DigitalStartupUK opened #22788 "New Shipment emails do not generate"
### Preconditions (*)

1. Magento 2.3.1 Open Source
2. Ubuntu 16.04, PHP 7.2, Apache 2.4.18

### Steps to reproduce (*)

1. Go to Marketing > Email Templates
2. Add Template
3. Load magento_sales > New Shipment (Default Template with no custom changes)
4. Press Load
5. Preview Template

### Expected result (*)

1. The Template Preview Tab loads with the default contents

### Actual result (*)

1.

[2019-05-08 13:30] ghost opened #22789 "Client rejecting PHPSESSID cookie will create the sess file anyway."
### Preconditions (*)

1. Magento 2.3.1
2. Alpine Linux on a Debian buster GNU/Linux host.
3. PHP 7.2

### Steps to reproduce (*)

1. Use a browser that can manually reject cookies (such as lynx or elinks). (I know someone will jump on that it is a text-based browser. That's not the point. Any browser can reject cookies.)
2. Reject the PHPSESSID cookie.
3. Observe how the var/session/sess_* file g

[2019-05-08 14:33] apomili opened #22790 "Validation errorPlacement completely overwritten in form with dob widget"
I don't know if this can be a bug, but I think that the validation logic is inconsistent for the registration/edit form

### Preconditions (*)
Magento 2.2.8
Luma Theme

### Steps to reproduce (*)
- Add a console.log() to the method errorPlacement in lib/web/mage/validation
- Go on the create account page
- Leave the form empty and click "Create an account" and notice that no console output is writ

[2019-05-08 14:33] shikhamis11 commented on #22773
@akamenew Thank you for your report, I followed the same step and I am not able to reproduce the issue. Let me know If It requires any additional step too to reproduce the issue.

[2019-05-08 14:44] TomashKhamlai opened #26118 "cmsBlocks that has scope limited to specific Store View can be seen on other Store Views in case there are Blocks with identical identifiers on both Store Views"
### Preconditions (*)

Case 1:
1 Website, 1 Store, 2 Store Views

Case 2:
2 Websites, 2 Stores (one per website), 2 Store Views (one per store)

I will demonstrate case 2, because I believe it has higher severity.
1. Navigate to Stores > Settings > All Stores
2. Create Websites
 - Name: {English Website, German Website}
 - Code: {engsite, germsite}
3. Create Stores
 - Name: {English Store, German

[2019-05-08 14:56] jonesio opened #22792 "Automatic (equalize product counts) and ElasticSearch 10,000 limit"
### Preconditions (*)

1. Magento Commerce (EE) 2.3.1
2. Use ElasticSearch (MySQL works fine)

### Steps to reproduce (*)

1. Configure `Catalog -> Catalog -> Catalog Search -> Search Engine` to use `ElasticSearch` or `ElasticSearch 5.0+`
2. Configure `Catalog -> Catalog -> Layered Navigation -> Price Navigation Step Calculation` to use `Automatic (equalize product counts)` (default)
3. Setup **ov

[2019-05-08 15:02] magento-engcom-team commented on #22792
Hi @jonesio. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-08 15:03] magento-engcom-team commented on #22792
Hi @jonesio, here is your [Magento instance](https://i-22792-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22792-2-3-develop.instances.magento-community.engineering/admin](https://i-22792-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-08 15:10] mystix commented on #13153
Found the problem:

I tested with a **_simple product_** as you did, and the credit memo's grand total is correct as you've said.

Try it with a **_bundle product_** though, and things go out of whack:
![Screenshot 2019-05-08 at 11 09 42 PM](https://user-images.githubusercontent.com/174070/57386166-66a4bd80-71e6-11e9-84ac-017f9a57140b.png)

[2019-05-08 15:14] AlexWorking commented on #22784
Hello @proatwork. We confirm the issue, but please add to Your Steps to Reproduce one more step You most probably forgot to add. The step concerning setting currency rates of SEK to EUR and EUR to SEK. Without this step everything works seemingly correctly, (though indeed it doesn't). Also please remove points with the sample data from the post as they are not necessary for the issue reproduction.

[2019-05-08 15:17] magento-engcom-team commented on #22784
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99608`, `MAGETWO-99609` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-08 15:25] evs-xsarus commented on #11840
@pczerkas I don't think your proxy solution is working. After adding it, the compile fails with

Tested on 2.3.1

[2019-05-08 15:41] shiftone242 commented on #15545
We have a number of stores one of which is a fairly large store containing come fairly lage configurable products (thousands of child product combination) and a number of filters. We have been experiencing problems with the above query never ending and eating up server resources when users are applying multiple filters.

Doing some digging I recorded an SQL query evaluating a large number of recor

[2019-05-08 15:45] magento-engcom-team commented on #22641
Hi @vishal-7037. Thank you for your report.
The issue has been fixed in magento/magento2#22643 by @vishal-7037 in 2.3-develop branch
Related commit(s):
 - [df3047bfc17f96ce37f0f9106dcf1b4eed2b5790](https://github.com/magento/magento2/commit/df3047bfc17f96ce37f0f9106dcf1b4eed2b5790)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-08 15:45] #19515 closed, assigned to pmclain

[2019-05-08 15:45] #22641 closed, assigned to shikhamis11, vishal-7037, dev-ajaysaini

[2019-05-08 15:45] magento-engcom-team commented on #22395
Hi @MichaelThessel. Thank you for your report.
The issue has been fixed in magento/magento2#22720 by @satyaprakashpatel in 2.3-develop branch
Related commit(s):
 - [fbcfd11559def0891e829746a75ff5df2db438ee](https://github.com/magento/magento2/commit/fbcfd11559def0891e829746a75ff5df2db438ee)
 - [62cbf5b9d9443cd4b2dbdbef18d188b58888124c](https://github.com/magento/magento2/commit/62cbf5b9d9443cd4b2d

[2019-05-08 15:45] #22395 closed, assigned to satyaprakashpatel

[2019-05-08 15:45] magento-engcom-team commented on #22647
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#22656 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [1ae8bf536dc6174e5d810ef7c82864b6134cf376](https://github.com/magento/magento2/commit/1ae8bf536dc6174e5d810ef7c82864b6134cf376)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-08 15:45] #22647 closed, assigned to cedarvinda

[2019-05-08 15:45] magento-engcom-team commented on #21473
Hi @mam08ixo. Thank you for your report.
The issue has been fixed in magento/magento2#21992 by @kisroman in 2.3-develop branch
Related commit(s):
 - [48e9760fb83d9c8136753814c9d913bf77cf940f](https://github.com/magento/magento2/commit/48e9760fb83d9c8136753814c9d913bf77cf940f)
 - [d3e37b826ec887353e328e699780c32bdf9ef2e1](https://github.com/magento/magento2/commit/d3e37b826ec887353e328e699780c32bdf

[2019-05-08 15:45] #21473 closed, assigned to kisroman

[2019-05-08 15:45] magento-engcom-team commented on #19515
Hi @justinharris1986. Thank you for your report.
The issue has been fixed in magento/magento2#19767 by @pmclain in 2.3-develop branch
Related commit(s):
 - [bbb386bb5ab25c19c302a545f261eca588b0b828](https://github.com/magento/magento2/commit/bbb386bb5ab25c19c302a545f261eca588b0b828)
 - [d93a9b5c3a01946e29bf87ffea635a45d9bea289](https://github.com/magento/magento2/commit/d93a9b5c3a01946e29bf87ffea6

[2019-05-08 16:10] zajd commented on #15545
I've been struggling with this issue for a few weeks as well. But, good news, I come bearing a much easier fix.

This is a related issue: https://github.com/magento/magento2/issues/22587

Apply the following patch to
<module-catalog-search>/Model/Search/FilterMapper/CustomAttributeFilter.php

https://bitbucket.org/muntzamersfoort/magento2-patches/raw/0ac032f30a6ab8b3f56b63d06db4c1649923f499/layere

[2019-05-08 16:30] shikhamis11 commented on #22788
@magento-engcom-team give me 2.2-develop instance

[2019-05-08 16:30] magento-engcom-team commented on #22788
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-08 16:30] shikhamis11 commented on #22788
@magento-engcom-team give me 2.2-develop instance

[2019-05-08 16:30] magento-engcom-team commented on #22788
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-08 16:31] magento-engcom-team commented on #22788
Hi @shikhamis11, here is your [Magento instance](https://i-22788-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22788-2-2-develop.instances.magento-community.engineering/admin](https://i-22788-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-08 16:39] magento-engcom-team commented on #22788
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99611`, `MAGETWO-99612` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-08 17:05] magento-engcom-team commented on #22786
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99614`, `MAGETWO-99615` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-08 18:02] qsolutions-pl commented on #22785
Our exact version is 2.2.5, maybe its version related?

[2019-05-08 18:11] qsolutions-pl commented on #22785
@AlexWorking the issue we experience is on Magento 2.2.5

[2019-05-08 18:25] teqt commented on #22215
I am running into the exact same issue.

How is this not a bug? API's are designed to utilize internal functionality **without** having to create plugins. Second, if that parameter is not supposed to do anything, then why does the parameter exist in the first place? Please, reopen this issue.

[2019-05-08 18:42] akamenew commented on #22773
@shikhamis11 Actually that were all the steps I went through to observe this behaviour. Do you have any idea on how to resolve this? I have tried different approaches (like cleaning cache, deleting stuff in generated and var folder) but nothing worked yet. Any help is highly appreciated.

[2019-05-08 19:50] dandelionred opened #22796 "Magento milestone vs release schedule"
2.3.0 milestone was closed Sep 18.
2.3.0 release was delivered two monthes after that Nov 28.

2.3.1 milestone was closed Feb 13.
2.3.1 release was delivered a month after that Mar 26.

What work was done in between the dates, why don't release immediately after a milestone is complete?

2.3.2 milestone was closed a few mins ago.
When 2.3.2 release will be delivered?

[2019-05-08 20:41] cscd98 opened #22797 "Disable "Please upgrade your database" ?"
When you deploy a version of Magento to a live web server you may have multiple servers and you will eventually run bin/magento setup:upgrade as part of the deployment process.

However there is the possibility that has not run yet and instead you are presented with an exception.

It would be better if we had the option to suppress this, so the whole website is not taken offline!

### Precondition

[2019-05-08 21:17] deepikajaniyani commented on #22788
@magento-engcom-team this issue replicates on 2.3.x version, please add the label. I am not able to do so.

[2019-05-08 21:54] naydav commented on #4788
Reopened because the changes were reverted.
Cause:
[code]

[2019-05-08 21:59] MagentoAr commented on #22737
@vteofilo
any help would be great

[2019-05-08 22:24] sdzhepa commented on #22737
Hello @MagentoAr

Thank you for the report!

We investigated this issue and  as results:

1. Initially "/rest/V1/products?searchCriteria" API endpoint was developed for wider use and it should not returns only In Stock products by design.
Even if you set "Stores > Configuration > Catalog > Inventory > Display Out of stock products No" the product will be available by direct URL on Storefront.
I su

[2019-05-08 22:28] magento-engcom-team commented on #22737
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99618`, `MAGETWO-99619` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-08 23:19] subbu1993 commented on #22788
@magento-engcom-team  please give me 2.3.x instance

[2019-05-08 23:38] MagentoAr commented on #22737
okay great..
could you please tell me if there is any quick solution?
i'm too late to finish this task for my client.

[2019-05-09 03:18] sanjaychouhan-webkul commented on #13153
@webkul-deepakkumar please test this also check whether it is same as https://github.com/magento/magento2/issues/22762

[2019-05-09 04:20] webkul-deepakkumar commented on #13153
@magento-engcom-team give me 2.3-develop instance

[2019-05-09 04:20] magento-engcom-team commented on #13153
Hi @webkul-deepakkumar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-09 04:21] magento-engcom-team commented on #13153
Hi @webkul-deepakkumar, here is your [Magento instance](https://i-13153-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-13153-2-3-develop.instances.magento-community.engineering/admin](https://i-13153-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-09 04:41] abontjer commented on #11768
Can you please give an update on this issue

[2019-05-09 06:03] nikunjskd20 commented on #7491
Hi I have resolved this issue in a 2.3-develop branch in my fork. How can I send it to test for you.

[2019-05-09 06:29] Kjellzweers opened #22802 "CMS Stati"
### Summary (*)

### Examples (*)

### Proposed solution

[2019-05-09 06:34] #22802 closed, assigned to nobody

[2019-05-09 06:42] webkul-deepakkumar commented on #13153
I was able to reproduce this issue on vanilla Magento instance

[2019-05-09 06:43] magento-engcom-team commented on #13153
:white_check_mark: Confirmed by @webkul-deepakkumar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-09 06:48] webkul-deepakkumar commented on #13153
@sanjaychouhan-webkul why i am not able to add confirmed label on it

[2019-05-09 06:52] ankurAuriga commented on #15376
@engcom-backlog-nazar - Did you validate this. In 2.3, now it is not working even for the default store.

[2019-05-09 07:07] michaeldyl520 commented on #1146
It can still be reproduced on 2.2.6.

[2019-05-09 07:07] Kjellzweers opened #22803 "Issue: Static block shows up above sidebar category page"
### Summary (*)
Static block on category page show up above category sidebar, except for one page. Need to have them all like that one page, literally checked every option in category and in static block and it's all the same.

### Examples (*)
Code of the page that's correct: http://bit.ly/2LLa2GD
Code of the one of the other pages that doesn't work correctly: http://bit.ly/2LG60PM
Screenshot of

[2019-05-09 07:44] ziiljuks opened #22804 "Ui Component dynamicRows broken if multiline used"
### Preconditions (*)

1. Magento 2.2.7

### Steps to reproduce (*)

Code for multiline rows:

    <fieldset name="options">
        <argument name="data" xsi:type="array">
            <item name="config" xsi:type="array">
                <item name="component" xsi:type="string">Magento_Catalog/js/components/visible-on-option/fieldset</item>
                <item name="label" xsi:type="string" tra

[2019-05-09 08:09] raphaelrosello commented on #19710
I encountered the same issue, although I'm also using Porto Theme, this won't be the same case with other. Make sure that your Full Page Cache is correctly configured, if you are using varnish, make sure that it is enabled and flush the cache.

[2019-05-09 08:13] Swahjak commented on #22094
@engcom-backlog-nazar any reference to commits or pull requests? Experiencing this on 2.3.0

[2019-05-09 08:51] pietervanuhm commented on #16779
We're having the same issue on Magento 2.2.8

[2019-05-09 08:53] just-tom commented on #22773
Im also having the same issue. Upgraded from 2.3.0 to 2.3.1, Error getting thrown after Module 'Magento_AMQP' in setup:upgrade. I am using AMQP in my build.
![Screenshot 2019-05-09 at 09 52 22](https://user-images.githubusercontent.com/12802934/57440598-368a0880-7240-11e9-8353-4feed81feba3.png)

[2019-05-09 08:54] dphilipps commented on #22246
Thank you - we were experiencing this bug on 2.3.1, I have applied patch and now working again. Cheers.

[2019-05-09 09:19] magento-engcom-team commented on #13153
:white_check_mark: Confirmed by @sanjaychouhan-webkul
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-09 09:32] maartenatmarissen commented on #21154
I created a patch file for this:
https://gist.githubusercontent.com/maartenatmarissen/14b48e1de6629dcccae10d75fbde6a19/raw/80118ae9c1b41ce78a4256fabef79c35df868e23/PATCH_21338-Magento_MediaStorage-Service-ImageResize.php

Which can be installed using [cweagans/composer-patches](https://github.com/cweagans/composer-patches)

[2019-05-09 09:36] Anarcociclista commented on #6350
Waiting for the fix in the core, [we made a module](https://github.com/Dropsrl/magento2-ModuleLocalizeCalendar) that temporarily fix this bug.

[2019-05-09 09:38] just-tom commented on #22773
For some more information:
The error is occurring on trying to define the "type" for Magento\Framework\MessageQueue\Consumer::process docblock. In the screenshot you can see the Docblock for the method. It has a param.

![Screenshot 2019-05-09 at 10 13 25](https://user-images.githubusercontent.com/12802934/57443156-5ec83600-7245-11e9-8d76-f16f5cb6cc6f.png)

Problem is the Zend\Code\Reflection\Para

[2019-05-09 10:36] zhulak commented on #11372
This is reproducible in 2.3.1 as well when building in deployment pipeline and:
1. env.php is not present
2. 'system' => [
        'default' => [
            'dev' => [
                'css' => [
                    'minify_files' => '1'
                ]
            ]
        ]
    ]
  is added to config.php

[2019-05-09 12:19] kassner opened #22807 "Bundles and tier price give unexpected results"
### Preconditions

1. Magento Open Source 2.3.1;
2. Create a simple product with price $10.00 and tier price of $9.00 for 2 or more quantities;
3. Create a bundle product, with only one option, and add the simple product as the only selection, use `Quantity = 2` and `User defined = unchecked`;

### Steps to reproduce

1. Go to the bundle product page on the frontend;
2. Select qty = 1 and click ad

[2019-05-09 12:33] kassner commented on #22807
My technical investigation:

When adding the product to the cart the 2nd (and subsequent times), `Magento\Quote\Model\Quote\Item::representProduct` returns false when iterating over the simple product. Digging a bit further, `compareOptions` reports false because the `bundle_selection_attributes` option for the quote_item already persisted contains the price inside:

[code]

But, when the new cart

[2019-05-09 12:34] AlexWorking commented on #22786
Dear @shikhamis11. Please do not self-assign issues for conformation if they are already assigned to somebody else. Thank You.

[2019-05-09 12:35] ioweb-gr opened #22808 "php bin/magento catalog:image:resize error if image is missing"
### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1. Delete manually a product image from pub/media/catalog folder
2. Execute catalog:image:resize

### Expected result (*)
1. The system creates the resized images for all products that the images exist and lists the errors.

### Actual result (*)
1. The execution halts immediately at the first missing image.

![image](https://user-

[2019-05-09 13:11] davidwindell commented on #22743
@mystix just wanted to say thank you for the detailed report and suggested fix - we've hit this exact issue on a live site (recently upgraded to 2.3.1) with Stripe also.

[2019-05-09 13:19] geet07 commented on #17465
I have checked this issue and it has been not reproduce.

[2019-05-09 13:53] #14647 closed, assigned to nobody

[2019-05-09 14:15] #22804 closed, assigned to nobody

[2019-05-09 14:24] knightfox1337 opened #22809 "Admin section won't flush cache"
I am having problems with flushing cache on 2.2.8. When i go to the admin backend and try to flush it, it doesn't work. I can however use the cli to flush it.
I am getting the same issue on another version (2.2.3) but when you click "flush magento cache" it 302s you to the front end and doesn't flush the cache. (i understand this is a separate issue)

### Preconditions (*)

1. Magento 2.2.8
2. php

[2019-05-09 15:23] magento-engcom-team commented on #22807
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99620`, `MAGETWO-99621` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-09 17:39] thebod commented on #8533
Will this ever be fixed? Will it ever be possible to follow the Swagger standard and properly use the Magento API?

[2019-05-09 17:46] Shubham-Webkul commented on #21353
@magento-engcom-team give me 2.3-develop instance

[2019-05-09 17:46] magento-engcom-team commented on #21353
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-09 17:46] magento-engcom-team commented on #21353
Hi @Shubham-Webkul, here is your [Magento instance](https://i-21353-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21353-2-3-develop.instances.magento-community.engineering/admin](https://i-21353-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-09 18:31] nicholasscottfish commented on #22087
@magento-engcom-team give me 2.2-develop instance

[2019-05-09 18:31] magento-engcom-team commented on #22087
Hi @nicholasscottfish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-09 18:32] magento-engcom-team commented on #22087
Hi @nicholasscottfish, here is your [Magento instance](https://i-22087-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22087-2-2-develop.instances.magento-community.engineering/admin](https://i-22087-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-09 18:56] MattBidas commented on #21832
@nitishcs6  In my case i created the Rule to two or more items in the Cart, to apply set Free Shipping but doesn't work . The rule apply discount in Product Price and Return NaN in Total.

How to create a correct rule that when the affection contain two items or more apply free shipping?

![Error-freeshipping](https://user-images.githubusercontent.com/8545697/57478896-81bd0f00-7272-11e9-95af-63167

[2019-05-09 20:23] DrewML commented on #7231
Even if we can't fix this immediately, this is a real bug and we should be leaving this ticket open to reflect that.

We as Magento currently offer 2 different ways to compile your LESS:

1. PHP
2. Grunt

Even if these are separate compilers, we should either:

1. Be shipping versions that are compatible with each-other
2. Only ship 1 compiler (either PHP or LessJS/Grunt)

[2019-05-09 21:46] #22796 closed, assigned to nobody

[2019-05-09 22:09] David-Magebinary commented on #15655
Hi Magento Team,

Any update for this one?

Regards,
David Qian

[2019-05-10 05:58] nikunjskd20 commented on #22808
Hi, I am facing the same issue in **Magento Commerce ver. 2.3.1**

[2019-05-10 05:59] abrarpathan19 opened #22812 "Store View Specific Labels tool tip icon not proper align"
### Preconditions (*)

1.Magento 2.3

### Steps to reproduce (*)

1. Go to Admin
2. Marketing >> Cart Price rule
3. Labels
4. Review the Store View Specific Labels  and (?)

### Expected result (*)

1. https://www.screencast.com/t/49dUUmOw6h5

### Actual result (*)

1. https://www.screencast.com/t/nwBLFp8b

[2019-05-10 06:01] krishprakash commented on #22812
@magento-engcom-team give me 2.3-develop instance

[2019-05-10 06:01] magento-engcom-team commented on #22812
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-10 06:02] magento-engcom-team commented on #22812
Hi @krishprakash, here is your [Magento instance](https://i-22812-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22812-2-3-develop.instances.magento-community.engineering/admin](https://i-22812-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-10 06:08] krishprakash commented on #22812
Hi @abrarpathan19. May be issue is already fixed.
Thank you for your report.

[2019-05-10 06:08] #22812 closed, assigned to abrarpathan19

[2019-05-10 07:42] AlexWorking commented on #22809
Hello @knightfox1337. Could You please try to reproduce Your issue on a clear instance of Magento as You were advised to do:
![advise](https://user-images.githubusercontent.com/27814011/57510753-c83b5980-72c4-11e9-8bb5-a637445d4928.png)
Thank You.

[2019-05-10 07:54] PascalBrouwers commented on #14647
Having this issue too. The thing is, it happens 'randomly' because of the numeric keys. And make sure you have the translation of CmsStaging module. "100","100", etc.

[2019-05-10 08:16] davidpixie opened #22814 "Product stock alert - unsubscribe not working"
### Preconditions (*)

1. Magento Commerce 2.3.1
2.  PHP 7.1.27

### Steps to reproduce (*)

1. Sign up for a "Notify me when back in stock" notification on a product
2. Check record is in **product_alert_stock** table
3. If so, try manually hitting the unsubscribe controller endpoint for that product whilst logged in: **site.com/productalert/unsubscribe/stock/product/1** (where "1" is the product

[2019-05-10 08:27] AlexWorking commented on #22785
@qsolutions-pl though we usually do not consider bugs that are not reproduced on 2.2 and 2.3 develop versions we still have tried to reproduce it on 2.2.5 version as well. But unfortunately the result is the same - we've been not able to do that. Have You watched our gif above carefully? Probably we are missing something or doing it not exactly as You are doing it. Yet, for example, it sounds a bi

[2019-05-10 09:13] aishwaryasunarc commented on #7107
I am facing below issues  when I tries to convert guest to customer using rest api
"message": "Cannot assign customer to the given cart. Customer already has active cart."

[2019-05-10 09:23] saminforca commented on #4822
same issue.

Magento 2.2.6  Multi-select attribute not being saved. Although
backend_type = varchar
backend_model = Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend

[2019-05-10 09:24] shikhamis11 commented on #22797
Hello @craigcarnell
I wanted to confirm that do you want there should be option that the error
`Please upgrade your database` should not display at frontend ?

[2019-05-10 09:32] Nickr33d opened #22816 "Disappearing products on admin"
Hello,

i have been facing some issues recently on Magento Version 2.2.7 where by some products randomly disappear from the admin panel and the front end, in the last week i have seen multiple items which are not able to be located on the back end nor front subsequently i have had to recreate these items

there is not a method to reproduce this issue only when i have come to book in certain SKU an

[2019-05-10 09:40] saminforca commented on #4822
After long hind and seek, I came to know that it was the migration issue from m1 to Magento 2.

The following list of items has fixed the issue for me.

backend_type = text
backend_model = Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend

php bin/magento c:c

php bin/magento c:f

Hope this will fix it out for you.

[2019-05-10 09:50] arendarenko opened #22817 "Incorrect overridden custom options & their values in email templates"
### Preconditions (*)
1. Magento 2.2.8
2. Multistore (for example: Default and France)

### Steps to reproduce (*)

1. Create product with custom option (for example: Drop-Down) and add value into it.
2. Go to France Store View and override previously created custom option title and custom options values (the idea is that they should be named different than on Default store view)
3. Go to Orders -

[2019-05-10 09:52] mlaurense commented on #6415
It is also worth noting that if the above doesn't seem to help, to check the innodb_temp_data_file_path:
`innodb_temp_data_file_path = ibtmp1:12M:autoextend:max:5G`
I had added 'max:5GB' in the past, and that wasn't enough... Increasing it to 16GB did the trick for me

[2019-05-10 10:01] flauschi opened #22818 "Update by Schedule of stock index with more than 1000 entities"
### Preconditions (*)

1. Magento Community Edition (CE) 2.3.1

### Steps to reproduce (*)

1. Set mode of stock index (cataloginventory_stock) to "UPDATE BY SCHEDULE".
2. Have more than 1000 simple products waiting for reindex.
3. Wait for cron to finish reindex.

### Expected result (*)

1. The reindex should update the stock status for all products waiting for reindex.

### Actual result (*)

1

[2019-05-10 10:13] AlexWorking commented on #22816
Hello @Nickr33d. Thanks for reporting, but the GitHub issue tracker is intended for Magento Core technical issues only which can be clearly reproduced having concrete Preconditions, Steps to Reproduce, Expected and Actual results. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general dis

[2019-05-10 10:13] #22816 closed, assigned to AlexWorking

[2019-05-10 10:17] shikhamis11 commented on #22642
@magento-engcom-team give me 2.3-develop instance

[2019-05-10 10:17] magento-engcom-team commented on #22642
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-10 10:18] magento-engcom-team commented on #22642
Hi @shikhamis11, here is your [Magento instance](https://i-22642-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22642-2-3-develop.instances.magento-community.engineering/admin](https://i-22642-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-10 10:26] shikhamis11 commented on #22642
@Eayshwary thank you for your report but this issue is not reproducible at mgento 2.3 develop instance

[2019-05-10 10:26] #22642 closed, assigned to shikhamis11, Eayshwary, magesanjay

[2019-05-10 10:29] taoufiqaitali commented on #9737
any solution? i have this issue in magento 2.3.1

[2019-05-10 10:31] shikhamis11 commented on #22541
hello @chrischerrett
I am closing this issue due to inactivity

[2019-05-10 10:31] #22541 closed, assigned to shikhamis11

[2019-05-10 10:33] shikhamis11 commented on #22346
@magento-engcom-team give me 2.3-develop instance

[2019-05-10 10:34] magento-engcom-team commented on #22346
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-10 10:34] magento-engcom-team commented on #22346
Hi @shikhamis11, here is your [Magento instance](https://i-22346-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22346-2-3-develop.instances.magento-community.engineering/admin](https://i-22346-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-10 10:50] swnsma commented on #13957
Fixed in: #20011

[2019-05-10 10:51] swnsma commented on #13957
Issue need to be re-confirmed.

[2019-05-10 10:55] shikhamis11 commented on #13957
thanks @swnsma , I will check this

[2019-05-10 11:02] davidverholen commented on #22103
setting the encoding to utf-8 seems to be the first try to fix this over here:
https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Email/Model/Transport.php#L90

Still it's missing some additional headers as mentioned here: https://github.com/magento/magento2/issues/22103#issuecomment-486178910

This could be fixed in the same place, by adding these headers. But I think that's no

[2019-05-10 11:12] JMLucas96 commented on #8337
Same issue on magento 2.1.8 ce...
@vikktor's solution not working for me.

[2019-05-10 11:51] matekovacs-srg commented on #7199
Hi @darshan-khatri-16 Unfortunately we also have this problem, but we use magento 2.3.1 .. Do you have any idea or tipp for what we should to do or try ? Maybe can you send a link where we can see the commit about this?
Thank you!

[2019-05-10 11:53] Naberdz opened #22819 "Magento widgets bug Tabs with Accordion"
### Preconditions (*)

1. Magento 2.3.1
2. Magento 2.3-develop

### Steps to reproduce (*)

1. Create tabs widget as described here:  https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/widgets/widget_tabs.html
`data-mage-init='{"mage/tabs": {"openedState": "active", "animate": {"duration": 100}, "active": 0}}'`
2. Create accordion widget https://devdocs.magento.com/guides/v2.3/javascript

[2019-05-10 11:55] darshan-khatri-16 commented on #7199
Hi @matekovacs-srg
You just need to do a proper configuration in Magento admin. Also, set proper tax class while creating Product. I didn't find any particular commit for this issue fix.

[2019-05-10 12:32] davidverholen commented on #22103
I do not have a real fix yet, but I managed to get a correct Mail again.
So the first problem seems to be the line here which "drops" the mime parts from the body and so the new zend message object has a lot less information https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Email/Model/Transport.php#L90

the second problem then (when reusing the original zend message) is that t

[2019-05-10 12:33] raghuiamsingh commented on #22094
@engcom-backlog-nazar can you please help us getting the changes to fix this? This issue is causing a lot of problems to us.

[2019-05-10 12:40] gwharton commented on #22103
I think the fix should be at the following

https://github.com/magento/magento2/blob/72aebb7051eb34058b9d25c18ab5fe836f8ae305/lib/internal/Magento/Framework/Mail/Message.php#L59

Implement the appropriate block for plain text mails, e.g

[code]
and then implement the createTextMimeFromString function in the same way that createHtmlMimeFromString is

[2019-05-10 12:58] qsolutions-pl commented on #22785
When we set it to 1, on EE version it shows value 0 in the qty input.
And when we try to add to shopping cart, we have following error displayed (the one attached)

[2019-05-10 13:02] davidverholen commented on #22103
ah right. It's not working for html was actually a project specific bug with an email attachment implementation.

The probably something like this should work:
[code]

[2019-05-10 13:03] davidverholen commented on #22103
ah right. It's not working for html was actually a project specific bug with an email attachment implementation.

The probably something like this should work:
[code]

[2019-05-10 13:23] irajneeshgupta commented on #22781
@magento-engcom-team give me 2.3-develop instance

[2019-05-10 13:23] magento-engcom-team commented on #22781
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-10 13:24] magento-engcom-team commented on #22781
Hi @irajneeshgupta, here is your [Magento instance](https://i-22781-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22781-2-3-develop.instances.magento-community.engineering/admin](https://i-22781-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-10 13:40] antbates1991 commented on #11950
I can confirm this is still an issue in 2.2.8.

### Preconditions

1. Magento 2.2.8
2. Lastpass Firefox extension installed, and a record for the current website created.

### Steps to reproduce
1. Turn on extension and add log in for the backend. The username must be an invalid email address for example jh_anthony.
2. Make sure Lastpass autofills your credentials.
3. Put a product in you basket,

[2019-05-10 13:48] OPADA-Eng commented on #19710
I have removed the **cache** folder in

Regenerating the cache folder using:
`php bin/magento catalog:image:resize`

and the images showed at last

[2019-05-10 13:50] pioneerathletics commented on #16497
The Google Analytics code is still not being properly added to the head in 2.2.8. I applied the fix in 2.2.7 as a layout extension - theme-dir/Magento_GoogleAnalytics/layout/default and it worked properly in 2.2.7 after it was applied. I upgraded to 2.2.8 and removed the layout customization, but now the code is not being added properly as it was before. Also, I have cleared all my caches but that

[2019-05-10 14:01] singhabhinay opened #22820 "Shipping price is not applied properly while Check Out with Multiple Addresses"
Shipping price is not applied properly while Check Out with Multiple Addresses

### Preconditions (*)
1. php 7.2
2. Magento 2.3

### Steps to reproduce (*)
1. Login to customer account
2. Add product to cart (minimum quantity 2)
3. View and Edit cart
4. Select Check Out with Multiple Addresses
5. Select two different Shipping Address
6. Select two different Shipping Method with different shipping

[2019-05-10 14:03] GovindaSharma commented on #22820
@magento-engcom-team give me 2.3-develop instance

[2019-05-10 14:03] magento-engcom-team commented on #22820
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-10 14:04] magento-engcom-team commented on #22820
Hi @GovindaSharma, here is your [Magento instance](https://i-22820-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22820-2-3-develop.instances.magento-community.engineering/admin](https://i-22820-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-10 14:22] GovindaSharma commented on #22820
i am able to reproduce this issue.

[2019-05-10 15:03] magento-engcom-team commented on #22820
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99632`, `MAGETWO-99633` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-10 15:33] pioneerathletics commented on #16497
I resolved my issue. It was due to another layout extension I had within theme-dir/Magento_Catalog/layout/default.xml. I didn't realize that the latest fix in 2.2.8 referenced that.

[2019-05-10 16:08] joshbourke commented on #15545
Update - can confirm configuring ElasticSearch fixed the issue. It's a relatively painless process.

[2019-05-10 16:23] eduard13 opened #22822 "[Shipping] The contact us link isn't showing on order tracking page"
### Preconditions (*)
1. Magento 2.3-develop
2.

### Steps to reproduce (*)
1. Make sure you have enabled the **Contact Us**
`Stores / Configuration / Contacts [General] / Contact Us`
2. Create a new order
3. Create a shipment for the order
3.1 Add the Tracking Number by using **USPS** carrier
4. Click on the _Track Order_ link (from Order page)

### Expected result (*)
1. Having the contact page

[2019-05-10 16:47] astorm opened #22824 "usleep Statments in Cache Loader causing Pathological Page Load Times"
### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1. Clear Cache
2. Load Page

### Expected result (*)
Page loads in less than 30 - 45 seconds

### Actual result (*)
Page loads in 30 - 45 seconds under unknown circumstances

If this is possible, I'd like to nominate a bit of code for removal/refactoring.  It looks like it was introduced in Magento 2.3.1

https://github.com/magento

[2019-05-10 17:06] amenk commented on #22824
Unfortunately I cannot reproduce the problem anymore on my system, but I have the blackfire dump and I can share it privately, because I am not sure if it contains any protected information it contains. a dot menk at imi dot de

[2019-05-10 17:41] goranhorvathr commented on #17746
Hello. Where was this issue fixed? This is still existing in 2.2 as an issue and proposed solution here is not a solution. There needs to be two separate callings one for grid one for list like category_page_grid_swatch and category_page_list_swatch so we can have freedom in resizing swatches images without hacking our way out of it.

[2019-05-10 18:19] magento-engcom-team commented on #22814
@AlexWorking Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-05-10 18:19] magento-engcom-team commented on #22814
@AlexWorking Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-05-10 18:58] magento-engcom-team commented on #22817
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99639`, `MAGETWO-99640` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-10 18:59] magento-engcom-team commented on #22814
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99641` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-10 20:41] lmstephenson commented on #22743
I encountered this same issue using **Braintree gateway** with "_Enable PayPal through Braintree_" which I believe is a PayPal Flow transaction, slightly different than Express Checkout but still broken without @mystix fix.

@mystix thank you for posting the fix. I implemented on and M2.3.1 instance this morning. The InvoiceService.php source code was a bit different than what you posted, however,

[2019-05-10 21:21] ioweb-gr commented on #22808
I forgot to mention this can also happen after migrating from magento 1 because the data migration tool does not take into account a few things regarding media galleries like cleaning up catalog_entity_varchar table and magento 2 cannot handle product images where the path is not like /x/x/filename.ext bit just /filename.ext. the latter can happen in older versions of m1 using csv import so this c

[2019-05-10 22:15] magento-engcom-team commented on #22636
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#22644 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [4927b5dc037ab34260c081ea97d2cb8b1557e96a](https://github.com/magento/magento2/commit/4927b5dc037ab34260c081ea97d2cb8b1557e96a)
 - [3555b2614b8db3124751007b473a4d46f7ea123a](https://github.com/magento/magento2/commit/3555b2614b8db3124751007b473a4d

[2019-05-10 22:15] #22636 closed, assigned to cedarvinda

[2019-05-10 22:15] magento-engcom-team commented on #12612
Hi @fwolfst. Thank you for your report.
The issue has been fixed in magento/magento2#22558 by @Leone in 2.3-develop branch
Related commit(s):
 - [a2fc3b98bf52ff7741579d16042b9c6376ecebfc](https://github.com/magento/magento2/commit/a2fc3b98bf52ff7741579d16042b9c6376ecebfc)
 - [2f8fad776e0ab1f66aacbfe4714c399598e165c8](https://github.com/magento/magento2/commit/2f8fad776e0ab1f66aacbfe4714c399598e165

[2019-05-10 22:15] #12612 closed, assigned to Leone

[2019-05-10 22:15] magento-engcom-team commented on #22556
Hi @Leone. Thank you for your report.
The issue has been fixed in magento/magento2#22558 by @Leone in 2.3-develop branch
Related commit(s):
 - [a2fc3b98bf52ff7741579d16042b9c6376ecebfc](https://github.com/magento/magento2/commit/a2fc3b98bf52ff7741579d16042b9c6376ecebfc)
 - [2f8fad776e0ab1f66aacbfe4714c399598e165c8](https://github.com/magento/magento2/commit/2f8fad776e0ab1f66aacbfe4714c399598e165c8

[2019-05-10 22:15] #22556 closed, assigned to Leone, milindsingh, mallikaverma

[2019-05-10 22:15] magento-engcom-team commented on #20843
Hi @VincentMarmiesse. Thank you for your report.
The issue has been fixed in magento/magento2#22560 by @markvds in 2.3-develop branch
Related commit(s):
 - [1abadb5ddf82505c2048dac9312a5d58f21e5992](https://github.com/magento/magento2/commit/1abadb5ddf82505c2048dac9312a5d58f21e5992)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-11 04:41] satyaprakashpatel commented on #18263
Unable to reproduce this issue on M2.3.1

[2019-05-11 04:47] GovindaSharma commented on #22820
i am working on this

[2019-05-11 05:10] irajneeshgupta commented on #22781
@magento-engcom-team give me 2.3-develop instance

[2019-05-11 05:10] magento-engcom-team commented on #22781
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-11 05:10] magento-engcom-team commented on #22781
Hi @irajneeshgupta, here is your [Magento instance](https://i-22781-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22781-2-3-develop.instances.magento-community.engineering/admin](https://i-22781-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-11 05:45] irajneeshgupta commented on #22781
@ankursachdeva11
It is not an issue , V1/inventory/source-items API is working as expected.
you may check http code 200 and response body [] in your third party integration.

[2019-05-11 06:01] shikhamis11 commented on #22437
@skdsg Please follow issue reporting guideline to report issue.

[2019-05-11 06:01] #22437 closed, assigned to kalpmehta

[2019-05-11 06:03] mallikaverma commented on #22817
I am working on it..

[2019-05-11 06:09] mallikaverma commented on #22741
I am working on it..

[2019-05-11 06:09] gulshanchitransh commented on #22809
@magento-engcom-team give me 2.3-develop instance

[2019-05-11 06:10] magento-engcom-team commented on #22809
Hi @gulshanchitransh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-11 06:10] magento-engcom-team commented on #22809
Hi @gulshanchitransh, here is your [Magento instance](https://i-22809-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22809-2-3-develop.instances.magento-community.engineering/admin](https://i-22809-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-11 06:11] mallikaverma commented on #22304
@magento-engcom-team  give me 2.3-develop instance

[2019-05-11 06:12] mallikaverma commented on #22817
@magento-engcom-team  give me 2.3-develop instance

[2019-05-11 06:17] mallikaverma commented on #22274
@magento-engcom-team Give me 2.2.8-develop instance with sample data

[2019-05-11 06:17] magento-engcom-team commented on #22274
Hi @mallikaverma. Thank you for your request. I'm working on Magento 2.2.8-develop instance for you

[2019-05-11 06:30] satyaprakashpatel commented on #22731
@magento-engcom-team give me 2.3-develop instance

[2019-05-11 06:30] magento-engcom-team commented on #22731
Hi @satyaprakashpatel. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-11 06:31] mallikaverma commented on #22095
@magento-engcom-team  give me 2.3-develop instance

[2019-05-11 09:52] vikalps4 commented on #7200
@magento-engcom-team give me 2.3-develop instance

[2019-05-11 09:53] magento-engcom-team commented on #7200
Hi @vikalps4. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-11 09:53] magento-engcom-team commented on #7200
Hi @vikalps4, here is your [Magento instance](https://i-7200-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-7200-2-3-develop.instances.magento-community.engineering/admin](https://i-7200-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-11 10:25] YevgenK opened #22828 "GraphQL. Cannot query field "addSimpleProductsToCart" on type "Mutation""
### Preconditions
1. Magento 2.3.1 without sample data and installed modules
2. Test product is set up

### Steps to reproduce
1. Add a simple product via admin panel
2. Install ChromeiQL extension to run the request below
3. Create an empty cart according to the [doc](https://devdocs.magento.com/guides/v2.3/graphql/reference/quote.html#createEmptyCart)
4. Add the simple product to cart according

[2019-05-11 10:28] orlangur commented on #11840
Thanks @pczerkas for your investigation!

[2019-05-11 10:28] #11840 closed, assigned to nobody

[2019-05-11 11:55] 1stKarkan commented on #7200
I tried it on that Demo Shop but apparently the feature only works for the first dropdown:
https://i-7200-2-3-develop.instances.magento-community.engineering/test.html

After selecting the first attribute, there are no prices visible on the options of the second.

This is really disappointing and makes it even worse for products with more than one configurable attribute as it is definitly more con

[2019-05-11 16:10] gwharton commented on #22808
How about database media storage mode, when it is valid for pub/media to be completely wiped. Make sure any solution works in this mode too.

[2019-05-11 16:26] mallikaverma commented on #22304
I am working on it

[2019-05-11 16:54] mallikaverma commented on #22304
I am working on this #event-imagine2019

[2019-05-11 17:10] AfreenScarlet commented on #20846
#event-imagine2019

[2019-05-11 17:44] cedarvinda opened #22832 "Should not hide element in page as In customer account register page a element hide from css, But we should properly remove from html"
Should not hide element in page as In customer account register page a element hide from css, But we should properly remove from html

### Preconditions (*)
1. Magento 2.3 develop
2. php7.2

### Steps to reproduce (*)

### Expected result (*)

### Actual result (*)
![issues](https://user-images.githubusercontent.com/26018716/57573257-c6af8580-73d9-11e9-853d-2d457dfa9ad8.jpeg)

[2019-05-11 18:17] piotrekkaminski opened #22833 "Short-term admin accounts"
### Description (*)
Merchants often create admin accounts for allowing extension vendors to support their extensions remotely. Such admin accounts often have simple, easy to guess passwords - and they are never removed even when no longer used.

### Expected behavior (*)

Ability to define how long given account is enabled. The account will be disabled after the specified time passes. There should

[2019-05-11 18:26] IvanChepurnyi commented on #22824
Seems this is is the same issue I was working on based on @amenk tweet. Here is a pull request #22829  that fixes this issue

[2019-05-11 18:35] shikhamis11 commented on #22832
@magento-engcom-team give me 2.3-develop instance

[2019-05-11 18:35] magento-engcom-team commented on #22832
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-11 18:35] magento-engcom-team commented on #22832
Hi @shikhamis11, here is your [Magento instance](https://i-22832-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22832-2-3-develop.instances.magento-community.engineering/admin](https://i-22832-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-11 18:45] missoxd commented on #21361
I am working on it. #imagine2019

[2019-05-11 22:27] missoxd commented on #21361
#imagine2019

[2019-05-11 22:37] missoxd commented on #21361
#imagine2019

[2019-05-11 22:37] magento-engcom-team commented on #21361
@missoxd thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-12 01:53] gauravagarwal1001 commented on #22774
I am working on it. #imagine2019

[2019-05-12 05:44] bhavik43 commented on #22524
@magento-engcom-team give me 2.3-develop instance

[2019-05-12 05:44] magento-engcom-team commented on #22524
Hi @bhavik43. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-12 05:44] magento-engcom-team commented on #22524
Hi @bhavik43, here is your [Magento instance](https://i-22524-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22524-2-3-develop.instances.magento-community.engineering/admin](https://i-22524-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-12 08:09] bhavik43 opened #22840 "Updated new address not appear after add new at checkout payment method page"
Updated address not appear after add new at checkout payment method page.

### Preconditions (*)
Magento 2.3

### Steps to reproduce (*)
1. Login to account >> Add some addresses in address book
2. Add product to cart
3. Checkout >> Shipping >> Select any address
4. Go to review and payment page
5. Payment method >> Uncheck the "My billing and shipping address are the same" checkbox
6. Select New

[2019-05-12 08:11] krishprakash commented on #22840
@magento-engcom-team give me 2.3-develop instance

[2019-05-12 08:11] magento-engcom-team commented on #22840
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-12 08:12] magento-engcom-team commented on #22840
Hi @krishprakash, here is your [Magento instance](https://i-22840-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22840-2-3-develop.instances.magento-community.engineering/admin](https://i-22840-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-12 08:21] krishprakash commented on #22840
@magento-engcom-team give me 2.2-develop instance

[2019-05-12 08:21] magento-engcom-team commented on #22840
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-12 08:22] magento-engcom-team commented on #22840
Hi @krishprakash, here is your [Magento instance](https://i-22840-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22840-2-2-develop.instances.magento-community.engineering/admin](https://i-22840-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-12 08:30] magento-engcom-team commented on #22840
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99648`, `MAGETWO-99649` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-12 12:00] craigcarnell commented on #22797
@shikhamis11 Exactly, the schema being out of date, while important, should not bring the site down. Would like the option to suppress the error, instead perhaps write to a log file.

[2019-05-12 12:29] donniesg opened #22841 "Telephone, Company & Fax fields does not display on Customer Registration Page"
### Preconditions (*)

1. Magento 2.2.6 and 2.4-develop
2. Backend Store configuration->Customer Configuration-> Name & Address Options
3. Frontend Customer Registration page

Base on the Magento documentation, it is clearly stated that the settings determine the information that is collection during customer registration.
https://docs.magento.com/m2/ce/user_guide/customers/customer-account-config

[2019-05-12 13:23] donniesg commented on #22841
@magento-engcom-team give me 2.3-develop instance

[2019-05-12 13:23] magento-engcom-team commented on #22841
Hi @donniesg. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-12 13:24] magento-engcom-team commented on #22841
Hi @donniesg, here is your [Magento instance](https://i-22841-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22841-2-3-develop.instances.magento-community.engineering/admin](https://i-22841-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-12 13:30] donniesg commented on #22841
Tested. Confirmed that the issue is reproducible on vanilla version of Magento instance.
![Configuration _ Settings _ Stores _ Magento Admin (3)](https://user-images.githubusercontent.com/22439364/57582891-1c308300-74fd-11e9-99f0-3ab01ea5f621.jpg)
![Create New Customer Account (1)](https://user-images.githubusercontent.com/22439364/57582896-22befa80-74fd-11e9-9132-b7a29eb2758a.jpg)

[2019-05-12 15:31] Jilco opened #22842 "Magento 2.2.8 and 2.3.1 customer sessions mixed"
### Preconditions (*)

1. Magento 2.2.8 and 2.3.1 (appears on both installations)
2. Nginx - Apache setup
3. PhP 7.1
4. Redis 4
4. Disabling Full Page Cache (php bin/magento cache:disable full_page) didn't solve the problem
5. Sometimes it happens and not always, it seems to happen mostly in chrome browser on mobile phone. I was able to reproduce it a few times

### Steps to reproduce (*)

1. Star

[2019-05-12 15:33] Jilco commented on #22842
@magento-engcom-team give me 2.2.8 instance

[2019-05-12 15:33] magento-engcom-team commented on #22842
Hi @Jilco. Thank you for your request. I'm working on Magento 2.2.8 instance for you

[2019-05-12 15:34] magento-engcom-team commented on #22842
Hi @Jilco, here is your [Magento instance](https://i-22842-2-2-8.instances.magento-community.engineering).
Admin access: [https://i-22842-2-2-8.instances.magento-community.engineering/admin](https://i-22842-2-2-8.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-12 15:52] Jilco commented on #22842
I was not able to reproduce, so magento is not the problem. I checked and checked al the apache and redis settings and i'm pretty desperate now. Can someone push me in the direction of a solution....

[2019-05-12 17:27] Karlasa commented on #22832
@cedarvinda
Will close this issue as it should not be removed as css style is part of Luma Theme and we should not remove functionality that is part of Blank Theme and is visible there.

Cheers,

[2019-05-12 17:27] #22832 closed, assigned to shikhamis11, cedarvinda

[2019-05-12 17:45] shikhamis11 commented on #18812
#imagine2019

[2019-05-12 17:48] mallikaverma commented on #22304
#imagine2019

[2019-05-12 17:50] gauravagarwal1001 commented on #22024
#imagine2019

[2019-05-12 17:51] mallikaverma commented on #22274
#imagine2019

[2019-05-12 17:52] mallikaverma commented on #22095
#imagine2019

[2019-05-12 17:52] mallikaverma commented on #22817
#imagine2019

[2019-05-12 17:52] mallikaverma commented on #22741
#imagine2019

[2019-05-12 18:18] gulshanchitransh commented on #22841
I am working on this

[2019-05-12 18:19] ywsw commented on #22029
I am having this same issue with 2.3.1
Editing checkout_index_index.xml does not help
the #5849 link above is not a duplicate. Please reopen this and advise us how to add the header and footer to the checkout page

[2019-05-12 18:21] gulshanchitransh commented on #22841
@magento-engcom-team give me 2.3-develop instance

[2019-05-12 18:21] magento-engcom-team commented on #22841
Hi @gulshanchitransh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-12 18:22] magento-engcom-team commented on #22841
Hi @gulshanchitransh, here is your [Magento instance](https://i-22841-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22841-2-3-develop.instances.magento-community.engineering/admin](https://i-22841-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-12 18:31] amitcedcoss commented on #22614
#imagine2019

[2019-05-12 19:04] amitcedcoss commented on #22808
#imagine2019

[2019-05-12 19:11] magento-engcom-team commented on #22841
@gulshanchitransh Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-05-12 20:08] magento-engcom-team commented on #22822
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99650`, `MAGETWO-99651` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-12 20:08] mallikaverma commented on #22817
@magento-engcom-team Can you please give me 2.3-develop instance

[2019-05-12 20:46] magento-engcom-team commented on #22841
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99652`, `MAGETWO-99653` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-12 21:07] oroskodias commented on #13136
@magento-engcom-team give me 2.3-develop instance

[2019-05-12 21:07] magento-engcom-team commented on #13136
Hi @oroskodias. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-12 21:08] magento-engcom-team commented on #13136
Hi @oroskodias, here is your [Magento instance](https://i-13136-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-13136-2-3-develop.instances.magento-community.engineering/admin](https://i-13136-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-12 23:19] JoshuaFlood commented on #22600
@vikalps4 how can I install sample data on the magento test instances?

[2019-05-13 01:02] adamstapley commented on #21666
Same issue here, was OK in 2.3.0 but just updated to 2.3.1 and now have this issue. Any fix? Happens if I have a special price on a product. Saves first time but can not edit or save the product again without opening special price and deleting and date data. Very time consuming to make basic edits to any product with a special price or fro date associated with it.

[2019-05-13 02:59] tuyennn commented on #22103
The Zend mail 2 follows rfc-2822 standard and only allow header value contains valid characters.
[code]
[code]

Thus the email was not encoded the header name will always be more than 128 length.
Then we will always have exception while sending mail even the **Sender Name** just contains 1 character of non English. Ex: تست

https://github.com/magento/magento2/issues/22778

[2019-05-13 06:41] antbates1991 commented on #21134
@wojtekn
@engcom-backlog-nazar

This issue was closed because I referenced this issue in a PR for private repository that has been merged into the private repos develop branch. This behavour was unexpected and in my opinion kind of wrong. If it can be configured it should probably be turned off, although I'm not sure if it is an option.

<img width="712" alt="Screenshot 2019-05-13 at 07 35 53" src

[2019-05-13 07:01] vinayshah opened #22855 "Import and Export of Video Url for products"
### Description (*)

As default Magento provide product video feature. So need a feature to easily import and export product video attached through default import/export.

### Expected behavior (*)

1. Export of product video url/title/description (vimeo/youtube)
2. Import of Product video  url/title/description

### Benefits

Customers can easily import or export of video through CSV. Same as ima

[2019-05-13 07:11] ThakurPradeep commented on #3724
In magento 2.3 salable quantity gets reduced.
Admin -> Catalog-> Product -> Get Salable Quantity .

1)https://magento.stackexchange.com/questions/256997/salable-quantity-is-showing-zero-in-product-grid-magento-2/263592#263592
2) https://webkul.com/blog/get-salable-quantity-in-magento-2-3/

[2019-05-13 07:22] dcwnaveen opened #22856 "Catalog pricerules are not working with custom options as expected in Magento 2.3.0 product details page"
Catalog price rules are not working with custom options as expected in Magento 2.3.0 product details page. We created the catalog price-rule 10% discount for some x products and expecting the results like a 10% discount on total price( (product price + options price) * 10%). But results are showing discounted price + custom options price.

**Preconditions**
Magento 2.4-develop
PHP 7.3

**Steps to

[2019-05-13 07:27] dcwnaveen commented on #22856
@magento-engcom-team give me 2.3-develop instance So I will create the product and catalog price rule.

[2019-05-13 07:27] magento-engcom-team commented on #22856
Hi @dcwnaveen. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-13 07:28] magento-engcom-team commented on #22856
Hi @dcwnaveen, here is your [Magento instance](https://i-22856-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22856-2-3-develop.instances.magento-community.engineering/admin](https://i-22856-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-13 07:38] dcwnaveen commented on #22856
@magento-engcom-team
I have created one product with custom options and created the catalog price rule.
please reindex and run the cron job for a discounted price.
https://i-22856-2-3-develop.instances.magento-community.engineering/product-a.html

[2019-05-13 07:51] dcwnaveen commented on #22856
Hi @AlexWorking. Please check the issue and confirm.
https://i-22856-2-3-develop.instances.magento-community.engineering/product-a.html

[2019-05-13 08:21] jakwinkler opened #22857 "Google Tag Manager: 500 error when removing items from cart"
### Preconditions (*)

1. Magento 2.2.5 Commerce Edition
2. Enabled Google Tag Manager (vendor/magento/module-google-tag-manager)

### Steps to reproduce (*)

1. Enable GTM
2. Add products to shopping cart
3. Go to cart page
4. Remove product from shopping cart and before page reloads, click to remove the same product again

### Expected result (*)

1. Product is removed from shopping cart
2. No e

[2019-05-13 08:38] horebecommerce commented on #15427
Same issue 2.3.1, Any updates available so far?

[2019-05-13 09:02] tdschmidl commented on #20435
As we faced similar issues with a newly installed Debian stretch system and Magento 2.2.8, the culprit was - as far as I could debug - following:

Postfix on newer or freshly installed Debian (and derivates) systems sets following value in `/etc/postfix/main.cf`
Found this behavior on:
Postix version on Debian: 9.9: 3.1.12-0+deb9u1
- or -
Postfix version on Ubuntu 18.04.1: 3.3.0-1ubuntu0.2
[code]

[2019-05-13 09:09] davidpixie commented on #22814
@irajneeshgupta

Thanks for acknowledging and submitting fix as a PR!

[2019-05-13 09:41] magento-engcom-team commented on #22856
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99657`, `MAGETWO-99658` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-13 10:00] LucianMihalache opened #22859 "Ui component form DataProvider"
So... This will be a long thread... I have some backend forms with Ui components.
The inputs of the form are not filled when editing an existent entity.
I am using Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider default class as dataprovider, everything works perfect but the fields are not prefilled.
That's because the dataprovider's returned data does not match the form's ui

[2019-05-13 10:04] suvajitxejic opened #22860 "Edit existing shipping address on checkout page not working"
### Summary (*)
The feature required is to allow the logged in user to edit any of his previously added address on the checkout page.

Initially, the edit option was not there against the existing addresses. I changed the following lines in the following file

[code]
In doing so the edit link does appear on the addresses. ( please check the links in the Examples Section )

Now the problem is when

[2019-05-13 10:08] joekersh commented on #22304
The fix from @larsroettig works for me, i created a preference for that class and then overrode the getProductInfo method:

In your module di.xml:

`<preference for="Magento\GroupedProduct\Model\Product\Type\Grouped" type="Vendor\Module\Model\Grouped"/>`

New class:

`<?php

namespace Vendor\Module\Model;

class Grouped extends \Magento\GroupedProduct\Model\Product\Type\Grouped {

	protected funct

[2019-05-13 10:22] larsroettig commented on #22304
@joekersh preference is not the best way to solve this issue patching is a better way yesterday somebody creating a pr this look backwards compatible.

[2019-05-13 10:34] krishprakash commented on #22860
Hi @suvajitxejic. Thank you for your report.
This is not an issue.
It should be considered as feature request so for processed faster please report this in below community feature repository.
https://github.com/magento/community-features/issues
Thank you.

[2019-05-13 10:41] suvajitxejic commented on #22860
Hi @krishprakash

I created a issue in the specified community but an edit link shouldn't behave as a add new address form, right? So isn't it more of a issue. Also as per your suggestion, do you mean that the edit functionality was never done?

[2019-05-13 10:45] krishprakash commented on #22860
Hi @suvajitxejic.
No default magento does not provide edit feature for existing addresses.
You can review it for this in #4771

[2019-05-13 10:47] ajduff14 commented on #20317
Hi,

Any progress on this?

[2019-05-13 10:48] #22860 closed, assigned to krishprakash

[2019-05-13 10:48] RezaidFaisalHameed opened #22861 "Linnworks product images are not getting updated in magento 2.3"
Magento 2.3 Integration with Linnworks.

When syncing products from linnworks to magento 2.3, all data related to product is transferred except the images.

Following is the Magento API response when image request is sent from Linnworks

HTTP/1.1 400 Bad Request
Date: Fri, 10 May 2019 18:35:52 GMT
Server: Apache/2.4.29 (Ubuntu)
Set-Cookie: PHPSESSID=rg6almkkiho90t4hprf8bktvqq; expires=Fri, 10-May-

[2019-05-13 11:03] nilarocks opened #22862 "Catalog Products Page not open"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.1.4

### Steps to reproduce (*)

1. Login In backend
2. click ON  Catalog->Products

### Expected result (*)

1. open Products Grid page

### Actual result (*)

1. Give a error "There has been an error processing your request"
2. IN report,
`{"0":"Warning: Magento\\Framework\\Locale\\TranslatedLists::getCountryTranslation(): Cannot load resource ele

[2019-05-13 11:06] mavajih opened #22863 "image roles( base, small and thumbnail) is not set via rest api rest/V1/products/{sku}/media"
### Preconditions (*)

1. Magento Community 2.3.1
2. PHP 7.2.17
3. Mysql Server version: 5.7.26
4. Nginx on ubuntu 18.04.1

### Steps to reproduce (*)

1. Call Rest api with below python script
2. Python script code:
import base64
import urllib
from json import dumps
from pprint import pprint
from requests_oauthlib import OAuth1Session
client_key    = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
client_secre

[2019-05-13 11:09] AlexWorking commented on #22862
Hello @nilarocks. Thanks for reporting. But the GitHub issue tracker is intended for Magento Core technical issues only. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-05-13 11:09] #22862 closed, assigned to AlexWorking

[2019-05-13 11:11] SS7User commented on #22861
**Summary of the issue**

Magento 2.3 Integration with Linnworks.

When syncing products from linnworks to magento 2.3, all data related to product is transferred except the images.

Following is the Magento API response when image request is sent from Linnworks

HTTP/1.1 400 Bad Request
Date: Fri, 10 May 2019 18:35:52 GMT
Server: Apache/2.4.29 (Ubuntu)
Set-Cookie: PHPSESSID=rg6almkkiho90t4hprf8bk

[2019-05-13 11:22] mavajih commented on #22863
@magento-engcom-team  give me 2.3-develop instance

[2019-05-13 11:22] magento-engcom-team commented on #22863
Hi @mavajih. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-13 11:23] mavajih commented on #22863
@magento-engcom-team give me 2.3-develop instance

[2019-05-13 11:23] magento-engcom-team commented on #22863
Hi @mavajih. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-13 11:23] magento-engcom-team commented on #22863
Hi @mavajih, here is your [Magento instance](https://i-22863-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22863-2-3-develop.instances.magento-community.engineering/admin](https://i-22863-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-13 12:15] mavajih commented on #22863
Hi @magento-engcom-team I am not able to reproduce issue with steps i mentioned in given 2.3-develop instance.

[2019-05-13 12:22] mavajih commented on #22863
Hi @magento-engcom-team can you please give solution for Magento community 2.3.1

[2019-05-13 12:28] nikhil91100 commented on #20033
Any update on this issue ?

[2019-05-13 12:44] navaneeth008 commented on #20033
@nikhil91100 Whats the php version on the install? I made it working as i degraded the php version to 7.1

[2019-05-13 12:50] nikhil91100 commented on #20033
PHP 7.2.17

[2019-05-13 12:56] Siyadev9 opened #22867 "Magento script and style filtering issue in CMS Blocks and Pages"
### Preconditions (*)

1. Magento version 2.3.1
2. PHP version 7.2
3. MySQL 5.7

### Steps to reproduce (*)

1. Clean Magento 2.3.1 installation
2. Create a new block
3. add some HTML and add CSS in <style> tag
4. Save and toggle between Editor and Code using Show/Hide Editor
5. You will see style and script tags are gone

### Expected result (*)

1. This is my input
 ![image](https://user-images.

[2019-05-13 13:01] Siyadev9 commented on #22867
Yes I was able to reproduce on a vanilla Magento 2.3.1

[2019-05-13 13:10] simonmaass commented on #5863
@jaxtheking i have observed the same thing... also upgraded to 2.3.1 and url rewrites dont auto generate... Google Search Console Errors keep piling up...

[2019-05-13 13:17] navaneeth008 commented on #20033
on debugging i can see the this on log main.CRITICAL: Deprecated Functionality: idn_to_ascii(): INTL_IDNA_VARIANT_2003 is deprecated in /public_html/vendor/zendframework/zend-validator/src/EmailAddress.php on line 560

 if (extension_loaded('intl')) {
            if (defined('INTL_IDNA_VARIANT_UTS46')) {
                return (idn_to_ascii($email, 0, INTL_IDNA_VARIANT_UTS46) ?: $email);

[2019-05-13 13:20] kamzata commented on #21985
Any news? It does not fail of you use url with http protocol. E.g. Using this link it works: http://www.prefettura.it/FILES/AllegatiPag/1247/Calendario_test_italiano_anno_2019.pdf

[2019-05-13 13:20] krishprakash commented on #22867
@magento-engcom-team give me 2.3-develop instance

[2019-05-13 13:21] magento-engcom-team commented on #22867
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-13 13:21] magento-engcom-team commented on #22867
Hi @krishprakash, here is your [Magento instance](https://i-22867-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22867-2-3-develop.instances.magento-community.engineering/admin](https://i-22867-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-13 13:28] krishprakash commented on #22867
@magento-engcom-team give me 2.2-develop instance

[2019-05-13 13:28] magento-engcom-team commented on #22867
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-13 13:29] magento-engcom-team commented on #22867
Hi @krishprakash, here is your [Magento instance](https://i-22867-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22867-2-2-develop.instances.magento-community.engineering/admin](https://i-22867-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-13 13:36] krishprakash commented on #22867
Hi @Siyadev9.
All css are applied properly.
Can you please check on front end all page/block display properly as applied css.

[2019-05-13 13:56] Siyadev9 commented on #22867
Hi @krishprakash. I create a new Magento 2.3.1 installation on my server and am still having this issue. I am also having this issue on my local windows machine. Any suggestions what it might be, or whether there is a setting I can check and test, both on Magento and in my environments?

[2019-05-13 14:11] Siyadev9 commented on #22867
Hi @krishprakash. I tested on the servers created for you as well, if I wasn't suppose to please forgive me, and I am getting the issue on the 2.3 version. On the 2.2 version I can add the <style> tag and add styles with no issues.

[2019-05-13 14:21] 808brinks opened #22869 "REST: Updating a customer without store_id sets the store_id to default"
### Preconditions (*)
Magento 2.2.7 and Magento 2.3-develop provided by the bot.

### Steps to reproduce (*)
1. Create multiple store views
2. Create a customer and set his store view to one that is not the default
3. Use the rest api to change the first name of the customer (put to PUT rest/V1/customers/8)

I used the following body. (note the missing store_id)

[code]

### Expected result (*)
1.

[2019-05-13 14:21] ioweb-gr opened #22870 "ProductRepository fails to update an existing product with a changed SKU"
### Preconditions (*)
1. Magento 2.3.1
2. One product with SKU = "EXAMPLE"

### Steps to reproduce (*)
1. Load a ProductInterface for the product with SKU "EXAMPLE"
2. Execute $product->setData('sku', 'CHANGE')
3. Execute $productRepository->save($product)
4. The productRepository will silently fail to retrieve the existing product while saving at code vendor/magento/module-catalog/Model/ProductRe

[2019-05-13 14:24] 808brinks commented on #22869
@magento-engcom-team give me 2.3-develop instance

[2019-05-13 14:25] magento-engcom-team commented on #22869
Hi @808brinks. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-13 14:25] magento-engcom-team commented on #22869
Hi @808brinks, here is your [Magento instance](https://i-22869-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22869-2-3-develop.instances.magento-community.engineering/admin](https://i-22869-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-13 14:45] 808brinks commented on #22869
@m2-assistant I was able to reproduce the issue on the provided magento 2 instance.

[2019-05-13 15:34] magento-engcom-team commented on #22867
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99670` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-13 17:07] jefflenz opened #22872 "\Magento\CatalogInventory\Model\StockRegistry $scopeId parameter value immediately overwritten"
### Preconditions (*)
1. 2.3.1 Commerce

### Steps to reproduce (*)
1. Call the function \Magento\CatalogInventory\Model\StockRegistry->getStockStatus($productId, $scopeId) with a $scopeId of 1 (or any other storeview)

### Expected result (*)

1. Should return stock status for passed value for $scopeId

### Actual result (*)
1. The value of $scopeId is overwritten in the function with this line:

[2019-05-13 21:43] amitcedcoss commented on #22312
Not the valid issue,
If you are trying to check in swagger so please change the base url first..
To view the Swagger documentation for a specific store view, use this URL:
http://<magento_host>/swagger?store=<store_code>
So in your case the url will be like this
http://<magento_host>/swagger?store=default

Now you can try to customer/token rest api, it will generate token successfully

[2019-05-13 21:43] #22312 closed, assigned to irajneeshgupta

[2019-05-13 22:59] amitvishvakarma opened #22875 "Billing Agreements page title need to be improved"
### Preconditions (*)

1. Magento 2.3.x
2. Customer must be logged in.

### Steps to reproduce (*)

1. Login as customer in frontend
2. Now go to Billing Agreements tab

### Expected result (*)

1.Page title must be only : Billing Agreements

### Actual result (*)

1. Page title is showing: Billing Agreements / My Account

[2019-05-14 03:27] gcampedelli commented on #22842
I had the same problem in a Magento 2.1.9 instance. I could see even the name of buyer in checkout page using another browser. I never found which was the problem, after upgrading I never reproduced the error again.

[2019-05-14 05:06] ajijshekh123 commented on #22875
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-05-14 05:06] magento-engcom-team commented on #22875
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-14 05:07] magento-engcom-team commented on #22875
Hi @ajijshekh123, here is your [Magento instance](https://i-22875-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22875-2-3-develop.instances.magento-community.engineering/admin](https://i-22875-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-14 05:09] magento-engcom-team commented on #22875
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99685` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-14 05:13] shikhamis11 commented on #22875
Since all other links doesn't have the prepend functionality so this should be similar for all links in my account

[2019-05-14 06:03] nikhil91100 commented on #20033
@navaneeth008 ,
i installed ICU ,
$ uconv -V
uconv v2.1  ICU 64.1
But still not receiving any mail . ( Not even contact us mail and there is no error too ) .

[2019-05-14 06:34] deepakk-webkul opened #22877 "ACL issue"
### Preconditions (*)
1. Magento CE 2.2.8 with sample data installed
2. PHP 7.1.27

### Steps to reproduce (*)
1. Login to Magento 2 admin panel with your current admin user (that has full access).
2. Add a new admin user from "System > Permissions > All Users" page.
3. Go to permissions user roles page (System > Permissions > User Roles), and click "Add New Role" button.
4. Fill the "Role Name" u

[2019-05-14 06:37] webkul-deepakkumar commented on #22877
@magento-engcom-team give me 2.2-develop instance

[2019-05-14 06:37] magento-engcom-team commented on #22877
Hi @webkul-deepakkumar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-14 06:38] magento-engcom-team commented on #22877
Hi @webkul-deepakkumar, here is your [Magento instance](https://i-22877-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22877-2-2-develop.instances.magento-community.engineering/admin](https://i-22877-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-14 06:42] AlexWorking commented on #22785
Ok, @qsolutions-pl, this feature ("Minimum Qty Allowed in Shopping Cart") is available only in EE. So what was the reason You set it to 1 when it already had been set to one by default?

[2019-05-14 06:57] magento-engcom-team commented on #22614
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99686`, `MAGETWO-99687` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-14 07:05] gulshanchitransh commented on #22877
I cannot reproduce this issue on this instance.

[2019-05-14 07:12] webkul-deepakkumar commented on #22877
@gulshanchitransh This issue is only reproducible on Magento 2.2.8 instance

[2019-05-14 07:17] gulshanchitransh commented on #22877
@magento-engcom-team give me 2.2.8-develop instance

[2019-05-14 07:17] magento-engcom-team commented on #22877
Hi @gulshanchitransh. Thank you for your request. I'm working on Magento 2.2.8-develop instance for you

[2019-05-14 07:19] gulshanchitransh commented on #6568
@magento-engcom-team give me 2.3-develop instance

[2019-05-14 07:19] magento-engcom-team commented on #6568
Hi @gulshanchitransh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-14 07:20] magento-engcom-team commented on #6568
Hi @gulshanchitransh, here is your [Magento instance](https://i-6568-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-6568-2-3-develop.instances.magento-community.engineering/admin](https://i-6568-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-14 07:32] magento-engcom-team commented on #22869
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99688`, `MAGETWO-99689` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-14 07:42] AlexWorking commented on #22877
Hello @webkul-deepakkumar. Thanks for reporting. Could You please try to reproduce Your issue on 2.3-develop versionю

[2019-05-14 07:43] navaneeth008 commented on #20033
@nikhil91100 Try forget password and let me know what error message are you gettng?

[2019-05-14 07:58] ghost opened #22878 "Remove required from UPS shipping fields"
### Preconditions (*)
1. Magento 2.3-develop

### Steps to reproduce (*)
1. Go to "Shipping Methods" tab under Store Configuration
2. Click on "Save Config"

### Expected result (*)
1. Save without any issue

### Actual result (*)
1. Not able to save because some fields in UPS are required
2. ![Screenshot_533](https://user-images.githubusercontent.com/42089978/57680789-0c738480-764c-11e9-860c-0ec6

[2019-05-14 08:05] AlexWorking commented on #22878
Hello @sanjaychouhan-webkul. Thanks for reporting, but we ought to close this issue as a duplicate of https://github.com/magento/magento2/issues/22786.

[2019-05-14 08:05] #22878 closed, assigned to gulshanchitransh, gauravagarwal1001

[2019-05-14 08:06] nikhil91100 commented on #20033
@navaneeth008
tried forgot password and its successful ( If there is an account associated with nikhil91100@gmail.com you will receive an email with a link to reset your password.) but no mail received.

[2019-05-14 08:28] webkul-deepakkumar commented on #22877
@AlexWorking I have already checked this issue on 2.3 develop but can't be reproduced, this issue is only coming under Magento 2.2.8 instance

[2019-05-14 08:50] norgeindian opened #22879 "actionGroup ProductSetAdvancedPricing does not work for Fixed Price"
### Preconditions (*)

1. Magento 2.3.0

### Steps to reproduce (*)

1. Create a custom MFTF Test and use the action group ProductSetAdvancedPricing with argument price = "Fixed"
2. Run the test

### Expected result (*)

1. This should normally fill the advanced price form with a fixed discount amount.

### Actual result (*)

1. The test fails and does not find the selector `[name='product[tier_pr

[2019-05-14 09:11] navaneeth008 commented on #20033
@nikhil91100 can you try sending mail from server and check if that's sent?

[2019-05-14 09:21] ihor-sviziev opened #22880 "Static content deploy - Randomly css files not generated"
### Preconditions (*)
1. Magento 2.3.x(2.3-develop too)
2. Configured Build system according to [technical details](https://devdocs.magento.com/guides/v2.2/config-guide/deployment/pipeline/technical-details.html).
3. Create own theme that extends from Magento/luma
4. Magento mode is **default** OR **developer**

### Steps to reproduce (*)
1. Run `php bin/magento setup:static-content:deploy -f -j $

[2019-05-14 09:22] nikhil91100 commented on #20033
@navaneeth008 done using mail() function and its successful but no mail received .

[2019-05-14 09:25] navaneeth008 commented on #20033
@nikhil91100 so its an issue with server not magento, please check with server support team

[2019-05-14 09:37] ihor-sviziev opened #22882 "Static content deploy - Don't shows error message, just stack trace"
### Preconditions (*)
1. Magento 2.2.7
2. Configured Build system according to [technical details](https://devdocs.magento.com/guides/v2.2/config-guide/deployment/pipeline/technical-details.html).

### Steps to reproduce (*)
1. Emulate exception that happened in https://github.com/magento/magento2/issues/22880 by adding above this line
https://github.com/magento/magento2/blob/15e3c07f3aeb94d4147e4

[2019-05-14 09:39] giacmir commented on #22142
I'm having the same issue after upgrading from 2.2.6 to 2.3.1. My config is also dumped in config.php

[2019-05-14 09:46] ihor-sviziev opened #22883 "Static content deploy - Parallel execution - Not fails in case of exception"
### Preconditions (*)
1. Magento 2.2.7
2. Configured Build system according to [technical details](https://devdocs.magento.com/guides/v2.2/config-guide/deployment/pipeline/technical-details.html).

### Steps to reproduce (*)
1. Emulate exception that happened in https://github.com/magento/magento2/issues/22880 by adding above this line
https://github.com/magento/magento2/blob/15e3c07f3aeb94d4147e4

[2019-05-14 10:06] rav-redchamps commented on #6287
Hi Guys

The pull request https://github.com/magento/magento2/pull/20918 from us to fix this problem is taking time to get processed.

So we have extracted changes from the pull request and packaged them in an extension. It is available here https://github.com/redchamps/customer-shopping-carts-tab . Please feel free to use it till the time change is available in Magento 2 core.

[2019-05-14 10:11] flauschi opened #22885 "Dependencies of catalogsearch_fulltext index in scheduled mode"
I have found a serious problem with the scheduled reindex of the catalogsearch_fulltext index and the use of Elasticsearch.

Dependencies between the catalogsearch_fulltext index and other indexes (probably catalog_category_product, cataloginventory_stock, catalog_product_price as in Magento/Elasticsearch/etc/indexer.xml) are not taken into account if the mode is set to "UPDATE BY SCHEDULE".

The

[2019-05-14 10:25] nikhil91100 commented on #20033
@navaneeth008 ok

[2019-05-14 10:33] XigenDominic opened #22887 "Magento 2.3.0 limit on simples able to link to group product"
Want to add a large number of simples to a grouped product (60+).  We appear to be hitting a limit with how many can be added.

### Preconditions (*)
1. Magento 2.3.0

### Steps to reproduce (*)
1.  Add grouped product
2.  Add large number of simples to group product.

### Expected result (*)
1. All products added after save

### Actual result (*)
1. Appears to be a limit of number of products tha

[2019-05-14 10:34] iKoala commented on #14952
This bug still exists in 2.3.0.

[2019-05-14 10:34] XigenDominic commented on #22887
@magento-engcom-team give me 2.3.0

[2019-05-14 10:43] Wirson commented on #5730
I implemented functionality mentioned by @sivaschenko in https://github.com/magento/magento2/pull/21119#pullrequestreview-209021416 .
Please provide any feedback, what is missing or what have I overlooked

[2019-05-14 10:45] gwharton commented on #14952
@iKoala Yes, Scheduled for 2.3.1 See https://github.com/magento/magento2/pull/18471

[2019-05-14 10:49] iKoala commented on #14952
@gwharton Thanks for the reply. Is there any work around at the meantime?

[2019-05-14 10:51] AlexWorking commented on #22887
Hello @XigenDominic. Thanks for reporting. Seems like this issue is not a Magento core bug, but a matter of changing php settings, in particular max_input_vars and restarting php-fpm in order for the changes to take effect. Dont You think so?

[2019-05-14 11:01] AlexWorking commented on #22877
@webkul-deepakkumar, we also haven't been able to reproduce it on 2.3-develop version. Therefore according to our instructions You may find above on this page,
![223](https://user-images.githubusercontent.com/27814011/57692945-45d4d180-7605-11e9-9ce1-1d8f5fd48fcb.png)
we are closing the issue.

[2019-05-14 11:01] #22877 closed, assigned to gulshanchitransh, surabhisrivastava09, AlexWorking

[2019-05-14 11:12] XigenDominic commented on #22887
Correct.

Initially updated max_input_vars to 1000.

That still wasn't enough.

Had to set max_input_vars at 2000

Wow.  Just wow.

[2019-05-14 11:12] #22887 closed, assigned to AlexWorking

[2019-05-14 11:15] Jilco commented on #22842
In my case the same! After upgrade tot 2.2.8 the problem occured, but also on my 2.3.1. installation the problem is there. Biggist suspect is NGINX reverse proxy, does your site has that config to?

________________________________
Van: gcampedelli <notifications@github.com>
Verzonden: dinsdag 14 mei 2019 05:28
Aan: magento/magento2
CC: Jilco; Mention
Onderwerp: Re: [magento/magento2] Magento 2.2.

[2019-05-14 11:36] gcampedelli commented on #22842
I had reverse proxy but in Apache 2. And there was also CORS installed.

On Tue, May 14, 2019 at 8:16 AM Jilco <notifications@github.com> wrote:

--

[image: photo]
*Gabriela Campedelli*
(11)976379099 | gcampedelli@gmail.com | http://www.espressivo.com.br |
Skype: gcampedelli <https://mail.google.com/mail/u/0/#>

[2019-05-14 11:41] Jilco commented on #19211
@systems-diplomatic, wat was the root cause and how did you solve this? I'm facing the same issue

[2019-05-14 11:51] systems-diplomatic commented on #19211
@Jilco, we installed redis to handle the sessions and finally the problem went away, however we never really found the root cause.

[2019-05-14 12:04] seo99ita commented on #14952
I had the same problem until 2.2.8.
I did an update installing 2.3.1 from scratch, the problem has been solved.

[2019-05-14 12:12] cryptoso commented on #17436
I have this error in magento 2.3.1 and 2.2.6. To reproduce:
1. Create a configurable product and fill all required fields. Also, put the product image.
2. Create configurations based on some attribute
3. Save
4. Add to your attribute a few new options.
5. Get to edit your product and then edit configurations.
6. On the step "attribute values" uncheck some old options and check some new options.
7.

[2019-05-14 12:47] krishprakash commented on #22435
@magento-engcom-team give me 2.3-develop instance

[2019-05-14 12:47] magento-engcom-team commented on #22435
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-14 12:48] magento-engcom-team commented on #22435
Hi @krishprakash, here is your [Magento instance](https://i-22435-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22435-2-3-develop.instances.magento-community.engineering/admin](https://i-22435-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-14 13:47] kassner opened #22890 "Disabled config can be overwritten via admin"
Related to #19609

### Preconditions

1. Magento Open Source 2.3.1;
2. `php bin/magento config:set --lock-config general/store_information/name "Test lock"`;

### Steps to reproduce

1. Go to Admin > Stores > Configuration > General > General > Store Information;
2. On the disabled input for the Store Name field, use the browser tool to remove the `disabled="disabled"` attribute from the `<input>`

[2019-05-14 13:49] DirkBlade commented on #22143
I have same problem without redis frontend when adding varnish http-cache-hosts from the command line sometime after upgrade to 2.3.1

The command (IPs redacted):
bin/magento setup:config:set --http-cache-hosts=##.###.##.###:####

Resulted in the addition of the cache key to env.php (as well as the expected http_cache_hosts) and immediately health_check.php started 500ing.
...
    'http_cache_host

[2019-05-14 14:03] JMLucas96 commented on #5878
Same problem, magento2.1.8,
my url became
http://www.domain.com/catalog/product/view/_ignore_category/1/id/70102/s/product-name/

[2019-05-14 14:15] magicaner opened #22892 "Ability to redefine module sequence of core or third party modules."
### Description (*)

There is ability to setup modules sort order by using sequence tag in module.xml. Current implementation of module.xsd allows to put multiple <module> tags into module.xml. But reader would read only first module definition from the list.
The idea of current feature it to fix module config reader so that it can read and merge multiple module definition from module.xml. And the

[2019-05-14 14:34] kassner commented on #22618
#22891 might fix this one as well

[2019-05-14 14:59] landryr121 commented on #22890
Thank you

[2019-05-14 16:11] TheFredRoger commented on #22353
@eboli
have you solved issue ?
i am experiencing the exact same issue after upgrading from magento 2.1.1 to 2.3.1

Thanks

[2019-05-14 16:35] arnoudhgz commented on #22863
@magento-engcom-team give me 2.3.1 instance

[2019-05-14 16:35] magento-engcom-team commented on #22863
Hi @arnoudhgz. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-05-14 16:36] magento-engcom-team commented on #22863
Hi @arnoudhgz, here is your [Magento instance](https://i-22863-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22863-2-3-1.instances.magento-community.engineering/admin](https://i-22863-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-14 18:27] TheFredRoger commented on #22353
Ok, thanks. :)

[2019-05-14 18:50] Eduran1234 opened #22896 "Declined Error. Paypal not the issue Error 10606"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-05-14 18:50] Eduran1234 opened #22897 "Payment Declined 10606 Transaction rejected please contact the buyer"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-05-14 20:00] eduan opened #22899 "Incorrect return type at getListByCustomerId in PaymentTokenManagementInterface"
### Summary (*)
Magento 2.2.7
Magento 2.3.0
I'm trying to release the PaymentTokenManagement ->getListByCustomerId via API, but I'm facing the following issue:

[code]
it's due to the fact that the Interface return type documented is different from its implementation.

### Examples (*)

Interface method documentation (app/code/Magento/Vault/Api/PaymentTokenManagementInterface.php):

[code]

Implem

[2019-05-14 20:07] VSevenUser opened #22900 "Can't Add Google Analytics - Get cacheing error everytime"
**Preconditions**
Magento 2.2.2

**Steps to reproduce**
Sales >> Google API >> Enabled >> Add Tracking Code >> Anonymous IP NO >> Enable Content Experiments NO
Save
Get error: One or more of the Cache Types are invalidated: Configuration, Page Cache. Please go to Cache Management and refresh cache types.
All information in Google API is erased.
No Google UA number found when checking site with ins

[2019-05-15 03:49] tuyennn commented on #16171
Just maintain some old extensions,
I'm so confusing while it happened in some custom extension CLI commands(while load product model factory). Even I tried to set or emulate the area code, but no luck at all. Just give up with that dumb.

[2019-05-15 04:02] aman3103 commented on #22822
@eduard13 are you working on this or I can start work on this?

[2019-05-15 04:08] eduard13 commented on #22822
@aman3103 it has been already fixed. Check the above PR.

[2019-05-15 04:21] aman3103 commented on #22822
noted.

[2019-05-15 04:31] ajijshekh123 commented on #22896
Hi, @Eduran1234. Thank you for your report.
Please explain the issue in the proper format.
Explain in the description, step to be reproduced, Expected result and Actual result properly.

Please follow issue reporting guideline to report an issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-05-15 04:33] ajijshekh123 commented on #22897
This issue is related to #22896.
@Eduran1234 - If this issue found in a different scenario, Please add a proper step to be reproduced, Actual result and Expected result.

[2019-05-15 04:41] adrian-martinez-interactiv4 commented on #17634
For anyone interested, I think I can bring some light about this issue. It is a **concurrency (race condition) problem in \Magento\Framework\Code\GeneratedFiles::cleanGeneratedFiles, when the var/.regenerate flag is set, and more than one process/request tries to clean generated files**.

It is more likely to happen when you have cron enabled, and many cron groups using use_separate_process config

[2019-05-15 05:42] aapokiiso opened #22901 "Allow setting returned fields in search_request.xml"
### Summary (*)

It's not possible to customize fields returned by search engines (for example Elasticsearch) in `search_request.xml`.

### Examples (*)

In the case of Elasticsearch, `Magento\Elasticsearch\SearchAdapter\Query\Builder` forces the returned fields to be `['_id', '_score']`. This is OK in the case of product search, because you can fetch the remaining data through the product reposit

[2019-05-15 06:06] VZeroCool commented on #17634
This issue still present in 2.3.1. It getting disabled randomly. Does any one has fix ?

[2019-05-15 06:21] Adel-Magebinary commented on #16171
@tuyennn  Magento 2 is pretty hard to develop now days. There are just too many little triggers that might affect the stability of the platform.

I hope Magento team can make this better in the near future.

[2019-05-15 09:29] davidwindell commented on #22173
Confirmed on 2.3.1

[2019-05-15 09:50] LucScu commented on #17634
@adrian-martinez-interactiv4 very great hint, thx you.
I can't test it, maybe someone could verify your answer.

[2019-05-15 10:29] PascalBrouwers commented on #15541
This issue has NOT been fixed in #15542.
The new CurrencyConcerterAPI introduced in 2.3 does not process EUR.

[2019-05-15 10:33] TomashKhamlai commented on #15541
@PascalBrouwers, please provide steps to reproduce and reopen the issue or consider with creating a new issue but mention this one in the description. Thank you for your interest in this problem

[2019-05-15 10:41] emkookmer commented on #19604
Hi @buskamuza & @orlangur,

I'm planning to upgrade the servers that i'm managing to PHP7.3, but a couple of customers are running Magento2.
Could you provide a global timeline as to when support for PHP 7.3 is planned to be implemented?

[2019-05-15 11:00] mavajih commented on #22863
Hi @arnoudhgz Did you reproduce issue or get success to set image roles on Magento 2.3.1 instance ?

[2019-05-15 11:25] arnoudhgz commented on #22863
@mavajih no, I could not reproduce it with in 2.3.1. Could be that also flat tables is the issue. I have the issue in my Commerce 2.3.1 instance for a client. But I don't know yet why.

[2019-05-15 11:31] mavajih commented on #22863
Hi @arnoudhgz If you got success to set image roles via rest api in 2.3.1, then please share payload and way you tried.

[2019-05-15 11:39] DanielRuf opened #22903 "Installation with metapackage redirect to localhost and localhost/magento2ee"
### Preconditions (*)

1.

### Steps to reproduce (*)

1. Use the meta package for the community version (2.3.1)
2. Use `magento.localhost` as domain
3. Open `magento.localhost`

### Expected result (*)

1. The website should load
2.

### Actual result (*)

1. It redirect to `localhost`
2. `/admin` redirects to `localhost/magento2ee`

Solved: seems the scripts still had `http://localhost/magento2e

[2019-05-15 11:39] arnoudhgz commented on #22863
@mavajih no I only tested it in the back-end with normal upload / roles (this is where I have the issue and I thought it might be the same case).

[2019-05-15 11:40] #22903 closed, assigned to nobody

[2019-05-15 12:17] mavajih commented on #22863
@magento-engcom-team give me 2.3.1 instance

[2019-05-15 12:17] magento-engcom-team commented on #22863
Hi @mavajih. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-05-15 12:18] magento-engcom-team commented on #22863
Hi @mavajih, here is your [Magento instance](https://i-22863-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22863-2-3-1.instances.magento-community.engineering/admin](https://i-22863-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-15 12:33] irajneeshgupta commented on #22899
@magento-engcom-team give me 2.2-develop instance

[2019-05-15 12:33] magento-engcom-team commented on #22899
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-15 12:34] magento-engcom-team commented on #22899
Hi @irajneeshgupta, here is your [Magento instance](https://i-22899-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22899-2-2-develop.instances.magento-community.engineering/admin](https://i-22899-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-15 13:13] rimsey1 commented on #13252
bump, agree what is stopping this feature being merged?

[2019-05-15 13:19] irajneeshgupta commented on #22899
@magento-engcom-team give me 2.3-develop instance

[2019-05-15 13:19] magento-engcom-team commented on #22899
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-15 13:20] magento-engcom-team commented on #22899
Hi @irajneeshgupta, here is your [Magento instance](https://i-22899-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22899-2-3-develop.instances.magento-community.engineering/admin](https://i-22899-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-15 13:21] avra911 commented on #2916
Maybe
[code]
works better than
[code]

for consecutive errors.

[2019-05-15 13:29] tschirmer commented on #22488
@magento-engcom-team give me 2.3-develop instance

[2019-05-15 13:30] magento-engcom-team commented on #22488
Hi @tschirmer, here is your [Magento instance](https://i-22488-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22488-2-3-develop.instances.magento-community.engineering/admin](https://i-22488-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-15 13:34] tschirmer opened #22905 "Cart is emptied on product update"
### Preconditions (*)

1. 2.3.1
2. php 7.2

### Steps to reproduce (*)

1. Create a simple product
2. Add product to cart
3. Goto Cart page (view / edit cart from minicart)
4. Update the product qty within cart and press enter

### Expected result (*)

1. Product qty should change in cart

### Actual result (*)

1. Cart is emptied and no items are left in cart

[2019-05-15 13:35] tschirmer commented on #22905
@magento-engcom-team give me 2.3-develop instance

[2019-05-15 13:35] magento-engcom-team commented on #22905
Hi @tschirmer. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-15 13:36] magento-engcom-team commented on #22905
Hi @tschirmer, here is your [Magento instance](https://i-22905-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22905-2-3-develop.instances.magento-community.engineering/admin](https://i-22905-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-15 13:41] tschirmer commented on #22905
Found that this issue isn't present on the latest build of Magento as spunup by the bot.

This is current on Magento 2.3.1 as spun up by the bot in https://github.com/magento/magento2/issues/22488

[2019-05-15 13:41] #22905 closed, assigned to nobody

[2019-05-15 14:23] craigcarnell commented on #13225
What is the current status of this? I share pub/media across servers, but not pub/static.

After a deploy, I have to clear the cache on all servers otherwise CSS is not loaded.

[2019-05-15 15:23] oorobak commented on #20033
I have the same problem. Have someone this magical commit what repair this issue? Where I can find the solution for it before next release?

[2019-05-15 16:42] sdzhepa commented on #22824
Hello @astorm

Thank you for your report!

I investigated this issue and want to admit it is very hard to find manual scenario/steps to reproduce and confirm the issue.
But I see there is proposed Pull Request #22829 that should fix the problem.

Feel free to collaborate and assist @IvanChepurnyi (Author of fix) and @kandy (expert on Magento performance track) under #22829 discussion. It will real

[2019-05-15 16:43] magento-engcom-team commented on #22824
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is add

[2019-05-15 16:43] magento-engcom-team commented on #22824
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-05-15 16:44] magento-engcom-team commented on #22824
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99708` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-15 17:02] Jilco commented on #19211
I think i found it, it is in engintron NGINX. The micro cache is the problem

[2019-05-15 20:50] DrewML opened #22909 "requirejs/domReady.js can severely delay rendering of content"
### Preconditions (*)

1. Have a store running with an optimal Varnish setup (aka be fast to flush the HTML from the server)
2. Use a handler registered with [`requirejs/domReady.js`](https://github.com/magento/magento2/blob/211dd25c73bb2539c3c064374d9d5649f253fd14/lib/web/requirejs/domReady.js) to render some content on the page. As an example, the [Private Content](https://devdocs.magento.com/gu

[2019-05-15 20:50] DrewML commented on #22909
**Placeholder comment where I'll add a video**

[2019-05-15 21:05] cesmendez commented on #19117
Hello, I realize that this post is now closed.  But do you all know if there is a similar solution for M1 EE?

[2019-05-15 21:36] sdzhepa commented on #7171
Hello @rbostan

Thank you for your report.
The issue was fixed and delivered with commits:
- a49f5247902684ed6c19f99285a7015ab4a2507c
- e4353add8d0cbf628a8813bed5377baf700e57b9

[2019-05-15 21:36] #7171 closed, assigned to nobody

[2019-05-16 00:58] istoutjesdijk commented on #22842
I had a similar problem when 2 store views were using the same order numbers.

[2019-05-16 05:32] RonakParmar commented on #22840
@bhavik43  As per my knowledge, this is not a bug, I have followed above steps and found that it is correct behavior of "Ship Here" address functionality. Let me explain you what I have understood,
-> On Checkout -> "Shipping" page, you have selected one address on click of "Ship Here" button, So this address will be your shipping address, correct.
-> Now, On "Review & Payments" page, you have un-

[2019-05-16 06:58] magento-engcom-team commented on #22899
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99712`, `MAGETWO-99713` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-16 07:19] arnoudhgz commented on #22863
@mavajih I created a PR which solves my issue, could you maybe check if you apply this same change to your installation it also solves your issue?

`!isset` changed to `empty` check:
https://github.com/magento/magento2/pull/22910

Please note that between Magento 2.3.1 an the current 2.3-develop branch this logic is moved to a new file. In Magento 2.3.1 this logic is still in `app/code/Magento/Cat

[2019-05-16 07:34] irajneeshgupta commented on #22900
@magento-engcom-team give me 2.2-develop instance

[2019-05-16 07:34] magento-engcom-team commented on #22900
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-16 07:35] magento-engcom-team commented on #22900
Hi @irajneeshgupta, here is your [Magento instance](https://i-22900-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22900-2-2-develop.instances.magento-community.engineering/admin](https://i-22900-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-16 07:55] ShaileshRawat opened #22911 "Not able to change theme from backend 2.3.1"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-05-16 08:04] YevgenK commented on #22828
Can I have any comment from Magento support team?

[2019-05-16 08:06] MarcusWolschon commented on #20033
Whats the best way to disable the contact form and replace it with an email address?
People are complaining for 2 weeks about the non-working contact form now and rightfully so.

[2019-05-16 08:46] pietervanuhm opened #22912 "Failed to load the "ui/grid/cells/html""
### Preconditions (*)

1. Magento 2.2.8
2. Magento Admin - All views where tablegrids are used and then only in cells with multiple lines.

### Steps to reproduce (*)

1. Go to Sales > Orders
2. The pages keeps loading in de console log you see 2 errors.
-- If you do a CTRL + F5 the page is loaded but with empty cells where are multiple lines, like Purchase Point, Shipping address etc.

**Error 1:

[2019-05-16 08:57] bem22 commented on #21667
Hi.
I have the same issue, however, I can't say that I have the same __Preconditions__. Replicable in on 2.3.1 CE.

[2019-05-16 09:00] DrewML commented on #22909
@andrewhowdencom [pointed out](https://twitter.com/andrewhowdencom/status/1128946278124195840) on Twitter that I used a bit of a weird example case here.

To replicate, you can also add the following code anywhere in a page:

[code]

[2019-05-16 09:06] magento-engcom-team commented on #13153
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99714`, `MAGETWO-99715` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-16 09:20] AlexWorking commented on #22911
Hello @ShaileshRawat. Thanks for reporting. Though the steps needed to reproduce the issue may seem obvious judging just from the issue's title, we would ask you to provide some more information on how You reproduce it. Also please verify You can reproduce it on a clear Magento instance. For example, there are two available themes: Luma (set by default during installation) and Blank. Try to shift

[2019-05-16 09:47] wclansar commented on #22101
Hi ,
I am also getting same issue like as
Invalid input datetime format of value '11/22/2018'
In magento 2.3.1 after upgrade from 2.2.7.
Even my locale is en_US.

Thanks

[2019-05-16 10:00] david-fuehr commented on #19117
Hello @cesmendez,

I don't believe that someone implemented this (or a similar) fix for M1. But as the code hardly changed, you could try to apply these changes: https://github.com/magento/magento2/pull/20484/files to `magento/app/code/core/Mage/SalesRule/Model/Resource/Rule/Collection.php`

[2019-05-16 10:04] maartenatmarissen commented on #13316
Any update on this issue?

[2019-05-16 10:05] psuthar12 commented on #8034
Issue exist in Version 2.3.0, with multi website when we try to remove special price for any single website then it set it to use default Value. Is there any solution/Patch for this?

[2019-05-16 10:07] maartenatmarissen commented on #6868
Is there an update for this issue?

[2019-05-16 10:11] sanjaychouhan-webkul commented on #13153
There is a similar issue https://github.com/magento/magento2/issues/22762 which I have fixed.

[2019-05-16 10:56] psuthar12 opened #22913 "Special Price cannot be removed for single website"
Preconditions
1.Magento 2.3.0 Or Magento 2.2.8 CE with Sample data

Steps to reproduce

1. Setup multiple websites.
2. Open any product in admin panel assign it to all websites and set special price for it
3. Now edit product for any one website and remove special price for that.

Expected result

- Special price for the product should be removed for that particular website.

Actual result

- It i

[2019-05-16 11:44] AlexWorking commented on #22913
Hello @psuthar12. We have not been able to reproduce Your Issue. Could You please try to reproduce it on a clear instance of Magento as You are asked above:
![Screenshot_1](https://user-images.githubusercontent.com/27814011/57851368-9a12b980-779d-11e9-9838-6e2783291dee.png)
Thank You.

[2019-05-16 11:57] pietervanuhm commented on #22591
@dmytro-ch
Thanks for investigate this issue. But i still have a question..
An order have correctly qty Ordered, invoiced and shipped, should the order now go automatically complete or do we need to do something else to complete the order?

[2019-05-16 12:15] jorgb90 opened #22916 "Re-ordering orders with custom options gives exception"
Re-ordering orders with products with custom options isn't possible and gives "The product's required option(s) weren't entered. Make sure the options are entered and try again." as exception.

### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1. Create a product with custom options
2. Create an order with this product with custom options
3. Try to re-order this order

### Expecte

[2019-05-16 12:25] ajijshekh123 commented on #22897
Hi, @Eduran1234. Thank you for your report.
Please explain the issue in the proper format.
Explain in the description, Step to be reproduced, Expected result and Actual result properly.

Please follow issue reporting guideline to report an issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-05-16 12:26] jorgb90 commented on #22916
Above problem is solved with this commit!  https://github.com/magento/magento2/pull/19272/files

[2019-05-16 12:55] qsolutions-pl commented on #22785
We import data from Magento 1, that data is set there and if that data is set, we got the error as submitted here.

[2019-05-16 12:58] orlangur commented on #22892
Hi @magicaner, `module.xml` will be eliminated soon (see https://github.com/magento/architecture/blob/master/design-documents/simplified-module-declaration.md) so new features should not be added on top of it.

[2019-05-16 12:58] #22892 closed, assigned to magicaner

[2019-05-16 13:03] waqasaps2 commented on #15684
You have to change it in your CLI.

Write `php --ini` to get your loaded configuration ini file.
example:  /etc/php/7.2/cli/php.ini

write: nano php bin/magento  /etc/php/7.2/cli/php.ini
to open the file. i hope you know how NANO editor works

search for memory_limit and change it to 2G

Note: I use ubuntu CMD in windows, also you have to be in magento root directory when using these commands.

[2019-05-16 13:11] alexandrosk commented on #13260
It seems it works on 2.2.8 can someone agree on this?

[2019-05-16 13:21] arnoudhgz commented on #13260
@alexandrosk  you are right!

[2019-05-16 13:22] #13260 closed

[2019-05-16 14:03] saiky opened #22918 "On Magento2.2.8 adding images in product attribute in WUSIWUG sot showing image in frontend."
Hi,

Working with Magento2.2.8 we added product attribute with WUSIWUG editor in admin
image is showing perfect with admin url.

But, in product detail page its not showing image seems like media is not rendering
please check below code, the media url is not changing to dynamic url as its doing in admin.

`<div class="col-md-4 custom-accordion__col"><img src="{{media url=" wysiwyg="" u4888.png"}}"

[2019-05-16 15:37] magento-engcom-team commented on #22870
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99720` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-16 17:31] shikhamis11 commented on #22918
@magento-engcom-team give me 2.2-develop instance

[2019-05-16 17:31] magento-engcom-team commented on #22918
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-16 17:32] magento-engcom-team commented on #22918
Hi @shikhamis11, here is your [Magento instance](https://i-22918-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22918-2-2-develop.instances.magento-community.engineering/admin](https://i-22918-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-16 17:40] manfrinm commented on #22094
Hello @engcom-backlog-nazar
I'm looking to find the commit on 2.3.2 milestone that you mentioned, but I can't find any commit related to this issue.

I think that your comment: "this issue has already fixed in 2.3-dev branch and will be available on 2.3.2" is completely useless, the 2.3.2 release date is not published.
I observe that almost all official members of magento2 dev team use this respon

[2019-05-16 17:43] shikhamis11 commented on #22918
@magento-engcom-team give me 2.3-develop instance

[2019-05-16 17:43] magento-engcom-team commented on #22918
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-16 17:44] magento-engcom-team commented on #22918
Hi @shikhamis11, here is your [Magento instance](https://i-22918-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22918-2-3-develop.instances.magento-community.engineering/admin](https://i-22918-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-16 17:56] shikhamis11 commented on #22918
Hi @saiky,  please update issue description as per magento 2 issue reporting guideline .
you can refer link : https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-05-16 18:04] ibecmattb commented on #10454
Still occurs in Magento 2.3

The above module fix does not work for 2.3

Any movement on this or suggestions?

[2019-05-16 19:54] ladle3000 opened #22921 "Bundle Products Allowing More Than In Stock to Add to Cart"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Add to cart https://thegreennursery.com/bumgenius-freetime-aio-one-size-6-pack-bundle.html here for example.  As you can see we have just 1 of the color white in stock when you view the dropdowns.  Confirmed via magento backend backorder is not enabled and qty is one.  Magento is allowing the default configuration of all white t

[2019-05-16 20:42] hiren-aimsinfosoft commented on #22603
Hello @mozgbrasil ,

I have did clone in my local from your repository `https://github.com/mozgbrasil/deploy-magento2` .

I have followed below step to setup.

1. git clone https://github.com/mozgbrasil/deploy-magento2
2. cp env-example .env
3. nano .env [ I have setup my data base information and site baseurl in this. ]
4. composer install

Once I install I did not get any images in frontend page

[2019-05-16 21:13] reinaldomendes commented on #17634
It's  a race condition Magento\Framework\Code\GeneratedFiles::cleanGeneratedFiles.

You can simulate the problem using the code bellow.

[code]

[code]

[2019-05-16 21:18] niners52 commented on #15935
Just happened in 2.3.1

[2019-05-16 23:00] mozgbrasil commented on #22603
Hello

Now after the installation is running run the following command

    ls
    rm -fr magento backdoor composer.lock
    ls
    composer install -vvv

You should note that the installation process should not be done, but the deployment process should be done.

Note that the deployment process automatically creates the config.php and env.php files

It is at this point that it generates the occu

[2019-05-17 02:02] erankitsrivastava commented on #22921
@magento-engcom-team give me 2.3-develop instance

[2019-05-17 02:02] magento-engcom-team commented on #22921
Hi @erankitsrivastava. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-17 02:03] magento-engcom-team commented on #22921
Hi @erankitsrivastava, here is your [Magento instance](https://i-22921-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22921-2-3-develop.instances.magento-community.engineering/admin](https://i-22921-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-17 02:21] ankitsrivastavacedcoss commented on #22921
Hello @snoroozi,
you can use the shared instance of magento 2.3 to verify that this issue is not reproducible.
And I also have checked your website and it looks like you had some customization in the product view page, so I will suggest you to check the qty in the magento back-end for that product  and also check the  "Manage Stock" value on the "Advanced Inventory" section if it is set to no or y

[2019-05-17 02:30] ankitsrivastavacedcoss commented on #22861
Hello @SS7User
I think you have to contact the Linnworks support or your module provider for this issue only they can help you properly because this issue can not be reproducible in the vanilla instance of magento.

[2019-05-17 02:57] snoroozi commented on #22921
@ankitsrivastavacedcoss everything is set to manage stock yes on the simples at all store views, and the qty is 1.

I suppose this could be a 3rd party plugin issue. I will test on my dev site after disabling modules

[2019-05-17 05:38] krishprakash commented on #22921
Hi @snoroozi,
Also could you please try to reproduce it on a clean instance of Magento as you described above
![test1](https://user-images.githubusercontent.com/46617848/57905413-1982b480-7894-11e9-8d58-99b9ae73e0db.jpg)
Thank You.

[2019-05-17 05:40] saiky commented on #22918
Hi @shikhamis11 ,

To reproduce this issue simply follow below steps:
1. In the product attribute add a text area attribute.
2. After adding it In the Storefront properties Enable WYSIWYG
3. Now add a product with this attribute and put a image in this field.
4. In admin you find the image is displaying with admin url.
5. While in front-end the image is broken and appear as i mention in the code:

[2019-05-17 05:44] kamranbhutto opened #22923 "404 Not Found css folder"
### Summary (*)

ver 2.3.1

-Added March 26, 2019

### Examples (*)

pub/static/frontend/Magento/luma/en_US/mage/calendar.css
404 Not Found

### Proposed solution

[2019-05-17 05:49] shikhamis11 commented on #22923
hello @kamranbhutto , did you tried running upgrade and deploy commands ?

[2019-05-17 06:09] psuthar12 commented on #22913
@AlexWorking  Yes it is reproducing on vanilla Magento instance. Follow below steps

1. Add Multiple Websites.
2. Edit any product,  assign it to all websites, add special price and save.
3. Now edit that product again and switch to any particular website.
4. Now remove the special price from advanced pricing pop up (un check the use default value and empty the special price field and save).

Expe

[2019-05-17 06:16] hitesh-wagento commented on #22911
I am working on it

[2019-05-17 06:27] SyntaxKay opened #22924 "Store view label not in the middle of panel"
### Preconditions (*)

1. Magento 2.3 - Develop
1. Magento 2.2- Develop

### Steps to reproduce (*)

1. Login to admin panel
2. Content -> Design -> Configuration -> Edit any theme

### Expected result (*)

![expected](https://user-images.githubusercontent.com/33230237/57907301-a7619e00-789a-11e9-8586-327842a74e57.png)

### Actual result (*)

![actual](https://user-images.githubusercontent.com/332

[2019-05-17 06:29] kamranbhutto commented on #22923
deploy

[2019-05-17 06:31] matthiashamacher opened #22925 "Grand Total excluding Tax"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Create two websites
2. Make the following settings for the first Website:
    - Calculation Settings:
        - Catalog Prices: Including Tax
        - Shipping Prices: Including Tax
    - Price Display Setting:
        - Display Product Prices In Catalog: Including Tax
        - Display Shipping Prices: Including Tax
    - Sh

[2019-05-17 06:31] ajijshekh123 commented on #22897
@Eduran1234  fell free to reopen this issue when you will be ready to provide more details and we will review it and confirm.