[2019-11-20 05:10] nikonratm commented on #25400
For the next lonely soul who finds this, fix is here: https://github.com/magento/magento2/pull/23943
Amazing how unreliable Magento is, cant update without breaking 10 other things, regression bugs out the wazoo.

[2019-11-20 05:32] nikonratm commented on #12986
Magento you're kind of the worst. @Jilco Not the same bug but same effect, fix is here: https://github.com/magento/magento2/pull/23943 (fix submitted Aug 8, still not released...)

[2019-11-20 05:39] vincentteyssier commented on #22438
Same issue on 2.3.3, here is the log :

[code]

Vanilla 2.3.3 install. Ubuntu 18.04, PHP 7.3
The error does not happen all the time but approx once every 24 hours on my instance.

[2019-11-20 07:01] Jilco commented on #12986
@nikonratm yes i found that already and changed it in Magento core, and it solved the problem

[2019-11-20 07:01] magento-engcom-team commented on #25654
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29000` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-20 07:09] krishprakash commented on #24426
@magento give me 2.3-develop instance

[2019-11-20 07:09] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-20 07:10] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-20 07:31] edenduong opened #25661 "Wrong message in confirmation popup when delete customer group"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Customer -> Customer Groups
3. Create customer group with name **test-test**
4. Back to grid, choose that customer, select and click delete
See:

![image](https://user-images.githubusercontent.com/8234209/69217923-3e891480-0ba2-11ea-8b2e-7657e44786f4.png)

### Expected result (*)

1. Correct message with

[2019-11-20 07:53] colyield commented on #25221
Got the same problem. @AndyJAllen, thank you.

[2019-11-20 08:03] angelflo opened #25663 "Backend M 2.3.3 > Missing configuration field "Use SID on Storefront""
Hi,

I use SID to share basket for multi-websites but since last update on M 2.3.3 AND on M 2.2.10 the configuration field relative to this in the backend : "Use SID on Storefront" is missing and all my custom work stop working.

I can't find any information about this modification in forum, neither relese note.
Please can you tell me why this option suddently disapear ? is it a bug ?

Without thi

[2019-11-20 08:32] magento-engcom-team commented on #25661
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29003` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-20 08:43] magento-engcom-team commented on #25592
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29004` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-20 08:54] markojak commented on #11002
Why is this closed when it's an on-going issue?

[2019-11-20 09:12] AnnaShepa commented on #25636
@magento give me 2.3-develop instance

[2019-11-20 09:13] magento-engcom-team commented on #25636
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-20 09:13] magento-engcom-team commented on #25636
Hi @AnnaShepa, here is your [Magento instance](https://i-25636-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25636-2-3-develop.instances.magento-community.engineering/admin](https://i-25636-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-20 09:17] gwharton commented on #11002
@vincentteyssier Sounds normal behaviour to me. Default behaviour is every 15 minutes, magento will schedule in the next 20 minutes of cron jobs into the cron_schedule table. These will be in the pending state. Take a look at the times of your pending jobs. Are they all scheduled to run in the next 15 minutes or so. Once run they will change to success/failed status and will eventually be cleared.

[2019-11-20 09:32] ihor-sviziev commented on #25663
Hi @angelflo,
AFAIK it was removed due to security reasons.

Could you describe use case when it's needed?

[2019-11-20 09:41] engcom-Charlie commented on #25646
Hello @siliconalchemy

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.

**Testing scenario:**

1. Get the product which assigned to a lot of categories:
![image](https://user-images.githubusercontent.com/51680850/69227173-1988a780-0b8a-11ea-8107-da48df2cd7e9.png)

2. Update the product(make a PUT request wit

[2019-11-20 09:41] #25646 closed, assigned to engcom-Charlie

[2019-11-20 09:45] siliconalchemy commented on #25646
Huh, yes I still have this issue in 2.3.3.

[2019-11-20 09:49] ajijshekh123 commented on #25644
Hi @Zyles,

It may be an upgrading issue.

[2019-11-20 10:00] engcom-Charlie commented on #25646
@siliconalchemy i can't confirm issue of it only for 2.3.3( because 2.3.3 codebase has been merged in 2.3-develop) you can see info about it here:
![image](https://user-images.githubusercontent.com/51680850/69228985-425e6c00-0b8d-11ea-8ce0-725c03fef100.png)

[2019-11-20 10:01] magento-engcom-team commented on #25619
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29006` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-20 10:21] magento-engcom-team commented on #25636
:white_check_mark: Confirmed by @AnnaShepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29008` were created

**Issue Available**: @AnnaShepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-20 10:30] engcom-Charlie commented on #25630
Hello @vishalpatel14
I can't confirm your issue because he GitHub issue tracker is intended for Magento Core technical issues only. In your case was used Admin order Comment(third party extension).
Please refer to the Admin order Comment extension support, for advice or general discussion about this issue.

Fresh Magento 2.3-develop works fine:
![image](https://user-images.githubusercontent.com/51

[2019-11-20 10:46] vishalpatel14 commented on #25630
Hello Team,

We have not install any 3 party extensions. Also the bug is in core files itself. We are using the Download copy from  https://magento.com/tech-resources/download with version 2.3.3.

We have the fresh copy installed in 2 VPS servers and at both places we have this same issue.

After success payment customer redirect to Thank you page and in Admin order emails we have "," separated Se

[2019-11-20 10:58] attheCube commented on #11996
Hi,
the behaviour described above still exists in v 2.3.3 .

The reason why it should be possible to use uppercase letters in store code, is to differentiate regions in store code. Especially for using it within url.
So you could use 'de_DE', 'de_AT', 'en_US' or 'en_UK' as store codes, which is very useful in my opinion.

Surely it would be possible to do something weird by having this possibility

[2019-11-20 10:59] interequipment commented on #25634
Having same issue. (upgraded from 2.3.1  to 2.3.3)

[2019-11-20 10:59] vishalpatel14 commented on #25630
Hello Team,

We have not install any 3 party extensions. Also the bug is in core files itself. We are using the Download copy from  https://magento.com/tech-resources/download with version 2.3.3.

We have the fresh copy installed in 2 VPS servers and at both places we have this same issue.

After success payment customer redirect to Thank you page and in Admin order emails we have "," separated Se

[2019-11-20 11:23] engcom-Charlie commented on #25630
@vishalpatel14 i test it again and i still can't reproduct this issue on a clean Magento 2.3.3

**Testing scenario:**

1. Configure Send Order Email Copy to "youremail"
2. Place order via PP Express Checkout
3. Check mail

**Results:**
![image](https://user-images.githubusercontent.com/51680850/69234650-552a6e00-0b98-11ea-9bab-253e0f8f115c.png)
![image](https://user-images.githubusercontent.com/51

[2019-11-20 11:23] #25630 closed, assigned to engcom-Charlie

[2019-11-20 11:45] hemendraajmera opened #25667 "Image get disappeared after saving the category"
### Preconditions (*)

Magento ver. 2.3.

### Steps to reproduce (*)

1. open any category
2. upload image from upload button with new image and it working.
3. now open category in edit mode.
4. navigate to content section and this time click on select from the gallery and select any uploaded image it will show image on image place holder.
5. save the category.
6. now again check the image on the

[2019-11-20 11:57] attheCube opened #25668 "Magento 2 Store Code validation regex: doesn't support uppercase letters in scope code"
### Preconditions (*)

1. Magento v2.3.3
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Setup stores/store-groups/websites with uppercase scope codes via setup script.
2. Try to use to show configuration for this store via console. <br>=> bin/magento config:show --scope=store --scope-code=de_AT

### Expected result (*)

1. Output of store configuration

### Actual result (*)

1. Output of

[2019-11-20 12:00] AnnaShepa commented on #25660
Hi @canofpopcom thank you for the report. As it was mentioned in #22629 the issue isn't reproducible in Magento 2.3 and I checked it one more time now with simple, configurable, grouped and bundle products.  I would recommend you to update Magento to version 2.3.

[2019-11-20 12:01] #25660 closed, assigned to nobody

[2019-11-20 12:01] engcom-Charlie commented on #25505
@koenner01 could you verify it on Magento 2.3-develop?

[2019-11-20 12:07] AnnaShepa commented on #25667
@magento give me 2.3-develop instance

[2019-11-20 12:07] magento-engcom-team commented on #25667
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-20 12:07] magento-engcom-team commented on #25667
Hi @AnnaShepa, here is your [Magento instance](https://i-25667-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25667-2-3-develop.instances.magento-community.engineering/admin](https://i-25667-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-20 12:22] AnnaShepa commented on #25667
Hi @hemendraajmera thank you for the report. Unfortunately I cannot reproduce the issue.
Please make sure that you upload correct image type and size. You can try to reproduce the issue using [at]magento give me 2.3-develop instance in comment. Or just provide more information in steps to reproduce, btw. was the image saved and shown on UI after the 1st step?

[2019-11-20 12:23] vishalpatel14 commented on #25630
Hello @engcom-Charlie

I have debug the code and found the bug in core code how i can share you that so you can make this in next upcoming release?

[2019-11-20 12:28] vishalpatel14 commented on #25630
The Bug issue with the core file log as below.
/vendor/magento/module-sales/Model/Order/Email/SenderBuilder.php

Buggy function is:  public function sendCopyTo()

[2019-11-20 12:30] engcom-Charlie commented on #25630
@vishalpatel14 you can try to make a commit(or PR) to repository, but i can't confirm this bug

[2019-11-20 12:39] ilnytskyi opened #25669 "health_check.php fails if any database cache engine configured"
### Preconditions (*)

1. Configure any cache to database in env.php
2.3-develop
[code]
2.

### Steps to reproduce (*)

1. configure any cache type to database
2.

### Expected result (*)

1. health_check.php works
2.

### Actual result (*)

1. health_check.php fails since can't find `database` class in
[code]
2. health_check.php fails since can't create instance of `\Magento\Framework\Cache\Backe

[2019-11-20 12:52] kamzata commented on #21985
Just tested on Magento 2.3.3 and it still doesn't work. This bug it's a nightmare for me since my products are basically all on dropbox.

[2019-11-20 12:56] AnnaShepa commented on #25668
@magento give me 2.3-develop instance

[2019-11-20 12:56] magento-engcom-team commented on #25668
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-20 12:56] magento-engcom-team commented on #25668
Hi @AnnaShepa, here is your [Magento instance](https://i-25668-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25668-2-3-develop.instances.magento-community.engineering/admin](https://i-25668-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-20 13:01] vishalpatel14 commented on #25630
Hello @engcom-Charlie

I just checked with the same file on github repository and found that some one have solved it in that file. So the question is why the download copy dont have that new changed files? As we download the files from Magento website it have bugs files.

[2019-11-20 13:10] angelflo commented on #25663
It's needed when we use multiple website feature (rootdomain.com, domain1.com, domain2.com)
and when I need to centralise all the payment from a secure domain via rootdomain.com).
So after saving the order in the corresponding website (for exemple domain1.com), i need to redirect to the SSL secured domain rootdomain.com who's approuved by our payment provider.
It seeems that without this SID param

[2019-11-20 13:18] engcom-Charlie commented on #25630
@vishalpatel14 ah, sorry. That is happened because 2.3-develop branch is updating everyday with new fixes. Version on website is stable(version which was released before and it not updating with new fixes). All fixes will be available in next release(2.3.4).

[2019-11-20 13:23] vishalpatel14 commented on #25630
@engcom-Charlie So this will be not updated to the Magento official website download folder. Than who ever comes and download from their will have errors. Magento should updated the changes to the Stable Download version as thousand of people might be downloading the files from Magento website.

[2019-11-20 13:38] engcom-Charlie commented on #25630
@vishalpatel14 probably, but I think it’s more convenient to release a product. This question already belongs to business.

[2019-11-20 13:48] vishalpatel14 commented on #25630
@engcom-Charlie Okay but you can request to Magento people about this issue. May be they consider the important things. You may than close the Ticket.

[2019-11-20 13:51] engcom-Charlie commented on #25630
@vishalpatel14 i will ask it for you. But re-opening of this ticket doesn't make sense.

[2019-11-20 13:51] engcom-Echo commented on #18148
Closed as [25659](https://github.com/magento/magento2/issues/25659) new one with more details information.

[2019-11-20 13:51] #18148 closed, assigned to nobody

[2019-11-20 13:57] magento-engcom-team commented on #25659
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2019-11-20 13:59] magento-engcom-team commented on #25659
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29013` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-20 14:07] attheCube commented on #25668
Hi,
thanks for the instance to test.
In administration and in frontend no message are thrown in this instance.
But the message is thrown while using bin/magento config:show --scope=stores --scope-code=de_AT as I mentioned above and I don't have access to console to test.

The error message is thrown in the following files:
- vendor/magento/framework/App/Config/Scope/Validator.php
- vendor/magento/

[2019-11-20 14:14] kamzata commented on #21985
It works using "https://dl.dropboxusercontent.com/....?dl=1" !!!

[2019-11-20 14:15] engcom-Charlie commented on #25074
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-11-20 14:15] #25074 closed, assigned to nobody

[2019-11-20 14:17] magento-engcom-team commented on #25668
:white_check_mark: Confirmed by @AnnaShepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29015` were created

**Issue Available**: @AnnaShepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-20 14:19] #7637 closed, assigned to korostii

[2019-11-20 14:20] AnnaShepa commented on #25668
@attheCube  thank you for update, I managed to reproduce it as well
One more note: when I tried to change store name from admin BO, on save I've got the same error, but it was saved.

[2019-11-20 14:31] gibbotronic opened #25670 "FPC for unrelated products being cleared after editing a single product"
### Preconditions (*)

1. Magento 2.3.3 & 2.3-develop

### Steps to reproduce (*)

0. Load the demo store
1. Ensure that demo store is set to use FPC (Store > Config > System > Cahce > Full Page Cache
2. Load some product pages on the front end eg in Chrome. (Use the network tab in the browser inspector to note load time - TTFB should be ~700+ms ish)
3. Reload all pages. TTFB should be reduced to

[2019-11-20 14:32] gibbotronic commented on #25670
@magento give me 2.3-develop instance

[2019-11-20 14:32] magento-engcom-team commented on #25670
Hi @gibbotronic. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-20 14:33] magento-engcom-team commented on #25670
Hi @gibbotronic, here is your [Magento instance](https://i-25670-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25670-2-3-develop.instances.magento-community.engineering/admin](https://i-25670-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-20 14:47] gibbotronic commented on #25670
There is no data on that instance. I have tried adding 2 products and editing one but there are no indexers running on that instance and I have no way of forcing the indexers to run, so it is not a suitable test scenario for the bug.

Due to the this I cannot fully confirm on that instance, so I am marking this bug as “reproducible” on vanilla 2.3.3.

  yes <---------- YES

[2019-11-20 14:51] SigmaAndrei commented on #24992
Thank you @0x15f ,

Here is what Magento provided:
diff --git a/vendor/magento/module-captcha/view/frontend/templates/js/components.phtml b/vendor/magento/module-captcha/view/frontend/templates/js/components.phtml
index 8e13059b231..1bd7e554a73 100644
--- a/vendor/magento/module-captcha/view/frontend/templates/js/components.phtml
+++ b/vendor/magento/module-captcha/view/frontend/templates/js/compo

[2019-11-20 14:59] AnnaShepa commented on #25526
@magento give me 2.3-develop instance

[2019-11-20 14:59] magento-engcom-team commented on #25526
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-20 15:00] magento-engcom-team commented on #25526
Hi @AnnaShepa, here is your [Magento instance](https://i-25526-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25526-2-3-develop.instances.magento-community.engineering/admin](https://i-25526-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-20 15:11] magento-engcom-team commented on #25669
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29016` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-20 15:12] AnnaShepa commented on #25526
I was working with performance test using bulk and it was 100% successful even with 1000 simple products inside
@taihuuho could you please provide an example body of failed configurable product?

[2019-11-20 15:39] Zyles commented on #25644
Your video above is correct steps.

But it does not work for me after upgrade to 2.3.3.

When changing "attribute set" the form is not updated.

[2019-11-20 15:47] gibbotronic commented on #4688
Why is this bug closed???? There is no mention as to why it was closed??

This still seems to be an issue - see https://github.com/magento/magento2/issues/25670 that we are facing.

[2019-11-20 15:50] ihor-sviziev commented on #25663
This parameter was removed due to security reasons, I don’t believe it will
be added back, as security is more important.

What you describe - looks really custom flow. I suggest you to have SSL
certificates on all domains, for instance using Letsencrypt.

On Wed, 20 Nov 2019 at 15:11, angelflo <notifications@github.com> wrote:

[2019-11-20 16:15] angelflo commented on #25663
Hi again,
Thanks a lot but we choose Magento especially because it's modular and allow this specific feature and we invest a lot in extensions + custom dev on this solution, now it's to late for us to switch on prestashop !
I really don't understand why Magento team remove it ... I can totally understand that it can create security breach but in specific situation it's really mandatory, this is wh

[2019-11-20 16:16] bst2002git opened #25672 "Terms and Conditions validation not working on Braintree Creditcard payment"
### Preconditions (*)
Magento 2.3.3 or 2.3-develop
Simple product is created.
Condition in Terms and Conditions is created and enabled.

### Steps to reproduce (*)

1. Activate Braintree Creditcard with 3D Secure enabled
2. Make a checkout
3. Select Braintree-Creditcard payment
4. Don`t mark "Terms and Conditions" checkbox
4. Click "Place Order" button

### Expected result (*)
Should alert that ma

[2019-11-20 16:17] ihor-sviziev commented on #25663
In this case you could customize magento functionality to bring this
feature back for you

On Wed, 20 Nov 2019 at 18:15, angelflo <notifications@github.com> wrote:

[2019-11-20 16:19] angelflo commented on #25663
does your code is still active ? can I force re-enable it easly (with just
one param ?)

Le mer. 20 nov. 2019 à 17:17, Ihor Sviziev <notifications@github.com> a
écrit :

[2019-11-20 16:23] ihor-sviziev commented on #25663
I didn’t investigated how to add it back. You could review changes from
2.3.2 till 2.3.2-p2 ( there only security changes included) and see what
exactly was changed and just bring it back for you

On Wed, 20 Nov 2019 at 18:19, angelflo <notifications@github.com> wrote:

[2019-11-20 16:25] bst2002git commented on #25672
@magento give me 2.3-develop instance

[2019-11-20 16:26] magento-engcom-team commented on #25672
Hi @bst2002git. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-20 16:26] magento-engcom-team commented on #25672
Hi @bst2002git, here is your [Magento instance](https://i-25672-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25672-2-3-develop.instances.magento-community.engineering/admin](https://i-25672-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-20 16:42] reinaldomendes commented on #6610
I found a problem with Magento\CatalogRule\Model\Indexer\IndexBuilder which uses UTC (strtotime) but in Magento\CatalogRule\Model\Indexer\ReindexRuleProductPrice uses website config timezone.
I did a patch

composer.json
[code]
patches/composer/catalog-rule-disappear-next-day-patch.diff
[code]

[2019-11-20 16:46] stathis commented on #6610
@reinaldomendes Maybe you should do a pull request with that.

[2019-11-20 16:57] bst2002git commented on #25672
Same Issue as Magento 2.3.3, see Pictures
![magento_2 3 3_vanilla_braintree_creditcard_payment](https://user-images.githubusercontent.com/10232785/69259825-28d61800-0bbf-11ea-9503-61c766406035.jpg)
![braintree_magento_vanilla_onepage_checkout_after_3ds_password](https://user-images.githubusercontent.com/10232785/69259837-2bd10880-0bbf-11ea-8144-c91bd1f22ce7.jpg)

[2019-11-20 17:00] pioneerathletics commented on #22407
Same here, upgraded to 2.3.3 thinking this issue would be fixed. It is not.

[2019-11-20 17:15] AnnaShepa commented on #25526
I tried with configurable products - 100% success as well
Once I've got the same error "The product was unable to be saved. Please try again.", but it was because of wrong product body in request. So, please try to send your failed items via sync request rest/V1/products - probably you will get the same error

[2019-11-20 17:15] #25526 closed, assigned to nobody

[2019-11-20 17:16] qsolutions-pl commented on #25268
honestly @mohith227 that is not an answer nor a solution, I need customer object to fetch other customer data like:
- customer custom attributes
- customer group

[2019-11-20 17:24] dobooth opened #25674 "Elasticsearch version selections in admin are overly broad"
### Preconditions (*)

1. 2.2.x
2. 2.3.x

### Steps to reproduce (*)

1. When choosing Elasticsearch versions in Stores > Settings > Configuration > Catalog > Catalog > Catalog Search

### Expected result (*)
- Elasticsearch
- Elasticsearch 5.x(not sure)
- Elasticsearch 6.x

### Actual result (*)
- Elasticsearch
- Elasticsearch 5+
- Elasticsearch 6+

**Issues:**
1) Elasticsearch 5 is EOL and shoul

[2019-11-20 18:53] wibbel opened #25675 "Unable add product to cart in Magento 2.3.3 backend when stock quantity is 1 - "The requested qty is not available""
The problem is only shown in the 2.3.3 backend when making orders from Magento Admin. Any product that is added to te order that only has available stock of 1 displays "The requested qty is not available". Quantities of greater than 1 are fine.

### Preconditions (*)
1. Magento 2.3.3
2. Standard luma system
3. From Admin backend, modify one of the products so that quantity in stock is 1 e.g. Joust

[2019-11-20 18:54] wibbel commented on #25675
@magento give me 2.3-develop instance

[2019-11-20 18:54] magento-engcom-team commented on #25675
Hi @wibbel. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-20 18:55] magento-engcom-team commented on #25675
Hi @wibbel, here is your [Magento instance](https://i-25675-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25675-2-3-develop.instances.magento-community.engineering/admin](https://i-25675-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-20 18:56] karyna-t opened #25676 "Method checkIsAllRequiredOptions for Bundle product allows option without actual value"
This issue is related to https://github.com/magento/graphql-ce/issues/1039

Case: Bundle product, one of the required options has type  Multiple Select.
It is possible to add the product to a Cart without this option selected, for example via graphql query (no front-end validation in this case).
![no-value](https://user-images.githubusercontent.com/55278634/69268165-49aa6780-0bd7-11ea-9377-ab3fa91

[2019-11-20 19:05] wibbel commented on #25675
Confirmed on test instance
![2019-11-20_18-59-26](https://user-images.githubusercontent.com/15927277/69269281-9470b300-0bc8-11ea-9f8c-3aea2da7de95.jpeg)

![2019-11-20_18-59-06](https://user-images.githubusercontent.com/15927277/69269292-99356700-0bc8-11ea-827a-1cc1abb7da93.jpeg)

[2019-11-20 20:22] franMx commented on #14735
Hi, I'm experimenting the same issue. Is there a solution available?

[2019-11-20 21:20] Zyles commented on #25644
All caches have been cleared. No progress.

I can get the form to update doing the following:

1. Add Product
1. Change Attribute Set
1. Add Attribute (top right)
1. Add a random attribute to the product
1. Click Add Selected
1. Change attribute set again (NOW IT UPDATES) ...

[2019-11-21 00:07] davidedmonson commented on #2666
I realize this post is closed, but I wanted to add an update related to Magento ver. 2.3.2. I was running into this same error when uploading a csv that pulling a single image from an external url with no special characters or url related issues.
`Imported resource (image) could not be downloaded from external resource due to timeout or access permissions`

A quick check of the exception.log and I

[2019-11-21 00:23] perfpcs commented on #23450
Hey all, I also added this to my env.php like this:
'cron_consumers_runner' => [
'cron_run' => false,
'max_messages' => 1000,
'consumers' => [
'async.operations.all'
]
to supposedly fix hundreds of errors in our log like this:
main.INFO: Consumer "async.operations.all" skipped as required connection "amqp" is not configured. Unknown connection name amqp [] []
But we code not generate any coupon co

[2019-11-21 03:03] vincentteyssier commented on #11002
@gwharton you're right, after 24 more hours it is stable between 4k-4.1k and approx 300 pending

[2019-11-21 04:08] hemendraajmera commented on #25667
Thanks for updates.
Please follow below steps to reproduce the issue:
1. open any category
2. upload image from upload button with new image and it working.
3. now open category in edit mode.
4. navigate to content section and this time click on select from the gallery and select any uploaded image it will show image on image place holder.
5. save the category.
6. now again check the image on the

[2019-11-21 04:31] magento-engcom-team commented on #25676
@drpayyne Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-21 04:33] magento-engcom-team commented on #25676
:white_check_mark: Confirmed by @drpayyne
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29032` were created

**Issue Available**: @drpayyne, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-21 04:34] ajijshekh123 commented on #25675
Give me @magento give me 2.3-develop instance

[2019-11-21 04:34] magento-engcom-team commented on #25675
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-21 04:35] magento-engcom-team commented on #25675
Hi @ajijshekh123, here is your [Magento instance](https://i-25675-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25675-2-3-develop.instances.magento-community.engineering/admin](https://i-25675-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-21 04:43] VladimirZaets commented on #24840
Hi @hasim32. Thank you for your report.
The issue has been fixed in magento/magento2#25629 by @drpayyne in 2.3-develop branch
Related commit(s):
 - [16aabf76e99e00ba58ea133e4c140698acc17f17](https://github.com/magento/magento2/commit/16aabf76e99e00ba58ea133e4c140698acc17f17)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-21 04:43] VladimirZaets commented on #25589
Hi @dbabaev. Thank you for your report.
The issue has been fixed in magento/magento2#25613 by @fabriciosobral in 2.3-develop branch
Related commit(s):
 - [16fa4c4a6d4fd2e49cfbecef7a3fae11f18613cc](https://github.com/magento/magento2/commit/16fa4c4a6d4fd2e49cfbecef7a3fae11f18613cc)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-21 04:43] #25589 closed, assigned to fabriciosobral

[2019-11-21 04:43] VladimirZaets commented on #25276
Hi @danemacmillan. Thank you for your report.
The issue has been fixed in magento/magento2#25355 by @ptylek in 2.3-develop branch
Related commit(s):
 - [42d2163e2d0afa261411ae174b6fca23fe189045](https://github.com/magento/magento2/commit/42d2163e2d0afa261411ae174b6fca23fe189045)
 - [2c6ad75fc12645c8d6a13ebd3c66bb4fbae18da5](https://github.com/magento/magento2/commit/2c6ad75fc12645c8d6a13ebd3c66bb4

[2019-11-21 04:43] #25276 closed, assigned to ptylek

[2019-11-21 04:43] VladimirZaets commented on #25043
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#25623 by @fabriciosobral in 2.3-develop branch
Related commit(s):
 - [d0167a0029358c0324abdf3a8f6313bf66cff2ff](https://github.com/magento/magento2/commit/d0167a0029358c0324abdf3a8f6313bf66cff2ff)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-21 04:43] #25043 closed, assigned to fabriciosobral

[2019-11-21 04:50] ajijshekh123 commented on #25675
I have verified this issue. I have reproduced this issue.
**Please see attached the video:**

![Qty_Issue](https://user-images.githubusercontent.com/24711761/69304936-6a5ed580-0c48-11ea-9a6d-bbae506addc9.gif)

@wibbel - When the user clicks on the "Update Items and Quantities' button, This error will be gone.

[2019-11-21 04:50] magento-engcom-team commented on #25675
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29034` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-21 05:01] ajijshekh123 commented on #25644
@Zyles - I have applied the Same scenario but I can't reproduce this issue. It's working fine on my end.

Thanks.

[2019-11-21 05:47] johnperricruz commented on #23970
Temporary fix using this patch :

[Magento_v2.2.9_Iframe_Issue.patch.zip](https://github.com/magento/magento2/files/3872978/Magento_v2.2.9_Iframe_Issue.patch.zip)

git apply --whitespace=nowarn Magento_v2.2.9_Iframe_Issue.patch

[2019-11-21 07:00] marmikdesai commented on #23908
Hi,

I am facing this issue. Is this issue fixed?

[2019-11-21 08:03] angelflo commented on #25663
thanks for your reply ... i really hope that you'll take my suggestion in consideration and re-enable this feature on next update to leave the choice to your customers to manage their "risk vs feature" and not only destroy some things who work well since Magento 1 :-(

I can't invest again to re-anlayse and patch all the source code and create new problems after each update of magento because i us

[2019-11-21 08:05] sangthieu commented on #23411
I have same issue
@arnoudhgz After apply 25307.diff. Checkout page is working. I still have issue on checkout/success page
1 exception(s):
Exception #0 (Magento\Framework\Exception\NoSuchEntityException): No such entity with customerId = 4778

Exception #0 (Magento\Framework\Exception\NoSuchEntityException): No such entity with customerId = 4778
<pre>#1 Magento\Quote\Model\QuoteRepository->loadQuo

[2019-11-21 08:30] AnnaShepa commented on #25667
@hemendraajmera  thank you for update, I will try again. You can always just write
`@magento give me 2.3-develop instance`
in comment to any ticket and in a few seconds you will get an instance for 3 hours

[2019-11-21 08:30] magento-engcom-team commented on #25667
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-21 08:31] magento-engcom-team commented on #25667
Hi @AnnaShepa, here is your [Magento instance](https://i-25667-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25667-2-3-develop.instances.magento-community.engineering/admin](https://i-25667-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-21 08:51] magento-engcom-team commented on #25484
Hi @sunilit42.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-25140` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you stil

[2019-11-21 09:02] ihor-sviziev commented on #25663
Hi @angelflo,
Unfortunately it's not me did this decision to remove this option at all.
I even don't have details why it was removed, just know that it was as part of security patch, so it was removed because of some issue.

[2019-11-21 09:04] sangthieu commented on #23411
I updated function getQuoteByCustomer and it work better.

private function getQuoteByCustomer(): ?CartInterface
    {
        $customerId = $this->_customer
            ? $this->_customer->getId()
            : $this->_customerSession->getCustomerId();
        if(!$customerId) return null;
        try {
            $quote = $this->quoteRepository->getActiveForCustomer($customerId);
        } catc

[2019-11-21 09:06] interequipment commented on #23411
@sangthieu what is the file you modified?

[2019-11-21 09:14] sangthieu commented on #23411
@interequipment I using patch https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/25307.diff
In file app/code/Magento/Checkout/Model/Session.php funtion getQuoteByCustomer().
I added line if(!$customerId) return null;

[2019-11-21 09:19] drpayyne commented on #24840
Hi @VladimirZaets, this PR: https://github.com/magento/magento2/pull/25629 doesn't have the fix. As it is mentioned in the description, it only reverts the PR which was already submitted for this issue. The fix is in progress.

[2019-11-21 09:21] magento-engcom-team commented on #24840
@drpayyne Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-21 09:22] magento-engcom-team commented on #24840
:white_check_mark: Confirmed by @drpayyne
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29036` were created

**Issue Available**: @drpayyne, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-21 09:25] cstergianos commented on #20502
@magento-engcom-team I am gonna close this ticket

[2019-11-21 09:25] #20502 closed, assigned to cstergianos

[2019-11-21 09:30] dverkade opened #25679 "Magento 2.3.3 introduced backward incompatible changes to /Framework/Mail"
### Preconditions
1. Magento 2.3.3

### Steps to reproduce
1. Check commit https://github.com/magento/magento2/commit/3a90a0f61e953c8b943b8242525e77477cee8455#diff-fe7166a7e0c547acb18a774c9ddc9fe1
2. MessageEnvelope class and MessageEnvelopeInterface are renamed to EmailMessage class and EmailMessageInterface.
3. This introduces backwards incompatible changes while the version number of the compos

[2019-11-21 09:32] kerlama commented on #14582
I have the same issue on clean 2.3.3 version with sample data.

[2019-11-21 09:42] magento-engcom-team commented on #25656
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29037` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-21 09:49] engcom-Echo commented on #25672
@magento give me 2.3-develop instance

[2019-11-21 09:49] magento-engcom-team commented on #25672
Hi @engcom-Echo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-21 09:50] magento-engcom-team commented on #25672
Hi @engcom-Echo, here is your [Magento instance](https://i-25672-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25672-2-3-develop.instances.magento-community.engineering/admin](https://i-25672-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-21 09:50] duckchip opened #25680 "Console log error on Swagger page in 2.3.3"
### Preconditions

1. Magento 2.3.3
2. Swagger module installed

The following console error shows up when navigating to the swagger page on a blank Magento2.3.3:  `require.config is not a function`

This is because requirejs-config block got removed from the layout file for the swagger index page.

An easy fix would be to also add the following line to the layout file, but I don't know whether th

[2019-11-21 09:51] duckchip commented on #25680
@magento give me 2.3-develop instance

[2019-11-21 09:51] magento-engcom-team commented on #25680
Hi @duckchip. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-21 09:52] magento-engcom-team commented on #25680
Hi @duckchip, here is your [Magento instance](https://i-25680-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25680-2-3-develop.instances.magento-community.engineering/admin](https://i-25680-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-21 09:52] duckchip commented on #25680
can be reproduced on clean 2.3-develop instance

[2019-11-21 10:04] duckchip commented on #25680
fix confirmed on testing environment

[2019-11-21 10:17] ihor-sviziev commented on #18717
Hi,

We discussed this issue with @akaplya and did following decision:

Adding support for getting GET params to the redirect might cause security issue.
**Example 1**:
Till Magento 2.3.3 we had SID (session ID) in GET parameter, and it was enabled by default. Now it is disabled, _but still could be enabled_.

In case if targetPath will be set to external URL - this session ID will be sent to exte

[2019-11-21 10:21] magento-engcom-team commented on #25680
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29038` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-21 10:24] alexandrosk commented on #21689
I'm experiencing a similar problem on Enterprise solution because of the From - To Date on custom layout update. Although enterprise won't let me change those fields :/

[2019-11-21 10:46] magento-engcom-team commented on #25672
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-21 10:46] magento-engcom-team commented on #25672
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29039` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-21 11:12] engcom-Charlie commented on #25224
Hello @Bohorques15

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the Magento 2.3.3 by provided steps.

**Testing scenario:**

1. In the Magento admin, enter System > Web Setup Wizard
2. Enter the extension manager, then review and install. select an extension and click to install it

**Result:**
Success(finished):
[Screenshot](https://ibb.co/tDCXVMv)

I

[2019-11-21 11:12] #25224 closed, assigned to engcom-Charlie

[2019-11-21 11:17] engcom-Charlie commented on #25663
Hello @angelflo @ihor-sviziev
I guess we can close this issue as non-issue & not actual.

[2019-11-21 11:18] #25663 closed, assigned to engcom-Charlie

[2019-11-21 11:19] engcom-Charlie commented on #25353
Hello @hatimeria-artur-jewula
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-11-21 11:19] #25353 closed, assigned to nobody

[2019-11-21 11:24] krishprakash commented on #25667
Hi @hemendraajmera. issue is duplicate to #25099
Issue will be fixed in next 2.3.4 release
You can review the feedback from above given issue link.
Thanks.

[2019-11-21 11:25] krishprakash commented on #25667
Closing this ticket as it's already fixed in 2.3-develop

[2019-11-21 11:25] #25667 closed, assigned to AnnaShepa

[2019-11-21 12:23] andkirby commented on #19283
@sdzhepa, thanks for the update. That's about composer repository only.
And it was fixed ages ago. ;)

[2019-11-21 12:40] LouNik1984 opened #25683 "Magento 2.3.2 crontab fatal error: Class 'DOMDocument' not found"
### Preconditions (*)
1. Install magento 2.3.2 on ngnix with php 7.1.33
2. Check that all prerequisities and settings are ok, including required php libraries (dom, xml, imap, etc), permissions, executable files and so on

### Steps to reproduce (*)
1. add crontab (I used magento command cron:install)

### Expected result (*)
1. cron should run: I should see new entries in the cron_schedule table

[2019-11-21 12:46] david-fuehr commented on #25542
This issue is a duplicate of https://github.com/magento/magento2/issues/24902 and already fixed in MR https://github.com/magento/magento2/pull/24906

[2019-11-21 12:46] #25542 closed, assigned to andrewbess, magento-engcom-team

[2019-11-21 12:51] martinmaterzok commented on #24963
Could anyone fix this issue? Because it's quite urgent.

[2019-11-21 13:16] cafefin commented on #25649
Hi , Just update some information, i found my solution same https://github.com/magento/magento2/issues/13476

[2019-11-21 13:21] ajijshekh123 commented on #25649
Okay @cafefin, Let me close this issue.
This issue is duplicate #13476

Thanks for the Update @cafefin.

[2019-11-21 13:21] #25649 closed, assigned to ajijshekh123, sudheers-kensium

[2019-11-21 13:28] sudheers-kensium commented on #25637
@miloszowi I am not able to reproduced in Magento 2.3.3 instance. So I am closing this issue.

[2019-11-21 13:28] #25637 closed, assigned to nobody

[2019-11-21 13:41] domeglic commented on #16168
Can we reopen this issue because message queues are now in Open source, the issue still exists and was not fixed.
Magento: 2.3.3

[2019-11-21 13:42] bst2002git opened #25684 "Address update at checkout shows some Weird thing"
### Preconditions (*)
Magento 2.3.3

### Steps to reproduce (*)
Checkout change  Customer Address on payment

### Expected result (*)

### Actual result (*)
I'v exactly this Result (with other Customer-Name)

https://magento.stackexchange.com/questions/293174/magento-2-3-3-address-update-at-checkout-shows-some-weird-thing
![wired_thing_1](https://user-images.githubusercontent.com/10232785/69343012

[2019-11-21 13:42] bst2002git commented on #25684
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-11-21 13:42] magento-engcom-team commented on #25684
Hi @bst2002git. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-21 13:43] magento-engcom-team commented on #25684
Hi @bst2002git, here is your [Magento instance](https://i-25684-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25684-2-3-develop.instances.magento-community.engineering/admin](https://i-25684-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-21 14:07] Zansys opened #25685 "UPS shipping label creation giving Invalid Authentication Information"
Hi guys,

I've got UPS authentication error when try to create shipment with selected 'Create Shipping Label' shipping option.

### Preconditions (*)

1. Magento 2.3.1 (with sample data) & 2.3-develop
2. Centos 7.6
3. PHP 7.2.22

### Steps to reproduce (*)

1. Create order using some UPS shipping method
2. Login to the admin panel and select created order.
3. Click 'Ship' button and choose checkbo

[2019-11-21 14:48] bst2002git commented on #25684
Hmm, i'v imported some addresses into the develop instance to test (https://i-25684-2-3-develop.instances.magento-community.engineering/admin) and i can't see the file vendor/magento/magento2-base/lib/web/legacy-build.min.js being loaded. Which on my magento 2.3.3 installation is loaded and makes the wired thing...

[2019-11-21 14:56] flauschi commented on #22885
Is there an update on the issue?

[2019-11-21 15:07] jameswithers opened #25687 "Changes to one catalog price rule result in all catalog price rules being re-indexed"
### Preconditions
1. Magento 2.3.3
2. [Indexing mode](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/indexing.html#m2devgde-indexing-modes) set to Update by Schedule

### Steps to reproduce
1. Make a change to a single catalog price rule
2. Run the index cron in order to generate [Mviews](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/indexing.html#m2devgde-mview) (e.g.

[2019-11-21 15:08] AnnaShepa commented on #25684
Hi @bst2002git  I tried to reproduce the issue using the same address as on screenshot on test instance and on own environment (with the legacy-build.min.js file), but for me it still looks fine. Please check you js file and try to reproduce on clear magento. You can also check in dev tools some js erors

[2019-11-21 15:08] #25684 closed, assigned to nobody

[2019-11-21 15:12] #25572 closed, assigned to AnnaShepa

[2019-11-21 15:19] caitlinmekita commented on #25461
@magento-engcom-team give me 2.2.10 instance

[2019-11-21 15:19] magento-engcom-team commented on #25461
Hi @caitlinmekita. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-11-21 15:39] magento-engcom-team commented on #25674
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29043` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-21 15:42] bst2002git commented on #25275
@nadroj467 Hello did you resolve the Problem, what was it?

[2019-11-21 15:51] engcom-Charlie commented on #12512
Hello @krisdante
I think it would be much better to open a new issue and continue there since the original issue was fixed, and you added a new step with the option `Share Customer Accounts = Global`.

Could you create a new issue with clear description of this problem?

[2019-11-21 16:15] simonlandry0 opened #25689 "Authorize.net Acceptjs not checking transactional fields if they are too long"
### Preconditions (*)

1. Magento 2.3.3 or 2.3-develop installed
2. Authorize.net Accept JS installed and configured with API keys.

### Steps to reproduce (*)

1. Add something to cart and proceed to checkout
2. Enter a company name that is more than 50 characters long
3. Attempt to complete the payment

### Expected result (*)

1. It should refuse letting the user know that the company field can

[2019-11-21 16:17] LouNik1984 commented on #25683
Found the issue, it is not magento related. I'll close it, sorry for the mistake

[2019-11-21 16:17] #25683 closed, assigned to nobody

[2019-11-21 16:28] taihuuho commented on #25526
Sorry, I will send over the request payload soon. I am pretty sure that it's working fine via sync requests, as the sync request doesn't fit my requirements, that's when I looked into Bulk API.
Also, you guys need to explicitly state what the requirements and the recommended configurations for RabbitMQ server.
RabbitMQ was closing the connection somehow or something else was happening, but the con

[2019-11-21 16:29] taihuuho commented on #25526
@AnnaShepa I would re-open the issue when I send over the request body

[2019-11-21 16:57] Zyles commented on #25644
Good for you.

What is my solution?

We need to add new products. Upgrading Magento brought more bugs than it fixed.

[2019-11-21 17:05] rafaelstz opened #25690 "RequireJs is not resolving CDN path for some js files"
### Summary (*)
When we install an extension which requires a CDN file through the file `requirejs-config.js`, and our store is using production mode, the compilation changes the js path, including **.min**, so getting an error 404.

### Examples (*)
It's an example, https://github.com/rafaelstz/magento2-quicklink

### Proposed solution
I think it's related with the requirejs configuration when it

[2019-11-21 17:11] JithinEdathadan opened #25691 "Magento 2 MSI not updating the salable Quantity Properly and thus customer can order more product than actual available stock."
Hi Am facing a Tricky issue on Magneto 2.3.3  Opensource edition .

**Preconditions**

1 Magneto 2.3.3 .
2 Multi Store enabled .
3 Multi inventory enabled.

**Steps to reproduce**

The issue is as follows (Explained with an example for ease of understanding ) :

 I have Two stores on an magneto admin say `Store X` and `Store Y` , one for `county X` and other for `country Y` .

I have also 2 Separa

[2019-11-21 18:05] adamlavery commented on #23450
@rf-magma - where did you find the info to correctly setup RabbitMQ? The Magento guide is inaccurate and woefully inadequate! Having finally got a working RabbitMQ (using 3.8.1 for correct distro, not 3.5.6 documented), what next? As the guide says to include the RMQ user, I guess we have to create one, but with what permissions?

It's not clear at all if Magento 2.3 needs RabbitMQ for core functi

[2019-11-21 18:08] krzksz commented on #12394
I'm closing this due to the inactivity and no clear reproduction path that can be check on clean Magento installation provided. Dear @twain83, please reopen the ticket and add this information if the problem still occurs on Magento 2.3.x.

[2019-11-21 18:08] #12394 closed, assigned to nobody

[2019-11-21 19:05] krzksz commented on #13950
Closing this as mentioned PR was merged: https://github.com/magento/magento2/pull/13894

[2019-11-21 19:05] #13950 closed, assigned to nobody

[2019-11-21 19:12] krzksz commented on #12217
It seems that the issue was fixed in mentioned PRs, I have also confirmed that on Magento 2.3.x theme with empty `web` directory compiles properly.

[2019-11-21 19:12] #12217 closed, assigned to nobody

[2019-11-21 19:23] krzksz commented on #20198
@magento give me 2.3-develop instance

[2019-11-21 19:23] magento-engcom-team commented on #20198
Hi @krzksz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-21 19:23] magento-engcom-team commented on #20198
Hi @krzksz, here is your [Magento instance](https://i-20198-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20198-2-3-develop.instances.magento-community.engineering/admin](https://i-20198-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-21 19:28] krzksz commented on #20198
Based on linked issues and my own testing I can confirm that issue was fixed and is no longer reproducible on Magento 2.3.x.

[2019-11-21 19:28] #20198 closed, assigned to nobody

[2019-11-21 19:55] bubasuma commented on #25484
Internal Magento team is working on this issue right now.

[2019-11-21 20:13] navarr commented on #25403
This patch is not yet tested, but should resolve the issue:

[code]

If anyone using Vertex as their calculation engine needs a fix.  Disabling the module also works well if you are not using Vertex as your calculation engine.

A fully tested and proper fix should be included with Magento 2.3.4

[2019-11-21 20:22] magento-engcom-team commented on #23719
Hi @michelecanal.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-18226` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you s

[2019-11-21 20:22] #23719 closed, assigned to nobody

[2019-11-21 20:27] krzksz commented on #25350
@magento give me 2.3-develop instance

[2019-11-21 20:27] magento-engcom-team commented on #25350
Hi @krzksz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-21 20:27] magento-engcom-team commented on #25350
Hi @krzksz, here is your [Magento instance](https://i-25350-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25350-2-3-develop.instances.magento-community.engineering/admin](https://i-25350-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-21 21:03] LiamKarlMitchell commented on #7399
Still a problem in Magento 2.3.0

[2019-11-21 22:18] krzksz commented on #12841
This issue seems to be no longer reproducible on `2.3-develop`. I've overwritten `Magento_Checkout/js/model/place-order.js` using Chrome Overrides and replaced:
[code]
with:
[code]
which makes the request `/guest-carts/*/payment-information` always return empty `400` response in which case error is properly displayed and no information is being lost.

[2019-11-21 22:18] #12841 closed, assigned to krzksz

[2019-11-21 22:22] krzksz commented on #13209
@magento give me 2.3-develop instance

[2019-11-21 22:23] magento-engcom-team commented on #13209
Hi @krzksz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-21 22:23] magento-engcom-team commented on #13209
Hi @krzksz, here is your [Magento instance](https://i-13209-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-13209-2-3-develop.instances.magento-community.engineering/admin](https://i-13209-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-22 02:05] 4DallasC opened #25694 "Creditmemo not working for simple only products with no product options"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)
1. Create Order with simple only products and no options.
2. Create Creditmemo - save button give javascript errors - disableElements not defined
3. Orders with product options bring in script code that requires prototype. Bring in the legacy-build.min.js javascript library solves this issue.

### Expected result (*)

1. Refund bu

[2019-11-22 03:11] smgPatM commented on #8504
Our team is fighting this same issue.   (All of this for older browsers that don't yet support the newer content-security-policy header.)

Yes, this should be more controllable in some way.
We don't want to globally allow ALL pages to be iframable.   A default XFO of SAMEORIGIN is fine.  But there has to be some way for application to modify/override the default XFO setting.
We need a programmatic

[2019-11-22 03:18] Zyles commented on #25644
1. New fresh install
2. Moved the database from old installation to new install
3. No third party modules installed
4. Same problem

Seems to be an issue with database migration on an update or something.

[2019-11-22 03:39] pavelshulgabi opened #25695 "Missing required argument $indexerIds when running setup:install"

[2019-11-22 04:12] Zyles commented on #25644
Heres a video for you.

![magento2bug](https://user-images.githubusercontent.com/1741593/69397496-be1ffc00-0ce6-11ea-821e-fe2519bd270e.gif)

[2019-11-22 04:14] pavelshulgabi commented on #25695
As error message generated suggests there is an issue with indexerIds valiable which is a array type parameter of contruct. Normally it is safe to use non-class based parameters but make sure those are marked as not required parameters and ordered accordingly in method signature.
<img width="605" alt="Screen Shot 2019-11-22 at 2 41 40 pm" src="https://user-images.githubusercontent.com/31196887/693

[2019-11-22 05:11] taihuuho commented on #25526
@AnnaShepa so you can find the whole payload attached
[payload.txt](https://github.com/magento/magento2/files/3878036/payload.txt)

Pretty interesting that now I am getting another error
<img width="1334" alt="Screen Shot 2019-11-21 at 11 09 52 PM" src="https://user-images.githubusercontent.com/12061272/69399521-0ffb5e80-0cb4-11ea-92f8-3d3d5337e17a.png">

Here is the meta info for that configurabl

[2019-11-22 05:14] #25695 closed, assigned to nobody

[2019-11-22 07:04] stijnbernards opened #26113 "GraphQL Cart endpoint returns incorrect or different product images"
### Preconditions (*)
1. Blank Magento 2.3.3 installation
2. No Sample Data installed
3. Uploaded custom images via backend.

### Steps to reproduce (*)
1. Create a guest cart via GraphQL
2. Add a product to your cart via GraphQL
3. Query the cart via GraphQL
[code]

### Expected result (*)
1. Image url is working as it should

### Actual result (*)
1. Check the query cart response, the image is r

[2019-11-22 07:06] stkrelax opened #25696 "Inventory Reservation not taken into account when setting Product out of Stock"
### Preconditions (*)

1. Magento 2.3.2
2. MSI with default Stock only ( default stock only is not a must but MSI is)

### Steps to reproduce (*)
1. set up one Product with qty 1 salable
2. complete an order buying the product (a new entry in inventory_reservation was made)
3. post /V1/inventory/source-items set Product to qty 0 and status 0 (simulating the client updating the stock because it was

[2019-11-22 07:38] 4DallasC commented on #23054
Hi All,

Replace incredibly inefficient sql in constant with inner join with temporary memory table with index support, will stop this cron from taking up so much and crashing in the first place.

Use the attached file and override inefficient function:-
[code]

[2019-11-22 08:07] 4DallasC commented on #25694
2.3-develop has the same old JavaScript code in the onclick event to create the creditmemo.
#confirmed

[2019-11-22 08:19] agallart commented on #25526
@AnnaShepa  can you post some example for bulk insert products to try with my envoirment ?

individually the products can insert with bulk ..I think this is not problem of format.

thnks

[2019-11-22 09:15] engcom-Charlie commented on #25685
@magento give me 2.3-develop instance

[2019-11-22 09:15] magento-engcom-team commented on #25685
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-22 09:16] magento-engcom-team commented on #25685
Hi @engcom-Charlie, here is your [Magento instance](https://i-25685-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25685-2-3-develop.instances.magento-community.engineering/admin](https://i-25685-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-22 09:25] magento-engcom-team commented on #25685
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29067` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-22 09:36] engcom-Echo commented on #25694
Hello @4DallasC

Could you provide more details for reproduce this issue?
Please add screenshots.

Thank you!

[2019-11-22 09:42] magento-engcom-team commented on #25689
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29068` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-22 09:46] AnnaShepa commented on #25526
@tiagobnu I managed to create items using your request with only one change: I have only default attiribute_set_id, so I changed it from 9 to 4. According to the error from your screenshot you have to check that on your server you have listed ids: attribute_id 93 and 138 and value_index for those attributes.
I run as well a few bulk requests with 100 products like this and all were succeed. So @ag

[2019-11-22 09:50] engcom-Charlie commented on #23771
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-11-22 09:50] #23771 closed, assigned to engcom-Charlie

[2019-11-22 09:54] 4DallasC commented on #25694
Howdy @engcom-Echo

In the files:-
- vendor/magento/module-sales/Block/Adminhtml/Order/Creditmemo/Create/Items.php
- vendor/magento/module-sales/Block/Adminhtml/Order/Invoice/Create/Items.php
- vendor/magento/module-shipping/view/adminhtml/templates/create/items.phtml

All the above files include the same outdated JavaScript function without using require(['legacy-build.min']); or require(['protot

[2019-11-22 10:11] magento-engcom-team commented on #25670
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29069` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-22 11:04] ghost opened #25698 "Issue 404 Not found if there is an apostrophe in URL key"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Create a Product with URL key with **'** (apostrophe) like _te'st_
![Screenshot_552](https://user-images.githubusercontent.com/42089978/69420935-c4919080-0d45-11ea-95f1-374deb592172.png)
2. Search the product in front end and click on it.

### Expected result (*)
1. Should redirect to Product View page

### Actual result (*)
1.

[2019-11-22 11:22] katesuykovskaya commented on #14240
@magento-engcom-team the condition to reproduce is - when creating configurable attribute you need to choose an attribute, that is not present in attribute set, that future simple products will be created

[2019-11-22 11:24] katesuykovskaya commented on #10076
@magento-engcom-team the condition to reproduce is - when creating configurable product you need to choose an attribute, that is not present in attribute set, that future simple products will be created

[2019-11-22 11:26] ajijshekh123 commented on #25698
Give me @magento give me 2.3-develop instance

[2019-11-22 11:26] magento-engcom-team commented on #25698
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-22 11:27] magento-engcom-team commented on #25698
Hi @ajijshekh123, here is your [Magento instance](https://i-25698-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25698-2-3-develop.instances.magento-community.engineering/admin](https://i-25698-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-22 11:32] magento-engcom-team commented on #25698
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29070` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-22 11:38] alexkwellbe commented on #25698
@magento I am working on it

[2019-11-22 11:41] engcom-Charlie commented on #25687
Hello @jameswithers
I can't confirm your issue because it is not valid to do re-index only for one catalog price rule.

**Explanation:**
for example you have 3 same catalog price rules with different discount % assigned to same products:
`catalogrule` table:

![image](https://user-images.githubusercontent.com/51680850/69422486-820f8a00-0d2c-11ea-9607-e21d4d2e1141.png)

`catalog_product_index_price

[2019-11-22 12:28] staradzinau opened #25700 "Incorrect behaviour of export/import logic for product with datetime attribute"
### Preconditions (*)

1. Magento 2.3.3 or 2.3-develop
2. Set Locale to "English (United Kingdom)"
3. Default County: United States
4. Product attribute with "Catalog Input Type for Store Owner" => 'Date' (for example - 'test_date_attribute')
5. Add this attribute to default attribute set
6. Simple product with date attribute 'test_date_attribute' is created. (SKU = 'test-product-sku')

**Scenario

[2019-11-22 12:29] avgust1111 commented on #25700
@magento give me 2.3-develop instance

[2019-11-22 12:29] magento-engcom-team commented on #25700
Hi @avgust1111. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-22 12:29] magento-engcom-team commented on #25700
Hi @avgust1111, here is your [Magento instance](https://i-25700-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25700-2-3-develop.instances.magento-community.engineering/admin](https://i-25700-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-22 12:31] samumaretiya commented on #25550
Hi @engcom-Charlie,

It's very sad that without proper testing you closed this ticket.

I had clearly mentioned that we are running into an issue with Magento 2.3.2 then what is the meaning of your upgrade with Magento 2.3.3.

I have posted this thread on Linkedin and many other developers have the same issue with 2.3.2 but they don't have any solution.

I had made a fix by myself which is not com

[2019-11-22 12:35] adamlavery commented on #23432
This is quite disgraceful. While we might expect breaking changes like this in the first major release (i.e. 2.3.0), this sort of thing should not be introduced in minor releases. I've followed the other discussions and think you guys need to get some real-world experience and put backward compatibility at the forefront of your decision processes.

It's not theme developers or extension developers

[2019-11-22 12:44] avgust1111 commented on #25700
It's impossible to reproduce the issue within the provided Magento instance: running cron job is required for fetching export results (CSV file). Seems like specified M2 instance doesn't have running cron job

[2019-11-22 13:08] engcom-Echo commented on #25694
Hello @4DallasC

Thank you for your report and collaboration!
We are not able to reproduce this issue on the 2.3.3 branch by provided steps.

**Testing scenario:**

**Preconditions:**
Simple and configurable products has been created and assigned to a category

**Scenario 1**
**Steps to reproduce:**

1. Add Simple Product to cart.
2. Place an order.
3. Go to admin.
4. Go to Sales → Orders and open

[2019-11-22 13:48] jeroenalewijns opened #25701 "Product swatch doesn't show specific swatch image(s) with sample data"
### Preconditions (*)
1. Clean install Magento 2.3.3 Commerce
2. Sample data installed via composer

### Steps to reproduce (*)
1. Install Magento2.3.3 via composer (composer create-project --repository=https://repo.magento.com/ magento/project-enterprise-edition cleaninstall 2.3.3)
2. add correct auth.json credentials
3. run bin/magento setup:install
4. run bin/magento sampledata:deploy
5. run bi

[2019-11-22 13:49] engcom-Echo commented on #25696
Hello @stkrelax

The same [ticket](https://github.com/magento/inventory/issues/2725) has already been created and moved to the MSI repository.
So I close it.

[2019-11-22 13:49] #25696 closed, assigned to engcom-Echo

[2019-11-22 13:51] samgranger commented on #25701
@magento give me 2.3-develop instance

[2019-11-22 13:52] magento-engcom-team commented on #25701
Hi @samgranger. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-22 13:52] magento-engcom-team commented on #25701
Hi @samgranger, here is your [Magento instance](https://i-25701-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25701-2-3-develop.instances.magento-community.engineering/admin](https://i-25701-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-22 14:05] tdm4 commented on #17951
@jordanvector  `pkill -f queue:consumers` might work better than 4 pipes ;)

[2019-11-22 14:15] taihuuho commented on #25526
@AnnaShepa can you not the product description when importing?

Pretty interesting that I tried to import 100 products with consist of around 10,000 records in DB. I can see that 15 configurable products were created. And the 85 others were failed to import.

My best guess is because the description field contains some HTML tags?

I don’t know

[2019-11-22 14:41] sudheer-gajjala commented on #25433
@krishprakash @magento-engcom-team this is not seems to be an issue, since we have a trash icon at the end of the row. User can click on trash icon and close the popup.

[2019-11-22 15:33] fabriciosobral opened #25703 "Need margin bottom to new Widget in Checkout/Cart Summary box"
### Preconditions (*)

1. Clean install Magento 2.3.3 Commerce
2. Sample data installed via composer
### Steps to reproduce (*)

1. Create one new BLOCK with text into this
![screenshot-local magento com br-2019 11 (2)](https://user-images.githubusercontent.com/51653844/69438292-88e5cf00-0d23-11ea-989d-83c0c1e3c0f0.png)

2. Create one new WIDGET
![magento-dev1](https://user-images.githubuserconten

[2019-11-22 15:33] fabriciosobral commented on #25703
I am working on this issue

[2019-11-22 15:34] engcom-Echo commented on #25700
Hello @avgust1111

Thank you for your report and collaboration!
We are not able to reproduce this issue by provided steps.
Tested on 2.3-develop and 2.3.3

**Testing scenario:**

**Preconditions:**

1. Default locale - United States
2. Product attribute with "Catalog Input Type for Store Owner" => 'Date' (for example - 'test_date_attribute')
3. Add this attribute to default attribute set
4. Simple

[2019-11-22 15:46] fabriciosobral commented on #25703
@magento give me 2.3-develop instance

[2019-11-22 15:46] magento-engcom-team commented on #25703
Hi @fabriciosobral. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-22 15:47] magento-engcom-team commented on #25703
Hi @fabriciosobral, here is your [Magento instance](https://i-25703-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25703-2-3-develop.instances.magento-community.engineering/admin](https://i-25703-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-22 15:54] avgust1111 commented on #25700
Hello, @engcom-Echo !
Thank you for the quick feedback

Please, check, which county is used in the "Country options" section in the "General" tab?
Had your CSV export file been generated by cron, after some delay?

I've reproduced the same issue on the 2.3.3 installation with native sample data, all the dates in the CSV export file have the incorrect format, please, look:
![aw_651](https://user-im

[2019-11-22 16:02] fabriciosobral commented on #25703
Reproduced in 2.3-develop
![screenshot-i-25703-2-3-develop instances magento-community engineering-2019 11](https://user-images.githubusercontent.com/51653844/69440881-60ac9f00-0d28-11ea-8427-0e4ea887abea.png)

[2019-11-22 16:44] VladimirZaets commented on #25652
Hi @adamvarga. Thank you for your report.
The issue has been fixed in magento/magento2#25666 by @alexey-rakitin in 2.3-develop branch
Related commit(s):
 - [f97f68d88009eae7aef52c3404df84635e1a659b](https://github.com/magento/magento2/commit/f97f68d88009eae7aef52c3404df84635e1a659b)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-22 16:44] #25652 closed, assigned to alexey-rakitin

[2019-11-22 16:44] VladimirZaets commented on #25680
Hi @duckchip. Thank you for your report.
The issue has been fixed in magento/magento2#25682 by @duckchip in 2.3-develop branch
Related commit(s):
 - [748de99356d5fcec2839f860484311255aac7d32](https://github.com/magento/magento2/commit/748de99356d5fcec2839f860484311255aac7d32)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-22 16:44] #25680 closed, assigned to duckchip

[2019-11-22 18:44] siliconalchemy commented on #11950
I can confirm this problem is still present in Magento 2.3.3.  @krzksz - the problem is not that the email address validation is faifling or blocking initially, it's that *after* you've gone to the next Review&Payment step, in the background LastPass seems to fill in an admin username into the email field of the Delivery - because the email field name is 'username'.  So now when you click 'Place O

[2019-11-22 19:11] mattyl commented on #19670
I am experiencing this across a number of magento installations 2.2.9 and 2.3.3 - after flushing image cache - only product image is rengenerated, media gallery isnt - I am forced to do the teerrible bin/magento catalog:image:resize command (terrible because its very slow on large catalogues and if it fails you have to start from the begining - would be better if we could batch, define start numbe

[2019-11-22 21:20] krzksz commented on #11950
@magento give me 2.3-develop instance

[2019-11-22 21:21] magento-engcom-team commented on #11950
Hi @krzksz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-22 21:21] magento-engcom-team commented on #11950
Hi @krzksz, here is your [Magento instance](https://i-11950-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-11950-2-3-develop.instances.magento-community.engineering/admin](https://i-11950-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-22 21:54] Beowulf891 commented on #15545
@vadim-shulyak Lifesaver. Worked like a charm.

[2019-11-22 22:05] krzksz commented on #11950
@siliconalchemy I'm sorry but I still can't reproduce it, you need to provide me an exact path you are following. Mine is:

1. I have `admin`/`123123q` credentials added in lastpass for admin.
2. I add the product and go to the checkout.
3. I fill all the data in shipping address form.
4. I click on next button.
5. I keep billing and shipping address the same.
6. After clicking `Place Order` butto

[2019-11-22 22:11] krzksz commented on #23481
This is a dupplicate of https://github.com/magento/magento2/issues/19805

[2019-11-22 22:37] krzksz commented on #25690
I can confirm that links outside of `baseUrl` are getting transformed with `min.js`/`min.css` suffix:
<img width="328" alt="obraz" src="https://user-images.githubusercontent.com/829189/69465300-17d50480-0d81-11ea-8aed-a3882c9ea821.png">

[2019-11-22 22:38] magento-engcom-team commented on #25690
@krzksz Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-22 22:39] magento-engcom-team commented on #25690
@krzksz Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-22 22:41] magento-engcom-team commented on #25690
:white_check_mark: Confirmed by @krzksz
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29104` were created

**Issue Available**: @krzksz, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-23 00:03] 4DallasC commented on #25694
Hello @engcom-Echo

Is the system you setup globally accessible? As I said in the beginning, that the page requires prototype to be included injected into the page for this function to work and is not always being included, but is sometimes, for example when one of the product has options.

To use legacy functions like `disableElements(\'submit-button\');` should be called like `require(['prototyp

[2019-11-23 03:13] terrybakshi opened #25705 "Fake User registrations"
### Preconditions (*)
   Magento 2.2.7
   PHP 7.0

 Fake user registration
     - Magento 2.2.7,
     - User are getting registered even when putting link or spam text in name and last name field,
     - Expected results should be no more than 10 or 15 character allowed in User Name and last name field on registration page,

### Steps to reproduce (*)

-->
1. User are getting registered even when

[2019-11-23 05:40] ananth-iyer commented on #25694
While creating a New Credit Memo/Refund, in item grid section there is "Return to Stock" checkbox. If you select that then Quantity will be directly added to the product.
![2019_11_23_Selection_01](https://user-images.githubusercontent.com/24892273/69474058-9cf00600-0de1-11ea-81c6-d51667f5bd7e.png)

So I don't think this is an issue in Magento 2.

[2019-11-23 05:40] #25694 closed, assigned to engcom-Echo

[2019-11-23 06:00] sathish1228 opened #25707 "Results are not shwoing but count shows as 13"
### Preconditions (*)

1. 2.3.3
2. On Index Management page I don't see results but count showing as 13 records found

### Steps to reproduce (*)

1. Not sure how you reproduce this issue
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.
![image](https://user-images.githubusercontent.com/6438852/69474234-908d8e00-0d8c-11ea-9284-d6be3665dd0f.png)

### Actual result (*)

1. [Scre

[2019-11-23 06:13] rav-redchamps opened #25708 "Payment gets captured in PayPal Payflow pro but order not created in Magento 2"
### Preconditions (*)

1. Magento open source 2.3.3
2. PayPal Payflow Pro payment method configured either in the sandbox mode or live

### Steps to reproduce (*)

1. You need to throw an exception between order place call and order save call, edit file **vendor/magento/module-sales/Model/Service/OrderService.php**
and place below code before line#216 ($order = $this->orderRepository->save($order)

[2019-11-23 08:34] ghost opened #25709 "Issue with all category pages"
### Preconditions (*)

1. Magento 2.3.3
2. Apache 2.4
3. Php 7.1
4. Mysql 5.7
5. Ubuntu 18.04

### Steps to reproduce (*)

1. Click on category page
2.

### Expected result (*)

1. Pagespeed loading correct
2.

### Actual result (*)

1. Page speed verry slow. Product page speed is correct

[2019-11-23 08:27:18] main.DEBUG: cache_invalidate:  {"method":"GET","url":"https://www.achatpc.com/fr/comput

[2019-11-23 09:44] andrewbess commented on #25698
Hello @alexkwellbe
Do you working on it?
Please assign this issue to yourself.

[2019-11-23 10:30] sargan89 commented on #25698
#cdkharkiv19nov

[2019-11-23 10:31] magento-engcom-team commented on #25698
@sargan89 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-11-23 10:39] VadimLugovoy commented on #25516
@magento I am working on it

[2019-11-23 10:42] VadimLugovoy commented on #25516
#cd19kharkivnov

[2019-11-23 10:43] andrewbess commented on #20100
Hello @shikhamis11
Are you sure that this bug is reproduced?
I cannot reproduce it.
Please take a look my [gif](https://monosnap.com/file/1onWeCMUEGftkwO7QM513uVTpOPSc8).
Please clarify steps for reproduce and reopen issue if it still reproduces.

[2019-11-23 10:44] #20100 closed, assigned to nobody

[2019-11-23 11:03] manojpal29 opened #25710 "Product info details tab loading issue"
### Preconditions (*)

1. Magento 2.3.3
2. Apache 2.4
3. Php 7.2
4. Mysql 5.7

### Steps to reproduce (*)

1.  On Product page load product info details tab loading issue
![image](https://user-images.githubusercontent.com/12071553/69477656-d2f7af00-0e0e-11ea-8552-bd12db2aafde.png)

### Expected result (*)

1. It should be show only first tab only not other tab
![image](https://user-images.githubus

[2019-11-23 11:13] terrybakshi commented on #25705
I have already provided all the asked information, Also what is the point of continuing focusing on new magento versions when basic security features are always missing in all the Version that have been out so far.

[2019-11-23 11:28] sargan89 commented on #25698
Hi @sanjaychouhan-webkul. I couldn't identify the problem.
![Screenshot](https://user-images.githubusercontent.com/10529321/69477914-b6e71400-0df4-11ea-953b-d6853ba35b54.png)
You should do reindex command in the console and clear cache:
`php bin/magento indexer:reindex
php bin/magento cache:clean`

[2019-11-23 14:38] kkorushkin commented on #25707
Hi @sathish1228 It's not reproducible for me on 2.3-develop with sample data. Needs steps to reproduce (maybe you have any issues in console that can point to this problem).

[2019-11-23 15:13] kkorushkin commented on #25707
Hi @sathish1228. Please take a look at the my record - it's clean 23-develop with sample data (there's 6 cms pages by default). I've played with all this grids and all seems to be ok. Confirm if i got you point.
![ui-grid](https://user-images.githubusercontent.com/13004402/69480881-3d5f1e00-0e14-11ea-9460-006d8a27487c.gif)

[2019-11-23 16:45] krishprakash commented on #25707
Hi @sathish1228.
Thank you for your report. Issue can not reproduce on clean magento instance.
Feel free to reopen if you confirm that issue is reproduced on venilla magento instance

[2019-11-23 16:45] #25707 closed, assigned to krishprakash

[2019-11-23 16:55] jissereitsma commented on #25266
In reference: https://github.com/magento/magento2/commit/a2aaa56fad9369d3ce37247d25efce296a6759cc

[2019-11-23 17:39] amenk commented on #25199
set in_predicate_conversion_threshold = 4294967295;
   set global in_predicate_conversion_threshold = 4294967295;

seems also to help, as a workaround.

See: https://jira.mariadb.org/browse/MDEV-20871?focusedCommentId=138523&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-138523

There might be a fix in MariaDB 10.3.21

[2019-11-23 19:16] erikhansen commented on #15545
Just applying [the patch](https://github.com/magento/magento2/issues/15545#issuecomment-540985223) from @vadim-shulyak didn't work for me. However the extension that @sebastian-virtua [posted about](https://github.com/magento/magento2/issues/15545#issuecomment-553370661) _did_ fix my issue, as it edits one additional method.

I prefer to apply changes like this as a patch, as if the underlying cod

[2019-11-23 21:19] Den4ik commented on #25698
@sanjaychouhan-webkul Issue not reproduced on 2.3-develop branch. Looks like you have problems in url_rewrites table.
@sargan89 Magento regenerate index on save events. Reindex don't update url_rewrites table

[2019-11-23 21:19] #25698 closed, assigned to Den4ik, sargan89

[2019-11-24 08:03] VladimirZaets commented on #25661
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#25662 by @edenduong in 2.3-develop branch
Related commit(s):
 - [3020ac7ed08cdc07562fdede078e1ff27b779de0](https://github.com/magento/magento2/commit/3020ac7ed08cdc07562fdede078e1ff27b779de0)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-24 08:03] #25661 closed, assigned to edenduong

[2019-11-24 08:03] VladimirZaets commented on #22240
Hi @amenk. Thank you for your report.
The issue has been fixed in magento/magento2#25472 by @vpashovski in 2.3-develop branch
Related commit(s):
 - [08972b4ee14f37651dc000dbd03c2ad317ab0e66](https://github.com/magento/magento2/commit/08972b4ee14f37651dc000dbd03c2ad317ab0e66)
 - [4dce93e1d3439d23ac822274e20cffb94f85463d](https://github.com/magento/magento2/commit/4dce93e1d3439d23ac822274e20cffb94f8

[2019-11-24 10:00] DanielRuf commented on #16163
@magento give me 2.3.0 instance

[2019-11-24 10:00] magento-engcom-team commented on #16163
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-11-24 10:09] DanielRuf commented on #16163
Seems the bot got stuck. Let's try again

@magento give me 2.3.0 instance

[2019-11-24 10:09] magento-engcom-team commented on #16163
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-11-24 10:11] DanielRuf commented on #16163
Hm, let's create a new issue.

[2019-11-24 10:12] DanielRuf opened #25714 "Testing 2.3.0"
@magento give me 2.3.0 instance

[2019-11-24 10:13] DanielRuf commented on #25714
Seems to work only in comments.

@magento give me 2.3.0 instance

[2019-11-24 10:13] magento-engcom-team commented on #25714
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-11-24 10:17] DanielRuf commented on #25714
@magento give me 2.3.1 instance

[2019-11-24 10:17] magento-engcom-team commented on #25714
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-11-24 10:20] DanielRuf commented on #25714
Seems the bot is broken?

[2019-11-24 10:24] DanielRuf commented on #25710
@magento give me 2.3.0 instance

[2019-11-24 10:24] magento-engcom-team commented on #25710
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-11-24 10:24] magenx commented on #25705
Duplicate of https://github.com/magento/magento2/issues/7266

[2019-11-24 10:34] Detzler opened #25715 "Product listing time taken profiling dump"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

A bit of dump in here:

1. https://github.com/magento/magento2/blob/121fadd45061beede3fe302ae47ee6640faeb69f/app/code/Magento/Catalog/view/frontend/templates/product/listing.phtml#L101
2. https://github.com/magento/magento2/blob/121fadd45061beede3fe302ae47ee6640faeb69f/app/code/Magento/Catalog/view/frontend/templates/produc

[2019-11-24 11:06] terrybakshi commented on #25705
But still no fix as of yet.

[2019-11-24 18:36] #23481 closed, assigned to alexey-rakitin

[2019-11-24 19:09] andrewbess commented on #25669
#cdkharkiv19nov

[2019-11-24 22:11] chichitsai0517 commented on #25218
rparsi-boxycharm, can you tell me how to do so? I'm not sure what you mean by composer patch. Where do we download this?

[2019-11-25 00:07] LiamKarlMitchell commented on #12357
PHP looks at a different default path for the unix socket location...
setup:upgrade and possibly other areas do not use what I have configured in the etc/env config!

[code]

It should use the unix_socket not the PHP default location of the socket.

https://stackoverflow.com/questions/36639014/got-error-while-installing-module-in-magento2-sqlstate-hy000-2000-no-such-f
ln -s /var/run/mysqld/mysqld.

[2019-11-25 00:08] LiamKarlMitchell commented on #88
PHP looks at a different default path for the unix socket location...
setup:upgrade and possibly other areas do not use what I have configured in the etc/env config!

[code]

It should use the unix_socket not the PHP default location of the socket.

https://stackoverflow.com/questions/36639014/got-error-while-installing-module-in-magento2-sqlstate-hy000-2000-no-such-f
ln -s /var/run/mysqld/mysqld.

[2019-11-25 00:11] LiamKarlMitchell opened #25724 "Mysql sock SQLState error when running setup:upgrade but site connects to DB fine. Abstract.php SQLSTATE[HY000] [2002] No such file or directory"
Error: In Abstract.php line 144: 128: SQLSTATE[HY000] [2002] No such file or directory

PHP looks at a different default path for the unix socket location...
setup:upgrade and possibly other areas do not use what I have configured in the etc/env config!

[code]

It should use the unix_socket setting not the PHP default location of the socket.

https://stackoverflow.com/questions/36639014/got-error

[2019-11-25 01:22] AlexGao5417 opened #25725 "Schedule function purge varnish at wrong time"
### Preconditions (*)

1. You have a varnish set up in your magento2 server
2. Magento2 and varnish5

### Steps to reproduce (*)

1. catalog -> product -> /\*select any your product\*/ -> Schedule New Updates
2. eg. the current time is 2019/11/25 11:00am, set Start Date as 2019/11/26 13:00pm

### Expected result (*)

We expect that magento will send a "PURGE" request to varnish server near 2019/11

[2019-11-25 04:29] ajijshekh123 commented on #25710
Give me @magento give me 2.3-develop instance

[2019-11-25 04:29] magento-engcom-team commented on #25710
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-25 04:29] magento-engcom-team commented on #25710
Hi @ajijshekh123, here is your [Magento instance](https://i-25710-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25710-2-3-develop.instances.magento-community.engineering/admin](https://i-25710-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-25 04:46] ajijshekh123 commented on #25710
Hi @manojpal29,
I have verified this issue with the latest Magento 2.3 Instance as per your steps to be reproduced.
I don't have to reproduce this issue.
Can you please provide me the video or any configuration details which you have changed?

Thanks.

[2019-11-25 05:10] krishprakash commented on #25703
@magento give me 2.3-develop instance

[2019-11-25 05:10] magento-engcom-team commented on #25703
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-25 05:10] magento-engcom-team commented on #25703
Hi @krishprakash, here is your [Magento instance](https://i-25703-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25703-2-3-develop.instances.magento-community.engineering/admin](https://i-25703-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-25 06:15] manojpal29 commented on #25710
Please check this demo when page is loading review tab showing.
https://i-25710-2-3-develop.instances.magento-community.engineering/product-1.html

![image](https://user-images.githubusercontent.com/12071553/69516802-c68f6580-0f78-11ea-9f89-e847b5151475.png)

[2019-11-25 07:11] jerome-zhang opened #25726 "Subtotal (Excl. Tax) Cart Price Rule Condition not working for edit order and reorder"
### Preconditions (*)

1. Create a latest Magento instance with sample free shippping rule: "Spend $50 or more - shipping is free!"
2. Edit the rule to change condition from **Subtotal** to **Subtotal (Excl. Tax)** https://www.screencast.com/t/xxw3Uc4Q
3. Create an BE order with amount equals or greater than $50

### Steps to reproduce (*)

1. Open the newly create order
2. Click on **reorder** or

[2019-11-25 07:30] abrarpathan19 commented on #25726
@magento give me 2.3-develop instance

[2019-11-25 07:30] magento-engcom-team commented on #25726
Hi @abrarpathan19. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-25 07:31] magento-engcom-team commented on #25726
Hi @abrarpathan19, here is your [Magento instance](https://i-25726-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25726-2-3-develop.instances.magento-community.engineering/admin](https://i-25726-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-25 08:18] mihaifaget commented on #12396
@magento-engcom-team
This is not fixed. If you read the issue's description:

 That "total amount" is still without tax, this PR  adds 'subtotal excl tax'  to condition cart attributes, but doesn't fix the issue in this task

[2019-11-25 09:02] kkorushkin commented on #25457
Hi @sathish1228. Please take a look at my record - it's clean 23-develop with sample data (there's 6 cms pages by default). I've played with all this grids and all seems to be ok. Confirm if i got you point.
![ui-grid](https://user-images.githubusercontent.com/13004402/69480881-3d5f1e00-0e14-11ea-9460-006d8a27487c.gif)

[2019-11-25 09:10] ajijshekh123 commented on #25710
Give me @magento give me 2.3-develop instance

[2019-11-25 09:11] magento-engcom-team commented on #25710
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-25 09:11] magento-engcom-team commented on #25710
Hi @ajijshekh123, here is your [Magento instance](https://i-25710-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25710-2-3-develop.instances.magento-community.engineering/admin](https://i-25710-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-25 09:17] choussamaster commented on #23133
The bug is reproductible on magento 2.3.3 fresh installation
compiled_config cache can't be disabled nether by cli or via backoffice
![image](https://user-images.githubusercontent.com/750352/69527457-a5287c80-0f6c-11ea-95c4-fe0eef19abb9.png)

![image](https://user-images.githubusercontent.com/750352/69527513-bd000080-0f6c-11ea-82f5-2f6ea6e7ce74.png)

[2019-11-25 09:25] ajijshekh123 commented on #25710
Please check the below-attached video. It's working fine on our end.
![Reviews_Issue](https://user-images.githubusercontent.com/24711761/69528001-72de4580-0f93-11ea-8351-f655f6aa9c86.gif)

@manojpal29 - If it is not working on your end please send the steps or video.

Thanks.

[2019-11-25 09:25] benyang2015 commented on #25634
someone can solve this problem?
now I'm disable the cronjob

[2019-11-25 09:31] jeroenalewijns commented on #25701
Something seems to be wrong with sample data. When I add a configurable product in a clean install without sample data installed it works like I expect.
color changes on category page changes product image and the same for the category product page.

[2019-11-25 09:35] engcom-Charlie commented on #25364
Hello @Loqic2633
I can confirm that this is the expected behavior of Magento https://github.com/magento/magento2/issues/25364#issuecomment-548555980. You can see options of Catalog Price Rules(percentage of original price):
![Screenshot from 2019-11-25 11-28-51](https://user-images.githubusercontent.com/51680850/69528572-28e76680-0f77-11ea-88ee-82b0fde1de66.png)

So i have to close your issue as n

[2019-11-25 09:35] #25364 closed, assigned to engcom-Charlie

[2019-11-25 09:55] magento-engcom-team commented on #23128
Hi @renard123, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [27b9d8c0640311096fafb834e312c9e0eef18206](https://github.com/magento/magento2/commit/27b9d8c0640311096fafb834e312c9e0eef18206)
 - [c1937ed4c29c01944f13c244f576da8ad97c263d](https://github.com/magent

[2019-11-25 09:55] #23128 closed, assigned to sdzhepa

[2019-11-25 09:55] magento-engcom-team commented on #24639
Hi @philippsander, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [b11f053bc29564ef13fb071161b52276a5701ed0](https://github.com/magento/magento2/commit/b11f053bc29564ef13fb071161b52276a5701ed0)

The fix will be available with the upcoming `2.3.5` release.

[2019-11-25 09:55] #24639 closed, assigned to sdzhepa

[2019-11-25 09:56] jameswithers commented on #25687
@engcom-Charlie I now understand it is valid to re-index all catalog price rules in case there are sort orders.

What remains invalid is that - [as materialized views are processed in batches](https://github.com/magento/magento2/blob/2.3.3/lib/internal/Magento/Framework/Mview/View.php#L307) - a full re-index is [generated every 1,000 records](https://github.com/magento/magento2/blob/2.3.3/lib/inte

[2019-11-25 10:04] ajijshekh123 commented on #25726
Hi @jerome-zhang,
I have verified your issue in Latest Magento 2.3 Instance with your steps and conditions.
I am not able to reproduce this issue. Please review the below-attached video and Let me know which points I have missed it.
See the attached video:
![Reorder_CouponCode_Issue](https://user-images.githubusercontent.com/24711761/69530975-12ea9d80-0f99-11ea-8335-71c30fb0c348.gif)

@jerome-zhan

[2019-11-25 10:08] engcom-Charlie commented on #25687
@jameswithers Thank you for contribution and collaboration!
I think your issue can be approved only like a feature request.
So it is not for this tracker.
Hello @sdzhepa . Could you transfer this issue to the feature requests repository?

[2019-11-25 10:10] jameswithers commented on #25687
@engcom-Charlie so for confirmation: it is expected behaviour in Magento that a change to one catalog price rule will - when there are more than 1,000 catalog price rules - result in multiple re-indexes of the same data in sequence?

[2019-11-25 10:18] engcom-Charlie commented on #25687
@jameswithers yes, for now

[2019-11-25 10:28] engcom-Charlie commented on #25709
Hello @achatpc
We are not able to reproduce this issue on the latest 2.3-develop branch & 2.3.3.
**Testing scenario:**

1. Go to the category page
2. Refresh page 3-5 times
3. Check `debug.log`(should be nothing)
4. Flush cache
5. Refresh Category page again(page loading ~7s)
6. Check `debug.log`(should be `main.DEBUG: cache_invalidate:...` notes)
7. Refresh page 3-5 times(page loading ~0,5s)
8. C

[2019-11-25 10:28] #25709 closed, assigned to engcom-Charlie

[2019-11-25 10:32] jameswithers commented on #25687
[The addition of the following in the indexer di.xml](https://github.com/magento/magento2/blob/2.3.3/app/code/Magento/Indexer/etc/di.xml) is all that is needed (it's called [here](https://github.com/magento/magento2/blob/2.3.3/lib/internal/Magento/Framework/Mview/View.php#L295)):

[code]

The 100,000 figure [comes from the max version query batch](https://github.com/magento/magento2/blob/2.3.3/lib

[2019-11-25 11:03] magento-engcom-team commented on #25708
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29125` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-25 11:04] anil90 commented on #11577
hi @sjayjay005

i have upgraded to magento 2.3.2, facing same issue in WYSWYG related to tinyMCE js
https://www.dropbox.com/s/4h3odmbdb4dz1sz/Screenshot%202019-11-25%2016.31.58.png?dl=0

does this module fix this error.
Uncaught Error: Script error for: tinymce

[2019-11-25 11:06] engcom-Charlie commented on #25687
@jameswithers yes, after this issue will be transferred to the feature requests repository

[2019-11-25 11:28] engcom-Charlie commented on #25475
Hello @stkrelax
Could you drop your module? Because we can't reproduce your issue.

[2019-11-25 11:42] engcom-Echo commented on #25700
Hello @avgust1111

Here is my Settings (M 2.3.3)
![Screenshot from 2019-11-25 13-12-22](https://user-images.githubusercontent.com/51681435/69536747-44f30400-0f87-11ea-9f55-bd5d9c30ccf5.png)
![Screenshot from 2019-11-25 13-12-37](https://user-images.githubusercontent.com/51681435/69536763-4cb2a880-0f87-11ea-8ad0-e4c895300c69.png)

All my CSV export files has been generated by cron after some delay.

[2019-11-25 12:02] engcom-Echo commented on #25705
Hello @terrybakshi

Thank you for your report and collaboration!
This issue is duplicate of [#7266](https://github.com/magento/magento2/issues/7266)

So I close it.
Thanks for your report!

[2019-11-25 12:02] #25705 closed, assigned to engcom-Echo

[2019-11-25 12:14] avgust1111 commented on #25700
Hello, @engcom-Echo !

Thank you for the update.
I've checked settings again and found the option, which triggers misbehaviour for import/export. In my test environment with native M2 sample data installed, 'Locale" has been set to "English (United Kingdom)". So, if you set in "Stores" -> "Configuration" -> "General" -> "General" -> Country Options -> Default County: United States, and in "Stores"

[2019-11-25 12:35] flamboy85 opened #25730 "Customer account automatically confirmed"
So, after upgrade magento 2.3.2 to 2.3.2-p2 (2.3.3 also) new customers always got confirmed status.
@see https://github.com/magento/magento2/commit/ce3e108be879190254b2d5ae38b0125ca73abae6

### Expected result (*)
1. Customer receive confirmation email after registration (based on admin configs)
2. Only after confirm his account he can login to his account

### Actual result (*)
1. Customer author

[2019-11-25 13:00] sathish1228 commented on #25457
Sir,

Issue is in my system and I a could not figure it out. Here is the
screenshot of one the screen with the issue I mentioned. Please let me know
if you can look at it if I give you login details.

[image: image.png]

Your help is much appreciated.

On Mon, Nov 25, 2019 at 4:02 AM Kirill <notifications@github.com> wrote:

[2019-11-25 13:27] domeglic opened #25731 "queue_consumer.xml doesn't allow numbers in handler class"
### Preconditions (*)

1. Magento 2.3.3 & 2.3-develop

### Steps to reproduce (*)

1.  Create a `queue_consumer.xml`
2. Specify a *handler* with a number in the path

### Expected result (*)

1. XML validation passes

### Actual result (*)

1. XSD validation fails because handler contains invalid characters

This problem was already reported and closed without a solution: https://github.com/magent

[2019-11-25 13:28] magento-engcom-team commented on #25700
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29131` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-25 13:34] oscarsanch opened #25732 "Recaptcha popups appears first before validating page fields on Login page"
### Preconditions (*)

1. Clean install  Magento 2.3.3  Commerce

### Steps to reproduce (*)

1.  You need go to admin panel -> Stores-> Settings -> Configuration -> Security ->

- enter General (Google API website key and Google API secret key)

- Frontend ->Enable(Yes), reCaptcha type(Invisible reCaptcha), other fields leave by default

2. Go to frontend -> login page
3. Reload login page -> Lea

[2019-11-25 13:51] terrybakshi commented on #7266
Nothing, Team is too busy to focus on 2.3.3, just fix it yourself if you can no time for fixing the issues. :)

[2019-11-25 13:51] sathish1228 commented on #25457
one more screen
[image: image.png]

On Mon, Nov 25, 2019 at 7:59 AM SONU DIZPROT <sathishmsbs@gmail.com> wrote:

[2019-11-25 14:23] AnnaShepa commented on #25730
@magento give me 2.3-develop instance

[2019-11-25 14:23] magento-engcom-team commented on #25730
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-25 14:23] magento-engcom-team commented on #25730
Hi @AnnaShepa, here is your [Magento instance](https://i-25730-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25730-2-3-develop.instances.magento-community.engineering/admin](https://i-25730-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-25 14:29] AnnaShepa commented on #25730
Hi @flamboy85 please check your configuration:
Stores - Configuration - Customers - Customer Configuration - Create New Account Options - Require Emails Confirmation

[2019-11-25 14:29] #25730 closed, assigned to nobody

[2019-11-25 14:35] magento-engcom-team commented on #25715
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to fol

[2019-11-25 14:37] magento-engcom-team commented on #25715
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

On

[2019-11-25 14:39] magento-engcom-team commented on #25715
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2019-11-25 14:45] magento-engcom-team commented on #25715
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29137` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-25 14:45] extremeskillz commented on #25076
I'm having this same exact issue with 2.3.3 with my Zimbra email system. This worked fine in 2.3.2. Our clients are Thunderbird. Zimbra webmail client renders the same email in html just fine. Seems to be happening only on the desktop client side, in my case Thunderbird. I did test Outlook and same issue there. So this is definitely a client issue not email server but the main culprit is Magento 2

[2019-11-25 15:20] jaminion commented on #25076
Hey @extremeskillz, one of the changes in 2.3.3 was applying the message encoding to the email header. The way I read the PRs associated with it, someone was having an issue with the subject line not getting split right and their mail getting a bit trashed because it was going over the line limit threshold for the transport service. The encoding ensures the lines are split and marked in such as a

[2019-11-25 15:26] extremeskillz commented on #25076
@jaminion Thanks for the update.

[2019-11-25 15:33] flamboy85 commented on #25730
@AnnaShepa thanks, seems issue related to module https://marketplace.magento.com/extait-module-gdpr.html . They use around plugin for Magento\Customer\Controller\Account\CreatePost in latest 1.3.0 module version

[2019-11-25 15:44] kkorushkin commented on #25457
@sathish1228 i'm only see [image: image.png] and no image related. Could you please edit your comment.

[2019-11-25 15:57] alex24409331 commented on #23998
also you can try this third party app Here is a relevant step by step tutor. https://www.mag-manager.com/product-information/magento-product-management/how-import-configurable-products-to-magento-2/

[2019-11-25 15:58] stkrelax commented on #25475
no i actually do not have the time for that. Thank you for the time you invested.

We will keep the "dirty hack"

[2019-11-25 15:58] #25475 closed, assigned to engcom-Charlie

[2019-11-25 16:13] jonathan-martz commented on #7932
I have got the same error message after updating to 2.3.3.
Tried every solotion but noting solved my problem.

[2019-11-25 16:15] sathish1228 commented on #25457
Attached the screenshot.

On Mon, Nov 25, 2019 at 10:44 AM Kirill <notifications@github.com> wrote:

[2019-11-25 16:24] taoufiqaitali commented on #25710
this maybe just an issue in your side, check browser console for javascripts issues

[2019-11-25 16:25] Munszu commented on #7497
I can second that the issue remains on 2.3.3.

[2019-11-25 16:26] rparsi-boxycharm commented on #25218
@chichitsai0517 You would use an IDE to generate the patch file (ie phpstorm).  Alternatively, you can just override the target file in your custom admin theme.
`Magento_Customer/view/adminhtml/ui_component/customer_address_form.xml`

Copy above file to your custom admin theme and modify the country `<select>` tag, to look like this
[code]

[2019-11-25 16:29] #25394 closed, assigned to nobody

[2019-11-25 16:33] DanielRuf commented on #16163
And another try

@magento give me 2.3.0 instance

[2019-11-25 16:33] magento-engcom-team commented on #16163
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-11-25 16:38] DanielRuf commented on #25714
@magento give me 2.3.2 instance

[2019-11-25 16:38] magento-engcom-team commented on #25714
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-11-25 16:38] devchris79 opened #25735 "Google ReCaptcha API keys issue"
### Preconditions (*)

1. Magento 2.3.3 (only in composer version)
### Steps to reproduce (*)

1. Setup an invisible ReCaptcha on frontend admin panel -> Stores-> Settings -> Configuration -> Security -> Google Recaptcha
2. Setup a backend ReCaptcha (this is fixed as visible type)

### Expected result (*)

1. Either both frontend and backend should use invisible captcha as the API key is valid for

[2019-11-25 16:48] DanielRuf commented on #25714
@magento give me 2.3-develop instance

[2019-11-25 16:48] magento-engcom-team commented on #25714
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-25 16:49] magento-engcom-team commented on #25714
Hi @DanielRuf, here is your [Magento instance](https://i-25714-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25714-2-3-develop.instances.magento-community.engineering/admin](https://i-25714-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-25 16:49] DanielRuf commented on #25714
So, seems it does not work with a tag / release.

[2019-11-25 17:12] devchris79 commented on #25735
@magento give me 2.3-develop instance

[2019-11-25 17:12] magento-engcom-team commented on #25735
Hi @devchris79. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-25 17:13] magento-engcom-team commented on #25735
Hi @devchris79, here is your [Magento instance](https://i-25735-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25735-2-3-develop.instances.magento-community.engineering/admin](https://i-25735-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-25 17:16] JamesFX2 opened #25736 "Bug with deep links to collapsible.js widget"
https://github.com/magento/magento2/blob/2.3-develop/lib/web/mage/collapsible.js

line 128 is

      this.element.parents('[data-collapsible=true]').collapsible('forceActivate');`

I think it should be

`this.element.collapsible('forceActivate').parents('[data-collapsible=true]').collapsible('forceActivate') `

because it needs to force the state of the matching hashed ID.

[2019-11-25 17:20] jamie-selesti commented on #25218
https://devdocs.magento.com/guides/v2.3/comp-mgr/patching.html

[2019-11-25 17:31] devchris79 commented on #25735
Is the security tab removed from the develop instance? I can't see it...

I set up on my site like below:
https://docs.magento.com/m2/ce/user_guide/stores/security-google-recaptcha.html

[2019-11-25 17:32] bigbywolf-uk opened #25737 "Radio buttons for shipping methods are disabled in shopping cart and during checkout"
### Preconditions (*)

1. Magento 2.3.3 Communtiy Edition
2. Flat Shipping Table Rates

### Steps to reproduce (*)

1. Add product to the cart
2. Proceed to checkout as a guest
3. Enter valid address details
4. Wait for shipping rates to be displayed
5. Refresh page (Ctrl + R for example)

### Expected result (*)

1. Page reloads showing shipping rates with active radio buttons

### Actual result

[2019-11-25 18:03] sdzhepa commented on #25732
Hello @oscarsanch

Thank you for contribution and collaboration!

I have verified this issue on CE and EE Magento version with different reCaptcha module versions and can Confirm it can be reproduced on CE.

But seem, fix should be provided in the reCaptcha module code which related to a dedicated repository. So I have updated the description  with additional details and create/transfer a new issu

[2019-11-25 18:03] #25732 closed, assigned to sdzhepa

[2019-11-25 18:45] crankycyclops commented on #25221
I also have exactly the same problem. Upgraded from 2.2.8 and shipment notification is broken. WIll have to maintain a patch against core for now with the workaround by @AndyJAllen. I really hope this will be re-opened. A lot of people are reporting that this is a problem for them.

[2019-11-25 19:47] nghelo opened #25738 "DOMDocument::loadHTML(): Tag date invalid in Entity"
### Preconditions (*)

1. Magento 2.3.3 or 2.3-develop
2. Simple Product is created.
3. Customer is created and logged

### Steps to reproduce (*)

1. Add product to cart
2. Place Order
3. Click on the order number
![order](https://user-images.githubusercontent.com/51681435/69724841-6689f200-1125-11ea-8db0-b197d83b8cc0.png)
4. The url is (/sales/order/view/order_id/<order_id>/)
5. See exception.lo

[2019-11-25 19:58] gwharton opened #25739 "grunt clean does not clean generated folder"
### Preconditions (*)
1. Magento 2.3-develop
2. Copy the default grunt config

[code]

### Steps to reproduce (*)
1. Enable production mode
2. php bin/magento setup:upgrade
3. php bin/magento setup:di:compile
4. php bin/magento setup:static-content:deploy
5. grunt clean

### Expected result (*)
1. generated/code should be empty
2. generated/metadata should be empty

### Actual result (*)
1. They a

[2019-11-25 21:06] magento-engcom-team commented on #25076
Hi @jaminion.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [6976aabdfdab91a9d06e412c2ed619538ed034b6](https://github.com/magento/magento2/commit/6976aabdfdab91a9d06e412c2ed619538ed034b6)

The fix will be available with the upcoming `2.3.5` release.

[2019-11-25 21:25] magento-engcom-team commented on #22819
Hi @Naberdz. Thank you for your report.
The issue has been fixed in magento/magento2#25515 by @ptylek in 2.3-develop branch
Related commit(s):
 - [8132944e9942a0d46811d99127f1706cdd8109ed](https://github.com/magento/magento2/commit/8132944e9942a0d46811d99127f1706cdd8109ed)
 - [322709d1572caec44189edb1e8b3ca5f0be628fc](https://github.com/magento/magento2/commit/322709d1572caec44189edb1e8b3ca5f0be62

[2019-11-25 21:25] #22819 closed, assigned to ptylek

[2019-11-25 21:25] magento-engcom-team commented on #25529
Hi @andrewbess. Thank you for your report.
The issue has been fixed in magento/magento2#25530 by @andrewbess in 2.3-develop branch
Related commit(s):
 - [0ffbe25590f893cea39c31a7521c2ca9c68fd324](https://github.com/magento/magento2/commit/0ffbe25590f893cea39c31a7521c2ca9c68fd324)
 - [d6c184d5239502a65c1350d26c505bdd3642b9e1](https://github.com/magento/magento2/commit/d6c184d5239502a65c1350d26c505b

[2019-11-25 21:25] #25529 closed, assigned to andrewbess

[2019-11-25 21:36] david-kominek commented on #25076
Is this patch not coming to 2.3.4? Short of running the patch file from above, we will have to wait until April to get this patched?

[2019-11-25 21:44] krzksz commented on #14568
Closing as per comment: https://github.com/magento/magento2/pull/25544#issuecomment-558353493

[2019-11-25 21:44] #14568 closed, assigned to nobody

[2019-11-25 21:50] lfolco commented on #19093
@magento give me 2.3-develop instance

[2019-11-25 21:50] magento-engcom-team commented on #19093
Hi @lfolco. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-25 21:50] magento-engcom-team commented on #19093
Hi @lfolco, here is your [Magento instance](https://i-19093-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19093-2-3-develop.instances.magento-community.engineering/admin](https://i-19093-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-25 23:15] sdzhepa commented on #16163
Hello @DanielRuf

I am working on this issue `give me 2.3.0 instance`.
I will keep you updated  here or directly in Slack

Sorry for inconveniences

[2019-11-25 23:17] sdzhepa commented on #24426
@magento give me 2.3.0 instance

[2019-11-25 23:17] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-11-26 00:12] crankycyclops commented on #527
I've implemented this functionality in a free and open source module. If anyone wants to use it in the meantime until this is fully implemented by the Magento team, you can find it here: https://github.com/crankycyclops/DiscountCodeUrl

Hope it's useful to someone :)

My module is still pretty new and needs more testing (if you want to help me out, I would greatly appreciate it!)

[2019-11-26 00:15] robolmos commented on #25076
@magento-engcom-team I can't access that commit 6976aabdfdab91a9d06e412c2ed619538ed034b6

Is there another place to get the patch?

[2019-11-26 01:34] careys7 commented on #11477
Since reporting this issue, OpenAPI v3 has been released

OpenAPI v3 supports deep object notation which I think might be compatible with all of search criteria, so could be a possible option to describe the existing Magento WebAPI schema.

It would require either:

a) Generating both v2 & v3 schemas
b) Moving the schema to v3

[2019-11-26 02:17] jerome-zhang commented on #25726
Hi @ajijshekh123 , Actually i was creating order from admin, and use free shipping cart price rule action. Please see my video to reproduce the issue: https://www.screencast.com/t/LLIb1RTA46

[2019-11-26 03:14] nntoan opened #25740 "Category list REST API page size & current page search criteria options return all items"
### Preconditions (*)

1. Magento 2.2.x or up to 2.3.2 with Sample Data installed.

### Steps to reproduce (*)

1. Make an API request for categories specifying page size as 1, current page as 1.

[code]

### Expected result (*)

1. Only one item return in the response e.g:

[code]
![Screen Shot 2019-11-26 at 10 00 56 AM](https://user-images.githubusercontent.com/3891429/69595998-c7390200-1033-11e

[2019-11-26 03:15] nntoan commented on #25740
@magento give me 2.3-develop instance

[2019-11-26 03:15] magento-engcom-team commented on #25740
Hi @nntoan. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-26 03:16] magento-engcom-team commented on #25740
Hi @nntoan, here is your [Magento instance](https://i-25740-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25740-2-3-develop.instances.magento-community.engineering/admin](https://i-25740-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-26 03:20] VladimirZaets commented on #723
Hi @pmouawad. Thank you for your report.
The issue has been fixed in magento/magento2#25719 by @serhiyzhovnir in 2.3-develop branch
Related commit(s):
 - [f307e2edce1d04e6e4cff145505d64dcc98047be](https://github.com/magento/magento2/commit/f307e2edce1d04e6e4cff145505d64dcc98047be)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-26 03:20] VladimirZaets commented on #25312
Hi @magudelo62. Thank you for your report.
The issue has been fixed in magento/magento2#25313 by @magudelo62 in 2.3-develop branch
Related commit(s):
 - [a9f499ed76599deef689eaeb3d0cb9fb02498c49](https://github.com/magento/magento2/commit/a9f499ed76599deef689eaeb3d0cb9fb02498c49)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-26 03:20] #25312 closed, assigned to magudelo62

[2019-11-26 03:20] VladimirZaets commented on #690
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/magento2#25566 by @engcom-Golf in 2.3-develop branch
Related commit(s):
 - [f070206da28f41814f6677ecee9ef4d84105338d](https://github.com/magento/magento2/commit/f070206da28f41814f6677ecee9ef4d84105338d)
 - [c23393d20e9e3e6493f6326a2cc80c4e36cdf86d](https://github.com/magento/magento2/commit/c23393d20e9e3e6493f6326a2cc80c4e

[2019-11-26 03:42] clion007 opened #25741 "Move the pager block out of toolbar"
### Description (*)
I found there are two same toolbar html code in the products list container to get the sort and pagination code,this is redundancy for the page. So I think it might more reasonable to move the pagination code out of the toolbar.phtml into a single pager block. if that it will more flexible in our layout files. But when I move it out to list.phtml, it's not work well, and get a

[2019-11-26 04:20] ajijshekh123 commented on #25726
Give me @magento give me 2.3-develop instance

[2019-11-26 04:20] magento-engcom-team commented on #25726
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-26 04:21] magento-engcom-team commented on #25726
Hi @ajijshekh123, here is your [Magento instance](https://i-25726-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25726-2-3-develop.instances.magento-community.engineering/admin](https://i-25726-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-26 04:23] ajijshekh123 commented on #25710
Yes @manojpal29, This issue is related to the any third party issue or Javascript issue.
Please verify it in your end update me. I will close this issue.

Thanks.

[2019-11-26 04:28] magento-engcom-team commented on #25703
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29175` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-26 04:46] ajijshekh123 commented on #25726
Issue reproduced as per the attached video steps and scenario.

[2019-11-26 04:47] magento-engcom-team commented on #25726
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29176` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-26 04:57] ajijshekh123 commented on #25737
Hello @Munszu,
I am using a different address with a different country list and also apply the different shipping methods. But I can't able to reproduce this issue.

Thanks.

[2019-11-26 05:59] DanielRuf commented on #16163
It does not seem to work with any tagged version. Only branches (2.3-develop).

[2019-11-26 06:58] grichards commented on #7617
I am experiencing this problem in 2.3.3 when trying to upload (replace) a swatch image.

Uncaught SyntaxError: Unexpected token < in JSON at position 108

The response JSON is mal-formed, it looks like this:

{"swatch_path":"http:\/\/100.21.184.114\/media\/attribute\/swatch","file_path":"\/v\/a\/vanilla-lush_2.jpg"}<div style="display: none;"></div>

Position 108 is the beginning of the div.... wh

[2019-11-26 07:33] lc122218679 opened #25743 "The category image is lost the second time it is saved"
The category image is lost the second time it is saved

[2019-11-26 07:35] grichards opened #25744 "Visual Swatch Images Do Not Successfully Complete Upload Process"
### Preconditions (*)

1. 2.3.3
2. Vanilla install.

### Steps to reproduce (*)

1. Create a new attribute, choose Visual Swatch as the input type.
2. Attempt to upload a swatch.

### Expected result (*)

1. Swatch uploads and I see image of swatch on row where I uploaded it.

### Actual result (*)

1. Javascript Error
![BadVisualSwatch](https://user-images.githubusercontent.com/454158/69608380-2d

[2019-11-26 07:36] grichards commented on #25744
@magento give me 2.3-develop instance

[2019-11-26 07:36] magento-engcom-team commented on #25744
Hi @grichards. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-26 07:36] magento-engcom-team commented on #25744
Hi @grichards, here is your [Magento instance](https://i-25744-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25744-2-3-develop.instances.magento-community.engineering/admin](https://i-25744-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-26 07:40] grichards commented on #25744
@m2-assistant yes, I was able to reproduce in your vanilla instance

[2019-11-26 07:42] ihor-sviziev commented on #25268
Hi @qsolutions-pl @itsPranith @rajeebkumar-sahoo,
Why do you think order model should have method "getCustomer"?
It should contains getCustomerId or something like this, and if you need to have it - you can get it from customer repository.

[2019-11-26 08:22] andrewbess commented on #25739
@magento I am working on it

[2019-11-26 08:41] krishprakash commented on #25743
Hi @lc122218679. Issue is duplicate to #25099
Issue will be fixed in next 2.3.4 release
You can review the feedback from above given issue link.
Thanks.

[2019-11-26 08:41] #25743 closed, assigned to krishprakash

[2019-11-26 08:42] FreekVandeursen commented on #25457
Hello @kkorushkin

You are following a slightly different path from how I ended up finding this bug.

What you are doing:
1. Click a line to start inline edit
2. Click cancel on inline edit
3. Select multiple checkboxes
4. Select Edit in the mass action dropdown

What I did:
1. Click a line to start inline edit
2. Don't click cancel
3. Click additional checkboxes to select multiple lines

I think

[2019-11-26 08:46] dhaval-dev commented on #13845
is there any update here?

[2019-11-26 08:56] Nastradoomus commented on #17193
2.3.3 Still no working like it should.

[2019-11-26 09:14] NickvdMeij opened #25747 "BUG: Setup:upgrade command says it has a "verbose" output option, but option never used in output (hiding stacktraces on error)"
### Preconditions (*)
1. Clean install of Magento 2.3.3 or 2.3-develop

### Steps to reproduce (*)
1. Run the setup:upgrade command with the --verbose (or -vvv) option

### Expected result (*)
1. A verbose output that displays debug info and (if there is an error) prints a stacktrace

Example use other command 'setup:di:compile --verbose' :
![image](https://user-images.githubusercontent.com/516814

[2019-11-26 09:15] NickvdMeij commented on #25747
yes

[2019-11-26 09:15] magento-engcom-team commented on #25747
Hi @NickvdMeij. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-26 09:16] magento-engcom-team commented on #25747
Hi @NickvdMeij, here is your [Magento instance](https://i-25747-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25747-2-3-develop.instances.magento-community.engineering/admin](https://i-25747-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-26 09:42] GianniPDF opened #25748 "InstallData script created int/boolean customer attribute, visually does not reflects the on value in customer edit adminhtml"
### Preconditions (*)
1. Magento 2.3.3
2. PHP 7.2.24

### Steps to reproduce (*)
1. Create int/boolean customer attribute:
`Class InstallData implements InstallDataInterface{
const CUSTOMER_ATTR = 'customer_attr';
public function __construct(
\Magento\Eav\Setup\EavSetupFactory $eavSetupFactory,
\Magento\Eav\Model\Config $eavConfig
){
$this->eavSetupFactory = $eavSetupFactory;
$this->eavConfig = $e

[2019-11-26 09:56] nntoan commented on #15187
Any updates ? We are having the same issue here

[2019-11-26 10:04] gibbotronic opened #25750 "Failed inclusion of PHP files shows location of error, not the missing file"
### Preconditions (*)

1. Magento 2.3.2 +

### Steps to reproduce (*)

1. Break the vendor directory (if modules installed via composer) by deleting a file from any vendor.

### Expected result (*)

1. Inclusion of the file should state which file is missing.

### Actual result (*)

1. Inclusion failure shows the location of the original inclusion exception, not the missing file.
eg. `vendor/compo

[2019-11-26 10:05] gibbotronic commented on #25750
yes

I would fix this by modifying the ClassLoader.php file but I don't think I have permissions etc. I just want to make Magento more helpful to use, particularly under error cases/conditions.

[2019-11-26 10:06] magento-engcom-team commented on #25731
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29185` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-26 10:07] krisdante commented on #12512
Who can make some business decisions here?
The amount of work is rather big to fix this and I would need some vision from Magento so in the end this will not be rejected.

[2019-11-26 10:10] engcom-Charlie commented on #12512
@krisdante i will approve the your issue and try to move it forward to a quick solution

[2019-11-26 10:21] OvalMedia commented on #13398
Checkout is the most sensible part of a shop. And it has been effed up big time in M2. Totally over-engineered. I have set up 2 stores now and spent ~50% of my time hunting bugs and issues. Yet customers keep complaining that the checkout does not work for them and it is close to impossible to find out what the issues are. Well done magento, well done.

[2019-11-26 10:42] anuradhachakraborti opened #25751 "magento2 admin panel dashboard Revenue showing 0.00"
The tabs amount and orders are not working. i.e there is no action on clicking amount and order magento2 admin panel .magento2 admin panel dashboard Revenue showing 0.00

[2019-11-26 10:43] fabriciosobral commented on #25703
@niravkrish I have been working on this before then you, remove your pull request, please

[2019-11-26 10:43] anuradhachakraborti commented on #25751
magento2 admin panel dashboard Revenue showing 0.00  Magento ver. 2.3.2

[2019-11-26 10:48] gibbotronic opened #25752 "catalog inventory_stock_status is completely redundant"
### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Look at the database table

### Expected result (*)

1. No data duplication.
2. A sensible database structure.
3. Useful comments against columns so that you know what the column is for.

### Actual result (*)

1. The table is a repeat of catalog_stock_item for no obvious reason.

Related to https://github.com/magento/magento2

[2019-11-26 10:48] gibbotronic commented on #25752
Yes

This table is visible on 2.3.2 in its current baffling form.

[2019-11-26 10:49] engcom-Charlie commented on #25724
Hello @LiamKarlMitchell
We are not able to reproduce this issue on the latest 2.3-develop branch.
For using a unix sockets you have to configure your  `PHP` for it.
![image](https://user-images.githubusercontent.com/51680850/69618313-5e0cbb00-1042-11ea-82f5-35273f89a2ae.png)
Info from [this topic.](https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli-install.html)

So i have

[2019-11-26 10:49] #25724 closed, assigned to engcom-Charlie

[2019-11-26 11:06] bernd-reindl opened #25754 "setHasOptions when save product"
### Preconditions (*)

Magento 2.3.3 & 2.3-develop

### Steps to reproduce (*)

Check values in the `catalog_product_entity` table before

1. Load a product (type_id 'bundle') in a custom module ($model->load($entityId);)
2. change any value ($model->setAnyValue('test');)
3. save the product (model->save();)

You can use this code:
[code]
### Expected result (*)

1. the fields 'has_options' and 'r

[2019-11-26 11:11] shmisting commented on #19173
any news on this?

[2019-11-26 11:15] magento-engcom-team commented on #25735
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29186` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-26 11:16] engcom-Charlie commented on #23628
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-11-26 11:16] #23628 closed, assigned to nobody

[2019-11-26 11:16] sathish1228 commented on #25457
No, we are not on the same page.

I am not doing any edits. I am just not able to see any records but see
only the count. Results grid is not visible but total records count is
showing. Please look at the screenshot i sent in the previous comments.

On Tue, Nov 26, 2019, 14:12 Freek Vandeursen <notifications@github.com>
wrote:

[2019-11-26 11:20] julianvdrielen commented on #4409
This is still an occurring issue. Ticket should be reopened.

[2019-11-26 11:20] sezio commented on #18812
Hello,
Did anybody found a solution for this problem ? Thanks

[2019-11-26 11:23] krishprakash commented on #25751
Hi @anuradhachakraborti. Thank you for your report.
Please provide more details to reproduce the issue.
Follow the issue reporting guild lines as below
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-11-26 11:24] Payless commented on #18812
I have updated the magento version to 2.2.9 and it's working fine, maybe you need to update your magento version

[2019-11-26 11:26] ankursharma1930 commented on #18812
I have updated the magento version to 2.2.9 and it's working fine, maybe you need to update your magento version

[2019-11-26 11:26] Payless commented on #18812
Thanks for your email,

Our office is currently not open until 8.30am in the morning. We appreciate your email and will get back to you ASAP.

Guy Dawson |

Payless Promotions

P: 1300 658 610

E: guy@paylesspromotions.com.au

Website<https://urlsand.esvalabs.com/?u=http%3A%2F%2Fwww.paylesspromotions.com.au%2F&e=c06c7bd6&h=585d9e53&f=y&p=y> | Facebook<https://urlsand.esvalabs.com/?u=http%3A%2F%2Fw

[2019-11-26 11:29] Naeemakhter1999 opened #25755 "Page Action Edit not working"
( ! ) Fatal error: Method Magento\Ui\TemplateEngine\Xhtml\Result::__toString() must not throw an exception, caught Error: Call to a member function addFieldToFilter() on null in D:\wamp64\www\magento2\vendor\magento\module-ui\Component\Wrapper\UiComponent.php on line 0

[2019-11-26 11:29] Naeemakhter1999 commented on #25755
( ! ) Fatal error: Method Magento\Ui\TemplateEngine\Xhtml\Result::__toString() must not throw an exception, caught Error: Call to a member function addFieldToFilter() on null in D:\wamp64\www\magento2\vendor\magento\module-ui\Component\Wrapper\UiComponent.php on line 0

[2019-11-26 11:31] sezio commented on #18812
@ankursharma1930 thanks for your answer!
In fact I'm already on 2.3.0 and I was forced to migrate from 2.2.5 because of an other feature which was broken and the fix never came out.
That's why I'm looking for a real fix to apply, I don't want to make an other migration as I'm not sure if it's fixed on more recent releases...
I think I'll have to take a look to the differences between 2.2.9 and 2.3

[2019-11-26 11:32] engcom-Charlie commented on #12502
I am closing this issue now due to inactivity.
Please reopen and update if you wish to continue.

[2019-11-26 11:32] #12502 closed, assigned to nobody

[2019-11-26 11:44] krishprakash commented on #25755
Hi @Naeemakhter1999. Thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Thank You.

[2019-11-26 11:44] #25755 closed, assigned to krishprakash

[2019-11-26 12:18] engcom-Echo commented on #25736
Hello @JamesFX2

Thank you for your report and collaboration!

Could you provide a use case why this would be necessary to change?
Please add steps to reproduce and version of magento.

Thank you!

[2019-11-26 12:32] magento-engcom-team commented on #25406
Hi @aleks-2a.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-22626` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still

[2019-11-26 12:32] #25406 closed, assigned to nobody

[2019-11-26 12:42] maksymMezhensky commented on #23133
This bug is also reproducible on version magento 2.3.2

![image](https://user-images.githubusercontent.com/47173539/69634396-c798c380-105a-11ea-908e-48f85e7c6fbd.png)

[2019-11-26 12:47] Nagamaiah007 opened #25757 "Link (terms and conditions) is not opening new tab. Missing target="_blank" for anchor tag."
### Preconditions (*)

1.Magento 2.3.3

### Steps to reproduce (*)

1. Go to Admin Page -> Menu
2. Stores -> Settings -> Configuration -> General -> Advanced Reporting Page

### Expected result (*)

1. Link should be opened in new tab.
2.
![image](https://user-images.githubusercontent.com/54108580/69629652-5bc25500-1072-11ea-92ac-207a43f45756.png)

### Actual result (*)

1. Link is opened in the s

[2019-11-26 12:50] itsPranith commented on #25757
@magento give me 2.3-develop instance

[2019-11-26 12:50] magento-engcom-team commented on #25757
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-26 12:50] magento-engcom-team commented on #25757
Hi @itsPranith, here is your [Magento instance](https://i-25757-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25757-2-3-develop.instances.magento-community.engineering/admin](https://i-25757-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-26 12:53] magento-engcom-team commented on #25747
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29190` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-26 13:03] itsPranith commented on #25757
I'm able to replicate this issue in CE-2.3.3

[2019-11-26 13:04] magento-engcom-team commented on #25757
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29191` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-26 13:06] sathish1228 commented on #25457
I just try to open "Index Management" page see the below/attached screen.

On Tue, Nov 26, 2019 at 6:16 AM SONU DIZPROT <sathishmsbs@gmail.com> wrote:

[2019-11-26 13:57] nicholasscottfish commented on #24448
This issue is not resolved, I have raised a PR. In the meantime for anyone having this issue please use the following patch.

`
diff --git a/vendor/magento/framework/Mail/Template/TransportBuilder.php b/vendor/magento/framework/Mail/Template/TransportBuilder.php
index 8e298db9..870bc40d 100644
--- a/vendor/magento/framework/Mail/Template/TransportBuilder.php
+++ b/vendor/magento/framework/Mail/Tem

[2019-11-26 14:42] engcom-Echo commented on #25404
Hello @Khushbu-Webkul-QA

Thank you for your report and collaboration!
We are not able to reproduce this issue on the 2.3-develop and 2.3.3 branches by provided steps.

**Testing scenario:**

**Preconditions:**

1. Magento version: 2.3.3 or 2.3-develop
2. PHP Version: 7.2
3. Js,css, html merged and minified
4. Flat catalog/category - Yes
5. Mode : production

**Steps to reproduce:**

1. Add simple

[2019-11-26 14:49] jonathan-martz commented on #23808
Iam facing the same problem.
Fix of @hmphu doesnt works for me as well.

Fix of @Dzhus111 works for me.

[2019-11-26 15:03] choussamaster commented on #23133
I think the bug is happening at default mode, switching to developer mode fix it

[2019-11-26 15:34] matthewhaworth commented on #24233
I've raised this with Magento themselves. They're currently saying it's due to the Bronto module.

[2019-11-26 15:41] AnnaShepa commented on #25740
@magento give me 2.3-develop instance

[2019-11-26 15:41] magento-engcom-team commented on #25740
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-26 15:42] magento-engcom-team commented on #25740
Hi @AnnaShepa, here is your [Magento instance](https://i-25740-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25740-2-3-develop.instances.magento-community.engineering/admin](https://i-25740-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-26 15:46] GuillaumeBrook commented on #25499
Hello

Tested in Magento CE 2.3.3
This is indeed not working.

When visiting a product which is not in FPC, a row is added in the table "report_event".
When visiting a product which is in FPC, no row is added in the table "report_event".

Expected behavior : a row should be added in "report_event" every time a product page in visited even if this product is in FPC.

[2019-11-26 15:47] edroberts commented on #24233
Seeing this problem without using Bronto

[2019-11-26 16:05] vseager opened #25761 "Site map doesn't include home page"
### Preconditions (*)
1. 2.3.3 or 2.3-develop

### Steps to reproduce (*)

1. Go to Stores > Settings > Configuration > Catalog > XML Sitemap > Generation Settings section
2. Change option Enabled to Yes
3. Go to `Marketing > Seo & Search > Site Map`
4. Create a new site map and generate
5. Open new site map in browser

### Expected result (*)
1. Sitemap should include the home page
![Sitemap](htt

[2019-11-26 16:11] AnnaShepa commented on #25740
On clean instance it works fine
<img width="484" alt="Screenshot 2019-11-26 at 17 09 48" src="https://user-images.githubusercontent.com/24183408/69650961-a68e9d80-106f-11ea-9e9e-22d13ffa8f92.png">
 But on one of my project stage even simple searchCriteria[pageSize]=2 returns all categories

[2019-11-26 16:17] krishprakash commented on #25751
Closing this issue as not provided the issue information.
Feel free to reopen it once update the all details for reproduce this issue
Thanks

[2019-11-26 16:17] #25751 closed, assigned to krishprakash

[2019-11-26 16:25] AnnaShepa commented on #25740
@magento give me 2.2-develop instance

[2019-11-26 16:25] magento-engcom-team commented on #25740
Hi @AnnaShepa. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-11-26 16:56] AnnaShepa commented on #25740
Cannot be reproduced in Magento 2.3.3

[2019-11-26 16:56] #25740 closed, assigned to AnnaShepa

[2019-11-26 17:35] bradleybrecher commented on #25502
I am also experiencing this issue on 2.3.3. This is the 3rd issue I have seen with the tax module.

https://github.com/magento/magento2/issues/25020
https://github.com/magento/magento2/issues/25403

[2019-11-26 17:41] pefferen commented on #22272
Is this issue going to be backported to 2.2.x?

[2019-11-26 17:43] merance2000 opened #25763 "Image roles are not being selected in items created by API after upgrade to 2.3.3."
### Preconditions (*)

1. Upgrade to Magento 2.3.3
2. Create or update products via API
3. Product image roles are deselected and unavailable - yet they show as assigned in exports and in tables. Image roles not showing on front end and also showing as not selected on backend.

### Steps to reproduce (*)

1.Upgrade to 2.3.3 from 2.3.1
2. Create or edit products with images via api endpoint connect

[2019-11-26 18:05] merance2000 commented on #25763
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-11-26 18:05] magento-engcom-team commented on #25763
Hi @merance2000. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-26 18:06] magento-engcom-team commented on #25763
Hi @merance2000, here is your [Magento instance](https://i-25763-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25763-2-3-develop.instances.magento-community.engineering/admin](https://i-25763-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-26 18:17] vishalpatel14 commented on #24448
Hello @nicholasscottfish

This issue have been resolved by some one in the development branch and i got response that it will be deployed in new version in 2.3.4. It does not need change in the code the file you mention.

It has the issue with this file below is the path of file and the solution.

vendor/magento/module-sales/Model/Order/Email/SenderBuilder.php

And the function in the file should

[2019-11-26 18:25] torhoehn commented on #17193
@Nastradoomus So you think there's another problem e.g. the loading order?

[2019-11-26 18:37] merance2000 commented on #25763
We will need an endpoint to connect the api sync to. And may need the instance time extended while we build the sync

From: Magento Community Engineering <notifications@github.com>
Sent: Tuesday, November 26, 2019 1:06 PM
To: magento/magento2 <magento2@noreply.github.com>
Cc: merance2000 <merance@adamspetsupplies.com>; Mention <mention@noreply.github.com>
Subject: Re: [magento/magento2] Image role

[2019-11-26 18:38] sdzhepa commented on #24426
@magento give me 2.3.0 instance

[2019-11-26 18:38] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-11-26 18:46] sdzhepa commented on #16163
Hello @DanielRuf

Just update.
There root cause of this issue with the deployer is PHP version on the server with deployer.
Recently we have updated it to `7.3.11` and as a result, we have:

[code]
Now I am trying to figure out how it can be hotfixed.

[2019-11-26 18:46] magento-engcom-team commented on #16163
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-11-26 19:56] sdzhepa commented on #16163
@magento give me 2.3.0 instance

[2019-11-26 19:56] magento-engcom-team commented on #16163
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-11-26 19:57] magento-engcom-team commented on #16163
Hi @sdzhepa, here is your [Magento instance](https://i-16163-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-16163-2-3-0.instances.magento-community.engineering/admin](https://i-16163-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-26 19:58] sdzhepa commented on #16163
@magento give me 2.3-develop instance

[2019-11-26 19:58] magento-engcom-team commented on #16163
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-26 19:59] magento-engcom-team commented on #16163
Hi @sdzhepa, here is your [Magento instance](https://i-16163-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-16163-2-3-develop.instances.magento-community.engineering/admin](https://i-16163-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-26 19:59] crankycyclops commented on #23340
I'm seeing this issue on Magento 2.3.3.

[2019-11-26 20:09] krzksz commented on #22272
@pefferen no, according to [this document](https://magento.com/sites/default/files/magento-open-source-software-maintenance-policy.pdf) Magento 2.2.x reached its EOL both in terms of features and security fixes. You need to migrate to 2.3.x if you want to have this feature or backport it yourself.

[2019-11-26 20:09] #22272 closed, assigned to nobody

[2019-11-26 20:16] bgorski opened #25766 "Create Order in the admin panel: wrong price is displayed for Configurable Products with Customizable Options"
### Preconditions (*)
1. Magento 2.3.3 (2.3.2 is affected as well, not tested on any other version)

### Steps to reproduce (*)
1. Create a configurable product with a Customizable (customizable, not configurable!) Option added to the parent product. The option should have at least one value that increases price of the product
2. Go to the Create Order page in the admin panel. Select/create a cust

[2019-11-26 20:16] andrewbess commented on #23133
This problem is reproduced in developer mode too.
Take a look at my [screenshot](https://monosnap.com/file/h2DknigEFSoVF1c2NkacE4fC84xTur)

[2019-11-26 20:39] bgorski commented on #25766
@magento give me 2.3-develop instance

[2019-11-26 20:39] magento-engcom-team commented on #25766
Hi @bgorski. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-26 20:40] magento-engcom-team commented on #25766
Hi @bgorski, here is your [Magento instance](https://i-25766-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25766-2-3-develop.instances.magento-community.engineering/admin](https://i-25766-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-26 20:44] bgorski commented on #25766
Tested on the development instance provided above and I can confirm that the issue is still there.

[2019-11-26 21:06] drb-services commented on #7472
Hi - I'm having the same issue.
It does work in the default Website/Store in a multistore environment but not in any other sites.
@engcom-Bravo can you please check and verify in an other non-default website?

[2019-11-26 21:21] sdzhepa commented on #16163
@DanielRuf

We have applied hotfix and it works now for 2.3.0 ... 2.3-develop

I hope it is a temporary solution because we have a lot of tasks in our backlog related to Instance Deployer functionality(refactor/rewrite). We planned to work on it starting from the next year.

Also, let me remind that the main goals of this tool are
- provides the ability to check(confirm) is a newly created issue c

[2019-11-26 23:39] merance2000 commented on #10687
I'm having this issue in 2.3.3 - how do we fix?

[2019-11-26 23:42] merance2000 commented on #10461
I'm having this issue in 2.3.3 - what is the recommended fix?

[2019-11-27 00:36] LiamKarlMitchell commented on #25724
Respectfully it works fine in web site.
The bin/magento setup:upgrade does not respect the unix_socket setting!

I should not have to configure this setting additionally in PHP if it is already configured in the env file for the DB connection.

[2019-11-27 01:16] not-art opened #25767 "Page Builder auto-completing malformatted HTML tags for HTML-ready Product fields (Description, Short Description, etc), causing Admins to miss issues they need to fix / resulting in broken PDPs for customers"
### Preconditions (*)

1. Magento Commerce 2.3.3
2. Firefox / Chrome (latest versions as of 2019-11-26)
3. Have products with malformatted HTML tags in product fields that allow HTML (short description, description). For us, our short descriptions for some products had malformatted HTML tags from a test migration in our M2 staging.
_Note: Our product data with malformatted HTML tags was migrated o

[2019-11-27 01:35] not-art commented on #25767
An alternative solution would be still auto-completing the malformed HTML tags in Page Builder, but if you do so, you **must** alert the Admin User viewing the Edit Page of the Product that they should make a whitespace / non-consequential change to the fixed field & save the product. (simply saving the product, even with the corrected HTML tags thanks to the auto-complete from Page Builder, won't

[2019-11-27 02:23] onlinebizsoft commented on #25502
@magento give me 2.3-develop instance

[2019-11-27 02:23] magento-engcom-team commented on #25502
Hi @onlinebizsoft. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-27 02:24] magento-engcom-team commented on #25502
Hi @onlinebizsoft, here is your [Magento instance](https://i-25502-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25502-2-3-develop.instances.magento-community.engineering/admin](https://i-25502-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-27 02:52] onlinebizsoft commented on #25502
Vertex  seems to be not showing in configuration in latest 2.3-develop. Anyone has any idea?

[2019-11-27 02:57] clion007 commented on #25741
I get the method now as below:
1. Go to your theme folder create a folder Magento_Catolog/templates/product/list;
2. Copy the toolbar.phtml and list.phtml to Magento_Catolog/templates/product/list and Magento_Catolog/templates/product folder created just now;
3. Open the copied toolbar.phtml file above, delete the code "<?= $block->getPagerHtml() ?>" and save;
4. Add php code "$_pager = $block->ge

[2019-11-27 02:58] #25741 closed, assigned to krishprakash

[2019-11-27 02:58] #23825 closed, assigned to nobody

[2019-11-27 04:20] ajijshekh123 commented on #25744
Give me @magento give me 2.3-develop instance

[2019-11-27 04:20] magento-engcom-team commented on #25744
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-27 04:21] magento-engcom-team commented on #25744
Hi @ajijshekh123, here is your [Magento instance](https://i-25744-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25744-2-3-develop.instances.magento-community.engineering/admin](https://i-25744-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-27 04:33] nntoan commented on #25740
@AnnaShepa it seems that Magento identified the issue and fixed it themselves here: https://github.com/magento/magento2/commit/a48cd8b634e6042051e82727f264b18b7137c952#diff-339443673db966cb93653dd08339a8f7

Please create a patch for it if you are using version lower than 2.3.3

[2019-11-27 04:35] ajijshekh123 commented on #25744
Hello, @grichards,
I have verified this issue as per your steps and attached screenshot.
I haven't reproduced this issue on Default Magento 2.3 Instance.
See attached screenshot.

![2019-11-27](https://user-images.githubusercontent.com/24711761/69693965-45ada680-10fd-11ea-8a6e-1b56878d4891.png)

@grichards - Please update me on any video or proper steps so I will reproduce this issue.

Thanks.

[2019-11-27 05:43] jasonparauka opened #25768 "Authorize.net Auth & Capture not Capturing"
### Preconditions (*)

1. Magento 2.3.3 & 2.3-develop

### Steps to reproduce (*)

1. Configure Authorize.net to auto-capture
![Screenshot from 2019-11-27 14-43-09](https://user-images.githubusercontent.com/51680850/69724648-02ffc480-1125-11ea-8703-220c4e494134.png)

2. Place order via Authorize.net
![Screenshot from 2019-11-27 14-42-15](https://user-images.githubusercontent.com/51680850/69724664-

[2019-11-27 06:02] Khushbu-Webkul-QA commented on #25404
I have installed a fresh magento version 2.3.3, and i have again faced this issue

[2019-11-27 06:19] manojpal29 commented on #25710
Thanks @ajijshekh123 , I have resolved issue.
The issue arises on page loading time not after page loading.

Thanks.

[2019-11-27 06:28] ajijshekh123 commented on #25710
Okay @manojpal29, Let me close this issue.

[2019-11-27 06:28] #25710 closed, assigned to ajijshekh123

[2019-11-27 06:41] DanielRuf commented on #16163
Awesome, many thanks.

Well but about testing 2.2 releases and testing against specific releases? This is a valid usecase.

[2019-11-27 07:07] vtransy commented on #17320
In my case, I did remove all log file in var (or you can backup it) then re-run export function. After that go to var/log and found an exception.

Open log and see that function

    set_time_limit

I go to php.ini and found that the function in list disable function config. I remove it from list then it works.

You can visit here for more detail: https://community.magento.com/t5/forums/replypage/

[2019-11-27 07:32] Nastradoomus commented on #17193
First i'm sorry i don't have the time right now to test things with vanilla Magento installation but there are two things that comes to my mind.

As you said:
Loading order or some process that isn't finished before paint.
or
Litespeed Litemage cache (which obviously complicates things)

It is always the javascript translations that fails. It's actually quite irritating to update Magento and find

[2019-11-27 08:09] kkorushkin commented on #25457
@FreekVandeursen i can't solve this issue so i quit, sorry. This ticket needs someone with strong knockout.js background and I'm not the one.

[2019-11-27 08:53] magento-engcom-team commented on #25739
@Stepa4man Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-27 09:51] unxsist commented on #15545
@erikhansen Thanks! Your patch fixed the issue at once!

[2019-11-27 09:53] kleestb commented on #23511
we run libsodium >=1.0.13 and commented encryptor.php, but the problem persists :-(

any other idea?

[2019-11-27 09:54] polcarrasco commented on #25602
Sorry, but I have not been able to get a log for the request.
Is it any other way to find out the problem?

Thanks!

[2019-11-27 10:01] devchris79 commented on #25602
You need to use the setup option debug on, this will then write to the log for each request.
I think the path is /var/log/shipping.log from memory. Although you posted it in your first post.

![debug](https://user-images.githubusercontent.com/43850303/69713578-b0121700-10fc-11ea-9bf1-5481080e9f43.jpg)

[2019-11-27 10:16] bibin-alwafaa opened #25769 "Arabic invoice pdf issue Magento 2.3.0 showing as Arabic letters but not correct"
### Preconditions (*)
Magento 2.3.0 & 2.3-develop
The store should be in Arabic

### Steps to reproduce (*)
1) Place an order in Arabic store
2) Customer fill the address and name all in Arabic
3) Login to the admin panel and open orders
4) Create an invoice against the order
5) Download the invoice pdf and compare the content in the admin side with the invoice pdf

### Expected result (*)
same as

[2019-11-27 10:23] magento-engcom-team commented on #25404
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29220` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-27 10:29] mnoman83 commented on #23511
which php version are you using ? make sure php version  should be 7.2 or greater

[2019-11-27 10:34] kleestb commented on #23511
php version is 7.2.15

[2019-11-27 10:35] engcom-Charlie commented on #25750
Hello @gibbotronic
We are not able to reproduce this issue on the latest Magento 2.3.3.

**Testing scenario:**

1. Delete`/vendor/magento/module-checkout/Model/Cart/CartInterface.php`
2. Go to the checkout page
3. Get the error

**Result:**
Clear description of missing file
`Fatal error: Interface 'Magento\Checkout\Model\Cart\CartInterface' not found in /var/www/html/magento2pr/vendor/magento/modu

[2019-11-27 11:03] piotrkwiecinski commented on #25076
@robolmos could you try today. It was not accessible for me too yesterday but seam to work now.

[2019-11-27 11:06] magento-engcom-team commented on #4409
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29221` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-27 11:22] PascalBrouwers opened #25771 "Backend wysiwyg image browser always calls php instead of loading directly the image file"
### Preconditions (*)

1. Magento 2.3.x
2.

### Steps to reproduce (*)

1. Create a symlink to pub/media: `mkdir symlink && mv pub/media symlink && cd pub && ln -s ../symlink/media media`
2. Go to backend and open up a wysiwyg image browser and have a few images in there.
3. Note that all src to the image are in the format of `admin/cms/wysiwyg_images/thumbnail/file/`
4. Reload the image browser.

[2019-11-27 11:23] PascalBrouwers commented on #25771
Possible related: https://github.com/magento/magento2/issues/11304

[2019-11-27 11:27] mnoman83 commented on #23511
i can solve it

[2019-11-27 11:30] PascalBrouwers commented on #25771
Not sure if symlink is what is causing this issue, but it clearly does not get the path correct and a `/` is missing.

[2019-11-27 11:59] AnnaShepa commented on #25769
Hi @Alwafaa123 thank you for the report. Please provide more information. I don't see what the problem you have exactly. More information about reporting you can find [here](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2019-11-27 12:02] torhoehn commented on #17193
@Nastradoomus I'll test it tomorrow on a vanilla Magento instance.

[2019-11-27 12:06] #6719 closed, assigned to engcom-Delta

[2019-11-27 12:13] kleestb commented on #23511
how?

[2019-11-27 12:14] Yonn-Trimoreau commented on #23511
grabbing a donut

[2019-11-27 12:17] ravi-chandra3197 commented on #24953
I have found a similar issue for configurable product price indexing witch fixed by this PR  #24962

[2019-11-27 12:18] mnoman83 commented on #23511
you need to provide me your server details

[2019-11-27 12:19] Purushottam-saini commented on #12412
Hello ,
It creates a duplicate product in admin. but when i am check "main website" showing same issue.

[2019-11-27 12:19] Yonn-Trimoreau commented on #23511
https://media2.giphy.com/media/L0f8DZfq7xwdnapptG/giphy.gif?cid=790b7611c3fdbcb70fb4ee72538dbd56d5e61cb28e4d9570&rid=giphy.gif

[2019-11-27 12:20] kleestb commented on #23511
you can see all details here: https://shopgeistlichcom.stage5.cs2.ch/stefan.php

[2019-11-27 12:22] engcom-Charlie commented on #25763
Hello @merance2000

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.3-develop & 2.3.3 branches by provided steps.

**Testing scenario:**
Add images with different types & positions to the product:
![image](https://user-images.githubusercontent.com/51680850/69722354-86b6b280-111f-11ea-9a5a-f5c3d17b1630.png)
![image](https://user-images.githubus

[2019-11-27 12:30] shikhamis11 commented on #23133
hello @choussamaster , @maksymMezhensky ,@andrewbess
I checked this on magento 2.3.-develop and 2.3.3 versions. I am not able to reproduce this issue with the steps written in description .
Please check if it requires any additional steps to reproduce this issue please update description too

[2019-11-27 12:50] magento-engcom-team commented on #25768
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29222` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-27 12:50] yurylapi opened #25773 "Index Management Grid: Align issue with checkboxes"
**Preconditions**
1. Install or update Magento 2.3 to the last version;

**Steps to reproduce**
1. Login to admin panel;
2. Go to the System->Tools->Index Mangement;
3. You will see a broken grid;
![_thumb_439969](https://user-images.githubusercontent.com/44709956/69720095-29683480-1112-11ea-9655-8063bfb85863.png)

**Expected result**
The grid table aligns checkboxes properly.

**Actual result**
1

[2019-11-27 12:57] engcom-Charlie commented on #25773
Hello @yurylapi
As you know this issue is resolved now. I think it was reported earlier. That fix will be included in Magento 2.3.4 .
So no sense to confirm your issue.  We can just close it.

Thanks for your report!

[2019-11-27 12:57] #25773 closed, assigned to engcom-Charlie

[2019-11-27 13:00] magento-engcom-team commented on #25738
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29223` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-27 13:26] engcom-Echo commented on #25432
Hello @indefinitedevil

We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-11-27 13:26] #25432 closed, assigned to engcom-Echo

[2019-11-27 13:39] sathish1228 commented on #25457
It's ok. Can you please forward this to anyone you knew?

On Wed, Nov 27, 2019 at 3:09 AM Kirill <notifications@github.com> wrote:

[2019-11-27 13:42] Alwafaa123 commented on #25769
Preconditions (*)
Magento 2.3.0
The store should be in Arabic
Steps to reproduce (*)
1) Place an order in Arabic store
2) Customer fill the address and name all in Arabic
3) Login to the admin panel and open orders
4) Create an invoice against the order
5) Download the invoice pdf and compare the content in the admin side with the invoice pdf
Expected result (*)
same as content below
eg: الإسم	ابو

[2019-11-27 13:56] alexandrosk commented on #22476
hello @km9484 did you manage to find an answer to this one? Seems I'm experiencing something similar

[2019-11-27 13:58] yurylapi commented on #25773
Perfect, thanks

On Wed, Nov 27, 2019 at 1:57 PM Maxim Vdovenko <notifications@github.com>
wrote:

[2019-11-27 14:21] reinaldokrz commented on #12777
No apache do Wamp o modulo é version_module

[2019-11-27 14:27] engcom-Echo commented on #25767
Hello @not-art

Thank you for contribution and collaboration!
I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.
[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento

[2019-11-27 14:33] Helge-HBA opened #25776 "Endless recursion caused by Magento\SalesRule\Observer\CouponCodeValidation Observer"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. create cart rule with coupon code
2. add some products to cart
3. proceed the checkout and apply the coupon (don't place the order!)
3. deactivate one of the products you have in the cart in the backend
4. call any page in frontend, e.g. reload the checkout page

### Expected result (*)

1. The requested page

### Actual resul

[2019-11-27 14:37] Helge-HBA commented on #25776
This behaviour is caused by the Magento\SalesRule\Observer\CouponCodeValidation Observer   #https://github.com/magento/magento2/commit/58a82c592fa5d1c8b9a53a4e38279840d043a630 wich loads the quote from repository in order to compare the coupon code with a potential new one. Since the observer is hooked inside the total collection process it will be triggered on every call of `$quote->collectTotals

[2019-11-27 14:40] engcom-Echo commented on #25761
Hello @vseager

Thank you for your report and collaboration!

Could you provide a use case why Sitemap should include the home page?

Thank you!

[2019-11-27 14:55] Helge-HBA commented on #25776
One possible solution could be to extend the method `Magento\Quote\Model\QuoteRepository\LoadHandler->load()` and store the original data like the model loading does, e.g.:

	namespace Magento\Quote\Model\QuoteRepository;

	[...]
	class LoadHandler
	{

	public function load(CartInterface $quote)
    {
        [...]
        $quote->setExtensionAttributes($cartExtension);
		$quote->setOrigData();

[2019-11-27 15:26] tprocter-ldg commented on #24632
Hi @jstubbs303

Did you get anywhere with this issue? We have also been experiencing this, we're on 2.2.8.

[2019-11-27 15:28] andrewbess commented on #23133
Hello @shikhamis11
Ok, I have already changed steps for reproduce in description of this issue.
Also, please take a look at my gif
![screencast 2019-11-27 17-20-03](https://user-images.githubusercontent.com/10788564/69736316-eec6c200-113a-11ea-9f9f-d8b65fd78131.gif)
Running bin/magento setup:di:compile is required

[2019-11-27 15:29] devchris79 commented on #25477
@magento give me 2.3-develop instance

[2019-11-27 15:29] PieterCappelle commented on #25480
Hi @hostep, any update/pull request about this issue? We have the same problems with one of our clients :-)

[2019-11-27 15:29] magento-engcom-team commented on #25477
Hi @devchris79. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-27 15:30] magento-engcom-team commented on #25477
Hi @devchris79, here is your [Magento instance](https://i-25477-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25477-2-3-develop.instances.magento-community.engineering/admin](https://i-25477-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-27 15:38] davemacaulay commented on #25767
I believe Page Builder's use of DOMDocument is to blame for the auto formatting of your content, it has a tendency to modify HTML when it's processing it, in your case it's fixing your broken HTML.

This is handled by `app/code/Magento/PageBuilder/Model/Filter/Template.php` and you'll be able to see where we make detections on your description to determine if we need to do additional processing.

[2019-11-27 15:43] #25477 closed, assigned to krishprakash

[2019-11-27 15:49] sdzhepa commented on #25714
@magento give me 2.3.0 instance

[2019-11-27 15:49] magento-engcom-team commented on #25714
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-11-27 15:49] magento-engcom-team commented on #25714
Hi @sdzhepa, here is your [Magento instance](https://i-25714-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-25714-2-3-0.instances.magento-community.engineering/admin](https://i-25714-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-27 15:53] alexandrosk commented on #15545
I need the patch for enterprise! if anyone has it can he please share it with me is really important! Thanks!

[2019-11-27 15:55] alexandrosk commented on #22476
I think it's connected to this one https://github.com/magento/magento2/issues/22587

[2019-11-27 15:56] erikhansen commented on #15545
@alexandrosk Did you try applying [the patch](https://gist.github.com/erikhansen/a813f8cf9fe8e9836eea467bdd205659) I linked to in my previous comment? If so, did it fail to apply, or did it apply, but not work?

[2019-11-27 15:57] alexandrosk commented on #22587
@mertgokceimam
Hello! Can I please have the patch for the commerce edition? you can use the email that is on my account page, thanks! :) really in need of that

[2019-11-27 15:58] alexandrosk commented on #15545
@Erik-ID-89 Actually it does applies, I'm just thinking that enterprise uses all the row_ids insteaf of entity_ids but I'm trying to find a way to test it right now and get back to you soon.

[2019-11-27 16:17] magento-engcom-team commented on #23260
Hi @danielgoodwin97.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-21658` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if yo

[2019-11-27 16:17] #23260 closed, assigned to nobody

[2019-11-27 16:22] bubasuma commented on #25182
Internal Magento team is working on this issue right now.

[2019-11-27 16:45] magento-engcom-team commented on #691
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/magento2#25611 by @drpayyne in 2.3-develop branch
Related commit(s):
 - [0e303660dbe08418c6653059dca7fa85cdf8f770](https://github.com/magento/magento2/commit/0e303660dbe08418c6653059dca7fa85cdf8f770)
 - [1298766deffe2c992b3f29aeb85454cc7bc6e44c](https://github.com/magento/magento2/commit/1298766deffe2c992b3f29aeb85454cc7bc

[2019-11-27 16:45] magento-engcom-team commented on #25647
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#25648 by @edenduong in 2.3-develop branch
Related commit(s):
 - [34998b6ee11084d047aeca7c137d4fd65818e821](https://github.com/magento/magento2/commit/34998b6ee11084d047aeca7c137d4fd65818e821)
 - [20fd591f056285e1d906fd64fe18919f83e5963e](https://github.com/magento/magento2/commit/20fd591f056285e1d906fd64fe18919f

[2019-11-27 16:45] #25647 closed, assigned to edenduong

[2019-11-27 17:00] joaolisboa commented on #22476
@alexandrosk I assume that since it's filters, they're not text/varchar attributes. If they are text/varchar those get written to those tables constantly as if they were search queries and I've had that issue basically making our production website unusable until we found out about it. This issue for me, was unrelated to the one you linked, since the issue in #22587 is an actual issue in the query

[2019-11-27 17:03] joaolisboa commented on #22587
@alexandrosk you have a patch linked above - https://github.com/magento/magento2/issues/22587#issuecomment-516096993

[2019-11-27 17:13] a-dite opened #25778 "Magento 2.3.3: major issue with importing product links (e.g. upsells, crosssells,...)"
We use a custom import module which prepares data and then uses magento catalog-import-export module's model **vendor/magento/module-catalog-import-export/Model/Import/Product.php** to import the product recommendations (upsells, crosssells, related products). We are currently in an upgrade process 2.2.10 -> 2.3.3 and face the following issue on 2.3.3 instance. Only a part of approx. 60.000 relati

[2019-11-27 17:25] sdzhepa commented on #16163
A couple of months ago `2.2-develop` branch was closed/removed for the public repository and after it, we no longer accept Pull Request/Issue for 2.2.x version in this repository.

For more details:

Related DevDoc was updated https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules

[MAGENTO OPEN SOURCE SOFTWARE MAINTENANCE POLICY](https://magento.com/sites/default/files/

[2019-11-27 17:26] sdzhepa commented on #25714
The issue has been fixed.
It seems we can close this ticket

[2019-11-27 17:26] #25714 closed, assigned to sdzhepa

[2019-11-27 17:39] mustdobetter commented on #22587
@joaolisboa, @alexandrosk Be aware the patch supplied in this thread does solve the performance issues but breaks functionality when filtering using composite products including grouped, bundled, and configurable. By applying this patch, not all results will be shown when filtering on these product types. So this is by no means a definitive solution.

[2019-11-27 17:43] rafaelstz opened #25779 "Not saving postcode in the cart page"
### Preconditions (*)

1. It's present in Magento 2.2.9 and 2.3.2
2. Sampledata installed

### Steps to reproduce (*)

1. Add a physical product to the cart
2. Go to the cart page
3. Type a postcode and change the product quantity
4. Click in the **Update Shopping Cart** button

### Expected result (*)

1. Update the quantity and keep the postcode

### Actual result (*)

1. The page is updated and

[2019-11-27 17:47] joaolisboa commented on #22587
@mustdobetter Thanks for pointing out the issue. Fortunately this isn't an issue for me since I have no grouped/bundled/configurable products. The performance hit without the patch is also so bad that it was absolutely necessary to have this patch for us during this time of year.

[2019-11-27 18:05] rafaelstz opened #25780 "Update the cart qty via AJAX"
### Description (*)

Would be great to have the cart page updated via AJAX as the postcode do.
![Screenshot 2019-11-27 14 33 39](https://user-images.githubusercontent.com/610598/69747147-8cfb5d80-1124-11ea-9999-3b2eab6d8920.png)

### Expected behavior (*)

When change the quantity in the cart page, update the shipping rates via ajax as changing the postcode.

### Benefits

It would improve the use

[2019-11-27 18:10] DanielRuf commented on #25714
Definitely, many thanks =)

[2019-11-27 18:14] magento-engcom-team commented on #23133
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29232` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-27 18:16] grichards commented on #25744
@magento give me 2.3-develop instance

[2019-11-27 18:16] magento-engcom-team commented on #25744
Hi @grichards. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-27 18:17] magento-engcom-team commented on #25744
Hi @grichards, here is your [Magento instance](https://i-25744-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25744-2-3-develop.instances.magento-community.engineering/admin](https://i-25744-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-27 18:34] grichards commented on #25744
@ajijshekh123 here is the video demonstrating the problem:

https://drive.google.com/file/d/1IbcaB7QZR4wdXrTgGyOw0JGJAji9aElV/view

[2019-11-27 20:42] drpayyne commented on #691
@magento-engcom-team That PR was for fixing issue 691 in adobe-stock-integration as mentioned in its description, and not this issue.

[2019-11-27 21:20] magento-engcom-team commented on #16424
Hi @BabliDey.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-19969` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still

[2019-11-27 21:20] #16424 closed, assigned to nobody

[2019-11-27 21:30] balwant20 commented on #21823
@m-schreiber : Have you found the solution of above issue? I am also facing the same issue.

[2019-11-27 21:52] sdzhepa commented on #25767
After review and discussion with the internal "Page Builder" team was confirmed it is not a bug.
Details i[n the comment](https://github.com/magento/magento2/issues/25767#issuecomment-559139106) above

[2019-11-27 21:52] #25767 closed, assigned to nobody

[2019-11-27 21:54] not-art commented on #25767
We are provided product feeds from 3rd party vendors we source inventory from. While most of the time their product data has valid HTML, sometimes it does not. We have no way of easily checking if every product's data is correct when importing, and vendors WILL make mistakes; human nature and all.

In those scenarios, my above-mentioned issue is indeed a bug, I would argue; there is no way to see

[2019-11-27 22:00] jmoralescedw commented on #7488
Hi!, Some solution? Same problem in magento 2.2.5.

[2019-11-27 22:04] sdzhepa commented on #25767
@not-art

I think the best action in this situation to resolve the current issue will report it directly to Enterprise support related to your Magento Commerce account.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collaboration. It des

[2019-11-27 22:06] not-art commented on #25767
Thanks @sdhepa, that makes sense. We'll submit a Commerce ticket- thank you for the help / explanation.

[2019-11-27 22:11] navarr commented on #25471
@sebdelta Thank you for your report.  We hope to have this fixed in 2.3.4

Fantastic catch of an interesting edgecase.  My apologies for the inconvenience.

[2019-11-28 00:01] andrewkett commented on #4979
For us this was due to some migrated data which resulted in a few categories existing when their parent no longer did. Deleting these categories with a Mysql query did the trick.

`delete c from catalog_category_entity as c left outer join catalog_category_entity as p on c.parent_id = p.entity_id where p.entity_id is null and c.entity_id != 1`

[2019-11-28 02:54] jerome-zhang opened #25781 "Checkbox alignement on Cache Management and Index Management"
### Preconditions (*)

1. Install latest magento 2.3.3

### Steps to reproduce (*)

1. Go to admin > Cache Management or Index Management
2. Check the checkbox alignement https://www.screencast.com/t/DZcexUvC
![2019-11-28_1052](https://user-images.githubusercontent.com/12635165/69773418-cb992280-11cd-11ea-83bc-02092f82bec9.png)

### Expected result (*)

1. (https://www.screencast.com/t/gbAsMm1MN)

[2019-11-28 03:09] rajeebkumar-sahoo commented on #25268
Hi @ihor-sviziev,

The call to "$order->getCustomer()" as mentioned in the issue does not raise any PHP error saying that "method does not exist on object" but it returns NULL. So the method already exists and the functionality provided on "Order" model class as a magic method like
"@method \Magento\Customer\Model\Customer getCustomer()". And the magic method gets resolved in "\Magento\Framework\D

[2019-11-28 04:09] ihor-sviziev commented on #25268
In this case would be better to update phpdoc block that will show that
return type for getCustomer() could be also null. Is it sounds reasonable
to you?

On Thu, 28 Nov 2019 at 05:09, Rajeeb Kumar Sahoo <notifications@github.com>
wrote:

[2019-11-28 04:45] krishprakash commented on #25781
Hi @jerome-zhang.
This issue is resolved and reported earlier. That fix will be included in Magento 2.3.4 .
You can review it at #25773
Review the PR #25443
Thanks for your report!

[2019-11-28 04:45] #25781 closed, assigned to krishprakash

[2019-11-28 06:20] ahmadalkaid commented on #17195
Dears,
The issue still there, even when we are in the production mode. I had to override the file to fix it. I am using:
**Magento 2.3
PHP 7.1.33**
So could anyone help here?

Thanks,
- Kaid

[2019-11-28 07:09] ajijshekh123 commented on #25744
Thanks for the Update @grichards

[2019-11-28 07:09] ajijshekh123 commented on #25744
Give me @magento give me 2.3-develop instance

[2019-11-28 07:09] magento-engcom-team commented on #25744
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-28 07:09] magento-engcom-team commented on #25744
Hi @ajijshekh123, here is your [Magento instance](https://i-25744-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25744-2-3-develop.instances.magento-community.engineering/admin](https://i-25744-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-28 07:18] ajijshekh123 commented on #25744
Hi @grichards,
This issue is replicated on Mac OS (Chrome Browser). In the Windows system, Jquery error seems not replicated.
See attached screenshot:

![Screenshot 2019-11-28 at 12 45 12 PM](https://user-images.githubusercontent.com/24711761/69785028-39007f80-11dd-11ea-8093-2d90d13dcb84.png)

[2019-11-28 07:19] magento-engcom-team commented on #25744
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29240` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-28 09:19] AnnaShepa commented on #25769
@magento give me 2.3-develop instance

[2019-11-28 09:19] magento-engcom-team commented on #25769
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-28 09:19] magento-engcom-team commented on #25769
Hi @AnnaShepa, here is your [Magento instance](https://i-25769-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25769-2-3-develop.instances.magento-community.engineering/admin](https://i-25769-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-28 09:26] mlaurense commented on #14881
FFS... Seriously, one and a half year later and still not working...

[2019-11-28 09:43] abdulrafaywaqar commented on #25608
please update is it fixed or not?

[2019-11-28 09:52] engcom-Charlie commented on #25752
Hello @gibbotronic
Could you make a PR for this issue?

[2019-11-28 09:53] magento-engcom-team commented on #25752
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29242` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-28 09:59] engcom-Charlie commented on #25038
Hello everyone!
We are closing this issue as @piotrusin temporary fix is working fine:
https://github.com/magento/magento2/issues/25038#issuecomment-552396913
https://github.com/magento/magento2/issues/25038#issuecomment-552796629.

[2019-11-28 10:14] tobiascm commented on #25776
@magento I am working on it

[2019-11-28 10:16] gfigliolia commented on #25608
Fixed

[2019-11-28 10:17] nige-one commented on #25776
@magento i am working on it

[2019-11-28 10:18] sagaltsev commented on #25776
@magento i am working on it

[2019-11-28 10:19] sagaltsev commented on #25769
@magento i am working on it

[2019-11-28 10:32] Parakoopa commented on #24229
#cd-cologne19

[2019-11-28 10:32] magento-engcom-team commented on #24229
@Parakoopa thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-11-28 10:36] Parakoopa commented on #24229
This issue is somewhat related to #4955. The best solution for the future would probably to solve that issue, this will also allow changing any cache state with a read-only env.php.

As a simple solution for this issue I will remove the observer ``Magento\PageCache\Observer\SwitchPageCacheOnMaintenance``, which tries to disable the FPC when running maintenance mode to prevent pages being cached wh

[2019-11-28 10:51] ajwalks commented on #21738
Thank you @khasru for a fix. Just encountered same problem on a **Magento 2.3.3** after trying to use the admin to BULK update Action on products Advanced Prices. The Tier Prices did not stick and locked products so they could not be updated. Deleting those entries allowed them to function again. (I also had imported data from 1.9 to M2).
Cheers.

[2019-11-28 11:16] ajijshekh123 commented on #25737
@Munszu - Can you please provide video or step details?

[2019-11-28 11:20] bernd-reindl commented on #25754
How can i add Issue: Clear Description?

Its not possible to test this on a develop instance, because i have to add a module to save the product (bundle) programmatically.

[2019-11-28 11:35] engcom-Charlie commented on #25754
Hello @bernd-reindl
I have to add all labels to the issue. That is not your problems : )

[2019-11-28 11:40] magento-engcom-team commented on #25754
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29253` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-28 11:45] EarlBromStyle commented on #24934
#cd-cologne19

[2019-11-28 11:45] magento-engcom-team commented on #24934
@EarlBromStyle thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-11-28 12:05] engcom-Charlie commented on #7298
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-11-28 12:05] #7298 closed, assigned to engcom-Bravo

[2019-11-28 12:22] maksek commented on #25780
@magento give me 2.3-develop instance

[2019-11-28 12:22] magento-engcom-team commented on #25780
Hi @maksek. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-28 12:22] magento-engcom-team commented on #25780
Hi @maksek, here is your [Magento instance](https://i-25780-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25780-2-3-develop.instances.magento-community.engineering/admin](https://i-25780-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-28 12:27] magento-engcom-team commented on #22859
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29256` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-28 13:08] Alwafaa123 commented on #25769
@sagaltsev got any solution?

[2019-11-28 13:10] mfickers commented on #20463
#cd-cologne19

[2019-11-28 13:10] mfickers commented on #25042
#cd-cologne19

[2019-11-28 13:18] torhoehn commented on #17193
On a vanilla Magento instance I installed the official German language pack. I removed an article via minicart and the cancel button was translated.

<img width="1552" alt="Screenshot 2019-11-28 at 14 16 43" src="https://user-images.githubusercontent.com/1945725/69809336-d8c40a80-11e9-11ea-9c3e-b2c7ed083cfc.png">

[2019-11-28 13:20] hasim32 opened #25795 "iPad: Add to cart button should not display as Adding.. once back form detail page"
iPad: Add to cart button should not display as Adding.. once back form detail page

### Preconditions (*)
Magento : 2.3
Sample data installed

### Steps to reproduce (*)

1. iPad: Go to product listing page
2. Click on Add to cart for configurable product (without select product options)
3. It redirect to detail page
4. Now click on back button
5. Review the Adding.. button not changed to Add to c

[2019-11-28 13:27] crazylink commented on #4662
Have you planed to fix it ?

[2019-11-28 13:27] mattijv commented on #25543
This is intented behaviour. Varnish caches content separately for different customer groups, which includes guests and logged in customers.

If you don't need a separate cache for those two groups, you can always modify the behaviour of the `Magento\Framework\App\Http\Context` class so that the two groups get same cache identifier.

[2019-11-28 13:27] #25543 closed, assigned to nobody

[2019-11-28 13:32] Nastradoomus commented on #17193
I'll get back on this next week. I'll see if i can get an instance running for you to test.