[2019-03-28 09:01] engcom-backlog-nazar commented on #21916
@craigcarnell no, because this in private repository. https://github.com/magento/magento2ce/pull/3912/files#diff-b2e0d454e4ffd542fa96dc1b7dc225d9

[2019-03-28 09:01] shikhamis11 commented on #21994
@magento-engcom-team give me 2.3-develop instance

[2019-03-28 09:01] magento-engcom-team commented on #21994
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-28 09:02] magento-engcom-team commented on #21994
Hi @shikhamis11, here is your [Magento instance](https://i-21994-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21994-2-3-develop.instances.magento-community.engineering/admin](https://i-21994-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 09:05] craigcarnell commented on #21916
@engcom-backlog-nazar Slightly confused, as you offered a fix above. Will create a ticket with Magento "Gold" support..

[2019-03-28 09:07] OvalMedia commented on #21982
I have the same issue in a project currently in the works. I updated from 2.2.7 to 2.2.8.
I tried to reproduce it in a separate vanilla installation which I upgraded from 2.2.4 to 2.2.8. No issues there.
It must be some custom module.

[2019-03-28 09:19] magento-engcom-team commented on #21994
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-28 09:25] shikhamis11 commented on #21994
@vishal-7037 this issue is not reproduceable at current magento 2.3-develop version.
Please check the screenshot
![Uploading Screenshot_2019-03-28_14-53-53.png…]()

[2019-03-28 09:28] jwilliamson1098 opened #21997 "Transaction Rest API call timing out"
### Preconditions (*)

1. Magento 2.3.0
2. Stripe Credit Card Plugin 1.9.0 / Tested on Vanilla build using Braintree payment
3. Clean installation, with no transactions
4. Credit card set to separate Authorisation and Capture
5. Apache2 webserver. Php 7.2.

### Steps to reproduce (*)

1.  Create a dummy sale, using a test Credit Card number
2. Transaction created as Authorisation successfully.
3.

[2019-03-28 09:29] magento-engcom-team commented on #21997
Hi @jwilliamson1098. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-03-28 09:32] magento-engcom-team commented on #21993
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98929`, `MAGETWO-98930` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-28 09:32] magento-engcom-team commented on #21993
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-28 09:33] engcom-backlog-nazar commented on #21982
Hi @mtjweb thank you for you report, i'm not able to reproduce following steps you described on clean magento, this related to your custom modules.

[2019-03-28 09:33] #21982 closed, assigned to nobody

[2019-03-28 09:34] magento-engcom-team commented on #21981
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-28 09:34] OvalMedia commented on #21982
In my case the module Mageplaza Reports was causing the problem. Disabled it and it is all working again.

[2019-03-28 09:34] hostep commented on #21916
@engcom-backlog-nazar: can you please link to open sourced repo's please? It would be very interesting to see this fix as [other tickets](https://github.com/magento/magento2/issues/21976) are being created which are probably caused by the same issue.

Just link to commits in this repo if they have already been merged, that would be very much appreciated!

[2019-03-28 09:37] jwilliamson1098 commented on #21997
@magento-engcom-team give me 2.3-develop instance

[2019-03-28 09:37] magento-engcom-team commented on #21997
Hi @jwilliamson1098. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-28 09:37] magento-engcom-team commented on #21997
Hi @jwilliamson1098, here is your [Magento instance](https://i-21997-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21997-2-3-develop.instances.magento-community.engineering/admin](https://i-21997-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 09:37] vishal-7037 commented on #21994
@shikhamis11 Have you checked same issue in google chrome browser?
Please check it in chrome.

[2019-03-28 09:42] kisroman opened #21998 "Magento/ImportExport/Model/Import has _coreConfig declared dynamically"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1. See Magento/ImportExport/Model/Import class.
2. Find _coreConfig in construct.

### Expected result (*)

1.  Field should no be declared dynamically
2.

### Actual result (*)

1. Field is declared dynamically
2.

[2019-03-28 09:42] magento-engcom-team commented on #21998
Hi @kisroman. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-28 09:45] dudzio12 opened #22000 "Configurable prices are 0, when MSI is in use and `Show Out Of Stock Products` is enabled."
### Preconditions (*)
1. Magento 2.3.1
2. Few configurable products
3. Conifgured MSI (ex. 1 source, 1 stock for website)

### Steps to reproduce (*)
1. Create new configurable product.
2. Add custom source (MSI) to all children, remove from them default source
3. Set prices to simples
4. Allow to show out of stock prices on the front.
5. Reindex stock
6. Reindex prices

### Expected result (*)
1.

[2019-03-28 09:45] magento-engcom-team commented on #22000
Hi @dudzio12. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-28 09:51] shikhamis11 commented on #21994
@vishal-7037 Please check chrome screenshot
![Screenshot_2019-03-28_15-19-35](https://user-images.githubusercontent.com/25526037/55147815-18bf8300-516d-11e9-90eb-1a7800559998.png)

[2019-03-28 09:54] vishal-7037 commented on #21994
@shikhamis11 I've checked in chrome using above m2 instance. Please check here:
![2019_03_28_Tooltip_001](https://user-images.githubusercontent.com/38535982/55148049-8370be80-516d-11e9-8e58-f0f8bb325712.png)

[2019-03-28 09:54] dudzio12 commented on #22000
@magento-engcom-team give me 2.3-develop instance (2.3.1)

[2019-03-28 09:54] magento-engcom-team commented on #22000
Hi @dudzio12. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-28 09:54] magento-engcom-team commented on #22000
Hi @dudzio12, here is your [Magento instance](https://i-22000-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22000-2-3-develop.instances.magento-community.engineering/admin](https://i-22000-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 09:57] engcom-backlog-nazar commented on #21981
Hi @Lealopez95PSF thank you for you report, this issue has already fixed in 2.3-develop branch, and 2.2-develop branch and available on 2.3.1 and 2.2.8 release.

[2019-03-28 09:57] #21981 closed, assigned to nobody

[2019-03-28 09:58] engcom-backlog-nazar commented on #22000
HI @dudzio12 i think you need to report here -> https://github.com/magento-engcom/msi

[2019-03-28 10:02] vishal-7037 opened #22001 "Magento backend dashboard: Most viewed products tabs gives 404 error in console."
There is an issue on the dashboard page of Magento backend. When you clicked on **Most viewed products** tabs you will get 404 error in the developer console.

I've also checked in vanilla Magento instance. an error also occurs there.
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Login to Magento admin
2. Click on **Most viewed products** tabs, a spinner will be loading c

[2019-03-28 10:02] magento-engcom-team commented on #22001
Hi @vishal-7037. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-28 10:03] magento-engcom-team commented on #22000
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-28 10:10] magento-engcom-team commented on #21997
Hi @jwilliamson1098. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-28 10:11] jwilliamson1098 commented on #21997
Confirm the issue is the same on the vanilla instance created, using the Braintree card payment.

[2019-03-28 10:11] magento-engcom-team commented on #21997
Hi @jwilliamson1098, here is your [Magento instance](https://i-21997-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21997-2-3-develop.instances.magento-community.engineering/admin](https://i-21997-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 10:19] phumlaninyati commented on #4468
I am on magento 2.3.0 this issue is still not fixed.

[2019-03-28 10:20] huyenvk2017 opened #22004 "ce231 - can't update attribute for all product"
### Preconditions (*)

1. ce2.3.1
2. Create at least 2 store view

### Steps to reproduce (*)

1. Go to Catalog > Product
2. Select All Product http://prntscr.com/n429o3
3. Select mass action = Update Attribute
4, In Website tab, tick Add Product To Websites > Main Website http://prntscr.com/n42ank
5. Click Save

### Expected result (*)

1. Update all Product. Both store views will have exactly th

[2019-03-28 10:20] magento-engcom-team commented on #22004
Hi @huyenvk2017. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-28 10:27] maghamed commented on #22000
This is by design behavior in new Inventory (aka MSI).
The product, in fact, is gone when the order is placed. Thus, it's not possible to place another order with this product, neither to add it to a shopping cart. Even if you will visit the product page - the status of that product would be - "Out of Stock".

The reason why the product still appears on the category page and search result page is

[2019-03-28 10:44] yvechirko commented on #21860
If I've I understood it correctly it is needed to add auto-generated new unique URL, when a product is created, instead of displaying the error message, isn't it?

[2019-03-28 10:44] magento-engcom-team commented on #22004
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-28 10:51] dudzio12 commented on #22000
What do you mean - `it's gone`?
So if you buy 1 product, even if stock qty is 100, the product will by unavailable until reservation clears?

Could you tell me what is going on with `cataloginventory_stock_item` `is_in_stock` column? I think it shouldn't be used at all when MSI is enabled. (I agree that this specific issue should be resolved in MSI
 - price indexer should be rewritten for it).

We

[2019-03-28 10:52] shikhamis11 commented on #21994
@vishal-7037 Can you send your chrome version ??
as I also checked on mac system ..not getting this

[2019-03-28 10:54] shikhamis11 commented on #21860
@yvechirko yes it should

[2019-03-28 10:55] magento-engcom-team commented on #22004
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98933` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-28 11:03] vishal-7037 commented on #21994
@shikhamis11 Chrome Version: Version 73.0.3683.75 (Official Build) (64-bit)

[2019-03-28 11:23] jwilliamson1098 commented on #21997
YES I confirm it is recreated on the vanilla magento following the steps.

[2019-03-28 11:23] magento-engcom-team commented on #21997
Hi @jwilliamson1098. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-28 11:24] magento-engcom-team commented on #21997
Hi @jwilliamson1098, here is your [Magento instance](https://i-21997-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21997-2-3-develop.instances.magento-community.engineering/admin](https://i-21997-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 11:28] 1stKarkan commented on #7200
Hello @magento-engcom-team is there any chance this will be fixed in 2.3.1?

[2019-03-28 11:29] pixmin opened #22005 "Magento 2.3 installation fails: Base table or view not found"
### Preconditions (*)

1. Magento CE 2.3.1 (Magento-CE-2.3.1-2019-03-18-06-36-39.tar.bz2)
2. Using PHP 7.2
3. Already have several Magento 2 installed on the database where this one is about to be installed (with different prefixes of course)

### Steps to reproduce (*)

1. Installation from the command line with:

`php bin/magento setup:install --admin-firstname=XXX --admin-lastname=XXX --admin-e

[2019-03-28 11:29] magento-engcom-team commented on #22005
Hi @pixmin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-28 11:43] R-K-Shrivastaw commented on #6924
This is still an issue with Magento 2.3.0 Same error throws on product upload.csv

[2019-03-28 11:49] jvhost commented on #8267
Hi .. I did some more debugging on /vendor/magento/module-quote/Model/Quote.php ... getCustomerGroupId

This function gets called numerous times. Here is some detail about what methods are calling it.  I had 3 items in my cart at the time:

main.INFO: Group id: 3 called by addTierPriceData - from /vendor/magento/module-quote/Model/ResourceModel/Quote/Item/Collection.php [] []

main.INFO: Group id:

[2019-03-28 11:51] magento-engcom-team commented on #22005
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-28 11:51] magento-engcom-team commented on #21860
Hi @AlexandrKozyr. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2019-03-28 12:02] stephenbori commented on #7346
I am having this exact same issue @Tristan-N  - did you get anywhere with this in the end

[2019-03-28 12:07] jameshalsall opened #22006 "2.2.8 - Magento now ships the full quantity of an item that has been partially refunded"
It looks like https://github.com/magento/magento2/commit/10fb01f3702c16411808ae6a24db57ad2413ea83 has introduced a bug allowing Magento to ship the full quantity of items that have been partially refunded.

### Preconditions (*)
Magento 2.2.8, issue was not present in 2.2.7

My environment is not relevant here.

### Steps to reproduce (*)
1. Place an order with qty 2 of an item
2. Refund 1 of that

[2019-03-28 12:07] magento-engcom-team commented on #22006
Hi @jameshalsall. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-28 12:10] jameshalsall commented on #22006
@magento-engcom-team give me 2.2.8 instance

[2019-03-28 12:10] magento-engcom-team commented on #22006
Hi @jameshalsall. Thank you for your request. I'm working on Magento 2.2.8 instance for you

[2019-03-28 12:11] magento-engcom-team commented on #22006
Hi @jameshalsall, here is your [Magento instance](https://i-22006-2-2-8.instances.magento-community.engineering).
Admin access: [https://i-22006-2-2-8.instances.magento-community.engineering/admin](https://i-22006-2-2-8.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 12:16] Swahjak opened #22007 "2.3.0 Product attribute not saving if getCustomAttribute / getCustomAttributes is called"
### Preconditions (*)

1. Magento 2.3
2. Make sure `getCustomAttribute` or `getCustomAttributes()` is called on the model *before* `Magento\Framework\EntityManager\Operation\Update` is executed (for example in a `catalog_product_save_before` observer)

### Steps to reproduce (*)

1. Save a product with a (changed) multi select attribute
2.

### Expected result (*)

1. [Screenshots, logs or descrip

[2019-03-28 12:16] magento-engcom-team commented on #22007
Hi @Swahjak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-28 12:19] Berdir opened #22008 "Columns in AbstractFieldArray subclasses do not get their ID set correctly"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

Create a subclass of AbstractFieldArray and include at least one custom renderer to display a select element with options. Optionally a regular column with a standard textfield. Store some values.

### Expected result (*)

Both the textfield and the select should have their previously stored default value set.

### Actual result

[2019-03-28 12:19] magento-engcom-team commented on #22008
Hi @Berdir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-28 12:20] jameshalsall commented on #22006
Credit memo for 2 of the item: https://i-22006-2-2-8.instances.magento-community.engineering/admin/sales/order_creditmemo/view/creditmemo_id/1/

Shipment for all of the original item qty: https://i-22006-2-2-8.instances.magento-community.engineering/admin/admin/order_shipment/view/shipment_id/2/

[2019-03-28 12:22] farrukhk commented on #21218
Hi,
I just upgraded to 2.3.1 Commerce and I can still see the issue and it is not resolved. Can you confirm if this was fixed in the new release of commerce edition.

[2019-03-28 12:30] Berdir commented on #22008
Actually looks like setInputName() is equally wrong there, and the link above as well as my code have existing workarounds for that that re-map setInputName() or map getName() to getinputName().

[2019-03-28 12:32] wclshashank commented on #21916
Hi @engcom-backlog-nazar ,

Is there any update?

[2019-03-28 12:36] mtjweb commented on #21982
@OvalMedia I removed the Reports module of Mageplaza and the problem is indeed solved. Thnx.

[2019-03-28 12:39] tnsezer commented on #21885
I would like to share some point about the issue. It happens in Magento\CatalogImportExport\Model\Import\Product.php line 1772. If add a variable for exists images in mapper like _media_is_disabled, it should be fix it but the code try to match it with path. That why it doesn't work.

[2019-03-28 12:54] Berdir commented on #22008
Created a merge request that shows how the proposed change allows to simplify implementations like \Magento\CatalogInventory\Block\Adminhtml\Form\Field\Minsaleqty while it should still work the same way. One case is a bit interesting though, \Magento\Braintree\Block\Adminhtml\Form\Field\CcTypes is a multiple-select and changes the name to append [].

[2019-03-28 13:01] magento-engcom-team commented on #21985
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98935`, `MAGETWO-98936` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-28 13:03] engcom-backlog-nazar commented on #22000
@dudzio12 as this issue related to MSI module i'm will close this one, please  refer to -> https://github.com/magento-engcom/msi/issues/2112

[2019-03-28 13:03] #22000 closed, assigned to nobody

[2019-03-28 13:04] vrajeshkpatel commented on #21888
Hi,
I have tested this Rules and applied 'is one of' and 'is' as a condition. In both the cases rules is not working. Products are not discounted. I have tried in fresh Magento.

![Sku2](https://user-images.githubusercontent.com/40518060/55159872-0a329500-5188-11e9-8621-cc6f34cc1324.png)
![Products](https://user-images.githubusercontent.com/40518060/55159875-0a329500-5188-11e9-8647-7113add25180.pn

[2019-03-28 13:08] vuongggggg commented on #14912
That "fix" already being in the source code.  I mean this problem still not be solved because I still got it and this ticket still opening for answer. Any update?

[2019-03-28 13:37] atwixfirster opened #22010 "22010 -Updates AbstractExtensibleObject and AbstractExtensibleModel annotations"
### Preconditions (*)
1. Magento 2.3.1

### Summary (*)
Magento is no longer support inheritance of DTO classes from `Magento\Framework\Api\AbstractExtensibleObject`. This class extends `abstract class AbstractExtensibleObject extends AbstractSimpleObject`. There is a new code and new modules, for example, `Inventory` module which uses inheritance of `Magento\Framework\Model\AbstractExtensibleMode

[2019-03-28 13:37] magento-engcom-team commented on #22010
Hi @atwixfirster. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-28 14:21] McPeon commented on #21718
No, I'm sorry.
I still don't know how to fix it.

[2019-03-28 14:30] adamrandazzo commented on #21916
I can confirm that this seems to be caused by a conflict with the Amasty_ShopBy plugin. I can get it to compile if I disable Amasty_ShopBy OR Magento_Elasticsearch6.

[2019-03-28 14:42] engcom-backlog-nazar commented on #21916
@adamrandazzo so to have this issue we need just add a plugin to ElasticSearch 6 ? can you show where plugin defined ?

[2019-03-28 15:02] kierenevans commented on #21973
This was likely added due to `PRODSECBUG-2261: Arbitrary code execution due to unsafe deserialization of a PHP archive` - check https://magento.com/security/patches/magento-2.3.1-2.2.8-and-2.1.17-security-update

[2019-03-28 15:18] ladle3000 opened #22013 "Products Enabled require a full reindex before they show up in appropriate categories."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. When releasing a new product I add the products way in advance of the product release time and set to disabled. When the release time is near, I enable the products 5 minutes in advance or so to give the indexes time to run with my 1 min cron runtime.

### Expected result (*)

1. The category that contains the products should th

[2019-03-28 15:18] magento-engcom-team commented on #22013
Hi @snoroozi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-28 15:30] tuxx42 commented on #15427
verified on 2.3.0. Please advise on how to solve this.

[2019-03-28 15:33] Seiya7 commented on #15427
Same issue on 2.3.0.

[2019-03-28 15:36] olivermontes commented on #8868
Any update? :)

[2019-03-28 15:41] magento-engcom-team commented on #22006
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-28 15:42] magento-engcom-team commented on #22006
Hi @shikhamis11, here is your [Magento instance](https://i-22006-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22006-2-2-develop.instances.magento-community.engineering/admin](https://i-22006-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 15:42] magento-engcom-team commented on #22006
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-28 15:43] harrigo commented on #19881
@Sunshine4209 Did you find a workaround for this I was using below code:

    $productImageGrid = $this->getImage($selection, 'category_page_grid')->toHtml();

    public function getImage($product, $imageId, $attributes = [])
    {
        return $this->imageBuilder->setProduct($product)
            ->setImageId($imageId)
            ->setAttributes($attributes)
            ->create();
    }

How

[2019-03-28 15:50] oxvijay commented on #13952
We are also getting the duplicate orders for the same quote in few seconds interval. The issue is not consistent and can't be reproduced every time. But it's an obvious issue we are facing frequently. Please help if you know any work around.

[2019-03-28 15:55] davoc commented on #21916
Same issue when upgrading from 2.3.0 to 2.3.1 and same solution here - disable Amasty_Shopby and setup:di:compile completes without error

[2019-03-28 16:05] hostep commented on #21916
@engcom-backlog-nazar: we would need to figure out what causes this, it's either:
- By introducing ElasticSearch6 module, it caused a backwards incompatibility somehow
- Magento 2.3.1 has a new bug somewhere which causes this
- Amasty's module isn't properly written and contains a bug

I'm guessing it's the second one since you said:

But this needs to be verified. Can you maybe give us a summary

[2019-03-28 16:08] magento-engcom-team commented on #22006
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98939` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-28 16:08] tkymuk opened #22017 "Upgrading to 2.3.1"
### Preconditions (*)

Magento 2.3 being run on siteground servers.

### Steps to reproduce (*)

I have setup a new instal of magento with no additional themes or extensions added, essentially fresh out of the box. I have gone to setup wizard to get the update to 2.3.1 going and i am still coming across the "Check Component Dependency. We found conflicting component dependencies." error. On a fres

[2019-03-28 16:08] magento-engcom-team commented on #22017
Hi @tkymuk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-28 16:09] shikhamis11 commented on #22006
@magento-engcom-team give me 2.3-develop instance

[2019-03-28 16:09] magento-engcom-team commented on #22006
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-28 16:09] magento-engcom-team commented on #22006
Hi @shikhamis11, here is your [Magento instance](https://i-22006-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22006-2-3-develop.instances.magento-community.engineering/admin](https://i-22006-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 16:13] jarrar1214 commented on #21980
Hi @engcom-backlog-nazar

We are using magento 2.2.6 and this issue is only appearing on this version i guess.

Can you suggest some workarounds for this. How we can bring Product name urls in to the sitemap instead of catalog urls.

Thanks

[2019-03-28 16:16] haelbichalex commented on #20186
I have the exact same issue. I'm already using the `dev/tests/static/framework/Magento/ruleset.xml` file. How can I fix it?

[2019-03-28 16:18] madonzy opened #22018 "Add a form option to agreement functionality"
### Summary
For now, we're able to only add checkout Terms and Conditions. It could be cool (and I can do that) if while adding new Agreement I can choose forms that are applied for that agreement. For now, it's impossible to separate agreement by forms, but if we add forms multi-select field then it could be much easier for administrators to work with that.

### Examples (*)
For now to add custom

[2019-03-28 16:18] magento-engcom-team commented on #22018
Hi @madonzy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-28 16:28] shikhamis11 commented on #22006
this issue is not present at 2.3-develop instance

[2019-03-28 16:33] dng-dev commented on #20186
I have the same with all anotation sniffs.
Magento.Annotation.MethodArguments
Magento.Annotation.MethodAnnotationStructure
Magento.Annotation.ClassAnnotationStructure

every rule i excluded via <exclude-pattern>*</exclude-pattern> for now.

[2019-03-28 16:38] trucatchtraps opened #22019 "2.2.6 - Email address is now required. Why?"
Create New Order -> Create New Customer -> Email field is now required.

Why has this been implemented and why is it not noted on the Release Notes for 2.2.6? How do I make it a non-required field again.

Thanks!

[2019-03-28 16:39] magento-engcom-team commented on #22019
Hi @trucatchtraps. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-28 17:53] ishakhsuvarov commented on #21916
@hostep Here is a merge commit for #3912 mentioned above:
https://github.com/magento/magento2/commit/06269b79023d0ba258ae45c4586204f45b5c80dd

[2019-03-28 18:02] ethniccode commented on #20255
@mage2pratik @verklov @Alex-Lunkov @rogyar @dmytro-ch @ronak2ram @hitarthpattani Sorry to bother you. I wanted to check if you could shed some light on this issue. Isn't this issue affecting all merchants who are using magento 2.3? I was wondering if there is a temporary fix or workaround?

[2019-03-28 18:05] hostep commented on #21916
Thanks @ishakhsuvarov!

So, here's the commit dealing with the elasticsearch6 module problem: https://github.com/magento/magento2/commit/885b7a99397e52e1b094c3d23c314ca508429b3b (which is included in that merge commit), but I'm not sure if this will solve this issue, maybe somebody who has this problem can try adding those lines and see if that fixes anything?

[2019-03-28 18:08] hostep commented on #21916
I'm pretty sure the commit above will fix it.

I'm wondering why Magento tries to load the class `Magento\Elasticsearch6\Model\Adapter\FieldMapper\ProductField`, which isn't defined anywhere. There is a virtualType `Magento\Elasticsearch6\Model\Adapter\FieldMapper\ProductFieldMapper` defined, but that's not the same. It looks like the last part `Mapper` gets stripped of for some reason. This also

[2019-03-28 18:16] maghamed commented on #21916
hey guys,  @hostep @wclshashank  @adamrandazzo @fabio-fafle

there is a new release of Amasty Layered Navigation extension available which fixes this issue `v2.11.2` from the extension side.

https://amasty.com/improved-layered-navigation-for-magento-2.html

Please update the extension and proceed with DI compile.
Sorry for inconveniences, we will provide a more detailed explanation after the issu

[2019-03-28 18:16] hostep commented on #21916
Just searching through the diff of Magento 2.3.0 to 2.3.1 looking for the keyword `substr` reveals a bunch of changes in `lib/internal/Magento/Framework/Reflection/TypeProcessor.php`, which seems to be introduced by: https://github.com/magento/magento2/pull/17424/files#diff-292261de777138aa6bb4342b9757a3a5

Could this have anything to do with this (just guessing here).

[2019-03-28 18:35] treii28 commented on #21696
How long until there is an updated patch?

[2019-03-28 18:42] vipin12117 commented on #21696
Magento team and Authnet team both not accepting their mistakes. Authnet api does not give response with SHA key which needs to verify.

[2019-03-28 18:51] magento-engcom-team commented on #21734
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98942`, `MAGETWO-98943` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-28 18:54] magento-engcom-team commented on #21736
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-03-28 18:58] magento-engcom-team commented on #21717
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-28 18:58] ci2014 commented on #1146
Still an issue 2.3.0

[2019-03-28 18:58] shikhamis11 commented on #21717
@magento-engcom-team give me 2.3-develop instance

[2019-03-28 18:58] magento-engcom-team commented on #21717
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-28 18:59] magento-engcom-team commented on #21717
Hi @shikhamis11, here is your [Magento instance](https://i-21717-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21717-2-3-develop.instances.magento-community.engineering/admin](https://i-21717-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 19:13] magento-engcom-team commented on #21717
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-03-28 19:13] magento-engcom-team commented on #21717
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98944`, `MAGETWO-98945` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-28 19:19] magento-engcom-team commented on #22001
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-28 19:20] magento-engcom-team commented on #22001
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98946` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-28 20:57] navaneeth008 commented on #19710
Same issue after upgrading from 2.2 to 2.3, as on detailed check, i can see that the cache images are not generating after upgrade

[2019-03-28 21:15] djixas commented on #19604
Any updates on this? I can't believe how slow you are

[2019-03-28 23:17] DanielRuf commented on #19604
Hi @djixas, as you can see there was no update in this specific issue. 2.3.1 was released a few days ago.

[2019-03-28 23:19] DanielRuf commented on #20255
Please reread https://github.com/magento/magento2/issues/20255#issuecomment-453823333

[2019-03-28 23:42] okorshenko opened #22021 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-03-28 23:42] magento-engcom-team commented on #22021
Hi @magento-contributor-assistant[bot]. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-28 23:43] magento-engcom-team commented on #22021
Hi @magento-contributor-assistant[bot], here is your [Magento instance](https://i-22021-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22021-2-3-develop.instances.magento-community.engineering/admin](https://i-22021-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 23:47] okorshenko opened #22022 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-03-28 23:47] magento-engcom-team commented on #22022
Hi @magento-contributor-assistant[bot]. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-28 23:49] okorshenko opened #22023 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-03-28 23:49] #22023 closed, assigned to okorshenko

[2019-03-29 00:08] salelsol commented on #22006
After upgrading Magento from 2.2.7 to 2.2.8 when we try add a Tracking  Number to some order pushing Shipping  button then receive this issue: Shipment with id "" does not exist. Also receive email with all tracking numbers ended before.
![all_tracking_mail](https://user-images.githubusercontent.com/16081377/55200605-31588900-51bf-11e9-9d4f-558a2c62dee3.jpg)

[2019-03-29 01:41] maru3l commented on #3552
Why this merge request referenced this issue. I've took a look at it and notting fix this issue in it.

[2019-03-29 02:58] shikhamis11 commented on #21684
@magento-engcom-team give me 2.3-develop instance

[2019-03-29 02:58] magento-engcom-team commented on #21684
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-29 02:59] magento-engcom-team commented on #21684
Hi @shikhamis11, here is your [Magento instance](https://i-21684-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21684-2-3-develop.instances.magento-community.engineering/admin](https://i-21684-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-29 03:12] magento-engcom-team commented on #21684
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98953`, `MAGETWO-98954` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 06:14] wclshashank commented on #21916
Hi @maghamed ,

Yes, I have upgrade Amasty module now all dependency issue resolved.

Thanks for your help.

[2019-03-29 07:02] ihor-sviziev commented on #1146
Hi @engcom-backlog-nazar,
Could you re-check if this issue appeared in 2.3.x again? People complaining about it.

[2019-03-29 07:14] surendragamage opened #22024 "Issue on lifetime sales figure in admin dashboard"
### Preconditions (*)

1. Magento version 2.2.5 Open Source
2. Shipping - Flat Rate enabled
3. Payment - Check / Money Order enabled

### Steps to reproduce (*)

1. Issue is in lifetime sales figure in admin dashboard
2. This is happening if there are orders create with 100% discount code for both product price and shipping. Follow the below steps,
3. Marketing > Cart Price Rules > Add New Rule
4.

[2019-03-29 07:37] magento-engcom-team commented on #21641
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98956`, `MAGETWO-98957` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 07:52] wasimsayyad opened #22025 "Magento2 admin catalog product grid is too slow"
### Summary (*)

### Examples (*)

### Proposed solution

[2019-03-29 07:55] wasimsayyad commented on #22025
we have magento version2.2.5 , nginx, mysql.
we have more 50,000 product on site category more than 800. whenever we are trying to open product from backend catalog-->product it is taking more than 5 minute to open product grid.
Any help would be appreciated.

[2019-03-29 07:59] engcom-backlog-nazar commented on #11905
Hi @bgorski Hi @ihor-sviziev yes described steps not reproducing on 2.2-develop and 2.3-develop branch. Can we close this issue as this was fixed in ->https://github.com/magento/magento2/pull/19398 ?

[2019-03-29 08:02] magento-engcom-team commented on #19805
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98958` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 08:08] kpitn commented on #19821
Thank for the workaround, it works on M2.2.8 too

[2019-03-29 08:14] magento-engcom-team commented on #21853
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98959`, `MAGETWO-98960` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 08:20] dudzio12 commented on #21978
@WalterSmulders - the only thing I changed was `$file` to `$destinationFile`, because if `$move` was false, it also changes it to magento nested directories, which updates `$destinationFile` variable, which differs from `$file`.

[2019-03-29 08:28] Bartlomiejsz commented on #1146
@akosglue @ci2014 @ihor-sviziev it seems like, according to https://github.com/magento/magento2/pull/9094 adding:
`
    'directories' => [
        'document_root_is_pub' => true
    ],
`
to your `app/etc/env.php` resolves the issue.
Don't know how is it on clean installation, but installation/update script should probably check and add this entry if needed.

[2019-03-29 08:29] ihor-sviziev commented on #11905
Hi @engcom-backlog-nazar,
Thank you for checking. I'm closing this issue

[2019-03-29 08:29] #11905 closed, assigned to igortregub

[2019-03-29 08:44] craigcarnell commented on #21916
Going to close this issue, as Amasty was helpful. Shame about Magento support 👎

[2019-03-29 08:45] craigcarnell commented on #19604
@DanielRuf Can we expect an ETA please?

[2019-03-29 08:51] magento-engcom-team commented on #21612
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98961`, `MAGETWO-98962` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 08:54] Vladishev commented on #15654
I found a cause of this issue (Magento 2.2.7). It's not connected to code, but to products have been imported to a database.
Read my answer here https://magento.stackexchange.com/a/267922/32065.

[2019-03-29 09:08] magento-engcom-team commented on #22005
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98963` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 09:11] engcom-backlog-nazar commented on #13250
HI @cmuench thank you for you report, this issue has already fixed in 2.3-develop branch -> https://github.com/magento/magento2/pull/13251 and available on 2.3.1 release.

[2019-03-29 09:11] #13250 closed, assigned to nobody

[2019-03-29 09:17] annakoehler opened #22027 "[Performance]Magento 2.3 Performance issue because of huge amount of mysql queries per products in cart"
We found a server performance problem related to the number of products in cart: the more products in cart, the more mysql requests to the server (see in actual results below). A lot of mysql queries are related to inventory_stock information.We have this issue if Magento_Inventory modules are enabled..
We tested it on both magento 2.3 versions: 2.3.0, 2.3.1 and 2.3.2.
Magento 2.2.x versions don’t

[2019-03-29 09:22] engcom-backlog-nazar commented on #17310
Hi @DigitalStartupUK  Hi @wjpbill  so this issue related to `max_concurrency` ?

[2019-03-29 09:33] engcom-backlog-nazar commented on #19441
Hi @ryanreeves-taxjar  according to https://github.com/magento/magento2/issues/19441#issuecomment-452414197 this problem related to zendframework, you can create a ticket here -> https://github.com/magento/community-features to use new version of zend framework, thanks for collaboration.

[2019-03-29 09:33] #19441 closed, assigned to nobody

[2019-03-29 09:37] engcom-backlog-nazar commented on #19245
Hi @Ctucker9233 according to current workflow we close ticket if it was fixed on 2.3-dev but this one also fixed in 2.2-dev and available on 2.2.8 release. can you recheck ?

[2019-03-29 09:40] jorgb90 commented on #19710
I can confirm. Very annoying that after clearing image cache that the thumbnails / images are not generated when visiting the page.

[2019-03-29 09:43] peterkoppenaal commented on #21916
After upgrading the Amasty modules, setup:di:compile works as expected. But when I configure elasticsearch 6 in Magento, indexer:reindex gives me the following error:

`Source class "\Magento\Elasticsearch6\Model\Adapter\FieldMapper\ProductField" for "Magento\Elasticsearch6\Model\Adapter\FieldMapper\ProductFieldMapper" generation does not exist.`

[2019-03-29 09:50] wclshashank commented on #21916
Hi @peterkoppenaal ,

Need to check Amasty Module version. It should be 2.11.2. This version working on my project well.
Need to follow:

composer require amasty/shopby ^2.0.0 --update-with-dependencies
and then run composer install

That will resolve your issue.

[2019-03-29 09:50] navaneeth008 commented on #19710
i have faced this issue  and got solved by changing the post max size, on my case i upgraded the php version also, that caused the error to popup

[2019-03-29 09:54] engcom-backlog-nazar commented on #22017
HI @tkymuk thank you for you report, thi issue is acknowledged,  please refer to -> https://github.com/magento/magento2/issues/20684 thanks for collaboration :+1:

[2019-03-29 09:54] #22017 closed, assigned to nobody

[2019-03-29 09:59] shikhamis11 commented on #22025
@wasimsayyad Please update the issues description in valid format

[2019-03-29 10:03] peterkoppenaal commented on #21916
@wclshashank I am running on 2.11.2. Composer.lock says:
`{
    "name": "amasty/shopby",
    "version": "2.11.2",
    "dist": {
        "type": "zip",
        "url": "https://composer.amasty.com/enterprise/packages/shopby-2.11.2-ee.zip"
    },
    "require": {
        "amasty/base": ">=1.6.1",
        "amasty/module-improved-layered-navigation-page": ">=2.5.10",
        "amasty/module-shop-by-base

[2019-03-29 10:07] wclshashank commented on #21916
OK So may be some other module get effected on this. check  di:compile after disable all 3rd party module and custom module.

[2019-03-29 10:10] peterkoppenaal commented on #21916
@wclshashank This is a new project with only some Amasty modules installed and no Custom work yet.
When I disable Amasty_Shopby it's working.

[2019-03-29 10:22] pixiemediaweb commented on #21663
We are experiencing the same situation with configurable a simple products in the cart, Magento is trying to fetch getConfigurableAttributeCollection() on a simple product;

PHP Fatal error:  Uncaught Error: Call to undefined method Magento\Catalog\Model\Product\Type\Simple::getConfigurableAttributeCollection()

Did you find anything useful @ankit-root ?

[2019-03-29 10:44] devchris79 commented on #21383
I have upgraded to 2.3.1 and the issue appears in that version too.

[2019-03-29 10:50] magento-engcom-team commented on #22007
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98964`, `MAGETWO-98965` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 10:52] wjpbill commented on #17310
Hello everyone

I got some help from senior engineers at the company I host with.

They agreed and changed max_concurrency from 6 to 20.

Since then, I haven't seen the problem again - fingers crossed!

Apologies for not replying sooner.

[2019-03-29 10:54] mtwegrzycki opened #22028 "Unable to update products via csv file, when products ids from file are from wide id range"
### Preconditions (*)
1. Magento 2.3.0
2. PHP 7.1.20
3. Database with 6000 products

### Steps to reproduce (*)
1. Prepare csv file to update products (2 products or more). (This csv should contain products with the lowest and the highest id - 1 and 6000)
2. In Admin panel go to: System->Import and choose Product and Add/Update
3. Upload file
4. Check Data
5. Import csv file (error should be displ

[2019-03-29 11:11] sheyan-ascentic commented on #21832
Any update on this?

[2019-03-29 11:24] Jitheesh commented on #21383
"The fix will be available with the upcoming 2.3.2 release"

[2019-03-29 11:26] hetramjanghu opened #22029 "can't add Header and Footer on checkout page"
Hi Developers,
i am developing a e-store using Magento 2.3.0 and facing issue with adding header and footer on checkout page. I am using Magento blank theme as parent
I have tried to overriding "checkout_index_index.xml" in my child theme ->> "app/design/frontend/XXXXXX/xxxx/Magento_Checkout/layout"
        `<referenceBlock` name="minicart" remove="false" />
        `<referenceContainer` name="hea

[2019-03-29 11:36] pixiemediaweb commented on #21663
Found the solution for our issue with simple products;

First extend;

Magento\Catalog\Model\Product\Type\Simple

Add function;
public function getConfigurableAttributeCollection(\Magento\Catalog\Model\Product $product) { return false; }

Then extend;

Magento\ConfigurableProduct\Helper\Product\Options\Loader

Rewrite the function load() and replace this part;

$attributeCollection = $typeInstance

[2019-03-29 11:44] kisroman commented on #22018
@madonzy I think this is good idea. Can I take it in work or you want to do this task?

[2019-03-29 11:52] magento-engcom-team commented on #20998
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98966`, `MAGETWO-98967` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 11:57] lano-vargas commented on #9762
@magento-engcom-team   Any solution to this.
I having to end up using  2 call.
1- to create ship` /V1/shipment`
2- to add tracking  `/V1/shipment/track`

As `/V1/shipment`  has an option to add Tracks but also not adding ?
ref:https://devdocs.magento.com/redoc/2.3/admin-rest-api.html#operation/salesShipmentRepositoryV1SavePost
Thanks

[2019-03-29 12:01] vishal-7037 opened #22030 "Typo issue: Magento admin sales order shipment header typo issue"
There are typo errors found on the Magento admin panel. Please review Sales invoice grid & Sales shipment grid or Sales credit memo grip. You will find typo error for the order column header. In the Sales invoice grid, the header title of a column is **'Order #'** and in Sales shipment/Credit memo grid the header title of a column is **'Order'**. they should be the same.
### Preconditions (*)

1.

[2019-03-29 12:21] oliverf72 commented on #13493
Are there any updates on this issue? Just checked the 2.3.1 release notes but there is no update on this. For me this is unbelievable.. this checkout behaviour is far away from being user friendly. There should be checkout like in M1 where the customer has the possibility to login or to register first.

[2019-03-29 12:23] magento-engcom-team commented on #22030
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98969`, `MAGETWO-98970` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 12:24] rav-redchamps commented on #13493
Hey

We at RedChamps have a Magento 2 extension(https://redchamps.com/auto-assign-guest-orders-to-customer-magento-2-extension.html) which can handle both of below cases

1) **A user placed several orders as a guest and then decided to signup:-** Extension will assign all his orders and billing, shipping address to his account automatically during signup.

2) **A registered customer by mistake pla

[2019-03-29 12:33] shikhamis11 commented on #22024
@magento-engcom-team give me 2.2-develop instance

[2019-03-29 12:33] magento-engcom-team commented on #22024
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-29 12:34] magento-engcom-team commented on #22024
Hi @shikhamis11, here is your [Magento instance](https://i-22024-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22024-2-2-develop.instances.magento-community.engineering/admin](https://i-22024-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-29 12:37] oliverf72 commented on #13493
Hi, yes I saw it but this is the wrong approach imo.

[2019-03-29 12:45] danscan1712 commented on #9762
I have recently determined that the item visibility has something to do with this issue.
One of my clients has items that are only visible via sku search and I can not add tracking to these items.

If possible the actual error logs sometimes have more information.  You normally need access to the server to see these but it could offer insights

Dan

Sent from my iPhone

[2019-03-29 12:52] florincyberion commented on #18458
This is wrong and should be reverted. That was the normal expected behaviour with clickableOverlay on.

[2019-03-29 12:55] daaannorris commented on #21916
Hi all,

I raised this issue with the team at Amasty and they released a patch yesterday evening - after running composer update the issue has been resolved.
Hopefully, this will be the same for you all.

Cheers,
Dan

[2019-03-29 13:04] magento-engcom-team commented on #21974
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98971` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 13:05] peterkoppenaal commented on #21916
@daaannorris Can you run a successful indexer:reindex with Elasticsearch 6 enabled and configured in Magento Admin > Stores > Configuration > Catalog > Catalog Search?

[2019-03-29 13:09] magento-engcom-team commented on #5849
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98972`, `MAGETWO-98973` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 13:16] daaannorris commented on #21916
Hi @peterkoppenaal I don't have Elasticsearch 6 configured so cannot confirm - but I can agree with @wclshashank that upgrading Amasty modules resolves the original issue.
I would suggest raising a ticket with Amasty as your issue appears to relate to their module rather than core Magento - good luck!

[2019-03-29 13:35] devchris79 commented on #21383
Hi @Jitheesh,

Do you know where the line in 2.3.1 is that needs changing?
/vendor/magento/module-catalog/Pricing/Price/MinimalTierPriceCalculator.php just looks like function prototypes.

Thanks in advance if you are able to help.

[2019-03-29 13:43] Hailong opened #22036 "$block->getProduct() in catalog product view template failed after upgrading from 2.3.0 to 2.3.1"
### Preconditions (*)

1. Magento 2.3.1
2. [Porto theme for Magento 2.3.x](https://www.portotheme.com)

### Steps to reproduce (*)

1. Install Magento 2.3.1
2. Install Porto theme

### Expected result (*)

1. Product page renders with no problem

### Actual result (*)

1. Product page doesn't render

The problem is a new block class introduced in 2.3.1, while it doesn't provide the getProduct() me

[2019-03-29 14:06] engcom-backlog-nazar commented on #7917
HI @bbtimx @orlangur i'm not able to reproduce this error on 2.3.1 only have issue from ->https://github.com/magento/magento2/issues/20684
![DeepinScreenshot_select-area_20190329155201](https://user-images.githubusercontent.com/40756439/55238231-a1592480-523c-11e9-9e5c-720de5267203.png)

[2019-03-29 14:30] Hailong commented on #22036
The [PR#22034](https://github.com/magento/magento2/pull/22034) request has been approved, but I'm not sure how to update the status of this bug.

[2019-03-29 14:48] magento-engcom-team commented on #21734
Hi @avgust1111. Thank you for your report.
The issue has been fixed in magento/magento2#21776 by @kisroman in 2.3-develop branch
Related commit(s):
 - [c8ed1e8ce498174df804b578665a5bcfd4c9e850](https://github.com/magento/magento2/commit/c8ed1e8ce498174df804b578665a5bcfd4c9e850)
 - [b030da0d92eeb455b03059807b66a9de29d2a1bf](https://github.com/magento/magento2/commit/b030da0d92eeb455b03059807b66a9de

[2019-03-29 14:48] #21734 closed, assigned to kisroman

[2019-03-29 14:48] magento-engcom-team commented on #14926
Hi @Poonika. Thank you for your report.
The issue has been fixed in magento/magento2#21697 by @david-fuehr in 2.3-develop branch
Related commit(s):
 - [9480e2a8efbf2e013c0372af211b8e4a6cffa6c2](https://github.com/magento/magento2/commit/9480e2a8efbf2e013c0372af211b8e4a6cffa6c2)
 - [04f60d5d27f661b2a33c1f6db2ef511ab5ff3c2e](https://github.com/magento/magento2/commit/04f60d5d27f661b2a33c1f6db2ef511a

[2019-03-29 14:48] magento-engcom-team commented on #18752
Hi @adammprost. Thank you for your report.
The issue has been fixed in magento/magento2#21697 by @david-fuehr in 2.3-develop branch
Related commit(s):
 - [9480e2a8efbf2e013c0372af211b8e4a6cffa6c2](https://github.com/magento/magento2/commit/9480e2a8efbf2e013c0372af211b8e4a6cffa6c2)
 - [04f60d5d27f661b2a33c1f6db2ef511ab5ff3c2e](https://github.com/magento/magento2/commit/04f60d5d27f661b2a33c1f6db2ef5

[2019-03-29 14:58] pioneerathletics commented on #14952
Hi @gwharton,

Unfortunately I'm getting an error when trying to apply the same patch from 2.2.7 to 2.2.8. See error below:

`Could not apply patch! Skipping. The error was: Cannot apply patch patches/composer/PR-18472-Framework.diff

  [Exception]
  Cannot apply patch PR-18472: Alternative fix for Multi Store Emails issue,
  Fix Async Emails issues, Fix Multiple Email issues (patches/composer/PR-

[2019-03-29 15:09] okorshenko opened #22038 "Test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-03-29 15:40] leoquijano commented on #18752
Hello @magento-engcom-team, I see that there's a fix for the 2.3.x branch. Is there a fix to be released in the 2.2.x line?

[2019-03-29 15:40] PhilipRowe opened #22040 "mage.toggleAdvanced class toggling broken"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Add an element to the page with the following markup:
[code]
2. Open inspector and click the element

### Expected result (*)

1. The "active" class should be toggled on the element

### Actual result (*)

1. The active class gets added and then immediately removed from the element

file lib\web\mage\toggle.js contains this fu

[2019-03-29 15:44] david-fuehr commented on #18752
Hi @leoquijano,
@larsroettig just created the backport for 2.1: https://github.com/magento/magento2/pull/22037

[2019-03-29 15:47] leoquijano commented on #18752
Thanks @david-fuehr. I see there's a 2.2 version as well, but it's not an official one yet, right?

It's probably a good idea to have the final release number announced here.

[2019-03-29 16:06] brokentuskk opened #22042 "2.2.8 cart bug"
Magento 2.2.8 EE

Steps to reproduce
1. Add item to cart
2. Enter cart
3. Change quantity and hit return instead of pressing button.

Expected result
1. Cart quantity update
2. Cart total update

Actual result
1. Deletion of all items in cart

This is visible on stock/Luma carts. The clear cart button, which may or may not be hidden, takes focus when the quantity box is selected. Pressing return a

[2019-03-29 16:07] jameshalsall commented on #22006
@shikhamis11 yeah it was not ported into 2.3 branch for some reason, it only affects 2.2 branch

[2019-03-29 16:07] djixas commented on #12614
Why is magento v2 such hot garbage in everything it does?

[2019-03-29 16:07] brokentuskk commented on #22042
@magento-engcom-team give me 2.2.8-develop instance

[2019-03-29 16:08] magento-engcom-team commented on #22042
Hi @brokentuskk. Thank you for your request. I'm working on Magento 2.2.8-develop instance for you

[2019-03-29 16:10] magento-engcom-team commented on #21692
Hi @Bartlomiejsz. Thank you for your report.
The issue has been fixed in magento/magento2#21719 by @Bartlomiejsz in 2.2-develop branch
Related commit(s):
 - [068eedf0b8fb069df8e8432e8b78d3a0dff33110](https://github.com/magento/magento2/commit/068eedf0b8fb069df8e8432e8b78d3a0dff33110)
 - [8a4cfa4eac8b5d18d1c9b30655dbacabce9d9d53](https://github.com/magento/magento2/commit/8a4cfa4eac8b5d18d1c9b30655

[2019-03-29 16:11] mam08ixo opened #22043 "Payment methods source model is broken again"
### Preconditions
1. Magento 2.3.1

### Steps to reproduce
1. Go to _Marketing → Cart Price Rules_.
2. Edit/Open a rule.
3. Under _Conditions_, add the _Cart Attribute_ condition _Payment Method_.
4. Wait for the possible options to load.

### Expected result
1. I see a list of either all or at least the activated payment methods.

### Actual result
1. I see a list with only the payment methods ac

[2019-03-29 16:19] harshvardhanmalpani commented on #21682
@engcom-backlog-nazar How is an end user supposed to use API, not every store manager can use API unless someone prepares everything about it and then provide them as a solution. If not CSV, what all bulk import options are available to a regular store manager?

[2019-03-29 16:34] shikhamis11 commented on #22024
@magento-engcom-team give me 2.2-develop instance

[2019-03-29 16:34] magento-engcom-team commented on #22024
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-29 16:35] magento-engcom-team commented on #22024
Hi @shikhamis11, here is your [Magento instance](https://i-22024-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22024-2-2-develop.instances.magento-community.engineering/admin](https://i-22024-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-29 16:40] magento-engcom-team commented on #21916
@phoenix128 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2019-03-29 16:45] shikhamis11 commented on #22024
@magento-engcom-team give me 2.3-develop instance

[2019-03-29 16:45] magento-engcom-team commented on #22024
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-29 16:46] magento-engcom-team commented on #22024
Hi @shikhamis11, here is your [Magento instance](https://i-22024-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22024-2-3-develop.instances.magento-community.engineering/admin](https://i-22024-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-29 17:13] magento-engcom-team commented on #22024
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98975`, `MAGETWO-98976` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 17:22] phoenix128 commented on #21916
I was able to reproduce and it is a general issue related to virtual types with names ending with any autogenerated suffix being pluginized on concrete class.

[2019-03-29 17:23] afavata opened #22045 "Instant Purchase on product page not working properly."
Instant Purchase on product page not working properly.

### Preconditions (*)
Magento 2.3.1
PHP 7.2.15

### Steps to reproduce (*)
With a well working Paypal Express Checkout, Configure magento settings as follow:

set yes to "Display on Product Details Page"  (>configuration>sales>payment methods>paypal>express checkout)

set yes to "Enable Instant Purchase" (>configuration>Sales>instant purchase

[2019-03-29 17:29] afavata commented on #22045
@magento-engcom-team give me {$version} instance

[2019-03-29 17:30] PiotrSiejczuk opened #22047 "Magento CRON Job Names are missing in NewRelic: "Transaction Names""
### Preconditions (*)

1. Magento 2.1.x or 2.2.x or 2.3.x OpenSource / Commerce / Cloud
2. Correctly Configured Magento CRON Jobs
3. Issue Details: [Transactions named /index.php or /unknown](https://docs.newrelic.com/docs/agents/php-agent/troubleshooting/transactions-named-indexphp-or-unknown)

### Steps to reproduce (*)

1. Any Magento CRON Job Executed via Standard Scheduler
2. Any Magento CRON

[2019-03-29 17:30] afavata commented on #22045
@magento-engcom-team give me 2.3.1-develop instance

[2019-03-29 17:31] magento-engcom-team commented on #22045
Hi @afavata. Thank you for your request. I'm working on Magento 2.3.1-develop instance for you

[2019-03-29 17:48] HungTran236 opened #22048 "checkout page custom dropdown field can't be save when having caption"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-03-29 17:51] Nazar65 commented on #22025
Hi @wasimsayyad Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site

[2019-03-29 17:51] #22025 closed, assigned to nobody

[2019-03-29 17:54] pioneerathletics opened #22049 "Confirmation Email bug -vers. 2.2.8 - sent from hostname@server"
### Preconditions (*)

1. Magento version 2.2.8
2. Upgraded from version 2.2.7
3. Patches successfully applied for the email sender bug (PR-18472) on 2.2.7

### Steps to reproduce (*)

1. Upgraded from Magento 2.2.7 to 2.2.8 via composer
2.

### Expected result (*)

1. Magento should update appropriately with patches installed, or with a fix to the issue in the framework

### Actual result (*)

1.

[2019-03-29 17:55] pioneerathletics commented on #22049
@magento-engcom-team give me 2.3-develop instance

[2019-03-29 17:55] magento-engcom-team commented on #22049
Hi @pioneerathletics. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-29 17:55] magento-engcom-team commented on #22049
Hi @pioneerathletics, here is your [Magento instance](https://i-22049-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22049-2-3-develop.instances.magento-community.engineering/admin](https://i-22049-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-29 18:29] hostep commented on #14952
@pioneerathletics: can you try the following patches, I just created these by cherry-picking commit dbfeb36a1f95f45d19c9698f996a67a999f4ce4d into 2.2.8, so in theory this should work, but I haven't tested them so far:

[PR-18472-for-Magento-2.2.8.zip](https://github.com/magento/magento2/files/3023976/PR-18472-for-Magento-2.2.8.zip)

[2019-03-29 18:31] hostep commented on #22049
Closing this as it is expected that this happens.
Patches are your own responsability, not Magento's.

If Magento changes files between versions 2.2.7 and 2.2.8, and the patches touch those same files, then there is a possibility that existing patches no longer apply.

If you want working patches for the email issue, you can try these I just created: https://github.com/magento/magento2/issues/1495

[2019-03-29 18:31] #22049 closed, assigned to nobody

[2019-03-29 18:47] shikhamis11 commented on #22048
@HungTran236 please follow issue reporting guideline to report your issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-03-29 18:50] pioneerathletics commented on #14952
@hostep I will try these and let you know if they work. Thank you for the help.

[2019-03-29 18:51] shikhamis11 commented on #22045
@afavata you can ask for 2.3-develop instance

[2019-03-29 18:54] afavata commented on #22045
@magento-engcom-team give me 2.3-develop instance

[2019-03-29 18:54] magento-engcom-team commented on #22045
Hi @afavata. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-29 18:55] magento-engcom-team commented on #22045
Hi @afavata, here is your [Magento instance](https://i-22045-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22045-2-3-develop.instances.magento-community.engineering/admin](https://i-22045-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-29 19:03] magento-engcom-team commented on #22036
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98977` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 19:06] rhoerr commented on #18752
Great to see movement here, but that's not really fixing the issue, is it?

It doesn't fix the possible rollback errors since 2.1.13/2.2.4, it just improves the exception logging around it when it does occur. It's an improvement, but not actually a solution.

[2019-03-29 19:11] shikhamis11 commented on #21994
@vishal-7037 I checked on the same version but didn't find the issue . Anyway I will let this issue open if anyone can verify this

[2019-03-29 19:13] afavata commented on #22045
Ok... tested!!!
I cannot make a full test as in this case I should put some private setting for Paypal profile.
Anyway after having configured 1 product and paypal setting with false data, in product page are shown 2 buttons (papal, paypal credit). clicking on paypal i receive an issue becouse obviously the settings are not correct.

I tryed to Disabling "Display on Product Details Page" and "Enab

[2019-03-29 19:13] magento-engcom-team commented on #21998
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98979` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-29 20:53] manzanoca opened #22050 "Import products returns invalid response"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-03-29 20:55] manzanoca commented on #22050
Backoffice Magento tool returns an alert that sais "invalid response" when I try to import my products wuth a CSV file

[2019-03-29 21:36] WalterSmulders commented on #21978
Yeah, I know I tried that as well but I was in a hurry and if I remember correctly $destinationFile is a relative path that for some reason at that moment didn't get resolved correctly by getAbsolutePath but I can be mistaken. If it works, it works :)

[2019-03-29 21:59] ccrothers commented on #15655
Reproduced on 2.1.13 and 2.1.17

[2019-03-29 22:08] lbajsarowicz commented on #22050
Could you share any extra information about the issue?
* Version of Magento
* CSV file that you use
* Server logs

[2019-03-29 23:12] keyurshah070 opened #22052 "Customer account confirmation is overwritten by backend customer save"
### Preconditions (*)

1. Clean Magento setup 2.3.1
2. Set the account confirmation to **"Yes"** by visiting store > configuration > Customers > Customer Configuration > Create New Account Options > Require Emails Confirmation

![cuonfig](https://user-images.githubusercontent.com/17308601/55266757-dab28400-527e-11e9-9c85-4e13700b3e4e.png)

### Steps to reproduce (*)

1. Create a new customer accou

[2019-03-29 23:18] lbajsarowicz commented on #22047
I think that's great issue for tomorrow Magento Contribution Day with @magento/strix

Extra information:
https://docs.newrelic.com/docs/agents/php-agent/troubleshooting/transactions-named-indexphp-or-unknown

[2019-03-29 23:37] scottsb opened #22053 "Vertical "ice skating" in zoom function in Chrome on product page with large image"
### Preconditions (*)
* Magento 2.2.7, but code in question has not been changed in 2.3.x
* Chrome 72

### Steps to reproduce (*)
1. Open product page with a large image included.
2. Open full-screen zoom
3. Zoom in all the way so that the image is larger than the window (shrink browser window if need be)
4. Click and drag image vertically, and then without letting go of mouse, reverse direction

[2019-03-30 04:22] shikhamis11 commented on #22050
@manzanoca  please follow issue reporting guideline to report your issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-03-30 04:33] shikhamis11 commented on #22052
@magento-engcom-team give me 2.3-develop instance

[2019-03-30 04:33] magento-engcom-team commented on #22052
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-30 04:33] magento-engcom-team commented on #22052
Hi @shikhamis11, here is your [Magento instance](https://i-22052-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22052-2-3-develop.instances.magento-community.engineering/admin](https://i-22052-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-30 04:38] ansari-krish commented on #22004
@magento-engcom-team give me 2.3-develop instance

[2019-03-30 04:38] magento-engcom-team commented on #22004
Hi @ansari-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-30 04:38] magento-engcom-team commented on #22004
Hi @ansari-krish, here is your [Magento instance](https://i-22004-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22004-2-3-develop.instances.magento-community.engineering/admin](https://i-22004-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-30 04:40] PiotrSiejczuk commented on #22047
@lbajsarowicz that is indeed the idea for this ticket :) Will pick it up and hopefully fix it in a few hours :)

[2019-03-30 05:02] magento-engcom-team commented on #22052
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98988`, `MAGETWO-98989` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-30 07:31] Adr79 commented on #19821
Can someone explain to me how to apply the temporary workaround?
Should i create a 'fix module? or just modify some files?
Please help :-(

[2019-03-30 08:45] manojvishi18 commented on #14952
sir i was installed magento 2 ver. 2.2.6 and i solved my issue by deactivating all amazon module my (The order confirmation email is not sent) problem was fixed and working perfect but before some days i updated magento to 2.3.0 and i am again facing **The order confirmation email is not sent)** error i tried to deactivate amazon module but problem still not solved as you told problem `ll be fixed

[2019-03-30 09:04] gwharton commented on #14952
It is fixed in 2.2.9 and 2.3.1. Disabling amazon module was a workaround that worked in some versions of 2.2.

[2019-03-30 09:18] DanielRuf commented on #19821
You can use composer-patches to apply the patch or native patch.

[2019-03-30 09:18] dudzio12 opened #22057 "Lock timeout when programmatically creating category."
### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1. Create simple script with category creation ending with save() method on category.

### Expected result (*)
1. Category should be saved.

### Actual result (*)
1. SQLSTATE[HY000]: General error: 1205 Lock wait timeout exceeded; try restarting transaction, query was: INSERT  INTO `url_rewrite` (`redirect_type`,`is_autogenerated`,

[2019-03-30 09:34] ansari-krish commented on #22004
@magento-engcom-team give me 2.3-develop instance

[2019-03-30 09:34] magento-engcom-team commented on #22004
Hi @ansari-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-30 09:34] magento-engcom-team commented on #22004
Hi @ansari-krish, here is your [Magento instance](https://i-22004-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22004-2-3-develop.instances.magento-community.engineering/admin](https://i-22004-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-30 09:41] #22057 closed, assigned to nobody

[2019-03-30 11:18] lbajsarowicz commented on #22047
Question to @PiotrSiejczuk and @maghamed - what should be the depth of the NewRelic descriptions:

I've done some PoC
<img width="488" alt="Screenshot 2019-03-30 at 12 17 46" src="https://user-images.githubusercontent.com/1639941/55275410-dcfbf900-52e5-11e9-8d4d-178c15644df5.png">

[2019-03-30 11:27] panteliskopsias commented on #22036
Hello, same issue to me too. But i think that the error is at
at app/design/frontend/Smartwave/porto/Magento_Catalog/templates/product/view/details.phtml on line 18

`    $page_type = $_product->getData('product_page_type');
    if(!$page_type)
        $page_type = isset($_config['product_page_type'])?$_config['product_page_type']:'';`

[2019-03-30 11:36] Hailong commented on #22036
Hi @panteliskopsias , if the $_product returned from Line 17 is NULL, then the null object reference error would be reported on Line 18. I'm not sure if that is the reason you see the error on Line 18.

[2019-03-30 11:38] panteliskopsias commented on #22036
Is it an easy way to fix it at details.phtml?

[2019-03-30 11:39] Hailong commented on #22036
I got a fix at https://github.com/magento/magento2/pull/22034/files, please take a look.

[2019-03-30 11:44] panteliskopsias commented on #22036
i have seen it, but i have not
app/code/Magento/Catalog/Block/Product/View/Details.php

[2019-03-30 11:47] Hailong commented on #22036
oh, it should be under the <vendor> directory if you installed it with composer.

[2019-03-30 11:52] panteliskopsias commented on #22036
Yes... i had installed it with composer.
The fix work!
Thank you!

[2019-03-30 11:57] Hailong commented on #22036
Sounds good. I see a document about how to apply a [patch](https://support.magento.com/hc/en-us/articles/360005484154-Create-a-patch-for-a-Magento-2-Composer-installation-from-a-GitHub-commit), but I have not tried it yet. I installed my instance with a cloned repository which takes the fix.

[2019-03-30 12:54] lbajsarowicz commented on #22047
Created PR #22059

[2019-03-30 13:30] PiotrSiejczuk commented on #22047
I am an old school guy, so, there is a Patch for normal CRON Flows:

`patch -p0 < Magento2.3.x-NewRelicCRONTransactionTrackingPatch.patch`

[Magento2.3.x-NewRelicCRONTransactionTrackingPatch.zip](https://github.com/magento/magento2/files/3025488/Magento2.3.x-NewRelicCRONTransactionTrackingPatch.zip)

I am going to create a PR in a few moment too

[2019-03-30 13:32] allanpaiste opened #22060 "Plugins declared against SessionManager cause crash on class instantiation"
Crash on application run flow when there are Plugins declared against a Session Manager class where the magic method __call has a Exception throwing logic built into it.

The problem here comes from the fact that [class Interceptors](https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/Interception/Interceptor.php#L44) have the following code in them:

[code]

... wh

[2019-03-30 13:34] ananth-iyer commented on #22019
@trucatchtraps If Email Address field is not required in your case then I suggest you can add any dummy Email Address to place an admin order.

[2019-03-30 14:19] djixas commented on #19518
Any updates on this?

[2019-03-30 14:31] maghamed commented on #22000
hey @dudzio12 ,

I mean that Stock availability for that product changed from `In Stock` to `Out of Stock`. It's not possible to buy it or even add to the shopping cart, and even if you visit Product page it would be in the "Out of Stock" status. The only places where product is "In Stock" is on Category Page and on Search Result pages. You can consider that as cache validation.

No, a product is

[2019-03-30 16:20] magento-engcom-team commented on #21374
Hi @erfanimani. Thank you for your report.
The issue has been fixed in magento/magento2#21939 by @hiren0241 in 2.2-develop branch
Related commit(s):
 - [843a0b5936050e56b8aeb395379f11afc9454e06](https://github.com/magento/magento2/commit/843a0b5936050e56b8aeb395379f11afc9454e06)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-30 16:20] magento-engcom-team commented on #8086
Hi @wintermute-84. Thank you for your report.
The issue has been fixed in magento/magento2#21561 by @vivekkumarcedcoss in 2.2-develop branch
Related commit(s):
 - [96c83295a26dd07e1819e310d2d31fef25fadec9](https://github.com/magento/magento2/commit/96c83295a26dd07e1819e310d2d31fef25fadec9)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-30 16:20] magento-engcom-team commented on #18115
Hi @escopecz. Thank you for your report.
The issue has been fixed in magento/magento2#21561 by @vivekkumarcedcoss in 2.2-develop branch
Related commit(s):
 - [96c83295a26dd07e1819e310d2d31fef25fadec9](https://github.com/magento/magento2/commit/96c83295a26dd07e1819e310d2d31fef25fadec9)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-30 16:20] magento-engcom-team commented on #7283
Hi @magecodenet. Thank you for your report.
The issue has been fixed in magento/magento2#17371 by @afirlejczyk in 2.2-develop branch
Related commit(s):
 - [f16859318ee6f57f629b78a99717ad732e41c675](https://github.com/magento/magento2/commit/f16859318ee6f57f629b78a99717ad732e41c675)
 - [81fc5aa1135e094fb6a3c8f762e8123918c635e6](https://github.com/magento/magento2/commit/81fc5aa1135e094fb6a3c8f762e8

[2019-03-30 16:41] djixas commented on #18302
Still broken

[2019-03-30 17:04] tomekjordan commented on #22013
your cron is not set correctly. dont do this manually, create it according to Magento 2 docs

[2019-03-30 18:47] ilnytskyi opened #22063 "Category data is changed after saving category link in a loop for different stores"
### Summary (*)
When there is a loop going through a few products and linking those products to categories. Some categories get data copied from another store.

### Examples (*)
It's hard to reproduce but imagine that we import/update some product data for different stores. And if we want to link / unlink products to / from "marketing categories" and those categories have different descriptions or

[2019-03-30 18:56] EliasKotlyar commented on #14952
I just want to provide some history for this bug:

Magento 2.2.4, (02.05.2018) : Bug firstly encountered, Bugfix provided by community.
Magento 2.2.5, (27.06.2018) : Bug still present
Magento 2.2.6, (18.09.2018) : Bug still present
Magento 2.2.7 (27.11.2018) : Bug still present
Magento 2.2.8 (26.03.2019) : Bug still present
Magento 2.2.9 ( ??? ) : Bug is scheduled for this release.

Looking at thi

[2019-03-30 19:05] gwharton commented on #14952
I am not from Magento, but I can add these two comments.

It is now merged into 2.2-develop so will be in 2.2.9

It seems to me that magento are prioritising bugs for 2.3 over 2.2. This is the reason why it was merged into 2.3 some months back and has already been released in that branch, but is still lagging behind on 2.2. They put the 2.2 fix on hold until the 2.3 fix has been tested and release

[2019-03-30 19:08] DanielRuf commented on #14952
Hi @EliasKotlyar, not sure how this is currently helpful. This is a huge project and the team has to prioritize things. Normally fixed in current develop branch are cut into releases by the scheduled release scripts.

[2019-03-30 19:14] riyajalijunakiya commented on #7960
Its due to caching issue.
Enable static sign from developer in store config will solve issue for me.

[2019-03-30 19:31] EliasKotlyar commented on #14952
This is a true, however M2.3 was released on the same time as 2.2.7 - in November. The bugfix from the community was submitted on 08.05.2018 - long before any minor release for 2.2.

I am also not sure how to express my frustration without taking a rant. I have tried to make it as pragmatic as possible, and provided a brief history to sum everything up. Also i have tried to provide a solution for

[2019-03-30 19:36] klein0r opened #22065 "Email encoding leads to problems in several clients - add ENCODING_QUOTEDPRINTABLE"
### Preconditions (*)

1. Install Magento 2.2.8 or 2.3+
2. PHP 7.1.26

### Steps to reproduce (*)

1. Create an email template with umlauts or other chars like ```ö ä ü ß €```
2. Send the email

### Expected result (*)

1. Readable email

### Actual result (*)

1. Chars are not displayed correctly since ZF2 mail

![Screenshot 2019-03-30 at 20 33 46](https://user-images.githubusercontent.com/195904

[2019-03-30 21:00] magento-engcom-team commented on #21805
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#21834 by @vbmagento in 2.3-develop branch
Related commit(s):
 - [ae6c8bcff2d8203f7e9b36dad790a90047827b84](https://github.com/magento/magento2/commit/ae6c8bcff2d8203f7e9b36dad790a90047827b84)
 - [d85fd44346a024cd3f4f61f28dbd50a9ba8074a1](https://github.com/magento/magento2/commit/d85fd44346a024cd3f4f61f28dbd50a9ba8

[2019-03-30 21:00] #21805 closed, assigned to vbmagento

[2019-03-30 21:00] magento-engcom-team commented on #21134
Hi @wojtekn. Thank you for your report.
The issue has been fixed in magento/magento2#21135 by @wojtekn in 2.3-develop branch
Related commit(s):
 - [ac40d43e4a51ad235b4817d09f28cb50869c13a1](https://github.com/magento/magento2/commit/ac40d43e4a51ad235b4817d09f28cb50869c13a1)
 - [059f399232fe51f54e0e8c16986bf99c6fecbc4d](https://github.com/magento/magento2/commit/059f399232fe51f54e0e8c16986bf99c6fec

[2019-03-30 21:00] #21134 closed, assigned to wojtekn

[2019-03-30 21:00] magento-engcom-team commented on #15972
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#18067 by @hostep in 2.3-develop branch
Related commit(s):
 - [a8f17290363aa157eb1ec77984b3df2201a97ea9](https://github.com/magento/magento2/commit/a8f17290363aa157eb1ec77984b3df2201a97ea9)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-30 21:00] #15972 closed, assigned to hostep

[2019-03-30 21:00] magento-engcom-team commented on #10893
Hi @TomFranssen. Thank you for your report.
The issue has been fixed in magento/magento2#21484 by @scottsb in 2.3-develop branch
Related commit(s):
 - [e1fa2898da686fcad88d0478f0f7e610cc0c6ce6](https://github.com/magento/magento2/commit/e1fa2898da686fcad88d0478f0f7e610cc0c6ce6)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-30 21:00] #10893 closed, assigned to scottsb

[2019-03-30 21:00] magento-engcom-team commented on #20766
Hi @brosenberger. Thank you for your report.
The issue has been fixed in magento/magento2#20526 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [6f83604f8a702ac0f4fda98ca7697d15a5c60456](https://github.com/magento/magento2/commit/6f83604f8a702ac0f4fda98ca7697d15a5c60456)
 - [adb1a8f6f16a0da2cada4d2a838328334b4e3a18](https://github.com/magento/magento2/commit/adb1a8f6f16a0da2cada4d2a838328

[2019-03-30 21:00] #20766 closed, assigned to pankaj-cedcoss, irajneeshgupta

[2019-03-30 21:00] magento-engcom-team commented on #20943
Hi @irajneeshgupta. Thank you for your report.
The issue has been fixed in magento/magento2#20526 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [6f83604f8a702ac0f4fda98ca7697d15a5c60456](https://github.com/magento/magento2/commit/6f83604f8a702ac0f4fda98ca7697d15a5c60456)
 - [adb1a8f6f16a0da2cada4d2a838328334b4e3a18](https://github.com/magento/magento2/commit/adb1a8f6f16a0da2cada4d2a8383

[2019-03-30 21:00] #20943 closed, assigned to pankaj-cedcoss, eduard13

[2019-03-30 21:00] magento-engcom-team commented on #13319
Hi @korostii. Thank you for your report.
The issue has been fixed in magento/magento2#20898 by @cedmudit in 2.3-develop branch
Related commit(s):
 - [56504e1d8b0bde92a0eba4cec2ef233ad147dfc9](https://github.com/magento/magento2/commit/56504e1d8b0bde92a0eba4cec2ef233ad147dfc9)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-30 21:00] #13319 closed, assigned to cedmudit

[2019-03-30 21:00] magento-engcom-team commented on #17658
Hi @sanderjongsma. Thank you for your report.
The issue has been fixed in magento/magento2#19265 by @ErikPel in 2.3-develop branch
Related commit(s):
 - [e27f09f987f289b0a2d3f1e0552f67c63e2e302d](https://github.com/magento/magento2/commit/e27f09f987f289b0a2d3f1e0552f67c63e2e302d)
 - [7f15bd86241bace94cdc77b5487bc7f593482a69](https://github.com/magento/magento2/commit/7f15bd86241bace94cdc77b5487bc7

[2019-03-30 21:01] #17658 closed, assigned to ErikPel

[2019-03-30 21:16] dweerd commented on #21976
See: https://magento.stackexchange.com/questions/132700/magento-2-what-are-generated-logger-classes-for. Maybe this is related?

[2019-03-30 21:28] gwharton commented on #14952
By adding the relevant PR's to release milestones, which you can see if you look at the PR's against each issue, you can see when they are scheduled for release. If there is a delay, the milestone is updated. This is only a recent change, so the Magento team ARE communicating the release schedule to you.

I share your frustration though. I have 11 PR's waiting to be merged across both 2.2 and 2.3

[2019-03-30 22:25] gwharton commented on #22042
Yes, I see this is 2.2.8 also.

[2019-03-30 22:46] Ctucker9233 commented on #15205
Doesn't look like it was shipped out as of 2.2.6 either. The fixed code doesn't appear in 2.2.8. I know code quality is extremely important, but the time to release fixes seems a little ridiculous.

[2019-03-30 22:47] hostep commented on #21976
@dweerd: this seems to be related to the issue https://github.com/magento/magento2/issues/21916
And there is a possible fix proposed in https://github.com/magento/magento2/pull/22046

Maybe you can test that fix and see if it fixes your issue as well?

[2019-03-30 23:09] Ctucker9233 commented on #21329
@magento-engcom-team Shouldn't this stay open until the the 2.2 backport is merged? This is how a lot of bug fixes get lost.

[2019-03-30 23:16] Ctucker9233 commented on #11431
@leoquijano It may be possible to just go off what @TonyDeplanque commented and create the backport that way. Not sure though.

[2019-03-30 23:22] Ctucker9233 commented on #21507
@magento-engcom-team Shouldn't this stay open until it's backported to 2.2? It seems a lot of bug fixes get missed.

[2019-03-30 23:23] Ctucker9233 commented on #14582
@engcom-backlog-nazar That commit is for 2.3.1, so is there a backport?

[2019-03-30 23:26] Ctucker9233 commented on #13937
Does a new backport need to be created?

[2019-03-31 00:16] Ctucker9233 commented on #13147
@engcom-backlog-nazar can we get the commits please?

[2019-03-31 04:32] leoquijano commented on #11431
@Ctucker9233, I would hope to have an official version for the 2.2 line. That branch seems to be lacking backports and not everybody can upgrade to 2.3 just yet.

[2019-03-31 07:51] arjundhi commented on #5383
Hi,
After doing this fix in DateTime.php ...we are getting correct date value but now in admin grid date value are showing incorrect -6 hours from the created_at date. Any idea on this?

[2019-03-31 08:09] swnsma opened #22067 "Extension attribute of boolean type case issues for UI implementation in Admin Panel"
### Summary
Ui Data provider do not support boolean values for extension attributes.
To make it properly working on frontend, you need to manually cast boolean to corresponding integer in string. For not-extension attributes it works fine.
Reference where convertation take a place for not-extension attributes https://github.com/magento/magento2/blob/2bca2aa1a6c1828c379bb9c75db2810a92cd3d37/app/cod

[2019-03-31 10:24] nobodyMO opened #22068 "Multiple custom tabs on product detail page does not work since Magento 2.3.1"
I use three custom tabs on the product page since Magento 2.1.
They are defined in a catalog_module_view.xml in my own module. That works fine with 2.3.0, but after update to 2.3.1 only the last defined tab is shown. The two before are ignored. Also the after attribute is ignored. The tab is always the first.

### Preconditions (*)
1. Install Magento 2.3.1
2. Create a custom module
3. Define three

[2019-03-31 10:29] nobodyMO commented on #22068
@magento-engcom-team give me 2.3.1 instance

[2019-03-31 10:29] magento-engcom-team commented on #22068
Hi @nobodyMO. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-03-31 12:04] crankycyclops commented on #21753
I'm taking a look at this now. Because I forgot to branch when I opened the original pull request, I've closed it, will fork a fresh copy of the repo, branch, then open another pull request.

[2019-03-31 13:36] shansari25 commented on #13627
same issue with us - We have a discount code and it works in the view cart page but doesn't work in the checkout/#payment. In fact no action is taken when we click on Apply discount. Does anybody know the solution for this.

When we add a product to the cart and click on CHECKOUT which takes to a page colorcherry.com/checkout/#payment and there is Apply Discount button and textbox to enter a code

[2019-03-31 13:38] shansari25 commented on #10534
same issue with us - We have a discount code and it works in the view cart page but doesn't work in the checkout/#payment. In fact no action is taken when we click on Apply discount. Does anybody know the solution for this.

When we add a product to the cart and click on CHECKOUT which takes to a page colorcherry.com/checkout/#payment and there is Apply Discount button and textbox to enter a code

[2019-03-31 13:45] arnoudhgz commented on #13266
@magento-engcom-team I recreated the bugfix PR for Magento 2.3

[2019-03-31 14:13] crankycyclops commented on #21753
I didn't branch properly the first time I attempted to fix this issue, so I've forked a fresh copy of the repository and made a new set of pull requests.

[2019-03-31 16:03] HassenH1 opened #22076 "Magento stopped installing at 50% Web installer. Help!?!"
Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Module 'Magento_Store':

Module 'Magento_Directory':

Module 'Magento_Theme':

Module 'Magento_Backend':

Module 'Magento_Variable':

Module 'Magento_Eav':

Module 'Magento_AdminNotification':

Module 'MSP_ReCaptch

[2019-03-31 17:15] hostep commented on #15205
@Ctucker9233: this was definitely fixed in 2.2.5. And 2.2.8 also contains the changes. Are you sure you are talking about the correct problem here? Any steps you can provide to reproduce on 2.2.8?

[2019-03-31 20:40] ywsw commented on #13627
@shansari25 - the issue for us was that our system was using Pound to accept the HTTPS urls (which were all of them; Pound passed these requests to Varnish which is not able to handle HTTPS by itself). Pound seemingly blocks PUT and DELETE calls by default. We had to enable these in the Pound config and the coupons started woking right away.

[2019-03-31 22:04] oviliz commented on #2073
@magento-admin could anyone please review this "closed" issue?

[2019-04-01 02:15] duffner opened #22077 "Dashboard Report for "Month" has incorrect timezone set"
The Magento Chart on the Dashboard for the "Current Month" dropdown is off by 2.5 hours for the EST -5 (America/New_York) timezone. As the date shown on the graph changes to the next business day at 9:30 pm EST. Appears to be a timezone calculation issue, or double conversion issue.

### Preconditions (*)

1. Magento 2.3.0
2. Magento Dashboard Charts are Enabled
3. Server, Magento, and PHP all rep

[2019-04-01 02:19] magento-engcom-team commented on #22077
Hi @duffner. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-01 02:19] magento-engcom-team commented on #22077
Hi @duffner, here is your [Magento instance](https://i-22077-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22077-2-3-develop.instances.magento-community.engineering/admin](https://i-22077-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-01 02:28] duffner commented on #22077
@magento-engcom-team, I was able to reproduce the issue within your test environment.  I placed an order and invoiced it, checked the Graph and it reports from 03/31/2019 to 04/01/2019 for month view.

<img width="907" alt="Screen Shot 2019-03-31 at 9 25 34 PM" src="https://user-images.githubusercontent.com/7387019/55300149-d069c480-53fb-11e9-8651-d7d5ddfa521e.png">
Screen Shot taken from supplied

[2019-04-01 04:13] pewpewu commented on #22068
You need to add the new argument in your catalog_module_view.xml for each custom tab.

` <argument name="sort_order" xsi:type="string">2</argument>`

[2019-04-01 06:21] digvijay2017 commented on #19590
**Below solution work for me :**
Go to this file:

`    vendor/magento/framework/Encryption/Adapter/SodiumChachaIetf.php`

And update below code:

[code]

Just change the function return type: From

`return $plainText`

to

`return (string) $plainText`

[2019-04-01 06:24] engcom-backlog-nazar commented on #22050
Hi @manzanoca. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Then, please reopen the issue, thank you.

[2019-04-01 06:24] #22050 closed, assigned to nobody

[2019-04-01 06:27] engcom-backlog-nazar commented on #22048
Hi @HungTran236. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Then, please reopen the issue, thank you.

[2019-04-01 06:27] #22048 closed, assigned to nobody

[2019-04-01 06:29] engcom-backlog-nazar commented on #21329
Hi @Ctucker9233 there is a backport PR, -> https://github.com/magento/magento2/pull/21358

[2019-04-01 06:29] #21329 closed, assigned to nobody

[2019-04-01 06:32] maddumarala commented on #22042
@brokentuskk
This issue has been reported before
https://github.com/magento/magento2/issues/21499
See comments for pull request

[2019-04-01 06:32] #22042 closed, assigned to nobody

[2019-04-01 06:33] engcom-backlog-nazar commented on #22029
Hi @hetramjanghu, same here -> https://github.com/magento/magento2/issues/5849 I'm closing as duplicate. thanks for collaboration.

[2019-04-01 06:33] #22029 closed, assigned to nobody

[2019-04-01 06:58] engcom-backlog-nazar commented on #21507
Hi @Ctucker9233 backport already here -> 22078 thank you for collaboration :+1:

[2019-04-01 06:58] #21507 closed, assigned to nobody

[2019-04-01 07:01] engcom-backlog-nazar commented on #22019
hi @trucatchtraps this is expected behavior,  Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-01 07:01] #22019 closed, assigned to nobody

[2019-04-01 07:06] engcom-backlog-nazar commented on #22076
Hi @HassenH1
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-01 07:06] #22076 closed, assigned to nobody

[2019-04-01 07:16] Julen10 opened #22079 "Error on language switcher"
### Preconditions (*)
1. Magento 2.3.1
2. PHP 7.2.16

### Steps to reproduce (*)

1. I had 3 languages before the update.
2. I updated the magento version.
3. Got into the main url.

### Expected result (*)

1. The theme loads correctly.

### Actual result (*)

1. Debugging I got an error like this:
`<b>Fatal error</b>:  Uncaught Error: Call to a member function getTargetStoreRedirectUrl() on null

[2019-04-01 07:18] nobodyMO commented on #22068
hi @ernesthernandez,
thank you very much for the tip.
With the additional attribute entries the display now works again.
@magento
It would have been nice if this had been described more clearly in the release notes.

[2019-04-01 07:18] #22068 closed, assigned to nobody

[2019-04-01 07:27] ioweb-gr opened #22080 "Resized images have distorted background colors (jpg)"
### Preconditions (*)
1. Magento 2.3.1 using Luma. It also happens on 2.2.7, 2.2.8, 2.3.0
2. Tested using GD to resize.
3. Debian 9
4. PHP 7.2.16

### Steps to reproduce (*)

Test 1
1. Create a new installation of Magento 2.3.1 using Luma theme.
2. Create a simple product.
3. Add the attached images which have completely white background and various dimensions.
![pyjamas2](https://user-images.gith

[2019-04-01 07:33] ioweb-gr commented on #22080
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-04-01 07:33] magento-engcom-team commented on #22080
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-01 07:33] magento-engcom-team commented on #22080
Hi @ioweb-gr, here is your [Magento instance](https://i-22080-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22080-2-3-develop.instances.magento-community.engineering/admin](https://i-22080-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-01 07:40] engcom-backlog-nazar commented on #22013
HI @snoroozi thank you for you report, i'm not able to reproduce following steps you described, please verify your cron settings.
![deepin-screen-recorder_Select area_20190401103623](https://user-images.githubusercontent.com/40756439/55310931-65a3a200-546a-11e9-95c4-ff366136c620.gif)

[2019-04-01 07:40] #22013 closed, assigned to nobody

[2019-04-01 07:45] ioweb-gr commented on #22080
Yes, I was able to reproduce it on the provided instance. The problem was less visible but it's still there.

![image](https://user-images.githubusercontent.com/20220341/55311051-b3200f00-546a-11e9-85f3-b2a36c5120a8.png)

PS: I wasn't able to click on the checkbox

[2019-04-01 07:50] ananth-iyer commented on #22080
@ioweb-gr I have found that default **Image Adapter: PHP GD2** is not working properly in your case.

Let us try with **Image Adapter: ImageMagick** on same Magento instance: https://i-22080-2-3-develop.instances.magento-community.engineering/admin

[2019-04-01 07:52] ananth-iyer commented on #22080
I have changed  **Image Adapter to ImageMagick**. Please try in Private Window and let us know

[2019-04-01 08:00] OvalMedia commented on #8034
Version 2.2.8 and this issue still exists. As a workaround I could srt the special price to 0 and it would be removed. But this does not work when running more than one website. I wanted to remove the special price for one website but not for the other. The special price was actually displayed as 0 in the frontend.
I had to set the special price equal or greater than the normal price to make it go

[2019-04-01 08:13] ioweb-gr commented on #22080
I just tried it and I can't reproduce on ImageMagick.

[2019-04-01 08:14] ankit-sf commented on #19670
same issue

[2019-04-01 08:15] david-fuehr commented on #18752
Hi @rhoerr,

as far as I know, there is no one root exception that causes this incomplete transaction rollback. So I would not know how to fix this generally.

The consecutive exception is thrown when a transaction rollback is triggered during placement of the order (e.g. `\Magento\Sales\Model\OrderRepository::save`):

[code]

If I find the time before someone else fixes this, I will address this

[2019-04-01 08:32] engcom-backlog-nazar commented on #22079
HI @Julen10 thank you for you report, i'
![DeepinScreenshot_select-area_20190401112854](https://user-images.githubusercontent.com/40756439/55313959-c4204e80-5471-11e9-8023-39af32dad99b.png)
m not able to reproduce following steps you described, in your steeps, seems like in your extension missing viewModel. can you described more detail ?

[2019-04-01 08:58] nsiebler-dm commented on #22027
Another possible hint also regarding the performance:

We had to roll back an update from 2.2 to 2.3.
MySQL was blocking due to too many connections that were stuck with a lot of those queries that would not finish:
`SHOW TABLE STATUS LIKE 'inventory_stock_1'`

Could be just a symptom but that does not look right to me.

[2019-04-01 09:07] magento-engcom-team commented on #20186
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98993`, `MAGETWO-98994` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-01 09:10] xantek-imc commented on #20255
**As a workaround try updating the .htaccess file to add the HTTP HEAD block below the already existing TRACE and TRACK block. Then flush the cache and 404 should not return.**

[code]

Testing this issue I found the following in my access log:
`
"HEAD /customer/account/create/ HTTP/1.1" 404 3708 "-" "Mozilla/5.0 (compatible; woorankreview/2.0; +https://www.woorank.com/)"
`

This got me thinking t

[2019-04-01 09:15] Julen10 commented on #22079
I have this one inside $block:
[code]

And getViewModel() returns an empty response, I don´t know even if it´s defined somewhere on Switcher.php

[2019-04-01 09:18] engcom-backlog-nazar commented on #22079
@Julen10 can you show how you implemented the switcher ?

[2019-04-01 09:21] ananth-iyer commented on #22080
It is just the **PHP GD2** that is not able to process the images correctly.

This is why Magento has given 2 options for the image process - PHP GD2 (default), **ImageMagick** for better image process than PHP GD2

Your next steps are to:
1) Install **ImageMagick** on your server if not installed
2) Change **Image Adapter** to **ImageMagick**
3) On Cache Management page:
Flush Configuration & Ful

[2019-04-01 09:21] #22080 closed, assigned to nobody

[2019-04-01 09:30] ioweb-gr commented on #22080
I understand what you mean that Magento offers two solutions but that doesn't mean that because one solution works, we should ignore the problem in the other one.

Moreover in some hosting environments we have limited options where we cannot install ImageMagick. GD2 should still be working correctly. It's also the predefined method of image resize.

Also I dont' think it's a problem with the GD ex

[2019-04-01 09:30] engcom-backlog-nazar commented on #21973
HI @kassner thank you for you report, I'm closing this one as this is resolved, if not, feel free to reopen ticket, thanks for collaboration.

[2019-04-01 09:41] orlangur commented on #21860
There is nothing to fix here, this is intended behavior. Unlike Magento 1 we give full control over SEO for merchants in Magento 2, thus we do not encourage random numeric suffixes appearing.

[2019-04-01 09:41] #21860 closed, assigned to AlexandrKozyr

[2019-04-01 09:42] Yonn-Trimoreau commented on #21770
@engcom-backlog-nazar The sentence about FL_ALLOWED_SEVERITIES does not mention the fact that you cannot add a foreign key referencing a table not created through db_schema.xml... I read the sentence again and again.. Nope.

Seems like an issue.

Like @peterjaap said, this is a serious impediment for the adoption of declarative schema.

[2019-04-01 09:47] engcom-backlog-nazar commented on #21770
@Yonn-Trimoreau at this point, yes we must have ability to add foreign key to tables wich not created via db schema.xml but it's more a "feature" to my opinion, because dbschema not cover this case.

[2019-04-01 10:03] mwr commented on #22004
I can confirm the issue with an 2.3.1 Magento instance.

[2019-04-01 10:08] ananth-iyer commented on #22053
@magento-engcom-team give me 2.3-develop instance

[2019-04-01 10:09] magento-engcom-team commented on #22053
Hi @ananth-iyer. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-01 10:09] ananth-iyer commented on #22053
@scottsb Please give the resolution of the product image

[2019-04-01 10:09] magento-engcom-team commented on #22053
Hi @ananth-iyer, here is your [Magento instance](https://i-22053-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22053-2-3-develop.instances.magento-community.engineering/admin](https://i-22053-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-01 10:09] Julen10 commented on #22079
In default.xml I use the block like this:
`<block class="Magento\Store\Block\Switcher" name="store_language" as="store_language" template="switch/languages.phtml"/>`

Then in header.phtml:
[code]

And I didn´t edit the module_store template, I use the magento´s vendor template (https://github.com/magento/magento2/blob/36097739bbb0b8939ad9a2a0dadee64318153dca/app/code/Magento/Store/view/frontend/te

[2019-04-01 10:11] ananth-iyer commented on #21735
@bonucci Did you add the Coupon code to Cart price rule?

[2019-04-01 10:11] emcrobert opened #22083 "Error reindexing Target Rules"
### Preconditions (*)

1. Magento 2.2.8
2.

### Steps to reproduce (*)

1. run the ./bin/magento indexer:reindex targetrule_rule_product command
2.

### Expected result (*)

1. index to be reccreated
2.

### Actual result (*)

1. Rceived this error message: SQLSTATE[21000]: Cardinality violation: 1241 Operand should contain 1 column(s), query was: SELECT `e`.`entity_id` FROM `catalog_product_entit

[2019-04-01 10:13] emcrobert commented on #22083
Clearly SQL query should be in rather than equal e.g = '326','329','330' shoud be in ('326','329','330')

However, I'm still trying to trace where the query is created in the code

[2019-04-01 10:23] engcom-backlog-nazar commented on #22079
@Julen10 what the version of magento you have before upgrade ? 2.3.0 ?

[2019-04-01 10:28] Julen10 commented on #22079
Yes, and using this archive all works perfect (https://github.com/magento/magento2/blob/2.3.0/app/code/Magento/Store/view/frontend/templates/switch/languages.phtml)

[2019-04-01 10:53] hostep opened #22084 "[2.3.1] Wishlist module shouldn't have a hard dependency on Captcha module"
### Preconditions (*)
1. Magento 2.3.1
2. PHP 7.2.15

### Steps to reproduce (*)
1. Install Magento 2.3.1 using composer
2. Look at the file `vendor/magento/module-wishlist/composer.json`

### Expected result (*)
1. Not seeing `magento/module-captcha` in there
2. The Wishlist module should be able to work when the captcha module isn't installed

### Actual result (*)
1. Seeing `magento/module-capt

[2019-04-01 10:53] engcom-backlog-nazar commented on #22079
@Julen10 try this example
[code]

[2019-04-01 10:56] engcom-backlog-nazar commented on #22083
HI @emcrobert  thank you for you report,
![DeepinScreenshot_select-area_20190401135619](https://user-images.githubusercontent.com/40756439/55322805-03589a80-5486-11e9-84af-a9005076bbc9.png)

[2019-04-01 11:02] Julen10 commented on #22079
Same issue, trying to call the function on null

[2019-04-01 11:22] tufahu commented on #22004
@ansari-krish have you started to make PR?

[2019-04-01 11:23] tufahu commented on #22004
@magento-engcom-team give me 2.3-develop instance

[2019-04-01 11:23] magento-engcom-team commented on #22004
Hi @tufahu. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-01 11:24] magento-engcom-team commented on #22004
Hi @tufahu, here is your [Magento instance](https://i-22004-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22004-2-3-develop.instances.magento-community.engineering/admin](https://i-22004-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-01 11:39] emcrobert commented on #22083
the index still exists in 2.2.8. If it's not in develop branch is it going to be removed in 2.2.9?

The sql that's causing the issue seems to be generated based on information in the conditions_serialized field of the magento_targetrule table.

Not sure what populates that table though.

[2019-04-01 11:44] engcom-backlog-nazar commented on #22079
@Julen10 I'm able to reproduce following steps you described, and you have wrong default.xml please use this
[code]

[2019-04-01 11:44] #22079 closed, assigned to nobody

[2019-04-01 11:45] engcom-backlog-nazar commented on #22083
@emcrobert You use CE or EE version ?

[2019-04-01 11:47] magento-engcom-team commented on #22077
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98996` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-01 11:47] Jitheesh commented on #21383
Hi @devchris79

You can refer changes from this commit c9fff890e5da3e9e173fd2163f8accc7ef5338e6

[2019-04-01 11:53] Amadeco opened #22085 "Not focusable moreButton on Catalog page using Tab"
Good afternoon,

In testing _lib/web/mage/smart-keyboard-handler.js_ with a custom theme, I have noticed you can not have the focus on more swatches button in products grid.

I have made a test on a fresh install of Magento 2.3.0

a tag have not the focus even if I had tabindex="0", role="button" attributes. I do not know why. However if I change to html tag to button, everything is back to normal

[2019-04-01 11:54] emcrobert commented on #22083
EE version

[2019-04-01 11:56] mageho commented on #22085
### Current solution have I found

https://github.com/magento/magento2/blob/2bca2aa1a6c1828c379bb9c75db2810a92cd3d37/app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js#L514
Change to
                    `html += '<button class="' + moreClass + '"><span>' + moreText + '</span></button>';`

https://github.com/magento/magento2/blob/0eb8677b0b4e35606032e856cc1ef7c80e68829f/lib/web/css/s

[2019-04-01 11:57] mageho commented on #22085
@magento-engcom-team give me 2.3-develop instance

[2019-04-01 11:57] magento-engcom-team commented on #22085
Hi @mageho. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-01 11:57] Yonn-Trimoreau commented on #21770
@engcom-backlog-nazar If we read the documentation again and take what is _explicitly_ written about this issue:

Two things:

- Magento determines the differences between the **current table structure** and what it should be. Sounds cristal clear to me.

- `and is used in projects such as Doctrine`: Doctrine does that. It can create foreign keys with external tables not described in any of its de

[2019-04-01 11:58] magento-engcom-team commented on #22085
Hi @mageho, here is your [Magento instance](https://i-22085-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22085-2-3-develop.instances.magento-community.engineering/admin](https://i-22085-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-01 12:11] djixas commented on #12844
Same error exists in 2.3.1, fresh install, after not installing all modules, just not sure which is causing the error

`[root@host /home/x/public_html]# php bin/magento setup:upgrade

Fatal error: Uncaught Error: Cannot instantiate interface Magento\Framework\HTTP\ClientInterface in /home/x/public_html/vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php:50
Stack trace:
#0 /home/x/

[2019-04-01 12:15] mageho commented on #22085
Verified on Magento 2.3-develop instance.

[2019-04-01 12:33] engcom-backlog-nazar commented on #22083
@emcrobert on clean 2.2-develop, seems like this related with one of your custom modules.
![DeepinScreenshot_select-area_20190401153208](https://user-images.githubusercontent.com/40756439/55327708-58e77400-5493-11e9-804f-b737f477a573.png)

[2019-04-01 13:14] syno-bvo commented on #19710
Hi,

I also had the same issue. The only way I found in a first time is to add this

`$this->helperFactory->create()->init($product, $imageId)->save();`

here : \Magento\Catalog\Block\Product\ImageBuilder::create

In this way, Magento creates the image that is requested.

[2019-04-01 13:19] magento-engcom-team commented on #22043
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98998`, `MAGETWO-98999` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-01 13:24] trucatchtraps commented on #22019
It was not required in 2.2.5. I don't understand why the change has not been documented. Please point me to a commit or discussion that explains the reason for this change. Or why this is not a feature you can turn on/off. Not everyone in the world has email addresses or sometimes they prefer not to give it out. Now we have to try and makeup a different dummy address every time because if it match

[2019-04-01 13:27] MartinaB90 commented on #5835
Hi, Magento 2.3 here. It seems the <minify_exlude> sintax has changed now.
It looks like:
`                <minify_exclude>
                    <tiny_mce>/tiny_mce/</tiny_mce>
                </minify_exclude>`

The point is that adding a new line to exclude external js files to (e.g. Vimeo api) to be minified is not working anymore:
`<vimeo>player.vimeo.com/api/player</vimeo>`

Any idea?

[2019-04-01 13:37] peterjaap commented on #17813
Finally fixed in 2.2.8 :tada:

[2019-04-01 13:39] peterjaap commented on #14530
Backward patch for 2.2.8;

[code]

[2019-04-01 13:40] brokentuskk commented on #22042
That's a 2.3 issue reported in February. This is a problem you introduced going from 2.2.7 to 2.2.8. You might tag your tech support database. Because support says this isn't an issue at all.

[2019-04-01 13:47] carolineboivin commented on #19710
I believe this is another issue that people started discussing in this thread. There is the frame error generating a wrong hash, but for that to happen you have to use a custom there which sets the frame value to 0 in its view.xml.

The problem with the image cache generation seems to be another issue that occurs when trying to regenerate the catalog images cache when there are orphan entries in t

[2019-04-01 13:49] nicholasscottfish opened #22087 "Products Ordered Report - Not grouped by product"
### Preconditions (*)
1. Magento 2.2.3

### Steps to reproduce (*)
1. In the Magento 2 admin go to Reports -> Products -> Ordered
2. Select a date range where you know you have sold products spanning across multiple orders
3. Select 'Show By' year
4. Hit refresh

### Expected result (*)
1. I would expect to see a list of products sold per year, grouped by product with a total quantity

### Actual

[2019-04-01 13:57] garmentprinterink opened #22088 "Exporting Products - Fatal Error Uncaught Error Call to a member function getName() on null"
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1. Create a fresh version of Magento 2.3
2. Go to: System > Data Transfer > Export > Products - csv

### Expected result (*)

1. I expected to see a form that I can use to export products
2.

### Actual result (*)

1. Fatal error: Uncaught Error: Call to a member function getName() on null in /home/gpi/public_html/shop/vendor/ma

[2019-04-01 13:59] engcom-backlog-nazar commented on #17310
Hi folks, thanks @wjpbill for explanation, i'm will close this one, as problem related to php-configs, but if someone found another reason feel free to reopen this one. thanks for collaboration :+1:

[2019-04-01 14:55] williankeller opened #22090 "MsrpPriceCalculator exception after upgrade to 2.3.1"
### Preconditions (*)
After performing an upgrade to the last magento version, I faced the following message:
1. Magento 2.3.0
2. PHP 7.2.15-0ubuntu0.18.04.1
3. MySQL 5.7.25-0ubuntu0.18.04.2

### Steps to reproduce (*)
1. Enable Magento maintenance mode
2. Apply updates by updating Magento to last version (2.3.1)
3. Clean the Magento cache
4. Manually clear caches and generated content
5. Update t

[2019-04-01 15:33] Userr017 commented on #19710
Thanks! This fixing issue with the categories page so it shows now product images but the product page is still magento default placeholder images with oldest listed products?

[2019-04-01 15:36] devchris79 commented on #21383
Ah, was looking in MinimalPriceCalculatorInterface.php, too many similar sounding files :-)
Thanks Jitheesh

[2019-04-01 16:04] jasonkcarter opened #22092 "Assigning Catalog Image from Gallery, then Saving Twice, Clears Image"
### Preconditions (*)
1. Magento 2.3.0
2. Web root directory pointing to the Magento pub/ subdir.

### Steps to reproduce (*)
1. Edit an existing category node in the admin screen
2. Expand the Content tab
3. Next to Catalog Image, click Select from Gallery
4. Double click an existing image from the gallery
5. Click Save
6. Expand the Content tab

### Expected result (*)
1. The image should still

[2019-04-01 16:11] jasonkcarter commented on #22092
It seems to be a problem with app/code/Magento/Model/Category/FileInfo.php not accounting for the pub/ subdirectory.

[2019-04-01 16:14] jasonkcarter commented on #22092
@magento-engcom-team give me 2.3-develop instance

[2019-04-01 16:14] magento-engcom-team commented on #22092
Hi @jasonkcarter. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-01 16:15] magento-engcom-team commented on #22092
Hi @jasonkcarter, here is your [Magento instance](https://i-22092-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22092-2-3-develop.instances.magento-community.engineering/admin](https://i-22092-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-01 16:29] scottsb commented on #22053
@ananth-iyer The resolution of product image you need depends on the size of your browser window. You just need one that is large enough to be taller than the full browser height when zoomed in.

[2019-04-01 17:05] djixas opened #22093 "Error editing or creating inventory source"
### Preconditions (*)
Magento: 2.3.1
PHP 7.2 + MySQL 5.6

The following extensions were disabled during fresh install

Amazon_Core
Amazon_Payment
Amazon_Login
Dotdigitalgroup_Email
Klarna_Core
Klarna_Kp
Klarna_Ordermanagement
Magento_Authorizenet
Magento_AuthorizenetAcceptjs
Magento_Braintree
Magento_Dhl
Magento_DownloadableGraphQl
Magento_DownloadableImportExport
Magento_Fedex
Magento_InventoryPr

[2019-04-01 17:09] djixas opened #22094 "The stock item was unable to be saved. Please try again."
### Preconditions (*)
Magento: 2.3.1
PHP 7.2 + MySQL 5.6

The following extensions were disabled during fresh install

Amazon_Core
Amazon_Payment
Amazon_Login
Dotdigitalgroup_Email
Klarna_Core
Klarna_Kp
Klarna_Ordermanagement
Magento_Authorizenet
Magento_AuthorizenetAcceptjs
Magento_Braintree
Magento_Dhl
Magento_DownloadableGraphQl
Magento_DownloadableImportExport
Magento_Fedex
Magento_InventoryPr

[2019-04-01 17:16] djixas commented on #22094
EDIT: Issue solves itself when I switch from ElasticSearch (6.0 or regular) to MySQL search.

Any ideas why?

[2019-04-01 17:30] magento-engcom-team commented on #13411
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento

[2019-04-01 17:43] justinharris1986 opened #22095 "Cannot add bundled products to cart if bundle has a special price"
### Preconditions
1. Magento 2.2.8
2. PHP 7.1.27 (In our case - may or may not be a factor - we are running in php-fpm)
3. MariaDB 10.3.13-1.el7.centos (In our case - may or may not be a factor)
4. Bundle product *with a special price attached*

### Steps to reproduce
1. Create 2 simple products
2. Create a bundle with the simple products, and add a Special Price from the advanced pricing page
3.

[2019-04-01 17:43] justinharris1986 commented on #22095
@magento-engcom-team give me 2.2-develop instance

[2019-04-01 17:43] magento-engcom-team commented on #22095
Hi @justinharris1986. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-01 17:44] magento-engcom-team commented on #22095
Hi @justinharris1986, here is your [Magento instance](https://i-22095-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22095-2-2-develop.instances.magento-community.engineering/admin](https://i-22095-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-01 17:48] Lealopez95PSF commented on #21981
I've upgraded from Magento 2.2.6 to 2.2.8 and the issue still there. The files created with one admin, can be seen by other admin from different store views.

[2019-04-01 17:57] Bartlomiejsz commented on #22092
@jasonkcarter it is fixed in my PR: #21131

[2019-04-01 17:59] justinharris1986 commented on #22095
@magento-engcom-team  - Yes I was able to reproduce this in 2.2. Not sure if it matters or not, but i disabled "Dynamic Price" and manually set a price in the bundle.
![image](https://user-images.githubusercontent.com/7268384/55348482-4a925b80-5485-11e9-8941-56cff289c6c6.png)

2nd - with our theme, we get a 500, however, with the default Luma, it just sits there on "adding". I am presuming it will

[2019-04-01 18:02] hostep commented on #5835
@MartinaB90: that's correct. The syntax to exclude certain url's from getting the `.min` added in the filename changed in 2.3.0 by https://github.com/magento/magento2/pull/13687
That was to make sure multiple modules could add their own exclusion without overwriting other modules configurations.

At first look, your Vimeo regular expression seems to be correct.
Can you give a bit of context of how

[2019-04-01 18:06] hostep commented on #22042
@brokentuskk: it looks like a backport was already created, but somehow forgotten, there seems to be some activity in the last couple of days luckily: https://github.com/magento/magento2/pull/21512

[2019-04-01 18:42] dan-ding commented on #22084
seems to exist in 2.2.8 (2.2.7?) as well

send-a-friend does as well;
in enterprise, gift-card-account does too!

[2019-04-01 19:26] nomuprive opened #22097 "Unable to handle this request. HTTP ERROR 500"
### Summary (*)

### Examples (*)

### Proposed solution

[2019-04-01 19:46] snoroozi commented on #17813
What about us 2.3 folks @peterjaap ?  Is it supposedly already fixed in 2.3?

[2019-04-01 20:11] chequille commented on #14952
Hi Everybody,
I was in this task as well sometimes ago. Always looked at the comments and suggestions and patches and whatelse came out here.
As a matter of facts it is a shame for Magento not fixing such a relevant issue as fast as possible. Of course, it is a huge project, but it does not help if first other bugs are fixed before the essential stuff is working. And this is an essential functiona

[2019-04-01 20:29] elasticrhu commented on #22090
Any update on this? It happens on a fresh install of 2.3.1 for me. The installation initially appears fine, but during a second deployment it breaks with the above error.

[2019-04-01 22:03] orlangur commented on #22083
This functionality does not seem to be a part of Magento Open Source, isn't it?

In such case

GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2019-04-01 22:03] #22083 closed, assigned to nobody

[2019-04-01 22:07] bradjones1 commented on #12124
I believe this can be marked as a duplicate of #15209, as that is scheduled for remediation.

[2019-04-01 22:08] orlangur commented on #22084
Totally agree on that, it could have been easily implemented as a plugin/interceptor in a separate module. Especially such unreasonable dependencies should not be introduced in patch releases. Generally amount of hard dependencies must decrease, not increase.

[2019-04-01 22:18] orlangur commented on #22090
https://github.com/magento/magento2/commit/c3effa5c1e2da8fb2cffa87b7415efe04d65100d seems correct from backward-compatibility perspective.

Try to locate invalid third-party code which does not construct objects correctly.

[2019-04-02 01:05] snoroozi commented on #22013
@engcom-backlog-nazar can you let me know the quickest way to test from cli, so I can test without cron running on my dev server and do on command.

My cron on production is completely fine, and 99% of other things work.

[2019-04-02 01:19] ladle3000 opened #22100 "Checkout Loaders"
### Description (*)

Do away with multiple loaders on checkout page.

### Expected behavior (*)

When loading checkout page, it should be much faster like shopify/amazon. Crucial to make as fast and clean as possible

### Benefits

Greatly increase conversion rates and customer confidence.

### Additional information

You should do away completely with all the multiple loaders on the checkout page

[2019-04-02 01:31] gwharton commented on #22065
Just to add to this that plain text emails also do not display characters correctly, so the solution is not just the above as this will only fix html mails.

[2019-04-02 01:41] CKENT0369 commented on #21666
Bringing this back up. Upgraded to 2.3.1 Issue still remains.

[2019-04-02 01:41] StarshineMarketing commented on #10573
After migration of 1.9.3.8 to 2.2.7 I had the same issue. 2 of my "customer_entity.website_id" were NULL

[2019-04-02 01:42] CKENT0369 opened #22101 "2.3.1 Still invalid input time."
Going back to issue https://github.com/magento/magento2/issues/21666 I just upgraded to 2.3.1 I am still having the same issue.

Preconditions (*)

    Magento 2.3.1
    en_US locale

Steps to reproduce (*)

    Create or edit product
    Change date field for new from to anything
    Click Save

Expected result (*)

    Product Saves with new from date

Actual result (*)

    Error occurs stating

[2019-04-02 01:46] CKENT0369 commented on #22101
Invalid input datetime format of value '4/01/2019'

[2019-04-02 02:10] gwharton commented on #22065
In 2.2.7 plain text emails were sent including the following headers

[code]
In 2.2.8 the equivalent email is sent
[code]

[2019-04-02 02:45] gwharton commented on #22065
I don't understand why Magento has changed plain text emails to non MIME emails. It means I can't use foreign characters or add attachments anymore! Grrr.

[2019-04-02 03:02] nickpiro commented on #21985
Any word on when this would be worked on?

[2019-04-02 03:32] nineov opened #22102 "Backend products cannot use WYSIWYG editor after switching views"
### Preconditions (*)

Magento2.3 Community Edition
### Steps to reproduce (*)

1.In the background product interface, when I switch the view, I want to modify the Description field, do not check Use Default Value, this time can not be edited at all.

### Expected result (*)

1. [Screenshots, logs or description]
![image](https://user-images.githubusercontent.com/37391614/55374368-cac6c880-553a-11

[2019-04-02 03:53] gwharton opened #22103 "Character Encoding in Plain Text Emails Fails since 2.2.8/2.3.0 due to emails no longer being sent as MIME"
### Preconditions (*)
1. Magento 2.2.8 or 2.3+

### Steps to reproduce (*)
1. Install vanilla magento
2. Setup valid store email address
3. Create a new email template. Name : "Newsletter Success", Subject : "Newsletter subscription success", Template Content : "You have been successfully subscribed to our newsletter. ö£€"
4. Convert email template to Plain Text and Save
5. Config -> Customer -> N

[2019-04-02 04:52] miteshdhaduk commented on #18794
I have fatch same problem in Magento 2.2.3 in checkout page with multiple payment methods. @webkul-ratnesh Have you got anything?

[2019-04-02 04:52] aKalisch commented on #11292
@ADDISON74 it‘s bad layout and ux to have a shopping cart sidebar on the actual shopping cart ;-)

Maybe just remove the sidebar if you are at the cart page as stated above.

[2019-04-02 05:13] miteshdhaduk commented on #18794
I solved using this: https://github.com/magento/magento2/commit/c608c9f7628b10aa94a3dcdc4aa7cc83b9e67cf5

[2019-04-02 05:14] miteshdhaduk commented on #14819
@jignesh-baldha Thank you for fixing this. It is working properly in Magento 2.2.

[2019-04-02 06:07] LucianMihalache commented on #4475
How comes this is not solved in 2.3.1?
I am having similar issues...
I am on a fresh install of 2.3.1, I registered, logged, added products to the cart, logged out, cleared all cache (server-side pub, generated, var, client-side, everything), going incognito, missing lots of data. Browsing the site in hoping the data will be added, some (rare) times the data is added, logging out, browser storage

[2019-04-02 06:16] majaode commented on #13179
@Ctucker9233 Agree, we cannot expect all magento users to upgrade.

[2019-04-02 06:16] engcom-backlog-nazar commented on #22013
@snoroozi wait, test without cron ? and indexer set to schedule ?

[2019-04-02 06:40] hostep commented on #22013
@snoroozi: if you have [magerun2](https://magerun.net/) installed, you can execute a specific cron job with: `n98-magerun2.phar sys:cron:run indexer_update_all_views`. This should trigger partial reindexing on all indexers. Be sure to also use `bin/magento indexer:status` to see the status of the indexers.

And for a better understanding of how partial reindexing and materialised views work in Mag

[2019-04-02 06:42] engcom-backlog-nazar commented on #22102
Hi @nineov thank you for you report, this issue has already fixed in 2.3-develop branch.

![deepin-screen-recorder_Select area_20190402094101](https://user-images.githubusercontent.com/40756439/55381348-98619f00-552b-11e9-8b0c-19b493a647f1.gif)

[2019-04-02 06:42] #22102 closed, assigned to nobody

[2019-04-02 06:48] engcom-backlog-nazar commented on #22101
@magento-engcom-team give me 2.3.1instance

[2019-04-02 06:49] engcom-backlog-nazar commented on #22101
@magento-engcom-team give me 2.3.1 instance

[2019-04-02 06:49] magento-engcom-team commented on #22101
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-04-02 06:50] magento-engcom-team commented on #22101
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-22101-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22101-2-3-1.instances.magento-community.engineering/admin](https://i-22101-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-02 07:01] engcom-backlog-nazar commented on #22101
Hi @CKENT0369 thank you for you report, but i'm not able to reproduce following steps you described, on clean magento 2.3.1 instance.
![deepin-screen-recorder_Select area_20190402095735](https://user-images.githubusercontent.com/40756439/55382290-fbeccc00-552d-11e9-88d3-2091c834f4ca.gif)

[2019-04-02 07:01] #22101 closed, assigned to nobody

[2019-04-02 07:03] engcom-backlog-nazar commented on #22093
Hi @djixas thank you for you report please open issue here -> https://github.com/magento-engcom/msi/issues

[2019-04-02 07:03] #22093 closed, assigned to nobody

[2019-04-02 07:21] engcom-backlog-nazar commented on #22094
Hi @djixas thank you for you report, this issue has already fixed in 2.3-dev branch and will be available on 2.3.2

[2019-04-02 07:23] JORDYSCHEMPARATHY commented on #7869
Thanks @careys7  : This solution worked.

[2019-04-02 08:08] engcom-backlog-nazar commented on #22090
HI @williankeller your magento version is CE or EE ?

[2019-04-02 08:12] engcom-backlog-nazar commented on #22092
Hi @jasonkcarter thank you for you report, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/19872 thanks for collaboration :+1:

[2019-04-02 08:12] #22092 closed, assigned to Bartlomiejsz

[2019-04-02 08:15] 280690 commented on #14674
Yes this Above Code only works for routes that uses the url rewrites system / module. but not for cms and static url So if you would like to resolve for static cms url then make below change Or Replace Below code in this file (\Magento\UrlRewrite\Model\StoreSwitcher\RewriteUrl::switch):

[2019-04-02 08:17] emcrobert commented on #22083
If it helps anyone else I found the problem related to a rule a user had created in the Related Products page of the admin.

They had created a rule where they had select the "is" option then selected multiple categories, when they should have selected the "is one of" option from the dropdown.

Whilst this is obviously user error, I'd say it's also a bug, as the admin shouldn't let a user select o

[2019-04-02 08:32] thedustymagic opened #22106 "i have a issue with logo update"
![Screenshot (7)](https://user-images.githubusercontent.com/49187710/55387912-ef796b00-554f-11e9-9bd4-a64b1cfb0839.png)

[2019-04-02 08:33] dudzio12 opened #22107 "Lock wait timeout exceeded for url_rewrite table when saving category from AMQP env"
### Preconditions (*)
1. Magento 2.3.1
2. Configured AMQP with RabbitMQ
3. Simple ProcessQueueMsg class to process messages.
4. Simple category creation with CategoryFactory inside process method. (https://pastebin.com/aKWuAeG7)

### Steps to reproduce (*)
1. Send message to RabbitMQ to initiate process.

### Expected result (*)
1. Category should be saved.

### Actual result (*)
1. Lock timeout e

[2019-04-02 08:35] thedustymagic opened #22109 "i have issue with logo update"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.
![Screenshot (7)](https://user-images.githubusercontent.com/49187710/55388093-48e19a00-5550-11e9-94a6-76bc25420824.png)

[2019-04-02 08:41] engcom-backlog-nazar commented on #22090
HI @williankeller thank you for you report, i'm not able to reproduce following steps you described, on clean magento 2.3.1 and upgrade from 2.3.0 to 2.3.1 this seems to be related to your custom modules, or  environment, please verify that your magento cache is flushed.

[2019-04-02 08:41] #22090 closed, assigned to nobody

[2019-04-02 08:42] engcom-backlog-nazar commented on #22106
Hi @thedustymagic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Then please reopen the issue, thank you.

[2019-04-02 08:42] #22106 closed, assigned to nobody

[2019-04-02 08:46] engcom-backlog-nazar commented on #22109
Hi @thedustymagic thank you for you report, i'm closing as duplicate to this -> https://github.com/magento/magento2/issues/19687

[2019-04-02 08:46] #22109 closed, assigned to nobody

[2019-04-02 08:48] hoangnm89 opened #22110 "2.3.x - Product list show 3 products, layout is broken"
### Preconditions (*)
1. install fresh magento 2.3.x with sample data and Luma theme

### Steps to reproduce (*)

1. Observe product listing page

### Expected result (*)
1. Products fit on the rows, like 2.2.x: 4 items

### Actual result (*)

1. show 3 products per row and layout seems broken
![2 3-2 2](https://user-images.githubusercontent.com/655821/55388914-6158b100-555e-11e9-8c9a-9b8297a6b809

[2019-04-02 08:50] thedustymagic opened #22111 "when i try to upload logo after that the error occured"
### Summary (*)
 my website www.thedustymagic.com , when i try to upload header logo after that the error occured .A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.

### Examples (*)
 when i try to  upload header logo, issue will be occure.

### Proposed solution

![Screenshot (7)](https://user-images.githubus

[2019-04-02 09:01] engcom-backlog-nazar commented on #22088
Hi @garmentprinterink thank you for you report, i'm not able to reproduce following steps you described on clean magento 2.3.1 and 2.3-develop instance, this may be related to you custom modules, or data, please verify you category data.

[2019-04-02 09:01] #22088 closed, assigned to nobody

[2019-04-02 09:04] engcom-backlog-nazar commented on #22110
Hi @hoangnm89 thank you for you report, this issue has already fixed in 2.3-develop branch, I'm closing this as duplicate to this ->https://github.com/magento/magento2/issues/20140

[2019-04-02 09:04] #22110 closed, assigned to nobody

[2019-04-02 09:04] orlangur commented on #22083
@emcrobert thanks for your finding! I'm kindly ask you to send such report the way I described so that they keep an eye on this issue.

[2019-04-02 09:15] engcom-backlog-nazar commented on #22111
Hi @thedustymagic thank you for you report, bu as i say in another your ticket this problem related to your environment, what's is your php version ? magento version ?  and this issue has already fixed in this PR -> https://github.com/magento/magento2/pull/18851 and available on 2.3.1 release.

[2019-04-02 09:18] dudzio12 commented on #22107
Everything works when I comment those 3 lines:
https://github.com/magento/magento2/blame/fd2771b2cf97a8acbb9f3e1b02effe6a62b273c2/app/code/Magento/CatalogUrlRewrite/Model/CategoryUrlRewriteGenerator.php#L202-L204

[2019-04-02 09:22] middendorfmidnight commented on #10497
![Magento Error](http://www.riuk.de/mage_error.png)

The error still exists in Magento 2.3.0.
We got a Bundleproduct with 23 Options. These Options are Select Fields with up to 40 different virtual Products.

[2019-04-02 09:22] riyuk commented on #10497
![Magento Error](http://www.riuk.de/mage_error.png)

The error still exists in Magento 2.3.0.
We got a Bundleproduct with 23 Options. These Options are Select Fields with up to 40 different virtual Products.

[2019-04-02 09:30] Garusch commented on #4373
Hello,

we got the same issue.

Was this problem solved ?
Items, Comments and Tracks are null.

Kind regards

[2019-04-02 09:38] dudzio12 commented on #22107
It doesn't work when receiving CategoryFactory with ObjectManager inside `emulateAreaCode`.

[2019-04-02 09:39] delyriand opened #22112 "Shipping address information is lost in billing step"
### Preconditions (*)

1. Magento 2.3.1 (or Magento 2.2.8)
2. PHP 7.2 (or PHP 7.0)
3. Samples data

### Steps to reproduce (*)

1. Connected with the sample account (roni_cost@example.com / roni_cost3@example.com)
2. Add a product to cart
3. Go to checkout
4. Validate shipping address
5. Uncheck "My billing and shipping address are the same" and choose "New address"
6. Fill the address form (espec

[2019-04-02 09:40] delyriand commented on #22112
@magento-engcom-team give me 2.3-develop instance

[2019-04-02 09:40] magento-engcom-team commented on #22112
Hi @delyriand. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-02 09:41] magento-engcom-team commented on #22112
Hi @delyriand, here is your [Magento instance](https://i-22112-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22112-2-3-develop.instances.magento-community.engineering/admin](https://i-22112-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-02 09:42] dudzio12 commented on #22107
Query `SHOW OPEN TABLES WHERE `In_use` = 1 OR `Name_locked` = 1` returns me nothing before starting category `save` method, then it shows:
`url_rewrite as In_use`
and then lock timeout exception occurs.

I have empty Magento instance, so it's not efficiency issue and changing lock timeout does not help at all.

[2019-04-02 09:52] delyriand commented on #22112
I confirm that I reproduce the problem on 2.3-develop branch

[2019-04-02 09:55] dudzio12 commented on #22107
Everything works when script is initialized from CLI, and saving categories from admin panel works as expected.

I'm giving it up for now and downgrading to 2.3.0.

[2019-04-02 09:57] afavata commented on #22045
@Nazar65 Thanks for having assigned this issue... please note it is reproducible on 2.3.1 and 2.3-develop, as well.

[2019-04-02 10:10] huykon commented on #21718
I downloaded Magento version 2.3.1 and installed and It's working now 💃

[2019-04-02 11:04] CKENT0369 commented on #22101
I just went in and flushed all magento cache. Also flushed magento static files cache. It appears to be working now. Why woulding the upgrade from web setup wizard do this?

[2019-04-02 11:49] jameshalsall commented on #22006
any update on this? it seems like a pretty fundamental change that is not intended because it's not present in 2.3 branch

[2019-04-02 11:49] Zyles opened #22115 "Unable to upgrade 2.3.0 to 2.3.1"
Where is the up2date documentation on how to upgrade to 2.3.1?

I ran this (command line) step by step:
https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html

### Preconditions (*)

Magento 2.3.0
PHP 7.1

### Steps to reproduce (*)

1. `$ composer require magento/product-community-edition=2.3.1 --no-update`
2. `$  composer create-project --repository=https://repo.magento.com magent

[2019-04-02 11:53] Zyles commented on #22115
Nevermind, the error message was so long I didn't see there was a third party extension blocking the update.

[2019-04-02 11:53] #22115 closed, assigned to nobody

[2019-04-02 12:06] engcom-backlog-nazar commented on #22111
@thedustymagic  I'm Closing this as this was fixed in 2.3.1 release.

[2019-04-02 12:06] #22111 closed, assigned to nobody

[2019-04-02 12:16] orlangur commented on #10497
This could be related to environment configuration, for example https://www.php.net/manual/en/info.configuration.php#ini.max-input-vars

[2019-04-02 12:26] centerax commented on #4373
@Garusch 2.2.6 includes the fix. Otherwise, Magento can send you a patch if you open a ticket with them.

[2019-04-02 12:44] Zyles commented on #21916
Same problem.

[2019-04-02 12:50] birlasoftsandeep commented on #17112
I am also getting same issue while generating shipment label. Can anyone help please?
![New Shipment   Shipments   Operations   Sales   Magento Admin](https://user-images.githubusercontent.com/31765643/55403535-ab985d00-5573-11e9-88c7-4eda97052ef7.png)

[2019-04-02 13:23] vk-chts commented on #19550
Still facing same.
Please read the details shared by **ityetti** before commenting and providing fake solutions just to get yourself boost up in the community.
Try updating the version from 2.2.3/ 2.2.4 to 2.27 or higher.

There are some css- less variables which throw undefined errors.

[2019-04-02 14:17] Jitheesh commented on #22095
Issue replicated on 2.3 branch but looks like it is resolved on 2.3-develop branch.

This issue is because of a infinite loop while calculating special price of a bundled product.

Magento is looking for product Tier price and Special price for finding the final price of a product.
Check following functions to identify this infinite loop.

https://github.com/magento/magento2/blob/fd2771b2cf97a8acb

[2019-04-02 14:24] magento-engcom-team commented on #22112
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99015`, `MAGETWO-99016` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-02 14:31] lhall-adexos commented on #21973
Hi there,

We just ran into this issue and had to comment out the added line of code, which is ... not ideal. We are running a 2.3.1 Community Magento.

@engcom-backlog-nazar I don't see where it's been fixed, did I miss something ? I looked into 2.3-develop but it's untouched from what I can tell.

Thanks for your support.

[2019-04-02 14:36] jasonkcarter commented on #19872
Just adding my $0.02.  I can reproduce in PHP 7.2 on my local dev environment.  I also made a quick and dirty "fix" plugin that just adds '/pub' to the beginning of the `$filePath` param of any public methods of app/code/Magento/Model/Category/FileInfo.php if the param starts with '/' and doesn't already start with '/pub/'.  There's probably a better way to do it in the Magento codebase, with full

[2019-04-02 15:38] orlangur commented on #4247
Valid issues must not be closed even if author stopped working with Magento.

[2019-04-02 15:39] #21478 closed, assigned to Nazar65

[2019-04-02 16:26] rdeelstra commented on #19710
Thanks to @syno-bvo for the 'right' direction, below is code that worked for us. Although something weird happens with watermarks, the colors got inverted the first time it gets generated. The trick is to flush the images again after it has been generated.
Of course it's better to do a di.xml preference for this class
\Magento\Catalog\Block\Product\ImageBuilder and extend this class with overrulin

[2019-04-02 16:31] hostep commented on #21916
Interesting tidbit: if I copy the Elasticsearch6 module into a Magento 2.3.0 installation with the unpatched Amasty module, the same problem occurs. So this is no new bug in 2.3.1.

I also can confirm what @phoenix128 figured out, in that certain names of virtual types can not be used, if they end on for example `Mapper` or `Logger` or something like that. Then that last part gets stripped of. Thi

[2019-04-02 16:37] Ctucker9233 commented on #16050
@magento-engcom-team is there a backport for 2.2?

[2019-04-02 17:04] Ctucker9233 commented on #16580
I confirm what @chakravarthykalyan90 said. The fix was not included in 2.2.7 or 2.2.8

[2019-04-02 17:16] Ctucker9233 commented on #19172
@magento-engcom-team The fix was not included in 2.2.8.

[2019-04-02 17:33] marshallthornton opened #22119 "Shipping Methods Don't Load In IE11"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.2
3. IE11

### Steps to reproduce (*)

1. Add some items to the cart
2. Go to checkout
3. Enter in your address so that methods will load

### Expected result (*)

1. A list of shipping methods appear

### Actual result (*)

1. No methods load and the console shows the error: "SCRIPT438: Object doesn't support property or method 'entries'"

This err

[2019-04-02 17:51] timbot18 commented on #14881
has this been resolved?

i'm having the same issue. i tested 2.1.3 and it worked, upgraded to 2.2.1 and it stopped working. tried in fresh install of 2.3.1 and it is not working. even tried to export the csv, delete the product, and import the csv, but was still ignored.

[2019-04-02 17:52] Ctucker9233 commented on #18548
@engcom-backlog-tomash This issue was reported against 2.2. Is there a backport?

[2019-04-02 18:08] carolineboivin commented on #19710
Are you actually suggesting to create images on-demand when the generation does not work as expected ? Magento 1 was generating images on-demand when they did not exist, which was not very efficient. I believe solving the issue would be a better solution than stepping back into old ways to do things that were not efficient but easier.

[2019-04-02 18:26] csimby commented on #10697
Same problem at me too.

[2019-04-02 19:02] snoroozi commented on #5980
I'm chiming in on this. I see the same behavior.

[2019-04-02 19:23] justinharris1986 opened #22121 "When creating an order in the backend, the customer group always defaults to the default customer group even when overridden"
### Preconditions
1. Magento 2.2.8
2. PHP 7.1.27 (In our case - may or may not be a factor - we are running in php-fpm)
3. MariaDB 10.3.13-1.el7.centos (In our case - may or may not be a factor)
4. at least 2 customer groups
5. (Optional, but illustrates the issue better) A customer not in the "Default group" Located in Stores -> Configuration ->Customers -> Customer Configuration -> Create New Ac

[2019-04-02 19:23] justinharris1986 commented on #22121
@magento-engcom-team give me 2.2-develop instance

[2019-04-02 19:23] magento-engcom-team commented on #22121
Hi @justinharris1986. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-02 19:24] magento-engcom-team commented on #22121
Hi @justinharris1986, here is your [Magento instance](https://i-22121-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22121-2-2-develop.instances.magento-community.engineering/admin](https://i-22121-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-02 19:33] justinharris1986 commented on #22121
@magento-engcom-team  Yes I was able to reproduce it.

I forgot that magento had other customer groups, you *CANNOT* use any of the built on ones. You must create a new one.

When creating them in my store, I see the other customer groups as dropdowns. When creating them in your environment, I do not see them in the dropdowns.
This is when recreating in yours:
![image](https://user-images.githubus

[2019-04-02 19:39] justinharris1986 commented on #22121
I have found if you delete the default groups (ie delete wholesale) you still see it on the order screen, and when you try to select it, it errors out:
![image](https://user-images.githubusercontent.com/7268384/55431042-80a30e80-555d-11e9-9152-cc98d5e51584.png)

![image](https://user-images.githubusercontent.com/7268384/55431050-8993e000-555d-11e9-9067-ebef1d8f036a.png)

[2019-04-02 19:53] ACassiusD commented on #12494
Any progress on this?

[2019-04-02 20:22] Userr017 commented on #19710
**@rdeelstra**

Thanks. This fix all my image issues.

[2019-04-02 20:33] joni-jones commented on #21781
The CSRF token validation was added to the controller https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Paypal/Controller/Transparent/RequestSecureToken.php#L99, but it reduces vectors of attacks. To solve this issue, you need to install `magento/module-paypal-captcha` OR `magento/module-paypal-recaptcha` extension which provide Captcha mechanism for Payflow Pro payment form.

[2019-04-02 21:08] ADDISON74 commented on #11292
@Kalisch: Magento 2 Team should provide a solution not me. I gave up Magento 2 which in my opinion is far away from Magento 1 in many aspects. I reported this issue because in Magento 1 is working out of the box (RWD theme). End of story.

You mentioned it is a bad layout and UX to have a shopping cart sidebar visible in cart page. Please let me know how many online stores do you know which are hi

[2019-04-02 21:13] a7medeeuae opened #22122 "2.3.1 admin blank page on godaddy hostting"
hi

have problem with magento 2.3.1

the admin page not working is showing

 blank page on godaddy hostting

[2019-04-02 21:36] nthink commented on #15147
We are still experiencing this issue in Magento 2.3.1, using the new Authorize.Net module with all the same Preconditions, Steps to Reproduce, Expected and Actual Results as above.

[2019-04-02 21:48] Adel-Magebinary commented on #16171
Try this. I delete generated code and recompile with ./bin/magento setup:di:compile fixed issues.
`rm -rf generated`

[2019-04-02 21:59] leoquijano commented on #16171
Don't remove the ```generated``` directory directly, as that will wipe out its ```.htaccess``` file. That opens security hazard in Apache-hosted websites.

To remove generated files, use the approach recommended by the [dev docs](https://devdocs.magento.com/guides/v2.3/howdoi/php/php_clear-dirs.html):

[code]

Note it removes the _contents_ of the ```metadata``` and ```code``` directories, not the

[2019-04-02 22:01] Adel-Magebinary commented on #16171
Thanks for the tips.

have been nginx fan at all time :)

[2019-04-02 22:11] leoquijano commented on #16171
You're welcome. I think it's still a good idea to keep the ```.htaccess``` files intact, because you never know if and when a website could be switched over to an Apache server down the line.

[2019-04-03 00:09] orlangur commented on #22100
Checkout works just fine if you setup Magento properly: https://devdocs.magento.com/guides/v2.0/config-guide/prod/prod_perf-optimize.html

[2019-04-03 00:09] #22100 closed, assigned to nobody

[2019-04-03 00:22] venglar commented on #19710
@rdeelstra's solution is a great temporary fix for the front-end, as long as images are being loaded through the ListProduct block.

For instance, the following will correctly generate a cache image with a working hash, with fallback to the placeholder image if it doesn't exist:

    $id = 7; //or whatever
    $product = $productModel->load($id);
    $b = $this->getLayout()->createBlock('Magento\C

[2019-04-03 00:56] snoroozi commented on #22100
@orlangur agree to disagree

[2019-04-03 00:56] snoroozi commented on #22100
I suppose if 'just fine' is your goal.

[2019-04-03 01:06] hiteshvaghasiya83 commented on #22122
Hello @a7medeeuae.
This is not issues of Magento,

Please check your server configuration and check proper permission of file and folders.

Please check server configuration using the below script.
https://github.com/sjanjic/magento2-check/blob/master/index.php

for the file and folder permissions please check
https://magento.stackexchange.com/questions/91870/magento-2-folder-file-permissions

[2019-04-03 04:57] ChintanKaneriya commented on #13720
@robbertstevens  Is this solution is safe to implement? Will it effect other data in admin?

[2019-04-03 05:02] erfanimani commented on #11692
This is still annoying me..

### Preconditions

- Magento 2.3.1
- Varnish 4
- Run Magento out of pub (web root being `pub` — the proper way to run PHP apps)

### Steps to reproduce

- Click Export VCL for Varnish 4

### Expected result

- Nothing breaks

### Actual result

- Website down because health check URLs have `pub` in them for whatever reason

Specifically the following lines:

Line 12: `

[2019-04-03 05:07] goutamfulcrum commented on #13690
I have upgraded the magento version from 2.2.5 to 2.2.8 and in 2.2.5 persistent shopping cart was disable so in 2.2.5 my custom code of storing some dynamic data(data source was some url) in LocalStorage with help of sections.xml was working good but it is not working with 2.2.8 but in 2.2.8 it works with logged-in user.

What can be the possible solution.

[2019-04-03 05:23] nagabushan13 commented on #5340
we are getting the same error in Magento 2.7 can anyone help

[2019-04-03 06:16] engcom-backlog-nazar commented on #22122
Hi @a7medeeuae
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-03 06:16] #22122 closed, assigned to nobody

[2019-04-03 06:28] engcom-backlog-nazar commented on #19172
Hi @Ctucker9233 this issue has ben fixed by another commit, please always retest issue if you want to reopen ticket, thanks for collaborationhttps://github.com/Nazar65/magento2/commit/d3a7b4007a9db4ac0a8b267f42540dd569b41461

[2019-04-03 06:28] #19172 closed, assigned to nobody

[2019-04-03 07:20] romanrabotaet commented on #7557
Fix is wrong in 2.2.8.

[2019-04-03 07:23] romanrabotaet commented on #7557
Fix is in 2.2.8.
code in 2.2.8
    protected function _callbackSecretKey($match)
    {
        $routeId = $this->routeConfig->getRouteByFrontName($match[1]);
        return \Magento\Backend\Model\UrlInterface::SECRET_KEY_PARAM_NAME . '/' . $this->_url->getSecretKey(
            $routeId,
            $match[2],
            $match[3]
        );
    }

code in 2.2.3
    protected function _callbackSe

[2019-04-03 07:46] rogyar commented on #21708
As I said before. It's a good idea to show a success/failure message in case if something non-obvious is happening. For example, adding a product to the shopping cart, etc. In this case, you can see that the item has been removed on the main screen (as on the shopping cart/mini cart page).
So, we should avoid excessive notifications to keep the UI/UX simple.

[2019-04-03 07:46] #21708 closed, assigned to mageprince, krishprakash

[2019-04-03 07:46] akosglue commented on #21916
I got the same error on 2.3.1.
`Catalog Search indexer process unknown error:
Source class "\Magento\Elasticsearch6\Model\Adapter\FieldMapper\ProductField" for "Magento\Elasticsearch6\Model\Adapter\FieldMapper\ProductFieldMapper" generation does not exist.`
After disabling all Amasty extensions the error disappeared.

[2019-04-03 07:50] nussjustin opened #22124 "Magento 2.3.1: Catalog setup fails with error "Magento\Catalog\Setup\Media does not exist""
### Preconditions
1. magento/product-enterprise-edition 2.3.0
2. PHP 7.2

Exact PHP version:

[code]

### Steps to reproduce
1. Update from magento/product-enterprise-edition 2.3.0 to 2.3.1
2. Run `bin/magento setup:upgrade`

### Expected result
1. No errors, normal output

### Actual result
1. Error `Class Magento\Catalog\Setup\Media does not exist` when running `Data install/update` for `Magento

[2019-04-03 08:01] tuyennn commented on #9073
I'm working on a Persian language project and have same issue experience.
Magento 2.2.7 #10860

[2019-04-03 08:02] hostep commented on #22124
Nice find @nussjustin! Issue seems to have been introduced in https://github.com/magento/magento2/commit/dcd8b323950b924db07ba7b37898a9c3a8b0f2fd#diff-7b8ac6c93b8d79968c8d4d8237621404L587

Would you be willing to create a Pull Request with a fix for this?

[2019-04-03 08:16] ghost opened #22125 "Catalog Price Rule not working"
### Preconditions (*)

1.Magento2.3.1
Git 2.19.1
Apache 2.4.38
ImageMagick 6.9.8
lego 2.3.0
Memcached 1.5.12
MySQL 5.7.25
OpenSSL 1.0.2r
PHP 7.1.27
phpMyAdmin 4.8.5
SQLite 3.27.2
Varnish 4.1.0

### Steps to reproduce (*)

1.20% discount for VIP group
2.

### Expected result (*)

1. discount per group
2.

### Actual result (*)

1. discount not applied
2.

[2019-04-03 08:34] codazon commented on #22045
Hi, We have same issue with default luma theme on magento 2.3.1. "Display on Product Details Page" value change to "No" but nothing happen https://prnt.sc/n6sqwb, https://prnt.sc/n6srlx

[2019-04-03 09:15] jhruehl opened #22127 "Magento 2.3.0: getSize call on configurable collection leads to exception, if no product filters are applied"
### Preconditions (*)
1. Magento 2.3.0
2. NewRelic module enabled (and configured)
(you can cheat around enabling the module, if set the newrelic enabled setting to true in the core_config_table and flush the cache afterwards)

### Steps to reproduce (*)
1. Run magento_newrelicreporting_cron cron job

### Expected result (*)
1. magento_newrelicreporting_cron cron job successful

### Actual result

[2019-04-03 09:16] gwharton commented on #16580
Yes, I see. Its been like this for ages. I have no idea, and my only suggestion is that github has messed up in some way and has allowed multiple commits on the same code to override each other without resolving conflicts.

Look at the history for this file in 2.2-develop. This fix is not there. There was however an alternative fix on 19th July 2018 by the looks of it.

I can find all sorts of com

[2019-04-03 09:19] nussjustin commented on #22124
After looking at it again, I'm not sure what the correct fix would be. In Magento 2.2 there was some kind of mapping in the di.xml

https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/etc/di.xml#L692-L703

This was removed in 2.3.1 at it seems, so just using `Magento\Catalog\Model\Product\Attribute\Backend\Media` does not work anymore.

[2019-04-03 09:20] Maaggel commented on #22094
I'm experiencing the same issue - and I'm already using MySQL search.
When will 2.3.2 be out? And is it possible to have a patch with this fix?

[2019-04-03 09:20] jhruehl commented on #22127
Sadly the insert-code functionality here doesn't do what I wanted or does strange stuff, but I think it should be still clear.

[2019-04-03 09:22] renttek commented on #22124
maybe the author of the mentioned commit has an answer for this, @rganin ?

[2019-04-03 09:23] jhruehl commented on #22127
Sorry. Don't have the time to reproduce in vanilla, but a developer, who looks at the currently given code, should see the problem with it anyway. Basically it is impossible to reproduce in vanilla, if no newrelic account is set up for it, except cheating around the enabling by manipulating the enabled-value in the core_config_table.

[2019-04-03 09:42] orlangur commented on #22127
@jhruehl this is just a bot :) Could you create a PR via GitHub UI maybe? Fix seems to be pretty trivial.

[2019-04-03 09:44] orlangur commented on #22124
This functionality does not seem to be a part of Magento Open Source, isn't it?

In such case

GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2019-04-03 09:47] birlasoftsandeep commented on #17112
Thanks @magento-engcom-team

I have resolved my issues, actually, there is no issue,
Just verify all credentials using API Key, Username, Password, etc, this issue is related to user authentication before generating shipment label,

Also please verify your shipment weight measurement, in my case, I was trying to put lbs but it's not supported by my origin country.

Thanks,
Sandeep

[2019-04-03 09:48] orlangur commented on #11266
@dknzdesign,

Not, it shouldn't and it was implemented this way intentionally so that merchant has full control over SEO (unlike in Magento 1 where URL Key could change during reindexing and impact SEO).

[2019-04-03 09:50] orlangur commented on #20998
Ping @kandy :)

[2019-04-03 10:00] renttek commented on #22124
he may have used the enterprise, but the error is in Magento_Catalog, which is in Open Source

[2019-04-03 10:01] jhruehl commented on #22127
Sadly gitHub doesn't create my patch-branch despite stating so on the pull request creation (or giving me the option). So comitting it fails due to a non existing patch branch, which should be created automatically beforehand.

[2019-04-03 10:09] orlangur commented on #22124
@renttek it does not matter, it's quite a frequent situation that enterprise issues require fixes in community modules.

This issue can be reopened if it is reproducible on a Magento Open Source. Otherwise it just cannot be reproduced and fixed by Community members.

[2019-04-03 10:17] renttek commented on #22124
I can understand this reasoning, but this is literally a basic 'could be catched by an IDE' php coding error, in a an OS module, introduced by @rganin withint commit dcd8b323950b924db07ba7b37898a9c3a8b0f2fd (Which references "MAGETWO-87551")

@nussjustin maybe you should just open another issue with the CE m(

[2019-04-03 10:23] orlangur commented on #22124
@renttek man, do you hear me? :) There is no need to open another one.

@nussjustin @hostep @renttek could please anyone confirm it is reproducible on Magento Open Source? I really doubt this wasn't tested prior to release but reopening in advance.

[2019-04-03 10:29] LordHansolo opened #22129 ""Estimate Shipping and Tax" data is cleared after click button "Update Shopping Cart""
### Preconditions
1. Magento 2.2.7

### Steps to reproduce
1. Add any product to cart as not logged in customer.
2. Go to "checkout/cart/".
3. Click button "Update Shopping Cart".
![update_shopping_cart](https://user-images.githubusercontent.com/22025597/55472351-2d3bc980-560c-11e9-9520-d5f3bbd056c2.png)

### Expected result
1. Address data in "Estimate Shipping and Tax" persist same like after re

[2019-04-03 10:36] jayankaghosh commented on #20125
@magento-engcom-team give me 2.3-develop instance

[2019-04-03 10:36] magento-engcom-team commented on #20125
Hi @jayankaghosh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-03 10:36] magento-engcom-team commented on #20125
Hi @jayankaghosh, here is your [Magento instance](https://i-20125-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20125-2-3-develop.instances.magento-community.engineering/admin](https://i-20125-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-03 10:38] jayankaghosh commented on #20125
@magento-engcom-team give me 2.3-develop instance

[2019-04-03 10:38] magento-engcom-team commented on #20125
Hi @jayankaghosh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-03 10:38] jayankaghosh commented on #20125
@magento-engcom-team give me 2.3-develop instance

[2019-04-03 10:38] magento-engcom-team commented on #20125
Hi @jayankaghosh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-03 10:39] magento-engcom-team commented on #20125
Hi @jayankaghosh, here is your [Magento instance](https://i-20125-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20125-2-3-develop.instances.magento-community.engineering/admin](https://i-20125-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-03 10:43] EChandresh opened #22130 "Issue With Minimum Order Amount including Tax"
### Preconditions (*)

1. Magento 2.1, 2.2, 2.3
2. I have set minimum order amount is 97 and Include tax to amount to Yes. On the cart page product price 90 and tax is 7.54. it's obviously greater than $97. Although Proceed to Checkout is disabled.

### Steps to reproduce (*)

1. Set Minimum order amount and Include tax to amount Yes
2. Add product to cart which amount is less than Minimum Order A

[2019-04-03 10:46] engcom-backlog-nazar commented on #22125
Hi @Fitdiva  thank you for you report, i'm not able to reproduce following steps you described.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-03 10:46] #22125 closed, assigned to nobody

[2019-04-03 10:47] SergZen commented on #21978
The problem exists when `$move` was `true`.

It moves file from $file to $destinationFile and $file after than not exist:
$this->mediaDirectory->renameFile($file, $destinationFile);

After then we try to get wrong old file location because `$file` was removed and not exist this moment:
$absoluteFilePath = $this->mediaDirectory->getAbsolutePath($file);

We have wrong $absoluteFilePath for call this

[2019-04-03 10:47] williankeller commented on #22090
@engcom-backlog-nazar
I'm using with a Vanilla version, there are no custom modules. However, it is an Enterprise edition. But I created the issue to get more users reporting the same issue. I've also opened an issue into the EE support.
Thanks

[2019-04-03 10:57] sumeetmobiwebtech commented on #4737
Warning: DOMXPath::query(): Invalid expression in /var/www/html/xxx/xxx/vendor/magento/framework/Config/Dom.php on line 277

Getting this error when send email to customer programatically.
I tried this -
"pelago/emogrifier": "dev-master as 0.1.1"
"pelago/emogrifier": "2.0.0 as 1.2.0"
pelago/emogrifier is v2.0.0

But nothing work
please anyone here, i need help

[2019-04-03 11:06] maddumarala commented on #22130
@m2-assistant give me 2.3-develop instance

[2019-04-03 11:43] lexiconnect commented on #22068
Just encountered this issue and while the comment from @ernesthernandez fixes the problem for the site I am developing, I wonder if there should now be a way of calculating how many tabs there are.  What if we install a third party extension and they do not know we have custom tabs on the site?  It appears that this will just overwrite the custom tab if the same sort_order value is set.

[2019-04-03 12:04] engcom-backlog-nazar commented on #22129
Hi @LordHansolo thank you for you report, this issue has already fixed in 2.2.-develop branch and available on 2.2.8 release

[2019-04-03 12:12] riconeitzel commented on #19544
it's still an issue in 2.3.x — we confirmed it in one of the core principles of theming in magento trainings.

[2019-04-03 12:12] lduivenvoorde commented on #19544
For me, this comment solved the problem. Thanks!!!

[2019-04-03 12:25] orlangur commented on #19842
Reopening on the ground of @johnny-longneck to check whether it exists in `2.3.x`.

[2019-04-03 12:25] hostep commented on #22124
@nussjustin: thanks for pointing out that `Magento\Catalog\Model\Product\Attribute\Backend\Media` actually doesn't even exist, hadn't seen that yet. It was removed 6 years ago in https://github.com/magento/magento2/commit/0849373d7636cfa17b70b8188bfc36d13ae749c1
Regarding the mapping, I don't think this is relevant here.

If I take a look at the database, in the table `eav_attribute`, the column `

[2019-04-03 12:29] dudzio12 commented on #21978
@SergZen - I've fixed it in #22020

[2019-04-03 12:29] Userr017 opened #22134 "Paypal buttons disable issue - Magento 2.3.1"
Paypal buttons on the product page cannot be disabled.

### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.2

### Steps to reproduce (*)

1. Paypal backend settings
2. Display on Product Details Page "NO"
3. Product page

### Expected result (*)

1. Paypal backend settings is Display on Product Details Page "NO"
2. Product page is disabled paypal buttons.

![paypal_settings](https://user-images.gith

[2019-04-03 12:33] orlangur commented on #22124
Agree on that, @nussjustin for the reproduction would be nice if you figure out what causes a problem in one of Magento Commerce modules, maybe provide an isolated case as a small module just for revealing issue.

[2019-04-03 12:48] kinjal153mehta commented on #7654
hi this solution is not worked form me i still get the same error can you please suggest me ?

[2019-04-03 12:56] LiamKarlMitchell commented on #21299
Have a production mode 2.3 site with Nginx that sometimes serves homepage as a 404 think this might be why. Suspect head requests sent by a "down notifier" service and then the 404 is cached and served up by full page cache.

[2019-04-03 13:23] engcom-backlog-nazar commented on #22134
HI @Userr017 thank you for you report, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/22045

[2019-04-03 13:23] #22134 closed, assigned to nobody

[2019-04-03 13:47] richardgrey-netxtra commented on #7557
Had this issue after upgrading to 2.2.8. Caused problems if the admin/startup/menu_item_id is set to redirect to a specific page after login, I was unable to access any of the adminhtml routes and was redirected back to the page defined in admin/startup/menu_item_id.

[2019-04-03 13:49] nussjustin commented on #22124
I'm currently unable to reproduce with a fresh Magento 2 (with sample data, both when installing 2.3.1 directly and when upgrading from 2.3.0 to 2.3.1) both CE and EE, but consistently with a copy of one of our customers M2 EE installations.

This problem is currently preventing us from upgrading one of our customers sites from 2.3.0 EE to 2.3.1 EE.

[2019-04-03 13:55] danielgoodwin97 opened #22136 "Search auto-complete can be vandalised"
### Preconditions (*)
1. Magento 2.2+ (Haven't tested on any lower)
2. Any Magento install which uses the auto-complete function

### Steps to reproduce (*)
1. Create any product.
2. Search for the product name and append anything after a '?' (ex. simple?thisisatest).
3. As long as products come up you've succeeded (products must show up in search).
4. Go back to homepage or anywhere where you can

[2019-04-03 14:02] orlangur commented on #22100
@snoroozi works perfectly I mean. And in any case such observation is not a valid bug report, it could be placed in https://github.com/magento/community-features but should contain some not so vague metrics.

[2019-04-03 14:05] orlangur commented on #22124
@nussjustin probably this is not true for this one customer?

As a workaround just create a dummy `app/code/Magento/Catalog/Model/Product/Attribute/Backend/Media.php` class and surely it would be nice to create a pull request for `2.3-develop` which eliminates referring nonexistent class.

[2019-04-03 14:07] snoroozi commented on #22100
@orlangur no metric is needed to see that there are too many loaders. Take a poll.

[2019-04-03 14:09] danielgoodwin97 commented on #22136
@magento-engcom-team give me 2.3-develop instance

[2019-04-03 14:09] magento-engcom-team commented on #22136
Hi @danielgoodwin97. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-03 14:10] magento-engcom-team commented on #22136
Hi @danielgoodwin97, here is your [Magento instance](https://i-22136-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22136-2-3-develop.instances.magento-community.engineering/admin](https://i-22136-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-03 14:11] akimo opened #22137 "Quantity change of Cart-Item clears Cart"
### Preconditions (*)

1. Magento Version 2.3.1
2. PHP 7.2

Upgraded from 2.3.0 - version without this issue

### Steps to reproduce (*)
1. Put something in the cart
2. go to cart page
3. change the Quantity of a Cart Item
4. Press "Return" Key

This is reproducible, also when removing client storage and cookies. As Guest or Logged in Customer.

### Expected result (*)

The cart-page should be rel

[2019-04-03 14:13] danielgoodwin97 commented on #22136
I've reproduced the issue using the above instance with a product named 'simple'

[2019-04-03 14:17] akimo commented on #22137
@magento-engcom-team give me 2.3.1 instance

[2019-04-03 14:17] magento-engcom-team commented on #22137
Hi @akimo. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-04-03 14:18] magento-engcom-team commented on #22137
Hi @akimo, here is your [Magento instance](https://i-22137-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22137-2-3-1.instances.magento-community.engineering/admin](https://i-22137-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-03 14:20] orlangur commented on #22136
This affects any other customer visiting store?

Please provide more details on expected result. What's so special about question mark? Could some other symbols cause issues?

[2019-04-03 14:23] danielgoodwin97 commented on #22136
@orlangur There's nothing special about the question mark, it's just what I had found it with. You can use any symbol, or even a space.

I'd imagine that the expected result wouldn't be to show anything which has completely unrelated text after the product name.

And yes, this is visible to every customer, not just the person who searched it.

[2019-04-03 14:25] akimo commented on #22137
@magento-engcom-team Yes, i can confirm that the bug is reproducible on the vanilla Magento instance

[2019-04-03 14:29] orlangur commented on #22136
I see, search is just treated as "simple test2" and there is nothing wrong with it.

In a real store there will be other more frequent queries.

And how can we determine "completely unrelated text"?

[2019-04-03 14:33] danielgoodwin97 commented on #22136
Well, you could put literally anything you wanted there. Which means people could put something vulgar and it would show up to every customer on your website. Like this:
![Screenshot 2019-04-03 at 15 32 19](https://user-images.githubusercontent.com/25493846/55487310-c5927800-5625-11e9-93c7-c2593b640e0d.png)

[2019-04-03 14:39] orlangur commented on #22136
@danielgoodwin97 thanks for the use case, could be really influencing other customers. However, to avoid this some kind of censorship needs to be implemented so this sounds more like a feature request to me.

[2019-04-03 14:44] danielgoodwin97 commented on #22136
I'm not sure that this could be classed as a feature, but I can see why this wouldn't be seen as a bug. However, you can deface live sites with this right now.
I think that it should only really show the name of the product, not what people have searched. I think you're asking for trouble by showing user inputted search terms.

[2019-04-03 14:57] FrancYescO commented on #12844
@djixas have you fixed? i'm having same error on 2.3.1

[2019-04-03 15:00] akimo commented on #22137
Reason: The "return" key invokes the submit action of the Form. The "submit" action is bound to the Button "Clear Shopping Cart".

[2019-04-03 15:18] koopjesboom commented on #18134
Same issue here, magento 2.3.1

Notice: Undefined index: manufacturer_bucket in /home/myserver/public_html/vendor/magento/module-elasticsearch/SearchAdapter/Aggregation/Builder/Term.php on line 23

[2019-04-03 15:24] Panda-Mathieu commented on #7199
Any new on this ?

[2019-04-03 15:41] hostep commented on #18134
@koopjesboom: can you please open a new issue with exact steps to reproduce? Because what you are experiencing has nothing to do with this issue, it's best to have one issue focus on one bug, thanks! :)
(your problem might be related to https://github.com/magento/magento2/issues/18802, if that is the case, you can follow what's happening over there)

[2019-04-03 15:45] teokolo commented on #6151
Bug still present in Magento 2.1.17.

Here is the error log:
[code]

[2019-04-03 16:04] navarr commented on #19034
@sidolov This issue is not fixed in 2.3.1.  The issue's contents describe the same cause of #19040 but the underlying problem still exists.

[2019-04-03 16:05] orlangur commented on #7199
I would like to get some kind of an answer as well.

@veloraven could you please add some more details?

[2019-04-03 16:06] navarr commented on #19034
@svitja: You committed 6fa1f22862c1620fd6235314d3792ff4ef867650 which is what resulted in this change of functionality.

Is there any reason you performed this change only for guest checkout?

[2019-04-03 16:12] nickpiro commented on #19716
This is still an issue in 2.2.8. We just upgraded from 2.2.5 to 2.2.8 on our live site and now Manufacturer is missing!

[2019-04-03 16:13] nickpiro commented on #18134
We had manufacturer enabled in 2.2.5 and just upgraded to 2.2.8 and we no longer have Manufacturer visible anywhere in product grid or product edit page.

[2019-04-03 16:18] kandy commented on #20998
@orlangur this issue certainly make sense

[2019-04-03 16:18] nickpiro opened #22141 "Manufacturer Attribute Missing after upgrade from 2.2.5 to 2.2.8"
I noticed this issue when we upgraded our development site to 2.2.6, we ended up not upgrading the site from 2.2.5 because there were so many issues with 2.2.6. Figured they were resolved by 2.2.8 and needed to upgrade based on Security Updates recently. Now we're losing SO much functionality, yet again. Not sure how it's possible for so many things to change in small version updates.

### Precond

[2019-04-03 16:19] hostep commented on #19716
@nickpiro: can you check your database and make sure the `apply_to` value for the `manufacturer` attribute in the `catalog_eav_attribute` table is set to `simple,configurable` (or all the product types you want it to be visible on)? If I have to guess it's probably set to something incorrect in your case.
You can find the `attribute_id` of the `manufacturer` attribute in the `eav_attribute` table

[2019-04-03 16:20] nickpiro commented on #22141
@magento-engcom-team give me 2.2.8 instance

[2019-04-03 16:20] magento-engcom-team commented on #22141
Hi @nickpiro. Thank you for your request. I'm working on Magento 2.2.8 instance for you

[2019-04-03 16:21] magento-engcom-team commented on #22141
Hi @nickpiro, here is your [Magento instance](https://i-22141-2-2-8.instances.magento-community.engineering).
Admin access: [https://i-22141-2-2-8.instances.magento-community.engineering/admin](https://i-22141-2-2-8.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-03 16:25] magento-engcom-team commented on #18754
Hi @albsa. Thank you for your report.
The issue has been fixed in magento/magento2#21944 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [7d81b55eb5fd9b170dc6c6c0f60fd9bf4d12274e](https://github.com/magento/magento2/commit/7d81b55eb5fd9b170dc6c6c0f60fd9bf4d12274e)
 - [0cea56222c7c1ba0c361de223a1daf42c2e63fc6](https://github.com/magento/magento2/commit/0cea56222c7c1ba0c361de223a1daf42c2e63

[2019-04-03 16:25] magento-engcom-team commented on #21281
Hi @rav-redchamps. Thank you for your report.
The issue has been fixed in magento/magento2#21944 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [7d81b55eb5fd9b170dc6c6c0f60fd9bf4d12274e](https://github.com/magento/magento2/commit/7d81b55eb5fd9b170dc6c6c0f60fd9bf4d12274e)
 - [0cea56222c7c1ba0c361de223a1daf42c2e63fc6](https://github.com/magento/magento2/commit/0cea56222c7c1ba0c361de223a1da

[2019-04-03 16:25] magento-engcom-team commented on #21521
Hi @robyerevan. Thank you for your report.
The issue has been fixed in magento/magento2#21535 by @tuyennn in 2.2-develop branch
Related commit(s):
 - [d935998b6f70c9f5943b817511b0b8576366cb55](https://github.com/magento/magento2/commit/d935998b6f70c9f5943b817511b0b8576366cb55)
 - [fb2d35484179f95c908de86cb4ac17f5dca228ae](https://github.com/magento/magento2/commit/fb2d35484179f95c908de86cb4ac17f5d

[2019-04-03 16:30] nickpiro commented on #22141
@magento-engcom-team give me 2.2.5 instance

[2019-04-03 16:30] magento-engcom-team commented on #22141
Hi @nickpiro. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-04-03 16:32] nickpiro commented on #22141
I was not able to reproduce this on a vanilla Magento 2.2.8, which leads to believe it has something to do with the upgrade. Again, I noticed this with upgrading from 2.2.5 - 2.2.6.

On our site, we have a "**Group**" called "**Attributes**" on the Attribute Sets. This is where we place "**Manufacturer**" attribute. I moved the Manufacturer Attribute to the General Group to see if that changed/res

[2019-04-03 16:33] leabaertschi opened #22142 "Can not import table rates when condition is set in the global scope"
### Preconditions (*)

1. Magento 2.3.1, the system was upgraded from Magento 2.2.6
2. PHP 7.2.10
3. MySQL 5.7.23
4. Mac OS 10.14.3
5. Apache 2.2.34
6. The application config is dumped to `app/etc/config.php`

### Steps to reproduce (*)

1. Activate tablerate shipping method
2. Set condition to 'Weight vs. Destination' in the global scope and save
3. Change to the website scope of the configuratio

[2019-04-03 16:38] leahaense commented on #22142
@magento-engcom-team give me 2.3.1 instance

[2019-04-03 16:38] magento-engcom-team commented on #22142
Hi @leahaense. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-04-03 16:39] magento-engcom-team commented on #22142
Hi @leahaense, here is your [Magento instance](https://i-22142-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22142-2-3-1.instances.magento-community.engineering/admin](https://i-22142-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-03 16:43] leahaense commented on #22142
The issue is not reproducible on a vanilla Magento instance.

[2019-04-03 17:00] orlangur commented on #20998
Ok, just in case this is a regression of problem which was already fixed you may be aware of some details.

[2019-04-03 17:01] MichaelThessel commented on #19440
Looks like older versions of MySQL (<5.7) don't support `RENAME INDEX`. Dropping the indexes and running `setup:upgrade` does the trick as well.

[code]

[2019-04-03 17:02] mikelevy300 opened #22143 "Varnish health check failing due to presence of id_prefix in env.php"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.2.16
3. Centos 7.6.1810
4. Apache 2.4.6
5. MySQL 5.7.23

### Steps to reproduce (*)

1. Install a fresh copy of Magento 2.3.1
2. Configure the frontend cache to use Redis
3. Export varnish.vcl from admin panel and configure Varnish to sit in front of Apache per instructions at https://devdocs.magento.com/guides/v2.3/config-guide/varnish/config-varni

[2019-04-03 17:06] nickpiro commented on #22141
I just did some testing, with Magento 2.2.8, the apply_to column for the manufacturer attribute in the catalog_eav_attribute table in the database only has the value configurable with a , in front as if everything before was deleted..

Before upgrading to Magento 2.2.8, the apply_to value was simple,virtual,bundle,downloadable,configurable

I was able to fix this manually by going into the databas