[2019-01-11 07:48] engcom-backlog-nazar commented on #20194
Hi @rohitkrjaiswal
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-11 07:48] #20194 closed, assigned to nobody

[2019-01-11 07:54] vk44295 commented on #20197
What i have to do if not showing in my website.
http://xklusively.com/demo/

[2019-01-11 07:55] engcom-backlog-nazar commented on #20197
Hi @vk44295 thank you for you report, i;m not able to reproduce following steps you described, this may be related to your custom module.

[2019-01-11 07:55] #20197 closed, assigned to nobody

[2019-01-11 07:59] vk44295 commented on #20197
I have just install the theme and getting issue i didnt  create any custom module till  today.
Can you please check what exact issue. if you should admin credentials i will share the same.

[2019-01-11 08:20] vetshopdeveloper commented on #5715
Still an issue in 2.2.7

[2019-01-11 08:54] yashwant2jcommerce opened #20202 "On listing page filter tabs looks open on page load"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. Goto listing page and refresh the same page. When same page get loading filters of listing page remains open once page get loaded those filters shown  collapsed on listing page.

### Expected result (*)

1.  Filter needs to showing collapsed on listing page while page gets load
![filter-option-expected](https://user-images.githubuserc

[2019-01-11 08:54] magento-engcom-team commented on #20202
Hi @yashwant2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-01-11 08:56] magento-engcom-team commented on #20202
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-11 08:59] engcom-backlog-nazar commented on #20202
Hi @yashwant2jcommerce thank you for you report, this is expected behavior , this is non issue.

[2019-01-11 08:59] #20202 closed, assigned to yashwant2jcommerce

[2019-01-11 09:09] ihor-sviziev commented on #15156
Issue already fixed in 2.2.7 release.
Related commits:
- https://github.com/magento/magento2/commit/ebbdf7d8a3764409583ed9802533ce4cb06abb55

[2019-01-11 09:20] mohammadzakir opened #20203 "Responsive design issue of next page button on category page"
### Preconditions (*)

1. Magento 2.3.0 with sample data
2. Php Version 7.2
3. open frontend on mobile view 360 X 640

### Steps to reproduce (*)

1. Go to frontend
2. Select category Gear->bag
3. See button for next page
4. The button is not responsive

### Expected result (*)

1. The page should be responsive

### Actual result (*)

1. Button for next page is not responsive and it is shifted tow

[2019-01-11 09:20] magento-engcom-team commented on #20203
Hi @mohammadzakir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-11 09:21] magento-engcom-team commented on #20203
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-11 09:22] magento-engcom-team commented on #20203
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-11 09:26] #20203 closed, assigned to GovindaSharma

[2019-01-11 09:27] tuyennn opened #20205 "Boolean Product attribute filter No doesn't affect and No result response from Product Grid"
As I create a product attribute with source as boolean, basically all my products will not have this attribute value yet, but using this from product grid when filter No -> This return No result available.

### Preconditions (*)

1. Magento 2.2.8 (2.2-develop)
2. PHP 7.0
3. MariaDB 10.0.36

### Steps to reproduce (*)

1. Create a boolean product attribute **posted_to_instagram**

[code]

2. Try to

[2019-01-11 09:45] irajneeshgupta commented on #20205
@tuyennn
`'filterable' => false,` why you have set filterable false. It should be true while creation of attribute.

[2019-01-11 09:45] engcom-backlog-nazar commented on #20205
Hi @tuyennn thank you for you report, this is acknowladged issue, please look -> https://github.com/magento/magento2/issues/16367

[2019-01-11 09:45] #20205 closed, assigned to nobody

[2019-01-11 09:52] tuyennn commented on #20205
@engcom-backlog-nazar Thanks for your report, glad to see this but seem no one has activity with ref issue.

[2019-01-11 09:53] engcom-backlog-nazar commented on #20205
@tuyennn seems like this very difficult to fix.

[2019-01-11 09:53] magento-engcom-team commented on #16367
Hi @irajneeshgupta. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-11 09:58] schmengler opened #20209 "errors/local.xml and error page templates are publicly accessible"
### Preconditions (*)

All current Magento 2 versions:
1. 2.3.0
2. 2.2.7
3. 2.1.16

Using default apache or nginx configuration with `pub` as doc root

### Steps to reproduce (*)

For PHTML files:
1. Point browser to /errors/default/page.phtml

For local.xml:
1. Copy pub/errors/local.xml.sample to pub/errors/local.xml
2. Point browser to /errors/local.xml

### Expected result (*)

1. A "not found"

[2019-01-11 09:58] magento-engcom-team commented on #20209
Hi @schmengler. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-11 09:59] Jeeva-Rathinam commented on #7917
Any one found solution?

[2019-01-11 09:59] magento-engcom-team commented on #20209
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-11 10:00] schmengler commented on #20209
@magento-engcom-team give me 2.3.0 instance

[2019-01-11 10:01] magento-engcom-team commented on #20209
Hi @schmengler. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-11 10:01] magento-engcom-team commented on #20209
Hi @schmengler, here is your [Magento instance](https://i-20209-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20209-2-3-0.instances.magento-community.engineering/admin](https://i-20209-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-11 10:02] engcom-backlog-nazar commented on #20209
hi @schmengler did you configure docroot to pub ?

[2019-01-11 10:07] schmengler commented on #20209
@engcom-backlog-nazar yes, I should have mentioned it, sorry.

In the instance above it seems not to be the case, but I can access for example: https://i-20209-2-3-0.instances.magento-community.engineering/pub/errors/local.xml.sample

local.xml does not exist on vanilla instance and PHTML files seem to be parsed as PHP, so for example https://i-20209-2-3-0.instances.magento-community.engineering/p

[2019-01-11 10:18] magento-engcom-team commented on #6382
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-11 10:19] ghoshsweta opened #20210 "Hamburger Icon was available on a page where menu was not present. Issue in responsive view"
### Preconditions (*)

1.Magento version 2.3.0
2.php version 7.2

### Steps to reproduce (*)

1)Login to Customer Panel
2)Place Order for any product
3)Create invoice and shipment for this order from the backend
4)Repeat step 1
5)Open the browser in mobile responsive
6)Go to my account->my order->view the same order or any other order with the status "complete"
7)Click on Order Shipment subtab
8)C

[2019-01-11 10:19] magento-engcom-team commented on #20210
Hi @swetacedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-11 10:19] ihor-sviziev commented on #5863
Hi @engcom-backlog-nazar,
Fix for 2.2.x release line was included into 2.2.4 release, but according to comments - looks like people still have this issue.
Could you re-check if this issue?

[2019-01-11 10:19] magento-engcom-team commented on #20210
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-11 10:19] sneha-panchal opened #20211 "Magento 2.3 EE : Coupon Type is not changing in salesrule table for schedule changes of cart price rules"
### Preconditions (*)

1. Magento 2.3 Enterprise

### Steps to reproduce (*)

1. Create cart price rule with coupon type Auto and Action is Fixed amount discount and save.
2. Now Schedule new update in that rule and add from and to date for the rule and save that update and also save the rule.
3. Now please check **salesrule** table.
4. You have 3 rows added for this rule and all having coupon_typ

[2019-01-11 10:19] magento-engcom-team commented on #20211
Hi @sneha-panchal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-11 10:19] magento-engcom-team commented on #20211
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-11 10:20] engcom-backlog-nazar commented on #20211
Hi @sneha-panchal  GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-01-11 10:20] #20211 closed, assigned to nobody

[2019-01-11 10:20] magento-engcom-team commented on #20210
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97573`, `MAGETWO-97574` were created

[2019-01-11 10:22] engcom-backlog-nazar commented on #5863
@ihor-sviziev ok.

[2019-01-11 10:33] magento-engcom-team commented on #20209
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97575`, `MAGETWO-97576` were created

[2019-01-11 10:41] narendrarwt opened #20213 "Magento sales order view is not getting open"
### Preconditions (*)
1. magento 2.2.7
2. php 7.2

### Steps to reproduce (*)

1. place an downloadable product
2. then open the order at admin side
3 . error will be appear there
### Expected result (*)
1. order should be appear

### Actual result (*)

1. order view should open ( https://prnt.sc/m5rtp5 )

[2019-01-11 10:41] magento-engcom-team commented on #20213
Hi @narendrarwt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-11 10:41] magento-engcom-team commented on #20213
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-11 10:43] magento-engcom-team commented on #20210
Hi @amol2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-11 10:43] narendrarwt commented on #20213
i know the solution , how can i push the code on git.

[2019-01-11 10:45] engcom-backlog-nazar commented on #20213
@narendrarwt this issue is not present on 2.2-develop and 2.3-develop

[2019-01-11 10:50] engcom-backlog-nazar commented on #20213
@narendrarwt thank you for your report, i'm not able to reproduce following steps you described, this may be related to you custom modules.
![selection_264](https://user-images.githubusercontent.com/40756439/51029559-5e71a400-159f-11e9-87c5-297a1cc6ff21.png)

[2019-01-11 10:50] #20213 closed, assigned to nobody

[2019-01-11 10:53] nainesh2jcommerce opened #20215 "On minicart product options misalign"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. add product into cart
2. and check product options in minicart

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/51029455-596f1d80-15bc-11e9-839c-ec68de575ccb.png)

2.

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/51029510-87ecf880-15bc-11e9-8a2a-db7c0f

[2019-01-11 10:53] magento-engcom-team commented on #20215
Hi @nainesh2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-01-11 10:54] magento-engcom-team commented on #20215
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-11 10:55] narendrarwt commented on #20213
have you checked it with downloadable product ?

[2019-01-11 10:56] engcom-backlog-nazar commented on #20215
Hi @nainesh2jcommerce this is duplicate to this -> https://github.com/magento/magento2/issues/20134

[2019-01-11 10:56] #20215 closed, assigned to nobody

[2019-01-11 10:58] nainesh2jcommerce commented on #20215
Hi @engcom-backlog-nazar

#20134 this one was for order summery and I have reported this for minicart.

[2019-01-11 11:00] engcom-backlog-nazar commented on #20215
@nainesh2jcommerce this PR -> https://github.com/magento/magento2/issues/20134 fixes in all places.

[2019-01-11 11:14] ihor-sviziev commented on #9377
Hi @engcom-backlog-tomash,

People said earlier that this issue still there on 2.2.x release line. Could you re-check if issue still there in 2.2.x and 2.3.x release lines?

[2019-01-11 11:17] magento-engcom-team commented on #20186
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-11 11:18] sezio commented on #16171
My bad if what I said was not exact, I ran into this issue on several projects with different versions and I remember having recurring problems on m2.0, m2.1, m2.2 so I probably mixed all it up.
I was really upset after having the problem one more time and not having again something that could explain why it worked in some cases and why it did not in other.

Thanks for correcting me,  and sorry fo

[2019-01-11 11:49] developer-vtnetzwelt opened #20216 "Magento 2.3 wysiwyg Upload pdf error"
### Preconditions (*)

As Magento have changed wysiwyg to tinyMCE4, now upload pdf/document is not working
1.  Magento version 2.3.0

### Steps to reproduce (*)

1. open any CMS page and edit the content of content using wysiwyg
2. Insert file button is missing to upload pdf images
3. now try to upload the pdf using insert image after changing allowed extensions in di.xml
### Expected result (*)

[2019-01-11 11:49] magento-engcom-team commented on #20216
Hi @developer-vtnetzwelt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanill

[2019-01-11 11:50] magento-engcom-team commented on #20216
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-11 11:53] GuiltyNL commented on #15115
Using the query didn't help for us, we are at 2.2.7.

[2019-01-11 12:00] developer-vtnetzwelt commented on #20216
Hi @shikhamis11

we are facing this issue, on fresh magento install of 2.3.0. try to create a custom page in cms pages and upload

[2019-01-11 12:03] TonGeurts opened #20217 "Magento 2 versie 2.2.7, installed extensions wil disappear after a while of itself"
Good day !

In Magento 2 versie 2.2.7, installed extensions wil disappear after a while of itself.
These are different modules like:

- honl/magento2-nl-nl  (Translation to Dutch)
- myparcelnl/magento (Shipping module of a transport company)
- mollie/magento2 (Molly Payments, speaks for itself)

I can reinstall and set it up, then everything will work again. but to a period this has to happen agai

[2019-01-11 12:03] magento-engcom-team commented on #20217
Hi @TonGeurts. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-11 12:04] magento-engcom-team commented on #20217
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-11 12:10] engcom-backlog-nazar commented on #20217
Hi @TonGeurts
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-11 12:10] #20217 closed, assigned to nobody

[2019-01-11 12:11] magento-engcom-team commented on #17592
Hi @pmclain. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-01-11 12:35] MichielTG commented on #18645
I also couldn't find the translation "You added %1 to your <a href=""%2"">shopping cart</a>.", because it is not yet included in /vendor/magento/module-checkout/i18n/en_US.csv

[2019-01-11 12:39] magento-engcom-team commented on #17926
Hi @sdzhepa. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-01-11 12:39] magento-engcom-team commented on #17926
Hi @ravi-chandra3197. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><su

[2019-01-11 12:46] shikhamis11 commented on #20216
@developer-vtnetzwelt the issue you are facing is basically due to your custom code for changing allowed types .
and about missing option for adding documents yes right now there is only options for adding image in
wysiwyg editor

[2019-01-11 12:54] carolineboivin commented on #19710
Hi @navinbhudiya, I was able to fix my images with adding <frame>0</frame> to all my images types in my custom view.xml file. This is the only workaround I have found until this issue is solved. Have a nice day!

[2019-01-11 13:09] dipti2jcommerce opened #20220 "Password validation message not conatin complete background for create an account page"
Password validation message not contain complete background for create an account page

### Preconditions (*)

1.Issue is arises in 2.3 version of magneto
2.In desktop tablet view and for mobile view

### Steps to reproduce (*)

1.Click on create an account page link present on header. while creating account if password is weak or medium the message come with incomplete background
2.while creating

[2019-01-11 13:09] magento-engcom-team commented on #20220
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-11 13:10] magento-engcom-team commented on #20220
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-11 13:10] preeti-gupta123 opened #20221 "add your review text is not show uniformly in Mobile view"
###Preconditions (*)

    Magento 2.3.0 with sample data
    Php Version 7.2
    Device Size 360  X  640

###Steps to reproduce (*)

   Chrome Browser
   Mobile View
   Home Page
   Product listing page

###Expected result (*)

add your review text should be shown in one line

###Actual result (*)

add your review text is not shown uniformly

![0sf1x9n png png image 452 x 520 pixels](https://user-

[2019-01-11 13:10] magento-engcom-team commented on #20221
Hi @preeti-gupta123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-11 13:11] magento-engcom-team commented on #20221
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-11 13:15] GovindaSharma commented on #20220
@magento-engcom-team give me 2.3-develop instance

[2019-01-11 13:15] magento-engcom-team commented on #20220
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-11 13:16] magento-engcom-team commented on #20220
Hi @GovindaSharma, here is your [Magento instance](https://i-20220-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20220-2-3-develop.instances.magento-community.engineering/admin](https://i-20220-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-11 13:17] GovindaSharma commented on #20221
@magento-engcom-team give me 2.3-develop instance

[2019-01-11 13:17] magento-engcom-team commented on #20221
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-11 13:17] magento-engcom-team commented on #20221
Hi @GovindaSharma, here is your [Magento instance](https://i-20221-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20221-2-3-develop.instances.magento-community.engineering/admin](https://i-20221-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-11 13:22] magento-engcom-team commented on #13765
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-11 13:23] amol2jcommerce commented on #20220
Hi @dipti2jcommerce  this is expected behavior , this is non issue.

[2019-01-11 13:23] afavata commented on #11454
Sorry for my delayed reply.... I didn't see there were a request....

Anyway the resolution was by deleting the permanent link which was causing e recursive behaviour. Check whether in the root or in pub folder or other folder as well you have some permanent link and delete it.

Hope to have helped you

[2019-01-11 13:24] #20220 closed, assigned to GovindaSharma

[2019-01-11 13:40] orlangur commented on #7917
@fsrojash @shorav13 @Jeeva-Rathinam in order to investigate this issue clear steps to reproduce needs to be provided first.

[2019-01-11 13:47] magento-engcom-team commented on #20221
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97581`, `MAGETWO-97582` were created

[2019-01-11 13:50] JosephLeedy commented on #10296
I'm sorry, but I do not remember what it was.

[2019-01-11 13:51] sdzhepa commented on #11726
Hello @miguelbalparda

Due to comments
1. https://github.com/magento/magento2/issues/11726#issuecomment-412246586
2. https://github.com/magento/magento2/issues/11726#issuecomment-412301834

And no activities(answers/confirmation) issue is not actual anymore.

Thank you for feedback and collaboration!

[2019-01-11 13:51] #11726 closed, assigned to nobody

[2019-01-11 13:53] magento-engcom-team commented on #20221
Hi @cedarvinda. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-11 14:00] magento-engcom-team commented on #20221
Hi @nainesh2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><s

[2019-01-11 14:01] miguelbalparda opened #20223 "Can't ignore folders using bin/magento setup:backup"
### Preconditions (*)

1. Magento 2.X installed
2. Create randomfolder with different owner/permissions in the root folder

### Steps to reproduce (*)

1. Run bin/magento setup:backup with any arguments to create a backup

### Expected result (*)

1. Be able to ignore a folder and create a backup
2.

### Actual result (*)

1. RecursiveDirectoryIterator::__construct(/chroot/home/xxx/xxx.xxx.com/ran

[2019-01-11 14:01] magento-engcom-team commented on #20223
Hi @miguelbalparda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-11 14:01] rotatingelectrics commented on #12866
I just hid it in the css. In my case it was the file

/pub/static/adminhtml/Magento/backend/en_US/css/styles.css

from

.dashboard-advanced-reports {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 1px 0;
  margin-bottom: 3rem;
  padding: 2.5rem 0;
}

to

.dashboard-advanced-reports {
	display: -webkit-flex;
	display

[2019-01-11 14:02] miguelbalparda commented on #20223
This can be fixed by adding a parameter like "ignore" to bin/magento setup:backup since it's quite common to have non-system folders in the root folder devs don't want to include in a backup.

[2019-01-11 14:12] engcom-backlog-tomash commented on #6382
We are closing this issue as it was fixed in 2.3.0

[2019-01-11 14:12] milindsingh commented on #20223
@miguelbalparda I think we need to add this feature in Magento Backup CLI?

[2019-01-11 14:13] magento-engcom-team commented on #20223
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-11 14:13] magento-engcom-team commented on #20223
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-11 14:15] miguelbalparda commented on #20223
Yes @milindsingh, this should probably be added to Magento\Setup\Console\Command\BackupCommand IIRC

[2019-01-11 14:54] irajneeshgupta commented on #20223
@miguelbalparda
i am unable to reproduce this issue.

[2019-01-11 14:57] lano-vargas commented on #11178
Same here version 2.2.2
If I have 2 product in my cart one with special price a one without.

The coupon code discount is applying on both products when it should only be discounted for the product without special price!

thanks

[2019-01-11 14:59] magento-engcom-team commented on #17460
Hi @sdzhepa. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-01-11 14:59] magento-engcom-team commented on #17460
Hi @emiprotech. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-11 15:12] engcom-backlog-tomash commented on #18134
Closing per comments and because of #19514

[2019-01-11 15:12] #18134 closed, assigned to nobody

[2019-01-11 15:18] magento-engcom-team commented on #20053
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-11 15:21] milindsingh commented on #20223
@miguelbalparda Thanks for the comment. Can you please provide me with the location of Magento IIRC?

[2019-01-11 15:32] miguelbalparda commented on #20223
I'm not sure what you mean @milindsingh, this is one of the many sites we host.

[2019-01-11 15:35] engcom-backlog-tomash commented on #9377
@ihor-sviziev based on the provided information internal ticket MAGETWO-71202 was created and MAGETWO-71236 got status "Won't Fix".

[2019-01-11 16:03] Userr017 commented on #19710
**@carolineboivin** You mean example this? I have same issue after this.
[code]

[2019-01-11 16:06] irajneeshgupta commented on #20216
Dublicate issue ref->#9850

[2019-01-11 16:06] #20216 closed, assigned to nobody

[2019-01-11 16:10] pskigen commented on #15115
@srenon it was an upgrade from 2.2.5. The site is still in development, so there were only a few customer addresses. I believe it was resolved by removing those addresses and reentering them after the upgrade.

Obviously that's not much of a solution for anyone with an active shop with dozens, hundreds or even thousands of customers.

[2019-01-11 16:11] kirkmadera commented on #13225
I think I understand the reasoning behind this. It's because it has to create the merged file for every possible frontend page, which would be tough to generate statically, especially without a full running app present to crawl.

I honestly think documenting in Magento docs that pub/static/_cache needs to be writable and shared across all frontend servers would be enough.

[2019-01-11 16:35] anthonyherve commented on #12301
Hello,

Is there any update for this issue?

Thank you.

[2019-01-11 16:42] milindsingh commented on #20223
Oh I thought IRC channel

[2019-01-11 16:53] gwharton commented on #13225
Why shared. Does magento keep track of which ones have been generated, and in effect only generates it on one of the cluster nodes and 404s it from the rest of the cluster as all cluster nodes think its already generated, not knowing it is only present on one node.

That would certainly explain what i am seeing.

[2019-01-11 16:55] scottsb commented on #13225
I was mulling over this last night and was thinking of how this could be solved. This is rough and may not be workable, but it might be a start:

1. Change the generation of the files to happen on-demand rather than as part of the triggering page request. This would allow whatever server receives the request to generate the file locally, even if it's a different server than triggered it originally

[2019-01-11 16:55] dandelionred commented on #7917
@orlangur Same problem here in 2.3.0.

The reason for error 500 on /setup/index.php/dependency-check/component-dependency is memory limit hit. I use the stock magento nginx snippet hence memory limit was 756M.

I tried increasing memory limit to 1756M and here is what see:
1. The php-fpm process handling the request sits at low ram and low cpu usage for some times (it downloads something according

[2019-01-11 16:57] scottsb commented on #13225
@gwharton Yes, Magento merges the file as part of the page request and saves it the local disk. It's expected that the file is then served directly by the web server as a static file from then on (it never routes through PHP/Magento). But if the merged asset request goes to a different server in the cluster, then it won't be present locally if the directory isn't shared.

[2019-01-11 17:02] magento-engcom-team commented on #20004
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-11 17:14] CompactCodeEU commented on #17804
You get this error when there is no shipping method available in the order

[2019-01-11 17:52] gwharton commented on #13225
@scottsb Yeah, I just deployed a shared writable pub/static/_cache folder across my cluster and re-enabled merging of css files and all seems ok.

[2019-01-11 18:13] magento-engcom-team commented on #19858
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-11 18:31] carolineboivin commented on #19710
Yes, I am using the swatches in the listing, so the most important format were not in my view.xml file at first, I copied the values from the module swatches too in my file, maybe you're missing those ?

`<image id="product_swatch_image_large" type="image"/>
            <image id="product_swatch_image_medium" type="image">
                <width>330</width>
                <height>230</height>

[2019-01-11 19:11] magento-engcom-team commented on #19221
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-11 19:12] shikhamis11 commented on #19221
@magento-engcom-team give me 2.3-develop instance

[2019-01-11 19:12] magento-engcom-team commented on #19221
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-11 19:12] magento-engcom-team commented on #19221
Hi @shikhamis11, here is your [Magento instance](https://i-19221-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19221-2-3-develop.instances.magento-community.engineering/admin](https://i-19221-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-11 19:57] hostep commented on #9186
Just to add some more details after a year-long (and very frustrating) discussion with Magento Enterprise support about this bug. They finally admitted this is a bug and there might be plans to fix it, but it will take some time since the internal ticket still needs to be triaged, they are "guessing" that it might take 6 more months until we finally see a solution for this bug.

And then to add so

[2019-01-11 20:22] Brengineer opened #20229 "Fatal error on product-compare page when attributes not configured"
### Preconditions

1. Magento 2.3.x

### Steps to reproduce

1. Add products to compare where at least one product has no value set for at least one of its comparable attributes (e.g. "Description" is empty).
2. Go to the compare page (<site_root>/catalog/product_compare/index)

### Expected result

1. Compare page should load normally, where any unconfigured attributes show "N/A" or "No".

### Ac

[2019-01-11 20:22] magento-engcom-team commented on #20229
Hi @Brengineer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-11 20:50] rhoerr opened #20230 "Authorize.Net Direct Post impending end-of-life"
### Summary (*)
Magento 2.0-2.3.0 implements the `Authorize.net Direct Post` payment method, using Authorize.Net's AIM NVP (name-value pair) and DPM (direct post method) APIs.

Per Authorize.Net's published API Upgrade Guide, both AIM and DPM are deprecated, and DPM will be discontinued entirely on production as of 2019-07-01. At that point, anyone using the `Authorize.net Direct Post` payment met

[2019-01-11 20:50] magento-engcom-team commented on #20230
Hi @rhoerr. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-11 20:52] magento-engcom-team commented on #20229
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-11 20:52] orlangur commented on #7917
@dandelionred memory limit must be 2Gb according to https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html.

It's Composer, dude, and such behavior is correct :)

[2019-01-11 21:04] magento-engcom-team commented on #20229
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97584` were created

[2019-01-11 21:15] dandelionred commented on #7917
@orlangur There is still a _small_ problem. Default memory limit is 756 https://github.com/magento/magento2/blob/d7ac52bbbc11e35aac5f87f0ff0fd6232d75e79b/nginx.conf.sample#L43. The only report a user gets when trying to install an extension is "Check Component Dependency = We found conflicting component dependencies." without any extra details.

![screenshot from 2019-01-11 23 10 31](https://user-

[2019-01-11 23:09] orlangur commented on #7917
@dandelionred default memory limit is correct according to https://devdocs.magento.com/guides/v2.3/install-gde/prereq/php-settings.html.

However, setup wizard in this scenario obviously belongs to

So, I believe there must be at least some warning in case of lower memory limit.

[2019-01-11 23:19] orlangur commented on #20223
@miguelbalparda,

Any reason for that? I saw such junk a bunch of times, or even some `test.php` or `phpinfo.php` in the root, but it was never a reasonable solution.

If we agree that this is a needed change,

[2019-01-11 23:20] manuelfdo commented on #20230
We got this message from Authorize.net a few minutes ago
![authorize](https://user-images.githubusercontent.com/1271647/51064366-487ad800-15cd-11e9-90d9-fce4d1ff550c.png)

[2019-01-11 23:34] dandelionred commented on #7917
@orlangur

The string from nginx.conf.sample I referenced above was inside `location ~* ^/setup($|/) {}`. Hence the stock nginx config sample suggests 756M for `/setup/` even though the doc says 2G for _Installing and updating Magento components_. Since dependency check takes over 1G the thing doesn't work at all out-of-the-box.

I'm sure the main problem here is there is no feedback on the server

[2019-01-12 04:54] magento-engcom-team commented on #20229
Hi @saphaljha. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-12 05:46] SyntaxKay opened #20232 "Backend order credit card detail check box misaligned"
### Preconditions (*)

1. Magento 2.3-develop
2. Configure Braintree credit card

### Steps to reproduce (*)

1.Backend -> sale -> order -> create new order/reorder(Perticular order)
2.Under payment method -> credit card -> check save for later checkbox alignment

### Expected result (*)

![expactedss](https://user-images.githubusercontent.com/33230237/51069767-524b1c80-165b-11e9-9b23-5a4ddb97196f

[2019-01-12 05:46] magento-engcom-team commented on #20232
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-12 05:46] magento-engcom-team commented on #20232
Hi @saphaljha. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-12 05:47] saphaljha commented on #20232
@magento-engcom-team give me 2.3-develop instance

[2019-01-12 05:47] magento-engcom-team commented on #20232
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-12 05:47] magento-engcom-team commented on #20232
Hi @saphaljha. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-12 05:47] magento-engcom-team commented on #20232
Hi @saphaljha, here is your [Magento instance](https://i-20232-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20232-2-3-develop.instances.magento-community.engineering/admin](https://i-20232-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-12 05:48] magento-engcom-team commented on #20232
@saphaljha Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-12 05:49] magento-engcom-team commented on #20232
@saphaljha Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97603` were created

[2019-01-12 06:04] magento-engcom-team commented on #17295
Hi @ronak2ram. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-12 06:30] ronak2ram commented on #17295
@magento-engcom-team give me 2.3-develop instance
@magento-engcom-team give me 2.2-develop instance

[2019-01-12 06:30] magento-engcom-team commented on #17295
Hi @ronak2ram. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-12 06:31] magento-engcom-team commented on #17295
Hi @ronak2ram, here is your [Magento instance](https://i-17295-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-17295-2-3-develop.instances.magento-community.engineering/admin](https://i-17295-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-12 06:35] SyntaxKay opened #20234 "Review text Should be capitalized"
### Preconditions (*)

1.Magento 2.3-develop

### Steps to reproduce (*)

1.Open any Product Listing page in  front-end side

### Expected result (*)

http://prntscr.com/m65abw

### Actual result (*)

http://prntscr.com/m65aj9

[2019-01-12 06:35] magento-engcom-team commented on #20234
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-12 06:37] magento-engcom-team commented on #20234
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-12 06:38] irajneeshgupta commented on #20234
@magento-engcom-team give me 2.3-develop instance

[2019-01-12 06:38] magento-engcom-team commented on #20234
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-12 06:38] magento-engcom-team commented on #20234
Hi @irajneeshgupta, here is your [Magento instance](https://i-20234-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20234-2-3-develop.instances.magento-community.engineering/admin](https://i-20234-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-12 06:44] milindsingh commented on #20234
@speedy008  Is it really an Issue?
`add your review` vs `Add Your Review`

[2019-01-12 06:45] magento-engcom-team commented on #20234
Hi @saphaljha. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-12 06:46] speedy008 commented on #20234
@milindsingh
Its Improvement.
It should be capitalized.

[2019-01-12 07:02] milindsingh commented on #20234
@speedy008 It a matter of opinion I think.
As I see it looks good without being capitalized.
![home page](https://user-images.githubusercontent.com/13949703/51070365-0ce01c80-1666-11e9-826d-9c910dd3c0ca.png)

[2019-01-12 07:05] speedy008 commented on #20234
@milindsingh
In Product Detail page it is capitalized and to maintain constancy
![image](https://user-images.githubusercontent.com/33230237/51070385-62b4c480-1666-11e9-99ca-527946829dfc.png)

[2019-01-12 07:06] magento-engcom-team commented on #14492
Hi @ansari-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2019-01-12 07:19] ronak2ram commented on #17295
Hello @magento-engcom-team
I can't find this issue in 2.3-develop instance.

![screenshot from 2019-01-12 12-21-22](https://user-images.githubusercontent.com/11473750/51070511-7f51fc00-1668-11e9-8ac9-0cd6529e04fd.png)
![screenshot from 2019-01-12 12-20-52](https://user-images.githubusercontent.com/11473750/51070512-7fea9280-1668-11e9-88d4-d8fbbec25dc6.png)

[2019-01-12 07:40] abdulmalik422 commented on #17295
Dear Ronak Patel : Please Changed url and check on rest/V1/search.

On Sat, Jan 12, 2019 at 12:20 PM Ronak Patel <notifications@github.com>
wrote:

[2019-01-12 08:31] speedy008 commented on #20234
@milindsingh Please have a look on attached screenshot.:

![whatnew](https://user-images.githubusercontent.com/33230237/51071158-90a00600-1672-11e9-9a33-baa88bccec5c.png)

[2019-01-12 08:44] saphaljha opened #20240 "Admin - dropdown toggle arrow not working on closing"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Add/Edit any product
2. Click on any dropdown and again click on it closing it.
3. Array will not rotate on closing

### Expected result (*)

 ![acpected-productsinventorycatalogmagentoadmin](https://user-images.githubusercontent.com/23274052/51071262-25efca00-1674-11e9-9e37-cc36837e2f95.png)

### Actual result (*)

![actual-pro

[2019-01-12 08:45] magento-engcom-team commented on #20240
Hi @saphaljha. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-12 08:45] magento-engcom-team commented on #20240
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-12 08:45] magento-engcom-team commented on #20240
Hi @niravkrish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-12 08:45] saphaljha commented on #20240
@magento-engcom-team give me 2.3-develop instance

[2019-01-12 08:46] magento-engcom-team commented on #20240
Hi @saphaljha. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-12 08:46] magento-engcom-team commented on #20240
Hi @saphaljha, here is your [Magento instance](https://i-20240-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20240-2-3-develop.instances.magento-community.engineering/admin](https://i-20240-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-12 08:47] magento-engcom-team commented on #20240
@saphaljha Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-12 08:48] magento-engcom-team commented on #20240
@saphaljha Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97604` were created

[2019-01-12 09:11] milindsingh commented on #20234
![test](https://user-images.githubusercontent.com/13949703/51071513-1e322480-1678-11e9-9b99-b5abf4c40523.png)

[2019-01-12 09:34] RedAtRareCandy opened #20242 "Magento crontab does not re-index anymore"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1.25
3. CentOS 6

### Steps to reproduce (*)

1. Install Magento 2.3.0
2. Install cronjobs with bin/magento cron:install
3. Add new product and category and connect product to category and add a price.
4. Go to System > Index Management and should see "Reindex Required" red boxes.
5. Change all of the Indexers to "Update by Schedule".
6. Wait 30 min

[2019-01-12 09:35] magento-engcom-team commented on #20242
Hi @RedAtRareCandy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-12 09:41] orlangur commented on #7917
@dandelionred,

Being inside Setup Wizard does not necessary mean you perform heavy Composer operations like installing components.

I'm pretty sure this is not true, but to say for sure we need to look into profiler report.

[2019-01-12 09:42] magento-engcom-team commented on #20242
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-12 09:44] RedAtRareCandy commented on #20242
@magento-engcom-team give me 2.3.0 instance

[2019-01-12 09:44] magento-engcom-team commented on #20242
Hi @RedAtRareCandy. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-12 09:45] magento-engcom-team commented on #20242
Hi @RedAtRareCandy, here is your [Magento instance](https://i-20242-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20242-2-3-0.instances.magento-community.engineering/admin](https://i-20242-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-12 09:54] speedy008 commented on #20234
@milindsingh, Do we need to capitalize this as well?

[2019-01-12 09:56] khodu opened #20245 "wishlist comment not removed"
if we try to remove the comment from wishlist product then the 'Comment' value is not deleted if we try to update it then updated.
### Preconditions (*)

1. magento 2.3.0

### Steps to reproduce (*)

1. Create simple product
2. Create customer and Login in Storefront
3. Add product to wishlist
4. On 'My Wish List' page add Comment for product
5. Click 'Update Wish List' button
6. Remove the create

[2019-01-12 09:56] magento-engcom-team commented on #20245
Hi @khodu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-01-12 09:56] magento-engcom-team commented on #20245
Hi @ravi-chandra3197. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-12 09:56] ravi-chandra3197 commented on #20245
@magento-engcom-team give me 2.3-develop instance

[2019-01-12 09:56] magento-engcom-team commented on #20245
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-12 09:57] magento-engcom-team commented on #20245
Hi @ravi-chandra3197, here is your [Magento instance](https://i-20245-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20245-2-3-develop.instances.magento-community.engineering/admin](https://i-20245-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-12 10:03] magento-engcom-team commented on #20245
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-12 10:04] irajneeshgupta commented on #20245
@magento-engcom-team give me 2.3-develop instance

[2019-01-12 10:04] magento-engcom-team commented on #20245
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-12 10:04] magento-engcom-team commented on #20245
Hi @irajneeshgupta, here is your [Magento instance](https://i-20245-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20245-2-3-develop.instances.magento-community.engineering/admin](https://i-20245-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-12 10:06] magento-engcom-team commented on #20245
@ravi-chandra3197 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required info

[2019-01-12 10:07] magento-engcom-team commented on #20245
@ravi-chandra3197 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97605` were created

[2019-01-12 10:18] saphaljha commented on #20242
@RedAtRareCandy Prefer the original Comment:
https://github.com/magento/magento2/issues/20242#issuecomment-453734075

[2019-01-12 10:19] ronak2ram commented on #17295
@abdulmalik422 You right there is an issue. Let me find solution

[2019-01-12 11:54] himanshu8dev commented on #19457
I am facing the same issue as described above step
I have installed sample data & edited "24-WG080" main bundle product but it the `Bundle Items` tag is not showing let me know how in your system it will reflecting else please re-open this issue.

[2019-01-12 12:55] RishiRanjan21 opened #20251 "Sales Emails going via wrong email address magento 2.2.x"
Sales Emails going via wrong email address magento 2.2.x

e6hyxhdbac97@a2plvcpnl117217.prod.iad2.secureserver.net

[2019-01-12 12:55] magento-engcom-team commented on #20251
Hi @Rtechhub. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-12 14:03] rogyar commented on #20234
This issue is very doubtful because of many factors.
We cannot consider it as an issue since the number of reviews is not capitalized as well. So, here is another question, should we have the add review link capitalized as well.
If the entire row is not capitalized, it's rather designers decision than an issue.

[2019-01-12 14:34] chrishister01 commented on #10865
@MathijsDelva @mattgreenfield

I know this issue has been closed for quite a while now, but I am actually experiencing a very similar issue. Just like you reported, each time I attempt to checkout, I can briefly see the selected shipping address (for less than a second), then immediately, nothing is selected. If I select something manually, it works, but on refresh, the same thing happens.

Were y

[2019-01-12 14:50] hostep commented on #19590
Hi all

So if I understand what is happening here, it might be caused by a bug in https://github.com/paragonie/sodium_compat

So, Magento declares [`SodiumChachaIetf::decrypt()`](https://github.com/magento/magento2/blob/2.3.0/lib/internal/Magento/Framework/Encryption/Adapter/SodiumChachaIetf.php#L56) to always return a string.
PHP 7.2 [documentation of `sodium_crypto_aead_chacha20poly1305_ietf_dec

[2019-01-12 15:31] hostep commented on #20251
@Rtechhub: thanks for the report.

I'm closing this because it duplicates https://github.com/magento/magento2/issues/14952

There is a fix in the works in: https://github.com/magento/magento2/pull/18472 for Magento 2.2.x.
For Magento 2.3.x, this fix was recently approved: https://github.com/magento/magento2/pull/18471

[2019-01-12 15:31] #20251 closed, assigned to nobody

[2019-01-12 17:43] orlangur commented on #20234
Agree that it should not as "add your review" looks muuuch cleaner in current design.

Also, please note that whenever we decide to change such caption, it should not be achieved with CSS.

[2019-01-12 20:06] mattgreenfield commented on #10865
Sorry Chris, I've long left the Magento world.
Could there be a last ditch hack running some JS after page load to
re-select it?

On Sat, 12 Jan 2019, 14:35 Chris H <notifications@github.com wrote:

[2019-01-12 21:46] chrishister01 commented on #10865
Yes, that could be an option. I was hoping someone got to the bottom of this but after all my research, my hopes weren't high. Would you happen to have any further documentation regarding that specific side of the Magento system? Unfortunately everywhere I've looked has been either outdated or unrelated.

Any help at this point would be much appreciated!!

Thanks!

Sent from my iPhone

[2019-01-13 00:11] RedAtRareCandy commented on #20242
Hi - Not sure how to "tick" the boxes. Can't find instructions to do so..

[2019-01-13 00:36] RedAtRareCandy commented on #20242
Noticed cron_schedule db table does not have any "indexer_reindex_all_invalid" jobs and when new table entries are made they're not added then either?

[2019-01-13 08:39] interequipment commented on #20140
Having same issue on my Magnto 2.3.0 store.
How to fix this issue?

[2019-01-13 11:00] monotheist opened #20255 "Customer account link broken after crawl"
### Preconditions (*)

1. Magento 2.3 with cache and FPC enabled

### Steps to reproduce (*)

1. Run site check in woorank.com like below.
2. https://www.woorank.com/en/www/pr-20241.instances.magento-community.engineering

### Expected result (*)

1. Below link should not throw 404 page not found
2. https://pr-20241.instances.magento-community.engineering/customer/account/create/

### Actual resul

[2019-01-13 11:00] magento-engcom-team commented on #20255
Hi @ethniccode. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-13 11:03] ethniccode commented on #20255
@magento-engcom-team give me 2.3 instance

[2019-01-13 11:36] magento-engcom-team commented on #20255
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-13 11:38] shikhamis11 commented on #20255
@magento-engcom-team give me 2.3-develop instance

[2019-01-13 11:38] magento-engcom-team commented on #20255
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-13 11:39] magento-engcom-team commented on #20255
Hi @shikhamis11, here is your [Magento instance](https://i-20255-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20255-2-3-develop.instances.magento-community.engineering/admin](https://i-20255-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-13 11:53] magento-engcom-team commented on #20255
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97606` were created

[2019-01-13 11:53] shikhamis11 commented on #20255
@ethniccode I did the same you explained and it actually showing 404 on account creation page.
![screenshot from 2019-01-13 17-21-03](https://user-images.githubusercontent.com/25526037/51084901-bd7a1900-1757-11e9-8e01-c84aa98b5d46.png)

[2019-01-13 12:20] ethniccode commented on #20255
@shikhamis11 This issue appears on my production system overnight when Google crawls. I was struggling to reproduce this issue. Looks like any crawler can be used to reproduce this issue. Not only account create page, but also home page breaks. You can clear the issue now by clearing the cache.

[2019-01-13 13:12] shikhamis11 commented on #20255
okay let me check if it is also there in magento 2.2 versions

[2019-01-13 13:12] shikhamis11 commented on #20255
@magento-engcom-team give me 2.2-develop instance

[2019-01-13 13:12] magento-engcom-team commented on #20255
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-13 13:13] magento-engcom-team commented on #20255
Hi @shikhamis11, here is your [Magento instance](https://i-20255-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20255-2-2-develop.instances.magento-community.engineering/admin](https://i-20255-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-13 13:18] ethniccode commented on #20255
@shikhamis11 No this is not there till 2.2.6. I am facing this issue only after I upgraded from 2.2.6 to 2.3

[2019-01-13 13:20] shikhamis11 commented on #20255
@ethniccode yes this issue is not in 2.2 versions

[2019-01-13 16:09] magento-engcom-team commented on #16367
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-13 18:36] melaxon opened #20256 "Product design option "Display Product Options In" does not affect layout"
### Preconditions (*)

1. 2.3.0, 2.2.6, may be earlier versions as well
2. Fresh installation, Luma

### Steps to reproduce (*)

1. Install Magento and create a product of any type: simple, configurable, downloadable,...
2. Add some Customizable Options
3. Open the same product in frontend in 2 separate browser tabs to compare them
4. Change: Design -> "Display Product Options In" and save
5. Refr

[2019-01-13 18:36] magento-engcom-team commented on #20256
Hi @melaxon. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-13 18:37] melaxon commented on #20256
@magento-engcom-team give me 2.3.0 instance

[2019-01-13 18:38] magento-engcom-team commented on #20256
Hi @melaxon. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-13 18:38] magento-engcom-team commented on #20256
Hi @melaxon, here is your [Magento instance](https://i-20256-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20256-2-3-0.instances.magento-community.engineering/admin](https://i-20256-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-13 18:48] magento-engcom-team commented on #20256
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-13 19:05] shikhamis11 commented on #20256
@magento-engcom-team give me 2.3-develop instance

[2019-01-13 19:05] magento-engcom-team commented on #20256
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-13 19:05] magento-engcom-team commented on #20256
Hi @shikhamis11, here is your [Magento instance](https://i-20256-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20256-2-3-develop.instances.magento-community.engineering/admin](https://i-20256-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-13 19:16] shikhamis11 commented on #20256
@melaxon I tried with test product with both the Design options . But at frontend the position of the custom options are same

[2019-01-13 19:18] magento-engcom-team commented on #20256
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97607`, `MAGETWO-97608` were created

[2019-01-13 19:32] melaxon commented on #20256
Actually I can remember that only on Magento1 this settings worked, but everytime "container2" was used (Product Info Column) because otherwise the options must be moved under the image. I cannot imagine this to look nice. So I suggest you remove this setting completely and I'm pretty sure the quality of Magento will not suffer. For those who wish another layout anyway there is always a choice to

[2019-01-14 06:33] 4DallasC commented on #8538
I think you can do it from database, go to database and ui_bookmark table
Remove entry/s for your user id and namespace you need to remove the filtering

[2019-01-14 06:42] cedarvinda opened #20259 "Store switcher not sliding up and down, only dropdown arrow working"
Store switcher not sliding up and down, only dropdown arrow working

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Go to frontend in mobile device
Step 2: click on toggle in left top corner
Step 3: Go to setting tab and see store switcher and click on label (Ref screenshot)

### Expected result (*)

Dropdown should open and close as arrow working

### Actu

[2019-01-14 06:42] magento-engcom-team commented on #20259
Hi @cedarvinda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-14 06:42] magento-engcom-team commented on #20259
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-14 06:42] shikhamis11 commented on #20259
@magento-engcom-team give me 2.3-develop instance

[2019-01-14 06:43] magento-engcom-team commented on #20259
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-14 06:43] magento-engcom-team commented on #20259
Hi @shikhamis11, here is your [Magento instance](https://i-20259-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20259-2-3-develop.instances.magento-community.engineering/admin](https://i-20259-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-14 06:46] magento-engcom-team commented on #20259
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-14 06:47] magento-engcom-team commented on #20259
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97609`, `MAGETWO-97610` were created

[2019-01-14 06:56] magento-engcom-team commented on #20259
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-14 07:22] dipti2jcommerce opened #20261 "In My Account dashboard page when we create new address from address book telephone field is require,but no validation appear while submission"
In My Account dashboard page when we create new address from address book telephone field is require,but no validation appear while submission

### Preconditions (*)

1.Magento 2.3 version
2.In all browser

### Steps to reproduce (*)

1Go to My account dashboard, go to Address book and add new address
2.While submission of form validation message is come for all field except telephone field.

###

[2019-01-14 07:31] magento-engcom-team commented on #20261
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97611` were created

[2019-01-14 07:51] magento-engcom-team commented on #20261
Hi @irajneeshgupta. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-14 07:59] magento-engcom-team commented on #20242
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-14 07:59] magento-engcom-team commented on #20230
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-14 07:59] magento-engcom-team commented on #20223
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-14 08:17] engcom-backlog-nazar commented on #20242
Hi @RedAtRareCandy thank you for you report, i'm not able to reproduce following steps you described.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-14 08:17] #20242 closed, assigned to nobody

[2019-01-14 08:19] engcom-backlog-nazar commented on #20230
Hi @rhoerr   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-14 08:19] #20230 closed, assigned to nobody

[2019-01-14 08:23] #20223 closed, assigned to nobody

[2019-01-14 08:37] preeti-gupta123 opened #20264 "whishlist icon and Compare icon should be show on home page in Mobile view"
### Preconditions (*)

1. Magento 2.3.0 with sample data
2. Php Version 7.2
3. Device Size 360  X  640

### Steps to reproduce (*)

1. Mobile View
2. Home Page
3. Product listing page

### Expected result (*)

whishlist icon and Compare icon should be show on home page in Mobile view

### Actual result (*)

whishlist icon and Compare icon is not coming on product listing page

![home page](https:/

[2019-01-14 08:37] magento-engcom-team commented on #20264
Hi @preeti-gupta123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-14 08:37] magento-engcom-team commented on #20264
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-14 08:38] magento-engcom-team commented on #20264
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97612`, `MAGETWO-97613` were created

[2019-01-14 08:46] preeti-gupta123 opened #20265 "Add Related Products, Add Up-Sells, and Add Cross-Sells button allignment is not same"
### Preconditions (*)

1. Magento 2.3.0 with sample data
2. Php Version 7.2

### Steps to reproduce (*)

1. Admin panel
2. Catalog--> Products
3. select Simple Product
4. In simple Product Creation form
4.Go to Related Products, Up-Sells, and Cross-Sells

### Expected result (*)

Add Related Products, Add Up-Sells, and Add Cross-Sells tab should be show in same size

### Actual result (*)

Add Rel

[2019-01-14 08:46] magento-engcom-team commented on #20265
Hi @preeti-gupta123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-14 08:47] magento-engcom-team commented on #20265
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-14 08:47] GovindaSharma commented on #20265
@magento-engcom-team give me 2.3-develop instance

[2019-01-14 08:47] magento-engcom-team commented on #20265
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-14 08:47] magento-engcom-team commented on #20265
Hi @GovindaSharma, here is your [Magento instance](https://i-20265-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20265-2-3-develop.instances.magento-community.engineering/admin](https://i-20265-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-14 08:49] engcom-backlog-nazar commented on #20186
Hi @ipascual thank you for you report, you need to use following
`./vendor/bin/phpcs --standard=./dev/tests/static/framework/Magento/ruleset.xml app/code/Magento/Amqp`

[2019-01-14 08:50] magento-engcom-team commented on #20265
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97614`, `MAGETWO-97615` were created

[2019-01-14 08:54] cedarvinda commented on #20265
@GovindaSharma seems like this is not an issue as button alignment is from right side.

[2019-01-14 08:54] #20265 closed, assigned to GovindaSharma

[2019-01-14 09:00] engcom-backlog-nazar commented on #20151
Hi @jos-zz i'm not able to reproduce on my local environment, i'm following this instruction to configure my server
https://devdocs.magento.com/guides/v2.3/config-guide/multi-site/ms_apache.html
https://devdocs.magento.com/guides/v2.3/install-gde/prereq/apache.html

[2019-01-14 09:00] #20151 closed, assigned to mahesh-rajawat

[2019-01-14 09:07] magento-engcom-team commented on #20264
Hi @amol2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-14 09:13] magento-engcom-team commented on #20147
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-14 09:17] engcom-backlog-nazar commented on #20147
HI @raulvian thank you for you report, this is non-issue, for that behavior please configure your store to use different base url .
https://devdocs.magento.com/guides/v2.3/config-guide/multi-site/ms_nginx.html

[2019-01-14 09:17] #20147 closed, assigned to irajneeshgupta

[2019-01-14 09:18] GuiltyNL commented on #13325
I cannot understand that nobody is working on this issue.

As catalog price rules can't be used since the introduction of Magento 2.

[2019-01-14 09:21] magento-engcom-team commented on #20148
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-14 09:21] GuiltyNL commented on #13229
This ticket is now almost a year old. :(

[2019-01-14 09:31] raulvian commented on #20147
Sorry @engcom-backlog-nazar do you mean we should force the default store code appended to default store base url? Is it?

Providing just a solution for Nginx (and not the equivalent for Apache) doesn't seem enough for me, sorry. Apart from that, there are some **assumptions** in that devdoc which doesn't fit this case, for instance

This is not the case, as subdomains weren't mentioned in **Preco

[2019-01-14 09:40] engcom-backlog-nazar commented on #20147
@raulvian

On 2.3 instance  i'm have the following result.

[2019-01-14 09:49] raulvian commented on #20147
Ok @engcom-backlog-nazar, remove **Reproduced on 2.3.x** tag then, if that's the case... but 2.2.x problem is still there

[2019-01-14 09:50] amol2jcommerce opened #20267 "Add to cart button section not show on mobile view"
### Preconditions (*)

1. Magento 2.3.0 with sample data
2.

### Steps to reproduce (*)

1. Mobile View
2. Home Page
3.

### Expected result (*)

1. Add to cart section show in Mobile view
2.
![2019-01-14_15-08_home page](https://user-images.githubusercontent.com/18118631/51105638-8e26e300-180f-11e9-94c5-be21d0800ca3.jpg)

### Actual result (*)

1. Add to cart section not show in Mobile view
2.
![

[2019-01-14 09:50] magento-engcom-team commented on #20267
Hi @amol2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-14 09:50] engcom-backlog-nazar commented on #20147
@raulvian i'm will recheck on 2.2-develop

[2019-01-14 09:50] magento-engcom-team commented on #20267
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-14 10:06] anupamyx commented on #19590
Is this resolved yet ?

[2019-01-14 10:06] raulvian commented on #20147
Thanks @engcom-backlog-nazar

[2019-01-14 10:08] engcom-backlog-nazar commented on #20267
Hi @amol2jcommerce thank you for you report, this is expected behavior.
 On desktop view, also not visible, only if you focus mouse on it.

[2019-01-14 10:08] #20267 closed, assigned to nobody

[2019-01-14 10:19] magento-engcom-team commented on #20261
Hi @p-bystritsky. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2019-01-14 10:42] cedarvinda commented on #20264
@GovindaSharma Thankyou for contribution !! But this is not an issue, I have checked in 2.3 develop instance.

![rrrrrrr](https://user-images.githubusercontent.com/26018716/51108158-34c2b200-1817-11e9-9787-ce48811ad90f.png)

[2019-01-14 10:42] #20264 closed, assigned to amol2jcommerce, GovindaSharma

[2019-01-14 10:47] miguelbalparda commented on #20223
I can understand why you might think this is a feature but right now this issue is affecting a very large of all Magento 2 installs as far as I can see. So the question is: fix a bug that is affecting almost everybody or call it a feature and send it to die in another repo?

[2019-01-14 10:57] engcom-backlog-nazar commented on #12721
I'm closing as this was already fixed on 2.3-develop branch.

[2019-01-14 10:57] #12721 closed, assigned to nobody

[2019-01-14 11:02] ghost opened #20268 "There has a error when create new index in magento2"
### Preconditions (*)

1.Magento ver. 2.3.0 EE

### Steps to reproduce (*)

1.create  file:
`app/code/{VendorName}/{ModuleNmae}/etc/indexer.xml`
`app/code/{VendorName}/{ModuleNmae}/etc/mview.xml`

### Expected result (*)

1. when go to `System > Index Management from backend`,I should see the custom newly created index in the list.
2. As shown below
![image](https://user-images.githubusercontent.c

[2019-01-14 11:03] magento-engcom-team commented on #20268
Hi @n1cehua1991. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-14 11:04] magento-engcom-team commented on #20268
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-14 11:04] magento-engcom-team commented on #20268
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-14 11:05] engcom-backlog-nazar commented on #20268
Hi @n1cehua1991 l  GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-01-14 11:05] #20268 closed, assigned to GovindaSharma

[2019-01-14 11:07] tuyennn commented on #5664
Have No issue on both 2.1.x 2.2.x and 2.3x
[code]

![image](https://user-images.githubusercontent.com/4010395/51109215-1f558400-1827-11e9-97fc-9a52085934d0.png)

I have product available both frontend and admin

[2019-01-14 11:09] engcom-backlog-nazar commented on #20268
@n1cehua1991 also i'm using this guide -> https://devdocs.magento.com/guides/v2.3/extension-dev-guide/indexing-custom.html, and i have no errors.

[2019-01-14 11:39] josefbehr commented on #6382
We should fix this in 2.2. branch as well

[2019-01-14 11:47] #19609 closed, assigned to mahesh-rajawat

[2019-01-14 12:15] preeti-gupta123 opened #20273 "getting dessign issue while loading the page"
### Preconditions (*)

1.  Magento 2.3.0 with sample data
2.  Php Version 7.2

### Steps to reproduce (*)

1. admin Panel
2. Catalog--> Product
3. click edit link on created product

### Expected result (*)

it should not be coming dessign issue

### Actual result (*)

getting dessign issue while loading the page

![simple products inventory catalog magento admin](https://user-images.githubusercon

[2019-01-14 12:15] magento-engcom-team commented on #20273
Hi @preeti-gupta123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-14 12:15] magento-engcom-team commented on #20273
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-14 12:17] GovindaSharma commented on #20273
@magento-engcom-team give me 2.3-develop instance

[2019-01-14 12:17] magento-engcom-team commented on #20273
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-14 12:17] magento-engcom-team commented on #20273
Hi @GovindaSharma, here is your [Magento instance](https://i-20273-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20273-2-3-develop.instances.magento-community.engineering/admin](https://i-20273-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-14 12:21] magento-engcom-team commented on #20273
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97616` were created

[2019-01-14 12:21] magento-engcom-team commented on #20273
Hi @amol2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-14 12:31] pauldonnelly commented on #19710
I just upgraded from 2.2.6 to 2.3 and I am having the same issue. The product images are using the wrong hash.

Has there been any official fix for this?

[2019-01-14 12:32] ajay2jcommerce opened #20274 "Apply Discount"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-14 12:32] magento-engcom-team commented on #20274
Hi @ajay2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-14 12:33] #20274 closed, assigned to nobody

[2019-01-14 12:43] xoniq commented on #4432
Also experienced this sinds last week on 2.1.9.

[2019-01-14 12:52] dipti2jcommerce opened #20275 "In mobile view of Mini cart block ,update button overlapping edit and remove link"
In mobile view of Mini cart block update button overlapping edit and remove link

### Preconditions (*)

1.In mobile view for all browser

### Steps to reproduce (*)

1.Go to minicart basket dropdown present in header by adding product
2.In mobile view of Mini cart block update button overlapping edit and remove link for all version

### Expected result (*)
![2019-01-14_18-21_shopping cart](https:

[2019-01-14 12:52] magento-engcom-team commented on #20275
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-14 12:59] magento-engcom-team commented on #20275
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-14 13:01] magento-engcom-team commented on #20275
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-14 13:03] engcom-backlog-nazar commented on #20275
Hi @dipti2jcommerce thank you for you report, this is no-issue because this button appear only if you enter qty for product, and will disappear when you update.

[2019-01-14 13:03] #20275 closed, assigned to nobody

[2019-01-14 13:08] dverkade opened #20277 "Uploaded file for custom option can't be downloaded again"
### Preconditions
1. Magento 2.3.0 and Magento 2.2.X

### Related issues
I found the following related issue, which was already closed:
- #6558

### Steps to reproduce
1. Create a product with a custom option of the type "File"
2. Create a new order and upload a file for the product as a custom option
3. Check the order and download the file, this is working.
4. Update the product and delete the c

[2019-01-14 13:08] magento-engcom-team commented on #20277
Hi @dverkade. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-14 13:09] dverkade commented on #6558
I'm reopening this issue again, because this is still present in 2.2.X and 2.3.0 according to my research in ticket #20227, so this issue was closed while it was not resolved.

[2019-01-14 13:09] yashwant2jcommerce opened #20278 "Apply discount code placeholder gets cut in Tab portriat view on cart page"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. Add product in shopping cart
2. Goto cart page
3. Click on "Apply Discount Code"

### Expected result (*)

1.
![shopping cart expected](https://user-images.githubusercontent.com/26630846/51114221-a9531c00-182a-11e9-8af5-e43b315e7e78.jpg)

### Actual result (*)

1.
![shopping cart actual](https://user-images.githubusercontent.com/26630

[2019-01-14 13:09] magento-engcom-team commented on #20278
Hi @yashwant2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-01-14 13:10] dipti2jcommerce commented on #20275
In magneto 2.2 button is showing below qty box,
![2019-01-14_18-38_home page](https://user-images.githubusercontent.com/18118638/51114573-b3c1e580-182b-11e9-879b-150470dbe057.jpg)

But in 2.3 version update button overlapping edit and remove link in mobile view

[2019-01-14 13:11] magento-engcom-team commented on #20278
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-14 13:11] magento-engcom-team commented on #20277
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-14 13:12] engcom-backlog-nazar commented on #20277
Hi @dverkade now we have 2 open issue ?

[2019-01-14 13:14] engcom-backlog-nazar commented on #20275
@dipti2jcommerce  i think this issue only on 2.2 , I think the behavior of what is 2.3 is correct

[2019-01-14 13:14] magento-engcom-team commented on #20277
Hi @gulshanchitranshcedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the is

[2019-01-14 13:15] ajay2jcommerce commented on #20278
@magento-engcom-team give me 2.3-develop instance.

[2019-01-14 13:15] magento-engcom-team commented on #20278
Hi @ajay2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-14 13:15] magento-engcom-team commented on #20278
Hi @ajay2jcommerce, here is your [Magento instance](https://i-20278-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20278-2-3-develop.instances.magento-community.engineering/admin](https://i-20278-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-14 13:18] irajneeshgupta commented on #20275
![download](https://user-images.githubusercontent.com/18143480/51114955-d56f9c80-182c-11e9-87a6-a36206d857b6.png)

@engcom-backlog-nazar Its reproduced in 2.3-develop

[2019-01-14 13:20] engcom-backlog-nazar commented on #20275
@irajneeshgupta
![selection_267](https://user-images.githubusercontent.com/40756439/51115082-e52cb800-180f-11e9-88e1-21d037ba238c.png)

[2019-01-14 13:21] irajneeshgupta commented on #20275
@engcom-backlog-nazar
i am checking in this instance:
https://i-20273-2-3-develop.instances.magento-community.engineering/test-product.html

[2019-01-14 13:26] Tonop opened #20279 "MagePlaza Reward Points error when cancelling order"
### Preconditions (*)

1. Magento 2.2.7
2. Mageplaza Reward Point Extension

### Steps to reproduce (*)

Customer has 1 order and Zero Reward Points
1. Go to Sales->Orders
2. Check the order
3. Select Actions -> Cancel
### Expected result (*)

1. Order has been cancelled succesfully.
2.

### Actual result (*)

1. SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child ro

[2019-01-14 13:28] #20279 closed, assigned to nobody

[2019-01-14 13:29] preeti-gupta123 opened #20280 "i am not able to close Advance Pricing page"
### Preconditions (*)

1.  Magento 2.3.0 with sample data
2.  Php Version 7.2

### Steps to reproduce (*)

1. Admin Panel
2. catalog --> Product
3. select type of Product simple
4. click Advance Pricing link
5. click Add button of customer Group Price
6. close page

### Expected result (*)

it should be close advance pricing page when i clicking the close link

### Actual result (*)

i am not able

[2019-01-14 13:31] GovindaSharma commented on #20280
@magento-engcom-team give me 2.3-develop instance

[2019-01-14 13:31] magento-engcom-team commented on #20280
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-14 13:31] ghost opened #20282 "Module Catalog Url Rewrite: Permanent Redirect for old URL is missed when product was imported"
### Preconditions (*)

1. Magento 2.2.7

### Steps to reproduce (*)

1. Export some visible product via System-> Data Transfer-> Export.
2. Change 'url-key' for this product in CSV file.
3. Import this product via System-> Data Transfer-> Import.

### Expected result (*)

1. When you try to open the changed product by the old URL key you are redirected to the new URL.

### Actual result (*)

1. Wh

[2019-01-14 13:31] magento-engcom-team commented on #20282
Hi @olegAleksin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-14 13:32] engcom-backlog-nazar commented on #6558
@dverkade I'm closing this one, as  duplicate  to this one -> https://github.com/magento/magento2/issues/20277

[2019-01-14 13:32] magento-engcom-team commented on #20280
Hi @GovindaSharma, here is your [Magento instance](https://i-20280-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20280-2-3-develop.instances.magento-community.engineering/admin](https://i-20280-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-14 13:32] #6558 closed, assigned to nobody

[2019-01-14 13:32] magento-engcom-team commented on #20282
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-14 13:33] shikhamis11 commented on #20282
@magento-engcom-team give me 2.2-develop instance

[2019-01-14 13:33] magento-engcom-team commented on #20282
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-14 13:34] magento-engcom-team commented on #20282
Hi @shikhamis11, here is your [Magento instance](https://i-20282-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20282-2-2-develop.instances.magento-community.engineering/admin](https://i-20282-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-14 13:35] magento-engcom-team commented on #20280
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97619` were created

[2019-01-14 13:37] shikhamis11 commented on #20282
@olegAleksin did you tried reindexing after changing url key ??

[2019-01-14 13:37] magento-engcom-team commented on #20280
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-14 13:38] engcom-backlog-nazar commented on #20280
Hi @preeti-gupta123 this is not-issue , you need to delete the option customer Group Price, then close,

[2019-01-14 13:38] #20280 closed, assigned to nobody

[2019-01-14 13:39] olegAleksin commented on #20282
@shikhamis11 Yes, I did

[2019-01-14 13:39] magento-engcom-team commented on #20277
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97620`, `MAGETWO-97621` were created

[2019-01-14 13:45] oleksandr-butenko commented on #20282
URL rewrites are not created during to reindex.
URL rewrites are created during saving product or import process.

So if you imported a new file, but URL rewrites are not correct - no need to wait for indexes.
You better check your file, products and Marketing > SEO & Search > URL Rewrite page.

[2019-01-14 13:48] shikhamis11 commented on #20282
@olegAleksin yes url rewrites are created during saving product .

[2019-01-14 13:51] magento-engcom-team commented on #20282
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97622` were created

[2019-01-14 14:30] magento-engcom-team commented on #14937
Hi @sdzhepa. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-01-14 14:30] magento-engcom-team commented on #14937
Hi @quisse. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-01-14 14:32] magento-engcom-team commented on #14663
Hi @jignesh-baldha. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-14 14:34] magento-engcom-team commented on #6272
Hi @ravi-chandra3197. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><su

[2019-01-14 14:38] magento-engcom-team commented on #8868
Hi @peterjaap. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-14 15:19] magento-engcom-team commented on #8777
Hi @ravi-chandra3197. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><su

[2019-01-14 15:25] vitalygrigorishin opened #20287 "Admin - Multi-country - can't create order - Invalid value countryId"
### Preconditions (*)
1. Magento version 2.2.7
2. We have 2 (2+) websites:
2.1 Main Website - for USA (Allowed countries option - only USA selected)
2.2 Canadian Website - For Canada (Allowed countries option -  only Canada selected)

### Steps to reproduce (*)
1. Go to Admin --> Sales --> Orders -- > Create New Order
2. Create New Customer
3. Select Store view Canadian of website
4. Place an orde

[2019-01-14 15:25] magento-engcom-team commented on #20287
Hi @vitalygrigorishin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-01-14 15:34] shikhamis11 commented on #20287
@magento-engcom-team give me 2.2-develop instance

[2019-01-14 15:35] magento-engcom-team commented on #20287
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-14 15:57] sts-ryan-holton opened #20288 "Creating order in Admin area gives 500 error - SalesOrderAfterPlaceObserver not found Magento 2.2.7"
### Preconditions (*)
1. Magento 2.2.7
2. Using MAMP Pro
3. PHP 7.0.22 being used

### Steps to reproduce (*)

1. Go to Admin --> Sales --> Orders -- > Create New Order
2. Add a product, shipping/billing address.

### Expected result (*)
1. Order should successfully complete without errors.

### Actual result (*)
1. After submitting the order I get a PHP 500 error, and after reviewing the MAMP log

[2019-01-14 15:58] magento-engcom-team commented on #20288
Hi @sts-ryan-holton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-14 15:58] shikhamis11 commented on #20287
@vitalygrigorishin this issue is not reproduceable at current magento 2.2-develop instance

[2019-01-14 15:59] magento-engcom-team commented on #20259
Hi @sdzhepa. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-01-14 15:59] magento-engcom-team commented on #20288
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-14 16:02] shikhamis11 commented on #20288
@sts-ryan-holton this seems due to custom module install at your environment . Please contact to related company.
this issue is not reproduceable at 2.2-develop instance

[2019-01-14 16:02] #20288 closed, assigned to shikhamis11

[2019-01-14 16:23] magento-engcom-team commented on #20187
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-14 16:37] key-dev opened #20289 "Twice url in sitemap image path"
### Preconditions (*)
Magento 2.2.2
Apache 2.4
document root public_html

### Steps to reproduce (*)
Add a sitemap with a path of /sitemaps/
Allow cron to generate the sitemap

### Expected result (*)
<image:loc>https://www.site.com/pub/media/catalog/product/cache/c9e0b0ef589f3508e5ba515cde53c5ff/c/m/cm265c.jpg</image:loc>

### Actual result (*)
<image:loc>https://www.site.com/pub/media/https://ww

[2019-01-14 16:37] magento-engcom-team commented on #20289
Hi @key-dev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-14 16:44] irajneeshgupta commented on #20289
@magento-engcom-team give me 2.2-develop instance

[2019-01-14 16:44] magento-engcom-team commented on #20289
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-14 16:44] magento-engcom-team commented on #20289
Hi @irajneeshgupta, here is your [Magento instance](https://i-20289-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20289-2-2-develop.instances.magento-community.engineering/admin](https://i-20289-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-14 16:46] iRabi commented on #15273
Yes, finding same issue in 2.2.5.

[2019-01-14 17:04] anupamyx commented on #3890
Did u find a solution yet ? This behaviour is happening for me as well.

[2019-01-14 17:06] shikhamis11 commented on #20287
@vitalygrigorishin since this issue is not reproduceable I am closing this.

[2019-01-14 17:06] #20287 closed, assigned to shikhamis11

[2019-01-14 17:31] jos-zz commented on #20151
Hi @engcom-backlog-nazar ,
Just want to point out that the Magento version that's having the issue in question is 2.2.6, you are looking in Magento 2.3.x docs.
What actions would you suggest in order to help you reproduce the issue or try to work around it?

[2019-01-14 17:33] raulvian commented on #20147
@engcom-backlog-nazar @irajneeshgupta @magento-engcom-team
By the way, our fix for this, just to provide a workaround solution for any other user with same problem (please, don't Close the ticket if it's not confirmed to be fixed in previous versions)

Observe **controller_action_predispatch** event, and create observer class

    protected $storeManager;
    protected $url;

    public function _

[2019-01-14 19:05] sidolov commented on #19940
Hi @mohammadzakir. Thank you for your report.
The issue has been fixed in magento/magento2#20082 by @milindsingh in 2.2-develop branch
Related commit(s):
 - [4802e00643bae377a254e8d9b92e2bad72c33e65](https://github.com/magento/magento2/commit/4802e00643bae377a254e8d9b92e2bad72c33e65)
 - [cb15b010ddf4bbe9caddac141dfb829926c4a631](https://github.com/magento/magento2/commit/cb15b010ddf4bbe9caddac141d

[2019-01-14 19:05] sidolov commented on #19230
Hi @friendscottn. Thank you for your report.
The issue has been fixed in magento/magento2#19423 by @Winfle in 2.2-develop branch
Related commit(s):
 - [cede04f014733bffc5104f2e26579e8ce242f462](https://github.com/magento/magento2/commit/cede04f014733bffc5104f2e26579e8ce242f462)
 - [11480e8b44d26ecf8e692c1a3406423b1532031f](https://github.com/magento/magento2/commit/11480e8b44d26ecf8e692c1a3406423b

[2019-01-14 19:27] pronto2000 opened #20291 "Catalog reindexing causes temporary table sometime to throw "Integrity constraint violation" errors"
### Preconditions (*)

1. Magento OS 2.2.7
2. MySQL 5.6.42

### Steps to reproduce (*)

This happens very seldom and probably requires a number of conditions to be met. Requires catalog data to be imported.

### Expected result (*)

1. Successful reindexing

### Actual result (*)

1. Throws following error:

Category Products indexer process unknown error:
SQLSTATE[23000]: Integrity constraint vio

[2019-01-14 19:37] shikhamis11 commented on #20291
@pronto2000 can you list out all conditions required to reproduce this issue
With how many products you are checking?

[2019-01-14 19:47] pronto2000 commented on #20291
My original report contains two queries and their results. Those queries use single table (catalog_category_entity) and the table itself contains 618 records:

select count(*) from catalog_category_entity;
[code]

Just in case I also paste full query without LIMIT and OFFSET clauses:

SELECT `c`.`entity_id`, `c`.`path` FROM `catalog_category_entity` AS `c` WHERE (c.created_in <= '1509960477') AND

[2019-01-14 19:51] pronto2000 commented on #20291
Please note that MySQL is known to cause such problem every now and then and because of that the best practices requires ORDER BY clause whenever LIMIT and OFFSET are used.

[2019-01-14 19:53] shikhamis11 commented on #20291
@pronto2000 let us wait someone from Magento core team to verify this issue

[2019-01-14 19:54] magento-engcom-team commented on #20291
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-14 19:56] dambrogia commented on #19469
@sdzhepa Is there any status update to what happened this ticket? You state you "suppose the issue has been resolved" but I don't see anything related to that within this thread of comments/replies. Also the tags of `Reproduced on 2.3.x` and `Fixed in 2.2.x` are quite conflicting (added on Dec 5). Tagging the issue as `Ready for Work` on Dec 5 and then removing the assignment on Dec 5 without any

[2019-01-14 20:12] pronto2000 commented on #20291
Some updates: the commit below unintentionally fixes this problem as a side effect as it removes paging.

[code]

Until then here's a quick patch I created for Magento OS 2.2.7 to fix this problem:
[code]

[2019-01-14 22:33] RedAtRareCandy commented on #20242
Hi @engcom-backlog-nazar

I think you might have closed this prematurely? As soon as I changed the PHP CLI version to 7.2(.13), it looks now like the cron_schedule table is being populated with jobs that it wasn't getting under PHP CLI version 7.1.25.

Did you test with PHP 7.1 or PHP 7.2?

[2019-01-15 02:19] n1cehua1991 commented on #20268
Hi,I follow the guidelines you gave to get the same error results.

[2019-01-15 04:53] yohanespradono commented on #13007
I am having this issue as well while upgrading my magento from 2.1 to 2.2.
Apparently, some our custom modules inject their Command classes using Magento\Sales\Api\OrderManagementInterface and because of the DI chain, it ends up instantiating Magento\Payment\Helper\Data which then calls Magento\Framework\Session\SessionManager

[2019-01-15 06:46] ghoshsweta opened #20292 "In mobile device Minicart arrow pointer not align with cart icon"
In mobile device Minicart arrow pointer not align with cart icon

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Open frontend in mobile
Step 2: click in shoping cart icon (Ref screen shot)

### Expected result (*)

![arrow_sol](https://user-images.githubusercontent.com/25763126/51163337-50819300-18bf-11e9-8fb3-d77b3d0f0f55.png)

### Actual result (*)

![ar

[2019-01-15 06:46] magento-engcom-team commented on #20292
Hi @swetacedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-15 06:46] magento-engcom-team commented on #20292
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-15 06:48] magento-engcom-team commented on #20292
Hi @cedarvinda, here is your [Magento instance](https://i-20292-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20292-2-3-develop.instances.magento-community.engineering/admin](https://i-20292-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-15 06:49] cedarvinda commented on #20292
not an issue....

[2019-01-15 06:49] #20292 closed, assigned to cedarvinda

[2019-01-15 07:32] haljeshi commented on #12356
Having the same problem in Magento Open Source 2.2.3

[2019-01-15 07:57] magento-engcom-team commented on #20289
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-15 08:06] engcom-backlog-nazar commented on #20289
Hi @key-dev thank you for you report, this issue has already fixed in 2.2-develop and 2.3-develop branch. and available on 2.3.0 release

[2019-01-15 08:06] #20289 closed, assigned to nobody

[2019-01-15 08:30] ghoshsweta opened #20293 "Main website label and main website store label not alignd proper overlapping in left navigation in admin panel during create New Cart Price Rule"
Main website label and main website store label not alignd proper overlapping in left navigation in admin panel during create New Cart Price Rule

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)
Step 1: Login to admin panel
Step 2: Go to marketing link from left navigation
     2.a: Click on cart price rules link
     2.b: click on add new rule
     2.c: Go to Labels

[2019-01-15 08:31] magento-engcom-team commented on #20293
Hi @swetacedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-15 08:31] magento-engcom-team commented on #20293
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-15 08:31] cedarvinda commented on #20293
@magento-engcom-team give me 2.3-develop instance

[2019-01-15 08:32] magento-engcom-team commented on #20293
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-15 08:32] magento-engcom-team commented on #20293
Hi @cedarvinda, here is your [Magento instance](https://i-20293-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20293-2-3-develop.instances.magento-community.engineering/admin](https://i-20293-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-15 08:36] magento-engcom-team commented on #20293
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97632` were created

[2019-01-15 08:41] xfolder commented on #13343
Hi. I've same issue with DELETE CURL. Encoding the sku returns the payload but the product is not deleted.

Magento 2.3

[2019-01-15 08:58] magento-engcom-team commented on #5863
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-15 10:15] p-bystritsky opened #20296 ""@magentoDataIsolation" is used instead of "@magentoDbIsolation" in some integration tests."
### Preconditions (*)

1. Magento 2.2.* code.

### Steps to reproduce (*)

1. Browse Magento code.

### Expected result (*)

1.  No "@magentoDataIsolation" annotation should be present as no such class is declared in Magento\TestFramework\Annotation namespace.

### Actual result (*)

1. "@magentoDataIsolation" annotation is present in code.

[2019-01-15 10:15] magento-engcom-team commented on #20296
Hi @p-bystritsky. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-15 10:21] magento-engcom-team commented on #20296
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-15 10:47] engcom-backlog-nazar commented on #20291
Hi @pronto2000 thank you for you report, i'm closing this one as this was fixed by MAGETWO-73140,
Best regards

[2019-01-15 10:47] #20291 closed, assigned to shikhamis11

[2019-01-15 10:48] magento-engcom-team commented on #5863
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97633`, `MAGETWO-97634` were created

[2019-01-15 11:06] ghoshsweta opened #20299 "Order item details label not aligned in mobile view"
Order item details label not aligned in mobile view

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Open frontend and login as customer
Step 2: Go to my account section
Step 3: Click on My order link and open detail any order in mobile
Step 4: You will issue as shown in screenshot

### Expected result (*)
![sol](https://user-images.githubusercontent.com/257

[2019-01-15 11:06] magento-engcom-team commented on #20299
Hi @swetacedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-15 11:06] magento-engcom-team commented on #20299
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-15 11:07] cedarvinda commented on #20299
@magento-engcom-team give me 2.3-develop instance

[2019-01-15 11:07] magento-engcom-team commented on #20299
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-15 11:07] magento-engcom-team commented on #20299
Hi @cedarvinda, here is your [Magento instance](https://i-20299-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20299-2-3-develop.instances.magento-community.engineering/admin](https://i-20299-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-15 11:09] dipti2jcommerce opened #20300 "In Contact form ,Submit button and footer not contain space in desktop view"
In Contact form Submit button and footer not contain space in desktop
### Preconditions (*)

1.Magento 2.3 version
2.Desktop view

### Steps to reproduce (*)

1.Go to contact us link present in footer
2.Form button and footer not have space in desktop view

### Expected result (*)
![2019-01-15_16-37_contact us](https://user-images.githubusercontent.com/18118638/51176863-0fe84080-18e4-11e9-9f83-9d6

[2019-01-15 11:09] magento-engcom-team commented on #20300
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-15 11:10] magento-engcom-team commented on #20300
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-15 11:10] irajneeshgupta commented on #20300
@magento-engcom-team give me 2.3-develop instance

[2019-01-15 11:11] magento-engcom-team commented on #20300
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-15 11:11] magento-engcom-team commented on #20300
Hi @irajneeshgupta, here is your [Magento instance](https://i-20300-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20300-2-3-develop.instances.magento-community.engineering/admin](https://i-20300-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-15 11:11] magento-engcom-team commented on #20299
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-15 11:13] irajneeshgupta commented on #20300
i cannot reproduced it.

[2019-01-15 11:13] #20300 closed, assigned to irajneeshgupta

[2019-01-15 11:14] magento-engcom-team commented on #20299
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97636` were created

[2019-01-15 11:21] sdzhepa commented on #20067
As a possible fix could be next:

Where: https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Checkout/Test/Mftf/ActionGroup/CheckoutActionGroup.xml#L189

Add:
[code]

Instead:
[code]

[2019-01-15 11:42] jvhost commented on #17656
Hi folks ... now I feel like the amateur .. someone helped me discover, this was my own fault.  For some reason in the shipping configuration I had disabled it for the one store I was testing - that would explain it.  Thanks for your patience folks!

[2019-01-15 11:42] #17656 closed, assigned to saravananvelu, jaiminparikh

[2019-01-15 11:55] yashwant2jcommerce opened #20303 "main website store"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-15 11:55] magento-engcom-team commented on #20303
Hi @yashwant2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-01-15 11:56] magento-engcom-team commented on #20303
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-15 11:56] ghoshsweta opened #20304 "No space between step title and saved address in checkout"
No space between step title and saved address in checkout

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Open frontend
Step 2: Add any product in cart
Step 3: Go to checkout and login as existing customer
**Note: Address should saved already**
Step 4: Goto checkout in step 1(Shipping adress)

### Expected result (*)

![sol](https://user-images.githubuserco

[2019-01-15 11:56] magento-engcom-team commented on #20304
Hi @swetacedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-15 11:56] magento-engcom-team commented on #20304
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-15 11:56] magento-engcom-team commented on #20304
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-15 11:57] magento-engcom-team commented on #20303
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-15 11:57] engcom-backlog-nazar commented on #20303
Hi @yashwant2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

[2019-01-15 11:57] #20303 closed, assigned to nobody

[2019-01-15 11:57] cedarvinda commented on #20304
@magento-engcom-team  give me 2.3-develop instance

[2019-01-15 11:58] magento-engcom-team commented on #20304
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-15 11:58] magento-engcom-team commented on #20304
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-15 11:59] magento-engcom-team commented on #20304
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97637`, `MAGETWO-97638` were created

[2019-01-15 12:00] magento-engcom-team commented on #20304
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-01-15 12:02] mohammadzakir opened #20305 "Update button on payment checkout is not proper alligned"
### Preconditions (*)

1. Magento 2.3.0 with sample data
2. Php Version 7.2
3. open frontend on mobile view 360 X 640

### Steps to reproduce (*)

1. Go to frontend
2. Add product to cart
3. Goto Checkout
4. On Payment Information uncheck the box of My billing and shipping address are the same
5. Go down and check update button

### Expected result (*)

1. No design issues

### Actual result (*)

[2019-01-15 12:02] magento-engcom-team commented on #20305
Hi @mohammadzakir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-15 12:02] magento-engcom-team commented on #20305
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-15 12:03] GovindaSharma commented on #20305
@magento-engcom-team give me 2.3-develop instance

[2019-01-15 12:03] magento-engcom-team commented on #20305
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-15 12:04] magento-engcom-team commented on #20305
Hi @GovindaSharma, here is your [Magento instance](https://i-20305-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20305-2-3-develop.instances.magento-community.engineering/admin](https://i-20305-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-15 12:04] cedarvinda commented on #20304
@engcom-backlog-nazar  We should wait for instance always, Please do not add label without instance.

[2019-01-15 12:05] magento-engcom-team commented on #20305
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97639` were created

[2019-01-15 12:05] engcom-backlog-nazar commented on #20304
@cedarvinda i'm testing on my local environment, you don't need instances for single issue.

[2019-01-15 12:06] cedarvinda commented on #20304
Ok

[2019-01-15 12:17] magento-engcom-team commented on #19501
Hi @saphaljha. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-15 12:22] magento-engcom-team commented on #19276
Hi @sdzhepa. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-01-15 12:22] magento-engcom-team commented on #19276
Hi @sarfarazbheda. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-15 12:23] simonmaass commented on #19821
any update here? this seems very important for our customers!

[2019-01-15 12:36] mrmoonlv opened #20309 "URL Rewrites redirect loop"
### Preconditions (*)

1. PHP 7.1
2.  Magento version 2.2.6

### Steps to reproduce (*)

1. Go To Admin Url rewrites.
2. Create New Url rewrite with request-path: **/** and target_path **/** with 301 or 302 redirect./

### Expected result (*)

1. Validation errors, that there will be infinite redirecion loop

### Actual result (*)
1. Browser error:
This page isn’t working. redirected you too many

[2019-01-15 12:36] magento-engcom-team commented on #20309
Hi @mrmoonlv. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-15 12:38] magento-engcom-team commented on #20309
Hi @SikailoISM. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-15 12:38] SikailoISM commented on #20309
@magento-engcom-team give me 2.2.6 instance

[2019-01-15 12:38] magento-engcom-team commented on #20309
Hi @SikailoISM. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2019-01-15 12:38] magento-engcom-team commented on #20309
Hi @SikailoISM, here is your [Magento instance](https://i-20309-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-20309-2-2-6.instances.magento-community.engineering/admin](https://i-20309-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-15 12:40] magento-engcom-team commented on #20309
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-15 12:40] magento-engcom-team commented on #20309
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-15 12:42] SikailoISM commented on #20309
@magento-engcom-team give me 2.3-develop instance

[2019-01-15 12:42] magento-engcom-team commented on #20309
Hi @SikailoISM. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-15 12:43] magento-engcom-team commented on #20309
Hi @SikailoISM, here is your [Magento instance](https://i-20309-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20309-2-3-develop.instances.magento-community.engineering/admin](https://i-20309-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-15 12:45] magento-engcom-team commented on #20309
@SikailoISM Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97640`, `MAGETWO-97641` were created

[2019-01-15 12:52] kevinvarley commented on #7298
I have seen this behaviour on a 2.2.6 install too.

@toanthree Your solution appears to resolve the issue locally. However, the solution makes use of the method "createFilterDataBasedOnUrls" which is marked as deprecated. Is there any workaround for this? Do we know when the method will be removed?

[2019-01-15 13:11] plumbingworld commented on #12468
Hello, I think I have located the fix in the code base:

Replace
`'orderDefault' => $this->_productListHelper->getDefaultSortField(),`

With

`'orderDefault'` => $this->getOrderField(),`

Hope this helps

[2019-01-15 13:11] vipinroy commented on #9255
Any update on this issue? I'm also facing the same problem..
Prev button of pagination will create repeated records. with same data.

[2019-01-15 13:21] NickdeK opened #20310 "Cart section data has wrong product_price_value"
At the moment the `product_price_value` doesn't include tax if the configuration settings are set to include tax.

### Preconditions (*)

1. PHP 7.1
2. Magento 2.2.6
3. Stores > Configuration > Sales > Tax > Shopping Cart Display Settings > Display Prices > Including Tax

### Steps to reproduce (*)

1. Add a item to your cart
2. View the cart section data via Chrome dev tools

### Expected result

[2019-01-15 13:21] magento-engcom-team commented on #20310
Hi @NickdeK. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-15 13:22] magento-engcom-team commented on #20310
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-15 13:24] yashwant2jcommerce opened #20311 "VAT Number verification error message should be in red color"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. Goto admin >> stores >> configuration >> general >> store information >> click on "Validate VAT Number"
2. Showing error message like "Error during VAT Number verification."

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/26630846/51183334-ebe22a80-18f6-11e9-83e5-e63cf8e893e7.png)

### Actual result (*)

[2019-01-15 13:30] magento-engcom-team commented on #20311
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-15 13:30] magento-engcom-team commented on #20311
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-15 13:32] Surabhi-Cedcoss commented on #20311
give me magento2.3 instance

[2019-01-15 13:33] NickdeK commented on #20310
@magento-engcom-team give me 2.2.6 instance

[2019-01-15 13:33] magento-engcom-team commented on #20310
Hi @NickdeK. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2019-01-15 13:34] magento-engcom-team commented on #20310
Hi @NickdeK, here is your [Magento instance](https://i-20310-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-20310-2-2-6.instances.magento-community.engineering/admin](https://i-20310-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-15 13:34] yashwant2jcommerce commented on #20311
@magento-engcom-team give me 2.3-develop instance

[2019-01-15 13:34] magento-engcom-team commented on #20311
Hi @yashwant2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-15 13:35] magento-engcom-team commented on #20311
Hi @yashwant2jcommerce, here is your [Magento instance](https://i-20311-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20311-2-3-develop.instances.magento-community.engineering/admin](https://i-20311-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-15 13:36] mam08ixo commented on #13954
AFAIK the preferred endpoint for creating shipments is `POST /V1/order/{orderId}/ship`.

[2019-01-15 13:39] magento-engcom-team commented on #20311
@Surabhi-Cedcoss Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97642` were created

[2019-01-15 13:40] magento-engcom-team commented on #20310
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-15 13:42] rakeshvarma90 opened #20312 "[2.2.7] Wrong image order when changing swatches in Configurable product"
In configurable product associated product's gallery images not sorting as set in Admin
### Preconditions (*)

1. Magento CE 2.2.7
2. PHP 7.0.6

### Steps to reproduce (*)

1. Create Configurable product and upload images for the associated product.
2. Save Configurable product.
3. Edit one of Associated product and change its image sort order and save that product.

### Expected result (*)

1. Ga

[2019-01-15 13:42] magento-engcom-team commented on #20312
Hi @rakeshvarma90. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-15 13:44] magento-engcom-team commented on #20312
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-15 13:45] irajneeshgupta commented on #20312
@magento-engcom-team give me 2.2-develop instance

[2019-01-15 13:45] magento-engcom-team commented on #20312
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-15 13:46] magento-engcom-team commented on #20312
Hi @irajneeshgupta, here is your [Magento instance](https://i-20312-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20312-2-2-develop.instances.magento-community.engineering/admin](https://i-20312-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-15 14:03] ricardokuki opened #20314 "Product image placeholders upload doent work"
### Preconditions (*)

1. Magento 2.2.7
2. PHP 7.0.32-0

### Steps to reproduce (*)

1. Store > Store > Configuration > Catalog > Product image placeholders
2. Select image for Base, Small, Swatch and Thumbnail
3. Press Save config

### Expected result (*)

1. appear the new product image placeholders uploaded
2.

### Actual result (*)

1. Still appear the magento product image placeholders
2.

[2019-01-15 14:04] magento-engcom-team commented on #20314
Hi @ricardokuki. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-15 14:06] cedarvinda commented on #20314
@magento-engcom-team give me 2.3 develop instance

[2019-01-15 14:07] magento-engcom-team commented on #20314
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3 develop instance for you

[2019-01-15 14:07] engcom-backlog-nazar commented on #20314
Hi @ricardokuki thank you for you report, this issue has already fixed in 2.2-develop and 2.3-develop instance

[2019-01-15 14:07] #20314 closed, assigned to nobody

[2019-01-15 14:10] magento-engcom-team commented on #20310
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97643`, `MAGETWO-97644` were created

[2019-01-15 14:12] magento-engcom-team commented on #20312
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-15 14:19] engcom-backlog-nazar commented on #20312
Hi @rakeshvarma90 thank you for you report, i'm not able to reproduce following steps you described, please check test instance.

[2019-01-15 14:34] zipnfc commented on #18148
@harimayco we applied the change suggested by numan201 and works perfectly for us on 2.2.6 ! Life saver! Thanks @numan201

[2019-01-15 14:38] maderlock commented on #19842
This issue was specifically raised as a 2.2.7 problem. It would be great to get a solution for the most relevant stable Magento version - in this case 2.2.

If you close a ticket how is anyone going to pick this up for a 2.2 port as this clearly needs?

It would help to at least have a relevant pull for 2.3 so that someone can work on a solution for 2.2.

[2019-01-15 16:05] PierreLeMaguer commented on #19457
I am facing the same issue as described above step
I have installed sample data & edited "24-WG080" main bundle product but Bundle Items TAB is not showing.

[2019-01-15 16:08] ghost opened #20317 "Magento_CheckoutAgreement wysiwyg: true does not work 2.3"
### Preconditions (*)
1. 2.3
2. Enviroment is https://github.com/markoshust/docker-magento
3. OS is Manjaro Linux

### Steps to reproduce (*)
1. Edit Magento\CheckoutAgreements\Block\Adminhtml\Agreement\Edit\Form.php _prepareForm() method
2. Change 'content' field to have a true value on 'wysiwyg' key

### Expected result (*)
1. Expected checkout agreements content field to be displayed using the

[2019-01-15 16:08] magento-engcom-team commented on #20317
Hi @ajduff14. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-15 16:10] magento-engcom-team commented on #20317
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-15 16:37] shoetrees commented on #11532
still broken in 2.3, fix not working.

[2019-01-15 16:43] torhoehn opened #20319 "EAV attribute backend_type changes during attribute save"
### Preconditions (*)

1. Magento 2.2.6 and Magento 2.3.0
2. PHP 7.1.22

### Steps to reproduce (*)

1. Create attribute via InstallData.php with backend_type decimal. E.g.:
[code]

2. In eav_attribute table attribute will have backend_type decimal.
3. Save attribute in backend.

### Expected result (*)

1. backend_type shouldn't change.

### Actual result (*)

1. In eav_attribute table attribute

[2019-01-15 16:44] magento-engcom-team commented on #20319
Hi @torhoehn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-15 16:48] magento-engcom-team commented on #20319
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-15 16:51] magento-engcom-team commented on #20317
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97646`, `MAGETWO-97647` were created

[2019-01-15 17:23] diazwatson commented on #5849
### Preconditions
1.  Magento 2.1.0
2.  Make sure Check Money Order method is enabled
### Steps to reproduce

1. Create a module that depends on Magento_Checkout
2. Inside your module, create the following layout

[code]
3. Flush caches and delete the content of pub/static/frontend/*
4. Add a product to the cart and go to the checkout

### Expected
- You should see the `postcode` field at the very

[2019-01-15 17:52] dachaga opened #20321 "REST API special-price without price_to param set a wrong value"
When a request to special-price API is sent without price_to param, the special price value is setted with a incorrect value

### Preconditions (*)
1. Magento version 2.3.0
2. One product in the catalog.
3. Use Postman to do request to the Magento API

### Steps to reproduce (*)
1. Use postman to get token to operate with magento API.
http://site.com/rest/V1/integration/admin/token?username=user&p

[2019-01-15 17:52] magento-engcom-team commented on #20321
Hi @dachaga. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-15 17:55] magento-engcom-team commented on #20321
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-15 17:59] irajneeshgupta commented on #20321
@magento-engcom-team give me 2.3-develop instance

[2019-01-15 17:59] magento-engcom-team commented on #20321
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-15 18:09] GovindaSharma commented on #20319
hi @torhoehn i have checked internally in magento2.3 version and i am not able to reproduce this issue.

[2019-01-15 18:20] torhoehn commented on #20319
@GovindaSharma I'll provide a screen recording tomorrow.

[2019-01-15 18:23] irajneeshgupta commented on #20321
@dachaga
I was not able to reproduce it.
`[
  {
    "price": 2800,
    "store_id": 0,
    "sku": "teest",
    "price_from": "2019-02-01 00:00:00",
    "price_to": null
  }
]`

[2019-01-15 18:58] #20321 closed, assigned to irajneeshgupta

[2019-01-15 20:21] orlangur commented on #20309
@mrmoonlv @SikailoISM system works correctly as per configuration, what could be the reason to specify such request and target path?

[2019-01-15 21:45] panel123 commented on #16447
Thanks for your follow-ups and tips
The problem was solved

[2019-01-15 22:18] ricardokuki commented on #20314
thank you ????

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: engcom-backlog-nazar <notifications@github.com>
Sent: Tuesday, January 15, 2019 12:08:15 PM
To: magento/magento2
Cc: ricardokuki; Mention
Subject: Re: [magento/magento2] Product image placeholders upload doent work (#20314)

Hi @ricardokuki<https://github.com/ricardokuki> thank you for you r

[2019-01-15 23:43] miguelBarreiro85 opened #20324 "Save new product attribute option"
### Preconditions (*)

1. Magento 2.3.0

### Steps to reproduce (*)

1. Create a new Option for a product attribute with OptionFactory
            $option = $this->optionFactory->create();
            $option->setLabel($optionLabel);
            $option->setStoreLabels([$optionLabel]);
            $option->setSortOrder(0);
            $option->setIsDefault(false);
2. Add Option with attributeOptio

[2019-01-15 23:43] magento-engcom-team commented on #20324
Hi @miguelBarreiro85. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-01-15 23:47] jajajaime commented on #5665
Thanks, @Neusta-Hartwig. Your solution works as expected!

[2019-01-16 00:00] magento-engcom-team commented on #20232
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#20233 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [5598b97e47bb6d25b13e198d5acfc23bc8101440](https://github.com/magento/magento2/commit/5598b97e47bb6d25b13e198d5acfc23bc8101440)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-16 00:00] #20232 closed, assigned to GovindaSharma, SyntaxKay

[2019-01-16 00:00] magento-engcom-team commented on #20158
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#20160 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [c060b57a5e65c2dedf3a935db1d82f0cd63926f0](https://github.com/magento/magento2/commit/c060b57a5e65c2dedf3a935db1d82f0cd63926f0)
 - [1e7bae1eda1148fab178e9ae43366f6ae35d876f](https://github.com/magento/magento2/commit/1e7bae1eda1148fab178e9ae43366f

[2019-01-16 00:00] #20158 closed, assigned to nobody

[2019-01-16 00:00] magento-engcom-team commented on #19816
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#19817 by @abrarpathan19 in 2.3-develop branch
Related commit(s):
 - [373fa092a62511a3aa357658e9ca33124aa8ceec](https://github.com/magento/magento2/commit/373fa092a62511a3aa357658e9ca33124aa8ceec)
 - [ff786af483f9ad6f1d5e7150632199978a46b71d](https://github.com/magento/magento2/commit/ff786af483f9ad6f1d5e7150

[2019-01-16 00:00] magento-engcom-team commented on #20140
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20168 by @amol2jcommerce in 2.3-develop branch
Related commit(s):
 - [e1abd4a0274e241e7ef50fa0e5b43dd5530bafab](https://github.com/magento/magento2/commit/e1abd4a0274e241e7ef50fa0e5b43dd5530bafab)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-16 00:00] #20140 closed, assigned to amol2jcommerce, dipti2jcommerce, GovindaSharma

[2019-01-16 00:00] magento-engcom-team commented on #20120
Hi @priti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20132 by @yashwant2jcommerce in 2.3-develop branch
Related commit(s):
 - [9c2c4e64b11943b1a75d4439c7a4486a48827669](https://github.com/magento/magento2/commit/9c2c4e64b11943b1a75d4439c7a4486a48827669)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-16 00:00] #20120 closed, assigned to priti2jcommerce, GovindaSharma

[2019-01-16 00:00] magento-engcom-team commented on #20098
Hi @flytomek. Thank you for your report.
The issue has been fixed in magento/magento2#20127 by @irajneeshgupta in 2.3-develop branch
Related commit(s):
 - [7f4dffdbd5b58a39ae043a9b47a5c75e19f6a552](https://github.com/magento/magento2/commit/7f4dffdbd5b58a39ae043a9b47a5c75e19f6a552)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-16 00:00] #20098 closed, assigned to irajneeshgupta

[2019-01-16 00:00] magento-engcom-team commented on #19974
Hi @kunj1988. Thank you for your report.
The issue has been fixed in magento/magento2#19992 by @kunj1988 in 2.3-develop branch
Related commit(s):
 - [4ed79dc73482011e1a9023c9e33a7866b56a05c9](https://github.com/magento/magento2/commit/4ed79dc73482011e1a9023c9e33a7866b56a05c9)
 - [82e51caf89389c9ffbfb1d85b33421a65b491012](https://github.com/magento/magento2/commit/82e51caf89389c9ffbfb1d85b33421a65b

[2019-01-16 00:00] #19974 closed, assigned to nobody

[2019-01-16 00:00] magento-engcom-team commented on #4136
Hi @devhn. Thank you for your report.
The issue has been fixed in magento/magento2#19390 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [00f4f7dcbc1a9e236eb6c9c84001efcd49c92df1](https://github.com/magento/magento2/commit/00f4f7dcbc1a9e236eb6c9c84001efcd49c92df1)
 - [40086305aef6638d1004e8b4b0f86bc051732714](https://github.com/magento/magento2/commit/40086305aef6638d1004e8b4b0f86bc05173

[2019-01-16 01:56] magento-engcom-team commented on #20324
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-16 03:31] michael-yangjun opened #20326 "SQLSTATE[HY000]: General error: 1787 with Magento 2.2.0 When import product."
Preconditions

    Magento CE 2.2.0
    MySQL 5.6 (Aliyun RDS)
    PHP Version 7.1.11-1+ CENTOS 7.6 x64

Steps to reproduce

    In the backend, go to System> Import, Import Products.

Expected result

    It should import products from select file.

Actual result

    I get the following message in the backend:

    Checked rows: 6, checked entities: 6, invalid rows: 0, total errors: 0
    File i

[2019-01-16 03:31] magento-engcom-team commented on #20326
Hi @michael-yangjun. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-16 03:36] magento-engcom-team commented on #20326
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-16 03:38] GovindaSharma commented on #20324
@miguelBarreiro85 thanks for your report,its look like this is not an issue ,$optionLabel must be string rather than object.

[2019-01-16 03:50] michael-yangjun commented on #20326
My database server is on Aliyun RDS.

It's very important!

[2019-01-16 05:36] rakeshvarma90 commented on #20312
@magento-engcom-team pleasee provide me 2.2.7 instance I will reproduce this error

[2019-01-16 05:40] preeti-gupta123 opened #20330 "content overlap with close button when i switch store view"
### Preconditions (*)

 1.   Magento 2.3.0
2.    Php version 7.2

### Steps to reproduce (*)

1. Admin Panel
2.  catalog--> Product
3. click edit link in created product
4. switch store view

### Expected result (*)

it should not be overlap content when i switch store view

### Actual result (*)

content overlap with close button when i switch store view

![test downloadble product products inven

[2019-01-16 05:40] magento-engcom-team commented on #20330
Hi @preeti-gupta123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-16 05:40] magento-engcom-team commented on #20330
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-16 05:40] GovindaSharma commented on #20330
@magento-engcom-team give me 2.3-develop instance

[2019-01-16 05:40] magento-engcom-team commented on #20330
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-16 05:49] magento-engcom-team commented on #20330
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97649` were created

[2019-01-16 05:55] cedarvinda commented on #20330
@GovindaSharma this issue fixed as global solution #19986

[2019-01-16 05:55] #20330 closed, assigned to GovindaSharma

[2019-01-16 06:03] LuciferStrome opened #20331 "Required Exclude All in CSV Export to include only few product attributes"
### Preconditions (*)

1.Magento 2.3.0

### Steps to reproduce (*)

1. Open System -> Export
2. Try to include only sku and name attribute (you have to check all other attributes except name and sku)

### Expected result (*)

1. You can select only sku and name (or any few attributes)

### Actual result (*)

1. ![uttam_sir](https://user-images.githubusercontent.com/25526158/51229430-702dbf80-1982-

[2019-01-16 06:03] magento-engcom-team commented on #20331
Hi @LuciferStrome. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-16 06:03] magento-engcom-team commented on #20331
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-16 06:07] GovindaSharma commented on #20330
@cedarvinda thanks for this update.

[2019-01-16 06:07] rakeshvarma90 commented on #20312
@magento-engcom-team give me 2.2-develop instance

[2019-01-16 06:07] magento-engcom-team commented on #20331
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97650`, `MAGETWO-97651` were created

[2019-01-16 06:08] magento-engcom-team commented on #20312
Hi @rakeshvarma90. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-16 06:11] irajneeshgupta commented on #20331
@LuciferStrome
It should be added in feature report.

[2019-01-16 07:02] milindsingh commented on #20326
@michael-yangjun Can you share your complete `Properties` of Aliyun RDS.
I think its due to the configurations which are not generally supported by Magento.

[2019-01-16 07:05] ghoshsweta opened #20332 "Shipping address form City, State/Province, Zip/Postal Code, Country not in right Order in checkout"
Shipping address form **City, State/Province, Zip/Postal Code, Country fields** not in right Order in checkout

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Open frontend
Step 2: Add any product in cart
Step 3: Go to checkout and and see shipping address form

### Expected result (*)
Order should be in : **Country**, **State/Province**, **City**, **Zip/Po

[2019-01-16 07:05] magento-engcom-team commented on #20332
Hi @swetacedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-16 07:05] magento-engcom-team commented on #20332
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-16 07:06] cedarvinda commented on #20332
@magento-engcom-team give me 2.3-develop instance

[2019-01-16 07:06] magento-engcom-team commented on #20332
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-16 07:10] magento-engcom-team commented on #20296
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-16 07:10] magento-engcom-team commented on #20332
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97652` were created

[2019-01-16 07:11] magento-engcom-team commented on #20296
@milindsingh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97653`, `MAGETWO-97654` were created

[2019-01-16 07:14] thesurenk opened #20333 "Magento 2.3.0 fails to install with fatal error message - PHP 7.3.0"
### Preconditions (*)

1. Apache 2.4.37
2. PHP 7.3.0
3. MySql Community Server 8.0

### Steps to reproduce (*)

1. Install PHP 7.3.0 on Mac
2. At https://magento.com/tech-resources/download - Under "Full Release with Sample Data" - Download Version 2.3.0 zip
3. Copy folder to Apache htdocs folder
4. Restart Apache
5. Browse to http://localhost/<instal-folder>/setup

### Expected result (*)

1. Sho

[2019-01-16 07:14] magento-engcom-team commented on #20333
Hi @ksurendra. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-16 07:17] magento-engcom-team commented on #20333
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-16 07:20] magento-engcom-team commented on #20333
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-16 07:21] magento-engcom-team commented on #20319
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-16 07:23] #20333 closed, assigned to GovindaSharma, cedarvinda

[2019-01-16 07:40] magento-engcom-team commented on #20331
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-16 07:41] magento-engcom-team commented on #20326
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-16 07:42] magento-engcom-team commented on #20324
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-16 07:44] engcom-backlog-nazar commented on #20324
Hi @ thank you for you report, this is non issue please use $optionLabel->getLabel()

[2019-01-16 07:44] #20324 closed, assigned to GovindaSharma

[2019-01-16 07:44] magento-engcom-team commented on #20319
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-16 07:46] magento-engcom-team commented on #20332
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-16 07:48] engcom-backlog-nazar commented on #20319
Hi @torhoehn thank you for you report, this issue has already fixed in 2.3-develop and will be available  on 2.3.1 release. https://github.com/magento/magento2/issues/9219

[2019-01-16 07:48] #20319 closed, assigned to milindsingh, GovindaSharma

[2019-01-16 07:48] engcom-backlog-nazar commented on #20331
Hi @LuciferStrome    thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-16 07:48] #20331 closed, assigned to irajneeshgupta

[2019-01-16 07:51] nadim2jcommerce commented on #20282
Hi @olegAleksin,

This is not an issue. Also not indexing issue. You should add url redirect in Admin for this.
Redirection old url to New url
Magento Admin=>Marketing=>Seo and Search=>URL Rewrites.

Thanks!
Nadim

[2019-01-16 07:55] mrmoonlv commented on #20309
@orlangur, Yes: “system works correctly as per configuration”, but:

Fot configuration where request pahts == target paths, no dev user can break a whole webpage with never ending redirection loop.

Ofcourse: no one systems isnt secure to prevent foolish secure UX

[2019-01-16 08:11] LuciferStrome opened #20335 "Other Currency to Base Currency Rate Conversion is not working"
### Preconditions (*)

1. Magento 2.2.3

### Steps to reproduce (*)

1. Go to Store -> Configuration -> General -> Currency Setup
2. Set Base currency to USD
3. Set Allowed Currencies to USD and AUD both
4. Go to Store -> Currency Rate
5. Set AUD currency Rate to its corresponded default currency rate (Eg : 1.39)
6. Now Call this function : `$priceHelper = $this->objectManager->create('Magento\Dir

[2019-01-16 08:11] magento-engcom-team commented on #20335
Hi @LuciferStrome. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-16 08:11] magento-engcom-team commented on #20335
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-16 08:12] magento-engcom-team commented on #20335
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97656`, `MAGETWO-97657` were created

[2019-01-16 08:12] magento-engcom-team commented on #20335
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-16 08:21] LuciferStrome commented on #20335
@engcom-backlog-nazar i have worked on this, I will create a pull request in some time with updated files.

[2019-01-16 08:21] engcom-backlog-nazar commented on #20335
@LuciferStrome i'm will recheck this issue.

[2019-01-16 09:10] engcom-backlog-nazar commented on #20335
Hi @LuciferStrome this is not-issue you need to setup 2 stores with different currencies, and get "AUD" from different store.

[2019-01-16 09:10] #20335 closed, assigned to irajneeshgupta

[2019-01-16 09:11] #20312 closed, assigned to irajneeshgupta

[2019-01-16 09:16] engcom-backlog-nazar commented on #20312
@rakeshvarma90 please provide a screenshot of your actual result, because i was recheck, and this issue is not reproducible

[2019-01-16 09:39] engcom-backlog-nazar commented on #20312
@rakeshvarma90 i was recheck on both 2.2-develop and 2.3-develop there is no this issue.