[2017-12-13 17:02] 4quaternion commented on #12676
#mageconf

[2017-12-13 17:03] walterbak opened #12680 "Magento 2.x.x - Configurable.js not consider currency on _calculatePrice function"
When I select an option in Configurable product with a currentCurrency different from baseCurrency, the product page show the final price with the value of the baseCurrency with the symbol of currentCurrency.

**Preconditions**
- Magento 2.1.11
- PHP 7
- Mac OS

**Steps to reproduce**
- Set 2 currency in the store (EUR and USD);
- Set EUR as default currency.
- Create a configurable product, with

[2017-12-13 17:04] 4quaternion commented on #12676
#mageconf

[2017-12-13 17:08] 4quaternion commented on #12676
#mageconf

[2017-12-13 17:09] 4quaternion commented on #12676
#mageconf

[2017-12-13 17:15] 4quaternion commented on #12676
#mageconf

[2017-12-13 17:16] 4quaternion commented on #12676
#mageconf

[2017-12-13 17:47] AymericJoubert commented on #12662
Same issue on magento 2.2.2-dev fresh install.

[2017-12-13 17:57] gianiaco commented on #6831
I confirm issue.
@bahramdavodi , great module man, a little bug is in di.xml in type attribute, you have to replace with
`<preference for="Magento\Framework\Stdlib\DateTime\Timezone" type="Magonex\DateTime\Framework\Timezone"/>`

My version 2.2.1

[2017-12-13 18:01] bahramdavodi commented on #6831
@gianiaco fixed. thanks

[2017-12-13 18:09] versdivers commented on #12488
Any update on this?

[2017-12-13 18:19] triabhishek95 commented on #3463
You can try this

 it will bring all the products sku falling in the same category.

[2017-12-13 19:35] sambalay opened #12682 "Shipping Price after discount"
Hi,
magento version - 2.1.8 we are doing free shipping over 50$.

In checkout shipping step , customer is selecting 0.00 (free shipping) since it is above 50$

In payment section , they are applying promo code where subtotal is below 50$ but shipping charge still shows 0.00

They should be charged 8.12 ground shipping charge.

![capture-discount](https://user-images.githubusercontent.com/30907888/

[2017-12-13 20:16] edcg commented on #12411
@sanjayjethva I am having the same issue. How did you solve it?

[2017-12-13 20:56] orlangur commented on #12669
"at least potentially" is not an attack vector :)

Yeah, and converting data is backward-incompatible thus it is not a good idea for patch release.

[2017-12-13 21:18] mysil2 commented on #12578
This is marked as "Fixed in 2.3.x". Anybody know which pull request fixed this in 2.3.x? I'm looking for a temporary fix for my 2.1.x store.

[2017-12-13 21:33] terrybakshi opened #12683 "Magento 2.2.2 update gives error 500"
After I updated from Magento 2.2.1 to 2.2.2 my Website is not working any longer. Its giving internal server error 500.

**Preconditions**

Magento 2.2.2
PHP 7.0.

**Steps to reproduce**

Go to admin and load web setup wizard to upgrade magento 2.2

**Expected result**

Website should load without any errors

 **Actual result**
![error](https://user-images.githubusercontent.com/13229022/33963513-4

[2017-12-13 22:26] sfedosimov opened #12684 "Fatal error: Uncaught Error: Call to a member function getDownloadableOption()"
### Preconditions
1. Pure magento 2.1.11

### Steps to reproduce
1. Add to cart simple and downloadable products
2. Try to place order with multishipping addresses
3. After click place order button see result

### Expected result
1. Links to placed orders

### Actual result
http://joxi.ru/4Ak95MahM7jQ5m

[code]

[2017-12-13 23:37] #12660 closed, assigned to nobody

[2017-12-13 23:44] ishakhsuvarov commented on #12378
Hi @amansrivastava
We are closing this issue now as the fix has been delivered with the commit https://github.com/magento/magento2/commit/3839c0fc45f270839dddd6fc6025876fc2cf13c3 and should be released with 2.2.4
Thank you.

[2017-12-13 23:44] #12378 closed, assigned to p-bystritsky

[2017-12-13 23:44] ishakhsuvarov commented on #12452
Hi @ffrodoe
We are closing this issue now as the fix has been delivered with the commit https://github.com/magento/magento2/commit/3839c0fc45f270839dddd6fc6025876fc2cf13c3 and should be released with 2.2.4
Thank you.

[2017-12-13 23:44] #12452 closed, assigned to nobody

[2017-12-13 23:46] ishakhsuvarov commented on #8647
Hi @kanduvisla
We are closing this issue now as the fix has been delivered with the commit 3839c0f and should be released with 2.2.4
Thank you.

[2017-12-13 23:46] #8647 closed, assigned to serhii-balko

[2017-12-13 23:47] ishakhsuvarov commented on #11946
Hi @sunilit42 @versdivers
We are closing this issue now as the fix has been delivered with the commit 3839c0f and should be released with 2.2.4
Thank you.

[2017-12-13 23:47] #11946 closed, assigned to RomaKis

[2017-12-14 00:43] gerrybarron commented on #12618
At home page

[2017-12-14 01:05] iamkerly commented on #11654
@fwolfst Yes were using Table Shipping Rate from Kahanit..

[2017-12-14 01:45] sky4git commented on #11671
Please reopen the issue. It exists in Magento CE 2.1.0

Upon saving/updating product it does not appear in frontend. Especially, when we create new product, it wont appear on front-end.

I have tried clearing all the cache as well.

Only way to make it appear in category page is wither running indxer:reindex or saving the category directly.

[2017-12-14 03:24] likemusic commented on #2816
I have the same issue after `php bin/magento setup:di:compile`. But `php bin/magento setup:upgrade` fix it (in my case).

[2017-12-14 05:00] sennin32 commented on #12567
Seems I can not even find related records with product got this issue in table prefix_cataloginventory_stock_item.
I guess this is not right!?

[2017-12-14 05:38] terrybakshi commented on #12683
![3e90a57b1eaa793f26ca80a35a393ef6363800d00059bdf0f7 pimgpsh_fullsize_distr](https://user-images.githubusercontent.com/13229022/33977083-2f825ea6-e0ed-11e7-93e5-76c43cbaaf6a.png)

[2017-12-14 06:36] impunkj commented on #6020
Not working in magento 2.1.7. Any update on this ?

[2017-12-14 06:53] digvijay2017 commented on #6831
Hi @bahramdavodi

After installing your module, I am not getting the other date format in calendar. Calendar always showing the US date format, because you  in your function you have added US hard coded. I think, it's not a proper solution.

[code]

[2017-12-14 06:56] bbaoden opened #12688 "cant not update order status magento 2.2.2"
### Preconditions

1. cant not update order status magento 2.2.2
2.
cant not update order status magento 2.2.2
### Steps to reproduce

1. i try to add or edit,update  order status but button save not working

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-12-14 07:18] magento-engcom-team commented on #3720
@tkn98, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-14 07:18] #3720 closed, assigned to nobody

[2017-12-14 07:25] jigar48 commented on #10055
Hello M2,

Is this issue is fixed.

[2017-12-14 07:29] bevtew opened #12689 "Hi, I think that there might be a problem with my Magento.2.1.3 site. When I try to save any alterations to a product nothing happens. I don't an error message, just click and it does nothing. When I try to import new stock it says this message 'Please make sure attribute "style" is not empty. in row(s): 1,2', but I can't see this attribute in any sample import. Also we've had no sale on the site since the 8th of December. Our hosting team have had a look into it and although they think something strange is happening they can't see anything wrong from the control panel end. Does anyone know what might be going wrong."
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-12-14 07:47] okorshenko commented on #12689
We are closing this issue. Please report new issue following this issue reporting guide
Thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, create an issue with description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Ple

[2017-12-14 07:47] #12689 closed, assigned to nobody

[2017-12-14 07:48] joni-jones commented on #12653
Hi, @cbend, Braintree, PayPal Braintree and PayPal PayflowPro based on [Magento Payment Gateway](http://devdocs.magento.com/guides/v2.2/payments-integrations/payment-gateway/payment-gateway-intro.html) and throw `\Magento\Payment\Gateway\Command\CommandException`. So, this is expected behavior.

I'm closing this ticket as not an issue.

[2017-12-14 07:48] #12653 closed, assigned to nobody

[2017-12-14 07:51] joni-jones commented on #12654
Hi, @william-hiko, did you enabled `Transaction API` in the Authorize.net account? Also, the sandbox URL for the transaction API should be configured as `https://apitest.authorize.net/xml/v1/request.api `.

[2017-12-14 08:00] magento-engcom-team commented on #12688
@bbaoden Please use our issue reporting template to describe this issue. The template specifies the steps and configuration information we need to assess your issue. See the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) for more information.

[2017-12-14 08:20] bahramdavodi commented on #6831
@digvijay2017 this problem is with libicu in centos. magento work well in the Ubuntu and Debian or  Mac OS well.
i'm support magento for persian language and for now this is best solution.

i'm writting a new module for this problem. when this extension is finished, i published it.

thanks for you

[2017-12-14 08:31] aasim110 opened #12691 "Magento 1.9.2 Paypal mobile issue"
### Preconditions

1. Magento 1.9.2.1
2. PHP Version 5.6.32
3. all mobile device (Android / IOS )

### Steps to reproduce

1.  Add products to cart in mobile, and pay via paypal button (using default magento paypal module )
2.  In mobile when I have tried to checkout its asking me to open paypal via paypal app
3. This is not asking for other sites

### Expected result

4.  I need to open paypal in

[2017-12-14 08:39] magento-engcom-team commented on #12691
@aasim110 , thank for you report. Check please for this issue is still actual for latest 2.1.x or 2.2 release.

[2017-12-14 08:42] schmengler commented on #12669
When did Magento ever follow the "patch release" semantics for the product version? ;)

[2017-12-14 08:42] yspeedwicked commented on #11427
@magento-engcom-team can you please share commit link ?

[2017-12-14 08:44] p-bystritsky commented on #7627
@tlygnersjo no.

[2017-12-14 08:52] #10531 closed, assigned to nobody

[2017-12-14 09:05] #12691 closed, assigned to nobody

[2017-12-14 09:08] magento-engcom-team commented on #12641
@synolia-bvo, thank you for your report.
The issue is already fixed in 2.2.1

[2017-12-14 09:08] #12641 closed, assigned to nobody

[2017-12-14 09:15] pvj commented on #10954
Why would this be a feature request and not a bug?

@zzvara @simonattilahun this is how I've been working around this for now:
(Depending on which Paypal payment method you use the actual file and methods to modify might be different. I've had to set up express checkout, so that's what you find covered below.)

In `vendor/magento/module-paypal/Model/Api/Nvp.php` update the public fun `callSetExpre

[2017-12-14 09:18] magento-engcom-team commented on #12679
@aKalisch , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2017-12-14 09:22] okorshenko commented on #12682
Thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to reproduc

[2017-12-14 09:25] magento-engcom-team commented on #12662
@AymericJoubert, thank you for your report.
We've created internal ticket(s) MAGETWO-85642 to track progress on the issue.

[2017-12-14 09:37] swarishna opened #12693 "Magento"
All admin menu link don't work and have a strange icons. Why? I can't do anything

[2017-12-14 09:46] magento-engcom-team commented on #12693
@swarishna Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2017-12-14 09:47] vitormicillo commented on #12570
I just ran into my terminal
`composer update`
I cleaned the cache and the static files my problem was solved

Magento 2.2.1, PHP 7.1

[2017-12-14 09:49] magento-engcom-team commented on #12618
Unfortunately @gerrybarron, we are not able to reproduce Your issue. It seems to be caused by some environmental settings. Please try to find the answer on the sites like [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/). Thank You.

[2017-12-14 09:49] #12618 closed, assigned to nobody

[2017-12-14 09:52] magento-engcom-team commented on #12618
@gerrybarron, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-14 10:00] leoncito73 commented on #12588
@magento-engcom-team
After searching I found one possible reason of this issue. But their solutions wan't work for me
Before this happen I had 3 stores (look attachment)
And after deleted one start the problem
I had to restore my site to my last point to fixed, but now I have the 3 stores again, and I'm afraid to delete one
So to reproduce
1 - 3 stores like in SS
2 - Delete one (in my case, defaul

[2017-12-14 10:13] alena-marchenko opened #12695 "Unable to change attribute type from swatch to dropdown"
### Preconditions
1. Magento is installed from 2.2-develop branch
2. Product attribute is created (Stores > Attributes > Product):
- Catalog Input Type for Store Owner = **Visual Swatch**
- Scope = Global
3. Created product attribute is added to Default attribute set (Stores > Attributes > Attribute Set)

### Steps to reproduce
1. Create new configurable product based attribute from precondition
2

[2017-12-14 10:22] Vinai opened #12696 "Integration tests create stub modules in app/code"
When even a single integration test is executed, the following files and directories are created:

[code]
(Note: the module `Magento_TestModuleFakePaymentMethod` is not generated in Magento 2.2.0).
This is a problem because running integration tests should not affect the installed Magento instance.

### Preconditions

Reproduced on fresh installations of Magento 2.2.0 and 2.2.2. I haven't tried on

[2017-12-14 10:23] bmisyura opened #12697 "Cart Price Rule for configurable products"
### Preconditions

Install Magento from 2.2.-develop branch

 ### Steps to reproduce

 - Create two configurable products with children SKU-A, SKU-B
 - Create Cart Price Rule with type _Specific Coupon_
 - Go to Actions tab and set discount 70%
 - Setup Apply the rule only to cart items matching the following conditions (leave blank for all items).
        - If ALL  of these conditions are TRUE :

[2017-12-14 10:23] vinaykumar9999 opened #12698 "Getting Error 503 On Upgrade and New Installation of Magento 2.2.2"
### Preconditions

1.  Apache 2.4 - PHP 7.0.2 - MySQL 5.6
2.  Varnish 5.0

### Steps to reproduce

Tried the Following two ways
1.  On Fresh Installation - Opening link with the installation path - Getting 503 Error.
2.  On Updating From Magento 2.2.1 - Updating via ssh Getting 503 Error -  there is no files like "maintenance.flag" in var folder

### Expected result

1. Will show the installation

[2017-12-14 10:29] bmisyura opened #12699 "Multiselect Attribute is not saved for a product in the admin panel when it has a related product using another attribute set"
### Preconditions

1. Install Magento from 2.2.-develop branch

### Steps to reproduce

1. Create 2 attribute sets from the Default one.
2. Create a multi-select attribute and assign it to set #1.
3. Create a product 1 with attribute set #2.
4. Create a product 2 with attribute set #1 and set a product 1 as it's related product.
5. Save product 2 without populating the multi-select.
6. Edit the pr

[2017-12-14 10:30] kurtinge commented on #9440
I can also confirm that this is an issue with the sitemap index.
The issue can be tracked back to [\Magento\Sitemap\Model\Sitemap::_getDocumentRoot](https://github.com/magento/magento2/blob/3797563aeceeeb851d7b65673652a337c9ce29d3/app/code/Magento/Sitemap/Model/Sitemap.php#L708).
When you run as cron `$this->_request->getServer('DOCUMENT_ROOT')` will be empty, and `realpath` with an empty input wi

[2017-12-14 10:34] Triloworld commented on #12081
Found core problem of this issue on site.
Thx @jhruehl for tip but won't solve it.
Step to reproduce problem:

Add

[code]
This is in minicart text which don't translate correct.
After site load, check console. This text isn't translate.
Next, run in console the same code:
[code]
Text is translate.

Even more. This content of script loading fine:
[code]
Bug is in order of script loading.

[2017-12-14 10:34] swarishna commented on #12693
How to integrate the new theme?

[2017-12-14 10:41] bmisyura opened #12700 "Cannot save date on product attribute when using a locale that changes date format and the day is greater than 12"
If you add a date attribute to a product or add a date in a product widget and are using a locale that changes the date format and the day set is greater than 12, you get the following error when saving:
Invalid input datetime format of value '14/06/2017'. If you set the date in US english first and then switch to another locale, it displays an incorrect date (when day is greater than 12). If you

[2017-12-14 10:53] bmisyura opened #12701 "Magento order grid not updated after API status updates"
With Asynchronous Grid Indexing status updates to an order via the Magento 2.2 APIs are not reflected in the order grid.

### Preconditions

Install Magento from 2.2.-develop branch

### Steps to reproduce

1. Enable Asynchronous Indexing in Stores > Configuration > Advanced > Developer > Grid Settings
2. Create a new order
3. Add status update via API call, e.g.,

 {
"statusHistory": {
"comment":

[2017-12-14 10:53] lalittmohan opened #12702 "Product Filter by Name in Admin Panel Magento 2.1.10, 2.1.9"
### Preconditions
1.Install Magento 2.1.9,2.1.10 with sample data with luma theme
2. Magento admin panel ->PRODUCTS->INVENTORY->CATALOG

### Steps to reproduce

1. Open catalog in admin panel to search products by name
2. Give space before type product name when search by filter in search box by name
3. Give space two time after product type or use Capital letter or small letter instead of exact p

[2017-12-14 10:57] gwharton commented on #12700
Heavily related, and possible duplicate of #10580

[2017-12-14 10:58] bmisyura opened #12703 "Unable to save "State is Required for" multiselect with all options unchecked"
### Preconditions

1. Install Magento from 2.2-develop or 2.3-develop branch

### Steps to reproduce

1. Go to Store>Configuration>General>State Options
2. In the 'State is Required for' list make sure no options are selected
3. Save configuration

### Expected result

1. Last checked options still selected

### Actual result

1. No options should be selected

[2017-12-14 10:59] magento-engcom-team commented on #12693
@swarishna please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-14 10:59] #12693 closed, assigned to nobody

[2017-12-14 11:02] giacmir commented on #11899
I have the same issue, but it is caused by something more serious: The flag_data field in the flag table is too short to contain the whole json config.

That field is a TEXT field, so it can contain 65,535 chars. My serialized json is 71,347 so it is truncated at the end and it is not valid json anymore.

@orlangur can you take another look on this issue please?

[2017-12-14 11:03] magento-engcom-team commented on #12696
Hi @Vinai. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/38

[2017-12-14 11:04] bmisyura opened #12704 "Zoom functionality not allowing vertical scrolling when using firefox"
### Preconditions

Environment:
1. Firefox : version 53.0.2 +
2. Magento from 2.2-develop branch
3. Use large picture (zoom in and zoom out buttons should be visible)

### Steps to reproduce

1. Make sure you are using Firefox
2. Navigate to a Product Details page
3. Click on image
4. zoom in
5. scroll to the top of the page to see the top of the head of the model (click on image and drag it to th

[2017-12-14 11:08] gwharton commented on #12623
I had the same issue with getting any of the shipping modules to log debug.

The only way round it for me was to add the following line to core_config table in SQL

[code]
and then flush config cache.

[2017-12-14 11:14] alena-marchenko opened #12705 "Integrity constraint violation error after reordering product with custom options"
### Preconditions
1. Magento with Sample Data is installed from 2.2-develop branch

### Steps to reproduce
1. Go to Admin > Products > Catalog
2. Click **Add product** button
3. Fill in information for the item
- Product name = testprod
- Sku = testprod
- Add product to any category
- At the *Configurations* section click **Edit Configurations** button
-- Select color and size from the list and cl

[2017-12-14 11:20] tonybrown85 commented on #12683
@magento-engcom-team I'm experiencing the same issue when upgrading from 2.2.1 to 2.2.2. 500 Internal Server Error. Renaming the .htaccess file will then allow the page to load but all the file assets 500 anyway. Any help to get this resolved asap would be greatly appreciated as we need to upgrade to the latest version for all the fixes and enhancements. Thanks, Tony

[2017-12-14 11:25] ishakhsuvarov commented on #12676
Test #mageconf

[2017-12-14 11:30] ishakhsuvarov commented on #12676
Test #mageconf

[2017-12-14 11:35] 4quaternion commented on #12676
#mageconf

[2017-12-14 11:35] magento-team commented on #12676
@4quaternion thank you for joining. Please accept team invitation [here]() and self-assign the issue.

[2017-12-14 11:37] ishakhsuvarov commented on #12676
#mageconf

[2017-12-14 11:37] magento-team commented on #12676
@4quaternion thank you for joining. Please accept team invitation [here]() and self-assign the issue.

[2017-12-14 11:41] josephmcdermott opened #12707 "PayPal Billing/Shipping missing on Virtual orders"
This is a new ticket to re-open https://github.com/magento/magento2/issues/5873 since that ticket has been closed when there is still a major issue. Here are my consolidated comments from the previous ticket:

This is very easy to replicate with a clean Magento:

- install Magento 2.2.0 with sample data (or 2.2.1, but I happened to try with 2.2.0)
- add sandbox paypal credentials in the admin pane

[2017-12-14 11:41] josephmcdermott commented on #5873
Opened a new ticket https://github.com/magento/magento2/issues/12707 to try and get an answer, since this one is closed and likely being ignored.

[2017-12-14 11:45] giacmir commented on #12707
I have the same issue. Every purchase of virtual quotes with paypal print the address template instead of the address information in admin order view page.

[2017-12-14 11:47] magento-engcom-team commented on #12702
@lalittmohan, thank you for your report.
The issue is already fixed in 2.3.0, 2.2.2

[2017-12-14 11:47] #12702 closed, assigned to nobody

[2017-12-14 12:05] 4quaternion commented on #12676
#mageconf

[2017-12-14 12:05] magento-engcom-team commented on #12684
@sfedosimov, thank you for your report.
The issue is already fixed in 2.3.0, 2.1.11

[2017-12-14 12:05] #12684 closed, assigned to nobody

[2017-12-14 12:06] sureshpareek opened #12708 "Class 'Magento\Setup\Application' not found"
Today I Upgrade my Magento from 2.1.7 to 2.2.2. In this process, I got one error that I cannot resolve. and this comes with every command. if I run command php bin/Magento -v then also this problem comes up.

Stack trace:
#0 /home/epic/public_html/bin/magento(21): Magento\Framework\Console\Cli->__construct('Magento CLI')
#1 {main}
  thrown in /home/epic/public_html/vendor/magento/framework/Console

[2017-12-14 12:09] magento-team commented on #12676
@4quaternion thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-14 12:11] alena-marchenko opened #12709 "Ajax loader hangs when creating product with custom Attribute Set"
### Preconditions
1. Magento is installed from 2.2-develop branch
2. Create new Attribute Set based on Default
- create new group "inventory"
- move attributes "price", "quantity_and_stock_status" to "inventory" group
3.  Save new attribute set

### Steps to reproduce
1. Login to Admin
2. Go to Catalog > Products
3. Click **Add Product** button
4. Switch to attribute set created in preconditions

[2017-12-14 12:18] magento-engcom-team commented on #12671
@asrenzo, thank you for your report.
We've created internal ticket(s) MAGETWO-85657 to track progress on the issue.

[2017-12-14 12:23] p-bystritsky commented on #12657
This is an expected behavior, so issue should be treated as feature request.

[2017-12-14 12:24] Jilco opened #12710 "New order email and invoice email not send with not round grand total"
### Preconditions

1.  Magento 2.2.1
2.  PhP 7.1 / Opcache 7.1
3. MariaDb 10.1
4. Mollie Ideal 1.1.3

### Steps to reproduce
1. Product in catalog with price 9,95 (of 10,95, 11,95, etc.)
2. Make new order 0,5 (or 1,5) of this product
3. Price total wil then be 4.975
4. Pay with Mollie Ideal (or other payment provider)
5. Order is placed and i see him in backend

### Expected result
New order email

[2017-12-14 12:28] 4quaternion commented on #12676
#mageconf

[2017-12-14 12:29] magento-team commented on #12676
@4quaternion thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-14 12:33] 4quaternion commented on #12676
#mageconf

[2017-12-14 12:33] magento-team commented on #12676
@4quaternion thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-14 12:34] ishakhsuvarov commented on #12676
#mageconf

[2017-12-14 12:37] #12676 closed, assigned to nobody

[2017-12-14 12:48] okorshenko commented on #10600
Hi @RishabhRkRai
We are closing this issue. @KirianM thank you for research.

[2017-12-14 12:48] #10600 closed, assigned to KirianM

[2017-12-14 12:50] okorshenko commented on #4831
Hi @vovayatsyuk
The issue has been fixed in  #11805
@thiagolima-bm thank you for your contribution! 👍

[2017-12-14 13:25] nobuttsalex commented on #11116
This change has removed a very useful part of referenceBlock that I have used a lot in my modules.

If I need to change the Block class of a Block, ideally I would create a preference in di.xml. But this is not always practical, for example Magento\Catalog\Block\Product\View is used for loads of different Blocks and I do not necessarily want to change Magento\Catalog\Block\Product\View for every B

[2017-12-14 13:33] magento-engcom-team commented on #12400
@lano-vargas Thank you for clarifying some steps. We tried to follow them and we got an empty category page without products and without the filter navigation. Could you please watch the [video](https://streamable.com/wh0v9) we made where we are trying to follow the steps you provided. And tell us if we missing something. Thank you in advance. https://streamable.com/wh0v9

[2017-12-14 13:44] william-hiko commented on #12654
Many Thanks @joni-jones, the Transaction Details URL was missed in the article for this i could not get the details

[2017-12-14 13:45] #12654 closed, assigned to nobody

[2017-12-14 14:12] #12488 closed, assigned to nobody

[2017-12-14 14:12] alena-marchenko opened #12711 "Default Welcome message is broken on storefront with enabled translate-inline"
### Preconditions
1. Magento is installed from 2.2-develop branch
2. Several products are created

### Steps to reproduce
1. Add product to cart on Storefront
2. Login to admin area
3. Set **Enabled for Storefront** option to **Yes** (Stores > Configuration > Advanced > Developer > Translate Inline) and save configuration
4. Refresh magento cache
5. Go to storefront as guest

### Expected result
D

[2017-12-14 14:16] Yamaha32088 commented on #11529
@magento-engcom-team do you happen to have the pull request number or the specific files that were changed to patch this bug? I can't seem to find it anywhere and I am having the same issue after upgrading to 2.2.2. I believe I may be doing an override in my theme that may be causing it which is why I would like to know which files were modified.

[2017-12-14 14:19] dakira commented on #12659
@magento-engcom-team I'll try this on a freshly setup blank store and get back to you asap.

[2017-12-14 14:20] magento-engcom-team commented on #12488
Hi @versdivers thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-14 14:38] vinaykumar9999 commented on #12698
New .htaccess file is implement in Magento 2.2.2 which require "mod_version" module of Apache.
Have to install that on server to make Magento Installation.

[2017-12-14 14:38] #12698 closed, assigned to nobody

[2017-12-14 15:14] lano-vargas opened #12712 "Latest Google Chrome Browser issue with duplicate #email"
Magento 2.1.7
Latest Google Chrome Version { Version 63.0.3239.84 (Official Build) (64-bit) } detects duplicate ids and console.log an ERROR

Navigate to Magento default contact page the form#contact-form contain #email and the login at header form#login-form also  contain #email that gives the error: attached screenshot.
<img width="1282" alt="screen shot 2017-12-14 at 14 57 36" src="https://user

[2017-12-14 15:29] mbrzuzy commented on #5657
@magento-engcom-team I'm on v2.1.10 and it's still happening.

[2017-12-14 15:40] magento-engcom-team commented on #12712
@lano-vargas, thank you for your report.
We've created internal ticket(s) MAGETWO-85675 to track progress on the issue.

[2017-12-14 15:42] alena-marchenko opened #12713 "Currency symbol overlaps entered attribute option's price while creating Configurable Product"
### Preconditions
1. Magento is installed from 2.2-develop branch
2. Australian Dollar is set as Base & Allowed Currency (**Stores > Configuration** page, **General > Currency Setup > Currency Options** section)

### Steps to reproduce
1. Log in to Admin
2. Go to Catalog > Products
3. Start creating configurable product.
4. Click **Create Configurations** button & proceed up to step 3.
5. Select A

[2017-12-14 15:48] Triloworld commented on #12081
I have one more think. It is connected to this one.

After digging in backend found this one file:

[code]

I have file with 90 lines. After parse I get 77 lines.
http://sandbox.onlinephpfunctions.com/code/9f9ff5544baf9e8939db4bc2996bef9c8056bdfb

Same string, diferent size or special char?
Is this working fine and that way is ok?

[2017-12-14 15:55] sambalay commented on #12682
First enable free shipping method with minimum order amount as 50$

Then add products to cart for example subtotal is 60

Then proceed to checkout

Enter shipping info and select FREE shipping method (since it is above 50$)

Then Apply Coupon 20% OFF - which brings down subtotal below 50$

But Shipping method is still shows FREE, it should calculate on subtotal after discount

Expected result - it

[2017-12-14 16:13] mistub70 commented on #8404
@magento-engcom-team

Can confirm the issue:
Magento 2.1.9
PHP 7.0.24
Debian Jessie

[2017-12-14 16:15] alena-marchenko opened #12714 "Extra records are in exported CSV file for order"
### Preconditions
1. Magento is installed from 2.2-develop branch
2. Two orders are created
3. Invoices are created for these orders

### Steps to reproduce
1. Log in to Admin
2. Go to Sales > Orders
3. Open one of the orders from preconditions
4. Go to Invoices tab
5. Click **Export** and select CSV
6. Open exported CSV file

### Expected result
Information related to one invoice only is displaye

[2017-12-14 16:19] korostii commented on #9516
This is probably a bit off-topic. I'll just say that I really don't see where are you getting the "intended" part from and how is it relevant. I mean, the feature itself is already present, effectively making this issue a "bug report" or a "suggested improvement" at best.

Yes, of course, it is better than forums. Personally, I do not know what's the benefit over having them right here in the same

[2017-12-14 16:24] Dart18 commented on #10588
@xtremeperf I tested your fix with 2.2.0 CE and it works!
Thank you.

[2017-12-14 16:25] alena-marchenko opened #12715 "Storefront Back to Sign in button does not work as expected"
### Preconditions
1. Magento is installed from 2.2-develop branch
2. Set **Require Emails Confirmation** = **Yes** at  Stores > Configuration > Customers > Customer Configuration
3. Switch to Blank theme
### Steps to reproduce
1. Go to Storefront as a guest
2. Start creating new customer
3. Fill in all the required fields
4. Click  **Create an Account**
5. Click **click here** from message `Please

[2017-12-14 16:47] alena-marchenko opened #12716 "Import doesn't allow to set default value per store view (dropdown fields)"
### Preconditions
1. Magento is installed from 2.2-develop branch
2. Two store views are created (english and chinese)
3. Products are imported from attached file
[import_productsoftwostoresdata.csv.zip](https://github.com/magento/magento2/files/1560048/import_productsoftwostoresdata.csv.zip)

### Steps to reproduce
1. Log in to Admin
2. Go to Catalog > Products
3. Open product name4
4. Go to Adva

[2017-12-14 16:52] cbend commented on #12653
Hi @joni-jones,

I am referring to Braintree errors like **throw new Exception('No available payment tokens')**, which can be found in `\Magento\Braintree\Gateway\Command\GetPaymentNonceCommand::execute`.

Thanks

[2017-12-14 17:05] joni-jones commented on #12653
This exception more for developers but not for customers because on that step it's extraordinary situation.

[2017-12-14 17:27] alena-marchenko opened #12717 "Catalog Products List widget is not displayed on Storefront"
### Preconditions
1. Magento is installed from 2.2-develop branch

### Steps to reproduce
1. Go to Stores > Attributes > Product and open "Color" attribute
2. Create 2 options red and black
3. Add this attribute to attribute set
4. Create 2 simple products with red and black attributes
5. Go to Stores> Configuration > CATALOG > Catalog > Storefront
6. Set "Use Flat Catalog Category" = Yes and "Use

[2017-12-14 17:35] liquidia commented on #12411
same issue while updating theme

[2017-12-14 17:37] navinbhudiya commented on #12623
@avoelkl  i have updated information as per your suggestion

[2017-12-14 18:24] george-vlahakis opened #12718 "url_path not updated in category save in multi view store when url_key same as default url_key"
When changing/setting a category url_key on save the url_path is updated to match the change. However, and I will try to make this as clear as possible ...

If you are changing the category url_key in a store view which is **not** "all" and the value of the url_key matches the value set under the "all" store view then the url_path entry is not updated.

Scenario:
A store with two store views (engl

[2017-12-14 18:39] cbend commented on #12653
@joni-jones ,

Here are some better examples:

`\Magento\Payment\Model\Method\Adapter->validate()`

[code]
`\Magento\Braintree\Gateway\Command\GetPaymentNonceCommand::execute`

[code]

`Magento\Paypal\Model\Payflow\Service\Response\Validator\ResponseValidator`
` throw new LocalizedException(__('Transaction has been declined'));`

[2017-12-14 18:42] genyuk commented on #8174
Hi
When we switch to "Flat Products" we still see the same error on Magento 2.2.2 CE (See the error below).
How it was "fixed"?

Zend_Db_Statement_Exception(code: 42): SQLSTATE[42S22]: Column not found: 1054 Unknown column 'e.quantity_and_stock_status' in 'where clause', query was: SELECT COUNT(DISTINCT e.entity_id) FROM `catalog_product_flat_1` AS `e`
INNER JOIN `catalog_category_product_index` A

[2017-12-14 19:58] ci2014 commented on #8337
Able to reproduce on 2.2.1 after using Data Migration Tool from Magento 1.9.4

[2017-12-14 20:07] alena-marchenko opened #12719 "Welcome message is shown with customer's first and last names after confirming account"
### Preconditions
1. Magento is installed from 2.2-develop branch
2. Set **Require Emails Confirmation = Yes** at Stores > Configuration > Customers > Customer Configuration

### Steps to reproduce
1. Go to Storefront as a guest
2. Start creating new customer
3. Fill in all the required fields
4. Click **Create an Account**
5. Open confirmation email and click the **Confirm Your Account** button

[2017-12-14 20:21] alena-marchenko opened #12720 "Customer section is not updated after cancelling subscription for newsletters"
### Preconditions
1. Magento is installed from 2.2-develop branch

### Steps to reproduce
1. Go to Storefront as a guest
2. Subscribe for news letters as not logged in customer
3. Login to Admin
4. Go to Marketing > Communications > Newsletter Templates
5. Create new Template
6. Run Cron Twice from console (bin/magento cron:run)
7. Check your email (The link will be similar to http://127.0.0.1:800

[2017-12-14 20:24] belshire commented on #12398
Same problem, Magento 2.2.1.

[2017-12-14 20:35] alena-marchenko opened #12721 "Fixed amount discount for whole cart applying an extra cent to the discount amount"
### Preconditions
1. Magento is installed from 2.2-develop branch

### Steps to reproduce
1. Log in to Admin
2. Go to Marketing > Promotions > Cart Price Rule
3. Create Cart Price Rule with the following data:
- Coupon couponName, all websites, all customer groups
- Conditions:
-- Subtotal  equals or greater than  45
- Actions:
-- Apply Fixed amount discount for whole cart
-- Disocunt amount = 15,

[2017-12-14 20:50] BarnyShergold commented on #8174
The problem is more wide ranging. If you have Flat Products on and the you use a widget on a page where a condition is based on an attribute that is NOT on the Flat Product table (Product Listing = Off) then the error will occur as Magento is not building the query correctly.

[2017-12-14 20:50] BlackIkeEagle commented on #12570
@vitormicillo It's very specific to PHP 7.1.12 and 7.2.0 with opcache enabled

[2017-12-14 20:55] #5774 closed, assigned to marinagociu

[2017-12-14 20:56] okorshenko commented on #5774
Hi @yangsystem
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-14 20:57] okorshenko commented on #10743
Hi @ADDISON74
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-14 20:57] #10743 closed, assigned to p-bystritsky

[2017-12-14 20:57] okorshenko commented on #12667
Hi @Nix-id
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-14 20:57] #12667 closed, assigned to RomaKis

[2017-12-14 20:58] okorshenko commented on #12084
Hi @Detzler
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-14 20:58] #12084 closed, assigned to p-bystritsky

[2017-12-14 20:58] okorshenko commented on #12656
Hi @AndrewPenry
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-14 20:58] #12656 closed, assigned to RomaKis

[2017-12-14 21:10] alena-marchenko opened #12722 "Unable to translate strings using javascript dictionary"
### Preconditions
1. Magento is installed from 2.2-develop branch
2. Default or Developer mode
3. 2 custom Store Views created and enabled
4. All indexers are valid
5. Different locales are set for each Store View, for example:
- **Ukrainian (Ukraine)** for the 1st custom Store View
- **French (France)** for the 2nd custom Store View
- Leave **English (United States)** on Default Config level to b

[2017-12-14 21:48] Tomasz-Silpion commented on #12722
See https://github.com/magento/magento2/issues/8508 (I managed to resolve similar issue there with code left in comments) and https://github.com/magento/magento2/issues/10673

I believe it's already described as MAGETOTWO-72301 and there's already fix for the problem developed in https://github.com/magento/magento2/commit/fc34d7bf5afce2db5f6019dcb5c259e1178fb3dc

[2017-12-14 21:53] rcdlopez commented on #9466
@JasonScottM - the link you provided requires login.

[2017-12-14 21:58] Ctucker9233 commented on #7560
@spotmarketing I was asking the Magento team to backport it or mark it up for grabs. Since the original issue was reported against 2.1 it should be fixed in 2.1 in my opinion. Unless you are part of the Magento team, this isn't likely something you can do.

[2017-12-14 23:50] orlangur commented on #12669
I meet such kind of response regularly in pull requests here :)

There were a bunch of "bug" reports here related to third party code broken due to 2.2 upgrade (when it was not updated from serialization perspective). Introducing such kind of change in 2.1.x would product even bigger wave of reports.

Let's wait for the response of officials and/or other opinions.

[2017-12-15 00:02] webazad commented on #12683
Facing same problem

[2017-12-15 00:04] webazad commented on #12655
Facing same problem

[2017-12-15 00:04] versdivers commented on #12488
If i would tell you an elephant is black and i gave you a picture of it you do not believe its black until you can find one? I mean you can clearly see that you do not use 'source id' in your SQL query what so ever... but 'source id' is what represents the product. 'entity id' is just the grouped product so you should be able to have multiple entity id's since multiple lines are created with the s

[2017-12-15 00:22] spotmarketing commented on #7560
Thanks but I am looking for an answer on this.  It is not fixed in 2.1 and
we are unable to launch the site because of this issue.

How to I go about getting a resolution on this?

Thanks
Jason

Jason Smith
*CEO*
*Spot Marketing Group*
p: 519.303.1154 Ext. 110  m:  226.268.0064
f: 519.303.1153
a: 132 Thames St. N. Ingersoll, ON N5C 2T4
w: www.spotmarketing.ca   e:  jsmith@spotmarketing.ca
<https:/

[2017-12-15 00:27] bvboas commented on #12683
I had the same problem.

The issue was with apache. It did not have the module "mod_version" installed.

[2017-12-15 01:49] sandervall opened #12724 "No action buttons in "View and Edit Cart" for configurable product"
### Preconditions
Magento 2.2.2
Linux, Apache

### Steps to reproduce
1. Add a configurable product to your shopping cart
2. Go to View ans Edit Cart page (/checkout/cart/)
3. Try to find Edit and Remove action links next to the configurable product

### Expected result
1.  You should be able to Edit or Remove the product

### Actual result
1. I have 2 configurable products in my cart and 1 virtua

[2017-12-15 01:58] sky4git opened #12725 "Advance inventory values switch to original values in backend"
### Preconditions
1. Magento CE 2.2.2
2. PHP 7.0

### Steps to reproduce
1. In product edit screen go to **Advanced inventory**
2. Change the value of Maximum Qty Allowed in Shopping Cart (untick Use Config Settings)
![image](https://user-images.githubusercontent.com/8438024/34023060-f5b19264-e196-11e7-843a-e55cea226fc8.png)
3 Save the product.

### Expected result
1.  Open the **Advanced inventor

[2017-12-15 03:54] zin-mi opened #12726 "Can't Close Pop-up Photo in Product View - Ipad Real"
Hi Everyone,
I have to try to DEV Magento.  But I have the problem in Ipad Real with Photo Popup in Product view.
Magento Version is Magento CE 2.1.x  or above.
### Steps to reproduce

1.  Go to one product in Magento Details
2.  Click on Main Photo
3. Try to close but it not working. https://www.dropbox.com/s/snszgct78vefwzc/2017-12-15_10-49-10.png?dl=0
Please note this issue only problem on Ipad

[2017-12-15 04:42] s00071609 opened #12727 "Magento 2.2.x Product Attribute showing unwanted field in store front Magento 2.2.2 issue"
Version:
Magento 2.2.0, 2.2.1 or 2.2.2

**Steps to reproduce**

1. Upgrade from version 2.1 to 2.2.
2. You should have a configurable product with swatch (text or visual) or create a new one

Expected Result
It should show text swatch or visual swatch options only

Actual result

![swatch](https://user-images.githubusercontent.com/19631643/34027055-5dcfc7fa-e1ae-11e7-9c3f-f0dd702cce08.PNG)
1. It s

[2017-12-15 06:39] magento-engcom-team commented on #12588
@leoncito73 ,thank for you update. We are not reproduce when delete default store. Please check this issue with vanilla installation without any extension if you have.

[2017-12-15 06:44] magento-engcom-team commented on #12725
Hello @sky4git. Currently we are not able to reproduce Your issue. Would You please try to reproduce it on a freshly installed, clear instance of Magento 2.2.2 CE. Thank You.

[2017-12-15 06:46] prestashoppay commented on #10141
@ferrarmax , Please update your modified function put it here .

Thanks ,

[2017-12-15 06:49] magento-engcom-team commented on #5351
@deepanshu27193, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-15 06:49] #5351 closed, assigned to nobody

[2017-12-15 06:52] darinda commented on #12655
I can confirm the same problem arising on my magento2 installation after upgrading from 2.2.1 to 2.2.2. Downgrading back to 2.2.1 fixes the problem.

[2017-12-15 06:53] magento-engcom-team commented on #12683
@terrybakshi , thank for you report.
When facing a 500 error the first thing you should do is search for your webserver error log. When running on apache it can mostly be found in one of these 2 locations:
/var/log/httpd/ -> centos, archlinux ...
/var/log/apache2/ -> debian, ubuntu ...

[2017-12-15 07:07] conflicker commented on #6731
I got the same error. I created bundle product and add virtual products on it but the price of all child products is $0. When I tried to click add to cart I got error message:

Upon checking exception.log, I got the same error above.

[2017-12-15 07:33] serhii-balko commented on #9916
Hi @lfritsche
This issue already fixed in 2.1.10 version

[2017-12-15 07:53] Jawahar1994 opened #12728 "Category return empty in magento2.2.1 after installing new theme."
### Preconditions

1.
2.

### Steps to reproduce

1. Call to a member function getTree() on null in C:\wamp64\www\magento3\vendor\magento\module-catalog\Plugin\Block\Topmenu.php on line 102

### Expected result

1.i want all category in the navigation menu.

### Actual result

1. [Screenshot, logs]

[2017-12-15 07:58] xpoback commented on #12719
#mageconf

[2017-12-15 07:59] magento-engcom-team commented on #12719
@xpoback thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:01] novakivskiy commented on #12509
#mageconf

[2017-12-15 08:01] Mobecls commented on #10705
#mageconf

[2017-12-15 08:02] magento-engcom-team commented on #12509
@novakivskiy thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:02] magento-engcom-team commented on #10705
@Mobecls thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:05] Styopchik commented on #12439
#mageconf

[2017-12-15 08:06] magento-engcom-team commented on #12439
@Styopchik thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:08] ihor-sviziev commented on #12717
#mageconf

[2017-12-15 08:11] barbarich-p commented on #12721
#mageconf

[2017-12-15 08:12] magento-engcom-team commented on #12721
@barbarich-p thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:13] demtaric commented on #12705
#mageconf

[2017-12-15 08:14] magento-engcom-team commented on #12705
@demtaric thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:14] vasylmalanka commented on #12720
#mageconf

[2017-12-15 08:14] hannassy commented on #12193
#mageconf

[2017-12-15 08:15] magento-engcom-team commented on #12720
@vasylmalanka thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:15] magento-engcom-team commented on #12193
@hannassy thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:16] joni-jones commented on #12653
$validator = $this->getValidatorPool()->get('global');
        } catch (\Exception $e) {
            return $this;
        }

Not a payment exception, but infrastructure. This validation is not used by Payment Gateway but is used by Quote and Sales modules.

                __(implode("\n", $result->getFailsDescription()))
            );

Does not relate to Payment Gateway infrastructure and could

[2017-12-15 08:16] Sorbog commented on #12703
#mageconf

[2017-12-15 08:16] avelikdusgg commented on #9685
#mageconf

[2017-12-15 08:17] magento-engcom-team commented on #12703
@Sorbog thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:17] magento-engcom-team commented on #9685
@avelikdusgg thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:19] laconica-sergey commented on #7861
#mageconf

[2017-12-15 08:20] magento-engcom-team commented on #7861
@laconica-sergey thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:23] OleksiiStepanov commented on #12514
#mageconf

[2017-12-15 08:24] magento-engcom-team commented on #12514
@OleksiiStepanov thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:25] AlexandrKozyr commented on #4389
#mageconf

[2017-12-15 08:25] EfremovaVI commented on #12713
#mageconf

[2017-12-15 08:26] magento-engcom-team commented on #4389
@AlexandrKozyr thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:26] magento-engcom-team commented on #12713
@EfremovaVI thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:27] StasKozar commented on #12715
#mageconf

[2017-12-15 08:28] magento-engcom-team commented on #12715
@StasKozar thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:28] virtual97 commented on #12374
#mageconf

[2017-12-15 08:29] awarche commented on #12699
#mageconf

[2017-12-15 08:29] magento-engcom-team commented on #12374
@virtual97 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:29] magento-engcom-team commented on #12699
@awarche thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:31] RomaKis commented on #8624
Working on this.

[2017-12-15 08:31] RomaKis commented on #8168
Working on this.

[2017-12-15 08:31] RomaKis commented on #8114
Working on this.

[2017-12-15 08:31] RomaKis commented on #8615
Working on this.

[2017-12-15 08:32] pixmin commented on #12581
@okobchenko Hi, I see you removed the 2.2.x label, does that mean a fix has been applied to this version? Thanks :)

[2017-12-15 08:32] RomaKis commented on #8830
Working on this.

[2017-12-15 08:35] p-zamoroka commented on #12578
#mageconf

[2017-12-15 08:36] magento-engcom-team commented on #12578
@p-zamoroka thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:37] AndrewMun commented on #12578
#mageconf

[2017-12-15 08:38] RostislavS commented on #12717
#mageconf

[2017-12-15 08:38] magento-engcom-team commented on #12578
@AndrewMun thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:38] magento-engcom-team commented on #12717
@RostislavS thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:39] Zamoroka commented on #12578
#mageconf

[2017-12-15 08:40] magento-engcom-team commented on #12578
@Zamoroka thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:42] kis28viktor commented on #12578
#mageconf

[2017-12-15 08:43] magento-engcom-team commented on #12578
@kis28viktor thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:44] magefan commented on #11695
#mageconf

[2017-12-15 08:45] magento-engcom-team commented on #11695
@magefan thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:47] mslabko commented on #12578
@kis28viktor, please accept invitation and assign issue to yourself

[2017-12-15 08:49] MazurVlad commented on #12714
#mageconf

[2017-12-15 08:50] magento-engcom-team commented on #12714
@MazurVlad thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:51] KonstantinZhidkovskiy commented on #12711
#mageconf

[2017-12-15 08:51] eugene-shab commented on #12695
#mageconf

[2017-12-15 08:52] magento-engcom-team commented on #12711
@KonstantinZhidkovskiy thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:52] magento-engcom-team commented on #12695
@eugene-shab thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:52] magento-engcom-team commented on #12718
@georgios-2317, thank you for your report.
We've created internal ticket(s) MAGETWO-85710 to track progress on the issue.

[2017-12-15 08:55] fwolfst commented on #12615
If you want to have redirects working in a similar setting, the "trick" would be to to but nginx even more in front and let it do the redirection.

So, nginx 80 -> nginx 443 (just tls stuff) -> varnish (local, 8011 or whatever) -> nginx (local 8080, serving magento)

[2017-12-15 08:56] dzianis-yurevich commented on #10838
#mageconf

[2017-12-15 08:56] magento-engcom-team commented on #12724
@sandervall Thanks for your report. We tried to reproduce it on the clean instance of Magento. And everything works fine. Could you please try to reproduce it on the clean instance of Magento? Or can you please clarify some steps in order for us to reproduce the issue. Thank you.
![7a92fdc6df29be36d8197e74c6f769a9affbeebde6761a6147 pimgpsh_fullsize_distr](https://user-images.githubusercontent.com/

[2017-12-15 08:57] magento-engcom-team commented on #10838
@dzianis-yurevich thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 08:59] sneig commented on #10838
#mageconf

[2017-12-15 08:59] magento-engcom-team commented on #10838
@sneig thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:02] madbounce commented on #12716
#mageconf

[2017-12-15 09:03] magento-engcom-team commented on #12716
@madbounce thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:11] tonybrown85 commented on #12683
Thank you @bvboas I will give that a try. Much appreciated!

[2017-12-15 09:22] Mobecls commented on #5968
#mageconf

[2017-12-15 09:26] cytracon commented on #12356
Still doesn't work with Magento 2.2.2, not fixed ...

[2017-12-15 09:27] vadim4err commented on #12697
#mageconf

[2017-12-15 09:28] magento-engcom-team commented on #12697
@vadim4err thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:34] iop commented on #12718
#mageconf

[2017-12-15 09:35] magento-engcom-team commented on #12718
@iop thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:36] okorshenko commented on #12718
@iop thank you for joining. Please accept team invitation here and self-assign the issue.

[2017-12-15 09:37] michael1986 commented on #12709
#mageconf

[2017-12-15 09:37] torvik23 commented on #12709
#mageconf

[2017-12-15 09:37] orlangur commented on #12662
#mageconf

[2017-12-15 09:38] magento-engcom-team commented on #12709
@michael1986 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:38] magento-engcom-team commented on #12709
@torvik23 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:38] magento-engcom-team commented on #12662
@orlangur thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:40] leoncito73 commented on #12588
@magento-engcom-team
I just finish to check in a vanilla installation without any extension and also me can't reproduce the issue.
So should be some extension or theme, correct?

[2017-12-15 09:42] johnpark-mosquitodigital commented on #11577
When will this be fixed in the core and rolled out to 2.2 branch?

[2017-12-15 09:42] okorshenko commented on #7121
Hi there

[2017-12-15 09:43] eugene-shramko commented on #12701
#mageconf

[2017-12-15 09:44] #9916 closed, assigned to serhii-balko

[2017-12-15 09:44] magento-engcom-team commented on #12701
@eugene-shramko thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:47] RomaKis commented on #12671
Working on this.

[2017-12-15 09:49] strell commented on #9453
#mageconf

[2017-12-15 09:50] magento-engcom-team commented on #9453
@strell thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:50] bobmotor commented on #4628
#mageconf

[2017-12-15 09:50] dimaperedriy commented on #7121
#mageconf

[2017-12-15 09:51] magento-engcom-team commented on #4628
@bobmotor thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:51] magento-engcom-team commented on #7121
@dimaperedriy thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:51] 4lexvav commented on #11478
#mageconf

[2017-12-15 09:52] magento-engcom-team commented on #11478
@4lexvav thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:52] strell commented on #7121
#mageconf

[2017-12-15 09:58] RomaKis commented on #12671
@asrenzo, this is not a bug. This is just a incompleteness of configuration. When you are creating new order, order has state "new" and only "pending" status is assigned to this state by default. So Magento take the default status for the state. To resolve your problem you should assign order status "processing" to state "new".
Steps to resolve:
1. Go to Stores -> Settings -> Order Statuses.
2. Pr

[2017-12-15 09:58] popovdenis commented on #12713
#mageconf

[2017-12-15 09:59] magento-engcom-team commented on #12713
@popovdenis thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 09:59] breg-13 commented on #3625
#mageconf

[2017-12-15 10:00] magento-engcom-team commented on #3625
@breg-13 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 10:06] Mobecls commented on #6884
#mageconf

[2017-12-15 10:08] sergeysikachev commented on #12709
#mageconf

[2017-12-15 10:09] magento-engcom-team commented on #12709
@sergeysikachev thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 10:09] asrenzo commented on #12671
Hi,

I can not change default status of orders because I have an observer on
status change to processing for every order.

Zero subtotal checkout is only used for spécific accounts and all others
orders are paid via an credit card payment (Monetico).

Once payment is validated by bank's system, orders, which are in pending
status before payment, pass in processing status. Then some actions are
don

[2017-12-15 10:16] popovdenis commented on #12552
#mageconf

[2017-12-15 10:18] C4rter commented on #5512
Can somebody show me the commit that fixed this? We are having a similar issue with a custom tab and don't know the reason or how to fix it.

[2017-12-15 10:18] Etty commented on #4292
#mageconf

[2017-12-15 10:19] magento-engcom-team commented on #4292
@Etty thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 10:19] eugene-shab commented on #11703
#mageconf

[2017-12-15 10:22] popovdenis commented on #12493
#mageconf

[2017-12-15 10:24] dimaperedriy commented on #12657
#mageconf

[2017-12-15 10:26] RomaKis commented on #12671
You don't need to change default status. You just need to add for state "new" status "processing" by the steps I provided above. It will give ability to Magento create order with "Processing" status.

[2017-12-15 10:26] Mobecls commented on #10705
I've tried next steps:
1. Clone 2.2-develop branch.
2. Install sampledata.
3. Set developer mode.
4. Create Attribute Set named Test.
5. Create dropdown, multiselect attributes without options. Assigned them to custom Attribute set Test.
6. Tried to change options of attribute Tax Class and changed Attributes sets from Test to Bag and from Bag to Test.
7. Tested in production mode.

There is no su

[2017-12-15 10:26] magento-engcom-team commented on #12682
Thank You @sambalay. You are right: shipping methods must be bound to the Cart's Subtotal. And in fact they are. Notice, please, that in the case You described above, after the coupon has been applied the Subtotal remains the same - 60. It is the Total that is changed to 50$. So You need to adjust Your Free Shipping Amount or rebate price rules considering that. You may try to use condition combin

[2017-12-15 10:27] andrewbess commented on #12722
#mageconf

[2017-12-15 10:28] magento-engcom-team commented on #12722
@andrewbess thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 10:32] PierreLeMaguer commented on #10794
This issue was fixed here : [https://github.com/magento/magento2/pull/10094]

[2017-12-15 10:37] popovdenis commented on #12552
Hi @skashish, this issue is already fixed in 2.2 version.

[2017-12-15 10:42] ihor-sviziev commented on #12206
#mageconf

[2017-12-15 10:43] eugene-shab commented on #11403
#mageconf

[2017-12-15 10:45] georgios-2317 commented on #12718
Thank you for confirming guys.

For anyone else out there facing the same issue, the only work-around I can see is to give a temporary url_key for store:0, go ahead and change store:1 url_key and then go back to store:0 with the old url_key (matching store:1)

[2017-12-15 10:49] asrenzo commented on #12671
OK.

But will this change affect every order whatever the payment method is.

If the answer is yes this is not an option. I don't want every order,
even canceled or on hold, or no info from payment system, to pass in
processing status.

I just want paid or free ones to get processing status.

Regards,

Le 15/12/2017 à 11:26, Roman K. a écrit :

[2017-12-15 10:52] eugene-shab commented on #12695
Maybe similar to #11703

[2017-12-15 10:54] #11703 closed, assigned to eugene-shab

[2017-12-15 10:57] indd01 commented on #7080
#mageconf

[2017-12-15 10:58] magento-engcom-team commented on #7080
@indd01 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 11:01] laconica-sergey commented on #7861
duplicate #12193

[2017-12-15 11:03] eugene-shab commented on #12695
Maybe similar to #12695

[2017-12-15 11:03] eugene-shab commented on #11703
Closed because duplicate #12695

[2017-12-15 11:05] eugene-shab commented on #9307
#mageconf

[2017-12-15 11:05] eugene-shab commented on #9307
Closed because duplicate #12695

[2017-12-15 11:05] #9307 closed, assigned to eugene-shab

[2017-12-15 11:06] eugene-shab commented on #11403
Closed because duplicate #12695

[2017-12-15 11:06] #11403 closed, assigned to eugene-shab

[2017-12-15 11:15] magento-engcom-team commented on #12588
@leoncito73 , if in vanilla installation and default theme works without issue, yes problem in your custom extensions.

[2017-12-15 11:18] georgios-2317 commented on #12718
Please also note that the bug reported within effects functionality of "Use Default Value" as well. I have reported a separate bug for "Use Default Value" fields which effects the whole system (null versus missing value in db).

If @iop can figure this out as well would be great given they closely related.

[2017-12-15 11:19] RomaKis commented on #12671
@asrenzo, yes, it will affect every order whatever the payment method is. But you have configuration for each payment method "New Order Status"(Stores -> Configuration -> Sales -> Payment methods). So if you change it to "processing" only for zero subtotal, all other created orders will be in pending status.

[2017-12-15 11:33] Zamoroka commented on #11953
#mageconf

[2017-12-15 11:38] DaniloEmpire commented on #12298
We are preparing a pull request to fix this issue.

[2017-12-15 11:51] RomaKis commented on #8080
@okorshenko, seems like you can close this ticket.

[2017-12-15 12:01] hannassy commented on #9720
#mageconf

[2017-12-15 12:09] magento-engcom-team commented on #12588
@leoncito73 , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-15 12:09] #12588 closed, assigned to nobody

[2017-12-15 12:12] okorshenko commented on #12722
Hi @andrewbess please accept the invite https://github.com/orgs/magento/invitation

[2017-12-15 12:12] magento-engcom-team commented on #12671
@asrenzo, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-15 12:18] AndrewMun commented on #6113
#mageconf

[2017-12-15 12:23] RomaKis commented on #7990
Working on this.

[2017-12-15 12:26] magento-engcom-team commented on #12604
@Arthi22, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-15 12:26] #12604 closed, assigned to nobody

[2017-12-15 12:32] kirmorozov commented on #11726
Let me incorporate one of known solutions:
https://github.com/varnishcache/varnish-devicedetect
License allows.

[2017-12-15 12:47] eugene-shramko commented on #12701
Hey @bmisyura,
The issue is not reproduced on Magento 2.2 (2.2-develop branch).
Could you please confirm the issue still exists?

[2017-12-15 12:48] #12701 closed, assigned to eugene-shramko

[2017-12-15 12:49] alena-marchenko commented on #12701
Confirmed, the issue is not reproducible on 2.2-develop branch.

[2017-12-15 12:56] a-dite opened #12740 "Cron Group-ID not considered during schedule cleanup"
In the following you can see a snippet from **\Magento\Cron\Observer\ProcessCronQueueObserver::_cleanup()** (Magento 2.1.10) . Different configurations from cron_group.xml are read (history_cleanup_every, history_success_lifetime, history_failure_lifetime) and considered in the code logic. The problem is, that the cleanup is executed, based on this configuration values, for cron_schedule entries o

[2017-12-15 12:57] dmanners commented on #10650
@s-hoffman random thought but does your database contain more than 1 schedule for the given status? I wonder if the code fails if there is already more than one entry in the database.

[2017-12-15 12:57] dverkade opened #12741 "Magento 2.2.X - WYSIWYG editor, insert image directive not replaced by actual image URL"
When the users adds an image in the WYSIWYG editor with the "Insert Image" option a URL is generated by Magento with a directive in it. This directive should be replaced when saving the page so that the directive URL is replaced by the correct media URL in Magento. Currently this does not happen and on the frontend the Directive URL is shown. This will result in broken images on the frontend.

###

[2017-12-15 12:58] AlexisEvo opened #12742 "Magento 2.1.9 + PHP 7.0 memcache session storage = slow login/checkout"
### Preconditions
1. Magento version 2.1.9 (or newer)
2. PHP 7.0 (or newer)
3. Unofficial pecl-memcache extension (from https://github.com/websupport-sk/pecl-memcache/ -- there is no official release of memcache for PHP 7.0)

### Steps to reproduce
1. Install Magento 2.1.9+ on PHP 7.0 with the memcache (not memcached) extension
2. Configure Magento to use memcache (not memcached) for session stora

[2017-12-15 12:58] andkirby commented on #5188
**2.2.0** - the same.
I was just generating the file several times and after some step it just get broken.
I don't understand why it's become empty.

[2017-12-15 12:58] okorshenko commented on #10705
The issue has been fixed and not reproducible on 2.2.2
Thank you @Mobecls for the investigation! 👍

[2017-12-15 12:58] #10705 closed, assigned to Mobecls

[2017-12-15 12:59] AlexisEvo commented on #9633
@sivajik34 This is a separate problem which is unrelated to this issue. Please see #12742

[2017-12-15 13:02] virtual97 commented on #12294
#mageconf

[2017-12-15 13:02] dverkade commented on #7167
Created a detailed description on how to reproduce this error in #12741 asked to reopen the PR of @jsiefer  which fixed this issue. Let's hope this one gets merged and released in the next version, because it's quite a pain to work with the WYSIWYG editor right now.

[2017-12-15 13:04] dimaperedriy commented on #12657
It is not a bug.. It is a performance improvement regarding to mysql index working (Search engine processing with B-tree)

[2017-12-15 13:04] #12657 closed, assigned to dimaperedriy

[2017-12-15 13:08] Zamoroka commented on #5998
#mageconf

[2017-12-15 13:12] awarche commented on #12699
The issue is in Eav AbstractEntity which stores linked product's attribute codes after we load linked products.
These codes do not include our multiselect attribute, therefore it's skipped in beforeSave method, it's array value is not converted to a string literal and UpdateHandler silently skips it.
Already fixed in 2.1 branch, working on backport.

[2017-12-15 13:24] magento-engcom-team commented on #12574
@barbazul, thank you for your report.
We've created internal ticket(s) MAGETWO-85719 to track progress on the issue.

[2017-12-15 13:29] dimaperedriy commented on #12300
#mageconf

[2017-12-15 13:29] strell commented on #7121
@dimaperedriy did you start to work on this issue?

[2017-12-15 13:29] BarnyShergold commented on #12717
I was about to report this issue myself. I've done some experimentation and it would seem that if you have Flat Product enabled and then create a Product List widget where one of the conditions is on a product attribute that is NOT on the Flat Product table (ie Used in Product Listing = NO) then Magento fails to add the table join for the attribute - hence why as above at_color fails.

@alena-marc

[2017-12-15 13:30] laconica-sergey commented on #12213
#mageconf

[2017-12-15 13:35] asrenzo commented on #12671
This is NOT a correct Magento behaviour.

The is the behaviour you want to describe as normal.

I want orders to keep the pending status as long as they are not
considered as paid. I don't think this is something I'm the only one to
see achieved by Magento.

Then I want to be able to pass these orders in processing status when
they are paid. Once again this is not a stupid decision.

Could you exp

[2017-12-15 13:36] kirmorozov commented on #11726
Will resolve it #mageconf

[2017-12-15 13:37] magento-engcom-team commented on #11726
@kirmorozov thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2017-12-15 13:39] sandervall commented on #12724
Hi,

Tried a vanilla install and it's true - works in vanilla. So I started to add 3rd party modules to my vanilla and found out that Mageplaza GiftCard module overrides the default Configurable product renderer. Its config is this:
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>

[2017-12-15 13:48] magento-engcom-team commented on #12741
@dverkade, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-15 13:48] #12741 closed, assigned to nobody

[2017-12-15 13:50] asrenzo commented on #12671
Moreover, if the only solution for having this dropdown to work properly was to change default configuration of Magento before being able to use it correctly, this means that if this is not a bug (but we both know it is a bug) an explanation is required.

And could you please read Magento's official documentation before closing a ticket please : http://docs.magento.com/m2/ce/user_guide/payment/zer

[2017-12-15 14:05] p-bystritsky commented on #12053
Hello, @abelyanvahe. Seems like this value is hardcoded because of some mariaDB full-text issues.

[2017-12-15 14:08] congaframe opened #12750 "Email invoice to buyer has wrong grand total"
Grand total adds tax twice to the calculation if price / subtotal is included tax

### Preconditions
Magento 2.1.5
PHP 7.0.22
Enable Price included Tax everywhere.

### Steps to reproduce

1. Order and pay for a product priced £22.99 ( included 20% tax) + £8 shipping (included VAT)
2. Check order and invoice email
3. Check order and invoice in Customer Account page

### Expected result

1. Grand t

[2017-12-15 14:13] osrecio commented on #12594
Same happens in Grid Notification.

Ivestigating possibilities to fix #9610

[2017-12-15 14:16] dimaperedriy commented on #12300
Steps from original bug message can`t reproduce on magento 2.2-develop branch.

[2017-12-15 14:25] orlangur commented on #11899
@giacmir looks like issue mentioned in https://github.com/magento/magento2/issues/11899#issuecomment-343855250 already tracks the problem you describe.

[2017-12-15 14:33] magento-engcom-team commented on #12727
@s00071609 Thanks for your report. We tried to upgrade from 2.1.11 to 2.2.2 and we weren't able to reproduce your issue. Can you please clarify what exact version of Magento you used? Also please let us know if you can reproduce it with a clean instance of Magento. Thank you

[2017-12-15 14:41] asrenzo commented on #12671
Could someone reopen this ticket and reaffect it as an issue in all Magento 2 versions please.
Regarding your own documentation this is not a feature.

[2017-12-15 14:41] dverkade commented on #12741
Hi @magento-engcom-team,

Thank you for your reply. We have tested this on Magento 2.2.2 on this works correct now. Please note that I could not find that this issue was resolved in the Magento 2.2.2 release notes. Searched for "directive" and "wysiwyg" and both did not mention resolving this issue.

Please also close this issue #7167  which is the same issue and is resolved in Magento 2.2.2 now.

[2017-12-15 14:42] dverkade commented on #7167
This issue is fixed in Magento 2.2.2. I have tested this and works fine with this release of Magento. This issue can be closed.

[2017-12-15 14:47] marius-bica commented on #9646
This is still happening in `2.2.2`

From what I tested, commit [aa535e](https://github.com/ekuusela/magento2/commit/aa535ea5d4bf78915bddd4387a9d3c4b39943eea) solves this issue and it's present in `2.1.8` but it's not ported to the `2.2` branch. As soon as it gets ported, everything will work as expected.

[2017-12-15 14:57] vadim4err commented on #12697
Cannot reproduce the bug. After applying coupon code. The coupon code "xxx" is not valid. Coupon code set to empty in _validateCouponCode() in Magento/Quote/Model/Quote/TotalsCollector.php

[2017-12-15 15:03] congaframe commented on #12750
I found where the issue is, it was a Stripe module that we were using, passing wrong price when it generates invoices and email.

[2017-12-15 15:03] #12750 closed, assigned to nobody

[2017-12-15 15:10] magento-engcom-team commented on #12724
@sandervall , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-15 15:10] #12724 closed, assigned to nobody

[2017-12-15 15:21] EfremovaVI commented on #12709
#mageconf

[2017-12-15 15:24] BurningReflex opened #12769 "Checkout crashes when Cart Price Rule is removed"
The checkout "crashes" when the customer has used a coupon code which is being removed while the customer is shopping still.

### Preconditions

1.  Magento 2.2.1

### Steps to reproduce

Ensure you have 2 browsers/tabs open, one for ADMIN, one acting as CUSTOMER.
1. ADMIN -- Create a Cart Price Rule with coupon code with conditions (e.g. 10% discount when product of manufacturer X was added) [Ima

[2017-12-15 15:29] EfremovaVI commented on #12709
**Product solution:** is forbidden to move price, sku and name to other groups for attribute sets.
**Need fix:** prohibit the move of these attributes to another group, and display an error message.

[2017-12-15 15:33] Mobecls commented on #12419
This issue is not appearing on freshly installed 2.2.4-dev

[2017-12-15 15:47] popovdenis commented on #12493
Hi @vishalmangoitsolutions,
custom price is using only in Admin area when we reorder or edit an order. In that case we can change price item and set a custom price. The currency would not be changed and stayed as it was when the order had been placed.

So, the provided you way to use custom price is not correct. And that is why it doesn't work as you expected.

[2017-12-15 15:54] eugene-shab commented on #9923
Closed because duplicate #12695

[2017-12-15 15:54] #9923 closed, assigned to nobody

[2017-12-15 16:10] bluvertigo commented on #12298
Me and @DaniloEmpire have created a module to fix this issue:
https://github.com/magespecialist/m2-MSP_Issue12298

[2017-12-15 16:34] erikhansen commented on #12573
Based on my research, the free shipping functionality of Cart Price rules was only designed to work with the "Free Shipping" shipping method:

![magento admin-icyhz](https://user-images.githubusercontent.com/129031/34045841-5ca3033a-e170-11e7-81b1-913d1b629c16.png)

Take a look at the `\Magento\OfflineShipping\Model\Quote\Address\FreeShipping::isFreeShipping` method for details.

The live rate met

[2017-12-15 16:36] wilzon008 commented on #12655
I am having the same issue as well.

[2017-12-15 17:39] benyanke commented on #7388
The solution @thelettuce provided above worked for us as well. Any chance it will be ported back to 2.1.x, @magento-engcom-team?

[2017-12-15 17:53] bap14 commented on #4792
I have this same issue almost every time I upgrade between versions.  I'm trying to upgrade from 2.2.1 to 2.2.2 Enterprise Edition and it deletes every file under `app`, `bin`, `lib`, `dev`, `var/.htaccess` and `vendor/.htaccess`.  This appears to happen when the composer process gets to `- Updating magento/magento2-ee-base (2.2.1 => 2.2.2): Loading from cache`.

I think the "Loading from cache" i

[2017-12-15 18:13] rafaelcalero commented on #12726
This error is happening to me in 2 of my installations of magento 2.2.1.
It **does't only happen on iPads.**

You can **reproduce on any touch device or in Firefox enabling touch simulation** (Desktop development tool):

![problem-touch-magento2](https://user-images.githubusercontent.com/11404715/34054554-d36d6630-e1cb-11e7-8922-ce20f25a97cc.jpg)

[2017-12-15 18:39] emmo1210 opened #12772 "Dropdown attribute options not saving"
### Preconditions
1.New 2.2.1 Installation [Ubuntu 16.04, Apache 2.4.18, php 7.1.12, mysql 5.7.20]
2. No products added yet, no modules.
3. Trying to add dropdown attribute options.

### Steps to reproduce
1. Add new attribute - dropdown type. Fill in default label value eg Grade.
2. Select 'Add option', fill in Admin value eg 304 or eg Aluminium
3. Save attribute

### Expected result
1. The optio

[2017-12-15 19:21] akshuklait commented on #5309
@sidealice,
It worked for me too thanks.

first step:
find "admin/security/session_lifetime" in table core_config_data.
if not exist create one and set value to 86400

second step:
clean cache (remove var/cache)

login and fix

[2017-12-15 19:25] minhluan259 commented on #5703
@magento-engcom-team
The issue fixed in 2.2.0, 2.1.9 but it still in magento 2.2.2
https://prnt.sc/ho0wn8

[2017-12-15 19:44] dakira commented on #12659
So I was able to reproduce this on a fresh install, but only after I added the firegento/firegento-magesetup2 module. I reported the bug over there (https://github.com/firegento/firegento-magesetup2/issues/100). I'm quite puzzled what in magesetup would lead to this problem so if it's okay, I'd like to leave this issue open, while we investigate "on the other side".

[2017-12-15 19:59] Kronmose commented on #12367
i have the exact same problem. but it only exists when one tries to purchase a product thats either virtual or downloadable.

Products with shipping does not give the same problem.

[2017-12-15 20:23] asrenzo commented on #12671
@RomaKis Could you please read my last post and Magento's official documentation about zero subtotal checkout and reopen this issue in the state you found it please.

Your workaround is not a solution.

[2017-12-15 20:46] Kronmose opened #12774 "Please enter first name address etc. error on checkout (virtual and download products)"
I don't know if it's wrong to post it here but i'm desperate. I have looked for a solution for weeks now.

When a customer tries to purchase a product that is downloadable or virtual (no shipping)
The customer gets a 'Please enter the first name, last name and address information' error. This is though every field is filled out.

### Preconditions

1.  Magento 2.1.9
2.  PHP 7

### Steps to reprodu

[2017-12-15 20:57] emmo1210 commented on #12772
Sorry, I believe my issue may have been due to an uninstalled swatch module which seems to have fixed it.

[2017-12-15 20:57] #12772 closed, assigned to nobody

[2017-12-15 22:10] klimart commented on #11963
The issue occurs in these places:
[code]
Not completely sure if it should be the correct fix, but additional condition like `&& !$this->getRequest()->getParam('___from_store')` can resolve this issue

[code]

[2017-12-15 22:56] stacypob1 commented on #7120
Hi @magento-engcom-team and @kfriend I have seen this issue on both chrome, IE, and safari for the site in question, across devices and ISPs. I was able to capture the source code and errors for this happening in the product page, the cart, and a variation on chrome last week. Below I have shared view-only google docs that will allow you to see the code, screenshots of what the issue looks like, a

[2017-12-15 22:57] stacypob1 commented on #11411
@okorshenko @magento-admin any updates? Why is this happening?

[2017-12-16 00:56] achatpc commented on #11963
Thank you I will test it and provide feedback for you.

Have a nice day

Envoyé de mon iPhone

[2017-12-16 02:12] ferraramax commented on #10141
@prestashoppay

public function getAllOptions()
{
$arr = $this->getAttribute();
//$arr=array();
$ret = [];

foreach ($arr as $key => $value) {
    $ret[] = [
	'value' => $key,
	'label' => $value
    ];
}

return $ret;
}

[2017-12-16 05:46] amansrivastava commented on #12378
Hi @ishakhsuvarov. Thanks

[2017-12-16 06:57] atishgoswami opened #12776 "[Magento 2.2.2] The attribute 'color' is not allowed when trying to add a pinned tab icon / mask-icon for Safari"
# Preconditions
**Project Environment**

Magento Version: 2.2.2 CE
PHP: 7.1.10
Database: MySQL 5.7
OS: CentOS 7
Caching: Varnish Cache and OPcache

# Steps to reproduce

1. Create a custom theme for Magento2

2. Create a file `app/design/frontend/<Vendor>/<theme_name>/Magento_Theme/layout/default_head_blocks.xml`

3. Try adding a `mask-icon` for Safari Pinned tab icon
[code]

4. Save the file, cle

[2017-12-16 06:59] terrybakshi commented on #12683
was able to fix the issue by turning on the module "mod_version" on apache no more error 500 while update or on checkout page so far

[2017-12-16 10:01] giacmir commented on #11657
I had this issue on a production website where my serialized config was 71,347 characters long against the 65,535 chars allowed by a TEXT field.

[2017-12-16 12:36] Jeeva-Rathinam commented on #7392
Is your issue solved?

[2017-12-16 13:57] pmjcreations opened #12777 "Invalid command '<IfVersion', perhaps misspelled or defined by a module not included in the server configuration"
### Preconditions

1. My current Magento version is Magento Open Source 2.2.1
2. I need to upgrade to Magento Open Source 2.2.2 via command line

### Steps to reproduce

1. I have run all the necessary commands to upgrade my version to Magento Open Source 2.2.2
2. No errors found during the upgrade, and it finished smoothly

### Expected result

1. After update, the website should function normall

[2017-12-16 19:35] fouli86 opened #12778 "Configuration shows old price when chosen, although the price is right in basket."
### Preconditions

1. Magento CE 2.1.11
2. PHP 7.0.22
3. Server version: MySQL 5.6.35

### Steps to reproduce

1. Create Configurable product and add simple products as configurations
2. Set a discount to the entire product, both parent product and configurations
3. Try order the product from the frontend by choosing the configuration you want.

### Expected result

1. The configuration must show

[2017-12-16 21:32] tomekjordan commented on #12567
This happend also on 2.2.2 for simple, bundle with that simple. No matter if you Save product with >0 qty and change out of stock to in stock. Reindex doesn't help

[2017-12-17 09:37] weljkodj commented on #8700
Same issue here, Magento CE 2.2.2.
Any indication when will be this implemented?

[2017-12-17 09:57] ashvinimarwal commented on #5301
same issue in magento 2.1.8 :(
any solution ?

[2017-12-17 11:20] Kronmose commented on #10825
We have the same issue.

[2017-12-17 11:23] Kronmose commented on #8488
We have a similar problem on Magento 2.1.9 only the problem only exists on download / virtual products.

[2017-12-17 13:21] sudaifhaider opened #12779 "You need to choose options for your item. Customizable option: File."
unable to add the product to cart with customizable options

### Preconditions
choose phone model upload file and add to cart
1. it should get added to the cart
2. file should get upload

### Steps to reproduce
Create a configurable product with dropdown option for phone model.
in Customizable option, choose file  in option type, and required and price type as fixed save the product.

### Expected

[2017-12-17 16:19] pulkitjalan commented on #10175
We are also having the same issue on 2.1.10, is there a fix for it?

[2017-12-17 18:20] danilavasenin opened #12780 "Allow gift message set on product level is ignored on PDP"
### Preconditions
Magento 2.1.7, Magento 2.1.8

### Steps to reproduce
1. Create product of type Giftcard
2. Set Allow Message to No on product level
3. Open created product on storefront

### Expected result
Gift message input is hidden

### Actual result
Gift message input is visible

The attribute code that is responsible for allow/disallow gift message on product level is `allow_message` that

[2017-12-17 19:54] kwebmaster commented on #12398
Same problem, Magento 2.2.2 fresh install

[2017-12-17 20:18] Wernervanrun commented on #5948
Magento 2.2.2 - Still not working...
@mjankiewicz your solution is only a partial fix.
It will not work in the following situations;

If only one attribute Size as Text Swatch is available ( Size dropped )
If Color and Size are set but one Color has no Sizes available ( Color dropped )
If none of the Colors have one of the Size available ( Size dropped )

Looking at the php and javascript there do

[2017-12-17 20:59] GuiltyNL commented on #10838
@dverkade found the issue why our customer grid doesn't update ;)

[2017-12-17 21:04] MichaelJamesParsons commented on #3899
I have a client who uses fixed table rates to calculate shipping prices on his website. Behind the scenes, he ships all of his orders through USPS. He would like to create USPS shipping labels for his orders, even though the order's shipping was calculated with table rates.

Ideally, Magento would allow store owners to create their own shipping labels regardless of which vendor the customer select

[2017-12-17 22:26] okovalov-commer commented on #12380
I have this error too

caused by

[code]

[2017-12-17 23:09] sky4git commented on #12725
# Update
You were right, its not happening on fresh installation.

upon more research I found out, third party extension **Amasty_Rolepermisison** is responsible for it.

Please close the issue.

[2017-12-18 05:06] genyuk commented on #8174
Thanks for the tip. We do have a widget which filter out products by availability (instock=1) and it cause this MySQL error.
Could you please clarify what "(Product Listing = Off)" mean? Is it a setting in Magento?

[2017-12-18 05:37] NerminPh commented on #3266
Hi guys
Please help me to fix my error, update from 2.1.3 to 2.2 by the following steps
upload the new magento version on root and the updated them too then run the following commands
rm -rf var
php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento setup:static-content:deploy -f
php bin/magento indexer:reindex
php bin/magento cache:clean
chmod -R 777 pub var generated

1.

[2017-12-18 06:01] sureshpareek commented on #11113
Please reopen this issue because this coming to many users

[2017-12-18 06:48] magento-engcom-team commented on #12531
@eharvest, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-18 06:48] #12531 closed, assigned to nobody

[2017-12-18 06:56] #12725 closed, assigned to nobody

[2017-12-18 07:11] magento-engcom-team commented on #12671
Hi, @asrenzo. We are now reviewing Your issue again and soon will be back with the results.

[2017-12-18 07:28] magento-engcom-team commented on #12678
@oirad, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-18 07:28] #12678 closed, assigned to nobody

[2017-12-18 07:36] oirad commented on #12678
@magento-engcom-team This issue affects all current versions of magento, comprising the one used for the official magento marketplace. As this will throw an exception it could be exploited in malicious ways, for instance looping trough random store names and calling those urls, creating a situation in which multiple reports are logged in the filesystem (hence creating large numbers of files).

[2017-12-18 07:48] kvydiuk opened #12781 "Gift card apply on cart page doesn't affects totals because of cache"
### Preconditions
1. nginx/1.10.3 (Ubuntu)
2. PHP 7.0.22-0ubuntu0.16.04.1
3. 10.0.31-MariaDB
4. Magento EE 2.1.8

### Steps to reproduce
1. Add product to cart
2. Go to checkout/cart/index
3. Wait until shipping rates will be estimated (they cached after estimation). They are estimated because of new address so no additional actions required
4. Apply GiftCard

### Expected result
1. GiftCard total

[2017-12-18 08:34] magento-engcom-team commented on #12780
@danilavasenin, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sou

[2017-12-18 08:34] magento-engcom-team commented on #12779
Hello, @sudaifhaider, Thanks for reporting. Please confirm that the file that is having been chosen during adding product to the cart has one of the extensions You specified in Compatible File Extensions while creating Customizable option.

[2017-12-18 08:39] #12704 closed, assigned to nobody

[2017-12-18 08:39] #12780 closed, assigned to nobody

[2017-12-18 08:40] #12697 closed, assigned to vadim4err

[2017-12-18 08:45] jissereitsma commented on #8508
Isn't this fixed in 2.2.2?

[2017-12-18 08:50] andrewbess commented on #12722
This bug is not reproduced following this steps.
But the system has another bug with translations.
It is a wrong translated string(s) for "fr_FR" locale.

Expected result:
Button changes to "En cours d'ajout..." while the ajax request is processing
When the ajax requests is finished, the button changes to "Produit ajouté"
After a bit of time, the button changes back to "Ajouter au panier"

Actual

[2017-12-18 08:56] magento-engcom-team commented on #12778
@fouli86 , thank you for your report.
When you create Catalog Price Rule, the discount is applied on Product page. Cart price Rule is applying and show discount only on Checkout page. Please check this.

[2017-12-18 09:01] magento-engcom-team commented on #12683
@terrybakshi , thanks for you update.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-18 09:02] andrewbess opened #12782 "Wrong translated strings in the javascript dictionary."
### Preconditions
1. Magento is installed from 2.2-develop branch
2. Default or Developer mode
3. 2 custom Store Views created and enabled
4. All indexers are valid
5. Different locales are set for each Store View, for example:
- **Ukrainian (Ukraine)** for the 1st custom Store View
- **French (France)** for the 2nd custom Store View
- Leave **English (United States)** on Default Config level to b

[2017-12-18 09:10] magento-engcom-team commented on #12542
@Scott4949, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-18 09:10] #12542 closed, assigned to nobody

[2017-12-18 09:37] #12190 closed, assigned to nobody

[2017-12-18 09:55] magento-engcom-team commented on #12781
@breg-13 , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.
 
GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2017-12-18 09:55] #12781 closed, assigned to nobody

[2017-12-18 10:08] brushbaby opened #12783 "Restricting use of voucher codes to 1 timer per customer on Magento community edition v 2.1.7"
We have a voucher code designed for 10% off first order only  - it is under "Marketing" ->"cart price rules"  and there is an option to limit "uses per customer" to 1 , but this is enforced for Logged in customers only
Most of our customers choose to checkout as a "guest" so therefore they seem to have been able to use this voucher code multiple times.
Please advise how we resolve this, surely it

[2017-12-18 10:10] versdivers opened #12784 "User role : Notifications error backend"
When you disable a user roles his permissions to see notifications he gets an error on each page (backend)

### Preconditions
1.  Magento 2.2.1
2. PHP 7.0

### Steps to reproduce
1.  Add a second user to the backend
2.  deny permissions to see notifications
3.  Log in with that user

### Expected result
1.  No notifications like 'clear cache' message etc

### Actual result
1.  notification is not

[2017-12-18 10:18] mrodmincheg commented on #10078
Had the same problem. In my case it was apostrophe symbol in customer address. It was interpreted like close apostrophe in DOM in data-order-config attribute.

[2017-12-18 10:37] magento-engcom-team commented on #12671
Please @asrenzo, let us know if the following possibilities would suite You.
If we have understood You correctly You need Processing Status to be assign only to the orders that has become considered as paid. So when You chose Processing status for a new order status in Zero Checkout the possibility to Automatically Invoice All Items becomes available. If You chose it Your zero amount order will au

[2017-12-18 10:53] chrisclue commented on #5416
Same issue here! @Krapulat are you still having this issue? If so, can you open this issue again?

[2017-12-18 11:03] okorshenko commented on #8615
Hi @mplccp
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-18 11:03] #8615 closed, assigned to RomaKis

[2017-12-18 11:06] svenpro commented on #8333
Hello! I have the same bug in Magento 2.2, it is still not fixed?

[2017-12-18 11:17] tadhgbowe commented on #8508
Hi @jissereitsma!

I've just tested this on Magento Commerce v2.2.2 and it's working fine. The fix was simply to put the following line of code in module-translation Model/Json/PreProcessor.php function process(...):

$this->viewDesign->setDesignTheme($themePath, $areaCode);

Previously the fix was to do this via a before Plugin.

I hope you're seeing the correct results too.
All the best,
Tadhg

[2017-12-18 11:21] osrecio commented on #12720
@alena-marchenko I think this problem occurs also in `2.3-develop` branch, the problem is related, according to my researches,  with FPC.

[2017-12-18 11:38] barbazul commented on #8508
@tadhgbowe Are you saying this is fixed out of the box in Magento 2.2.2 ?? Or are you saying that _the proposed_ fix works in 2.2.2 ?

[2017-12-18 11:47] Jilco commented on #12710
Solved, it was a problem in the 3-rd party module.

See https://github.com/mollie/magento2/issues/43

[2017-12-18 11:47] #12710 closed, assigned to nobody

[2017-12-18 11:49] tadhgbowe commented on #8508
Hi @barbazul!

v2.2.2 - out of the box fixed :-)

The line of code I showed was what they put to fix it.

Cheers
T

[2017-12-18 11:58] pixel-paul commented on #12398
@kwebmaster perhaps copy my issue and raise it again? This ticket has been closed.

[2017-12-18 12:05] magento-engcom-team commented on #12783
@brushbaby, thank you for your report.
Your issue is duplicate of the issue [776](https://github.com/magento/magento2/issues/776).

[2017-12-18 12:05] #12783 closed, assigned to nobody

[2017-12-18 12:08] trzykas commented on #7298
I was looking for solution for this problem and i allready found.
I created short movie with doc to fix this problem.
[](https://www.youtube.com/watch?v=xerkbeiH2jU)

Step by step instruction

[2017-12-18 12:10] trzykas commented on #9290
I was looking for solution for this problem and i allready found. I created short movie with doc to fix this problem. https://www.youtube.com/watch?v=xerkbeiH2jU

Step by step instruction

[2017-12-18 12:52] s00071609 commented on #5843
This issue has been there for years. Upgraded to 2.2.2, the error still occurs. Probably the most ignored issue that kills the checkout process. Its really sad

[2017-12-18 13:13] schmengler opened #12787 "Newsletter\Model\Subscriber::loadByEmail() does not use MySQL index"
### Preconditions
1. Any Magento version between 1.0 and 2.2

### Steps to reproduce
1. Call `$subscriber->loadByEmail($email)` with debugger or profiler
2. Inspect SQL query
3. Inspect execution plan `EXPLAIN SELECT * FROM newsletter_subscriber WHERE subscriber_email='...'`

### Expected result

1. An index should be use to retrieve the subscriber instantly

### Actual result
1. No index is used,

[2017-12-18 13:24] giggo1604 opened #12788 "Configure page variations example is not Working with caching enabled"
### Preconditions
1. Magento 2.1
2.  All caches enabled

### Steps to reproduce
[Create this Plugin](http://devdocs.magento.com/guides/v2.2/extension-dev-guide/cache/page-caching/public-content.html#configure-page-variations)

debug/inspect the value returned from:
`$this->customerSession->getCustomerData()`

### Expected result
CusomterData is pressent and can be used to configure a page variatio

[2017-12-18 13:31] magento-engcom-team commented on #12518
@sehaafdal, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-18 13:31] #12518 closed, assigned to nobody

[2017-12-18 13:33] magento-engcom-team commented on #12318
@4DallasC, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-18 13:33] #12318 closed, assigned to nobody

[2017-12-18 13:40] tonytrinh206 commented on #12527
Hi @magento-engcom-team, I have tested it on 2.2.2 version and I get the same error. Could you please check?

1. Install Mangeto 2.2.1 or 2.2.2. Select Australia as Locale during the installation
2. Go to Store>Configuration>General change Default Country and Store Locale to Australia
2. Add a new product in Australia currency
3. Create a new store and go to Store>Configuration>General change Defa

[2017-12-18 13:40] magento-engcom-team commented on #12784
@versdivers, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-18 13:40] #12784 closed, assigned to nobody

[2017-12-18 13:44] ishakhsuvarov commented on #12722
Closing this issue per comment above.
Ticket for updated translation issue: https://github.com/magento/magento2/issues/12782

[2017-12-18 13:44] #12722 closed, assigned to andrewbess

[2017-12-18 13:44] ishakhsuvarov commented on #12722
@andrewbess Thank you for verifying the issue

[2017-12-18 13:45] #9828 closed, assigned to nobody

[2017-12-18 13:48] brushbaby commented on #776
Hi There, I have also requested this feature too and be referenced to this thread. I cannot find this specific ticket easily on the new forum. Is anyone able to provide an update on when this feature is likely to be available? We really need to be able to limit a coupon code to a 1 time use only for non logged in customers. Please advise the status/is this going to be introduced and when? Thanks

[2017-12-18 13:48] pielbar opened #12789 "Cannot connect Magento to Facebook"
### Preconditions

1. Magento ver. 2.2.1

### Steps to reproduce

I'm doing everything in accordance with: http://docs.magento.com/m2/ce/user_guide/marketing/social-connect-to-facebook.html#Troubleshooting
1. Marketing>Social>Connect to Facebook
2. Launch Store>Connect Magento to Facebook

### Expected result

1. Showing auth box and connecting to the Facebook Store

### Actual result

1.
![image]

[2017-12-18 13:49] magento-engcom-team commented on #4259
@HardRock88, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-18 13:49] #4259 closed, assigned to nobody

[2017-12-18 13:51] joachimVT commented on #11998
I can confirm this having the same issue on version 2.2.2

![schermafbeelding 2017-12-18 om 14 50 08](https://user-images.githubusercontent.com/1216688/34109136-f2a8de42-e402-11e7-80de-a2f5d70be900.png)

[2017-12-18 13:55] hudsondonovan commented on #12777
@pmjcreations - this same issue happened on my server - with a clean install.
to resolve this issue I installed an Apache module "mod_version" and was able to log into the admin and view front end normally.
possibly this module is not being flagged as a requirement when performing installs and upgrades.

[2017-12-18 13:59] mustdobetter commented on #8897
This is also an issue when updating a product via the REST API in 2.1.19. When updating a product under a non-default store scope, all store scoped eav attributes are overridden, not just those that are being updated.

[2017-12-18 13:59] wget commented on #12318
Thanks for closing this ticket.

The problem was due to data coming from an outdated 1.5 installation for which the needed sales sequences records weren't available.

On my side, I have been able to fix the issue by adding the needed records to that table, [like described here](https://github.com/ubertheme/module-ubdatamigration/issues/7#issuecomment-202425765).

The SQL procedure I have developed

[2017-12-18 14:08] magento-engcom-team commented on #12774
@Kronmose, thank you for your report.
We were not able to reproduce this issue on the clean installation by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-18 14:10] Sharkozp opened #12790 "Magento REST API"
### Preconditions

1. 2.2.x
2. 2.3.0-dev

### Steps to reproduce

1. Go to Swagger
2. open salesOrderRepositoryV1
3. Method GET /V1/orders
4. Values for search:
    Field - status
    Value - pending
    Condition type - eq

### Expected result

It must give list of orders or empty array

### Actual result

Request URL:

http://magento.loc/rest/all/V1/orders?searchCriteria[filterGroups]%5B%5D%5Bfi

[2017-12-18 14:16] asrenzo commented on #12671
I can not invoice zero subtotal checkout orders when a coupon is used because invoices are created by an external system (SAP). Thus, I need the order to behave like every other orders paid with another payment solutions.

Can you explain me why to use a core module of Magento a described in his documentation I should have to change Magento's default settings ?

Once again the text in front of the

[2017-12-18 14:19] fouli86 commented on #12778
Thank you for your reply. There is neither Catalog Price Rule nor Cart price Rule applied at the moment.
I have the same Special Price on both parent product and configurations with the same starting date and no ending one. On the Product Page, the special price is visible, but once the customer clicks on the configuration the special price disappears and only the initial one is visible. Once plac

[2017-12-18 14:38] leosingh44 commented on #7095
@codekipple  The solution worked, but now the pdf size is too large. One invoice pdf is around 5 MB, so I am getting pdf file corrupted. Not sure if this issue is related to this but it has happened since I have applied this plugin. Please help if anyone facing the same issue(It is that the pdf id getting corrupted when trying to open. This is not happening on every system, so I am not sure if it

[2017-12-18 14:38] duckchip opened #12791 "Customer & Product Tax class wrongly styled"
I'm having a weird issue on the production environment of one of our webshops. The styling of the Customer & Product Tax class  UI components are getting the styling of the tax rate UI component.
This results in a problem with saving the newly selected customer & product class changes. It just selects the corresponding rows from the Tax rate UI component, found at the top of the page.

No modifica

[2017-12-18 14:51] codekipple commented on #7095
@leosingh44 5MB is probably due to the added size of the custom fonts. I never checked the size of my PDF's.

My hebrew reversing solution was very hacky and only covers a few of the sections. Interestingly I did have an issue with corrupted invoices. I can't remember if it happened on the Hebrew site I was working on only. I'm managing 10 different sites all in different countries. I remember get

[2017-12-18 15:04] sickao3 commented on #11897
Seems that on multiple Sku you should replace the operator '==' with '()' .

[2017-12-18 15:45] msm93v2 commented on #11585
I'm curious if you ever got this resolved, I'm seeing the same problem and no corresponding issue in the data-migration-tool repository.

[2017-12-18 15:47] zmarwa commented on #4119
@akshgods did you found any solution please, i have same error with venus theme.

[2017-12-18 15:50] fwolfst commented on #11585
@msm93v2 Afair we deleted the salesrules.

[2017-12-18 16:26] aeu opened #12792 "[2.1.10] No order confirmation email after paying with PayPal Express"
### Issue
We are (and have been) experiencing persistent problems with customers not getting order confirmation emails after paying with PayPal Express.   Store admin is getting notification from PayPal, and funds are processed, but no notification from the Magento store.  This is causing customers to place orders multiple times, and/or cancel their orders completely, which is obviously unacceptab

[2017-12-18 16:49] msawyers commented on #12570
Many thanks @BlackIkeEagle, works like a charm.

[2017-12-18 16:57] tanghia commented on #10175
Magento 2.1.x gets this issue, I have to update my website to 2.2.X to resolve it !!!

[2017-12-18 17:16] mzenner1 opened #12793 "2.2 Importing Group Products No Longer Works"
As of 2.2, group products no longer import properly.  Using the sample data given on the system->import page, it will import the group product (the product type is correct), but no longer associate the simple products to the grouped product.  This was confirmed working in 2.1.7, but looks to be broken in 2.2.1 and 2.2.2.

[2017-12-18 17:31] pmjcreations commented on #12777
Well, @hudsondonovan, I have enabled `mod_version` and upgraded to 2.2.2. Everything works now.
Thank you

@magento-engcom-team, you may close this issue.

[2017-12-18 17:37] rhertogh commented on #3423
@magento-engcom-team
This bug still appears in Magento 2.1.10 in the following browsers

- Firefox 57.0.2 (64-bit)
- Edge 40.15063.674.0
- Internet Explorer 11.786.15063

On Windows 10.
Chrome (63.0.3239.84) works OK

[2017-12-18 17:51] srenon commented on #12783
Since this core fix only seem to apply to M2.3 try https://github.com/magepal/coupon-limit-guest-checkout

[2017-12-18 17:52] larsroettig opened #12794 "calc(100% - 100px) break by minify"
### Preconditions
- Install Magento  Open Source 2.2 or 2.3dev
- This branches  use  tubalmartin/cssmin 2.4.8-p4

### Steps to reproduce
1.  Define `calc(100% - 100px) `in stylesheet
2.  Active css minify

### Expected result
1.  In css.min is defined` calc(100% - 100px)`

### Actual result
1.  In css.min is defined` calc(100%-100px)`
2.  It is not allowed to remove  whitespaces before  and after

[2017-12-18 17:54] srenon commented on #776
Since this core fix only seem to apply to M2.3 try https://github.com/magepal/coupon-limit-guest-checkout

[2017-12-18 18:50] aeu commented on #12707
I am seeing this issue as well.  I believe that it is by design, as it appears that when the product is Virtual, Magento does not capture any address information (because there is no product to ship).

Superficially this seems like a good idea, but as @josephmcdermott pointed out, this leaves us in a situation where we have no address information for billing / invoicing purposes.

[2017-12-18 18:51] aeu commented on #5873
(commenting here and as well as in https://github.com/magento/magento2/issues/12707, as I do not know which will get closed.)

I  am seeing this issue as well. I believe that it is by design, as it appears that when the product is Virtual, Magento does not capture any address information (because there is no product to ship).

Superficially this seems like a good idea, but as @josephmcdermott poin

[2017-12-18 18:55] svenpro opened #12795 "magento 2.2.1 layouts for multiple themes work incorrect"
Files with type xml do not work in second custom theme.

### Preconditions
1. Magento version 2.2.1 , Mysql version 5.6.37-82.2, PHP version 7.0.19-1

### Steps to reproduce

1. Install custom theme according to specification name I.E custom_parent
2. Install another them that will be child of custom_parent name I.E custom_child
3. Applying themes to two different stores.
4. Create extend file lay

[2017-12-18 18:55] webdev498 opened #12796 "Minimum Advertised Price is not working in 2.2.1 Open Source version after migrating from 1.9.1.0"
### Preconditions

1. Magento 2.2.1
2. Migrated from 1.9.1.0 using Magento Migration tool

### Steps to reproduce

1. Enable MAP in Stores>>Sales>>Sales>>Minimum Advertised Prices. Leave other options as 'Use system value'.
2. Set a value for MSRP > Price and select 'In Cart' for Display Actual Price.

### Expected result

1. Price on frontend is hidden and only shown 'In Cart' or for the login us

[2017-12-18 19:19] aeu commented on #10464
I created another ticket because I thought this one was closed, but I am currently seeing this in 2.1.10.

https://github.com/magento/magento2/issues/12792

[2017-12-18 19:45] ci2014 commented on #12095
Same on 2.2.2

[2017-12-18 20:54] orlangur commented on #12792
Hi @aeu,

How you think it can be fixed without a proper debug on your side? It was already tested on a clean installation a bunch of times, even with screencast recorded during testing.

Did you perform a load testing of your store to check the suggestion about race condition?

It's a bit strange to have setting you mentioned disabled in prod as it is described in http://devdocs.magento.com/guide

[2017-12-18 21:48] aeu commented on #12792
Hi @orlangur ,

I'm sure it must be frustrating for you to get reports of bugs for things you have tested, but the issue assuredly exists.  This is quite surprising to me as well, especially since I have never had a single problem in multiple stores in many years with PayPal on Magento 1.

In my experience these sort of random / non-reproducible bugs are extremely difficult to find, which is why I

[2017-12-19 02:32] mpchadwick commented on #6401
This also impacts Apache + PHP-FPM (https://maxchadwick.xyz/blog/http-response-header-size-limit-with-mod-proxy-fcgi). I see this was marked as done in 2.3-develop. Is there a link to a PR that fixes this?

[2017-12-19 04:18] vishalmangoitsolutions commented on #12493
Hello,

Thanks for acknowledge me.

So Is there any correct way to add product in cart with custom price in fly?

Regards

[2017-12-19 06:23] hemendraajmera opened #12797 "Estimate and shipping not updating when change any country, state zip code on cart page"
### Preconditions

1. Magento 2.1.8
2.

### Steps to reproduce

1. Added any product to cart
2.  Go to view and edit cart from mini cart popup
3. changed country state and zip code with two options

### Expected result

1. it will update the shipping price and show the price according to zipcode

### Actual result

1. Nothing will works and loader also not showing on that section
2. In console sho

[2017-12-19 06:39] #12777 closed, assigned to nobody

[2017-12-19 06:41] magento-engcom-team commented on #12476
@darkredz, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-19 06:41] #12476 closed, assigned to nobody

[2017-12-19 06:42] #12570 closed, assigned to nobody

[2017-12-19 06:49] sydekumf commented on #12794
Duplicate of: https://github.com/magento/magento2/issues/8552

[2017-12-19 07:18] larsroettig commented on #12794
@sydekumf is not done Magento Base Install the wrong version in Magento 2.3.dev also

[2017-12-19 07:23] #12794 closed, assigned to nobody

[2017-12-19 07:31] leosingh44 commented on #7095
Thanks for the reply.  I had tried to repair the pdf and when it was repaired, I was getting this error as an exception.

**The font LinLibertineB contains a bad/BBox**

However, the pdf was getting displayed. But not sure why this issue is not coming for other windows/mac systems.

[2017-12-19 07:53] subhashbodana opened #12798 "I can't upload save product images in multiply website"
### Preconditions

1. I am using Magento 2.2.2, and I have create 5-7 multi-site, But I am not able to save product images.
2.
![screenshot 3](https://user-images.githubusercontent.com/34674527/34146345-a45f8502-e4bf-11e7-8bf0-c524b41623c0.png)

After Save product, We can't see here product images.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-12-19 07:54] sureshpareek commented on #12708
any update please?

[2017-12-19 07:54] sureshpareek commented on #12708
any update, please?

[2017-12-19 08:46] magento-engcom-team commented on #12790
@Sharkozp, thank you for your report.
We've created internal ticket(s) MAGETWO-85814 to track progress on the issue.

[2017-12-19 09:11] magento-engcom-team commented on #12659
@dakira Unfortunately, we will have to close this issue. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only. Thank you

[2017-12-19 09:13] #12659 closed, assigned to nobody

[2017-12-19 09:16] magento-engcom-team commented on #12688
@bbaoden, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-19 09:16] #12688 closed, assigned to nobody

[2017-12-19 09:18] magento-engcom-team commented on #12727
@s00071609, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-19 09:18] #12727 closed, assigned to nobody

[2017-12-19 09:36] magento-engcom-team commented on #12769
@BurningReflex Thanks for your report. Unfortunately, we were not able to reproduce the issue, by the steps that you provided. We made a [video](https://streamable.com/w8sq6) where we are trying to reproduce the issue. Please watch it and let us know if we missed anything. Also please try to reproduce it with a clean instance of Magento, thank you.

[2017-12-19 09:52] BurningReflex commented on #12769
@magento-engcom-team
Main difference I could find is that you are using 2.2.2, and I was using 2.2.1, so possibly it was fixed in the update. I have yet to update my installation, so I will do this later today and try to reproduce again.

Also; my method was by adding multiple products and I used an attribute for the discount, manufacturer to be precise. But I doubt this would make a difference. I

[2017-12-19 10:15] msieprawski opened #12802 "QuoteRepository get methods won't return CartInterface but Quote model"
### Preconditions
1. Magento 2.2.0 CE
2. PHP 7.024

### Steps to reproduce
1. Create custom module with following etc/di.xml` file:
[code]
2. Create `\Vendor\Module\Model\Quote` object which extends `\Magento\Quote\Model\Quote`.
3. Now execute following code:
[code]
### Expected result
1. The result will be an object of instance `Vendor\Module\Model\Quote`

### Actual result
1. Actual result is an

[2017-12-19 10:21] KoenSlagter commented on #12679
I'm having the same problem with a configurable product

[2017-12-19 10:30] magento-engcom-team commented on #12674
@sydekumf, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-19 10:30] #12674 closed, assigned to nobody

[2017-12-19 10:35] BarnyShergold commented on #8174
@genyuk
Edit the appropriate attribute
Click on the "Storefront Properties" tab
Second option from the bottom - "Used in Product Listing"
Switch to yes, save and then CLI reindex.
Your widget should then work - but you can't do this with the quantity_and_stock_status attribute (it's a special compound one)

[2017-12-19 10:40] RostislavS commented on #12573
@erikhansen Thanks for your research. You are absolutely right. I also investigated all functionality related to Free Shipping option in Shopping Cart rule and Free Method of UPS. And so I thought to post the same answer as yours. But then I checked Magento 1 functionality and I found out that it has the expected functionality. So it appears that it is not a small issue but Magento 2 is missing a

[2017-12-19 11:09] LakshmanKatragadda commented on #9148
Please check gain

[2017-12-19 11:22] ravihandsintechnology commented on #4177
i am trying to update cart with the help of rest/v1/carts/cartid/items/itemid

the product is updating sucessfully when the stock of the product is greater than 1
but when the stock is 1 the product is not updating

it gives error
stdClass Object
(
    [message] => We don't have as many "Apple iPhone 7 Plus 128 GB Jet Black" as you requested.
)

[2017-12-19 11:41] ferrazzuk commented on #12097
Don't so what @nobodypb did, that doesn't really fix the warning. It just prevents the code from going into the line where the warning is thrown.

Also this is just a warning, not really an error.

[2017-12-19 11:43] magento-engcom-team commented on #12796
@webdev498 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided on fresh installation of Magento 2.2.2.
For migration related issues please use the repository: https://github.com/magento/data-migration-tool

[2017-12-19 11:43] #12796 closed, assigned to nobody

[2017-12-19 11:49] magento-engcom-team commented on #12679
@KoenSlagter ,We were not able to reproduce this issue for configurable product too . Please provide more detailed steps to reproduce or try to reproduce this issue on vanilla instaliation without any extentions if you have, thank you.

[2017-12-19 11:51] anujeetphj opened #12803 "Magento 2.1.10 Upgrade product saving gives error when custom options are imported"
**Preconditions**
Previous version
Magento 2.1.3
Upgraded to version
Magento 2.1.10

**Using below commands**
composer require magento/product-community-edition 2.1.10 --no-update
composer update

rm -rf <Magento install dir>/var/cache/*
rm -rf <Magento install dir>/var/page_cache/*
rm -rf <Magento install dir>/var/generation/*

php bin/magento setup:upgrade
php bin/magento indexer:reindex

**Step

[2017-12-19 11:53] magento-engcom-team commented on #12791
@duckchip, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-19 12:27] nei opened #12804 "Performance: Improve attribute deletion to take advantage of indexes"
This issue is to discuss a alternative way to do deletion in order to use indexes and improve performance as well avoid locks on the table.

The table catalog_product_entity_int which I have about 6,6 million records and a delete statement for this table is taking up to 40 seconds to finish and seems to be locking some other operations on this table. Which is causing a huge slowness on the api and

[2017-12-19 12:36] DaimPiek commented on #4145
This is is still an issue in 2.1.9.

The problem lies in payment method groups being shown in the Transaction table's header. When the select button is build the payment option's groups do not have a label.

Problem can be resolved by adding the following line:
[code]

[2017-12-19 13:36] magento-engcom-team commented on #12680
@walterbak, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-19 13:36] #12680 closed, assigned to nobody

[2017-12-19 14:29] p-bystritsky commented on #12205
@Nix-id, please create new ticket for this feature request.

[2017-12-19 14:32] pmoreno1980 commented on #12573
The problem is if i activate the free shipping method this option will appear on the cart for all products, the shopping cart rule does not work for this. My goal is display the free shipping option only for some products.

[2017-12-19 14:36] JustBeYou opened #12808 "Magento 2.2.2-dev - CSV Import, skip errors not working"
### Preconditions

1. Magento version is 2.2.2 as specified in the title and I think is the only relevant info about the environment
2. PHP 7.0.25
3. MySQL Ver 15.1 Distrib 10.1.29-MariaDB
4. Cent OS 7 (Linux 3.10.0-693.11.1.el7.x86_64 # 1 SMP Mon Dec 4 23:52:40 UTC 2017 x86_64 GNU/Linux)

### Steps to reproduce

1. Go to System > Data Transfer > Import
2. Select 'Products' for 'Entity type'
3. Se

[2017-12-19 14:40] pmjcreations opened #12809 "Error during saving of crontab: "-":1: bad minute errors in crontab file, can't install"
### Preconditions

1. Installed version Magento Open Source 2.2.2
2. I am running all commands (installation, setup, cleaning, deploying etc.) with the same user login credentials via CLI

### Steps to reproduce

1. Tried to setup Cron as described here http://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-cron.html
2. Tried command `php bin/magento cron:install` with and

[2017-12-19 15:14] jmonschke commented on #12185
I was able to reproduce this issue when using the iOS simulator, but not while using the Chrome DevTools emulating the mobile browsers.

[2017-12-19 15:18] TomashKhamlai commented on #11953
Hello, @dmanners, I hope the comment here will save some time.
The actual behavior of the Magento application after the fix was applied is slightly different than desired expectations described in this ticket.

Here is what was done and what should be done according to the issue description:
- [x] There is no error because the product can't be saved
- [x] Unsaved configurations are not lost
- [ ]

[2017-12-19 15:20] calvintwr commented on #7994
no problem at all. i think people using magento should try to help each other out and reduce the pain.

[2017-12-19 15:27] zamoroka commented on #11953
This validation was added trough to Magento way.
The same is already done for other fields, e.g. in price you can set -10$ and validation will proceed after "Save" button.
Also, your flow is not working if you put longer value to sku after "Create Configurations"

[2017-12-19 16:47] noindie commented on #11189
@jimmyhien
Thanks!! I had the same problem after upgrading from 2.1.7 to 2.1.9 and fixed with that solution

[2017-12-19 17:37] The-Krang commented on #11529
Forgive my ignorance, but I don't know what a "pull request" is.

I upgraded to version 2.2.1 and the problem went away after that.

I'm still a newbie to Magento.

Sorry.

________________________________
From: Brandon Brown <notifications@github.com>
Sent: Thursday, December 14, 2017 9:16 AM
To: magento/magento2
Cc: The-Krang; Mention
Subject: Re: [magento/magento2] Customer "Sign In" button not

[2017-12-19 17:50] ashvinim0003 opened #12811 "Magento success/error message showing on every page."
### Preconditions

1. Installed Magento ver. 2.1.8 from git
2. Uploaded simple products
3. Cache is disable

### Steps to reproduce

1. Create an account and login
2.  add any simple product to the cart.
3. again add the same or any product in the cart
4. visit any page like the checkout page

### Expected result

1. success message will show one time and it will be removed after page reloads or o

[2017-12-19 17:50] s-hoffman commented on #10650
@paveq, Not [running the same job code (but different scheduled execution run) at the same time]?
What can I do when I do not see where in the code that is the intention?
As far as I can see, the method that is currently called, is named, trySetJobUniqueStatusAtomic.

The Sql that is generated by the method is:
[code]

This clearly shows intent to check for currently running schedules, without che

[2017-12-19 19:33] postadelmaga commented on #12273
What is the status of this maybe someone can port it to  Magento 1 with a push on https://github.com/Inchoo/Inchoo_PHP7 ...

[2017-12-19 19:54] camdixon commented on #12809
I have been unable to reproduce this issue on a Ubuntu 16.04 box.

[2017-12-19 20:23] JustBeYou commented on #12809
What's the current content of the crontab file?

[2017-12-19 22:10] ttribeiro opened #12813 "Cross sell number of product list"
Where can I update the cross sell number of product on the list?

Magento 2.1.9 CE

[2017-12-19 22:15] thiagolima-bm commented on #12813
This kind of question must be asked on the stackoverflow

[2017-12-19 22:57] oviliz commented on #6634
Sorry @okobchenko, this is not included in 2.2.2, right?

[2017-12-20 00:19] erikhansen commented on #12573
@pmoreno1980 You'll need to configure a very high "Minimum Order Amount" value for the Free Shipping Method. See this screenshot for an example:

![2017121420-19-20_spend_50_or_more_-_shipping_is_free__promotions__marketing__magento_admin-7lxfb](https://user-images.githubusercontent.com/129031/34185012-c158481e-e4e8-11e7-91ed-96bf6d0ae79d.png)

Be aware that I was able to get that working with a 2

[2017-12-20 05:44] Rockfordgun opened #12814 "Crontab.php recreate"
Im running magento 2.2.0.
Im having issues with my cron jobs.
I had a look at the logs and i have endless errors with my crontab.php file.
Where can i recreate or download the crontab.php file?

[2017-12-20 05:57] kapildsinghranosys commented on #12459
I am also facing this issue after following all steps from [Here](http://devdocs.magento.com/guides/v2.2/frontend-dev-guide/tools/using_grunt.html)
Please provide solution

[2017-12-20 06:00] gouravsyscraft opened #12815 "Unable to load paypal express checkout window"
### Preconditions

1. Setup paypal express checkout.
2. This is dev url (http://dev1.photomart.co.uk)with non https.
3. All other module working fine

### Steps to reproduce

1. Add item into (http://dev1.photomart.co.uk) cart
2. Choose payment method as paypal express checkout.
3. Click continue with accept terms condition then paypal window not loading only page loading? why?

### Expected resul

[2017-12-20 06:00] gouravsyscraft commented on #12815
I am frustrating with this issue, please help me some one why paypal express checkout window not loading?

[2017-12-20 06:31] magento-engcom-team commented on #12813
Hello, @ThiagoR. The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-12-20 06:31] #12813 closed, assigned to nobody

[2017-12-20 06:35] kapildsingh commented on #12459
Thank you @kapildsinghranosys ..
awesome!! I was sucked for almost a day.

[2017-12-20 06:38] radkyy opened #12816 "Magento 2 admin dropdown multiselect no fields for options"
Hello, I can not edit or add new attribute with dropdown or multiselect (I have no fields for options).
I try to clean cache, reindex, deploy files, but nothing
No errors on console
CSS and JS was Merged! I try and set to No and again is the same.

Magento version 2.2.2 - latest release
php 7.0
mysql mariadb

![screenshot at dec 20 08-35-38](https://user-images.githubusercontent.com/17827482/34194

[2017-12-20 06:38] AleksLi opened #12817 "Coupon code with canceled order"
### Preconditions

1. Magento 2.2.0
2. mysql Ver 15.1 Distrib 10.0.31-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
3. PHP 7.0.22

### Steps to reproduce

1. Add new coupon, [For example](http://joxi.ru/MAj3plec4lPVar) to reproduce this bug easily.
2. Do an order and apply this coupon code.
3. Go to admin area and cancel this order.

### Expected result

1. Coupon should be available a

[2017-12-20 07:07] magento-engcom-team commented on #12816
@radkyy,  thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-20 07:13] radkyy commented on #12816
Update first post

[2017-12-20 07:14] magento-engcom-team commented on #12671
@asrenzo, thank you for your report.
We've created internal ticket(s) MAGETWO-85657 to track progress on the issue.

[2017-12-20 07:30] magento-engcom-team commented on #10493
@premgurung, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-20 07:30] #10493 closed, assigned to nobody

[2017-12-20 07:31] magento-engcom-team commented on #12814
@Rockfordgun please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-20 07:31] #12814 closed, assigned to nobody

[2017-12-20 08:57] parekhreena commented on #6859
@sevos1984  @veloraven  i am facing this same issue and the setting under Calculation Settings>Shipping Prices  is set to "Including tax". You are requested to reopen this ticket as it is still not fixed.

[2017-12-20 08:58] gemini9988 commented on #6817
I have the same issue on Magento 2.2.0.

[2017-12-20 08:58] gh-darvishani opened #12818 "An error occurred on the server. Please try to place the order again"
centos server
magento 2.1
 error "An error occurred on the server. Please try to place the order again"

Hi
i get this error on checkout and after same try and debug i found this function

`    public function savePaymentInformationAndPlaceOrder(
        $cartId,
        $email,
        \Magento\Quote\Api\Data\PaymentInterface $paymentMethod,
        \Magento\Quote\Api\Data\AddressInterface $billi

[2017-12-20 09:02] domeglic commented on #8643
I am also having this issue on 2.2. Before updating from 2.1 I didn't experience this at all.

[2017-12-20 09:17] marius-bica opened #12819 "CartTotalRepository cannot handle extension attributes in quote addresses in 2.2.2"
This issue is exactly the same as this one: https://github.com/magento/magento2/issues/9646, which had been opened at the time for magento `2.1.3` to `2.1.6` and fixed for `2.1.8`

The issue is still present in `2.2.2`

From what I tested, commit [aa535e](https://github.com/ekuusela/magento2/commit/aa535ea5d4bf78915bddd4387a9d3c4b39943eea) solves this issue and it's present in `2.1.8` (as stated i

[2017-12-20 09:18] magento-engcom-team commented on #12816
@radkyy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please try to reproduce this issue on a clean installation or latest release.

[2017-12-20 09:37] magento-engcom-team commented on #12815
@gouravsyscraft, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-20 09:37] #12815 closed, assigned to nobody

[2017-12-20 09:42] SYPOMark commented on #7543
Issue remains in Magento 2.2.
@PascalBrouwers Where do you set the block argument you mention as a fix for this problem?

[2017-12-20 09:51] czettnersandor commented on #6419
I found this ticket because I was looking for why `composer install` is overwriting my changes during deployment. It's not only updating the .htaccess file but `dev/tools/grunt/configs/themes.js`.

Since it's essential to add themes to this file to compile .less files and there's no other way to achieve the same, I think this "feature" needs rethinking.

Maybe don't do this overwrite on `composer

[2017-12-20 09:53] magento-engcom-team commented on #12817
@AleksLi, thank you for your report.
We've created internal ticket(s) MAGETWO-85852 to track progress on the issue.

[2017-12-20 10:10] BrocksiNet opened #12820 "Wrong annotation in _toOptionArray - magento/framework/Data/Collection/AbstractDb.php"
The annotation for **valueField** should be _**@param null|string $valueField**_ at the moment php phan thorws this as an error. And i think phan is right.

**See here:**
**src/vendor/magento/framework/Data/Collection/AbstractDb.php**
[code]

[2017-12-20 10:15] sasilinux opened #12821 "Import - Grouped Products - child products not assigned"
### Preconditions

1.  Magento 2.2.0, Magento 2.2.1 and Magento 2.2.2
2.  Downloaded the sample products CSV in the Admin import.

### Steps to reproduce

1.  Download the Sample Products CSV from the admin side.
2.  Change the names/values in the downloaded csv.
3.  Import that Downloaded csv from the admin side

### Expected result

1.  Simple and Grouped products should be inserted and simple p

[2017-12-20 10:25] swarishna opened #12822 "how to install the magento admin panel?"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-12-20 10:30] asrenzo commented on #12671
Thanks

[2017-12-20 10:40] radkyy commented on #12816
I update to latest release, if I make clean installation, what to do with information now?

[2017-12-20 11:09] Lanot commented on #11494
Had the same issue with MacOs High Sierra Version 10.13.1 (Centos 7 on Virtual Box).
The bug has been fixed in High Sierra Version 10.13.**2** (17C88) fixed this issue.

[2017-12-20 11:18] ashishgavshinde opened #12823 "Magento rounding issue"
### Preconditions

1. Magento Version 2.x
2.

### Steps to reproduce

1. Set Tax calculation settings > Catalog Prices as Excluding Tax
2. Set product price excluding tax like $34.77
3. Set Tax as 10.00% for USA and any state
4. Product Price on catalog is $35.25 then add product to cart and updates its qty to 2
5. Getting subtotal as $76.49 instead of $76.50

### Expected result

1.  We have to g

[2017-12-20 11:21] magento-engcom-team commented on #12822
@swarishna, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-20 11:21] #12822 closed, assigned to nobody

[2017-12-20 11:27] swarishna opened #12824 "Them Installation"
How to create the New theme installation for magento?

[2017-12-20 11:32] sinharitu opened #12825 "Configurable options(Text swatch) type does not order on the basis of the sort order provided"
1. Create an attribute with the 'Catalog Input type' as Text Swatch.
2. Add Values to the attribute.
3. Add this attribute to the product and check the values displayed.
4. It should be displayed as per the sort order defined.

Actual:
Not displayed as per the sort order.
Link to the video to reproduce:
[https://drive.google.com/open?id=1Fx8gFcZu0RL0NnyXdEKdT96pVpdzXwnu](url)

[2017-12-20 11:47] krishnathakor commented on #9323
In my case It was problem in registration.php file where i register custom module.
\Magento\Framework\Component\ComponentRegistrar::register(
 \Magento\Framework\Component\ComponentRegistrar::MODULE,
  'HelloWorld',
  __DIR__
  );

I just comment that code and it is working good for me.Thank you.

[2017-12-20 11:54] DavideDyrecta commented on #5247
I had the same issue:
Magento : 2.1.8 CE
Nginx : 1.13.5
PHP-fpm : 7.0.22-0
OS ubuntu : 16.04
MariaDB  : Ver 15.1 Distrib 10.0.31-MariaDB
Redis-server : Redis server v=3.0.6

I've temporary solved with:
- Log in backend
- Open url : https://www.shop.it/admin_xxxx/admin/backendapp/redirect/app/setup/
And then the setup wizzard open correctly.

Any stable fix for this issue?

[2017-12-20 11:55] steros commented on #9323
It's not about the problem that's causing this but the message that you get that's misleading.

[2017-12-20 12:25] pushpendra07 opened #12827 "Address duplicate issue when we register the user after guest user checkout"
The customer address is duplicating when we create user account after the guest checkout process.

**Preconditions**

**Version: Magento 2.2.1**

**Steps to reproduce**

Add an item to the cart as a guest user.
Provide user details and press "Checkout" button.
Don't forget to check the checkbox "My billing and shipping address are the same" while selecting the payment method.
Place the order.
It w

[2017-12-20 12:37] ghost opened #12828 "Uncaught Error: Script error for: trackingCode error on every frontend page"
### Preconditions
1. Installed Magento version 2.2.2 with sample data.
2. checked in developer and production both mode.
3. Dotdigitalgroup_Email module is enabled downloaded with Magento version 2.2.2.

### Steps to reproduce
1. Open Magento home page.
2. checked browser console and getting error Uncaught Error: Script error for: trackingCode .
![screenshot_90](https://user-images.githubuserconte

[2017-12-20 12:49] magento-engcom-team commented on #12825
@sinharitu, thank you for your report.
We've created internal ticket(s) MAGETWO-85865 to track progress on the issue.

[2017-12-20 13:01] magento-engcom-team commented on #12823
@ashishgavshinde, thank you for your report.
Please tell us what is your "Tax Calculation Method Based On" is set to. In order to get the result, you expect you need to have it set to "Unit Price".

[2017-12-20 13:03] sunilit42 opened #12829 "Add to cart not working due to form key different for non login and login user"
Preconditions
Installed Magento version 2.*.*
Open two tab : one with product page and one with login page

Steps to reproduce
login into second tab
in first step, click on add to cart.
add to cart will not work

Expected result
It shold work add to cart

Actual result
Add to cart not working

[2017-12-20 13:22] pmjcreations commented on #12809
I have removed all previously configured cron jobs because I thought that might not be using. Then I tried `php bin/magento cron:install`. This could be the reason.

I have fixed this, and my `crontab -l` content is below.

[code]

Now let me ask you a related question, do you think `SHELL="/usr/local/cpanel/bin/jailshell"` in between is an expected line?

If Yes, then this issue is resolved and r

[2017-12-20 13:24] mihaifaget commented on #10889
@gwharton You can still do this from xml, by changing the attribute value:
<attribute name="itemtype" value="" />
<attribute name="itemscope" value="" />

Same thing for arguments:
<argument name="whatever name" xsi:type="string"></argument>

[2017-12-20 13:30] swleighton opened #12830 "Custom Theme default.xml not working in 2.2"
### Preconditions
1. Magento 2.2
2. PHP 7.0.25

### Steps to reproduce
1. Downloaded Magento 2.2
2. Copied existing theme into _/app/design/frontend/_ so that the default.xml file is located at
_/app/design/frontend/ VENDOR/THEME_NAME/Magento_Theme/layout/_
3. Set theme in admin

### Expected result
1. The cart/menu move as per the layout blocks in the file

### Actual result
1. No changes from de

[2017-12-20 13:40] samanaveen commented on #4801
We faced this issue after upgrade to M2.2.2.
So we modified below lines in getProductOptions function. Now it is working fine.
vendor/magento/module-sales/Model/Order/Item.php
       -  if (is_string($data)) {
       -    $data = $this->serializer->unserialize($data);
       -  }

        + if (is_string($data['info_buyRequest'])) {
        +   $data['info_buyRequest'] =  unserialize($data['info_b

[2017-12-20 14:00] magento-engcom-team commented on #12828
@poojawebkul , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation without any extentions.

[2017-12-20 14:00] magento-engcom-team commented on #12829
@sunilit42, thank you for your report.
We've created internal ticket(s) MAGETWO-85870 to track progress on the issue.

[2017-12-20 14:09] magento-engcom-team commented on #12824
@swarishna , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-20 14:09] #12824 closed, assigned to nobody

[2017-12-20 14:10] BurningReflex commented on #12769
Update: I am unable to reproduce this on 2.2.2, so it may have been a bug on only 2.2.1. Consider this issue closed.

[2017-12-20 14:12] sambolek commented on #6401
@mpchadwick

Believe this is the commit https://github.com/magento/magento2/commit/2529ec4fc035eec8c524e94c0b73efd8c3efbb28 , but it's just another workaround.

It only delays the error, which will happen anyways, if you have a category with large amount of products.

[2017-12-20 14:17] Blueblazer172 commented on #10673
still not fixed in 2.2.2

[2017-12-20 14:30] magento-engcom-team commented on #12811
@ashvinimarwal, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-20 14:30] #12811 closed, assigned to nobody

[2017-12-20 14:36] magento-engcom-team commented on #12816
Please install on your server one more instance (clear, fresh, without any custom themes, third-party extensions, etc.) and try to reproduce the issue on it, so that we can start to explore the problem from the very root.

[2017-12-20 14:42] poojawebkul commented on #12828
@magento-engcom-team issue is updated please check.

[2017-12-20 14:59] Triloworld commented on #12830
There is error in your file. Replace all existing blocks and container with reference. Make sure you have parent theme configured correctly

[2017-12-20 15:11] emmathepossum opened #12832 "overriding htmlClass doesn't work for every Container"
### Preconditions

1. Magento 2.2.1
2. PHP 7.1

### Steps to reproduce

1. Create Custom Theme
2. create `Magento_Theme/layout/default.xml`
3. insert `<referenceContainer name="product.info.media" htmlClass="custom-product-media-class"/>`

### Expected result

1. CSS class of `product.info.media` Container should change

### Actual result

1. CSS class doesn't change. `<div class="product media">`

[2017-12-20 15:30] magento-engcom-team commented on #12827
@pushpendra07, thank you for your report.
We've created internal ticket(s) MAGETWO-85874 to track progress on the issue.

[2017-12-20 15:33] asrenzo commented on #12110
Hi,
Sounds like this was not fixed in 2.1.x version.
Don't you plan to do it ?
Regards,
Laurent

[2017-12-20 16:01] magento-engcom-team commented on #12559
@ahmadalfy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-20 16:01] #12559 closed, assigned to nobody

[2017-12-20 16:02] magento-engcom-team commented on #12550
@DeanSig, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-20 16:02] #12550 closed, assigned to nobody

[2017-12-20 16:03] magento-engcom-team commented on #12491
@pradeepnew, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-20 16:03] #12491 closed, assigned to nobody

[2017-12-20 16:07] magento-engcom-team commented on #9676
@tsifra, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-20 16:07] #9676 closed, assigned to nobody

[2017-12-20 16:11] magento-engcom-team commented on #4986
Hi @fooman. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/42

[2017-12-20 16:11] #4986 closed, assigned to nobody

[2017-12-20 16:27] swleighton commented on #12830
Removed most of the file to only leave the block that inserts a new item into the menu. The file is still failing to load

`<?xml version="1.0"?>

<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
      <referenceBlock name="catalog.topnav">
         <block class="IBD\NavigationLink\B

[2017-12-20 16:28] swleighton commented on #12830
`
<?xml version="1.0"?>

<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
      <referenceBlock name="catalog.topnav">
         <block class="IBD\NavigationLink\Block\Links\Link" name="newpage" after="-">
           <arguments>
             <argument name="label" xsi:type="string" tr

[2017-12-20 16:59] Yonn-Trimoreau commented on #12828
uBlock Origin extension is the source of the issue.

It blocks the trackingCode.js file before it has the time to track you down. And that seems to be justified.

Here is the content of `trackingCode.js` :
[code]
And where does that lead to ? ==> A tracking script.. [http://t.trackedlink.net/_dmpt.js](http://t.trackedlink.net/_dmpt.js)

I cannot judge Magento team for recently integrating several

[2017-12-20 17:30] wolfuma commented on #12567
Same here on all product variants...... Works on 2.1.9 and didnt work after update to 2.2.1. For note, the swatches dont work properly, price didnt update on some MOBILE bowsers

[2017-12-20 17:37] salelsol commented on #12727
Just, same issue. Maybe you are same added extension in conflict with Magento 2.2.1 ? For example Amasty Layered Navigation ?

[2017-12-20 17:38] salelsol commented on #12727
![amasty_layere_navigation](https://user-images.githubusercontent.com/16081377/34220453-041ab1d8-e5b5-11e7-9c4d-49e98a6f4137.jpg)

[2017-12-20 17:50] karimsamir opened #12833 "Exception when trying to add new integration from backend"
Preconditions
Magento 2.0.7

Steps to reproduce
Login to backend
Go to system->integrations
Click "add new integration". or "reauthoirze"

Expected result
There should be a form to add new integration or or "reauthoirze" existing web service

Actual result
It throws an exception, details below:

main.CRITICAL: exception 'Magento\Framework\Exception\AuthorizationException' with message 'We can't fi

[2017-12-20 19:44] inluxc commented on #11696
Can you give us the name of the class in question so we can resolve it :D
Thanks in advanced

[2017-12-20 21:02] Jimgitsit opened #12834 "Mass Action On Single Item In Filtered List"
If a filter produces a single item in a list and then a mass action is performed on that item, there is no 'selected' property in the POST.

### Preconditions
M2 v2.1.10
In my case I am using a custom grid built by a third party and a custom mass action built by myself. I have not tested this with other grids.

### Steps to reproduce
- Filter a list so that only one result is returned.
- Check the

[2017-12-20 21:43] rahimalizada commented on #9676
The problem persists on 2.1.10

[2017-12-20 21:53] salelsol commented on #12727
This solution not fixed issue but hide input box, insert in any css file working on your page:

.swatch-attribute input {
display:none;
}

[2017-12-20 22:08] pdenissen opened #12835 "Magento 2 runs out of memory when removing secure base_url in database."
### Preconditions

Magento 2.2.1
Runs on MacOS 10.13.2
PHP7.0.2
10.2.7-MariaDB
NGINX 1.12.1

### Steps to reproduce

1. Fill both fields, secure and unsecure base URL, with something like http://environment.local/ in the CMS configuration.
2. Go to http://environment.local in your browser. Website should work now.
3. Open core_config_data with a database editor and search for the path web/secure/b

[2017-12-21 01:28] versdivers opened #12836 "Field required backend order creation"
When you have 2 websites example1.com and example2.com and you have the next setup :
Default config -> Customer Configuration  -> VAT required -> Optional
Example1 -> Customer Configuration -> Vat Required -> Required
Example2 -> Customer Configuration -> Vat Required -> Not required

**note :** Example 1 is default website so the adminhtml is always example1.com/adminurl

Then because you are on

[2017-12-21 01:31] versdivers commented on #12836
I noticed the same in the storefront while creating an account. The VAT field is not showing during creation but if you submit it will give the error that it actually is required so you can not continue. This because for some reason the validator takes the default config as a requirement. Having the default config on 'optional' fixes it but it should be an issue like this

[2017-12-21 02:01] versdivers commented on #12836
For people who are searching for a dirty quick fix  you can hard code the setting that you want.

\Magento\Sales\Block\Adminhtml\Order\Create\Form\AbstractForm

function _addAttributesToForm

snippet

Note that this is a very bad practice to do! I will make a module for myself for it just until Magento fixes the way it handles this. I tried to find a way to set the Website ID for the attributes it

[2017-12-21 02:48] webmasterpaula commented on #12129
Same here. Magneto 2.2.2. Please help me.

[2017-12-21 03:08] versdivers commented on #12836
Here is the temporary fix. You can add whatever you want in Form.php

https://gist.github.com/versdivers/f5680bb8712878a62ad2f07a055567a1

[2017-12-21 05:09] Nishadup commented on #3307
I am always getting the message 'You can't create a shipment without products.' Anyone, please guide me how to get order_item_id from the order?

[2017-12-21 06:25] magento-engcom-team commented on #12682
@sambalay, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-21 06:35] magento-engcom-team commented on #12821
@sasilinux,  thank you for your report.
Do you mean you have used optional ["Sample Data"](http://devdocs.magento.com/guides/v2.2/cloud/howtos/sample-data.html) of Magento?

[2017-12-21 06:37] magento-engcom-team commented on #12793
@mzenner1, thank you for your report.
We've created internal ticket(s) MAGETWO-85900 to track progress on the issue.

[2017-12-21 06:40] sasilinux commented on #12821
Yes. I have used "Sample Products CSV" that is available in the import option of the admin side.

[2017-12-21 07:24] mageprince opened #12837 "Magento 2 Multiple discount with percent of product price discount calculation issue"
### Preconditions
1. Magento 2.2.2
2. PHP Version 7.0.22

### Steps to reproduce

**1. Create new cart price rules with the following configuration**

**Rule 1:**
[code]
**Rule 2:**
[code]

**2. Add product to cart with has price = $45**

### Expected result

    Total discount applied $6.75
    First Rule(10% of product price) Discount: (45*10) / 100 = 4.5
    Second Rule(5% of product price) Dis

[2017-12-21 07:41] yogeshsyscraft opened #12839 "Magento 2 ! Multistore Not Setup with different Domains"
### Preconditions

1. Using Magento 2.2 in nexcess Server
2. Creating Multi Store with Different URL

### Steps to reproduce

1. Create Website , Store and Store View
2. Assign Base URL of new domain in base URL for both Secure and non secure   From admin ,
3. also Change to yes This Option  "Add Store Code to Urls" created url .
4. when try to access my new store with domain , see error

### Expe

[2017-12-21 08:15] apluzhnikov commented on #3307
@Nishadup when you get the order data by id from magento, you always have a list of items, there you can find your order_item_id as "itemId" in JSON response (http://devdocs.magento.com/swagger/index_20.html -> salesOrderRepositoryV1 -> GET /V1/orders/{id}):
![image](https://user-images.githubusercontent.com/18361353/34246458-5e38380c-e637-11e7-9457-8f76ccdd0ee1.png)

[2017-12-21 08:25] Nishadup commented on #3307
@apluzhnikov, Thanks a ton. that resolved my issue.

[2017-12-21 09:12] magento-engcom-team commented on #12833
@karimsamir , thank you for your report.
We were not able to reproduce this issue on the clean installation by following the steps you provided.
Please try to reproduce this issue on a clean installation.

[2017-12-21 09:30] magento-engcom-team commented on #11511
@ShapesGraphicStudio, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-21 09:30] #11511 closed, assigned to serhii-balko

[2017-12-21 09:43] #12795 closed, assigned to nobody

[2017-12-21 09:57] friimaind commented on #12655
I am having the same issue.

Magento 2.2.2 upgraded from 2.1.9

`PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Magento\\Quote\\Model\\Cart\\Totals::setExtensionAttributes() must be an instance of Magento\\Quote\\Api\\Data\\TotalsExtensionInterface, instance of Magento\\Quote\\Api\\Data\\AddressExtension given, called in /var/www/www.mywebsite.com/public_html/vendor/magento/framework/A

[2017-12-21 10:05] magento-engcom-team commented on #12803
@anujeetphj, thank you for your report.
We've created internal ticket(s) MAGETWO-85905 to track progress on the issue.

[2017-12-21 10:09] vodanh109 commented on #11696
Sorry for late response. It's app/code/TemplateMonster/ThemeOptions/Observer/AddDynamicStyles.php

[2017-12-21 11:10] archonkulis opened #12841 "Section "section-data" removed after bad request to "rest/*/V1/guest-carts/*/payment-information""
### Preconditions

1. Magento 2.1.6
2. php7.0-fpm

### Steps to reproduce

1. Install some 3rd party payment system ( or somehow manually fire that request - I think M2 internal devs will know what to do if you will read below ), which in the end makes a request to` rest/*/V1/guest-carts/*/payment-information` ( PayPal isn't being affected, because it makes request to set-payment-information and f

[2017-12-21 11:30] magento-engcom-team commented on #12572
@tonytrinh206, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-21 11:30] #12572 closed, assigned to nobody

[2017-12-21 11:38] magento-engcom-team commented on #12834
@Jimgitsit , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-21 11:49] dmanners commented on #10650
I have added a back-port pull request for the `2.1-develop` branch so that both 2.1 and 2.2 should behave in the same way with regards to cron scheduling. (See https://github.com/magento/magento2/pull/12805). We are also getting the core team involved with https://github.com/magento/magento2/pull/12497 to try to work on cron scheduling with the community.

[2017-12-21 12:14] paveq commented on #10650
@s-hoffman Indeed, it looks like this was introduced in 2.2 here https://github.com/magento/magento2/commit/eacb7024e2640f71199b0bf943a4409d5d883548

Either it does not work, or if it does it causes even larger issues. If we blindly check for "running" status, since crashed job will cause that job to never run again until the row is removed from schedule table.

[2017-12-21 12:16] mariommoreno commented on #7589
We have the same needs. Any progress with this feature?

[2017-12-21 12:32] korostii commented on #6732
Hi @magento-engcom-team,

With all due respect, a comment from your colleague @piotrekkaminski (which can be seen above) makes it pretty clear that this is, in fact, a _bug_.
Could you please kindly explain\elaborate, what's changed since then and why? Thanks in advance.

[2017-12-21 12:49] #12682 closed, assigned to nobody

[2017-12-21 13:12] lowczarczuk commented on #7488
[Magento 2.2.0]
I found a quick fix in `Magento\Checkout\Controller\Cart\Add::_initProduct()`

Before:
`return $this->productRepository->getById($productId, false, $storeId);`
After:
`return $this->productRepository->getById($productId, false, $storeId, true);`

In fact I have a plugin (`aroundExecute`) on this controller with own `_initProduct` method. The plugin process each product except the l

[2017-12-21 13:41] bmxmale commented on #12828
This file isn't minified durring static-content:deployment this is reasone why on our site getting 404.

[2017-12-21 13:45] lsonkar opened #12842 "Magento 2.1.1 : Getting Blank/Incomplete shipping addresses in admin when order placed with Paypal only in very few cases"
Magento CE 2.1.1
### Preconditions

1.  Order placed with Paypal Express
2.  Magento CE 2.1.1

### Steps to reproduce

1. Add a product to the cart.
2. Calculate/Estimate shipping based on address to ship.
3. Go to checkout and enter the billing/shipping address for guest and place the order by selecting paypal payment method.

### Expected result

1. Shipping address should be collected by Magent

[2017-12-21 13:50] schmengler opened #12844 ""Cannot instantiate interface Magento\Framework\Interception\ObjectManager\ConfigInterface" error in integration tests"
### Preconditions
1. Magento 2.2.1

### Steps to reproduce
1. Create an integration test with the following fixture:
[code]
### Expected result

1. I can use the command list to test registered commands

### Actual result

1. The test fails with an error like this:
[code]

I logged which classes were instantiated befor the error and it seems like `XmlCatalogGenerateCommand` has the object manager

[2017-12-21 13:50] magento-engcom-team commented on #12842
@lsonkar thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [x] Steps to

[2017-12-21 13:53] schmengler commented on #12844
I worked around this issue by adding the preference manually in my test:

[code]

But that should not be necessary.

[2017-12-21 13:58] Userr017 commented on #12081
I added this and "Item in Cart" translating for different language works.
[code]

[2017-12-21 14:03] jzahedieh opened #12846 "API carts/mine/items update|reduce qty update throws stock error"
### Preconditions

1. Magento EE 2.1.9 (with sample data)
2. PHP 7.0
3. nginx 1.11
4. percona:5.7

Using https://github.com/mageinferno/magento2-docker-compose

### Steps to reproduce

#### Precondition steps

These are for getting the data needed for the proper steps

1. Create a customer, and get their customer token from: http://localhost:8000/index.php/rest/default/V1/integration/customer/toke

[2017-12-21 14:24] magento-engcom-team commented on #12804
@nei, thank you for your report.
We've created internal ticket(s) MAGETWO-85917 to track progress on the issue.

[2017-12-21 14:34] magento-engcom-team commented on #12837
@mageprince, thank you for your report.
We've created internal ticket(s) MAGETWO-85918 to track progress on the issue.

[2017-12-21 14:53] magento-engcom-team commented on #12821
Thank You @sasilinux. We are closing this issue as being a duplicate of #12793.

[2017-12-21 14:53] #12821 closed, assigned to nobody

[2017-12-21 15:08] hubertus2017 commented on #12828
We had the same problem also with uBlock. After deactivating dotmailer extension checkout works again.

[2017-12-21 15:19] magento-engcom-team commented on #12828
@poojawebkul , thanks for your update.
We were not able to reproduce this issue, please check this issue on vanilla installation.
![home_01281280901](https://user-images.githubusercontent.com/31669971/34261810-180b626e-e673-11e7-9b61-cfd09b1794e1.png)

![order_front_0971280906](https://user-images.githubusercontent.com/31669971/34261828-25826078-e673-11e7-8088-eb338e8f40e9.png)

[2017-12-21 15:22] magento-engcom-team commented on #12809
@pmjcreations , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-21 15:22] #12809 closed, assigned to nobody

[2017-12-21 15:24] nobodypb commented on #10650
@paveq Actually I just had an issue, where some cronjobs didn't start after updating from 2.1 to 2.2, because there where old entrys of failed jobs with running status in the schedule table.

[2017-12-21 15:30] magento-engcom-team commented on #12835
@Hobbit78, thank you for your report.
We've created internal ticket(s) MAGETWO-85920 to track progress on the issue.

[2017-12-21 15:32] vince1222 opened #12847 "Cant' place order on the backend"
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines-->

I can't place order on the backend
if I want to make order for the customer , or edit customer order , can't do it on the backend
### Preconditions

1. Magento CE 2.1.8
2. PHP 7.0

### Steps to reproduce

1. Login to Magento Admin Panel
2. Sales > Orders > Create New Order , and can't select the customer list.
3. Click create

[2017-12-21 15:40] JVKeller commented on #11398
@pankajpragma,

Were you able to resolve this?

[2017-12-21 15:40] Yonn-Trimoreau commented on #12828
Please read the responses @magento-engcom-team

The issue is with uBlock, and may (will certainly) happen when real life customers will visit our Magento site with uBlock activated.

When uBlock forbids `trackingCode.js` file from loading, the exception thrown by RequireJS breaks the JS execution flow, causing unexpected issues elsewhere on the site.

You shall fix this issue by catching the Requi

[2017-12-21 15:51] poojawebkul commented on #12828
@magento-engcom-team Actually issue is only coming when uBlock is activated (as shown in the screenshot), otherwise, no error is coming.
![screenshot_96](https://user-images.githubusercontent.com/14589296/34263249-d6ef339c-e694-11e7-84b8-27ef62b938c9.png)

[2017-12-21 16:00] lano-vargas commented on #6609
Hello.
Magento 2.1.7
I am currently experience this issue with LiteSpeed server +LiteMage Cache and LiteMage Cache for Magento extension.

Can anyone point me to the fix in 2.2.1 so I can apply a path to my version please?
Thanks.
Juliano

[2017-12-21 16:30] magento-engcom-team commented on #12836
@versdivers, thank you for your report.
We've created internal ticket(s) MAGETWO-85925 to track progress on the issue.

[2017-12-21 16:35] vitormicillo commented on #12570
@BlackIkeEagle  what index.php you refer ?
what the location?

[2017-12-21 16:58] saiyadsalma commented on #7655
I am getting same error.

[2017-12-21 17:11] sanju40 opened #12849 "Able to access magento 2.0 admin panel by SID without username and password"
Hi,

I am able to access admin panel using by SID,

http://domain.com/admin/xxxx/xxxx/xxxx/key/xxxxx/SID=xxxxxx&___store=abc&___from_store=abc

Preconditions
Magento CE 2.1.7 -- 2.2.2
PHP 7.0

### Steps to reproduce
1. Without login Try to access  http://domain.com/admin/xxxx/xxxx/xxxx/key/xxxxx/SID=xxxxxx&___store=abc&___from_store=abc

### Expected result

1. If user not logged in as admin, It s

[2017-12-21 17:37] #12847 closed, assigned to nobody

[2017-12-21 17:58] wolfuma commented on #12317
Same here on 2.2.1, no 'X' on out of stock products.

[2017-12-21 18:49] jmtakahashi commented on #9833
@aasim110 could you clarify "flushing 'eav_attribute_option_swatch' table entries corresponding to the attribute (all of them,not just specific to single product or option)".  Did truncate the entire table or only certain columns/values?

[2017-12-21 18:54] jmtakahashi commented on #12727
This issue exists in 2.1.10 as well.  The only option was to hide using CSS.  Apparently in older versions, the JS hid this by outputting CSS, but now, due to changes, it is showing that weird text box.

[2017-12-21 18:56] jmtakahashi commented on #12727
https://github.com/magento/magento2/issues/12605

[2017-12-21 19:30] piotrekkaminski commented on #12849
@sanju40 We are not able to reproduce it. Can you send a proof of concept (eg a screen recording) to security@magento.com?

[2017-12-21 19:33] PieterCappelle commented on #7816
Create PR for 2.3-develop branch. If accepted I'll create backport for 2.2-develop & 2.1-develop branch.

[2017-12-21 19:38] rmendoza3 commented on #10071
I am using Magento Commerce 2.2 and just migrated data a couple of days ago. I set the admin user password to expire after two days to test this feature. Today, I am getting the error "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later." There were no changes to admin from yesterday to today.

First I tried rein

[2017-12-21 20:20] BlackIkeEagle commented on #12570
@vitormicillo depending on where your document root is, index.php in your root of your project file or pub/index.php

[2017-12-21 21:15] m-spyratos opened #12854 "Payment method charge (feature request)"
I would like to request the ability to add additional charges depending on the payment method that a user has chosen.

For example:

- [ ] Bank Deposit: Free
- [ ] Cash on Delivery: + $3.00

Paid solutions already exist for this, like [Extra Charge of Payment Method](https://shop.emiprotechnologies.com/extra-charge-of-payment-method-for-magento-2.html) from Emipro, but I believe that this should b

[2017-12-21 21:16] PieterCappelle commented on #12793
Hi @mzenner1 , I've created PR to fix this issue. Currently only for 2.3-develop branch. If accepted I'll create backport to 2.2-develop branch.

Issue has been created because of new functionality in 2.2 & 2.3 for duplicate SKU's. Every SKU is lowercased. In this function it was forgotten to change SKU to lowercase.

@dmanners Could you add import/export label to this issue. Thanks!

[2017-12-21 21:33] PieterCappelle commented on #12429
Can you assign this to me? I’ll fix this. Can @magento-engcom-team also add the label import/export? Thanks!

[2017-12-21 21:35] PieterCappelle commented on #12330
Can you assign this to me? I’ll fix it. Please add import/export label. Thanks!

[2017-12-21 21:39] PieterCappelle commented on #10209
Can confirm. Can’t reproduce in 2.2 and 2.3.

[2017-12-21 21:43] PieterCappelle commented on #12808
Issue is not fixed in 2.2-develop and 2.3-develop. So ues, its an issue. Will you fix this with PR?

[2017-12-21 21:57] david-gorecki opened #12855 "IE11 - Checkbox does not work correctly when adding products to a new sales order through the admin site"
### Preconditions
1. Magento 2 Opensource version 2.2.1
2. Specific to IE11 (have not checked other IE versions)

### Steps to reproduce
1. Open the Admin site using the IE11 browser and sign in
2. Click Sales > Orders in the left nav
3. Click Create New Order
4. Select a Customer (for the purposes of this example, I used the sample customer Veronica Costello)
5. On the "Select store" page, select

[2017-12-21 22:24] s-hoffman commented on #10650
@paveq, This ticket is labeled 'Reproduced on 2.2.x'.
Is that label correct?

[2017-12-21 22:41] OmegaPT commented on #5999
Hi guys  need some help magento 2       version 2.1.9 cannot change to my new attribute, only loading loading. :(

http://prntscr.com/hqr532

[2017-12-22 00:14] heldchen commented on #10673
@Blueblazer172 it does seem to be working with v2.2.2 for our setup using `bin/magento setup:static-content:deploy --theme=MyTheme/default de_CH fr_CH`

[2017-12-22 00:27] inelukipg commented on #10113
Hi,
Anyone know which file to hard code to fix this?

[2017-12-22 01:02] jwgraves2 commented on #12330
Glad to see this on the way to resolution. For anyone waiting on a fix, what worked for us was: 1) import the simples on which your bundles are based; 2) import the bundles via csv; 3) note the stock status on the bundles is out of stock (the bug); 4) create a dummy simple called "AAA" with inventory zero; 5) For each bundle product, add the AAA simple to the bundle values and save it out; 6) Note

[2017-12-22 04:13] sasilinux commented on #12793
@mzenner1 - Have you ever got a chance to solve this issue. If you found any solution, please let me know. Thanks

[2017-12-22 04:20] sasilinux commented on #12821
This is an important task for me, because we are going live. My client only uses product import regularly. So please let us know, if you find any solution ASAP.

[2017-12-22 04:56] sanju40 commented on #12849
Hi Piotr Kaminski,

You have to follow below steps to reproduce result

Server Authentication::
User:: youlogix
Pass:: letmein

URL:: http://dev5.youlogix.com/magento/mageadmin/
User:: youlogix
Pass:: Pa$$12345

1. Login to admin panel
2. Navigate *Youlogix > Designer* (there are two youlogix menu please
select first one/ select right one).
3. After clicking Designer you will navigate to designer

[2017-12-22 05:09] sanju40 commented on #12849
@piotrekkaminski I have shared details over above mention email id "security@magento.com", also there i have mentioned steps to  reproduce error.

[2017-12-22 06:12] suguna-e commented on #8401
how to integrate the new theme for magento?

[2017-12-22 06:16] suguna-e commented on #12095
how to integrate the new theme activation for magento?

[2017-12-22 06:33] Puru2016 commented on #3909
Is there any fix for this issue?

[2017-12-22 06:50] PieterCappelle commented on #12793
@sasilinux I fixed in that PR. Just need to fix unit test but is easy. Will fix it.

[2017-12-22 06:51] magento-engcom-team commented on #12598
@eharvest, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-22 06:51] #12598 closed, assigned to nobody

[2017-12-22 08:26] denchev commented on #12451
@orlangur In 2.1.9 Release notes there isn't a single mention why SVG is removed.

http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.9CE.html

Also I personally don't think removing the SVG as supported format is the appropriate handle of XSS attacks. There has to be a way to keep SVGs and also eliminate potential XSS vulnerabilities.

[2017-12-22 08:33] magento-engcom-team commented on #6063
@thietdv-doan Thanks for reporting this issue. Considering that area should be set initially and can not be changed, current behavior is correct.

[2017-12-22 08:33] #6063 closed, assigned to nobody

[2017-12-22 08:41] magento-engcom-team commented on #12841
@archonkulis , thank you for your report.
Please try to reproduce this issue on a clean installation without any third-party extensions.

[2017-12-22 08:44] magento-engcom-team commented on #12828
@poojawebkul, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-22 08:45] archonkulis commented on #12841
@magento-engcom-team why? That extension simply uses Magento functions, it's not overriding anything. Please be more careful when reading the description. If some M2 dev would read it he wouldn't have a questions like that, so please forward this bug straight to the dev. As I already mentioned - this has nothing to do with 3rd party extensions code, but rather how it uses the Magento core function

[2017-12-22 09:07] okorshenko commented on #12713
Hi @alena-marchenko
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.
Fixed in magento/magento2#12730 by @EfremovaVI in 2.2-develop branch
   Related commits:
     1. 370e526
     2. 5e43f84
     3. ff7029f

[2017-12-22 09:07] #12713 closed, assigned to EfremovaVI

[2017-12-22 09:07] okorshenko commented on #9453
Hi @hostep
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.
Fixed in magento/magento2#12743 by @strell in 2.2-develop branch
   Related commits:
     1. 38720ea

[2017-12-22 09:07] #9453 closed, assigned to strell

[2017-12-22 09:08] okorshenko commented on #9720
Hi @mam08ixo
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.
Fixed in magento/magento2#12747 by @hannassy in 2.2-develop branch
   Related commits:
     1. ddf6c9f

[2017-12-22 09:08] #9720 closed, assigned to hannassy

[2017-12-22 09:30] magento-engcom-team commented on #12679
@aKalisch, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-22 09:30] magento-engcom-team commented on #11672
@Hobbit78, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-22 09:30] #11672 closed, assigned to nobody

[2017-12-22 09:30] magento-engcom-team commented on #12596
@ali001, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-22 09:30] #12596 closed, assigned to nobody

[2017-12-22 09:30] magento-engcom-team commented on #12580
@shozibrasool, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-22 09:30] #12580 closed, assigned to nobody

[2017-12-22 09:30] magento-engcom-team commented on #12568
@Bosecom, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-22 09:30] #12568 closed, assigned to nobody

[2017-12-22 09:30] magento-engcom-team commented on #12400
@lano-vargas, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-22 09:30] #12400 closed, assigned to nobody

[2017-12-22 09:48] orlangur commented on #12451
Hi @denchev,

Pay attention to this link.

Do not hesitate to propose a pull request with a better fix.

[2017-12-22 10:08] digvijay2017 opened #12856 "Product Price is mismatch in invoice and invoice PDF magento for Bundle Product 2.2.1"
I am getting different price in invoice and invoice PDf for the bundle product. Actually, The price in the invoice pdf are wrong. I am getting right price in order, order email, invoice, invoice email or everywhere in the application, but invoice PDf price is wrong only Bundle product.

### Preconditions
1. Install Magento 2.2.1
1. Create Bundle product in application.
1. In Magento Admin go to St

[2017-12-22 11:50] Monika1802 commented on #9762
HI, i am also facing the same issue
{"message":"Shipment Document Validation Error(s):\nYou can't create a shipment without products.\nPlease enter a tracking number.

json:

{
  "items": {
    "extension_attributes": null,
    "order_item_id": 9,
    "qty": 2.0,
    "sku": "Pen"
  },
  "notify": true,
  "appendComment": true,
  "comment": {
    "comment": "first Shipment",
    "is_visible_on_fron

[2017-12-22 12:04] okorshenko commented on #12719
Hi @alena-marchenko. Thank you for your report. The issue has been fixed in magento/magento2#12738 by @xpoback in 2.2-develop branch
Related commits:
 - 1. 6b9c39cadfe86a62a5b0c4b13470431f0409c651
The fix will be available with upcoming patch release.

[2017-12-22 12:06] okorshenko commented on #12719
Hi @alena-marchenko. Thank you for your report.
The issue has been fixed in magento/magento2#12738 by @xpoback in 2.2-develop branch
Related commits:
 - 6b9c39cadfe86a62a5b0c4b13470431f0409c651

The fix will be available with the upcoming patch release.

[2017-12-22 12:07] #12719 closed, assigned to xpoback

[2017-12-22 12:07] okorshenko commented on #6113
Hi @robinhuy. Thank you for your report.
The issue has been fixed in magento/magento2#12739 by @zamoroka in 2.2-develop branch
Related commits:
 - 465e14bdee949bf8c92ed1640119930e0cce4091
 - 8bc807fb097ff2ef8f45ff756d69e27f563cf388
 - e9dcb03d2430e0b4289502c3550c0e24fd945e3b

The fix will be available with the upcoming patch release.

[2017-12-22 12:07] #6113 closed, assigned to AndrewMun

[2017-12-22 12:07] okorshenko commented on #5035
Hi @katesuykovskaya. Thank you for your report.
The issue has been fixed in magento/magento2#12758 by @Mobecls in 2.2-develop branch
Related commits:
 - 937b26d3cc23ce86df6db204765b10f4ccf7ea5a
 - 85fa67170f413ea5f509c7f1e0cf870cae559bb3

The fix will be available with the upcoming patch release.

[2017-12-22 12:07] #5035 closed, assigned to Mobecls

[2017-12-22 12:07] okorshenko commented on #12715
Hi @alena-marchenko. Thank you for your report.
The issue has been fixed in magento/magento2#12759 by @StasKozar in 2.2-develop branch
Related commits:
 - 946382cc9063ad90fd14bc3890d2230ba606ee4c
 - faee0fc0cef419b867bdaa83fc47062ffeb6b1fc

The fix will be available with the upcoming patch release.

[2017-12-22 12:07] #12715 closed, assigned to StasKozar

[2017-12-22 12:07] okorshenko commented on #12206
Hi @catstantin. Thank you for your report.
The issue has been fixed in magento/magento2#12732 by @ihor-sviziev in 2.2-develop branch
Related commits:
 - ecf27becd6bc99842527153f45e0e7fc91c95624
 - 5e4bf42b29de485cf19b119e32e52effe5ce1820

The fix will be available with the upcoming patch release.

[2017-12-22 12:07] #12206 closed, assigned to ihor-sviziev

[2017-12-22 12:07] okorshenko commented on #12627
Hi @quisse. Thank you for your report.
The issue has been fixed in magento/magento2#12630 by @quisse in 2.2-develop branch
Related commits:
 - 6f7219f4d2a6cb43cb3b7e8805a096d6df63ca44
 - 2602e7ec18fd2f0bed5fefeee91a52b0fbde160e
 - 115ba8ef9d739ee131fccf5baff6d3a8b9d4b192
 - 97f77e64e7db6c04958632906ae9519590918414
 - bb3932cfdb8985fe8c1e752ab99414bdffc47ebf
 - 8986107dfe5dadb582fc11113287cc933b06c

[2017-12-22 12:07] #12627 closed, assigned to quisse

[2017-12-22 12:07] okorshenko commented on #6965
Hi @Vinai. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1022 by @nmalevanec in 2.2-develop branch
Related commits:
 - 2c4fa0771676b562f84de41069d64aff648172ba
 - ed5ffedd4cd28492f299e5d059414dd3d2540b8e

The fix will be available with the upcoming patch release.

[2017-12-22 12:07] #6965 closed, assigned to nmalevanec

[2017-12-22 12:23] jzahedieh commented on #12097
I have also faced this issue whilst upgrading from 2.1.9 => 2.2.2

I have tracked down the cause to having entries in the `core_config_data` table where any entry of `websites` `scope` doesn't have any `default` value in in the first two parts of the `path`.

i.e this works correctly:

![image](https://user-images.githubusercontent.com/2098908/34297726-c33940f4-e711-11e7-8054-24b8f9ad5430.png)

As

[2017-12-22 12:30] magento-engcom-team commented on #12769
@BurningReflex, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-22 12:30] #12769 closed, assigned to nobody

[2017-12-22 12:35] p-bystritsky commented on #12006
Already fixed in 2.2 develop branch.

[2017-12-22 12:35] #12006 closed, assigned to nobody

[2017-12-22 12:49] p-bystritsky commented on #11895
Can not reproduce on 2.2-dev.

[2017-12-22 13:05] dakira opened #12858 "Facebook Shop and Marketplace Support"
It would be great if Magento had out-of-the-box support for Facebook sales channels. It seems some discussion on this has already been going on between Facebook and Magento (see https://github.com/facebookincubator/facebook-for-magento/issues/24).

[2017-12-22 13:34] magento-engcom-team commented on #12728
please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-22 13:34] #12728 closed, assigned to nobody

[2017-12-22 13:53] JustBeYou commented on #12808
OK then. I am going to make a fork and try to get a fix. I will create a pull request when I'm done.

[2017-12-22 14:00] ihor-sviziev opened #12860 "Sort by Product Name doesn't work with Ancor and available filters"
On the category page when we have filters (as example - we need to define color for products) +  "Ancor" is enabled for category - sorting by product name doesn't work correct.

### Preconditions
1. Install Magento 2.2.2
2. Create "test" category
3. Create 3 products and add them to "test" category
- Product A (**color attribute set to "red"**)
- Product B (**color attribute set to "blue"**)
- Coo

[2017-12-22 14:12] Sil-B commented on #11208
We have the same issues with Magento 2.2.1

[2017-12-22 14:32] okorshenko commented on #11936
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/magento2#12105 by @tzyganu in 2.2-develop branch
Related commit(s):
 - 433c3cd97c327b6130fa34ad2aad15659facafe3
 - 7be92a872300f949d349e442c3d8e1045609d8b1

The fix will be available with the upcoming patch release.

[2017-12-22 14:32] #11936 closed, assigned to nobody

[2017-12-22 14:32] okorshenko commented on #12439
Hi @nfourteen. Thank you for your report.
The issue has been fixed in magento/magento2#12751 by @Styopchik in 2.2-develop branch
Related commit(s):
 - c4e4168cdeb349bd45fcb609970ab1219231c8f7

The fix will be available with the upcoming patch release.

[2017-12-22 14:32] okorshenko commented on #11953
Hi @JanisE. Thank you for your report.
The issue has been fixed in magento/magento2#12737 by @zamoroka in 2.2-develop branch
Related commit(s):
 - 5cf0d3480fcc302f922fce12a588afd5e5771491
 - 7418f1ac607c68003c2f4122f2b1bf07a35c044e

The fix will be available with the upcoming patch release.

[2017-12-22 14:32] #12439 closed, assigned to Styopchik

[2017-12-22 14:32] okorshenko commented on #11743
Hi @jchenevey. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1016 by @serhii-balko in 2.2-develop branch
Related commit(s):
 - 2629726dd4754b5fd50eebb4860794b7931fdd88
 - b326714be1661f917b23fea90576512b9c631f99
 - 5f4363b243fa0c297a8be2cab4c00f0d806b14c1
 - 9ce4730da51d91f1a1925f41b9ae6d573d9e96bd

The fix will be available with the upcoming patch release.

[2017-12-22 14:32] #11743 closed, assigned to serhii-balko

[2017-12-22 14:32] #11953 closed, assigned to zamoroka

[2017-12-22 14:32] okorshenko commented on #12625
Hi @mahmood537. Thank you for your report.
The issue has been fixed in magento/magento2#12636 by @osrecio in 2.2-develop branch
Related commit(s):
 - 22f454dd020719686c558a36d67df6dc13506c3f

The fix will be available with the upcoming patch release.

[2017-12-22 14:32] #12625 closed, assigned to osrecio

[2017-12-22 14:32] okorshenko commented on #5188
Hi @JamesonNetworks. Thank you for your report.
The issue has been fixed in magento/magento2#11686 by @tdgroot in 2.2-develop branch
Related commit(s):
 - 177e540938631fbb749dcc028d4f8f864e290b4e
 - 0d652139889d882dd6646741070e12d04ebd8a5b
 - a781bf6f75c74a6e871f1640ae679b18967ac000
 - dcc480d15c9f0c1aca77974d5cd89a972f1d32dd
 - 5d4e1c29ca7d0a62a3465dd7b98a5c30d1410845
 - b552dd1be35436e05065d8269

[2017-12-22 14:32] #5188 closed, assigned to tdgroot

[2017-12-22 14:32] okorshenko commented on #7241
Hi @spyrule. Thank you for your report.
The issue has been fixed in magento/magento2#11462 by @avstudnitz in 2.2-develop branch
Related commit(s):
 - 11e38f68a9956cbdc1d7c48284bc712729f43a90
 - 7800e5dd8aac704da3f2b1799baadf2a01269c61
 - 252529f0819d2792982452ed9d929d5fb526996d
 - 519b805c2853f895d804c49e08bd7a23b108c38c
 - eb79b38beb6b79411fe95d30e324d7d094ab5874
 - fce3afe6390be6c0eb2d5fcdb2f761

[2017-12-22 14:32] #7241 closed, assigned to nobody

[2017-12-22 14:46] PieterCappelle commented on #12808
Let me know if I can help you @JustBeYou :)

[2017-12-22 15:30] magento-engcom-team commented on #12808
@JustBeYou, thank you for your report.
We've created internal ticket(s) MAGETWO-85966 to track progress on the issue.

[2017-12-22 15:48] Chiemo opened #12861 "Magento CE 2.2.2 - No Shipping Method for Orders with VAT ID"
After upgrading to magento CE 2.2.2:
whenever a b2b customer with validated VAT ID tries to put an order there is no shipping method offered in one page checkout although order summary in cart view is showing the correct values, i.e. correct shipping method cost and tax of zero due to shipment abroad with validated VAT ID

### Preconditions
- Upgrade to Magento CE 2.2.2
- MySQL

### Steps to repro

[2017-12-22 16:01] karimsamir commented on #12833
I don't know how did this happen, but finally, I found the fix, inserting a row in table authorization_role like this

[code]

I don't why it was removed in the first place, it might help anyone

[2017-12-22 16:23] lauzis commented on #6341
Magento 2.2 have same issue with apache and media folder  symlinked to different location...
Any ideas how to resolve that?
[Fri Dec 22 14:07:16.178038 2017] [core:error] [pid 24179] [client 10.0.1.74:50848] AH00037: Symbolic link not allowed or link target not accessible: /xxx/xxx/public_html/shop/pub/media

[2017-12-22 16:47] maksek commented on #12849
Locking topic due @sanju40 sent info to security team.

[2017-12-22 16:47] #12849 closed, assigned to nobody

[2017-12-22 18:51] GuerrillaCoder commented on #10015
I am also getting this issue on 2.1.9

[2017-12-22 19:02] johnny-longneck opened #12863 "Magento 2.2.0 - Out of memory - CRON might be the problem - Help"
### Preconditions

1. PHP7
2. Nginx
3. Varnish
4. Magento 2.2.0

### Steps to reproduce

1. Configure cron tab
2. Adjust swap file size
### Expected result

1. Magento 2 Shop running properly.

### Actual result

1. Shop crashes while working in the backend

![htop](https://user-images.githubusercontent.com/25068173/34309551-e55d41bc-e752-11e7-9561-6ddaaf0c516e.png)

I was wondering why my shop ru

[2017-12-22 19:07] TheRealJAG commented on #6541
I had a similar problem in Magento ver. 1.9.3.7 when editing products. To resolve this I disabled all caches and I was able to modify products.

[2017-12-22 19:24] PieterCappelle commented on #12533
@okorshenko Can you assign this to me?

[2017-12-22 19:27] PieterCappelle commented on #12300
I think this correct behaviour and I can’t reproduce in 2.2 or 2.3.

[2017-12-22 19:39] PieterCappelle commented on #5993
I agree with @paales. REPLACE should be refactored or removed. Add/Update is also so wrong in many cases. When running add import it will add images to products, it will not overwrite them. Okay, I can understand but REPLACE is also no option like @paales is saying. In my opinion we should have one command for add/update/replace. :-)

[2017-12-22 20:23] craft-tyler opened #12864 "PHP Less Compiler doesn't properly compile nested selectors within conditions"
### Preconditions

1. Magento Cloud
2. Production Mode
3. Magento2 EE 2.2.0
4. Using svg-sprite grunt module - https://github.com/jkphl/grunt-svg-sprite

### Steps to reproduce

The issue we are running into is within the PHP less compiler.  When nesting selectors inside of conditional statements the php less compile ignores the conditioanls and doesn't render properly.  See example:

[code]

###

[2017-12-22 20:26] WSIADA opened #12865 "Invalid Option Value error"
Adding products with multiple (10+) customizable options into the back end of Magento 2.1.3. After the first initial save, Im getting an error message "Invalid option value" whenever I attempt to edit the product regardless if its a photo, a category tag, save & duplicate, adding/deleting customizable options

This has occurred on at least three different products with variable customizable option

[2017-12-22 20:43] EmilyPepperman commented on #12129
Same here with 1 product not all of them ... do you with the same problem also have MageWorx  extension called Advanced Product Options by chance?

[2017-12-22 20:49] gerben86 commented on #6207
I still encounter this issue in 2.1.10. How should I solve this?

[2017-12-22 22:49] orbitrod commented on #5999
@TClilMouse's and @cchamikara's solution worked for me.   My destination attribute set did not have a "Bundle Items" group even though it had the "shipment_type" attribute.  The "shipment_type" was located under a different group.  I added the "Bundle Items" group to my destination attribute set and put the "shipment_type" attribute under and it worked.

[2017-12-22 22:50] #5999 closed, assigned to nobody

[2017-12-23 00:30] chequille commented on #9116
Nothing is fixed!!!!

M2 2.2.2 is showing the same problem.
Paypal is only working when action is set to "authorisation", but not when set to "Sale".

[2017-12-23 00:31] chequille commented on #9116
It is a mess!!!!!!!!!!!!!

[2017-12-23 00:38] chequille commented on #9455
When there will be s solution of this problem?
Nobody can work with such buggy software

Jürgen

[2017-12-23 01:38] oviliz commented on #8017
I'm queuing to this as I was installing an market extension when something went wrong and the Rollback gave me the same answer, `Backup file does not exist for "db"`.
When doing it via command line `bin/magento setup:rollback -c 1513983064_filesystem_code.tgz -d 1513983064_db.sql`, it succeeds apparently (composer is playing up at this point but probably another issue) **but the db.sql file is del

[2017-12-23 04:04] nfourteen opened #12866 "Can't Disable Advanced Reporting"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. After a fresh install of version 2.2.2, a system message was received that Synchronization Failed with Magento Business Intelligence (I don't remember the exact message).
2. To prevent further synchronization error messages, go to `Stores > Configuration > General > Advanced Reporting` and change **Advanced Reporting Service** to Disa

[2017-12-23 04:17] twa8000 commented on #12655
Same issue. Only happens when your logged into a customer account with items in your cart.

[2017-12-23 06:40] gh-darvishani commented on #12818
after 3 days ...

[2017-12-23 07:19] johnny-longneck commented on #12863
The cron_schedule table was pretty full.
Cleaned it with "TRUNCATE TABLE cron_schedule"

Now the memory usage is back to normal

[2017-12-23 15:26] JustBeYou commented on #12808
Fixed in #12867. I am waiting for a review.

[2017-12-23 18:43] likemusic commented on #5666
Windows 7 + nginx 1.12 + php-fpm + Magento v2.2.2 - bug still exists.

Fortunately workaround still work too - https://github.com/magento/magento2/issues/5666#issuecomment-233195345

[2017-12-23 18:50] ashvinim0003 opened #12868 "Invalid Document Element 'resource': The attribute 'title' is required but missing."
### Preconditions

1.Installed Magento ver. 2.1.8 from git
2. Installed some extensions
3.Uploaded sample products

### Steps to reproduce

1.Open SSH
2.Trying to upgrade  from ver. 2.1.8 to 2.2.2
3. php bin/magento cache:flush
4. php bin/magento cache:flush
5. php bin/magento setup:upgrade

### Expected result

1. No Error

### Actual result

1. [Screenshot, logs]
1.Error showing
![screenshot fro

[2017-12-23 18:54] PieterCappelle commented on #12808
Nice @JustBeYou! If accepted pleade create backport to 2.2 to :-) #thanks!

[2017-12-23 19:50] alen12345 commented on #7441
@duffner it's a less than ideal workaround, but works great upon a second save! Thanks!

[2017-12-23 20:51] JustBeYou commented on #12808
@PieterCappelle I developed the bug-fix on 2.2. Should I create a pull request for 2.1 and 2.3 too?

[2017-12-23 21:50] Floddy opened #12869 "Config values gets wiped when using depend along with AbstractFieldArray type frontend model"
### Preconditions
1. Magento 2.2 installation

### Steps to reproduce
1. Open app/code/Magento/Braintree/etc/adminhtml/system.xml
2. In the `<field id="countrycreditcard">` node, add:
`<depends>
    <field id="allowspecific">1</field>
</depends>`
3. Save, clear cache etc
4. Go to admin / stores/configuration/sales/payment methods/braintree/configure/country specific settings
5. Change the 'Payment

[2017-12-23 21:56] duffner commented on #7441
@alen12345 and @BigTonni, glad it helps!

@magento-engcom-team, is there any update on this?

[2017-12-23 23:21] rsulym commented on #12081
hi, any of solutions provided above doesnt work for me (M2.2.2). does anybody have working solution? thanks in advance!

[2017-12-24 08:48] PieterCappelle commented on #12808
Sorry. Yes, if accepted, please create backport for 2.1 & 2.3. Currently we are setting up a team from developers to fix issues and refactor the current import of Magento2. You can always join our channel on slack #import-export. We also have custom repository > https://github.com/magento-engcom/import-export-improvements/projects

Have a nice day today! 24th :)

[2017-12-24 10:25] mrkkd2013 opened #12870 "Clicking on product (Edit option) from ADMIN is throwing a FATAL ERROR: Fatal error: Uncaught TypeError: Argument 2 passed to Magento\Framework\View\Element\UiComponentFactory::argumentsResolver() must be of the type array, null given"
**After data Migration to 2.2.1 from 1.9**

## Clicking on product (Edit option) from ADMIN is throwing a -----"FATAL ERROR:"

 **Fatal error: Uncaught TypeError: Argument 2 passed to Magento\Framework\View\Element\UiComponentFactory::argumentsResolver() must be of the type array, null given....."**

## Preconditions

1) we migrated our project from 1.9 to 2.2.1 using data migration tool.
2) Magen

[2017-12-24 10:28] mrkkd2013 commented on #12870
@magento-engcom-team Can you please help us?

[2017-12-24 10:36] mrkkd2013 opened #12871 "Product Pages are not opening (404 page not found) after data migration from 1.9 to 2.2.1"
**Facing an issue (redirecting to 404 pages) while opening Product details page after data migration from 1.9 to 2.2.1**

## Preconditions

1) we migrated our project from 1.9 to 2.2.1 using data migration tool.
2) Magento 2.2.1, PHP 7.1.9, MYSQL 5.7.19
3) Cleared/clean the CACHE and run the INDEXING also.
4) Catalog & Category Pages are displayed properly and products are displaying as expected i