[2018-10-19 13:30] #18684 closed, assigned to nobody

[2018-10-19 13:30] gwharton commented on #18686
Errr, yes they should. This is the whole purpose of backorders. You allow your customers to buy products that arent in stock as they are being "backordered"!

The dictionary definition of a backorder is "a retailer's order for a product which is temporarily out of stock with the supplier."

[2018-10-19 13:33] magento-engcom-team commented on #18666
Hi @engcom-backlog-pb. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2018-10-19 13:34] engcom-backlog-pb commented on #18666
@spellmen, please create an issue in [Magento Data Migration Tool Repository](https://github.com/magento/data-migration-tool/issues). This GitHub issue tracker is intended for Magento Core technical issues only.

[2018-10-19 13:34] #18666 closed, assigned to nobody

[2018-10-19 13:37] Tomasz-Silpion commented on #18645
It's not a bug. It's a feature.

https://github.com/magento/magento2/commit/c1c1f634f2d853592fed934b66306fa588c0e10f#diff-96438fe541523232e8bf703fe4b1eb74

There are 2 different lines that can be generated by successful add to cart action now:

`"You added %1 to your shopping cart."`
`"You added %1 to your <a href=""%2"">shopping cart</a>."`

[2018-10-19 14:13] engcom-backlog-pb commented on #18653
@botam, your report is malformed. Please create a new issue according to guidelines.

[2018-10-19 14:13] #18653 closed, assigned to nobody

[2018-10-19 14:13] magento-engcom-team commented on #18653
Hi @engcom-backlog-pb. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2018-10-19 14:14] magento-engcom-team commented on #18651
Hi @engcom-backlog-pb. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2018-10-19 14:32] arunelangovan commented on #16969
@Supplement I figured out this issue later, So the solution for me is i had a etc/cron_groups.xml in one of my custom module, in that we need to have         <use_separate_process>1</use_separate_process>
mandatory, i was missing that. Make sure all your custom modules cron_group.xml has the above field.

My cron_groups.xml for your reference.

`<?xml version="1.0"?>
<config xmlns:xsi="http://www.

[2018-10-19 15:03] stephansteiner commented on #18701
Problem is related to this issue: https://github.com/magento/magento2/issues/12362

[2018-10-19 15:45] aaugusto-efi commented on #6751
Will this also fix the issue of sorting by customer group price or does this only affect tier pricing?

[2018-10-19 16:20] magento-engcom-team commented on #16657
Hi @pmclain. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-10-19 17:06] Supplement commented on #11116
This subdues the original exception error message and now i'm left with a new one.

1 exception(s):
Exception #0 (InvalidArgumentException): Value for key "xsi:type" is missing in the argument data.

[code]

Any idea an easy way to fix this problem?

[2018-10-19 17:48] frshjb373 commented on #6610
We're having same issue and causing us to lose serious money. Looking at Shopify or other solutions at this point.

[2018-10-19 19:14] vasilii-b commented on #4468
@magento-engcom-team give me 2.3 instance

[2018-10-19 19:15] magento-engcom-team commented on #18131
Hi @akimatze. Thank you for your report.
The issue has been fixed in magento/magento2#18658 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [53a06a9ba12c0f4be0b28fdf6f9cf45540cebae6](https://github.com/magento/magento2/commit/53a06a9ba12c0f4be0b28fdf6f9cf45540cebae6)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-19 19:15] #18131 closed, assigned to strell

[2018-10-19 19:15] magento-engcom-team commented on #14510
Hi @victortodoran. Thank you for your report.
The issue has been fixed in magento/magento2#16915 by @swnsma in 2.2-develop branch
Related commit(s):
 - [5fa4d5f3176c47a0f598ce158c9ddc3977ef0f94](https://github.com/magento/magento2/commit/5fa4d5f3176c47a0f598ce158c9ddc3977ef0f94)
 - [0698aa6f369836f29c4c6cb841528d515bbc3ca8](https://github.com/magento/magento2/commit/0698aa6f369836f29c4c6cb841528d5

[2018-10-19 19:15] magento-engcom-team commented on #5929
Hi @JacobDrummond. Thank you for your report.
The issue has been fixed in magento/magento2#18566 by @oleksii-lisovyi in 2.2-develop branch
Related commit(s):
 - [7169f0442658ec21c6a5c215269d8bafcff71093](https://github.com/magento/magento2/commit/7169f0442658ec21c6a5c215269d8bafcff71093)
 - [9b0586e96248c6753688a417cde68a89e532907c](https://github.com/magento/magento2/commit/9b0586e96248c6753688a4

[2018-10-19 19:15] magento-engcom-team commented on #18532
Hi @oleksii-lisovyi. Thank you for your report.
The issue has been fixed in magento/magento2#18566 by @oleksii-lisovyi in 2.2-develop branch
Related commit(s):
 - [7169f0442658ec21c6a5c215269d8bafcff71093](https://github.com/magento/magento2/commit/7169f0442658ec21c6a5c215269d8bafcff71093)
 - [9b0586e96248c6753688a417cde68a89e532907c](https://github.com/magento/magento2/commit/9b0586e96248c6753688

[2018-10-19 19:15] #18532 closed, assigned to nobody

[2018-10-19 19:15] magento-engcom-team commented on #18234
Hi @ulftietze. Thank you for your report.
The issue has been fixed in magento/magento2#18563 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [e2f89c8543ca3461538f36cfb0f428ef9d502f66](https://github.com/magento/magento2/commit/e2f89c8543ca3461538f36cfb0f428ef9d502f66)
 - [4ad4849565650f1ddf77164b901afb42adbfa571](https://github.com/magento/magento2/commit/4ad4849565650f1ddf77164b901af

[2018-10-19 19:15] #18234 closed, assigned to nobody

[2018-10-19 19:16] vasilii-b commented on #4468
@magento-engcom-team give me 2.3-develop instance

[2018-10-19 19:16] magento-engcom-team commented on #4468
Hi @vasilii-b. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-19 19:17] magento-engcom-team commented on #4468
Hi @vasilii-b, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-4468-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-4468-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-4468-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-19 19:41] magento-engcom-team commented on #4468
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-19 19:42] vasilii-b commented on #4468
@magento-engcom-team give me 2.2-develop instance

[2018-10-19 19:42] magento-engcom-team commented on #4468
Hi @vasilii-b. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-10-19 19:43] magento-engcom-team commented on #4468
Hi @vasilii-b, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-4468-2-2-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-4468-2-2-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-4468-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-19 20:14] okorshenko commented on #18492
Duplicate of #18357

[2018-10-19 20:14] #18492 closed, assigned to nobody

[2018-10-19 21:42] nikoelgatito opened #18715 "Can't Create a Credit Memo for Outstanding Adjustment Fees Once All Items are Credited"
### Preconditions
Magento Open Source v2.2.5

### Steps to reproduce
1. Create a new order containing multiple items.
2. Create a credit memo for part of the items with an adjustment fee.
3. Create a second credit memo with all the remaining items without adjustments.

### Expected result
It is possible to create a third credit memo solely for the outstanding adjustment fees (negative adjustment).

[2018-10-19 21:42] magento-engcom-team commented on #18715
Hi @nikoelgatito. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-19 22:00] modkore opened #18716 "Paypal Does Not Appear in Magento 2 Checkout"
### Preconditions (*)

1. Magento 2.2.5
2. Paypal won't appear during checkout.

### Steps to reproduce (*)

1. We tried to activate a new theme to see if the problem is theme based but the issue came out same with Magento 2.2.5 even by using the default luma theme the same problem came out. I believe this is a huge issue in Magento 2.2.5

### Expected result (*)

1. I am expecting that Paypal wil

[2018-10-19 22:00] magento-engcom-team commented on #18716
Hi @modkore. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-19 22:01] #18479 closed, assigned to nobody

[2018-10-19 22:06] nikoelgatito commented on #18715
Yes, I confirm.

[2018-10-20 02:42] modkore commented on #18716
Yes

[2018-10-20 04:30] sergiynezbritskiy opened #18717 "UrlRewrite removes query string from url, if url has trailing slash"
### Preconditions (*)
When customer opens url with trailing slash and query string like http://magento-host.com/some-url-key/?foo=bar, Magento redirects to url without trailing slash and truncates query string, so customer is redirected to http://magento-host.com/some-url-key.

1. Magento version 2.2.5 or 2.2.6
2. No customizations for the store, Luma + Sample Data

### Steps to reproduce (*)

1.

[2018-10-20 04:30] magento-engcom-team commented on #18717
Hi @sergeynezbritskiy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-10-20 05:32] Bhishan-Shrestha opened #18719 "Can't Access Web Setup Wizard in Magento 2.2.5"
### Preconditions (*)

1. Magento Version 2.2.5
2.

### Steps to reproduce (*)

1. Just changed session on "env.php"  to fix indexer issue.
'session' => [
        'save' => 'files',

        'save_path' => './vendor/magento/framework/Session'
    ],

### Expected result (*)

1. Should have led to Setup
### Actual result (*)

1. [Screenshots, logs or description]
![image](https://user-images.github

[2018-10-20 05:33] magento-engcom-team commented on #18719
Hi @Bhishan-Shrestha. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-10-20 05:35] Bhishan-Shrestha commented on #18719
@magento-engcom-team give me $2.2.5 instance

[2018-10-20 05:43] manojind commented on #7367
Please check it  https://github.com/manojind/Magento2.2.5-multi-store-tier-price-per-website-Wrong-tier-price-indexed

[2018-10-20 07:39] PieterCappelle commented on #9466
Hi @hostep, in our case we had values in "url_path" attribute because of migration from M1 to M2 and usage of "Mag Manager". Remove all values from_url_path and duplication is working correctly. So I think the commit https://github.com/magento/magento2/commit/50592b4fb359b1daba9de7b554c9c8afa1d8d160 must be merged to 2.2 & 2.1. :)

[2018-10-20 08:10] eduard13 commented on #17752
@magento-engcom-team give me 2.3-develop instance.

[2018-10-20 08:10] magento-engcom-team commented on #17752
Hi @eduard13. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-20 08:10] magento-engcom-team commented on #17752
Hi @eduard13, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17752-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17752-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17752-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-20 08:50] eduard13 commented on #17752
@vincent2090311 thank you for reporting the issue, but unfortunately I wasn't able to reproduce it on 2.3 instance.
<details><summary>Products</summary>

![426a55488a](https://user-images.githubusercontent.com/15868188/47253586-b0ea6b00-d45d-11e8-84ed-8f52fb4e55cc.jpg)
</details>
<details><summary>Home CMS Page</summary>

![a14b5ab3ea](https://user-images.githubusercontent.com/15868188/47253606-ee

[2018-10-20 08:50] #17752 closed, assigned to eduard13

[2018-10-20 19:04] HARoonMIND commented on #13504
it work to me

[2018-10-20 21:32] rachid-a opened #18721 "Save Button not working payment methode (Default config)"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Go to stores --> configuration --> Sales --> Payment methods
2. Try the save button (it doesn't work for me) in default config
3. Others config pages are working fine

### Expected result (*)

1. The save button should work when I press on it.

### Actual result (*)

1. Currently it doesn't do anything.

[2018-10-20 21:32] magento-engcom-team commented on #18721
Hi @rachid-a. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-20 21:35] magento-engcom-team commented on #18721
Hi @rachid-a. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-20 21:36] magento-engcom-team commented on #18721
Hi @rachid-a, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18721-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18721-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18721-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-20 21:39] rachid-a commented on #18721
@magento-engcom-team give me 2.2.6 instance

[2018-10-20 21:39] magento-engcom-team commented on #18721
Hi @rachid-a. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-20 21:40] magento-engcom-team commented on #18721
Hi @rachid-a, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18721-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18721-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18721-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-20 22:40] rachid-a commented on #18721
@magento-engcom-team no

[2018-10-21 00:39] Hoszi commented on #13282
Is there any progress, any bugfix for this?

[2018-10-21 01:59] davinanaya commented on #9668
@dankocherga can you share what did you do ? I'm trying to do the same. Thanks

[2018-10-21 08:47] ssatish4v commented on #8432
I also facing this error.
Magento\\Framework\\Locale\\TranslatedLists::getCountryTranslation(): Cannot load resource element 'AN' in C:\\xampp\\htdocs\\swwn\\vendor\\magento\\framework\\Locale\\TranslatedLists.php on line 202",

[2018-10-21 12:46] daniel-ifrim opened #18724 "Display tax percent in current locale number format"
### Preconditions (*)

1. Magento 2.4-develop
2. Set locale to Germany or other European country where decimal character is comma
3. In Admin > Stores > Configuration > Sales > Tax > Shopping Cart Display Settings > Display Full Tax Summary = Yes and in the other section "Orders, Invoices, Credit Memos Display Settings"
4. Set a tax percent in admin with decimals like 50.1.

### Steps to reproduce

[2018-10-21 12:46] magento-engcom-team commented on #18724
Hi @daniel-ifrim. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-21 12:47] daniel-ifrim commented on #18724
@magento-engcom-team give me 2.3

[2018-10-21 12:48] daniel-ifrim commented on #18724
@magento-engcom-team give me 2.3-develop instance

[2018-10-21 12:48] magento-engcom-team commented on #18724
Hi @daniel-ifrim. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-21 12:48] magento-engcom-team commented on #18724
Hi @daniel-ifrim, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18724-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18724-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18724-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-21 13:12] daniel-ifrim commented on #18724
@magento-engcom-team I managed to add to cart on the instance given by adding the product to comparison list and than add to cart. Otherwise it says Session has expired or something.

[2018-10-21 18:26] dmytro-ch opened #18729 "Bug in "_sections.less" mixins: missing rules and incorrect default variables"
There are couple of issues when trying to use mixins for "tabs" and "accordion" components.

The issue is related to `lib/web/css/source/lib/_sections.less`.
The default variables are predefined in `lib/web/css/source/lib/variables/_sections.less`.

### Summary (*)
When you try to customize the view of "tabs" and "accordion" components by redefining the default variables in the scope of a custom t

[2018-10-21 22:02] bap14 commented on #16388
I ended up just adding an `afterCollectRates` plugin to alter the results for Flatrate (since that's the only one that affected me). Point is, this issue still exists in Magento 2.2.6 and is a deviation from Magento 1 9 (which we just migrated from). My plugin is below, in case anyone else is interested:

[code]

[2018-10-22 04:15] jonrandy commented on #2380
Same thing happens on Magento 1

[2018-10-22 04:51] siliconrockstar commented on #13475
Same issue on fresh install of 2.2.6. No varnish in play.

[2018-10-22 05:04] shyam100379 commented on #14750
But i have tried it again in our site and still the issue persists.
The version we have is: Magento ver. 2.2.3

[2018-10-22 07:01] ravi-chandra3197 commented on #17072
Hello @crtl
can you provide more information like which type of condition not working when Create a cart price rule with product filter

[2018-10-22 07:53] sergeynezbritskiy commented on #18717
https://github.com/sergeynezbritskiy/magento2/commit/7e26ec6a7cf1de8343ab05555de5a687da1518b8
Actually, I think this would be a fix for this issue. If this would be confirmed as a bug, then I will cover this fix with tests and will make a pull-request.
Thanks!

[2018-10-22 08:35] farazWebDev commented on #12185
**---Update---**
Strange case, **removing iOS check from method stubEvent** ( \lib\web\fotorama\fotorama.js#L1220 ), **allowing it to work** with Android mobile (tested on HTC, SAMSUNG, XIAOMI) default browser, Mobile Mozilla browser and iOS App (tested on iPAD and iPHONE 6S - in web view):
[code]

[2018-10-22 09:37] kanduvisla commented on #15609
Possibly related to #18264 as well.

[2018-10-22 10:03] kanduvisla commented on #18264
If I look at the price indexing process, I see the following in `\Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\Query\BaseFinalPrice::getQuery()`:

    $select->columns(
        [
            //orig_price in catalog_product_index_price_final_tmp
            'price' => $connection->getIfNullSql($price, 0),
            //price in catalog_product_index_price_final_tmp
            'final_p

[2018-10-22 10:53] densen45 opened #18734 "Magento 2.2.6: image resize command builds wrong image path"
The release notes for 2.2.6. state to remove the product image cache directory and afterwards execute the command `php bin/magento catalog:images:resize`. But this command fails because it builds a wrong image path.

### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Remove the directory `pub/media/catalog/product/cache`
2. Execute the command in your Magento root directory `p

[2018-10-22 11:17] LouNik1984 commented on #9486
Hi, the issue is still here on magento 2.2.5

[2018-10-22 11:35] kanduvisla commented on #18264
I found the core of the problem: It's a mixup between `AND` and `OR`-statements in the building of the SQL-query. And even better: I also found that this has been fixed in the upcoming 2.3-branch:

https://github.com/magento/magento2/commit/14ab8ace12f0e95a476675548d0712d5ecaf9a26#diff-5a30a751305f50e9d7bbd8a2576a2b46

I'll backport this issue to the 2.2-dev branch as well and send a PR.

[2018-10-22 11:36] raivisdejus opened #18735 "Graph Ql category tree structure is lost (children all grouped with last item)"
### Preconditions
Magento 2.3-develop

### Steps to reproduce
Run the following Graph Ql query
[code]

### Expected result
Category tree with categories and their children. Tree matches site category structure

### Actual result
Categories are sorted according to their levels where last items get all the children.

### Solution
Remove the following line that is performing sorting and is breaking u

[2018-10-22 11:39] ruthgeridema commented on #18686
It's not a bug, it's a feature! When you can't order the product at your supplier anymore, due to no stock for example (+ you cant backorder at them), you set the product to 'out of stock'. Disabling the product causes a 404, which is not good for your SERP rankings if the product will be back on stock at a later time.

[2018-10-22 11:45] raivisdejus opened #18736 "Graph Ql category tree structure is broken (children get moved to the last element)"
### Preconditions
Magento 2.3-develop

### Steps to reproduce
Run the following Graph Ql query
[code]

### Expected result
Category tree with categories and their children. Tree matches site category structure

### Actual result
Categories are sorted according to their levels where last items get all the children.

### Solution
Remove the following line that is performing sorting and is breaking u

[2018-10-22 11:47] navinbhudiya commented on #12114
@magento-engcom-team any update ?

[2018-10-22 11:48] kanduvisla commented on #18264
I've created a PR for this issue for the 2.2 branch:

https://github.com/magento/magento2/pull/18737

[2018-10-22 11:56] harrigo opened #18738 "Change Shipping Address & Change Billing Address links change both Shipping and Billing Address."
When a user has an account and wants to set separate shipping and billing addresses the link for change Shipping Address changes both billing and shipping address. Similarly the opposite occurs when changing Billing Address.

It seems that if the address is assigned to both Billing and Shipping in the system then the change shipping address / change billing address form will just edit that address

[2018-10-22 12:12] gwharton commented on #18686
The three states of a product availability for purchase should surely be

- In stock - available for purchase
- Out of stock - available for backorder
- Out of stock - not available for backorder

Telling a customer that an item is "In stock" when it isn't, leads to elevated customer expectations on delivery. This is made worse if the store uses minicart straight to checkout links, and bypasses th

[2018-10-22 12:29] wwwebgainss commented on #3374
any updates ? Issue still exists with the latest magento2 version..

[2018-10-22 12:33] PascalBrouwers commented on #16538
@magento-engcom-team this is a bug when serving the site from the /pub directory. Magento cannot be installed via the browser that way.
Symlinking the setup folder in /pub fixed it but I wonder if this is the correct way to do it.

[2018-10-22 12:41] rishabhrkrai opened #18742 "Tax breakup issue"
### Preconditions (*)

1. Magento 2.1.7
2. Nginx, MySQL 5.6.x

### Steps to reproduce (*)

1. Add Tax Zones and Rates
![image](https://user-images.githubusercontent.com/20873227/47292446-9e6e5e00-d624-11e8-81c9-83bc616921f7.png)
2. Add Tax Rules
![image](https://user-images.githubusercontent.com/20873227/47292470-b34af180-d624-11e8-832d-023c424c4df1.png)
3. Add a Product to Cart and go to **checko

[2018-10-22 12:52] gwharton commented on #18686
Looks like there are plenty of Magento addon modules that make backorders work properly. Shame its gonna require more financial investment to get this core feature working as one would expect it to.

[2018-10-22 13:31] orlangur commented on #18717
@sergeynezbritskiy, URLs like  http://magento-host.com/catalog/product/view/id/{product-id}/?foo=bar&bar=baz is not the right way to go. It should look like  http://magento-host.com/catalog/product/view/id/{product-id}/foo/bar/bar/baz/ instead.

[2018-10-22 13:42] #18736 closed, assigned to nobody

[2018-10-22 14:47] nathancasebolt opened #18745 "Admin's "Manage Encryption Key" function appends new encryption key to existing encryption key in env.php"
### Preconditions

1. Magento 2.2.2
2. Ubuntu 16.04.5 LTS
3. Let's assume a fake existing encryption key of 'wt1pusxp339m8hhtm290iu5kqn3bierz'

### Steps to reproduce

1. Log into Magento Admin
2. Navigate to System > Manage Encryption Key
3. Manually enter a 32-character alphanumeric encryption key in the 'New Key' field (let's say, for example, 'mcy528m62xy4xiykx2ea9o52a7ijlmmr')
4. Click 'Chang

[2018-10-22 15:17] alex5513 commented on #5775
Any updated on this feature request ?

[2018-10-22 15:46] 99Fede opened #18746 "Magento 2.2.6 - Terms and Conditions not showing on backend"
### Preconditions (*)

1. Magento 2.2.6
2. Php 7.0.31
3. MySQL 5.6.40

### Steps to reproduce (*)

1. Store > Setting > Terms and Condition
2. Add New condition > save

### Expected result (*)

1. new conditions should be listed on page

### Actual result (*)

1. No conditions are shown on the Terms and Conditions page, so it's impossibile to edit or delete them
![m226-termscondition_issue-backend

[2018-10-22 17:35] gwharton commented on #18746
I couldn't reproduce this on a vanilla 2.2.6 install (PHP 7.0.32 and PHP 7.1.23)

[2018-10-22 17:35] sergeynezbritskiy commented on #18717
@orlangur due to my investigation, the issue probably comes from \Magento\UrlRewrite\Model\Storage\DbStorage:doFindOneByData, which returns 301 redirect for request_path with trailing slash, when it founds url rewrite with exactly the same request_path but without trailing slash, but not clear why the should be any redirect.
So comparing without slashes fixes the issue. Please check my commit http

[2018-10-22 17:41] gwharton commented on #18734
I couldnt reproduce this on my 2.2.6 installation, nor on a test deployment of vanilla 2.2.6 (on PHP 7.1)

[2018-10-22 17:45] navarr commented on #18302
Hi @MsEngineer,

If you'd like to do some early real-world testing for me - you can apply this patch: https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/18731.patch

This moves the straggling pieces of the Review module out of the Customer module.

[2018-10-22 18:09] sreichel opened #18749 "Feature: improve (multi)-store configuration page"
### Description (*)

I'd like to have the old M1 store configuration layout.

![store2](https://user-images.githubusercontent.com/5022236/47309399-9b7b6980-d634-11e8-8f9a-95f8ac608c34.png)

We have 3 websites, +20 storeviews ... default grid is absolutly useless to get some information about settings. I cant see root category, default store (bold), disabled stores (striketrough).

### Expected beh

[2018-10-22 18:29] magento-engcom-team commented on #18735
Hi @raivisdejus. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-22 18:30] magento-engcom-team commented on #18736
Hi @raivisdejus. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-22 18:32] magento-engcom-team commented on #18738
Hi @harrigo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-22 18:42] magento-engcom-team commented on #18742
Hi @RishabhRkRai. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-22 19:10] magento-engcom-team commented on #18745
Hi @nathancasebolt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-10-22 19:29] ashutoshwebkul commented on #18745
@nathancasebolt this does not seem to be an issue since this is the way Magento stores the encryption keys by creating several versions and uses the latest version to encrypt data.

[2018-10-22 19:30] adammprost opened #18752 "Rolled back transaction has not been completed correctly" on Magento 2.1.15"
### Description
When a guest order is placed in Magento\Checkout\Model\GuestPaymentInformationManagement::savePaymentInformationAndPlaceOrder(), the following is executed: $salesConnection->beginTransaction(); $checkoutConnection->beginTransaction(), which creates a nested set of DB transactions (e.g. Magento\Framework\DB\Adapter\Pdo\Mysql::_transactionLevel exceeds 1).

Magento _is_ built to hand

[2018-10-22 19:31] magento-engcom-team commented on #17283
Hi @eduard13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-10-22 19:32] magento-engcom-team commented on #16910
Hi @eduard13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-10-22 19:37] adkanojia commented on #16779
@magefan thanks for the snippet.

I had the same issue (magento 2.2.5 ) when trying to cancel one order which is in 'pending' state. I'm getting the same error.
I did override the method in a custom module. But I still can't  mark the order as 'canceled'.

I get exactly same error when I try to cancel from order listing page,
`SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or upd

[2018-10-22 19:40] nathancasebolt commented on #18745
@ashutoshwebkul Fair enough. I didn't realize this was expected behavior, and I appreciate the feedback.

[2018-10-22 19:40] #18745 closed, assigned to nobody

[2018-10-22 20:00] magento-engcom-team commented on #18749
Hi @sreichel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-22 20:41] magento-engcom-team commented on #18752
Hi @adammprost. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-22 20:51] talhachance4u commented on #18582
Hi Thanks
I did it
Please see what I did
I have installed Magento2.2 on ubuntu 16.4/PHP7.0

I have installed theme from Template Monster (magetique) and add 200 products with 20 categories.

I was using Adminer for managing mysql .

I was using ec2 and rds.

now i have upgraded ubuntu 18.04 with php7.2 and It   stopped working

but As you said
I have downgraded php7.2 with php 7.1
Its working but

[2018-10-22 21:11] albsa opened #18754 "Negative order amount in dashboard latest order when order is cancelled where coupon has been used"
### Preconditions (*)

1. Magento v2.2.6
2. PHP 7.1.31

### Steps to reproduce (*)

1. Place an order with a coupon code, for example 4.95 EUR off
2. Cancel the order

### Expected result (*)

1. Expected to see an order with result of 0 in the dashboard latest orders.

### Actual result (*)

1. Getting these results
<img width="401" alt="schermafbeelding 2018-10-22 om 23 03 12" src="https://user-

[2018-10-22 21:22] slavvka commented on #18581
Hi @jignesh26. Thank you for your report.
The issue has been fixed in magento/magento2#18638 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [039c88dfdd6a6ad2cdb6031f52c07a87afeded28](https://github.com/magento/magento2/commit/039c88dfdd6a6ad2cdb6031f52c07a87afeded28)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-22 21:22] slavvka commented on #18475
Hi @dewayneholden. Thank you for your report.
The issue has been fixed in magento/magento2#18596 by @luukschakenraad in 2.3-develop branch
Related commit(s):
 - [cc3835f69324ec02ca7982259ebb0a41bad17425](https://github.com/magento/magento2/commit/cc3835f69324ec02ca7982259ebb0a41bad17425)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-22 21:22] slavvka commented on #18589
Hi @luukschakenraad. Thank you for your report.
The issue has been fixed in magento/magento2#18596 by @luukschakenraad in 2.3-develop branch
Related commit(s):
 - [cc3835f69324ec02ca7982259ebb0a41bad17425](https://github.com/magento/magento2/commit/cc3835f69324ec02ca7982259ebb0a41bad17425)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-22 21:22] slavvka commented on #12479
Hi @Danielc3. Thank you for your report.
The issue has been fixed in magento/magento2#18571 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [2322baf10841259b122dba4350f7c2cbcbe2bba3](https://github.com/magento/magento2/commit/2322baf10841259b122dba4350f7c2cbcbe2bba3)
 - [ce82c5ce4784125429b0baa10478277dda3d689c](https://github.com/magento/magento2/commit/ce82c5ce4784125429b0baa1047827

[2018-10-22 21:22] slavvka commented on #9219
Hi @mhauri. Thank you for your report.
The issue has been fixed in magento/magento2#18570 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [40e128c14e32e5005d35a79e0dc7936728414b0e](https://github.com/magento/magento2/commit/40e128c14e32e5005d35a79e0dc7936728414b0e)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-22 21:22] slavvka commented on #17754
Hi @milossh. Thank you for your report.
The issue has been fixed in magento/magento2#17800 by @aman3103 in 2.3-develop branch
Related commit(s):
 - [9aa4cfa46f723e9d584d9bf014489f63af92d4dc](https://github.com/magento/magento2/commit/9aa4cfa46f723e9d584d9bf014489f63af92d4dc)
 - [18e509c94f26406c3c73e1b16529d46de1ecbb78](https://github.com/magento/magento2/commit/18e509c94f26406c3c73e1b16529d46de1e

[2018-10-22 21:25] albsa opened #18755 "Shipping Table rate display issue on checkout with multistore"
### Preconditions (*)

1. 2.2.6; 2.3-develop
2. PHP 7.1.31

### Steps to reproduce (*)

1. I have table rate shipping enabled, with 2 rates. 1 For germany, 1 for the netherlands.
Netherlands is the main domain and is set to 4.95 shipping price.
Germany is set to 6.95 shipping price.
2. When checking out on the german domain, initially the rate of netherlands is shown.
3. When filling in the zipcod

[2018-10-22 21:40] magento-engcom-team commented on #18754
Hi @albsa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-22 21:46] milossh commented on #17754
@slavvka  Should I close this issue, then?

[2018-10-22 21:46] magento-engcom-team commented on #18755
Hi @albsa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-22 22:35] tomekjordan commented on #18686
I agree, default Magento M1 and M2 backorder is not user/admin friendly.
There are many good M1 Preorder extensions, the problem - they override core, and other stock/product extensions are conflicting. Would be great if Magento Core team implement real-working Preorder feature built-in in the core. Something similar to Amasty Preorder, but working with MSI together.
1. give option to use negative

[2018-10-22 23:50] Hoszi commented on #13282
I think I found a solution:
in \Magento\Catalog\Pricing\Price\MinimalTierPriceCalculator

    public function getAmount(SaleableInterface $saleableItem)
    {
        $value = $this->getValue($saleableItem);
        return $value === null
            ? null
            : $this->calculator->getAmount($value, $saleableItem);
    }

Add 3rd parameter to $this->calculator->getAmount($value, $saleableI

[2018-10-23 02:35] pmclain commented on #15001
It looks like this has already been fixed https://github.com/magento/magento2/commit/59c0e3180f36d642dbd133ea55f6d13334e5001a#diff-e737458adb2a6eb7bd565d7bf7d9d91aR47

[2018-10-23 03:08] magento-engcom-team commented on #16050
Hi @pmclain. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-10-23 05:18] Priyanka9582 commented on #7561
I'm also facing the same issue in Version 2.2.4

Preconditions
1. Magento 2.2.4 installed

Steps to reproduce
1. Create a new Theme

Expected result
1. No default message is displaying when product is added or any other action is performed when we expect to see default message.

Actual result
1. To see Default Success, Error, Warning Messages When a product is added to cart or customer is login to

[2018-10-23 05:21] andy17612 opened #18757 "X-Magento-Cache-Debug: MISS Magento 2.2.6"
### Preconditions (*)

1. Centos 7.5
2. Varnish 4
3. Magento 2.2.6

### Steps to reproduce (*)

1.My /etc/varnish/default.vcl is follow this file: https://gist.github.com/dvershinin/de91aa78a96ae9f6e8d2950b3e1463a4
[code]
2. ```
System > Full Page Cache > Setting >
Access list:11.22.133.44
Backend host:11.22.133.44
Backend port:8080
Grace period:300
[code]
RELOAD_VCL=1

VARNISH_VCL_CONF=/etc/varni

[2018-10-23 05:21] magento-engcom-team commented on #18757
Hi @andy17612. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-23 05:59] lalitmalav commented on #12259
configurable  products ......Save and Duplicated product not working??

do you have any  solution ??

[2018-10-23 06:00] lalitmalav commented on #11532
configurable  products ......Save and Duplicated product not working??

do you have any  solution ??

[2018-10-23 06:49] mallikaverma opened #18760 "Dot (.) should be removed before validating customer email for GMAIL"
**Preconditions (*)**

1. Magento 2.2.x
2. PHP version: 7.0.24

 **Steps to reproduce (*)**

1. Go To Customer Create Account section
2. Create an account with email **mallikavermacedcommerce@gmail.com**
3. After creating you will receive a welcome email on **mallikavermacedcommerce@gmail.com**
4. Now again Go To Create Account section, create an account with email **mallikaverma.cedcommerce@gmail

[2018-10-23 06:49] magento-engcom-team commented on #18760
Hi @mallikaverma. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-23 06:51] mallikaverma commented on #18760
@mallikaverma do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

**yes**

[2018-10-23 06:59] 99Fede commented on #18746
@magento-engcom-team give me 2.2.6 instance

[2018-10-23 07:00] magento-engcom-team commented on #18746
Hi @99Fede. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-23 07:00] magento-engcom-team commented on #18746
Hi @99Fede, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18746-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18746-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18746-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-23 07:05] 99Fede commented on #18746
@magento-engcom-team on vanilla instance is working well, my bad i don't know what's wrong at this point...
Now my issue is how i can delete those conditions on my Magento without being able to see them on backend?

[2018-10-23 07:10] gelanivishal commented on #18760
Hello @mallikaverma,

Please check the attached screenshot, I can create an account
![2018-10-23_12-38-45](https://user-images.githubusercontent.com/12389799/47342191-b85d7e80-d6c0-11e8-8063-a016fcb5a65a.jpg)
Please check on vanilla version.

Thank you.

[2018-10-23 07:13] kamilmaliszewski opened #18761 "Bug with REPLACE method in Advanced Prices in CSV Import"
### Preconditions (*)
1. Magento 2.2.5
2. PHP 7.1
3. MySQL Ver 14.14 Distrib 5.7.20

### Steps to reproduce (*)
1. Define bunch size as e.g 100 (probably 100 is default)
2. Prepare CSV with over 100 records (I had 2012) and different SKU! E.g 4-5 prices for one SKU
3. Select the "Replace" method
4. Make an import

### Expected result (*)
1. All prices should be imported into Magento

### Actual re

[2018-10-23 07:13] magento-engcom-team commented on #18761
Hi @kamilmaliszewski. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-10-23 07:13] magento-engcom-team commented on #18761
Hi @kamilmaliszewski. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-10-23 07:25] venkat-korampalli opened #18762 "Configurable Products Showing "As low as $0" Price - Magento 2.2.6"
### Preconditions (*)

1. Magento 2.2.6
2. Magento 1.9.3.0
3. PHP 7.1.22 + Ubuntu 18.04
4. MYSQL 5.7.23

### Steps to reproduce (*)

1. Run Data Migration Tool, ce-ce, Magento 1.9.3 to Magento 2.2.6
2. Migration completed with Data type error, I just ignore these errors.

### Expected result (*)

1. Product needs to be displayed with actual prices as like in M1 store.

### Actual result (*)

1. Sh

[2018-10-23 07:43] inkobject commented on #18686
Was this bug really closed on you @gwharton ?
What is the purpose of setting a product to allow backorder?
I don't follow the logic of putting in the option with no functionality.

[2018-10-23 07:44] magento-engcom-team commented on #18760
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 07:46] magento-engcom-team commented on #18757
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 07:48] magento-engcom-team commented on #18754
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 07:56] dpdesignthatfits commented on #13276
We have been unable to ship most of these orders, occasionally they will work when trying them again. If it helps, these products are from a Migration from 1.9. As best as I can tell, this happens on orders where the user has purchased a configurable product. From what I can see in the logic in the Loader.php the script is attempting to grab the selected configurable options, but in our case it's

[2018-10-23 08:02] kerlama commented on #13276
Hi,
yes, its a migration from m1.

I managed to overcome this by extending Magento\Catalog\Model\Product\Type\Simple

by adding dummy function

`public function getConfigurableAttributeCollection(\Magento\Catalog\Model\Product $product)
    {
        return [];
    }`

From that point, no errors were generated.

[2018-10-23 08:08] dpdesignthatfits commented on #13276
@kerlama Do you have a copy of the module/extension you created that you could share? It would save us a ton of time.

[2018-10-23 08:08] yaroslav-zenin commented on #17634
also reproduced for me on 2.2.3 after `composer update`, cache engine Redis

[2018-10-23 08:17] jorgb90 opened #18763 "Unique constraint violation found when changing order status"
We are running into an issue that after successfully creating an order the order can't be cancelled or changed status. When we try do it we receive a "Unique constraint violation found" error. This problem also doesn't show up in the logs, so we haven't got any clue about whats happening. We expect the order to be cancelled or changed status.

### Preconditions (*)
Magento 2.2.6 (Developer mode)
P

[2018-10-23 08:17] magento-engcom-team commented on #18763
Hi @jorgb90. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-23 08:17] mallikaverma commented on #18760
@pocallaghan
We can't ask Gmail people to make it compatible according Magento. Only we can make our system compatible with gmail.
In Magento we are having Modules like  Reward System, Referral System, Affiliate system and many more such Modules which will have issues like one customer will receive multiple emails but in magento they are different customers also if one customer will add dot in ema

[2018-10-23 08:17] DanielRuf commented on #18760
This is a totally different email address when it comes to the validation.
Same for any email address in this world.

This seems to be a specific edge case but I am sure that in most cases there can be email addresses like name and name.anotherstring @ gmail.

I would say that this is invalid.

[2018-10-23 08:18] vtransy commented on #15968
I got the same issue after update magento core from 2.2.3 to 2.2.6 for my project.

After investigate I see that it caused by pub/static/frontend not clean after update. I remove it manuals (del pub/static/frontend/*) then runs it again. All issues is resolved.

The cause i guest is requirejs-config.js is not clean up after I do setup:up command. Removes it manual should help you out in this case.

[2018-10-23 08:18] DanielRuf commented on #18760
I don't think that this is normal and that Google does this in general.

[2018-10-23 08:18] harrigo commented on #18738
@magento-engcom-team give me 2.2.5 instance

[2018-10-23 08:18] magento-engcom-team commented on #18738
Hi @harrigo. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-10-23 08:19] DanielRuf commented on #18760
I would say it is not our responsibility.

[2018-10-23 08:19] magento-engcom-team commented on #18738
Hi @harrigo, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18738-2-2-5/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18738-2-2-5//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18738-2-2-5//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-23 08:19] DanielRuf commented on #18760
We can not verify this and removing dots in general can cause more issues.

[2018-10-23 08:28] harrigo commented on #18738
I cannot create an account in that Magento Instance just loops on register page. No emails are sent so cant set a password for a customer account created from admin either.

[2018-10-23 08:35] harrigo commented on #18738
@magento-engcom-team give me 2.2.4 instance

[2018-10-23 08:35] magento-engcom-team commented on #18738
Hi @harrigo. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-10-23 08:35] magento-engcom-team commented on #18738
Hi @harrigo, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18738-2-2-4/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18738-2-2-4//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18738-2-2-4//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-23 08:41] magento-engcom-team commented on #18754
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95861`, `MAGETWO-95862` were created

[2018-10-23 08:42] magento-engcom-team commented on #18762
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 08:43] harrigo commented on #18738
Ok customer creation works within Firefox, however not within chrome which may be a bigger issue...

However I can also confirm that the behavior exists in both the 2.2.4 and 2.2.5 instance that I just tested. There are flags that state that this address is the default billing, and default shipping however I believe if you click to change one or the other you should change one or the other it seem

[2018-10-23 08:44] engcom-backlog-nazar commented on #18762
Hi @venkat-korampalli thank you for your report,  problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2018-10-23 08:44] #18762 closed, assigned to nobody

[2018-10-23 08:47] magento-engcom-team commented on #18746
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 08:49] harrigo commented on #16729
Yeah ive just had this issue on 2 fresh Magento instances spun up using "@magento-engcom-team give me 2.2.4 instance". Also happened with 2.2.5. Happens on latest chrome however not firefox. This does not happen on my live site thankfully however thought I would just reiterate that there is an issue...

[2018-10-23 08:49] magento-engcom-team commented on #16729
Hi @harrigo. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-10-23 08:49] magento-engcom-team commented on #16729
Hi @harrigo, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-16729-2-2-4/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-16729-2-2-4//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-16729-2-2-4//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-23 08:52] harrigo commented on #16729
I can confirm that it happens for me on that one too although I didn't mean to trigger that.

[2018-10-23 08:52] engcom-backlog-nazar commented on #18746
Hi @99Fede THank you for you report, I;m not able to reproduce following steps your described.
Please refer to the Community Forums or the Magento Stack Exchange site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-10-23 08:52] #18746 closed, assigned to nobody

[2018-10-23 08:54] magento-engcom-team commented on #18734
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 08:55] pemann commented on #17813
After deploying those localStorage changes to production I started getting JS errors like:
"QuotaExceededError (DOM Exception 22): The quota has been exceeded"

I think the problem is with directly using the window.localStorage, which is bad according to this:
https://michalzalecki.com/why-using-localStorage-directly-is-a-bad-idea/

[2018-10-23 09:08] engcom-backlog-nazar commented on #18734
Hi @densen45 thank you for you report, i'm not able to reproduce following steps your described.
If you like to update, please reopen the issue.
![selection_169](https://user-images.githubusercontent.com/40756439/47349452-5438bb80-d6bc-11e8-88ed-f0bb7d14c5fd.png)

[2018-10-23 09:08] #18734 closed, assigned to nobody

[2018-10-23 09:13] magento-engcom-team commented on #18687
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 09:22] raivisdejus commented on #18735
@magento-engcom-team yes I confirm the issue is reproducable on vanilla Magento 2.3-develop

[2018-10-23 09:43] kanduvisla commented on #18752
I'm running into this issue as well after updating from Magento 2.1.15 to 2.2.6. Here's a stack trace that triggers the error in my production server (tested it first on acceptance, but there this issue doesn't happen :-/):

[code]

[2018-10-23 09:43] magento-engcom-team commented on #18687
@engcom-backlog-nazar Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-10-23 09:44] magento-engcom-team commented on #18687
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95866`, `MAGETWO-95867` were created

[2018-10-23 09:46] magento-engcom-team commented on #18716
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 09:50] engcom-backlog-nazar commented on #18716
Hi @modkore I'm not able to reproduce following steps your described, Also  please look -> https://github.com/magento/magento2/issues/12878, Problem may be related to your custom code.
If you like to update, please reopen the issue.

[2018-10-23 09:50] #18716 closed, assigned to nobody

[2018-10-23 09:52] svyat-r opened #18765 "Checkout form prefillment"
I tried to make checkout form prefillment (in guest checkout) after non successful payment and redirect back to checkout form (`$this->_redirect('checkout', ['_fragment' => 'payment'])`). I used solution described here -  https://webkul.com/blog/autofill-custom-address-magento2/.

I used such code for form prefillment (hardcoded values just for testing):
[code]

### Preconditions (*)

1. Debian
2.

[2018-10-23 09:52] magento-engcom-team commented on #18765
Hi @lostinrules. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-23 09:53] magento-engcom-team commented on #18721
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 09:56] kanduvisla commented on #14926
Might be related to #18752

[2018-10-23 09:58] kanduvisla commented on #18752
@adammprost : did you found a (temporary) solution to this problem?

[2018-10-23 10:12] engcom-backlog-nazar commented on #18721
Hi @rachid-a, thank you for you report,  I'm not able to reproduce following steps your described, If you like to update, please reopen the issue.

[2018-10-23 10:12] #18721 closed, assigned to nobody

[2018-10-23 10:15] magento-engcom-team commented on #10679
Hi @Dharmeshvaja91. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-10-23 10:16] magento-engcom-team commented on #18572
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 10:17] engcom-backlog-nazar commented on #18572
Hi @mayowadavid
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-10-23 10:17] #18572 closed, assigned to nobody

[2018-10-23 10:19] magento-engcom-team commented on #18683
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 10:24] #18760 closed, assigned to nobody

[2018-10-23 10:53] magento-engcom-team commented on #18651
Hi @saphaljha. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-23 11:07] lior4r12 opened #18766 "תקלה בעדכון באנרים בקטגוריות"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2018-10-23 11:08] magento-engcom-team commented on #18766
Hi @lior4r12. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-23 11:11] lior4r12 commented on #18766
הבוקר החלפתי באנר ראשי בקטגוריות SALE השונות באתר טימברלנד
אך הבאנרים לא התעדכנו.
עשיתי גם FLUSH MAGENTO CACHE.

[2018-10-23 11:17] magento-engcom-team commented on #18765
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 11:34] RickDBCN commented on #18688
Hi,

Any error logs in the log files?

[2018-10-23 11:35] rachid-a commented on #18721
The issues is caused by core package Authorize.Net payment methods.
If I disable the module or check enable option out and set option to no then it save button is working again.
There is something with this extension that is causing the issue.

[2018-10-23 11:38] albsa commented on #18755
@magento-engcom-team give me 2.2.6 instance

[2018-10-23 11:38] magento-engcom-team commented on #18755
Hi @albsa. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-23 11:39] Daniel304 commented on #8700
hope this gets fixed soon

[2018-10-23 11:39] magento-engcom-team commented on #18755
Hi @albsa, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18755-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18755-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18755-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-23 11:40] kanduvisla commented on #18752
I found the issue in my case: I set the customer date of birth on the quote object, but the format was incorrect.

If anyone else bumps into this issue: your problem might be something else. This error (with a very generic "something went wrong" message and not a very clear stack trace) is caused if a transaction has been rolled back and is being re-opened later on.

The easiest way to debug this

[2018-10-23 11:41] davegog commented on #18688
Hi Rick,

There were no errors in the log files. I've tried 2.2.6 with the same setup, and php 7.1x and it works perfectly. For the time being I've reverted back to 2.2.6 .

[2018-10-23 11:44] engcom-backlog-nazar commented on #18721
Hi @rachid-a, yes and i'm trying reproduce this on 2.3-develop branch but unsuccessful, If you have clear steps to reproduce, please, tell me know.

[2018-10-23 11:47] mohsinahmed22 commented on #18523
yes

yes

[2018-10-23 11:53] johnny-longneck commented on #11002
I can confirm this. Also 11000+ records in the table. One day after I truncated the table. Also 2.2.6

[2018-10-23 11:54] kanduvisla commented on #6594
I run into this problem now after an update from Magento 2.1.5 to 2.2.6 :-(

I'm not sure if this is intended behaviour, but what I find strange is that all the content of my WYSIWYG-editor is parsed as being "layout". If I look at the content of `$xmlString`, I get something like this:

[code]

Is this correct? Should my HTML be in the layout merger? Seems a little odd to me...

[2018-10-23 11:54] kerlama opened #18767 "Cart rule ignores condition with categories"
We have problem on latest 2.2.6 and also on 2.1.15 version on excluding categories which contains only bundle products when creating coupon.

### Preconditions (*)
1. Magento 2.2.6 and 2.1.15
2. PHP 7.0.30

### Steps to reproduce (*)
1. Create category called Bundle, for example
2. Create 2 simple products
3. Create bundle product, assign one simple product to it and assign it to "Bundle" category

[2018-10-23 11:54] magento-engcom-team commented on #18767
Hi @kerlama. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-23 11:56] kerlama commented on #18767
@magento-engcom-team give me 2.3-develop instance

[2018-10-23 11:56] magento-engcom-team commented on #18767
Hi @kerlama. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-23 11:57] magento-engcom-team commented on #18767
Hi @kerlama, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18767-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18767-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18767-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-23 11:58] leanderf commented on #18763
I can reproduce this issue, same setting.
Creating invoice for previous orders also fails.

[2018-10-23 12:01] mohsinahmed22 commented on #18734
facing same issue with similar installation.

[2018-10-23 12:13] kerlama commented on #18767
@magento-engcom-team demo is not working as expected, I could not add items to cart, getting session expired message or invalid form key.

[2018-10-23 12:31] albsa commented on #18755
Please use these settings for reproducing:
<img width="1007" alt="schermafbeelding 2018-10-23 om 14 31 32" src="https://user-images.githubusercontent.com/8933779/47360665-5b69c480-d6d0-11e8-9f6e-163bc8533743.png">

and this table rate csv.
[code]

[2018-10-23 12:44] gwharton commented on #18734
A little debug shows the only place in Magento that can output that error is in the \Magento\Framework\Image::open() call.

The catalog:images:resize command parses through the catalog and creates a number of resized copies of the image in the catalog image cache.

If you have a 1 product with 1 image, then the open call would be called once to open the original image, then once for each destinati

[2018-10-23 12:49] engcom-backlog-pb commented on #18767
@kerlama, thank you for your report.
Please make your steps to reproduce more consistent and clear.

[2018-10-23 12:49] magento-engcom-team commented on #18767
Hi @engcom-backlog-pb. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2018-10-23 12:51] engcom-backlog-pb commented on #18766
@lior4r12, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-10-23 12:51] #18766 closed, assigned to nobody

[2018-10-23 12:52] magento-engcom-team commented on #18763
Hi @engcom-backlog-pb. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2018-10-23 12:56] kandy commented on #11002
@acurvers  @johnny-longneck Can you verify the settings for cron history lifetime is set to 60min, not to 1 week? It configured in  SYSTEM CONFIGURATION > ADVANCED > System > Cron (Scheduled Tasks)

[2018-10-23 13:04] sergy-gzh opened #18769 "Web API functional tests always run over main database"
### Environment:
Ubuntu 18.04, php 7.1.11, mysql 5.7, cache and session are stored on FS

### Preconditions (*)

1. Download magento 2.2.6 using metapackage.
2. Install magento into database `magento`.
3. Configure Web API test according to https://devdocs.magento.com/guides/v2.2/get-started/web-api-functional-testing.html.
3.a Create separate database `magento_functional_tests`.
3.b Create dedica

[2018-10-23 13:04] magento-engcom-team commented on #18769
Hi @sergy-gzh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-23 13:08] zipnfc commented on #13282
That fix works for me - perfect - you are a genius! Hopefully this will end up in a next release as it seems quite a key fix to me if you are in a country with VAT and the fact that Google Merchant needs your price to include VAT.  Many thanks that is brilliant

[2018-10-23 13:12] qrider commented on #12655
Is this fixed in the latest versions? > 2.2.4? Just wondering if I would need to reapply the patch.

[2018-10-23 13:15] engcom-backlog-nazar commented on #18765
Hi @lostinrules i'm not able to reproduce following steps your described, can you provide more information ? about how you do the redirect. thank you.

[2018-10-23 13:16] dev-awevo opened #18770 "Cron schedule on every day-of-week are random"
### Preconditions (*)

Magento v2.2.6

### Steps to reproduce (*)

#### Configuration Locale Options (Default Config)
**Timezone**: Central European Standard Time (Europe/Paris)
**Locale**: French (France)
**First Day of Week**: Monday
**Weekend Days**: Sunday, Saturday

#### Define any cronjob to run on every day-of-week from Monday through Friday, for example
[code]

### Expected result (*)

The

[2018-10-23 13:16] magento-engcom-team commented on #18770
Hi @dev-awevo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-23 13:32] engcom-backlog-nazar commented on #18765
@lostinrules Please look ->
![payment](https://user-images.githubusercontent.com/40756439/47364119-2c0f8380-d6e1-11e8-9430-099fea540523.gif)

[2018-10-23 13:38] magento-engcom-team commented on #18685
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-23 14:12] zestbeauty commented on #16101
@ilievski
Would it be possible if anyone could reply, as we really need to know if anyone has fixed this?

@AndyJAllen
Are you able to explain more detail of how you fixed this?

[2018-10-23 14:13] johnny-longneck commented on #11002
I had overwritten previous history lifetime to 740 as recommended somewhere. I switched back to "use global settings" which is now 60. This might seem to have caused the error.

Cron Table now constant at ca. 1000 entries.

[2018-10-23 14:45] bnymn commented on #14166
I am getting the same problem. I am using jMeter 5.

[2018-10-23 14:54] CompactCodeEU commented on #5906
What about a simple if/else in the ui component making it easier to allow certain configs or fields to change under certain conditions. You can provide a php class that returns false or true within the if statements config. Just an idea

[2018-10-23 14:59] jorgb90 commented on #18763
What do you think is causing it?

[2018-10-23 15:09] rachid-a commented on #18721
Hi @engcom-backlog-nazar,

I cannot reproduce it anymore after disabling/enabling the extension with command line. Also with the enable question yes/no in admin page.

It looks now that is fixed.

[2018-10-23 15:28] webusat commented on #14206
@magento-engcom-team  Was this fixed.  If so, how do I fix it?  I have the same exact problem.

[2018-10-23 15:32] leanderf commented on #18763
@jorgb90 also found this post: https://magento.stackexchange.com/a/243837
But SALES_INVOICE_INCREMENT_ID_STORE_ID seems not related to this issue. I've also checked the DB for any kind of double entries. Are you working on a clean M2.2.6?
Could be an upgrade issue from 2.2.5 to 2.2.6. No solution yet.

[2018-10-23 15:38] jorgb90 commented on #18763
Nearly clean, but its upgraded from previous versions, so an upgrade issue could be. Yours?

[2018-10-23 17:01] okorshenko commented on #18094
Hi @sreichel. Thank you for your report.
The issue has been fixed in magento/magento2#18424 by @lewisvoncken in 2.2-develop branch
Related commit(s):
 - [3fc107ad5426ccf73566d562cf643c9e94e27d5b](https://github.com/magento/magento2/commit/3fc107ad5426ccf73566d562cf643c9e94e27d5b)
 - [fa529366822a4e049ddcab820212af24ee931c2b](https://github.com/magento/magento2/commit/fa529366822a4e049ddcab820212af

[2018-10-23 17:01] #18094 closed, assigned to jayankaghosh

[2018-10-23 17:01] okorshenko commented on #15259
Hi @Detzler. Thank you for your report.
The issue has been fixed in magento/magento2#15366 by @sunilit42 in 2.2-develop branch
Related commit(s):
 - [274fee981c33ee22b296f99e1ca6cc009d7abaa2](https://github.com/magento/magento2/commit/274fee981c33ee22b296f99e1ca6cc009d7abaa2)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-23 17:01] #15259 closed, assigned to shaandg

[2018-10-23 17:20] BernardRobbins opened #33195 "Amazon Pay Versions"
We have 2.2.5 installed. Running composer update will install Amazon Pay v2.2.2. Amazon Pay version for Magento 2.2.5 is 2.0.15.

https://packagist.org/packages/amzn/amazon-payments-magento-2-plugin
https://github.com/amzn/amazon-payments-magento-2-plugin/blob/master/composer.json

[2018-10-23 17:45] DrewML commented on #17813
@pemann usage of `window.localStorage` directly is not inherently bad, in the same way that usage of file system APIs in a native application isn't bad. Anytime you're dealing with APIs that handle persistence, you'll need to account for the case where the persistence mechanism is at capacity. `QuoteExceededError` is an expected case to be handled when working with `localStorage`:

![image](https:

[2018-10-23 17:46] ulftietze commented on #2991
Hey Guys,

is this really fixed? I can reproduce in 2.2.6 easily :/

Steps to reproduce this:

[code]

[code]
I can recognice, that the answer of that request the price is already missing here.
As example:

[code]

If you cant reproduce, you have to do this more often and delete that item out of cart with following request. After that just add it again. Sometimes you have to do this like 2 or 3 ti

[2018-10-23 18:06] vpodorozh commented on #16069
Okay, seems to be fixed now. Waiting for pull request approval.
https://github.com/magento/magento2/issues/18739

[2018-10-23 18:31] slavvka commented on #12866
Duplicate of #15259

[2018-10-23 18:31] #12866 closed, assigned to nfourteen

[2018-10-23 19:22] ulftietze commented on #2991
Well, i can provide some more information about this now.

Preconditions:
- empty cart
- customer token

1.) `POST {{Host}}/rest/de/V1/carts/mine/items` to add product
2.) Assumed that everything is correct, database shows us two entries for following query:
[code]
3.) `DELETE {{Host}}/rest/de/V1/carts/mine/items/21728697` to remove that item again
4.) If you look back into database with the query

[2018-10-23 19:40] magento-engcom-team commented on #18387
Hi @vpodorozh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-10-23 19:46] utklasad commented on #18134
This fixed my issue. The manufacturer attribut disappeared on all new products after upgrade to 2.2.6 from 2.2.5. All old products had the manufacturer attribut and I couldn't set it on new ones.

Thanks buddy!

[2018-10-23 22:47] missvickih commented on #18457
Same issue with data format existing in 2.2.6 with store / user locale set as en_gb; running php 7.1.18.
Date parameters site wide, result in errors and inability to save date rules:
Special price at product level: DateTime::__construct(): Failed to parse time string (24/10/2018) at position 0 (2): Unexpected character
Set date from and to in promotional rules: rule saves but date format is incorr

[2018-10-23 23:14] barbazul commented on #14328
Hey @Top-CMS finally got around to building a module out of this: https://github.com/SemExpert/SemExpert_FixSalesDecimals

Enjoy

[2018-10-24 03:11] vishal-magento360 commented on #18577
@nicobatty  issue is exactly you mentioned..  I tried completely by using Xdebugger when we Click on  "Update Items and Quantities"  it never use the same storeId that was at the time of  'addProducts'.

Below mentioned method is only called when clicking on 'addProducts' and then never get called again.
this may be reason of this bug.

[magento2/app/code/Magento/Catalog/Model/Product/Attribute/Ba

[2018-10-24 06:31] xtremevision commented on #5172
Bug present in Magento 2.1.7 and Magento 2.2.3. To reproduce:

- Create simple products using configurable attributes (size, color, whatever)
- Create new configurable product. Link to "Add products manually" is missing.

To circumvent:
- Click on Edit Configurations
- Choose Attributes
- Click all the way to choose products, and one or two
- When back in main page, remove added products and add t

[2018-10-24 06:59] saphaljha opened #18775 "Product Advanced Pricing design issue"
### Preconditions (*)

1. Install the newest version 2.3.X

### Steps to reproduce (*)

1. Add new product
2. Add new tierprice

### Expected result (*)

![products-advance-pricing-catalog-magento-admin-expected](https://user-images.githubusercontent.com/23274052/47412052-3769ba00-d788-11e8-8bd7-76d966ded136.png)

### Actual result (*)

![products-advance-pricing-catalog-magento-admin-actual](http

[2018-10-24 06:59] magento-engcom-team commented on #18775
Hi @saphaljha. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-24 07:00] magento-engcom-team commented on #18685
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95885`, `MAGETWO-95886` were created

[2018-10-24 07:00] magento-engcom-team commented on #18775
Hi @speedy008. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-10-24 07:29] leanderf commented on #18763
Currently I'm debugging the DB queries:
(https://devdocs.magento.com/guides/v2.2/config-guide/log/log-db.html)
and comparing M2.2.5 to 2.2.6:

Process: Create offline invoice for order with configurable product
[code]

Difference in inserting invoice items to DB:
2.2.5 (just the relevant parts)
[code]
2.2.6
[code]

It seems like i would only save the child product on 2.2.6 whereas it saved both pa

[2018-10-24 07:35] magento-engcom-team commented on #18683
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95887`, `MAGETWO-95888` were created

[2018-10-24 07:40] magento-engcom-team commented on #18544
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 07:43] engcom-backlog-nazar commented on #18544
Hi @chakravarthykalyan90 thank you for you report, I'm not able to reproduce following steps your described, If you found the solution to reproduce this with clean steps to reproduce, please let me know, And if you like to update, please reopen the issue.

[2018-10-24 07:43] #18544 closed, assigned to nobody

[2018-10-24 07:45] magento-engcom-team commented on #18536
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 08:02] Rickertje commented on #17925
I originally created this issue. And I am still on 2.2.5 so I dont know. This issue was closed because @engcom-backlog-nazar said it was solved in 2.2-develop. If that means that I shoud have been solved in 2.2.6 also is unclear. My experience is that it is almost impossible to get attention from development for closed issues (and also for open ones most of the time). However if you open a new iss

[2018-10-24 08:09] udayakumar-ziffity commented on #6818
This issue is still in Magento EE 2.1.9 also.

[2018-10-24 08:21] leanderf commented on #18763
its not limited to configurable products. It also happens with simple products.

[2018-10-24 08:52] engcom-backlog-nazar commented on #18536
HI @kapil-infobeans I'm not able to reproduce following steps your described, because google-tag-manager exist only in ee version, Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2018-10-24 08:52] #18536 closed, assigned to nobody

[2018-10-24 08:55] engcom-backlog-nazar commented on #18760
@mallikaverma To make this compatible with gmail magento needs apply the same logic as google filters his emails, this may cause more issues.

[2018-10-24 08:57] magento-engcom-team commented on #18285
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 09:10] engcom-backlog-nazar commented on #18285
Hi @web-developer-saurashtra I'm not able to reproduce following steps your described, this may caused by your custom code, if you like to update please reopen the issue.

[2018-10-24 09:10] #18285 closed

[2018-10-24 09:11] magento-engcom-team commented on #18300
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 09:12] avstudnitz commented on #12512
@magento-engcom-team Please reopen, this is not fixed in 2.2.6.

[2018-10-24 09:13] engcom-backlog-nazar commented on #18300
Hi @safaa-alnabhan , thank you for you report, Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-10-24 09:13] #18300 closed, assigned to nobody

[2018-10-24 09:13] lostinrules commented on #18765
I can share example module (where just empty payment method and form prefillment with redirects) - https://drive.google.com/file/d/1JeyraIgwVf2a599fVkhdU8LUFoKG_OO8/view?usp=sharing

[2018-10-24 09:14] magento-engcom-team commented on #18264
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 09:28] Rickertje commented on #16604
Hi guys it has been another month. Can someone give an update?

[2018-10-24 09:35] eWolf62095 commented on #17378
@koopjesboom  hi sire, just for an update. Magento Support provided a patch for us. The patch was about "URL Key not updated during product import". The issue is different from what's in this thread however the patch provided also fixed the issue that I experienced same on this thread. Sadly I cannot share you the patch because it is the owned by our company and only our infra team has accessed on

[2018-10-24 09:39] koopjesboom commented on #17378
Best,

Thank you very much for the information.

I am going to try to get this patch.

Do you have information about the patch, a patch number and file name?

Best regards Bram Slagboom

Adres/Address

Koopjesboom V.O.F.

Lorentzweg 26

2964LN Groot-Ammers

Tel/Phone : 0031184634329

Mobile : 0031651180371

E-Mail : info@koopjesboom.com

 <https://kbmodelcars.com/> https://kbmodelcars.com

 <https

[2018-10-24 09:45] mark-gene commented on #13690
I am also seeing this error on 2.2.6.  I could see the issue once I had something in my basket and was not logged in. I could then see the XHR Network requests in the browser calling
?sections=directory-data&...
?sections=cart&...
even though these were already in local storage.

After going through some code I can see the same thing as @magefan in that the backend code
Magento\Persistent\Observer

[2018-10-24 09:51] jhruehl commented on #12889
@Rickertje I see both cases are valid. The case from this issue and my case. I don't know, if my solution/adjustment given in  https://github.com/jhruehl/magento2/commit/fed80e247dfbb5e504de366db4e3a18a114d2a23 still solves the issue given here. And I don't have the time to spare to recreate and test the scenario given by the author of the issue with my adjustment.

So we will handle it as we hand

[2018-10-24 10:05] Franzld opened #18779 "Translation issue send-friend in sendphtml"
### Preconditions (*)

1. Magento 2.2.6, , ,
2. Unix Ubuntu 16.04.5 LTS
3. php 7.0.30
4. mysql 5.7.24

### Steps to reproduce (*)

1. install magento 2.2.6 with sample data
2. add any translation (eg German) with the entry: "Email:,E-Mail:,,"
Set shop-> config->catalog->"Email to a friend" -> yes
3. call a Product -> Email to a Friend

### Expected result (*)

1. all labels should been shown right

[2018-10-24 10:05] magento-engcom-team commented on #18779
Hi @Franzld. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-24 10:17] magento-engcom-team commented on #18264
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95895`, `MAGETWO-95896` were created

[2018-10-24 10:18] magento-engcom-team commented on #18306
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 10:18] Franzld commented on #18779
To reproduce the issue without install a translation, you may edit

 replace `__('Email')` with

- `__('Em#ail')` or

- `__('E-Mail')`

[2018-10-24 10:20] engcom-backlog-nazar commented on #18306
Hi @bhaveshkeshrani i'm not able to reproduce following steps your described, please provide more information about steps to reproduce, and let me know, If you like to update, please reopen the issue.

[2018-10-24 10:20] #18306 closed, assigned to nobody

[2018-10-24 10:23] #18317 closed, assigned to nobody

[2018-10-24 10:43] latenights commented on #7561
@Priyanka9582 Could be something in theme you created. Please make sure that:

1. Messages block is not removed in XML
1. Message block have existing template file e.g.:
`<block class="Magento\Framework\View\Element\Messages" name="messages" as="messages" template="Magento_Theme::messages.phtml"/>`

[2018-10-24 10:45] ShirishRam commented on #6410
I am able to reproduce this issue on Magento CE 2.1.15. Below are the steps to reproduce it:

1. Clear local storage of your browser
2. Visit the store
3. Login and then logout
4. Now in the console you will see this error.

The reason is because the customer-data.js while making the AJAX request for 'customer/section/load' is not passing value for 'sections' parameter. The API returns a **400 Bad

[2018-10-24 10:55] Priyanka9582 commented on #7561
@latenights Thank you very much! I had removed Message block in catalog default.xml

[2018-10-24 11:01] engcom-backlog-nazar commented on #18325
Hi @avanish512 thank you for you report, i'm not able to reproduce following steps your described, seems like this related to your custom code. If you like to update this please reopen the issue.

[2018-10-24 11:01] #18325 closed, assigned to nobody

[2018-10-24 11:05] magento-engcom-team commented on #18298
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 11:16] diglin commented on #13460
FYI it will be released in 2.2.6 we see that the PR is merged only in this version

[2018-10-24 11:40] manishmittalm commented on #5013
I would be willing to take on this issue! #SQUASHTOBERFEST

[2018-10-24 11:40] magento-engcom-team commented on #5013
@manishmittalm thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-24 11:42] magento-engcom-team commented on #5013
Hi @manishmittalm. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-10-24 11:43] engcom-backlog-nazar commented on #18298
Hi @jbokhari thank you for you report, the fix for this issue has already available on 2.2-develop and 2.3-develop branch.
![selection_171](https://user-images.githubusercontent.com/40756439/47428176-21b1c000-d79b-11e8-8e10-a25038996f39.png)

[2018-10-24 11:43] #18298 closed, assigned to nobody

[2018-10-24 11:46] magento-engcom-team commented on #18318
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 11:47] engcom-backlog-nazar commented on #18318
HI @allumanatu seems like problem with access to your folders, try add permissions to the folders.

[2018-10-24 11:47] DanielRuf commented on #18318
You may have to remove the content of `var/cache` and redeploy the static content.

[2018-10-24 11:48] magento-engcom-team commented on #18779
Hi @hardik-krish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-10-24 11:49] jorgb90 commented on #18763
@leanderf Yes we experience it on all types of products.

[2018-10-24 12:21] Perzonallica opened #18781 "Product Image Placeholders are not saved correctly in stores configuration section"
### Preconditions (*)

1. Magento version 2.2.6
2. PHP 7.0.32
3. nginx/1.10.3
4. MySQL 5.6.37

### Steps to reproduce (*)

1. Open Stores->Configuration->Catalog->Catalog page
2. Open _Product Image Placeholders tab_
3. Select images for placeholders
4. Save Config

### Expected result (*)

1. Upload the images to the server and save the correct path in the _core_config_data_ table which I assume

[2018-10-24 12:45] Franzld commented on #18779
I'm sorry, but I'm not a developer and have only rudimentary programming skills.
I just found this problem and tried to fix it myself.

[2018-10-24 12:46] magento-engcom-team commented on #18379
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 12:47] engcom-backlog-nazar commented on #18379
Hi @brmor , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-10-24 12:47] #18379 closed, assigned to nobody

[2018-10-24 12:51] magento-engcom-team commented on #18374
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 13:12] jorgb90 commented on #18763
@leanderf We fixed the problem its not a core issue, but was related to the Amasty Product Grid module for Magento 2. I dont know if you have it installed as well, but its a problem QtySold indexer.

[2018-10-24 13:16] magento-engcom-team commented on #17973
Hi @hiren0241. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-24 13:20] zipnfc commented on #16419
I tried this and does not work on 2.2.6 as still using the old library - whilst we are waiting for this to be fixed, does anyone have the code fix and location to changes for this work properly with their updated https://player.vimeo.com/api/player.js' - thanks in advance

[2018-10-24 13:28] magento-engcom-team commented on #18350
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 13:30] engcom-backlog-nazar commented on #18350
Hi @dnesdeveloper, thank you for you report,  i'm not able to reproduce following steps your described, please provide more information about setps to reproduce, If you like to update this please reopen the issue.

[2018-10-24 13:30] #18350 closed, assigned to nobody

[2018-10-24 13:36] magento-engcom-team commented on #18351
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-24 13:42] nicobatty commented on #18577
Hi @vishal-magento360,

Since you asked for it, I just made a PR: #18784

@navinbhudiya

[2018-10-24 13:42] tdgroot opened #18785 "Checkout address custom attributes don't get rendered in address information components"
Checkout address custom attributes don't get rendered in address information components. In fact, the rendering of such components produce errors:

[code]

I stumbled upon this problem when creating a new field for the shipping address in the checkout, using [this devdocs article](https://devdocs.magento.com/guides/v2.2/howdoi/checkout/checkout_new_field.html).

The issue occurs in the following p

[2018-10-24 13:42] magento-engcom-team commented on #18785
Hi @tdgroot. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-24 13:42] engcom-backlog-nazar commented on #18351
Hi @sonsec thank you for you report, I'm not able to reproduce following steps your described, this related to 3rth party module that you installed,
If you like to update, please reopen the issue.

[2018-10-24 13:42] #18351 closed, assigned to nobody

[2018-10-24 13:44] nicobatty commented on #12114
@adamlavery I haven't tried on grouped products, but you maybe try my PR that fix the issue for simple and configurable products: #18784

[2018-10-24 13:45] maheshWebkul721 commented on #17436
#SQUASHTOBERFEST

[2018-10-24 13:48] magento-engcom-team commented on #17436
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-10-24 14:52] magento-engcom-team commented on #13902
Hi @vpodorozh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-24 15:20] leanderf commented on #18763
ah yes - we are using the same module as well - thank you for this hint! Will give it a try!

[2018-10-24 15:35] webdeveloperpnkj opened #18786 "Facing an issue to update the inventory and the name of product"
While trying to update the any of the attribute/field of the product like name,price,inventory,its not updated and error is shown as below

A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later. (This isssue occurs only with the old added products to the store.)

The version of the magento that i am using is 2.2.6.

[2018-10-24 15:35] magento-engcom-team commented on #18786
Hi @webdeveloperpnkj. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-10-24 15:49] itg-ddanielson commented on #10071
I have this same issue, only when using Varnish locally. When I disable Varnish the popup goes away.  I am getting a 404 on an Ajax call to admin/noroute which is the cause of my issue but I have no idea how to solve or even debug this.  I have tried re-index, flush cache, reset password etc but nothing

[2018-10-24 15:50] leanderf commented on #18763
Issue solved - great job @jorgb90 !
Thank you!

[2018-10-24 15:53] leanderf commented on #18763
@jorgb90 did you already report this issue to Amasty? Otherwise I would get in contact.

[2018-10-24 16:15] pmclain opened #18787 "[Performance] CatalogSearch Indexer Performance Degradation with Elasticsearch"
### Preconditions (*)
1. Magento 2.3-develop#fcf9eed8a2456a88d36cfcca02f6a35ad81d6972
2. Install medium performance profile `magento setup:performance:generate-fixtures setup/performance-toolkit/profiles/ce/medium.xml`
3. Install Elasticsearch 5

### Steps to reproduce (*)
1. Validate MySQL is enabled for search
2. `magento indexer:reindex catalogsearch_fulltext` Using single thread
3. Note index

[2018-10-24 16:15] magento-engcom-team commented on #18787
Hi @pmclain. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-24 17:35] medmek commented on #13672
I'm experiencing the same issue, although by using the import in BO,
and the attributes get disassociated for every store view (`Use Default Value` disabled) only when you repeat the import.

[2018-10-24 18:30] maheshWebkul721 commented on #17436
Yes, i can reproduce this error: Notice: Undefined index: newProduct in /var/www/html/deployer/instances/i-17436-2-3-develop/app/code/Magento/ConfigurableProduct/Controller/Adminhtml/Product/Initialization/Helper/Plugin/Configurable.php on line 161

[2018-10-24 19:41] pmclain commented on #18787
`\Magento\Elasticsearch\Model\Adapter\BatchDataMapper\ProductDataMapper::getValuesLabels` is another bottleneck. This function creates a lot of duplicate effort loading attribute options. The hack below reduces index time by another ~20%, but at the cost of memory.

[code]

[2018-10-24 21:15] diglin commented on #13594
Got the same issue on Magento 2.2.3. It was related to a third party module (Fooman_Surcharge) the quote was defined to trigger a recollect on load into a collection. See `\Magento\Quote\Model\Quote::setTriggerRecollect` The problem I suppose is by doing that, it didn't collect the shipping rate correctly because the shipping method is missing or the opposite. I'm not sure exactly what happened wi

[2018-10-24 21:39] gabs77 opened #18791 "Cannot access static xhr since CDN CloudFront"
### Preconditions (*)
1. Magento 2.2.5
2. CloudFront AWS with GET HEAD OPTIONS Methods allows
3. Set the url cloudfront in static base url

Result :
- All html files called by xhr return a 405
- woff and ttf has block (The Same Origin Policy disallows reading the remote resource at fonts/font-awesome-pro/fa-light-300.woff.)

[2018-10-24 21:39] magento-engcom-team commented on #18791
Hi @gabs77. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-25 05:43] wittyvishwas opened #18793 "Able to checkout even with an out of stock product"
**Preconditions**

Magento 2.2.6 installed with sample data , PHP 7.1 and MYSQL 5.6 With Ngnix

Add an in stock product and proceed to checkout

**Steps to reproduce**

1) Add product to cart
2) Proceed to checkout ,on payment page make the product in cart out of stock (Using the stock attribute not qty, keep the qty as it is ) and re-index if required.
3) Click on place order

**Expected result**

[2018-10-25 05:43] magento-engcom-team commented on #18793
Hi @wittyvishwas. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-25 06:12] kimurabanyan opened #18794 ""My billing and shipping address are the same" checkbox won't be unchecked when multiple payment methods are available."
### Preconditions

1. Magento Open Source 2.2.6 without sample data is installed.
2. Check / Money Order, Bank Transfer Payment and Cash On Delivery Payment are set up.
3. Test simple product is set up.
4. Test customer account is set up. It has two addresses.

### Steps to reproduce

1. Add to cart a product, and go to checkout.
2. Select any address, and click "Next" button.
3. Select any paymen

[2018-10-25 06:12] magento-engcom-team commented on #18794
Hi @kimurabanyan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-25 06:38] magento-engcom-team commented on #18307
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-25 06:39] engcom-backlog-nazar commented on #18307
Hi @neetu-goyal  thank you for your report,  problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2018-10-25 06:39] #18307 closed, assigned to nobody

[2018-10-25 06:42] magento-engcom-team commented on #18321
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-25 06:42] sidolov commented on #18534
Hi @k1las. Thank you for your report.
The issue has been fixed in magento/magento2#18535 by @k1las in 2.2-develop branch
Related commit(s):
 - [07ee1786beb48ea160d3a2b4f0f0617b59cfae5f](https://github.com/magento/magento2/commit/07ee1786beb48ea160d3a2b4f0f0617b59cfae5f)
 - [b5e915f4fd72928f7c30661f15616b9d1baba19f](https://github.com/magento/magento2/commit/b5e915f4fd72928f7c30661f15616b9d1baba19f

[2018-10-25 06:42] #18534 closed, assigned to nobody

[2018-10-25 06:43] sidolov commented on #17954
Hi @matin73. Thank you for your report.
The issue has been fixed in magento/magento2#18643 by @janakbhimani in 2.2-develop branch
Related commit(s):
 - [332f88f209db78e3194cb6b0caa35310309419da](https://github.com/magento/magento2/commit/332f88f209db78e3194cb6b0caa35310309419da)
 - [8c868c3c315e15a40671ee72c24e638172c8d5a6](https://github.com/magento/magento2/commit/8c868c3c315e15a40671ee72c24e638

[2018-10-25 06:43] #17954 closed, assigned to janakbhimani, jaiminparikh

[2018-10-25 06:43] sidolov commented on #18589
Hi @luukschakenraad. Thank you for your report.
The issue has been fixed in magento/magento2#18597 by @luukschakenraad in 2.2-develop branch
Related commit(s):
 - [7acc46a590c36f5c8c4292c3c65792c0684eb195](https://github.com/magento/magento2/commit/7acc46a590c36f5c8c4292c3c65792c0684eb195)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-25 06:43] #18589 closed, assigned to nobody

[2018-10-25 06:43] sidolov commented on #18268
Hi @kanduvisla. Thank you for your report.
The issue has been fixed in magento/magento2#18604 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [8084aa985c10208c1ee5bfd14ab31014bd4edfd4](https://github.com/magento/magento2/commit/8084aa985c10208c1ee5bfd14ab31014bd4edfd4)
 - [8296637b258a9d03f81304bf00724cee553da029](https://github.com/magento/magento2/commit/8296637b258a9d03f81304bf0

[2018-10-25 06:43] #18268 closed, assigned to nobody

[2018-10-25 06:44] magento-engcom-team commented on #18323
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-25 06:45] engcom-backlog-nazar commented on #18321
Hi @vipin12117  I'm closing this as duplicato for this -> https://github.com/magento/magento2/issues/18323.

[2018-10-25 06:45] #18321 closed, assigned to nobody

[2018-10-25 06:56] digvijay2017 commented on #10071
Hi All,
I have also got this issue in Magento 2.2.1.
Well, I have done all the technique which mentioned above. But no luck.

But i have fixed this, that why i want to share the technique for fix this silly issue.  Well if you assign the full resource access  to a Role, then it's working perfectly. As i know, if you assign the custom resource access to any role, you must assign the **Show List** r

[2018-10-25 07:06] magento-engcom-team commented on #18323
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95909`, `MAGETWO-95910` were created

[2018-10-25 07:16] magento-engcom-team commented on #18514
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-25 07:18] engcom-backlog-nazar commented on #18514
Hi @MuzzamilAli  Thank you for you report, I'm not able to reproduce following steps your described.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-10-25 07:18] #18514 closed, assigned to nobody

[2018-10-25 07:42] engcom-backlog-nazar commented on #18793
Hi @wittyvishwas thank you for you report, the fix for this issue has already available in 2.3-develop and 2.3-develop branch.
![selection_173](https://user-images.githubusercontent.com/40756439/47483726-9e4ba980-d842-11e8-84d0-dc35979f31ef.png)

[2018-10-25 07:42] #18793 closed, assigned to nobody

[2018-10-25 07:46] magento-engcom-team commented on #2618
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-25 07:51] magento-engcom-team commented on #18484
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-25 08:05] borey88 commented on #11268
Hello,
I have reproduced issue.

**Preconditions:**
Magento 2.2.3
PHP 7.0.22
PHPUnit 4.1.0

**Steps to reproduce:**
1) set production mode `php bin/magento deploy:mode:set production`
2) run `php bin/magento setup:upgrade`
3) run `php bin/magento setup:di:compile`
4) run unit tests `php bin/magento dev:tests:run unit`

If run test after step 2) (before setup:di:compile) - tests will be passed.

[2018-10-25 08:18] engcom-backlog-nazar commented on #18484
Hi @lovelysetia1992, thank you for you report, The fix for this issue has already available in 2.3-develop branch.

[2018-10-25 08:18] #18484 closed, assigned to nobody

[2018-10-25 08:38] engcom-backlog-nazar commented on #18438
Hi @nikmedlabs, thank you for you report,   i'm not able to reproduce following steps you described, seems like problem related to you custom modules, So if you have some additional information about steps to reproduce, after that i can reproduce this on clean instance, let me know, If you like to update, please reopen the issue.

[2018-10-25 08:38] #18438 closed, assigned to nobody

[2018-10-25 08:50] magento-engcom-team commented on #18616
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-25 08:56] stijnkuppens opened #18799 "Magento 2 catelog product - related products on different users are deleted when saved"
### Preconditions (*)

1. Magento ver. 2.2.4 !! EE edition to restrict admins for store views
2. Backend Catalog products

### Steps to reproduce (*)

1. log in in backend of Magento 2
2. Edit a product that is available on the frontend and you have rights to edit, make sure there is another backend user that is able to edit this product
3. Add related products
4. Save the product
5. Logout
6. Log

[2018-10-25 08:56] magento-engcom-team commented on #18799
Hi @skdude. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-25 08:57] skdude commented on #18799
@magento-engcom-team give me 2.2.4 instance

[2018-10-25 08:58] magento-engcom-team commented on #18799
Hi @skdude. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-10-25 08:58] magento-engcom-team commented on #18799
Hi @skdude, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18799-2-2-4/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18799-2-2-4//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18799-2-2-4//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-25 08:58] molovo commented on #15505
@engcom-backlog-nickolas do you know if the fix for this is to be backported to 2.2.x?

[2018-10-25 09:11] magento-engcom-team commented on #18616
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95915`, `MAGETWO-95916` were created

[2018-10-25 09:17] magento-engcom-team commented on #18636
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-25 09:23] CompactCodeEU opened #18801 "Ui component frontend : admin classes"
### Preconditions (*)

- Magento 2.2.6
- Mysql 5
- PHP 7.1
- Apache

### Summary (*)
When using some UI components it uses a template with admin classes.
There seems te be no difference in backend ui components and frontend ui components but they seem to be build for frontend ui components.

And sure we can implement custom templates and classes to mimic the frontend but this is not modular at all

[2018-10-25 09:30] magento-engcom-team commented on #18801
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-25 09:30] engcom-backlog-nazar commented on #18801
Hi @CompactCodeEU Thank you for you report i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/15958.

[2018-10-25 09:30] #18801 closed, assigned to nobody

[2018-10-25 09:32] DanielRuf commented on #18636
Which should be changed there. Not an issue on our side.

[2018-10-25 09:32] #18636 closed, assigned to nobody

[2018-10-25 09:32] DanielRuf commented on #18636
https://github.com/easylist/easylist

[2018-10-25 09:34] CompactCodeEU commented on #18801
First of all when i opened an issue i had the option to report a bug or a developer expierence issue or a feature request.

I choose the developer experience issue.
These have different required informations.
I have filled in the template
![image](https://user-images.githubusercontent.com/41287340/47490707-9e02dc80-d849-11e8-8ce8-5f3b303a37fe.png)

![image](https://user-images.githubusercontent.co

[2018-10-25 09:35] CompactCodeEU commented on #15958
Can we have the push request here please? So we can fix this in earlier versions?

[2018-10-25 09:39] magento-engcom-team commented on #18719
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-25 09:46] engcom-backlog-nazar commented on #18719
Hi @Bhishan-Shrestha  I'm not able to reproduce following steps you described, Maybe problem related to you permissions on folders, try to remove the dot (.) in file path.
If you like to update this please reopen the issue.

[2018-10-25 09:46] #18719 closed, assigned to nobody

[2018-10-25 09:46] kamilszewczyk commented on #18048
Hello @engcom-backlog-nazar

I have just noticed the same issue occured on other 3rd party module and it was reported here https://github.com/YotpoLtd/magento2-plugin/issues/18
It seems that the PHP version is also a variable.
I've been testing my code on `PHP 7.1.20-1+ubuntu18.04.1+deb.sury.org+1` can you please check reproducing of this error on it?

[2018-10-25 09:46] xi-ao opened #18802 "Multivalued filters don't work correctly with ElasticSearch"
### Preconditions

1. Install Magento 2.2.6 and ES 5.x
2. Create a multiselect filterable attribute and assign 3 values to it : "A", "B", "C"
3. Create a category, an enabled product and select "A" and "C" values for the previous attribute. Put the product in the category.
4. Configure ES as search engine
5. Reindex all

### Steps to reproduce

1. Go to the category page, the product should be dis

[2018-10-25 09:46] magento-engcom-team commented on #18802
Hi @xi-ao. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-10-25 09:50] AlekosDordas commented on #14937
The empty $content `return ' ' ` gave me a warning in the dashboard. I changed it instead to the following, and it didn't give me any kind of warning.

[code]
(P.s i used a Wyomind extension as well)

[2018-10-25 09:51] jorgb90 commented on #18763
@laenderf Great! Good to hear your problem is solved as well. Yes I have it reported to Amasty, but it shouldn't do any harm if you should do it as well!

[2018-10-25 09:55] skdude commented on #18799
@magento-engcom-team give me 2.2.4 Enterprise instance

[2018-10-25 09:56] magento-engcom-team commented on #18799
Hi @skdude. Thank you for your request. I'm working on Magento 2.2.4 Enterprise instance for you

[2018-10-25 09:57] xi-ao commented on #18802
@magento-engcom-team give me 2.2.6 instance

[2018-10-25 09:57] magento-engcom-team commented on #18802
Hi @xi-ao. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-25 09:57] magento-engcom-team commented on #18802
Hi @xi-ao, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18802-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18802-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18802-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-25 10:00] xi-ao commented on #18802
@magento-engcom-team This instance **does not** have an ES attached, I can't reproduce the problem in that conditions.

[2018-10-25 10:00] engcom-backlog-nazar commented on #18048
Hi @kamilszewczyk thank you for you reply, yes i'm will test this again, but if i'm good remember,  I tested with the 7.1.20 php version

[2018-10-25 10:04] kamilszewczyk commented on #18048
Well at least thanks to the yotpo module bug report I know that it's not a isolated case that happened only for me, but is actually encountered by other people

[2018-10-25 10:07] CompactCodeEU commented on #15958
For those wondering... If you just fill in the template with the same path it will take the frontend html
Example for a frontend checkbox arguments :

[code]

[2018-10-25 10:36] karl-micesoft opened #18803 "ProductRepository->get($sku) fails on incorrect case"
### Preconditions (*)

1. Magento 2.2.5
2. (Tested on Magento Cloud platform)

### Steps to reproduce (*)

1. Create (or choose) a product with alphanumeric SKU (e.g. 12345A)
2. Make a call to ProductRepository->get('12345a') (i.e. the SKU but with the wrong case)

### Expected result (*)

1. Depending on required behaviour, either the product returned (case-insensitive) or a NoSuchEntityException

[2018-10-25 10:36] magento-engcom-team commented on #18803
Hi @karl-micesoft. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-25 10:41] ikk0 commented on #4247
@magento-engcom-team Any update on this issue? :) It is a critical issue that should be fixed in 2.3 in my opinion. Lots of people affected by this.

[2018-10-25 10:46] magento-engcom-team commented on #18803
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-25 10:56] ghost opened #18805 "fixed issue regarding referer url of compare page during adding product to wish list"
### Preconditions (*)

1. Magento version 2.2.6
2. Magento version 2.3 beta
3. PHP v7.2
4. Wish list module with sample data

### Steps to reproduce (*)

1. Add product to compare.
2. Goto compare page and then Add product to Wishlist. (https://user-images.githubusercontent.com/32056137/46980523-734eb080-d0f2-11e8-929d-49706fca6441.png)
3. On successful addition of product to wishlist, the page is

[2018-10-25 10:57] magento-engcom-team commented on #18805
Hi @ayazwebkul. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-25 10:57] ayazwebkul commented on #18805
@magento-engcom-team give me 2.2.6 instance

[2018-10-25 10:57] magento-engcom-team commented on #18805
Hi @ayazwebkul. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-25 10:58] karl-micesoft commented on #18803
Apologies, this appears to have already been raised in https://github.com/magento/magento2/issues/12073

I do find it a little odd that it's not been fixed in 2.2.5 when it was raised nearly a year ago and that issue indicates an even simpler fix than mine is in place (cast $sku through strtolower)

[2018-10-25 10:58] magento-engcom-team commented on #18805
Hi @ayazwebkul, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18805-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18805-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18805-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-25 11:00] Shubham-Webkul commented on #18803
#SQUASHTOBERFEST

[2018-10-25 11:00] magento-engcom-team commented on #18803
@Shubham-Webkul thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-25 11:01] Shubham-Webkul commented on #18803
@magento-engcom-team give me 2.2-develop instance

[2018-10-25 11:01] magento-engcom-team commented on #18803
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-10-25 11:01] magento-engcom-team commented on #18803
Hi @Shubham-Webkul, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18803-2-2-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18803-2-2-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18803-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-25 11:03] gulshan-streammarket commented on #8933
Is this issue fixed?

[2018-10-25 11:06] ayazwebkul commented on #18805
yes, I was able to reproduce issue on vanilla Magento instance following steps to reproduce.

[2018-10-25 11:09] MarcusWolschon commented on #8933
Not in 2.2.6

[2018-10-25 11:09] engcom-backlog-nazar commented on #18803
Hi @karl-micesoft, thank you for you report, I'm not able to reproduce your scenarion on 2.3-develop branch.
![selection_174](https://user-images.githubusercontent.com/40756439/47496497-9c441380-d85f-11e8-9a79-f9237fdb975f.png)

[2018-10-25 11:13] karl-micesoft commented on #18803
@engcom-backlog-nazar I am not using the 2.3-develop (or 2.2-develop) branch, but 2.2.5 (on a client site on the Magento Cloud platform) as specified above.

[2018-10-25 11:39] Smilefounder commented on #9497
Same issue with 2.2.6

[2018-10-25 11:39] engcom-backlog-nazar commented on #18803
@karl-micesoft seems like this fixed in 2.2 end 2.3 branches https://github.com/magento/magento2/commit/45da02260c989f088b4645307e4af42d9b944b00 , In my case sku -> '1234a' and '1234A' returns  the same product id

[2018-10-25 12:21] J-SM commented on #15115
issues occurs where the default billing address id and default shipping address id in the customer table do not actually match up to an address record as address record creation failed. this throws the "No such entity with address Id = ####" error on login / logout

to correct this a modification is need to public function execute in Magento\Persistent\Observer\EmulateCustomerObserver so that the

[2018-10-25 12:23] #18803 closed, assigned to nobody

[2018-10-25 12:28] magento-engcom-team commented on #18320
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-25 12:38] vpodorozh commented on #18387
@gwharton - all your images are processed correctly.
However, there is a problem with total images count calculation select statement here: https://github.com/magento/magento2/pull/18807/commits/6a6079dcde8068dbac8173699ae4450079ed3201#diff-1c09f9f539ac83d47bf95f4f1ef90457R78
Distinct by image path is not used in count(*).

I've fixed it my PR.

[2018-10-25 13:19] Shubham-Webkul commented on #18781
@Perzonallica I have checked this issue in 2.2-dev.It has been fixed.

[2018-10-25 13:19] #18781 closed, assigned to nobody

[2018-10-25 13:53] fingertips-solutions opened #18811 "Breadcrumbs not working on product page"
### Summary (*)
If you check single product page the breadcrumbs are not showing

### Examples (*)

### Proposed solution

[2018-10-25 13:53] magento-engcom-team commented on #18811
Hi @fingertips-solutions. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanill

[2018-10-25 14:01] kanduvisla commented on #10982
We just encountered this issue today in a Magento 2.2.6 shop which has been recently updaten from Magento 2.1.15. The order was placed in 2.1, but the credit memo was created in 2.2 (due to the passing of time).

We are unable to reproduce this issue on our dev-setup. Also, I cannot seem to find how you can create a credit memo from the invoice page. Is this feature removed in Magento 2.2?

[2018-10-25 14:02] engcom-backlog-nazar commented on #18320
Hi @surjan-singh  i'm not able to reproduce following steps you described, in my case i'm using this -> $this->_checkoutSession->getLastRealOrderId(); so i have all information about order, Let me know if  issue still exist.
Feel free to reopen the issue, if the problem still exist.

[2018-10-25 14:02] #18320 closed, assigned to nobody

[2018-10-25 14:06] NostiLoke commented on #18636
the cookies.js is also blocked in magento 1.9., but this doesn't break the checkout.
Is the cookies.js so important that therefore the "Magento_Checkout/js/view/minicart" component can't be loaded?
Blocking google analytics ends in the same issue: #12428
Sounds like an problem with handling the blocked components like described in similar posts mentioned above.

[2018-10-25 14:07] gwharton commented on #18387
Seems to be two issues here as if I do it on a clean 2.2-develop with sample data installed.
[code]
I'm willing to accept that there are two images in the pub/media folder that don't correspond to an entry in the database which exlpains the discrepancy between 723 and 725. 723 being the number of images correctly configured.

The images resize command wrongly calculates the total as 3422 which loo

[2018-10-25 14:19] DanielRuf commented on #18636
Yes it is a required dependency for other modules and to handle the cookies.
This is how requireJS works.

There might be (good) reasons why they added it to the blocklist.
In general I do not get this issue with the default setup of uBlock origin.

[2018-10-25 14:30] DanielRuf commented on #18636
Also see https://github.com/ryanbr/fanboy-adblock/issues/532

[2018-10-25 15:11] vpodorozh commented on #18387
@gwharton - thank you for your response and explanations.
I've developed the fix for 2.3-develop branch so I've not reproduced the second problem, which is actually critical.
WIll take a look at 2.2-develop branch on the next week.

[2018-10-25 16:09] ikrestov opened #18812 "Unable to update simple product custom option in cart when quantity is 1"
### Preconditions (*)

1. Magento CE 2.2.5, Updated(9/19/2019) **can be reproduced on 2.3**
2. Although reproduced in 2.2.2-2.2.4
3. Backorders disabled, minimum order qty is 1.
4. A simple product with at least one custom option, e.g. size - 1,2,3; price type fixed.

### Steps to reproduce (*)

1. Go to product page and select options and click add to cart. || _Update 9/19/2019_:  _**The quantity

[2018-10-25 16:09] magento-engcom-team commented on #18812
Hi @ikrestov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-25 16:15] ikrestov commented on #18812
@magento-engcom-team give me 2.2.5 instance

[2018-10-25 16:16] magento-engcom-team commented on #18812
Hi @ikrestov. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-10-25 16:16] magento-engcom-team commented on #18812
Hi @ikrestov, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18812-2-2-5/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18812-2-2-5//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18812-2-2-5//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-25 16:34] ikrestov commented on #18812
@magento-engcom-team
Reproduced.

![image](https://user-images.githubusercontent.com/1066322/47515981-1d110880-d87c-11e8-80ca-f5573be7c5d8.png)
![image](https://user-images.githubusercontent.com/1066322/47516005-2dc17e80-d87c-11e8-9f37-fc141bb122e9.png)
![image](https://user-images.githubusercontent.com/1066322/47516015-36b25000-d87c-11e8-97e1-7fc2df9ab5f1.png)

[2018-10-25 16:39] diegosucaria commented on #14038
Issue still persist in 2.2.6.

[2018-10-25 17:14] magento-engcom-team commented on #6092
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-25 17:14] vasilii-b commented on #6092
Hi @magento-engcom-team,
I'll have a look into this one. Thank you!

[2018-10-25 17:51] gewaechshaus commented on #18134
Confirmed, trying to fix.

[2018-10-25 18:14] rahulwebkul commented on #18779
@Franzld - i checked this and there is no issue. You need to have utf-8 encoding in the csv file.
I think you opened the translation csv file in some text editor, due to this encoding standard of file was changed.
Please check.

[2018-10-25 18:56] Franzld commented on #18779
Thanks for your answer!
I've checked it and the same issue appears. Both files ( de_DE.csv and send.phtml) are encode to utf-8

please try to replace in
 /vendor/magento/module-send-friend/view/frontend/templates/send.phtml at line 34
`__('Email')` to `__('E-mail')`
like this:
` <label for="recipients-email<%- data._index_ %>" class="label"><span><?= $block->escapeJs($block->escapeHtml(__('E-mail'

[2018-10-25 19:13] magento-engcom-team commented on #18616
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-10-25 19:13] michaelbakertup commented on #13954
Does anyone know if this is fixed in 2.2.6 ?

[2018-10-25 19:14] maheshWebkul721 commented on #18616
fixed in #18640 PL

[2018-10-25 19:41] siliconalchemy commented on #14038
Unfortunately I think this issue has disappeared into a black hole since it was assigned to the wrong person and the Event:dmcindia tag.  @magento-engcom-team, can this please be unassigned and looked at?

[2018-10-25 20:12] magento-engcom-team commented on #18150
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-10-25 20:21] SKovbel commented on #4506
2 ways
1. Duplicate each row with .min. in view.xml, exclude section
[code]
2. Fixing function isExcluded, ignore .min. suffix in comparasion
if ($excludedFilePath === $filePath || $excludedFilePath === str_replace('.min.js', '.js', $filePath)) {

[code]

[2018-10-25 20:35] magento-engcom-team commented on #18264
Hi @kanduvisla. Thank you for your report.
The issue has been fixed in magento/magento2#18737 by @kanduvisla in 2.2-develop branch
Related commit(s):
 - [36a3c26bd7492f4638fe02085156d2510687a34a](https://github.com/magento/magento2/commit/36a3c26bd7492f4638fe02085156d2510687a34a)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-25 20:35] #18264 closed, assigned to nobody

[2018-10-25 20:35] magento-engcom-team commented on #16939
Hi @matthew-muscat. Thank you for your report.
The issue has been fixed in magento/magento2#16940 by @matthew-muscat in 2.2-develop branch
Related commit(s):
 - [d79cfa9009034d8df1a37587ecbed2d62225d3d6](https://github.com/magento/magento2/commit/d79cfa9009034d8df1a37587ecbed2d62225d3d6)
 - [a9c483885aaa4f47fa8eb1b8174e10cd6f7b78dd](https://github.com/magento/magento2/commit/a9c483885aaa4f47fa8eb1

[2018-10-25 20:35] #16939 closed, assigned to nobody

[2018-10-25 20:46] maheshWebkul721 commented on #18150
fixed in #18815 PR

[2018-10-25 21:34] aledefreitas commented on #7514
Based off of @Sebastien-oxom response, I developed a *very dirty* fix for this problem while there is no fix published on this repository.

If anyone is interested the fix is as follows.

https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php#L2975-L2977
Add the following code after those lines:
[code]

[2018-10-25 21:51] justinharris1986 opened #18817 "If Elasticsearch throws an error, it appears the indexer stops and fails silently"
My OOP-fu is weak. I will attempt a patch at a later time, however, the community will be able to produce once faster than myself

### Preconditions
Magento version:
[code]
apache version:
[code]
PHP Version:
[code]
Elastic version:
[code]

### Steps to reproduce
1. Start a full re-index:
[code]
2. Have elesticsearch fail. In my particular case it was with a:
[code]
I am still tracking down what c

[2018-10-25 21:51] magento-engcom-team commented on #18817
Hi @justinharris1986. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-10-25 21:54] justinharris1986 commented on #18817
Yes I was able to re-produce this issue on a vanilla install. I did have to load a rather large catalog from the Magento 1 -> 2 migration tool to trigger the original issue though, that prompted this one.

[2018-10-25 23:34] oviliz commented on #14952
I can't believe this is still an issue in 2.2.6...

[2018-10-26 02:32] uandiweb opened #18819 "Using Multiple Filters in Layered Navigation May Lead to 0 Results"
### Preconditions (*)

Magento 2.2.5 (2.2.6 should also have the same issue)

### Steps to reproduce (*)

1. Visit the category page "Women" > "Tops": https://uandi.work/Luma/women/tops-women

2. Under the filter "Style" select "Insulated" and you should see in the results item name "Inez Full Zip Jacket" (SKU WJ07).

3. Clear the filter (you should see all products in the category again).

4. Und

[2018-10-26 02:32] magento-engcom-team commented on #18819
Hi @uandiweb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-26 03:18] gwharton commented on #14952
The worst part is 2.3.0 is going to launch with it too! Although it looks like I have finally got agreement on a way forward with the PR's. They're gonna be in 2.3.1 and possibly 2.2.7 depending on how quickly I can get em through.

[2018-10-26 03:45] aluusqull commented on #18734
I think Magento\Catalog\Model\Product\Image#getImageProcessor method should care about _isBaseFilePlaceholder flag.

The problem will be solved with below code.
(When _isBaseFilePlaceholder is true, use getBaseFile() value as filename.)

    if (!$this->_processor) {
        if ($this->_isBaseFilePlaceholder) {
           $filename = $this->getBaseFile();
        }
        else {
            $file

[2018-10-26 04:18] ryanwong123 commented on #9214
@giano574
I have faced the same issues and I solve it by using the Special Promotion Pro extension by Amasty
I set the action to apply "Fixed Discount: each 3-d, 6-th, 9-th with 15$ off"
Discount Amount: 10
Maximum Qty Discount is Applied To: 1
Each N-th: 1

Bases on above setting, only $10 dollar will be discounted.

Hope the solution helps you.

[2018-10-26 06:09] magento-engcom-team commented on #18742
Hi @prakashpatel07. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-10-26 06:12] pemann commented on #17813
Thanks @DrewML! I see how you handled it at: https://github.com/magento/magento2/commit/ed6995c7dfa5d35d57ec4f4df5a39b45b734b3bf

[2018-10-26 06:16] pemann commented on #8777
Is the solution part of 2.3?

[2018-10-26 06:33] Perzonallica commented on #18781
@Shubham-Webkul Hi! Can you please give me a link, or any info about this fix, I couldn't find it anywhere.  Thanks.

[2018-10-26 07:13] rahulwebkul commented on #18779
@Franzld - Yes, I am able to reproduced the issue even with UTF-8 encoding.

[2018-10-26 07:59] DanieliMi opened #18823 "Prefix dropdown in checkout doesn't select empty value by default if required"
### Preconditions (*)

1. Magento 2.2.6
2. Luma Theme

### Steps to reproduce (*)

1. In Admin Backend go to Stores > Configuration > Customers > Name and Address Options
2. Set "Show Prefix" to "Required"
3. Set "Prefix Dropdown Options" to ";Mr.;Mrs."
4. Save Config
5. Go to your store
6. Add a item to your cart
7. Go to checkout

### Expected result (*)

I expect the empty value in the prefix d

[2018-10-26 07:59] magento-engcom-team commented on #18823
Hi @DanieliMi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-26 08:14] DanieliMi commented on #18823
@magento-engcom-team give me 2.2.6 instance

[2018-10-26 08:14] magento-engcom-team commented on #18823
Hi @DanieliMi. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-26 08:14] magento-engcom-team commented on #18823
Hi @DanieliMi, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18823-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18823-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18823-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 08:18] PetmePant opened #18824 "Unable to retrive abandoned guest email"
### Summary (*)

We have the following issue on sending our abandoned emails to guest customers:

I tried to order with an unregistered account in order to test the abandoned emails if they are saved when I abandon an order and it seems that they are not saved and thus our abandoned emails cannot be send.

Moreover, when I abandon an order with a registered account the emails are saved and succesf

[2018-10-26 08:18] magento-engcom-team commented on #18824
Hi @PetmePant. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-26 08:19] DanieliMi commented on #18823
Yes i can confirm i was able to reproduce the problem.

[2018-10-26 08:32] PetmePant opened #18825 "Unable to retrieve abandoned guest email"
### Summary (*)

Magento CE 2.2.2 without sample data is installed.

I tried to order with an unregistered account in order to test the abandoned emails if they are saved when I abandon an order and it seems that they are not saved and thus our abandoned emails cannot be send.

While abandon an order with a registered account the emails are saved and successfully retrieved.

### Examples (*)

Foll

[2018-10-26 08:32] magento-engcom-team commented on #18825
Hi @PetmePant. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-26 08:33] #18824 closed, assigned to nobody

[2018-10-26 11:00] DaimPiek opened #18829 "'Manage shopping cart' page doesn't work when a product in the latest order no longer exists"
### Preconditions
1. Magento 2.2.2 EE (I suppose this issue can be reproduced in later versions as well)

### Steps to reproduce
1. Customer orders a product
2. Product is removed
3. Navigate to customer in backend and click 'Manage Shopping Cart'
4. Page doesn't load, response code 500. Following stack trace is visible in logs:

[code]

### Expected result
1. Page should be able to load and show

[2018-10-26 11:00] magento-engcom-team commented on #18829
Hi @DaimPiek. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-26 11:31] orlangur commented on #11268
Thanks @borey88!

[2018-10-26 12:07] #18779 closed, assigned to nobody

[2018-10-26 12:12] vseager commented on #11995
Do you know when this will be fixed? Nearly a year since this was raised now.

[2018-10-26 12:19] nghitrum commented on #7497
Still, have this problem in 2.2.5.

[2018-10-26 12:38] larsroettig commented on #18508
@magento-engcom-team give me 2.3 instance

[2018-10-26 12:39] larsroettig commented on #18508
@magento-engcom-team give me 2.3-develop instance

[2018-10-26 12:39] magento-engcom-team commented on #18508
Hi @larsroettig. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-26 12:39] magento-engcom-team commented on #18508
Hi @larsroettig, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18508-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18508-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18508-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 13:07] dmanners commented on #18553
Hi @peterjaap thanks for this report. I think this is a similar issue to https://github.com/magento-engcom/import-export-improvements/issues/47

[2018-10-26 13:38] #18526 closed, assigned to nilesh2jcommerce

[2018-10-26 13:45] maheshWebkul721 commented on #18323
#SQUASHTOBERFEST

[2018-10-26 13:46] magento-engcom-team commented on #18323
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-10-26 13:46] maheshWebkul721 commented on #18323
@magento-engcom-team give me 2.2-develop instance

[2018-10-26 13:46] magento-engcom-team commented on #18323
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-10-26 13:47] magento-engcom-team commented on #18323
Hi @maheshWebkul721, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18323-2-2-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18323-2-2-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18323-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 13:48] AlekosDordas commented on #16074
Did you continue your investigation? Any news on the issue?

[2018-10-26 14:26] squeegy06 opened #18838 "Duplicate order confirmation emails when checking out with PayPal Express"
### Preconditions (*)
Magento 2.2.5

### Steps to reproduce (*)
1. Configure Paypal Express as a payment option.
2. Add items to cart and proceed to checkout as guest or logged in.
3. Use paypal express as the payment method and complete order.
4. Observe email.

### Expected result (*)
I expected to receive a single order confirmation email.

### Actual result (*)
I receive 2 order confirmation e

[2018-10-26 15:36] yagator commented on #17813
#mm18mx

[2018-10-26 15:36] magento-engcom-team commented on #17813
@yagator thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-26 15:36] magento-engcom-team commented on #17813
Hi @yagator. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-10-26 15:40] paco44 commented on #18256
#Mm18mx

[2018-10-26 15:40] magento-engcom-team commented on #18256
@paco44 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-26 15:41] magento-engcom-team commented on #18256
Hi @paco44. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2018-10-26 15:42] paco44 commented on #18256
@magento-engcom-team give me 2.3-develop instance

[2018-10-26 15:42] magento-engcom-team commented on #18256
Hi @paco44. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-26 15:42] magento-engcom-team commented on #18256
Hi @paco44, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18256-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18256-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18256-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 15:54] 1ebedev commented on #10234
Seems that issue also take place in [sample-module-payment-gateway](https://github.com/magento/magento2-samples/tree/master/sample-module-payment-gateway).
So, any updates?

[2018-10-26 15:54] yagator commented on #17813
@magento-engcom-team give me 2.3-develop instance

[2018-10-26 15:54] magento-engcom-team commented on #17813
Hi @yagator. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-26 15:54] magento-engcom-team commented on #17813
Hi @yagator, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17813-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17813-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17813-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 15:56] gloriadg20 commented on #17865
#mm18mx

[2018-10-26 15:56] magento-engcom-team commented on #17865
@gloriadg20 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-26 15:57] ingbeltran commented on #18195
#mmx18mx

[2018-10-26 15:58] gloriadg20 commented on #17865
@magento-engcom-team give me 2.3-develop instance

[2018-10-26 15:58] magento-engcom-team commented on #17865
Hi @gloriadg20. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-26 15:58] magento-engcom-team commented on #17865
Hi @gloriadg20, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17865-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17865-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17865-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 16:09] AlexNeri00 commented on #17784
#mm18mx

[2018-10-26 16:10] magento-engcom-team commented on #17784
@AlexNeri00 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-26 16:10] ingbeltran commented on #18195
@magento-engcom-team give me 2.3-develop instance

[2018-10-26 16:10] magento-engcom-team commented on #18195
Hi @ingbeltran. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-26 16:10] magento-engcom-team commented on #18195
Hi @ingbeltran, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18195-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18195-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18195-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 16:12] magento-engcom-team commented on #17784
Hi @AlexNeri00. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-10-26 16:14] AlexNeri00 commented on #17784
@magento-engcom-team give me 2.3-develop instance

[2018-10-26 16:14] magento-engcom-team commented on #17784
Hi @AlexNeri00. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-26 16:15] magento-engcom-team commented on #17784
Hi @AlexNeri00, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17784-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17784-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17784-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 16:17] anujwebkul commented on #18618
#SQUASHTOBERFEST

[2018-10-26 16:17] magento-engcom-team commented on #18618
@anujwebkul thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-26 16:17] rahulwebkul commented on #18779
#SQUASHTOBERFEST

[2018-10-26 16:18] magento-engcom-team commented on #18618
Hi @anujwebkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-10-26 16:19] magento-engcom-team commented on #18779
Hi @rahulwebkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-10-26 16:29] ankit-sf opened #18839 "can't import external http to https redirecting images by default csv import"
### Preconditions (*)

1. Magento 2.1.7
2. or any later version

### Steps to reproduce (*)

1. use csv import for products, use http image with redirection to https with 302 status.
ex. http://midwest-wholesale-staging.cloud.akeneo.com/bundles/pimui/images/info-user.png
2. it shows error

### Expected result (*)

1. Image should be imported in magento2 and added to product

### Actual result (*)

[2018-10-26 16:29] magento-engcom-team commented on #18839
Hi @ankit-sf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-26 16:34] ankit-sf commented on #18839
@magento-engcom-team give me 2.1.7 instance

[2018-10-26 16:34] magento-engcom-team commented on #18839
Hi @ankit-sf. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2018-10-26 16:34] ankit-sf commented on #18839
@magento-engcom-team give me 2.2.3 instance

[2018-10-26 16:34] magento-engcom-team commented on #18839
Hi @ankit-sf. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-10-26 16:35] magento-engcom-team commented on #18839
Hi @ankit-sf, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18839-2-2-3/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18839-2-2-3//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18839-2-2-3//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 16:39] irving0mar commented on #17759
#mm18mx

[2018-10-26 16:39] magento-engcom-team commented on #17759
@irving0mar thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-26 16:56] victor-ruiz commented on #18683
##MM18MX

[2018-10-26 16:56] magento-engcom-team commented on #18683
@victor-ruiz thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-26 16:59] magento-engcom-team commented on #18683
Hi @victor-ruiz. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-10-26 17:03] Rus0 commented on #6731
MM18MX

[2018-10-26 17:04] magento-engcom-team commented on #6731
Hi @Rus0. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Detail

[2018-10-26 17:05] Usuario001 commented on #14992
#mm18mx

[2018-10-26 17:05] magento-engcom-team commented on #14992
@Usuario001 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-26 17:08] ankit-sf commented on #18839
yes issue replicated with following csv data:

[code]

[2018-10-26 17:17] victor-ruiz commented on #18683
@magento-engcom-team give me 2.3-develop instance

[2018-10-26 17:17] magento-engcom-team commented on #18683
Hi @victor-ruiz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-26 17:17] magento-engcom-team commented on #18683
Hi @victor-ruiz, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18683-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18683-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18683-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 17:18] AlexNeri00 commented on #17784
@magento-engcom-team give me 2.2-develop instance

[2018-10-26 17:18] magento-engcom-team commented on #17784
Hi @AlexNeri00. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-10-26 17:19] Usuario001 commented on #14992
@magento-engcom-team give me 2.1.12  instance

[2018-10-26 17:19] magento-engcom-team commented on #14992
Hi @Usuario001. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2018-10-26 17:19] magento-engcom-team commented on #17784
Hi @AlexNeri00, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17784-2-2-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17784-2-2-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17784-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 17:20] Usuario001 commented on #14992
@magento-engcom-team give me 2.1.12  instance

[2018-10-26 17:20] magento-engcom-team commented on #14992
Hi @Usuario001. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2018-10-26 17:22] Usuario001 commented on #14992
@magento-engcom-team give me 2.2.6 instance

[2018-10-26 17:22] magento-engcom-team commented on #14992
Hi @Usuario001. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-26 17:29] Usuario001 commented on #14992
@magento-engcom-team give me 2.3-develop instance

[2018-10-26 17:29] magento-engcom-team commented on #14992
Hi @Usuario001. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-26 17:29] magento-engcom-team commented on #14992
Hi @Usuario001, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-14992-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-14992-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-14992-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 17:29] paco44 commented on #18555
@magento-engcom-team give me 2.3-develop instance

[2018-10-26 17:29] magento-engcom-team commented on #18555
Hi @paco44. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-26 17:30] magento-engcom-team commented on #18555
Hi @paco44, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18555-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18555-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18555-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 17:36] magento-engcom-team commented on #18555
Hi @paco44. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-10-26 17:49] okorshenko opened #18840 "Invalid Unit Test Annotations"
### Preconditions (*)
1. Checkout latest 2.3-develop branch.

### Steps to reproduce (*)
1. Find the following list of annotations in the unit tests:
[code]

### Expected result (*)
1. Unit tests annotations related to exception message validation are fixed to use proper annotation: `@expectedExceptionMessage` according to [official documentation](https://phpunit.de/manual/6.5/en/appendixes.annota

[2018-10-26 17:49] magento-engcom-team commented on #18840
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-26 17:51] magento-engcom-team commented on #18840
@okorshenko Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95946`, `MAGETWO-95947` were created

[2018-10-26 17:57] mirkocesaro commented on #13954
@michaelbakertup the issue is still there

[2018-10-26 18:02] paco44 commented on #18555
@magento-engcom-team give me 2.2.6-develop instance

[2018-10-26 18:02] magento-engcom-team commented on #18555
Hi @paco44. Thank you for your request. I'm working on Magento 2.2.6-develop instance for you

[2018-10-26 18:03] magento-engcom-team commented on #17759
Hi @irving0mar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-10-26 18:07] paco44 opened #18841 ""Invalid Form Key. Please refresh the page." message appears when a product is added to wishlist"
### Preconditions (*)

Magento 2.3

### Steps to reproduce (*)

1.Navigate to any configurable product page on the frontend.

2.Select the options and add the product to wishlist.

### Expected result (*)

1. Product added to wishlist

### Actual result (*)

Message appears "Invalid Form Key. Please refresh the page."
![captura de pantalla 2018-10-26 a la s 13 05 06](https://user-images.githubuser

[2018-10-26 18:07] magento-engcom-team commented on #18841
Hi @paco44. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-26 19:12] davidalger opened #18842 "Magento 2.3.0 breaks use of composers --no-dev flag used in production deployments"
### Preconditions (*)

1. Install Magento 2.3.0-beta23
2. Use the `--no-dev` flag during composer install
3. Subsequent calls to `bin/magento setup:di:compile` will fail

### Steps to reproduce (*)

1. Run following procedures. Note the first DI compile succeeds, and the one following the install with `--no-dev` fails with a fatal error:

[code]

### Expected result

1. The popular capistrano-mage

[2018-10-26 19:12] magento-engcom-team commented on #18842
Hi @davidalger. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-26 19:14] davidalger commented on #18842
@magento-engcom-team There is no way to reproduce this in the test instance as it is dependent on having access to the CLI. Please see exact commands above and let me know if any further information is needed to get this resolved before 2.3 hits GA. Thanks!

[2018-10-26 19:49] Shubham-Webkul commented on #18082
#SQUASHTOBERFEST

[2018-10-26 20:22] Mor10Mort opened #18845 "sample link"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2018-10-26 20:38] okorshenko commented on #18840
#mm18mx

[2018-10-26 20:41] Mor10Mort opened #18847 "Cant delete the sample link"
### Preconditions (*)

1. Magento ver. 2.2.6
2.

### Steps to reproduce (*)

1. Created a "sample link" for a "Downloadable product"
2. I try to delete the "sample link", but upon saving, the link keeps reappearing (both in front and backend (of the product)

### Expected result (*)

1. I expected that the sample link would be deleted from backend and on product page.
2.

### Actual result (*)

1.

[2018-10-26 20:41] magento-engcom-team commented on #18847
Hi @Mor10Mort. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-26 21:04] ingbeltran commented on #18195
@magento-engcom-team give me 2.3-develop instance

[2018-10-26 21:04] magento-engcom-team commented on #18195
Hi @ingbeltran. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-26 21:04] magento-engcom-team commented on #18195
Hi @ingbeltran, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18195-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18195-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18195-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-26 21:08] Shubham-Webkul commented on #18847
#SQUASHTOBERFEST

[2018-10-26 21:49] Rus0 commented on #16221
MM18MX

[2018-10-26 21:49] magento-engcom-team commented on #16221
Hi @Rus0. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid des

[2018-10-26 21:49] Rus0 commented on #16221
#MM18MX

[2018-10-26 23:07] magento-engcom-team commented on #18688
Hi @wiardvanrij. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-10-26 23:14] wiardvanrij commented on #18688
1. Use magento2.3 development branche
2. Content -> Design -> Configuration -> edit any Default Store View
3. Other Settings -> Header -> try to upload a favicon or logo

With the change of "fileuploader" to "imageuploader" the correct formElement was not updated to match the new "imageuploader".

Created PR.

[2018-10-26 23:16] magento-engcom-team commented on #18688
@wiardvanrij Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` a

[2018-10-26 23:17] magento-engcom-team commented on #18688
@wiardvanrij Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` a

[2018-10-27 00:30] magento-engcom-team commented on #13320
Hi @jasonevans1. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-10-27 00:46] jasonevans1 commented on #13320
I have created a pull request to `magento/zendframework1` to update the valid TLD list. https://github.com/magento/zf1/pull/20

[2018-10-27 05:00] magento-engcom-team commented on #15060
Hi @Mayur1510. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-27 05:15] magento-engcom-team commented on #16446
Hi @ravi-chandra3197. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><su

[2018-10-27 05:44] magento-engcom-team commented on #18823
Hi @hardik-krish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-10-27 06:02] rahulwebkul commented on #15273
#SQUASHTOBERFEST

[2018-10-27 06:03] magento-engcom-team commented on #15273
Hi @rahulwebkul. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-10-27 06:13] magento-engcom-team commented on #18032
Hi @ketan-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-10-27 06:28] magento-engcom-team commented on #17447
Hi @janakbhimani. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-10-27 06:28] saphaljha opened #18854 "Downloadable products - Downloadable Information - Link design issue"
### Preconditions (*)

1. Magento 2.3-develop
2. PHP 7.1.22

### Steps to reproduce (*)

1. Create new downloadable product
2. Go to "**Downloadable Information**"  tab > Click on "**Add link**" button for **Links** and **Samples** as well, You will see the table header will be messy.

### Expected result (*)

1.
![expected-download-products-inventory-catalog-magento-admin](https://user-images.git

[2018-10-27 06:28] magento-engcom-team commented on #18854
Hi @saphaljha. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-27 06:29] krnshah commented on #12183
Hi @jignesh26

I am also working on this issue. please let me know if you found anything.

[2018-10-27 06:29] magento-engcom-team commented on #18854
Hi @speedy008. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-10-27 06:48] abrarpathan19 opened #18855 "Design issue in backend align calendar icons"
### Preconditions (*)

1. Magento Version 2.3.x
2.

### Steps to reproduce (*)

1. Go to Magento admin, Catalog -> Products, edit one of the product
2. You are able to see the Set Product as New From calendar icons are

### Expected result (*)

1.  Please review the attached screenshot, calendar icons should display properly align
2.

### Actual result (*)

1. Calendar icons are not aligned proper

[2018-10-27 06:48] magento-engcom-team commented on #18855
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-27 06:56] hiren0241 commented on #18847
@magento-engcom-team give me 2.2.6 instance

[2018-10-27 06:56] magento-engcom-team commented on #18847
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-27 06:57] magento-engcom-team commented on #18847
Hi @hiren0241, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18847-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18847-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18847-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-27 06:58] #18855 closed, assigned to abrarpathan19

[2018-10-27 07:13] hiren0241 commented on #18847
@magento-engcom-team Presently, I am unable to reproduce this issue on magento instance and my local system as well.

[2018-10-27 07:13] magento-engcom-team commented on #17895
Hi @prakashpatel07. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-10-27 07:28] magento-engcom-team commented on #18812
Hi @ayazwebkul, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18812-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18812-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18812-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-27 07:37] khodu commented on #17341
I have tried to reproduce this issue in 2.2.5 but issue is fixed in 2.2.5

[2018-10-27 07:42] somat211 commented on #17746
Hello Team,
I am working on this.

[2018-10-27 09:06] RishabhRkRai commented on #18742
@prakashpatel07 This issue has been solved now. I Go through the admin configurations and do this from there.

Here is what I do:

- Change the Sort Order and Priority of each Rule.
- Change the configuration **Store > Configuration > Sales > Tax > Orders, Invoices, Credit Memos Display Settings > Display Full Tax Summary** to **Yes**

And now the tax breakup is showing perfectly.

[2018-10-27 09:06] #18742 closed, assigned to prakashpatel07

[2018-10-27 09:41] magento-engcom-team commented on #15420
Hi @ketan-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-10-27 09:49] hardik-krish commented on #18823
Yes i am also able to reproduce this issue. Same things working fine in customer registration area.

[2018-10-27 10:00] ayazwebkul commented on #18812
Adding more to the issue reproduction:
The issue can be generated if the product stock quantity is equal to the quantity in cart and then we try to update the cart options, we are getting the error message as We don't have as many "test  product" as you requested.
Also, this is not related to qty 1 in stock, it can be reproduced with 50 qty in stock and then adding 50 qty in cart and then editing

[2018-10-27 10:16] sidolov commented on #17954
Hi @matin73. Thank you for your report.
The issue has been fixed in magento/magento2#18795 by @janakbhimani in 2.3-develop branch
Related commit(s):
 - [6e9d5e5fcda4ce91ef25559bb946c8e52e777148](https://github.com/magento/magento2/commit/6e9d5e5fcda4ce91ef25559bb946c8e52e777148)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-27 10:16] sidolov commented on #15259
Hi @Detzler. Thank you for your report.
The issue has been fixed in magento/magento2#18782 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [6862c04ece31c29d41be7ac65005e9bdf7c24490](https://github.com/magento/magento2/commit/6862c04ece31c29d41be7ac65005e9bdf7c24490)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-27 10:16] sidolov commented on #18357
Hi @michelecanal. Thank you for your report.
The issue has been fixed in magento/magento2#18771 by @TomashKhamlai in 2.3-develop branch
Related commit(s):
 - [3cba00c951e0df4c843085ab761b9b97c2e3471b](https://github.com/magento/magento2/commit/3cba00c951e0df4c843085ab761b9b97c2e3471b)
 - [86e035f3ba615cb5e1bb3ff0e4821b82a57fe7fe](https://github.com/magento/magento2/commit/86e035f3ba615cb5e1bb3ff0e

[2018-10-27 10:17] sidolov commented on #4468
Hi @kandrejevs. Thank you for your report.
The issue has been fixed in magento/magento2#18714 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [0a253644a43f39d8ab40701011512534f4fc34bb](https://github.com/magento/magento2/commit/0a253644a43f39d8ab40701011512534f4fc34bb)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-27 10:17] sidolov commented on #5021
Hi @vphat28. Thank you for your report.
The issue has been fixed in magento/magento2#18689 by @idziakjakub in 2.3-develop branch
Related commit(s):
 - [9688034346f5b322b9767ab6af5c8163e67b28ac](https://github.com/magento/magento2/commit/9688034346f5b322b9767ab6af5c8163e67b28ac)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-27 10:17] sidolov commented on #13083
Hi @rzinnatullin. Thank you for your report.
The issue has been fixed in magento/magento2#18720 by @pmclain in 2.3-develop branch
Related commit(s):
 - [ed6a2fba850caa5e2402663fee133d4f56545200](https://github.com/magento/magento2/commit/ed6a2fba850caa5e2402663fee133d4f56545200)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-27 10:17] sidolov commented on #18357
Hi @michelecanal. Thank you for your report.
The issue has been fixed in magento/magento2#18412 by @pocallaghan in 2.3-develop branch
Related commit(s):
 - [2bee3660f183af1439b111557b3b958b3c812b25](https://github.com/magento/magento2/commit/2bee3660f183af1439b111557b3b958b3c812b25)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-27 10:17] sidolov commented on #17485
Hi @wittyvishwas. Thank you for your report.
The issue has been fixed in magento/magento2#18704 by @pmclain in 2.3-develop branch
Related commit(s):
 - [7584f715e27ec3fb6d7dcf6511999f27466e35ae](https://github.com/magento/magento2/commit/7584f715e27ec3fb6d7dcf6511999f27466e35ae)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-27 10:17] sidolov commented on #17744
Hi @navarr. Thank you for your report.
The issue has been fixed in magento/magento2#18095 by @LucasCalazans in 2.3-develop branch
Related commit(s):
 - [a44eb5dd5fd2a95f79b617a480b9221704495887](https://github.com/magento/magento2/commit/a44eb5dd5fd2a95f79b617a480b9221704495887)
 - [0890139741aa73a06f81223e0793c0994e171f4d](https://github.com/magento/magento2/commit/0890139741aa73a06f81223e0793c09

[2018-10-27 10:17] sidolov commented on #17865
Hi @LouNik1984. Thank you for your report.
The issue has been fixed in magento/magento2#18639 by @ravi-chandra3197 in 2.3-develop branch
Related commit(s):
 - [499cdd7ed72a0f323fdda61399fe75b1c6e75a25](https://github.com/magento/magento2/commit/499cdd7ed72a0f323fdda61399fe75b1c6e75a25)
 - [a9bc411deaecd93be411a3bc8c8da003b2e31298](https://github.com/magento/magento2/commit/a9bc411deaecd93be411a3bc

[2018-10-27 10:17] sidolov commented on #10205
Hi @sazzle2611. Thank you for your report.
The issue has been fixed in magento/magento2#18622 by @lewisvoncken in 2.3-develop branch
Related commit(s):
 - [42ecb9c78de2ebb4c1c475b2ef2e286faded0b5f](https://github.com/magento/magento2/commit/42ecb9c78de2ebb4c1c475b2ef2e286faded0b5f)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-27 10:17] sidolov commented on #18268
Hi @kanduvisla. Thank you for your report.
The issue has been fixed in magento/magento2#18631 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [e30a12e6bf954763662f68f5eec87d2cbc2e93dd](https://github.com/magento/magento2/commit/e30a12e6bf954763662f68f5eec87d2cbc2e93dd)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-27 10:17] sidolov commented on #18775
Hi @saphaljha. Thank you for your report.
The issue has been fixed in magento/magento2#18790 by @ashutoshwebkul in 2.3-develop branch
Related commit(s):
 - [6bb825873812cff3ab77d71f1f3542d40aae2b85](https://github.com/magento/magento2/commit/6bb825873812cff3ab77d71f1f3542d40aae2b85)

The fix will be available with the upcoming 2.3.1 release.