[2016-11-07 12:27] veloraven commented on #5176
@plewandowski is this issue still actual?

[2016-11-07 12:35] veloraven commented on #5680
@moloughlin is this issue still actual?
Please  refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) with questions as GitHub issue tracker is intended for technical issues only.

[2016-11-07 12:36] sevos1984 commented on #6465
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-07 12:36] #6465 closed, assigned to sevos1984

[2016-11-07 12:36] veloraven commented on #5683
@bartek9007 is this issue still actual?
If it is please describe detailed steps, actual result and expected result.
If it is not, please close it.
If it is more question than an issue please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) as GitHub issue tracker is intended for technical issues only.

[2016-11-07 12:38] veloraven commented on #5689
@devhn thank you for your feedback.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-11-07 12:39] veloraven commented on #5790
@adnan-jamil is this issue still actual?
If it is please describe detailed steps, actual result and expected result according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).
If it is not, please close it.
If it is more question than an issue please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange

[2016-11-07 12:43] sevos1984 commented on #4841
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-07 12:43] #4841 closed, assigned to nobody

[2016-11-07 12:46] veloraven commented on #5949
@resmivarghese is this issue still actual?
If it is please format it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If it is just a question and not an issue please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://mage

[2016-11-07 12:48] gabriel-sf commented on #7312
@joni-jones can you provide the link on where the fix for this issue is located? I cant seem to find this

[2016-11-07 12:50] veloraven commented on #6110
@duongquyet please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-07 12:50] rganin commented on #7334
Thanks for reporting. Internal ticket created MAGETWO-60587.

[2016-11-07 12:52] veloraven commented on #6188
@AlfredoGH please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. As the GitHub issue tracker is intended for technical issues only.

[2016-11-07 12:52] #6188 closed, assigned to nobody

[2016-11-07 12:53] SerhiyShkolyarenko commented on #7038
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-07 12:53] #7038 closed, assigned to nobody

[2016-11-07 12:54] sergiojovanig commented on #6929
I can confirm this bug in Magento 2.1.2.

Following what @kociiide said I configured customer addresses to have only 1 line. After this, NEW customers can place order, but existing not.

Looking for a fix...

[2016-11-07 12:54] SerhiyShkolyarenko commented on #6817
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-07 12:56] SerhiyShkolyarenko commented on #6439
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-07 12:56] #6439 closed, assigned to SerhiyShkolyarenko

[2016-11-07 12:56] SerhiyShkolyarenko commented on #4589
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-07 12:56] #4589 closed, assigned to SerhiyShkolyarenko

[2016-11-07 12:58] paales commented on #5160
@veloraven Yes, this issue is still actual. I've updated the original issue to follow the issue reporting guidelines.

[2016-11-07 13:06] SerhiyShkolyarenko commented on #6246
I figured out that the fix is delivered to develop branch squashed with some other fixes. Please, look at 9666070bd190a1095e3c776b4f2a0f4f8bcac497. Fix of this issue is in code/Magento/Checkout/Model/GuestPaymentInformationManagement.php and code/Magento/Checkout/Model/PaymentInformationManagement.php

I'll be glad if you give a feedback if it works for you or not.

[2016-11-07 13:11] YevSent commented on #7312
@gabriel-sf, the `token metadata` was reworked and doesn't use anymore.

The fix affects few classes in the [Vault](https://github.com/magento/magento2/tree/develop/app/code/Magento/Vault) module. The main changes were done in `\Magento\Vault\Observer\PaymentTokenAssigner` and `\Magento\Vault\Model\Method\Vault`.

[2016-11-07 13:11] andreaschiffo commented on #7286
@shinichi2510 have you controlled the following?
-that the shipping method is really enabled on the website you're using
-that the table shipping_tablerate is populated
-that in shipping methods configuration (stores-config-sales-shipping methods), if you select your website (not 'default') and export the csv, the csv file is not empty

[2016-11-07 13:15] chi07 commented on #7286
Thanks. I followed all steps. Please help me check. Thanks
On Mon, 7 Nov 2016 at 20:12, andreaschiffo notifications@github.com wrote:

[2016-11-07 13:21] viktym commented on #7159
Hi @vishveskrish
We've created internal ticket MAGETWO-60589 to address this issue.
Thanks for reporting

[2016-11-07 13:32] gabriel-sf commented on #7312
@joni-jones so how do I update this files? Do I just update them directly in the vendor folder?

I just tried doing that and I still get the same error when connecting through the REST API

[2016-11-07 13:47] tirgil61 opened #7340 "Unable to add a new shipping-address in the checkout process."
If i try to add a new shipping address in the checkout process, there is this error:
**Error occurred during "shipping_address" processing. Error occurred during "save_in_address_book" processing. Invalid type for value: "1". Expected Type: "int".**

### Preconditions

1. Environment: Magento 2.1.2 without sample data is installed, PHP Version 7.0.7, mysql56

### Steps to reproduce

1. Create a ne

[2016-11-07 13:53] wojtekn commented on #1917
@veloraven it's still not fixed, both methods accept different sets of arguments.

Expected result is to have both methods accepting mapped properties or to have both methods accepting not mapped properties. It is confusing that "add" and "update" methods accept arguments in two different format.

Assuming that currently there may exist huge amount of code relying on this (community extensions and

[2016-11-07 13:57] veloraven commented on #1580
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed.
If you can still reproduce this issue, please create a new GitHub issue report according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce,

[2016-11-07 13:57] #1580 closed

[2016-11-07 13:58] veloraven commented on #2383
@mc388 is this issue still actual?

[2016-11-07 13:59] yariksheptykin commented on #7119
@piotrekkaminski , alright, sorry about that.

[2016-11-07 14:00] veloraven commented on #5821
@ludwig-gramberg is this issue still actual?
If it is please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. As GitHub issue tracker is intended for technical issues only.
if it is not please close this issue.

[2016-11-07 14:02] andidhouse commented on #7313
@kunzi did you use the official data migration tool for migrating the products or did you create the products new?

[2016-11-07 14:07] ludwig-gramberg commented on #5821
well, it's a lack of documentation, which magento provides on its website. so this is a request to complete the documentation for this common use case.

[2016-11-07 14:10] marvincaspar commented on #2383
no

[2016-11-07 14:10] #2383 closed

[2016-11-07 14:17] vincenzo84 commented on #7340
Hello everyone,
I also get the same problem, to be more precise I am attaching the post request parameters:

{"addressInformation":
{"shipping_address":
{"countryId":"IT","regionId":"571","regionCode":"NA","region":"Napoli","street":["testq"],"company":"","telephone":"123465","postcode":"80058","city":"napoli","firstname":"Test","lastname":"Test","vatId":"","save_in_address_book":true},
"billing_a

[2016-11-07 14:20] olysenko commented on #7217
@hezide With comma fix applied I can save new template based on your steps to reproduce.

Please provide full template content which you cannot save

[2016-11-07 14:24] AlessandroStaffolani opened #7341 "Magento2: model cart do not load quote items on home page"
I create my custom theme with some custom module, on home page I tried to get all cart items (from quote) to create my custom mini cart, this is my block:

    <?php

    namespace <Vendor>\<Module>\Block;

    class Cart extends \Magento\Checkout\Block\Cart
    {

        public function __construct(
            \Magento\Framework\View\Element\Template\Context $context,
            \Magento\Custo

[2016-11-07 14:33] renepenner opened #7342 "GiftMessage is_available is not a bool if you using "USE_CONFIG" in Backend"
If the Store Backend Setting for "GiftMessage allow" is set to false and on a Product level is set to "use config" ... the GiftMessage Option is displayed in frontend.

### Preconditions
1.  GiftMessage Allow is set to "no" in Backend in general context.

### Steps to reproduce
1. Set the Option GiftMessage Allow to "use config" on a Product.
2. Put the Product into the cart in frontend.
3. Go to

[2016-11-07 14:36] CNanninga commented on #2210
This is still a valid feature request, yes.  Architecturally, the solution could take any number of paths, but the HTML for a product list is still output in a single loop in a template, without any additional hook points, so it's still a challenge to find an unobtrusive way to inject additional content in a product list.

[2016-11-07 14:38] YevSent commented on #7312
You shouldn't change files in the vendor directory. You can use develop branch or wait for 2.1.3, because changes also require some migration for old orders.

[2016-11-07 14:42] bardkalbakk opened #7343 "requirejs-config random context generation"
The requirejs-config.js generation in Magento\Framework\RequireJs\Config is not generating content in a consistent way.

1. requirejs-config.js found in the "secure" folder in frontend/vendor/theme/lang/secure is generated on the first cache miss, and is generated in the current store context. If module output is disabled for some stores you will experience random result based on the first store t

[2016-11-07 14:50] dsentker commented on #1691
I solved the problem with the following steps:
1. Using sql query `update eav_attribute set is_required=0 where attribute_code='telephone';`
2. Modified Magento\Sales\Model\Order\Address\Validator::validateForCustomer()
3. Modified Magento\Customer\Model\ResourceModel\AddressRepository::_validate()
4. Modified Magento\Customer\Model\Address\AbstractAddress::validate()

I think this approach is a t

[2016-11-07 14:52] diegoalex90123 commented on #5802
![capture](https://cloud.githubusercontent.com/assets/23315630/20061925/d2ea5202-a4cf-11e6-9dca-0f55ba918c5e.JPG)

Same issue, doesn´t matter if trying to update a existing product or creating a new one, image attached.

[2016-11-07 14:56] yuklia commented on #5728
I have the same issue

{
  "message": "Cannot save product.",
  "trace": "#0 [internal function]: Magento\Catalog\Model\Product\Gallery\GalleryManagement->create('Test-Simple-99', Object(Magento\Catalog\Model\Product\Gallery\Entry))\n#1 /var/www/vendor/magento/module-webapi/Controller/Rest.php(307): call_user_func_array(Array, Array)\n#2 /var/www/vendor/magento/module-webapi/Controller/Rest.php(21

[2016-11-07 15:03] BaDos commented on #4965
Hi, @grasdaggel!

Thank you for your feedback.

Cannot reproduce this issue on 2.0.7 and latest 2.0.10 version.
Do you have the same issue with some Magento module, for example, Magento_Sitemap?
Please, provide module.xml from your module.

[2016-11-07 15:25] #7215 closed, assigned to nobody

[2016-11-07 15:36] olysenko commented on #7270
Hi, thank you for your report. Internal issue was created MAGETWO-60597

[2016-11-07 15:39] SerhiyShkolyarenko commented on #7186
@dcabrejasazagra @Loxzibit @studiotwentyeleven is a Varnish obligatory for reproducing?

[2016-11-07 15:49] CallumBrankin commented on #4546
Added module, spinning-wheel.

[2016-11-07 16:00] diegoalex90123 commented on #5779
I have reported same behavior in ticket #5802 any help will be very appreciated.

[2016-11-07 16:09] DreLincolin commented on #7178
Update on this - might help in solving

So the root of this issue seem to be some configuration error
So lets say you had a store or configured it, so that same product in different categories have the same URL, like it was possible in Magento 1.
Then on save it tries to save multiple records with same URL key to same store.
So the path would show the same either if you try to do it from Category1

[2016-11-07 16:21] hezide commented on #7217
[code]

[2016-11-07 16:22] DreLincolin commented on #7178
But the Image path not updating is still present. if you get an error for any reason in your Create method - then the cached image path doesnt get updated, which wont let you continue with your save

[2016-11-07 16:38] BaDos commented on #6185
Hi, sma09sjb!

Do you have the same issue on the latest version?
Cannot reproduce on 2.1.2.

[2016-11-07 16:38] olysenko commented on #2913
Hi, this issue is not reproducible(fixed) on develop branch. For now it is all update

[2016-11-07 16:39] kunzi commented on #7313
We imported some product data with UB data migration tool. It seems that the problem is related to that. Have to somehow fix the rewrites and hope the problem does not appear again.

[2016-11-07 16:44] olysenko commented on #7274
Hi, Thank you for your report. Internal issue was created MAGETWO-60602

[2016-11-07 16:46] andidhouse commented on #7313
I think the problem is still related to the import not to the UB data migration tool. We migrated products using the official data migration tool from magento and have the same issue. Seems like the import bug of products and URLs is still not solved 👎 ... now reported one year ago...

But you can try to export the product urls and import them again using the normal import / export magento tool. T

[2016-11-07 16:49] BaDos commented on #5653
Hi, @flecxie!

Thank you for your feedback.

Please, provide more detailed information about your environment.
Write list of installed php extensions.

[2016-11-07 16:55] ghost commented on #5272
running php bin/magento setup:static-content:deploy it_IT but that is generating errors on the files that are missing and causing a 404

[2016-11-07 17:05] andreaschiffo commented on #7286
did _bin/magento module:enable_ and _setup:upgrade_ work fine, with no errors?
have you checked the error log (_[MagentoDir]/var/log/exception.log_) and the apache/webserver log?
have you configured the weight attribute in your products?
if you haven't got any details on the issue then i dont know i'm sorry...

im using M 2.0.9, and Table Rates is correctly being displayed on frontend, but i'm fin

[2016-11-07 17:23] wigman commented on #2913
Hello @olysenko,

I don't exactly get what you are saying. Is the problem solved in develop branch? I'm currently running Magento CE 2.1.2 in development mode and encounter the same problem.

[2016-11-07 17:30] progcode commented on #5272
use `php bin/magento setup:static-content:deploy` it is regenerate all files

[2016-11-07 17:40] olysenko commented on #7258
Hi , thank you for your reporting. Sorry I cannot reproduce issue. Please, provide information which service you used to update product with attribute and request body content

[2016-11-07 17:43] olysenko commented on #2913
@wigman Yes this problem is solved in develop branch, but not in 2.1

[2016-11-07 17:45] ghost commented on #5272
as stated above @progcode it is not regenerating the files and it gets errors on the files that are missing causing 404s.

[2016-11-07 17:52] progcode commented on #5272
@rosandrest I think this is a custom issue, what's the error message?

[2016-11-07 18:01] dthampy commented on #7249
@kanduvisla , can you check if the solution/fix from #5548 resolves your issue?

[2016-11-07 19:24] TheNavigat commented on #7028
@BaDos This is freaky... I'm almost sure I debugged this when this problem happened and that was the fix and indeed that was the way we fixed it, by assigning only the required privileges...

I'm not sure what's wrong, but I think you're right. I'm very sorry I wasted your time. I think this issue should be closed.

[2016-11-07 19:24] #7028 closed, assigned to BaDos

[2016-11-07 19:41] dthampy commented on #7122
@sneha-sukumaran , did you try the fix from #6121 and can you update if it resolved your issue?
Thanks.

[2016-11-07 21:03] sshymko commented on #5876
Having the same (or similar) problem: relations to simple products won't import for configurable product when store view is specified in the CSV file.

@AzVo Any updates on the core fix?

[2016-11-07 21:04] dthampy commented on #6985
MAGETWO-60613 is created internally to track this issue.

[2016-11-07 21:59] brideo commented on #3412
https://github.com/magento/magento2/blob/develop/app/code/Magento/Backend/Controller/Adminhtml/Index.php#L22

Appears to be.

[2016-11-07 23:09] dthampy commented on #7080
Thank you for your bug report. Internal ticket MAGETWO-60619 is created to track this.

[2016-11-07 23:39] ooples commented on #5762
I'm having this issue as well on magento 2.1.2

[2016-11-07 23:59] markalston commented on #5570
Looking for any update on this issue. This really breaks our site as we sell about a hundred items in fractional amounts.

[2016-11-08 00:35] Ctucker9233 commented on #3063
@ajpevers Thanks

[2016-11-08 00:41] btjackson11 commented on #7223
@alena-marchenko an update: we have disabled all our extensions minus the Authorize.net extension and reverted the theme back to Lora (effectively starting with a fresh install of Magento) and still had this problem persist.

[2016-11-08 00:50] SchumacherFM commented on #1691
Same here. We will discuss later this year if we should rely on Magento2 for the next projects.

We have too man issues with M2 which costs us so much money. At least wait until Nov 2018 when M1 is not supported anymore, maybe then M2 gets out of its alpha phase.

[2016-11-08 00:51] Ctucker9233 commented on #6474
@joni-jones any commit references?

[2016-11-08 00:58] Ctucker9233 commented on #6866
@Igloczek I have no doubt they will release it in some up coming patch or upgrade. I don't work for Magento so I don't really know. I assumed you needed a quick fix and that's the only method I know. Sorry for misunderstanding.

[2016-11-08 01:16] Ctucker9233 commented on #6904
@sevos1984 Is this only a 2.0 problem?

[2016-11-08 01:19] jehzlau commented on #3333
Currently using Magento 2.1.2, but still bug isn't fixed yet.

[2016-11-08 04:38] #5790 closed, assigned to nobody

[2016-11-08 04:44] tobias-forkel commented on #6296
Thanks @phirunson I was able to fix the issue in Magento CE 2.1.1 as follows:
- 1. Create extension `Company_Paypal` to rewrite a model
- 2. Rewrite `app/code/Company/Paypal/Model/Express/Checkout.php`
- 3. Extend from `\Magento\Paypal\Model\Express\Checkout`

[code]
- 4. Copy method `place` from `/vendor/magento/module-paypal/Model/Express/Checkout.php`
- 5. Replace `$this->_quote->collectTotals(

[2016-11-08 06:26] adnan-jamil commented on #3600
I'm getting response

[2016-11-08 06:26] adnan-jamil commented on #3600
I'm getting below response{
  "message": "Consumer is not authorized to access %resources",
  "parameters": {
    "resources": "Magento_Sales::sales"
  }
}

[2016-11-08 06:29] adnan-jamil commented on #3600
@DonatelloNguyen, i'm getting this below response when try to get index.php/rest/V1/orders after getting token from this API index.php/rest/V1/integration/admin/token.

{
  "message": "Consumer is not authorized to access %resources",
  "parameters": {
    "resources": "Magento_Sales::sales"
  }
}

[2016-11-08 06:45] vishveskrish commented on #7159
Hi @viktym , Thank you for the response!
Could you please provide the ETA for the resolution of this issue ?

Thanks,

[2016-11-08 06:54] slopukhov commented on #5461
@kalpeshchavada thank you for your feedback,
Please, recheck it on the latest 2.1 version of Magento with configured cron job.

[2016-11-08 06:57] kalpeshchavada commented on #5461
Thank you

I will check.

On 8 Nov 2016 12:25, "Stanislav Lopukhov" notifications@github.com wrote:

[2016-11-08 07:08] slopukhov commented on #5461
For information.
I checked update from 2.0.last up to 2.1.last version (composer update and magento setup:upgrade) and this bug is not reproduced.

But if you will have this bug - please attach the update log.
Thanks.

[2016-11-08 07:09] kalpeshchavada commented on #5461
Sure..

Thank you so much for reply.

On 8 Nov 2016 12:39, "Stanislav Lopukhov" notifications@github.com wrote:

[2016-11-08 07:30] ghost commented on #4841
it seems fine in 2.1.2

[2016-11-08 08:25] slopukhov commented on #5317
@webartistse thank you for your feedback.
Internal issue created: MAGETWO-60628

[2016-11-08 08:39] slopukhov commented on #5416
@Krapulat thank you for your feedback,
Please, recheck it on the latest 2.1 version of Magento with configured cron job.

[2016-11-08 08:45] veloraven commented on #5329
@grasdaggel is this issue still actual?
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
As GitHub issue tracker is intended for technical issues only.

[2016-11-08 08:46] veloraven commented on #5315
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-08 08:46] #5315 closed, assigned to nobody

[2016-11-08 08:53] irenelagno commented on #6781
@tcytra , I wasn't able to reproduce this issue on 2.1.2 V1/products/12345/?fields=name,sku,extension_attributes[category_links,stock_item[item_id,qty]]" returns information about "stock_item".
"category_links" information don't return on 2.1.2 version, but this has been already fixed for current develop branch
Looks like you product doesn't have stock data, so API call returns null in extension_a

[2016-11-08 09:00] wigman commented on #2913
@olysenko ok, great. would you happen to know the commit where it was fixed? That way I can cook up a patch. Thanks a lot!

[2016-11-08 09:01] slackerzz commented on #7231
@hostep your module works well
However this is a major flaw in the official frontend dev workflow

[2016-11-08 09:01] Tristan-N opened #7346 "Same Category URL not allowed despite Multiple Stores"
When running 4 different websites in the same installation, we have the same category in 3 of the 4 shops. Like, when running a shop that needs to look premium, a regular store and a budget store with all a category called Category A. All 3 of the category needs to get the same SEO URL Key, in this case category-a which results in premium.com/category-a, regular.com/category-a and budget.com/categ

[2016-11-08 09:04] veloraven commented on #5217
@Pigau is this issue still actual?
If it is and you think it to be an issue please format it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If it was just a question please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](htt

[2016-11-08 09:10] veloraven commented on #3214
Magento does not support the operating system you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html).

[2016-11-08 09:13] flipflap opened #7347 "Strange things on PNG product image upload (Magento 2.1.1"
### Preconditions
1. Magento 2.1.1

### Steps to reproduce

1. In product page uploading PNG photos fails, no error, nothing happen.
2. If add a JPG file first, same PNG Files can be uploaded
3. They work on product page but not in thumb views on catalog list

### Expected result

1. PNG upload should work without JPG upload first
2. Images should appear as thumbs

Here is a sample image:
(https:/

[2016-11-08 09:16] veloraven commented on #7044
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-08 09:16] #7044 closed, assigned to nobody

[2016-11-08 09:23] veloraven commented on #3243
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-08 09:23] #3243 closed, assigned to nobody

[2016-11-08 09:45] BaDos commented on #6768
Hi, @ClaudiuCreanga!

Thank you for your feedback.
Internal ticket `MAGETWO-60631` was created.

[2016-11-08 10:08] SerhiyShkolyarenko commented on #5533
Fix is delivered to the develop branch in scope of MAGETWO-59962. Closing the issue.

[2016-11-08 10:08] #5533 closed, assigned to SerhiyShkolyarenko

[2016-11-08 10:16] BaDos commented on #6766
Hi, @magenx

Thank you for your feedback!
Internal ticket `MAGETWO-60633` was created.

[2016-11-08 10:41] 12impress commented on #6904
No, We are now at 2.1.2 and have the same problems..... There is no solution untill now.

[2016-11-08 10:41] BaDos commented on #5908
Hi, guys!
Thank you for your feedbacks.

We have the internal ticket `MAGETWO-46636` with the same issue.

[2016-11-08 10:41] PascalBrouwers commented on #5851
@sevos1984
Seems like a duplicate of https://github.com/magento/magento2/issues/6261
Can you close this one? 6261 has more information on how to solve this.

[2016-11-08 11:23] bacd commented on #2666
configurable products are not displaying ..i am using this cvs file
[Book2.xlsx](https://github.com/magento/magento2/files/577992/Book2.xlsx)

[2016-11-08 11:32] JDavidVR commented on #7347
Can you upload images you are testing with

[2016-11-08 11:39] flipflap commented on #7347
I added an image. The problem with the thumb is solved. It needed to be activated in the image details to become thumb.

[2016-11-08 11:55] rganin commented on #7316
Did you create new attribute by implementing new class with AddressInterface?

[2016-11-08 12:08] rzinnatullin commented on #6411
Seems like the same issue here. But... are you sure you are talking about 'Custom Attribute'? In my case, Custom Attribute doesn't get affected, but Custom Attribute **Value** is deleted from customer_address_entity_varchar table.
Magento 2.1.2

[2016-11-08 13:19] samgranger commented on #7303
Thanks for the additional information fowbi, hopefully Magento will sort this issue out with your fix.

[2016-11-08 13:22] juhanix commented on #7341
I 'm having the same issue that getQuote()->getAllVisibleItems() is always empty, if I try to use it in my custom module.
Makes no difference if I implement Magento/Checkout/Model/Cart inside my Custom Module or if I try to use ObjectManagerInstance. If I go to <magento-base-url>/checkout/cart I see that I definitely have items in my cart.
BTW: Same empty results while using Magento/Checkout/Model

[2016-11-08 13:25] Januszpl opened #7348 "Magento 2 removes html element from email templates if it has a class with display: none"
### Preconditions

1.  Magento 2.1

### Steps to reproduce

1. Add new custom email template in admin panel

[code]

2. add  in _email-extended.less
[code]

4. check if both elements element exist in the preview (before remove cache/view_preproccessed in /var)

### Expected result

1. I should see in source
[code]

### Actual result

1. But I see only div with class show-me
[code]

[2016-11-08 13:31] kunzi commented on #7313
Tried this with one product.

Exporting all products and importing with only sku and url removed the extra .html, but presented another problem and product list in admin showed an unknown error and did not list any products. Tried then to remove the product via import and import all data again for that product. That resulted the .html.html problem again, but admin product list worked again...

Als

[2016-11-08 13:46] BaDos commented on #6641
@samuellinde thank you for your report.

Cannot reproduce it.

How did you install Magento (via composer or git)?
What extension did you try to install?
Do you have the same issue for other extensions?

[2016-11-08 13:47] andreymoskvenkov commented on #4544
NodeJS is already required deployment tool of Magento 2 projects, because PHP LESS complier does not compile Javascript parts of LESS code, which is allowed by LESS documentation. So another words: Magento 2 LESS compiler does NOT compile LESS. The only one tool, which compiles LESS is - "grunt less" task, which uses NodeJS.

[2016-11-08 14:02] veloraven commented on #6094
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-08 14:02] #6094 closed, assigned to nobody

[2016-11-08 14:03] veloraven commented on #6160
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-08 14:03] #6160 closed, assigned to nobody

[2016-11-08 14:04] veloraven commented on #6966
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-08 14:04] #6966 closed, assigned to eug123

[2016-11-08 14:22] barbanet opened #7349 "Edit default store view will stop saying that Default store cannot be disabled"
### Preconditions

1. Default installation of Magento CE 2.1.2 without sample data (without any data yet), installed using composer.
2. PHP 5.6.27.
3. Mysql 5.6.33.

### Steps to reproduce

1. In order to add a new store view for another language, edit the default sotre view and change the name from "Default Store View" to "English"
2. Save your change.

### Expected result

1. Store view name sho

[2016-11-08 14:24] comdiler opened #7350 "Product export duplicate rows for product with html special chars in data"
### Preconditions
1. Tag 2.1.2

### Steps to reproduce

1. Open admin panel
2. Edit any product
3. Add description that has quotes " or any other html special char
4. Save Product
5. Go to System - Export - Products
6. Export products

### Expected result
1. Product will be exported only once
<img width="672" alt="screen shot 2016-11-08 at 15 19 48" src="https://cloud.githubusercontent.com/assets/

[2016-11-08 14:39] PieterCappelle opened #7351 "Display HTML tags in messageManager messages"
### Preconditions
1. Default Magento installation 2.1.2
2. Install Sample Data
3. No plugins or extensions

### Steps to reproduce
1. Create language module
2. Add the following line to your CSV file (like en_GB.csv)
3. `"You added %1 to your shopping cart.","You added %1 to your shopping cart. <em>OKAY</em>",module,Magento_Checkout`
4. Clear cache (if enabled)
5. Add product to your basket in the

[2016-11-08 15:08] KalaiarasanSeetharaman commented on #4868
We are using magento 2.0.6 . It is present in live . Checkout page is very slow . Why it is very slow when compared to magento 1 . Magento 2 is slow. How to optimize for checkout page . I have enabled cache system also , other optimization in backend also i did . But still slow for magento 2 checkout page it take arround 2 min more

[2016-11-08 15:18] rganin commented on #7348
Thanks for reporting. The issue is caused by emogrifier library.
Internal ticket created: MAGETWO-60669

[2016-11-08 15:21] BaDos commented on #6621
Hi @aarondong2005

How many repositories are there in composer.json?
Do you have some errors in browser console?

[2016-11-08 15:25] dankocrama commented on #4409
i just check on magento 2.1.2 and i have the same issue is there a update for this ticket ?

[2016-11-08 15:36] koenner01 opened #7353 "Crosssells are never shown when using product/list/items.phtml template"
If you try to add the crosssells block anywhere in the layout and use the product/list/items.phtml template, you will never see any output.

### Preconditions
1. PHP7.0
2. Magento 2.1.2

### Steps to reproduce
1. Add crosssells block to product detail
[code]
2. output the childHtml on the frontend

### Expected result
1. Show crosssells on product detail

### Actual result
1. No crosssells are sho

[2016-11-08 15:37] sajidunnar commented on #760
Hello

I am on Magneto 2.1.2 and facing same issue , like if we update products by mass update or even single it dont change updated_at in db

[2016-11-08 15:46] tkacheva commented on #7224
@thdoan Thanks for reporting the issue. Do you use FPC?

[2016-11-08 15:54] dsentker commented on #1691
Is there any possibility to see the current roadmap for M2? I have a lot of requests for this at http://mehr-medialeitwerk.de/ .

[2016-11-08 15:57] AntonEvers opened #7354 "Target rules are broken since 2.1 (entity_id to row_id change)"
### Preconditions

1. Magento version 2.1.2 (EE)

### Steps to reproduce

1. Create a target rule (related products) with these 'products to display' conditions:
2. Create an attribute called Model of type text and use it for catalog rules (make sure it is also present in the flat tables)
2.1. If ALL  of these conditions are TRUE :
2.2. Product Type  is  Constant Value  Configurable Product
2.3. P

[2016-11-08 16:06] springimport commented on #6059
I have same problem. See https://github.com/magento/magento2/issues/7253

[2016-11-08 16:10] yuklia opened #7355 "Magento 2.1 REST API Add options to configurable product"
1. Magento v2.1.2
2. php 7

### Steps to reproduce
1. Create configurable product
2. Assign options (simple products) via configurableProductOptionRepositoryV1
[code]
### Expected result
[code]

### Actual result
There is no   "value_index" attribute in values

[code]

[2016-11-08 16:12] springimport commented on #7253
I solved the problem moved my blocks inside the category.products block and now I can move the product_list_toolbar within the category.products where I want.

[2016-11-08 16:16] veloraven commented on #7282
@ksz2013 thank you for your feedback.
If it is a question please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site. As GitHub issue tracker is intended for technical issues only.
If you think it to be an issue please add expected result and actual result to the description according to the [Issue reporting guideli

[2016-11-08 16:18] joshdavenport commented on #4850
My team and I have been struggling with this issue for the last week and we believe we've found a reliable route to reproducing this issues. It's a very tricky issue which has some very odd nuances. After I've written up a bug report, should I add it here or create a new issue? Present on 2.1

[2016-11-08 16:18] kanduvisla opened #7356 "M2.1.2 : Impossible to create an `after` interceptor when files are being downloaded by controllers"
### Preconditions
Magento - develop branch
Take the `\Magento\Sales\Controller\Adminhtml\Shipment\PrintAction` controller for example. This has an `execute()`-method which triggers a downloading to the browser.

Now if you want to do something after this event with a plugin, you're out of luck. Since this controller uses `\Magento\Framework\App\Response\Http\FileFactory::create()` to print the PDF

[2016-11-08 16:22] sam-g-roberts opened #7357 "2.1.2 - Product page gallery image not visible until swipe or zoom on IOS"
Magento ver. 2.1.2

On an IOS device go to a product page that contains an image in the fotorama gallery.

Expected result would be the image for the product in the fotorama gallery box.

Instead the box is blank white until you either click the box to zoom or swipe at which point the image appears.

I've tested this on IOS mobile (ios 10.1.1) and Tablet (9.3.5) on my local website which is a them

[2016-11-08 16:26] alexber88 opened #7358 "Bug with product images on category page and in admin product grid"
Bug with product images
### Preconditions
1. Magento 2.1.2 EE
2. PHP 5.6

### Steps to reproduce
1. Create multiple store views (for instance Netherlands and France)
2. Make Netherlands as default store view
3. Disable English store view
4. Go to admin panel and create new product with selected store view "All store views" and uploaded image
5. Check that product image is appeared in DB in catalog

[2016-11-08 16:37] markwilson opened #7359 "Password reset as admin on behalf of customer uses incorrect configuration prefix"
### Preconditions
1. Magento CE 2.1.2
2. No value for `admin/security/password_reset_protection_type` (defaults to 1 - `ResetMethod::OPTION_BY_IP_AND_EMAIL`)

### Steps to reproduce
1. Set `customer/password/password_reset_protection_type` to `0` - i.e. no reset protection for customers
2. Log in as an admin user
3. Find and edit a customer
4. Click "Reset Password" more than once

### Expected re

[2016-11-08 16:41] veloraven commented on #7311
@rhodimus thank you for your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-11-08 16:44] tkacheva commented on #7231
@slackerzz  Thanks for reporting that. Internal issue MAGETWO-60689

[2016-11-08 16:47] SerhiyShkolyarenko commented on #6988
@ankursachdeva11 thank you for reporting the issue. Our internal one is MAGETWO-60692(for develop branch).

[2016-11-08 16:50] dthampy commented on #7099
Internal ticket : MAGETWO-60691

[2016-11-08 16:57] Fairlight60 opened #7360 "Plugin not working for ShippingMethodManagement and GuestShippingMethodManagement classes"
I'm trying to add a plugin to the following classes to intercept the customer shipping address :

- \Magento\Quote\Model\ShippingMethodManagement
- \Magento\Quote\Model\GuestCart\GuestShippingMethodManagement

My plugin declaration, classes, paths, etc. all seem correct but the plugin is not kicking in.

These shipping method management classes are called by Magento when the checkout page is loade

[2016-11-08 17:00] astorm commented on #4159
Just a note for people coming along after the fact -- [per this comment](https://github.com/magento/magento2/issues/4159#issuecomment-232372120), the underlying issue remains in the latest versions of Magento.  This specific issue was closed when the original poster decided Magento wasn't going to address it.

[2016-11-08 17:07] dthampy commented on #7013
Internal ticket to track this : MAGETWO-60694

[2016-11-08 17:12] jameshalsall commented on #5332
This is indeed still an issue in 2.1.2.

For us we have a promo code that gives free shipping for specific products. Apply the promo code when the basket contains a valid product for that coupon, and then remove the product. If you look at the `quote` table's `free_shipping` value it remains as `1` instead of being set back to `0`.

[2016-11-08 17:20] andimov commented on #4850
@joshdavenport
Please create a new issue according to the [issue reporting guideline](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-11-08 18:20] #7360 closed, assigned to nobody

[2016-11-08 18:21] ghost opened #7361 "Attributes are unordered if simple product is added to configurable through add products manually link"
### Preconditions
1. Magento 2.1.2 PHP 5.6

### Steps to reproduce
1. Take a configurable product that already exists with a simple product that associated to it and one simple product that is not associated with it. You can just unassociate a simple product from it to see the same effect. To see the error make sure you unassociate or select a simple product that would be out of order if added in

[2016-11-08 18:26] Fairlight60 commented on #7360
So sorry about this, the module for my plugin was not enabled... :-|

[2016-11-08 18:28] valenciaisaza opened #7362 "Special price vigency for configurable childs (simple products associated) doesn´t work"
Special price vigency for configurable child´s (simple products associated) doesn´t work

### Preconditions
1. Magento 2.1.2
2. PHP 7.0.11

### Steps to reproduce
1. Create configurable product (I created a  color-configurable).
2. Create his childs with different colors.
3. Assign a Special price for one of teh simple´s, with the lower price of all.
4. Put the vigency with both dates in past.

##

[2016-11-08 18:46] rganin commented on #7348
@Januszpl if you are creating a mobile-friendly template I can suggest to use `@media` directive for all inline styles including default as a quick workaround until the issue fix is delivered, like:

[code]

Or at least for css classes that are responsive for visibility.

[2016-11-08 18:59] gabs77 opened #7363 "translation data load after price-box.js"
### Preconditions
Magento 2.1
The translation-js load after some javascript.

### Steps to reproduce

1. I override the price-box.js like following method :  app/design/frontend/vendor/package/Magento_Catalog/web/js/price-box.js
2. i add in define array the following line :
    'mage/translate'
3.  in reloaPrice function, i add the following line :
var regexResult = $.mage.__('$1$2.$3');
and i add

[2016-11-08 19:23] frankthoeny opened #7364 "Very STRANGE on XAMPP"
I followed the installation process to the T.  Completes the browser install with success. Now, going to Admin control panel, there are 32 errors in the Chrome console.<F12> All links are broken, images missing, CSS is missing, JS is missing. Does not compile correctly on Windows 10 running XAMPP server. IS this a limitation of Windows 280 character path limitation? After all, I have installed it

[2016-11-08 19:45] jameswithers opened #7365 "Dependency injection converting object to array"
### Preconditions
1. `di.xml`
[code]

2.  `Product.php`:
[code]

### Steps to reproduce
Run command from `bin/magento`

### Expected result
`var_dump` of `Magento\Catalog\Api\ProductRepositoryInterface\Proxy` object:
[code]

### Actual result
[code]

Magento is converting the object into an array with those values. When I change `di.xml` to:

[code]
Magento creates the object this time, inside the

[2016-11-08 20:04] thlassche commented on #4868
@SchumacherFM  @ishakhsuvarov @pynej I fixed this by adding a layout processor plugin. It checks whether the default payment methods of Magento are enabled or not, and if they are disabled it removes them from the JS layout. Dramatically reducing the page load of the checkout page

di.xml:

[code]

CheckoutLayoutProcessor.php:

[code]

[2016-11-08 20:33] luongduy commented on #3507
I'm having the same problem when accessing the Url corresponding to the following layout file (an empty one) (Magento 2.1.2):

[code]

system.log:

[code]

[2016-11-08 20:34] daniel-ifrim commented on #5762
The error is no longer showing up on category or product page.
When Mview enabled/indexer set to Update by Schedule:
on product page, there is the configurable option associated with the simple product out of stock.
And if I select it it won't show Out of Stock status in price box.
If I add it to cart it will tell 'You need to choose options for your item.'.
I wasn't looking forward to debug Magen

[2016-11-08 21:09] crantron commented on #7364
You need to: build static assets, permissions and user roles are correct. This is should be closed, for it's user error.

[2016-11-08 21:11] Laura021 commented on #4737
I did @DevManav solution and @ajpevers with out success.  Not using font-awesome .

I am using CE ver. 2.0.7

Any news?  :(

[2016-11-08 21:39] GuidoHub opened #7366 "Error after deleting website: Exception #0 (Magento\Framework\Exception\NoSuchEntityException): No such entity."
### Preconditions
1.  Magento 2.1.2
2. PHP 7.0.x
3. MySQL 5.6
4, Running in developer mode

### Steps to reproduce

1. Create multiple websites that use the same store and different store view
2. Delete one of the websites
3.

### Expected result

1. I would expect that the website would be deleted and I would return to the Stores page.

### Actual result

1. [Screenshot, logs]
Getting the followi

[2016-11-08 21:52] dmitrisol opened #7367 "Magento2 multi-store price-per-website: Wrong price indexed for configurable products"
I have a multi-website Magento 2.1.0 CE installation, with 2 websites and different prices per-website. Prices are note related to each other, for the same product across the two websites.

In product listing pages (PLP), I keep seeing "as low as $55.55" for configurable prices, along with the correct prices, in non-default website 2, even though prices have been set correctly, all configurable ch

[2016-11-08 22:16] designbyadrian commented on #1458
Does anyone know what the minimum amount of blocks you need to add to make this work?

[2016-11-08 23:45] ghost opened #7368 "M2.1.2 - Inserting Image through WYSIWYG Drops HTML in Wrong Field"
### Preconditions

1. Magento CE 2.1.2
2. PHP 7.0.8+
3. MySQL 5.6+
4. Globally set WYSIWYG to not display by default.

### Steps to reproduce

1. Open up any product/page.
2. Find the "Description" field.
3. Click on "Show Editor" to see WYSIWYG.
4. Click on "Select Image" button.
5. Follow process to insert image into WYSIWYG (or upload new image and select that one).

### Expected result

1. Ima

[2016-11-08 23:53] sajidunnar commented on #5570
Hello

any status ?

[2016-11-09 00:02] frankthoeny commented on #7364
" You need to: build static assets, permissions and user roles are correct. This is should be closed, for it's user error. "
What do you mean it's user error?
Can you give me a clue on what to do?

[2016-11-09 00:06] frankthoeny commented on #7364
I followed all the steps on this link
https://www.cloudways.com/blog/how-to-install-magento-2-on-localhost/

[2016-11-09 00:12] frankthoeny commented on #7364
On command-line when I use composer update this never asked me for Username and Password. And I had to update the repository from https://packages.magento.com to https://repo.magento.com

Makes me think Magento is a hack. Otherwise, why do I need to update and change things before I even install Magento on my XAMPP server. I asked for help from someone. This is not closed

[2016-11-09 01:27] wenpingguo opened #7369 "Colour swatches are being deleted and re-arrangeed after they have been created"
### Preconditions

1. Can reproduced in a fresh installed 2.1.1 and 2.1.2

### Steps to reproduce

1. Create 9 new swatches with colour code and save
2. Delete top 2 colour swatches of the 9 and save
3. create 2 new colour swatches with colour code and save

### Expected result

1. add two new colour swatches in the last with correct watches colour code
2. other swatches will not be affected

###

[2016-11-09 01:39] caseyjonesaustralia commented on #4737
Same issue here. 2.1.2

[2016-11-09 02:30] pantaoran opened #7370 "nginx sample config breaks caching (expires headers missing)"
### Preconditions
Magento 2.1.0 running on PHP-fpm 7.0.12 with Nginx 1.10.1

### Steps to reproduce
1. Use the provided [nginx sample config](https://github.com/magento/magento2/blob/develop/nginx.conf.sample) with minimal changes to make it work in a specific environment
2. Load any frontend page in Chrome and inspect a request to a static resource (an image or js file served from pub/static) in

[2016-11-09 02:59] eldonbite opened #7371 "Wrong price upon selecting product options after switching currency"
Encountered an issue when selecting product options using the swatches in product details page wherein the price of the item in a previously selected currency gets displayed instead of the corresponding price in the currently selected currency. Disabling Block HTML cache type seems to prevent this issue from happening.

### Preconditions
1. Magento 2.1.x
2. Store supports multiple currencies
3. Al

[2016-11-09 03:01] eldonbite commented on #6746
Hi @SerhiyShkolyarenko,

I created an issue for the problem described above:

#7371 Wrong price upon selecting product options after switching currency

Thanks and regards,
Eldon

[2016-11-09 03:43] duyleekun commented on #4487
2.0.5 here. Happened when reupload the product and choose Add/Update behavior

[2016-11-09 04:54] candia opened #7372 "Product images gets removed from "Images And Videos" after validation alert."
When adding a new product with an image, if a validation error occurs when trying to save the prodcut, the images gets removed from the "Images And Videos" section. If you fix the validation conflict and try to save the product again, an error will occur with "The file "/home/user/www/pub/media/tmp/catalog/product/o/r/pic.png" doesn't exist or not a file"

**Preconditions**

1. Magento CE 2.1.2
2.

[2016-11-09 05:09] caseyjonesaustralia commented on #7173
Same issue here v2.1.2
Can anyone provide a quick fix for this prior to the next release?

[2016-11-09 07:19] rzinnatullin commented on #6411
In my case the reproduction steps are the same as @marcoreni described, but instead of resaving a customer I do this:

[code]

To workaround the issue I put `$addr->setAttributeSetId(2)` before `$addr->save()`

[2016-11-09 08:29] AntonEvers commented on #7354
I think you also should know that bugs like these withhold us from rolling out 2.1 to our clients and keep us on 2.0 for stability. For instance https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogRule/etc/mview.xml also mentions entity_id columns in the eav attribute tables. Those columns don't exist anymore and have become row_id. when I see things like these I wonder what e

[2016-11-09 08:52] kanduvisla opened #7373 "M2.1.2 : url_key saved incorrect on multistore setup"
I have a Magento installation, but when I try to change the URL key of a category, it only gets changed for the latter store.

# Steps to reproduce

- Setup Magento 2.1.2
- Create 2 store views (in my case this was dutch and german)
- Create a category and save it
- Change the URL key of the category

# Expected result

- That the URL key is changed for all stores

# Actual result

- The URL key i

[2016-11-09 08:53] petterkj commented on #6470
This is quite important issue. The "Database and Media Backup" does not work atm. It seems just like a "System backup".

[2016-11-09 08:55] deepak-netwin opened #7374 "Magento2: Show price on bundle option summary"
I want to show selected bundle options price in the summary block at right. By default, it only shows the selected option from the bundle product. Thanks.

[2016-11-09 09:24] birchestx commented on #4187
This needs re-opening and resolving. At the moment you only support countries with regions. Its pretty clear bug and affecting all UK magento 2 installs.

[2016-11-09 09:44] johnhughes1984 commented on #4187
We've come across this issue too (we're UK based) and needs addressing as @wsakaren has said

[2016-11-09 09:48] Jaap-Jan opened #7375 "Support Varnish cache flushing through management interface"
As it currently stands, Magento 2 flushes the Varnish cache by performing a HTTP PURGE request.

This makes Magento 2 and Varnish unsuitable for use on a shared hosting environment where every user has their own Varnish instance, since everyone can connect to this port and thus flush the cache of every other user.

In Magento 1 (with the Turpentine extension), the cache is flushed through the mana

[2016-11-09 09:50] yuklia commented on #7355
vendor/magento/module-configurable-product/Helper/Product/Options/Loader.php

[code]

[2016-11-09 09:52] cscd98 commented on #7375
Need this 👍

[2016-11-09 10:26] petterkj commented on #5762
Just experienced this issue.

I have a custom cronjob. The cronjob is responsible for looping through all the products and generate a feed. This issue `Configurable product "321" does not have sub-products` was the result of the cronjob. Meaning the cronjob terminated, and the feed was not created.

[2016-11-09 10:34] rganin commented on #2574
Fixed under MAGETWO-47017 ticket.

[2016-11-09 10:34] #2574 closed, assigned to nobody

[2016-11-09 10:34] rganin commented on #5882
Fixed under MAGETWO-47017 ticket.

[2016-11-09 10:34] #5882 closed, assigned to nobody

[2016-11-09 10:34] rganin commented on #6572
Fixed under MAGETWO-47017 ticket.

[2016-11-09 10:34] #6572 closed, assigned to nobody

[2016-11-09 10:34] rganin commented on #5558
Fixed under MAGETWO-47017 ticket.

[2016-11-09 10:34] #5558 closed, assigned to nobody

[2016-11-09 10:34] rganin commented on #4184
Fixed under MAGETWO-47017 ticket.

[2016-11-09 10:34] #4184 closed, assigned to tanya-soroka

[2016-11-09 10:35] rganin commented on #4446
Fixed in 4f807b1.

[2016-11-09 10:35] #4446 closed, assigned to heyitsroberthe

[2016-11-09 10:38] thlassche commented on #6999
@paales Your proposed check was not sufficient. I opened a pull request (#7376) for this.

[2016-11-09 10:43] thlassche commented on #6850
@kandy @redboxmarcins This is already fixed in: 7368be9586caa11b23000e26701b65a9df3e2e38

Jira ticket: MAGETWO-59240

[2016-11-09 11:42] vasilii-b commented on #7374
@deepak-netwin  I guess what you want is a new feature, not a magento 2 bug/issue.

[2016-11-09 11:58] thlassche commented on #7364
It is a user error. When magento is in production mode static assets are not generated on the fly. You used an incomplete guide, please look at the official resources.

Most probably you just need to executed:

[code]

[2016-11-09 12:00] veloraven commented on #7323
@ferrarinim thank you for your report.
Was it clear install or upgrade from some previous version?
Could you please describe your environment: versions of MySQL, web server used and OS?
Do I understand correct that this issue happens from time to time only and you can create configuration on the second try? If it is can you provide more specific steps when it happens and when it does not.
Also as

[2016-11-09 12:02] veloraven commented on #7324
@ferrarinim thank you for your feedback.
We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](

[2016-11-09 12:03] veloraven commented on #7326
@VijaySankhat thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-11-09 12:05] kumaratratus commented on #7316
I have created a customer address attribute with the below code in InstallData.php in a custom module. The attribute is getting displayed in backend, but not getting updated when input is given. Also its not getting displayed in frontend too. Can you please help me in creating a custom attribute for customer address.

[code]

[2016-11-09 12:07] veloraven commented on #7327
@danieljabailey thank you for your report.
Magento does not support the operating system you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html).
Please also provide more detailed steps for case when you get a wr

[2016-11-09 12:09] veloraven commented on #7329
@pareshe thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-11-09 12:42] veloraven commented on #7335
@ewallkrishnaprakash thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-11-09 12:45] veloraven commented on #7337
@deepak-netwin thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-09 12:48] veloraven commented on #7342
@renepenner thank you for your report.
Please, identify which version of Magento you are running.

[2016-11-09 12:49] veloraven commented on #7343
@bardkalbakk thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-09 12:53] veloraven commented on #7347
@flipflap thank you for your report.
So is the issue solved?
If it is please close this issue.
If it is not please describe more detailed steps and separate Actual Result.

[2016-11-09 12:56] paales commented on #6999
Hmm, I haven't experienced that it is still an array.. Maybe Magento could write some tests to check this ;)

[2016-11-09 12:59] deepak-netwin commented on #7374
@vasilii-b Oh, so is this not the default feature there. If not, how can I add that, any idea?

[2016-11-09 13:03] usuyukiso commented on #7317
Update:
checked that none of CSV files are downloaded with this enviroment, not only export page, but import page as well for:
'Download full report' for errors after pressing 'Check data '
and
'Download Sample File'  for any entity.

[2016-11-09 13:13] sevos1984 commented on #4767
Initial issue is fixed https://github.com/magento/magento2/commit/e012a481737ba124281581442f57231bee259aa4. Be free to open new one if that doesn't help

[2016-11-09 13:13] #4767 closed, assigned to slavvka

[2016-11-09 13:16] veloraven commented on #7354
@ajpevers thank you for your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.

[2016-11-09 13:30] veloraven commented on #7358
@alexber88 thank you for your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-11-09 13:57] KrystynaKabannyk commented on #7219
Hello, @carfantasy, could you please provide more details about sorting (what specific configurations do you use? And on what particular pages do you observe the sorting is not working?)

[2016-11-09 14:18] atihomirov opened #7379 "Calendar widget (jQuery UI DatePicker) with numberOfMonths = 2 or more"
### Preconditions

1.  Magento version 2.1.1
2.  file \lib\web\mage\calendar.js

### Steps to reproduce

1.  set options to widget  'numberOfMonths'=> array(1,3),
2.   set options on widget to any non-default values for 'numberOfMonths'

### Expected result

1.  jQuery UI DatePicker Widget with a list of months

### Actual result

1. the first month is normal - the remaining corrupted
2. month hea

[2016-11-09 14:18] PaulBoss opened #7380 "Updating customer via API resets default billing adres"
### Preconditions
Magento 2.1
A customer with a default billing adres set

### Steps to reproduce
1. Update firstname and lastname via the API.
PUT /rest/v1/customers/1
`{"customer":{"id":1,"email":"roni_cost@example.com","firstname":"Paul","lastname":"Boss","middlename":null,"gender":0}}
`
### Expected result
1. Customer with id 1 has firstname "Paul" and lastname "Boss". Other data is left intac

[2016-11-09 14:19] rickwhitehead commented on #4184
Is there a pull request for this fix please?

[2016-11-09 14:20] odubovyk commented on #7349
Thank you for the report. Internal ticket MAGETWO-60746

[2016-11-09 14:27] deepak-netwin commented on #7337
Hi,

Steps:
1) Go to backend and try to create a bundle product.
2) Change the attribute set from Default to Some custom. By default, "Default" attribute set is selected.
3) Its just loading and loading and doesn't refresh the page. When I checked in firebug I saw the above mentioned error.

[2016-11-09 14:36] PierAlex commented on #5558
Hello @rganin
You closed this issue but there is another ticket referenced to this issues:
#MAGETWO-58328
Is it also fixed?
Thanks.

[2016-11-09 14:39] PaulBoss commented on #7207
The same happens for pricing rules. The API only returns the price from the database without taking pricing rules into account. We are trying to sync products, not carts, to our platform so we can send out an email newsletter with some products in it. Currently there seems to be no way to get the price the frontend is showing via the API (e.g. finalPrice).

[2016-11-09 14:56] veloraven commented on #7364
@frankthoeny thank you for your feedback.
If it is an issue report please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result. Please, also identify which version of Magento you are running.
If it is a question please post it to a question and answer site, s

[2016-11-09 15:08] thdoan opened #7381 "Accordion data-mage-init 'active' option not working as expected"
### Preconditions

1. Magento 2.1.2

### Steps to reproduce

1. Change `"multipleCollapsible": false` to `"multipleCollapsible": true` in `Magento_LayeredNavigation/templates/layer/view.phtml` (#narrow-by-list element)
2. Change `"active": false` to `"active": true` in the same template.
3. Go to any category page.

### Expected result

1. All attribute groups should be expanded by default.

### A

[2016-11-09 15:19] sevos1984 commented on #7301
This is known issue, internal ticket  MAGETWO-56396. Thanks for reporting

[2016-11-09 15:41] marcobax commented on #3507
This problem still exists, it's flooding the system logs.

[2016-11-09 15:49] 12impress commented on #7219
Hi Krystyna,

Thanks for your replay.

Sorting Categories by Name does not work in Categories Menu and in Sub Categies navigation.
shop: http://test.carfantasy.nl

Configuration:
By:  STORES - CONFIGURATION - CATALOG - CATALOG - "STOREFRONT":

Use Flat Catalog Category: Yes
Use Flat Catalog Products: Yes
Product Listing Sort by:  Product Name

Untill version 2.1.1 this was sorting the categories b

[2016-11-09 15:56] sevos1984 commented on #7359
This is fixed in develop branch https://github.com/magento/magento2/commit/7a67ac94dd9a925256f2c94b4ebc597f5e949206. Will be delivered to 2.1 soon

[2016-11-09 15:56] #7359 closed, assigned to nobody

[2016-11-09 15:59] sevos1984 commented on #4671
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-09 15:59] #4671 closed, assigned to nobody

[2016-11-09 16:04] romainruaud opened #7382 "Magento rebuilds products Url when saving a category even if category path is not used for Urls."
All is on the title.

### Preconditions

1. Magento 2.1.1
2.

### Steps to reproduce

1. Set "Use Categories Path for Product URLs" to "No" in the configuration.
2. Save a category
3. Magento goes through `module-catalog-url-rewrite/Observer/UrlRewriteHandler::generateProductUrlRewrites` and loop over all products in the category.
4. This makes the category saving process incredibly slow (if you h

[2016-11-09 16:05] KrystynaKabannyk commented on #7305
Hello, @ferrarinim, could you please provide more details about your specific configurations settings? Did you meet such an issue with another language package?

[2016-11-09 16:08] AirmanAJK commented on #5835
Magento CE 2.1.2 here. Is this getting fixed any time soon? Do I really have to choose between hacking a core file, not using minified javascript, or not using PayPal?

[2016-11-09 16:12] ferrarinim commented on #7305
Hi, I'm using italian language.
I've installed it with this guide
https://www.bitbull.it/blog/installare-la-traduzione-italiana-magento2/

Il giorno mer 9 nov 2016 alle ore 17:06 Krystyna Kabannyk <
notifications@github.com> ha scritto:

--
Martina Ferrarini

[2016-11-09 16:14] SerhiyShkolyarenko commented on #6887
@KalaiarasanSeetharaman thank you for the report!
I tried to reproduce on latest develop branch and checked on 2.0.10 too. In both cases issue was not reproducible by these steps.
Is it reproducible for you on 2.0.10?

[2016-11-09 16:15] SerhiyShkolyarenko commented on #6746
thanks @eldonbite!

[2016-11-09 16:17] ferrarinim commented on #7305
Hi @KrystynaKabannyk , I'm using Italian language, installed via this giude
https://www.bitbull.it/blog/installare-la-traduzione-italiana-magento2/
I tried also with english language but nothing changes.

[2016-11-09 16:22] 12impress commented on #7319
Hi,

I have the same problem. How did you fix this?

Regards.

[2016-11-09 16:38] pinicio commented on #4389
@LuckyLoek solution doesn't seem to work for me. If someone found a solution to this bug and share it, it would be greatly appreciated.

[2016-11-09 16:41] humpedli opened #7383 "Unable to place order with PayPal if maximum qty allowed in cart is 1"
### Preconditions
1. Magento 2.1.1
2. PayPal payment option (sandbox or live)

### Steps to reproduce
1. Set Catalog / Inventory / Maximum Qty Allowed in Shopping Cart attribute to 1
2. Put one (downloadable) product into the cart and go to the checkout page
3. Choose PayPal checkout
4. Make a valid payment

### Expected result
1. Successful order
2. Thank you screen
3. Completed order

### Actual

[2016-11-09 16:59] SerhiyShkolyarenko commented on #7336
@developer-vivacity thank you for report!
As far as I see you work as registered user and have only UPS shipping method configured.
I tried this case on the latest develop branch and shipping worked fine. Is it reproducible for you on the latest commit?

![ups_methods](https://cloud.githubusercontent.com/assets/15108140/20146994/ccfc7b00-a6ae-11e6-8b09-1c60c3434306.png)

[2016-11-09 17:07] twslade commented on #4389
@pinicio I think @LuckyLoek misunderstood the problem. The issue is that the widget_id isn't stored within the cache key.

I fixed it by adding the widget ID to the \Magento\CatalogWidget\Block\Product\ProductsList::getCacheKeyInfo function in the return. See below. I only came across this scenario because I was making lots of widgets that were the same conditions for mocking client data during a

[2016-11-09 17:17] alena-marchenko commented on #6897
Hi @sneha-sukumaran

I was unable to reproduce the issue on both develop and 2.1 branch. Please provide us with debug logs that contains request to PayPal and response from it for further investigation.

[2016-11-09 17:19] loekderooij commented on #4389
@twslade, I didn't misunderstand the problem as I had exactly the same problem. The situations might still be different however.

I had unique conditions and therefor a unique cache key for each widget. Still this didn't produce the result I expected. I can't test right now but I guess it depends on the widget settings. I think both solutions should be considered depending on the situation.

[2016-11-09 17:25] twslade commented on #4389
@LuckyLoek The reason I thought you misunderstood the problem is because I had no context into how you came across the bug/solution you provided. As described above, my conditions were the same in both widgets, so the same products were assigned to each widget. The titles were different even though the frontend showed the same block each time, because they had identical cache keys.

I noticed that

[2016-11-09 17:34] AirmanAJK commented on #5835
I have a more appropriate solution. Magento 2 has a "minify exclusion list" that can be stored in the core_config_data table.

First make sure there isn't already an entry from some other extension:

select *
from core_config_data ccd
where ccd.path = 'dev/js/minify_exclude';

If there is, you need to append your rule preceded by a line break character (that's what the code splits on).

If it's em

[2016-11-09 18:02] loekderooij commented on #4389
@twslade,  it was also too easy from my side to assume the problem as described was exactly the same as mine. I will provide details to reproduce as soon as I find some time on my hands.

[2016-11-09 18:27] workmi opened #7384 "After deploy in html code added version deploy"
Hello. Who can help me ?
After php bin/magento setup:static-content:deploy -f
I see in my code html page:
<head >
        <script>
    var require = {
        "baseUrl": "http://unisel.ru/static/**version1478715401**/frontend/Magento/luma/en_US"
    };
</script>
How delete version ?

[2016-11-09 18:33] valenciaisaza commented on #7362
I don´t know if it helps

Searching in the code I found that in the \Magento\Catalog\Pricing\Price\SpecialPrice Class when the method "isScopeDateInInterval" is called by a simple product, the product has the Special price dates. But when the same method is called for a simple child of a configurable product, the product don't have this dates, so tha validation fails

[code]

[2016-11-09 18:42] frankthoeny commented on #7364
@thlassche I have a Windows computer. Please explain how to execute

`bin/magento setup:static-content:deploy`

@veloraven assumed you already know that I downloaded this version of Magento 2 from github. Just tell me that Magento is an Linux/Mac app then I will leave you alone.

[2016-11-09 19:18] thlassche commented on #7364
@frankthoeny You should run it on linux, e.g. using vagrant or Virtualbox. Makes your life a whole lot easier.

[2016-11-09 19:20] btjackson11 commented on #7255
Not sure what changed but this problem seems to not be happening anymore, thank you.

[2016-11-09 19:20] #7255 closed, assigned to alena-marchenko

[2016-11-09 19:21] btjackson11 commented on #7223
This looks like a bug with the Authorize.net CIM extension incorrectly passing the transaction id.

[2016-11-09 19:21] #7223 closed, assigned to alena-marchenko

[2016-11-09 19:22] trichter01 commented on #6950
Since posting this issue, I have updated to Magento 2.1.1. This bug has not been resolved yet.

[2016-11-09 19:47] frankthoeny commented on #7364
Thank you

[2016-11-09 19:47] #7364 closed, assigned to nobody

[2016-11-09 20:04] zohlandt commented on #5848
Anyone has been able to solve this? I have the same problem and unfortunately I  can't Find a solution anywhere

[2016-11-09 20:05] valenciaisaza commented on #7362
I´m here one more time

I found the problem in this class: vendor\magento\module-configurable-product\Pricing\Price\ConfigurableOptionsProvider.php

In the method "getProducts"

**Original method**

[code]

**Modified method**

[code]

Obviously I will create a module with a plugin o something like that, while magento apply the fix to the vendor

[2016-11-09 20:20] maximinimus commented on #7354
@ajpevers Whilst I'm sure most of the community appreciates the fact there is a dedicated channel for reporting EE issues. It really hinders those that are working with EE, as unlike on github, EE support rarely respond quickly, we have no visibility of other customers' issues so no way to see if an issue has already been reported and a possible workaround found.

I thank @ajpevers for reporting t

[2016-11-09 20:21] develpr opened #7385 "Web service REST API calls for orders returns error when multiple websites are used"
### Preconditions
1. Magento EE 2.1.2
2. PHP 7.x
3. Create two separate websites, stores, and store views (`USA Website, USA Store, USA English Store View` + Say `Canada Website, Canada Store, Canada English / French Store View`
4. Set Customer Accounts to be global (i.e. shared across websites)
5. Set base currencies to be different between different websites (so that USA can have a different pro

[2016-11-09 21:31] dthampy commented on #6937
internal ticket -MAGETWO-60779 created

[2016-11-09 21:40] pinicio commented on #4389
@LuckyLoek @twslade great, thank you both. I wasn't setting any conditions, so I was able to make it work just by passing the widget id.

[code]

[2016-11-09 22:42] pboisvert commented on #4187
Hey All. Apologies if this issue in ongoing for some of you. This issue was CLOSED back in May when the original reporter failed to respond to requests for more information. We try to reproduce issues as reported and when we cannot we ask for more information. If anyone is STILL having this issue, the proper action to take is to open a new issue and you can reference back to the closed issue if it

[2016-11-09 22:48] keharper commented on #6991
The Swagger documentation doesn't list the minimum fields for a request--it includes all the possibilities. At minimum, a `sku`, a `name`, and an `attribute_set_id` must be specified for this call.  For example:

[code]

The value 4 represents the default attribute set.

[2016-11-10 03:03] pavelshulga commented on #6671
The url regeneration process is large/implicit and complex to keep all the main entities in e-commerce industry (products and categories) accessible to customers.

## Flow

The flow is next:
- category entity itself is processed and all the changes are saved to DB (in terms of active transaction)
- then afterSave event is dispatched (this event is dispatched to any entity in Magento 2 if child of

[2016-11-10 03:34] shazadmaved commented on #6119
@springimport could you please explain it of how to add it to our custom module and the file path of etc/view.xml from luma ?

[2016-11-10 05:04] galillei commented on #6363
Does any one have solution? We set one product to sale and after that we have quantity of product=-14. We use 18 instances of frontend;

[2016-11-10 05:33] wenpingguo opened #7386 "Adding items in wishlist from category page is displaying a $0.00 prices"
### Preconditions

1. Default Magento 2.1.1 or 2.1.2

### Steps to reproduce

1. Login to the website
2. navigate to a category page
3. add a product to wish-list
4. go to wish-list page

### Expected result

1. Product added to wish-list showing the correct price.

### Actual result

1. showing $0.00 price for the product

video record: http://take.ms/oNk8h
Screenshot
If you select configurable o

[2016-11-10 06:02] pareshe commented on #5853
This not work.

This work in first image, if you slide to second image(in multiple product image) then in second and onward image this not work.

[2016-11-10 06:22] ankitce opened #7387 "Error on checkout page when empty region field"
Error message: `Recoverable Error: Object of class Magento\Customer\Model\Data\Region could not be converted to string in /vendor/magento/framework/DB/Adapter/Pdo/Mysql.php`

The checkout page halts after this error.

Originally reported issue - [https://github.com/magento/magento2/issues/4187](https://github.com/magento/magento2/issues/4187)

Steps to reproduce: [https://github.com/magento/magent

[2016-11-10 06:59] JesseEnd opened #7388 "Shopping cart sales rule not removed when applicable product removed from cart"
A sales rule for free shipping when a product is added to the cart is not removed when that product is removed from the cart.

### Preconditions

1. Magento 2.1.2

### Steps to reproduce

1. Create yes/no product attribute named 'Free Shipping', 'Use for Promo Rule Conditions' enabled
2. Add Free Shipping attribute to all attribute sets
3. Enable Free Shipping method with 100,000 minimum order amo

[2016-11-10 07:26] schnappenberger opened #7389 "Delete gallery image diesnt check if images are used in other products"
if you delete an image a.jpg from a product A gallery and have another product B which uses a.jpg, then a.jpg will be deleted in file system and product B looses this image also.

### Preconditions
1. Magento 2.1.2
2. PHP7
3. Apache 2
4. Mysql 5

### Steps to reproduce
1. Import some Products with the same image gallery
2. Open a product in admin and delete an image, which is used in other product

[2016-11-10 07:58] lucasalfaro commented on #5416
Hi,

I am having the same issue on 2.1. I have 2 different view (one spanish - one english) and when on a product with different url key, I get a 404 switching views.

L.

[2016-11-10 07:58] ferrarinim commented on #7305
![image](https://cloud.githubusercontent.com/assets/23255766/20168697/cd5468f4-a723-11e6-9a52-599a9e42af59.png)

[2016-11-10 08:17] AlessandroStaffolani commented on #7341
@juhanix that's great, now It works, I close the issue.

[2016-11-10 08:17] #7341 closed, assigned to nobody

[2016-11-10 08:39] vasilii-b commented on #7374
@deepak-netwin  It can be done by modifying files:
- `app\code\Magento\Bundle\view\frontend\templates\catalog\product\view\summary.phtml` [(line 48-51)](http://prntscr.com/d5f5v0)
- `app\code\Magento\Bundle\view\frontend\web\js\product-summary.js` [(line 104-110)](http://prntscr.com/d5f5ni)

_For sure you should modify this files according to 'best practices' - move this files into your theme and

[2016-11-10 08:48] veloraven commented on #7384
@workmi thank you for your submission.
The Magento 2 GitHub repository is used to capture code and documentation issues. Questions should be posted to a question and answer site, such as Stack Exchange and the Magento Forums, where Magento community members can quickly provide recommendations and advice.

[2016-11-10 08:48] #7384 closed, assigned to nobody

[2016-11-10 08:51] veloraven commented on #7385
@develpr thank you for your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-11-10 08:51] deepak-netwin commented on #7374
@vasilii-b Thanks for your reply.
Yes, I've already override those files under my custom theme and trying to modify it. But I'm not getting price variable there in js. Do I need to add any code in block or module files for that.
Please see this how I want it http://prnt.sc/d5f80q

[2016-11-10 09:00] MidnightDesign commented on #2056
@cjohansson Did you find a solution? I have the exact same problem.

[2016-11-10 09:20] veloraven commented on #7253
@springimport thank you for your report.
Please, identify which version of Magento you are running.

[2016-11-10 09:27] ghost commented on #2056
Yes @MidnightDesign, we found a work-around. You can manually edit the `js-translation.json` file. In our case `pub/static/frontend/<Vendor>/<theme>/sv_SE/js-translation.json` and then change the files file-permissions to disallow overwrite from the Magento 2 application. If you don't change permissions on the file it seems Magento 2 will truncate the file daily.

[2016-11-10 09:34] vasilii-b commented on #7374
@deepak-netwin  look at my previous comment. There are links to screenshots that show how you need to modify these files to see option price.

[2016-11-10 09:36] AlexandreKhayrullin commented on #6852
It appears that, in many features, dates are not being saved and/or read as UTC (as was the case in Magento 1) , using the timezone from the context instead.

I really hope this is not a design choice.

[2016-11-10 09:48] MidnightDesign commented on #2056
Manually?? But how do I know which translations are needed in there? So is this actually a bug? Is there an open issue for this?

[2016-11-10 09:52] deepak-netwin commented on #7374
@vasilii-b Hi,

I managed to add price of selected action when page loads. Code is as below in app\code\Magento\Bundle\view\frontend\web\js\product-summary.js:

_price_: this.cache.currentElement.options[key].selections[row].prices.finalPrice.amount

But, when I select one more option its showing js error as below:
http://prntscr.com/d5foz9

Also, the price is not showing the currency symbol. Plea

[2016-11-10 10:01] JananiKrishnan opened #7390 "Create a coupon code(cart price rule) which can be used only once by any user"
### Preconditions
1. Magento CE 2.1.2 installed

### Steps to reproduce
1. Go to create cart price rules
2.  Create a rule with auto generate coupon codes and also uses per coupon as 1 and uses per customer as 1
3. Save the coupon

### Expected result
1.  The coupon should apply only once . For example, users A  and B have coupon code **123abc** , the coupon will be applied once who uses first. Th

[2016-11-10 10:08] gewaechshaus commented on #2630
I can't get "Review & Payments" to be translated by using de_DE.csv in a custom themes i18n folder... Think so 2

[2016-11-10 10:08] SerhiyShkolyarenko commented on #6968
@amansilla MAGETWO-59807 is delivered to develop branch. Closing the issue.

[2016-11-10 10:08] #6968 closed, assigned to SerhiyShkolyarenko

[2016-11-10 10:13] vasilii-b commented on #7374
@deepak-netwin I'll look into it deeper this evening.
And yeah , I know price is not formated correctly. I''ve tried it quikly at this moment.
Will let you know.

[2016-11-10 10:19] SerhiyShkolyarenko commented on #4263
@snez we delivered fix of MAGETWO-59052 to develop branch. We close the issue. There are two internal issues for backporting:
 MAGETWO-60326 -- backport to 2.1
 MAGETWO-60327 -- backport to 2.0

[2016-11-10 10:19] #4263 closed, assigned to alena-marchenko, viktym

[2016-11-10 10:32] x86fantini commented on #7375
I'm also interested

[2016-11-10 10:36] x86fantini commented on #7370
@Magenx has a great alternative to the suggest nginx config, that actually seems "broken". Take a look here

https://github.com/magenx/Magento-nginx-config/tree/master/magento2

[2016-11-10 10:53] deepak-netwin commented on #7374
@vasilii-b I want to add a total price of all selected options for that particular product.
Please see this http://prntscr.com/d5g0d3. Also, need to show currency symbol.
I understand that I need to make changes in [_renderOption function ](http://prntscr.com/d5g0vr)

[2016-11-10 11:56] ghost commented on #2056
I think they should re-open this ticket because the issue remains. @hshar7

[2016-11-10 12:01] lexbailey commented on #7327
The same issue is present on Ubuntu 16.04.
I'll try to reformat the things so that github shows them correctly.

[2016-11-10 12:04] lexbailey commented on #7327
I have edited the initial post, it now formats correctly.

[2016-11-10 12:10] developer-vivacity commented on #7336
@SerhiyShkolyarenko Thanks for your reply.
I will try with the latest commit. BTW Did you followed all three steps?

[2016-11-10 12:29] kunzi commented on #7313
The solution for us was first delete all product related rewrites in url_rewrite table, then save all products in admin's mass update functionality, then finally run the UPDATE command mentioned above to database. That removed all extra .html's from the rewrites.

Just importing did no good for us and created the .html.html just all over again so that indicates a bug in core import functionality a

[2016-11-10 12:29] #7313 closed, assigned to nobody

[2016-11-10 12:39] andidhouse commented on #7296
@craigcarnell - i am not shure. What is this for? i can ask our technical stuff if this is important.

[2016-11-10 12:53] deepak-netwin commented on #7374
@vasilii-b
I've tried few things but couldn't able to get the total price for particular row.
I tried the operations on object "selected" in this.cache.currentElement.
Any help would be appreciated.

[2016-11-10 13:01] cscd98 commented on #7296
@andidhouse Are you referring to the secret key? It's an extra bit of security

[2016-11-10 13:05] veloraven commented on #7286
@shinichi2510 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If it is more question than an issue please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.s

[2016-11-10 13:05] Choufourax commented on #7037
Same issue for me with magento 2.1.2.
I tried with "report sales" too.

[2016-11-10 13:09] nmallepally opened #7392 "Pages not displayed on frontend 2.1.2"
### Preconditions (*)
Magento 2.4-develop

### Steps to reproduce (*)
1. Make sure `Cache` is enabled
2. Go to `Content -> Pages`
3. Create new page, with _enabeld_ option
4. View page on FE (you should see page content)
5. Go back to the same page and _disable_ it and save.
6. View page on FE (it is not visible)
7. Go to that page on BE and _enable_ it and save.

### Expected result (*)
CMS page

[2016-11-10 13:11] emil-777 opened #7393 "images added with WYSIWYG in category description are uploaded into admin-directory"
### Preconditions
1. PHP 7
2. Magento 2.1.2

### Steps to reproduce
When I'm uploading an image with the WYSIWYG-editor for the category description, the image is uploaded - and its' path which is used in the src-attribute of img-tag to the admin directory (domain.com/admin_veuCvtf/...).
I assume it has to be located in pub/media./.. directory. Otherwise the name of the backend login is disclosed.

[2016-11-10 13:12] huzefahusain commented on #1787
Its a permission issue on windows, you try to run it as administrator.

[2016-11-10 13:22] melindash commented on #6826
Sorry for the delay.
@SerhiyShkolyarenko
I used Chrome's default Autofill, complete with email and address (and usernames passwords).  Safari's autofill had the same behavior.

We had no console messages - only after going back to edit the billing information did I realize that the email field's value had been replaced by my admin username.  Reentering it did not resolve - I had to disable autofil

[2016-11-10 13:22] devhn commented on #7393
Similar to #6138?

[2016-11-10 13:26] Bbbrinks commented on #7380
Same goes for Default shipping addresses.

[2016-11-10 13:29] Bbbrinks commented on #7380
Workaround would be to fetch the customer before updating and setting the default_billing and default_shipping values in the PUT request.

Makes me wonder what other data is lost when using partial PUT requests.

[2016-11-10 13:45] springimport commented on #7253
@veloraven Magento ver. 2.1.2.

[2016-11-10 13:47] sreejith-cb opened #7394 "Magento sending incorrect transaction type to Paypal while creating invoice from admin"
We need Paypal delayed capture at the time of manually creating invoice from admin. We have set 'Authorization' payment action in admin Paypal Payflow Pro section.
From the debug log i have found that magento is sending the ‘trxtype’=> 'S' when invoicing the sale.
I was able to compare them to PayPal’s documentation and found that we are using the incorrect ‘trxtype’.
The ‘trxtype’ is set to ‘S’ w

[2016-11-10 13:48] emil-777 commented on #7393
yes, seems to be similar

[2016-11-10 13:48] #7393 closed, assigned to nobody

[2016-11-10 13:51] comdiler commented on #7367
@dmitrisol, also l.product_id should be actually le.row_id

[2016-11-10 13:59] xaiamedia commented on #7319
I didn't, still waiting on a answer or fix from the magento staff. We reverted back to 2.0.6

[2016-11-10 14:05] veloraven commented on #7298
I'm closing this issue as a duplicate of #6671 .

[2016-11-10 14:11] veloraven commented on #7306
@ferrarinim thank you for your report.
We already have internal ticket for fixing this issue in ver. 2.1 - MAGETWO-59690

[2016-11-10 14:13] sevos1984 commented on #6411
The problem is in attributeRepository, as workaround you can use $attr1->save() instead $this->attributeRepository->save($attr1); This is a Magento issue, I've created ticket for that MAGETWO-60815. Thanks for reporting

[2016-11-10 14:44] develpr commented on #7385
Apparently this same issue happens across the board, and may actually be related to braintree? I really doubt this has anything to do with EE, but OK!

[2016-11-10 15:04] dthampy commented on #7314
internal jira ticket to track this issue : MAGETWO-60709

[2016-11-10 15:14] sevos1984 commented on #6852
No, this is particular bug for newsletter. Please refer to https://github.com/magento/magento2/issues/2937 or https://github.com/magento/magento2/issues/5943 to know when issue will be fixed. Thanks for reporting.

[2016-11-10 15:14] #6852 closed, assigned to sevos1984

[2016-11-10 15:16] bartoszkubicki commented on #6392
[Test.zip](https://github.com/magento/magento2/files/583678/Test.zip)
Ok, here there is module with two block - unfortunately block checking if product is in cart doesn't work. I was mislead by setting another block as not cacheable. I have tested it on Luma, Magento 2.1.2.

Here with FPC enabled, both blocks cachebale:
![image](https://cloud.githubusercontent.com/assets/20238194/20182076/d6340208

[2016-11-10 15:31] ipekerti opened #7395 "Order Comment Email not using site/store scope Sender email address"
### Preconditions
M2.1.0 Community
Although I don't think the following environment info matters, here they are: PHP v 5.6.23-1, nginx v 1.4.6, Mysql v. 5.6.27.

1. Single instance of M2, multiple sites
2. Each site uses its own unique sender email address defined at **Stores > Configuration > General > Store Email Addresses**:
  EXAMPLE:
  -- Default Config scope: CustomerService@MainSite.com
  -

[2016-11-10 15:36] cscd98 commented on #7375
https://github.com/magento/magento2/issues/7296

[2016-11-10 15:37] joost-florijn-kega opened #7396 "Unable to filter on website id with product repository"
### Preconditions
1. PHP 5.6
2. Magento 2 dev branch

### Steps to reproduce
1. Create model with the StoreManager, SearchCriteriaBuilder and ProductRepository passed by dependency injection.
2. Filter product repository on website_id
[code]

### Expected result
1. List of products filtered by website.

### Actual result
1. Exception was thrown when adding the fetching the result.
Exception:
[code

[2016-11-10 15:39] bartoszkubicki commented on #5683
In Magento 2.1.1. it works fine. Thank you for your support!

[2016-11-10 15:39] #5683 closed, assigned to nobody

[2016-11-10 15:41] sevos1984 commented on #7386
This is a known issue, internal ticket MAGETWO-59420

[2016-11-10 15:50] tkacheva commented on #7297
Thanks for reporting, we are aware about this issue and working on it
MAGETWO-58156

[2016-11-10 15:52] tkacheva commented on #5705
Duplicates https://github.com/magento/magento2/issues/7297

[2016-11-10 15:54] tkacheva commented on #7297
Closing as duplicate

[2016-11-10 15:54] #7297 closed, assigned to nobody

[2016-11-10 16:08] 12impress commented on #7319
Ok, did you import your products from an other shop?
We have contact the Magento Develop team and they told me the problem came from the import, but iI'm not so sure about this.

I found this about the problem:

**Issue 2: Unable to Add/Edit Catalog product from Admin**

The Catalog screen doesn’t load when you try to edit or add the project. If you looked at the log then you get following excepti

[2016-11-10 16:16] sreejith-cb commented on #7394
Why does magento 2.1 use paypal trxntype S instead of trxntype D while invoicing even when we are using Paypal 'Authorization' payment action for delayed capture? Is this a bug or is there a way we can switch this to D?

[2016-11-10 16:37] frostshoxx commented on #7297
Thank you

[2016-11-10 17:01] piotrekkaminski commented on #5356
Internal issue MAGETWO-60828

[2016-11-10 17:07] SerhiyShkolyarenko commented on #7388
@JesseEnd thank you for the report.
I tried and didn't reproduce the issue. Please, add some details:
Is value of 100,000 minimum order amount just a way to ensure we work with cart rule?
What are you products prices?
Which shipping methods are enabled?
Where do you check free shipping availability: on the cart page or on the checkout?
Please, add screenshots of the cart rule settings.

[2016-11-10 18:28] Bartlomiejsz commented on #5705
This issue still exists on 2.1.2.  @veloraven @tkacheva Any news about it?

[2016-11-10 19:19] Ctucker9233 commented on #5943
@veloraven @duhon @magento-team Please, this issue is critical. Even queuing my newsletter ahead of the 5 hour or so time delay seems to cause the queue to fail. Any updates at all in the investigation of this issue?

[2016-11-10 19:27] dreucifer opened #7397 "Sales sequence prefix and pad length will not change."
### Preconditions

1. Magento 2.1.2 CE

### Steps to reproduce

1. Opened up the `eav_entity_type` table and modified the rows for `order`, `invoice`, `creditmemo`, and `shipment` so that `increment_pad_length` was 5 instead of 8
2. Cleared cache and re-ran `setup:di:compile`

### Expected result

1. New orders should have shorter order numbers, i.e 0000XX instead of 0000000XX
2. `eav_entity_store

[2016-11-10 20:08] YevSent commented on #7385
Hi, @develpr, this is known issue and was already fixed on the develop branch (ticket MAGETWO-57426).
This fix will be available in Magento 2.1.3.

Closed as duplicate to https://github.com/magento/magento2/issues/6215.

Thanks, for reporting.

[2016-11-10 20:08] #7385 closed, assigned to nobody

[2016-11-10 20:53] thomasnordkvist commented on #3759
@Thommas I'm intressted i your quickfix. I have this problem and like to have it fixed as soon as possible. I will be greatful if you lend me a hand on this one.

[2016-11-10 21:46] brideo commented on #7319
Hey,

I found the issue there is a new relationship table which you need to update with the `product_id` and the `value_id` of the media.

See `catalog_product_entity_media_gallery_value_to_entity`

[2016-11-10 21:51] ghost opened #7398 "Unable to delete item from checkout cart with minimum order amount"
### Preconditions
1. PHP 7.0.12
2. MariaDB 10.0.27 or 10.1.19
3. Magento 2.1.2
4. Apache 2.4.18 or Nginx 1.10.2

### Steps to reproduce
1. Login to Admin
2. Go to Stores -> Configuration -> Sales(tab) -> Sales(section) -> Minimum Order Amount
3. Set Enable -> Yes
4. Set Minimum Amount -> 100
5. Set Description Message && Error to Show in Shopping Cart -> Sorry, but minimum order is $100.
6. Save c

[2016-11-10 22:08] ghost commented on #7398
In file vendor/magento/module-quote/Model/ShippingAddressManagement.php on 121 line need to replace

[code]

with

[code]

But after this fix you will see:
![screenshot from 2016-11-11 00-07-54](https://cloud.githubusercontent.com/assets/16591956/20196341/eee83b24-a7a2-11e6-8ad8-7119f375fb1c.png)

[2016-11-10 22:19] 12impress commented on #7319
Hi,

I just checked that table but this table looks fine. The value to entity look correctly filled.

What was wrong with this table in your case? Was it empty?

[2016-11-10 22:21] brideo commented on #7319
The old images were not populating this table which was the cause of the issue. You can see the relationships in `catalog_product_entity_media_gallery_value` to compare, it may be new product images have populated that table.

[2016-11-10 22:27] 12impress commented on #7319
Ok, my `catalog_product_entity_media_gallery_value` looks good, but I have 2062111 records in it. So I can't check all records manually ;-)

Did you also had problems to Add new products? Like in this post on the top?

[2016-11-10 22:29] brideo commented on #7319
Sorry I've mixed up Github issues on this one!

[2016-11-10 22:32] 12impress commented on #7319
When I try to sort this table `catalog_product_entity_media_gallery_value` in phpmyadmin it gives a time-out:
Server time-out 504
So, Maybe there is a wrong index on this table or it's just to big....
Does anyone has an idea?

[2016-11-10 23:04] ghost commented on #7398
When comment or remove this 3 lines (if block) - all works fine - Update, Delete, Add.
And when you go to checkout - you will get correct message about minimum order amount.

[2016-11-11 00:19] robert-lero9 commented on #7036
Come one guys!! Is this dead here??? This is a major issue for merchants managing multistore setups - at least an acknowledgement can be posted!?

[2016-11-11 00:39] otg-chris commented on #5142
It's still in Magento 2.1.2. Swatches created from Magento 2.0.x did not have this problem. I had to add rows in eav_attribute_option_swatch to get it to appear in the frontend.

[2016-11-11 03:17] wsagen commented on #6475
This is a really fundamental bug and is preventing checkout for a lot of carriers. Please can advise when a fix will be available?

[2016-11-11 03:17] birchestx commented on #6475
This is affecting us on ShipperHQ.  There are a large number of carriers that exceed this, we need it to be in region of 80 combined to be non-impacting. Aus Post is another example e.g. AUSPOST_INT_LETTER_AIR_OWN_PACKAGING_MEDIUM. We also add other information on the end of the method code to help the post-order labelling systems (e.g. zone, pick desk, etc), so we need this higher else they all s

[2016-11-11 03:25] birchestx commented on #7387
Affecting all UK checkouts, and any countries without preset regions. Needs urgent attention.

[2016-11-11 04:46] thdoan opened #7399 "Modal UI: clickableOverlay option doesn't work"
### Preconditions

1. Magento 2.1.2

### Steps to reproduce

1. Go into any template and create a modal widget with this code:

[code]

2. Click on `$('#some-element')` to show the overlay.
3. Click on the overlay (shadow).

### Expected result

1. According to the [documentation](http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/widgets/widget_modal.html#modal_clickableOverlay), the def

[2016-11-11 05:38] arijit-de93 commented on #4027
Hello,

Any updates on this issue?

[2016-11-11 06:48] ewallkrishnaprakash commented on #5377
Hi guys, Me also face the same issue, But In my case it was happened in some times only.

**Steps to reporoduc the issue:**

My magento version is 2.1.1

1.Add one product to cart
2.Product sucessfully added to cart also in mincart
3.Some times while you added to cart product added sucessfully and shown on cart page but not added in minicart

[2016-11-11 06:48] gabriel-sf commented on #6215
@alena-marchenko  @joni-jones Do you know when this is fix is going to be released? You mentioned 2.1.3, but do you have any release date for this version?

[2016-11-11 06:49] gabriel-sf commented on #7312
@joni-jones Do you know when this is fix is going to be released? You mentioned 2.1.3, but do you have any release date or estimate for this version to be available?

[2016-11-11 07:33] vasilii-b commented on #7374
@deepak-netwin I managed it to show the currency symbol, but not total price per option yet. I will let you know where I'm done with this.

[2016-11-11 08:44] SerhiyShkolyarenko commented on #6697
@grasdaggel lets' leave this issue in "needs update" state for 14 days. If nobody reproduce it for this period, we'll close it.

[2016-11-11 08:54] SerhiyShkolyarenko commented on #6246
Closing the issue as far as fix was delivered to develop branch. Internal issue for backporting is MAGETWO-55065.

[2016-11-11 08:54] #6246 closed, assigned to nobody

[2016-11-11 09:27] SerhiyShkolyarenko commented on #7336
@developer-vivacity yes, it's the state after third step on the screenshot.
I logged in as a customer with existing address,
I entered new address with invalid ZIP code on checkout,
I switched between these addresses twice,
the result is on the screenshot.

[2016-11-11 09:49] miro91 commented on #7186
@SerhiyShkolyarenko I can replicate it on local without Varnish. Also I was able to get this issue on Chrome, not only on FF

[2016-11-11 09:55] dcabrejas commented on #7186
@miro91 @studiotwentyeleven @SerhiyShkolyarenko I didn't use Varnish, I have put in place a quick work around for this issue : Override the following file in your theme : `magento/module-checkout/view/frontend/web/javascript/model/shipping-save-processor/default.js`
Change every instance of this line `fullScreenLoader.stopLoader();` to `fullScreenLoader.stopLoader(true);` This will force the loade

[2016-11-11 10:00] SerhiyShkolyarenko commented on #6475
@wsagen @wsakaren thank you for taking part! We don't have fixing time estimate, but  MAGETWO-58722 was promoted in priority today.

[2016-11-11 10:26] kanduvisla opened #7401 "M2.1.2 : JavaScript validate-digits rule doesn't validate negative numbers, making it impossible to save a product with a negative quantity"
I stumbled upon this issue when a product had a negative stock and it made it impossible to save:

![screen shot 2016-11-11 at 10 44 39](https://cloud.githubusercontent.com/assets/346681/20211878/d80d02f0-a800-11e6-9256-5d0e11f845bf.png)

It seems that the `validate-digits` rule doesn't take into account negative numbers:

    "validate-digits": [
        function(value) {
            return utils

[2016-11-11 10:39] andreaschiffo commented on #7286
@veloraven what about the issue i've reported above?

[2016-11-11 10:51] birchestx commented on #6475
It actually needs to be 120 if possible combined btw.

[2016-11-11 10:54] sevos1984 commented on #7367
Thanks for reporting, this is a known issue, internal ticket is MAGETWO-60098

[2016-11-11 11:07] thdoan commented on #7224
@tkacheva No, all caches disabled in developer mode.

[2016-11-11 11:26] janeblonde opened #7402 "The customizable options are not all displayed on the orders"
On some products we have 10 customizable options, each with a price. In testing we find that adding all ten means that on the Order and Invoice screens it looks like we can only see 56 charachters of the customisations. So they cannot be processed correctly. I've also checked and they do appear on the email sent to the client

### Preconditions
Magento ver. 2.1.2
PHP 7
MySQL 5.6

### Recreate

1.

[2016-11-11 11:35] thlassche opened #7403 "JS Translation Regex leads to unexpected results and untranslatable strings"
### Preconditions
Magento version: 2.1.2
Translate a string in javascript, for example like this (taken from `mage/validation.js`):
[code]
The string should be for example concatted in JavaScript with the `+` sine.

### Steps to reproduce
Look up the page where the translated string should appear (in this case: the register account page)

### Expected result
The password error message is translate

[2016-11-11 11:48] leo-leung commented on #2882
vendor/magento/module-admin-notification/Model/System/Message/Security.php

This file always use server curl post to check a file http://domain.com/app/etc/config.php can be access or not, if receive 200OK, then the notification bar will be shown.

[2016-11-11 11:53] rishabhrkrai opened #7404 "Sort by Product Name on Search"
When search for any product then all the Sort By is working good except "Product Name"

### Preconditions

1. I use Magento 2.1.1
2. PHP version is 5.6.x

### Steps to reproduce

1. Search any thing
2. Then sort the product collection by product name.

### Expected result

1. Product is showing on a sorting manner with product name.

### Actual result

1. Page is loading but product is not sort by

[2016-11-11 13:11] #3198 closed, assigned to nobody

[2016-11-11 13:41] PascalBrouwers commented on #4725
I had the same thing. For anyone who also has this. Adding an empty less file to web/css fixed it for me.

[2016-11-11 13:44] kanduvisla commented on #7401
I've now created workaround that products with a qty below zero can be saved, by simple removing the `validate-digits` filter using a modifier, maybe this can help someone who's running into the same issue:

[code]

di.xml:

[code]

Please note the `sortOrder` of 10000. This is required because otherwise the `advanced_inventory_modal`-node is not yet available.

But the main question is: 'is this

[2016-11-11 14:39] deepak-netwin commented on #7374
@vasilii-b Ok great. Can you please share the code for currency symbol?

[2016-11-11 15:05] maderlock commented on #7298
Actually, I think that there are multiple issues here. #6671 has narrowed down to an anchor URL rewrite generator. I suspect that this issue is related but seperate.

[2016-11-11 15:13] vasilii-b commented on #7374
In`product-summary.js` add `priceUtils` as dependency.
Then add it as a parameter in `function($, mageTemplate, priceUtils)`.

For `_price_:` use `priceUtils.formatPrice({{row_price_here}})`

[2016-11-11 15:18] maderlock commented on #6671
Currently I'm patching these issues (incorrect anchor URLs and not generating URLs for multiple stores) by:
1. Replacing `$storeId=$category->getStoreId()` in module-catalog-url-rewrite/Observer/UrlRewriteHandler.php with `$storeId=0`. This then works like the category URL generation and iterates over the stores. Just getting the current store only creates (and deletes) links for the current store

[2016-11-11 15:20] YevSent commented on #7394
Hi @sreejith-cb, thanks for reporting. But I can't reproduce your issue.
Now, to capture transaction we send `'trxtype' => 'D' (Delayed Capture), one exception is partial invoicing.
For example, you created order with two products.
1. You create and invoice for the first product -> `trxtype` will be `D`.
2. You create a second invoice for the second product -> `trxtype` will be `S`.

Could you spe

[2016-11-11 15:20] palamar commented on #7389
Hello

This is not a bug but expected behavior for such case.
A bug report converted to improvement.

[2016-11-11 15:23] fhennessy commented on #5377
@ewallkrishnaprakash are you getting any errors in your exception.log?

also compare your vendor/magento/module-checkout/view/frontend/web/template/minicart/content.html
to
https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/view/frontend/web/template/minicart/content.html

[2016-11-11 15:26] schnappenberger commented on #7389
Placeholder images in product listings and detail views are expected behaviour? How can i  replace such an image without loosing images in other places?

[2016-11-11 15:34] palamar commented on #7382
Hello

We have internal issue MAGETWO-59217 for this.

[2016-11-11 15:45] vasilii-b commented on #7374
@deepak-netwin  Here you go!

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/13456702/20220544/9a9372a2-a836-11e6-98cc-b86b9bb9e1ec.png)

[2016-11-11 15:46] HellgaM commented on #7308
Hello,
the issue "main.CRITICAL: Magento\Eav\Model\Entity\Attribute\Exception: No such entity with cartId = XXX" has been fixed by adding one more condition to vendor/magento/module-sales/Cron/CleanExpiredQuotes.php, line 60

`$quotes->addFieldToFilter('created_at', ['to' => date("Y-m-d", time() - $lifetime)]);`

because previously some new quotes were removed by clean expired quotes cron job.

Th

[2016-11-11 15:47] jwallb40 commented on #6246
It returns more info to the console log, but not to the consumer UI.

[2016-11-11 16:22] palamar commented on #7389
If you want replace default placeholder image, you can do this in
(admin area) -> Stores -> Configuration -> Catalog -> Catalog -> Product Image Placeholders
globally for all websites or for each website or store view separately.

[2016-11-11 16:24] andreaschiffo commented on #6411
Hi
i found the same issue: added a custom customer address field and when i insert a new address, it gets inserted in  customer_address_entity_varchar but when i update the address, the value is deleted

may this be due to /vendor/magento/module-customer/Model/Address/CustomAttributeList.php which returns an empty array?
....that nobody's gonna populate...
this happens only on update because when

[2016-11-11 16:30] schnappenberger commented on #7389
Sorry, that was missleading. I meant if you delete an image which is used in other products you will see an placeholder image on these products because the source file doesn’t exists anymore. I don’t have the possibility to delete only the relation and keep the source file.

In a huge catalog with a grown structure of images and products it’s nearly unpossible to say where those duplicated images

[2016-11-11 16:41] dnadle commented on #5377
Could this be a duplicate of [#6882](https://github.com/magento/magento2/issues/6882)? Is Full-page Cache disabled?

[2016-11-11 17:26] vasilii-b commented on #7259
@dthampy  Got the fix for this issue
File `app\code\Magento\Email\view\adminhtml\layout\adminhtml_email_template_preview.xml`

[code]

[2016-11-11 17:59] palamar commented on #7381
Hello
Internal issue MAGETWO-60897 has been created.

But as a quick solution you can reuse accordion in your own implementation, something like

[code]

import it via requirejs and use it like

[code]

in template.

[2016-11-11 19:03] benmarks commented on #4883
As it turns out, we are. Expect a lot of fixes up to and especially including 2.2.

[2016-11-11 19:07] zohlandt commented on #5848
**YES, I found the solution!!!!!**

https://github.com/magento/magento2/commit/b5700fe2da786e8615d10a77647397382804c37c

Hope I can help someone else with this. please let me know if this was helpful!

[2016-11-11 19:32] Tjitse-E commented on #7373
Same issue here on 2.1.2.

[2016-11-11 20:01] ooples commented on #5423
I'm having this same issue as well. I notice that in the admin settings it gives you the option between built in cache and varnish cache and it says that varnish is recommended so I'm wondering why if this seems to be such a common issue.

[2016-11-11 20:35] pioneerathletics opened #7407 "Visual Swatches with Different Pricing Doesn't Change Product Price"
### Preconditions

1. Magento 2.1.2
2. PHP version 5.6.27

### Steps to reproduce

1. Create a new simple product
2. Add tier pricing and save
3. Then add configurations, using visual swatches. Making a configurable product.
4. Add a couple different prices to a few of the visual swatches.

### Expected result

1. Product price should change when user clicks on a visual swatch that has a different

[2016-11-11 20:36] dthampy commented on #7368
@jeffrenvoy , a new internal ticket has been created to track this issue MAGETWO-60900 since fix for #6138 has already been delivered to mainline-develop.

[2016-11-11 20:38] aminy commented on #5580
Is there any fix for this bug yet? (Other than hacking the configurable.php)

[2016-11-11 21:04] spyrule commented on #7401
We are in the process of setting up a website, and we custom build a stock message module that uses negative values to display different stock messages based on how negative the number is.  You can import products with a negative value (using something like rapidflow, or other import tools) and it works as expected. However, we manually cannot edit the stock message with a negative value exactly a

[2016-11-11 22:33] joebusby commented on #4426
I have upgraded to 2.1.2 and shipping clerks still must run the report twice to get it to work.  So. .  it's workable now, but if it's easy to fix that, it would be great.  Thanks for your efforts!
At this time, a shipping clerk has to do this operation twice  after every time they are logged out (timeout) several times a day.  Much time is wasted.

[2016-11-12 01:48] Ctucker9233 opened #7408 "Contact Form Theme Fallback Fails"
1. Magento 2.1.2
2. Multistore setup

### Steps to reproduce
1. Create New Contact Form template based on default template, one for each store
2. Save Template
3. Assign template to appropriate store view
4. Navigate to contact us on frontend
5. Send test message

### Expected result

1. Upon hitting the send button, contact form shows success message and page displays the correct store theme

###

[2016-11-12 03:05] dulv opened #7409 "Label Fails"
Please help me fix this error
http://prntscr.com/d67ha1

Thanks

[2016-11-12 03:29] JesseEnd commented on #7388
**Is value of 100,000 minimum order amount just a way to ensure we work with cart rule?** That's correct
**What are you products prices?** Both are $500
**Which shipping methods are enabled?** Free Shipping and Fedex (Fedex's free method disabled)
**Where do you check free shipping availability: on the cart page or on the checkout?** Both the cart and checkout pages include the free shipping optio

[2016-11-12 03:47] ghost commented on #5101
I ran into this also, rather frustrating that it was fixed, but not introduced, could have saved me time trying to figure out what I assumed was something I did wrong. Would like to know why there are several fixes out there that dont make it into the mainline.

[2016-11-12 04:21] ghost commented on #4737
same issue also, is there a workaround?

[2016-11-12 06:40] pareshe commented on #7329
# **Some Translation not Working in Safari Browser Private Mode**

## **Magento version : 2.1.2**

## **Preconditions**

1) Open magento2 in safari browser private mode, in mac os/iPhone/iPad.

2) Add product to cart and check minicart .

Private mode safari -- http://www.awesomescreenshot.com/09b66b4z01
Normal mode safari -- http://www.awesomescreenshot.com/02866b4y67

3) Also same problem in www

[2016-11-12 08:25] mrkhoa99 commented on #7409
@dulv I'm not sure what is your issue? Please, explain more details.

[2016-11-12 10:52] redboxdigital-m2 commented on #3487
@veloraven It's still there in the `develop` branch (link in the original issue comment), so yes. It may or may not be an issue, but it's still weird.

[2016-11-12 11:24] kandy commented on #6739
Internal ticket to track MAGETWO-51176

[2016-11-12 12:46] markshust opened #7410 "Magento_Ui grid (ex. sales_order_grid) column sortOrder doesn't properly apply without container"
### Preconditions
1. Magento 2.1

### Steps to reproduce
[code]

### Expected result
1. Column should be using `sortOrder = 6` to determine position within listing.

### Actual result
1. sortOrder field doesn't apply unless a related filterInput with same name is added to listing container.
[code]

[2016-11-12 14:26] jurpro commented on #6937
Hello. May I comment here? I have the same problem, not the same but I think it is on the same situation.

When customers buy a downloadable product or Virtual Product, on the checkout, customer cannot complete the checkout step because there is an error message says "No Payment Method available".
But when this product change to simple product, the checkout is success with shipping cost 0.

I thin

[2016-11-12 15:49] JDavidVR opened #7411 "[M2.2-dev] Problem with new theme deployment"
I'm working on M2.2-dev I have created a new clean theme (parent theme is Magento/luma) I have errors executing command bin/matento setup:static-content:deploy -f

### Preconditions

1. Magento 2.2-dev
2. PHP 7.0.x
3. Mysql 5.6.x
4. Ubuntu 15.x
5. Apach2

### Steps to reproduce

1. Create a new theme
2. Configure parent Magento/luma
3. Open terminal and run: bin/matento setup:static-content:deploy

[2016-11-12 17:02] osmansorkar opened #7412 "Magento 2 Import Does not upload same name file in different image of different folder"
I try to import product by magento2 import product option by CSV. I have all product image same name. I create folder for every product image and I upload it media/import directory and try to import my product but magento use only 1st image for all other product. It does not upload my other same name images.

### Preconditions
Magento 2.1.0
PHP-7.0.12
Server: NGINX
Ubuntu 16.4
MYSQL -5.6

### Step

[2016-11-12 18:23] directvoltage commented on #2732
Experiencing same issue.  There currently is no solution for this, right? The last few comments seem to show how to regain access to the admin only.
Magento 2.1.2

[2016-11-12 19:37] minhluan259 commented on #6138
I've update two files  setup.js and Eav.php
But I still have same issue #7393

[2016-11-12 20:18] minhluan259 commented on #6138
@shiftedreality ,  @mmansoorebay
I've tested in product page, the issue was fixed.
But it's not fix in category page.

[2016-11-12 21:13] kevinjavitz commented on #4159
yes this should really be re-opened, it is confusing as the issue still exists in 2.1.2 and it is a big issue as without the web installer you can only install modules/components with composer

[2016-11-13 00:34] Ctucker9233 commented on #5272
Had exact same issue. I replaced the entire /lib folder and redeployed static content. My website works again but still experience some js errors.

Error parsing header X-XSS-Protection: 1; mode=block, 1; mode=block: expected semicolon at character position 14. The default protections will be applied.
reports.js:1 Synchronous XMLHttpRequest on the main thread is deprecated because of its detriment

[2016-11-13 08:13] ghost opened #7413 "magento 2 bug: when you purchase a downloadable product from within a grouped product it does not appear in my downloadable products"
Hi,

I have three types of products set up. Simple products (book), downloadable products (ebooks) and grouped products (books and ebook) containing both simple and downloadable products.

1) When I purchase a downloadable product that product order does not appear in the my downloadable products section after completed purchase via worldpay module or using a purchase order invoice.

### Precondit

[2016-11-13 10:15] dheeraj17 commented on #4834
i am having a similar problem...i have already followed the above steps but still i am getting another issue....it says..."error setting certificate verify locations: CAfile: C:\xampp\apache\conf\extra\cacert.pem CApath: none"..pls help! thanks..:)

[2016-11-13 10:18] mattador commented on #5133
This is probably one of the more cryptic issues I've come across in Magento 2. I ran into it while working on a multi-website setup using different base currencies. I managed to work around the problem with a plugin that overrides the configurable price resolver functionality.

[2016-11-13 11:41] carlowens commented on #4184
Hi,
Could anyone tell me which specific version of Magento 2 has this fix?  Has it been released yet?
Thanks

[2016-11-13 11:56] JDavidVR commented on #4184
@carlowens it works without problem on 2.1.x

[2016-11-13 12:05] thdoan commented on #7381
Thanks for the custom accordion override. For now we are OK with using an array from 0 to 9 knowing that we'd never have more than 10 filters per category.

[2016-11-13 12:07] carlowens commented on #4184
ah ok I am using Magento ver. 2.1.1 but it doesn't seem to be working.  Does each configurable product need it's own attribute set with a default?

[2016-11-13 12:33] EliasKotlyar opened #7415 "ImportExport : Import Category "AlreadyExistsException""
### Preconditions
Any Magento2 Version

### Steps to reproduce
1. Create a Category named "Test-1"
2. Import a Product using the Backend with the Field "categories" filled with the value "Test 1"(without "-", just a space)

### Expected result
1. Existing Category should be used

### Actual result
1. There is an Error, that the import has failed

### Why this error occurs?

The Category import fun

[2016-11-13 12:51] shiftedreality commented on #6138
Hi @minhluan259

Please, open another ticket with your environment details and we will investigate this case also.
Thanks.

[2016-11-13 13:48] kevinjavitz commented on #4546
ya same issue here, the component manager needs to fail more gracefully or not fail at all if some module is installed via cli (or perhaps the module has some missing package information in composer.json that the component manager doesn't like?)

posted issue here: http://magento.stackexchange.com/questions/145498/magento-2-component-manager-wont-load-componentgrid-components-times-out

[2016-11-13 14:36] itaymesh commented on #6173
@maderlock what have you changed on the eav_entity_type table?

[2016-11-13 16:32] pboisvert commented on #7409
@dulv can you follow the reporting template and include a description of the error, the steps needed to reproduce, and system information including version and configuration.

[2016-11-13 23:20] cefrigo commented on #5377
i have tried this fix (putting binSubmit to true) so i can have ajax add to cart working, but i am having another issue, Error messages are not showing ( success message are ),  for example i try to purchase more qty than the product has, it wont tell me anything, no message error at all. Anyone else ?

[2016-11-13 23:37] ooples commented on #5260
I'm getting this issue as well in 2.1.2

[2016-11-13 23:42] anisagrebi commented on #6265
i have the same issu Magento ver. 2.1.2
the mini cart doesnt refresh
please is there any fix for this???

[2016-11-14 00:12] ashburystudios commented on #5570
Hi all, Any update on this. Need this ASAP to work on a new site and cant move forward. Thank you, Mike

[2016-11-14 00:12] garrypark opened #7418 "Disable Modules Output - everything appears enabled"
Advanced/Advanced/Configuration  -- Disable Modules Output - everything appears enabled

Magento version, 2.1.2,

Expected result
1.  Set module to disable
Actual result when saved
1. Stays enabled

Some modules are disabled even though they appear enabled in the Advanced/Advanced/Configuration page

[2016-11-14 00:13] ashburystudios commented on #4177
Hi all, Any update on this. Need this ASAP to work on a new site and cant move forward. Thank you, Mike

[2016-11-14 00:30] cefrigo commented on #5266
i have tried this fix (putting bindSubmit to true) so i can have ajax add to cart working, but i am having another issue, Error messages are not showing ( success message are ), for example i try to purchase more qty than the product has, it wont tell me anything, no message error at all. Anyone else ?

[2016-11-14 01:14] jurpro commented on #7286
May I can answer. Sorry if I mistake.
You are making a mistake buddy. Look a format :
Country,Region/State,Zip/Postal Code,Weight (and above),Shipping Price

But you wrote:
MY,MY-A,,0,0
MY,MY-B,,0,0

If you unsure about zip/postal code, just put a code *. So, the code to be:

MY,MY-A,_,0,0
MY,MY-B,_,0,0

Don't put a"blank" space beetwen comma.

Maybe it help.
Edit: it seems can't write "_" here. (

[2016-11-14 01:19] dulv commented on #7409
I am using magento version 2.1.2
When i add/edit category, i can not get Label for Enable Category or Include in Menu
Please see error http://prntscr.com/d67ha1

Thanks

[2016-11-14 05:38] ps202 commented on #6603
I am facing the same issue on 2.2-dev.

[2016-11-14 05:55] deepak-netwin commented on #7374
@vasilii-b GREAT! This worked like a charme.
Thank you so much for the efforts taken.

[2016-11-14 06:01] sergiojovanig commented on #7418
Same here in 2.1.2.

The only way you can change these values is through MySQL client directly.

[2016-11-14 06:35] Zarina2222 commented on #3209
Same here on Magento 2.1.0 CE. Attributes set to `Filterable (with results)` or `Filterable (no results)` shows randomly in different categories or don't appear at all. I already tried flush cache, delete and re-compile static files and re-import products. I can give access to our development server if that helps to solve this problem.

[2016-11-14 06:47] Zarina2222 commented on #7404
@RishabhRkRai I had same problem. I think your catalog's default `Sort by` is set to `Product name` (Admin -> Stores -> Configuration -> Catalog -> Catalog -> Storefront -> Product Listing Sort by). If I set it to `Product name`, I can't sort search results by `Product name` (url not changing as you said) and if I set it to `Price` I can't sort search results by `Price`. I solved that interesting

[2016-11-14 07:06] deepak-netwin commented on #7374
@vasilii-b I've one more query. I want to list default selected bundle options.
For this, I've created my own block in my custom module and added this block \Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option in the constructor as below:

 public function __construct(
        \Magento\Backend\Block\Template\Context $context,
        \Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\

[2016-11-14 07:11] vasilii-b commented on #7374
@deepak-netwin  move this one on stackoverflow. Let's keep magento2 repo issue channel clean :)

[2016-11-14 07:22] deepak-netwin commented on #7337
Any updates?

[2016-11-14 07:24] andreaschiffo commented on #7286
yeah its worth trying... but seems to me that \* and void ('') are treated the same way

**shop/vendor/magento/module-offline-shipping/Model/ResourceModel/Carrier/Tablerate.php** - line 187

[code]

@veloraven should i open another issue for what i have pointed out?

[2016-11-14 08:02] flipflap opened #7419 "Config product: Dynamic weight, this item has no weight (Magento 2.1.2)"
### Preconditions

1. Magento 2.1.2
2. Attribut Dynamic Weight default value: Yes

### Steps to reproduce

1. Adding config products get value correct "this item has weight"
2. Adding simple products to the config product gets wrong value "this item has no weight"
3. All simple products must be changed manually as guest check out has missing address for virtual products. Update multiple attributes

[2016-11-14 08:11] tkn98 commented on #4883
@benmarks: Just by chance, any list at hand?

[2016-11-14 08:17] Serhiy-Nazarov commented on #7398
https://github.com/magento/magento2/issues/6151

[2016-11-14 08:21] antbates91 commented on #6568
I can confirm I'm also having this issue with Magento 2.1.2, PHP 7.0.7 and MySQL 5.6.

We originally had Magento 2.0.7 installed and upgraded to 2.1.0, then 2.1.2.

I've also noticed this same issue with PayPal too. The email renders payerEmail instead of the translation.

![image](https://cloud.githubusercontent.com/assets/8401438/20257712/53b57902-aa43-11e6-8435-274b9c0baa6b.png)

![image](https

[2016-11-14 08:47] sevos1984 commented on #7373
Are you changing url key on all stores scope? Is 'Use Default' chekbox selected near url key on all scopes?

[2016-11-14 08:54] rhodimus commented on #7311
@veloraven thanks for the update.

This is also an issue on CE, as the links in my original post show.

[2016-11-14 09:02] sevos1984 commented on #7372
Internal ticket created MAGETWO-60919. Thanks for reporting

[2016-11-14 09:06] victor-v-rad commented on #6510
Hi @daschenbrener
The reason of the issue is in attribute with code webtoprint_template. Most likely it is from some extension. In particular in eav_attribute table the webtoprint_template record has empty frontend_input field. This cause the error you have.

[2016-11-14 09:07] shrff commented on #6726
We are having this problem also. It seems to work for a single day but not others. Please find attached some screenshots.

![screen shot 2016-11-14 at 09 00 11](https://cloud.githubusercontent.com/assets/1016895/20258877/b59d8cd0-aa49-11e6-8af2-b5abb4603cec.png)
![screen shot 2016-11-14 at 09 00 24](https://cloud.githubusercontent.com/assets/1016895/20258878/b5ca6e26-aa49-11e6-930f-04640ac7d9f4.pn

[2016-11-14 09:14] gediminaskv commented on #6498
Hello, I have the same issue. Where I can find "empty strings" ? No translations where done, so, from where those empty strings come?
Anyway, it's quite a strange thing because very first time when I ran collect-phrases everything was fine, but now it shows "missed phrase"...

[2016-11-14 09:16] sevos1984 commented on #7366
How can multiple websites use same store? Could you please provide full configuration of your stores?

[2016-11-14 09:16] shrff commented on #6725
We're also having the same issue. We have multiple websites setup and it doesn't seem to update or add the values together.

[2016-11-14 09:28] sevos1984 commented on #7361
Thanks for reporting, internal ticket id MAGETWO-59803

[2016-11-14 10:03] slavvka commented on #3333
@jehzlau the issue was fixed in the mainline (2.2-dev). I cannot predict when or whether it is going to be backported. If you need the fix please use sultion in 5e9691d, 0b47c71 and d46fb12.

[2016-11-14 10:10] jehzlau commented on #3333
Oic. I'll just wait for the 2.2 release. :D
Sent from my Oculus Rift® VR e-mail app

-----Original Message-----
From: Sviatoslav Mankivskyi notifications@github.com
Date: Mon, 14 Nov 2016 02:03:12
To: magento/magento2magento2@noreply.github.com
Reply-To: magento/magento2 reply@reply.github.com
Cc: Jehzeel Laurentejehzlau@dostscholars.org; Mentionmention@noreply.github.com
Subject: Re: [magento/mag

[2016-11-14 10:34] cscd98 opened #7420 "Custom payment method implementation"
**1st. Question:**

I am developing a custom payment method and I have a few questions. Using the new builder interface method introduced in 2.1, it seems natural to store the cc_number in the data assign observer, use it in the builder interface and then pass this on to the client.

But due to PCI compliance - I don't wish to store the cc number at all. How can access / store this temporarily wit

[2016-11-14 10:39] ludwig-gramberg commented on #4955
also, you should separate non-static configuration from static.
static: database connection, redis connection, etc.
non-static: cache enable/disable, other "settings"

[2016-11-14 11:09] orlangur commented on #7418
Is this feature any useful for you BTW? I remember it was planned to be removed at some point but either the plan was changed or it is simply a low priority task.

[2016-11-14 11:14] SerhiyShkolyarenko commented on #7186
OK, let's sum up: issue is reproducible on 2.1.0 and 2.0.9, it doesn't depend on browser and doesn't depend on Varnish.
@miro91 @dcabrejasazagra @studiotwentyeleven @Loxzibit how often is it reproducible? How many attempts should I perform for reproducing this behavior?
Have anybody tried 2.1.2 or current develop branch?
Is it reproducible for guest or for logged in user?
15 attempts on Firefox an

[2016-11-14 11:40] ludwig-gramberg commented on #5872
still an issue in 2.1.2

[2016-11-14 11:51] maderlock commented on #6296
Any progress on MAGETWO-58676?

[2016-11-14 11:55] maderlock commented on #6671
After my changes the errors go away in some cases. Still getting the error sometimes. Trying to track down exactly when.

[2016-11-14 12:00] ihor-sviziev commented on #7409
@dulv looks like your static content is broken. Please execute `php bin/magento setup:static-content:deploy` and try again.

[2016-11-14 12:06] sevos1984 commented on #7332
This is not a bug, as you see chromium is not supported browser http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements_browsers.html

[2016-11-14 12:06] #7332 closed, assigned to nobody

[2016-11-14 12:19] sevos1984 commented on #5681
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-14 12:19] #5681 closed, assigned to sevos1984

[2016-11-14 12:20] sevos1984 commented on #5825
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-14 12:20] #5825 closed, assigned to sevos1984

[2016-11-14 12:20] sevos1984 commented on #6594
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-14 12:22] ludwig-gramberg commented on #5868
this appears to be fixed in 2.1.2 can someone form the magento team confirm this?

[2016-11-14 12:31] tzyganu opened #7421 "Dependency check in the static tests fails for non core modules"
When trying to run the static tests for a custom module (to ensure its quality) the dependency checks in the static tests `bin/magento dev:tests:run static` always report missing dependencies even if the dependencies are declared in the `composer.json` file of the module.

### Preconditions
Magento version: 2.2.0-dev.

### Steps to reproduce
1.  Create a custom extension that does nothing much, bu

[2016-11-14 12:32] JimDantin commented on #7332
It says under Supported Browsers:

**"Chrome latest, latest–1 (any operating system)"**

In what possible way does that say that ChromeOS/Chromium is not supported?

[2016-11-14 12:38] sma09sjb opened #7422 "Gift options showing incorrectly in the basket Magento 2.1.2"
Gift options are showing for products when they shouldn't be.

### Preconditions
1. Magento version 2.1.2

### Steps to reproduce
1. Disable gift options in the backend
![image](https://cloud.githubusercontent.com/assets/19289786/20265067/c208bc52-aa66-11e6-8381-4431709bb50c.png)

2. Disable gift options against the product
![image](https://cloud.githubusercontent.com/assets/19289786/20265072/d5d7

[2016-11-14 13:01] sevos1984 commented on #7357
Thanks for reporting, internal ticket MAGETWO-60948

[2016-11-14 13:41] vasilii-b commented on #7392
@nmallepally I don't see page url in admin panel neither in Front-End.Maybe you have a typo in url key ?

[2016-11-14 13:57] kuldeepdaffodil commented on #5583
I am also facing same issue in fresh magento install, I try with apache and nginx both web server and try with php version 5.6.28 and 7.0.

Js error are still occur after  magento install and static content deploy. I am using magento 2.1.2 and also checked same in magento 2.1.1 community edition.
![jserror](https://cloud.githubusercontent.com/assets/12231089/20267366/66eee866-aaa0-11e6-95ff-304ed0

[2016-11-14 14:16] sevos1984 commented on #7369
Internal ticket created MAGETWO-60956. Thanks for reporting

[2016-11-14 14:21] kanduvisla commented on #7373
Can't seem to reproduce the error now... I do remember I had a previous issue with the LitExtension shop migration that created a lot of additional values for additional store views. But in the meantime I already cleaned up the database. Maybe that was the issue? That `url_key` was saved for different store views in the database?

@Tjitse-E : can you provide steps to reproduce the issue?

[2016-11-14 14:22] sreejith-cb commented on #7394
We are not using partial invoicing. In our case magento does to send trxtype => D to paypal.
Only A and S seems to be transferred. Is there any other settings needs to be changed in magento admin or paypal inorder to send trxtype' => D. We are using magento 2.1.0

[2016-11-14 14:23] nmallepally commented on #7392
Hi @vasilii-b
No i checked it, url key is right.
please find the clear images.
![pages not working](https://cloud.githubusercontent.com/assets/19605497/20268194/056d6ff6-aa76-11e6-9ef6-318af665235c.PNG)

![404 er](https://cloud.githubusercontent.com/assets/19605497/20268142/c3b61108-aa75-11e6-9387-e5508c62b3e8.PNG)

I had reindexed 5-10 times, no use. flushed static files and deployed static conte

[2016-11-14 14:28] oshmyheliuk commented on #7319
Hi @xaiamedia
Please give more details about how you made an upgrade from 2.0.6 to 2.1.2.
Did you run  **setup:upgrade** command after upgrade?
I tried to reproduce, but edit product works as expected, without exceptions

[2016-11-14 14:30] Frits1980 opened #7424 "Credit memo negative amounts in totals"
In The Netherlands (and EU also I believe) it is mandatory to provide a customer with a valid credit invoice as some amount is refunded. In this credit invoice the amount should be written in a negative because it's negative revenue.

Magento version 2.1.2

![creditmemo](https://cloud.githubusercontent.com/assets/6774843/20268318/eabcb0be-aa7e-11e6-9a10-445a206e7f33.png)
Screenshot of normal situa

[2016-11-14 14:34] oshmyheliuk commented on #7319
@carfantasy it depends on which columns you want to sort a table.
And maybe you try to fetch all records, you must use LIMIT statement in your sql queries.

[2016-11-14 14:49] oshmyheliuk commented on #6372
@rbostan Does your problem was resolved by the solution that described above?
Can we close this issue?

[2016-11-14 15:13] jurpro opened #7425 "Magento 2.1.2 cannot make Bundle Product for Downloadable Product"
Hello. I'm using Magento CE 2.1.2 having trouble to make a BUNDLE PRODUCT for download product + simple product.

### Preconditions
1.  I need to make a simple product with bonus downloadable product. Such as CD + Bonus digital download.

### Steps to reproduce
1. Make a simple product. - Not visible indivually
2. Make a downloadable product  - Not visible indivually
3. Make a Bundle Product - Vis

[2016-11-14 15:20] redelschaap commented on #7249
We have the same issue; #5548 does not fix the issue.

[2016-11-14 15:22] ostmond opened #7426 "Translation does not work for email invoice_new template item layout"
### Preconditions

1. OS: openSuSE 13.1
2. Magento 2.1.2 php 5.6.27

### Steps to reproduce

1. create a customized email template by loading invoice_new
2. create translation csv file in i.e. German under /srv/www/Magento-CE-2.1.1/vendor/magento/language-de_de/de_DE.csv
3. create invoice and send email

### Expected result

1. All texts in the email are translated to German

### Actual result

1.

[2016-11-14 15:26] oshmyheliuk commented on #5410
Hi @emoruzzi
Here is the list of required privileges.

[code]

Please run next query to check what privileges have user on concrete schema:
`SELECT PRIVILEGE_TYPE FROM information_schema.SCHEMA_PRIVILEGES WHERE 'magento2' LIKE TABLE_SCHEMA AND GRANTEE = 'mag_user@%';`

[2016-11-14 15:48] YevSent commented on #7394
@sreejith-cb, this issue is already fixed (MAGETWO-59124) and will be available in Magento 2.1.3.

Closed as duplicate to https://github.com/magento/magento2/issues/6716 .

[2016-11-14 15:48] #7394 closed, assigned to alena-marchenko

[2016-11-14 16:21] jlexposito commented on #5946
I'm facing the same bug on local:
- Magento 2.1.2
- PHP 7.0.8-0
- Ubuntu 16.04LTS
- All caches disabled
- Virtualhost
- No javascript errors
- Developer mode

Empty minicart until checkout is reached. Steps to reproduce:
1. Visit product view
2. Add product to cart. Expect products on minicart but anything displayed.
3. Visit  domain/checkout and minicart is updated.

[2016-11-14 16:50] GuidoHub commented on #7366
See screenshot below. I have added 4 websites that all use the same store.

![magento](https://cloud.githubusercontent.com/assets/22280971/20273737/b8672464-aa92-11e6-97b9-278360dbf2c6.jpg)

[2016-11-14 16:59] SerhiyShkolyarenko commented on #7388
Reproduced the issue on 2.1.2
@JesseEnd is it reproducible for you on latest develop branch?

[2016-11-14 17:06] fxdegroot opened #7427 "Messages appearing on incorrect pages and not being cleared"
Important : This issue seems to be different than the one fixed by MAGETWO-46014 and described for instance here https://github.com/magento/magento2/issues/4071

### Preconditions
1. Magento CE 2.1.2
2. Blank or Luma theme

### Steps to reproduce
1. Navigate to a category page containing products
2. Add a product to compare list from category page
3. From this same category page, subscribe to the

[2016-11-14 18:25] duffner commented on #2247
@alankent, this is a missing feature of Magento 1.  If you have Container->SubBlock1->SubBlock1A in order to do a simple set template on SubBlock1A you have to duplicate the SubBlock1 level in your override.    @davidalger, this is an issue, just because you think something is a question it's a question often times because Magento 2 is missing a Magento 1 feature.  If this is so very possible, try

[2016-11-14 18:29] navarr opened #7428 "Multiline fields in forms have no visible label"
### Preconditions

1. Magento CE 2.1.2
2. Custom \<uiComponent /> form

### Steps to reproduce

1. Create a \<field>
2. Set it's formElement to multiline
3. Load the form in the browser

(Example \<field>):

        <field name="street">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="label" xsi:type="string"

[2016-11-14 18:44] crantron commented on #5583
@DevXeni clear your browser cache -_-

[2016-11-14 18:48] crantron commented on #7364
Excuse me, but really? lol

[2016-11-14 18:52] frankthoeny commented on #7364
@crantron Please shed some light. What is missing from Magento in order to make it work on Windows?

[2016-11-14 19:12] dthampy commented on #7371
internal jira to track this : MAGETWO-60977

[2016-11-14 19:14] crantron commented on #7364
- download virtualbox (https://www.virtualbox.org/wiki/Downloads)
  - install a linux distribution, for example: https://www.centos.org/download/, or https://www.ubuntu.com/download/
    -  configure L.A.M.P stack on linux distro, for example: http://howtoubuntu.org/how-to-install-lamp-on-ubuntu
      - couple the latter with, http://devdocs.magento.com/guides/v2.0/install-gde/bk-install-guide.htm

[2016-11-14 19:38] erikhansen commented on #2978
@Will-I4M @matt-bailey It looks like there is an open task to address the issue with custom swatch sizes not working on 2.1.x: https://github.com/magento/magento2/issues/6382

[2016-11-14 19:52] azrob68 commented on #7178
Sorry it took so long to get back to this, but I got sidetracked on other projects. I've been waiting to see if a v2.1.3 is released that might fix some of the bugs, but so far no luck there.

The URL rewrites for my site are a disaster. When I generate an XML site map, many of the category and product entries still use the "catalog/product/view/id/" path instead of the SEO path I had assigned. Of

[2016-11-14 20:02] azrob68 commented on #7178
After re-reading your posts, I should also mention that I do have a lot of entries in my url_rewrite table where the request_path has no category name and starts with a "/". But the target_path is, for example, "catalog/product/view/id/397/category/26" -- category 26 is the root category for my store (which is not the primary store on my Magento installation), so that seems right to me in a way.

[2016-11-14 20:17] markalston commented on #5570
I think the problem is this line in ProductView.php but I am not sure.  This line seems to disallow min quantities less than 1.

magento/module-catalog-inventory/Block/Plugin/ProductView.php:        $params['minAllowed']  = max((float)$stockItem->getQtyMinAllowed(), 1);

[2016-11-14 20:53] mikel5 commented on #4506
We've discovered that bundling isn't usable because it requires localStorage.   And localStorage isn't available when in Private browsing mode on iOS devices.  And there are no try/catch checks around the localStorage calls.

[2016-11-14 21:18] karlsminton opened #7429 "Adding additional fields to checkout - validation doesn't work"
I've created a module to add additional fields to the magento checkout, which works as expected, by extending checkout_index_index.xml

The issue occurs when adding validation to the xml. I initially tried to add an equalTo validation so that the field must match the email field, but when that didn't work I tried the more standard _required-entry_.

When I run this code the asterisk shows up on th

[2016-11-14 21:26] KevinMace commented on #7186
We're able to replicate this,

**Preconditions**
Magento EE 2.1.2
Production mode
Varnish
Firefox and Chrome

Happening as a guest (haven't tested a logged in customer), the issue is occurring 90% of the time.

[2016-11-14 21:39] markalston commented on #5570
The following changes to afterGetQuanittyValidators in vendor/magento/module-catalog-inventory/Block/Plugin/ProductView.php fixes the problem on the item page and the edit cart page.  It is broken in the mini cart which seems to be completely ignoring the quantity decimal option.

[code]

[2016-11-15 00:43] mitch-tofi commented on #6159
as @moloughlin said, the issue is around address.line.1, the value is undefined, and the rules engine is failing due to that

[2016-11-15 00:58] wsagen commented on #7387
We now have 3 clients directly affected by this and it's holding up their go live. Can we get a view on when this will be resolved?

[2016-11-15 01:34] davidstillson commented on #3294
@tehXor Thanks for the tip on flagging the layout as cachable=false.

That worked like a charm for me!

[2016-11-15 02:16] markalston commented on #5570
Found a fix for the minicart problem which turns out to be a separate bug really where the minicart will only allow integer quantities. This is due to the HTML5 input type="number" in magento/module-checkout/view/frontend/web/template/minicart/item/default.html.

By adding step="any" after type="number" it allows decimal values in the minicart.

**NOTE for those using porto or other themes. You wi

[2016-11-15 02:23] nickmarx12345678 commented on #2782
same issue in 2.0.x

[2016-11-15 02:25] nickmarx12345678 opened #7430 "POST /rest/V1/carts/{cartId}/items"
PRECONDITIONS:
INSTALL MAGENTO 2.0.10
USE THE REST API
ADD A PRODUCT TO YOUR CATALOG, USE ITS ID AS AN ITEM ID
CREATE A CART, GET ITS ID, USE AS PARAMETER IN FOLLOWING REQUESTS AS EITHER CART_ID or QUOTE_ID

STEPS TO REPRODUCE
send an http POST request (https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html)
with json body:
[code]
to

`/rest/V1/carts/{cartId}/items` where cartId is the id of your

[2016-11-15 02:26] nickmarx12345678 commented on #7430
this is a duplicate of https://github.com/magento/magento2/issues/2782, which was said to be fixed -- it's not on 2.0.10

[2016-11-15 02:32] nickmarx12345678 commented on #7430
probably you need to update your \Magento\Quote\Api\Data\CartItemInterface $cartItem to include a cartId field, and use that instead of quoteId in the quote instantiation.

[2016-11-15 02:37] markalston opened #7431 "Min quantity should be seperate from default quantity on addProduct"
Currently if there is a min quantity set then the addProduct function defaults to using that when an item is added to cart.  This is probably fine for most use cases but for those of us allowing decimal quantities and minimums less than one this causes items to be added to the cart at the bare minimum.

We should be able to set the default add to 1 ( or any other number really) while still allowin

[2016-11-15 02:51] magnetic5355 commented on #2619
@Iazel - nice script :) --- here are a couple issues i found.

information: all of our sef urls are stored under store_id 0 in the catalog_product_entity_varchar table

1.calling php bin/magento iazel:regenurl is the only way I have found for the script to work.
2. calling the script deletes and regenerates the url even if it exists correctly
3. calling php bin/magento iazel:regenurl s4 1 - delete

[2016-11-15 03:23] jibrandlr commented on #4883
@tkn98 the "solution" has already been provided by @shockwavemk

[2016-11-15 04:47] Khaleel commented on #4506
@mikel5 Thank you for that insight - I was wondering why we get issues here and there - will look into this.

What I do temporary fix for now:
- All files on a CDN (CSS, JS, Images)
- All files minified manually, including the major JS libraries in vendor

Bundling is a science and in 12 years of ecommerce I have never seen an app, be it Gulp, Grunt or even Magento bundle JS files together correct

[2016-11-15 05:00] erikhansen commented on #2797
@maksek @mazhalai I'm still seeing this issue on 2.1.2 as well. Is there a new ticket open that covers this issue?

[2016-11-15 05:12] markalston commented on #5570
One more file needs an edit.  In module-checkout/Controller/Sidebar/UpdateItemQty.php the quantity is cast to an integer which breaks all decimal items.  Changing that cast to double (combined with the fix above) fixes the minicart for decimal items.  This is really an entirely different bug than the one I originally submitted so I can open a new issue with all these fixes if needed.

[2016-11-15 05:30] wenpingguo commented on #7386
Located the issue in
`vendor/magento/module-wishlist/view/frontend/layout/wishlist_index_index.xml`
change
`<argument name="price_type_code" xsi:type="string">wishlist_configured_price</argument>`
to
`<argument name="price_type_code" xsi:type="string">final_price</argument>`

Fixes in my theme, create
`app/design/frontend/<Vendor>/<Theme>/Magento_Wishlist/layout/wishlist_index_index.xml`
And add t

[2016-11-15 05:34] kuldeepdaffodil commented on #5583
Yes I clear browser cache but still same issue. Its very strange. I try this in another system with same magento zip file and its working fine. Mod_rewrite is already enabled and allow override is all in apache setting.
![js](https://cloud.githubusercontent.com/assets/12231089/20294308/2da3e84e-ab23-11e6-8caa-165dcf1c1559.png)

[2016-11-15 05:55] pynej commented on #4506
Never?  https://github.com/Shazwazza/ClientDependency is a .Net package that does this and more with ease. Minification, compilation, caching, versioning. It's really not rocket science.

##

Jeremy Pyne

##

"Fear is the mind killer." <Frank Herbert>

[2016-11-15 06:59] JesseEnd commented on #7388
On the latest develop branch cloned from github (2.2.0-dev), free shipping doesn't become an option in the cart at any point, even while Product 2 is in the cart.

[2016-11-15 07:08] deepak-netwin commented on #7337
@veloraven I'm waiting for your reply on this.

[2016-11-15 07:16] wenpingguo commented on #7418
Same here in 2.1.2.
Cannot disable module in admin Disable Modules Output.

@sjovanig You can still disable module module using command line in project root
`php bin/magento module:disable Vendor_Module`
If you disable a module this way, the module will be removed  from Disable Modules Output .
I think that's why "everything appears enabled". And you cannot enable it via Disable Modules Output.
ne

[2016-11-15 07:48] vasilii-b commented on #7374
@deepak-netwin please close this issue. Thanks.

[2016-11-15 08:02] hamdansalik commented on #5946
I have the same issue
![untitled](https://cloud.githubusercontent.com/assets/8696300/20297704/a764ff28-ab33-11e6-92f9-008e9bc75d11.png)

 Magento ver. 2.1.1

its default magento bug??

[2016-11-15 08:16] #7374 closed, assigned to nobody

[2016-11-15 08:19] vpkharabe commented on #3785
I am facing the same issue in magento 1.9. can you give some insights on that

[2016-11-15 08:22] adamzero1 commented on #5699
This issue exists on CE 2.1.2, the underlying error appears to be that if region selection is not visible at checkout, then no 'region_id' value is passed into the customer address object when it is being created.
Causing the following code to be executed:
vendor/magento/module-customer/Model/AccountManagement.php

<pre>public function createAccountWithPasswordHash(CustomerInterface $customer, $ha

[2016-11-15 08:23] veloraven commented on #7387
@ankitce please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.
You can add links for original issues as additional information but please format this issue according to the template.

[2016-11-15 08:24] NSanthoshpriya commented on #4895
@klict
How exactly did u solve this problem? I'm Having the Same issue but i'm not using the above stated module. So how to resolve?

[2016-11-15 08:31] veloraven commented on #7398
@hawok thank you for your report but I'm closing it as duplicate.

[2016-11-15 08:31] #7398 closed, assigned to nobody

[2016-11-15 08:38] fchalet69 opened #7433 "Special price on multi stores not updated on product save in product list"
When you have multiple stores and you want to set a special price on a specific store (don't set it on default view), then the save of the product don't update the special price for the store. A workaround is to reindex all product flat data.

### Preconditions
1. Magento CE 2.1.0

### Steps to reproduce
1. Install Magento CE 2.1.0
2. Create a second website, store and store view
3. Configure pric

[2016-11-15 08:43] redboxmarcins commented on #7387
We are experiencing same issue on Magento EE 2.0.10 - but I believe this is not related to EE and same thing will happen with CE

[2016-11-15 08:57] vasilii-b commented on #7392
@nmallepally on _2.2.0-develop_ works fine with Magento default theme and custom theme. Did you tried to use default theme ? Try to disable installed modules ( I see you have there _EMTHEMES_).

[2016-11-15 09:24] Nehace40 opened #7434 "Custom option price added in Up-sell product also"
I create one product with custom option(Radio Buttons) with different price, In frontend when i select custom option than product price is changed but that make changes in Up-Sell Products also

Magento Version 2.1

<a href="http://imageshack.com/i/plUgHRWNp" target="_blank"><img alt="FireShot Pro Screen Capture" src="http://imagizer.imageshack.com/img921/6756/UgHRWN.png" border="0"></a><br/>

<a

[2016-11-15 09:38] sergiojovanig commented on #7418
@wenpingguo

Executing "module:disable" you are completely disabling a module and that can breaks your site.

"Disable Modules Output" does not disable modules, only their output.

For example, module Magento_Review cannot be easily disabled cause its dependences, try it. The only way is forcing it with "--force" parameter.

So this functionality is broken and has to be fixed.

[2016-11-15 09:40] minhluan259 commented on #6138
Hi, @shiftedreality
I've exactly same issue #7393

[2016-11-15 09:43] lexbeelen commented on #6764
The extension has been moved and updated.
https://github.com/weprovide/magento2-module-fix-duplicate

[2016-11-15 09:55] thdoan opened #7435 "Reviews not shown in My Product Reviews"
### Preconditions

1. Magento 2.1.2
2. Developer mode
3. FPC disabled

### Steps to reproduce

1. Register an account and log in
2. Go to /caesar-warm-up-pant.html and write a review
3. Approve the review in Magento Admin
4. Clear all caches
5. Go to My Account / My Product Reviews

### Expected result

1. The review you just submitted should be listed.

### Actual result

1. No reviews are listed

[2016-11-15 10:02] DevXeni commented on #5583
I suppose it is a browser version.

[2016-11-15 10:09] nmallepally commented on #7392
@vasilii-b Yes, I did try with it as well.
I disabled installed modules checked it. No use, the page does not appear.
Do you have any work around for the fix? it is blocking us from going live.

[2016-11-15 10:12] vasilii-b commented on #7392
@nmallepally I do not have for now, but I'll go into it deeper today.

[2016-11-15 10:28] davidverholen opened #7436 "BlockRepository::getList() SearchResult Items have wrong type"
### Preconditions

1. default magento 2 installation (error in latest release and still in develop)

### Steps to reproduce

1. use getList() function of BlockRepository to load CMS Blocks

### Expected result

1. getItems() function returns an array of BlockInterface

### Actual result

1. getItems() function returns an array of associated arrays

https://github.com/magento/magento2/blob/develop/

[2016-11-15 10:39] quienti opened #7437 "[2.1.2]Error css in customer account with Toolbar-amount and mobile design"
### Preconditions
1. Magento 2.1.2
2. Chrome Version 54.0.2840.87
3. Mobile simulation

### Steps to reproduce
1. Go to Customer account
2. Go to 'My review product' or 'My downloadable product'

### Expected result
1. Toolbar-amount is correctly positioned

### Actual result
1. Toolbar-amount is not correctly positioned

![sans titre 1](https://cloud.githubusercontent.com/assets/7326954/20302480/

[2016-11-15 10:40] SerhiyShkolyarenko commented on #7388
Created MAGETWO-60993 for 2.2.0 branch as blocker for this flow.

[2016-11-15 10:50] onepack commented on #4883
@lgarridoj commented 7 hours ago
Still it would be nice if magento can make a permanent fix in stead of needing these default workarounds.

[2016-11-15 10:54] tkn98 commented on #4883
No need to feed the troll.

[2016-11-15 11:09] rishabhrkrai opened #7438 "Sometimes the estimation of shipping showed on checkout/cart: Shipping (undefined - undefined)"
### Preconditions

1.  I use Magento 2.1.1, php is 5.6.x
2. I use a custom shipping method of myself, which implement shipping charges based upon cart price.

### Steps to reproduce

1. Add a product and then go to checkout
2. Then click on view and edit cart
3. When come to the checkout/cart page it shows Shipping(undefined - undefined)

### Expected result

1. It shows the custom shipping method

[2016-11-15 11:11] lfritsche commented on #6350
@sevos1984
is there any update about this issue?
Our customers are not happy with the unknown date-formatting and I would need a solution quiet soon.
Thank you!

[2016-11-15 11:19] lucscu commented on #5694
Is your versionXXXXXX folder created automatically when run deploy?

[2016-11-15 11:37] simonrl commented on #1458
I worked around this by not removing the minicart block in the layout, but overriding the template file Magento_Checkout/templates/cart/minicart.phtml; the contents of the new file:

[code]

[2016-11-15 11:44] oshmyheliuk commented on #4756
Hi All,

The problem with infinite spinning on components page can appear when you have multiple repositories in composer.json file.
Please open your composer.json file and move to "repositories" section, and left only one repository,
like shown below.

[code]

As for me, it's work pretty fast, but it's a temporary fix and may cause some other problem.
This issue is known and will be fixed in futu

[2016-11-15 11:45] nagno commented on #5694
@LucScu nope, it should be handled by your web server configuration via URL rewrites.

[2016-11-15 12:07] deepak-netwin commented on #7337
@veloraven Are you able to reproduce the issue at your end?

[2016-11-15 12:09] lucscu commented on #5694
@nagno so after any deploy have i to change also webserver conf?

[2016-11-15 12:16] oshmyheliuk commented on #4889
Magento does not support the operating system you've listed. Please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html).

[2016-11-15 12:16] #4889 closed, assigned to oshmyheliuk

[2016-11-15 12:23] 12impress commented on #7319
Ok, thanks. But I still have this problem. I can not edit or add a product.
Also see my issue #6904

[2016-11-15 12:24] shaw-tech opened #7440 "Authorize transactions using a different currency will ALWAYS enter Suspected Fraud"
### Preconditions

1. Magento 2.1
2. A payment method which will AUTHORIZE only e.g. For Braintree:

![image](https://cloud.githubusercontent.com/assets/23167920/20305340/f6e8aede-ab2c-11e6-80f2-a50c5d046fd5.png)

3. Have an additional Allowed Currency on the frontend. E.g. for my testing I have a base currency of USD and an allowed currency of USD and GBP.

### Steps to reproduce

1. Use the curr

[2016-11-15 12:27] oshmyheliuk commented on #4896
Hi @webkulabhi ,
Unfortunately, I could not reproduce the issue as you described it.
Is this issue still actual?

[2016-11-15 12:30] veloraven commented on #7403
@thlassche thank you for your report.
Please, identify which version of Magento you are running.

[2016-11-15 12:39] nagno commented on #5694
@LucScu
nope, we are using nginx, and the relevant lines are already in the config file:
https://github.com/magento/magento2/blob/2.0.10/nginx.conf.sample
92, 101, 105

However if you are using apache, please check it

[2016-11-15 12:46] veloraven commented on #7412
@osmansorkar thank you for your feedback.
Please describe more detailed steps in format:

**Steps:**
1.
2.
3.

[2016-11-15 12:47] OktarinTentakel commented on #7363
We actually have witnessed the same behaviour, where calls to translate partly happen before translation.add and partly afterwards, resulting in completely disfunctional js-translations, partly querying empty _data objects.

The main problem seems to be the require part for translations in translation.phtml, which just tries to build data from dependencies asyncronously, but offers no real depende

[2016-11-15 12:49] thlassche commented on #7403
@veloraven 2.1.2

[2016-11-15 12:51] OktarinTentakel commented on #5820
Also see https://github.com/magento/magento2/issues/7363

Seems to be a timing problem with the init code in translation.phtml.

[2016-11-15 12:53] veloraven commented on #7415
@EliasKotlyar thank you for your report.
Please identify which version of Magento you are running.

[2016-11-15 13:40] kanduvisla commented on #6671
I'm trying it local now as well. But the weird part is: earlier, when I truncated the `url_rewrite`-table, the problem was gone, but now when I truncate the table and re-save the category I get the same error. I've looked in the database and there are no other categories that share the same URL key.

[2016-11-15 14:00] iazel commented on #2619
Yep, omitting the -s option is equal to -s0

Yes, the original use case was to regenerate only a well known list of products and that's why it also deletes it.

This is strange. It should delete AND regen the url for the provided store and product. Please note that the correct syntax is `-s4` and not `s4`, but I'll make some test when I have some time.

[2016-11-15 14:14] SerhiyShkolyarenko commented on #4883
Issue was fixed in MAGETWO-55900. Please, check the develop branch and leave a feedback if it works for you.

[2016-11-15 14:16] SerhiyShkolyarenko commented on #4883
Tasks for backporting MAGETWO-56919(ver. 2.0) and MAGETWO-56920(ver. 2.1)

[2016-11-15 14:25] Sam2k commented on #4756
@oshmyheliuk

Thanks to trying to help us, but for me it's not working at all.
Checking my "composer.json" and already have only one entry in "repositories" (exactly the same in your example).
Thank you Oleksandr.

Regards

[2016-11-15 14:30] miro91 commented on #2619
Hi @Iazel
I tried your script and I can't get URL rewrite for specific product and store.
I have 4 different stores and I want to generate URL's for one product for store with id = 3
`php bin/magento iazel:regenurl -s3 3082`
After execution I can't find record in my url_rewrite table for entity_id= 3082 and store_id = 3
for store 1 => 8 records (which seems ok because the product is related to 8 c

[2016-11-15 14:30] veloraven commented on #7419
@flipflap thank you for your report.
Please add Actual Result as well.

[2016-11-15 14:33] iazel commented on #2619
Hi @miro91
Maybe the 3082 product has "use default" in the url rewrite? All the products that use the default must be regenerated with the default store (don't use the `-s` option).
Give a try to:

[code]

[2016-11-15 14:36] flipflap commented on #7419
Ok, done.

[2016-11-15 14:53] veloraven commented on #7429
@karlsminton thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If it is more question than an issue please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.st

[2016-11-15 14:54] mcjwsk opened #7441 "Configurable attribute options are not sorted"
Configurable attribute options are not sorted on the product page.

### Preconditions
1. Magento CE 2.1.2

### Steps to reproduce
1. Create a configurable attribute and add two options at least.
2. Create a configurable product for these options.
3. Go to the product page and see the configurable attribute select (options).
4. Change attribute options sort order and flush all caches.
5. Go to the

[2016-11-15 14:56] samc2810 commented on #1691
Its a shame that you actually offer a DB-Column to turn this off but still validate the field hardcoded and that too at different places
"DRY" "SOLID"
plus your developers actually use interfaces and classes for the same instance in constructor DI
eg. _Magento\Customer\Api\AddressRepositoryInterface_ and _Magento\Customer\Model\ResourceModel\AddressRepository_

you guys really should try to make o

[2016-11-15 14:56] veloraven commented on #7431
@markalston thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-11-15 15:00] markalston commented on #5570
Found another place with decimal issues.  In module-catalog/templates/product/view/addtocart.phtml the qty input has type="number" it needs to have step="any" added (at least for decimal items).  Since this is only client side validation I just added step="any" under the type="number" and it fixes the problem.

It would probably be best to add a check for decimal item being set and then add step="

[2016-11-15 15:06] lietzmk commented on #6265
You can disable the mini cart completely until this is fixed.

Stores > Configuration > Sales > Checkout > Shopping Cart Sidebar and change "Display Shopping Cart Sidebar" to No

[2016-11-15 15:10] Fairlight60 commented on #5332
+1, I can confirm the same bug as @jameshalsall.  For my part I'm developing a custom shipping method extension and I'm checking for free shipping in the `collectRates(RateRequest $request)` method of my shipping carrier model.  The $`request` argument has a `getFreeShipping()` method and, if a free shipping coupon has been applied once, it will always return `true` even after the coupon has been

[2016-11-15 15:11] Fairlight60 commented on #7388
Similar to #5332.

[2016-11-15 15:19] andidhouse commented on #1691
@ilol can you pls point me to a supervisor or person we can speak as a agency. We are really close before to throw the towel on magento2. It seems like this is not gonna work for us like this at all. Spending more time in bugfixing then anything else. And also i see no change at all here also some magento people always say "they heard us" and "will implement" another system to fix bugs better. One

[2016-11-15 15:33] vasilii-b commented on #7392
**I've got this issue after disabling, then re-enabling page.**
The problem was that _cache_ was enabled, especially **Full Page Cache**.
After running command `bin/magento cache:flush` page is visible in front-end.

This was done on Magento 2.1.1 and 2.1.2 versions.

@nmallepally try to do the same - clear cache.

@veloraven I think label `CMS` should be deleted and `Cache` added.

[2016-11-15 16:01] janmyszkier commented on #6671
@kanduvisla if you look at the example you'll see that I didn't have them either and the error was there because it tried to INSERT them (which failed). not because they were already in the database.

[2016-11-15 16:19] springimport opened #7442 "The controller is not working"
I want to add my actions to `customer/` route. [Example](http://alanstorm.com/magento_2_advanced_routing/) (URL Route Sharing).

### Steps to reproduce
1. Create a module `CustomerSurvey`.
2. Create a controller `MyVendor\CustomerSurvey\Controller\Survey\Test`
3. Create a controller `MyVendor\CustomerSurvey\Controller\Survey\My\Test`
4. Create a `routes.xml`.
5. Go to http://example.com/customer/s

[2016-11-15 16:46] romainruaud commented on #6904
Hello @carfantasy .

I had similar issue : See https://github.com/magento/magento2/issues/7193

The patch provided by @sevos1984 solved my problem (you need to process the setup:static-content:deploy command), maybe you should give it a try.

[2016-11-15 16:49] romainruaud commented on #6336
Hello @choukalos

Just to let you know, I managed to generate by myself a sample catalog of 3 millions products since your tool is quite unusable for doing it.

I have been running many tests on several magento instance last weeks, let me know if you wanna hear about this.

BR.

[2016-11-15 17:43] lucscu commented on #5694
@nagno So have i to create the versionXXXXXX folder where XXXXXX is the "deployed number version"? And after any deploy have i to rename the version folder?

[2016-11-15 17:50] ennostuurman commented on #4334
@shabith I came across your post looking for a way to use and extend jQuery UI accordion in a custom Magento 2 theme.

I fixed it avoiding the collision between mage.accordion and jQuery UI accordion (accordion is mapped to mage.accordion in vendor/magento/module-theme/view/frontend/requirejs-config.js)

This solution is based upon Magento devdocs (http://devdocs.magento.com/guides/v2.1/javascript

[2016-11-15 18:34] DmitriiChukhnov1 opened #7443 "Incorrect generate of "url_rewrite" (301) when change "url_key" more than two times"
### Preconditions

1. Magento CE 2.1.2
2. PHP 5.6.24
3. MySQL 5.7.13

### Steps to reproduce

1. Create and save new visible and active product with 'url_key' = 'test-product-1';
2. Change 'url_key' to 'test-product-2' and save product again.
3. Change 'url_key' to 'test-product-3' and save product again.

### Expected result

1. should be three url rewrites in table 'url_rewrite':
    * test-prod

[2016-11-15 18:44] Ctucker9233 commented on #7408
@veloraven Any thoughts on what might be causing this issue?

[2016-11-15 19:13] aqua456 opened #7444 "Credit Card type not showing in admin order section for magento 2.1.0"
Credit cart type not showing in admin->sales->orders->payment information section.

I checked the core code module-payment/Block/Info/Cc.php and in _prepareSpecificInformation() function it seems that $this->getCcTypeName() is called. But the control is not going to that function. I tried by renaming the function getCcTypeName() to getCcTypeNames() and changed $this->getCcTypeName() to $this->getC

[2016-11-15 19:54] centerax commented on #3854
any feedback on this guys? still happening v2.1.2.

[2016-11-15 20:00] maksek commented on #3854
Hi @centerax, we have the issue logged into our JIRA, and it is confirmed. If you have enterprise client account - please raise the issue with enterprise support, so the issue will be expedited. At the moment it is not prioritized yet for upcoming patch releases.

[2016-11-15 20:04] centerax commented on #3854
thanks @maksek

[2016-11-15 20:15] 12impress commented on #6904
Hello @romainruaud .

I tryed this patch, but it didn't help me :-(

It looks like it is in the media or base image. But still don't know what the problem is..

[2016-11-15 20:32] 12impress commented on #6904
By debugging I see a big amount of product information. It looks like it is building some list of products (we have almost 450.000 of them in our database):

Here's the difficult part:

[code]

and so on.... (40.000 categories !)

[2016-11-15 20:35] aaronsturm commented on #5946
Hi all, this solution worked for me.
https://github.com/magento/magento2/issues/5144#issuecomment-230257842

[2016-11-15 20:51] aaronsturm commented on #5946
After additional comparison, I realized I had made updates to
`vendor/magento/module-catalog/view/frontend/templates/product/view/addto.phtml`
in my theme. The file had changed dramatically in the latest version of Magento. After deleting my theme's version, the cart worked as expected.

[2016-11-15 22:45] danbuchal opened #7445 "Bug in applyAction method of the Button component"
### Preconditions
Currently using Magento 2.1.1

### Steps to reproduce
I observed this issue when attempting to open a modal with a link and then call a method that takes a parameter.

This can be reproduced with the built in 'setTitle' method.

The following is from the modifier for my UI Component:
[code]

### Expected result
I should be able to:
1. Click the link and have the modal open
2. Clo

[2016-11-16 01:05] pavelshulga opened #7447 "Reloading after first checkout step submit in guest flow"
### Preconditions

1. Magento EE 2.1.2
2. nginx/Apache
3. Varnish/no varnish
4. Latest Chrome/Safari
5. Guest flow and only first attempt (clear cookies for current user before)

### Steps to reproduce

1. Add any product to cart
2. Go to checkout and fill first step form (product should have weight to make first step accessible)
3. Click on "Next" button to trigger first step validation
4. After

[2016-11-16 02:29] nau88xj commented on #4756
@oshmyheliuk Your solution of removing extra repositories fixed my problem.  Thank you!

[2016-11-16 07:34] veloraven commented on #7441
@dmaciej thank you for your feedback.
Please, identify exact version of Magento you are running.

[2016-11-16 07:40] veloraven commented on #7447
@doktorshu thank you for your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level

[2016-11-16 07:42] veloraven commented on #2971
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:42] #2971 closed, assigned to nobody

[2016-11-16 07:42] veloraven commented on #3109
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:42] #3109 closed, assigned to nobody

[2016-11-16 07:43] veloraven commented on #3250
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:43] #3250 closed, assigned to nobody

[2016-11-16 07:43] veloraven commented on #4672
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:43] #4672 closed, assigned to nobody

[2016-11-16 07:43] veloraven commented on #4714
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:43] #4714 closed, assigned to nobody

[2016-11-16 07:43] veloraven commented on #5743
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:43] #5743 closed, assigned to nobody

[2016-11-16 07:44] veloraven commented on #5986
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:44] #5986 closed, assigned to nobody

[2016-11-16 07:44] veloraven commented on #7101
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:44] #7101 closed, assigned to nobody

[2016-11-16 07:45] veloraven commented on #7137
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:45] #7137 closed

[2016-11-16 07:46] veloraven commented on #7141
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:46] #7141 closed, assigned to nobody

[2016-11-16 07:46] veloraven commented on #7160
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:46] #7160 closed, assigned to nobody

[2016-11-16 07:46] veloraven commented on #7185
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:46] #7185 closed, assigned to nobody

[2016-11-16 07:47] veloraven commented on #7201
I'm closing this issue.

[2016-11-16 07:47] #7201 closed, assigned to nobody

[2016-11-16 07:47] mcjwsk commented on #7441
@veloraven updated

[2016-11-16 07:47] veloraven commented on #7202
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:47] #7202 closed, assigned to nobody

[2016-11-16 07:48] #7209 closed, assigned to nobody

[2016-11-16 07:48] veloraven commented on #7236
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:48] #7236 closed, assigned to nobody

[2016-11-16 07:48] veloraven commented on #7239
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:48] #7239 closed, assigned to nobody

[2016-11-16 07:49] veloraven commented on #7240
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:49] #7240 closed, assigned to nobody

[2016-11-16 07:52] victor-v-rad commented on #7413
Hi @chrisincisive

Make sure you copied media folder from Magento 1 to Magento 2 with download files

[2016-11-16 07:52] rishabhrkrai commented on #7404
@Juigeli thanks for this. But what to do with **catalog search**. I set default sort by **Product name**. But in code magento by default set it to **Relevance** and when i sort by the product name, page refresh but nothing has changed.

[2016-11-16 07:52] veloraven commented on #6857
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:52] #6857 closed, assigned to nobody

[2016-11-16 07:53] veloraven commented on #6903
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:53] #6903 closed, assigned to nobody

[2016-11-16 07:53] veloraven commented on #6956
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:53] #6956 closed, assigned to nobody

[2016-11-16 07:54] veloraven commented on #7081
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:54] #7081 closed, assigned to nobody

[2016-11-16 07:54] veloraven commented on #7082
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:54] #7082 closed, assigned to nobody

[2016-11-16 07:55] veloraven commented on #7177
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:55] #7177 closed, assigned to nobody

[2016-11-16 07:55] veloraven commented on #7222
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-16 07:55] #7222 closed, assigned to nobody

[2016-11-16 08:05] tkn98 commented on #4883
@SerhiyShkolyarenko Can you please provide the commit hash(es) of the fix in MAGETWO-55900?

[2016-11-16 08:18] nagno commented on #5694
As far as I know, you don't have to.
The mentioned lines in the web server configuration should match any of the versionXXXXXX directories and should send the traffic to the correct path

[2016-11-16 08:27] klict commented on #4895
@NSanthoshpriya
First I tried to backtrack to the source problem but I ended in a dead end.
So I tried to disable all extensions and test it again. To my surprise I could create a credit memo with that result, it was clear that the problem was caused by an extension. So the next best thing I did was to enable one by one and test it again until I found the problem.

[2016-11-16 08:31] SerhiyShkolyarenko commented on #4883
@tkn98 here you are f67e598 :)

[2016-11-16 08:34] oshmyheliuk commented on #4756
@Sam2k

If this solution doesn't help probably you have some error on ajax request.
Please try to enable developer mode in .htaccess and look at the xhr requests in the network section.
If there are some errors, please paste them here.
![screenshot_3](https://cloud.githubusercontent.com/assets/18550571/20339970/d6fdc396-abe7-11e6-999e-799a04cb6b4d.png)
.

[2016-11-16 08:48] SerhiyShkolyarenko commented on #5699
OK. Reopened the issue.

[2016-11-16 09:19] veloraven commented on #7329
@pareshe thank you for update.
Please specify exact Magento version you are running.

[2016-11-16 09:26] wsagen commented on #7387
@veloraven - adding this on behalf of other users experiencing this issue.
Users have reported this issue across versions of Magento and using native Magento functionality. Below I have included a module that you should install to reliably reproduce the issue. I realise this is artificial but it exposes the issue reliably.
[Test.zip](https://github.com/magento/magento2/files/594159/Test.zip)
**Pre

[2016-11-16 09:29] pareshe commented on #7329
updated in issue. (Magento version : 2.1.2)

[2016-11-16 09:54] DreLincolin commented on #7178
This error seems to trigger in the case if you created new root category/ies - and use them as default for a store view. Even if you delete the default one which came with the install it wont be deleted from the database full way, you will just not see it anymore in the backend.
Or lets say you have 2 ROOT categories one of them is set as a website view default.
So when you try to save a new produ

[2016-11-16 10:15] SerhiyShkolyarenko commented on #6207
Thank you for reporting the issue. Our internal on is MAGETWO-61048.

[2016-11-16 10:30] benj4m commented on #4756
@Sam2k I found a solution to my issue at least, I removed the "require-dev" section from composer.json and it worked! It might not work for anyone else, but it's certainly worth a try if you're still having an issue!

[2016-11-16 10:30] SerhiyShkolyarenko commented on #5699
@adamzero1 please, provide steps to reproduce for community edition.
Menu item stores >> Attribute >> Customer address is absent in CE.

[2016-11-16 10:38] sigismund opened #7448 "Can't remove "Set Product as New From" value"
Once "Set Product as New From" value is set it can not be removed. It can be disabled by setting "To" value, but that value still persists in database. The main problem is, that whenever I change any attribute of the product, the product is set as "New".
I didn't test this on any other version of Magento than mine (2.1.2).

### Preconditions
1. Magento 2.1.2
2. PHP 7
3. MySQL 5.6

### Steps to rep

[2016-11-16 10:51] sammarcus commented on #5648
Is the issue here that if a weight is not provided it falls back to creating the variation as a Virtual product?

[2016-11-16 11:03] cscd98 opened #7449 "Authorize vs Capture vs Authorize and Capture"
In di.xml, most payment methods are adding an additional command called 'sale'.

[code]

This is a workaround as their is only 1) authorize 2) capture but not an additional 'authorize & capture' (i.e. sale) command.

Steps to reproduce:

If you set your payment method to 'authorize':

We do authorize with payment gateway
We then later have to settle it (capture) in the admin panel or some other me

[2016-11-16 11:15] lucscu commented on #5694
Is your magento setted to `production mode`?
Do you know that in production mode magento returns 404 for files not present on file system?
So if nginx enters in

[code]

magento returns 404.
i'm wrong?

[2016-11-16 11:26] nagno commented on #5694
We have a production instance as well however that is managed by our hosting partner and it is using apache. I have no idea, what are the settings there, because we don't have SSH access to that box.

Regarding the production mode: In production mode you have to run the static content deployment, so the file should be there physically without the versionXXXXXX directory.
The `//HERE` line rewrites

[2016-11-16 11:26] itaymesh commented on #5948
@duhon, what's the status of this bug?
We can't publish our website without a proper solution.
Thanks

[2016-11-16 11:28] visualdensity commented on #5260
I also had the same issue on 2.1.0 (yes, I _am_ upgrading it) - "_Something went wrong while resetting customer password._" error. So I checked `var/logs/system.log` and noticed I have this:

`main.CRITICAL: Exception message: Too many password reset requests. Please wait and try again or contact customerservice@infiniterewards.com.au.
Trace: #0 /var/www/magento/vendor/magento/module-security/Mode

[2016-11-16 11:30] vishveskrish commented on #7340
Hey,

We are also facing same issue. Does any one get the resolution ?
![saveinshipping](https://cloud.githubusercontent.com/assets/6836510/20345640/1dd5a24e-ac1e-11e6-84d3-6bfe428985e9.jpg)

Does any one get the solution?

[2016-11-16 11:31] ghost commented on #4387
Hi,
Has this issue been addressed at all? I am using Magento 2.1.2 and still the same issue is happening.
Is there a release planned that fixes this?

[2016-11-16 11:36] bjornharvold opened #7450 "Magento pages, blocks, customers, products not displaying"
### Preconditions

1.  DigitalOcean Magento droplet w Magento v2.0.7. 2Gb RAM

### Steps to reproduce
1. Go to Content > Pages
2. All pages that do a secondary AJAX call to retrieve either pages, blocks, customers or products are successfully retrieving the content but nothing gets displayed.
2. Tested on all the latest browsers

### Expected result
1. Content for each of these pages should displa

[2016-11-16 11:40] lucscu commented on #5694
Thx @nagno.
I think my problem is webserver redirect, because even if `pub/static/_requirejs/adminhtml/Magento/backend/en_US/secure/requirejs-config.js` exists on filesystem, if i link it from browser
`https://mydomian.com/static/version1479296115/_requirejs/adminhtml/Magento/backend/en_US/secure/requirejs-config.js`
it returns

[code]

[2016-11-16 11:55] tkn98 commented on #4883
@SerhiyShkolyarenko: Thanks!

[2016-11-16 12:17] kumarA8 commented on #3625
I am also struggling with same issue. Awaiting FIX :(

[2016-11-16 12:20] andidhouse commented on #3625
@routbiplab @wclabhinav totally agree - no idea how you can online with this...

[2016-11-16 12:21] razbakov commented on #5689
@devhn did you create email template in backend?

[2016-11-16 12:29] devhn commented on #5689
Not yet, would a good option to create one from the administration directly.

[2016-11-16 12:43] timneutkens opened #7451 "JSON resultFactory renders empty response"
### Preconditions

1. Magento 2.1.2
2. PHP 7.0.6
3. Percona 5.6 (Not relevant)

### Steps to reproduce
[code]

### Expected result
JSON should be rendered.

### Actual result
JSON result factory renders empty response when you set a big array of data, for example multiple products that have a long long description.

This is caused by this line: https://github.com/magento/magento2/blob/develop/lib/

[2016-11-16 12:43] razbakov opened #7452 "Custom email templates doesn't work"
### Preconditions
1. Magento 2.1.2

### Steps to reproduce
1. Go to Backend / Marketing / Email Templates / Add New Templates
2. Template: `New Order`
3. Click `Load Template`

### Expected result
1. Template is loaded

### Actual result
1. Error is shown, that template can't be loaded

[2016-11-16 12:44] razbakov commented on #5689
@devhn afaik there is a bug #7452 in custom email templates. If you didn't use backend for creating email templates and have it in files, then it is probably other issue.

[2016-11-16 12:50] devhn commented on #5689
Yes, #7452 is not related.

[2016-11-16 12:57] obynewman commented on #5008
I have the same issue when I am trying to save a CMS block or page on 2.1.2. Does anyone have a fix for this?

[2016-11-16 13:00] obynewman commented on #2966
I am using Magento 2.1.2 version and still have this error when i am trying to save a cms block or page. Can someone tell me where can I find/apply the fix?

[2016-11-16 13:11] osmansorkar commented on #7412
Steps:
1. Create A CSV File for import by same name image within multi directory
2. Upload file in pub/media/import directory with directory
3. Login Backend
4. Got to setting >> import
5. Select "Entity Type" Product
6.  Select "Import Behavior" Add/Update
7. Upload CSV File
8. Click Button "Check Data "
9. Click "Import"
10. Import will be successful but it will be upload only first image and sk

[2016-11-16 13:26] veloraven commented on #7208
@OZZlE thank you for your feedback.
Have you update template of your category page in order it shows additional attribute?
The mentioned setting specifies if attribute _can_ be shown on the category page if the category page template supports it.

[2016-11-16 13:37] veloraven commented on #7261
@oshadami thank you fot your feedback.
As I can see from the screenshot, orders are shown in the correct order as two last have '0' as the first digit while all other have '1'.
You can use sorting by Purchase date to see new orders first.

[2016-11-16 13:47] veloraven commented on #7331
@maximinimus thank you for your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.
Please let me know if you already have reported the issue this w

[2016-11-16 13:54] matmarchant commented on #7331
@veloraven
As I said, my use case is for an EE feature but the problem also exists in CE.

[2016-11-16 13:54] veloraven commented on #7365
@jameswithers please identify which version of Magento you are running.

[2016-11-16 13:57] arielmorry commented on #2966
see my comment above: https://github.com/magento/magento2/issues/2966#issuecomment-237814927

[2016-11-16 14:04] ghost commented on #7413
Hi Victor,

Thanks for your message.

I copied the downloadable folder across now but it's still the same. Actually i should have specified we sell ebooks but we don't host the ebooks themselves. That is done by a third party and we have a link that they click on to retrieve the book - so the ebooks themselves aren't stored on our server.

What isn't happening is that when we buy an ebook (by worl

[2016-11-16 14:26] pynej commented on #5648
I believe so @sammarcus.  I haven't checked to see if its been fixed in current version.

[2016-11-16 14:33] tkacheva commented on #7379
@atihomirov Thanks for reporting! please explain the business case you try to achieve here.

[2016-11-16 14:35] veloraven commented on #7375
@Jaap-Jan thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.
If this is more like an improvement please refer it to  the new  [Magento 2 Feature Requests an

[2016-11-16 14:37] ghost opened #7453 "can't generate sitemap.xml - make sure path writable but displays wrong path"
Hi,

I'm trying to generate the sitemap.xml but I get the following error:

The path "/pub/sitemap:///opt/magento/opt/magento/" is not writable

my magento installation is in /opt/magento so I'm not sure why it's doubling up the path?

I added the path as "/pub/sitemap". Although it wouldn't save when i tried to use the admin option in marketing -> sitemaps. I had to edit mysql to do that. Whateve