[2019-11-09 15:00] rafaelstz opened #25542 "Email fail - Invalid header value detected"
### Preconditions (*)

1. Magento 2.3.3
2. Change the Sender Name using punctuation.

<img width="1309" alt="Screen Shot 2019-11-09 at 11 56 09 AM" src="https://user-images.githubusercontent.com/610598/68530564-fe937900-02e7-11ea-95f4-83a816cd22a8.png">

### Steps to reproduce (*)

1. You can access the contact form and fill the name using punctuation like **Rafael Corrêa**
2. Or changing the Send

[2019-11-09 15:04] Den4ik commented on #25539
@vini1996 Currency symbol configuring at Stores->Currency->Currency Symbols and don't use glyphicon by default. Please check store configuration for first. O'm closing this issue. Please feel free to reopen if you will have more details about your situation

[2019-11-09 15:04] #25539 closed, assigned to Den4ik

[2019-11-09 15:28] nadroj467 opened #25543 "X-Magento-Vary and Varnish Cache"
### Preconditions (*)

1. Magento 2.3.3
2. Varnish 6 - with Magento VCL

### Steps to reproduce (*)

1. Visit website
2. Log in to account
3. Browse website categories and products whilst logged in

### Expected result (*)

1. Varnish cache hits for customer logged in browsing website product and category pages

### Actual result (*)

1. X-Magento-Vary cookie added to requests
2. Browsing category

[2019-11-09 15:31] nadroj467 commented on #25543
@magento give me 2.3.3 instance

[2019-11-09 15:31] magento-engcom-team commented on #25543
Hi @nadroj467. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-11-09 15:32] magento-engcom-team commented on #25543
Hi @nadroj467, here is your [Magento instance](https://i-25543-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25543-2-3-3.instances.magento-community.engineering/admin](https://i-25543-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-09 16:24] Jilco commented on #25367
See #25521

[2019-11-09 16:24] #25367 closed, assigned to webkul-ratnesh

[2019-11-09 19:18] Den4ik commented on #25532
@whyDidIMigrate Issue not reproduced on fresh 2.3-develop instance. Please check customizations on your site.

[2019-11-09 19:18] #25532 closed, assigned to Den4ik

[2019-11-09 19:19] Den4ik commented on #25532
![9p30o_2019-11-09_22-18-40](https://user-images.githubusercontent.com/1129623/68533865-f3b80300-033e-11ea-963c-5c74c73c9e26.jpg)

[2019-11-09 20:51] j-lloyd-slc commented on #23411
Still happening in Magento 2.3.3.

[2019-11-09 21:18] krzksz commented on #11950
I've checked this issue and I am not able to reproduce it on Magento 2.3.x using the path you've given. The validation for email address is correctly triggered for me when I try to go to the payment step.

[2019-11-09 21:27] krzksz commented on #11950
Please let me know if you are able to reproduce the issue on 2.3.x so we can reopen it, otherwise it's just closed.

[2019-11-09 21:27] #11950 closed, assigned to nobody

[2019-11-10 04:40] mrtuvn opened #25545 "Css file content can't read in pub after less compile"
I have my posted in magento.stackexchange.com
Here is the link for references
https://magento.stackexchange.com/questions/294982/css-cant-read-content-in-new-area-code-for-theme-deploy
Basically i create new area code but can't deploy static  contents of less file

### Preconditions (*)

1. Local development used in dockerize
https://github.com/clean-docker/Magento2
2. Ubuntu 18.10
3. Magento 2.3.

[2019-11-10 08:41] krzksz commented on #8875
Hello everyone, I looked into the issue and I'm going to close it for the following reasons:

- [There is an updated guide](https://devdocs.magento.com/guides/v2.3/howdoi/checkout/checkout_new_step.html#create-mixin) on adding an extra step which also describes adding mandatory mixins for either shipping or payment step depending where your custom one is added.
- Above was confirmed by us (creativ

[2019-11-10 08:41] #8875 closed, assigned to nobody

[2019-11-10 10:37] lincank commented on #23339
Hi @shikhamis11, I have the same issue on 2.3.2, and I believe this issue is due to Magento as I have config Nginx properly and it works fine on 2.2.x.

[2019-11-10 13:26] mrcks commented on #25503
OMFG the solution is so simple...
 $this->storeManager->setCurrentStore(2);

DOH !!!
Never mind, closing issue

[2019-11-10 13:26] #25503 closed, assigned to nobody

[2019-11-10 13:52] rakeshdonga commented on #21000
hello
i have same issue facing in magento 2.3.2
any solution about this?
Thanks!!

[2019-11-10 13:54] krzksz commented on #19805
I did some investigation and while form that was mentioned definetely needs some adjustments, the actual look should be similar to new order address form as it shares a common block parent and logic:
<img width="579" alt="obraz" src="https://user-images.githubusercontent.com/829189/68545101-00356d80-03ca-11ea-8dfa-f9297537a326.png">

[2019-11-10 15:33] rafaelstz commented on #25542
@magento give me 2.3-develop instance

[2019-11-10 15:33] magento-engcom-team commented on #25542
Hi @rafaelstz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-10 15:34] magento-engcom-team commented on #25542
Hi @rafaelstz, here is your [Magento instance](https://i-25542-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25542-2-3-develop.instances.magento-community.engineering/admin](https://i-25542-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-10 17:36] homer14b commented on #7413
A patch should rather check both types (product type and real product type), like in `SetLinkStatusObserver` and `SetHasDownloadableProductsObserver`:

`                if ($orderItem->getProductType() == \Magento\Downloadable\Model\Product\Type::TYPE_DOWNLOADABLE
            || $orderItem->getRealProductType() == \Magento\Downloadable\Model\Product\Type::TYPE_DOWNLOADABLE) {
                retur

[2019-11-10 21:46] PatrickVisserNZ commented on #15427
Problem also exists on Magento 2.3.2.
error...
main.CRITICAL: The "10000003523" order ID is incorrect. Verify the ID and try again. {"exception":"[object] (Exception(code: 0): The \"10000003523\" order ID is incorrect. Verify the ID and try again. at /home/xxx/public_html/vendor/magento/module-paypal/Model/Ipn.php:143)"} []

[2019-11-10 22:11] ray-moncada commented on #15115
Is the #15115 comment working out for you?

[2019-11-10 22:58] Genaker commented on #11372
I also have the same issue

PHP Fatal error:  Uncaught Error: Call to a member function getPackage() on null in /var/app/current/vendor/magento/module-deploy/Package/Processor/PostProcessor/CssUrls.php:215

php bin/magento -V
Magento CLI version 2.2.0

[2019-11-11 05:07] taihuuho commented on #25526
I am running into this issue as well. It's very intermittent.

[2019-11-11 05:55] ajijshekh123 commented on #25540
Give me @magento give me 2.3-develop instance

[2019-11-11 05:55] magento-engcom-team commented on #25540
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-11 05:56] magento-engcom-team commented on #25540
Hi @ajijshekh123, here is your [Magento instance](https://i-25540-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25540-2-3-develop.instances.magento-community.engineering/admin](https://i-25540-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-11 06:29] loibv5989 opened #25549 "Version 2.3.3 : URL Suffix Category/Product"
### Preconditions (*)

1. version 2.3.3
2. php7.2 , server nginx, mysql percona 5.7

### Steps to reproduce (*)

1. Go to Configuration->Catalog ->Search Engine Optimization (Product URL Suffix/Category URL Suffix->Set  /)
2.
![image](https://user-images.githubusercontent.com/30828860/68565317-b742ef00-0485-11ea-8c43-10141cfe6968.png)

Command : php bin/magento indexer:reindex, clean:cache
Example

[2019-11-11 06:35] ajijshekh123 commented on #25540
We can't able to upload the CSV file because of the Cron job. We need developers to help to verify the issue.

[2019-11-11 07:05] andrewbess commented on #25542
Hello @rafaelstz
Magento uses "zendframework/zend-mail" to send emails.
This module validates headers according to RFC 2822.
Please take a look at the [next document](https://www.rfc-editor.org/rfc/rfc2822.txt) (section 2.2).
As you can see, your sender name has the symbol "á" with code 195.
So, I think this task can be closed.
@magento-engcom-team how do you think about it?

[2019-11-11 07:15] andrewbess commented on #25535
@yiingfeiii I think you should ask this question your hosting provider, but not Magento team.
In addition, you can find third-party modules that add reindex actions to admin panel.
@magento-engcom-team I think this task can be closed.

[2019-11-11 08:01] Adel-Magebinary commented on #8933
guys,

try this.

Change your mysql configration usually located at

/etc/mysql/mysql-server.conf.d/mysqld.cnf
or
/etc/mysql/percona-server.conf.d/mysqld.cnf

Add to the final line with the followings:

innodb_autoinc_lock_mode = 2
transaction-isolation = READ-COMMITTED
innodb_optimize_fulltext_only = 1

Hope it helps you all.

[2019-11-11 09:01] harrigo commented on #9562
Similar seems to be happening for me with grouped products. If I visit a grouped product the child products seem to be cached with the "item_list" view causing issues with rendering of price on the child products when they are later visited on their specific product page showing "item_list" instead of "item_view". @hostep solution works for this.

Have not started properly debugging on vanilla ins

[2019-11-11 09:03] kolaente commented on #25531
It looks like this is a bit more difficult to reproduce than I thought. I'll do some more checks and update the issue here.

[2019-11-11 09:09] agallart commented on #25526
I execute the same posted json array 5 elements:
![image](https://user-images.githubusercontent.com/16067982/68574049-5ad1d680-0469-11ea-8541-d7e1c62589cb.png)

errors:
![image](https://user-images.githubusercontent.com/16067982/68574074-62917b00-0469-11ea-8757-1c5499124e61.png)

then I send elements with error:
![image](https://user-images.githubusercontent.com/16067982/68574148-8fde2900-0469-11e

[2019-11-11 09:24] engcom-Charlie commented on #8933
@Ctucker9233 answer here https://github.com/magento/magento2/issues/8933#issuecomment-552334354

[2019-11-11 09:27] samumaretiya commented on #9116
Hi Magento Team,

We have upgraded a store from Magento 2.2.6 to 2.3.2. The upgrade process should smooth the shop experience and not introduced any bug which is very terrible you know.

we facing an issue with payment deducted in the PayPal from the customer but nothing happens in the Magento backend and we are not even able to see the order data in the backend.

I have been closely monitoring th

[2019-11-11 09:31] fritzmg commented on #8933
@engcom-Charlie is this solution still the Magento development's team official stance on this issue? I suspect that some hosters will not allow this to be changed.

[2019-11-11 09:31] CRYX2 commented on #23736
I've the same problem on 2.3.3... issue is still open

[2019-11-11 09:47] samumaretiya opened #25550 "Payment done at paypal but order are not getting generated in Magento 2.3.2"
### Preconditions (*)

1. Magento 2 upgrade from Magento 2.2.6 to 2.3.2
2. Paypal express method

### Steps to reproduce (*)

1. create any customer with Magento 2.2.*
2. upgrade the Magento 2.2.* to Magento 2.3.2
3. enable Paypal express checkout

### Expected result (*)

1. order should be recorded in Magento 2.3.2 backend

### Actual result (*)

1. customer is charged properly.
2. payment deduc

[2019-11-11 09:49] FerihumF opened #25551 "HTML Minification leads to "syntax error, unexpected end of file" in .phtml files (M2.2.10)"
### Preconditions (*)

1. Magento 2.2.10
2. PHP 7.1.22

### Steps to reproduce (*)

1. Enable HTML minification and switch to production mode
2. Load any frontend page

### Expected result (*)

1. Page loads normally

### Actual result (*)

1. PHP Parse error:  syntax error, unexpected end of file in /path/to/magento/var/view_preprocessed/pub/static/vendor/magento/module-newsletter/view/frontend/t

[2019-11-11 09:50] sudheers-kensium commented on #25535
@yiingfeiii This is not Magento issue, so I am closing this issue.

[2019-11-11 09:50] #25535 closed, assigned to sudheers-kensium

[2019-11-11 09:58] sudheers-kensium commented on #25545
@mrtuvn After static-contents deploy give permission to pub folder

[2019-11-11 09:59] huykon commented on #8488
I have same problem on Magento 2.3.3. It occured when I add a coupon code and checkout with guest user. Anyone have same problem?

[2019-11-11 11:01] CRYX2 commented on #25038
I can confirm, @piotrusin temporary fix is working fine:

etc/frontend/di.xml
[code]

Plugin\Collection
[code]

[2019-11-11 11:10] magento-engcom-team commented on #25516
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22986` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-11 11:12] magento-engcom-team commented on #23908
Hi @mehmetuygun, @sdzhepa, @ffalkone.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [6f0623f3f0f95ecdb960f5de89371fb8c8d51abc](https://github.com/magento/magento2/commit/6f0623f3f0f95ecdb960f5de89371fb8c8d51abc)

The fix will be available with the upcoming `2.3.4` relea

[2019-11-11 11:12] kolaente commented on #25531
I've updated the issue description with better steps to reproduce and possible solutions.

[2019-11-11 11:36] engcom-Charlie commented on #25166
Hello @gcampedelli

I figured out this issue.

The bug is present only on versions prior to 2.3.2, because the bug calls the Cancel button in the Invoice grid. It should not be there because you cannot cancel Invoice as it is an accounting document and it should not be deleted. This order is already closed and it should not be restored.

And for example, in all Magento payment methods(included), a

[2019-11-11 11:36] #25166 closed, assigned to engcom-Charlie

[2019-11-11 12:12] magento-engcom-team commented on #25506
@elfeffe Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is add

[2019-11-11 12:13] magento-engcom-team commented on #25506
@elfeffe Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-11 12:31] oscarsanch commented on #12502
in \Magento\Store\App\Response\Redirect
[code]
need to change from:
`return (strpos($url, $unsecureBaseUrl) === 0) || (strpos($url, $secureBaseUrl) === 0);`
to:
`return (strpos($url, (string) $unsecureBaseUrl) === false) || (strpos($url, (string) $secureBaseUrl) === false);`

[2019-11-11 13:06] andrewbess commented on #25549
@magento give me 2.3-develop instance

[2019-11-11 13:06] magento-engcom-team commented on #25549
Hi @andrewbess. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-11 13:07] magento-engcom-team commented on #25549
Hi @andrewbess, here is your [Magento instance](https://i-25549-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25549-2-3-develop.instances.magento-community.engineering/admin](https://i-25549-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-11 13:19] engcom-Charlie commented on #10454
Hello everyone!
We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.

**Manual testing scenario:**

1. Install Magento Sample Data
2. Admin > Stores > Configuration > Catalog > Inventory > Stock Options > Display Out of Stock Products = Yes.
3. CLI php bin/magento indexer:reindex
4. Admin > Products > Catalog > Breathe-Easy Tank-XS-Puple, Breathe-Easy Tank-XS

[2019-11-11 13:19] #10454 closed, assigned to nobody

[2019-11-11 13:23] PaulEmich opened #25554 "FPT is not applied to configurable products"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Fresh Magento 2.3.3
2. Add FPT attribute
3. Configure FPT
4. Create a configurable product with a simple product (Price of 10$)
5. Set FPT attribute on simple product (Price of 0.15$)

### Expected result (*)
1. I expect the configurable product to show a price of 10.15$

### Actual result (*)
1. The configurable shows a price o

[2019-11-11 13:23] pauluse commented on #25554
@magento give me 2.3-develop instance

[2019-11-11 13:23] magento-engcom-team commented on #25554
Hi @pauluse. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-11 13:24] magento-engcom-team commented on #25554
Hi @pauluse, here is your [Magento instance](https://i-25554-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25554-2-3-develop.instances.magento-community.engineering/admin](https://i-25554-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-11 13:30] pauluse commented on #25554
I was able to reproduce the issue on a vanilla Magento instance;

![image](https://user-images.githubusercontent.com/1635879/68590896-dcd4f600-048f-11ea-8db6-8b184f2546a3.png)

[2019-11-11 13:39] magento-engcom-team commented on #25554
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22990` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-11 13:49] densen45 opened #25555 "Can't add Simple Products to Grouped Product"
### Preconditions (*)

1. Magento 2.3.3
2. Chromium: 78.0.3904.70 (Official Build), 64-Bit
3. Firefox: 70.0.1 (64-Bit)

### Steps to reproduce (*)

1. Create several Simple Products (I don't know how many are necessary or whether the amount of products has to do with this problem. We have ~2300 Simple Products.)
2. Go to Catalog > Products > Add Product > Grouped Product
3. Scroll down and click o

[2019-11-11 13:51] densen45 commented on #25555
@magento give me 2.3-develop instance

[2019-11-11 13:51] magento-engcom-team commented on #25555
Hi @densen45. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-11 13:52] magento-engcom-team commented on #25555
Hi @densen45, here is your [Magento instance](https://i-25555-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25555-2-3-develop.instances.magento-community.engineering/admin](https://i-25555-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-11 14:03] sudheers-kensium commented on #25555
@densen45 I am not able to reproduced in Magento 2.3-develop instance. So I am closing this,

[2019-11-11 14:03] #25555 closed, assigned to sudheers-kensium

[2019-11-11 14:07] stkrelax commented on #25475
hello @engcom-Delta,

we created the attribute ourself with eav setup.
![grafik](https://user-images.githubusercontent.com/48922246/68592551-a4371b80-0493-11ea-9efd-563cc5bec55c.png)

via di we are replacing the decimal LayerFilters

    <virtualType name="categoryFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filters" xsi:type="array">

[2019-11-11 14:08] densen45 commented on #25555
@sudheers-kensium how many Simple Products did you have created before you tested to add some to a Grouped Product?

I'm also not able to reproduce this issue with six Simple Products (test instance) but maybe the amount of Simple Products (how many rows have to be rendered) has to do with this problem.

[2019-11-11 14:12] stkrelax commented on #25475
The ATM dirty Fix is this in the OurVendor\OurModule\Model\CatalogSearch\Layer\Filter\Decimal
![grafik](https://user-images.githubusercontent.com/48922246/68593320-718e2280-0495-11ea-97ae-7271b4d03576.png)
setting $from to 0.00000001 when empty

[2019-11-11 14:14] sudheers-kensium commented on #25555
@densen45 I have verified with more than 1000 products.

[2019-11-11 14:18] taihuuho commented on #25526
Agreed. I was trying to import 100 products and got the same error. I guess it's something with the `cataloginventory_stock_item` being locked somehow, kind of race condition. In my cases, it's intermittently happening.

Also, most of the time, all of the single products imported successfully but when it comes to the configurable, I was always getting this error
[code]
<img width="1348" alt="Scree

[2019-11-11 14:33] engcom-Charlie commented on #25121
Hello @webkul-ratnesh

We are not able to reproduce this issue on the latest 2.3-develop branch(2.3.3 code is merged now).

**Manual testing scenario:**

1. Add a configurable product to cart.
![image](https://user-images.githubusercontent.com/51680850/68594540-70162780-04a0-11ea-9772-205b3d5fa33f.png)

2. Go to cart page and try editing that item.
![image](https://user-images.githubusercontent.co

[2019-11-11 14:33] #25121 closed, assigned to webkul-ratnesh

[2019-11-11 14:44] densen45 commented on #25555
@sudheers-kensium ok.

Maybe it has something to do with our custom attributes then. Or the combination of many products and many custom attributes. We have ~140 custom attributes. The scrollbar at the bottom of the table indicates that the table has a lot of columns, i.e. it tries to load many custom attributes.

[2019-11-11 15:04] mrtuvn commented on #25545
@sudheers-kensium i'm used account www-data for all commands so all issue related with permission is not a problem. I am sure pub will have write permission

[2019-11-11 15:05] amiddio opened #25557 "After v.2.3.3 updated: pagination, filtering, sorting on catalog page doesn't work"
### Preconditions (*)

1. M2.3.3.
2. PHP Version 7.1.22
3. Chrome, Firefox

### Steps to reproduce (*)

1. Go to catalog page
2. Click on pagination link (p2, p3 etc), or change product list mode, or change price rang, or change number of products display
3.
![Screenshot_1](https://user-images.githubusercontent.com/2463233/68595604-3995d800-04b3-11ea-91de-29f44bd77f18.png)

### Expected result (*)

[2019-11-11 15:12] nireshGTM opened #25558 "Reorder issue with products that have custom options as checkbox."
### Preconditions (*)

1. Magento 2.3.2 and Magento 2.3.3
2. Reordering an order with products that have custom options as checkbox(s).

### Steps to reproduce (*)

1. Create a product with custom option input type as Checkbox(Either Required or not)
2. Add this product to cart by checking the checkbox(s) and place an order.
(Now the order will be in pending state. Before any manual generation lik

[2019-11-11 15:20] engcom-Charlie commented on #25531
Hello @HironobuHiga

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.3-develop branch.

**Manual testing scenario:**
1. Remove all product images
2. Upload a new one: `curl -X POST $MAGENTO_URL/rest/V1/products/F1237/media -H 'Content-Type: application/json' -H "Authorization: Bearer $BEARER" -d @image_blue.json`
3. Upload a second one: `curl

[2019-11-11 15:20] #25531 closed, assigned to engcom-Charlie

[2019-11-11 15:29] engcom-Charlie commented on #8933
Hello @fritzmg
We are still waiting for response from Magento Devdocs team https://github.com/magento/devdocs/issues/5956#issue-520034543 .

[2019-11-11 15:53] Denda69 commented on #25549
Exactly it will bug on version 2.3.3.
I have test it on branch 2.3 develop but it is fine.
It only bug on version 2.3.3

![image](https://user-images.githubusercontent.com/30828860/68600116-7de5a000-04d4-11ea-964f-732e4ebc4826.png)
![image](https://user-images.githubusercontent.com/30828860/68600227-b1c0c580-04d4-11ea-92dd-5e98605d21a4.png)

Video :
[simplescreenrecorder-2019-11-11_22.48.36.mkv.zi

[2019-11-11 16:03] engcom-Echo commented on #25522
Hello @mangamuri

Thank you for contribution and collaboration!

This is related with CardConnect is third party extension and not included in magento by default.
Please refer to the [CardConnect support](https://support.cardconnect.com/contact-support), for advice or general discussion about this issue.

So I have to close this issue.
Thanks for your report!

[2019-11-11 16:23] AndyJAllen commented on #23754
Where is that css file located in a composer installation? I don't even see a css folder in \vendor\magento\module-backend\view\adminhtml\web

[2019-11-11 16:48] Ctucker9233 commented on #8933
@engcom-Charlie I can't make that change because I am hosted. I suspect a majority of magento users are hosted. You can't seriously expect that all users of magento will have access to their own server!

[2019-11-11 16:59] kolaente commented on #25531
@engcom-Charlie Hmm okay, thanks for checking. Do you think this was fixed in 2.3?

[2019-11-11 17:07] shikhamis11 commented on #25557
@magento give me 2.3-develop instance

[2019-11-11 17:07] southerncomputer commented on #8933
You could set transaction level per transaction!
This is done in the symfony library for database automatically. I'm sure it could be ported to zend DB framework.

SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

see how they do it here:
vendor/symfony/http-foundation/Session/Storage/Handler/PdoSessionHandler.php:                    $this->pdo->exec('SET TRANSACTION ISOLATION LEVEL READ COMMITTED'

[2019-11-11 17:07] magento-engcom-team commented on #25557
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-11 17:07] magento-engcom-team commented on #25557
Hi @shikhamis11, here is your [Magento instance](https://i-25557-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25557-2-3-develop.instances.magento-community.engineering/admin](https://i-25557-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-11 17:14] shikhamis11 commented on #25557
@magento give me 2.3.3 instance

[2019-11-11 17:14] magento-engcom-team commented on #25557
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-11-11 17:15] magento-engcom-team commented on #25557
Hi @shikhamis11, here is your [Magento instance](https://i-25557-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25557-2-3-3.instances.magento-community.engineering/admin](https://i-25557-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-11 17:21] shikhamis11 commented on #25557
hi @amiddio
I am not able to reproduce this issue as per your provided steps. Let me know here if you are still able to reproduce this issue or update the steps to reproduce this issue .

[2019-11-11 17:21] #25557 closed, assigned to shikhamis11

[2019-11-11 17:24] vitmarks opened #25560 "Export stock sources: exports old products, that are no longer exists"
### Preconditions (*)

1. Magento: 2.3.3
2. Create products and configurable products with stock via REST. I always manage the stock and products over the REST API. Maybe there is an issue.

### Steps to reproduce (*)

1. Create some simple/configurable products via REST
2. Delete some of them via REST
3. Create the same products again but with different sku and name and stock via REST

### Expect

[2019-11-11 17:41] Thomas-gt3 commented on #25557
I had the same problem, the Doofinder module was the cause.

[2019-11-11 18:07] blob84 commented on #10821
This doesn't work for magento 2.3.3 .

[2019-11-11 18:15] gioamato opened #25561 "[2.3.3] Bulk enablig products does not invalidate indexes"
### Preconditions (*)

1. Vanilla Magento 2.3.3 & 2.3-develop
2. Composer installation
3. PHP 7.3
4. Cron configured and working
5. Index Update by Schedule

### Steps to reproduce (*)

1. Select some disabled products
2. Select Action > Change Status
3. Select Enable

### Expected result (*)

1. Products' indexes invalidated (NOT 'ready')
2. Reindex Job added to cron schedule
3. Reindex during th

[2019-11-11 18:18] Flipmediaco commented on #10821
I agree, the workaround of adding "vendor/magento/zendframework1/library/" to include_path appears to not be required as of M 2.3.X

The workaround of adding "." to the Include path and open base directory remains a requirement.

[2019-11-11 18:18] gioamato commented on #25561
@magento give me 2.3.3 instance

[2019-11-11 18:19] magento-engcom-team commented on #25561
Hi @gioamato. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-11-11 18:19] magento-engcom-team commented on #25561
Hi @gioamato, here is your [Magento instance](https://i-25561-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25561-2-3-3.instances.magento-community.engineering/admin](https://i-25561-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-11 19:09] Olek89 opened #25562 "Backand Payments could not be saved"
### Preconditions (*)
1. Magento 2.3.3 after Upgrading from 2.3.2.
2. 7.2
2. Apache/2.4.25 (Debian)

### Steps to reproduce (*)

1. Click on Store -> Configuration ->  Custom -> Payment -> on clicking at the save button it`s only jumping to the top, but nothing saving

### Expected result (*)
there are no logs for it.
It still hanging on saveing, nothing doing there.

### Actual result (*)

First

[2019-11-11 19:09] gioamato commented on #25561
Cron seems to be not correctly working on the test instance:

![Annotation 2019-11-11 200725](https://user-images.githubusercontent.com/1331480/68613477-1e30ca00-04bf-11ea-87ca-3c67e1d5de6f.png)

Can't test the issue.

[2019-11-11 19:37] Olek89 commented on #25562
@magento give me 2.3.3 instance

[2019-11-11 19:37] magento-engcom-team commented on #25562
Hi @Olek89. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-11-11 19:38] magento-engcom-team commented on #25562
Hi @Olek89, here is your [Magento instance](https://i-25562-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25562-2-3-3.instances.magento-community.engineering/admin](https://i-25562-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-11 19:41] Olek89 commented on #25562
Thy, in these instance the error not happening, what could it be?

[2019-11-11 20:51] duhon commented on #24635
The solution to the problem is the author allure-phpunit accepted the pull request https://github.com/allure-framework/allure-phpunit/pull/44

[2019-11-11 21:11] dmytro-ch commented on #25052
@magento give me 2.3-develop instance

[2019-11-11 21:11] magento-engcom-team commented on #25052
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-11 21:12] magento-engcom-team commented on #25052
Hi @dmytro-ch, here is your [Magento instance](https://i-25052-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25052-2-3-develop.instances.magento-community.engineering/admin](https://i-25052-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-11 21:14] sdzhepa commented on #23908
Hello All
FYI: @mehmetuygun @ffalkone  @sbrendtro @onepack @gilesbennett @ron-jomashop @hostep @BenItt

The internal Magento team has delivered the fix for this issue in the scope of `MC-21568`.
 Previously I asked them took into account for fix and testing this  https://github.com/magento/magento2/issues/23908#issuecomment-546057109 .

Now to be sure I would like to ask you for confirmation, is t

[2019-11-11 22:29] Flyingmana commented on #24635
@engcom-Charlie its indirectly used by for example in https://github.com/magento/magento2/blob/c4fb1ee447862966afcf4115eb3e65ef8579d04d/dev/tests/static/phpunit-all.xml.dist#L27

[2019-11-12 00:21] ipoddine commented on #19604
It seems release 2.3.11 is still not compatible with PHP7.3...

and 7.2 active support until Nov 30th

Shall we hope for the support for version 7.3 anytime soon?

Thanks in advance

[2019-11-12 04:49] ajijshekh123 commented on #25562
Give me @magento give me 2.3-develop instance

[2019-11-12 04:49] magento-engcom-team commented on #25562
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-12 04:49] magento-engcom-team commented on #25562
Hi @ajijshekh123, here is your [Magento instance](https://i-25562-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25562-2-3-develop.instances.magento-community.engineering/admin](https://i-25562-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-12 05:00] ajijshekh123 commented on #25562
@Olek89 - I have reviewed this issue in Default Magento 2.3 instance but I didn't found any Custom option on the configuration section.
I think you are using a third party payment extension that's this issue you have to face.

@Olek89 - If you have found this issue again on your Magento instance. You can ask me the proper steps or send me details on which payment extension you are using or ask me

[2019-11-12 05:27] jignesh26 opened #25564 "Page jumps up once click on view detail to view products options on checkout"
Page jumps up once click on view detail to view products options on checkout
Same issue while click on view details from mini cart

### Preconditions (*)
Magento : 2.3.3

### Steps to reproduce (*)
1. Front end -> Add product to cart which have product options
2. Go to checkout
3. Click on order summary
4. Now click on view details for any product options

### Expected result (*)
It should stay on

[2019-11-12 05:30] krishprakash commented on #25564
@magento give me 2.3-develop instance

[2019-11-12 05:30] magento-engcom-team commented on #25564
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-12 05:31] magento-engcom-team commented on #25564
Hi @krishprakash, here is your [Magento instance](https://i-25564-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25564-2-3-develop.instances.magento-community.engineering/admin](https://i-25564-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-12 05:49] magento-engcom-team commented on #25564
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23025` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-12 06:19] taihuuho opened #25565 "Uncaught ReferenceError: require is not defined"
### Preconditions (*)

1. Magento v2.3.1 running in a docker container
2. Enabled MessageQueue consumer.
3. Ran `setup:upgrade`, `setup:di:compile` and `bin/magento setup:static-content:deploy`

### Steps to reproduce (*)

1. Login to admin portal
2. Click on Store > Configuration to change some settings

### Expected result (*)

1. The page should load fine

### Actual result (*)

1. The `Uncaugh

[2019-11-12 06:56] dimplemenon commented on #5929
This solution worked for me. Thank you :)

[2019-11-12 07:00] Olek89 commented on #25562
@ajijshekh123 thank you, i think i found the problem, because i am using an old PayPal Plus with PHP 7.2 thats no compatible, i have changed the php to 7.1 and its working, i will update thesse payment modul and will show if its work or not.

Thy.

[2019-11-12 07:23] ajijshekh123 commented on #25562
Okay @Olek89, No issue. You can update me whenever you have updated your payment module and verify the issue.

[2019-11-12 07:38] nireshGTM commented on #25558
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-11-12 07:38] magento-engcom-team commented on #25558
Hi @nireshGTM. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-12 07:39] magento-engcom-team commented on #25558
Hi @nireshGTM, here is your [Magento instance](https://i-25558-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25558-2-3-develop.instances.magento-community.engineering/admin](https://i-25558-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-12 07:55] sumitvgupta commented on #23411
Issue is still for me in Magento 2.3.2
I have applied all the patch which is mentioned by @david-fuehr.

[2019-11-12 08:06] vpashovski commented on #8933
Also if you want you can use plugin for `Magento\Framework\DB\Adapter\AdapterInterface::beforeTransaction()`. Something like this:

[code]

[code]

[2019-11-12 08:22] amiddio commented on #25557
Thank you @Thomas-gt3 for your answer. I don't use extension Doofinder.

---
I've got "301 Moved Permanently" on all catalog pages:
/cables/network-cables./?product_list_mode=list
/cables/network-cables./?product_list_dir=desc
/cables/network-cables./?product_list_order=name
/cables/network-cables./?p=2
...
So, Magento doesn't manage all GET variables on catalog pages. How I see...

Bu, it works c

[2019-11-12 08:25] nireshGTM commented on #25558
@magento-engcom-team

Unable to reproduce this issue in 2.3-develop instance.
It seems this is already fixed in develop branch.

[2019-11-12 08:25] #25558 closed, assigned to sdzhepa

[2019-11-12 08:25] sudheers-kensium commented on #25545
@mrtuvn I am not able to reproduced in Magento 2.3.3 instance.

[2019-11-12 08:28] mrtuvn commented on #25545
Seem problem not from magento . Just change some content of my less files and problem not happen again. Some less file with empty declare got issue with compile

[2019-11-12 08:31] nireshGTM commented on #25558
@magento-engcom-team
Unable to reproduce on 2.3-develop instance. It seems issue is fixed in 2.3-develop branch on another similar case with multiple checkbox (https://github.com/magento/magento2/commit/1acde36b19b177b58af916557a3d41dfe0612cc0).

[2019-11-12 08:48] #25545 closed, assigned to nobody

[2019-11-12 08:54] densen45 commented on #25038
@piotrusin thank you for sharing your temporary fix. Applying before and after plugins work great. However, when we applied the plugins globally (i.e. placed the di.xml in the etc directory of our module), we discovered that the product tables in the adminhtml were broken (as described here https://github.com/magento/magento2/issues/25555).

For those who want to apply this temporary fix manually,

[2019-11-12 08:57] densen45 commented on #25555
We have found the cause for our issue.
See my comment here: https://github.com/magento/magento2/issues/25038#issuecomment-552796629

[2019-11-12 09:31] engcom-Charlie commented on #25531
@kolaente probably fixed, but i can't find a commit

[2019-11-12 09:44] engcom-Charlie commented on #8933
@southerncomputer could you create a PR for it?

[2019-11-12 09:50] cits74 commented on #22743
same issue here, magento 2.3.2 (cannot upgrade right now because it is production env). patched as @mystix suggested, now works. I hope it will be fixed in future versions, I don't want to keep custom patches in the code.

[2019-11-12 09:54] Sharlyll opened #25567 "magento 2.3.3 suggesting numerous zendframeworks and other extensions"
### Preconditions (*)

1. Magento 2.3.3. Fresh install
2.  cloud server. (No preinstalled packages)
3. Ubuntu 18.04
4. Apache 2
5. Standard PHP extensions installed
6. php 7.2

### Steps to reproduce (*)

1. Install all php required extensions ( sudo apt-get install sudo apt-get install php7.2 libapache2-mod-php7.2 php7.2-mysql php7.2-soap php7.2-bcmath php7.2-xml php7.2-mbstring php7.2-gd php7.2-

[2019-11-12 10:04] magento-engcom-team commented on #25540
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23028` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-12 10:42] mvalenziano commented on #8276
@kervin how did you debug that ? the logs doesn't help at all

[2019-11-12 10:44] kervin commented on #8276
Try to log the message / log back trace.. Then figure out which module is throwing this error.

It might be an observer on add to cart.

[2019-11-12 11:20] southerncomputer commented on #8933
@engcom-Charlie  Maybe someone like @vpashovski would be better to make a pull since he could make it conditional to the database configuration to enable or disable the functionality!

[2019-11-12 11:32] samumaretiya commented on #25550
Hi @m2-assistant,

Thanks for your reply. yeah, I have already provided the step to reproduce the issue. well, yea, This issue is in vanilla Magento too. Fyi, We have upgraded Magento from 2.2.6 to Magento 2.3.2. I have also noticed that there are other people have also same issue but it's still on the table.

We are using a PayPal express checkout and I believe the address data being set from the

[2019-11-12 11:35] Bhavik-kumar commented on #9440
https://github.com/magento/magento2/issues/9440#issuecomment-351671697

above solution is work for me

[2019-11-12 12:25] LakshmanKatragadda commented on #22773
What is solution for this ..? i am slo got same issue and why ?

[2019-11-12 12:42] amolsinghc opened #25568 "Magento EE 2.3.X In Admin category Product filters are not showing"
### Preconditions (*)

1. Magento EE 2.3.2
2.

### Steps to reproduce (*)

1. Login to admin -> Go to catalog -> Category
2. Under products in category section
3. Filterable section is missing (It was available in Magento 2.2.X)

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/20821280/68672508-cc984600-0577-11ea-80d8-b26714a6d6de.png)

### Actual result (*)

1.
![im

[2019-11-12 12:46] sudheers-kensium commented on #25568
@magento give me 2.3-develop instance

[2019-11-12 12:46] magento-engcom-team commented on #25568
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-12 12:47] magento-engcom-team commented on #25568
Hi @sudheers-kensium, here is your [Magento instance](https://i-25568-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25568-2-3-develop.instances.magento-community.engineering/admin](https://i-25568-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-12 12:55] sudheers-kensium commented on #25568
@amolsinghc I am not able  to reproduced the issue on Magento 2.3-develop instance.

[2019-11-12 12:56] amolsinghc commented on #25568
@sudheers-kensium This issue reproducible in magento EE 2.23 edition

[2019-11-12 13:02] engcom-Charlie commented on #8933
@southerncomputer yes, sure.
@vpashovski could you do it?

[2019-11-12 13:06] edenduong opened #25570 "Can not preview template when edit queue"
### Preconditions (*)

1. Magento 2.3-develop + 2.4-develop

### Steps to reproduce (*)

1. Go to backend
2. Marketing->Newsletter Templates
3. Create New Template and save
4. Go to grid, in the row of the template which is created,  choose "Queue Newsletter"
5. Click "Preview Template"

### Expected result (*)

1. Show the preview of template

### Actual result (*)

1. Nothing happened, Javascrip

[2019-11-12 13:09] krishprakash commented on #25570
@magento give me 2.3-develop instance

[2019-11-12 13:09] magento-engcom-team commented on #25570
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-12 13:09] magento-engcom-team commented on #25570
Hi @krishprakash, here is your [Magento instance](https://i-25570-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25570-2-3-develop.instances.magento-community.engineering/admin](https://i-25570-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-12 13:14] magento-engcom-team commented on #25570
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23032` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-12 13:24] smithjho opened #25572 "Custom attribute is not working on advanced search"
I have created a product attribute and assigned to default group. The attribute is configured with Visible in Advanced Search=Yes and used them with configurable products. The configurable products have at least two simple products associated with it.

When I use advanced search to search items with a specified attribute values, no results shows up on the result page. I noticed that the issue occu

[2019-11-12 13:29] magento-engcom-team commented on #25568
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23033` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-12 13:29] smithjho commented on #25572
@magento give me 2.1.10 instance

[2019-11-12 13:29] magento-engcom-team commented on #25572
Hi @smithjho. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-11-12 13:33] engcom-Charlie commented on #25106
Hello @darshankhatri16

We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.

**Testing scenario:**
 Pass extra values in header apart from authorization token

**Result:**
Allowed passed extra values in the header:
![image](https://user-images.githubusercontent.com/51680850/68675856-6e606880-0561-11ea-96b3-2c29325b42c7.png)

So i have to close this issue.

I

[2019-11-12 13:33] #25106 closed, assigned to engcom-Charlie

[2019-11-12 13:38] Den4ik commented on #25564
@jignesh26 @krishprakash Fixed at https://github.com/magento/magento2/pull/23862 but this PR not included into 2.3.3

[2019-11-12 13:38] #25564 closed, assigned to Den4ik

[2019-11-12 13:43] dmanners commented on #25518
I'm guessing that this has the same root problem as https://github.com/magento/magento2/issues/25430

[2019-11-12 13:53] engcom-Charlie commented on #25084
Hello @LouNik1984

We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.

**Testing scenario:**

1. Create two or more store views
![image](https://user-images.githubusercontent.com/51680850/68676888-a8cb0500-0563-11ea-82f3-483d2ca6853f.png)

2. create products programmatically (code instead of backend admin)
My code:
![image](https://user-images.githubusercon

[2019-11-12 13:53] #25084 closed, assigned to engcom-Charlie

[2019-11-12 14:19] dipak85shinde opened #25573 "Products on wishlist search result show $0.00 price"
Preconditions:
1)Magento version - 2.3.3
2)PHP version - 7.2
3)Multiple wishlist functionality should be enabled
4)Two customers should be registered and have "Public Wishlist" for each

Steps to reproduce:
1.Login to customer account A
2. Add some configurable products with options like color or size to the wishlist which is public
3.Login to customer account B
4. Go to search wishlist using http

[2019-11-12 14:20] vpashovski commented on #8933
@southerncomputer Can you please explain in more details what you mean to make it conditional to the database configuration?

Also @mslabko opened internal issue and they are working on it. So we can wait for their solution.

[2019-11-12 14:22] dipak85shinde commented on #25573
@magento-engcom-team give me 2.3-develop instance

[2019-11-12 14:22] magento-engcom-team commented on #25573
Hi @dipak85shinde. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-12 14:23] magento-engcom-team commented on #25573
Hi @dipak85shinde, here is your [Magento instance](https://i-25573-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25573-2-3-develop.instances.magento-community.engineering/admin](https://i-25573-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-12 14:24] magento-engcom-team commented on #25093
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23034` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-12 14:30] dipak85shinde commented on #25573
@magento-engcom-team issue is related to enterprise edition. I am not able to test on [https://i-25573-2-3-develop.instances.magento-community.engineering/admin](url)

[2019-11-12 14:35] ptylek commented on #24290
@magento I am working on it

[2019-11-12 14:42] southerncomputer commented on #8933
@vpashovski It should be configurable as other database options are, to prevent an unacceptable database isolation mode from being hard coded in, say if it is not necessary (database is already set to read-committed or code requires alternate session transaction isolation level) ..

[2019-11-12 14:47] cstergianos commented on #22964
@magento-engcom-team I created a pull request for this one here: https://github.com/magento/magento2/pull/25574. Let's hope that this is now fixed.

[2019-11-12 15:03] engcom-Charlie commented on #25549
Hello @Denda69
I have to close this issue because it is not reproducible on a fresh Magento 2.3-develop(2.3.3 code is merged).

Thanks for your report!

[2019-11-12 15:03] #25549 closed, assigned to engcom-Charlie

[2019-11-12 15:13] rafaelstz commented on #25542
Hi @andrewbess,
But Magento's core requires the version, the Magento 2.3.2 doesn't have this issue.

[2019-11-12 15:30] engcom-Charlie commented on #24635
@Flyingmana since this problem is related to Allure, we can just wait when PR https://github.com/allure-framework/allure-phpunit/pull/44#issue-312713152 will be confirmed.
We hope the fix will already be in the next Magento release(2.3.4).

[2019-11-12 15:47] liquidia commented on #22036
same issue why i try to fix it with given solution .. it gives me following error
`1 exception(s):
Exception #0 (Magento\Framework\Exception\RuntimeException): Type Error occurred when creating object: Magento\Catalog\Block\Product\View\Details\Interceptor

Exception #0 (Magento\Framework\Exception\RuntimeException): Type Error occurred when creating object: Magento\Catalog\Block\Product\View\Deta

[2019-11-12 16:01] Flyingmana commented on #24635
@engcom-Charlie thats not completely right.
As a good OpenSource User, you can also test the solution, communicate them that it works, and encourage them to merge it, because it is a part, which affects your own Users.

Usually its a good and helpfull thing for maintainers, to hear this also from the bigger users of an open source library/tool.

[2019-11-12 17:35] ptylek commented on #24290
@magento give me 2.3-develop instance

[2019-11-12 17:35] magento-engcom-team commented on #24290
Hi @ptylek. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-12 17:36] magento-engcom-team commented on #24290
Hi @ptylek, here is your [Magento instance](https://i-24290-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24290-2-3-develop.instances.magento-community.engineering/admin](https://i-24290-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-12 18:03] engcom-tester commented on #24426
@magento i am working on it

[2019-11-12 18:05] Denda69 commented on #25549
Magento\UrlRewrite\Controller\Router class line 80 ?
public function match(RequestInterface $request)
    {
        $rewrite = $this->getRewrite(
            $this->getNormalizedPathInfo($request),
            $this->storeManager->getStore()->getId()
        );

        if ($rewrite === null) {
            //No rewrite rule matching current URl found, continuing with
            //processing of th

[2019-11-12 18:06] engcom-tester commented on #24426
@magento i am working on it

[2019-11-12 18:08] Denda69 commented on #25549
/**
     * Match corresponding URL Rewrite and modify request.
     *
     * @param RequestInterface|HttpRequest $request
     * @return ActionInterface|null
     */
    public function match(RequestInterface $request)
    {
        $rewrite = $this->getRewrite(
            $this->getNormalizedPathInfo($request),
            $this->storeManager->getStore()->getId()
        );

        if ($rewrite

[2019-11-12 18:08] engcom-tester commented on #24426
@magento i am working on it

[2019-11-12 18:10] engcom-tester commented on #24426
@magento i am working on it

[2019-11-12 18:17] engcom-tester commented on #24426
@magento i am working on it

[2019-11-12 18:21] engcom-tester commented on #24426
@magento I am working on it

[2019-11-12 19:35] sdzhepa commented on #23411
Hello @j-lloyd-slc  @sumitvgupta @samumaretiya

As I can see this issue should be fixed not in the `2.3-develop` the PR with the fix was proposed by @hostep  and delivered in https://github.com/magento/magento2/pull/25307

Could you please confirm that https://github.com/magento/magento2/pull/25307 fixed the issue and we can close it?
or we still have some cases/scenarios that not fixed

[2019-11-12 20:01] Olek89 commented on #25562
Thank you, now the backend works, but now i am hanging to place an order, its only like a spool, the ordermail is coming, but not in the shop the information, that the order has placed with this ID:

![image](https://user-images.githubusercontent.com/31250340/68706177-a1215580-058f-11ea-9e26-46077d9a8358.png)

[2019-11-12 20:15] magento-engcom-team commented on #25468
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#25466 by @TomashKhamlai in 2.3-develop branch
Related commit(s):
 - [5c0f4da5993319c55a30117067e65e27cc5241f4](https://github.com/magento/magento2/commit/5c0f4da5993319c55a30117067e65e27cc5241f4)
 - [962fe8c016405e2f95180650fc1f7debc3aff5b7](https://github.com/magento/magento2/commit/962fe8c016405e2f95180650

[2019-11-12 20:15] magento-engcom-team commented on #21904
Hi @Berdir. Thank you for your report.
The issue has been fixed in magento/magento2#25289 by @Tjitse-E in 2.3-develop branch
Related commit(s):
 - [55ea3fc961152dbdc00a8c20b37720da59f3169e](https://github.com/magento/magento2/commit/55ea3fc961152dbdc00a8c20b37720da59f3169e)
 - [8cc8edcfb046954ba6f0e625e247befbe865127d](https://github.com/magento/magento2/commit/8cc8edcfb046954ba6f0e625e247befbe865

[2019-11-12 20:15] #21904 closed, assigned to Tjitse-E

[2019-11-12 20:15] magento-engcom-team commented on #15959
Hi @kanduvisla. Thank you for your report.
The issue has been fixed in magento/magento2#24771 by @skylineop in 2.3-develop branch
Related commit(s):
 - [2826f74772af2091e8b5262d06beac7b79eaa700](https://github.com/magento/magento2/commit/2826f74772af2091e8b5262d06beac7b79eaa700)
 - [e8180399433fcd7489bebf63af9186071d323106](https://github.com/magento/magento2/commit/e8180399433fcd7489bebf63af91860

[2019-11-12 20:15] #15959 closed, assigned to nobody

[2019-11-12 20:15] magento-engcom-team commented on #24225
Hi @jorgb90. Thank you for your report.
The issue has been fixed in magento/magento2#24663 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [928e966f3d8f79a3bb5b22d60c63e6a31cda3e58](https://github.com/magento/magento2/commit/928e966f3d8f79a3bb5b22d60c63e6a31cda3e58)
 - [adcbfdd9b8c88e27465046e5111115e74c54e766](https://github.com/magento/magento2/commit/adcbfdd9b8c88e27465046e51111

[2019-11-12 20:15] #24225 closed, assigned to nobody

[2019-11-12 21:11] textarea opened #25575 "Calendar product custom option saves the day before when added to cart"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Create a DATE custom option on one product
2. Go to Stores -> Configuration -> Catalog -> Catalog -> Date & Time Custom Options
3. Set "Use JavaScript Calendar" to "Yes"
4. Go to product page, choose one date and add that product to cart

### Expected result (*)
1. same date on product options as I set on product page

### Actua

[2019-11-12 21:11] textarea commented on #25575
@magento give me 2.3-develop instance

[2019-11-12 21:11] magento-engcom-team commented on #25575
Hi @textarea. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-12 21:12] magento-engcom-team commented on #25575
Hi @textarea, here is your [Magento instance](https://i-25575-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25575-2-3-develop.instances.magento-community.engineering/admin](https://i-25575-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-12 21:24] sdzhepa commented on #24809
Hello @BezV8 @gauravagarwal1001
FYI: @shikhamis11

After a couple of internal discussion and clarification with module/functionality owner, I can confirm this is a mistake on DevDocs.

So, it should be fixed in the dev docs

[2019-11-12 21:28] #24487 closed, assigned to sdzhepa

[2019-11-12 21:31] sdzhepa commented on #23128
The internal Magento team is working on this issue now.
The fix should be delivered by internal Pull Request in the scope of `MC-17259`

[2019-11-12 21:32] textarea commented on #25575
Can't reproduce the issue on Magento 2.3-develop instance.
Closing.

[2019-11-12 21:32] #25575 closed, assigned to nobody

[2019-11-12 21:36] sdzhepa commented on #25568
Hello @amolsinghc  and @sudheers-kensium

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magent

[2019-11-12 23:01] #20379 closed, assigned to magudelo62

[2019-11-12 23:04] VladimirZaets commented on #6682
**Merged in commit**: 29cbd2fd3d8a92c81b2b12182f127dfac7a1ea3c

[2019-11-12 23:04] #6682 closed, assigned to torhoehn

[2019-11-12 23:28] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-11-12 23:28] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-12 23:29] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-12 23:32] quangdog commented on #16779
Still a problem. 2.3.3

[2019-11-13 04:55] taihuuho commented on #25565
Closing as I figured it out

[2019-11-13 04:55] #25565 closed, assigned to nobody

[2019-11-13 05:24] ajijshekh123 commented on #25562
Hi @Olek89,

Which payment method you are using for a place the order? It may be any third party payment module issue that's why to hang your place order system.
Can you please verify this scenario on default Magento?

Thanks.

[2019-11-13 05:35] prasad167 opened #25577 "Email validation failure for customer via API"
### Preconditions (*)

1. Customer should be created through API or programmatically.

### Steps to reproduce (*)

1. Try to create a customer through API

URL: https://Magentoinstancepath/rest/V1/customers

Data:
[code]
method type: post

### Expected result (*)

1. Validation should behave in the same way as in Magento UI
2. Validation of .com1 should happen through API as well

### Actual resul

[2019-11-13 06:48] prasad167 commented on #25577
@magento give me test instance

[2019-11-13 07:39] itsPranith commented on #25573
@dipak85shinde - Please reach out to Enterprise team and they will guide you on this issue.
To reach Enterprise team, you should login into Magento Enterprise  and from there you can start communicating.

I'm closing this ticket. As this forum is for Community contributions.

[2019-11-13 07:40] #25573 closed, assigned to itsPranith

[2019-11-13 07:50] ihor-sviziev opened #25578 "Cache control headers are missing when SDC is not pre-generated"
### Preconditions (*)
1. Apache 2.4 + php 7.2
2. Magento 2.3.3 or 2.3-develop
3. Magento mode: default, developer OR production with [enabled SCD on demand](https://magento.stackexchange.com/questions/260918/is-scd-on-demand-variable-available-for-magento-2-open-source-version) and without running static content deploy

_This issue isn't reproducing in production mode with compiled static content

[2019-11-13 08:45] engcom-Echo commented on #25482
Hello @Vogel335 @sea129 @elfeffe

Thank you for contribution and collaboration!

Please, give more information about how are you reproduce it.
Unfortunately I can not reproduce it.

[2019-11-13 08:47] engcom-Echo commented on #25482
Hello @Vogel335 @sea129 @elfeffe

Thank you for contribution and collaboration!

Please, give more information about how are you reproduce it.
Unfortunately I can not reproduce it by provided steps.
Thanks!

[2019-11-13 08:48] engcom-Echo commented on #25482
Hello @Vogel335 @sea129 @elfeffe

Thank you for contribution and collaboration!

Please, give more information about how are you reproduce it.
Unfortunately I can not reproduce it by provided steps.
Thanks!

[2019-11-13 09:47] asim-vax commented on #25182
We are having the same issue with UK/GB locales, has there been any progress on this?
It is hard work to have to delete dates that shouldn't be there (especially in EE, where there is no special_from_date option in the admin)

[2019-11-13 10:52] arendarenko commented on #18717
@magento-engcom-team give me 2.3.3 instance

[2019-11-13 10:52] magento-engcom-team commented on #18717
Hi @arendarenko. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-11-13 10:53] magento-engcom-team commented on #18717
Hi @arendarenko, here is your [Magento instance](https://i-18717-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-18717-2-3-3.instances.magento-community.engineering/admin](https://i-18717-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-13 10:54] adamzero1 commented on #23411
For any that is still getting this and needs it fixing/changing, I have created a patch.
Changes it from and error to an info message, which I feel is more appropriate, as I agreed with @david-fuehr it is a false positive.

The patch can be found here: https://magento.stackexchange.com/a/295470/70781
Hope you find it useful

[2019-11-13 10:55] danielrona commented on #22215
@shikhamis11
@magento-engcom-team

Is there any information on when this issue will be fixed?
As  this is still not working with [2.3.3](https://github.com/magento/magento2/tree/2.3.3)

[2019-11-13 10:57] chris-pook commented on #25099
For anyone arriving here wondering what to do whilst waiting for 2.3.4 to drop, I can confirm that the following patch (based on @davygxyz 's link to the 2.3-develop modifications), applied to 2.3.3 using Composer does indeed fix this issue:

[code]

[2019-11-13 10:58] arendarenko commented on #18717
@magento-engcom-team give me 2.3-develop instance

[2019-11-13 10:58] magento-engcom-team commented on #18717
Hi @arendarenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-13 10:58] magento-engcom-team commented on #18717
Hi @arendarenko, here is your [Magento instance](https://i-18717-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-18717-2-3-develop.instances.magento-community.engineering/admin](https://i-18717-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-13 11:00] jaydalisay opened #25579 "Coupon code not valid when I add any condition through rest checkout"
### Summary (*)

As title stated, at the moment if a cart rule has conditions (subtotal >= etc), the response returns as "Coupon not valid"

[2019-11-13 11:06] arendarenko commented on #18717
Hi @magento-engcom-team
I don't think it's a proper fixes, because in this case Magento did not redirect user to a proper url (in our case - without trailling slash), and this causes that we have two urls which are returns the same result:
/some-url/?some-param=1
/some-url?some-param=1

It may cause indexation issues.

I think that proper way is redirect to url without trailling slash AND keep que

[2019-11-13 11:19] subbu1993 commented on #25495
@magento-engcom-team Is there an update on this issue ?

[2019-11-13 11:22] webkul-ajaysaini commented on #25572
@magento give me 2.3.3 instance

[2019-11-13 11:22] magento-engcom-team commented on #25572
Hi @webkul-ajaysaini. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-11-13 11:23] magento-engcom-team commented on #25572
Hi @webkul-ajaysaini, here is your [Magento instance](https://i-25572-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25572-2-3-3.instances.magento-community.engineering/admin](https://i-25572-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-13 11:24] wittyvishwas opened #25580 "magento/magento2-functional-testing-framework 2.3.9 Not compatible with PHP7.3"
### Preconditions (*)

1. Magento 2.3.3 setup with PHP 7.2 installed using a composer
2.

### Steps to reproduce (*)
1. Upgrade to PHP 7.3
2. As friendsofphp/php-cs-fixer current version(~2.13.0) does not support PHP7.3 , execute

to upgrade the version

### Expected result (*)
1. Php-cs-fixer version upgraded to  ^2.16

### Actual result (*)

[2019-11-13 11:40] dev-ajaysaini opened #25581 "Issue in custom options"
Getting issue on product page and cart page if product option type is changed from text to date after adding product to cart.
https://prnt.sc/pwckw1

### Preconditions (*)

Use Magento 2.3.3 instance

### Steps to reproduce (*)

1. Create simple product with a custom option with Option Type **Field**
2. Add this product to cart.
3. Again edit product and change Option Type to **Date**
4. Now check

[2019-11-13 11:51] TomashKhamlai commented on #25468
Bot closed the issue because of merged coverage. The issue is still reproducible and is ready for development.

[2019-11-13 11:52] sebastian-virtua commented on #15545
Hey guys, since the fix for CE is not there yet we've created a module that fixes this issue. It uses the idea that @vadim-shulyak posted but we overwrite one more class - in our case the custom attributes were the bigger problem. We used it on m2.2.10 and m2.3.1 and it solved our problems. If you want you can find the module here -> https://packagist.org/packages/we-are-virtua/magento2-search-fix

[2019-11-13 11:52] wittyvishwas commented on #25580
issue will be fixed using magento/magento2-functional-testing-framework ^2.5

[2019-11-13 11:56] #25580 closed, assigned to nobody

[2019-11-13 12:03] unailopezvdshop commented on #24941
any progress on this one?

[2019-11-13 12:13] magento-engcom-team commented on #25506
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23087` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-13 12:26] ihor-sviziev commented on #18717
This definitely related to https://github.com/magento/magento2/pull/10043 that was fixed by me.
However at that time I missed cases with GET params, so

Expected behavior should be following:

| # | Correct? |request_path | target_path | User Request | Actual Response | Expected Response |
|---|-|-------------------|-----------------|---------------------|------------------------|-----------------

[2019-11-13 12:27] magento-engcom-team commented on #25026
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23088` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-13 12:37] engcom-Echo commented on #25482
Hello @Vogel335

Thank you for your report and collaboration!
We are not able to reproduce this issue on the 2.3.3 branch by provided steps.

**Testing scenario:**

**Preconditions:**

1. Magento Api Key is saved in Magento Shop
2. Mozilla FF (70.0.1 (64-bit))

**Steps to reproduce:**

1. Go to Marketing -> Google shopping Ads
2. Press Begin Onboarding
3. Enter Google Account

**Result:**
No need

[2019-11-13 12:49] krishprakash commented on #25581
@magento give me 2.3-develop instance

[2019-11-13 12:49] magento-engcom-team commented on #25581
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-13 12:50] magento-engcom-team commented on #25581
Hi @krishprakash, here is your [Magento instance](https://i-25581-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25581-2-3-develop.instances.magento-community.engineering/admin](https://i-25581-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-13 12:57] magento-engcom-team commented on #25581
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-13 12:58] magento-engcom-team commented on #25581
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23089` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-13 13:05] elfeffe commented on #25482
Well, I do the same, I have the API key installed in Magento, and look what a beautiful console I have in Chrome

![8f484af7974b6d63e30df6a052834a60](https://user-images.githubusercontent.com/4717507/68766156-a1b4fd00-061e-11ea-9ff1-aa433c9fdfd2.png)

[2019-11-13 13:51] engcom-Echo commented on #25482
Hello @elfeffe
Seems like this issue is duplicate of [#25506](https://github.com/magento/magento2/issues/25506).
Could we close it as duplicate?

[2019-11-13 13:54] Vogel335 commented on #25482
Hello
yes you can close it as duplicate

[2019-11-13 13:54] joshiprashiddha commented on #19407
Followed @dewayneholden suggestion, that solved my issue for CE 2.2.6
Checked same line in CE 2.3.2, its still not corrected.

[2019-11-13 14:04] engcom-Charlie commented on #23965
Hello @andrewbess
I still can't reproduce this issue on a fresh Magento 2.3-develop.
Yes, we have to use comman `bin/magento setup:db-declaration:generate-whitelist` after updating db-shema.
So this issue should be closed.
Thank you for contribution and collaboration!

[2019-11-13 14:04] #23965 closed, assigned to engcom-Charlie

[2019-11-13 14:20] engcom-Echo commented on #25482
Closed as duplicate of  [#25506](https://github.com/magento/magento2/issues/25506).

[2019-11-13 14:20] #25482 closed, assigned to nobody

[2019-11-13 14:24] AaronONeill commented on #23450
We had a similar issue with bulk updating product attributes also, enabling the following worked:

`'cron_consumers_runner' => [
        'cron_run' => true,
        'max_messages' => 50,
        'consumers' => [
		'product_action_attribute.update',
		'product_action_attribute.website.update'
        ]
    ],
`

This did however cause another issue where processes are not being killed on the server

[2019-11-13 14:25] Vogel335 commented on #25506
Hello
here is screenshot of my broswer debugg console when opening Google Shopping Ads
![Bildschirmfoto 2019-11-13 um 15 23 47](https://user-images.githubusercontent.com/57420558/68772277-d24e6400-0629-11ea-8543-8312becd32c4.png)

[2019-11-13 14:28] elfeffe commented on #25506
@engcom-Echo You added a point 4 saying it works in Firefox, but it doesn't.
It just ask for the API key, but after you add it, you get the same blank screen as in Chrome
So, it doesn't work on FF, it just let you reach one more step, add the API key

[2019-11-13 14:59] engcom-Charlie commented on #25219
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-11-13 15:12] Asitis commented on #10402
I completely agree. I think it's a weird stance to say "oh yeah, this is a bug, it's reproducible in all versions, but we're not fixing it because too few people respond to this topic". I've been pulling my hair out the last two days trying to figure out why my email templates wouldn't work. This doesn't bode well for my attitude towards Magento as a system; in my experience in this case it's a br

[2019-11-13 15:19] chris-pook commented on #25219
Updated description and description to reflect use of ImageFactory to replicate this issue.

[2019-11-13 16:01] Olek89 commented on #25562
Hi @ajijshekh123,

i am using the payment modul from iways for paypal plus.

https://github.com/i-ways/magento2-paypal-plus

I can`t install it on the testinstance of magento2, sorry. :-(

[2019-11-13 16:29] john-ofagbe commented on #23769
I had the same issue when creating a custom email template on Magento 2.3.2. as @hostep commented above, I resolved the issue by fixing a bug on my email.html template file.

[2019-11-13 16:36] arnoudhgz commented on #5105
The error appears again, and it seemed like that the change to fix the issue has been reverted in https://github.com/magento/magento2/commit/62fed32a567bbdf018b0b0c8e9631d44cc48194d

[2019-11-13 17:08] krzksz opened #25586 "Mixins are not applied for advanced bundled modules"
### Preconditions (*)

1. Bundle your JavaScript files using one advanced bundling technique of your choosing, e.g. https://github.com/magento/baler

### Steps to reproduce (*)

1. Open the shop.
2. Notice that mixins are neither loaded nor applied for any of the bundled modules.

### Expected result (*)

1. Mixins are properly loaded and applied for all modules.

### Actual result (*)

1. Mixins

[2019-11-13 17:22] SigmaAndrei commented on #24992
Hello Guys,

I have absolutely same issue after updating from 2.2.9 to 2.2.10.  Is there a solution to that issue?

Sincerely,
Andrei.

[2019-11-13 17:53] rf-magma commented on #23450
same issue upgrading to 2.3.3 (php7.2), no async.operations.all in env.php (never activated rabbit). Have installed Redis with the upgrade but don't see how it could be the cause. Same for Elasticsearch 6.8.4.
Sure thing all started with 2.3.2 or 2.3.3 (upgraded closely to solve multiple bugs), htop constantly  monitored, don't remember to have seen before the processes.
thanks @hostep for taking

[2019-11-13 20:16] dspiritocme opened #25588 "Default billing/shipping addresses overwritten in 'My Account'"
### Preconditions (*)

1. 2.3.1 Cloud Commerce
2. can provide project URL if requested.

### Steps to reproduce (*)

1.  Create account from frontend of website
2.  Confirm Account
3.  Login to My Account
4.  Click Address book
5.  Click edit default billing or shipping address
6.  Save
7.  Note both addresses were updated

### Expected result (*)

1.  Create account from frontend of website
2.  C

[2019-11-13 20:18] dspiritocme commented on #25588
Confirmed on vanilla-ish install. http://magento2demo.firebearstudio.com/

[2019-11-13 20:38] dbabaev opened #25589 "Navigation menu 4th level/category does not appear consistently"
### Preconditions (*)

1. Magento version 2.3.3

### Steps to reproduce (*)

1. We created 4 levels of categories. When we hover the 3rd level, the last 4th level/category does not appear consistently. It only appears maybe 1 out 3 times. We are running an unmodified Luma theme.

### Expected result (*)

1. The 4th level of menu fly out 100% of the time.
![2019-11-13_15-31-30](https://user-images.

[2019-11-13 23:50] m1k3lm opened #25591 "& character in SKUs is shown as &amp; in current variations list on configurable products"
### Preconditions (*)

1. Magento 2.3.3 PHP 7.1.33
2. Vanilla install

### Steps to reproduce (*)

1. Create a simple product with a _&_ character in SKU.
2. Create configurable product and add previously created simple product as variation.
3. In configurable product's current variations table the _&_ in the SKU field is shown as &amp;amp;

### Expected result (*)

1. See unchange & character in

[2019-11-13 23:51] sdzhepa commented on #18717
Hello @sergeynezbritskiy
FYI: @shikhamis11 @arendarenko @ihor-sviziev @orlangur

I just received an update about this issue from the internal Jira ticket.

Previously it was fixed by internal Magento team and delivered with internal Pull Request in the scope of [`MAGETWO-96663`](https://github.com/magento/magento2/search?q=MAGETWO-96663&type=Commits), commits:  https://github.com/magento/magento2/

[2019-11-13 23:52] m1k3lm commented on #25591
@magento give me 2.3-develop instance

[2019-11-13 23:52] magento-engcom-team commented on #25591
Hi @m1k3lm. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-13 23:52] magento-engcom-team commented on #25591
Hi @m1k3lm, here is your [Magento instance](https://i-25591-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25591-2-3-develop.instances.magento-community.engineering/admin](https://i-25591-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-13 23:54] frostbitten commented on #10304
Hi, @sdzhepa, sorry if this is a silly question but I'm a bit confused. What do you mean by "Product Owner of this functionality?" What is that? The person who opened this ticket? An internal engineer? An EE customer?

Also can you clarify. Is the **sole** purpose of the Stock Status field to enable and disable the ability to purchase an item (while allowing it stay visible)?

Thanks!

[2019-11-14 00:02] m1k3lm commented on #25591
Yes, it can be reproduced.

[2019-11-14 00:18] Leland opened #25592 "@font-size-unit-convert affects unitless values"
### Preconditions (*)

Magento v2.3.1 & 2.3-develop

### Steps to reproduce (*)
Compile this LESS under either blank or Luma:

[code]

### Expected result (*)
[code]

### Actual result (*)
[code]

This is the underlying mixin powering many, many lib- mixins across the site, for instance `lib-button()`, and thus this issue pertains to e.g `@button__line-height: 1;`.

As you follow the issue, you re

[2019-11-14 00:21] Leland commented on #25592
@magento give me 2.3-develop instance

[2019-11-14 00:21] magento-engcom-team commented on #25592
Hi @Leland. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 00:21] magento-engcom-team commented on #25592
Hi @Leland, here is your [Magento instance](https://i-25592-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25592-2-3-develop.instances.magento-community.engineering/admin](https://i-25592-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 02:20] magento-engcom-team commented on #25591
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23126` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-14 03:22] VladimirZaets commented on #25517
Hi @tymzap. Thank you for your report.
The issue has been fixed in magento/magento2#25524 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [e891e8184993eda1900763340d3454679e90a326](https://github.com/magento/magento2/commit/e891e8184993eda1900763340d3454679e90a326)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-14 03:22] #25027 closed, assigned to krzksz

[2019-11-14 03:22] #25517 closed, assigned to SyntaxKay, tymzap

[2019-11-14 03:22] VladimirZaets commented on #25434
Hi @DuckThom. Thank you for your report.
The issue has been fixed in magento/magento2#25485 by @karyna-tsymbal-atwix in 2.3-develop branch
Related commit(s):
 - [286840303d1558b65cf50017b00866f89ba297ec](https://github.com/magento/magento2/commit/286840303d1558b65cf50017b00866f89ba297ec)
 - [bd44b0b03de7b05dcba98b7e0dc087ecf1535386](https://github.com/magento/magento2/commit/bd44b0b03de7b05dcba98b

[2019-11-14 03:22] #25434 closed, assigned to karyna-t

[2019-11-14 03:22] VladimirZaets commented on #25027
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#25358 by @krzksz in 2.3-develop branch
Related commit(s):
 - [420ff66428076631de1955672b0639ba50e80a1f](https://github.com/magento/magento2/commit/420ff66428076631de1955672b0639ba50e80a1f)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-14 03:22] VladimirZaets commented on #12205
Hi @Nix-id. Thank you for your report.
The issue has been fixed in magento/magento2#25306 by @hostep in 2.3-develop branch
Related commit(s):
 - [c6d166be701d9afe0b341ca35727af8a20db80f8](https://github.com/magento/magento2/commit/c6d166be701d9afe0b341ca35727af8a20db80f8)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-14 03:22] VladimirZaets commented on #15984
Hi @AF4Q. Thank you for your report.
The issue has been fixed in magento/magento2#25306 by @hostep in 2.3-develop branch
Related commit(s):
 - [c6d166be701d9afe0b341ca35727af8a20db80f8](https://github.com/magento/magento2/commit/c6d166be701d9afe0b341ca35727af8a20db80f8)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-14 03:22] #15984 closed, assigned to hostep

[2019-11-14 04:37] ajijshekh123 commented on #25589
give me @magento give me 2.3-develop instance

[2019-11-14 04:37] magento-engcom-team commented on #25589
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 04:38] magento-engcom-team commented on #25589
Hi @ajijshekh123, here is your [Magento instance](https://i-25589-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25589-2-3-develop.instances.magento-community.engineering/admin](https://i-25589-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 05:12] ajijshekh123 commented on #25589
Hello @dbabaev,
I have reviewed this issue'sin latest default Magento 2.3 instance. Currently, I have reproduced this issue.

See attached the video:
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/24711761/68828331-50167c00-06cb-11ea-9d7f-5c8396b4a738.gif)

Please do not close this issue. I know this issue related to the below reference issue.
https://github.com/magento/ma

[2019-11-14 05:13] magento-engcom-team commented on #25589
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23129` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-14 05:27] vincentteyssier opened #25593 "Cron performance issue after upgrading 2.3.2 to 2.3.3"
Start state:
PHP7.2
Magento 2.3.2 Open Source Vanilla installation
Ubuntu 18.04

I install Netdata to monitor CPU usage and can see my cron running every minute impacting CPU as follow :
![2 3 2-fpm7 2](https://user-images.githubusercontent.com/16136533/68828864-0b4a0f80-06e2-11ea-85c7-64ca8d8e34f0.PNG)

I then upgrade to 2.3.3 by command line following instructions on :
[https://devdocs.magento.c

[2019-11-14 05:31] ajijshekh123 commented on #25562
Hi @Olek89,
What can I do for you?
Can I close this issue?
Please update me.

Thanks.

[2019-11-14 05:34] ajijshekh123 commented on #25588
Hi @dspiritocme,

I have verified this issue as per your steps to be reproduced and also verify different scenarios. But I can't reproduce it.
Can you please provide me the video?

Thanks.

[2019-11-14 06:07] Khushbu-Webkul-QA commented on #24895
@magento give me 2.3-develop instance

[2019-11-14 06:07] magento-engcom-team commented on #24895
Hi @Khushbu-Webkul-QA. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 06:08] magento-engcom-team commented on #24895
Hi @Khushbu-Webkul-QA, here is your [Magento instance](https://i-24895-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24895-2-3-develop.instances.magento-community.engineering/admin](https://i-24895-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 06:21] AbhijithHaridas opened #25594 "Product image url cache url mismatch"
Products appear fine in admin, but on the frontend single product page all product images return a 404, because of the following url structure:

/media/catalog/product/cache/**3f23d2e4809353014f98c960f33015e5**/c/o/colibri-ii-1.jpg

the correct URL might be:

/media/catalog/product/cache/**2079bcffb72cffec59b22238cd9743e6**/c/o/colibri-ii-1.jpg

Clearing Magento cache, product image cache not solv

[2019-11-14 06:33] Khushbu-Webkul-QA opened #25595 "Add all type of product into cart, start checkout with multiple address after giving multiple address, except download and virtual type product, remove all four type product from the cart then getting exception"
### Preconditions (*)

1.Test environment:

* Magento version:2.3.3 or latest `2.4-develop`
* PHP Version:7.2
* mode: production
* Varnish:enable
* Js, CSS, HTML merged and minified
* Flat catalog/category – Yes
* Instance-  http://192.168.15.166/m2307/admin/
* username/password-admin/admin123

### Steps to reproduce (*)

1. add all six type of product into cart
2. proceed for checkout with multip

[2019-11-14 06:34] Khushbu-Webkul-QA commented on #25595
@magento give me 2.3-develop instance

[2019-11-14 06:34] magento-engcom-team commented on #25595
Hi @Khushbu-Webkul-QA. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 06:34] magento-engcom-team commented on #25595
Hi @Khushbu-Webkul-QA, here is your [Magento instance](https://i-25595-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25595-2-3-develop.instances.magento-community.engineering/admin](https://i-25595-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 06:54] vijay-prevaj commented on #23411
Any update regrading this issue?

[2019-11-14 08:49] engcom-Charlie commented on #24992
Hello @SigmaAndrei
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/), for advice or general discussion about this issue.

[2019-11-14 09:17] amiddio commented on #25557
I found the reason of issue. It was suffix "./" of categories and products ("Admin > Configuration > Catalog > Catalog > Search Engine Optimization"). Deleted them and regenerated Url Rewrites (used https://github.com/karliuka/m2.IndexerUrlRewrite) and the issue gone.

[2019-11-14 09:22] tristankappel commented on #24782
Hello,

I have the exact same bug as dzungnt described. Steps to reproduce.

1. Add product to basket
2. Fill shipping information and go to payment step
3. Select Braintree PayPal payment method
4. Apply valid coupon code
5. Click to Pay with Paypal button

If I first apply the coupon code and select PayPal payment after, everything works as it should. But the other way around, the amount is not

[2019-11-14 09:23] Khushbu-Webkul-QA commented on #25595
![Screenshot (8)](https://user-images.githubusercontent.com/45037885/68843611-6b46b300-06ee-11ea-90cf-75e0ac728fc2.png)

issue replicate

[2019-11-14 09:30] edenduong opened #25596 "No margin between checkbox and icon when choose category in condition in Cart/Catalog Rule"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend.
2. Marketing-> Catalog Price Rule
3. Create New
4. Go to conditions, choose rule category

![image](https://user-images.githubusercontent.com/8234209/68844122-dfd41e80-06fb-11ea-9ca9-cd45ff060789.png)

### Expected result (*)

1. Have margin
![image](https://user-images.githubusercontent.com/8234209/688442

[2019-11-14 09:36] magento-engcom-team commented on #25596
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23132` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-14 09:45] Safegear opened #25598 "Error with FAQ/ We cannot access and edit the FAQ questions."
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-11-14 09:47] kilis commented on #23462
Hey Guys issue after the fix for the problem (https://github.com/magento/magento2/pull/22581) still persists. Okay i know it degrades performance, but this fix reverts the same problem back.
Can anybody suggest an improvement on this issue?

[2019-11-14 09:52] krishprakash commented on #25598
Hi @Safegear.
Please fill all details as per issue reporting guidelines below.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-11-14 10:33] robert-schmidt commented on #25347
Any updates on this?

[2019-11-14 10:34] NathMorgan opened #25599 "Review Summary not showing reviews on product page"
### Preconditions (*)
Magento Version: 2.3.3 / 2.2.10

Store reviews must be enabled

### Steps to reproduce (*)
1. Submit a product review
2. Approve review in admin (If required)

### Expected result (*)
1. Review should appear on the product page

### Actual result (*)
1. Text `Be the first to review this product` still shows on the product page even though in the review section it shows the ne

[2019-11-14 10:39] NathMorgan commented on #25599
@magento give me 2.3-develop instance

[2019-11-14 10:39] magento-engcom-team commented on #25599
Hi @NathMorgan. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 10:40] magento-engcom-team commented on #25599
Hi @NathMorgan, here is your [Magento instance](https://i-25599-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25599-2-3-develop.instances.magento-community.engineering/admin](https://i-25599-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 10:46] NathMorgan commented on #25599
@magento give me 2.2 instance

[2019-11-14 10:55] engcom-Echo commented on #25579
Hello @jaydalisay

Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of magento.

Thank you!

[2019-11-14 10:56] krishprakash commented on #25598
@Safegear.
Feel free to reopen the issue once you update reproducible steps and all the necessary details.
Thanks.

[2019-11-14 10:56] #25598 closed, assigned to krishprakash

[2019-11-14 11:05] ajijshekh123 commented on #25599
Give me @magento give me 2.3-develop instance

[2019-11-14 11:05] magento-engcom-team commented on #25599
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 11:05] magento-engcom-team commented on #25599
Hi @ajijshekh123, here is your [Magento instance](https://i-25599-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25599-2-3-develop.instances.magento-community.engineering/admin](https://i-25599-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 11:06] jaydalisay commented on #25579
I took a different route instead.

[2019-11-14 11:06] #25579 closed, assigned to engcom-Echo

[2019-11-14 11:18] ajijshekh123 commented on #25599
Hi @NathMorgan,

I have verified this issue on Fresh Default Magento 2.3 Instance. I have verified your steps but I can't reproduce this issue.
This issue is related to the below link:
https://github.com/magento/magento2/issues/24997
@NathMorgan - Can you please send the video?
This issue may be found on Magento 2.2 Instance.
Please update me.

Thanks.

[2019-11-14 11:40] NathMorgan commented on #25599
Hi @ajijshekh123

I'm unable to replicate on base 2.2/2.3 will close.

[2019-11-14 11:43] #25599 closed, assigned to nobody

[2019-11-14 11:43] ajijshekh123 commented on #25599
Okay Fine @NathMorgan

[2019-11-14 11:56] engcom-Echo commented on #25594
Hello @AbhijithHaridas

Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of magento.

Thank you!

[2019-11-14 12:03] kovinet commented on #9011
I also didn't have source maps by just running `grunt watch`, but if I first run `grunt less:mytheme` they appear.

I am not sure if map files are later updated on each change with `grunt watch` running ...

[2019-11-14 12:17] ihor-sviziev opened #25601 "[Configurable] JS error on product page"
### Preconditions (*)
1. Magento 2.3.3 or 2.3-develop

### Steps to reproduce (*)
1. Create Configurable product
2. Go to this product on frontend
3. Add this product to cart,
![image](https://user-images.githubusercontent.com/1873745/68857800-494c3100-06ec-11ea-84e1-e9bc1cfa05c6.png)
4. In the mini cart or on the cart page click on "Edit" (![image](https://user-images.githubusercontent.com/187374

[2019-11-14 12:17] ihor-sviziev commented on #25601
@magento give me 2.3-develop instance

[2019-11-14 12:17] magento-engcom-team commented on #25601
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 12:18] magento-engcom-team commented on #25601
Hi @ihor-sviziev, here is your [Magento instance](https://i-25601-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25601-2-3-develop.instances.magento-community.engineering/admin](https://i-25601-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 12:40] sunilit42 commented on #12268
@magento give me 2.2.6 instance

[2019-11-14 12:40] magento-engcom-team commented on #12268
Hi @sunilit42. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-11-14 12:40] ninex commented on #23450
For anyone on Magento Cloud with this issue, make sure you have in .magento.env.yaml

[code]

[2019-11-14 12:41] sunilit42 commented on #12268
@magento give me 2.3-develop instance

[2019-11-14 12:41] magento-engcom-team commented on #12268
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 12:41] magento-engcom-team commented on #12268
Hi @sunilit42, here is your [Magento instance](https://i-12268-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-12268-2-3-develop.instances.magento-community.engineering/admin](https://i-12268-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 12:51] polcarrasco opened #25602 "DHL shipping not working"
### Preconditions (*)

Magento 2.3.3 & 2.3-develop

### Steps to reproduce (*)

1. Configurate module DHL
![Screenshot from 2019-11-15 14-25-31](https://user-images.githubusercontent.com/51681435/68943444-e2924a80-07b3-11ea-8c6e-da3e09975a3a.png)
![Screenshot from 2019-11-15 14-26-23](https://user-images.githubusercontent.com/51681435/68943471-f9d13800-07b3-11ea-83cc-a5b3b5fb83f9.png)
![Screenshot

[2019-11-14 13:03] engcom-Charlie commented on #25219
@chris-pook Thank you for contribution and collaboration!
I can confirm this issue now.
![image_2019_11_14T12_57_14_956Z](https://user-images.githubusercontent.com/51680850/68859402-d6dd5000-06ef-11ea-817b-310b8d2c29a3.png)

[2019-11-14 13:04] magento-engcom-team commented on #25219
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23137` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-14 13:08] SigmaAndrei commented on #24992
@engcom-Charlie I tried to use the patch that @petemcw provided, but it doesn't work for cloud, maybe you guys have another thread I can look at?

[2019-11-14 13:11] magento-engcom-team commented on #25601
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-14 13:11] magento-engcom-team commented on #25601
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23138` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-14 13:34] jellebelle opened #25605 "Email template preview not working"
### Preconditions (*)

1. Magento ver. 2.3.2
2. Safari 13.0.3. and Opera 64.0.3417.92
3. Mac OS 10.14.6 (18G95)

### Steps to reproduce (*)

1.Under 'Marketing' --> 'email templates' after selecting a template the preview does not work on Safari 13.0.3. and does not work on Opera 64.0.3417.92
2.

### Expected result (*)

1.  A preview so I can verify edits, zap bugs, correct typos before setting t

[2019-11-14 13:36] jellebelle commented on #25605
@magento give me 2.3-develop instance

[2019-11-14 13:36] magento-engcom-team commented on #25605
Hi @jellebelle. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 13:37] magento-engcom-team commented on #25605
Hi @jellebelle, here is your [Magento instance](https://i-25605-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25605-2-3-develop.instances.magento-community.engineering/admin](https://i-25605-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 13:42] jellebelle commented on #25605
Ok it works on your instance. But i see it is the upcoming 2.3.x release?

[2019-11-14 13:42] jellebelle commented on #25605
I should i request an instance of my version?

[2019-11-14 13:45] interequipment commented on #23411
Having the same issue on 2.3.3 when placing an order. (order placed successfully. but confirmation email is not going)

[2019-11-14 13:58] OnYXCoding commented on #23877
Issue also exists in minicart. Sadly, the fix [#23884](https://github.com/magento/magento2/pull/23884) doesn't work for the minicart.

[2019-11-14 14:01] jwbeech opened #25607 "Missing composer packages for magento 2.1.9"
### Description
Not sure if this is the correct forum but it appears that today (14/11/2019) a number of the composer sub packages has been "unpublished".
Our builds all use composer to install dependencies and this morning started failing to locate a sub dependency of 'magento/product-community-edition 2.1.9'
In debugging this was found to be one of many missing dependencies.

Here is the error o

[2019-11-14 14:22] VladimirZaets commented on #23515
Hi @jordantran93. Thank you for your report.
The issue has been fixed in magento/magento2#25528 by @Krielkip in 2.3-develop branch
Related commit(s):
 - [85415eff8ddd81c9b204ec6c093efe49d467ba9e](https://github.com/magento/magento2/commit/85415eff8ddd81c9b204ec6c093efe49d467ba9e)
 - [2263d2e9fe2359b86c26dc91597cf50b5a87def4](https://github.com/magento/magento2/commit/2263d2e9fe2359b86c26dc91597cf5

[2019-11-14 14:22] #23515 closed, assigned to Krielkip, Dnd-Dboy

[2019-11-14 14:22] VladimirZaets commented on #25514
Hi @janssentwh. Thank you for your report.
The issue has been fixed in magento/magento2#25528 by @Krielkip in 2.3-develop branch
Related commit(s):
 - [85415eff8ddd81c9b204ec6c093efe49d467ba9e](https://github.com/magento/magento2/commit/85415eff8ddd81c9b204ec6c093efe49d467ba9e)
 - [2263d2e9fe2359b86c26dc91597cf50b5a87def4](https://github.com/magento/magento2/commit/2263d2e9fe2359b86c26dc91597cf50b

[2019-11-14 14:22] #25514 closed, assigned to Krielkip

[2019-11-14 14:22] VladimirZaets commented on #25050
Hi @itwebdev2. Thank you for your report.
The issue has been fixed in magento/magento2#25418 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [e42294213f19f3f8240e91c7299aeebf1a21e16c](https://github.com/magento/magento2/commit/e42294213f19f3f8240e91c7299aeebf1a21e16c)
 - [4b432f8f0600cda910a4e8752422565ec6838f02](https://github.com/magento/magento2/commit/4b432f8f0600cda910a4e8752422565ec

[2019-11-14 14:22] #25050 closed, assigned to torhoehn

[2019-11-14 14:25] engcom-Charlie commented on #25112
Hello @mrtuvn
We are not able to reproduce this issue on the latest 2.3-develop & 2.3.2 branch by provided steps.

**Testing scenario:**

1. First Create New Product Simple
2. Go to System > Export
3. Choose Entity Type: Products

**Result:**
Grid options show without warning
![Peek 2019-11-14 15-40](https://user-images.githubusercontent.com/51680850/68865278-3c830980-06fb-11ea-928a-8b2a5e21d616.g

[2019-11-14 14:25] #25112 closed, assigned to engcom-Charlie

[2019-11-14 14:30] magento-engcom-team commented on #25092
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23151` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-14 14:50] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-11-14 14:51] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 15:03] fabriciosobral commented on #25043
Can I work on this?  If yes, please assign

[2019-11-14 15:24] krishprakash commented on #25605
Hi @jellebelle
Thank you for your report.
Issue not able to reproduce on latest magento instance.
So closing this
Thanks

[2019-11-14 15:24] #25605 closed, assigned to krishprakash

[2019-11-14 15:45] sjb9774 commented on #19597
Noting here that I implemented edec48a as a patch on my 2.3.2-p2 local environment and after `setup:upgrade` I'm edec48a seeing `setup:db:status` report that `Declarative Schema is not up to date`

[2019-11-14 15:47] sdzhepa commented on #25521
Closed as fixed in https://github.com/magento/magento2/pull/23943

[2019-11-14 15:47] #25521 closed, assigned to nobody

[2019-11-14 15:53] ghost opened #25608 "Role resource tree not displaying in magento 2.3.3"
Magento 2.3.3

In the backend, going to system->roles, adding a new role and setting it to custom permissions, the resource tree is empty

![Schermata 2019-11-14 alle 16 46 35](https://user-images.githubusercontent.com/48567585/68872817-efa13200-06fe-11ea-88f7-f32ad3497977.png)

![Schermata 2019-11-14 alle 16 52 01](https://user-images.githubusercontent.com/48567585/68872997-32fba080-06ff-11ea-96a

[2019-11-14 15:54] shiuhyaw commented on #25607
it also happened in magento 2.1.7
`
Problem 1
- Installation request for magento/product-community-edition 2.1.7 -> satisfiable by magento/product-community-edition[2.1.7].
- magento/product-community-edition 2.1.7 requires magento/module-advanced-pricing-import-export 100.1.2 -> no matching package found.
`

[2019-11-14 15:54] bst2002git commented on #25483
Hello i can reproduce this Error using 3DS enabled this name in german "Hr. Ronny Schönberger".
If you replace (for debugging) the umlaut "ö" with "oe" it works.
Using Magento 2.3.3 (braintreeLibraryVersion | braintree/web/3.48.0)

JSON-Request sent from Magento:
URL: https://api.sandbox.braintreegateway.com/merchants/xxxx/client_api/v1/payment_methods/tokenXXXX/three_d_secure/lookup
POST-Param:
{

[2019-11-14 16:09] swaibar commented on #13229
Any update on this?

[2019-11-14 16:14] engcom-Echo commented on #5105
Hello @arnoudhgz

Thank you for your report and collaboration!
We are not able to reproduce this issue on the 2.3-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**
Grouped Product which consists of two simple products has been created and assigned to a category

**Steps to reproduce:**

1. Add Grouped Product to cart.
2. Place an order with the grouped product.
3. Go to

[2019-11-14 16:26] engcom-Charlie commented on #25567
Hello @Sharlyll
We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.
I did not have errors after installation.
So i have to close this issue.

Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

Thanks for your report!

[2019-11-14 16:26] #25567 closed, assigned to engcom-Charlie

[2019-11-14 16:34] magento-engcom-team commented on #24555
Hi @toxix, @sudheers-kensium.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-20115` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

[2019-11-14 16:34] #24555 closed, assigned to sudheers-kensium

[2019-11-14 16:55] tig-daanvandenbergh commented on #13229
Hi guys,

I built an extension for M2, inspired by @clockworkgeek's M1 extension. I must say I haven't tested it in a while, but I don't see a reason why it wouldn't work in M2.3.3.

You can download it here: https://github.com/tig-nl/persistentshoppingcart-magento2

[2019-11-14 17:03] polcarrasco commented on #25602
The issue has been consulted to a programmer and DHL technical team. Both have not been able to fix it, but the information I have told in here is ok: Magento 2.3.3, DHL extension 100.3.3, configuration is ok, credentials are ok, result is DHL not showing a price for the shipping and showing a label about the problem.

[2019-11-14 17:05] polcarrasco commented on #25602
We have also UPS shipping and Table rates and are both working fine.

[2019-11-14 17:14] romeof1980 opened #25609 "magento/framework/App/Language/Dictionary.php fails to skip empty csv line"
### Preconditions (*)
1. Magento 2.2.2
2. Php 7.1

### Steps to reproduce (*)
1. set up a csv translation file with some translations and an empty row
2. load a page where it is requested (frontend / backend)

### Expected result (*)
1. Page loads

### Actual result (*)
1. Exception is thrown
Undefined offset: 1 in vendor/magento/framework/App/Language/Dictionary.php on line 196

the reason is tha

[2019-11-14 17:17] fabriciosobral commented on #25589
I'm working on this

[2019-11-14 17:36] AnnaShepa commented on #25572
@magento give me 2.3-develop instance

[2019-11-14 17:36] magento-engcom-team commented on #25572
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 17:36] magento-engcom-team commented on #25572
Hi @AnnaShepa, here is your [Magento instance](https://i-25572-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25572-2-3-develop.instances.magento-community.engineering/admin](https://i-25572-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 17:39] engcom-Charlie commented on #25550
Hello @samumaretiya
We are not able to reproduce this issue on the Magento 2.3.3  by provided steps.

**Testing scenario:**

1. Install Magento 2.2.10
2. Create any customer
3. Enable Paypal express checkout
4. Upgrade the Magento to Magento 2.3.3
5. Place order via Paypal express checkout from customer created before upgrade

**Result:**
All orders recorded
![Screenshot from 2019-11-14 18-50-12](

[2019-11-14 17:39] #25550 closed, assigned to engcom-Charlie

[2019-11-14 17:59] AnnaShepa commented on #25572
Hi @smithjho thank you for your report. I tried to reproduce your issue in different ways, but always was able to find products by new attribute. Please provide more information about you steps to reproduce and setting what you are using (would be great to provide screenshots with full settings on attribute page).
More information about ticket reporting you can find here https://github.com/magento

[2019-11-14 18:21] #25608 closed, assigned to nobody

[2019-11-14 18:29] ghost opened #25610 "Magento 2.3.3 Role Resource Tree Not Showing"
### Preconditions
1. Magento 2.3.3
2. no third-party module

### Steps to reproduce
1. In the backend, going to system->roles, adding a new role and setting it to custom permissions, the resource tree is empty

### Expected result
1. resource tree not empty

### Actual result
1.
![Schermata 2019-11-14 alle 16 46 35](https://user-images.githubusercontent.com/48567585/68885205-005ca280-0715-11ea-8dd

[2019-11-14 18:36] gfigliolia commented on #25610
@magento give me 2.3.3-develop instance

[2019-11-14 18:36] magento-engcom-team commented on #25610
Hi @gfigliolia. Thank you for your request. I'm working on Magento 2.3.3-develop instance for you

[2019-11-14 18:55] drpayyne commented on #25513
Hi @sarveshlucent, a vanilla magento instance is a clean installation. I'm unable to reproduce this on a vanilla instance and this seems to be an issue with your instance. Please consider referring to https://magento.stackexchange.com or https://community.magento.com for issues regarding your development instances. This platform: https://github.com/magento/magento2/issues is for bug reports or fea

[2019-11-14 18:55] #25513 closed, assigned to drpayyne

[2019-11-14 19:03] drpayyne commented on #25610
@magento give me 2.3.3 instance

[2019-11-14 19:03] magento-engcom-team commented on #25610
Hi @drpayyne. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-11-14 19:05] magento-engcom-team commented on #25610
Hi @drpayyne, here is your [Magento instance](https://i-25610-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25610-2-3-3.instances.magento-community.engineering/admin](https://i-25610-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 20:00] drpayyne commented on #25610
Hi @gfigliolia, I'm not able to reproduce this issue on a `2.3.3` vanilla instance. I can view the role tree structure while creating a new role.

![Screenshot from 2019-11-15 01-29-10](https://user-images.githubusercontent.com/22623301/68891685-5e09e280-0747-11ea-84c0-bb7ea825f64d.png)

[2019-11-14 20:00] drpayyne commented on #25610
Closing this as I'm unable to reproduce it. Please reopen in case of queries. Thanks!

[2019-11-14 20:00] #25610 closed, assigned to drpayyne

[2019-11-14 20:24] fritzmg commented on #8933
@shrielenee has rejected the request to change the documentation. And I agree that this needs to be fixed within Magento itself.

[2019-11-14 21:08] sdzhepa commented on #8933
Based on multiple feedbacks and complaints I think we have to Confirm this issue and re-considering/investigate one more time.

IMO:
It would be very helpful to have more detailed and clear steps to reproduce on the latest Magento codebase.
Detailed instruction on how to reproduce will prevent situation that issue will be closed again as "cannot reproduce"

[2019-11-14 21:08] magento-engcom-team commented on #8933
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-14 21:08] magento-engcom-team commented on #8933
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23183` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-14 21:34] Bartlomiejsz commented on #23061
This has been fixed by [02e18bf2dfe10e9a9513fa578c9108a5a9b11475](https://github.com/magento/magento2/commit/02e18bf2dfe10e9a9513fa578c9108a5a9b11475#diff-1a75129a8ba75d322070c8e8920eab3d)

[2019-11-14 21:34] #23061 closed, assigned to nobody

[2019-11-14 21:41] helenapaes commented on #25609
@magento give me 2.3-develop instance

[2019-11-14 21:41] magento-engcom-team commented on #25609
Hi @helenapaes. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 21:41] magento-engcom-team commented on #25609
Hi @helenapaes, here is your [Magento instance](https://i-25609-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25609-2-3-develop.instances.magento-community.engineering/admin](https://i-25609-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 23:14] mahsn commented on #23157
@magento I'm working on this issue

[2019-11-14 23:15] fabriciosobral commented on #25589
give me @magento give me 2.3-develop instance

[2019-11-14 23:15] magento-engcom-team commented on #25589
Hi @fabriciosobral. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-14 23:16] magento-engcom-team commented on #25589
Hi @fabriciosobral, here is your [Magento instance](https://i-25589-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25589-2-3-develop.instances.magento-community.engineering/admin](https://i-25589-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-14 23:26] magento-engcom-team commented on #25468
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#25466 by @TomashKhamlai in 2.3-develop branch
Related commit(s):
 - [5c0f4da5993319c55a30117067e65e27cc5241f4](https://github.com/magento/magento2/commit/5c0f4da5993319c55a30117067e65e27cc5241f4)
 - [962fe8c016405e2f95180650fc1f7debc3aff5b7](https://github.com/magento/magento2/commit/962fe8c016405e2f95180650

[2019-11-14 23:26] magento-engcom-team commented on #23411
Hi @chequille. Thank you for your report.
The issue has been fixed in magento/magento2#25307 by @hostep in 2.3-develop branch
Related commit(s):
 - [bd964566b5e8de180866a14303e8dc168bf3e600](https://github.com/magento/magento2/commit/bd964566b5e8de180866a14303e8dc168bf3e600)
 - [8920923021110fe0d76f1c17dca9adfa9c0d1b9b](https://github.com/magento/magento2/commit/8920923021110fe0d76f1c17dca9adfa9c0

[2019-11-14 23:26] #23411 closed, assigned to hostep

[2019-11-15 00:30] ksaho2 commented on #11899
I spontaneously had this issue when dumping and importing my config, zero issues prior.

@LiamKarlMitchell posted the fix. The issue was that the flag_data table was too small and the JSON was cut off prematurely.

Any chance we can get the default size of the table to be longtext?

[2019-11-15 04:16] AbhijithHaridas commented on #25594
Hello, thanks for replying. The issue was due to a **server configuration** the image caches were not generating. It is solved by configuring the server settings properly

[2019-11-15 04:54] dzungnt commented on #24782
Hi @engcom-Charlie,
You should use sandbox braintree that doesn't linked to PayPal, then the popup will show the price total. It shouldn't pay with credit card on paypal like your screenshot.
Thanks.

[2019-11-15 04:55] ajijshekh123 commented on #25562
@Olek89 - I think you are using third party extension that's why you may reproduce the issue.
@sdzhepa - Can you please help him?
@Olek89 - Please wait for the @sdzhepa response.

Thanks.

[2019-11-15 06:05] briancblog commented on #14667
But the images load faster in Firefox's private mode.

Anyone know how to disable the tracking to speed up the images loading?

[2019-11-15 06:18] magento-engcom-team commented on #25586
@drpayyne Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-15 06:19] magento-engcom-team commented on #25586
:white_check_mark: Confirmed by @drpayyne
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23196` were created

**Issue Available**: @drpayyne, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-15 06:55] drpayyne commented on #24632
Hi @jstubbs303, thanks for your report. Although I feel this is more suitable in our [Slack channels](https://github.com/magento/magento2/wiki/Slack-Channels) or maybe even in [Magento Community](https://community.magento.com) as I'm not able to reproduce this on a vanilla instance and this needs to be debugged contextual to your instance.

Closing this due to the above reason. Please feel free to

[2019-11-15 06:55] #24632 closed, assigned to drpayyne

[2019-11-15 07:40] freeyland commented on #6426
I have the same issue on 2.3.3

[2019-11-15 08:43] #5105 closed, assigned to engcom-Echo

[2019-11-15 08:48] engcom-Charlie commented on #24782
@dzungnt could you try to reproduce it on a magento test instance?
Just write `@magento give me 2.3-develop instance` for get the instance

[2019-11-15 08:48] magento-engcom-team commented on #24782
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance` for get the instance for you

[2019-11-15 08:59] engcom-Charlie commented on #25578
@magento give me 2.3-develop instance

[2019-11-15 09:00] magento-engcom-team commented on #25578
Hi @engcom-Charlie, here is your [Magento instance](https://i-25578-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25578-2-3-develop.instances.magento-community.engineering/admin](https://i-25578-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-15 09:12] swaibar commented on #13229
@tig-daanvandenbergh thank you!  As it happens I found this after my comment and before yours.  I did have some issues... But then I'm having issues getting this to work for logged in users too... so I didn't want to raise issues with your module when I figured I've got other problems.

[2019-11-15 09:53] engcom-Echo commented on #25594
Hello @AbhijithHaridas

According this [comment](https://github.com/magento/magento2/issues/25594#issuecomment-554204631) I close this issue as it was connected with environment configuration.
If you would like to update this issue, please reopen it.

[2019-11-15 09:53] #25594 closed, assigned to engcom-Echo

[2019-11-15 09:55] engcom-Charlie commented on #25578
@magento give me 2.3-develop instance

[2019-11-15 09:55] magento-engcom-team commented on #25578
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-15 09:55] magento-engcom-team commented on #25578
Hi @engcom-Charlie, here is your [Magento instance](https://i-25578-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25578-2-3-develop.instances.magento-community.engineering/admin](https://i-25578-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-15 10:06] engcom-Charlie commented on #24895
Hello, everyone!
This issue should be closed as not reproducible.

[2019-11-15 10:06] #24895 closed, assigned to nobody

[2019-11-15 10:13] operator888 commented on #22407
So, when is it planned, the solution to be merged and released? I'm still getting this double active category bug.

[2019-11-15 10:29] BrentRobert opened #25615 "Luma _theme.less not following rules"
### Preconditions (*)

1. Magento 2.3.3, and lower

### Steps to reproduce (*)

1. Create a theme extending luma.
2. Create a _theme.less in your own theme

### Expected result (*)

1. Theme compiles

### Actual result (*)

1. The theme does not compile as in the luma theme there is a new definition of a copyright__background-color variable in the _theme.less which is not defined in the blank them

[2019-11-15 10:38] Rickertje commented on #25099
Any suggestions for a temporary fix in 2.2.10?

[2019-11-15 10:39] engcom-Echo commented on #25602
Hello @polcarrasco

Could you provide more details for reproduce this issue?
Please add steps or screenshots of configuration DHL, Origin Shipping address and Customer`s addresses.

Thank you!

[2019-11-15 10:55] polcarrasco commented on #25602
![Captura DHL CheckOut](https://user-images.githubusercontent.com/57757685/68938342-7527ef00-079e-11ea-8fa0-608628373af5.JPG)
![Captura DHL 3](https://user-images.githubusercontent.com/57757685/68938359-7e18c080-079e-11ea-9c18-e3ef6dfb1ec5.JPG)
![Captura DHL  1](https://user-images.githubusercontent.com/57757685/68938360-7e18c080-079e-11ea-83aa-f7b78db70066.JPG)
![Captura DHL 2](https://user-image

[2019-11-15 10:59] polcarrasco commented on #25602
![Captura Origin](https://user-images.githubusercontent.com/57757685/68938806-6261ea00-079f-11ea-818c-fdc58c36d69a.JPG)
...here is the origin config.

Thanks!

[2019-11-15 11:16] jamie-selesti commented on #18717
I have this exact issue on Magento 2.2.10.

**Steps to reproduce**
For the config path of "catalog/seo/category_url_suffix" I have the value of "/"

**Expected result **
When I go to /category-a/?p=2 (for the 2nd page in the pagination list)  Magento to load the next set of products in the category

**Actual result**
When I go to /category-a/?p=2 (for the 2nd page in the pagination list)  Magento

[2019-11-15 11:18] luckyraul opened #25616 "Wrong Url on store switch then logged in"
### Preconditions (*)

1. Magento 2.3-develop
2. You have magento in a subfolder (https://www.website.com/shop/)
3. Multistore(2 stores with one store view per each)

### Steps to reproduce (*)

1. Log in Customer account
2. Click on the link to switch store

### Expected result (*)

1.  https://www.website.com/shop/stores/store/switchrequest?customer_id=xxxx&time_stamp=1573813960&signature=xxx&__

[2019-11-15 11:25] underser commented on #19710
Hi here!

I also face an issue with the wrong hash generation on the catalog page when image watermark is enabled.

## Steps to reproduce
1. Install the latest Magento 2.3.3
2. Install sample data, for ex. from [Venia](https://magento.github.io/pwa-studio/venia-pwa-concept/install-sample-data/)
3. Create/Configure a custom theme with etc/view.xml (bellow)
[code]
4. Go to some catalog page, and che

[2019-11-15 11:26] magento-engcom-team commented on #25592
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23200` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-15 11:29] TomashKhamlai commented on #25468
Bot closed the issue because of merged coverage. The issue is still reproducible and is ready for development.

[2019-11-15 11:31] TomashKhamlai commented on #25468
@magento give me 2.3-develop instance

[2019-11-15 11:31] Sharlyll commented on #25567
Hi @engcom-Charlie  I am new to installing magento2 on a clean cloud bare server. perhaps I am missing some php or zendframework packages before magento2 installation. could you tell me what packages you have on your server?

best regards

[2019-11-15 11:31] magento-engcom-team commented on #25468
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-15 11:32] magento-engcom-team commented on #25468
Hi @TomashKhamlai, here is your [Magento instance](https://i-25468-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25468-2-3-develop.instances.magento-community.engineering/admin](https://i-25468-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-15 11:44] magento-engcom-team commented on #25578
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23201` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-15 11:44] jmcharadva commented on #25581
@magento-engcom-team

I have looked into this issue.

I determined that customer-data.js uses the localStorage within the browser itself to store a variety of information, so you can clear the Magento Cache all you want and you will still have issues.

TLDR:

The fix in Google Chrome is hit F12 to open the Developer Toolbar, then select the Application tab. Clear the Local Storage, Session Storage

[2019-11-15 11:52] ajijshekh123 commented on #25588
@dspiritocme - Can you please update me about this issue. If you haven't reproduced this issue ask me, I will close this issue.

Thanks.

[2019-11-15 12:00] arnoudhgz opened #25617 "Fatal error on creditmemo mail grouped product"
### Preconditions
1. Magento 2.3.3
2. Production mode and development mode

### Steps to reproduce (*)

1. Install Magento 2.3.3 with sample data
2. Add grouped product to cart _(Set of Sprite Yoga Straps)_
3. Place order
4. Login in admin section
5. Create invoice for order
6. Create credit memo for order
7. In the credit memo section click 'Send Email'

### Expected result (*)
1. Mail is send
2.

[2019-11-15 12:07] engcom-Charlie commented on #25567
**PHP:**
ii  php7.2                                     7.2.24-1+ubuntu16.04.1+deb.sury.org+1                    all          server-side, HTML-embedded scripting language (metapackage)
ii  php7.2-bcmath                              7.2.24-1+ubuntu16.04.1+deb.sury.org+1                    amd64        Bcmath module for PHP
ii  php7.2-cli                                 7.2.24-1+ubuntu16.04.1+deb.s

[2019-11-15 12:15] AnnaShepa commented on #25617
@magento give me 2.3-develop instance

[2019-11-15 12:15] magento-engcom-team commented on #25617
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-15 12:15] magento-engcom-team commented on #25617
Hi @AnnaShepa, here is your [Magento instance](https://i-25617-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25617-2-3-develop.instances.magento-community.engineering/admin](https://i-25617-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-15 12:17] magento-engcom-team commented on #25561
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23205` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-15 12:35] kovinet commented on #8995
I have the same issue. In theme that extends Luna I have to set manually @checkout-wrapper__columns to 8, else checkout looks completely broken.

[2019-11-15 12:43] magento-engcom-team commented on #25602
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2019-11-15 12:46] magento-engcom-team commented on #25602
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23207` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-15 12:56] multipasko commented on #15427
Exactly the same issue on our Magento 2.3.1 instance. It seems to happen randomly.

[2019-11-15 12:58] itsPranith commented on #25577
@magento give me 2.3-develop

[2019-11-15 13:04] magento-engcom-team commented on #19744
@m2-backlog[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-15 13:05] #19744 closed, assigned to TomashKhamlai

[2019-11-15 13:17] magento-engcom-team commented on #25577
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23208` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-15 13:19] engcom-Charlie commented on #25560
Hello @vitmarks !
Your issue for Magento inventory modules.

Please duplicate this issue in [Magento Inventory repository](https://github.com/magento/inventory/issues), for advice or general discussion about this issue.

Thanks for your report!

[2019-11-15 13:19] #25560 closed, assigned to engcom-Charlie

[2019-11-15 13:25] tomtopweb commented on #22000
We have the exact same problem with the out of stock in cataloginventory_stock_status and are therefore showing $0 on the product pages. Is there any fix for this issue?

[2019-11-15 13:28] dudzio12 commented on #22000
I'm interested in it too... @maghamed ?

[2019-11-15 13:29] danielpfarmer commented on #25551
I can also replicate this.

As a quick fix, I have added an end of line to the minify function in:

Magento\Framework\View\Template\Html\Minifier

`public function minify($file)
    {
        $dir = dirname($file);
        $fileName = basename($file);
        $content = preg_replace(
            '#(?<!]]>)\s+</#',
            '</',
            preg_replace(
                '#((?:<\?php\s+(?!echo|p

[2019-11-15 13:57] magento-engcom-team commented on #25617
@AnnaShepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-15 14:03] magento-engcom-team commented on #25617
:white_check_mark: Confirmed by @AnnaShepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23209` were created

**Issue Available**: @AnnaShepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-15 14:31] magento-engcom-team commented on #25468
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22855` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-15 15:04] sskharate commented on #7825
Thanks saved my life :)

[2019-11-15 15:13] erlisdhima commented on #7932
Most probably its because of missing classes in the setup/ folder.
Try:
[code]

[2019-11-15 15:25] pefferen commented on #25447
We are experiencing the same issue in 2.2.10

[2019-11-15 15:26] Rickertje commented on #25099
For now I reinstalled the 2.2.9 versions of the below 2 files and this seems to do the (temporary) trick
app/code/Magento/Catalog/Model/Category/Attribute/Backend/Image.php
app/code/Magento/Catalog/Model/ImageUploader.php

[2019-11-15 15:28] sdzhepa commented on #25509
Hello @saisudheern

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Ma

[2019-11-15 15:52] gregordonsky opened #25619 "REST API not same behaviour of searchCriteria[currentPage] in different endpoints"
### Preconditions (*)
Magento Version 2.3.3 & 2.3-develop
PHP version 7.3
Apache 2.4
Magento Default Theme

### Steps to reproduce (*)
1. Do an API product paginated search query with `/V1/products/searchCriteria[currentPage]=0&searchCriteria[pageSize]=20`
2. Look at returned JSON content.
3. Do an API product GET with `/V1/products/searchCriteria[currentPage]=1&searchCriteria[pageSize]=20`
4. Loo

[2019-11-15 16:04] LordHansolo opened #25620 "Unable to save page and block changes using Page Builder with enabled js minification."
### Preconditions (*)
1. Magento 2.3.3 EE

### Steps to reproduce (*)
1. Stores->Settings->Configuration->Advanced->Developer->JavaScript Settings->Minify JavaScript Files = Yes
2. Set production `bin/magento deploy:mode:set production`
3. Go to Content->Elements->Blocks\Pages->Edit
4. Make changes and Save

### Expected result (*)
1. Possibility to edit and save blocks and pages.

### Actual resu

[2019-11-15 16:33] gregordonsky commented on #25099
I can confirm that the patch applied to Magento 2.3.3 using Composer fixed the issue.
Unfortunately on my installation, after the image was uploaded, it is not copied from `catalog/tmp/category` to `catalog/category`.
Does anyone else have this problem?

### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Apply this [patch](https://github.com/magento/magento2/commit/59fa1f3f11ede

[2019-11-15 17:20] engcom-Echo commented on #25609
Hello @romeof1980

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the 2.3-develop branch by provided steps.

Testing scenario:

Steps to reproduce:

1. Create simple module with controller which consists translated phrases
2. Set up a csv translation file with some translations and an empty row
![Screenshot from 2019-11-15 19-10-46](https://user-images.gi

[2019-11-15 17:35] NicholasRoge opened #25621 "Integration Test Fixture Setup Issue"
### Preconditions (*)

1. Magento Version: 2.3.3 EE
2. PHP Version:  7.2.24
3. Installed via `composer create-project --repository=https://repo.magento.com/ magento/project-community-edition:2.3.3`

### Steps to reproduce (*)

1. `composer create-project --repository=https://repo.magento.com/ magento/project-community-edition:2.3.3 magento2`
2. [Configure the framework for test environment](https:

[2019-11-15 17:42] VladimirZaets commented on #622
Hi @gfxguru. Thank you for your report.
The issue has been fixed in magento/magento2#25556 by @engcom-Golf in 2.3-develop branch
Related commit(s):
 - [f22905662aeda6a0f2c073d650326dd6c2a6fd93](https://github.com/magento/magento2/commit/f22905662aeda6a0f2c073d650326dd6c2a6fd93)
 - [a07627c9b0c8dcb600cc1109a65c5a08ab375a71](https://github.com/magento/magento2/commit/a07627c9b0c8dcb600cc1109a65c5a08

[2019-11-15 17:42] VladimirZaets commented on #18548
Hi @4ctobias. Thank you for your report.
The issue has been fixed in magento/magento2#25556 by @engcom-Golf in 2.3-develop branch
Related commit(s):
 - [f22905662aeda6a0f2c073d650326dd6c2a6fd93](https://github.com/magento/magento2/commit/f22905662aeda6a0f2c073d650326dd6c2a6fd93)
 - [a07627c9b0c8dcb600cc1109a65c5a08ab375a71](https://github.com/magento/magento2/commit/a07627c9b0c8dcb600cc1109a65c5a0

[2019-11-15 17:43] VladimirZaets commented on #23966
Hi @sshymko. Thank you for your report.
The issue has been fixed in magento/magento2#25556 by @engcom-Golf in 2.3-develop branch
Related commit(s):
 - [f22905662aeda6a0f2c073d650326dd6c2a6fd93](https://github.com/magento/magento2/commit/f22905662aeda6a0f2c073d650326dd6c2a6fd93)
 - [a07627c9b0c8dcb600cc1109a65c5a08ab375a71](https://github.com/magento/magento2/commit/a07627c9b0c8dcb600cc1109a65c5a08

[2019-11-15 17:43] VladimirZaets commented on #21190
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#25380 by @ptylek in 2.3-develop branch
Related commit(s):
 - [dd33d872dec0eeeaa5956b4ff735fdd3e71a0b6c](https://github.com/magento/magento2/commit/dd33d872dec0eeeaa5956b4ff735fdd3e71a0b6c)
 - [a26ca318c44c48ba60d3ecbc78ac997079eab527](https://github.com/magento/magento2/commit/a26ca318c44c48ba60d3ecbc78ac997079ea

[2019-11-15 17:43] #21190 closed, assigned to ptylek

[2019-11-15 22:22] krissyhiserote commented on #24937
This should already be fixed and delivered into 2.3-develop.

[2019-11-15 22:22] #24937 closed, assigned to nobody

[2019-11-15 22:38] fabriciosobral commented on #25043
I am working on this

[2019-11-15 23:36] imranrbx commented on #1619
for me, this solves the problem,
1st I run "grunt refresh" than I run "grunt watch" and everything working fine after that.

Thanks

[2019-11-16 02:21] fabriciosobral commented on #25043
@magento give me 2.3-develop instance

[2019-11-16 02:21] magento-engcom-team commented on #25043
Hi @fabriciosobral. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-16 02:21] magento-engcom-team commented on #25043
Hi @fabriciosobral, here is your [Magento instance](https://i-25043-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25043-2-3-develop.instances.magento-community.engineering/admin](https://i-25043-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-16 03:04] Sharlyll commented on #25567
@engcom-Charlie O thanks! This helps a whole lot! I will cross check with my server.
I appreciate.

[2019-11-16 11:04] alirazabhatti commented on #11800
i have the same issue can any one help?

[2019-11-16 12:02] alirazabhatti commented on #11826
please do let me know how you solve this issue ???

[2019-11-16 17:59] smoi opened #25625 "Instagram Shopping PayPal checkout"
### Preconditions (*)

1. Magento 2.3.2
2. Paypal checkout enabled with Braintree module
3. Products tagged on an Instagram post

### Steps to reproduce (*)

1. Open the product page directly from Instagram from the tagged product
2. Add it to the cart and try to checkout with PayPal

### Expected result (*)

1. You login on PayPal and complete the checkout

### Actual result (*)

1. You see a bla

[2019-11-16 22:55] #25625 closed, assigned to nobody

[2019-11-17 02:19] jaredchu commented on #25430
Worked for me, thanks a lot!!!

[2019-11-17 06:32] fongd opened #25628 "Unable to configure Subscription Options for newsletters"
### Preconditions (*)

1. Magento CE 2.3.3 originally created from a Magento 1.9 site via data migration tool

### Steps to reproduce (*)

1. Navigate to Stores > Configuration > Customers > Newsletter in the administration area
2. Make sure "Enabled" is set to "Yes" under General Options
3. Click Subscription Options to expand that section

### Expected result (*)

Subscription Options should exp

[2019-11-17 06:33] fongd commented on #25628
@magento give me 2.3-develop instance

[2019-11-17 06:33] magento-engcom-team commented on #25628
Hi @fongd. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-17 06:34] magento-engcom-team commented on #25628
Hi @fongd, here is your [Magento instance](https://i-25628-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25628-2-3-develop.instances.magento-community.engineering/admin](https://i-25628-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-17 06:40] fongd commented on #25628
Closing - 1Blocker content blocker was breaking this specific page in Safari for some reason (other admin pages don't appear to be similarly affected).

[2019-11-17 06:40] #25628 closed, assigned to nobody

[2019-11-17 08:39] vishalpatel14 commented on #25153
This issue still exist. Its not regarding any Email sender name issue or any "," at the end of string. Its the core 2.3.3 Bug. Below is the stack trace for the issue.

<br />
<b>Fatal error</b>:  Uncaught TypeError: Argument 1 passed to Magento\Email\Model\Template::setVars() must be of the type array, null given, called in /home/ozw5567/public_html/m2/vendor/magento/framework/Mail/Template/Transp

[2019-11-17 08:43] vishalpatel14 commented on #24448
This issue still exit in core 2.3.3. Its not regarding any 3 party SMTP issue or any Email sender name issue.
Below is the same debug trace of code same as above.

<br />
<b>Fatal error</b>:  Uncaught TypeError: Argument 1 passed to Magento\Email\Model\Template::setVars() must be of the type array, null given, called in vendor/magento/framework/Mail/Template/TransportBuilder.php on line 368 and de

[2019-11-17 16:05] scne commented on #13765
I've magento version 2.3.3 but this issue produce the same hang up!

[2019-11-17 19:56] eurobeautiful commented on #10555
This is clearly a bug, and it is quite baffling that this issue keeps getting shut down as "expected behavior".

"Add/Update" can only be understood as "add if the sku doesn't exist, update if the sku exists". And for every other attribute of the product, the import process works like that.

Except categories - this is the only attribute where the values aren't updated, they are added to.

This is

[2019-11-17 19:57] eurobeautiful commented on #10555
Because of this bug there is currently no batch process for "moving" products from one category to another.

[2019-11-18 04:39] ajijshekh123 commented on #25588
@dspiritocme - If you have found this issue again. You can attached the video and reopen this issue.
Now I am closing this issue.

Thanks.

[2019-11-18 04:39] #25588 closed, assigned to ajijshekh123

[2019-11-18 06:09] drpayyne commented on #24840
Reopening this issue as using the `!important` from this linked PR has caused another issue to have to use `!important` too as the only way to override that style. Assigning myself and will submit a PR to revert this change and submit a better fix.

CC: @sivaschenko

[2019-11-18 06:12] magento-engcom-team commented on #24840
:white_check_mark: Confirmed by @drpayyne
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21460` were created

**Issue Available**: @drpayyne, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-18 06:13] jsdupuis commented on #23411
Having the same issue. What am I supposed to do? Apply the email patch and fix my files manually as per the 6 commits above???

[2019-11-18 06:13] drpayyne commented on #24840
Working on this now.

[2019-11-18 06:45] Jeeva-Rathinam commented on #18841
Getting the same error Magento 2.3.3 for both add-to-cart and customer registration.

[2019-11-18 07:46] engcom-Charlie commented on #24929
Hello @MichaelThessel
We are closing this issue due to the https://github.com/magento/magento2/issues/7231 was confirmed by me and i can't reproduce your issue on a fresh Magento 2.3-develop.

Thanks for your report!

[2019-11-18 07:46] #24929 closed, assigned to engcom-Charlie

[2019-11-18 08:01] vishalpatel14 opened #25630 "PP Express Checkout Return Gives Server 500. Emails of BCC issue."
### Preconditions (*)

1. Magento CE 2.3.3 without sample data is installed.
2. Paypal Express Checkout Return Orders Email gives Server 500 error.
3. Admin order Comment Gives server 500 error

### Steps to reproduce (*)

1. Go To PP Express Checkout and Return Back on Successful Transaction Gives Server 500 Error
2. Admin order Comment Add Ajax gives server 500 error .

### Expected result (*)

[2019-11-18 08:03] vishalpatel14 commented on #25630
@magento give me 2.3-develop instance

[2019-11-18 08:03] magento-engcom-team commented on #25630
Hi @vishalpatel14. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-18 08:03] magento-engcom-team commented on #25630
Hi @vishalpatel14, here is your [Magento instance](https://i-25630-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25630-2-3-develop.instances.magento-community.engineering/admin](https://i-25630-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-18 08:11] EngPeterMaged opened #25631 "repl_product is not found and isn't executable it is always status is pending not complete in crons list job"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-11-18 08:17] magento-engcom-team commented on #25177
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23220` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-18 08:19] #25615 closed, assigned to nobody

[2019-11-18 08:19] vishalpatel14 commented on #25630
do you confirm that you were able to reproduce the issue on vanilla Magento instance following steps to reproduce?

I have tried to produce same as Magento vanila instance but emails is not working their hence we cant check that feature.

[2019-11-18 08:53] arnoudhgz commented on #23411
@jsdupuis you can use this as patch file: https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/25307.diff

Please make sure you make the paths correct when you use a composer installation.

[2019-11-18 08:57] saxsax1995 commented on #13433
@joni-jones Do you have a patch for this? i'm in magento version 2.1.10.

[2019-11-18 08:58] amit-markupdesigns opened #25632 "Third party api doesn't authorize"
I have proceed multiple times for third part api(cartrover) in magento 2.3.2 but not authorize.

Server response message: The consumer isn't authorized to access %resources.
Array
(
[resources] => Magento_Sales::actions_view
)

Thanks

[2019-11-18 09:05] PascalBrouwers commented on #22587
What? Even the Magento Commerce patch is not 100% correct? pfffff.

[2019-11-18 09:08] amit-markupdesigns commented on #25632
Hi m2 assistant,

1) Third party api doesn't authorize
2) Information on your environment
=>PHP Version 7.1.33
=>System | Linux ip-72-167-224-73.ip.secureserver.net 3.10.0-1062.4.1.el7.x86_64 #1 SMP Fri Oct 18 17:15:30 UTC 2019 x86_64
=>Server API | CGI/FastCGI
3) Steps to reproduce
https://cartrover.atlassian.net/wiki/spaces/CART/pages/3997758/Setting+Up+Magento+2
4) Expected and actual results
!

[2019-11-18 09:08] cstergianos commented on #20502
@magento-engcom-team @amol2jcommerce @priti2jcommerce this issue is not reproducible on the latest 2.3-develop commit.

![image](https://user-images.githubusercontent.com/25661926/69038995-f8398700-09e2-11ea-98cc-c52632484f01.png)

Is it safe to close this ticket?

[2019-11-18 09:23] engcom-Echo commented on #25609
Hello @romeof1980

Thank you for youre report!

Fix for this issue is available on 2.2.9 and 2.3.3 release, please try upgrade.
lib/internal/Magento/Framework/App/Language/Dictionary.php
[code]
So I have to close this issue.
Thank you!

[2019-11-18 09:23] #25609 closed, assigned to engcom-Echo

[2019-11-18 09:30] magento-engcom-team commented on #25182
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23224` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-18 09:46] mhilko commented on #13398
Checkout page seems to be one of the most painful things for Magento developers.
Fortunately, there is a great guide on this issue. It contains the most common problems developers usually have with it. Here is the link: [https://onilab.com/blog/magento-checkout-slow-fix-it-in-8-simple-steps/](https://onilab.com/blog/magento-checkout-slow-fix-it-in-8-simple-steps/) I hope you will find it valuable.

[2019-11-18 10:28] magento-engcom-team commented on #25616
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23225` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-18 10:48] Yuwei9291 commented on #24930
Clean install, same issue

[2019-11-18 10:50] Yuwei9291 commented on #25593
Clean install, same issue.

[2019-11-18 10:51] a-dite commented on #22057
We fixed this problem, in an import module importing categories, by changing DB Transaction Isolation Level Globally from REPEATABLE READ (Default) to READ COMMITED.

[2019-11-18 10:52] melaniajitaru commented on #11998
Hi,

This error also appears in Magento 2.3.3. Do you have any news on how to fix it? @magento-engcom-team

Thanks.

[2019-11-18 11:02] maxserv-woostelbos opened #25633 "XSD regex modification"
### Description (*)
Hi,

We are using a theme framework that allows an '@' in html classes. Magento aparanty does not like this accoring to the file 'vendor/magento/framework/View/Layout/etc/elements.xsd'

`<xs:simpleType name="htmlClassType">
        <xs:restriction base="xs:string">

            <xs:pattern value="[a-zA-Z][a-zA-Z\d\-_]*(\s[a-zA-Z][a-zA-Z\d\-_]*)*"/>
        </xs:restriction>

[2019-11-18 11:15] magento-engcom-team commented on #24337
Hi @mfutselaar, @UncleTioma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-19699` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

B

[2019-11-18 11:15] #24337 closed, assigned to UncleTioma

[2019-11-18 11:26] engcom-Charlie commented on #23620
Hello @bassmo
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-11-18 11:26] #23620 closed, assigned to nobody

[2019-11-18 11:30] Yuwei9291 opened #25634 "Magento 2.3.3 Cronjob use too much CPU source"
### Preconditions (*)

1.nginx, mysql5.6, php7.3, composer install magento 2.3.3
2.finish all the settings and set 3 cronjobs following the official document.

### Steps to reproduce (*)

1.use top command to monitoring the task cpu usage.
2.run php bin/magento cron:run and check the cpu usage.

### Expected result (*)

1. Smooth CPU usage, dose not cause the long time loading.

### Actual result

[2019-11-18 11:47] diegocpires opened #25635 "Bug when create a new admin route with hyphen"
### Preconditions (*)

1. Magento version 2.3-develop

### Steps to reproduce (*)

1. Create a new route, with hyphen in frontName. E.g.:

<router id="admin">

    <route id="adminmodule" frontName="-">

        <module name="Contribution_AdminModule" />

    </route>

</route>

2. Create a new menu for Admin. E.g.:

### Expected result (*)

1. A new and functional rote, with hyphen in url

### Ac

[2019-11-18 12:29] taoufiqaitali commented on #23671
@magento give me 2.3-develop instance

[2019-11-18 12:29] magento-engcom-team commented on #23671
Hi @taoufiqaitali. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-18 12:53] sunilit42 opened #25636 "Performance issue on category page with configurable product"
### Preconditions (*)

1. latest Magento
2. category page contains some configurable product

### Steps to reproduce (*)

1. go to a category page and you will it will load individual product

### Expected result (*)

1. it should use collection data no need to load product
2. it should implement same like bundle product

Bundle Product Plugin:-
https://github.com/magento/magento2/blob/2.4-develop

[2019-11-18 13:17] miloszowi opened #25637 "Banner ajax call is shot at every page"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Add banner to Product Listing Page
2. Go to Network in developer tools and watch for `banner/ajax/load` route call

### Expected result (*)

Ajax call to be shot only if the banner is present on the page.

### Actual result (*)

Ajax call is shot at every page, even if the banner is not present on the page.

### Description
Aj

[2019-11-18 13:39] engcom-Echo commented on #25631
Hello @EngPeterMaged

Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of magento.

Thank you!

[2019-11-18 13:55] olekisy-iwdagency commented on #11800
I can reproduce it on 2.3.3 version too. But looks like it's not related to the Magento version. Maybe, it's server-side configuration/settings, because, I can reproduce it only on some servers for the same project.
I noticed what I have 404 error when I try to insert js script in footer. A good example is an Olark chat. After some investigation, I found a small script that causes the issue when I

[2019-11-18 14:02] engcom-Foxtrot commented on #24594
Hello, @j-robin-hunter. Thank you for collaboration.
Currently, the callback cannot be a function, it should be an object implementing a [ColumnAction interface](https://devdocs.magento.com/guides/v2.3/ui_comp_guide/components/ui-column.html#column_action). If you think Magento should support defining callback with the function, please open a new feature request.

[2019-11-18 14:02] #24594 closed, assigned to engcom-Foxtrot

[2019-11-18 14:09] med-amin commented on #24952
@magento give me 2.3-develop instance

[2019-11-18 14:09] magento-engcom-team commented on #24952
Hi @med-amin. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-18 14:09] magento-engcom-team commented on #24952
Hi @med-amin, here is your [Magento instance](https://i-24952-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24952-2-3-develop.instances.magento-community.engineering/admin](https://i-24952-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-18 14:55] koenner01 commented on #25410
Duplicate of my issue from 2018
https://github.com/magento/magento2/issues/13252

[2019-11-18 15:01] itsolon commented on #25430
worked for me too!

[2019-11-18 15:01] #25430 closed, assigned to nobody

[2019-11-18 15:08] an4rei commented on #25347
Any idea who is developing this extension? The content is served via an API therefore direct interaction on the code from vendor won't help.

[2019-11-18 15:16] BenItt commented on #25403
Hi there,

we were facing the exact same error.

We worked around this by disabling the Vertex module (which we anyhow do not use)

[code]

Maybe it helps you guys as well. After disabling the module all works fine again.

Best regards

[2019-11-18 15:55] engcom-Echo commented on #25632
Hello @amit-markupdesigns

Thank you for contribution and collaboration!

This is related with CartRover is third party extension and not included in magento by default.
Please refer to the [CartRover support](https://www.cartrover.com/contact.php), for advice or general discussion about this issue.

So I have to close this issue.
Thanks for your report!

[2019-11-18 15:55] #25632 closed, assigned to engcom-Echo

[2019-11-18 16:10] michel334 commented on #25076
Why is basic shit allways breaking with Magento with every fucking update? Do you not test new releases? Are we the alpha testers? For fuck sake. We have real clients who try to sell shit.

[2019-11-18 17:26] AnnaShepa commented on #25637
@magento give me 2.3-develop instance

[2019-11-18 17:27] magento-engcom-team commented on #25637
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-18 17:27] magento-engcom-team commented on #25637
Hi @AnnaShepa, here is your [Magento instance](https://i-25637-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25637-2-3-develop.instances.magento-community.engineering/admin](https://i-25637-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-18 17:32] vseager opened #25642 "Filter order grid by purchase date doesn't work."
### Preconditions (*)
1. Magento 2.3.2
2. Locale set to `English (United Kingdom)`
3. Timezone set to `Greenwich Mean Time (Europe/London)`

## Scenario 1

### Steps to reproduce (*)

1. Go to `Sales > Orders`
2. Select `Filter` and add a  value to the `from` (I used `01/08/2019`) and `to` (I used `13/09/2019`)  fields under `Purchase Date`.
3. Click `Apply Filters`

### Expected result (*)

1. Gr

[2019-11-18 17:57] sdzhepa commented on #25620
Hello @LordHansolo

Thank you for contribution and collaboration!

This issue related to Page Builder functionality which is not part of Magento Open Source.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collaboration. It described in [

[2019-11-18 19:54] j-lloyd-slc commented on #4911
Same problem with Magento 2.3.3

Seems to sill be expecting directories that are no longer installed by default, and failing when not found.

[2019-11-18 20:20] alrururu commented on #11373
I am getting same issue on import. There is no import items with errors actually showing in the report
General system exception happened
Additional data:
Invalid URL key

[2019-11-18 20:22] alrururu commented on #11373
https://i.imgur.com/fpnAjv4.png

[2019-11-18 20:27] alrururu commented on #6924
Same error on 2.3.3
https://i.imgur.com/fpnAjv4.png

[2019-11-18 20:28] sdzhepa commented on #25621
Hello @NicholasRoge

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at M

[2019-11-18 20:38] Zyles opened #25644 "Urgent: Unable to change attribute set on new product"
# Preconditions (*)

Magento 2.3.3

### Steps to reproduce (*)

1. Add new product
2. Change attribute set
3. ??? Nothing happens
4. Can't save product because not all required attribute set fields are filled in

### Expected result (*)

Be able to add new product and change attribute set so we can add new products.

### Actual result (*)

Not being able to add new products.

[2019-11-18 20:54] alrururu commented on #6924
when I imported 498 item instead, it goes ok
https://i.imgur.com/WxU4oTx.png

[2019-11-18 21:01] Zyles opened #25645 "Where is the 2.3.3 hotfix?"
### Preconditions (*)

### Steps to reproduce (*)

1. Login to admin
2. Be greeted by yellow popup regarding 2.3.3 hotfix
3. Spend hours looking for it
4. Go to github and ask

### Expected result (*)

Link to hotfix in message.

### Actual result (*)

Link to some wiki page that does not contain any information regarding a hotfix for 2.3.3 or where to find it.

[2019-11-18 22:44] siliconalchemy opened #25646 "REST products update category_ids cannot be removed (from #20481)"
** Note: This is a continuation of #20481, which in turn is a continuation of #14038.  Both of these issues were closed without a correct fix in place **

Preconditions and Steps to Reproduce

For example, if a product currently has custom_attribute { 'category_ids': '['10127', '10048', '10123', '10126'] }, and I want to remove two of the categories from the product by setting this to { 'category_

[2019-11-18 22:46] siliconalchemy commented on #25646
My workaround is to edit vendor/magento/module-catalog/Model/Category/Link/SaveHandler.php and change:
 $processLinks = $this->mergeCategoryLinks($dtoCategoryLinks, $modelCategoryLinks);
to
 $processLinks = $modelCategoryLinks;

Deleting categories then works perfectly for me, but I don't know what other impacts that could have.

[2019-11-18 22:51] krzksz commented on #25592
I've just checked the issue and according to the docs of `[.lib-line-height](https://github.com/magento/magento2/blob/0eb8677b0b4e35606032e856cc1ef7c80e68829f/lib/web/css/docs/source/_typography.less#L897)` the conversion to `rem` is there by design, which is even outlined in the example provided.

[2019-11-18 23:39] siliconalchemy commented on #14109
@brideo, could you possibly give an example of how to override MAX_NUM_COOKIES?  I've tried overriding Magento\Framework\Stdlib\Cookie\PhpCookieManager::checkAbilityToSendCookie with Preference but no luck.

[2019-11-19 00:10] brideo commented on #14109
Hey @siliconalchemy,

I assume the class is still the same so you will need to add a preference to your class then override the max cookie constant.

`<preference for="B" type="A" />`

[code]

Output:

[code]

[2019-11-19 00:22] siliconalchemy commented on #25269
I confirm exactly the same issue in Magento 2.3.3.  This is a killer when you depend on retrieving all categories across all stores to sync with any other system.

[2019-11-19 01:49] siliconalchemy commented on #25269
Ah, this has since been fixed:
https://github.com/magento/magento2/commit/eb28168184ff769e0f03c8c2e5c2fe223cdac7a2#diff-06419995ef6a4b327e3306cfba805293R110

The bug is in line 110 in  app/code/Magento/Catalog/Model/Category/Tree.php:
Change:
        `$this->categoryTree->addCollectionData($this->categoryCollection);`
to:
        `$categoryTree->addCollectionData($this->categoryCollection);`

I as

[2019-11-19 03:09] vincentteyssier commented on #25593
Just as a precision, on a t2.medium instance I observe the following run time for the cron job running every minute:
Clean Magento 2.3.2: 1s
Clean Magento 2.3.3: 3.5s
Upgraded magento 2.3.2 to 2.3.3: 9s

[2019-11-19 04:10] magento-engcom-team commented on #25596
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#25597 by @edenduong in 2.3-develop branch
Related commit(s):
 - [9f5fece4a8c330dd44e664eee8d137e162608945](https://github.com/magento/magento2/commit/9f5fece4a8c330dd44e664eee8d137e162608945)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-19 04:10] #25596 closed, assigned to edenduong

[2019-11-19 04:10] magento-engcom-team commented on #25601
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#25606 by @ihor-sviziev in 2.3-develop branch
Related commit(s):
 - [d26f8dad182b6f2cb8608758989fff3edb53a09f](https://github.com/magento/magento2/commit/d26f8dad182b6f2cb8608758989fff3edb53a09f)

The fix will be available with the upcoming 2.3.5 release.

[2019-11-19 04:10] #25601 closed, assigned to ihor-sviziev

[2019-11-19 04:10] magento-engcom-team commented on #25069
Hi @pusachev. Thank you for your report.
The issue has been fixed in magento/magento2#25080 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [0f796ccced021764632aa031ed44ac8efddf66d4](https://github.com/magento/magento2/commit/0f796ccced021764632aa031ed44ac8efddf66d4)
 - [2138e68aeced33886a98406c5f26e1036385a495](https://github.com/magento/magento2/commit/2138e68aeced33886a98406c5f2

[2019-11-19 04:10] #25069 closed, assigned to mahesh-rajawat

[2019-11-19 04:10] magento-engcom-team commented on #25008
Hi @deepaktiwariwebkul. Thank you for your report.
The issue has been fixed in magento/magento2#25585 by @ptylek in 2.3-develop branch
Related commit(s):
 - [9ea1d3fcce6043a660ffbb2157a0d8a137ed1965](https://github.com/magento/magento2/commit/9ea1d3fcce6043a660ffbb2157a0d8a137ed1965)
 - [1f010f148cdce4e17baaf02235b325b79b3bb8a1](https://github.com/magento/magento2/commit/1f010f148cdce4e17baaf02235

[2019-11-19 04:10] #25008 closed, assigned to ptylek

[2019-11-19 04:24] ajijshekh123 commented on #25644
Give me @magento give me 2.3-develop instance

[2019-11-19 04:25] magento-engcom-team commented on #25644
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-19 04:25] magento-engcom-team commented on #25644
Hi @ajijshekh123, here is your [Magento instance](https://i-25644-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25644-2-3-develop.instances.magento-community.engineering/admin](https://i-25644-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-19 04:37] surao101 commented on #14068
Same problem when setting locale to Chinese (Taiwan)

PHP Fatal error:  Uncaught TypeError: Argument 1 passed to iterator_to_array() must implement interface Traversable, null given in vendor/magento/framework/View/Element/Html/Calendar.php:75

[2019-11-19 04:51] ajijshekh123 commented on #25644
Hello, @Zyles,

I have created a new attribute and apply the new attribute on Add new product section. I can't reproduce this issue.
**Please, refer attached the video:**

![1](https://user-images.githubusercontent.com/24711761/69117615-45d2f400-0ab6-11ea-989f-8979948605ad.gif)

If you have reproduced this issue please attached video or add some additional information to reproduce this issue.

Tha

[2019-11-19 05:33] Yuwei9291 commented on #25634
![微信截图_20191119133238](https://user-images.githubusercontent.com/45879513/69119305-1ed5eb80-0ad1-11ea-9d2a-05fe24445fa2.png)
CPU Monitoring info

[2019-11-19 05:45] maheshmakwana-code commented on #5279
i'm faceing this issue also :(.  any one have solution pls helps us

[2019-11-19 07:10] amit-markupdesigns commented on #25632
Hi engcom-Echo,

This issue not from cartrover whatever used another website is working fine. And cartrover is already support for this issue but not now any conclusion.

I thing, also issue here either magento 2 or server.

Thanks
Amit

[2019-11-19 08:20] magento-engcom-team commented on #25637
Hi @AnnaShepa, here is your [Magento instance](https://i-25637-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25637-2-3-develop.instances.magento-community.engineering/admin](https://i-25637-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-19 08:45] edenduong opened #25647 "Wrong Css at "Minimum Qty Allowed in Shopping Cart" on Google Chrome"
### Preconditions (*)

1. 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Store->Configurations, Catalog->Inventory
3. Look at "Product Stock Options", "Minimum Qty Allowed in Shopping Cart"

![image](https://user-images.githubusercontent.com/8234209/69130401-0a025380-0ae3-11ea-9bc3-a7546b119fa2.png)

### Expected result (*)

1. Gray color as **Disabled**

![image](https://user-images

[2019-11-19 08:45] edenduong commented on #25647
@magento give me 2.3-develop instance

[2019-11-19 08:45] magento-engcom-team commented on #25647
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-19 08:46] magento-engcom-team commented on #25647
Hi @edenduong, here is your [Magento instance](https://i-25647-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25647-2-3-develop.instances.magento-community.engineering/admin](https://i-25647-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-19 08:55] magento-engcom-team commented on #25647
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-28938` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-19 09:00] cafefin opened #25649 "Catalog Price Rule on configurable products not showing incorrect"
### Preconditions (*)

1. Magento 2.2.3 EE
2. PHP 7.0.33

### Steps to reproduce

1. Create a discount rule based on attribute set which have configurable products
2. Save & Apply rule
3. Run command reindex to apply catalog price rules
4. Open Backend Magento 2 : Go to Customers -> All customers -> Choosen one customer ->
5. Click Manage Shoping Cart -> Selected product has discount rule ->  Clic

[2019-11-19 09:01] AnnaShepa commented on #25637
@miloszowi thank you for the report. Unfortunately I didn't manage to reproduce the issue. Please add more details. You can check as well yourself if the issue can be reproduce on current magento version using `@magento give me 2.3-develop instance `

[2019-11-19 09:01] magento-engcom-team commented on #25637
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-19 09:09] cafefin commented on #25649
@magento give me 2.2.3-develop instance

[2019-11-19 09:09] magento-engcom-team commented on #25649
Hi @cafefin. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-11-19 09:11] siliconalchemy commented on #25269
Fab, thanks :)

[2019-11-19 09:15] cafefin commented on #25649
@magento give me 2.3-develop instance

[2019-11-19 09:15] magento-engcom-team commented on #25649
Hi @cafefin. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-19 09:16] magento-engcom-team commented on #25649
Hi @cafefin, here is your [Magento instance](https://i-25649-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25649-2-3-develop.instances.magento-community.engineering/admin](https://i-25649-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-19 09:20] engcom-Charlie commented on #25607
Hello @jwbeech

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.3-develop branch & 2.3.3.

We are closing this issue due to branch `2.1-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

If you still faced this issue on `2.3

[2019-11-19 09:20] #25607 closed, assigned to engcom-Charlie

[2019-11-19 09:21] jawaharjey opened #25650 "Decimal Product Quantity is missing in Order View and Mails"
### Preconditions (*)

1. Magento 2.2.10

### Steps to reproduce (*)

1. Order a product that accepts decimal quantity (say 0.5)
2. After the order is placed, open the Order in Backend (Admin)
3. See the Ordered Qty is coming as 0. Note: Decimal part is missing
4. The same error appears on Invoice, Shipping etc..
5. Order Confirmation email also showing Qty as 0

![image](https://user-images.githu

[2019-11-19 09:30] sudheers-kensium commented on #25650
@magento give me 2.3-develop instance

[2019-11-19 09:31] magento-engcom-team commented on #25650
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-19 09:32] magento-engcom-team commented on #25650
Hi @sudheers-kensium, here is your [Magento instance](https://i-25650-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25650-2-3-develop.instances.magento-community.engineering/admin](https://i-25650-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-19 09:38] magento-engcom-team commented on #25534
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-28940` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-19 09:45] sudheers-kensium commented on #25650
@jawaharjey I am not able to reproduced in Magento 2.3-develop instance. Maybe this issue is resolved in latest Magento instance, so I am closing this issue.

![image](https://user-images.githubusercontent.com/50358141/69135618-68c5ce00-0adf-11ea-85d2-674403166852.png)

[2019-11-19 09:45] #25650 closed, assigned to nobody

[2019-11-19 09:51] jawaharjey commented on #25650
The issue was replicated in Magento 2.2.10 release version. With this instance the issue seems to be fixed.

[2019-11-19 09:55] sudheers-kensium commented on #25650
@jawaharjey You are using old Magento instance, This issue not able to reproduced in Magento 2.3.3. So can you upgrade your Magento instance to 2.3.3.

[2019-11-19 10:10] jawaharjey commented on #25650
Agreed Magento 2.3.3 does have the issue, Magento 2.2.10 does. I have posted this so anyone wanted to have fix on Magento 2.2.10 could be benefited.

[2019-11-19 10:16] siliconalchemy commented on #14109
Hey @brideo, thanks for response.  Is it not possible to override the core class to reset MAX_NUM_COOKIES?

[code]
This has no effect as a preference (setting to 2 to test).

[2019-11-19 10:17] wdttilburg commented on #12176
This is still a bug in magento 2.2.10 (tig/postnl-magento2 and onestepcheckout/iosc is installed). Magento has set the wrong attribute model in the attribute cache when i followed these steps

1. clear cache with bin/magento c:c
2. open home page
3. goto empty category
4. goto category with products
5. goto to product
6. add product to cart
7. goto cart
8. goto checkout
9. change storeview to diff

[2019-11-19 10:53] jorgb90 commented on #25645
@Zyles Here you go https://magento.com/tech-resources/download?_ga=2.145851831.286978101.1574107906-349907245.1574107906#download2331

[2019-11-19 10:54] engcom-Echo commented on #25642
Hello @vseager

Thank you for your report and collaboration!
Tested on 2.3.3 and 2.3-develop.
We are not able to reproduce this issue by provided steps.

**Preconditions:**
1. Locale set to English (United Kingdom)
2. Timezone set to Greenwich Mean Time (Europe/London)

**Testing scenario 1:**

**Steps to reproduce:**
1. Go to Sales > Orders
2. Select Filter and add a value to the from (for exampl

[2019-11-19 10:54] #25642 closed, assigned to engcom-Echo

[2019-11-19 11:02] charleskj commented on #24233
The issue still there in 2.3.1 version
--
[code]

SHIPPINGAMT + ITEMAMT + TAXAMT = AMT
8.33 + 44.17 + 12.49 = 65
**64.99 = 65.00**

Paypal Debug Log
--

[code]

[2019-11-19 11:02] edroberts commented on #24233
@ sdzhepa  - this has been replicated on Open Source and should be reopened - please see above

[2019-11-19 11:03] jorgb90 commented on #25593
A lot of users are reporting cron issues since 2.3.3.. This should get some priority!

[2019-11-19 11:04] jorgb90 commented on #25634
Same issue here #25593

[2019-11-19 11:30] engcom-Charlie commented on #25486
Hello @alex-james

We are not able to reproduce this issue on the Magento 2.3.3

**Testing scenario:**

1. Create second website, stock & source and merge it together
2. Create product and assign it to all sources and websites
![image](https://user-images.githubusercontent.com/51680850/69143013-aec76580-0ad0-11ea-9c0a-99adacdf092e.png)
3. Run bin/magento cron:run & check values of `indexer_reindex

[2019-11-19 11:30] #25486 closed, assigned to engcom-Charlie

[2019-11-19 11:45] killday commented on #2332
Any help on this? In my case the flat rate suddenly stop showing. Magento 2.2.0

[2019-11-19 12:05] engcom-Charlie commented on #25505
Hello @koenner01

We are not able to reproduce this issue on the latest 2.3-develop branch.

**Testing scenario:**

1. Have (or create) a shit load of widgets in your project (that have is_email_compatible = 0)
2. In Adminhtml go to Marketing > Communications > Newsletter Template
3. Click "Add new template"
4. In the wysiwyg editor try to insert a widget(changed values of ​​`is_email_compatible`

[2019-11-19 12:09] koenner01 commented on #25505
How many widgets do you have that have is_email_compatible set to 0 ?

The issue appears when you really have a LOT (numbers varies as the class path is being used in the encoded string.

[2019-11-19 12:16] NickvdMeij commented on #18841
@magento-engcom-team perhaps reopen this issue, since its clearly not fixed?...

[2019-11-19 12:18] NickvdMeij commented on #24032
Thanks, i will ask others how to fix your shit while you guys keep forgetting to write documentation.. Best way ofcourse to share knowledge, just let everyone reinvent the wheel again and again and again... 1103 open issues, you might wanna close all those and refer them to stackoverflow as well, then you guys can call it a day and go home

[2019-11-19 12:33] davidverholen commented on #25542
the same happens for order mails if the customer name contains non ascii characters. So this issue is valid and even pretty critical

[2019-11-19 12:34] magento-engcom-team commented on #25542
:white_check_mark: Confirmed by @davidverholen
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-28945` were created

**Issue Available**: @davidverholen, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-19 12:36] engcom-Echo commented on #25247
Hello @IanFiretoys

Thank you for your report and collaboration!
This issue is duplicate of [#25642](https://github.com/magento/magento2/issues/25642).
So I close it.
Thanks for your report!

[2019-11-19 12:36] #25247 closed, assigned to engcom-Echo

[2019-11-19 12:37] adamvarga opened #25652 "Arrows (.fotorama__thumb__arr) don't work in product gallery"
### Preconditions (*)
1. 2.3.3 Open Source and Commerce Edition with Sample Data

### Steps to reproduce (*)
1. Navigate to product page
2. Check product with thumbnails in product gallery
3. The little arrows don't work

### Expected result (*)
1. The arrows `.fotorama__thumb__arr ` work or not existed, in previous version the arrows were not there

### Actual result (*)

The little arrows next t

[2019-11-19 12:43] devchris79 commented on #25602
The source postcode looks wrong as the DHL log indicates. Spanish postcodes look to be 5 numbers and you have 6 (291008 in the origin).
https://en.wikipedia.org/wiki/List_of_postal_codes_in_Spain

[2019-11-19 12:58] engcom-Charlie commented on #25505
@koenner01
I set 0 for all available widgets

[2019-11-19 13:13] alexkwellbe commented on #21910
@magento give me 2.3-develop instance

[2019-11-19 13:14] magento-engcom-team commented on #21910
Hi @alexkwellbe. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-19 13:14] sudheers-kensium commented on #25652
@magento give me 2.3-develop instance

[2019-11-19 13:14] magento-engcom-team commented on #25652
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-19 13:14] magento-engcom-team commented on #21910
Hi @alexkwellbe, here is your [Magento instance](https://i-21910-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21910-2-3-develop.instances.magento-community.engineering/admin](https://i-21910-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-19 13:15] magento-engcom-team commented on #25652
Hi @sudheers-kensium, here is your [Magento instance](https://i-25652-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25652-2-3-develop.instances.magento-community.engineering/admin](https://i-25652-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-19 13:16] alexkwellbe commented on #22807
@magento give me 2.3-develop instance

[2019-11-19 13:16] magento-engcom-team commented on #22807
Hi @alexkwellbe. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-19 13:17] magento-engcom-team commented on #22807
Hi @alexkwellbe, here is your [Magento instance](https://i-22807-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22807-2-3-develop.instances.magento-community.engineering/admin](https://i-22807-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-19 13:23] polcarrasco commented on #25602
Just fixed the postcode from Origin. It keeps faulty, DHL does not give any  rate.

[2019-11-19 13:40] sudheers-kensium commented on #25652
@adamvarga This is not an issue, because you have only 3 images so arrows not displaying. If you have more images then arrows will display.

![image](https://user-images.githubusercontent.com/50358141/69151214-37112f00-0b00-11ea-813b-8dabacfa8d71.png)

[2019-11-19 13:47] adamvarga commented on #25652
@sudheers-kensium The little arrows next to the thumbs only make sense if there are more pictures than there is room for,  although I only have 3 pictures, the arrows are displayed, which makes no sense.
I marked those with red circle on the screenshot.

Why are this litte arrows displayed? And if they ever appear, why don't work. That is the question...
So either show and work, or hide completely

[2019-11-19 14:05] devchris79 commented on #25602
What is your origin config now then?

[2019-11-19 14:08] adamvarga commented on #25652
@sudheers-kensium I have removed a few product images from your test page (https://i-25652-2-3-develop.instances.magento-community.engineering/test.html). **I have also only three image**, **the arrows are displayed anyway** ...

![Bildschirmfoto 2019-11-19 um 15 06 11](https://user-images.githubusercontent.com/17138890/69153367-67e06c80-0ade-11ea-9767-79ff5840b512.png)

[2019-11-19 14:11] alexey-rakitin commented on #20125
@magento I am working on it

[2019-11-19 14:15] polcarrasco commented on #25602
![Captura origin](https://user-images.githubusercontent.com/57757685/69153952-65cadd80-0adf-11ea-97e4-e96e1be36043.JPG)

[2019-11-19 14:16] Bartlomiejsz commented on #15761
Fixed in https://github.com/magento/magento2/commit/d3e32b4e5db80f7c04734f63cfeec83155613222#diff-5538e85fc1e008b1baa2324ff25ac673

[2019-11-19 14:16] #15761 closed, assigned to Bartlomiejsz

[2019-11-19 14:22] galieth opened #25653 "MSI Modules allow Oversell leading to Negative Quantity Available"
### Preconditions (*)
1. First encountered on a Magento 2.x that was upgraded to Magento 2.3.3
2. I have reproduced this on a fresh copy of Magento 2.3.3 running on Valet Plus

### Steps to reproduce (*)
Test 1:
1. Install fresh copy of Magento 2.3.3 with Composer
2. Add a product to the site that has inventory control enabled and a quantity of 1
3. I used 2 computers each one added the product to

[2019-11-19 14:25] magento-engcom-team commented on #25653
Hi @galieth. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-19 14:26] magento-engcom-team commented on #25653
Hi @galieth, here is your [Magento instance](https://i-25653-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25653-2-3-develop.instances.magento-community.engineering/admin](https://i-25653-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-19 14:29] magento-engcom-team commented on #25652
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-19 14:30] magento-engcom-team commented on #25652
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-28947` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-19 14:39] 0x15f commented on #25551
Can confirm this bug.

[2019-11-19 14:52] magento-engcom-team commented on #25634
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-28949` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-19 14:55] engcom-Charlie commented on #25593
Hello, everyone!
I am closing this issue as a duplicate of https://github.com/magento/magento2/issues/25634, because i prefer to confirm 25634(this issue includes more clear description).

Thank you all for contribution and collaboration!

[2019-11-19 14:55] #25593 closed, assigned to engcom-Charlie

[2019-11-19 15:14] Yonn-Trimoreau commented on #23511
`UPDATE admin_user SET password = CONCAT(SHA2('xxxxxxxxNewPassword', 256), ':xxxxxxxx:1') WHERE username = ‘admin';`

[2019-11-19 15:16] NathMorgan opened #25654 "Magento OpenGraph meta description / title content bleeding"
### Preconditions (*)
Magento Version: dev-2.3-develop

### Steps to reproduce (*)

1. Create a product in the admin
2. Within the product description / title create a sample description that contains double quotes `"`

### Expected result (*)
1. Content within the `<meta property="og:title"` and `<meta property="og:description"` to match what was entered in the admin

### Actual result (*)
1. Con

[2019-11-19 15:17] michel334 commented on #16779
Same problem here. 2018: we are closing this issue due to inactivity. What a nightmare

[2019-11-19 15:29] alexey-rakitin commented on #20125
Issue is not reproducible on 2.3-develop
Fixed & merged in: https://github.com/magento/magento2/commit/9097ecccbc95c1c15e385ece55fcb2bda62557a7

[2019-11-19 15:29] #20125 closed, assigned to alexey-rakitin

[2019-11-19 15:49] vsevolod-tarasov commented on #25202
@magento I am working on it

[2019-11-19 15:49] devchris79 commented on #25602
OK, can you please post the updated log for the request?

Both addresses as destinations work with our Magento 2.3.3 DHL module, but as its live I can't try your origin:

![grab](https://user-images.githubusercontent.com/43850303/69162128-13d88680-0ae4-11ea-815a-25031046fe3f.jpg)

[2019-11-19 15:54] kanduvisla opened #25656 "M2.3.2 : Nullable getters in Service Contracts will throw a reflection error when used in the web API"
### Preconditions

1. Magento 2.3.2 & 2.3-develop

### Steps to reproduce

Create an interface with a nullable getter. In our scenario it was a method that could return an array of instances of another object, or `null`:

[code]

### Expected result

When properly configured and used as a web API, the object should be serialized using Reflection and it's nested objects as well.

### Actual result

[2019-11-19 15:57] ghost opened #25657 "setup:upgrade -> IntlDateFormatter error"
### Preconditions (*)

1. Magento version : 2.3.3 with sample data
2. Installed on MAMP version 5.5, PHP 7.3.8

### Steps to reproduce (*)

1. Execute command $ php bin/magento setup:upgrade
2.

### Expected result (*)

1. Magento modules updated
2.

### Actual result (*)

1. I get the following error : “ Erreur - Fatal error: Uncaught Error: Class 'IntlDateFormatter”
“
![Erreur ClassIntlDateForma

[2019-11-19 15:57] vsevolod-tarasov commented on #25202
Cannot reproduce

[2019-11-19 15:57] #25202 closed, assigned to vsevolod-tarasov

[2019-11-19 16:05] daddyhenk commented on #23958
This worked for me:
https://magento.stackexchange.com/questions/281723/magento-2-bulk-actions-not-starting

[2019-11-19 16:25] quantumAV opened #25659 "Paypal Payments Pro IPN keeping payments marked as Pending Payment"
### Preconditions (*)

1. Magento 2.3.3
2.

### Steps to reproduce (*)

1. [https://github.com/magento/magento2/issues/18148]
2. On upgrading from 2.3.2 to 2.3.3
@numan201 fix worked for me in 2.3.2 however on upgrading to 2.3.3 we now have Pending Payment status for orders received even though the details of the payment are on the order.
the fix that worked in 2.3.2 is already present in 2.3.3 -

[2019-11-19 16:26] quantumAV commented on #18148
I have opened a new issue with hope that this will trigger a response
[https://github.com/magento/magento2/issues/25659](url)

[2019-11-19 16:57] reinaldomendes commented on #19737
composer.json
[code]

patches/composer/module-cms-tinymce-quotes-patch.diff
[code]

[2019-11-19 17:18] quangdog commented on #16779
How can we get this re-opened? It's obviously still a problem....

[2019-11-19 17:36] #25657 closed, assigned to nobody

[2019-11-19 18:22] Zyles commented on #25645
I need to download these patches instead of using composer to update?

[2019-11-19 18:25] Zyles commented on #25644
Then you have an issue with the upgrade path after upgrading to 2.3.3 because it worked before.

The ajax loading icon does not show up when changing attribute set.

I get no error messages. It just does not work.

[2019-11-19 18:49] jorgb90 commented on #25645
Yes download en patch (https://devdocs.magento.com/guides/v2.3/comp-mgr/patching.html), but this patch is so small that you can even open it and see what changes you need to apply so you can do it manually.

[2019-11-19 19:53] 0x15f commented on #24992
Attached a patch that I tested on a Magento Cloud environment.

https://kayser-roth-public.s3.amazonaws.com/25551.patch

[2019-11-19 19:54] 0x15f commented on #25551
Attached a patch that I tested on a Magento Cloud environment.

https://kayser-roth-public.s3.amazonaws.com/25551.patch

[2019-11-19 20:26] Leland commented on #25592
@krzksz respectfully, I'm not sure you understand the issue. This issue is not with `lib-line-height()` specifically.

See the title: "@font-size-unit-convert affects unitless values." `lib-line-height()` happens to be a function which has errors because of the issues in the unit conversion plumbing underneath: unitless values are a standard part of CSS, and Magento's internal mixins do not suppor

[2019-11-19 20:40] krzksz commented on #23766
I believe this is fixed by 8488c07818215f92b073a6e6b31b38162caa7aaf

[2019-11-19 20:40] #23766 closed, assigned to nobody

[2019-11-19 21:30] canofpopcom opened #25660 "Group Pricing Is Removed Once Exiting / Editing or removing from Cart"
#25359 # Preconditions (*)

1. 2.7.3

### Steps to reproduce (*)

First Login - Special Price (using plugin - latest version working well)

![Screenshot 2019-11-18 at 14 47 10](https://user-images.githubusercontent.com/1219059/69187553-b7d92680-0b12-11ea-82ee-eb0999abcbc2.png)

Viewing Product with discount - no problem:

![Screenshot 2019-11-18 at 14 47 58](https://user-images.githubusercontent.c

[2019-11-19 21:33] canofpopcom commented on #25660
I've managed to reproduce the issue on @magento give me 2.2.7 with Special Pricing Plugin installed: https://marketplace.magento.com/mageworx-module-customerpricesmeta.html

[2019-11-19 22:12] krzksz commented on #25592
Hey @Leland, thanks for the clarification, I totally understand that unitless values are completely valid for `line-height` according to CSS specification and I would really like Magento to support them.

That said, I've already tried a lot of different variations and changes to `.lib-line-height` which resulted in:
[code]
there are two problems with this (and all of the other that I tried) soluti

[2019-11-19 22:26] krzksz commented on #25592
Since I'm quite out of ideas how to solve it from the code perspective (maybe some other way will enlighten me), I'm planning so file a separate issue that outlines this problem with a parser so we can proceed our work here.

[2019-11-20 01:23] Zyles commented on #25645
Thanks I have applied it manually. The docs were incorrect as well on how to apply patching.

Should be: `patch -p1 < patch_file_name.patch`

[2019-11-20 01:23] #25645 closed, assigned to nobody

[2019-11-20 01:55] vincentteyssier commented on #4911
Confirmed for 2.3.3 clean install, the error is as follow:
 update-cron.ERROR: Cron readiness check failure! Found non-writable paths:        /your_root_folder/pub/static/.htaccess [] []

[2019-11-20 03:21] vincentteyssier commented on #11002
Same issue in 2.3.3.
After 24 hours on a clean install, the cron table is 4080 lines with 410 jobs pending

[2019-11-20 04:25] ajijshekh123 commented on #25644
Hi @Zyles,

Can you please provide me Proper steps or videos?
I have verified the latest Magento 2.3 instance but I can't find it.

Thanks.

[2019-11-20 04:25] ajijshekh123 commented on #25649
Give me @magento give me 2.3-develop instance

[2019-11-20 04:25] magento-engcom-team commented on #25649
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-20 04:26] magento-engcom-team commented on #25649
Hi @ajijshekh123, here is your [Magento instance](https://i-25649-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25649-2-3-develop.instances.magento-community.engineering/admin](https://i-25649-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-20 04:51] miteshdhaduk commented on #10338
@edwinchandra Please reopen this issue.

[2019-11-20 04:55] nikonratm commented on #25400
Im having this issue in 2.3.3, are you saying it was fixed in 2.3-develop? If so what is the fix?? I think it is causing a major issue or at least related where credit memos are also ignoring the decimals so customers are being refunded incorrect amounts. Please help!