[2020-04-03 07:57] mflott opened #27559 "Performance issue and scalability of popular search term cache"
Upon upgrading our site to 2.3, we saw a sudden increase in database CPU load. By looking at the processlist we saw a frequent query that took a lot of time:

`SELECT DISTINCT  COUNT(*) FROM `search_query` AS `main_table` WHERE (main_table.store_id = 1) AND (num_results > 0)`

We found that this is part of the 2.3.0 update where they added Popular Search Term Cache ([This pull request](https://git

[2020-04-03 08:14] lampham2141993 commented on #21603
@magento-engcom-team I'm working on it.

[2020-04-03 08:49] lampham2141993 commented on #27555
Hi @magento-engcom-team I can't replicate on Magento 2.4-develop with sample database (2048 items).

[2020-04-03 09:10] lampham2141993 commented on #27558
Hi, @magento-engcom-team
I tested on magento2 2.4-develop and can not replicate
Image before:
![before](https://user-images.githubusercontent.com/62533128/78343752-7fb81900-75c5-11ea-9d20-b53ac7d7fb18.png)

Image after:
![after](https://user-images.githubusercontent.com/62533128/78343771-89da1780-75c5-11ea-8645-580846db4040.png)

[2020-04-03 09:30] krishprakash commented on #27542
Hi @abude. Thank you for your report.
Issue is similar to #26840 as commented by _dark2y_ and it will fixed in next 2.4.0 release
You can track the conversion from above link

[2020-04-03 09:30] #27542 closed, assigned to nobody

[2020-04-03 09:40] sudheers-kensium commented on #27532
Feel free to reopen once you update all necessary details
Thanks

[2020-04-03 09:40] #27532 closed, assigned to nobody

[2020-04-03 09:45] sudheers-kensium commented on #27558
@magento give me 2.4-develop instance

[2020-04-03 09:45] magento-engcom-team commented on #27558
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-03 09:46] magento-engcom-team commented on #27558
Hi @sudheers-kensium, here is your [Magento instance](https://i-27558-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27558-2-4-develop.instances.magento-community.engineering/admin_15d8](https://i-27558-2-4-develop.instances.magento-community.engineering/admin_15d8)
Login: `6a115b82` Password: `cd245db6061b`
Instance will be terminated in up to 3 hours.

[2020-04-03 09:58] sudheers-kensium commented on #27558
Hi, @dmanners I am not able to reproduced on Magento 2.4-develop instance.

![image](https://user-images.githubusercontent.com/50358141/78348487-bd19a800-75bf-11ea-826d-413b6eb5038b.png)
![image](https://user-images.githubusercontent.com/50358141/78348500-c440b600-75bf-11ea-90eb-26b24c6377f2.png)

[2020-04-03 10:13] arendarenko opened #27562 "Order item currency price is overridden with base price in the Webapi"
### Preconditions

1. Magento 2.3.4
2. **Website 1** has default currency **EUR**
3. **Store 1** (which related to **Website 1**) has default currency **USD**

### Steps to reproduce

1. Create order in **Store 1**
2. Get information about order via API: `/v1/order/%number%`

### Expected result

1. Order currency is set to `EUR` ✅
2. Order item attribute `base_price` contains **base item price (i

[2020-04-03 10:42] ericmorand commented on #10377
@misha-kotov and why are you taking that kind of decision instead of us? If we want to make locale change in a production website, that's our call, not yours. We are responsible of our own deployment pipeline and strategy, not you.

Here you are not _discouraging_. You are _preventing_. Juste discourage things in the documentation but don't remove features from our hands just because you have opin

[2020-04-03 11:00] mohanelamurugan commented on #27361
With MSI, Even the normal Only X left threshold doesn't work.

[2020-04-03 11:01] lurajcevi commented on #27091
This is reproducible on 2.4-develop branch.

Looking into the implementation, printed array information comes from `\Magento\Setup\Model\Installer::installDataFixtures`

        $this->log->log('Data install/update:');
        $this->log->log('Disabling caches:');
        $this->updateCaches(false, $frontendCaches);
        $this->handleDBSchemaData($setup, 'data', $request);
        $this->log->l

[2020-04-03 11:03] teme12 commented on #15545
Gros mal

[2020-04-03 11:04] teme12 commented on #15545
Bonjour

[2020-04-03 11:04] teme12 commented on #15545
Good

[2020-04-03 11:39] hostep commented on #10377
@ericmorand: you *can* change it on production, just not using the admin interface. But you can do it using cli, for example `bin/magento config:set --scope=store --scope-code={storeview-code} general/locale/code fr_FR`.
And I believe you can also add it in your `app/etc/env.php` file when you save configuration in there (but I have no experience with that yet).

[2020-04-03 13:19] AltayAkkus commented on #27309
I'm gonna work on it.

[2020-04-03 13:19] AltayAkkus commented on #27309
@magento give me 2.3.2 instance

[2020-04-03 13:19] magento-engcom-team commented on #27309
Hi @AltayAkkus. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2020-04-03 13:20] magento-engcom-team commented on #27309
Hi @AltayAkkus, here is your [Magento instance](https://i-27309-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-27309-2-3-2.instances.magento-community.engineering/admin_af5a](https://i-27309-2-3-2.instances.magento-community.engineering/admin_af5a)
Login: `ee56954a` Password: `7e627ca6e28d`
Instance will be terminated in up to 3 hours.

[2020-04-03 13:52] xtremevision opened #27564 "Admin shows thousands of cart items for customers"
### Preconditions (*)
1. Centos OS 7 x64
2. Magento 2.3.3
3. PHP 7.2

### Steps to reproduce (*)
1. Create lots of carts / quotes, both as logged in user and guest
2. Keep one customer without any quotes
3. Goto backend, edit customer, click on Shopping Cart tab
4. Grid shows thousand of items

### Expected result (*)
1. Shopping cart tab should show customer's cart items if available, or none if

[2020-04-03 13:58] bubasuma commented on #18057
@roshanyadav89 This issue you're talking about does not seem to be related to this issue. I suggest to find related issue or create one.

[2020-04-03 14:05] blacktek commented on #26484
no good solution. On my side I'm sending at every request to update a storeview the base settings of the website too. Quick and (very) dirty, but far from optimal

[2020-04-03 14:10] smoskaluk opened #27565 "Error during uninstall"
### Preconditions (*)

1. Magento 2.4 develop

### Steps to reproduce (*)

1. Run CLI command <setup:uninstall>2.

### Expected result (*)

1. Uninstall successful

### Actual result (*)

![image](https://user-images.githubusercontent.com/27818516/78369512-f9ec9b80-75cd-11ea-927c-8ddf0979d8b1.png)

[2020-04-03 14:30] #27558 closed, assigned to sudheers-kensium

[2020-04-03 14:49] amitbdigitalaptech commented on #25502
@navarr
 Thanks  for all  help

Can you please tell me, `VertexSMB_TaxCE` is Magento 1 module for vertax (officially)?

And How can I  avoid tax apply for Some specify customer group at current  M2 vertex module?

[2020-04-03 15:09] navarr commented on #25502
@amitbdigitalaptech: Customers can have a tax class or a tax code on their account.  Both of these are sent to Vertex and you would create a taxability rule in vertex to avoid tax.

[2020-04-03 19:38] Partabsaifzakir commented on #24080
Facing same issue on 2.3.4

[2020-04-03 19:52] ihor-sviziev commented on #25668
Hi @attheCube,
Such change will not bring any value for most of the customers, while will add additional cases that weren’t happening earlier, for instance in custom extension.

We talked with @lenaorobei and agreed that it’s better not to accept such change due to potential issues and too small value.

If you really need it - you still could adjust this behavior for your project(s) by writing cus

[2020-04-03 20:04] ihor-sviziev commented on #7679
Seems like we have fix for this issue that was closed as can’t reproduce, also I see that there was added additional info that could help reproduce the issue.
Reopening this issue for confirmation that it still valid

[2020-04-03 20:18] ihor-sviziev commented on #7679
Hi @drew7721,
I just reviewed your screenshots and it looks like expected behavior.

When you have configurable product - you’re having in cart actually two products, one relates to “configurable” product, while other relates to “simple”. That’s needed for association that you bought this product from configurable. Also you could add the same product as a simple, in this case you’ll have only one.

[2020-04-03 20:25] TadeuRodrigues opened #27568 "Duplicate address by order from admin"
### Preconditions (*)
1. magento 2.3.4 or 2.4

### Steps to reproduce (*)
1. Create a new order from admin.

### Expected result (*)

1. A new order only without any address change.

### Actual result (*)
1. A new address to each order I made.

[2020-04-03 20:49] TadeuRodrigues commented on #27568
@magento give me 2.4-develop instance

[2020-04-04 01:22] plastikschnitzer commented on #25177
I ran into the same issue on Magento 2.3.4
Any hotfix available?

[2020-04-04 06:06] tuyennn commented on #26254
This issue was exist since Magento 2.1.x

[2020-04-04 09:19] daniel-ifrim opened #27569 "Configurable product preselect swatches or options when hash in URL is empty"
### Preconditions (*)

1. Magento 2.3.4 develop

### Steps to reproduce (*)

1. Take a configurable product URL from PDP and add "#" hash at the end of the URL

### Expected result (*)

1. No code bug
Do not preselect anything because there are no parameters in hash.

Example from Magento 2 with sample data:
/stellar-solar-jacket.html#color=5477
This should preselect swatch blue.
But this:
/#
shou

[2020-04-04 09:53] KonstantinZhidkovskiy commented on #27524
@magento give me 2.4-develop instance

[2020-04-04 09:53] magento-engcom-team commented on #27524
Hi @KonstantinZhidkovskiy. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-04 09:53] magento-engcom-team commented on #27524
Hi @KonstantinZhidkovskiy, here is your [Magento instance](https://i-27524-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27524-2-4-develop.instances.magento-community.engineering/admin_d8f7](https://i-27524-2-4-develop.instances.magento-community.engineering/admin_d8f7)
Login: `643220f8` Password: `a7a440c40403`
Instance will be terminated in up to 3 hours.

[2020-04-04 09:59] shikhamis11 commented on #27569
@magento give me 2.4-develop instance

[2020-04-04 09:59] magento-engcom-team commented on #27569
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-04 10:00] magento-engcom-team commented on #27569
Hi @shikhamis11, here is your [Magento instance](https://i-27569-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27569-2-4-develop.instances.magento-community.engineering/admin_c199](https://i-27569-2-4-develop.instances.magento-community.engineering/admin_c199)
Login: `8706ff17` Password: `9ea1e040b61f`
Instance will be terminated in up to 3 hours.

[2020-04-04 10:03] daniel-ifrim commented on #27569
Hi @shikhamis11
I think the issue can be tested in code with debugging. I do not know a way to see it visually on product page. Unless you have access to write code on https://i-27569-2-4-develop.instances.magento-community.engineering server,
Thank you

[2020-04-04 10:03] XxXgeoXxX commented on #27329
@magento give me 2.4-develop instance

[2020-04-04 10:03] magento-engcom-team commented on #27329
Hi @XxXgeoXxX. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-04 10:04] magento-engcom-team commented on #27329
Hi @XxXgeoXxX, here is your [Magento instance](https://i-27329-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27329-2-4-develop.instances.magento-community.engineering/admin_b3b2](https://i-27329-2-4-develop.instances.magento-community.engineering/admin_b3b2)
Login: `d74fd8ac` Password: `d1cc5c7bfaca`
Instance will be terminated in up to 3 hours.

[2020-04-04 10:04] sdzhepa commented on #27525
Hello @Jesper-nordico

Thank you for the report!

Could you please provide more details about
- Magento version that you are using
- steps to reproduce
- Expected and Actual result
As it described in https://github.com/magento/magento2/issues/27525#issuecomment-607090218 and [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Unfortunately, without th

[2020-04-04 10:18] swnsma opened #27570 "Cash on delivery - store label is not being displayed on order/invoice/shipping/creditmemo details."
### Preconditions (*)
1. Magento multi-store setup (Store A, store B)
2. 'Cache on delivery' payment method is enabled

### Steps to reproduce (*)
1. Change 'Cache on Delivery' method title in scope of store B configurations in Stores -> Config -> Sales Methods -> Payment Methods -> Cache On Delivery
2. Place the Order with 'cache on delivery' in scope of Store B.
3. Open order details in Admin Pa

[2020-04-04 10:32] XxXgeoXxX commented on #27329
I amn't able to reproduce this issue anymore on 2.4-develop branch.

[2020-04-04 10:38] magento-engcom-team commented on #21481
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-04-04 10:38] #21481 closed, assigned to cstergianos

[2020-04-04 10:38] shikhamis11 commented on #27569
hi @daniel-ifrim
Thank you for reporting this issue .. I got your query .. there can be additonal check with along with `hashIndex` to avoid code check incase of empty hash string

[2020-04-04 10:39] magento-engcom-team commented on #27569
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33089` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-04 10:53] krishprakash commented on #27564
@magento give me 2.4-develop instance

[2020-04-04 10:53] magento-engcom-team commented on #27564
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-04 10:53] magento-engcom-team commented on #27564
Hi @krishprakash, here is your [Magento instance](https://i-27564-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27564-2-4-develop.instances.magento-community.engineering/admin_cbb5](https://i-27564-2-4-develop.instances.magento-community.engineering/admin_cbb5)
Login: `043c35ee` Password: `f3e2f039d232`
Instance will be terminated in up to 3 hours.

[2020-04-04 10:58] magento-engcom-team commented on #27570
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33090` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-04 11:04] atwixfirster commented on #27337
**done**

https://github.com/magento/architecture/pull/367

[2020-04-04 11:15] edenduong commented on #27507
@magento give me 2.4-develop instance

[2020-04-04 11:15] magento-engcom-team commented on #27507
Hi @edenduong. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-04 11:16] magento-engcom-team commented on #27507
Hi @edenduong, here is your [Magento instance](https://i-27507-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27507-2-4-develop.instances.magento-community.engineering/admin_7d00](https://i-27507-2-4-develop.instances.magento-community.engineering/admin_7d00)
Login: `05b667b9` Password: `b4f139e32d05`
Instance will be terminated in up to 3 hours.

[2020-04-04 11:18] dmytro-ch commented on #27500
Hi @lbajsarowicz, I'll take care of `app/code/Magento/AdvancedSearch`. :)
Thank you!

[2020-04-04 11:40] krishprakash commented on #27564
Hi @xtremevision. Thank you for your report.
Not able to Reproduce the issue on latest mangeto 2.3.4 instance
Kindly provide more information
Also please confirm the issue on latest 2.3.4 instance
Thanks !!

[2020-04-04 11:51] sdzhepa commented on #27565
Hello @smoskaluk

Thank you for your report.

Unfortunately, I am not able to reproduce this issue on the latest `2.4-develop` branch by provided steps from the description.

I suppose some important preconditions or steps are missed.

Let me describe what exactly I did to reproduce it:

**Preconditions**
1. Clone the latest Magento code from `2.4-develop` from git
[code]
2. Install Magento. I use

[2020-04-04 12:08] renard123 opened #27573 "Right side border not show in category description block in my screen 1366X768"
Right side border not display in category description block in my screen 1366

### Preconditions (*)
Chrome: Version 80.0.3987.163 (Official Build) (32-bit)
OS: Windows 7
Screen Resolution: 1366 X 768
Magento 2.3.4

### Steps to reproduce (*)
Admin > Category > Edit any
Review the Description box

### Expected result (*)
It should show appropriate

### Actual result (*)
![image](https://user-image

[2020-04-04 12:10] krishprakash commented on #27573
@magento give me 2.4-develop instance

[2020-04-04 12:10] magento-engcom-team commented on #27573
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-04 12:11] magento-engcom-team commented on #27573
Hi @krishprakash, here is your [Magento instance](https://i-27573-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27573-2-4-develop.instances.magento-community.engineering/admin_df4d](https://i-27573-2-4-develop.instances.magento-community.engineering/admin_df4d)
Login: `808caee6` Password: `a98f81b17c51`
Instance will be terminated in up to 3 hours.

[2020-04-04 12:19] magento-engcom-team commented on #27573
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33091` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-04 12:19] krishprakash commented on #27573
Hi @renard123. Looks fine in my screen view but when I update the screen resolution with 1366 Yes seems border not showing so approve this as It should display proper in all screen resolution
Thanks !!

[2020-04-04 12:24] sdzhepa commented on #27573
Hello @renard123 and @renard123

Could you please provide an exact screen resolution in to the issue description?

![2020-04-04_7-22-19](https://user-images.githubusercontent.com/3409584/78450578-43c49880-7645-11ea-8958-b265541682bf.png)

[2020-04-04 12:30] renard123 commented on #27573
@sdzhepa Sure.
Chrome: Version 80.0.3987.163 (Official Build) (32-bit)
OS: Windows 7
Screen Resolution: 1366 X 768

[2020-04-04 12:42] lbajsarowicz commented on #27500
I'm going to take care of `Magento/Cron` module

[2020-04-04 13:19] luanalves commented on #27557
Hi @nandigowda the problem isn't Magento , the problem is Postman because don't escape automatically .
This resolution the problem is Right-click selected text, and choose EncodeURIComponent to manually encode a parameter value.
Example: https://learning.postman.com/docs/postman/sending-api-requests/requests/#sending-parameters
Parameters:
{{local-url}}/rest/default/V1/categories/list?searchCriter

[2020-04-04 13:22] xtremevision commented on #27564
Hi @krishprakash,

Did you create lots of quotes? What does your quote table look like?

Thanks,
Michael.

[2020-04-04 13:35] krishprakash commented on #27564
Hi @xtremevision. Yes created many quotes for login and guest user as well
We can not see quote table for provided instance.
So if possible please share the video with steps you mentioned so will review in local instance
Thank You !!

[2020-04-04 13:44] rodrigowebjump commented on #27557
Thanks @luanalves

@nandhini-nagaraj I am closing this issue. You can reopen the issue if needed.

Thanks

[2020-04-04 13:44] #27557 closed, assigned to luanalves

[2020-04-04 14:11] korostii commented on #27523
On branch `2.4-develop` I got a slightly different error message, but it is still quite cryptic, for example if the module passed as command option _does not exist_ at all"
![Screenshot from 2020-04-04 17-09-33](https://user-images.githubusercontent.com/24894168/78452948-3df7a300-7697-11ea-864f-be84a781b0ee.png)

[2020-04-04 14:12] AndreyChorniy commented on #27500
Hi @lbajsarowicz, I would like to care about `app/code/Magento/Newsletter`

[2020-04-04 14:23] LucasCalazans commented on #26709
@magento give me 2.4-develop instance

[2020-04-04 14:23] magento-engcom-team commented on #26709
Hi @LucasCalazans. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-04 14:24] magento-engcom-team commented on #26709
Hi @LucasCalazans, here is your [Magento instance](https://i-26709-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26709-2-4-develop.instances.magento-community.engineering/admin_4c65](https://i-26709-2-4-develop.instances.magento-community.engineering/admin_4c65)
Login: `597c5e5c` Password: `8e599f4e1745`
Instance will be terminated in up to 3 hours.

[2020-04-04 15:03] shikhamis11 commented on #27533
@karthickms please correct the format of issue reporting . You can take help from
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Also please share additional information about the issue

[2020-04-04 15:05] shikhamis11 commented on #27533
Also with current description It seems that order is placed before redirect so it looks like more of an issue of the Payment Method. Please check

[2020-04-04 15:27] cristiano-pacheco commented on #27500
Hi @lbajsarowicz, I would like to take care app/code/Magento/Payment

[2020-04-04 15:44] sdzhepa commented on #21481
Hello @cstergianos

It seems our bots got crazy in this Issue...
I suppose it could be because of delays while webhooks processing.

Could you please confirm this is still an actual Issue and you are going to work on it?
or it should be closed

Sorry for inconveniences

[2020-04-04 15:45] shikhamis11 commented on #27546
@magento give me 2.4-develop instance

[2020-04-04 15:45] magento-engcom-team commented on #27546
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-04 15:45] xtremevision commented on #27564
Hi @krishprakash ,

I've got it figured out. The quote table was missing records for customers. This was causing the bad view in the admin, shopping cart tab.

I used a module called Login as Customer, to login as the customer, and this resulted in an empty quote record being created for that customer. Checking in the backend in the Shopping Cart tab now does not show any cart items for the custom

[2020-04-04 15:46] magento-engcom-team commented on #27546
Hi @shikhamis11, here is your [Magento instance](https://i-27546-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27546-2-4-develop.instances.magento-community.engineering/admin_20dc](https://i-27546-2-4-develop.instances.magento-community.engineering/admin_20dc)
Login: `41a536ca` Password: `a0b287650b00`
Instance will be terminated in up to 3 hours.

[2020-04-04 16:26] krishprakash commented on #27564
@xtremevision. Then this is the compatibility issue with your custom extension not the default magento issue

[2020-04-04 16:48] rodrigowebjump opened #27587 "Web install - step 4 Customize Your Store - Validating modules constraints loading does not show"
### Preconditions (*)
1. Install Magento using browser

### Steps to reproduce (*)
1. Install Magento using web installation
2. On step 4 when click on next step, there is a long time loading because it is checking the modules constraints

### Expected result (*)

1.
 The checking indicator must always appear
![image](https://user-images.githubusercontent.com/635466/78456533-a1bfa300-767a-11ea-8ed

[2020-04-04 17:23] shikhamis11 commented on #27546
Hi @PascalBrouwers
I checked the issue on magento 2.4developn instance  I found `If you have a new M2 installation you'll find 1 double region for CH: Jura`
`Jura` region exist twice for with different country codes

![image](https://user-images.githubusercontent.com/25526037/78457335-14567000-76c7-11ea-851d-dd774eea3e65.png)

[2020-04-04 18:06] luanalves commented on #27474
Hi @norgeindian default magento send email from invoice, and send custom information when write comment in box

[2020-04-04 18:25] shikhamis11 commented on #27528
hi @aqdennis
thank you for reporting this issue
I followed steps provided by you in description but not able to reproduce this issue. all transactional email logos are updating in new templates

[2020-04-04 18:25] #27528 closed, assigned to shikhamis11

[2020-04-04 18:33] shikhamis11 commented on #26931
@magento give me 2.4-develop instance

[2020-04-04 18:33] magento-engcom-team commented on #26931
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-04 18:34] magento-engcom-team commented on #26931
Hi @shikhamis11, here is your [Magento instance](https://i-26931-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26931-2-4-develop.instances.magento-community.engineering/admin_f13c](https://i-26931-2-4-develop.instances.magento-community.engineering/admin_f13c)
Login: `2311b1b2` Password: `df15c97860b5`
Instance will be terminated in up to 3 hours.

[2020-04-04 18:57] plastikschnitzer opened #27590 "Downloadable Product links not available for mixed orders (downloads & shipping products) after payment"
### Preconditions (*)

1. Magento CE 2.3.4 on Ubuntu 18.04 LAMP stack migrated from Magento 1.9.4.1

### Steps to reproduce (*)

1. Place an order with downloadable products **and** shipping products
2. Choose any online direct payment method such as credit card or paypal
3. Customer gets the email with download links
2. Go to customer account and try to download the products

### Expected result

[2020-04-04 19:05] luanalves commented on #24719
PR created https://github.com/magento/magento2/pull/27591

[2020-04-04 19:15] rodrigowebjump opened #27592 "Web install - step 3- web configuration urls are always reset to default"
### Preconditions (*)
1. Install Magento using browser

### Steps to reproduce (*)
1. Install Magento using web installation
2. On step 3 click on next step, change the Magento admin address
3. Click on next
4. Them click on back

### Expected result (*)
1. The admin address must keep the same

### Actual result (*)
1. The admin address is changed to the initial random generated value
![image](htt

[2020-04-04 19:17] magento-engcom-team commented on #26931
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to fol

[2020-04-04 19:18] magento-engcom-team commented on #26931
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to fol

[2020-04-04 19:20] magento-engcom-team commented on #26931
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to fol

[2020-04-04 19:21] magento-engcom-team commented on #26931
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to fol

[2020-04-04 19:40] shikhamis11 commented on #27511
Hi @yesman2104
thank you for reporting this issue . It seems this issue is already as I am not able to reproduce this issue at magento 2.4 instance. Please check the issue at latest version and let us know if issue persist

[2020-04-04 19:40] #27511 closed, assigned to shikhamis11

[2020-04-04 20:35] LucasCalazans commented on #21101
@magento-engcom-team give me 2.4-develop instance

[2020-04-04 20:35] magento-engcom-team commented on #21101
Hi @LucasCalazans. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-04 20:36] magento-engcom-team commented on #21101
Hi @LucasCalazans, here is your [Magento instance](https://i-21101-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-21101-2-4-develop.instances.magento-community.engineering/admin_0c4e](https://i-21101-2-4-develop.instances.magento-community.engineering/admin_0c4e)
Login: `a288c2e0` Password: `e18b679b25d0`
Instance will be terminated in up to 3 hours.

[2020-04-04 21:19] TawabG commented on #7317
There is enough space available on my VPS. Also, export file is a very small file.

[2020-04-04 21:21] sdzhepa commented on #27126
@engcom-Alfa , @engcom-Echo

Could you please help with the investigation and confirmation process for this issue?

[2020-04-04 22:02] FrankStappers opened #27601 "Unable to add product with multi-source inventory to wishlist with"
### Preconditions (*)

1. Magento Commerce 2.3.4, vanilla

### Steps to reproduce (*)

1. Create a new inventory source -named 'new-source'-  in the Magento Admin
2. Create a new stock inventory -named 'new-stock'- the Magento Admin, assign 'new-source' and default website to the 'new-stock'. Ensure that the setup is similar to:
<img width="1118" alt="Screenshot 2020-04-04 at 23 40 40" src="https:

[2020-04-05 00:15] andrewbess commented on #21446
Hello @sdzhepa
I think we can move the `less` files of `adminhtml` area from Magento CE to Magento EE (into modules).
Sergey, what do you think about it?

[2020-04-05 00:31] Rus0 commented on #27067
@sethsnel is this a frontend controller?? If it is you should change:

use Magento\Backend\App\Action;
use Magento\Backend\App\Action\Context;

for:

use Magento\Framework\App\Action\Action;
use Magento\Framework\App\Action\Context;

And only extend to Action:
class Link extends Action

[2020-04-05 00:36] sdzhepa commented on #21446
Hello @andrewbess

It seems your proposition has sense.

I see that internal Jira ticket  `MAGETWO-44582`  "Theme Extension Strategy" still in status = OPEN
Let's try to ask @antonkril to help with this issue or with involving appropriate contact to discuss it here.

[2020-04-05 00:46] antonkril commented on #21446
Makes sense. @maghamed @buskamuza, can you investigate the reason why the previous attempts failed?

[2020-04-05 01:31] andrewbess commented on #21446
@antonkril
I think it because it doesn't look like the correct solution.
Please take a look at the screenshot below.
<img width="1009" alt="wrong-file-path" src="https://user-images.githubusercontent.com/10788564/78464796-3e735680-76f6-11ea-9326-0e4c346a89e8.png">

[2020-04-05 01:39] Rus0 commented on #27038
Hey @bernd-reindl

The payment methods are showing as they should be, you will need to set up the taxes to calculate from billing address:

Stores > Configuration > Sales > Tax > Calculation Settings > Tax Calculation Based On

Set it up to billing address, even if you are not using taxes, I just tested it.

[2020-04-05 01:39] #27038 closed, assigned to Rus0

[2020-04-05 02:02] antonkril commented on #21446
Yeah, I remembered that discussion now. In both options, we end up with files that are potentially unused. But your proposal was about adminhtml, which, with AdminUI modules should not be a problem.

[2020-04-05 02:03] gauravagarwal1001 commented on #22841
@magento give me 2.4-develop instance

[2020-04-05 02:03] magento-engcom-team commented on #22841
Hi @gauravagarwal1001. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-05 02:03] magento-engcom-team commented on #22841
Hi @gauravagarwal1001, here is your [Magento instance](https://i-22841-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-22841-2-4-develop.instances.magento-community.engineering/admin_0c43](https://i-22841-2-4-develop.instances.magento-community.engineering/admin_0c43)
Login: `8ea4c2db` Password: `f6cb825def33`
Instance will be terminated in up to 3 hours.

[2020-04-05 02:04] lbajsarowicz opened #27607 "Integration Tests: DOM Assertion class"
### Description (*)
We have plenty of integration tests that make assertions on HTML code:
![image](https://user-images.githubusercontent.com/1639941/78465156-4af5b000-76f2-11ea-8914-df186317e27e.png)

With `assertContains` or `preg_match`. This is not the right approach for making assertions on HTML and the correct approach should be possible. The right approach is based on DOM tree.

Example:
ht

[2020-04-05 02:21] #27067 closed, assigned to Rus0

[2020-04-05 02:30] magento-engcom-team commented on #27607
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33094` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-05 03:05] andrewbess commented on #21446
So, I add the checker of the fixed file here

- [ ] adminhtml/Magento/backend/Magento_AdvancedCheckout
- [ ] adminhtml/Magento/backend/Magento_Banner
- [ ] adminhtml/Magento/backend/Magento_CatalogPermissions
- [ ] adminhtml/Magento/backend/Magento_CustomerBalance
- [ ] adminhtml/Magento/backend/Magento_GiftCard
- [ ] adminhtml/Magento/backend/Magento_GiftRegistry
- [ ] adminhtml/Magento/backend/M

[2020-04-05 03:25] krishprakash commented on #27564
As this compatibility issue with your custom extension so closing this
Thanks !!

[2020-04-05 05:32] mrtuvn commented on #26333
@bernd-reindl i have tested in luma theme in 2.4-develop branch
The coupon
![Screenshot from 2020-04-05 12-29-52](https://user-images.githubusercontent.com/1908873/78467696-70f27300-7739-11ea-9850-83431f3debb4.png)
text translated correctly

[2020-04-05 06:08] AndreyChorniy commented on #27500
Hey @lbajsarowicz,
I have added PR for compatibility test with PHPUnit8 for module `Magento_Authorization`

[2020-04-05 06:19] xtremevision commented on #27564
No, I don't agree. This is has nothing to do with a my custom extension. Why did you close this? The module I used was just to prove the fix. Please reopen.

[2020-04-05 06:27] KonstantinZhidkovskiy commented on #27524
Hi @vbyno, this Inventory section not included in current 2.4-develop branch, to get it you need additionally install this meta package https://github.com/magento/inventory/wiki/Metapackage-Installation-Guide, after doing this Strores > Inventory will be enabled

[2020-04-05 06:27] #27524 closed, assigned to KonstantinZhidkovskiy

[2020-04-05 08:51] gauravagarwal1001 commented on #20154
@magento give me 2.4-develop instance

[2020-04-05 08:51] magento-engcom-team commented on #20154
Hi @gauravagarwal1001. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-05 08:51] magento-engcom-team commented on #20154
Hi @gauravagarwal1001, here is your [Magento instance](https://i-20154-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-20154-2-4-develop.instances.magento-community.engineering/admin_bbfe](https://i-20154-2-4-develop.instances.magento-community.engineering/admin_bbfe)
Login: `6780da8e` Password: `10650c7d32ba`
Instance will be terminated in up to 3 hours.

[2020-04-05 10:18] Usik2203 commented on #27550
Hi @niravkrish
Why You unassigned me ? I was working on this issue.

[2020-04-05 10:21] plastikschnitzer commented on #27590
@magento give me 2.4-develop instance

[2020-04-05 10:21] magento-engcom-team commented on #27590
Hi @plastikschnitzer. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-05 10:22] magento-engcom-team commented on #27590
Hi @plastikschnitzer, here is your [Magento instance](https://i-27590-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27590-2-4-develop.instances.magento-community.engineering/admin_11b8](https://i-27590-2-4-develop.instances.magento-community.engineering/admin_11b8)
Login: `91a8b15c` Password: `aef91407edff`
Instance will be terminated in up to 3 hours.

[2020-04-05 10:36] pevik commented on #27590
@plastikschnitzer I'm sorry, that was me who terminated your login. I logged out immediately.

[2020-04-05 10:56] johnorourke commented on #26698
Did you find a fix? I use this module.

[2020-04-05 11:57] TawabG commented on #23450
I can't imagine this being the only solution to this problem. This means I have to open CLI and run this command for EVERY export i'm doing!? That's ridiculous.

[2020-04-05 12:00] vitmarks commented on #6073
this is still an issue on 2.3.4
Cannot disable paypal buttons on mini-cart

[2020-04-05 12:29] luanpereira opened #27626 "Magento 2 mode maintenance is not working Load Balancer of AWS"
Hello,
when I use the command to enable maintenance mode with an exception parameter of ip and yet my instance is below an AWS load balancer this does not work.

However, if I remove the load balancer and start pointing directly to the magento instance, it works exception parameter of ip.

### Preconditions
1. Magento 2.3.4
2. AWS with load balancer classic

### Steps to reproduce
1. bin/magento m

[2020-04-05 12:32] luanpereira commented on #27626
no, because it depends on the cloud where magento is hosted.

[2020-04-05 14:41] cristiano-pacheco commented on #27500
HI @lbajsarowicz, I made the changes for ```Magento_OfflinePayments``` module.

[2020-04-05 15:17] GordonMak opened #27628 "Configurable product dropdown option list, when one option out of stock, all other followed option will be disappeared too!"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Configurable product with color and size (say, S, M, L, XL) options
2. one simple product in size M out of stock.

### Expected result (*)

1. When M size is out of stock, M size option will be disappeared in the dropdown list, but all other sizes (L, XL) follow the size M should be shown and will not be disappeared.
2, For ex

[2020-04-05 16:54] ravichandrarv opened #27629 "When creating new customerin magento version 2.3.4 its throwing an error invalid form key"
### Preconditions (*)

1. Magento version 2.3.4
2. Php version 7.2
3. Mysql version 8

### Steps to reproduce (*)

1. Install magento with composer by specifiying version 2.3.4
2. After successful magento installation please try to create customer account
3. After filling required and  mandatory fields click on create an account.
4. Page will reload and throws an error.

### Expected result (*)

1

[2020-04-05 18:16] plastikschnitzer commented on #27590
@pevik no problem ;-)

@magento-engcom-team thank you very much for offering the testing instance.

Due to timeout I could only test a part of it, so @magento give me 2.4-develop instance

[2020-04-05 18:16] magento-engcom-team commented on #27590
Hi @plastikschnitzer. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-05 18:16] magento-engcom-team commented on #27590
Hi @plastikschnitzer, here is your [Magento instance](https://i-27590-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27590-2-4-develop.instances.magento-community.engineering/admin_47e9](https://i-27590-2-4-develop.instances.magento-community.engineering/admin_47e9)
Login: `20631899` Password: `4f1a6fb57e7c`
Instance will be terminated in up to 3 hours.

[2020-04-05 18:36] narangkishore98 commented on #20054
I'm having the same error. Couldn't found any solution yet. Why this thread is closed ?

[2020-04-05 18:55] plastikschnitzer commented on #27590
@m2-assistant yes I was able to reproduce the issue on the povided magento testing instance.

I run a number of tests, see my result of all test cases:

### 1. Place an order with simple and downloadable product and payment by paypal website payment standard payment:

## Expected result:
Order Status processing, invoice created, download  available
## Actual result:
Order Status processing, invoic

[2020-04-05 21:11] plastikschnitzer commented on #25177
I could reproduce the issue on a vanilla Magento 2.4-dev instance here: https://github.com/magento/magento2/issues/27590#issuecomment-609459330

[2020-04-06 05:09] ajijshekh123 commented on #27628
@magento give me 2.4-develop instance

[2020-04-06 05:09] magento-engcom-team commented on #27628
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-06 05:10] magento-engcom-team commented on #27628
Hi @ajijshekh123, here is your [Magento instance](https://i-27628-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27628-2-4-develop.instances.magento-community.engineering/admin_0034](https://i-27628-2-4-develop.instances.magento-community.engineering/admin_0034)
Login: `be7aa642` Password: `297cd853a64a`
Instance will be terminated in up to 3 hours.

[2020-04-06 05:28] shrma-smit commented on #26201
Hi @GuiltyNL,

I'm facing same problem. Can you please share the rewrite code for my reference so I can debug it further.

Thanks in advance!

[2020-04-06 05:36] magento-engcom-team commented on #27091
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-04-06 06:05] hafiz-rusli commented on #1821
<css src="css/bootstrap.min.css" order="1" />
is not working as expected. please

[2020-04-06 06:08] magento-engcom-team commented on #27091
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33096` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-06 06:11] ajijshekh123 commented on #27628
Hello @GordonMak,

I have verified this issue as per the steps to reproduce and actual results.
I didn't reproduce this issue in the latest Magento 2.4 instance.
Let me verify this in the Magento 2.3.4 and update you.

See attached the screenshot:
![1](https://user-images.githubusercontent.com/24711761/78527780-79ab7d80-77fb-11ea-9062-d8151e0f70f9.png)

![2](https://user-images.githubusercontent.c

[2020-04-06 06:26] madhu-ranosys commented on #27507
@magento give me 2.4-develop instance

[2020-04-06 06:26] magento-engcom-team commented on #27507
Hi @madhu-ranosys. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-06 06:27] magento-engcom-team commented on #27507
Hi @madhu-ranosys, here is your [Magento instance](https://i-27507-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27507-2-4-develop.instances.magento-community.engineering/admin_bdbe](https://i-27507-2-4-develop.instances.magento-community.engineering/admin_bdbe)
Login: `6911d381` Password: `24ea4d6364b0`
Instance will be terminated in up to 3 hours.

[2020-04-06 06:41] madhu-ranosys commented on #27507
I have gone through the below steps:
  1. Admin -> Catalog -> Products
  2.  Add Configurable product
  3. Create Configuration
  4. Create New Attribute
  5. Open all section

All seems working fine. I didn't find such issue.

[2020-04-06 06:51] ihor-sviziev commented on #7679
Hi,
@princeantil90 provided following video to reproduce this issue:
https://nimb.ws/wcJX67

[2020-04-06 06:51] ihor-sviziev commented on #7679
@magento give me test instance

[2020-04-06 06:52] ihor-sviziev commented on #7679
@magento give me 2.4-develop instance

[2020-04-06 06:52] magento-engcom-team commented on #7679
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-06 06:52] magento-engcom-team commented on #7679
Hi @ihor-sviziev, here is your [Magento instance](https://i-7679-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-7679-2-4-develop.instances.magento-community.engineering/admin_1743](https://i-7679-2-4-develop.instances.magento-community.engineering/admin_1743)
Login: `e63c5858` Password: `a24f6d9af8c6`
Instance will be terminated in up to 3 hours.

[2020-04-06 07:00] krishprakash commented on #27507
Hi @madhu-ranosys, Reviewed on given instance
Drop-downs icons not updated once open and close it.
![image](https://user-images.githubusercontent.com/46617848/78531037-5801c480-7802-11ea-96cd-4d69e5a60872.png)

[2020-04-06 07:01] GordonMak commented on #27628
Hi ajijshekh123，

Thank you for your reply! Please see attached screenshot for the issue I found in magento 2.3.4. Look forward to hearing your update for this. Thanks!
![frontend](https://user-images.githubusercontent.com/12252407/78531091-63131f80-7817-11ea-9fd8-fa4eb044921a.png)
![backend](https://user-images.githubusercontent.com/12252407/78531096-64444c80-7817-11ea-85c8-a8fb7ca25680.png)

[2020-04-06 07:09] magento-engcom-team commented on #7679
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33098` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-06 07:11] madhu-ranosys commented on #27507
Hi @krishprakash , I am checking the same way. It's working fine.
![001](https://user-images.githubusercontent.com/59955325/78531847-d90d8b80-7803-11ea-9e04-3087fc401107.png)
![002](https://user-images.githubusercontent.com/59955325/78531851-dad74f00-7803-11ea-98bc-80fbd1b3a0aa.png)

Can you let me know which browser are you using and the version?

[2020-04-06 07:17] krishprakash commented on #27507
@madhu-ranosys, Updated in issue description.

[2020-04-06 07:32] madhu-ranosys commented on #27507
I am checking in the ubuntu chrome latest version. It is working fine there also.
Can you please confirm is this the issue with the only window 7 Chrome 80 So I will check on the same version?

[2020-04-06 07:36] krishprakash commented on #27507
Yes, You can check in windows 7 chrome 80 version browse as I updated in description.

[2020-04-06 07:37] madhu-ranosys commented on #27507
Ok

[2020-04-06 07:39] madhu-ranosys commented on #26156
@magento give me a 2.4-develop instance

[2020-04-06 08:26] madhu-ranosys commented on #26956
@magento give me 2.4-develop instance

[2020-04-06 08:27] magento-engcom-team commented on #26956
Hi @madhu-ranosys. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-06 08:27] magento-engcom-team commented on #26956
Hi @madhu-ranosys, here is your [Magento instance](https://i-26956-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26956-2-4-develop.instances.magento-community.engineering/admin_c8ec](https://i-26956-2-4-develop.instances.magento-community.engineering/admin_c8ec)
Login: `d62b4993` Password: `bd06e6b78de3`
Instance will be terminated in up to 3 hours.

[2020-04-06 08:40] madhu-ranosys commented on #26956
@magento There is no dutch language package

[2020-04-06 08:44] Notranslator opened #27631 "Stock status inconsistency: product table vs. product edit mode"
### Summary (*)
Preconditions:
1. Magento CE 2.2.3 is installed.
2. Shop is working fine except the problem below.

Steps to reproduce:
1. Create a simple product, quantity = 1 and stock status = 1.
2. Verify that the product is visible in the shop and can be ordered.
3. Order the product.

Expected result:
1. Quantity = 0
2. Stockstatus = 0 ("out of stock").
3. When applying the filter for stock

[2020-04-06 09:06] vipin12117 opened #27632 "Full page cache clearing auto after few minutes"
### Preconditions (*)
Any product or category page save in full page cache. Try after few minutes it clear all cache automatically. Another way to test, save any core config setting in admin. Magento show notification in top about to clear cache. Keep it few minutes and login back to admin. You will see cache cleared.
1. Login to Magento 2.3.4 admin and save any config.
2. You will see cache clear

[2020-04-06 09:47] VZeroCool commented on #27632
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-04-06 09:47] magento-engcom-team commented on #27632
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-06 09:47] magento-engcom-team commented on #27632
Hi @VZeroCool, here is your [Magento instance](https://i-27632-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27632-2-4-develop.instances.magento-community.engineering/admin_af77](https://i-27632-2-4-develop.instances.magento-community.engineering/admin_af77)
Login: `7b7b23e9` Password: `e349a2e807d4`
Instance will be terminated in up to 3 hours.

[2020-04-06 11:21] sudheers-kensium opened #27633 "Sales Order grid checkbox alignment issue in Admin"
Sales Order grid checkbox alignment issue

### Preconditions (*)

1. Magento: 2.3.4

### Steps to reproduce (*)

1. Admin -> Sales -> Orders
2.

### Expected result (*)

1. checkbox vertical-alignIt should be top
![image](https://user-images.githubusercontent.com/50358141/78553458-e5571000-7826-11ea-8c10-11f5b91458f9.png)

### Actual result (*)

1. checkbox vertical-alignIt is middle
![image](http

[2020-04-06 11:31] rashigoyal14 commented on #13684
Hi All,
Hope you are doing well.I have also came crossed this issue and is solved now.
Changes I did :
Just go to database and open table core_config_data.There will be two entries of web/secure/base_url & web/unsecure/base_url . Just change the url to your default url i.e. http://127.0.0.1/magento/ and your problem will be solved.

And for changing base url please r & d with new tutorial.

Thanks

[2020-04-06 11:34] GuiltyNL commented on #26201
@stephan-cream made a rewrite to solve the issue of a flooding exception.log with this error:

`No such entity with customerId = 82343 {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0)`

However the fix did remove the error messages in the log, but it caused the issues described in this ticket.

Removing the fix solved this ticket, but brought back the errors in

[2020-04-06 11:35] ronn0 commented on #27460
@magento give me 2.4-develop instance

[2020-04-06 11:35] magento-engcom-team commented on #27460
Hi @ronn0. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-06 11:36] magento-engcom-team commented on #27460
Hi @ronn0, here is your [Magento instance](https://i-27460-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27460-2-4-develop.instances.magento-community.engineering/admin_81d1](https://i-27460-2-4-develop.instances.magento-community.engineering/admin_81d1)
Login: `dfc3bc0d` Password: `315dc245800e`
Instance will be terminated in up to 3 hours.

[2020-04-06 11:42] krishprakash commented on #27629
@magento give me 2.4-develop instance

[2020-04-06 11:42] magento-engcom-team commented on #27629
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-06 11:43] magento-engcom-team commented on #27629
Hi @krishprakash, here is your [Magento instance](https://i-27629-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27629-2-4-develop.instances.magento-community.engineering/admin_ba5d](https://i-27629-2-4-develop.instances.magento-community.engineering/admin_ba5d)
Login: `00e6f201` Password: `2da810c99fc2`
Instance will be terminated in up to 3 hours.

[2020-04-06 11:44] ihor-sviziev commented on #27626
@luanpereira did you add reading IP address from X-Forwarded-For header?
Related PR https://github.com/magento/magento2/pull/23219

[2020-04-06 11:46] krishprakash commented on #27629
Hi @ravichandrarv. Thank you for your report.
Can not reproduce the issue in vanilla magento instance
Feel free to reopen the issue if you confirm the issue in latest vanilla instance

[2020-04-06 11:46] #27629 closed, assigned to krishprakash

[2020-04-06 12:03] vbyno commented on #27524
@KonstantinZhidkovskiy , will MSI module be included in 2.4 installation out of the box?

[2020-04-06 12:06] madhu-ranosys commented on #24944
Is this the issue? As I have gone through this functionality and feature, Pop up does not show on firefox and other browsers also. As I have found that without configuring We can't proceed further First we need to configure with key and after that one another popup appears where we need to config google account and other configurations as well Then it proceeds further.
Also, I found If We delete p

[2020-04-06 12:08] ajijshekh123 commented on #27633
@magento give me 2.4-develop instance

[2020-04-06 12:08] magento-engcom-team commented on #27633
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-06 12:09] magento-engcom-team commented on #27633
Hi @ajijshekh123, here is your [Magento instance](https://i-27633-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27633-2-4-develop.instances.magento-community.engineering/admin_3739](https://i-27633-2-4-develop.instances.magento-community.engineering/admin_3739)
Login: `8b0b862f` Password: `339333d5aac3`
Instance will be terminated in up to 3 hours.

[2020-04-06 12:23] ajijshekh123 commented on #27633
Hi @sudheers-kensium,
I have verified this issue in the Magento 2.4 instance. I think this is not an issue but the checkbox is displayed center of the box.

**See the screenshot:**
![Orders](https://user-images.githubusercontent.com/24711761/78557677-d70cf200-782e-11ea-86d8-0e6bc18d4202.png)

![Products](https://user-images.githubusercontent.com/24711761/78557682-d96f4c00-782e-11ea-9c88-1c079392c3

[2020-04-06 12:23] magento-engcom-team commented on #27633
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33106` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-06 12:41] sciola commented on #26172
I have the same issue

[2020-04-06 12:56] kamzata commented on #27540
I just made another installation on another similar environment and I got the same error. To see the error message you have to have Layout, Block HTML output, Page, and Translations cache disabled. Otherwise, you will bring on the other homepage store anyway (regardless where you were) but you will not able to see the error message "The store that was requested wasn't found. Verify the store and t

[2020-04-06 13:00] VZeroCool commented on #27632
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-04-06 13:00] magento-engcom-team commented on #27632
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-06 13:01] magento-engcom-team commented on #27632
Hi @VZeroCool, here is your [Magento instance](https://i-27632-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27632-2-4-develop.instances.magento-community.engineering/admin_42f8](https://i-27632-2-4-develop.instances.magento-community.engineering/admin_42f8)
Login: `165e44fc` Password: `d792c01c01cc`
Instance will be terminated in up to 3 hours.

[2020-04-06 13:14] roshanyadav89 commented on #18057
@bubasuma can you please check this out.

[2020-04-06 13:14] roshanyadav89 commented on #18057
@bubasuma Can you please check this out.

[https://magento.stackexchange.com/questions/309548/text-swatch-value-for-multi-store-view-wrong-on-frontend-magento-2-3-3-enterpr](url)

[2020-04-06 13:26] mediact-pipelines commented on #27233
I'm having the same issue with multiple of our shops. If there is anything I can assist with please mention me.

[2020-04-06 13:26] vipin12117 commented on #27632
Just for update, I am facing that issue on 2.3.4.

[2020-04-06 13:27] igorwulff commented on #27233
I'm having the same issue with multiple of our shops. If there is anything I can assist with please mention me.

[2020-04-06 13:34] yash-patadia opened #27635 "Product attribute Text swatch only shows admin store value instead of current store value"
This issue precise on the product page, mini-cart, cart page & checkout order summary

### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Add two stores, store-one, store-two
2. Create a product attribute with text-swatch type (i.e text_swatch)
3. Add attribute option **admin value: test**, **store value: store-test**
![image](https://user-images.githubusercontent.com/58852103

[2020-04-06 13:39] sudheers-kensium commented on #27635
@magento give me 2.4-develop instance

[2020-04-06 13:39] magento-engcom-team commented on #27635
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-06 13:40] magento-engcom-team commented on #27635
Hi @sudheers-kensium, here is your [Magento instance](https://i-27635-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27635-2-4-develop.instances.magento-community.engineering/admin_db22](https://i-27635-2-4-develop.instances.magento-community.engineering/admin_db22)
Login: `ca0a74b2` Password: `5f3015f03203`
Instance will be terminated in up to 3 hours.

[2020-04-06 13:40] Parrotdise commented on #27555
Summary of the issue:
Sorting and now filtering on products in admin produces this error message [Something went wrong with processing the default view and we have restored the filter to its original state] and thereafter the page locks and can not access any products. That is; the error message is always on the admin product page whether I log out or refresh.  So far,  the only way to fix this is

[2020-04-06 14:03] shrma-smit commented on #26201
Thank you for explaining @GuiltyNL.

I've not applied this fix yet but facing this issue after removing customer quotes from the website and it come randomly for the customers not every customer which is strange.

[2020-04-06 14:53] sudheers-kensium commented on #27635
@yash-patadia Please add value description, that description will display on frontend .
![image](https://user-images.githubusercontent.com/50358141/78571884-5fe25880-7844-11ea-9f68-1c15c0f9e979.png)

[2020-04-06 15:02] yash-patadia commented on #27635
@sudheers-kensium thanks.

Apologies for wasting team's time for such a silly issue.

[2020-04-06 15:03] #27635 closed, assigned to sudheers-kensium

[2020-04-06 15:31] thiaramus commented on #27043
The internal Magento team is working on this issue right now.

[2020-04-06 15:55] KooTjoo commented on #22313
This issue is still present in Magento 2.3.4 CE. I tried to install extension and got this:

Element 'indexer', attribute 'class': [facet 'pattern'] The value 'Best4Mage\UCPS\Model\Indexer\SimpleProductUrlRewrites' is not accepted by the pattern '[a-zA-Z\\]+'.
Line: 3

Element 'indexer', attribute 'class': 'Best4Mage\UCPS\Model\Indexer\SimpleProductUrlRewrites' is not a valid value of the atomic t

[2020-04-06 16:15] naydav commented on #24184
Reopened due to fix reverting.
See details in https://github.com/magento/inventory/pull/2887

[2020-04-06 16:16] mateuszrusiecki commented on #4159
Hello! It's 2020 here and this issue still exists(ver. 2.3.4)! are you serious guys? o_O

[2020-04-06 16:25] norgeindian commented on #23661
This issue occurs for example in custom console commands. The composite renderer is not set, so the placeholder renderer is used and nothing gets translated.

[2020-04-06 16:25] magenx commented on #4159
it is working, if you have webroot in /pub/
then you need to have separate root dir for /setup/

[2020-04-06 16:52] gwharton commented on #24184
This turned out to be more complicated than i originally thought. Removing rewrites is broken for the product page. And adding and removing rewrites are both broken when adding and removing websites from massaction.

I will leave this for someone else to pick up. Feel free to use anything from the PR that was reverted.

[2020-04-06 16:58] mateuszrusiecki commented on #4159
can you be more precise? Where I should add this separate root dir? some example would be nice

[2020-04-06 17:08] marketingsignals commented on #11527
We've got this in 2.3.4

[2020-04-06 17:41] mateuszrusiecki commented on #4159
uh silly me. I just used nginx.conf.sample from magento and it worked

[2020-04-06 18:49] niners52 commented on #21803
Issue on 2.3.2-p2

[2020-04-06 18:56] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-04-06 18:56] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-06 18:57] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_b68b](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_b68b)
Login: `e1754fb7` Password: `a7a310f0900a`
Instance will be terminated in up to 3 hours.

[2020-04-07 01:43] cristiano-pacheco commented on #27500
Hi @lbajsarowicz, I found one more step to be done.

The signature of this method setUp is like:

`protected function setUp(): void
    {
    }`

Without the return type **void** the test will fail.

Maybe you could consider this action in the description of this issue.

[2020-04-07 05:08] krishprakash commented on #27633
Hi @sudheers-kensium. Thank you for your report !!
I don't think this we should consider this as an issue.
It looks same for all the admin grids like customers,orders,invoices,products and for user perceptive alignment of checkbox is proper

[2020-04-07 05:34] sudheers-kensium commented on #27633
@krishprakash issue in all admin grids and issue is only latest versions, in older version alignment  top.

[2020-04-07 05:47] lbajsarowicz opened #27638 "PHPUnit Tests bundled with Magento fatal errors"
### Preconditions (*)
1. Vanilla Magento 2.3.4

### Steps to reproduce (*)
1. `vendor/bin/phpunit -c dev/tests/phpunit.xml.dist`

### Expected result (*)
1. Tests executed till the end

### Actual result (*)
1. Fatal errors:
[code]

[2020-04-07 08:21] vseager commented on #23908
I can also verify that we are seeing this issue on 2.3.4

[2020-04-07 08:22] rvitaliy commented on #27227
Hello @sdzhepa

I apologize for the inconvenience, I believe there is nothing to add as technical information for this issue.
I would ask you to reopen it and remove the `done` tag as this feature has not yet been implemented.

[2020-04-07 09:14] magento-engcom-team commented on #27592
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33133` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-07 09:16] magento-engcom-team commented on #27587
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33134` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-07 09:30] hostep commented on #23908
Thanks for the feedback @vseager!

@engcom-Bravo: are [the steps to reproduce](https://github.com/magento/magento2/issues/23908#issuecomment-539479231) still applicable on 2.3.4 or 2.4-develop? Or do we need to find other steps to reproduce the issue?

[2020-04-07 09:30] ant-workaholic commented on #25362
Still have the issue on Magento 2.3.3

[2020-04-07 09:31] ant-workaholic commented on #25362
It seems you disabled the shopping cart on checkout. That is the reason why it was fixed for you. I still have the issue on Magento 2.3.3

[2020-04-07 09:33] studio16 commented on #10304
Along with this is issue the product alert function does not work/show combined with allowing backorders and after using a workaround to get the alert link  it seems the trigger of sending the email is also the is_in_stock setting (which needs to be true if u want to allow backorders) in stead of the real quantity causing sending email alerts while the quantity is still 0.

[2020-04-07 10:02] studio16 opened #27639 "Product alert not working when backorders are enabled"
### Preconditions (*)

Magento 2.3.4
Edit/Create a product,
Set Manage Stock to "Yes",
Set Qty to "0",
Enable Backorders
Set Stock Status to "In Stock".
store->config->catalogue->catalogue
Set catalog_productalert_allow_stock to Yes

### Steps to reproduce (*)
1.Visit the product page

### Expected result (*)

1.  "Notify me when this product is in stock" link

### Actual result (*)

1.  No link t

[2020-04-07 10:04] kamzata commented on #27540
I'm doing some debugging... it seems the problem is in _/vendor/magento/framework/HTTP/PhpEnvironment/Request.php_ at line 271.

[code]

It return `null` instead of returning the `___store` value. Same thing for `___from_store` value.

[2020-04-07 10:22] krishprakash commented on #27639
@magento give me 2.4-develop instance

[2020-04-07 10:23] magento-engcom-team commented on #27639
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-07 10:24] magento-engcom-team commented on #27639
Hi @krishprakash, here is your [Magento instance](https://i-27639-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27639-2-4-develop.instances.magento-community.engineering/admin_6f53](https://i-27639-2-4-develop.instances.magento-community.engineering/admin_6f53)
Login: `f42c76bf` Password: `f1c045352360`
Instance will be terminated in up to 3 hours.

[2020-04-07 11:00] krishprakash commented on #27639
Hi @studio16. Thank you for your report.
Seems this is expected behavior of magento. Once back order is enabled then notify link should not be display and when product in out of stock then display the Notify link

[2020-04-07 11:05] studio16 commented on #27639
what does backorders have to do with the fact that I as a shopper wants to know when a product is in stock again?

[2020-04-07 11:11] studio16 commented on #27639
Actually this is part of the other issue not being able to use backorders in combination with is_in_stock set to false which makes more sense than having is_in_stock set to true while in fact stock = 0 which was discussed here:
https://github.com/magento/magento2/issues/10304
and was closed for no apparent reason

[2020-04-07 11:15] lano-vargas commented on #23145
I would like to know this too. As for Google Hyphen is recommended REF: https://support.google.com/webmasters/answer/76329?hl=en

Anyone have any references?

[2020-04-07 11:28] krishprakash commented on #27639
Hi @studio16. Refer the _[Link](https://docs.magento.com/m2/ce/user_guide/catalog/inventory-backorders.html)_ for Back order understanding and Yes, as per your given link this is expected behavior not an issue.Thank you !!

[2020-04-07 11:28] #27639 closed, assigned to krishprakash

[2020-04-07 11:39] studio16 commented on #27639
Again what does the "Allow Alert When Product Comes Back in Stock"  has to do with being able to have backorders?

[2020-04-07 11:39] lano-vargas commented on #25668
2.3.4 still not allowing

[2020-04-07 11:40] krishprakash commented on #27225
Hi @effettidesigns. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only
Please refer [Magento stack exchange](https://magento.stackexchange.com/) or [Community forum](https://community.magento.com/) to discuss about this
Thank you !!

[2020-04-07 11:40] #27225 closed, assigned to nobody

[2020-04-07 11:41] studio16 commented on #27639
shopper A may want to place an order anyway -> backorder
shopper B who perhaps needs to pay in advance wants to wait till the product is in stock again and wants to get notified when it does instead of paying not knowing when the product ever will arrive.

[2020-04-07 11:41] ihor-sviziev commented on #25668
Hi we decided not to fix it. More details https://github.com/magento/magento2/issues/25668#issuecomment-608628584

[2020-04-07 11:43] krishprakash commented on #27639
Kindly refer below link for back in stock alert:
https://docs.magento.com/m2/ce/user_guide/catalog/inventory-product-alerts.html
Thank you !!

[2020-04-07 11:53] studio16 commented on #27639
"The Sign up to get notified when this product is back in stock message appears only when Inventory Stock Options - Display Out of Stock Products is set to Yes."

it's set to yes and still no link

[2020-04-07 12:45] aholovan commented on #26840
Hi,
I've applied code from @hostep patchset on 2.3.3 and got the issue resolved!
Currently with that fixes I'm able to create orders in admin and on frontend checkout using Payflow and skipping the error 'No such entity with cartId = 0' in logs that throws by \Magento\Paypal\Controller\Transparent\Response
via $this->transaction->savePaymentInQuote($response, (int)$this->sessionTransparent->getQuo

[2020-04-07 12:55] jakwinkler opened #27641 "500 error in order view with configurable products & sales rule"
### Preconditions (*)

1. Magento 2.3.3 / 2.3.4

### Steps to reproduce (*)

1. Create a configurable product with few options
2. Create a sales rule which works on this configurable product
3. Buy that product using that sales rule

### Expected result (*)

1. You can view the order

### Actual result (*)

1. 500 error in this file

`vendor/magento/module-configurable-product/Plugin/SalesRule/Mod

[2020-04-07 13:23] sudheers-kensium commented on #27641
@magento give me 2.4-develop instance

[2020-04-07 13:23] magento-engcom-team commented on #27641
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-07 13:24] magento-engcom-team commented on #27641
Hi @sudheers-kensium, here is your [Magento instance](https://i-27641-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27641-2-4-develop.instances.magento-community.engineering/admin_6cc6](https://i-27641-2-4-develop.instances.magento-community.engineering/admin_6cc6)
Login: `c56f9298` Password: `bf5c256481dc`
Instance will be terminated in up to 3 hours.

[2020-04-07 13:25] Terryh1949 commented on #27532
There are no details. All I wanted was an answer to a question as to why under the Magento Blog Extension I could not delete a photo that I had uploaded which was a duplicate.

To have to sign up for GitHub and all that is way beyond what I am up to after almost 30 years of blogging and computer expertise.

Terry

[cid:ffc4debb-202b-420a-baf2-b7d937aecf9a]

Terry Henry - Global Workshop Coordinato

[2020-04-07 14:04] sudheers-kensium commented on #27641
@qsolutions-pl I am not able to reproduced on Magento 2.4-develop instance. Please check below.

Frontend:
![image](https://user-images.githubusercontent.com/50358141/78678488-a5fff080-7906-11ea-831a-040a0aeacec7.png)

Admin:
![image](https://user-images.githubusercontent.com/50358141/78678530-b1ebb280-7906-11ea-81b1-e5e5ab4277dc.png)

[2020-04-07 15:21] ajijshekh123 commented on #27628
Hello @GordonMak ,
This issue is reproduced in the Magento 2.3 instance but Please update the Latest Magento instance so it will be automatically fixed this issue.
Please see attached screenshot:

![1](https://user-images.githubusercontent.com/24711761/78687117-76a2b100-7911-11ea-85f6-82344ee58e27.png)

![2](https://user-images.githubusercontent.com/24711761/78687131-7a363800-7911-11ea-8f22-40ba70

[2020-04-07 15:21] jefflenz commented on #24297
Same issue, much smaller database, scripts been running for hours and eating massive amounts of memory.  Magento 2.3.2-p2 Enterprise

[2020-04-07 16:11] j-lloyd-slc commented on #8538
This issue is still a problem in 2.3.3

[2020-04-07 16:24] aymansabi commented on #18089
Having the same problem. Any solution.

 Failed to connect to 127.0.0.1 port 808: Connection refused at /home/luckyeyesinc/public_html/vendor/magento/module-paypal/Model/Api/Nvp.php:1215)"} []

[2020-04-07 16:28] aymansabi commented on #26698
Any solution>?

 Failed to connect to 127.0.0.1 port 808: Connection refused at /home/luckyeyesinc/public_html/vendor/magento/module-paypal/Model/Api/Nvp.php:1215)"} []

[2020-04-07 18:43] santerref commented on #6144
Same issue for me. I am testing on 2.3.4.

[2020-04-07 19:56] lbrown-magento commented on #26840
Thank you for sharing. I will try this.

[2020-04-07 20:42] sam110386 commented on #25221
facing same issue, trying to send USPS tracking information

[2020-04-07 20:52] lewisje commented on #25738
I realize that you already made a relevant change about 5 weeks ago, but it would be more semantic if the [`<time>` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time) were used.

Here's a variant that also depends on making `datetime` an allowed attribute in `\Magento\Framework\Escaper`:

[code]

Here's a variant that doesn't depend on making `datetime` allowed and is much si

[2020-04-07 21:47] sdzhepa commented on #8538
Reopened due to https://github.com/magento/magento2/issues/8538#issuecomment-610479283

The issue should be re-verified on `2.4-develop` branch according to [Issues Processing Workflow](https://github.com/magento/magento2/wiki/GitHub-Issues-Processing-Workflow)

[2020-04-07 22:00] j-lloyd-slc commented on #8538
To clarify, the problem I am seeing may be different. The filters can be reset after the error occurs, which is good.

However, the error message persists after a new filter is submitted, which is confusing and suggests that the subsequent filtering may not be reliable.

Also, the root of the issue (in my case) was a migrated product with a NULL sku. In 1.9 these are "broken", but can be listed/vi

[2020-04-07 23:11] kamzata commented on #27540
I just tried on Magento 2.2.11 and it works great out of the box.

[2020-04-08 00:34] djamps commented on #25738
@lewisje I tried your solution and still receive the same exception.   The original solution is still the answer.

[2020-04-08 03:37] Hoszi commented on #14626
@lano-vargas
Try to use https instead of http

[2020-04-08 05:53] madhu-ranosys commented on #24944
Hi @swetacedcoss @magento-engcom-team
Can you please update on the current state here?
Thank you!

[2020-04-08 06:42] hostep commented on #24944
@madhu-ranosys: I think I read that Magento is discontinuing the google shopping ads module and it will no longer be included in Magento 2.3.5 and 2.4.0.
So this issue is most likely no longer valid. But let's wait until Magento 2.3.5 gets released  (should happen on 28 April) to see if that's true or not.

[2020-04-08 06:45] madhu-ranosys commented on #24944
Ok, Thanks.

[2020-04-08 06:49] madhu-ranosys commented on #27507
I am not able to reproduce this issue.
Thanks!

[2020-04-08 07:33] ltay13 commented on #26482
I was about to raise a similar request when I came across this one, except we see this issue in the context of DHL. So for whoever ends up working on this issue, I think the issue is wider than UPS and is happening with other carriers too (well, at least with DHL).

This problem has a significant impact on the checkout experience in our case, with some of the DHL requests taking 7s to return, then

[2020-04-08 08:18] sudheers-kensium commented on #27556
Hi @mchansrsw Kindly update all the details for reproduce the issue

[2020-04-08 08:41] kamilmaliszewski commented on #7647
Magento 2.3.4 => Problem still exist. What important. I had here 3x website. Product was add only to 1-st website. To use this workaround I had to active it in the rest of the websites, uncheck there roles and then remove the image.

[2020-04-08 08:42] lbajsarowicz opened #27649 "Script moving plugin triggered on JSON Response"
### Preconditions (*)
When triggering raw (without content) JSON output from Controller, Script moving plugin is being triggered, causing failure.

### Steps to reproduce (*)
[code]

### Expected result (*)
Controller output:
[code]

### Actual result (*)
[code]

[2020-04-08 09:10] aelmizeb opened #27650 "Wrong parameters name passed to widgets after generation"
### Preconditions (*)

On magento 2.3.4, after creating a widget, in the frontend the data contains a wrong parameters name. the parameters names contains a '+' char.

### Steps to reproduce (*)

1. Create a widget with parameters in the backend
2. go to the frontend and try to get the parameters

### Expected result (*)

1. Parameters name are correct
2. You can get the value of the parameters by

[2020-04-08 09:12] sudheers-kensium commented on #27650
Hi @aelmizeb Kindly update all the required details for reproduce the issue

[2020-04-08 09:12] engcom-Alfa commented on #8538
@sdzhepa The issue is still reproducible on fresh 2.4-developer instance

**Preconditions:**
1. Magento 2.4-develop;
2. PHP v7.3

**Manual testing scenario:**
1. Create a  new store view (call it "Second Store View" for example);
2. Log in to Admin -> Catalog -> Products;
3. Set up and apply a filter for the newly created store view;
![screenshot1111](https://user-images.githubusercontent.com/5167

[2020-04-08 09:24] aelmizeb commented on #27650
Hi @sudheers-kensium the details was updated

[2020-04-08 09:48] magento-engcom-team commented on #8538
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33191` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-08 09:50] ilnytskyi commented on #13466
@magento-engcom-team @StasKozar @viktym
the code from, supposed to be released in 2.3.4
https://github.com/magento/magento2/commit/5ccd367ebc628b588a77cb2032faeabd6005b039

and actual 2.3.4 and 2.4-develop is a bit different
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Quote/Observer/SubmitObserver.php

so as we understand now the customer will always have 2 emails after o

[2020-04-08 09:59] magento-engcom-team commented on #27162
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33194` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-08 10:06] magento-engcom-team commented on #27175
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33195` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-08 10:34] sudheers-kensium commented on #27650
@aelmizeb Can you please provide more details how you created widget and provide screenshots. It will help to reproduce the issue.

[2020-04-08 10:43] TerreFra opened #27653 "Unable to finish the purchase - Global Users - Multi-Website"
### Preconditions (*)

1. Magento 2.3.4
2. Customer is logged in.
3. Multi country websites
   3.1 Main Website - For Europe
   3.2 USA Website - For USA (Allowed countries option - only USA selected)
4. Global accounts enabled.

### Steps to reproduce (*)

1. Log in.
2. Add a product to the cart and try to finish the purchase with the bank transfer.

### Expected result (*)

1. Order completed, r

[2020-04-08 11:35] gilbertsohal opened #27654 "Magneto 2.3.4 - Invalid input date time format of value (locale AU)"
### Preconditions (*)

1. Magento version 2.3.4
2. Australia locale in admin
3. PHP ver 7.1
4. CLOUDLINUX 6.10

### Steps to reproduce (*)

1. Create or edit product
2. Change date field for new from to anything
3. Click Save

### Expected result (*)

1. Product Saves with new from date
2.

### Actual result (*)

1. Error occurs stating Invalid input datetime format of value '21/04/2020'
2. Screen

[2020-04-08 11:49] gilbertsohal opened #27655 "Magneto 2.3.4 - The Date of Birth should not be greater than today (JavaScript Calendar - DD/MM/YYYY)"
### Preconditions (*)

1. Magento version 2.3.4
2. Australia locale in admin
3. PHP ver 7.1
4. CLOUDLINUX 6.10

### Steps to reproduce (*)

1. Use JavaScript Calendar (Yes)
2. Date Fields Order (DD/MM/YYYY)
3. Screenshot - https://prnt.sc/rvdcgj
4. Customer > Edit Customer > Account Information > Date of Birth

### Expected result (*)

1. Save Customer Any Date of Birth without error
2.

### Actua

[2020-04-08 11:52] ajijshekh123 commented on #27654
@magento give me 2.4-develop instance

[2020-04-08 11:52] magento-engcom-team commented on #27654
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-08 11:53] magento-engcom-team commented on #27654
Hi @ajijshekh123, here is your [Magento instance](https://i-27654-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27654-2-4-develop.instances.magento-community.engineering/admin_0b3d](https://i-27654-2-4-develop.instances.magento-community.engineering/admin_0b3d)
Login: `6cd1b012` Password: `a39d54a046c3`
Instance will be terminated in up to 3 hours.

[2020-04-08 11:53] sudheers-kensium commented on #27655
@magento give me 2.4-develop instance

[2020-04-08 11:54] magento-engcom-team commented on #27655
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-08 11:55] magento-engcom-team commented on #27655
Hi @sudheers-kensium, here is your [Magento instance](https://i-27655-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27655-2-4-develop.instances.magento-community.engineering/admin_5375](https://i-27655-2-4-develop.instances.magento-community.engineering/admin_5375)
Login: `f6b6eb25` Password: `35ac5f6aef56`
Instance will be terminated in up to 3 hours.

[2020-04-08 12:16] kamzata commented on #27540
I just tested on **Magento 2.3.0** and **it works partially out of the box**. Url rewrite has been created just for 1 store view. So, to make it works I had to add manually the url rewrites for the other store view. Then it worked.

[2020-04-08 12:36] sudheers-kensium commented on #27655
@gilbertsohal **Use JavaScript Calendar**  setting for to enable or disable the JavaScript Calendar in product custom option, not for the time format in customer edit.

Please check below link
https://docs.magento.com/m2/ce/user_guide/stores/attribute-date-time-options.html

![image](https://user-images.githubusercontent.com/50358141/78784796-9c888e00-79c3-11ea-8146-2a80baca7ef5.png)

[2020-04-08 12:40] sudheers-kensium commented on #27655
This is not an issue, so I am closing this.

[2020-04-08 12:41] kamzata commented on #27540
I just tested on **Magento 2.3.1** and **it shows the error**. The behaviour is just the same as for the 2.3.4 version.

[2020-04-08 12:58] gilbertsohal commented on #27655
Hi

Why this issue happening with my fresh Installation can you investigate
Showing error on save (The Date of Birth should not be greater than today.)
Screenshot - https://prnt.sc/rvdd2u

[2020-04-08 13:34] sudheers-kensium commented on #27655
@gilbertsohal Please use calendar to choose the date. You are entering wrong format.

[2020-04-08 13:42] ProxiBlue commented on #11899
Dude, just been there, right this second

[2020-04-08 13:45] gilbertsohal commented on #27655
Sorry about miss understanding forgot about the calendar.

Please check the Date of Birth error. I installed fresh magneto 2.3.4 and getting below error.

Customer > Edit Customer > Account Information > Date of Birth

Screenshot
https://prnt.sc/rvdd2u

Could you please help me.

[2020-04-08 13:51] sudheers-kensium commented on #27655
@gilbertsohal Click on calendar icon and select the date.

[2020-04-08 13:56] ilnytskyi opened #27656 "2.3.4 Invoice always sent (if exist) when order placed."
### Preconditions (*)
related to attempt to fix
https://github.com/magento/magento2/issues/13466

commit
https://github.com/magento/magento2/commit/5ccd367ebc628b588a77cb2032faeabd6005b039
1. # h3. Steps to reproduce (*)
1. Place order with a payment method that instantly generates an invoice
1. The module/code that generated an invoice now is responsible for checking it's state and send to custom

[2020-04-08 13:58] ilnytskyi commented on #27656
@magento-engcom-team @StasKozar @viktym

[2020-04-08 14:00] gilbertsohal commented on #27655
Yes i m doing same click on calendar icon and selecting date but i m getting error if i select MM/DD/YYYY then its working fine but i need DD/MM/YYYY

Screenshot (MM/DD/YYYY)
https://prnt.sc/rvgavu

Screenshot 1 (DD/MM/YYYY)
https://prnt.sc/rvgcgt

Same thing happening with product Set as new

Screenshot 1
https://prnt.sc/rvd3o8

Screenshot 2
https://prnt.sc/rvd42u

[2020-04-08 14:10] magento-engcom-team commented on #26520
Hi @deepaksnair, @novikor, @ramesh-durairajaram.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-30767` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scop

[2020-04-08 14:10] #26520 closed, assigned to novikor, ramesh-durairajaram

[2020-04-08 14:18] MartinAarts commented on #6401
We fixed the problem of an entire category giving a 503 error with this solution on Magento 2.3.4. We just commented out a couple of lines in this file. This is a dirty fix, but this fix can easily be made without downtime, and for as far as I know without any consequences. Used this fixed, assuming this file will soon be changed in the update to 2.3.5 to really solve this problem.

[2020-04-08 14:27] sudheers-kensium commented on #27655
@gilbertsohal  To change visible date format in date inputs You need to set proper Interface Locale in the Account Setting. Please follow below steps and save the configuration.

![image](https://user-images.githubusercontent.com/50358141/78795833-1a07ca80-79d3-11ea-9e60-b9c6554db374.png)

[2020-04-08 14:32] gilbertsohal commented on #27655
I have setup everything Please check screenshot.
https://prnt.sc/rvh37p

[2020-04-08 15:05] sudheers-kensium commented on #27655
@gilbertsohal This is working in Magento 2.4-develop instance

[2020-04-08 15:14] Hexmage opened #27657 "2.3.4 GraphQl Aggregation Attribute labels and attribute option labels are not or incorrectly translated."
### Preconditions (*)

1. Magento 2.3.4
2. 2 Storeviews
3. Demo data

### Steps to reproduce (*)

1. Pick an attribute and configure it so its available as an aggregation in graphql (I chose "size")
2. Set the attribute label for both storeviews
![Screenshot from 2020-04-08 17-01-43](https://user-images.githubusercontent.com/22170051/78799926-19fbd080-79bb-11ea-840b-3f3fb5651d0e.png)
3. Set the at

[2020-04-08 15:15] Hexmage commented on #27657
The code for this is unchanged between 2.3.4 and 2.4

[2020-04-08 15:17] Hexmage commented on #27657
`app/code/Magento/CatalogGraphQl/DataProvider/Product/LayeredNavigation/AttributeOptionProvider.php`
Is the class in which this happens.

[2020-04-08 15:19] CarmineDamore78 commented on #27631
@magento give me 2.4-develop instance

[2020-04-08 15:19] magento-engcom-team commented on #27631
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-08 15:20] magento-engcom-team commented on #27631
Hi @CarmineDamore78, here is your [Magento instance](https://i-27631-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27631-2-4-develop.instances.magento-community.engineering/admin_8e96](https://i-27631-2-4-develop.instances.magento-community.engineering/admin_8e96)
Login: `54438d9c` Password: `9e55bb95f84b`
Instance will be terminated in up to 3 hours.

[2020-04-08 15:22] arunelangovan commented on #26184
Is there any fix or patch so far, Our productions is getting killed atleast once a day.

[2020-04-08 15:27] gilbertsohal commented on #27655
But its not working on my Magento version 2.3.4. Is this possibility i have new VPS server and newly account created in WHM is this possibility to miss any php extension or configuration.

[2020-04-08 15:32] CarmineDamore78 commented on #27631
Hi @magento-engcom-team
This issue is not reproducible on 2.4-develop.
I followed the procedure described @Notranslator  but after I created an order the stock status changed from "In Stock" to "Out of Stock"

[2020-04-08 15:32] #27631 closed, assigned to CarmineDamore78

[2020-04-08 16:48] ilnytskyi commented on #26184
Using ES may help. Or even better to profile the application and eliminate redundant queries on DB
dxebug dumps
this profiler
https://github.com/NoiseByNorthwest/php-spx
or xdebug
removing join from that table would result with empty filters in layered navigation

[2020-04-08 18:05] Notranslator commented on #27631
Hi, thanks for testing.
Can you confirm that the status both in the product table AND when editing the product has "out of stock" status?

[2020-04-08 18:30] smadasam opened #27659 "payments with payflow advanced show declined but actually charge customers"
### Preconditions (*)

1. Magento 2.3.2
2. PayPal Payflow Advanced

### Steps to reproduce (*)

1. Checkout using the payflow adanced CC option
2. submit payment

### Expected result (*)

1. sale to complete normally

### Actual result (*)

1. shows as payment declined
2. PO doesn't show in customers dashboard
3. sale does show in the backend

I posted this: https://magento.stackexchange.com/quest

[2020-04-08 19:11] arunelangovan commented on #26184
@ilnytskyi We are using elastic search, but not sure what went wrong. We get same error. The above query is hitting with DB again whenever we lift up maintenance page

Can you lead me to a possible fix?

[2020-04-08 19:12] Gabriel-Bruno opened #27660 "checkout frozen by throwing error"
### Preconditions (*)

1. magento 2.3.4
2.

### Steps to reproduce (*)

1.after product adding to cart and clicking on the checkout page
2.checkout page start to load, but its frozen,and keep frozen.

### Expected result (*)

1. it should be load the checkout page successfully to add the shipping and payment detail.
2.

### Actual result (*)

1. its keep frozen and throing error - console error pi

[2020-04-08 19:50] arunelangovan commented on #26184
@magento-engcom-team @engcom-Hotel  Any insight on the above issue?

[2020-04-08 22:13] lbajsarowicz opened #27661 "DI does not validate arguments from `di.xml`"
### Preconditions (*)
1. `di.xml` enables you to provide arguments to the `__construct()` method

### Steps to reproduce (*)
1. Create `<virtualType>` or `<type` reference
2. Add `<arguments>` to ↑ with `<argument name="thisOneDoesNotExist" xsi:type="string">ShouldCauseFailure</argument>`

### Expected result (*)
1. Neither `setup:upgrade` nor `setup:di:compile` should pass.
1. We should expect `I

[2020-04-08 22:31] mjoraid commented on #12622
@sambalay hey, did yo manage by any chance to find a fix for this?

[2020-04-09 01:44] dodangehpor opened #27664 "777777"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2020-04-09 01:47] dodangehpor opened #27665 "محسن چاوشی"
محسن چاوشی#

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-04-09 02:24] nrkapoor opened #27666 "Single mutation for Add to Cart that supports all product types"
Right now we have 7 mutations for adding different types of products to the cart. When we started working on wishlist functionality it turned out that we will have to create 14 more mutations (adding to wishlist and moving from wishlist to cart). It leads to overcomplicated flow and does not help to improve developers' experience.

### Expected behavior (*)
A single mutation is used to add all typ

[2020-04-09 02:41] nrkapoor opened #28519 "GraphQL Checkout :: Add support for Gift Wrapping / Gift Message during checkout."
As a Magento Merchant,
I would like the ability to offer my customers gift wrapping and gift messaging options during checkout 
so that 
they can send the products purchased from my business as a gift to their friends/families etc. 

 

**Acceptance Criteria**
GraphQL provides all available gift options for a store.  
GraphQL provides the option to select the gift option for each line item 
GraphQ

[2020-04-09 02:44] nrkapoor opened #28524 "Single mutation for Add to Cart that supports all product types"
Right now we have 7 mutations for adding different types of products to the cart. When we started working on wishlist functionality it turned out that we will have to create 14 more mutations (adding to wishlist and moving from wishlist to cart). It leads to overcomplicated flow and does not help to improve developers' experience.

**Expected behavior**
A single mutation is used to add all types o

[2020-04-09 02:46] erfanimani opened #27667 "When programatically creating a CMS block, it cannot be assigned to "All store views""
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. In a patch setup script, run the following:

        $block = $this->blockFactory->create();
        $block
            ->setTitle('Foo')
            ->setIdentifier('foo')
            ->setContent('<p>Hello world</p>')
            ->setStoreId(0);

        $this->blockRepository->save($block);

### Expected result (*)

1. CMS

[2020-04-09 02:55] krishprakash commented on #27665
Hi @dodangehpor. Kindly update all the details pre condition, steps to reproduce, expected and actual result in English only

[2020-04-09 02:56] krishprakash commented on #27664
Closing this as added unnecessarily

[2020-04-09 02:56] #27664 closed, assigned to krishprakash

[2020-04-09 02:57] erfanimani commented on #27667
Also reproduced on 2.4-develop, see this line here: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Cms/Model/BlockRepository.php#L114

Creating a PR would be easy as it involves changing the `empty` check to a null check, but I'm not sure what consequences this has, or why empty was chosen. Should I go ahead and check if tests pass?

[2020-04-09 02:57] nrkapoor opened #28551 "Customer :: MyAccount :: Wishlist Management"
As a Magento End Customer, 
I would like the ability to create multiple wishlists and add products to it
So that
I can create a personalized collection of products and save them in MyAccount for future reference. 

**Acceptance Criteria**

Wishlist functionality is only available for logged in customers. 
Wishlist functionality is only available via graphql if enabled in Magento admin. 
Customers

[2020-04-09 03:00] krishprakash commented on #27665
Closing this as added unnecessarily

[2020-04-09 03:00] #27665 closed, assigned to krishprakash

[2020-04-09 03:00] nrkapoor opened #28521 "Customer :: MyAccount :: Reset password for MyAccount"
As a Magento End Customer,
I would like the ability to reset my account using the email associated with the account
so that 
I have the ability to log into my account by going through the password reset process in case I forget my password. 

 

**Acceptance Criteria**

- GraphQL mutation accepts an email address and triggers the password reset email. 
- If the input email is not associated with a

[2020-04-09 03:17] nrkapoor opened #28522 "Catalog/Customer :: Product Compare List"
As a Magento End Customer,
I want to add one or more products to my compare list
So that 
I can compare different attributes of the products to make an informed purchase decision. 

  

**Acceptance Criteria**

- Only logged in customers can add products to compare lists.
- A customer can only create one compare list. 
- The compare list must have all product attributes configured as comparable in

[2020-04-09 03:19] nrkapoor opened #28523 "Catalog/Customer :: Product Reviews"
As a Magento End Customer,
I want to read and provide reviews for the products I am considering purchasing and have already purchased respectively
So that 
I can make an informed buying decision and also provide valuable feedback to other shoppers. 

 

**Acceptance Criteria**

- Customers can create reviews for any product type 
- All reviews are returned (if requested) as part of the products qu

[2020-04-09 05:33] #27556 closed, assigned to nobody

[2020-04-09 06:00] Vinai commented on #27661
Sorry @lbajsarowicz, I disagree with this assessment.
Removing a required argument should be a backward compatible change. This argument validation makes that a backward breaking change.

[2020-04-09 06:53] smadasam commented on #27659
https://community.magento.com/t5/Payments-PayPal/PayPal-PayfloLink-Shows-quot-declined-credit-card-quot-even/td-p/8606/page/3

This could be the problem:
The post by crdruffy below is absolutely correct. I am a technical account manager in PayPal and came across the same issue around  PayPal advanced (supporting TLS 1.0 only) with another merchant that we whitelisted recently. We are looking to pr

[2020-04-09 06:57] lbajsarowicz commented on #27661
@Vinai How about having that in Developer mode only?

[2020-04-09 07:25] srsathish92 commented on #26893
@ramu15061987 Authorize.net module seems deprecated from 2.3.4.
FYI: https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-Magento-core-payment-integrations/ba-p/426445
In that blog says, in 2.4.0 - 'authorize.net' will be completely removed. so please use the official [extension](https://marketplace.magento.com/authorizenet-magento-module-authorizenet.html) from marketplace instead.

Al

[2020-04-09 08:11] peterjaap commented on #3890
Issue still exists on 2.3.4.

[2020-04-09 08:27] peterjaap commented on #3890
Some more info; the `\Magento\Reports\Block\Product\Widget\Viewed` block ultimately extends the abstract block `\Magento\Reports\Block\Product\AbstractProduct`. This class contains the `\Magento\Framework\View\Element\AbstractBlock::$_isScopePrivate` property, which is set to `true`.

However, the [Magento DevDocs on Private Content](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/cach

[2020-04-09 09:09] magento-engcom-team commented on #24490
Hi @iget-master.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24070` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you st

[2020-04-09 09:09] #24490 closed, assigned to nobody

[2020-04-09 09:32] sudheers-kensium commented on #27667
Hi @erfanimani , I have used below code to create CMS block.

$block = $blockFactory->create();
 $block
     ->setTitle('Foo')
     ->setIdentifier('foo')
     ->setContent('<p>Hello world</p>')
     ->setStoreId(0)->save();

[2020-04-09 09:58] twosg commented on #12512
Problem is still there in 2.3.4.

[2020-04-09 10:44] #27641 closed, assigned to sudheers-kensium

[2020-04-09 10:56] lbajsarowicz opened #27673 "Admin Customer edit form fails on date validation"
## TBD

### Preconditions (*)
![image](https://user-images.githubusercontent.com/1639941/78888246-88936980-7a61-11ea-8dec-0a3958961ebe.png)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-04-09 11:08] jevgenijmokrousov commented on #13396
In case if you have Aheadworks/LayeredNavigation module in place check core_config_data for `aw_layerednav/seo/page_meta_description_template` and change it, by default value is `{{var category.metatitle}} {{for filter in urls.getAllFilters()}} {{var filter.name}} {{var filter.value}}, {{/for}}`

[2020-04-09 11:35] devchris79 commented on #27673
Sounds like #27027

[2020-04-09 11:55] alexryall commented on #27161
Took me a while to figure out but vendor/magento/module-tax/Model/Sales/Total/Quote/CommonTaxCollector.php:692

`$quoteItem->setCustomPrice($baseItemTaxDetails->getPrice());`

should be:

`$quoteItem->setCustomPrice($itemTaxDetails->getPrice());`

[2020-04-09 12:35] erfanimani commented on #27667
@sudheers-kensium ah thanks, yes that works. However, we're discouraged form using the save method directly on models and instead encouraged to use repositories (interfaces if possible).

[2020-04-09 12:42] vbyno opened #27675 "Tax is calculated incorrectly when Catalog Prices calculation setting is "including tax""
### Preconditions (*)

Magento 2.3.4

### Steps to reproduce (*)

1. Add a Tax rate (10%) (Stores->Tax zones and Rates-> Add new tax Rate
![image](https://user-images.githubusercontent.com/2923624/78894979-bafb9180-7a76-11ea-953c-93c31a68ef54.png)

and create a tax rule  (Stores -> Tax rules -> Add new Tax rule)
![image](https://user-images.githubusercontent.com/2923624/79095097-30f74580-7d62-11ea

[2020-04-09 13:08] sudheers-kensium commented on #27667
@erfanimani I am closing this issue.
Feel free to reopen if you have any issue.

[2020-04-09 13:19] magento-engcom-team commented on #26882
Hi @stradd, @BrentRobert.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [1f4166bc94bc3143e30e1f66243391ccd8434f1f](https://github.com/magento/magento2/commit/1f4166bc94bc3143e30e1f66243391ccd8434f1f)
 - [c5837830a4802b8822160ebe4fdbff0a8179090b](https://github.com/magen

[2020-04-09 13:19] #26882 closed, assigned to nobody

[2020-04-09 13:22] ihor-sviziev commented on #17195
Seems like this issue should reproduce much less as it not creating cookies for translations anymore.
Related changes:
on frontend https://github.com/magento/magento2/commit/71c781df5536a2ec79c9cf42ade0c262396767a3
on backend  https://github.com/magento/magento2/pull/27364.

[2020-04-09 13:23] Arsalanulhaq commented on #16101
What was the solution of it? Please tell me. Suddenly I am also facing the same issue, in Magento 2.3.2.  I checked in this \vendor\magento\module-quote\Model\QuoteManagement.php
customer data is appearing empty.

[2020-04-09 13:48] vbyno commented on #27675
@magento give me 2.4-develop instance

[2020-04-09 13:48] magento-engcom-team commented on #27675
Hi @vbyno. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-09 13:49] magento-engcom-team commented on #27675
Hi @vbyno, here is your [Magento instance](https://i-27675-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27675-2-4-develop.instances.magento-community.engineering/admin_14fa](https://i-27675-2-4-develop.instances.magento-community.engineering/admin_14fa)
Login: `243dae7d` Password: `6d925686cfee`
Instance will be terminated in up to 3 hours.

[2020-04-09 14:01] navarr opened #27678 "bin/magento config:set expects config path to match display path"
### Summary
We're updating our configuration to be more user friendly and this involves creating new categories to move configuration around.  While doing this, we want to maintain backwards compatibility and so have set config_paths for most of our settings.

An example would be `tax/vertex_settings/trustedId` is now in system.xml as `tax/vertex/connection/trusted_id` - but has config_path set to

[2020-04-09 14:06] ikdekker opened #27679 "Adminarea order view bug customizable product options not showing"
### Preconditions (*)

1. Magento 2.3.3
2. Have some configurable product with customizable options present.

### Steps to reproduce (*)
1. Configure the configurable product with some custom options added (I used a multiple-select config)
2. Add to cart, proceed to checkout and order.
3. Navigate to the CMS > sales > orders > click the created order
4. Check the Items Ordered list

### Expected r

[2020-04-09 14:09] krishprakash commented on #27660
@magento give me 2.4-develop instance

[2020-04-09 14:09] magento-engcom-team commented on #27660
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-09 14:10] magento-engcom-team commented on #27660
Hi @krishprakash, here is your [Magento instance](https://i-27660-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27660-2-4-develop.instances.magento-community.engineering/admin_cffa](https://i-27660-2-4-develop.instances.magento-community.engineering/admin_cffa)
Login: `d6dd2c0e` Password: `91ff428e4430`
Instance will be terminated in up to 3 hours.

[2020-04-09 14:20] krishprakash commented on #27660
Hi @Gabriel-Bruno. Thank you for your report.
Can not able to reproduce the issue on latest magento instance
Kindly provide more detailed steps about this issue

[2020-04-09 14:23] DanielRuf commented on #16101
@Arsalanulhaq check the previous comments.

Also please open a new issue and provide all details so we can reproduce it on a vanilla Magento 2 instance.

[2020-04-09 14:24] Arsalanulhaq commented on #16101
The previous comments doesn't seem to provide the solution. I'll create a new issue also.

[2020-04-09 14:34] TarasPasickyy commented on #20317
Hi
('wysiwyg' => true) is not enough,
This one work for me:
 $fieldset->addField(
            'content',
            'editor',
            [
                'name' => 'content',
                'label' => __('Content'),
                'title' => __('Content'),
                'style' => 'height:24em;',
                'wysiwyg' => true,
                'config' => $this->wysiwygConfig->getConfig(

[2020-04-09 14:54] orlangur commented on #21025
@shikhamis11 it is not "missing" in Magento 2, this field was intentionally removed. It simplifies merchant UX who does not have to keep in mind product types anymore and make it possible seamless automatic product type transition simple <-> virtual <-> configurable.

Please double check with Product Owners that we ReALLY need to revert this improvement.

@pjw345,

There must be no attribute appli

[2020-04-09 14:58] lbajsarowicz commented on #27673
You are right, @devchris79

[2020-04-09 14:58] #27673 closed, assigned to krishprakash

[2020-04-09 15:03] igrybkov commented on #27678
I could also add that there's another scenario that's not covered now.
We have a configuration value but don't want it to be changed through UI (we're fine to change it through CLI or `env.php` as we doing now). So it's defined only in `config.xml`, but not in `system.xml`. Magento is fine to read this value and it could be redefined in `env.php`, but we can't modify it through `config:set`.

[2020-04-09 15:08] sdzhepa commented on #26893
Thank you @srsathish92

Yes, I can confirm based on doc [Deprecation of Magento core payment integrations](https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-Magento-core-payment-integrations/ba-p/426445)

Authorize.net will be

We can close this issue

[2020-04-09 15:08] #26893 closed, assigned to nobody

[2020-04-09 15:18] ikdekker commented on #27679
@magento give me 2.3-develop instance

[2020-04-09 15:18] magento-engcom-team commented on #27679
Hi @ikdekker. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-09 15:26] imebrijesh commented on #26840
I know this is not a solution but this will reduce the occurrence....you can add below lines of code in your footer area of Magento.
<script type="text/javascript">
	var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
	setInterval(function() {
		if (isChrome) {
			if (window.location.href.indexOf('#payment') > -1) {
				window.location.reload(true);
			}
		}

[2020-04-09 15:33] imebrijesh commented on #26840
@lbrown-magento does this patch will also work with Magento community ver. 2.3.0 ?

[2020-04-09 15:40] hostep commented on #26840
For all the people requesting if the patch works on older versions of Magento: best way to figure that out is to actually test it 😉
And when you tested it, then give some feedback here to help the other people out 🙂

[2020-04-09 15:49] joshiprashiddha commented on #13952
Hi @sdzhepa , where is the solution ? Why you added ready of QA ?

[2020-04-09 16:15] lbajsarowicz commented on #27233
Could you record video showing the issue?
Enter Indexer settings on the video and cache settings to find out what is the context of the issue.

[2020-04-09 16:22] imebrijesh commented on #26840
Hi Hostep
Can we use this patch without using composer.. can we directly use via terminal ? like normal .patch file ?

[2020-04-09 16:39] zexperto opened #27680 "Switching between store views gives "404 Not Found" when the customer is logged in and there is a difference in the URL key between the store views"
### Preconditions (*)

1. Magento Open Source Version 2.3.3 and Magento Open Source Version 2.3.4

### Steps to reproduce (*)

1. Install Magento 2.3.4
2. Create Second Store Views (French)
3. Rename the code of English store view to 'en'
4. Rename the code of Frenchstore view to 'fr'
5. Modify the configuration to add store code to the URL
6. Create new simple product (use below data)
        - N

[2020-04-09 16:39] zexperto commented on #27680
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-04-09 16:39] magento-engcom-team commented on #27680
Hi @zexperto. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-09 16:41] magento-engcom-team commented on #27680
Hi @zexperto, here is your [Magento instance](https://i-27680-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27680-2-4-develop.instances.magento-community.engineering/admin_fe8a](https://i-27680-2-4-develop.instances.magento-community.engineering/admin_fe8a)
Login: `9ddc7e8d` Password: `24175a7430ba`
Instance will be terminated in up to 3 hours.

[2020-04-09 16:41] erfanimani commented on #27667
Thanks @sudheers-kensium , I still think this is an issue. Using save on the model directly is bad practice and should not be used. Repository should have the same behaviour as calling save directly, therefore I still think this is a bug.

[2020-04-09 16:47] zexperto commented on #27680
@magento give me 2.3-develop instance

[2020-04-09 16:47] magento-engcom-team commented on #27680
Hi @zexperto. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-09 16:48] zexperto commented on #27680
cannot re-produce it on vanilla Magento instance 2.3.4

[2020-04-09 16:49] zexperto commented on #27680
cannot re-produce it on vanilla Magento instance 2.3.4

[2020-04-09 16:50] magento-engcom-team commented on #27680
Hi @zexperto. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-09 16:51] magento-engcom-team commented on #27680
Hi @zexperto, here is your [Magento instance](https://i-27680-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27680-2-4-develop.instances.magento-community.engineering/admin_6043](https://i-27680-2-4-develop.instances.magento-community.engineering/admin_6043)
Login: `3213a375` Password: `b752860a9139`
Instance will be terminated in up to 3 hours.

[2020-04-09 16:53] zexperto commented on #27680
@magento give me 2.3-develop instance

[2020-04-09 16:53] magento-engcom-team commented on #27680
Hi @zexperto. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-09 16:59] Arsalanulhaq opened #27681 "Email address has a wrong format error, on paypal express checkout Magento 2.3.2"
### Preconditions (*)

1. Issue appears when pacing order with Paypal express checkout
2.

### Steps to reproduce (*)

1. Goto checkout and try order using Paypal express checkout
2.

### Expected result (*)

1. [Screenshots, logs or description]
2. Checkout should completed and order created in Magento

### Actual result (*)

1. [Screenshots, logs or description]
2. Checkout error `Exception mess

[2020-04-09 17:16] zexperto commented on #27680
@magento give me 2.3.4 instance

[2020-04-09 17:16] magento-engcom-team commented on #27680
Hi @zexperto. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-04-09 17:17] magento-engcom-team commented on #27680
Hi @zexperto, here is your [Magento instance](https://i-27680-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27680-2-3-4.instances.magento-community.engineering/admin_7f0d](https://i-27680-2-3-4.instances.magento-community.engineering/admin_7f0d)
Login: `996ea183` Password: `558a9f6a6e58`
Instance will be terminated in up to 3 hours.

[2020-04-09 17:18] navarr commented on #27678
@igrybkov Good call out.  Both use cases would be fixed if config.xml was more definitive than system.xml

[2020-04-09 17:22] hostep commented on #26840
@imebrijesh: possibly, you can try it, but you'll need to apply them to the different modules.

You can also try https://github.com/magento/magento2/commit/b6b38d54a58dbabc562bd66c14167d44f7778fd7.diff (but be sure to update the paths from `app/code/Magento/...` to `vendor/magento/...` if you use composer)

[2020-04-09 17:26] zexperto commented on #27680
I could re-produce the issue on Magento 2.3.4
here is the product URL
https://i-27680-2-3-4.instances.magento-community.engineering/en/simple-product-english.html

you can use this to login
email:                 myemail@test.com
password:          Q@123456

[2020-04-09 17:49] hewgim commented on #21025
@orlangur,

I'm not sure it "simplifies" product creation at all. I don't see why attributes for simple products should  always apply to configurable products. It means that you can't make certain important attributes mandatory like EANs, UPCs, size and color type attributes etc because these values would then also have to be set on the configurable parent product. You would then have to set arbit

[2020-04-09 18:53] sdzhepa commented on #13952
Hello @joshiprashiddha

Unfortunately, I do not have a solution for this issue.
The label `Progress: ready for QA` means this issue should be re-verified on the lates `2.4-develop` according to [Issues Processing Workflow](https://github.com/magento/magento2/wiki/GitHub-Issues-Processing-Workflow).
When the report will be verified and receive label `Issue: Confirmed`, label `Progress: ready for de

[2020-04-09 19:27] imebrijesh commented on #26840
Thanks for your reply.. but can you please guide me how to run this ".diff" file using terminal(putty)? I am using community version 2.3.0

[2020-04-09 19:52] kandy commented on #27661
@lbajsarowicz Maybe best solution will be written static integrity test
see `\Magento\Test\Integrity\Di\CompilerTest` as example

[2020-04-09 20:35] Finbayern commented on #26573
Oh, how I wish that will happen one day. All this crapware could be added as extensions IF needed, now they only create a load of issues in EVERY damn update. Magento is a really fragile (unstable) platform already without all the crapware and by adding all this useless junk, it creates a nightmare. Each update should be easily finished within an hour or a few, but I've gotten used to be prepared

[2020-04-09 20:45] seattletechworks commented on #23450
@TawabG - check your cron processes. Delete any old processes which may be stuck / still running.

I had similar issue in my dev site. I ran this command -

php bin/magento queue:consumers:list

product_action_attribute.update
product_action_attribute.website.update
exportProcessor
codegeneratorProcessor
async.operations.all

Cron should be kicking off jobs for these consumers. The exportProcessor

[2020-04-09 20:46] JosephMaxwell opened #27683 "Exception handling for REST API"
### Summary (*)
I am a frequent use of APIs. However, I can't always control all elements being sent to the API. If I don't have a getter/setter for a key, I get this error:
[code]

Sample dataset:
[code]

`SwiftOtter\\Sample\\Api\\Data\\QuoteInterface` has no method named `getTest` or `setTest`.

### Examples (*)
This happens anytime a value is to be set on a class that has no getter/setter. For

[2020-04-09 21:46] lewisje commented on #25738
That is quite surprising: It doesn't allow `<time>` either, even though that is a valid HTML5 element; it's not something banned in the `Escaper` class, so it must be a problem in PHP.

[2020-04-09 22:08] ikdekker commented on #27679
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2020-04-09 22:08] magento-engcom-team commented on #27679
Hi @ikdekker. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-09 22:33] jmendozac commented on #27482
Hi Everybody,

Same error here.

Magento 2.3.4 PHP Version 7.2.29. New Installation. No migration from previous versions.
Simple products loaded through System Data Transfer Import. Configurable products are being added through Admin Catalog Products panel.

At Frontend, on Product Page, right after one click on the first product attribute dropdown menu, you get the following error message in Chro

[2020-04-09 22:47] lukpheakdey opened #27684 "CSS and JavaScript break when category is configurable."
### Preconditions (*)

1. Magento version 2.3.8

### Steps to reproduce (*)

1. CSS and JavaScript break when category is configurable product
![Screen Shot 2020-04-09 at 4 53 00 PM](https://user-images.githubusercontent.com/10406702/78944281-25b2ca00-7a83-11ea-85cf-eb71f6976123.png)
2. We use this code below in this problem.
![Screen Shot 2020-04-09 at 4 54 33 PM](https://user-images.githubuserco

[2020-04-10 00:04] amarroni commented on #27667
Hi @erfanimani seen to be not a issue. Please try way. As you can see store_id is waiting for array.
$data = [
'title' => "test",
'identifier' => "zzzzzzzzzz",
'is_active' => "1",
'store_id' =>[0],
'content' => "test"];

$block = $this->blockFactory->create()->addData($data);
$this->blockRepository->save($block);

[2020-04-10 00:04] #27667 closed, assigned to amarroni

[2020-04-10 06:10] magento-engcom-team commented on #26986
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#26988 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [a6f76f346596a80243596079f90fe0b78f7dc744](https://github.com/magento/magento2/commit/a6f76f346596a80243596079f90fe0b78f7dc744)
 - [b254764a3c654b8ed48c36086864478bfb6c953e](https://github.com/magento/magento2/commit/b254764a3c654b8ed48c360868

[2020-04-10 06:10] #26986 closed, assigned to lbajsarowicz

[2020-04-10 06:12] #13851 closed, assigned to sergiy-v

[2020-04-10 06:46] shaLVerma commented on #27472
thanks.

[2020-04-10 06:46] magento-engcom-team commented on #27472
Hi @shaLVerma. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-10 06:47] magento-engcom-team commented on #27472
Hi @shaLVerma, here is your [Magento instance](https://i-27472-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27472-2-4-develop.instances.magento-community.engineering/admin_e313](https://i-27472-2-4-develop.instances.magento-community.engineering/admin_e313)
Login: `737a0cdc` Password: `fc0487721b3e`
Instance will be terminated in up to 3 hours.

[2020-04-10 07:49] hostep commented on #26573
Nobody has mentioned this in this thread yet, but if you want to get rid of all dotmailer packages in composer, they have been bundled together in a meta package called `dotmailer/dotmailer-magento2-extension-package` since Magento 2.3.4 I believe.

So it suffices to just add the following in your `composer.json` file if you want to get rid of them all (and most likely also all new dotmailer modul

[2020-04-10 08:09] ikdekker commented on #27679
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-04-10 08:09] magento-engcom-team commented on #27679
Hi @ikdekker. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-10 08:10] magento-engcom-team commented on #27679
Hi @ikdekker, here is your [Magento instance](https://i-27679-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27679-2-4-develop.instances.magento-community.engineering/admin_c6b9](https://i-27679-2-4-develop.instances.magento-community.engineering/admin_c6b9)
Login: `20c2ae91` Password: `dbafeeb556fd`
Instance will be terminated in up to 3 hours.

[2020-04-10 08:12] ajijshekh123 commented on #27568
@magento give me 2.4-develop instance

[2020-04-10 08:12] magento-engcom-team commented on #27568
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-10 08:13] magento-engcom-team commented on #27568
Hi @ajijshekh123, here is your [Magento instance](https://i-27568-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27568-2-4-develop.instances.magento-community.engineering/admin_cfb7](https://i-27568-2-4-develop.instances.magento-community.engineering/admin_cfb7)
Login: `0729e43d` Password: `fd6540a1728b`
Instance will be terminated in up to 3 hours.

[2020-04-10 08:25] ajijshekh123 commented on #27568
Hi, @TadeuRodrigues,
I have Place order throw the admin as per your steps. This step is not enough to reproduce the issue.
So can you please provide me the steps of reproducing in detail or send me the video?

Thanks.

[2020-04-10 08:27] ajijshekh123 commented on #27508
@jerome-zhang - Let me close this issue because this issue is not reproduced in the Latest Magento 2.4 instance.
If you have any issue you can reopen feel free.

Thanks.

[2020-04-10 08:27] #27508 closed, assigned to ajijshekh123

[2020-04-10 08:29] clion007 opened #27687 "Method getGalleryOptions() missing in block class gallery.php"
### Preconditions (*)

1. Magento version: 2.* latest;
2. PHP 7.1.29;
3. MySQL 5.7.26.

### Steps to reproduce (*)

1. I found in the module of catalog, the template of <block class="Magento\Catalog\Block\Product\View\Gallery" name="product.info.media.image" template="product/view/gallery.phtml"/> has an error, because a method missing in  Magento\Catalog\Block\Product\View\Gallery.php. this will

[2020-04-10 08:46] Gabriel-Bruno commented on #27660
Hi @krishprakash
the process as normal add to cart item then click on checkout bottom.
https://www.loom.com/share/6ef930acf96a463a8faab0cff321f353

Regards,
Gabriel

[2020-04-10 08:59] ikdekker commented on #27679
@magento give me 2.3-develop instance

[2020-04-10 08:59] magento-engcom-team commented on #27679
Hi @ikdekker. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-10 08:59] ikdekker commented on #27679
@magento give me 2.3instance

[2020-04-10 08:59] ikdekker commented on #27679
@magento give me 2.3 instance

[2020-04-10 09:00] ikdekker commented on #27679
@magento give me 2.3.3 instance

[2020-04-10 09:00] magento-engcom-team commented on #27679
Hi @ikdekker. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-04-10 09:02] magento-engcom-team commented on #27679
Hi @ikdekker, here is your [Magento instance](https://i-27679-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-27679-2-3-3.instances.magento-community.engineering/admin_94d1](https://i-27679-2-3-3.instances.magento-community.engineering/admin_94d1)
Login: `e5f7043f` Password: `1a819a6ca3bf`
Instance will be terminated in up to 3 hours.

[2020-04-10 09:09] krishprakash commented on #27660
Hi @Gabriel-Bruno.
Can not to reproduce the issue as you see in video and described here.
It may be any of your custom module issue
Kindly refer community forum or magento stack exchange to discuss about your concern as github issue tracker is intended for magento core technical issue only.
Thank you !!

[2020-04-10 09:09] #27660 closed, assigned to krishprakash

[2020-04-10 10:33] sudheers-kensium commented on #27675
@magento give me 2.4-develop instance

[2020-04-10 10:33] magento-engcom-team commented on #27675
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-10 10:34] ProkopovVitaliy commented on #26903
i'm working on this issue.

[2020-04-10 10:34] magento-engcom-team commented on #27675
Hi @sudheers-kensium, here is your [Magento instance](https://i-27675-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27675-2-4-develop.instances.magento-community.engineering/admin_d341](https://i-27675-2-4-develop.instances.magento-community.engineering/admin_d341)
Login: `2022aabd` Password: `098fafc86cf6`
Instance will be terminated in up to 3 hours.

[2020-04-10 10:58] sudheers-kensium commented on #27675
@vbyno Are you able to reproduced in Magento 2.4-develop instance?

[2020-04-10 11:07] ikdekker commented on #27679
Could not reproduce. I'll test some more and see where the problem comes from. Will close this within 1 day if no reproducable steps are found.

[2020-04-10 11:11] textarea commented on #26582
@magento give me 2.4-develop instance

[2020-04-10 11:11] magento-engcom-team commented on #26582
Hi @textarea. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-10 11:13] magento-engcom-team commented on #26582
Hi @textarea, here is your [Magento instance](https://i-26582-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26582-2-4-develop.instances.magento-community.engineering/admin_a2e3](https://i-26582-2-4-develop.instances.magento-community.engineering/admin_a2e3)
Login: `527ca76b` Password: `813708a3759c`
Instance will be terminated in up to 3 hours.

[2020-04-10 12:52] #27679 closed, assigned to nobody

[2020-04-10 13:50] hostep commented on #5477
Re-opening because the FPT label is not translatable yet on the checkout page (second step).

The fix was only done to [the `checkout_cart_index.xml` file](https://github.com/magento/magento2/blob/a73532a0a7bf5cdcfe298f5cfb6f7ce8405b977c/app/code/Magento/Weee/view/frontend/layout/checkout_cart_index.xml#L20) in https://github.com/magento/magento2/pull/9204, but was forgotten to be done to [the `ch

[2020-04-10 13:58] szreka commented on #17621
@magento give me 2.3.3 instance

[2020-04-10 13:58] magento-engcom-team commented on #17621
Hi @szreka. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-04-10 14:00] #27666 closed, assigned to nrkapoor

[2020-04-10 14:00] nrkapoor commented on #27666
Duplicate

[2020-04-10 14:00] magento-engcom-team commented on #17621
Hi @szreka, here is your [Magento instance](https://i-17621-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-17621-2-3-3.instances.magento-community.engineering/admin_2b05](https://i-17621-2-3-3.instances.magento-community.engineering/admin_2b05)
Login: `90b8b88d` Password: `e0bec981be9d`
Instance will be terminated in up to 3 hours.

[2020-04-10 14:55] erfanimani commented on #27667
Thanks @amarroni, that works — I must have listened too well to the method signature ;)

    /**
     * CMS block model
     *
     * @method Block setStoreId(int $storeId)
     * @method int getStoreId()
     */
    class Block extends AbstractModel implements BlockInterface, IdentityInterface

[2020-04-10 15:00] TadeuRodrigues commented on #27568
@magento give me 2.4-develop instance

[2020-04-10 15:00] magento-engcom-team commented on #27568
Hi @TadeuRodrigues. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-10 15:02] magento-engcom-team commented on #27568
Hi @TadeuRodrigues, here is your [Magento instance](https://i-27568-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27568-2-4-develop.instances.magento-community.engineering/admin_01ca](https://i-27568-2-4-develop.instances.magento-community.engineering/admin_01ca)
Login: `0a32c290` Password: `83e300b9804a`
Instance will be terminated in up to 3 hours.

[2020-04-10 15:19] Kleibert opened #27694 "Magento render part of img"
### Preconditions (*)

1. Magento ver. 2.3.4
2.

### Steps to reproduce (*)

1.  I upload the product image![4](https://user-images.githubusercontent.com/42814600/79001624-c903ed80-7b1c-11ea-836f-9f716303040a.png)

### Expected result (*)

1. Render a perfect img on frontStore.

### Actual result (*)

1. Render part of the img;
2.
![3](https://user-images.githubusercontent.com/42814600/79001769-18

[2020-04-10 15:49] gwharton commented on #27687
The galleryoptions class is injected to gallery.php using di in etc/di.xml

[2020-04-10 15:51] gwharton commented on #27687
Closing as non issue. Third party themes must ensure they inject the relevant class in di.

[2020-04-10 15:51] #27687 closed, assigned to nobody

[2020-04-10 15:54] TadeuRodrigues commented on #27568
@ajijshekh123
![Captura de tela de 2020-04-10 12-48-16](https://user-images.githubusercontent.com/1669081/79003871-e7bcb100-7b29-11ea-8d07-a28093d53b64.png)

After made a order by admin area
![Captura de tela de 2020-04-10 12-49-49](https://user-images.githubusercontent.com/1669081/79003916-0622ac80-7b2a-11ea-9d17-6ac7731a7a2d.png)

I just made a order by admin, let's try talk on slack.

[2020-04-10 16:03] shikhamis11 commented on #27533
@karthickms I am closing this issue due to in activity . Please open your issue once you wish to update description and check details as per my previous comment

[2020-04-10 16:03] #27533 closed, assigned to shikhamis11

[2020-04-10 16:05] shikhamis11 commented on #27272
@magento give me 2.4-develop instance

[2020-04-10 16:05] magento-engcom-team commented on #27272
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-10 16:06] magento-engcom-team commented on #27272
Hi @shikhamis11, here is your [Magento instance](https://i-27272-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27272-2-4-develop.instances.magento-community.engineering/admin_2f60](https://i-27272-2-4-develop.instances.magento-community.engineering/admin_2f60)
Login: `84b76d0e` Password: `d10f973fe13c`
Instance will be terminated in up to 3 hours.

[2020-04-10 16:15] andresams commented on #7497
I was able to successfully reproduce the issue and create a real fix for it.

### How to reproduce the error

1. Create a new account without an address
2. Add a product to the cart
3. Go to the shopping cart page and make sure the "State" field is NOT selected
4. Enter a postcode and wait until the shipping rates are loaded
5. Change the last digit of the postcode to another number and repeat thi

[2020-04-10 16:20] andresams commented on #25737
I was able to reproduce it and found a solution. Please, see my comment on this topic — https://github.com/magento/magento2/issues/7497#issuecomment-612102395

[2020-04-10 16:26] tdgroot commented on #26119
I have been trying to find a solution for this problem, and came up with a mediation fix: https://gist.github.com/tdgroot/7b98c44ce2585fa12496b16085d754ce

It makes it possible to do a request like so:
[code]

Please note that you can only use dimensions defined in `view.xml` files, because GraphQl will not resize new/custom dimensions on the fly.

Other than that, it works great! :+1:

[2020-04-10 16:47] shikhamis11 commented on #27272
hi @gabrielxavila
I checked the issue on sample data magento installation the attributes are not displaying at product form as these attributes visibility are set to no

[2020-04-10 16:47] #27272 closed, assigned to shikhamis11

[2020-04-10 17:01] iproger commented on #26155
Full error text (for searchers like me...):

	The XML in file "...etc/db_schema.xml" is invalid:
	Element 'column', attribute 'length': The attribute 'length' is not allowed.
	Line: 4

	Verify the XML and try again.

So, this is my fix:
[code]

[2020-04-10 17:07] ivankristic commented on #21656
This whole thing is _desperate_ unfortunately

[2020-04-10 17:19] lbajsarowicz opened #27699 "`theme_theme_id` missing in `design_config_grid_flat`"
### Preconditions (*)
1. Magento 2.3.4
2. Theme changed using Data Patch:
[code]

### Steps to reproduce (*)
1. Execute patch

### Expected result (*)
1. :heavy_check_mark: Value of `design/theme/theme_id` for specified `websites` scope should reflect the `theme_id` from `theme` table
2. :x: Value of `theme_theme_id` in `design_config_grid_flat` should reflect `theme_id` in `theme` table
3. Websit

[2020-04-10 19:30] navarr opened #27700 "Fixed price bundle products with priced options do not include option prices in tax calculation"
### Preconditions (*)
1. Magento 2.3.4
2. Vertex not installed
3. entire state of PA configured to be 6% taxable
4. Customer "Bob Saget" with address:
    525 N Allen St
    State College, PA 16803-3503
    USA
    (any phone number)
5. Incl/Excl tax display enabled for all fields
6. "Apply Tax On" configured to "Original price only"

### Steps to reproduce (*)
1. Create a bundle product
2. Set dy

[2020-04-10 19:31] navarr commented on #27700
@magento give me 2.4-develop instance

[2020-04-10 19:32] magento-engcom-team commented on #27700
Hi @navarr. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-10 19:33] magento-engcom-team commented on #27700
Hi @navarr, here is your [Magento instance](https://i-27700-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27700-2-4-develop.instances.magento-community.engineering/admin_ff19](https://i-27700-2-4-develop.instances.magento-community.engineering/admin_ff19)
Login: `182d873e` Password: `bba7b39640ae`
Instance will be terminated in up to 3 hours.

[2020-04-10 19:41] navarr commented on #27700
@magento give me 2.3-develop instance

[2020-04-10 19:41] magento-engcom-team commented on #27700
Hi @navarr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-10 19:57] navarr commented on #27700
@magento give me 2.3 instance

[2020-04-10 20:27] seattletechworks commented on #25430
Experience same issue in 2.3.4 after disabling Temando_Shipping.

Ran the query on my magento database:  SELECT * FROM eav_attribute WHERE source_model LIKE "%Temando%"

Set the 3 values to "NULL". Now I can edit products again.

[2020-04-10 20:29] lbajsarowicz commented on #27638
As I was asked to update the issue:
![image](https://user-images.githubusercontent.com/1639941/79020988-ac969e00-7b7a-11ea-8f39-698ca897c46c.png)

[code]

PHP:
[code]

[2020-04-10 20:32] vzabaznov commented on #22824
Hi @astorm and community, thank you for reporting this.

In the process of testing our locking mechanism we found couple areas to improve. We believe this will resolve current performance issues of locking functionality. Internal tickets MC-32426 & MC-32427 were created. Community can expect to have it in the nearest 2.4 release. Also, some fixes to resolve race conditions and lock related fixes w

[2020-04-10 20:32] #22824 closed, assigned to IvanChepurnyi

[2020-04-10 20:48] lbajsarowicz commented on #27638
Another one <3
[code]

[2020-04-10 20:58] lbajsarowicz commented on #27638
Ooo! Who could expect.
Another one!
[code]

[2020-04-10 21:27] usman786cs commented on #2666
In Magento2.3.3 CE there is no need to specify the path. Just paste product images at <Project Directory>/var/import/images/ directory and Images will be uploaded successfully

[2020-04-11 01:52] clion007 commented on #27687
Ok! I will check it again. Thanks!

[2020-04-11 02:12] clion007 commented on #27687
I found in magento 2.4, it not injected using di in etc/di.xml, but use layout xml in catalog_product_view.xml. Thanks again anyway!

[2020-04-11 02:22] clion007 commented on #27687
In magento 2.4, it not injected using di, but using catalog_product_view.xml layout.

[2020-04-11 04:00] mrtuvn commented on #27684
Thanks for your report but i found couple thing i should note here
#1 Seem this problem related with customises and not relate with magento thing
#2 You should avoid use resultPage in controller like demo
Instead use resultPage->create please use view->getLayout

[2020-04-11 04:41] manobi commented on #24442
Hi @lpouwelse, did you mention a patch?
Any tip on how fix this in a 2.3.4 in production?

[2020-04-11 05:15] Vishrootways commented on #8017
I got the same issue on Magento 2.3.3, I never faced this before.

The issue is all the files and folders will be from "/app/design/frontend/Compnay_Name/Theme_Name/web" folder after I run below commands.

1) I first run below commands remove one directory from \app\code\Rootways for that I first go to this location in SSH then run below commands
rm -r payment/
2) then run below commands from webs

[2020-04-11 08:27] ericmorand opened #27738 "Magento 2 propose Page layouts to the webmaster that are not declared by my custom theme"
### Preconditions (*)
1. 2.3.4
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Install Magento 2
2. Create a theme with no parent
3. Use the theme for the main website
4. Go to a category detail page from the admin area
5. Click on the Layout dropdown of the Design section

### Expected result (*)
1. The Layout dropdown should be empty since I did not declare any page layout on my theme.

#

[2020-04-11 08:48] ericmorand commented on #3650
3 years later and this bug has still not bee fixed. Isn't it just a matter of removing the dependency and add the theme as a suggestion in composer.json?

[2020-04-11 10:23] mihaikalif commented on #11691
Was this fixed? I have magento 2.3.3 and I still replicate this when printing an attribute multiselect:
My code below
<<<<<
$att_network_technology = $_product->getAttributeText('mobile_network_technology');
<td class="col data"><?php if( $att_network_technology != '' ) { print_r ($att_network_technology); } else { echo '<span class="no-attribute-value">N/A</span>'; } ?></td>

[2020-04-11 10:23] mihaikalif commented on #11691
<td class="col data"><?php if( $att_network_technology != '' ) { print_r ($att_network_technology); } else { echo '<span class="no-attribute-value">N/A</span>'; } ?></td>

[2020-04-11 10:26] mihaikalif commented on #11691
![1](https://user-images.githubusercontent.com/61434922/79041379-11dca480-7bf8-11ea-987f-8e81d7059ae0.PNG)

[2020-04-11 11:02] luanalves commented on #27474
@shikhamis11 why do you remove the assignment ? I'm response your question

[2020-04-11 11:41] webshotNL commented on #25610
I have the same problem on each Magento 2.3.3. install if I use other language than english on the backend user account. If you set the language back to english the role resources ree is displayed.

[2020-04-11 12:31] seffparker commented on #15545
We noticed this error after upgrading MySQL to 5.7. Simply disabling the SQL mode `ONLY_FULL_GROUP_BY` via my.cnf permanently fixed the issue. I know it's a work-around. This is a bug with Magento2 and should be fixed by the devs.

[2020-04-11 12:36] mcspronko commented on #26153
Who works on this issue?

Please clarify @shikhamis11 @GovindaSharma

[2020-04-11 13:32] dudzio12 commented on #25038
Issue occurs on 2.3.4 too, so mark this patch as 2.3.4 related:
https://magento.com/tech-resources/download#download2331

It works on 2.3.4.

[2020-04-11 18:09] nidheesh-eglobeits commented on #27202
@magento give me 2.4-develop instance

[2020-04-11 18:09] magento-engcom-team commented on #27202
Hi @nidheesh-eglobeits. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-11 18:10] magento-engcom-team commented on #27202
Hi @nidheesh-eglobeits, here is your [Magento instance](https://i-27202-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27202-2-4-develop.instances.magento-community.engineering/admin_979e](https://i-27202-2-4-develop.instances.magento-community.engineering/admin_979e)
Login: `3b98051c` Password: `461712ba89ba`
Instance will be terminated in up to 3 hours.

[2020-04-11 22:20] ericmorand opened #27794 "Some widgets can't be injected into existing theme containers"
### Preconditions (*)
Magento 2.3.4

### Steps to reproduce (*)
Add a "Wishlist search" widget. Try to set its container to an existing container of the current theme.

### Expected result (*)
We can set its container to any container available in the current theme.

### Actual result (*)
We can set its container to "Sidebar additional" or "Sidebar main" only.

The most amazing thing with this bug

[2020-04-12 09:02] simonworkhouse commented on #18812
This is still an issue in 2.3.4

[2020-04-12 11:19] mrtuvn commented on #27694
This is seem related with image
Can you check it ? @Kleibert
https://www.colowsomarketplace.com/auto/pub/media/catalog/product/cache/09630293f6f89cf82c9e2aac50e3781a/1/5/15_3_9.png

https://www.colowsomarketplace.com/auto/pub/media/catalog/product/cache/96130ded19617189a2002e962fe79e7c/2/_/2_4_16.png

[2020-04-12 12:32] ioweb-gr opened #27829 "db_schema_whitelist.json and referenceId really unintuitive"
### Summary (*)
I would like to describe to you my experience with the db_schema.xml as I'm trying to make a new module using this technique. In my opinion declarative schema is not intuitive at all and it's overly complicated to setup for people trying it for the first time because of how constraints and indexes are declared. I'll show what steps I have taken so far so maybe you can understand wh

[2020-04-12 15:09] smamonto opened #27831 "Lorem ipsum articles can't be deleted"
### Preconditions (*)

1. I've already deleted the lorem ipsum articles, but they still show up on the website.
2. ![Screen Shot 2020-04-12 at 10 08 09 PM](https://user-images.githubusercontent.com/63550680/79072245-2dd06b00-7d0a-11ea-8ca8-e04516b2414e.png)

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. All lorem ipsum articles are deleted
2.

### Actual result (*)

1. [Screenshot

[2020-04-12 15:40] kamzata commented on #27540
I'm trying to do some debugging comparing 2.2.11 and 2.3.4 versions... I noticed this:

 - Cookies `store` and `___from_store` in 2.2.11. are set while in 2.3.4 are not.

[2020-04-12 17:10] lbajsarowicz commented on #27500
Thanks to everyone who decided to help with this. I finally finished this for Magento Community on my own.

[2020-04-12 17:59] ajithkumar-maragathavel opened #27833 "Rendering Placement Issue -Shopping Cart Items After Container in Widget"
### Preconditions (*)

1. Goto _Content -> Elements -> Blocks -> Click Add New Block_ , Create and save a new cms block with any content.
2. Goto _Content -> Elements -> Widgets -> Click Add Widget_, Create a widget with the following options and layout updates.

**Type** -> _CMS Static Block_
**Display on** -> _Specified Page_
**Page** -> _Shopping Cart_
**Container** -> _Shopping Cart Items Afte

[2020-04-12 18:00] ajithkumar-maragathavel commented on #27833
@magento give me 2.4-develop instance

[2020-04-12 18:00] magento-engcom-team commented on #27833
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-12 18:02] magento-engcom-team commented on #27833
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-27833-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27833-2-4-develop.instances.magento-community.engineering/admin_77eb](https://i-27833-2-4-develop.instances.magento-community.engineering/admin_77eb)
Login: `7f504185` Password: `8209a4625495`
Instance will be terminated in up to 3 hours.

[2020-04-12 23:40] kamzata commented on #27540
I also noticed that in the 2.3.4 version while switching is just added to the url `/stores/store/switch/` whereas in 2.2.11 is added `/stores/store/switch/?___from_store=it&___store=en&uenc=aHR0cDovL2RldmxvYy50ZWNuaWNtYW4uY29tLz9fX19zdG9yZT1lbg%2C%2C`

[2020-04-13 01:45] syedsaleem086 opened #27835 "Never utilised this part of code"
https://github.com/magento/magento2/blob/86515dd16f7039d67a6e5bb3155b403cb86f5de0/app/code/Magento/CatalogInventory/Model/ResourceModel/Stock.php#L347

[2020-04-13 03:38] jhakamlesh commented on #25294
I am still experiencing the same,

Module 'Magento_Catalog':
[ERROR] Magento\Framework\Setup\Exception: Unable to apply patch Magento\Catalog\Setup\Patch\Schema\EnableSegmentation for module Magento_Catalog. Original exception message: Invalid column data type "" in /var/www/html/magento2/lib/internal/Magento/Framework/Setup/Patch/PatchApplier.php:247
Stack trace:
#0 /var/www/html/magento2/setup/s

[2020-04-13 03:48] jhakamlesh opened #27836 "Unable to apply patch Magento\Catalog\Setup\Patch\Schema\EnableSegmentation for module Magento_Catalog."
### Preconditions (*)

1. **Magento 2.4-develop**

### Steps to reproduce (*)

1. Just Initated the installation and proceed after providing database credentials.

### Expected result (*)

1. It should be showing a success message that i have done with my magento setup.

### Actual result (*)

Module 'Magento_Catalog':
[ERROR] Magento\Framework\Setup\Exception: Unable to apply patch Magento\Catalo

[2020-04-13 05:11] vbyno commented on #27675
@magento give me 2.4-develop instance

[2020-04-13 05:11] magento-engcom-team commented on #27675
Hi @vbyno. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-13 05:12] magento-engcom-team commented on #27675
Hi @vbyno, here is your [Magento instance](https://i-27675-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27675-2-4-develop.instances.magento-community.engineering/admin_1ded](https://i-27675-2-4-develop.instances.magento-community.engineering/admin_1ded)
Login: `4b24b9c2` Password: `1423bae55181`
Instance will be terminated in up to 3 hours.

[2020-04-13 05:31] Arsalanulhaq commented on #27681
Issue resolved with this patch https://nimb.ws/gFA06i
![screenshot-github com-2020 04 13-10_30_27](https://user-images.githubusercontent.com/26971013/79094763-f72e3b00-7d71-11ea-9cce-79c64a294a56.png)

[2020-04-13 05:42] vbyno commented on #27675
@sudheers-kensium , I can not reproduce it on Magento 2.4-develop instance. Seems like the bug is fixed now. Thank you!
![image](https://user-images.githubusercontent.com/2923624/79095309-bed33080-7d62-11ea-9f85-74fd684459f8.png)

[2020-04-13 05:42] #27675 closed, assigned to sudheers-kensium

[2020-04-13 06:21] mrtuvn commented on #27831
Do you try to clear caches ?
seem problem not related with magento

[2020-04-13 06:37] ProkopovVitaliy commented on #27489
@neerajchand Do you still work on it ?

[2020-04-13 06:51] ProkopovVitaliy commented on #27489
As there are no activity about 2 weeks i want to continue fix this issue.

[2020-04-13 07:08] AnshuMishra17 commented on #13952
I am facing the same issue in 2.3.4. I can see duplicate orders from the same quote id but I am not able to reproduce it myself.

[2020-04-13 07:10] shikhamis11 commented on #26153
@mcspronko I am working on this issue .. but I won't mind if you will provide solution or make PR for this

[2020-04-13 07:14] joshiprashiddha commented on #13952
This happens once in a while. What I can guess from accumulated data upto now is, its very very hard to reproduce. And its happening due to reserve order id.

[2020-04-13 09:07] gwharton commented on #27835
$where is used at line 355???

[2020-04-13 09:19] vbyno commented on #27675
@magento give me 2.4-develop instance

[2020-04-13 09:19] magento-engcom-team commented on #27675
Hi @vbyno. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-13 09:21] magento-engcom-team commented on #27675
Hi @vbyno, here is your [Magento instance](https://i-27675-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27675-2-4-develop.instances.magento-community.engineering/admin_8174](https://i-27675-2-4-develop.instances.magento-community.engineering/admin_8174)
Login: `6dbd2d32` Password: `2107796b05d6`
Instance will be terminated in up to 3 hours.

[2020-04-13 09:21] Genaker commented on #23133
This issue also affected by permissions If app/etc is read only and you cache config_compiled manually. It will not switch back to 1; Basically disable feature works however after any Magento command or page execution it switches back to 1. It reproduces on 2.3.4 version.

[2020-04-13 09:30] Genaker commented on #23133
Seams it is related to what object manager APP uses. If Config/Compiled config_compiled is always enabled and generates generated metadata folder.

Depending on whether or not one of the compilers has been run before, the Magento application consumes the compilation using one of the following classes:

Magento\Framework\Interception\ObjectManager\Config\Compiled, which is used if global.ser exists

[2020-04-13 10:02] themystery404 opened #27837 "Data in Order information page is not trimming before comparring"
### Preconditions (*)

1. Magento CE 2.3.4

### Steps to reproduce (*)

1. Place order
2. Go to http://example.com/sales/guest/form/
3. Try to find order with additional space in the end of "Billing Last Name" or "Billing ZIP Code"

Another case:
1. Place order with additional space in Billing Last Name
2. Go to http://example.com/sales/guest/form/
3. Try to find order without space in the end of

[2020-04-13 10:18] sudheers-kensium commented on #27650
@aelmizeb I am not able to reproduced the issue with the above details.
Kindly update all the details for reproduce the issue.
Feel free to reopen once you update details.
Thanks

[2020-04-13 10:18] #27650 closed, assigned to nobody

[2020-04-13 10:48] sudheers-kensium commented on #27680
@magento give me 2.4-develop instance

[2020-04-13 10:48] magento-engcom-team commented on #27680
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-13 10:50] magento-engcom-team commented on #27680
Hi @sudheers-kensium, here is your [Magento instance](https://i-27680-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27680-2-4-develop.instances.magento-community.engineering/admin_82c2](https://i-27680-2-4-develop.instances.magento-community.engineering/admin_82c2)
Login: `0718d52c` Password: `77775ad1ad74`
Instance will be terminated in up to 3 hours.

[2020-04-13 11:04] diazwatson commented on #22272
@bubasuma @krzksz Guys one question:

I can see
[code]
in
https://github.com/magento/magento2/commit/2d1f8ca5d13c626000b34002704de9e0a99d3d99#diff-d04b5bf70889e73e0e8dca947c6a5521R98
is used to set `secure` for the cookie but,  how you enable this in the frontend to prevent errors with Google recaptcha?
![528856980-image](https://user-images.githubusercontent.com/1080386/79115735-8c373100-7d7e-11e

[2020-04-13 11:05] sudheers-kensium commented on #27680
@zexperto I am not able to reproduced the issue on Magento 2.4-develop instance.

I am closing this issue, maybe  this issue is resolved on latest version.

[2020-04-13 11:05] #27680 closed, assigned to sudheers-kensium

[2020-04-13 12:30] navarr commented on #27700
@magento give me 2.3 instance

[2020-04-13 13:04] djbolya commented on #26465
Thanks a lot!

[2020-04-13 13:04] meghasethi7861 commented on #11116
It's helpful but do changes in the vendor files is not a good practice. We should look for another option.

[2020-04-13 13:07] devendra-rajput commented on #11116
The issue fixed using this solution, but do changes in vendors file is not a good practice. So we should look for another solution.

[2020-04-13 13:08] mmihalev commented on #21237
I have exactly the same issue. Please fix.

[2020-04-13 13:15] judaschwartz commented on #21237
I made a PR to fix this over a year ago, someone put the PR on hold maybe if you comment on that PR #21236 maybe that will get it unstuck and merged

[2020-04-13 13:19] mmihalev commented on #21237
... unbelievable ...

[2020-04-13 13:35] navarr commented on #27700
Issue is not reproducible on 2.4 but I have been unable to check 2.3.5

[2020-04-13 15:13] extroniks opened #27844 "Refactor ReCaptcha to improve Google Page Speed score"
### Preconditions (*)

1. Magento 2.3.X
2. ReCaptcha enabled and configured

### Steps to reproduce (*)

1. Enable google recaptcha
2. Run google lighthouse audit

### Expected result (*)

1. Minimal impact on page speed score
2. Load / preload the required assets without blocking main thread

### Actual result (*)

1. Assets are loaded within components with mage init, delaying execution
2. Cause

[2020-04-13 15:23] lukpheakdey commented on #27684
@magento give me 2.4-develop instance

[2020-04-13 15:23] magento-engcom-team commented on #27684
Hi @lukpheakdey. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-13 15:25] magento-engcom-team commented on #27684
Hi @lukpheakdey, here is your [Magento instance](https://i-27684-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27684-2-4-develop.instances.magento-community.engineering/admin_ea85](https://i-27684-2-4-develop.instances.magento-community.engineering/admin_ea85)
Login: `074207d5` Password: `7d0139268b96`
Instance will be terminated in up to 3 hours.

[2020-04-13 15:58] lukpheakdey commented on #27684
@magento give me test instance

[2020-04-13 18:57] lukpheakdey commented on #27684
@mrtuvn I try to avoid using resultPage and did not use Controller, but I still have problem.
Do you have how to deploy my code to vanilla Magento instance?

[2020-04-13 19:43] lpouwelse commented on #24442
@manobi my advice; don't use it. It's poorly implemented. Maybey take a look at glusterfs ore something like that.

[2020-04-13 19:46] okorshenko commented on #27500
Hello Everyone!
📢 Thank you ALL for forcing this track. I would like to let you know that Magento Team is working on a platform upgrade. IN 2.4.0 we will support PHP 7.4 and **PHPUnit 9.** In order to make sure that we are aligned on our joint effort, we are asking to postpone on this ticket for **1-2 days**. We are working right now on preparing infrastructure and opening new branch to share our

[2020-04-13 20:20] zexperto commented on #27680
the problem in Magento 2.3.x version not in Magento 2.4, I supposed that this version is still in the live cycle , did you try to re-produce it in that version ?

[2020-04-13 23:35] r-martins opened #27847 "Street lines ignoring blank lines"
### Preconditions (*)

1. Magento Open Source 2.3.4 to 2.4.1
2. Configure Customer street lines to 3 or more lines
3. No additional module or configuration is required

### Steps to reproduce (*)

1. Go to Customer configuration in admin, and set the number of street lines to 3 or more (`customer/address/street_lines`)
2. In the frontend, proceed to checkout and add a new address. When adding a ne

[2020-04-13 23:40] r-martins commented on #27847
@magento give me 2.4-develop instance

[2020-04-13 23:41] magento-engcom-team commented on #27847
Hi @r-martins. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-13 23:42] magento-engcom-team commented on #27847
Hi @r-martins, here is your [Magento instance](https://i-27847-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27847-2-4-develop.instances.magento-community.engineering/admin_cf28](https://i-27847-2-4-develop.instances.magento-community.engineering/admin_cf28)
Login: `215c7447` Password: `b4652bc4c4cc`
Instance will be terminated in up to 3 hours.

[2020-04-13 23:52] r-martins commented on #27847
@magento give me 2.3.4 instance

[2020-04-13 23:52] magento-engcom-team commented on #27847
Hi @r-martins. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-04-13 23:53] magento-engcom-team commented on #27847
Hi @r-martins, here is your [Magento instance](https://i-27847-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27847-2-3-4.instances.magento-community.engineering/admin_e1fa](https://i-27847-2-3-4.instances.magento-community.engineering/admin_e1fa)
Login: `f8da86f9` Password: `8287f1b7f570`
Instance will be terminated in up to 3 hours.

[2020-04-14 00:07] r-martins commented on #27847
I could reproduce the error both in 2.3.4 and 2.4-develop instances.

[2020-04-14 01:24] LiamKarlMitchell commented on #9850
Please reopen, this is a needed feature.

[2020-04-14 03:43] mrtuvn commented on #27684
@engcom-Alfa can you deploy sample code zip to instance for test purpose ?

[2020-04-14 03:51] mrtuvn commented on #27649
@lbajsarowicz maybe this problem related with this PR https://github.com/magento/magento2/pull/27270/

[2020-04-14 03:51] petehouston opened #27848 "Buy X get Y free cart price rule does not show up on Coupons Report"
### Preconditions (*)

1. A fresh installation of Magento version 2.3.4

### Steps to reproduce (*)

1. Access the admin backend.
2. On admin left sidebar, access **Marketing > Cart Price Rules**
3. Add any rule with "**Buy X Get Y Free**", let say a **BOGO**.
4. Create any order with **BOGO** applied.
5. Visit admin backend, select **Reports > Sales: Coupons**
6. On filter options, select "**Cart

[2020-04-14 03:52] petehouston commented on #27848
@magento give me 2.4-develop instance

[2020-04-14 03:52] magento-engcom-team commented on #27848
Hi @petehouston. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-14 03:53] magento-engcom-team commented on #27848
Hi @petehouston, here is your [Magento instance](https://i-27848-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27848-2-4-develop.instances.magento-community.engineering/admin_f5ec](https://i-27848-2-4-develop.instances.magento-community.engineering/admin_f5ec)
Login: `c1c9290c` Password: `9f0933cd1848`
Instance will be terminated in up to 3 hours.

[2020-04-14 04:05] petehouston commented on #27848
yes

[2020-04-14 04:06] santerref commented on #6144
Here is what I have found :

In `vendor/magento/module-quote/Model/Quote.php`, the method _afterLoad():

[code]

If trigger_recollect is 1 (true) and an extension calls getQuote() inside the collectTotals() process, the loop starts because it will never be 0 (since the quote is not saved yet).

This is also true for the `getTotalsCollectedFlag()` in `vendor/magento/module-quote/Model/Quote.php` in

[2020-04-14 04:08] petehouston commented on #27848
@magento yes I can reproduce the issue on this vanilla Magento instance

[2020-04-14 04:28] adarshkhatri commented on #5696
Also, in my 2.3.3 I have to run indexer for it to update instantly. Any idea how do I make it work without indexing?

[2020-04-14 05:13] ajijshekh123 commented on #27837
@magento give me 2.4-develop instance

[2020-04-14 05:13] magento-engcom-team commented on #27837
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-14 05:14] mrtuvn commented on #27738
this is default behavior from module Magento_Theme. Every theme in storefront will have inheritance layout page even your theme have no parent
Nothing wrong with dropdown in categories design section show layout like that. That is option allow your owner site can custom your category page layout from backend

[2020-04-14 05:14] magento-engcom-team commented on #27837
Hi @ajijshekh123, here is your [Magento instance](https://i-27837-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27837-2-4-develop.instances.magento-community.engineering/admin_5efd](https://i-27837-2-4-develop.instances.magento-community.engineering/admin_5efd)
Login: `5ca49599` Password: `7ac658b208e0`
Instance will be terminated in up to 3 hours.

[2020-04-14 05:31] ajijshekh123 commented on #27837
Hello @themystery404,
In Billing Last name and Zip code field, Trimming functionality is not applied.

**See attached the screenshot:**
![Orders and Returns](https://user-images.githubusercontent.com/24711761/79189348-22cb2700-7e3f-11ea-8750-74d278addd1e.png)

Thanks.

[2020-04-14 05:32] magento-engcom-team commented on #27837
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33340` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-14 05:53] ajijshekh123 commented on #27848
Hello @petehouston,
I have verified this issue as per the steps, actual result and expected result.
See attached the screenshot:

![1](https://user-images.githubusercontent.com/24711761/79190551-39bf4880-7e42-11ea-8da3-5c820eb4bbaf.png)

![2](https://user-images.githubusercontent.com/24711761/79190557-3b890c00-7e42-11ea-8443-63c6dbc5b3bd.png)

Thanks.

[2020-04-14 05:54] magento-engcom-team commented on #27848
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33341` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-14 06:32] krishprakash commented on #27833
@magento give me 2.4-develop instance

[2020-04-14 06:32] magento-engcom-team commented on #27833
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-14 06:34] magento-engcom-team commented on #27833
Hi @krishprakash, here is your [Magento instance](https://i-27833-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27833-2-4-develop.instances.magento-community.engineering/admin_a873](https://i-27833-2-4-develop.instances.magento-community.engineering/admin_a873)
Login: `d73d386b` Password: `3496b05de060`
Instance will be terminated in up to 3 hours.

[2020-04-14 06:53] magento-engcom-team commented on #27833
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33343` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-14 07:14] magento-engcom-team commented on #27847
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33344` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-14 07:15] krishprakash commented on #27847
Reproduced on latest instance:

![image](https://user-images.githubusercontent.com/46617848/79196439-bd326700-7e4d-11ea-8d33-5042048b8afb.png)

[2020-04-14 07:48] hostep commented on #9850
I agree.

@sdzhepa: can we move this to the [feature request repository](https://github.com/magento/community-features/) and re-open it?

[2020-04-14 08:53] arnoutvreugdenhil commented on #22344
@snoroozi Did you find a workaround for this?

Would deleting all eav properties with store_id > 0 work?
Maybe update nonexisting ones to store_id = 1 first...

Here's a rough mysql query to find the content that's published incorrectly in the shop.

`SELECT

store1.value_id,
store0.entity_id,
store0.attribute_id,
productname.value as name,
LEFT( store0.value, 20) as value0,
LEFT( store1.value, 20

[2020-04-14 08:59] norgeindian opened #27849 "Customer Prefix is not saved in guest orders"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Set `customer/address/prefix_show` to required
2. Go to the frontend and purchase an order as guest
3. During the checkout process make sure, that the prefix is required and this way filled

### Expected result (*)

1. I would expect that the prefix is saved in the database and is shown in the order view in the backend.

### A

[2020-04-14 09:23] magento-engcom-team commented on #27849
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33348` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-14 10:02] krishprakash commented on #27831
Hi @smamonto.GitHub issue tracker is intended for mangento core technical issues only kindly refer[ magento community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com/) for general discuss about this
Thank you !!

[2020-04-14 10:02] #27831 closed, assigned to nobody

[2020-04-14 10:02] ericmorand commented on #27738
@mrtuvn, this is wrong:

I'm totally allowed to override this and provide my own custom page layouts. Forcing page layouts in the back-office that are not part of the available themes mean that the webmaster may chose a page layout that doesn't exist and have an expected result in the end.

[2020-04-14 10:32] mrtuvn commented on #27738
this is choice preferences you can choose set from backend or customise in theme. Theme will always get high priority. No problem to customise categories pagelayout in your custom theme and it's can be done via xml But sometimes you will need update in backend instead hardcode fix layout in theme. Change page layout in config is better and managements than hard code in some xml layout in theme. I

[2020-04-14 10:51] nitin19 opened #27851 "Limit in Compare product list"
Hello,
I am working with one project using Magento 2.3.3. I want to functionality like user can add maximum 'x' number of products in compare list.
For ex. Admin will set maximum number 3 of product for compare list. Then user will add 4th product then there will display a message like 'You can add only 3 products.'

If we will add more products in the compare list then there is design very messy

[2020-04-14 11:42] LiamKarlMitchell commented on #9850
I found a plugin that adds this potentially will try it out soon.
https://github.com/experius/Magento-2-Module-Experius-WysiwygDownloads

[2020-04-14 11:44] hostep commented on #27227
I'm re-opening, because I agree that we need some sort of ticket to keep track of support for upcoming PHP versions. It's interesting to follow this, and that Magento developers can post updates in here to announce progress and when we can expect a Magento release compatible with PHP 7.4
In the thread for PHP 7.3, the same [thing](https://github.com/magento/magento2/issues/19604#issuecomment-45939

[2020-04-14 12:10] Yonn-Trimoreau commented on #7930
Any updates on this?

[2020-04-14 12:32] ramsampathi commented on #7075
We have faced the same issue in Magento 2.3.4 .
How can we fix this issue?

[2020-04-14 13:08] zexperto opened #27852 "Switching between store views gives "404 Not Found" when the customer is logged in and there is a difference in the URL key between the store views Magento 2.3.x"
### Preconditions (*)

1. Magento Open Source Version 2.3.3 and Magento Open Source Version 2.3.4

### Steps to reproduce (*)

1. Install Magento 2.3.4
2. Create Second Store Views (French)
3. Rename the code of English store view to 'en'
4. Rename the code of Frenchstore view to 'fr'
5. Modify the configuration to add store code to the URL
6. Create new simple product (use below data)
        - N

[2020-04-14 13:09] zexperto commented on #27852
The bug is exist on **Magento 2.3.x**

[2020-04-14 13:09] magento-engcom-team commented on #27852
Hi @zexperto. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-14 13:10] magento-engcom-team commented on #27852
Hi @zexperto, here is your [Magento instance](https://i-27852-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27852-2-4-develop.instances.magento-community.engineering/admin_7792](https://i-27852-2-4-develop.instances.magento-community.engineering/admin_7792)
Login: `3575b3b0` Password: `a916089a320f`
Instance will be terminated in up to 3 hours.

[2020-04-14 13:11] zexperto commented on #27852
The bug is exist in **Magento 2.3.x**, Cannot reproduce it in **Magento 2.4**

[2020-04-14 13:11] #27852 closed, assigned to nobody

[2020-04-14 13:11] zexperto opened #27853 "Switching between store views gives "404 Not Found" when the customer is logged in and there is a difference in the URL key between the store views Magento 2.3.x #27852"
### Preconditions (*)

1. Magento Open Source Version 2.3.3 and Magento Open Source Version 2.3.4

### Steps to reproduce (*)

1. Install Magento 2.3.4
2. Create Second Store Views (French)
3. Rename the code of English store view to 'en'
4. Rename the code of Frenchstore view to 'fr'
5. Modify the configuration to add store code to the URL
6. Create new simple product (use below data)
        - N

[2020-04-14 13:13] zexperto commented on #27853
@magento give me 2.3.4-develop instance

[2020-04-14 13:13] magento-engcom-team commented on #27853
Hi @zexperto. Thank you for your request. I'm working on Magento 2.3.4-develop instance for you

[2020-04-14 13:13] zexperto commented on #27853
The bug is exist in Magento 2.3.x, Cannot reproduce it in Magento 2.4

[2020-04-14 14:00] ihor-sviziev commented on #25768
Hi @jasonparauka,
According to following announcement this extension was already removed from 2.4 version:
https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-Magento-core-payment-integrations/ba-p/426445

All future collaboration related to this extension should be on Marketplace using "Contacts" or "Bug reports" related to this extension.

I'm closing this issue.

[2020-04-14 14:00] #25768 closed, assigned to ihor-sviziev

[2020-04-14 14:01] ihor-sviziev commented on #25689
Hi @simonlandry0,
According to following announcement this extension was already removed from 2.4 version:
https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-Magento-core-payment-integrations/ba-p/426445

All future collaboration related to this extension should be on Marketplace using "Contacts" or "Bug reports" related to this extension.

I'm closing this issue.

[2020-04-14 14:01] #25689 closed, assigned to ihor-sviziev

[2020-04-14 14:01] ihor-sviziev commented on #24844
Hi @touqeer-verve ,
According to following announcement this extension was already removed from 2.4 version:
https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-Magento-core-payment-integrations/ba-p/426445

All future collaboration related to this extension should be on Marketplace using "Contacts" or "Bug reports" related to this extension.

I'm closing this issue.

[2020-04-14 14:01] #24844 closed, assigned to ihor-sviziev

[2020-04-14 14:02] ihor-sviziev commented on #23829
Hi @niksjethva ,
According to following announcement this extension was already removed from 2.4 version:
https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-Magento-core-payment-integrations/ba-p/426445

All future collaboration related to this extension should be on Marketplace using "Contacts" or "Bug reports" related to this extension.

I'm closing this issue.

[2020-04-14 14:02] #23829 closed, assigned to nobody

[2020-04-14 14:02] ihor-sviziev commented on #22164
Hi @Tiberriver256 ,
According to following announcement this extension was already removed from 2.4 version:
https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-Magento-core-payment-integrations/ba-p/426445

All future collaboration related to this extension should be on Marketplace using "Contacts" or "Bug reports" related to this extension.

I'm closing this issue.

[2020-04-14 14:02] #22164 closed, assigned to nobody

[2020-04-14 14:03] ihor-sviziev commented on #18496
Hi @jayanta88 ,
According to following announcement this extension was already removed from 2.4 version:
https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-Magento-core-payment-integrations/ba-p/426445

All future collaboration related to this extension should be on Marketplace using "Contacts" or "Bug reports" related to this extension.

I'm closing this issue.

[2020-04-14 14:03] #18496 closed, assigned to ihor-sviziev

[2020-04-14 14:03] ihor-sviziev commented on #15065
Hi @nbennett25 ,
According to following announcement this extension was already removed from 2.4 version:
https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-Magento-core-payment-integrations/ba-p/426445

All future collaboration related to this extension should be on Marketplace using "Contacts" or "Bug reports" related to this extension.

I'm closing this issue.

[2020-04-14 14:03] #15065 closed, assigned to ihor-sviziev

[2020-04-14 14:22] amenk commented on #27224
It's reproducibile - how can this be fixed?

[2020-04-14 14:29] AndreyChorniy commented on #27849
@magento give me 2.4-develop instance

[2020-04-14 14:29] magento-engcom-team commented on #27849
Hi @AndreyChorniy. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-14 14:30] magento-engcom-team commented on #27849
Hi @AndreyChorniy, here is your [Magento instance](https://i-27849-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27849-2-4-develop.instances.magento-community.engineering/admin_d039](https://i-27849-2-4-develop.instances.magento-community.engineering/admin_d039)
Login: `8286f7e1` Password: `a94881305837`
Instance will be terminated in up to 3 hours.

[2020-04-14 14:31] AndreyChorniy commented on #25126
@magento give me 2.4-develop instance

[2020-04-14 14:31] magento-engcom-team commented on #25126
Hi @AndreyChorniy. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-14 14:33] magento-engcom-team commented on #25126
Hi @AndreyChorniy, here is your [Magento instance](https://i-25126-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25126-2-4-develop.instances.magento-community.engineering/admin_3c03](https://i-25126-2-4-develop.instances.magento-community.engineering/admin_3c03)
Login: `9a64b94b` Password: `5ace0217f120`
Instance will be terminated in up to 3 hours.

[2020-04-14 14:39] tna274 commented on #27848
Hi @petehouston,
The Coupons Report only shows orders that you applied discount with **coupon code**. According to your step, I think that you applied cart price rule without coupon code that why you did not see the order on report.
I created a cart price rule with coupon code and used it to create a new order.
![image](https://user-images.githubusercontent.com/14144384/79237423-55edd480-7e98-11ea

[2020-04-14 14:44] AndreyChorniy commented on #27849
Hey @norgeindian,
I would like to ask to check my test results, and retest this issue one more time on your side.
![ReprodusingGif](https://user-images.githubusercontent.com/6145397/79237754-2e3a4480-7e77-11ea-8610-b43f3a9467d7.gif)

I cannot reproduce this on Magento 2.4-develop.

[2020-04-14 14:44] 83rnd commented on #25663
Hi, how did you fix your problem?

[2020-04-14 14:45] bubasuma commented on #26692
Hi @monotheist

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming 2.4.0 release.

Related commits: 05667ed53584030e1771654585cdb9234ad834fe

[2020-04-14 14:45] #26692 closed, assigned to bubasuma

[2020-04-14 14:46] AndreyChorniy commented on #27849
@magento give me 2.3-develop

[2020-04-14 14:47] AndreyChorniy commented on #27849
@magento give me 2.3-develop instance

[2020-04-14 14:47] magento-engcom-team commented on #27849
Hi @AndreyChorniy. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-14 14:50] AndreyChorniy commented on #27849
Hey @krishprakash,

I would like to ask you to recheck this issue once again on your side.
Because I cannot reproduce this on Magento 2.4-develop instance
![ReprodusingGif](https://user-images.githubusercontent.com/6145397/79238662-55454600-7e78-11ea-885b-cd20e0b0a76e.gif)

[2020-04-14 15:55] RN-Say commented on #25221
I am also getting the same error on Magnto 2.3.4 using Porto 3.2.3 and the solution of @arnoutvreugdenhil did not resolve it. After I was unsuccessful modifying the porto shipment templates, I fell back to the luma templates for new shipment and new shipment guest which both have the following line and the error did not change:
 {{layout handle="sales_email_order_shipment_items" shipment=$shipment

[2020-04-14 16:31] ajithkumar-maragathavel opened #27856 "You already have an account validation fails after reloading the Checkout page for guest users."
### Preconditions (*)

1. Add one or two products to the cart
2. Please take an email id that doesn't have an account with the Magento.

### Steps to reproduce (*)

1. Add one or two products to the cart.
2. Navigate to the checkout page as a guest user.
3. Enter the email id _(which does not have an account with the Magento)_ in the **Email Address** field.
4. After entering the email id, Click T

[2020-04-14 16:33] ajithkumar-maragathavel commented on #27856
@magento give me 2.4-develop instance

[2020-04-14 16:34] magento-engcom-team commented on #27856
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-14 16:35] magento-engcom-team commented on #27856
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-27856-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27856-2-4-develop.instances.magento-community.engineering/admin_bd49](https://i-27856-2-4-develop.instances.magento-community.engineering/admin_bd49)
Login: `40e4edde` Password: `8c09a4a8645f`
Instance will be terminated in up to 3 hours.

[2020-04-14 16:39] magento-engcom-team commented on #27856
@ajithkumar-maragathavel Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-04-14 16:58] petehouston commented on #27848
@tna274  no. Cart Price Rule can be created with either No Coupon (auto applied on cart when conditions matched) or Specific Coupon.

<img width="697" alt="Screen Shot 2020-04-14 at 11 55 29 AM" src="https://user-images.githubusercontent.com/9006720/79252323-0b903780-7e47-11ea-9a53-0b8278080c52.png">

In Coupons Report, there are also 2 options to filter Cart Price Rule: Any , Specific Coupon. If

[2020-04-14 17:10] Stoyvo commented on #23908
Still seeing this on new instance of 2.3.4. No clear steps, but after a few attempts it does happen

[2020-04-14 20:24] sprankhub commented on #27849
It is indeed shown in the billing and shipping address. However, it is not stored in the database in `sales_order.customer_prefix`.

[2020-04-14 21:21] thiaramus commented on #27043
Hi @textarea,

When the webserver is configured to serve the Magento app from the `/pub` directory, it is necessary to add the node below to the `app/etc/env.php` file.

[code]

This issue should not be reproducible afterward.

We are working to update the documentation with this information.

[2020-04-14 22:10] luanpereira commented on #27626
is the same @ihor-sviziev, thanks for the help.

[2020-04-14 22:10] #27626 closed, assigned to ihor-sviziev

[2020-04-14 22:46] lenaorobei commented on #25670
This issue will be addressed in the scope of internal ticket [MC-32337](https://jira.corp.magento.com/browse/MC-32337).

[2020-04-15 04:37] phuocnh commented on #26214
@magento I am working on it

[2020-04-15 04:53] krishprakash commented on #27853
Hi @zexperto. Thank you for your report.
Issue is not reproduce it in Magento 2.4 latest version so we can not confirm this as per community guidelines.
Same issue to #27680

[2020-04-15 04:53] #27853 closed, assigned to krishprakash

[2020-04-15 05:23] MTheProgrammer opened #27859 "Unable to add extension attribute for Order Address"
### Preconditions (*)
1. Magento 2.3.4 OS
2. PHP 7.3.10

### Steps to reproduce (*)
1.Create module with extension_attributes.xml file:
[code]
2. Run magento cache:clean && magento setup:di:compile

### Expected result (*)
1. Interface Magento\Sales\Api\Data\OrderAddressExtensionInterface has two new methods: getMyAttribute(): string and setMyAttribute(string $value)

### Actual result (*)
1. Gene

[2020-04-15 05:37] ajijshekh123 commented on #27851
Hello @nitin19 ,
Please follow the Magento Add Issues process. Add the issue as per the Magento standard format.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

Thanks.

[2020-04-15 06:09] RHapani commented on #24777
Hello All,
Any update for this query?
I also face same issue.
What should I need to do to configure elasticsearch 7.x?

Please help me.

[2020-04-15 06:31] ihor-sviziev commented on #24777
Update: in `2.4-develop` branch we already have Elasticsearch7 module, so it will be supported in 2.4.0.
https://github.com/magento/magento2/tree/2.4-develop/app/code/Magento/Elasticsearch7

[2020-04-15 08:37] gibbotronic commented on #25670
Thanks for an update. What does this internal ticket involve? I cannot log in to see it.

What will the solution involve? Each one I can think of has drawbacks:
1. Annotate attributes as "user visible" (and only mark the product as dirty if one of these attributes is modified). This would need differentiating between "visible on category pages") and "visible on product pages". Fail if a non user-v

[2020-04-15 08:40] GuiltyNL commented on #25670
Don't get your hopes up. I've seen several issues that were assigned to an internal ticket and still are waiting to be developed after 3 years...

[2020-04-15 08:50] gibbotronic commented on #25670
That's a shame! How could you track their development if they're internal?

[2020-04-15 09:07] GuiltyNL commented on #25670
You can't. At least not that I know.

[2020-04-15 09:28] mrtuvn commented on #27856
Duplicated with https://github.com/magento/magento2/issues/26903

[2020-04-15 09:34] #27856 closed, assigned to ajijshekh123

[2020-04-15 10:13] SteveMcC71 opened #27861 "Free shipping for physical and virtual products with table rate not working correctly"
### Preconditions (*)

1. Magento 2.3.4
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Create table rate file
![image](https://user-images.githubusercontent.com/51681379/99841954-a6888700-2b77-11eb-953a-f836216ec124.png)
2. Stores -> Configuration -> Sales -> Shipping Methods -> Table Rates  "Price vs. Destination"
3. Include Virtual Products in Price Calculation as "No"
![image](https://u

[2020-04-15 10:30] TheLaughingThird opened #27862 "Storeswitcher from default pages"
Magento 2 in 2020 just want to know if its not a complete joke ..After all the adjustments, the stuff they put in in every update to make your system crash, and all the paid crap nobody asks for...

If I get this right , you can create storeviews for your languages , but when SWITCHING to these storeviews you get the DOMAINNAME/stores/store/switchrequest/ error...

So a CMS system thats redisgned

[2020-04-15 10:34] b2bdokter commented on #27862
Summary of the issue

Install magento 2.3.3. and make different storeviews

 Information on your environment

Php 7.3 Magento 2.3.3 Apache  Centos 7 server

 Steps to reproduce

Just make to storeviews and go to a default page like  **customer/account/create/**

Switch storeview from Netherlands to English and let the bullshit begin

 Expected and actual results

Expected for a CMS system in 2020

[2020-04-15 10:51] textarea commented on #27043
Hi @thiaramus,

thanks, I confirm that the issue is not reproducible after adding that setting.
Regards

[2020-04-15 11:12] hostep commented on #27043
@thiaramus: next to some documentation, it would also be nice if this could be set automatically during Magento's installation, like with an additional flag in the `bin/magento setup:install` command for example, so this can be automated instead of having to do it manually.

[2020-04-15 11:25] RHapani commented on #24777
If I want to add in 2.3.3 then, how can I configure? I can't able to add the library in Magento 2.3.3

[2020-04-15 11:27] ihor-sviziev commented on #24777
Unfortunately it’s not supported

On Wed, 15 Apr 2020 at 14:25, Rohan Hapani <notifications@github.com> wrote:

[2020-04-15 11:34] bunyamin-gc commented on #15196
Hi @Tjitse-E ,

I can confirm that `config.local.php` does nothing. When the sandbox environment loads configurations, it does not read `config.local.php` file.

[2020-04-15 11:56] bunyamin-gc opened #27864 "Magento integration test framework does not load the config file defined in (TESTS_GLOBAL_CONFIG_FILE) in the phpunit.xml"
When running integration tests, Magento does not load configurations from this file `config.local.php` located in the sandbox. This file is created when Magento first builds the sandbox environment based on this constant `TESTS_GLOBAL_CONFIG_FILE` defined in the `phpunit.xml`.

![image](https://user-images.githubusercontent.com/53558498/79333865-8a58a380-7f1f-11ea-9d08-bbaec8657261.png)

### Preco

[2020-04-15 11:58] b2bdokter commented on #27862
@magento-engcom-team Why its not valid ?

[2020-04-15 11:58] bnymn commented on #27864
@magento give me 2.4-develop instance

[2020-04-15 11:58] magento-engcom-team commented on #27864
Hi @bnymn. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-15 12:00] magento-engcom-team commented on #27864
Hi @bnymn, here is your [Magento instance](https://i-27864-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27864-2-4-develop.instances.magento-community.engineering/admin_7e68](https://i-27864-2-4-develop.instances.magento-community.engineering/admin_7e68)
Login: `b9233226` Password: `c16c3b542b9f`
Instance will be terminated in up to 3 hours.

[2020-04-15 12:08] bunyamin-gc commented on #27864
#15196 This issue is related to this one.

[2020-04-15 12:11] #27253 closed, assigned to navarr

[2020-04-15 13:45] krzysztofkuzniar commented on #18027
@AndyJAllen I confirm, in 2.3.3 still display **NaN** value

[2020-04-15 13:51] mrtuvn commented on #27862
@b2bdokter not valid because your template not follow default base template
When report bugs magento  required Preconditions, Steps to reproduce, Expected, Actual Result
More details that you provide will help maintainers easier to reproduce exactly your problem

[2020-04-15 13:56] bjornmeat opened #27865 "async.magento.catalog.api.specialpricestorageinterface.update.post - operations report different result than sent in message"
### Preconditions (*)

1. Magento Commerce 2.3.4
2. Magento async api endpoint for async.magento.catalog.api.specialpricestorageinterface.update.post

### Steps to reproduce (*)
1. Multiple different updates sent for different skus to : /rest/all/async/V1/products/special-price
2. In Magento db operation table and in detailed status for bulk/asynk in API we see the original message.
3. After messa

[2020-04-15 14:07] srsathish92 commented on #27848
@ajijshekh123 This issue is not valid, because coupon reports only shows the list which order has applied coupon code not no coupon (cart price rule). please re validate.

**From Doc:**
_Cart Price Rules :_ Determines which coupon promotions are included in the report.
Options:
_Any:_ Includes order information for any coupon promotion that was used during the specified date range.
_Specified:_ In

[2020-04-15 14:22] b2bdokter commented on #27862
**Summary of the issue**

Install magento 2.3.3. and make different storeviews

**Information on your environment**

Php 7.3 Magento 2.3.3 Apache Centos 7 server

**Steps to reproduce**

Just make to storeviews and go to a default page like customer/account/create/

Switch storeview from Netherlands to English and let the bullshit begin

**Expected and actual results**

Expected for a CMS system i

[2020-04-15 14:35] b2bdokter commented on #27862
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-04-15 14:35] magento-engcom-team commented on #27862
Hi @b2bdokter. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-15 14:36] magento-engcom-team commented on #27862
Hi @b2bdokter, here is your [Magento instance](https://i-27862-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27862-2-4-develop.instances.magento-community.engineering/admin_afb3](https://i-27862-2-4-develop.instances.magento-community.engineering/admin_afb3)
Login: `7919aac9` Password: `dade73333b39`
Instance will be terminated in up to 3 hours.

[2020-04-15 14:49] pedroohsolucoes commented on #15935
Hello, this ended up happening to a customer, today 04/15/2020, he deleted 2 products yesterday 04/14/2020, the admin panel crashed, he turned off the computer, today when he logged in the admin panel, all the products disappeared.

You check the logs that occur, and identify several lines of "catalog / product / massDelete".

Magento2
Version: 2.3.3

[2020-04-15 14:50] rathodsunny005 commented on #13594
This is not good practice to modify Magento core file. so try to debug more and reach the proper solution. if you still not found anything you can contact me.

[2020-04-15 14:50] petehouston commented on #27848
@srsathish92 is there any way to get Report for any order having Cart Price Rule that doesn't use Specific Coupon Code?

[2020-04-15 14:55] kapil-infobeans commented on #15935
I think until magento fixes this issue, you can remove disable mass delete action from product grid. And add delete option at product row level.

[2020-04-15 14:57] zigojacko commented on #1821
This is not fixed.

And I'm developing a site on Magento 2.3.4.

[2020-04-15 15:07] bnymn opened #27866 "\Magento\Framework\Filesystem\Io\File::read() method is not compatible with \Magento\Framework\Filesystem\Io\IoInterface::read()"
Let's first define some classes here that I am going to mention a lot in the description.
[code]

I am using `Sftp` class in order to download some files from a remote server. In my class, I depend on `IoInterface` and resolve the dependency in `di.xml`. In my test, I would like to use `File` implementation, because I have more control over the local file system then the remote SFTP server.

In th

[2020-04-15 15:10] wahidnory commented on #27450
Yes I was being able to reproduce this on a vanilla Magento Instance with sampledata.
This was done as a module, so I'm not sure on how to test this in the cloud instance.

Any ideas or input from anybody is appreciated.

[2020-04-15 15:39] bnymn opened #27867 "Cannot run composer install due to PHP Fatal error (Undefined class constant 'PRE_COMMAND_RUN')"
I cannot run `composer install` in a fresh 2.4-develop branch.

### Preconditions (*)

1. Ubuntu 18.04
2. PHP 7.2.29
3. Composer 1.6.3

### Steps to reproduce (*)

1. `git checkout 2.4-branch`
2. `composer install`

### Expected result (*)

1. I expect the composer to install all dependencies

### Actual result (*)

1. I got a fatal error as shown here:
[code]
![image](https://user-images.githubus

[2020-04-15 15:48] bnymn commented on #27867
This is happening because of the composer version. If you use the following composer version, the issue will not happen.
- Composer 1.9.1

[2020-04-15 15:48] #27867 closed, assigned to nobody

[2020-04-15 16:11] hostep commented on #15935
It was [mentioned above](https://github.com/magento/magento2/issues/15935#issuecomment-543987670) that it was fixed in Magento 2.3.4

Has anybody seen it occurring on 2.3.4 or higher?

[2020-04-15 16:14] sdzhepa commented on #27227
Hello @rvitaliy @hostep

Wow, it seems I become dislike champion in this thread...
Sorry for my strict answer and manners and let me explain the decision to close the issue
- reported issue it's not kine of bug or task that can be fixed and delivered here with community PR
- it's very complex task that required changes(and full testing) not only in Magento code itself but for all staff around. Not

[2020-04-15 16:35] ifeltsweet commented on #7266
Our domain has become pretty useless at deliverability exactly due to this attack vector. It's astonishing how such an important security bug has been all but ignored by the team for so long even though this has been reported multiple times:

- https://github.com/magento/magento2/issues/23487
- https://github.com/magento/magento2/issues/15031

What's the reason for allowing URLs in first or last n

[2020-04-15 16:50] srsathish92 commented on #27848
@petehouston Not at the moment.

[2020-04-15 16:51] pedroohsolucoes commented on #15935
he problem occurs when you try to delete 1 pipeline, but click twice on the delete button. In my case it's not related to mass exclusion

[2020-04-15 17:32] novikor commented on #15935
Hi, @pedroohsolucoes. Could you, please, provide more detailed steps to reproduce?

[2020-04-15 17:47] pedroohsolucoes commented on #15935
yes, there is even a gif showing the error

https://user-images.githubusercontent.com/51680850/66394471-e6c19000-e9dd-11e9-841b-7f6e61d93228.gif

[2020-04-15 18:54] lbajsarowicz opened #27870 "newrelicreporting_cron causes Warning on Configurable Product Resource Model"
### Preconditions (*)
1. Magento `2.3.2`
2. Cron jobs log in database (`cron_schedule`)

### Steps to reproduce (*)
1. Install sample data
2. Let your crons run for some time

### Expected result (*)
1. No warnings logged

### Actual result (*)
1. `Warning: Invalid argument supplied for foreach() in /app/vendor/magento/module-configurable-product/Model/ResourceModel/Product/Type/Configurable/Produ

[2020-04-15 19:06] hostep commented on #27227
@sdzhepa: thanks for the update! You can close the issue from my part, but it's just nice to keep the community updated around what happens and once most work is done and there is a known date for when a version can be expected that is compatible with PHP 7.4, it would be nice that this can get announced somehow.

A lot of work Magento is doing internally is interesting to know but some stuff rema

[2020-04-15 19:28] imebrijesh commented on #14952
Hi @hostep
This is not working for version 2.3.0... can you please help me to work for this version too?

[2020-04-15 19:36] hostep commented on #14952
@imebrijesh: if you are able to upgrade to a newer version of Magento, I would strongly recommend it, because this email bug is far from the only serious bug in version 2.3.0, later versions are a lot more stable (even though the still have other email bugs).

If you really need a patch, then I strongly recommend you learn [how to create and apply patches](https://devdocs.magento.com/guides/v2.3/c

[2020-04-15 22:19] oleksii-rybin commented on #2504
5 years later, Magento version 2.3.4 and this issue still persists.
Thanks @iget-esoares for a solution, saved me a ton of time investigating this.

[2020-04-16 02:14] carolineboivin commented on #8933
We've been experiencing several issues on a project with indexers getting repeatedly getting stuck. (M2.3.3)
After thorough investigations we were able to isolate a pattern that might cause the issue.
When an index gets stuck, it seems to be when the server's system cron calling "php/sessionclean" runs while there is an index running (on schedule).

What seems to happen is that the sessionclean de

[2020-04-16 04:56] dan-ding commented on #19469
2.3.6?! October?

[2020-04-16 05:29] ajijshekh123 commented on #27851
@nitin19 - Any update?

[2020-04-16 05:35] ajijshekh123 commented on #27848
Hello @srsathish92,
You are right. But Report should be displayed to all the coupon lists which we have applied to place the order. That's why I have verified this issue.
Thanks.

[2020-04-16 06:50] baltechies opened #27872 "Plugin for ProductRepositoryInerface save method is not working."
### Summary (*)
Plugin for ProductRepositoryInerface save method is not working. I have tried all types for plugin, like afterSave, beforeSave, and aroundSave. Nothing is working. Plugin against other methods of ProductRepository is working fine. afterGetById, beforeGetById and aroungGetById is working fine.

I am using magento 2.3.4 CE with sample data.

### Examples (*)
di.xml file
[code]

Plugi

[2020-04-16 08:44] azambon commented on #26682
I tried @amenk 's patch and it seems to work. My only doubt is whether the same thing should be done for "custom attributes" as well.

In case anyone else wants to try that same patch without editing the core, I turned it onto a diff that can be applied automatically with Composer Patches. Just save this diff into a file and configure Composer Patches to apply it to the magento/module-quote module