[2019-03-22 02:10] likemusic commented on #21883
Seems that add step to step-navigator triggers updates in templates in 2.3-develop but not in 2.2-develop.
![image](https://user-images.githubusercontent.com/603401/54795643-18e7ec00-4c5e-11e9-896f-1528e5f16271.png)

Possible because `steps().sort()` used in 2.3-develop in `Magento/Checkout/view/frontend/web/js/model/step-navigator.js`.
Related commit: https://github.com/magento/magento2/commit/21

[2019-03-22 02:27] likemusic commented on #21883
While I investigate this issue on 2.2-develop branch I found possible 2 bugs.

1) In `module-checkout\view\frontend\web\js\model\step-navigator.js` isProcessed-method.
https://github.com/magento/magento2/blame/2.3-develop/app/code/Magento/Checkout/view/frontend/web/js/model/step-navigator.js#L137

In current implementation method returns `true` for step-codes that not exists in step-navigator at a

[2019-03-22 05:45] vovayatsyuk commented on #19127
Yes, it’s not fixed yet. These badges “fixed in..” are little confusing. They meant that the bug is fixed in develop branch.

As was mentioned above, the fix will be included on the next release.

[2019-03-22 05:49] simonworkhouse opened #21885 "Product images are being duplicated on import"
When importing product data the product images are being duplicated for each import run.

### Preconditions
1. Magento 2.4-develop
2. PHP 7.3
3. MySQL 5.7.25

### Steps to reproduce
1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition `<install dir>`
2. cd `<install dir>`
3. ./bin/magento setup:install --backend-frontname=? --db-host=? --db-name=?

[2019-03-22 05:50] magento-engcom-team commented on #21885
Hi @simonworkhouse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-22 07:15] magento-engcom-team commented on #21878
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-22 07:16] engcom-backlog-nazar commented on #21878
Hi @tkymuk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results
Then please reopen the issue.

[2019-03-22 07:16] #21878 closed, assigned to nobody

[2019-03-22 07:17] magento-engcom-team commented on #21881
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-22 07:18] magento-engcom-team commented on #21883
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-22 07:18] magento-engcom-team commented on #21885
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-22 07:23] intd commented on #21881
issue is not reproducible

[2019-03-22 07:23] #21881 closed, assigned to nobody

[2019-03-22 07:27] engcom-backlog-nazar commented on #21881
@intd yes this was fixed in 2.3-develop, you closed fastly than i can find commit. :)

[2019-03-22 07:56] dipti2jcommerce commented on #21885
@magento-engcom-team give me 2.3-develop instance

[2019-03-22 07:56] magento-engcom-team commented on #21885
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-22 07:57] magento-engcom-team commented on #21885
Hi @dipti2jcommerce, here is your [Magento instance](https://i-21885-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21885-2-3-develop.instances.magento-community.engineering/admin](https://i-21885-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-22 08:26] dudzio12 commented on #21873
For now, we end up rewriting this class:
https://github.com/magento/magento2/blob/2.3/app/code/Magento/ConfigurableProduct/Model/Product/Configuration/Item/ItemProductResolver.php

It has been changed already on 2.3-develop branch:
https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/ConfigurableProduct/Model/Product/Configuration/Item/ItemProductResolver.php

So the issue might b

[2019-03-22 08:40] i95devdivya opened #21886 "Mutation is not working if we pass object as mutation parameter and it is working if we pass string as parameter"
Preconditions

1.      Magento CE 2.3

2.      PHP 7.2.16

Steps to Reproduce

1. Create a module for graphql implementation

2. Define the following in etc/schema.graphqls

type Mutation {

  createCustomer(cust: Customer!): CustomerCreate @resolver(class: "\\I95Dev\\CustomerOrder\\Model\\Resolver\\Customer") @doc(description:"Create Customer and returns its Id and corresponding message")

}

typ

[2019-03-22 08:40] magento-engcom-team commented on #21886
Hi @i95devdivya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-22 08:41] engcom-backlog-nazar commented on #21886
Hi @i95devdivya thank you for you report, please open issue here -> https://github.com/magento/graphql-ce

[2019-03-22 08:41] #21886 closed, assigned to nobody

[2019-03-22 08:41] i95devdivya commented on #21886
Note: If I create a mutation like below it is working
type Mutation {
  createCustomer(firstname: String!,lastname: String!, email: String!): CustomerCreate @resolver(class: "\\I95Dev\\CustomerOrder\\Model\\Resolver\\Customer") @doc(description:"Create Customer and returns its Id and corresponding message")
}

type CustomerCreate {
  message: String @doc(description: "Success or error Message")

[2019-03-22 08:42] ankurAuriga opened #21887 "Exception when I order bundle product which have simple product as child"
### Preconditions (*)

1. Magento 2.3.0
2.

### Steps to reproduce (*)

1. Create bundle product which has at-least 1 simple product as child
2. On place order, exception generated in multisource inventory module.

### Expected result (*)

1. Order should get placed successfully with processing status
2.

### Actual result (*)

1. Magento throws exception - Uncaught TypeError: Return value of Mage

[2019-03-22 08:42] magento-engcom-team commented on #21887
Hi @ankurAuriga. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-22 08:52] engcom-backlog-nazar commented on #21887
HI @ankurAuriga thank you for your report, did your simple product have custom source ?

[2019-03-22 08:54] magento-engcom-team commented on #21883
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98838`, `MAGETWO-98839` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-22 09:06] ankurAuriga commented on #21887
@engcom-backlog-nazar - No, I am using default source only. I do not have any other source

[2019-03-22 09:08] engcom-backlog-nazar commented on #21873
Hi @dudzio12 thank you for you report, this issue has already fixed in 2.3-develop branch

[2019-03-22 09:08] #21873 closed, assigned to nobody

[2019-03-22 09:11] magento-engcom-team commented on #21879
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-22 09:19] magento-engcom-team commented on #21885
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98840` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-22 09:32] engcom-backlog-nazar commented on #21887
@ankurAuriga is this clean magento or you migrated from some version ?

[2019-03-22 09:34] ankurAuriga commented on #21887
@engcom-backlog-nazar  - We upgraded from Magento 2.2.6

[2019-03-22 09:36] engcom-backlog-nazar commented on #21887
@ankurAuriga did you enable MSi modules ? because when you upgrade from 2.2 all modules are disabled.

[2019-03-22 09:38] magento-engcom-team commented on #21877
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-22 09:50] josefbehr commented on #19441
@davidalger
No, please read the comments, that change does NOT fix the problem with http/2 headers.

[2019-03-22 09:52] ankurAuriga commented on #21887
@engcom-backlog-nazar - Yes it is enabled and error is coming only for this case. For all other product types, it is working fine.

[2019-03-22 09:54] engcom-backlog-nazar commented on #21887
@ankurAuriga You manually enabled or this automatically enabled ?

[2019-03-22 09:57] tudn9x opened #21888 "Magento 2.2.7 catalog price rule "conditions SKU is" not apply"
### Preconditions
1.Magento 2.2.7

Steps to reproduce:

1. create a catalog rule on all customer group
1.1 conditions SKU is (select the three simple product)
1.2 Actions : adjust final price to discount value - discount amount 38.0000
1.3 discard subsequent rules : NO
2. disable all other rules
3. reindex

### Expected result
1. on front all item have a new price of 38 and old price with line-thr

[2019-03-22 09:58] magento-engcom-team commented on #21888
Hi @htmyheart. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-22 10:02] dmytro-ch commented on #21467
@magento-engcom-team give me 2.2-develop instance

[2019-03-22 10:02] magento-engcom-team commented on #21467
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-22 10:03] ankurAuriga commented on #21887
Automatically

[2019-03-22 10:03] magento-engcom-team commented on #21467
Hi @dmytro-ch, here is your [Magento instance](https://i-21467-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21467-2-2-develop.instances.magento-community.engineering/admin](https://i-21467-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-22 10:25] htmyheart commented on #21888
@magento-engcom-team yes

[2019-03-22 10:37] SEtela commented on #21615
@importwholesales Thanks for your answer. We had the exact same error, added 'content' inside 'entry' array and now the image creating works.

[2019-03-22 11:08] Volvoxpl commented on #14586
Solution to problem described:
- Copy file vendor/magento/module-checkout/view/frontend/web/template/minicart/content.html to your template
- Change `<span class="count" text="getCartLineItemsCount()"/>` to `<span class="count" text="getCartParam('summary_count')"/>`

[2019-03-22 11:30] jaideepghosh opened #21889 "Search Engine - Elasticsearch throws "mapper_parsing_exception""
### Preconditions (*)

1. Downloaded magento2.3.0 from [magento.com](https://magento.com/tech-resources/download) and installed.
2. Installed elasticsearch 6.4.2
3. Configure Magento to use Elasticsearch. ([Source](https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/es-config-nginx.html#elastic-m2-configure))

### Steps to reproduce (*)

1. Configure Magento to use Elasticsearch. ([

[2019-03-22 11:30] magento-engcom-team commented on #21889
Hi @jaideepghosh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-22 11:31] jaideepghosh commented on #21889
@magento-engcom-team give me 2.3-develop instance

[2019-03-22 11:31] magento-engcom-team commented on #21889
Hi @jaideepghosh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-22 11:32] magento-engcom-team commented on #21889
Hi @jaideepghosh, here is your [Magento instance](https://i-21889-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21889-2-3-develop.instances.magento-community.engineering/admin](https://i-21889-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-22 11:40] jaideepghosh commented on #21889
@magento-engcom-team give me 2.3 instance

[2019-03-22 11:42] jaideepghosh commented on #21889
I found an alternate solution for this issue, ie:

[2019-03-22 11:43] magento-engcom-team commented on #21871
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-22 11:43] magento-engcom-team commented on #21888
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-22 11:53] convenient opened #21890 "Hitting catalog_product_entity_varchar maximum auto increment ID for complex catalog"
## Preconditions
1. Magento 2.1 (this issue is from EE but the bug is in CE and will be affecting other parts of the system)
2. Multi store website.
3. Product has global attributes assigned.

## Expected result

Triggering the same product save multiple times should not affect the data or structure within `catalog_product_entity_varchar`, the next auto increment `value_id` should be +1 of the cur

[2019-03-22 11:53] magento-engcom-team commented on #21890
Hi @convenient. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-22 12:01] pmclain commented on #19515
@joni-jones

This does not work. The "save for later user" selection in the admin is IGNORED and the card is always saved and added to the customer's saved payment list. If a merchant is taking an order through the admin and the customer does NOT want their payment stored for later use there is no way for the merchant to honor this request as the payment method is added to the customer's visible s

[2019-03-22 12:02] gianisimone opened #21891 "Changing form validation options loses validation messages translations"
### Preconditions (*)

1. Magento 2.3.0

### Steps to reproduce (*)

1. Install a new language package on your store (I am working with the Italian locale).
2. Use the new installed language on your store.
3. Override the Magento_Catalog/templates/product/view/form.phtml template in your custom theme
2. Add custom validation settings for the form within this file. I did it in this way:
[code]
5. T

[2019-03-22 12:02] magento-engcom-team commented on #21891
Hi @gianisimone. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-22 12:18] engcom-backlog-nazar commented on #21877
Hi @lhall-adexos thank you for you report, this issue has already fixed in 2.3-develop branch and will be avaible on 2.3.1 release.

[2019-03-22 12:18] #21877 closed, assigned to nobody

[2019-03-22 12:20] engcom-backlog-nazar commented on #21887
@ankurAuriga i'm not able to reproduce following steps you described, i'm successfully update from 2.2.6 to 2.30 and all msi modules are disabled. try to reproduce this on clean magento without any extensions installed. Feel free to open ticket here -> https://github.com/magento-engcom/msi if problem still exists.

[2019-03-22 12:20] #21887 closed, assigned to nobody

[2019-03-22 12:21] magento-engcom-team commented on #21890
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-22 12:23] magento-engcom-team commented on #21879
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98841`, `MAGETWO-98842` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-22 12:29] amol2jcommerce commented on #21883
@magento-engcom-team give me 2.3-develop instance

[2019-03-22 12:29] magento-engcom-team commented on #21883
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-22 12:29] magento-engcom-team commented on #21883
Hi @amol2jcommerce, here is your [Magento instance](https://i-21883-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21883-2-3-develop.instances.magento-community.engineering/admin](https://i-21883-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-22 12:40] dmytro-ch commented on #20809
@magento-engcom-team give me 2.2-develop instance

[2019-03-22 12:41] magento-engcom-team commented on #20809
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-22 12:41] magento-engcom-team commented on #20809
Hi @dmytro-ch, here is your [Magento instance](https://i-20809-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20809-2-2-develop.instances.magento-community.engineering/admin](https://i-20809-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-22 12:57] ladle3000 opened #21893 "Can't Switch Back to PHP 7.1 on Mage 2.3"
### Preconditions (*)

1. Magento 2.3
2. Upgraded from 2.2.5

### Steps to reproduce (*)

1. I updated to magento 2.3 from 2.2.5 and the update went okay.  However, I have found that I must keep my server on php 7.2 or my site won't work now.  If I roll back to 7.1 my site just loads and loads.  This wouldn't be an issue, however for some necessary reasons at cloudways I need to temporarily step b

[2019-03-22 12:57] magento-engcom-team commented on #21893
Hi @snoroozi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-22 13:00] Prasad2706 commented on #2332
same issue faced

[2019-03-22 13:06] karthi5053 opened #21894 "Magento 2.3 - Rabbitmq Queue Consumer."
### Preconditions (*)

1. Magento 2.3 EE
2. Rabbitmq and consumer

### Steps to reproduce (*)

1. Push message to rabbitmq topic.

### Expected result (*)

1. Message pushed to queue.

### Actual result (*)

1. Message is executed by the consumer which is ran by cronjob.

Problem Here:
I am pushing a messages to Rabbitmq topic, and i have consumer. This consumer is always being executed by magento

[2019-03-22 13:06] magento-engcom-team commented on #21894
Hi @karthi5053. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-22 13:23] ankurAuriga commented on #21887
@engcom-backlog-nazar - I did not understand why you are validating if MSI is enabled or not. Do you mean I need to disable MSI module to make this work?

[2019-03-22 13:25] engcom-backlog-nazar commented on #21887
@ankurAuriga i think yes because all this modules need to be disable after upgrading.

[2019-03-22 13:27] jaideepghosh commented on #21889
After switching to elasticsearch 5.4.2 from elasticsearch 6.4.2, Still getting the same error, ie:

Here is my elasticsearch status:
<img width="388" alt="Screen Shot 2019-03-22 at 6 56 33 PM" src="https://user-images.githubusercontent.com/3909648/54825736-44a5b900-4cd4-11e9-8d8b-ef556aac9147.png">

[2019-03-22 13:28] ankurAuriga commented on #21887
@engcom-backlog-nazar - But why I need to disable MSI module.

[2019-03-22 13:50] magento-engcom-team commented on #21889
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-22 13:52] engcom-backlog-nazar commented on #21889
Hi @jaideepghosh thank you for your report, only elasticsearch 5.2.x supported not 5.x .https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/es-overview.html

[2019-03-22 13:52] #21889 closed, assigned to nobody

[2019-03-22 14:04] davidalger commented on #19441
@josefbehr The ZF1 library does not support HTTP/2 and that is why the regex is the way it is (if you look at `Zend_Http_Client` there is no constant there for HTTP/2 but is for 1.1 and 1.0).

Did you look at the code which demonstrates reproducing the same exception due to the same regex that doesn't work with HTTP/2 responses? The issue here isn't the regex, but that the curl adapter (i.e. the M

[2019-03-22 14:37] engcom-backlog-nazar commented on #21871
HI @jonathan-may thank you for you report, i'm not able to reproduce following steps you described, can you recheck on clean magento ?
![Selection_021](https://user-images.githubusercontent.com/40756439/54830239-ce4b8b80-4cc0-11e9-8d67-b1aa84ec0268.png)
![Selection_022](https://user-images.githubusercontent.com/40756439/54830240-cee42200-4cc0-11e9-8e9d-368266416c94.png)

[2019-03-22 15:03] ghost opened #21897 "2.2 > 2.3 upgrade, bin/magento broken"
After following the guide [here](https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html) to upgrade 2.2 to 2.3, I am unable to run any `bin/magento` commands via CLI.

I get the following stack trace:

[code]

I have removed the `vendor` folder and re-ran `composer install` but it has no effect.

[2019-03-22 15:03] magento-engcom-team commented on #21897
Hi @paul-gene. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-22 15:04] michaeljdietz commented on #13440
How is it we still don't have an official fix for this 1.5 years later?  I am confused -- seems like fixing a bug like this would have been a higher priority than adding new features for 2.3.  Thanks @rou9e and @parthaccorin for the solutions -- wish I had found this github issue report before debugging through the whole component system, lol.

[2019-03-22 15:10] MaksymGrom commented on #21692
@Bartlomiejsz Hello, CLI in Magento loads all Command classes and them injections
So you should use Proxy to avoid loading Repositories and other classes with the same problem
Please change your injection.
Magento\Sales\Model\Order\Address\Validator => Magento\Sales\Model\Order\Address\Validator\Proxy

Also, you can change the injection attribute via di.xml.
You can see this way in \Magento\Catalo

[2019-03-22 15:35] magento-engcom-team commented on #20773
Hi @sidolov. Thank you for your report.
The issue has been fixed in magento/magento2#21435 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [2e58ab6009c68ea1e4e0095897517c68273995f9](https://github.com/magento/magento2/commit/2e58ab6009c68ea1e4e0095897517c68273995f9)
 - [3de1647e51215ba933f007cab64e9483f2487c61](https://github.com/magento/magento2/commit/3de1647e51215ba933f007cab64e9

[2019-03-22 15:35] magento-engcom-team commented on #20924
Hi @dankhrapiyush. Thank you for your report.
The issue has been fixed in magento/magento2#21849 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [dd3a94a7a0bd2ec81c6a58538efa0ff0882b7367](https://github.com/magento/magento2/commit/dd3a94a7a0bd2ec81c6a58538efa0ff0882b7367)
 - [5c8dba8ecab605be8fdbc7c44b9b399704196b61](https://github.com/magento/magento2/commit/5c8dba8ecab605be8fdbc7c44b9b3

[2019-03-22 16:18] Jimgitsit commented on #10829
I am experiencing this issue as wee on 2.1.16. Other indexers seem to be working fine and if I reindex the customer_grid index manually it works fine and customer show up. It's as if the customer grid isn't invalidating and therefore is not getting reindex.

Some observations:
The cron_schedule tables shows that indexer_reindex_all_invalid is running successfully however, there seem to always be 3

[2019-03-22 17:05] pingu1m opened #21900 "Error when trying to create an order in Admin using a stored credit card."
### Preconditions (*)

1. Magento 2.3 installed
2. PHP 7.1
4. Paypal Payflow installed and configured
5. Add a fraud rule to Paypal Payflow in order to spot mismatch of billing and shiping addresses

### Steps to reproduce (*)

1. Go to admin
2. Select "Create New Order"
3. Select a costumer with stored credit card
4. Add a product
5. Select a shipping address different from billing address
6. Sel

[2019-03-22 17:05] magento-engcom-team commented on #21900
Hi @fgmonad. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-22 18:53] rgarner1987 opened #21902 "Complex Multi Store Issue"
### Preconditions (*)
I am building a Magento 2.1 site on A2 dedicated hosting and want my website to have 3 _sub-folder_ domains (NOT subdomains) for SEO purposes.

### Steps to reproduce (*)
I have created three websites in "**Stores > All Stores**" as well as in the FTP **(public_html)**, all with the same base domain name (thespacecollective.com).

**i.e.**
thespacecollective.com (base domain)

[2019-03-22 18:53] magento-engcom-team commented on #21902
Hi @rgarner1987. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-22 19:10] rgarner1987 opened #21903 "Tax Calculation Issue"
### Preconditions (*)
I am using Magento 2.1 and have set up 20% VAT on all UK and EU orders and I believe I have configured the tax settings correctly to include tax in the products and show it correctly in the cart/checkout.

![screenshot](https://user-images.githubusercontent.com/43443121/54847092-5d629e80-4cd5-11e9-802e-3560d3c76741.jpg)

### Steps to reproduce (*)
When I add my £300 product t

[2019-03-22 19:10] magento-engcom-team commented on #21903
Hi @rgarner1987. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-22 20:17] Berdir opened #21904 "\Magento\MysqlMq\Model\Driver\Exchange uses deprecated getQueuesByTopic, results in exception"
### Preconditions (*)

1. Version 2.3.0
2.

### Steps to reproduce (*)

1. Define necessary info in queue/communication xml files using "db" connection
2. Publish a message through PublisherInterface::publish()

### Expected result (*)

1. Message is stored.

### Actual result (*)

1. Exception: Message queue topic "X" is not configured.

I was able to get it working by replacing the call with thi

[2019-03-22 20:17] magento-engcom-team commented on #21904
Hi @Berdir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-22 22:30] Bartlomiejsz commented on #21692
@MaksymGrom you're right, it can be handled using proxy, but still such logic should not be included in constructor so I hope it will be merged soon.
Thank you for response!

[2019-03-23 09:45] orlangur commented on #21893
@snoroozi,

What exact error do you see?

There could be a problem, for instance, if you install composer dependencies with PHP 7.2 and then run them on PHP 7.1.

No, there is nothing like this in Magento itself.

[2019-03-23 10:47] deepakgairola25 commented on #12900
There is another error in verion 2.3 with disabling Place order button
**Steps to reproduce**

1. Add product to cart and proceed to checkout
2. leave email address field blank
3. Select Braintree credit card payment method
4. Input credit card number (dummy)
5. input expiry date and cvv
6. make sure that email id field is blank
7. fill customer data (name and address field)
8. Click update button

[2019-03-23 10:53] deepakgairola25 opened #21907 "Place order button disabled after failed email address validation check with braintree credit card"
**Summary of the issue**
Place order button is disabled after email address validation failed on selecting Braintree credit card and filling all the details except email address

### Preconditions (*)
Magento vanila instance version 2.3

### Steps to reproduce (*)
1. Add product to cart and proceed to checkout
2. leave email address field blank
3. Select Braintree credit card payment method
4. Inp

[2019-03-23 10:53] magento-engcom-team commented on #21907
Hi @deepakgairola25. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-03-23 11:23] snoroozi commented on #21893
@orlangur I ran the script that Magento provided for update from 2.2.5 to 2.3.  I assume that updated dependencies to be compatible with 7.2.

But still if Magento is compliant with either php version, shouldn't its dependencies be the same.

[2019-03-23 11:47] Berdir commented on #21904
My installation is pretty vanilla, I just have my single additional module that is trying to publish a message, I don't know if you can reproduce this without any custom code.

[2019-03-23 12:14] orlangur commented on #21893
It's up to dependencies, some of them, like `zend-code`, may be not compatible with both versions at the same time.

If you use provided `composer.lock`, it will. It contains 7.1-compatible dependencies as far as I remember.

@snoroozi without

answer nothing can be investigated.

[2019-03-23 14:37] hostep commented on #21891
@gianisimone: this sounds like a duplicate of https://github.com/magento/magento2/issues/21204, do you agree?

When testing the other ticket myself, it looked like it is broken in 2.3.0 but is fixed on the 2.3-develop branch, so I'm hoping that the fix will be included in 2.3.1 (should get released next week somewhere)

[2019-03-23 18:11] tomekjordan commented on #21903
Why you raise bugs if your store configuration is not correct? Better read about tax calculations and how to create tax rules. then raise bugs - if you are 100% convinced its a bug.
Beause your ticket is a waste of time. its not a bug

[2019-03-23 18:17] rgarner1987 commented on #21903
I didn't open a bug report, I chose "open a regular issue".

<img width="785" alt="Screen Shot 2019-03-23 at 18 15 54" src="https://user-images.githubusercontent.com/43443121/54869957-dcb8a680-4d97-11e9-91b5-7f7f19cd3cb2.png">

[2019-03-23 18:27] Zyles opened #21909 "Magento 2.3.0 nginx config 404 error using wget"
So I have a very strange and severe issue with the Nginx config bundled with the installation. When using wget I can generate 404 error pages on home page, category page, product page on uncached requests. But when I use a browser the site works fine.

The site also works fine with Apache. So this is 100% an Nginx issue with something related to Magento.

This causes a real issue if I want to use

[2019-03-23 18:28] magento-engcom-team commented on #21909
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-03-23 18:36] rgarner1987 commented on #21903
I didn't open a bug report, I chose "open a regular issue".

<img width="785" alt="Screen Shot 2019-03-23 at 18 15 54" src="https://user-images.githubusercontent.com/43443121/54869957-dcb8a680-4d97-11e9-91b5-7f7f19cd3cb2.png">

I have also created tax rules. Did I not say above that I have created 20% VAT? I did.

<img width="1814" alt="Screen Shot 2019-03-23 at 18 19 09" src="https://user-images.

[2019-03-23 18:46] OhHeyAlan commented on #10676
I'm facing the same problem with the Freego theme and Magento 2.3

[2019-03-23 20:25] mage2pratik opened #21910 "Magento backend catalog "MSRP" without currency symbol"
### Preconditions (*)

1. Magento 2.3.X
2. Magento 2.2.X

### Steps to reproduce (*)

1. Admin Menu > Stores > Settings > Configuration > Sales > Minimum Advertised Price = Yes
2. Navigate to admin catalog product grid
3. Using "Columns" selection, add 'Manufacturer's Suggested Retail Price'(MSRP) column in the grid

### Expected result (*)

1. "MSRP" will be shown with currency code

### Actual r

[2019-03-23 20:26] magento-engcom-team commented on #21910
Hi @mage2pratik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-23 20:53] orlangur commented on #10676
@prdptom @OhHeyAlan no way to fix it from Magento side, should be fixed by theme vendor.

[2019-03-24 00:02] Ctucker9233 commented on #19245
@engcom-backlog-nazar This issue was reported against 2.2. Unless the fix is BiC, shouldn't this remain open until a fix is delivered to 2.2?

[2019-03-24 12:55] tomekjordan opened #21912 "Magento 2.3 & 2.3.1 develop cron indexing is not working"
### Preconditions (*)

Magento 2.3.0 or latest 2.3.x develop version
PHP 7.1.27
Debian 9 x64

### Steps to reproduce (*)

1. Install vanilla Magento 2.3.0 or latest 2.3.x develop version
2. Set indexes to be updated by schedule
3. Crontab is working and its correctly set with */1
php -f /home/admin/domains/domain.com/public_html/bin/magento cron:run >/dev/null 2>&1

### Expected result (*)

1. Cor

[2019-03-24 12:55] magento-engcom-team commented on #21912
Hi @tomekjordan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-24 12:58] Nazar65 commented on #21780
HI @msawyers you have wrong data in checkout, please debug your case, because this not reproducible on 2.3-dev instance
![DeepinScreenshot_select-area_20190324145601](https://user-images.githubusercontent.com/2481206/54879738-388d3900-4e45-11e9-9b2a-b460232358aa.png)

[2019-03-24 13:38] snoroozi commented on #21893
@orlangur I put server on 7.1 again to collect any error logs for you and magically it worked without issue this time. Oh well. Feel free to close this issue.

[2019-03-24 13:38] #21893 closed, assigned to nobody

[2019-03-24 15:07] orlangur commented on #21910
Same steps applicable to Special Price field also. Whoever will fix it, please fix both cases within the same issue.

@mage2pratik, please do not set labels like `Reproduced on ...` by yourself.

[2019-03-24 15:15] magento-engcom-team commented on #21510
Hi @ccasciotti. Thank you for your report.
The issue has been fixed in magento/magento2#21576 by @ccasciotti in 2.2-develop branch
Related commit(s):
 - [2c956f661caf1a10b1b6e6afea185fd473313fd3](https://github.com/magento/magento2/commit/2c956f661caf1a10b1b6e6afea185fd473313fd3)
 - [d5ed9e89b41c6d407869d4cf00f8293fb5f6e41f](https://github.com/magento/magento2/commit/d5ed9e89b41c6d407869d4cf00f829

[2019-03-24 15:15] magento-engcom-team commented on #12396
Hi @Chei20. Thank you for your report.
The issue has been fixed in magento/magento2#21845 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [9529d318c284fc153b4edba9c24b428e57395b95](https://github.com/magento/magento2/commit/9529d318c284fc153b4edba9c24b428e57395b95)
 - [362bbf239373ed70d11da43b04a861b76e5d4190](https://github.com/magento/magento2/commit/362bbf239373ed70d11da43b04a861b76e5d

[2019-03-24 15:15] magento-engcom-team commented on #21062
Hi @novikor. Thank you for your report.
The issue has been fixed in magento/magento2#21543 by @novikor in 2.2-develop branch
Related commit(s):
 - [9f0ef596df5e7e97d4057e4a84eaf18f08cbb5e0](https://github.com/magento/magento2/commit/9f0ef596df5e7e97d4057e4a84eaf18f08cbb5e0)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-24 15:15] orlangur commented on #5453
@ishakhsuvarov @sidolov to avoid such kind of issues in the future, simply make testing Composer-based installation of Magento a mandatory step of release process.

If it does not really work well for some test types, like functional, or require too much efforts, those can fall to `markTestSkipped` detecting the incompatible environment via test listener or something.

[2019-03-24 15:32] Berdir commented on #21904
\Magento\MysqlMq\Setup\Recurring::install is another class that uses the deprecated service and isn't working anymore.

Here's my fix for that:

        $queues = [];
        foreach ($this->messageQueueConfig->getQueues() as $queue) {
            $queues[] = $queue->getName();
        }

[2019-03-24 20:27] magento-engcom-team commented on #21573
Hi @Frodigo. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-24 21:27] deepakgairola25 commented on #10142
The issue is still there in version 2.3, if we order same quantity which is available and process through  checkout.
as soon as you get redirect after the payment magento redirects to the shopping cart page  with 3-4 errors.
--> The customer thinks the order is not placed - but he has payed for it.
So the service overloads at all.
After that when next time we increate the quantitym the default sto

[2019-03-24 22:26] onepack opened #21914 "Magento 2.3 Import customer addresses _address_default_shipping_ not working"
### Preconditions (*)

1. Magento 2.3
2. PHP 7.2
3. No sample data

### Steps to reproduce (*)

1. First import all customers with a customer main file.
2. Import all addresses as default billing and default shipping.
2. Create an 3th import file with all customers that have an extra addresses for shipping that is default.
3. Set _address_default_billing_ to 0 and _address_default_shipping_ to 1.

[2019-03-24 22:26] magento-engcom-team commented on #21914
Hi @onepack. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-24 23:23] onepack commented on #21914
M2.3 is in developer mode
I have deleted all generated files
Two modules that might interfere with the customer logic were disabled. (Mailchimp by Ebizmarts and login as customer by magefan.)
I have cleared the import history.
Renamed the .csv file.
Set the error count to 1.

Nothing in the logs
Just always an overwrite of the default billing.

I can manually add a new address but the import fails

[2019-03-25 00:38] tschirmer commented on #10735
Was this ever fixed?

[2019-03-25 04:11] hmphu commented on #21912
@tomekjordan Could you please run the command `php bin/magento magep indexer:status` and see the Schedule Status colum? Is this always in working status despite the backlog number is still increase?

[2019-03-25 04:38] magento-engcom-team commented on #21910
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-25 04:39] krishprakash commented on #21910
@magento-engcom-team give me 2.3-develop instance

[2019-03-25 04:39] magento-engcom-team commented on #21910
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-25 04:40] magento-engcom-team commented on #21910
Hi @krishprakash, here is your [Magento instance](https://i-21910-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21910-2-3-develop.instances.magento-community.engineering/admin](https://i-21910-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-25 04:48] krishprakash commented on #21910
@magento-engcom-team give me 2.2-develop instance

[2019-03-25 04:48] magento-engcom-team commented on #21910
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-25 04:49] magento-engcom-team commented on #21910
Hi @krishprakash, here is your [Magento instance](https://i-21910-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21910-2-2-develop.instances.magento-community.engineering/admin](https://i-21910-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-25 05:14] maddumarala commented on #21888
@htmyheart
1.1 conditions SKU is (select the three simple product)
Why do you put three simple product when the condition is "IS".
'SKU is' for singular use.You can use contains or is one of for multiple SKUs.

[2019-03-25 06:17] karthi5053 commented on #21894
When trying to add

'system' => [
        'default' => [
            'dev' => [
                'debug' => [
                    'debug_logging' => NULL
                ]
            ]
        ]
    ]
in app/etc/env.php, i'm getting below while running setup upgrade.
Fatal error: Uncaught TypeError: Argument 2 passed to Magento\Framework\Stdlib\ArrayManager::get() must be of the type array, boolea

[2019-03-25 06:18] czokie opened #21915 "Magento 2.3 install without composer"
### Preconditions (*)
1. Magento 2.3
2. BlueOnyx 5209R server (Centos 7.x based)
3. Apache 2.4.6
4. PHP 7.3.3
5. FPM/FastCGI for PHP invocation
6. MariaDB 5.6.60

### Requirement
Need to install without using Composer by using either CLI install or setup.php install. End goal is to have this wrapped into a package that will install on BlueOnyx (similar to say a Plesk or installation installer). Yo

[2019-03-25 06:18] magento-engcom-team commented on #21915
Hi @czokie. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-25 06:22] czokie commented on #21915
Note: Reproduce question is not applicable. Vanilla instance build would use composer. This is attempting an install without composer, in accordance with your documentation for this install variant.

[2019-03-25 06:36] karthi5053 commented on #21894
Upon adding the below, in app/etc/env.php
'cron_consumers_runner' => [
        'cron_run' => false,
        'max_messages' => 10000,
        'consumers' =>
        [],
    ],

Still, the messages from Rabbitmq is processed by cron job. I want this to be executed by
php bin/magento queue:consumer:start <consumer name> command.

[2019-03-25 07:05] wclshashank opened #21916 "Elasticsearch6 generation does not exist"
### Preconditions (*)

1. Getting issue while upgrade magento 2.3 to Magento 2.3.1
2. Using Php 7.1.27 version on ubuntu OS

### Steps to reproduce (*)

1. After upgrade magento version getting issue on di:compile like

2. I have checked class manually, it doesn't exist.

### Expected result (*)

1. Issue doesn't appear di compile need to work properly.

### Actual result (*)

1. ![image](https://

[2019-03-25 07:06] magento-engcom-team commented on #21916
Hi @wclshashank. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-25 07:32] magento-engcom-team commented on #21916
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-25 07:36] engcom-backlog-nazar commented on #21916
Hi @wclshashank the 2.3.1 release will be 26 how can you upgrade ?

[2019-03-25 07:38] magento-engcom-team commented on #21897
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-25 07:38] engcom-backlog-nazar commented on #21897
Hi @paul-gene
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-25 07:38] #21897 closed, assigned to nobody

[2019-03-25 07:39] magento-engcom-team commented on #21909
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-25 07:41] wclshashank commented on #21916
HI @engcom-backlog-nazar ,

Ok got it, I didn't check the release date and try to upgrade magneto2 version.

Thanks.

[2019-03-25 07:51] engcom-backlog-nazar commented on #21916
@wclshashank i'm closing this as magento 2.3.0 do not have Elasticsearch 6 module only develop branch. and on 2.3-develop have no no this issue.
![DeepinScreenshot_select-area_20190325094955](https://user-images.githubusercontent.com/40756439/54902991-793b8f80-4ee3-11e9-84f3-439d5aac9484.png)

[2019-03-25 07:54] engcom-backlog-nazar commented on #21909
@magento-engcom-team give me 2.3-develop instance

[2019-03-25 07:54] magento-engcom-team commented on #21909
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-25 07:55] magento-engcom-team commented on #21909
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21909-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21909-2-3-develop.instances.magento-community.engineering/admin](https://i-21909-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-25 07:55] magento-engcom-team commented on #21903
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-25 07:56] engcom-backlog-nazar commented on #21903
Hi @rgarner1987   i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2019-03-25 07:56] #21903 closed, assigned to nobody

[2019-03-25 07:57] magento-engcom-team commented on #21912
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-25 08:07] magento-engcom-team commented on #21894
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-25 08:11] engcom-backlog-nazar commented on #21894
Hi @karthi5053 thank you for you report, i;m not able to reproduce following steps you described, and at this screenshot you can see, that consumer not runs by cron if configuration disabled.
![DeepinScreenshot_select-area_20190325100706](https://user-images.githubusercontent.com/40756439/54904066-1a2b4a00-4ee6-11e9-89dd-e5f8a2a397be.png)

[2019-03-25 08:11] #21894 closed, assigned to nobody

[2019-03-25 08:36] amol2jcommerce commented on #21910
@magento-engcom-team give me 2.3-develop instance

[2019-03-25 08:36] magento-engcom-team commented on #21910
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-25 08:37] magento-engcom-team commented on #21910
Hi @amol2jcommerce, here is your [Magento instance](https://i-21910-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21910-2-3-develop.instances.magento-community.engineering/admin](https://i-21910-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-25 08:40] gianisimone commented on #21891
@hostep I think it is a little bit different. In my case error messages translations work if I comment out the piece of code where I customize the errorPlacement callback. Without that part of code translations work fine for me.

[2019-03-25 08:54] netzkollektiv commented on #10735
@tschirmer
They now use `max.forEach` instead of `max.each`, so I believe it is fixed.
But I did not have time yet to look back into it.

[2019-03-25 09:00] Swahjak commented on #6942
@TomashKhamlai why was this issue closed while PR https://github.com/magento/magento2/pull/16428 and https://github.com/magento/magento2/pull/14129 have never been merged? It seems to me that https://github.com/mrIntegrator/magento2/blob/2.3-develop/lib/internal/Magento/Framework/View/Model/Layout/Merge.php#L441 hasn't changed either and I assume this issue still exists.

We've been having the sam

[2019-03-25 09:04] engcom-backlog-nazar commented on #21909
Hi @Zyles duplicate to this -> https://github.com/magento/magento2/issues/21299

[2019-03-25 09:04] #21909 closed, assigned to nobody

[2019-03-25 09:10] engcom-backlog-nazar commented on #21888
HI @htmyheart thank you for you report, this is non-issue please use  **is one of**

[2019-03-25 09:23] magento-engcom-team commented on #21907
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-25 09:49] magento-engcom-team commented on #21902
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-25 09:52] engcom-backlog-nazar commented on #21902
Hi @rgarner1987   i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading. also please refer to -> https://devdocs.magento.com/guides/v2.3/config-guide/multi-site/ms_websites.html

[2019-03-25 09:52] #21902 closed, assigned to nobody

[2019-03-25 10:17] josefbehr commented on #19441
@davidalger That "fix" did not fix the problem for me (and apparently others), when applied, so either there is a secondary problem in some circumstances, or this change does _not_ completely fix the occurrence of this error. At least that's my conclusion. If you insist, we can close this issue, but won't that kinda dismiss the other experiences? I might open another issue for that, though.

[2019-03-25 10:23] magento-engcom-team commented on #21915
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-25 10:34] engcom-backlog-nazar commented on #21915
HI @czokie thank you for you report i'm not able to reproduce following steps you described. https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli.html
![DeepinScreenshot_select-area_20190325123120](https://user-images.githubusercontent.com/40756439/54912741-ebb76a00-4ef9-11e9-96f6-abe6b5ecc1d3.png)
![DeepinScreenshot_select-area_20190325123359](https://user-images.githubuser

[2019-03-25 10:34] #21915 closed, assigned to nobody

[2019-03-25 10:45] czokie commented on #21915
Um. I don't see how that is possible. Remember, your test suite is installing vanilla builds that may have a composer file already created.

Looking at the flow:
1. setup/index.php includes app/bootstrap.php
2. bootstrap.php includes app/autoload.php
3. autoload.php looks for ../vendor/autoload.php which does not exist, and an exception is thrown.

For this to work on your test server, vendor/auto

[2019-03-25 10:48] engcom-backlog-nazar commented on #21915
@czokie I'm just downloaded packege from -> https://magento.com/tech-resources/download
and install via command line.

[2019-03-25 10:51] czokie commented on #21915
ACK> I downloaded from GitHub release archive - I will try to get a copy from there - it is possible that there is a difference in that file and those provided on GitHub. I will advise after I get the archive from the link you provided.

[2019-03-25 11:26] czokie commented on #21915
Confirmed - the GitHub archive release files are not the same as the files on the link you provided. I am yet to test, but I am confident that will resolve the issue. Can I humbly suggest it might be worthwhile providing copies  of the full release files on GitHub going forward as an option.

[2019-03-25 11:35] magento-engcom-team commented on #21910
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-25 11:39] magento-engcom-team commented on #21910
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98854`, `MAGETWO-98855` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-25 11:41] dmytro-ch commented on #21910
The issue is reproducible for both 2.2.x and 2.3.x versions.
![Screen Shot 2019-03-25 at 1 40 45 PM](https://user-images.githubusercontent.com/11693779/54917103-b9126f00-4f03-11e9-9568-8f4b831b2bf2.png)

[2019-03-25 11:50] magento-engcom-team commented on #21741
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-25 11:52] htmyheart commented on #21888
I'm sorry but please check and test before ask me any thing @maddumarala

1. With condition SKU "is":
I created new rule: Change final price product with condition SKU "is" 24-MB01. But, nothing change!

2. With condition SKU "is one of" 24-MB04, 24-MB03, 24-MB05. Only first product with sku 24-MB04 change new price. Products 24-MB03, 24-MB05 nothing change.

3. With condition  SKU "containt" 24-M

[2019-03-25 11:53] syno-bvo commented on #19590
I had this error once because of the length of the "crypt key" in the app/etc/env.php file

[2019-03-25 11:58] engcom-backlog-nazar commented on #21888
@htmyheart sorry, i'm misunderstood, if you select all three SKU, Issue is reproducible, if you select is one of and the list of products, then the price is set only for the first product from the list.

[2019-03-25 12:06] htmyheart commented on #21888
@engcom-backlog-nazar thank you very much. I'm sorry for my last message. I'm also sorry @maddumarala

Ok, back to this issue, I only list 3 cases to make example. And you can compare case 1 and case 3 to see what issue is. And if you can, please check again and let me know if you need anything.

Thank you very much.

[2019-03-25 12:06] magento-engcom-team commented on #21888
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98856`, `MAGETWO-98857` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-25 12:06] rhendry-clevagroup commented on #12289
I have the same issue happening on Products -> Catalog.

Preconditions: Magento 2.2.6
Steps to reproduce: A catalog of +2500 products, +250 attributes, +15 attribute sets.
Expected result: Catalog listing in a reasonable time.
Actual result: Catalog listing in 3-5 minutes or more.

[2019-03-25 12:11] engcom-backlog-nazar commented on #21912
HI @tomekjordan thank you for you report i;m not able to reproduce following steps you described.
![DeepinScreenshot_select-area_20190325141035](https://user-images.githubusercontent.com/40756439/54918780-d21d1f00-4f07-11e9-9b81-005eb6be8639.png)

[2019-03-25 12:28] magento-engcom-team commented on #21907
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98858`, `MAGETWO-98859` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-25 13:06] dmytro-ch commented on #21741
@magento-engcom-team give me 2.2-develop instance

[2019-03-25 13:06] magento-engcom-team commented on #21741
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-25 13:07] magento-engcom-team commented on #21741
Hi @dmytro-ch, here is your [Magento instance](https://i-21741-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21741-2-2-develop.instances.magento-community.engineering/admin](https://i-21741-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-25 13:19] dmytro-ch commented on #21741
Hi @ihor-sviziev,
I could not reproduce the issue on both 2.3 and 2.2 develop branches by following the steps mentioned in description.
Could you please check if the issue still reproducible for you on a clean instance?

Thank you!

[2019-03-25 13:27] ihor-sviziev commented on #21741
@magento-engcom-team give me 2.2.7 instance

[2019-03-25 13:28] magento-engcom-team commented on #21741
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-03-25 13:28] magento-engcom-team commented on #21741
Hi @ihor-sviziev, here is your [Magento instance](https://i-21741-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-21741-2-2-7.instances.magento-community.engineering/admin](https://i-21741-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-25 13:34] ihor-sviziev commented on #21741
Hi @dmytro-ch,
I double checked, this issue exists in 2.2.7, but doesn't exists in 2.2-develop. I think situation with 2.3.x - the same.
I'm closing this Issue as already fixed.

[2019-03-25 13:34] #21741 closed, assigned to dmytro-ch, KateRusakova

[2019-03-25 13:40] magento-engcom-team commented on #21914
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-25 13:53] magento-engcom-team commented on #20825
Hi @ianitsky. Thank you for your report.
The issue has been fixed in magento/magento2#21820 by @kisroman in 2.3-develop branch
Related commit(s):
 - [c4f8496dfc4434cc367c101f660e5f318140d502](https://github.com/magento/magento2/commit/c4f8496dfc4434cc367c101f660e5f318140d502)
 - [933d35d903dfc135d9f753073fd87802f2d57a12](https://github.com/magento/magento2/commit/933d35d903dfc135d9f753073fd87802f2

[2019-03-25 13:53] #20825 closed, assigned to nainesh2jcommerce, kisroman

[2019-03-25 13:53] magento-engcom-team commented on #20859
Hi @saphaljha. Thank you for your report.
The issue has been fixed in magento/magento2#21851 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [f8b9147302c6a5c81ee180f13ebc2bc544c5fea3](https://github.com/magento/magento2/commit/f8b9147302c6a5c81ee180f13ebc2bc544c5fea3)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-25 13:53] magento-engcom-team commented on #21396
Hi @niravkrish. Thank you for your report.
The issue has been fixed in magento/magento2#21399 by @Dharmeshvaja91 in 2.3-develop branch
Related commit(s):
 - [f1e2ffffafe5f70517ee6d65bcce9550d2b92c34](https://github.com/magento/magento2/commit/f1e2ffffafe5f70517ee6d65bcce9550d2b92c34)
 - [8a872be9be8c9932bf78a49fa7b33f05e92cada6](https://github.com/magento/magento2/commit/8a872be9be8c9932bf78a49fa7

[2019-03-25 13:53] #21396 closed, assigned to Dharmeshvaja91

[2019-03-25 13:53] magento-engcom-team commented on #21374
Hi @erfanimani. Thank you for your report.
The issue has been fixed in magento/magento2#21376 by @niravkrish in 2.3-develop branch
Related commit(s):
 - [4744c9314cf37bfefed1be9b56112a98b9fd4fc1](https://github.com/magento/magento2/commit/4744c9314cf37bfefed1be9b56112a98b9fd4fc1)
 - [60c59f6853cd8318e890fb6e82a717fa485360dd](https://github.com/magento/magento2/commit/60c59f6853cd8318e890fb6e82a717

[2019-03-25 13:53] #21374 closed, assigned to niravkrish

[2019-03-25 13:53] magento-engcom-team commented on #21692
Hi @Bartlomiejsz. Thank you for your report.
The issue has been fixed in magento/magento2#21693 by @Bartlomiejsz in 2.3-develop branch
Related commit(s):
 - [28b047ec570fce2752960668e5b4e6eda21593b4](https://github.com/magento/magento2/commit/28b047ec570fce2752960668e5b4e6eda21593b4)
 - [b92ffa24299d32b62d2a211aa7756d866ad13154](https://github.com/magento/magento2/commit/b92ffa24299d32b62d2a211aa7

[2019-03-25 13:53] #21692 closed, assigned to Bartlomiejsz

[2019-03-25 13:53] magento-engcom-team commented on #21752
Hi @Bartlomiejsz. Thank you for your report.
The issue has been fixed in magento/magento2#21693 by @Bartlomiejsz in 2.3-develop branch
Related commit(s):
 - [28b047ec570fce2752960668e5b4e6eda21593b4](https://github.com/magento/magento2/commit/28b047ec570fce2752960668e5b4e6eda21593b4)
 - [b92ffa24299d32b62d2a211aa7756d866ad13154](https://github.com/magento/magento2/commit/b92ffa24299d32b62d2a211aa7

[2019-03-25 13:53] #21752 closed, assigned to Bartlomiejsz

[2019-03-25 14:34] korostii commented on #9482
Hi @TejaBhagavan

If this is still a problem for you, FYI Magento now includes "MultiSource Inventory (MSI)" feature out of the box since version 2.3.0, so maybe try upgrading.

( https://magento-devdocs.github.io/devdocs-for-tests/guides/v2.3/release-notes/ReleaseNotes2.3.0Commerce.html )

[2019-03-25 14:37] TOIVI291 commented on #15654
@pmathbliss  Okay thanks i got the query working, but if i want to retrieve the products on sale, i don't get any products, while i got products before the query. Did you have problems with this to?

[2019-03-25 15:02] frostblogNet opened #21923 "EAV Attibute argument attribute_set_id is ignored"
According to this magento documentation (https://devdocs.magento.com/guides/v2.3/extension-dev-guide/attributes.html) it is possible to assign a new attibute directly to a attribute set using the parametert attribute_set_id.

### Preconditions (*)
1. magento 2.3.0 CE and EE

### Steps to reproduce (*)
1. Create a Attibute Set which is a child of the default attribute set
2. Now create a update dat

[2019-03-25 15:02] magento-engcom-team commented on #21923
Hi @frostblogNet. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-25 15:17] wojtekn commented on #21134
@antbates1991 could you provide some insight on why it was closed?

[2019-03-25 15:20] lecporter opened #21924 "One of our new Administrator Users can't view Orders"
### Summary (*)
I added a new user to our system today, so we now have 10 users in total. She has the same settings as every other user here, set as an Administrator.
We are all able to view the 'Orders' in our system, except this new user who cannot.
There are no filters applied in the Orders section, it says there are 0 records there. Is this normal?

### Examples (*)

![s](https://user-images.g

[2019-03-25 15:20] magento-engcom-team commented on #21924
Hi @lecporter. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-25 15:39] digikeijs commented on #21924
@magento-engcom-team give me 2.3-develop instance

[2019-03-25 15:40] magento-engcom-team commented on #21924
Hi @digikeijs. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-25 17:00] HellgaM commented on #11411
Looks like this repeats when you have the site opened in 2 browsers in the same time, please check https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/110656/

[2019-03-25 17:06] tomekjordan commented on #21912
admin@serwer:~/domains/domain.com/public_html/3$ php bin/magento indexer:status
+----------------------+------------------+-----------+---------------------+---------------------+
| Title                | Status           | Update On | Schedule Status     | Schedule Updated    |
+----------------------+------------------+-----------+---------------------+---------------------+
| Catalog Product Ru

[2019-03-25 17:15] davidalger commented on #19441
@josefbehr I don’t want to argue, but I see nothing in any of the above indicating anyone else on this thread tried the change in PR #21549. This is a different change than the other mentioned PRs and it _does_ fix calling out to HTTP2 endpoints from a system with HTTP2 enabled curl libraries. There is sample code on the PR that proves this. It doesn’t do it by attemping to fix the parsing of HTTP

[2019-03-25 17:19] jorgehs91 commented on #6682
Do we have any other option to fix this?
I'm running 2.2.6 and this still occuring.

I think @raibelbotta 's solution may work, but is a little painful override the admin theme for me.

Thanks

[2019-03-25 17:57] tomekjordan commented on #21912
UPDATE: dont know if the problem is not related to the timezone in the store.

admin@serwer:~/domains/domain.com/public_html$ php bin/magento indexer:reindex
Design Config Grid index has been rebuilt successfully in 00:00:00
Customer Grid index has been rebuilt successfully in 00:00:00
Category Products index has been rebuilt successfully in 00:00:00
Product Categories index has been rebuilt succe

[2019-03-25 18:07] marcusirgens opened #21925 "Interception generation does not follow the same rules in different modes"
### Summary
In developer mode, interceptors are created for any class. In production mode, only certain classes are intercepted.

### Examples (*)
In `production` mode, the `setup:di:compile` command [only covers code registered as components, or in certain directories](https://github.com/magento/magento2/blob/677f1b6a463e4b1185ce33bb33d9cadf7c28db1a/setup/src/Magento/Setup/Console/Command/DiCompi

[2019-03-25 18:07] magento-engcom-team commented on #21925
Hi @marcusirgens. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-25 18:10] tomekjordan commented on #21912
Sorry, we can close, cron was not working due to it was not set according to Magento manual for M2.
It was created manually instead of php bin/magento cron:install.
This command helped with all things

Please close

[2019-03-25 18:26] ElundKasper commented on #10162
Where is the file located and its the OneStepCheckout extension right?
Have the problem that order witout payment gets send out the order email confirmation.

[2019-03-25 19:21] likemusic opened #21926 "Exception on reorder from admin"
### Preconditions (*)
1. Latest Magento 2.2-develop or 2.3-develop.

### Steps to reproduce (*)
1. Create product with:
  - Minimum Qty Allowed in Shopping Cart: 0.01
  - Qty Uses Decimals: Yes
2. Place from fronent order with Qty: 0.1.
3. Change product with:
  - Minimum Qty Allowed in Shopping Cart: 1
  - Qty Uses Decimals: No
4. From Admin open order and click "Reorder".

### Expected result (*

[2019-03-25 19:21] magento-engcom-team commented on #21926
Hi @likemusic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-25 19:23] tzyganu commented on #15545
@engcom-backlog-pb Can you explain in 50 words or less what exactly is causing this problem? Maybe we can bypass it until the official fix is released.
This is causing real problems and some people cannot afford to wait for the fix.
Thanks in advance

[2019-03-25 19:34] likemusic commented on #21926
It happens because in [\Magento\CatalogInventory\Model\StockStateProvider::checkQuoteItemQty()#L122](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/CatalogInventory/Model/StockStateProvider.php#L122) decimal qty from orderconverted to int value. For deciamals less then 1 it becomes zero.

Seems that here for decimal qty minimum value should be set to 1 if it is 0 after casti

[2019-03-25 20:17] magento-engcom-team commented on #21926
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-25 20:20] magento-engcom-team commented on #21926
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98862` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-25 21:04] sdzhepa commented on #20444
Hello @priti2jcommerce

Thank you for contribution and collaboration!

I checked this issue on the latest `2.3-develop` branch on the Magento Commerce version.
And this issue was already fixed and cannot be reproduced by provided steps from the description

![20444](https://user-images.githubusercontent.com/3409584/54953994-9427f700-4f17-11e9-9940-c45484c1589b.jpg)

[2019-03-25 21:04] #20444 closed, assigned to priti2jcommerce, irajneeshgupta

[2019-03-25 21:38] talalus commented on #5301
from https://github.com/magento/magento2/issues/10107#issue-239735117
copy vendor/magento/module-theme/view/frontend/web/js/view/messages.js to your theme file, and at the end of initialize function add:`
$(window).on('beforeunload', function () {
    $.cookieStorage.set('mage-messages', '');
});
`

[2019-03-26 00:18] Janagiramramakrishnan commented on #13225
I have enabled the merge JS & CSS, minification JS & CSS and bundled JS options. I have set up multiple instances and turned on the cloud front caching in AWS. But whenever the deployment is initiated through AWS code pipeline and merged JS and CSS files are missing and the website page is broken.

**Current Flow:**
- Checked the pub/static/_cache/merged/ folder from instance 1 and instance 2. But

[2019-03-26 04:10] me2r036 commented on #2816
@likemusic same here, bin/magento setup:upgrade solved the problem

[2019-03-26 04:20] msawyers commented on #21780
![dhl](https://user-images.githubusercontent.com/8907629/54971424-601ef700-4f54-11e9-81f9-964a3f93dadd.PNG)

I am getting same error no matter the destination. i tried wrong credentials and received wrong credential response. i tried right credentials n receive response but no rates displayed. not certain how to fix. is there a specific configuration i need to follow?

[2019-03-26 04:26] msawyers commented on #21780
[shipping (8).log](https://github.com/magento/magento2/files/3006493/shipping.8.log)

[2019-03-26 04:38] msawyers commented on #21780
Can you provide me a link to an instance to check if same issue occurs

[2019-03-26 04:40] Ridik123 commented on #21452
I am not sure about 2.2.7 but these patches work absolutely fine for me on 2.2.5.

[2019-03-26 05:09] noesisconsultancy commented on #17436
We are also having same issue
while doing
“edit configurations” then select “update all sku images”

{
"0":"Notice: Undefined variable: product in vendor/magento/module-catalog/Controller/Adminhtml/Product/Save.php on line 150",
"1":"#0 vendor/magento/module-catalog/Controller/Adminhtml/Product/Save.php(150): Magento\Framework\App\ErrorHandler->handler(8, 'Undefined varia...', '/opt/bitnami/ap...'

[2019-03-26 05:34] noesisconsultancy commented on #17436
and when we press back
it shows this error in red

Unique constraint violation found

[2019-03-26 06:24] nadeefit6 commented on #13466
The issue can be reproduced in 2.2.7 as well.
Other than "Asynchronous sending" Invoice email sending is not developed in Paypal module.

[2019-03-26 06:26] magento-engcom-team commented on #13466
Hi @nadeefit6. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-03-26 06:39] R-K-Shrivastaw commented on #21487
Hi @Jitheesh
I am facing the same error in  my development magento 2.3.0 CE
Currency import Undefined index error , If resolved this error please commit.

[2019-03-26 06:58] Jitheesh commented on #21487
Hi @R-K-Shrivastaw
I've resolved this issue on PR #21497 Please check this fix on your instance.

[2019-03-26 07:01] nchalias commented on #7413
Also testing this with Magento 2.3.0, the problem is not resolved.

[2019-03-26 07:16] R-K-Shrivastaw commented on #21487
Hi @Jitheesh I am not finding the option to input theCurrency Converter API key under the currency setup
![screenshot-confidentialcouture co in-2019 03 26-12-53-04](https://user-images.githubusercontent.com/22189060/54978055-21755500-4fc5-11e9-97f9-9e095034836f.png)

[2019-03-26 07:21] nadeefit6 opened #21931 "Afterpay invoice email"
### Summary (*)

### Examples (*)

### Proposed solution

[2019-03-26 07:21] magento-engcom-team commented on #21931
Hi @nadeefit6. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-26 07:26] Jitheesh commented on #21487
PR is still under review and it is not merged to Magento core code.  You can test this from Magento develop instance Admin access: https://pr-21497.instances.magento-community.engineering/admin
Login: admin Password: 123123q

[2019-03-26 07:33] magento-engcom-team commented on #21931
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-26 07:36] engcom-backlog-nazar commented on #21912
@tomekjordan i think cron must run magento every time but not */1 (every minute), i'm closing this one, as this is non-issue. Thanks for collaboration.

[2019-03-26 07:36] #21912 closed, assigned to nobody

[2019-03-26 07:38] engcom-backlog-nazar commented on #21912
@tomekjordan on first example you run php on second php71 this may be the problem

[2019-03-26 07:41] engcom-backlog-nazar commented on #21780
@magento-engcom-team give me 2.3-develop instance

[2019-03-26 07:41] magento-engcom-team commented on #21780
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-26 07:41] engcom-backlog-nazar commented on #21931
Hi @nadeefit6 thank you for you report,
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results
Then please reopen the issue.

[2019-03-26 07:41] #21931 closed, assigned to nobody

[2019-03-26 07:41] magento-engcom-team commented on #21780
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21780-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21780-2-3-develop.instances.magento-community.engineering/admin](https://i-21780-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-26 07:47] engcom-backlog-nazar commented on #21780
@msawyers on vanilla instance
![DeepinScreenshot_select-area_20190326094739](https://user-images.githubusercontent.com/40756439/54979596-3a254100-4fac-11e9-80de-5fc2fd42ec91.png)

[2019-03-26 07:49] msawyers commented on #21780
Hi, allow me to check with my credentials

[2019-03-26 07:50] engcom-backlog-nazar commented on #21780
@msawyers type password 123123q^

[2019-03-26 07:53] engcom-backlog-nazar commented on #21871
Hi @jonathan-may we are not able to reproduce following steps you described, this may be related to your custom code or module, please retest on clean magento 2.3? and if issue still exist feel free to reopen this issue. thanks for collaboration.

[2019-03-26 07:53] #21871 closed, assigned to nobody

[2019-03-26 07:54] magento-engcom-team commented on #21923
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-26 07:58] msawyers commented on #21780
![image](https://user-images.githubusercontent.com/8907629/54980072-c581e080-4f72-11e9-82c0-1e0d118e1ce5.png)

it works with my credentials. I will have to check for issues on my instance of the application and let you know my findings. thanks. Kindly send me the shipping debug logs

[2019-03-26 07:58] engcom-backlog-nazar commented on #21134
Hi @antbates1991 please explain reason why you close this issue, we don't do like that just closing issue without reason.

[2019-03-26 08:00] engcom-backlog-nazar commented on #21780
@msawyers I can't, on this instance i have no access to log files :(

[2019-03-26 08:02] msawyers commented on #21780
Okay thank you though, when i figure out the issue I will update the ticket.

[2019-03-26 08:07] magento-engcom-team commented on #21924
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-26 08:09] engcom-backlog-nazar commented on #21924
Hi  @lecporter

The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-26 08:09] #21924 closed, assigned to nobody

[2019-03-26 08:26] engcom-backlog-nazar commented on #21923
HI @frostblogNet thank you for you report, this is duplicate to this -> https://github.com/magento/magento2/issues/14793

[2019-03-26 08:26] #21923 closed, assigned to nobody

[2019-03-26 08:26] msawyers commented on #21780
Hello, i found the issue on your instance of application.

The rates fail to show when base currency is in Jamaica dollars. please check.

![image](https://user-images.githubusercontent.com/8907629/54981626-c0bf2b80-4f76-11e9-94c7-25d110f0c9e5.png)

[2019-03-26 08:41] magento-engcom-team commented on #21747
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98864`, `MAGETWO-98865` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-26 08:48] frostblogNet commented on #14793
Hi together,

This issue is not solved with changing the devdocs. Corrently if you want to add a product attribute which is not assinged to the default set, this is not possible. You only can delete it from default using the admin backend. This is not realy handy. The stackoverflow posts is only showning a solution where you can add it to another set. But it will be assigned to this set anyways be

[2019-03-26 09:00] magento-engcom-team commented on #21925
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-26 09:16] engcom-backlog-nazar commented on #21780
@msawyers you don't set the currency rate, so you get the error, after i'm set the rate,  DHL appears.

[2019-03-26 09:20] magento-engcom-team commented on #21914
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98867`, `MAGETWO-98868` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-26 09:28] engcom-backlog-nazar commented on #21925
Hi @marcusirgens thank you for your report, this is expected behavior. but not documented in dev docs.

[2019-03-26 09:28] #21925 closed, assigned to nobody

[2019-03-26 09:29] magento-engcom-team commented on #21900
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-26 09:52] #13211 closed, assigned to routbiplab

[2019-03-26 09:55] magento-engcom-team commented on #21904
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-26 09:55] wjpbill commented on #21452
Thank you for the reply @Ridik123

Sorry to sound stupid but any ideas on what the differences between the two versions?
Is one just a composer install version?

[2019-03-26 09:56] engcom-backlog-nazar commented on #21904
Hi @Berdir where you get the deprecated `getQueuesByTopic` ? because this is not deprecated.
![DeepinScreenshot_select-area_20190326115534](https://user-images.githubusercontent.com/40756439/54987940-2682d600-4fbe-11e9-8ecc-2ef01ea62817.png)

[2019-03-26 10:08] magento-engcom-team commented on #21904
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98869` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-26 10:08] Ridik123 commented on #21452
@wjpbill  the major changes on these versions are based over security concerns.
I suggest you make a clone of the current live version and try on it.

[2019-03-26 10:15] Berdir commented on #21904
I bit confused about all the automated updates, I'm new to this. Got a notifcation about a question how I see it is deprecated, but that seems to be have been deleted again, the whole interface is completely deprecated: \Magento\Framework\MessageQueue\ConfigInterface, it is the API for the 2.2-style events.xml configuration. I'm pretty confused about the deprecation process here.

As I said, happy

[2019-03-26 10:17] magento-engcom-team commented on #21874
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-26 10:17] engcom-backlog-nazar commented on #21904
HI @Berdir feel free to provide a PR, i'm just little bit confused and dont see that all class are deprecated. the issue is confirmed.

[2019-03-26 10:40] magento-engcom-team commented on #21907
Hi @kisroman. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-03-26 10:53] francescorm opened #21935 "Freezing browser when filling new product form (title)"
### Preconditions (*)
Magento 2.2.6

### Steps to reproduce (*)
Create new product, filling title before the sku, every browser and platform freeze.
If i fill the sku before the titile it's okey

### Expected result (*)
1. No freezing Browser, i should fill the form without problem.
2.

### Actual result (*)

1. Freezing browser.
Reading the logs i have an error
"Too Much Recursion" on observable_

[2019-03-26 10:53] magento-engcom-team commented on #21935
Hi @francescorm. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-26 10:56] magento-engcom-team commented on #21935
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-26 10:58] francescorm commented on #21935
@magento-engcom-team give me 2.2-develop instance

[2019-03-26 10:58] magento-engcom-team commented on #21935
Hi @francescorm. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-26 10:59] magento-engcom-team commented on #21935
Hi @francescorm, here is your [Magento instance](https://i-21935-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21935-2-2-develop.instances.magento-community.engineering/admin](https://i-21935-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-26 11:03] francescorm commented on #21935
no, i was not able to reproduce the issue. Does it means it depends on other problems?

[2019-03-26 11:04] engcom-backlog-nazar commented on #21935
Hi @francescorm yes problem may be related to one of your custom modules.

[2019-03-26 11:14] engcom-backlog-nazar commented on #21935
@francescorm i'm closing this one, as this is not reproducible on 2.2-develop branch, if you have some additional steps that help us to reproduce this issue on clean magento, please reopen the issue.

[2019-03-26 11:14] #21935 closed, assigned to nobody

[2019-03-26 12:02] navidnadali commented on #21614
Hi @magento - Is there an update on this one? We are having this issue on a number of sites

[2019-03-26 12:05] sivaschenko commented on #20379
The calendar icon looks completely fine in my opinion.

[2019-03-26 12:40] magento-engcom-team commented on #21862
Hi @kisroman. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-26 12:53] luffarvante opened #21937 "No password validation when removing user role"
### Preconditions (*)
1. Magento 2.2.6 (Community and Commerce)
2. Added a custom user role
3. Logged in to a user with permissions to edit user roles

### Steps to reproduce (*)
1. Navigate to User Roles (Admin > System > Permissions > User Roles)
2. Create a new User Role
3. Delete the newly created User Role

### Expected result (*)

1. The action should require you to insert your password, the

[2019-03-26 12:53] magento-engcom-team commented on #21937
Hi @luffarvante. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-26 13:10] msawyers commented on #21780
Ok, going to debug. Will keep you posted.

[2019-03-26 13:17] orlangur commented on #21937
@luffarvante are there validations in case you assign some users to role after "Create a new User Role"?

[2019-03-26 13:38] luffarvante commented on #21937
@orlangur as far as i can tell, there is validation on every action on user roles, except for the "Delete" button.

[2019-03-26 13:44] marcusirgens commented on #19220
I can confirm we are experiencing similar issues with several installations - a long chain of slow queries and locks caused by this step.

[2019-03-26 13:53] orlangur commented on #21937
Ok, I mean there is no reason to prevent role deletion without users assigned.

[2019-03-26 13:55] oefterdal commented on #19220
Hi I work with @Flowlance we don't have product images on this installation, all images are served via a CDN so no images are managed by Magento.

[2019-03-26 14:12] tylerssn commented on #20827
@navarr I see fixed in 2.2.x. Does this mean anything after 2.2.4?

[2019-03-26 14:34] johncarlson21 commented on #2380
This issue should not be closed. I can confirm that this still doesn't work correctly.
If I disable One Page Checkout, shouldn't there be a way to checkout without having to use the Multi-Shipping option? Shouldn't there just be a Proceed to Checkout button?
Are you forcing us to use One Page Checkout?

[2019-03-26 14:37] johncarlson21 commented on #21879
Can I get an update on this please? we are looking at launching an updated site very soon and this is a pertinent functionality as all our products use this.

[2019-03-26 14:39] wjpbill commented on #21452
@Ridik123 Apologies, I don't think I was clear.

It says
patch -p1 < MDVA-15136_EE_2.2.5_COMPOSER_v1.patch
OR
patch -p1 < MDVA-15136_EE_2.2.5_v1.patch

is the first one, just a composer version of the same code do you know?

[2019-03-26 14:53] engcom-backlog-nazar commented on #21890
Hi @convenient thank you for you report, We no longer accept pull requests to the v2.1 or v2.0 release lines to focus all development efforts on v2.3 and v2.2.
https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html
Thanks for collaboration, This issue will help people who discovered this issue on 2.1 version

[2019-03-26 14:53] #21890 closed, assigned to nobody

[2019-03-26 15:02] elioermini commented on #4567
@engcom-backlog-nazar looks like this issue has been fixed here, thanks https://github.com/magento/magento2/issues/19230

[2019-03-26 15:05] luffarvante commented on #21937
Oh sorry, i misunderstood your question.
I have to check when i get back into the office tomorrow, but i think i can remove it even if it has users assigned. Regardless it's still odd you can remove but not rename a role, no?

[2019-03-26 15:12] orlangur commented on #21937
@luffarvante I mean I wouldn't add any additional check if there are no users assigned - this is not a harmful operation. While other actions may change permissions and then we need a confirmation.

But probably we don't need a confirmation for deletion at all as it is not a security breach.

[2019-03-26 15:14] treii28 commented on #18496
anything new?

[2019-03-26 15:15] magento-engcom-team commented on #21467
Hi @adarshkhatri. Thank you for your report.
The issue has been fixed in magento/magento2#21844 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [9afef9930cceeceff76bb3aa9311ee56a656dbca](https://github.com/magento/magento2/commit/9afef9930cceeceff76bb3aa9311ee56a656dbca)
 - [6577c64b27fc6bb031cf9a760793d84e9b45c088](https://github.com/magento/magento2/commit/6577c64b27fc6bb031cf9a76

[2019-03-26 15:15] magento-engcom-team commented on #21750
Hi @Karlasa. Thank you for your report.
The issue has been fixed in magento/magento2#21864 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [ed2f9053eac453ba1a646c54823152d13267dc2d](https://github.com/magento/magento2/commit/ed2f9053eac453ba1a646c54823152d13267dc2d)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-26 15:38] snez commented on #5847
The "Clear site data" in Chrome resets everything and fixes the problem. Something seems stuck with the cart. Affects Magento 2.3.

[2019-03-26 15:42] navarr commented on #20827
This might still occur in 2.2.8+ as we were unable to release Vertex 3.1 with 2.2.8;

I've not tested it on 2.2.8

[2019-03-26 15:52] tomekjordan commented on #21862
100% agree. This is poor practice and gives poor security. Its just another problem for users that makes UX worse with not gain for security

[2019-03-26 16:02] ihor-sviziev commented on #11905
Hi @engcom-backlog-nazar,
Looks like this issue should be fixed by https://github.com/magento/magento2/pull/19398 in 2.2-develop, as it's backport - it should be also fixed in 2.3-develop.
Could you check if this issue wasn't fixed?

[2019-03-26 16:32] jonathan-may commented on #21871
@engcom-backlog-nazar,
The first image you added displaying the tiered pricing shows that you did reproduce the issue.

If you delete both tiered prices and save the product, then recheck the tiered prices the All Websites tiered price would still be displayed.

Additionally, the issue I was describing only relates to the admin, not the frontend.

@magento-engcom-team give me 2.3-develop instance

[2019-03-26 16:32] magento-engcom-team commented on #21871
Hi @jonathan-may. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-26 16:33] magento-engcom-team commented on #21871
Hi @jonathan-may, here is your [Magento instance](https://i-21871-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21871-2-3-develop.instances.magento-community.engineering/admin](https://i-21871-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-26 16:48] jonathan-may commented on #21871
I was not able to reproduce bug in 2.3-develop instance.

[2019-03-26 16:53] magento-engcom-team commented on #20434
Hi @laurentplenet. Thank you for your report.
The issue has been fixed in magento/magento2#20774 by @VitaliyBoyko in 2.3-develop branch
Related commit(s):
 - [24382e3eb968d13e4a86955cbdc2966b989afe1c](https://github.com/magento/magento2/commit/24382e3eb968d13e4a86955cbdc2966b989afe1c)
 - [4d18c9a92cd8f1acdd780ce933f2860e7d092f7f](https://github.com/magento/magento2/commit/4d18c9a92cd8f1acdd780ce93

[2019-03-26 16:54] #20434 closed, assigned to riccardougolini

[2019-03-26 16:54] magento-engcom-team commented on #18754
Hi @albsa. Thank you for your report.
The issue has been fixed in magento/magento2#21283 by @rav-redchamps in 2.3-develop branch
Related commit(s):
 - [d79eb085cabfb16ed8f4432f5cd25b00cf3ba686](https://github.com/magento/magento2/commit/d79eb085cabfb16ed8f4432f5cd25b00cf3ba686)
 - [d1e71b96056f2b83d182c92120008837cd665b9f](https://github.com/magento/magento2/commit/d1e71b96056f2b83d182c92120008837

[2019-03-26 16:54] #18754 closed, assigned to niravkrish

[2019-03-26 16:54] magento-engcom-team commented on #21281
Hi @rav-redchamps. Thank you for your report.
The issue has been fixed in magento/magento2#21283 by @rav-redchamps in 2.3-develop branch
Related commit(s):
 - [d79eb085cabfb16ed8f4432f5cd25b00cf3ba686](https://github.com/magento/magento2/commit/d79eb085cabfb16ed8f4432f5cd25b00cf3ba686)
 - [d1e71b96056f2b83d182c92120008837cd665b9f](https://github.com/magento/magento2/commit/d1e71b96056f2b83d182c921

[2019-03-26 16:54] #21281 closed, assigned to rav-redchamps

[2019-03-26 16:54] magento-engcom-team commented on #20209
Hi @schmengler. Thank you for your report.
The issue has been fixed in magento/magento2#20212 by @schmengler in 2.3-develop branch
Related commit(s):
 - [a0566abffe872cca0a7e06eb2b4d08093f15fbda](https://github.com/magento/magento2/commit/a0566abffe872cca0a7e06eb2b4d08093f15fbda)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-26 16:54] #20209 closed, assigned to schmengler

[2019-03-26 16:54] magento-engcom-team commented on #21620
Hi @sanganinamrata. Thank you for your report.
The issue has been fixed in magento/magento2#21621 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [ae9084de11bf2a59d2540d2ba6769b9ef1d46b8d](https://github.com/magento/magento2/commit/ae9084de11bf2a59d2540d2ba6769b9ef1d46b8d)
 - [b62240110ec89edcefbb2f461c311086db9bc013](https://github.com/magento/magento2/commit/b62240110ec89edcefbb2f46

[2019-03-26 16:54] #21620 closed, assigned to gelanivishal

[2019-03-26 16:54] magento-engcom-team commented on #21001
Hi @azngeek. Thank you for your report.
The issue has been fixed in magento/magento2#21880 by @kdegorski in 2.3-develop branch
Related commit(s):
 - [b96435f8d213f5de0eb8352e2e4fd1d1e117895f](https://github.com/magento/magento2/commit/b96435f8d213f5de0eb8352e2e4fd1d1e117895f)
 - [8d7b964943eae2996e9542dbfcef87e1044df825](https://github.com/magento/magento2/commit/8d7b964943eae2996e9542dbfcef87e104

[2019-03-26 16:54] #21001 closed, assigned to kdegorski

[2019-03-26 16:54] Berdir commented on #21904
Created a merge request, also updated the unit tests, still some open questions about the implementation.

This shows the limits of unit tests perfectly, they still worked just fine. Would be useful to have an actual integration test, but I don't know yet how that works in Magento.

Note that PhpStorm shows the old Interface also as deprecated:

![Selection_504](https://user-images.githubuserconte

[2019-03-26 18:20] zapateroremendon commented on #20289
Hi,
Same issue with magento 2.2.7, centos 7, nginx, varnish and php-fpm71.
anybody have resolved?

[2019-03-26 18:47] craigcarnell commented on #20060
Patch seems to be included in 2.3.1

[2019-03-26 18:56] cscd98 opened #21947 "2.3.1 Fatal error: Class Temando\Shipping\Rest\ShipmentAdapter contains 1 abstract method and must therefore be declared abstract"
### Preconditions (*)
1. Magento 2.3.1

Fatal error: Class Temando\Shipping\Rest\ShipmentAdapter contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (Temando\Shipping\Rest\Adapter\ShipmentApiInterface::getTrackingEvents) in /vendor/temando/module-shipping-m2/Rest/ShipmentAdapter.php on line 32

### Steps to reproduce (*)
1. Upgrade from 2.3.0 to 2.

[2019-03-26 18:56] magento-engcom-team commented on #21947
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-26 19:00] msawyers commented on #21780
I have narrow down to database related issue,

however uncertain what configuration is causing the error as the logs do not provide a specific error

[2019-03-26 19:10] craigcarnell commented on #21947
Error seems to have gone away, will close for now..

[2019-03-26 19:10] #21947 closed, assigned to nobody

[2019-03-26 19:12] orlangur commented on #20060
@craigcarnell there is no `2.3.1` milestone available though :(

[2019-03-26 19:27] hostep commented on #20060
Sure there is: https://github.com/magento/magento2/milestone/23 ;)
But since 2.3.1 was released today, it makes no sense to keep it open I guess.

[2019-03-26 19:39] Ctucker9233 commented on #19417
@ravi-chandra3197 then the Reproduced in 2.2.x label should be removed

[2019-03-26 20:32] Bartlomiejsz commented on #19872
Reopening due to #21131 - still not fixed on develop (it may work depending of where Magento installation is placed - in root directory or in pub)

[2019-03-26 20:33] magento-engcom-team commented on #19872
Hi @Bartlomiejsz. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-26 20:34] jakwinkler opened #21949 "Wishlist: product with price 0 will break "My wishlist""
### Preconditions (*)

1. Magento 2.2.7

### Steps to reproduce (*)

1. Create a simple product with price = 0
2. Create user account on frontend
3. Add created product to wishlist
4. Visit My Wishlist page

### Expected result (*)

1. Wishlist page visible without any issues

### Actual result (*)

1. Broken styling
2. Error in server files: `"PHP Fatal error:  Uncaught TypeError: Argument 1 pass

[2019-03-26 20:34] magento-engcom-team commented on #21949
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-26 20:36] magento-engcom-team commented on #19872
@Bartlomiejsz Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-03-26 20:36] magento-engcom-team commented on #19872
:white_check_mark: Confirmed by @Bartlomiejsz
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-03-26 21:41] ityetti opened #21950 "How to get the current category without a registry?"
### Summary (*)

Hello, everyone. I develop a small extension which adds custom banner for the category. And faced with an interesting problem. I can't get the current category without using the registry. I checked core files and all code that I find looks like -
`$this->_coreRegistry->register('current_category', $category);`
`$this->_coreRegistry->registry('current_category');`

But when I try t

[2019-03-26 21:41] magento-engcom-team commented on #21950
Hi @ityetti. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-26 21:49] craigcarnell commented on #20571
Does anyone know if this has been rectified in 2.3.1?

[2019-03-26 22:22] Cristy94 commented on #21201
I have fixed my issue by switching from Magento to WooCommerce, the installation was infinitely more pleasant and hassle free and  importing the products from Magento to WooCommerce was quick.

I won't recommend anyone Magento, it's just an old platform with bad support.

[2019-03-26 22:42] Bartlomiejsz commented on #21950
@ityetti you should use `$categoryId = (int)$this->getRequest()->getParam('id', false);`, and then with instantiated `\Magento\Catalog\Api\CategoryRepositoryInterface` use `$this->categoryRepository->get($categoryId);`.

But keep in mind that this is rather technical question and should be asked on i.e. stackoverflow. Github is place for issues only.

[2019-03-26 22:51] magento-engcom-team commented on #19872
Hi @Bartlomiejsz. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-26 23:12] evodus opened #21951 "Upgrade failed M2.3.0 to M2.3.1"
Hello. I tried to upgrade magento from 2.3.0 to 2.3.1 but something wrong...

### Preconditions (*)

1. Magento version 2.3.0 (upgraded from 2.2.4)
2. Ubuntu, nginx + php7.2-fpm

### Steps to reproduce (*)

1. in command line - composer require magento/product-community-edition=2.3.1 --no-update
2. composer update

### Expected result (*)

1. Magento must be upgraded but core modules has strange i

[2019-03-26 23:12] magento-engcom-team commented on #21951
Hi @evodus. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-26 23:15] ityetti commented on #21950
@Bartlomiejsz got it, thanks.

[2019-03-26 23:23] #21950 closed, assigned to nobody

[2019-03-27 00:23] gcampedelli commented on #21452
Hello, what does Magento team says about the patch, should we apply, I have exactly same problem and I double checked all requirements as well, memory, php.ini and so on. I have exactly same configuration on another magento install that surprisely works but no other does the same.

[2019-03-27 00:43] bawwwa opened #21952 "Able to use a single use coupon code on two orders"
### Preconditions (*)

1. Magento 2.2.7 and Magento 2.3.0 (community and enterprise)
2. Installed with sample data and theme used 'Magento Luma'

### Steps to reproduce (*)

1. Created a cart price rule with a specific code '20OFF' with an action to discount everything with 20%.
2. Uses per coupon code should be set to 1. ![image](https://user-images.githubusercontent.com/45529692/55042168-775d020

[2019-03-27 00:43] magento-engcom-team commented on #21952
Hi @bawwwa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-27 03:49] zhaoxiong123 opened #21953 "SQLSTATE[HY000] [2006] MySQL server has gone away"
![goneaway](https://user-images.githubusercontent.com/3273395/55049247-690fe580-5086-11e9-8fce-982e0767b384.jpg)

[2019-03-27 03:49] magento-engcom-team commented on #21953
Hi @zhaoxiong123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-27 03:51] zhaoxiong123 commented on #21953
the magento 2.3.0 is normal , but magneto 2.3.1 occur error.

[2019-03-27 03:53] zhaoxiong123 commented on #21953
i used git branch 2.3

[2019-03-27 04:01] magento-engcom-team commented on #21949
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-27 04:02] shikhamis11 commented on #21949
@magento-engcom-team give me 2.2-develop instance

[2019-03-27 04:02] magento-engcom-team commented on #21949
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-27 04:03] magento-engcom-team commented on #21949
Hi @shikhamis11, here is your [Magento instance](https://i-21949-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21949-2-2-develop.instances.magento-community.engineering/admin](https://i-21949-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-27 04:13] shikhamis11 commented on #21949
@qsolutions-pl this issue is not reproduceable at current 2.2-develop instance or 2.3-develop instance . It seems it is already fixed. Let me know here if you are still facing this issue in latest versions

[2019-03-27 04:13] #21949 closed, assigned to shikhamis11

[2019-03-27 04:22] magento-engcom-team commented on #21952
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-27 04:28] joni-jones commented on #19515
@pmclain, I've made the fix a few months ago and sent a patch to the team. Don't know why it still not fixed.

[Vault_Enabler_Fix.patch.zip](https://github.com/magento/magento2/files/3011473/Vault_Enabler_Fix.patch.zip)

[2019-03-27 04:31] ankurAuriga commented on #15376
@engcom-backlog-nazar @magento-engcom-team -- This issue is still reproducible in Magento 2.3

[2019-03-27 04:37] dharmaCCS opened #21954 "Category name and other details not showing in magento 2 admin panel after migration"
![image](https://user-images.githubusercontent.com/33892860/55050680-fb5cbd00-5077-11e9-9898-5dab4917b1f3.png)
I am getting empty details when I clicked on any category. Actually it has to show the details of that category. This is happening only after I migrated data from magento 1.9.2.2 to magento 2.3.0

[2019-03-27 04:37] magento-engcom-team commented on #21954
Hi @dharmaCCS. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-27 05:09] thangasujitha commented on #10234
Check the payment method configuration for each store view if you use multiple stores.

[2019-03-27 05:34] aishwaryasunarc commented on #10234
I am not using multiple stores in my system. I checked this issue with a single store.

[2019-03-27 05:56] zhaoxiong123 commented on #21953
@magento-engcom-team give me 2.3.1 instance

[2019-03-27 05:56] magento-engcom-team commented on #21953
Hi @zhaoxiong123. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-03-27 05:56] magento-engcom-team commented on #21953
Hi @zhaoxiong123, here is your [Magento instance](https://i-21953-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-21953-2-3-1.instances.magento-community.engineering/admin](https://i-21953-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-27 05:59] kandarp26 opened #21955 "out of stock product display in product listing"
### Preconditions (*)

1. Magento 2.3.0 installed and MSI enabled
2.  PHP 7.2

### Steps to reproduce (*)

1. Create product with 1 qty.
2. Admin > catalog >stock option > Display Out of Stock Products = No
3. Place order with same product
4. Navigate to the category list page
--

### Expected result (*)

1. Product should disappear from the listing as it's out of stock

### Actual result (*)

1.

[2019-03-27 05:59] magento-engcom-team commented on #21955
Hi @kandarp26. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-27 06:01] kandarp26 commented on #21955
@magento-engcom-team give me 2.3-develop instance

[2019-03-27 06:01] magento-engcom-team commented on #21955
Hi @kandarp26. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-27 06:01] magento-engcom-team commented on #21955
Hi @kandarp26, here is your [Magento instance](https://i-21955-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21955-2-3-develop.instances.magento-community.engineering/admin](https://i-21955-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-27 06:49] magento-engcom-team commented on #10303
Hi @nadeefit6. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-27 06:55] magento-engcom-team commented on #21953
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 06:55] magento-engcom-team commented on #21954
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 06:56] magento-engcom-team commented on #21951
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 06:56] magento-engcom-team commented on #21955
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 06:58] magento-engcom-team commented on #11905
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details>

[2019-03-27 07:02] engcom-backlog-nazar commented on #15376
@ankurAuriga i'm will recheck

[2019-03-27 07:06] engcom-backlog-nazar commented on #21954
Hi @dharmaCCS , problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-03-27 07:06] #21954 closed, assigned to nobody

[2019-03-27 07:07] juharintanen commented on #21916
Updated to 2.3.1 now and same error still appears.
Only way around it was to disable Magento_Elasticsearch6 module

That file indeed did not exist

[2019-03-27 07:08] engcom-backlog-nazar commented on #21953
Hi @zhaoxiong123 thank you for you report, i'm not able to reproduce following steps you described, seems like error says enough, that mysql server has gone away :) Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-27 07:08] #21953 closed, assigned to nobody

[2019-03-27 07:09] engcom-backlog-nazar commented on #21916
hi @juharintanen i'm will recheck.

[2019-03-27 07:15] wclshashank commented on #21916
Hi,

I have this issue due to Amasty module. Amasty module using elasticsearch, which is making issue in compiling.
So i have disable module bin/magento module:disable Amasty_Shopby Amasty_ShopbyPage Amasty_ShopbyBrand
and starts working.

Need to update Amasty module.

Thanks

[2019-03-27 07:24] juharintanen commented on #21916
Yep confirmed!
It wasn't that but another Amasty module. Error msg just didn't hint that way at all but good to know.

[2019-03-27 07:26] engcom-backlog-nazar commented on #21916
@wclshashank  found internal ticket where this was fixed, wait a little bit i'm share with pr.

[2019-03-27 07:31] magento-engcom-team commented on #21937
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 07:31] haljeshi commented on #4588
I have the same issue at 2.2.6

[2019-03-27 07:32] Puni89 opened #21956 "Wysiwyg editor image insert button is not working"
### Preconditions (*)

1.magento 2.2.7

### Steps to reproduce (*)

1. We are using Magento 2.2.7 'Insert file' button is not working

### Expected result (*)

1.
![Sc1](https://user-images.githubusercontent.com/28772801/55058500-25bb7400-5092-11e9-8376-065212524fc9.png)

2. The links and Button inside the red box they are not working

### Actual result (*)

1. I need them to work so that I can ab

[2019-03-27 07:32] magento-engcom-team commented on #21956
Hi @Puni89. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-27 07:33] abcpremium opened #21957 "Upgrade from 2.3.0 => 2.3.1 failed. "Unable to unserialize value""
Hey,

I was trying to upgrade from Magento 2.3.0 to Magento 2.3.1 via composer. While downloading all dependencies worked, the setup:upgrade command fails instantly. Any way to fix this? Details below:

### Preconditions (*)
1. Magento 2.3.0
2. No changes made to any core code files
3. PHP 7.2.16
4. memory_limit 2G

### Steps to reproduce (*)
1. Change directory to the Magento root.
2. Run `compos

[2019-03-27 07:33] magento-engcom-team commented on #21957
Hi @abcpremium. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-27 07:36] abcpremium commented on #21957
@magento-engcom-team give me 2.3-develop instance

[2019-03-27 07:36] magento-engcom-team commented on #21957
Hi @abcpremium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-27 07:36] magento-engcom-team commented on #21957
Hi @abcpremium, here is your [Magento instance](https://i-21957-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21957-2-3-develop.instances.magento-community.engineering/admin](https://i-21957-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-27 07:40] abcpremium commented on #21957
I tried to connect via SSH to the deployed instance, which does not seem to be possible. How should I reproduce the issue then?

[2019-03-27 07:43] magento-engcom-team commented on #21956
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 07:45] ethniccode commented on #21957
@abcpremium Flush your redis cache. And you should be all set. I am facing different error during compilation.

In Generator.php line 218:

Source class "\Magento\Elasticsearch6\Model\Adapter\FieldMapper\ProductField" for "Magento\Elasticsearch6\Model\Adapter\FieldMapper\P
roductFieldMapper" generation does not exist.

[2019-03-27 07:46] nadeefit6 commented on #10303
The issue could be reproduced in 2.2.7

[2019-03-27 07:51] abcpremium commented on #21957
@ethniccode Thank you that worked. However I face a similar issue to yours:

[code]

[2019-03-27 07:51] engcom-backlog-nazar commented on #21956
Hi @Puni89 where you get this form to upload ?

[2019-03-27 07:54] engcom-backlog-nazar commented on #21956
@Puni89 ok i'm found, and issue not present in 2.2-develop branch, and available on 2.2.8 release.

[2019-03-27 07:54] #21956 closed, assigned to nobody

[2019-03-27 07:56] shoaibgits commented on #5475
Still Got the Error on 2.3 Version as well. any way to resolve it?

[2019-03-27 07:57] magento-engcom-team commented on #19872
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-27 07:57] shoaibgits commented on #5475
Is it fine to customize the core code from the Magento? not a good approach

[2019-03-27 07:58] engcom-backlog-nazar commented on #21937
Hi @luffarvante thank you for you report, this is expected behavior, as a @orlangur says that not a security breach.

[2019-03-27 07:58] #21937 closed, assigned to nobody

[2019-03-27 07:59] magento-engcom-team commented on #19872
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98877` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-27 08:01] engcom-backlog-nazar commented on #19872
Hi @dmytro-ch why this confirmed ? did you test this ? because on provided steps issue not present .

[2019-03-27 08:05] luffarvante commented on #21937
@orlangur i checked now and i can delete groups with members in them as well, without any validation.

What happens if someone removes the administrator group? Suddenly all the site admins wont be able to access the site at all.
From my point of view there should either be validation when deleting roles, or no validation for fields like changing name and such at least.

Maybe its intentional but i

[2019-03-27 08:07] engcom-backlog-nazar commented on #19872
@dmytro-ch ok. i'm just edited the issue. and  add docroot.

[2019-03-27 08:13] engcom-backlog-nazar commented on #21900
Hi @fgmonad thank you for you report, but i'm not able to reproduce following steps you described, In your case you have response from paypal with array, but according to devdocs, it always string wich contains xml_ fraud rules, you can check it here -> https://developer.paypal.com/docs/classic/payflow/fraud-protection/#screening-transactions-using-the-payflow-sdk
![DeepinScreenshot_select-area_20

[2019-03-27 08:15] wasimhc commented on #21769
Hi,
I re-created it on magespecialist_ReCaptcha/issues 12 days ago. But, there is no update so far! What I should do?

[2019-03-27 08:18] ethniccode commented on #21957
@abcpremium I tried setup di:compile multiple times. Doesn't seem to work for me. Also can you tell me if you are facing this issue. https://github.com/magento/magento2/issues/20255

[2019-03-27 08:20] LucianMihalache opened #21958 "Duplicated Unique Route Frontname"
### Preconditions (*)
1. Magento 2.3.1 (Upgraded from 2.3.0)

### Steps to reproduce (*)

1. Have backend url "admin"
![adminuri](https://user-images.githubusercontent.com/48981554/55060336-eb45dd00-5079-11e9-820a-d89ec2796d9e.png)

2. Have custom module with custom route that uses frontname "admin"
![route](https://user-images.githubusercontent.com/48981554/55060344-eed96400-5079-11e9-900a-eae4de

[2019-03-27 08:20] magento-engcom-team commented on #21958
Hi @LucianMihaalche. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-03-27 08:21] abcpremium commented on #21957
@ethniccode Sorry to hear that. But regarding your question, I do not have that issue. However now with 2.3.1 some JS files are missing. Only some, not all ... weird...

[2019-03-27 08:24] LucianMihaalche commented on #21958
@magento-engcom-team give me 2.3.1-develop instance

[2019-03-27 08:24] magento-engcom-team commented on #21958
Hi @LucianMihaalche. Thank you for your request. I'm working on Magento 2.3.1-develop instance for you

[2019-03-27 08:28] gauravtiwari92 commented on #20873
I think file uploader in ui component doesnt work in magento 2.3 . Image uploader insted file uploader work properly .

[2019-03-27 08:32] dmytro-ch commented on #19872
Hi @engcom-backlog-nazar, sorry for the misunderstanding.

I was able to reproduce the issue on my local environment.
So I've also updated the preconditions in the task description.

After switching to PHP 7.2 the issue is not reproducible for me as well.
But still, I'm not sure exactly if it really can be related to the PHP version. Maybe there are some specific environment configurations that re

[2019-03-27 08:32] engcom-backlog-nazar commented on #21955
Hi @kandarp26 closing this due to -> https://github.com/magento-engcom/msi/issues/2112

[2019-03-27 08:32] #21955 closed, assigned to nobody

[2019-03-27 08:35] magento-engcom-team commented on #21958
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 08:37] engcom-backlog-nazar commented on #21958
Hi @LucianMihaalche thank you for you report, please do not use Frontname as admin, this is not best practice. This issue related to 3th party extension. please contact to the developer of this extension.

[2019-03-27 08:37] #21958 closed, assigned to nobody

[2019-03-27 08:38] engcom-backlog-nazar commented on #21958
@LucianMihaalche or as temporary fix you can set different admin name in app/etc/env.php
![DeepinScreenshot_select-area_20190327103811](https://user-images.githubusercontent.com/40756439/55061425-6c9e6f00-507c-11e9-9408-37d7eae1a868.png)

[2019-03-27 08:43] LucianMihaalche commented on #21958
@engcom-backlog-nazar Thank you for your response. I know that this is not best practices, that is my dev env.
Before upgrading to 2.3.1, the component worked as expected and no exception was thrown.

I wanted to report this because I thought there might be a problem when you'd want to use the same frontend route multiple times in different components. And I wanted to have all my backend routes fo

[2019-03-27 08:50] trinitecDev opened #21960 "Layered Navigation: “Equalize product count” not working as expected"
### Preconditions (*)
2.2.7

### Steps to reproduce (*)
Create a custom attribute of type price.
Got to Stores > Configuration > Catalog > Layered Navigation and set “price navigation step calculation” to “Automatic (equalize product counts)”
![grafik](https://user-images.githubusercontent.com/48954244/55061363-debe8600-5073-11e9-912f-3d361ea7e891.png)

### Expected result (*)
I would expect ten r

[2019-03-27 08:50] magento-engcom-team commented on #21960
Hi @trinitecDev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-27 08:51] engcom-backlog-nazar commented on #21958
@LucianMihaalche according to  https://devdocs.magento.com/guides/v2.3/extension-dev-guide/routing.html
![DeepinScreenshot_select-area_20190327105142](https://user-images.githubusercontent.com/40756439/55062295-51346380-507e-11e9-87d4-825b8b2574c5.png)

[2019-03-27 08:52] magento-engcom-team commented on #21960
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 08:52] pfortin-expertime commented on #15115
Here is another way to reproduce the error:

1. Sign in with a customer who have some addresses registered
2. Sign in in the BO, edit this customer and remove all addresses
3. Refresh the front (or browse whatever page)

To fix it I've made a rewrite of the function **retrieve** in class \Magento\Customer\Model\AddressRegistry :

`    /**
     * Get instance of the Address Model identified by id

[2019-03-27 09:11] FrankenSteinxD commented on #5836
I still have this issue on **Magento 2.3.0**

Crons are setup correctly and my custom indexer is set to update on schedule.

I have to run `index:reindex my_custom_indexer` everytime I want to run my custom indexer, the indexer is not triggered on save too although I have correct subscriptions in my `mview.xml`

I only works fine calling it through the command line.

[2019-03-27 09:15] Ridik123 commented on #21452
@wjpbill @gcampedelli these patches are provided from Magento support.
and I tried to install the first one which works for me so I didn't go for the second one

[2019-03-27 09:18] verdde commented on #21204
@magento-engcom-team can you please confirm the fix will be included in 2.3.1 ?

[2019-03-27 09:30] mikehenze commented on #21957
@ethniccode I am facing the same problem as you with the Elasticsearch6 error.
Please share your solution when you find it.

[2019-03-27 09:34] orlangur commented on #21937
@luffarvante,

This case could be valid as to me.

Please check if such user with limited permissions is able to affect superadmins so that they are not able to administrate.

[2019-03-27 09:38] vishal-7037 opened #21962 "Magento Sales Order: Design Align issue"
There is one issue regarding design of Sales order view.
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Login to admin
2. Go to Sales > Order, Open any order.

### Expected result (*)

![2019_03_27_Shipping_Method_alignment_solution](https://user-images.githubusercontent.com/38535982/55065586-17755400-50a2-11e9-829b-65b8e28b2230.png)

### Actual result (*)
![2019_03_27_Shi

[2019-03-27 09:38] magento-engcom-team commented on #21962
Hi @vishal-7037. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-27 09:40] Ridik123 commented on #21452
not sure but this one works for me so I didn't go for the second one

[2019-03-27 09:40] ethniccode commented on #21957
@mikehenze Sure. I will do that. You also please share if you find a solution.

[2019-03-27 09:41] magento-engcom-team commented on #21842
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98878`, `MAGETWO-98879` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-27 09:43] bhargavmehta commented on #21452
Advanced Reporting is not working even in Magento 2.3. It shows enabled in the backend but when we go to reporting link it shows 404.

Everything is configured as per the guide

[2019-03-27 09:45] dmytro-ch commented on #21281
@magento-engcom-team give me 2.2-develop instance

[2019-03-27 09:45] magento-engcom-team commented on #21281
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-27 09:46] magento-engcom-team commented on #21281
Hi @dmytro-ch, here is your [Magento instance](https://i-21281-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21281-2-2-develop.instances.magento-community.engineering/admin](https://i-21281-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-27 09:47] arijit-sezzle commented on #21888
@magento-engcom-team: How can I assign myself to work on this issue?

[2019-03-27 09:48] arijit-sezzle commented on #21888
I am working on this issue.

[2019-03-27 09:53] arijit-de commented on #21888
@magento-engcom-team: How can I assign myself to work on this issue?

[2019-03-27 09:54] Ridik123 commented on #21452
I had a chat with Magento support and they said it is fixed in 2.3

[2019-03-27 09:54] magento-engcom-team commented on #21888
Hi @arijit-de. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-03-27 10:08] magento-engcom-team commented on #21960
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98880`, `MAGETWO-98881` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-27 10:08] mikehenze commented on #21957
@ethniccode You can disable the Elasticsearch6 module and continue for now:
php bin/magento module:disable Magento_Elasticsearch6

[2019-03-27 10:09] jorgb90 commented on #21951
Your magepal/magento2-googletagmanager extension is the problem. Remove it and your upgrade will work.

[2019-03-27 10:12] ethniccode commented on #21957
@mikehenze Thanks Mike. Do let me know if you find a permanent solution. This seems to be a workaround.

[2019-03-27 10:14] bhargavmehta commented on #21452
Is it fixed in 2.3.0 or 2.3.1?

Thank you

[2019-03-27 10:14] magento-engcom-team commented on #21835
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 10:17] engcom-backlog-nazar commented on #21951
HI @evodus thank you for you report, i;m not able to reproduce following steps you described, please refer to https://github.com/magento/magento2/issues/21951#issuecomment-477076264 comment. thank you.

[2019-03-27 10:17] #21951 closed, assigned to nobody

[2019-03-27 10:20] magicsunday opened #21964 "2.3.1 - MFTF fails to run due defective Klarna test"
Trying to run the MFTF tests fails due to defective tests in the module klarna/module-kp.

### Preconditions (*)
Magento 2.3.1
PHP 7.2

### Steps to reproduce (*)
Run MFTF AdminLoginTest
`vendor/bin/mftf run:test AdminLoginTest --remove`

### Expected result (*)
Test should run.

### Actual result (*)
[code]
### Workaround
Disable the module
`bin/magento module:disable Klarna_Kp`

Are you executin

[2019-03-27 10:20] magento-engcom-team commented on #21964
Hi @magicsunday. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-27 10:30] Ridik123 commented on #21452
@bhargavmehta I have not checked for these versions of Magento. But I guess the latest version which is released today have the fix for advance reporting

[2019-03-27 10:59] magento-engcom-team commented on #21964
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 11:07] gcampedelli commented on #21452
@Ridik123 Thank you!

[2019-03-27 11:23] 0-Sony commented on #21632
@magento-engcom-team give me 2.3.1 master

[2019-03-27 11:25] magento-engcom-team commented on #21962
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-27 11:27] evodus commented on #21951
as you can see i have a problem with magento/module-backend as well

[2019-03-27 11:37] magento-engcom-team commented on #21962
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98882`, `MAGETWO-98883` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-27 11:51] engcom-backlog-nazar commented on #21951
@evodus problem not in module backend.

[2019-03-27 11:54] evodus commented on #21951
@magento-engcom-team yeh... i resolved this problem. magepal has upgrade their extension and i've upgraded magento successfully.
Thanks and sorry for take your time.

[2019-03-27 12:31] magento-engcom-team commented on #21960
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-27 12:51] Userr017 commented on #19710
Still same issue with magento 2.3.1... How fix this?

[2019-03-27 12:55] luffarvante commented on #21937
Isn't the point of having an extra password validation on the user role management page to stop unauthorized users from modifying the roles **at all** in case they find a computer where a admin with the correct ACL to do this is logged in?

I mean, either you allow a user with the correct permissions to change user roles without password, or you require a password as a extra security measure.
Righ

[2019-03-27 13:13] magento-engcom-team commented on #21835
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98885` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-27 13:27] Ridik123 opened #21969 "Add to cart issue when adding bundle and configurable product at the same time"
I am using MAgento version 2.2.7

My site has different type of products

But I am facing problem when I am adding bundle and configurable product at the same time.
Call to undefined method Magento\Bundle\Model\Product\Type::getConfigurableAttributeCollection() in /home/nichefas/public_html/perpetuity.fashionaxess.com/vendor/magento/module-configurable-product/Helper/Product/Options/Loader.php:52

[2019-03-27 13:27] magento-engcom-team commented on #21969
Hi @Ridik123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-27 13:30] Ridik123 commented on #21969
Summary of the issue : when i tried to add bundle and configurable product into my cart I get an issue.
both product are add to cart if i tried them seperately

[2019-03-27 13:32] magento-engcom-team commented on #21969
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 14:03] engcom-backlog-nazar commented on #21969
HI @Ridik123 thank you for you report, i'm not able to reproduce following steps you described on clean magento 2.2-develop instance, can you recheck on vanilla installation ? @magento-engcom-team give me 2.2-develop instance

[2019-03-27 14:03] #21969 closed, assigned to nobody

[2019-03-27 14:04] magento-engcom-team commented on #21969
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-27 14:04] magento-engcom-team commented on #21969
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21969-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21969-2-2-develop.instances.magento-community.engineering/admin](https://i-21969-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-27 14:08] magento-engcom-team commented on #21473
Hi @kisroman. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-03-27 14:10] engcom-backlog-nazar commented on #21969
@Ridik123
![DeepinScreenshot_select-area_20190327161012](https://user-images.githubusercontent.com/40756439/55082709-d33a8180-50aa-11e9-80cd-7edcc53ea8fc.png)

[2019-03-27 14:15] orlangur commented on #21937
@luffarvante just check that this can actually happen and feel free to reopen issue. Also, you can try git blame for some other password-checking code to see if there is some thinking behind bypassing it for deletion.

[2019-03-27 14:31] paragpadsumbiya opened #21972 "Payment Method only work for all allowed countries . Its not showing in frontend when its set to specific country configuration from Admin"
### Preconditions (*)

1. Magento Version 2.2.6
2. PHP Version 7.1.

### Steps to reproduce (*)

1.Login to admin panel
2. Go to Stores >> Configuration >> Sales >> Payment method
3. Edit "Cash On Delivery" method.
4 Set "Payment from Applicable Countries" to Specific Countries and select only NL or any other countries.
5. On Frontend - open checkout and select any allowed country and click NEXT.

[2019-03-27 14:32] paragpadsumbiya commented on #21972
@orlangur can you please check as well

[2019-03-27 14:32] magento-engcom-team commented on #21972
Hi @paragpadsumbiya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-03-27 14:33] paragpadsumbiya commented on #21972
@magento-engcom-team this is very issue and this issue is on all magento versions even if latest 2.3.0 version. And this is from begginning and not resolved yet.

[2019-03-27 14:36] ZFNerd commented on #19187
Got the same error with php7.1. If i debug this, the Problem happened like @k4emic told.

[2019-03-27 14:54] kassner opened #21973 "Why phar stream is being unregistered?"
### Summary

The 2.3.1 release introduced the line `stream_wrapper_unregister('phar');` in the [app/boostrap.php](https://github.com/magento/magento2/blob/2.3.1/app/bootstrap.php#L11). It's unclear why it was added, but it breaks a few external tools, like PHPStan.

### Examples

[code]

And removing the aforementioned line:

[code]

### Proposed solution

Ideally, we wouldn't have this line at al

[2019-03-27 14:55] magento-engcom-team commented on #21973
Hi @kassner. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-27 15:12] magento-engcom-team commented on #21972
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-27 15:12] shikhamis11 commented on #21972
@magento-engcom-team give me 2.3-develop instance

[2019-03-27 15:12] magento-engcom-team commented on #21972
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-27 15:13] magento-engcom-team commented on #21972
Hi @shikhamis11, here is your [Magento instance](https://i-21972-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21972-2-3-develop.instances.magento-community.engineering/admin](https://i-21972-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-27 15:14] AlexandreKhayrullin commented on #12278
Hello.

We are currently having the same issue.
I hope you are aware that problems of this kind compromise the usability of service contracts, leading to the rejection of this practice and a return to using Models, ResourceModels and Collections.

[2019-03-27 15:32] fabio-fafle commented on #21916
Hi,
from my understanding if you have a plugin on `Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\ProductFieldMapper` the virtual type `Magento\Elasticsearch6\Model\Adapter\FieldMapper\ProductFieldMapper` will inherit it and this cause the issue on method
`Magento\Setup\Module\Di\Code\Generator\InterceptionConfigurationBuilder::filterNullInheritance`
`if ($plugins === null || !$thi

[2019-03-27 15:33] vpodorozh commented on #21952
@magento-engcom-team give me 2.2-develop instance

[2019-03-27 15:34] magento-engcom-team commented on #21952
Hi @vpodorozh. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-27 15:34] magento-engcom-team commented on #21952
Hi @vpodorozh, here is your [Magento instance](https://i-21952-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21952-2-2-develop.instances.magento-community.engineering/admin](https://i-21952-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-27 15:44] shikhamis11 commented on #21972
@magento-engcom-team give me 2.2-develop instance

[2019-03-27 15:44] magento-engcom-team commented on #21972
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-27 15:45] magento-engcom-team commented on #21972
Hi @shikhamis11, here is your [Magento instance](https://i-21972-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21972-2-2-develop.instances.magento-community.engineering/admin](https://i-21972-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-27 15:49] AndreasMueller75 opened #21974 "Changes for PayPal affect core config fields with tooltip"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.*
### Steps to reproduce (*)

1. create an config field, type **`time`** with a tooltip in a group in a section (see below)
[code]

### Expected result (*)

The time fields are separated by colons (:)
<img width="731" alt="expected" src="https://user-images.githubusercontent.com/32193606/55164450-fbd68000-516b-11e9-9572-9cb29a8bd67e.png">

### Actua

[2019-03-27 15:49] magento-engcom-team commented on #21974
Hi @AndreasMueller75. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-03-27 16:02] akosglue commented on #19187
so it seems to be again the closed-but-not-fixed situation.

[2019-03-27 16:10] shikhamis11 commented on #21972
@paragpadsumbiya this issue is not reproduceable at magento 2.2-develop and 2.3-develop instance .It seems it is already fixed in earlier versions. Check this on latest magento versions and message here if you are able to reproduce it

[2019-03-27 16:10] #21972 closed, assigned to shikhamis11

[2019-03-27 17:24] dweerd opened #21976 "Magento doesn't work after upgrade from 2.3.0 to 2.3.1"
### Preconditions (*)

1. Magento version 2.3.1
2. PHP version 7.1.x + Redis
3. Deploy mode: production

### Steps to reproduce (*)

1. I upgraded a production environment to magento 2.3.1
2. I ran setup:upgrade and setup:di:compile
3. I visited homepage

### Expected result (*)

1. See the homepage

### Actual result (*)

1. Server error log contained the following error: `Backend fatal error: PH

[2019-03-27 17:24] magento-engcom-team commented on #21976
Hi @dweerd. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-27 17:57] craigcarnell commented on #21916
I have the same issue on 2.3.1:

[code]

[2019-03-27 18:25] magento-engcom-team commented on #21914
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-03-27 18:31] hostep commented on #21204
@verdde: I just tested the steps to reproduce I mentioned in my previous post on a vanilla 2.3.1 installation, and it looks like the validation translations work now, yay!

So we can close this issue, thanks for reporting btw!

[2019-03-27 18:31] #21204 closed, assigned to nobody

[2019-03-27 18:54] WalterSmulders opened #21978 "Adding product image: File doesn't exist"
### Preconditions (*)

1. Magento 2.2.8 & 2.3.1

### Steps to reproduce (*)

1. Add image trough \Magento\Catalog\Model\Product\Gallery\Processor->addImage
2. With $product, relative path, $options and true, false

### Expected result (*)

1. Image should be added to the product

### Actual result (*)

1. Exception will be raised:
[InvalidArgumentException]
File '***pub/media/import/***' doesn't e

[2019-03-27 18:54] magento-engcom-team commented on #21978
Hi @WalterSmulders. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-27 19:32] hostep commented on #21976
Hi @dweerd

Would you be able to list all the exact steps you performed after the upgrade?
Because I can't seem to reproduce this after upgrading a vanilla 2.3.0 to 2.3.1 and putting 2.3.1 in production mode.

Thanks!

[2019-03-27 20:23] jarrar1214 opened #21980 "Sitemap Generating Wrong URLs"
### Summary
Our magento 2 store is generating sitemap with wrong URLs. It is bringing almost all the URLs "/catalog/product" like this one instead of correct URLs which are created based on product title.

Canonical are already added with "catalog" urls but still sitemap is generating them.

### Examples
![image](https://user-images.githubusercontent.com/47089494/55109619-07885f00-50f8-11e9-8e3b-2

[2019-03-27 20:23] magento-engcom-team commented on #21980
Hi @jarrar1214. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-27 20:38] jarrar1214 commented on #21980
No it is only appearing in our instance not on vanilla instance.

[2019-03-27 20:42] pioneerathletics commented on #14952
This issue is still present in 2.2.8. I’ve updated from 2.2.7 with the PR-18472 patches applied, but when updating to 2.2.8 I was forced to uninstall them. After uninstalling the patches, confirmation emails were being sent from our server and not our store (as it was prior to patching 2.2.7).

[2019-03-27 20:44] larsroettig commented on #20478
Hi any news on this
i will take look tomorrow how we can fix this

[2019-03-27 20:45] bahramdavodi commented on #21976
Hi @dweerd,
I had the same problem on Amasy Layered Navigation extension with Magento 2.3.1, but with a different error: Issue [#21916](https://github.com/magento/magento2/issues/21916). if you installed some extension, you can to try to disable one by one extensions.

Thanks

[2019-03-27 20:47] gwharton commented on #14952
#18472 is scheduled for 2.2.9, so yes, this is still broken in 2.2.8. Reapply patches to 2.2.8.

[2019-03-27 20:50] bahramdavodi commented on #21916
Hi @craigcarnell,

I have the same error after run di:compile. if you have Extension Amasty Layered Navigation, you can to try to disable extension Amasty_Shopby and run di:compile.

I hope it helps you.
Thanks

[2019-03-27 20:50] magento-engcom-team commented on #20825
Hi @ianitsky. Thank you for your report.
The issue has been fixed in magento/magento2#21920 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [6958066399f094d06e2ea26c3d65fa199b0e85dc](https://github.com/magento/magento2/commit/6958066399f094d06e2ea26c3d65fa199b0e85dc)
 - [61d71584bb4b0f71b1f7a679b950fc47646a96fc](https://github.com/magento/magento2/commit/61d71584bb4b0f71b1f7a679b950

[2019-03-27 20:50] magento-engcom-team commented on #14412
Hi @bramulous. Thank you for your report.
The issue has been fixed in magento/magento2#21432 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [d40ea45a5827fd4da763d20be6cde0d3b279809f](https://github.com/magento/magento2/commit/d40ea45a5827fd4da763d20be6cde0d3b279809f)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-27 21:04] hostep commented on #21976
@bahramdavodi: thanks for the link!
If I understand it correctly, in case of this issue, it might be that some custom module has a plugin on the class `Magento\Cron\Observer\ProcessCronQueueObserver`, and by introducing a different typed argument in #18209, it might cause this problem. (not 100% sure if this is correct, not fully understanding it yet).

@dweerd: can you check the custom code (your

[2019-03-27 21:23] msawyers commented on #21780
@engcom-backlog-nazar
Issue fixed by deleted all dhl related configuration from core_config_date:
delete from core_config_date where path like '%dhl%';

then reconfigure dhl module from the Magento Admin.

It seems some configuration data migrated from Magento 1 was causing the issue.

[2019-03-27 22:40] Lealopez95PSF opened #21981 "Media Storage does not have separate storages for different stores"
### Preconditions (*)

1.Magento 2.2.6

### Steps to reproduce (*)

1. Have multiple websites and stores configured.
2. Have an admin user per storeview
3. Log in as an Store admin (Only access to one storeView)
4. Go to Content --> Blocks.
5. Edit or Create a block.
6. Add an image to the block using WYSIWYG editor.
7. Save Block.
8. Log in as a different admin of another storeview.
9. Go to cont

[2019-03-27 22:40] magento-engcom-team commented on #21981
Hi @Lealopez95PSF. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-27 22:42] Lealopez95PSF commented on #21981
@magento-engcom-team give me 2.3-develop instance

[2019-03-27 22:42] magento-engcom-team commented on #21981
Hi @Lealopez95PSF. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-27 22:42] magento-engcom-team commented on #21981
Hi @Lealopez95PSF, here is your [Magento instance](https://i-21981-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21981-2-3-develop.instances.magento-community.engineering/admin](https://i-21981-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-27 22:53] mtjweb opened #21982 "Magento 2 Stores -> Configuration redirects to dashboard"
### Preconditions (*)
I upgraded from 2.2.7 to 2.2.8 and after the upgrade Stores -> Configuration redirects to the Dashboard.

### Steps to reproduce (*)
Upgrade from 2.2.7 to 2.2.8

### Expected result (*)
Access to the Stores -> Configuration page

### Actual result (*)
I'm being redirected to the dashboard

### Installed modules
        "mageplaza/module-core": "^1.3",
        "mageplaza/magen

[2019-03-27 22:53] magento-engcom-team commented on #21982
Hi @mtjweb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-27 23:25] okorshenko opened #21983 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-03-27 23:25] magento-engcom-team commented on #21983
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-27 23:28] magento-engcom-team commented on #21983
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-27 23:43] #21983 closed, assigned to nobody

[2019-03-28 00:29] dweerd commented on #21976
@bahramdavodi I had that same error as well, which I got around by disabling the Magento_ElasticSearch6 module. That error prevented setup:di:compile to complete. After disabling the module, the compile would run fine.

The error reported here actually didn't occur during setup:di:compile, but happens upon visiting the backend/frontend.

@hostep as far as I can tell, there is no plugin defined on

[2019-03-28 02:50] sin3838 opened #21984 "multi language create store view issue"
### Summary (*)

I tried to create new store view in Magento 2.
I have already set Website>Store>Store View(English)
Name : product-en
Code : product_en
Status : Enable
Sort Order : 0

I wanted to create store view (Chinese) on the same level(in the same Store)
Name : product-zh
Code : product_zh
Status : Enable
Sort Order : 0

But I faced following issue.
Something went wrong while saving. Please

[2019-03-28 02:50] magento-engcom-team commented on #21984
Hi @sin3838. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-28 03:11] magento-engcom-team commented on #21978
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-28 03:12] shikhamis11 commented on #21978
@magento-engcom-team give me 2.3-develop instance

[2019-03-28 03:12] magento-engcom-team commented on #21978
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-28 03:12] magento-engcom-team commented on #21978
Hi @shikhamis11, here is your [Magento instance](https://i-21978-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21978-2-3-develop.instances.magento-community.engineering/admin](https://i-21978-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 04:23] nikunjkotecha commented on #21853
@magento-engcom-team @engcom-backlog-nazar can someone help me understand next steps here?

[2019-03-28 05:31] Puni89 commented on #21956
But in our server, we are not able to upload any images and it's working fine in the local server.
And also collapse all, expand all, insert file, create folder are also not working
![Sc1](https://user-images.githubusercontent.com/28772801/55132407-52ca5e00-5148-11e9-95f7-252d9a4c58df.png)

[2019-03-28 05:44] paragpadsumbiya commented on #21972
Hello @shikhamis11

This issues is still exists in 2.2.6. And here same issue for reference . https://github.com/magento/magento2/issues/10234

Please dont close issue if you are not able to solve it . Until it fixed.

[2019-03-28 05:47] paragpadsumbiya commented on #21972
@magento-engcom-team @shikhamis11
please reopen issue.

[2019-03-28 06:08] nickpiro opened #21985 "Downloadable Product: Dropbox Link Failed to Download"
When creating a downloadable product with a URL link from dropbox, the user receives 'Download Failed' error message when trying to download off dropbox page. When you go to dropbox link directly, not inline with the website URL structure, the download is successful.

### Preconditions (*)
1. Magento CE 2.2.5
2. Dropbox Link

### Steps to reproduce (*)
1. Create Downloadable Product
2. Add Downloa

[2019-03-28 06:08] magento-engcom-team commented on #21985
Hi @nickpiro. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-28 06:09] nickpiro commented on #21985
@magento-engcom-team give me 2.2.5 instance

[2019-03-28 06:09] magento-engcom-team commented on #21985
Hi @nickpiro. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-03-28 06:09] magento-engcom-team commented on #21985
Hi @nickpiro, here is your [Magento instance](https://i-21985-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-21985-2-2-5.instances.magento-community.engineering/admin](https://i-21985-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 06:15] nickpiro commented on #21985
I was able to reproduce the issue in Magento 2.2.5 vanilla.

[2019-03-28 06:16] nickpiro commented on #21985
@magento-engcom-team give me 2.2.8 instance

[2019-03-28 06:16] magento-engcom-team commented on #21985
Hi @nickpiro. Thank you for your request. I'm working on Magento 2.2.8 instance for you

[2019-03-28 06:16] magento-engcom-team commented on #21985
Hi @nickpiro, here is your [Magento instance](https://i-21985-2-2-8.instances.magento-community.engineering).
Admin access: [https://i-21985-2-2-8.instances.magento-community.engineering/admin](https://i-21985-2-2-8.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 06:22] nickpiro commented on #21985
Was able to reproduce the issue in Magento 2.2.8 vanilla.

[2019-03-28 06:23] nickpiro commented on #21985
@magento-engcom-team give me 2.3-develop instance

[2019-03-28 06:23] magento-engcom-team commented on #21985
Hi @nickpiro. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-28 06:23] magento-engcom-team commented on #21985
Hi @nickpiro, here is your [Magento instance](https://i-21985-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21985-2-3-develop.instances.magento-community.engineering/admin](https://i-21985-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-28 06:27] Mohammed8960 commented on #20229
the bug still not fixed in 2.3

[2019-03-28 06:29] nickpiro commented on #21985
I was able to reproduce the issue in Magento 2.3-develop.

[2019-03-28 06:30] huykon commented on #21718
I have same problem now, did you have solution to resolve?

[2019-03-28 06:43] crankycyclops commented on #21982
I'm having the same problem on my dev box as well.

[2019-03-28 06:52] linh232323 opened #21986 "Custom URL Rewrite not work on Magento 2.3.0"
### Preconditions (*)
1. Magento CE 2.3.0

### Steps to reproduce (*)
1. When create new new URL rewritement with following information:
- Request: test
- Target: https://google.com
- Redirect Type: Temporary (302)

### Expected result (*)
1. <domain>/test should redirect 302 into https://google.com

### Actual result (*)
1. Show 404 not found

It works with Magento CE 2.2.7

[2019-03-28 06:52] magento-engcom-team commented on #21986
Hi @linh232323. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-28 07:21] orlangur commented on #21972
@paragpadsumbiya please reproduce an issue on provided instance first: https://github.com/magento/magento2/issues/21972#issuecomment-477217502

[2019-03-28 07:26] orlangur commented on #21972
@paragpadsumbiya,

We don't need more than one open issue for each bug. I've removed some labels fora an earlier one so that it will be rechecked.

[2019-03-28 07:35] engcom-backlog-nazar commented on #21780
@msawyers thanks, well if some people have the same issue, this ticket will help. thank for collaboration :+1:

[2019-03-28 07:37] engcom-backlog-nazar commented on #19187
Hi @akosglue @ZFNerd please describe your steps because a lot of people can login in admin and have no this issue, can you share with your configuration ?

[2019-03-28 07:38] magento-engcom-team commented on #21980
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-28 07:40] magento-engcom-team commented on #21986
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-28 07:40] singhshubham1 opened #21987 "Mini cart not refreshing"
Hi i had install magento 2.2.7 on my site http://173.249.54.193, In this i got 2 stores. and when i am adding a product from store 1 mini cart showing proper , but when i switch to store 2 it is not getting empty.
Can some 1 help me in this ?

[2019-03-28 07:40] magento-engcom-team commented on #21985
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-28 07:40] magento-engcom-team commented on #21987
Hi @singhshubham1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-28 07:41] magento-engcom-team commented on #21987
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-28 07:41] singhshubham1 opened #21988 "mini cart not refreshing"
Hi i had install magento 2.2.7 on my site http://173.249.54.193, In this i got 2 stores. and when i am adding a product from store 1 mini cart showing proper , but when i switch to store 2 it is not getting empty.
Can some 1 help me in this ?

[2019-03-28 07:41] singhshubham1 opened #21989 "mini cart not refreshing after switching store"
Hi i had install magento 2.2.7 on my site http://173.249.54.193, In this i got 2 stores. and when i am adding a product from store 1 mini cart showing proper , but when i switch to store 2 it is not getting empty.
Can some 1 help me in this ?
![image](https://user-images.githubusercontent.com/43064690/55139291-6c28d580-515b-11e9-9b81-bd90102ee4c1.png)

[2019-03-28 07:41] magento-engcom-team commented on #21989
Hi @singhshubham1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-28 07:42] paragpadsumbiya commented on #21972
@orlangur
Yes but instance in expired . I have reproduce this issue in our many websites . I have also reported that to Mollie extension developers so they found that this is actually Magento 2 core issues and I have checked same too.

[2019-03-28 07:42] engcom-backlog-nazar commented on #21987
Hi @singhshubham1
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-28 07:42] #21987 closed, assigned to nobody

[2019-03-28 07:43] engcom-backlog-nazar commented on #21988
Hi @singhshubham1 duplicate to this -> https://github.com/magento/magento2/issues/21987

[2019-03-28 07:43] #21988 closed, assigned to nobody

[2019-03-28 07:43] #21989 closed, assigned to nobody

[2019-03-28 07:44] engcom-backlog-nazar commented on #21980
Hi @jarrar1214 thank you for your report, which version of magento you use ?

[2019-03-28 07:44] paragpadsumbiya commented on #10234
@magento-engcom-team

Please resolve this issue as this one is from begging.

[2019-03-28 07:47] magento-engcom-team commented on #21984
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-28 07:49] singhshubham1 commented on #21989
can some 1 help in this problem i edited that issue and send the screen short . i want that mini cart empty when we switch the store

[2019-03-28 07:50] jigar48 opened #21990 "Custom option Price not consider the Catalog rule discount in Cart"
Products with custom option and price display correct on Product page but on cart page its not include the catalog discount.
Example: product price = 100.00 (Excluding Tax); custom option price = 0
10% Catalog discount applied to product.
10% Tax Will apply

### Preconditions (*)
1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)
1. Create Simple Product with a price of 100.00 and add a custo

[2019-03-28 07:50] magento-engcom-team commented on #21990
Hi @jigar48. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-28 07:51] singhshubham1 opened #21991 "how to set different quantity in multiple store in same product and display on product that quantity"
how to set different quantity in multiple store in same product and display on product that quantity.
magento 2.2.7 version

please help me

[2019-03-28 07:51] magento-engcom-team commented on #21991
Hi @singhshubham1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-28 07:52] engcom-backlog-nazar commented on #21989
@magento-engcom-team give me 2.2.7 instance

[2019-03-28 07:52] magento-engcom-team commented on #21989
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-03-28 07:52] singhshubham1 commented on #21991
yes

[2019-03-28 07:54] singhshubham1 commented on #21991
yes

[2019-03-28 07:54] hostep commented on #21976
@dweerd, thanks for the info.

Very good remark about `Magento\Cron\Model\Virtual`, this is really weird, because the virtual type `Magento\Cron\Model\VirtualLogger` got introduced in https://github.com/magento/magento2/pull/18209/files. But for some reason, in your error it strips of the `Logger` part of the class, which is really strange ...

[2019-03-28 07:55] jigar48 commented on #21990
yes

[2019-03-28 07:57] engcom-backlog-nazar commented on #21980
Hi @jarrar1214 thank you for you report, i'm not able to reproduce following steps you described, on clean magento 2.3-dev instance. this may be related to your custom code or url-rewrites.

[2019-03-28 07:57] #21980 closed, assigned to nobody

[2019-03-28 07:57] engcom-backlog-nazar commented on #21980
@jarrar1214
![DeepinScreenshot_select-area_20190328095723](https://user-images.githubusercontent.com/40756439/55140071-e6e3f780-513f-11e9-9f1f-3f5807324ace.png)

[2019-03-28 07:59] engcom-backlog-nazar commented on #21991
Hi @singhshubham1 you need to set price per website in configuration.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-28 07:59] #21991 closed, assigned to nobody

[2019-03-28 08:06] engcom-backlog-nazar commented on #21984
Hi @sin3838 thank you for you report, i'm not able to reproduce following steps you described, seems like problem related to your custom modules.

The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion

[2019-03-28 08:06] #21984 closed, assigned to nobody

[2019-03-28 08:14] engcom-backlog-nazar commented on #21986
Hi @linh232323 thank you for you report, this issue has already fixed in 2.3-develop branch and available on 2.3.1 release.

[2019-03-28 08:14] #21986 closed, assigned to nobody

[2019-03-28 08:15] engcom-backlog-nazar commented on #21986
@linh232323
![deepin-screen-recorder_Select area_20190328101406](https://user-images.githubusercontent.com/40756439/55141121-5955d700-5142-11e9-86be-a57b201acef1.gif)

[2019-03-28 08:18] magento-engcom-team commented on #21982
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-28 08:18] akosglue commented on #19187
I lot of people can login indeed, and a lot of people cannot.
In our case the problem was probably that the user password hash was made with an older version of magento. After upgrade some users couldn't log in. Eventually we made a query to update password hashes and it seemed to work.
The users with problems had this kind of hash: 123123123abcd
We made an update to appen ::0 at the end.
So it be

[2019-03-28 08:26] ochnygosch opened #21993 "config:set not storing scoped values"
### Preconditions (*)

1. Magento 2.3.1
2. Disabled single store mode
3. Two stores
  * website_code: website_test_1, store_code: store_test_1
  * website_code: website_test_2, store_code: store_test_2

### Steps to reproduce (*)

1. execute command `bin/magento config:set --scope websites --scope-code website_test_1 web/unsecure/base_url http://test1.example.com/`
2. execute command `bin/magento

[2019-03-28 08:29] magento-engcom-team commented on #21993
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-28 08:38] engcom-backlog-nazar commented on #21916
Hi @craigcarnell why reopen ?

[2019-03-28 08:44] craigcarnell commented on #21916
@engcom-backlog-nazar Because a fix has not been provided by Magento

[2019-03-28 08:47] craigcarnell commented on #21916
@engcom-backlog-nazar Do you have the PR you mentioned? I need this ASAP please

[2019-03-28 08:57] vishal-7037 opened #21994 "Magento Swatch Tooltip: bottom arrow design issue"
There is a designing issue with Swatch option tooltip. this design issue occurs at all the page where swatch options populated.

### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Go to configurable category view page
2. hover on swatch attribute.

### Expected result (*)

![2019_03_28_Tooltip_003](https://user-images.githubusercontent.com/38535982/55143662-30930900-5165-11e9-

[2019-03-28 08:57] magento-engcom-team commented on #21994
Hi @vishal-7037. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-28 08:59] magento-engcom-team commented on #21994
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va