[2021-09-24 08:01] ihor-sviziev commented on #32469
@engcom-Lima,
Thank you for the clarification on why it was closed.
In the future, it would be great to write a comment and then close the issue to prevent such confusion.

[2021-09-24 08:48] ihor-sviziev commented on #29228
Hi @sdzhepa @SilinMykola,
As discussed in Slack - We think fixing this issue for one extension might add potentially more significant problems for other extensions (because it will hide some order history) is the wrong way, so I'm closing this issue and related PR.

[2021-09-24 08:48] #29228 closed, assigned to ihor-sviziev, SilinMykola

[2021-09-24 09:00] s-smati commented on #32277
I'm having this same issue as well. when running bin/magento setup:upgrade Area Code error in Magento/2.4 (Community).

[2021-09-24 10:00] Den4ik commented on #29228
@ihor-sviziev Did you discuss it with @sdzhepa? I believe that it could be fixed without breaks on custom extensions

[2021-09-24 10:20] #34123 closed, assigned to nobody

[2021-09-24 10:57] engcom-November commented on #34119
Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above mentioned steps followed:
On configuring CDN fields "Base URL for Static View Files" and "Base URL for User Media Files" (Admin - Stores - Configuration - Web) - Webpage is broken.
![image](https://user-images.githubusercontent.com/60198231/134663584-a8c3b050-1654-4227-ae55-8ceba4b197b3.png)

[2021-09-24 10:58] ThisIsRuddy opened #34154 "Bulk API requests 'Maximum items of type "%type" is %max'"
### Preconditions (*)
1. Magento 2.4.3
2. MSI Enabled
2. Catalog Items > 20

### Steps to reproduce (*)
1. Attempt to post bulk API source-items request with greater than 20 items `{{MAGE_BASE_URL}}/rest/async/bulk/V1/inventory/source-items`
Or send POST request to /rest/V1/inventory/source-items with more than 20 product items
[code]

### Expected result (*)
1. Requests processed with 20+ items

[2021-09-24 11:37] engcom-Alfa commented on #33031
A couple of exercises have been done below

1. Exported the product that is having a few images already.
2. Replaced one image from the _additional images_ column of the csv file, and re imported keeping _add/update_ import mode.
Noticed that the old image is still existing and the newly replaced image is also getting listed in the products images section.

1. Exported the product that is having a

[2021-09-24 11:45] engcom-Alfa commented on #33031
A couple of exercises have been done below

1. Exported the product that is having a few images already.
Replaced one image from the _additional images_ column of the csv file, and re imported keeping _add/update_ import mode.
Noticed that the old image is still existing and the newly replaced image is also getting listed in the products images section.

2. Exported the product that is having a fe

[2021-09-24 12:09] oneserv-heuser commented on #33869
Hi @engcom-Lima,
I've created an example module for this problem. You can find it here: https://github.com/oneserv-heuser/magento2-33869.
I've also added detailed steps to reproduce this issue there and also implemented a workaround for this bug.

[2021-09-24 12:27] ihor-sviziev commented on #29228
@Den4ik sure!

[2021-09-24 12:44] zlep commented on #33798
@ihor-sviziev Why is it not fixed, though? This should have the **highest priority** since it makes localization completely useless. Magento 2.4.3 is basically only usable in countries where English is the first language.

[2021-09-24 12:48] engcom-November commented on #34151
Verified the issue on Magento 2.4.3 version after upgrading from 2.4.2-p1 and cannot able to reproduce this issue:

**Steps performed:**
Admin - Sales - Orders - Create New Order
Applied Email filter and selected Email address
Selected other store view (Ex: myteststore)
Add Products - Selected one Simple Product - Add Selected Products to Order - No issue
Select Payment and Shipping Method
Placed

[2021-09-24 14:08] ihor-sviziev commented on #33798
@zlep, basically, it should work fine on the ICU library >= 60 I guess.

[2021-09-24 14:33] m2-assistant[bot] opened #34155 "[Issue] Correcting position of Product name in Thumbnail popup"
This issue is automatically created based on existing pull request: magento/magento2#33888: Correcting position of Product name in Thumbnail popup

---------

### Description (*)
When admin user click on Product Thumbnail one popup is showing and there product title is not in the center.

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manua

[2021-09-24 14:34] Den4ik commented on #34155
Is it really should be centered?

**CC: @sdzhepa **

[2021-09-24 19:13] moranotcsos commented on #23908
Hello,

Regarding https://github.com/magento/magento2/issues/23908#issuecomment-518875486 and the customer_is_guest setting being set to 1 even though the customer is logged in, I was able to reproduce this issue, but I am not sure if this is the same for everyone.

What appears to be happening for me is that if a customer is a guest, places the order, and the order fails to be placed (for example

[2021-09-24 19:18] moranotcsos commented on #23618
Hello,

Regarding #23908 (comment) and the customer_is_guest setting being set to 1 even though the customer is logged in, I was able to reproduce this issue, but I am not sure if this is the same for everyone.

What appears to be happening for me is that if a customer is a guest, places the order, and the order fails to be placed (for example, a hosted payment page), the quote's customer_is_guest

[2021-09-24 23:00] ryanisn commented on #28193
it definitely should not be closed and OP definitely provided more than enough information

[2021-09-25 09:35] ia-gaurav opened #34158 "Does not use passive listeners to improve scrolling performance"
**Preconditions :**

Magento 2.4 latest version

**Steps 1:**  Check you site via google page speed :https://developers.google.com/speed/pagespeed/insights
**Steps 2:**  Check audit report you will see below issues
Does not use passive listeners to improve scrolling performance
Consider marking your touch and wheel event listeners as `passive` to improve your page's scroll performance. Learn more.

[2021-09-25 14:04] Jilco opened #34159 "Magento 2.4.3. login problems related to session.gc_maxlifetime"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Login as a custumer or admin in Opera mobile

### Expected result (*)

1. Go to account page after login

### Actual result (*)

1. Redirects to login page without anny error
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Report

[2021-09-25 14:05] Jilco commented on #34159
@magento give me 2.4.3 instance

[2021-09-25 14:14] Jilco commented on #34159
Cannot reproduce, possibly a server parameter...

[2021-09-25 14:14] #34159 closed, assigned to nobody

[2021-09-25 16:01] hostep commented on #30366
Not stale ...

[2021-09-25 21:07] ihor-sviziev commented on #29409
Keep it open

[2021-09-26 00:41] bytes-max opened #34160 "Remove and add images to existing product in one run causes InputException"
### Preconditions (*)

1. Use Magento 2.4.3
2. Update an existing product that already has images attached and add a new one

### Steps to reproduce (*)

1. create a product and save it programmatically or use an existing one that has images attached (image, thumbnail, small image)
2. remove existing images and add a new one (in my example I remove the existing image and re-add it - basically keep

[2021-09-26 05:01] ngtuan96lc opened #34161 "Unable to properly delete product attribute which input is file type"
### Preconditions (*)

1. Magento version 2.3.0 Enterprise Edition
2. PHP 7.3.28
3. Mysql 8.0.26-0ubuntu0.20.04.2

### Steps to reproduce (*)

1. Create 2 product attributes which input is **file** type

2. Go to Edit a product
3. At scope All Store Views, fill value for attributes and save.
4. Switch to specify Storeview, uncheck use default value, fill new value and save.
5. Still at scope Store

[2021-09-26 08:51] huynhlehieunam commented on #27969
Do you guys have script to recalculate children count without deleting old category?

[2021-09-26 10:25] mujtabahussainjoowork opened #34163 "Issue in Recently view products"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-09-26 10:26] mujtabahussainjoowork commented on #34163
Recently viewed products are still showing in the list even if products are disabled form backend

[2021-09-26 13:51] jakwinkler opened #34164 "Add pagination to attribute Management in admin panel."
### Description (*)

There is no pagination when editing attributes in Magento 2 admin panel. When you have 50-100 options, it is manageable, but if your customer is running a large multistore installation, it becomes hard to manage attribute options as it takes forever to load and there is no browser available on the web which would handle 10000 attribute options for 10 multi-stores, which become

[2021-09-26 17:13] hostep commented on #34154
Hi @ThisIsRuddy: can you check the following links: https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-3.html#apply-mc-43048__set_rate_limits__243patch-to-address-issue-with-api-rate-limiting & https://support.magento.com/hc/en-us/articles/4406893342093.
The second link contains a patch that is most likely going to solve your issue.

I'm guessing that this will get solved as wel

[2021-09-27 04:37] krishprakash commented on #34163
Hi @mujtabahussainjoowork.
Can you please provide the information like Steps to reproduce, actual and expected result, screens that illustrate problem will help a lot as per the [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Without such details, this issue could be closed as cannot reproduce.
Thanks

[2021-09-27 05:36] m2-assistant[bot] opened #34166 "[Issue] Fix regression - Add previous exception with more details"
This issue is automatically created based on existing pull request: magento/magento2#33419: Fix regression - Add previous exception with more details

---------

### Description (*)

As part of https://github.com/magento/magento2/pull/32730, we got a regression - the 2nd parameter for the previous exception was lost. It was reported in https://github.com/magento/magento2/pull/32730#discussion_r618

[2021-09-27 05:53] engcom-Lima commented on #34048
Hi @shubham-cedcoss,

We have noticed that this issue has not been updated for some time. Since this issue is not related to Magento Dev, we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-27 05:53] #34048 closed, assigned to engcom-Lima

[2021-09-27 05:58] engcom-November commented on #34049
Hi @carolinerenul ,

We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-27 05:58] #34049 closed, assigned to engcom-November

[2021-09-27 06:04] ihor-sviziev commented on #31513
Keep it

[2021-09-27 07:11] ajijshekh123 commented on #34146
Hi @MahamMubashir,
I have verified this issue as per your above steps. This issue is reproduced on "Magento ver. 2.3.5-p2".
After delete the product, The product is showing on CSV file.
Thanks.

[2021-09-27 07:24] engcom-Hotel commented on #32303
Hello @Nuranto,

We have tried to reproduce this issue in Magento 2.4-develop with the mentioned steps but for us the table is creating successfully. So we are unable to reproduce the issue. Please find below our db_schema.xml file content:

![image](https://user-images.githubusercontent.com/51681618/134862887-d3e38c16-a27e-44aa-ab10-e8264f316a7b.png)

Below is the screenshot of `bin/magento setup

[2021-09-27 07:31] engcom-Hotel commented on #32202
Hello @mtwegrzycki,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-09-27 07:31] #32202 closed, assigned to engcom-Hotel

[2021-09-27 07:32] engcom-Hotel commented on #33282
Hello @craig-bartlett,

Thanks for the response!

We will wait for your reply.

Thanks

[2021-09-27 07:45] staradzinau opened #34167 "Error during the cancelling sales order with cart price rule applied"
### Preconditions (*)

1. Magento 2.4.3 CE
2. Native M2 sample data installed

### Steps to reproduce (*)

1. Create the cart price rule: no coupon, auto-applying for the product A (let's say for example), some discount is applied (let's say, 15%)
2. Go to the storefront and add to the shopping cart product A
3. Check, that the cart price rule from  step 1 is applied
4. Place an order, use "Check/

[2021-09-27 08:43] krishprakash commented on #34167
@magento give me 2.4-develop instance

[2021-09-27 09:02] Nuranto opened #34168 "Unit Test Case Failing in Magento 2.4.3"
After migrating from 2.4.2 :

[code]

Seems @Den4ik reproduced it too (see #33861)

[2021-09-27 09:17] craig-bartlett commented on #33282
Hi @engcom-Hotel,

On the develop branch with Magento Inventory 1.2-develop the issue seems to be resolved! It looks like a related performance issue was recently fixed and has fixed this issue at the same time: https://github.com/magento/inventory/commit/cb52cecd4c4b2300d0f43309a68bd9940ba1d9fe

[2021-09-27 09:32] ThisIsRuddy commented on #34154
@hostep cheers man ! 👍

[2021-09-27 09:38] engcom-November commented on #34154
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
post bulk API source-items request with greater than 20 items is not working:
Issue observed for below POST requests on adding category items more than 20
/rest/V1/inventory/source-items
/async/bulk/V1/inventory/source-items
**Reponse:**
`
{
    "message": "Maximum items of type \"%type\" is %max",
    "parameters": {

[2021-09-27 09:56] engcom-Delta commented on #34002
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-27 09:56] #34002 closed, assigned to engcom-Delta

[2021-09-27 10:23] tprocter-ldg commented on #30844
Hello,

We have replicated this issue on M2.4.0 and it appears to be the self closing `<div class="rating"/>` tag on line 14 of `/magento/module-review/view/adminhtml/templates/rating/stars/summary.phtml`

The solution would be to use [valid HTML](https://html.spec.whatwg.org/#start-tags) in this template as a div element should not be self closing:
`<div class="rating"></div>`

[2021-09-27 10:35] engcom-November commented on #34082
This issue is intermittently reproducible on Magento 2.4-develop branch.
Magento 2.4-develop with Inventory Modules enabled
Catalog have products more than 100
On loading Admin - Catalog - Products - with pagination set to 200, below error message is getting displayed on UI.
Something went wrong with processing the default view and we have restored the filter to its original state.
![image](https:

[2021-09-27 10:49] krishprakash commented on #34167
Hi @avgust1111. Not able to replicate the issue as provided steps by you.

![image](https://user-images.githubusercontent.com/46617848/134894594-f80619fe-3e66-4ef7-81b6-733edbfbd742.png)

Can you please confirm the issue on latest magento instance
Thanks

[2021-09-27 10:53] IanFiretoys opened #34169 "setting prices in non-default storeviews also splits image attributes"
### Preconditions (*)

1. magento CE 2.4.3
2. multiple store views in more than 1 store

### Steps to reproduce (*)

1. Open a new product, or a product with no images.
![image](https://user-images.githubusercontent.com/33158810/134893852-18c2efa8-964e-4af8-961c-a42fe46372e7.png)
2. add an image, and leave the image tags as auto-filled
![image](https://user-images.githubusercontent.com/33158810/13

[2021-09-27 10:56] IanFiretoys commented on #34169
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-09-27 10:57] avgust1111 commented on #34167
Hello
I've just verified the described flow within your test environment (https://7819294f9e05404d25287c695ecac8b7-2-4-develop.instances.magento-community.engineering/) and it seems like the bug isn't reproduced on the latest M2 version for develop
But I believe, the issue can be reproduced on M2.4.3

[2021-09-27 11:00] krishprakash commented on #34167
Hi @avgust1111. Thanks for the prompt response.
We only approve/Confirm issue which reproduce on latest instance.
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this problem.
Thanks.

[2021-09-27 11:00] #34167 closed, assigned to krishprakash

[2021-09-27 11:09] engcom-Delta commented on #32700
Hi @Eddcapone ,
Please confirm is this still persists ?

Thanks

[2021-09-27 11:21] engcom-November commented on #34127
@magento give me 2.4-develop instance

[2021-09-27 11:33] Nuranto commented on #32303
I still reproduce this bug on 2.4.3.

I don't know why you cannot reproduce, but let's look at `xsd` : for `int`, `src/vendor/magento/framework/Setup/Declaration/Schema/etc/types/integers/integer.xsd` applies, and the regex is `\d+|null` which does not accepts negative values. It should be `-?\d+|null`, right ?

If you can't reproduce, maybe something in your configuration makes the validation to

[2021-09-27 12:11] engcom-November commented on #34169
Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above steps performed.
And the issue is also reproducible in below scenario as well:
Steps to reproduce:
1. Magento Multi store Setup
2. Set the Catalog Price Scope to Website and Save
3. Reindex and clear cache
4. Admin - Catalog - Products - Create Product - Upload Image, Product visible in all Websites and Save

[2021-09-27 13:25] engcom-November commented on #34127
Verified the issue on Magento 2.4-develop branch and the issue is reproducible with below Steps performed:
**Steps to reproduce:**
Create a configurable product with options. (used color attribute - visual swatch) / Or Use sample data  /juno-jacket.html which has options.
In admin, go to System->Index Management
Select all indexes, followed by Actions->Update by Schedule->Submit. (Make sure cron j

[2021-09-27 13:46] dphilipps commented on #34127
@magento give me 2.4-develop instance

[2021-09-27 14:06] dphilipps commented on #34127
Hi @engcom-November
Thanks for trying again!  I notice in your reproduction steps, 'submit' is missing after invalidating the indexes:

System->Index Management - Select All - Actions-> Invalidate Index

This might be a silly question, but did you definitely submit after selecting Invalidate Index in the dropdown?

I've just followed your steps again without 'Reindex and Clear cache' as this isn't

[2021-09-27 14:13] mrtuvn commented on #32700
File bigcol have you try add handle 1 column ? If you dont magento will not extend from any page layout. So your page broken totally make sense

[2021-09-27 15:17] rmsundar1 commented on #33241
@preeteshtavant to set the role/types images in all the websites/stores we need to pass `all` as store value in the API as per the doc
i.e,. `/rest/all/V1/products/{sku}/media`.

[2021-09-27 16:04] #30196 closed, assigned to somat-211

[2021-09-27 16:17] mrtuvn commented on #34158
the fix maybe take times deploy/merge to codebase
i think you can workaround and patch with your own way
https://stackoverflow.com/questions/60357083/does-not-use-passive-listeners-to-improve-scrolling-performance-lighthouse-repo

[2021-09-27 18:51] moranotcsos commented on #33729
Hello,

I just wanted to follow up to see if there has been any progress on the matter. I see it's in the triage board and just wanted to check if we may be getting a patch soon. While it was replicated on 2.4.3, the client we have is on 2.4.1 (we can upgrade to 2.4.2-p2 if necessary) and upgrading to 2.4.3 is not possible with our current setup.

[2021-09-27 21:05] bartoszkubicki commented on #26970
Still an issue

[2021-09-28 03:41] engcom-Lima commented on #34054
Hi @DmitrySamushchenko,

We have noticed that this issue has not been updated for some time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-28 03:41] #34054 closed, assigned to engcom-Lima

[2021-09-28 04:27] jayankaghosh commented on #2703
Lol. I just went to the issues tab and searched for the oldest issue present in Magento.
I can confirm that I was not disappointed by the thread at all...

[2021-09-28 04:44] krishprakash commented on #34163
Hi @mujtabahussainjoowork.
Feel free to reopen the issue once you update all the necessary details.
Thanks

[2021-09-28 04:44] #34163 closed, assigned to krishprakash

[2021-09-28 05:45] nishant04412 commented on #33872
Hi @oneserv-heuser,

Before we move ahead with this issue confirmation, there is 1 more thing which we need to clarify:

As per your use case, you are calling `$order->getGrandTotalAmount()` but you are not calling `getGrandTotalAmount` method from `QuoteAdapter` class. We need to understand the impact of it that is why we need some more information. So please clarify how QuoteAdapter class is cre

[2021-09-28 05:48] engcom-Lima commented on #33872
Hi @oneserv-heuser,

Before we move ahead with this issue confirmation, there is 1 more thing which we need to clarify:

As per your use case, you are calling `$order->getGrandTotalAmount()` but you are not calling `getGrandTotalAmount` method from `QuoteAdapter` class. We need to understand the impact of it that is why we need some more information. So please clarify how QuoteAdapter class is cre

[2021-09-28 06:02] engcom-Alfa commented on #33819
@magento give me 2.4-develop instance

[2021-09-28 06:04] oneserv-heuser commented on #28397
Still an issue.

[2021-09-28 06:22] oneserv-heuser commented on #33872
@engcom-Lima
Lets dive deeper into the code:

The object passed to the validate function of a Payment Gateway Validator Instance is an array:
https://github.com/magento/magento2/blob/192b28038dac2e993c65b49fb8b5af10cb520945/app/code/Magento/Payment/Gateway/Validator/ValidatorInterface.php#L22

This array contains an an object of the type PaymentDataObjectInterface:
https://github.com/magento/magen

[2021-09-28 07:02] Nuranto commented on #34168
It seems it has already been fixed in original library : https://github.com/genecommerce/module-braintree-magento2/pull/176

So it just needs to be merged in magento's fork.

[2021-09-28 07:29] mattcat900 commented on #18812
Hi, any update on this issue ?

[2021-09-28 08:00] sheepfy commented on #9799
Any luck in getting this one merged and closed? It's been years..

[2021-09-28 09:54] Meberem commented on #28698
@stalebot this is still a problem

[2021-09-28 10:17] engcom-November commented on #34127
Hi @dphilipps ,
Yes, I did submit after invalidating index
Please find the reference video of the same for your understanding.
/home/global/Downloads/swatch_test.mp4
Also, Issue 1 mentioned above is also not reproducible now after reindexing and clearing cache (Index Management - Update by Schedule - Once all the indexers are updated - Swatches are crossed out. We dont need to make another attempt

[2021-09-28 10:22] engcom-Delta commented on #33193
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-28 10:22] #33193 closed, assigned to engcom-Delta

[2021-09-28 10:41] dphilipps commented on #34127
Hi
How do I access the video ?

Thanks
Dave

On Tue, 28 Sept 2021 at 11:18, Girija Bhavani Kudupudi <
***@***.***> wrote:

[2021-09-28 10:42] engcom-November commented on #34127
Hi @dphilipps ,
Yes, I did submit after invalidating index
Please find the reference video of the same for your understanding.
https://user-images.githubusercontent.com/60198231/135072492-470bca71-d753-4ce1-9110-69cb99a6eb96.mp4

Also, Issue 1 mentioned above is also not reproducible now after reindexing and clearing cache (Index Management - Update by Schedule - Once all the indexers are updated

[2021-09-28 10:43] krishprakash commented on #33655
Hi @rosemariepopescu.
Feel free to reopen the issue once you update all the details as per the issue reporting guidelines.
Thanks

[2021-09-28 10:43] #33655 closed, assigned to nobody

[2021-09-28 10:45] krishprakash commented on #33542
Hi @f1-outsourcing. Feel free to reopen once you provide all necessary details to reproduce this issue
Thanks

[2021-09-28 10:45] #33542 closed, assigned to krishprakash

[2021-09-28 11:14] engcom-November commented on #33819
Hi @chequille , I verified the issue again on Magento 2.4-develop branch using same product "Impulse Duffle" by placing order with all quantity (say 100). Add to Cart button is removed only after re-indexing and clearing cache.
Without reindex - On refresing the front-end - Add to cart button is displayed.
After the indexers are reindexed and cache cleared - Add to Cart button is removed and "Out

[2021-09-28 11:35] andrewbess opened #34177 "Fix restriction for `colinmollenhour/cache-backend-redis` composer dependency"
### Preconditions (*)
We need to fix restriction for `colinmollenhour/cache-backend-redis` composer dependency have been weaked previously.

### Expected result (*)

1. `"colinmollenhour/cache-backend-redis": "1.14.2"`

### Actual result (*)

1. `"colinmollenhour/cache-backend-redis": "^1.14"`

[2021-09-28 11:37] dphilipps commented on #34127
Thanks for the video - you are following the right steps.  The one difference is the environment.  I see you are working on a local instance, but have you tried the steps using a 2.4-develop instance here?  That is what I am using to reproduce the problem and it works every time.  Could you try that and let me know how you get on please?

[2021-09-28 11:39] webgility-amazonapi opened #34178 "Not getting product option in product response"
### Preconditions (*)

1. Magento version  v2.3.7-p1
2.

### Steps to reproduce (*)

Create a Bundle Product with multiple options (more than 1) and save
reindex and clear cache
Send POST request to /rest/default/V1/integration/admin/token to generate admin access token:

Retrieve the order response by using below API

API URL: https://www.chutingstar.com/rest/V1/orders/135561
Method: GET
Token: q

[2021-09-28 12:40] stkorf opened #34179 "Bundle qty is increased every quote save on 2.4.2-p2"
### Preconditions (*)

1. Magento 2.4.2-p2
2. Create simple product (sku simple1)
3. Create bundle product (sku bundle1) with 2 options that contains simple1 product
![image](https://user-images.githubusercontent.com/15034002/135086584-d365a71d-4155-4234-8ac9-db557457d609.png)

### Steps to reproduce (*)

1. Go to frontend
2. Add bundle1 product to cart with selected simple1 in both options
3. Go

[2021-09-28 12:53] edward-simpson opened #34180 "RestAPI add order comment without providing status sets status to NULL, preventing from showing in order grid"
### Preconditions (*)

1. Magento 2.3.x, 2.4.x
2. Existing order to add comments to

### Steps to reproduce (*)

1. Using the orders/{id}/comments endpoint, POST a new comment, but exclude "status" field (as is not required)
2. Check the order in the sales_order, sales_order_grid database tables
3. Check the order in the admin > Sales > order grid and Front-end -Customer login > My Orders page

##

[2021-09-28 12:56] engcom-November commented on #34082
Cannot able to reproduce this issue on clean Magento 2.4-develop instance with above steps performed. Hence closing this issue.
@The-Tool-Room , if you come across this issue on Magento 2.4-develop branch, kindly reopen/create new ticket with elaborated steps to reproduce the issue.
Thank you.

[2021-09-28 12:56] #34082 closed, assigned to nobody

[2021-09-28 12:57] edward-simpson commented on #34180
Occurs because [`\Magento\Sales\Model\Order::addStatusHistory`](https://github.com/magento/magento2/blob/192b28038dac2e993c65b49fb8b5af10cb520945/app/code/Magento/Sales/Model/Order.php#L1740) used in API call does not check if provided $history param has status set before using it:

$this->setStatus($history->getStatus());

I would create a PR to fix this but a decision needs to be made whether to

[2021-09-28 13:08] dphilipps commented on #34127
@magento give me 2.4-develop instance

[2021-09-28 13:30] MeCapron opened #34181 "Capture amount is invalid when discount is higher than subtotal without tax"
### Preconditions (*)

1. 2.4.2-p2

### Steps to reproduce (*)

1. Add to your cart a product with a tax class
2. Add a discount that is for example 95% of the order
3. Try to capture it

### Expected result (*)

1. Order should be capturable

### Actual result (*)

1. Order is not capturable

### Example

- As far as I know, this issue was introduced by the commit [2dbab41631cce46be4a27dcbf10a7b1

[2021-09-28 13:31] MeCapron commented on #34181
@magento give me 2.4-develop instance

[2021-09-28 13:47] dphilipps commented on #34127
Hi @engcom-November
Here is a video showing my reproduction steps on the above instance from the magento-deployment-service.  As you'll see the swatch is no longer crossed after the indexes are invalidated and rebuilt.

https://www.loom.com/share/70c277bc1521477cb09c0c91d5a68231

Please let me know if any questions

Thanks
Dave

[2021-09-28 14:37] ssstankiewicz commented on #23618
To fix inconsistency at checkout(after login etc. with customer_id and customer_is_guest = 1) can edit vendor/magento/module-quote/Model/Quote.php:857 (Magento 2.4.2)
From:
[code]

To:
[code]

Of course via patch or afterBeforeSave plugin:

[code]

[2021-09-28 15:47] Quazz commented on #34158
Personally I've been using the following patch on jquery for ages:

[code]

[2021-09-28 16:21] #34177 closed, assigned to SilinMykola

[2021-09-28 16:28] caricell opened #34182 "Cannot create credit memo in 2.4.3 - Error: Please enter positive number in this field"
### Preconditions (*)

1. 2.4.3
2.

### Steps to reproduce (*)

1. SALES>ORDERS>GO TO ANY ORDER>SELECT INVOICES FROM THE LEFT COLUMN>OPEN THE INVOICE> CREDIT MEMO> REFUND OFFLINE OR >REFUND
**2.**

### Expected result (*)

1. Credit memo should create and send appropriate notifications, update available stock, etc.
2.

### Actual result (*)

1. "Please enter positive number in this field" appears

[2021-09-28 16:31] caricell commented on #34182
Note: This is in a Magento multi-store environment

[2021-09-28 16:56] mrtuvn commented on #34158
Add to the file lib/web/jquery/patches/jquery.js

[2021-09-28 18:14] proseLA opened #34183 "isMenuFixed in theme-adminhtml-backend bug"
i can not see when you would ever want this to be false.

whenever this returns false, the header for the actual data starts below the menu.  having this always return true provides desired format.  unless someone can show me otherwise.

https://github.com/magento/magento2/blob/44a7b6079bcac5ba92040b16f4f74024b4f34d09/app/design/adminhtml/Magento/backend/web/js/theme.js#L27-L33

![image](https://u

[2021-09-28 19:13] jackrevate commented on #30514
This is still an issue on 2.4.3 and needs fixed ASAP, this has appeared in quite a few versions now.

I've only just figured out the cause after Googling and finding this thread.

I don't quite understand how to patch things and don't have the pathing shown on the solution.

Can anyone assist? Really need this working ASAP. Hope this get solved quickly for everyone.

Thanks!

[2021-09-28 19:23] thlassche commented on #30514
You can use my patch: https://github.com/magento/magento2/files/5379024/fix-for-too-long-sortable-attributes.txt

[2021-09-28 19:29] jackrevate commented on #30514
Thanks, unfortunately I'm a noob and my file structure is /public_html/vendor/magento/module-elasticsearch/Model/Adapter/BatchDataMapper and then the file is in there.

Not quite sure how to run patches properly and if I'm doing it incorrectly as the paths always differ to what people post.

Thanks for your reply, really appreciate it.

[2021-09-28 21:01] hostep commented on #34181
This sounds similar to https://github.com/magento/magento2/issues/32270 & https://github.com/magento/magento2/issues/30853. Does [MC-41438: 100% Discount cart rule results in Tax invoiced](https://github.com/magento/magento2/commit/533ec2eb46c91b79b7a99ba4a6a164e2f6e3d7f1) fix your issue? This fix is included in Magento 2.4.3 btw.

[2021-09-29 05:41] chequille commented on #33819
As I said all the time !!!!!!
What are you going to do?
It is a bug!!!!!!

[2021-09-29 05:44] engcom-November commented on #34071
Hi @webgility-amazonapi ,

We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-29 05:44] #34071 closed, assigned to engcom-November

[2021-09-29 05:56] rahulbarot commented on #28977
@pathakkrunal  I am facing the same issue as you have mentioned on M 2.4.2 . Did you found any solution for it?

[2021-09-29 06:40] pathakkrunal commented on #28977
@rahulbarot No, not yet but you can try `cacheable="false"` in line no 10
 `<referenceBlock name="top.links" cacheable="false">` in following path
`/vendor/magento/module-customer/view/frontend/layout/default.xml`
I am not sure but you can try it

[2021-09-29 06:42] rahulbarot commented on #28977
@pathakkrunal One should never use `cacheable="false"` , specially in default.xml. It will make your website non cacheable.

[2021-09-29 06:45] pathakkrunal commented on #28977
@rahulbarot it will make just one block non-cacheable that is top.links.

[2021-09-29 07:28] engcom-November commented on #34181
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible. Capture online and Capture Offline both are working fine with above Tax and discount configuration.
**Steps performed:**
Created Tax rate of 20%
Created Cart Price Rule of $40 - Fixed amount for whole cart
Tax calculation as per below screenshot:
![image](https://user-images.githubusercontent.com/60198231/135222605

[2021-09-29 07:31] MeCapron commented on #34181
Thanks. I just tried this patch and it fixed my issue. No more problem here, thanks.

[2021-09-29 07:32] MeCapron commented on #34181
@engcom-November Thank you for working on this issue, as @hostep said this issue is resolved in 2.4.3 through  https://github.com/magento/magento2/commit/533ec2eb46c91b79b7a99ba4a6a164e2f6e3d7f1

[2021-09-29 07:32] #34181 closed, assigned to engcom-November

[2021-09-29 07:52] engcom-November commented on #34182
Verified the issue on Magento 2.4-develop branch having multi store setup but the issue is not reproducible on all the stores.
Steps performed:
Front-end - Add product to cart - Proceed to checkout - Submit payment using Paypal Express Checkout
Admin - Sales - Orders - View Order - Create Invoice
Credit Memo generated with decimal values - **No issue**
![image](https://user-images.githubuserconten

[2021-09-29 07:55] rahulbarot commented on #26837
@shikhamis11 @devchris79 Any solution for this issue? I am facing this issue on M2.4.2 also.

[2021-09-29 08:12] devchris79 commented on #26837
@rahulbarot We moved to Porto theme as its so popular and it has support for the latest Magento core. It had a few issues, but nothing severe.
Ultimo has been dead for quite a while now and the fixes get less practical as time goes by, the post from the 24th Feb did correct the issue for us, but only by stopping the Ultimo cache feature.

[2021-09-29 08:16] francescosalvi commented on #31145
gotta love the bot noise in this thread

[2021-09-29 08:25] rahulbarot commented on #26837
@devchris79 But I am facing this issue with default Magento with varnish cache enabled. None of the solution are seems to be working.

[2021-09-29 08:46] engcom-November commented on #34179
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible in all pages:
Bundle Product configuration:
![image](https://user-images.githubusercontent.com/60198231/135234715-d0291224-25a2-4559-9c83-53ba7c07b09d.png)

![image](https://user-images.githubusercontent.com/60198231/135234177-d194dca7-144c-4a14-a60c-5aa10501d54c.png)
No issue in Shopping Cart page and checkout page

[2021-09-29 09:40] jackjimmy commented on #34055
first try to disabled all third party extension and test 1 order. because it's not related to magento issues. there is something conflict with third party extension.

[2021-09-29 09:48] jackjimmy commented on #33819
need to disabled saleable quantity related modules. or you need to truncate reservation table from magento. as we all know saleable quantity change instantly while quantity change after shipment generate. magento2 give option inside inventory setting change quantity when order placed but it's not useful . so there is temporary solution is truncate reservation table from database or disabled all in

[2021-09-29 09:53] jackjimmy commented on #33800
can u please check is there any third party extension you have installed that conflict with invoice process

[2021-09-29 09:56] karyna-t opened #34188 "Stabilize Static Tests"
https://github.com/magento/magento2
https://github.com/magento/partners-magento2ee
https://github.com/magento/partners-magento2b2b
https://github.com/magento/partners-magento2-infrastructure
https://github.com/magento/magento2-sample-data
AC:

Static test build is green (PHP 7.4 & PHP 8.0)
Fix functional issues that cause failed tests
The result of composer install command is green with PHP 7.4 an

[2021-09-29 09:56] karyna-tsymbal-atwix commented on #34188
@magento I am working on this

[2021-09-29 10:32] jackjimmy commented on #33026
please try to run below query on your database may be it's helpful

ALTER TABLE catalog_product_entity CHANGE sku sku VARCHAR(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL COMMENT 'SKU';

[2021-09-29 10:46] stkorf commented on #34179
@engcom-November As I mentioned in description - this issue is reproduced on 2.4.2-p2. On 2.4-developer this issue isn't reproduced.
As I understand, Magento is still supporting 2.4.3 version and is creating security patches. And looks like one of this patches has broken bundle products.

[2021-09-29 11:09] engcom-November commented on #34178
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

**Steps to reproduce:**
Create a Bundle Product with multiple options (more than 1) and save
reindex and clear cache
Send POST request to /rest/default/V1/integration/admin/token to generate admin access token:
Send Get request to /rest/V1/products?searchCriteria[filter_groups][0][filters][0][field]=sku&searchCriteria

[2021-09-29 11:37] engcom-Delta commented on #34183
Hi @proseLA  ,
Kindly provide detailed issue description ,steps to reproduce , actual results and  expected results. So that we can reproduce it.
Hence added the label 'Needs Update'.
Thanks

[2021-09-29 11:47] engcom-November commented on #34180
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

**Steps performed:**
Created Order from front-end for a logged in customer using check/money Order. Order status is "Pending"
Sent POST request to generate admin access token using: /rest/default/V1/integration/admin/token
Sent POST request to /rest/V1/orders/15/comments to update comments for existing order using bel

[2021-09-29 12:06] dhwanik1412 commented on #28977
Have you got any solution? I am facing same issue in magento 2.4.3 with Varnish.

[2021-09-29 12:58] caricell commented on #34182
Hello and thank you for looking into this issue. While I do not have the 2.4-develop branch, I did reconfirm that this issue is occurring on BOTH stores of my two-store multi-store setup. If you were able to reproduce it on some, but not all, stores, then there must be some issue there, correct?

[2021-09-29 13:06] karyna-t opened #34194 "Check and update codebase to avoid fatal error for ReflectionType::isBuiltin()"
### Preconditions (*)
In PHP 8, **_\ReflectionType_** has become abstract and **ReflectionType::isBuiltin()** has been moved to **ReflectionNamedType::isBuiltin()** .

Now, if $method->getReturnType() is called, it may return ReflectionNamedType (which has isBuiltin method) or ReflectionUnionType (which doesn't).
Details: https://www.php.net/manual/en/class.reflectiontype.php#reflectiontype.change

[2021-09-29 13:06] karyna-tsymbal-atwix commented on #34194
@magento I am working on this

[2021-09-29 13:07] engcom-November commented on #33819
Verified the issue again on Magento 2.4-develop branch by placing order with all quantity (say 100).
When Indexers are set to "Update by Schedule" (System - Index Management) and placed Order with all salable quantity - "Add to Cart" button is not getting removed in Product Details page even after Indexers are updated.
Only on on Catalog Search Results page - "Out of stock" status is displayed. He

[2021-09-29 13:14] vovsky commented on #34063
@magento I am working on this

[2021-09-29 13:19] MyroslavDobra commented on #16779
Still an issue 2.4.3
Code moved to another class
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/SalesRule/Model/Coupon/Usage/Processor.php#L147
but issue still exists

[2021-09-29 13:24] vladyslav-sikailo-decima commented on #34161
@magento give me 2.3 instance

[2021-09-29 13:37] qsolutions-pl commented on #2703
I've just run into this myself! Maybe the issue is not mature enough? It needs to be over 18 years old ;-)

[2021-09-29 13:50] TheRealHunzik opened #34195 "Summary Count is Wrong Add Multiple Items to Cart using addProductsToCart"
### Preconditions (*)

1. Magento 2.4.2 Commerce
2. PHP 7.4

### Steps to reproduce (*)

1. Add Multiple Items to Cart Using Graphql
[code]
2. Check Cart data in Cart Section [Local Storage]

### Expected result (*)

1. summary_count Should be 2
2. Items Must Contain 2 Items

### Actual result (*)

1. summary_count  is 1
2. There are 2 Items in Cart
![Screenshot from 2021-09-29 18-48-04](https://u

[2021-09-29 13:53] onlinebizsoft commented on #34055
@jackjimmy how do you know if it is not related to magento issue? ;)
as said, in Magento core, the logic is "if !canCreditMemo() and !canInvoice() and !canShip() then close order".
So in our cases, all above conditions are passed and the order were closed.

[2021-09-29 14:15] xmav commented on #34188
@magento export issue to Jira project AC as Story

[2021-09-29 14:15] xmav commented on #34194
@magento export issue to Jira project AC as Story

[2021-09-29 14:22] #33579 closed, assigned to engcom-Lima

[2021-09-29 14:24] engcom-Hotel commented on #34081
Dear @Any-Documentation-Would-be-Great,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-09-29 14:24] #34081 closed, assigned to engcom-Lima

[2021-09-29 14:25] anzin opened #34196 "Stabilize WebAPI tests"
https://github.com/magento/magento2
https://github.com/magento/partners-magento2ee
https://github.com/magento/partners-magento2b2b
https://github.com/magento/partners-magento2-infrastructure
https://github.com/magento/magento2-sample-data

AC:
WebAPI test build is green (PHP 7.4 & PHP 8.0)
Fix functional issues that cause failed tests.

[2021-09-29 14:27] engcom-Hotel commented on #33873
Dear @webgility-amazonapi,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-09-29 14:27] #33873 closed, assigned to engcom-Echo

[2021-09-29 14:33] engcom-Hotel commented on #33640
Hello @trungpq2711,

We have noticed that this issue has not been updated for a long time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-09-29 14:33] #33640 closed, assigned to engcom-November

[2021-09-29 14:34] anzin commented on #34196
@magento I am working on this

[2021-09-29 15:40] dverkade commented on #30341
Confirmed issues should not be closed automatically

[2021-09-29 17:59] proseLA commented on #34183
hi @engcom-Delta,

- this is a vanilla install of 2.4.3.  i have not tried on 2.4-develop.  once i get my magento foo a bit stronger i will reproduce on 2.4-develop.
- there is no sample data loaded.  no modifications whatsoever.
- i have logged into the admin side, again with no modifications.
- the format on the admin dashboard is fine.
- as an example, i then click content -> configuration to b

[2021-09-29 18:40] #21406 closed, assigned to nobody

[2021-09-29 18:46] markshust commented on #21406
@DanielRuf looks like this was closed because jQuery migrate is being updated. What's the link/number to the issue?

[2021-09-29 18:49] DanielRuf commented on #21406
I do not know what the current status is. I've closed it due to inactivity.

[2021-09-29 18:49] DanielRuf commented on #21406
@markshust I do not know what the current status is. I've closed it due to inactivity.

[2021-09-29 18:53] markshust commented on #21406
This is a valid issue, it shouldn't be closed for no reason.

[2021-09-29 18:55] carloricci84 opened #34199 "Magento/QuoteGraphQl/Model/Cart/GetCartForUser function updateCartCurrency"
In https://github.com/magento/magento2/blob/2.4.3-release/app/code/Magento/QuoteGraphQl/Model/Cart/GetCartForUser.php

The function updateCartCurrency set an object instead of a string inside the cart object. On line 130, 131 and 133. The argument passed should be

`$newStore->getCurrentCurrency()->getCode()`

instead of

`$newStore->getCurrentCurrency()`

### Preconditions (*)
1. Magento 2.4.3

#

[2021-09-29 18:59] tmittleman1 opened #34200 "Ending Date Confusion and Inconsistancy"
### Summary (*)

Dates continue to be an issue in setting banners, setting promotion rules, and scheduling sliders.  Most Start dates are fine, but the end dates either end at the beginning of the date selected or the end of the date selected.  Adding consistancy on this along with clear date labelling of "Through" or "Up To" would be clearer than "End".

I've found that some dates are Up To that

[2021-09-29 19:45] qsolutions-pl commented on #2703
Seems it should be a quick JS fix in one of those 2 files (or maybe both, will check in few days)
`vendor/magento/module-configurable-product/view/adminhtml/web/js/variations/product-grid.js`
[code]
`vendor/magento/module-configurable-product/view/adminhtml/web/js/configurable-type-handler.js`
[code]

[2021-09-29 20:07] andrewbess commented on #34131
This issue has been fixed in PR https://github.com/magento/magento2-page-builder/pull/783

[2021-09-29 20:07] #34131 closed, assigned to nobody

[2021-09-29 20:44] chequille commented on #33819
Main Problem is, that metho isSaleable is not returning false if salable quantity is 0
A part of the solution would be Pull request issue #33799
This is change in Magento/InventoryIndexer/Model/IsProductSalable.php
I am saying part of solution because it is only working if the view page of the product or the view page of the category is not cached.

On my site I set one block in calatog_product_vi

[2021-09-29 22:21] cjnewbs commented on #30596
@luka4 Thank you for this! I was using a custom patch that just commented out lines 79-85 but your patch kept the functionality.

For context we had about 260K files in 40K directories and were getting Cloudflare 524 timeout errors. Bypassing Cloudflare resulted in a 7 min TTFB for when loading the media root.

Applying this patch reduced the TTFB to 1.7 sec. Thats on my local so on staging/prod i

[2021-09-29 22:34] perfpcs commented on #30596
@cjnewbs Did you load the 3 files in the official fix and adjust these 3 lines? Or use the default Magento files and only adjust these 3 lines?   I've loaded the patch but, I'm still very disappointed on how long it takes to load the media gallery compared to the old version of media gallery. This version of media gallery, although flashy looking and access to Adobe,  is so incredibly slow that it

[2021-09-29 22:43] pdeboolw opened #34201 "KEEP GETTING KICKED OUT OF MAGENTO ADMIN - EXTREMELY FRUSTRATING - FIX ASAP!!!!!"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1. LOG IN TO ADMIN
2. DO A SEARCH
3. SWITCH OUT OF TO EXCEL OR EMAIL, ETC
4. TRY DOING ANOTHER SEARCH
2.
3.

### Expected result (*)

1. I SHOULD NOT GET KICKED BACK TO THE LOGIN PAGE EVERY TIME

### Actual result (*)

1.GETTING KICKED OUT AND BACK TO THE LOGIN SCREEN
[Admin error.docx](https://github.com/magento/magento2/files/7255412/Admi

[2021-09-29 22:48] cjnewbs commented on #30596
@perfpcs I simply placed the patch in https://github.com/magento/magento2/issues/30596#issuecomment-892613935 (nothing more) into a file in my `m2-hotfixes` directory. The project I applied it to was a Magento Cloud project so this is auto-applied during the build stop of depoyment. (or use `vendor/bin/ece-patches apply` on your local). For non-cloud projects I normally use `cweagans/composer-patc

[2021-09-29 23:12] perfpcs commented on #30596
What is 30596(comment)? Link does not go to anything.

[2021-09-29 23:29] cjnewbs commented on #30596
The link should take you to the comment about 5 messages up (maybe a browser issue?).

Either way the patch I used is this:
[code]

This is working for me on 2.4.2-p2

[2021-09-29 23:32] xmav commented on #34132
https://github.com/magento/ece-tools/pull/801

[2021-09-29 23:51] perfpcs commented on #30596
OK I understand now. But you installed these 3 files first right?
https://github.com/magento/magento2/pull/31749

[2021-09-29 23:54] cjnewbs commented on #30596
Nope, just the patch in the comment a few messages up. Nothing else.

[2021-09-29 23:56] perfpcs commented on #30596
Hmmm...OK. I've already installed the fix in the link above. I'll try this on top and see if any improvement in speed. Thank you.

[2021-09-30 00:12] perfpcs commented on #30596
So I just checked and you must not have the latest version of all the modules as my Tree.php file does not have these lines. My composer.json for the cms module is version": "104.0.3".

[2021-09-30 00:42] cjnewbs commented on #30596
The project I applied it to is on `2.4.2-p2` and the package version of `magento/module-cms` is `104.0.2-p2`. Assuming you are on 2.4.3 and it looks more like this? https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Cms/Block/Adminhtml/Wysiwyg/Images/Tree.php#L79

Looking at that and the patch I'm using the glob method still seems much more performant. I tweaked the patch to wor

[2021-09-30 01:13] perfpcs commented on #30596
@cjnewbs Thank you for doing this. Yes I am on latest 2.4.3. I will give it a go!

[2021-09-30 03:44] perfpcs commented on #30596
@cjnewbs So this did not work for me or should I say it made no difference. Basically, the only thing that works for me with all these patches is using these files:

GetDirectoryTree.php.30629
GetDirectoryTreeTest.php.30629
IsExcluded.php.31749

This is the only combo that gets me the tree, otherwise the dir tree never shows. All patches still take about 30 seconds on first load which is really ra

[2021-09-30 03:45] abhattGlo commented on #33911
@magento give me 2.4-develop instance

[2021-09-30 04:35] perfpcs commented on #30596
Actually I take that back. The files above end uo trying to insert images with thr directory "media" missing so the image is broken. And 30629 doesnt seem to work anymoew with the latest Magento. On setup:upgrade I get this error:

  Type Error occurred when creating object: Magento\MediaGallery\Model\Directory\IsExcluded, Too few arguments to function Magento\MediaGallery\Model\Directory\
  IsExc

[2021-09-30 04:36] MaiDucQuan97 opened #34202 "Can not checkout in m2.4.3 when address has extension attribute"
### Preconditions (*)

1.  2.4.3-p1

### Steps to reproduce (*)

1. Address have extension attribute
2. Already reproduce this issue in default m2.4.3

### Expected result (*)

1. Checkout success

### Actual result (*)

1. Can not checkout
2. Error message: Object of class Magento\Quote\Api\Data\AddressExtension could not be converted to string
![Selection_510](https://user-images.githubuserconte

[2021-09-30 06:43] engcom-November commented on #29801
Hi @bdevi,
We are closing this issue as this is not a Magento bug.
FYI.. Please refer to the [system requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) for specific version upgrades/installations if you are still facing issues.
Thank you.

[2021-09-30 06:43] #29801 closed, assigned to engcom-November

[2021-09-30 06:46] engcom-Hotel commented on #28161
Hello @wilhelmpa,

We have tried to reproduce the issue in Magento 2.4-develop but were unable to reproduce it, it might be the case this issue has been resolved in this branch. Please have a look at to below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/135400969-bd60ffc4-ba52-4080-aae3-61526fcb6e80.png)

We are closing this issue for now because this is n

[2021-09-30 06:55] engcom-Delta commented on #28051
@magento give me magento 2.4 instance

[2021-09-30 06:58] engcom-Delta commented on #28051
@magento give me magento 2.4  Develop instance

[2021-09-30 07:02] engcom-Hotel commented on #31870
Hello @Quazz,

Thanks for reporting this issue!

As per the [documentation](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/plugins.html), If there are any arguments, the method should return an array of those arguments. But here it is not returning the `$saveOptions` variable.

So I am confirming this issue.

Thanks

[2021-09-30 07:03] girishanand commented on #28161
Hello Abhinav,

Did you made the test with enabling the Purchase order or some other one
which have required fields to fill in.
I hope you are aware of the issue?

Thanks
Girish

On Thu, Sep 30, 2021, 12:16 PM Abhinav Pathak ***@***.***>
wrote:

[2021-09-30 07:16] engcom-November commented on #31536
Hi @f1-outsourcing ,
Thank you for reporting. Can you please elaborate more details about the issue / provide steps to reproduce this issue
Thank you.

[2021-09-30 07:18] zigojacko commented on #7199
2.4 user here and we've just noticed this problem - I find it absolutely ridiculous that Magento don't deem this a bug. It renders the price filter completely inaccurate - abysmal...!

Anyone know of a fix we can apply to put this right?

[2021-09-30 07:33] engcom-Hotel commented on #32118
Hello @amitvkhajanchi,

We have tried to reproduce the issue in Magento 2.4-develop branch, but this issue is not reproducible. It might be possible that this issue is already been fixed in this, as per this [comment](https://github.com/magento/magento2/issues/32118#issuecomment-896187164).

Please try to reproduce this issue in Magento 2.4-develop branch and let us know if you are able to reprodu

[2021-09-30 07:41] engcom-Hotel commented on #33371
@magento give me 2.4-develop instance

[2021-09-30 07:56] ducquywp92 commented on #34202
Hi every body,
I also got this error when I try to checkout with guest customer ( order customer that don't have any address before access checkout page )
Magento 2.4.3 have added the function to compare shipping and billing address when order is place.
Checkout Process working fine if I don't make any customize.

But when I add extension_attribute to AddressInterface, the function array_diff() wi

[2021-09-30 07:59] engcom-Hotel commented on #33371
Hello @ksvikas,

Thanks for reporting this issue!

This is the duplicate issue of [issue](https://github.com/magento/magento2/issues/33389).  So we are closing this issue.

Thanks

[2021-09-30 07:59] #33371 closed, assigned to krishprakash, engcom-Hotel

[2021-09-30 08:08] engcom-Hotel commented on #32981
Dear @nizarweb77,

We have noticed that this issue has not been updated for a period of more than 14 Days. Please confirm, if you are still facing this issue. If yes, then please let us know with proper steps to reproduce with actual and expected results.

Regards

[2021-09-30 08:12] speedupmate commented on #28161
@engcom-Hotel I painted this issue in red https://github.com/magento/magento2/issues/28161#issuecomment-769470078  if the code is the same the issue is the same.

Hint, code is the same: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/SalesRule/view/frontend/web/js/action/select-payment-method-mixin.js

[2021-09-30 08:48] engcom-Delta commented on #28051
Hi @navarr ,

Issue is not reproducible in Magento 2.4 Develop. Hence closed.

[2021-09-30 08:54] mts527 commented on #29050
Any news regarding this feature? It would make administrating images with multiple stores a lot easier.

[2021-09-30 09:52] IanFiretoys commented on #29050
yeah, can this be made a slightly higher priority now that #34169 has been confirmed to be affecting core magento? there will be a lot of people out there with split off image attributes they don't know about or know how to fix without googling "The image cannot be removed as it has been assigned to the other image role" and digging in their database.

[2021-09-30 09:53] engcom-November commented on #32350
Verified the issue after upgrading from 2.3.2 to 2.4.2-P1 but the issue is not reproducible:
Before Upgrade:
![image](https://user-images.githubusercontent.com/60198231/135430269-6a0c988f-053c-4995-9659-780e337dbcd2.png)

After upgrade:
![image](https://user-images.githubusercontent.com/60198231/135430173-368d33ab-d44c-425a-9a11-fc6d10cde482.png)
@nabeeljavaid kindly recheck the issue again and pr

[2021-09-30 09:53] IanFiretoys commented on #34169
I initially thought this might be related to the fact that there are no "use default value" options for these images, so might have been left out of some check when saving in a new storeview, but as this happens to "design > display product options" which does have a use default value checkbox that doesn't make sense.

[2021-09-30 10:07] abhattGlo commented on #33911
@magento give me 2.4-develop instance

[2021-09-30 10:14] angelflo commented on #29713
same problem with last version 2.4.3 ...

[2021-09-30 10:15] engcom-November commented on #32530
Verified the issue on Magento 2.4.2 version but is not reproducible.
@kennysinkeler Porto theme is a 3rd party extension and code of this extension is not part on https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository
All questions, issue reports and fix for them should be addressed to the corresponding extens

[2021-09-30 10:15] #32530 closed, assigned to engcom-November

[2021-09-30 10:22] nordcomputer commented on #24926
Ok, just a question.
So, I disable a module and run `setup:upgrade --safe-mode`
After some time, I want to disable another module. So, I disable the second module and run `setup:upgrade --safe-mode` again.

What happens, if I reactivate the first module and run `setup:upgrade --restore-data`? Will it restore the data from the first deactivated module or will it restore the data for both modules (e

[2021-09-30 10:34] engcom-Hotel commented on #27699
Dear @lbajsarowicz,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-09-30 10:34] #27699 closed, assigned to engcom-Hotel

[2021-09-30 10:38] engcom-November commented on #32704
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible:
@swap-994 Catalog and Products URL configuration can be done in Admin - Stores - Configuration - Catalog - Catalog - Search Engine Optimization followed by reindexing (reindex from Terminal/CLI: >php bin/magento indexer:reindex) and clearing cache (> php bin/magento cache:flush)
Kindly refer the [docs](https://docs

[2021-09-30 10:50] webkul-deepak commented on #24926
@nordcomputer regarding : What happens, if I reactivate the first module and run setup:upgrade --data-restore=1? Will it restore the data from the first deactivated module or will it restore the data for both modules (even, if the second module is still deactivated)?
==> It only restore data for enabled module. It didn't restore data of deactivated modules.

regarding : Bonus question: Once I have

[2021-09-30 10:54] engcom-November commented on #32917
Hi @Eddcapone ,
Verified the issue on Magento 2.4-develop branch having B2B enabled but the issue is not reproducible:
Companies page is loaded as expected:
![image](https://user-images.githubusercontent.com/60198231/135441968-bf4b6ea4-4e5d-4726-b8c9-f0d7cb13bad9.png)

If you want to enable the B2B Shared Catalog feature, you must start the corresponding message consumers after installation. Kindl

[2021-09-30 10:54] #32917 closed, assigned to engcom-November

[2021-09-30 11:02] engcom-November commented on #32697
Hi @alex-james ,
We are not able to reproduce this issue on Magento latest versions and 2.4-develop having Magento_InventoryApi module enabled. We are closing this issue as there has been no latest update on the same. Kindly reopen/create new ticket if you are still facing this issue and provide missing steps if any.
Thank you.

[2021-09-30 11:02] #32697 closed, assigned to engcom-November

[2021-09-30 11:07] dphilipps opened #34204 "Cannot place order at checkout with Braintree and 3DS enabled using billing addresses without region set"
### Preconditions (*)

1. Magento 2.4.3
2. Braintree enabled
3. Card Payments enabled
4. **3D Secure enabled**
5. **Use billing address without state/region set**

### Steps to reproduce (*)

1. Enable Braintree in Sandbox mode.
2. Sandbox credentials:
PUBLIC: hpbfzdqypph3njjq
PRIVATE: 4de9983821adb24738636e502c557248
MERCHANTID: vq82jrtv65hsgjbk
2. Enable Braintree Card Payments
3. Enable Braintr

[2021-09-30 11:08] dphilipps commented on #34204
@magento give me 2.4-develop instance

[2021-09-30 11:12] engcom-Delta commented on #30046
Hi @MichaelThessel ,

Issue is not reproducible on Magento 2.4 Develop. Hence closed.

[2021-09-30 11:12] #30046 closed, assigned to engcom-Delta

[2021-09-30 11:16] hryvinskyi commented on #34151
@springluu @engcom-November The same issue on three sites in magento 2.4.3

[2021-09-30 11:22] dphilipps commented on #34204
Hi @engcom-November
How do i get an instance deployed with Braintree included in the build?  Even with country set in payment methods config, it does not appear.

Many thanks
Dave

[2021-09-30 11:24] nordcomputer commented on #30046
@magento give me 2.4-develop instance

[2021-09-30 11:24] engcom-Hotel commented on #32915
Dear @NathanDayFE,

It might be the issue with cookie_path. I request you to please try to implement the fix mentioned in [PR](https://github.com/magento/magento2/pull/32617) and let us know if this help you.

Thanks

[2021-09-30 11:29] engcom-Hotel commented on #32967
Hello @Webalpha97,

Are you still facing this issue? If yes, then please provide us some steps to reproduce, actual and expected results,  and screenshots in order to better understanding the issue.

Thanks

[2021-09-30 11:35] engcom-Delta commented on #31758
Hi @esimov,
Issue is not reproducible in Magento 2.4 Develop instance , Hence closed .

[2021-09-30 11:35] #31758 closed, assigned to engcom-Delta

[2021-09-30 11:42] nordcomputer commented on #30046
@magento give me 2.4-develop instance without extensions magento/module-two-factor-auth

[2021-09-30 11:43] nordcomputer commented on #30046
@magento give me 2.4-develop without extensions magento/module-two-factor-auth instance

[2021-09-30 11:44] dphilipps commented on #34204
I have verified these steps on a fresh composer install of M2.4.3

[2021-09-30 11:45] engcom-Delta commented on #32748
Hi @mikamarkus,
Issue is not reproducible in Magento 2.4 Develop instance , Hence closed .

[2021-09-30 11:45] #32748 closed, assigned to engcom-Delta

[2021-09-30 11:50] andreas-mausch opened #34205 "billingAddress in custom payment module is not of type AddressAdapterInterface"
### Preconditions (*)

1. Bitnami Docker installation: docker.io/bitnami/magento:2.4.3-debian-10-r30
2. Custom Payment Gateway module (private), based on Magento\Payment\Model\Method\Adapter

### Steps to reproduce (*)

1. Place an order, do the checkout, select the custom payment method and order.
2. The build() method of a the requestBuilder of the authorize command, based on Magento\Payment\Gat

[2021-09-30 12:04] nordcomputer commented on #30046
@engcom-Delta - are you sure, that it is not reproducible?
It could be a bit tricky to reproduce....
I wanted to try myself, but I am not able to login to the develop instance because of 2-Factor -.-

[2021-09-30 12:18] engcom-November commented on #33252
Verified the issue after upgrading from Magento 2.3.6 to 2.4.2 and Admin login and Front-end login both are working fine. We are closing this issue as there has been no latest update on the same. @adorobeleza , kindly reopen/create new issue if you are still facing issues and provide missing configuration details if any.
Thank you.

[2021-09-30 12:18] #33252 closed, assigned to engcom-Golf

[2021-09-30 12:41] aholovan commented on #21722
So, why this issue was closed? Has it been fixed? I've faced the same bug for some configurable products..

[2021-09-30 13:14] engcom-Delta commented on #32833
Hi @webrod ,

This issue is not reproducible in Magento 2.4. Develop. Hence it is closed.
Please find the attached screenshot.
![di_compile](https://user-images.githubusercontent.com/51681379/135461933-f0b71a71-f202-4bb5-97e7-dc34dd3d3159.JPG)
Thanks

[2021-09-30 13:14] #32833 closed, assigned to ihor-sviziev

[2021-09-30 13:27] webrod commented on #32833
I added Step 3, as explain in the next comments, this is a race condition with frontend request so to reproduce the issue load is required.
" _the CLI tries to remove all files and a directory, while the frontend at the same time creating new files there._"

[2021-09-30 13:42] hostep commented on #30925
For people running into this problem: try flushing the cache after you created an integration. That solved this problem over here on Magento 2.3.5.

[2021-09-30 13:43] clicks-kodet commented on #26333
Still valid on `2.4.3`

[2021-09-30 13:52] asrindayananda commented on #31763
This issue seems to have been solved in Magento 2.4.3

[2021-09-30 13:52] #31763 closed, assigned to nobody

[2021-09-30 14:45] engcom-Alfa commented on #33680
AC-1098 has been cancelled since there was another Jira ticket had been used! So the Jira ticket is - https://jira.corp.magento.com/browse/AC-1172

[2021-09-30 15:22] stephk89 opened #34208 "Stephanie Hogue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-09-30 15:25] stephk89 commented on #34208
We cannot see our orders on Magento. Please contact me stephanie.k@stpusa.net

[2021-09-30 15:50] sean-breeden commented on #14211
@adarshkhatri you should submit this as a fix to Magento if you have not already. This resolved a conflict with Amasty_Xsearch for me.

[2021-09-30 16:12] m2-assistant[bot] opened #34210 "[Issue] Ensure that previously existing records in catalog_url_rewrite_produc…"
This issue is automatically created based on existing pull request: magento/magento2#34209: Ensure that previously existing records in catalog_url_rewrite_produc…

---------
Ensure that previously existing records in catalog_url_rewrite_product_category are deleted before trying to insert them again.

### Description (*)

#### Changes
Delete existing records in the catalog_url_rewrite_product_cate

[2021-09-30 16:17] medigeek commented on #32833
@engcom-Delta this is still happening. Enable maintenance, install cron and try run the setup:di:compile 10-15 times to reproduce it.

 It doesn't happen *every* time, it happens *sometimes*, when cron runs seconds before running the setup:di:compile

This happens *sometimes* during builds and software upgrades and we want to avoid breaking the compilation and re-running docker and/or other CI/CD

[2021-09-30 16:37] mrtuvn commented on #34158
Create pr for jquery here

[2021-09-30 17:49] onlinebizsoft commented on #32118
I can't understand what is going on with Magento2 framework, I have a trace from a _initProduct and somehow it call to config more than 100 times and as the result, Magento spend around 500ms just for reading config value from cache and decode it. How can we make a website faster with such design from core?

![image](https://user-images.githubusercontent.com/22501570/135505403-76638770-863c-4e0e-9

[2021-09-30 19:46] #34208 closed, assigned to nobody

[2021-09-30 19:49] torhoehn commented on #34208
@stephk89 If you have any issue in a vanilla Magento instance please fill out the issue template. If you need assistance to run a Magento shop contact an agency/freelancer.

[2021-09-30 19:49] github-jira-sync-bot opened #34212 "Provide PHP 8.1 support for laminas/laminas-mvc"
To unblock implementation of PHP 8.1 support for Magento Open Source, we need to help upgrade other Open Source libraries (Magento OS composer dependencies).

 

Implementation steps:
* check if the work has already started ( [https://github.com/orgs/laminas/projects/16](https://github.com/orgs/laminas/projects/16) and [https://github.com/laminas/laminas-mvc/pulls](https://github.com/laminas/lamin

[2021-09-30 19:59] github-jira-sync-bot opened #34213 "Provide PHP 8.1 support for laminas/laminas-modulemanager"
To unblock implementation of PHP 8.1 support for Magento Open Source, we need to help upgrade other Open Source libraries (Magento OS composer dependencies).

 

Implementation steps:
* check if the work has already started ([https://github.com/orgs/laminas/projects/16](https://github.com/orgs/laminas/projects/16)  and [https://github.com/laminas/laminas-modulemanager/pulls](https://github.com/lam

[2021-09-30 20:06] github-jira-sync-bot opened #34214 "Provide PHP 8.1 support for laminas/laminas-view"
To unblock the implementation of PHP 8.1 support for Magento Open Source, we need to help upgrade other Open Source libraries (Magento OS composer dependencies).

 

Implementation steps:
* check if the work has already started ([https://github.com/orgs/laminas/projects/16](https://github.com/orgs/laminas/projects/16)  and [https://github.com/laminas/laminas-view/pulls](https://github.com/laminas/

[2021-09-30 20:31] mikhaelbois commented on #28519
Hello,

[#28072](https://github.com/magento/magento2/pull/28072) enables users to add a Gift Message to each Order Item.
But it doesn't seem to let users to add a Gift Message at the entire Order Level.

To do this, we would need to use the [setGiftOptionsOnCart mutation](https://devdocs.magento.com/guides/v2.4/graphql/mutations/set-gift-options.html) which is only available on Adobe Commerce.

Wo

[2021-09-30 23:19] zexperto commented on #27161
I could find a solution for this using currency convert function in this class [ \Magento\Directory\Model\Currency ]

$currency is instance of  \Magento\Directory\Model\Currency
$correct_price = $currency->convert({your price}, {current store currency});

then

 $quoteItem->setCustomPrice($correct_price);
 $quoteItem->setOriginalCustomPrice($correct_price);

this was not working on 2.3.x but now i

[2021-09-30 23:44] Tormalyn opened #34215 "Can't update product details. Error: Some images could not be resized. See log file for details."
### Preconditions (*)

1. www.Ollee.com.au/admin.    Magento_sales
2.Magento ver. 2.2.11

### Steps to reproduce (*)

1.Catalog--> product--> click on product to open editable table --> change price, quantity  (manually) --> save -->
2.

### Expected result (*)

1. [Screenshots, logs or description]
2. I want the product price, and the stock quantity to be amended.

### Actual result (*)

1. [Scre

[2021-10-01 00:56] mrtuvn commented on #32118
Not sure related your problem but i see one pull request related with read config. I will mention you if i found it

[2021-10-01 02:45] mrtuvn commented on #32118
Try upgrade redis in your test instance
Magento already bump version redis in development branch
See this https://github.com/magento/magento2/blob/2.4-develop/composer.json#L33-L34

[2021-10-01 02:59] tuyennn commented on #33901
@engcom-Delta any update from this issue?

[2021-10-01 03:58] onlinebizsoft commented on #32118
I don't think it is related (I think it was for fixing a long array of cache key or something)

@hostep @IbrahimS2 any idea why this is not being cached? Basically this method can be called many times from many where or within a loop,...etc for a same config value (like module enabled or not, a store setting,.....) (developers shouldn't care about caching the value themselves) so it should cache t

[2021-10-01 05:11] mrtuvn commented on #32118
cc: @fooman may know this

[2021-10-01 05:17] mattijv commented on #28740
The bug still exists in the latest version of the method.

[2021-10-01 05:32] abhattGlo commented on #33911
@magento give me 2.4-develop instance

[2021-10-01 05:40] fooman commented on #32118
@mrtuvn sorry I have got nothing to add to this discussion

[2021-10-01 06:24] krishnaragu opened #34216 "Error while saving home page"
![magento1](https://user-images.githubusercontent.com/38458706/135575066-914019d1-a823-4a48-8c69-2d41e22884b1.png)

### Preconditions (*)

1. I use magento version 2.4.3
2.

### Steps to reproduce (*)

1. Login to admin panel.
2. Try to save the "home Page"
3. You will get below error:
"Temporarily allowed to save HTML value that contains restricted elements. Allowed HTML tags are: div, a, p, span

[2021-10-01 06:34] #33911 closed, assigned to engcom-Hotel

[2021-10-01 06:51] t-eichmann commented on #28145
We can reproduce this in Magento 2.4.2-p2 and Magento 2.4.3

[2021-10-01 06:55] engcom-Delta commented on #34183
Hi @proseLA,
Thanks for providing detailed info. it would be great help if you can provide screenshots.
Regards,

[2021-10-01 07:18] kemexyz commented on #33911
What would be the pull request for this issue ? whats the solution?

[2021-10-01 07:21] kemexyz commented on #33819
Is this not related or solved by #33911 ? Can't test it because the solution is not publicly available for #33911

[2021-10-01 08:18] Muhamann opened #34217 "Updating price of configurables does not update price in quote tables -> results in 503 error when customer tries to login"
Hello,

i refer back to this issues:
https://github.com/magento/magento2/issues/6144
https://github.com/magento/magento2/issues/33921

They are closed, but now i could reproduce it.

**ISSUE:**
Changing a price of a configurable does NOT update the quote tables.
Prices in table "quote_item" are not updated AND quote grand total etc. is not updated in table "quote".
This results in an error 503, wh

[2021-10-01 08:29] tatiana-scandi opened #34218 "Category page crashes when "Equalize product counts" price navigation step calculation is chosen"
### Preconditions (*)

1. Magento 2.4.3
2. In magento admin navigate to Stores -> Configuration -> Catalog -> Inventory, select "Display Out of Stock Products"  = "Yes"
3. In magento admin navigate to Stores -> Configuration -> Catalog -> Catalog, select "Price Navigation Step Calculation" = "Automatic (equalize product counts)"
4. Create 1 configurable product, for which all options are out of st

[2021-10-01 09:52] brianrootways opened #34219 "Bundle product Rest API issue"
### Preconditions (*)

1. Magento 2.3.3
2. PHP version 7.2.34

### Steps to reproduce (*)

1. Can you give me some solution regarding bundle product API? See an attached screenshot when we fire bundle product API it will change (increment) option ID all the time instead of keeping the same. Can we keep the same bundle product option ID here (If we change in API)?
2.

### Expected result (*)

1. wh

[2021-10-01 12:11] Revengance1024 opened #34220 "setup:install fails if console command that injects Customer model class exists"
### Preconditions (*)

1. Magento Community 2.4.2 (possibly earlier versions affected)
2. Custom console command that has Customer model (directly or indirectly) injected in constructor
3. Database tables not yet created (install hasn't been run yet)

### Steps to reproduce (*)

1. Create custom module
2. Add custom console command that injects \Magento\Customer\Model\ResourceModel\Customer (direc

[2021-10-01 12:24] Revengance1024 commented on #34220
This issue is caused by \Magento\Customer\Model\ResourceModel\Customer calling `$this->setType('customer');` in constructor (vendor/magento/module-customer/Model/ResourceModel/Customer.php:87).

For anyone currently facing this issue there are 2 workarounds:
- Disable the custom module before install, run install, re-enable the module and run setup:upgrade
- Add dependencies that directly or indir

[2021-10-01 12:50] speedupmate commented on #28161
@engcom-Hotel reopen the issue please

[2021-10-01 12:52] engcom-Alfa commented on #33065
Hi @MeeGz

Tried to reproduce in **Magento 2.4-develop** version, and unable to successfully reproduce it. Below are the steps I followed.

1. Installed a fresh Magento 2.4-develop instance especially to test this case, where didn't install the sample data at all.

2. Just created one customer in the front end (This is required to request the query using customer token)

3. Admin> Created 2 catego

[2021-10-01 13:07] hostep commented on #33911
@sdzhepa: can you help out here? See comment above. Issues should never get closed without an extra comment specifying why it got closed.

[2021-10-01 13:58] Eddcapone opened #34221 "Magento 2 - Can't override class without overriding all the dependencies - must be an instance of ..."
### Summary (*)

I created a preference override for Magento\Quote\Model\Quote\Item\CartItemPersister in my own module. But I get this error in the browser developer console:

### app/code/Company/Configurator/etc/di.xml

    <?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

[2021-10-01 14:11] MayaraNovais opened #34222 "Erro na instalação do magento via composer - (HTTP / 2 404)"
[Composer\Downloader\TransportException]
  The "https://repo.magento.com/archives/ricardomartins/pagseguro/ricardomartins-pagseguro-2.9.7.0.zip" file could not be downloaded (HTTP/2 404 )

[2021-10-01 14:34] EnzoSparacino opened #34223 "Console log error on Swagger page in 2.4.3"
### Preconditions (*)

1. Magento 2.4.3
2. Swagger module installed

The following console error shows up when navigating to the swagger page on a blank Magento2.4.3: require.config is not a function

This is because requirejs-config block got removed from the layout file for the swagger index page.

An easy fix would be to also add the following line to the layout file, but I don't know whether t

[2021-10-01 14:54] #33241 closed, assigned to nobody

[2021-10-01 14:56] caricell commented on #34182
I have resolved this issue by going to STORES>CURRENCY SYMBOLS in Admin, UNCHECKED the "use standard" box and entered the "$" manually. Then SAVED the page, and refreshed cache as requested, and VOILA... I can now create credit memos successfully. See attached for where to apply this fix.
![credit memo fix](https://user-images.githubusercontent.com/78441828/135641733-596c4498-56fb-47ea-87bd-b8bd47

[2021-10-01 15:37] Eddcapone commented on #34221
I was able to solve it by using a plugin instead.

[2021-10-01 15:37] #34221 closed, assigned to nobody

[2021-10-01 15:57] danilkrasnorudskyi commented on #22885
same issue on magento 2.3.7-p1

[2021-10-01 17:41] proseLA commented on #34183
attached are 2 screenshots.  they are both of the catalog products page.  the first one is unmodified out of the box.  the second screenshot, i changed the `isMenuFixed` javascript function to return true.  all i did was modify the static theme.js file.  i took no action at all using the magento cli to clear cache or regenerate static content, etc.
![catalog_product_unmodified](https://user-images

[2021-10-01 18:17] hareshpatel commented on #33054
same issue how can resolve plz ler me know

[2021-10-01 19:48] navarr commented on #28051
@magento give me magento 2.4 instance

[2021-10-01 19:50] navarr commented on #28051
@magento give me 2.4-develop instance

[2021-10-01 20:02] navarr commented on #28051
@engcom-Delta This is still reproducible as described in the initial ticket.

[2021-10-01 20:30] davirs commented on #33770
This is exactly my problem! Please, can you help me: how can I found and delete the FK_BB79E64705D7F17FE181F23144528FC8?
thank you very much

![Screenshot_17](https://user-images.githubusercontent.com/4355062/135682653-83d4dcd8-2036-49e1-bf1c-aed611978743.png)

[2021-10-01 21:01] PedroGuerraTrellis opened #34224 "Cannot select attribute to export"
I can't exclude some attributes from CSV file with with all products. Checkboxes don't work properly.

Preconditions
Magento 2.4.2
mysql Maria db 10.3
PHP 7.4
Steps to reproduce
Make sure you have products in your Magento 2.
Create a couple of custom attributes (color, size for example). Not sure this field is required. I think this bug will reproduced without custom attributes.

Go to BO-> System

[2021-10-01 22:32] chequille commented on #33911
Hi Guys,
it is strange as always here !!!

The major problem is, that the method IsSaleable() is not returning false if salable quantity is 0

In pull request #33799 there is a change in Module/InventoryIndexer/IsSalable.php
With this, the IsSalabe method is returning false if salable quantity is 0 but not before cache is cleaned and only on catalog pages and product pages -> not here in the New P

[2021-10-02 07:18] onlinebizsoft opened #34225 "Grid UI component performance and behavior"
### Summary (*)

I have watched on some performance monitoring tool and I found this bad behavior, lets say if you have a grid with some kind of sub-queries for each row (custom renderer for each cell for example) then you would see the problem very clearly.

Basically the Grid UI component are loading in 2 stages: first the page loaded from the controller on the GET request then sub-request from

[2021-10-02 08:27] Morgy93 commented on #33586
@magento give me 2.4-develop instance

[2021-10-02 08:40] Morgy93 commented on #33586
Still reproducible on latest 2.4-develop, but #33589 got closed as fixed.

So it CANNOT be a duplicate! Like @engcom-Bravo stated here https://github.com/magento/magento2/issues/33586#issuecomment-902624277
The code is unchanged, I checked. **Please reopen this issue!**

How is it possible to get a little reaction from someone from the Magento staff since 20 Aug?
Do I need to ping all of them? Can

[2021-10-02 08:45] Morgy93 commented on #33588
Same "rant" like here https://github.com/magento/magento2/issues/33586#issuecomment-932714311
Let me just copy my comment, sadly it's the same story here.

-----

Still reproducible on latest 2.4-develop, but #33589 got closed as fixed.

So it CANNOT be a duplicate! Like @engcom-Hotel stated here https://github.com/magento/magento2/issues/33588#issuecomment-891795773
The code is unchanged, I check

[2021-10-02 11:46] ihor-sviziev commented on #33588
@Morgy93 can you reproduce the issue on the test instance?

[2021-10-02 13:07] in-session opened #34227 "Magento\Framework\View\Element\Html\Link generates automatically slash at the end"
When using the Link current class, a slash is automatically created at the end of the link.
Although the forwarding runs without suffix, it would be unnecessary to have a forwarding here.
Also here it would be good to control the CMS pages by the suffix setting.
This should happen depending on additional seo setting, so that allways the same suffix are given:

![image](https://user-images.githubus

[2021-10-02 16:26] EnzoSparacino commented on #34223
@magento give me 2.4-develop instance

[2021-10-02 17:35] EnzoSparacino commented on #34223
can be reproduced on clean 2.4-develop instance

[2021-10-02 18:09] cjnewbs commented on #34201
@pdeboolw this looks like it may be a configuration issue with your store. I just took a look at your admin login page and the cookie it sets for the admin session expires pretty much immediately. Take a look at this page and check if the admin session lifetime is set correctly. https://docs.magento.com/user-guide/stores/admin-session-lifetime.html
<img width="448" alt="Screenshot 2021-10-02 at 19

[2021-10-02 18:31] ihor-sviziev commented on #33586
@Morgy93, can you reproduce on the test instance?

[2021-10-02 19:16] Bashev commented on #34201
See here #33748

[2021-10-02 20:45] maghamed commented on #33725
@magento give me 2.4-develop instance

[2021-10-03 08:35] georgetze commented on #31117
I just upgrade from magento 2.4.2  to 2.4.3  and it doesn't work for simple products either

[2021-10-03 17:01] konstantinos158358 opened #34229 "Configurable products has zero price (in product view) after Locale is changed to Greek."
### Preconditions (*)

1. Plesk Obsidian 18.0.38
2. Magento Open Source 2.4.3
3. Php 7.4.23
4. Select English (United State) Locale from Stores --> Configuration --> General --> General (http://prntscr.com/1un7u6e)

### Steps to reproduce (*)

1. Change Catalog Input Type for Store Owner to Visual Swatch, for product attribute color (http://prntscr.com/1un5ram)
2. Create some options (http://prnts

[2021-10-03 18:53] jzarowny commented on #33729
@magento I am working on this

[2021-10-03 18:53] jzarowny commented on #33729
@magento add to contributors team

[2021-10-03 18:54] jzarowny commented on #33729
@magento I am working on this

[2021-10-03 19:44] konstantinos158358 commented on #34229
@magento give me 2.4-develop instance

[2021-10-03 20:13] Bashev commented on #34229
Looks like to be related to #33798  #33856 #33910 #34139 #34156

[2021-10-03 20:19] tatiana-scandi commented on #34218
@magento give me 2.4-develop instance

[2021-10-04 01:58] fidellakis commented on #33162
@magento give me 2.4.0 instance

[2021-10-04 02:00] fidellakis commented on #33162
@magento give me 2.4.0 instance

[2021-10-04 03:01] tatiana-scandi commented on #34218
@magento give me 2.4-develop instance

[2021-10-04 04:20] taipt-0504 commented on #32717
@magento give me 2.4-develop instance

[2021-10-04 04:22] engcom-Lima commented on #33926
Hi @portchris,

We have noticed that this issue has not been updated for some time. Hence we assume that this issue is fixed now or no maybe duplicate, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-10-04 04:22] #33926 closed, assigned to engcom-Lima

[2021-10-04 04:39] engcom-Alfa commented on #33798
@magento give me 2.4.3 instance

[2021-10-04 06:19] engcom-November commented on #34112
@N445 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen/create new ticket with missing steps if the issue is still reproducible on Magento 2.4-develop branch.
Thank you.

[2021-10-04 06:19] #34112 closed, assigned to engcom-November

[2021-10-04 07:23] Morgy93 commented on #33586
@ihor-klymchuk Yes, that is right in the first sentence.
I used the Magento instance that I just ordered one comment before.

[2021-10-04 07:24] Morgy93 commented on #33588
@ihor-klymchuk Yes, that is right in the first sentence of the second block.
I used the Magento instance that I ordered here https://github.com/magento/magento2/issues/33586#issuecomment-932712301

[2021-10-04 07:24] ihor-sviziev commented on #33586
@engcom-Alfa, could you re-check if this issue is still reproducing?

[2021-10-04 07:25] ihor-sviziev commented on #33588
@engcom-Alfa,
could you double-check if the issue still reproducing?

[2021-10-04 07:49] cmuench commented on #33802
@ihor-sviziev Is anyone at Adobe working on that issue. It's currently blocking the deployment of several (also commerce) projects, because our build pipelines are broken.
That's a core issue which should be prioritized by the core team.

[2021-10-04 08:02] cmuench commented on #33802
We have that issue if the config.php is checked in and if we run that in the CI pipeline.
`php bin/magento setup:install --cleanup-database --db-host=localhost --db-user=root --db-password=root --db-name=magento`

On the local machine we can run the command twice. The second run fixes the (maybe cache) issue.
In the CI it's not the idea to run the installation process twice.

[2021-10-04 08:06] cmuench commented on #33802
New information. If we delete the `app/etc/config.php` in the pipeline, the installation finishes without a failure. But that's not a solution.

[2021-10-04 08:40] isxam commented on #31978
@magento give me 2.4-develop instance

[2021-10-04 09:42] pawel-siejba commented on #33629
One of the possible reasons for this bug is the lack of https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/CatalogInventory/etc/frontend/di.xml plugins in `graphql` area. In `frontend` area `add_stock_information` plugin is the one that makes sure stock is taken into consideration on each product collection load. In `graphql` area there is no such plugin, but I'm wondering why `

[2021-10-04 10:20] ilnytskyi commented on #32478
@engcom-Alfa  I submited new fix for this issue. I managed to reproduce it with new Integration test here:
https://github.com/magento/magento2/pull/34226
the main fix is to replace `all` cache key in category repository with current store.

Please review this issue again

[2021-10-04 10:27] cmuench commented on #33802
We can confirm that the PR #33803 fixes the issue.
We added the code changes a patch in our project. The pipeline is then "green".

[2021-10-04 11:44] engcom-Delta commented on #34222
Hi @MayaraNovais,
Kindly provide clear description of issue , steps to reproduce ,actual results with screenshots and expected results.
Hence added the label 'Needs Update'.

[2021-10-04 12:10] engcom-November commented on #34182
Hi @caricell

Verified the issue again after upgrading from 2.4.2-P1 to 2.4.3 but unable to reproduce this issue

**Steps performed:**
Upgraded 2.4.2-P1 having multi store setup to 2.4.3
Login to Admin - Sales - Orders - View Processing Order - Invoices - Credit Memo - Refund Offline with decimal values - **No issue. Refunded successfully.**
Login to Admin - Sales - Orders - View Pending Order (Pu

[2021-10-04 12:12] vibhavankhade opened #34235 "After magento upgrade 2.3.2 to 2.4.3 Invalid parameter configuration provided for $configPaths argument"
### General (*)
 Magento version: 2.4.3
 PHP version: 7.4

### Summary (*)

Magento2.3.2 to Magento 2.4.3 upgrade successfully but when I edit cms block getting an error

{"0":"Invalid parameter configuration provided for $configPaths argument of Magento\\Variable\\Model\\Source\\Variables","1":"#1 Magento\\Framework\\ObjectManager\\Factory\\AbstractFactory->getResolvedArgument() called at [vendor

[2021-10-04 12:17] engcom-Hotel commented on #32303
Hello @Nuranto,

I have checked the versions for PHP and libxml they are as follows:
- PHP 7.4.20
- libxml 2.9.4

I request you to please try to reproduce it in Magento 2.4-develop and let us know if you are able to reproduce it.

Thanks

[2021-10-04 12:19] arsalanworld opened #34236 "Klarna logs: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'store_id' in 'where clause'"
### Preconditions (*)

1. Magento 2.4.3
2. Cron jobs are enabled
3. Debug log is enabled
4. Make sure there is a payment done using Klarna payment method.
### Steps to reproduce (*)

1. Run the cron jobs and notice it during midnight at 12AM in `var/log/debug.log` log file
2. Or create an object to "Klarna\Core\Cron\CleanLogs" class and try accessing the "execute" method.

### Expected result (*)

[2021-10-04 12:21] engcom-Hotel commented on #33051
Hello @marvincaspar,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-10-04 12:25] engcom-Hotel commented on #33282
Hello @craig-bartlett,

Thanks for the confirmation!

Hence the issue has been resolved in the development branch, We are closing this issue.

Thanks

[2021-10-04 12:25] #33282 closed, assigned to engcom-Hotel

[2021-10-04 12:26] arsalanworld commented on #34236
@magento I am working on this

[2021-10-04 12:27] arsalanworld commented on #34236
@magento add to contributors team

[2021-10-04 12:28] GalileoWebagentur commented on #34235
@vibhavankhade Do a full text search for "_Magento\Variable\Model\Source\Variables_" and locate the extensions, that still use this. In our case it was firegento/magesetup, which I then upgraded to ^1.0, to solve the problem by the module using "Magento\Variable\Model\Config\Structure\AvailableVariables" instead

[2021-10-04 12:39] engcom-Delta commented on #34218
@magento give me 2.4-develop instance

[2021-10-04 12:40] engcom-November commented on #33588
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible:
Configured Color Attribute as per below. But there is no exception observed when used URL: /catalogsearch/advanced/result/?color[][error]=1
![image](https://user-images.githubusercontent.com/60198231/135852229-41bc326a-4818-4945-83fb-13b37afba6f5.png)
![image](https://user-images.githubusercontent.com/60198231/1358

[2021-10-04 13:01] engcom-November commented on #34195
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps to reproduce:
GraphQL - Generate Customer Access token
Get Cart Id of Logged In customer using GraphQL
Run GraphQL Query using POST  - Add 2 Products to Cart
Issue: Only one item summary is displayed in Cart Icon - Summary
![image](https://user-images.githubusercontent.com/60198231/135855555-68fdc14d-5bcf-4bdd-ad

[2021-10-04 13:07] Morgy93 commented on #33588
@magento give me 2.4-develop instance

[2021-10-04 13:18] Morgy93 commented on #33588
@engcom-November

![image](https://user-images.githubusercontent.com/7961978/135858324-02ac57f7-6380-449f-98c6-ca34fafb2acf.png)

Any chance to see what the error is on the demo instances?

[2021-10-04 13:20] engcom-November commented on #34168
This issue is reproducible on Magento 2.4.3 but cannot be reproduced on Magento 2.4-develop branch.
@Nuranto kindly recheck the issue on Magento 2.4-develop branch as it has the latest code base and confirm back.
Thank you.

[2021-10-04 13:21] #34168 closed, assigned to engcom-November

[2021-10-04 13:25] engcom-November commented on #34098
Hi @digitalbricklayer ,

We are closing this issue as there has been no latest update on the same. Kindly reopen/create new ticket with missing steps if any if the issue still reproducible on Magento 2.4-develop branch

[2021-10-04 13:25] #34098 closed, assigned to engcom-November

[2021-10-04 13:47] ihor-sviziev commented on #34236
@magento/klarna could someone look on it?

[2021-10-04 13:48] engcom-November commented on #34151
Hi @hryvinskyi , can you please recheck the issue on Magento 2.4-develop branch as 2.4.3 is merged to 2.4-develop and it has the latest code base.
As mentioned in [comment](https://github.com/magento/magento2/issues/34151#issuecomment-926598490), even after upgrading from 2.4.2-P1 to 2.4.3 having multi store setup, we are not able to reproduce this issue.
Thank you.

[2021-10-04 13:49] ihor-sviziev commented on #34229
@konstantinos158358,
As a temporary workaround, you can apply the following patch: https://github.com/magento/magento2/issues/33856#issuecomment-904606945

[2021-10-04 13:50] #34229 closed, assigned to ihor-sviziev

[2021-10-04 14:08] Morgy93 commented on #17310
Just came here to see that the issue is not resolved for over 3 years. 😔

This happens for me sometimes on the frontend product page.
Magento 2.4.3 with redis-server 6.2.5

[code]

[code]

Any help?

[2021-10-04 14:36] engcom-Delta commented on #34218
Hi @tatiana-scandi,
Tried to reproduce the issue on Magento 2 .4 Develop . it is not reproducible . Hence adding the label 'Needs Update'.
Please help us to reproduce it or try to replicate on latest Magento 2.4 Develop branch from your end as it is latest version.

![product_inCategory](https://user-images.githubusercontent.com/51681379/135870816-b4826ae1-2ad0-4f95-96e8-bd41b66862b3.JPG)

[2021-10-04 14:47] engcom-Delta commented on #34224
Hi @PedroGuerraTrellis,
Kindly describe more on below step to reproduce the issue.
Go to BO-> System -> Data Transfer (Export).

Thanks

[2021-10-04 14:52] pdeboolw commented on #34201
Thank you very much!

From: Craig Newbury ***@***.***
Sent: Saturday, October 2, 2021 1:10 PM
To: magento/magento2 ***@***.***>
Cc: DeBoo, Philip ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2] KEEP GETTING KICKED OUT OF MAGENTO ADMIN - EXTREMELY FRUSTRATING - FIX ASAP!!!!! (#34201)

@pdeboolw<https://github.com/pdeboolw> this looks like it may be a configuration issue with your

[2021-10-04 14:54] onlinebizsoft commented on #29409
I have same problem. Magento backend is crazy slow.
I also saw a very serious bug with customizable option price #34003 do you get the same @ihor-sviziev ?

[2021-10-04 15:06] ihor-sviziev commented on #34003
@onlinebizsoft, the options in the custom options are saying +$N,  and it's not changing final price when you're selecting an option, so it's basically ok behavior.

[2021-10-04 15:54] github-jira-sync-bot opened #34237 "Upgrade NPM dependencies to the latest versions"
Upgrade the following NPM dependencies to the latest version:
* grunt-contrib-jasmine
* grunt-eslint
* imagemin-svgo
* strip-json-comments

[2021-10-04 17:01] pdeboolw commented on #34201
Question from our web technical team:

Inside of Magento, the admin cookie settings are already set to the max which is one year. However default cookie settings have the cookie restriction mode turned off. IS THIS something that needs to be turned on? I think that it is the bar that shows a button for accepting cookie settings. It is possible that the cookie settings hard coded in the backend whi

[2021-10-04 17:05] pdeboolw commented on #34201
Forgot to include screenshot:

***@***.***

From: DeBoo, Philip
Sent: Monday, October 4, 2021 12:02 PM
To: 'magento/magento2' ***@***.***>; 'magento/magento2' ***@***.***>
Cc: 'Mention' ***@***.***>; LWCC Analysts ***@***.***>; 'Debajyoti N' ***@***.***>
Subject: RE: [magento/magento2] KEEP GETTING KICKED OUT OF MAGENTO ADMIN - EXTREMELY FRUSTRATING - FIX ASAP!!!!! (#34201)

Question from our web

[2021-10-04 17:14] nirajbsa opened #34239 "Theme CSS is not including to head on front-end PHP 7.4.24"
### Preconditions (*)
1.  Magento 2.4.3
2.  PHP 7.4.24

### Steps to reproduce (*)

1. Fresh Magento installation on nginx and php 7.4.23 and after that upgraded php to latest sub release 7.4.24 and head doesn't have any included css expect calender.css

![image](https://user-images.githubusercontent.com/88161122/135894484-2bb16585-6d84-47b9-9978-4170b2c24bb0.png)

2. As per release note php7 - th

[2021-10-04 18:02] PedroGuerraTrellis commented on #34224
Hi @engcom-Delta,
To reproduce the issue, you'll need a fresh Magento installation (I'm pretty convinced that this bug is happening on all versions).
I'm using sample data.
Go to Admin page, System > Export > Select Product on Entity Type.
Then, select all attribute but sku and export.

Expected result:
A CSV file with sku.

Actual outcome:
`sku,store_view_code,attribute_set_code,product_type,cate

[2021-10-04 18:19] #34020 closed, assigned to SilinMykola, anzin, karyna-t

[2021-10-04 19:52] github-jira-sync-bot opened #34240 "Provide PHP 8.1 support for laminas/laminas-server"
To unblock the implementation of PHP 8.1 support for Magento Open Source, we need to help upgrade other Open Source libraries (Magento OS composer dependencies).

 

Implementation steps:
* check if the work has already started ([https://github.com/orgs/laminas/projects/16](https://github.com/orgs/laminas/projects/16)  and [https://github.com/laminas/laminas-server/pulls](https://github.com/lamina

[2021-10-04 19:54] github-jira-sync-bot opened #34241 "Provide PHP 8.1 support for laminas/laminas-soap"
To unblock the implementation of PHP 8.1 support for Magento Open Source, we need to help upgrade other Open Source libraries (Magento OS composer dependencies).

 

Implementation steps:
* check if the work has already started ([https://github.com/orgs/laminas/projects/16](https://github.com/orgs/laminas/projects/16)  and [https://github.com/laminas/laminas-soap/pulls](https://github.com/laminas/

[2021-10-04 20:01] github-jira-sync-bot opened #34242 "Provide PHP 8.1 support for laminas/laminas-math"
To unblock the implementation of PHP 8.1 support for Magento Open Source, we need to help upgrade other Open Source libraries (Magento OS composer dependencies).

 

Implementation steps:
* check if the work has already started ([https://github.com/orgs/laminas/projects/16](https://github.com/orgs/laminas/projects/16)  and [https://github.com/laminas/laminas-math/pulls](https://github.com/laminas/

[2021-10-04 23:45] caricell commented on #34182
Please see above for the workaround I used to clear up the issue. A smple re-saving of the STORES>Currency setting in admin resolved the issue. I cannot determine what caused the problem initially.

[2021-10-05 00:37] mrtuvn commented on #34239
I think issue may related with theme named "Magento/builtcon" ? Is this custom not from magento

[2021-10-05 01:35] onlinebizsoft commented on #34003
@ihor-sviziev I agree with the way it calcuate the price on the preview product view but you see we cant have different price between 2 places.
Customer see 1 price  then they add to cart and see another price!
So the most possible solution might be having the price calcuated in the same way on cart? So we convert currency for base price, custom option price,....first.

[2021-10-05 01:46] nirajbsa commented on #34239
Nope I tried with fresh Magento. That snapshot was sample from another site
to show it needs to add styles-m.css. or any other css

On Tue, 5 Oct, 2021, 6:07 am Tu Nguyen, ***@***.***> wrote:

[2021-10-05 04:54] paresh6002 opened #34243 "crowdin missing source strings into language pack"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. install community danish language pack
2. set locale to danish(da_DK)

![translation_issue_1](https://user-images.githubusercontent.com/59193951/135813681-b5a7a4d7-e22e-41b6-9530-bd70db282528.png)

_**screenshot-1**_

3. Add a product to cart which have backorder and notify customer activated and 0 qty. as we can see on screen

[2021-10-05 05:49] engcom-November commented on #34127
@magento give me 2.4-develop instance

[2021-10-05 06:00] TheRealHunzik commented on #34195
@engcom-November this should the P1 Issue because the event the price is calculating wrong [it consider price on 1st product only]

[2021-10-05 06:20] starmate commented on #3503
Hello,

I am also using Magento 2.4.1 and using this code kind of helped. Meaning, the messages are now properly showing but if you update your customer address for example and go on catalog page, the success message for changing the address is showing on the product page as well as on cart page if you add the product in shopping cart for example.

@feeh27 : do you also have this type of issue? Ha

[2021-10-05 06:47] pkatare opened #34244 "How to reproduce this issue "the product that was requested doesn't exist. verify the product and try again""
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1. Login to website
2. Go to PDP
3. Enter qty and click on add  to cart button

### Expected result (*)
Product should be able to add in minicart
1. [Screenshots, logs or description]

### Actual result (*)
When I am adding product to cart getting error - "the product that was requested doesn't exist. verify the product and try

[2021-10-05 07:35] phuongleduy commented on #33770
I empty table catalog_url_rewrite_product_category after that I update again by admin category. It works for me

[2021-10-05 07:54] portchris commented on #33926
Hey @engcom-Lima ,
Thanks for getting back to me. I have reviewed this ticket and yes it does appear related however, I am still about to reproduce this on Magento 2.4 so has this fix been merged in yet?

[2021-10-05 08:24] MagestyApps commented on #11262
For those who is still experiencing the same issue - you just need to add 'dynamic_id' = true to the wysiwyg config. Here is how it will look in the code:

[code]

[2021-10-05 09:20] m2-assistant[bot] opened #34246 "[Issue] Fixed error message related to message queue topic not including the topic name"
This issue is automatically created based on existing pull request: magento/magento2#34232: Fixed error message related to message queue topic not including the topic name

---------

### Description (*)

Now, if someone comes across this error, it's significantly quicker to determine the issue by knowing the particular topic that's causing the error.

I.e. https://magento.stackexchange.com/questi

[2021-10-05 09:27] m2-assistant[bot] opened #34247 "[Issue] Fixed error message related to message queue topic not including the topic name"
This issue is automatically created based on existing pull request: magento/magento2#34232: Fixed error message related to message queue topic not including the topic name

---------

### Description (*)

Now, if someone comes across this error, it's significantly quicker to determine the issue by knowing the particular topic that's causing the error.

I.e. https://magento.stackexchange.com/questi

[2021-10-05 09:28] jl-tric commented on #34239
Can confirm that php 7.4.24 breaks CSS on magento 2.4.3.

[2021-10-05 09:49] ThisIsRuddy opened #34248 "Bulk API requests to 'configurable-products' fail due to Magento\Framework\Webapi\ServiceInputProcessor::process() error"
### Preconditions (*)
1. Magento 2.4.3 (works as expected in 2.4.2-p1
2. Some values added to the 'color' attribute for use with variations
3. Configurable & Simple products ready for linking (csv attached to create products)

### Steps to reproduce (*)
1. Create a 'configurable' product and its variations as 'simple' products via Admin Import
2. Create Integration entry with permissions
- Catalog

[2021-10-05 09:52] ThisIsRuddy commented on #34248
@magento give me 2.4-develop instance

[2021-10-05 09:57] nirajbsa commented on #34239
Yes it happened only after upgrading php from 7.4.23 to 7.4.24
https://www.php.net/ChangeLog-7.php

Above you can see release note.

I couldn't figure out solution. It needs to be resolved ASAP because all **new server setups** if we install php 7.4 it will be latest version  7.4.24 and no one will be able make their website live nor can do development on website.

[2021-10-05 10:04] engcom-Lima commented on #33696
Hi @baatractive,

We have noticed that this issue has not been updated for some time. Since we were not able to reproduce this so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this with answer to queries asked in https://github.com/magento/magento2/issues/33696#issuecomment-922887309

Regards

[2021-10-05 10:04] #33696 closed, assigned to engcom-Lima

[2021-10-05 10:20] engcom-Lima commented on #34050
Hi @Eddcapone,

We have noticed that this issue has not been updated for some time. Since we were not able to reproduce it and there is no update on the requested info, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-10-05 10:20] #34050 closed, assigned to engcom-Lima, mitraj-adorncommerce

[2021-10-05 10:26] engcom-Hotel commented on #32752
Hello @denis-zyk,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-10-05 10:26] #32752 closed, assigned to engcom-Hotel

[2021-10-05 10:26] ThisIsRuddy commented on #34248
I am unable to complete testing due to not being unable to make successful API requests using a newly created 'Full Access' Integration key as all requests state "The consumer isn't authorized to access %resources." when using PostMan or curl commands. Are API requests disabled on devbot instances?

![image](https://user-images.githubusercontent.com/1761171/136005826-15aeba12-ea46-499a-9f72-c6bb23

[2021-10-05 11:28] jl-tric commented on #34239
To citate @hostep :

@nirajbsa maybee this will solve your issue aswell?
I have testet it, and it works perfectly for my installation :-) :+1:

[2021-10-05 11:48] densen45 commented on #34239
This issues also occurs on Magento 2.4.2-p2.

I can confirm that setting `pcre.jit=0` in the php.ini file and restarting the php7.4-fpm.service solves this issue. Thank you @jl-tric for sharing this.

[2021-10-05 12:49] engcom-Lima commented on #34244
Hi @pkatare,

Thank you for reporting the issue. Although we won't be able to analyse it until we can reproduce it on 2.4-develop. So in order to do that, please update below queries:

1. Can you please try again with the same steps as you did when you got error ? Maybe you'll be able to reproduce it again. Please make sure to clear cache.
2. Did you update inventory just before going to Product d

[2021-10-05 13:06] mdesplenter opened #34250 "If product has negative stock, shipment and credit can't be created in Magento 2.4.3"
If a product has negative stock, shipment and credit can't be created in Magento 2.4.3

### Preconditions (*)
1. Magento 2.4.3

### Steps to reproduce (*)
1. Create an order
2. Set stock of product to negative value (fe. -3)
3. Create a shipment
4. or after the order is finished, create a credit, while putting back the product into stock.

### Expected result (*)
1. Shipment/credit being created

[2021-10-05 13:07] mdesplenter commented on #34250
@magento give me 2.4-develop instance

[2021-10-05 13:07] engcom-Lima commented on #34227
Hi @in-session,

Thank you for reporting the issue.

However the provided description is not clear enough to understand what is the issue that you are facing. So below are some of the points which can help us in understanding and reproducing this issue:
1. Magento Version on which you are facing the issue.
2. Clear 'Steps to reproduce' will make it easy for us to reproduce this.
2. Expected and Ac

[2021-10-05 13:11] nirajbsa commented on #34239
@jl-tric  it worked :)  Thank you

[2021-10-05 13:18] rmsundar1 commented on #31870
@magento I am working on this

[2021-10-05 13:23] engcom-Delta commented on #34250
@magento give me 2.4-develop instance

[2021-10-05 13:25] mdesplenter commented on #34250
@magento give me 2.4-develop instance

[2021-10-05 14:17] mrtuvn commented on #34239
never got this issue. I don't change any specific in php instance. So i can't reproduce from my end
Just curiously is this config pcre.jit always enable (equal 1) ?

[2021-10-05 14:33] engcom-Hotel commented on #34236
Hello @arsalanworld,

Thanks for reporting the issue. We have tried to reproduce the issue with the above-mentioned steps and are able to reproduce it by making the object of `Klarna\Core\Cron\CleanLogs` and call the `execute` method.

Please find below the screenshot for reference:

![Untitled](https://user-images.githubusercontent.com/51681618/136043997-81e5c367-6b5a-441b-88b3-96502c9e7610.jpg)

[2021-10-05 15:12] engcom-Alfa commented on #33856
@magento give me 2.4-develop instance

[2021-10-05 15:15] aleksinoleg opened #34251 "PayPal 2.3.7-p1 - wrong quote while placing order"
### Preconditions (*)

1. Magento 2.3.7-p1
2. Stores > Configuration > Sales > Payment Methods > PayPal > Required PayPal Settings > Express Checkout > Enable In-Context Checkout Expirience > Yes
![Capture 2021-10-05 at 18 07 16](https://user-images.githubusercontent.com/12597294/136050217-5bb3318e-92d2-44d2-9a6c-b6da72b7e921.png)

### Steps to reproduce (*)

1. Sing Up/login
2. Make sure the Bill

[2021-10-05 15:59] engcom-Delta commented on #34250
@magento give me 2.4-develop instance

[2021-10-05 16:37] lilbumblebear opened #34253 "Vault/Stored Payment Methods are not saved per store"
### Preconditions (*)
1. Magento 2.4.3
2. Braintree Payment Method (with Stored Cards)

### Steps to reproduce (*)
1. Create 2 websites (ex: A and B)
2. Stores - Configuration - Customers - Customer Configuration - Share customer accounts --> global
3. Reindex and cache clear
4. Admin - Stores - Configuration - Sales - Payment Methods - Scope - Default Scope - Configure Braintree with Sandbox acco

[2021-10-05 19:08] konarshankar07 commented on #34242
@magento I'm working on this

[2021-10-05 19:17] hostep commented on #34239
So to give a bit more context.
The [bug](https://bugs.exim.org/show_bug.cgi?id=2763) was introduced in the PCRE2 library version 1.0.37 and has been [fixed](https://vcs.pcre.org/pcre2?view=revision&revision=1302) since then but that hasn't been released yet in a newer version.
PHP then as a quick fix added [a workaround](https://bugs.php.net/bug.php?id=81101) in version 7.4.22 and 8.0.9 to circumv

[2021-10-05 22:48] YetiCGN commented on #33101
What also helps is deactivating the Csp module altogether: `bin/magento module:disable Magento_Csp`.

[2021-10-06 02:49] perryholden commented on #31043
What is strange is that this was originally reported on 2.3.5-p1, but one of our sites running on 2.3.6-p1 didn't show this issue, despite it being a later version. But after upgrading to 2.4.2, it does show the issue here.

In that upgrade, we changed to Elasticsearch 7 (we were running Elasticsearch 6 on 2.3.6), so I'd way it is 100% related to Elasticsearch 7. I don't think anything in Magento

[2021-10-06 03:59] engcom-Lima commented on #33763
Hi @webtekindo,

We have noticed that this issue has not been updated for some time. Since we are not able to reproduce it, we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-10-06 05:12] webgility-amazonapi commented on #34178
Hi @engcom-November ,

Is there any update on the resolution of this issue. Our customer is getting in panic mode now.

Thanks,
Webgility team

[2021-10-06 05:14] sprajapat770 commented on #27469
@NachoVidalGolosinas run this command in your database terminal.

INSERT IGNORE INTO inventory_source_item (source_code, sku, quantity, status)
select 'default', sku, qty, stock_status from (cataloginventory_stock_status as lg join catalog_product_entity as prd on((lg.product_id = prd.entity_id)))

[2021-10-06 06:29] engcom-Delta commented on #34250
Hi @mdesplenter,

We tried to reproduce the issue as per provided steps but it is not replicated in Magento 2.4 Develop.
Hence, request to have a look into it and confirm us.
Added the label 'Needs Update.
Kindly find the attached screenshots for reference.
![quantity_update_Negative](https://user-images.githubusercontent.com/51681379/136151533-de125ddc-b5b8-4dfe-a461-28b6a177defe.JPG)
![shipment_

[2021-10-06 06:50] #34251 closed, assigned to ihor-sviziev, engcom-Delta

[2021-10-06 06:50] engcom-Hotel commented on #31271
Hello @sodhancha,

We have noticed that this issue has not been updated for a period 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-10-06 06:50] #31271 closed, assigned to engcom-Hotel

[2021-10-06 07:37] engcom-Hotel commented on #34089
Hello @MeCapron,

Thanks for posting this issue!

I have verified this issue via codebase. As per the code, `setIsVirtual` method requires `int` type parameter. Please refer this codebase [link](https://github.com/magento/magento2/blob/1807f70756b521240c06eb556802422307cabbb5/app/code/Magento/Quote/Model/Quote/Item.php#L28) for reference.

And `getIsVirtual` method is returning `bool` values only.

[2021-10-06 07:49] engcom-November commented on #34122
Hi @nopenopenope ,

We are closing this issue as there has been no latest update on the same. Kindly reopen / create new ticket if you still facing any issues on 2.4-develop branch and provide missing steps if any.

Thank you.

[2021-10-06 07:49] #34122 closed, assigned to engcom-November

[2021-10-06 07:55] margauxdalimier opened #34255 "Advanced Reporting not working"
Good morning,

We are struggling to have Advanced Reporting in our Magento instance.

This is what we have done so far :

- The website must run on a public web server.
- The domain must have a valid security (SSL) certificate.
- Commerce must have been installed or upgraded successfully without error.
- In the Commerce configuration for  store URLs , the Base URL (Secure) setting for the store vi

[2021-10-06 09:13] stkrelax commented on #28100
unbelievable this is not solved yet...
the patch that worked for us:

[magento-2.4.2-p1-issue-28100.log](https://github.com/magento/magento2/files/7292371/magento-2.4.2-p1-issue-28100.log)

rename .log to .patch

[2021-10-06 09:30] engcom-Lima commented on #33872
Hi @oneserv-heuser,

Thank you for the detailed explanation. Based on it we can proceed with this issue accordingly and therefore confirming this issue again.

[2021-10-06 10:55] nopenopenope commented on #33986
HI @engcom-Lima,

thanks for your effort! I've tried to solve my problem via the _prepareLayout() logic in the block itself, however, if the solution you provided is working as well we can also go with that. However, the main question is still open: why can the Block in _prepareLayout() not access the proper data, passed to the Block via setData() for example. But maybe I am lacking understanding

[2021-10-06 11:15] engcom-Lima commented on #34255
Hi @margauxdalimier,

Thank you for reporting the issue. However your issue does not look like Magento Dev related.

So, what I suggest is you check with Magento Support relating to same or you can also post on various Magento Forums for a possible solution. As per documentation `It can take up to a day for data to be available in Advanced Reporting.` so please make sure of it.

You can find more

[2021-10-06 11:36] richard-parnaby-king commented on #14881
I have encountered this issue myself.
To recreate:
Create a product attribute via the admin panel with a mixed-case attribute code (e.g. `Part_Type`).
At this point it does not matter what case you use in the `additional_attributes` column (i.e. all lower case, all uppercase, or mixed case to match the attribute code). For this example I shall use mixed-case.
In a csv, set the `additional_attribut

[2021-10-06 11:52] engcom-Alfa commented on #34154
As per the Magento feature, limited the maximum items to 20, and if anybody wants to have it for more than this limit, surely they can use the given fix mentioned in the [above-comment](https://github.com/magento/magento2/issues/34154#issuecomment-927339385). Hence closing this issue.

In case of any issues relevant to Magento, kindly test in latest Magento version and report a bug with all detail

[2021-10-06 12:01] ioweb-gr opened #34258 "addAttributeToFilter is not respecting the attribute_id type bypassing db indexes"
### Preconditions (*)
1. Magento 2.4.1
2. MariaDB 10.4

### Steps to reproduce (*)
1. Create a collection using addAttributeToFilter

For example
[code]

2. Retrieve the sql select produced by the collection

[code]

3. Notice that the attribute_id in joins is treated as a text value but in reality it's an integer value

The query execution time due to this is extremely high. With text values and

[2021-10-06 12:45] Priyanka-J-94 opened #34259 "Page Builder in Custom Admin Form"
### Summary (*)

Current Magento Version - 2.4.3 is possible to implement default page builder editor for custom admin form

**Note :** Here form created using php (without using ui_component)

### Examples (*)

Implemented for CMS Page's Content like the same way need to implement for custom form's content

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2

[2021-10-06 13:07] Priyanka-J-94 commented on #34259
thank you

[2021-10-06 14:02] atIOCrON commented on #34125
Hi @engcom-Delta ,
You clearly didn't read the description that @sgeleon wrote because the steps to reproduce, actual results and expected results are all there. I'll copy and paste them for you:

======== Preconditions =========

Magento 2.4.3
Onestepcheckout/iosc 1.2.051
======== Steps to reproduce =====

Add goods in cart by click on 'Add to cart'
Come in into checkout
======== Expected result

[2021-10-06 14:09] mrtuvn commented on #33986
Short Answer: limitation . I'm not sure why layout not able to access data. Maybe it's doesnt have to be able access to such data

[2021-10-06 14:20] Muhamann commented on #34217
@m2-community-project

@m2-assistant

@magento I am working on this

 @engcom-Echo can you check this again like in the closed issue?

[2021-10-06 14:56] hostep commented on #34154
@sdzhepa, @sidolov: @engcom-Alfa must be joking, do you guys know more about if a fix for this is coming in an upcoming version of Magento? Only having the ability to update 20 stock items at the same time using the API is a bit silly, right?

[2021-10-06 15:23] #34132 closed, assigned to andrewbess

[2021-10-06 15:31] prabhakaran777 opened #34262 "Magento 2.4.3 magento/upward and upward connector Install error via composer"
### Preconditions (*)

1.Magento 2.4.3
2.composer

### Steps to reproduce (*)

1.Install Magento 2.4.3
2.Run  `composer require magento/upward magento/module-upward-connector`

### Expected result (*)

1. It Should install -> magento/upward, magento/module-upward-connector

### Actual result (*)

1. [Screenshots, logs or description] ![Screenshot from 2021-10-06 21-00-15](https://user-images.githu

[2021-10-06 15:41] #34057 closed, assigned to nobody

[2021-10-06 15:48] karyna-t opened #34263 "Add PHP 8 Union Types Support for function Parameters"
In PHP 8, new Union types feature was introduced.
(see details https://wiki.php.net/rfc/union_types_v2)

e.g. it's possible to create a function with a signature like
`function baz(Foo|Bar|int $arg) { ...`

Right now Magento will not work properly with such a feature. There are several places where we're using Parameter's Class (e.g. for code generation):

- https://github.com/magento/magento2/blo

[2021-10-06 16:17] karyna-t opened #34264 "Add PHP 8 Union Types Support for function Return Type"
In PHP 8, new Union types feature was introduced.
(see details https://wiki.php.net/rfc/union_types_v2)

e.g. it's possible to create a function with a signature like
`function baz(): Foo|Bar|int { ...`
were return type is a union.

Right now Magento will not work properly with such a feature. There are several places where we're using Parameter's Class (e.g. for code generation):

- https://githu

[2021-10-06 16:30] karyna-t opened #34265 "Add PHP 8 Union Types Support for tests in the codebase"
In PHP 8, new Union types feature was introduced.
(see details https://wiki.php.net/rfc/union_types_v2)

Related issues:
https://github.com/magento/magento2/issues/34263
https://github.com/magento/magento2/issues/34264

In the scope of this ticket, we need to add Union Types support for the places where we're using an information about parameter's class - for **Tests**:

- https://github.com/magen

[2021-10-06 17:04] iba-1 opened #34266 "Graphql Exception "Category image not found" if image doesn't exist shouldn't error the entire request"
### Summary (*)
When trying to get a list of categories, or even only one category, if "image" field is filled but the image can't be found on filesystem the request will fail with "Error: Category image not found."
This shouldn't be the correct behavior as not being able to render an image for a category isn't an unrecoverable error, and we've been able to handle in frontend this kind of errors f

[2021-10-06 18:47] mtjweb opened #34267 "Out of stock shown as In Stock in catagory view"
### Preconditions (*)

1. Magento ver. 2.4.2-p1
2.

### Steps to reproduce (*)

1. Set article to out of stock
2. Open frontend and select category where product is assigned to
3. No add-to-cart-button is shown, but instead you see the label "In stock"

### Expected result (*)

1. Label "Out of stock"should be shown
2.

### Actual result (*)

1. Screenshot: https://mtjwebservice.nl/screenshot.png

[2021-10-06 18:58] mtjweb opened #34268 "Sort order in category view not respected"
### Preconditions (*)

1. Magento ver. 2.4.2-p1
2.

### Steps to reproduce (*)

1. Set product sort order in Catalog => Categories => Select Category => Products in Category
2.

### Expected result (*)

1. Set sort order: https://mtjwebservice.nl/screenshot1.png
2. Check result in frontend: https://mtjwebservice.nl/screenshot2.png

### Actual result (*)

1. Products in category view are in a diffe

[2021-10-06 19:08] nbennett25 opened #34269 "Sales order items not visible in New Order Email"
### Preconditions (*)

1. Magento 2.3.5-p2

### Steps to reproduce (*)

1. Go to Admin > Marketing > Email > Email Templates > Add Email Template
2. Load Magento_Sales > New Order template
3. Add name and set that Email Template to be used in the store
4. Place an order from the front end, or on an existing order select Sales > Orders > [Order] > Send Email

### Expected result (*)

1. Order item

[2021-10-06 19:46] Bashev commented on #34267
Are you sure indexers are "Update on Save", what happens after run
`bin magento indexer:reindex`?

[2021-10-06 19:52] Bashev commented on #34268
duplicated #32571

[2021-10-06 20:26] chequille commented on #33911
What are you talking about?
What is a queue?
What is Rabbit MQ?

How should I do this?
I am not working on a cloud.
Explain what to do please

[2021-10-06 21:59] #34019 closed, assigned to andrewbess, anzin, karyna-t

[2021-10-07 00:11] github-jira-sync-bot opened #34270 "[PHP8] Failed MFTF tests for downloadable product"
There are failed MFTF tests for MFTF tests. 

Please see magento log for corresponding test:
[code]
Expected result:

Test should pass

[2021-10-07 04:14] #34262 closed, assigned to nobody

[2021-10-07 04:15] prabhakaran777 commented on #34262
duplication https://github.com/magento/magento2-upward-connector/issues/37

[2021-10-07 04:31] engcom-Lima commented on #33893
Hi @JeffersonTeixeira,

I understood your point but since Magento's expected behaviour is like this as of now, we can't call it a bug.

What I can suggest is, you can raise the same issue on [Community Features](https://github.com/magento/community-features) and team can look into it if its a viable option for future versions.

And since it is not a bug, we are closing it. If you still feel it is

[2021-10-07 04:31] #33893 closed, assigned to engcom-Lima

[2021-10-07 04:41] engcom-Lima commented on #34129
Hi @mrtuvn,

We have noticed that this issue has not been updated for some time. Hence we assume that this issue is fixed now, so we are closing it. Feel free to reopen this ticket with more details if still think it is an issue.

Regards

[2021-10-07 04:41] #34129 closed, assigned to engcom-Lima

[2021-10-07 06:01] #33651 closed, assigned to engcom-November

[2021-10-07 06:02] #34147 closed, assigned to engcom-November

[2021-10-07 06:16] #33910 closed, assigned to ihor-sviziev, dudzio12, engcom-Lima

[2021-10-07 06:27] engcom-November commented on #33588
@magento give me 2.4-develop instance

[2021-10-07 06:30] #33798 closed, assigned to ihor-sviziev

[2021-10-07 06:55] engcom-Lima commented on #33986
Hi @nopenopenope,

Based on your comment, looks like your issue is resolved. You can also try with my code as a workaround. So we are closing it since there is no action required from our side. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2021-10-07 06:55] #33986 closed, assigned to engcom-Lima

[2021-10-07 07:02] #33952 closed, assigned to engcom-Hotel

[2021-10-07 07:31] yogesh-15git commented on #34269
#dmcdindia2020

[2021-10-07 07:43] yogesh-15git commented on #34269
@magento I'm working on it.

[2021-10-07 08:09] mtjweb commented on #34267
Please check in the Blank theme, the Luma theme does have stock status in category view.

[2021-10-07 09:01] radu-work commented on #34074
@magento I'm working on it

[2021-10-07 10:00] #33988 closed, assigned to engcom-Delta

[2021-10-07 10:22] engcom-Lima commented on #34223
@magento give me 2.4-develop instance

[2021-10-07 10:42] engcom-Lima commented on #34223
Hi @EnzoSparacino,

Thank you for reporting the issue.

Verified and able to reproduce this issue on Magento 2.4-develop cloud instance. Attached screenshot below:

<img width="1281" alt="Screenshot 2021-10-07 at 4 04 41 PM" src="https://user-images.githubusercontent.com/60198022/136369200-377afddb-f936-4e09-b770-17e19790e7f7.png">

So based on it, confirming the issue.

Thanks

[2021-10-07 11:13] mklooss opened #34271 "Missmatch Portugal ZIP Code Matching"
Missmatch Portugal ZIP Code Matching -  ( https://github.com/magento/magento2/issues/14220 )

**Issue description:** irrespective of zip code & tax rate set , tax gets calculated only default is 23% which is zip code set  '* '.

the Issues will be produced by this method: https://github.com/magento/magento2/blob/2.4/app/code/Magento/Tax/Model/ResourceModel/Calculation.php#L345-L355

### Preconditi

[2021-10-07 11:38] marvinhinz commented on #26960
Okay thank you, it might be related with elasticsuite module. I'll try to reproduce and get back to you.

[2021-10-07 13:59] engcom-Delta commented on #34179
This issue not reproduce on Magento 2.4 dev branch .Hence closing this for now.
Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-10-07 13:59] #34179 closed, assigned to engcom-November

[2021-10-07 14:12] acarvajal-saatva opened #34273 "Custom error for unverified users"
### Preconditions (*)

1. Magento ver. 2.3.4
2.

### Steps to reproduce (*)

1. After enable the email confirmation setting here: stores → configuration → customers → customer configuration → Create New Account Options → Require emails confirmation setting
2. Login with unverified user and you'll get a generic error `The account sign-in was incorrect or your account is disabled temporarily. Please

[2021-10-07 15:07] Murajima opened #34274 "Class 'Magento\Framework\Component\ComponentRegistrar' not found For all modules after upgrade from 2.3.5 to 2.4.3"
### Preconditions (*)

1. 2.4.3
2.

### Steps to reproduce (*)

1. Install magento using the default composer.json on the official github, tag 2.4.3. add one mageplaza module using composer as well
2.

### Expected result (*)

1. [Screenshots, logs or description]
2. I expect my website to work as usual

### Actual result (*)

1. [Screenshots, logs or description]
2. Class 'Magento\Framework\Compo

[2021-10-07 15:30] alinalexandru commented on #32828
Those 2 settings are related for 2 blocks `Magento\AdvancedSearch\Block\Suggestions` and `Magento\AdvancedSearch\Block\Recommendations` located in search result page.

The autocomplete feature can't be disabled or configured on a Magento2 default instance.

Autocomplete is part of `magento/module-search` module, and those settings are part of `magento/module-advanced-search`.
This ticket seems to

[2021-10-07 16:25] richjoregonstate commented on #29656
@magento-engcom-team @johan-lindahl

I believe this issue needs to be reopened due to unintended side effects. See: https://github.com/magento/magento2/pull/28917#issuecomment-934949326b

[2021-10-07 17:41] nbennett25 opened #34275 "With MSI modules enabled, product is shown as OOS on the front end, despite having inventory"
### Summary
Using Magento 2.4.2-p2, with MSI modules enabled. If I add stock qty to a product and save, the product does not show on the front end as `is_salable` despite having the `is_salable` flag set to 1 in the `inventory_stock_1` db view.

### Preconditions (*)

1. Magento 2.4.2-p2
2. MSI modules are enabled

### Steps to reproduce (*)

1. Add qty to product, set product to 'In Stock'
2. Rei

[2021-10-07 20:27] tanolalano opened #34276 "PayPal-Order Status Complete just after payment, instead of Processing"
### Preconditions (*)
1. Magento 2.4.3
2. Php 7.4
3. Ngix
4. Magento Hosted pro

### Steps to reproduce (*)

1. Order payed with paypal

### Expected result (*)
1. Order signed as Processing

### Actual result (*)

1. After Ipn received order as marked as Complete because orders doesn't have Shipping informations
2. No error in log
<img width="1245" alt="Schermata 2021-10-07 alle 12 00 37" src="ht

[2021-10-07 21:57] edward-simpson opened #34277 "LESS .media-width mixin accepts double and single quotes for client-side compilation, only single quotes for server compilation"
### Preconditions (*)

1. Tested in 2.3.7
2.

### Steps to reproduce (*)

1. Create a LESS file to get compiled into CSS
2. Add two media queries, using one of each of the following:
.media-width(@extremum, @break) when (@extremum = "min") and (@break = @screen__m) {

and

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

3. Compile using grunt
4. Deploy to serv

[2021-10-08 04:44] ia-gaurav opened #34278 "jquery.min.js:14 [Violation] Added synchronous DOM mutation listener to a 'DOMSubtreeModified' event. Consider using MutationObserver to make the page more responsive"
Preconditions :

Magento 2.4 latest version

Steps 1: Run website in browser
Steps 2: Open console tab
Added synchronous DOM mutation listener to a 'DOMSubtreeModified' event. Consider using MutationObserver to make the page more responsive

Can it be fixed are it is causing issue with mobile performance

[2021-10-08 04:44] ia-gaurav commented on #34278
@magento give me 2.4-develop instance

[2021-10-08 05:52] #34277 closed, assigned to engcom-Lima

[2021-10-08 06:29] engcom-November commented on #29754
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-10-08 06:29] #29754 closed, assigned to engcom-Delta, engcom-November

[2021-10-08 08:34] engcom-Hotel commented on #34276
Hello @tanolalano,

Thanks for reporting this issue!

But we are not able to get with the below point. We request you to please elaborate.

Thanks

[2021-10-08 08:36] Priyanka-J-94 commented on #34259
**Summary :**

Page Builder for Custom Admin Form

**PreConditions :**

Magento 2.4.3 Open Source

**Steps to Reproduce :**

1. Need to Implement Page Builder instead of Editor in Blogs Extension for content description
2. Here Blog form is implemented without using ui component in admin

**Expected Result :**

Page Builder should be implemented in custom form like CMS Page edit form having Edit w

[2021-10-08 08:42] m2-assistant[bot] opened #34280 "[Issue] [MFTF] MoveRecentlyViewedBundleFixedProductOnOrderPageTest refactoring"
This issue is automatically created based on existing pull request: magento/magento2#34249: [MFTF] MoveRecentlyViewedBundleFixedProductOnOrderPageTest refactoring

---------
The test is refactored according to the best practices

[2021-10-08 08:51] #34239 closed, assigned to engcom-Lima

[2021-10-08 09:16] t-heuser opened #34281 "Add Category Path in Uid format"
*As a developer I want to be able to get the category path in uid format so that I can determine the category path for the current category.*

### The problem
The problem is that the field "path" from the interface "CategoryInterface" returns the id path for the category.
For example It looks like this: "1/2/4".
The field "id" is deprecated in the "CategoryInterface", as replacement  "uid" should

[2021-10-08 10:37] cmuench commented on #31428
Same here. Gitlab-CI failed. We always to a fresh installation to test the setup process.

[2021-10-08 10:44] cmuench commented on #31428
@sidolov Not very transparent. How can we see the internals here? Maybe you can share more information.

[2021-10-08 11:01] glevhen opened #34282 "The js error when swipe gallery images on the product page (touch events)"
Magento 2.4.3
Open product page in chrome browser and swipe product images in the gallery
make sure you swiping via touch event (you can use chrome mobile device emulation or real devices for this)
Swiping product images cause js errors
`fotorama.js:1222 Unable to preventDefault inside passive event listener invocation.`
![image](https://user-images.githubusercontent.com/16398798/136543911-f8d02ed

[2021-10-08 11:02] #32988 closed, assigned to engcom-Delta

[2021-10-08 12:14] JelleGe commented on #5847
Thanks, but how did you solve this issue?

[2021-10-08 12:24] engcom-November commented on #34219
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible with below Payload:
Steps performed:
Generate Admin Access Token using POST: /rest/default/V1/integration/admin/token
Sent PUT request to update Bundle Product using below sample Payload : /rest/all/V1/products/{sku}
No issue: Option Id's are not incremented. They remain same always on updating price or sending same

[2021-10-08 12:24] engcom-Lima commented on #34216
Hi @krishnaragu,

Thank you for reporting the issue.

However with the steps provided, I was not able to reproduce it. I am able to save page without any issues, attached screenshot of the same.

<img width="1323" alt="Screenshot 2021-10-08 at 5 19 17 PM" src="https://user-images.githubusercontent.com/60198022/136554935-a9fc7573-ab45-4e99-ad83-8bcc71d163c4.png">

Maybe the tags that you are using

[2021-10-08 13:04] engcom-Hotel commented on #30012
Hello @gamort,

Please try to reproduce this issue in the 2.4-develop branch and let us know if you are still able to reproduce the issue.

Thanks

[2021-10-08 13:18] Gauravkashyap1 opened #34284 "User is able to put special characters in the Email section of create job Application."
###Magento version:- 2.3.2

###Steps to reproduce:- Click on admin demo > navigate to job board > click on create job application> enter special character in email field> click on save button.

### Expected result :-  Must shows appropriate error message like email id not valid

### Actual result:- user is able to save job form by putting special character in email field.

[2021-10-08 13:36] Gauravkashyap1 opened #34285 "Unable to sort job using "sort order" in view job section at Admin Module."
### Preconditions :-Magento version :- 2.3.2
 ###Php version:- 7.3.4

### Steps to reproduce:-
.Login to Admin Module
.Navigate to job board > Manage jobs
.Try to filter using sort order

### Expected result
.Data should be sorted using sort order

### Actual result (*)
.Showing error "Something went wrong"

[2021-10-08 13:45] Gauravkashyap1 opened #34286 "User is able to save the job without "Job description" at Admin panel."
### Preconditions
Magento version:- 2.3.2

### Steps to reproduce (*)
Job board navigate to manage job> action>edit
Select job description
Apply inspect method> delete element job description
Save the job

### Expected result (*)
 Must shows error message
### Actual result (*)
Job saved successfully

[2021-10-08 13:45] engcom-Delta commented on #34243
Hi @paresh6002 ,
Issue is not reproducible in Magento 2.4 Develop. I have not able to modify the Locale field. Hence need your help to reproduce the issue .
Kindly provide more steps to modify the language from Locale field.
Please find the attached screenshot for reference.
![Locale](https://user-images.githubusercontent.com/51681379/136568015-6c925cd3-609b-4e0e-85fd-bd7a9bf92a30.JPG)

[2021-10-08 13:52] Gauravkashyap1 opened #34287 "Unable to filter using "Experience in year" in view Application field at Admin panel."
Magento version:-2.3.2
Php version:-7.2.24
Steps to Reproduce
Navigate to job board
View Application
Try to filter using Experience

### Expected result (*)
Data should be sorted using Experience in year

Actual result
Something went wrong with processing the default view and we have restored filter in its original state

[2021-10-08 14:59] zohmi opened #34288 "row_total_with_discount not calculated"
### Preconditions (*)
1. Magento 2.4.2-p2

### Steps to reproduce (*)
1. Create salesrule like the following:
![salesrule](https://user-images.githubusercontent.com/1702177/136578908-f9770cdc-d913-479a-9fa0-c84714a44af0.png)

2. Add a random product to the cart
3. Check column `row_total_with_discount` in database table `quote_item` and `quote_address_item`
4. Check API /rest/<STORE_CODE>/V1/guest

[2021-10-08 15:13] #32996 closed, assigned to paras89

[2021-10-08 15:42] glevhen commented on #34282
https://github.com/magento/magento2/pull/34162
https://github.com/magento/magento2/pull/34162/commits/3eda0c8ba176a25e15bae7444b1698c69987fee4

[2021-10-09 09:44] brianrootways commented on #34219
Hello @engcom-November
Please check my attached screenshot of generating token. Length of token is very small compare to the development instance they provided. I have tried to use that token but it's not working for me.
![token](https://user-images.githubusercontent.com/68637204/136653139-910e8d4a-1967-4523-b0db-b4f740d72bda.jpg)

[2021-10-09 14:33] shikhamis11 commented on #34052
@lilbumblebear Thank you for reporting this issue
I tried reproducing this issue It is only showing additional data while filtering products with `url_key`
the product filter works fine if you are searching with `sku`
also, I find one other issue https://github.com/magento/magento2/issues/33623
both seem similar. Please check if both are the same then we can close this one

[2021-10-09 15:23] ghost opened #34289 "Incorrect qty to ship after few creditmemos"
### Preconditions
1. Magento 2.4.2

### Steps to reproduce
1. Create simple product with more than 10 QTY
2. Place order with 10 created simples (pay by check money order)
3. Go to order in admin and create invoice for 10 QTY
4. Ship 1 item
5. Create credit memo for 2 items
6. Create one more credit memo for 2 items
7. Ship 2 items (please note that allowed to ship is 6)
8. Click `Ship` again and

[2021-10-10 04:57] #34240 closed, assigned to ihor-sviziev

[2021-10-10 08:13] vovayatsyuk commented on #28208
.

[2021-10-10 13:33] onlinebizsoft commented on #34064
@hostep @engcom-November we found the problem because the number of roles and users. Basically Magento is loading all rules for all roles/users then save all these to the session. Didnt make a perfect fix for all general sites but made a change for our specfic case, maybe need some deeper look on the parent relation in the role table.

[2021-10-10 14:18] wiwuae opened #34291 "PRODUCT CATEGORY URL NOT UPDATING (REWRITING)"
Hi, i am having this issue where once a product category is created, it generates a url but afterwards, it will not update (REWRITE) when i try to change it later on. This happens mostly with the main product categories and not the sub categories.

For example, if i create main category, lets say SHOES, a url will be generated automatically such as "shoes" [www.example.com/shoes] BUT if later i de

[2021-10-10 14:23] wiwuae commented on #34291
For example, if i create main category, lets say SHOES, a url will be generated automatically such as "shoes" [www.example.com/shoes] BUT if later i decide to rename the main category to WORK SHOES, and i want to also update the url to "work-shoes" [www.example.com/work-shoes], it will not rewrite. It will stick to "shoes" [www.example.com/shoes] even though main category name has been updated to

[2021-10-10 15:44] zexperto opened #34292 "event does not work as expected (catalog_block_product_list_collection) in Magento 2.4.3"
### Preconditions (*)

1. Magento 2.4.3
2. in general this issue appear in all Magento 2.4.x

### Steps to reproduce (*)

1. install Fresh Magento 2.4.3
2. Create new Category (Ex: 'All Products')
3. Create 20 simple products (with any data), I used import products and I used this naming ('simpel-01','simple-02','simple-03',etc.)
4. open the Category page (All Products), {base_url}/all-products.ht

[2021-10-10 19:02] themew commented on #29155
Would really like to reopen this issue.  There is still no way to translate edit or translate "**_Sorry, no quotes are available for this order at this time"_**.

[2021-10-10 21:55] iba-1 commented on #34266
@magento I am working on this

[2021-10-10 21:57] iba-1 commented on #34266
@magento add to contributors team

[2021-10-10 21:59] iba-1 commented on #34266
What should we return if no image is found?
Is there some docs regarding standard graphql responses?

[2021-10-11 04:49] aligent-lturner commented on #30610
Still an issue - just commenting to keep it open.

[2021-10-11 05:12] chequille opened #34294 "Creditmemo not possible if Total Amount was 0"
### Preconditions (*)

1. Magento Version 2.4.3
2.

### Steps to reproduce (*)

1. Create a discount rule with 100%
2. Enable free shipping
3. Place an order with the discount and choose free shipping
4. Total amount is 0
5. Create Shipping and Invoice
6. Order is going to status closed
7. Creditmemo is not possible

### Expected result (*)

1. Even if there was a 100% discount on the order, it sh

[2021-10-11 05:13] engcom-Lima commented on #34291
Hi @wiwuae,

Thank you for reporting the issue.

However, the issue description is not enough for us to reproduce this. Please provide more detailed 'Steps to reproduce' and your environment related details in order to reproduce it.

From current descrption, it does not seem to be issue related Magento Dev, so you can raise similar queries on various Magento Forums for help. You can also refer to

[2021-10-11 07:16] apomili opened #34295 "Add a span tag inside pagebuilder slider buttons"
### Description (*)
The button on a slide of the pagebuilder (and pheraps all the other pagebuilder buttons) missing of the span element unlike all the regular frontend button

See this:
vendor/magento/module-page-builder/view/adminhtml/web/template/content-type/slide/poster/master.html

### Expected behavior (*)
An output like `<button><span>Text</span></button>` as the best practices of magento

[2021-10-11 07:45] norgeindian commented on #27474
@sdzhepa , in my eyes this is still open. Please be so kind and check again

[2021-10-11 09:04] baljinderimpinge opened #34296 "Unique constraint violation found while placing order"
Hello Support,
I hope you are doing fine.

I have magento 2 site which is upgraded from Magento 2.4.0 to 2.4.3 and after upgrading I am getting error like "Unique constraint violation found" while using credit/debit card payment method. Although customers are getting charged but orders are not created in admin. I have tried changed sequence_order_1 as well sequence_invoice_0 as well but still gett

[2021-10-11 09:56] #34255 closed, assigned to engcom-Lima

[2021-10-11 10:48] ammargomaa1 opened #34297 "permissions goes wrong after running php bin/magento setup:di:compile command"
php 7.4
magento 2.4

Every time I ran php bin/magento setup:di:compile command it gives me this error

Class Baianat\biusers\Controller\Index\Baianat\biusers\Model\UserFactory does not exist
Class Baianat\biusers\Controller\Index\Index\Interceptor generation error: The requested class did not generate properly, because the 'generated' directory
permission is read-only. If --- after running the 'bi

[2021-10-11 11:02] engcom-Lima commented on #34217
Hi @Muhamann,

Thank you for reporting the issue.

However, I am not able to reproduce it on Magento 2.4-develop instance. Here is what I did to reproduce it:
1. I created a configurable product with multiple simple products.
2. Logged in as customer and added one of the simple product to cart. Logged out.
3. Changed price of the same simple product from Admin Panel
4. On frontend, logged in again

[2021-10-11 11:03] #33335 closed, assigned to xmav

[2021-10-11 11:45] bernd-reindl commented on #33896
Hi @engcom-Lima

![image](https://user-images.githubusercontent.com/2369089/136783051-f046b76a-34b7-4e1c-b246-c676970eb761.png)
[report_event.csv](https://github.com/magento/magento2/files/7322092/report_event.csv)
[report_viewed_product_index.csv](https://github.com/magento/magento2/files/7322094/report_viewed_product_index.csv)

As you can see, there are 68122 entries in report_viewed_product_in

[2021-10-11 13:10] engcom-Hotel commented on #34220
Hello @Revengance1024,

Thanks for posting this issue!

But can you please let us know any specific use case to create a custom module before installing Magento?

Thanks

[2021-10-11 13:14] andrewbess opened #34301 "Fix `call_user_func_array` in the codebase with test coverage"
### Description (*)
The call of the function `call_user_func_array` with associative array as params if param names for callback function are different with keys in provided associative array provokes the fatal error in PHP >= 8.0.
As part of this task, we need to use array_values($params) to make the behaviour the same with PHP < 8.0.
Also, we need coverage of the changed functionality with unit

[2021-10-11 14:35] #32874 closed, assigned to shikhamis11

[2021-10-11 14:59] hostep commented on #30281
@homanp: could you confirm if this is really fixed in 2.4.3?

I can't find any reference to ticket number `MC-40891` here in github and on the [2.4.3 release notes](https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-3.html), nothing is mentioned about this bug.

[2021-10-11 15:11] anzin opened #34303 "Stabilize Functional Test"
https://github.com/magento/magento2
https://github.com/magento/partners-magento2ee
https://github.com/magento/partners-magento2b2b
https://github.com/magento/partners-magento2-infrastructure
https://github.com/magento/magento2-sample-data

AC:
Functional Test build is green (PHP 7.4 and PHP 8.0).
Fix functional issues that cause failed tests.

[2021-10-11 16:45] PromInc opened #34304 "Admin Order "Comments History" tab may be out of order"
In the Magento admin the comments history for an order is displayed in two locations - the **Information** tab and the **Comments History** tab.

The **Information** tab correctly sorts the comments (by `created_at DESC` and `entity_id DESC`)

However the **Comments History** tab ONLY sorts by `created_at` and thus the information can be inaccurate IF there are multiple records per order at the ex

[2021-10-11 16:52] shubham5022 opened #34305 "Salary is getting entered in Alphabet,not in numeric."
##Environment
-Magento version : 2.3.2
-php -v : 7.2.34
-Commit id :
-mode: Developer
##Description

- Able to enter Salary in Alphabets as well as numbers
- Job is getting created.
##Steps to Reproduce
1.Click on Job Portal
2. Click on Manage jobs and then click on create jobs button
3. Enter all required fields ,with salary in alphabets.
4. Job is getting saved.
##Expected result
- Job should no

[2021-10-11 17:09] shubham5022 opened #34307 "Sometimes fields in the dashboard are not displaying their respective submenu."
##Environment
- Magento Version : 2.3.2
- Php -v : 7.2.34
- Commit ID :
- Mode : Tester
##Description
 - When opening the demo page multiple times some dashboard fields are not displaying their respective submenus
 ##Steps to produce
- open 3 to 4 pages of demo admin simultaneously, some fields will not display their submenu.
##Expected Result
- All submenu should be visible irrespective of their

[2021-10-11 17:18] shubham5022 opened #34308 "Some job fields are getting same sort order."
##Environment
- Magento Version : 2.3.2
- Php -v : 7.2.34
- Commit ID :
- Mode : Tester
##Description
- Some jobs fields are getting same sort order, in reality fields should differ in sort order.
##Steps to Reproduce
1. Open job portal.
2. Click on manage jobs.
3. Click on create jobs.
4. Enter all data with sort order same as of any previously defined field.
5. save the job.
## Expected Result
-

[2021-10-11 19:13] hostep commented on #33911
@chequille:
- Nobody mentioned Rabbit MQ, right?
- Magento Cloud has nothing to do with this
- Magento 2.3.0 introduced message queues, in the open source product the queues started being used since version 2.3.2 for various things like exporting products or generating coupon codes and stuff like that (so these can be long processes which can take a few minutes to run, those are now handled asynch

[2021-10-11 21:21] chequille commented on #33911
@hostep
Thanks for this info.
But it does only help to understand about the entries above.
At the end, Magento does have a problem with all parts using the methods IsSaleable() or IsSalable() as these methods do not look at salable quantity, they return true if stock is >0
All this is related as you mentioned to MSI.

Many users would be happy if there would finally be a solution for these bugs, b

[2021-10-11 21:29] hostep opened #34309 "Consider moving from tedivm/jshrink to garfix/js-minify"
### Description (*)
Consider swapping the `tedivm/jshrink` package with `garfix/js-minify` for increased performance when minifying JS

### Expected behavior (*)
Faster minifying of javascript code during static content deployment

### Benefits
Faster deploys

### Additional information
Based on the discussion in https://github.com/tedious/JShrink/issues/105, it might be worth testing this out
I h

[2021-10-12 04:25] baljinderimpinge commented on #34296
@victor-ruiz @victor-v-rad @engcom-Delta
Any update please?

[2021-10-12 05:03] Satyender30 opened #34310 "Something went wrong with processing the default view and we have restored the filter to its original state."
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-10-12 06:05] ihor-sviziev commented on #34214
Could you push your local changes to your own repo to have the github actions results?

[2021-10-12 06:25] engcom-Lima commented on #34310
Hi @Satyender30,

The information provided is not enough for us to check. Please update issue description with the below information:
1. Summary of the issue
2. Information on your environment
3. Steps to reproduce
4. Expected and actual results

Thanks

[2021-10-12 06:44] m2-assistant[bot] opened #34311 "[Issue] Replace repetitive actions with Action Groups in StorefrontConfigurableProductGridViewTest and StorefrontConfigurableProductListViewTest"
This issue is automatically created based on existing pull request: magento/magento2#34051: Replace repetitive actions with Action Groups in StorefrontConfigurableProductGridViewTest and StorefrontConfigurableProductListViewTest

---------

### Description (*)
Tests are refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manu

[2021-10-12 06:44] engcom-Lima commented on #34308
Hi @shubham5022,

Thank you for reporting the issue.

However, this does not looks like Magento Dev related issue. You are adding some third party module to Magento and it's code might be causing the issue which you are facing. You can write about same issue on various Magento forums like [Magento Community](https://community.magento.com/) or [Magento Stack Exchange](https://magento.stackexchange.

[2021-10-12 06:44] #34308 closed, assigned to engcom-Lima

[2021-10-12 06:46] m2-assistant[bot] opened #34312 "[Issue] Replace repetitive actions with Action Groups in AdminAddBundleItemsTest"
This issue is automatically created based on existing pull request: magento/magento2#34075: Replace repetitive actions with Action Groups in AdminAddBundleItemsTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)
Test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)

### Questions or comments

### Contribut

[2021-10-12 06:47] m2-assistant opened #34313 "[Issue] Replace repetitive actions with Action Groups in AdminEditRelatedBundleProductTest, EnableDisableBundleProductStatusTest, AdminMassDeleteBundleProductsTest"
This issue is automatically created based on existing pull request: magento/magento2#34099: Replace repetitive actions with Action Groups in AdminEditRelatedBundleProductTest, EnableDisableBundleProductStatusTest, AdminMassDeleteBundleProductsTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing

[2021-10-12 06:48] m2-assistant[bot] opened #34314 "[Issue] Replace repetitive actions with Action Groups in AdminNavigateMultipleUpSellProductsTest"
This issue is automatically created based on existing pull request: magento/magento2#34110: Replace repetitive actions with Action Groups in AdminNavigateMultipleUpSellProductsTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)
Test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)

1. ...
2. ...

### Quest

[2021-10-12 06:51] m2-assistant[bot] opened #34315 "[Issue] [MFTF] StorefrontCheckRefundGrandTotalActionGroup adding"
This issue is automatically created based on existing pull request: magento/magento2#34022: [MFTF] StorefrontCheckRefundGrandTotalActionGroup adding

---------
New ActionGroup StorefrontCheckRefundGrandTotalActionGroup has been introduced (existing tests have been updated as well)

[2021-10-12 06:52] m2-assistant[bot] opened #34316 "[Issue] Replace repetitive actions with Action Groups in AdminConfigurableProductOutOfStockAndDeleteCombinationTest and AdminConfigurableProductOutOfStockTestDeleteChildrenTest"
This issue is automatically created based on existing pull request: magento/magento2#34113: Replace repetitive actions with Action Groups in AdminConfigurableProductOutOfStockAndDeleteCombinationTest and AdminConfigurableProductOutOfStockTestDeleteChildrenTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)
The test is refactored according to the best pra

[2021-10-12 06:56] m2-assistant[bot] opened #34317 "[Issue] Replace repetitive actions with Action Groups in StorefrontProductNameWithDoubleQuoteTest"
This issue is automatically created based on existing pull request: magento/magento2#34256: Replace repetitive actions with Action Groups in StorefrontProductNameWithDoubleQuoteTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)
Test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)

### Questions or commen

[2021-10-12 07:07] #29614 closed, assigned to nobody

[2021-10-12 07:29] coresh commented on #30514
### Note: For `configurable` products detected:
[code]

### For `configurable` products helped:

[code]

[2021-10-12 07:46] brianrootways commented on #34219
Hello @engcom-November

Any update regarding to above comment?

[2021-10-12 08:02] ajijshekh123 commented on #34294
Hi @chequille,
I have verified this issue on the latest Magento version. Once I have place an order and generate the Invoice and Shipment the order status is showing "Complete" instead of "Close".
After generating the Invoice and Shipment, Admin can generate the Credit memo.

**The issue is not getting and it's working as expected.**

**See attached the screenshot:**

![image](https://user-images.

[2021-10-12 09:39] #34307 closed, assigned to engcom-Lima

[2021-10-12 09:54] Muhamann commented on #34217
Hello @engcom-Lima ,

thanks for working oin this issue.
But your step 3:

is wrong.
As i wrote in my reproduction-steps, you have to use:

`$product->setPrice($this->convertPriceValue($artikel['ART_VK1']));`

in a any file. In our case we use this in an import/update cronjob, but this is random. You can just set the price by using the setPrice function in any other php file...
This does not activ

[2021-10-12 10:29] pemann opened #34318 "Email sending broken to valid email ending with hyphen (M2.4.3)"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Create an order
2. Use email address that ends with hyphen (-). Like: aaa-@example.com
3. Finish the order
4. Check exception log

### Expected result (*)

1. No exceptions
2. Order confirmation email successfully sent

### Actual result (*)

1. Exception: "Could not add an invalid email address to the mailing queue"
2. Email

[2021-10-12 10:34] #34287 closed, assigned to engcom-November

[2021-10-12 10:36] #34305 closed, assigned to engcom-November

[2021-10-12 10:57] mrtuvn opened #34319 "Knockout not translateable with text contain single quote character"
### Summary (*)

### Examples (*)

Example this text italiano
se hai scelto il ritiro dell'usato, ricordati di preparare il vecchio prodotto scollegato e disinstallato

As you can see text contain one single quote
if we use translate attribute will not work. Same for data-bind

Change text (remove quote) will be workarounds but it's may not be option when sometimes we want keep remain text

Exampl

[2021-10-12 10:58] ihor-sviziev commented on #34318
@pemann,
I never saw such emails as you provided, so I guess it might be the result of the IDN. If so - please give some examples.

[2021-10-12 11:04] pemann commented on #34318
@ihor-sviziev I don't understand. Are you saying that because you haven't ever seen an email address where hyphen is used as last character of "user"-part, that those don't exists and there is no bug?
There are multiple of customer emails with that syntax in a M2 store I'm looking at right now.

[2021-10-12 11:04] ihor-sviziev commented on #34319
@mrtuvn, I guess it should be escaped, example:
[code]
and
[code]

[2021-10-12 11:06] nafees1988 opened #34320 "Magento 2 cart price rule discard subsequent rules not working"
I added 2 new rules to magento 2.3.4 and these aren't working as they should.
These rules are for Guest Users <br/>

**Rule 1: DIS100 $100 off $699**
Coupon : No Coupon (auto apply)
Priority: 2
Condition: If subtotal greater than 699 and less than 1399
Action: Fixed Amount Discount for Whole Cart
Discount Amount : $100

**Rule 2: 10OFF 10% off**
Coupon : Specific Coupon (10OFF)
Priority: 1
Conditi

[2021-10-12 11:17] mrtuvn commented on #34319
Yes your way work but seem text still not able to translate

Before  following ihor way
Error visible
![ko-fail-bind-single-quote-text-contain](https://user-images.githubusercontent.com/1908873/136946186-cbc69552-75e2-43b3-8af5-7bb9466bb023.png)

After apply escape
Error gone but text still not able translate

[2021-10-12 11:30] sohelrana09 commented on #34182
This is still an issue with 2.4.3-p1 for multi-store setup.

[2021-10-12 11:48] m2-assistant[bot] opened #34321 "[Issue] Set process title when running cron job"
This issue is automatically created based on existing pull request: magento/magento2#34186: Set process title when running cron job

---------
### Description
When managing a busy server, it's helpful to understand what each process is doing. Currently there is no visibility for a systems administrator to see what task the `bin/magento cron:run` process is currently performing. The most informatio

[2021-10-12 12:11] andrewbess opened #34322 "Fix `abs` and `round` calls in the codebase with test coverage"
### Description (*)
The call of the functions `abs` and `round` with param that is different from `int|float` types provokes next problems:
- Deprecated: abs(): Passing null to parameter `#1` ($num) of type int|float is deprecated - if `null` param has been provided  in PHP >= 8.1
- Fatal error: Uncaught TypeError: abs(): Argument `#1` ($num) must be of type int|float, string given - if empty stri

[2021-10-12 12:19] engcom-November commented on #34219
Hi @brianrootways ,
I verified the issue again on above Magento 2.4-develop instance but the issue is not reproducible:

Admin access token is generated and is working fine for all API requests:
![image](https://user-images.githubusercontent.com/60198231/136954422-49db1197-c7d0-4468-bd1e-52a9504570a5.png)

Sent PUT request to update Bundle Product using above access token: https://18b4396ca5186467

[2021-10-12 13:12] Green2Matter opened #34324 "2FA - missing "Trust this device" checkbox"
### Preconditions (*)

1. Fresh install of Magento CE 2.4.3
2. Configure Google 2FA
3. Ubuntu 20.4, PHP 7.4, Percona MySQL 8

### Steps to reproduce (*)

1. Start logging in to backend

### Expected result (*)

1. As per https://docs.magento.com/user-guide/stores/security-two-factor-authentication-use.html it should be possible to add device to trusted devices:
![storefront-2fa-google-code](https:

[2021-10-12 13:32] hoanglan87 commented on #34182
Hi everyone, seem this patch https://github.com/magento/magento2/issues/33856#issuecomment-904606945 fixed the problem for us, please try it to see if it works for you.

[2021-10-12 13:58] #34194 closed, assigned to karyna-t

[2021-10-12 14:24] marceldekoning opened #34325 "Composer require fills lock file with 2tvenom/cborencode src and dist"
### Summary
When I execute the composer require command after a clean installation, all the packages in the composer.lock file are replaced with references to the 2tvenom/cborencode package which makes it impossible afterwards to execute the composer install command because all the packages are returned 404.

### Preconditions (*)
1. Magento 2.4.3
2. PHP 7.4
3. Composer V1

### Steps to reproduce

[2021-10-12 15:41] tuna2smc commented on #34319
i think this easy to reproduce add this text bind above + your escape in any html file . Example onepage.html checkout and reload. Also add text translate to csv too.

[2021-10-13 02:13] github-jira-sync-bot opened #34327 "Stabilize Functional Tests"
https://github.com/magento/magento2
https://github.com/magento/partners-magento2ee
https://github.com/magento/partners-magento2b2b
https://github.com/magento/partners-magento2-infrastructure
https://github.com/magento/magento2-sample-data

AC:
Functional test build is green (PHP 7.4 & PHP 8.0)
Fix functional issues that cause failed tests.

[2021-10-13 03:08] chattertech commented on #34151
I have the same issue. I updated from 2.4.2 to 2.4.3. I have found a work around but it's a bit of a pain. After every product added or updated you have to reload the page and the product(s) or changes will show on the page. Besides the product issue the rest of the page works fine. Running on PHP 7.4 with Redis 6.

Video here...
https://www.screencast.com/t/ePqbbrS3

[2021-10-13 04:41] TheRealHunzik opened #34328 "Unique values are Duplicating when a Product is Duplicated"
### Preconditions (*)

1. Magento EE 2.3.4-p2, Magento 2.4-develop

### Steps to reproduce (*)

1. Created new attribute 'New Product Attribute' with Unique Value set to 'Yes'.
2. Created product 'New Test Product' and assigned newly created attribute to it.
3. Edited that product and clicked on 'Save & Duplicate' in which I got below error and success messages of saved product:

<img width="1419"

[2021-10-13 04:49] lytesaber commented on #33741
Just updated from 2.4.3 to 2.4.3-p1 and still experiencing this error in checkout unless reCAPTCHA is configured.

![image](https://user-images.githubusercontent.com/16328255/137067904-e89b7ee5-bc98-48d4-8054-574a157f8bd9.png)

Errors being thrown due to optional configuration not being configured wastes a lot of time. As covered above when updating between versions going through a smashing any lo

[2021-10-13 05:09] chattertech opened #34329 "Added Products are Not Showing on the Admin Order Page After 2.4.3 Upgrade"
### Preconditions (*)

1. Upgrade from 2.4.2 to 2.4.3
2. PHP 7.4
3. Redis 6

### Steps to reproduce (*)

1. Create a new order in the backend
2. Pick a customer or create a new one
3. Click 'Add Products'
4. Choose a product and click 'Add Selected Product(s) to Order'

### Expected result (*)

1. Products to show in the **Items Ordered** list
2. Totals to reflect the products in the list

### Act

[2021-10-13 05:16] engcom-Lima commented on #34259
Hi @Priyanka-J-94,

This does not seems to be Magento core dev issue. Looks like you are facing problem in implementing Page Builder in Third Part Extension on Admin Panel. For that, you can raise same query on various Magento Forums like [Magento Community](https://community.magento.com/) and [Magento Extension](https://magento.stackexchange.com/). You'll probably get help there.

Since this issu

[2021-10-13 05:27] chequille commented on #34294
@ajijshekh123
morning
I tried to reproduce it, but the settings of the standard instance differ at so many points compared with my shop which is set to use in Germany.
As well, there are some modules installed taking care of German and EU law, which are not installed here in the instance.
Maybe the only way for my shop would be to know, where Magento decides to disable the credit memo button and s

[2021-10-13 05:32] pemann commented on #34325
I had this same weird problem after upgrading from 2.4.2 to 2.4.3.
What I did to resolve this was:
(1) Remove dependency  "magento/composer-root-update-plugin": "^1.1" from composer.json
(2) Remove composer.lock file
(3) Remove vendor folder
(4) Run composer install

[2021-10-13 05:40] pemann commented on #34318
@hostep my db has roughly the same percentage of customers with "-@" vs total orders.

[2021-10-13 06:36] ajijshekh123 commented on #34329
@magento give me 2.4-develop instance

[2021-10-13 07:40] groomershop-mt opened #34331 "Password reset link redirect to forgotPassword URL on Apple devices"
From several weeks, customers have been reporting to us that they are having trouble resetting their account password. We checked and everything seemed to work fine, but more and more customers started reporting a problem with password reset saying that they are being "redirecting over and over".

Yesterday we analyzed the problem and were able to replicate it on the iPhone. We also analyzed custo

[2021-10-13 07:59] ihor-sviziev commented on #34318
@pemann, from what I tried - it all the time wasn't resulting in the hyphen symbol at the end, examples
https://3v4l.org/BGaGl
https://3v4l.org/J6gFW
If you have some examples - please provide

[2021-10-13 08:08] pemann commented on #34318
@ihor-sviziev If email is like "Hyvä-@example.com", idn_to_ascii will fail and that fix will return the original containing non-ascii chars. So the original fix "convert non-ascii chars" is not applied.

[2021-10-13 08:11] PierreGauthier opened #34333 "ConditionsDataProcessor : Php class definied in js"
### Summary

In page builder products list component, some php class used to manage rule are defined directly in js script which make customization very hard.

### Examples
magento/module-page-builder/view/adminhtml/web/js/form/provider/conditions-data-processor.js:32
[code]

### Proposed solution

Please find a way to don't declare php classes in JavaScript, or a least pass it as an options which

[2021-10-13 08:34] nadroj467 opened #34334 "Last-Modified header stuck after upgrade to 2.4.3"
### Preconditions (*)

1. Upgraded from 2.4.0 to 2.4.3
2. Apache server with Varnish Cache, Nginx SSL termination
3. Redis Session storage

### Steps to reproduce (*)

1. Upgrade to 2.4.3 with Last-Modified header active
2. Visit a frontend category, product, or cms page and check HTTP head

### Expected result (*)

1. On page load Last-Modified http header is updated with recent changes date
2. H

[2021-10-13 08:35] ihor-sviziev commented on #34318
Okay, this feels reasonable, but BTH, I don't know how to handle it correctly.
https://3v4l.org/K3ZMe

[2021-10-13 08:43] groomershop-mt commented on #34331
The problem occur exactly, when you open the password reset link for second time - at first opening it seems to work, but when you open it second time then the user is being redirect to forgotPassword page.

[2021-10-13 09:12] pemann commented on #34318
Maybe remove trailing hyphens before idn_to_ascii call and append them back after? But is hyphen the only character that breaks idn_to_ascii?

[2021-10-13 09:55] ajijshekh123 commented on #34329
Hi @chattertech,

I have verified this issue with the latest Magento instance with your steps, actual result, expected result, and attached video but I am not able to reproduce this issue.

**Please attached the below video link:**
https://www.awesomescreenshot.com/video/5609710?key=0f604b9654424775554e5ecaf869b5d3

Can you please update me on which Magento Version and Type (Community/Commerce) yo

[2021-10-13 10:10] #32067 closed, assigned to ProkopovVitaliy

[2021-10-13 10:25] #34333 closed, assigned to engcom-Lima

[2021-10-13 11:34] leonhelmus opened #34335 "Bug when Creating a Mixin on Magento_GoogleTagManager with AdBlocker enabled"
**Preconditions**
Magento 2.4.2 commerce edition
mysql 8.0
php 7.4

**Steps to reproduce**
- Enable Google Analytics in Stores > Settings > Configuration > Sales >Google API
- Create any mixins over Magento_GoogleTagManager/js/google-tag-manager-cart or Magento_GoogleTagManager/js/google-analytics-universal
- Install AdBlocker Adblock Plus - free ad blocker and enable block tracking
- Go to Checko

[2021-10-13 11:57] davidandersson1 commented on #33760
Hi @ihor-sviziev

Klarna have upgraded their module with latest version 9.3.0 and "ramsey/uuid" issue resolved with it but new issue borned with core magento module "Klarna_Kp" + Magento version 2.4.3 is at Admin->Sales-> Orders grid and error is

i.e
{"0":"Payment model name is not provided in config!","1":"#1 Magento\\Payment\\Helper\\Data\\Interceptor->___callParent() called at [vendor\/magento

[2021-10-13 12:12] engcom-November commented on #34288
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

**Steps to reproduce:**
1. Admin - Marketing - Create a Cart Price Rule
2. Login to Magento Store front and add product to Cart
3. Apply Discount
4. Verify row_total_with_discount value in quote_item and quote_address_item DB tables
**Issue: row_total_with_discount value is 0**
Issue observed in below API request as w

[2021-10-13 12:16] marcelloinfoweb commented on #13929
@pisarkov, It didn't work for me.

Magento 2.4.3

[2021-10-13 12:21] #31536 closed, assigned to engcom-November

[2021-10-13 12:22] engcom-November commented on #32350
Hi @nabeeljavaid ,

We are closing this issue as there has been no latest update on the same.
Thank you

[2021-10-13 12:22] #32350 closed, assigned to engcom-November

[2021-10-13 12:22] #32704 closed, assigned to rodrigowebjump, engcom-November

[2021-10-13 12:23] engcom-Lima commented on #34324
Hi @Green2Matter,

Thank you for reporting the issue.

However I am able to login with 2FA in Admin Panel as expected. You can try increasing the size of max_input_vars in php.ini file to 10000. That should fix your problem. If it doesn't help, you can raise similar issues on various Magento Forums. You'll probably get required help.

Since this does not seems to be Magento core issue, we'll soon

[2021-10-13 12:49] hafizmuzamal commented on #13929
@marcelloinfoweb what is the exact issue you are facing right now?

[2021-10-13 12:52] marcelloinfoweb commented on #7647
2.4.3 same issue

[2021-10-13 13:04] engcom-November commented on #34289
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

![image](https://user-images.githubusercontent.com/60198231/137137844-9ff72968-bb1a-4abf-9b32-6cb149e87451.png)

[2021-10-13 13:07] marcelloinfoweb commented on #13929
![Error_delete-image](https://user-images.githubusercontent.com/2093128/137138581-5832d3e1-b812-4f9d-adbd-851d4cc774ff.gif)
![Error_insert-image](https://user-images.githubusercontent.com/2093128/137138620-72eb339a-f63c-4ab3-9ef4-3c8068139916.gif)

[2021-10-13 13:36] onepack opened #34336 "Unable to Export Advanced Prices"
### Preconditions (*)

1. M2.4.2-p1
2.

### Steps to reproduce (*)

1. Just export advanced prices via the export functionality
2.

### Expected result (*)

1. Need to get a message that the export has finished that can be downloaded
2.

### Actual result (*)

1. Directly you get the message: Error during export process occurred Error during export process occurred. Please check logs for detail
2.

[2021-10-13 14:09] engcom-Alfa commented on #33760
1. Create a custom command (We need to use the _Payment/Helper/Data_ class in the constructor of the _Index.php_ file.)
2. We don't have to set the area code in the execute function.
3. When we try to access any Magento command, we get the error message saying - "area code not set"
Below is the Index.php class code snippet

`<?php
namespace Globallogic\Custom\Console;

use Symfony\Component\Consol

[2021-10-13 14:29] lphilippo opened #34337 "Remote storage sync fails on similar image filenames (with hyphens and underscores)"
### Preconditions (*)
1. Magento 2.4.3 CE
2. Activate remote storage with AWS S3

### Steps to reproduce (*)
1. Use an image where the filename has an hyphen as a second character: `5-100.png`
2. Use a second image with the same first character, but an underscore as second: `5_100.png`
3. Synchronise remote storage with `bin/magento remote-storage:sync`

### Expected result (*)
1. Both images will

[2021-10-13 14:30] engcom-Alfa commented on #33908
Due to the duplication of ticket description from [the issue](https://github.com/magento/magento2/issues/33760), closing this particular issue!

[2021-10-13 14:30] #33908 closed, assigned to marvinhinz

[2021-10-13 14:35] m2-assistant[bot] opened #34338 "[Issue] Fix Ui-Select (Multiselect) close button issues (cont.)"
This issue is automatically created based on existing pull request: magento/magento2#33948: Fix Ui-Select (Multiselect) close button issues (cont.)

---------

### Description (*)

Fix active state of multiselect close button, missed in scope of previous PR

### Related Pull Requests

magento/magento2#33098

### Manual testing scenarios (*)

1. Create form ui component with modal.
2. Add ui-select

[2021-10-13 16:53] #34133 closed, assigned to nobody

[2021-10-13 17:16] chattertech commented on #34329
I was able to find a fix...

I looked up the system.log and noticed that i was getting this error when trying to place an order as admin.

_main.WARNING: Session size of 359208 exceeded allowed session max size of 256000._

I found the following solution.

bin/magento config:set system/security/max_session_size_admin 0

then

bin/magento c:f

Now the admin order page is working as expected.

[2021-10-13 17:29] engcom-Delta commented on #34336
Hi @onepack ,

Tried to reproduce it on Magento 2.4 Develop with latest branch . it works fine , not getting any error .
Kindly find the attached screenshot for reference.
Thanks
![Exporting_CSV](https://user-images.githubusercontent.com/51681379/137183508-7016a48e-44e7-4ab3-91cf-49f5fcf2932c.JPG)

[2021-10-13 23:10] mrtuvn commented on #34335
Do you check the case define mixin in requirejs-config ? Instead use mixins!Magento_GoogleTagManager/js/google-tag-manager-cart
Does it work same

[2021-10-13 23:40] #34270 closed, assigned to anzin

[2021-10-14 01:53] zexperto commented on #34292
@engcom-Lima , thank you for your response
here is the event.xml content
**frontend/events.xml**
<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="catalog_block_product_list_collection">
		<observer name="vendor_module_observer_frontend_catalog_blockproductlistcollection_cat

[2021-10-14 04:23] guptarakesh2701 opened #34340 ""Add New Template" button missing on Template section in Magento v2.4.3"
### Preconditions (*)
1. PHP Version: 7.4.9
2. MySQL Version: 8.0.26
3. Apache Version: 2.4.46
4. Magento Version: 2.4.3 (New installation)

### Steps to reproduce (*)
1. Magento Admin -> Content -> Elements -> Templates

### Expected result (*)
1. "Add New Template" button should be there.

### Actual result (*)
1. Missing the "Add New Template" button.
![magento-bug](https://user-images.githubus

[2021-10-14 06:54] #32967 closed, assigned to krishprakash, engcom-Hotel

[2021-10-14 06:56] engcom-Hotel commented on #32915
Dear @NathanDayFE,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-10-14 06:56] #32915 closed, assigned to mrtuvn, engcom-Hotel

[2021-10-14 07:24] #34329 closed, assigned to ajijshekh123, engcom-Hotel

[2021-10-14 08:36] engcom-Delta commented on #34296
Hi @baljinderimpinge,
Kindly provide the steps to reproduce the issue , actual results and expected results.

Thanks

[2021-10-14 08:40] engcom-Lima commented on #34328
Hi @TheRealHunzik,

Thank you for reporting the issue.

However I tried to reproduce this issue and got the error 'The value of attribute(s) "New Product Attribute" must be unique' instead which is correct while trying to Duplicate the product. Please below below screenshot of the same:

<img width="1419" alt="Screenshot 2021-10-14 at 2 07 57 PM" src="https://user-images.githubusercontent.com/6019

[2021-10-14 09:12] bvkl commented on #33749
@magento give me 2.4-develop instance

[2021-10-14 09:20] Hexmage opened #34342 "GraphQl Media gallery returns disabled entries."
### Summary (*)

When you request a product through GraphQl you always receive all images in the media gallery even if they are disabled for showing on the product page. This is normally fine, because each image also shows if it's disabled.

If you have only 1 enabled image you don't want to show a gallery, you'd instead want to show just the enabled image. But there is no way to check how many en

[2021-10-14 09:37] martinzco commented on #29932
I think it should return 0 as the product is in stock and but inventory is 0.

[2021-10-14 09:55] jorisssss commented on #4979
This solved it for me, thanks!

[2021-10-14 10:21] mageprashant commented on #34331
@magento give me a magento 2.4.3 instance

[2021-10-14 10:22] mageprashant commented on #34340
@magento give me 2.4.3-develop instance

[2021-10-14 11:28] engcom-Hotel commented on #34337
Hello @lphilippo,

Thanks for reporting the issue!

Hence the issue is reproducible with the given steps, we are confirming this issue. We are getting the below error while running `bin/magento remote-storage:sync` command:

![error](https://user-images.githubusercontent.com/51681618/137308953-38cdbcfb-2510-4ee4-a72b-374ee6cae733.jpg)

Thanks

[2021-10-14 13:12] KCzaplinskaAcc opened #34345 "Search terms - products are not sorting manually on the frontend"
### Preconditions (*)
1. Magento 2.4.2-p2
2. Have products in db.

### Steps to reproduce (*)
1. Go in Admin Panel to "Marketing -> Search Terms"
2. Add search term.
3. Go to "Merchandiser" tab.
4. Sort some of the products manually.
5. Go to the frontend and type this search term in the search input.

### Expected result (*)
The products for that search term should be displayed as we sorted them.

[2021-10-14 13:22] engcom-Echo commented on #16171
I tried to reproduce the aforementioned issue on a clean instance of **2.4-develop** using the given steps to reproduce in the issue description, but was unable to do so. The functionality seemed to be working fine.
Steps followed to reproduce -
1. bin/magento app:config:dump
2. bin/magento app:config:import
3. change only the **base_url** in the **env.php** files
web' => [
                'unsecu

[2021-10-14 13:22] #16171 closed, assigned to engcom-Foxtrot

[2021-10-14 13:39] girija-kudupudi commented on #34340
Hi @guptarakesh2701 ,

As per Magento, [Dev docs](https://docs.magento.com/user-guide/cms/page-builder-templates.html) Add Template button is not available in Content > Elements > Templates which is current Magento behavior.
User have to navigate to the [Page Builder stage](https://docs.magento.com/user-guide/cms/page-builder-workspace.html#stage) to access the content that we want to save as a te

[2021-10-14 14:11] #34241 closed, assigned to nobody

[2021-10-14 14:22] ajijshekh123 commented on #34294
Okay @chequille, I will verify this issue ASAP and Update it here.

[2021-10-14 15:09] #33426 closed, assigned to nobody

[2021-10-14 15:27] Hexmage opened #34347 "[GraphQl] The ability to sort aggregation options"
### Description (*)

Currently Aggregation options are only sorted by the count (except for price which is sorted from low to high price). But for some attributes you'd rather sort the aggregation options by something else, for example you want to order sizes from small to large or vice versa. The sort order is already available in the database it is just never used in the building of the aggregat

[2021-10-14 16:03] Nuranto commented on #31076
I just reproduced this issue on 2.4.3-p1, but not with UTF-8 in sender name, but in receiver name

[2021-10-14 17:14] #34327 closed, assigned to SilinMykola, anzin, karyna-t

[2021-10-14 21:09] sdzhepa commented on #33741
https://github.com/magento/security-package/pull/302

[2021-10-14 22:12] JiyaadDolly commented on #26453
@mrtuvn
How did you manage to resolve this?
Facing the same issue with redis

[2021-10-14 22:57] #34322 closed, assigned to anzin

[2021-10-15 01:30] spignataro opened #34348 "Unable to checkout"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Upgrade from 2.4.3 to 2.4.3-p1
2. This was done through composer
3. Go to the checkout screen and fill out all of the required fields. When you click to go and checkout the payment rest API 500 errors and logs a error in the system.log file.

### Expected result (*)

1. When clicking on the checkout button we should go to t

[2021-10-15 02:00] #34301 closed, assigned to SilinMykola

[2021-10-15 06:32] pemann commented on #33749
This seems to be fixed to 2.4-development in this commit: [3d262f88824c7acbf23f3c520078377bc8129c9f](https://github.com/magento/magento2/commit/3d262f88824c7acbf23f3c520078377bc8129c9f)

[2021-10-15 06:51] jdereus87 opened #34349 "Creditmemos: The store that was requested wasn't found. Verify the store and try again."
### Preconditions (*)
1. Magento 2.4.3

### Steps to reproduce (*)
1. Change website name + storename to something that has a number. Example: '2 Unlimited'
2. Refund an order
3. Tab: Credit Memos now gives an error
The store that was requested wasn't found. Verify the store and try again.
Exception in /data/web/magento2/vendor/magento/module-store/Model/StoreRepository.php:75
4. Menu -> Sales ->

[2021-10-15 07:54] #34188 closed, assigned to karyna-t

[2021-10-15 07:55] #34196 closed, assigned to SilinMykola

[2021-10-15 09:29] WebKenth commented on #27969
I have an sql statement that you could execute to recalculate it

[code]

Might take a while to execute it: here's an example
[code]

Not sure if it's bullet proof but it basically just counts the rows where the path is like the current row count

if you take a specific category you can simulate it by running

Just replace the id's with one of your category Id's
Here im taking the category with an

[2021-10-15 10:22] Meberem commented on #33479
After the first import something similar to this will have been applied to `config.php`
[code]

If these changes are removed/reverse/not present then a subsequent import fails

[2021-10-15 11:07] jdereus87 commented on #34349
Bug reproduced in dev instance.

Placing a 2 on both the store name + store website directly breaks the sales -> credit memos grid with error:
The store that was requested wasn't found. Verify the store and try again.

[2021-10-15 12:20] anzin commented on #34100
@magento I am working on this

[2021-10-15 12:24] #28897 closed, assigned to nobody

[2021-10-15 12:36] hostep commented on #28897
Out of curiosity: Magento 2.4.4 will ship with [support for PHP 8.1](https://community.magento.com/t5/Magento-DevBlog/BREAKING-NEWS-2-4-4-beta-releases-are-coming-soon/ba-p/484310), but will it also still be compatible with older versions of PHP, like 8.0 and 7.4? Based on the commit mentioned above, I would assume it will?

[2021-10-15 13:35] #34213 closed, assigned to nobody

[2021-10-15 13:51] Thundar commented on #32468
@magento give me 2.4-develop instance

[2021-10-15 14:54] itmsenior commented on #26819
@magento give me 2.3.7-p2 instance

[2021-10-15 14:55] xmav commented on #34100
@anzin Please remove this dependency. It is no longer needed

[2021-10-15 16:20] zahidhussain20 commented on #28916
We have also same issue, but order is created

[2021-10-15 16:38] sphinxstores opened #34355 "A technical problem with the server created an error. Try again to continue what you were doing"
hi all
i’m a new in magento after i setup ssl certificate let’encription i found this error i try
all of this commands

sudo php bin/magento setup:upgrade
sudo php bin/magento setup:di:compile
sudo php bin/magento setup:static-content:deploy -f
sudo php bin/magento indexer:reindex
sudo php bin/magento cache:clean
sudo php bin/magento cache:flush
but still … i need help i use aws bitnami magento 2.

[2021-10-15 17:40] nadroj467 commented on #34334
Further to this issue I found that the Last-Modified date for our whole magento stores webpages was fixed at the last modified date of index.php. If I update index.php then the whole site last-modified date updates. This is a magento issue? causing a lot of issues for google crawl as the google thinks there has been no site updates and does not refresh the page content as it receives 304 error

[2021-10-15 17:57] github-jira-sync-bot opened #34356 "Update constrains for laminas libraries in composer.json"
### Description (*)
We need to update all `laminas/laminas-*` composer dependencies to compatibility with PHP 8.1.

### Pay attention (*)

- we only need to update libraries that have a `~8.1.0` constraint.
- we need to keep constraint type (`^`, `~`) and version value (major.minor.patch)
### List of the libraries that used in Magento below (*)

- [x] laminas/laminas-captcha
- [ ] laminas/laminas-

[2021-10-15 18:13] nadroj467 commented on #34334
@magento give me 2.4-develop instance

[2021-10-15 18:34] spignataro commented on #34348
Are you using Braintree as your payment processor? We are wondering if it has to do with the processor as we just tested and everything works with cash on delivery.

[2021-10-15 20:34] spignataro commented on #34348
After testing - I can confirm it is due to the Mirasvit modules. I just deactivated them and bam - everything worked.

[2021-10-15 21:13] #33336 closed, assigned to xmav

[2021-10-15 21:14] #33595 closed, assigned to ihor-sviziev

[2021-10-15 21:14] #34212 closed, assigned to nobody

[2021-10-15 23:42] spignataro commented on #34348
I am going to assume that the issue stems from 1.0.20 which was updated a few days back.

[2021-10-16 00:16] mrtuvn commented on #34335
Normal way magento define mixin in file requirejs-config
https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/javascript/js_mixins.html
I'm not tested with the case enable plugin AdBlock but sometimes magento not call mixin correct as we expected. You also can call mixin
like this

[code]

[2021-10-16 01:05] mrtuvn commented on #34355
View log in var/log folder in your magento root may help for find out real problem or issue

[2021-10-16 03:28] github-jira-sync-bot opened #34358 "Review web server config files"
.htaccess and nginx.conf files distributed with Magento need to be reviewed to identify and fix missed options with regard to PHP8. Here is example <https://php.watch/versions/8.0/mod_php-rename>

 

AC:
* New required options added
* Outdated options removed
* Magento works fine with PHP8, Apache, Nginx
* use value from nginx.conf.sample for max*execution*time in .htaccess

[2021-10-16 03:57] JKair opened #34359 "Can export in 2.4.3 with s3"
### Preconditions (*)

1. magento 2.4.3

### Steps to reproduce (*)

1. use s3
2. export product in admin panel

### Expected result (*)

1. export normal

### Actual result (*)

1. the error log:
Warning: stream_get_meta_data(): supplied resource is not a valid stream resource in /vendor/magento/module-aws-s3/Driver/AwsS3.php on line 850 {"exception":"[object] (Exception(code: 0): Warning: stream

[2021-10-16 15:36] apresources commented on #8614
I had the same problem and none of the above worked for me. The Free Shipping Rules we had set up were for if the Shipping Method was set to the default shipping method, and the was order above a certain amount according to the destination country.

There were 2 issues

- Free shipping was not set on initial entry to the screen
- Free shipping was retained if the customer changed to another countr

[2021-10-17 13:36] chequille commented on #34294
Hi @ajijshekh123,

I believe I found the problem. It is alittle bit tricky to setup a new shop to rperoduce it, as my shop is a german shop with some special things. But I can describe when it happens and when it is working.
Some explanations: we do have two different tax rates in germany, 19% and 7%.
THese rates are valid all over germany and they do not depend on regions or states as it is in th

[2021-10-17 15:43] hercab opened #34362 "Undefined index: id in /home/yuniorch/code/acxess/tss/vendor/magento/module-config/Model/Config/Structure/Element/Iterator.php on line 63"
### Preconditions (*)

1. Magento 2.3.5
2.

### Steps to reproduce (*)

1. Upgrade to magento 2.4.3
2. Try to log in as an admin user

### Expected result (*)

1. Login as an admin user successfully
2.

### Actual result (*)

1. Undefined index: id in /home/yuniorch/code/acxess/tss/vendor/magento/module-config/Model/Config/Structure/Element/Iterator.php on line 63
2.

---
Please provide [Severity]

[2021-10-17 15:54] #34362 closed, assigned to nobody

[2021-10-17 16:15] nimbus2300 commented on #22057
Thank you so much - this fixed it for me.

I added this to /etc/my.cnf in the innodb section, and restarted mysql server:

`transaction-isolation=READ-COMMITTED`

Note using DBeaver/Workbench still displays 'REPEATABLE-READ' even after you set this! But it you hop over to MySQL command line and run this, you should see it set to 'READ-COMMITTED'

[code]

For reference - how my lock error manifeste

[2021-10-17 21:26] chequille commented on #34294
Additional info:
in model Magento\Sales\Model\ResourceModel\Order\Handler\State the state of the order is checked and set.
WIthin this check, there is a function canCreditmemo() which is called and in case of this function returning false status is set to Closed
This canCreditmemo function is defined in Magento\Sales\Model\Order
Why it is returning false in case of an order having a product with t

[2021-10-18 05:51] engcom-Hotel commented on #32303
Hello @Nuranto,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-10-18 06:08] renard123 opened #34363 "Small letters should not be allow for cart price rule if Coupon code only in Capital letters"
Small letters should not be allow for cart price rule if Coupon code only in Capital letters

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
1. Login into Admin
2. Create cart price rule with all capital letters like TEST123
3.  Front End -> Enter coupon code like Test123 and click on Apply

### Expected result (*)
1. In Coupon code small letters should not be allowed if added co

[2021-10-18 06:09] krishprakash commented on #34363
@magento give me 2.4-develop instance

[2021-10-18 06:15] #34182 closed, assigned to engcom-November

[2021-10-18 06:16] ihor-sviziev commented on #34182
As it was confirmed, the issue has been fixed in https://github.com/magento/magento2/commit/ae304d43cd36322b1ff8145d70c9b2e9aeb0cde. This commit wasn't included to any release yet, so for now you can apply it as a patch

[2021-10-18 08:15] kashukov commented on #10144
Can be solved by cache cleaning.
At least it works locally.

[code]

[2021-10-18 08:17] engcom-Hotel commented on #32970
Hello @colyield,

Thanks for posting this issue!

As per the description, it seems that you have tried to upgrade the Commerce from 2.4.1 to 2.4.2 but have not followed the official [documentation](https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html). Actually, this link described the correct way to upgrade commerce. Please follow the link and let us know if you are facing any di

[2021-10-18 09:29] #34100 closed, assigned to anzin

[2021-10-18 10:55] kasperth opened #34364 "Variant tax on bundle product"
### Preconditions (*)
1. Tested on Magento 2.4.2 and 2.4.3
2. Sample data installed

### Steps to reproduce (*)
1. Create Tax Zone - Identifier: DK-25, Zip/Post Code:*, Country: Denmark, Rate Perfect: 25
2. Create Tax Rule - Name: DK25, Tax Rate: DK
3. Adjust Tax settings as attached image backend-tax.jpeg
![backend-tax](https://user-images.githubusercontent.com/5848718/137717311-e075a2b7-08dc-414

[2021-10-18 11:58] webgility-amazonapi commented on #34178
Hi,
Is there any update on the resolution of this issue. Our customer is getting in panic mode now.

Thanks,
Webgility team

[2021-10-18 12:56] denis-zyk commented on #34325
I've observed this weird behaviour some time ago, and none of the above workarounds have worked back then, except for the following one (similar to @Axel29):

0. rollback `composer.lock` file or remove it completely
1. `rm -rf vendor/*`
2. `rm -rf var/vendor/*`
3. switch to composer V2
4. `composer clear-cache`
5. `composer install` (`composer.lock` should be OK afterwards)
6. switch back to compo

[2021-10-18 12:58] nordcomputer commented on #31268
@johnsw It seems, the problem is still occuring in 2.4.2 - I am trying to keep the extension up to date, as long, its necessary:
https://github.com/nordcomputer/magento2-showoutofstockprice

[2021-10-18 14:29] pdeboolw opened #34371 "Invalid customer address error 84711 adding item to cart and trying to confirm purchase"
### Preconditions (*)

### Steps to reproduce (*)

### Expected result (*)

1. When I first hit checkout there should not be an error.
2. When I click 'Place Order' it should bring me to the screen to confirm purchase - without error!

### Actual result (*)

1. See screen shot
[Error 84711 Invalid customer address id.docx](https://github.com/magento/magento2/files/7365756/Error.84711.Invalid.custo