[2022-11-23 07:55] engcom-Bravo commented on #36512
@magento give me 2.4-develop instance

[2022-11-23 08:25] dtavieres commented on #35978
Hi @engcom-Dash, Is there any advance with this issue?
Thank you in advance

[2022-11-23 09:06] engcom-Bravo commented on #36509
@magento give me 2.4-develop instance

[2022-11-23 09:33] engcom-Dash commented on #36473
Hi @monakd ,

We are worked this issue in 2.4 -develop magento instance...We can able to reproduce the issue.We got Actual result.

PreConditions:
Magento instance 2.4 -develop
PHP 8.1
Braintree configured in Magento admin Panel
Google Pay payment enabled in Back end

Steps to reproduce:

Install magento instance
go to stores > configuration>sales
Click Payment methods
select Braintree configurati

[2022-11-23 09:49] PaperDS commented on #36054
Still no exception.log in M2.4.5-p1

[2022-11-23 10:01] Shaikh-Samir commented on #36054
Hello @PaperDS
We have tested this work around solution in M2.4.5-p1 as well and its working correctly in our project.

Thank you.

[2022-11-23 10:06] griffinsbridge commented on #26901
Because this is Magento :/

[2022-11-23 10:46] engcom-November commented on #36471
Verified the issue again on Magento 2.4-develop instance having 10k products and by adding custom module: new product type but still could not reproduce the issue with below steps performed:
**Steps performed:**
1. Generated test data of 10k Products in 2.4-develop instance
2. Indexers set on "Update By Schedule"
3. Added a new custom module (Added new product type)
![image](https://user-images.gi

[2022-11-23 10:50] engcom-Hotel commented on #36453
Hello @thomas-kl1,

Thanks for the reporting and collaboration!

We have tried to reproduce the issue via upgrading Magento from 2.3.5 to 2.4.5-p1. But for is the issue is not reproducible. We have followed the below steps:
1. Install Magento 2.3.5
2. Create a user with mentioned last name in the main description:
![AccountWithUnsanitizedName](https://user-images.githubusercontent.com/51681618/203

[2022-11-23 10:54] engcom-November commented on #36412
Hi @seo-master ,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.4.3 to 2.4.5 with below steps but could not reproduce the issue.
Steps performed:
1. Installed Magento 2.4.3 Project-community-edition using  `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.4.3`
2. Created categories and few products with attrib

[2022-11-23 11:08] vik1179 commented on #9635
@dhob68 - Your solution worked. Thanks!
However I would say for everyone who is doing this solution, make sure you clear the Magento cache and your browser cache. Otherwise you'd think this solution doesn't work. But it does. You just have to flush both the caches and Viola, you got the Captcha displayed!

[2022-11-23 11:27] jsdupuis commented on #36412
If I may add a theory: our Magento installation was migrated from Magento 1 to Magento 2 all the way to 2.4.4. I believe that multiselect attributes used to be stored as text, then they were migrated to be varchar on a subsequent version, then finally back to be stored as text in 2.4.4. Which explains duplicate entries in CATALOG_PRODUCT_ENTITY_TEXT and CATALOG_PRODUCT_ENTITY_VARCHAR. This issue m

[2022-11-23 11:45] Citizen4our opened #36514 "Customer group id field set is null during placing guest order"
### Preconditions and environment

- Magento version: 2.4.5
- place guest order

### Steps to reproduce

1. Place guest order

### Expected result

Customer group id is 0 (NOT LOGGED IN)

### Actual result

Customer group id is null

### Additional information

Problem in this line: \Magento\Quote\Model\QuoteManagement::placeOrder 429:
` $groupId = $customer ? $customer->getGroupId() : GroupInterf

[2022-11-23 11:46] engcom-November commented on #36375
Hi @mikew-westlund ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-23 11:46] #36375 closed, assigned to engcom-November

[2022-11-23 11:53] m2-assistant[bot] opened #36515 "[Issue] Remove laminas/laminas-dependency-plugin dependency"
This issue is automatically created based on existing pull request: magento/magento2#36495: Remove laminas/laminas-dependency-plugin dependency

---------
### Description (*)
This PR removes the `laminas/laminas-dependency-plugin` composer plugin.
The plugin was introduced in https://github.com/magento/magento2/pull/26436 and its purpose is described as follows on [their homepage](https://github.c

[2022-11-23 12:01] fredden opened #36516 "Unable to install Magento with Composer version 2.4.4"
### Preconditions and environment

- Magento `2.4-develop` branch, after https://github.com/magento/magento2/commit/4b43b2b29e9dc42501875b6356978868a1b1268e
- Composer version 2.3.0 or better

### Steps to reproduce

1. Clone repository
1. Run `composer install`

### Expected result

Required packages are installed.

### Actual result

An error is shown.

![Screenshot_2022-11-23_11-51-13](https://

[2022-11-23 12:02] engcom-Bravo commented on #36512
Hi @Manjula-kalyan,

Thank you for reporting and collaboration.

As per Magento Document only some of Web APIs must remain accessible for anonymous users.

<img width="1121" alt="Screenshot 2022-11-23 at 2 12 06 PM" src="https://user-images.githubusercontent.com/51680745/203541482-bab6cb77-90b0-4fed-9663-6242b40263df.png">

<img width="888" alt="Screenshot 2022-11-23 at 2 12 12 PM" src="https://us

[2022-11-23 12:05] Citizen4our commented on #36514
I see it fixed https://github.com/magento/magento2/commit/d692049464a40921c2673f447fe7ddab30f63254

[2022-11-23 12:07] m2-assistant[bot] opened #36518 "[Issue] With table prefix enabled in app/etc/env.php visit Product/Category pages and you would receive error with raw sql with incorrect table names for store & eav_attribute causing the page to go into 500 error"
This issue is automatically created based on existing pull request: magento/magento2#36478: With table prefix enabled in app/etc/env.php visit Product/Category pages and you would receive error with raw sql with incorrect table names for store & eav_attribute causing the page to go into 500 error

---------
The prefix for store and eav_attribute table was not considered & caused a breaking change

[2022-11-23 12:07] engcom-Bravo commented on #36455
Hi @ppeyman,

Thanks for your Update.

Kindly can you please elaborate steps We are Verified in frontend side.

Thanks.

[2022-11-23 12:11] engcom-Bravo commented on #36488
Hi @UtsavRock1811,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is reproducible. Kindly refer the screenshots.

Steps to reproduce :

1.Login into admin > System > Data Transfer > Import, Select "Stock Sources" from entity type drop down.
2.Select "Add/Update Complex Data" option from Import Behaviour drop down.
3.Rest of fields leav

[2022-11-23 12:16] engcom-Bravo commented on #36509
Hi @davidhiendl,

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screemshots.

**Steps to reproduce**

1.Create a customer in a store with a store id that does not have a corresponding website id (for create 1 website, 3 stores and use the last store, to ensure the store id does not also exist in the

[2022-11-23 12:34] jayantakr1 opened #36520 "Unable to redirect success page after paypal payflow link payment."
**Pre-conditions (*)**

We are using Magento 2.4.3 version . We have configure paypal payflow link payment method
Issue reproducible on 2.4-develop as well.

**Steps to reproduce (*)**
1. Configure Payflow link payment from Magento Admin - Stores - Configuration - Sales - Payment Methods - Payflow link with sandbox mode.
2. Place and order from front end using payflow link payment

**Actual result

[2022-11-23 12:35] pabman11 opened #36521 "PHP8.1 readonly syntax error on setup:di:compile"
### Preconditions and environment

- Magento 2.4.5-p1
- PHP 8.1

### Steps to reproduce

Execute bin/magento setup:di:compile

### Expected result

Task is completed succesfully

### Actual result

bin/magento setup:di:compile
Compilation was started.
Repositories code generation... 1/9 [===>------------------------]  11% < 1 sec 133.0 MiBsyntax error, unexpected token "readonly", expecting identi

[2022-11-23 12:38] pabman11 commented on #36521
@magento give me 2.4-develop instance

[2022-11-23 13:58] engcom-November commented on #36516
Verified the issue on Magento 2.4-develop instance and the issue is reproducible.
Unable to run composer install command after cloning 2.4-develop Magento repository.
Users are asked to run composer update command. Hence confirming the issue.
Composer version used: 2.4.4
![image](https://user-images.githubusercontent.com/60198231/203564874-2c95d421-facc-4849-ac9d-c4e1d4d197fc.png)

[2022-11-23 14:29] nbennett25 commented on #21556
I am able to reproduce this issue with EE v 2.4.2-p1.

[2022-11-23 14:44] soumiktuban opened #36522 "MySQL Error on Product Save"
### Preconditions and environment

- Magento version: 2.4.5-p1
- MySQL version 8.0.29
- PHP 8.1.11

### Steps to reproduce

1. Admin -> Catalog -> Products -> Edit any Product (Which is associated with at least one website).
2. Now Uncheck all websites from "Product in Websites".
3. Change "Visibility" from Catalog Search to "Not Visible Individually".
4. Save

### Expected result

You saved the p

[2022-11-23 15:35] chittima commented on #36107
Internal team is working on the fix

[2022-11-23 17:04] hostep commented on #36516
Is duplicate of https://github.com/magento/magento2/issues/36515 😉

[2022-11-23 20:33] subbu1993 commented on #36521
@magento give me 2.4.3-p2 instance

[2022-11-23 20:35] hostep commented on #36054
This might be fixed under [ACP2E-1287: log exception to exception.log](https://github.com/magento/magento2/search?q=ACP2E-1287&type=commits) (untested), unfortunately no clean merge commit, so you'll probably want to add those 4 separate commits together in a patch.

[2022-11-23 20:35] subbu1993 commented on #36479
@magento give me 2.4.3 instance

[2022-11-23 20:51] MikeDevs commented on #35603
Same issue on 2.4.4-p2

[2022-11-24 06:14] engcom-November commented on #36432
Hi @Andryel-Blanco ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-24 06:14] #36432 closed, assigned to engcom-November

[2022-11-24 06:20] engcom-Bravo commented on #36522
@magento give me 2.4-develop instance

[2022-11-24 07:21] Shaikh-Samir commented on #36508
Hello @engcom-Dash

Thank you for your response.
We have prepared step-wise document to reproduce this issue with screen shots of admin configuration, company account settings, order placement flow, company admin and user accounts at store front.
So please refer those steps to produce the PO order related error, which is currently i am facing.

[Reproduce-Step-PO-Order.pdf](https://github.com/mage

[2022-11-24 07:39] engcom-Hotel commented on #36501
Hello @chazzs,

Thanks for the reply! As per your use case, the issue seems valid to us. Hence confirming the issue and also updating the main description with updated steps to reproduce and actual result.

thanks

[2022-11-24 07:40] Shaikh-Samir commented on #36054
Yes got your point, its not best practice to edit in core code of framework, actually i also don't like to do this. So that  mentioned it work around fix (as temporary solution).

[2022-11-24 08:13] Manjula-kalyan commented on #36512
Hi @engcom-Bravo

Magento providing more than 40 APIs for Anoumous users. Through those they can creat an empty cart session. Using that MASKED ID [CART ID], Hacker can predict or guess other user's cart id .
A hacker could read an individual's cart (shipping and billing, partial credit card data, name etc.) by brute forcing the cart ID

[2022-11-24 08:40] engcom-Bravo commented on #36514
@magento give me 2.4-develop instance

[2022-11-24 08:51] engcom-Hotel commented on #36476
Hello @nbennett25,

Thanks for the reporting and collaboration!

I agree with @hostep for this https://github.com/magento/magento2/issues/36476#issuecomment-1320919275. This is a soft dependency not hard as explained in this [document](https://developer.adobe.com/commerce/php/architecture/modules/dependencies/).

Hence this seems to us an expected behavior.

Thanks

[2022-11-24 08:57] engcom-Hotel commented on #36484
Hello @ninjacoder30,

Thanks for the report and collaboration!

We have tried to upgrade Magento from 2.3.x to 2.4.4-p1 and 2.4.5-p1, but in both cases, we have jQuery 3.6.0 instead of 3.4.0.

I request you to please check this on the fresh installation of the Magento and then upgrade it. Let us know in case if you still face any issues.

Thanks

[2022-11-24 09:12] engcom-Hotel commented on #36123
Hello @francosmp,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-11-24 09:12] #36123 closed, assigned to nobody

[2022-11-24 09:28] Adel-Magebinary opened #36526 "Making env.php as an enviromental variable"
### Summary

We are running quite a comprehensive docker infrastructure (Multiple Galera, Redis replications etc.) where the frontend, backend, cron and message queue are separated to different containers. However, the code base is the same.

We are experiencing issues when we mount the same code base to each container, we cannot use different env.php, which is optimized for each container functio

[2022-11-24 10:24] engcom-November commented on #36503
Hi @cdcrothers ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop with enterprise edition modules enabled but the issue is not reproducible with below steps performed:
**Steps performed:**
1. Configured Google [Analytics](https://analytics.google.com/) Account by creating account with property
2. Copy Measurement ID - Login to Magento admin - Stores - Configurat

[2022-11-24 11:48] ravi-chandra3197 opened #36528 "Percent of product price discount not working with exclude sku condition"
### Preconditions and environment

- Magento 2.4.5

### Steps to reproduce

1. Set SKU attribute 'use for promo rule conditions' true.
2. Add coupon code test with exclude product by SKU
3. Add few product in cart and apploy coupon code

### Expected result

Discount should apply for all product except exclude product using sku condition.

### Actual result

Discount apply in all product without e

[2022-11-24 12:00] webloft commented on #28102
2.4.5-p1 still present:

Content-Security-Policy-Report-Only: 3875 chars

[2022-11-24 12:30] engcom-Bravo commented on #36521
Hi @subbu1993,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

`Execute bin/magento setup:di:compile`

<img width="696" alt="Screenshot 2022-11-24 at 12 33 33 PM" src="https://user-images.githubusercontent.com/51680745/203784937-b2de45b2-fb72-47a6-8270-ce0a28828ea5.png">

Kindly recheck

[2022-11-24 12:33] engcom-Bravo commented on #36514
Hi @Citizen4our,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

**Steps to reproduce**

1.Place guest order.

<img width="532" alt="Screenshot 2022-11-24 at 2 45 17 PM" src="https://user-images.githubusercontent.com/51680745/203785405-1785940b-ea29-45dc-9b20-7f094ea8c37f.png">

<img wi

[2022-11-24 12:34] pabman11 commented on #36521
Hi @engcom-Bravo ,
¿What is the php version that are you using? Mine is PHP 8.1.12

[2022-11-24 12:36] engcom-Bravo commented on #36522
Hi @soumiktuban,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

**Steps to reproduce**

1.Admin -> Catalog -> Products -> Edit any Product (Which is associated with at least one website).
2.Now Uncheck all websites from "Product in Websites".
3.Change "Visibility" from Catalog Search t

[2022-11-24 12:37] Citizen4our commented on #36514
Hi @engcom-Bravo
Looks like this bug has been fixed on 2.4-develop branch. But I can reproduce it on 2.4.5 instance

[2022-11-24 12:44] soumiktuban commented on #36522
Can I have your instance to verify the issue and if I can reproduce it?

[2022-11-24 12:59] engcom-Hotel commented on #35339
Hello @BorisovskiP,

We had a discussion internally with the developers and we have come to the below conclusion:

Creating a table using InstallSchema.php and using its key to create a foreign key using db_schema.xml is not supported by Magento. Please refer devdocs link i.e., https://developer.adobe.com/commerce/php/development/components/declarative-schema/configuration/

<img width="665" alt="

[2022-11-24 13:22] engcom-Hotel commented on #34394
Hello @DmitryFurs @navarr,

We have discussed this issue with developers internally and come to the below conclusion:

As per the analysis for the issue, the `vertexinc/vertex-tax-module:4.2.8` `di.xml` is an area-specific configuration, and the app/etc/di.xml is the initial one. As per devdocs the area-specific config will override the initial one so this is expected behavior. we can check furthe

[2022-11-24 13:23] engcom-November commented on #36520
Verified the issue on Magento 2.4-develop instance and payflow link payment is not working in test mode using any valid test payment details used. Payment is getting declined. No errors/exceptions are observed in log files. Hence confirming this issue.
payment.log file response:
[payment log](https://github.com/magento/magento2/files/10084884/payment.log)

[2022-11-24 13:39] navarr commented on #34394
@engcom-Hotel I think everyone in this thread understands that's the expected behavior of XML merge as it exists today

However, I think the point of the ticket is that database triggers especially should not be disappear if a module tries to add one

This has two potential solutions to that regard:

* Merge initial and area configuration instead of overwriting
* Or Magento needs to host important

[2022-11-24 13:50] Axel29 commented on #36440
Hi @engcom-Dash ,

I edited the post to make it more clear.

The bug is simply that there should NEVER be a subscription or unsubscription confirmation email sent when changing the customer email address.

The action of changing my account's email address has absolutely nothing to do with the newsletter whatsoever, and it is more than confusing to recieve a subscription confirmation email when I s

[2022-11-24 14:01] engcom-Bravo commented on #36528
Hi @ravi-chandra3197,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

**Steps to reproduce**

1.Set SKU attribute 'use for promo rule conditions' true.
2.Add coupon code test with exclude product by SKU
3.Add few product in cart and apploy coupon code

![Test-Promotions-Marketing-Magent

[2022-11-24 14:05] peterjaap commented on #18553
@norgeindian nope unfortunately not :(

[2022-11-24 14:26] bruno-blackbird commented on #35667
We applied another workaround for this. It will solve all the cases where a store is passed directly to the url resolver.

[code]

[2022-11-24 15:34] onlinebizsoft commented on #36054
We also re-look at this one as well
https://github.com/magento/magento2/issues/13128

[2022-11-24 17:05] #35535 closed, assigned to engcom-Dash

[2022-11-24 17:05] #36309 closed, assigned to rogerdz

[2022-11-24 17:05] #36351 closed, assigned to rogerdz

[2022-11-24 17:05] #36119 closed, assigned to texboy

[2022-11-24 17:05] #33802 closed, assigned to sergiynezbritskiy

[2022-11-24 17:05] #30820 closed, assigned to ProkopovVitaliy

[2022-11-24 17:05] #31643 closed, assigned to aligent-lturner

[2022-11-24 17:06] #29217 closed, assigned to solwininfotech

[2022-11-24 18:16] ghost opened #36530 "Deselecting indexable Multiselect product attributes causes a deprecation warning"
### Preconditions and environment

- Magento version: 2.4.4-p1,
- PHP 8.1
- Developer mode
- Having an **indexable** (i.e. having one of `is_filterable_in_search`, `is_visible_in_advanced_search` or `is_filterable` set) `multiselect` product attribute

### Steps to reproduce

1. Select one or more options for the multiselect
2. Save the product
3. Deselect all options
4. Save the product

### Expe

[2022-11-24 18:16] BorisovskiP commented on #35339
@sprankhub please check the last message from @engcom-Hotel

[2022-11-24 21:03] hostep commented on #36521
@pabman11: since this is about the `readonly` keyword, can you maybe specify what PHP classes you have that use this new syntax? Is it a PHP class that represents a plugin, or is it a PHP class that another PHP class plugins to? Or even something else ...?

[2022-11-25 06:10] engcom-Bravo commented on #36454
Hi @TWIAntonio,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-25 06:10] #36454 closed, assigned to engcom-Bravo

[2022-11-25 07:18] engcom-Hotel commented on #36526
Hello @Adel-Magebinary,

Thanks for the reporting and collaboration!

We have gone through the main description and found that this is not related to any bug related to Magento. But it can be a good feature to have in Magento. Hence marking this ticket as a feature request to process further.

Thanks

[2022-11-25 07:33] engcom-Bravo commented on #36530
@magento give me 2.4-develop instance

[2022-11-25 08:02] engcom-Hotel commented on #36054
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket ACP2E-1287 by the internal team
Related commits: https://github.com/magento/magento2/search?q=ACP2E-1287&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-11-25 08:02] #36054 closed, assigned to nobody

[2022-11-25 08:07] pabman11 commented on #36521
That's the problem @hostep , this is a light project. Luma based for frontend, some modules on app/ and others on vendor/

I searched the `readonly` keyword at all project. Nothing found. And as you said, the error output of `setup:di:compile` doesn't tell anything. It' doesn't matter if you give the -vvv parameter,  the output is the same.

[2022-11-25 08:18] engcom-Hotel commented on #33008
Hello @fooman,

Thanks for the reply!

I request you please try to reproduce the issue in the latest Magento 2.4-develop branch and let us know if the issue is still reproducible for you.

Thanks

[2022-11-25 08:22] engcom-Hotel commented on #28161
Hello @tuyennn,

Thanks for the report!

Please let us know more about the issue. Like the steps to reproduce the issue etc.

It will help us in moving further with this ticket.

Thanks

[2022-11-25 08:39] tuyennn commented on #28161
@engcom-Hotel Hard to replicate this in regular condition with offline payments.
But our live site is using Paypal, Braintree, Klarna payment Guest checkout enabled.
The problem is we got bunch of 400 Bad Request with `default/V1/guest-carts/xxxxxxxxx/set-payment-information`

We are using Noibu to trace the problem and actually solution came out after I read through this issue,

As @speedupmate e

[2022-11-25 09:27] fooman commented on #33008
@engcom-Hotel the above code links point to 2.4-develop and the issue is still observable there.

[2022-11-25 10:29] monakd commented on #36473
Hi @Rajasekar,

Yes. The configuration is correct.

On Wed, Nov 23, 2022 at 3:04 PM Adobe Jira Synchronization Bot <
***@***.***> wrote:

--

Monika Kadwekar
Magento Developer
*P:* 826-905-4416 <8269054416>
*W:*ravedigital.agency
<https://www.ravedigital.agency?utm_source=Gmail+Signature+&utm_medium=Email&utm_campaign=email_tracking>
*W:*aheadworks.com
<https://aheadworks.com/?utm_source=Gmail+Sig

[2022-11-25 10:51] engcom-Bravo commented on #36530
Hi @francisco-serfe,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

**Steps to reproduce**

1.Select one or more options for the multiselect
2.Save the product
3.Deselect all options
4.Save the product

Product saved successfully.No warnings thrown.

![vhjasdjh-Products-Inventory-Catal

[2022-11-25 11:20] engcom-Bravo commented on #36522
Hi @soumiktuban,

Thanks for your update.

We have verified in our Local Instance Magento `2.4 develop` and the issue is not reproducible.Kindly refer the screenshots.

**Steps to reproduce**

1.Admin -> Catalog -> Products -> Edit any Product (Which is associated with at least one website).
2.Now Uncheck all websites from "Product in Websites".
3.Change "Visibility" from Catalog Search to "Not Vi

[2022-11-25 11:22] engcom-Bravo commented on #36514
Hi @Citizen4our,

Thanks for your update.

It is recommended to verify the issue on Magento 2.4-develop instance as it is an upcoming 2.4.x release and have latest code base.

Kindly recheck the behavior on Magento 2.4-develop instance and elaborate steps to reproduce if the issue is still reproducible.

Thanks.

[2022-11-25 11:27] kknsenthil commented on #5775
Finally Got the solution and it's working as expected
https://magento.stackexchange.com/questions/283571/magneto-2-different-countries-in-billing-and-shipping-address

[2022-11-25 11:29] BarnyShergold opened #36531 "Reporting bugs in B2B modules"
### Description

Apologies for raising this issue but I cannot find out elsewhere how to do this.

I have found a bug in the B2B configuration for Shared Catalog - introduced in 2.4.5

Please advise on HOW to report this as the B2B repo is not public facing.

### Expected behavior

N/A

### Benefits

_No response_

### Additional information

_No response_

### Release note

_No response_

[2022-11-25 13:05] engcom-November commented on #35305
Hi @wilsonssot ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop enterprise edition and add to cart event does not come by default in conversion data.
Only Purchase conversion is enabled by default.
add_to_cart event should be added and marked as conversion to track the same. Ref [docs](https://experienceleague.adobe.com/docs/commerce-admin/marketing/google-

[2022-11-25 13:08] francisco-serfe commented on #36530
Sorry, I missed a precondition for the attribute. It should be indexable, per [_getIndexableAttributesCondition](https://github.com/magento/magento2/blob/7c6b6365a3c099509d6f6e6c306cb1821910aab0/app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Eav/AbstractEav.php#L250-L261):
[code]

In my specific case, the attribute has `is_filterable` enabled.

[2022-11-25 13:26] mohitnavik commented on #36184
I have an issue related to this and popup was not closing after clicking on the close button. So, I have updated script on the following file:

vendor/magento/module-checkout/view/frontend/web/js/action/update-shopping-cart.js
![Desktop screenshot (2)](https://user-images.githubusercontent.com/41897612/203995271-138ad403-301c-4caf-be0f-790a29693b1f.png)

May be It helps someone

[2022-11-25 13:26] soumiktuban commented on #36522
Hi @engcom-Bravo

Currently, I am using PHP 8.1. Still, I am able to replicate the issue. Kindly re-check the issue. Screenshot attached.

![image](https://user-images.githubusercontent.com/10050358/203995025-66f5bed2-4e32-4410-910e-d008cf76210e.png)

![image](https://user-images.githubusercontent.com/10050358/203995323-db8a0ff5-905b-41db-8da2-8d88a050a01d.png)

Thanks

[2022-11-25 13:31] Aquive commented on #36069
@mohammedTBB @hostep @n2diving-dgx does anyone of you know how to reproduce this issue? From what I can read, it does not always occur? I have the same situation for a client.

[2022-11-25 14:29] europrotection commented on #35824
This issue still exists on magento 2.4.5 p1

[2022-11-25 14:44] engcom-November commented on #36341
Hi @boardwalki ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance with default product alerts email templates and no product alert emails are getting triggered currently. There is an ongoing confirmed issue [here](https://github.com/magento/magento2/issues/35602) for the same. Kindly move on to this issue for latest updates / solutions on the same. We a

[2022-11-25 15:22] Axel29 opened #36532 "[Cart Rule] Incorrect fixed discount amount applied for bundle products"
### Preconditions and environment

- Magento 2.4.3-p3 (not tested on newer versions)

### Steps to reproduce

1. Install Magento 2.4.3-p3 with sample data
2. Create cart rule with "Fixed amount discount" action (e.g: 10€) with or without a coupon code
3. Add a bundle product to cart (e.g: the `Sprite yoga companion kit` sample product with its default options)
4. Go to the cart
5. [OPTIONAL] If a

[2022-11-25 15:24] stkrelax commented on #33856
@ihor-sviziev
upgraded today to 2.4.5 -p1 the currency problem still causes 0 prices on db quote items and on cart view
in our case it actually caused configurables not being visible in cart at all after adding, though it was added successfully.

i had a look at the suggested patch and than to the core code to be patched.
Actually it seems the problem is something different:

you seem to have comm

[2022-11-25 15:32] Axel29 commented on #36532
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-11-25 15:51] olsavmic opened #36533 "Product list does not contain [extension_attributes][stock_item]"
### Preconditions and environment

- Magento version 2.3.1, probably all newer versions affected as well 2.4-development

### Steps to reproduce

Call `/rest/V1/products?searchCriteria` API, look for extension_attributes and compare the output with the API documentation

### Expected result

stock_item should be part of extension_attributes in product listing

### Actual result

stock_item is avai

[2022-11-25 22:08] frankhdz22 commented on #7633
I have this very issue and it is so frustrating working with magento. These threads always lead no where. I have the exact same issue with Authorize sometimes the post back to authorizenet/directpost_payment/response never happens. It is random and no clues from the logs. The post back simply never happens randomly.

[2022-11-25 22:17] hostep commented on #36069
@Aquive: try outputting/debugging what the `$sql` variable contains just before [this](https://github.com/magento/zf1/blob/2381396d2a9a528be2f367b5ce2dddf650eac1d0/library/Zend/Db/Statement.php#L210) and [this](https://github.com/magento/zf1/blob/2381396d2a9a528be2f367b5ce2dddf650eac1d0/library/Zend/Db/Statement.php#L222) line.
That might reveal why `preg_replace` runs into an error in your case.

[2022-11-26 07:14] RocktechnolabsDev opened #36535 "Magento Community Edition: Version 2.4.5 - Export product, Website id showing 0 in export product csv file instead of website id 1 issue"
### Preconditions and environment

1. Magento Community Edition 2.4.5 without sample data is installed.
2. Website have products

Issue:

Project have single website setup, Website id 1 is Value of setup website, Export the product csv file, Exported product csv file have website_id value = 0 instead of website_id = 1 in website_id column of exported csv file.

### Steps to reproduce

1. Login int

[2022-11-26 10:11] RocktechnolabsDev opened #36536 "Magento Community Edition: Version 2.4.5 - Export Product CSV have unwanted values in "additional_image_labels" column"
### Preconditions and environment

1. Magento Community Edition 2.4.5 without sample data is installed.
2. Website have products

Issue:

- Project have single website setup
- Single product have multiple images setup into product, eg. one product image set as Base, Swatch another one as Thumbnail and so on...

Export the products from backend export section, Exported Product CSV have unwanted val

[2022-11-26 10:36] idlea commented on #36113
thank you just disabling show out of stock products worked, strange though I have 3 magento sites and only one had this problem

[2022-11-26 22:22] rjslegall commented on #35970
Hi!

We had the same problem. The bug is confirmed.
To fix we apply the suggestion: Catalog > Inventory > Display Out of Stock Products configuration is set to No

[2022-11-28 03:57] mirianfalconi commented on #33969
I was going through a similar problem. After I import geocodes, the problem goes away.

I could find the error in:
vendor/magento/module-inventory-in-store-pickup/Model/SearchRequest/Area/GetDistanceToSources.php

getDistanceToSources(AreaInterface $area): array
line 109

Solution
https://experienceleague.adobe.com/docs/commerce-admin/inventory/cli.html?lang=en#import-geocodes

 bin/magento invent

[2022-11-28 05:31] ravi-chandra3197 commented on #36528
Hello @engcom-Bravo
Can you add few other product and then apply coupon code.
Actual result discount should apply other product exclude mention product, but discount apply in all product.
![Joust-Duffle-Bag](https://user-images.githubusercontent.com/43946827/204201160-19ab10f4-a14a-4e2e-9fbb-e3cc3614ce55.png)
![Shopping-Cart](https://user-images.githubusercontent.com/43946827/204201161-b081a13d-be

[2022-11-28 05:44] engcom-Bravo commented on #36530
November 25,2022

[2022-11-28 05:45] engcom-Bravo commented on #36530
@magento give me 2.4-develop instance

[2022-11-28 06:48] mobeen-tekhqs commented on #35635
I am having the same problem.

[2022-11-28 08:49] pabman11 commented on #36521
@magento give me 2.4-develop instance

[2022-11-28 08:51] m2-assistant[bot] opened #36539 "[Issue] Integration Tests: `setup:install` command hangs when question provided"
This issue is automatically created based on existing pull request: magento/magento2#35948: Integration Tests: `setup:install` command hangs when question provided

---------

### Description (*)
This Pull Request adds `--no-interaction` flag in order to avoid the situation when `setup:install` (or any other command) gets stuck due to the question asked in a non-interactive environment.

### Relat

[2022-11-28 09:03] tuyennn commented on #35302
@magento give me 2.4-develop instance

[2022-11-28 09:07] tuyennn commented on #35302
@magento give me 2.4-develop instance

[2022-11-28 09:07] engcom-Dash commented on #36468
Hi @jesse-thomas ,

We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-28 09:07] #36468 closed, assigned to engcom-Dash

[2022-11-28 09:08] engcom-Dash commented on #36449
Hi @eragag ,

We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-28 09:08] #36449 closed, assigned to engcom-Dash

[2022-11-28 09:22] engcom-Dash commented on #36440
@magento give me 2.4-develop instance

[2022-11-28 10:42] pemann commented on #36536
@magento give me 2.4.5 instance

[2022-11-28 11:48] engcom-Bravo commented on #36530
Hi @francisco-serfe,

Thanks for your update.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

**Steps to reproduce**

1.Select one or more options for the multiselect
2.Save the product
3.Deselect all options
4.Save the product

<img width="1408" alt="Screenshot 2022-11-28 at 2 32 04 PM" src="https://user-images.githubusercontent

[2022-11-28 11:53] engcom-Bravo commented on #36522
Hi @soumiktuban.

Thanks for your update.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

We are using PHP 8.1

<img width="662" alt="Screenshot 2022-11-28 at 12 07 38 PM" src="https://user-images.githubusercontent.com/51680745/204271073-6a6ad38d-e1a1-4154-b40f-4c0533481fb3.png">

<img width="505" alt="Screenshot 2022-11-28 at 12

[2022-11-28 12:05] europrotection commented on #35635
me too, the checkout module is very a big shit, so complicated for nothing ...

[2022-11-28 12:10] engcom-Dash commented on #36507
@magento give me 2.4-develop instance

[2022-11-28 12:28] marceldekoning opened #36541 "getGroupId method returns wrong group ID when FPC is disabled."
### Preconditions and environment

- Magento version: 2.4.5-p1
- PHP 8.1
- NGINX
- Varnish & Build In.

### Steps to reproduce

1. Disable FPC.
2. Set a default customer group where new customers have to be placed in, under: Stores > Configuration > Customers > Customer Configuration > Create New Account Options > Default Group.
3. Add some code where group ID is requested from the customerSession

[2022-11-28 12:33] engcom-November commented on #36535
Hi @UtsavRock1811 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance and the issue is reproducible with below steps performed:
Steps performed:
1. Magento single store default setup. (website of base is 1)
2. Admin - System - Export - Select Entity Type - Products - Continue and export
3. Run the consumer command: bin/magento queue:consumers:start expor

[2022-11-28 12:44] francisco-serfe commented on #36530
Well, I specifically mentioned I was reproducing this behavior in `2.4.4-p1`. Looks like it was fixed in `2.4.5` via [this commit](https://github.com/magento/magento2/commit/d255ba3fb31db0bea0f8b9fea96d33a85cf5e091). Feel free to close.

[2022-11-28 12:59] engcom-November commented on #36536
Hi @UtsavRock1811 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance and the issue is reproducible. Hence confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/204283752-afcef307-c22b-4781-9dcc-d2f0abffaea0.png)

[2022-11-28 13:16] sgeleon opened #36542 "Customer group ID is null in the order"
### Preconditions and environment

- Magento version 2.4.5
- php 8.1

### Steps to reproduce

1. Put some thing in the cart.
2. Complete the checkout process like anonymous user.

### Expected result

1) In the table 'sales_order_item' the field 'customer_group_id' should be 0 by default value.

### Actual result

In the table 'sales_order_item' the field 'customer_group_id' is null.

### Addition

[2022-11-28 13:23] engcom-Bravo commented on #36521
Hi @pabman11,

Thanks for your update.

We are using PHP 8.1

<img width="662" alt="Screenshot 2022-11-28 at 12 07 38 PM" src="https://user-images.githubusercontent.com/51680745/204288184-856e9ece-15c4-444f-8051-562397f8b9a3.png">

<img width="533" alt="Screenshot 2022-11-28 at 12 47 43 PM" src="https://user-images.githubusercontent.com/51680745/204288255-326bae5b-9eef-4ac2-9f47-10ac25c86e77.png">

[2022-11-28 13:27] engcom-November commented on #36533
Hi @olsavmic ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance and the issue is reproducible. No "stock_item" in the GET API response for /rest/V1/products
As per Magento [devdocs](https://developer.adobe.com/commerce/webapi/rest/quick-reference/), all fields of stock_item should be displayed under "extension_attributes" in the GET API response of rest

[2022-11-28 13:49] engcom-Bravo commented on #36512
Hi @Manjula-kalyan,

Thanks for your update.

As per Magento document https://developer.adobe.com/commerce/webapi/rest/use-rest/anonymous-api-security/

Preventing anonymous access to these endpoints could cause third-party integrations to fail.

If the list of APIs that are inaccessible to anonymous users must be updated for a third-party extension, an integrator can add to their extension's di.x

[2022-11-28 14:26] DuckThom opened #36544 "[2.4.5-p1] Argument #1 ($fieldNode) must be of type GraphQL\\Language\\AST\\FieldNode, GraphQL\\Language\\AST\\InlineFragmentNode given"
### Preconditions and environment

- Magento version: 2.4.5-p1
- PHP 8.1

### Steps to reproduce

1. Create a product with the url key 'a-product'
2. Create a category with the url key 'a-category'
3. Run the following GraphQL query:

[code]

### Expected result

The routes for the product and category are returned

### Actual result

A GraphQL error is returned along with the product data:

[code

[2022-11-28 16:15] rofokken commented on #35603
Still exist on: Adobe Commerce ver. 2.4.5-p1

[2022-11-28 16:34] engcom-Dash commented on #36440
@magento give me 2.4-develop instance

[2022-11-28 17:12] bernardinosousa opened #36545 "[Magento 2.4.5-p1] Cannot add to cart"
### Preconditions and environment

- Magento 2.4.5-p1
- Anything else that would help a developer reproduce the bug
- Using Luma/Blank theme
- Default Magento extensions.

### Steps to reproduce

  1. Navigate to storefront as a guest.
  2. Open simple product.
  3. Click “Add to Cart” on the Simple Product.
  4. Mini shopping cart doesn´t update.

### Expected result

Mini shopping cart updates a

[2022-11-28 17:12] bernardinosousa commented on #36545
@magento give me 2.4-develop instance

[2022-11-28 17:43] engcom-Dash commented on #36440
Hi @Axel29 ,

Thanks for your contribution and information.....

We got email address which is received when customer change the  customer email address as well as we didn't receive any subscription related email when customer changing the email address.

Thanks!!!!

[2022-11-28 17:49] bernardinosousa commented on #36545
@magento give me 2.4-develop instance

[2022-11-28 18:08] engcom-Dash commented on #36507
hi @mohitnavik ,

We are trying to reproduce the issue 2.4-develop branch...But we are not able to reproduce the issue.It should allow to add to cart the product.
Steps:
Create simple product
create schedule update(start date and end date ,Update name,Description.)
Assign the existing update
after updating the price trying to add the product.
We can able to add the product to cart.

Let us know if

[2022-11-28 18:47] ThamyHelaysa commented on #33969
@mirianfalconi did you really just added the geonames import? Im facing some problem here too '-.-

[2022-11-28 19:01] sprajapat770 opened #36546 "Return Type Should be string, null returned Error"
### Summary

As Per Magento Code Written in vendor\magento\framework\Mail\MimePartInterface.php and vendor\magento\framework\Mail\MimePart.php is not appropriate.

In MimePart.php constructor magento has used null as default parameter like  ?string $disposition = null, ?string $description = null, etc but the the encapsulated functions return type is specified only for string in responsible interf

[2022-11-28 20:11] slavvka commented on #36453
@magento give me 2.4-develop instance

[2022-11-29 04:56] realadityayadav commented on #35288
You would need to add the correct credentials in auth.json from the account that you purchased the extension from.

[code]
Replace xx with your credentials from https://experienceleague.adobe.com/docs/commerce-operations/installation-guide/prerequisites/authentication-keys.html

[2022-11-29 06:03] engcom-Bravo commented on #36465
Hi @Jilco,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-29 06:03] #36465 closed, assigned to engcom-Bravo

[2022-11-29 06:10] engcom-Bravo commented on #36530
Hi @francisco-serfe,

Thanks for your Update.

We are Closing this issue as per your comment as issue is not reproducible and issue got fixed.

Thanks.

[2022-11-29 06:10] #36530 closed, assigned to engcom-Bravo

[2022-11-29 06:29] engcom-Bravo commented on #36544
@magento give me 2.4-develop instance

[2022-11-29 06:47] engcom-Dash commented on #36545
@magento give 2.4-develop instance

[2022-11-29 06:48] engcom-Dash commented on #36545
@magento give me 2.4-develop instance

[2022-11-29 07:10] engcom-Dash commented on #36545
Hi @bernardinosousa ,

we are trying to reproduce the issue in 2.4-develop instance we are not able to reproduce the issue.
we are getting expected result.
Steps:
1.Go to store front as a guest
2.add product to cart
3.proceed to check out
4.order placed successfully.
Screenshots:
<img width="1512" alt="Screenshot 2022-11-29 at 12 36 19 PM" src="https://user-images.githubusercontent.com/60198592/20

[2022-11-29 07:14] erfanimani commented on #13225
Related issue: https://github.com/magento/magento2/issues/29172

[2022-11-29 08:11] stkrelax commented on #36322
https://github.com/magento/magento2/issues/33856#issuecomment-1327625524

[2022-11-29 08:22] norgeindian commented on #18553
@peterjaap , in the end, we finally found the issue. For the import, we created our own console command. If you run it with `n98-magerun`, you run into the `skuProcessor` issue. Running it with default `bin/magento` solves it.
Don't think, that this was the same in your case, but found it worth to mention.

[2022-11-29 08:48] stephenstephen opened #36547 "main.CRITICAL: Exception: Warning: Use of undefined constant SODIUM_CRYPTO_AEAD_CHACHA20POLY1305_IETF_NPUBBYTES"
### Preconditions and environment

- Magento 2.4.5-p1
- Php 7.4.3
- Ubuntu Linux apache Xampp
- Sodium installed and enabled

![Capture d’écran du 2022-11-29 11-30-30](https://user-images.githubusercontent.com/34239158/204481151-ede08697-d3b4-4418-ab5a-84b095084e11.png)

### Steps to reproduce

Error when execute /pub

![Capture d’écran du 2022-11-29 11-37-39](https://user-images.githubusercontent

[2022-11-29 09:41] soledc commented on #36374
Hello,
Is there any news about the testing of the issue?
Thank you.

[2022-11-29 09:44] adamlavery opened #36548 "Order print logo is too small"
### Preconditions and environment

CE 2.4.3-p1

### Steps to reproduce

1. Set logos as specified in Sales > Sales > Invoice & Packing Slip Design
2. Print an order

### Expected result

Logo on PDF print is the same relative size as the logo on the HTML page used to generate the PDF:

![image](https://user-images.githubusercontent.com/13659750/204493459-9fc35c1a-c836-409c-932e-2109180ccc89.png)

[2022-11-29 09:48] cmuench commented on #18553
@sprankhub Sorry, I am still stopped by my bicycle accident.
So far we initialize n98-magerun a bit different to the bin/magento.
We have also sometimes issues in the way the config is loaded. I guess it's related. Maybe we can sync the init process of n98-magerun with bin/magento to fix such issues.

[2022-11-29 10:02] adamlavery commented on #36548
@magento give me 2.4-develop instance

[2022-11-29 10:27] adamlavery commented on #36548
@magento give me 2.4-develop instance

[2022-11-29 10:28] adamlavery commented on #36548
Well this is poor!

[2022-11-29 10:36] Minirock opened #36549 "Missing title in paypal_paylater method"
### Preconditions and environment

- Magento version : 2.4.4

- magento/module-paypal :     "version": "101.0.4",

### Steps to reproduce

- Go to order or invoice grid on magento 2.4.4 version.

### Expected result

The order grid is printed

### Actual result

We reach an error cause of the paypal_paylater payment method.

### Additional information

Digging into it it looks like the method in `

[2022-11-29 10:43] kanevbg opened #36550 "Modernize Magento's ORM"
### Description

https://medium.com/swlh/magento-2-legacy-orm-explained-178431305fb9

### Expected behavior

Modern ORM API with enterprise grade features like the Doctrines:
https://www.doctrine-project.org/projects/doctrine-orm/en/latest/reference/transactions-and-concurrency.html#locking-support
https://www.doctrine-project.org/projects/doctrine-orm/en/latest/index.html
Develop modern ORM in Ma

[2022-11-29 10:50] kestraly commented on #35672
Just an FYI for others.

I had to delete the integration and then create a new one.

Click ReAuth or Activate made no difference, only delete and add integration worked.

[2022-11-29 11:08] soumiktuban commented on #36522
Thanks for the response.

It looks like the below code changes fix the issue:
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/CatalogUrlRewrite/Observer/ProductProcessUrlRewriteSavingObserver.php

![image](https://user-images.githubusercontent.com/10050358/204513357-2c17817a-fc84-4b80-bfff-cec57465e609.png)

Kindly let me know, what is the release version of the above code.

[2022-11-29 11:13] devchris79 commented on #36548
Hi Adam,

Have you checked that this is not theme related? The screenshot doesn't look like the Magento default layout.
I would check the theme for custom layouts:
https://magento.stackexchange.com/questions/304758/magento2-how-to-customization-of-the-invoice-pdf

[2022-11-29 11:14] engcom-November commented on #36473
Hi @engcom-Dash ,
As discussed, we are reopening this issue to check on cloud instance.

[2022-11-29 11:16] devchris79 commented on #35672
All the functionality now works as Royal Mail have added support for SHA256 and fixed the bug with tracking details/shipped status.

[2022-11-29 11:18] kestraly commented on #35672
It does indeed, but had to delete the existing connector and add it again because it kept coming up with the error "Couldn't connect"

[2022-11-29 11:33] engcom-November commented on #36457
We are reopening this issue as further analysis is required.
Thank you.

[2022-11-29 11:46] adamlavery commented on #36548
Thanks @devchris79. I'm beginning to think it's the Porto theme but why I don't know. The item list format is custom for this site because of the nature of the products sold but otherwise standard.

What's confusing is using the dev tools rendering option to emulate CSS media type print it displays correctly. The rendered HTML from which the PDF is generated is correct but actually printing it the

[2022-11-29 12:36] adamlavery commented on #36548
Appears this is not a Magento issue but something to do with Porto styling, but not specifically related to print styles. For anyone having the same problem with Porto, fix was to add the following to the child theme web\css\print.less:

[code]

[2022-11-29 12:36] #36548 closed, assigned to engcom-Bravo

[2022-11-29 12:38] devchris79 commented on #36548
Glad you have solved that.
We run Porto and its got a few "quirks", a big one is that email templates don't work in the latest version and need to be removed to fall back to Magento defaults.

[2022-11-29 12:46] adamlavery commented on #36548
Oh great - one to look forward to! Thought it was just Magento the breaks things between (even minor) releases.

Have to say, not very impressed with Porto - probably won't be using it again. Some of what they've done is a bit cowboy. Great chunks of styling in the media folder!? That's not best practice.

[2022-11-29 13:22] engcom-Bravo commented on #36542
Hi @sgeleon,

Thank you for reporting and collaboration.

Similar Issue found here https://github.com/magento/magento2/issues/36514 .Issue is not reproducible in magento `2.4 develop`.

Kindly move on to this issue for latest updates / solutions on the same.

Hence we closing this as a duplicate.

Thanks.

[2022-11-29 13:22] #36542 closed, assigned to engcom-Bravo

[2022-11-29 13:27] engcom-Bravo commented on #36544
Hi @DuckThom,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is reproducible.Kindly refer the screenshots.

**Steps to reproduce**

1.Create a product with the url key 'a-product'
2.Create a category with the url key 'a-category'
3.Run the following GraphQL query:

<img width="1419" alt="Screenshot 2022-11-29 at 5 42 53 PM" src="https:

[2022-11-29 13:38] engcom-November commented on #36434
Hi @TheBadong ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-29 13:38] #36434 closed, assigned to thomas-kl1, engcom-November

[2022-11-29 13:40] engcom-November commented on #36400
Hi @phamdungtsx ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-29 13:40] #36400 closed, assigned to engcom-November

[2022-11-29 14:21] engcom-Dash commented on #36473
@magento give me 2.4-develop instance

[2022-11-29 14:30] devchris79 commented on #36547
You need PHP 8.1 for Magento 2.4.5:
https://experienceleague.adobe.com/docs/commerce-operations/installation-guide/system-requirements.html

[2022-11-29 15:10] stephenstephen commented on #36547
@devchris79
I went through php8.1 but the problem persists

![Capture d’écran du 2022-11-29 18-08-00](https://user-images.githubusercontent.com/34239158/204566202-e52a2d16-9ba1-4356-a8b3-e3eeca65ebd0.png)

![Capture d’écran du 2022-11-29 18-07-38](https://user-images.githubusercontent.com/34239158/204566241-90382990-ba71-44d0-821f-b6156606cfc5.png)

[2022-11-29 16:04] mohitnavik commented on #36507
Hi @engcom-Dash,

Can you please try with custom options? Please see the screenshot:

https://user-images.githubusercontent.com/41897612/203282312-990a783a-f4fd-445f-ac14-36e5216cb91c.png

[2022-11-29 17:19] engcom-November commented on #36549
Hi @Minirock ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance but no errors were observed with below steps performed:
**Steps performed:**
1. Configured PayPal Express Checkout payment with PayPal Pay Later enabled
2. Clear cache
3. Login to Front end and made payment with Paypal Paylater
4. Admin - Sales - Orders - Grid - Payment method displayed as

[2022-11-29 17:50] vDeggial commented on #33000
Hi there,
Any update on this? Or a workaround as our client needs this to work
We have version 2.4.4 of Magento and it is still broken

[2022-11-29 17:58] engcom-November commented on #36547
Hi @stephenstephen ,
Thank you for reporting and collaboration. Verified the behavior by installing Magento 2.4.5-p1 project-community-edition and the issue is not reproducible with PHP 8.1. As per Magento [system requirements](https://experienceleague.adobe.com/docs/commerce-operations/installation-guide/system-requirements.html), compatible/supported php version for magento 2.4.5-p1 is 8.1 and A

[2022-11-29 18:25] engcom-November commented on #36532
Hi @Axel29,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance and is reproducible for bundle products created with multiple options with Ship bundle Items set as "Separately" and is not reproducible for single option with multiple products.
As per magento [docs](https://docs.magento.com/user-guide/v2.3/marketing/price-rules-cart-create.html), Fixed am

[2022-11-30 00:56] missingno-io commented on #35501
I was having the same issue, couldn't figure out what in the world was going on... as soon as I updated `<render args="getOptions().template"/>` to: `<render args="getOptions().template"> </render>` it started to show the preview correctly...

[2022-11-30 04:15] adarshkhatri commented on #30474
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-11-30 04:43] engcom-Dash commented on #36508
Hi @Shaikh-Samir ,

We worked as per the documents...we got the same results
Here I attached the screenshots for your reference.
Magento version 2.4-develop
PHP 8.1
<img width="1512" alt="Screenshot 2022-11-30 at 9 03 35 AM" src="https://user-images.githubusercontent.com/60198592/204709190-47b20fa2-7d4d-40f4-b0c4-7ee44f02094b.png">
<img width="1512" alt="Screenshot 2022-11-30 at 9 03 41 AM" src="h

[2022-11-30 05:47] engcom-Bravo commented on #36528
@magento give me 2.4-develop instance

[2022-11-30 07:00] drabikowy commented on #36545
@magento give me 2.4.5 instance

[2022-11-30 07:36] engcom-November commented on #36112
Hi @arko-betersport ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance but the issue is not reproducible with below steps performed:
**Steps performed:**
1. Setup new [Relic account](https://newrelic.com/)
2. Enabled Cron for Magento 2.4-develop instance
3. Configured New Relic with Magento. (Stores - Configuration - General - New Relic Reporting)
4. Re

[2022-11-30 08:19] convenient commented on #36112
@engcom-November can you confirm that the Magento store configuration for new relic is disabled?

[2022-11-30 08:21] convenient commented on #36112
If you look at the breakdown of transaction names  on my pull request here #36436 you will see that graphql is the only one that requires you to have enabled the Magento module in store configuration.

Everything else only requires the PHP.ini configured

[2022-11-30 08:38] skeutmeier commented on #35329
I really don't think Magento wants us to use their product in production

[2022-11-30 08:55] engcom-Dash commented on #36473
@magento give me 2.4-develop instance

[2022-11-30 09:13] engcom-Bravo commented on #36528
Hi @ravi-chandra3197,

Thanks for your Update.

Verified the issue on Magento 2.4-develop instance and the issue is reproducible.Kindly refer the screenshots.

**Steps to reproduce**

1.Set SKU attribute 'use for promo rule conditions' true.
2.Add coupon code test with exclude product by SKU
3.Add few product in cart and apply coupon code.

`Cart Price Rule`

![Add-Promotions-Marketing-Magento-Adm

[2022-11-30 09:20] engcom-Bravo commented on #36522
Hi @soumiktuban,

Thanks for your update.

we have verified in magento `2.4 develop` branch.it is recommended to verify the issue on Magento 2.4-develop instance as it is an upcoming 2.4.x release and have latest code base.

Please let us know if you are still any issue.

Thanks.

[2022-11-30 09:30] nocturnalfrog commented on #35329
@skeutmeier
Which one of the 1.3K open tickets makes you think this?
Or are you maybe referring to one of the automatically closed issued?

[2022-11-30 09:32] skeutmeier commented on #35329
@nocturnalfrog lol, you are right.
I'm just frustated with Magento 2. Obviously it's too complex, even for the core devs themselves

[2022-11-30 09:48] engcom-November commented on #30861
Verified the issue on Magento 2.4-develop instance and the issue is reproducible for all the mutations in this [devdocs](https://developer.adobe.com/commerce/webapi/graphql/tutorials/checkout/add-product-to-cart/) but is not reproducible for mutations in this [devdocs](https://developer.adobe.com/commerce/webapi/graphql/schema/cart/mutations/add-products/) with / without "user_errors" given in the

[2022-11-30 09:56] engcom-November commented on #31194
Hi @RakeshJesadiya ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance and is reproducible. But however this is existing behavior of Magento as per Magento [devdocs](https://developer.adobe.com/commerce/webapi/graphql/schema/products/interfaces/types/downloadable/#downloadableproductsamples-attributes), currently UID attribute is not a supported one f

[2022-11-30 10:08] dphilipps commented on #35329
https://marketplace.magento.com/

Mobile menu dropdowns don't work!

Store proudly displays "Powered by Adobe Commerce 2.4.5-p1"

What more can you say.

[2022-11-30 10:37] tuyennn commented on #28161
@engcom-Hotel we confirmed the issue is no longer exist after disabling the mixing.
The issue could be replicated with Paypal Braintree and Guest checkout enabled.
While performing applying coupon the issue will occurred.

[2022-11-30 10:45] soumiktuban commented on #36522
Hi @engcom-Bravo

Thanks for the information.

Kindly share the release version of the above code fix and the estimated time to release.

Thanks.

[2022-11-30 10:46] engcom-November commented on #34648
Hi @fredden ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance and is reproducible. But however this is existing behavior of Magento as per Magento [Docs](https://docs.magento.com/user-guide/v2.3/system/index-management.html) screenshot. Existing behavior: Mode: "Update on Save" will be marked in Red and "Update by Schedule" in green for any indexers

[2022-11-30 11:00] engcom-Bravo commented on #35569
Hi @kolaente,

We are closing this issue as this is no more reproducible on clean Magento 2.4-develop instance with magepal / mailhog email setup even after several attempts.

Kindly recheck the issue on Magento 2.4-develop instance as per latest system [requirements](https://experienceleague.adobe.com/docs/commerce-operations/installation-guide/system-requirements.html) and check if any 3rd party

[2022-11-30 11:00] #35569 closed, assigned to engcom-Bravo

[2022-11-30 11:18] engcom-Bravo commented on #36522
Hello @soumiktuban,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-2567 by the internal team.
Related commits: https://github.com/magento/magento2/search?q=AC-2567&type=commits

Based on the Jira ticket, the target version is 2.4.6

Thanks.

[2022-11-30 11:18] #36522 closed, assigned to engcom-Bravo

[2022-11-30 12:18] engcom-Delta commented on #36020
Hi @leonhelmus,

The issue has been fixed in 12a9eacaf57baf1dbd71b22cbd9ada32f3ffa478, and is not reproducible in Magento2.4-develop now. Hence we are closing this issue.

Thanks

[2022-11-30 12:18] #36020 closed, assigned to nobody

[2022-11-30 15:21] Minirock commented on #36549
The error seems to come from this file `vendor/magento/module-paypal/etc/config.xml` . Did you check if the version and content was the same ?

To fix it on my own i had to extend the config and add the title

[code]

[2022-11-30 16:32] glo23503 commented on #35603
Internal team started working on the issue.

[2022-11-30 16:43] glo23503 commented on #35603
@magento I am working on this

[2022-11-30 17:41] chittima commented on #36255
New ticket was created and Internal team is actively working on it. We will provide merge commits once it is fixed.

[2022-11-30 20:23] cbtrident commented on #34811
can this case be reopen or do we need to open a new case as this is still happening and it making magento useless to use as people can not check stock

[2022-11-30 21:06] sippsolutions opened #36552 "Foreign key constaints cannot be updated if corresponding source column is updated within an Magento update"
### Preconditions and environment

- Magento version 2.4.3-p2
- A `db_schema.xml` with a column that has a foreign key reference to `sales_order`:`increment_id`
- Upgrade to Magento 2.4.5-p1

### Steps to reproduce

1. Install a Magento 2.4.3-p2 demo instance
2. Create a custom module with a `db_schema.xml` with this content:
[code]
3. Execute `bin/magento setup:upgrade`
4. Perform an upgrade to M