[2020-11-20 04:34] gwharton commented on #30993
A similar issue seems to apply to the radio boxes for payments and shipping. Sometimes they are not visible, but clicking on the text label causes them to appear.

[2020-11-20 04:48] tuyennn commented on #24681
@magento-engcom-team What is the current status of this ticket

[2020-11-20 06:35] srsathish92 commented on #28234
@sidolov Facing the same issue in 2.3.5-p2

[2020-11-20 08:22] DmitryFurs opened #30997 "Error while moving categories with partially matching path"
### Preconditions (*)

1. Magento 2.4-develop
2. Magento 2.3.x, 2.4.x

### Steps to reproduce (*)

1. You must have one category with _entity_id_=**134** and _url_path_=**1/2/134**
2. You must have a second category with _entity_id_=**1347** and _url_path_=**1/2/1347**
3. Try moving category **134** inside category **1347**
Send **PUT** request on `/V1/categories/{category_id}/move`

### Expected

[2020-11-20 10:04] magento-engcom-team commented on #30994
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39285` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-20 10:20] Christoph-AK opened #30998 "Bad performance in Salesrules -> Missing index"
(Magento 2.2.9 CE)

The table salesrule_coupon is missing an index over (is_primary, code).
That leads to bad performance in the backend, searching salesrule via unique codes.

Adding the index drops query time from 30+ seconds down to 0.01s. (Increases required disk space of the table by 30%, but I don't care about space.)

Query:
    SELECT COUNT(*) FROM `salesrule` AS `main_table` LEFT JOIN `sa

[2020-11-20 10:31] DmitryFurs commented on #27962
I also found 2 plugins in the commerce edition, and they are exactly the same

**vendor/magento/module-scalable-checkout/etc/di.xml**
[code]

**vendor/magento/module-scalable-oms/etc/di.xml**
[code]

[2020-11-20 10:46] gwharton commented on #30994
I think whats going on is that when either the "Validate VAT Number" link is clicked, or the "Customer Group" dropdown is changed, the forms content is refreshed and redrawn using the contents of the $quote object which will probably have empty address objects. However when either of these two events are triggers, the current contents of the form are not saved in the quote and are lost when it is

[2020-11-20 11:08] Eddcapone commented on #26031
I got a similar error:

"TypeError: Argument 2 passed to Magento\Framework\Stdlib\ArrayManager::set() must be of the type array, null given, called in /home/hausfuxde/relaunch.hausfux.de/vendor/magento/module-catalog-staging/Ui/DataProvider/Product/Form/Modifier/ScheduleDesignUpdate.php on line 64"

The problem is, that in the Attribute Set I removed the attributes for Scheduled Design...

[2020-11-20 11:11] ihor-sviziev commented on #27962
@DmitryFurs feel free to fill the separate issue in corresponding repository and / or create Pull Request

[2020-11-20 11:21] paul-uz commented on #29197
@adrian-martinez-interactiv4 So I am attempting to do a "test" build using Github Actions.

I am pulling donw my code, installing composer dependencies, and then trying to run `setup:install` as such...

[code]

What is strange is a get mixed results. Without `sudo` I get the Proxy does not exist error. With `sudo` I eventually hit DB errors, such as `SQLSTATE[HY000] [2002] No such file or directo

[2020-11-20 11:42] ihor-sviziev commented on #28914
Duplicates https://github.com/magento/magento2/issues/28363

[2020-11-20 11:43] ihor-sviziev commented on #28914
Hi @Eddcapone,
This issue duplicates https://github.com/magento/magento2/issues/28363, so I'm closing this issue.

[2020-11-20 11:43] #28914 closed, assigned to ihor-sviziev

[2020-11-20 12:03] DmitryFurs commented on #27962
@ihor-sviziev this applies to **commerce** edition. Is this the right place to create a issue?

[2020-11-20 12:05] engcom-Alfa commented on #30997
Hi @DmitryFurs.
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.
Everything works as expected.

### The first way

**Manual testing scenario:**

1. You must have one category with **entity_id=134** and **url_path=1/2/134**
2. You must have a second category with **entity_id=1347** and **url_path=1/2/1347**
`catalog_category_entity`
![Screenshot from 2020-11-20 13-58-07]

[2020-11-20 12:29] ihor-sviziev commented on #27962
@sidolov @gabrieldagama could you help with reporting issue to Commerce version?

[2020-11-20 12:30] gwharton commented on #30994
Is this the bug

reset_shipping is set true when the address field being modified is a billing address field, and Shipping is the same as Billing, or if the field being edited is a shipping address field. That makes sense.
https://github.com/magento/magento2/blob/2cf043303b61423eaaadc5a095b83bdcf6443a6b/app/code/Magento/Sales/view/adminhtml/web/order/create/scripts.js#L264-L271

But here, Whenever

[2020-11-20 12:40] gwharton commented on #30994
[code]

[2020-11-20 13:02] engcom-Alfa commented on #30960
Hi @KevinMurphy2 .
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop.
Export's functionality works as expected.

**Actual Result:** :heavy_check_mark: Export file was created

![2020-11-20_14-58](https://user-images.githubusercontent.com/51679138/99802875-22b3a800-2b41-11eb-88fe-4a380ffc0652.png)
The problem may be with additional modules related to exports.
So, we have to

[2020-11-20 13:02] #30960 closed, assigned to engcom-Alfa

[2020-11-20 13:07] bhaveshpp commented on #29797
After update, Magento 2.3.4 to Magento 2.4 and I was facing this issue.
Now the issue is solved after the update: https://github.com/magento/magento2/pull/29814/files
Thank you @gwharton

[2020-11-20 13:42] lbajsarowicz commented on #27962
@DmitryFurs As long as you are Magento partner, you are able to access:
- https://github.com/magento/partners-magento2ee
- https://github.com/magento/partners-magento2b2b

If you don't have access, working with Magento partner, please reach out to @magento/community-engineering-team

[2020-11-20 13:54] magento-engcom-team commented on #30909
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39290` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-20 13:59] ansari-krish commented on #30492
I am working on this issue

[2020-11-20 14:10] RonakParmar commented on #18057
Hello There,
Magento Version : 2.3.5-p2
I have converted dropdown attribute to text swatch and the admin swatch values were missing. It was showing "null" at product details page.

[2020-11-20 15:18] DmitryFurs commented on #30997
@engcom-Alfa sorry. when I wrote **under**, I meant **inside** so that the category path structure becomes **1/2/1347/134**

[2020-11-20 15:58] magento-engcom-team commented on #30830
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39291` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-20 16:48] xls2802 commented on #25872
@magento I am working on this

[2020-11-20 16:49] xls2802 commented on #25872
@magento add to contributors team

[2020-11-20 16:55] tim-breitenstein-it commented on #30804
Is it possible to fix this temporary with an custom module?

[2020-11-20 16:59] birdawn opened #30999 "Magento export products: I'm not able to download the .csv file"
### Magento 2.3.5 with cron job running

 Once I ask for export the products is prompt:  ✔️Message is added to queue, wait to get your file soon. Make sure your cron job is running to export the file.

Cron use to work properly, I guess one the file it is show at the bottom is ready to download. Well just I suppose is created. In the second image, show the file path but I can't find it.
Appreciate

[2020-11-20 17:15] JCinderella opened #31000 "Duplicate Order Entry"
### Preconditions (*)

1. 2.3.5-p1
2.

### Steps to reproduce (*)

1. When placing an order on the website, the customer never receives a confirmation that their order was successfully placed, so they click the "Place Order" button again. In reality, multiple orders are placed and their CC is charged multiple times.
2.

### Expected result (*)

1. After clicking the "Place Order" button, the scree

[2020-11-20 18:05] #24717 closed, assigned to engcom-Echo

[2020-11-20 18:05] #30685 closed, assigned to engcom-Golf

[2020-11-20 18:05] #9762 closed, assigned to engcom-Golf

[2020-11-20 18:28] dribblecastle commented on #22272
@tope316 I'm in the same situation.  We had the problem with 2.3.4 and also now 2.3.6.   Have you found any solutions since posting?

[2020-11-20 18:36] #30343 closed, assigned to nobody

[2020-11-20 18:38] magento-engcom-team commented on #30343
Hi @Hexmage.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-38460` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.2` release.

[2020-11-20 19:08] engcom-Delta commented on #30987
Hi @webgility-amazonapi thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: One credit memo in response:
[code]

If you'd like to update the issue, please reopen it.

[2020-11-20 19:08] #30987 closed, assigned to nobody

[2020-11-20 19:36] magento-engcom-team commented on #27861
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39292` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-20 20:15] engcom-Delta commented on #30366
Hi @an4rei thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
You could create your own email template with text/plain type and set it as default for order/account e-mail
![image](https://user-images.githubusercontent.com/51681379/99844507-da65ab80-2b7b-11eb-8d46-df712ce3e288.png)
![image](https://user-images.githubusercontent.com/51681379/998444

[2020-11-20 21:49] #31000 closed, assigned to nobody

[2020-11-21 10:08] moazzama commented on #30999
use PHP bin/magento deploy:mode:set developer
chmod -R 777 pub ; chmod -R 777 app ; chmod -R 777 var ; chmod -R 777 generated
then try it

[2020-11-21 10:13] milindsingh commented on #30980
@magento I am working on this

[2020-11-21 10:42] Cookster4444 commented on #25099
Exactly agree with the last statement. I have run into this issue with a fresh 2.3.4 install and need a fix. One should come from magento yes????

Anyway what would be the best fix changing the Image.php???? So I can move on

[2020-11-21 11:27] birdawn commented on #30999
@moazzama Thank you, it is safe set all this folders with this permissions or is just for try ?

[2020-11-21 13:18] alex-james commented on #25099
@Cookster4444 You are welcome to try my fix:  https://github.com/cogensoft-uk/magento-category-image-fix

[2020-11-21 15:05] udittakwani commented on #28067
Still not working in 2.4.1 any help?

[2020-11-21 15:09] Cookster4444 commented on #25099
Thanks Alex,

Is it just a case of changing the Image.php file and running
php bin/magento setup:static-content:deploy -f
Where does the etc file go??

[2020-11-21 15:12] alex-james commented on #25099
No you shouldn't be changing the core files, the link I posted is for a module that will add a workaround which leaves the core files intact but fixes the issue. Copy the Cogensoft folder under app/code and run setup:upgrade then you are good to go

[2020-11-21 15:14] Cookster4444 commented on #25099
Cheers will do

[2020-11-21 16:55] #30925 closed, assigned to nobody

[2020-11-21 18:58] moazzama commented on #30999
Just try only these folders
PHP bin/magento cron:run
PHP bin/magento deploy:mode:set developer
chmod -R 777 pub ; chmod -R 777 app ; chmod -R 777 var ; chmod -R 777 generated

[2020-11-21 21:42] Cookster4444 commented on #25099
Hi Alex,

Do you have a composer link as that doesn't seem to work putting in app/code

Cheers

Michael

On Sat, Nov 21, 2020 at 3:12 PM Alex Lancaster <notifications@github.com>
wrote:

[2020-11-22 07:58] m2-assistant[bot] opened #31004 "[Issue] Fix invalid country json on registration form"
This issue is automatically created based on existing pull request: magento/magento2#31002: Fix invalid country json on registration form

---------
PHP variables weren't being evaluated properly inside the javascript block

### Description (*)
The PHP variables that were being created were going unused and throwing an error for `apply.js getNodeData()`

### Manual testing scenarios (*)
1. Visit /

[2020-11-22 09:43] simonrl commented on #21218
Why has this issue been closed? Is this fixed in any version? Doesn't look as if it were.

[2020-11-22 10:05] alex-james commented on #25099
Apologies @Cookster4444 the github was missing the registration and module files, try now

[2020-11-22 15:44] magenx commented on #14881
2.4.1 - additional attributes **not** imported, in any way 👍

[2020-11-22 21:13] thomas-kl1 commented on #30722
If you need to start a project without tons of dependencies, you can use your own metapackage, e.g: https://github.com/thomas-kl1/magento2-base-light
This might be harder to upgrade because each dependency need to be check first, but ate least there is no "surprise packages"

[2020-11-22 23:03] briand617 opened #31006 "Cannot get fresh install pages to work unless --use-rewrites=0"
### Preconditions (*)

1.  2.4.0
2.

### Steps to reproduce (*)

1.  Fresh install on Ubuntu 20, Apache 2.4, MySQL 8, PHP 7.4 using "magento setup:install ... --use-rewrites=1"
2. Made sure to change the apache2.conf appropriately and that mod_rewrites was installed

### Expected result (*)

1. Expected to go to http://mydomain.com/Magento2/ and reach homepage
2. Expected to go to http://mydomain.

[2020-11-23 02:50] tuyennn commented on #23578
#6126

[2020-11-23 06:43] chiranjeevi-cj commented on #30994
@magento I am working on this.

[2020-11-23 07:32] vipin12117 commented on #22354
Order Item Status to Enable Downloads' set to Pending'" worked

[2020-11-23 07:49] frostblogNet opened #31007 "CMS Page saving fails with "The value specified in the URL Key field would generate a URL that already exists.""
### Preconditions (*)

1. 2.3.6
2. 2.4.1

Note: 2.4.0 is not affected.

### Steps to reproduce (*)

1. Create a magento installation with 2 storeview (f.e. uk, us)
2. Go to Stores -> Configuration -> General -> Web and set "Add Store Code to URls" to Yes
3. Go to Content -> Pages and Create a CMS Page with the identifier "privacy" in the scope of the uk storeview.
4. Now create a CMS Page with the

[2020-11-23 08:02] engcom-Alfa commented on #30999
Hi @birdawn . Thank you for your report.
Unfortunately, we are not able to reproduce the issue on clean 2.4-develop and on 2.4.1.

![Peek 2020-11-23 09-57](https://user-images.githubusercontent.com/51679138/99939280-63dece80-2d72-11eb-90af-f1fffe2d64ee.gif)

This may be due to a problem with permissions. Please take a look for [File systems access permissions](https://devdocs.magento.com/guides/v2

[2020-11-23 08:02] #30999 closed, assigned to engcom-Alfa

[2020-11-23 08:13] engcom-Bravo commented on #30188
Hello @IanFiretoys

Thank you for your report.

This issue is already fixed in the latest Magento 2.4-develop.

So we are closing this issue. Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thank you

[2020-11-23 08:13] #30188 closed, assigned to engcom-Bravo

[2020-11-23 08:15] engcom-Bravo commented on #27188
Hello @ferryzz

Thank you for your report.

This issue is already fixed in the latest Magento 2.4-develop.

So we are closing this issue. Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thank you

[2020-11-23 08:15] #27188 closed, assigned to engcom-Bravo

[2020-11-23 08:17] engcom-Bravo commented on #30748
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-11-23 08:17] #30748 closed, assigned to engcom-Bravo

[2020-11-23 08:52] engcom-Alfa commented on #31004
Duplicate of #30099

[2020-11-23 08:52] #31004 closed, assigned to joelataccelm

[2020-11-23 09:43] pixel-paul commented on #28472
This exists in 2.3.6.

[2020-11-23 10:51] titechnologies commented on #18812
Is this issue sorted in 2.3.5 ?

[2020-11-23 10:55] gwharton opened #31012 "lib-css .lib-message-icon-inner does not vertically align icon in the middle. Should it? Can it?"
### Preconditions (*)

1. magento 2.4-develop
1. Magento 2.4.1

### Steps to reproduce (*)

1. Add a page containing the following html

[code]

### Expected result (*)

1. The icon should be vertically aligned in the center.
![image](https://user-images.githubusercontent.com/30697781/99953647-790b2b80-2d79-11eb-854d-55cdb07135b1.png)

### Actual result (*)

1. The icon is aligned at the top.
![im

[2020-11-23 11:05] gwharton commented on #31012
I can achieve vertical aligning in my theme using

[code]
But should libcss support vertically aligning the icon through inbuilt mixins?

[2020-11-23 11:10] titechnologies commented on #18812
This one worked in 2.3.5-p1

[2020-11-23 11:39] engcom-Delta commented on #29260
This possibility should be discussed in the scope of **Feature Request**
For now POST endpoint for /V1/products/attributes/{attributeCode}/options does not provide possibility to create multiple options per request

[2020-11-23 11:47] 4ctobias opened #31014 "eMail-Template for orders: No order positions if template was not loaded from base template"
### Preconditions (*)
1. Magento 2.4.0 - issue also exists in 2.3.x

### Steps to reproduce (*)
1. Create a new email template for orders
2. Do NOT load a base template
3. Copy the subject line and the template body into the respective fields when creating the template
4. Save the new template
5. Select the template to be used as order confirmation mail

### Expected result (*)
1. When an order ma

[2020-11-23 12:05] devcccc commented on #31014
@magento give me 2.4-develop instance

[2020-11-23 12:27] magento-engcom-team commented on #31012
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39299` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-23 12:30] engcom-Delta commented on #29714
Hi @BarnyShergold thank you for your report. Seems like such behavior is not an issue
In admin panel we select store view when we want to change product price on additional website:
![image](https://user-images.githubusercontent.com/51681379/99961374-fdb87280-2d96-11eb-8d44-3e2b69ec796e.png)
As a result of changed product price in export scv file:
![Screenshot from 2020-11-23 14-25-46](https://use

[2020-11-23 12:32] devcccc commented on #31014
Unfortunately the test instance does not send emails - I didn't received a order confirmation mail, so its not possible to verify this issue with a test instance.

[2020-11-23 12:54] magento-engcom-team commented on #30993
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39301` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-23 13:05] IsmailYaman commented on #31014
Hi, I had the same problem with Magento 2.3.4. A temporary fix for this is to set in db table: email_template column is_legacy = 1 for the order template

[2020-11-23 13:07] 4ctobias commented on #31014
Hi Ismail,

I did this is also in the table directly - but this should not a solution for our customers which normally do net get direct access to the database - as they might crash something if they start to edit the tables directly ;)

Best

Tobias

[2020-11-23 13:14] engcom-Delta commented on #31006
Hi @briand617 thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Case 1:**
Install magento with `-use-rewrites=0`:
[code]
:heavy_check_mark: : Result on home page:
![image](https://user-images.githubusercontent.com/51681379/99963787-fa26ea80-2d9a-11eb-9dd1-c14b9d950b55.png)
:heavy_check_mark: Result on admin page:
![image](https://user-images.g

[2020-11-23 13:14] #31006 closed, assigned to nobody

[2020-11-23 13:19] NTK-2016 commented on #30702
Hello , please look into issue

[2020-11-23 13:42] engcom-Delta commented on #29813
Hi @nbhat705 thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop seems like this related to your custom modules.
Please refer to the corresponding extension owners(support) on the [Magento Market place](https://marketplace.magento.com/extensions.html) page

[2020-11-23 13:42] #29813 closed, assigned to nobody

[2020-11-23 14:46] engcom-Delta commented on #30116
Hi @d-consulting thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: Changes are applied after submit and after reload page
![#30116](https://user-images.githubusercontent.com/51681379/99975830-5eea4100-2dab-11eb-8abc-f24f852f87ad.gif)

[2020-11-23 14:46] #30116 closed, assigned to nobody

[2020-11-23 15:13] faca5 opened #31017 "$order = $this->quoteManagement->submit($order); Guest"
Hello.

I have created Payment module for Magento 2.4.0.

It works perfect for logged customers.

It doesn't work very well for guest customers.

It hang on submit().
[code]

Error:
`Fatal error: Out of memory (allocated 10051649536) (tried to allocate 262144 bytes) in /vendor/magento/zendframework1/library/Zend/Cache/Backend/File.php on line 907
`

Memory is not a problem!

Any idea?

[2020-11-23 15:36] briand617 commented on #31006
I will provide my exact steps to reproduce:

cd /var/www/html
git clone https://github.com/Magento/Magento2.git
cd Magento2
composer install
chmod -R 755 /var/www/html/Magento2/
chmod -R 777 /var/www/html/Magento2/var/
chmod -R 777 /var/www/html/Magento2/pub/
chmod -R 777 /var/www/html/Magento2/app/etc
chmod -R 777 /var/www/html/Magento2/generated
systemctl restart apache
<created database magento

[2020-11-23 16:05] engcom-Bravo commented on #31007
Hello @frostblogNet

Thank you for your report.

We are not able to reproduce the reported issue using the provided steps on Magento 2.4.1 and 2.4-develop

We have created two Store Views, _US_ and _UK_
![uk_us_views](https://user-images.githubusercontent.com/51680745/99983571-b0e39480-2db4-11eb-9493-12ab86cda591.png)
 and set **Add Store Code to Urls** to **Yes**
![add_store_code_yes](https://use

[2020-11-23 16:21] #30771 closed, assigned to engcom-Alfa

[2020-11-23 18:58] mrtuvn commented on #31012
if notices/warning with multiple line and long text i think it's fine. Ok it's can be vertical middle but imo it don't have to be vertical. I can show like default is fine
If we have warning/error with one line text ! icon will auto vertical align in one line

[2020-11-23 19:08] mrtuvn commented on #31012
Can you create PR for this ?

[2020-11-23 19:14] m2-assistant[bot] opened #31019 "[Issue] Update Api functional test install-config-mysql file template"
This issue is automatically created based on existing pull request: magento/magento2#30995: Update Api functional test install-config-mysql file template

---------
Elasticsearch config is required for 2.4 installation

The api functional tests install-config-mysql.php.dist file template is outdated without elasticsearch params which are required for magento installation in 2.4-develop. Added esse

[2020-11-23 19:36] nestormagento opened #31020 "Wrong Date Format in admin order grid when admin user is set to pt_BR (Brazilian Portuguese) locale"
### Preconditions (*)

1. Magento 2.4-develop
2. Magento 2.4.1
3. Admin User Locale set as Brazilian Portuguese
![30](https://user-images.githubusercontent.com/4307861/100006700-abcd1800-2da9-11eb-8164-153510f43da0.png)

### Steps to reproduce (*)
1. Create a Sample Order
2. Set the Interface Locale of the Admin to Brazilian Portuguese (Go to admin -> Account Settings)
3. Check the purchase date i

[2020-11-23 19:37] nestormagento commented on #31020
@magento give me 2.4-develop instance

[2020-11-23 19:38] jeromecx commented on #28089
I just reproduce the issue now on Magento 2.4.1. Also, enabling Magento_ConfigurableProduct solve the problem in the same way.

[2020-11-23 19:59] gwharton commented on #31012
I'm not really sure what the solution should be. It feels like the existing mixins should support center alignment somehow. This is from https://magento-devdocs.github.io/magento2-ui-library/messages.html

[code]
I notice that top and bottom can both be set to false. In this case, wouldn't it make sense for it to center itself? At the moment if top and bottom are set to false, it goes to the VERY

[2020-11-23 20:00] nestormagento commented on #31020
The issue is reproducible on the vanilla Magento instance

- Step 1 Set admin locale to Brazilian Portuguese
![teste2](https://user-images.githubusercontent.com/4307861/100009105-26e3fd80-2dad-11eb-867a-8eb418159e3f.png)

- Step 2 Check Purchase Date in admin order grid
<img width="319" alt="301" src="https://user-images.githubusercontent.com/4307861/100009175-41b67200-2dad-11eb-8c6a-0181c3be54a8.

[2020-11-23 20:00] gwharton commented on #31012
Oh hang on. I've got it.

@message-icon__top: 50%;
@message-icon__bottom: false;

Because the libcss applies a top margin of -(font-size/2) to the icon, it is shifted up by half its height, so by setting top to 50%, it centers it.

[2020-11-23 20:01] gwharton commented on #31012
I'll close this issue as the existing mixins DO actually support centering by setting top to 50%.

[2020-11-23 20:01] #31012 closed, assigned to nobody

[2020-11-23 20:03] magento-engcom-team commented on #31012
Hi @gwharton.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39299` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.2` release.

[2020-11-23 20:04] mrtuvn commented on #30564
Can we close this now ? Since my PR have denied by discussed Internal team

[2020-11-23 21:51] fredden commented on #24635
To reproduce using Docker:
[code]
This shows the error:

To fix, `allure-framework/allure-phpunit` should be upgraded to at least 1.3.1. This is an eventual dependency of `magento/magento2-functional-testing-framework`. See https://github.com/magento/magento2/issues/24635#issuecomment-566314746.

It's worth noting this isn't the only use of `GLOB_BRACE` within the codebase/dependency tree, but thi

[2020-11-24 05:48] chiranjeevi-cj commented on #30994
@magento give me 2.4-develop instance

[2020-11-24 06:53] bhaveshpp commented on #29936
## Magento 2.4
I am facing the same issue in my project.
The console is clear there is no error in the console
https://drive.google.com/file/d/1EEhxFnAlPUu_-4srQGkQOP_iVtlLxIm6/view

Did anyone found any solution to this issue?

Thank you.

[2020-11-24 06:55] bhaveshpp commented on #30286
## Magento 2.4
I am facing the same issue in my project.
The console is clear there is no error in the console
https://drive.google.com/file/d/1EEhxFnAlPUu_-4srQGkQOP_iVtlLxIm6/view

Did anyone found any solution to this issue?

Thank you.

[2020-11-24 06:56] pratikkamani opened #31023 "Error: Call to a member function getUrl() on null in /vendor/magento/module-catalog/view/frontend/templates/category/image.phtml:21"
### Preconditions (*)

1. Magento 2.4.1 (Upgraded from Magento 2.3.3)
2. Visit category page

### Steps to reproduce (*)

1. Upgrade the site from Magento 2.3.3 to Magento 2.4.1
2. Open the category listing page

### Expected result (*)

1. Need to display the category product.

### Actual result (*)

1.
![issue](https://user-images.githubusercontent.com/9292282/100058691-c78af980-2e4f-11eb-8093-d

[2020-11-24 07:01] pratikkamani opened #31024 "Error: Call to a member function shouldDisplayProductCountOnLayer() on null in /vendor/magento/module-layered-navigation/view/frontend/templates/layer/filter.phtml:21"
### Preconditions (*)

1. Magento 2.4.1 (Upgraded from Magento 2.3.3)
2. Visit category page

### Steps to reproduce (*)

1. Upgrade the site from Magento 2.3.3 to Magento 2.4.1
2. Open the category listing page

### Expected result (*)

1. Need to display the category product.

### Actual result (*)

1.
![issue](https://user-images.githubusercontent.com/9292282/100059351-ea69dd80-2e50-11eb-9b15-c

[2020-11-24 07:26] frostblogNet commented on #31007
@magento give me 2.4-develop instance

[2020-11-24 07:27] frostblogNet commented on #31007
Hello @engcom-Bravo  thanks for your quick response this is a bit strange. I will double check and will give you more information.

[2020-11-24 07:32] webkul-ajaysaini commented on #30486
Getting same issue after upgrading from Magento2.3.5 to Magento2.4.1

1 exception(s):
Exception #0 (InvalidArgumentException): Unable to serialize value. Error: Malformed UTF-8 characters, possibly incorrectly encoded

Exception #0 (InvalidArgumentException): Unable to serialize value. Error: Malformed UTF-8 characters, possibly incorrectly encoded
<pre>#1 Magento\ReCaptchaCustomer\Plugin\Block\Ac

[2020-11-24 08:03] ihor-sviziev commented on #31017
Hi @faca5,
Does this issue reproducing on empty magento installation?
If no - seems like the issue in the custom extension.

[2020-11-24 08:06] engcom-Alfa commented on #31023
Duplicate of #30753

[2020-11-24 08:06] #31023 closed, assigned to engcom-Alfa

[2020-11-24 08:13] mrtuvn commented on #29936
You can see pull request links above

[2020-11-24 08:29] tykvasergey commented on #30593
@magento I am working on this

[2020-11-24 08:33] engcom-Delta commented on #28135
Hi @scottbolasevich , I'm not able to reproduce issue by steps you described on clean 2.4-develop and elasticsearch 7.x
**Result:**
:heavy_check_mark: Search results are shown without errors
![image](https://user-images.githubusercontent.com/51681379/100068407-29436780-2e40-11eb-860e-f338fc5808b4.png)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guide

[2020-11-24 08:33] #28135 closed

[2020-11-24 08:45] webkul-ajaysaini commented on #30486
This issue comes because recaptcha module configuration values saved in  **core_config_data** table which can't be serialised.

Fix: Delete only public_key and private_key fields value.

[2020-11-24 09:02] engcom-Delta commented on #28370
Hi @SzabKel  I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**
1. Create additional store view:
![image](https://user-images.githubusercontent.com/51681379/100071276-87be1500-2e43-11eb-8a65-42a1606bf90e.png)
2. Create CMS page
3. Add a rewrite to the CMS Page for additional store view
![image](https://user-images.githubusercontent.com/51681379

[2020-11-24 09:02] #28370 closed, assigned to nobody

[2020-11-24 09:04] frostblogNet commented on #31007
Sorry I don`t know why but I also can not reproduce this issue again.

[2020-11-24 09:04] #31007 closed, assigned to engcom-Bravo

[2020-11-24 09:06] SzabKel commented on #28370
@engcom-Delta It only deletes the rewrites, if the use the "For CMS page" menu when you add the rewrites.
It is also possible this already got solved since I reported it.

[2020-11-24 09:12] pratikkamani commented on #31023
Thanks. This solution works for me https://github.com/magento/magento2/issues/30753#issuecomment-721432311

[2020-11-24 09:41] sergiy-v commented on #30251
@magento I am working on this

[2020-11-24 09:48] magento-engcom-team commented on #31020
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39325` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-24 10:31] x1cawa commented on #7815
I know I have old version but I have the same issue in version 2.1.18.
I have 2 shops (with different base urls in magento admin settings) and 4 views.
url1.com/store_code1
url1.com/store_code2
url2.com/store_code3
url2.com/store_code4
If I try to get them by those links it works fine but if I don't add store code the system thinks it is store_code1 with base url1 even I open url2.com (it redirect

[2020-11-24 10:41] engcom-Delta commented on #28478
Hi @Greko2017 thank you for your report, I'm not able to reproduce issue by [steps](https://github.com/magento/magento2/issues/28478#issuecomment-638106116) you described on clean 2.4-develop
**Manual testing scenario:**
- Install german language pack
- Magento mode is developer
- Open admin panel
- Navigate to `Stores > Configuration > General > Locale Options`
- Choose German(Germany) and click

[2020-11-24 10:41] #28478 closed, assigned to nobody

[2020-11-24 10:44] engcom-Delta commented on #28899
Hi @miguelaeh
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-11-24 10:44] #28899 closed, assigned to nobody

[2020-11-24 10:57] peterjaap commented on #26589
@MadonnaRagu run this in your project root to find 3rd party extensies that use `setAreaCode` to find the culprit;

`find vendor -type f | xargs grep setAreaCode | grep -v vendor/magento/`

[2020-11-24 11:05] MadonnaRagu commented on #26589
Thank you so much! )

[2020-11-24 11:13] engcom-Delta commented on #29259
Hi @bharanikonda thank you for your report.
And starting from `2.4.0` release, code related to this payment was removed from Magento code-base:
[Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html)

Could you refer to the corresponding extension owners(support) on the [Magento Market place](https://marketplace.magento.com/ex

[2020-11-24 11:14] engcom-Delta commented on #29259
Hi @bharanikonda thank you for your report.
And starting from `2.4.0` release, code related to this payment was removed from Magento code-base:
[Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html)

Could you refer to the corresponding extension owners(support) on the [Magento Market place](https://marketplace.magento.com/ex

[2020-11-24 11:26] engcom-Bravo commented on #30946
Hello @igorwulff

Thank you for your report

I'm getting this error on my installation
![rerformance_fixture_error](https://user-images.githubusercontent.com/51680745/100088249-7f240980-2e58-11eb-86ba-3176141a5297.png)

Is this the same error message you are experiencing?

Thank you

[2020-11-24 11:39] mudit-master commented on #13476
This issue is still happening. $_product->getFinalPrice(); is still not including the catalog product discount
environment Magento 2.3.4, does anyone know how to get the final discounted price?

[2020-11-24 12:15] NTK-2016 opened #31026 "Sku with dashed number is returning wrong result"
Hi ,
I have facing issue with dashed number sku issue eg: 9290810-1
here is my url of site https://m4.eyedev.net
![image](https://user-images.githubusercontent.com/24722367/100092772-a096ec80-2e7c-11eb-9483-066e68478712.png)

[2020-11-24 12:20] faca5 commented on #31017
Hello.

I have tested on Magento 2.4.0 with LUMA.

Command "$order = $this->quoteManagement->submit($order);" automatically redirect to home page.

Something is missing.

[code]

[2020-11-24 12:38] magento-engcom-team commented on #24581
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39328` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-24 12:55] fmsthird commented on #29334
Same issue, fresh local install Magento CE 2.4.1.

[2020-11-24 12:56] fmsthird commented on #29334
how to apply this fix?

[2020-11-24 12:57] anil1067 commented on #8624
I am also facing the same issue in Magento 2.3.4. Please let me know if there is any solution.

[2020-11-24 13:24] engcom-Bravo commented on #30801
We confirm that the issue is reproducible on the latest Magento 2.4-develop. Additional info from Engcom is added to the description

[2020-11-24 13:26] magento-engcom-team commented on #30801
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39329` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-24 13:46] makproductions commented on #11372
Please reopen this ticket, we're having this issue on m2.3.5-p1

[2020-11-24 13:50] faca5 commented on #31017
Error:
Customer Email address missing.

Email address is in the billing address?!

[2020-11-24 13:54] webkul-ajaysaini commented on #29872
This issue can be fixed by running the following commands.
bin/magento cron:remove
bin/magento cron:install

[2020-11-24 14:09] magento-engcom-team commented on #30997
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39330` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-24 14:32] ss-sabareesh opened #31027 "Magento 2.3.5 Export not working"
### Preconditions (*)

1. Magento version 2.3.5
2. More than 2 Lakh Products

### Steps to reproduce (*)

1. After clicking the continue button **"Message is added to the queue, wait to get your file soon"** but the csv is not displaying in the table also checked after an hour.
2. Also ran the CLI **bin/magento cron:run**
3. If I ran the CLI **bin/magento queue:consumers:start exportProcessor** I

[2020-11-24 14:34] sabareesh-warlock commented on #31027
give me 2.3.5-develop instance to replicate the issue

[2020-11-24 14:52] engcom-Bravo commented on #30712
The reported issue is reproducible on Magento 2.4.1

[2020-11-24 14:55] magento-engcom-team commented on #30712
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39331` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-24 14:59] ihor-sviziev commented on #31017
Hi @faca5,
I would suggest you to look at some example in other payment method, probably it will help you to understand what's wrong with your solution and why it doesn't work. If still you will not be able to detect it - you can use xdebug to debug your solution and compare it with any other payment method.

Hope I helped you

[2020-11-24 15:08] zakdma commented on #30251
@sergiy-v we are working on this task now.
Actually it on QA fase. Sorry for didn't assigned on our developer.

[2020-11-24 15:38] sivaschenko commented on #26349
@lbajsarowicz thanks for reporting this issue, `Console Error logs` have been added to the test results to handle it. See the test PR: https://github.com/magento/magento2/pull/31029

[2020-11-24 15:38] #26349 closed, assigned to nobody

[2020-11-24 16:29] danmooney2 commented on #30156
We are aware of this race condition issue and are working on it internally https://jira.corp.magento.com/browse/MC-39333

[2020-11-24 16:40] m2-assistant[bot] opened #31030 "[Issue] Simplified if-statement in AbstractResource."
This issue is automatically created based on existing pull request: magento/magento2#31028: Simplified if-statement in AbstractResource.

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)
Irrelevant.

### Manual testing scenarios (*)
None.

### Questions or comments

### Contribution checklist (*)
 - [x] Pull request has a meaningful description of its purpo

[2020-11-24 16:43] m2-assistant[bot] opened #31031 "[Issue] [WIP] Removed 'indexer:reindex', 'cache:flush' and AdminReindexAndFlushCache"
This issue is automatically created based on existing pull request: magento/magento2#31025: [WIP] Removed 'indexer:reindex', 'cache:flush' and AdminReindexAndFlushCache

---------
### Description
Remove 'indexer:reindex', 'cache:flush' commands and usage of AdminReindexAndFlushCache action group from tests to improve execution for the following modules:
- Bundle
- Catalog
- CatalogRule
- CatalogRu

[2020-11-24 16:46] m2-assistant[bot] opened #31032 "[Issue] Fix wrong format error DHL shipping label"
This issue is automatically created based on existing pull request: magento/magento2#31021: Fix wrong format error DHL shipping label

---------
Fix "The response is in wrong format." error while generating dhl shipping label. When product name has unicode characters substr() is sending � in <PieceContents> causing erros dhl syntax errors.

### Description (*)
DHL shipping.log produces error "Erro

[2020-11-24 16:48] m2-assistant[bot] opened #31033 "[Issue] [MFTF] Refactoring of AdminCreateOrderAddProductCheckboxTest"
This issue is automatically created based on existing pull request: magento/magento2#31016: [MFTF] Refactoring of AdminCreateOrderAddProductCheckboxTest

---------
### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)
1. Check a product to be added to the Order
2. Check if "Select" checkbox is checked in the Products Grid
3.

[2020-11-24 16:48] m2-assistant[bot] opened #31034 "[Issue] [MFTF] Adding AdminSetStockStatusActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31013: [MFTF] Adding AdminSetStockStatusActionGroup

---------
This PR provides new `AdminSetStockStatusActionGroup`

[2020-11-24 16:50] m2-assistant[bot] opened #31035 "[Issue] Validator Image: remove ico validation"
This issue is automatically created based on existing pull request: magento/magento2#31011: Validator Image: remove ico validation

---------
Validator Image: remove ico validation because imagecreatefromstring does not support ico file

Source: https://www.php.net/manual/en/function.imagecreatefromstring.php

### Description (*)
In Design configuration it's not possible to upload an ico file

###

[2020-11-24 17:02] m2-assistant[bot] opened #31036 "[Issue] [MFTF]: Refactoring of AdminCreateInvoiceTest"
This issue is automatically created based on existing pull request: magento/magento2#31009:  [MFTF]: Refactoring of AdminCreateInvoiceTest

---------
### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests
this is "reopen" for [30334](https://github.com/magento/magento2/pull/30334)

### Manual testing scenarios (*)
1. Create order via

[2020-11-24 17:03] m2-assistant[bot] opened #31037 "[Issue] $product is Product model or DataObject"
This issue is automatically created based on existing pull request: magento/magento2#31005: $product is Product model or DataObject

---------

### Description (*)

Updates the phpdoc to better reflect the potential object type.

\Magento\Catalog\Ui\Component\Listing\Columns\Thumbnail::prepareDataSource() is an example of where the first argument passed to \Magento\Catalog\Helper\Image::init() is

[2020-11-24 17:13] m2-assistant[bot] opened #31038 "[Issue] Allow to generate big number of customer on galera cluster"
This issue is automatically created based on existing pull request: magento/magento2#30990: Allow to generate big number of customer on galera cluster

---------

### Description (*)

### Manual testing scenarios (*)

1. Install magento on Galera cluster ( Magento  Cloud Pro for example )
2. create profile that have 10M customer
3. run `bin/magento s:p:g path/to_custom_profile`

### Contribution c

[2020-11-24 17:13] m2-assistant[bot] opened #31039 "[Issue] [MFTF] Adding AdminFillAccountInformationOnCreateOrderPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30986: [MFTF] Adding AdminFillAccountInformationOnCreateOrderPageActionGroup

---------
This PR provides new `AdminFillAccountInformationOnCreateOrderPageActionGroup`

[2020-11-24 17:15] m2-assistant[bot] opened #31040 "[Issue] Add regions for Albania,Denmark,Greece,Iceland,Portugal and Sweden"
This issue is automatically created based on existing pull request: magento/magento2#30959: Add regions for Albania,Denmark,Greece,Iceland,Portugal and Sweden

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. Install Magento
2. Check table directory_country_region for Albania,De

[2020-11-24 17:17] m2-assistant[bot] opened #31041 "[Issue] magento/partners-magento2b2b#370: determine mftf coverage in the Company, CompanyCredit, CompanyPayment, CompanyShipping, & ConfigurableSharedCatalog Modules"
This issue is automatically created based on existing pull request: magento/magento2#30957: magento/partners-magento2b2b#370: determine mftf coverage in the Company, CompanyCredit, CompanyPayment, CompanyShipping, & ConfigurableSharedCatalog Modules

---------

### Description (*)

### Related Pull Requests
https://github.com/magento/partners-magento2ee/pull/420
https://github.com/magento/partners

[2020-11-24 17:25] m2-assistant[bot] opened #31042 "[Issue] Allow backend login without redirect"
This issue is automatically created based on existing pull request: magento/magento2#30950: Allow backend login without redirect

---------

### Description (*)
Magento 2.4-develop
Currently, when accessing a backend page via a direct URL as a logged out admin, the admin is redirected to `<backend-url>/admin` to log in. After logging in, they are redirected to the admin dashboard (or whatever page

[2020-11-24 17:28] zigojacko opened #31043 "Elastic Search interferes with the default sort order of products (changing newest first to oldest first)"
### Preconditions (*)
1. Magento 2.4-develop
2. 2.3.5-p1 is all I have tested this in so far.

### Steps to reproduce (*)
- Create a category in Magento with several products in it, all have the position in the category set to the value 1
![image](https://user-images.githubusercontent.com/51681379/106890207-a9fcca80-66f1-11eb-8c0a-3b6f625e27d0.png)

- Go to category page

### Expected result (*)
1

[2020-11-24 18:57] jordanelbaz commented on #23517
Hello,

I have a similar issue, when i try to run customer:hash:upgrade i got this error :

In Address.php line 108:

  "Phone Number" is a required value.

![image](https://user-images.githubusercontent.com/12926641/100139041-2c197900-2e8f-11eb-8421-919569f49ba6.png)

does someone has the same issue ?

Regards,

[2020-11-24 19:16] engcom-Delta commented on #29882
Hi @Eddcapone thank you for your report, I'm not able to reproduce issue by steps you described on clean Magento EE 2.4-develop
**Result:**
![Screenshot from 2020-11-24 21-16-05](https://user-images.githubusercontent.com/51681379/100140926-4c9b0080-2e9a-11eb-9e17-7114ff093eee.png)

Could you provide additional steps? Do you use redis for the Magento page and default cache?

[2020-11-24 19:17] engcom-Delta commented on #29882
Hi @Eddcapone thank you for your report, I'm not able to reproduce issue by steps you described on clean Magento EE 2.4-develop
**Result:**
![Screenshot from 2020-11-24 21-16-05](https://user-images.githubusercontent.com/51681379/100140926-4c9b0080-2e9a-11eb-9e17-7114ff093eee.png)

Could you provide additional steps? Do you use redis for the Magento page and default cache?

[2020-11-24 19:17] moranotcsos commented on #8777
@magento give me 2.3.6-develop instance

[2020-11-24 20:34] magento-engcom-team commented on #26738
Hi @AndrewBarnhart, @lenaorobei, @shikhamis11, @prabhuram93.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-32120` was closed as `Fixed`. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [80a321de0c054ef546478e2b741d6eb1ddb4a78e](https://github.com/magento/magento2/commit/80a321de0c054ef546478e2b741d6eb1ddb4a78e)
 - [8

[2020-11-24 22:10] diegoyane opened #31044 "Please enter a valid URL. Protocol (http://, https://) is required."
I have an issue on my custom module in Magento ver. 2.3.2-p2.

This issue appears when I put the url api on the box "API Endpoint".

Things to know:

- The API works well I already tested on Postman

- The API user and the API toker also are correct.

Im adding the configuration on the custome module.

![Issue report](https://user-images.githubusercontent.com/74992149/100156949-6a06a500-2e6f-11eb-

[2020-11-24 22:15] bubasuma commented on #29544
Internal Magento team is working on this issue right now.

[2020-11-24 23:04] birdawn commented on #30999
@engcom-Alfa engcom-Alfa Thank you very much, Magento can't access to some folders and files because permissions and group was incorrect, the owner of this files was root, I guess the administrator of hosting did something wrong.
Already I ask for change the permissions to Magento user and everything works.

Thank you very much to all people who reply and try to help me in this issue.
I would like

[2020-11-24 23:43] pmcnamaracpc commented on #8777
@magento give me 2.4-develop instance

[2020-11-24 23:57] pmcnamaracpc commented on #8777
Not sure about those reports of this not being addressed on 2.3, but this works on 2.4-develop

01. Setup these addresses on a customer:
![01_Setup Addresses](https://user-images.githubusercontent.com/61755260/100164775-95e15500-2e86-11eb-81cd-a623ad5955dd.png)
02. Entered shipping step, shipping address is preselected as intended.
![02_enter_shipping_step](https://user-images.githubusercontent.co

[2020-11-25 04:28] SyedWaqasNabi commented on #28182
Hi I am facing similar issue . Is there any solution available for this?

[2020-11-25 04:34] joinso commented on #8538
Hi!

We see the same error on Order Grid in Magento 2.3.5

Regards,
JOINSO

[2020-11-25 04:54] ajaysingh-webkul opened #31046 "Issue with Zero Checkout Subtotal Magento2.4"
**Magento version**
Magento2.4.1

**Step To Reproduce**

1 Please Set Zero Subtotal checkout new order status to Processing ( https://imgur.com/a/mrJQyTN )
2.create a virtual Product with Price 0
3.then add to cart that product and place an order with a total of 0
4. then check order status in admin orders grid ( https://imgur.com/a/syfqkkX )

**Actual Result:-**
Order Status is closed
**Expected

[2020-11-25 05:46] ajijshekh123 commented on #31046
@magento give me 2.4-develop instance

[2020-11-25 06:25] sergiy-v commented on #30251
@zakdma thanks for the info.

[2020-11-25 07:03] ajijshekh123 commented on #31046
Hi @ajaysingh-webkul,
I have verified this issue as per your steps to be reproduced, actual result and expected result.
Currently, After placing the order with Zero Subtotal amount, It is showing "Complete" order status instead of "Processing" order status.

**Admin Configuration screenshot:**

![image](https://user-images.githubusercontent.com/24711761/100193622-29b03100-2f1a-11eb-8bc9-fab4e33744

[2020-11-25 07:04] magento-engcom-team commented on #31046
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39355` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-25 07:28] krishprakash commented on #30905
Hi @sergey-ctrl, Feel free to reopen the issue once you confirm that issue reproduce on 2.4-develop instance
Thanks!!

[2020-11-25 07:28] #30905 closed, assigned to krishprakash

[2020-11-25 07:30] engcom-Alfa commented on #31044
Hi @diegoyane . Thank you for your report. Your issue is connected with your custom module.

The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-11-25 07:30] #31044 closed, assigned to engcom-Alfa

[2020-11-25 07:43] mmezhensky commented on #30220
Hello @paulappelbe
I can't reproduce this now. Changing QTY via GraphQL, for all cases, works well for me.
Could you give more detailed steps to reproduce this issue?
Thank you!

[2020-11-25 07:48] mateuszrusiecki commented on #23645
seriously it's not fixed yet!? why am I surprised...

[2020-11-25 07:59] engcom-Delta commented on #31014
Hi @4ctobias thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**
- Go to Marketing->Emails Template
- Create a new email template for orders
- Do NOT load a base template
- Copy Template Subject and Template Content from default order confirmation template
![image](https://user-images.githubusercontent.com/51681379/100

[2020-11-25 08:04] zakdma commented on #30251
@magento i am working on it

[2020-11-25 08:05] zakdma commented on #30251
@magento add to contributors team

[2020-11-25 08:05] zakdma commented on #30251
@magento i am working on it

[2020-11-25 08:27] zakdma commented on #30909
@magento i am working on it

[2020-11-25 08:32] engcom-Hotel commented on #28591
Hello @rafaelstz ,
Closing the issue due to inactivity. Feel free to reopen it if you can provide any additional information to reproduce the issue.

[2020-11-25 08:32] #28591 closed, assigned to engcom-Hotel

[2020-11-25 08:34] engcom-Delta commented on #30979
Hi @adarshkhatri  I'm not able to reproduce issue by steps you described on clean 2.4-develop with [Elasticsearch 7.6.x](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html#elasticsearch)
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Elasticsearch/Elasticsearch5/SearchAdapter/Aggregation/Interval.php is not used by elasticsearch7 and issue should no

[2020-11-25 08:34] #30979 closed, assigned to nobody

[2020-11-25 08:45] aligent-lturner commented on #30909
@zakdma there is already an approved PR for this issue.

[2020-11-25 08:54] zakdma commented on #30909
@aligent-lturner ok
Please assign it to issue

[2020-11-25 09:01] aligent-lturner commented on #30909
@zakdma it was referenced - for some reason the bot removed the pr in progress tag.
https://github.com/magento/magento2/pull/30910

[2020-11-25 09:06] krishprakash commented on #31026
@magento give me 2.4-develop instance

[2020-11-25 09:09] scott-xigen commented on #26184
What if we're using a third party search like Algolia or Klevu, rather the Elasticsearch, which means we have to have Elasticsearch turned off to work?

[2020-11-25 09:14] fmsthird commented on #28302
I have Elastic configured but still installation of sample data fails.

[2020-11-25 09:18] krishprakash commented on #31026
Hi @NTK-2016.
Can you please explain the issue with all the details like which search engine you are using
Thanks!!

[2020-11-25 09:20] dnahirna opened #31049 "Configurable product SKU is displayed instead of simple product SKU in Requisition Lists"
### Preconditions (*)
1. Magento ver. 2.4.0 with sample data is installed.
2. Requisition List feature is enabled.

### Steps to reproduce (*)
1. Open PDP with a configurable product and select some color, size etc
2. Add this product to Requisition List
3. Go to Requisition List and look at added product -> SKU field

### Expected result (*)
Correct product SKU is displayed in Requisition List (S

[2020-11-25 09:44] melnickforever commented on #29886
Do you have any update for this issue ?

[2020-11-25 09:53] engcom-Alfa commented on #31027
Hi @sabareesh-warlock .
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop. Everything works as expected.

**Manual testing scenario:**

**_Note:_** Tested with 200000 products

1. Run the CLI **bin/magento queue:consumers:start exportProcessor**
2. Go to Admin -> System -> Export

-  Entyty Type = Products

3. Click on the **Continue** button

"**Message is added to the q

[2020-11-25 09:53] #31027 closed, assigned to engcom-Alfa

[2020-11-25 09:54] mobeen-sarwar opened #31050 "Translation issue in admin grid on different locales"
**Preconditions (*)**

1- Magento 2.3.4-p2
2- Magento 2.3.5-p2
3- Translations for at least two locales

**Assumptions(*)**
1- We are assuming that we have three locales English, Japanese, and Korean, with translations.
![image](https://user-images.githubusercontent.com/75013004/100209604-e6f75480-2f2b-11eb-9f21-53d9a3308cab.png)
2- Make sure we have added translations for this path  `Admin->Sales

[2020-11-25 10:00] mobeen-sarwar commented on #31050
@ajijshekh123

[2020-11-25 10:34] Scarbous opened #31051 "validate-date-range not working with diffenrent Languages and Date Formats."
https://github.com/magento/magento2/blob/f55f4117d2a87e5a29efd58fbb14fb4c4cd60bee/lib/web/mage/validation.js#L1055

The validator "validate-date-range" dosn't care about the date-format.

[2020-11-25 10:41] RetroModernDev opened #31052 "Free shipping delivery method does not work as expected with GraphQL"
### Preconditions (*)

Magento version: 2.4.0

### Steps to reproduce (*)

1. Log-in to admin panel
2. Go to configuration -> sales -> delivery methods
3. Enable Free shipping delivery method
4. Set Minimum Order Amount to 100
5. Use GraphQl query like this to fetch data about available shipping methods:
[code]

### Expected result (*)

1. If the order total of the cart is less than 100, the resul

[2020-11-25 11:02] sabareesh-warlock commented on #31027
@engcom-Alfa **bin/magento queue:consumers:start exportProcessor** when run this command i got the out put as killed can you suggest any reason .

![image](https://user-images.githubusercontent.com/68388960/100219319-d5b64400-2f3b-11eb-931f-80a56039cd37.png)

[2020-11-25 11:07] domi-nique commented on #26484
We have exactly the same problem at the moment - but we are not using the API, we used the Import functionality and now... all our products are a huge mess and when saving a field in a store view, sometimes all the translations are kicked out without noticing.
This bug is not Low Priority... This should be critical. Multistore Setup with Magento 2 is impossible with this bug.

[2020-11-25 11:10] tuyennn commented on #17955
MAGETWO-94202: Video is displayed as image and can't be played

[code]

[2020-11-25 11:14] engcom-Bravo commented on #30486
Hello @in-session

Thank you for your report

We could reproduce the reported issue, by configuring reCAPTCHA on Magento 2.3.5-p2 and Upgrading the instance to 2.4.1

Additional info from Engcom is added to the description

[2020-11-25 11:17] magento-engcom-team commented on #30486
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39356` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-25 11:48] engcom-Alfa commented on #28626
Hi @wadrajab .
I'm closing this issue due to inactivity.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-11-25 11:48] #28626 closed, assigned to engcom-Alfa

[2020-11-25 12:37] JoaoFerreiraEla commented on #25483
I'm facing the same issue, can you show me how you achieved this please?

Thanks in advance !

[2020-11-25 12:40] Lee-Sussy opened #31054 "Payment Methods stopped showing on checkout"
### Preconditions (*)

1. Version 2.2.7
2. Checkout page when product added to cart.  also in individual product pages, the PayPal express checkout is no longer showing.

### Steps to reproduce (*)

1. Add product to cart, go to checkout.  Payment method not available.
2.

### Expected result (*)

1. There should be an option to input card details or select PayPal express checkout.
2.

### Actual

[2020-11-25 13:07] ajijshekh123 commented on #30769
@magento give me 2.4-develop instance

[2020-11-25 13:37] lbajsarowicz commented on #26484
@domi-nique I tried to resolve the issue several times, but significant resources are necessary to solve it. If it is critical for you - you can assign your resources to resolve it - at least partially.

[2020-11-25 13:53] engcom-Alfa commented on #31050
Hi @mobeen-sarwar .

Unfortunatelly, we are not able to reproduce this issue on fresh 2.4-develop.
Everything works as expected.

**Actual Result:**

:heavy_check_mark: Japanese Language

![Screenshot from 2020-11-25 15-10-15](https://user-images.githubusercontent.com/51679138/100235804-85d47e80-2f35-11eb-9172-48d149d9860c.png)

:heavy_check_mark: Korean Language

![Screenshot from 2020-11-25 15-4

[2020-11-25 13:53] #31050 closed, assigned to engcom-Alfa

[2020-11-25 14:07] mobeen-sarwar commented on #31050
Hi @engcom-Alfa

Thanks for your humble responce. I already checked it on Magento 2.4 and found no issue there. I'm facing this issue on Magento 2.3.4-p2 and Magento 2.3.5-p2. So I'm looking a fix for Magento 2.3.4-p2 version.

Many thanks for your instant response.

[2020-11-25 14:24] ajijshekh123 commented on #30769
Hi @SalesFC,
I have verified this issue as per your steps to be reproduced, actual result and expected result.
The "Buy 1 Get 1" rule is not applied to the selected category.
See attached the screenshot:

![image](https://user-images.githubusercontent.com/24711761/100239825-dd83e180-2f57-11eb-8bc1-73fcdfa33f3e.png)

![image](https://user-images.githubusercontent.com/24711761/100239875-ed032a80-2f5

[2020-11-25 14:25] magento-engcom-team commented on #30769
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39357` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-25 14:28] engcom-Alfa commented on #31054
Hi @Lee-Sussy .

Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.

**Actual Result:** All included payment methods are displayed on checkout pages

_mini-cart_
![Screenshot from 2020-11-25 16-22-31](https://user-images.githubusercontent.com/51679138/100240039-c682c680-2f3a-11eb-9a96-03146bd339a6.png)

_shopping cart_
![Screenshot from 2020-11-25 16-22-44](https://user-i

[2020-11-25 14:28] #31054 closed, assigned to engcom-Alfa

[2020-11-25 14:31] m2-assistant[bot] opened #31056 "[Issue] Removed 'cache:flush' command from tests"
This issue is automatically created based on existing pull request: magento/magento2#30996: Removed 'cache:flush' command from tests

---------
### Description
Remove 'cache:flush' command from tests to improve execution time for the following modules:
- Catalog
- CatalogUrlRewrite
- LoginAsCustomer

[2020-11-25 14:37] igorwulff commented on #30946
Hi @engcom-Bravo I had no issue in the FixtureConfig or any I/O warnings... perhaps an issue on your installation only?

My issue was an error during customer generation:
`The entity ID field for the "customer_address_entity_varchar" table wasn't found. Verify the field and try again.`

[2020-11-25 14:50] alok0590 commented on #25427
This Actually worked for me, Thank You. :)

[2020-11-25 14:58] adrian-martinez-interactiv4 commented on #29197
Since Proxy does not exist error only happens without sudo, it looks like a permissions issue. I don't know how Github Actions manages users and permissions, but I'd check the following:
- Seems quite improbable for Github Actions, but ensure no actions are being performed using that repository code with another user than current, (i.e. web requests, cron execution, others), that may generate file

[2020-11-25 15:01] mrtuvn commented on #30798
@magento create issue

[2020-11-25 15:09] paul-uz commented on #29197
@adrian-martinez-interactiv4 I am happy enough to use `sudo` but like i mentioned, I end up getting sporadic results when `setup:install` hits the DB creation step. For the time being, I have given up trying to run `setup:install` and instead I am just running `setup:di:compile` and `setup:static-content:deploy` to check it will build OK

[2020-11-25 15:17] engcom-Delta commented on #30966
Hi @DanielIconate  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: Correct images are shown on different store view on catalog and product detail pages
![Peek 2020-11-25 17-03](https://user-images.githubusercontent.com/51681379/100246268-98ed4b80-2f41-11eb-84dc-78774a83b844.gif)

If you'd like to update the issue

[2020-11-25 15:17] #30966 closed, assigned to nobody

[2020-11-25 15:49] bohdan-berezhniy opened #31059 "issue with dynamicRows component"
### Preconditions (*)

1. Magento 2.4-develop
2. Magento  2.3.4-p2
3. Sample Data

### Steps to reproduce (*)

1.Go to Admin -> Catalog -> Product;
2. Chose any product and go to edit form;
3. Go to Related Products, Up-Sells, and Cross-Sells section.
4. Add more than 70 product to Up-Sell or Related products
5. Save the product.
6. Go to the Related Products, Up-Sells, and Cross-Sells section and

[2020-11-25 16:11] maghamed commented on #30798
[code]

Why do you say that batch size is hardcoded? From what I see
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/CatalogSearch/Model/Indexer/Fulltext/Action/Full.php#L247
batch size is passed via constructor argument, which means that it could be easily overwritten via DI.xml configuration.

Moreover, we have similar configuration `antiGapMultiplier` in DataProvider as we

[2020-11-25 16:36] bricht opened #31061 "catalog_product_relation is unsuitable for mview."
### Summary (*)
I am trying to implement a custom indexer for 'Product Variants' as a part of these projects:
https://github.com/magento/catalog-storefront/ and https://github.com/magento/commerce-data-export

This indexer contains data on product variants / product relations.
In order to efficiently trigger a reindex in 'Update on Schedule' mode, I need to add an mview subscription to catalog_pro

[2020-11-25 19:07] Litiano commented on #31020
@nestormagento see #31062

[2020-11-25 19:47] JosephLeedy commented on #28961
I just ran into this issue myself. To reproduce it, install Xdebug 3 on PHP 7.3 or 7.4 with Magento 2.4 and MFTF 3.1.1 and run any `bin/magento` command. It's also breaking PHPCS in PhpStorm.

[2020-11-25 20:16] SchranzKatharina opened #31063 "Order remains in status 'processing' after shipping, if items get partially refunded"
We have the following problem: If an article is partially refunded (the rest of the ordered amount is sent) - the status of the order remains in the status 'processing' after shipping.

### Preconditions (*)

1. Magento 2.4.1 & 2.4-develop

### Steps to reproduce (*)

1. Create an order with multiple items ordered.
2. From the admin, create an invoice for the order.
3. From the admin, create a cre

[2020-11-25 20:17] SchranzKatharina commented on #31063
@magento give me 2.4-develop instance

[2020-11-25 21:22] nimbus2300 commented on #10049
Works for me - a lot of crying before I found this solution.

[2020-11-25 22:32] SchranzKatharina commented on #31063
I could recreate it with the steps mentioned above on this Magento Instance - be sure to not refund one whole item, but just a partial amount of it (We sell fabrics by the meter, not just whole units).

[2020-11-26 00:02] mrtuvn commented on #30166
good catch

[2020-11-26 01:13] dsal94 opened #31064 "URL Rewrite not working"
Hi,

I've been trying to create a custom URL rewrite on Magento 2.

The store URLs are currently showing in the format kadro_store/store/view/id/1/, and I'm trying to create a permanent redirect to a "cleaner", more SEO-friendly URL. I've enabled web server rewrites in the Admin -> Configuration, but there when I navigate to the kadro_store/store/view/id/1/ URL, nothing is happening.

Any ideas of

[2020-11-26 02:31] mrtuvn commented on #30798
Can we have config set batch size via admin ?

[2020-11-26 04:37] nestormagento commented on #31020
@Litiano Thanks a lot, that worked for me!

[2020-11-26 06:28] aneesahmadweb commented on #4432
In my Case i just change the URL to
/rest/V1/integration/customer/token
and its working fine now.
Remove "all" from url

[2020-11-26 06:29] aneesahmadweb commented on #4432
Remove all from URL

[2020-11-26 07:01] advancedngwarati commented on #25947
Hi @engcom-Echo, I'm having the same issue. I'm using Magento 2.3.2. Check the screenshot below, same Magento command and error.

![Screenshot 2020-11-26 at 08 57 04](https://user-images.githubusercontent.com/45203079/100317911-d0054080-2fc5-11eb-91d1-8c8a9191e197.png)

[2020-11-26 08:23] engcom-Delta commented on #30962
Hi @mhafizumer thank you for your report, I'm not able to reproduce issue by steps you described
Magento was upgraded from 2.3.6 to 2.4.1 according [Upgrade Magento](https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html) documentation
**Result:**
:heavy_check_mark: Customer subscribes to newsletter without errors
![Screenshot from 2020-11-26 10-07-42](https://user-images.githubuser

[2020-11-26 08:28] engcom-Delta commented on #30962
Hi @mhafizumer thank you for your report, I'm not able to reproduce issue by steps you described
Magento was upgraded from 2.3.6 (php7.3) to 2.4.1(php7.3) according [Upgrade Magento](https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html) documentation. Also was checked newsletter subscribe and create customer account with php7.4 after magento upgrade
**Result:**
:heavy_check_mark:

[2020-11-26 08:28] #30962 closed, assigned to nobody

[2020-11-26 09:15] monak83 commented on #13149
problem exists yet on Magento 2.3.6. Any ideas to solve?
![paypal_issue](https://user-images.githubusercontent.com/8915414/100331318-4c048600-2fd0-11eb-93cd-36f0feec740f.jpg)

[2020-11-26 09:20] monak83 commented on #5873
under Magento 2.3.6 problem exists yet. This is a very big bug!!! Any ideas?
![paypal_issue](https://user-images.githubusercontent.com/8915414/100331894-00061100-2fd1-11eb-9b72-a900c648551e.jpg)

[2020-11-26 09:33] engcom-Alfa commented on #28080
Hi @matthew99 .
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.
Everything works as expected.

Configured Varnish correctly (hit reported)

**Actual Result:** :heavy_check_mark: Different languages ​​did not load on refreshes

![Peek 2020-11-26 11-22](https://user-images.githubusercontent.com/51679138/100332607-4449df00-2fda-11eb-8464-51773d4114f4.gif)

So, we have to

[2020-11-26 09:33] #28080 closed, assigned to engcom-Alfa

[2020-11-26 09:33] korovitskyi commented on #30921
@magento I am working on this

[2020-11-26 09:39] korovitskyi commented on #30921
@magento add to contributors team

[2020-11-26 09:40] korovitskyi commented on #30921
@magento I am working on this

[2020-11-26 09:45] qsolutions-pl commented on #30575
This issue is also related to an `upgrade`:
2.3.4 -> 2.4.0
2.3.5 -> 2.4.0
2.3.6 -> 2.4.0
and the same with upgrade to 2.4.1

[2020-11-26 09:48] qsolutions-pl commented on #30798
@mrtuvn  this should not be set in admin anywhere, simply to say this is a background task and admin user should not have an option to change it. If you give such option to a customer with admin access there is 100% chance that they will set such number to high and they will hit MySQL / memory limits and break indexing even more.

[2020-11-26 09:52] qsolutions-pl commented on #30798
@maghamed what do you call this?
![image](https://user-images.githubusercontent.com/4256191/100335279-1910c100-2fd5-11eb-9a8b-6afa4d6d67da.png)
Maybe you (or the core team) fixed in 2.4.1 - I will know it once I have free time to check this.
However if you did change it: why it was not mentioned in release notes?
### This is a critical issue which basically breaks entire store.
Or there is more si

[2020-11-26 09:54] ihor-sviziev commented on #30575
@qsolutions-pl FYI we added info that `psr` extension causing issue to the docs:
https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

[2020-11-26 09:55] deepakgupta28 commented on #29248
Hi Team,

any update on this issue its brantree vault issue appear in 2.4.1.

thanks

[2020-11-26 10:00] Georgian commented on #13823
Same issue on 2.3.5-p1 with php 7.3.24, and no ElasticSearch.

More details here: https://magento.stackexchange.com/questions/326998/fulltext-search-throws-the-bucket-doesnt-exist

[2020-11-26 10:25] qsolutions-pl commented on #30798
@maghamed
I've checked 2.4.1 code and guess what:
### bug is still there

This should not be solved by `di.xml` because you have to do it per project basically what you can do with dependency injection here is to change `batch` size and `antiGapMultiplier`

so lets look at examples:
* batch size: 500, antiGap: 5 --> if gap between IDs is `> 2500` indexers will fail
* batch size: 1500, antiGap: 5 -

[2020-11-26 10:50] sivaschenko commented on #30492
@ansari-krish please use `@magento I am working on this` comment exactly to self-assign to an issue

[2020-11-26 10:56] vpashovski opened #31068 "Convert attribute codes for setters and getters issue when number in code exists"
### Preconditions (*)

1. Magento 2.3.5

### Steps to reproduce (*)

1. Create product/category attribute with number in the code. For example use this attribute code `title_h1`
2. Save value for this attribute
3. Call getters for product/category attribute. For example, if we have attribute `title_h1` call `$object->getTitleH1()`

### Expected result (*)

1. When `$object->getTitleH1()` is called

[2020-11-26 10:57] Georgian commented on #13823
Found [the solution](https://magento.stackexchange.com/a/327010/92896) myself. It was indeed a buggy extension (Manadev layered search). @rahulbarot @jmonrove @jimmybsilva @Zyles

Apologies for spamming this closed thread, hope it will help someone else.

[2020-11-26 11:01] m2-assistant[bot] opened #31069 "[Issue] Update price index if product is added to website"
This issue is automatically created based on existing pull request: magento/magento2#31067: Update price index if product is added to website

---------

### Description (*)
In the scenario of multiple websites, if a product is created and added to one website. It works properly, shows on frontend etc. In case the same product is added to another website via an API call, then the product won't be

[2020-11-26 11:04] Amit-Hariyani commented on #26786
change in file vendor/magento/module-checkout/Model/Session.php

This error comes in 2.3.4 or later versions because of

if($quote->getTotalsCollectedFlag() === false) { $quote->collectTotals(); }

Here, $quote->collectTotals(); generates error because of recursive call

so, by commenting $quote->collectTotals(); or whole if condition it will not go in infinite and code will work properly.

Actual

[2020-11-26 11:18] IvanChepurnyi commented on #30798
I'll leave it here - batches extraction without gaps via 2 simple MySQL queries:
https://github.com/EcomDev/sync-magento-2-migration/blob/main/src/TableRangeConditionGeneratorFactory.php#L38-L67

[2020-11-26 12:39] TheRealHunzik commented on #31042
FInally, Magento Team has Started working on this issue as it was really frustrating

[2020-11-26 12:42] engcom-Delta commented on #30725
@Eddcapone I close issue as **Cannot Reproduce**

Please feel free to comment, reopen or create new ticket with additional steps according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-11-26 12:42] #30725 closed, assigned to nobody

[2020-11-26 12:45] engcom-Delta commented on #30795
@gpurdy-salsify,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-11-26 12:45] #30795 closed, assigned to nobody

[2020-11-26 12:47] denchev commented on #18229
So I recently had this issue with 2.3.4-p2. I dug a little bit further and I think there is nothing wrong with table names per-say.  In `Magento\ConfigurableProduct\Model\ResourceModel\Product\Indexer\Price\Configurable` there is a method called executeByDimensions. This method calls Magento\Catalog\Model\Indexer\Product\Price\TableMaintainer createMainTmpTable method. This method creates a TEMPOR

[2020-11-26 12:49] qsolutions-pl commented on #28614
One of our Clients had this issue, we had to disable guest checkout, there was no workaround in 2.2.x

[2020-11-26 13:06] engcom-Alfa commented on #30017
Hi @maharzan86 .

Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.
Everything works as expected.

**Manual testing scenario:**

1. Make any product out of stock and view the product in front side.
2. Subscribe for 'Product back in stock' alert.
3. Go to admin panel and make that product back in stock.
4. Also disable that product
![2020-11-26_14-56](https://user-images.

[2020-11-26 13:06] #30017 closed, assigned to engcom-Alfa

[2020-11-26 13:24] ihor-sviziev commented on #30798
@engcom-Alfa @engcom-Bravo @engcom-Charlie could you confirm that this issue exists on 2.4-develop branch?

[2020-11-26 13:41] qsolutions-pl commented on #30798
@ihor-sviziev the main problem (which is affected by this bug) is this file
@vendor/magento/module-catalog-search/Model/Indexer/Fulltext/Action/Full.php@

lines:
[code]
the `while` loop is where the indexers "skips"

[2020-11-26 14:18] bhaveshpp commented on #29936
Hello,
It solved my issue.
https://github.com/magento/magento2/pull/29991/files
Thank you.

[2020-11-26 14:31] engcom-Delta commented on #28556
Hi @kullu46 , thank you for your report. Is magento installed on MacOS Sierra?
Do you have this issue on magento instance ?( command `@magento give me 2.4-develop instance` for deploy instance)

[2020-11-26 14:32] qsolutions-pl commented on #30798
Just a small clarification: the bug affects *SALEABLE* products, so the gap needs to be between *SALEABLE* products IDs

[2020-11-26 14:33] engcom-Alfa commented on #29020
Hi @thorrrr .

Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop

**Actual Result:** :heavy_check_mark: Search works correctly for UK date format

![Peek 2020-11-26 16-29](https://user-images.githubusercontent.com/51679138/100363048-debf1800-3004-11eb-8cec-a5b1120a6f8c.gif)

So, we have to close it.
Please feel free to comment, reopen or create new ticket according to the

[2020-11-26 14:33] #29020 closed, assigned to engcom-Alfa

[2020-11-26 14:36] engcom-Delta commented on #31064
Hi @dsal94 , thank you for your report. Please provide additional steps how to reproduce issue. And how store URL `kadro_store/store/view/id/1/` was created?

[2020-11-26 14:52] bmalynovytch commented on #28961
Seems to be related to new xdebug v3.0.0

[2020-11-26 15:19] zakdma commented on #30254
@magento i am working on it

[2020-11-26 15:21] mizzimizzi commented on #22283
Hello!
I'm having the same problem, any suggestions on how to proceed?

[2020-11-26 15:36] magento-engcom-team commented on #31063
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39445` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-26 15:37] engcom-Bravo commented on #31063
Hello @SchranzKatharina

Thank you for your report

We Confirm that the issue is reproducible on Magento 2.4-develop

Additional info from Engcom is added to the description

[2020-11-26 15:48] mobeen-sarwar opened #31071 "Magento 2.4.1 translation issue on admin grids against different locales"
**Summary (*)**

In the scenario of different locales, all admin grids are not translating to the relevant language package. Visit some admin grid like (`Admin->sales->transactions`) and then change the locale (`admin -> Account Settings`) to some other locale. Now previously visited admin grid should be translated according to the new locale, but this does not happen.

**Preconditions (*)**

1- M

[2020-11-26 15:49] mobeen-sarwar commented on #31071
@magento give me 2.4-develop instance

[2020-11-26 15:51] mobeen-sarwar commented on #31071
Hi @engcom-Alfa

I need your support and help here.

Thank you!

[2020-11-26 15:56] rvitaliy commented on #28897
FYI: https://www.php.net/ChangeLog-8.php#8.0.0

[2020-11-26 16:02] mobeen-sarwar commented on #31071
@magento-deployment-service

This Magento Instance did not have a language pack against different Interface locales.

Thank you!

[2020-11-26 16:36] ilnytskyi commented on #30311
Will we see this feature as part of the core code one day? :)

[2020-11-26 17:30] m2-assistant[bot] opened #31073 "[Issue] [MFTF] Refactoring of AdminMassProductPriceUpdateTest"
This issue is automatically created based on existing pull request: magento/magento2#31057: [MFTF] Refactoring of AdminMassProductPriceUpdateTest

---------
### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)
1. Create 2 simple products
2. Go to Admin->Catalog->Products
3. Update price of the products via mass update
4. Che

[2020-11-26 17:31] m2-assistant[bot] opened #31074 "[Issue] [WIP] remove clearing cache for integration tests"
This issue is automatically created based on existing pull request: magento/magento2#31053: [WIP] remove clearing cache for integration tests

---------
Removed `CacheCleaner::cleanAll();` for integration tests

[2020-11-26 18:02] qsolutions-pl commented on #30798
To anyone still following this:
### This is a **CRITICAL ISSUE** because it may cause most (or maybe even all) of the products disappear from frontend catalog during indexation process.
It happend in 2 projects I have in development.

[2020-11-26 23:25] maghamed commented on #30798
let me be very clear here. I did not debug this case by myself, but looking at the source code https://github.com/magento/magento2/blame/2.4-develop/app/code/Magento/CatalogSearch/Model/Indexer/Fulltext/Action/DataProvider.php#L206-L218

[code]

all the configuration of batch/antiGapMultiplier impacts only first part (where we apply limit for product entity ids), while we still have this logic
[co

[2020-11-27 00:40] mrtuvn commented on #28556
Can you describe issue more details ? I don't get problem in macOS bigsur

[2020-11-27 01:36] mrtuvn commented on #30798
Just curious if store already go live, owner without delete any products only update/add and index run .Will this issue can happen ??

[2020-11-27 03:18] KnK123 commented on #26786
Thanks Amit-Hariyaniz
We have faced the same issue on one of the project yesterday as per your suggestion commented respected line in session.php and issue has been fixed in 2.3 EE.

Thanks

[2020-11-27 04:28] ihor-sviziev commented on #30798
I'm pretty sure that making 500 products as out of stock / disabled is very valid case on production (but probably not very frequent), for instance during some automatic sync from external system.

The thing the main concern here is that issue absolutely not obvious, and not clear what caused it. I don't really want event potentially having this issue on my production.

[2020-11-27 04:36] #31041 closed, assigned to dhaecker

[2020-11-27 05:36] alwinj1989 commented on #26375
yes, I am able to reproduce the above issue .. Can I know whether above issue been resolved?

[2020-11-27 07:06] qsolutions-pl commented on #30798
@maghamed for stores with 100k and more it's a regular procedure to disable / 500 or more products when they update their catalog for new season (especially in fashion industry) . Lets say that we increase the batch to 5000 by `di.xml` and then what? Customer adds another 100k products (200k in total) and the issue with happen again. We increase it to 50000 and then what? What if we have a custome

[2020-11-27 08:54] Tjitse-E commented on #28662
@AJHopper this might be related to your problem https://github.com/magento/inventory/pull/3249

[2020-11-27 10:05] magento-engcom-team commented on #30756
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39466` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-27 10:51] RakeshJesadiya commented on #31052
Hello @Frodigo,

This is not the bug but I am sure you are checking the GraphQL code with the Magento sample data.

Magento sample data comes with predefined 'Cart price rules' by default.
There is one rule with Label "Spend $50 or more - shipping is free!" cause the issue for you.  This rule allowed to Free shipping with Cart subtotal equals or greater than 50.

Check Cart Rule by Go to
Admin Lef

[2020-11-27 11:01] laurentiumagureanu opened #31075 "GraphQL: CustomizableDateOption or CustomizableDateValue should indicate the precise Date option type"
### Preconditions (*)
1. Magento 2.4.1 CE

### Steps to reproduce (*)
1. Add multiple **Date** customizable options to a product. Use different date types: **Date**, **Date & Time**, **Time**
2. Query the previous product via *graphQL* and display the customizable options. Use sample query below:

[code]

### Expected result (*)

1. The customizable option part of the response, for Date options, s

[2020-11-27 11:10] arslan-eg opened #31076 "Magento 2.3.5-p2 issue on sending email with Chinese Sender Name "Invalid header value detected""
Summary (*)
When a customer or user wants to change its password in his dashboard password change option. If the Store Email Addresses configuration (Admin->stores->settings->configurations->general->Store Email Addresses->Customer Support->Sender Name) is set in Chinese e-g "蘭芝台灣" and save configuration. In this scenario email is not sending and shows the error "Invalid header value detected".

#

[2020-11-27 11:32] engcom-Delta commented on #26970
Issue should be discussed in scope of **Feature Request**
Marked as **Feature Request** for further investigation

[2020-11-27 11:35] engcom-Delta commented on #27157
Hi @amolbhandari
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-11-27 11:35] #27157 closed, assigned to nobody

[2020-11-27 11:44] engcom-Delta commented on #27286
Hi @lbajsarowicz  thank you for your report. This test is not present in 2.4-develop
Closed as **Fixed**

[2020-11-27 11:44] #27286 closed, assigned to nobody

[2020-11-27 11:44] NTK-2016 commented on #31026
Hi @krishprakash ,
yes, issue is occurred when I searching with this kind of sku 9290810-1, for more information you can search on provided url above

[2020-11-27 11:54] duckchip commented on #15115
We really need a fix for this. Logged In customers with missing addresses can't continue

Please re-open

[2020-11-27 11:58] Vishrootways commented on #19712
Bypass CSRF Validation work and solve the original issue but another issue we are facing is, if we add code to bypass CSRF validation then it **clears customer session and customer logged out automatically** when we come back from the hosted payment page.

Does anyone face a similar issue? if yes then it will be much appropriated if you shared a possible solution with us.

[2020-11-27 12:53] RakeshJesadiya commented on #31046
@magento I am working on this.

[2020-11-27 12:59] engcom-Delta commented on #28046
Hi @SistemasTroyStone  I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**
- Enable developer mode
- Set Translate Inline according [docs](https://docs.magento.com/user-guide/system/translate-inline.html)
- Go to storefront
- Add product to cart
- Place order

**Result:**
:heavy_check_mark: Order is placed without errors
![Screenshot from 2020-1

[2020-11-27 12:59] #28046 closed, assigned to nobody

[2020-11-27 13:21] shuvoenr commented on #30741
If the case is, you are using composer for version 2 for other platform in same computer with composer.phar file solved this right?

[2020-11-27 13:37] engcom-Alfa commented on #31059
Hi @bohdan-berezhniy . Thank you for your report.

We are not able to reproduce this issue on 2.4-develop in part of the incorrect loader behavior. Everything works as expected.

**Actual Result:** :heavy_check_mark:

![Peek 2020-11-27 15-28](https://user-images.githubusercontent.com/51679138/100454273-3cb33480-30c5-11eb-9a4b-f82f0c41e301.gif)

 but there really is a problem with pagination when s

[2020-11-27 14:09] piorus opened #31078 "Incorrect total count for GraphQL products query requests that modify collection using preprocessors"
We are listing instock and out of stock products on PWA Studio and have a filter that narrows list based of stock status (available: in stock).

The thing is that this filter can be only applied by joining/modifying collection on the backend and not straight from the frontend.

Problem here is that total count is calculated BEFORE collection is created and processors are applied to it in `\Magento

[2020-11-27 14:15] magento-engcom-team commented on #31059
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39470` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-27 14:37] maghamed commented on #30798
@qsolutions-pl
Again:
Did I say that we should not fix the issue - no, I didn't. What I said is - we need to investigate the root cause why it does not work for you, and then decide how better to fix it, along with this we can use a workaround.

Regarding your argument, that we are building query which looks like
[code]

that's correct. But in fact there are two queries in this function, you might

[2020-11-27 14:42] engcom-Alfa commented on #31076
Hi @arslan-eg . Thank you for your report!

Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop.

**Manual testing scenario:**

1. In Admin Panel navigate to (Admin->stores->settings->configurations->general->Store Email Addresses->Customer Support->Sender Name).
2. Add Sender Name in Chinese e-g "蘭芝台灣" and save the configuration

![Screenshot from 2020-11-27 16-30-05](https

[2020-11-27 14:49] ihor-sviziev commented on #30798
@maghamed I believe this case isn't really obvious, I would like to dig into debug and see what exactly causing such issue.

[2020-11-27 14:53] dchaykas commented on #19712
@Vishrootways can you provide a code reference where bypassing CSRF clears customer session? One of my projects was faced with customer session being cleared and I know we've bypassed CSRF because there's custom validation implemented.

[2020-11-27 14:54] xekon commented on #29312
Dropping this here for anyone that might be having trouble setting up the bare minimum to get mail sending and to also override the address owner@example.com:
[code]

[2020-11-27 15:35] sivaschenko opened #31081 "Update magento2 codebase to be compatible with PHP 8"
### Description 

Add PHP 8 compatibility to Magento 2
### What should be done
1. Fix the areas not yet covered by PHPCompatibility on develop branch:
 <https://github.com/PHPCompatibility/PHPCompatibility/issues/809>
1. Update PHP version in composer.json from "7.3.0||7.4.0" to "7.4.0||8.0.0"
1. Fix failed tests with PHP 8

### Apply fro the following repos:
* < > <https://github.com/magento/mage

[2020-11-27 15:40] rut4 commented on #30668
The issue is related to the method of `\Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\ExtractDataFromCategoryTree::mergeCategoriesTrees`.

The hotfix is adding at the top of the method the following code:
[code]
It's a quick fix so I suppose the solution should be refined.

[2020-11-27 15:51] sivaschenko opened #31082 "Remove laminas-config dependency from composer.json"
### Description (*)

In order to support PHP 8, the laminas/laminas-config dependency version should be either updated from "^2.6.0" to "^3.4.0" or removed as a dependency.

See the migration guide provided by laminas: https://docs.laminas.dev/laminas-config/migration/to-v3/

As there are no usages of laminas-config in the codebase, it appears the dependency should be removed

### What should be d

[2020-11-27 16:00] magento-engcom-team commented on #29647
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39471` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-27 16:01] ihor-sviziev commented on #30798
Hi @qsolutions-pl,
I tried to reproduce the issue, but I couldn't.
My steps were following:
1. imported 1000 enabled products (part 1)
2. increased incremeent id with ALTER TABLE catalog_product_entity AUTO_INCREMENT = 11001;
3. imported 1000 disabled products (part 2)
4. creased incremeent id with ALTER TABLE catalog_product_entity AUTO_INCREMENT = 22001;
5. imported 1000 enabled products (part 3

[2020-11-27 17:40] magento-engcom-team commented on #30649
Hi @bernieu2. Thank you for your report.
The issue has been fixed in magento/magento2#30662 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [72cf701a71628bb8fcd96db69c3d6cf0630295cf](https://github.com/magento/magento2/commit/72cf701a71628bb8fcd96db69c3d6cf0630295cf)
 - [011a443739de7d6dddf64c3c5112da9d04a574e0](https://github.com/magento/magento2/commit/011a443739de7d6dddf64c3c5112da9d04a

[2020-11-27 17:40] #30649 closed, assigned to Nazar65

[2020-11-27 17:40] magento-engcom-team commented on #30243
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29692 by @aligent-lturner in 2.4-develop branch
Related commit(s):
 - [2c13e0ca12212f6619adda63694b1c439dc861d3](https://github.com/magento/magento2/commit/2c13e0ca12212f6619adda63694b1c439dc861d3)
 - [d1983b4c39caecdef0e0181a7cbca60781ff3b19](https://github.com/magento/magento2/commit/d1983b4c39caecdef0

[2020-11-27 17:40] #30243 closed, assigned to aligent-lturner

[2020-11-27 17:40] magento-engcom-team commented on #30104
Hi @soumiktuban. Thank you for your report.
The issue has been fixed in magento/magento2#30614 by @denchev in 2.4-develop branch
Related commit(s):
 - [b21693a04f4d92fc3afb4c530363d9304beb7b2e](https://github.com/magento/magento2/commit/b21693a04f4d92fc3afb4c530363d9304beb7b2e)
 - [c36f29b1c66720217c52b63b6a79801ff29c5f1e](https://github.com/magento/magento2/commit/c36f29b1c66720217c52b63b6a79801f

[2020-11-27 17:40] #30104 closed, assigned to denchev

[2020-11-27 17:40] magento-engcom-team commented on #30422
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30421 by @nitishcs6 in 2.4-develop branch
Related commit(s):
 - [b5a64c7242c00e66e5daefe3a2989c4a0b767ced](https://github.com/magento/magento2/commit/b5a64c7242c00e66e5daefe3a2989c4a0b767ced)
 - [57a451096a16588bb4aea82ead87edc4fd3edc75](https://github.com/magento/magento2/commit/57a451096a16588bb4aea82e

[2020-11-27 17:40] #30422 closed, assigned to nobody

[2020-11-27 17:40] magento-engcom-team commented on #30926
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30529 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [5b8b2524b71bcb429190c9161dde22084b5a38bd](https://github.com/magento/magento2/commit/5b8b2524b71bcb429190c9161dde22084b5a38bd)
 - [8987cfa0716fe40af004d21cb50933a3ef1a6dad](https://github.com/magento/magento2/commit/8987cfa0716fe40af004d21cb

[2020-11-27 17:40] #30926 closed, assigned to Usik2203

[2020-11-27 17:40] magento-engcom-team commented on #30782
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30779 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [c62a878a6c16f342d5ac9a5faa62ff981e2dbd12](https://github.com/magento/magento2/commit/c62a878a6c16f342d5ac9a5faa62ff981e2dbd12)
 - [df9280bf548e7aa6b19e9cf2ee5e5384a4dd9709](https://github.com/magento/magento2/commit/df9280bf548e7aa6b19e9cf2e

[2020-11-27 17:40] #30782 closed, assigned to Usik2203

[2020-11-27 19:47] lano-vargas opened #31083 "MAGENTO 2.3.5 /V1/products overwrite default values on multi-store site even when only one field is sent to update"
### Preconditions (*)

1. V:2.3.5, 2.4-develop
2. Product API (catalogProductRepositoryV1)

### Steps to reproduce (*)

1. Configure all store view to run under one domain E.G: dev.test.
2. Set one more Environment apart from default website/store/store view.
3. E.G: IE
![Screen Shot 2020-11-27 at 19 26 08](https://user-images.githubusercontent.com/3495481/100479539-6cbeff80-30e6-11eb-8d32-0d7770e

[2020-11-27 19:53] engcom-Alfa commented on #30942
Hi @moazzama .
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.
Everything works as expected.

**Actual Result:** :heavy_check_mark: On Developer and Production mode

![Peek 2020-11-27 21-43](https://user-images.githubusercontent.com/51679138/100480764-e06b0780-30fa-11eb-8b3c-a8150399bbed.gif)

So, we have to close it.

Please feel free to comment, reopen or create new

[2020-11-27 19:53] #30942 closed, assigned to engcom-Alfa

[2020-11-27 20:00] lano-vargas commented on #31083
@magento give me 2.3.5 instance

[2020-11-27 20:04] lano-vargas commented on #31083
@magento give me 2.4-develop instance

[2020-11-27 20:20] lano-vargas commented on #31083
@magento-team The issue however is on 2.3.5 I cannot test REST api USING the instance 2.4 given url:
![Screen Shot 2020-11-27 at 20 16 44](https://user-images.githubusercontent.com/3495481/100481943-a7786600-30ed-11eb-87ff-10d6e0d91779.png)

Can you confirm if this is a bug please ?

Thanks

[2020-11-27 20:40] moazzama commented on #30942
I appreciate you that you are working on this issue
When i install new Magento 2.3.5 or 2.4.1 then you have to test the action
then error occurs so you should be test on newly install magento
Thanks
Moazzam Ali S

On Sat, 28 Nov 2020, 12:54 AM Oleksii Stasiv, <notifications@github.com>
wrote:

[2020-11-27 20:56] arslan-eg commented on #31076
Hello @engcom-Alfa Thank you for your response.

I'm using magento version  2.3.5-p2. which producing this email sending error with Chinese Sender Name.
While you are testing this scenario at magento 2.4

Could you please check this scenario in version 2.3.5-p2. And what will be the solution for this.

Thank you!

[2020-11-28 03:41] griest024 opened #31086 "Spreading multiple GraphQL fragments into CategoryTree causes Magento to throw"
### Preconditions (*)
1. Magento 2.4.1 and 2.4-develop

### Steps to reproduce (*)
1. Run the following query:
[code]
{code}

I used the following argument:
{code:json}
[code]
{code}

I did not test on sample data but you can probably infer an analogous argument that matches the sample data. It seems that this only fails when there are categories that match the filter.

### Expected result

I expe

[2020-11-28 04:19] Vishrootways commented on #19712
@dchaykas Below is that file in which we are bypassing CSRF and our payment method sending POST data.
NOTE: If our payment method sends GET data instead of POST then the customer session is not clearing so the issue is only with POST data and might be we only have to bypass CSRF if POST data is sending.

Also, you said that you are getting the same issue, cloud you please let us know how did you s

[2020-11-28 05:09] bhaveshpp commented on #29936
Hello,
After applying these file changes my issue with the widget is resolve but this change affects on system config field **use system value** checkbox

I am facing a new issue in store > Settings > Configuration

Thank you.

[2020-11-28 06:39] mrtuvn commented on #29936
@bhaveshpp this is open PR and not accept yet by magento. You should use patch with caution and maybe this patch fix your problem but will possible break another function in other place

[2020-11-28 07:02] #26432 closed, assigned to engcom-Echo

[2020-11-28 07:02] #29128 closed, assigned to engcom-Golf

[2020-11-28 07:15] vk44295 opened #31087 "GET rest/V1/customers/me"
### Description (*)
I am using Magento 2.2.9 rest /V1/customers/me it didn't respond.

steps 1. Use rest/V1/integration/customer/token

Response Get: bf03bdurbv7pelhgtjnw5yu7kqkr6pbd

http://prntscr.com/vfxtsx

Steps 2: rest /V1/customers/me

Authorization: Bearer bf03bdurbv7pelhgtjnw5yu7kqkr6pbd

Response: { "message": "Consumer is not authorized to access %resources", "parameters": { "resources"

[2020-11-28 09:17] magento-engcom-team commented on #30691
Hi @DmitryFurs.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39096` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.2` release.

[2020-11-28 13:58] Yonn-Trimoreau commented on #28961
For the moment, I did a quick `composer remove magento/magento2-functional-testing-framework` and that seems to make my dev environment work again. But this is surely a temporary fix...

[2020-11-28 14:41] lano-vargas commented on #31083
@magento give me 2.4-develop instance

[2020-11-28 14:53] lano-vargas commented on #31083
@magento I've replicated the issue on 2.4 instance see updated :
![Screen Shot 2020-11-28 at 14 51 20](https://user-images.githubusercontent.com/3495481/100518419-4900c580-3189-11eb-8297-1919d9e12036.png)
![Screen Shot 2020-11-28 at 14 51 12](https://user-images.githubusercontent.com/3495481/100518421-4aca8900-3189-11eb-9ca3-4251c3245e29.png)

I would spect only the Product Name checkbox to be unc

[2020-11-28 17:45] victortodoran opened #31088 "Configuring Login as Customer Settings > Enable Extension > No, causes console error on customer register."
### Preconditions (*)

1. Magento 2.4.1 and 2.4-develop

### Steps to reproduce (*)

1. Ensure following configuration Stores > Configuration > Customers > Login as Customer Settings > Enable Extension is set to No
2. Go to customer/account/create
3. Without entering any values in the form, submit it.

### Expected result (*)

1. Validation kicks in. Form is not submitted. Request does not go thro

[2020-11-28 17:46] victortodoran commented on #31088
@magento give me 2.4-develop instance

[2020-11-28 19:26] tushhan commented on #23908
The same problem persists after upgrading to Magento 2.4.1

[2020-11-28 19:29] victortodoran commented on #31088
For reasons I don't have time to check upon on Commerce this is causing the request to go through.

[2020-11-28 19:38] SolsWebdesign commented on #3552
Here is a very small tutorial to make this work (thanks to @develpr for pointing me in the right direction). Create a module with the normal module stuff, let's call it Vendor_MyOrders. Create a directory called Api and within it an interface named OrderInterface.

Code would be :

interface OrderInterface
{
    /**
     * @return \Magento\Sales\Api\Data\OrderSearchResultInterface
     */
    publ

[2020-11-28 23:56] maxlussier opened #31089 "Unable to use bin/magento with Xdebug 3.0.0"
### Preconditions (*)

1. Magento Commerce 2.3.5
2. PHP 7.3 with Xdebug 3.0.0

### Steps to reproduce (*)
1. php bin/magento list

### Expected result (*)

1. Should return the list of CLI commands available

### Actual result (*)

1. Triggers a PHP fatal error:

[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment fo

[2020-11-28 23:58] maxlussier commented on #31089
Linked to a closed issue: https://github.com/magento/magento2/issues/28961 being the format was invalid.

[2020-11-29 00:10] maxlussier commented on #31089
Close the issue. Wrong repository. Issue on MFTF here: https://github.com/magento/magento2-functional-testing-framework/issues/808

[2020-11-29 00:10] #31089 closed, assigned to nobody

[2020-11-29 00:11] maxlussier commented on #28961
Issue is followed there: https://github.com/magento/magento2-functional-testing-framework/issues/808

[2020-11-29 00:18] ihor-sviziev opened #31090 "Random deadlocks during setting email sent flag"
During Black Friday we found random deadlocks during trying to send new order emails.
Analyzing of these cases a bit not obvious - Magento actually saves whole order object, and it saves all the order items JUST FOR setting flag that email was sent for the order. As result under high load we're having deadlocks like this:
[code]

The stack trace was following:
[code]

Potentially such behavior mig

[2020-11-30 04:33] WebHostingAce opened #31091 "DHL Sandbox Mode - Validation Failure:Site Id is wrong"
### Preconditions (*)

1. Magento 2.4.1
2. DHL Module - 100.4.0

### Steps to reproduce (*)

1. Use sandbox Access ID, Password, Account Number
2. Sandbox Mode - Yes

### Expected result (*)

1. Sandbox Mode to work

### Actual result (*)

1.  Sandbox Mode is not working

In Line No, 1043 https://github.com/magento/magento2/blob/91aaeec6b2ea79f364b5614ac931972d00c085b0/app/code/Magento/Dhl/Model/C

[2020-11-30 04:46] ajijshekh123 commented on #31088
@magento give me 2.4-develop instance

[2020-11-30 05:15] ajijshekh123 commented on #31088
Hi @victortodoran,
I have verified this issue on the latest Magento 2.4 Instance with the above steps of reproduce, actual result and expected result.
I have found errors in the console section and Only a single error displayed in the Create an account section.
See attached the screenshot:

![CreateCustomer](https://user-images.githubusercontent.com/24711761/100571444-268dba00-32f9-11eb-860e-92310

[2020-11-30 05:19] magento-engcom-team commented on #31088
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39479` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-30 05:49] vk44295 commented on #31087
@magento I am working on this.

[2020-11-30 06:48] NTK-2016 commented on #31026
Hi @krishprakash  any update

[2020-11-30 06:55] DmitryFurs commented on #30691
@magento-engcom-team @engcom-Alfa Chooser validation now works correctly, but the dependent custom field still hides only the input, and the label remains visible.
![image](https://user-images.githubusercontent.com/1055999/100577539-7ec0be00-32f1-11eb-80fa-d499d72bf2d6.png)

Point 2 in Steps to Reproduce and point 2 in Actual Results

This can also be seen in the screenshot confirming the issue

[2020-11-30 07:14] DmitryFurs opened #31092 "Invalid content was found starting with element 'depends'. No child element is expected at this point. in widget.xml"
### Precondition (*)
Magento 2.4-develop

### Summary (*)

When we use a custom block to render the input field in the widget, when placing any node after the **<block**, it is highlighted with error: _Invalid content was found starting with element 'depends'. No child element is expected at this point._

If we change the order so that the **<block** is the last one, there are no errors

There is

[2020-11-30 08:13] engcom-Delta commented on #31006
@briand617 seems like apache is misconfigured. You could try create one Apache virtual host per Magento website as in [docs](https://devdocs.magento.com/guides/v2.4/config-guide/multi-site/ms_apache.html#ms-apache-vhosts)

[2020-11-30 08:27] victortodoran commented on #31088
@ajijshekh123 So the message "The password bla bla" shows that the request went through and the backend validation kicked in.
The request MUST NOT go through if the form is empty, FE validation MUST prevent the request from going through.

[2020-11-30 09:08] vasilii-b commented on #30385
@magento give me 2.4-develop instance

[2020-11-30 09:13] lano-vargas commented on #31083
Reproduced on 2.4.x

[2020-11-30 09:16] denissio777 commented on #28556
The same here. Ubuntu 18.04 LTS. On different magento versions (2.2-2.4).Also not only on the localhost (on live also).

[2020-11-30 09:17] jo3han commented on #21000
I had this issues a few days ago, upon checking the DB CPU UTILIZATION was at 98% , figured out that the customer queries were causing the timeout due to unable to find customer quote.  So in your mysql editor, run the following command.

`DELETE FROM quote`

this will clear all rows from the quote table.

Question :

- Will removing a row from Quote Table cause issues?
By Default, Quote table con

[2020-11-30 09:21] magento-engcom-team commented on #31083
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39481` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-30 10:53] Eddcapone commented on #29882
Yes I am using redis, but im not sure on which of my environments I tested it. I also have one environment without redis maybe i tested it on that one. Sorry

[2020-11-30 12:38] paesjoaopaulo commented on #22165
In my case, this problem was caused by session start flag. Set session.autostart = off;

[2020-11-30 12:43] Nazar65 commented on #25947
@magento I am working on this   (again)

[2020-11-30 13:09] stkrelax commented on #28754
@nkajic you're welcome ;)

[2020-11-30 13:55] bibz0r commented on #29797
How can we apply this fix?

[2020-11-30 14:16] jakwinkler opened #31094 "Request Entity To Large: Indexing of BUNDLE products (multiple options) with elasticsearch hits 413 error"
### Preconditions (*)

1. Magento 2.3.x
2. Magento 2.4.x.
3. Have 100 saleable bundle products with at least 1800 children *EACH*
4. Each bundle product child has it's own description (1000) characters and other multiple attributes (it can be copied from parent products)

### Steps to reproduce (*)

1. Run reindex of such bundle product catalog

### Expected result (*)

1. Products are indexed wit

[2020-11-30 14:20] s-kerdel commented on #27223
Is there any update on this? This is blocking our instance from going live & is very bad for the user experience.
The issue is closed while the issue is still present, just like several other issues stating the exact same issue.

My thoughts: it seems like isSalable/getIsSalable/isSaleable returns 'true' while the actual 'salable' quantity is 0?
Also, it looks like isAvailable() does not take the

[2020-11-30 14:29] m2-assistant[bot] opened #31095 "[Issue] MC-37807: Link to a file of a Product with Customizable Option(File) is not available throughout a multishipping checkout process"
This issue is automatically created based on existing pull request: magento/magento2#31066: MC-37807: Link to a file of a Product with Customizable Option(File) is not available throughout a multishipping checkout process

### Preconditions (*)
1. Magento 2.4-develop

### Steps to reproduce (*)
1. Go to the Storefront as the created Customer
2. Add the created Product to the Shopping Cart (Qty = 2

[2020-11-30 14:32] magento-engcom-team commented on #31095
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39485` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-30 15:17] magento-engcom-team commented on #30739
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39486` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-30 15:26] engcom-Bravo commented on #31088
Hello @vicobohdan

Thank you for your report

We confirm that the issue is reproducible on 2.4.1 and on the latest 2.4-develop.
We also Confirm that the Console error is **not reproducible when the Extension is Enabled**

Additional info from Engcom is added to the description

[2020-11-30 15:27] magento-engcom-team commented on #31088
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39479` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-11-30 15:57] bibz0r commented on #3923
Still an issue in 2.4.1

[2020-11-30 17:12] fj-sfd commented on #29312
Same issue with me while following [Installation quick reference (tutorial)](https://devdocs.magento.com/guides/v2.4/install-gde/install-quick-ref.html) from Magento

for now I have disabled module (until I setup SMTP), as suggested by @speedupmate
bin/magento mo:di Magento_TwoFactorAuth

[2020-11-30 17:19] #30466 closed, assigned to andrewbess

[2020-11-30 17:23] m2-assistant[bot] opened #31102 "[Issue] Include Constructor to be a part of `CommandListInterface` API, extend inline documentation"
This issue is automatically created based on existing pull request: magento/magento2#29762: Include Constructor to be a part of `CommandListInterface` API, extend inline documentation

---------
### Description (*)
~In my personal opinion using `CommandListInterface` is invalid way of adding new Commands to interface.
It is because Constructor is not a part of Interface (Service Contract), thus it

[2020-11-30 17:26] mmezhensky commented on #31092
@magento I am working on this

[2020-11-30 17:35] duffner commented on #30722
While I agree this is an option, it shouldn't require a third-party module to disable and should just be disabled not included by default.

[2020-11-30 18:00] betooliveirame commented on #31076
@magento give me 2.3.5-p2 instance

[2020-11-30 18:35] elburro1887 commented on #3923
Can this issue please be re-opened?

It was closed and moved to https://github.com/magento-engcom/import-export-improvements/issues/61 , but that repo is now archived?

Not sure what's going on here but this issue needs to be fixed, definitely.

[2020-11-30 19:51] zeshanrahman commented on #15223
any solution related to above issue same issue i am facing

[2020-11-30 20:06] magento-engcom-team commented on #30869
Hi @sdzhepa, @sidolov.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39023` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.2` release.

[2020-11-30 20:16] magento-engcom-team commented on #30869
The Issue should be re-verified on the latest magento code and re-Confirmed if its still actual

[2020-11-30 20:19] magento-engcom-team commented on #30869
The Issue should be re-verified on the latest Magento code and re-Confirmed if its still actual

[2020-11-30 20:21] magento-engcom-team commented on #16202
The Issue should be re-verified on the latest Magento code and re-Confirmed if its still actual

[2020-11-30 20:38] #23289 closed, assigned to nobody

[2020-11-30 20:39] magento-engcom-team commented on #23289
Hi @dervishm96.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23761` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you sti

[2020-11-30 20:41] magento-engcom-team commented on #16556
The Issue should be re-verified on the latest Magento code and re-Confirmed if its still actual

[2020-11-30 20:41] magento-engcom-team commented on #22745
The Issue should be re-verified on the latest Magento code and re-Confirmed if its still actual

[2020-11-30 20:41] magento-engcom-team commented on #22774
The Issue should be re-verified on the latest Magento code and re-Confirmed if its still actual

[2020-11-30 20:41] magento-engcom-team commented on #9066
The Issue should be re-verified on the latest Magento code and re-Confirmed if its still actual

[2020-11-30 21:11] qsolutions-pl commented on #30798
I can't share the database image due to NDA from the Client. However I'm preparing a script which will create products with following ID schema:
- productd1; ID1,
- product2: ID: 502
- product3: ID 1003 and so on
so the GAP between product IDs is always `> 500`

[2020-11-30 21:41] sdzhepa commented on #30869
The report related to technology or functionality that was removed(or not supported) from the Magento codebase and cannot be fixed and delivered in the scope of a public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integrations](

[2020-11-30 21:42] magento-engcom-team commented on #30869
The report related to technology or functionality that was removed(or not supported) from the Magento codebase.
Cannot be fixed and delivered in the scope of a public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integrations](htt

[2020-11-30 21:42] #30869 closed, assigned to sidolov

[2020-11-30 21:43] magento-engcom-team commented on #30869
The report related to technology or functionality that was removed(or not supported) from the Magento code-base in this public repository.
Cannot be fixed and delivered in the scope of a public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento cor

[2020-11-30 21:44] magento-engcom-team commented on #30869
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integrations]

[2020-11-30 21:47] magento-engcom-team commented on #10012
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:47] #10012 closed, assigned to nobody

[2020-11-30 21:47] magento-engcom-team commented on #11347
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:47] #11347 closed, assigned to nobody

[2020-11-30 21:47] magento-engcom-team commented on #15545
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:47] #15545 closed, assigned to nobody

[2020-11-30 21:47] magento-engcom-team commented on #21539
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:47] #21539 closed, assigned to nobody

[2020-11-30 21:47] magento-engcom-team commented on #21879
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:47] #21879 closed, assigned to nobody

[2020-11-30 21:47] magento-engcom-team commented on #23284
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:47] #23284 closed, assigned to nobody

[2020-11-30 21:47] magento-engcom-team commented on #23707
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:47] #23707 closed, assigned to nobody

[2020-11-30 21:47] magento-engcom-team commented on #24287
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:47] #24287 closed, assigned to nobody

[2020-11-30 21:48] magento-engcom-team commented on #6568
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:48] #6568 closed, assigned to nobody

[2020-11-30 21:53] magento-engcom-team commented on #10012
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:53] magento-engcom-team commented on #11347
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:53] magento-engcom-team commented on #15545
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:53] magento-engcom-team commented on #21539
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-11-30 21:53] magento-engcom-team commented on #21879
The report related to technology or functionality that was removed(or not supported) from the Magento code-base.
Or cannot be fixed and delivered in the scope of this public repository.

Examples:
- Removed payment methods. [Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html), [Deprecation of Magento core payment integratio

[2020-12-01 00:35] kory27 opened #31103 "PayPal Payflow Credit Card checkout just spins out. Correct credentials in live mode of Magento 2.3.6"
### Preconditions (*)

1. Magento 2.3.6
2. PayPal Payflow setup. Shows as active and able to accept live and test tranactions and confirmed with PayPal/PayPal Payflow Payments Pro.
3. Configurations are setup for live in Magento admin and PayPal Manager
4. PayPal Express Checkout, does work, proving the credentials are correct. Please note, at one point PayPal had a setting wrong (among several ac

[2020-12-01 01:25] KatieWoodSouthland opened #31104 "Double charges"
Hi,

We have had, on 2 occasions in the past week, double charges on customer credit cards.

Order number 1000002076 the customer paid $76.84 twice on 24 November 3.36.07pm and 3.37.02pm
Order number 1000002115 the customer was charged $118.25 twice on 29 November 2.32.21pm and 2.59.29pm

As this is now the second time this has occurred, we thought that there might be an issue.

![image](https://u

[2020-12-01 03:29] #31104 closed, assigned to nobody

[2020-12-01 03:29] KatieWoodSouthland commented on #31104
not required

[2020-12-01 07:07] brianrootways opened #31105 "PayPal express checkout issue in Magento 2.3.6"
### Preconditions (*)

1.  Magento 2.3.6

### Steps to reproduce (*)

1. While doing checkout with PayPal express for some seconds I am getting an error something went wrong with your request. Please try again later. and redirect to PayPal after some seconds.

Earlier we are using Magento version 2.3.5-p2 but we are getting same issue we have upgrade Magento version to 2.3.6 but face same issue.

[2020-12-01 07:13] engcom-Echo commented on #23938
@magento give me 2.4-develop instance

[2020-12-01 07:51] xekon commented on #29312
Dropping this here for anyone having trouble configuring their mail in order to activate the 2FA.
To clarify, you do this on your Magento2 host, not your mail server.
Once finished just log out of Magento2 WebUI, then log back, you should receive the email.
[code]

[2020-12-01 08:11] danielrussob commented on #22774
@magento give me 2.4-develop instance

[2020-12-01 08:16] engcom-Echo commented on #23938
@asmin-vax @webtekindo
Unfortunately, I can't reproduce this behaviour. I got the next result:

![screenshot_5](https://user-images.githubusercontent.com/51681435/100714309-433ff580-33be-11eb-9487-1ddbabaa765e.png)
----------------------------
![screenshot_6](https://user-images.githubusercontent.com/51681435/100714317-46d37c80-33be-11eb-9067-ee7a4645c9ed.png)
----------------------------
![screen

[2020-12-01 08:30] danielrussob commented on #22774
@magento-engcom-team

I have reproduced issue on Magento 2.3 but not on Magento 2.4 vanilla

[2020-12-01 09:19] devchris79 commented on #31105
PayPal has deprecated the express checkout support, setting this issue to one side it might be better to switch across to one of the other implementations in the long term anyway.

[https://docs.magento.com/user-guide/payment/paypal-express-checkout.html](url)

[2020-12-01 09:22] dineshvb commented on #18140
@magento I am working on this

[2020-12-01 09:26] m2-assistant[bot] opened #31107 "[Issue] Fix error message in StockItemValidator.php"
This issue is automatically created based on existing pull request: magento/magento2#31058: Fix error message in StockItemValidator.php

---------
This error message has previously been updated to misleading text and since then lacked the "greater". (see git history/blame)
According to validation logic of the enclosing "if", values of zero are not allowed and will throw this error.

Error got thro

[2020-12-01 09:29] Alex88-hub commented on #28897
I've tested PHP 8 performance on Magento 2 and compare the results with PHP 7.3. Here it is

https://onilab.com/blog/php-7-vs-php-8/

The bottomline: the PHP 8 JIT is far from being useful in terms of improving the Magento 2 web application performance. However, it is fair to say that the feature perfectly copes with its tasks on simple code.

[2020-12-01 09:35] JancyAbraham commented on #13952
Hi,
Can you please help me with the file changes in patch: MDVA-31006 or any fixes applicable to Magento Opensource 2.2.8.

[2020-12-01 09:45] pavinduLakshan opened #31108 "Magento 2.2 integration callback URL is not receiving OAuth data on either activation or authorization"
### Preconditions (*)

1. Magento version: 2.2.0
2. Hosted on: EC2 Ubuntu instance

### Steps to reproduce (*)

1. log in to the admin panel of a Magento 2.2.0 site
2. Go to _system -> Extensions -> Integrations_ and click _Add New Integration_
3. Fill in integration name, email
4. Run a simple Node.js server with POST endpoint in localhost which logs the request body to the console.
5. Make a tun

[2020-12-01 09:59] PascalBrouwers commented on #30798
Several people, including myself are able to reproduce the issue.

If you can't replicate it using products just put a plugin on getSearchableProducts that returns 0 products 50% of the time.
You'll see that the indexer just stops halfway. If you're using the PR you'll see the indexer keeps going until the last batch.

[2020-12-01 10:25] engcom-Alfa commented on #27684
@magento give me 2.4-develop instance

[2020-12-01 10:33] rossmc commented on #22995
This issue does not seem to be resolved with those MRs.

Lots of jQueryUI files are still being loaded on the homepage for Luma & Blank with Magento ver. 2.3.5-p1.

Including datepicker.js & timepicker.js which definitely are required.

![Screenshot 2020-12-01 at 11 26 05](https://user-images.githubusercontent.com/2452991/100729302-dd0ca000-33c8-11eb-8880-4120b70cee1e.png)

![Screenshot 2020-12-01

[2020-12-01 10:44] engcom-Alfa commented on #27684
Hi @lukpheakdey  thank you for your report.
Unfortunately, we are not able to reproduce this issue on a clean 2.4-develop instance.
Seems the problem connected with custom module.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site

[2020-12-01 10:44] #27684 closed, assigned to engcom-Alfa

[2020-12-01 10:48] oliverde8 commented on #9214
They changed the documentation so now it's not a bug anymore...

[2020-12-01 11:20] marvinhinz opened #31109 "MariaDB 10.5 support"
### Preconditions (*)
1. Magento 2.4.1
2. Debian Server upgraded to bullseye with MariaDB 10.5.8

### Steps to reproduce (*)
1. bin/magento setup:upgrade

### Expected result (*)
1. setup:upgrade should not abort

### Actual result (*)
1. Error: Current version of RDBMS is not supported. Used Version: 10.5.8-MariaDB-3. Supported versions: MySQL-8, MySQL-5.7, MariaDB-(10.2-10.4)

It is possible to

[2020-12-01 12:16] harshitmahendra commented on #30385
that's ok for me If there is no roles in the images. but now I getting that unassigned image like this 👇

[code]

it Print's out the first product Image again and again ?

[2020-12-01 12:16] APanteleychuk commented on #23908
I have same problem too. After upgrading to Magento 2.4.1

[2020-12-01 12:21] Frodigo commented on #31052
@RakeshJesadiya thanks for the clarification, that's correct. Closing.

[2020-12-01 12:21] #31052 closed, assigned to nobody

[2020-12-01 13:07] magento-engcom-team commented on #31086
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39508` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-01 13:19] engcom-Delta commented on #30852
Hi @rexxx2011 there is not enough information to understand and verify issue you described

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-12-01 13:19] #30852 closed, assigned to nobody

[2020-12-01 13:35] engcom-Alfa commented on #28916
Hi @bharanikonda . Thank you for your report.
Unfortunately, we are not able to reproduce the issue following by scenarios from this issue and #29013.
Probably it was already fixed.
Could you describe in more detail the scenario in which the error `PayPal Express Checkout Token does not exist` occurs?
Thanks!

[2020-12-01 13:50] krishprakash commented on #31026
Hi @NTK-2016
Kindly confirm the issue is reproduce on 2.4-develop instance or not as I checked it is not reproduce on latest 2.4-develop instance

[2020-12-01 14:14] engcom-Delta commented on #30818
Hi @klierik thank you for your report. Could you clarify why `this.options.container.length` is not correct?
I checked values of `this.options.container.length`  and `$(this.options.container).length` on bundle product page:
![image](https://user-images.githubusercontent.com/51681379/100751053-8cf50400-33ef-11eb-84ec-fac533746073.png)

`this.options.container.length` shows correct value `17` as le

[2020-12-01 14:23] lano-vargas commented on #31083
@engcom-Delta  possible duplicate https://github.com/magento/magento2/issues/26484

[2020-12-01 17:23] magento-engcom-team commented on #31090
@gabrieldagama Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-12-01 17:23] magento-engcom-team commented on #31090
@gabrieldagama Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-12-01 17:24] magento-engcom-team commented on #31090
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39521` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-01 17:35] magento-engcom-team opened #31111 "[GraphQL] Products query returns products not assigned to a shared catalog"
When shared catalog is enabled and a product is created, but not assigned to a shared catalog, that product will not appear in luma under the category or in search results.

However, its aggregations (price range & category) are being returned in the product graphQL query. This query should be modified to not any data for products not assigned to a shared catalog, when shared catalog is enabled.
#

[2020-12-01 17:35] magento-engcom-team commented on #31111
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-39522

[2020-12-01 17:50] magento-engcom-team opened #31112 "[GraphQL] Customer Order Totals missing gift card amount"
During PWA development, it was discovered that gift card amounts are missing from the order total responses. This leads to us having to render an order total of $0 with no real explanation why. If it followed the same structure as the cart, we would maybe find a new gift_cards field instead, not sure how it would need structured since it's somewhat treated like a payment method.

Repro:
1. Create

[2020-12-01 17:50] magento-engcom-team commented on #31112
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-38927

[2020-12-01 17:55] sdzhepa commented on #31046
@RakeshJesadiya
At first glance, it looks like the expected result in the case with "virtual product"
I assume that for simple product(any product that can be shipped) it will work as described

i will investigate and provide more details

[2020-12-01 18:29] #30474 closed, assigned to andrewbess

[2020-12-01 18:51] koenner01 opened #31113 "Registering on order success page saves addresses in the address book without checking save_in_address_book"
When registering as a new customer on the success page after placing an order, the \Magento\Sales\Model\Order\OrderCustomerExtractor class copies all addresses from the order to the customer data.
This however is incorrect if 1 or more addresses have the save_in_address_book variable set to false in the quote_address table.

[code]

A solution would be to fetch and check the quote_address (based o

[2020-12-01 19:34] developer0116 opened #31114 "Products query returns empty"
I tried to pull the products using graphql like this.
query {
  products(
    filter: { sku: {  eq: "20409-903-1-1" } }
    pageSize: 20
    currentPage: 1
    sort: { name: DESC }
  ) {
    items {
      sku
    }
  }
}
but empty response like this.
{
  "data": {
    "products": {
      "items": []
    }
  }
}

So I tried many other queries but result is the same.

How to figure it out?

Thank yo

[2020-12-01 19:42] magento-engcom-team opened #31115 "Need to make GET requests with a Preview-Version header non-cacheable"
Perform a GraphQL query with a Preview-Version header to retrieve a new version of CMS page or a product.

**Expected**

Request is not cached

**Actual**

Request is being cached

[2020-12-01 19:42] magento-engcom-team commented on #31115
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37843

[2020-12-01 20:13] kestraly commented on #31105
Hosted solution is awful. Forever going wrong and both Payments Standard and Hosted created Pending Payment orders. What a nightmare those payment methods are.

[2020-12-01 20:17] engcom-Delta commented on #30701
Hi @shravanpathipaka thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: Form `Set a New Password` is shown without error about expiration
![image](https://user-images.githubusercontent.com/51681379/100792093-cb57e680-3422-11eb-85ea-52c1aea89360.png)

Please feel free to comment, reopen or create new ticket according

[2020-12-01 20:17] #30701 closed, assigned to nobody

[2020-12-01 20:47] alpeur opened #31116 "Terms Conditions not showing in Panel"
Please help!!

Terms Conditions not showing in Panel. If I click on sidebar on "store", terms condition missing.

[2020-12-01 20:51] chichitsai0517 opened #31117 "Product show in stock even if the salable quantity is 0"
### Preconditions (*)

1. Magento Open Source 2.4.1 with sample data
2.

### Steps to reproduce (*)

1. Make an order of a product and buy everything (example if 5 in stock, buy all 5)
2. Go to your admin and this product QTY should be 5 and Salable QTY should be 0. Which is normal since the order has not been shipped yet.

### Expected result (*)

1. Front end should show "Out of stock"
2. We sho

[2020-12-01 21:15] Reno-Axel commented on #27505
Yiep still appends in 2.3.5 patch 2

[2020-12-01 21:26] engcom-Delta commented on #26911
Hi @agata-maksymiuk thank you for your report, I'm not able to reproduce issue by steps you described on 2.4-develop (CE and EE)
**Manual testing scenario:**
1. Create customer and add some products to compare list
2. Create additional customers and check that compare list for them is empty
![image](https://user-images.githubusercontent.com/51681379/100798271-1a564980-342c-11eb-877e-69b175c8f42d.p

[2020-12-01 21:56] Lunaetic commented on #30978
@magento I am working on this

[2020-12-02 00:57] farhan-saeed17 commented on #28614
@sb-nick the attack stopped when I set the following to "Yes"

Validate REMOTE_ADDR
Validate HTTP_VIA
Validate HTTP_USER_AGENT

The only problem is, my website now keeps redirecting to the homepage after a few minutes of inactivity. I tested on the staging website, and it throws the following error "Exception #0 (Magento\Framework\Exception\SessionException): The "remote_addr" session value is inv

[2020-12-02 03:28] markhyng commented on #26172
which version or PR fix this problem?

[2020-12-02 03:35] ecrocombe opened #31119 "Too many properties in some REST responses for a Custom Connector in Microsoft Power Platform."
### Preconditions (*)
1. New installation of Magento v2.4.1 using Bitnami image in Azure.

### Steps to reproduce (*)
1. Generate Swagger Definition File using an Authenticated session (GET to 'https://{magento hostname}/rest/all/schema?services=all' with Header {name=Authorization; value=Bearer {api key};})
2. Remove all new lines ('\n') and spaces (' ') from said file (Power platform requires sc

[2020-12-02 03:38] livecandy commented on #13475
Maybe your "Full Page Cache" choosed "Varnish Cache (Recommended)".
I change it to "Built-in Cache" and fixed this issue, you can try it.

STORES->Configuration->ADVANCED->System->Full Page Cache->Caching Application (choose "Built-in Cache")

[2020-12-02 03:44] webtekindo commented on #23938
@engcom-Echo

Ok let's take an example, of legal accounting in Europe.

**Sale Order**
1 x Product A (taxable at 20%) = 100 euros (incl.tax)
Tax = **16.67 euros**
Total = 100 euros

We want to refund that customer 50%.

**Credit memo**
1 x Product A = 50 euros
Tax = **8.33 euros (THIS IS CORRECT)**
Total = 50 euros

That's what any european accountant expect. Then my question will be how you do th

[2020-12-02 04:54] ajijshekh123 commented on #31116
@alpeur - Please add your bugs in the below Magento Issue reporting guidelines.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2020-12-02 05:23] denissdubinin commented on #26817
Solution provided by @khaled-badenjki works correctly only if you are not using anchor categories.
To fix the problem, change join type from `inner` to `left` in `CatalogCategoryProductJoinProcessor.php` class.

[2020-12-02 05:52] developer-macrew commented on #30194
Hi @magento-engcom-team
Why this issue closed without providing the solution?

[2020-12-02 06:38] arslan-eg commented on #31076
@magento give me 2.3.5-p2 instance

[2020-12-02 08:13] Zifius commented on #30100
Hi @mauragcyrus @cpartica! Should we close then one of the issues as duplicate?

I'm willing to work on the issue if there is no progress on it

[2020-12-02 08:17] engcom-Echo commented on #23601
Hi, @parekhreena thank you for your report.

When importing data from an external source, there is no possibility to define IDs. When you are exporting and then re-importing it, it sounds as the ID should be there and should be kept, but if importing data from an external source it is impossible.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines

[2020-12-02 08:17] #23601 closed, assigned to engcom-Echo

[2020-12-02 08:20] magento-engcom-team commented on #23601
Hi @parekhreena, @engcom-Echo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-18653` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.2` release.

[2020-12-02 08:31] magento-engcom-team commented on #30721
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39540` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-02 08:43] martinshawruroc opened #31120 "Creditmemos incorrectly refund entirety of tax with separate invoices and virtual products"
### Preconditions (*)

1. Magento 2.4.0 and 2.4.1
2. Other environment details are unimportant, for this report I've used https://github.com/markshust/docker-magento

### Steps to reproduce (*)

1. Configure an online payment method, with the ability to invoice separately and refund. I used Klarna - 3 interest-free instalments.
2. Configure two products - one simple, and one virtual. Make both of

[2020-12-02 08:49] magento-engcom-team commented on #29957
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-12-02 09:04] engcom-Bravo commented on #31071
The issue is reproducible on 2.4.1 but not reproducible on the latest 2.4-develop.

[2020-12-02 09:06] magento-engcom-team commented on #31071
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39541` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-02 09:19] engcom-Delta commented on #30682
Hi @harshitmahendra
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-12-02 09:19] #30682 closed, assigned to nobody

[2020-12-02 09:53] devchris79 commented on #31105
@kestraly You need to set the payment action to sale (it should be the default in my opinion). If you have it set to authorization it will be problematic as you describe.

[2020-12-02 10:08] ericclaeren opened #31121 "Product Media gallery deletes and inserts existing unchanged images on product save."
### Preconditions (*)
1. Tested in 2.3.5-p1,
2. Reproducible on 2.4-develop

But the code which causes this issue can be found in 2.4.1

### Steps to reproduce (*)
1. Go to a product which contains media, I have tested this with a configurable product, but any type should do.
2. Change any non related image / gallery field (e.g. product status On -> Off)
3. Save product

### Expected result (*)
1.

[2020-12-02 10:13] engcom-Alfa commented on #27694
Hi @Kleibert .
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.
:heavy_check_mark:  The images were rendered correctly.

![Screenshot from 2020-12-02 12-11-54](https://user-images.githubusercontent.com/51679138/100859169-99cd3280-3497-11eb-810d-f081fd641ff8.png)

So, we have to close it.
Please feel free to comment, reopen or create new ticket according to the [Issue re

[2020-12-02 10:13] #27694 closed, assigned to engcom-Alfa

[2020-12-02 10:26] webgility-amazonapi commented on #30873
Hello Magento Support,

When we are selecting tax_class_id scope as 'Global' its working fine but if we are taking it as 'Website' its not working as expected.

Please have a look on screenshot.
![Screenshot 2020-12-02 155636](https://user-images.githubusercontent.com/54638813/100860804-fe4bba00-34b6-11eb-9642-8cf80d6ac639.jpg)

[2020-12-02 10:38] jasminrathod opened #31124 "Fatal error when i try to reorder from admin"
### Preconditions (*)

1. 2.3.6
2. When i try to "REORDER" then  fatal error show.

### Steps to reproduce (*)

1.  go to admin side sales order check is there any order there or not if not then place one order. after that set that product to out of stock. after that try to reorder from admin at that time it show fatal error in admin
2. in my site all product is configure product

### Expected res

[2020-12-02 10:39] jasminrathod commented on #31124
@magento I am working on this

[2020-12-02 10:44] engcom-Alfa commented on #31087
Hi @vk44295 . Thank you for your report.
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.
Everything works as expected.

**Manual testing scenario:**

1. Send **POST** `/rest/V1/integration/customer/token` request;

**Actual Result:** :heavy_check_mark:  Response: 200 OK

Response Get: _ogyjt38avzsto8d6anpd45hnerbqueio_

![Screenshot from 2020-12-02 12-37-05](https://us

[2020-12-02 10:44] #31087 closed, assigned to engcom-Alfa

[2020-12-02 10:47] engcom-Hotel commented on #30798
Hello @qsolutions-pl.
Steps to reproduce from https://github.com/magento/magento2/issues/30798#issuecomment-734897736 are the same as yours.
Tried to reproduce the issue - works as expected.
PHP 7.4.13
MySQL 8
ElasticSearch 7
![gap_between_products_id](https://user-images.githubusercontent.com/51681618/100862292-ae132e80-349b-11eb-98af-905b0c64c826.png)
![cat_with_products_from_3rd_batch](https://

[2020-12-02 11:05] ringwood-dsg commented on #13961
Seems this issue is present in 2.4 as well.

[2020-12-02 11:33] stormbyte opened #31125 "Sku should be unique (Possible to insert two products with identical SKU into 'catalog_product_entity' table)"
### Preconditions (*)
1. Magento 2.0 -> 2.4.1
2. Reproducible on the latest 2.4-develop

### Steps to reproduce (*)
1. INSERT INTO catalog_product_entity ( `sku` ) VALUES ('12345'),('12345');

### Expected result (*)
1. Constraint violation

### Actual result (*)
1. No errors; 2 rows affected

### Additional info from Engcom
The issue is reproducible on the latest 2.4-develop. As described in the

[2020-12-02 11:46] sathiyaaa commented on #31114
Did you try `setup:upgrade` and `setup:di:compile` command? @developer0116

[2020-12-02 12:06] engcom-Bravo commented on #31120
Hello @martinshawruroc

Thank you for your report

We confirm that the issue is reproducible on Magento 2.4.1 and have added _Additional info from Engcom_ to the bugs description

[2020-12-02 12:07] davidandersson1 commented on #30315
I can confirm that above issue (price index taking too long with MySQL 8.x) even with magento 2.4.1

If anybody faced same issue with large catalog + 2.4 + MySQL 8.0 and found any solution then please share here.

[2020-12-02 12:08] magento-engcom-team commented on #31120
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39544` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-02 12:20] ihor-sviziev commented on #13961
Hi @ringwood-dsg,

According to https://github.com/magento/magento2/issues/13961#issuecomment-658230648 the issue was already solved by updating the docs:
https://devdocs.magento.com/guides/v2.3/get-started/authentication/gs-authentication.html#web-api-clients-and-authentication-methods

[2020-12-02 12:37] brianrootways commented on #31105
Is there any patch for this issue?

[2020-12-02 12:39] brianrootways commented on #31105
I think issue because of customer-data.js error. Please check attached screenshot.
![image](https://user-images.githubusercontent.com/68637204/100873621-73c08600-34c9-11eb-8368-d44012c6bce1.png)

[2020-12-02 12:44] stormbyte commented on #31125
Sku should be unique in the database as it is in the php code.
The current index is still `Non_unique` as it was in Magento V1.

[2020-12-02 13:10] phpandrew commented on #13961
You are likely generating the key/secret and using that to try and authorize.

The flow of Magento is different from other marketplaces.

Under the store admin > System > Integrations > Add New Authorization
You need to setup the identify and callback URLs to get the consumer key/secret.
Callback URl will be called first, authorize the user on your platform, store the posted credentials (key, secr

[2020-12-02 13:11] engcom-Alfa commented on #31124
Hi @jasminrathod . Thank you for your report!

Could you clarify an actual result? Because we are not able to reproduce the fatal error when trying to reorder on clean 2.4-develop.

**Manual testing scenario:**

1. Create a configurable product (Name **_Test_** for ex.)
2. Create an order;
3. Set "out of stock" for **_Test_** product;
4. Go to Sales -> Orders and open created before order for edit

[2020-12-02 13:15] jasminrathod commented on #31124
Yes in your screeshot that is error show in page in my client site

On Wed, 2 Dec, 2020, 6:41 pm Oleksii Stasiv, <notifications@github.com>
wrote:

[2020-12-02 13:49] sb-nick commented on #28614
@farhan-saeed17 did you do a full system cache clear of everything? I didn't experience that with my instance. Are you running commerce cloud or on prem commerce?

[2020-12-02 13:54] abdulmalik422 commented on #27942
What about Category page. its not working also on category? Any workaround for this.

[2020-12-02 14:00] jasminrathod commented on #31124
is show me below msg on page. fatal error on page

{"0":"This product is out of stock.","1":"#1
Magento\\Sales\\Model\\AdminOrder\\Create->initFromOrderItem() called at
[vendor\/magento\/module-sales\/Model\/AdminOrder\/Create.php:534]\n#2
Magento\\Sales\\Model\\AdminOrder\\Create->initFromOrder() called at
[vendor\/magento\/module-sales\/Controller\/Adminhtml\/Order\/Create\/Reorder.php:95]\n#3
M

[2020-12-02 14:00] engcom-Bravo commented on #31121
Hello @ericclaeren

Thank you for your report

We confirm that the issue is reproducible on the latest 2.4-develop version. Additional info from Engcom is added to the description.

[2020-12-02 14:03] magento-engcom-team commented on #31121
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39546` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-02 14:13] magento-engcom-team commented on #27250
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39547` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-02 14:33] ihor-sviziev commented on #28363
Hi @vincent-jacq,
Unfortunately, we didn't get any input from you. I'm closing this issue as not relevant, more details in https://github.com/magento/magento2/issues/28363#issuecomment-725939261.

If you still believe we need to have such ability and could some use case - please just drop the comment here.

Thank you so much for your contribution!

[2020-12-02 14:33] #28363 closed, assigned to ihor-sviziev

[2020-12-02 14:34] ihor-sviziev commented on #29052
@Coosos any updates? Does this issue still valid?

[2020-12-02 14:47] Eddcapone opened #31126 "Warning: nl2br() expects parameter 1 to be string, array given"
### Preconditions (*)

1. 2.4.1

### Steps to reproduce (*)

We are using the payment method "Bank transfer payment".
After submitting the order, I get:

This is entered in the instructions:

[code]

### Expected result (*)

1. Should work

### Actual result (*)

I also get the error when trying to view the order at https://company.de/sales/order/view/order_id/14725/

---
Please provide [Severity]

[2020-12-02 14:48] Eddcapone commented on #31126
@magento give me 2.4-develop instance

[2020-12-02 14:59] Eddcapone commented on #31126
I was not able to reproduce the error in the magento instance.

[2020-12-02 15:00] Blatant commented on #27942
I got it working for Category Pages...

I've implemented a custom layout on the parent/default theme in the directory `[theme_dir]/Magento_Catalog/layout/`, with the filename `catalog_category_view_selectable_28_OverrideCat28.xml`, "OverrideCat28 appears in the override dropdown.

The xml file is complex but the crucial elements are :
[code]

If I recall its not to FPC friendly either so hit the c

[2020-12-02 15:29] mauragcyrus commented on #31075
@magento export issue to Jira project MCLOUD as Story

[2020-12-02 15:29] magento-engcom-team commented on #31075
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-7343) is successfully created for this issue.

[2020-12-02 15:33] laurentiumagureanu commented on #30921
@magento export issue to Jira project MCLOUD as Story

[2020-12-02 16:02] m2-assistant[bot] opened #31129 "[Issue] [MFTF] Refactoring of AdminMassOrdersCancelCompleteAndClosedTest"
This issue is automatically created based on existing pull request: magento/magento2#31123: [MFTF] Refactoring of AdminMassOrdersCancelCompleteAndClosedTest

---------
### Description (*)
A new test has been created according to the best practices followed by MFTF.
The old "AdminMassOrdersCancelCompleteAndClosedTest" has been deprecated.

### Manual testing scenarios (*)
1. Create two orders
2. In

[2020-12-02 16:04] m2-assistant[bot] opened #31130 "[Issue] Removed usage of CliIndexerReindexActionGroup action group"
This issue is automatically created based on existing pull request: magento/magento2#31128: Removed usage of CliIndexerReindexActionGroup action group

---------
### Description
Remove usage or changed value of CliIndexerReindexActionGroup action group from tests to improve execution time for the following modules:
- Bundle
- BundleImportExport
- CatalogUrlRewrite
- ConfigurableProduct

[2020-12-02 16:05] m2-assistant[bot] opened #31131 "[Issue] [MFTF] Refactoring of AddOutOfStockProductToCompareListTest"
This issue is automatically created based on existing pull request: magento/magento2#31099: [MFTF] Refactoring of AddOutOfStockProductToCompareListTest

---------
### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)
1. Create an out of stock product
2. Disable the "Display Out of Stock Products" option
3. Open the PDP
4. Che

[2020-12-02 16:05] m2-assistant[bot] opened #31132 "[Issue] [MFTF] Refactoring of ProductsQtyReturnAfterOrderCancelTest"
This issue is automatically created based on existing pull request: magento/magento2#31097: [MFTF] Refactoring of ProductsQtyReturnAfterOrderCancelTest

---------
### Precondition
Magento 2.4-develop

### Description (*)
A new test has been created according to the best practices followed by MFTF.
The old "ProductsQtyReturnAfterOrderCancelTest" has been deprecated.

### Steps to reproduce (*)
1. C

[2020-12-02 16:08] m2-assistant[bot] opened #31133 "[Issue] Fix incorrect typehints property"
This issue is automatically created based on existing pull request: magento/magento2#31084: Fix incorrect typehints property

---------

### Description (*)

Small improvements incorrect part in code base

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution

[2020-12-02 16:10] m2-assistant[bot] opened #31134 "[Issue] Magento fails on captcha even it not used"
This issue is automatically created based on existing pull request: magento/magento2#30991: Magento fails on captcha even it not used

---------

### Description (*)

`imageftbbox` function is only available if PHP is compiled with freetype support (--with-freetype-dir=DIR)
based on https://www.php.net/manual/en/function.imageftbbox.php

### Manual testing scenarios (*)

1. compile php without fre

[2020-12-02 16:11] m2-assistant[bot] opened #31135 "[Issue] Add INT types in some WHERE IN (?) expressions"
This issue is automatically created based on existing pull request: magento/magento2#31098: Add INT types in some WHERE IN (?) expressions

---------

### Description (*)

Numeric values in the WHERE IN expressions should be cast as number, not as string.
It improves queries time on same MariaDB versions
### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_nu

[2020-12-02 16:11] mauragcyrus commented on #28953
hi @isydorenko @rogyar @huykon there is another issue opened for this here: https://github.com/magento/magento2/issues/30100 which is tied to an internal Adobe ticket that will be fixed in 2.4.2 so I closed this one as its duplicate.

[2020-12-02 16:11] #28953 closed, assigned to nobody

[2020-12-02 16:32] #13746 closed, assigned to engcom-Golf

[2020-12-02 16:32] #30295 closed, assigned to engcom-Kilo

[2020-12-02 16:32] #30382 closed, assigned to engcom-Kilo

[2020-12-02 16:38] m2-assistant[bot] opened #31136 "[Issue] L2 create dir if not exist"
This issue is automatically created based on existing pull request: magento/magento2#31122: L2 create dir if not exist

---------

### Description (*)

When building magento on sepparate container by pulling files from repo and running `setup:upgrade`  or other commands and using L2 cache configuration with non-default dir, magento throws an error that the dir does not exist.
For example if we put

[2020-12-02 16:38] m2-assistant[bot] opened #31137 "[Issue] Update box model to border box"
This issue is automatically created based on existing pull request: magento/magento2#31127: Update box model to border box

---------

### Description (*)

Why need to update this ?
Magento have define .lib-set-default-border-box but it's never used in code base
When use box-sizing border box we make frontend dev life easier. Only define in one file and apply to all other place. No need re-define

[2020-12-02 16:39] m2-assistant[bot] opened #31138 "[Issue] Fix compare link anchor uncrawlable"
This issue is automatically created based on existing pull request: magento/magento2#31096: Fix compare link anchor uncrawlable

---------

### Description (*)

Fix anchor compare link uncrawlable (anchor not have href)
Improve Lighthouse SEO Score metrics

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...

[2020-12-02 16:41] m2-assistant[bot] opened #31139 "[Issue] reset count flag is not taken to account when setting qty"
This issue is automatically created based on existing pull request: magento/magento2#31085: reset count flag is not taken to account when setting qty

---------

### Description (*)
when using the rest api and updating an item in the cart with a new qty the qty in cart is + to qty in the candidate even when the reset count flag is set to true.

### Related Pull Requests

### Fixed Issues (if relev

[2020-12-02 16:42] m2-assistant[bot] opened #31140 "[Issue] Add event listeners passive for fotorama lib improves lighthouse metrics"
This issue is automatically created based on existing pull request: magento/magento2#31080: Add event listeners passive for fotorama lib improves lighthouse metrics

---------

### Description (*)

Improve lighthouse metrics score for fotorama js lib

![Screenshot from 2020-11-27 22-30-28](https://user-images.githubusercontent.com/1908873/100464517-5887fc00-3100-11eb-8b8b-c3c4d8caa07e.png)

### Pr

[2020-12-02 16:49] #30251 closed, assigned to zakdma

[2020-12-02 16:51] magento-engcom-team commented on #30251
Hi @magento-engcom-team, @zakdma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37922` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.2` release.

[2020-12-02 19:04] mizzimizzi opened #31143 "Invoice for an order that contains only one configurable product is not generated correctly"
### Preconditions (*)
1. Magento ver. 2.3.5-p1
2. Magento 2.4-develop

### Steps to reproduce (*)
1. create a cart with exactly one configurable product
2. complete the order with any payment method
3. invoice the order from Admin (only if the invoice has not already been created)

### Expected result (*)
The invoice is treated as last invoice (\Magento\Sales\Model\Order\Invoice::isLast returns tr

[2020-12-02 19:04] magento-engcom-team commented on #30724
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39563` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-02 19:28] stephansteiner opened #31144 "Import of products discards many relation links"
When importing a csv file with many product relations (columns crosssell_skus, related_skus and upsell_skus) in Magento 2.4 many of the relations are discarded, but no error is reported.
A short analysis of the CatalogImportExport module showed that the function
processLinkBunches
is called with the same nextLinkId over and over, thus importing only the first bunch of relations and discarding all

[2020-12-02 22:10] #24245 closed, assigned to nobody

[2020-12-02 22:12] magento-engcom-team commented on #24245
Hi @c-doug.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23998` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.2` release.

[2020-12-03 00:01] Grumag commented on #28614
Has anyone tried 2.3.6 with patch MC-38033___2_3_x-p1__CAPTCHA_COMPOSER which apparently fixes reCaptcha implementation for checkout?

Seem that they have some problems with the patch, not working when I tried on a few 2.3.6 sites

[2020-12-03 04:35] kaushikrohit54 commented on #2666
I am using Magento 2.3.2 version and tried a lot to import products but best solution I found

1. put your all images at pub/media/images/catalog/product/CUSTOM_DIR/1.jpg
eg: /var/www/html/ocean-tableware/pub/media/catalog/product/lucaris

2. In csv put base_image path as /CUSTOM_DIR/1.jpg
/lucaris/1.png

While import from backend put path 'pub/media/import/

For more you can check here https://ma

[2020-12-03 04:49] ringwood-dsg commented on #13961
Thank you for clearing this up for me. I find your explanation regarding the sequence of events a lot helpful than the official manual, to be quite honest. We're integrating our .NET application with Magento, but what I am unsure of is the parameters being passed to the Callback URL? I see the manual references it like this:

- store_base_url
- oauth_verifier
- oauth_consumer_key
- oauth_consumer_

[2020-12-03 07:25] qsolutions-pl commented on #30798
I'm swamped with work and won't be able to provide you with database sample for next few weeks, please look at this comment https://github.com/magento/magento2/issues/30798#issuecomment-736367895
If you want to debug this, do the following:
- create 500 (or whatever is the batch size) saleable products and fetch MaxID of  last product in the batch (that lastId is passed to next loop iteration)
- i

[2020-12-03 07:51] jasminrathod commented on #31124
hi did  you find any solution??

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, Dec 2, 2020 at 7:30 PM jasmin rathod <jasmin08887@gmail.com> wrote:

[2020-12-03 08:10] RakeshJesadiya commented on #31046
@sdzhepa Yes, I have modified the logic for the Virtual product with Zero subtotal checkout.
For the Physical products, It will be worked as expected.
Only issue with Virtual product is that, once you place an order with zero subtotal, and you have made setting `**New Order Status**` as **Processing** that time, after place an order, order status will be closed instead of complete.

But If you go

[2020-12-03 08:36] chichitsai0517 commented on #28614
I just experienced my first attack and I am on 2.4.1. What a bad timing since this is our most busiest month of the year. I read through the whole thread and I am so discouraged!!!! :(

[2020-12-03 09:24] tuyennn commented on #31076
@magento give me 2.3.5-p2 instance

[2020-12-03 09:38] rohit-sobhana commented on #28916
Experiencing same issue in Magento 2.3.5-p1 .PayPal Express Order gets placed but with no billing Address. Happens occasionally. Following is the stack trace.
[code]

[2020-12-03 09:39] tuyennn commented on #31076
Seem this is duplicate of #24902

[2020-12-03 09:47] vk44295 commented on #31087
Hi @engcom-Alfa  I am using 2.2.9 and the same method that you have shown above, but didn't work in my case? Can you please suggest what may issue there?

[2020-12-03 09:56] rvitaliy opened #31145 "General error: 1836 Running in read-only mode, query was: SELECT GET_LOCK(?, ?)"
### Preconditions (*)

1. PHP v7.4.13
2. magento EE 2.4.1
3. aws aurora cluster  Engine version 5.7.mysql_aurora.2.08.21 Writer & Reader

### Steps to reproduce (*)
configure app/etc/env.php
[code]
open admin pannel, so magento.local/admin > login > pannel page

### Expected result (*)
No errors!

### Actual result (*)
`General error: 1836 Running in read-only mode, query was: SELECT GET_LOCK(?, ?

[2020-12-03 10:17] gwharton opened #31146 "Multiple Security Vulnerabilities reported by Lighthouse in 2.4.1 JQuery and JQuery-Ui"
### Preconditions (*)

1. Deploy 2.4.1

### Steps to reproduce (*)

1. Using Google Chrome as Browser
2. Launch Dev tools and go to Lighthouse Tab
3. Analyse the 2.4.1 homepage
4. View the "Trust and Safety" section in "Best Practices"

### Expected result (*)

1. There should be no security Vulnerabilities found

### Actual result (*)

1. Lighthouse reports several, including one high security vu

[2020-12-03 10:26] test4295 commented on #30382
Any solution for this issue?

[2020-12-03 10:30] rvitaliy commented on #28897
@Alex88-hub
It's not just about performance!
With PHP 8, several improvements have been introduced in the language syntax that help improve the maintainability of the code.
For more information: https://stitcher.io/blog/new-in-php-8

I think it's a real shame that we can't take advantage of them yet.

[2020-12-03 10:34] DanielRuf commented on #31146
Yes, afaik.
Lighthouse does only a simple version check and does not check the code of the jQuery files. So basically this is a false positive.

[2020-12-03 10:40] qsolutions-pl commented on #31094
I can provide a database image to debug this issue.

[2020-12-03 10:48] magento-engcom-team commented on #31133
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39577` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-03 10:55] krishprakash commented on #29317
@magento give me 2.4-develop instance

[2020-12-03 11:10] NTK-2016 commented on #31026
hi @krishprakash  issue on 2.3.4

[2020-12-03 11:35] qsolutions-pl commented on #30798
Here is latest update, after small debugging session with @ihor-sviziev who dedicated his time to this. You have my sincere thanks for this Ihor. :tumbler_glass:

After connecting to `x-debug` to the project it turned out that the problem with indexes crashing / stopping the work is related to a plugin casued by `Amasty` module. However I still believe native Magento 2 indexer code should be chang

[2020-12-03 11:46] ihor-sviziev commented on #30798
Hi @sidolov,
According to the update in https://github.com/magento/magento2/issues/30798#issuecomment-737886556 - could we decrease priority and severity, maybe to P3 S3?

[2020-12-03 11:49] qsolutions-pl commented on #30798
Done

[2020-12-03 12:18] n2diving-dgx commented on #28614
Disabling guest checkout only works briefly, as the carder simply creates an account manually and then uses that to run the carding attack.  You MUST have a captcha solution enabled on the create/login account function.   I can also say, as much as it pains me to have to, in our Cloudflare WAF settings disabling China (N Korea) and Russia ASN's for checkout flow drastically reduced the frequency o

[2020-12-03 12:21] chichitsai0517 commented on #28614
I just checked the release notes for 2.4.1 and carding attacks was one of the issue they have fixed. So how come I am still getting attacked?!

[2020-12-03 12:27] engcom-Charlie commented on #31094
Hello, @qsolutions-pl we are not able to reproduce the issue on the latest `2.4-develop` and `elasticsearch 7.1.0` by the following steps:

1. Generate adjusted `medium` fixture (without orders. taxes, configurable products, etc) with 4000 simple products
2. Set `Description`, `Short Description` to 5000 chars, `Meta Keywords` to 255 for all simple products via `Mass Update`
3. Create a category w

[2020-12-03 12:37] engcom-Bravo commented on #31126
Hello @Eddcapone

Thank you for your report

We have rechecked the reported issue on Magento 2.4-develop and 2.4.1 and are not able to reproduce the Exception
The Instructions are displayed during checkout and the order is placed successfully
![bank_transfer](https://user-images.githubusercontent.com/51680745/101018842-c30fc080-3574-11eb-8ec4-c6dbac2ad42b.png)

So we have to close this issue. Plea

[2020-12-03 12:37] #31126 closed, assigned to engcom-Bravo

[2020-12-03 12:58] phpandrew commented on #13961
Yes, those variables will be posted exactly as that to the callback link.
No data is posted to the indentify URL, that you will need to pull the session data / from the DB and POST that back to the magento store to the oauth/token/request, then make another POST request to the oauth/token/access url

[2020-12-03 12:59] cdbessig commented on #28614
Is everyone using braintree in this thread?  I'm only seeing carding attacks across merchants using braintree.  We have not seen our other merchants (auth.net) get hit.  Probably because we're using a third party auth.net module and it maybe doesn't have high enough saturation for the hackers to script around when so many magento/braintree sites exist?

[2020-12-03 13:34] magento-engcom-team commented on #30880
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39579` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-03 13:36] rameshkpm1984 opened #31148 "1 exception(s): Exception #0 (Exception): Deprecated Functionality: implode(): Passing glue string after array is deprecated."
### Preconditions (*)

1.Add Products
2.Edit Products

### Steps to reproduce (*)

1.Add Products
2.Edit Products

### Expected result (*)

1. [Screenshots, logs or description]
2.
![image](https://user-images.githubusercontent.com/48516751/101024771-95d60900-359a-11eb-9a3c-985062a00e73.png)

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://dev

[2020-12-03 13:53] engcom-Bravo commented on #31144
Hello @stephansteiner

Thank you for your report
We have rechecked the reported issue on 2.4.1 and 2.4-develop versions

We have Imported the attached file into our Clean Magento Installation, in _Stores - Data Transfer - Import_ as "Product" _Entity Type_
The Import successfully was done
We have checked the number of relations in `catalog_product_link` table from the Database, and we can see 900

[2020-12-03 13:57] andrewbess commented on #31148
Hello @rameshkpm1984
The problem is reproduced due to a third-party module.
This is not Magento issue.

[2020-12-03 14:10] stephansteiner commented on #31144
Hi,
I can confirm that it works on Magento 2.4.1 as this issue has already been fixed by
MC-34657: Related products are missing in some products when importing.
(https://github.com/magento/magento2/commit/9c11e765ef213c2285481ed50e106d85d858bd3f)

[2020-12-03 14:15] sb-nick commented on #28614
@chichitsai0517 have you reached out to support to have them take a look at your system? Mage support jumped and helped me review and configure fastly rules and other items. I encourage everyone to reach out to support and their Magento customer reps to ask for help. Don't go at it alone, they will assist.

I'm guessing the attack your having is coming through the API layer. That new patch should

[2020-12-03 14:19] cengizcoskun commented on #28092
Did you find any solution? I have same problem.

[2020-12-03 14:49] chichitsai0517 commented on #28614
@sb-nick Thank you I am actually not with Braintree but with Moneris. How did you get the Recaptcha to work in frontpage Checkout? I tried in Customer>Customer Configuration>Captcha>Enable CAPTCHA on Storefront (Set to yes to Checkout/Placing Order). However it does nothing in the frontend checkout. If you are talking about google recaptcha on checkout frontend, there is not option for that in my

[2020-12-03 15:07] sivaschenko opened #31152 "Update Magento Coding Standard to version 6"
A new version 6 of Magento Coding Standard is available: https://github.com/magento/magento-coding-standard/releases/tag/v6

The composer.lock file should be updated to switch to the new version

[2020-12-03 15:23] m2-assistant[bot] opened #31153 "[Issue] [MFTF] Refactoring of AdminApplyTierPriceToProductWithPercentageDiscountTest"
This issue is automatically created based on existing pull request: magento/magento2#31147: [MFTF] Refactoring of AdminApplyTierPriceToProductWithPercentageDiscountTest

---------

### Description (*)
The test is refactored according to the best practices

### Manual testing scenarios (*)
1. Create a product
2. Set tier price with discount=fractional number
3. Go to STorefront and make assertions

[2020-12-03 15:23] m2-assistant[bot] opened #31154 "[Issue] Remove duplicated variables from one of less files"
This issue is automatically created based on existing pull request: magento/magento2#31150: Remove duplicated variables from one of less files

---------

### Description (*)

PR removes 2 duplicated values from one of the less files.

### Questions or comments

The removed code can also be found on lines 70, 71

### Contribution checklist (*)
 - [X] Pull request has a meaningful description of it

[2020-12-03 15:25] m2-assistant[bot] opened #31155 "[Issue] Change isDeferEnabled() to public function"
This issue is automatically created based on existing pull request: magento/magento2#31149: Change isDeferEnabled() to public function

---------
### Description (*)
It would be nice it `\Magento\Theme\Controller\Result\JsFooterPlugin::isDeferEnabled` was a public method, so we can use plugins to modify the outcome.

A use case for this would be to maybe disable defer JS on specific pages, this co

[2020-12-03 15:46] zakdma commented on #31083
@magento i am working on it

[2020-12-03 15:49] ihor-sviziev commented on #31148
Hi @rameshkpm1984,
As @andrewbess said - the issue goes from the 3rd party module, in your case, it's Rokanthemes/Brand.

You could contact to developers of this extension in order to fix your issue.

[2020-12-03 15:49] #31148 closed, assigned to ihor-sviziev

[2020-12-03 16:00] ihor-sviziev commented on #8975
Hi @franckgarnier21,
It seems to me as the issue was already fixed in the scope of https://github.com/magento/magento2/pull/25790.
Could you confirm that it's fixed already?

[2020-12-03 16:12] DanielRuf commented on #31146
These are covered by https://github.com/DanielRuf/snyk-js-jquery-565129:

CVE-2020-11022
CVE-2020-11023
CVE-2019-11358
CVE-2019-5428

https://github.com/DanielRuf/snyk-js-jquery-565129/blob/master/jquery-1.12.4.patch

As you can see at https://github.com/magento/magento2/pull/22418/files my PR only covered the prototype pollution part. Not sure fi the others landed there too. Changing the already

[2020-12-03 16:12] DanielRuf commented on #31146
These are covered by https://github.com/DanielRuf/snyk-js-jquery-565129:

CVE-2020-11022
CVE-2020-11023
CVE-2019-11358
CVE-2019-5428

https://github.com/DanielRuf/snyk-js-jquery-565129/blob/master/jquery-1.12.4.patch

As you can see at https://github.com/magento/magento2/pull/22418/files my PR only covered the prototype pollution part. Not sure if the others landed there too, this is probably not

[2020-12-03 16:13] ihor-sviziev commented on #27649
Hi @lbajsarowicz,
Seems like this issue was already fixed in https://github.com/magento/magento2/commit/ff1aa7e5f0a37bf13c9c466c50297843bd949d47 and not reproducing anymore in 2.4-develop branch.

Could you confirm that?

[2020-12-03 16:14] angelflo commented on #19710
Hi,

I have same problem on Magento 2.4.1 (using porto theme).
Does anyone have a fix for this version ?

Thanks a lot for your help

[2020-12-03 16:14] DanielRuf commented on #31146
These are covered by https://github.com/DanielRuf/snyk-js-jquery-565129:

CVE-2020-11022
CVE-2020-11023
CVE-2019-11358
(CVE-2019-5428 - rejected as duplicate)

These are covered by https://github.com/DanielRuf/snyk-js-jquery-174006:

CVE-2019-11358
(CVE-2019-5428 - rejected as duplicate)

https://github.com/DanielRuf/snyk-js-jquery-565129/blob/master/jquery-1.12.4.patch

As you can see at https://

[2020-12-03 16:15] DanielRuf commented on #31146
These are covered by https://github.com/DanielRuf/snyk-js-jquery-565129:

CVE-2020-11022
CVE-2020-11023
CVE-2019-11358
(CVE-2019-5428 - rejected as duplicate)

These are covered by https://github.com/DanielRuf/snyk-js-jquery-174006:

CVE-2019-11358
(CVE-2019-5428 - rejected as duplicate)

https://github.com/DanielRuf/snyk-js-jquery-565129/blob/master/jquery-1.12.4.patch

As you can see at https://

[2020-12-03 16:16] DanielRuf commented on #31146
These are covered by https://github.com/DanielRuf/snyk-js-jquery-565129:

CVE-2020-11022
CVE-2020-11023
CVE-2019-11358
(CVE-2019-5428 - rejected as duplicate)

These are covered by https://github.com/DanielRuf/snyk-js-jquery-174006:

CVE-2019-11358
(CVE-2019-5428 - rejected as duplicate)

https://github.com/DanielRuf/snyk-js-jquery-565129/blob/master/jquery-1.12.4.patch

As you can see at https://

[2020-12-03 16:17] engcom-Echo commented on #23793
Hi, @ron-jomashop.
The filter may not be displayed when only one range is found by the algorithm. And it can create the impression that it doesn't work.
app/code/Magento/CatalogSearch/Model/Layer/Filter/Price.php
![image](https://user-images.githubusercontent.com/51681435/101055003-2cea9300-3592-11eb-8cbb-9908dab643ea.png)
![image](https://user-images.githubusercontent.com/51681435/101055969-23155

[2020-12-03 16:24] lbajsarowicz commented on #27649
Looks like it is.

[2020-12-03 16:24] #27649 closed, assigned to ihor-sviziev

[2020-12-03 16:49] ringwood-dsg commented on #13961
Thank you so much for taking the time to assist me here. I'll continue on from here and get our integration completed using your instructions. You are definitely the Magento King and my hero!

[2020-12-03 17:00] katesuykovskaya commented on #26254
I;m gettong such comment for a bundle product that is out of stock - in this case section with bundle options is not present, as well as final/configured price block. And itemprop="offers" is added to the configured price block
Hope such case will help

[2020-12-03 17:21] korovitskyi commented on #31075
@magento I am working on this

[2020-12-03 17:50] qsolutions-pl commented on #31094
@engcom-Charlie I will share database image, just need to randomize some data - it will take a while.

[2020-12-03 18:14] magento-engcom-team commented on #30422
Hi @m2-assistant[bot].

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39136` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.2` release.

[2020-12-03 18:17] sidolov commented on #30798
@ihor-sviziev done! Thank you guys for the investigation!

[2020-12-03 18:20] Grumag commented on #28614
Seems that 2.3.6 with patch completely stopped the attacks. However our logs now have a critical error and a customer just notified us that she couldn't pay and that she saw are "rate limiter" message in red that flashed. Any ideas someone?

[2020-12-03 17:12:10] main.CRITICAL: Type Error occurred when creating object: Magento\Checkout\Model\CaptchaPaymentProcessingRateLimiter, Too few arguments t

[2020-12-03 18:27] dloca68 commented on #25221
same problem with 2.3.5-p2, resolved with AndyJAllen solution and making clear cache and static deploy

Thanks a lot to AndyJAllen !

[2020-12-03 18:39] kinexm commented on #28614
See the link below if you are having issues with Magento captcha on 2.3.6

https://support.magento.com/hc/en-us/articles/360051235772

[2020-12-03 18:45] Grumag commented on #28614
Yes, we have applied the patches. The customers are not promoted for captcha nor to re-enter captcha. It is something else, and I saw someone else report it on magento stackexchange.

main.INFO: Reference to undeclared plugin with name 'priceIndexUpdater'
followed by:
main.CRITICAL: Type Error occurred when creating object:
Magento\Checkout\Model\CaptchaPaymentProcessingRateLimiter

Mage Version:

[2020-12-03 18:50] DmitryFurs commented on #30691
@magento-engcom-team @engcom-Alfa I think that the task is not done to the end, in the comments above there are details. can someone reopen the issue?

[2020-12-03 19:26] engcom-Delta commented on #28136
Hi @GGMCarl thank you for your report. I checked issue on 2.4-develop. Seems like this behavior is not an issue as price `10.56` is converted into `10,56`, in my case, if admin panel locale is German.
**Manual testing scenario:**
- Set admin Interface Locale=German
- Import scv file with decimal separator is '.'
[import.csv.txt](https://github.com/magento/magento2/files/5638481/import.csv.txt)

**

[2020-12-03 19:26] #28136 closed, assigned to nobody

[2020-12-03 19:38] magento-engcom-team commented on #28236
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39609` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-03 19:52] engcom-Delta commented on #28107
Hi @catalyst-steve thank you for your report, I'm not able to reproduce issue by steps you described on clean EE 2.4-develop
**Manual testing scenario:**

- Create Gift Card
![image](https://user-images.githubusercontent.com/51681379/101080228-2e778380-35b1-11eb-9551-ac0e05d136b0.png)
- Place order with created gift card
- Generate admin bearer token
- Do a GET request to https://[DOMAIN]/rest/V1/

[2020-12-03 23:33] Lunaetic commented on #31121
@magento I am working on this

[2020-12-04 00:23] ecrocombe commented on #31119
@magento give me 2.4-develop instance

[2020-12-04 00:29] timh5690 commented on #25099
Hi Alex,

I am having this issue with Magneto 2.3.6. The category images I am uploading are not showing up after updating to this version of Magento. I have tried installing the Cogensoft folder under app/code, run setup:upgrade, setup:compile, and redeployed static content. But I am still having the same issues. Do you have any other recommendations for me? I would really appreciate the help.

Th

[2020-12-04 04:07] #28553 closed, assigned to dani97, shikhamis11, mauragcyrus

[2020-12-04 06:29] mrtuvn commented on #30798
Here we go again "Amasty" behavior cause issue. Good use-case for check magento core work with 3rd-party module

[2020-12-04 06:39] jasminrathod commented on #31124
Did you find any solution. for this

please find attachment which show on site
[image: image.png]

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Thu, Dec 3,

[2020-12-04 06:49] angelflo commented on #19710
For info I fix it by adding in my porto theme >> view.xml file :

    <image id="product_swatch_image_large" type="image"/>
    <image id="product_swatch_image_medium" type="image">
        <width>240</width>
        <height>300</height>
    </image>

=> use same width and height that the value you have defined for  <image id="category_page_grid" type="small_image"> in this file.

[2020-12-04 07:14] vk44295 commented on #31087
Hi, @engcom-Alfa I got the solution by myself, As I add some code in the .htaccess file, and it's working fine now.

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

Thanks for your support.

[2020-12-04 07:25] jasminrathod commented on #31124
Create a configurable product
Create an order;
Set "out of stock" for Test product simple
Go to Sales -> Orders and open created before order for edit;
Click on the Reorder button;

![image](https://user-images.githubusercontent.com/75366456/101134097-dfbcfe80-362f-11eb-922e-a33c40722e6f.png)

[2020-12-04 07:25] m2-assistant[bot] opened #31160 "[Issue] [MFTF] Refactoring of AdminMassUpdateProductAttributesMissingRequiredFieldTest"
This issue is automatically created based on existing pull request: magento/magento2#31079: [MFTF] Refactoring of AdminMassUpdateProductAttributesMissingRequiredFieldTest

---------
### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)
1. Create 2 simple products
2. Go to Admin->Catalog->Products
3. Request mass update for pr

[2020-12-04 07:37] webrod opened #31161 "Cannot set values for my default scope"
### Preconditions (*)

1. magento 2.4.1

### Steps to reproduce (*)

1. Add 2 store views. foo1 and foo2. so now we have 3 websiteid=> 0(admin), 1(foo1) and 2 (foo2)
2. Set a value to a category attribute like category name with admin scope (pick ALL STORE VIEWS in "scope" drop down list), like "my cat1"
3. Set a different value for "foo1" store view like "my category 1"
4. frontend (store view=fo

[2020-12-04 08:51] Pavel-Fekete commented on #31125
Reproducible on the latest 2.4.1.
_'catalog_product_entity'_ table contain identical values.

[2020-12-04 09:00] krishprakash commented on #30425
@aryancedcoss, Closing this issue due to inactivity
Feel free to reopen with appropriate feedback
Thanks!!

[2020-12-04 09:00] #30425 closed, assigned to nobody

[2020-12-04 09:19] engcom-Bravo commented on #31125
Hello @stormbyte

Thank you for your report.

We confirm that the issue is reproducible on the latest 2.4-develop.
Additional info from Engcom is added to the description

[2020-12-04 09:24] rama-tm opened #31163 "Create a order from magento 2 admin with multiple website return Invalid customer address id error"
### Preconditions (*)

1. Magento 2.3.4 CE
2.

### Steps to reproduce (*)

1. Create two websites with different stores and store views.

2. Create a customer (xxx@xxx.xxx) from the Germany website and add the address for that user.
3. Goto Admin -> Sales -> Order -> Create New order -> Select the existing customer(xxx@xxx.xxx).
4. Then select the store view ( Select the English store view).
5. No

[2020-12-04 09:27] magento-engcom-team commented on #31125
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39625` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-04 10:45] krishprakash commented on #31163
@magento give me 2.4-develop instance

[2020-12-04 11:12] Eddcapone commented on #31126
I debugged the Method `getInstructions()` in vendor/magento/module-payment/Block/Info/Instructions.php

[code]

If I change `if ($this->_instructions == null) {` to `if ($this->_instructions != null) {` then it is forced to reload the instructions and the error disappears. The question is, why does my instructions contain this:

[code]

[2020-12-04 11:14] engcom-Hotel commented on #30798
Hello @qsolutions-pl.
I have been able to reproduce the issue.
Steps to reproduce:
1. Add 3rd party code with after plugin like in the attachment
[How_to_break_the_indexer.zip](https://github.com/magento/magento2/files/5642057/How_to_break_the_indexer.zip)

2. Follow steps from https://github.com/magento/magento2/issues/30798#issuecomment-734897736

Because of the plugin on getSearchableProducts d

[2020-12-04 11:21] Eddcapone commented on #31126
I figured out that the problem is coming from a payment extension (Threepartment_Debitpayment) that we are using. There is a bug somewhere. I will try to write a plugin for the `getInstructions()` method and check if it is an array and if true, then return an empty string. This should fix it.

[2020-12-04 11:59] gaiterjones commented on #29797
@bibz0r for Magento 2.4.x in `app/code/Magento/AsynchronousOperations/etc/db_schema.xml` change

`<column xsi:type="int" name="operation_key" padding="10" unsigned="true" nullable="false"`

to

`<column xsi:type="int" name="operation_key" padding="10" unsigned="true" nullable="true"`

then `run bin/magento s:up`

Old jobs might well still be stuck but new jobs should complete.

[2020-12-04 12:07] anvanza opened #31167 "Argument 6 missing in SaveImageInformation"
### Preconditions (*)
1. Magento 2.4.1 with PHP 7.4

### Steps to reproduce (*)
1. Use module (Firebear import) to import images with the command line

### Expected result (*)
1. Images are imported

### Actual result (*)
Type Error occurred when creating object: Magento\MediaGalleryIntegration\Plugin\SaveImageInformation, Argument 6 passed to Magento\MediaGalleryIntegration\Plugin\SaveImageInform

[2020-12-04 12:12] engcom-Bravo commented on #31144
@stephansteiner Thank you for the quick response.
So if the issue is not reproducible on 2.4.1 and 2.4-develop, we can close it.
Please feel free to comment, or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-12-04 12:14] #31144 closed, assigned to engcom-Bravo

[2020-12-04 12:29] catalyst-steve commented on #28107
Hi @engcom-Delta

I can see that your response contains data for items[*].product_option.extension_attributes.giftcard_item_option, but the extension_attributes part in bold containing the giftcard_created_codes is missing:
items[*].product_option.extension_attributes.giftcard_item_option**.extension_attributes.giftcard_created_codes**

Kind regards,
Steve

[2020-12-04 13:18] engcom-Kilo commented on #24619
Hello @arendarenko
I'm not able to reproduce this issue on latest 2.4-develop
![OneCulumnLayoutUpdate](https://user-images.githubusercontent.com/60192090/101168313-f0776f80-3643-11eb-8c9f-654172214c9e.gif)
Could you please add more details, or correct steps I did?

[2020-12-04 13:18] #24619 closed, assigned to nobody

[2020-12-04 13:21] magento-engcom-team commented on #24619
Hi @arendarenko.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24209` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.2` release.

[2020-12-04 13:23] magento-engcom-team commented on #24619
Hi @arendarenko.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24209` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.2` release.

[2020-12-04 13:33] magento-engcom-team commented on #28432
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39631` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._