[2019-10-15 07:12] jsdupuis commented on #25063
@shikhamis11
thank you for checking. we are not planning to upgrade to 2.3 shortly. Will try to find a solution by our own.

[2019-10-15 07:12] #25063 closed, assigned to shikhamis11

[2019-10-15 07:19] patrick-bigbridge commented on #22747
Thanks!

[2019-10-15 07:36] itwebdev2 commented on #25050
You've made the title really long but the actual content is only "test1". Could you please do another test but make the actual content of the additionalOption longer than 55 characters?

[2019-10-15 07:41] simon-saurabh commented on #24484
@krisdante Thanks for the help, the above hint fix the issue for me as I have only created view.xml for frontend theme and I was specifying product_page_image_large  param there but there was no view.xml for backend and thats why setting was coming as blank for sitemap.xml as I was generating it from backend.

[2019-10-15 08:07] magento-engcom-team commented on #22274
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21821` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-15 08:21] soumyamol-mathew commented on #24986
@elvinristi I am using the Global Payments extension https://marketplace.magento.com/realexpayments-hpp.html

[2019-10-15 08:33] RonakParmar opened #25065 "Address Book Tab is not Active after Saving the Address at My Account Page"
### Preconditions (*)

1. Magento 2.3
2. PHP 7.2

### Steps to reproduce (*)

1. Do Login at Fronend
2. Go to My Account Page
3. Click on "Address Book", this tab is showing as selected.
4. Add New Address or Edit Address and save it.
5. Check the "Address Book" tab is not showing as selected.

### Expected result (*)

1. The "Address Book" tab should be selected.

### Actual result (*)

1. The "A

[2019-10-15 08:36] krishprakash commented on #25065
@magento give me 2.3.3 instance

[2019-10-15 08:36] magento-engcom-team commented on #25065
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-15 08:37] magento-engcom-team commented on #25065
Hi @krishprakash, here is your [Magento instance](https://i-25065-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25065-2-3-3.instances.magento-community.engineering/admin](https://i-25065-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 08:38] krishprakash commented on #25065
@magento give me 2.3-develop instance

[2019-10-15 08:39] magento-engcom-team commented on #25065
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-15 08:39] magento-engcom-team commented on #25065
Hi @krishprakash, here is your [Magento instance](https://i-25065-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25065-2-3-develop.instances.magento-community.engineering/admin](https://i-25065-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 08:42] magento-engcom-team commented on #25065
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21822` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-15 09:32] magento-engcom-team commented on #25028
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21823` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-15 09:45] beamingbaby commented on #22112
Hi - We have installed the new release: Magento 2.3.3
but we are still getting the same error:
 "The shipping address is missing. Set the address and try again."

![image](https://user-images.githubusercontent.com/43178422/66820610-ecb4f500-ef38-11e9-9df9-1881320a164d.png)

[2019-10-15 09:55] vandark25 opened #25067 "Bug when update 2.3.1 to 2.3.3 - Duplicated labels of adress Duplicate Street Address: Line 1 and Tooltip css problems"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.2
3. Redis Cache and Sessions

### Steps to reproduce (*)

1. Upgrade 2.3.1 to 2.3.3
2. Go to checkout for see the errors.

### Expected result (*)

Checkout as native magento.

### Actual result (*)

1. https://ibb.co/N157KcX
2. https://i.stack.imgur.com/9niUY.png

[2019-10-15 10:31] magento-engcom-team commented on #25052
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-15 10:32] magento-engcom-team commented on #25052
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21824` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-15 10:36] magento-engcom-team commented on #24332
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21825` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-15 10:38] engcom-Charlie commented on #10702
Hello @chris-pook
Your issue for Magento inventory modules.

Please refer to the [Magento Inventory repository](https://github.com/magento/inventory/issues) with your issue, for advice or general discussion.

[2019-10-15 10:38] #10702 closed, assigned to engcom-Charlie

[2019-10-15 11:00] ihor-sviziev opened #25068 "Marketing Email preview doesn't work with enabled js minification"
### Preconditions (*)
1. Magento 2.3.2-p2, Magento 2.3.3, Magento 2.3-devlop
2. Enable JS minification in Admin >> Stores >> Configuration >> JavaScript Settings >> "Minify JavaScript Files" set to "Yes"
3. Switch magento to production mode

### Steps to reproduce (*)
1. Go to Admin >> Marketing >> Communications >> Email Templates
2. Click "Add New Template"
3. Select "New Order" template
4. Clic

[2019-10-15 11:03] shikhamis11 commented on #25068
@magento give me 2.3-develop instance

[2019-10-15 11:03] magento-engcom-team commented on #25068
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-15 11:04] magento-engcom-team commented on #25068
Hi @shikhamis11, here is your [Magento instance](https://i-25068-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25068-2-3-develop.instances.magento-community.engineering/admin](https://i-25068-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 11:27] sudheers-kensium commented on #25048
@gibbotronic I am not able to reproduced the issue.

[2019-10-15 11:30] magento-engcom-team commented on #25053
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21830` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-15 11:31] #25048 closed, assigned to nobody

[2019-10-15 11:33] shikhamis11 commented on #25068
Hello @ihor-sviziev
thank you for reporting this issue , I checked it on 2.3-develop instance email template preview works fine  , there are some errors on console but those are related to CORS .
Can you Please take a look ?

[2019-10-15 11:38] ihor-sviziev commented on #25068
@shikhamis11,
I see that changed from 2.3.3 and 2.3.2-p2 wasn't merged to 2.3-develop branch, so it will appear once it will be merged. As for now - you could try to reproduce it in 2.3.3.

[2019-10-15 11:40] mertgokceimam commented on #12512
@sdzhepa the issue still occurs on 2.2.9 Enterprise version

Can you please supply us the link for the fix on github so we can double check if the fix is in 2.2.9 or not. From my perspective it is not fixed on 2.2.9 and this is a painful bug for front end users that effects conversion ratio's greatly.

[2019-10-15 12:05] gukandrew commented on #14575
@magento-engcom-team ^

[2019-10-15 12:21] gwharton commented on #25043
Infact, this looks like it affects many more images than just the logo.

[2019-10-15 12:41] pusachev opened #25069 "Not clear code in product custom options import"
### Preconditions (*)

1. Magento 2.3.2
2. php7.2

### Steps to reproduce (*)

1. Create product with custom options in file without 'store_view_code' field
2. Start import product

### Expected result (*)

Notice: Undefined index: store_view_code in vendor/magento/module-catalog-import-export/Model/Import/Product/Option.php on line 2046

### Actual result (*)

Throw exception if field 'store_view

[2019-10-15 12:46] avoelkl commented on #23450
I just came accross this issue.
We updated recently form 2.3.2 to 2.3.3 and the issue exits in Magento Open Source 2.3.3.

Running the command manually works as a temporary fix:
`php bin/magento queue:consumers:start exportProcessor`

[2019-10-15 12:50] gwharton commented on #25043
Seems related to the addition of max-height:100% and the removal of height:auto from the img tag in the luma style.

[2019-10-15 12:51] magento-engcom-team commented on #10304
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21832` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-15 13:02] proudnerduser88 commented on #24995
@shikhamis11  Thanks for checking, what decimal value have you tried? Because above 0 it works, but 0.5 it does not.

[2019-10-15 13:11] Anas-MI commented on #766
Uncaught Error: Class 'Magento\Framework\Autoload\AutoloaderRegistry'

[2019-10-15 13:33] jissereitsma commented on #24992
Two things that strike me about this bug, without knowing the actual solution yet: One, the PHTML file that throws the error is "minified" (so it becomes a single line with 2 opening tags). Two, why is this PHTML template copied to a `var/view_preprocessed/pub/static` folder anyway, while it should never end up in the folder `pub` because it is not a web-accessible file?

Did somebody create a dep

[2019-10-15 13:52] jaxtheking opened #25072 "New Order not sending if a comma is followed by a blank space in the 'Send Order Email Copy To' field"
### Preconditions (*)

Magento 2.3.3
php7.1

### Steps to reproduce (*)

1. In the BO, go to Stores >> Configuration >> Sales >> Sales Emails
2. Under Orders, in the 'Send Order Email Copy To' field, enter a list of emails in the following format: 'admin1@email.com, admin2@email.com' (note the blank space after the comma)

### Expected result (*)

1. The New Order email should be sent to the custo

[2019-10-15 13:56] gjportegies commented on #24023
@milindsingh why is this issue suddenly closed? The issue is still appearing in 2.3.3. Please reopen this issue.

[2019-10-15 13:57] dev-Z-Apx opened #25073 "Magento Release 2.3.3 Product Dimensions"
### Preconditions (*)

1. Fresh Magento version 2.3.3
2. Upgrade from 2.3.2 to 2.3.3

### Steps to reproduce (*)

1. You only need a fresh install of latest Magento Version 2.3.3 and just go to Catalog and try to add a New Product.
2. Just go to Catalog and try to edit any product.

### Expected result (*)

1. In this case the page should show Dimensions (Length, Width and Height) Attributes for t

[2019-10-15 14:00] sudheers-kensium commented on #25073
@magento give me 2.3-develop

[2019-10-15 14:05] sudheers-kensium commented on #25073
@magento give me 2.3-develop instance

[2019-10-15 14:05] magento-engcom-team commented on #25073
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-15 14:06] magento-engcom-team commented on #25073
Hi @sudheers-kensium, here is your [Magento instance](https://i-25073-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25073-2-3-develop.instances.magento-community.engineering/admin](https://i-25073-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 14:20] sudheers-kensium commented on #25073
@magento give me 2.3.2 instance

[2019-10-15 14:20] magento-engcom-team commented on #25073
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-10-15 14:21] magento-engcom-team commented on #25073
Hi @sudheers-kensium, here is your [Magento instance](https://i-25073-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-25073-2-3-2.instances.magento-community.engineering/admin](https://i-25073-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 14:27] fritzmg commented on #23411
Is this issue still on the radar of the Magento developers? Because the [PR](https://github.com/magento/magento2/pull/23952) of @david-fuehr was closed due to inactivity... and it's very annoying to have the exception log flooded with this message. Makes it inconvenient to find _real_ exceptions.

[2019-10-15 14:29] magento-engcom-team commented on #25073
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-15 14:32] magento-engcom-team commented on #24964
Hi @abdulmueid, @shikhamis11, @maheshWebkul721.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.4` release.

[2019-10-15 14:32] #24964 closed, assigned to shikhamis11, mahesh-rajawat

[2019-10-15 14:34] magento-engcom-team commented on #25073
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21834` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-15 14:38] twoonesixdigital commented on #24993
Great catch @tiberiucontiu  This was my problem as well. You made my day, thank you.

I believe this issue can now be closed. It was indeed a result of a non-standard /app/etc/di.xml file.

[2019-10-15 14:38] #24993 closed, assigned to shikhamis11

[2019-10-15 14:46] itwebdev2 commented on #24218
@magento give me 2.3.3 instance

[2019-10-15 14:46] magento-engcom-team commented on #24218
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-15 14:47] magento-engcom-team commented on #24218
Hi @itwebdev2, here is your [Magento instance](https://i-24218-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-24218-2-3-3.instances.magento-community.engineering/admin](https://i-24218-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 14:48] magento-engcom-team commented on #23340
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21835` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-15 14:52] mamsincl opened #25074 "Cannot instantiate interface Magento\Downloadable\Api\DomainManagerInterface"
The following issue occured during bin/magento setup:upgrade:
PHP Fatal error:  Uncaught Error: Cannot instantiate interface Magento\Downloadable\Api\DomainManagerInterface in /var/www/html/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php:116

### Preconditions (*)

Magento 2 Commerce 2.3.3 after upgrade from 2.3.2

Upgrade process happened as:
1. `composer require magento/produc

[2019-10-15 14:53] krishprakash commented on #25073
Hi @dev-Z-Apx. Thank you for your report.
Closing this issue as Issue is duplicate to #24948
Thanks

[2019-10-15 14:53] #25073 closed, assigned to nobody

[2019-10-15 15:09] domi-nique commented on #24422
Would be also interesting for us. It is a big problem because we are using this functionality in magento 1. Will it be fixed soon?

[2019-10-15 15:16] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-10-15 15:16] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-15 15:17] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 15:22] stathis opened #25075 "Magento 2.2.6 constantly issuing multiple PURGE .* requests to Varnish at every page load"
### Preconditions (*)
Running 2.2.6 on Ubuntu 18.04 with Nginx + Varnish 5 + PHP 7.1
Varnish config is Magento default.

### Steps to reproduce (*)
Enable Varnish.

### Expected result (*)
Varnish to work like it used to.

### Actual result (*)
Looking at my varnish log I get tons of these:
[code]

And in the meantime, the output of `varnishlog -g request -q 'ReqMethod eq "PURGE"'` is a constant s

[2019-10-15 15:28] slogsdon commented on #24986
@soumyamol-mathew @elvinristi My team at Global Payments manages the [Heartland Magento 2 integration](https://github.com/hps/heartland-magento2-module) but doesn't manage the [Global Payments Magento 2 integration](https://marketplace.magento.com/realexpayments-hpp.html) at this time. That being said, I can help run this down.

@soumyamol-mathew Let's use your other [open issue on globalpayments/

[2019-10-15 15:42] dhvanit121288 commented on #16958
I have the same error in 2.2.9 tomado shipping is allready disabled

I have also tried following solution but in name.php there is already " &$remainder = ''," value set

solution link : https://github.com/magento/magento2/pull/20849/files/891123b5b3683f6bee77f8488f60e1e7a9a90d71
 app/code/Magento/Sales/Block/Adminhtml/Items/Column/Name.php

[2019-10-15 16:23] jaminion opened #25076 "Magento 2.3.3 notifications converted to attachments in MS Exchange - Disposition Header"
### Preconditions (*)

1. Magento version 2.3.3 (worked fine previously on 2.3.2)
2. Outlook 2010 behind MS Exchange 2010 (don't have later version accessible for immediate testing with this project), or Outlook Web Access, have also confirmed with Mail clients on Mac, iPhone and Android that pull mail from this Exchange server
3. Issue does not appear to affect rendering from Gmail/etc - seems to

[2019-10-15 18:34] MackieeE commented on #25053
Am I correct in thinking this is affecting any is component that uses the mage collapsible/tabs library?

[2019-10-15 18:34] hostep commented on #25029
It's actually a duplicate of https://github.com/magento/magento2/issues/24968

Which was already fixed by https://github.com/magento/magento2/pull/24086
Fix will most likely be included in Magento 2.3.4

[2019-10-15 18:37] jaminion commented on #25076
@magento give me 2.3-develop instance

[2019-10-15 18:37] magento-engcom-team commented on #25076
Hi @jaminion. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-15 18:38] magento-engcom-team commented on #25076
Hi @jaminion, here is your [Magento instance](https://i-25076-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25076-2-3-develop.instances.magento-community.engineering/admin](https://i-25076-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-15 19:00] sdzhepa commented on #25038
Hello @piotrusin

Thank you for contribution and collaboration!

The hotfix for this Issue is published and available for download on magento.com portal here https://magento.com/tech-resources/download#download2331

Could you please apply patch and confirm that the issue is fixed?

[2019-10-15 19:11] jaminion commented on #25076
I'm sorry - I set up quick on this develop instance, but it doesn't appear like email's going anywhere from it, I'm not receiving anything.

That is probably by design. It would be a spammer's delight if they could just keep asking for instances from you guys and send mail all day. I understand. I'm thinking through setting up a third party smtp somewhere - but this ends up being public credential

[2019-10-15 19:51] magento-engcom-team commented on #22272
Hi @peterjaap, @diwipl.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [2d1f8ca5d13c626000b34002704de9e0a99d3d99](https://github.com/magento/magento2/commit/2d1f8ca5d13c626000b34002704de9e0a99d3d99)

The fix will be available with the upcoming `2.3.4` release.

[2019-10-15 19:56] krisdante commented on #24484
You miss-understood me, and that also confirms that you did not apply patch properly.
The pach reads this setting from frontend. It is good that this setting is not set for backend. THet's teh whole fix - settings age read from frontend view.xml.

[2019-10-15 22:57] MichaelThessel opened #25077 "Braintree extension Broken in multiple ways"
### Preconditions (*)

1. 2.3.3, all modules updated
2. Braintree needs to be disabled

### Steps to reproduce (*)

1. Add product to cart, check cart page or minicart

### Expected result (*)
1. Don't have additional paypal buttons if PP is not enabled
2. If the module is not enabled no Braintree specific JS should be loaded on the cart page

### Actual result (*)
There are several things broken

[2019-10-15 23:17] MichaelThessel opened #25078 "Paypal Credit Button shows in minicart and cart page"
### Preconditions (*)

1. 2.3.3 all modules up to date

### Steps to reproduce (*)

1. Enable Paypal Expres Checkout
2. Make sure PP Credit is disabled
3. Add product to cart
4. Check mini cart or cart page

### Expected result (*)

1. No additional Paypal Credit Button shows

### Actual result (*)

1. I see an additional PP credit button

![20191015_161602](https://user-images.githubusercontent.c

[2019-10-15 23:30] extremeskillz commented on #25043
I can confirm this on my install today.
Interestingly enough 2.3.3 fixed an issue I was having in 2.3.2 where the mobile version wouldn't scale on mobile browsers. 2.3.3 is now doing that properly but the height isn't adjusting. See attached screenshot.
![Screenshot from 2019-10-15 19-29-20](https://user-images.githubusercontent.com/40648180/66877074-22320080-ef82-11e9-9f1c-58900a3936fe.png)

[2019-10-16 01:03] admin-PMG opened #25079 "Cannot update Google Analytics Code in Magento 2.2.8"
### Preconditions (*)

1. Magento 2.2.8
2. Firefox and Chrome browsers both tried

### Steps to reproduce (*)
1. Set up new Google Analytics account, grab Tracking ID from Google.
2. Log in to Magento site. Navigation = Stores >> Configuration >> Sales >> Google API >> Google Analytics >> (change Account Number) Enable = yes. Anonomize = no. Enable Content Experiments = no.
3. Click Save Config
4.

[2019-10-16 01:58] erikhansen commented on #24025
For the record, I encountered this issue on a Magento OS 2.3.2 site, as several Amasty extensions were calling `\Magento\Framework\App\ProductMetadata::getVersion`. After applying #24030 as [a patch](https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/24030.patch) (via [composer-patches](https://www.classyllama.com/blog/create-apply-patches-magento-2)), the ~100ms slowdown went away

[2019-10-16 02:06] stathis commented on #25075
Found an evil extension responsible for it which shall not be named.
Closing issue.

[2019-10-16 02:06] #25075 closed, assigned to nobody

[2019-10-16 04:28] ajijshekh123 commented on #25078
Give me @magento give me 2.3-develop instance

[2019-10-16 04:28] magento-engcom-team commented on #25078
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-16 04:29] magento-engcom-team commented on #25078
Hi @ajijshekh123, here is your [Magento instance](https://i-25078-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25078-2-3-develop.instances.magento-community.engineering/admin](https://i-25078-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-16 05:03] ajijshekh123 commented on #25078
I have reviewed this issue. I haven't entered the Publish ID on 'Paypal Credit' options. In the Shopping cart page there are 2 buttons are displaying the 'Paypal' & 'Paypal Credit' button.
I think it will Paypal features or It may be an issue.

See attached screenshot:

![Paypal Payment_Screenshot](https://user-images.githubusercontent.com/24711761/66888977-4d5a3580-effe-11e9-8e0c-9dbd61de5662.png

[2019-10-16 05:04] magento-engcom-team commented on #25078
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21856` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 05:17] dev-Z-Apx commented on #25073
Hi @krishprakash
Thank you for that
I just want to know till when this issue will be solved as there are many of my customers using my shipping Modules will be reporting this issue to me.

[2019-10-16 06:07] sudheers-kensium commented on #25079
@magento give me 2.3-develop instance

[2019-10-16 06:07] magento-engcom-team commented on #25079
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-16 06:07] magento-engcom-team commented on #25079
Hi @sudheers-kensium, here is your [Magento instance](https://i-25079-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25079-2-3-develop.instances.magento-community.engineering/admin](https://i-25079-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-16 06:12] sudheers-kensium commented on #25079
@admin-PMG I am not able reproduced in Magento 2.3-develop instance. May be this issue fixed in latest Magento version.

[2019-10-16 06:12] #25079 closed, assigned to sudheers-kensium

[2019-10-16 06:18] sudheers-kensium commented on #25077
@MichaelThessel this is duplicate issue so I am closing this issue.

[2019-10-16 06:20] MichaelThessel commented on #25077
Duplicate of which ticket?

[2019-10-16 06:21] MichaelThessel commented on #25077
@sudheers-kensium can you please reference the duplicate ticket?

[2019-10-16 06:27] sudheers-kensium commented on #25077
#25078

[2019-10-16 06:30] sakbari commented on #25072
Centos 7
Magento CLI 2.3.3
PHP 7.2.23
nginx version: nginx/1.16.1
redis-cli 5.0.5

I have same issue we did not get a copy of order mail

[2019-10-16 06:32] MichaelThessel commented on #25077
Not a duplicate I created that ticket as well. It's a different issue. The only thing that this has in common is that there is a additional button even though the extension is not enabled. The fact that you cannot disable the extension and that you get errors in the Chrome dev console is just happening for the Braintree module.

[2019-10-16 06:43] muhammadmasoom commented on #24986
@soumyamol-mathew @slogsdon @elvinristi
since the module doesn't use native approach to setting payment data, you have to delete __disableTmpl property from paymentData. I had this issue on another third party payment method. I deleted this property by the following

`if (Object.prototype.hasOwnProperty.call(paymentData, '__disableTmpl')) {
                delete paymentData.__disableTmpl;

[2019-10-16 06:48] soumyamol-mathew commented on #24986
@muhammadmasoom

Where do I include this code?

[2019-10-16 07:11] engcom-Delta commented on #16531
Issue is reproducible on 2.3-develop branch: php7.2 without `fileinfo` php extension
![#16531issue](https://user-images.githubusercontent.com/51681379/66896360-526ab500-effd-11e9-81ef-b272cd1f56a9.png)

[2019-10-16 07:13] magento-engcom-team commented on #16531
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21858` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 07:34] mystix commented on #24986
You are absolutely right @elvinristi , my theme had a js override which was messing with
`vendor/magento/module-checkout/view/frontend/web/js/action/set-payment-information.js`

The correct callchain for PaylPal Express checkout should be:
  - vendor/magento/module-paypal/view/frontend/web/js/action/set-payment-method.js
  - vendor/magento/module-checkout/view/frontend/web/js/action/set-payment-in

[2019-10-16 07:39] vandark25 commented on #25067
Close issue, its caused by porto theme and magento 2.3.3
So its necessary making a changes in these files
app/design/frontend/Smartwave/porto/Magento_Checkout/web/css/source/module/checkout/_tooltip.less
app/design/frontend/Smartwave/porto/Magento_Customer/web/css/source/_module.less
app/design/frontend/Smartwave/porto_rtl/Magento_Checkout/web/css/source/module/checkout/_tooltip.less
app/design/fr

[2019-10-16 07:50] bhargavsejpalindianic commented on #18251
Same issue here

[2019-10-16 07:58] cedarvinda opened #25081 "Minicart Qty update button not aligned proper"
Minicart Qty update button not aligned proper

### Preconditions (*)
1. php 7.2
2. Magento 2.3.x

### Steps to reproduce (*)
1. Open Frontend
2. Add any product in cart
3. Make screen mobile view
4. Now click on mini cart and update quantity (Like: from 1 to 2) update button will see there now
compare with screenshot

### Expected result (*)
![image](https://user-images.githubusercontent.com/26018

[2019-10-16 08:01] magento-engcom-team commented on #25081
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21859` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 08:28] #25067 closed, assigned to nobody

[2019-10-16 08:34] boban-dj commented on #25052
just to clear for myself, the issue is being worked on? same issue here 2.3.3, php7.2.
seems jquery-ui is not loading in frontend.

[2019-10-16 08:39] develth commented on #22743
Fixed it for me, too & does not seems to be fixed in 2.3.3

[2019-10-16 09:02] magento-engcom-team commented on #24946
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21860` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 09:12] edenduong commented on #25072
I am working to fix this issue

[2019-10-16 09:14] mamsincl commented on #25074
running `php -d memory_limit=-1 bin/magento setup:di:compile` twice will picking up the preference for Magento\Downloadable\Api\DomainManagerInterface into **_generate/metadata/global.php_** at second time

[2019-10-16 09:30] LouNik1984 opened #25084 "Magento 2.3.2 wrong product url with multiple store views"
This issue is similar to (not the same as) #16134 which is marked as closed even if the url issue is not fixed:

### Preconditions (*)
- magento 2.3.2 (fresh install) on nginx 1.12.2 and php 7.1.31

### Steps to reproduce (*)
- create two or more store views
- create products programmatically (code instead of backend admin)

### Expected result (*)
- on frontend, url for products should be www.dom

[2019-10-16 09:36] magento-engcom-team commented on #25072
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21863` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 10:03] engcom-Charlie commented on #22392
Hello @ioweb-gr
We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.
**Result:**
User is able to scroll up and down normally
**GIF:**
![Peek 2019-10-16 12-45](https://user-images.githubusercontent.com/51680850/66909331-3b37c180-f015-11e9-9452-eb512b0f1a9b.gif)
So i have to close this issue.
Thanks for your report!

[2019-10-16 10:05] engcom-Delta commented on #22313
Hi @orionpt thank you for your report. I am not able to reproduce issue by steps you described on  2.3-develop.
![#22313issue](https://user-images.githubusercontent.com/51681379/66909185-fb70da00-f014-11e9-9d93-805044c1a4b8.png)

If you'd like to update issue, please reopen it.

[2019-10-16 10:05] #22313 closed, assigned to engcom-Delta

[2019-10-16 10:05] cedarvinda opened #25086 "If you going to reorder for Virtual product or Downloadable Product from admin panel "You don't need to select a shipping address." this label overlapping over the checkbox"
If you going to reorder for Virtual product or Downloadable Product from admin panel **"You don't need to select a shipping address."** this label overlapping over the checkbox

### Preconditions (*)
1. php 7.2
2. Magento 2.3.x

### Steps to reproduce (*)
1. Go frontent and make an order for Vertual or Downloadable product
2. now login to admin panel and view same order you have done
3. Now click

[2019-10-16 10:07] magento-engcom-team commented on #25086
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21864` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 10:08] magento-engcom-team commented on #25086
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21864` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 10:11] eduard13 opened #25088 "Get Video Information button doesn't do anything on clicked"
### Preconditions (*)
1. Magento 2.3-develop
2.

### Steps to reproduce (*)

1. Navigate to new product page
2. Scroll to `Images And Videos`
3. Click on `Add Video`
4. Click on `Get Video Information`

### Expected result (*)

1. We should see any feedback after clicking the button
![image](https://user-images.githubusercontent.com/15868188/66910110-9f0eba00-f016-11e9-81bc-522eb7df4ced.png)

###

[2019-10-16 10:13] shikhamis11 commented on #25088
@magento give me 2.3-develop instance

[2019-10-16 10:13] magento-engcom-team commented on #25088
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-16 10:13] magento-engcom-team commented on #25088
Hi @shikhamis11, here is your [Magento instance](https://i-25088-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25088-2-3-develop.instances.magento-community.engineering/admin](https://i-25088-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-16 10:19] magento-engcom-team commented on #25088
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21865` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 10:24] ioweb-gr commented on #22392
@magento-engcom-team give me 2.3-develop instance

[2019-10-16 10:24] magento-engcom-team commented on #22392
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-16 10:25] magento-engcom-team commented on #22392
Hi @ioweb-gr, here is your [Magento instance](https://i-22392-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22392-2-3-develop.instances.magento-community.engineering/admin](https://i-22392-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-16 10:42] ioweb-gr commented on #22392
@engcom-Charlie This has already been reproduced by others. You didn't follow the latest instructions as I provided them earlier

- On a clean firefox install right click on top window bar and enable Menu bar and Bookmarks toolbar. Firefox normal not developer preview.
- Open responsive design tool
- Set dimensions to 1920x926px
- Windows taskbar on the bottom
- Navigate to catalog -> category
- O

[2019-10-16 11:08] renard123 opened #25091 "Product option not reflated at my wish list when added from listing page"
Product option not reflated at my wish list when added from listing page

Preconditions (*)
Magento : 2.3

Steps to reproduce (*)
1. Front end > Product listing page
2. As login user
3. Select product option and click on wish list icon
4. review at my wish list page

Expected result (*)
Product should added into wish list with product options.

Actual result (*)
No product options when it added fr

[2019-10-16 11:20] magento-engcom-team commented on #25091
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21866` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 11:26] engcom-Charlie commented on #22392
@ioweb-gr thank you for contributing!
i reproduced this issue:
![Peek 2019-10-16 14-23](https://user-images.githubusercontent.com/51680850/66915086-da15eb00-f020-11e9-96d1-8f1dcc037845.gif)

[2019-10-16 11:29] magento-engcom-team commented on #22392
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19991` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 11:30] hostep commented on #24965
I'm going to reopen this after [finding out](https://github.com/composer/composer/issues/8370#issuecomment-542645230) that composer's behavior is correct.

The correct solution for Magento here, would be to publish version 1.2.2 of `magento/composer` to repo.magento.com, which wasn't done yet for some reason.

[2019-10-16 11:33] sheshagiricorra commented on #12870
I am also facing the same issue, anyone has the fix for this ?

2019/10/16 11:28:56 [error] 9318#0: *4254 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught TypeError: Argument 2 passed to Magento\Framework\View\Element\UiComponentFactory::argumentsResolver() must be of the type array, null given, called in /var/www/deploy/current/vendor/magento/framework/View/Element/UiComponentFact

[2019-10-16 11:35] magento-engcom-team commented on #22927
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21867` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 11:41] dev-Z-Apx opened #25092 "Unable to get/see Product Length, Width and Height Attributes V 2.3.3"
### Preconditions (*)

1. Create some products with Length, Width and Height Attributes on Version 2.3.2
2. Upgrade the store to Latest Version 2.3.3

### Steps to reproduce (*)

1. AdminDasboard->Catalog->Products->Edit Product
2. Get the Length attribute of product as `$_product->getData('ts_dimensions_length')`

### Expected result (*)

1. [Screenshots, logs or description]
![image](https://use

[2019-10-16 11:41] dev-Z-Apx commented on #25092
@magento give me 2.3-develop instance

[2019-10-16 11:42] magento-engcom-team commented on #25092
Hi @dev-Z-Apx. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-16 11:42] magento-engcom-team commented on #25092
Hi @dev-Z-Apx, here is your [Magento instance](https://i-25092-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25092-2-3-develop.instances.magento-community.engineering/admin](https://i-25092-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-16 11:48] dev-Z-Apx commented on #25092
I have checked the UI issue is still there for the new product also as it is a Fresh Instance therefore there are no old products that might have been added in the last version 2.3.2 But I can't execute the Programming task here so it needs to be checked by the Devs.

[2019-10-16 11:49] engcom-Golf commented on #16362
@ihor-sviziev yes i agree with you, probably you can create a cms page with widget in it, and add products from category what you want, and then add this page as default. @pusachev @minhluan259  can you describe a valid case when you need category as home page ?

[2019-10-16 11:56] simonmaass commented on #25038
@sdzhepa can confirm that the hotfix works!

[2019-10-16 12:39] DominicWatts opened #25093 "Confusing or incorrect bulk actions item count"
Confusing or incorrect bulk actions item count

### Preconditions (*)

Magento 2.3.3 & 2.3-develop

Create a small number of products (15 or so)

### Steps to reproduce (*)

Use mass action on admin product grid to update a product attribute for all SKUs

Assume you select all SKUs but only the visibility needs changing on 7 for example

### Expected result (*)

Bulk action executes

System > Acti

[2019-10-16 12:40] magento-engcom-team commented on #25076
:white_check_mark: Confirmed by @davidverholen
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21868` were created

**Issue Available**: @davidverholen, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-16 12:41] DominicWatts commented on #25093
@magento give me 2.3-develop

[2019-10-16 12:47] robsoned commented on #24930
I had the same problem here on a fresh installation and the above solution worked for me.

Debian GNU/Linux 9
Magento 2.3.3
PHP 7.1.30
MySQL 5.7.25

[2019-10-16 12:56] engcom-Charlie commented on #22872
Hello @jefflenz
As you can see that all tests fell on PR #23231 because it is not so easy to fix and a [Magento Inventory project](https://github.com/magento/inventory/wiki) was created for this.
So i have to close this issue.
Thanks for your report!

[2019-10-16 12:56] #22872 closed, assigned to engcom-Charlie

[2019-10-16 13:06] Priya-V-Panchal commented on #15427
Hi,

Has anyone found the solution for this issue?

Thanks

[2019-10-16 13:23] MrGangola-Webkul commented on #24938
@magento give me 2.3.3 instance

[2019-10-16 13:26] engcom-Charlie commented on #25041
Hello @Naberdz
I can't reproduce this issue on Magento 2.3-develop & 2.3.3
I used this code:
![image](https://user-images.githubusercontent.com/51680850/66923342-43055f00-f031-11e9-808b-121816ad69e0.png)
![image](https://user-images.githubusercontent.com/51680850/66923361-4c8ec700-f031-11e9-87bc-f1b794f9898f.png)

**Result:**
Custom options are created and visible in frontend
![image](https://user

[2019-10-16 13:26] #25041 closed, assigned to engcom-Charlie

[2019-10-16 13:33] Khushbu-Webkul-QA commented on #24895
magento version: 2.2.3
    mode: production
    php version: 7.1.24
    varnish: enable
    js,css,html: merged and minified

Issue was not reproduce on develop but found on magento version 2.3.3

![Screenshot (42)](https://user-images.githubusercontent.com/45037885/66924099-a4d0c380-f047-11e9-82e1-3660adb82fca.png)
![Screenshot (41)](https://user-images.githubusercontent.com/45037885/66924100-a56

[2019-10-16 13:34] maheshWebkul721 commented on #24895
@deepakk-webkul this issue still exists in 2.3.3.

[2019-10-16 13:40] vijay-prevaj commented on #23908
Is Anyone reproduce the issue in Magento-2.3.2 ?

Please List the steps to reproduce it.

[2019-10-16 13:43] vijay-prevaj opened #25095 "Quotes for guests are saved with customer_is_guest = 1"
Magento saves some quotes from guests with customer_is_guest = 1. It usually happens when a customer was logged in before but his session expires or logs out.

[2019-10-16 13:56] buskamuza commented on #24965
Probably we were packaging it on a machine with PHP 7.1. In this case Composer downloads library versions compatible with PHP 7.1.
For now I'd recommend to run `composer update` for the zip-based installation. This should download libraries compatible with your system's PHP version.

[2019-10-16 13:59] #22890 closed, assigned to engcom-Charlie

[2019-10-16 14:39] paras89 opened #25096 "Issue with Product Import - "Category has not been created. URL key for specified store already exists""
### Preconditions (*)
Magento verion 2.3.2

### Steps to reproduce (*)
1. Export and existing product
2. In the csv export, in the categories column add a new sub category:
Default Category/Gear,Default Category/Gear/SAMPLETEST
3. Import the products csv entity type with import behavior set to Add/Update

### Expected result (*)

1. I should not see any errors after the import
2. new category on p

[2019-10-16 14:40] paras89 commented on #25096
@magento give me 2.3-develop instance

[2019-10-16 14:40] magento-engcom-team commented on #25096
Hi @paras89. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-16 15:04] engcom-Bravo commented on #23908
Hi, @vijay-prevaj. Have You already tried out [these ones](https://github.com/magento/magento2/issues/23908#issue-473403885)?

[2019-10-16 15:40] domeglic commented on #25038
@simonmaass Did the pagination still work after applying the patch? When I apply the patch it breaks it.

Before:
![magento pagination counter before](https://user-images.githubusercontent.com/8225737/66935085-c9bf3980-f03b-11e9-83d3-bb467814d6cd.png)
After:
![magento pagination counter after](https://user-images.githubusercontent.com/8225737/66935086-c9bf3980-f03b-11e9-8b0c-243f14e8ff51.png)

[2019-10-16 16:00] Userr017 opened #25097 "Bulk update product attributes issue - Magento 2.3.3"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.2, 7.3

### Steps to reproduce (*)

1. Choose few products
2. Open page "Update Attributes"
3. Choose Attributes
4. Save

### Expected result (*)

1. Starts "Update attributes for selected products".

### Actual result (*)

1. Doesn't start "Update attributes for selected products".
2. Summary all the time "Pending, in queue..."
![task](https://user

[2019-10-16 16:22] TomR5 opened #25098 "2.3.2 Cart Price Rule for Free Shipping does not apply to matching items only when using Table Rates"
### Preconditions (*)

1. Magento Version 2.3.2
2. Theme is Alothemes/Expert1
3. Linux Server
4. PHP version 7.1.32 (cli); Zend Engine v3.1.0 with Zend OPcache v7.1.32

### Steps to reproduce (*)

1. Enable table rates for shipping (Stores > Settings > Configuration > Sales > Shipping Methods > Table Rates) Condition is "Price vs. Destination". Import Table Rates table. Leave all other shipping me

[2019-10-16 16:51] davygxyz opened #25099 "Category image deletes after initial upload and category save v2.3.3"
### Triage Note
- The issue is reproducible on `2.3.3` release version
- The issue is NOT reproducible on `2.3-develop`
- `2.3.3` is not merged into `2.3-develop` at this moment

### Preconditions (*)
1. Magento Version 2.3.3
2. PHP version 7.2
3. Apache 2.4
4. Magento Default Theme

### Steps to reproduce (*)
1. Installed with composer: composer create-project --repository=https://repo.magento.co

[2019-10-16 17:21] ioweb-gr commented on #24799
I'm just facing this situation again and I would like to dig deeper to how it can happen. Can someone offer insight to this?

My end result is this
![image](https://user-images.githubusercontent.com/20220341/66942753-68569500-f052-11e9-8906-7d6539cb87b2.png)

You will see that unlike the scenario described above the products have identical sku. It seems as if there's a double write on the database

[2019-10-16 18:07] #25097 closed, assigned to krishprakash

[2019-10-16 19:07] davygxyz commented on #25099
@magento give me 2.3-develop instance

[2019-10-16 19:07] magento-engcom-team commented on #25099
Hi @davygxyz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-16 19:07] magento-engcom-team commented on #25099
Hi @davygxyz, here is your [Magento instance](https://i-25099-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25099-2-3-develop.instances.magento-community.engineering/admin](https://i-25099-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-16 19:09] aliomattux commented on #7298
We also confirm this is issue with Magento 2.3.3. Migrated database from 1.9. Cannot save category or product by switching Anchor to Yes/No or removing category from product. Took me extended time to trace the problem back to a url rewrite. Doesn't make any sense, terrible programming.

[2019-10-16 19:30] davygxyz commented on #25099
@magento no

[2019-10-16 20:11] twoatechguy commented on #5008
This is still an issue on 2.2.9.

[2019-10-16 20:29] adrian-martinez-interactiv4 commented on #21452
I was in the same case, and I found out that it was a db data inconsistency issue.
More info here: https://community.magento.com/t5/Magento-2-x-Technical-Issues/Advanced-Reporting-doesn-t-work-and-there-is-an-error-404/m-p/145064/highlight/true#M11226

[2019-10-16 20:30] aliomattux commented on #7298
Magento 2.3.3
PHP 7.2.19
Migrated database from 1.9.2.4
Steps to reproduce
Category has URL key of led-deck-lights
Product has URL key of aurora-odyssey-led-strip-light
There is also a URL rewrite with request path/target path
lighting/deck-stair-lights/aurora-odyssey-led-strip-light.html / aurora-odyssey-led-strip-light.html

When I go to the category in the admin, I can save the category changin

[2019-10-16 20:47] jaminion commented on #25076
My for-this-project-immediately solution to this was to add a preference over the Magento\Email\Model\Transport class. The difficulty is that the Zend\Mail\Message instance is the one that's processing the headers, and it is generated using a static method from its class inside the sendMessage method, and used there - it's never accessible at a scope where it's targetable with DI, at least how I'm

[2019-10-16 20:51] gsa83 commented on #25096
Note : If another category has been renammed, but the url-key not, this problem can happend (if another categ has the url-key sampletest ). In that case, it is not bug because the import is doing the mapping on categ name, so he think to create a new categ, but he can't because the url exist elsewhere.

[2019-10-16 20:55] paras89 commented on #25096
I'm creating a new sub category with a unique name, however it still throws an error on a fresh Magento install.

________________________________
From: Guillaume Sarrazin <notifications@github.com>
Sent: Wednesday, October 16, 2019 9:52:50 PM
To: magento/magento2 <magento2@noreply.github.com>
Cc: paras89 <paras89@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [magento/magento2] Issu

[2019-10-16 20:57] gsa83 commented on #10209
Note : When a magento is behind a Proxy for example, this code is causing issue because get_header is not properly implemented
here Magento\Framework\Filesystem\Driver\Http.php : isExists mail have the possibility to pass a $context variable to be able to pass for example a proxy to the get_header, which allow context to handle this problem
note : the context is passed on the function of the class

[2019-10-16 20:57] aliomattux commented on #7298
I tried recreating the issue and was not able to. It seems also there is a data discrepancy. I modified the function doReplace in module-url-rewrite/Model/Storage/DbStorage.php to output the offending data and it does not match the database. See attached screenshot. The discrepancy is the save event error has a different target path than that actually stored in the database.
Stored value: aurora-o

[2019-10-16 21:01] DominicWatts commented on #25093
@magento give me 2.3-develop instance

[2019-10-16 21:01] magento-engcom-team commented on #25093
Hi @DominicWatts. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-16 21:02] magento-engcom-team commented on #25093
Hi @DominicWatts, here is your [Magento instance](https://i-25093-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25093-2-3-develop.instances.magento-community.engineering/admin](https://i-25093-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-16 21:24] DominicWatts commented on #25093
I tried in develop isntance but bulk action appeared to just be sat in a queue

![image](https://user-images.githubusercontent.com/7295705/66960114-b88a2300-f063-11e9-8fe3-af0cc7551d83.png)

So I can't test

[2019-10-16 22:35] bliswebagency commented on #25099
We also have this problem after upgrading to 2.3.3. In our case the initial upload via ajax will suffix the file name with a _1, then on the subsequent somewhere in the system, it will try to match _1_1 or a _2, _2_1 and so on, which seems to disassociate the file from the category. This only happens for the category section and not products.

Some relevant functions identified were getNewFileName

[2019-10-16 23:03] aliomattux commented on #7298
I am not sure about all cases but I have determined the cause in our case and it is not necessarily a migration issue.
The business has categories and subcategories. They do not display products under all categories, they use a tile like configuration where a customer will drill down into categories, and a single product can be a member of multiple subcategories.

For some odd reason, the business

[2019-10-17 00:39] ukguy commented on #24986
We also had this issue with paypal express and the standard paypal module.

I eventually commented out this

/**
 * @api
 */
define([
    '../model/quote'
], function (quote) {
    'use strict';

    return function (paymentMethod) {
      /**
 *  if (paymentMethod) {
            paymentMethod.__disableTmpl = {
                title: true
            };
        }
    */
        quote.paymentMethod

[2019-10-17 02:35] edenduong opened #25101 ""Scheduled Import Settings" should hide fields when "Enabled" is "No""
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Store->Configuration
3. General-> Currency Setup
4. "Enabled" is "No"

### Expected result (*)

1. Hide the fields

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/8234209/66973225-814a5f00-f0c1-11e9-80aa-43143147853f.png)

[2019-10-17 02:50] krishprakash commented on #25101
@magento give me 2.3-develop instance

[2019-10-17 02:50] magento-engcom-team commented on #25101
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-17 02:50] magento-engcom-team commented on #25101
Hi @krishprakash, here is your [Magento instance](https://i-25101-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25101-2-3-develop.instances.magento-community.engineering/admin](https://i-25101-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-17 02:54] magento-engcom-team commented on #25101
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21892` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-17 04:38] mrtuvn commented on #25074
CE version doesn't have any reference to Magento\Downloadable\Api\DomainManagerInterface
I can't find it in any modules

[2019-10-17 04:42] magento-engcom-team commented on #25099
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21893` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-17 05:34] mahesh-rajawat opened #25103 "Typo Bug and Invalid Return Type Given in Import Product Option's _parseRequiredData"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Typo Error in `https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/CatalogImportExport/Model/Import/Product/Option.php#L1659`
2. Only Boolean type given:` https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/CatalogImportExport/Model/Import/Product/Option.php#L1665`  even function retur

[2019-10-17 06:02] crdt commented on #24930
I had the same problem too and the above solution worked for me.

Debian GNU/Linux 9.9
Magento 2.3.3
PHP 7.2.23
MariaDB 10.1.41

[2019-10-17 06:32] itsPranith commented on #25095
HI vijay-prevaj,
Please provide the information as per below link.

https://github.com/magento/magento2/issues/25095#issuecomment-542707504

Thank You,
Pranith

[2019-10-17 06:58] darshankhatri16 opened #25106 "Extra headers in api-functional test cases"
I need to pass extra values in the header while writing api-functional test cases. No provision is there where I can pass extra header.

### Preconditions (*)

1.Magento version 2.3.3

### Steps to reproduce (*)

1. write api-functional test case for any custom module and pass extra values in header apart from authorization token

### Expected result (*)

1. Allow passing extra values in the heade

[2019-10-17 07:04] shikhamis11 commented on #25106
@darshankhatri16 thank you for reporting this issue can you set proper title for the issue ?

[2019-10-17 07:35] hafizjee commented on #15654
faced same problem
I remove all Negative price manually. After that layered navigation filter shows the correct range and doesn't show the negative price range . But after running the commands :
sudo php bin/magento setup:upgrade
sudo php bin/magento setup:di:compile
sudo php bin/magento setup:static-content:deploy -f
sudo php bin/magento cache:clean
sudo php bin/magento cache:flush

All Negative

[2019-10-17 07:36] darshankhatri16 commented on #25106
@shikhamis11 Sure. Done.

[2019-10-17 07:38] jorgb90 opened #25107 "Elasticsearch Category Pages not showing products"
### Preconditions (*)
1. Magento 2.3.3
2. Elasticsearch 6+

### Steps to reproduce (*)
1. Enable Elasticsearch 6+ in Magento
2. Reindex and go to a category page. First page shows products but the next ones doesn't.

### Expected result (*)
1. That all category pages list products.

### Actual result (*)
1. No products listed for the category pages except for the first.

[2019-10-17 07:39] edenduong opened #25108 ""Collapse All | Expand All" in Media Gallery has wrong Cursor Icon"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Backend
2. Catalog->Category
3. Click "Content"
4. Click "Select from Gallery"
5. Hover to "Collapse All | Expand All"

### Expected result (*)

1. Cursor icon is "Pointer"
### Actual result (*)

1. Cursor icon is "Text"

[2019-10-17 07:45] jorgb90 opened #25110 "Elasticsearch not able to search for term with a slash / in it"
### Preconditions (*)
1. Magento 2.3.3
2. Elasticsearch 6+

### Steps to reproduce (*)
1. Enable Elasticsearch 6+
2. Add a product with a SKU with a slash / in it.
3. Search in the frontend for that exact SKU.

### Expected result (*)
1. Find that particular product without errors.

### Actual result (*)
1. Search results in an error.

### Note:
similar issue #20689

[2019-10-17 07:55] sunilit42 opened #25111 "Perfomance issue on product page with all product type"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. go to any product and review all sql for this

### Expected result (*)

1. it should be call query only one time
### Actual result (*)

1. https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Bundle/Model/ResourceModel/Selection.php#L133 calling multiple times to get identifier all block

More info
https

[2019-10-17 08:01] LIXMLN commented on #15545
@vadim-shulyak
Your fix doesn't work with Magento 2.3.3 CE. Search doesn't show any results

[2019-10-17 08:03] mrtuvn opened #25112 "Warning: count(): Parameter must be an array or an object that implements Countable"
### Preconditions (*)

1. Magento 2.3.2 CE Composer Ver - No sample data
2. PHP 7.2.21

### Steps to reproduce (*)

1. First Create New Product Simple
2. Go to System > Export
3. Choose Entity Type: Products

### Expected result (*)

1. Grid options show without warning

### Actual result (*)

1. Got warning
Exception #0 (Exception): Warning: count(): Parameter must be an array or an object that i

[2019-10-17 08:10] itsPranith commented on #24658
@magento give me 2.3.2-develop instance

[2019-10-17 08:10] magento-engcom-team commented on #24658
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3.2-develop instance for you

[2019-10-17 08:13] mrtuvn commented on #25112
@magento give me 2.3-develop instance

[2019-10-17 08:13] magento-engcom-team commented on #25112
Hi @mrtuvn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-17 08:13] magento-engcom-team commented on #25112
Hi @mrtuvn, here is your [Magento instance](https://i-25112-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25112-2-3-develop.instances.magento-community.engineering/admin](https://i-25112-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-17 08:14] magento-engcom-team commented on #25108
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21894` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-17 08:23] krishprakash commented on #25110
@magento give me 2.3.3 instance

[2019-10-17 08:23] magento-engcom-team commented on #25110
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-17 08:24] eduard13 commented on #25108
Hi @edenduong, I'm just wondering, does it make sense to open a such issue instead of just creating the PR to fix it?

[2019-10-17 08:24] magento-engcom-team commented on #25110
Hi @krishprakash, here is your [Magento instance](https://i-25110-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25110-2-3-3.instances.magento-community.engineering/admin](https://i-25110-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-17 08:27] mrtuvn commented on #25112
Thanks @magento for sharing. Can you confirm PHP version for this shared instance.

[2019-10-17 08:35] krishprakash commented on #25110
Also found similar issue #20689

[2019-10-17 08:44] jorgb90 commented on #25110
Thanks for confirming @krishprakash

[2019-10-17 08:52] engcom-Delta commented on #8815
@joaolisboa @gigadesign1 @pczerkas Unfortunately, I cannot reproduce issue on 2.3-develop CE and 2.3-develop EE.
**Testing scenario:**

- Generate 10K products
- [Configure](https://devdocs.magento.com/guides/v2.3/config-guide/varnish/config-varnish-magento.html) varnish v.4.1.1
- Set indexers to "UPDATE BY SCHEDULE"
- Run `bin/magento cron:install`
- In the admin, go to SYSTEM > Export and export

[2019-10-17 08:54] edenduong commented on #25108
Hi @eduard13 :
I don’t know when we need to create the issue before creating PR. I see in PR template, it has the fields to fill the issue so if I can reproduce it, I will create the issue and tag the PR to that issue.

[2019-10-17 09:01] pusachev commented on #16362
Hi @engcom-Golf, For my cases if we have text field that we can add any information without validation, this case will be valid. I not sure but you can discuses this with you business analytics.

For user side. How can a user understand that what he is doing is wrong? User has text field without any tooltip, any validation. Also user has turn on url rewrites. Why this case is not valid if system a

[2019-10-17 09:07] sprankhub opened #25115 "Elasticsearch 6.8: Search For Part Of Product Name Yields No Results"
### Preconditions (*)
1. Magento 2.3.3 & 2.3-develop
2. Elasticsearch 6.8
3. Magento Sample Data

### Steps to reproduce (*)
1. Configure Elasticsearch 6.0+ in the configuration.
2. Search for "hoo".

### Expected result (*)
1. All products, whose name contain "hoo" should be shown as a search result. For instance, "Circe Hooded Ice Fleece".

### Actual result (*)
1. No products, whose name contai

[2019-10-17 09:10] sprankhub commented on #25115
Unfortunately, I cannot easily reproduce the issue on a vanilla installation, because the contributor assistant does not support Elasticsearch yet (https://github.com/magento/community-features/issues/145).

[2019-10-17 09:17] Vedrillan commented on #8815
From the 1st update `The cron will have an error when reindexing`, the error is not in the BO, it is in the reindexing cronjob...

[2019-10-17 09:33] jorgb90 commented on #15545
@LIXMLN Its not only add after but also replace as far as I can see and in 2.3.3 there are two occurrences for $mainTableAlias = $this->extractTableAliasFromSelect($select);

I don't know if that helps.

[2019-10-17 09:55] amitebizon commented on #5590
Any Solutions ?

[2019-10-17 09:57] Aiweline opened #25116 "Magento2.3.x 多源库存bug:除了默认stock，其他stock不支持bundle product"
**Magento2.3.x多源库存除了默认stock其余stock不支持bundle product**

### Preconditions (*)
1、支持多源库存的magento版本：2.3.X

### Steps to reproduce (*)
1、新建source
2、新建stock，并将设置为main website
3、新建sample product 并assign到非默认stock
4、新建bundle product并选择刚刚新建的sample product

### Expected result (*)

1、期望在新的stock中发现添加的bundle product

### Actual result (*)

1、在frontend尚未发现新建的bundle product

### 序言

**原本想直接修复，但是这将修改magento核心文件，在

[2019-10-17 10:02] simonmaass commented on #25038
@domeglic you are right! The display of "xx Items" is broken! @sdzhepa

[2019-10-17 10:33] pusachev commented on #16362
@engcom-backlog-nazar Please assist.

Thanks

[2019-10-17 10:41] engcom-Delta commented on #23625
Hi @gwharton Unfortunately, I cannot reproduce issue by steps you described on 2.3-develop.
**Testing scenario:**
- Disable php posix module
![image](https://user-images.githubusercontent.com/51681379/67001479-8e2b7a80-f0e2-11e9-9292-c3698a294574.png)
- Install magento and generate some products
- Run `bin/magento cron:install`
- Start start message queue consumers
![#23625issueConsumerJobs](https

[2019-10-17 10:46] krishprakash commented on #25116
Hi @Aiweline. can you please explain the issue in English.

[2019-10-17 10:46] maderlock commented on #23625
Unfortunately this is not the issue. The server in question has ps with -p option, as well as php_posix.

I suspect this is going to be architecture related, as it's fine on my local environment (OS X) but under AWS linux we have this problem across all our sites whether commerce or open source.

[2019-10-17 10:51] gwharton commented on #23625
@maderlock I believe there are two issues here.

1. Consumers get spawned once per minute. Machine rapidly demises due to lack of memory. This happens in the scenareo when BOTH php_posix is not enabled, and php -p behaves incorrectly (as in the busybox version)
2. Your issue, where at random times, additional times consumers are launched incorrectly even though you have the necessary posix or ps v

[2019-10-17 10:55] gwharton commented on #23625
@engcom-Delta You need both php_posix disabled, but also a version of the ps command that returns 1 if it doesn't support the -p command line parameter (as busybox's version does). Magento cannot differentiate between ps -p returning 1 because the ps command does not support the -p parameter, and ps -p returning 1 because the version of ps command does support the -p parameter but consumer is not

[2019-10-17 10:58] cgsoratto commented on #21375
I found! The problem is in the 'StripeIntegration_Payments' module. There is an observer for 'checkout_cart_update_items_after' that always changes the "code" to "additional_options".

[2019-10-17 11:09] LIXMLN commented on #15545
@jorgb90  I removed the character from the last line (`). I had mistaken it for a dust on the screen :' )
For now it seems to work. Thanks

[2019-10-17 11:19] senders commented on #16367
Any updates?
The Problem still exists in 2.2.10.

[2019-10-17 11:26] vadim-shulyak commented on #15545
Removed from the last line (`)

[2019-10-17 11:32] engcom-Delta commented on #22775
Hi @Rickertje thank you for your report. I am not able to reproduce issue by steps you described on
2.3-develop.
Seems like issue was fixed by commit:
- [7704d1d17366a34ad024bdec382127e430aa1948](https://github.com/magento/partners-magento2ee/commit/7704d1d17366a34ad024bdec382127e430aa1948)

[2019-10-17 11:32] #22775 closed, assigned to engcom-Delta

[2019-10-17 11:38] mohith227 commented on #25057
@magento-engcom-team I have found the solution and I had  create pull request

[2019-10-17 11:40] engcom-Delta commented on #24670
Hi @Naberdz
Looks like problem is related to your custom module. The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-10-17 11:40] #24670 closed, assigned to nobody

[2019-10-17 11:50] aishwaryasunarc commented on #7647
I am facing same issue in magento 2.3 release.

[2019-10-17 11:56] rosariomarsala opened #25118 "Magento 2.3.3 unable to apply filter as next page or color on category page"
Preconditions

1. Magento CE 2.3.3
2. PHP Version 7.3

Steps to reproduce

1. navigate to categories page
2. click on next page example '2 page' or try to apply some filter example 'black color'

Expected result

1. click on next page '2 page'
2. page scroll-up with loader ajax
3. able to show all products from the '2 page'
4. the page show all products from the '2 page'

Actual result

1. click o

[2019-10-17 12:01] robertbtln commented on #16388
The offical magento docs is wrong..... try set  **For matching items only**   instead  of **For shipment with matching items**
here is the reason why working like this on flat rate->
https://github.com/magento/magento2/commit/cdefefa948f711daadd6d6ea03ce701aa84fe585#diff-67cd2551c5f3d22c6328e36a4dc0c270

[2019-10-17 12:10] hackrat commented on #6793
I have also the same issue in version CE 2.3.1. Weight is not being considered for relavance.

[2019-10-17 12:11] viniciusfabri opened #25119 "Server Side Compiler doesn't import some remote CSS files"
### Preconditions (*)
1. Blank Magento 2.3.2, 2.3-develop with a custom theme(or just Luma)
2. Server side compiling enabled
3. PHP 7.1.26 & 7.2

### Steps to reproduce (*)
1. On a .less file, import the following URL, according to the [documentation](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/css-preprocess.html):
`@import url("https://fonts.googleapis.com/icon?family=M

[2019-10-17 12:18] viniciusfabri commented on #25119
@magento give me 2.3-develop instance

[2019-10-17 12:18] magento-engcom-team commented on #25119
Hi @viniciusfabri. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-17 12:19] magento-engcom-team commented on #25119
Hi @viniciusfabri, here is your [Magento instance](https://i-25119-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25119-2-3-develop.instances.magento-community.engineering/admin](https://i-25119-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-17 12:31] magento-engcom-team commented on #23116
Hi @Unlimitedbul, @brunoroeder.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-17263` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

[2019-10-17 12:31] #23116 closed, assigned to brunoroeder

[2019-10-17 12:36] wwwmage commented on #25118
@magento give me 2.3-develop instance

[2019-10-17 12:36] magento-engcom-team commented on #25118
Hi @wwwmage. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-17 12:36] magento-engcom-team commented on #25118
Hi @wwwmage, here is your [Magento instance](https://i-25118-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25118-2-3-develop.instances.magento-community.engineering/admin](https://i-25118-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-17 13:02] ihor-sviziev commented on #16362
Actually @engcom-backlog-nazar  is old account of @engcom-Golf , so this actually one person 😉

[2019-10-17 13:06] harshvardhanmalpani commented on #5590
I had same situation and i was using my own code
https://github.com/harshvardhanmalpani/magento2-search-with-AND/releases

I could not override the other interceptors for synonyms as it was becoming huge mess to edit whole chain of functions for this purpose.
The way I fixed it was by editing my code to add synonym maps in code. Of course, it makes the inbuilt functionality for synonyms useless. B

[2019-10-17 13:22] wwwmage commented on #25118
@magento give me 2.3.3 instance

[2019-10-17 13:22] magento-engcom-team commented on #25118
Hi @wwwmage. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-17 13:23] magento-engcom-team commented on #25118
Hi @wwwmage, here is your [Magento instance](https://i-25118-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25118-2-3-3.instances.magento-community.engineering/admin](https://i-25118-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-17 13:38] wwwmage commented on #25118
I'm not able to reproduce the issue on vanilla Magento instance. we can close ticket. I will check issue for some override in my template or plugin. thanks for support.

[2019-10-17 13:38] #25118 closed, assigned to nobody

[2019-10-17 13:59] engcom-Bravo commented on #24825
@NickdeK, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-10-17 13:59] #24825 closed, assigned to nobody

[2019-10-17 14:15] jorgb90 commented on #24619
I got this same problem but with all layouts, so not only 1 column layout.. Only first page show products with Elasticsearch!

[2019-10-17 14:18] jorgb90 commented on #25107
Found the same issue here #24619

[2019-10-17 14:19] ihor-sviziev commented on #25107
Hi @jorgb90,
It might be related:
https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-3-open-source.html#apply-the-catalog-pagination-issue-on-elasticsearch-6x-patch-to-resolve-a-critical-search-result-pagination-issue

[2019-10-17 14:19] andrewbess commented on #23965
Hi @engcom-Charlie
I have reproduced this problem.
Perhaps, the problem is because the name of an index in the database is different from referenceId when you get create declaration schema and db_schema_whitelist.json manually.
For example:
I have table `mm_accounting_invoice` that contains the next declaration:
`<constraint referenceId="ACCOUNTING_INVOICE_STORE_ID_STORE_STORE_ID" xsi:type="foreig

[2019-10-17 14:40] #25107 closed, assigned to ihor-sviziev

[2019-10-17 14:40] ihor-sviziev commented on #25107
@jorgb90 great! So I'm closing the issue

[2019-10-17 14:43] androshchuk opened #25120 "Magento2 incorrectly stores the attribute url_path for non-default stores"
### Preconditions (*)

1. Magento 2.3-develop
2. env: dev

### Steps to reproduce (*)

1. Create second store view. my config:
![1571318599429](https://user-images.githubusercontent.com/5081718/67013826-68ab6a80-f0fc-11e9-9aaf-b4f59a69d69f.jpg)

2. Go to categories and switch to a second store view
3. Change the name of a child category (Root -> 1st Parent -> 1st Child -> 1st Grandchild) for that

[2019-10-17 14:45] LIXMLN commented on #15545
@vadim-shulyak the problem persists...

| 300135 | mg2_mage476 | localhost | mg2_mage476 | Query | 5901 | Creating sort index | INSERT INTO `mgdb_search_tmp_5da86051c8f898_79461193` SELECT `main_select`.`entity_id`, SUM(score) A | 0 | 14155 |
| 300353 | mg2_mage476 | localhost | mg2_mage476 | Query | 5500 | Creating sort index | INSERT INTO `mgdb_search_tmp_5da861e288d5d9_60328026` SELECT `main_se

[2019-10-17 14:50] magento-engcom-team commented on #22119
Hi @marshallthornton, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.4` release.

[2019-10-17 14:50] #22119 closed, assigned to sdzhepa

[2019-10-17 14:54] webkul-ratnesh opened #25121 "While editing options of item in cart, Options not selected at configuration page"
### Triage Note
- The issue is reproducible on `2.3.3` release version
- The issue is NOT reproducible on `2.3-develop`
- `2.3.3` is not merged into `2.3-develop` at this moment

### Preconditions (*)

**Magento 2.3.3**
1. Must have configurable product in catalog with swatch enabled.
2. In my case product is /jupiter-all-weather-trainer.html of Magento sample data.

### Steps to reproduce (*)

1.

[2019-10-17 15:01] jerrydkingx commented on #7189
I am still having this issue :(

[2019-10-17 15:32] renttek commented on #13504
I've got the same issue. everything works just fin after deleting the globals.php

[2019-10-17 15:34] southerncomputer commented on #7189
enable flat tables for product and categories, re-index. try again!

[2019-10-17 15:39] vkublytskyi commented on #24930
@shahbaztariq, @robsoned, @crdt instead of code modification in a vendor folder it should be possible to fix the issue with running `composer dump-autoload -o` before and after `magento setup:di:compile`

[2019-10-17 16:00] magento-engcom-team commented on #25121
Hi @Januszpl. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-17 16:01] magento-engcom-team commented on #25121
Hi @Januszpl, here is your [Magento instance](https://i-25121-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25121-2-3-develop.instances.magento-community.engineering/admin](https://i-25121-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-17 16:26] davygxyz commented on #25099
@bliswebagency
Found a temp fix from your research: module-catalog/Model/Category/Attribute/Backend/Image.php

It looks like the problem is fixed with 2.3-develop but not 2.3.3
Comparing the code between the two and found these functions have been modified.

`public function beforeSave($object)`
`private function fileResidesOutsideCategoryDir($value)`

You will probably need to create a temp custo

[2019-10-17 16:35] buskamuza commented on #24018
Just wanted to link the original discussion here https://github.com/magento/architecture/pull/10#discussion_r205481001 (the decision was to have 404).

[2019-10-17 16:38] redienss commented on #21441
Also the same bug on fresh 2.3.3 EE

commit: https://github.com/magento/magento2/commit/f2cd7e548a8960736a1fd6c44b3f77915058d18c
**Swatches styles migrated form CSS file in module to LESS in Blank theme**

Styles was moved from swatches.css to app/design/frontend/Magento/blank/Magento_Swatches/web/css/source/_module.less

but file is still used in layouts:

module-swatches/view/adminhtml/layout/ca

[2019-10-17 17:28] krzysztofkuzniar commented on #6719
I repeated the problem like this @rafashkembi

[2019-10-17 17:42] kennylawrence commented on #21441
@ananth-iyer  negative - I am in developer mode (all static resources are created on demand) and swatches.css is the ONLY resource that doesn't get created. I think @redienss may be on to something. Did you install the sample data as well? I had done this in my 2.3.2 install when seeing the issue.

I have just installed a fresh CE 2.3.3 using Composer, WITHOUT sample data, and do not see the swatc

[2019-10-17 17:59] juharintanen opened #25124 "Magento 2.3 Wrong product url for anchor categories for multiple storeviews"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Regenerate new url rewrite for product

### Expected result (*)

1. All product urls with categories are genereted accordingly by correct store view

### Actual result (*)

1. Product urls that are generated from anchor categories are missing StoreId and are generated wrong.

Underlined $storeId is missing and needs to be adde

[2019-10-17 18:31] prabhatrawat-webkul commented on #24348
@magento give me 2.3-develop instance

[2019-10-17 18:32] magento-engcom-team commented on #24348
Hi @prabhatrawat-webkul, here is your [Magento instance](https://i-24348-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24348-2-3-develop.instances.magento-community.engineering/admin](https://i-24348-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-17 19:14] hostep commented on #23625
@gwharton or @maderlock: out of curiosity: did you already test this with Magento 2.3.3? There were [some changes](https://github.com/magento/magento2/commit/1d9e07b218c7c8ad1f05706828cb2dd47d2d2d58) done to how Magento checks if a consumer process is already running. I'm not sure if it would solve your problem, but it might ...

[2019-10-17 19:36] SomeGeek commented on #5901
@sergey-solo Still having issues with this one. Just tried it.

I have a custom layout (Vendor/Theme/Magento_Cms/page_layout/some_custom_layout.xml). Inside it, I do various things (pull in 1column using update handle) and change the layout. In the admin section, I select this layout I just created. This is a specific layout for some CMS pages.

In content, I add a block inside the container I cre

[2019-10-17 19:41] gwharton commented on #23625
Yes, just had a quick look over the changes and they look great and should resolve this issue so im going to close this now. @maderlock please work on reproducing your issue reliably  and raise a new issue to cover your findings with full steps to reproduce.

[2019-10-17 19:41] #23625 closed, assigned to engcom-Delta

[2019-10-17 19:53] thomvanderboon commented on #24930
Commands:
composer dump-autoload -o
magento setup:di:compile
composer dump-autoload -o

Result:

Generating optimized autoload files
Compilation was started.
Repositories code generation... 1/7 [====>-----------------------]  14% 1 sec 80.5 MiBPHP Fatal error:  Interface 'Vertex\Tax\Model\Flexfield\Processor\InvoiceFlexFieldProcessorInterface' not found in /path to website/vendor/vertex/module-tax

[2019-10-17 19:57] hostep commented on #25124
This is most likely a duplicate of https://github.com/magento/magento2/issues/11615, but I'm leaving it open, because this problem definitely needs a lot more attention.

We are awaiting for many months now on https://github.com/magento/magento2/pull/20826 finally getting approved...

[2019-10-17 20:25] ghost opened #25126 "Newletter subscription issue"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Go to any page on frontend and find newsletter section at bottom right of the page.
2. Login into admin panel.
3. Disable Newsletter. Navigate to Store -> Configuration -> Customer -> Newsletter -> General Options and set enable to **NO**
4. Now go to opened page on frontend and try to subscribe.

![1](https://user-images.gith

[2019-10-17 20:26] rahulwebkul commented on #25126
@magento give me 2.3-develop instance

[2019-10-17 20:26] magento-engcom-team commented on #25126
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-17 20:27] magento-engcom-team commented on #25126
Hi @rahulwebkul, here is your [Magento instance](https://i-25126-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25126-2-3-develop.instances.magento-community.engineering/admin](https://i-25126-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-17 20:33] rahulwebkul commented on #25126
I am able to reproduce issue on vanilla instance

[2019-10-17 20:39] erikhansen commented on #15190
For anyone that stumbles upon this issue, Magento now has built-in locking for CRON processes. Details can be found here: https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli-subcommands-lock.html

[2019-10-17 20:57] ghost opened #25128 "Newsletter subscribe and unsubscribe issue for Customer"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Login as customer on frontend.
2. Click on Newsletter Subscriptions link.
3. Login into admin panel.
4. Disable Newsletter. Navigate to Store -> Configuration -> Customer -> Newsletter -> General Options and set enable to **NO**
5. Now go to opened Newsletter Subscriptions page and try to subscribe or unsubscrbe.
![1](https://

[2019-10-17 20:58] rahulwebkul commented on #25128
@magento give me 2.3-develop instance

[2019-10-17 20:58] magento-engcom-team commented on #25128
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-17 20:59] magento-engcom-team commented on #25128
Hi @rahulwebkul, here is your [Magento instance](https://i-25128-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25128-2-3-develop.instances.magento-community.engineering/admin](https://i-25128-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-17 21:04] rahulwebkul commented on #25128
I am able to reproduce issue on vanilla instance

[2019-10-17 21:09] o-iegorov commented on #15935
Core team start working on this issue

[2019-10-17 21:15] bliswebagency commented on #25099
@davygxyz - Thank you for the heads up and the temp fix! We will give it a try and see how it goes with our install, but it definitely sounds like it will do the job. It's much appreciated.

[2019-10-17 22:23] ghost opened #25130 "Issue with reorder when disabled reorder setting from admin"
There is no check in reorder controller to validate the reorder configuration.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Place order from frontend as a customer or guest
2. Open order view page from frontend
3. Login into admin panel
4. Disable reorder option from admin. Navigate to Store -> Configuration-> Sales -> Reorder -> Allow Order and set this to **NO**
5. Go

[2019-10-17 22:25] rahulwebkul commented on #25130
@magento give me 2.3-develop instance

[2019-10-17 22:25] magento-engcom-team commented on #25130
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-17 22:25] magento-engcom-team commented on #25130
Hi @rahulwebkul, here is your [Magento instance](https://i-25130-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25130-2-3-develop.instances.magento-community.engineering/admin](https://i-25130-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-17 22:31] petemcw commented on #24992
This was quite the bug to track down. Running 2.2.10 in developer mode works fine but as soon as you switch to default or production mode, the problems start. Luckily, we caught it before any production merges/deployments.

How long do you figure we will have to wait for a patch?

[2019-10-17 22:34] rahulwebkul commented on #25130
I am able to reproduce issue on vanilla instance

[2019-10-18 00:47] SoloDevAtrix commented on #15984
Still an in issue in 2.3.3, this issue alone has at this point cost my client tens of thousands of dollars.
Update on save DOES NOT work.
Writing your own indexer to control the stock indexer that fixes all of it DOES NOT work.
Magento2 is bugridden garbage, it takes 4x as long to achieve anything in it than our last store and bugs are constant and hard to fix.

Attempting to rip out the indexer i

[2019-10-18 00:51] #25101 closed, assigned to edenduong

[2019-10-18 00:51] #25072 closed, assigned to edenduong

[2019-10-18 03:28] richardcrichardc commented on #21274
Looks like the fix landed in [2.2.3](https://github.com/magento/magento2/commit/10966be289465ebcc39a2f32c3a15ddce4398a37). We were experiencing this issue. Upgrading from 2.2.2 fixed it.

[2019-10-18 04:10] krishprakash commented on #25126
@magento give me 2.3-develop instance

[2019-10-18 04:10] magento-engcom-team commented on #25126
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-18 04:11] magento-engcom-team commented on #25126
Hi @krishprakash, here is your [Magento instance](https://i-25126-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25126-2-3-develop.instances.magento-community.engineering/admin](https://i-25126-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-18 04:17] krishprakash commented on #25121
@magento give me 2.3.3 instance

[2019-10-18 04:17] magento-engcom-team commented on #25121
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-18 04:18] magento-engcom-team commented on #25121
Hi @krishprakash, here is your [Magento instance](https://i-25121-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25121-2-3-3.instances.magento-community.engineering/admin](https://i-25121-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-18 04:25] magento-engcom-team commented on #25121
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21916` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-18 04:30] krishprakash commented on #25126
Hi @rahulwebkul. Not able reproduce this issue on 2.3-Develop and 2.3.3 instances as provided steps by you.

[2019-10-18 04:31] krishprakash commented on #25128
Hi @rahulwebkul. Not able reproduce this issue on 2.3-Develop and 2.3.3 instances as provided steps by you.

[2019-10-18 04:35] krishprakash commented on #25128
Reproduced now

[2019-10-18 04:36] magento-engcom-team commented on #25128
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21917` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-18 04:36] krishprakash commented on #25126
Reproduced

[2019-10-18 04:37] magento-engcom-team commented on #25126
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21918` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-18 04:40] magento-engcom-team commented on #25130
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21919` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-18 05:24] miteshdhaduk commented on #10338
Hello All,
I also faced this type of issue. In Magento2.2.2, the order is placed using the authorize.net payment method. But the order is not paid and also one order is created in the backend.

Does anyone fix this?

[2019-10-18 06:03] LiamKarlMitchell commented on #13466
Tried the work around suggested above by @py4762013 but no luck :(

[2019-10-18 06:30] edenduong opened #25135 "[UI Issue] when select Product with custom option (datetime) at backend"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Create New Product with Custom Option (date time and required it)
3. Create New Order at backend
4. Add Product with custom option

Two asterisk:

![image](https://user-images.githubusercontent.com/8234209/67070863-5b998480-f1ab-11e9-9e53-70c93a0d9cd1.png)

### Expected result (*)

1. One * characater

#

[2019-10-18 06:33] sangeetajain opened #25136 "Magento 2.3 : Customer after login Storeview switcher/redirect problem"
### Summary (*)
Customer after login Storeview switcher/redirect problem

### Examples (*)
In my case if any customer is register from any store or store view. They are successfully register from any store/storeview. and successfully login from any store/storeview but after login from any store/storeview when user click on store/storeview switcher it's will not working. In admin setting I have don

[2019-10-18 06:43] KilalaPhu commented on #13398
hi how fix it. hope you can help em, i error this bug.
@garoal123

[2019-10-18 06:50] rav-redchamps commented on #23001
In case, anyone interested in a paid extension then this should do the trick https://redchamps.com/invoice-email-magento-2-extension.html

[2019-10-18 06:54] Khushbu-Webkul-QA opened #25137 "In mobile view, go to mini cart and edit the quantity of product, at that time update button hide the delete button"
### Preconditions (*)

1. magento version: 2.3.3/2.2.9
2. php version: 7.2/7.1
3. mode: production
4. Js, CSS, HTML merged and minified
5. Flat catalog/category – Yes

### Steps to reproduce (*)

1.  in mobile view
2.  add product into cart
3. go to minicart
4. edit the product quantity
5. update button hide the delete button

### Expected result (*)

1. update and delete both button should displa

[2019-10-18 07:00] Khushbu-Webkul-QA commented on #25137
yes, give me instance

[2019-10-18 07:00] magento-engcom-team commented on #25135
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21920` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-18 07:29] charles-tychons commented on #5770
In my case, verified the cron_schuedule table, where many of the cron jobs are still in **pending** status.

So I just back up that table data and truncated.

The issue resolved and reindex worked "update on save" mode.

Using Magento 2.2.x

[2019-10-18 07:38] andrewbess commented on #23965
@engcom-Charlie
I have reproduced this problem.
I don't know yet this is bug or no.
So, the problem is possible if file "db_schema_whitelist.json" does not exist or incorrect.
For example:
1. I have the table `mm_accounting_invoice` in DB;
2. This has the following contain:
`<constraint referenceId="ACCOUNTING_INVOICE_STORE_ID_STORE_STORE_ID" xsi:type="foreign" table="mm_accounting_invoice" column

[2019-10-18 07:50] magento-engcom-team commented on #25033
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#25034 by @edenduong in 2.3-develop branch
Related commit(s):
 - [f68dd1c700ee64bdb2571c8a64fdc561e710540e](https://github.com/magento/magento2/commit/f68dd1c700ee64bdb2571c8a64fdc561e710540e)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-18 07:50] #25033 closed, assigned to edenduong

[2019-10-18 07:50] magento-engcom-team commented on #23577
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#24959 by @ivan-koliadynskyy in 2.3-develop branch
Related commit(s):
 - [813f1d75628f827159f9c0496a7acff60795b53d](https://github.com/magento/magento2/commit/813f1d75628f827159f9c0496a7acff60795b53d)
 - [c252363959b2b172f48d63a5b36e7e74f02628c0](https://github.com/magento/magento2/commit/c252363959b2b172f48d63a5b36

[2019-10-18 07:50] #23577 closed, assigned to ivanko-dev

[2019-10-18 07:50] magento-engcom-team commented on #12560
Hi @svejegres. Thank you for your report.
The issue has been fixed in magento/magento2#24345 by @oleksii-lisovyi in 2.3-develop branch
Related commit(s):
 - [d617c3ca6541d1528bf26c26738b909d55424def](https://github.com/magento/magento2/commit/d617c3ca6541d1528bf26c26738b909d55424def)
 - [883d9f52e1b360b5c3c3b9b9f0a7f512531dfe83](https://github.com/magento/magento2/commit/883d9f52e1b360b5c3c3b9b9f0

[2019-10-18 07:50] #12560 closed, assigned to oleksii-lisovyi

[2019-10-18 08:09] trajces commented on #17804
I had the same issue and in my case there was a wrong convention for Shipping Method in **sales_order** table in the column **shipping_method**.
The convention should be carriercode_method (example: **custom_custom**)

[2019-10-18 08:20] magento-engcom-team commented on #25098
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3.2-develop instance for you

[2019-10-18 08:26] Cloudwaysaneeq opened #25140 "Fatal error: Uncaught TypeError: /home/manomark/public_html/vendor/magento/framework/Encryption/Encryptor.php on line 274"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-10-18 08:34] Cloudwaysaneeq opened #25141 "Fatal error: Uncaught TypeError:"
I am trying to log in from my Magento admin panel and no products are being displayed.
gets an error  /home/manomark/public_html/vendor/magento/framework/Encryption/Encryptor.php on line 274

![image](https://user-images.githubusercontent.com/50991101/67078999-d6fb3600-f1ab-11e9-8b43-7e390046f691.png)

[2019-10-18 08:36] duyetbv opened #25142 "Unknown connection name amqp"
Hi there,
I had issue when command  bin/magento queue:consumers:start async.operations.all after upgrade to magento 2.3.2
Please help me!!

Screen shot:
![Capture2](https://user-images.githubusercontent.com/22341271/67079077-b9829800-f1bc-11e9-9fbf-1c7d1337bb2d.PNG)

Many Thanks

[2019-10-18 08:42] tiacocstoe commented on #24992
Hi, same problem here. Quick fix is to override few files from modules view in a theme folder.
Copy the files and remove <?php from the end of it.

[2019-10-18 08:45] a-dite commented on #23643
After update to Magento 2.2.10 (from 2.2.9) in our customer project we faced the issue that diverse mails, also the order confirmation mail, on some Exchange servers, were displayed empty in Outlook and the content of the mail was in an attachment file like ATT00000011.htm. See description e.g. [here](https://exchange-server-guide.blogspot.com/2015/11/att00001.txt-file-fix-email-attachment-issue.h

[2019-10-18 09:37] haelbichalex commented on #18251
Check your `oauth_token_request_log` table as it could be the same issue as in #4432.

[2019-10-18 09:54] Nazar65 commented on #23691
Hi @neillrobson , why you use `on `? and not `.subscribe` ?

[code]

[2019-10-18 09:54] Timothy-V commented on #25076
I can confirm this issue as well for Outlook and Outlook Web App behind MS Exchange 2013!

[2019-10-18 10:11] onepack commented on #14642
And so.. I'm on 2.3.3 now and this issue still persists. When will this be solved?

[2019-10-18 10:15] drpayyne opened #25144 "Disabled swatch option shouldn't show box-shadow on click"
### Preconditions
1. `2.3-develop` branch

### Steps to reproduce
1. Login to Admin panel
2. Navigate to Stores -> Catalog -> Inventory
3. Change _Display Out of Stock Products_ dropdown to _Yes_
4. Navigate to Stores -> Attributes -> Product
5. Edit `color` attribute's _Catalog Input Type for Store Owner_ to _Visual Swatch_
6. Add multiple swatches with colors
7. Create a new configurable product

[2019-10-18 10:21] sangeetajain opened #25146 "Magento2.3.3: Bug in Admin Catalog Product StoreView wise."
### Preconditions (*)
1. Magento 2.3.3 & 2.3-develop

### Examples (*)
It will automatically disable product to other 2nd store view. We have not disabled for 2nd store view, we disabled this product for one store view.

### Steps to reproduce (*)

1. Create 2 store views
2. Create a product
3. On a product edit page disable product for 'All store views'
4. Switch editing to some store view
5. Ena

[2019-10-18 10:27] simonmaass commented on #14642
what a shame that this was not included in 2.3.3....

[2019-10-18 10:32] shahbaztariq commented on #24930
Just to help others whilst Magento work on the fix.

The file `vendor/vertex/module-tax/Model/FlexField/Processor/OrderCurrencyGetterProcessor.php`

The namespace is:

`namespace Vertex\Tax\Model\Flexfield\Processor;`

whilst it should be:

`namespace Vertex\Tax\Model\FlexField\Processor;`

Notice the capital `F` in `FlexField`.

[2019-10-18 10:44] joe-vortex opened #25147 "Totals Information Management - setting quote shipping method when address method is null"
### Preconditions (*)

1. 2.3.2(2.3-develop) Magento Commerce or Open Source
2. Amasty Conditions module installed (cannot reproduce with vanilla m2 because this)
3. PHP 7.2.21

### Steps to reproduce (*)

1. On the checkout, the component `Amasty_Conditions/js/action/recollect-totals` makes a call to `/V1/guest-carts/:cartId/totals-information` which passes through Magento\Checkout\Model\TotalsIn

[2019-10-18 10:48] edenduong opened #25148 ""Redirect to CMS-page if Cookies are Disabled" is "No" but it still redirect"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Store-> Configuration
3. General->Web
4. "Browser Capabilities Detection" , "Redirect to CMS-page if Cookies are Disabled" is "No"

![image](https://user-images.githubusercontent.com/8234209/67088492-7b42a400-f1cf-11e9-818e-01731bd51816.png)

5. Go to frontend
6. Disable cookie
7. Signin customer

### Ex

[2019-10-18 11:01] magento-engcom-team commented on #23664
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21921` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-18 11:06] ajijshekh123 commented on #25148
give me @magento give me 2.3-develop instance

[2019-10-18 11:06] magento-engcom-team commented on #25148
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-18 11:07] magento-engcom-team commented on #25148
Hi @ajijshekh123, here is your [Magento instance](https://i-25148-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25148-2-3-develop.instances.magento-community.engineering/admin](https://i-25148-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-18 11:13] shankar2004nag commented on #6337
Unable to translate Contact us page via app/i18n/vendorname/en_US/en_US.csv

[2019-10-18 11:22] drpayyne commented on #25135
@magento give me 2.3-develop instance

[2019-10-18 11:22] magento-engcom-team commented on #25135
Hi @drpayyne. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-18 11:22] magento-engcom-team commented on #25135
Hi @drpayyne, here is your [Magento instance](https://i-25135-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25135-2-3-develop.instances.magento-community.engineering/admin](https://i-25135-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-18 11:25] ajijshekh123 commented on #25148
I have verified this issue after disabled cookie in my browser then follow the same scenario which one added by the Reporter.

**See the attached video:**

![Enable Cookie_Issue](https://user-images.githubusercontent.com/24711761/67090527-f902b180-f1c7-11e9-83d3-56fb54f893df.gif)

[2019-10-18 11:25] magento-engcom-team commented on #25148
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21922` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-18 11:48] drpayyne commented on #25135
@edenduong The asterisks appear only if a price is set for the custom option date time. _Even_ if the custom option is set to required.

[2019-10-18 12:08] Karlasa commented on #25144
@drpayyne

box-shadow is part of accessibility and is used in example to point out focus location if user is using keyboard only.

Due that I think this issue is not valid.

 Feel free to re-open this issue if you thing otherwise or if you have any other questions feel free to ask.

Feel free to
Cheers,
Karla

[2019-10-18 12:40] garyhiggins1970 commented on #18148
I can confirm this is still happening in 2.3.3.
Going to re try @numan201  suggestion in 2.3.3.

[2019-10-18 12:50] engcom-Charlie commented on #23057
Hello @khoi-le
We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.
So i have to close this issue.
Thanks for your report!

[2019-10-18 12:50] #23057 closed, assigned to engcom-Charlie

[2019-10-18 13:04] drpayyne commented on #25144
@Karlasa I didn't know that regarding box-shadow, thank you. Although, what is need to focus on something when there exists no functionality in it? This is pretty much a disabled button which should have to visible changes on hover, focus, active, etc., right?

[2019-10-18 13:09] renttek commented on #11526
I had the problem with `setActiveMenu`. Everytime I visited a specific Page/Route in the Backend, the error occurred.
The trigger for this bug (in my case) was a wrong namespace in the controller/action for this page.
Instead ob `My\Namespace\Controller\Adminhtml\...` the namespace was `my\Namespace\Controller\Adminhtml\...`.
This seems to be no prolem at all in developer mode, but breaks thing in

[2019-10-18 13:22] magento-engcom-team commented on #23016
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21925` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-18 13:22] skitter-anton commented on #23808
Also have this problem. Just updated to 2.3.3 with Porto theme. Also tried Magento Luma theme but same problem. Tried clear cache, rebuild static content but still same error. It's strange since it also happens on Luma theme right? This means the solution from @Dzhus111 won't work right?

[2019-10-18 13:29] gwharton opened #25150 "Plugin execution order wrong, or documentation that describes the order is wrong"
### Preconditions (*)
1. Magento 2.3.3+

### Steps to reproduce (*)
1. Create a test plugin A with before and after methods and configure to intercept another class with sortOrder="10"
2. Create a second test plugin B with before and after methods and configure to intercept the same class with sortOrder="20"
3. Run the class that is intercepted and inspect the order of execution of plugins.

### E

[2019-10-18 14:08] engcom-Charlie commented on #6793
Hello @hackrat
I can't reproduce this issue on a fresh Magento 2.3-develop.
**Manual testing scenario:**

1. Set `name` product attribute to search weight 10
2. Set `short_description` product attribute to search weight 1
3. reindex the search php bin/magento indexer:reindex, clear the cache
4. Create product with names: "relevant first",relevant second",relevant third"(
in the same order)
5. Sear

[2019-10-18 14:08] #6793 closed, assigned to nobody

[2019-10-18 14:09] Khushbu-Webkul-QA commented on #25146
@magento give me 2.3-develop instance

[2019-10-18 14:09] magento-engcom-team commented on #25146
Hi @Khushbu-Webkul-QA. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-18 14:10] magento-engcom-team commented on #25146
Hi @Khushbu-Webkul-QA, here is your [Magento instance](https://i-25146-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25146-2-3-develop.instances.magento-community.engineering/admin](https://i-25146-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-18 14:14] Karlasa commented on #25144
good point...

tabindex="-1" and pointer-event: none; for disabled swatch would be an option

[2019-10-18 14:17] Khushbu-Webkul-QA commented on #25136
As i have checked, this feature working fine

![Screenshot (61)](https://user-images.githubusercontent.com/45037885/67101891-22c7d280-f1e0-11e9-94fc-bb5da9437997.png)
![Screenshot (60)](https://user-images.githubusercontent.com/45037885/67101892-22c7d280-f1e0-11e9-96e3-b8933ff65a04.png)

issue not found

[2019-10-18 14:19] joe-vortex commented on #25147
can be fixed with the following patch:
[code]

[2019-10-18 14:25] drpayyne commented on #25144
Thank you, I'll add your two suggestions and push the code

[2019-10-18 14:43] TomR5 commented on #25098
We have narrowed down the problem.  The source of the problem has to do with the change from 2.3.0 to 2.3.1 (and persisting in 2.3.2) in module-offline-shipping/Model/Carrier/Tablerate.php where Magento has changed the condition_name of Table Rates "Price vs. Destination" when stored in the tables shipping_tablerate and core_config_data from
                'package_value' => __('Price vs. Destina

[2019-10-18 14:46] petemcw commented on #24992
I started going that direction @tiacocstoe but found that there were so many. I ended up making a patch that runs as part of our deployment process. Here is [a link to the patch](https://gist.github.com/petemcw/3999fe86f7651838e54f5cca3cfab1cd) if anyone needs it until Magento fixes the issue.

[2019-10-18 14:52] jaxtheking commented on #6793
Sorry @engcom-Charlie, but how does your test demonstrate the weights on different fields actually work?? You've only searched for a single word that is only present in the title - you would've have gotten the same result even if the weight of the title was 1...

Could you at least try a more appropriate scenario? Like creating:
1. a product with 'skirt slim fit' in the title
2. a product with 'it

[2019-10-18 14:52] drpayyne commented on #25144
@krishprakash Could you please review and confirm my issue, thanks

[2019-10-18 15:06] domnoble commented on #24448
+1 ive got this same issue on a production website, spent the last couple of days trying to fix it to no avail, this error crops up with multiple third party smtp modules, the emails still send but when it returns back to the customer they get this error, its got to be related to magento or possibly a messed up migration, perhaps eav_attributes ?

[2019-10-18 15:08] domnoble commented on #24448
using magento 2.3.2 this is the error i get :

```Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Email\Model\Template::setVars() must be of the type array, null given, called in /usr/local/apache2/htdocs/vendor/magento/framework/Mail/Template/TransportBuilder.php on line 368 and defined in /usr/local/apache2/htdocs/vendor/magento/module-email/Model/Template.php:403 Stack trace: #0 /

[2019-10-18 15:11] jorgb90 opened #25151 "Configurable products go Out of Stock with MSI"
### Preconditions (*)
1. Magento 2.3.3 CE
2. MSI enabled

### Steps to reproduce (*)
1. Configure Magento to allow backorders
2. Create an extra stock in MSI
3. Add a source to this new stock
4. Create a configurable product with simples
5. Add the newly created source to these simples, with the status In Stock, qty doesnt matter.
6. Remove the default source from this product if its assigned
7. S

[2019-10-18 15:11] domnoble commented on #24448
disabling third party smtp modules makes it go away but then obviously the emails get dropped because they arent signed

[2019-10-18 15:32] vishalverma279 commented on #25140
no steps have been provided in the description

[2019-10-18 15:32] #25140 closed, assigned to nobody

[2019-10-18 15:39] engcom-Charlie commented on #22095
Hello @justinharris1986

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

If you still faced

[2019-10-18 15:39] #22095 closed, assigned to engcom-Charlie

[2019-10-18 16:20] engcom-Charlie commented on #6793
Hello @jaxtheking
My result with your testing scenario:
![image](https://user-images.githubusercontent.com/51680850/67110804-3c671b00-f1dc-11e9-930c-7810984ba7d3.png)

[2019-10-18 16:22] diode-dynamics commented on #23908
I'm not sure if this is appropriate, but can anyone provide further details of any workarounds that have been implemented right now? We are experiencing this issue on a daily basis, and it is tedious to run the script regularly as provided above.

I see that someone added a plugin to a class, but I'm not sure how to implement that. If anyone has specific code I could add in anywhere until this is

[2019-10-18 16:51] domnoble opened #25153 "Mail not working"
### Preconditions (*)
1. Magento 2.3.3
2. docker-library PHP 7.2

### Steps to reproduce (*)
1. Attempt to send email or submit an order with default settings using sendmail or using any 3rd party SMTP module

### Expected result (*)
1. email is sent without producing an error
2. users are returned to the success page

### Actual result (*)
1. using 3rd party plugins we can send an email but it st

[2019-10-18 16:54] domnoble commented on #25153
duplicate of #135

[2019-10-18 17:08] ulftietze commented on #10726
Still reproducable in Magento 2.3.3 :(
[code]

[code]

If i declare as `PUT` i got an error like this: `Class Items not found...`; if i declare as `POST` everything is fine.

[2019-10-18 18:24] AndyJAllen commented on #23450
How does a new version get released and a module is completely broken? If a module is updated shouldn't it be tested?

[2019-10-18 21:12] thomvanderboon commented on #24930
Tested this solution on my system and it works. Second capital F seems to be the "error" and solution.

[2019-10-18 21:28] matthewonassis opened #25154 "Meta Keywords, Meta Title and Meta Description are not being generated Magento 2.3.3"
After upgrading from version 2.3.2 to 2.3.3, the Meta Keywords, Meta Title and Meta Description are not being generated automatically even though the placeholders in the configurations are correct.
Is there any one else who got this problem too?

-After saving the product, it should generate URL Key, Meta Keywords, Meta Title and Meta Description, but only generates URL Key.
- PHP 7.2, Nginx, Nexc

[2019-10-18 21:42] mrossh opened #25155 "Form Validation bug on Paypal Pro module 100.3.3 - resolved."
### Preconditions (*)

1. Magento 2.3.3 OS
2. Paypal payment Module 100.3.3

### Steps to reproduce (*)

1. The bug has been resolved.

### Expected result (*)

1. [Screenshots, logs or description]
Module and version:
![image](https://user-images.githubusercontent.com/46603128/67129805-8f85a180-f1cd-11e9-8afc-a4874790e172.png)
Original code:
![image](https://user-images.githubusercontent.com/4660

[2019-10-18 22:35] bas1425 opened #25157 "How to "export" this Docker container with Bitnami + Magento 2 to the WWW / a regular hosting provider using FTP?"
### Preconditions (*)
I am running 10.14.1 MacOS Mojave. I am using the latest version of Docker and this Bitnami container. I followed the guide; as such it is a very 'vanilla' install...
+
I am very new to all of this...

### Steps to reproduce (*)
See below for details. If you need more, ask me.

### Expected result (*)

How to "export" this Docker container with Bitnami + Magento 2 to the WWW

[2019-10-18 22:41] magento-engcom-team commented on #15935
Hi @patrick-bigbridge.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [87dff07de468c103dfe546d8c43769673e4f548d](https://github.com/magento/magento2/commit/87dff07de468c103dfe546d8c43769673e4f548d)
 - [f686793606cb6745d7024f46425d9004c67a7dcc](https://github.com/magento/

[2019-10-18 22:41] #15935 closed, assigned to nobody

[2019-10-18 23:26] MackieeE commented on #25142
I've come across the same issue on 2.3.3 today, submitted an EE Support ticket.

Other references/reports on Stack Overflow recently::
- [2.3.2](https://magento.stackexchange.com/questions/288269/configure-magento-ce-2-3-2-message-queue-to-use-db-instead-of-amqp)
- [2.3.1 - 6 Months ago](https://magento.stackexchange.com/questions/269928/consumer-async-operations-all-skipped-as-required-connection

[2019-10-19 01:28] magento-engcom-team commented on #25144
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21940` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-19 01:54] duyetbv commented on #25142
@magento-admin !!
could you help me resolve this issue
![Capture](https://user-images.githubusercontent.com/22341271/67136263-0b273300-f24e-11e9-9891-6b826dfb35c3.PNG)
I was added like above but still not working
![Capture2](https://user-images.githubusercontent.com/22341271/67136269-1a0de580-f24e-11e9-9a53-2b8114b91d50.PNG)
Thanks a lot

[2019-10-19 03:09] diamondavocado opened #25158 "Can't set products' Out of Stock Threshold to a negative value"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. In the Magento backend, go to Catalog -> Products and open a simple product
2. Go to General section and click "Advanced Inventory"
3. Enter a negative value into the "Out of Stock Threshold" field (e.g. -20)
4. Save the product and reload the page

### Expected result (*)

1. Out of Stock Threshold value should remain negativ

[2019-10-19 03:10] diamondavocado commented on #25158
@magento give me 2.3-develop instance

[2019-10-19 03:10] magento-engcom-team commented on #25158
Hi @diamondavocado. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-19 03:11] magento-engcom-team commented on #25158
Hi @diamondavocado, here is your [Magento instance](https://i-25158-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25158-2-3-develop.instances.magento-community.engineering/admin](https://i-25158-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-19 03:15] diamondavocado commented on #25158
@m2-assistant
Confirmed present on 2.3-develop instance.

Could be related to [Issue 9139](https://github.com/magento/magento2/issues/9139).

[2019-10-19 10:01] hostep commented on #23908
@diode-dynamics: A colleague of mine wrote the [following patch](https://github.com/magento/magento2/files/3746489/ISSUE-23908-Quote.txt), which you can apply using https://github.com/cweagans/composer-patches/ to the `magento/module-quote` composer package, this seems to work in our case.

Be aware that this is only a workaround, not a fix for the problem, the flag `customer_is_guest` in the data

[2019-10-19 10:20] MackieeE commented on #21885
Well sadly this looks like it missed the 2.3.3 ship :(

[2019-10-19 10:24] dmytro-ch commented on #25158
@magento give me 2.3-develop instance

[2019-10-19 10:24] magento-engcom-team commented on #25158
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-19 10:24] magento-engcom-team commented on #25158
Hi @dmytro-ch, here is your [Magento instance](https://i-25158-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25158-2-3-develop.instances.magento-community.engineering/admin](https://i-25158-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-19 10:42] hostep commented on #23450
It would still be great if somebody who runs against this issue can figure out exactly why the consumer processes aren't getting spawned by the cronjob in Magento 2.3.2 or 2.3.3:

Because out of the box on a vanilla installation it works perfectly fine both in 2.3.2 and 2.3.3, but maybe there are environmental issues which can cause it, but that can only be determined if people can put a little bi

[2019-10-19 10:49] hostep commented on #24930
Well, yes, that's what [the patch posted days ago](https://github.com/magento/magento2/issues/24930#issuecomment-541213943) says as well 😉

[2019-10-19 10:53] dmytro-ch commented on #25158
There is the same behavior both product and system configuration (global) *Out-of-Stock Threshold* fields.
However, it should be possible to set a negative value for Out-of-Stock Threshold. DevDocs reference: https://docs.magento.com/m2/ce/user_guide/catalog/inventory-backorders.html#out-of-stock-threshold

Thank you!

[2019-10-19 10:54] magento-engcom-team commented on #25158
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21941` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-19 11:00] dmytro-ch commented on #25157
Hi @bas1425,
the GitHub issue tracker is intended for Magento Core issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) for advice or general discussion about this.

Thank you!

[2019-10-19 11:00] #25157 closed, assigned to dmytro-ch

[2019-10-19 15:11] quantumAV commented on #18148
I can also confirm this is happening in 2.3.3

@numan201 fix worked for me in 2.3.2 however on upgrading to 2.3.3 we now have Pending Payment status for orders received even thought he details of the payment are on the order.

It also looks like the fix that worked in 2.3.2 is already present in 2.3.3 so I am at a loss with how to proceed with this

$state = $order->getState() ?: Order::STATE_PROC

[2019-10-19 16:06] diode-dynamics commented on #23908
@hostep thank you so much! Understood that this is only a workaround. I've applied the patch, so far it seems to be working. This is a huge help for us until this bug is fixed. Thanks again.

[2019-10-19 16:28] domnoble commented on #25153
so we managed to find the issue after investigating the file which was throwing the error i came to the conclusion that it must be missing some data with the email template or something must be wrong, in the end it turned out to be an error in the migration, what had happened is during the migration it must have moved over the sender email, but on the end of the email address there was a comma, wh

[2019-10-19 16:28] #25153 closed, assigned to dmytro-ch

[2019-10-19 17:18] edenduong opened #25162 "Message at Frontend has No HTML format"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Store-> configuration-> Customer -> Newsletter
3.
![image](https://user-images.githubusercontent.com/8234209/67148877-c1caf800-f2ce-11e9-8016-22c09cbc9954.png)
"Allow Guest Subscription" is "No"
4. Go to frontend
5. Enter the email "test@localhost.com" , press "Subscribe" at the bottom.
6. Look the messa

[2019-10-19 18:03] hostep commented on #25142
@MackieeE:

That's incorrect information on devdocs, which we are trying to fix in https://github.com/magento/devdocs/pull/5569

@duyetbv: if you want to use the `async.operations.all` consumer, I think that's only possible with RabbitMQ at the moment. So try setting that up and try getting it to work. This might help:
https://devdocs.magento.com/guides/v2.3/install-gde/prereq/install-rabbitmq.htm

[2019-10-19 19:39] boudga commented on #14784
On Magento 2.3 I have my Cart Price rule set up to give a 5% discount on any product in a specific attribute set. However, when a product of the attribute set that I chose to give a discount on is added to my cart the coupon works correctly. When I add other products of other attribute sets (not allowed by coupon) the 5% is calculated on the combined subtotal of all cart products instead on only o

[2019-10-19 22:26] neillrobson commented on #23691
It has been a few months since I wrote this issue, and I do not have a Magento instance around to test at the moment. However, if I remember correctly, the `on` function is equipped specially in `events.js` to hook into Knockout's data binding system, which is the functionality that I intended to reach in the first place. The `subscribe` function may register a standard callback, but it requires a

[2019-10-19 22:30] MackieeE commented on #25142
@hostep

Big thank you for sharing this, I hadn't come across this PR request upon my research and had a pretty decent read through.

So as I understand it - Bulk requests are sent and stored in RabbitMQ as topics, much like you would sending to a Database and stored in a table. Only with the many added benefits with using RabbitMQ.

Now what I'm sure unsure on - is as part of the native cronjob p

[2019-10-19 22:34] kevinvuillemin commented on #21885
Realy ? That’s not cool.

But This fix working ? :

  https://gist.github.com/kevinvuillemin/802cc5e4b476e73c1c5838b143bd6a51

[2019-10-20 03:34] krishprakash commented on #25162
@magento give me 2.3-develop instance

[2019-10-20 03:34] magento-engcom-team commented on #25162
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-20 03:35] magento-engcom-team commented on #25162
Hi @krishprakash, here is your [Magento instance](https://i-25162-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25162-2-3-develop.instances.magento-community.engineering/admin](https://i-25162-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-20 03:42] magento-engcom-team commented on #25162
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21942` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-20 07:27] hostep commented on #25142
Hi @MackieeE

If you don't have amqp configured in Magento, and you execute `bin/magento cron:run`, you'll find the following message in your `var/log/system.log` file:
`main.INFO: Consumer "async.operations.all" skipped as required connection "amqp" is not configured. Unknown connection name amqp [] []`
Which is done [over here](https://github.com/magento/magento2/blob/2.3.3/app/code/Magento/Mess

[2019-10-20 09:34] gwharton commented on #25151
I think its because you remove from default stock. I have all products in default source with in stock set, but then have my real source linked to frontend website. If i remove products from default source they go out of stock so i just leave them there.

[2019-10-20 10:25] MackieeE commented on #25142
That does indeed and thank you for taking your kind time to explain! :D I’ll keep an eye on PR and hope it pulls through :)

[2019-10-20 12:54] gcampedelli opened #25166 "Order Status stuck in payment reviewin order grid"
### Preconditions (*)

1. Custom Payment gateway is implemented.
2. Customer placed order
3. Customer didn't pay the payment gateway
4. Payment gateway cancelled the order

### Steps to reproduce (*)

1. Go to order grid
2. Order grid is cancelled. Open order.
3. Get back to order grid. Order grid status is payment review, but inside order it shows cancelled
4 . Go inside order and click invoices

[2019-10-20 13:12] ghost opened #25167 "Terms and Conditions css height do nothing on frontend"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Login into admin panel.
2. Enable Terms and Conditions on checkout page. Navigate to **Store > Configuration > Sales > Checkout > Checkout Options** and Enable Terms and Conditions
3. Now create any new condition. Navigate to Store > Terms and Conditions > Add New Condition
4. Set height 300px in this condition. I created new

[2019-10-20 13:14] rahulwebkul commented on #25167
@magento give me 2.3-develop instance

[2019-10-20 13:14] magento-engcom-team commented on #25167
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-20 13:14] magento-engcom-team commented on #25167
Hi @rahulwebkul, here is your [Magento instance](https://i-25167-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25167-2-3-develop.instances.magento-community.engineering/admin](https://i-25167-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-20 13:20] rahulwebkul commented on #25167
I am able to reproduce issue on magento vanilla instance.

[2019-10-20 13:51] magento-engcom-team commented on #25167
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21943` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-20 13:52] richardreen opened #25171 "Email handling problem after upgrade to Magento 2.3.3"
### Preconditions (*):

Magento 2.3.3
Php 7.2

After upgraded to Mangeto 2..3.3  (old was 2.3.2) we have problems with email handling.
We have now 2 problems:

1. All email send to customers is empty but the content of the email is placed in an attachment called attachment.html.

2. In backend the preview of the email templates is empty. When we look at the sources we see that the inline component

[2019-10-20 13:58] makkoff commented on #25141
@magento give me 2.3-develop instance

[2019-10-20 13:59] magento-engcom-team commented on #25141
Hi @makkoff. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-20 13:59] magento-engcom-team commented on #25141
Hi @makkoff, here is your [Magento instance](https://i-25141-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25141-2-3-develop.instances.magento-community.engineering/admin](https://i-25141-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-20 14:39] prabhatrawat-webkul commented on #9979
@magento give me 2.3-develop instance

[2019-10-20 14:39] magento-engcom-team commented on #9979
Hi @prabhatrawat-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-20 14:40] magento-engcom-team commented on #9979
Hi @prabhatrawat-webkul, here is your [Magento instance](https://i-9979-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-9979-2-3-develop.instances.magento-community.engineering/admin](https://i-9979-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-20 14:48] prabhatrawat-webkul commented on #9979
Issue not found, latest 2.3-development branch , This issue need to be closed.

[2019-10-20 14:52] prabhatrawat-webkul commented on #9979
I have followed all the steps describe and the issue is not reproducible any more. so closing the issue.

[2019-10-20 14:52] #9979 closed, assigned to nobody

[2019-10-20 17:30] ghost opened #25173 "Issue with Guest Checkout when disabled guest checkout from admin"
There is no proper check for guest checkout at the time of order placement.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Add product in cart from frontend as a guest.
2. Go to checkout page
3. Now login into Admin.
4. Disable Guest Checkout from admin. Navigate to **Store > Configuration** then **Sales > Checkout** now find Allow Guest Checkout in **Checkout Options** s

[2019-10-20 17:31] rahulwebkul commented on #25173
@magento give me 2.3-develop instance

[2019-10-20 17:31] magento-engcom-team commented on #25173
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-20 17:31] magento-engcom-team commented on #25173
Hi @rahulwebkul, here is your [Magento instance](https://i-25173-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25173-2-3-develop.instances.magento-community.engineering/admin](https://i-25173-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-20 17:38] rahulwebkul commented on #25173
I am able to reproduce this issue on vanilla instance

[2019-10-20 18:11] richardreen commented on #25171
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-10-20 18:11] magento-engcom-team commented on #25171
Hi @richardreen. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-20 18:12] magento-engcom-team commented on #25171
Hi @richardreen, here is your [Magento instance](https://i-25171-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25171-2-3-develop.instances.magento-community.engineering/admin](https://i-25171-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-20 18:19] richardreen commented on #25171
on this vanilla instance it is working normal, ik can see a preview...so i will investigate our install, another extension is intervering in 2.3.3..

[2019-10-20 18:19] #25171 closed, assigned to nobody

[2019-10-20 20:50] josefbehr commented on #7298
@aliomattux Thank you for the infos! I will try to have a look at this and talk to core developers at tomorrow's contribution day at MagentoLive Europe. Hopefully, we can find a solution.

[2019-10-20 21:34] chadwixk opened #25175 "Limiting which Product custom attributes returned in REST API via "fields" only works for a single attribute"
### Preconditions (*)

1. Magento version 2.3.2

### Steps to reproduce (*)

1. adding `custom_attributes[image],custom_attributes[thumnail]` to the `fields` parameter list, resulting in a request URL of: `https://magento.mozzoerp.com/rest/default/V1/products/SLU-STRATUS-SHEET-Twin-White?fields=id,sku,name,price,weight,status,type_id,created_at,updated_at,media_gallery_entries,custom_attributes[im

[2019-10-20 21:35] chadwixk commented on #25175
Yes, this has been confirmed on a vanilla Magento instance.

[2019-10-20 21:44] chadwixk commented on #25175
Well, figured out the correct way to list multiples is like:
`custom_attributes[ship_width,ship_length]`

[2019-10-20 21:44] #25175 closed, assigned to nobody

[2019-10-20 22:06] tiacocstoe commented on #24992
Well @petemcw  as far as i can tell You're doing exactly same as i suggested but directlu in a core files. I'd rather do this my way, but suit Yourself :)
Still, it's a nasty bug and should never apear

[2019-10-21 01:02] VivekShingala commented on #18148
@joni-jones

(MAGETWO-88244: PayPal orders status display always as Processing)
Could you please handle this issue about your commit back in Apr 2018 here?

https://github.com/magento/magento2/commit/f39138b6dc504f93dae9697ad45d11d57f1aaf1f#diff-68f9035e0545c5442dde19b0ba0fa9b4R38

[2019-10-21 01:30] duyetbv commented on #25142
Hi @hostep
Thanks for your support!
I will try and may still need your help
Thank again

[2019-10-21 02:08] simonworkhouse commented on #21885
Normally I would be surprised that it has been so long without a resolution, but I have come to expect this from Magento. Anyway, I have had to resolve this issue for a project recently and it appears that the offending commit was https://github.com/magento/magento2/commit/7803eed11f8bf490bf8905ab0577091c7e782156

I worked around this by adding a preference for a class that extends `Magento\Catalo

[2019-10-21 02:16] krishprakash commented on #25173
@magento give me 2.3-develop instance

[2019-10-21 02:16] magento-engcom-team commented on #25173
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-21 02:17] magento-engcom-team commented on #25173
Hi @krishprakash, here is your [Magento instance](https://i-25173-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25173-2-3-develop.instances.magento-community.engineering/admin](https://i-25173-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-21 02:26] magento-engcom-team commented on #25173
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21945` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-21 06:02] mugua opened #25177 "about Downloadable Product Zero Subtotal Checkout Issue..."
### Preconditions (*)

1. Magento 2.3.3 & 2.3-develop
2. PHP 7.3.10

### Steps to reproduce (*)

1. Create a Zero Downloadable Product, set it can be download “INVOICED”
2. set Zero Subtotal Checkout Order status Processing and Auto INVOICE

### Expected result (*)

1. User Order status should be "Complete"
2. User Downloadable should be "Aviable"

### Actual result (*)

1. User Order status is "C

[2019-10-21 06:08] mugua commented on #25177
1: User placed order sucessed,  and choose the Zero Subtotal Checkout payment, It should be complete, why I got a Closed status?
2: the Downloadable product has invoice, why it still stay in Pending status?

[2019-10-21 06:17] jayankaghosh commented on #24681
I am working on this

[2019-10-21 06:21] ifekaj commented on #23450
I had the same issue. Product export and mass attribute don't work unless i run the CLI command. i tried the following command `ps aux | grep [c]onsumer` which didn't return anything.
After a bit of experimenting, i found that changing the following in env.php helped:
`    'cron_consumers_runner' => array(
        'cron_run' => true,
        'max_messages' => 20000,
        'consumers' => array(

[2019-10-21 06:36] jayankaghosh commented on #24681
@craigcarnell instead of specifying whether to render in snake_case or CamelCase, which would again be restrictive, why don't we make sort of a map wherein through di.xml we can specify which field of which class should be called what?

[2019-10-21 07:08] dinesh6686 commented on #24023
@magento-engcom-team / @milindsingh can I know why this issue has been closed with status cant be reproduced? I'm still able to reproduce it in 2.3.3

[2019-10-21 07:17] patrick-bigbridge commented on #15935
@magento-engcom-team Thanks, but please check the links to the commits. They are broken.

[2019-10-21 07:24] dev-Z-Apx commented on #25092
did anyone check this issue ?
I see no comments or progress on this issue

@magento-engcom-team

[2019-10-21 07:26] maheshWebkul721 commented on #25069
@shikhamis11 could you please check this issue?

[2019-10-21 07:30] fanglexue commented on #24428
@fluential  Thank you for your kind help !

[2019-10-21 07:40] craigcarnell commented on #24681
@jayankaghosh Whatever works is good with me :+1:

[2019-10-21 07:47] tantranvn commented on #25053
Hi, I was having the same issue with collapsible widget after upgraded to Magento version 2.3.3.

My temporary solution was changing _scrollToTopIfVisible function in this file
\lib\web\mage\collapsible.js

From
[code]
to

[code]

Hope this helps.

[2019-10-21 07:51] Nazar65 commented on #23691
@neillrobson https://devdocs.magento.com/page-builder/docs/reference/events.html

[2019-10-21 08:13] gwharton commented on #25158
As a workaround, consider researching effect of, and enabling MSI as a) its coming and you probably wont be able to avoid it and b) negative thresholds work as designed (although backorder notifications are a bit whiffy at the moment, pending PR)

[2019-10-21 08:17] JavierYD commented on #9440
More errors:
1) the URLs to products inside the sitemap files are not fully SEO => remove index.php from URLs
2) images must point to the source image path and not to the cache folder

<url><loc>https://piezas-portatiles.com/index.php/bateria-para-acer-aspire-e1-522-e1-530-li-ion-14-8v-2600mah-bt28.html</loc><lastmod>2017-05-31T08:30:48+00:00</lastmod><changefreq>daily</changefreq><priority>1.0</p

[2019-10-21 08:20] gwharton commented on #25142
Yes. You need to either disable the async.operations.all consumer from being run (in env.php) and do without that functionality or setup the amqp details (also in env.php) to point to your rabbitmq installation. Seems there is no way to configure the async.operations.all queue to use mysql instead of amqp server.

[2019-10-21 08:24] JavierYD commented on #9440
Some products and categories have unfriendly URLs:

[code]

[2019-10-21 08:29] HirokazuNishi commented on #24637
It's not only Chinese, but also Japanese.

[2019-10-21 08:36] shikhamis11 commented on #25040
#mleu2019

[2019-10-21 08:39] shikhamis11 commented on #23290
#mleu2019

[2019-10-21 08:45] shikhamis11 commented on #23290
@magento I am working on this issue

[2019-10-21 08:47] shikhamis11 commented on #18812
#mleu2019

[2019-10-21 08:48] shikhamis11 commented on #18812
@magento I am working on this issue

[2019-10-21 08:51] krishprakash commented on #25154
@magento give me 2.3.3 instance

[2019-10-21 08:51] magento-engcom-team commented on #25154
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-21 08:52] annakoehler commented on #25166
@magento I am working on it

[2019-10-21 08:53] magento-engcom-team commented on #25154
Hi @krishprakash, here is your [Magento instance](https://i-25154-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25154-2-3-3.instances.magento-community.engineering/admin](https://i-25154-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-21 08:54] cstergianos commented on #21592
@magento I am working on it

[2019-10-21 08:54] NicoSiebler commented on #25166
@magento I am working on it.

[2019-10-21 08:58] engcom-Delta commented on #25151
Hi @jorgb90 thank you for your report. It is MSI related issue.
If [comment](https://github.com/magento/inventory/issues) doesn't help you, please, create issue in appropriate repository [Inventory](https://github.com/magento/inventory/issues)

[2019-10-21 08:58] #25151 closed, assigned to engcom-Delta

[2019-10-21 08:59] krishprakash commented on #25154
Hi @matthewonassis. Unable to reproduce the issue on vanilla magento instance.
Feel free to reopen if you confirm that issue reproduce on magento  instance with reproducible steps.
Thanks

[2019-10-21 08:59] #25154 closed, assigned to krishprakash

[2019-10-21 09:01] viniciusfabri commented on #22084
@magento I am working on it

[2019-10-21 09:05] waldroot commented on #25166
@magento I am working on it

[2019-10-21 09:08] Naberdz commented on #23569
getSpecialPrice was also affected by plugin. it seem to return modified price which was coming from plugin.
so if we to make field (price for plugin ) and set it to 5.
amount of items in box is 4.
original price 20

so if we call product get price it will return 5, and 20 in checkout.

if we add special price and set it to 18 it will still return 5.
from what i understood it works like this: if sp

[2019-10-21 09:08] magento-engcom-team commented on #25040
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21946` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-21 09:15] DnD-Mimosa commented on #25142
@magento I am working on it !

[2019-10-21 09:15] amon81 commented on #24982
@magento give me 2.3-develop instance

[2019-10-21 09:15] magento-engcom-team commented on #24982
Hi @amon81. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-21 09:16] magento-engcom-team commented on #24982
Hi @amon81, here is your [Magento instance](https://i-24982-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24982-2-3-develop.instances.magento-community.engineering/admin](https://i-24982-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-21 09:38] engcom-Charlie commented on #25077
Hello @MichaelThessel
We are not able to reproduce this issue on a fresh Magento 2.3-develop & 2.3.3.

**Manual testing scenario:**
1. Disable `Magento_BraintreeGraphQl` `Magento_Braintree` modules
![image](https://user-images.githubusercontent.com/51680850/67192961-30a66f00-f3fd-11e9-885a-8c4e14a6e518.png)
2. Add product to cart, check cart page or minicart

**Actual result:**
1. Don't have addit

[2019-10-21 09:38] #25077 closed, assigned to engcom-Charlie

[2019-10-21 09:38] engcom-Delta commented on #25141
Hi @Cloudwaysaneeq thank you for your report. I cannot reproduce issue according your description on clean 2.3-develop.
If you'd like to [update](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) issue , please reopen it.

[2019-10-21 09:38] #25141 closed, assigned to engcom-Delta

[2019-10-21 09:41] amon81 commented on #24982
Ok, thanks, I've seen that only after logout procedure and relogin i see the tjhe correct rule price applyied.
I think it's correct way.
thanks

[2019-10-21 09:41] #24982 closed, assigned to shikhamis11

[2019-10-21 09:45] WalterSmulders opened #25182 "Special from / to date wrong on administrator Dutch locale"
### Preconditions (*)

Magento 2.3.3 & 2.3-develop

### Steps to reproduce (*)

1. Login to admin panel
2. Use account with Dutch locale
3. Open a product to edit
4. Insert special price for product and leave Special Price From empty or fill in date
5. Save product
6. Special price from and/or Special price to will be wrong

### Expected result (*)

1. Special from / to date should be correct

###

[2019-10-21 09:49] mattheo-geoffray commented on #23515
@magento I am working on it

[2019-10-21 09:53] Tjitse-E commented on #21904
@Berdir I can't reproduce this on 2.3-dev. Can you check this again? I've created a sample module that processes queues without any problems (https://github.com/Vendic/magento2-mysql-queue-sample-module/tree/master). Let me know if i've missed something, but for now let's close this issue.

[2019-10-21 10:05] erfanimani commented on #21904
This issue is definitely still there. I can check later, but it only
happens when using the new XML format as explained in the devdocs.

On Mon, 21 Oct 2019, 17:55 Tjitse, <notifications@github.com> wrote:

[2019-10-21 10:08] janmyszkier commented on #24930
_sigh_ can't wait for the MacOS developers to come to their senses and start using case-sensitive filesystem (and Windoze developers to stop using windows for development until it provides case sensitive file system)

[2019-10-21 10:12] edward-simpson commented on #22243
Is this still not supported outside of the USA?  I have a UK client looking to use it, and it's very widely used in the UK

[2019-10-21 10:28] utka955 opened #25186 "Meta keywords are stripped while uploading images on magento 2.3.1"
### Preconditions (*)
1. Magento 2.3.x & 2.3-develop
2. PHP 7.x
3. Have an image with keywords
![image](https://user-images.githubusercontent.com/51680850/67370036-b43d9880-f582-11e9-931d-512006b90cd4.png)

### Summary (*)
I am having SEO optimized images that contain keywords and when I upload them on Magento and download the image then all the keywords are missing. Right now it is using GD2 but

[2019-10-21 10:47] terrybakshi opened #25187 "Website Hang issue"
Preconditions (*)
Magento 2.7.7

Steps to reproduce (*)
When i Open Website it Hangs while loading and you can't scroll the page while its loading.
Try Scrolling the page and it just get stuck.
We have this Script that caught my attention which is taking too long to load and is causing the issue. The Script load from here : https://magento-optimization.dev/events

Expected result (*)
Website shoul

[2019-10-21 10:48] Shubham-Webkul commented on #25182
@magento give me 2.3-develop instance

[2019-10-21 10:48] magento-engcom-team commented on #25182
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-21 10:49] magento-engcom-team commented on #25182
Hi @Shubham-Webkul, here is your [Magento instance](https://i-25182-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25182-2-3-develop.instances.magento-community.engineering/admin](https://i-25182-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-21 10:54] viniciusfabri opened #25188 "Magento 2.3: Import fails if configurable attribute has an equal sign in its value"
### Preconditions (*)
1. Magento 2.3.2 (2.3-develop also works) - PHP 7.1.26
2. Sample data Installer

### Steps to reproduce (*)
1. Change one of the attributes used by the configurable products (Size for instance) to have an = sign in its value
2. Export a configurable product that uses this attribute
3. Try to import the CSV from the previous step

### Expected result (*)
1. Product should be i

[2019-10-21 10:55] engcom-Delta commented on #25096
Hi @paras89 thank you for your report. I cannot reproduce issue by steps you described on clean 2.3-develop.
In my case I was able to get this error message if add extra spaces into the field that contain categories:
[works.csv.txt](https://github.com/magento/magento2/files/3750280/works.csv.txt)
[notworks.csv.txt](https://github.com/magento/magento2/files/3750281/notworks.csv.txt)

If you'd like

[2019-10-21 10:55] #25096 closed, assigned to engcom-Delta

[2019-10-21 11:00] andparsons opened #25189 "Remove braintree/braintree_php from magento/magento2-base"
### Summary (*)
`braintree/braintree_php` is required in `magento/magento2-base` when the only module that relies on that dependancy is `magento/module-braintree`, which also has `braintree/braintree_php` as a dependancy

I am not composer requiring `magento/product-community-edition` but instead `magento/magento2-base` with a subset of Magento modules, which I believe is a better practice than us

[2019-10-21 11:00] paras89 commented on #25096
Hello,

You are creating complete new categories like:
Default Category/cat1,Default Category/cat2,Default Category/cat1/cat1-1,Default Category/cat2/cat2-2,Default Category/cat2/cat2-2/cat2-2-2

Try creating sub categories within existing categories. You will see the error then.
Something like
Default Category/gear/bags/magento-bags

[2019-10-21 11:08] Dnd-Dboy commented on #25142
@magento I am working on it

[2019-10-21 11:16] erfanimani commented on #21904
This is getting messy...

First of all, queue.xml is deprecated. See here https://devdocs.magento.com/guides/v2.3/extension-dev-guide/message-queues/queue-migration.html

As mentioned, queue.xml is now split into the following three files:

- queue_consumer.xml - Defines the relationship between an existing queue and its consumer.
- queue_topology.xml- Defines the message routing rules and declare

[2019-10-21 11:19] dhoang89 commented on #25188
@magento I'm working on it

[2019-10-21 11:28] boban-dj commented on #25053
mm i tried but did not fix the navigation with demo data installed
see here example: https://ibb.co/pXWj8Yx

[2019-10-21 11:32] paul-blundell opened #25190 "URL rewrites are not being generated when Single-Store Mode is enabled"
### Preconditions (*)
1. Magento (Open Source) 2.3.3
2. PHP 7.1.32
3. MySQL 5.7.15

### Steps to reproduce
1. Ensure Single-Store Mode is disabled
2. Change the store code and store view code so they are not default (unsure if this step is needed)
3. Add a new product
4. Edit product and in drop down change to your store view.
5. Change product title
6. Confirm all changes are reflected on the fro

[2019-10-21 11:32] paul-blundell commented on #25190
@magento give me 2.3-develop instance

[2019-10-21 11:32] magento-engcom-team commented on #25190
Hi @paul-blundell. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-21 11:32] magento-engcom-team commented on #25115
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21947` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-21 11:33] magento-engcom-team commented on #25190
Hi @paul-blundell, here is your [Magento instance](https://i-25190-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25190-2-3-develop.instances.magento-community.engineering/admin](https://i-25190-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-21 11:49] paul-blundell commented on #25190
I am unable to reproduce on the fresh instance of the develop branch, although I am unable to see the url_rewrite to fully confirm it isn't an issue.

I believe there is an underlying issue with Single-Store mode and others have reported similar issues: https://github.com/magento/magento2/issues/5929

[2019-10-21 11:55] adamonsoon commented on #25099
If you need to create a temp fix, here's how to use a full override (a plugin may be possible, but in both cases, you'd need to duplicate code due to most methods on `\Magento\Catalog\Model\Category\Attribute\Backend\Image` being private.

1. In `Namespace/Module/etc/adminhtml/di.xml` add:
`<preference for="Magento\Catalog\Model\Category\Attribute\Backend\Image"
            type="Namespace\Module\

[2019-10-21 11:55] neillrobson commented on #23691
@Nazar65 That documentation looks promising, but it seems specific to Magento's (relatively) new Page Builder module. If the `Magento_PageBuilder/js/events` component is the new standard for UI component event handling, then it could well be that this issue is resolved. Unfortunately, I myself am not an active Magento developer at the moment, so I cannot offer more specific insights into the syste

[2019-10-21 11:56] Tjitse-E commented on #21904
@erfanimani thanks for clarifying. When I remove queue.xml the issue appears.

[2019-10-21 12:23] cstergianos commented on #12825
@magento-engcom-team this issue does not seem to be reproducible anymore on magento 2.3-develop.

[SEE SCREENCAST](https://drive.google.com/file/d/1-Y8J5EQJaqVm2v9g_p1nSL06LWI7AFhB/view)

[2019-10-21 12:23] #12825 closed, assigned to cstergianos

[2019-10-21 12:28] cstergianos commented on #20311
@magento-engcom-team this issue is already fixed! Check following screenshot:

https://drive.google.com/file/d/11qUGlB7959yw5TNLBpgkyzuMpzEiXpMq/view

[2019-10-21 12:28] #20311 closed, assigned to cstergianos

[2019-10-21 12:31] patchee500 commented on #21728
@magento I am working on it

[2019-10-21 12:32] insaurabh opened #25192 "DHL Shipping"
### Preconditions (*)
Magento (Open Source) 2.2.4 & 2.3.x
PHP 7.1.32
MySQL 5.7.15

**Summary of the issue**
In  Non-Document, we don't get the desired Allowed Methods:

### Steps to reproduce (*)
Content-type in the setting of DHL have two options
- Document
- Non-Document
But while we make a selection of Document we get the desired Allowed methods:

### Expected result (*)
![image](https://user-i

[2019-10-21 12:34] Tjitse-E commented on #21372
This issue still exists on 2.3-dev (and Magento 2.3.3).

[2019-10-21 12:45] maddyBoy commented on #25192
@magento give me 2.3-develop instance

[2019-10-21 12:45] magento-engcom-team commented on #25192
Hi @maddyBoy. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-21 12:46] magento-engcom-team commented on #25192
Hi @maddyBoy, here is your [Magento instance](https://i-25192-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25192-2-3-develop.instances.magento-community.engineering/admin](https://i-25192-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-21 12:53] magento-engcom-team commented on #25111
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21949` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-21 12:53] keyurshah070 opened #25195 "Issue with tier price 0 when saving product second time"
### Preconditions (*)
1.Fresh Magento 2.3.3 or any Magento 2.3 setup

### Steps to reproduce (*)
1. Create a simple Test product
2. Set the normal price 100 or whatever you want
3. Set the tier price 0 for "All Groups" with "1" Qty.
<img width="967" alt="Screenshot 2019-10-21 at 14 44 37" src="https://user-images.githubusercontent.com/17308601/67206134-59d0fa80-f411-11e9-858a-ffd17a0c4b2f.png">

4

[2019-10-21 13:00] patchee500 commented on #21728
can't seem to reproduce this on 2.3.3

[2019-10-21 13:08] engcom-Delta commented on #25096
@paras89 I create nesting categories, like `Default Category/gear/bags`
![#25096CatTree](https://user-images.githubusercontent.com/51681379/67207548-84748080-f41c-11e9-8a6e-b26ba5c3625a.png)
Then modify my scv file and left only `Default Category/gear/bags/magento-bags` in category field
[works2.csv.txt](https://github.com/magento/magento2/files/3750924/works2.csv.txt)
Import this file successfull

[2019-10-21 13:12] cstergianos commented on #12726
@magento-engcom-team this does not seem to be an issue anymore. Tested on 2.3-develop brancfh on an iPad 3 Xcode Emulator

[2019-10-21 13:12] #12726 closed, assigned to nobody

[2019-10-21 13:15] magento-engcom-team commented on #24658
@itsPranith Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-21 13:15] magento-engcom-team commented on #24658
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21950` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-21 13:35] AndyJAllen commented on #23450
This is a very interesting point and can be why some of us are experiencing the issue being discussed here; I had the following in my env.php (which has probably been in there since early 2.2 versions)

'cron_consumers_runner' => [
        'cron_run' => false,
        'max_messages' => 1000,
        'consumers' => [
            'async.operations.all'
        ]

[2019-10-21 13:40] cstergianos commented on #11411
@magento-engcom-team see previous comment. This is fixed.

[2019-10-21 13:40] #11411 closed, assigned to nobody

[2019-10-21 13:40] duckchip commented on #9948
@scottsb I tested this on branch 2.3-develop and was not able to reproduce this.
This is the scenario I used:

1. Create a module 'Vendor_Module' with a events.xml file that listens to the event "this_custom_event" linked to an instance "Vendor/Module/Observer/Event".
This observer just does a var_dump.

`<event name="this_custom_event">
        <observer name="vendor_module_event"

[2019-10-21 13:45] paras89 commented on #25096
You should have sample data when you try to create those cateogories. If the category tree already exists the importer does not allow you to add children cateogories.

Thank you!

________________________________
From: Vasyl Shvorak <notifications@github.com>
Sent: Monday, October 21, 2019 2:09:57 PM
To: magento/magento2 <magento2@noreply.github.com>
Cc: paras89 <paras89@live.com>; Mention <mentio

[2019-10-21 13:55] cstergianos commented on #15631
@magento-engcom-team it seems that this issue is not reproducible anymore.Please take a look at the following screenshot for more details:

https://drive.google.com/file/d/1_aJQh2gFpdKy5WVlQdwgOkjhsubKHyu6/view

[2019-10-21 13:55] #15631 closed, assigned to cstergianos

[2019-10-21 14:06] engcom-Charlie commented on #25136
Hello @sangeetajain
We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

**Manual  testing scenario:**

1. Create customer
2. Go to the Stores->Configuration
3. Set Add Store Code to Urls to Yes
4. Set Customer Share to "Global"
5. Go to the frontend
6. Try to switch store or storeview with using switcher

**Actual result:**
I can switch stores without any er

[2019-10-21 14:06] #25136 closed, assigned to engcom-Charlie

[2019-10-21 14:09] engcom-Delta commented on #25096
@paras89 I tried scenario when categories contain products:
![#25096CatogiriesWithProducts](https://user-images.githubusercontent.com/51681379/67212336-e89b4280-f424-11e9-987c-f174a461c19d.png)

- Edit scv file by adding `Default Category/Category 4/Category 4.1/Category 4.1.1/magento-bags`:

[works3.csv.txt](https://github.com/magento/magento2/files/3751208/works3.csv.txt)

- Import file is finis

[2019-10-21 14:16] amenk opened #25199 "Catalog Category Indexing takes very long on MariaDB 10.3 with many products"
### Description (*)

I know MariaDB 10.3 is not yet supported, as per dev docs, so I add this as feature requests, while it will manifest as a bug as soon as we support MariaDB 10.3

Magento should remove the quotes in the SELECT entity_id IN statement when creating indexes. The entity_ids are not strings, and this seems to confuse the optimizer.

### Steps to reproduce:

1. Change value for simpl

[2019-10-21 14:24] sidolov commented on #24637
Hi @HirokazuNishi , mentioned issue details:

**Steps to reproduce:**
1. Insert a widget into the editor
2. Add text with no spaces
3. Insert another widget after text with no spaces

**Example:**
<widget>TEXT<widget>

**Expected result:**
widget gets inserted after the text and text is still editable

**Actual result:**
widget gets inserted before the text and text is no longer editable

[2019-10-21 14:24] AndyJAllen commented on #25076
Also experiencing this after 2.3.3 upgrade.

[2019-10-21 14:32] krisdante commented on #24128
@magento give me 2.3-develop instance

[2019-10-21 14:33] magento-engcom-team commented on #24128
Hi @krisdante. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-21 14:33] magento-engcom-team commented on #24128
Hi @krisdante, here is your [Magento instance](https://i-24128-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24128-2-3-develop.instances.magento-community.engineering/admin](https://i-24128-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-21 14:39] navarr commented on #24930
@janmyszkier: PHP namespaces are case-insensitive.

While I definitely take full blame for the issue, I think it might be a corner-case composer or DI bug

[2019-10-21 14:44] amenk commented on #25199
Not able to reproduce, because it's a feature requests for a recent MariaDB 10.3 which is not yet supported by Magento 2.3

[2019-10-21 14:46] Orstio opened #25201 "Bundle Item Qty is sent to Validate Child Qty"
### Preconditions (*)

1. Magento 2.3.2
2. A Bundle product where at least one child product has a qty step set greater than 1.

### Steps to reproduce (*)

1.  Put one bundle product as described above in the cart.
2.  The cart page will display an error message saying that the Qty is not correct.

### Expected result (*)

1. If the Qty of the child item is a multiple of the value for that child

[2019-10-21 14:47] shahbaztariq commented on #24930
Whilst that may be true - we should definitely work in a case-sensitive environment.

On linux this is the case already.

On OSX there is a way to create a disk image that is built on a case sensitive file system and works very well.

On windows however, no idea.

[2019-10-21 14:49] vkublytskyi commented on #24930
@janmyszkier Unfortunately this issue is more tricky than just case sensitive/insensitive filesystems. We do have a testing infrastructure verifying builds on various Linux distros as well as before release we made manual regression on various environments including Magento Cloud and on all of these environments the issue does not appear. So we still exploring issue and try to find a reason for di

[2019-10-21 14:49] jcoby commented on #24930
while php is case-insensitive, PSR-4 is not:

So, while php doesn't care about `Flexfield` vs `FlexField`, PSR-4 and composer do.

[2019-10-21 14:53] vkublytskyi commented on #24930
We will add static tests to enforce strict case comparisons for PHP code and DI configuration to avoid such issues in the future.

[2019-10-21 14:53] amenk commented on #25199
I also created an issue in the MariaDB tracker: https://jira.mariadb.org/browse/MDEV-20871

[2019-10-21 14:55] magento-engcom-team commented on #25195
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21951` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-21 15:11] david-kominek commented on #25076
Also experiencing, this is blocking our upgrade.

[2019-10-21 15:31] engcom-Charlie commented on #25146
Hello @sangeetajain
We are not able to reproduce this issue on the lates 2.3-develop branch by provided step.
I have to close this issue.
Thanks for your report!

[2019-10-21 15:40] Shubham-Webkul commented on #25195
@magento give me 2.3-develop instance

[2019-10-21 15:40] magento-engcom-team commented on #25195
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-21 15:41] magento-engcom-team commented on #25195
Hi @Shubham-Webkul, here is your [Magento instance](https://i-25195-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25195-2-3-develop.instances.magento-community.engineering/admin](https://i-25195-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-21 16:12] operations1 commented on #23667
Hello,

The same issue is appearing for me on Magento 2.2.8 and its confusing some of the shipping/payment methods rules and restrictions. Please provide a complete solution to keep the selected address (quote address) and not select the default address again. You can reproduce this on a fresh Magento 2.2.8 installation by logging out and login again, and going back to the checkout page!

[2019-10-21 16:53] RalphVB commented on #23450
Actually, doing what @ifekaj wrote solved the queue problems in all my Magento 2.3.3 projects.
I found that solution in the documentation, here: [Queue Solution](https://devdocs.magento.com/guides/v2.2/config-guide/mq/manage-message-queues.html)

Here is how I configured my cron_consumers_runner:
`'cron_consumers_runner' => [
        'cron_run' => true,
        'max_messages' => 2000,
        'con

[2019-10-21 17:41] AndyJAllen commented on #23450
Did you guys happen to get the following dropped into your system.log after modifying your env.php file?

Sorry to deviate the post.

[2019-10-21 17:47] RalphVB commented on #23450
@AndyJAllen Yes, to prevent that message in the log take out from the env. php in the cron_consumers_runner the "async.operations.all". In my projects there has not been any problem taking it out.

[2019-10-21 17:49] nadroj467 commented on #18148
Experiencing the issue again now in 2.3.3. Our orders are not exporting via API because they have Pending Payment status. Please, can someone resolve this?

[2019-10-21 18:55] Bartlomiejsz commented on #25158
Hi @p-bystritsky, I wanted to work on this issue but I noticed that similar fix to what I wanted to do was already committed https://github.com/magento/magento2/commit/6f4df9be6a8f2a43b08b3831821d01fe6f1e4c2f#diff-1555bd96a37cc3d7a70869442e07a012 and then reverted in https://github.com/magento/magento2/commit/b21394fa5d4a860476c32b1d678eb577b8ac3c83#diff-1555bd96a37cc3d7a70869442e07a012 - not sure

[2019-10-21 19:16] ananth-iyer commented on #21441
@kennylawrence Yes, I have installed the sample data as well on Magento 2.3.2. I think swatches.css comes with blank or luma theme.

[2019-10-21 19:28] kennylawrence commented on #21441
@ananth-iyer it does not appear in the packaged blank and luma themes if sample data was not installed...
In any case, I would hope someone at Magento would care that out of the box, with sample data installed, a fresh installation will result in a 404 network error on the home page for the swatches.css assest....

[2019-10-21 19:40] torhoehn commented on #23876
@magento give me 2.3-develop instance

[2019-10-21 19:40] magento-engcom-team commented on #23876
Hi @torhoehn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-21 19:46] sdzhepa commented on #15935
Hello @patrick-bigbridge

By mistake, the internal Jira ticket was closed before code has been delivered into `2.3-develop` branch.
At this moment we have next status for this issue:
- Internal team has fixed this issue
- Fix has been code-reviewed and QA passed
- Internal Pull Request in the delivery queue now and should be delivered into `2.3-develop` branch during the next couple of days

After

[2019-10-21 19:47] torhoehn commented on #23876
Closing this issue, because this issue seems to be fixed in 2.3-develop.
![Screenshot 2019-10-21 at 21 46 40](https://user-images.githubusercontent.com/1945725/67237843-5870f380-f44c-11e9-92d2-bb6b2bcf789a.png)

[2019-10-21 19:47] #23876 closed, assigned to torhoehn

[2019-10-21 21:01] zhartaunik commented on #24660
The described issue contradicts this one: https://github.com/magento/magento2/issues/19908
Should we really leave WebAPI exceptions in English? And why English? They may be used for showing on the frontend. And I think this is not a good behavior.

[2019-10-21 21:25] ArthurSCD commented on #25038
Obviously this has been closed and marked as fixed, but with Elastic Search enabled and Magento 2.3.3, it breaks pagination for me period. Even on non-search pages, (so just category/catalog pagination in general) - I applied the patch, triple checked the edit and regenerated files and all that but the pagination remains broken. If I switch to MYSQL search, pagination goes back to working immediat

[2019-10-22 00:10] kriswen commented on #22999
@glo-arandazzo did you ever find a solution to this issue? I tried upgrading with 2.2.9 to 2.3.3 also facing the same issue. thanks

[2019-10-22 00:33] uabassguy commented on #23411
@fritzmg I use this to filter out that exception to find others, not a real fix but it helps for now.

`cat var/log/exception.log | grep -v customerId`

[2019-10-22 01:18] toddrobards commented on #21666
I have the same issue on Magento 2.3.2 fresh install.
Catalog > Products > Product Edit (Simple Product) > Advanced Pricing > Special Price From & To (selected from calendar drop down) > Done > Save = **X Invalid input datetime format of value 'Invalid date'**

I did what @KholdenSP advised by "Update Attribute" from products list which worked.

Pretty bad when these simple tasks worked in M2.1.8

[2019-10-22 03:18] andrewkett commented on #22000
We are also seeing the exact same behaviour described by @Thejarnold on 2.3.1. Products are in stock and purchasable as the store is using a custom source, however some of the configurable products are out of stock in cataloginventory_stock_status and are therefore showing $0 on product and category pages

[2019-10-22 04:29] kingletas commented on #25084
@LouNik1984 one thing you want to verify is that the product is associated with the other stores and it has generated the URLs. When you see URLs like `catalog/product/view/{id}` it usually means the URL rewrite was not found. Another thing, for the no default store you may start seeing the store __param if you access them from a separate store.

[2019-10-22 04:36] sangeetajain commented on #25146
In Magento 2.3.3 community version Go to admin create 2 stores view then create a product in admin for "All store View" and save this.
Now open this product again for edit and select the one storeview then remove checkmark from "Enabled" AND "Disable" this product for one store view. It will automatically disabled to other 2nd store view. We have not disabled for 2nd store view, we disabled this p

[2019-10-22 04:45] AnshuMishra17 commented on #25040
@shikhamis11 If there is no need to of ? in front of ?AsyncClientInterface and ?ProxyDeferredFactory then I guess it is better to remove those to maintain the same naming convention.
Also, It is better to pass array $data = [] as the last param because it is optional and to maintain the coding structure.
Please check and if it make sense.

[2019-10-22 04:48] ajijshekh123 commented on #25201
Give me @magento give me 2.3-develop instance

[2019-10-22 04:48] magento-engcom-team commented on #25201
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-22 04:48] magento-engcom-team commented on #25201
Hi @ajijshekh123, here is your [Magento instance](https://i-25201-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25201-2-3-develop.instances.magento-community.engineering/admin](https://i-25201-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-22 05:02] ajijshekh123 commented on #25201
It is not displaying an error. I have followed the same scenario as per the defined steps.
**See attached screenshot:**

![Child Bundle Product Issue](https://user-images.githubusercontent.com/24711761/67260111-29439c00-f4b7-11e9-9ba6-1b062d67e17b.png)

[2019-10-22 05:13] krishprakash commented on #24426
@magento give me 2.3.3 instance

[2019-10-22 05:13] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-22 05:14] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-3.instances.magento-community.engineering/admin](https://i-24426-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-22 05:20] Khushbu-Webkul-QA commented on #25137
@magento give me instance

[2019-10-22 05:25] magentopits commented on #23667
I'm not sure how to reopen this issue. @engcom-Bravo could you please do that for me as @operations1 is also getting this issue.

[2019-10-22 06:12] cedarvinda opened #25202 "If you going to make credit memo for an order, Update Qty's button not aligned proper with respective colum"
If you going to make credit memo for an order, Update Qty's button not aligned proper with respective colum

### Preconditions (*)
1. Magento 2.3.x
2. php 7.2

### Steps to reproduce (*)
Step-1: Login to admin panel
Step-2: Go sales > order menu
Step-3: Open any order and make invoice for this order
	OR
Step-4: You can open invoiced order
Step-5: and click in Credit Memos link and scroll page bell

[2019-10-22 06:13] shikhamis11 commented on #25202
@magento give me 2.3-develop instance

[2019-10-22 06:13] magento-engcom-team commented on #25202
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-22 06:13] magento-engcom-team commented on #25202
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2019-10-22 06:13] magento-engcom-team commented on #25202
Hi @shikhamis11, here is your [Magento instance](https://i-25202-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25202-2-3-develop.instances.magento-community.engineering/admin](https://i-25202-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-22 06:18] magento-engcom-team commented on #25202
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21967` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-22 06:44] engcom-Delta commented on #23620
Hi @bassmo according [docs](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/layout-types.html#layout-types-conf) `link` element cannot contain `href` attribute.
Will solution with using `src` attribute instead of `href` work for you?

[2019-10-22 07:23] sudheers-kensium commented on #25137
@magento give me 2.3-develop instance

[2019-10-22 07:23] magento-engcom-team commented on #25137
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-22 07:24] magento-engcom-team commented on #25137
Hi @sudheers-kensium, here is your [Magento instance](https://i-25137-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25137-2-3-develop.instances.magento-community.engineering/admin](https://i-25137-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-22 07:32] magento-engcom-team commented on #25137
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-22 07:33] magento-engcom-team commented on #25137
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21968` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-22 07:34] sudheers-kensium commented on #25137
Alignment issue

![image](https://user-images.githubusercontent.com/50358141/67265865-68c8b300-f4cc-11e9-8ff4-adc5efefccef.png)

[2019-10-22 07:40] pankajpragma commented on #9696
@aivoris Did you get a solution for it? The same thing is happing with me.

[2019-10-22 08:10] engcom-Bravo commented on #23667
@magentopits we are supposed to close the issues that are not reproduced on 2.3-develop branch. (Please see the details to point 4 of our [workflow](https://github.com/magento/magento2/issues/23667#issuecomment-510441064)). In case You find the way to reproduce it on 2.3-develop please let us know and we will reopen the issue.

[2019-10-22 08:25] engcom-Delta commented on #25001
Hi @Zyles thank you for your report. This case is reproducible only for  `searchCriteria[currentPage]=0` and `searchCriteria[currentPage]=1`.
[currentPage=0.txt](https://github.com/magento/magento2/files/3754371/currentPage.0.txt)
[currentPage=1.txt](https://github.com/magento/magento2/files/3754372/currentPage.1.txt)
[currentPage=2.txt](https://github.com/magento/magento2/files/3754373/currentPag

[2019-10-22 08:25] #25001 closed, assigned to engcom-Delta

[2019-10-22 08:32] magento-engcom-team commented on #25146
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` aga

[2019-10-22 08:34] magento-engcom-team commented on #25146
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21969` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-22 08:36] cedarvinda opened #25207 "Subscribed to Newsletter Label and respective checkbox not aligned proper"
Subscribed to Newsletter Label and respective checkbox not aligned proper in customer edit section in admin panel

### Preconditions (*)
1. Magento 2.3.x
2. php7.2

### Steps to reproduce (*)
1. Login to admin panel
2. Redirect Customers > All customers and view any customer details
3. Now click in newsletter tab appear in left side
4. And refer screenshot in sctual result

### Expected result (*)

[2019-10-22 08:37] sudheers-kensium commented on #25207
@magento give me 2.3-develop instance

[2019-10-22 08:37] magento-engcom-team commented on #25207
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-22 08:38] magento-engcom-team commented on #25207
Hi @sudheers-kensium, here is your [Magento instance](https://i-25207-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25207-2-3-develop.instances.magento-community.engineering/admin](https://i-25207-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-22 08:41] magento-engcom-team commented on #25207
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21970` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-22 08:42] engcom-Delta commented on #25027
Issue is reproducible on 2.3-develop
![#25027issue](https://user-images.githubusercontent.com/51681379/67270270-fd2d1880-f4c0-11e9-9aae-40e25ee999c4.gif)

[2019-10-22 08:43] itwebdev2 commented on #25050
@ajijshekh123 could you please review my comment above?

[2019-10-22 08:44] magento-engcom-team commented on #25027
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21971` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-22 08:44] cscd98 opened #25209 "Magento 2.3.3 - Images lost when re-saving a category"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Edit category
2. No images are loaded
3. Save category -> images are lost
4. Edit category - upload images -> save, images are saved
5. Edit category -> images are not loaded

### Expected result (*)
1. Images to exist

### Actual result (*)
1. No images in back end or front end

[2019-10-22 08:47] ajijshekh123 commented on #25209
Give me @magento give me 2.3-develop instance

[2019-10-22 08:47] magento-engcom-team commented on #25209
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-22 08:48] magento-engcom-team commented on #25209
Hi @ajijshekh123, here is your [Magento instance](https://i-25209-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25209-2-3-develop.instances.magento-community.engineering/admin](https://i-25209-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-22 08:49] ajijshekh123 commented on #25050
@itwebdev2 - Sorry for the late response. Today I will review this issue again update it.

[2019-10-22 08:57] paul-blundell commented on #25209
I have just ran into this exact issue on a fresh 2.3.3 instance.

[2019-10-22 09:07] ajijshekh123 commented on #25209
This issue is related to the:  https://github.com/magento/magento2/issues/22222

I think this issue is related to the DB as per the above issue comment.
I don't have this issue reproduced. Please see attached screenshot:

![2019-10-22 (4)](https://user-images.githubusercontent.com/24711761/67271953-33769200-f4d9-11e9-8c5b-2982a3445eee.png)

![2019-10-22 (5)](https://user-images.githubusercontent.c

[2019-10-22 09:11] paul-blundell commented on #25209
@ajijshekh123 So whats the solution?? I can't find anything in that linked issue suggesting a solution. There is an issue here, perhaps when migrating from 2.2 to 2.3. This is happening for me on 3 Magento installs, all of which have been upgraded from 2.2

[2019-10-22 09:19] amenk commented on #25199
vendor/magento/module-catalog/Model/Indexer/Category/Product/Action/Full.php:287

        foreach ($batchQueries as $query) {
            $this->connection->delete($this->tableMaintainer->getMainTmpTable((int)$store->getId()));
            $entityIds = $this->connection->fetchCol($query);
            foreach($entityIds as &$val) { // patch
                $val = (integer) $val;     // patch

[2019-10-22 09:23] ajijshekh123 commented on #25209
I think you haven't proper migrating DB that's why this issue found in your magento instance.
Magento fresh 2.3.3 instance I can't reproduce this issue that's why I have close it.

[2019-10-22 09:25] paul-blundell commented on #25209
Just to explain what I am seeing happening here:

1. Create a new category
2. Upload an image, e.g. my-image.png
3. Save the category
4. Checking the media/catalog/category folder I can see my-image.png and checking the database table `catalog_category_entity_varchar` I can see my-image.png for attribute ID 48 (image)
5. Reload category and click save
6. Image now missing, checking media folder an

[2019-10-22 09:27] verhaeghep commented on #25076
Also experiencing since 2.3.3 upgrade. Not only in Outlook but also in Thunderbird with IMAP server.

[2019-10-22 09:31] ajijshekh123 commented on #25209
Magento Provide me Magento 2.3.3 instance and I have verified this issue with your same steps but I can't find it.
If you have querey this issue is related to Default Magento instance you can open it.

Thanks.

[2019-10-22 09:36] ValeSauer commented on #24660
Software usually provides machine readable error codes in addition to human readable error descriptions to avoid this issue.
The Web-API is definitely not only intended to be used by frontend applications, but also by backend integrations such as syncs, imports, exports, so it should consider the requirements of a machine. Even a frontend application might be able to interprete error codes, e.g. t

[2019-10-22 09:59] amenk commented on #25199
I tried to patch
\Magento\Framework\DB\Select::where

    public function where($cond, $value = null, $type = null)
    {
        // ensure that integers are passed as integer,
        // to avoid negative effects on performance
        if (is_array($value)) {
            foreach($value as &$val) {
                $val = $this->castNumeric($val);
            }
        } else {
            $value =

[2019-10-22 10:01] amenk commented on #25199
I will inject the patch into \Magento\Framework\DB\Adapter\Pdo\Mysql::quoteInto

[2019-10-22 10:08] paul-blundell commented on #25209
So you've closed this issue because you can't reproduce it on a fresh installation of Magento, but did you try to reproduce the issue on an upgraded instance? I followed the exact upgrade steps [listed here](https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html) and this issue has now occured on 3 instances of Magento.

[2019-10-22 10:10] connect232 commented on #25099
I tried the above temp fix but the fileResidesOutsideCategoryDir($value) function returned true when the file resided in the category directory. This made it add /media/catalog/category to the image filename, which I didn't want.

I applied the following fix to solve the problem:-

In the beforeSave method in the file \Magento\Catalog\Model\Category\Attribute\Backend\Image replace

$imageName = $t

[2019-10-22 10:12] terrybakshi commented on #25187
HI can anyone help pls
![Screenshot_8](https://user-images.githubusercontent.com/13229022/67276530-9afc0400-f510-11e9-87f9-745a3d5a8c4a.png)

[2019-10-22 10:12] ajijshekh123 commented on #25209
Okay Fine @paul-blundell, Now I have reopen this issue.

Thanks for the update.

[2019-10-22 10:16] paul-blundell commented on #25209
I have also just done a completely fresh install, new files and database following these instructions: https://devdocs.magento.com/guides/v2.3/install-gde/composer.html

Same issue.

Thanks for reopening.

[2019-10-22 10:19] engcom-Charlie commented on #24986
@soumyamol-mathew this issue was fixed in pull request #24906 which was merged to 2.3-develop branch and it will be included in `Magento 2.3.4 `release .
So i have to close this issue as a duplicate.
Thanks for your report!

[2019-10-22 10:19] #24986 closed, assigned to engcom-Charlie

[2019-10-22 10:33] JuraseQ opened #25211 "RSS Feed - first load not working"
### Preconditions (*)

1. Magento 2.3.x & 2.3-develop
2. PHP 7.2.21 (i believe any other version too).

### Steps to reproduce (*)

1. Enable standard RSS Feed module.
2. Enable RSS Feed for New Products and Special Products.
![2020-07-21_16-10-30](https://user-images.githubusercontent.com/3409584/88184380-3c2afe80-cbf8-11ea-9fa3-2975984ec2b1.jpg)

3. Proceed to domain.tld/rss
![image](https://use

[2019-10-22 10:36] krishprakash commented on #25209
Hi @craigcarnell. Thank you for your report.
Seems similar issue is already open
Please check  #25099
And it's only reproduce on 2.3.3 not in 2.3-develop instance
Thanks

[2019-10-22 10:43] paul-blundell commented on #25099
Any inidication on when this will be fixed? This is a pretty major issue. Our clients are unable to modify their categories.

[2019-10-22 11:14] krisdante commented on #24128
@magento give me 2.3-develop instance

[2019-10-22 11:14] magento-engcom-team commented on #24128
Hi @krisdante. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-22 11:15] magento-engcom-team commented on #24128
Hi @krisdante, here is your [Magento instance](https://i-24128-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24128-2-3-develop.instances.magento-community.engineering/admin](https://i-24128-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-22 11:41] chris-pook opened #25213 "Sales > Tax admin configuration page does not load (Vertex Tax module related)"
### Preconditions
1. Magento 2.3.3

### Steps to reproduce
1. Install Magento 2.3.3 (currently Vertex_Tax version "3.2.0")
2. Login to admin
3. Navigate to Stores > Configuration > Sales > Tax

### Expected result
1. Tax configuration screen should be displayed

### Actual result
1. The following error occurs and the configuration screen is not displayed:

`
Fatal error: Uncaught Error: Cannot ins

[2019-10-22 11:42] chris-pook commented on #25213
@magento give me 2.3-develop instance

[2019-10-22 11:42] magento-engcom-team commented on #25213
Hi @chris-pook. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-22 11:42] magento-engcom-team commented on #25213
Hi @chris-pook, here is your [Magento instance](https://i-25213-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25213-2-3-develop.instances.magento-community.engineering/admin](https://i-25213-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.