[2016-06-17 03:50] wangyonglin opened #5069 "Exception #0 (Exception): Warning: DOMDocument::loadXML(): Empty string supplied as input in /var/www/magento2/lib/internal/Magento/Framework/View/Element/UiComponent/Config/DomMerger.php on line 324"
# http://www.domain.com/adminhtml/cms/page/edit/page_id/1/key/75cbb9ce851059a821a9aed1c0c2fe756dc3f20280ccb439b8533d612f1b548f/

`Exception #0 (Exception): Warning: DOMDocument::loadXML(): Empty string supplied as input in /var/www/magento2/lib/internal/Magento/Framework/View/Element/UiComponent/Config/DomMerger.php on line 324

Exception #0 (Exception): Warning: DOMDocument::loadXML(): Empty stri

[2016-06-17 05:34] pboisvert commented on #5065
@ruby10 this is a question best direct to the Magento stack exchange account or the Community forums.  Github is intended solely for reporting issues.

[2016-06-17 05:34] #5065 closed, assigned to nobody

[2016-06-17 05:38] pboisvert commented on #5061
@radhagobinda can you follow the template provided in terms of providing steps to reproduce and also which version you are using? this will help speed any investigation

[2016-06-17 05:45] pboisvert commented on #5050
@antonkril not sure of you are the right person to investigate this one but if not hoping you might know who should review

[2016-06-17 05:46] danielneu commented on #1691
@nntoan this is not how it works everywhere and in all industries.
No one says remove that field, we are just asking to get an option to make it optional. This way anyone can decide whether orders without phone numbers can be accepted or not.

[2016-06-17 05:47] kandrejevs commented on #5062
That repository is for code migration...

[2016-06-17 05:51] vipin-eglobeits commented on #4741
Hi @elenleonova ,
We are in a trouble that the Usaepay payment method is not working, when we upgraded the website to Magento 2.0.7 version. We need to make the website live as early as possible.
Could you please confirm the date of the patch release which solves this bug.

[2016-06-17 06:08] pboisvert commented on #5019
@vipin-eglobeits this is a question best suited for the Magento Stack Exchange site or the Community forum. Git Hub is intended solely for reporting of issues. Closing the issue. Please reopen if you are reporting an issue.

[2016-06-17 06:08] #5019 closed, assigned to nobody

[2016-06-17 06:10] pboisvert commented on #5014
@snswap828 please provide more info on version and steps to reproduce or else we will need to close this ticket.

[2016-06-17 06:15] snswap828 commented on #5014
Magento version 2.0.5

when we login in admin panel, on dashboard it shows last 5 orders ,
but when we go to sell-> orders then it will display no item to display

On Fri, Jun 17, 2016 at 11:40 AM, Paul Boisvert notifications@github.com
wrote:

##

Thanks and Regards,

_Swapnil Nandanwar_

_Associate Developer_
M: +91-909-636-3612

[2016-06-17 06:19] bramklg commented on #4911
There seems to be a bug in `update/app/code/Magento/Update/CronReadinessCheck.php` that prevents proper logging. We had the same issue and it was because of a statistics directory where magento did not have write permissions for, however the log was empty (e.g. not showing the directories or files it could not write to or read from). The following code can be used as a replacement for `CronReadine

[2016-06-17 06:46] shinethazhava commented on #5019
It's OK but didn't mention about video import anywhere in the documentation
that's why people ask about it.
On 17 Jun 2016 11:39, "Paul Boisvert" notifications@github.com wrote:

[2016-06-17 07:03] AntonEvers commented on #3380
@MomotenkoNatalia, @piotrekkaminski would you be open to a pull request on this issue?

[2016-06-17 07:34] tunght13488 commented on #4065
@redboxmarcins I was able to work around this by dispatching related events `store_add`

[2016-06-17 07:35] srinivasanithin commented on #5013
@mbrinton01 I agree with @arijit-insync . I too didn't find a way to pull customers address which updated after a particular time nor I think we can run joins in API searches. There needs a way to pull that customer any particular updated happen on them.

Addresses records are linked to particular customer record and there are not part of any other records. Hence, I think any update happening on t

[2016-06-17 07:41] srinivasanithin commented on #5065
@pboisvert It should be Magento responsibility to bring the rate and amount based on the qty and item_id field passed in the API while creating the invoice. It should not be expecting these field values from the API user to give it. These can lead to many critical issue like variances in amount capture/invoiced and this can mess up many financial details. Can you review once again it as issue rath

[2016-06-17 07:42] xiangkundavis commented on #4441
is there a temporary quick fix?

[2016-06-17 07:44] asemenenko commented on #5024
Hi @truesilveruk , you need to set "New Order Status" to "Processing" and it will appear in the configuration.

[2016-06-17 07:44] #5024 closed, assigned to nobody

[2016-06-17 07:56] bordeo opened #5070 "Can't sign licence/cla — Contributor License Agreement."
I tried many times to sign in the licence/cla — Contributor License Agreement but it doesn't work.

licence/cla — Contributor License Agreement is not signed yet.

[2016-06-17 07:57] shinethazhava commented on #4741
Hi,

Please  let us know this issue fixed on any other branches in your
development repo. so that we can catch the fix before your patch release.

https://www.magentocommerce.com/certification/directory/dev/1865255/

SHINE , Software Developer
shine.thazhava@gmail.com <YOUR%20EMAIL%20ADDRESS>

M: +91 9447117468

On Fri, Jun 17, 2016 at 11:21 AM, vipin-eglobeits notifications@github.com
wrote:

[2016-06-17 07:58] SidneyBilliet commented on #5047
@duhon Hello, we are running 2.0.7

[2016-06-17 08:05] atIOCrON commented on #1471
I'd recently changed an attribute set name from "Digital Camera Batteries" to "Digital Camera and Camcorder Batteries".

When I first tried to import my new file I'd used the old "Digital Camera Batteries" attribute set name and I got the error that the attribute set didn't exist.

I then changed my import file to "Digital Camera and Camcorder Batteries" and tried the import again. That's when I g

[2016-06-17 08:12] mslabko commented on #5062
Sorry, repository for data migration is https://github.com/magento/data-migration-tool

[2016-06-17 08:28] phuc128t opened #5071 "Products appear on page 1 also appear on page 2"
## Steps to reproduce
1. Install Magento 2.1rc3
2. Add for simple products and set paging at 3,9,13. Default products by grid is 3
## Expected result

Products appear on page 1 must not appear on page 2...
## Actual result

Products appear on page 1 also appear on page 2...
![page2](https://cloud.githubusercontent.com/assets/1607243/16144890/0d1f8226-34a0-11e6-9325-3e711680e9b1.jpg)
![page1](https

[2016-06-17 08:29] virtual97 opened #5072 "Exception during invoice order that contains Physical and Virtual Gift Cards"
## Steps to reproduce
1. Install 2.0.6 Magento version.
2. Add Physical Gift Card to the cart (sku=243-MB04).
3. Add Virtual Gift Card to the cart (sku=243-MB09).
4. Place order using "Check / Money Order" (or using "PayPal Express Checkout").
5. Go to Admin panel and create an invoice for this order.
## Expected result
1. The invoice was created successfully for the order with an appropriate succ

[2016-06-17 08:33] ktruehl opened #5073 "Locale\Format throws away country part, results in wrong number format for Switzerland"
In `Magento\Framework\Locale\Format` the `getPriceFormat()` method calls on `DataBundle` to return the `ResourceBundle` for a given locale. In `ResourceBundle` the `get()` method calls the `cleanLocale()` method with the given locale as parameter. The `cleanLocale()` method throws away the country part. This results in wrongly formated numbers for countries who share languages but not the number f

[2016-06-17 08:44] rahulvramesh commented on #4813
any solution for the problem .. ?

[2016-06-17 09:14] duhon commented on #5047
In version 2.1 the problem is already fixed, please wait for a stable version. If you have more questions re-open this issue

[2016-06-17 09:14] #5047 closed, assigned to nobody

[2016-06-17 09:25] virtual97 opened #5074 "Exception during refund an order that contains Physical and Virtual Gift Cards"
## Steps to reproduce
1. Install 2.0.6 Magento version.
2. Add Physical Gift Card to the cart (sku=243-MB04).
3. Add Virtual Gift Card to the cart (sku=243-MB09).
4. Place order using "PayPal Express Checkout".
5. Go to Admin panel and create an invoice for this order.
6. Create online refund for the order.
## Expected result
1. The Credit Memo was created successfully for the order with an approp

[2016-06-17 09:29] AntonEvers commented on #1471
In my case I had an attribute set where the product's url attribute (url_path or url_key I believe it's called) was missing. In that case every product's full url becomes category/category/.html. It might be worthwhile to create a clear exception in this case.

[2016-06-17 09:38] SemtexError commented on #4952
Any update on this?
I have the same problem.

[2016-06-17 09:51] antboiko commented on #5064
Hi @pioneerathletics , thanks for reporting. We already have internal ticket MAGETWO-54411 to fix the issue with tier prices not being displayed on Configurable Product details page.

https://github.com/magento/magento2/issues/3759

Best,
Anton.

[2016-06-17 09:54] mslabko commented on #5002
Hi @bh-ref
I cannot reproduce it.
I installed magento 2.0.7 from tar.gz, added 2 products and then upgraded  to 2.1.0-rc1 - and I'm able to save product. The same for rc2.
If you use any extension, please delete them and try to reproduce again.

[2016-06-17 09:59] orlangur commented on #5074
GiftCard module does not seem to be a part of Community Edition. Please report this issue in partner portal.

[2016-06-17 10:00] orlangur commented on #5072
GiftCard module does not seem to be a part of Community Edition. Please report this issue in partner portal.

[2016-06-17 10:03] orlangur commented on #5070
What exactly does not work? Could you record a screen cast maybe. As there is nothing special with it - it is just a usual GitHub OAuth application.

[2016-06-17 10:06] orlangur commented on #5059
In this link https://github.com/carhartl/jquery-cookie/releases the top item point to "To see all the versions, check the [new repository](https://github.com/js-cookie/js-cookie/releases)."

For your needs, if you just need `removeCookie` functionality, I suggest to replace jquery cookie to v 1.4.1 in your custom project/extension or use a newer library.

[2016-06-17 10:13] devhn commented on #5058
Sorry, it was missconfiguration within the user roles (Media Gallery was not enabled). Closing this ticket.

[2016-06-17 10:13] #5058 closed, assigned to tkacheva

[2016-06-17 10:18] orlangur commented on #5056
Erh... What?!

Why would somebody enter invalid empty value manually in database?

I don't think this is something what could be even fixed from Magento side, more like a PHP bug and should be isolated and reported there.

Also, I don't think that cases when somebody bypasses validation and achieves undesirable system behavior should be documented anywhere. Segmentation faults are not too rare in

[2016-06-17 10:30] bordeo commented on #5070
This is what happen

http://sendvid.com/bcxcdjtz

[2016-06-17 10:36] emizentech commented on #4952
i have solved this by overriding StoreManager
more details can be found here :
http://stackoverflow.com/questions/37744874/magento2-rest-api-save-product-detail-per-store-view-not-working

[2016-06-17 10:46] hugh-optoma commented on #4563
I cannot reproduce this issue in my latest development environment. Please feel free to close this issue.

[2016-06-17 10:48] antboiko commented on #5067
Hello @SamTay , could you please advise me if you have any errors upon saving the product with identical values in custom option? What Magento version are you using?

Thanks,
Anton.

[2016-06-17 11:03] evgk commented on #5070
@bordeo, did you do any force-push there? I had a similar issue here:
https://github.com/magento/magento2/pull/4864
At first I could sign it, think it broke after I did a force push - but I'm not sure
They're using that one it seems:
https://github.com/cla-assistant/cla-assistant
So maybe its a bug there

[2016-06-17 11:04] patricklwy opened #5075 "REST payment-information for guest require cartId field (which is not needed)"
## Steps to reproduce (referring to http://devdocs.magento.com/swagger/index.html)
1. Using Magento Community Luma. Configured with Braintree sandbox credit card payment method.
2. Using curl command to run this API = quoteCartManagementV1, "POST /V1/carts" to generate empty cart.
3. Using curl command to add product into shopping cart.
4. Using curl command to run this API = checkoutGuestTotalsIn

[2016-06-17 11:14] redboxmarcins commented on #4677
Another reference is Magento\Customer\Api\AddressMetadataInterface::ATTRIBUTE_SET_ID_ADDRESS

will that be fixed in 2.1 or 2.2?

[2016-06-17 11:30] devDomM commented on #4119
@ishakhsuvarov get the same error, but we noticed it only seems to occur when using Google Chrome.

[2016-06-17 11:42] webkulabhi commented on #4896
PHP 5.6.22
After delete var/di... its worked properly

[2016-06-17 11:37:24] main.CRITICAL: exception 'Exception' with message 'Recoverable Error: Argument 1 passed to Magento\Framework\Model\AbstractModel::__construct() must be an instance of Magento\Framework\Model\Context, instance of Magento\Framework\ObjectManager\ObjectManager given, called in /home/abhishek/www/html/mage1/lib/internal/Magen

[2016-06-17 11:46] mhabou opened #5076 "[ CE 2.0.7] Sales order item -Configurable product Qty_Invoiced issue"
## Steps to reproduce
1. Install Magento  `2.0.7` .
2. Add a Configurable Product to the cart.
3. Place an order with 2 quantities
- **First Step :**

invoice just 1 quantity
- **Second Step :**

invoice the remaining quantity
## Expected result
1. in the table sales_order_item there are 2 sales order items of products ( The configurable and the sample)
- **First step :**
- ... the qty_invoiced of

[2016-06-17 11:51] #4563 closed, assigned to alena-marchenko

[2016-06-17 11:52] jsakars opened #5077 "Store View (language) switch leads to 404"
## Steps to reproduce
1. Install Magento 2.0.7
2. Add several store views e.g. "English", "French", "German"
3. Create a CMS page for "English" store view - e.g. "About Us" with Url Key `about-s`
4. Now create the same CMS page for "French" store view e.g. "À propos de nous" with Url Key `a-propos-de-nous`
## Expected result
1. I can open "About Us" page
2. I am redirected to homepage when I switc

[2016-06-17 12:13] peec commented on #5056
It's alright that empty value might be seen as invalid. Though seg fault should not be the default error message for this. This is a coding error somewhere. Useful error messages is good documentation, segmentation fault is not.

The fact that automatic deployment's will use direct modifications of configuration inside the config table must be accounted for in some case.

You don't just report thi

[2016-06-17 12:16] katesuykovskaya opened #5080 "I can't subscribe on admin user delete event"
## Steps to reproduce
1. M 2.0.7
2. create listener of event "delete admin user"
   `<event name="admin_user_delete_after">
       <observer name="salesrep_delete_user" instance="IWD\SalesRep\Observer\Backend\AdminUserDeleteAfterObserver"/>
   </event>`
## Expected result
1. I should have opportunity to subscribe on event of deleting admin user using event prefix "admin_user" and base event name "

[2016-06-17 12:27] jpdata opened #5081 "GETing products REST API unconsistent extension_attributes results"
## **Steps to reproduce**
1. Install Magento 2.0.7 with Sample Data
2. Get all products with REST API for example GET /rest/V1/products?searchCriteria=
## **Expected result**
1. All products and every pruct with a produc_links array and every product_link with a extension_attributes array
   .
## **Actual result**
1. All products and every pruct with a produc_links array and every product_link wit

[2016-06-17 12:29] m1klos opened #5083 "Cache hole punching is broken for private blocks, private data is exposed to varnish"
In Magento_PageCache/Observer/ProcessLayoutRenderElement.php when _isScopePrivate is true in a block, wrong block placeholder is generated, it contains private data, which is cached by Varnish. The placeholder should be empty, so it can be populated by ajax.
## Steps to reproduce
1. create a new block, and set _isScopePrivate to true (a property from  abstract, originally set to false), this way w

[2016-06-17 12:42] samtay commented on #5067
No, see the above code references, this fails silently. Occurs on latest version.

[2016-06-17 12:44] orlangur commented on #5056
Now I see what confused you.

This is not Magento message, this is PHP message (or even a message of PHP runner, like web server or php-fpm). You can easily check with `git grep -i`.

Those deployments must not bypass validation which is present in Admin UI. So, if some value is not possible to save via UI, it must not be set directly.

Definitely, in case of some valid scenario it would be good t

[2016-06-17 12:47] BarryCarlyon commented on #2354
As far as I can tell, this will only add items onto the end of the menu.

I am as yet to find a way to add items to the start of the menu.

(But using the same "name":

[code]

so

[code]

Instead

Means you can override it it seems)

[2016-06-17 12:50] SerhiyShkolyarenko commented on #4170
@100php thank you for your updates. I've checked both cases, they have the same root as described above.

[2016-06-17 12:53] BarryCarlyon commented on #2354
But really an

[code]

Would be more useful

[2016-06-17 13:07] BarryCarlyon commented on #2354
I've ended up with:

[code]

[code]

[2016-06-17 13:32] mhabou opened #5086 "[ CE 2.0.7 ] - Cancel order with Bundle product"
## Preconditions
1. Install Magento 2.0.7

## Steps to reproduce
1. Add bundle Product to the cart.
2. Place the order
3. Cancel the order
## Expected result
1. In the table sales_order_item .. the qty_canceled must changed
## Actual result
1. In the table sales_order_item qty_canceled still 0

[2016-06-17 13:39] nmallepally opened #5087 "Add to cart transalation and on Swatch not working"
Hi,

I have two issues here..
first one is, I have installed the language pack (http://imaginaerum.github.io/magento2-language-fr-fr/en.html)
It works fine, but it does not work on Add to cart button ( when i click on it, it shows Adding and Addedd in english).. I was reading one of the issues, but could not get it. What would be the fix for this?. I attaching the image for this.

Second is for co

[2016-06-17 13:49] chelevich commented on #4962
Once I set "Sign Static Files: Yes" the issue has gone. I am able to save products.
Then I set it to "No", removed all subfolders under pub/static and the issue came back.
I noticed `js_translation.json` is empty. Are you still sure it is a translation issue?
![selection_044](https://cloud.githubusercontent.com/assets/1791881/16152630/7f0ec4ea-34ab-11e6-90f5-e6cb24530204.png)

[2016-06-17 13:51] ankitce opened #5088 "Faulty Inventory Management"
## Steps to reproduce
1. Start two different sessions
2. Whole product quantity added in to cart from both end
3. Go to Check out & place order
## Expected result

One of the orders should be failed Or one of the shipments should be failed.
## Actual result
1. Both could successfully place orders
2. Shipments for both of the orders were generated successfully

How is it possible to fulfill both of

[2016-06-17 13:51] mhabou commented on #3105
@sbwcws :
I confirm the same in Magento 2.0.7 - product is not saving

[code]

[2016-06-17 13:57] antboiko commented on #5067
@SamTay thanks for the details, I've created internal ticket MAGETWO-54516 to investigate this issue.

Best,
Anton.

[2016-06-17 14:06] mhabou opened #5089 "[ CE 2.0.7 ] Add grouped product to the cart"
## Steps to reproduce
1. Install Magento 2.0.7
2. Add Grouped Product to the cart.
   ![snapshot6](https://cloud.githubusercontent.com/assets/13301885/16153141/8fc81320-3494-11e6-938b-bf799f949579.png)
3. Click on the cart icon to proceed the purchase
   ![snapshot7](https://cloud.githubusercontent.com/assets/13301885/16153169/b53b7048-3494-11e6-9507-c50037759ce5.png)
## Expected result
1. Go to c

[2016-06-17 14:25] YevSent commented on #5075
Hi @patricklwy, this error says what active quote for this id is not found.
In your case the `cartId` is  **16** and this is incorrect, because for guests users it should be a hash string instead integer value.
If you open a `quote_id_mask` table, you will see `masked_id` field related to your `quote_id`, this `masked_id` should be presented in url request.

Related to API docs a `POST /V1/guest-c

[2016-06-17 14:32] dyushkin commented on #5027
Hi @jason-vivid,

Issue is not reproducible on 2.0.5, not on develop branch.
It was tested with following settings:
- Free shipping field "Minimum Order Amount" was set to $30
- Simple product $10 was created

Maybe you can provide more specific settings?

regards,

[2016-06-17 14:38] patricklwy commented on #5075
That's the thing. My step to reproduce, step 4; using API checkoutGuestTotalsInformationManagementV1 (POST /V1/guest-carts/{cartId}/totals-information), I mange to get quotes total by doing a POST by replacing the "cartId" with **16**.

Anyway, do you have any idea how can I generate the said hash string using JScript or is there any API I can call to retrieve it? I creating a client app using Jav

[2016-06-17 14:43] southerncomputer commented on #4962
Are you using the suggested nginx.conf.sample ? Signing the pub/static##### is primarily to avoid caching issues on your browser/varnish/page_cache/web server path like putting a random?SID=123456 at the tail of each image file.

It is possible that you have caching issues from browser->nginx->php-fpm->varnish/page_cache!

Trust me i saw this same problem from 2.0.5 to 2.0.7 until I cleanly upgrad

[2016-06-17 14:47] southerncomputer commented on #4962
rm -rf pub/static/adminhtml/ pub/static/_cache/ pub/static/frontend/ pub/static/_requirejs/
rm -rf var/di var/generation var/page_cache var/cache var/view_preprocessed/
php -q bin/magento cache:clean
service php-fpm restart
 php -q bin/magento deploy:mode:set developer
 php -q bin/magento setup:static-content:deploy

here is my configuration on developer mode:
![capture01a](https://cloud.githubuse

[2016-06-17 14:49] manuelDistefano commented on #2991
Same here. I have tried 2.0.7 and it did not work.

[2016-06-17 14:55] YevSent commented on #5075
The `quoteGuestCartManagementV1` has `POST /V1/guest-carts`, which you should run instead `POST /V1/carts`, because it should create a quote for guests users and this request will return hashed quote id.

I'm close this ticket, because any issues in the exists logic or code. Please, if you will have some errors,  be free to reopen it.

[2016-06-17 14:59] #5075 closed, assigned to nobody

[2016-06-17 15:04] undefined-olha commented on #4628
@BenSpace48 thank you! That's a really good point. Internal ticket  MAGETWO-54520 created.

[2016-06-17 15:04] mhabou commented on #5088
@ankitce
I can't understand Magento Stock Management

When you place the order Magento automatically decrements the  product quantity
When you make a shipment there is no stock movement.
When you cancel the order there is no stock movement.

[2016-06-17 15:13] mhabou commented on #5080
I think i have the same problem with the model **sales_creditmemo_item**

with the 2 events : **_save_before** & **_save_after**

[2016-06-17 15:18] southerncomputer commented on #4962
After that I might do :+1:
service php-fpm restart
 php -q bin/magento deploy:mode:set production
service varnish restart
service httpd restart (or nginx)
service php-fpm restart

Now in production mode if I set Merge Javascript Files & Minify javascript files: as soon as I hit save I get : [2016-06-17 15:14:24] main.CRITICAL: Magento\Framework\Exception\FileSystemException: Cannot read contents f

[2016-06-17 15:23] melnikovi commented on #5083
Internal ticket created MAGETWO-54528

[2016-06-17 15:25] mhabou commented on #5063
@johanDev19
Check if this file
`lib/internal/Magento/Framework/Setup/InstallDataInterface.php`

exists !!!

[2016-06-17 15:26] southerncomputer commented on #4962
Which goes to 1st production mode: no merge/minify Javascript:
![capture01c](https://cloud.githubusercontent.com/assets/6178967/16155642/3948c19a-347e-11e6-86a8-62c08cb701a9.PNG)

to 2nd production mode with merge/minify Javascript:
![capture01d](https://cloud.githubusercontent.com/assets/6178967/16155646/4523b22c-347e-11e6-9fdb-0ccd58f2115b.PNG)

And yeah json_translation.js should be blank or {}

[2016-06-17 15:29] mhabou opened #5090 "[Suggestion] Improve issues management"
Hi Magento users,

Please use Magento version in the title

Example : **[ 2.0.7 ] - Add to cart transalation and on Swatch not working**

[2016-06-17 15:41] tkacheva commented on #493
@vkorotun could you look into it?

[2016-06-17 15:43] mhabou commented on #4997
@katesuykovskaya
I confirm the issue

[2016-06-17 15:45] tkacheva commented on #5051
@justindocanto please provide the detailed instruction (+screenshot if possible) where is  'Miscellaneous Scripts' section.

[2016-06-17 15:56] mslabko commented on #5071
Hello @eric128
I cannot reproduce it on rc3. Could you please provide detailed steps?
Also, please can you check that product SKU on 1st page and 2nd is the same

[2016-06-17 15:58] vkorotun commented on #493
Sure, we have a couple other related issues here for awhile. The internal ticket is in Front-end development team backlog and will start execution pretty soon.
"Minify" library is in the middle of our sight, so far, but as alternative solution we are looking also for the option to switch to NodeJS tools for the purpose of minification of static assets. I still believe, PHP libraries will never get

[2016-06-17 15:59] mhabou commented on #4839
@pizzachip : Did you use database prefix ?

[2016-06-17 16:21] hostep commented on #4359
@piotrekkaminski: can you try to get this change into Magento 2.1 GA?

We currently work around it by changing this line in our `composer.json` file:

[code]

to:

[code]

Which gets us around the issue, but it feels a bit like a hack.

We've been using it for about a week now, and haven't noticed any downsides to it yet.

[2016-06-17 16:46] MomotenkoNatalia commented on #5006
@loomdecor Thanks for reporting this issue!
I am going to close it as duplicate - https://github.com/magento/magento2/issues/3580

[2016-06-17 16:46] #5006 closed, assigned to nobody

[2016-06-17 17:10] ljrweb commented on #1471
Getting error "Specified url key is already exist in rows" when there is no possible way it does. All records in url_rewrite entity_type=product have been deleted. All catalog_product_entity* records have been deleted. I removed the url_key column from the import file as well, so Magento should be generating unique URL keys based on the product name.

[2016-06-17 18:04] orlangur commented on #5080
In general, it is not recommended to create Event Observer whenever it is possible to implement an interceptor.

Do you see why interceptor is not applicable in this scenario? Me not, but I didn't look deeply.

[2016-06-17 19:05] mcspronko commented on #4921
Error appears on Magento 2.0.7, Magento 2.1-RC2

[2016-06-17 21:08] pboisvert commented on #5019
i'll pass this ticket over to our head of merchant documentation so she can update the documentation.

[2016-06-18 03:38] phuc128t commented on #5071
Hi mslabko,

I have 4 products (3 simples and 1 configurable). See attached.
The reproduce steps are simple. I just install 2.1rc3 and add 4 products above. And then have storefront configured as attached. All caches are enabled.

You will see issue above. I captured screens for you again.
This is a fresh version and no customization. I also see it happens on 2.0.7 and hope it fixed in 2.1.

I thi

[2016-06-18 05:36] FagnerMartinsBrack commented on #5059
There were some breaking changes in jquery-cookie with a minor bump instead of major (they can be seen in the changelog), but since [v1.4.1](https://github.com/js-cookie/js-cookie/releases/tag/v1.4.1) we started following semver strictly and [v1.5.1](https://github.com/js-cookie/js-cookie/releases/tag/v1.5.1) is totally backwards compatible with v1.4.1.

The changelog is very clear, if you guys ne

[2016-06-18 05:54] pboisvert commented on #5090
awesome suggestion...but closing as this is not an issue for Magento to fix.

[2016-06-18 05:54] #5090 closed, assigned to nobody

[2016-06-18 05:57] pboisvert commented on #5087
@antboiko can you check if this string is not able to be translated?

[2016-06-18 06:06] pboisvert commented on #5009
@choukalos Chuck--can you have the team check into this one? Seems like a couple reports.

[2016-06-18 06:14] pboisvert commented on #4998
closing issue as this is the default issue template text and not a unique issue. If you meant to create a unique issue please provide full steps to reproduce

[2016-06-18 06:14] #4998 closed, assigned to nobody

[2016-06-18 06:20] pboisvert commented on #4993
@antboiko please close if not reproducible and no further action here in terms of investigation

[2016-06-18 07:18] Vinai commented on #4041
@adragus-inviqa That interface would be perfect if it had a `@api` annotation. Thanks!

[2016-06-18 08:43] Vinai opened #5091 "[2.1.0-rc3] Jasmin JavaScript Tests Broken"
## Steps to reproduce
1. Install Magento from the git `2.1.0-rc3` tag
2. Run `bin/magento setup:static-content:deploy`
3. Copy `packages.json.sample` to `packages.json`
4. Change required version of `grunt-contrib-jasmine` to `^1.0.0`(workaround for issue #5044)
5. Run `npm install`
6. Copy `Gruntfile.js.sample` to `Gruntfile.js`
7. Run `grunt spec`

Note: I also followed these steps on the `devel

[2016-06-18 10:32] Gelgersma commented on #4992
Still not working in RC-3

[2016-06-18 12:22] Gelgersma commented on #4992
I've found the cause of the issue. I had the caches all off for dev purposes and this brought the cpu usage to 100% which Magento didn't like. Reversed the settings and all is good now.

[2016-06-18 12:22] #4992 closed, assigned to nobody

[2016-06-18 13:43] Vinai commented on #5091
Unfortunately it doesn't seem to be as simple as a rename. If I switch off the tests listed above, the remaining 721 specs run, but of those 115 fail. Seems like the testsuite is currently falling into disuse.
Will they be picked up again?
I think someone who is familiar with the classes under test should have the testsuite in good shape again relatively quickly.

[2016-06-18 14:24] vduglued commented on #4530
I'm having the same issue. When the third parameter to `getReviewsSummaryHtml` is set to false, even if the product has reviews, the summary stars are not shown.

[2016-06-18 14:26] vduglued commented on #4530
I think @ntoombs19 made a mistake in his steps to reproduce. It should read:

The expectation is that when `$displayIfNoReviews` is `false`, the message "Be the first to write a review", is suppressed. When there _are_ reviews, the stars should display as normal.

The reality is that when `$displayIfNoReviews` is `false`, the message is suppressed, but so are the stars, even when the product has r

[2016-06-18 18:44] MaximeAnsquer commented on #1897
sudo chmod -R 777 /var/www

[2016-06-18 18:50] daniel-ifrim commented on #4422
@joebusby @andidhouse See what Ivan Chepurnyi says about top menu  cache tags in Magento 1. It's the same for Magento 2. https://www.youtube.com/watch?v=7XwvjLWV1O0
Magento 2 sends to Varnish the identities, see in topmenu block addIdentity and getIdentities functions.
About identities in Magento 2 and Varnish:
http://magento.stackexchange.com/questions/112162/what-is-identityinterface-in-magento2

[2016-06-18 22:24] Ctucker9233 opened #5092 "[CE 2.0.7]-Can't adjust inventory for bundled products"
The Quantity field for inventory is greyed out with a 0 in the field. Even though it is set to "In Stock" the product does not display on frontend.

[2016-06-18 23:08] Ctucker9233 commented on #4751
It is still present in 2.0.7. Is this issue better suited as a pull request?

[2016-06-18 23:10] Ctucker9233 commented on #4623
Thanks @snohe.

[2016-06-18 23:17] Ctucker9233 commented on #5077
I've had a similar issue, so I am wondering if you have tried enabling add store code to url and disabling redirect to base url. This way magento knows what content to display.

[2016-06-18 23:44] Ctucker9233 commented on #5092
Even enabling display out of stock items doesn't work. It's like they don't exist even though I can clearly see the products in the backend.

[2016-06-19 04:00] hudson1985 commented on #4682
I am getting the message "Cannot Place Order" only when logged in as a registered user.  I deleted the contents from the sales_order table and reindexed the database and cleared the cache.  I am still getting the same error.  Weird enough it goes through as a non registered user.  Anyone have any suggestions?

[2016-06-19 04:11] leoquijano commented on #4682
Hi @hudson1985 . Check my original post. You can add manually this statement:

[code]

To the appropriate spot (described there). And test again.

My issue report is for an improvement. Your "Cannot Place Order" error may be related to something else entirely.

[2016-06-19 05:16] Vinai commented on #4632
Not a lot of additional insight, but might be related:

* Version 2.1.0-rc3
* Installed via `composer create-project` as version 2.0.7 and then upgraded to 2.1.0-rc3
* Visiting the page in the admin works
* But when running the integration test suite, the table column `sales_invoice.base_grand_total` doesn't exist.
* The error occurs often, for example with tests using the fixture `Magento/Sales/_

[2016-06-19 06:06] Vinai commented on #4632
The same problem happened to me after upgrading from a 2.0.7 composer project to 2.1.0-rc3 while running the integration tests.

Turned out the DB dump in the sandbox directory was still from 2.0.7, and running the installation over the dump didn't add the column to the table `sales_invoice_grid`.

Once I removed the dump and the table, it got recreated with the `base_grand_total` column.

I didn'

[2016-06-19 09:50] sudomabider commented on #5008
Experiencing the same issue here. Visiting _cms/page/view/page_id/{page_id}_ also doesn't work so it's not a rewrite problem.

A little bit of digging around shows that the new page somehow is only added to the `cms_page` table but not `cms_page_store` which means it doesn't belong to any store so it won't load. If I manually add the relationship in `cms_page_store` and refresh the page cache, the

[2016-06-19 10:05] sudomabider commented on #5008
Okay more info. This is only happening in single store mode for me. Disabling single store mode forces you to define the relationship by selecting a view when adding a new page (all store views, default store view, etc). Therefore it updates the `cms_page_store` table fine.

Is this supposed to happen in single store mode? Or am I missing a setting somewhere?

[2016-06-19 15:00] hudson1985 commented on #4682
Thank you so much for replying so quickly.  Is it possible to send me a
link to the specific original post you are referring to in order to ensure
I get it right.  Also please let me know if you have a fee structure that
we could pay to cure this in the event we can't cure it.

Hudson Copeland
256-483-2671

_Hudson Copeland_

Director, Software Solutions, e-Commerce Management

_Distinctive Design

[2016-06-19 15:12] leoquijano commented on #4682
The original post is right here in this issue #4682. This is the direct link:

https://github.com/magento/magento2/issues/4682#issue-156631769

I emailed you privately about your issue.

[2016-06-19 15:12] abdel1220 commented on #3425
Hello,
this is an IIS issue to fix it please follow this steps:

[code]

And then browse your json file in broswer, if your IIS setup successfully now you can see the json file content in broswer.

[2016-06-19 15:23] andidhouse commented on #1364
hi there,
is this solved somehow?
we in Germany also calculate ALL prices INKL. tax - so it is really confusing to us.

Is there now a way to calculate shipping on subtotal incl. tax via table rates?

Many thanks!

[2016-06-19 21:01] ghost opened #5093 "confusing message when trying to update from M2 2.0.7 to M2 2.1.0-rc3"
I am getting the following confusing message when trying to update from M2 2.0.7 to M2 2.1.0-rc3:

Completed! You need to resolve these issues to continue. Check Updater Application Availability Updater application is available.

Check Cron Scripts Cron script readiness check passed.

Check Component Dependency We found conflicting component dependencies. Hide detail

Command "update" failed: Load

[2016-06-20 01:46] aoldoni commented on #5088
Hi @ankitce / @Dayssam ,

I just tested this in default Magento 2.0.5, with simple products, default attribute set, and could not reproduce both issues above.
- For "Faulty Inventory Management":
  1) Start two different sessions.
  2) Whole product quantity added in to cart from both end. In my case the backend quantity was 2, so each frontend session had 2 items in the cart.
  2) Go to Check out

[2016-06-20 03:05] MarioSteinitz commented on #1492
We created a Magento 2 extension replacing TinyMCE with latest version of CKEditor. It allows conditionally replacing all TinyMCE instances and also adding CKEditor to any BE textarea of choice.

The extension is in alpha version. Doing field tests right now and creating Advanced Content Filter definitions. It's supposed to being released by mid of July this year.

[2016-06-20 03:33] nagrgk opened #5094 "Cybersource X-Frame denied issue"
I have enabled cybersource , adding only merchant Id and secret key. It will start loading secureacceptance in iframe.

questions: When I have not added profile id, why secureacceptance loaded?
why iframe - denied ? Is ajax requests tested ? when will wsdl request works?
what we dont want SA and need wsdl? any config for that?

![cybersource_issue](https://cloud.githubusercontent.com/assets/267481

[2016-06-20 05:27] 100php commented on #4170
@thills03 , the solution u gave is loading the whole cart page, where as we are facing issue with minicart.  Can you please help us with minicart showing wrong details?

[2016-06-20 05:33] ankitce commented on #5088
We tested it with Magento version 2.0.7 with default attribute set and default configurations (i.e. manage stock = Yes).
We added a product with quantity '1'.
When we placed orders from two different systems, both could place order.
Also, shipments for both of the orders could be generated successfully.

[2016-06-20 06:38] qwerty7869 opened #5096 "Home page banner rest api"
Is anyone have created home page banner rest api ?

[2016-06-20 07:23] christianlakits opened #5097 "Configurable Products shows same regular and Special price"
Hi,

we setup a configurable product. Now we changed at one product to special price. Now every product  is shown with a regular and special price, even if they are equal.

regards Christian

please close double post

[2016-06-20 07:28] christianlakits commented on #4442
i have the same problem.

the first product has a special price.
![bildschirmfoto vom 2016-06-20 09 27 20](https://cloud.githubusercontent.com/assets/16207574/16186156/41e0e952-36c9-11e6-8667-7a0ac3d52faa.png)

the second one has no a special price
![bildschirmfoto vom 2016-06-20 09 27 04](https://cloud.githubusercontent.com/assets/16207574/16186155/41e07eea-36c9-11e6-991d-7b6b7fe122b3.png)

i use

[2016-06-20 08:16] andidhouse opened #5098 "Wrong tax calculation?"
![screen](https://cloud.githubusercontent.com/assets/16196483/16187366/1e1bfee2-36d0-11e6-801c-4ca3eee2296f.png)
## Steps to reproduce

Tax settings: Incl. Tax
Tax rate: 19% (Germany)
## Expected result
1. Order total incl. tax: 80 Euros
2. Tax: 12,77310 Euros
## Actual result
1. Order total incl. tax: 80 Euros
2. Tax: 12,80 Euros

The tax must be 12,77 Euros not 12,80 Euros.

This bug also is rel

[2016-06-20 09:02] davidnguyen2205 commented on #4119
me too ...
Magento 2.0.6

[2016-06-20 09:06] pboisvert commented on #5096
This question is better suited to the Magento Stack Exchange site or the Community forums for M2. Github Issues is intended for reporting issues with the code.

[2016-06-20 09:30] bh-ref commented on #5002
@mslabko thank you for your the hint, the reason it did not work was indeed due to a customization (of an htaccess file) we did.

[2016-06-20 09:30] #5002 closed, assigned to nobody

[2016-06-20 09:38] daniel-ifrim commented on #4868
@pynej @ishakhsuvarov Checkout page has in it JSON data for all payment methods and shipping methods that are disabled in admin. This is why the page html source is this large. Magento_Ui should filter out at least disabled payment methods and shipping methods.
And all regions from database are redundant in those JSON objects.

[2016-06-20 09:42] nmallepally commented on #5087
@pboisvert how can I fix it?

[2016-06-20 09:46] nmallepally opened #5099 "Upgrade magento - freeze"
Hi,

I currently have 2.0.4 version of magneto 2 on localhost, when i am trying to upgrade it to 2.0.6 via websetup wizard system upgrade, it passed all the readiness check and when i click on next for upgrade, it does not show any progress on console log and just shows me update pending?. How long does it take? or does it shows any progress on console log?.
![system upgrade](https://cloud.githubu

[2016-06-20 09:51] mhabou commented on #5088
Hi @aoldoni ,
- For "When you cancel the order there is no stock movement.", i tested the configurable product " Cassius Sparring Tank-S-Blue "

When you cancel the order there is no stock return.

Magento CE 2.0.7

[2016-06-20 10:03] WebWeave commented on #5099
Your running it at localhost maybe your enviroment doesnt have enough cpu speed or something?

[2016-06-20 10:13] nmallepally commented on #5099
No, its i7 processor with 16 GB ram. I have allocated 2gb for php memory.

[2016-06-20 10:17] misiu9091909 commented on #4974
Hi @NadiyaS
I know what's the issue caused by (not exactly). When you have some orders for which you want to print invoices, and you select them on Orders Grid in Admin, and click Print Invoices - then the collection is generated by comparing entity_id from sales_invoice (the Invoice ID) to selected Order IDs. So in order to repair this bug, you have to change generating collection to compare the

[2016-06-20 10:20] minhluan259 opened #5100 "How to create page layout without html head body tags"
Controller

[code]

Layout

quickview_catalog_product_view.xml

[code]

when I go to http://localhost/magento2/quickview/catalog_product/view/id/5 and view source, the page load full content with html head body tags.

I want use ajax get only content of product without html head body tags.

How to make this?

[2016-06-20 10:21] hostep opened #5101 "[2.1.0-rc3] Loading certain email templates in backend doesn't work"
## Steps to reproduce
1. Install Magento 2.1.0-rc3 using composer
2. In the backend, go to Marketing => Email Templates
3. Click the 'Add a new Template' button
4. Choose 'New Order' as Template and click the 'Load Template' button
## Expected result
1. The template is loaded without errors
## Actual result
1. Error message appears: `The template did not load. Please review the log for details.`

[2016-06-20 10:29] hungvt opened #5102 "Can not add product to cart (logged in customer)"
## Steps to reproduce

i'm using magento 2.0.7
1. login to a customer account
2. try to add something to shopping cart and place an order
3. after order is saved go back to store and try to add something else to shopping cart.
4. it return error message: **We can't add this item to your shopping cart right now.**
5. If i logout and login back i can add the product to shopping cart and place order

[2016-06-20 10:29] andidhouse commented on #3364
We have the same bug in 2.0.7. At the checkout ALL countries are shown - not just the selected in then backend. Is there a way to fix this on 2.0.7 as this is a major bug not allowing anyone to go live with wrong shipping countries?

Will this be fixed in 2.1 or sooner? Is there any information when 2.1 is coming?

Thanks!

[2016-06-20 10:33] hostep commented on #5101
Issue got introduced in https://github.com/magento/magento2/commit/44791d5a8e2b3fc2b0dacc72300030e2df4398ff

Looks like the same templates in the luma theme also got broken.

Pinging @naydav

[2016-06-20 10:46] redboxmarcins commented on #4602
Same here

[2016-06-20 10:50] peec commented on #4755
Maybe relevant information, but we only version control composer.json and composer.lock for each Magento 2 site. We use memcache for backend cache and varnish. Media is stored in database. So basically the filesystem does not store anything.

So basically, all files are deleted per deploy.

On a deploy we:
- Push up composer.json with composer.lock
- Run composer install with related magento bin/s

[2016-06-20 10:50] redboxmarcins opened #5103 "Category page produces notice about swatches attributes"
## Steps to reproduce
1. Install Magento 2.0.7 or earlier
2. Make sure that you have any attributes as text swatches
3. Visit category page where this product belongs and observe notice
## Expected result
1. Category page with products displayed
2. ...
## Actual result
1. Error message appears: "Notice: Undefined variable: result in vendor/magento/module-swatches/Block/Product/Renderer/Listing/Con

[2016-06-20 10:51] ideirj opened #5104 "translate error sales_rule_form.xml"
app/code/Magento/SalesRule/view/adminhtml/ui_component/sales_rule_form.xml

line 54:
<item name="label" xsi:type="string">Currently Active</item>

miss: translate="true"

[2016-06-20 10:54] manuelDistefano commented on #2991
Update. You can user rest/V1/carts/mine/billing-address to add address to cart. Then add item to cart so you can have item with the correct price.

[code]

[2016-06-20 10:54] srbarba opened #5105 "Error While send Invoice with Grouped Products"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add some Grouped Product to cart.
3. Place an order with the grouped product.
4. Go to admin.
5. Go to Sales>Orders and open de current order with the grouped product.
6. Go to Invoice and select the "Email Copy of Invoice" checkbox.
7. Press "Submit Invoice".
## Expected result
1. Invoice the order.
2. Send the copy email to clien

[2016-06-20 10:58] redboxmarcins commented on #5103
Looks like it is fixed in develop branch but not in 2.0 branch

[2016-06-20 11:01] redboxmarcins commented on #5103
Actually it was fixed here
MAGETWO-47959: Prevent getSwatchAttributesData() function from triggering a PHP notice

but never merged into 2.0

See commit: 60c587ec92aed8d421c5fbb48337409fcf0e3153

[2016-06-20 11:10] 100php commented on #4170
Ok, We have resolved the issue...To update minicart on every action we have to update "vendor/magento/module-theme/etc/frontend/sections.xml" file. This updates "messages" section on every action. Adding `<section name="cart"/>`  on line no.12 will reload the cart on every action.

This worked for us.

[2016-06-20 11:11] 100php commented on #3572
Ok, We have resolved the issue...To update minicart on every action we have to update "vendor/magento/module-theme/etc/frontend/sections.xml" file. This updates "messages" section on every action.

Adding `<section name="cart"/>`  on line no.12 will reload the cart on every action.

This worked for us.

[2016-06-20 11:11] degaray commented on #2991
Yes @manuelDistefano however, don't you think that is a bug? Specially if you are selling virtual products?

[2016-06-20 11:14] jldmn opened #5106 "Calculation of subtotal fails in mini-cart popup"
## Steps to reproduce
1. Add Product to cart
2. click on the shopping cart icon
## Expected result
1. correct subtotal shown at the top of the popup
## Actual result
1. no subtotal ist displayed
2. console logs:

[code]

[2016-06-20 11:17] kumatozz commented on #4950
I have the same issue, can someone help to get rid of it? Thanks in advance!

[2016-06-20 11:21] fvillata opened #5107 "issue with meta description"
## Steps to reproduce
1. Create a new product and insert a description more than 255 characters long and with html tags.
2. Don't edit Meta Description attribute ( in search engine optimization tab)
3. Save product.
## Expected result
1. Save product and leave meta description empty or with the content of the description attribute without html tags.
## Actual result
1. Can't save the product and g

[2016-06-20 11:21] ShubhSikarwar opened #5108 "Admin panel not working fine after installation of custom module..."
Steps to reproduce
1. Install Magento 2.1 rc3 and install any custom module

Expected result
1. It should display in proper design but not displaying.
Actual result
1. Displaying all fields label in single line (Meta title , Meta Keywords all are coming in single line).
   How to fix this issue?
   ![screenshot from 2016-06-20 16 51 13](https://cloud.githubusercontent.com/assets/8413090/16192487/4

[2016-06-20 11:52] woei66 commented on #2531
I had the same issue and I followed several suggested suggestions to fix the problem like delete my composer.json something like that.
But those didn't fix my problem.
Today, I faced the problem again and I tried a new approach to trace the problem.
All details and screenshot are in my personal blog post
http://david.firstbiz.cc/blog_detail.php?id=115
I described my steps here:

<pre>
1. for CLI,

[2016-06-20 12:00] awwm opened #5109 "Content pages and block admin panel just loading not showing content"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-06-20 12:05] ghost commented on #5099
The setup cron job might not be running. Do you have logging enabled? If so check the log.

`crontab -u <magento file system owner> -l` shows the current cron job defined for the Magento file system owner. Please paste the output here.

[2016-06-20 12:18] Zaylril commented on #5106
@jldmn This has already been reported see: https://github.com/magento/magento2/issues/3102 for solution

[2016-06-20 12:20] manuelDistefano commented on #2991
Yes @degaray, it's a problem for sure, and i'm selling virtual products too.

But i can use this "workaround" until they fix it.

[2016-06-20 12:22] mohanbmahajan opened #5110 ""Consumer is not authorized to access %resources" after some hours of Magento 2.0.5 Setup"
For Magento ver. 2.0.5 I am having following issue,

I am using following endpoint to list the customers,
For this I am using Postman - REST Client 0.8.4.17 of crome using OAuth 1.0 Authorization
http://< magento_host >/rest/V1/customers/search?searchCriteria[page_size]=100

Along with the above request I am providing,
1. Consumer Key
2. Consumer Secret
3. Token
4. Token Secret
These I get from In

[2016-06-20 13:09] gabrielqs commented on #2461
I'm seeing this on 2.0.7. "-d maximum_execution_time=0" did the trick, but that really shouldn't be necessary. Only started seeing this after enabling minification.

[2016-06-20 13:23] andidhouse opened #5111 "We don't have as many "product"as you requested - error"
## Steps to reproduce

In some cases a product is in the shopping bag of a logged in user (or stored in cart for a not logged in user) and the product is bought by someone else. So the cart page shows a message like:

"We don't have as many "product"as you requested"

All ok so far. The problem is that a user can´t ad any other product to the cart at this moment as well!

[2016-06-20 13:28] gabrielqs opened #5112 "Magento CLI inconsistently enabling/disabling modules in production mode"
Hi,

Right now, when you enable/disable a module Magento's CLI clears the cache. That's helpful but there is still a lot to be done for a module to be really enabled while in production mode, ensuring the store is in an consistent state after it finishes. For instance, these are all the steps i take when doing enabling or disabling a module in production:
- Activate maintenance mode
- Enable/disab

[2016-06-20 13:32] cscd98 commented on #4938
@commcad do you have a link to more information?
@choukalos definitively no!

[2016-06-20 13:47] mimarcel commented on #3882
+1

[2016-06-20 13:50] cscd98 opened #5113 "Reference Cm_Cache_Backend_Redis"
Hi,

Cm Cache Backend Redis is installed into lib\internal. I want to make use of it in my code but the class is not found.

$cmCache = new \Cm\Cache\Backend\Redis($options);

How do I go about referencing something in lib\internal?

[2016-06-20 13:58] gabrielqs commented on #2461
I'm sorry, it the -d flag didn't work at all... I had to disable the minification in order for the command to run, or to leave it on and deploy static content several times until it was able to finish it.

[2016-06-20 14:04] melnikovi commented on #5113
@craigcarnell what version of Magento do you use? In latest release this library removed from code base and being installed as package. Anyway, try this $redis = new Cm_Cache_Backend_Redis($options). Let me know if it doesn't work

[2016-06-20 14:08] cscd98 commented on #5113
@melnikovi That didn't work but:

$cmCache = new \Cm_Cache_Backend_Redis($options);

worked fine! Cheers 👍

[2016-06-20 14:08] #5113 closed, assigned to nobody

[2016-06-20 14:12] mhabou opened #5114 "[ CE 2.0.7] - Reorder bug with Configurable product"
## Steps to reproduce
1. Install Magento 2.0.7
2. Add 2 Configurable Products to the cart
- MJ01-XS-Orange
- MJ01-M-Red

3 / Place the order

![snapshot8](https://cloud.githubusercontent.com/assets/13301885/16196926/7c2235e6-36ef-11e6-8274-9fc8483e222a.png)
1. Click on Reorder
## Expected result
1. Have the same order with 2 products
- MJ01-XS-Orange
- MJ01-M-Red
## Actual result
- 1st result:

![

[2016-06-20 15:18] mitcht opened #5115 "Cannot PUT (update) customer using REST api"
It boils down to this: you cannot update a customer using the rest api using the latest RC.
## Steps to reproduce
1. Install Magento 2.1.0 latest RC using Composer
2. Create a customer in admin.  Note the customer entity id.
3. PUT to the rest api using this URL: www.hostname.com/rest/V1/customers/entityIdFromAbove

[code]
## Expected result
1. Customer Result JSON containing the updated values
##

[2016-06-20 15:20] choukalos commented on #5098
Hi @andidhouse what is your tax calculation set to?  Are you using 'Calculate on Total'?  It looks like you're using calculate on Unit.  Can you share your tax configuration?

For the interaction with table rates that seems only related to the excluding tax amount that the system sees.

[2016-06-20 15:24] choukalos commented on #5096
Closing issue as this should be moved to the forum.

[2016-06-20 15:24] #5096 closed, assigned to nobody

[2016-06-20 15:32] choukalos commented on #5081
Hi @jpdata this is a feature request.  Current behavior of Magento relies on an extensible object to be plugged into a method.  We plug in the extensible objects for the detailed single object calls.  For GetList we do not do this as there would be a significant performance issue (system would have to loop through each object and call every extensible object for the current framework resulting in

[2016-06-20 15:39] #5063 closed, assigned to nobody

[2016-06-20 15:52] vancoz commented on #4986
Hello @fooman, I agree, currently Component Manager does not support all this scenarios and our product team working on it. But I also can share my personal opinion, let's have a look from other side - Magento is responsible for Marketplace and what is stored in Marketplace, we do code check, we do make sure that extensions are secure etc. And we can't guarantee that extensions from other sources

[2016-06-20 16:24] johnverzijden commented on #1942
Had the same problem. Removing the var directory solved it.

[2016-06-20 17:07] choukalos commented on #4938
@commcad very cool; I'm carrying an epic to modularize/make it easy to change out caching engine (MAGETWO-40094)

Thanks for the feedback.  Have either of you checked out Hitch - wondering your thoughts there?

[2016-06-20 17:45] mverstraete commented on #4813
I'm having this same problem as well.  There is a javascript error in the console:

`transact.dll:4 Uncaught SecurityError: Blocked a frame with origin "https://secure.authorize.net" from accessing a frame with origin "https://www.storedomain.com". Protocols, domains, and ports must match.`

[2016-06-20 17:55] hostep commented on #5101
PR created: https://github.com/magento/magento2/pull/5116

[2016-06-20 18:19] phronesis commented on #4187
I have experienced same:
Recoverable Error: Object of class Magento\Customer\Model\Data\Region could not be converted to string in /vendor/magento/framework/DB/Adapter/Pdo/Mysql.php on line 2903 in /var/www/releases/d-GOG2F8Y2G/vendor/magento/framework/Webapi/ErrorProcessor.php:194
Stack trace:
#0 /var/www/releases/d-GOG2F8Y2G/vendor/magento/framework/Webapi/ErrorProcessor.php(139): Magento\Framew

[2016-06-20 18:33] wattanak opened #5117 "User update first name it not reflect on welcome header."
When user login and update their first name it should reflect on welcome header. It will work after use log out and login again. That is a bug. Please fix it.

Thank you.
<img width="934" alt="screen shot 2016-06-20 at 11 32 47 am" src="https://cloud.githubusercontent.com/assets/3372666/16205889/cf0df232-36da-11e6-8bc9-02ae51f9d5d2.png">

[2016-06-20 18:46] ipekerti commented on #5007
Just wanted to add that the shipment detail view also gets messed up from the user's front end.

![shipment-frontend-garbled](https://cloud.githubusercontent.com/assets/17164724/16206296/58796f12-36ed-11e6-8d0c-c71a832fbb26.PNG)

[2016-06-20 19:19] piotrekkaminski commented on #3704
Closing in favor of PR #3705

[2016-06-20 19:19] #3704 closed, assigned to voleye

[2016-06-20 19:23] piotrekkaminski commented on #3700
@neelimabenapally do you still have this issue? anyone else has this issue? I cannot reproduce. If you still have this issue please open a new ticket.

[2016-06-20 19:23] #3700 closed, assigned to nobody

[2016-06-20 19:25] piotrekkaminski commented on #3698
@stefandoorn can you clarify how to reproduce it? Which shipping label you try to create - any specific shipping provider?

[2016-06-20 19:26] piotrekkaminski commented on #3696
Closing due to lack of response.

[2016-06-20 19:26] #3696 closed, assigned to NadiyaS

[2016-06-20 19:28] piotrekkaminski commented on #3695
You should avoid using Magento backups and use proper system level database and file backup. Text database backups are hard to restore (time consuming) and should not be used in production environment.

[2016-06-20 19:29] piotrekkaminski commented on #3694
This question is better suited for community.magento.com or magento.stackexchange.com. Github is for issue reports only.

[2016-06-20 19:29] #3694 closed, assigned to yaronish

[2016-06-20 19:31] piotrekkaminski commented on #3692
--no-progress flag proposed in #2848 seems better name

This is low priority issue, if anyone can provide PR great but otherwise will not be done.

[2016-06-20 19:32] piotrekkaminski commented on #2848
Closing as duplicate in favor of #3692 that has more active discussion.

[2016-06-20 19:32] #2848 closed, assigned to nobody

[2016-06-20 19:33] piotrekkaminski commented on #3691
@asemenenko please check.

For such question community.magento.com is a better place.

[2016-06-20 19:33] #3691 closed, assigned to NadiyaS

[2016-06-20 19:38] piotrekkaminski commented on #3684
@bondimedical3 i assume the stackexchnage answer helped. If not, please open a new issue.

[2016-06-20 19:38] #3684 closed, assigned to daim2k5

[2016-06-20 19:38] jpdata commented on #5081
I'm developing an app in C# and i'm trying to deserialize Json objets returned to a class generic as I could build it, but it fails since the deserialization utility i'm using (Json.NET) expects and array but there is a single objetct instead. Now I need to find a work around. :-P

Thank you very much.

[2016-06-20 19:40] erikhansen commented on #3692
@piotrekkaminski If PR #4294 is merged, it will satisfy the objective of this task. Since PR #4294 is actively being discussed and only needs a little more work in order to be merged in, I am going to close this task in hopes that #4294 will be merged soon.

[2016-06-20 19:42] piotrekkaminski commented on #3679
You should not modify the database. I will close this one and discussion can continue in #1471

[2016-06-20 19:42] #3679 closed, assigned to nobody

[2016-06-20 19:42] piotrekkaminski commented on #3676
Closing as solution is available above.

[2016-06-20 19:42] #3676 closed, assigned to nobody

[2016-06-20 19:43] #3674 closed, assigned to alena-marchenko

[2016-06-20 19:47] piotrekkaminski commented on #3672
Closing as cannot reproduce. If issue persists in latest version (2.1), please open a new issue.

[2016-06-20 19:47] #3672 closed, assigned to yaronish

[2016-06-20 20:00] PieterCappelle commented on #4490
This issue has been fixed in 2.1.0-rc3. Thank you!

[2016-06-20 20:00] #4490 closed, assigned to nobody

[2016-06-20 20:02] PieterCappelle commented on #4365
Works perfectly in 2.1.0-rc3. Thank you!

[2016-06-20 20:40] Ctucker9233 commented on #5092
Any one have any suggestions to fix this problem? I can upload screenshots if it helps.

[2016-06-20 21:31] hostep commented on #3692
@erikhansen: care to explain how #4294 will help with silencing the progress output of the command? Because I don't see a flag for that? Maybe best to reopen this issue, so one day it might still get implemented.

[2016-06-20 21:45] piotrekkaminski commented on #3683
Cannot reproduce on 2.1. The output is properly shown for html output, not error for firebug.

[2016-06-20 21:45] #3683 closed, assigned to nobody

[2016-06-20 21:46] piotrekkaminski commented on #3666
@antonkril can you look into it?

[2016-06-20 21:47] #3664 closed, assigned to slavvka

[2016-06-20 21:52] piotrekkaminski commented on #3663
Closing due to lack of response.

[2016-06-20 21:52] #3663 closed

[2016-06-20 21:53] piotrekkaminski commented on #3662
@p3mbo magento.stackexchange.com is better place for such questions.

[2016-06-20 21:56] erikhansen commented on #3692
@hostep You're correct. For some reason I was getting this issue confused with #3038. Re-opening this issue.

@piotrekkaminski I agree that a `--no-progress` flag would be better. Updating my issue description accordingly.

[2016-06-20 22:01] piotrekkaminski commented on #3648
Not able to reproduce. If issue persists in 2.1, please open a new issue.

[2016-06-20 22:01] #3648 closed, assigned to nobody

[2016-06-20 22:02] piotrekkaminski commented on #3645
@JDavidVR can you provide more information how it affects you?

[2016-06-20 22:03] piotrekkaminski commented on #3644
Magento is not compatible with MAMP due to different version requirements. Do you still have this issue in 2.1? if yes, please open a new ticket.

[2016-06-20 22:03] #3644 closed, assigned to nobody

[2016-06-20 22:08] piotrekkaminski commented on #3642
if I install mailutils on local server, i'm not able to reproduce it.

[2016-06-20 22:08] #3642 closed, assigned to voleye

[2016-06-20 22:11] piotrekkaminski commented on #3637
Closing in favor of PR #3638

[2016-06-20 22:11] #3637 closed, assigned to yaronish

[2016-06-20 22:11] piotrekkaminski commented on #3634
@mc388 magento.stackexchange.com is a better place for such questions. cc @mbrinton01

[2016-06-20 22:11] #3634 closed, assigned to NadiyaS

[2016-06-20 22:21] cpartica commented on #4892
what version of XAMPP did you installed? or what version of PHP do you use? note that Magento 2.0 only supports versions upper than 5.5.x and 2.1 supports php 7.x
You might have an exception there somewhere if you look in var/log/debug.log

[2016-06-20 22:36] piotrekkaminski commented on #3630
Internal issue MAGETWO-54588

[2016-06-20 22:49] piotrekkaminski commented on #3652
This question is a better fit for magento.stackexchange.com

[2016-06-20 22:49] #3652 closed, assigned to voleye

[2016-06-20 22:55] piotrekkaminski commented on #3625
Increased priority of the issue.

[2016-06-20 22:56] piotrekkaminski commented on #3621
@mbrinton01  please look

[2016-06-20 22:57] piotrekkaminski commented on #3619
@barbanet does it happen in admin or in front-end? what are the steps to reproduce?

[2016-06-20 22:57] piotrekkaminski commented on #3618
This is better suited for magento.stackexchange.com

[2016-06-20 22:57] #3618 closed, assigned to voleye

[2016-06-20 22:58] piotrekkaminski commented on #3617
Such questions are better suited for community.magento.com or magento.stackexchange.com

[2016-06-20 22:58] #3617 closed, assigned to voleye

[2016-06-20 22:58] piotrekkaminski commented on #3616
@mbrinton01 please look

[2016-06-20 22:59] piotrekkaminski commented on #3603
This is better suited for magento.stackexchange.com or community.magento.com

[2016-06-20 22:59] #3603 closed, assigned to NadiyaS

[2016-06-20 23:00] piotrekkaminski commented on #3599
Cannot reproduce. If you still have this issue with 2.1, please provide exact PHP version and steps to reproduce in a new ticket.

[2016-06-20 23:00] #3599 closed, assigned to nobody

[2016-06-20 23:00] piotrekkaminski commented on #3593
Please use magento.stackexchange.com for such questions.

[2016-06-20 23:04] #3593 closed, assigned to NadiyaS

[2016-06-20 23:05] piotrekkaminski commented on #3608
@elenleonova @rimasVKB  to my understanding there is currently no such feature in Magento but this is an interesting feature request. Can you provide more information about your store and products?

[2016-06-20 23:06] piotrekkaminski commented on #3592
This issues should be solved in 2.1. If not working, please open a new issue.

[2016-06-20 23:06] #3592 closed, assigned to nobody

[2016-06-20 23:21] mauromm commented on #3619
Hi @piotrekkaminski, I have the same issue when use es_AR locale. The steps to reproduce the problem are:

1- Install a clean magento 2.0.x
2- In admin panel, go to Stores > Configuration > General
3- set Country Argentina and locale Spanish(Argentina)
4- Create a simple product and a category.
5- Go to frontend and add to cart 4 items.
6- In frontend go to cart and try to modify item's qty.
7- Wh

[2016-06-20 23:53] fgpasa opened #5118 "category url not saving after changes"
Hi

Im using 2.06 version;

When I created category urls on a development folder in my hosting account I made a mistake and include

https://www.sitename.com/catergory-name

instead of just putting

category-name

When I changes it to the second it gives me a message stating the url already exist and does not let me save it.  See screen shot.
<img width="1188" alt="screen shot 2016-06-19 at 6 31 4

[2016-06-20 23:54] cpartica commented on #4883
if you have a look at Magento/Ui/view/base/web/js/lib/validation/rules.js

`$.mage.__('Please enter a valid email address (Ex: johndoe@domain.com).')`

that means that error message is translated, but probably you don't have the right translation in your translation file, so it's not a Magento 2 issue, more of who's maintaining your language pack
You can manually add that into your language file

[2016-06-21 00:15] cpartica commented on #4909
Based on this payload, it only creates one invoice, can you tell us what's your payload?

[2016-06-21 00:21] cpartica commented on #4916
The question is if we could have an item into a inventory in a website that's different from it's parent website, probably not
I'll clear that out with our team and get back to you
Thank you for your posting

[2016-06-21 00:34] cpartica commented on #4918
Are you referring to Magento_Config::trans_email vs Magento_Backend::trans_email ?

[2016-06-21 00:39] cpartica commented on #4932
So there is a how to build your theme in M2 with twitter bootstrap on stack exchange
You can consult it at [this link](http://magento.stackexchange.com/questions/104461/how-to-develop-theme-using-twitter-bootstrap-in-magento-2)
You will have to do code on each block though, because each block will play it's part on the construction of the page

I suggest enabling the block names from the System ->

[2016-06-21 00:43] komsitr commented on #4921
This is the error from min_text_length and max_text_length. The problem is somehow value is returned as null. So I add null-check logic before accessing its property.

[code]

[2016-06-21 00:52] cpartica commented on #4937
as I see each attribute group has different attribute sets, so what attribute set are you using?
I also see 3 groups called general, they all are the default id for that attribute set
That means that an attribute set can have only one attribute id, Magento/Eav/Setup/EavSetup.php doesn't necessarily refer to product

[2016-06-21 01:14] cpartica commented on #4985
Created internal issue MAGETWO-54589 that will be discussed with product as this is more of a feature
If they consider that this is a bug then I will update this ticket

[2016-06-21 01:19] cpartica commented on #5003
created internal issue MAGETWO-54590

[2016-06-21 01:31] xiangkundavis commented on #4441
Hi, I do not see any changes about this issue at the release note http://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.1_RC3EE.html
May I confirm this issue will be fixed at 2.1 release?

[2016-06-21 01:40] cpartica commented on #5025
creating internal issue MAGETWO-54591

[2016-06-21 01:48] orbitrod opened #5119 "Products per Page on List Allowed Values does not work"
## Steps to reproduce
1. Go to Stores > Configuration > Catalog  > Catalog
2. In the Products per Page on List Allowed Values field, enter 25,60,90 for the value.
3. Click Save Config
4. Go to a product list on the front end.  Switch to list mode.
## Expected result
1. On the product list page in list mode, the "Show per page" drop down menu should display the values 25, 60, and 90.
## Actual resu

[2016-06-21 02:09] kiborg commented on #2476
I have the same issue. Magento CLI version 2.0.0 How to fix it?

[2016-06-21 02:30] komsitr commented on #4946
I have the same issue with Magento 2.1.0-rc2

[2016-06-21 03:09] atIOCrON commented on #4362
I'm also interested in this

[2016-06-21 03:59] rex-z commented on #776
@Hi there,
It has been more than a year. Was there any update? Will this feature exist on Magento 2.0?

@sonalagr , for now you will have to set the promo code to be valid for logged in customers only (remove NOT LOGGED IN option).
Another option is to use auto generation code so every code is unique, and make it one time use storewide.

[2016-06-21 04:40] claudioxu commented on #3307
We got the the same issue on 2.0.7, is there any update on 2.1.0?

[2016-06-21 04:50] lijithmg commented on #5118
Try some of the solutions added to https://github.com/magento/magento2/issues/1471

[2016-06-21 05:12] shintow123 opened #5120 "Magento 2.0.7 version icons are not working properly if you click any icons nothing as working please helpme out of this."
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-06-21 06:20] redboxmarcins commented on #4937
@cpartica I think you are missing the point here.
The problem is that EavSetup.php class implies that Product default Group will be called "General" where is Magento 2 it is called "Product Details"

Please follow my steps carefully

[2016-06-21 06:28] YevSent commented on #4755
All payments credentials are stored in the database. Also in my previous comment, I'm asked about logs and additional extensions.

[2016-06-21 06:39] mukdam commented on #2782
I have same issue in magento 2.0.4

[2016-06-21 06:53] viken-tops opened #5121 "Network error : 504 Gateway timeout"
Steps to reproduce

Install Magento 2.0.7 CE

Expected result
magento 2 admin should work without any issue

Actual result

magento 2 admin is having issue with .js & .css files loading. showing 504 gateway timeout error

[2016-06-21 07:41] shiftedreality commented on #4710
Yeap, you can open a new ticket for that issue if it still reproducible and was not tracked.
Closed.

[2016-06-21 07:41] #4710 closed, assigned to choukalos

[2016-06-21 07:49] bordeo commented on #5070
I don't make any force-push. Is very strange

[2016-06-21 07:51] kanduvisla commented on #4774
Is this feature going to be implemented in 2.1?

[2016-06-21 07:53] flancer64 commented on #4916
Hello, @cpartica .

"cataloginventory_stock_item" is a "data" table (contains raw data), not a "flat" table (contains "indexed" data - from other tables, like a "customer_grid_flat" or "sales_order_grid"). There is other table - "cataloginventory_stock_status". There is one only new field  ("stock_status") in this table that is not from "cataloginventory_stock_item". So, "cataloginventory_stock_st

[2016-06-21 08:14] charleskj commented on #4921
I also faced the same issue, but it is not happening always

[2016-06-21 08:16] Mulderua commented on #3026
Hi @wiizzeer, \Magento\Sales\Model\Order::getSalesOrderCollection is not public function and cannot be called. You have to use \Magento\Sales\Model\OrderRepository.

[2016-06-21 08:25] peec opened #5123 "[2.0.7] JS minification causes image on product to not show in production"
## Steps to reproduce
1. Install Magento from `2.0.7` branch.
2. Put magento2 in production mode
3. Go into magento admin / settings / advanced / developer. Enable "Javascript merge", "Javascript bundling" and "Javascript minification".
4. After minification settings is updated in admin. Generate static content with static:content:deploy.
5. Open up a product's full page and see that the product-i

[2016-06-21 08:29] sas-flame commented on #4918
Yes, I referring to Magento_Config::trans_email vs Magento_Backend::trans_email.

Also the next ids have mismatch:

Magento_Config::advanced vs Magento_Backend::advanced

Magento_Config::currency vs Magento_Backend::currency

Magento_Config::dev vs Magento_Backend::dev

Magento_Config::web vs Magento_Backend::web

Magento_Config::sendfriend vs Magento_Backend::sendfriend

[2016-06-21 08:42] Mulderua commented on #3188
app/code/Magento/Ui/Component/Form/Element/Wysiwyg.php is no longer exist.

[2016-06-21 08:51] commalex opened #5124 "Backend Admin missing CSS"
Create a new Magento store.
Add an additional admin user.
Login with new user credentials.

Expected result
Admin backend to look like initial install user

Actual result
Backend is all text based, missing CSS etc

[2016-06-21 08:52] alexcrz commented on #4946
Still didn't found any solution, and now I'm getting a similair error with the paypal payment gateway. If I try to use it by inspecting the page, I get some /rest/default/V1.. 404 error.

[2016-06-21 08:55] commalex commented on #5124
Oh, I have checked permissions and the same happens on a clean install.  Running v2.0.7

[2016-06-21 09:12] komsitr commented on #4946
@alexcrz I try debugging the code until reach Zend Framework HTTP Request class. In my case, the problem looks like nothing to do with Magento but Apache settings with Mod Security blocks PUT request.

From the dump of request variable, I got REDIRECT_REDIRECT_REQUEST_METHOD value = PUT but the key REQUEST_METHOD were changed to GET. The redirection seems to be from Error 501. This is the informat

[2016-06-21 09:15] hostep commented on #5070
I've also seen it happen when you commit something using an e-mail address which isn't associated with your github account, maybe that's the problem?

[2016-06-21 09:24] Yonn-Trimoreau commented on #2354
My solution rebuilds the tree entirely, it does not only add nodes to the end ;)

[2016-06-21 09:33] mukdam commented on #3660
Please update http://devdocs.magento.com/swagger/index.html#/
body parameters.

[2016-06-21 09:35] sevos1984 commented on #4786
Dob issue is fixed in latest develop code, issue with customer group is fixed in MAGETWO-42954 and soon will be delivered to develop

[2016-06-21 09:39] tkacheva commented on #3630
@Deepthi57 please provide detailed steps to reproduce the issue with the reference on magento version you are using. I deleted rule, ran catalog re-index and discount is no longer available on storefront.

[2016-06-21 09:41] tkacheva commented on #493
@SKovbel does this answer your question?

[2016-06-21 09:50] woei66 commented on #4813
I did a workaround. I enabled SSL for all pages and it works.
So, I guessed that the problem is described as @mverstraete said.

[2016-06-21 09:55] slavvka commented on #3572
The message transport mechanism has been changed from customer data to cookies in 2.0.8 so most probably this problem will disappear in that version.

[2016-06-21 09:55] woei66 commented on #4813
but, I didn't find the root cause

[2016-06-21 09:58] antboiko commented on #4442
@gayankt @christianlakits thanks for reporting. Internal ticket MAGETWO-52925 was created.

[2016-06-21 10:19] hemant2586 commented on #1616
I am also struggling to convert quote additional options to order Item. In Magento2, the event sales_convert_quote_item_to_order_item is removed, so have to check for different way. I am looking for alternative but no luck yet. Please help me if anyone have idea about this.

Thanks in advance!
Himmat

[2016-06-21 10:26] sevos1984 commented on #4809
Issue is not reproducible with latest code and latest sample data, try update your code base

[2016-06-21 10:28] Mulderua commented on #3221
Internal issue MAGETWO-54594 was created.

[2016-06-21 10:32] #4809 closed, assigned to slavvka

[2016-06-21 10:35] ruby10 opened #5125 "Issue with setting fields in payload for POST "/v1/invoices" api"
Hi there,
I have an issue regarding setting fields in invoice create API
POST "V1/invoices"
with payload
{
"entity": {
"base_discount_tax_compensation_amount": null,
"base_shipping_discount_tax_compensation_amnt": null,
"discount_tax_compensation_amount": null,
"order_id": 58,
"shipping_discount_tax_compensation_amount": 0,
"total_qty": 2,
"grand_total": 155,
"subtotal": 150,
"items": [
{
"base_di

[2016-06-21 10:36] karanbhomiagit commented on #5125
I am facing the same issue. This is definitely a bug in the code.

[2016-06-21 10:44] BenGlassAtlas opened #5126 "IE9 4096 Selector Limit and the Magento 2 themes"
**TL:DR:** IE9 only supports up to 4096 selectors per CSS file, the blank theme is close to this limit, and the Luma theme is already over it. This means extending the themes will likely cause problems in IE9, unless less than ideal workarounds are used.

Detected in Magento 2.0.7 but I suspect it has always been an issue and will only get worse if more styles are added.
## The problem

I ran into

[2016-06-21 10:54] srinivasanithin commented on #5125
Those fields should be picked up from the magento sales order rather than we giving it on API. There are serious issues leaving these fields to be given by API user. Once an order is capture for full order with incorrect amount(less than order amount) then there is no way to capture again without re-authorizing the card for customer. Please fix this bug. Magento should be pulling price from order

[2016-06-21 11:01] mslabko commented on #5071
@eric128 Thank you for clarifying. Could you provide PHP and MySQL version?

[2016-06-21 11:02] bhaveshsurani opened #5127 "Cannot load resource element 'AN' in Catalog > Products"
Magento 2.0.7
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Do login to admin panel.
3. Navigate to Catalog > Products
## Expected result
1. It will going to show product listing
## Actual result
1. Warning: Magento\Framework\Locale\TranslatedLists::getCountryTranslation(): Cannot load resource element 'AN' in F:\xampp\htdocs\magento27-v1\vendor\magento\framework\Locale\Transl

[2016-06-21 11:03] arijit-de93 commented on #4909
@cpartica Thanks for looking into the issue.

I am getting the same error using the below payload.
Below is the payload, I am using:
{
"entity": {
"orderId": 1,
"storeId": 1,
"totalQty": "1",
"items": [
{
"orderItemId": 1,
"sku": "Test01",
"qty": "1",
"price": "122.00",
"row_total":"122.00"
}
]
}
}
I am not using billing address id and shipping address id and also product id and sku as they are no

[2016-06-21 11:25] soydemadrid commented on #4042
Hi I can also confirm that ClamAv reports this file as infected, this time in the en_US backend folder.. I don't have Windows or Edge etc. I installed Magento 2 on a LAMP web hosting server which runs ClamAv each night to check for malware. Yesterday I got this back on an email after a scan completed:

/public_html/pub/static/adminhtml/Magento/backend/en_US/js/bundle/bundle0.js: Html.Exploit.CVE_2

[2016-06-21 11:30] Mulderua commented on #3534
Hi @Grohotun, we cannot reproduce your issue.
For properly data retrieving you should use \Magento\Sales\Model\OrderRepository::getList(\Magento\Framework\Api\SearchCriteria $searchCriteria)  and Magento\Framework\Api\SearchCriteriaBuilder

For example

[code]

Repositories are the best way to work with data in Magento 2.

[2016-06-21 11:32] tkacheva commented on #5052
@thdoan, Thanks for bringing the issue
 MAGETWO-54593 is created. @eug123 please take a look

[2016-06-21 11:49] atIOCrON opened #5128 "Product URL Key not automatically generating during import"
## Steps to reproduce
1. Install Magento 2.0.7
2. System > Import - Import this CSV file http://www.sharecsv.com/s/03019e6bb511194c0f148764b81708db/m2_import_test_demo.csv
3. Products > Catalog - open the imported product and click "Search Engine Optimisation" tab
## Expected result
1. URL key is filled
2. Product is showing on frontend
## Actual result
1. URL Key is empty
2. Product is not showin

[2016-06-21 11:50] Grohotun commented on #3534
Hi, @Mulderua
I've just tested on 2.0.6 version - my code works well.
So, I think, that was bug in 2.0.2 version and it was somehow fixed.

[2016-06-21 11:50] #3534 closed, assigned to NadiyaS

[2016-06-21 11:52] ghost commented on #2495
Hi qwerty7869,

We have created the rest api's for the wishlist and for review . After implementing review and wishlist api we have added the code into the git hub please look at the following  for review and wishlist :
https://github.com/ajay-ipragmatech/magento2 - This is for review api
https://github.com/manish-ip/magento2 - This link is for Wishlist APi

[2016-06-21 11:52] tkacheva commented on #776
@rex-z coupon enhancements is a part of promotion scope.  Follow the roadmap updates

[2016-06-21 12:11] mitcht commented on #5115
I have noticed that the $customerModel->save() on line https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/Model/ResourceModel/CustomerRepository.php#L193 does not take into consideration any preexisting data.  This data is already available from line 141 above as $prevCustomerData.

The customerModel->save() attempts a full validation on the customer, and since the rest api

[2016-06-21 12:11] gizmocn opened #5129 "Product details page zoom issue when dropdown menu have overlap area with it."
## Steps to reproduce
1. Install Magento RC2.1
2. modify app/design/Magento/luma/etc/view.xml  to enable product gallery zoom,
## Expected result
## Actual result
1. Zoom works fine, but when hover on category dropdown menu to the overlap area of product image and dropdown menu, the zoom is active abnormally, even the mouse is still on the dropdown menu.

The issue is also existed in 2.0.7.

pleas

[2016-06-21 12:20] Mulderua commented on #3289
Hi @OleksiyOleksiyovych, we cannot reproduce on 2.0.2 version (commit 71dab8d) too. Try to disable all thirt party extension and do scenario again.
Notice that current magento version is 2.0.7.

[2016-06-21 12:33] antboiko commented on #5119
Hi @orbitrod , thanks for reporting. The issue was fixed internally and should be included in 2.1 release.

https://github.com/magento/magento2/issues/3861

Best,
Anton.

[2016-06-21 12:33] #5119 closed, assigned to nobody

[2016-06-21 12:33] seansan commented on #776
@tkacheva : "Follow the roadmap updates"

Where can these be found? (did not know this either)

[2016-06-21 12:46] antboiko commented on #5107
Hi @fvillata , I cannot reproduce this issue on 2.1 - rc3. The issue with HTML tags in Meta Description was fixed and will be available in 2.1 release.

I'm closing this ticket. Please feel free to reopen if it's needed.

Thanks,
Anton.

[2016-06-21 12:46] #5107 closed, assigned to nobody

[2016-06-21 12:53] vipin-eglobeits commented on #5019
@pboisvert This is an issue of Magento 2 that they didn't include any provision to upload videos when we add multiple products together. Otherwise please tell me the solution for the below scenario:
- I'm adding hundred products together through the backend using a csv import process.
- I have different videos for all of these products to show on the product detail page.

I did a research on this

[2016-06-21 12:59] antboiko commented on #5097
https://github.com/magento/magento2/issues/4442

[2016-06-21 13:31] irenelagno commented on #5089
@Dayssam Thank you for reporting this issue. Currently, we were unable to reproduce it with the provided information. Could you please provide more detailed steps to reproduce, e. g. settings you have changed or extra details about simple and grouped product configuration, information from the errors in browser console(if it exists)?

[2016-06-21 13:32] stefandoorn commented on #3698
I was using the UPS provider. So I made an order through checkout, then tried from backend to create the shipment. I was using an NL address, so without a region (blank) and that resulted in an error telling me that region cannot be blank when creating a label (see also the line provided above).

Does this help enough, @piotrekkaminski?

Edit: I was using an NL address for the origin of the shipme

[2016-06-21 13:33] kanduvisla opened #5130 "Add module version for module dependencies"
Feature request:

Also provide a minimum module version when you declare module dependencies. For example:

[code]

This way you can make sure that the module your module depends on is (at least) the correct version.

[2016-06-21 13:40] manish-pragma commented on #2495
We have created a custom extension for review and wishlist API which is in under process for submission. If you need this then contact us info@ipragmatech.com or wait till submit on Marketplace.

[2016-06-21 13:40] Mulderua commented on #5105
Hi @srbarba , we cannot reproduce this scenario on current develop(3561b6614eeafb70cbcbf0dc0254359b857af3d4).
You could disable all third party extensions, update your version of magento. Do composer install/update. Clear magento cache. Do bin/magento setup:upgrade.
If scenario will be reproducing again. Please add more details to steps for reproduce.
Thank you!

[2016-06-21 13:54] Mulderua commented on #5104
Hi @ideirj, thank you for the report.
Internal ticket MAGETWO-54609 was created.

[2016-06-21 13:59] #3026 closed, assigned to NadiyaS

[2016-06-21 14:00] mverstraete commented on #4813
I have SSL on all pages as well, but still having the same problem.

[2016-06-21 14:09] #3188 closed, assigned to NadiyaS

[2016-06-21 14:09] YevSent commented on #4813
@mverstraete, please, specify configuration of Magento (version, version of php, etc) and attach debug and exception logs.

[2016-06-21 14:13] NadiyaS commented on #3188
Hi @ktomk  ,

The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropria

[2016-06-21 14:15] Alkar778 commented on #5050
@Vinai internal ticket was created MAGETWO-54615

[2016-06-21 14:15] boldhedgehog opened #5131 "PHP 7.0.4 is not supported by 2.1-RC3"
## Steps to reproduce
1. Try Install Magento from `develop` branch on Ubuntu 16.04 Xenial.
## Expected result
1. Installation starts
## Actual result
1. Composer reports about unmet dependency

In 2.1-RC3 Composer and PHP code check both require PHP version 7.0.2 or 7.0.6+, but Ubuntu 16.04 package repository has only PHP 7.0.4 at this moment. Why PHP 7.0.4 is not supported by Magento 2.1 ?

[2016-06-21 14:17] Vinai commented on #5050
Thank you @Alkar778!

[2016-06-21 14:24] NadiyaS commented on #3375
this issue is a duplicate of #2628 and had been fixed already.
Shipping data is transmitted to extension attributes.

[2016-06-21 14:24] #3375 closed, assigned to NadiyaS

[2016-06-21 14:26] micheese commented on #4442
Same problem here.

Will there be a patch soon?

Thank you very much.

[2016-06-21 14:28] mverstraete commented on #4813
Magento version 2.0.7
PHP version 5.6.22
Apache version 2.4.18
MariaDB 10.0.25
- I add a product to the cart
- Go through the checkout process
- Choose authorize.net direct post as a payment method
- Enter credit card information and press "Place Order"
- I get the spinny wheel loading modal screen
- Once transact.dll returns, I get a javascript error:

transact.dll:4 Uncaught SecurityError: Block

[2016-06-21 14:28] rugbymauri opened #5132 "Umlaut not corretly saved in Widgets"
## Steps to reproduce
1. Insert a Widget in a Static Block or CMS Page, ex. Category-Link
2. Insert some umlaut character in the text fields, ex. öäü
3. Insert the Widget
4. Reopen the Widget-Dialog, double-click on the insered Widget

![auswahl_001](https://cloud.githubusercontent.com/assets/5549264/16233028/30d9b3e6-37cd-11e6-8691-4b85651e777b.png)

![auswahl_002](https://cloud.githubusercontent

[2016-06-21 14:36] mverstraete commented on #4813
Also the response of transaction.dll looks like this:

[code]

[2016-06-21 14:40] develpr opened #5133 "[CE 2.1 RC2] Product prices not scoped to Website - scoping seems to be at store view level"
## Steps to reproduce
1. Install Magento CE 2.1 RC2.
2. Install Magento CE 2.1 Sample Data
3. Create a second Website, Store, and 2x Store View (in my case **Canada Website, Canada Store, Canada English**, and **Canada French**)
4. Go to **Stores > Configuration > Catalog > Catalog** and set the **Store Price Scope** from _Global_ to _Website_
5. Edit any simple product (I used 24-WG084 which is t

[2016-06-21 15:00] NadiyaS commented on #3307
Hi,
2.1.0 won't have this fix.
I want to remind you that we've created a story to improve order functionality where described bug will also be fixed (internal ticket is MAGETWO-50299).
It will be delivered as soon as possible according to other items priority.
Thank you for understanding and we are sorry for delay about this issue.

[2016-06-21 15:10] YevSent commented on #4813
@mverstraete, this is https://www.storesdomainhere.com public domain or your localhost, I can't open this URL. Also, do you use authorize.net sandbox credentials or production?

[2016-06-21 15:13] mverstraete commented on #4813
No, the real domain is https://www.customizedgolfballs.com

This is the production site, using production authorize.net credentials.

[2016-06-21 15:14] springimport opened #5134 "What a algorithm to create a order via rest API?"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Auth with admin. `[POST]` http://springimport.net/rest/V1/integration/admin/token
3. Creating cart. `[POST]` http://springimport.net/rest/V1/customers/2/carts
4. Add items to cart `[POST]` http://springimport.net/rest/V1/carts/59/items
5. Add ship info `[POST]` http://springimport.net/rest/V1/carts/59/shipping-information

[code]
1

[2016-06-21 15:21] nmallepally opened #5135 "Add to cart for swatch and drop down attributes"
On the products,The Add to cart does not work if I have a color attribute as swatch and density as drop down, But if i have both as Drop down , the add to cart works. Is this code issue or a bug??.

attached a image for ref.
![atc swatch](https://cloud.githubusercontent.com/assets/19605497/16235300/407cffe8-37cc-11e6-8314-54e926ae3abd.png)

[2016-06-21 15:25] ravinama opened #5136 "magento 2 import product from csv and attribute variation change automatially"
Hello Dear,

I have faced issue when import product in magento 2.When i have add more then one product in then product variation automatically.

From:Ravi Nama

[2016-06-21 15:25] choukalos commented on #4774
No, it's way out there - buried in icebox; unless there's a massive deluge of interest/need for this it's likely to stay there.

On the other hand if some one wants to give us a PR we'd love to take it into mainline.

[2016-06-21 15:39] NadiyaS commented on #5036
Hi @millionerrr ,
this issue is not reproducible on develop branch. You can upgrade your code from this branch or 2.1-rc3 or wait until next release.
This is also duplicate of #4980 and #4553
Feel free to reopen this bug if you encountered the same problem in next version

[2016-06-21 15:39] #5036 closed, assigned to NadiyaS

[2016-06-21 15:40] NagamaniNaresh commented on #3631
Hi Team, For me also the same issue, I am using Magento2.0.7 and i have below code,

[code]

But it is not displaying 0 count when opened in Private Browser.

[2016-06-21 15:43] NadiyaS commented on #4146
Hi,
the fix was delivered to develop branch [6176951](https://github.com/magento/magento2/commit/61769514a1180a69adf3281058dc05c20c2cf4da)
The issue is closed as resolved.

[2016-06-21 15:43] #4146 closed, assigned to NadiyaS

[2016-06-21 15:46] tkacheva commented on #3079
@asemenenko, @antboiko  what do you think?

[2016-06-21 15:49] #5115 closed, assigned to nobody

[2016-06-21 15:49] mitcht commented on #5115
Reinstalled magento. Seems to work ok.

[2016-06-21 15:57] antboiko commented on #5135
Hi @nmallepally , what Magento version are you using?

Thanks,
Anton.

[2016-06-21 15:57] srbarba commented on #5105
Hello!
I did a new installation(without third party extensions) with Magento 2.0.7v in another server.
The error appears.

Steps:
1. Install Magento
2. Create category
3. Create 2 Simple Products
4. Create Grouped with this 2 Simple products.
5. Buy a simple product from the Grouped Product.
6. Invoice the order at admin with Copy email option checked.

Result:
The error at first comment.

See tha

[2016-06-21 15:58] nmallepally commented on #5135
2.0.4 version @antboiko

[2016-06-21 16:03] JananiKrishnan opened #5137 "Recently viewed products not working in product page with enabled page cache(FPC)"
## Steps to reproduce

1.add: <block class="Magento\Reports\Block\Product\Widget\Viewed" page_size="4" name="recently_viewed" template="widget/viewed/content/viewed_grid.phtml" cacheable="false" />  to catalog_product_view.xml in any container
or
Add recently viewed widget in product detail page
1. The magento we use is multi site with multiple themes .

Expected result
With all cache enabled you

[2016-06-21 16:04] nmallepally commented on #5087
Any update on the above issue, please ?? @antboiko

[2016-06-21 16:04] mhabou commented on #5089
I dont get this problem with all grouped products

On the load of the page i got [just once]

[code]

When i start changing the product quantities i got

[code]

Then i got no response when i click on " Go to checkout " and no products details (i got that error just in the case of the sample data grouped product " Set of Sprite Yoga Straps " )

![snapshot7](https://cloud.githubusercontent.com/asse

[2016-06-21 16:08] Mulderua commented on #5086
Hi @Dayssam !
Internal ticket MAGETWO-54626 was created.
Thank you for the report.

[2016-06-21 16:24] mhabou commented on #5089
@irenelagno :
When i added 2 groped products ( 1 from sample data & the other which i created)

when i go to checkout page i got a blank page with just the right side bar

![snapshot12](https://cloud.githubusercontent.com/assets/13301885/16237591/a797cd20-37cc-11e6-8ad2-885e91da6680.png)

[code]

[2016-06-21 16:28] mhabou commented on #5130
@kanduvisla : great suggestion

[2016-06-21 16:29] Vinai commented on #5130
The `<sequence>` nodes in the `module.xml` are soft dependencies and (as far as I know) only affect the module load order in `app/etc/config.php`.
Hard dependencies and versions should be listed in the `composer.json` file.

[2016-06-21 16:30] Vinai commented on #5130
Closing as the feature already exists in a different form.

[2016-06-21 16:30] #5130 closed, assigned to nobody

[2016-06-21 16:31] safwkhan commented on #4042
It's a malicious file. Please see my above comment to fix it. Also, please check setting of your filesystem's ownership and permission.

[2016-06-21 16:44] navarr opened #5138 "Add ability to insert additional checkout success buttons"
# Feature Request:

Rather than override the success.phtml file, add the ability to create child blocks that can add buttons to the toolbar after checkout success.
## Steps to reproduce
1. Install Magento 2.1 (in any shape)
2. Decide that you want to add an additional button in the toolbar on Checkout Success
3. Investigate [the template](https://github.com/magento/magento2/blob/develop/app/code/M

[2016-06-21 16:50] encircle commented on #3451
Any news on this, or possible workaround? Client is trying to backup their system and getting nervous!

[2016-06-21 17:26] orbitrod commented on #5119
OK great.  I went ahead and applied the fix in commit   895efff and it fixed the problem.

[2016-06-21 18:13] commcad commented on #5131
Was just about to report this. Having the same issue here also on Xenial 16.04 PHP 7.0.4

Workaround is of course to install some third party repo and force the latest/untested zend php pckg. Unfortunately that just won't work for us here :/

Hoping for 2.1 to support the official Ubuntu bundle

[2016-06-21 18:49] LoganGS commented on #1471
#### URL key for specified store already exists

[Previously, changing the **Multiple Value Separator**](#issuecomment-225748150) worked for me. However with a subsequent file import, I received the error again.

After digging .. and digging .. and digging .. _ad infinitum_

I discovered that the product import was breaking in the _**createCategory()**_ method of the class:

What ended up happenin

[2016-06-21 19:13] Onkovat commented on #4932
Thanks for the tip. I will check it out... Unfortunately it is only how to implement bootstrap less files into magento. It works with the normal css files too so I do not yet bother about less files.

I already found out how to implement bootstrap though it is really hard since you might be able to add it in layout and page configuration files but it goes deeper too. Template files and now even ph

[2016-06-21 19:15] paales opened #5139 "Api interface for product swatches"
Currently using 2.1-rc3.

There is no API available for product option swatches. It makes sense if we are able to use the `ProductAttributeOptionManagementInterface` to add new swatch texts to products.

Maybe to have better separation of concerns we could have a `ProductAttributeOptionSwatchManagementInterface` to add swatch information to an existing option.

[2016-06-21 19:22] Onkovat opened #5140 "Error in Topmenu.php?"
I'm using Magento 2.0.7 to create my own theme basing on blank and I needed to adjust the top navi. Now it is possible to set classes for the top ul in topmenu.phtml though it seems the Topmenu.php is not correctly using the second value $childrenWrapClass. It is simply not used in function _addSubMenu and instead manually there is the standard value in the code.

Anyway, be it like it be. For wha

[2016-06-21 19:28] paales opened #5141 "ProductAttributeOptionManagementInterface::add doesn't return hydrated model."
When adding an option to an attribute the model isn't hydrated with the correct option_id. This means I have to do another call the get the attribute, find the option again to find the option_id.

Was required because of #5139

Ps. Am i using the hydrator term correctly? 😛.

[2016-06-21 19:29] paales opened #5142 "No Admin Scope for Product Attribute text swatches"
Version: 2.1-rc3

<img width="985" alt="schermafbeelding 2016-06-21 om 21 28 37" src="https://cloud.githubusercontent.com/assets/1244416/16243362/2cfcec64-37f7-11e6-873a-19d1b074234a.png">

There should be an extra field for a store_id=0 swatch text field.

[2016-06-21 19:35] paales opened #5143 "No fallback to attribute option for text swatch"
Version 2.1-rc3
When creating an attribute option as a text-swatch it should fall back to the default option value.

<img width="944" alt="schermafbeelding 2016-06-21 om 21 33 11" src="https://cloud.githubusercontent.com/assets/1244416/16243489/ca5cad82-37f7-11e6-9640-ce50b3687328.png">

Results in:
<img width="562" alt="schermafbeelding 2016-06-21 om 21 33 45" src="https://cloud.githubusercontent

[2016-06-21 20:02] elenleonova commented on #5027
Hi @jason-vivid - can you please take some to help us reproduce this issue? maybe some additional steps or configurations?

[2016-06-21 20:10] minhluan259 opened #5144 "[CE 2.1] Ajax cart doesn't work"
I installed CE 2.1 with sample data.
In product page, home page, top category (landing page) : Ajax cart doesn't work.
Ajax cart only work in sub category.

[2016-06-21 20:16] JakeOB25 commented on #3986
@mujtaba2012 , have you had any luck with updating line items with **Tracking** information?

The entity XML that I'm sending is as follows.  The shipment is created in Magento for the specific line item, yet no tracking information is displayed.

        <entity>
            <createdAt>2016-06-20 15:52:00</createdAt>
            <incrementId>PPS123_C</incrementId>
            <shippingAddressId>3

[2016-06-21 20:26] davidalger commented on #5140
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-21 20:26] #5140 closed, assigned to nobody

[2016-06-21 20:27] davidalger commented on #4932
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-21 20:27] #4932 closed, assigned to nobody

[2016-06-21 20:38] davidalger commented on #5131
@orlangur @vkublytskyi It would appear that the version constraints added in the scope of MAGETWO-53293 (commit 01ab812 as example) were incorrect. The PHP version constraint should be `~5.6.0|7.0.2-7.0.4|~7.0.6` vs `~5.6.0|7.0.2|~7.0.6` as 7.0.5 is the only incompatible version.

Can this be fixed in the next RC?

[2016-06-21 20:45] ipekerti commented on #5007
Figured out what I did wrong.  I wasn't using the correct primary key for the line table for the order_item_id element.

It is a bit strange that the API considers it a successful transaction since it expects both order_id and order_item_id, but does not seem to perform any verification of the association between them at all.

[2016-06-21 20:45] #5007 closed, assigned to NadiyaS

[2016-06-21 20:46] JDavidVR commented on #3625
I updated to 2.0.7, still having problems with this issue

[2016-06-21 20:50] davidalger commented on #5136
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-21 20:50] #5136 closed, assigned to nobody

[2016-06-21 20:52] ktomk commented on #3188
@NadiyaS: Jiust FYI, some people might find it offensive to be greeted with macro texts when they took the time to visit and give feedback to an issue. Per notifications, duplicate positings do also arrive even if deleted later on the Github platform. No worries please.

[2016-06-21 21:02] paales opened #5146 "Error while reindexing catalogsearch with XDebug enabled: Fatal error: Maximum function nesting level of '200' reached, aborting!"
### Preconditions
Magento 2.1.0-rc3
### Steps to reproduce

Have enough products to reach the iterator limit: 7829 in this case.
Run `php bin/magento index:reindex`
### Expected result

Full reindex
### Actual result

Changing the setting to `xdebug.max_nesting_level=2000` doesn't solve it, but changing it to 10000 does solve it. It seems I have more than 2000 hidden products that don't have to go

[2016-06-21 21:13] jonahnaylor commented on #4042
Hi thanks but I'm not sure what the fix is in the previous comment, as I don't use any Microsoft products or software... Could you please advise what the fix is with Magento and the correct file permissions on the folders/files to prevent this for this particular file? Thanks very much for any help.

[2016-06-21 21:30] safwkhan commented on #4042
If you are not using Microsoft Browser/products (that was a method of injecting this bundle0.js file, reported so far), then you need to find out the attack vector of how it got into your filesystem. For now, please remove the file. For proper filesystem permission, you can follow this: http://devdocs.magento.com/guides/m1x/install/installer-privileges_after.html

[2016-06-21 21:41] buskamuza commented on #5093
Hi @dgarbe , the issue is that your current PHP version satisfies installed Magento, but new version of Magento requires a higher version of PHP.
So to be able to upgrade you need PHP version that is 5.6.x, 7.0.2 or >=7.0.6

[2016-06-21 21:49] ghost commented on #5093
So it would seem. However, my php version is 7.0.7 and the updater verifies that version and that all 15 required extensions are installed.

[2016-06-21 22:22] ghost commented on #5093
So what  am I not understanding here? Is composer calling a different version of php? And, if so, how would I verify that?

[2016-06-22 00:12] timtt-zz commented on #3307
Thanks for this info. What does “as soon as possible according to other items priority” really mean though? Is this just not very high priority in the team’s view and so it will continue to be prioritized below other bugs?

[2016-06-22 01:10] #5093 closed, assigned to nobody

[2016-06-22 01:21] Thommas commented on #3759
I can confirm this issue on 2.0.7.

Any quickfix in mind for now ?

[2016-06-22 02:02] phuc128t commented on #5071
Sure, see below:
srv@websrv:~$ mysql --version
mysql  Ver 14.14 Distrib 5.7.12, for Linux (x86_64) using  EditLine wrapper

srv@websrv:~$ php -v
PHP 7.0.7-4+deb.sury.org~xenial+1 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2016, by Zend Technologies

[2016-06-22 05:18] pboisvert commented on #5144
@asemenenko Can you make sure this one gets tested/verified?

[2016-06-22 05:27] pboisvert commented on #5143
@paales Can you provide more info in terms of steps to reproduce and the version number? I tried to reproduce but when creating a new attribute of type "text swatch" and then clicking Add Swatch, there is always a default selected. Not sure your path for creating this swatch field that results in no default option so may be version specific.

[2016-06-22 05:29] pboisvert commented on #5143
oops--just caught that version is listed above screenshots.

@antboiko can you have the team test against RC3 for this?

[2016-06-22 06:07] salmanazeez786 commented on #3664
Im facing this issue
In \Magento\Customer\Controller\Account\LoginPost.php  on line 70
if I use   **if ($this->session->isLoggedIn() ){**    instead of **if ($this->session->isLoggedIn() || !$this->formKeyValidator->validate($this->getRequest())) {**   then login works, which means that formkey validation is failing.....

[2016-06-22 06:11] salmanazeez786 opened #5148 "Customer Login - form_key validation fails"
## Steps to reproduce
1. Go to customer login page and try to login
## Expected result
1. Customer should login and redirect to My Account page
## Actual result

1.Customer login fails because form_key validation fails

Note : Everything was working fine before I upgraded to Php 7.0

Observation :
In \Magento\Customer\Controller\Account\LoginPost.php  on line 70
if I use   **if ($this->session->is

[2016-06-22 06:37] djes240285 opened #5149 "After Migration : Product type saves as Simple."
Steps to reproduce
## After migration:
1. Edit any products (not simple)
2. To change anything in products
3. Save
## Expected result
1. [Example] Configurable product should not change your type.
## Actual result
1. [Example] Type configurable, virtual, etc.  - changed to simple
2. http://take.ms/58JvN
3. http://take.ms/Y2Naa

What to do?!!!

Thanks.

[2016-06-22 07:15] Deepthi57 commented on #3630
Thanks for checking. I will install latest version and check
On 21 Jun 2016 3:09 pm, "Olena Tkacheva" notifications@github.com wrote:

[2016-06-22 07:15] antboiko commented on #5087
Hi @nmallepally , the Add to Cart translation was already fixed in https://github.com/magento/magento2/issues/4181. The fix will be available in 2.1 release and also in one of the future patches.

Regarding the second issue, I will update you on this under another ticket that you created https://github.com/magento/magento2/issues/5135.

I'm closing this issue. Please feel free to reopen if it's ne

[2016-06-22 07:15] #5087 closed, assigned to antboiko

[2016-06-22 07:40] olysenko commented on #2608
Internal story was created MAGETWO-54630

[2016-06-22 07:55] mslabko commented on #5071
It looks like issue reproduced for php7 only. Internal ticket created: MAGETWO-54602

[2016-06-22 07:58] dmcmillin opened #5150 "<adminurl>/catalog/category/index/ sits in spinning circle of death 2.1"
## Steps to reproduce
1. Install Magento from `develop` branch. 2.1
2. proceed to admin url /catalog/category/index
## Expected result
1. screen should clear away and allow data entry for categories.
## Actual result
1. screen sits on spinning wheel.

I believed it was due to fpc due to log files displaying xml error, however with fpc turned off. it still sits on error screen

[2016-06-22 08:35] LiamFielding opened #5151 "Toolbar Amount Catalog Page / Product Visibility"
I have configurable products and simple products in the same category.

The page for the category states that there are five products available. I have a configurable product and four simple products used as variants inside it.

However, the issue may be irrelevant to this. The toolbar amount at the top of the page states that there are five products in the category (one is displayed, the rest are

[2016-06-22 08:35] antboiko commented on #3771
Hi @jaimestuardo , I've created internal ticket MAGETWO-54632 to investigate this.

Thanks,
Anton.

[2016-06-22 08:39] deepanshu27193 commented on #3294
Experiencing the same problem on version 2.0.2.
Any updates for this issue or it is solved in any latest version ?
I tried $_SESSION but its not working for category and product pages.

[2016-06-22 08:41] cozzamara opened #5152 "Filtering by store view doesn't work"
## Steps to reproduce
1. Install Magento 2.0.7
2. Upgrade to Magento 2.1.0
3. Set up multiple store views
4. Navigate to Products -> Catalog
5. Apply filter by Store View
## Expected result

Products are filtered by store view
## Actual result

Filter is ignored; products for all store views are still shown.

This was not a problem in 2.0.7

[2016-06-22 08:41] paales commented on #5143
To clarify, I'm not referring to the 'Is Default' column, but I'm referring to the Admin and Swatch columns. When the Swatch column isn't filled in, the swatch should fall back to the Admin column. Hope that makes sense.

[2016-06-22 08:44] paales commented on #5142
To clarify: Left of the 'Admin' column there should be an additional Swatch column that should store the values in the eav_attribute_option_swatch table store_id=0

[2016-06-22 08:47] Mulderua commented on #5105
Hi @srbarba , thank you for your video.
Internal ticket MAGETWO-54633 was created.

[2016-06-22 08:51] salmanazeez786 commented on #5148
Creating a virtual host for magento2 solved this...

[2016-06-22 08:51] #5148 closed, assigned to nobody

[2016-06-22 08:56] duongquyet opened #5153 "addCategoryFilter root category doesn't work"
$id = $this->_storeManager->getStore()->getRootCategoryId();
$_category =  $this->_categoryFactory->create()->load($id);

$collection = $this->_productCollectionFactory->create()->addCategoryFilter($_category);

When i filter with categories not root category, It work fine. But when i try filter with root category, it doesn't work. Anybody have solution? Thanks.

[2016-06-22 08:57] maxhopei opened #5154 "Incorrect Request URL with Form Key on the product import."
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to Admin Panel
3. Go to System -> Import.
4. Select "Products" in Entity Type field.
5. Set: Import Behavior: "Add/Update", select valid file to import.
6. Click "Check Data", wait for validation to complete.
7. Click "Import".
## Expected result
1. The request is sent to http://obo-demo.testing.cgi-labs.de/admin/admin/import/st

[2016-06-22 08:58] Thommas commented on #3923
OK, so I just figured out you need to translate the labels in your import file.

I'm using spanish, so with 'No es visible individualmente' instead of 'Not Visible Individually', the validation works fine.

[2016-06-22 09:07] tkacheva commented on #5025
@ezequielalba Is this the condition you have created?
![cart condition](https://cloud.githubusercontent.com/assets/5603216/16260840/c3bdbc30-3871-11e6-9b49-9c5739a148de.png)

[2016-06-22 09:13] davidverholen commented on #3605
ok, the problem simply seems to be, that null is never type casted here: https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Reflection/TypeCaster.php#L25

This is a Problem in languages with strict types since the scalar types are not allowed to be null, instead they have to be casted to "", 0 or 0.0 for example

[2016-06-22 09:36] casperbakker commented on #3307
I cannot see how this is _not_:
- a super high priority
- relatively easy to fix

Most larger webshops do not use Magento in their warehouse to ship orders, and Magento is focussing on these larger webshops. Non of these webshops can mark orders as completed in Magento 2.

It blows my mind.

@NadiyaS Does a community pull request to fix this have a serious chance to be accepted?

[2016-06-22 09:46] davidverholen opened #5155 "IndexerHandlerFactory: Indexer Object cast to String"
The IndexerHandlerFactory casts the indexer Object to string if an error occurs:

https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogSearch/Model/Indexer/IndexerHandlerFactory.php#L78
https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogSearch/Model/Indexer/IndexerHandlerFactory.php#L83

Since the $indexer should be an Object of type IndexerInterface and t

[2016-06-22 09:48] tkacheva commented on #776
@seansan they are given at magento live and imagine conference

[2016-06-22 09:51] Onkovat commented on #5140
Thanks for the hint though I think there is a bug in magento 2. In topmenu.php the var $childrenWrapClass is not used for wrapping submenus. Instead in the function where it should use the class submenu in the html code this class is hardcoded into.

[2016-06-22 09:55] irenelagno commented on #5089
@Dayssam, thank you for extra information regarding configuration. The bug about grouped product was reported in the https://github.com/magento/magento2/issues/3728 . Fix for this issue has been delivered to the develop branch with the commit https://github.com/magento/magento2/commit/520f76d054a3fd1bda57144e17e58e116361a6d5.  The second issue was reported in https://github.com/magento/magento2/is

[2016-06-22 09:55] commalex opened #5156 "Image Category Thumnails Not being compressed correctly"
## Steps to reproduce
1. We are running Magento 2.0.7 on a AWS server at www.3signs.co.uk.  When uploading a new product we ensure the image is a PNG8 1600px by 1600px is uploaded.
## Expected result
1. The product image is automatically converted into a smaller 300px image for category views. This image appears very pixelated on both Retina and VGA screens.  On closer inspection of the cached ima

[2016-06-22 09:57] karanbhomiagit commented on #3307
@NadiyaS : This bug is one major blocker for any kind of integration to 3rd party softwares.
Please take it with higher priority.

[2016-06-22 09:59] srinivasanithin commented on #3307
@NadiyaS I think this should be fixed asap as this will be blocking alot of integration partners who are into shipping integration. Please make this super priority.

[2016-06-22 10:02] seansan commented on #776
OK. THX

FYI Would be really good to have this online somewhere.

On Wed, Jun 22, 2016 at 11:49 AM, Olena Tkacheva notifications@github.com
wrote:

[2016-06-22 10:09] jochhop opened #5157 "Controller preference not working after setup:di:compile"
### Preconditions
Magento 2.1.x

## Steps to reproduce
1. Installed Magento v2.0.7 (no tested in previous versions).
2. Create a custom extension.
3. Use preference to override controllers.
4. Run `magento setup:di:compile` (executed successfully)
## Expected result
1. My controller action should rewrite original Magento action.
## Actual result
1. Original Magento Action is executed.

Making it m

[2016-06-22 10:12] dunghangnuakhong opened #5158 "Not use email_order_set_template_vars_before observer in OrderSender class"
## Steps to reproduce
1. I create event observer in etc/events.xml of my module.
   <event name="email_order_set_template_vars_before">
       <observer name="ss_sales_email_order_set_template" instance="Ss\Sales\Observer\SetTemplateVars" />
   </event>
2. I create SetTemplateVars class in my Observer
   <?php
   namespace Ss\Sales\Observer;
   class SetTemplateVars implements \Magento\Framework\E

[2016-06-22 10:16] fooman commented on #5158
$transport is a `\Magento\Framework\DataObject`  and not an array. Use it as `$transport->setTest('TESTING');`

[2016-06-22 10:22] karlsminton opened #5159 "Middle table rates never evaluated"
When using magento2's in-built table rates, my first and last rates (in the csv) are evaluated fine, but the middle rate is always ignored.
The contents of the csv are;

Country,Region/State,"Zip/Postal Code","Order Subtotal (and above)","Shipping Price"
_,_,_,0.0000,4.9900
*,_,_,50.0000,2.9900
*,_,*,100.0000,0.0000

However when the order value exceeds £50, it still costs the user £4.99

The csv

[2016-06-22 10:31] NadiyaS commented on #5158
Hi @dunghangnuakhong ,
the GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most

[2016-06-22 10:31] #5158 closed, assigned to nobody

[2016-06-22 10:57] paales opened #5160 "ImportExport: Tier price product import requires multiple rows."
### Preconditions
1. Magento 2.1.2 (all versions)

### Steps to reproduce
1. Try and import products with multiple prices.

### Expected result
1. A single row is required per product and thus a single field is required for all tier prices.

### Actual result
1. To import tier prices the import model requires multiple rows at this moment. This breaks the single-row-per-product strategy that is use

[2016-06-22 11:02] Mulderua commented on #2939
Hi @tigerx7 , thank you for the report!
Internal ticket MAGETWO-54640 was created.

[2016-06-22 11:03] paales commented on #5160
A side note:
Methods/properties should be protected not private, causing me problems with extending.

[code]

[2016-06-22 11:08] Onkovat commented on #5140
Ok, I will open a new ticket since I do not know how to reopen this one

[2016-06-22 11:10] Onkovat opened #5161 "Magento 2.0.7 topmenu.php probable error."
I think there is a bug in magento 2. In topmenu.php, which is in module-theme/Block/Html the var $childrenWrapClass is not used for wrapping submenus. Instead in the function, where the class submenu should be used in, the class "submenu" is hardcoded into the html. Which is the standard text for that variable too. The var is only not used then.

[2016-06-22 11:11] Rajesh-Rathod opened #5162 "URL key for specified store already exists. While Importing products in bluk"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-06-22 11:21] vzabaznov commented on #5162
Hi @Rajesh-Rathod.
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.
And please provide more proper steps, adding configurable product to cart is working fine on latest mainline, i don't understand how the title bound with the ticket body

[2016-06-22 11:27] vzabaznov commented on #5161
Hi @Onkovat
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.
To allow us research the issue, please, provide description according to the template.
It would be great if you'll highlight the problem place

[2016-06-22 11:28] ghost commented on #4028
Wishlist and Reviews/Rating are integral part for any eCommerce platform and We wish Magento guys would have included them in the core features. So we have taken the initiative and added these features by taking out the fork from the github. We are waiting for Magento guys to Merge our pull request. In the meanwhile you can take use the following forks for your online store:

Reviews/Rating: https

[2016-06-22 11:31] andimov commented on #5153
To allow us research the issue, please, provide description according to the template.
Please, provide the used version also. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 11:40] vzabaznov commented on #2009
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 11:42] vzabaznov commented on #1856
Hi @janbuelens bug was fixed and delivered, please check it in current mainline

[2016-06-22 11:42] #1856 closed

[2016-06-22 11:42] vzabaznov commented on #2025
Hi @andrewkett  bug was fixed and delivered to latest version.

[2016-06-22 11:42] #2025 closed

[2016-06-22 11:47] vzabaznov commented on #2077
All related bug was closed, issue is not reproducible now

[2016-06-22 11:47] #2077 closed

[2016-06-22 11:48] andimov commented on #5092
To allow us research the issue, please, provide description according to the template.

[2016-06-22 11:49] andimov commented on #5073
To allow us research the issue, please, provide description according to the template.
Please, provide the used version also. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 11:50] vzabaznov commented on #2159
Issue was fixed and delivared

[2016-06-22 11:50] #2159 closed

[2016-06-22 11:51] andimov commented on #5033
Please, provide used version in format 2.x.x(-rcx). If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 11:52] vzabaznov commented on #2163
Closed as duplicate #1915

[2016-06-22 11:52] #2163 closed

[2016-06-22 11:56] oserediuk commented on #5146
Hello! To allow us research the issue, please, provide description according to the template.
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 11:58] paales commented on #5146
@oserediuk 2.1.0-rc3, other parts are mentioned in the description right?

[2016-06-22 11:58] vzabaznov commented on #2191
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:01] vzabaznov commented on #2196
Hi @adragus-inviqa if you still have such problems please provide description according to the template, provide the used version, and create new bug.
Closed now as no update

[2016-06-22 12:01] #2196 closed

[2016-06-22 12:01] dimple-vasoya commented on #2514
How to fetch the visual color swatch value (color hash) of an attribute (color) option?

[2016-06-22 12:02] vzabaznov commented on #2218
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:04] vzabaznov commented on #2229
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:13] ruby10 commented on #3307
@NadiyaS  , this issues seems to be a terrible problem for so many people developing integrations!

[2016-06-22 12:14] andimov commented on #4953
@kanduvisla, @Dayssam. We already have internal ticket MAGETWO-52946 to fix this issue

[2016-06-22 12:19] andimov commented on #4943
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:21] SidneyBilliet commented on #4943
@andimov 2.0.7

[2016-06-22 12:29] vzabaznov commented on #2467
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:29] vzabaznov commented on #2465
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:31] vzabaznov commented on #2465
Hi @labofidea , referenced PR was closed and merged, if you still have such problems please  create new bug.

[2016-06-22 12:31] #2465 closed, assigned to nobody

[2016-06-22 12:31] duhon commented on #5137
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 12:35] mcspronko commented on #5089
Hi @irenelagno

Do you have any date for MAGETWO-50368 issue?

Thanks

[2016-06-22 12:39] mhabou opened #5163 "[CE 2.0.7 ] Invoice,Ship & Cancel an order of [Bundle or configurable product]"
## Steps to reproduce
1. Install Magento 2.0.7
2. Add bundle Product to the cart [Quantity = 2].

**\- Grouped Product :**

Pack
SKU: Pack-WSH12-32-Red-MH04-XL-
Yellow

**\- Items of the bundle product:**

**2 x** Erika Running Short-32-Red   + MAD0.00

**1 x** Frankie Sweatshirt-XL-Yellow   + MAD0.00

**Place the order :**
2 Qty of Bundle product
- 4 x Erika Running Short-32-Red
- 2 x Frankie Swe

[2016-06-22 12:44] vzabaznov commented on #2434
Hi @mc388 you just need to chose all configurable option in configurable product.
If you still have such problems please provide description according to the template, provide the used version, and create new bug.
Closed as not a bug.

[2016-06-22 12:44] #2434 closed, assigned to kandy

[2016-06-22 12:45] vzabaznov commented on #2433
Hi @flancer64 bug was closed and delivered, please check it out.

[2016-06-22 12:45] #2433 closed, assigned to nobody

[2016-06-22 12:47] vzabaznov commented on #2397
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:48] vzabaznov commented on #2373
To allow us research the issue, please, provide description according to the template.

[2016-06-22 12:48] vzabaznov commented on #2368
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:49] #2365 closed

[2016-06-22 12:50] vzabaznov commented on #2352
To allow us research the issue, please, provide description according to the template.

[2016-06-22 12:50] vzabaznov commented on #2350
To allow us research the issue, please, provide description according to the template.

[2016-06-22 12:50] vzabaznov commented on #2331
To allow us research the issue, please, provide description according to the template.

[2016-06-22 12:52] vzabaznov commented on #2330
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:55] vzabaznov commented on #2277
Hi @matthewwiggins thank you for contributing, please confirm is this this bug is reproducible on current mainline?

[2016-06-22 12:56] vzabaznov commented on #2268
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:56] vzabaznov commented on #2392
To allow us research the issue, please, provide description according to the template.

[2016-06-22 12:57] vzabaznov commented on #2266
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:58] vzabaznov commented on #2260
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 12:58] TommyKolkman commented on #2434
Hi @vzabaznov,

I'm not sure this answers all the questions expressed in this thread. Is 2.0.7 now able to add configurable products to the cart directly instead of redirecting to the single page first? Without me having to write a plugin for it?

I cannot find the setting you're describing. Maybe this is different for @matiasnombarasco and @tigerx7?

[2016-06-22 12:59] oserediuk commented on #5046
Hello! Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 13:05] vzabaznov commented on #2234
Hi @jksimoniii issue was fixed and delivered

[2016-06-22 13:05] #2234 closed

[2016-06-22 13:05] vzabaznov commented on #2202
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 13:06] vzabaznov commented on #2202
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 13:09] vzabaznov commented on #2378
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 13:09] palamar commented on #5132
Please, provide the used version.
If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 13:09] oserediuk commented on #4946
Hello! Hello! To allow us research the issue, please, provide description according to the template.

[2016-06-22 13:10] vzabaznov commented on #2392
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 13:11] duhon commented on #4837
To allow us research the issue, please, provide description according to the template.

[2016-06-22 13:11] vzabaznov commented on #2455
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 13:13] oserediuk commented on #4976
Hello! Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 13:15] oserediuk commented on #4896
Hello! Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 13:16] #2617 closed, assigned to yaronish

[2016-06-22 13:17] vzabaznov commented on #2600
Hi @devdesco-ceo , please try out fresh version, if you still have such problems please provide description according to the template, provide the used version, and create new bug.

[2016-06-22 13:19] vzabaznov commented on #2599
Hi @zenovix , please try fresh version,  if you still have such problems please provide description according to the template, provide the used version, and create new bug.

[2016-06-22 13:23] oserediuk commented on #4866
Hello! Please, use issue template to report the issue. Look here https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2016-06-22 13:29] vzabaznov commented on #2544
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 13:36] mcspronko commented on #4389
Hi @oserediuk

Do you have any update for timeframe of the MAGETWO-54008 issue?

Thanks

[2016-06-22 13:47] JananiKrishnan commented on #5137
We used Community version 2.0.2 and also we faced issue in Enterprise edition version 2.0.4.. We have checked in latest version also.

[2016-06-22 14:02] vzabaznov commented on #2638
Hi @josephmcdermott , issue was closed and delivered, please check the fresh magento version

[2016-06-22 14:02] #2638 closed, assigned to nobody

[2016-06-22 14:02] duhon commented on #4717
Please clarify you are using version 2.0.7 or latest version from branch develop?

[2016-06-22 14:04] vzabaznov commented on #2831
Close as not updated more than 14 days

[2016-06-22 14:04] #2831 closed, assigned to slavvka

[2016-06-22 14:05] vzabaznov commented on #2810
Hi @martijnhovinga issue was closed and delivered, please check latest magento version, thanks for contributing

[2016-06-22 14:05] #2810 closed, assigned to kandy

[2016-06-22 14:06] vzabaznov commented on #4111
Hi @devhn  issue was closed and delivered, please check latest magento version, thanks for contributing

[2016-06-22 14:06] #4111 closed, assigned to elenleonova

[2016-06-22 14:07] vzabaznov commented on #2809
Hi @chrissm79 fix was delivered, thank you for contributing

[2016-06-22 14:07] #2809 closed, assigned to yaronish

[2016-06-22 14:08] vzabaznov commented on #2804
Hi @SteveBench
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.
And try to check folder permission to var in magento root

[2016-06-22 14:09] vzabaznov commented on #2774
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 14:09] vzabaznov commented on #2755
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 14:10] vzabaznov commented on #2752
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 14:12] vzabaznov commented on #2739
Please try to check fresh magento version.
If the problem still actual, please, specify it and create new bug.

[2016-06-22 14:13] vzabaznov commented on #2733
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 14:14] vzabaznov commented on #2729
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 14:15] vzabaznov commented on #2726
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 14:15] vzabaznov commented on #2698
To allow us research the issue, please, provide description according to the template.

[2016-06-22 14:16] vzabaznov commented on #2688
To allow us research the issue, please, provide description according to the template.

[2016-06-22 14:17] vzabaznov commented on #2666
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 14:18] duhon commented on #4517
To allow us to research the issue, please, provide description according to the template.
Also please, provide the used version of Magento and MySQL. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 14:19] rbutler514 commented on #4474
We just had this exact issue on Magento 2.07 using Braintree as our payment provider. Same steps to replicate the issue and since it was for a registered user, we had to manually remove the quote in the DB in order to allow them to create a new cart for checkout.

[2016-06-22 14:20] duhon commented on #4487
To allow us to research the issue, please, provide description according to the template.

[2016-06-22 14:25] duhon commented on #4477
Hello @tinxit

To allow us to research the issue, please, provide description according to the template.
Also please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 14:25] duongquyet commented on #5153
Hi,
I use "\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory $productCollectionFactory" for colection and magento 2.0.6.

[2016-06-22 14:27] stamster commented on #5157
Have you tried to run `setup:static-content:deploy` afterwards?
And just in case, run again `setup:upgrade` at the very end of operations.

[2016-06-22 14:45] leoquijano opened #5165 "Magento Catalog typo in class name ("attibute")"
Hi,

I'm doing some design customization in Magento Catalog, and noticed there are 2 typos in CSS class names:

vendor/magento/module-catalog/view/frontend/templates/product/compare/list.phtml

[code]

vendor/magento/module-catalog/view/frontend/templates/product/view/attribute.phtml

[code]

Is there any chance this is fixed to show the "attribute" class instead of that. Introducing typos can lea

[2016-06-22 14:45] oserediuk commented on #4389
Hi @mcspronko ! Nope

[2016-06-22 14:46] leoquijano commented on #5165
If you're afraid of breaking CSS designs (too early for that), you can always use both CSS classes for a while: "attibute attribute".

[2016-06-22 14:46] oserediuk commented on #4826
Hello! Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 14:49] oserediuk commented on #4636
Hello! Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 14:50] oserediuk commented on #4626
Hello! To allow us research the issue, please, provide description according to the template.
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 14:51] JDavidVR opened #5166 "2.0.7 Can't save more than 124 swatches in custom attribute"
## Steps to reproduce
1. Install Magento 2.0.7
2. Go to Backend: Stores > Attributes > Product
3. Create a new attribute:
   code: size,
   name: Size,
   type: Text Swatch,
   scope: Global
4. Add more than 124 Swatches (in my case 125)
5. Save
## Expected result
1. All swatches should be saved
## Actual result
1. It only saves upto 124 swatches, instead all created (in my case it can't save 125)

[2016-06-22 15:05] makeagency commented on #3650
still an issue in rc3. very annoying.

[2016-06-22 15:06] ClaudiuCreanga commented on #3650
still and issue in rc3. very annoying.

[2016-06-22 15:07] duhon commented on #5127
Hello @bhaveshsurani

Please clarify you are using version 2.0.7 or latest version from branch develop?

[2016-06-22 15:11] antboiko commented on #5143
Hi @paales , thanks for reporting. I could easily reproduce this issue. Internal ticket MAGETWO-54648 was created. I mentioned https://github.com/magento/magento2/issues/5142 within it as well.

Best,
Anton.

[2016-06-22 15:12] duhon commented on #5117
Hello @wattanak

To allow us to research the issue, please, provide description according to the template.
Also please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 15:12] antboiko commented on #5142
Hi @paales , internal ticket MAGETWO-54648 was created.

Thanks,
Anton.

[2016-06-22 15:17] iivashchenko commented on #3357
This issue is present in 2.0.2, but I can't reproduce it in 2.0.7. I recommend upgrading to latest stable Magento version.

[2016-06-22 15:32] oserediuk commented on #4346
Hello! We have fixed this issue. Thanks for the report! If you reproduce this issue, please, reopen issue.

[2016-06-22 15:32] #4346 closed, assigned to nobody

[2016-06-22 15:34] oserediuk commented on #4169
Hello! Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 15:36] mhabou commented on #5120
@shintow123
Reinstall it and make sure you followed the installation instructions

[2016-06-22 15:36] Mulderua commented on #3485
Hi @ruby10 , you cannot add comment before shipment record was created .

[2016-06-22 15:36] oserediuk commented on #3876
Hello! Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 15:37] oserediuk commented on #3496
Hello! Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 15:48] oserediuk commented on #3426
Hello! We have fixed this issue. So this ticket can be closed. If you reproduce this case or have questions related to this issue, please, reopen this ticket.

[2016-06-22 15:48] #3426 closed, assigned to nobody

[2016-06-22 15:49] oserediuk commented on #3196
Hello! If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 15:52] oserediuk commented on #2566
Hello! To allow us research the issue, please, provide description according to the template.
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-22 15:55] RG-1 commented on #5051
I agree.

![miscellaneous_scripts](https://cloud.githubusercontent.com/assets/17853402/16273549/574d12cc-38a2-11e6-8fd3-a62abebb6c79.png)

[2016-06-22 15:55] palamar commented on #4832
@grasdaggel could you please, provide additional information:
- Magento version before upgrade
- module that cause problem
- etc.

[2016-06-22 15:56] palamar commented on #4822
@simon-zhu
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 15:58] justindocanto commented on #5051
I'm doing a single store and single URL on my current implementation, meaning im able to hard code the URL in this box, so i dont have the 404 error you're having above

HOWEVER, and repeating my original issue, this shouldnt show up on the backend at all in the first place

Thanks @rg-1 for submitting a screenshot. Didnt have time to get to it

[2016-06-22 16:00] duhon commented on #4947
Hello @ranjith2512

Did you try to apply  the solution which has been proposed by @cranton?

[2016-06-22 16:00] oserediuk commented on #5138
Hello! Please, use this template https://github.com/magento/magento2/wiki/Issue-reporting-guidelines to create issue. Thanks!

[2016-06-22 16:01] #4712 closed, assigned to nobody

[2016-06-22 16:03] palamar commented on #4662
@hiephm
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:03] antboiko commented on #5135
Hi @nmallepally , we cannot reproduce this issue on 2.0.4, 2.0.7 and 2.1-rc3.
Please try to disable third party extensions, do composer update, clear cache and try to reproduce it again.
Notice that the last Magento version is 2.0.7, so you can upgrade your system and check your scenario after that.

Best,
Anton.

[2016-06-22 16:04] palamar commented on #4642
@arthursp could you please provide additional information

[2016-06-22 16:05] mitcht commented on #4822
I am using Magento 2.1.x RC3

[2016-06-22 16:06] salelsol commented on #4822
Hi Simon, used version is: Magento 2.0.7, PHP 5.6 and now multiselect works fine. This issue is coming  afther migrate customers, order, etc from Magento 1.9 to Magento 2.

[2016-06-22 16:06] MomotenkoNatalia commented on #5165
Hi @leoquijano !  Thanks for reporting this issue! Looks like we have already fixed this (joshtmprod  help us with this issue in this PR -  https://github.com/magento/magento2/pull/3520)

[2016-06-22 16:08] arthursp commented on #4642
Hi,
On back office, when you translate date ( on french in my case) , when its submited, an error appear concerning date format.
Get Outlook for iOS

On Wed, Jun 22, 2016 at 6:05 PM +0200, "Mykola Palamar" notifications@github.com wrote:

@arthursp could you please provide additional information

---

You are receiving this because you were mentioned.
Reply to this email directly or view it on Git

[2016-06-22 16:12] komsitr commented on #4946
Hi all,

The issue is fixed in my case. It causes by a rule in mod_security. There is nothing wrong with Magento code.

Basically you need to follow this step.
1. See Apache error log, find which rule id cause the problem.
2. Override that rule in your local .conf file
3. restart/grateful apache

Sidenote to Magento team:
.htaccess file only handle mod_security, but in our server it is now mod_sec

[2016-06-22 16:14] palamar commented on #3882
@adragus-inviqa
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:16] palamar commented on #3752
@Pinimichu
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:18] palamar commented on #3612
@vlikin
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:20] leoquijano commented on #5165
Oh ok! I searched for it but didn't find that PR. Nice :)

[2016-06-22 16:28] palamar commented on #3312
@algostore
We have separate repositories for migration tools:
- https://github.com/magento/data-migration-tool
- https://github.com/magento/code-migration
  please address issues related to migration to one of migration tools

[2016-06-22 16:28] #3312 closed, assigned to nobody

[2016-06-22 16:28] duhon commented on #3537
Hello @wojtekn

To allow us to research the issue, please, provide description according to the template.
Also please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:29] palamar commented on #3192
@ran2345
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:30] duhon commented on #3497
Hello @aniket-rokade

To allow us to research the issue, please, provide description according to the template.
Also please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:34] palamar commented on #3042
@csmarvz
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:35] palamar commented on #2952
@mage2pro
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:35] palamar commented on #2872
@mage2pro
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:36] palamar commented on #2712
@mage2pro
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:37] palamar commented on #2512
@mage2pro
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:41] palamar commented on #3292
@mage2pro
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:41] palamar commented on #3252
@mage2pro
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:42] cozzamara commented on #5152
Not sure if that matters, but this was happening on 2.0.7 CE upgraded using command-line to 2.1.0.RC3 - not on freshly installed RC3.

[2016-06-22 16:43] Vinai commented on #3252
@palamar You might not know, but @mage2pro was banned. He is unable to respond to you.

[2016-06-22 16:45] palamar commented on #4522
@ kandrejevs
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:46] duhon commented on #3337
Hello @atittandon

To allow us to research the issue, please, provide description according to the template.
Also please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:51] duhon commented on #3127
Hello @davefarthing

To allow us to research the issue, please, provide description according to the template.
Also please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:54] duhon commented on #2917
Hello @remkoj-ism

Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:54] #5062 closed, assigned to victor-v-rad

[2016-06-22 16:55] palamar commented on #5062
Please use  https://github.com/magento/data-migration-tool for issues related to data migration

[2016-06-22 16:56] palamar commented on #2818
@tigerx7
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:57] palamar commented on #2728
@mage2pro
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:58] palamar commented on #3138
@mage2pro
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:58] palamar commented on #3098
@mage2pro
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 16:59] aidin3000 commented on #5033
The version that was used was Magento-CE-2.0.7-2016-05-24-12-06-54. It wasn't downloaded from here but rather magento download page.

[2016-06-22 17:00] palamar commented on #2898
@gitpramos
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:03] duhon commented on #2907
Hello @Vinai

Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:05] palamar commented on #3148
@chicgeek
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:08] palamar commented on #3328
@jalogut
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:08] palamar commented on #3318
@mage2pro
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:08] palamar commented on #3308
@mage2pro
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:11] palamar commented on #3488
@bkristl
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:13] palamar commented on #3498
@binamandiri
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:16] palamar commented on #3528
@snowwhite686
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please provide additional steps to reproduce.

[2016-06-22 17:20] palamar commented on #3888
@redelschaap
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:23] palamar commented on #4498
@BenSpace48
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:25] palamar commented on #4468
@kandrejevs
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:26] choukalos commented on #5081
Assigning to Mark to discussion with team.

[2016-06-22 17:28] tomfree commented on #2876
Have the same issue with MAgento 2.0.7 CE that I downloaded from Github this Monday. Also when I select Values Required= Yes it does not work. With Value No it works.

[2016-06-22 17:30] RG-1 commented on #5051
There is 404 error because, I didn't create that file.
I just wanted to show that, any code from "Miscellaneous Scripts" is also added to admin panel.

I hope that this issue is easy to fix.

Best

[2016-06-22 17:30] adragus-inviqa commented on #5059
The jquery storageapi plugin **itself** comes bundled with jquery.cookie `1.3.1`, not `1.1`, as M2 currently has: https://github.com/julien-maurel/jQuery-Storage-API/blob/1.7.3/Jasmine/lib/jquery.cookie.js

So it's like this:
- GitHub
  - jquery.storageapi 1.7.3
    - jquery.cookie 1.3.1
- Magento 2
  - jquery.storageapi 1.7.3
    - jquery.cookie 1.1  <--- breaks because of this

@orlangur

- Yeah

[2016-06-22 17:30] palamar commented on #4458
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-22 17:30] #4458 closed, assigned to nobody

[2016-06-22 17:32] palamar commented on #4438
@kjavitz
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:33] xkerkhof commented on #2876
I think there is enough proof to open this issue again? Can't find how myself.

[2016-06-22 17:44] adragus-inviqa commented on #5059
@minhluan259 - use `mage/cookies` instead:

[code]

It's simple and it does the job: https://github.com/magento/magento2/blob/3561b6614eeafb70cbcbf0dc0254359b857af3d4/lib/web/mage/cookies.js

The question now is _what_ to use. Too many options...

[2016-06-22 17:47] palamar commented on #4838
@AirmanAJK
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:49] palamar commented on #4968
@ktruehl
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-22 17:52] alex-koepke opened #5167 "Configuration Store View collapse on scroll"
## Steps to reproduce
1. Install Magento.
2. Create 10+ store views
3. Click "Default Config"
4. Scroll to reach bottom of list. (after the fold/below bottom of screen.)
5. Default Config dropdown is hidden. (the bug)
## Expected result
1. Page scrolls and you can reach the bottom of the drop down
2. (or) The menu is limited in height and `overflow: scroll;` is added to `.store-switcher .dropdown

[2016-06-22 17:53] sw45859 commented on #4976
it is in magento CE version 2.0.7

[2016-06-22 17:54] palamar commented on #4928
@Asitis could you please, provide additional information about environment:
- browser and it version
- operation system
- list of plugins installed to browser

[2016-06-22 17:58] mcspronko commented on #2917
Hi Andrii ( @duhon ),

This issue exists for all Magento 2.x versions.
Please have a look into \Magento\Config\Model\Config\Backend\Admin\Robots class
       `$this->_directory = $filesystem->getDirectoryWrite(DirectoryList::ROOT);`

Hope it helps to resolve the issue faster since it is a blocker for all production websites.

Thanks

[2016-06-22 17:59] Asitis commented on #4928
As I said before I haven't been able to reproduce the problem. Just checked again the 2.0.7 installation in Chrome51 without plugins on OSX10.11, and no faults to be seen.

[2016-06-22 18:02] JakeOB25 commented on #2892
Hi @arkadiych , this still appears to be an issue with SOAP commands. Can you confirm if the initial example provided in this post "should" be working?

[2016-06-22 18:07] Talisa85 opened #5168 "Static block doesnt work in WYSIWYG Editor on Product Detail Page"
Hi guys,
i just try to implement a cms block in WYSIWYG Editor on product detail page. But there is no button for that. Using the code doesnt work - it show cms but isnt working in frontend.

When i do the same with my tab extension (itoris custom Tab) i have the button and it works well.

![image](https://cloud.githubusercontent.com/assets/19840780/16277580/d3ef1ff8-38b3-11e6-94dd-601a0c2fa3c0.pn

[2016-06-22 18:38] Onkovat commented on #5161
I mentioned the used version in the title only... it's 2.0.7 so I think it should be the most actual official magento 2 version.
If I'm wrong let me know but as far as I see it the classes for submenus does not work with that .php file yet.
In order to be more specific. The template file for the top-navi is in module-theme/view/frontend/templates/html/topmenu.phtml. On line 18 it calls the functio

[2016-06-22 18:39] qozmiq opened #5169 "Data Migration Tool failing on Settings"
## Steps to reproduce
1. Install Magento 2.0.7
2. Install data-migration-tool
3. Setup server 'Source' and 'Destination' in config.xml and place in /vendor/magento/data-migration-tool/etc/ce-to-ce/1.9.1.0/
4. Migrate Setttings using following code:   `php -f bin/magento migrate:settings /home/absolute/path/to/config.xml`
## Expected result
1. Settings migration from old server to new
## Actual res

[2016-06-22 18:59] bentideswell opened #5170 "__ function returns Phrase object. Could this return string?"
The __ function returns a \Magento\Framework\Phrase object that when echo'd, is converted to a string via the __toString method. This breaks several integrations I am working on and also doesn't work properly with json_encode (its saved as an object rather than a string).

Is it possible to have have this method return a string? The majority of time this method is used, it will be echo'd straight

[2016-06-22 19:07] Vinai commented on #2907
This happens in `2.1.0-rc3` and the HEAD of the `develop` branch.

[2016-06-22 19:23] piotrekkaminski commented on #5051
@tkacheva  @justindocanto @RG-1  this is no longer reproducible in 2.1. Note that the section was moved from Configuration to Content->Design.

[2016-06-22 19:23] #5051 closed, assigned to tkacheva

[2016-06-22 19:24] buskamuza commented on #3690
@werdlv , bare minimum does not include "update" folder. "update" folder is required for Setup Wizard application, which allows upgrades via GUI. If you don't need this flow, "update" folder may be skipped. In this case the only cron that should be configured is `bin/magento cron:run`

[2016-06-22 19:27] mrVrAlex opened #5171 "Free Shipping coupon times usage - bug?"
Hello, guys.
You know about functional which can make shopping cart rule with coupon on free shipping only?
I don't understand logic here - https://github.com/magento/magento2/blob/2.1/app/code/Magento/SalesRule/Observer/SalesOrderAfterPlaceObserver.php#L60
Why you check only discount amount in order? Because of coupon on free shipping change only shipping order amount. I think need additional che

[2016-06-22 19:32] bkristl commented on #3488
I think it was version 2.0.2. I can not remember, because i have always
upgraded to the last version when it was available.
On 22 Jun 2016 7:11 p.m., "Mykola Palamar" notifications@github.com wrote:

[2016-06-22 19:33] wojtekn commented on #3537
@duhon I think my description is enough to reproduce it, I even provided possible fix there. Don't be lazy.

[2016-06-22 19:48] whizkid79 commented on #2617
Hi @vzabaznov,
would be nice to know if and when this issue will be fixed.
Thanks,
Peter

[2016-06-22 20:09] commcad commented on #5150
Don't know, could be related https://github.com/magento/magento2/issues/4635

Try clearing the browser cache and try again

[2016-06-22 20:59] southerncomputer commented on #5123
This is fixed in 2.10-rc3 - but you know you should service restart php-fpm and varnish and httpd/nginx and blow your browser cache and magento-cache refresh to get rid of this.

It has to do with the fact that php and php-fpm caches files that are being dynamically generated and race condition - you could refresh your "network" developer tab and see the .js files change file size periodically.

r

[2016-06-22 21:01] southerncomputer commented on #5123
p.s. use php bin/magento deploy:mode:set production rather than static:content:deploy

[2016-06-22 21:10] southerncomputer commented on #4898
If you log sql queries you will randomly (2.10-rc3) see that "The table is full" mysql error on the _temp table being made.

I moved mysql /tmp from /tmp to /var/lib/mysql/tmp to avoid memory starvation but i'm not sure if it fixed it or if the restart of mysqld free'd up ram resources!

The only way to log this error due to the indexer running under cron.php is to enable full sql logging from Qui

[2016-06-22 22:01] adragus-inviqa commented on #3882
It would've been the latest version if you'd asked me on the 23rd of march. :trollface:
Since `magento2/app/code/Magento/Widget/Model/Config/Converter.php` hasn't changed, it's a safe bet to assume the bug's still there.

[2016-06-22 22:03] adragus-inviqa commented on #5170
I don't mind the request, but I'm guessing changing the return value of `__()` would break things.

[2016-06-22 22:52] adragus-inviqa commented on #5032
/cc https://github.com/magento/magento2/pull/874

[2016-06-22 23:42] cgaffney099 opened #5172 "Unable to link existing simple products to configurable products"
I'm using magento 2.0.7 CE I am trying to create a configurable product by CSV using simple products I have already Imported.  This was possible in magento 1.x, but now in version 2.x I can't get it to work.  It creates the products as configurable products, but doesn't include any of the variations.

The configurable products I am trying to create are T-shirts.  They are based on size as the conf

[2016-06-22 23:51] dmcmillin commented on #5150
Cleared and tried again still erroring, even turned off ssl and set everything http only, still erroring.. Downgraded to 2.0.7 and the error cleared up entirely. I am going to run debug once away from office.

[2016-06-23 00:43] Onkovat opened #5173 "[PDOException] SQLSTATE[HY000] [2002] No such file or directory"
I'm using Magento 2.0.7 and I ran into this error that I can't find to resolve.

It happenes when on terminal via SSH I try to run a simple cache flush command. The error message is:

`[Zend_Db_Adapter_Exception]
  SQLSTATE[HY000] [2002] No such file or directory

  [PDOException]
  SQLSTATE[HY000] [2002] No such file or directory

cache:flush [--bootstrap="..."] [types1] ... [typesN]`

When I let

[2016-06-23 04:03] bch80 opened #5174 "After settings migration, admin 404"
## Steps to reproduce
1. Install Magento from webinstaller or git (2.0.7)
2. Migrate settings from 1.6.0.0 store with data-migration-tool
## Expected result
1. Working shop with settings migrated
## Actual result
1. Working frontend, non accessible backend (404)
2. logs and details as following:

Hello,

I installed M 2.0.7 on Apache 2.4, PHP 5.6 (Lubuntu dev machine) (on port 80, nothing special

[2016-06-23 06:03] Taral-Patoliya commented on #1840
@slavvka  I have recently encountered this problem in 2.0.7, the `Customers and Addresses (single file)` Option does not seem to have the sample file. When i try to download the sample file, it gives the same error.

[2016-06-23 06:16] jochhop commented on #5157
Hi @stamster thanks for answering. I tried your suggestion and it didn't work. Of course, if at the end I run `setup:upgrade` command, preference will work, but that is because it removes _etc/di/_ folder content. Anyway, I guess preference should work with controllers after `magento setup:di:compile` because preference for other kind of classes (I tested it with a model, also) works normally. Onl

[2016-06-23 06:29] pantaoran commented on #3496
I had the problem with 2.0.2 back then when I first tried this. Haven't tried it since.

[2016-06-23 06:30] pantaoran commented on #3876
When I opened this issue I was using 2.0.2

[2016-06-23 06:31] ghost commented on #5070
Guys,
I have implemented solutions for REST API for Review/Rating  and REST API for Wishlist but whenever i try to sign CLA  it always return with "licence/cla — Contributor License Agreement is not signed yet".

[ Added Review APi #5079](https://github.com/magento/magento2/pull/5079) and [ Addition of wishlist functionality to api #4877](https://github.com/magento/magento2/pull/4877)

[2016-06-23 06:34] ajay-ipragmatech commented on #5070
#5079
and
#4877

[2016-06-23 06:34] pantaoran commented on #3572
@slavvka you say it will switch mechanism in 2.0.8. Will that also be included in 2.1.0? I see some people above saying that this still happens in 2.1.0-rc1.
Also, when will 2.0.8 come out?

[2016-06-23 06:40] salelsol opened #5175 "SQL Error from console upgrading to M2.1.0-rc3"
[Zend_Db_Statement_Exception]
  SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '4-Images' for key 'EAV_ATTRIBUTE_GROUP_ATTRIBUTE_SET_ID_ATTRIBUTE_GROUP_NAME', query was: U
  PDATE `eav_attribute_group` SET `attribute_group_name` = ? WHERE (`attribute_group_id`=10)

[2016-06-23 06:46] bonsdawende commented on #1157
Hi, How have you resolved this problem ? Please, I have this problem with Magento 2.0.7?

[2016-06-23 06:48] bonsdawende commented on #4325
Hello,
I have this same problem with subscription of newsletter. Please, how have you resolved this issue ? Thanks

[2016-06-23 07:06] quienti commented on #5175
https://github.com/magento/magento2/issues/4627

I have this error too...

[2016-06-23 07:14] hostep commented on #5070
@ajay-ipragmatech: can you read my comment above? In your case, your commits aren't made with an email address associated to your github account, so this is most likely the issue.
I'm not sure what the best way to solve this is, either assign that email address to your github account (it can have multiple ones associated at once). Or recreate your commits using the email address associated to your

[2016-06-23 07:15] bentideswell commented on #5170
I have done some limited testing and I have been unable to find an occurence where the object that __ returns isn't cast into a string. By using grep, I have searched for occurences of the function that are printed straight out and occurences that are assigned to a variable. Of the latter, these are always assigned to a variable with the word 'title' or 'label' in and are always then printed to th

[2016-06-23 07:19] plewandowski opened #5176 "404 Forbidden sounds not right"
## Steps to reproduce
1. Login into admin area
2. Call non existing admin action with ajax.
## Actual result

I get 404 as expected, but why it says forbidden instead not found? In my opinion it may be confusing. Is it a bug or feature?

https://madcoders-monosnap.s3.amazonaws.com/piotr/New_Product__Products__Inventory__Products__Magento_Admin_2016-06-23_08-15-47.png

[2016-06-23 07:25] wert2all commented on #4911
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 07:25] tecjam commented on #4331
I can confirm that this issue still exists in 2.0.7

[2016-06-23 07:29] salelsol commented on #5175
Issue related with migration from Magento 1.9, just go to table eav_attribute_group and remove row "Images" in table attribute_group_name.

[2016-06-23 07:39] Vinai commented on #5170
One exception is the `\Magento\Framework\Exception\LocalizedException`, which takes a `Phrase` as a constructor dependency.
It even exposes Phrase internals like the arguments. The question is if that is really needed functionality. I would also much prefer to be dealing with plain strings, as having the `Phrase` in there just adds another dependency to all tests for code using `__()`.
I find myse

[2016-06-23 07:42] BenSpace48 commented on #4498
I will try to replicate in 2.0.7 and let you know what happens.

[2016-06-23 07:46] wert2all commented on #4711
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 07:53] slavvka commented on #3572
@pantaoran Yes, it is included in 2.1.0. Unfortunately I don't know the date of 2.0.8 release

[2016-06-23 07:54] bentideswell commented on #5170
Thanks for spotting that Vinai, I missed that one.

Would it be possible to modify the LocalizedException so that a plain string is passed in the constructor rather than a Phrase object. The constructor could then use the plain string to instantiate a Phrase object and store it is an protected variable of the class. This gives the LocalizedException class access to the Phrase object while allowing

[2016-06-23 07:55] slavvka commented on #1840
@Taral-Patoliya I do know that this fix is in 2.1.0 release but I am not sure about 2.0.7.

[2016-06-23 07:55] andimov commented on #5153
@duongquyet Thank you for version number. Maybe it's not a bug. Please, provide description according to the template:
Steps to reproduce
..
Expected result
..
Actual result
..

[2016-06-23 08:00] veloraven commented on #5015
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-23 08:11] Vinai commented on #5170
Passing in a string would not give it access to the `Phrase` arguments, so that refactoring would not really be possible without changing the interface of the [`LocalizedException` class](https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Exception/LocalizedException.php).
There are several non-test places in the core where the methods `getParameters()`, `getRawMessage

[2016-06-23 08:22] palamar commented on #5168
@Talisa85
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Also please provide information about your:
- browser and it version
- OS
- list of plugins that installed in browser

[2016-06-23 08:23] palamar commented on #2969
@zamboni084
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-23 08:24] andidhouse opened #5177 "Checkout sidebar not sticking to top at safari/mac browser"
## Steps to reproduce
1. Magento 2.0.7
2. Standard Theme
## Expected result
1. Right sidebar should stick to top when scrolling
## Actual result
1. Right sidebar does not stick to top when scrolling down on Mac/Safari Browser
   ![mac safari](https://cloud.githubusercontent.com/assets/16196483/16296467/b4b193ae-392c-11e6-86bb-0527cf1f0e71.png)
   ![mac firefox](https://cloud.githubusercontent.com/

[2016-06-23 08:34] peec commented on #4960
This seems to be fixed in Magento 2.1-RC3. Closing.

[2016-06-23 08:34] #4960 closed, assigned to nobody

[2016-06-23 08:42] ilol commented on #4441
Hey, @davissuperman. Unfortunately, we have faced with additional efforts to fix this issue and fix will not be released in 2.1

[2016-06-23 08:42] chicgeek commented on #3148
@palamar Beta8, as specified in my original post.

We've upgraded our project many times since I posted this bug five months ago. We patched this locally as it was hindering development and I am no longer in a position to test if it is still an issue.

[2016-06-23 08:46] agoeurysky commented on #5015
@veloraven The problem still appears with the latest version 2.1-rc3.

[2016-06-23 09:05] Taral-Patoliya commented on #1840
@slavvka Thank you for the prompt reply, is there any way i can get the file? i need the reference as soon as possible. If possible it can be attached in the comments bellow.

[2016-06-23 09:07] bhaveshsurani commented on #5127
I have used 2.0.7

[2016-06-23 09:12] bentideswell commented on #5170
Agreed, it would be awesome if it could be implemented as it's currently stopping me porting a few extensions to M2. I will look into alternative ways of doing what I need to do and hopefully the core team can look at this.

[2016-06-23 09:15] andimov commented on #5173
@Onkovat, thank you for reporting! Could you please provide description according to the template to allow us research this issue?

[2016-06-23 09:31] andimov commented on #4703
@SamTay, thank you for reporting. Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-23 09:42] mcspronko commented on #4921
Hi Magento team,

Is the fix going to be included into Magento 2.1 stable release? It is blocking logged in customers to place an order.

cc: @antonkril

Thanks,
Max

[2016-06-23 09:42] andidhouse commented on #5177
a reinstall solved this issue!

[2016-06-23 09:42] #5177 closed, assigned to nobody

[2016-06-23 09:44] Talisa85 commented on #5168
hi palamar,
i use magento version 2.0.7 - and it doesnt work with all browsers. the problem isnt a bug or a specific tag. it is more the editor on the product detail page. i cant put a cms static block into the editor, so that is visible in the front. i cant understand why cause it works when i put it in the custom product tab

[2016-06-23 09:44] andimov commented on #4933
@minhluan259 thank you for reporting!
If you think it is a bug, please follow the template to describe it. It's allow us to research the issue.

[2016-06-23 09:51] andimov commented on #4693
@sjauck, thank you for reporting this issue!
Could you add **Expected** and **Actual** result points according to the template. It's clarify your problem and expectation for us.

[2016-06-23 09:52] binamandiri commented on #3498
@palamar
it was tested on magento 2.02, since i use 1.9.2.4 i dont test it anymore on newest update magento 2.07

[2016-06-23 09:58] andimov commented on #4663
@Taral-Patoliya thank you for reporting this issue.
To allow us research the issue, please, provide description according to the template.

[2016-06-23 10:05] devhn opened #5178 "Stock level is 0 but customers can buy the product. Magento 2.0.7"
## Steps to reproduce
1. Create a configurable product, status is on stock
2. All of the simple product (within the same configurable product) come to a stock level 0, status is still in stock
3. Backorder is disabled
4. Customer comes to the direct URL (via Google)
5. Customer can buy the product, even though stock level is 0
## Expected result
1. Status of the product will change to out of stock

[2016-06-23 10:06] andimov commented on #4503
@sheldonli999 thank you! Could you please remove template data from description and leave here only points according this issue?

[2016-06-23 10:07] ghost commented on #5070
**@hostep:** I have recommitted my changes with the same id but i am still not able to sign the document still having the same issue.Could you please look at this again and suggest me any other way to resolve the issue ?

[2016-06-23 10:08] andimov commented on #3623
@LoneRegister, thank you for reporting.
To allow us research the issue, please, provide description according to the template.
Please, provide the used version also. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-23 10:09] andimov commented on #4803
@SamTay, to allow us research the issue, please, provide the used version and description according to the template.

[2016-06-23 10:12] paales commented on #5146
The problem is that the recursive nature of the method blows up the callstack. It might be better to return `false` and call the iterator again.

[2016-06-23 10:13] wert2all commented on #5111
To allow us research the issue, please, provide more concrete steps for reproduce.

Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 10:13] ericahoekerd opened #5179 "WEBAPI: integration Bearer authentication is not working anymore in 2.07"
Magento 2.07

Integration made, token entered in ERP, integration set to active in Magento, allowed all resources.

I receive always this error for each request:

env:Sender  Consumer is not authorized to access %resources

This was working in previous versions, access token is ok, request is also ok.

C:\wamp\www\magento207\vendor\magento\module-webapi\Controller\Rest.hp

slashing out this line o

[2016-06-23 10:14] RUjmiak commented on #2628
Is it possible to add shipping address to cart without setting shipping method? As it is possible with billing address (POST /V1/carts/mine/billing-address)

[2016-06-23 10:17] andidhouse commented on #5111
hi there,

running 2.0.7 version in production mode.

Steps to reproduce:

Login to magento. Ad a product to cart. logout.
Then buy the product (just have one product in stock) with another account. So the product qty is 0.

Then login to the former account and go to another product and try to put it into cart.

--> Result: You can´t - Just going to the cart page and deleting the product which is

[2016-06-23 10:28] wert2all commented on #5121
To allow us research the issue, please, provide more concrete steps for reproduce.

Looks like your infrastructure issue.

[2016-06-23 10:30] AmrinRajani92 commented on #3150
Hi guys, any update on this issue?

[2016-06-23 10:32] bordeo commented on #5070
@hostep i made the commit via github site for not making mistake.
I had 2 email associated to my account so i delete the secondary but i can't still accept the CLA

[2016-06-23 10:35] andimov commented on #2743
@mage2pro thank you for reporting.
Please fill description according to the template and specify magento version here.

[2016-06-23 10:36] andimov commented on #2493
@mage2pro thank you for reporting.
Please fill description according to the template and specify magento version here.

[2016-06-23 10:37] RUjmiak opened #5180 "REST API - mine cart select shipping address"
## Steps to reproduce
1. create mine cart
2. add product to carts
3. select billing address for mine cart (POST /V1/carts/mine/billing-address)
## Expected result
1. API call for select shipping address the same as Billing Address. There is few api calls which are not working as we expected

GET /V1/carts/mine/shipping-methods
response: "message": "Shipping address not set."

I know that there is

[2016-06-23 10:38] andimov commented on #2883
@mage2pro thank you for reporting.
Please fill description according to the template and specify magento version here.

[2016-06-23 10:40] andimov commented on #4473
@neelimabenapally, thank you for reporting.
Please fill description according to the template and specify full Magento version here.

[2016-06-23 10:46] wert2all commented on #4321
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 10:51] JDavidVR commented on #3805
Hi @srbarba , @nobodypb can you clarify the solution

just for test I edited file: vendor/magento/module-email/Model/AbstractTemplate.php

in constructor I added:

[code]

and in method applyDesignConfig()

[code]

but when I change order status from backend it is giving me an error.

please can you help me, to understand what is wrong with my changes

[2016-06-23 10:54] andimov commented on #3293
@astorm ticket MAGETWO-49175 resolved but still not published.

[2016-06-23 10:59] andimov commented on #3063
@csmarvz  thank you for reporting.
Please fill description according to the template and specify magento version.

[2016-06-23 10:59] andimov commented on #2863
@tinxit  thank you for reporting.
Please fill description according to the template and specify magento version.

[2016-06-23 11:04] hostep commented on #5070
For your information: I'm not a member of the Magento 2 team, so I can't verify anything. Just wanted to share my experience from a couple of months ago :)

@ajay-ipragmatech: I think you'll have to delete your older commits somehow (because they still belong to your PR), or just create a new PR.

[2016-06-23 11:04] mcspronko opened #5181 "Shipping Address is not updated on Checkout Shipping page when no Shipping Method is available"
## Steps to reproduce
1. Navigate to Admin -> Stores -> Configuration -> Sales -> Shipping Method
2. Open any available shipping method tab (Flat Rate or Free Shipping or Table Rates)
3. Set Enabled = Yes
4. Set "Ship to Applicable Countries" = "Specific Countries"
5. Select "United States" country.
6. Save configuration
7. Navigate to Frontend
8. Add any Simple or Configurable product to a shoppi

[2016-06-23 11:09] andimov commented on #5181
@mcspronko
Thank you for reporting this issue.
Please provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 11:11] mhabou opened #5182 "Upgrade from 2.0.7 to 2.1rc3 with command line"
## Steps to reproduce
1. cp composer.json composer.json.bak
2. composer require magento/product-community-edition 2.1.0-rc3 --no-update
3. composer require magento/module-bundle-sample-data:100.1.0-rc3 magento/module-widget-sample-data:100.1.0-rc3 magento/module-theme-sample-data:100.1.0-rc3 magento/module-catalog-sample-data:100.1.0-rc3 magento/module-customer-sample-data:100.1.0-rc3 magento/modu

[2016-06-23 11:15] mcspronko commented on #5181
Hi @andimov ,

Magento 2.x all versions, all branches.

Hope it helps.

[2016-06-23 11:16] ericahoekerd commented on #2863
default Magento deliverse, no custom template

[2016-06-23 11:16] ericahoekerd commented on #2863
version2.01

[2016-06-23 11:18] peec commented on #4449
I encountered this problem as well. Magento 2.1-RC3. Things where not clickable many places, js basically screwed on frontend.

I used http://192.168.1.200/magento2/web as the path to my magento.

Fixed it by adding a alias in the hosts file

[code]

... and then visiting:

http://magento2.dev/magento2/web/

fixed it. No more bindings errors (and probably other things fixed also).

[2016-06-23 11:25] bhaveshsurani opened #5183 "Frontend Product Details - Warning: Magento\Framework\Locale\Format::getPriceFormat(): Cannot load resource element 'default'"
Magento Version: 2.1.0-rc3
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to Product details page from home page or any product listing page
## Expected result
1. It would require to show product details with add to cart options.
## Actual result
1.  Warning: Magento\Framework\Locale\Format::getPriceFormat(): Cannot load resource element 'default' in lib\internal\Magento\Fra

[2016-06-23 11:27] wert2all commented on #4740
Please, provide the version of Magento which you update from.

[2016-06-23 11:29] wert2all commented on #4725
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 11:29] Krapulat commented on #4321
@wert2all At least with 2.0.7. When "Merge CSS" is activated, the system become very slow.

[2016-06-23 11:36] andimov commented on #5174
@Chris8080
Thank you for reporting!
Please change description according to the template. It helps us clarify and research the issue.

[2016-06-23 11:36] oserediuk commented on #4875
Good news! Thank for the report!

[2016-06-23 11:36] #4875 closed, assigned to nobody

[2016-06-23 11:37] NadiyaS commented on #3140
The Issue is closed as not reproducible.
If you still have encountered this bug feel free to reopen it and provide all necessary details to reproduce it (Magento version, steps to reproduce, also all external extensions should be disabled, etc.)

[2016-06-23 11:37] #3140 closed, assigned to NadiyaS

[2016-06-23 11:37] andimov commented on #5172
@cgaffney099
Thank you for reporting!
Please change description according to the template. It helps us clarify and research the issue.

[2016-06-23 11:39] andimov commented on #5179
@tinxit
Thank you for reporting!
To allow us research the issue, please, provide description according to the template.

[2016-06-23 11:39] NadiyaS commented on #3393
The Issue is closed as not reproducible.
If you still have encountered this bug feel free to reopen it and provide all necessary details to reproduce it (Magento version, steps to reproduce, also all external extensions should be disabled)

[2016-06-23 11:39] #3393 closed, assigned to NadiyaS

[2016-06-23 11:39] wert2all commented on #4719
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 11:43] mcspronko opened #5184 "Exception thrown where no Product Image file found"
## Steps to reproduce
1. Remove image file for a product (pub/media/catalog/product directory)
2. Navigate to Admin to edit product
3. Then navigate to Category page/Product page
4. Observe the results
## Expected result
1. User is able to edit a product
2. User is able to see the product without image with default image placeholder
3. User is able to see products assigned to a category
## Actual

[2016-06-23 11:44] dooblem commented on #5131
@oserediuk We are also experiencing this issue. The 2.1-RC3 is not working under Xenial with php 7.0.4. This is definitely a bug for us.

Error message:
    Magento supports PHP 5.6, 7.0.2, and 7.0.6 or later. Please read Magento System Requirements.

[2016-06-23 11:56] wert2all commented on #5120
To allow us research the issue, please, provide description according to the template.

Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 11:59] veloraven commented on #5155
@davidverholen , please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please also provide description according to the template.

[2016-06-23 12:01] seansan commented on #642
@ontic : is your M1 code available somewhere to share? Would be interested

[2016-06-23 12:02] peec commented on #4962
Hm, I managed to get this working in Magento 2.1-RC3.

Either it's becaused i switched from `192.168.1.100` as my base url in magento2 to `magento2.dev` . ( With alias in hosts file, seems like some security issues in browsers? ) .

Or just because of upgrading to RC3.

[2016-06-23 12:07] veloraven commented on #5175
@salelsol if this issue is specific to migration process, please, create a ticket in corresponding repository: https://github.com/magento/data-migration-tool/issues

[2016-06-23 12:16] wert2all commented on #4784
As I understand Your issue was fixed into
#https://github.com/meanbee/docker-magento2/pull/25

is it correct?

[2016-06-23 12:23] #5165 closed, assigned to MomotenkoNatalia

[2016-06-23 12:23] andimov commented on #2863
@tinxit, thank you for response!
Here you can see template for bugs https://github.com/magento/magento2/issues/new
Description must contains **Steps to reproduce**, **Expexted** and **Actual** result.

[2016-06-23 12:23] davidverholen commented on #5155
it's from the develop branch, so pretty much up to date I think

[2016-06-23 12:35] ghost commented on #3127
I was able to resolve the issue I was having. I set the locale to English (Canada) when installing. After switching to production mode I had to deploy both en_CA and en_US static content to have everything display correctly.

I used the following command if anyone else has the same issue:

bin/magento setup:static-content:deploy en_US en_CA

[2016-06-23 12:36] wert2all commented on #4810
@BenSpace48 can You reproduce a bug on current develop branch now?

[2016-06-23 12:44] wert2all commented on #4789
To allow us research the issue, please, provide description according to the template.

Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 12:44] BenGlassAtlas commented on #4810
Is develop the same as 2.0.7? I have had to set up a new environment and it's installed via composer so I'm not sure how to sync it with develop. But it is 2.0.7.

[2016-06-23 12:44] BenGlassAtlas commented on #4810
@wert2all ^^

[2016-06-23 12:46] BenGlassAtlas commented on #3293
@andimov Do you know when this will be released? It's a pretty annoying bug to work around.

[2016-06-23 12:49] wert2all commented on #4810
ok, is a bug still actual?

[2016-06-23 12:50] Onkovat commented on #5173
andimov, I'm really not sure what to write into the template:

## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...

## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

I can't install from development branch since I do not know how to do it. I installed the newest 2.0.7 version of magento though. The shop is on

[2016-06-23 12:53] valibus opened #5185 "No visual feedback when missing field in customer detail in back office"
## Steps to reproduce
1. Do the next steps on magento 2.0.7 version
2. edit a customer in back office
3. leave blanck a mandatory field in account information tab (for example)
4. go to an other tab, edit some information (for example in addresses tab)
5. click on save
## Expected result
1. Display a visual feedback on the tab summary on the left to tell user that something is wrong in an other ta

[2016-06-23 12:58] Onkovat commented on #5173
Andrii Kasian
kandy
https://github.com/kandy
I'm not sure how to reference you but I will try since github seems to not have a personal message system.

I noticed in the other thread that you suggested as the solution to move the shop to a maindomain and that it might have to do with cookies and such. I don't have a clue how this could be related but I can not move my shop to a main domain. So can

[2016-06-23 13:02] Asitis commented on #4956
Nice to see a module for it, but functionality like this seems better in the core I think. Though I saw that there were "extended CMS options" planned for the 2.3 release. Maybe something like this is in there

[2016-06-23 13:16] ezequielalba commented on #5025
For cart rule i can't put that condition you have at first, i got this:

![1](https://cloud.githubusercontent.com/assets/14914190/16304384/8a24d75a-392b-11e6-8371-423e11acfbc5.jpg)
![2](https://cloud.githubusercontent.com/assets/14914190/16304383/8a24a154-392b-11e6-941f-45fd51acf30c.jpg)

either way it doesn't seems to work.

[2016-06-23 13:26] zamboni084 commented on #2969
Sorry I am no longer using magento 2

[2016-06-23 13:34] bch80 commented on #5174
I added the template - maybe not very useful in this case since I've got a lot of details and probably it's just one small thing that prevents my installation (backend) from working fine.

[2016-06-23 13:35] peec commented on #5123
Fixed in rc3 confirmed.

[2016-06-23 13:35] #5123 closed, assigned to rgoncharuk

[2016-06-23 13:36] oserediuk commented on #5131
Hello! Please, read this release note for 2.1-RC3 http://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.1_RC3CE.html.You can use just 7.0.2, and 7.0.6

[2016-06-23 13:42] boldhedgehog commented on #5131
@oserediuk yes, it also says

So this still does not answer my question: Why PHP 7.0.4 is not supported by Magento 2.1? Is there a technical reason for this?

[2016-06-23 13:43] pw818 commented on #4555
Thanks @BenSpace48 for sharing the solution.

[2016-06-23 13:44] stamster commented on #5176
Somewhere in a codebase, Magento sets HTTP header code to 404, but message is 'Forbidden'. If you omit string description - HTTP code, and return only numeric, your browser will handle the message, in this case 404 would became Not found as expected.

i.e.
`header("HTTP/1.1 404 Forbidden");`

[2016-06-23 14:09] valibus commented on #2270
Same error on magento 2.0.7 when trying to save too many value for the same list box attribute
![image](https://cloud.githubusercontent.com/assets/6961470/16306074/c4b7fc72-395c-11e6-9be3-536051968106.png)

[2016-06-23 14:09] shijiang opened #5186 "checked out with terms and conditions using Paypal Payments Pro"
## Steps to reproduce
1. Install Magento using composer to get from repo.magento, CE version 2.0.7.
2. Enable the Paypal Payments Pro (I tested with Authorize.net too).
3. Enable the terms and conditions when checkout
4. Create the terms and conditions
5. Check out with the terms and conditions
## Expected result
1. Place the order.
## Actual result
1. Can't proceed to finish the order.
2. Api Rep

[2016-06-23 14:12] wert2all commented on #5186
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 14:15] wert2all commented on #5109
To allow us research the issue, please, provide concrete steps for re-producing this bug.

[2016-06-23 14:18] awwm commented on #5109
sorry i forgot to close the issue i have fixed

[2016-06-23 14:18] #5109 closed, assigned to wert2all

[2016-06-23 14:22] wert2all commented on #4959
Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 14:22] veloraven commented on #5180
@RUjmiak , please provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please specify API calls "which are not working as we expected", expected and actual results for them, so that we can check the problem and fix it.
If you only need an answer to your question, please refer to the Community Forums or Magento Stack

[2016-06-23 14:23] wert2all commented on #5069
To allow us research the issue, please, provide description according to the template and provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-23 14:25] wert2all commented on #4995
@Talisa85 to allow us research the issue, please, provide concrete steps for reproducing a bug.

[2016-06-23 14:28] wert2all commented on #4865
@gamort is this issue still actual?

[2016-06-23 14:30] duhon commented on #5133
Hi @develpr , thanks for reporting this issue. Internal ticket MAGETWO-54704

[2016-06-23 14:31] paales opened #5187 "ui_component not honoring module.xml <sequence> when adding a new attribute to a category."
Version: 2.1.0-rc3

I want to add a new field to a category, but the module.xml <sequence> loading order doesn't seem to be honored. This causes problem with the fieldset ordering.
### Steps to reproduce

Created a module with:

[code]

Verified that the file is loaded by adding `Ho_Import` module as a dependency, causing an error.

Created a file with path: `Ho/Import/view/adminhtml/ui_component/

[2016-06-23 14:31] shijiang commented on #5186
The version is CE 2.0.7.

[2016-06-23 14:33] mcspronko commented on #5184
Hi @duhon,

This is definitely a bug. Why would Magento stop processing whole category page if only one product has no image file?

Thanks,
Max

[2016-06-23 14:41] andimov commented on #5181
@mcspronko, thanks!

[2016-06-23 14:41] shijiang commented on #5186
I can get around with it by checking if **getExtensionAttributes()** is null in the function **beforeSavePaymentInformation()** in the **Validation.php** file

[2016-06-23 14:45] veloraven commented on #4825
@ankitambekar08 ,
- please provide description according to the template: with steps, actual result and expected result;
- please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-06-23 14:50] JamesonNetworks opened #5188 "Error generating URN-catalog when blank one exists"
### Preconditions
 Install Magento from `develop` branch.

## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a blank misc.xml file inside of the .idea folder (if using php storm)
3. Run 'bin/magento dev:urn-catalog:generate --ide="phpstorm" ./.idea/misc.xml'
## Expected result
1. A new URN catalog for the project should get generated
## Actual result
1. User receives the er