[2018-02-17 16:41] dev1alfa9 opened #13706 "Parent menu not shown when there's only 1 submenu in admin panel"
### Preconditions
1. Magento EE  2.2.1 & Magento EE  2.2.2

### Steps to reproduce

1. Create a module
2. Create a new file menu.xml in folder adminhtml
3. Create new menu like this
`

        <add id="Footballexperience_Base::base"
            title="FExperience"
            module="Footballexperience_Base"
            sortOrder="20"
            resource="Magento_Customer::customer"/>

        <a

[2018-02-17 16:44] #13706 closed, assigned to nobody

[2018-02-17 16:49] rafatga opened #13707 "Parent menu not shown when there's only 1 submenu in admin panel"
### Preconditions
1. Magento EE 2.2.1 & Magento EE 2.2.2

### Steps to reproduce

1. Create a module
2. Create a new file menu.xml in folder adminhtml
3. Create new menu like this
`

     <add id="Footballexperience_Base::base"
            title="FExperience"
            module="Footballexperience_Base"
            sortOrder="20"
            resource="Magento_Customer::customer"/>

        <add id

[2018-02-17 16:56] Ctucker9233 commented on #13094
@shinesoftware 500 error codes have to do with the server and not the Magento installation. There may be memory limits exceeded or timeouts.

[2018-02-17 19:23] edwardlscott opened #13710 "Admin Tool Import Problem under "System" Menu"
I have been trying to produce a useable .csv export file from a client's FileMaker database by modeling my export file to match the Magento Admin Import tool's "Example File".  It appeared I was down to my last error or two.

When I attempted to import my most recent effort, the spinning wheel started like usual then continued for over an hour. The file size was 14kb.  I finally shut the window.

[2018-02-17 20:52] orlangur commented on #13705
Thanks for bug report! However, problems with data migration from `1.x` must be reported in https://github.com/magento/data-migration-tool repository.

[2018-02-17 20:52] #13705 closed, assigned to nobody

[2018-02-17 21:02] orlangur commented on #13704
Hi @alepane21, from method implementation

[code]

it looks like proposed change could be applied safely.

Could you please prepare a pull request containing suggested change and appropriate test?

[2018-02-17 23:03] peteraba opened #13711 "Fix testExecuteAjaxRequestException"
### Preconditions
Unsure. Feel free to ask questions.

PHP: PHP 7.1.14
Magento: Magento CLI version 2.2.2
MySQL: insignificant
Web Server: inignificant

### Steps to reproduce
Run `./vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist --filter testExecuteAjaxRequestException`

### Expected result
No errors.

### Actual result
[code]

[2018-02-17 23:37] nikoelgatito opened #13712 "v2.2.2 - Adminhtml - Locales Other Than en_US - Static Content Not Deployed"
The issue is pretty easy to replicate, as long as you are running Magento version 2.2.2 in production mode and are accessing the backend with a user account with an `Interface Locale` other than `en_US` that wasn't installed. It seems that the backend static file deployment does not generate the backend static files for each user's locale and only generates the en_US version. The backend static fi

[2018-02-18 00:26] jupiter01 commented on #5560
Stores > Configuration > Sales > Checkout > Shopping Cart Sidebar
--
Change Display Shopping Cart Sidebar to No

[2018-02-18 05:49] DarlingTheEmojiPillow opened #13715 "Unable to send email Magento 2.2"
Hi,

I have been having issues with Magento 2.2 when sending emails (Sign-up email or newsletter emails).

I have enabled email communications in STORES > CONFIGURATION > ADVANCED > SYSTEM and entered the host (darlingstore.net) and the port (465). I don't know why this is happening I am using PHP 7.0 and apache on Cpanel, I used softaculous to install Magento 2.2, maybe since i installed it using

[2018-02-18 08:54] webspeaks commented on #9602
Issues exists in magento 2.2.2

[2018-02-18 09:14] webspeaks commented on #4979
It seems @magento-engcom-team is least interested in fixing these errors.
It occurs on Magento 2.2.2 as well. Magento is losing the game because of such errors and negligence of magento team :(

[2018-02-18 10:00] orlangur commented on #13715
Trace: #0 /home/darlpsou/darlingstore.net/vendor/magento/zendframework1/library/Zend/Mail/Transport/Smtp.php(127): Magento\Framework\App\ErrorHandler->handler(8, 'Undefined index...', '/home/darlpsou/...', 127, Array)
#1 /home/darlpsou/darlingstore.net/vendor/dotmailer/dotmailer-magento2-extension/Model/Mail/Transport.php(18): Zend_Mail_Transport_Smtp->__construct(NULL, Array)
#2 /home/darlpsou/da

[2018-02-18 10:00] #13715 closed, assigned to nobody

[2018-02-18 10:09] hostep commented on #13715
@orlangur: dotmailer is part of core Magento 2.2.2 now ;) (even though it's full of bugs and features which don't make sense to be included in such a module, but whatever)

But you can leave it closed, it does indeed sound more like a server misconfiguration, I'd advise @DarlingTheEmojiPillow to first try it out with a simple php script which calls the `mail` function to see if that is working or

[2018-02-18 10:14] msliman commented on #5260
I have a different bug, which is customerId and token are always empty. I print them in  public function execute() in file vendor/magento/module-customer/Controller/Account/CreatePassword.php. more details are here

https://magento.stackexchange.com/questions/212210/your-password-reset-link-has-expired-magento-2
https://magento.stackexchange.com/questions/212340/reset-password-problem-magento-2

K

[2018-02-18 10:18] alepane21 commented on #13704
I'm working on it.

[2018-02-18 12:37] ferret-e commented on #12983
The same, workaround does not help.

[2018-02-18 13:30] psol7 commented on #11280
same issue with 2.2.1 order status in order page is correct, order status in order grid is not updating.
Signifyd fraud protection is same, good in order page , blank in order grid

[2018-02-18 15:08] speedupmate commented on #8977
@magento-engcom-team actually this should be reopened, as focusInvalid is implemented for only shipping address form but it needs to be implemented to all validation errors different elements on checkout page has (billing address ,agreements, etc)

[2018-02-18 15:25] alepane21 commented on #13704
If the pull request pass on develop-2.2 I'm also going to do the backport to 2.1-develop.

[2018-02-18 18:43] Ylmzef commented on #11113
Same here when enable developer mode on storefront

[2018-02-18 19:30] scoops87 opened #13719 "v2.1.6 default checkout page gif loading error on shipping methods"
Hello,

With mageworx shipping suite installed on v2.1.6 out of blue step 1 on checkout page loads, however on shipping method gif icon prevents shipping methods from loading. See errors listed.

![shipping method error](https://user-images.githubusercontent.com/36606854/36355885-149ae882-14e2-11e8-8f9b-e616b0ba9dc9.jpg)

[2018-02-18 19:41] dharake commented on #7492
Hi there,

Found the solution elsewhere.

Changed nginx.conf.sample /setup location block to:

location /setup {
    root $MAGE_ROOT;
    location ~ ^/setup/index.php {

        ### This fixes the problem:
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        ################################

        fastcgi_pass   fastcgi_backend;
        fastcgi_index  index.php;
        fastcgi_param  SCRI

[2018-02-19 03:24] JuanjoR commented on #10821
Same problem on fresh Demo install 2.2.2. @PhiIipp solution with include_path = "." and it works correctly

[2018-02-19 04:47] magewallet commented on #5873
@josephmcdermott
Any update on this issue. I dont believe that no one is reacting on this #5873 and #13149 two tickets. We are really say that its very big issue that stop merchant from using Magento 2.2.2. So please if possible give us some update on the same.

Otherwise how we can convince our client to use Magento 2.

Please help!

[2018-02-19 04:47] magewallet commented on #13149
@josephmcdermott
Any update on this issue. I dont believe that no one is reacting on this #5873 and #13149 two tickets. We are really say that its very big issue that stop merchant from using Magento 2.2.2. So please if possible give us some update on the same.

Otherwise how we can convince our client to use Magento 2.

Please help!

[2018-02-19 04:56] sasilinux commented on #12260
Magento_Customer/templates/form/register.phtml
Add the below line after form tag.
<?= $block->getBlockHtml('formkey'); ?>

[2018-02-19 05:52] dipind4u opened #13720 "Only 2 related products are showing in backend ."
### Preconditions

1. Magento 2.2.2
2. PHP  7.0.20
3. MySQL version: 10.1.30-MariaDB

### Steps to reproduce

1. Update products related products using csv and update via magento default import.
2. Flush the cache storage and reindexing .
3. Check the frontend and backend

### Expected result

1. Updated related products should come in the frontend of product page and backend of product edit page

[2018-02-19 05:54] rahuldambare commented on #10573
@wget Yes I already checked this. No customer with website-id = 0 found in my database;

[2018-02-19 06:11] terrybakshi opened #13721 "Paypal Checkout Issue"
**Preconditions**

M 2.2.2

**Step to reproduce**

1. Put Paypal in Live Mode Not Sandbox

2. Add an item to cart

3. Checkout as a guest fill all details on checkout page

4. Select shipping and click next to payment page

5. Select Payment method paypal or stripe

6. First time the paypal express or standard checkout will work

7. After Clearing Cache Paypal express checkout popup screen will lo

[2018-02-19 06:18] xtfer commented on #6426
FWIW, I've just encountered this on 2.2 on a fresh install.

[2018-02-19 06:29] #12924 closed, assigned to nobody

[2018-02-19 06:43] magento-engcom-team commented on #13702
@Achirawi , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-02-19 06:47] Sunil-Nethues commented on #13652
@Ananth747 i have installed the magento2.2.2 using composer. then installed sample data using composer as well. After that i went to admin and changed the product name from Fusion Backpack to Fusion Backpack &trade and then tried to add it in cart. where i saw the issue.

[2018-02-19 07:27] ihor-sviziev commented on #6426
If someone have this issue - please provide actual steps to reproduce on clean magento installation. Otherwise this issue will keep closed

[2018-02-19 07:47] NisaKH opened #13722 "V2.2.2 Importing products via CSV with existing skus has no errors."
### Preconditions
1. Magento V2.2.2 CE

### Steps to reproduce
1. import existing products with behavior "Add/Update"

### Expected result
1. Update data on the existing products

### Actual result
1. System generate a new product with same sku and no error

![screen shot 2018-02-19 at 2 46 41 pm](https://user-images.githubusercontent.com/14014989/36367089-bf0cfbf6-1583-11e8-9b20-909903367d98.png)

[2018-02-19 07:52] NisaKH commented on #13722
I found out that Magento\CatalogImportExport\Model\Import\Product.php use function isSkuExist to check but the "oldSku" does not have "sku" key.

<img width="1034" alt="screen shot 2018-02-19 at 2 50 09 pm" src="https://user-images.githubusercontent.com/14014989/36367228-4b3df35a-1584-11e8-846d-13b5b8c14137.png">

<img width="1005" alt="screen shot 2018-02-19 at 2 47 51 pm" src="https://user-image

[2018-02-19 08:36] magento-engcom-team commented on #13254
@devenkuswa, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-19 08:38] magento-engcom-team commented on #13710
@edwardlscott thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [x] Ste

[2018-02-19 08:50] wget commented on #10573
@rahuldambare This issue can also happen when you have clients saved in store views that do not exist. I realized this issue can happen with data coming from some old outdated Magento 1.x series especially if they have been bruteforced/SQL injected.

If this doesn't help, check your Magento stacktrace/debug info, your PHP fpm logs. As the ultimate debug solution, log your database queries with `ge

[2018-02-19 09:01] magento-engcom-team commented on #13711
@peteraba , thank you for your report. We cannot reproduce this issue on clean 2.2.2 CE version. Please provide about your environment, where you install M2

[2018-02-19 09:12] shinesoftware commented on #5873
Seems to me that this bug is not important for Magento!

[2018-02-19 09:22] magento-engcom-team commented on #13701
@sl02 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.
![script](https://user-images.githubusercontent.com/31669971/36370266-60551b84-1556-11e8-9a02-7e5fa6be3d2e.png)

[2018-02-19 09:25] magento-engcom-team commented on #13634
It's really a pretty strange behavior @andrew21111. When You tested the issue on a clear instance, please confirm that it was a really clean and fresh instance meaning You'd just downloaded and installed it from official magento site, created a totally empty database for it and thus started to test.

[2018-02-19 09:30] magento-engcom-team commented on #13601
@AF4Q, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-02-19 09:36] magento-engcom-team commented on #13697
@hpsjhabd thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide us more details about how you are using "cpannel".

[2018-02-19 10:01] magento-engcom-team commented on #13722
@NisaKH thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-02-19 10:01] terrybakshi commented on #9497
Same issue in Magento 2.2.2

[2018-02-19 10:12] jgodart commented on #6167
@devenkuswa I'm also in the same situation( M2-2.1.7) as you at a difference, users put at least 10 minutes before registering their configurable product.
This is a serious problem when users need to enter a new product catalog.
The problem does not seem solved.

Corrections or solutions available?

[2018-02-19 10:17] devenkuswa commented on #6167
@jgodart I am still looking for feasible solution. I have generated a ticket regarding this and report to Magento.
https://github.com/magento/magento2/issues/13254#issuecomment-359410647

[2018-02-19 10:26] jgodart commented on #6167
@devenkuswa  Great thanks for your response.

[2018-02-19 10:37] scoops87 commented on #13719
Hello,

It occurs simply when adding a product to cart and then heading to the checkout page. Whether by heading to checkout page from minicart or direct url such as /checkout it occurs.

tested on PHP version 5.6  but also 7.0

[2018-02-19 10:40] scoops87 commented on #13719
I am running a theme but the site has not been updated at all and it has occurred randomly.

I believe we updated php to php 7  first when this issue was identified,  but upon switching back to previously known working version of php 5.6 issue still remains.

We have checked with out hosting server company who confirm issue is not on their end.

[2018-02-19 10:54] piszczek commented on #11639
Is there any progress on that?

[2018-02-19 11:35] magento-engcom-team commented on #13572
@Rinakl , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-02-19 11:41] ankursachdeva11 opened #13723 "Images are getting duplicated via Rest API."
### Preconditions

1. All Magento Version
2. Instance with 2 website

### Steps to reproduce

1. Call Magento 2 Rest API: [storeview1]/V1/products/[SKU]/media with image payload
2. Call Magento 2 Rest API: [storeview2]/V1/products/[SKU]/media with same image payload

### Expected result

1. The image should be imported one time.

### Actual result

1. Two images got imported in Product and showing

[2018-02-19 11:52] magento-engcom-team commented on #13673
thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source only. There

[2018-02-19 11:59] densen45 commented on #9274
We experiencing the same issue in M 2.2.2 and it is really annoying!

We have Bundles with around 10 options and some of these options carrying about 100 products.

Additionally, deleting one of the options (just clicking on the garbage can) of such Bundles freezes the browser's tab as well and took up to 10 minutes. The CPU and RAM usage is very high. We have profiled this delete operation with C

[2018-02-19 12:04] magento-engcom-team commented on #13673
@ismlyldz please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.
We are closing this ticket. If you'd like to update it, please reopen the issue.

[2018-02-19 12:04] #13673 closed, assigned to nobody

[2018-02-19 12:16] magento-engcom-team commented on #13690
@alexber88, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-19 12:19] routbiplab commented on #6261
I am facing the same issue in Magento 2.1.7 and 2.1.9

[2018-02-19 12:29] routbiplab commented on #6261
I am facing the same issue in Magento 2.1.7 and 2.1.9.
Also I could see in www/vendor/magento/module-customer/view/base/ui_component/customer_form.xml

<field name="region_id" component="Magento_Ui/js/form/element/region" formElement="select">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="source" xsi:type="

[2018-02-19 12:30] magento-engcom-team commented on #13652
@Sunil-Nethues, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-19 12:50] magento-engcom-team commented on #13712
Hello @nikoelgatito> Thanks for reporting. Currently we are not able to reproduce Your issue. Seems we have missed some details. Tell us please this: before You started to create a backend user had You previously installed the whole package of that other locale or You had just chosen any locale other than en_US while creating the user?

[2018-02-19 13:01] davidverholen commented on #13210
found this behavior in 2 more places: (since for some reason empty("0") evaluates to true in php):

When adding a product to cart with a "0" configuration chosen:
https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/ConfigurableProduct/Model/Product/Type/Configurable.php#L857

When having a product in cart with a "0" configuration chosen
https://github.com/magento/magento2/blob/2.

[2018-02-19 13:02] ankursachdeva11 opened #13724 "Unable to update Image types"
### Preconditions

1. Magento all versions
2.

### Steps to reproduce

1. Using Magento\Catalog\Model\Product\Gallery\Processor Class, updateImage function to update image types.
2. Previous data : {
        "id": 224,
        "media_type": "image",
        "label": null,
        "position": null,
        "disabled": null,
        "types": [],
        "file": "/i/m/image_new.jpg"
    }
3. New data

[2018-02-19 13:05] pramodhanu opened #13725 "Uncaught TypeError: Cannot read property 'updateItemQtyUrl' of undefined"
Preconditions :
Magento version - 2.1.3
PHP - 5.6

Steps to reproduce :
i have getting error.when i have uploaded one module in my magento 2 store.but i have remove my module and use new theme - Fastest -Ellyana theme .i have changes theme but not solve this error
- Uncaught TypeError: Cannot read property 'updateItemQtyUrl' of undefined

### Expected result

1. Show mini cart on home page right s

[2018-02-19 13:15] andrii-dymov opened #13726 "Product admin form field "Categories" is cached for all stores"
### Preconditions
Magento 2.2.2

### Steps to reproduce
1. Create multiple stores with different root categories
2. Add user role with access to one of the stores
3. Login and try to add new product. Check available options in Content->Categories
4. Re login as super admin and try to add new product. Check available options in Content->Categories

### Expected result
Super admin can see all availa

[2018-02-19 13:21] magento-engcom-team commented on #13684
@vshijiav, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-19 13:29] muckee opened #13728 "Cannot set area code in custom command, using objectmanager and rule/condition interfaces"
### Preconditions
1. Magento 2.2.2 Open Source
2. Debian 8.10 (Jessie)
3. PHP 7.1, MySQL 5.7, Apache 2.4

### Steps to reproduce

1. Fresh install of Magento 2.2.2 via composer in server root.
2. Upload custom module, containing the following file:

[code]
3.Enable module.
4. Execute `magento module:status` statement.

### Expected result
1. Modules listed successfully.

### Actual result
1. Error

[2018-02-19 13:37] orlangur commented on #13715
@hostep, oh, thanks for pointing that out, I'll need to check full list of builtin extensions. Was aware only of social and shipping ones yet.

[2018-02-19 13:42] ju5t opened #13730 "Remove Magento Social from the installation by default"
### Preconditions
1. Docker
2. Magento 2.2.1

### Steps to reproduce
1. Recreate the Docker container

### Expected result
1. We expect the application to run as it did before.

### Actual result
1. One or more integrations have been reset because of a change to their xml configs.

We run Magento2 entirely from containers. Our platform is based on Docker (Swarm). Every time a container is recreate

[2018-02-19 13:53] sl02 commented on #13701
Hello Magento Team,
Have a look at this screen capture video that I made:

https://screencast-o-matic.com/watch/cFnqIKoNBw

Again, this is a fresh Magento 2.2.2 installation.
As you can see, I can save a simple "Hello World" script, but when trying to save the Zopim script, I get a 404 error. The Zopim script must be fine because it is currently in use on a Magento 1.9.

Something about the Zopim

[2018-02-19 13:59] magento-engcom-team commented on #13693
@IgorSIT thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-02-19 14:13] magento-engcom-team commented on #13726
@awarche , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source o

[2018-02-19 14:13] #13726 closed, assigned to nobody

[2018-02-19 14:17] dyron commented on #13582
You can use this mixin
[code]

[2018-02-19 14:20] orlangur commented on #10470
Closing due to inactivity, feel free to share additional details anytime later and this issue can be reevaluated.

[2018-02-19 14:20] #10470 closed, assigned to IvanMir014

[2018-02-19 14:30] magento-engcom-team commented on #13726
@awarche, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-19 14:37] magento-engcom-team commented on #13720
Hello @dipind4u. Thanks for reporting. Probably we've missed something but currently we are not able to reproduce Your issue. Here is what we did in order to get it reproduced.
We had 16 products called S1, S2,...,S16. Then we related to some of them three others to each as follows:
S1 - related S16, S15, S14
S2 - related S15, S14, S13
S5 - related S12, S11, S10.
Then exported these products to CS

[2018-02-19 15:02] magento-engcom-team commented on #13719
@scoops87 , thanks for you update. Can you confirm for this issue is reproduced on fresh installation without any extensions and custom modules?

[2018-02-19 15:43] maciekp2 commented on #7465
Any update on this issue? It's still not fixed in 2.2.x...

[2018-02-19 15:51] robmacecs commented on #9505
Any information on where this fix was applied? Currently on M2.1.10 and have the exact same issue.

[2018-02-19 15:52] IgorSIT commented on #13693
I go to Admin Magento 2 to Stores -> Configuration -> General -> New Relic Reporting.
Field "Enable New Relic Integration" setting to "Yes".
Clicking button "Save Config".
Saving is complete and display message "You saved the configuration."

I go to console and run bin/magento cache:clean command and I have such error:

PHP Fatal error: Uncaught Error: Call to a member function getId() on null in

[2018-02-19 16:15] arthanis commented on #4119
I tried with addig a shim in my theme's requirejs-config.js:

`var config = {
  shim : {
    'mage/dataPost': {
      'deps' : ['jquery']
    }
  },
};`

[2018-02-19 17:03] nikoelgatito commented on #13712
Hi @magento-engcom-team,

Thank you for your quick response.

Actually, the locale that was selected for the admin user is not even installed in the `app/i18n` folder.

From memory, in previous Magento versions 2.1.X the admin user config section was letting the user chose any languages, which is where we had changed it to a different English than en_US. Now since 2.2.X the locale dropdown only al

[2018-02-19 17:23] bruno-serfe commented on #11113
Same issue here

[2018-02-19 17:29] magefast opened #13736 "Bug in Widget condition filter for price range - Error filtering template: Unknown condition operator"
Exist error/bug in conditions filter. Not working conditions for price (or other numeric type) - less than, more than, etc.

As I understand - problem is - when saved type of filter like - '>=', '>', '<=', '<' - converted to HTML entities. [(https://dev.w3.org/html5/html-author/charref)](https://dev.w3.org/html5/html-author/charref)

### Preconditions

1. Magento version - 2.2.2
2. PHP Version 7.0

[2018-02-19 17:58] josephmcdermott commented on #10737
What is the definition of 'fixed' here? With the latest Swatch module from `2.2-develop` we can import a new Swatch Option, however the required Admin value is empty. I do not see anywhere in the `\Magento\Eav\Api\Data\AttributeOptionInterface` to append Swatch information?

For example:
[code]

Results in a half-populated Option:
![incomplete-swatch-option](https://user-images.githubusercontent.c

[2018-02-19 19:20] treii28 commented on #12095
It will not function at all with a pop-up blocker running. When any pop-up blockers are disabled, it tries to open some link at https://fbapp.ezsocialshop.com/facebook/index.php with a notice saying 'log into or create a third party account to enable...' or something to that effect. But then the url never loads anything and times out in the pop-up window.

[2018-02-19 20:15] acampos1916 opened #13737 "Special Price not expiring until the product is re-saved"
### Preconditions
Magento 2.2.1
No Varnish
Algolia Search
Indexing options:

- Generate Schedules Every 360
- Schedule Ahead for 4
- Missed if Not Run Within 2
- History Cleanup Every 3000
- Success History Lifetime 60
- Failure History Lifetime 600
- Use Separate Process Yes

cron:run every minute

### Steps to reproduce
1. Create product
2. Assign Price
3. Assign Special Price and date range
4.

[2018-02-19 20:20] JoshuaFlood commented on #13322
Katiakweb sorry this was my fault, forgot to close the issue. You just have to install magento into your server root, or another private location on your server, then create a symlink from htdocs to magento's pub folder.

I've seen that some people can't set up their server using symlink, so there could still be an issue, but it worked for me.

[2018-02-19 20:20] #13322 closed, assigned to nobody

[2018-02-19 21:02] hostep commented on #13693
Hi @IgorSIT

This should not happen in a default clean Magento installation, since that piece of code is only executed in the `adminhtml` area. Because the event is defined in the [`etc/adminhtml/events.xml` file](https://github.com/magento/magento2/blob/2.1.10/app/code/Magento/NewRelicReporting/etc/adminhtml/events.xml#L11).

But I have a good guess as to why this problem happens in your case. It

[2018-02-19 22:19] sl02 commented on #13701
This issue has been resolved and can be closed.
For reference, the issue was with ModSecurity; seems like the default settings with the hosting company did not like the Zendesk script. If you are having this issue, check with your hosting company.

[2018-02-19 22:24] drake1701 opened #13738 "Order API returns additional_information on payment without array keys."
### Preconditions

1. Magento 2.2.0
2. PHP 7.0.22
3. SOAP API with token admin authentication

### Steps to reproduce

1. I'm using SoapClient from a standalone PHP script to access the API.
2. Client is using ASP through the REST interface, results are the same.

### Expected result

The <additionalInformation> element in the <payment> element should have values identified by tag.
[code]

### Act

[2018-02-20 03:36] xtfer commented on #6426
Clean install of 2.2.2 using the CLI, in production mode.

[2018-02-20 03:45] xtfer commented on #6426
Ignore that commit reference, though, that shouldn't have shown up here and was removed from that repository. Its not the correct solution.

[2018-02-20 05:47] Cl0ne0fG0d opened #13739 "Magento 2.2.1 to 2.2.2"
### Preconditions

1. PHP 7.0.27
2. MariaDB 10.2.13

### Steps to reproduce

1. System -> Web Setup Wizard
2. System Upgrade -> everything check okay
3. start updating and after while Failed

### Expected result

1. no log about issue just show rollback

### Actual result

1. [Screenshot, logs]

[2018-02-20 05:55] Rekha-periasamy commented on #6207
I have tried to apply #13543  and #6207 patch file for fixing the terms and conditions issue in web shop. Still I'm facing issue.

Steps to reproduce:

1. Enable check money order and Paypal

2. In checkout page check the check/money order payment method checkbox and go to Paypal payment method then hit the place order button. The expected behavior should be throw the validation message in Paypal

[2018-02-20 06:01] dipind4u commented on #13720
I will explain the issue with example .
Suppose i have 100 products named s1,s2,s3,s4 ...s100 .
I have to add related products to all of these products .For example ,s1's related products are s2,s3,s4,s5,s6 and s2's related products are s1,s3,s4,s5,s6 .For bulk update i am using default import option .If i am updating the related products using csv ,then only 2 related products will be shown in th

[2018-02-20 07:34] magento-engcom-team commented on #13674
Hello @VincentMarmiesse. Thanks for reporting. Now lets look what happens to the product on the US website for two cases separately.
Case 1: Default Tax Destination Calculation = USA and Shipping Origin = France.
Case 1: Default Tax Destination Calculation = USA and Shipping Origin = USA.

**So Case 1**. The product has a price of 50$ including tax whatever it is. And the tax in France which is th

[2018-02-20 07:42] dowittwer commented on #10518
@bondimedical3 if you are interested in a fix, put this in your css (or in the gallery.less):
.fotorama__stage__frame.fotorama__active {
  position: static;
}

[2018-02-20 07:54] Lasim commented on #11002
Same issue here.
Magento 2.2.2 is killing my server.
100% CPU load -> 8 Cores 2.6

[2018-02-20 08:00] koenner01 commented on #13738
How are you fetching the payment object ? Have you tried using a \Magento\Framework\Webapi\ServiceOutputProcessor to process to object into its data model?

Example:
[code]

[2018-02-20 08:02] koenner01 commented on #13730
Are you sure you aren't using a custom module called Magento_Social because the base code does not contain any module with any reference to this.

[2018-02-20 08:11] hostep commented on #11002
Yes indeed, we are also still seeing this happening in Magento 2.2.2, cronjobs still can end up in the state `running` forever, which then in turn keeps adding new `pending` jobs forever and you end up with > 30.000 jobs in the database, until you manually delete them from the table in the database.

@dmanners: I've noticed you have a [backport open](https://github.com/magento/magento2/pull/12805)

[2018-02-20 08:19] koenner01 commented on #13665
We can confirm this issue (and had also reported it on the support cloud already)

[2018-02-20 08:25] kanduvisla commented on #10992
Could @magento-engcom-team try to reproduce this issue with the new insight of @viperet ?

If so, I think this issue should be reopened and addressed accordingly.

[2018-02-20 09:10] #13701 closed, assigned to nobody

[2018-02-20 09:29] Gloweye opened #13743 "Crash on attempting to add new Integration"
### Preconditions

1. Magento version 2.1.10

### Steps to reproduce

1. I added a new integration to get an API key (System -> Integrations -> Add new Integration)
2. I noticed a spelling error, so I changed the name of the integration
3. At attempting to save the integration, an error occured
4. In an attempt to fix the situation and start anew, I removed the integration (name was not changed)
5

[2018-02-20 09:37] vinit2jain opened #13744 "V2.2.1 Order status stuck to pending and no option to change is visible."
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

I am using Authorize Payment Gateway. The default status is defined as Processing nut still orders I am getting under pending. Also, no data get stored in the table of transactions.
When I get into the order details page, there I am not able to generate invoice or make it'

[2018-02-20 09:47] jrocchiasasdesmelie commented on #12119
Hi @mattcoz  - same problem here. could you help us please ? :smile:

[2018-02-20 10:14] IgorSIT commented on #13693
Hi, @hostep
Ok.
Thanks for answer.

[2018-02-20 10:23] ToonSpinISAAC commented on #5726
@joshdavenport

Not always. If you have a website with different store views in different languages, and the customer tends to use a specific store view with a specific language, then you might prefer to use the language of the store view the customer is logged into.

I've run into this scenario in practice in a Magento 1 application, in which this issue is also present. Customers who browse the s

[2018-02-20 10:28] #13693 closed, assigned to nobody

[2018-02-20 10:37] sadon commented on #10158
Please check what cron is setup correctly

[2018-02-20 10:42] VZeroCool opened #13745 "Something went wrong while saving file When trying to upload image for customer attribute in Matgento 2.2.1"
### Preconditions
Install Magento 2.2.1 form magento.com

1. Magento Ver. 2.2.1
2. PHP 7.0.9 , Apache 2.4.23 (Stable)

### Steps to reproduce

1. Prepare InstallData.php for create customer attribute.
2. Login to admin, Edit existing customer, You can find your attribute there, Tried to upload image for that attribute from admin.
3. While image is uploading error popoup there with "Something went

[2018-02-20 10:51] alexgoodey opened #13746 "Add to Cart Form wrong Form Key in FPC"
When the page initially loads the form*key that is placed on the page is cached between independent requests. This is not an issue if the entire page loads before the "Add to Cart" button is pressed, however if the Add to Cart is clicked before the Javascript has fully initialized (and therefore the form is actually posted via a standard POST HTTP request) then the form*key that is sent in the for

[2018-02-20 11:04] Detzler opened #13747 "Wysiwyg > Image Uploader >Max width/height"
Not able to upload images bigger than 1920px width or 1200px height. There is no way to configure the max size in the backend, except of changing the values programmatically. There are some community entries about it:
https://magento.stackexchange.com/questions/144013/default-uploading-image-size-in-magento-2

### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. Get an image of size of

[2018-02-20 11:11] rkwiecinski opened #13748 "Magento 2.2.2 Can't change a order status."
I can not change the status of orders.
Screen bellow:
![zrzut ekranu z 2018-02-20 12-10-29](https://user-images.githubusercontent.com/36662951/36420991-1c7c2664-1637-11e8-9fb4-990dc80e7847.png)

[2018-02-20 11:15] priti-rathee commented on #7930
Getting this same error on magento2.2.2(latest version in today's date.)

[2018-02-20 11:24] Gloweye commented on #13743
In an unrelated issue, one of my colleagues discarded the complete static cache under /var/ and it's relatives.

This seems to have fixed this issue as a side effect. I'd still consider it a bug, so I'm leaving it up here to process at your discretion.

[2018-02-20 11:28] VincentMarmiesse commented on #13674
Hello @magento-engcom-team,

You described exactly what happens yes, my issue concerns the first case.

Why does the product have a 20% tax if it's shipped to the US? Magento should calculate tax this way IMO (but maybe I'm wrong):

- Product price is $50
- Product price is set to including tax in config
- Product price in front should be $50 no matter the destination, shipping or anything else
-

[2018-02-20 11:38] #12791 closed, assigned to nobody

[2018-02-20 11:39] joshdavenport commented on #13746
We have literally been looking into this today and are experiencing the same issue. Locally where we don't have a full FPC setup we have no issues. However on our dev/staging/live servers with varnish fully set up we see failed add to carts before JS is initialised.

We initially saw it sporadically but having come to the conclusion it was a form key issue not 10 minutes before finding this issue

[2018-02-20 11:40] redelschaap commented on #10158
I don't have a development environment anymore that I can use to test this. Anyone?

[2018-02-20 12:09] sadon commented on #10158
try run manually

[code]
and check results

[2018-02-20 12:15] Chuvisco88 commented on #8927
Instead of creating an attribute set from default it is also possible to create a completely new attribute set. The error is the same when switching the attribute sets on the product create form.

[2018-02-20 12:33] hostep commented on #12791
@magento-engcom-team: why did this get closed, even though the issue still exists in 2.2.2?

[2018-02-20 12:34] Detzler commented on #12084
@okorshenko ?

[2018-02-20 12:56] kassner opened #13749 "Make magento/product-community-edition available on GitHub"
Currently is not possible to see the differences between versions for `magento/product-community-edition` composer virtual package (and enterprise as well). For a custom project, requiring `magento/product-community-edition` directly is not viable because unwanted packages are added by it, so instead we copy the `require` section into our own `composer.json` and remove what we need. But this quite

[2018-02-20 13:36] redelschaap commented on #10158
I know, but I have no environment where I can test the asynchronous indexing.

[2018-02-20 13:50] VincentMarmiesse commented on #13674
After some tests and asking to the french community, setting `CrossBorderTradeEnabled` (`tax/calculation/cross_border_trade_enabled`) to Yes has solved my issue.

Can you confirm it's what I was supposed to do?

[2018-02-20 13:57] 23digitalTest commented on #11885
Hi,

Cool..very informative. Thanks a lot!

Regards,

[2018-02-20 14:05] harshvardhanmalpani commented on #5590
@nathanmerrill  I am sorry if this is too much to ask, but I created a module just to fulfill AND search for a store based on Magento 2.2.2
https://github.com/harshvardhanmalpani/magento2-search-with-AND
Ran the commands, cleared cache, still doesn't work. Can you guide me?

[2018-02-20 14:13] magento-engcom-team commented on #13747
@Detzler, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-20 14:37] kozie commented on #11508
We're experiencing the exact same problem.

Filterable options on which all products are available aren't visible with "Filterable (With Results)". Perhaps this seems logic because it won't actually filter anything but for UX this is pretty bad.

Now it seems that certain products aren't available because the options aren't shown. In our case it's about shoe sizes.

[2018-02-20 14:47] magento-engcom-team commented on #13738
Not a bug according to http://devdocs.magento.com/swagger/#!/salesOrderRepositoryV1/salesOrderRepositoryV1GetGet

![docs](https://user-images.githubusercontent.com/31669971/36430226-508be248-165d-11e8-9bf6-d9582218e1e7.png)

[2018-02-20 14:49] giacmir commented on #7367
I still have this problem in 2.2.2

[2018-02-20 14:49] magento-engcom-team commented on #13738
@drake1701, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-20 14:50] #13738 closed, assigned to nobody

[2018-02-20 15:49] adi3009 opened #13751 "Mutliselect product attribute with source model not in flat table"
On creating a product attribute of type multiselect using `Magento\Catalog\Api\ProductAttributeRepositoryInterface` and setting a custom source model for options, magento does not create an attribute column in flat table after reindex, when flat catalog (products) is enabled. This prevents filtering product collection by the attribute values.

### Preconditions

1. Magento version 2.2.2 (vanilla i

[2018-02-20 17:34] Rinakl commented on #13572
Thank you for your reply.
It works perfect.

[2018-02-20 17:34] #13572 closed, assigned to nobody

[2018-02-20 17:44] bytes-max opened #13753 "String "SKU" in phtml-template gets not translated"
### Preconditions

1. have magento 2.1.11 installed
2. have a customer with at least one order

### Steps to reproduce

1. click on the order in the customers dashboard
2. check the headings
3.

### Expected result

1. as defined in language csvs SKU should be translated to "Artikelnummer" or similiar

### Actual result

1. SKU gets not translated, its still "SKU"

Also, this string can't be trans

[2018-02-20 17:45] Sharlyll opened #13754 "error when changing store name in magento 2 admin"
### Preconditions
1. Magento 2.2 clean install
2. PHP 7 & MySQL

### Steps to reproduce

1. go to magento 2 admin --> store --> all store
2.  attempt to change the default 'Main Website' and 'Main Website Store' to another name

### Expected result

1. name change should be accepted without errors

### Actual result

1. error message is displayed instead.
2. name change is not accepted.
3. error l

[2018-02-20 17:57] ttcoelhoo commented on #12356
Me also, Magento Open Source 2.2.2. But it was working before on 2.1.x

[2018-02-20 18:01] ShapesGraphicStudio commented on #11821
Hello,
Same issue here, has this been fixed ?

[2018-02-20 18:06] statuscue commented on #11170
The same problem.
After update 2.2.1 to 2.2.2
PHP 7.0, MySQL 5.7, Apache 2.4

[2018-02-20 18:25] atolodas commented on #13599
Work for me:
Add to: /vendor/magento/module-translation/etc/di.xml
in line ~ 68
`<item name="translate_args" xsi:type="string"><![CDATA[~translate args\=("|'|"')([^\'].*?)('"|'|")~]]></item>`

Then empty the pub/static/frontend folder and run
and if lang LT
`php bin/magento setup:upgrade;
php bin/magento setup:di:compile;
php bin/magento setup:static-content:deploy lt_LT;
php bin/magento cache:flu

[2018-02-20 19:18] andy17612 opened #13755 "Not working in Chrome & Firefox browser but working in IE & Safari browser"
### Preconditions

1. Magento 2.2.2
2. Php71
3. Cloudflare SSL (https)

### Steps to reproduce

1. When i in GENERAL > Web > Base URL/Secure Base URL changed http://www.domain.com/ to https://www.domain.com/
2. php bin/magento cache:flush / php bin/magento cache:clean
3. Cleared Chrome and Firefox Browser all cookies.
4. Restarted Server Services & Apache Web Server & MySQL Server ALL...

### Expe

[2018-02-20 22:49] barbazul opened #13758 "Please remove styledocco dependency"
Styledocco is long abandoned. Last commit to master branch was on March 30, 2014.

That alone should not be an issue, except that the last version of Styledocco is depending on outdated versions of packages with security reports of high severity.

The specifics:

styledocco depends on marked version 0.2.10

- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-8854
- https://cve.mitre.org/cgi-

[2018-02-20 23:34] willtran commented on #13675
I'm working on this #MLAU18

[2018-02-20 23:39] btwq commented on #13712
Working on this #mlau18

[2018-02-20 23:40] willtran commented on #13639
We are working on it #MLAU18

[2018-02-20 23:40] zolat commented on #13639
We are working on it #MLAU18

[2018-02-20 23:42] zolat commented on #13595
We are working on it #MLAU18 @willtran

[2018-02-20 23:43] willtran commented on #13264
We are working on this #MLAU18

[2018-02-20 23:45] otokoalan commented on #13689
I'm working on it.
#MALU18

[2018-02-20 23:50] r-martins opened #13760 "Remove deprecated Brazilian currencies in the setup process"
### Preconditions
When installing Magento we have to choose a currency for your store.
There are some Brazilian currencies that are deprecated and that does not exist in Brazil for more than a decade and might be disabled/removed/hidden from the list.

### Steps to reproduce
1. Start a new Magento 2.2.4-dev (branch 2.2-develop) setup on /setup
2. Agree to terms on step 1
3. Proceed to the installa

[2018-02-20 23:52] r-martins commented on #13760
#MLAU18

[2018-02-21 00:17] ctadlock commented on #13177
This issue happens when one of the attributes of the products is required.

[2018-02-21 00:20] magento-engcom-team commented on #10565
Hi @gilbertsohal. Thank you for your report.
The issue has been fixed in magento/magento2#13549 by @hostep in 2.1-develop branch
Related commit(s):
 - [magento](https://github.com/magento2/d95e15c3f12edb77c39437f84187844ffa6b0fd8/commit/d95e15c3f12edb77c39437f84187844ffa6b0fd8)

The fix will be available with the upcoming 2.1.13 release.

[2018-02-21 00:20] magento-engcom-team commented on #6207
Hi @bka. Thank you for your report.
The issue has been fixed in magento/magento2#13543 by @hostep in 2.1-develop branch
Related commit(s):
 - [magento](https://github.com/magento2/6ec9e2244f09ed67d14fee675f79aa8e93ef6b72/commit/6ec9e2244f09ed67d14fee675f79aa8e93ef6b72)

The fix will be available with the upcoming 2.1.13 release.

[2018-02-21 00:27] okorshenko commented on #13087
http://devdocs.magento.com/guides/v2.2/contributor-guide/backward-compatible-development/index.html#introduction-of-a-method-to-a-class-or-interface

[2018-02-21 01:07] okorshenko commented on #13429
https://github.com/magento/magento2ce/commit/1d8157e

[2018-02-21 01:10] aoldoni commented on #13429
I was able to reproduce this one in 2.2.2.

I have a small fix for the issue described above for the frontend user. I am however further checking the backend and setup steps to see if they are affected as well.

[2018-02-21 01:13] okorshenko commented on #13429
#MLAU18

[2018-02-21 01:16] aoldoni commented on #13429
In the admin, it doesn't look like a password strength interface indicator exists. In this case, for backend users, the checks for password strength only happen at the server side.

[2018-02-21 01:17] btwq commented on #13712
Not able to replicate.

As a test, as per user's instructions:

- Installed 2.1.11.
- Changed user locale to en_IE
- Upgraded to 2.2.2
- Set to production mode
- pub/static/adminhtml/Magento/backend compiles the required locale folders, in addition to "en_US". In this case, "en_IE" folder exists

[2018-02-21 01:27] #13712 closed, assigned to btwq

[2018-02-21 01:27] nikoelgatito commented on #13712
@btwq Thank you for trying to reproduce this issue.

This store actually never made it to 2.1.11, I should have been more specific. It was on the earlier 2.1.7 before being upgraded to 2.2.2 therefore I can't pinpoint on exactly which version a change affected the static content.

There was no issue on the 2.1.7 version and as soon as we switched to 2.2.2 this issue appeared in production mode.

D

[2018-02-21 01:28] aoldoni commented on #13429
- In the admin, it doesn't look like a password strength interface indicator exists. In this case, for backend users, the checks for password strength only happen at the server side.
- In the setup, it seems that a different validation occurs, based on this code: https://github.com/magento/magento2/blob/2.2-develop/setup/pub/magento/setup/create-admin-account.js#L16 .

I will proceed with submitti

[2018-02-21 01:32] jajaramos commented on #13520
#MLAU18

can't reproduce on Magento 2.2.2

[2018-02-21 01:37] #13520 closed, assigned to jajaramos

[2018-02-21 02:15] magento-engcom-team commented on #5015
Hi @agoeurysky. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1203 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [7c03614c09fe85893e5ab8f4d78bd9bb5880af56](https://github.com/magento-engcom/magento2ce/commit/7c03614c09fe85893e5ab8f4d78bd9bb5880af56)

The fix will be available with the upcoming 2.3.0 release.

[2018-02-21 02:33] btwq commented on #13690
Working on it #MLAU18

[2018-02-21 02:35] btwq commented on #13690
Not able to reproduce on 2.2.2

@alexber88 are you loading your cart on the same HTTP / HTTPS socket as when you checked out? In my case, checkout is on HTTPS and when loading cart on HTTPS, the selecting shipping method and totals are showing correctly.

[2018-02-21 02:40] btwq commented on #1405
Working on this ticket #MLAU18

[2018-02-21 03:20] bondimedical3 commented on #10518
I added the css to my Theme but the image still jumps. Did I do something wrong?
![mobile](https://user-images.githubusercontent.com/10808588/36461582-69c62e84-1712-11e8-9324-0492fba9591b.jpg)

[2018-02-21 03:38] rvinothraj commented on #2933
Hi Guys,
     Just now(21-02-2018) i faced this issue, i planed to follow @PrajapatiChirag , but after the the simple way is there on Magento configuration.

Steps:
[code]
Thanks,
MaaRaa

[2018-02-21 03:51] btwq commented on #1405
Spoke with @maksek the agreed approach likely to be manually declaring in execute() in custom class that extends Command:

`
protected function execute(){
  try{
    $this->state->setAreaCode(\Magento\Framework\App\Area::AREA_FRONTEND);  // See Area class for other available consts
  }catch (\Exception $e){
     // Do nothing
  }
  // .....continue execute...
}
`

[2018-02-21 03:56] btwq commented on #13728
@JoshuaFlood try moving "setAreaCode('admin');' to the execution function block

[2018-02-21 04:03] btwq commented on #13684
I'm working on this #MLAU18

[2018-02-21 04:15] pareshpansuriya commented on #12305
I'm working on this #MLAU18

[2018-02-21 04:17] ravishukla007 opened #13763 "Issue with the price when adding product in cart"
Hello,

I am using magneto 2 and i am facing issue with the price when adding product into cart. The product price is always 0.

`$dataObject = $objectManager->get('\Magento\Framework\DataObjectFactory')->create();

        $config = $objectManager->get('\Magento\Catalog\Model\Product\Media\Config');
        $mediaUrl = $config->getBaseMediaUrl();

        $productRepository = $objectManager->get(

[2018-02-21 04:26] Rekha-periasamy commented on #7372
Kindly let me know the fix for this issue.

[2018-02-21 04:31] jajaramos commented on #13522
Hi @walrus28,

I've checked this on a fresh Magento 2.2.2 installation and it doesn't seem to be a bug, it's the default behaviour for all Yes/No elements. You can observe the same behaviour if you click on the "Enable Product" label in the product edit page and it will toggle the form field value from Yes to No.

Same behaviour on Magento 2.1.8.

#MLAU18

[2018-02-21 04:32] #13522 closed, assigned to jajaramos

[2018-02-21 04:41] Rekha-periasamy commented on #12550
I'm also facing the same issue while trying to create product with same name which is already present. Kindly give me the resolution for this issue

[2018-02-21 04:50] jajaramos commented on #13754
Hi @Sharlyll,

I could not reproduce on Magento 2.2.2 using the steps provided, see screenshot below:
<img width="1130" alt="screen shot 2018-02-21 at 3 49 22 pm" src="https://user-images.githubusercontent.com/14193499/36463552-d1a5b4b4-171e-11e8-876b-3d6eb60612c8.png">

#MLAU18

[2018-02-21 04:52] #13754 closed, assigned to nobody

[2018-02-21 04:58] VZeroCool commented on #13745
Any update or fix in this issue ? It seems to be still present in M2 CE 2.2.1. It has to be fixed in earlier version in M2 as per i read in git issues.

[2018-02-21 05:16] erikhansen commented on #4301
This appears to be related to #12362. I've experienced this issue recently on a Magento 2.2.2 installation.

[2018-02-21 05:17] erikhansen commented on #12362
This appears to be related to #4301. I've experienced this issue recently on a Magento 2.2.2 installation.

[2018-02-21 05:24] btwq commented on #13712
HI @nikoelgatito it might be worthwhile to try on a vanilla install and exclude custom modules that may not be compatible post-upgrade to 2.2.2.

If this is in fact an issue it would be related to 2.2.2. However at this stage I can see setup:static-content:deploy is working properly for both frontend and adminhtml.

[2018-02-21 05:34] erikhansen opened #13765 ""cart" section data gets loaded 3 times on cart page (2.2.2)"
The `customer/section/load` gets called 4 times when loading the cart for the first time. 3 of those times, cart data gets returned. On Magento 2.1, I believe only two calls are made to `customer/section/load`.

### Preconditions
1. Install Magento 2.2.2 with sample data

### Steps to reproduce
1. Add any product to cart
2. Go to cart page `/checkout/cart` with the "Network" panel open in DevTools

[2018-02-21 06:55] magento-engcom-team commented on #13749
@kassner, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-21 07:11] dowittwer commented on #10518
there should be no space between .fotorama__stage__frame and .fotorama__active it has t be like this: fotorama__stage__frame.fotorama__active

[2018-02-21 07:13] magento-engcom-team commented on #13748
@rkwiecinski ,thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2018-02-21 07:28] pradeeprcs opened #13766 "Magento 2 :- Not able to save customer in admin side when street line Number was modified"
### Preconditions

1. M 2.1.7

### Steps to reproduce

1. Login to admin and got to Store->configuration->Customer->Customer Configuration-> Name and
     Address Options
2. Set Number of Lines in a Street Address to 4 and save
3. Go Customer -> All Customer -> edit one of the customer
4.  Add a new address and set all 4 street lines with some values
5. Save the Customer with 4 line street values

[2018-02-21 07:40] bondimedical3 commented on #10518
I tried that and the result was the same.

[2018-02-21 07:52] SahakTadevosyan commented on #10498
I have the same issue in Magento 2.2.2 version in 2 different sites.

[2018-02-21 07:56] dowittwer commented on #10518
you could try `position: static !important;`
if that doesnt help, your fotorama config for the classes is different from mine

[2018-02-21 07:59] PetraSwed commented on #6754
Having this issue on Magento 2.2.0. When running indexer:reindex as soon as the indexer reaches catalogsearch_fulltext products dissapear from frontend. As the indexer progress the products start to appear again - but in our case that takes about 2 hours!

[2018-02-21 07:59] jwilliamson1098 opened #13767 "Cannot create Category with specific ID using REST API"
Using Magento 2 REST API. Trying to produce a category with a specific ID I get the error: " No such entity with %fieldName = %fieldValue\",\"parameters\":{\"fieldName\":\"id\",\"fieldValue\":3}"

I'm using a POST to /rest/V1/categories with the JSON below.

If I drop the "id" then a category is created but with an auto generated ID. The Swagger documentation says "id" is allowed, but optional.

F

[2018-02-21 08:08] hatimeria-artur-jewula commented on #1405
@btwq the problem is if some other command defines area code in constructor you will get exception. so it's better to use

[code]
And you can decide if area code is different than what you want either emulate or exit with message

[2018-02-21 08:29] Chuvisco88 commented on #10146
I am having the same issue but getting 7 failures.
All of them happen in
`dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Dependency/DiRuleTest.php` or `dev/tests/static/framework/tests/unit/testsuite/Magento/TestFramework/Dependency/PhpRuleTest.php`
How to fix this?

[2018-02-21 08:29] janssensjelle opened #13768 "Expired backend password - Attention: Something went wrong"
### Preconditions
1. Clean Magento 2.2 install, either Open Source, Commerce or Commerce + B2B
2. PHP 7.1.11

### Steps to reproduce
1. Create any backend user.
2. Wait/set the password as expired
3. Log in
4. You will get an error popup with Attention: Something went wrong. Also it will show _A technical problem with the server created an error. Try again to continue what you were doing. If the p

[2018-02-21 08:33] JoshuaFlood commented on #13728
Hi btwq,

I already tried that (and numerous other configurations), but none of it made any difference. I have now solved the issue, but I don't know what solved it. Just re-wrote everything and tested again and it worked (I can't stand those unresolved resolutions).

I have since moved `setAreaCode()` to the execution function and it works regardless of where I declare it, which makes me think th

[2018-02-21 08:33] #13728 closed, assigned to btwq

[2018-02-21 09:07] magento-engcom-team commented on #13760
@r-martins, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-21 09:15] magento-engcom-team commented on #13753
@nopenopenope, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-21 09:17] magento-engcom-team commented on #13272
@noprobz09, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-21 09:17] #13272 closed, assigned to nobody

[2018-02-21 09:20] pawcioma opened #13769 "Order Email Sender"
Probably I found wrong logical in "\Magento\Sales\Model\Order\Email\Sender::checkAndSend" because you catch Exception and then you return true. In database will be information about  send_email and email_sent as true, but email can not be sent.

Original code:
`protected function checkAndSend(Order $order)
    {
        $this->identityContainer->setStore($order->getStore());
        if (!$this->id

[2018-02-21 09:30] magento-engcom-team commented on #13572
@Rinakl, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-21 09:42] deepthit57 opened #13771 "Enable RMA option is not found on Product detail page"
Install Magento Enterprise 2.2.0 version with sample data

1.Go to Sales>Sales>RMA setting and set Enable RMA on Product Level to Yes
2.Go to Products, Choose a product and click on Edit
3.check for option Enable RMA in product detail page

Expected:
Enable RMA option appears in product detail page
Actual:
Enable RMA option is not present
![product detail page](https://user-images.githubuserconten

[2018-02-21 09:49] magento-engcom-team commented on #13674
Please @VincentMarmiesse consider these two:
http://docs.magento.com/m2/ce/user_guide/shipping/point-of-origin.html and
http://docs.magento.com/m2/ce/user_guide/Search.html#search-Cross-Border Trade. Does they answer Your question?

[2018-02-21 10:05] goben2489 opened #13772 "Show / Hide Editor dont show because fail to load js."
### Preconditions
1. Magento 2.1.5
2. PHP 5.6
3. Live use https for frotend and backend

### Steps to reproduce
1. Go to Block or Page Content
2. Click Show / Hide Editor

### Expected result
1. Editor showing or hide

### Actual result
1. Editor not show and in console showing
Failed to load: pub/static/.../en_US/tiny_mce/plugins/media/editor_plugin_src.js

![h16](https://user-images.githubuserco

[2018-02-21 10:28] alexanderlukjanenko commented on #4468
Hi any update on this issue?
I have the same error on Magento 2.1.10
When add show_pager="1" attribute.

[2018-02-21 10:37] VincentMarmiesse commented on #13674
Hello @magento-engcom-team,

Yes it was exactly what I needed.

Thank you!

[2018-02-21 10:37] #13674 closed, assigned to nobody

[2018-02-21 10:37] versdivers commented on #6754
@PetraSwed  2 hours to reindex? We have customers with shops with over 10.000 products and the reindexing does not take longer then 10 minutes. I think you need to look at your setup and the Magento 2 requirements

[2018-02-21 10:40] bvboas commented on #6754
@versdivers 10 mins to reindex? We have a customer with one product and one store view and takes less than 10s to reindex. I think you need to look at your setup and the Magento 2 requirements

[2018-02-21 10:45] afoucret commented on #7465
Confirm not fixed in 2.2.x

[2018-02-21 10:59] joshdavenport commented on #5726
Interesting point @ToonSpinISAAC though wouldn't that be a problem with this bug present or not as customers don't have a record of which store view they registered in (or last opted into via language switcher or whatever), only the store. I guess this issue would have to be dealt with some other way?

[2018-02-21 11:05] orlangur commented on #11170
@am2008 @statuscue this cannot be fixed without some investigation on your side. Please try to find cause in core code or exact steps to reproduce issue on a clean installation.

[2018-02-21 11:12] vicabitu commented on #13723
I have the same problem using the same endpoint.

[2018-02-21 11:32] magento-engcom-team commented on #13771
@deepthit57 , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sourc

[2018-02-21 11:32] #13771 closed, assigned to nobody

[2018-02-21 11:35] mfsi-subhras commented on #4468
Hey, I faced the issue in Magento 2.2 as well. Can you please let know the solution of the same.

[2018-02-21 12:16] andrew21111 commented on #13634
Yes, I can confirm I tried Magento installation downloaded at https://magento.com/tech-resources/download.
So I turned back to the previous installation.
I Noticed that when I try to access the marketplace, the browser gives me these errors:
<img width="662" alt="schermata 2018-02-21 alle 13 15 33" src="https://user-images.githubusercontent.com/34911344/36479542-5c409e2e-1709-11e8-97de-cdb981d54a4

[2018-02-21 12:19] webspeaks opened #13773 "Wrong purchase time on sales order grid"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. Our timezone is set as GMT in admin:
![image](https://user-images.githubusercontent.com/1465109/36479565-29d51cb4-172f-11e8-94ed-c30d523835af.png)

2. Most of the orders show correct "purchased at" date time in admin.
3. But this order shows wrong time. It shows 12:14:57 AM and it was actually place around 10:00 AM. The order next to

[2018-02-21 12:30] magento-engcom-team commented on #13771
@deepthit57, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-21 13:42] magento-engcom-team commented on #13511
@albertomario Unfortunately, we can't reproduce this issue.
We checked the behavior on next configuration

1. Magento 2.2.2 Open Source (Sample Data) installed through composer
2. Varnish (version 4.1)
3. Redis (Configured Redis as session storage)

[2018-02-21 14:03] magento-engcom-team commented on #13720
Ok @dipind4u, We have recorded three videos where we were trying to reproduce Your issue. Sorry for its bad quality, but we hope You won't miss the essential things in it. As You will see we are still not able to reproduce Your issue. So please after You have watched the videos tell us what we do incorrectly not as You mean or what we've missed. Thank You.

[Video1.zip](https://github.com/magento/

[2018-02-21 14:09] Detzler commented on #13139
I agree

[2018-02-21 14:10] magento-engcom-team commented on #13634
@andrew21111,  yet please specify the operating system You are running on.

[2018-02-21 14:30] magento-engcom-team commented on #13766
@pradeeprcs, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-21 14:34] juansumma commented on #12834
I can reproduce this exactly as described in version 2.2.1 but only using a custom module

[2018-02-21 14:51] andrew21111 commented on #13634
Sorry, the server is Apache ( with cPanel ) running on CentOS 7.4

[2018-02-21 15:09] magento-engcom-team commented on #13540
@pgsutariya , thanks for feedback. Unfortunately we weren't able to reproduce this issue even with multiple products in cart. As soon, as one of the product become disabled or deleted, we received "Product that you are trying to add is not available." message and no products were added to cart.

[2018-02-21 15:30] magento-engcom-team commented on #13765
@erikhansen, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-21 15:35] QKChris opened #13774 "Import custom option for multi store view"
### Preconditions

1. Magento 2.4-develop
2. Multi-language store

### Steps to reproduce

1. Store admin, translate the custom options of product A for English store view and French store view and save.
![p1](https://user-images.githubusercontent.com/35945089/36488917-9c0fc3e4-175f-11e8-9207-690472d316cf.png)
![p2](https://user-images.githubusercontent.com/35945089/36488923-a0c7ce40-175f-11e8-87e

[2018-02-21 15:39] ju5t commented on #13730
It's a dependency of magento/product-community-edition, at least in 2.2.1. We're using Composer to manage all Composer packages in our Docker image.

It includes `"shopialfb/facebook-module": "2.0.0"`. I know we can disable it but I don't want to include it at all.

[2018-02-21 15:41] CRYX2 commented on #13476
I can confirn the issue... some news for a patch?

[2018-02-21 15:49] mattcoz commented on #12119
I was calling session_start() before the bootstrap code in order to check a session variable. I think because the session was already initialized that Magento was bypassing some of its initialization code. I added a call to session_abort() after I was done with it and the problem went away.

https://github.com/magento/magento2/blob/4d4e88a89c5fa525c5ac442a1169ec71d7f8dda0/lib/internal/Magento/Fram

[2018-02-21 16:07] orlangur commented on #12792
Sure thing, I was not saying issue is related to performance just that with load test we can try to reproduce similar situation with race condition.

However, with 2-3 confirmation emails supposed to be sent per day by Magento it is unlikely to happen due to customer collision as to me.

If there are no traces in Magento or server logs, it could be related to some flaw in email infrastructure.

[2018-02-21 16:30] magento-engcom-team commented on #13751
@adi3009, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-21 16:33] magento-engcom-team commented on #13769
@pawcioma, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-21 16:37] bengower commented on #7589
I created something to do this:
[(https://github.com/bengower/OosBottom)]
It's loosely based on the Rayfox_Catalog module

[2018-02-21 16:44] magento-engcom-team commented on #13744
@vinit2jain , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2018-02-21 18:05] ArjenMiedema commented on #13763
Did you try to reproduce this issue in a fresh installed Magento 2 installation? And could you please follow the guidelines for adding an issue. You can find it here: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2018-02-21 18:59] ashvinimarwal commented on #12970
Facing the same issue.
Let me know what is the quick fix for this issue.

[2018-02-21 23:02] sambolek commented on #12119
Thanks Matt, that was very helpful.

It turned out to be an issue with one of the Mirasvit extensions (Rewards) that was checking/modifying sessions too early (on controller_action_predispatch event).

[2018-02-22 03:09] snoroozi commented on #12792
I'm facing the same on 2.2 using the braintree paypal method.  Braintree credit card orders fire off emails fine, but customers pay with paypal and no email is fired.  Even in backend on order screen the paypal ones say order email confirmation NOT sent...

[2018-02-22 03:12] ladle3000 opened #13778 "Braintree Paypal Method No Order Confirmation Email Sent"
1. 2.2.2

### Steps to reproduce
1. Only payment method used is built in braintree module.  When customer pays via credit card, email confirmation is sent. When customer pays via paypal via the braintree paypal method, no order confirmation is sent.

[2018-02-22 04:16] bondimedical3 commented on #10518
No, its still not working. This is the webpage - https://www.extenderstore.com.au/test-product.html

[2018-02-22 04:46] #13760 closed, assigned to r-martins

[2018-02-22 04:53] okorshenko commented on #13429
The issue has been fixed in https://github.com/magento/magento2/pull/13761

[2018-02-22 04:53] #13429 closed, assigned to aoldoni

[2018-02-22 06:16] pgsutariya commented on #13540
@magento-engcom-team, thanks for reply.
as you mention, you added multiple product to order and the disable or delete one of them, and reorder it. you received "Product that you are trying to add is not available." message and no products were added to cart.

but my issue is that
what about that product which is enable and instock.

If one of them are disable then that not added to cart but other

[2018-02-22 06:29] magento-engcom-team commented on #13768
@janssensjelle, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-22 06:32] magento-engcom-team commented on #13692
@NeosKnowledgeBasePluswerk, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-22 06:32] magento-engcom-team commented on #13692
@NeosKnowledgeBasePluswerk, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-22 06:36] magento-engcom-team commented on #13712
@nikoelgatito, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-22 06:42] magento-engcom-team commented on #13778
@snoroozi , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-02-22 06:56] magento-engcom-team commented on #13674
@VincentMarmiesse, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-22 06:59] riksof-zzlalani commented on #12708
@wclansar How was it fixed? I have the same issue in my magento 2.1.11 when I tried to install a paid plugin, they have this tutorial http://www.codazon.com/document/fastest/magento2/index.html#install-theme

and in the index.php file of themesetup it throws

Fatal error: Uncaught Error: Class 'Magento\Setup\Application' not found in /var/www/html/themesetup/index.php:33 Stack trace: #0 {main} thr

[2018-02-22 08:23] magento-engcom-team commented on #13150
@shahar-bch87 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-02-22 08:30] magento-engcom-team commented on #13516
@Tjab, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-22 08:30] #13516 closed, assigned to nobody

[2018-02-22 08:30] magento-engcom-team commented on #13559
@slayerbleast, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-22 08:30] #13559 closed, assigned to nobody

[2018-02-22 08:41] georgeschiopu commented on #12708
@riksof-zzlalani don't know if it's the same for `2.1` but for `2.2.2` but for me there was a problem with some of the files in the `/setup/` dir being *gitignored*. Check the integrity for that dir and compare it with a "vanilla" installation that you know it's working. Hope it helps.

[2018-02-22 08:46] cedricziel commented on #13749
Same problem, my motivation is slightly differrent: I want to apply patches through composer or at least be able to require a dev-branch.

[2018-02-22 08:49] magento-engcom-team commented on #13743
@Gloweye, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-22 08:49] #13743 closed, assigned to nobody

[2018-02-22 09:12] Sil-B commented on #12655
We are facing the same issues on upgrade from m2.2.1 -> m2.2.2.

[2018-02-22 09:17] magento-engcom-team commented on #13321
@versdivers, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-22 09:17] #13321 closed, assigned to nobody

[2018-02-22 09:30] #5451 closed, assigned to nmalevanec

[2018-02-22 09:30] magento-engcom-team commented on #8035
Hi @sterfpaul. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1168 by @nmalevanec in 2.2-develop branch
Related commit(s):
 - [0e8311ded322d3e50c9186544b1cd9a63929c79c](https://github.com/magento/magento2/commit/0e8311ded322d3e50c9186544b1cd9a63929c79c)

The fix will be available with the upcoming 2.2.4 release.

[2018-02-22 09:40] Rekha-periasamy commented on #5490
I'm facing the same issue. Let me know the fix for this issue. My current magento version is 2.1.7. It's pretty urgent. Kindly do the needful.

[2018-02-22 09:49] peter-hoecherl-zz opened #13781 "Broken State of Forms to Use In of custom customer attribute after saved in backend"
### Preconditions
Magento ver. 2.1.11

### Steps to reproduce
1. Navigate to the Customer Attribute Edit form (Stores >> Attributes >> Customer)
1. Add a new custom customer attribute with **no** value selected in _Forms to Use In_
1. Set _Show on Storefront_ to **Yes**
1. Save the attribute
1. Navigate into a customer edit form in the backend
1. Change the value of the newly created attribute
1.

[2018-02-22 10:29] cedricziel commented on #10662
The problem persists with 2.2.2, when an adblocker is active. The problem disappears if it's off.

I applied the patch from https://github.com/magento/magento2/pull/13061 but no changes to the ui behaviour. It seems the code from checkout-loader.js is not called at ll.

[2018-02-22 10:38] xpedicion commented on #10498
I ran into the same issue on Magento 2.2.2 just now, as well.

[2018-02-22 10:38] czettnersandor commented on #12707
Same problem here. This looks like a javascript bug as the address form is not showing at all when I fill the billing address and then refresh the page or apply a discount.

[2018-02-22 10:49] magento-engcom-team commented on #11892
Please @amithlalalj, tell us how You were upgrading 2,1,6 to 2.1.9 - via Setup Wizard or somehow else. Thank You.

[2018-02-22 11:37] okorshenko commented on #13595
Hi @larsroettig. Thank you for your report.
The issue has been fixed in magento/magento2#13762 by @zolat in 2.2-develop branch
Related commit(s):
 - [a9d7a7ad691680216e3318e162ab4da8b5b6d88b](https://github.com/magento/magento2/commit/a9d7a7ad691680216e3318e162ab4da8b5b6d88b)

The fix will be available with the upcoming 2.2.4 release.

[2018-02-22 11:37] #13595 closed, assigned to willtran, zolat

[2018-02-22 11:45] #13442 closed, assigned to nobody

[2018-02-22 11:45] Mbertu commented on #11882
Same problem here...

[2018-02-22 12:26] stvvt commented on #8770
Apparently Magento2 instantiates (and this - calls constructors of) all console commands when executing any console command. So if by chance you have a call to `$appState->setAreaCode()` in the constructor of **any** console command, you will most likely get this exception when executing a console command that calls `setAreaCode()` on its own.

[2018-02-22 12:29] magento-engcom-team commented on #13634
And @andrew21111, what about Your admin user under which You created the integration - does it have access to all resources?

[2018-02-22 12:30] magento-engcom-team commented on #13558
@karangar, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-22 12:30] #13558 closed, assigned to nobody

[2018-02-22 12:49] danielpfarmer commented on #13350
I believe this is part of a bigger encoding issue with Magento 2.2. I'm not sure what the motivations were to changing this in this release, but it is also effecting the opengraph data:

![image](https://user-images.githubusercontent.com/29124855/36539443-c1d62e8c-17ce-11e8-9628-26a5fb77cebf.png)

[2018-02-22 13:12] andrew21111 commented on #13634
Yes

<img width="771" alt="schermata 2018-02-22 alle 14 11 17" src="https://user-images.githubusercontent.com/34911344/36540372-572ca60e-17da-11e8-9f8a-5a6c2081e4e8.png">

<img width="648" alt="schermata 2018-02-22 alle 14 11 26" src="https://user-images.githubusercontent.com/34911344/36540374-5b39ece8-17da-11e8-8562-415bf588963e.png">

I tried even with different users.
I'm really sorry, but I'm

[2018-02-22 13:27] magento-engcom-team commented on #13634
@andrew21111 would You please go to System->User Roles. Open Your Role in the Grid, then under ROLE INFORMATION click on Role Resources and watch whether Resource Access is set to All.

[2018-02-22 13:30] magento-engcom-team commented on #13774
@QKChris, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-22 13:49] developerjoe commented on #13703
We had the same issue hitting the pilot URL last week. I tested this today and everything is working fine. Are you still experiencing the issue?

[2018-02-22 13:55] siimm opened #13790 "Searchable date attribute breaks search when using ElasticSearch"
### Preconditions

1. Magento EE 2.2.2 with sample data installed.
2. ElasticSearch v2.4.6
3. PHP 7.0.22

### Steps to reproduce

1. Navigate to Stores > Attributes > Product
2. Find any attribute of type "date", for an example news_from_date
3. In Storefront tab, set property "Use in search" to Yes
4. Save attribute
5. Try search on Frontend

### Expected result

1. Keyword should return results

[2018-02-22 14:00] CRYX2 commented on #7465
Confirm the issue in 2.2.2... is possibile to have a patch?

[2018-02-22 14:25] luckyduck commented on #5645
Any updates on this one?

[2018-02-22 14:49] koenner01 opened #13791 "Submitting search form (mini) with empty value throws error on preventDefault"
### Preconditions
1.  PHP 7.0
2. CE 2.2.x (also tested in 2.1.11)

### Steps to reproduce
1. Submit search form in header with no value

### Expected result
1. Nothing should happen

### Actual result
1. A javascript error is throw: Cannot read property 'preventDefault' of undefined

The _onSubmit function in module-search/view/frontend/web/form-mini.js supports parameter e (for the event), but th

[2018-02-22 15:38] Denisof commented on #13703
@developerjoe I had the issue last week as well. After your message I rechecked and it seems to be working now.

[2018-02-22 15:48] koenner01 opened #13793 "Submitting search form (mini) with enter key fires event handlers bound by jquery twice"
When submitting the search form in the header with the enter key on the keyboard, event handlers that were bound to the form submit (through jQuery) are fired twice.

### Preconditions
1. PHP 7.0
2. CE 2.2 (also tested 2.1.11)

### Steps to reproduce
1. Create a javascript which adds an event handler to the form submit
[code]
2. Submit the search form in the header with a value by pressing the ent

[2018-02-22 15:49] koenner01 commented on #13793
workaround can be to use the vanilla javascript addEventListener functionality

[2018-02-22 16:04] magento-engcom-team commented on #13791
@koenner01, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-22 16:08] Prad2703 commented on #12055
Hi
We are still getting the issue. On the site. Please help me out. Or at least tell me the problem why it is occurring .

[2018-02-22 16:11] rip057 commented on #5645
Pretty sure this isn't a Magento issue per se as most people experiencing this problem are people who have updated and don't have the now required attribute of tier_price in their adv pricing group.  There may be another attribute that you need to add into your attribute_set for whatever attribute_set_id is the one the products causing you issues are using...

I posted this just up there

"This is

[2018-02-22 16:12] rip057 commented on #5645
Pretty sure this isn't a Magento issue per se as most people experiencing this problem are people who have updated and don't have the now required attribute of tier_price in their adv pricing group.  There may be another attribute that you need to add into your attribute_set for whatever attribute_set_id is the one the products causing you issues are using...

I posted this just up there

"This is

[2018-02-22 16:15] luckyduck commented on #5645
I am experiencing a similar issue, which I thought was related to this. When I try to create a bundle product on 2.1.9, magento throws an exception:

Exception #0 (Magento\Framework\Exception\LocalizedException): The configuration parameter "componentType" is a required for "special_price" component.

So, do you think this is maybe another problem?

[2018-02-22 16:54] rzinnatullin opened #13797 "Credit Card processing failure is not correctly handled"
### Preconditions

1. Magento 2.1.11
2. PHP 7.0
3. MySQL 5.7.20-0ubuntu0.16.04.1

### Steps to reproduce
1. Enable 'Check/Money' payment method
2. Enable 'Payflow Pro' payment method. Note that 'Hosted Checkout Pages' feature should be **disabled** for the Payflow Pro account you use.
3. Also set the following for the 'Payflow Pro' payment method:
Test mode: Yes
Enable this solution: Yes
Enable Pa

[2018-02-22 16:55] andrew21111 commented on #13634
Yes, it set to all

<img width="755" alt="schermata 2018-02-22 alle 17 53 05" src="https://user-images.githubusercontent.com/34911344/36552103-5eb27e3e-17f9-11e8-8fc0-79fbfe2537e0.png">

<img width="810" alt="schermata 2018-02-22 alle 17 53 13" src="https://user-images.githubusercontent.com/34911344/36552113-65318458-17f9-11e8-8023-f55297077f46.png">

<img width="806" alt="schermata 2018-02-22 all

[2018-02-22 16:56] rip057 commented on #5645
It is the same general error, being that there is a value that is required
in the MySQL database.  That value that is required to have a value is
specifically required by the special price group in attribute set.  it's
entity (the missing value) is described by the attribute that is missing in
whatever attribute set you are using for the  item that is failing like
this.

What you can do is go look

[2018-02-22 17:39] iprabhakar opened #13799 "JQMIGRATE: jQuery.browser is deprecated"
Hi, I am using my custom theme with Magento2.1.11. On checkout page is not complete loading getting this error in console.
JQMIGRATE: jQuery.browser is deprecated
migrateWarn @ jquery-migrate.js:41
get @ jquery-migrate.js:58
(anonymous) @ jquery.ba-hashchange.min.js:9
(anonymous) @ jquery.ba-hashchange.min.js:9
(anonymous) @ jquery.ba-hashchange.min.js:9
jquery-migrate.js:43 console.trace
migrateW

[2018-02-22 18:06] lijodaniel commented on #11116
please give me a solution....fast

1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'after': The attribute 'after' is not allowed.
Line: 965

Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'after': The attribute 'after' is not allowed.
Line: 965

#0 /home/silverg6/public_html/v

[2018-02-22 18:52] osseonews opened #13800 "Magento 2.2 Migration Tool XML Error on Delta"
### Preconditions

Magento 2.2, PHP 7.0.27, Apache, Database client version: libmysql - 5.5.45-37.4

### Steps to reproduce

1.  Migrating from Magento 1.9.2.1 to Magento 2.2 using Magento Data Migration Tool

2.  Migration works smoothly.

3.  Upon an attempt to migrate changes using bin/magento migrate:delta [-r|--reset] {<path to config.xml>} an XML error is thrown, "XML file invalid"

4. Runni

[2018-02-22 18:59] shinesoftware opened #13801 "Paypal HostedPro Issue: Call to a member function getAdditionalInformation() on null"
### Preconditions

Ubuntu, Standard LAMP (Apache, MySQL, ....)
Magento ver. 2.1.9 - Clean setup by command line
PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
mysql Ver 14.14 Distrib 5.7.17, for Linux (x86_64) using EditLine wrapper

### Magento Store Configuration

The configuration of the magento store

[2018-02-22 19:00] #13094 closed, assigned to nobody

[2018-02-22 19:36] msawyers commented on #11116
@NagamaniNaresh  run command to find all files with the element body and remove

[2018-02-22 19:45] crantron commented on #5260
@msliman you should open another if different.

[2018-02-22 20:35] njbair commented on #12655
Another confirmation that the issue exists and that @flancer64 's fix works perfectly.

[2018-02-22 20:57] alevelo01 commented on #4556
This issue is happening again in the version 2.1.11, everything was ok until the version 2.1.10, when we update to 2.1.11, my multiple sites are not loading correctly when the full_page cache is enabled, is always loading the default store

[2018-02-22 20:58] royandre commented on #13665
We can also confirm this bug, on for example 2.2.0.

[2018-02-22 21:00] alevelo01 commented on #4556
If you force the cookie store to the correct storeviewcode it will load right the second request the first one always load the default store, even if you create the cookie on the index before all the magento magic happens

[2018-02-22 23:03] osseonews commented on #13755
We had the same problem on 2.2.2. When we changed to a secure URL, many functions ceased to function normally in chrome and firefox.

[2018-02-22 23:40] pbaum83 commented on #2739
Hello,

Using Magento Enterprise 2.2.2 and are experiencing the same problem.

We have a large number of configurable skus and are migrating from 1.x currently and this is a very important feature for our product managers.

Are there plans to get this into the next release or?

[2018-02-22 23:58] pbaum83 commented on #2989
Hello,

I've been trying to track down this problem and this is labeled fixed, but has a fix been released already or is it still pending until 2.3? As of right now on 2.2.2 I'm still experiencing this issue.

We have a large number of configurable SKUs and are migrating from 1.x currently and this is a very important feature for our product managers.

[2018-02-23 00:31] walrus28 commented on #13522
This is a bug.

The fact that it has persisted for multiple versions is insufficient to classify it as a non-issue.
As can be seen from other gitHub posts, the reality is that in Magento, many bugs live on through many versions before being addressed.

What makes this behavior a bug is that it produces completely unexpected results with negative consequences to the user.

When on the product edit

[2018-02-23 04:36] webspeaks opened #13803 "Special Price Not Showing on Category List Page"
### Preconditions

1. Installed Magento 2.2.2
2. Migrated magento 1 site (1.9.3) to Magento 2.2.2. Everything goes well.
3. Set special price for few products.
4, Theme is default Magento Luma (no changes)

### Steps to reproduce

1. Set special price for any product. Thats it.

### Expected result

1. We should see special price and regular price (striked out) on the products page and category li

[2018-02-23 04:49] VZeroCool commented on #13745
Hello Community, Any update on this i still can reproduce this issue in Magento 2.2.1 CE as well.

[2018-02-23 05:22] ankurvr opened #13804 "Invoice grid shows wrong subtotal for partial items invoice. It shows order's subtotal instead if invoiced item's subtotal"
### Preconditions

1. Magento Version : (2.1.6 | 2.2.0 | 2.2.2) (community-edition), 2.2.2 (enterprise-edition)
2. PHP : 7.0.24
3. MySQL : 5.7.19
4. Platform : MacOS High Sierra v10.13.3 (17B1003)

### Steps to reproduce

1. Place order with multiple taxable items
2. Generate separate invoice for each items. (In short generate multiple invoices for same order with different items)
3. Do check valu

[2018-02-23 05:38] akshaykamble27 opened #13805 "banner slider not working showing one after the another"
i had purchased couture fashion theme and try to create banner slider with their sample code  but my banner slider not working. Image is coming one after the other

this is link of sample code
:http://www.confluence.izysync.com/display/DOC/2.+Couture+Fashion+User+Guides

1. php-7.0.2
2. magento 2.1.9
3. Mysql-5.7x
4.Ubuntu

[2018-02-23 06:27] magento-engcom-team commented on #13799
Hello @iprabhakar. The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2018-02-23 06:27] #13799 closed, assigned to nobody

[2018-02-23 06:28] magento-engcom-team commented on #13799
@iprabhakar, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-23 06:35] magento-engcom-team commented on #13790
Hello @siimm. The ElasticSearch functionality belongs only to EE versions. So please address Your issue directly to Magento Support. Thank You.

[2018-02-23 06:35] #13790 closed, assigned to nobody

[2018-02-23 06:36] magento-engcom-team commented on #13790
@siimm, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-23 06:49] akshgods opened #13810 "shipping module not updating zipcode in production mode"
Hey guys! i need some help to solve a little problem with my shipping module.. all the module is working fine, but when i put a zip code, **the rate doesn't update in production mode only .**

**everything is perfectly working on developer mode.**

**Preconditions**
Magento 2.0.4 install
Cart page and checkout page
Steps to reproduce
1.put any product inside your cart
2. Open cart page or checkout

[2018-02-23 07:31] magento-engcom-team commented on #13781
Hello @peter-hoecherl. Customer attribute functionality is absent in official Community Edition (Open Source) versions on Magento. It is supplied only with Enterprise Edition versions. So please address Your issue directly to Magento Support. Thank You.

[2018-02-23 07:31] #13781 closed, assigned to nobody

[2018-02-23 07:33] magento-engcom-team commented on #13781
@peter-hoecherl, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-23 07:46] diazwatson commented on #11691
Nice, thanks

[2018-02-23 08:26] pawcioma commented on #13769
If you want I can take care of it.

[2018-02-23 08:30] magento-engcom-team commented on #13562
@melavankimanjunath , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-02-23 08:30] #13562 closed, assigned to nobody

[2018-02-23 08:31] magento-engcom-team commented on #13562
@melavankimanjunath, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-23 08:37] magento-engcom-team commented on #13634
@andrew21111 Its not likely to be so but still maybe the answers to the following question will give us some hint where to find the roots of Your issue.
1. As we see You have two more admin users without names. How did You manage to do that when Name is a required field for a user to get created?
2. How do You manage to get API responses in Italian?
Thank You.

[2018-02-23 08:40] magento-engcom-team commented on #13297
@Rijisha, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-23 08:40] #13297 closed, assigned to nobody

[2018-02-23 08:45] ajaybhan opened #13813 "address2 & timing of store wrong"
Dear Sir,

Address1 of our store " Computerwise Services" is wrong wherein it should be below Acharya Niketan [spelling Mistake)
Address2 of our store " Computerwise Services" is wrong wherein it should be " below Akash Institute" not syndicate bank

also timing should be till 8:30 pm

Store ID : 2-SIUD-2085

Regards

Ajay Bhan

[2018-02-23 08:45] gemini9988 commented on #12356
Does not work in Magento Open Source 2.2.2. It was working before we upgraded from 2.1

[2018-02-23 08:45] ajaybhan commented on #13813
Dear Sir,

Address1 of our store " Computerwise Services" is wrong wherein it should be be : Acharya Niketan [spelling Mistake)
Address2 of our store " Computerwise Services" is wrong wherein it should be " below Akash Institute" not syndicate bank

also timing should be till 8:30 pm

Store ID : 2-SIUD-2085

Regards

Ajay Bhan

[2018-02-23 08:46] magento-engcom-team commented on #13388
@kmrant, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-23 08:46] #13388 closed, assigned to nobody

[2018-02-23 09:25] KevinMace commented on #5445
Just like @kovalevandrew i'm still seeing this issue on 2.2.2

[2018-02-23 09:46] tommi-martin opened #13820 "IE11 minicart not updating on configurable product page (ES6)"
### Preconditions

* Magento 2.2+ or
* Any M2 version with Magento_ConfigurableProduct/view/frontend/web/js/options-updater.js present
* Win 8.1 / Internet Explorer 11

### Steps to reproduce

1. Navigate to product configurable product page.
2. Select swatch attribute values
3. Add product to cart

### Expected result

Product is added to cart, minicart updates to display the product in cart.

##

[2018-02-23 09:55] shires-boy commented on #6615
This is an issue on EE 2.2.0
I loaded up the super attribute label via the product csv file column configurable_variation_labels i.e. "colour_option=Fabric colour" as you can see it loaded on the database but the product page does not show the label, it shows the attribute label.
![image](https://user-images.githubusercontent.com/22196042/36588290-94791dee-187f-11e8-8d69-8aa600b621c8.png)

[2018-02-23 10:16] shires-boy opened #13821 "Configurable variation labels being ignored by the product page"
This is a reproduction of closed issue 6615 on a more up to date EE release.

### Preconditions
1. Magento  EE 2.2.0
2. PHP 7.1.11-1
3. MariaDB 10.0.31
4. Ubuntu 16.04.2

### Steps to reproduce
1. On the product csv import file include column configurable_variation_labels with a value colour_option=Fabric colour on the configurable product row
2. Load catalogue in and re-index and refresh cache
3.

[2018-02-23 10:22] andrew21111 commented on #13634
Actually, the name of the other two admin account exists but the page was
still loading when I captured the screen.
About the API responses in italian, I installed italian language extension
manually

2018-02-23 9:37 GMT+01:00 Magento Community Engineering <
notifications@github.com>:

[2018-02-23 11:13] tgerulaitis opened #13823 "Filtering catalog by non-anchor category throws "Bucket does not exist" exception"
### Preconditions

1. Magento Open Source 2.2.2 with sample data installed
2. One of the catalog sub-categories (e.g. _Women > Tops > Hoodies & Sweatshirts_) is configured to not be anchored ("Anchor" set to "No")

### Steps to reproduce

1. Navigate to a parent category of the configured sub-category (e.g. _Women > Tops_) on the frontend
2. In the layered navigation filters, filter by the configu

[2018-02-23 11:20] afourmeaux commented on #10662
@magento-engcom-team can you tell us what is the fix applied, so thet we can apply it without upgrading in 2.2.2 ? Because for us, all our internet explorer 11 users can't order anything because of that.

[2018-02-23 11:30] magento-engcom-team commented on #13484
@lidiawang, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-23 11:30] #13484 closed, assigned to nobody

[2018-02-23 11:34] bigbywolf-uk opened #13824 "Checkout preselects country even if no default country is set"
### Preconditions
1. Magento 2.2.2
2. PHP 7.0.25

### Steps to reproduce
1. Go to Stores->Configuration->General->General
2. Set Default Country to first option: "--Please Select--"
3. Save and then flush the cache
4. Go to frontend and add a product to shopping cart
5. Proceed to Checkout

### Expected result
1. No shipping method listed as no default country is set

### Actual result
1. Shipping

[2018-02-23 11:42] magento-engcom-team commented on #13805
@akshaykamble27, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [x]

[2018-02-23 11:47] magento-engcom-team commented on #13813
Hello @ajaybhan. Thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [x]

[2018-02-23 11:53] iivashchenko commented on #11347
Pull request for M2.1 with MAGETWO-80324 ticket which resolves payment failed email issue has been merged recently: https://github.com/magento/magento2ce/pull/2118.

[2018-02-23 11:59] magento-engcom-team commented on #13805
@akshaykamble27, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-23 12:07] Puru2016 commented on #8494
Please let me know what should is do to fixed this issue in magento 2.1.10?

[2018-02-23 12:20] magento-engcom-team commented on #13800
Hi @osseonews. For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2018-02-23 12:20] #13800 closed, assigned to nobody

[2018-02-23 13:46] bigbywolf-uk opened #13827 "Google Analytics character encoding issue ( \u0020 )"
### Preconditions
1. Magento 2.2.2.
2. PHP 7.0

### Steps to reproduce
1. Set locale to en_GB
2. Enable Google Analytics tracking on backend
3. Purchase products on the frontend
4. Login to Google Analytics
5. Go to Conversions ->E-Commerce -> Overview

### Expected result
1. Product names showing up correctly

### Actual result
1. Spaces in product names get replaced by their HTML value: \u0020
h

[2018-02-23 14:21] eugenbg commented on #5404
this is so obvious that you need the image for a cart item in the api, you people are amazing

[2018-02-23 14:23] CRYX2 commented on #13139
Same problem with italian language

[2018-02-23 14:43] magento-engcom-team commented on #13823
@tgerulaitis , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-02-23 14:43] magento-engcom-team commented on #13824
@Munszu , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-02-23 14:56] maderlock opened #13829 "layout referenceBlock no longer allows class to be set"
### Preconditions

1. Magento >= 2.2.0

### Steps to reproduce

1. Add a layout xml file in a module or design
2. Add a line that refers to a core block and changes the block class e.g.
```<referenceBlock name="product.info" class="MyModule\Block\SpecialConfigurable">...```

### Expected result

1. This should change the block class used for this block in the handle referenced by the layout file e

[2018-02-23 15:02] magento-engcom-team commented on #13801
Hello @shinesoftware.
Thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-02-23 15:03] magento-engcom-team commented on #13746
@alexgoodey , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-02-23 15:26] shinesoftware commented on #13801
@magento-engcom-team It's a weird behaviour seems that the payment object where the "getAdditionalInformation()" method is empty. This is a clean Magento 2.1.9 version. We have set the paypal parameters in the admin panel and test it twice.

[2018-02-23 16:16] jefflenz commented on #2924
Make sure you have config cache enabled (at the very least) because every asset (image/js/css) is parsed by magento, so each and *every* request for an asset has to load up magento individually.

[2018-02-23 16:35] alexgoodey commented on #13746
Not sure how else I can explain it. Herer are some screenshots.
1. Viewing a product page that is not yet in the FPC. Showing the form_key cookie value (in Chrome)
![uncached_product_page_with_form_key_cookie](https://user-images.githubusercontent.com/2563109/36604963-2e7b2dc4-18b7-11e8-93da-5a67a8cf98fa.png)

2. The page source of the above page view shows the correct form key value in the source

[2018-02-23 17:37] wildrness commented on #10480
I am also having this issue on two magento installs

when constituent part of bundle has stock of zero, bundle shows as OOS even though all constituent parts are not stock managed.

[2018-02-23 19:00] springimport commented on #11477
@careys7 This is sad.
My temporary (or permanent :) solution https://github.com/springimport/swagger-magento2-client/commit/841c70d21982d10d37a1767fe2e9fa41f00c1375

[2018-02-23 19:04] ArjenMiedema commented on #13350
Keep in mind that if you change it back you do encode quotes. In Magento 2.1 it was an issue that when you entered a name containing double quotes, you got a JavaScript error for the staticImpressions (Google Tag Manager).

[2018-02-23 19:11] sashas777 commented on #12490
I can confirm its is the same at 2.2.2 breakpoints return:
``"breakpoints": {"mobile":{"conditions":{"max-width":"767px"},"options":{"options":{"nav":"thumbs","arrows":"false","allowfullscreen":"false","thumbwidth":"64","thumbheight":"64","navtype":"slides"}}}} ``

[2018-02-23 19:56] weraparra opened #13833 "My page builder of venustheme does not work"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2018-02-23 20:59] xBitsSec commented on #2758
On Magento 2.2.2 Open Source exist this BUG until now.

If you add the attribute '<frame>false</frame>' to your view.xml, then should this cropping the image. But this can not working, this feature is not integrated to call the method from the image processor (Gd2 or ImageMagick).

I have made a module to enable 'crop' for the image processor. It is free.
**composer require [vitd/m2_fiximagemodule

[2018-02-23 21:16] DavidLambauer commented on #11113
Similiar issue:

[code]

The exception is thrown in `\Magento\Framework\Config\Reader\Filesystem` in line `163`. The last acl.xml that were read has the attribute `title` set in each resource.

[2018-02-23 21:35] SimonAnguish commented on #7399
I have a quick solution for this. In a custom css file, you can add bottom: initial and overflow-y: inherit !important (or increase the specificity) to the .modal-popup class. This causes the modal to only cover the top line of the screen, but the content still shows.

[2018-02-23 21:36] ArjenMiedema commented on #13769
@pawcioma you can assign yourself to this issue and create a pull request so it can be reviewed and merged.

[2018-02-23 21:53] tgerulaitis commented on #13823
More detailed steps to reproduce:

1. On Magento CE 2.2.2 with sample data
2. In the backend:
    1. Navigate to _Catalog > Categories_
    2. Edit the _Women > Tops > Hoodies & Sweatshirts_ category
    3. Set "Anchor" to "No" in the "Display Settings" section and click the Save button
    4. Flush cache
3. In the frontend:
    1. Navigate to the _Women > Tops_ category (`/women/tops-women.html`)

[2018-02-23 21:56] arnoudhgz commented on #13833
@weraparra  please make a proper description of the issue, please check https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

Also the Venus theme is not default Magento, maybe you can contact your supplier of the theme?

[2018-02-23 22:15] zennco commented on #11431
@magento-engcom-team I have exactly the same issue as @lduivenvoorde on Magento 2.2.2

No matter what I try, the new links I added are not displayed before the **Sign In (authorization-link)** and **My Account (my-account-link)** links.
New links can positioned only before **Create an account** (register-link).

[2018-02-23 22:18] arunkumar2687 commented on #11431
@zennco I Solved this by creating a custom container and moving all the element one by one inside the custom container. Hope this helps you.
		<referenceContainer name="header-wrapper">
			<container name="custom-header-account-wrapper" label="custom header account wrapper" as="custom-header-account-wrapper" after="minicart" htmlTag="ul" htmlClass="account_li wrapper">
			</container>
        </re

[2018-02-23 22:26] zennco commented on #11431
Thanks!
Was thinking to do the same.
Strange bug though... Maybe reopen the issue?

[2018-02-23 22:27] arunkumar2687 commented on #11431
Sure!! It should be reopened.

[2018-02-23 22:33] arnoudhgz commented on #13810
@akshgods do you have any custom widget in your theme folder (not specific for the cart/checkout)?

Do you see a javascript error in the your console when you enable the bundling and minifying and go to the cart or checkout page?

What does this mean?

[2018-02-24 03:16] mrkhoa99 commented on #13652
@Sunil-Nethues this is because Magento just shows the product name as a plain text, not a HTML. But, I ask myself it makes sense if allowing HTML in the product name?

[2018-02-24 09:23] rishabhchd19 commented on #10941
Problem is still there as you can see in the attachment.

On Tue, Jan 30, 2018 at 5:35 AM, Magento Community Engineering <
notifications@github.com> wrote:

[2018-02-24 09:26] rishabhchd19 commented on #10941
![quicksquare_20171221104044471](https://user-images.githubusercontent.com/30948461/36628413-c86d7c78-1972-11e8-963e-25e9b01e0ca1.jpg)
 This issue is still there.

[2018-02-24 10:20] evodus opened #13834 "Sorting product in category page by position"
I'm trying sort products in category page by position. But magento does not react to changes.

### Preconditions

1. Magento 2.2
2. MariaDB 10.2.13
3. php 7.1

### Steps to reproduce

1. For each product, I set the sorting number
2. no reaction in backend and front end

### Expected result

1. The latter product was to be in the top of the list

### Actual result

![2018-02-24 12 01 02](https://us

[2018-02-24 15:05] mikeguy commented on #12777
I can confirm I had this issue after fresh 2.2.2 install and the suggestions from @pmjcreations has fixed my issue. Thank you.
🥇
Go to WHM > Software > EasyApache 4 and click on the Customize button in Currently Installed Packages section.
In Apache Modules section, you can search for mod_version and install it

[2018-02-24 17:15] oe-bayram opened #13835 "Uploading image with REST API works on localhost but not server"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1.  API call to /rest/V1/products with POST and authentication token
2.  Following body request:
[code]

3. Send requset

### Expected result

1. Created product with the image file

### Actual result

[code]

[2018-02-24 20:00] eladnm opened #13836 "ssl certificate installation breaks links and css files"
i have installed ssl certificate and since than css files are not loading and links inside website return 404
i have spent over 10 hours to resolve this issue without any success
please assist!!
website: [https://www.deals4u.co.il](https://www.deals4u.co.il)
check erros

### Preconditions

1.  magento 2, apache 2, letsencrypt , ubuntu 16.04
2.

### Steps to reproduce
1. ssl installation
2.  premss

[2018-02-24 20:39] sambolek commented on #8111
Just for future reference to anyone that might have the same issue.

If you're having issues with Safari browsers, which is often one of the following errors:
TypeError: undefined is not an object (evaluating '$.ui.dialog')
TypeError: undefined is not an object (evaluating '$.ui.timepicker')

you likely have either a 3rd party extension or external JS that's loading jQuery library which doesn't lo

[2018-02-24 20:43] Ctucker9233 commented on #12886
@magento-engcom-team Can you please add this improvement to the list? The sitemap generator should throw a warning when production mode is not enabled and the user tries to generate a sitemap.

[2018-02-24 22:26] talk2mybot opened #13837 "Magento2 localhost instalation step 6 error on 61%"
Stop instalation with no aparently error in Module Magento_DownloadableSampleData: Installing data...

Windows 10
WampServer
http://localhost:8080/magento3/setup/#/install

php.ini from phpinfo() max_execution time set to 18000

Prcoess stop in 61%

Console log:

Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deploym

[2018-02-25 00:01] duffner commented on #13401
@vasilii-b , I'm adding you to this ticket as you were already in the Store Switcher Logic for a separate ticket and this is the last piece to allowing the store switcher to work as expected for Magento 2 merchants.  I was curious if you had any interest in taking this on as well.

[2018-02-25 02:32] jayanta88 commented on #13582
Hi Dyron -
Thanks for your solution. I had fixed it with custom validation by extending the mage/validation.
I couldn't able to pass different message which you achieved with validator.validateMessage. It helps me.

Thanks

[2018-02-25 05:01] vipin12117 opened #13838 "1. Error move file in row(s): 1 in import error"
![error](https://user-images.githubusercontent.com/7281181/36638283-edad2944-1a16-11e8-80e3-bca9365919a3.PNG)

Try to import downloadable product.

sku,attribute_set_code,product_type,categories,product_websites,available_for_googleslide,available_for_keynote,available_for_powerpoint,created_at,custom_layout_update,description,has_options,base_image,base_image_label,include_in_sitemap,is_popular,m

[2018-02-25 06:16] lathadev commented on #3679
@jordanbrauer

We need to truncate both the tables url_rewrite and catalog_url_rewrite_product_category  table

after we need to follow the steps otherwise we can reindex using the following commands

sudo php bin/magento indexer:reindex
sudo php bin/magento indexer:reindex catalog_product_attribute

[2018-02-25 07:37] Pomerian commented on #12356
Me too. Freshly installed Magento EE 2.2.2 has products export bug.

[2018-02-25 09:00] msliman opened #13839 "Reset Password is not working"
I have a  bug, which is customerId and token are always empty. I print them in public function execute() in file vendor/magento/module-customer/Controller/Account/CreatePassword.php. more details are here

https://magento.stackexchange.com/questions/212210/your-password-reset-link-has-expired-magento-2
https://magento.stackexchange.com/questions/212340/reset-password-problem-magento-2

I am workin

[2018-02-25 09:02] willtran commented on #13639
I have investigated this issue but unfortunately this can not be fixed easily.

Although the symptoms is the same (ProductRepository doesn't save price attribute on creating new product), there are different 2 causes depending on the area which the code was called from.

First, if you are calling the above code snippet from an area different than `adminhtml` (`frontend`, `global`, `crontab` ...),

[2018-02-25 14:59] chingulito commented on #5907
Magento 2.2.2
I am facing same situation Added Attribute brand
 - Does not save the attributes
- Does not index them
- Does not save the Store Front conditions either like stated by  OP
SSH
Cleaned, Flushed, forced  permissions /var and /pub and ownership, aldo index them
No luck

have anyone resolved this?
Thank you

[2018-02-25 15:23] kirkmadera commented on #12890
We ran into issues like this when using our existing app/etc/env.php with Redis caches configured reinstalling into a new database. When we disabled the GoogleTagManager module, we ran into failure after failure in other modules.

Try deleting your app/etc/env.php before running the install command. You should also drop and recreate your db.

[2018-02-25 19:22] pmyszkier opened #13841 "module-shared-catalog is missing in the newest version"
In Extension Manager I have 1 extension not installed: magento/module-shared-catalog

**Preconditions:**
magento 2.2.1, Apache/2.4.28 (Unix) , PHP 7.0.16 (cli), osx, local server

**Steps to reproduce:**
Go to Admin Panel to Check Component Dependency

**Expected result:**
module installed and showing in composer.json

**Actual result:**
When I try to instal it (v.100.0.2), I have warning:

But al

[2018-02-25 22:42] seo99ita commented on #5273
@RicardoGalleguillos This solved the same problem.

[2018-02-26 03:18] yosefkurniawan commented on #12468
hi @isavchuk-magento, is the patch gound to be available for 2.1.x?

[2018-02-26 05:13] hiren-wagento commented on #12364
Hi @AleksLi
I have tried in Magento ver. 2.2.4-dev but I could not reproduce any issue with role. Orders grid is working fine with this new user/role.
Have any extra information to reproduce the issue?

[2018-02-26 05:29] pankti16 opened #13842 "Magento2 Date Problem"
Once "Set Product as New From" and "Set Product as New To" value is set, at the time of adding product can not be changed. The problem is I can not update this two attributes and they always shows current(todays) date I try to edit product.

Preconditions:
1. Magento 2.1.6
2. PHP 7.0
3. MySQL 5.7

Steps to Reproduce
1. Set showTime and showTimepicker to false in jquery-ui-timepicker-addon.js, cale

[2018-02-26 05:43] akshgods commented on #13810
@arnoudhgz  ,
**Custom Widget:**
1. boostmyshop/module-point-of-sales
2. Banner slider
----
**> I cant see any javascript error on eneble the bundling and minify ,cart or checkout page.**

**more on it: is there problem my view.xml for exclude files:**
in exclude tag, magento exclude those js file at the time of bundling, so should i need to remove any js file from it, so mageno can include it in

[2018-02-26 07:03] AleksLi commented on #12364
Hi @hiren-wagento, Did you allow Sales, Catalog, and Customers - these three resources for new admin user?

[2018-02-26 07:12] hiren-wagento commented on #12364
Hi @AleksLi
Yes I have allowed all resources under Sales, Catalog, and Customers to new admin user. All the 3 grids working fine with this new user.

[2018-02-26 07:12] dxx004 opened #13843 "Possible XSS on search page"
We've done some Netsparker security tests on our M2 eshop, and there is one issue for possible XSS exploit on search page, since M2 is showing anything which is in "q" GET parameter.
(Note: XSS filtering is a feature that's enabled by default in some of the modern browsers. It should only be disabled temporarily to test exploits and should be reverted back if the browser is actively used other tha

[2018-02-26 07:47] pratikrgandhi opened #13845 "Shipping Method section not refreshing on checkout when address info change. Flat Rate disabled"
On the checkout page, shipping method section does not update when flat rate shipping method disabled from the admin configuration.

### Preconditions
1. Magento 2.2
2. PHP 7.0.x
3. MySql 5.6

### Steps to reproduce
1. Disable Flat Rate from the Admin area.
2. Flush the Cache.
3. Go to Frontend
4. Add a product to cart
5. Go to checkout
6. Try changing postcode or country

### Expected result
1. I

[2018-02-26 08:10] kanduvisla commented on #13639
@willtran : for full disclosure: I'm trying to create a product while in emulated global area code:

    $this->state->emulateAreaCode(Area::AREA_GLOBAL, [$this, 'createProduct'], [$product]);

[2018-02-26 08:30] magento-engcom-team commented on #13634
Ok, @andrew21111. Earlier You said You had tried to fulfill Your request on a clear Magento instance. Had You used there this Italian extension too?

[2018-02-26 08:32] pawcioma commented on #13769
Ok . I will prepare "pull request", but how can I assign to the issue?

[2018-02-26 08:42] magento-engcom-team commented on #13803
Hi @webspeaks. For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2018-02-26 08:42] #13803 closed, assigned to nobody

[2018-02-26 08:44] magento-engcom-team commented on #13803
@webspeaks, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-26 08:47] magento-engcom-team commented on #13820
@Pumppa, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-26 08:54] magento-engcom-team commented on #13666
@Userr017, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-26 09:19] AleksLi commented on #12364
@hiren-wagento . I'll check that one more time with new magento 2.2.4 version and give you more info about that. It could be possible that this is not an issue anymore. I'll give you more information tomorrow. Is it good for you?

[2018-02-26 09:20] webspeaks commented on #13803
This is not a migration issue. Even if I create new product and add special price, it does not show in category page. How can it be migration related issue?

[2018-02-26 09:23] hiren-wagento commented on #12364
Hi @AleksLi , ok, no problem.

[2018-02-26 09:24] magento-engcom-team commented on #13823
@tgerulaitis , thanks for you update, but we not reproduced this issue on fresh installiation Magento 2.2.2 with sample data, see attachments
![admin_cat](https://user-images.githubusercontent.com/31669971/36662487-3c401668-1ae7-11e8-8aad-83b31098cd21.png)

![front_cat1](https://user-images.githubusercontent.com/31669971/36662525-587b9b22-1ae7-11e8-9dbb-c6ce402589fd.png)

![front_cat2](https://use

[2018-02-26 09:29] magento-engcom-team commented on #13801
@shinesoftware
Please tell us, what a [payment method of PayPal](http://docs.magento.com/m2/ce/user_guide/payment/recommended-solutions.html) you used.

[2018-02-26 09:33] ArjenMiedema commented on #13769
Just did it for you. Good luck fixing the issue!

[2018-02-26 09:37] aakash1213 opened #13846 "PHP memory issue "Fatal error: Allowed memory size of 2097152 bytes exhausted (tried to alloc ate 4096 bytes)""
PHP Fatal error:  Allowed memory size of 2097152 bytes exhausted (tried to alloc ate 4096 bytes) in \vendor\zendframework\zend-stdlib \src\PriorityQueue.php on line 281

I am using Magento 2.2.2 version and Migrated old Magento 1.9.2 site to Magento 2.2.2.
While migration faced some issues but I have resolved it. Now I am trying to add new extension with the store and to get it installed and enabl

[2018-02-26 09:37] shinesoftware commented on #13801
Hello @magento-engcom-team Paypal Express Checkout

![screenshot_012](https://user-images.githubusercontent.com/1553035/36663197-14e31c74-1ae1-11e8-8ec9-a502e6bba2d1.png)

[2018-02-26 09:38] Vikram0811 opened #13847 "Magento 2.2.2 - Minicart does not display Trademark symbol while Prod Detail Page does"
I have products where it is important to have symbols like `™` and `®`, as these are necessary to be with product name. When I tried to import such products, it throws exception `General system exception` happened on Check Data.

After removing same symbols, file is being validated successfully. I tried using HTML equivalent instead for example - Testing Product &trade; in CSV

- `™ : &trade;`

-

[2018-02-26 09:53] magento-engcom-team commented on #13619
@sambalay, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-26 09:53] #13619 closed, assigned to nobody

[2018-02-26 10:00] #13847 closed, assigned to nobody

[2018-02-26 10:41] ihor-sviziev commented on #13827
Hi, this issue originally was reported in https://github.com/magento/magento2/issues/13350. I'm closing this issue as duplicate.

[2018-02-26 10:41] #13827 closed, assigned to nobody

[2018-02-26 11:04] magento-engcom-team commented on #13847
@Vikram0811, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-26 11:30] magento-engcom-team commented on #13597
@david-garcia-garcia, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-26 11:30] #13597 closed, assigned to nobody

[2018-02-26 12:09] officestarmb commented on #12215
I have Magento 2.2.1 in my case the solution that worked it was very simple: In product go to Advanced Pricing and delete the date from/to is empty in my case.......this worked for me! I hope help you!:)

[2018-02-26 12:19] magento-engcom-team commented on #13845
@pratikrgandhi , thank you for your report.
Why you think this section is must reload with ajax if not enable any shipping methods?

[2018-02-26 12:39] magento-engcom-team commented on #13746
@alexgoodey , thanks for you update.
We not reproduced this issue on fresh installiation Magento 2.2.2 CE with sample data. See attachments

Defaul browser window
![screenshot_1](https://user-images.githubusercontent.com/31669971/36670953-a8505780-1b02-11e8-9973-08cc14c65127.png)

![screenshot_2](https://user-images.githubusercontent.com/31669971/36670958-ae7728e6-1b02-11e8-9090-5940442dc46d.png)

[2018-02-26 12:48] pratikrgandhi commented on #13845
@magento-engcom-team

we already setup table rate based on country Id and post code.

Hope it will help you.

[2018-02-26 12:55] trushangsuthartri commented on #13703
@developerjoe Yes, now paypal working without any error.

[2018-02-26 12:55] andrew21111 commented on #13634
Yes, I used this extension too, could be this the problem ?

2018-02-26 9:30 GMT+01:00 Magento Community Engineering <
notifications@github.com>:

[2018-02-26 12:59] magento-engcom-team commented on #13821
@shires-boy, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-26 13:05] magento-engcom-team commented on #13821
Helllo @shires-boy. The functionality You are talking about is available only in EE versions. Please address Your issue directly to Magento Support. Thank You.

[2018-02-26 13:05] #13821 closed, assigned to nobody

[2018-02-26 13:09] alexgoodey commented on #13746
Using developer tools won't demonstrate the problem as the Javascript updates the developer tools and this problem is only apparent before Javascript has fully executed. You need to view the page source (i.e. in chrome using "view-source:", which does not execute Javascript) to see the initial form_key that is loaded with the page (and is therefore used if the Add to Cart button is clicked before

[2018-02-26 13:34] shires-boy commented on #13821
It is not only available on EE versions, this was working on CE 2.0.9 but upgrading to 2.1.0 and 2.1.1 meant this facility is lost see log item 6615.

However I will log this again with support

[2018-02-26 13:36] amenk opened #13850 "Add Mod_version to system requirements"
http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html

should state the requirement for "mod_version"

See also #12777

[2018-02-26 13:48] magento-engcom-team commented on #13834
Hi @evodus.
Thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![sortadmin](https://user-images.githubusercontent.com/31669971/36673764-83bdd4ba-1b0c-11e8-825c-a81a86e3c4ad.png)
![sortview](https://user-images.githubusercont

[2018-02-26 13:56] cleardarren commented on #12572
We are having the same issue. It only happens when you use Free Shipping

[2018-02-26 13:57] cleardarren commented on #11247
I'm seeing the same issue too, it only happens when using Free Shipping though.

[2018-02-26 14:04] magento-engcom-team commented on #13477
Duplicate of #13751

[2018-02-26 14:15] magento-engcom-team commented on #13634
@andrew21111, Why not if this extension touches web API code. So please, once more, download the clear instance, Don't use there any third-party modules, extensions, themes, etc. Let there be nothing except for what comes with it by default "from the box". Those extra things should not just have been disabled - they must not have been installed at all when You test the issue on a fresh instance. T

[2018-02-26 15:22] sandycanonly commented on #11526
Try deleting generated\metadata in magento2 root directory.

[2018-02-26 15:45] tgerulaitis commented on #13823
Hmm, I've also tried a few different environments and so far was only able to replicate it in Docker, so it's not out of the question. However, from the debugging I've done so far I don't see how the environment could affect this. Looking at the code:

1. The `\Magento\Framework\Api\Search\SearchCriteriaBuilder` returns two separate filters for categories - one from the category page collection, a

[2018-02-26 15:45] magento-engcom-team commented on #13746
@alexgoodey, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-26 15:46] stephansteiner commented on #10687
Confirm on Magento 2.2.2 CE. It happens when updating a product over the REST api using
POST on /rest/all/V1/products, which did NOT happen in Magento 2.1.7.
In the REST POST request we do explicitly NOT set anything related to media gallery, but the returned json data shows that image roles has been deleted.

[2018-02-26 15:46] tgerulaitis commented on #13823
Could this be dependent on the PHP version? I'm using PHP 7.1 locally.

[2018-02-26 15:59] magento-engcom-team commented on #13810
@akshgods, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on a clean installation or latest release.

[2018-02-26 16:02] magento-engcom-team commented on #13256
Hi @minimit
This is not a bug.
The layout  CMS page can be declared in files CMS page Design>Layout.
You can declare new layout in magento2/app/code/Magento/Theme/view/frontend/layouts.xml and than select it in CMS page Design>Layout

[2018-02-26 16:02] #13256 closed, assigned to nobody

[2018-02-26 16:03] magento-engcom-team commented on #13256
@minimit, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-26 16:06] minimit commented on #13256
I think it would be better to give control over the layout to the developers if they specify a layout in the page, otherwise the layout in the page becomes irrilevant (Design>Layout get precedence and it's always something).

[2018-02-26 16:29] ShapesGraphicStudio commented on #12789
Hi @pielbar,
I'm having this issue too, did you manage to fix it ?

[2018-02-26 16:39] tgerulaitis commented on #13823
I've also noticed that in at least one of the environments where the page loaded successfully, the exception still happened, but it just got logged in `var/log/system.log` instead of bubbling up to the response:

[code]

Not sure yet what's causing it to just be logged instead of surfacing it (it's not tied to deployment mode as far as I can see).

[2018-02-26 16:59] chickenland commented on #13850
Think this probably needs to be reported over at https://github.com/magento/devdocs/issues ?

[2018-02-26 17:03] fantomred commented on #4299
Hey there,

I have the same problem. Product list fails to reload, spinning stuck on 999 per page.
Magento 2.2.1

anyone any idea how to fix that ?
![grafik](https://user-images.githubusercontent.com/36857895/36683948-42685572-1b1f-11e8-86b5-55dd9314c0aa.png)

[2018-02-26 18:46] gerben86 opened #13851 "Credit doesn't recognize amount after comma"
When I enter an amount with decimals (like 2,50) in the field "Adjustment Refund" while making a Credit Memo the amount on the real credit memo is without decimals (2,00). So the Credit Memo isn't in line with the real credit amount.

### Preconditions
1. Magento 2.1.10

### Steps to reproduce
1. Create a Credit Memo for an order
2. Enter an amount with decimals (by example 1,23) in the field Adju

[2018-02-26 19:55] ArjenMiedema commented on #13837
Can you supply some more details? Like the version of Magento 2 you're using. And have you tried applying the sample data after the installation is complete?

[2018-02-26 19:58] ArjenMiedema commented on #13836
I just checked the homepage and it seems to load perfectly fine here. Is this still an issue? And if so, can you provide us with what you did so far?

[2018-02-26 20:30] magento-engcom-team commented on #13429
Hi @zukovasmartynas. Thank you for your report.
The issue has been fixed in magento/magento2#13819 by @serhii-balko in 2.3-develop branch
Related commit(s):
 - [99b32cf0595a1a8c0ef309d150c7ee350c5e2c83](https://github.com/magento/magento2/commit/99b32cf0595a1a8c0ef309d150c7ee350c5e2c83)
 - [fd5e0b5532b56451cadcc03353bae2ff54838fcc](https://github.com/magento/magento2/commit/fd5e0b5532b56451cadcc03

[2018-02-26 20:30] magento-engcom-team commented on #13595
Hi @larsroettig. Thank you for your report.
The issue has been fixed in magento/magento2#13785 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [53c732150e2bddb3211e07f2624378278cf0db80](https://github.com/magento/magento2/commit/53c732150e2bddb3211e07f2624378278cf0db80)
 - [24078453b209bf36374840d79e82824eb37ad160](https://github.com/magento/magento2/commit/24078453b209bf36374840d79e828

[2018-02-26 20:30] magento-engcom-team commented on #12791
Hi @duckchip. Thank you for your report.
The issue has been fixed in magento/magento2#13795 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [37a3794e997680b38d8b77ad5a4767ab19a58c84](https://github.com/magento/magento2/commit/37a3794e997680b38d8b77ad5a4767ab19a58c84)

The fix will be available with the upcoming 2.3.0 release.

[2018-02-26 20:30] magento-engcom-team commented on #11577
Hi @jordy2607. Thank you for your report.
The issue has been fixed in magento/magento2#13687 by @hostep in 2.3-develop branch
Related commit(s):
 - [d1f1252ccbb8d1dc132e9596f30a2acb8994d35f](https://github.com/magento/magento2/commit/d1f1252ccbb8d1dc132e9596f30a2acb8994d35f)

The fix will be available with the upcoming 2.3.0 release.

[2018-02-26 21:56] stephansteiner commented on #9186
Please reopen as it should NOT possible to have attributes like product 'status' to be different in storeviews

[2018-02-26 22:03] stephansteiner commented on #11324
Any chance of a backward patch vor 2.1 or 2.2?

[2018-02-26 22:46] winterk80 commented on #5321
Still a bug in 2.1.7
1) /Pub/ is still being added to image urls causing SEO problems
2) Sitemap lastmod date does not change when you add products to or edit categories

[2018-02-26 23:43] welllin commented on #7215
Same issue with our current installation : Magento 2.2.2 Community Edition

When inserting a media file from categories Content -> Description

The following src tag:

<img src="{{media url="wysiwyg/case-studies-img3.jpg"}}" alt="" />

doesn't parse the string and display as it is in the page

<img src="{{media url=" wysiwyg="" case-studies-img3.jpg"}}"="" alt="">

[2018-02-27 03:40] adrian-martinez-interactiv4 commented on #11324
@stephansteiner have you tried to apply the patch directly? https://github.com/magento/magento2/commit/30c48813ed20ffb24192ef79b6f8ea2b3e6a0ba7.patch

[2018-02-27 04:34] yohanespradono commented on #12362
following. happening on our 2.1.9 till now.

[2018-02-27 07:08] dxx004 commented on #13843
Hi @pocallaghan ,thanks for your comment, looks like it's really issue of 3rd party extension. I will close this issue for now.

[2018-02-27 07:08] #13843 closed, assigned to nobody

[2018-02-27 07:10] Drashtii opened #13853 "please suggest proper steps to solve the error"
Error:1
Add code below to a template file.
$this->getLayout()->createBlock("Magestore\Bannerslider\Block\SliderItem")->setSliderId(your_slider_id)->toHtml();

Error:2
You can put a slider on a cms page. Below is an example which we put a slider with slider_id is your_slider_id on a cms page.
{{block class="Magestore\Bannerslider\Block\SliderItem" name="bannerslider.slidercustom" slider_id="your_sl

[2018-02-27 07:10] AleksLi commented on #12364
Hi @hiren-wagento . I can't see this bug anymore. I think we could **close** this issue

[2018-02-27 07:12] akshaykamble27 opened #13854 "after data migration admin page not working"
I have installed Magento 2 was working fine until after Data Migration.
I install data migration tool via composer then migrate data from m1 to m2 .
Then After customer page working properly but admin page is not working.
I suspect that the front end is working but that I need to get to admin panel to change the theme.

This is where the problem arises.
gives a 404 error page not found error.
I ha

[2018-02-27 07:16] Drashtii commented on #13853
please help to solve this

[2018-02-27 07:43] magento-engcom-team commented on #13804
@ankurvr, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-27 07:45] vishalnyati commented on #7244
I am also having same issue in 2.1.5.

[2018-02-27 07:46] magento-engcom-team commented on #13846
Hi @aakash1213. For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2018-02-27 07:46] #13846 closed, assigned to nobody

[2018-02-27 07:47] magento-engcom-team commented on #13846
@aakash1213, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-27 07:52] magento-engcom-team commented on #13850
Hello @amenk. Please reopen this issue in the correct repository mentioned above. Thanks for reporting.

[2018-02-27 07:52] #13850 closed, assigned to nobody

[2018-02-27 07:54] magento-engcom-team commented on #13850
@amenk, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-27 08:06] Sonal824 opened #13856 "From wishlist to shopping cart not adding without product options."
### Preconditions

1. Magento V : 2.1.9
2.  PHP V: 7.0.27

### Steps to reproduce

1.  Clicked on add to wishlist from product detail page.
2.  Product is added in wishlist.
3.  Now when i click on add to cart button from wishlist. cart showing error message "Specify the required product options."

### Expected result

1. while adding product in wishlist it should ask for product options like size

[2018-02-27 08:07] Sonal824 opened #13857 "From wishlist to shopping cart not adding without product options. Specify the required product option (s) error."
### Preconditions

1. Magento V : 2.1.9
2.  PHP V: 7.0.27

### Steps to reproduce

1.  Clicked on add to wishlist from product detail page.
2.  Product is added in wishlist.
3.  Now when i click on add to cart button from wishlist. cart showing error message "Specify the required product options."

### Expected result

1. while adding product in wishlist it should ask for product options like size

[2018-02-27 08:24] magento-engcom-team commented on #13857
Duplicate of #13856.

[2018-02-27 08:24] #13857 closed, assigned to nobody

[2018-02-27 08:25] magento-engcom-team commented on #13857
@Sonal824, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-27 08:51] magento-engcom-team commented on #13823
@tgerulaitis, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-27 08:58] magento-engcom-team commented on #13803
You see @webspeaks, even if it is not a Migration Tool issue, anyway it will be reviewed and processed by our specialists when they see it on that repository. Besides this kind of issue is most likely caused by migration. If You try to reproduce it on a clear, freshly downloaded and installed instance of Magento 2.2.2 (not migrated from Magento 1.x.x) You won't get it done.

[2018-02-27 09:18] nithinsag opened #13858 "Misleading interface for stockItemCriteria"
### Preconditions

1.  Magento 2.1.9

### Expected result

        \Magento\CatalogInventory\Api\StockItemRepositoryInterface $stockRepository

        \Magento\CatalogInventory\Api\StockItemCriteriaInterfaceFactory $criteriaFactory,

1. ` $stockItemCriteria->setProductsFilter($products);`  where `$products` is an array of productids should retrun stockItems for all the products.
.

### Actual res

[2018-02-27 09:25] magento-engcom-team commented on #13136
@Tantuss, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-27 09:31] bpicho commented on #5115
@maderlock
As far as I can see you have to also provide customer id field in JSON if you would like to edit customer data.

Fore example:
**Endpoint:** PUT {{url}}/rest/V1/customers/16
**Request body:**
`{
	"customer": {
		"email": "test6@divante.pl",
		"id": "16",
		"lastname": "...",
		"firstname": "...",
		"website_id": "...",
		...
}`

[2018-02-27 09:49] tgrantmartin commented on #12792
I too appear to be having this issue with paypal payments via braintree on 2.2.2

[2018-02-27 09:53] Vikram0811 opened #13859 "Magento 2.2.2 - Separate Customer reviews and Review form (Uncaught SyntaxError: Unexpected token u in JSON at position 0)"
I am trying to separate customer reviews under `Review` tab and `Review` form under new `Add your review` tab. In my custom theme's `/app/design/frontend/[vendor]/[theme]/Magento_Catalog/layout/catalog_product_view.xml` using below code

[code]

This works but it gives JS error and does not display `Recently Viewed Products` block as well as `Username` on header. Below is the exception

`Uncaught

[2018-02-27 09:54] magento-engcom-team commented on #13835
@oe-bayram, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-27 10:19] maderlock commented on #7367
Are we still talking about the same problem? This is to do with multiple websites rather than random negative values? The latter could do with its own issue.

[2018-02-27 10:41] zakgrindle opened #13860 "Payment method (Braintree) can't be initialised IE10"
### Preconditions
1. PHP 7.0.23
2. Magento 2.2.0
3. NGINX Server
4. IE10 Browser

### Steps to reproduce
1. Enable Braintree payment method (sandbox)
2. Add item to cart
3. Go to checkout
4. Enter details and go to payment method
5. Select Braintree

### Expected result

1. Credit card form should be displayed and checkout can be continued

### Actual result

1. Magento error: Payment method (Brai

[2018-02-27 11:23] #12364 closed, assigned to nobody

[2018-02-27 11:32] magento-engcom-team commented on #13838
@vipin12117 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [x] Steps

[2018-02-27 11:38] magento-engcom-team commented on #13627
@Sonal824, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-27 11:38] #13627 closed, assigned to nobody

[2018-02-27 11:50] akshgods commented on #13810
@magento-engcom-team  , thanks for your reply . soon i will update latest release and check the issue .

[2018-02-27 12:18] kkdg commented on #6954
It's still happening, why @magento-engcom-team can't you reproduce it while many others can?

[2018-02-27 12:25] snoroozi commented on #12792
Yeah, the team wants some drawn out replication, but it's pretty straight
forward.

On Feb 27, 2018 4:49 AM, "tgrantmartin" <notifications@github.com> wrote:

[2018-02-27 12:38] harrigo opened #13863 "Bundle Product Attributes not Saving if Attribute doesn't exist in child products Attribute Set"
Bundle product attributes not saving if attribute doesn't exist in all of child products attribute sets.

### Preconditions
1. Magento 2.2.1
2. PHP 7

### Steps to reproduce
1. Create multiple attribute sets one simple one (AS1) and add an extra multiple select attribute (TESTAT) to the second attribute set AS2.  (May also be an issue with other attribute types however this is what i have tested w

[2018-02-27 12:39] hiren2615 opened #13864 "Sorting on country_of_manufacture product attribute not working"
Magento provide built-in product attribute with code **country_of_manufacture**. In admin product grid sorting on this attribute is not working.

### Preconditions
Magento Version : CE 2.2.2
PHP version     : PHP 7.0.18-1+deb.sury.org~xenial+1
MySQL version   : mysql Ver 14.14 Distrib 5.7.20

### Steps to reproduce
1. Navigate to admin catalog product grid
2. Using "Columns" selection add **Countr

[2018-02-27 12:42] magento-engcom-team commented on #12069
@EdenCoder , thanks for you report.  DynamicGrid UI component (that is used for adding bundled product options) do not support sorting between pages.

[2018-02-27 12:56] magento-engcom-team commented on #13116
Hi @zaheerbadi
We can not help you in your issue.
We don't support your OS (i mean Windows).
See: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html

[2018-02-27 12:56] #13116 closed, assigned to nobody

[2018-02-27 12:57] magento-engcom-team commented on #13116
@zaheerbadi, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-27 13:08] Sharlyll commented on #11697
am having same issues as Trlioworld.

magento 2.2.2
PHP 7

1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'title', attribute 'name': The attribute 'name' is not allowed.
Line: 1001

Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'title', attribute 'name': The attribute 'name' is not allowed.
Line: 1001

#0 /home/user/public_html/v

[2018-02-27 13:30] magento-engcom-team commented on #12069
@EdenCoder, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-27 13:31] johnny-longneck commented on #13536
I guess it has something to do with the configuration "add sitemap link to robots.txt" in the backend, but somehow the link is not correct. Any hint?

[2018-02-27 13:33] krzksz opened #13865 "Safari "Block all cookies" setting breaks JavaScript scripts"
### Preconditions

1. Magento 2.2.2 but potentially all versions are affected
2. _Block all cookies_ setting enabled in Safari privacy options.

### Steps to reproduce

1. Open Safari browser and go to _Preferences_
2. In _Privacy_ tab enable _Block all cookies_ setting.
3. Open any Magento shop.

### Expected result

1. At least the popup with "cookies disabled" message is being displayed.

### A

[2018-02-27 13:37] PetraSwed commented on #6754
15 000 products, 6 stores. It seem both problems (long reindex time and product disappearing) is connected to implementation of Elastic search (third party module). Using mysql for search - reindex takes 6 minutes and products are left in the category - but search is very slow

[2018-02-27 13:47] snoroozi commented on #12792
@tgrantmartin ours comes back periodically if we truncate the cron_schedule table. Something is getting clogged there.

[2018-02-27 14:08] magento-engcom-team commented on #13845
@pratikrgandhi, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-27 14:10] jonbunce commented on #4911
For me - disabling Siteground's supercacher for the domain fixed this problem

[2018-02-27 14:16] harrigo commented on #13863
I actually struggling to reproduce this now however have found a few more examples of this happening under the exact same conditions. Setting attribute sets to match the parent fixes it however reverting the attribute sets back does not break it and products continue to work as expected after fiddling with this...

[2018-02-27 14:33] magento-engcom-team commented on #13801
@shinesoftware. Unfortunately, we can't reproduce this issue.
We tested on Magento 2.1.9 and 2.2.2 Open Source installed by the composer.
![paypal](https://user-images.githubusercontent.com/31669971/36734344-da180cc0-1bdb-11e8-8f29-e17b54aab155.png)

[2018-02-27 14:33] AirmanAJK opened #13866 "Improved MySql Searching for exact matches over partial matches"
The built-in MySql search in Magento does not favor exact matches of search terms over matches that simply contain a search term.

### Preconditions

Magento 2.4-develop

1. Any Magento 2 version using the MySQL search using name as an indexed search attribute

### Steps to reproduce
Set up several product with names such as:
Prod
Product
Products

### Expected result
Searching just "Prod" should

[2018-02-27 14:45] amenk commented on #1471
I still have to problem in 2.1.10  The patch in https://github.com/magento/magento2/issues/1471#issuecomment-293903589 fixed it, but I do not understand it.

[2018-02-27 14:55] johnny-longneck commented on #13214
Can confirm this issue on live 2.2.2 site. It only appears when the store view code is added to the url.
For me it is:

www.domain.com/robots.txt <- Correct format, wrong sitemap link
www.domain.com/de/robots.txt <- Wrong format, correct sitemap link

[2018-02-27 15:13] magento-engcom-team commented on #13529
Hello @domeglic , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-02-27 15:27] himanshug-eh opened #13867 "Currency Switch Exhausts Memory"
### Preconditions
1. Magento 2.2.2
2. PHP 7.1
3. MariaDB 10.0
4. Apache 2.4.27
5. OS: Ubuntu 16.04
6. Kernel: 4.4.0-87-generic
7. PHP memory limit is set to 756MB

### Steps to reproduce
1. Open any product (Simple or Configurable)
2. Add the product to cart
3. Change currency from top bar

### Expected result
1. Currency should change

### Actual result
1. Website crashes with white page due to m

[2018-02-27 15:33] robbertstevens opened #13868 "Back button goes to the top of the grid instead of scrolling down to where you left off"
### Steps to reproduce

1. Go from a grid to an entity
2. Go back, either via back button or browser back button
3. You come back at the top of the grid.

### Expected result

1. Scroll to the location in the grid you left before you go to the entity

### Actual result

1. You come back to the  top of the grid

[2018-02-27 15:58] k4emic commented on #5463
This issue was **not** solved in 2.1.10 and is still present in the development branches for 2.1, 2.2 and 2.3.

2.1-develop: https://github.com/magento/magento2/blob/2.1.10/lib/internal/Magento/Framework/Encryption/Encryptor.php#L155

2.2-develop: https://github.com/magento/magento2/blob/2.2-develop/lib/internal/Magento/Framework/Encryption/Encryptor.php#L155

2.3-develop: https://github.com/magen

[2018-02-27 16:04] k4emic commented on #5463
@magento-engcom-team Please reopen this issue.

[2018-02-27 16:53] andy-rush-beerhawk commented on #11657
I was also having this problem with app:config:import
1) i counted the number of characters in the truncated json before i made the changes: 65534
2) updated the table:
ALTER TABLE flag MODIFY flag_data LONGTEXT;
UPDATE flag SET flag_data = '{"system":"","scopes":"","themes":""}' WHERE flag_code = 'config_hash';
UPDATE flag SET flag_data = '{}' WHERE flag_code = 'system_config_snapshot';
3) Then I

[2018-02-27 16:55] magento-engcom-team commented on #13791
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#13811 by @koenner01 in 2.2-develop branch
Related commit(s):
 - [60bfd47bc314907fad6e61b761984414f690be0b](https://github.com/magento/magento2/commit/60bfd47bc314907fad6e61b761984414f690be0b)

The fix will be available with the upcoming 2.2.4 release.

[2018-02-27 16:55] #13791 closed, assigned to nobody

[2018-02-27 16:55] magento-engcom-team commented on #13315
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#13777 by @Frodigo in 2.2-develop branch
Related commit(s):
 - [db7d29973e3d03f513ee9f5517567c902e99e8c5](https://github.com/magento/magento2/commit/db7d29973e3d03f513ee9f5517567c902e99e8c5)

The fix will be available with the upcoming 2.2.4 release.

[2018-02-27 16:55] #13315 closed, assigned to nobody

[2018-02-27 16:55] magento-engcom-team commented on #10595
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#13682 by @gwharton in 2.2-develop branch
Related commit(s):
 - [bf941eb6655ddf120b58691aaa1722412bd957d8](https://github.com/magento/magento2/commit/bf941eb6655ddf120b58691aaa1722412bd957d8)

The fix will be available with the upcoming 2.2.4 release.

[2018-02-27 16:58] vipin12117 opened #13869 "customer guest checkout address is not sending request to fetch estimate rates."
### Preconditions

1. Magento 2.2.2 CE
2. PHP 7.0.22

### Steps to reproduce

1. Add item to cart. Go to guest checkout or customer checkout.
2. Enter shipping address
3. Magento does not send request to get estimate shipping rates. If you refresh the page after adding address it will fetch rates in second time, why?

### Expected result

1. Magento should send request to get shipping rates. It wo

[2018-02-27 18:10] aeu commented on #12792
Hi @orlangur

That was my first thought too, but we also noticed the following:

1. We have had zero email confirmation issues using the integrated Authorized module
2. We switched to a third party PayPal module, and haven't seen the issue since.

[2018-02-27 18:12] aeu commented on #12792
Hi @snoroozi and @tgrantmartin - we switched to a 3rd party PayPal extension and have had absolutely zero issues since.  I don't know what the rules are here as far as mentioning extensions by name, but my email address is in my profile, I'll be happy to send you a link.

[2018-02-27 18:37] mamsincl opened #13870 "Magento 2.2.3 backend welcome message"
### Preconditions

1. fresh M2 OS 2.2.3
2. PHP 7.0.25-0ubuntu0.16.04.1 (cli) ( NTS )
3. mysql  Ver 14.14 Distrib 5.7.21, for Linux (x86_64) using  EditLine wrapper

### Steps to reproduce

1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition <dir>
2. install via web interface
3. login to backend

### Expected result

1. Modal of slides: what is ne

[2018-02-27 18:53] erikhansen commented on #10272
For the record, I ran into a similar error and resolved it by changing the `app/etc/env.php` file to change this:

[code]

to this:

[code]

[2018-02-27 21:01] sopedro commented on #10485
Not fixed in 2.2.3. :(

[2018-02-27 21:05] gjportegies commented on #6426
Issue still exists in version 2.2.3

[2018-02-27 22:19] okorshenko commented on #10838
The issue has been fixed in https://github.com/magento/magento2/commit/7759827ff277157d3cf1ae93b1392a73bc2538de  and delivered in https://github.com/magento/magento2/commit/25e31576b43f5b3fb25ba75aa1ed2860e907edf9

[2018-02-27 22:19] #10838 closed, assigned to sneig, dzianis-yurevich

[2018-02-27 22:33] okorshenko commented on #13870
#MageTitansMX

[2018-02-27 22:53] weraparra commented on #13833
OK, it seems to me that I sent the description of the problem in the
ticket, but here I send it back:
The pagebuilder of the venustheme does not work, it is loaded ... it does
not allow me to make modifications.
attachment screenshot ...

[image: Imágenes integradas 1]

Thank you!

Access Admin:

https://www.prodynamics.com.mx/prodynam_admin/admin/
us: marcela.parra
pass: wera123

2018-02-23 15:57

[2018-02-27 23:04] jaui21 opened #13873 "A customer with the same email already exists in an associated website"
### Preconditions
Magento 2.1.7
PHP 7.0

### Steps to reproduce
No matter what i do, either i signup  in the frontend or create a customer in the backend the system keeps giving me an error

Front-end Error Message:
**There is already an account with this email address. If you are sure that it is email address, click here to get your password and access your account.**

Back-end Error Message:
**A

[2018-02-27 23:16] fooman commented on #13866
@AirmanAJK thanks a lot for your report. Would you be interested in supplying your suggested changes as a pull request?

[2018-02-27 23:23] snez commented on #7769
@veloraven This is still an issue and manifests in the checkout front-end code:

![screen_shot_2018-02-27_at_23_20_40](https://user-images.githubusercontent.com/249977/36761016-14f4f64e-1c15-11e8-93e8-e473e2e2839f.jpg)

The grand total excludes the tax whereas the base grand total includes it, even if they are both in the same currency.

[2018-02-28 00:59] Heunsig opened #13875 "Invalid scope or scope id"
### Preconditions

1. Magento 2.2.1
2. PHP 7.1
3. MySQL 5.6.36-cll-lve - MySQL Community Server (GPL)
   UTF-8 Unicode (utf8)

### Steps to reproduce

1. I bought Business Premium Hosting on Godaddy, so I automatically installed Magento 2.2.1 through installation tool that Godaddy provides.
2.  After installing Magento 2, I logged in and tried to change a logo from basic Magento logo to my logo (C

[2018-02-28 01:15] ncompass commented on #5247
@tlc033
THE MAN IS NOT LYING. BEST QUICK FIX

[2018-02-28 01:59] rouralberto opened #13876 "Attribute not saving new values in 2.1.12"
### Preconditions
1. Magento 2.1.12
2. PHP 7.0.27
3. MySQL 5.7.21

#### PHP setup
- `memory_limit=1024M`
- `max_execution_time=18000`
- `max_input_time=6000`
- `post_max_size=128M`
- `upload_max_filesize=32M`

### Steps to reproduce
1. Open Attribute with type swatch in admin
2. Add a new swatch
3. Save Attribute

### Expected result
1. I save Attribute and I get "You saved the product attribute"

[2018-02-28 03:08] jason-zz commented on #10594
@kfriend and @garyhiggins1970 solution works great! Thank you.

[2018-02-28 03:13] jason-zz commented on #12413
This one works for me https://github.com/magento/magento2/issues/10594#issuecomment-349762653.

[2018-02-28 06:32] fwolfst commented on #5247
I could not udate these values via the admin backend. I guess in `core_config_values` table its these values: `web/secure/enable_upgrade_insecure` and `web/secure/enable_hsts`. However, setting these to "1" (where "0" before **did not solve** the issue for me.

[2018-02-28 06:33] magento-engcom-team commented on #13566
@algertzharri, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 06:33] #13566 closed, assigned to nobody

[2018-02-28 06:35] magento-engcom-team commented on #13594
@ashokbhati180, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 06:35] #13594 closed, assigned to nobody

[2018-02-28 06:54] devenkuswa commented on #13254
@magento-engcom-team Any update on this thread. When can we get release on it.

[2018-02-28 07:39] ihor-sviziev commented on #6426
@gjportegies could you prepare actual steps to reproduce on clean magento installation?

[2018-02-28 07:46] robert-damon opened #13879 "How to change the cache address of a picture to a real address？"
Through the background to upload product images, will generate "media / catalog / product / cache / f9c7fbe9b524c081a3ccf800cbd963eb / j / u / junyong04_21.jpg", the real path is "media / catalog / product / j / u / junyong04_21.jpg", I now hope Close this one picture cache, what should I do? , I am using magento2.2.2

I hope to change the method below to read "value" directly from catalog_product

[2018-02-28 07:47] xtfer commented on #6426
"Clean install of 2.2.2 using the CLI, in production mode." :)

[2018-02-28 07:50] ihor-sviziev commented on #6426
@xtfer this is not steps to reproduce. Which steps/commands should I execute in order to reproduce this issue?

[2018-02-28 07:50] magento-engcom-team commented on #13854
Hi @akshaykamble27. For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2018-02-28 07:50] #13854 closed, assigned to nobody

[2018-02-28 07:52] magento-engcom-team commented on #13854
@akshaykamble27, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-28 07:52] gjportegies commented on #6426
@ihor-sviziev I'm not sure at this point. But I think it happens when switching from production to developer mode while still having JS and CSS minifying and merging enabled.

[2018-02-28 08:19] silversil commented on #12185
I have same issue, how it is possible that it isn’t fixed?!?

[2018-02-28 08:29] jhruehl commented on #10838
Just updated to Magento 2.2.3 CE and it's not fixed. Had to apply my patch to make the customer grid indexer work again.
`scripts/magento.sh indexer:reindex customer_grid

Fatal error: Uncaught Error: Call to undefined method Magento\Customer\Model\Indexer\Source::addAttributeToSelect() in /mnt/host/projects/clients/qualipet/src/www/vendor/magento/framework/Indexer/Handler/AttributeHandler.php:38

[2018-02-28 08:33] vincentplc commented on #13526
Any update and solution on this issue?

[2018-02-28 08:34] hostep commented on #10838
@jhruehl: I'm pretty sure the fix is scheduled for 2.2.4 (see [my latest comment](https://github.com/magento/magento2/issues/10838#issuecomment-360065531)), 2.2.3 only fixes security issues, no other bug fixes as far as I can see.

[2018-02-28 08:34] jhruehl commented on #10838
Here's the patch again for everyone, who still needs a fix, because they have a custom customer attribute, which is used in grid, in their store.

[fix_customer_grid_indexer_add_missing_function.txt](https://github.com/magento/magento2/files/1766255/fix_customer_grid_indexer_add_missing_function.txt)

[2018-02-28 08:41] jhruehl commented on #10838
@hostep Doesn't really matter, if the issue is flagged with 'fixed in 2.2.x'. If they flagged the issue to be fixed, but the fix isn't even given in an update afterwards, the flag is quite misleading, isn't it? Then they should use a 'fixed in 2.2.4' flag and given that, I wouldn't even have reported the error. Again.

[2018-02-28 08:47] Vikram0811 commented on #13859
@magento-engcom-team any update on this issue ?

[2018-02-28 08:47] magento-engcom-team commented on #13879
Hello @Robert-Damon. Your issue is more appropriate for the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) than this forum. Please refer there. Thank You.

[2018-02-28 08:47] #13879 closed, assigned to nobody

[2018-02-28 08:49] magento-engcom-team commented on #13879
@Robert-Damon, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-28 08:51] mslabko commented on #13243
Hi @vtimonin, this issue was fixed in 2.2.x https://github.com/magento/magento2/commit/f9fc2faac3700ab10fa14c638034c7bfa988abea

[2018-02-28 08:56] magento-engcom-team commented on #13842
@Pankti16  thank you for your report
Unfortunately, we can't reproduce this issue.
Please try to reproduce this issue on the clean installation (clear, fresh, without any custom themes, third-party extensions, etc.) ver 2.2.2 and tell us the result.

[2018-02-28 09:01] magento-engcom-team commented on #13851
@gerben86, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-28 09:09] pawcioma opened #13880 "Duplicate messages when add to newsletter."
### Preconditions
1. Magento 2.1.7
2. Mysql  5.6.38-83.0
3. PHP 7.0.26

### Steps to reproduce
1. In main page make subscribe to newsletter.
2. Repeat step one second time without refresh page.

After I click subscribe page is reload. After load page I click again subscribe and message is duplicate. It is hard to reproduce when we don't have in main page widgets with product list.

### Expected re

[2018-02-28 09:30] magento-engcom-team commented on #13647
@terrybakshi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-02-28 09:30] #13647 closed, assigned to nobody

[2018-02-28 09:30] magento-engcom-team commented on #13583
@RishabhRkRai, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 09:30] #13583 closed, assigned to nobody

[2018-02-28 09:30] magento-engcom-team commented on #13510
@deepak-netwin, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 09:30] #13510 closed, assigned to nobody

[2018-02-28 09:48] mihaifaget opened #13881 "Products list widget error when condition is attribute with scope website"
## Preconditions

Magento Version 2.1.11
## Steps to reproduce

Install clean magento 2.1.11 and create a products list widget with condition on tax class, or add an attribute with scope website and use it as condition. Go to frontend at the page containing the widget
## Expected result

See the list of matching products
## Actual result

Column not found: 1054 Unknown column 'at_tax_class_id_defa

[2018-02-28 09:54] ankurvr commented on #13804
I have already created pull request for this bug fix. So i suggest to not putting this in backlog. And put it in Merging queue.

[2018-02-28 10:00] robbertstevens opened #13882 "When creating configurable products I cannot add simple products directly"
### Preconditions

1. Have a configurable product with no simples attached
2. Magento ver. 2.1.10

### Steps to reproduce

1. Have a configurable product
2. Click on Edit configurations
3. Go to step 4
4. no way to add simples.

### Expected result

1. abbility to add simple products instead of fake product first
2. then remove fake product and and simples

### Actual result

1. No button to add s

[2018-02-28 10:14] KooTjoo commented on #8411
I am using Magento 2.2.3 and have exact same question as above. I think Magento perhaps doesn't do this by default but is there perhaps an extension that might handle this?

[2018-02-28 10:19] KooTjoo opened #13883 "Customer not being able to download newer version of downloadable product"
### Preconditions
1. Magento 2.2.3
2. PHP 7.1

### Steps to reproduce
1. A customer purchases a downloadable product
2. The store owner uploads a new version (a new file) for that product.
3. The store owner reindexs the system and refreshes cache.
4. The customer downloads product again

### Expected result
1. The system sends an email to notify customers of the updated product.
2. Customers are

[2018-02-28 10:24] MaximilianSchwarz commented on #11998
I have the same issue in Magento 2.2.2. Is there any new information about this bug?

[2018-02-28 10:47] essexboyupnorth commented on #6426
Similar situation to @xtfer. Clean install of Magento 2.2.3 using:
- composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition
- This ran without errors, moved all files up to htdocs.
- Accessed the setup wizard in a browser using the server IP address. The wizard ran successfully.
- Launch admin gives me "There has been an error processing your request"

[2018-02-28 11:17] Pankti16 commented on #13842
I can't reproduce the issue on the clean installation in magento 2.2.2. But in my current site, it is giving me Error creating date object from string in jquery-ui-timepicker-addon.js at 2118:4 in my console.
I am unable to understand why it is so and when I inspected my admin product date filed, it showed value="Invalid Date". It would be so kind of you to help me detect problem if possible.

Tha

[2018-02-28 11:37] magento-engcom-team commented on #13504
@minhluan259, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 11:37] #13504 closed, assigned to nobody

[2018-02-28 11:37] magento-engcom-team commented on #13447
@linden2015, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 11:37] #13447 closed, assigned to nobody

[2018-02-28 11:46] christoferd commented on #11170
Same problem. Xampp on Windows 10.
All requirements are installed.
Flew through the setup perfect.
Static assets missing.
One of the many errors in web developer console:
Refused to apply style from 'http://magento.theupstyler.com/pub/static/version1519808854/adminhtml/Magento/backend/en_GB/extjs/resources/css/ext-all.css' because its MIME type ('text/html') is not a supported stylesheet MIME type

[2018-02-28 11:57] magento-engcom-team commented on #13504
@minhluan259, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 11:58] magento-engcom-team commented on #13447
@linden2015, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 11:58] magento-engcom-team commented on #13416
@oroskodias, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 11:58] #13416 closed, assigned to nobody

[2018-02-28 11:58] magento-engcom-team commented on #12778
@fouli86, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 11:58] magento-engcom-team commented on #12617
@meeweed, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 11:58] #12778 closed, assigned to nobody

[2018-02-28 11:58] #12617 closed, assigned to nobody

[2018-02-28 12:02] magento-engcom-team commented on #13695
@dudzio12 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 12:02] #13695 closed, assigned to nobody

[2018-02-28 12:05] magento-engcom-team commented on #13662
@qozmiq we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 12:05] #13662 closed, assigned to nobody

[2018-02-28 12:26] magento-engcom-team commented on #13875
@Heunsig  thank you for your report.
  Unfortunately, we can't reproduce this issue.
  We tried to reproduce this issue on the clean installation (clear, fresh, without any custom themes, third-party extensions, etc.) ver 2.2.3. (See images below)

  Please provide us more information on how you did it step by step.

![1](https://user-images.githubusercontent.com/31669971/36787561-772cdba2-1c82-11

[2018-02-28 12:30] magento-engcom-team commented on #13707
@hi-rafa, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-28 12:30] magento-engcom-team commented on #13864
@hiren-wagento, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-28 12:31] orlangur commented on #13883
Hi @KooTjoo,

What is the base for such expectation? Is it documented somewhere?

[2018-02-28 12:36] orlangur commented on #13880
What is observed behavior currently when you subscribe to newsletter, visit some other pages and then subscribe again?

[2018-02-28 12:48] VZeroCool opened #13888 "Error while sending registration email to customer in Magento 2.2.3 CE"
Getting error while creating new customer programatically with Lattest Magento 2.2.3

### Preconditions

1.  Magento 2.2.3 CE, PHP - 7.0.9

### Steps to reproduce

1. Create custom script to create new customer and try to send default registration mail.

### Expected result

1.  Customer has to created successfully and send mail to given email address.

### Actual result

1. Getting below errors.

[2018-02-28 12:53] KooTjoo commented on #13883
Thought this would be great feature, but leave that. How can I make the customer be able to retrive updated file for download. Is Magento capable of doing that?

[2018-02-28 12:55] magento-engcom-team commented on #13503
@heyepic, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 12:55] #13503 closed, assigned to nobody

[2018-02-28 12:58] magento-engcom-team commented on #13511
@albertomario, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 12:58] #13511 closed, assigned to nobody

[2018-02-28 12:59] orlangur commented on #13883
I'm not sure downloadable product is supposed to be used that way. You prepare file for distribution first and then you publish it as a downloadable product.

Could you provide more information on such use case?

[2018-02-28 13:00] magento-engcom-team commented on #13612
@kamal3294, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 13:04] KooTjoo commented on #13883
Let's say I sell Magento Extensions with free upgrades. If a new version of an extesnion becomes available how do my customers download that new version? Just updating in the product itself doesn't do this.

[2018-02-28 13:05] magento-engcom-team commented on #13668
@foykes, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 13:05] #13668 closed, assigned to nobody

[2018-02-28 13:07] magento-engcom-team commented on #13670
@Kdavis113, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 13:07] #13670 closed, assigned to nobody

[2018-02-28 13:09] magento-engcom-team commented on #13671
@mdinfo007, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 13:09] #13671 closed, assigned to nobody

[2018-02-28 13:12] magento-engcom-team commented on #13697
@hpsjhabd, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 13:12] #13697 closed, assigned to nobody

[2018-02-28 13:13] magento-engcom-team commented on #13710
@edwardlscott, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 13:13] #13710 closed, assigned to nobody

[2018-02-28 13:15] magento-engcom-team commented on #13722
@NisaKH, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-02-28 13:15] #13722 closed, assigned to nobody

[2018-02-28 13:20] akhileshlpatel opened #13889 "Customer is automatically logged out during checkout process or sometime after order is placed"
Logged In customer automatically logged out during the checkout process when one of the catalog setting is set to YES in admin. This issue occurred when user come to the checkout page and sometimes just after placing an order. Sometimes when user just refresh the checkout page.

**Preconditions**

1. Magento CE 2.2.2 with sample data is installed. PHP 7.0.26

**Steps to reproduce**

1. Enable the

[2018-02-28 13:30] magento-engcom-team commented on #13793
@koenner01, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-28 13:58] agavshinde opened #13890 "We can't find quote item error on configurable product after updating item in Edge Browser"
After update the Configurable Cart item, we are getting error message "We can't find the quote item." but cart data is updated into database and cart as well.

1. Magento Version 2.1.5
2. PHP 7.0, MySQL 5.6

### Steps to reproduce

1.  Add Configurable product with select particular option to Cart
2.  Goto View Cart page
3.  Then Edit cart item and go to update item page
4.  After updating redirec

[2018-02-28 14:22] harrigo opened #13891 "JS Error on products using swatches for configuration when configuration set via URL"
I have a set of shoes that use swatches for both size and colour. When visiting via a url that sets the configurations automatically only the first swatch is set and errors are shown within console.

### Preconditions

1. Magento 2.2.1 - 2.2.3

### Steps to reproduce
1. Create 2 attribute sets using swatches e.g colour and size.
2. Set up a configurable product that uses these 2 attribute sets for

[2018-02-28 14:24] patrick-bigbridge commented on #10754
I tried this commit. It doesn't work for me for the case described in this issue.

[2018-02-28 14:24] hostep commented on #13881
Confirmed on a clean Magento 2.1.12 and bug seems to be introduced in 2.1.11 by MAGETWO-75526

Addition to **steps to reproduce** of above: make sure you have at least one product with that specific tax class.

The bug happens because in scope of MAGETWO-75526 something was added to try to fetch the default value of an attribute in the sql query, this seems to be the most relevant commit, but ther

[2018-02-28 14:29] magento-engcom-team commented on #13773
Hi @webspeaks
Can you tell the real time when order was created?

[2018-02-28 14:30] magento-engcom-team commented on #13866
@AirmanAJK, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-28 14:38] magento-engcom-team commented on #13883
@KooTjoo, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-02-28 14:47] openwavecomputing opened #13892 "Magento 2 Admin login not working properly"
**Magento 2 Admin login not working properly.**

I can't seem to login into my magento 2 backend. When I enter the correct credentials it just redirects me to the login page with no error.

It will work good only after browser cache was cleaned. Can you please tell me the permanent solution for this because i'm not in the position to ask my client each and every time clear your browser cache.

###

[2018-02-28 14:48] cherreman commented on #7720
I'm not following the argument that this is a feature. The inner workings for saving a product are not intuitive and IMHO not correct: When I'm given the option of getting a product for a specific store, and I update that product, I would expect that a save operation would update that exact product (based on its store id).

If store emulation needs to be used, then the API would need to indicate t

[2018-02-28 15:01] magento-engcom-team commented on #13856
@Sonal824, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-28 15:07] magento-engcom-team commented on #13882
@robbertstevens, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-02-28 15:29] WilXP commented on #12803
@p-bystritsky Hey there, can you please point me to the code in 2.2 where this is fixed? I need to fix this in 2.1 .

[2018-02-28 16:20] EugenOrosan commented on #11542
@leahaense How did you fixed this ? I know it is because i dumped my config.php, but what should I do in order to have the fields editable again ?

[2018-02-28 16:30] ishakhsuvarov commented on #11347
@ebaschiera I am closing this ticket for now as the fix seems to be delivered to the appropriate branches and will be released soon.

[2018-02-28 16:33] leahaense commented on #11542
@EugenOrosan check this out: https://magento.stackexchange.com/questions/196912/appconfigdump-locks-everything-in-configuration, that helped me

[2018-02-28 16:34] magento-engcom-team commented on #13891
@harrigo, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation of latest release.

[2018-02-28 16:36] magento-engcom-team commented on #13890
@agavshinde, thank you for your report.
We tested on 2.1.12 and 2.2.3 versions and were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on latest release `2.1.x` or `2.2.x`.

[2018-02-28 16:41] magento-engcom-team commented on #13892
@openwavecomputing, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [

[2018-02-28 17:47] snoroozi commented on #8670
As far as i can tell this issue stands in 2.2.2

[2018-02-28 17:48] elioermini commented on #13427
We are having the same issues on 2.1.11 Commerce

[2018-02-28 18:21] ishakhsuvarov commented on #5843
Hi @nmallepally, @s00071609, @zack6849, @maderlock
Fix for the issue should be delivered with the 2.2.4 release with the commit 137dc666d76cc262f435cae22cd7f0f8759999ee

[2018-02-28 18:31] ishakhsuvarov commented on #10485
Fix for the issue is currently targeting release 2.2.4

[2018-02-28 18:39] Ctucker9233 commented on #13258
@magento-engcom-team Any news on this? It's an issue on 2.1.x, which I see has been acknowledged.

[2018-02-28 19:04] nshiff commented on #13868
@robbertstevens Hello. In order to ensure issues are addressed as effectively as possible, the Magento team requires that issues conform to a common format and provide some basic information. Your post has been automatically tagged as "G1 Failed," which means you left out some of the required information. Please review the guidelines and update your post: https://github.com/magento/magento2/wiki/I

[2018-02-28 19:21] SeaLuke opened #13895 "Magento 2.2.2 don't change backend's language"
Ciao a tutti! I followed the procedure to change the language but it did not change;
I talked to my provider and there are no problems with the server.
I attach you a screenshot.
Many tanks
![ss01](https://user-images.githubusercontent.com/36933112/36808136-b9ec8dec-1cc4-11e8-8a27-bfe2c6a3942e.jpg)
![ss2](https://user-images.githubusercontent.com/36933112/36808138-ba1e1aec-1cc4-11e8-9fde-5a7e0a7ec

[2018-02-28 19:25] cationstudio commented on #13149
bump
I have the same issue using Magento 2.2.3

[2018-02-28 19:29] Ctucker9233 commented on #4696
@ishakhsuvarov I see this issue is acknowledged for 2.1.x, so any idea when this will be backported?

[2018-02-28 20:28] Ctucker9233 commented on #5988
@magento-engcom-team This is fixed for 2.1x now correct? Has it been released in a particular version?

[2018-02-28 20:34] Ctucker9233 commented on #5923
@magento-engcom-team Will the backport for 2.1 make it into the next release?

[2018-02-28 20:40] Ctucker9233 commented on #4817
@magento-engcom-team It looks like this has been fixed and released in 2.1.11. Can you confirm that?

[2018-02-28 20:41] Heunsig commented on #13875
Actually, I didn't do anything.
Just I installed Magento 2.2.3 through installation tool that Godaddy has provided and then I tried to change a logo like your snapshots.

I do nothing.

[2018-02-28 20:43] okorshenko commented on #1405
Hi @btwq for research. Closing the issue

[2018-02-28 20:43] #1405 closed

[2018-02-28 20:48] okorshenko commented on #1673
Hi @moleman this is not an issue but improvement to the modularity. Closing the issue. But we have MAGETWO-70242 in our backlog to improve this.

[2018-02-28 20:48] #1673 closed

[2018-02-28 20:48] hostep commented on #5988
@Ctucker9233: by quickly looking at the class `Magento\Email\Model\Plugin\TransportInterfacePlugin` in various versions of 2.1, and I can see the class was introduced in version 2.1.8, and the [release notes for 2.1.8](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.8CE.html) also mention this:

So should be fixed in 2.1.x indeed! :)

[2018-02-28 20:56] magento-engcom-team commented on #1593
Hi @Pakkapao the issue has been fixed in https://github.com/magento/magento2/commit/16c0741fb1d2c7ef07e93f135e80e726f7596724
Thank you for your report

[2018-02-28 20:56] #1593 closed

[2018-02-28 20:59] magento-engcom-team commented on #1633
Hi @bvboas
Your request has been rejected by PO. Anyway that you for report

[2018-02-28 20:59] #1633 closed

[2018-02-28 21:03] magento-engcom-team commented on #1675
Hi @dmitry-fedyuk
Due to Backward compatibility policy the method getRequestUri() can not be added to `RequestInterface`. But we have MAGETWO-43626 in our backlog. As a possible solution we will deprecate this interface and introduce new one.

[2018-02-28 21:03] #1675 closed

[2018-02-28 21:06] magento-engcom-team commented on #1779
Hi @joshpennington Thank you for your report. Unfortunately we can not change `\Magento\Shipping\Model\Carrier\CarrierInterface` interface due to backward compatibility policy. We have MAGETWO-42591 to introduce new shipping carrier API.

[2018-02-28 21:06] #1779 closed

[2018-02-28 21:10] magento-engcom-team commented on #6457
Hi @heldchen. Thank you for your report.
The issue has been fixed in magento/magento2#13490 by @simpleadm in 2.1-develop branch
Related commit(s):
 - [40ddfc0963e8afd7329f76ebf2e0b2cdb57ec77d](https://github.com/magento/magento2/commit/40ddfc0963e8afd7329f76ebf2e0b2cdb57ec77d)

The fix will be available with the upcoming 2.1.13 release.

[2018-02-28 21:10] magento-engcom-team commented on #6729
Hi @kandrejevs. Thank you for your report.
The issue has been fixed in magento/magento2#13490 by @simpleadm in 2.1-develop branch
Related commit(s):
 - [40ddfc0963e8afd7329f76ebf2e0b2cdb57ec77d](https://github.com/magento/magento2/commit/40ddfc0963e8afd7329f76ebf2e0b2cdb57ec77d)

The fix will be available with the upcoming 2.1.13 release.

[2018-02-28 21:10] magento-engcom-team commented on #7362
Hi @valenciaisaza. Thank you for your report.
The issue has been fixed in magento/magento2#13490 by @simpleadm in 2.1-develop branch
Related commit(s):
 - [40ddfc0963e8afd7329f76ebf2e0b2cdb57ec77d](https://github.com/magento/magento2/commit/40ddfc0963e8afd7329f76ebf2e0b2cdb57ec77d)

The fix will be available with the upcoming 2.1.13 release.

[2018-02-28 21:17] Ctucker9233 commented on #6771
@magento-engcom-team I created a backport to 2.1.x for this as it appears it hasn't been done yet.

[2018-02-28 21:27] #13350 closed, assigned to thangtd

[2018-02-28 21:27] magento-engcom-team commented on #13827
Hi @Munszu. Thank you for your report.
The issue has been fixed in magento/magento2#13844 by @julienanquetil in 2.2-develop branch
Related commit(s):
 - [5843e815a57a514226ec5d2104afb4b2d4fea726](https://github.com/magento/magento2/commit/5843e815a57a514226ec5d2104afb4b2d4fea726)
 - [0d5197f8619b34dce648e554b7c317faeb56ca15](https://github.com/magento/magento2/commit/0d5197f8619b34dce648e554b7c317

[2018-02-28 21:27] magento-engcom-team commented on #4454
Hi @zhiyicai. Thank you for your report.
The issue has been fixed in magento/magento2#13817 by @cedricziel in 2.2-develop branch
Related commit(s):
 - [341cdafb924a57c70c514ddee8d18c98d61a92a6](https://github.com/magento/magento2/commit/341cdafb924a57c70c514ddee8d18c98d61a92a6)

The fix will be available with the upcoming 2.2.4 release.

[2018-02-28 21:27] magento-engcom-team commented on #5863
Hi @kayintveen. Thank you for your report.
The issue has been fixed in magento/magento2#13567 by @adrien-louis-r in 2.2-develop branch
Related commit(s):
 - [1ef4dcc110062612e9971d7f8fb788bef213df3f](https://github.com/magento/magento2/commit/1ef4dcc110062612e9971d7f8fb788bef213df3f)
 - [864f371aed88884fb73082deb0c856819c43a41f](https://github.com/magento/magento2/commit/864f371aed88884fb73082deb0

[2018-02-28 21:27] #8227 closed, assigned to nobody

[2018-02-28 21:27] magento-engcom-team commented on #8957
Hi @MarcoGrecoBitbull. Thank you for your report.
The issue has been fixed in magento/magento2#13567 by @adrien-louis-r in 2.2-develop branch
Related commit(s):
 - [1ef4dcc110062612e9971d7f8fb788bef213df3f](https://github.com/magento/magento2/commit/1ef4dcc110062612e9971d7f8fb788bef213df3f)
 - [864f371aed88884fb73082deb0c856819c43a41f](https://github.com/magento/magento2/commit/864f371aed88884fb73

[2018-02-28 21:27] #8957 closed, assigned to nobody

[2018-02-28 21:27] magento-engcom-team commented on #10073
Hi @sergei-sss. Thank you for your report.
The issue has been fixed in magento/magento2#13567 by @adrien-louis-r in 2.2-develop branch
Related commit(s):
 - [1ef4dcc110062612e9971d7f8fb788bef213df3f](https://github.com/magento/magento2/commit/1ef4dcc110062612e9971d7f8fb788bef213df3f)
 - [864f371aed88884fb73082deb0c856819c43a41f](https://github.com/magento/magento2/commit/864f371aed88884fb73082deb0

[2018-02-28 21:27] #10073 closed, assigned to nobody

[2018-02-28 21:27] magento-engcom-team commented on #13240
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#13567 by @adrien-louis-r in 2.2-develop branch
Related commit(s):
 - [1ef4dcc110062612e9971d7f8fb788bef213df3f](https://github.com/magento/magento2/commit/1ef4dcc110062612e9971d7f8fb788bef213df3f)
 - [864f371aed88884fb73082deb0c856819c43a41f](https://github.com/magento/magento2/commit/864f371aed88884fb73082deb0c

[2018-02-28 21:27] magento-engcom-team commented on #12711
Hi @alena-marchenko. Thank you for your report.
The issue has been fixed in magento/magento2#13038 by @pareshpansuriya in 2.2-develop branch
Related commit(s):
 - [6144c4f0b6d37908ca58e7fe065091299da7d7dc](https://github.com/magento/magento2/commit/6144c4f0b6d37908ca58e7fe065091299da7d7dc)
 - [7e913f177b1962d887a56af2e98dd8e2ef6748aa](https://github.com/magento/magento2/commit/7e913f177b1962d887a5

[2018-02-28 21:27] #12711 closed, assigned to pradeep-wagento

[2018-02-28 21:27] #13240 closed, assigned to nobody

[2018-02-28 21:27] magento-engcom-team commented on #13768
Hi @janssensjelle. Thank you for your report.
The issue has been fixed in magento/magento2#13787 by @nuzil in 2.2-develop branch
Related commit(s):
 - [96a8b5817fb0fdbea8701ba1f0e5a7ca404a82e2](https://github.com/magento/magento2/commit/96a8b5817fb0fdbea8701ba1f0e5a7ca404a82e2)

The fix will be available with the upcoming 2.2.4 release.

[2018-02-28 21:27] #13768 closed, assigned to nobody

[2018-02-28 21:39] jernejh commented on #12428
This certainly is an issue. I can confirm it for the 2.2.3 version.

[2018-02-28 21:45] jernejh commented on #12097
I encoutered the issue when upgrading from 2.2.1 to 2.2.3.

@MindaugasSV temporary fix allows php bin/magento setup:upgrade to finish successfully, and also allows changing the configuration of the store in the backend without the same error. But still, a more holistic (and safe?) solution to the problem would be neat.

[2018-02-28 21:49] gilbertsohal commented on #13112
@magento-engcom-team

Have you solved this issue in 2.2.3?

[2018-02-28 22:16] halabuda commented on #13863
I can confirm the same issue on Magento 2.2.2 PHP 7.0.9. The workaround to use the bulk attribute editor did work as expected, as did the workaround to ensure the bundle parent and children share the same attribute set. Additionally I have found that if I delete ALL the bundle items from the page and save, no error is produced but the bundle items are NOT actually deleted. Removing the bundle item

[2018-02-28 23:01] magento-engcom-team commented on #8070
HI @maxbucknell Thank you for your report. We have the task in our backlog for components update. it would be really helpful if you can submit a pull request for the components which you would like to update. It would be better to have separate PRs for each component so that we can track and test in individually. Closing this issue.

[2018-02-28 23:01] #8070 closed, assigned to nobody

[2018-02-28 23:14] paginasweb commented on #12683
you are the boss, mod_version was the issue , thanks

[2018-03-01 00:45] paginasweb commented on #13398
i  just installed 2.2.3 and same issue, i dont have ad block, i dont have any network errors , its just a demo site, zero plugins or anything, weird

![capture](https://user-images.githubusercontent.com/2107317/36821181-a8ecdc4a-1cbf-11e8-9bb2-104e58b928c2.JPG)

[2018-03-01 03:29] jmbatty commented on #6954
I too have the same behavior on 2.2.2
I have 3 store fronts / websites under the same magento install, and order confirmations for the store front #2 or #3 will not use the email address of the default (#1) store. which is for me sales@example.com.

[2018-03-01 03:52] sl02 opened #13899 "Postal code (zip code) for Canada should allow postal codes without space"
This is practically a copy-paste of issue #11898, which was for Netherlands.

### Issue

Zip code validation warning on adresses from Canada.
Current validation is A1B 2C3
This should also allow postal code without space A1B2C3

### Preconditions

Tested only on 2.2.

### Steps to reproduce

Go to cart or checkout, select Canada and insert postal code A1B2C3

### Expected result

No warning

### A

[2018-03-01 04:08] Arthi22 opened #13900 "Sidebar not displaying the third layer sub categories"
Please visit our website https://balloonconnexion.com/balloon-products.html . On sidebar the sub categories are open until two layers. The third layer of sub categories are not opening. On the navigation menu bar the sub categories are displaying well. But on sidebar its only opening until two layer of sub categories

### Preconditions

1. Magento version 2.1.8
2.

### Steps to reproduce

1.
2.
3.

[2018-03-01 04:24] mytran89 opened #13901 "Braintree sometimes gives API Client Misconfigured in Production Mode"
### Preconditions

1. Magento 2.1
2. Production Mode

### Steps to reproduce

1. Add product to the cart
2. Go to checkout
3. Select Braintree as payment method
4. Fill in credit card information

### Expected result

1. Proceed to next step

### Actual result

1. When the customer entered credit card details and tried to progress through the processing stage, it just sat on the spinning wheel and

[2018-03-01 06:48] Ananth747 commented on #13662
@qozmiq
* Removed in magento 2.2.2 : `<reference name="head">` tag

New method works on Magento 2.2.2 or later:
[code]

[2018-03-01 07:00] thlassche opened #13902 "Carrier codes with '_' (underscores) break several payment API's"
### Preconditions
1. Magento version >= 2.2

### Steps to reproduce
1. Create a carrier with carrier code 'test_carrier' for example config.xml:
[code]
2. Login as customer
3. Go to the checkout, select created carrier and see that for example POST set-payment-information fails

### Expected result
1. Order placement works

### Actual result
1. Several web api request fail with 400 bad request, pl

[2018-03-01 08:01] #13175 closed, assigned to nobody

[2018-03-01 08:02] #13313 closed, assigned to nobody

[2018-03-01 08:04] #13805 closed, assigned to nobody