[2018-12-24 10:57] engcom-backlog-andrii commented on #4567
@magento-engcom-team give me 2.2.7 instance

[2018-12-24 10:57] magento-engcom-team commented on #4567
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2018-12-24 10:58] magento-engcom-team commented on #4567
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-4567-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-4567-2-2-7.instances.magento-community.engineering/admin](https://i-4567-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-24 11:01] anonspkdk opened #19956 "Magento 2 : Remove Specific Product From All Active Carts"
i am trying to remove specific product from all active carts.

[code]
Through this code when i disable any product from admin pannel, it automatically removes that product from all of the active carts
but i have one problem, it doesn't update minicart.

https://i.stack.imgur.com/BYzDo.png

As you can see in picture the inner portion of minicart is updating correctly like now i have one product in

[2018-12-24 11:01] magento-engcom-team commented on #19956
Hi @anonspkdk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-24 11:01] magento-engcom-team commented on #19956
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-24 11:06] engcom-backlog-nazar commented on #19956
Hi @anonspkdk This is not best practice to delete product from quote. please use repository.

[2018-12-24 11:06] #19956 closed, assigned to nobody

[2018-12-24 11:08] edwinljacobs commented on #19934
Having the same problem here.

[2018-12-24 11:21] engcom-backlog-andrii commented on #4567
@sarfarazbheda, thank you for details that you provided. Unfortunately, I was not able to reproduce it on 2.3.0.

[2018-12-24 11:33] Stepa4man commented on #19934
Hey, what the status of this issue?
Are there any workarounds?
I have the same issue for 2.3.0, installing project with a composer from scratch

[2018-12-24 11:42] DanielRuf commented on #19934
See https://github.com/magento/magento2/issues/19283#issuecomment-442472271 an the other possible solutions.

[2018-12-24 11:52] Stepa4man commented on #19934
Hey, @DanielRuf, thanks, but it doesn't work for me:
![image](https://user-images.githubusercontent.com/15912461/50398797-11aa6280-0783-11e9-8d1d-8ea44e1e5044.png)
I'm trying to install new project.

[2018-12-24 11:56] unicoder88 opened #19957 "Creating creditmemo doesn't fire model_save_commit_after, sales_order_creditmemo_save_commit_after events"
### Preconditions (*)

1. Magento 2.2.6 Community edition.
2. I believe this problem is still relevant in Magento 2.3.0 Community edition since [Magento\Sales\Model\Service\CreditmemoService::refund](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Sales/Model/Service/CreditmemoService.php#L145) has not changed.
3. *WORKS IN Commerce Edition* - events are eventually fired in c

[2018-12-24 11:56] magento-engcom-team commented on #19957
Hi @unicoder88. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-24 12:00] andrewbess commented on #19934
Hey, everybody
I also have this problem.
How to fix it?

[2018-12-24 12:02] engcom-backlog-andrii commented on #6073
This issue is fixed on 2.3.0.

[2018-12-24 12:02] #6073 closed, assigned to alena-marchenko

[2018-12-24 12:16] magento-engcom-team commented on #19957
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-24 12:25] AleksLi opened #19958 "Magento 2.3 error. Product Tier price delete saved tier prices."
### Preconditions (*)

1.Magento 2.3.0
2.PHP 7.1.19

### Steps to reproduce (*)

1. Go to admin products
2. Go to any product and add any tier price. Save product.
3. Try to remove one of the tier prices. Save product.

### Expected result (*)

1. Tier price should be removed successfully. Product should be saved without errors.

### Actual result (*)

1. ![sprite yoga strap 8 foot products invent

[2018-12-24 12:35] DanielRuf commented on #19934
See the linked issue. It's basically an issue with the composer lock file.
And there are also some solutions posted like getting the checksum from the archive and updating the lockfile.

[2018-12-24 12:36] DanielRuf commented on #19934
See the linked issue. It's basically an issue with the composer lockfile.
And there are also some solutions posted like getting the checksum from the archive and updating the lockfile.

[2018-12-24 12:39] magento-engcom-team commented on #9377
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-24 12:41] engcom-backlog-nazar commented on #19957
HI @unicoder88 thank you for you report, this events available only on EE version.

[2018-12-24 12:41] #19957 closed, assigned to nobody

[2018-12-24 12:41] magento-engcom-team commented on #9059
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-24 12:42] magento-engcom-team commented on #12215
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-24 12:44] magento-engcom-team commented on #19958
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-24 12:49] unicoder88 commented on #19957
Hi @engcom-backlog-nazar , thanks for your review. Exactly, they are *broken* on CE :) So I would like them fixed, by means of an issue or pull request if we have an idea for proper fix.

Please reopen the issue, we (developers) need this event, we deserved it :)

[2018-12-24 12:53] engcom-backlog-nazar commented on #19957
@unicoder88  ok, you can open here -> https://github.com/magento/community-features/issues

[2018-12-24 13:05] engcom-backlog-nazar commented on #19958
Hi @AleksLi thank you for you report, i'm not able to reproduce following steps you described, on clean magento 2.3.0 instance, this may be related to your custom modules.

[2018-12-24 13:05] #19958 closed, assigned to nobody

[2018-12-24 13:07] engcom-backlog-andrii commented on #12504
Online payments that were interrupted by error will have this behavior. The cart will keep the product. But after successful payment t5he cart is empty on 2.3.0

[2018-12-24 13:07] #12504 closed, assigned to nobody

[2018-12-24 13:08] MichielTG opened #19959 "Magento 2.3 | 404 error when deleting a newly created attribute set"
### Preconditions (*)

1. Magento version 2.3

### Steps to reproduce (*)

1. Add an attribute set
2. Try to delete the set

### Expected result (*)

1. The attribute set is deleted

### Actual result (*)

1. 404 error page in admin backend
![schermafbeelding 2018-12-24 om 14 06 47](https://user-images.githubusercontent.com/46106706/50400206-2daf0380-0785-11e9-8c6a-388637cd0b68.png)

[2018-12-24 13:08] magento-engcom-team commented on #19959
Hi @MichielTG. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-24 13:08] magento-engcom-team commented on #19959
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-24 13:09] engcom-backlog-nazar commented on #19959
Hi @MichielTG thank you for you report, this is duplicate to this -> https://github.com/magento/magento2/issues/19607

[2018-12-24 13:09] #19959 closed, assigned to nobody

[2018-12-24 13:12] magento-engcom-team commented on #15965
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-24 13:13] engcom-backlog-andrii commented on #15965
Closed as not reproducible on 2.3-develop

[2018-12-24 13:13] #15965 closed, assigned to nobody

[2018-12-24 13:15] magento-engcom-team commented on #7843
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-24 13:15] sdzhepa commented on #15923
Hello @vovsky and @Ctucker9233

I found the issue was fixed

Should be available for 2.2.6, see commits for more details:
- 2434fc2d7094692d4541ae4b3a084b46f30f433e

Should be available for 2.3.0 see commits for more details:
- f8a27742d912ec07b5e2d45ba5798c2374e59c69
- fce92ae9d06c2ff73a6e9dc4a37c704930522018

This ticket can be closed.
Please, feel free to reopen or create new one if issue still

[2018-12-24 13:15] #15923 closed, assigned to nobody

[2018-12-24 13:15] magento-engcom-team commented on #7176
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-12-24 13:25] MichielTG opened #19960 "Design config edit for default theme keeps loading in Magento 2.3"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Add a custom theme to Magento 2.3
2. Go to Design -> Configuration
3. Select the first default view
4. Select the custom theme and press save

### Expected result (*)

1. The settings page theme/design_config/edit/scope/default/ opens normally

### Actual result (*)

5. Go the the design_config_grid_flat table
![schermafbeelding

[2018-12-24 13:26] #7843 closed, assigned to nobody

[2018-12-24 13:26] #10922 closed, assigned to hervebackstage

[2018-12-24 13:38] MichielTG commented on #19960
### Steps to reproduce (*)

1. Add a custom theme to Magento 2.3
2. Go to Design -> Configuration
3. Select the first default view
4. Select the custom theme and press save

[2018-12-24 13:38] MichielTG commented on #19960
Issue: Confirmed

[2018-12-24 13:39] MichielTG commented on #19960
I'm unable to add a custom theme to the vanilla environment, so I can't test this.

[2018-12-24 13:40] magento-engcom-team commented on #19960
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97323` were created

[2018-12-24 13:45] alex9434 opened #19961 "Country of manufacture: missing countries"
Magento Version 2.2.6
### Steps to reproduce (*)
1. Create new product
2. Select DropDown for manufacture

### Expected result (*)
1. Able to select "Korea" as country of manufacture

### Actual result (*)
1. Countries like "Korea" or "EU" are missing

[2018-12-24 13:45] magento-engcom-team commented on #19961
Hi @alex9434. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-24 13:48] alex9434 commented on #19961
Provided all required information. Issue is on vanilla installation of Magento 2.2.6 with PHP 7.1 on Ubuntu 18.4 on 64bit in LXC container.

[2018-12-24 13:49] magento-engcom-team commented on #19961
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-24 13:52] engcom-backlog-nazar commented on #19961
Hi @alex9434  thank you for you report, this is expected behavior you can select e.g south Korea

[2018-12-24 13:52] #19961 closed, assigned to nobody

[2018-12-24 13:54] magento-engcom-team commented on #19960
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-12-24 13:55] engcom-backlog-nazar commented on #19960
Hi @MichielTG

`Turns out the Base64 error was just a symptom of not being able to upload logo or favicon on the page. This commit fixed my issue entirely. Happy days!`

https://github.com/magento/magento2/pull/18851/commits/ba69bfec127bed8c39c7d9e7b73d10b54449b158

[2018-12-24 13:55] #19960 closed, assigned to nobody

[2018-12-24 14:00] sdzhepa commented on #10501
Hello @fxdegroot and @slackerzz

I found the issue was fixed

Should be available for 2.3.0, see commits for more details:
- bac95762553a252c7f110a6b581b8b00c1ffcafd

This ticket can be closed.
Please, feel free to reopen or create a new one if issue still exists or was not fully fixed

Thank you for feedback and collaboration

[2018-12-24 14:00] #10501 closed, assigned to nobody

[2018-12-24 14:02] andrewbess commented on #19934
Sorry, but I need to install (not update) Magento using composer according to devdoc instructions https://devdocs.magento.com/guides/v2.3/install-gde/composer.html
So I cannot fix lockfile. It isn't exists before installation.

[2018-12-24 14:02] torhoehn commented on #18395
It's available here: https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Customer/view/frontend/templates/address/edit.phtml

[2018-12-24 14:07] vipin12117 commented on #12614
Only solution to change cron timing 1 minute to 15 minutes.

[2018-12-24 14:07] sdzhepa commented on #9433
Hello @twistedatrocity

I found the issue was fixed

Should be available for 2.3.0, see commits for more details:
- df87cda87445b6b33f3e0417b660161cebe86f22
- 2a7c7cb49ead1c05df34e4dec35f4756a1feb772

Should be available for 2.2.4, see commits for more details:
- ccee7e17c73ba792ee652509eeb7035d27c3d25d
- a3d36931a96cc9032aabf20c59a3a7f972a7a968
- 78f20cacbbdee1ac4f819eaccd18aecaf48755dc
- 76775ac

[2018-12-24 14:07] #9433 closed, assigned to lewisvoncken

[2018-12-24 14:11] DanielRuf commented on #19934
You probably have to clear the composer cache where its metadata is still stored.

[2018-12-24 14:12] magento-engcom-team commented on #7176
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97324`, `MAGETWO-97325` were created

[2018-12-24 14:19] alex9434 commented on #19961
ok: Thank you, that solves South Korea! But there is still no EU. Some products are produced in different European Countries for different batches and then have EU as country.

[2018-12-24 14:20] sdzhepa commented on #9002
Hello @koenner01 @chrischerrett @adavis0000 @HannesJa

I found the issue was fixed

Will be available for 2.3.1 soon, see commits for more details:
- ea661055fc94c1f5a3c7399463915491acc8c0a5
- 1b8cd089461f20131a8b5e5784238918138e13ae
- 68933c1b128f09b74298f81822879e2bee63d68a

Will be available for 2.2.8 soon, see commits for more details:
- 93e08a710bb5c9c94a62f4a0d7a3d02ad9fef673

This ticket ca

[2018-12-24 14:20] #9002 closed, assigned to drashmk

[2018-12-24 15:02] sdzhepa commented on #10529
Hello @ekuusela

Internal ticket `MAGETWO-72236` was fixed.
As the fix DevDocs related to redis session were updated.
Was added information block that explains behavior for cookie lifetime and Redis session. Please see next pages for more details:
- https://devdocs.magento.com/guides/v2.0/config-guide/redis/redis-session.html
- https://devdocs.magento.com/guides/v2.1/config-guide/redis/redis-sessi

[2018-12-24 15:02] #10529 closed, assigned to nobody

[2018-12-24 15:08] engcom-backlog-nazar commented on #19915
Hi @justinharris1986 this is realy duplicate to this -> https://github.com/magento/magento2/issues/19877 and they have alredy made a PR.

[2018-12-24 15:08] #19915 closed, assigned to XxXgeoXxX

[2018-12-24 15:09] antoinekociuba commented on #19934
I confirm that this is not a composer caching issue, because it happens straight away on a fresh new box, without any composer cache.

[2018-12-24 15:38] max21 commented on #19934
This is why the only solution for the moment is the following https://magento.stackexchange.com/questions/255537/the-checksum-verification-of-the-file-failed-downloaded-from-https-repo-magen :)

[2018-12-24 15:46] magento-engcom-team commented on #16538
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-24 17:14] hazzan3li commented on #14952
Hi
how to edit composer json file to fit for patching (problem 18471)
 "extra": {
    "composer-exit-on-patch-failure": true,
    "patches": {
        "?????": {
            "??????????????????": "patches/composer/18471.diff"
        }
    }
}

[2018-12-24 18:37] nehbellebcare9 opened #19962 "MAGENTO MARKETPLACE CONNECT HTTP2/200 /401 ERROR"
DEAR SIR,MA'AM,
WE ARE GETTING AN ERROR WHILE CONNECTING TO MAGENTO MARKET PLACE AS HTTP2/200 AND SOME TIMES AS HTTP2/410. PLS DO HELP US WITH THE SAME. WE ALSO TRIED REINSTALLING IT BYT SAME PROBLEM PERSISTS.

[2018-12-24 18:37] magento-engcom-team commented on #19962
Hi @nehbellebcare9. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-24 18:40] nehbellebcare9 commented on #19962
The current magento version is 2.2.4

On Tue, 25 Dec 2018, 12:08 am Magento Community Engineering <
notifications@github.com wrote:

[2018-12-24 18:43] Nazar65 commented on #19962
@nehbellebcare9 this already fixed in this issue ->https://github.com/magento/magento2/issues/19127

[2018-12-24 18:43] #19962 closed, assigned to nobody

[2018-12-25 01:00] oviliz commented on #17813
What was the solution on 2.3, @babybeddingdesign ? How did @MartinAarts help you solve the problem?

[2018-12-25 02:41] michaeldyl520 opened #19963 "The new custom datetime eav attribute of the product category cannot be saved normally."
### Preconditions (*)

1.Magento 2.2.6
2.php7.1.25
3.mariadb 10.1.29
4.apache 2.4.33

### Steps to reproduce (*)

1.Add new custom eav attribute model_year like below:
[code]
[code]
[code]
[code]
[code]
[code]
2.Open catalog categories in backend.
3.Selecting any category, opening content, selecting the current time and then saving, and then viewing the selected time, is incorrect.

### Expected r

[2018-12-25 02:41] magento-engcom-team commented on #19963
Hi @michaeldyl520. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-25 06:00] milindsingh commented on #19963
`user_defined' => 1` I think these attributes are not saved automatically.
You need to update the save functionality too.

[2018-12-25 06:00] #19963 closed, assigned to nobody

[2018-12-25 06:09] magento-engcom-team commented on #19345
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-25 07:09] michaeldyl520 commented on #19963
@milindsingh Not for this reason. When we need to add a custom datetime to the category, the current code will filter out hours, minutes and seconds. We can set outputDateTimeToISO to resolve save wrong bug. Like below:
![_ _20181225150441](https://user-images.githubusercontent.com/4518013/50415547-86020600-0856-11e9-8e72-6b7141b536e2.png)
See this link below:
https://github.com/magento/magento2/b

[2018-12-25 07:31] babybeddingdesign commented on #17813
he checks my site and gave me info on what was the problem. now all work fast.

[2018-12-25 08:33] milindsingh commented on #19963
@michaeldyl520 did you tried setting up a default date format in date field in your ui component?

[2018-12-25 09:23] roman204 opened #19965 "REST API: product not saved when product is in more than one categories and position of product is updated via request - throws error "unable to save product""
### Preconditions (*)

1. take a vanilla magento (2.2.5)
2. try to save a product via REST API with category_links
the request url to save product is "/index.php/rest/all/V1/products/:sku"
[code]

### Steps to reproduce (*)

1. setup a vanilla magento2 (2.2.5) in my case
2. create the integration credentials for oauth
3. create a category unter the root category in magento (ID:3)
4. create a categ

[2018-12-25 09:32] roman204 commented on #19965
@magento-engcom-team give me 2.2.5 instance

[2018-12-25 09:32] magento-engcom-team commented on #19965
Hi @roman204. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-12-25 09:33] magento-engcom-team commented on #19965
Hi @roman204, here is your [Magento instance](https://i-19965-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-19965-2-2-5.instances.magento-community.engineering/admin](https://i-19965-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-25 12:32] MichielTG commented on #19959
This solved the issue, thanks!

[2018-12-25 12:50] DanielRuf commented on #2942
Please open new issues.

[2018-12-25 12:59] Fredwak commented on #19934
@all:
there is a little workaround for the issue with THIS package:
simply add the following to your composer.json and delete the lock file:

`"replace": {
        "vertex/module-tax": "*"
    },`
But you should valid if you do not need the package in your project.
A other workaround is that you download the package and provide it as archive in your composer.json.
(There are similar issues - also

[2018-12-25 13:02] DanielRuf commented on #3123
Plsase see the previous comments which provide solutions.

Also Xdebug and too few resources make it slow. See https://blackfire.io for a debugging solution.

[2018-12-25 15:38] #18911 closed, assigned to anujwebkul

[2018-12-25 15:39] shikhamis11 commented on #18911
since this issue seems to be fixed I am closing this

[2018-12-25 19:04] cmuench commented on #19934
That is a problem on the Magento side.

The composer.json in the Composer cache expects that for Magento 2.3.0:

    "dist": {
          "type": "zip",
          "url": "https://repo.magento.com/archives/vertex/module-tax/vertex-module-tax-3.0.0.0.zip",
          "reference": null,
          "shasum": "5301f7a4d294cabcab3ae83e31fe5386c076520c"
        },

I downloaded the "vertex-module-tax-3.0.0.

[2018-12-26 01:36] michaeldyl520 commented on #19963
@milindsingh What should I do, please give me an example. Thanks.

[2018-12-26 03:48] russianlagman commented on #19934
Having the same issue with checksum. I believe the `vertex/module-tax` was published with a wrong checksum.

[2018-12-26 04:41] speedy008 commented on #19647
@misha-kotov
Chrome Version 71.0.3578.98

[2018-12-26 06:06] mmgroup001 commented on #7647
i solved this by first deselect all the options image,small_image,thumbnail in every store and save the product , after that i was able to delete it in a normal way without messing in the database.

[2018-12-26 06:12] lalitmalav commented on #15115
Got the same issue, when I was trying to update customer from magento backend.

 Magento ver. 2.2.5

 main.WARNING: No such entity with addressId =
#0 /vendor/magento/module-customer/Model/AddressRegistry.php(49): Magento\Framework\Exception\NoSuchEntityException::singleField('addressId', NULL)
#1 /vendor/magento/module-customer/Model/ResourceModel/AddressRepository.php(166): Magento\Customer\Mode

[2018-12-26 07:14] babybeddingdesign opened #19973 "Magento 2.3: How to solve the message “Unable to send email”?"
Hi,
i have a problem with Magento 2.3 on the contact page and also on admin with email not been send.
1) i am getting this error on the contact page " “Unable to send email”.
2) i have flow up email extension that when i try to go into the email i get this errors:
`
2 exception(s):
Exception #0 (ReflectionException): Class Magento\Email\Model\Source\Variables does not exist
Exception #1 (Reflectio

[2018-12-26 07:14] magento-engcom-team commented on #19973
Hi @babybeddingdesign. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-12-26 07:40] ihor-sviziev commented on #13269
This issue was fixed in `2.3-develop` branch in following commits:
- https://github.com/magento/magento2/commit/847d20f41541c65df9cc794c18be1e70112ebeb6
- https://github.com/magento/magento2/commit/fa95063d2f0ef98c7a8377f087e442d391b29273

Probably it will be included into release 2.3.1.

[2018-12-26 07:48] roman204 commented on #19965
is fixed with commit 3fe6c70882669acf77838da7bf86f678e690d6ed and 6f6694c3b1ca869fc6bd238c68dc8772d2261471

[2018-12-26 07:56] roman204 commented on #19965
my fault, only fixed in 2.2-develop

[2018-12-26 08:00] engcom-backlog-nazar commented on #19973
Hi @babybeddingdesign  thank you for you report,  this problem related to your custom module.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-26 08:00] #19973 closed, assigned to nobody

[2018-12-26 08:34] babybeddingdesign commented on #19973
Hi,
this problem is not with custom module this is with Magento core email problem. also on a clean Magento 2.3 i cant send email.

[2018-12-26 08:36] engcom-backlog-nazar commented on #19973
Hi @babybeddingdesign but why i'm able to send email on clean 2.3 ?

[2018-12-26 08:38] babybeddingdesign commented on #19973
have no idea. where is my problem then?

[2018-12-26 08:39] engcom-backlog-nazar commented on #19965
Hi @roman204 thank you for you report, this already fixed on 2.3-develop branch
![selection_249](https://user-images.githubusercontent.com/40756439/50439346-615f6a00-08fa-11e9-9651-4f86a8f3d8c8.png)

[2018-12-26 08:39] #19965 closed, assigned to nobody

[2018-12-26 08:42] milindsingh commented on #19963
`<field name="created_after">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="component" xsi:type="string">Magento_Ui/js/form/element/date</item>
                    <item name="visible" xsi:type="boolean">true</item>
                    <item name="dataType" xsi:type="string">text</item>

[2018-12-26 08:54] engcom-backlog-andrii commented on #2939
@magento-engcom-team give me 2.3.0 instance

[2018-12-26 08:54] magento-engcom-team commented on #2939
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-26 08:54] magento-engcom-team commented on #2939
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-2939-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-2939-2-3-0.instances.magento-community.engineering/admin](https://i-2939-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-26 09:04] engcom-backlog-nazar commented on #18296
Hi @kirkmadera   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2018-12-26 09:04] #18296 closed, assigned to nobody

[2018-12-26 09:07] engcom-backlog-andrii commented on #2939
@tigerx7 thank you for reporting the issue. We are closing because it is fixed at least in the latest release.

[2018-12-26 09:07] #2939 closed, assigned to nobody

[2018-12-26 09:10] engcom-backlog-andrii commented on #12215
@magento-engcom-team give me 2.3.0 instance

[2018-12-26 09:10] magento-engcom-team commented on #12215
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-26 09:10] magento-engcom-team commented on #12215
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-12215-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-12215-2-3-0.instances.magento-community.engineering/admin](https://i-12215-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-26 09:12] magento-engcom-team commented on #18691
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-26 09:14] engcom-backlog-nazar commented on #18691
Hi @zebimax  Thanks for your report. it's a feature request and needs to added to https://github.com/magento/community-features

[2018-12-26 09:14] #18691 closed, assigned to gelanivishal

[2018-12-26 09:19] roman204 commented on #19965
ok thanks, cause i need it now and currently the customer is on 2.2 i made a patch which can be executed on installation with composer:
[code]

[2018-12-26 09:21] #12215 closed, assigned to nobody

[2018-12-26 09:28] #18504 closed, assigned to TomashKhamlai

[2018-12-26 09:30] magento-engcom-team commented on #9059
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-9059-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-9059-2-3-0.instances.magento-community.engineering/admin](https://i-9059-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-26 09:30] engcom-backlog-nazar commented on #18452
Hi @qsolutions-pl  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-12-26 09:30] #18452 closed, assigned to TomashKhamlai, j-plou

[2018-12-26 09:32] magento-engcom-team commented on #15404
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-26 09:32] magento-engcom-team commented on #15030
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-26 09:33] magento-engcom-team commented on #13088
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-26 09:33] magento-engcom-team commented on #12578
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-26 09:34] engcom-backlog-andrii commented on #15404
@magento-engcom-team give me 2.3.0 instance

[2018-12-26 09:34] magento-engcom-team commented on #15404
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-26 09:34] engcom-backlog-andrii commented on #15030
@magento-engcom-team give me 2.3.0 instance

[2018-12-26 09:34] magento-engcom-team commented on #15030
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-26 09:34] magento-engcom-team commented on #13478
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-26 09:34] engcom-backlog-andrii commented on #13478
@magento-engcom-team give me 2.3.0 instance

[2018-12-26 09:34] magento-engcom-team commented on #13478
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-26 09:35] magento-engcom-team commented on #15404
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-15404-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-15404-2-3-0.instances.magento-community.engineering/admin](https://i-15404-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-26 09:35] magento-engcom-team commented on #13289
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-26 09:35] engcom-backlog-andrii commented on #13088
@magento-engcom-team give me 2.3.0 instance

[2018-12-26 09:35] magento-engcom-team commented on #13088
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-26 09:35] engcom-backlog-andrii commented on #12578
@magento-engcom-team give me 2.3.0 instance

[2018-12-26 09:35] magento-engcom-team commented on #12578
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-26 09:35] magento-engcom-team commented on #15030
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-15030-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-15030-2-3-0.instances.magento-community.engineering/admin](https://i-15030-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-26 09:36] magento-engcom-team commented on #13478
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-13478-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-13478-2-3-0.instances.magento-community.engineering/admin](https://i-13478-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-26 09:36] magento-engcom-team commented on #13088
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-13088-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-13088-2-3-0.instances.magento-community.engineering/admin](https://i-13088-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-26 09:37] harshaldandade commented on #13088
Please don't trouble me by sending this email

On Dec 26, 2018 15:05, "Magento Community Engineering" <
notifications@github.com> wrote:

Hi @engcom-backlog-andrii <https://github.com/engcom-backlog-andrii>. Thank
you for your request. I'm working on Magento 2.3.0 instance for you

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<

[2018-12-26 09:37] engcom-backlog-nazar commented on #14592
HI @salmanazeez786  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-12-26 09:37] #14592 closed, assigned to nobody

[2018-12-26 09:37] magento-engcom-team commented on #12578
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-12578-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-12578-2-3-0.instances.magento-community.engineering/admin](https://i-12578-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-26 09:58] sumeetmobiwebtech commented on #13207
@magento-engcom-team
"Currency symbol appear on arabic store view" - Is this issue resolved or still pending ?

[2018-12-26 10:02] engcom-backlog-andrii commented on #15404
@nmallepally, thank you for reporting! We are closing this issue because it is fixed in the latest release.

[2018-12-26 10:02] #15404 closed, assigned to nobody

[2018-12-26 10:09] engcom-backlog-andrii commented on #12578
@l1mosh, thank you for reporting this issue. This issue is fixed now or at least we cannot reproduce it on the latest release version. If all simple products are out of stock than configurable disappear from the catalog.

[2018-12-26 10:09] #12578 closed, assigned to dryadav

[2018-12-26 10:13] kunj1988 opened #19974 "Wrong variable in parameter for phpDoc IN DataBuilder"
### Summary (*)
1. You can find it in any Magento 2.1.x, 2.2.x AND 2.3
2. File path `vendor/magento/module-catalog/Model/Layer/Filter/Item/DataBuilder.php` OR `app/code/Magento/Catalog/Model/Layer/Filter/Item/DataBuilder.php`.

### Examples (*)
[code]

### Proposed solution
[code]

[2018-12-26 10:13] magento-engcom-team commented on #19974
Hi @kunj1988. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-26 10:13] magento-engcom-team commented on #19974
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-26 10:15] engcom-backlog-andrii commented on #13088
@harshaldandade you can always mute the thread from email by link or unsubscribe from this page by button
![image](https://user-images.githubusercontent.com/41946904/50442505-227be500-08f7-11e9-94ff-87a3c6da47f0.png)

[2018-12-26 10:32] magento-engcom-team commented on #19974
@engcom-backlog-nazar Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-12-26 10:33] magento-engcom-team commented on #19974
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97334`, `MAGETWO-97335` were created

[2018-12-26 11:23] 4lexvav opened #19977 "E-Mail subject not showing utf-8 characters"
### Preconditions
1. Magento Version 2.3.0 installed via composer
2. PHP Version 7.1.25

### Steps to reproduce
1. Create an e-mail template containing the "Ő" letter in the subject. For example, based on the Newsletter **Subscription Success** email template.
1. Change **Success Email Template** at the system Newsletter settings.
1. Subscribe for newsletter.
1. View the email in your email client

[2018-12-26 11:51] engcom-backlog-andrii commented on #13478
@goivvy thank you for reporting this issue. We tested on 2.3.0 and it looks like there are no problems with Braintree when placing an order by admin with limited access.

[2018-12-26 11:51] #13478 closed, assigned to nobody

[2018-12-26 12:05] magento-engcom-team commented on #19977
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97339` were created

[2018-12-26 12:15] engcom-backlog-andrii commented on #16806
@keharper, please check after holidays
[deploy_without_db](https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-static-view.html#deploy_without_db). It looks like people can do more than described in DevDocs even without this fix but I am not sure that all release lines allow to do these actions.

Merge of this bugfix is a good reason to add missing lines to the document

[2018-12-26 12:45] CharanjeetE opened #19979 "Url redirection Help"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.Hi i need some help for magento 2 url redirection. I want to show my request url in the url bar instead of target path how i  can achieve this.Please help me
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2018-12-26 12:45] magento-engcom-team commented on #19979
Hi @CharanjeetE. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-26 12:54] milindsingh commented on #19979
Hi @CharanjeetE , For queries kindly checkout [Magento Forum](https://community.magento.com/) and [Magento Stackexchange](https://magento.stackexchange.com) .
Github is for Magento issues.
Good luck.

[2018-12-26 12:54] #19979 closed, assigned to nobody

[2018-12-26 13:00] engcom-backlog-andrii commented on #15030
@chanwhab permissions on notification do not cause the problem anymore. Thank you for reporting this issue.

[2018-12-26 13:00] #15030 closed, assigned to nobody

[2018-12-26 13:52] magento-engcom-team commented on #4247
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-26 14:01] gulatipriyanka commented on #19821
@engcom-backlog-nazar What is the status of this task?

It has been more than 10 days, no one is assigned yet on this task. Please try to do it ASAP as many customers complain that they are not able to checkout using paypal.

[2018-12-26 14:09] DanielRuf commented on #19821
Sorry but this is the opensource edition.

[2018-12-26 14:13] DanielRuf commented on #19821
The main issue is that dynamically triggered popups without a user gesture are blocked in Chrome by default.

[2018-12-26 15:15] sdzhepa commented on #18493
@magento-engcom-team give me 2.2.6 instance

[2018-12-26 15:16] magento-engcom-team commented on #18493
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-26 15:16] magento-engcom-team commented on #18493
Hi @sdzhepa, here is your [Magento instance](https://i-18493-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-18493-2-2-6.instances.magento-community.engineering/admin](https://i-18493-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-26 15:18] sdzhepa commented on #18493
@magento-engcom-team give me 2.2.7 instance

[2018-12-26 15:18] magento-engcom-team commented on #18493
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2018-12-26 15:19] magento-engcom-team commented on #18493
Hi @sdzhepa, here is your [Magento instance](https://i-18493-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-18493-2-2-7.instances.magento-community.engineering/admin](https://i-18493-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-26 15:29] #13289 closed, assigned to nobody

[2018-12-26 15:31] sdzhepa commented on #18493
Hello @eduard13

The issue was fixed and delivered for 2.2.7 and 2.3.0 in the scope of internal tickets (MAGETWO-94962, MAGETWO-95426)
We also double-cheked described case on 2.2.7 and 2.3.0

For 2.2.7 see commits for more details:
 - 9a110d8b06733a8f82fed96cfb377afb06f4e9b2
 - 5e6801e44527a49472975e9e6670970d6f8263a8
 - 8722fa6a5529726fa3bc0291ef57fb159dec699d
 - 2b8896b5fdb8f5eeb9bdb0cf73a04d6b4

[2018-12-26 15:31] #18493 closed, assigned to eduard13

[2018-12-26 15:38] orlangur commented on #19974
@kunj1988 such changes should be proposed directly as pull requests ;)

[2018-12-26 17:16] gulatipriyanka commented on #19821
@DanielRuf We have used Brain tree paypal in Drupal application also, the popup does not get blocked there and it works perfectly fine. Magento is using braintree module and it is fully approved module, it is implementing poup via an on-click action/event listener, to prevent pop-up blockers from interfering with the launch of the window. But magento is launching popup within an independent action

[2018-12-26 17:37] DanielRuf commented on #19821
I guess you mean the devs of the module, not Magento Inc.

[2018-12-26 18:01] ravmenon commented on #19934
@Fredwak @cmuench @russianlagman There was an issue setting up vertex/module-tax 3.0.0 on the repo server side.  The issue is fixed now and you should now see the correct checksum dd5e23680878e70fdff546fa661822b100ab2bf3.

A fresh install of 2.3.0 should work now.

Any existing installs may have to clear the composer cache and/or update the composer.lock file to fix the stale shasum with the above

[2018-12-26 18:07] cmuench commented on #19934
@ravbetsky Thanks for solving. I can confirm that the current installation works also for Magento Commerce 2.3.0 and Commerce 2.2.7.

[2018-12-26 18:10] rougiain commented on #19821
The code is hosted in the Magento GitHub Repo, Not on a separate repository. If I as a developer/company include code in my repository I become responsible for that code.

If Magento is not willing to do this they need to remove all non-magento core packages - Vertex - Termando - DotMailer and the like and point users to the various companies and there repositories.

[2018-12-26 18:14] rougiain commented on #19821
Any project the size of Magento, Drupal, WordPress etc needs to respond to browsers as the browser is the applications platform.  Chrome does what chrome thinks is best for its users, if a choice they make breaks some functionality on Magento that is included by default in a clean install, Magento needs to fix it.

[2018-12-26 18:18] rougiain commented on #19821
Being the open source edition does not give Magento on a pass on fixing issues that affect checkout. Checkout is the core of the product. If this issues is affecting open source edition users then it will 99% affect the companies that pay for the enterprise product.

[2018-12-26 18:30] ashvinimarwal commented on #13207
Hi @sumeetmobiwebtech

Copy the currency and numbers block from en.xml and paste it into the ar_SA.xml
it will work.

[2018-12-26 18:46] magento-engcom-team commented on #18091
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` a

[2018-12-26 19:42] DanielRuf commented on #19821
Dorry but you are wrong in many places. See the license files (GPL and guarantee) and fixing browser bugs is not really recommended. Chrome decided to block popups initiated by scripts without a user gesture. If there is some contributor who knows the solution, he/she will pick this issue and provide a fix.

magento.com is just the registry like packagist for a few thirdparty / contributed modules

[2018-12-26 19:42] DanielRuf commented on #19821
Sorry but you are wrong in many places. See the license files (GPL and guarantee) and fixing browser bugs is not really recommended. Chrome decided to block popups initiated by scripts without a user gesture. If there is some contributor who knows the solution, he/she will pick this issue and provide a fix.

magento.com is just the registry like packagist for a few thirdparty / contributed modules

[2018-12-26 19:46] DanielRuf commented on #19821
Enterprise customers have a dedicated and paid support.

Does this issue occur in previous Chrome releases and which release of the module introduced this issue (makes bisecting eassier).

[2018-12-26 19:46] DanielRuf commented on #19821
Enterprise customers have a dedicated and paid support.

Does this issue occur in previous Chrome releases and which release of the module introduced this issue (makes bisecting eassier)?

[2018-12-26 19:47] #19934 closed, assigned to nobody

[2018-12-26 20:10] antoinekociuba commented on #19934
Thx for the reactivity on this issue guys, I can also confirm that it's OK now.

[2018-12-26 21:30] magento-engcom-team commented on #5492
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-26 21:32] magento-engcom-team commented on #5322
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-27 05:09] vincent2090311 opened #19982 "Catalogsearch Reindex"
### Preconditions (*)

1. Magento 2.2.7

### Steps to reproduce (*)

1. in this file vendor/magento/module-catalog-search/etc/indexer.xml has 2 classes
`<saveHandler class="Magento\CatalogSearch\Model\Indexer\IndexHandler" />
        <structure class="Magento\CatalogSearch\Model\Indexer\IndexStructure" />`
I dont see those classes in magento, beside that, I found 2 classes
Magento\CatalogSearch\Mo

[2018-12-27 05:09] magento-engcom-team commented on #19982
Hi @vincent2090311. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-27 05:12] magento-engcom-team commented on #19982
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-27 05:13] vetshopdeveloper commented on #13478
@engcom-backlog-andrii how can you close the issue when it is still reported on 2.2 and 2.1?

2.1 and 2.2 are not end of life.

[2018-12-27 05:19] vetshopdeveloper commented on #12578
@engcom-backlog-andrii  again how can you close this issue? users have reported this in the 2.2 branch.

Do the labels reproduced in 2.2 and 2.1 not mean anything?

[2018-12-27 06:21] vincent2090311 commented on #19982
@GovindaSharma
It isn't actually an issue (I haven't look into the flow to check is there any issue yet). I just dont understand why they put wrong class name into indexer.xml.

[2018-12-27 06:51] magento-engcom-team commented on #19982
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97348` were created

[2018-12-27 06:57] cygnetampatel opened #19983 "Can't work customer Image attribute programmatically"
### Preconditions (*)

1. Magento CE version 2.2.7
2. Create custom attribute programmatically, which is to be added to the 'customer eav attribute e.g.:
[code]

[code]
### Steps to reproduce (*)

1. Go to the registration form. you will show Customer profile attribute as a file. when user upload an image error message show "**Customer profile is not a valid file**".

### Expected result (*)

1. f

[2018-12-27 06:58] dmytro-ch commented on #19982
@vincent2090311, thank you for the report.
This issue has been already fixed for 2.3.x version by the following PR: https://github.com/magento/magento2/pull/11626.
I think we just need to create backport for 2.2.x.

[2018-12-27 06:58] magento-engcom-team commented on #19983
Hi @cygnetampatel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-27 07:01] magento-engcom-team commented on #19983
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-27 07:36] engcom-backlog-andrii commented on #9377
@juandosil, it won't be fixed. I guess the best option is to upgrade to 2.2.x or 2.1.16.
@Chiemo, thank you for reporting this issue, but we are going to close it because only security fixes will be supported for 2.1.x in the nearest future.

[2018-12-27 07:43] magento-engcom-team commented on #19983
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-27 07:51] cedarvinda opened #19985 "Send email confirmation popup close button area overlapping to content"
Send email confirmation popup close button area overlapping to content

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Login to admin panel
Step 2: Go to **sales** > **order** grid
Step 3: **Edit** any order
Step 4: Please click on **send email** from above links (Now you ref from actual result screenshot)

### Expected result (*)

![sol](https://user-image

[2018-12-27 07:51] magento-engcom-team commented on #19985
Hi @cedarvinda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-27 07:51] magento-engcom-team commented on #19985
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-27 07:52] shikhamis11 commented on #19985
@magento-engcom-team give me 2.3-develop instance

[2018-12-27 07:52] magento-engcom-team commented on #19985
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-27 07:54] magento-engcom-team commented on #19985
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-27 07:56] magento-engcom-team commented on #19985
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-27 07:56] magento-engcom-team commented on #19985
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97351` were created

[2018-12-27 08:30] magento-engcom-team commented on #16806
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-27 08:33] magento-engcom-team commented on #19983
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97352` were created

[2018-12-27 08:33] magento-engcom-team commented on #19983
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-12-27 09:35] magento-engcom-team commented on #19821
Hi @hiren0241. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-12-27 10:56] engcom-backlog-andrii commented on #9059
Hi @Alexgmin! Thank you for reporting this issue. We were not able to reproduce this issue on 2.3.0.

[2018-12-27 10:57] #9059 closed, assigned to nobody

[2018-12-27 10:59] magento-engcom-team commented on #18927
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-27 11:04] engcom-backlog-nazar commented on #18616
Hi @densen45 thank you for you report, this will be fixed by this PR -> https://github.com/magento/magento2/pull/19191

[2018-12-27 11:04] #18616 closed, assigned to nobody

[2018-12-27 11:20] amustci065 opened #19990 "Magento Installation stucks at 69%."
Im very new to Magento, Would really appreciate everyones here. been trying to install for the past 2 days now. Installation stops at 69%

![magento](https://user-images.githubusercontent.com/33057348/50478498-bae69800-09d1-11e9-868a-11f39640f35e.png)
![magento 2](https://user-images.githubusercontent.com/33057348/50478504-c0dc7900-09d1-11e9-817c-75baf23f1731.png)

[2018-12-27 11:21] magento-engcom-team commented on #19990
Hi @amustci065. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-27 11:28] #19990 closed, assigned to nobody

[2018-12-27 11:33] DanielRuf commented on #19990
It seems the sample data can not be downloaded. Check the timeout and memory limits and so on.

[2018-12-27 11:34] DanielRuf commented on #19990
See https://github.com/magento/magento2/search?q=downloadablesampledata&type=Issues

[2018-12-27 11:54] p-bystritsky commented on #17320
Fixed in https://github.com/magento/magento2ce/pull/3287 (2.3) and https://github.com/magento/magento2ce/pull/3303 (2.2)

[2018-12-27 11:54] #17320 closed, assigned to nobody

[2018-12-27 12:03] sdzhepa commented on #3503
@magento-engcom-team give me 2.2.2 instance

[2018-12-27 12:03] magento-engcom-team commented on #3503
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.2.2 instance for you

[2018-12-27 12:08] irajneeshgupta commented on #18329
Hi @martin-cod @yaroslav-zenin @engcom-backlog-nazar,
**How you are able to reproduce the issue?**
The Magento UI grid uses ` "condition_type": "in"` incase of multi-select, and it will solve the purpose.
I didn't find any `Filter` in UI grid which create 2 `eq` condition_type on same field.

[code]

[2018-12-27 12:14] magento-engcom-team commented on #13651
Hi @irajneeshgupta. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-12-27 12:17] sdzhepa commented on #3503
@magento-engcom-team give me 2.2.3 instance

[2018-12-27 12:17] magento-engcom-team commented on #3503
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-12-27 12:17] magento-engcom-team commented on #13612
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-27 12:32] biju-zoondia opened #19991 "migration tool issue"
### Summary (*)

I was migrate a multi store site, only migrate the following details basic store details , order and customers from Magento 1.9.2.4 to Magento 2.3 . Migration process successfully completed.

I was added new product and update the details  and search the product from frontend, but it shows error in log file "No linked stock found" . I also found same issue while adding Stores > In

[2018-12-27 12:32] magento-engcom-team commented on #19991
Hi @biju-zoondia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-27 12:34] sdzhepa commented on #3503
Hello @vipin-eglobeits , @DanielRuf, @dangnguyenak

We have verified this issue on 2.2.2, 2.2.3, 2.3 by described steps/instructions fron this ticket.
- Customer login with incorrect password(several attampts)
- Create Products from Admin
- With enabled and disabled caches.

And seem this issue has been fixed
This ticket can be closed.
Please, feel free to reopen or create a new one with details a

[2018-12-27 12:34] #3503 closed, assigned to slavvka

[2018-12-27 12:38] magento-engcom-team commented on #19991
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-27 12:39] engcom-backlog-nazar commented on #19991
Hi @biju-zoondia   thank you for your report,  problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2018-12-27 12:39] #19991 closed, assigned to nobody

[2018-12-27 12:50] DanielRuf commented on #3503
@sdzhepa did the bot not create the instances or where the comments deleted?

[2018-12-27 12:50] DanielRuf commented on #3503
@sdzhepa did the bot not create the instances or were the comments deleted?

[2018-12-27 12:59] sdzhepa commented on #13999
Hello @michelve

As we can see from https://github.com/magento/magento2/issues/13999#issuecomment-389071826 and https://github.com/magento/magento2/issues/13999#issuecomment-425121477 this is not an issue.
It is related to CSV data file preparation

This ticket can be closed.
Please, feel free to reopen or create a new one with additional details/instructions if issue still exists or was not fully

[2018-12-27 12:59] #13999 closed, assigned to nobody

[2018-12-27 13:02] amustci065 commented on #19990
None of those solutions work for me. Thank you anyway.

[2018-12-27 13:16] magento-engcom-team commented on #19982
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-27 13:20] engcom-backlog-andrii commented on #19982
Closing as fixed #11626

[2018-12-27 13:20] #19982 closed, assigned to GovindaSharma

[2018-12-27 13:37] magento-engcom-team commented on #18927
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97361` were created

[2018-12-27 13:37] engcom-backlog-nazar commented on #18927
HI @jhruehl they already have a Pull request -> https://github.com/magento/magento2/pull/17387

[2018-12-27 13:39] sdzhepa commented on #19685
Hello @beltran-rubo @eduard13 @jignesh-baldha

This issue was fixed in the scope of internal ticket `MC-5461`
The fix should be available for 2.3.1 (curently in 2.3-develop)
Please, see commits for more details:
- d6f7d244fffade4764afb53fc0d4b932f5b180a1
- 25473b75ed223ed37cd677dfa34cc3ac4946bd2a

This ticket can be closed.
Please, feel free to reopen or create a new one if issue still exists or w

[2018-12-27 13:39] #19685 closed, assigned to jignesh-baldha

[2018-12-27 13:42] DanielRuf commented on #19990
Please open a question at the mentioned stackexchange site and provide the full error log entry.

[2018-12-27 13:46] sdzhepa commented on #19469
Hello @vbuck

I see that all internal tickets related to this issue were closed.
And I suppose that issue has been resolved also.

Please, feel free to reopen or create a new one if issue still exists or was not fully fixed

Thank you for feedback and collaboration

[2018-12-27 14:02] ajayjaiswalweb commented on #13622
Hi @primzonltd ,

I am facing exact same issue. Can you please let me know did you get the solution of this issue?

Magento ver. 2.2.0

1 exception(s):
Exception #0 (Exception): Notice: Undefined offset: 5 in /Nufoot/nufoot-com/public_html/vendor/magento/module-reports/Model/ResourceModel/Quote/Item/Collection.php on line 223

Exception #0 (Exception): Notice: Undefined offset: 5 in /Nufoot/nufoot

[2018-12-27 14:54] engcom-backlog-andrii commented on #10881
I think that testing of this issue was not done properly so I removed labels.

[2018-12-27 15:00] magento-engcom-team commented on #18091
@marvinhuebner Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97365`, `MAGETWO-97366` were created

[2018-12-27 15:00] engcom-backlog-andrii commented on #10881
According to Magento Devdocs on 2.3.0 you can setup redis this way:
[code]
Pay attention that `*-compress-data` is availably only in `compress-data`, and execuse me, I can not explain why - I'm just following the docs.

I got this as a result:
[code]
after Magento is uninstalled I tried this:
[code]

As a result Magento was succesfully installed.

[2018-12-27 15:01] #10881 closed, assigned to nobody

[2018-12-27 15:02] sakiss opened #19994 "HTTP 2 responses throw Exception"
### Preconditions (*)

1. Magento 2.2.x
2. Magento 2.3.0

### Steps to reproduce (*)
Configure your server to use HTTP 2 and perform an action, that requires an HTTP call.
E.g. An update or a 3rd party API request

### Expected result (*)

Fetch the http response and continue

### Actual result (*)

1. An Exception is thrown with that message: "Invalid header line detected"

### Miscelaneous
The e

[2018-12-27 15:02] magento-engcom-team commented on #19994
Hi @sakiss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-12-27 15:08] magento-engcom-team commented on #19994
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-27 15:11] engcom-backlog-nazar commented on #19994
Hi @sakiss thank you for your report, magento 2 does not support HTTP 2, the support will be available soon.

[2018-12-27 15:11] #19994 closed, assigned to nobody

[2018-12-27 15:17] sdzhepa commented on #17174
Hello @willwright111 @kevinvarley @BubblegumAnarchy

As we can see from the comment above https://github.com/magento/magento2/issues/17174#issuecomment-427104391 this issue is fixed in https://github.com/magento/magento2/pull/16863

It is available in 2.2-develop now and should be availabe in 2.2.6

This ticket can be closed.
Please, feel free to reopen or create a new one if issue still exists or

[2018-12-27 15:17] #17174 closed, assigned to nobody

[2018-12-27 15:37] engcom-backlog-andrii commented on #17711
Closing as fixed in 2.3.0

[2018-12-27 15:37] #17711 closed, assigned to ansari-krish

[2018-12-27 15:45] #19529 closed, assigned to milindsingh

[2018-12-27 15:46] sdzhepa commented on #8219
Hello @casconed and @Ctucker9233

As I can see this issue was fixed in the scope of internal tickets `MAGETWO-63215` and `MAGETWO-69898`

And should be available now for 2.2.0 and 2.1.1

For 2.2.0 see commits for more details:
- 0c2836a8d909102eca9a4ed22009e61e53ddf43d
- 2c5b4c5de69e611b61628990cecc4e4e97b581f0
- 0111bacbc75513c36609b4080a06707460342c4e
- 21d79d35426f60ae13083131b3ea02df83435c3f
-

[2018-12-27 15:59] #19465 closed, assigned to nobody

[2018-12-27 16:01] magento-engcom-team commented on #19921
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-27 16:03] Sunshine4209 commented on #19881
@engcom-backlog-nazar  where is this `$this->helper` come from? my class has no such method nor is `Magento\Framework\View\Element\Template;` which I extend.

[2018-12-27 16:04] magento-engcom-team commented on #19207
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-27 16:13] primzonltd commented on #13622
Hi Ajjay,
Solution to this issue is
Magento 2.1 and 2.2. In the following thread of GitHub a user has created a patch which resolves the issue.

The patch can be found at this link:

How to install
1. Unzip the files and copy them in your Magento document root while overwriting if necessary.
2. Run the following commands in your Magento document root:

php bin/magento setup:upgrade
php bin/magento

[2018-12-27 16:14] magento-engcom-team commented on #19470
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-27 16:15] toweringmedia commented on #9737
We also have a client that has this issue. Most of the time the email does not send but it does send some of the time. Magento 2.2.7

[2018-12-27 16:42] sdzhepa commented on #19470
Hello @kirmorozov

According to label "feature request " issue was moved into feature request track

Thank you for feedback and collaboration

[2018-12-27 21:51] magento-engcom-team commented on #19482
Hi @agorbulin. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-12-28 06:44] milindsingh commented on #17828
@magento-engcom-team give me 2.3-develop instance

[2018-12-28 06:44] magento-engcom-team commented on #17828
Hi @milindsingh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-28 06:44] magento-engcom-team commented on #17828
Hi @milindsingh, here is your [Magento instance](https://i-17828-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-17828-2-3-develop.instances.magento-community.engineering/admin](https://i-17828-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-28 06:54] alpeshpadariya opened #19998 "after upgrade magento 2.3 from 2.2.7"
Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) in /vendor/magento/framework/Filesystem/Directory/Write.php on line 35 with PHP version 7.2

any solution ?

[2018-12-28 06:54] magento-engcom-team commented on #19998
Hi @alpeshpatelcool. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-12-28 06:57] alpeshpatelcool commented on #19998
**Summary of the issue:**

i am getting an error while upgrading to magento 2.3 like Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) in /vendor/magento/framework/Filesystem/Directory/Write.php on line 35 with PHP version 7.2

 **Information on your environment**

linux with apache 2 + php 7.2

[2018-12-28 06:58] magento-engcom-team commented on #19998
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-28 06:59] engcom-backlog-nazar commented on #19998
Hi @alpeshpatelcool   thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-28 06:59] #19998 closed, assigned to nobody

[2018-12-28 07:11] VivianWang1993 opened #20000 "Remove comments in .min.js file"
### Preconditions (*)

1. Magento version: 2.2.4
2. Production mode
3. Active minify js

### Steps to reproduce (*)

1. Open one page (such as homepage).

### Expected result (*)

1. There are no comments in the minified js file

### Actual result (*)

1. There are still useless comments.
![minified_js](https://user-images.githubusercontent.com/34879854/50506409-c6aa8b00-0ab3-11e9-86c6-5b00c2b026a

[2018-12-28 07:11] magento-engcom-team commented on #20000
Hi @VivianWang1993. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-28 07:12] magento-engcom-team commented on #20000
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-28 07:33] DanielRuf commented on #19998
Please make sure that PHP and PHP CLI are the same version.

[2018-12-28 07:35] engcom-backlog-nazar commented on #20000
@shikhamis11 please do not touch the labes!, if the issue is already in the work

[2018-12-28 07:41] milindsingh commented on #17828
@magento-engcom-team @engcom-backlog-pb I am not able to produce the issue regarding increment id change, but I found a new one in Magento 2.3-develop instance.

+ Create shipment with API with following data, and I see a broken Magento Admin UI for Shipment View.
[code]

![https i 17828 2 3 develop instances magento community engineering admin admin order_shipment view shipment_id 1](https://user

[2018-12-28 07:58] magento-engcom-team commented on #20000
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-28 08:01] milindsingh commented on #20000
I think we cannot remove the licence notice even in minified js.

+ GPLv3:

`You may convey verbatim copies of the Program's source code as you receive it, in any medium, provided that you ... give all recipients a copy of this License along with the Program. ...

You may convey a work based on the Program ... in the form of source code under the terms of [the above section].`

+ MIT license:

`Th

[2018-12-28 08:01] proman77 commented on #18688
I've got the same problem while trying to upload a watermark:

[2018-12-28 08:05] tuyennn commented on #9156
Same issue experience on Magento 2 2.1.9 using Redis Cache.

[2018-12-28 08:16] engcom-backlog-nazar commented on #20000
Hi @VivianWang1993 we closing this issue as this is not a bug, we cannot remove the licence notice even in minified js

[2018-12-28 08:16] #20000 closed, assigned to abrarpathan19

[2018-12-28 08:39] proman77 commented on #18688
Done. Can't reproduce this issue there, It works correctly! @magento-engcom-team, waiting for the fixing code here :)

[2018-12-28 08:57] DanielRuf commented on #18688
@magento-engcom-team give me 2.2-develop instance

[2018-12-28 08:57] magento-engcom-team commented on #18688
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-12-28 08:57] DanielRuf commented on #18688
If you use 2.2.x: https://github.com/magento/magento2/issues/18688#issuecomment-450320930

[2018-12-28 08:58] magento-engcom-team commented on #18688
Hi @DanielRuf, here is your [Magento instance](https://i-18688-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-18688-2-2-develop.instances.magento-community.engineering/admin](https://i-18688-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-28 09:35] proman77 commented on #18688
@DanielRuf I've tried 2.2.8 already. It's OK. No issue.

[2018-12-28 09:46] lombokindustries opened #20002 "Uncaught TypeError: Cannot read property 'extend' of undefined"
### Preconditions (*)

1. Magento 2.1.10
2. This error appears after installing 3rd party extension that has version 2.1.x..
3. Impact of this issue is loading that never ending in checkout (payment step).

### Steps to reproduce (*)

1. Every times installing 3rd party extension, banktransfer-method.js script always conflict.. because I use Bank Transfer only as payment method.

### Expected resu

[2018-12-28 09:47] magento-engcom-team commented on #20002
Hi @lombokindustries. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-12-28 09:47] magento-engcom-team commented on #20002
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-28 09:48] engcom-backlog-nazar commented on #20002
Hi @lombokindustries  i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2018-12-28 09:48] #20002 closed, assigned to nobody

[2018-12-28 11:37] HEALTHYHOOKAHCA commented on #19948
My magento version is 2.2.4, so u r saying that i will have to upgrade my magento to 2.3.0 to resolve this issue?

[2018-12-28 11:46] orlangur commented on #19783
Hi @robbie-thompson, based on

I make a conclusion that provided code snippet is incorrect. It looks like there is nothing to fix here from core perspective. Please verify if proposed solution works for you.

[2018-12-28 12:29] brightnessjsoni opened #20003 "Magento 2.3 Unable to place order with braintree"
We are unable to place an order with magento2.3 Braintree Credit Card Payment. Same Merchant details works with Magento 2.2.x. Please check attached screen.

Any help would be appreciated.

![errorgit](https://user-images.githubusercontent.com/46221215/50515379-51968000-0aca-11e9-8682-c44e3ef7769b.png)

### Preconditions (*)

Magento 2.3.x

### Steps to reproduce (*)

Store -> Configuration -> Sal

[2018-12-28 12:31] magento-engcom-team commented on #20003
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-28 12:32] GovindaSharma commented on #20003
@magento-engcom-team give me 2.3-develop instance

[2018-12-28 12:32] magento-engcom-team commented on #20003
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-28 12:33] magento-engcom-team commented on #20003
Hi @GovindaSharma, here is your [Magento instance](https://i-20003-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20003-2-3-develop.instances.magento-community.engineering/admin](https://i-20003-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-28 12:33] himanshu-limbani opened #20004 "Enable Minimum order amount with Include Tax to Amount configuration. it's not working on magento 2 default functionality."
### Preconditions (*)
1) Currently use Magento 2.2.5 version And also check on all magento 2 version

### Steps to reproduce (*)
Step 1: Login to admin panel
Step 2: Go to store > configuration > sales section > sales >  Minimum order Amount
Step 3: Enable Minimum order Amount , set minimum amount 100 and set Include Tax to Amount to yes
step 4: Go to fronted and add to cart product then go to car

[2018-12-28 12:33] magento-engcom-team commented on #20004
Hi @himanshu-limbani. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-12-28 12:34] magento-engcom-team commented on #20004
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-28 12:41] himanshu-limbani commented on #20004
@magento-engcom-team give me 2.3-develop instance

[2018-12-28 12:41] magento-engcom-team commented on #20004
Hi @himanshu-limbani. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-28 12:41] magento-engcom-team commented on #20004
Hi @himanshu-limbani, here is your [Magento instance](https://i-20004-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20004-2-3-develop.instances.magento-community.engineering/admin](https://i-20004-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-28 12:42] 0m3r commented on #19876
@simon-letch
Do you mean that I can add this custom require in my module?
I think is not a good idea.

[2018-12-28 12:50] magento-engcom-team commented on #20003
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-28 12:56] GovindaSharma commented on #20003
@brightnessjsoni i tried placing order with braintree and order gets placed.There might me some other issue in your website.

[2018-12-28 12:57] engcom-backlog-andrii commented on #19921
@magento-engcom-team give me 2.3.0 instance

[2018-12-28 12:57] magento-engcom-team commented on #19921
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-28 12:58] magento-engcom-team commented on #19921
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-19921-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19921-2-3-0.instances.magento-community.engineering/admin](https://i-19921-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-28 13:00] himanshu-limbani commented on #20004
Reproduced on 2.3.x

[2018-12-28 13:03] magento-engcom-team commented on #20004
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97375`, `MAGETWO-97376` were created

[2018-12-28 13:04] GovindaSharma commented on #20003
@brightnessjsoni i am not reproduce this issue so i am closing this issue.

[2018-12-28 13:04] #20003 closed, assigned to GovindaSharma

[2018-12-28 13:52] ghost opened #20006 "Required field validation issue in custom option on the front side"
From admin panel admin will edit the product and set custom options as not required. Now front side try to add product in cart without select any options. The product will not add in cart and the message will display like **“The product's required option(s) weren't entered. Make sure the options are entered and try again.”**
### Preconditions (*)

1. Magento  V2.3.0 with sample data
2. PHP 7.2

##

[2018-12-28 13:52] magento-engcom-team commented on #20006
Hi @pansuriya-emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanill

[2018-12-28 13:53] #20006 closed, assigned to nobody

[2018-12-28 13:56] ghost opened #20007 "Required field validation issue in custom option on the front side"
From admin panel admin will edit the product and set custom options as not required. Now front side try to add product in cart without select any options. The product will not add in cart and the message will display like **“The product's required option(s) weren't entered. Make sure the options are entered and try again.”**
### Preconditions (*)

1. Magento  V2.3.0 with sample data
2. PHP 7.2

##

[2018-12-28 13:56] magento-engcom-team commented on #20007
Hi @emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-28 13:57] magento-engcom-team commented on #20007
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-28 14:00] engcom-backlog-nazar commented on #20007
Hi @emiprotech thank you for you report this is duplicate to this -> https://github.com/magento/magento2/issues/19267

[2018-12-28 14:00] #20007 closed, assigned to nobody

[2018-12-28 14:12] magento-engcom-team commented on #19865
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-28 14:16] engcom-backlog-andrii commented on #19865
![admin_catalog_product_new_set_10_type_simple_ laptop with hidpi screen](https://user-images.githubusercontent.com/41946904/50517983-dcbc4980-0abb-11e9-9c18-1eb990a2778d.png)

[2018-12-28 14:17] engcom-backlog-andrii commented on #19865
The issue was reproduced on Magento from composer. Sample data was installed.

[2018-12-28 14:18] julisasla opened #20008 "Can not save status product attribute"
pinning wheel of death when saving status product attribute through magento admin panel. Test magento instance has no modifications or extensions except sample data.

Looking into browser console, I see Internal server error response.
Preconditions

Magento 2.1.8 CE and EE
Browser:- Chrome
OS: - Ubuntu 16.04
Steps to reproduce

    Login in admin panel.
    Got to Stores -> Attributes -> Product

[2018-12-28 14:18] magento-engcom-team commented on #20008
Hi @julisasla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-28 14:22] magento-engcom-team commented on #20008
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-28 14:35] jonatanrdsantos opened #20009 "Unable to upgrade magento 2.2.5 to 2.3.0"
### Summary (*)
I'm trying to upgrade my Magento from version 2.2.5 to version 2.3.0, I upgrade the composer successfully but when run `setup:upgrade` I got an error and not found any solution.
### Examples (*)
The error I got
![](https://serving.photos.photobox.com/018191388ddc939fd69bb26b27e79d734b8f24f2686a3bdd548d2da4d4e84d972aaa8e4e.jpg)

[2018-12-28 14:36] magento-engcom-team commented on #20009
Hi @joridos. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-28 14:44] magento-engcom-team commented on #19865
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97379` were created

[2018-12-28 15:13] netalico commented on #5157
I'm having this issue too with 2.0.8. If I run setup:upgrade it clears the compiled classes and works. It seems I shouldn't have to do that though and it's not great from a performance standpoint to have to clear your compilation in production.

[2018-12-28 16:52] jcourtei opened #20010 "Wrong price amount in opengraph"
### Preconditions (*)
Version 2.2.6 (Community Edition).

### Steps to reproduce (*)
1. Several store views with several currency rates.
2. View source code of a simple product in a store view with a currency (USD) different  from the base currency (EUR).

### Expected result (*)
Meta tag "product:price:amount" should contain the price converted in USD.

### Actual result (*)
Meta tag "product:pri

[2018-12-28 16:53] magento-engcom-team commented on #20010
Hi @jcourtei. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-28 17:44] milindsingh commented on #20010
@magento-engcom-team give me 2.2-develop instance

[2018-12-28 17:44] magento-engcom-team commented on #20010
Hi @milindsingh. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-12-28 17:45] magento-engcom-team commented on #20010
Hi @milindsingh, here is your [Magento instance](https://i-20010-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20010-2-2-develop.instances.magento-community.engineering/admin](https://i-20010-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-28 17:52] magento-engcom-team commented on #20010
@milindsingh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97381`, `MAGETWO-97382` were created

[2018-12-28 18:48] milindsingh commented on #20008
I'm not able to reproduce following steps as you described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2018-12-28 18:48] #20008 closed, assigned to GovindaSharma

[2018-12-28 18:56] magento-engcom-team commented on #20009
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-28 19:11] RedDevilEvo commented on #8267
I had the same issue with Magento 2.1.7.

No third party extension.

Also i confirm that the fix from @renatolovato  is working great.  THANK YOU.

[2018-12-28 22:32] Schrank commented on #19465
Hey, just to get the current status... It is fixed in 2.3 and it won't get fixed in 2.2, correct?

Totally fine to me, just want to make sure we are on the same page.

[2018-12-28 23:36] PathToLife commented on #19480
I think you're going down the wrong path installing with windows. Waste of time with M2.3. The routing and build system is bound to have other errors that will keep popping up.

[2018-12-29 00:52] FrancYescO commented on #5309
After like 12h of troubleshooting i've found that `created_at` column got the wrong `ON UPDATE CURRENT_TIMESTAMP` attribute that instead should go to the `updated_at`

this is how the table should appear:
![image](https://user-images.githubusercontent.com/4574593/50531551-246ac180-0b0c-11e9-8c60-13787fcaf781.png)

there are the query that fixed for me
[code]

[2018-12-29 03:39] myselfgaurav commented on #11347
i am still having issue in magento 2.2.6

[2018-12-29 05:06] himanshu-limbani commented on #20004
Component: Catalog

[2018-12-29 05:20] himanshu-limbani commented on #20004
Component: Catalog

[2018-12-29 05:20] himanshu-limbani commented on #20004
@magento-engcom-team give me 2.3-develop

[2018-12-29 07:09] magento-engcom-team commented on #13864
Hi @irajneeshgupta. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-12-29 13:49] erjenrijnders commented on #12225
Hello,

This one is open more then a year now and I am still waiting for this change/feature to be honest. Now 2.3 is out but this task is still open.
Can you tell me maybe when you think this one will be done?

Thanks a lot

[2018-12-29 13:51] himanshutecstub commented on #4432
This problem still in Magento 2.3.0. Also check with change `CustomerRegistry.php` & `CustomerTokenService.php` files but not working.

[2018-12-29 15:57] ladle3000 opened #20013 "Catalog Price Rules Not Instantly Applied."
### Preconditions (*)

1. 2.3.0
2. Caches on

### Steps to reproduce (*)

1. Make a catalog price rule and save and apply

### Expected result (*)

1. Expected result is for the prices to  immediately change on frontend via cache tags added to the appropriate products in the rule and those items cache cleared and display correct new price.

### Actual result (*)

1. Works inconsistently and often

[2018-12-29 15:57] magento-engcom-team commented on #20013
Hi @snoroozi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-29 19:58] pmclain commented on #6382
This has been fixed in `2.3-develop` https://github.com/magento/magento2/pull/13506

[2018-12-29 20:43] justinharris1986 opened #20014 "Cannot checkout when coupon code applied when coupon value > subtotal but less than order total (when factoring in shipping)"
### Preconditions
1. Magento 2.2.7
2. PHP 7.1.25

### Steps to reproduce
There are 2 places where this issue occurs, for both issues:
1. Create a product. Set a price for 99 cents.
2. Create a flat rate shipping, say for 5.95. (This value MUST be greater than the value in step 1)
3. Create a coupon, Apply a fixed amount discount for the whole cart, for the value of shipping(5.95) Check apply to sh

[2018-12-29 20:43] magento-engcom-team commented on #20014
Hi @justinharris1986. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-12-29 20:43] justinharris1986 commented on #20014
@magento-engcom-team give me 2.2.7 instance

[2018-12-29 20:43] magento-engcom-team commented on #20014
Hi @justinharris1986. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2018-12-29 20:44] magento-engcom-team commented on #20014
Hi @justinharris1986, here is your [Magento instance](https://i-20014-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-20014-2-2-7.instances.magento-community.engineering/admin](https://i-20014-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-29 21:01] justinharris1986 commented on #20014
Ugh - I couldn't reproduce it in your instance. I'll go back with a fresh install and try to find the exact trigger on my side.

[2018-12-29 21:01] #20014 closed, assigned to nobody

[2018-12-29 23:50] orlangur commented on #20013
@snoroozi,

Message shown after that clearly states that changes will be applied in background. Full catalog rule reindex is performed because any catalog rule may be chained with all other.

Promotions may be prepared in advance.

[2018-12-30 10:34] kate-kyzyma opened #20017 "Fixed Product Tax element bugs on product edit form"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Create Fixed Product Tax attribute
2. Assign the newly created attribute to attribute set
3. Open product edit form

### Expected result (*)

The Fixed Product Tax field works properly. The FPT attribute label has no asterisk, considering the FPT cannot be required field. Basically, the flow should be the same as on Mage

[2018-12-30 10:35] magento-engcom-team commented on #20017
Hi @kate-kyzyma. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-30 10:35] magento-engcom-team commented on #20017
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-12-30 10:36] dmytro-ch commented on #20017
@magento-engcom-team give me 2.2-develop instance

[2018-12-30 10:36] magento-engcom-team commented on #20017
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-12-30 10:36] magento-engcom-team commented on #20017
Hi @dmytro-ch, here is your [Magento instance](https://i-20017-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20017-2-2-develop.instances.magento-community.engineering/admin](https://i-20017-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-30 10:39] magento-engcom-team commented on #20017
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97383` were created

[2018-12-30 10:46] dmytro-ch commented on #20017
The issue can be reproduced in **2.2-develop** branch.

<img width="765" alt="screen shot 2018-12-30 at 12 39 33 pm" src="https://user-images.githubusercontent.com/11693779/50546473-e1563e80-0c30-11e9-9b37-0ef515688e8d.png">
<img width="738" alt="screen shot 2018-12-30 at 12 45 43 pm" src="https://user-images.githubusercontent.com/11693779/50546474-e1563e80-0c30-11e9-82d8-d5f0a5651a06.png">

The i

[2018-12-30 15:22] monotheist opened #20019 "New product form fields disappeared"
### Preconditions (*)

1. Magento 2.2.6
2. Percona Server 5.7
3. PHP 7.1
4. CentOS
5. Ngnix

### Steps to reproduce (*)

1.The problem is I am unable to reproduce this. Suddenly the product entry fields disappeared which resulted in inability to create products. Only thing that I did was install Wyomind Elastic Search which required me to execute composer require guzzlehttp/guzzle and guzzlehttp/r

[2018-12-30 16:17] ghost opened #20020 "Throwing fatal error while customer login when customer is created from Admin"
### Preconditions (*)

1. Magento - 2.3.0
2. PHP - 7.2.5

### Steps to reproduce (*)

1. Login into Magento Admin Panel.
2. Create Customer from Admin Panel.
3. Try to login this customer with any password from frontend.

### Expected result (*)

1. There should be message that email or password is invalid or some similar error.

### Actual result (*)

1. Throwing fatal error on frontend.

![custo

[2018-12-30 16:17] magento-engcom-team commented on #20020
Hi @rahulwebkul. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-30 16:18] rahulwebkul commented on #20020
@magento-engcom-team give me 2.3 instance

[2018-12-30 16:19] rahulwebkul commented on #20020
@magento-engcom-team give me 2.3-develop instance

[2018-12-30 16:19] magento-engcom-team commented on #20020
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-30 16:20] magento-engcom-team commented on #20020
Hi @rahulwebkul, here is your [Magento instance](https://i-20020-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20020-2-3-develop.instances.magento-community.engineering/admin](https://i-20020-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-30 16:23] #20020 closed, assigned to nobody

[2018-12-30 17:47] ethniccode commented on #20019
@magento-engcom-team give me 2.2.6 instance

[2018-12-30 17:47] magento-engcom-team commented on #20019
Hi @ethniccode. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-30 17:47] magento-engcom-team commented on #20019
Hi @ethniccode, here is your [Magento instance](https://i-20019-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-20019-2-2-6.instances.magento-community.engineering/admin](https://i-20019-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-30 21:30] magento-engcom-team commented on #19721
Hi @Delwin444. Thank you for your report.
The issue has been fixed in magento/magento2#19968 by @milindsingh in 2.2-develop branch
Related commit(s):
 - [609ef3730bc72a542b32fdd8ca53178ae1f2c96a](https://github.com/magento/magento2/commit/609ef3730bc72a542b32fdd8ca53178ae1f2c96a)

The fix will be available with the upcoming 2.2.8 release.

[2018-12-30 21:30] magento-engcom-team commented on #19917
Hi @bartspiering. Thank you for your report.
The issue has been fixed in magento/magento2#19949 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [e20e824048885860954e791ac9511431d7858919](https://github.com/magento/magento2/commit/e20e824048885860954e791ac9511431d7858919)

The fix will be available with the upcoming 2.2.8 release.

[2018-12-30 21:30] magento-engcom-team commented on #19796
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#19804 by @speedy008 in 2.2-develop branch
Related commit(s):
 - [7d7ff683134f0288cf80f4809ceab0906663923a](https://github.com/magento/magento2/commit/7d7ff683134f0288cf80f4809ceab0906663923a)
 - [539a558138344faffc48acff1948b7413b9c0602](https://github.com/magento/magento2/commit/539a558138344faffc48acff1948b741

[2018-12-30 21:30] #19796 closed, assigned to SyntaxKay

[2018-12-30 23:42] jghaanstra commented on #19542
Just a heads up. Using mysqldump to create the backup and restoring this backup will not give you this error. It has to do something with Magento's own database backup functionality.

[2018-12-31 03:16] magento-engcom-team commented on #18647
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-31 03:18] shikhamis11 commented on #18647
I am also facing Same issue at my client site

[2018-12-31 03:18] magento-engcom-team commented on #18647
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97384`, `MAGETWO-97385` were created

[2018-12-31 05:30] eWolf62095 commented on #17378
Hi, sir sorry for the late response,
You can refer to this name for the patch: MDVA-7285_EE_2.2.4_v1.composer.patch
Thank you

[2018-12-31 05:37] hitesh-wagento opened #20021 "Radio alignment issue on Cart page"
### Summary

Radio alignment issue on Cart page

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
1. Add any product in Cart.
2. Go to Shopping Cart Page.
3. Click on **Estimate Shipping and Tax**

### Expected result

1. Radio should be aligned.

![expected](https://user-images.githubusercontent.com/23443991/50555028-31460b80-0cec-11e9-8cff-4e31be498b

[2018-12-31 05:37] magento-engcom-team commented on #20021
Hi @hitesh-wagento. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-31 05:39] cedarvinda commented on #20019
@ethniccode I wasn't able to reproduce it on the this version.

[2018-12-31 05:39] #20019 closed, assigned to nobody

[2018-12-31 05:42] cedarvinda commented on #20021
@magento-engcom-team give me 2.x instance

[2018-12-31 05:43] hitesh-wagento commented on #20021
I am working on this PR.

[2018-12-31 05:44] magento-engcom-team commented on #20021
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-12-31 06:11] ethniccode commented on #20019
How did you test this? Explain please.

[2018-12-31 06:16] cedarvinda commented on #20019
Yes,
Step 1: Loged in to admin panel
Step 2: Go to catalog link from left menu > product
Step 3: Create new product ..

[2018-12-31 06:34] ethniccode commented on #20019
Please read my observations and see the screenshot. The problem exists but it is not easy to reproduce. This happens on a production server not a vanilla install. You should test with the pre-conditions I have mentioned. Does the instance have percona 5.7 and did you install the composer packages?

[2018-12-31 06:34] ethniccode commented on #20019
@magento-engcom-team Please reopen this issue.

[2018-12-31 06:52] Jeeva-Rathinam opened #20023 "How to solve : Warning: hash(): Unknown hashing algorithm: sha256 in Magento 2.3"
I am using Magento 2.3.0, after install, I am getting an error like,

There has been an error processing your request

Warning: hash(): Unknown hashing algorithm: sha256 in C:\wamp\www\abc\vendor\magento\framework\Encryption\Encryptor.php on line 189

How to solve the error?

[2018-12-31 06:52] magento-engcom-team commented on #20023
Hi @Jeeva-Rathinam. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-31 07:29] #20023 closed, assigned to nobody

[2018-12-31 07:37] magento-engcom-team commented on #20021
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97386`, `MAGETWO-97387` were created

[2018-12-31 07:51] magento-engcom-team commented on #20009
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-31 07:59] engcom-backlog-nazar commented on #20009
Hi @joridos thank you for you report, i'm not able to reproduce following steps you described, this may be related to your environment.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this

[2018-12-31 07:59] #20009 closed, assigned to milindsingh

[2018-12-31 08:17] brightnessjsoni commented on #20003
@GovindaSharma I am getting below response in api url, can you please check below?

<response>
<message>
The consumer isn't authorized to access %resources.
</message>
<parameters>
<resources>self</resources>
</parameters>
<trace>
#0 /domain/public_html/vendor/magento/module-webapi/Controller/Rest/RequestValidator.php(68): Magento\Webapi\Controller\Rest\RequestValidator->checkPermissions() #1 /dom

[2018-12-31 08:34] kate-kyzyma opened #20024 "Incorrect position of grid header Design Configuration Grid"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Open the Design Configuration Grid: *Content -> Design -> Configuration*

### Expected result (*)

1. The grid header is displayed above the grid.
![screen shot 2018-12-31 at 10 18 51 am](https://user-images.githubusercontent.com/32304009/50556868-4b311f80-0ce7-11e9-848c-00b9ac6978bf.png)

### Actual result (*)

1. The grid head

[2018-12-31 08:34] magento-engcom-team commented on #20024
Hi @kate-kyzyma. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-31 08:34] magento-engcom-team commented on #20024
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-12-31 08:34] dmytro-ch commented on #20024
@magento-engcom-team give me 2.3-develop instance

[2018-12-31 08:34] magento-engcom-team commented on #20024
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-31 08:35] magento-engcom-team commented on #20024
Hi @dmytro-ch, here is your [Magento instance](https://i-20024-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20024-2-3-develop.instances.magento-community.engineering/admin](https://i-20024-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-31 08:37] magento-engcom-team commented on #20024
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97388` were created

[2018-12-31 08:55] dmytro-ch commented on #20024
Please note, the issue is not reproducible in *2.2-develop* branch.

[2018-12-31 09:50] hitesh-wagento opened #20025 "Radio alignment issue"
### Summary

Radio alignment issue

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
1. Add any product in Cart.
2. Go to Checkout Page.

### Expected result

1. Radio should be aligned.
![expected](https://user-images.githubusercontent.com/23443991/50557911-9c550980-0d0f-11e9-9a06-2ce63be823fa.jpg)

### Actual result

1. Radio little bit up.
![actual]

[2018-12-31 09:50] magento-engcom-team commented on #20025
Hi @hitesh-wagento. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-31 09:52] hitesh-wagento commented on #20025
I am working on this PR.

[2018-12-31 09:56] magento-engcom-team commented on #20025
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-31 12:11] simonmaass commented on #13153
is this fixed in 2.3? are you able to issue a credit memo for a zero invoice?

[2018-12-31 12:53] magento-engcom-team commented on #15620
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97392` were created

[2018-12-31 17:40] crankycyclops opened #20028 "Guest checkout for downloadable product results in no links being sent in confirmation email"
Environment:

Tested on Magento 2.2.7 and PHP 7.1.

Summary of issue:

If you place an order for a downloadable product as a guest, the confirmation email contains no links. I enabled shareable downloads both globally and for the individual products that were tested.

Steps to reproduce:

1. Open browser in incognito mode
2. Add a downloadable product to the cart and checkout as a guest
3. Check t

[2018-12-31 17:40] magento-engcom-team commented on #20028
Hi @crankycyclops. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-31 17:42] crankycyclops commented on #20028
@magento-engcom-team give me 2.2.7 instance

[2018-12-31 17:42] magento-engcom-team commented on #20028
Hi @crankycyclops. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2018-12-31 22:06] smadasam opened #20029 "PayPal API settings missing in admin panel"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2
3. Debian

### Steps to reproduce (*)

1. log into the admin panel
2. navigate to paypay express checkout to set API settings

### Expected result (*)

1. API settings are available to use
2. eg API username, password, signature, etc.

### Actual result (*)

1. These sections are missing
2.

[2018-12-31 22:06] magento-engcom-team commented on #20029
Hi @smadasam. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-31 22:09] gwharton commented on #12124
Still broken on 2.2 and 2.3 over a year after being reported :(

[2018-12-31 22:11] gwharton commented on #15209
Why was this closed!!. This is still broken in 2.2 and 2.3

[2018-12-31 22:12] smadasam commented on #20029
[https://cloud.githubusercontent.com/assets/131546/15627897/351b4ff6-24f3-11e6-9339-a2ad5d0822ff.png](url)

[2018-12-31 22:31] nthurston opened #20030 "Customer EAV Decimal Attribute required allow 0"
### Preconditions (*)

1. Magento Version 2.2.6

### Steps to reproduce (*)

1. Create a new required customer attribute of type decimal with a default of 0 e.g.
[code]
2. Attempt to create a customer on front-end, or attempt to assign the value of 0 through the API.

### Expected result (*)

1. Customer attribute should be set with a 0 value.

### Actual result (*)

1. Both of these fail with [At

[2018-12-31 22:31] magento-engcom-team commented on #20030
Hi @nthurston. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-01 02:45] magento-engcom-team commented on #20028
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-01 02:48] shikhamis11 commented on #20028
@crankycyclops please correct the issue create format
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-01-01 02:50] magento-engcom-team commented on #20030
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-01 02:50] shikhamis11 commented on #20030
@nthurston did you checked the same for catalog attributes?

[2019-01-01 02:51] crankycyclops commented on #20028
@shikhamis11 it actually looks like this is a duplicate of #19036 and #18323, so I'll go ahead and close this. I'll make sure to follow the guidelines the next time I report an issue.

[2019-01-01 02:51] #20028 closed, assigned to shikhamis11

[2019-01-01 08:17] jayanta88 opened #20031 "Images inserted in category description broken in the frontend"
### Preconditions (*)

1. Magento CE 2.2.3

### Steps to reproduce (*)

1. Login to Admin
2. Add category description and click WYSIWYG Editor button, it will open a popup.
3. Then add an image using Insert Image Button there.
4. Now when you will save it. You will see the image url is like domain.com/admin/cms/wysiwyg/directive/___directive/e3ttZWRpYSB1cmw9Ind5c2l3eWcvYm94LWltZzIuanBnIn19/

### E

[2019-01-01 08:17] magento-engcom-team commented on #20031
Hi @jayanta88. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-01 08:20] jayanta88 commented on #20031
@magento-engcom-team give me 2.2.3 instance

[2019-01-01 08:20] magento-engcom-team commented on #20031
Hi @jayanta88. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2019-01-01 08:20] magento-engcom-team commented on #20031
Hi @jayanta88, here is your [Magento instance](https://i-20031-2-2-3.instances.magento-community.engineering).
Admin access: [https://i-20031-2-2-3.instances.magento-community.engineering/admin](https://i-20031-2-2-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-01 08:52] crankycyclops opened #20032 "Download links don't work when checking out as guest, even when Downloadable Product Options -> Order Item Status To Enable Downloads is set to pending"
### Preconditions (*)

1. Magento 2.2.7
2. PHP 7.1
3. MariaDB 10.2

### Steps to reproduce (*)

1. Make a downloadable product with shareable links
2. Set Admin -> Stores -> Configuration -> Catalog -> Downloadable Product Options -> Shareable to Yes
3. Set Admin -> Stores -> Configuration -> Catalog -> Downloadable Product Options -> Disable Guest Checkout if Cart Contains Downloadable Items to N

[2019-01-01 08:52] magento-engcom-team commented on #20032
Hi @crankycyclops. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-01 08:56] crankycyclops commented on #20032
I'm not sure how to test this on an automatically deployed vanilla instance, because the last time I tried for another ticket, I wasn't able to receive emails from it.

[2019-01-01 10:39] Abdulkadiragoliya commented on #7916
Thanks @victor-v-rad  .
Its solve by increasing value of client_max_body_size .
Thanks

[2019-01-01 10:59] visahardik opened #20033 "Magento 2.3 mail send issue"
### Preconditions

1.  Magento 2.3.1 or 2.2.8

### Steps to reproduce
1.  Sales > Orders > Open any one order.
2.  Click on Send mail.
3.  Register new customer.
### Expected result
1. Mail should be send

### Actual result
1. main.ERROR: Unable to send mail: Unknown error

Same env works for every mail like register, new order and any other with 2.2.7 or 2.3.0

[2019-01-01 10:59] magento-engcom-team commented on #20033
Hi @visahardik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-01 12:56] orlangur commented on #20033
@visahardik are you using XAMPP with Linux or MacOS?

You need to debug further what is going wrong on your env, otherwise such issue looks pretty hard to reproduce and investigate by others.

[2019-01-01 19:25] alex4allofyou opened #20034 "Install 2.3.0 Unable to apply patch"
### Preconditions
1. Magento 2.3.0
2. CentOS7
3. PHP 7.2.13
4. Apache 2.4.6
5. MySQL 5.7.23

### Steps to reproduce
1. Download magento 2.3.0 with Composer and open browser to get setup wizard page
2. Readiness Check : approved
3. Select DB
4. Use normal settings, a Magento generated key
5. Uncheck all additional modules, or check them all, tried both variations
6. Click install button

### Expect

[2019-01-02 02:08] srenon commented on #19973
@babybeddingdesign.... Seem like your issue has something to with "Aheadworks/Foll.." extension.

[2019-01-02 02:12] magento-engcom-team commented on #20032
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-02 02:49] visahardik commented on #20033
I am using XAMPP with Windows 10. I tried to debug but does not give proper error TranString return files path but not give error.

[2019-01-02 06:18] JERINJACOBCHERIAN opened #20035 "Magento 2.3.0 installation stops at 96% at data recurring"
I am using Windows 7 and wamp server.

My installation log shows as follows

Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magento_Store':

Module 'Magento_Directory':

Module 'Magento_Theme':

Module 'Magento_Backend':

Module

[2019-01-02 06:18] magento-engcom-team commented on #20035
Hi @JERINJACOBCHERIAN. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-01-02 06:42] DanielRuf commented on #20035
Please check your server logs for the exact error. Also such questions were often asked and this is more about your setup than Magento itself.

[2019-01-02 06:42] #20035 closed, assigned to nobody

[2019-01-02 06:43] DanielRuf commented on #20035
https://magento.stackexchange.com/ is a better place to ask such general questions.

[2019-01-02 06:45] maheshWebkul721 commented on #20004
@magento-engcom-team Tax amount should not be included in total order amount, i have checked in other
 eCommerce platform as well. So i think its correct.

[2019-01-02 06:57] magento-engcom-team commented on #20004
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-01-02 07:00] shikhamis11 commented on #8933
@engcom-backlog-nazar  any update on this issue ???

[2019-01-02 07:02] magento-engcom-team commented on #20034
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-02 07:18] magento-engcom-team commented on #20031
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-02 07:18] magento-engcom-team commented on #20029
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-02 07:18] magento-engcom-team commented on #20033
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-02 07:19] magento-engcom-team commented on #20034
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-02 07:37] engcom-backlog-nazar commented on #20029
Hi @smadasam thank you for you report, this issue has already fixed in 2.3-develop branch
![selection_251](https://user-images.githubusercontent.com/40756439/50583454-fa016700-0e71-11e9-8646-4b1681687125.png)

[2019-01-02 07:37] #20029 closed, assigned to nobody

[2019-01-02 07:47] engcom-backlog-nazar commented on #20033
HI @visahardik thank you for you report, i'm not able to reproduce following steps you described.
This is not a valid environment, please check https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2019-01-02 08:00] milindsingh commented on #20034
@alex4allofyou Have you tried installation in incognito or private window of the browser?
I tried and can successfully install 2.3 via composer.

[2019-01-02 08:05] engcom-backlog-nazar commented on #20034
Hi @alex4allofyou thank you for you report please report here -> https://github.com/magento-engcom/msi-module

[2019-01-02 08:05] #20034 closed, assigned to nobody

[2019-01-02 08:10] engcom-backlog-nazar commented on #20031
Hi @jayanta88 . Thank you for your report.
The issue has been fixed in magento/magento2#18215 by @adammada in 2.2-develop branch
Related commit(s):
 - [4e62fe32bf6f27b583eeb8d5d2309c7abebd5535](https://github.com/magento/magento2/commit/4e62fe32bf6f27b583eeb8d5d2309c7abebd5535)
 - [bf2efffff0da82f33796c82d643403545466911d](https://github.com/magento/magento2/commit/bf2efffff0da82f33796c82d64340354

[2019-01-02 08:10] #20031 closed, assigned to nobody

[2019-01-02 08:11] magento-engcom-team commented on #20032
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-02 08:33] martin-cod commented on #18329
Hi @irajneeshgupta

I didn't try `"condition_type": "in"` but the SearchCriteria filter logic (described in the ticket details) is the different then it is described in Dev docs
https://devdocs.magento.com/guides/v2.3/extension-dev-guide/searching-with-repositories.html
https://devdocs.magento.com/guides/v2.3/rest/performing-searches.html

I assume, that the SearchCriteria filtering logic how it i

[2019-01-02 08:36] gwharton commented on #15209
What makes you think this is commerce related. The OP does not mention it and i get the bug in open source.

[2019-01-02 08:53] magento-engcom-team commented on #15209
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-02 08:55] abbasalibutt opened #20036 "Magento 2 Catalog price rule preview"
### Preconditions (*)

1. Magento EE 2.2.2
2. PHP 7.0.33
3. MySQL

### Steps to reproduce (*)

1. Create Catalog price rule
2. Marketing -> Promotions -> Catalog price rule
3. Websites: Select all websites
4. Select all customer groups
5. Conditions: Category is 4 or you can set no condition so it will apply for all products
![selection_096](https://user-images.githubusercontent.com/1251949/505851

[2019-01-02 08:55] magento-engcom-team commented on #20036
Hi @abbasalibutt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-02 09:02] engcom-backlog-nazar commented on #20036
Hi @abbasalibutt  , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open

[2019-01-02 09:02] #20036 closed, assigned to nobody

[2019-01-02 09:03] troendheim opened #20037 "CategoryLinkReposity does not list all possible exceptions"
### Summary (*)
The PHPDoc in https://github.com/magento/magento2/blob/2.3.0/app/code/Magento/Catalog/Api/CategoryLinkRepositoryInterface.php (`delete` and `deleteByIds`) does show the full list of exceptions that could be thrown.

I have checked and the issue exists in v2.2.7 and v2.3.0.

### Examples (*)
https://github.com/magento/magento2/blob/2.3.0/app/code/Magento/Catalog/Model/CategoryLinkRe

[2019-01-02 09:03] magento-engcom-team commented on #20037
Hi @troendheim. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-02 09:05] abbasalibutt commented on #20036
Why this issue is closed?

[2019-01-02 09:05] magento-engcom-team commented on #20037
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-02 09:09] engcom-backlog-nazar commented on #20036
@abbasalibutt `Click schedule new update` schedule available only on EE version.

[2019-01-02 09:12] abbasalibutt commented on #20036
@engcom-backlog-nazar Yes I am using EE edition and if you will see my details I am clicking on schedule preview after create a schedule.

![selection_101](https://user-images.githubusercontent.com/1251949/50585762-e548c180-0eb9-11e9-8dff-ee6ccf16bba5.png)

[2019-01-02 09:41] bharanikonda opened #20038 "loading icon disappearing before background process completes for braintree payment (Admin order)"
### Preconditions (*)

1. Magento 2.1.15
2.

### Steps to reproduce (*)

1. Enable Braintree payment method
2. Navigate to create order page in admin
3. Add items, Enter address, Select shipping method
4. Select braintree credit card/braintree saved card as payment method
5. Click on submit button(at the bottom of the page)

### Expected result (*)

1. Loading icon must be displayed untill the pag

[2019-01-02 09:41] magento-engcom-team commented on #20037
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97398`, `MAGETWO-97399` were created

[2019-01-02 09:41] magento-engcom-team commented on #20038
Hi @bharanikonda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-02 09:41] magento-engcom-team commented on #20038
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-02 09:43] engcom-backlog-nazar commented on #20038
Hi @bharanikonda  i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2019-01-02 09:48] bharanikonda commented on #20038
Hi,

This issue is replicating in 2.2.6 as well. Please find the below reference screencast.
https://www.screencast.com/t/x2lIGpofu

Thanks.

[2019-01-02 09:49] engcom-backlog-nazar commented on #20038
@bharanikonda ok. I will recheck on 2.3-develop

[2019-01-02 10:02] magento-engcom-team commented on #13937
Hi @irajneeshgupta. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-02 10:23] sta1r opened #20040 "Static composer tests fail - version property error"
If I clone a fresh copy of magento2 and run the static test suite, the ComposerTest fails because each packaged module has a 'version' property. This is problematic in an automated build scenario for a custom module.

### Preconditions (*)

1. Magento v2.3

### Steps to reproduce (*)

1. Clone magento2 repo
2. Run `vendor/bin/phpunit -c dev/tests/static/phpunit.xml.dist`

### Expected result (*)

[2019-01-02 10:23] magento-engcom-team commented on #20040
Hi @sta1r. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-01-02 10:38] himanshutecstub opened #20041 "apc cache not working"
### Preconditions (*)
1. 2.3.0

### Steps to reproduce (*)
1. configure apc cache in `env.php` file
2. enable cache from backed

### Expected result (*)
1. found error as `Warning: apcu_sma_info(): No APC SMA info available.  Perhaps APC is disabled via apc.enabled? in /vendor/magento/zendframework1/library/Zend/Cache/Backend/Apc.php on line 186`

### Actual result (*)
1. For PHP > 7 apc extension

[2019-01-02 10:38] magento-engcom-team commented on #20041
Hi @himanshutecstub. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-02 10:40] saxsax1995 commented on #15047
@sduif i've follow your instruction, but it doesn't work on magento 2.2.5

[2019-01-02 10:41] saxsax1995 commented on #10454
@josh-carter i've use your extension, but it doesn't work on magento 2.2.5

[2019-01-02 10:58] magento-engcom-team commented on #20038
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97401`, `MAGETWO-97402` were created

[2019-01-02 10:59] magento-engcom-team commented on #20041
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-02 11:08] magento-engcom-team commented on #7165
Hi @engcom-backlog-tomash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2019-01-02 11:33] UKRogue commented on #19724
For now I have changed my live site to a drop down box to allow google merchant to pick up correct prices. However, initial problem still remains.

[2019-01-02 11:50] piwni commented on #10454
It seems to me that there may be more things that need to be taken into consideration. I'll take a look at it in a free while.

[2019-01-02 12:58] sduif commented on #15047
Correct, unfortunately there have been various changes in 2.2.5 that break the suggested fix. I've updated my comment to reflect this. Unfortunately I do not have an alternative fix at this time.

[2019-01-02 13:06] crankycyclops commented on #20032
In case it helps with your debugging, I did some work on this to make a temporary fix for my own store, and in the process discovered that in module-downloadable/Observer/SetLinkStatusObserver.php on line 131 (for 2.2.7), the $linkPurchased collection is empty, which I don't think should be the case. As a result, none of the links have their status modified.

For now, I've patched SaveDownloadable

[2019-01-02 13:19] Kmg-Kumar commented on #6876
@marionvdw he just targeting the class, In default, it has a page-main class in your body tag. when you customize your theme some time missing that page-main class, that time js does not target your class so the file not calling

 so you need to assign some existing class there. so he mentioned as **customer-address-index**

[2019-01-02 13:35] magento-engcom-team commented on #20040
Hi @engcom-backlog-tomash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2019-01-02 14:15] alex4allofyou commented on #20034
I have no idea to reproduce this

Tried it, but it does the same.
It hangs and when you refresh you will see 'You're ready! Install Now' again.

[2019-01-02 14:15] alex4allofyou commented on #20034
Does anybody know what it means with 'The store that was requested wasn't found. Verify the store and try again.'? Why would it request a shop which has to be installed?

[2019-01-02 14:32] engcom-backlog-tomash commented on #20040
Thank you for reporting this issue!
I was not able to reproduce this issue by the given steps.

### Action:
`vendor/bin/phpunit -c dev/tests/static/phpunit.xml.dist`
### Output:
PHPUnit 6.5.13 by Sebastian Bergmann and contributors.

[code]

[2019-01-02 14:32] #20040 closed, assigned to nobody

[2019-01-02 14:38] nthurston commented on #20030
Just checked, this issue does not seem to be present for catalog attributes.  Looks to be isolated to customers.

Possibly related to #7753, but i would expect if I set a valid default value for a required attribute it should use the default.  E.g. I can create a required 'varchar' attribute with a default and not have it in the customer front-end registration form, which works fine.

[2019-01-02 14:40] magento-engcom-team commented on #12669
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-02 14:40] engcom-backlog-tomash commented on #12669
Only security issues will be backported on 2.1.x

[2019-01-02 14:40] #12669 closed, assigned to nobody

[2019-01-02 14:54] sergei-sss opened #20045 "Incorrect Category Url from \Magento\Catalog\Model\Category::getUrl()"
### Preconditions (*)
1. Magento 2.2.6 with sample data.

### Steps to reproduce (*)
1. Add the second store view with store code "second".
2. Set "Add Store Code to Urls" to Yes
3. For "Gear" category change URL Keys on the store view levels - "gear-default" for "default" store view and "gear-second" for "second" store view.
Thus we have 2 URLs -
http://test.local/default/gear-default
http://test

[2019-01-02 14:54] magento-engcom-team commented on #20045
Hi @sergei-sss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-02 15:03] magento-engcom-team commented on #20045
Hi @LuciferStrome. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-02 15:18] magento-engcom-team commented on #18755
Hi @engcom-backlog-tomash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2019-01-02 15:20] magento-engcom-team commented on #18755
@engcom-backlog-tomash Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97406` were created

[2019-01-02 16:16] shikhamis11 commented on #20030
yes I am able to reproduce this issue

[2019-01-02 16:18] magento-engcom-team commented on #20030
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97407` were created

[2019-01-02 16:52] sta1r commented on #20040
I see now that the `version` property is removed from module composer files on 2.3-develop (but is present on 2.3, which I was using in my build).

[2019-01-02 17:59] DrewML commented on #17813
My guess is that babybeddingdesign's fix was clearing cache. Signing of static assets is disabled on that site, so there is no cache bust in the URIs.

[2019-01-02 18:03] MartinAarts commented on #17813
I gave a couple of hints. Mainly the things we did to speed up our site, including the fix above.

[2019-01-02 18:17] orlangur commented on #20045
@sergei-sss,

[code]

This is not a proper way to get store-specific category URLs.

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2019-01-02 18:17] #20045 closed, assigned to LuciferStrome

[2019-01-02 18:19] orlangur commented on #20041
@himanshutecstub I don't see a bug here. As you determined, ZF1 is pretty old and does not support apcu.

[2019-01-02 18:20] orlangur commented on #20037
@troendheim instead of reporting in such cases it's better to propose a pull request ;)

Thanks for collaboration!

[2019-01-02 18:37] hmphu commented on #18802
+1 happened for me with 2.3.0

[2019-01-02 18:52] Aurelius15 commented on #7687
I hope this will help someone.
di.xml
[code]

Plugin\AttributeFilter.php
[code]

[2019-01-02 19:22] magento-engcom-team commented on #6507
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-02 19:31] magento-engcom-team commented on #6300
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-02 19:34] magento-engcom-team commented on #6208
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-02 20:16] hubertus2017 commented on #6126
Hello, we have magento 2.2.6 with different stores, and after hours of search only the fix in collection.php from smagic39 worked

Hello, we have magento 2.2.6 with different stores, and after hours of search only the fix in collection.php from smagic39 worked for us. We have the question
- what it in detail does, does it only suppress the warning?
- Is the fix safe?
- Why is it not solved for M2.

[2019-01-02 20:35] ElundKasper opened #20049 "Empty cart FPC Enable Drop Items"
### Preconditions (*)
1. Magento 2.3

When installing following modules have been removed for setup:

Dotdigitalgroupemail
Magento-analytics
Magento Authorizenet
Magento Braintree
Magento markedsplace
Magento NewRelicReporting
Magento Persistent
Magento Sampledata

After fresh install.
Install sampledata via composer
Run bin/magento setup:upgrade

### Steps to reproduce (*)
1. select top category

[2019-01-02 20:35] magento-engcom-team commented on #20049
Hi @ElundKasper. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-02 21:05] magento-engcom-team commented on #18941
Hi @LucaGallinari. Thank you for your report.
The issue has been fixed in magento/magento2#19945 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [20a81dce822e49afe233d895dd87684df4133443](https://github.com/magento/magento2/commit/20a81dce822e49afe233d895dd87684df4133443)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-02 21:05] magento-engcom-team commented on #18374
Hi @milindsingh. Thank you for your report.
The issue has been fixed in magento/magento2#19911 by @shikhamis11 in 2.2-develop branch
Related commit(s):
 - [3fad6a7006f6d995b45913b891854b838f590fc2](https://github.com/magento/magento2/commit/3fad6a7006f6d995b45913b891854b838f590fc2)
 - [e9e1db668d9bea210de4c5892aaec7539f35bd9e](https://github.com/magento/magento2/commit/e9e1db668d9bea210de4c5892aae

[2019-01-02 21:05] #18374 closed, assigned to nobody

[2019-01-02 21:05] magento-engcom-team commented on #8952
Hi @loomdecor. Thank you for your report.
The issue has been fixed in magento/magento2#18912 by @ravi-chandra3197 in 2.2-develop branch
Related commit(s):
 - [b1fc4a7e8319906049069f16cf49c026363dd4c6](https://github.com/magento/magento2/commit/b1fc4a7e8319906049069f16cf49c026363dd4c6)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-02 21:05] magento-engcom-team commented on #19142
Hi @tomekjordan. Thank you for your report.
The issue has been fixed in magento/magento2#19199 by @gwharton in 2.2-develop branch
Related commit(s):
 - [bd3cb9b44f7328bf1d46eadadbeac5851c6a3fd6](https://github.com/magento/magento2/commit/bd3cb9b44f7328bf1d46eadadbeac5851c6a3fd6)
 - [2ad7fd6c81a32457d87a386647e5d483df98f475](https://github.com/magento/magento2/commit/2ad7fd6c81a32457d87a386647e5d48

[2019-01-03 02:30] msptrooper911 opened #20051 "Rest API Only Returning One Store View"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Using query to pull rest API, trying to pull all orders from certain date.
2. Query used is,   url="{url}/rest/all/V1/orders?searchCriteria[filter_groups][0][filters][0][field]=created_at&searchCriteria[filter_groups][0][filters][0][value]="+curDate+"%0000:00:00&searchCriteria[filter_groups][0][filters][0][condition_type]=from

[2019-01-03 02:30] magento-engcom-team commented on #20051
Hi @msptrooper911. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-03 02:51] pmclain commented on #13151
This is fixed in 2.3-develop by https://github.com/magento/magento2/pull/19451

[2019-01-03 03:49] michaeldyl520 commented on #3130
add `auth.json` to `~/.composer`, then we can use command `composer create-project --repository=https://repo.magento.com/ magento/project-enterprise-edition:2.2.6 m226`.

[2019-01-03 04:45] magento-engcom-team commented on #20051
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-03 05:21] jayanta88 commented on #20031
Hi @engcom-backlog-nazar

I've added the fixes. Replaced the method with the below but still, it's generating admin url like admin/cms/wysiwyg/directive/___directive/e3ttZWRpYSB1cmw9Ind5c2l3eWcvY2F0ZWdvcnkvaGVyY3VsZXMuanBlZyJ9fQ,,/
`/**
         * @param {Object} content
         * @return {*}
         */
        decodeDirectives: function (content) {
            // escape special chars in directi

[2019-01-03 05:49] ihor-sviziev commented on #7687
@engcom-backlog-nazar @engcom-backlog-nickolas  could you please recheck if this issue still there?
People were complaining that it wasn’t fixed

[2019-01-03 06:30] rkvarma19 commented on #5918
I am facing same problem in magento 2.2.7

[2019-01-03 06:30] rkvarma19 commented on #5918
@magento-engcom-team give me 2.2.7 instance

[2019-01-03 06:30] magento-engcom-team commented on #5918
Hi @rkvarma19. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-01-03 06:31] magento-engcom-team commented on #5918
Hi @rkvarma19, here is your [Magento instance](https://i-5918-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-5918-2-2-7.instances.magento-community.engineering/admin](https://i-5918-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-03 07:13] yashwant2jcommerce opened #20052 "Calender icons misaligned after edit product in admin"
### Preconditions (*)

1. Magento 2.3.0
2.

### Steps to reproduce (*)

1. Admin>>Catalog>>Products
2. Edit any product and choose setting "Set Product as New From"
3. Misaligned calendar icons

### Expected result (*)

1.
![2019-01-03_12-40_joust duffle bag - products 2](https://user-images.githubusercontent.com/26630846/50626578-00b4da80-0f55-11e9-9468-e33be8b320c7.jpg)

### Actual result (*)

1

[2019-01-03 07:13] magento-engcom-team commented on #20052
Hi @yashwant2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-01-03 07:21] magento-engcom-team commented on #20052
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-03 07:30] GovindaSharma commented on #20052
@yashwant2jcommerce this issue is no longer exist in 2.3-develop branch.The issue which you have reported exist in 2.3 version but it is resolved in 2.3-develop branch and it will be available in 2.3.1 release.

[2019-01-03 07:30] #20052 closed, assigned to GovindaSharma

[2019-01-03 07:31] yashwant2jcommerce commented on #20052
@GovindaSharma Thanks for update.

[2019-01-03 07:44] irajneeshgupta commented on #20051
@msptrooper911
Cross check your date values seems not url encoded correctly.

`/rest/V1/orders?searchCriteria[filter_groups][0][filters][0][field]=created_at&searchCriteria[filter_groups][0][filters][0][value]=2018-12-01+00%3A00%3A00&searchCriteria[filter_groups][0][filters][0][condition_type]=from&searchCriteria[filter_groups][1][filters][1][field]=created_at&searchCriteria[filter_groups][1][filt

[2019-01-03 07:52] johnorourke opened #20053 "CMS API does not allow Block or Page to link to Stores - Interface has missing methods"
### Summary (*)

The CMS module Data API does not let you view or set the store links when using the Interfaces, but the underlying Page or Block model does have support for it. The core code uses the magic getter/setter getStoreId and setStoreId to implement this, but those methods are not exposed in the interface.

The Models have an additional 'getStores' method, and the phpdoc specifically men

[2019-01-03 07:52] magento-engcom-team commented on #20053
Hi @johnorourke. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-03 07:56] johnorourke commented on #20053
@magento-engcom-team give me 2.3-develop instance

[2019-01-03 07:56] magento-engcom-team commented on #20053
Hi @johnorourke. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-03 07:56] magento-engcom-team commented on #20053
Hi @johnorourke, here is your [Magento instance](https://i-20053-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20053-2-3-develop.instances.magento-community.engineering/admin](https://i-20053-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-03 08:02] magento-engcom-team commented on #20053
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-03 08:02] magento-engcom-team commented on #20049
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-03 08:04] johnorourke commented on #20053
Added 1.1 in the steps to reproduce, because default test instances do not have sample data installed.

[2019-01-03 08:07] johnorourke commented on #20053
Also see #17458 and its PR #17995 regarding adding Extension Attributes support to these same models - related but not duplicate.

[2019-01-03 08:14] magento-engcom-team commented on #20051
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-03 08:16] engcom-backlog-nazar commented on #20051
HI @msptrooper911 i'm not able to reproduce following steps you describe, this may be related to your custom modules.

[2019-01-03 08:16] #20051 closed, assigned to irajneeshgupta

[2019-01-03 08:17] Prasad2706 opened #20054 "Magento2.3 image upload for banner"
Getting error
Fatal error: Uncaught Error: Call to undefined function mime_content_type() in

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-03 08:17] magento-engcom-team commented on #20054
Hi @Prasad2706. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-03 08:17] magento-engcom-team commented on #20054
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-03 08:19] engcom-backlog-nazar commented on #20054
Hi @Prasad2706. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Then reopen the issue.

[2019-01-03 08:19] #20054 closed, assigned to nobody

[2019-01-03 08:21] Prasad2706 commented on #20054
no answer no suggestion
and close issue ????

[2019-01-03 08:29] #20041 closed, assigned to nobody

[2019-01-03 08:32] engcom-backlog-nazar commented on #20013
Hi @snoroozi thank you for you report, this is expected behavior, you can report here https://github.com/magento/community-features

[2019-01-03 08:32] #20013 closed, assigned to nobody

[2019-01-03 08:39] magento-engcom-team commented on #10814
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-03 08:42] engcom-backlog-nazar commented on #7687
@ihor-sviziev, ok i will re check this issue

[2019-01-03 08:58] magento-engcom-team commented on #20053
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97415`, `MAGETWO-97416` were created

[2019-01-03 09:12] engcom-backlog-nazar commented on #15209
@gwharton but if we accept this we will have 2 duplicate issues ?

[2019-01-03 09:20] magento-engcom-team commented on #7687
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-03 09:21] gwharton commented on #15209
True, but this issue is failing adding a category and the other is failed reindexing. We are assuming the root cause is the same for both (admitedly seems like it is but we dont know that for sure yet do we?).

[2019-01-03 09:30] meandor-ua commented on #19761
@jaimin-ktpl current fixes still don't provide complete backward compatibility with code designed for Magento 2.0.X, 2.1.X, 2.2.X.
IMO it is not good at all to have any variables related to SKU in abstract entity code. In the best case new class must be implemented and extended from abstract entity.
In case it is impossible to achieve that, then it would be probably better to introduce one more va

[2019-01-03 09:37] magento-engcom-team commented on #10814
@engcom-backlog-tomash Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97417`, `MAGETWO-97418` were created

[2019-01-03 09:38] JERINJACOBCHERIAN commented on #20035
But I think is a bit of a bug in 2.3.0

Could you just check this question

https://magento.stackexchange.com/questions/252188/magento-2-2-7-admin-panel-blank-page/252293?noredirect=1#comment360810_252293

[2019-01-03 09:53] DanielRuf commented on #20035
In general we can not do much without the logfile entries. Still, this is not a bug per se but a problem with your system probably.

[2019-01-03 09:58] magento-engcom-team commented on #18802
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-03 09:58] craigcarnell commented on #19718
@TomashKhamlai Why was this closed??

[2019-01-03 10:02] milindsingh commented on #6300
@magento-engcom-team give me 2.3-develop instance

[2019-01-03 10:02] magento-engcom-team commented on #6300
Hi @milindsingh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-03 10:02] rakeshvarma90 commented on #5918
I have checked in your given instance and I confirmed that this issue is still in 2.2.7.
Check this product.
https://i-5918-2-2-7.instances.magento-community.engineering/swatch-issue.html

[2019-01-03 10:02] magento-engcom-team commented on #6300
Hi @milindsingh, here is your [Magento instance](https://i-6300-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-6300-2-3-develop.instances.magento-community.engineering/admin](https://i-6300-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-03 10:03] engcom-backlog-tomash commented on #19718
@craigcarnell, I can reproduce it only on 2.1-develop. Please try to reproduce this problem in the provided instance.

[2019-01-03 10:03] engcom-backlog-tomash commented on #19718
@magento-engcom-team give me 2.3.0 instance

[2019-01-03 10:03] magento-engcom-team commented on #19718
Hi @engcom-backlog-tomash. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-03 10:04] magento-engcom-team commented on #19718
Hi @engcom-backlog-tomash, here is your [Magento instance](https://i-19718-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19718-2-3-0.instances.magento-community.engineering/admin](https://i-19718-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-03 10:09] engcom-backlog-tomash commented on #18802
@dan-ding have you already created a support ticket on Magento Cloud Platform or Magento Commerce account?
ElasticSearch is a new feature for Magento Open Source 2.3.0 and we aknowledged the issue. Even when the issue will be fixed here you still should ask for help from Magento Commerce support team.

[2019-01-03 10:19] engcom-backlog-nazar commented on #20049
Hi @ElundKasper thank you for you report, i'm not able to reproduce following steps you described, seems like this is your environment problem.

[2019-01-03 10:19] #20049 closed, assigned to nobody

[2019-01-03 10:20] milindsingh commented on #6300
@dnadle @mbrinton01 I recheck and found that
2.3-develop : the API response was `"id_FOOBAR"
2.2-develop:  the API response was `true`

What do you suggest,
1. We shall use the same object as in return i.e.
[code]

2. Or just backport the of 2.3-develop as the return, i.e
[code]

[2019-01-03 10:45] engcom-backlog-nazar commented on #7687
@ihor-sviziev seems like this already fixed in 2.3.0 release

![multiselect](https://user-images.githubusercontent.com/40756439/50633875-7e78e600-0f55-11e9-8b51-8a3bc542d3e2.gif)

[2019-01-03 10:54] magento-engcom-team commented on #4330
Hi @engcom-backlog-tomash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2019-01-03 11:13] magento-engcom-team commented on #8508
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-03 11:49] mrtuvn opened #20055 "Ship button in order view backend missing after create partial invoice"
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1. Create New Order with 2 item
2. Go to Admin
3. Sales > Order
4 Create Invoice with 1 item first
5 Create second Invoice with last item
6 Create Shipping

### Expected result (*)

1. [Screenshots, logs or description]
2. Button ship should be show

### Actual result (*)

1. [Screenshots, logs or description]
2. Button not show

[2019-01-03 11:49] magento-engcom-team commented on #20055
Hi @mrtuvn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-03 11:50] mrtuvn commented on #20055
@magento-engcom-team give me 2.3 instance

[2019-01-03 11:50] magento-engcom-team commented on #20055
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-03 11:52] mrtuvn commented on #20055
Seem everything ok now . Very weird from my side

[2019-01-03 11:54] #20055 closed, assigned to nobody

[2019-01-03 12:12] laconica-mark commented on #7687
@engcom-backlog-nazar
1. Select some attribute items and save
2. unselect **all** items this attribute and try to save

[2019-01-03 12:14] Aurelius15 commented on #7687
@engcom-backlog-nazar

1. Select some attribute items and save
2. unselect **all** items this attribute and try to save

[2019-01-03 12:48] magento-engcom-team commented on #16531
Hi @progreg. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-01-03 14:02] magento-engcom-team commented on #15497
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-03 14:02] jurpro commented on #19744
How to fix this issue? I still getting this error everytime flush static files cache

[2019-01-03 14:03] engcom-backlog-nazar commented on #15497
Hi @Orstio , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2019-01-03 14:03] #15497 closed, assigned to nobody

[2019-01-03 15:19] jojotjebaby commented on #18256
Yes I can see this has been fixed in the 2.2-develop branch on 05/11/2018 (https://github.com/magento/magento2/commit/7443dc3194040e9ce2f7baf902470deb975b97c6)but it wasn't included in 2.2.7. @magento-engcom-team will this fix be included in 2.2.8 ?

Thank you !

[2019-01-03 15:22] DanielRuf commented on #18256
Yes as not all commits made it into the planned release (the bot who gives the info about the version is still not very accurate / correct).

[2019-01-03 16:09] mbrinton01 commented on #6300
@milindsingh Option 2 (backport 2.3-develop approach)

[2019-01-03 16:45] craigcarnell commented on #19718
@TomashKhamlai i've found my issue, might not be related to this, will create a ticket.

[2019-01-03 16:55] cscd98 opened #20060 "2.3.0 - clearing pub/static makes me login 3 times"
When I am developing locally, I remove the contents of pub/static by running a script that I wrote. It also clears the cache.

But, the act of clearing pub/static seems to be causing a login issue that did not exist pre-2.3 release. I have managed to determine that it the act of clearing pub/static on it's own that causes this.

### Preconditions (*)
1. Magento 2.3.0
2. PHP 7.2.13
3. MySQL 5.7.24

[2019-01-03 16:55] magento-engcom-team commented on #20060
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-03 16:56] craigcarnell commented on #19744
https://github.com/magento/magento2/issues/20060

[2019-01-03 17:13] sergei-sss commented on #20045
Ok, I'll to create the category from the repository (too resource-intensive way for getting only category URL In my opinion) and send such params as $id and $storeId(!). I hope is a proper way...

From any frontend controller:
[code]
Result: http://test.local/default/gear

This is not a valid URL from needed store.
This is redirect(!) from current store: http://prntscr.com/m2ngjy

Anyway, in the m

[2019-01-03 18:44] magento-engcom-team commented on #20060
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-03 18:47] magento-engcom-team commented on #20060
@milindsingh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97428` were created

[2019-01-03 18:52] nickgraz commented on #9948
@magento-engcom-team Any update on this? This is causing issues in 2.3 with the new `MSP_ReCaptcha` module... we have it disabled and we are getting errors like ```[2019-01-03 18:22:29] report.ERROR: Class MSP\ReCaptcha\Observer\Frontend\LoginObserver does not exist [] []
[2019-01-03 18:22:44] report.ERROR: Class MSP\ReCaptcha\Observer\Frontend\CreateUserObserver does not exist [] []
[2019-01-03 1

[2019-01-03 19:08] magento-engcom-team commented on #18392
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-03 21:12] Nedertoys opened #20061 "2.3.0 instance Terms & Conditions saved, but not appear at Store→Terms and Conditons"
All,
I have a challange by setting up the terms and conditions. I am using Magento version 2.3.0

I added new Terms & Conditions, saved it, but they do not appear on my backend. On my frontend no problems at all. However I cano ot deactivate them

I will try to explain it step by step:

- I started the following path: Store→Settings→Terms and Conditions and everything looks normal
![1](https://use

[2019-01-03 21:12] magento-engcom-team commented on #20061
Hi @Nedertoys. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-03 21:15] Nedertoys commented on #20061
Yes

[2019-01-03 21:17] Nedertoys commented on #20061
I Expected that the new terms and conditions appeared at the Store→Settings→Terms and Conditions
The actual result where just a blank screen

[2019-01-03 23:10] snoroozi commented on #17813
@yanncharlou I added your files to my Ultimo theme on 2.2.5 and recompiled and deployed but doesn't seem any better loading here https://thegreennursery.com/mixx-2-stroller-adapters-rain-cover.html

Any ideas?

[2019-01-04 01:32] magento-engcom-team commented on #20061
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-04 01:35] shikhamis11 commented on #20061
@Nedertoys please correct the format of issue creation
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-01-04 01:57] magento-engcom-team commented on #20061
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-04 01:57] magento-engcom-team commented on #20061
Hi @shikhamis11, here is your [Magento instance](https://i-20061-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20061-2-3-develop.instances.magento-community.engineering/admin](https://i-20061-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-04 02:06] shikhamis11 commented on #20061
This issue is not present at 2.3-develop instace
![screenshot_20190104-073458__01](https://user-images.githubusercontent.com/25526037/50670720-71aacf80-0ff3-11e9-9e11-52af088ed84d.jpg)

[2019-01-04 02:09] shikhamis11 commented on #20061
@Nedertoys since I am not able to reproduce this I am closing this issue if you still think it's valid one please update more about issue also share video of the issue I will reopen this

[2019-01-04 02:09] #20061 closed, assigned to shikhamis11

[2019-01-04 03:49] brightnessjsoni opened #20062 "Catalog Price Rules not working according to specific customer group"
**Description (*)**
I have created one catalog price rule with 10% discount to specific category(for eg. 'cat1') and assign specific customer group(for eg. 'ABC') to created rule. In frontend, I am not able to see discounted price on product detail page if logged in customer belongs to specific customer group('ABC') and check product of category 'cat1'.

**Preconditions**
    Magento 2.2.6 & 2.3.0

[2019-01-04 03:49] magento-engcom-team commented on #20062
Hi @brightnessjsoni. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-04 04:36] brightnessjsoni commented on #20062
Issue has been resolved now. I am closing this issue.

[2019-01-04 04:36] #20062 closed, assigned to nobody

[2019-01-04 07:08] ihor-sviziev commented on #7687
@engcom-backlog-nazar did you checked this issue on 2.2 release line?

[2019-01-04 07:59] magento-engcom-team commented on #19783
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-04 08:01] magento-engcom-team commented on #19220
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-04 08:23] #19783 closed, assigned to nobody

[2019-01-04 09:37] skukla commented on #14952
Much-appreciated, @hostep -- what a killer module!

[2019-01-04 10:18] Floddy opened #20064 "Magento widgets source models forced to use deprecated interface"
### Summary (*)
\Magento\Framework\Option\ArrayInterface, is marked as deprecated, and \Magento\Framework\Data\OptionSourceInterface should be the replacement.

However, when using a source model for a select in a widget, the source model has to implement \Magento\Framework\Option\ArrayInterface, because of this check:
https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Frame

[2019-01-04 10:18] magento-engcom-team commented on #20064
Hi @Floddy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst