[2019-09-26 08:40] piotrusin commented on #2960
Any updates on that? This is pretty annoying to work with

[2019-09-26 08:50] magento-engcom-team commented on #24717
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20484` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-26 08:59] ihor-sviziev commented on #23638
Hi @samuel-reinhardt and @engcom-Charlie,

Following commit https://github.com/magento/magento2/commit/484c8530afe0a2003d9f52517f64131ae04ac722 added check that product is salable, while following MFTF test https://github.com/magento/magento2/blob/e93feb02398f158f79fefb14de95cf93e3ec0786/app/code/Magento/Downloadable/Test/Mftf/Test/VerifyDisableDownloadableProductSamplesAreNotAccessibleTest.xml#L1

[2019-09-26 09:01] engcom-Charlie commented on #24716
Hello @sangeetajain
I can't reproduce this issue on a fresh Magento 2.3-develop.

**Manual testing scenario:**

1. Login to Admin
2. Go to the Stores-->Configuration-->Services-->OAuth
3. Change values in **Customer Token Lifetime (hours)** & in **Admin Token Lifetime (hours)** to '0.5'

**Actual result:**
Configuration is saved
![image](https://user-images.githubusercontent.com/51680850/65674090-

[2019-09-26 09:09] sangeetajain commented on #24716
0.5 is save but it will not work on practically. Like if we set 0.5 means token will expire after 30 minute by logic but in Magento 2.3 it's not happen.
If we put 0.5 that means it will check $hour > 0 then it will set 0 hour which is never expire toke.

[2019-09-26 09:10] sangeetajain commented on #24716
0.5 is save but it will not work on practically. Like if we set 0.5 means token will expire after 30 minute by logic but in Magento 2.3 it's not happen.
If we put 0.5 that means it will check $hour > 0 then it will set 0 hour which is never expire toke.

[2019-09-26 09:11] magento-engcom-team commented on #24708
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20485` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-26 09:44] engcom-Charlie commented on #23638
Hello @ihor-sviziev
**Manual testing scenario:**

1. Login to admin
2. Go to Catalog-->Products
3. Select 'Downloadable product' from 'Add product' button dropdown
4. Fill all required inputs
5. Set product status to 'Out to stock'
6. Go to 'Downloadable information' tab
7. Press 'Add link' button under a Samples
8. Add any test file
9. Save a product
10. Go to the product page on the frontend
11.

[2019-09-26 10:04] pmzandbergen commented on #6126
Encountered this error in Magento 2.3.1. In our case it was related to double values in the table "review_entity_summary". To check if this is the case for your database use the following SQL query:

`SELECT COUNT(*) AS cnt, entity_pk_value FROM review_entity_summary GROUP BY entity_type, entity_pk_value, store_id HAVING cnt > 1;`

In my opinion these tables should use a unique index to prevent th

[2019-09-26 10:49] ihor-sviziev opened #24735 "Image in minicart is blurred on iPhone"
### Preconditions (*)
1. Magento 2.3.2 with demo data

### Steps to reproduce (*)
1. Add some product to cart
2. Go to shopping cart
3. Open minicart and compare images that rendered on minicart and on shopping cart pages

### Expected result (*)
1. Both images should have good quality

### Actual result (*)
1. Image on cart page looks good, while image in minicart is blurred
![image](https://user

[2019-09-26 10:54] ajijshekh123 commented on #24735
Give me @magento give me 2.3-develop instance

[2019-09-26 10:54] magento-engcom-team commented on #24735
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-26 10:54] magento-engcom-team commented on #24735
Hi @ajijshekh123, here is your [Magento instance](https://i-24735-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24735-2-3-develop.instances.magento-community.engineering/admin](https://i-24735-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-26 11:03] engcom-Charlie commented on #24716
@sangeetajain you are right. I will update a description of issue and confirm it.

[2019-09-26 11:05] ihor-sviziev commented on #23638
Hi @engcom-Charlie,
Looks like expected result is conflicting with following MFTF test:
https://github.com/magento/magento2/blob/e93feb02398f158f79fefb14de95cf93e3ec0786/app/code/Magento/Downloadable/Test/Mftf/Test/VerifyDisableDownloadableProductSamplesAreNotAccessibleTest.xml

If it's not conflicting - could you give us more info from MC-15845 and MC-14824 to understand whole picture?

[2019-09-26 11:07] ajijshekh123 commented on #24735
I have reproduced the issue in iPhoneXS Device.

**See attached the screenshot:**
![Product Image Issue_iPhoneXS](https://user-images.githubusercontent.com/24711761/65683712-9bbd8980-e07b-11e9-8296-d8c84c653989.jpg)

[2019-09-26 11:08] magento-engcom-team commented on #24735
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-26 11:09] magento-engcom-team commented on #24735
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-26 11:10] magento-engcom-team commented on #24735
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20486` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-26 11:11] FreekVandeursen commented on #24667
Thanks for the advice @xpoback and @georgebabarus , I didn't realize a factory was intended to be used to get a directory read instance here.

However, I wonder if this issue is still valid. After all, we now have classes marked as `@api` that cannot be injected into a constructor because of the missing preference. Shouldn't that at least be noted in the comments somewhere that these classes are n

[2019-09-26 11:11] ihor-sviziev commented on #23638
@engcom-Charlie,
Looks I found the diff. Sample file **should not be available** when product Status "Enabled". So now everything is clear.
Sorry for misunderstanding

[2019-09-26 11:23] smartsanthosh commented on #24046
@magento i would like to work on this ticket

[2019-09-26 11:41] magento-engcom-team commented on #24716
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20487` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-26 12:38] snowcore commented on #20164
This happens if you removed `catalog.product.related` or `product.info.upsell` block.
Reference: `vendor/magento/module-google-tag-manager/view/frontend/layout/catalog_product_view.xml`
Tag manager expects these blocks to be present on a product page.
I will create a ticket to address this issue.

[2019-09-26 12:47] magento-engcom-team commented on #24646
Hi @drpayyne. Thank you for your report.
The issue has been fixed in magento/magento2#24661 by @drpayyne in 2.3-develop branch
Related commit(s):
 - [2b5b739506f34cc13dbbe91b50ff9fb6ceadfe6d](https://github.com/magento/magento2/commit/2b5b739506f34cc13dbbe91b50ff9fb6ceadfe6d)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-26 12:47] #24646 closed, assigned to drpayyne

[2019-09-26 13:59] orlangur commented on #24683
@visualwebs,

Looks like not. You should contact problematic extension developers.

[2019-09-26 14:12] ghost opened #24736 "Quote `customer_is_guest` set to 0 for guests"
### Preconditions
1. Magento 2.3.1

### Steps to reproduce (*)

1. Be guest
2. Put item in cart
3. Go to checkout
4. Fill in shipping information
5. Select shipping method
6. Proceed to payment screen

### Expected result (*)

1. In database, `quote.customer_is_guest` === 1

### Actual result (*)

1. `quote.customer_is_guest` === 0

:exclamation: **Take a note of the following:**
[code]
 in /app/c

[2019-09-26 14:38] visualwebs commented on #24683
But is possible to know why Magento load the entire list of 6000 attributes when editing the product? A lot of those attributes are not required to have loaded.

[2019-09-26 14:39] paul-gene commented on #24736
OK, so after a bit of digging, it seems that this flag is set to default as 0, and that it is only changed to 1 just before the order is placed, which seems like a bit of an odd way of doing things.

I'm my use case, I am trying to turn abandoned quotes into completed orders, but because a guest quote is initially set with `customer_is_guest = 0', when passing the quote through to submitted as an

[2019-09-26 15:24] ronakchauhan commented on #4663
Should provide proper solution for this or mention clearly that it's not possible avvording to magento standards

[2019-09-26 15:53] kandarp26 commented on #20125
@magento-engcom-team give me 2.3-develop instance

[2019-09-26 15:54] magento-engcom-team commented on #20125
Hi @kandarp26. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-26 15:54] zapotocnylubos commented on #23965
I have got **exactly** same error.
magento version: 2.3.2
db: mariadb:10.2.21

[2019-09-26 15:54] magento-engcom-team commented on #20125
Hi @kandarp26, here is your [Magento instance](https://i-20125-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20125-2-3-develop.instances.magento-community.engineering/admin](https://i-20125-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-26 16:14] orlangur commented on #24683
@visualwebs it has nothing to do with Magento. It's how they implemented this extension.

[2019-09-26 16:17] orlangur commented on #24683
@visualwebs,

Ah, ok, from

Looks like you disabled `Iceshop_Icecatlive` as well and it still loads too many attributes. My understanding is that Magento should only loaf attributes from current attribute set.

[2019-09-26 16:19] #21688 closed, assigned to nobody

[2019-09-26 16:41] lenaorobei commented on #24676
There is no check in GraphQL that  `data/sku`(child)  belongs to `parent_sku`. See `\Magento\ConfigurableProductGraphQl\Model\Cart\BuyRequest\SuperAttributeDataProvider::execute`.

[2019-09-26 17:34] dverkade commented on #22774
I'm reopening this issue. It still an issue in Magento 2.3.2. Steps to reproduce are clear and show the button is not present in Magento 2.3.1 and I can confirm it's not present in Magento 2.3.2 as well.

[2019-09-26 17:45] jigar48 commented on #24730
There is no place where mentioned that Logo should be use for the back end purpose only. and one more thing that the logo which we upload in to sales -> invoice and packing slip design, there is 2 field Logo for Print and Logo for HTML Print layout.

Now Logo For the HTML print layout should not be part of the Backend. because that is only possible in the Front end side under the customer account

[2019-09-26 19:00] adm-sport commented on #7687
i have the same issue for the 2.2.8.. Does the 2.2.x have a fix for that? we are unable to unselect all values :'(

[2019-09-26 19:42] #6832 closed, assigned to brunoroeder

[2019-09-26 20:12] brunoroeder commented on #24736
Hello @paul-gene

This is how Magento works and not a bug so this issue should be closed.

[2019-09-26 20:15] magento-engcom-team commented on #24721
@brunoroeder Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2019-09-26 20:16] Daniel304 commented on #16958
I have the same error in 2.3.1 tomado shipping is allready disabled

[2019-09-26 20:23] sdzhepa commented on #24666
Hello @shkodasv  @hostep @engcom-Bravo

Finally, I have received a response from the internal team and confirmation that it is a bug. Previously were several concerns probably it was by design or so.

I will update Issue title and content based on test steps from https://github.com/magento/magento2/issues/24666#issuecomment-533676872

[2019-09-26 20:30] magento-engcom-team commented on #24666
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.
Tha

[2019-09-26 20:33] magento-engcom-team commented on #24666
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20509` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-26 20:58] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-09-26 20:58] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-26 20:59] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-26 21:00] uabassguy commented on #22043
Why is changing in xml a valid fix but in core_config_data the active flag is set? This is still reproducible on vanilla 2.3.2 with any payment method that does not have active = 1 in xml. If the config is enabled in the database then source does not consider it.

[2019-09-26 21:01] DrewML commented on #22272
@twoatechguy we've got @bubasuma working on a fix for this now

[2019-09-26 21:34] uabassguy commented on #22043
Seems the real reason this does not work correctly is the payment method instance is coming from a factory create object, which considers xml, but does not check the database to see if the method is enabled. Something needs to be added during the factory object creation which gets config from the database core_config_data payment/<method_code>/active, or other config values as well if those affect

[2019-09-26 21:37] paul-gene commented on #24736
@brunoroeder and that therein is the issue!

[2019-09-26 22:20] magento-engcom-team commented on #24633
Hi @rani-webkul. Thank you for your report.
The issue has been fixed in magento/magento2#24634 by @rani-webkul in 2.3-develop branch
Related commit(s):
 - [66b7785aebd4e4570d789a308f6d40387cc56053](https://github.com/magento/magento2/commit/66b7785aebd4e4570d789a308f6d40387cc56053)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-26 22:20] #24025 closed, assigned to davidverholen

[2019-09-26 22:20] #24633 closed, assigned to sidolov, rani-priya

[2019-09-26 22:20] magento-engcom-team commented on #24025
Hi @beberlei. Thank you for your report.
The issue has been fixed in magento/magento2#24030 by @davidverholen in 2.3-develop branch
Related commit(s):
 - [f0856e8575bc0cc86543d14da2bd45d8e457fa25](https://github.com/magento/magento2/commit/f0856e8575bc0cc86543d14da2bd45d8e457fa25)
 - [ed1fb0358045fd988c59a00e68099cf3632e5865](https://github.com/magento/magento2/commit/ed1fb0358045fd988c59a00e68099

[2019-09-26 22:55] Crikey-Mikey commented on #24055
Hi @maheshWebkul721 ,

Thanks for looking into this. Wondering if you had any luck solving this one?

[2019-09-27 02:20] magento-engcom-team commented on #24721
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20523` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-27 03:05] Januszpl commented on #24736
@magento give me 2.3-develop instance

[2019-09-27 03:05] magento-engcom-team commented on #24736
Hi @Januszpl. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 03:06] magento-engcom-team commented on #24736
Hi @Januszpl, here is your [Magento instance](https://i-24736-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24736-2-3-develop.instances.magento-community.engineering/admin](https://i-24736-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 04:18] dzungnt opened #24738 "Duplicated regions on admin customer address"
### Preconditions (*)
I'm using magento 2.3.2 version and getting issue that the regions are duplicated on admin customer address
### Steps to reproduce (*)
1. Go to Admin >> Customers >> All Customers
2. Select a customer
3. Go to Addresses tab and add new address
4. Select country is Australia

### Expected result (*)
1. The states should be listed with no duplicate

### Actual result (*)
1. All

[2019-09-27 04:21] ajijshekh123 commented on #24738
Give me @magento give me 2.3-develop instance

[2019-09-27 04:21] magento-engcom-team commented on #24738
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 04:21] magento-engcom-team commented on #24738
Hi @ajijshekh123, here is your [Magento instance](https://i-24738-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24738-2-3-develop.instances.magento-community.engineering/admin](https://i-24738-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 04:36] krishprakash commented on #24426
@magento give me 2.3-develop instance

[2019-09-27 04:36] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 04:37] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 04:42] ajijshekh123 commented on #24738
I have added more than 3 customers added with new addresses. Still, not able to reproduce these issues.
I am using the latest Magento 2.3 instance.
@dzungnt - Please update your status. If you have not found this issue again please update me define some steps to be reproduced or video.

**See attached screenshot:**
![2019-09-27](https://user-images.githubusercontent.com/24711761/65742751-256a6700-

[2019-09-27 04:46] ajijshekh123 commented on #24738
@dzungnt - This issue is reproduced in Magento 2.3 Enterprise Version.

See attached screenshot:
![Found issue](https://user-images.githubusercontent.com/24711761/65742910-d7a22e80-e10f-11e9-88e5-1e40c4992c09.png)

[2019-09-27 04:46] magento-engcom-team commented on #24738
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-27 04:48] ajijshekh123 commented on #24738
https://github.com/magento/magento2/issues/22484
This issue is duplicate

[2019-09-27 04:48] #24738 closed

[2019-09-27 04:54] krishprakash commented on #24738
@sdzhepa as this issue comes on enterprise version of manento and which already fixed in #22484 related commit for open source version.
So please move this issue to EE repository
Thanks.

[2019-09-27 04:55] bhavik43 opened #24739 "Suggested Terms Yes/No not in camel case"
Suggested Terms Yes/No not in camel case

### Preconditions (*)
Magento 2.3

Steps to reproduce (*)
1. Admin -> Marketing
2. SEO & Search -> Search Terms
3. Review the Suggested Terms drop-down text

Expected Result (*)
It should display in camel case as Yes/No

Actual Result (*)
![image](https://user-images.githubusercontent.com/49804008/65743037-7af34380-e110-11e9-8945-244820931d56.png)

[2019-09-27 04:56] bhavik43 commented on #24739
@magento give me 2.3-develop instance

[2019-09-27 04:56] magento-engcom-team commented on #24739
Hi @bhavik43. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 04:56] magento-engcom-team commented on #24739
Hi @bhavik43, here is your [Magento instance](https://i-24739-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24739-2-3-develop.instances.magento-community.engineering/admin](https://i-24739-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 04:59] magento-engcom-team commented on #24739
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20525` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-27 05:51] bhavik43 opened #24740 "Change text and check box not in same aligned"
Change text and check box not in same aligned

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
1. Admin -> Catalog -> Products
2. Select any product and from Action drop-down choose Update Attributes
3. Review the Update Attributes page

### Expected result (*)
change text and check box should display in same line

### Actual result (*)
![image](https://user-images.githubusercontent.

[2019-09-27 05:53] magento-engcom-team commented on #24740
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20526` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-27 06:44] engcom-Charlie commented on #23965
Hello @zapotocnylubos
I am still can't reproduce it on Magento 2.3.2
**GIF:**
![Peek 2019-09-27 09-39](https://user-images.githubusercontent.com/51680850/65747913-5779ca00-e10b-11e9-8c6b-8a84ac3246ea.gif)

[2019-09-27 06:52] magento-engcom-team commented on #24730
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-27 06:54] magento-engcom-team commented on #24730
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20527` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-27 07:01] engcom-Charlie commented on #22774
Hello @dverkade
I can't reproduce this issue on a fresh Magento 2.3-develop.
**GIF:**
![Peek 2019-09-27 09-57](https://user-images.githubusercontent.com/51680850/65748918-ac1e4480-e10d-11e9-995d-61ddf9af15c9.gif)
So i have to close this issue.

[2019-09-27 07:07] klein0r opened #24742 "Unable to create credit memo when sku is numeric"
### Preconditions (*)

1. Install Magento 2.3.2

### Steps to reproduce (*)

1. Create product with numeric SKU (like 1000)
2. Order that item
3. Create an invoice
4. Create a credit memo for that invoice

### Expected result (*)

1. Credit memo will be created

### Actual result (*)

1. Creation fails

`Fatal error: Uncaught TypeError: Argument 1 passed to Magento\InventorySales\Model\ReturnProce

[2019-09-27 07:26] Crafter47 commented on #5032
Please CHECK for the URL.

URL should not contain any  of illegal characters " : ' / ¨% ï ^^ $ !  ... " etc...

[2019-09-27 07:27] klein0r commented on #24742
@magento give me 2.3-develop instance

[2019-09-27 07:28] magento-engcom-team commented on #24742
Hi @klein0r. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 07:28] magento-engcom-team commented on #24742
Hi @klein0r, here is your [Magento instance](https://i-24742-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24742-2-3-develop.instances.magento-community.engineering/admin](https://i-24742-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 07:42] klein0r commented on #24742
Sorry, wrong project. See duplicate https://github.com/magento/inventory/issues/2429

[2019-09-27 07:42] #24742 closed, assigned to nobody

[2019-09-27 08:01] lamasfoker commented on #23435
Please reopen this issue, the patch does not work. As @firewolf said in the comment of the commit the store id is missing. Replace $condition with this:
[code]

[2019-09-27 08:01] dpdesignthatfits commented on #7588
Note we have a Magento CE 2.3.2 customer and they still get this issue.

[2019-09-27 08:03] skylineop commented on #15775
@magento I'm working on it

[2019-09-27 08:04] kirillvidyuk commented on #24629
@magento give me 2.3-develop instance

[2019-09-27 08:04] magento-engcom-team commented on #24629
Hi @kirillvidyuk. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 08:05] Iamwade commented on #21592
@magento I am working on it

[2019-09-27 08:05] magento-engcom-team commented on #24629
Hi @kirillvidyuk, here is your [Magento instance](https://i-24629-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24629-2-3-develop.instances.magento-community.engineering/admin](https://i-24629-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 08:07] jigar48 commented on #24730
I want to work on this issue

[2019-09-27 08:09] drpayyne commented on #24739
@edenduong Please assign an issue to yourself and add WIP label before starting work to avoid duplicate work conflicts. Thanks.

[2019-09-27 08:11] Zipmantos commented on #21904
@magento I am working on it

[2019-09-27 08:14] ivan-koliadynskyy commented on #13218
@magento I am working on it

[2019-09-27 08:16] KotsVladimir commented on #16541
@magento I'm working on it

[2019-09-27 08:19] vipin12117 commented on #6248
This issue was never solved. I am using latest 2.1.18. Same issue coming.

[2019-09-27 08:21] oscarsanch commented on #15164
@magento I'm working on it

[2019-09-27 08:23] rganzhuyev commented on #24666
@magento I'm working on it.

[2019-09-27 08:29] Lavazandra commented on #24699
@magento give me 2.3-develop instance

[2019-09-27 08:29] magento-engcom-team commented on #24699
Hi @Lavazandra. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 08:30] magento-engcom-team commented on #24699
Hi @Lavazandra, here is your [Magento instance](https://i-24699-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24699-2-3-develop.instances.magento-community.engineering/admin](https://i-24699-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 08:30] andrewbess commented on #20386
Hi. I tried to reproduce it and I cannot reproduce it
I unassign this issue from me.

[2019-09-27 08:32] kovinka commented on #24735
@magento I'm working on it

[2019-09-27 08:33] artyomyangolenko commented on #7852
@magento I am working on it

[2019-09-27 08:39] Alex-Sy commented on #13626
@magento I'm working on it

[2019-09-27 08:41] andrewbess commented on #24730
Hello @jigar48 . Please use next comment: "@magento I'm working on it"

[2019-09-27 08:41] magento-engcom-team commented on #24736
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20528` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-27 08:45] pyvil commented on #24736
@magento I am working on it

[2019-09-27 08:46] #20843 closed, assigned to nobody

[2019-09-27 08:46] magento-engcom-team commented on #24726
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20529` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-27 08:49] madbounce commented on #23342
Hey, checked current issue on branch 2.3-develop and it's not reproduced anymore.

[2019-09-27 08:52] mattijv commented on #23435
@lamasfoker See my comment here https://github.com/magento/magento2/pull/23444#issuecomment-535853070. This issue, as it pretains to the current intended functionality, is (I believe) solved.

If you think the current Magento functionality is not the one you want/expect, please open a separate issue to discuss it.

[2019-09-27 08:59] jigar48 commented on #24730
@magento I'm working on it

[2019-09-27 09:04] APanteleychuk commented on #24168
#mageconf

[2019-09-27 09:06] APanteleychuk commented on #24168
@magento i am working on it

[2019-09-27 09:07] #23342 closed, assigned to madbounce

[2019-09-27 09:20] vitalii0o commented on #24245
@magento I am working on it

[2019-09-27 09:38] APanteleychuk commented on #10518
@magento-engcom-team give me 2.3-develop instance

[2019-09-27 09:38] magento-engcom-team commented on #10518
Hi @APanteleychuk. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 09:38] magento-engcom-team commented on #10518
Hi @APanteleychuk, here is your [Magento instance](https://i-10518-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-10518-2-3-develop.instances.magento-community.engineering/admin](https://i-10518-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 09:39] paul-gene commented on #24736
In the meantime, what are my options to work around this?

[2019-09-27 09:43] Iamwade commented on #21592
@dipti2jcommerce I investigated the problem and found that this problem is reproduced not only on the ipad.
The placeholder is cropped and on other devices at a resolution of 768 - 940. This problem can be solved by increasing the width of .block.newsletter from 34% to 42%. But I think this is a bad solution to the problem since, for other languages ​​in which the text is longer, it will also be c

[2019-09-27 09:44] krishprakash commented on #24426
@magento give me 2.3-develop instance

[2019-09-27 09:44] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 09:45] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 09:48] magelogger commented on #23601
@magento I am working on it

[2019-09-27 09:51] magento-engcom-team commented on #24676
:white_check_mark: Confirmed by @rogyar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20530` were created

**Issue Available**: @rogyar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-27 09:51] Sharkozp commented on #14825
@magento I am working on it

[2019-09-27 09:55] #17661 closed, assigned to nobody

[2019-09-27 09:58] deadlexus commented on #15656
@magento give me 2.3-develop instance

[2019-09-27 09:58] magento-engcom-team commented on #15656
Hi @deadlexus. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 09:59] magento-engcom-team commented on #15656
Hi @deadlexus, here is your [Magento instance](https://i-15656-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-15656-2-3-develop.instances.magento-community.engineering/admin](https://i-15656-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 10:00] Sharkozp commented on #14825
@magento-engcom-team give me 2.3-develop instance

[2019-09-27 10:01] magento-engcom-team commented on #14825
Hi @Sharkozp. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 10:01] magento-engcom-team commented on #14825
Hi @Sharkozp, here is your [Magento instance](https://i-14825-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-14825-2-3-develop.instances.magento-community.engineering/admin](https://i-14825-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 10:07] bhavik43 opened #24745 "magento pop up not display on tracking info message"
magento pop up not display on tracking info message

### Preconditions (*)
M 2.3.2

### Steps to reproduce (*)
1) Go to back end
2) Generate invoice for any order
3) Go to generate shipment >  Shipping and Tracking Information > without enter title/number click on Add

### Expected result (*)
Magento popup should display on all alert validation message.

### Actual result (*)
![image](https://user

[2019-09-27 10:08] krishprakash commented on #24745
@magento give me 2.3-develop instance

[2019-09-27 10:08] magento-engcom-team commented on #24745
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 10:08] magento-engcom-team commented on #24745
Hi @krishprakash, here is your [Magento instance](https://i-24745-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24745-2-3-develop.instances.magento-community.engineering/admin](https://i-24745-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 10:15] magento-engcom-team commented on #24745
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20531` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-27 10:23] engcom-Charlie commented on #24698
Hello @arushibansal013
Could you add more detailed steps to reproduce this issue?

[2019-09-27 10:33] Layer5-PaulC commented on #16134
I also see this issue in 2.3.2 with programmatically created products (via CLI script), only the default store view has an seo-friendly product url. Did you find the correct modification to your script? It's wasteful of resources, but you might have to foreach over your storeviews, setStoreId($storeviewid), and repeatedly save your category?

[2019-09-27 10:38] pangteypiyush commented on #6126
Got this in migrated Magento2.3.2 store.

[2019-09-27 10:41] engcom-Bravo commented on #24736
@paul-gene I think in the quote table another field like customer_id is supposed to exist. If it's there You may use it for checking on whether it is (was) guest customer or not. I mean if the customer_id is null or maybe zero then the customer is a guest, otherwise - a logged in one.

[2019-09-27 10:50] kirillvidyuk commented on #24629
Hi @Jeroen999,

I couldn't reproduce issue with Built-In full page cache type.
Even when i enabled Varnish cache, the navigation menu disappeared from page at all.
The menu didn't appear even after an hour for me (expected that ESI ttl=3600 for this block will make the deal):
https://drive.google.com/file/d/1F7doA1e1dPUVwjnHMZBgEQ2rTt7E0LyD/view
Suppose that this could environment specific issue.

[2019-09-27 10:51] #24629 closed, assigned to kvydiuk

[2019-09-27 10:51] Hailong commented on #22183
This issue has been fixed with PR#22182, closing it now.

[2019-09-27 10:51] #22183 closed, assigned to Hailong

[2019-09-27 10:53] Sharkozp commented on #14825
@magento-engcom-team give me 2.2-develop instance

[2019-09-27 10:53] magento-engcom-team commented on #14825
Hi @Sharkozp. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-09-27 11:09] DmitryPirvu commented on #23708
Hey there
Could be closed as not an issue.
Regards,
Dmitry.

[2019-09-27 11:09] #23708 closed, assigned to nobody

[2019-09-27 11:18] ilnytskyi commented on #23180
This seems to be fixed in `2.3-develop` branch since the sql fro listing sorts price by different column not `final_price` but `min_price`

[code]

However I am not sure if we should save price for configurable products.
e.g. in Demo Data after install we have pries saved for configurable products
then when we save a configurable product from Admin Panel we will have `null` saved in `catalog_produ

[2019-09-27 11:20] M-Andriy commented on #23853
@magento I'm working on it

[2019-09-27 11:21] #23740 closed, assigned to nobody

[2019-09-27 11:48] madbounce commented on #17311
Hey, I checked current issue on branch 2.3-develop in this issue not reproduced.

[2019-09-27 11:49] #17311 closed, assigned to madbounce

[2019-09-27 11:56] engcom-Bravo commented on #24629
Yes, @kirillvidyuk, it seems like some silent fix has taken its place. Now I am also not able to reproduce the issue on the develop instance though at that time it was easily reproducible. The issue still persists in 2.3.2 version (just tested) Could You @Jeroen999 also retest it now on the latest develop version. Thank You.

[2019-09-27 11:59] Sharkozp commented on #14825
@markshust there is no column _quote.quote_currency_ in Magento 2.3.x. I think it was renamed into _quote.quote_currency_code_ and description of this column is **Quote Currency Code**. Looks like it is responsible for storing Currency code for quote and not for Session

[2019-09-27 12:06] bobemoe commented on #16134
Kind of a workaround but I ended up using olegkoval/magento2-regenerate-url-rewrites to fix the issues.

[2019-09-27 12:06] madbounce commented on #16531
Hey, checked current issue on branch 2.3-develop and issue currently not reproduced.

[2019-09-27 12:15] Jeroen999 commented on #24629
Okay, give me 2.3-develop instance

[2019-09-27 12:16] Alex-Sy commented on #13626
This is not a bug. If redirects are needed, use the server settings.

[2019-09-27 12:16] #13626 closed, assigned to Alex-Sy

[2019-09-27 12:17] Sharkozp commented on #14825
@markshust Currency code is storing in Session. During logout process session is destroying and loads default code in this case USD. I think everything working properly and not needed more changes.

[2019-09-27 12:18] LaurensGoedel commented on #9186
Issue still existing in 2.3.2. It is causing major issues for us too since 50% of our clients feed the products from other sources and using the API for importing them into Magento.

[2019-09-27 12:21] engcom-Bravo commented on #24629
@magento give me 2.3-develop instance for @Jeroen999

[2019-09-27 12:22] magento-engcom-team commented on #24629
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 12:22] magento-engcom-team commented on #24629
Hi @engcom-Bravo, here is your [Magento instance](https://i-24629-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24629-2-3-develop.instances.magento-community.engineering/admin](https://i-24629-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 12:24] demtaric commented on #23815
Issue was fixed already in `2.3-develop` branch.
Branch #MAGETWO-99112
[Commit](https://github.com/magento/magento2/commit/da0c7374e5dcae81735552bdd685ee5e646b8486)

[2019-09-27 12:24] Sharkozp commented on #24745
@magento I am working on it

[2019-09-27 12:25] Sharkozp commented on #24745
@magento-engcom-team give me 2.3-develop instance

[2019-09-27 12:26] magento-engcom-team commented on #24745
Hi @Sharkozp. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-27 12:26] magento-engcom-team commented on #24745
Hi @Sharkozp, here is your [Magento instance](https://i-24745-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24745-2-3-develop.instances.magento-community.engineering/admin](https://i-24745-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-27 12:28] #23815 closed, assigned to nobody

[2019-09-27 12:33] niksjethva commented on #22313
Hello orionpt,

You have given the wrong path of last file name as well your pattern also wrong.
Please follow below changes with exact path and changes of Pattern in Magento 2.3.1 :

Changing the following files clears the error:
/vendor/magento/framework/Indexer/etc/indexer.xsd
Line 74:
<xs:pattern value="[a-zA-Z\\]+" />
to
<xs:pattern value="[a-zA-Z0-9\\]+" />

/vendor/magento/framework/Indexer

[2019-09-27 12:34] madbounce commented on #14202
Hey @allisonlawrencels, basically not clear how we can create Level 3 before Level 2 and get needed
structure that you provided.
Currently I checked current flow on Magento branch 2.3-develop and issue not reproduced (all url rewrites was regenerated according to url that was set for Cat Level 1).

Closed for now.

[2019-09-27 12:34] #14202 closed, assigned to madbounce

[2019-09-27 12:41] Jeroen999 commented on #24629
I can't reproduce this issue in this development version, so I think this issue has been solved.

[2019-09-27 12:44] engcom-Bravo commented on #24629
Ok, Thank You all @Jeroen999 , @kirillvidyuk.

[2019-09-27 13:14] brunoroeder commented on #6832
This doesn't actually break anything and the old currencies are loaded from Zend Framework 1, which is not supported anymore.

[2019-09-27 13:30] Sharkozp commented on #24745
I also found problem if create invoice with shipping information fields also without validation

[2019-09-27 13:35] Stepa4man opened #24757 "Duplicating product functionality doesn't support bundle products"
If bundle product was duplicated - simple products unlink from original bundle product

### Preconditions
1. Create bundle product with several bundle options and link simple products to them

### Steps to reproduce
1. Go to edit bundle product at the admin area
2. Hit save and duplicate btn
3. Enable newly created bundle product and save it

### Expected result
1. There are two bundle products wi

[2019-09-27 13:49] Sharkozp commented on #24745
During adding tracking number in already created shipping https://github.com/magento/magento2/blob/ea71192563b3a5046104c077b69d8b901d45ed0e/lib/web/mage/adminhtml/tools.js#L153
There is no validation

[2019-09-27 14:16] SimonPrins commented on #9906
I have the same issue (Magento 2.3.2). I have about 130000 products in the shop, with 6 rules. Updating the indexer has taken hours so far and still is not complete. I constantly see queries to fill the `catalogrule_group_website ` table as described in this issue. I hope this issue wil be resolved soon.

[2019-09-27 14:17] nik4152 commented on #8868
@spipu Hi you need add confing to file
app/etc/env.php
[code]

`

[2019-09-27 14:17] #8868 closed, assigned to nik4152

[2019-09-27 14:20] nileshti commented on #24725
Hello Team,
While debugging, I observed that issue happened due to below configuration setting:

Store > Configurations > Catalog > Catalog , Catalog Search configuration:
Enable EAV Indexer => Yes

If we make it (Enable EAV Indexer configuration setting) to No, then ElasticSearch6+ works fine.

Thanks again!

[2019-09-27 14:20] magento-engcom-team commented on #24757
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again

[2019-09-27 14:20] hostep commented on #24678
@Alex-Sy: fix is already in progress: https://github.com/magento/magento2/pull/24734

[2019-09-27 14:21] magento-engcom-team commented on #24757
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20532` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-27 14:35] abombelli opened #24764 "When currency set to CHF, second dezimal is removed in price"
### Preconditions (*)
1. Magento CE 2.3.2 without sample data is installed.
2. Default Luma theme installed.

### Steps to reproduce (*)
1. Set currency to CHF
2. Add product with price 50.00

### Expected result (*)
1. In the frontend the price should show the same (CHF 50.00)

### Actual result (*)
1. This is the actual result: https://prnt.sc/osh9bm
2. The HTML code contains 50.00, but it looks

[2019-09-27 14:49] #16541 closed, assigned to KotsVladimir

[2019-09-27 14:56] fritzmg commented on #17310
This issue is, in principle, still happening in Magento 2.3.2. If you set `max_concurrency` to a low value, the fallback still does not work any subsequent concurrent request for the same sessions ends in a 503.

[2019-09-27 14:57] DmitryPirvu commented on #22484
Hey there!
Provided fix seems just hiding nature of issue. Duplicates will be in DB anyway.
Added own solution for this task 462f4f3bd9553714426ee23be140818e93e38f4c

[2019-09-27 15:19] orlangur commented on #24716
@sangeetajain there is no bug here. Hours are supposed to be integer and config works as expected.

What is the use case to have token expiry less than 1 hour?

[2019-09-27 17:02] sdzhepa opened #24775 "Test Issue 3"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-09-27 17:02] magento-engcom-team commented on #24775
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is add

[2019-09-27 17:02] #24775 closed, assigned to nobody

[2019-09-27 17:06] markshust commented on #14825
@Sharkozp i know it is "working as expected", but the workflow is super awkward, and i think it should be changed. i would expect the currency to use my last toggled/selected value, not to switch back and forth by itself.

[2019-09-27 17:35] jigar48 commented on #24730
@magento-engcom-team please give me 2.3-develop instance

[2019-09-27 17:37] hostep commented on #21904
@erfanimani:

This is just FYI: the check with PID files will change again in the near future (2.3.3 already seems to contain the change) where they now will use another way of locking (probably using the database), is being introduced by https://github.com/magento/magento2/commit/1d9e07b218c7c8ad1f05706828cb2dd47d2d2d58 (might be interesting for your blog post)

[2019-09-27 18:01] hostep commented on #16531
@madbounce: it's still an issue as far as I know if you do not have the `fileinfo` php extension installed which isn't a strict requirement for Magento2. A fix is currently being worked on in https://github.com/magento/magento2/pull/24455 (although it doesn't seem to be going very well)

[2019-09-27 20:02] ulftietze opened #24776 "Menu contains duplicated "active"-css classes"
### Preconditions (*)

1. Magento 2.3.2 (but should be work on Magento 2.3.3 as well because the files don't change)
2. PHP 7.2 (should be irrelevant)
3. Active caches in Magento

### Steps to reproduce (*)

1. Create some categories and let them appear in MenuNav
2. Clear Cache
3. Click on a category
4. Click on another category.

### Expected result (*)

1. The active class should only be on the

[2019-09-27 22:01] magento-engcom-team commented on #24391
Hi @magentoman2009.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-20324` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you

[2019-09-27 22:01] #24391 closed, assigned to nobody

[2019-09-27 23:35] magento-engcom-team commented on #13126
Hi @MattUnity. Thank you for your report.
The issue has been fixed in magento/magento2#24703 by @hostep in 2.3-develop branch
Related commit(s):
 - [f1a187eba85b2eaeca4c619c1482ca8916fdb284](https://github.com/magento/magento2/commit/f1a187eba85b2eaeca4c619c1482ca8916fdb284)
 - [bf36defe362496ecb6f6b7693600a9054fbd801b](https://github.com/magento/magento2/commit/bf36defe362496ecb6f6b7693600a9054fb

[2019-09-27 23:35] #13126 closed, assigned to hostep

[2019-09-27 23:35] magento-engcom-team commented on #14112
Hi @kunj1988. Thank you for your report.
The issue has been fixed in magento/magento2#24703 by @hostep in 2.3-develop branch
Related commit(s):
 - [f1a187eba85b2eaeca4c619c1482ca8916fdb284](https://github.com/magento/magento2/commit/f1a187eba85b2eaeca4c619c1482ca8916fdb284)
 - [bf36defe362496ecb6f6b7693600a9054fbd801b](https://github.com/magento/magento2/commit/bf36defe362496ecb6f6b7693600a9054fbd

[2019-09-27 23:35] #14112 closed, assigned to hostep

[2019-09-27 23:35] magento-engcom-team commented on #23880
Hi @Linek. Thank you for your report.
The issue has been fixed in magento/magento2#24694 by @Yupik in 2.3-develop branch
Related commit(s):
 - [998cd74f78b23d32dfab8456300382779454f99a](https://github.com/magento/magento2/commit/998cd74f78b23d32dfab8456300382779454f99a)
 - [f1e225d81bbb4dbb2b155531445cfc3e880db81d](https://github.com/magento/magento2/commit/f1e225d81bbb4dbb2b155531445cfc3e880db81d

[2019-09-27 23:35] #23880 closed, assigned to Yupik

[2019-09-27 23:35] magento-engcom-team commented on #23824
Hi @mustdobetter. Thank you for your report.
The issue has been fixed in magento/magento2#23827 by @mustdobetter in 2.3-develop branch
Related commit(s):
 - [11f7f3954132512dd9d8fbc0a70e81e48de7a4ba](https://github.com/magento/magento2/commit/11f7f3954132512dd9d8fbc0a70e81e48de7a4ba)
 - [6501efae06f07c90df11cf933f5e71150283c0ce](https://github.com/magento/magento2/commit/6501efae06f07c90df11cf933f

[2019-09-27 23:35] #23824 closed, assigned to mustdobetter

[2019-09-28 02:42] extremeskillz opened #24777 "Magento 2.3.2 with ElasticSearch Sever 7.3 not working"
Server OS: ubuntu 16.04lts
Apache2.4
Magento2.3.2 with ElasticSearch 6.0+ enabled
ElasticSearch Server 7.3 (latest)

Hi All,
Not sure if this is a bug or not but I'm running the latest and greatest magento2.3.2 with elasticsearch 7.3. I have followed the magento2.3 dev docs to enable and configure the system but searches are coming up empty on the client front end of magento2. The admin back end s

[2019-09-28 05:08] shikhamis11 commented on #24290
@magento give me 2.3-develop instance

[2019-09-28 05:08] magento-engcom-team commented on #24290
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-28 05:08] magento-engcom-team commented on #24290
Hi @shikhamis11, here is your [Magento instance](https://i-24290-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24290-2-3-develop.instances.magento-community.engineering/admin](https://i-24290-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-28 14:51] Asifjalil99 commented on #14082
you need to code like this where memcached_port is your port number you can check it from cpanel

'session' => [
array (
  'save' => 'memcached',
  'save_path' => '127.0.0.1:memcached_port',
)
],

[2019-09-28 15:42] MaxSouza commented on #3430
I'm working on it.

[2019-09-28 16:50] MaxSouza commented on #3430
Hi,

In version 2.3 has already been fixed. Suggestion is to upgrade magento or use composer patches.

https://support.magento.com/hc/en-us/articles/360005484154-Create-a-patch-for-a-Magento-2-Composer-installation-from-a-GitHub-commit

About  magento support
https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html

![image](https://user-images.githubusercontent.com/5350377/6581

[2019-09-28 16:50] #3430 closed, assigned to MaxSouza

[2019-09-28 17:44] magento-engcom-team commented on #24739
Hi @bhavik43. Thank you for your report.
The issue has been fixed in magento/magento2#24741 by @edenduong in 2.3-develop branch
Related commit(s):
 - [1ed98c65e632fc649de46cf5b97d994784cfe6f1](https://github.com/magento/magento2/commit/1ed98c65e632fc649de46cf5b97d994784cfe6f1)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-28 17:44] #24739 closed, assigned to edenduong

[2019-09-28 17:44] magento-engcom-team commented on #24043
Hi @PascalBrouwers. Thank you for your report.
The issue has been fixed in magento/magento2#24734 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [dfd481d22616708a7e55d7b8757581e90ba4f41c](https://github.com/magento/magento2/commit/dfd481d22616708a7e55d7b8757581e90ba4f41c)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-28 17:44] magento-engcom-team commented on #24678
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#24734 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [dfd481d22616708a7e55d7b8757581e90ba4f41c](https://github.com/magento/magento2/commit/dfd481d22616708a7e55d7b8757581e90ba4f41c)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-28 17:44] #24678 closed, assigned to p-bystritsky, Alex-Sy

[2019-09-28 17:45] magento-engcom-team commented on #14012
Hi @mzenner1. Thank you for your report.
The issue has been fixed in magento/magento2#24494 by @vishalverma279 in 2.3-develop branch
Related commit(s):
 - [529e19d3e5a25c28acfd5f37799cc9558617e624](https://github.com/magento/magento2/commit/529e19d3e5a25c28acfd5f37799cc9558617e624)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-28 17:45] #14012 closed, assigned to nobody

[2019-09-28 18:19] hostep commented on #24776
This is probably a duplicate of https://github.com/magento/magento2/issues/22407
Fix can be found in: https://github.com/magento/magento2/issues/22407#issuecomment-532954532 (fix will probably be part of Magento 2.3.4)

@ulftietze: can you confirm this fixes the issue? If yes you may close this issue, thanks! :)

[2019-09-28 20:02] dayfinder commented on #12876
On Linux OS or Ubuntu derived machines, using sh will throw an error as sh is supposed to be used only with purely POSIX compliant scripts and Magento scripts are not 100% POSIX compliant. Instead, on Ubuntu and derived OSes such as Linux Mint, you should use this [magento   2 disable newsletter confirmation email
](https://www.mageexchange.com/disable-newsletter-sign-up-emails-magento-2)

[2019-09-28 21:43] jevinsu commented on #20034
Module 'Magento_InventorySales':
Has the same issue when install magento2 2.3 from fresh, both with composer and webclient, same error as following:
[ERROR] Magento\Framework\Setup\Exception: Unable to apply patch Magento\InventorySales\Setup\Patch\Schema\InitializeWebsiteDefaultSock for module Magento_InventorySales. Original exception message: Stock with id "1" does not exist. in /shared/httpd/e

[2019-09-29 11:55] kisroman commented on #6665
This issue was fixed by https://github.com/magento/magento2/commit/c2c2fd5.

[2019-09-29 11:55] #6665 closed, assigned to nobody

[2019-09-29 12:05] kisroman commented on #6208
This issue was fixed in https://github.com/magento/magento2/issues/20511.

[2019-09-29 12:05] #6208 closed, assigned to nobody

[2019-09-29 15:45] ulftietze commented on #24776
@hostep Thanks for reference another issue here, i did not find that one.
But indeed this fixes the issue :+1:

[2019-09-29 15:45] #24776 closed, assigned to nobody

[2019-09-30 03:34] ihor-sviziev commented on #24777
Not sure that Elasticsesrch 7.x is supported, I already reported an issue in devdocs https://github.com/magento/devdocs/issues/5488

[2019-09-30 05:04] sagar-vasani commented on #9949
Please use following PUT command endpoint to set parent_id of any category.
https://devdocs.magento.com/swagger/#/catalogCategoryManagementV1/catalogCategoryManagementV1MovePut

[2019-09-30 05:15] techzilla commented on #5662
Can we at least get the current functionality properly renamed?  That definitely is wrong, and then only the MSRP would be a new feature.

[2019-09-30 05:57] TomashKhamlai opened #24779 "Admin panel is frozen if Storefront is opened via Customer View"
### Preconditions (*)

1. Self-registered Customer
2. An order placed from Storefront by Customer
3. A Merchant or Support Stuff that tries to reproduce some problems with order reported by Customer, let say by telephone call.

### Steps to reproduce (*)

1. Log in to Admin (Tab 1)
2. Navigate to Sales -> Orders (Tab 1)
3. Open an order (Tab 1)
4. Click **Customer View** in the top-right menu widg

[2019-09-30 06:05] TomashKhamlai opened #24780 "Checks like `is customer locked` or `scope` should happen before the customer will even get a token"
### Preconditions (*)

1. Two websites

|Web Site|Store|Store View|
|---|---|---|
|Main Website<br>`base`|Main Website Store<br>`main_website_store`|Default Store View<br>`default`|
|Test Website<br>`additional`|Test Website Store<br>`test_website_store`|Test Store View<br>`test`|
2. **Account Sharing Options** has its default global setting **Share Customer Accounts** = **Per Website**

### Steps

[2019-09-30 06:07] engcom-Charlie commented on #24777
Hello @extremeskillz  @ihor-sviziev !
I tested Magento 2.3-develop with Elasticsearch 7.3 and he didn't work.
Magento 2.3.x supports Elasticsearch up to 6.x.
![image](https://user-images.githubusercontent.com/51680850/65852974-9e143200-e360-11e9-9ae5-1dc71328cc66.png)
Info from [this](https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/es-overview.html) topic.

[2019-09-30 06:16] engcom-Charlie commented on #23003
Hello @danharper83
We are not able to reproduce this issue on the lates 2.3-develop branch.
So we have to close this issue.

[2019-09-30 06:16] #23003 closed, assigned to nobody

[2019-09-30 06:45] magento-engcom-team commented on #23841
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20618` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-30 06:50] ihor-sviziev opened #24781 "Elasticsearch 6 works with Elasticsearch 5 client on frontend"
### Preconditions (*)
1. Magento 2.3.2 & 2.3-develop
2. Elasticsearch 6.5
3. XDebug

### Steps to reproduce (*)
1. Open PhpStorm, add breakpoints in:
- Elasticsearch 6.x client: https://github.com/magento/magento2/blob/6d6f11b3ff4dc290c1e53c8822e136547b38f05e/app/code/Magento/Elasticsearch6/Model/Client/Elasticsearch.php#L66
- Elasticsearch 5.x client: https://github.com/magento/magento2/blob/6d6f

[2019-09-30 06:56] engcom-Charlie commented on #23668
Hello @pandyakrunal
We are not able to reproduce this issue on the lates 2.3-develop branch.
Use s`ales_order_invoice_save_after` event for getting invoice id.

[2019-09-30 06:56] #23668 closed, assigned to engcom-Charlie

[2019-09-30 06:59] ihor-sviziev commented on #16362
Hi @minhluan259,
Could you describe use-case when you need to setup category as homepage? It really looks very-very strange.

Thank you!

[2019-09-30 07:14] sangeetajain commented on #24716
@ivan-koliadynskyy : Thank you for the updated code.

[2019-09-30 07:29] ihor-sviziev commented on #24777
Hi @extremeskillz,

As @engcom-Charlie said - Elasticsearch 7.x isn't supported yet. Could you report this feature request  to https://github.com/magento/community-features?

I'm closing this issue as there are no action items left

[2019-09-30 07:29] #24777 closed, assigned to engcom-Charlie

[2019-09-30 07:39] dzungnt opened #24782 "Braintree Paypal amount not update after apply coupon code"
### Preconditions (*)
I'm using magento 2.3.2 enterprise and I got the issue when using Braintree Paypal sandbox with the coupon code. It does not update the amount when I apply coupon code.

### Steps to reproduce (*)

1. Setup sandbox for Braintree Paypal
2. Add product to cart and go to checkout page.
3. Fill shipping information and go to payment step.
4. Apply a valid coupon code at payment s

[2019-09-30 07:48] TomashKhamlai opened #26115 "Product disabled/not visible individually/doesn't exist"
### Description
It is possible to get messages:
`"message": "Could not find a product with SKU \"simple-product-2\""`
`"message": "Could not add the product with SKU simple-product-1 to the shopping cart: Product that you are trying to add is not available."`

We see that `simple-product-2` doesn't exist and `simple-product-1` is disabled. On the storefront, the only thing that Customer knows is t

[2019-09-30 07:54] engcom-Charlie commented on #23828
Hello @Naberdz
We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.
So i have to close this issue.
Thanks for your report!

[2019-09-30 07:54] #23828 closed, assigned to engcom-Charlie

[2019-09-30 07:56] magento-engcom-team commented on #24781
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20619` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-30 08:15] magento-engcom-team commented on #22600
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20620` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-30 08:16] georgebabarus commented on #24667
I wold say that the issue is not relevant for following reason: even if you have preference for driver interface this will not solve your problem since you also should specify the path parameter in the constructor of read class. Usually you don't have this path at dependency injection layer to pass it as config.

So it is clear to use factory class for this purpose.

"A public interface is a set o

[2019-09-30 08:49] renard123 opened #24785 "All selected values still display as Select all in downloadable product"
All selected values still display as Select all in downloadable product

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
1. Admin -> Catalog -> Products -> Add New downloadable product
2. Add 2 options for downloads so display Select all/ Unselect all feature.
3. Add product
4. Front end -> Add product with both options as select all
5. Go to shopping cart/Mini cart
6. Edit the produ

[2019-09-30 08:50] krishprakash commented on #24785
@magento give me 2.3-develop instance

[2019-09-30 08:50] magento-engcom-team commented on #24785
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-30 08:51] magento-engcom-team commented on #24785
Hi @krishprakash, here is your [Magento instance](https://i-24785-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24785-2-3-develop.instances.magento-community.engineering/admin](https://i-24785-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-30 08:59] magento-engcom-team commented on #24785
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20621` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-30 09:04] krisdante commented on #24656
Does it work if you ignore validator warning?

[2019-09-30 09:29] kisroman commented on #24780
Working on this

[2019-09-30 10:49] drpayyne commented on #24785
@magento give me 2.3-develop instance

[2019-09-30 10:49] magento-engcom-team commented on #24785
Hi @drpayyne. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-30 10:50] magento-engcom-team commented on #24785
Hi @drpayyne, here is your [Magento instance](https://i-24785-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24785-2-3-develop.instances.magento-community.engineering/admin](https://i-24785-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-30 11:11] engcom-Bravo commented on #24764
Hello @abombelli. Thanks for reporting. We've been not able to reproduce Your issue nether on the latest 2.3-develop nor on the reported 2.3.2 version. Could You please ask a bot for an instance as You are advised [above](https://github.com/magento/magento2/issues/24764#issuecomment-535966122) and try to reproduce the issue on that instance. Thank You in advance.

[2019-09-30 11:22] magento-engcom-team commented on #24779
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20623` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-30 11:23] Prareric opened #24787 "product images not loading / infinite loading product Magento 2.3.2"
Magento 2.3.2 /  Porto 3.1.8 (Theme) / PHP 7.2 / Ubuntu 18.04

![problem loading](https://user-images.githubusercontent.com/44494027/65874160-653a8400-e385-11e9-9194-b806f68337b9.PNG)
![1www](https://user-images.githubusercontent.com/44494027/65874179-7aafae00-e385-11e9-9cf1-e4290a7b1e9d.PNG)

[2019-09-30 11:40] augrinovska opened #24788 "Maximum Qty Allowed in Shopping Cart can't be set per store"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2.19
3. Two websites and two store views.

### Steps to reproduce (*)

1. Admin -> Catalog -> Products -> Add New simple product
2. Website 1 and Store view 1: Quantity -> Advance Inventory -> Set 'Maximum Qty Allowed in Shopping Cart' to be equal to 5 -> Save
3. Website 2 and Store view 2: Quantity -> Advance Inventory -> Set 'Maximum Qty Allowed i

[2019-09-30 11:41] krishprakash commented on #24787
Hi @Prareric.
It works fine in venilla magento instance.
It should be Porto theme issue or any of your custom code issue.
Let me know the steps to reproduce for this issue if you confirm that it reproduce in venilla magneto instance.
Thanks.

[2019-09-30 11:44] ahmadwaliesipick commented on #21885
any update on this issue?

[2019-09-30 12:01] ronn0 commented on #24575
Can this one be assigned to me?

[2019-09-30 12:15] krishprakash commented on #24788
@magento give me 2.3-develop instance

[2019-09-30 12:15] magento-engcom-team commented on #24788
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-30 12:16] magento-engcom-team commented on #24788
Hi @krishprakash, here is your [Magento instance](https://i-24788-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24788-2-3-develop.instances.magento-community.engineering/admin](https://i-24788-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-30 12:34] arushibansal013 commented on #24698
Hi @engcom-Charlie,

Actually, the problem is getOptionId is checking value for option label as well as option value. But it should specifically check for any one either value or label.
Let me know what help you need to replicate the issue, I am not sure what else input I can give.

[2019-09-30 12:46] simonrl commented on #19710
For multistore setups:

I managed to fix it be adding the correct MAGE_RUN_TYPE etc. to the htaccess file

[code]

[2019-09-30 12:54] magento-engcom-team commented on #24788
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20625` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-30 13:55] extremeskillz commented on #24777
Sounds good but the issue is that in installed it from repo for ubuntu which is current with the latest elasticsearch. I will make a feature request but this will break anyone magento2.3 install if they are using the repo to update. Thanks for the update!

[2019-09-30 14:09] zingix opened #24791 "DateTime type not working with Web API"
When trying to request Web API end-point which has an interface with methods returning DateTime Magento throws the following error:

[code]

### Preconditions (*)
1. Magento version 2.3-develop
2. PHP v7.2

### Steps to reproduce (*)
1. Create a new interface as shown below.

[code]

2. Implement the interface and simply return an a new DateTime object.

[code]

3. Create an entry in webapi.xml po

[2019-09-30 14:17] mudithae commented on #19441
Hi All,
I've got this issue in Magento 2.2.4 instance and below is the workaround I applied. (A dirty fix)

`composer.json
` "autoload": {
       ....
        ,
        "files": [
           .... ,
            "lib/Zend/Http/Response.php"
        ]
    },`

Copy the vendor/magento/zendframework1/library/Zend/Http/Response.php to lib/Zend/Http/Response.php

Edit the following lines.
Line No: 517
`

[2019-09-30 15:09] Hoszi commented on #4389
It's still existing in magento 2.3.2. when I add the same widget twice in one cms page.

[2019-09-30 16:22] chdzma commented on #17583
It does not reproduce in version 2.3 and the ISSUE is closed?
There is no solution for version 2.2?

[2019-09-30 17:01] ivan-koliadynskyy commented on #6015
Issue was reproducible only in case of login with dialog from cart page by clicking go to checkout button.

[2019-09-30 17:10] cizgidekiadam opened #24793 "2.2.3 Could not open socket"
Hello folks,
After upgrading 2.2.3 smtp extension (Magepal) stopped working.
With some investigations found error thrown from zendframework1/library/Zend/Mail/Protocol\Abstract.php line 271. Trace is below.
### Preconditions (*)

1. Magento 2.2.3
2. PHP 7.0.3

### Steps to reproduce (*)

1. Tried multiple smtp extensions
2. Same error 'Could not open socket'

### Expected result (*)

1. Send mail.

[2019-09-30 17:14] brngyn commented on #9051
@NMills12 did you find a solution for this? We are having big problems because the exact same problem. We would appreciate if you found any solution. Thanks

[2019-09-30 17:28] magento-engcom-team commented on #22119
Hi @marshallthornton.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-99043` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But

[2019-09-30 20:09] voronytskyi opened #24795 "REST API. {{baseUrl}}/V1/products -> parent_sku is missing"
I looking for a way to list products with Parent/Child relation. API {{baseUrl}}/V1/products (https://devdocs.magento.com/guides/v2.3/rest/list.html#catalog) provides only product sku (parent_sku is missing). So, I can`t build parent/child relation in simple way.

I also aware about this API endpoint: {{baseUrl}}/V1/configurable-products/{sku}/children - but it`s extra request which I want to avoi

[2019-09-30 20:11] med-amin commented on #1393
That helped me to find the problem in my code Big Thanks
Be careful from the attribute type because static type doesn't let you save the attribute.

[2019-09-30 20:11] voronytskyi opened #24796 "REST API. {{baseUrl}}/V1/products -> parent_sku is missing"
I looking for a way to list products with Parent/Child relation. API {{baseUrl}}/V1/products (https://devdocs.magento.com/guides/v2.3/rest/list.html#catalog) provides only product sku (parent_sku is missing). So, I can`t build parent/child relation in simple way.

I also aware about this API endpoint: {{baseUrl}}/V1/configurable-products/{sku}/children - but it`s extra request which I want to avoi

[2019-09-30 20:13] ihor-sviziev commented on #24777
Hi @extremeskillz,
Actually it will be the same with any other component, for instance php7.3 isn’t supported, but might be latest php version in some Linux distribution. So there we can do following - add feature request for es7.x support and update docs to make it more clear that current versions isn’t support it

[2019-09-30 20:20] engcom-Bravo commented on #24795
Hello @voronytskyi. The GitHub issue tracker is intended for Magento Core technical issues only. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. Thank You.

[2019-09-30 20:20] #24795 closed, assigned to nobody

[2019-09-30 20:27] engcom-Bravo commented on #24796
@voronytskyi, it seems this issue is a duplicate of the previous one. So we are closing it.

[2019-09-30 20:27] #24796 closed, assigned to nobody

[2019-09-30 20:35] voronytskyi opened #24797 "REST API. List products with parent/child relation (parent_sku is missing)"
### Description (*)
**parent_sku** is missing for **{{baseUrl}}/V1/products** API response

### Expected behavior (*)
**parent_sku** is null in case if doesn't have any parent product relation (configurable products)

### Benefits
easy way to build parent/child relations

### Additional information
I aware about **{{baseUrl}}/V1/configurable-products/{sku}/children** API. But it`s extra request ea

[2019-09-30 20:53] wilfriedwolf opened #24798 "Possibility to create non unique admin value for attribute option in configurable product modal"
### Preconditions (*)

1. Magento CE 2.3.2 is installed with sample data (also tested with CE 2.2.9)

### Steps to reproduce (*)

1. Edit any configurable product
2. Go to configurations and press "Edit Configurations"
3. Check "format" (or any attribute which allows the creation of new options), then press "Next"
4. Click on "Create New Value" there and create a new Option identical to one alread

[2019-09-30 21:01] wilfriedwolf commented on #24798
If I understand it right, the check for duplicate admin value is missing in
`\Magento\ConfigurableProduct\Controller\Adminhtml\Product\Attribute\CreateOptions::saveAttributeOptions`

[2019-09-30 21:02] ioweb-gr opened #24799 "magento is able to save a product twice with the same sku via the repository"
### Preconditions (*)
1. Magento 2.3.1
2. An application which creates a product programmatically
For example in my app we constantly check for a product by an attribute and if it exists update it but if it doesn't exist in the website we create it programmatically.

Occassionally I've seen duplicate products emerging from the programmatic saving using the product repository. However the user is n

[2019-10-01 05:25] pandeyVishakha commented on #2892
Hey!!
I have the similar request
.../products?searchCriteria[filter_groups][0][filters][0][field]=category_id&searchCriteria[filter_groups][0][filters][0][value]=3&searchCriteria[filter_groups][0][filters][0][condition_type]=eq

am unable to make same request for my android app.
Any suggestions?

[2019-10-01 06:16] ronn0 commented on #24575
@magento I am working on it

[2019-10-01 06:55] ashvinimarwal commented on #18183
The issue still exists in Magento 2.3.2.tried to fix it using by change timestamp to datetime in db_schema.xml file

[code]

But still not fixed.

[2019-10-01 07:48] med-amin opened #24802 "Custom customer datetime attribute not saves"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2.22

### Steps to reproduce (*)

1. Create a new attribute with type DateTime for a customer using InstallData.php
2. do bin/magento setup:upgrade

### Expected result (*)

1. the attribute shows up in  "Account information" section
2. save the attribute value

### Actual result (*)

1. No error at all
2. the value is not saved
3. I created a gist

[2019-10-01 07:54] med-amin commented on #24802
@magento give me 2.3-develop instance

[2019-10-01 07:54] magento-engcom-team commented on #24802
Hi @med-amin. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-01 07:54] magento-engcom-team commented on #24802
Hi @med-amin, here is your [Magento instance](https://i-24802-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24802-2-3-develop.instances.magento-community.engineering/admin](https://i-24802-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-01 08:00] med-amin commented on #24802
@magento-engcom-team

I can't reproduce the issue without access on the server

[2019-10-01 08:23] Styopchik commented on #22119
I can confirm issue in IE11 on magento 2.3.2

[2019-10-01 08:33] drpayyne opened #24803 "Inconsistent and Improper Capitalization of Heading"
### Preconditions
- `2.3-develop` branch

### Steps to reproduce (*)
1. Log in to admin
2. Navigate to Marketing -> Communications -> Email Templates
3. Create a new template
4. Heading in the first line is inconsistent and improper

### Expected result (*)
![image](https://user-images.githubusercontent.com/22623301/65946659-422ad580-e454-11e9-8584-02202f57f3fc.png)

### Actual result (*)
![image]

[2019-10-01 08:34] magento-engcom-team commented on #24803
Hi @drpayyne. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-01 08:34] magento-engcom-team commented on #24803
Hi @drpayyne, here is your [Magento instance](https://i-24803-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24803-2-3-develop.instances.magento-community.engineering/admin](https://i-24803-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-01 08:45] ajijshekh123 commented on #24803
Give me @magento give me 2.3-develop instance

[2019-10-01 08:45] magento-engcom-team commented on #24803
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-01 08:46] magento-engcom-team commented on #24803
Hi @ajijshekh123, here is your [Magento instance](https://i-24803-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24803-2-3-develop.instances.magento-community.engineering/admin](https://i-24803-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-01 08:55] magento-engcom-team commented on #24803
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20654` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-01 09:36] zingix commented on #24791
Hi @engcom-Charlie , do I need to do anything? Can I help with providing more infomration?

[2019-10-01 09:44] magento-engcom-team commented on #24791
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20656` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-01 09:44] engcom-Charlie commented on #24791
Hello @zingix ! No, thanks. I reproduced this issue.

[2019-10-01 10:09] ioweb-gr opened #24806 "creating attributes programmatically bypasses attribute_code length and cannot edit"
### Preconditions (*)
1. Magento 2.3.1
2. Create an attribute with a long name programmatically e.g. io_timestamp_sync_product_details

### Steps to reproduce (*)
1. Create an attribute with a long name programmatically e.g. io_timestamp_sync_product_details
2. Try to edit / update the attribute from backend

### Expected result (*)
There are two cases here
1. First, the attribute should throw an

[2019-10-01 10:25] BezV8 opened #24807 "Accordion widget buggy transition"
When using the code sample from https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/widgets/widget_accordion.html for an accordion widget - but setting the animate property to a numeric value - the transition works correctly for individual collapse elements, but when clicking to open a closed element the currently open element closes instantaniously without a transition.

### Precondition

[2019-10-01 10:25] BezV8 commented on #24807
@magento give me 2.3-develop instance

[2019-10-01 10:26] magento-engcom-team commented on #24807
Hi @BezV8. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-01 10:26] magento-engcom-team commented on #24807
Hi @BezV8, here is your [Magento instance](https://i-24807-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24807-2-3-develop.instances.magento-community.engineering/admin](https://i-24807-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-01 10:32] engcom-Charlie commented on #24797
Hello @sdzhepa !
This issue looks like feature request.
Could you take a look?

[2019-10-01 10:41] engcom-Charlie commented on #24667
Hello everyone!
I am closing this issue because it is not relevant.
Thanks for contributing!

[2019-10-01 10:41] #24667 closed, assigned to engcom-Charlie

[2019-10-01 10:42] BezV8 commented on #24807
@magento I can confirm the problem is present on the test instance.
![accordion](https://user-images.githubusercontent.com/33320744/65955548-4f3dc980-e440-11e9-9f25-86877609e9c0.gif)
Using the following HTML for the accordion:
[code]

[2019-10-01 11:31] Flipmediaco commented on #10821
Leaving my findings for others on the issue we had initially how this progressed following the @philipp fix in this thread and what we found and did to FIX :-)

MAGENTO 2.2.9
PHP 7.1.32

Initial Error: **Validate class not found from basename 'EmailAddress'**

Followed @Philipp fix, set php_value include_path "."
Followed @sebastianrothbucher observation and added "." to php_value open_basedir

Im

[2019-10-01 11:52] #23582 closed, assigned to nobody

[2019-10-01 12:02] sangeetajain commented on #7107
Any one found the solutions for merge guest cart item to login customer cart.

[2019-10-01 12:06] sangeetajain opened #24808 "How to Merge guest quote items to customer quote(if customer log in) by magento 2 rest API"
### Preconditions (*)
Magento 2.3-develop
If any one is add products in cart by guest and after that login then how it will merge guest cart to customer login cart items by Rest API.

### Steps to reproduce (*)
1. Create a customer
2. Log out from customer account
3. Add any product to cart
4. Try to merge quotes via API
[code]
### Expected result (*)
200 OK
`true`
### Actual result (*)
getting er

[2019-10-01 12:32] BezV8 opened #24809 "Invisible reCaptcha does not replace default captcha on forgotten password form"
When enabling the invisible recaptcha on 2.3.2 the default magneto recaptcha is not replaced on the forgotten password form and both captchas are presented to the user.

### Preconditions (*)

1. Magento 2.3.2
2. v3 reCaptcha enabled on frontend

### Steps to reproduce (*)

1. Add api keys for v3 invisible reCaptcha
2. Enable reCaptcha on all front-end pages.

### Expected result (*)

1. Default c

[2019-10-01 12:36] BezV8 commented on #24809
@magento give me 2.3-develop instance

[2019-10-01 12:37] magento-engcom-team commented on #24809
Hi @BezV8. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-01 12:37] magento-engcom-team commented on #24780
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20664` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-01 12:37] magento-engcom-team commented on #24809
Hi @BezV8, here is your [Magento instance](https://i-24809-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24809-2-3-develop.instances.magento-community.engineering/admin](https://i-24809-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-01 12:39] engcom-Bravo commented on #24535
@MichaelThessel, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-10-01 12:39] #24535 closed, assigned to nobody

[2019-10-01 12:44] BezV8 commented on #24809
@magento Can't verify on test instance as it does not seem to have reCaptcha module enabled.

[2019-10-01 12:58] engcom-Charlie commented on #24806
Hello @ioweb-gr !
We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.
**Manual testing scenario:**

1. Create an attribute with a long name programmatically( `io_timestamp_sync_product_details222` in my case)
2. Try to edit / update the attribute from backend

**Actual result:**
Attribute saved.
![Peek 2019-10-01 14-37](https://user-images.githubusercontent.c

[2019-10-01 12:58] #24806 closed, assigned to engcom-Charlie

[2019-10-01 12:58] ronn0 commented on #20125
@magento-engcom-team I am working in this.

[2019-10-01 12:59] ronn0 commented on #24575
@magento-engcom-team I am working on it.

[2019-10-01 13:12] ronn0 commented on #24575
I'm not allowed to add/edit labels.

[2019-10-01 14:16] engcom-Bravo commented on #24798
Hello @wilfriedwolf. Thanks for reporting. Could You please retest Your issue on the latest develop version. We  did that and obtained some other behavior not the one You've described in Your Actual Result but nevertheless definitely also a wrong one. There is an empty row appearing before the row with the newly added value when You open the attribute for editing it.
![format](https://user-images.

[2019-10-01 14:29] magento-engcom-team commented on #24698
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20672` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-01 15:03] rafashkembi commented on #6719
I have replicated the same issue on magento 2.3.2.

Magento attributes like `color` do show correctly.
Custom attributes show correct on product pages but when you go on the cart page they show empty. Proceeding with the order when i get the email i still do not see the attribute values.
The Values are missing also on the order page on the admin area.
So the attribute values are missing on:

1) Ca

[2019-10-01 15:05] #24787 closed, assigned to krishprakash

[2019-10-01 15:25] manishmittalm commented on #24704
Hello @magento
Please provide me 2.3 develop.

[2019-10-01 15:26] alexishughes commented on #15950
Is this new? modify existing product to qty=0 is_in_stock=1 price=£499 via CSV upload and no fields are modified. This is a problem as we have quite a few back-order items which are available for sale but have zero qty. It used to work.

[2019-10-01 15:29] manishmittalm commented on #24704
@magento

This issue still in open status so should need to fix or not?

[2019-10-01 15:30] Dahui91 opened #24811 "Pagebuilder select field value not saved"
### Preconditions (*)

1. Magento Commerce ver. 2.3.3
2. Pagebuilder content element with custom select field or default select field with altered value

### Steps to reproduce (*)

1. Create a new content element with select field OR change value in existing select field (for example button item)
2. Create CMS page and place content element
3. Open settings from element and choose an option from

[2019-10-01 15:40] Feyks opened #24812 "Error 400 Bad Request on Customer API GET /customer/me"
Trying to get a customer by id from a REST Client, I'm confused because an error is asking to send the required field "customerId". But this field was sent as a GET parameter in the URL.

### Preconditions

1. Magento 2.3.1 on docker with image alexcheng/magento2:latest
2. Advanced REST Client

### Steps to reproduce

To reproduce, we will need an admin token from the /V1/integration/admin/token w

[2019-10-01 15:41] VitaliyBoyko commented on #24575
Hi @ronn0
Labels being changed automatically and by members of the Magento organization.

The documentation says:

https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html

[2019-10-01 15:44] lfolco commented on #24704
@manishmittalm I am trying to get clarification on whether this is by design or not.

[2019-10-01 15:56] engcom-Bravo commented on #24812
Hello @Feyks. Thanks for reporting. Requests with "me" seem to be intended only to be made directly from the customer and not from admin. Would You please try this: http://{magento_host}/rest/V1/customers/1 in stead.

[2019-10-01 16:36] srenon commented on #24793
@rbostan .. this is a server config issue and not a Magento or MagePal issue.

To debug take a look at https://github.com/magepal/magento2-gmail-smtp-app/issues/30

[2019-10-01 16:44] buskamuza commented on #23032
This is expected behavior. The whitelist should be generated on dev environment by the extension developer, so it should not be necessary to support DB with prefix.
Presence of the prefix impacts names of DB entities (such as names of keys), and such names can't be used in the generated whitelist.
The whitelist is a temporary solution while we're migrating from old setup scripts to the declarative

[2019-10-01 16:58] sdzhepa commented on #23032
Hello @sanjay-wagento  and @Den4ik

Thank you for contribution and collaboration!

Based on feedback from the Magento Architecture team it is not a bug.
Please see this https://github.com/magento/magento2/issues/23032#issuecomment-537123379 for more details and explanation.

I'm closing this issue

[2019-10-01 16:58] #23032 closed, assigned to Den4ik

[2019-10-01 18:00] magento-engcom-team commented on #23295
Hi @floorz. Thank you for your report.
The issue has been fixed in magento/magento2#24783 by @kisroman in 2.3-develop branch
Related commit(s):
 - [35ad339af8373cb2280a473f070c57a98da3faee](https://github.com/magento/magento2/commit/35ad339af8373cb2280a473f070c57a98da3faee)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-01 18:00] #23295 closed, assigned to kisroman

[2019-10-01 18:00] magento-engcom-team commented on #24740
Hi @bhavik43. Thank you for your report.
The issue has been fixed in magento/magento2#24761 by @drpayyne in 2.3-develop branch
Related commit(s):
 - [be1194b19e62a8244a81a18df6e86516ed155e91](https://github.com/magento/magento2/commit/be1194b19e62a8244a81a18df6e86516ed155e91)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-01 18:00] #24740 closed, assigned to drpayyne

[2019-10-01 18:00] magento-engcom-team commented on #13218
Hi @Igloczek. Thank you for your report.
The issue has been fixed in magento/magento2#24755 by @ivan-koliadynskyy in 2.3-develop branch
Related commit(s):
 - [b27a5767a5ac6e53b434d2590b5daeeaef2a0cfd](https://github.com/magento/magento2/commit/b27a5767a5ac6e53b434d2590b5daeeaef2a0cfd)
 - [7a9f956c311af2834f6b263d3e5fb14bde1d7a5a](https://github.com/magento/magento2/commit/7a9f956c311af2834f6b263d3

[2019-10-01 18:00] #13218 closed, assigned to ivanko-dev

[2019-10-01 18:51] sdzhepa commented on #22119
Hello @marshallthornton and @Styopchik

Thank you for contribution and collaboration!

Magento team has reconsidered this issue and related internal Jira ticket `MAGETWO-99043` has been reopened.

Currently `MAGETWO-99043` in progress and should be fixed and delivered soon. I will add updates here

[2019-10-01 19:34] APanteleychuk commented on #9979
Yes,  I'm reproduse this problem. It's because cart section not update after refresh page.

[2019-10-01 19:42] wilfriedwolf commented on #24798
@magento give me 2.3-develop instance

[2019-10-01 19:42] magento-engcom-team commented on #24798
Hi @wilfriedwolf. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-01 19:43] magento-engcom-team commented on #24798
Hi @wilfriedwolf, here is your [Magento instance](https://i-24798-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24798-2-3-develop.instances.magento-community.engineering/admin](https://i-24798-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-01 19:49] magento-engcom-team commented on #24426
@sdzhepa, thank you for your report.

The issue has been fixed by Magento team in the scope of internal Jira tickets `MC-20381` and `MAGETWO-99427`
The fix has been delivered into `2.3-develop` branch

Related commit(s):
- https://github.com/magento/magento2/commit/4844c67145e87ae77dc30b09907fa3dfbf181fd5

[2019-10-01 19:51] MaxSouza commented on #24701
@Totem4ik for default the button back is hidden, so it does not an error. We can't reproduced your issue.

[2019-10-01 19:52] magento-engcom-team commented on #22491
@sigismund and @MagentoSeba,

Thank you for your report and collaboration!

The issue has been fixed by Magento team in the scope of internal Jira tickets `MC-20381` and `MAGETWO-99427`
The fix has been delivered into `2.3-develop` branch

Related commit(s):
- https://github.com/magento/magento2/commit/4844c67145e87ae77dc30b09907fa3dfbf181fd5

[2019-10-01 19:52] #22491 closed, assigned to nobody

[2019-10-01 20:07] wilfriedwolf commented on #24798
On the 2.3-develop instance I found a totally correct behaviour. Since there was no sample Data, I created some colors on the attribute "color" (black, blue, green) and created a configurable test product. Editing this product I was not able to insert "green" again, it gave me a red mark and saving said that attribute option should be unique.
![m23-dev](https://user-images.githubusercontent.com/23

[2019-10-01 20:11] wilfriedwolf commented on #24798
@magento give me 2.2-develop instance

[2019-10-01 20:11] magento-engcom-team commented on #24798
Hi @wilfriedwolf. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-10-01 20:12] wilfriedwolf commented on #24798
Ok, so, will this be fixed in the 2.2 release line too, since the problem is in our shop with Magento CE 2.2.9

[2019-10-01 21:05] magento-engcom-team commented on #22119
Hi @marshallthornton, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.4` release.

[2019-10-01 22:10] magento-engcom-team commented on #15775
Hi @springimport. Thank you for your report.
The issue has been fixed in magento/magento2#20181 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [36ad18af62f3d434b3a08eb6358217ff43cd1bce](https://github.com/magento/magento2/commit/36ad18af62f3d434b3a08eb6358217ff43cd1bce)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-01 22:10] #15775 closed, assigned to skylineop, p-bystritsky

[2019-10-01 22:29] magento-engcom-team commented on #10674
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:29] magento-engcom-team commented on #5033
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:29] #5033 closed, assigned to nobody

[2019-10-01 22:29] magento-engcom-team commented on #12032
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:29] #12032 closed, assigned to nobody

[2019-10-01 22:30] magento-engcom-team commented on #9381
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:30] #9381 closed, assigned to nobody

[2019-10-01 22:30] magento-engcom-team commented on #8198
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:30] magento-engcom-team commented on #7627
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:30] #7627 closed, assigned to nobody

[2019-10-01 22:30] magento-engcom-team commented on #10756
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:30] #10756 closed, assigned to nobody

[2019-10-01 22:30] magento-engcom-team commented on #9214
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:30] #9214 closed, assigned to nobody

[2019-10-01 22:30] magento-engcom-team commented on #10067
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:30] #10067 closed, assigned to nobody

[2019-10-01 22:30] magento-engcom-team commented on #11695
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:30] #11695 closed, assigned to nobody

[2019-10-01 22:30] magento-engcom-team commented on #7765
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:30] #7765 closed, assigned to nobody

[2019-10-01 22:30] magento-engcom-team commented on #6955
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:30] #6955 closed, assigned to nobody

[2019-10-01 22:31] magento-engcom-team commented on #5492
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:31] #5492 closed, assigned to nobody

[2019-10-01 22:31] magento-engcom-team commented on #5645
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:31] #5645 closed, assigned to nobody

[2019-10-01 22:31] magento-engcom-team commented on #12100
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-01 22:31] #12100 closed, assigned to nobody

[2019-10-01 23:12] alrururu commented on #14248
same issue with .gif images when images are imported or added via product editor
![2019-10-01 19_13_30-CompatWindow](https://user-images.githubusercontent.com/56052517/66007164-546e3900-e47f-11e9-868e-ff0da28f99bb.png)

[2019-10-02 00:20] eurobeautiful opened #24816 "Backorders fulfillment improvements"
### Description (*)
The current behavior of Magento 2.3.1 when it comes to fulfilling backorders doesn't allow for efficient fulfillment, even less for scaling.

There are two areas of improvement.

1) When an order is received that contains products that are entirely or partially out of stock, it is very easy for the operator to attempt to ship the order including all products ordered. Magento th

[2019-10-02 02:31] erfanimani commented on #21904
Thanks for the tip @hostep ! I'll add it in.

[2019-10-02 02:35] shikhamis11 commented on #24816
hi @eurobeautiful
Thanks for reporting this issue . It will be processed faster if you will report it on  [Magento Community Feature](https://github.com/magento/community-features)

[2019-10-02 02:35] #24816 closed, assigned to shikhamis11

[2019-10-02 04:27] deckside commented on #13466
I don't know what is causing the actual problem but I have a workaround.

Invoices seem to be sent OK if the customer has an account. It looks like the New Invoice Guest Template is faulty.

Go to Marketing> Email Templates>Add New Template
Load default template from New Invoice.
Make any changes and save as New Invoice Guest Custom.

Go to Stores>Configuration>Sales>Sales Emails>
Under Invoice >

[2019-10-02 04:59] angelflo commented on #16134
same for me , this is issue is still here on 2.3.2 version

[2019-10-02 05:02] krishprakash commented on #24811
Page Builder related issues should reported to it's separate repository.
https://github.com/magento/magento2-page-builder/issues
@sdzhepa please move this issue to Page Builder repository.
Thanks.

[2019-10-02 06:29] engcom-Bravo commented on #24798
@wilfriedwolf, Thank You for the work You've done. Unfortunately branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details. So, unfortunately, the fix won't

[2019-10-02 06:49] Julen10 commented on #13466
@deckside I have done it since the creation of the web. I have my own template with css. I can't solve it like that :S

I have made a workaround using API and creating my own script.

[2019-10-02 07:09] manishmittalm commented on #18088
@magento Please confirm if this issue still need to fix. As I can see flag is ready for dev.

[2019-10-02 07:16] engcom-Charlie commented on #24793
Hello @rbostan
The GitHub issue tracker is intended for Magento Core technical issues only.
Thanks for your report!

[2019-10-02 07:16] #24793 closed, assigned to engcom-Charlie

[2019-10-02 07:24] engcom-Charlie commented on #24470
Hello @JensBourgeois

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

If you still faced thi

[2019-10-02 07:24] #24470 closed, assigned to engcom-Charlie

[2019-10-02 07:35] Feyks commented on #24812
Hello @engcom-Bravo. Thanks for your quick answer. The url you have given is working perfectly fine.
Thanks for your help.

[2019-10-02 07:35] #24812 closed, assigned to nobody

[2019-10-02 07:38] Erfans commented on #13685
is there any update? since the the jQuery version is still v1.12.4 https://github.com/magento/magento2/blob/2.3.2/lib/web/jquery.js#L2

[2019-10-02 07:44] wilfriedwolf commented on #24798
I would, but i am not quite sure, how to get a Magent 2.3-develop Instance with sample Data.

[2019-10-02 07:50] Totem4ik commented on #24701
@MaxSouza you have this functionality in core of magento2 on backend. So, behavior of this functional is wrong. This doesn't a theme problem, this problem in core, so when we using another theme this bug doesn't hidden. How to reproduce this issue you can find above in topic and comment with screenshot.
Could you remove behavior of this button from controller or fix it ?

[2019-10-02 08:28] engcom-Charlie commented on #24654
I am closing this issue now due to inactivity.
Please reopen and update if you wish to continue.
Thank you for the collaboration!

[2019-10-02 08:31] engcom-Bravo commented on #24812
You are always welcome @Feyks.

[2019-10-02 08:38] engcom-Bravo commented on #24798
Really... @wilfriedwolf. And couldn't You download and install a vanilla 2.3-develop from github for that?

[2019-10-02 08:46] GuiltyNL commented on #4688
@snoroozi  I'm testing this at the moment and I have disabled the anchor of the root category.  For us it didn't solve this issue.

For us it seems to have to do something with (custom) attributes that are set / changed on save. It clears the whole cache. Futhermore our cache warmer does not recognize it as a complete flush and only adds that product and the category pages of that product to warm

[2019-10-02 08:47] toxix commented on #24555
Hey,

Thx for working on this. I think if the two PR #24568 and #24729 are approved and merged this bug looks like it's solved by them in combination. In the way they are implemented there. Let's keep this open untill the PR are merged.

[2019-10-02 08:52] wilfriedwolf commented on #24798
I could and should, yes. give me a while...

[2019-10-02 08:52] GuiltyNL commented on #4688
@choukalos I'm wondering why this ticket has been closed?

[2019-10-02 08:56] wilfriedwolf commented on #24798
Didn't find out yet how to install sample data on cloned project, but I'll manage :)

[2019-10-02 08:59] toxix commented on #11657
Hey,

I just hat trouble with a store containing 21 shops. Dump the whole cofig and import it again leads again to the error described above: https://github.com/magento/magento2/issues/11657#issuecomment-345450816

This could be solved by
[code]
source: https://www.offset101.com/magento-2-x-fix-import-failed-unable-unserialize-value-string-corrupted-appconfigimport/

Magento was Version: 2.3.2

I

[2019-10-02 08:59] Layer5-PaulC commented on #16134
I can confirm olegkoval/magento2-regenerate-url-rewrites sorted it for me too, obviously I have to schedule the running of that, but I found running it against products for a whole store-view  cleaned it up straight away.

[2019-10-02 09:12] engcom-Charlie commented on #24635
I am closing this issue now due to inactivity.
Please reopen and update if you wish to continue.
Thank you for the collaboration!

[2019-10-02 09:21] bartoszkubicki opened #24820 "No service contract for adding product to cart"
### Summary (*)

There is no clean, easy way for adding product to cart. Of course if there is any, please post it. For now you can use `Magento\Quote\Model\Quote`, but it requires additional steps like saving cart etc., what is not very comfortable. `Magento\Checkout\Model\Cart` works fine but it is deprecated, so you shouldn't use it. It has also nice wrapper around adding product, which allows

[2019-10-02 09:26] engcom-Bravo commented on #24798
@wilfriedwolf, here is the repository to clone a simple data from. And in its Readme You can find the instruction on how to install it in particular for gitcloned instances.

[2019-10-02 09:27] engcom-Bravo commented on #24798
Sorry, here it is: https://github.com/magento/magento2-sample-data

[2019-10-02 10:07] meetvora69 commented on #24811
@magento give me 2.3-develop

[2019-10-02 10:20] ronn0 commented on #20125
@magento-engcom-team  I am working in this.

[2019-10-02 10:32] DeLuuk commented on #22119
Hey @sdzhepa,

I'm having this problem as well.
Can you tell me what the fix was so I can insert it into my 2.3.2 shop?

[2019-10-02 10:38] vovayatsyuk opened #24822 "Unable to use API to save quote item when backorder is set to "Allowed and Notify Customer""
### Summary
I have a module that allows changing qty of cart items at the checkout page.
**No custom backend logic is used.** The following API point is used [/V1/guest-carts/:cartId/items](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Quote/etc/webapi.xml#L205-L210) for all backend stuff.

Everything works nicely until you enable "Allowed Qty Below 0 and Notify Customer" f

[2019-10-02 10:42] vovayatsyuk commented on #24822
@magento give me 2.3-develop instance

[2019-10-02 10:42] magento-engcom-team commented on #24822
Hi @vovayatsyuk. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-02 10:42] jclark0 opened #24823 "Payment Error - "We can't place the order... ... We can't save the address: Email has a wrong format""
### Preconditions (*)

1. Magento 2.3.2
2. Upgraded installation from 2.2.5 to 2.3.2

### Steps to reproduce (*)

1. Add cart to basket, proceed to payment
2. Attempt to complete order

### Expected result (*)

1. Success and confirmation of order

### Actual result (*)

1. Error appears "We can't place the order... ... We can't save the address: Email has a wrong format"
2. Checkout returns back

[2019-10-02 10:42] magento-engcom-team commented on #24822
Hi @vovayatsyuk, here is your [Magento instance](https://i-24822-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24822-2-3-develop.instances.magento-community.engineering/admin](https://i-24822-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-02 10:49] vovayatsyuk commented on #24822
Yes, I can reproduce it on demo instance:

![image](https://user-images.githubusercontent.com/306080/66038647-67cee200-e51b-11e9-8d0e-c7e69dee3872.png)

[2019-10-02 11:04] engcom-Charlie commented on #24672
Hello @olgaIskra
I can't reproduce this issue on a fresh Magento 2.3-develop.
**Manual testing scenario:**
1. Configure PayPal Express Checkout ( with Guest checkout)
2. Add product to cart
3. In mini cart press PayPal button
4. Place order

**Actual result:**
Order is placed without any errors.
So i have to close this issue.
Thanks for your report!

[2019-10-02 11:04] #24672 closed, assigned to engcom-Charlie

[2019-10-02 11:09] olgaIskra commented on #24672
How make correct "Configure PayPal Express Checkout ( with Guest checkout)"?

[2019-10-02 11:19] engcom-Charlie commented on #24672
@olgaIskra
1. Fill all data
![image](https://user-images.githubusercontent.com/51680850/66040155-6e5f5880-e51f-11e9-88c8-978941c3369d.png)
2. In 'Advanced settings' tab turn on Guest checkout
![image](https://user-images.githubusercontent.com/51680850/66040263-af576d00-e51f-11e9-8975-0edf6ba4620f.png)

[2019-10-02 11:20] rvilama97 commented on #3650
Has this been fixed? I'm trying to remove the theme in 2.2.6 and I'm having the same issue.

You can see here as none of our child themes depend on Luma Theme.

![image](https://user-images.githubusercontent.com/39625379/66040288-5d124e00-e517-11e9-8c07-ab70bcb10a4f.png)

Thank you

[2019-10-02 11:38] magento-engcom-team commented on #15201
Hi @vijaymagento1.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-19978` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you

[2019-10-02 11:38] #15201 closed, assigned to nobody

[2019-10-02 11:39] eurobeautiful commented on #24816
Thank you @shikhamis11 !
I have opened https://github.com/magento/community-features/issues/200

[2019-10-02 11:55] engcom-Bravo commented on #24820
Hello @bartoszkubicki, thanks for applying. We are supposed to close such issues referring the reporter  to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion on it as this repository is intended for Magento Core technical issues only. Of course You may try to visit them and probably get a

[2019-10-02 12:28] lenaorobei commented on #24676
Fixed in https://github.com/magento/graphql-ce/pull/968

[2019-10-02 12:28] #24676 closed, assigned to VitaliyBoyko, engcom-Charlie

[2019-10-02 12:34] magento-engcom-team commented on #24808
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21009` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-02 12:47] NickdeK opened #24825 "Remove image doesn't clear flat table image value's when having multiple stores"
### Preconditions (*)

1. Magento 2.3.2
2. Multiple stores

### Steps to reproduce (*)

1. Have a product that has one or multiple images
2. Remove the images while in the "All Store Views" scope.

### Expected result (*)

1. Image is removed and cleared in all store specific flat tables
2. Doing `$product->getData('small_image')` results in null or `no_selection`

### Actual result (*)

1. Old im

[2019-10-02 12:49] extremeskillz commented on #24777
I see what your salying. Part of the issue ihor-sviziev is that elasticsearch is part of Ubuntu repos and gets updated as soon as a release comes out. So my install for this issue was 7.3, they just released 7.4 today in the repos. The only way to not do that is installing elasticsearch  manually with there standalone packages. The docs are not clear on this especially those using the CE versions

[2019-10-02 13:06] bartoszkubicki opened #24826 "Newly initialized quote has no address which prevents totals calculating"
### Preconditions (*)

1. Magento 2.3.2 open source

### Steps to reproduce (*)

1. Place order
2. Get quote from session and add product
3. Save quote
4. Minicart and cart has no totals calculated as product has price 0
(Custom controller doing whole thing is POST and its added to `sections.xml` so it is not about caching, in db all totals and item prices are null.)

### Expected result (*)

1. A

[2019-10-02 13:46] MaxSouza commented on #24701
@Totem4ik Ah ok, I'll fix the url.

[2019-10-02 13:47] euriskotech commented on #15545
Does anyone know of any progress regarding this issue, I'm holding back a M1 migration to M2 because of this issue during testing, but under pressure from the client to migrate.  Thanks

[2019-10-02 13:50] designboxcom commented on #18148
This issue is still no resolved.
I am still unable to manually change the status of the orders... In the dropdown list, there is only 1 option available: "Pending Payment" !!!!

[2019-10-02 13:51] mertgokceimam commented on #15545
@euriskotech Magento team supplied us a patch. If you a Magento client , ask them the following patch : MDVA-20708_EE_2.2.9_v1.composer.patch

[2019-10-02 14:02] magento-engcom-team commented on #24822
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21010` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-02 14:24] drazulay commented on #16598
I have to say.. I get why Magento is moving towards a separation between DTOs and models, but the implementation and documentation is nothing short of horrible. It took me way, way too long figure out how to save new conditions to sales rules. Disappointed in the documentation, first and foremost.

[2019-10-02 14:35] drpayyne commented on #24788
@magento-engcom-team Shouldn't this be moved to the new Inventory Management repository?

[2019-10-02 14:39] drpayyne commented on #24788
@augrinovska Is this with the new MSI installed?

[2019-10-02 14:45] euriskotech commented on #15545
Is this for Enterprise Edition, or Community?  I'm runnning Community

[2019-10-02 14:55] euriskotech commented on #15545
@mertgokceimam I'm running community, it's about time they released this into community edition

[2019-10-02 14:57] sdzhepa commented on #22119
Hello @marshallthornton and @Styopchik

The issue was closed accidentally by mistake.
At this moment the internal Jira ticket `MAGETWO-99043` is completed(Fixed/QA Passed) and waiting in the delivery queue.
I will update this Issue with commits info as soon as it will be delivered into public `2.3-develop` branch

[2019-10-02 15:06] duckchip commented on #24629
I think this is related to https://github.com/magento/magento2/issues/24776#issuecomment-536212975

[2019-10-02 15:17] bramvanderholst opened #24830 "Remove JS loaded through RequireJS"
### Description

Due to a large amount of JS files (loaded through RequireJS) which we do not need (in our custom theme), we would like a method to remove some of these files.

This is a feature request since such functionality is not yet implemented.

### Preconditions

### Steps to reproduce

### Expected result

### Actual result

[2019-10-02 15:55] magento-engcom-team commented on #7314
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-02 15:55] #7314 closed, assigned to nobody

[2019-10-02 15:56] magento-engcom-team commented on #4723
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-02 15:56] #4723 closed, assigned to nobody

[2019-10-02 15:56] magento-engcom-team commented on #7118
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-10-02 15:56] #7118 closed, assigned to nobody

[2019-10-02 16:02] engcom-Bravo commented on #24825
Hello @NickdeK, thanks for reporting. We haven't managed to reproduce Your issue on the latest develop version by now. We used simple CLI command to run such a code like:
[code]
Here You may see the results:
![noselection](https://user-images.githubusercontent.com/51680745/66060689-c1003b00-e546-11e9-8459-c8f53d752472.gif)

Point us please at where we missed or misunderstood something while reprod

[2019-10-02 16:31] rani-webkul commented on #24571
Hi @ihor-sviziev,
we are not getting any update from @akaplya, I think we should discuss it with other member.

[2019-10-02 17:26] shikhamis11 commented on #24809
@magento give me 2.3-develop instance

[2019-10-02 17:26] magento-engcom-team commented on #24809
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-02 17:26] magento-engcom-team commented on #24809
Hi @shikhamis11, here is your [Magento instance](https://i-24809-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24809-2-3-develop.instances.magento-community.engineering/admin](https://i-24809-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-02 17:27] zaximus84 commented on #22820
I'm running into this on 2.3.1. I haven't tested on 2.3.2 or develop. It looks to me like the issue is in \Magento\Tax\Model\Sales\Total\Quote\Shipping::collect. This calls setShippingAmount on $quote->getShippingAddress(). $quote->getShippingAddress() isn't the right way to get the address object because it won't necessarily return the same address that totals are being collected for.

It returns

[2019-10-02 17:35] magento-engcom-team commented on #24809
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21433` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-02 18:35] zainengineer commented on #14389
if all simples and configurables are out of stock.
In admin you put simple in stock manually
run the indexes
it does not put configurable back in stock

see `\Magento\ConfigurableProduct\Model\ResourceModel\Indexer\Stock\Configurable::_getStockStatusSelect()`

And code
[code]

`statusExpr` has configurable product status, while `optExpr` has its simple stock status

`stockStatusExpr` is least of t

[2019-10-02 20:30] magento-engcom-team commented on #24426
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-02 20:42] brunoroeder commented on #22169
Hello,

I created the PR https://github.com/magento/magento2/pull/24832 for this issue related to #24832 24721

[2019-10-02 21:13] Bartlomiejsz commented on #24809
Hi @shikhamis11, @BezV8, @magento-engcom-team
I wanted to work on this ticket but I believe there is no issue at all. Invisible reCaptcha is not replacement for default captcha, this is just different module. If both are turned on then both appear on frontend, but it is enough to disable default captcha in **Stores -> Configuration -> Customers -> Customer Configuration -> CAPTCHA**.

Then forgot

[2019-10-02 23:00] twoatechguy commented on #6793
Was this fixed in 2.2.8? The search behavior is still the same on 2.2.9.

[2019-10-03 01:34] Januszpl commented on #11431
@engcom-backlog-nazar where are the commits for this and how did you tested it works on 2.3.2 ?

[2019-10-03 01:42] Januszpl commented on #11431
@engcom-backlog-nazar where are the commits for this fix?

[2019-10-03 02:07] drpayyne commented on #24788
@krishprakash Did you test this with the new MSI installed?

[2019-10-03 04:34] renard123 opened #24834 "Display success message for Apply rules if haven't added rule"
Display success message for Apply rules if haven't added rule

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
1. Admin -> Marketing -> Promotions -> Catalog Price Rules
2. Click on Apply rules
3. It will display the message like "Updated rules applied."

### Expected result (*)
Apply Rules link should not be display if no rules added
OR
Apply Rules link should be disable

### Actual

[2019-10-03 04:34] krishprakash commented on #24834
@magento give me 2.3-develop instance

[2019-10-03 04:34] magento-engcom-team commented on #24834
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-03 04:35] magento-engcom-team commented on #24834
Hi @krishprakash, here is your [Magento instance](https://i-24834-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24834-2-3-develop.instances.magento-community.engineering/admin](https://i-24834-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-03 04:37] magento-engcom-team commented on #24834
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21445` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-03 06:17] ihor-sviziev commented on #24571
Hi @rani-webkul,
I'll try to push forward it

[2019-10-03 06:47] #24023 closed, assigned to nobody

[2019-10-03 06:55] ronn0 commented on #20125
@magento I am working on it

[2019-10-03 07:01] BezV8 commented on #24809
@Bartlomiejsz If that is the case I think the official magento docs need to be updated. It clearly states in the CE2.3 [user guide](https://docs.magento.com/m2/ce/user_guide/stores/security-google-recaptcha.html) that

 and nowhere in the guide does it say to remove the default captcha. Clearly, either the documentation is incorrect, or the module is not working correctly.

[2019-10-03 07:26] engcom-Charlie commented on #24788
Hello @drpayyne
No, we cannot transfer this issue to the MSI repository because the MSI functionality allows you to make a different qty of products in the cart (multi-source).

[2019-10-03 07:28] ronn0 commented on #20125
@magento I am working on it

[2019-10-03 08:05] drpayyne commented on #24788
@engcom-Charlie So "Maximum Qty Allowed in Shopping Cart" has website scope with default Magento 2.3.x without the new inventory modules installed?

[2019-10-03 08:13] tschirmer commented on #6865
We're using docker and we get this as well.

[2019-10-03 08:17] engcom-Charlie commented on #24788
@drpayyne no, it should not work without inventory modules because MSI was created for this.

[2019-10-03 08:32] drpayyne commented on #24788
@engcom-Charlie yes we're in agreement then, the issue reported above is the non-existence of the feature (website scope for "Max Qty in Cart") in `magento/magento2` codebase which is actually introduced and active in `magento/inventory`. So I'm wondering why this is an issue present in the `magento/magento2` codebase.

[2019-10-03 08:37] engcom-Charlie commented on #24788
@drpayyne i understand.
I think it’s worth closing it, but I’d better clarify this with my lead.

[2019-10-03 08:46] magento-engcom-team commented on #22431
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21450` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-03 10:38] sablesoft commented on #6106
I use Magento v2.3.2
I need to enable MAGE_PROFILER=2, but got errors like this:

How can I fix it?

[2019-10-03 10:45] gwharton commented on #22173
Fixed in https://github.com/magento/magento2/commit/0d43912118850097deb864eb0786ffda2d1556fc

[2019-10-03 10:45] #22173 closed, assigned to nobody

[2019-10-03 10:48] sablesoft opened #24837 "Profiler loggers generation issue"
### Preconditions

Magento version 2.3.2 in docker container

### Steps to reproduce

Set env MAGE_PROFILER=2

### Expected result

Profiler enabled and the app runs without fatal errors in the core.

### Actual result

Got fatal errors in profiler loggers generation. Example:

How can I fix it?

[2019-10-03 10:49] sablesoft commented on #24837
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-10-03 10:50] magento-engcom-team commented on #24837
Hi @sablesoft. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-03 10:50] magento-engcom-team commented on #24837
Hi @sablesoft, here is your [Magento instance](https://i-24837-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24837-2-3-develop.instances.magento-community.engineering/admin](https://i-24837-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-03 10:54] engcom-Bravo commented on #24647
@Nickan, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-10-03 10:54] #24647 closed, assigned to nobody

[2019-10-03 11:34] magento-engcom-team commented on #24830
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21452` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-03 11:48] LukSky24 commented on #9486
I have multistore on Magento 2.2.9 and after installing Cadence module (and also without it) the problem still exist. When i checked "Use deafult value" on one of the stores, and click "Save", page is refreshed and checkbox is still nonchecked. I test it on Magento 2.3.2 and there is no problem, but can someone help me and tell what change in code of M 2.2.9 (without upgrading to 2.3.2) to get thi

[2019-10-03 12:19] LeoNun opened #24838 "Can't open order with a product recently disabled"
Hello,
as the title mention when I try to open an order recently created with any state with a product that I disable I cannot open this order.
Anybody with this issue?
Can anyone try with magento 2.3.2?

Best regards,
Leonel Nuens

[2019-10-03 12:37] shikhamis11 commented on #24809
@Bartlomiejsz I agree with @BezV8
in devdocs it is mentioned that `If you have the standard Magento CAPTCHA enabled, reCAPTCHA will override it. You can have both enabled on your Magento instance without issues.`
It means that only one should be at a time

[2019-10-03 12:37] magento-engcom-team commented on #24809
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21458` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-03 12:44] amitlmitm opened #24839 "Issue on the customer listing page in the admin backend"
I want to see my  customers listing but here is this type of  error :
Magento ver. 2.3.1
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento2.customer_grid_flat' doesn't exist, query was: SELECT COUNT(*) FROM `customer_grid_flat` AS `main_table`

For this, I have run "php bin/magento indexer: reindex" but it still showing this error. What should I do to resolve this error?

![image]

[2019-10-03 12:47] hasim32 opened #24840 "Drop down icon invisible for a moment if not select value and click on Load Template"
### Preconditions (*)
M 2.3

### Steps to reproduce (*)
1. admin - email template - add new template
2. without select template click on Load Template

### Expected result (*)
drop down icon should be visible when click on Load Template

### Actual result (*)
![image](https://user-images.githubusercontent.com/56119534/66127383-23ba0b00-e609-11e9-8635-96680f71905c.png)

[2019-10-03 12:50] sablesoft commented on #24837
There seems to be an error in this method:

The return type getting is missing here!
For comparison:

Here the return type option is added.

[2019-10-03 12:57] magento-engcom-team commented on #24803
Hi @drpayyne. Thank you for your report.
The issue has been fixed in magento/magento2#24804 by @drpayyne in 2.3-develop branch
Related commit(s):
 - [520d8f18788abfd81d190ebd0944d2ba9b986ee5](https://github.com/magento/magento2/commit/520d8f18788abfd81d190ebd0944d2ba9b986ee5)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-03 12:57] #24803 closed, assigned to drpayyne

[2019-10-03 12:57] magento-engcom-team commented on #24708
Hi @nemke82. Thank you for your report.
The issue has been fixed in magento/magento2#24773 by @drpayyne in 2.3-develop branch
Related commit(s):
 - [ece34863580bd8ba09cf420759effe7a38c3f076](https://github.com/magento/magento2/commit/ece34863580bd8ba09cf420759effe7a38c3f076)
 - [9a9622247fcf4aa3e49c1857999693064b82b045](https://github.com/magento/magento2/commit/9a9622247fcf4aa3e49c1857999693064b8

[2019-10-03 12:58] #24708 closed, assigned to drpayyne

[2019-10-03 12:58] magento-engcom-team commented on #24581
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/magento2#24682 by @KaushikChavda in 2.3-develop branch
Related commit(s):
 - [dbf518eb6ccb1ed0881453714fbc6cf462b2a778](https://github.com/magento/magento2/commit/dbf518eb6ccb1ed0881453714fbc6cf462b2a778)
 - [4dbf01c8aaf6c13e24f9862ca801ec07ba3f08b5](https://github.com/magento/magento2/commit/4dbf01c8aaf6c13e24f9862ca801ec

[2019-10-03 12:58] magento-engcom-team commented on #12256
Hi @quenode. Thank you for your report.
The issue has been fixed in magento/magento2#22293 by @Bartlomiejsz in 2.3-develop branch
Related commit(s):
 - [a4f6b3c753c5df332be3545a26519581463d89f9](https://github.com/magento/magento2/commit/a4f6b3c753c5df332be3545a26519581463d89f9)
 - [1e6a2991f9ab3feef3baf2e0afdd70894ac9e7e9](https://github.com/magento/magento2/commit/1e6a2991f9ab3feef3baf2e0afdd708

[2019-10-03 12:58] #12256 closed, assigned to Bartlomiejsz

[2019-10-03 12:58] magento-engcom-team commented on #13263
Hi @danijelkusic. Thank you for your report.
The issue has been fixed in magento/magento2#22293 by @Bartlomiejsz in 2.3-develop branch
Related commit(s):
 - [a4f6b3c753c5df332be3545a26519581463d89f9](https://github.com/magento/magento2/commit/a4f6b3c753c5df332be3545a26519581463d89f9)
 - [1e6a2991f9ab3feef3baf2e0afdd70894ac9e7e9](https://github.com/magento/magento2/commit/1e6a2991f9ab3feef3baf2e0af

[2019-10-03 12:58] #13263 closed, assigned to Bartlomiejsz

[2019-10-03 12:58] magento-engcom-team commented on #24718
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/magento2#24720 by @UncleTioma in 2.3-develop branch
Related commit(s):
 - [502146f7f2d086b3a1beaea41de3edc488f78b3c](https://github.com/magento/magento2/commit/502146f7f2d086b3a1beaea41de3edc488f78b3c)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-03 12:58] magento-engcom-team commented on #24414
Hi @brucemead. Thank you for your report.
The issue has been fixed in magento/magento2#24415 by @brucemead in 2.3-develop branch
Related commit(s):
 - [7563129bcce08c1d99347eba76f1af9d564b7039](https://github.com/magento/magento2/commit/7563129bcce08c1d99347eba76f1af9d564b7039)
 - [4b1b1dc7dee1832ba2ff3598c6c0afb766941bda](https://github.com/magento/magento2/commit/4b1b1dc7dee1832ba2ff3598c6c0afb7

[2019-10-03 12:58] #24414 closed, assigned to brucemead

[2019-10-03 12:58] magento-engcom-team commented on #23460
Hi @Stepa4man. Thank you for your report.
The issue has been fixed in magento/magento2#24597 by @LucasCalazans in 2.3-develop branch
Related commit(s):
 - [849a26752d0838c98f66a2bd3a179f14fe68a17e](https://github.com/magento/magento2/commit/849a26752d0838c98f66a2bd3a179f14fe68a17e)
 - [4122c40e193813e568b44953d6e12392cfed27cc](https://github.com/magento/magento2/commit/4122c40e193813e568b44953d6e1

[2019-10-03 12:58] #23460 closed, assigned to deiserh, LucasCalazans

[2019-10-03 13:08] engcom-Charlie commented on #24826
Hello @bartoszkubicki
I can't reproduce this issue on a fresh Magento 2.3-develop.

**Manual testing scenario:**

1. Place order
2. Get quote  and add product(via API)
3. Check all totals values in  `quote` table
4. Go to the frontend and check values of all totals in cart & minicart

**Actual result:**
After adding product to newly created quote it has final price calculated, also totals are calc

[2019-10-03 13:10] krishprakash commented on #24840
@magento give me 2.3-develop instance

[2019-10-03 13:10] magento-engcom-team commented on #24840
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-03 13:10] magento-engcom-team commented on #24840
Hi @krishprakash, here is your [Magento instance](https://i-24840-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24840-2-3-develop.instances.magento-community.engineering/admin](https://i-24840-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-03 13:17] vivekkumar945744 opened #24841 "Issue with admin configuration permission after create a user role"
### Preconditions (*)
1. Magento Community 2.2.9

### Steps to reproduce (*)

1. System > Permission > User Roles
2. Create a user role "testrole" with resource "Edit Category Design" and "Catalog Section"
3. Create a new user with that "testrole" role.
4. Login with that new user
5. Open catalog configuration using that: Store->Configuration

### Expected result (*)

1. After 5 step admin configu

[2019-10-03 13:26] magento-engcom-team commented on #24840
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21460` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-03 13:31] 0-Sony opened #26114 "GraphQL query cms page content html is emtpy - shortcodes are not resolved"
### Preconditions (*)

1. From fresh install: Magento 2.3.2
2. From a Magento 2 demo website using 2.3.2 as well: http://pagebuilder.m2.magezon.com/

### Steps to reproduce (*)

1. use ChromeiQL, set a fresh Magento 2.3.2 endpoint follow by '/graphql'
2. enter this query in ChromeiQL :
[code]
3. use ChromeiQL, set this endpoint: http://pagebuilder.m2.magezon.com/graphql
### Expected result (*)

1.

[2019-10-03 13:34] ajijshekh123 commented on #24841
Give me @magento give me 2.3-develop instance

[2019-10-03 13:34] magento-engcom-team commented on #24841
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-03 13:35] magento-engcom-team commented on #24841
Hi @ajijshekh123, here is your [Magento instance](https://i-24841-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24841-2-3-develop.instances.magento-community.engineering/admin](https://i-24841-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-03 13:38] engcom-Bravo commented on #24571
Hi @ihor-sviziev. I've been seeing Your efforts to push the deal forward but time goes on and we're still there with wrong behavior persisting in Magento. With the considerably wrong behavior. So let me demonstrate that with the real example.
First, let me appeal to the bare formal logic once more as I already did it in the [comment](https://github.com/magento/magento2/issues/24571#issuecomment-53

[2019-10-03 13:45] adrian-martinez-interactiv4 opened #24842 "Unable to delete custom option file in admin order create"
Unable to delete custom option file in admin order create due to js error. See steps to reproduce and actual and expected results for further information.

### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2

### Steps to reproduce (*)

1. Have a product with at least one custom option of type file as follows:

<img width="1333" alt="Captura de pantalla 2019-10-03 a las 15 26 08" src="https://user-

[2019-10-03 13:46] adrian-martinez-interactiv4 commented on #24842
@magento give me 2.3-develop instance

[2019-10-03 13:46] magento-engcom-team commented on #24842
Hi @adrian-martinez-interactiv4. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-03 13:47] magento-engcom-team commented on #24842
Hi @adrian-martinez-interactiv4, here is your [Magento instance](https://i-24842-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24842-2-3-develop.instances.magento-community.engineering/admin](https://i-24842-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-03 13:49] engcom-Bravo commented on #24841
Hello @vivekkumar-webkul. Thanks for reporting. Here's what we've got trying to reproduce Your issue on the latest develop version.
![configuration](https://user-images.githubusercontent.com/51680745/66132327-8907ff00-e5fd-11e9-9c7a-4cdf196e73fc.png)
Seems everything works correctly. Could You please try to reproduce the issue on that version too as You are asked above in the [comment](https://git

[2019-10-03 13:52] amitlmitm commented on #24839
@m2-assistant

**Summary Of the issue**
I want to see my customers listing in admin backend  but here is this type of error

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento2.customer_grid_flat' doesn't exist, query was: SELECT COUNT(*) FROM customer_grid_flat AS main_table

And one thing more, When I run this command  "php bin/magento setup:upgrade" for deploy the content then I

[2019-10-03 13:53] adrian-martinez-interactiv4 commented on #24842
<img width="825" alt="Captura de pantalla 2019-10-03 a las 15 52 02" src="https://user-images.githubusercontent.com/17545750/66132813-f021b580-e5f5-11e9-974a-59e695e55fb1.png">

[2019-10-03 14:04] xroygbiv commented on #10424
Maybe someone will find this useful.
If you have an attribute code called "length" with the non-global scope it may cause the "Use Default Value" saving problem.

In short:
"length" attribute overrides a property of "use_default" and it takes by underscore as an arraylike object with the only element 0 or 1.

Quick fix: Change an attribute scope to global.

[2019-10-03 14:15] engcom-Bravo commented on #24839
Hello @amitlmitm. Thanks for applying. The GitHub issue tracker is intended for Magento Core technical issues only. The problem You are facing doesn't belong to such. So please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-10-03 14:15] #24839 closed, assigned to nobody

[2019-10-03 14:23] engcom-Charlie commented on #24799
Hello @ioweb-gr
I can't reproduce this issue on a fresh Magento 2.3-develop.
I used my code for testing because i can't use your code.
![image](https://user-images.githubusercontent.com/51680850/66126517-4ab91280-e5f2-11e9-81a0-2383881681f9.png)

**Result:** After running the code twice i had only one product.
If change name of the product magento saves product with changed sku(screenshot attached

[2019-10-03 14:23] #24799 closed, assigned to engcom-Charlie

[2019-10-03 14:26] ioweb-gr commented on #24799
I see,
do you have any idea what possible situation could cause a duplicate product to be saved in the database with the same SKU value then?
It's the third case in 3 months we've faced this during saving products via the repository and we're really puzzled by this.

[2019-10-03 14:42] sdzhepa commented on #24788
Hello @engcom-Bravo

May I ask you to re-check this issue?
It is not completely clear is it Issue in vanilla Magento or related to https://github.com/magento/inventory/

[2019-10-03 15:06] ihor-sviziev commented on #24571
Hi @engcom-Bravo,
Thank you for your input! With your example it’s becoming really clear that we have to do following:
1. Revert changes that were introduced in https://github.com/magento/magento2/pull/19184
2. Describe in https://github.com/magento/magento2/issues/16446 that that’s not an issue and related PR changes will be reverted
3. Update description for this option to reflect that it’s used

[2019-10-03 15:23] scholtz commented on #24839
@amitlmitm  .. For me it seems as obvious magento bug, and by the description there might be some problem with migration, fault installation, or something...
You have not described however what has caused this error, so i agree to close this issue.. also note that there is already version 2.3.2 and version 2.3.3 comming up, so i dont understand why with magento bug reports u dont provide them full

[2019-10-03 15:29] engcom-Charlie commented on #23534
I am closing this issue because it is not relevant.
Thanks for your report!

[2019-10-03 15:29] #23534 closed, assigned to engcom-Charlie

[2019-10-03 15:35] sablesoft commented on #24837
I fixed it locally but found another issue:

Class Magento\Framework\Session\SaveHandler\Redis already has own Logger class! And this logger uses not for profiling! So app crashed again..(

[2019-10-03 16:01] engcom-Bravo commented on #24571
@ihor-sviziev, I'm totally agree with You.

[2019-10-03 16:32] drpayyne commented on #24779
@magento give me 2.3-develop instance

[2019-10-03 16:32] magento-engcom-team commented on #24779
Hi @drpayyne. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-03 16:33] engcom-Bravo commented on #24571
Of course @ihor-sviziev we must understand that after #19184 had been merged there as well could be merged other commits that are dependent or rely on the behavior created by #19184. And there is some peril that those so to say bounded commits may through then some new unexpected behavior. So if You could do some additional check in that relation before those fore steps are undertaken it would be

[2019-10-03 16:33] magento-engcom-team commented on #24779
Hi @drpayyne, here is your [Magento instance](https://i-24779-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24779-2-3-develop.instances.magento-community.engineering/admin](https://i-24779-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-03 17:02] touqeer-verve commented on #22373
I am getting the following error when placing an order from admin using authorized.net payment method
'response' => '{"transactionResponse":{"SupplementalDataQualificationIndicator":0},"messages":{"resultCode":"Error","message":[{"code":"E00076","text":"dataDescriptor contains invalid value."},{"code":"E00076","text":"dataValue contains invalid value."}]}}

[2019-10-03 17:17] touqeer-verve opened #24844 "Authorize.net Transaction Fails From Admin Order"
### Description of the issue(*)
We successfully create order from frontend with Authorized.net in Magento 2.3.1, but when trying to place an order from admin, i showing me Transaction declined.

### Preconditions (*)

1. Magneto CE 2.3.1 is installed
2. Authorize.net (a new method, not the direct post) is configured correctly (Production mode). Enable debugging.

### Steps to reproduce (*)

1. Add

[2019-10-03 17:20] touqeer-verve commented on #24844
send me 2.3-develop instance credentails.

[2019-10-03 18:15] LeoNun commented on #24838
Hello again, to reproduce these error, just add an order in the frontend, and in the backend disable the product and then check the order in the backend, and the page keeps loading and loading, eventually afte a while I get this error:

Gateway Timeout, The gateway did not receive a timely response from the upstream server or application.

Additionally, a 504 Gateway Timeout error was encountered

[2019-10-03 19:05] magento-engcom-team commented on #23837
Hi @AndyJAllen.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [6d642f83ad5551d5adc52930a227e66b87ddf480](https://github.com/magento/magento2/commit/6d642f83ad5551d5adc52930a227e66b87ddf480)

The fix will be available with the upcoming `2.3.4` release.

[2019-10-03 19:05] #23837 closed, assigned to nobody

[2019-10-03 19:12] adifucan commented on #23821
Hi @davidverholen fix is merged into mainline with this commit:
https://github.com/magento/magento2/commit/71c781df5536a2ec79c9cf42ade0c262396767a3

[2019-10-03 19:20] hostep commented on #23908
We had to debug this issue as well today on a 2.3.1 shop, thanks to all the helpful comment above and our investigation, this is a brief summary:

- The issue here is that a logged in customer still can have the flag `customer_is_guest` set to 1 on the `quote`
- This flag is the root cause of the bug reported here, although it's not clear yet how this flag is being set incorrectly
- We've searched

[2019-10-03 19:26] engcom-Bravo commented on #24788
Hello @sdzhepa, @augrinovska. Please take a note at this:
![global](https://user-images.githubusercontent.com/51680745/66142955-0d16b280-e60f-11e9-92bd-48d7319ddd9a.png)
As You can see the scope of this setting is Global. It means that on whatever scope level of the product You change it, it will be automatically changed on all the possible scope levels. Just like  Price of the product if its scop

[2019-10-03 19:39] setrada commented on #13746
Have the save problem. Did anyone solved it or has a workaround?

[2019-10-03 19:49] AndyJAllen commented on #23837
404 on your commit link.

[2019-10-03 21:35] bartoszkubicki commented on #24826
I haven't added product via api, but using `Magento\Quote\Model\Quote` method `addProduct()`, something like:

`
$product = $this->productRepository->getById($orderItem->getProductId());
$addingResult = $quote->addProduct($product, $buyRequest);
$this->cartRepository->save($quote);
`

where `$buyRequest` is built something like this:

`
        $previousBuyRequest = $orderItem->getProductOptionByC

[2019-10-03 22:38] DanielRuf opened #24846 "Conflicting file paths"
### Preconditions (*)

Conflicting paths:
[code]

### Steps to reproduce (*)

1. clone magento2 on macOS or another system with case-insensitive filenames
2. check the output

### Expected result (*)

1. No problems

### Actual result (*)

Conflicts due to same file names but different cases:
[code]

[2019-10-04 04:21] ajijshekh123 commented on #24844
Give me @magento give me 2.3-develop instance

[2019-10-04 04:21] magento-engcom-team commented on #24844
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-04 04:22] vivekkumar-webkul commented on #24809
@magento give me 2.3-develop instance

[2019-10-04 04:22] magento-engcom-team commented on #24809
Hi @vivekkumar-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-04 04:23] magento-engcom-team commented on #24809
Hi @vivekkumar-webkul, here is your [Magento instance](https://i-24809-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24809-2-3-develop.instances.magento-community.engineering/admin](https://i-24809-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-04 04:49] ajijshekh123 commented on #24844
@touqeer-verve  - It is displaying an error like "Transaction has been declined. Please try again later."
See attached the video:

![OrderFailed_Issue](https://user-images.githubusercontent.com/24711761/66181917-54915300-e690-11e9-919e-e208de1da254.gif)

[2019-10-04 04:51] magento-engcom-team commented on #24844
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21497` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-04 06:09] drpayyne commented on #24365
@engcom-Alfa Isn't this intended as the admin knows about his store and his stock?

[2019-10-04 06:22] engcom-Bravo commented on #24838
Hello @LeoNun, thanks for reporting. Currently we are not able to reproduce Your issue on the latest 2.3-develop version. Please watch the gif below:
![order](https://user-images.githubusercontent.com/51680745/66185139-15aacf80-e687-11e9-8c12-3e5e385bfa4d.gif)
Nether are we able to reproduce it on Your reported version of 2.3.2.
For being on the safe side we also tried to do that with guest custom

[2019-10-04 06:38] magento-engcom-team commented on #24842
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21498` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-04 06:39] arrowgr commented on #19716
The database is the solution catalog_eav_attribute add this simple,configurable from configurable

[2019-10-04 07:13] ronn0 commented on #20125
@magento-engcom-team can i please be added to the Magento organisation? It would be nice if i can assign Some issues to myself.

[2019-10-04 07:43] jean-baptisteb commented on #19597
any news ?

[2019-10-04 07:53] krzksz commented on #17125
Hey @kshaa!
You are right in your investigations and since we've recently hit the same problems that you have I spent some time to work on a solution which doesn't require too much API changes in Magento itself. Could you please check if https://github.com/magento/magento2/pull/24847 is an applicable solutions for you? Once merged we will be able to backport it to older Magento versions then 2.3.x

[2019-10-04 08:02] augrinovska commented on #24788
Hi @engcom-Bravo,

I didn't manage to change the scope of 'Maximum Qty Allowed in Shopping Cart' to Store View or Website. I raised this issue as a bug because Magento allows changing the 'Max qty allowed in shopping cart' on a Store and Website level, but instead of keeping the value for the specific Store changed, it changes the others in line.
Yes, the scope level of this field is Global, but t

[2019-10-04 08:08] gwharton commented on #24365
I am the admin of my store. I have no idea how much stock i have. I rely on magento to stop me from placing orders for stock i dont have or is not available to sell. In this case issue 1 is warning me i have insufficient stock when i actually have the stock and issue 2 is allowing me to add stock to an order i dont have when backorders are disabed. I think these are both valid. No?

[2019-10-04 08:47] engcom-Charlie commented on #24826
@bartoszkubicki could you add file with your all code for it?

[2019-10-04 08:49] engcom-Bravo commented on #24365
Hello @drpayyne. I dare suppose You mean me. i.e. engcom-Bravo, as it was me who worked with this issue. But even if I'm wrong let me give You my point of view concerning Your question. No, it isn't intended so, in my opinion. In order for the product to be sold in the quantities larger than its stock there are special settings that are supposed to be involved. For example You may set Manage Stock

[2019-10-04 08:53] sangeetajain commented on #24808
Hello Team,
Is there any update regarding this issue...?

[2019-10-04 08:53] LeoNun commented on #24838
Hello and thanks for checking.
Well what you did it's the correct to reproduce the error, I the problem might be in my instalation :S

Thanks for the support,

Best regards,
Leonel Nunes

[2019-10-04 08:56] drpayyne commented on #24365
@engcom-Bravo Sorry, I tagged the wrong ID. I agree with you, but I remember seeing some comment which said it's expected behavior. Let me try to find it.

https://github.com/magento/magento2/issues/22443#issuecomment-485591078

[2019-10-04 09:06] DanielRuf commented on #24846
It happens on `git clone` on macOS at the very end.

[2019-10-04 09:52] pa7751 commented on #24846
@magento-engcom-team give me 2.3.2 instance

[2019-10-04 09:52] magento-engcom-team commented on #24846
Hi @pa7751. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-10-04 09:52] magento-engcom-team commented on #24846
Hi @pa7751, here is your [Magento instance](https://i-24846-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-24846-2-3-2.instances.magento-community.engineering/admin](https://i-24846-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-04 09:53] DanielRuf commented on #24846
The testinstance does not help here ;-)

In general there should not be any files with the same filename but different cases. This can break on many systems and produce other issues.

[2019-10-04 09:54] DanielRuf commented on #24846
Please simply rename the files.
[code]

and

[code]

[2019-10-04 09:55] engcom-Bravo commented on #24838
Then @LeoNun we are supposed to close this issue. But please feel free to reopen it if You find the way how to reproduce it on a clear Magento installation. Thanks for applying.

[2019-10-04 09:55] #24838 closed, assigned to nobody

[2019-10-04 09:56] DanielRuf commented on #24846
I'm currently on it.

[2019-10-04 09:59] DanielRuf commented on #24846
Will be fixed by https://github.com/magento/magento2/pull/24856

[2019-10-04 10:06] Yonn-Trimoreau commented on #21885
Below is a more permanent solution.

Be careful, this will trash previous duplicates if there were any.

Make a preference on `Magento\CatalogImportExport\Model\Import\Product` and copy/paste this code in it:

[code]

[2019-10-04 10:22] engcom-Bravo commented on #22443
@tomekjordan, could You please provide some official documentary or may be some other proof to these of Your words: "This is not an issue, its standard behavior for admin orders since M1." Thank You.

[2019-10-04 10:32] magento-engcom-team commented on #24807
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21499` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-04 10:44] Hexmage opened #24857 "Magento_Rss and Magento_Wishlist can't be disabled."
### Summary

The Magento_Rss module can't be disabled because the Magento_Wishlist depends on it. Disabling the Magento_Wishlist is impossible, because Magento_Sales, Magento_Customer, Magento_Reports and Magento_Catalog both depend on the Wishlist. These dependencies feel reversed. Sales, Customer and Catalog (and to a lesser extend Reports) are the more crucial parts of Magento and should work w

[2019-10-04 11:31] krishprakash commented on #24426
@magento give me 2.3-develop instance

[2019-10-04 11:31] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-04 11:32] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-04 11:54] voronytskyi commented on #24797
@engcom-Charlie  should I move it by my own?

[2019-10-04 12:08] engcom-Charlie commented on #24797
@voronytskyi yes, of course

[2019-10-04 12:08] engcom-Charlie commented on #24846
I often clone magento 2 but have never seen a similar problem.
There are no files specified in the `magento / magento2 `repository(
[code]
).

It only has files with a small letter `f`:

https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Customer/Test/Mftf/ActionGroup/AssertStorefrontPasswordAutocompleteOffActionGroup.xml
https://github.com/magento/magento2/blob/2.3-develop/app/

[2019-10-04 12:17] magento-engcom-team commented on #24802
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21500` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-04 12:44] DanielRuf commented on #24846
It was probably renamed and Git checked out the old and new version. That happened on a new clone.

I did a fresh clone today and both files appear there.

[2019-10-04 12:44] DanielRuf commented on #24846
You can verify this on Linux.

[2019-10-04 13:18] engcom-Bravo commented on #24365
@drpayyne, As to the first scenario of this issue - there is everything clean by all means. I hope You agree with me. The question has arisen from the second scenario. So I  [asked](https://github.com/magento/magento2/issues/22443#issuecomment-538341045) on our discussion point the same person You refer to in Your comment above. Lets wait maybe he can give us some more relevant information on that

[2019-10-04 13:25] sudheers-kensium commented on #24238
@LukaszDembicki this is not an  isuue.

[2019-10-04 13:25] #24238 closed, assigned to nobody

[2019-10-04 13:32] sudheers-kensium commented on #24764
@abombelli You need to set the both Base Currency and Default Display Currency

[2019-10-04 13:32] #24764 closed, assigned to nobody

[2019-10-04 13:33] shikhamis11 commented on #24699
Hello @TNWINTERNATIONAL
Please follow issue [reporting guideline](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report your issue . Also please mention required steps to reproduce  the issue.

[2019-10-04 13:33] #24699 closed, assigned to shikhamis11

[2019-10-04 13:42] nkajic commented on #10234
@magento-engcom-team give me 2.3.2 instance

[2019-10-04 13:42] magento-engcom-team commented on #10234
Hi @nkajic. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-10-04 13:43] magento-engcom-team commented on #10234
Hi @nkajic, here is your [Magento instance](https://i-10234-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-10234-2-3-2.instances.magento-community.engineering/admin](https://i-10234-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-04 13:57] nkajic commented on #10234
Still does not work on 2.3.2
In order to reproduce problem:

1. Create product/customer

[2019-10-04 14:03] nkajic commented on #10234
Still does not work on v2.3.2. In order to reproduce bug customer needs to be logged in (works fine for first time/non registered customers).

Create product in backend and customer on frontend
Add multiple addresses to customer (for eg. one CRO and one SLO)
Setup payment methods (one is enabled for all, enable other one for SLO only)
Add product to cart and go to checkout. While switching address

[2019-10-04 14:09] engcom-Charlie commented on #24837
Hello @sablesoft
The GitHub issue tracker is intended for Magento Core technical issues only.

Please refer to the [Doker Magento issue tracker](https://github.com/clean-docker/Magento2/issues) or the [Magento Stack Exchange](https://magento.stackexchange.com/), for advice or general discussion about this issue.

Thanks for your report!

[2019-10-04 14:09] #24837 closed, assigned to engcom-Charlie

[2019-10-04 14:14] voronytskyi opened #24861 "REST API. List products with parent/child relation (parent_sku is missing)"
### Description (*)
parent_sku is missing for {{baseUrl}}/V1/products API response

### Expected behavior (*)
parent_sku is null in case if doesn't have any parent product relation (configurable products)

### Benefits
easy way to build parent/child relations.

### Additional information
I aware about {{baseUrl}}/V1/configurable-products/{sku}/children API. But it`s extra request each time in orde

[2019-10-04 14:14] #24797 closed, assigned to sdzhepa, engcom-Charlie

[2019-10-04 14:15] mnoman83 commented on #23511
Hi,

I have just solved the issue, you don't need sodium any more, just follow this
1.  goto vendor/magento/framework/Encryption/Encryptor.php
2. comment code from line 165 to 167 like this
/*if (extension_loaded('sodium')) {
            return self::HASH_VERSION_ARGON2ID13;
        }*/
it will start working.

Good luck

[2019-10-04 14:23] engcom-Charlie commented on #22618
Hello everyone!
I am closing this issue because it is not relevant.

[2019-10-04 14:23] #22618 closed, assigned to engcom-Charlie

[2019-10-04 14:24] kkorushkin commented on #21910
This issue is appearing on **Special Price** and **Minimum Advertised Price** as well.

[2019-10-04 14:52] shikharbhatnaggar opened #24863 "The registration page is not showing thankyou message"
While customer register and form get submitted but not showing the page with thank you message. It shows only a blank white screen. However it is sending the confirmation email to customer on their email ID.

One can replicate the issue @ my website i. e. awscales.com

Environment:
Ubuntu v16.04.4
Magento 2.2.4

Anyone please help and support.

[2019-10-04 14:58] krishprakash commented on #24863
Hi @shikharbhatnagar
It's works fine in venilla Magento instance
GitHub issue tracker is intended for magento core issues only.
Please ask query at Magento forum or Magento stack exchange.
Thanks

[2019-10-04 14:58] #24863 closed, assigned to krishprakash

[2019-10-04 15:13] krishprakash commented on #24861
Hi @voronytskyi. Thank you for your report.
This should consider as feature request.
Please add this to feature request repository for faster response.
Thanks

[2019-10-04 15:13] #24861 closed, assigned to krishprakash, sudheers-kensium

[2019-10-04 15:52] engcom-Bravo commented on #24788
Thank You for Your reply @augrinovska. Yes as You say "...Magento allows changing the 'Max qty allowed in shopping cart' on a Store and Website level..." but with that Magento let You know the scope of the setting You are about to change and so You are supposed to take it into consideration. Global means the setting will be changed for all the scopes no matter what is the particular scope You are

[2019-10-04 16:43] sdzhepa commented on #24620
Hello @TomashKhamlai

After a discussion with Product Manager, we close this issue.
It is expected behavior if "Display Out of Stock Products is set to No"

[2019-10-04 16:43] #24620 closed, assigned to kkorushkin

[2019-10-04 18:04] magento-engcom-team commented on #24426
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-04 18:10] hostep commented on #24846
Hmm, @DanielRuf, Issue doesn't seem to be correct, I only notice one of those files in the git repo, have you checked [Github's rendering of that directory](https://github.com/magento/magento2/tree/2.3-develop/app/code/Magento/Customer/Test/Mftf/ActionGroup)?

I'm running a case sensitive file system on my macOS (as every web developer should do if they target linux machines in my opinion), and I'

[2019-10-04 18:15] DanielRuf commented on #24846
I have done a simple clone on my macBook. It depends on your file system. See the PR. It is definitely there.

[2019-10-04 18:15] DanielRuf commented on #24846
The message that there are conflicting file paths with the list of these 4 files was output by Git at the initial clone.

[2019-10-04 18:17] DanielRuf commented on #24846
I had directly cloned from the latest version of magento/magento2.

[2019-10-04 18:18] DanielRuf commented on #24846
Hm, that is weird. I guess the issue is that it is still in the Git log.

Anyways, let's close it. Thanks for checking this.

[2019-10-04 18:18] #24846 closed, assigned to DanielRuf

[2019-10-04 18:57] magento-engcom-team commented on #24426
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-04 19:55] sdzhepa commented on #21334
Hello @larsroettig

Just received answer from Magento architect  and this issue should be closed because it is expected behavior

[2019-10-04 19:55] #21334 closed, assigned to nobody

[2019-10-04 20:10] sdzhepa commented on #24322
Hello @katesuykovskaya and @magenizr

Thank you for contribution and collaboration!

I moved this issue into Magento Commerce private repository where it could be fixed and delivered.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collab

[2019-10-04 20:13] sdzhepa commented on #24029
Hello @rbayet

Thank you for contribution and collaboration!

I moved this issue into Magento Commerce private repository where it could be fixed and delivered.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collaboration. It described i

[2019-10-04 20:23] sdzhepa commented on #11413
Hello @mitalikundale

Could you please create a new issue with all required information according to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
- Is it reproduce on the lates `2.3-develop` branch?
- What are other preconditions?
- What exact steps to reproduce?

It could be a lot of reasons for message "transaction has been declined".
Initial

[2019-10-04 20:23] #11413 closed, assigned to nobody

[2019-10-05 00:58] technweb commented on #23613
@vszgalaxy I also was pulling my hair out on this issue for several hours. Your code did the trick. I am on Magento 2.3.2. THANK YOU!

[2019-10-05 06:52] ahmadwaliesipick commented on #19710
seems issue still exit, any solution?

[2019-10-05 07:00] ahmadwaliesipick commented on #23052
I try above patches but not works for me, still redirecting to home page.

[2019-10-05 12:15] irshad-iflair opened #24869 "magento2.3.2: Decrease stock qty and salable on invoice generate now"
### Summary (*)
but the issue  is while generating invoice  salable quantity  decreases twice
### below is my complete module.

### Proposed solution

[2019-10-05 13:32] abombelli commented on #24764
@magento give me 2.3-develop instance

[2019-10-05 13:32] magento-engcom-team commented on #24764
Hi @abombelli. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-05 13:33] magento-engcom-team commented on #24764
Hi @abombelli, here is your [Magento instance](https://i-24764-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24764-2-3-develop.instances.magento-community.engineering/admin](https://i-24764-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-05 13:53] abombelli commented on #24764
@magento give me 2.3.2 instance

[2019-10-05 13:54] magento-engcom-team commented on #24764
Hi @abombelli. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-10-05 13:54] magento-engcom-team commented on #24764
Hi @abombelli, here is your [Magento instance](https://i-24764-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-24764-2-3-2.instances.magento-community.engineering/admin](https://i-24764-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-05 13:55] krishprakash commented on #24869
Hi @irshad-iflair.
Please explain the issue with proper reproducible steps.
Thanks

[2019-10-05 21:28] abombelli commented on #24764
@magento give me 2.3.2 instance

[2019-10-05 21:28] magento-engcom-team commented on #24764
Hi @abombelli. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-10-05 21:28] magento-engcom-team commented on #24764
Hi @abombelli, here is your [Magento instance](https://i-24764-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-24764-2-3-2.instances.magento-community.engineering/admin](https://i-24764-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-05 22:00] abombelli commented on #24764
@sudheers-kensium I made some further testing. On our end we have price precision set to 1 (also in swatches).
`priceBoxes.priceBox({'priceConfig': {"productId":"29","priceFormat":{"pattern":"CHF\u00a0%s","precision":1,"requiredPrecision":1,"decimalSymbol":".","groupSymbol":"'","groupLength":3,"integerRequired":false},"prices":{"oldPrice":{"amount":21.5,"adjustments":[]},"basePrice":{"amount":21.5

[2019-10-06 07:37] hostep opened #24876 "Small typo 'Magneto' in new Google Shopping Ads module (Magento 2.3.3)"
### Preconditions (*)
1. Access to Magento 2.3.3 (will be publicly available on 8 October 2019)

### Steps to reproduce (*)
1. Setup vanilla Magento 2.3.3 installation (which comes with `magento/google-shopping-ads` version 3.0.1)
2. In the backend, go to Marketing > Advertising Channels > Google Shopping ads
3. Look at the popup

### Expected result (*)
1. No typo 'Magneto', should be 'Magento'

[2019-10-06 07:51] drpayyne commented on #12855
@magento give me 2.3-develop instance

[2019-10-06 07:51] magento-engcom-team commented on #12855
Hi @drpayyne. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-06 07:52] magento-engcom-team commented on #12855
Hi @drpayyne, here is your [Magento instance](https://i-12855-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-12855-2-3-develop.instances.magento-community.engineering/admin](https://i-12855-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-06 08:41] drpayyne commented on #12855
@engcom-Alfa @engcom-Bravo This issue is reproducible on IE11 as reported. Although upon extensive inspection of the checkbox on IE11, FirefoxDev70, and Chromium77. This is what's happening on each major (apart from IE) browser.

- **IE11**
IMAGE

- **FirefoxDev70**
![Screenshot from 2019-10-06 14-00-31](https://user-images.githubusercontent.com/22623301/66266377-f4421300-e841-11e9-89c9-0f007381b8

[2019-10-06 09:50] shkaib opened #24879 "Magento isn't charging shipping fees"
Hello guys

I'm facing an issue with my website. I've setup a shipping fees to a specific country. when someone from that country place the order, sometimes when a he select multiple products, website charging a shipping fees normally. but when there is only 1 product (doesn't matter how much qty) website isn't charging shipping fees.

I've set BD 10 shipping charges on this country. remaining no

[2019-10-06 11:26] ananth-iyer commented on #13746
I have solved the same issue and during tracing it I've found that the **pageCache** JS component was not added to page HTML. This component is responsible to create form_key.
![1OSX2ckqrF](https://user-images.githubusercontent.com/24892273/66268198-b2709700-e858-11e9-9fb5-355690f3c1e4.png)

After fixing the issue I have found that add to cart is working properly.

[2019-10-06 12:11] BrentRobert commented on #23754
@magento give me 2.3-develop instance

[2019-10-06 12:11] magento-engcom-team commented on #23754
Hi @BrentRobert. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-06 12:11] magento-engcom-team commented on #23754
Hi @BrentRobert, here is your [Magento instance](https://i-23754-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23754-2-3-develop.instances.magento-community.engineering/admin](https://i-23754-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-06 13:35] BrentRobert commented on #23645
@magento give me 2.3-develop instance

[2019-10-06 13:35] magento-engcom-team commented on #23645
Hi @BrentRobert. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-06 13:35] magento-engcom-team commented on #23645
Hi @BrentRobert, here is your [Magento instance](https://i-23645-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23645-2-3-develop.instances.magento-community.engineering/admin](https://i-23645-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-06 16:18] YevheniiKR commented on #24876
@magento i am working on it

[2019-10-06 16:33] YevheniiKR commented on #24876
@magento i am working on it

[2019-10-06 16:55] YevheniiKR commented on #24876
@magento give me 2.3-develop instance

[2019-10-06 16:55] magento-engcom-team commented on #24876
Hi @YevheniiKR. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-06 16:56] magento-engcom-team commented on #24876
Hi @YevheniiKR, here is your [Magento instance](https://i-24876-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24876-2-3-develop.instances.magento-community.engineering/admin](https://i-24876-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-06 17:34] YevheniiKR commented on #24876
can not find menu Advertising Channels. Investigeting now

[2019-10-06 18:00] hostep commented on #24876
@YevheniiKR, It's not available yet. And I don't know if it even will be available after 2.3.3 gets released, probably because this is yet another "open source but not publicly available extension brought to you by some Magento partner we don't know anything about".

[2019-10-06 19:29] bartoszkubicki commented on #24826
Sure, here it is:

`
<?php

declare(strict_types=1);

namespace Vendor\ReorderItem\Controller\Order;

use Vendor\ReorderItem\Api\BuyRequestReconstructorInterface;
use Magento\Catalog\Api\ProductRepositoryInterface;
use Magento\Catalog\Model\Product;
use Magento\Catalog\Model\Product\Url;
use Magento\Checkout\Model\Session;
use Magento\Framework\App\Action\Action;
use Magento\Framework\App\Action\C

[2019-10-07 01:05] bawwwa commented on #24342
I have updated the function `Magento\Rma\Model\ResourceModel\Item::getOrderItems` to below to fix this issue. Just an extra if to check if the product is deleted.

`/**
     * Gets available order items collection
     *
     * @param  int $orderId
     * @param  int|bool $parentId if need retrieves only bundle and its children
     * @return \Magento\Sales\Model\ResourceModel\Order\Item\Collectio

[2019-10-07 05:37] RoshanMandrawalia opened #24893 "Facebook Shop Integration - Magento"
### Summary (*)

Hello,

My facebook shop is showing products with blank images. How can I only show products with images?
How facebook shop is linked to magento?

### Examples (*)

My facebook shop shows product with magento logo watermarked blank images. The products are fetched from magento shop and displayed on facebook page.

### Proposed solution

[2019-10-07 05:43] krishprakash commented on #24893
Hi @RoshanMandrawalia.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Thank You.

[2019-10-07 05:43] #24893 closed, assigned to krishprakash

[2019-10-07 07:43] engcom-Charlie commented on #24826
@bartoszkubicki i need `Vendor\ReorderItem\Api\BuyRequestReconstructorInterface` and `webapi.xml` files too i think

[2019-10-07 08:36] an4rei commented on #6167
Issue still messing up 2.3.2. When I'm trying to create like 14 pages of variations ( 280 products ) , with no image or anything, I'd getting a request timeout after 120 seconds.

[2019-10-07 09:14] engcom-Charlie commented on #22488
Hello @tschirmer
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

**Manual testing scenario:**
1. Go to the Catalog-->Products
2. Press "Add bundled product" button
3. Set configuration:
**Advanced price:**
![image](https://user-images.githubusercontent.com/51680850/66294908-cf59a880-e8f2-11e9-9322-953062cb19

[2019-10-07 09:14] #22488 closed, assigned to engcom-Charlie

[2019-10-07 09:53] Khushbu-Webkul-QA opened #24895 "while doing checkout by multiple address, at order review page for first address it only display the charges as same of second address but calculation is correct"
### Preconditions (*)

1. magento version: 2.3.3

### Steps to reproduce (*)

1. start checkout at multiple address, e.g two different address
2. select different-2 shipping methods for  both the address, e.g for first address-select flat rate(10$) and table rate(20) for another address
3. at review order page, it displaying the second shipping rate charges at first address also
4. but calculation

[2019-10-07 10:04] tdgroot commented on #22346
@magento-engcom-team I'm picking up this issue.

[2019-10-07 10:34] engcom-Bravo commented on #24876
Hello @hostep. Thanks for reporting. I think we better wait yet for a day. Theoretically, tomorrow we shall see whether this feature is a part of vanilla package or not and so considering that we will see what to do next with it.

[2019-10-07 10:54] engcom-Bravo commented on #24879
Hello @shkaib. Please reformat Your description so it has a valid format, i.e includes Preconditions, Steps to Reproduce, Expected Result and Actual Result. We need to know the exact steps You've taken in order to get what You have. Thank You.

[2019-10-07 11:00] navabrind commented on #15147
This issues persists in Magento 2.3.2 as well..  Our client usign Quickpay.net payment gateway.. (Similar to authorize.net)

[2019-10-07 11:33] engcom-Bravo commented on #24895
Hello @Khushbu-Webkul-QA. Thanks for reporting. It seems such an issue was really present in 2.2-develop branch which is already closed now. But it probably has been fixed in 2.3-develop as we are not able to currently reproduce it on that version. Could You please confirm You can reproduce it on the very 2.3-develop version as You are asked in the [comment](https://github.com/magento/magento2/iss

[2019-10-07 11:39] magento-engcom-team commented on #24259
Hi @itwebdev2, @oscarsanch.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-20085` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

Bu

[2019-10-07 11:39] #24259 closed, assigned to oscarsanch

[2019-10-07 11:43] engcom-Charlie commented on #20827
Hello @tylerssn

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

If you still faced this iss

[2019-10-07 11:43] #20827 closed, assigned to engcom-Charlie

[2019-10-07 12:04] engcom-Bravo commented on #12855
Hi, @drpayyne. If the issue exists, i.e. is reproducible we can not close it just because it rarely reveals itself. So if You could and wished to fix it that would be good. We would appreciate that. Thank You.

[2019-10-07 12:18] drpayyne commented on #24365
Yes, I agree with you @engcom-Bravo

[2019-10-07 12:25] Khushbu-Webkul-QA commented on #24895
Hello, The issue is also present in magento 2.3.2
Kindly check the screen shots

![Screenshot (9)](https://user-images.githubusercontent.com/45037885/66311204-925dd800-e92b-11e9-874b-ef152cb2d9c1.png)
![Screenshot (10)](https://user-images.githubusercontent.com/45037885/66311209-9558c880-e92b-11e9-9ae6-3d0b59b12070.png)
![Screenshot (11)](https://user-images.githubusercontent.com/45037885/66311210

[2019-10-07 12:30] Khushbu-Webkul-QA commented on #24895
Please find the attached video
[magento_multishipping_2.3.x.mov.zip](https://github.com/magento/magento2/files/3697158/magento_multishipping_2.3.x.mov.zip)

[2019-10-07 12:36] cdbessig commented on #24895
We have also found this bug on Friday / Today and are fighting with it too.

[2019-10-07 12:39] cdbessig commented on #24895
@magento give me 2.3-develop instance

[2019-10-07 12:39] magento-engcom-team commented on #24895
Hi @cdbessig. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-07 12:39] magento-engcom-team commented on #24895
Hi @cdbessig, here is your [Magento instance](https://i-24895-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24895-2-3-develop.instances.magento-community.engineering/admin](https://i-24895-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-07 12:46] cdbessig commented on #24895
@magento-engcom-team the url does not work.  The url resolves to an ip, but the ip address does not answer or connect or ping.

[2019-10-07 13:18] frostblogNet commented on #24462
Dear @engcom-Bravo

sorry for the late response. I have´t tried 2.3-develop yet but this issue seems to be

[2019-10-07 13:03:11] report.ERROR: The product can't be saved. [] []

We will try 2.3-develop next. I will come back if this is still an issue

[2019-10-07 13:20] engcom-Bravo commented on #24895
Yes @Khushbu-Webkul-QA, @cdbessig it is 100% reproducible on 2.3.2 too, I've just tried. It is only 2.3-develop, that I can not reproduce the issue on. So please try to reproduce it on 2.3-develop. (The [links](https://github.com/magento/magento2/issues/24895#issuecomment-538990420) above, by the way, are already usable.) Thank You.

[2019-10-07 13:24] engcom-Bravo commented on #24462
Hi @frostblogNet. Ok, but please when trying to reproduce the issue be sure to do it on a vanilla instance, e.i a fresh installation free of any third party extensions, custom code, etc.

[2019-10-07 13:38] Khushbu-Webkul-QA commented on #24895
I am proceeding to checkout but at select shipping method page, table rate shipping method not display but enable from admin end, check screen shots

![Screenshot (15)](https://user-images.githubusercontent.com/45037885/66316718-d3f38080-e935-11e9-951c-2be9cf371eaa.png)
![Screenshot (16)](https://user-images.githubusercontent.com/45037885/66316735-d81f9e00-e935-11e9-8a88-6a974461f764.png)

[2019-10-07 13:41] elvinristi opened #24902 "M2.3.3 breaks email sending when name contains non-ASCII char"
### Preconditions (*)

1. Magento M2.3.3

### Steps to reproduce (*)
1. Open registration or contact us page
2. Enter correct details and as a name include some non-ASCII char, i.e some `õäöü`

### Expected result (*)

1. After registration user receives email
2. No errors exist in `var/log/exception.log`

### Actual result (*)

1. User doesn't receive email
2. Log includes Exception with message

[2019-10-07 13:41] elvinristi commented on #24902
@magento give me 2.3-develop instance

[2019-10-07 13:42] magento-engcom-team commented on #24902
Hi @elvinristi. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-07 13:42] magento-engcom-team commented on #24902
Hi @elvinristi, here is your [Magento instance](https://i-24902-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24902-2-3-develop.instances.magento-community.engineering/admin](https://i-24902-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-07 13:48] engcom-Bravo commented on #23908
Hi everyone. Incredible but I've just got reproduced the issue on a (n almost) vanilla. Need some additional recheck - not yet sure for 100% I'll have it reproduced once more. But anyway I'll be back with the results.

[2019-10-07 13:49] hostep opened #24903 "[Magento 2.3.3] Uncaught TypeError: Return value of Magento\CatalogUrlRewrite\Model\Storage\DynamicStorage::getCategoryUrlSuffix() must be of the type string, null returned"
Will update issue when I find some more time, I'm just quickly creating this so I don't forget, not tested yet on vanilla install and steps to reproduce might not be accurate.

### Preconditions (*)
1. Magento 2.3.3 (is most likely also reproducible on 2.3-develop since the problematic code is in there)
2. PHP 7.2.20

### Steps to reproduce (*)
1. Setup Magento 2.3.3
2. Configure:
    - Catalog >

[2019-10-07 13:53] elvinristi commented on #24902
Also when including non-ASCII char in Sender Name-fields under Store Email Addresses

![Sender Name settings](https://snaps.vaimo.com/elvin.risti/store_email_name_234B7A0A.png)

and trying to subscribe to Newsletter from the footer then following message will be shown to frontend: `Something went wrong with the subscription `

[2019-10-07 13:55] engcom-Bravo commented on #24895
@Khushbu-Webkul-QA, do You mean there's no field displayed in admin where You can enter a csv file with rates for Table Rates shipping method?

[2019-10-07 14:05] engcom-Charlie commented on #22757
Hello @qrider
We are not able to reproduce this issue on the lates 2.3-develop branch.
So `getAppliedRuleIds()` function should return **null** if no rules applied(as described in the interface)
![image](https://user-images.githubusercontent.com/51680850/66297298-15653b00-e8f8-11e9-8b89-caf7e9efe171.png)
**My results:**
Case 1(with rule):
Function returns rule id
![image](https://user-images.githu

[2019-10-07 14:05] #22757 closed, assigned to engcom-Charlie

[2019-10-07 14:06] onepack commented on #21364
Any progress on this? The last update was in May. It's October now.

[2019-10-07 14:27] brunoribas68 commented on #1441
Stop working again

In CssInlinerPlugin.php line 18:

  Call to undefined method Pelago\Emogrifier::disableInvisibleNodeRemoval()

Script php artisan package:discover --ansi handling the post-autoload-dump event returned with error code 1

[2019-10-07 15:22] engcom-Charlie commented on #22603
Hello
I'm closing this issue because it is not relevant.

[2019-10-07 15:22] #22603 closed, assigned to engcom-Charlie

[2019-10-07 15:49] BrentRobert commented on #24903
@magento give me 2.3-develop instance

[2019-10-07 15:50] magento-engcom-team commented on #24903
Hi @BrentRobert. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-07 15:50] magento-engcom-team commented on #24903
Hi @BrentRobert, here is your [Magento instance](https://i-24903-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24903-2-3-develop.instances.magento-community.engineering/admin](https://i-24903-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.