[2017-02-09 20:22] cadoworld commented on #8496
Hi,
I think it is a bug from 2.1.3 as was working fine on previous version. If your magento is only for one store. Try to set up as single store, your theme should be implemented.

[2017-02-09 20:22] KalebHosie commented on #7977
@gooki That's good thinking but sadly I already tried that with no luck.

[2017-02-09 20:37] pbologna commented on #8496
Hi,
please check if you have any Scheduled Theme: Content - Design - Schedule.
Happened in past have an entry there (imported from 1.x) with NULL date, almost invisible to see on backend, but deleting that Schedule entry did the trick for me.

[2017-02-09 20:53] PieterCappelle commented on #8241
Any update on this?

[2017-02-09 21:16] nikonratm commented on #4362
@okorshenko @andimov Any idea why this never actually made it to the core?

[2017-02-09 21:31] tzsolti opened #8497 "setup:di:compile crashes if class found which extends \Magento\Setup\Module\Di\Compiler\Log\Writer\Console"
When extending \Magento\Setup\Module\Di\Compiler\Log\Writer\Console in your own module, it will crash the DI compiler.

### Preconditions
I tried both with Magento CE 2.1.3 and 2.1.4, the same problem occurred with both. In both cases I used the zip file provided by the Magento website.

### Steps to reproduce
1. Create and enable a module
2. Create a php class which extends \Magento\Setup\Module\

[2017-02-09 22:18] misha-kotov commented on #4806
Internal issue is MAGETWO-63667. Also, related GH ticket: #8121

[2017-02-09 22:20] misha-kotov commented on #8121
Thanks for reporting this. Internal issue is MAGETWO-63667. Related: GH #4806

[2017-02-09 22:35] jaywilliams commented on #5517
Here's a .htaccess workaround, which you can modify for your particular use case:
[code]

[2017-02-09 22:49] KalebHosie commented on #7977
There has been a lot of communication on this subject using issue #6929 and there is a lot of missing information on this thread.

To provide an update for anyone new that can help us or is experiencing the same issue, here is a summary.

- When using PayPal Website Payments Pro, it always charges in USD and not the default currency we chose (in this case, CAD $)

- The API call for PayPal Website

[2017-02-09 22:53] piotrekkaminski commented on #5811
@gboz17  @tomasinchoo - did you apply this https://github.com/magento/magento2ce/pull/626/files and it did not help?

[2017-02-10 00:07] rbairwell commented on #7825
I managed to fix my case by going through manually and checking each attribute - it turns out the "Design..." fields (which I've never used) were missing from the imported ones which stopped it working. Be nice that instead of "silently erroring", Magento just added the missing required attributes.

[2017-02-10 00:29] toddhainsworth commented on #5497
Seeing this locally too on 2.1.2 (instance has not had 2.1.3 (with fix) yet). Was able to temporarily resolve this with:

`SET @file = '/T/E/TESTFILE%';
START TRANSACTION;
DELETE FROM catalog_product_entity_media_gallery WHERE value LIKE @file;
DELETE FROM catalog_product_entity_varchar WHERE value LIKE @file;
COMMIT;`

[2017-02-10 00:54] kamaleshdubey opened #8499 "Reindexing not taking place"
### Preconditions

1. Magento CE 2.1.4

### Steps to reproduce

1. A system message is being displayed on logging into Admin that indexers are invalid and asking to check in cron jobs are running or not
<img width="725" alt="m2 1 4 reindex error_1" src="https://cloud.githubusercontent.com/assets/16374186/22809407/2cfca52a-ef2a-11e6-969f-51c0dadaabea.PNG">

2. However, cron jobs are enabled:
<img w

[2017-02-10 02:02] jmtakahashi commented on #8215
I have this issue as well on an installation of Magento 2.1.2 (through softaculous).  In the past (up til this attempt) catalog price rules have worked.  I'm now trying to add a catalog price rule that discounts items by 30%.  I am using "SKU is one of" and then selecting the items from the drop down.  On save, only a few items are actually added to the price rule.  I have double checked the catal

[2017-02-10 03:43] eldonbite commented on #7657
After upgrading to 2.1.3, we were encountering problems similar to this reported issue: #8009

[2017-02-10 04:11] bondimedical3 commented on #8499
Your cron jobs are not set up correctly

[2017-02-10 05:41] Khaleel commented on #4868
The JSON address, the JavaScript, the HTML, the fact that checkout pages do not have any cache layer, the lack of default CDN support, minification and the use of all the checkout modules and XML files.. checkout should have been simple and clean.. it was over engineered.

[2017-02-10 08:03] hectornguyen commented on #7371
@erfanimani It's predictable, mate. It won't fixed till Magento 3, I guess.

[2017-02-10 08:12] che2on commented on #4868
@hostep Tried your FasterCheckout module and it is now taking 80 seconds to load.  :(

[2017-02-10 08:43] EspertoMagento commented on #6575
Have you find a solution?

[2017-02-10 08:49] lunch22result commented on #2333
I followed this tutorial to fix that issue [https://magentoexplorer.com/magento-2-setup-version-for-module-is-not-specified-how-to-fix](url)

[2017-02-10 08:50] Bartlomiejsz commented on #6575
@EspertoMagento I had to do it manually, I have overrided checkout js files, which contains customer address info and created observer on `checkout_submit_all_after` event to save it to the database.

[2017-02-10 08:51] srokatonie commented on #5946
@nathanjosiah Have you tried turning on full page cache like @ReadySteadyFlow suggests? It looks like it's solved the issue for me (possibly along with the base URL change)

[2017-02-10 08:56] EspertoMagento commented on #6575
Thanks @Bartlomiejsz. I thought it was easier! if you want to share code with the community would be great! :)

[2017-02-10 09:14] WaPoNe commented on #8370
@veloraven: I verified the issue on 2.1.3. version

[2017-02-10 09:20] xmav commented on #8499
@kamaleshdubey Did you setup cron jobs? Please refer http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html for instructions.

[2017-02-10 09:36] che2on commented on #4868
Here is a good news! I am learning more and more about magento as i am discovering bugs and speed issues.

The Checkout page speed is under 3 seconds now, used @thlassche's solution.

The very very important step is to System > Advanced > Developer and minify javascript and css .

Also use varnish and redis for caching.

If someone wants the entire module please have a look at this generator https

[2017-02-10 09:48] OZZlE opened #8500 "swatches-renderer.js not possible to extend without copying template"
### Preconditions

1. Magento version 2.1.2 (and probably latest?)

### Steps to reproduce

1. Inside your custom theme/module add inside requirejs-config.js the mixin or map feature as:
described here: https://github.com/magento/magento2/issues/1864
or map as here http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/javascript/requirejs_concept.html

### Expected result

1. By extending th

[2017-02-10 09:52] umang-ranium opened #8501 "Magento 2 does not have a api call to add multiple product cart in a single call"
### Preconditions

1. use api call guest-carts/27f7f91cf4344bb9bda7d30b076216f3/items

### Steps to reproduce

1. use api call guest-carts/27f7f91cf4344bb9bda7d30b076216f3/items
2. post data sku qty

### Expected result

1. There should be a way to add multiple product to cartt, why this functionality is not provided.

### Actual result

1. Can only add 1 product in 1 call to cart

[2017-02-10 10:13] ulftietze opened #8502 "Category Scope StoreView has no default value or option to reset"
### Preconditions

1. Magento 2.1.0 CE

### Steps to reproduce

1. Create Storeview
2. Create Category
3. Switch Scope in Catalog > Category from AllStoreViews to specific StoreView
4. Edit something and save Category for the specific StoreView
5. Try to reset data to default values

### Expected result

1. There should be shown a checkbox: "Use default value" (like in 2.0.x)

### Actual result

1

[2017-02-10 10:13] richardmlaws commented on #5882
Does anyone know if there is a solution for this? I have the issue with 2.1.3 - Someone says the issue is still in 2.1.4? Was this closed because there is a fix?

[2017-02-10 10:24] atishgoswami commented on #8501
Hi @umang-ranium,

Can you please provide the following details:

- Which version of magento are you on ?
- Is it Community or Enterprise ?

Think why it is this way is because Magento native (from the browser) "Add to Cart" functionality also only allows the user to add one product as a time.

If you would like to add products to cart in bulk you will have do some customization to the functionali

[2017-02-10 10:28] umang-ranium commented on #8501
i am using magento 2.1 community edition can you please help with the api call and data to post. Thanks in advances.

[2017-02-10 10:32] 12impress commented on #8337
I found the issue and it is a bug in Magento. Also updated to 2.1.4 but still the same issue.

The problem is in the language files.

I followed the next steps:

Set Configuration -> General -> Locale Options -> Locale

    For Default Config: admin language (English) US

Also check if your admin language is set to en_US.

I did now:
Delete /pub/static/_requirejs
Delete /pub/static/adminhtml
Delet

[2017-02-10 10:48] atishgoswami commented on #8501
Hi @umang-ranium,

You will have to post a question [stackexchange](http://magento.stackexchange.com/), so that people in the stackexchange community help you out on this.

Secondly, please close the this issue as it seems it not a issue but a feature requirement.

Thirdly, whenever providing the magento version be specific on the version number. Magento 2.1 is a very vague version number as it co

[2017-02-10 10:54] gman-1986 commented on #8499
@kamaleshdubey It still won't work with cron jobs setup see issue #5836

[2017-02-10 11:13] andreaschiffo commented on #6282
just encountered this, exactly the same issue in 2.1.3 after migration from a M1 installation with many configurable products and simple products related to them

[2017-02-10 11:26] anebi opened #8503 "PDF Invoices downloads all invoices instead of selected one"
### Preconditions
1. Magento 2.0.11
2. PHP 7
3. Ubuntu 16.04
4. MariaDb 10

### Steps to reproduce

1. Create order
2. Check and complete payment process
3. Generate invoice in backend
4. Go to backend Sales -> Orders -> Open the order with the invoice
5. Click Invoices
6. Select the invoice
7. From dropdown click to PDF Invoice

### Expected result
1. Selected invoice must be generated and downlo

[2017-02-10 11:36] maderlock opened #8504 "X-Frame-Options header cannot be disabled"
### Preconditions
Magento 2.1.3

### Steps to reproduce
Edit env.php to include line:
'x-frame-options' => null

### Expected result

1. Magento would not output an X-Frame-Options header

### Actual result

1. Magento outputs X-Frame-Options: SAMEORIGIN

We need a more nuanced approach to X-Frame-Options. Luckily, we can handle this within the server settings. All we need to do is stop Magento fr

[2017-02-10 11:37] maderlock commented on #8504
Please spare me the following: "Magento always outputs a X-Frame-Options. This is for security to avoid link-jacking. You can choose between DENY, SAMEORIGIN etc."

I understand the logic behind using the header. I do not disagree.

[2017-02-10 12:04] vanderlee opened #8506 "Cannot unsubscribe customer from newsletter"
Backend user cannot unsubscribe a customer from a newsletter.

### Preconditions
1. Standard Magento 2.1.4 with all updates applied, running on CentOS 6.x
2. Customer with "Subscribed to Newsletter" checked.
3. Newsletter module enabled

### Steps to reproduce
1. Go to `Customers` > `All Customers`
2. Select the subscribed customer
3. Click on `Newsletter` in the Customer information box
4. Unchec

[2017-02-10 12:07] henk-hypershop commented on #3897
Same issue here. Varnish working, removed TTL attribute. Still no navigation showing. Running on Magento 2.1.3.

[2017-02-10 12:28] p-makowski commented on #5509
It doesn't work in 2.1.4 either.

@olysenko Could you please give us an insight into the schedule for future release?

[2017-02-10 12:50] andkirby opened #8507 "There is invalid type in PHPDoc block of \Magento\Framework\Data\Tree::getNodeById()"
Here is a minor issue which breaks code validation.
It looks like param `$nodeId` has wrong type `Node` in PHPDoc of method `\Magento\Framework\Data\Tree::getNodeById()`.
[code]
Seem, it can be `string|int`.

And `Enter description here...` says nothing about. :)

[2017-02-10 13:00] tadhgbowe opened #8508 "js-translation.json not picking up theme translations 2.1.3 / 2.1.4"
Hello. Apologies is reported before. I couldn't see it.

My theme translation file is not appearing in certain locations. For example the mini cart overlay and the cart is empty it says "You have no items in your shopping cart."

In my theme I have the translation "You have no items in your shopping basket.". When I go to the cart page I can see underneath the main content title "You have no items

[2017-02-10 13:04] jurpro commented on #8489
If this is solved on so many thread discusses, why Magento team didn't implemented to the latest release? It means, according to Magento team, all the solved by many members, still did not able to merge to Magento system.

Please, Magento team, next release, this issue is fixed and not happen again. ==Sorry my english is bad==

[2017-02-10 13:36] danielruedaa commented on #1393
thanks for your help

[2017-02-10 13:46] Noewt opened #8509 "Wrong cookies set for store views with multidomain"
### Preconditions

Magento 2.1.4 CE
PHP Version 7.0.14-2a
Porto Theme 2.4.5
NGinx 1.9.11

### Steps to reproduce

1. Set up multiple store views within 1 website, like for example:
storeview - code - base url
GB - English - en_gb - www.store.com (default)
GB - German - de_gb - www.store.com
DE - German - de_de - www.store.de
DE - English - en_de - www.store.de
2. Go to default store, and use store

[2017-02-10 13:56] staffrob commented on #6296
Facing this issue in 2.1.4

[2017-02-10 14:00] cherreman opened #8510 "Updating a customer address via the repository removes custom attributes"
### Preconditions

1. Magento 2.1.2

### Steps to reproduce

1. Programmatically create a customer address with a custom attribute
2. Save the new address via the address repository and store the returned address
3. Save the returned address via the address repository

### Expected result

1. Save the new address: address receives ID and custom attributes are stored
2. Save the returned address: c

[2017-02-10 14:05] srinivasanithin opened #8511 "Enhancement request to this catalogProductAttributeMediaGalleryManagementV1"
Hi

We want to request for enhancement for a current process of uploading the images files for product via Rest APIs. Can we have public URL of the image send as parameter in the API and then Magento system can use that URL to download that information on server and display it. This make the API communication and processing much faster and less error prone. I see that Magento already have code whi

[2017-02-10 14:31] yuklia opened #8512 "400 (Bad Request) error on Checkout page during payment-information request"
### Preconditions
1. Magento v2.1.2
2. PHP 7.0.10
3. Mysql  Ver 14.14 Distrib 5.7.15, for Linux (x86_64)

### Steps to reproduce
1. Add product to cart
2. Go to Checkout page
3. Fill email with test@gmail.comddd
4. Choose payment method: Check / Money order

### Expected result
1. Email validation error

### Actual result
1. {"message":"Unable to save address. Please check input data.","trace":"#0

[2017-02-10 14:56] petterkj commented on #8492
It has to do with the images. If you have no images, saving goes through with no problems. And with images, CPU raises to 100% for a loong time.

[2017-02-10 15:13] ThisIsRuddy commented on #5128
ETA❓😄

[2017-02-10 16:04] jchesko commented on #3789
@mikeweis  - Any idea when MAGETWO-55117 will make it into a release?  We keep having to manually patch after each upgrade.

[2017-02-10 16:18] joni-jones commented on #3789
@jchesko, this fix should have been available in Magento 2.1.5 release but moved to 2.1.7.

[2017-02-10 16:44] spyrule commented on #7943
@ebaschiera , whats totally weird for me, in my 2.1.3 installation, that file is nearly 100% different than the one in that link, yet that link is indicating a single line of code change. Is that fix for CE or EE ?

[2017-02-10 17:11] Ctucker9233 commented on #8496
I had the same problem in 2.1.3 but it works fine now in 2.1.4.

[2017-02-10 17:12] Ctucker9233 commented on #7949
I can confirm 2.1.4 fixed this issue.

[2017-02-10 17:13] Ctucker9233 commented on #7841
2.1.4 indeed fixed this issue.

[2017-02-10 17:16] Caryyon commented on #7215
Currently 2.1.4 and I'm still experiencing the same issue.

[2017-02-10 17:17] piotrekkaminski commented on #8399
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2017-02-10 17:17] #8399 closed, assigned to misha-kotov

[2017-02-10 17:17] piotrekkaminski commented on #8342
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2017-02-10 17:17] #8342 closed, assigned to misha-kotov

[2017-02-10 17:17] piotrekkaminski commented on #8027
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2017-02-10 17:17] #8027 closed, assigned to misha-kotov

[2017-02-10 17:17] piotrekkaminski commented on #8478
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2017-02-10 17:17] #8478 closed, assigned to nobody

[2017-02-10 17:28] mattcoz commented on #7949
Fantastic!

- Matt

On Feb 10, 2017 11:12 AM, "Ctucker9233" <notifications@github.com> wrote:

[2017-02-10 17:29] tadhgbowe commented on #8508
Update on this (spent all day debugging):

- When you clear the translation cache and remove the js-translation.json file from your theme in pub/static/frontend/Magento/[your theme]/[your locale]/js-translation.json it will try to rebuild.

- vendor/magento/framework/Translate.php is where all the main work occurs.

- What I've found is when it starts to rebuild the js-translation.json (which star

[2017-02-10 18:11] fgp305 commented on #6929
Im having issues with Briantree and receiving the same error and now "record does not exist" message.

How to reproduce:

place item in cart and go thru the checkout process
enter credit card and "place order"

should have order go thru but get this error on the screen shot.

Im using 2.1.3 in a development file not in production yet. Its been 4 months trying to resolve this and nothing. Im not th

[2017-02-10 18:47] berega commented on #3092
Although closed I w'd like to comment.
Magento CE 2.1.3 on Windows 10, WAMP64 localhost.  As I run the command
php bin\magento maintenance:allow-ips 127.0.0.1, the ip of my localhost given by the NAT-Router  and the ip of the NAT-Router my probem was sloved.

[2017-02-10 18:48] berega commented on #3092
Sorry: my magento is CE 2.1.3

[2017-02-10 21:03] kevin-carroll-cl commented on #7665
Hello, we are also experiencing this issue on Magento 2.1.3 Enterprise with Persistent Shopping Cart enabled, though we noticed it because it can cause a bug that prevents the guest user from successfully completing checkout.

Steps to Reproduce (assuming Magento is installed and Persistent Cart is already enabled):
1. Visit site as a guest user.
2. Add a product to the cart.
3. Sign in with the r

[2017-02-10 22:36] bve-9384 commented on #7357
In my case this behavior was caused by a problem with the product import, both the main image and the first additional image get the same media position (table catalog_product_entity_media_gallery_value). Somehow the slider tries to scroll to the first additional image, failing in a different manner on iOS.

The problem disappeared once I touched the image order in the product admin.

[2017-02-10 22:50] helicops commented on #8470
I have exactly the same problem. It's not fixed in version 2.1.4.

[2017-02-11 01:13] benhath commented on #5882
2.1.4 and 2.1.3 same problem. Running MAMP. Issue only occurs when a file is uploaded as an option.

[2017-02-11 01:43] ctadlock commented on #3676
@piotrekkaminski Again, why is this closed?

[2017-02-11 01:50] thomvanderboon commented on #8508
Duplicate of https://github.com/magento/magento2/issues/8459

Thom

[2017-02-11 01:51] ctadlock commented on #6173
To further clarify the issue and workaround https://github.com/magento/magento2/issues/6173#issuecomment-245184005...

In order to switch a product from one attribute set to another, the destination attribute set must contain the attributes of the source attribute set in the same attribute group. Since all product start out as the `Default` attribute set, all subsequent attribute sets must have si

[2017-02-11 02:43] jmtakahashi commented on #8215
#https://github.com/magento/magento2/pull/8246

[2017-02-11 02:44] jmtakahashi commented on #8215
#8246

[2017-02-11 02:44] jmtakahashi commented on #8215
#8246

[2017-02-11 02:45] jmtakahashi commented on #8215
#7723

[2017-02-11 03:09] Flamestyle commented on #8508
Hello! Please write your steps and commands for two methods: create language pack and create theme translations.

[2017-02-11 03:16] Flamestyle commented on #8509
Hello, @Noewt! I have same problem. Please write your steps for host nginx config. And setting in admin panel. You have found a solution?

[2017-02-11 08:16] pangteypiyush opened #8515 "Downloadable product is available for download even if order state is set canceled."
Downloadable product is available for download even if order state is set canceled.

### Preconditions
1. Magento 2.1.4
2. PHP 5.6.30
3. mysql  Ver 14.14 Distrib 5.6.35

### Steps to reproduce
1. Create an order for a downloadable product.
2. Set order state to STATE_CANCELED programatically.
3. Goto customer account dashboard, it list the order as 'canceled'.
4. Now goto "My Downloadable Products

[2017-02-11 09:58] vikrantbliss commented on #3053
I have increased max_input_vars 7000 , But still facing same issue . Anyone please help to resolve this issue

[2017-02-11 10:00] vikrantbliss opened #8516 "Undefined error issue"
I am Using Magento 2.0 version .
Creating configurable product ,but facing issue

Notice: Undefined index: configurable_attribute in /var/www/htdocs/vendor/magento/module-configurable-product/Model/Product/Validator/Plugin.php on line 116

Please help me to resolve this issue .

Thanks

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-02-11 10:48] NiteshKuyate opened #8517 "Magento 2 How to place an order after getting response from redirected url?"
### Preconditions

1. Magento 2.1.1

### Expected result

1. Order should be place after getting response from redirected url.

### Actual result

1. Order placed before getting response from redirected url.

Folowing is my ajax call in file: Path:

[code]
My placeOrder() fuction is called when **flag_success == 1;**

    if(flag_success == 1){
          this.placeOrder();
    }

Now when I'm redi

[2017-02-11 11:02] hostep commented on #8459
This sounds like a duplicate of https://github.com/magento/magento2/issues/7862

[2017-02-11 11:15] cizgidekiadam commented on #8061
Problem still exists in 2.1.4

Any updates on this ?
We are waiting to update main project after resolving this.

[2017-02-11 11:48] YevSent commented on #8517
Hi, @NiteshKuyate, Magento Github only for technical issues.
Answered on your question on [Magento StackExchange](http://magento.stackexchange.com/a/159359/31707).

Closed as not a bug.

[2017-02-11 11:48] #8517 closed, assigned to nobody

[2017-02-11 12:36] deshibazaar24 commented on #7833
When I  Want to upgrade magento 2.1.2 to 2.1.3 or 2.1.4 The following issues has been seen:
1. Composer has benn updated successfully.
2.  rm -rf var/di var/generation   or  rm -rf var/di  -seen okay
3. php bin/magento cache:flush  - error hown as bellow:

  [Magento\Framework\Exception\NoSuchEntityException]
  Requested store is not found

cache:flush [--bootstrap="..."] [types1] ... [typesN]

No

[2017-02-11 12:44] storepeinture commented on #7958
Experiencing the same issue. In fact the whole "Web Setup Wizard" is kind of useless. Updating Magento makes no sense either. Why did this all get so complicated and instable?

[2017-02-11 13:32] thomvanderboon commented on #8459
This is duplicate of https://github.com/magento/magento2/issues/7862

[2017-02-11 13:32] #8459 closed, assigned to nobody

[2017-02-11 13:36] developer-lindner commented on #8489
@jurpro Can't confirm this bug. Had no issues when updating the email logo. Worked as expected... so you may check your setup first before blaming around.

[2017-02-11 13:48] developer-lindner commented on #8476
@adityag186 Maybe this helps: Go to Products->Catalog, select all products (checkbox on the left), and select action "update attribute" (which is a mass-action). Don't change any attribute just hit the save button. This helped me last year when i didn't saw products in some categories. Reindex & clean cache afterwards.

[2017-02-11 14:41] edvinst commented on #6734
I'm getting the same problem.
Cart summary grand total line: **Order Total  $NaN.N**
Magento: 2.1.3
Rest API: V1/guest-carts/totals-information request.
Page: checkout_cart_index
Method: Magento\Quote\Model\Quote\Address\Total\Grand::collect
Result of line: $totals = array_sum($total->getAllTotalAmounts());  is 7.105427357601E-15.

var_dump of code: $total->getAllTotalAmounts():
array(9) {
  ["sub

[2017-02-11 14:41] gooki commented on #7977
@supanatral +1
Plus zero amount being sent (or is a consequence of the wrong currency being posted)

[2017-02-11 15:50] #8412 closed, assigned to nobody

[2017-02-11 16:20] navarr commented on #5213
This issue unbelievably still exists in Magento 2.1.4 EE

I've recreated it in MySQL 5.6.35

[2017-02-11 16:58] dunarri opened #8520 "ProductRepository::save assigns the product to all websites"
### Preconditions
Magento CE v2.1.1
at least 2 stores and websites
a product to test that is only in 1 of the websites

### Steps to reproduce
1. Create a module with an observer on catalog_product_save_after
2. Trigger this code by saving any product in the admin
3. sample observer code that causes the problem:
[code]
4. now observe this product you modified, it will have been added to all websit

[2017-02-11 17:00] dunarri commented on #8520
#7019 ProductRepository always assigns product to default website

[2017-02-11 17:15] romeof1980 commented on #8486
hi @tal-girit
in the first screenshot the fields are not filled. Could you please fill them and post the screenshot?
could you also please sent the screenshot of the Firebug-console?

cheers!

[2017-02-11 17:29] dunarri commented on #8520
If anyone is interested in the workaround, here is the code I use:
[code]

[2017-02-11 17:29] romeof1980 commented on #8401
hi @malikt ,
you could try to remove all content from var/di and var/generation

cheers

[2017-02-11 17:32] malikt commented on #8401
hi @romeof1980 ,
I am in development mode and there is no var/di however, i have deleted  var/generation number of times but the error persists, I even deleted every folder from var and even static files from pub, but no joy.
thanks,

[2017-02-11 19:02] KalebHosie commented on #7977
@HongMarketingInc did you resolve this?

@gooki the API call does a $0 charge and to see if the credit card is approved, it will do a second API call with the final amount. This seems overly redundant to me but it does work.

[2017-02-11 19:22] KalebHosie commented on #7977
@gooki I've posted an ad on Upwork to hire a developer to fix this issue. I hope to report back with the coding changes required.

[2017-02-11 19:45] kamaleshdubey opened #8521 "Cannot update Store e-mail addresses for four-character domain extensions"
### Preconditions

1. Magento CE v2.1.4
2.

### Steps to reproduce

1. Login to Admin Panel
2. Go to Stores > Configuration > Store Email Addresses
3. Edit any of the default e-mail addresses for General Contact, Sales Representative, Customer Support, etc. In our example we have used ornate@ornate.shop. Using .info domain extension produces the same effect.
4. Click on Save Config button.

### Ex

[2017-02-11 20:59] levasc commented on #6718
Problem remains in 2.1.4, for example with bitExpert/magento2-force-login module

[2017-02-11 21:40] bentalexanderhaase commented on #4929
Same issue here.

`PHP 7.0.13-0ubuntu0.16.04.1`
`Magento-CE-2.1.4`
`Composer version 1.3.2`
`mysql  Ver 15.1 Distrib 10.1.21-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2`

![image](https://cloud.githubusercontent.com/assets/5788982/22857736/0b2a3868-f0ab-11e6-9656-fad8544af42d.png)

[2017-02-11 21:55] andreame commented on #8202
same issue in 2.1.4

[2017-02-11 22:28] hubaig commented on #4929
After some struggle with this I figured out that it was due to my permissions on the files/directories. I fixed the permissions and it fixed the problem. Refer to your server logs and you will see the exact error that is causing this.

[2017-02-11 22:59] travisdetert commented on #4955
There are so many reasons to find a better method to doing this.  It also complicates deployment.  Dynamically writing out an executable config file?  Serious wtf in the choices department here.

[2017-02-11 23:04] TwassistantKeith commented on #8371
I am also experiencing this issue in Magento 2.1.3.

[2017-02-11 23:36] titus213 commented on #6683
This is becoming a big problem with my store.  Any idea when this is going to be fixed?

[2017-02-12 00:48] Ctucker9233 commented on #7408
@olysenko Is there any progress on this issue?

[2017-02-12 01:06] Ctucker9233 commented on #4910
@elenleonova Is this issue going to be backported?

[2017-02-12 04:03] ghost opened #8522 "Place Order button enabled before Customer Updates Address"
When checking out, whe paying via the Braintree CC option, if the customer chooses is shipping to an address that is different than the billing address and enters a different billing address at checkout, the Place Order button is active before the customer updates the address.
Because it is not disabled, if the customer does not push update the address (most of the time), the billing address is ov

[2017-02-12 04:15] okorshenko commented on #8287
Closing this issue. It was fixed in https://github.com/magento/magento2/pull/8474 for develop branch

[2017-02-12 04:15] #8287 closed, assigned to nobody

[2017-02-12 04:39] deshibazaar24 opened #8523 "[Magento\Framework\Exception\NoSuchEntityException] Requested store is not found"
When I Want to upgrade magento 2.1.2 to 2.1.3 or 2.1.4 The following issues has been seen:

1. Composer has been updated successfully.
2. rm -rf var/di var/generation or rm -rf var/di -seen okay
3. php bin/magento cache:flush - error hown as bellow:

 [Magento\Framework\Exception\NoSuchEntityException]
    Requested store is not found

    cache:flush [--bootstrap="..."] [types1] ... [typesN]

5.

[2017-02-12 06:22] dmcmillin commented on #3496
I can confirm in 2.1.2+ it is still present.

[2017-02-12 06:29] erfanimani commented on #2367
I might be beating a dead horse here, but an `after` constructor plugin would be super useful for doing further initialisation after the object has been created, as @dmitry-fedyuk has pointed out.

Consider the following example: I would like to change the quality of the catalog image processor by calling `setQuality` on `Magento\Catalog\Model\Product\Image` after the constructor has finished.

I

[2017-02-12 07:28] rudik99 commented on #8503
This was fixed in 2.1.3 if that helps you

[2017-02-12 08:16] tal-girit commented on #8486
![workspace 1_002](https://cloud.githubusercontent.com/assets/14885309/22860629/4480e01a-f10c-11e6-9b62-06e41e036ca9.png)

no error in console

[2017-02-12 09:47] robinkanters commented on #6350
@sevos1984 any progress? it's been almost half a year now

[2017-02-12 10:43] peterjaap commented on #3507
2.1.4, still here.

[2017-02-12 10:52] kandy commented on #8428
@rbostan "How to add plugin" described in [official documentation](http://devdocs.magento.com/guides/v2.0/extension-dev-guide/plugins.html)

[2017-02-12 12:12] ghost commented on #5709
I faced same issue with configurable product.
To fix this issue I edit configurations options and its worked for me. please refer this link http://prntscr.com/e7px78

[2017-02-12 12:17] ghost commented on #7302
I also experienced same issue with configurable product.
To fix this issue I edit configurations options and its worked for me. please refer this link http://prntscr.com/e7px78

[2017-02-12 12:38] Tonop opened #8524 "2.1.4 Product main image cant be changed if product was created by "Save & Duplicate" product function"
### Preconditions

1. Magento 2.1.4
2.

### Steps to reproduce

1. In admin mode open earlier created product #1 whith images.
2. Press "Save & Duplicate".
3. New product #2 has been created by system as duplicate of parent.
4. Change all images to new one in created product #2.
5. Save product.
6. Clear and flush all cached files and images in "System cash managment" page

### Expected result

1.

[2017-02-12 13:11] tadhgbowe commented on #8508
Hello.
Thanks for the feedback. I did see #8459 and #7862 but this issue I believe is an additional problem.

I have also experienced the js-translation.json not building itself properly. Deleting the file does rebuild it but still fails to pick up theme translations (not 100% sure a "bin/magento setup:static-content:deploy..." works on my custom theme).

I have no idea what is meant by "Please wr

[2017-02-12 13:15] jurpro commented on #8489
@developer-lindner No. I only update from 2.1.3 to 2.1.4 as a common user Magento, not editing any files or add any folders, but still got this issue. I'm uploading my logo and testing 2-3 times for add customers and buy any product. And there is still Luma logo send to customer email.

Why, I'm not editing any files? Because if Magento upgrade to latest version, my edited files will change by new

[2017-02-12 13:54] anebi commented on #8503
Hi and thanks for your reply. Since 2.1.3 has many bugs I would like to stick to 2.0.x until Mage releases a good stable version. Is there any quick fix for this issue?

[2017-02-12 16:01] Flamestyle commented on #8508
I see the same problem, but all commands are executed too different. So I asked to write all the steps that you did when deploying the language.
I try 2 methods:
Method 1: Create a language package same official docs, create 4 files: composer.json, language.hml, registration.php, ru_RU.csv.
After make this commands:

[code]
Method 2: Add file ru_RU.csv to my theme. Path: app/design/frontend/Agesto

[2017-02-12 18:31] gooki commented on #7977
@supanatral great let me know how much it will be or a link to the ad,  I can share the cost if necessary

[2017-02-12 18:41] KalebHosie commented on #7977
@gooki you are a gentleman and a scholar! No worries though :)

I just finished hiring the developer about 1hr ago who will start working on the issue in about 12 hours from now. I've asked him to report his finding and big fix on Github so the entire community can benefit.

[2017-02-12 18:47] Michael89s commented on #5305
Hello, my first post here.

This issue still occurs on 2.1.4. Any chances for a patch?

Thanks,
Michael

[2017-02-12 18:49] adityag186 commented on #8476
@developer-lindner I tried doing that but when I click on "Update Attribute", it shows the message "no products selected" even though I had done "select all"

[2017-02-12 20:01] hostep commented on #4359
It would be appreciated if Magento gives this a little bit more priority so we no longer depend on a beta version of composer running in our projects. Thanks! :)

[2017-02-12 21:40] travisdetert commented on #4795
It is UNBELIEVABLE how unstable these deployment and setup processes are.  I am curious how people are suppose to deploy any updates to this platform with any level of confidence.

[2017-02-12 22:23] travisdetert commented on #5921
I'm currently deploying static content with 13 themes enabled.  Can anyone explain why it's even remotely possible that this can take over an hour?  This is absolute insanity.

[2017-02-13 00:05] iandd0824 commented on #4095
Came across the same issue today and find the solution at the following link.

https://aws.amazon.com/premiumsupport/knowledge-center/rds-mysql-functions/

After I applied the custom parameter group with `log_bin_trust_function_creators = 1`, no more error to change the index mode.

![image](https://cloud.githubusercontent.com/assets/1960924/22867593/00ae9768-f140-11e6-8c75-ff4f59b1fb61.png)

[2017-02-13 00:10] gooki commented on #7977
@supanatral sweet, can't wait

[2017-02-13 02:40] SukeshiniR commented on #6673
Hi,
Is there any update on this?

[2017-02-13 03:17] thdoan commented on #5497
FYI I was able to resolve this in our 2.1.2 install without overriding Magento files or making DB changes with the following alias:

`alias fiximages='cd /path/to/docroot; mkdir -p pub/media/catalog/product; cp -r vendor/magento/sample-data-media/catalog/product/* pub/media/catalog/product; cd - 1> /dev/null'`

Obviously I'm using sample data, but it should work with real data if you point to wher

[2017-02-13 03:23] thdoan opened #8525 ""Attention: Something went wrong." error message is not helpful"
### Preconditions

1. Magento 2.1.2
2.

### Steps to reproduce

1. Install sample data
2. Edit a product in Admin (e.g., .../catalog/product/edit/id/944/)
3.

### Expected result

1. No error should pop up. If there is an error, it should at least give us a hint of what the error is.

### Actual result

1. A very vague error message pops up that doesn't help anyone:

![image](https://cloud.githubu

[2017-02-13 04:29] neko-in-space commented on #4756
Removing extra repositories in composer.json worked for me as well! @oshmyheliuk Thanks a lot! Are you able to explain why this has worked and why default magento composer.json has got two repositories?

[2017-02-13 05:06] bentalexanderhaase commented on #4929
In my case, the solution was raising the limits in `/etc/php/7.0/fpm/php.ini` (I am using php7.0 from [this ppa](https://launchpad.net/~ondrej/+archive/ubuntu/php)):

[code]

After saving the file, `service php7.0-fpm restart`

Made the installer go through slow, but smooth!

[2017-02-13 06:08] goldsky commented on #7281
AbstractFactory.php line 93 is the culprit
[code]
Let me know if PHP has `...array_values()` function now

[2017-02-13 07:07] martijnhovinga commented on #8010
Any update on this?

[2017-02-13 07:09] martijnhovinga commented on #6634
When will this be fixed. Has been open for a long time.

[2017-02-13 08:27] dmanners opened #8527 "Change in the Magento Zend1 Framework"
### Preconditions

1. Anything after the merge of https://github.com/magento/magento2/pull/8356

This is a question on how things will progress. In the PR https://github.com/magento/magento2/pull/8356 I was able to remove the Zend1 Captcha from Magento 2, but unless I see it differently the files will still be in the Magento zend1 module they just wont be in use.

My question is how and when will

[2017-02-13 08:30] Tristan-N commented on #6410
Hm, god for you it worked, but it doesn't for me. I also get this error in incognito mode. Happens in both incognito and regular browser. Cleared all browsercaching, Magento caching, removed all folders in pub/static, var/di, var/generation, var/view_preprocessed and regenerated it all again but the error remains. Did you notice this in production or in developer mode?

[2017-02-13 08:35] tandih commented on #7367
Hello,
Anyone try with 2.1.4. Does 2.1.4 version is fixed that issue?

[2017-02-13 09:18] tadhgbowe commented on #8508
Hi Flamestyle / All.

You look to be doing everything correctly. I'm assuming you've set your Locale (In Stores > Configuration > General - Locale) to ru_RU?

However in my case the language pack is being picked up and the js-translation.json is not empty.

My Locale is set to en_GB. The code in my language.xml is set to en_GB.

It's the Theme translations that I want to pick up in my js-translati

[2017-02-13 09:22] antbates91 commented on #7595
I have this issue too. I've set a blanket 50% discount to all products in a category. Simple products have the discount but configurables don't.

### Preconditions

1. Magento CE/EE Tag 2.1.3

### Steps to reproduce

1. Create a catalog price rule at 50% choosing Apply as a Percentage of the Original.
2. Apply this rule to a category using Category is 'Category Name'

### Expected result

1. The O

[2017-02-13 09:23] nntoan commented on #4291
I'm still facing this issue in v2.1.3 (customer composite).
@PieterCappelle : Which commit you use to fix? 8abf097 or 487ae24

[2017-02-13 09:32] PieterCappelle commented on #4291
@nntoan Both.

[2017-02-13 09:36] 6ui11em commented on #6729
Following the suggestion of @firstred I fixed it changing the loop of doGetMinRegularAmount function from:

foreach ($this->lowestPriceOptionsProvider->getProducts($this->product) as $product) {

to

foreach ($this->getUsedProducts() as $product) {

Hope this quick fix helps someone else.

[2017-02-13 09:41] mcspronko commented on #1146
Hi @maksek

Any updates for this issue?
Thanks.

[2017-02-13 09:51] romeof1980 commented on #8486
hi @tal-girit,
I had a look at the website https://www.kushies.co.il and the shipping methods show up correctly to me.
Are you sure you didn't set up a specific method for the product you tested?

![shows-up](https://cloud.githubusercontent.com/assets/11228308/22878472/c8a13a2a-f18e-11e6-9d1c-5f4befdafb6c.png)

romeo

[2017-02-13 09:55] selvamss commented on #6176
@pankajpragma
I want the  script to generate category URL, could you please send me selvamprakashss@gmail.com.

Thanks

[2017-02-13 09:59] nntoan commented on #4291
@PieterCappelle You can only choose one commit. Because one commit add new line to the if statement and the other one will delete the whole if statement...

[2017-02-13 10:03] sergei-sss opened #8528 "Setting Tax -> Calculation Settings -> Catalog Prices-> Including Tax don't works"
### Preconditions
1. Magento 2.1.3 with sample data
2. Cache disabled

### Steps to reproduce
1. Set Configuration -> Setting Tax -> Calculation Settings -> Catalog Prices in "Including Tax"
2. Set  Configuration -> Setting Tax -> Price Display Settings -> Display Product Prices In Catalog in "Including and Excluding Tax"
3. rm -rf var/cache
4. php bin/magento indexer:reindex
5. Sign in as roni_co

[2017-02-13 10:05] kartikasodariya17 commented on #6258
Hello,

I also facing above issue with authorized.net payment process. I am checking with staging site but order successfully place and after place order getting error " An error occurred on the server. Please try to place the order again ". but not getting where i miss something. I have transaction key, api ID and MD5 hash key.
Also set test mode yes and used gateway URL " https://secure.authoriz

[2017-02-13 10:25] justanewbie00 commented on #6713
I'm having the same issue. Did you already fixed it? How?

[2017-02-13 10:35] Flamestyle commented on #8508
@tadhgbowe, yes General - Locale include ru_RU.
I have one question: you use method 1 or 2? I see you use file en_GB.csv `app/design/frontend/[THEME]/default/i18n/en_GB.csv`, but you write more about `language.xml`. So you use 2 methods together?
Thank you!

[2017-02-13 10:39] cizgidekiadam commented on #7595
Reason is, applying price rule, doesn't set special price for main product. So in final_price.phtml, it checks 'hasSpecialPrice()' and returns false and it skipping over next html block.

By modifying final_price.phtml, if regular price and final price differs, show it.

Tried setSpecialPrice on the fly but can not achieve this.

If product type configurable, you should use 'base_price' instead of

[2017-02-13 10:55] meldron commented on #8399
@Silarn can you post the apache config workaround?

[2017-02-13 11:30] SatishDubariya commented on #4767
**Product Sorting in Category page  by Best Seller**
Magento Upgraded to 2.1.3 from 2.1.0
Override below function

public function getAttributeUsedForSortByArray()
    {
        $options = ['position' => __('Position'),'topseller' => __('Top Seller')];
        foreach ($this->getAttributesUsedForSortBy() as $attribute) {
            /* @var $attribute \Magento\Eav\Model\Entity\Attribute\AbstractAt

[2017-02-13 11:48] orlangur commented on #8527
Is anything from ZF1 marked with `@api` annotation?

I don't think any _part_ of the https://github.com/magento/zf1 will be removed ever. This dependency could be removed completely from core at some point, any third-party module should have ` "magento/zendframework1": "~1.12.16",` explicitly specified if using it directly.

Thus, nothing bad may happen, unless some implementation relied on some t

[2017-02-13 12:28] fwolfst opened #8529 "Typo in error message "Table <tablename> is not exists""
Magento 2.1.4 using the data migration tool (reported there: https://github.com/magento/data-migration-tool/issues/242 - but the text probably stems from magento 'core').

[Zend_Db_Exception]
Table "customgrid_grid" is not exists

Should read ... "does not exist".

[2017-02-13 13:00] tadhgbowe commented on #8508
Hello again,

I only created the language pack to see if my js-translation.json could pick up the translations from there. And yes that worked. But I never wanted to create a language pack. I simply wanted to be able to handle everything from my theme.

So in my example I can now remove the language pack. I only used it to prove that js translations worked when in a language pack and not from my t

[2017-02-13 13:10] raisaev opened #8530 "Warning: Illegal offset type in vendor/magento/framework/App/Config/ScopeCodeResolver.php on line 58"
Judging by code the class of **ScopeCodeResolver** can work with the objects **ScopeInterface** as a second parameter of the **resolve** method but it will cause **'Illegal offset type'** warning.

### Preconditions
1. Magento v. 2.1.4

### Steps to reproduce

`
/** @var \Magento\Store\Model\Store $store */
$store = $this->_objectManager->get('Magento\Store\Model\Store');
$store->load(0);

$resolv

[2017-02-13 14:28] helicops commented on #8470
When did some one fixing this problem? Magento 2 is not production ready with this kind of bugs.
When you select in the catalog products view an option (by example the color) is not changing the price or picture. It looks like that the swatch option is not within the submit form, but I am not an developer.

In the product view everything is working OK.

[2017-02-13 14:51] PascalBrouwers opened #8531 "Doing a product save will set has_options to 0 because of check getCanSaveCustomOptions() in beforeSave and custom options disappear from frontend"
### Preconditions
1. Magento 2.1.4

### Steps to reproduce
1. Have a simple product with custom options
2. In code add some data with `$product->addData()`
3. Save the product using it's own save function: `$product->save()`

### Expected result
1. Product should display it's custom options on frontend

### Actual result
1. Custom options are not shown on frontend because of attribute has_options

[2017-02-13 15:04] guillaume-netapsys commented on #7813
The problem is still here with the 2.1.4 release, but the workaround with `--jobs=0` is correctly doing the trick.
By the way, can someone help me to understand the meaning of this 0 value for jobs parameter ?
I assume that this option allow to start several static content deployments at the same time in order to speed up the process, but what is the difference between 1 and 0 value ? 1 for only o

[2017-02-13 15:14] navarr commented on #5213
For those still subscribed to this issue, we may have found the culprit.

We did three things: upgrade to MySQL 5.7 (unlikely to be necessary)

Updated the MySQL open_files_limit configuration.  The default for us was 5,000 and our hosting provider upped it all the way to 65,535.  If you're having issues with this, I'd recommend seeing if doubling open_files_limit results in success.

If that does

[2017-02-13 15:15] mabes commented on #7813
Long story short : the result is the same.

The jobs option allows you to run several PHP processes in parallel, which should speed things up in the case where the jobs you're running don't all depend on each other.
Magento\Deploy\Model\DeployManager defines this:
[code]
The default value of JOBS_AMOUNT for the DeployStaticContentCommand is 4, setting it to 0 or 1 doesn't change the result of isCa

[2017-02-13 15:23] Igloczek commented on #7813
@maksek Any updates on this?

[2017-02-13 15:28] anethum commented on #8530
Same Issue

[2017-02-13 15:29] maksek commented on #3507
Reopened for review.

[2017-02-13 15:34] snez opened #8532 "Cannot read property 'autocomplete' of undefined"
### Preconditions

1. Magento 2.1.4
2. PHP 7.0.14
3. MySQL 5.6.22
4. Google Chrome 56.0.2924.87 (Official Build) (64-bit)

### Steps to reproduce

1. Add two products to the shopping cart
2. Navigate to the shopping cart page at /checkout/cart/
3. Click "Checkout with multiple addresses"
4. Follow the steps

### Expected result

1. No javascript crashes
2. No interference with Payment Methods

###

[2017-02-13 16:20] orlangur commented on #5627
Always worked like that within my recollection...

There is a mechanism implemented by me to solve this problem: https://github.com/magento/magento2/blob/develop/dev/tests/integration/framework/Magento/TestFramework/ErrorLog/Listener.php#L93

So, all you need to solve this problem once and for all is:
- activate this mechanism on CI
- eliminate all critical errors
- do not deactivate mechanism on

[2017-02-13 16:28] robbanl commented on #8520
@dunarri Did other fields change as well? For instance, let's assume the product you were loading had "USE DEFAULT" checked for all values on all websites. When setting the price, does the other values go from "USE DEFAULT" to the same value but the "USE DEFAULT" button unchecked?

[2017-02-13 16:34] orlangur commented on #7663
@dmitry-fedyuk, your fix is lame.

You can get an idea for proper fix from https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Controller/Adminhtml/Product/NewAction.php#L13 ;)

[2017-02-13 16:55] bastianccm opened #8533 "Magento 2 Swagger specification invalid, operationID not unique"
### Preconditions

1. Magento 2.1 Latest swagger json, retrieved from http://devdocs.magento.com/swagger/schemas/latest-2.1.schema.json

### Steps to reproduce

1. Download http://devdocs.magento.com/swagger/schemas/latest-2.1.schema.json
2. Run swagger validator from https://goswagger.io/

### Expected result

1. swagger.json valid

### Actual result

1. swagger.json is invalid, the operationId i

[2017-02-13 17:01] lfritsche opened #8534 "static folder names translated & space characters in path"
### Preconditions

1. Magento 2.0.12
2. PHP 5.6
3. German Translation: https://github.com/splendidinternet/Magento2_German_LocalePack_de_DE

### Steps to reproduce

1. Updated from 2.0.4 to 2.0.12
2. rebuild static files (setup:static-content:deploy de_DE en_US)
3. Backend > View Orders:
Console: `GET .../pub/static/adminhtml/Magento/backend/de_DE/UI%20/template/%20Raster/%20Filter%20/%20Elemente%

[2017-02-13 17:19] indiebytes commented on #8379
It sounds like it's the same issue as #6683.

[2017-02-13 17:55] Silarn commented on #8399
@meldron I'll post the workaround on the forum thread.

[2017-02-13 17:57] george-vlahakis opened #8535 "Category Link Anchor Custom Text Encoding"
### Preconditions
1. Magento 2.14
2.

### Steps to reproduce
1. In page layout add widget of type "Catalog Category Link" in content
2. In Anchor Custom Text set the text to be in non-English characters

### Expected result
1. Maintain the UTF-8 charset

### Actual result
1. The text is converted (assuming a db conversion)

[2017-02-13 18:05] george-vlahakis commented on #8535
If I change the text inside the editor itself and save the page it works, but when I return the page admin again it throws this error.

[2017-02-13 18:07] lfritsche commented on #8534
Could solve the Problem by replacing `Symlink` with `Copy`

Open up app/etc/di.xml and find the virtualType name="developerMaterialization" section. In that section you'll find an item name="view_preprocessed" that needs to be modified or deleted. You can modify it by changing the contents from Magento\Framework\App\View\Asset\MaterializationStrategy\Symlink to Magento\Framework\App\View\Asset\Mat

[2017-02-13 18:12] Silarn commented on #7227
I guess #8203 is a duplicate of this. For some reason I didn't come up with this issue when I did a search initially. I diagnosed basically the same reasons for the problem and possible fixes. However there's also some incompatibilities with IPv6 addresses that should be addressed.

[2017-02-13 18:34] pjw345 commented on #5151
I have the same issue and I've managed to reproduce the issue on 2.1.4,  Fresh download, create 3 products, add them to a category, 3 products shown,

Now disable one product, and 2 products will be shown, but the toolbar still says 3 products

[2017-02-13 18:42] ghost opened #8536 "Allowed Countries not being recognized for PayPal payments"
Customers from countries that are not selected in the allowed countries setting are able to checkout and pay with PayPal.

### Preconditions

1. Magento CE 2.1.4
2. PHP 7.0.15
3. MySQL 5.6
4. PayPal Website Payments Standard / PayPal Express

### Steps to reproduce

1. Customer adds products to cart and goes to checkout
2. Checkout payment method is PayPal
3. Customer is sent to the PayPal site to

[2017-02-13 18:52] maksek commented on #8469
linking with existing PR, which doesn't resolve issue, but ignore themes are not assigned to stores - https://github.com/magento/magento2/pull/8142

[2017-02-13 19:11] maksek commented on #5509
Fix will be delivered in 2.1.7, 2.0.15 and 2.2.0

[2017-02-13 19:14] SolsWebdesign commented on #4828
I have this issue with Magento 2.1.3 and Microsoft Edge browser as well: sometimes the TinyMCE is "missing". The WYSIWYG Editor button won't do anything either. Refresh does not help. I have advised my customer to use Firefox instead.
![missingeditor](https://cloud.githubusercontent.com/assets/4403221/22898789/e44b3c7c-f228-11e6-835c-a847c8d9d4e7.png)

[2017-02-13 19:16] maksek commented on #4883
Fix will be delivered in 2.1.7, 2.0.15 and 2.2.0

[2017-02-13 19:20] maksek commented on #6141
The fixed will be delivered in 2.0.15 and 2.1.7, 2.2.0.

[2017-02-13 19:22] tipofloe commented on #4911
@HS8964 Thanks for the tip.  It worked and it passed the readiness check.

[2017-02-13 19:23] maksek commented on #4232
The fix scheduled for 2.1.9

[2017-02-13 19:47] lfritsche commented on #8460
Would be great to hear, if you can reproduce this, or is it already solved 'till 2.0.12?

Thank you!

[2017-02-13 19:54] adityag186 commented on #6176
@nagamani-sigma Hi, is there a script for re-generating all product URLs? I have uploaded new product URLs through a CSV file. They show on the admin panel however products cannot be accessed with the new URLs.
When I click save on each product, then the new URL starts working. However, I have 300000 products so is there a script that will go through all products and save them to regenerate the UR

[2017-02-13 19:58] rafaelstz commented on #4170
This issue was fixed to me when I upgrade my PHP version from 7.0.9 to 7.0.15.

[2017-02-13 19:58] rafaelstz commented on #5377
This issue is fixed to me when I upgrade my PHP version from 7.0.9 to 7.0.15.

[2017-02-13 20:03] romeof1980 commented on #8401
hi @malikt ,
are you trying to run `php bin/magento setup:upgrade` because you've just installed/uploaded a new module?

[2017-02-13 20:07] malikt commented on #8401
hi
i haven't installed new module, but i will soon install new modules. so at least this command should work. I can't even take the risk to upgrade magento version, the whole site will be down until this command runs.
thanks,

[2017-02-13 20:07] ghost commented on #8300
@igrybkov thanks for you detailed writeup. Awesome!

[2017-02-13 20:26] romeof1980 commented on #8401
hi @malikt ,
I see the error `Argument 3 passed to Magento\Framework\Model\ResourceModel\Type\Db\Pdo\Mysql::__construct()`

for what I know that argument is the dtb password ( `string $password` )
have a look here:
[http://php.net/manual/it/pdo.construct.php]

are you sure you set user, pw and dtb name correctly?

[2017-02-13 20:31] malikt commented on #8401
Hi,
The site is working fine, only this command has issues, if this error has to do with wrong user/pass etc, how come the rest of site is working fine. however, where exactly i should check the user/pass other than app/etc/env.php?

[2017-02-13 20:44] jonathanribas commented on #5509
@maksek do you have an upcoming releases schedule to share with us please? Is there a link where we can have such information?

[2017-02-13 20:51] romeof1980 commented on #8401
never mind, that's not the problem then. Is it a fresh install?

[2017-02-13 21:05] spyrule opened #8538 "No ability to reset filters after an error"
If a filter is applied to the Product Categories window, if that filter is removed, it generates a "Something went wrong" error, that prevents you from ever "erasing" the problematic error.

### Preconditions
1. Magento 2.4-develop
2. PHP 7.3
3. Nginx hosted service

### Steps to reproduce
1. Create a new store view (call it test for example)
2. Log into admin > Products > Catalog
3. Set up and ap

[2017-02-13 21:29] myorkgitis commented on #1578
+1 Any update on when this will be released?

[2017-02-13 21:51] iagdesign commented on #5831
Still a problem with version 2.1.4

[2017-02-13 22:05] mhauri commented on #4232
@maksek why so late, 2.1.5 will be a copyright update version only, but why not in 2.1.6?
What's the planned release cycle, based on the latest releases it's around 2 months between each release, so 2.1.9 will be 8 to 10 months away.

[2017-02-14 02:42] haudanh opened #8539 "Edit product - add more attributes not working"
### Preconditions

1. Magento 2.1.3, 2.1.4
2. Php 5.6.30, Mysql 5.7

### Steps to reproduce

1. Edit one product, add 1 attribute into that product, save the product
2. Edit product again, try to add 1 more attribute into the product
3. Not able to see new attributes (only attribute there)

### Expected result

1. I think it should be able to add multiple attributes

### Actual result

1. [Screens

[2017-02-14 03:19] thdoan commented on #3507
I'm getting this in v2.1.2 developer mode.

var/log/support_report.log:
[code]

Unlike for @vzaporozhets, this _is_ causing an issue for me in Admin -- I'm not able to edit any products. When loading the product in Admin, I get a vague "Attention Something went wrong" error, which prevents me from saving any changes. I have a feeling the critical errors reported in `support_report.log` are somehow

[2017-02-14 04:41] malikt commented on #8401
it was fresh install with 2.0.5, then upgraded to 2.1.2, now i wanted to upgrade to 2.1.4 but cant do until this command fixes.
thanks,

[2017-02-14 05:55] Flamestyle commented on #8508
Hello, @tadhgbowe! For me prefer to be able to handle everything from my theme too.
Your issue `$area->load(\Magento\Framework\App\Area::PART_DESIGN);` works!
Thank you so much!

[2017-02-14 06:28] michaeldyl520 opened #8540 "can not modify table customer_entity is_active ?"
### Preconditions

[code]
### Steps to reproduce

php code like below:
app/code/Test/Test/Controller/Test/test.php
[code]
### Expected result

find the table cutomer_entity,the entity_id is 8110 ,is_active change value to 0,firstname change to firstnamexxxxx

### Actual result

firstname can change ,but is_active can not modify,it is also show 1 in the table

why not modify is_active?what`s wrong

[2017-02-14 06:59] supportstreammarket opened #8541 "Automatic shopping cart price rule does not apply if coupon code is applied"
### Preconditions

1. Issue for "Automatic shopping cart price rule does not apply if coupon code is applied" is fixed in 2.1.3
2. Please let us know the files changed to solve this

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-02-14 07:02] nikolaevas commented on #7930
Hi,

Why did you use Add/Update behavior instead of Replace?

How to replace products:
1. Remove or empty columns **store_view_code** and **_store** from csv file. Because products can be replaced only in default scope.
2. Run a new import with **Replace** behavior.
3. Old products will be deleted and new will be added:

Notes:
- only products with SKUs from your csv file will be replaced
- new ID

[2017-02-14 07:11] michaeldyl520 commented on #8540
I find the step to resolve the problem.
I find use the cutomer module of the system must add eav of the same name in customer_entity,
open backend,go store,below attribute,open customer,add a new attribute,don`t forget choose Customer Registration and Customer Account Edit in Forms to Use In,Then open the table eav_attribute,locate the attribute you added earlier,change backend_type to static,then

[2017-02-14 07:11] romeof1980 commented on #8401
How did you upgraded? which cmd did you run? You could also run "composer update" to try to resolve dependencies issues. Make a backup prior to do that

---- On Tue, 14 Feb 2017 05:41:18 +0100 notifications@github.com wrote ----

it was fresh install with 2.0.5, then upgraded to 2.1.2, now i wanted to upgrade to 2.1.4 but cant do until this command fixes.
thanks,

—
You are receiving this because

[2017-02-14 07:14] malikt commented on #8401
i used the command "composer update" after updating two lines where version mentioned in composer.json
which folders are required to for the backup?

[2017-02-14 07:19] romeof1980 commented on #8401
Which result did you get? Did it run correctly? Modifying composer.json can lead to problem if not done correctly.
Please consider to contact your hosting provider and ask they about the backup documentation: you should know how to perform backups and test how to restore prior to do upgrade operations that can brake your site

---- On Tue, 14 Feb 2017 08:14:54 +0100 notifications@github.com wrote

[2017-02-14 07:25] malikt commented on #8401
yes it went smooth, the site kept working for weeks, I used the upgrade command number of time. its just since i posted the issue, the command stopped working.
thanks for suggestions, i will check with the hosting for backups of code and database both.
Can you please share for the record, whats the best method to upgrade to latest version

thanks for your time.

[2017-02-14 07:34] romeof1980 commented on #8401
Hi @Malik,
have a look here: http://devdocs.magento.com/guides/v2.0/comp-mgr/bk-compman-upgrade-guide.html

I'd advise to solve the issue you already have got before upgrading

---- On Tue, 14 Feb 2017 08:25:55 +0100 notifications@github.com wrote ----

yes it went smooth, the site kept working for weeks, I used the upgrade command number of time. its just since i posted the issue, the command sto

[2017-02-14 07:38] malikt commented on #8401
Hi,
Thank you.
This may take a while to take backups and update, you can close the ticket and i will reopen in case the issue persists,
thanks again for your time.

[2017-02-14 07:46] tkn98 commented on #6141
@maksek: What is the ETA of these releases?

[2017-02-14 07:47] tkn98 commented on #6141
And can you provide the commits where this went in for reference? Thanks for all your efforts.

[2017-02-14 07:51] rendyep opened #8542 "DOMDocument::schemaValidate(): Invalid Schema"
### Preconditions

1. Windows 10
2. Magento 2.1.2
3. Apache 2.4.23
3. PHP 7.0.10
4. MySQL 5.6.30

### Steps to reproduce
1. Yesterday everything was ok, no errors or warnings.
2. Today when I open my local Magento 2, I get a `Invalid Schema` error. I don't do anything like updating packages, cleaning or flushing cache, or anything else, I don't even touch any files, I just open my local Magento 2

[2017-02-14 07:58] tkn98 opened #8543 "Email Return-Path Setting is not used as Return-Path in Mail Transport"
Settings in the adminhtml backend regarding the outgoing mail messages return-path are ignored when Magento initiates the mail transport.

[code]

In this case the `system/smtp/return_path_email` address "`info@exa.net`" is not used with outgoing transport.

The behavior is reproducible and was reproduced in Magento 2.1.3 and 2.1.4 clean instances.

* Reference: Magento Support Ticket #03200026

[2017-02-14 08:41] ziiljuks commented on #8535
It looks like we will have to wait for fix: scheduled for 2.1.9
#4232

[2017-02-14 08:51] #8535 closed, assigned to nobody

[2017-02-14 09:39] ajithkranatunga commented on #8509
Hello,

Did you try to set correct Cookie Domain for each stores at Stores->Configuration->General->Web->Default Cookie Settings. Set store.de for de_de storeview and so on

[2017-02-14 09:50] taschert commented on #7554
Same issue with 2.1.0. Is there a fix for this issue ?
I found this 2 related issue #6759 & #4589

[2017-02-14 10:15] malikt opened #8544 "Unable to save shipping information. Please check input data."
### Preconditions

1. Magento version 2.1.2
2. PHP 7.0.13
3. MySQL 5.6.34
4. nginx

### Steps to reproduce

1. Login to account
2. add product to cart
3. Move to checkout page
4. enter address and select shipping method
5. click Next button

### Expected result

1. it should save the info and move to payment page.

### Actual result

1. I get an error `Unable to save shipping information. Please c

[2017-02-14 10:18] Nicelabsrl commented on #7153
@bartlubbersen Could you give me the complete code and files for the plug-in Creation?
Thanks

[2017-02-14 10:29] SerhiyShkolyarenko commented on #6005
@elvin-vaimo it was rejected because here we discuss community edition issues only, but this issue has nothing to do with CE.

[2017-02-14 11:12] mcspronko opened #8545 "No element found with ID 'before.body.end' when moving 'currency' block - when adding product to a Wishlist"
### Preconditions
1. Magento 2.x installed with deployment mode set to "production"
2. Luma theme is configured as a default theme on a website

### Steps to reproduce
1. Navigate to Customer Login page
2. Login as a customer
3. Navigate to a product page
4. Add product to a Wishlist
5. Observe error in var/log/system.log file

### Expected result
1. No error with "No element found with ID 'before

[2017-02-14 11:15] rvr31 opened #8546 "When importing customer through CustomerImportExport created_at is always overwritten when updating customer"
In vendor/magento/module-customer-import-export/Model/Import/Customer.php:361 created_at is also set when not passed as updating data. Thus resulting in an invalid created_at. Created_at should only be set to customers if created_at is actually passed as updating_data. Same should apply for updated_at. Mysql is already setting the created_at and updated_at through table settings so no need to dupl

[2017-02-14 11:53] korostii commented on #8542
XSD file usually isn't the file that gets validated, but the schema to which XML files must conform. In this case, my guess would be that you have an invalid "config.xml" file in one of your modules.

I agree though that it's a bit unpredictable and counter-intuitive how Magento2 decides whether to validate these. I believe it is[ supposed to depend on current mode](http://magento-quickies.alansto

[2017-02-14 12:24] Noewt commented on #8509
I'm using this in the nginx config:

[code]
So when there is no cookie set, it loads the default language set in the config. If there is a cookie set, it should 'override' the nginx config and redirect to the storeview set in the cookie.

These are the admin settings for each storeview:
[code]

[2017-02-14 12:25] johnhughes1984 commented on #1146
Would like an update on this too please @maksek

[2017-02-14 12:32] ChevCheusov commented on #8333
Hello,
Magento
Is there any news on the bug described above?
Thank you!

[2017-02-14 12:33] schmengler commented on #7140
Same with `\Magento\Cms\Api\Data\BlockSearchResultsInterface::getItems()`

Notably, the ID fields are missing, so it is not even possible to create model instances from this array.

[2017-02-14 12:35] Buy-bg commented on #8251
Hellooo,
Is there anybody out there???

[2017-02-14 12:46] korostii commented on #8544
That's rather unexpected. Are you sure there aren't any unusual steps missing & I doubt this would get reproduced on a clean installation.
Do you have any 3rd-[arty modules or themes installed? Shipping-related, if I were to guess.
It might also be a case of "address validation went wrong". Could you please provide the test address you've been using and\or try to reproduce this error while using a

[2017-02-14 12:53] Noewt commented on #8509
The same problem seems to be happening in this thread https://github.com/magento/magento2/issues/3676
The given solution (https://github.com/magento/magento2/issues/3676#issuecomment-194280015) doesn't work in this case, because I don't use additional store-codes after the base_url. It forces the nginx config over the cookie set.

[2017-02-14 12:58] vesan-83 opened #8547 "Product import isn't compatible with staging (scheduled updates)"
### Preconditions

1. Enterprise 2.1.2+

### Steps to reproduce

**Problem 1** - Imported changes are reverted when scheduled update is finished and import was done when an update was active or not started yet:
1. Schedule any update for a product using "Schedule New Update" button
2. When the update isn't finished yet, update the product using the Import (SYSTEM -> Import -> Products)
3. Wait unt

[2017-02-14 13:01] vzabaznov commented on #8536
Hi @crtsl please write if 'Enable PayPal Credit' option enabled, if you disable this option, customer form non allowed countries will not be able to proceed payment with PayPal

[2017-02-14 13:14] janeblonde commented on #7037
this wasn't fixed in the last M2.1.4, I'm losing the will to live!

[2017-02-14 13:23] ghost commented on #8536
Hello @vzabaznov PyaPal credit is not enabled. This store is based in Canada and PayPal credit is not available in Canada.

This appears to be a bug somewhere with the integration between Magento and PayPal. The allowed countries setting appears to have no effect when a customer completes the order with PayPal.

[2017-02-14 13:40] ioliinyk commented on #8299
Great, I am closing.
Thank you for report.

[2017-02-14 13:40] #8299 closed, assigned to ioliinyk

[2017-02-14 13:42] rvr31 opened #8548 "When updating customers through CustomerImportExport fields thats are not set in importdata will be nullified"
When using module-customer-import-export/Model/Import/Customer.php to update existing customers, attributes that are in customer_entity and are not in the data to update will be nullified. For instance, updating customer name and or group through the importer would empty that customers password / rp_roken etc. This happens because in the _saveCustomerEntities function all fields of the customer ar

[2017-02-14 13:43] korostii commented on #8547
I've heard the enterprise support tickets might get faster responses from Magento, Inc. rather than GitHub issues. I would kindly suggest that you raise this issue that way as well in order to have a faster resolution.
Here's an example of a response such tickets typically get over here:

[2017-02-14 13:44] ioliinyk commented on #8083
Hey @ytorbyk  @mcspronko I am closing this issue since you got an answer from @joni-jones . Thank you fro reporting, keep us updated with new issues.

[2017-02-14 13:44] #8083 closed, assigned to YevSent, alena-marchenko, ioliinyk

[2017-02-14 13:47] ioliinyk commented on #8037
Hey @hostep, did you try this solution?

[2017-02-14 14:20] rogyar commented on #8538
That's an annoying issue. Have a lack of time to find a sort of fix, but can recommend a workaround. When you get the "Something went wrong" message, open Developer Tools console in your browser and type there:

[code]

That will simulate the "Clear All" link click for filters (tried in Chrome). Hope it will help.

[2017-02-14 14:27] tadhgbowe commented on #8508
Hi @Flamestyle and all others who read this.

Obviously this is a small Magento bug and hopefully they will pick up on this soon.

We can't change the core file vendor/magento/module-translation/Model/Json/PreProcessor.php for obvious reasons. For a workaround you can consider using a before Plugin, a Preference or as you'll see below the PreProcessor is already a part of the module-translation di

[2017-02-14 14:28] mcspronko commented on #8083
Hey @ioliinyk

We were expecting to get backported fixes for previous versions of Magento to be able to have 1 version of custom payment integration and vault support without creating 2 different modules for module-vault change.

Thanks.
Cc @maksek_ua

[2017-02-14 14:34] maxbucknell commented on #6739
Can I have a status update on this? If it hasn't been worked on, I'd like to take it up.

CC @maksek

[2017-02-14 14:38] joshdifabio commented on #5351
We're also seeing this issue when saving multiple configurable products in parallel. Do you have any update on this Magento?

[2017-02-14 14:55] malikt commented on #8544
yes its unexpected,
Yes third party modules and themes are installed.
 How can i find which fields the error message is referring to?

[2017-02-14 15:18] YevSent commented on #8025
@AirmanAJK, this is known issue (internal ticket MAGETWO-63215). Closed as duplicated to https://github.com/magento/magento2/issues/8219.

[2017-02-14 15:18] #8025 closed, assigned to abarua17, ioliinyk

[2017-02-14 15:20] hostep commented on #8037
@ioliinyk: you mean if I tried to fix Magento's code, by removing that outdated code? Should I create a PR?
I'm not sure what you mean with your question to be quite honest :)

[2017-02-14 15:29] tlygnersjo commented on #1821
I've got the same problem, while trying to load Google Fonts (via CDN) before a custom CSS file which has the font-family. But Magento does the reverse so that the font won't work.

I'm using Magento 2.1.2. Is there an upcoming fix for this?

[2017-02-14 15:30] malikhokhar opened #8549 "Store -> Attribute -> Product Attribute -> Manage Options (Values of Your Attribute) Can Not Accept More Than 110 Values"
### Preconditions

1. Magento ver. 2.1.3
2. PHP 7

### Steps to reproduce

1. Store -> Attribute -> Product Attribute
2. Manage Options (Values of Your Attribute)
3. If we add values more than 110 it will just vanish it. It will say it is saved. But when you reopen all gone above 110.

### Expected result

1. There should not be any limit and it should allow as many as required.

### Actual result

[2017-02-14 15:33] thlassche commented on #8549
@malikhokhar Are you sure you are not hitting the `max_input_vars` PHP limit? (see your php.ini)

[2017-02-14 15:41] malikhokhar commented on #8549
@thlassche Thank you. I tried searching but did not find any solution for this. Yes that was the problem.

I had to remove ; from there and default value was enough to handle it i.e. max_input_vars = 10000

Thanks Once Again.

[2017-02-14 15:56] pboisvert commented on #8541
Going to need you to add more info here. Please follow the reporting guidelines and specify system information as well as full steps to reproduce including the settings for the cart price rule and the coupon. This info is needed to reproduce the configurations to try and reproduce the error.

[2017-02-14 15:57] Morgon commented on #3507
@thdoan - Actually, do you have Profiling enabled in this affected dev environment? I've noticed that the 'Something went wrong' happens with Admin AJAX requests when Profiling is enabled. A related issue is being tracked in #7068

[2017-02-14 15:59] vzabaznov commented on #8536
@crtsl i've just checked this functionality on 2.1.4 CE version and find that all works as expected, let me show you my steps:

**Pre-conditions**:
1. Simple product is created
2. PayPal express checkout is configured with all needed Api data, Enable PayPal Credit - disabled, In Advanced settings 'Payment Applicable From' - 'Specific Countries', Countries Payment Applicable From - e.x. Afghanistan

[2017-02-14 16:05] mrk-i opened #8550 "SQL statment at the top of my page for product pages"
### Preconditions

1. Ubuntu 16.04 LTS
2.  aws RDS MySQL 5.6.27

### Steps to reproduce

1.  log as root
2.  bin/magento deploy:mode:set developer
3. bin/magento maintenance:enable
4. bin/magento deploy:mode:set production

### Expected result

1.  there shouldn't be a SQL query on the top of my product pages:

### Actual result

1. <link  rel="shortcut icon" type="image/x-icon" href="https://www.

[2017-02-14 16:24] vzabaznov commented on #8534
Hi @lfritsche i've just checked your bug and find out that this is German locale puck problem -
just look at https://raw.githubusercontent.com/splendidinternet/Magento2_German_LocalePack_de_DE/master/de_DE.csv and find phrase 'ui/grid/filters/elements/select,' you will see that translation for this with redundant spaces - 'UI / Raster/ Filter / Elemente / Auswählen'

Not sure about folder translat

[2017-02-14 17:09] astorm commented on #3507
It's worth noting that there are two distinct problems here.   The first: Magento ships with code that triggers these `CRITICAL` log messages.  I just installed Magento CE 2.1.4 via the composer `create-project` method, turned on developed mode, and when I load and then refresh the admin page, I get the following in my logs

    [2017-02-14 16:59:25] main.CRITICAL: Broken reference: the 'header' t

[2017-02-14 17:30] pradeep-agnihotri commented on #7886
This issue is still present in Magento 2.1.3, both Community & Enterprise.
It can be seen that the Additional Image and the Base Image both have same position "1" in the table 'catalog_product_entity_media_gallery_value'.

Currently the only workaround is to update the value directly in the Database or via Admin Panel. There is not an option to specify the position during the import.

[2017-02-14 18:08] pguedesbr commented on #3507
Great answer,  @astorm !
Long story short, this issue should've  been marked as acknowledged long time ago by Magento team.

[2017-02-14 19:05] dhanjugopi commented on #8372
Same issue in 2.1.4 too

[2017-02-14 19:05] samthecarman commented on #7067
Hi, Does anyone know how to initialize the popup JS?

[2017-02-14 19:19] sydekumf opened #8552 "CSS Minifying not compatible with CSS3 calc() function"
### Preconditions
1. I use Magento 2.1.4 and the following extension: https://github.com/Magenerds/PageDesigner
2. CSS Minifying and Merging is enabled in system configuration

### Steps to reproduce
1. Install the extension mentioned above OR inject your own CSS using [calc()](http://caniuse.com/#search=calc). You can [see here](https://github.com/Magenerds/PageDesigner/blob/master/view/adminhtml

[2017-02-14 19:28] azeemism opened #8553 "[2.1.3 CE] Uses per Coupon = 1, Not Honored"
Automatically Generated Coupons do not correctly honor `Uses per Coupon` setting.

As requested in #8310 , I have created a new ticket here for the second issue.

### Preconditions

1. Composer upgrade Magento 2.1.2 CE  --> 2.1.3 CE
2.
[code]
3.
[code]
4.
[code]
5.
[code]
6.
[code]
7.
[code]

### Steps to reproduce

1. Create a cart price rule with: several auto generated coupons; with a prefix of

[2017-02-14 19:30] sippsolutions commented on #8552
Can be reproduced. The magento minifying process seems to remove whitespace inside the calc()-statement.

[2017-02-14 19:35] azeemism commented on #8310
@veloraven Thanks for your comment. I have moved the second issue to ticket #8553 and have reformatted issue 1 in this ticket per your guidelines. Thanks for your support.

Automatically Generated Coupons do not correctly honor `Uses per Customer` setting.

### Preconditions

1. Composer upgrade Magento 2.1.2 CE  --> 2.1.3 CE
2.
[code]
3.
[code]
4.
[code]
5.
[code]
6.
[code]
7.
[code]

### Steps t

[2017-02-14 19:52] josh-- commented on #6875
I ran into this issue, as well. saw the corresponding patch in the other issue #6564. However that didn't work either.

after digging in it looks like a typo of sorts in Magento_Customer/js/address-converter.js

changing
[code]
to  (notice: regionId vs region_id)
[code]
resolved it for now

[2017-02-14 20:31] jonathanribas commented on #7217
@hezide this issue still exists in 2.1.4, have you managed a way to correct it?

[2017-02-14 20:52] ghost commented on #4546
Same with ver. 2.1.4. Stopped working after I added a modulo using the CLI.
Failed to load resource: the server responded with a status of 500 (Internal Server Error)

[2017-02-14 21:12] ctadlock commented on #6073
@alena-marchenko Please reopen this issue

[2017-02-14 21:12] bka opened #8554 "PageCache: async rendering of blocks can corrupt layout cache"
Hi folks,

I disovered a potential bug regarding the layout cache which leads to a blank page. If this happens, customers may see a white page without any hmtl inside the body tags. It might be related to #6942, although there is no php-fpm or libxml in the game here.

### Preconditions
1. Tested on Magento 2.1.0 CE and 2.1.4 CE

### Steps to reproduce
1. ```bin/magento cache:clean```
2. ```curl -

[2017-02-14 21:38] maksek commented on #5509
@jonathanribas i am working on make it more transparent and publish our schedule and scope. For now 2.1.5 will be copyright, 2.1.6 security and 2.1.7 will have bugfixing.

[2017-02-14 21:43] jonathanribas commented on #5509
@maksek thank you, waiting for it!

[2017-02-14 21:47] annhudspeth commented on #8522
Thanks for the callout - I agree that this is a problem and will pass this along to PM to fix.

[2017-02-14 21:51] azeemism commented on #8310
Magento 2.1.4 CE also has the same issue

[2017-02-14 21:56] cproach commented on #6671
I had the same issue and, after troubleshooting, I found that a product was imported and that the url_rewrite table didn't convert the request_path value to lowercase. When the category, or product, was saved it ran into an integrity constraint violation and was unable to create the correct, converted to lowercase entry. After manually changing the value in the database everything worked just fine

[2017-02-14 22:35] audexpro commented on #6710
Please correct this bug, please please...

[2017-02-14 22:40] Silarn commented on #5332
I believe this has been fixed by MAGETWO-60996 but has yet to be merged into a release.

[2017-02-14 23:17] kamaleshdubey opened #8555 "Error while trying to access Store > Configuration"
### Preconditions

1. Magento CE v2.1.4
2.

### Steps to reproduce

1. Log into Magento 2 Admin.
2. Click on Stores > Configuration.
3.

### Expected result

1. The Stores Configuration page should be displayed.

### Actual result

1. An error page is displayed with the following message: "Notice: Undefined index: id in //vendor/magento/module-config/Model/Config/Structure/Element/Iterator.php on

[2017-02-15 02:19] thdoan commented on #3507
Thanks @astorm , glad to know they're not related. For the record, I'm only seeing the admin issue when I go to edit a product, nowhere else, and it does NOT help that Magento's error message is so nondescript.

[2017-02-15 05:41] atul88 opened #8556 ""customer_index_index: Please correct the XML data and try again" in backend Magento 2"
Magento2 version - 2.1.4
PHP-7.0.15
MySql - 5.6.33

Steps -
1 - I have created custom customer attribute by using new module and execute our module using setup:uprade . It executed and newly attribute created and showing in eav_attribute table.
2 - As I have setted to show newly created attribute in two form -  'adminhtml_customer', 'customer_account_create'. So, attribute respective entry showing

[2017-02-15 06:12] erfanimani commented on #6818
It's still happening on 2.14..

[2017-02-15 06:21] thdoan opened #8557 "Admin custom settings not moved properly"
### Preconditions

1. Magento 2.1.2
2.

### Steps to reproduce

1. Create custom settings in system.xml
2. Enter some value and save the custom settings.
3. Create a new `<group>` and move one of the `<field>` elements from step 1 into this group.

### Expected result

1. On the admin site the field should be moved from one group to the other.

### Actual result

1. The field is duplicated instead

[2017-02-15 06:26] bpoiss commented on #6671
Is this issue fixed with 2.1.4?

[2017-02-15 06:28] bacd opened #8558 "All products are redirecting to 404 eror page in magento 2.0"
When I click on products in home page of my website, it is redirecting to some error page i.e u have typed wrong url. I am using magento 2.0. I am getting same error for all products. How to resolve it?????

but all products are displayed in categories as well as home page.

[2017-02-15 07:04] netfarma commented on #6671
Magento 2.1.4 -problem is still not resolved.

[2017-02-15 08:07] lfritsche commented on #8534
Hi @vzabaznov thank you for diving deeper into my issue!
I just reported the bug to splendidinternet to delete the line.
https://github.com/splendidinternet/Magento2_German_LocalePack_de_DE/issues/61

[2017-02-15 08:07] #8534 closed, assigned to nobody

[2017-02-15 08:16] macgus62 commented on #3209
Thanks sclubricants! This works for me.

[2017-02-15 08:24] cscd98 commented on #3507
I totally agree, these messages should have been fixed a long time ago. Get it fixed Magento. It's over 1 year since release!

[2017-02-15 08:30] kamleshyaduwanshi opened #8559 "Docker Magento 2.1.4 Custom Theme not showing in the admin - big issue"
Hello World!

I am working on the Magento 2.1.4 with docker setup, and getting a big issue while creating a custom theme. I am 100% sure that I am adding composer.json, registration.php and theme.xml with the very proper manner as described in the docs.

I am experience following issues:
1. The issue is that the custom theme not showing in the admin section to configure.
2. Under pub folder 'stati

[2017-02-15 08:59] YevSent commented on #8522
Hi, @rosandrest, thanks for reporting, I've created internal ticket MAGETWO-64654.

[2017-02-15 09:16] qwerty7869 commented on #6175
I am also facing the same issue. Is this issue had been fixed?

[2017-02-15 09:28] joost-florijn-kega opened #8560 "Product name not shown in message when trying to add more products to cart then there are in stock"
### Preconditions
1. Magento 2.1.x

### Steps to reproduce
1. Set the stock of a product to 20.
2. Add the same product to the cart with qty greater then 20.

### Expected result
1. A message saying 'We don't have as many "<product_name>" as you requested'.

### Actual result
1. ![error_when_trying_to_add_more_products_then_there_are_in_stock](https://cloud.githubusercontent.com/assets/16535591/22

[2017-02-15 09:37] Marko-M commented on #6175
Marked as feature/improvement request therefore closed. Nevertheless still an issue within Magento 2.1.4 codebase:

https://github.com/magento/magento2/blob/2.1.4/lib/internal/Magento/Framework/Url.php#L364-L366

[2017-02-15 09:43] qwerty7869 commented on #6175
Ok, but in feature/improvement request also it is not resolved. This is a very disappointment thing that such a basic functionality is also not working.

[2017-02-15 09:47] Me7z opened #8561 "Multiple Copy To Addresses"
I wanted to add multiple Copy To Mail Adresses for order confirmation. Magento only takes the first one the others are ignored. Any idea why this is happening ?

[2017-02-15 10:08] bacd commented on #8558
I am currently adding products to and configuring a Magento 2 . As such I made each product a configurable product with size , and each variation has a different assigned price. The price is changed in the product page when a combination of these attributes is selected, but not in the category page i.e store front. What can I do to remedy this

[2017-02-15 10:52] webdesk opened #8563 "Transaction Emails are not working for few customers"
The store will not send the order transaction email for the few customers and be working for the few customers. I did not get why this happen.

A customer order is placed successfully with the eWay payment method and generated invoice but a customer will not receive the order confirmation email but strange this will happen for the few orders only.

Also, I have confirmed with the customers and mak

[2017-02-15 10:56] vzabaznov commented on #8555
Hi @kamaleshdubey, I've checked this issue and all works correct, seems like you don't install Magento properly, please be sure that all dependencies installed

[2017-02-15 11:16] piatrouski opened #8564 "Provide more details for "URL key for specified store already exists." error"
### Expected result
1. Display a more detailed error message like "Integrity constraint violation: 1062 Duplicate entry 'blah-blah.html-3' for key 'URL_REWRITE_REQUEST_PATH_STORE_ID'"

### Actual result
1. URL key for specified store already exists.

[2017-02-15 11:21] orlangur commented on #5967
@viktor-zhuromskyy, nice finding, but closed issues are most likely not monitored by Magento folks. Please report a new one if it is still relevant.

[2017-02-15 11:35] maghamed commented on #5967
issue is reopened based on @viktor-zhuromskyy  reply

[2017-02-15 11:45] malikt commented on #8544
thanks, issue was resolved.

[2017-02-15 11:45] #8544 closed, assigned to nobody

[2017-02-15 11:53] Me7z opened #8565 "State / Provinz is required"
The config for state / Province doesn't matter for customer addresses in Backend. The information has to been set every time i save a customer address. Any idea why this is happening ?

[2017-02-15 11:57] orlangur commented on #7122
Ping @maghamed :)

[2017-02-15 12:18] kamleshyaduwanshi commented on #8559
Also I have run the static content deploy, flush magento catche, magento setup upgrade, re run compile etc.
It seems the big issue in this version?

[2017-02-15 12:19] eduard-kistner commented on #4955
I am currently having an similar problem with database upgrade on deployment to an ( stage ) environment which runs in production mode.

When i run `bin/magento setup:upgrade --keep-generated` the system wont do anything than throwing this:

  Missing write permissions to the following paths:
  /var/www/html/src/app/etc/env.php

Man, i just want ( need ) an DB Upgrade, otherwise Magento wont run t

[2017-02-15 12:28] voleye commented on #8556
Hi @atul88, I see an error `PHP Fatal error:  Call to undefined method Magento\Config\Model\Config\Source\Yesno::setAttribute() in .../app/code/Magento/Eav/Model/Entity/Attribute/AbstractAttribute.php on line 547`

Try to replace `Magento\Config\Model\Config\Source\Yesno` to `Magento\Eav\Model\Entity\Attribute\Source\Boolean`

[2017-02-15 12:45] EspertoMagento commented on #6575
@Bartlomiejsz have you used extension_attributes?
and what function have you used in the observer for save the attribute in the database?

[2017-02-15 12:45] cmuench commented on #6960
Any updates here? We have the same problem with a valid the german VAT.
If i remove the "DE" prefix it passes the validation. After the validation the "DE" prefix is automatically prepended. If i save my billing address again in the customer area the validation fails again.

[2017-02-15 12:47] shwetabha commented on #2468
In magento2, Take care of commenting in interface page. If you just add function without comment param type. It will return error. Example - interface AuthInterface {
/**
* Test function
*
* @api
* @param $param string
* @return string
*/
public function test(); } You have to add the return type in comment section

[2017-02-15 12:55] PascalBrouwers commented on #4876
Any idea when https://github.com/magento/magento2/pull/7041 can be merged to solve this issue? I can confirm that this solves the issue for me as well.
@vrann could you get this issue going again?

[2017-02-15 13:18] hostep commented on #8264
@miakusha: ok if I close this issue, since it looks like this is a duplicate of https://github.com/magento/magento2/issues/4876 and https://github.com/magento/magento2/issues/7040, correct?

[2017-02-15 13:49] orlangur commented on #3507
Viable implementation approach is described [here](https://github.com/magento/magento2/issues/5627#issuecomment-279440749). #5627 could be closed in favor of this one with proper linking of MAGETWO-42812.

[2017-02-15 14:25] abhisheks4 commented on #5602
When you are adding or editing product then Go to Design section and change layout option from no layout option to 1 column.

[2017-02-15 14:46] ludwig-gramberg commented on #4955
@eduard-kistner yes, it is frustrating, which is why I wrote my own upgrade command which skips the file-checks

[2017-02-15 14:48] ludwig-gramberg commented on #4955
also, see this ticket: https://github.com/magento/magento2/issues/7933

[2017-02-15 15:14] eduard-kistner commented on #4955
@ludwig-gramberg thanks for the information and the corresponding issue.
Will check what they did and if its in 2.1.4 ( maybe you already know ? ).

[2017-02-15 15:16] koenner01 opened #8566 "Setting 'show_out_of_stock' to 'No' has no effect"
Setting the value of 'Display Out of Stock Products' in the backend to 'No' does not have the effect desired. If you set this to 'No' you would expect that only products that are in stock are shown.

### Preconditions
1. PHP7.0
2. Checked in both MG2.1.3 CE and MG2.1.4 CE

### Steps to reproduce
1. Create a configurable product and set itself and all associated simples to out of stock
2. Set the v

[2017-02-15 15:23] tonybrown85 opened #8567 "Magento Importer Issues - Bundle Products won't import with Quantities"
### Preconditions

1. Magento Version 2.1.4
2. Nginx 1.10, PHP 7, MySQL 5.7 on Ubuntu 16.04 Server

### Steps to reproduce

1. Go to System > Import
2. Check Import Data (All Data Rows Valid without issues)
3. Run Import then reindex
4. Go to Catalog page to check bundle products and all products have a quantity of zero

### Expected result

1. It should import the quantities as per the spreadshee

[2017-02-15 15:55] surfer190 commented on #1452
What is the fix here? I am facing the same problem on data migrated from magento 1 to magento 2

[2017-02-15 16:19] orlangur commented on #8566
`git blame` shows it was introduced in https://github.com/magento/magento2/commit/c966dc171b2a18cea3ff36ad545d8810441d3a83 and this flag probably exists in another edition only (thus should be treated as always `true` here).

[2017-02-15 16:54] asadyar commented on #5247
I tested it with Magento 2.1.3 (with and without sample data) on Apache and NGINX (NGINX with sample configuration)

Results:
Apache:
Web Setup Wizard link is available under tools - but always gives errors. so cannot install extensions or upgrade

NGINX:
Web Setup Wizard link is missing. If I manually type setup link in address bar
e.g. www.example.com/setup/#/home
 it redirects to www.example.co

[2017-02-15 16:54] TommyKolkman commented on #7167
I need this too, on 2.1.3! Anyone has a fix himself?!

[2017-02-15 17:01] anujeetphj opened #8569 "Magento compatibilty issues with PHP 7.1"
My Magento version is 2.1.3
Php version 7.1.1

At first place when I installed Magento with PHP 7.1 ut does not give any errors. But suddenly from today there are warnings coming for depreciatesd functions specifically (mcrypt/mdecrypt) functions in Magento/framework...Crypt.PHP file. If it doesn't support a certain PHP verSion, why didn't it give me warning in the first place while installation?

[2017-02-15 17:04] maksek commented on #7815
Internal issue - MAGETWO-62500

[2017-02-15 17:05] maksek commented on #6175
Internal ticket MAGETWO-62500

[2017-02-15 17:07] JstrzAtW2M commented on #8477
We have clients that pull in products from a third party and they don't receive categories. The categories are added manually and never shown on the site. There are filter dropdowns used on the home page to then find the products. Also, the pages have paging so they don't return all 10,000 or 5000 etc products all at once but only a subset. We've used this in Magento 1 and it worked.

We've notice

[2017-02-15 17:10] choukalos commented on #8528
This is not a bug.  Please set your shipping origin (Store->Configuration->Sales->Shipping Settings->Origin) to the same location as your store.  Then make sure you have a valid rule and tax rate for your store's location.  Then Magento will interpret the catalog tax rate as the same tax rate as the store's tax rate.

[2017-02-15 17:10] #8528 closed, assigned to nobody

[2017-02-15 17:15] orlangur commented on #8569
According to https://github.com/magento/magento2/blob/develop/composer.json#L11 you should not be able to install :) Is there a bug in installer or you did some `composer install --ignore-platform-reqs` ?

Most likely you changed `display_errors` setting. This could be suppressed by something like https://github.com/magento/magento2/issues/5880#issuecomment-268316245.

There are a bunch of issues

[2017-02-15 17:17] orlangur commented on #5880
@joshspivey,

Only if you don't need to void invoice/credit memo :)

[2017-02-15 17:17] anujeetphj commented on #8569
That's strange.

Completely fed up from Magento2

With Best Regards

Anujeet Kaur

On 15 Feb 2017 10:45 p.m., "Vlad Veselov" <notifications@github.com> wrote:

[2017-02-15 17:19] choukalos commented on #8549
Closing not a bug; configuration.

[2017-02-15 17:19] #8549 closed, assigned to nobody

[2017-02-15 17:22] anujeetphj commented on #8569
I'm having Magento 2.1.3

If you see

"name": "magento/magento2ce",
    "description": "Magento 2 (Community Edition)",
    "type": "project",
    "version": "2.2.0-dev",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],

Its for Magento 2.2.0

With Best Regards

Anujeet Kaur

On 15 Feb 2017 10:47 p.m., "Anujeet kaur Pahuja" <anujeetphj@gmail.com>
wrote:

[2017-02-15 17:24] orlangur commented on #8569
@anujeetphj any reason to use PHP 7.1 instead of 7.0 at the moment?

[2017-02-15 17:25] orlangur commented on #8569
I don't see `require` section in your `composer.json`, here is the correct one: https://github.com/magento/magento2/blob/develop/composer.json

2.2.0 is not released yet by the way, only available in dev branch.

[2017-02-15 17:27] anujeetphj commented on #8569
I'm using Opensuse 42.1 Leap operating system and I faced great
difficulties while installing your specified versions 7.0.2, 7.0.4 , 7.06

These are unstable for openSUSE Leap 42.1

With Best Regards

Anujeet Kaur

On 15 Feb 2017 10:54 p.m., "Vlad Veselov" <notifications@github.com> wrote:

[2017-02-15 17:27] orlangur commented on #8569
For 2.1.3 PHP 7.1 should not pass system requirements check too: https://github.com/magento/magento2/blob/2.1.3/composer.json#L11

[2017-02-15 17:29] orlangur commented on #8569
Not 7.0.6 is recommended, but 7.0.6 _and higher_. Any version higher than 7.0.6 in 7.0.x will pass `~7.0.6` constraint.

[2017-02-15 17:29] anujeetphj commented on #8569
I will check the composer.JSON at my end and will update the issue with the
relevant code. So that issue can be resolved.

With Best Regards

Anujeet Kaur

On 15 Feb 2017 10:57 p.m., "Anujeet kaur Pahuja" <anujeetphj@gmail.com>
wrote:

[2017-02-15 17:48] mbrinton01 commented on #8558
Hello @bacd. Please use GitHub for bug reports only. For your first question about products on the home page, please post on the Magento 2 [Forums](https://community.magento.com/t5/Core-Technology-Magento-2/ct-p/Magento-2).  The second question is a duplicate of #3150, so I am closing this issue.

[2017-02-15 17:48] #8558 closed, assigned to nobody

[2017-02-15 17:51] mbrinton01 commented on #8565
Closing as duplicate of already reported issue #8152.  Thank you for your submission!

[2017-02-15 17:51] #8565 closed, assigned to nobody

[2017-02-15 18:25] Tapin1 commented on #8452
No one has similar bug?

[2017-02-15 18:28] kamaleshdubey commented on #8555
@vzabaznov where did you check this issue? I have had to uninstall Magento due to this and other very weird and unexpected happenings (all very frustrating I can assure you) which even a young platform like Grav does not suffer from.

[2017-02-15 19:37] asadyar opened #8570 "Cannot change price in Update Attribute when currency symbol is changed to USD or CAD"
Cannot change price in Update Attribute when currency symbol is changed to USD$ or CAD$ tested this issue with Magento 2.1.3 and 2.1.4 both has this issue.

### Preconditions
1. Change Currency Symbols to USD$ or CAD $ or CA$ in Stores > Currency > Currency Symbols

### Steps to reproduce
2. Products > Inventory > Catalog
3. Select few product for which you want to change price and special price.

[2017-02-15 19:44] asadyar commented on #8570
Experienced the same in Google Chrome and Firefox.

[2017-02-15 19:48] danielruedaa commented on #8075
i created module payment with the tool http://cedcommerce.com/magento-2-module-creator/payment-module
When the purchase order is finished the payment module must redirect to the page to process the payment but generates this error
Fatal error: Call to a member function getMethodInstance() on null in /var/www/html/magento/medishop/vendor/magento/module-payment/Observer/SalesOrderBeforeSaveObserver.

[2017-02-15 20:41] m0zziter commented on #1146
Also registering interest in this issue.

[2017-02-15 20:56] cbartak-rivet opened #8571 "OrderRepositoryInterface::get only returns orders from store 1"
Orders placed from the primary storefront can be retrieved via the sales API, by calling \Magento\Sales\Api\OrderRepositoryInterface::get($orderId), while orders placed from another storefront cannot. Error is:

 [Magento\Framework\Exception\NoSuchEntityException]
  Requested entity doesn't exist

# Preconditions

1. Magento 2.1.4
2. PHP 5.6.30

### Steps to reproduce

1. Place an order from any s

[2017-02-15 21:07] cbartak-rivet commented on #8571
My mistake - I was passing increment ID instead of order ID.

[2017-02-15 21:07] #8571 closed, assigned to nobody

[2017-02-15 22:03] henk-hypershop commented on #6331
Same here. Added custom theme, made some changes to catalog_product_view.xml and video is not working anymore. Why close this issue when this has not been fixed yet?

[2017-02-15 22:10] id-mitchell commented on #6683
Thanks for your work @robbanl - I might do something similar, but I'm trying to decide if the `updated_at` timestamp should be updated when a product goes from in-stock to out of stock? Does anybody know if this is the correct / expected behavior? I'm fairly certain the timestamp should NOT be affected by inventory changing (that would be expensive and make the timestamp somewhat worthless), but i

[2017-02-15 22:10] henk-hypershop opened #8572 "Product page video not working on custom theme"
### Preconditions
1. Magento CE 2.1.3 & CE 2.1.4
2. PHP 7

### Steps to reproduce
1. Add product video the usual way
2. Create custom catalog_product_view.xml with some modifications (moved elements, new containers etc.)

### Expected result

1. Video will load the correct way.

### Actual result

1. Video will not show, only placeholder is shown
![screen shot 2017-02-15 at 23 10 07](https://cloud

[2017-02-15 22:29] develpr commented on #6683
I'd also really like to know what the status / future is of this issue, or have some sort of patch provided. Also does anybody happen to know if a product going out of stock would generally update this timestamp? I'm sure that quantity updates would NOT cause an update, but stock status change would perhaps?

[2017-02-15 23:15] bka commented on #8554
Ok, I did some debugging. It seems to only affect CMS pages and is related to the way how `Magento_PageCache` module works. This module renders a script into the DOM to fetch some blocks asynchronously.

    <script type="text/x-magento-init">
        {
            "body": {
                "pageCache": {"url":"http:\/\/magento2.local\/index.php\/page_cache\/block\/render\/","handles":["default","

[2017-02-16 00:04] jpcsguru commented on #5352
Why is this issue closed? This issue is not solved in 2.1.4.

[2017-02-16 01:48] makanaashish commented on #6331
I am facing the same issue, i have installed porto theme and the site is on Magento CE 2.1.1 and the video doesn't appear on the product page

[2017-02-16 01:52] teokolo commented on #5279
Magento 2.1.4 (updated from 2.0.8), problem still present.

Steps to reproduce:

1. Set "Default Country": Italy
2. Set "State is Required for": Italy
3. Add products to cart
4. Go to checkout (checkout only for registered users)
5. Click on CREATE ACCOUNT, fill required fields
6. Go on with checkout: State/Province field is not required

Screenshot
![province-bug](https://cloud.githubusercontent.

[2017-02-16 02:24] kgeiger310 commented on #5247
Clean install of Magento 2.1.3 - Web Setup Wizard  redirects to  www.example.com/setup/index.php/session/unlogin#/home on Chrome, but I was able to access setup wizard on Firefox.

[2017-02-16 02:49] rendyep commented on #8542
Hi @korostii, thanks for the links.

Here is what I got when I dumped the errors: [DOMDocument::schemaValidate(): Invalid Schema](https://gist.github.com/rendyep/c00a8e90067c772f9849a6d680e92f6c)

Could you give a check and inspect why is the error triggered?

[2017-02-16 06:08] astorm commented on #2540
@rgoncharuk This still feels like a bug.  While @EridianBrian and @jmg were able to "fix" this by deleting the tokens in `oauth_token`, the system shouldn't get in a state when failure to successfully  complete the request token process results in an unusable integration.

i.e.

1. System Owner (either directly or via a module) creates an integration, listed in `Stores -> Integration`
2. System ow

[2017-02-16 06:47] rishabhrkrai commented on #5711
Experiencing the same issue here.
After some R&D, i found that the new page somehow is only added to the cms_page table but not cms_page_store. If I manually add the relationship in cms_page_store, the page loads.
This issues is due to "Single Store Mode". If you enable the Single Store Mode, this problem exists. Disable Single Store Mode from **Store > Configuration > General > General > Single S

[2017-02-16 06:52] dhduc commented on #3890
The simple solution I've used is disable caching of the Recently Viewed block by PageCache module.
I just set **cacheable="false"** for the block as below:

[code]

It's working for me perfectly.

[2017-02-16 07:32] apurv-anand commented on #8426
We have the same problem: Warning: Illegal string offset 'price_qty' in /opt/bitnami/apps/magento/htdocs/vendor/magento/module-catalog/Model/Product/Attribute/Backend/Tierprice.php on line 74

Please provide a solution and provide a workaround meanwhile.

[2017-02-16 07:35] apurv-anand commented on #8299
We also have the same issue. What is the workaround, how is the issue solved?
Can you translate the comment to better English? I cannot make sense out of it.

@kathytrac  "I dont have this problem anymore, after deleting some per cvs imported products, whose sku not normal are ( that means their long sku consist of distance )."

[2017-02-16 07:50] avoelkl commented on #8504
Hi @maderlock,
Do you think it is enough if the output of the X-Frame Options header can disabled or is there also the need to set the `ALLOW-FROM` Directive as well?

`X-Frame-Options: ALLOW-FROM https://example.com/`.

The biggest risk I see is people disabling the 'X-Frame-Options' header by accident because they copy env.php settings from anywhere on the internet without knowing what it does.

[2017-02-16 08:06] avoelkl commented on #8436
Hi,
I just tested the password reset function for an admin user with Magento CE ver. 2.1.3 and it worked fine.

Which version of Magento 2 are you using?

[2017-02-16 08:08] shinesoftware commented on #8436
The latest devel release has fixed the issue.
I am using the development version of the Magento 2.

[2017-02-16 08:08] #8436 closed, assigned to nobody

[2017-02-16 08:09] PieterCappelle commented on #8018
I can confirm this bug is also in Magento CE 2.1.4.

[2017-02-16 08:12] kathytrac commented on #8299
You should check your imported products , if there are some special sku . For example, sku = abc  09   because there is a blank between abc and 09. That may cause error. Then you should delete all of these sku (manuel or with cvs ) . Then you will not have this error more . You should edit these sku to let them have no blank . Sorry for my english if you dont understand.

[2017-02-16 08:45] tranductrong92 commented on #8426
@apurv-anand you can try this code:
[code]
OR:
[code]

Notes:
[code]

[2017-02-16 08:47] jingseow commented on #8309
Hi guys, is there any interim solution to this? This is a pretty big roadblock for one of our site launch.

[2017-02-16 08:56] YevSent commented on #8309
@jingseow, this issue is fixed in Magento 2.1.4 version.

[2017-02-16 08:56] #8309 closed, assigned to nobody

[2017-02-16 09:35] eTonki commented on #8452
I have the same problem on Magento CE 2.1.4
Someone has solved the problem?

Might be some external extension installed?
If you put a list of your extensions I can see if we have some the same and try to turn it off.

Hello

[2017-02-16 10:18] mfutselaar commented on #5844
Has this issue been resolved yet, or is it going to be resolved? I feel it's still around in 2.1.3.

- Tax in checkout is zero when I add a grouped product
- I add a simple product to the cart, tax is added to the totals
- The added tax is the tax for the simple products only, it doesn't include the grouped products

[2017-02-16 10:24] heldchen commented on #5844
as far as I see it's not resolved.

[2017-02-16 10:31] kervin commented on #5664
I found the bug.

It is in class \Magento\PricePermissions\Helper\Data, method getCanAdminEditProductStatus()

It does not check if there is a session or a role. In magento 1, it was done in the following way, but it was not ported to magento2.

Or it can be fixed in class Magento\PricePermissions\Observer, method execute()

[code]

Magento 1, class: Enterprise_PricePermissions_Model_Observer, met

[2017-02-16 10:31] schmengler commented on #7351
In Magento 1 it was possible to disable escaping for the whole message block with [setEscapeMessageFlag()](https://github.com/OpenMage/magento-mirror/blob/magento-1.9/app/code/core/Mage/Core/Block/Messages.php#L89-L93)

Security-wise it is good that this has been removed, but instead it should be possible to set such a flag for individual messages.

I'm currently trying to implement something with

[2017-02-16 10:36] PieterCappelle commented on #7351
@schmengler Are you creating PR? I'm happy to help you.

[2017-02-16 10:37] kamleshyaduwanshi commented on #2976
I am facing similar issue, any update on this?

[2017-02-16 10:40] mpont91 commented on #5775
Any update of this?

[2017-02-16 10:46] jalogut commented on #7869
I can confirm that adding the rewrite Nginx configuration fixes the issue. Thanks @careys7 and @jmonschke

[2017-02-16 10:52] vipinroy commented on #8350
Hello,
Any updates about this issue?

[2017-02-16 11:41] minlare commented on #7617
For me it breaks when using Database Media Storage, if I change to Filesystem storage the upload works fine.

[2017-02-16 11:48] Styopchik commented on #4545
Issue still present in 2.1.3

[2017-02-16 12:05] #8567 closed, assigned to nobody

[2017-02-16 12:05] sandraweb opened #8573 "zoom on laptop touch screen on chrome"
on laptop touch screens using google chrome - the zoom in product page is not working as desktop zoom like other browsers

### Preconditions

1.
2.

### Steps to reproduce

1. go to product page on a touch screen laptop
2. use google chrome browser
3.

### Expected result

1. shoul show the zoom as regular zoom on other desktop an browsers

### Actual result

instead it acts like im on mobile and

[2017-02-16 12:31] apurv-anand commented on #8299
Thanks for reply @kathytrac . We dont have spaces between the SKU names. Also looking at the error, I dont think that should be causing the offset issue. I would want Magento team to look at it, but this ticket is closed even though others are still facing problem around it. I hope https://github.com/magento/magento2/issues/8426 will be addressed with bit more relevant solution.

[2017-02-16 12:40] maghamed commented on #8170
@atishgoswami the fix will definetly get into 2.2 (next major product release), there is also a possibility that fix would be back ported to some of  2.1.* releases. The problem why it's not back ported yet is the fix implemented for 2.2 is not backward compatible (database structure has been changed), but according to our policies we could provide just PATCH releases for 2.0.* and 2.1.* which mus

[2017-02-16 12:53] minlare commented on #6382
Any update on this? Still appears to be a bug in 2.1.4

[2017-02-16 12:57] kathytrac commented on #8299
http://devdocs.magento.com/guides/v2.0/install-gde/trouble/php/tshoot_opcache.html
Did you try it ?

[2017-02-16 13:06] schmengler commented on #7351
I found a good solution, built it into a project for now, but a PR will follow

[2017-02-16 13:21] schmengler commented on #7351
for reference, this is how I added the renderer:

Project\Theme\etc\frontend\di.xml
----

[code]

Project\Theme\View\HtmlMessageRenderer.php
---

[code]

Usage
----

[code]

[2017-02-16 14:02] pioneerathletics opened #8574 "Product Gallery Vimeo Videos Don't Play Over HTTPS"
### Preconditions

1. Magento version 2.1.4 CE (PHP- 7.0.13)
2. Base URL set to https

### Steps to reproduce

1. Changed the Base URL to https in order to make the entire site secure
2. Added a product with a Vimeo Video in the product gallery (used https url here as well)

### Expected result

1. Product video should play as it did when base URL was set to http

### Actual result

1. The video w

[2017-02-16 14:12] ajaykrshukla opened #8575 "Tax ID field not saving properly for different stores in Magento 2.1.4."
I am trying to allow tax id field from the configuration section for certain store only, but it is showing this field on registration form even I have disabled for some stores. Please suggest what we can do?

[2017-02-16 14:15] ajaykrshukla opened #8576 "Country dropdown showing 0 as one of the allowed countries for certain store in Magento 2.1.4"
For some unknown reason after I had upgraded to Magento 2.1.4 country dropdown for some allowed countries show one extra option with text 0. Please suggest what can be done as I have checked from the DB config table and it is saving correct data but on country dropdown it has this issue.

[2017-02-16 14:23] maghamed commented on #2312
gonna be fixed as soon as PR [#7307](https://github.com/magento/magento2/pull/7307) would be merged into mainline

[2017-02-16 14:24] avoelkl commented on #8576
Hi @ajaykrshukla, where does the extra option with text 0 show up? In the frontend? Only in the backend? For customer addresses in the customer account, during checkout,....?
Can you maybe also add a screenshot?

[2017-02-16 14:24] EmilyPepperman commented on #8576
We are updating to 2.1.4 today... so want to check we don't have this issue as well. Thanks!

[2017-02-16 14:31] nobodyfamouz commented on #2705
We are having the same issue as nobuttsalex. Any ideas?

[2017-02-16 14:31] syno-dlr opened #8577 "Impossible to unselect a multiselect attribute on products"
Hello all,

### Preconditions
1. Install Magento 2
2. Create a product with a multiselect attribute AND selected values.
3. Save It

### Steps to reproduce
1. Unselect ALL values
2. Save product again

### Expected result
1. All values should be unselected.

### Actual result
1. Previous values are still selected.

I create a Pull Request now to fix it.

[2017-02-16 14:59] henk-hypershop commented on #5352
Still not solved! Why can't this be fixed? Issue is active since a while.

[2017-02-16 15:14] andreaschiffo commented on #5352
@sevos1984 please reopen

[2017-02-16 15:19] stasleo opened #8579 "Can't delete item from cart is customer was deleted"
### Preconditions
1. Magento 2.1.4 CE
2. FPC enabled

### Steps to reproduce
1. Create a user in Magento storefront
2. Add simple product to cart, go to shopping cart
3. Delete this user from Magento admin
4. Refresh shopping cart page
5. Product is still in the cart. Try to remove the product from cart.

### Expected result
1. Product removed

### Actual result
Product not removed. Error "We can'

[2017-02-16 15:20] stasleo commented on #8579
Please also take a look at the header. It displays "Welcome, John" and "Sign in" and "Create an account" links :)

[2017-02-16 15:22] stasleo commented on #8579
Also, when I go to Reports > Abandoned Carts, it displays a record, but I click on it, it shows error "Something went wrong while editing the customer."

[2017-02-16 15:42] orlangur commented on #8579
Because such data is stored in browser local storage.

I'm not sure that this functionality has already been implemented (aka "push notifications triggered by admin changes"). @antonkril, can you share some insight on whether it is implemented/planned in some form?

[2017-02-16 15:46] orlangur commented on #8574
You should see in Dev Tools Console which content was served via HTTP. There would be no error if everything was served via HTTPS in fact.

[2017-02-16 16:08] U12358 opened #8580 "Eav attribute property `backend_table` doesnt work properly"
Organized 20 attributes (`SCOPE_GLOBAL`) in separate table `catalog_product_entity_glob` base on `catalog_product_entity_int`

Try to do EAV reindex.
Seems that reindexer works with `catalog_product_entity_int` table and nothing known about `backend_table` for some attributes.

See screenshot

![screenshot_20170216_175937](https://cloud.githubusercontent.com/assets/813985/23029140/36d52570-f472-11

[2017-02-16 16:10] pioneerathletics commented on #8574
The content served via http is the video player. Even though, the url to Vimeo is https. That's why it is strange that the video is being blocked.

[code]

[2017-02-16 16:31] Tapin1 commented on #8452
No extensions. Default installation
This happens only when child products of configurable set to “visible on search”
If you switch visibility to “Not Visible Individually” – everything works fine

[2017-02-16 18:40] jpratt commented on #8061
We are also seeing this upgrading from 2.1.0 to 2.1.4. The strange thing about it is it seems like a server issue.
We deployed the upgrade to a staging server and the payments worked fine. When we deployed it to production we got the same error as above with no payment methods. We setup another virtual host on our production machine and have the upgraded code isolated there and we are getting paym

[2017-02-16 18:45] avoelkl commented on #8569
Why are you using PHP 7.1 @anujeetphj ?

According to the [DevDocs](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html) it's not supported yet:

[2017-02-16 18:59] azeemism commented on #8314
This also occurs in 2.1.4

[2017-02-16 19:08] cizgidekiadam commented on #8061
Also i tried (2.1.2 to 2.1.4) in totally new server, -not vhost or virtual machine :)- but no change(both developer and production modes).

It seems payment methods view model not working properly.

[2017-02-16 19:12] jpratt commented on #8061
Hope this is addressed ASAP. This is blocking our upgrade deployment. Kind of defeats the purpose of an e-commerce platform if a customer cannot enter payment ;)

[2017-02-16 19:17] ghost commented on #6198
@Asitis If you fixed it like that then you probably have bad data now. An integrity constraint violation means that indexes are off or data is missing. Most likely caused by a module or a update that turns off constraints then data being added in. The only way to fix it is to find the data thats missing turn off constraints then re-add the data back in. If you did a fresh import it will make new i

[2017-02-16 19:48] PieterCappelle commented on #7351
@schmengler Looks good, but it's not really what I want to do. I want to edit the message `"You added %1 to your shopping cart."` to `"You added %1 to your shopping cart. <a href="#">Go to cart</a>."`. In your case I should trigger the event after add to cart and change the message in the messageManager. Is possible, but is this dev-friendly?

[2017-02-16 20:00] maksek commented on #4232
@mhauri 2.1.9 will be sooner. We will share our patch release roadmap soon. 2.1.6 will be security update, 2.1.7 will be fixes. But if the issue will have more votes, it may be sooner than 2.1.9. Use upvoting.

[2017-02-16 21:30] jordanbrauer commented on #7877
I have the same issue with the difference being that I create my base products via REST API from an external DB then manicure the details/information/images, etc in the admin catalog. I also have a cron job that updates the stock/prices via REST API.

This definitely seems to be a bug with however Magento determines which `store_id` a product has while Single-Store Mode is enabled. This could be r

[2017-02-16 21:32] antonkril commented on #8579
@orlangur, not implemented yet, but planned.

[2017-02-16 22:02] 12impress commented on #8337
It looks like this issue, but this is not my solution:
https://github.com/magento/magento2/issues/7862

[2017-02-16 22:11] djfordz commented on #3917
Having same issue
Magento 2.1.3 total products > 80,000
Having issue with product not showing in all categories, but shows oddly in category it is not assigned.

[2017-02-16 22:37] robbanl commented on #7877
@veloraven Any news about this? I think it's a rather big issue...

[2017-02-17 00:12] andreame commented on #8570
also with EUR, same issue on Magento 2.1.4

[2017-02-17 00:25] schmengler commented on #7351
Good point @PieterCappelle , my use case were custom error messages but ideally there should be a way for existing messages as well, but without disabling escaping altogether.

Any idea how an interface for that could look like? I can't think of anything without an event or plugin to change the message, but maybe we can at least make this conversion easier.

[2017-02-17 02:09] pantaoran commented on #3507
Please get this fixed! It's very difficult to detect real problems in the logs when it's spammed with things that can be ignored. @astorm is absolutely right, how can Magento report many CRITICAL errors right out of the box after a fresh install?

[2017-02-17 04:20] ajaykrshukla commented on #8576
@avoelkl I am getting the 0 as one of the option on the frontend registration form and on the my account section address add/edit form.

[2017-02-17 04:42] stephennguyen1803 opened #8583 "Can not edit the copyright footer on magento version 2.1.3"
Copyright on footer is not working
### Preconditions

1. Mangento version 2.1.3
2. PHP Version 7.0.15

### Steps to reproduce

1. go to Content -> Configuration -> Foorter
2. Edit  Copyright
3. Save and clear cache

### Expected result

1. It will display the right copyright (like admin)
http://prntscr.com/e9rmmj

### Actual result

1. But it displays default message
http://prntscr.com/e9rmua

[2017-02-17 06:11] erfanimani commented on #6325
@hostep, I referenced the issue here: https://community.magento.com/t5/forums/editpage/board-id/feature-requests/message-id/2710

Imo it smells like a bug - not for end-users, but definitely for developers wishing to use the layout XML API. Also, you can't even change it with plugins, since `getBillingAddressComponent` is a private method :/

[2017-02-17 07:36] ajaykrshukla opened #8584 "Magento 2 sites not working according to configuration settings."
I am getting weird things on my Magento 2.1.4 site.  Many of my configurations that I had set in the back-end is not working on the front-end accordingly. Also, sometimes the configuration settings for e.g. for payment API get lost when I am trying to save other fields on the page.

Can anyone suggest what I can do so that things work according to configuration?

Thanks

[2017-02-17 07:43] qwerty7869 commented on #6175
Please can anyone tell me how to check the status of internal ticket created MAGETWO-62500.

[2017-02-17 08:19] YevSent commented on #8312
We are closing this issue because it hasn’t been updated in more than two weeks.

If you still can reproduce the issue, please, be free to reopen it.

[2017-02-17 08:19] #8312 closed, assigned to YevSent, alena-marchenko

[2017-02-17 08:44] eTonki commented on #8452
My child products are "Not Visible Individually" and the parent is 'Catalog, Search'.
But the problem I have the same.
The problem disappears if I put the children 'Catalog, Search' and I purchase directly to a child without going through the parent.
How is it possible that the problem have it in a few people?

[2017-02-17 09:07] mhauri opened #8585 "Admin Language Fallback in 2.1.3"
### Preconditions

1. Magento: 2.1.3
2. Application Mode: Production

### Steps to reproduce

1. Login into the Backend/Admin
2. Goto Account Settings and Choose an Interface Locale, like: de_CH
3. Save Account

### Expected result

1. Shows the Backend/Admin with Fallback Language when the selected Language isn't installed/deployed as it was in 2.1.2

### Actual result

1. JS and CSS Resources ar

[2017-02-17 09:30] rganin commented on #8585
Thank you for reporting. Internal ticket: MAGETWO-60631.

[2017-02-17 09:41] Tapin1 commented on #8452
If you buy directly child - no problem
If you buy it from configurable - problem still persist

Guys!!!  URGENT!!! Patch needed!!!
Any suggestions?

[2017-02-17 09:49] tormit commented on #8497
I'm having the same problem.

[2017-02-17 09:56] iivashchenko commented on #7383
@hpatelgit Is it reproduced on PayPal Express Payment Method or you meant other PayPal solution?

[2017-02-17 10:01] vnahalpara opened #8586 "Catalog filter is not display after add custome product_listing.xml in my module"
I am trying to add new column in magento 2.1.3 admin -> Catalog -> Product grid

I used following code to display sale column in product grid

    <?xml version="1.0" encoding="UTF-8"?>

    <listing xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Ui:etc/ui_configuration.xsd">
        <columns name="product_columns" class="Magento\Cat

[2017-02-17 10:08] koenner01 opened #8587 "Magento_Catalog: Image attribute should have different parent class"
Currently the 'Magento\Catalog\Model\Product\Attribute\Frontend\Image' model is inheriting from the abstract class 'Magento\Eav\Model\Entity\Attribute\Frontend\AbstractFrontend'.

The class should inherit from 'Magento\Eav\Model\Entity\Attribute\Frontend\DefaultFrontend' instead (which inherits from the abstract). This would be more consistent with other frontend attributes (like datetime) and mor

[2017-02-17 10:21] OZZlE commented on #1017
It's not really safe to upgrade M2 as the customizations we have made usually break... and then we spend 100-300 hours fixing them again..

It would be really helpful if you could provide patches as well as fixing it on the latest version of magento.. Thank you in advance!

[2017-02-17 10:28] korostii commented on #8564
There might be an argument that these messages might appear in the messages shown in admin  and words like "Integrity constraint violation" might scare an unprepared merchant forcing him to think something went very wrong.
Well, it just did go wrong! And the more information system provides, the better. Unless on some level this exception is processed by changing the URL key automatically, the mes

[2017-02-17 10:35] hpatelgit commented on #7383
@iivashchenko its happens with  PayPal Express.

[2017-02-17 10:37] sparrowek opened #8588 "Checkout shipping method is not preselected"
### Preconditions

1. M2 v2.1.1

### Steps to reproduce

1.  Add items to cart
2. Go to /checkout/cart
3. Select shipping method

### Expected result

1. Method should be selected on Checkout page

### Actual result

1. None of the methods is selected

I found that the window.checkoutConfig.selectedShippingMethod is properly set but the code in checkout-data-resolver.js first sets it correctly lik

[2017-02-17 10:39] fvschie commented on #8280
Any updates?

[2017-02-17 10:52] kanduvisla opened #8590 "M2.1.4 : ArrayBackend cannot save value '0'"
When saving a multiselect attribute with value '0', the value gets not saved.

### Preconditions

1. Magento 2.1.4

### Steps to reproduce

1. Create a mutliselect attribute
2. Set it's source model (in the database to a custom source model.
3. Have this source model return options that have a value of '0'.

For example: a custom source model that returns the list of customer groups including the

[2017-02-17 11:22] maderlock commented on #6201
Any progress on this? We only seem to have a problem when the admin and the frontend are on different URLS, which is the setup we have for larger clients, i.e. the ones who are more likely to be annoyed by being constantly redirected or even logged out.

[2017-02-17 12:16] iivashchenko commented on #7383
@hpatelgit, thank you. That issue caused by the same reasons as [#6296](https://github.com/magento/magento2/issues/6296) .
I've linked it to internal ticket MAGETWO-58676. We already have a fix for it which would be delivered as soon as possible.

[2017-02-17 12:20] manojind commented on #4911
Hello @artificialart  Sir can you please let me know how you fix that ???

[2017-02-17 12:24] johnny-longneck commented on #8104
Having the same problem with 2.1.3.
Fix is highly appreciated. We cannot go live without having this solved.

[2017-02-17 12:33] maderlock commented on #8202
I think that 2.1.3 added in some validation to ensure that multiple matching values were not entered as options. That meant that if duplicates already existed then suddenly you could not save the attribute. The only option is to remove duplicates and then you should be able to save. The good news is that you should not get this issue again because of the additional validation.

[2017-02-17 12:35] ioliinyk commented on #7956
Registered MAGETWO-64822

[2017-02-17 12:36] viktym commented on #7956
Hi @commcad
We've created internal ticket MAGETWO-64822 to address this issue.
Thank you for reporting.

[2017-02-17 12:36] janeblonde commented on #4430
Also looking for a solution

[2017-02-17 12:42] korostii commented on #8555
@kamaleshdubey if you're looking for a more predictable build to base on, I've heard lots of great stuff about Magento's 1.9 branch. Using it might be a wiser choice until 2.x versions get stable enough for production use.
Which, judging by the current pace of bugfixing, may very well take a few more months, easy.

[2017-02-17 13:13] tanghia commented on #2434
still an issue on Magento 2.1.3 and 2.1.4 !

[2017-02-17 13:25] zack6849 opened #8591 "Encrypted scope-specific config values fail to decrypt on PHP7"
It seems that scope based config fails to decrypt data on anything but the default store

We first noticed this when all of our stores apart from the default one failed to process paypal transactions. After further editing of the code so that we could actually see the username and password information being sent to paypal, we discovered the username field is blank, and the password field is garble

[2017-02-17 14:18] amansilla commented on #4785
Still having same issue on Magento 2.1.4 after payment with Paypal Express Checkout returned to the review page although "Skip review Step" is on with the following error message "We can't place the order".

In order to reproduce the problem, take into account that only happens when Paypal is configured with live credentials.

[2017-02-17 14:44] ghost commented on #8536
@vzabaznov I just did some further testing with this.

**Pre-conditions**

Settings:

Stores -> Settings -> Configuration -> General -> General -> Country Options -> Default Country - Canada

Stores -> Settings -> Configuration -> General -> General -> Country Options -> Allow Countries - Canada

Stores -> Settings -> Configuration -> Sales -> Payment Methods -> PayPal All-In-One Payment Solutions

[2017-02-17 15:02] viktym commented on #8313
Hi @twoonesixdigital
We've created internal ticket MAGETWO-64833 to address this issue.
Thank you for reporting.

[2017-02-17 15:11] quagerty opened #8592 "Class Magento\Catalog\Model\Product\Attribute\Backend\Media not found"
### Preconditions

1. 2.1.3 CE

### Steps to reproduce

1. Created multi stores
2. Imported products to default store with images
3. Edit product in backend

### Expected result

1. View the product in admin

### Actual result

1. [Screenshot, logs]
![image](https://cloud.githubusercontent.com/assets/25847347/23070517/31f17566-f523-11e6-9f19-164ca0a0b1f3.png)

[2017-02-17 15:13] magicbunneh commented on #5660
Fix for this issue was merged:
- [magento2/develop](https://github.com/magento/magento2/tree/develop) - repo/branch
- [e82ba2e4a8491ad7b3bad36b2d8cf7e3a5a9883c](https://github.com/magento/magento2/commit/e82ba2e4a8491ad7b3bad36b2d8cf7e3a5a9883c) - commit

[2017-02-17 15:40] sinamiandashti commented on #1782
we need this :( +1

[2017-02-17 16:39] avoelkl commented on #8576
Hi @ajaykrshukla,
I just tried this with a brand new installation of Magento CE 2.1.4 and I am not able to reproduce this error. Neither during checkout, nor in the customer account section when i add a new address or edit an existing one. The countries show up as expected.
From which version did you upgrade to 2.1.4?

[2017-02-17 19:00] eworksmedia opened #8594 "Fresh install can't access /setup ERR_EMPTY_RESPONSE"
### Preconditions

1. Magento-CE-2.1.4_sample_data-2017-01-31-02-13-57
2. PHP 5.6.26 | MySQL 5.6.33

### Steps to reproduce

1. Download Magento 2 with sample data from magento website
2. Upload zip to website server
3. Unzip into directory: unzip Magento.zip -d ./directory
4. Access /directory/setup/

### Expected result

1. Setup wizard appears

### Actual result

1. ERR_EMPTY_RESPONSE
2. Nothin

[2017-02-17 19:00] lfolco commented on #6287
Any updates on this?

[2017-02-17 20:35] hezide commented on #7217
looks like it's fixed.
I have done another fix in my site so I'm not sure if the system upgrade fixed the issue or the other thing(the other one was a security rule in the server that blocked some stuff).

[2017-02-17 20:38] willfrombrazil commented on #6183
Hi, I've managed to reproduce this issue:

1) The option **Require Emails Confirmation** (sic, should be Required Email Confirmation) is set to **Yes** on /admin/admin/system_config/edit/section/customer/

2) Customer creates a new account on customer/account/create/, checking the **subscribe to newsletter** option

3) Before the customer confirms his email address, the newsletter **Status** is **

[2017-02-17 20:59] pboisvert commented on #8584
@ajaykrshukla Can you follow the issue reporting guidelines in terms of providing pre-conditions, system information, and clear steps to reproduce the issue you are seeing. This report is not enough for a team to investigate

[2017-02-17 22:03] ddeppner commented on #7497
Some observations:

The core issue here isn't that shipping methods become disabled, but that they don't become re-enabled.  I don't have time to dig deeply into the architecture here or root causes.  But I do need a quick fix so I can launch my M2 site and not wait for months until this bug fix gets fixed, with no feedback on an ETA.

So...  I've tried to figure out an effective workaround in ord

[2017-02-18 00:06] pboisvert commented on #8583
@stephennguyen1803 is it possible the theme you are using is not referencing the Footer field and is just using a hard coded value in the theme itself? The "default" message is not  Magento default but seemingly that set by the theme provider.

[2017-02-18 02:01] ctadlock commented on #5860
@alena-marchenko @hiephm This similar/same issue is happening with offline payments (chech, cash on delivery...); they are always set to `pending` regardless of what the default status with state=new is.

[2017-02-18 03:00] AirmanAJK opened #8596 "Varnish/ESI breaks on product pages when skus have slashes"
Create a product with a forward slash in the sku field (ie my/product)

With Varnish and the full_page cache enabled, visit the product page.

Expected result: The page should show as normal.

Actual result: The top category nav is missing.

This is because the handles for the ESI URL are not properly encoded. Here is what is actually written in the server response where the ESI block gets replace

[2017-02-18 03:07] AirmanAJK commented on #8596
This seemed to do the trick (url encoding each handle separately):

[code]

[2017-02-18 03:37] staffrob commented on #6568
Same issue here on 2.1.4
Upgrade path 2.1.1 -> 2.1.2 -> 2.1.3 -> 2.1.4
This is the least of our issues but just confirming

[2017-02-18 03:39] vrann commented on #5808
@Crossmotion @peec #8434 is accepted, can the issue be closed?

[2017-02-18 03:40] storepeinture opened #8597 "Configurable Product in Multi language store - Product Image not updating"
Hello,
I'm running into the following issue:
I have Magento 2.1.4 with two store views, French  (default store view) + English.

I have created a configurable product (paint) with 3 different product sizes (paint bucket sizes). Each product size has a different product image - and I want to sell this configurable product in both stores.
When I change the configurations in the French default store,

[2017-02-18 06:00] tuyennn commented on #2916
I found no go with this issue, no way to fix this after trying so much Temporary fixes

[2017-02-18 06:05] ajitwebile commented on #6631
i am facing same issue in magento2.1.3, i created multi websites and try to assign products to created new websitesi found an error, No such entity.

[2017-02-18 06:28] jstoel commented on #6631
@ajitwebile my solution to all of Magento 2's bugs was to roll back to 1.9. I'm not happy about it but M2 is garbage.

[2017-02-18 06:30] ajitwebile commented on #6631
@jstoel  right bro, but right now i stuck in this issue, if anybody have answer please help.

[2017-02-18 07:08] Tonop commented on #8524
Hi,

Could somebody check if it is true or not?

BR,
Boris

[2017-02-18 07:10] Tonop commented on #8597
Hi,

Could you pls confirm or not the following similar [issue](https://github.com/magento/magento2/issues/8524).

[2017-02-18 07:39] Tonop commented on #8104
Hi,

Could you pls confirm or not the following similar [issue](https://github.com/magento/magento2/issues/8524).

[2017-02-18 07:46] tricore-arpit opened #8598 "Single multi currency invoice currency symbol issue"
I have created Single store with multiple currency in magento 2.0.12. When i place order using other than base currency, in admin magento creates invoice showing amount of the current currency. But, the symbol is shown of base currency. When i open the invoice the details are looking fine.

[2017-02-18 07:57] storepeinture commented on #8597
Hi Tonop,
Thank you for your response. I have checked on issue #8524.

**In my opinion it is NOT similar. So I don't confirm.**
Why:
In #8524 it seems that there are only images shown from the parent product.

My issue here is different: You are able to see a different image for each store view.
Check the screenshot: In the French store, the product label is written in French!
In the English store

[2017-02-18 08:14] mitch-tofi opened #8599 "Import results in General Error Message"
### Preconditions
1.  Magento Version 2.1,x (at the very least)

### Steps to reproduce
1.  Have a few products in the system with similar sku/url keys (that contain digits) in my case
-1076c
-1076d
-1076ch-n
-1076 <-- this is the important one
2.  attempt to add/update via the import wizard the sku with url key 1076.
3. you will receive a general  error message

### Expected result
1.  Import suc

[2017-02-18 08:25] ericrisler opened #8601 "Can bypass Minimum Order Amount Logic"
### Preconditions
1. Magento 2.1.1
2. Theme with minicart visible during checkout (not sure if default theme does this)

### Steps to reproduce
1. Enable Minimum Order Amount in system config. (Store / Configuration / Sales / Sales / Minimum Order Amount Enable = Yes)
2. Add products to the cart until you are over min amount.
3. Click on cart and click on "View and Edit Cart"
4. Click "Check Out w

[2017-02-18 08:44] Tonop commented on #8597
Could you complete steps described in my issue #8524 and post the results?

[2017-02-18 09:28] kartguru commented on #8365
Thanks for your response @vkublytskyi

I can confirm I am using MySQL 5.6. Not sure where that 5.5.54 came from.

I attempted adding zendframework/zend-cache per your suggestion however it created a host of problems.

[code]

Following your comments about third-party introduction, I've searched through a dump of the files and it appears Guzzle & Cryozonic Stripe payments are requiring zend-cache.

[2017-02-18 09:42] johnny-longneck commented on #8524
I can confirm this. I had version  2.1.3 and upgraded to 2.1.4. Both the same result

[2017-02-18 10:04] koenner01 commented on #6820
This seems to be fixed in develop https://github.com/magento/magento2/commit/104563f57c232b9f52861bbf0b9b8a4915273b35, but still present in MG2.1.4 CE

[2017-02-18 10:34] jonathanribas commented on #7217
@hezide had same problem on a Nexcess server:

`ModSecurity: Access denied with code 403 (phase 2). String match "on" at TX:sql_injection_score_blocking. [file "/etc/httpd/modsecurity.d/modsecurity_crs_49_inbound_blocking.conf"] [line "87"]`

[2017-02-18 10:39] hezide commented on #7217
Yes I am in nexcess too, they fixed it...

[2017-02-18 10:49] heldchen commented on #6631
@ajitwebile have you tried the stackexchange post answer mentioned further above?

[2017-02-18 12:04] storepeinture commented on #8597
Ok, I will have a look and write my response in the other issue.

[2017-02-18 12:55] PardeepGrover commented on #2332
Hi ,

I am also facing the same issue,Can anyone help on  this to resolve.

Thanks

[2017-02-18 13:13] devqualwebs commented on #4830
Suffering with same issue. Custom option's price is not showing on cart page. only base price is showing without calculating custom option additional price. Please help to do it.

[2017-02-18 13:14] cizgidekiadam commented on #2989
Same in 2.1.2

Add custom option via rest api, refresh caches.
When entered edit page in backend, error message shown.
<pre>
Custom options with price type "percent" is not available for configurable product.</pre>

Implementation:
<pre>
$option["option"]=[
                "product_sku"=>{PRODUCTSKU},
                "title"=>"Custom Option",
                "type"=>"checkbox",
                "so

[2017-02-18 13:29] ajaykrshukla commented on #8584
Hello @pboisvert,

Thanks for your reply.

Actually I am getting the issue at many instances like when I set the Allowed countries for store 1 to "US" only from the backend and then I see the store on frontend registration page, I am seeing all the countries coming on the country dropdown instead of only one that is "US".

Please check it from the screenshot as well.

I have also checked from the

[2017-02-18 14:22] Tonop commented on #8524
How to change the wrong image?

[2017-02-18 14:47] johnny-longneck commented on #8524
I found no solution until now.  Image resize, flush cache and image cache. Nothing worked. Someone else tried to duplicate the bug but everything worked as expected.

[2017-02-18 14:51] Tonop commented on #8524
One time I got success with following steps. After I duplicated the product, deleted all aimages and changed attribute set to another and saved, new product was created in right way. Pls try this and post here result.

[2017-02-18 15:28] Mizogorou commented on #8597
Please check your space character in the English attribute language fields like this. I hope it will solve your problems.

![problem-swatch-image](https://cloud.githubusercontent.com/assets/8059336/23094323/2beeef02-f629-11e6-8a00-d9a6e805679c.PNG)

[2017-02-18 15:59] storepeinture commented on #8597
Hi Mozogorou,
Thanks for your help! I have checked for spaces at the end of attribute fields. I cannot find any mistake on my side, everything looks ok.
Best,
Michael

[2017-02-18 17:04] storepeinture commented on #8524
Hi Tonop,

I have tried to recreate the problem, but for me it works.
http://77.104.148.57/~peintur0/outillage.html
I have created two product: A brown brush and a red brush.
The red brush is a copy of the brown brush. I hit "Save & Duplicate", then I made all changes like images, links, SKU, ...
And it looks fine to me.

Sorry, I cannot recreate this issue in Magento 2.1.4.

Good luck with that i

[2017-02-18 17:05] storepeinture commented on #8597
Can anybody confirm this issue?

[2017-02-18 18:18] gooki commented on #7977
@supanatral Any news on this buddy?

[2017-02-18 21:52] will-b commented on #8550
@mrk-i
Are you using a theme that you made your self or a theme bought from a vendor?
Does the error show when switching to the magento lume theme? If not please contact the theme vendor
and please close the ticket as there is a good chance it is to do with your theme are a custom module or a module shipped with the theme.

[2017-02-19 00:51] jaydigital commented on #6718
I'm finding that this problem also exists when the Magento 2.1.4 installation is made from Softaculous in the cPanel. My workaround is to not use the Component Manager and install the extension manually (when I can).
John

[2017-02-19 00:55] epadmin commented on #6631
we also scrapped the M2 project and went back to 1.9

-------- Original Message --------
Subject: Re: [magento/magento2] Magento 2.1 Cannot Add New Product in
Admin (#6631)
From: jstoel <notifications@github.com>
Date: Sat, February 18, 2017 12:28 am
To: magento/magento2 <magento2@noreply.github.com>
Cc: epadmin <admin@elemeno-pee.com>,  Comment
<comment@noreply.github.com>

@ajitwebile my solutio

[2017-02-19 03:36] okorshenko commented on #8315
@dmanners thank you for reporting the issue. Internal ticket: MAGETWO-64853

[2017-02-19 03:40] okorshenko commented on #8315
@dmanners @schmengler class `Magento\Setup\Module\I18n\Dictionary\Writer\Csv` is not obsolete. This class replaces removed class `Magento\Tools\I18n\Dictionary\Writer\Csv`.

The file `dev/tests/static/testsuite/Magento/Test/Legacy/_files/obsolete_classes.php` has the follwing format: [`Removed\Class\Name`, `Class\Name\To\Use`]

[2017-02-19 05:59] WebDux opened #8604 "Duplicated products SEO URL doesn't work"
I am using Magento 2.1.4 and when I create new product by click "save and duplicate", it did create the new product and I can edit and visit the new product, the problem is that the new product SEO URL doesn't work. I can edit the SEO URL but the frontend product link is not what I set SEO URL. I tried to clean all caches and reindex, no any effect. Hope we can solve these problem in next version.

[2017-02-19 06:30] ebofi opened #8605 "Updating from 2.1.3 to 2.1.4 on magento"
Magento:

I am trying to update the magento via Web setup and its giving me error

Check Component Dependency
We found conflicting component dependencies. Hide detail

Command "update" failed: Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

Problem 1
- The requested pack

[2017-02-19 10:30] Crossmotion commented on #5808
@vrann, Fine for me. Thanks for processing the fix so fas!

[2017-02-19 10:42] bobsimage commented on #8530
Same Issue

[2017-02-19 11:10] storepeinture commented on #8597
I have digged deeper into the issue and it seems as if it's a cross-origin related problem, since both stores run on different domains (URLs).
I still haven't figured out how it might work, but if I find a solution I will post it - or if anybody else has a solution to the cross-origin problem, then I'm of course glad if I get some help ;)

Thank you!

[2017-02-19 12:03] ebofi commented on #8605
There is a typo mistake on the composer.json

[2017-02-19 12:10] snez commented on #8365
Hello everyone, Christos from Cryozonic here. If the compilation crash is caused by the Stripe module, then it can be easily resolved by following step 6 of our [installation instructions](http://store.cryozonic.com/documentation/magento-2-stripe-payments-subscriptions#install). We need to have the Stripe PHP library packaged into the module because of requests from non-technical customers that do

[2017-02-19 14:24] KalebHosie commented on #7977
No update on the developers side. Hope to have an update soon on that.

I tried setting up a new v2.1.4 dev test site with sample data and tried it out without the use of 3rd party plugins. I changed the currency to CAD and setup PayPal. In the end, the API call didn't call for the CAD currency and it was still billed in USD.

[2017-02-19 14:41] KalebHosie commented on #7977
I just discovered another thread regarding this issue and it appears that the person found a temporary work around #7719

I don't have time to test it because I'm about to run out

[2017-02-19 16:06] malikt opened #8606 "Configurable product with custom option "file" can't be added to cart with a file"
### Preconditions

1. Magento version 2.1.4
2. PHP 7.0.10
3. MySQL 5.7.14
4. Apache

### Steps to reproduce

1. Create a configurable product with custom options text, dropdowns but also add one or more "file" type options
2. reindex
3. load the product page at frontend
4. select all options along with the image file and add product to cart

### Expected result

1.  The product should add to cart,

[2017-02-19 18:07] minhluan259 commented on #5144
The issue was fixed, Why has it still not been updated in magento 2.1.4?

[2017-02-19 20:16] orlangur commented on #8605
You need to use [weaker](https://github.com/magento/magento2/blob/develop/composer.json#L257) `minimum-stability` setting until https://github.com/magento/magento2/issues/4359 is resolved.

[2017-02-19 22:33] KalebHosie commented on #7977
@gooki
I have tested it and i seems like @H3dz findings were correct.

If you add "$request->setCurrency('CAD'); // Hardcoded to CAD" to line 627, it appears to fix the problem.

Of course, this is not an ideal solution but it should work at least

[2017-02-19 23:03] redboxmarcins opened #8607 "Interface constructor if present will break Magento compilation"
### Preconditions

1. Install latest Magento 2.x (tested on 2.0.x and 2.1.x) - PHP 5.6 or PHP 7.0
2. Any custom module with interface defined

### Steps to reproduce

1. Create module and define Interface with __construct method
2. Run ```php bin/magento setup:di:compile ```

### Expected result

1.  Compilation should complete 100% as PHP allows interface to have constructor - I'm not saying it s

[2017-02-20 00:57] orlangur commented on #8308
Thanks for your finding, I did not expect `--debug` could be broken when debugged unit tests under PHP 7.1 and it was crashing trying to print data provider before the problematic test execution:

[code]

Basically, I came here trying to google for stack trace :D

[2017-02-20 01:05] orlangur commented on #8315
If `setup/src/Magento/Setup/Test/Unit/Module/I18n/FactoryTest.php` really needs to be implemented this way (it is not "unit test" as it implicitly instantiates another object with "bad" destructor) and if `Factory` implementation really needs to instantiate object directly with `new` operator like it does currently then the only way to fix it is to create a stub of `Writer/Csv/Stdo` with not so ev

[2017-02-20 01:18] namnn commented on #8221
@veloraven I have the same issue with a order comment module. I'm using Magento 2.1.0.

[2017-02-20 01:34] orlangur opened #8612 "[Dev][Coding Standard] Hundreds of PHPCS-based static tests violations in mainline"
This issue is NOT about `@codingStandardsIgnoreFile` evil annotation appearing quite often: http://prnt.sc/eawtih
The problem is that even except those 666 ignored files there are a lot of not coding standard compliant files due to holes in CI processes and/or bugs in `get_changed_files` mechanism. This is even more strange as "bump copyright year" commit changed all the files and still didn't rev

[2017-02-20 01:35] perry3181 commented on #7948
I just upgraded to 2.0.12 last week, but the problem still exist :(

[2017-02-20 01:52] jason-zz commented on #8221
https://github.com/magento/magento2/blob/develop/lib/web/mage/requirejs/mixins.js#L116

URL augments should be removed in **path** variable. Otherwise, it won't match the key in requirejs-config.js. I think that's why mixins config gets fail when RequireJS defined **urlArgs**.

[2017-02-20 06:02] Maddy0404 opened #8613 "Couldn't get available versions for package magento/framework-foreign-key"
![2017-02-20_11-30-38](https://cloud.githubusercontent.com/assets/25893578/23113745/2e548d64-f760-11e6-9a96-f203dd14eb30.png)

[2017-02-20 06:23] danny-balance commented on #4305
Hi, when will this be released? This was fixed in a commit 9 months ago and is still not in a release.

[2017-02-20 06:28] wenpingguo commented on #7618
Hi
Do we have any update here? Looks it is getting worse. WYSIWYG will remove or re-arrange html.
I tested the following cases when creating and save static blocks in magento 2.1.3 CE.
I want to create anchor a tag with background in a div container.

**Test case1 html remove**
1. Create a static block with the html contents below in html view.
`<a id='arrow_bounce'  href="#help_section"><div clas

[2017-02-20 06:30] danny-balance commented on #6403
This is a duplicate of #4305 in which a fix was pushed to `develop` 9 months ago. When can we expect this to be released?

[2017-02-20 08:37] PieterCappelle commented on #5352
Please reopen this issue and add to 2.1.6... (2.1.5 is security update)

[2017-02-20 09:20] i95devdivya opened #8614 "Shopping Cart Price Rule for Free Shipping not working properly"
### Preconditions

1. Magento CE 2.1.2, PHP Version 5.6.29, MYSQL Version 5.6.33

### Steps to reproduce

1. Enable Free Shipping Method and provide Minimum Order Amount as 9999999999 in Free Shipping method configuration
2. Create Shopping Cart Price which will provide Free Shipping if subtotal greater than equal to $100
3. Add any product of quantity 1 with price $80 to cart. Free shipping metho

[2017-02-20 09:23] vipinroy commented on #4778
Can we use the below commits to solve this issue?
Please help..

[2017-02-20 09:40] Rabot18 commented on #5322
Same problem here, up

[2017-02-20 10:06] mavr1982 commented on #6207
Solved in 2.1.4 EE?

[2017-02-20 10:07] careys7 commented on #7612
Is there any progress on a fix for this Magento / @olysenko ?

No multi-store catalog API is a problem for most of our clients (see also #8121 / #4806 which has been open for 8 months).

[2017-02-20 10:14] kartguru commented on #8365
Thanks again @snez. Appreciate your explanation. Following those steps resolved the issues I had reported. A couple of '“already exists in context object” errors but its separate from the reported error.

Thanks @vkublytskyi for directing me down the right path.

I hope others find this report useful in the future.

[2017-02-20 10:14] #8365 closed, assigned to nobody

[2017-02-20 10:23] webdesk commented on #4876
I have the same issue with Magento 2.1.4, How can I resolve that issue?

[2017-02-20 10:24] mike-happy commented on #5973
Is this issue fixed in Magento 2.1.4?

[2017-02-20 10:27] BenGlassAtlas commented on #3890
@dhduc Doesn't that stop the whole page from being cached though? I'm sure I've heard that a few times, and if so that is a terrible workaround as the side effect is potentially worse than the initial issue.

Edit: It does stop the whole page from being cached:

Source - http://devdocs.magento.com/guides/v2.1/config-guide/cache/cache-priv-over.html

[2017-02-20 10:38] mplccp opened #8615 "REST API unable to make requests with slash (/) in SKU"
Inside the REST API, it is impossible to access a resource that requires an SKU if the SKU contains a forward slash.

### Preconditions
1. Tested in CE 2.1.2 and CE 2.1.3. No indication of fix in 2.1.4 release notes

### Steps to reproduce
1. Fresh install
2. Create product (of any type) with SKU containing /, e.g. "CLE-056621/6"
3. Make REST request with encoded SKU (as Swagger does) e.g. "V1/pro

[2017-02-20 10:48] wert2all commented on #8494
Thank you for your response. Internal issue MAGETWO-64875 was created.

[2017-02-20 10:49] viktym commented on #8339
Hi @andresrecalde
We cannot reproduce this issue as described. Please provide a customer type (guest/registered) and product type.
According to your debug.log everything is ok with authorize.net paymet flow.
One of the XMLHttpRequests leads to js error.
This error blocks js redirect to order success page and after some timeout, you see error pop-up (fires automatically if customer isn't redirected

[2017-02-20 10:50] DependencyHell commented on #6781
I've got same problem on performing api call using **searchCriteria**

[2017-02-20 11:09] sfedosimov commented on #5322
Solution (in controller):
`$this->url->setScope($this->storeManager->getWebsite($customer->getWebsiteId())->getDefaultStore());`

[2017-02-20 11:21] arekm opened #8616 "Unused mysql privileges required even if not used/not needed at all"
magento 2.1.1 reports:

[code]

From looking at
https://github.com/magento/magento2/commit/9e8fc4204e93ffdecf018c5965ca45bae9c7fa2e
it seems that someone simply replaced "ALL PRIVILEGES" with list of all possible privileges even if magento2 doesn't use/need some of these.

For example "REFERENCES" privilege. According to mysql docs:
https://dev.mysql.com/doc/refman/5.6/en/privileges-provided.html#

[2017-02-20 11:33] Rabot18 commented on #5322
I use it in a class who extends AbstractHelper so i used _urlBuilder like this instead of StoreManagerInterface :
[code]
thx @sfedosimov

[2017-02-20 12:29] dhduc commented on #3890
@BenSpace48 Yes, you're right. It's my fault, so my teammate suggests me to using AJAX alternative. Is it a better solution?

[2017-02-20 12:34] wert2all commented on #8506
Thanks for responce, closed as dublicate of https://github.com/magento/magento2/issues/6313

[2017-02-20 12:34] #8506 closed, assigned to nobody

[2017-02-20 12:38] redboxmarcins commented on #7521
It is not a problem that indexer fails. It is a problem that it stays in running state forever.

[2017-02-20 12:45] nilesh2jcommerce opened #8618 "Apply coupon code button issue on Checkout"
### Preconditions

1. Magento CE 2.1.4, PHP Version 7.0.14, MYSQL Version 5.6.31-77.0

### Steps to reproduce

1. On Cart page when Applying Coupon Code it applied successfully and working properly.
2. When Moving to checkout page for placing order on payment section in discount field coupon code present already but it not applied due to that button saying apply coupon.

### Expected result

1. If

[2017-02-20 13:10] BenGlassAtlas commented on #3890
@dhduc I only know about that because I did the exact same workaround 😱

Yeah I'd say so, I think hole punching that block so it isn't cached but the rest is is the best solution but that is more back-end which is not my speciality so take that with a pinch of salt.

[2017-02-20 13:29] spyhunk opened #8619 "Notice: Array to string conversion in /example.com/vendor/magento/framework/View/Page/Config/Renderer.php on line 321"
### Preconditions

1. Magento 2.1.2
2. PHP 7

### Steps to reproduce

1. Error occurs right after changing front-end development workflow from server side to client side.
2. I already have an issue with products>category page which is showing error 500 page isn't working.
3. Magento also had porto installed but uninstalled it due to some issues in theme via removing files, removing modules/theme r

[2017-02-20 13:33] wert2all commented on #8489
Thanks for the response. Closed as duplicate https://github.com/magento/magento2/issues/7949

[2017-02-20 13:33] #8489 closed, assigned to nobody

[2017-02-20 13:38] susmithaN commented on #7967
Hi ,
     I have checked this issue  on Latest version , There also i faced the same breadcrumbs issues. I Found an option to add category with product url from back end . Once enabled it Breadcrumbs with category displayed on product detail page  . But If I open the same product from any other page like home , search , its not displaying full breadcrumbs . Just showing **Home-> product name** .

[2017-02-20 13:39] FreshHaze opened #8620 "Magento 2.2 REST API Add Item to cart issue"
Hi all! i have an issue with **Magento ver. 2.2.0-dev** i'm trying to create a cart and insert a product for a logged user, with the magento 2 rest api, but when i try to insert a product into the cart (already correctly created) it seems doesn't work and respond with this error:

[code]

**Steps to reproduce:**
1. Create a cart with **get rest/V1/carts/mine**
2. Call the rest api for insert produ

[2017-02-20 13:43] kn-wield commented on #7214
@sam-g-roberts I'm also having this same issue—how did you resolve, please?

[2017-02-20 13:50] bh-ref commented on #4231
It does not seem to be an issue on 2.1.4 anymore

[2017-02-20 13:56] ajaysinghrana23 opened #8621 "M2.1 Multishipping Checkout step New Address - Old State is saved when country is changed"
**Preconditions**

1) Magento ver. 2.1.3
2) PHP 7

**Steps to reproduce**
1. Add multiple product to cart (minimum 2 product or 1 product with quantity 2) .
2. Check Out with Multiple Addresses.
3. Now Click on Enter a New Address button.
4. Now fill the form with **Country : United States** and select **State : New Jersey**
5. Others fields value can be anything you like
6. Now before saving the

[2017-02-20 13:58] bh-ref commented on #4231
As far as I can see, it takes around 10s. I had a look, the fixes from MAGETWO-59555 did not land in 2.1.4

[2017-02-20 14:00] iivashchenko commented on #6568
@antbates1991, I've tested an upgrade circle of my Magento instance from 2.0.7 through 2.1.0, 2.1.2 to 2.1.3 with Braintree Payment configured. On every newly upgraded instance, I made one order via Braintree payment and didn't face a described issue.

My upgrade process includes the next steps:

Please, let me know if I missed something or what extra steps should I do to reproduce an issue. Thank

[2017-02-20 14:13] bh-ref commented on #5190
problem still present in 2.1.4

[2017-02-20 14:21] bh-ref commented on #5073
This issue is still present in 2.1.4

[2017-02-20 14:28] FreshHaze commented on #8620
**SOLVED!**

In postman, **we was selecting 'form-data'**, but **you have to select 'raw'** and insert a json object like this:

    {
      "cart_item": {
        "quote_id": 5,
        "sku": "testing2",
        "qty": 1
      }
    }

that should work! hope it helps.

[2017-02-20 14:46] bh-ref commented on #5574
issue is still present in 2.1.4

[2017-02-20 14:50] maghamed commented on #8477
@jstrez77
it doesn't matter whether you have pagination or not. Because products on the page are sorted (by Relevance, Name or Price). So you should get them all together and sort out. And just after that apply pagination.
And if you have Category Page which has more than 10000 products inside. You should build LN for each filterable attribute for all those products.

Regarding poor performance on

[2017-02-20 14:51] stephennguyen1803 commented on #8583
@pboisvert
Thank you for you help. But I found the issue, it works normally, when I clear cache server

[2017-02-20 14:51] #8583 closed, assigned to nobody

[2017-02-20 14:52] bh-ref commented on #5687
issue is still present in 2.1.4

[2017-02-20 14:56] bh-ref commented on #6122
the issue is still present in 2.1.4, the commit https://github.com/magento/magento2/commit/e200425c1ecec910d50660fed8c422caa8d0971b did not yet land in 2.1.4

[2017-02-20 15:01] carabationut opened #8622 "Cannot read property 'method_code' of null"
### Preconditions

1. Magento Version: 2.2.0
2. PHP -> 5.6.30
3. MySQL -> 5.6.33

### Steps to reproduce

1.  Store filled with products and the proper settings, the customer have a shipping firm that doesn't support this magento version, so I wanted to setup without a shipping form but simple fee if under price in cart.

### Expected result

1.  Should load method_code for shipping. Line 48 from

[2017-02-20 15:10] dhduc commented on #3890
@BenSpace48 (y) Thanks for letting me know about my solutions.

[2017-02-20 15:35] bh-ref commented on #6261
this issue is still present in 2.1.4

[2017-02-20 15:39] TKlement commented on #6634
This is our solution:

Extend the condition for attributes that are instances of \Magento\Framework\Phrase.
[code]

[2017-02-20 15:42] bh-ref commented on #6403
issue is still present in 2.1.4

[2017-02-20 15:46] orlangur commented on #6634
@TKlement, fix idea looks good to me, maybe prepare a pull request? ;)

[2017-02-20 16:01] maksek commented on #8545
Related  to  https://github.com/magento/magento2/issues/3507

[2017-02-20 16:09] orlangur commented on #5687
So, what is the "issue" here? `max_allowed_packet` needs to be configured according to your Magento instance needs, just like exception message says.

All inserts must be performed in one transaction to avoid data corruption in case you met collision. And increasing size of data infinitely you have no way to not reach some configuration limit: http://dba.stackexchange.com/a/19580

[2017-02-20 16:33] philippsander commented on #5908
I'm still facing this problem.

[2017-02-20 16:36] orozcodiaz opened #8624 "Stock status not coming back after qty update"
### Preconditions
1. Magento Version: 2.1.3
2. PHP: 7.0.14-2a
3. MySQL: 5.6.33
4. Automatically Return Credit Memo Item to Stock (this is what I try to achieve) - ON (Stores - Configuration - Catalog - Inventory)

### Steps to reproduce
1. Set simple product qty to zero (and you will see it will turns to **Out of Stock**) & hit **Save**
2. Set same product qty to 1 and save

### Expected result
Af

[2017-02-20 16:41] casiandaniel commented on #5595
@veloraven Please re-open the ticket! The bug is still alive (Magento ver. 2.1.4) and the related possible fix is the one proposed from @bramvanderholst!

[2017-02-20 16:58] orlangur commented on #7967
Is it correct? This PHP version is not supported yet.

Is issue reproducible when you disable caches?

[2017-02-20 17:26] scottsb commented on #8479
In case others find it helpful, this one-liner will show you the real changes in the `config.php` after it's been mangled by a new module install (assuming you're version controlling your `config.php` in Git and currently have the new module changes uncommitted):

    diff -wB <(sort app/etc/config.php) <(git show HEAD:app/etc/config.php | sort -)

HT: http://stackoverflow.com/a/20379403/1583214

[2017-02-20 18:49] skynixukraine commented on #7514
Hi @veloraven
Any news on the issue?
I tried magento 2.1.4, and this seems it's not fixed.

[2017-02-20 19:59] romeof1980 commented on #5836
hi guys!
same behaviour for us: indexer_reindex does not work
when running "SELECT * FROM cron_schedule;" we see the other tasks be accomplished correctly ("success"), the scheduled tasks correctly reporting "pending" and the running tasks correctly reporting "running" as well. THE ERROR "missing" in indexer_reindex give also a hint:  "Too late for the schedule"
Looks for us like a very similar is

[2017-02-20 20:50] dazuaz commented on #3373
@sinharitu @chicgeek did anyone got to remove company field from **billing** address, this method is only working for shipping. Thanks in advance.

[2017-02-20 20:52] jpratt commented on #8061
@rbostan have you had any luck with this? I am just trying to duplicate the issue after we saw it when deployed to production and had to roll back. I can see where the code is but cannot work on a fix as I have not been able to replicate anywhere.

[2017-02-20 21:41] erikhansen commented on #6671
I ran into this issue on a 2.1.4 Enterprise site where my client had imported products using the native importer and used uppercase url keys. I resolved this by changing all url keys to lowercase using the below query. Use this query at your own risk and only after extensive testing.

[code]

[2017-02-20 22:11] skuzmina opened #8625 "Can't upgrade Magento version to 2.1.4 from Wizard"
I need to upgrade Magento to the latest 2.1.4 version. But when I go to the "Web setup Wizard" and select "System Upgrade" I am getting following message: You're already using the latest version, there's nothing for us to do.

See attached image for version info.

Can you tell how I can upgrade magento version without command line. I upgraded magneto to 2.1.3 from back-end.. maybe here are some ol

[2017-02-20 22:18] ghost commented on #7967
I am on  PHP Version 5.3.6 and Magento 2 Version 2.1.4. Issue occures even with cache disabled. Dev and production mode are equally affected.

[2017-02-21 02:36] jmtakahashi commented on #8215
Any updates regarding this issue?

[2017-02-21 03:00] okorshenko commented on #8392
Closing this issue. Fixed in https://github.com/magento/magento2/pull/8467 for develop branch.
@Abezethibou thank you for reporting this issue and following best practices! Description of this issue is a great example of clear preconditions, steps to reproduce and expected/actual results! Thank you!

[2017-02-21 03:00] #8392 closed, assigned to nobody

[2017-02-21 03:17] nambss opened #8626 "Magento 2.1.2 - 2.1.4 email logo image function does not work"
Preconditions
1. Magento 2.1.2
2. Upload Email logo in path Content -> Configuration -> Transactional Email -> Logo Image
3. Save

Steps to reproduce
1. New Email Logo should show in all email

Actual result
1. Default Magento Logo is used in email
2. Customized logo does not show
3. Logo Image URL Broken in preview under path Content -> Configuration -> Transactional Email -> Logo Image

I find n

[2017-02-21 03:25] jmtakahashi commented on #7093
@vzabaznov I have this same issue, when using the chooser, and it looks like this is the same issue #8215 and it looks like issue #7723 and fix #8246 is related as well.

In issue #8215 a contributor is quoted as saying "As I know in magento you have no ability to create Catalog rule based on list of SKU. You can create rule only based Attribute Set or Category."  However, users can create Catalog

[2017-02-21 03:34] nambss commented on #8626
ok

[2017-02-21 03:34] #8626 closed, assigned to nobody

[2017-02-21 03:38] azeemism commented on #8553
Magento 2.1.4 CE also has the same issue

[2017-02-21 03:52] staffrob commented on #7388
This issue is still present in 2.1.4

[2017-02-21 04:49] azeemism opened #8627 "[2.1.4 CE] Non Cart Items Appearing as Undescribed Items on PayPal Authorized Payment E-mail"
Non cart items of Discount, Coupon, Shipping etc. appear as blank line items without a description and with a quantity of 1 on PayPal's "You have authorized a payment to ..." e-mail.

### Preconditions

1. Composer upgrade Magento 2.1.2 CE  --> 2.1.3 CE --> 2.1.4 CE
2.
[code]
3.
[code]
4.
[code]
5.
[code]
6.
[code]
7.
[code]

### Steps to reproduce

1. Setup PayPal Express
2. Set `Payment Action`

[2017-02-21 05:12] anjanaVoilaah opened #8628 "cannot read property 'section loadurl' of undefined in all pages - Custom Theme"
### Preconditions

1. Magento version - 2.1.3
2. PHP - 5.6

### Steps to reproduce

It was working fine until last week... but after I updated my footer styles this issue occurs. I reverted my footer changes but the issue is still present. This is happening if I'm using my custom theme. When I change to default Luma theme JS error is not showing.

### Expected result

1.  Page Main content need to

[2017-02-21 06:06] neerajproweb opened #8629 "Setup wizard option not displaying within System >> Tools, Magento ver. 2.1.2"
Successful installed magneto 2.1.2, but 'Setup Wizard' option not displaying within 'System' >> 'tools'.
can you please help for solve this issue ASAP.

Thanks,

[2017-02-21 06:45] magentoguyssageone commented on #8480
Hi,

any update in this issue ?

Thanks

[2017-02-21 07:01] rajith44 opened #8630 "Magento 2 admin URL is not working"
when i try login megento using this url  http://magento_2_sample.local/admin_n717nk  its redirect to below url. please help.

http://magento_2_sample.local/admin_n717nk/http:/index/magento_2_sample.local/admin_n717nk/admin/index/index/key/28a7eb5cc005ed0e48014a4adf0a100313b6e935713e0884afbef77f4dc5f8ad/

[2017-02-21 07:56] Moinashraf commented on #1030
I am trying all above possibilities to resolve this issue but the error shown in the frontend and In admin The address data should not display.
![screenshot from 2017-02-21 13-24-02](https://cloud.githubusercontent.com/assets/25338993/23155579/3a259208-f839-11e6-89a7-dbe3691a4fad.png)
![screenshot from 2017-02-21 13-25-52](https://cloud.githubusercontent.com/assets/25338993/23155593/50021b14-f839-

[2017-02-21 07:59] Moinashraf opened #8631 "Delete operation is forbidden for current area"
I am trying all above possibilities to resolve this issue but the error shown in the frontend and In admin The address data should not display.

![screenshot from 2017-02-21 13-24-02](https://cloud.githubusercontent.com/assets/25338993/23155672/a690ca66-f839-11e6-9694-ff9f4d752020.png)
![screenshot from 2017-02-21 13-25-52](https://cloud.githubusercontent.com/assets/25338993/23155674/aa60de92-f839

[2017-02-21 08:55] cizgidekiadam commented on #8061
@jpratt No 😞
Error still exists in all situations. Waiting for an answer from contributors.
Anybody handle this ?
/cc @amanuni @stevewinni @veloraven

[2017-02-21 09:15] bh-ref commented on #5651
@vrann thank you for fixing it!

[2017-02-21 09:18] bh-ref commented on #6511
issue is still present in CE 2.1.4, but https://github.com/magento/magento2/pull/8413 will likely fix it in a future release.

[2017-02-21 09:26] bh-ref commented on #5687
@orlangur thank you for your hint. we are now using a "chunk solution", but will have look at your solution.

[2017-02-21 09:56] jontay27 commented on #4531
+1, Will this be resolved soon?

[2017-02-21 09:58] koenner01 opened #8632 "Location of wishlist.js file is incorrect"
In Magento\Wishlist\view\frontend\web there is a wishlist.js file.
This file should be moved to the js directory in the web folder.

### Preconditions
1. PHP7.0
2. MG2.1.x

### Steps to reproduce
1. Goto Magento\Wishlist\view\frontend\web folder

### Expected result
1. wishlist.js should be in the js directory

### Actual result
1. wishlist.js is in the root of the web folder

[2017-02-21 10:02] leptoquark1 commented on #7176
I've the extended problem that if I set the attribute scope to SCOPE_STORE for example, and I have the backend scope set to "All Store Views" and I save the category with the changed attribute I get the SQL Error of Allowed memory size exhausted...

[2017-02-21 10:25] maxbucknell commented on #8070
It's worth adding that the particular issue described above can be fixed by upgrading `zendframework/zend-stdlib` manually. Behold:

[code]

The version alias is necessary because Magento is requiring a different version of that package. I have been using this for a while and noticed no regressions.

[2017-02-21 10:29] vigoss-ru commented on #5305
You can install language package follow the instructions in here : https://github.com/splendidinternet/Magento2_German_LocalePack_de_DE

- Very important: remove first js-translation.json from pub/static/frontend/Magento/luma/de_DE/js-translation.json
- Then run command:
php bin/magento setup:static-content:deploy de_DE
php bin/magento setup:upgrade

[2017-02-21 10:34] MartinWickman commented on #8034
This is not an EE issue. It happens in the community version as well. It's not possible to remove special price.

[2017-02-21 10:37] sinharitu commented on #3373
I did it using the following code:
in
" `<vendor>/<module>/etc/frontend/di.xml"`

    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="<someUniqueName>" xsi:type="object"><vendor>/<module>\Block\Checkout\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>

and in

[2017-02-21 10:38] 12impress commented on #8508
I have the same problem. But this fix doesn't work for me....

[2017-02-21 10:50] shlaing commented on #5114
Hello Everyone ! I got this problem too. Magento Version - 2.0.7

It is not only Configurable Products but also Products with Option Value.

[2017-02-21 10:57] benjamin-volle opened #8634 "Cannot install translations with "i18n:pack" command line"
Hello,

I just tried to install french translations using the "i18n:pack" commande line.
More precisely :
bin/magento i18n:pack --mode="replace" -d source_fr_FR.csv fr_FR

And I had an Exception :
Warning: mkdir(): Permission denied in /home/synbshop/public_html/vfb/setup/src/Magento/Setup/Module/I18n/Pack/Writer/File/AbstractFile.php on line 154

The problem is that Magento tries to create "/i18n

[2017-02-21 10:58] giacmir commented on #2705
@nobuttsalex Purge requests should be processed by varnish and not by apache. So you must use port 80 (varnish) and not 8080 (apache).

[2017-02-21 11:08] Flamestyle commented on #8508
@carfantasy Which of the two? Write all your steps so that can analyze.

[2017-02-21 11:11] Flamestyle commented on #8509
Any decision on this issue?

[2017-02-21 11:12] benjamin-volle commented on #8275
Hello,

Correction has been made in a new merged Pull Request and will be released in new version (https://github.com/magento/magento2/pull/6723)

You can close this issue, thank you

[2017-02-21 11:36] pawanguleria911 commented on #6139
But is is not not working on my website. When assigned the static block to the category and only static block .
But it will not show my static block it only display the  We can't find products matching the selection. please help me.
  why this happen?

[2017-02-21 11:41] AntonEvers opened #8635 "Incompatibility with composer ~1.3.0 and setup:di:compile"
### Preconditions

1. Install composer 1.3.0 or higher
2. Check out Magento 2.0.10

### Steps to reproduce

1. run composer update
2. run bin/magento setup:di:compile-multi-tenant -vvv

### Expected result

1. compilation runs fine

### Actual result

  [Magento\Framework\Exception\LocalizedException]
  Source class "\Magento\Catalog\Model\Product\OptionInterface" for "\Magento\Catalog\Model\Produ

[2017-02-21 12:17] 12impress commented on #8508
Hi,
This is my issue and also the minicart issue:
https://github.com/magento/magento2/issues/8337

I did:
composer update
php bin/magento setup:upgrade
php bin/magento cache:clean
php bin/magento setup:di:compile
rm -rf pub/static/*
rm -rf var/view_preprocessed/*
php /var/www/html/bin/magento cache:clean
bin/magento setup:static-content:deploy --theme Magento/backend en_US
bin/magento setup:static

[2017-02-21 12:30] puples commented on #8544
hello, what is the solution to resolve it ?

[2017-02-21 12:32] malikt commented on #8544
in my case the date format was conflicting, the date format of calendar was not supported by the date format of database, so i have to match them.

[2017-02-21 12:48] aasim110 opened #8640 "Issue : Upgrade Magento 2.1.0 to 2.1.4 "out of stock" product main price changed to $0.00"
I have referred  https://github.com/magento/magento2/issues/7908 this issue also.

Getting issue on product view page,
All products (upsell, related, recently viewed) prices are changed to $0.00 on out of stock product.

[2017-02-21 12:48] Szymon-GP commented on #5008
Same issue in 2.1.4. It's returning 404 page, but it's not the same error page as I have styled, it just says: 404 error: Page not found. where mine have header and footer visible as well

[2017-02-21 12:52] orlangur commented on #8635
Does not seem to be a totally safe command to me. Will `./vendor/bin/composer update` do the trick?

As to me, it's better to have Composer 1.3.x completely supported (see https://github.com/magento/magento2/issues/4359) than do some magic like this one.

[2017-02-21 13:13] Radosav commented on #8131
We are having a similar issue.

Preconditions:
1. PHP 5.6
2. Magento 2.1.0
3. Apache 2.4.12

Steps to reproduce

1. Go on the site "advanced search" and click the submit button below the form without any entries.
2. Message appears on result page, or any page we click on right after clicking "submit" on search page.

[2017-02-21 13:24] skovalenk commented on #8536
Hi @crtsl this is different Allowed Countries settings.
Customer Allowed Countries are not allowed to create account in specific country
Shipping and Payment allowed countries is used to limit some payments or shipping methods.

So you need to specify correct countries in all settings.

[2017-02-21 13:32] bh-ref commented on #5142
issue still present in 2.1.4, https://github.com/magento/magento2/commit/81d6abdf90a80a5ce69058c205ab25d87af1b992 did not land in this release

[2017-02-21 13:43] bh-ref commented on #7724
issue is still present in 2.1.4

[2017-02-21 13:44] bh-ref commented on #6146
issue is still present in 2.1.4

[2017-02-21 13:48] maghamed commented on #8607
@redboxmarcins  make sense,
moreover looks like we can't instantiate Objects without constructor not firing E_NOTICE
class SomeClass {

   function funcA($arg1, $arg2) {

   }

}

$refl = new ReflectionClass('SomeClass');

var_dump($refl->isInstantiable()); // bool(true)
var_dump($refl->getConstructor()); // NULL

[2017-02-21 14:11] orlangur commented on #8607
Strongly disagree.

Please take a look on some http://stackoverflow.com/a/689488 and http://stackoverflow.com/a/41685659.

First of all, Magento in general and its compiler in particular should honor and encourage best practices. So, when PHP design flaws we should mitigate problems instead of providing support. It is a good thing to disallow shooting yourself in the foot whenever it is possible.

[2017-02-21 14:26] kudja commented on #6541
Hi there - I have same issue on Magento 1.9.3 and we solved it by disabling persistant flag on connections, which is passed to PDO object as `PDO::ATTR_PERSISTENT => true` later in adapter

Not sure why, but enabling/disabling persistent in php.ini not helping, just after I removed `<persistent>1</persistent>` from `connection` section in local.xml it starts to work well

Also we worked on older p

[2017-02-21 15:00] maghamed commented on #8607
@orlangur
one more time, it make sense for us because for now instantiation of class without constructor will fire E_NOTICE.
Also Framework components of Magento should follow Defensive programming principles as it could/gonna be used for applications besides Magento.

[2017-02-21 15:00] AntonEvers commented on #8635
Hello @orlangur,

I wasn't aware of ticket https://github.com/magento/magento2/issues/4359.
Let's keep this ticket pending until #4359 is fixed indeed.

As to the recommended composer executable, http://devdocs.magento.com/guides/v2.1/install-gde/prereq/integrator_install_composer.html will lead more developers to using composer 1.3.x.

In my case `./vendor/composer/composer/bin/composer update` c

[2017-02-21 15:06] Szymon-GP commented on #5705
2.1.4 and the path generated in the Image URL field is pointing to admin
![zrzut ekranu 2017-02-21 o 16 05 19](https://cloud.githubusercontent.com/assets/7405824/23170505/a5817a60-f84f-11e6-8afc-eb88cdc63960.png)

[2017-02-21 15:11] orlangur commented on #8635
@ajpevers, yeah, I checked existing documentation before writing comment and there is no suggestion to use `composer` from `vendor`.

Thanks, good to know that `./vendor/bin/composer` is not working.

The bad thing with relying on unstable version is that in some cases both of them could not work. I faced with such issues when adding new requirements - in some Composer versions there were bugs wit

[2017-02-21 15:16] KhaledF commented on #8242
Ok.. I found that the problem is in:
module-configurable-product/Model/Product/Type/Configurable/Price.php
at the line:
$finalPrice = parent::getFinalPrice($qty, $product->getCustomOption('simple_product')->getProduct());

as the $product itself is different from returned value from $product->getCustomOption('simple_product')->getProduct() but that is only when it is the same configurable product

[2017-02-21 15:19] orlangur commented on #8607
@maghamed, I have nothing against defensive programming,

Hope you are not going to add check for
[code]
? Notice in this case looks perfectly valid to me as it allows to fail fast.

Anyway, this issue was already fixed and delivered to `develop` in https://github.com/magento/magento2/pull/8232 the way I like it (NO `interface` with constructor allowed).

[2017-02-21 15:30] maghamed commented on #8607
@orlangur  one more time,

current implementation with the fix you mentioned would not allow you to instantiate such class without E_NOTICE:

class SomeClass {
function funcA($arg1, $arg2) {
}
}

Proposed fix -
`null !== $class->getConstructor()`
make a lot of sense for us.

In any case contract of getConstructor() **could return NULL**, so next chain access
$class->getConstructor()->class
is not

[2017-02-21 15:31] #8536 closed, assigned to nobody

[2017-02-21 15:39] orlangur commented on #8607
$class->getConstructor()->class

Okok, if this code is still reachable for `$class->getConstructor() === null` additional check won't hurt.

I was saying that I'm against such check in a place where we actually instantiate such object, like https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/ObjectManager/Factory/AbstractFactory.php#L91

[2017-02-21 15:45] AntonEvers commented on #8635
@orlangur no problem. I'll manage with the workarounds. Let's focus on #4359 and we'll be relieved of these problems 👍 . Thanks for your help.

[2017-02-21 16:51] choukalos commented on #7963
In the short term please adjust your MySQL configuration - tmp_table_size variable so indexer continues.

[2017-02-21 17:11] stephansteiner commented on #4737
I found out that in magento 2.1.4 all css files in pub/static/ contain statements like this:
<pre>
@-moz-keyframes fade {
  0% {
    background-color: #514943;
  }
  100% {
    background-color: #ffffff;
  }
}
</pre>

This apparently causes a problem in Emogrifier.php in line 269 as it is querying for a selector found in css like 0% or 100% using xpath expression //0% or //100%. This is not valid

[2017-02-21 17:31] orlangur commented on #8631
It looks like you are trying to delete something on `frontend` while it is only allowed in `admin`.

Please describe issue using [template](https://github.com/magento/magento2/blob/develop/ISSUE_TEMPLATE.md) so that it can be reproduced on default Magento 2 installation.

[2017-02-21 18:00] avra911 opened #8643 "QUESTION: Strange static-content:deploy error on 2.1.3"
### Preconditions
1. Install composer 1.3.0 or higher on a server which has ssh access.
2. Install and check out Magento 2.1.3.
3. (optional) Install capistrano-magento2 5.9.

### Steps to reproduce
1. run `ssh user@host.tld /usr/bin/env php -f /path_to_site/bin/magento -- setup:static-content:deploy en_US | stdbuf -o0 tr -d .` from a local computer or from a different server OR configure capistra

[2017-02-21 18:12] adityag186 commented on #7963
Hi,

Can you please tell me steps on how to do that?

[2017-02-21 18:23] yumicom opened #8644 "Sitemap bad urls: http//, but must bee https//"
Bad urls in Sitemap.xml : http//..., but must bee https!

### Preconditions
Magento 2.1.4, PHP 7.0.15 & MySQL MariaDB 10.1

### Steps to reproduce
Admin - Stores - Configuration - General - Web - Use Secure URLs on Storefront - Yes
See /Sitemap.xml

### Expected result
<url><loc>https://......

### Actual result
<url><loc>http://......

[2017-02-21 18:37] choukalos commented on #7104
This should be addressed by MAGETWO-56927 which was patched back to 2.1.3.  Please try on 2.1.3 and let us know if this is still an issue.

[2017-02-21 19:46] drkaff commented on #3917
I had this exact same issue. Products could be seen by going to the product page only.

I went to the admin section and to the category and tried unassigning the products and it bugged out.

That gave me enough info to reset permissions on my magento2 directory

"sudo chown -R :apache magento2"

Reindexed and cleared cache and everythings working!

[2017-02-21 19:50] kevin-carroll-cl commented on #5558
Hello @rganin , we are experiencing the issue described in #MAGETWO-58328 where out of stock swatch options are not disabled/struck through, is there any word on the progress of this issue?

Version: 2.1.2 Community
Behavior: Swatch options matching out of stock simple products are enabled and selectable.  Behavior persists regardless of setting for admin configuration Catalog > Inventory > Displa

[2017-02-21 20:01] jpratt commented on #8061
@rbostan Just curious how your server is setup? Are you using a CDN for static files? compiling js? Just trying to replicate so I can find the issue in code, but cannot replicate unless we push to production which we cannot do again after the last failure when this happened.

[2017-02-21 21:15] koenner01 commented on #3645
Relates to https://github.com/magento/magento2/issues/7689

[2017-02-21 21:19] koenner01 commented on #4232
Relates to https://github.com/magento/magento2/issues/7249.
Commit where this has been fixed is referenced there too in case you want to patch this in your project

[2017-02-21 22:02] domdambrogia commented on #4637
+1

[2017-02-21 22:05] Fairlight60 commented on #4131
I got the "More than one node matching the query" problem in 2.1.2 too.

I found something interesting though : in my custom **zip_codes.xml** (in a custom module), when there is only one **code** node in a **zip** node, the problem doesn't appear but the custom validation is ignored.

**EXAMPLE**
[code]
**Result** : this custom validation is ignored, the original validation is triggered.  Note th

[2017-02-21 22:53] maghamed commented on #7963
@adityag186
You have to set MySQL global system variable  https://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html#sysvar_tmp_table_size
which default value is 16MB, If an in-memory temporary table exceeds the limit, MySQL automatically converts it to an on-disk MyISAM table, so the re-indexation process stucks.

you can read how to do it in this article
https://dev.mysql.com/doc/refma

[2017-02-21 23:01] importwholesales opened #8645 "Magento 2.1.4 Admin PayPal iframe all in one solution no credit card option"
### Preconditions

Magento 2.1.4 fresh install.

1. magento 2.1.4
2. php 5.6
3. mysql  5.6
4. nginx

### Steps to reproduce

Admin > Stores > Configuration > Sales > Payment Methods
PayPal All in one payment solution
Payments Advanced
Accept payments with a PCI-compliant checkout that keeps customers on your site. (Includes Express Checkout)

When this is selected and filled out.   I get the ifram

[2017-02-21 23:19] michafn commented on #8530
same here, i got this error while creating orders that we received in M2E pro.

[2017-02-22 00:22] pboisvert commented on #6984
https://github.com/magento/magento2ce/pull/544 is the pull request for this issue. Issues shows as closed fixed against 2.1.3 so closing.

@antboiko can you check issue mentioned in last comment for grouped products and open a new magetwo ticket if needed

[2017-02-22 00:22] #6984 closed, assigned to nobody

[2017-02-22 00:35] hubaig commented on #7977
Hi,

That fix did change my currency to CAD but I still get an error and in my payflow logs see that it is authorising with $0.00 amount.

Any ideas why it would do that?

[2017-02-22 00:38] KalebHosie commented on #7977
@hubaig great to hear it worked. I tried finding a better solution but so far I've been unable to.

Magento authorizes $0 to make sure the credit card is valid. Once it gets a confirmation it's valid, it sends the full amount of the order. There's no doubt that it's overly redundant but it works so I cannot complain

[2017-02-22 00:40] hubaig commented on #7977
@supanatral I am actually trying to make a sale not an authorizaiton.

My Payment Action: is set to Sale in Magento. Not sure why it is authorizing instead of a sale. Any ideas?

[2017-02-22 00:44] HongMarketingInc commented on #7977
@supanatral

Has your programmer fixed it?

[2017-02-22 00:46] KalebHosie commented on #7977
@hubaig My payment is set to sale as well. It appears to authorize $0 and when it gets approved, it charges the full amount.

As I said, there's no doubt this is incredibly redundant and very much unnecessary but at least it works.

My programmer hasn't seemed to figure out the fix as of yet :S

[2017-02-22 00:46] hubaig commented on #7977
Mine never ends up creating a sale. Just gives up at authorization.

[2017-02-22 00:58] KalebHosie commented on #7977
@hubaig Strange! Does your front end supporting both PayPal express checkout AND PayPal website payments pro? I'm not looking at the config interface but are you sure that both payment methods (express and payments pro) are set to "sale"?

Sorry if my reply is overly basic.

[2017-02-22 00:59] misha-kotov commented on #8615
Thanks for reporting - internal issue number is MAGETWO-60899.

[2017-02-22 01:01] hubaig commented on #7977
yes they both are set to sale. I am updating to 2.1.5 as it just came out. Lets see if it fixes anything.

[2017-02-22 01:10] KalebHosie commented on #7977
The changes won't do anything. Here's the release notes:
"This release updates the copyright date in every file. It does not contain any functional changes or security improvements. Isolating these changes in a single release is intended to simplify future updates and developer workflow."

#FAIL

Which currency do you use as a base currency? Is there any other error that is shown?

[2017-02-22 01:12] hubaig commented on #7977
My base currency is CAD. Right now my store is at 2.1.1. So upgrading to 2.1.5 would provide some sort of functional/security changes though.

[2017-02-22 01:39] caiyundong commented on #4737
Magento 2 will find the email theme (email-inline.css) from your own theme first; if not found, then find it from the parent theme (e.g. blank theme).

Here is my solution without modifying the Emogrifier.php:

- After doing the "grunt exec:dom1" and "grunt less:dom1", generated css file for email will be at "pub/static/frontend/dom/dom1/en_US/css/email-inline.css".
- Copy the file to you theme fo

[2017-02-22 02:01] hubaig commented on #7977
Upgraded to version 2.1.4 still no luck :( not sure why it won't work.

[2017-02-22 02:48] hubaig commented on #7977
making progress.  I am getting an auth and a sale now. However the same declines due to this:

Result Code: 117
Response Message: Failed merchant rule check

According to [THIS](https://www.paypalobjects.com/en_US/vhelp/paypalmanager_help/result_values_for_transaction_declines_or_errors.htm) this is due to the security settings. I have softened my settings a bit and have set them all to no and it

[2017-02-22 02:57] adityag186 opened #8646 "Magento 2 Google page speed insight: eliminate render-blocking JavaScript and CSS"
### Preconditions

1. Magento 2.1.3 Mysql, Php 5.6, apache, centOS
2.

### Steps to reproduce

1. Go to google page speed analytics tool
2. Run for www.atlanticbooks.com
3.

Suggestions given:

Eliminate render-blocking JavaScript and CSS in above-the-fold content
Your page has 1 blocking CSS resources. This causes a delay in rendering your page.
None of the above-the-fold content on your page cou

[2017-02-22 04:28] Moinashraf commented on #8631
Hello @orlangur,
When we are enable address field in customer_account_create.xml file using
`<referenceBlock name="customer_form_register">
            <arguments>
                        <argument name="show_address_fields" xsi:type="string">1</argument>
            </arguments>
</referenceBlock>`
And when we want to register the user on My Account.It will display Above
`Delete operation is forbi

[2017-02-22 05:37] yosefkurniawan commented on #2931
Hi, seems cart price rules is still not working properly yet in Magento 2.1.3.
The amount of multiple discount seems correct already, in my case I use 2 cart price rule, one is without coupon, the other is with coupon. But in the totals block in the sidebar of shopping cart page, all discount (with and without coupon) are merged being one line. I expect they should be written one line per discount

[2017-02-22 05:46] #8308 closed, assigned to nobody

[2017-02-22 05:46] #8315 closed, assigned to nobody

[2017-02-22 07:25] hemant2586 commented on #5954
I am also having same issue with Magento 2.1.2 PHP Version 7.0.4. The code works fine without compilation but gives error after running compilation.

Fatal error: Uncaught TypeError: Argument 1 passed to Ktpl\Customergroups\Model\Plugin\CustomerExtractor::__construct() must be an instance of Magento\Customer\Model\Metadata\FormFactory, instance of Magento\Framework\ObjectManager\ObjectManager give

[2017-02-22 07:28] koenner01 commented on #6984
@pboisvert the pull request link your are referring to isn't working ?

[2017-02-22 08:30] raisaev commented on #8530
@michafn, me too. In order to fix that you can make some modifications to
**app\code\Ess\M2ePro\Model\Magento\Quote\Store\Configurator.php**

find the methods **setStoreConfig**() and **getStoreConfig**() and replace
**$this->getStore()** with **$this->getStore()->getCode()**  for theirs arguments

[2017-02-22 08:37] franckgarnier21 commented on #6564
I still have the same problem with Magento 2.1.4

Fixed with this related post : #6875

[2017-02-22 08:42] michafn commented on #8530
@raisaev : thank you very much for this fix

[2017-02-22 08:44] tkn98 commented on #4883
@maksek: Can you please provide an ETA? And don't stumble upon revisions ... :)

[2017-02-22 09:12] cizgidekiadam commented on #8061
@jpratt we are not using cdn for static files. Just merging js&css, not minified.
But tried both merged and not merged version.

Theses days, we are working hard on our live version (2.1.2) and not have too much time to debug this error. Next days, i'm planning for a line by line debugging to solve this.

If i find a clue, will share in here.

[2017-02-22 09:14] cizgidekiadam commented on #5008
Is there a way to remove store related records from database for using single store mode ? For me, some other single store related problems fixed by removing other store data.

[2017-02-22 09:20] franckgarnier21 commented on #6875
Hello,

I confirm the issue. It fix the problem for me too.

Thanks!