[2017-09-11 22:48] #10054 closed, assigned to nobody

[2017-09-11 22:49] magento-engcom-team commented on #10136
@shanavas786 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for technical issues only.
Feel free to submit pull request for this issue 👍

[2017-09-11 22:49] #10136 closed, assigned to nobody

[2017-09-11 22:55] magento-engcom-team commented on #10133
Hi @flancer64 thank you for pointing on this. We already have this as a part of our commitment in [Backward compatible development](http://devdocs.magento.com/guides/v2.0/contributor-guide/backward-compatible-development/) We still have some tech debt, but we are working to minimize it.
Feel free to submit pull request to address the most painful issues for you. Thank you

[2017-09-11 22:55] #10133 closed, assigned to nobody

[2017-09-11 22:59] magento-engcom-team commented on #8429
@vikyshan thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps t

[2017-09-11 23:02] magento-engcom-team commented on #7912
Hi @krukas thank you for the report and pull request. We are closing this issue for now. If you would like to you improve your PR and submit it again. Thank you for your contribution!

[2017-09-11 23:02] #7912 closed, assigned to nobody

[2017-09-11 23:04] magento-engcom-team commented on #7424
@Frits1980 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2017-09-11 23:06] magento-engcom-team commented on #5668
@ljrweb thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version

[2017-09-11 23:08] magento-engcom-team commented on #4870
@rhoerr thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version

[2017-09-11 23:08] magento-engcom-team commented on #6015
internal issue MAGETWO-58082.

[2017-09-11 23:09] magento-engcom-team commented on #5787
internal issue MAGETWO-42655

[2017-09-11 23:16] pboisvert commented on #10834
@tkacheva Olena--can you consider this for backlog? I think it may make sense as a default as login at checkout is likely driven by desire to use stored address/payment info or possibly get a discount tied to customer account, but should do some research to confirm if it should configurable (to current or continue checkout).

[2017-09-12 01:51] eharvest commented on #8312
I'm trying to integrate Magento 2.1 with a third party accounting/inventory/pos software and I'm getting the same error, here is the whole error message:

[code]
We were able to sync products but not orders. Is this a bug? Cheers.

[2017-09-12 02:34] magento-engcom-team commented on #9861
Hi @luke-denton-aligent Thank you for reposnse.
Please, format this issue according to the Issue reporting guidelines: with steps to reproduce, actual result and expected a result.
Please copy all valuable information from an external resource to the ticket.
Please, also identify which version of Magento you are running.
Without this information, we can not proceed with this issue
Please reopen th

[2017-09-12 02:39] magento-engcom-team commented on #10518
Hi @bondimedical3 Thank you for the response.
Please use the issue reporting guidelines to report an issue. Include the steps required to reproduce, the actual result, and the expected result. We have thousands of reported issues, so we are trying to clarify as much as we can before pushing it to the core developers or community developers to let them fix as many issues as they can.
Please update

[2017-09-12 02:42] magento-engcom-team commented on #10791
Hi @korostii sorry for confusing. Reporting of Magento Commerce issue on public GitHub was allowed only for 2.2-rc program. We reopned the issue and added required labels. Thank you for pointing on this 👍

[2017-09-12 02:51] calvintwr commented on #9053
Preconditions: Magento version 2.1.8

Steps to reproduce

Attempt a refund

Expected result

Refunding makes sense.

 Actual result

Refunding doesn't make sense.

[2017-09-12 02:51] bondimedical3 commented on #10518
Product image scrolling is not fluid on mobiles

### Preconditions
1. Magento 2.1.8
2. PHP 7.0.2

### Steps to reproduce
1. Open a product page
2. Scroll down to approximately 50% of the image height and the page jumps back to the top. Issue also occurs when scrolling up
3. Bug is intermittent and glitchy and can take a few atrempts to reproduce. Mainly occurs when you use a flick style scroll pas

[2017-09-12 02:56] magento-engcom-team commented on #10518
@bondimedical3 thank you for update

[2017-09-12 02:59] magento-engcom-team commented on #9053
@calvintwr thank you for the update. we will try to reproduce the issue by the provided information

[2017-09-12 04:35] kervin commented on #8018
The issue exists in 2.1.8 as well..

[2017-09-12 04:55] han-yue commented on #10388
How did you solve this?

[2017-09-12 05:32] deckside commented on #8018
If you run  indexer:reindex catalog_category_product after magento indexer:reindex it seems to work.

php /bin/magento indexer:reindex
php /bin/magento indexer:reindex catalog_category_product

or add to CRON

[2017-09-12 06:07] Frits1980 commented on #7424
WOW!!! Almost a year later this is your reaction. Never mind. If you can't understand my initial request you're not the one for the job.

[2017-09-12 06:24] lyusya-nnn opened #10846 "Can not enable products from the configurable"
### Preconditions
Magento 2.1.8
### Steps to reproduce
1. In admin panel go to Products > Catalog
2. Click on Add configurable product, enter product name, sku and price for the new product, click on Create configuration button and add child products to the configurable, put status Disable for the assigned products:
![new product products inventory products verpakkingsmaterialen hodi b v magento a

[2017-09-12 06:55] kervin commented on #8018
I have large around 60,000 products on 16 stores, and indexing is failing at time.

I've added the following in 2.1.8, and it seems to be better. I am still testing.

class Full extends \Magento\Catalog\Model\Indexer\Category\Product\Action\Full
{
    protected function isRangingNeeded()
    {
        return false;
    }
}

[2017-09-12 07:22] deckside commented on #10754
I have the same problem this started after upgrading from CE2.17 to CE2.18

[2017-09-12 07:28] kanduvisla opened #10847 "Category getExtensionAttributes() does not create new extension attribute object"
If you look at `\Magento\Catalog\Model\Category::getExtensionAttributes()` you'll see that it only returns it's parent method which in turn is a simple `getData()`-call:

    public function getExtensionAttributes()
    {
        return $this->_getExtensionAttributes();
    }

But if you look at `\Magento\Catalog\Model\Product::getExtensionAttributes()` you'll see that if creates a new extension a

[2017-09-12 07:34] maximehuran commented on #8060
The field is required to create a coupon, so if I want te be sure the lifetime of it is "unlimited", I put an end date far far away.

[2017-09-12 07:38] josefbehr commented on #6754
Also still experiencing the issue on 2.1.8, a fix for the 2.1 branch would be greatly appreciated.

[2017-09-12 07:38] maximehuran commented on #8060
At least, block the end date field after 01/19/2038

[2017-09-12 07:40] RomaKis commented on #10687
@boxyman, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details regarding your environment, or try to reproduce this
issue on a clean installation.

[2017-09-12 07:52] cviking26 commented on #9489
@magento-engcom-team, created pull request in https://github.com/magento/magento2/pull/10848.

[2017-09-12 07:54] magento-engcom-team commented on #10704
@impunkj,  thank you for your report.
Please use the issue [reporting
guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
to report an issue.
Please, add the following information:
-Preconditions: Magento version, Is Sample Data installed

[2017-09-12 08:03] mohsinleads opened #10849 "Something went wrong while saving the category Magento 2"
Something went wrong while saving the category. in magento 2
nothing error show in error logs.

cant rectify the error...

[2017-09-12 08:13] RomaKis commented on #10839
@Kasoi-free, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details regarding your environment, or try to reproduce this
issue on a clean installation.

[2017-09-12 08:22] Quartermain commented on #3037
Hi @piotrekkaminski and all

Please help me. I cazy this bug and lot many time.
I use Win10, run CMD, Xam by administrator and have change
Magento\Framework\App\View\Asset\MaterializationStrategy\Symlink
to

 but still ERROR.

Some time run ok

Thanks

[2017-09-12 08:23] magento-engcom-team commented on #10691
@tripath  thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
- Preconditions: Magento version
- Steps to reproduce
- Expected result
- Actual result

[2017-09-12 08:26] orlangur commented on #10847
Such behavior for `Product` model was introduced in https://github.com/magento/magento2/commit/0f0063045b50e1dafa260b97a1a00bf9fa92e74b#diff-d31bcdab992b8a290ce2d9ae7ed5bb62R2459 and I have no idea why. The newly created instance is not even stored inside, this is just a factory method.

Just like interface says - it can return instance or `null`. Do you see any problem with that?

[2017-09-12 08:40] LiquidSebbey commented on #3386
It seems like Magento shows the order based on the attribute_id (as in eav_attribute table), but you cannot change these attribute_id, since everything is associated with these. A sort column would be handy in this table!

[2017-09-12 08:47] LucScu commented on #3544
If this issue is not yet fixed, why is it signed as closed?

[2017-09-12 09:01] diazwatson commented on #6817
@SerhiyShkolyarenko is there a version of this fix compatible with EE 2.1.7?
All commits I see seem to be compatible only with 2.2

[2017-09-12 09:21] Wettons opened #10851 "Somthing Went Wrong - when opening All customers tab - constant timer with no access"
I clicked on new customers and it came up with something went wrong

### Preconditions
I had just deleted an old client
I am using Magento

1. Just click on "All Clients" and error appears

### Expected Result
I would have expected to see my list of clients.

[2017-09-12 09:39] Puru2016 commented on #4588
I am using Magento ver. 2.1.7, and I have followed above changes but still my issue is not fixed.
In my case related products price showing the main product price on product details page.

Please advice on this.

[2017-09-12 09:52] leonhelmus opened #10852 "Duplicate default value discount_tax"
### Preconditions

1. PHP 7.0
2. Magento 2.2
3. Mysql v10

### Steps to reproduce

1. Go to /Magento-2/vendor/magento/module-tax/etc/config.xml at line 23 is a duplicate tag entry for <discount_tax>

### Expected result

1. There should only be one discount_tax tag

### Actual result

1. If i want to override this default value i get an error.

[2017-09-12 10:02] juergengp commented on #2564
currently i use import/export for creating configurable products automatically. this is also quite a buch of work , because attributes aren't imported like in 1x.

The optional attributes section in the csv file is quite unhandy. i wonder if m2 developers have ever seen a productlist which a merchant from the manufaturer is normally receiving, especially the color and sizes of an article or adding

[2017-09-12 10:03] Yavonz15 commented on #7876
if disable cache eav it works

by command line
`php magento cache:disable eav`

[2017-09-12 10:14] Yavonz15 commented on #7876
if disable cache eav it works

by command line
`magento cache:disable eav`

[2017-09-12 10:25] kervin commented on #10687
I think it's only when you save a product programmatically.

The problem that I found it when you set the current store to admin..

        // Set to Admin Store
        // When this is set product images disappear
        // $store = $this->storeManager->getStore(0);
        // $this->storeManager->setCurrentStore($store->getCode());

[2017-09-12 10:34] LucScu commented on #3294
@orlangur What have we to do to retrieve customer's email for logged user with FPC enabled? It is absurd that there is no easy way to do so.
Have we to follow all these steps http://devdocs.magento.com/guides/v2.1/extension-dev-guide/cache/page-caching/private-content.html?

[2017-09-12 10:44] patrypombo commented on #6786
I have same problem, when add a custom product attribute of type  Media image and add it to default set of attributes, it can't be showed at product backend page. How can I see it?

[2017-09-12 10:47] orlangur commented on #3294
Please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions. You can do it similar to "Welcome, %USERNAME%!" block.

Feel free to suggest a better implementation.

[2017-09-12 10:54] routbiplab commented on #8825
i was able to place an order using authorize.net direct post method.  I have used sandbox account to do the transactions. Order has been placed successfully but when trying to create invoice from admin and trying to capture online its shows me Gateway Error: unable to read response or response is empty.

[2017-09-12 11:01] routbiplab opened #10853 "Gateway error: Unable to read response, or response is empty while trying to capture invoice online"
Gateway error: Unable to read response, or response is empty while trying to capture invoice online.

### Preconditions

1. Magento v2.1.7

### Steps to reproduce

1.  Enable Authorize.net direct post payment method.
2.  Enter your sandbox account credentials. (API login id, transaction key, MD5 )
3.  Gateway URl: https://test.authorize.net/gateway/transact.dll
4. Transaction details URL: https://

[2017-09-12 11:06] LuisFReis commented on #10574
Need some answer

[2017-09-12 11:31] Andrii-Deineha commented on #10827
Hi @Dregolwd, Thanks for reporting this issue. Unfortunately, I could not reproduce the issue as you described it. Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-09-12 11:41] arthurlataks commented on #10780
@magento-engcom-team Comment is updated as per your comment.

[2017-09-12 11:43] joni-jones commented on #10853
Hi, @routbiplab, please, enable debug mode for Authorize.net and provide transaction details from the `debug.log`, also if any error messages are present in `exception.log` or `system.log`, please, attach them.

[2017-09-12 11:47] RomaKis commented on #9440
@christian-forgacs , thank you for your report.
We were not able to reproduce this issue by following the steps you provided.

## **Steps to reproduce with NGINX and Magento version 2.1.6 :**

1. Execute this to get the time on the server: php -r '$date = date("m/d/Y h:i:s a", time()); echo "Server time is: " . $date . "\r\n"; exit;'
2. Create the directory 'sitemap' in the root folder of your sit

[2017-09-12 11:52] Andrii-Deineha commented on #10790
Hi @dankocherga, Thanks for reporting this issue. Unfortunately, I could not reproduce the issue as you described it.
![tax rate 100 discount results](https://user-images.githubusercontent.com/27814119/30324497-ee680ad6-97c9-11e7-808a-ad15d4958708.jpg)

[2017-09-12 12:23] Andrii-Deineha commented on #9063
HI @Brandame, Thanks for reporting this issue. Unfortunately, I could not reproduce the issue as you described it. Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-09-12 12:24] 0m3r commented on #3149
It would be nice to refactored this
https://github.com/magento/magento2/blob/develop/app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js#L324-L327
https://github.com/magento/magento2/blob/develop/app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js#L652-L654
https://github.com/magento/magento2/blob/develop/app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js

[2017-09-12 12:26] Andrii-Deineha commented on #9707
Hi @martinhetschel, Thanks for reporting this issue. Unfortunately, I could not reproduce the issue as you described it. Please provide more information about your Magento installation, including the versions of PHP and MySQL you are using as well as the web server.

[2017-09-12 12:47] nmalevanec commented on #10696
@Rich8881
 Unfortunately, I could not reproduce the issue as you described it. Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-09-12 12:53] korostii commented on #3294
The `$_isScopePrivate` approach was perfect from developer point of view, but I believe it's now considered deprecated and discouraged by the core developers (not sure about the motivation for this decision, might be exactly because of some issues with cache) - it's even mentioned in the docs.

IMHO developer shouldn't need to go through _that_ amount of effort in order to work around the caches.

[2017-09-12 12:59] p-bystritsky commented on #9454
@onepack, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details regarding your environment, or try to reproduce this
issue on a clean installation.

[2017-09-12 13:05] routbiplab commented on #10853
Here is my debug.log and exception.log files.

[exception.txt](https://github.com/magento/magento2/files/1296027/exception.txt)

[debug.txt](https://github.com/magento/magento2/files/1296029/debug.txt)

[2017-09-12 13:08] timri commented on #6179
I had a similar issue:
[code]
I my case this was caused by a utility-script that had "class" as keyword in global scope (without defining a class)
minimal file to reproduce (f.e. in an module-dir (vendor/myvendor/mymodule/choke_di_compile_example.php):
[code]
(it doesn't matter which class is used, the important part is using the class-keyword in "::class" instead of "class MyClassName {}")
It wor

[2017-09-12 13:12] mrjcgoodwin commented on #8018
@kervin - Where should we apply this fix? We have a 2.1.8 site we can't index.

[2017-09-12 13:18] Noewt commented on #6146
That dirty trick was already provided ktruehl, but is also currently not working here in 2.1.8. All transactional e-mails still have the set return-path ignored.

[2017-09-12 13:31] nmalevanec commented on #8190
@Taral-Patoliya
Unfortunately, I could not reproduce the issue as you described it.
![image](https://user-images.githubusercontent.com/11520943/30328357-c2a4ddda-97d7-11e7-931b-60cbd8b20dde.png)

[2017-09-12 13:33] flancer64 commented on #8018
Hi, guys.

Does this fix (https://github.com/flancer32/mage2_fix_pr9621) not work in 2.1.8?

[2017-09-12 13:41] p-bystritsky commented on #9512
@ jcolas15, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details regarding your environment, or try to reproduce this
issue on a clean installation.

[2017-09-12 13:41] flancer64 commented on #8018
Uups, there are changes in 2.1.8 in \Magento\Framework\DB\Query\BatchIterator. I suppose - yes, the fix does not work in 2.1.8.

[2017-09-12 13:47] pravalitera commented on #8018
Please guys. Read the thread, stop posting for nothing, without adding any
news.
Everything needed to fix it is right here in front of your eyes.

Thk you.

2017-09-12 15:17 GMT+02:00 mrjcgoodwin <notifications@github.com>:

[2017-09-12 13:50] Puru2016 commented on #4588
@magento-engcom-team: I am not able to get you here. please explain more

[2017-09-12 14:00] magento-engcom-team commented on #7424
@Frits1980 thank you for the response. Does the issue still relevant? Have you tried latest Magento release?

[2017-09-12 14:05] flancer64 commented on #8018
Yes, @pravalitera, setting "false" into "isRangingNeeded()" will fix the error but it will not split all 60K products into batches in the indexing process. Does this affect to performance or does not - I don't know. I have no so much products in my catalog (about ~3K only). My solution should add batches to the indexing (as Magento team planned originally). Does this better than just switch rangin

[2017-09-12 14:14] viktym commented on #10853
Try to use https://apitest.authorize.net/xml/v1/request.api as transaction details URL for test requests

[2017-09-12 14:23] orlangur commented on #3294
@korostii passing pieces of HTML via AJAX in 2k17, really? :)

The `$_isScopePrivate` is flawed by design (one small mistake and your customer private data is cached for everyone). Too bad this M1-style FPC mechanism was not eliminated at all (just because it requires a lot of refactoring).

Didn't check 2.2 yet as well. For the 2.0 GA there was a separate effort to make all product/category/CMS p

[2017-09-12 14:29] Frits1980 commented on #7424
I'm running 2.1.8. Everybody who actualy uses Magento knows what I mean with this. It's there in ALL  version, in 1 and in 2. It's an architectual flaw. Because this differs from the USA market and Magento is made for USA market. Archicectual wise It should really do Magento good to look beyond the USA market for webshop software and look at the needs of other parts of the world.

[2017-09-12 14:29] #7424 closed, assigned to nobody

[2017-09-12 14:44] pravalitera commented on #8018
It is better to do it like you did. But in fact, it depends a lot on your
mysql configuration: some server won't accept a so big sql request. I did
not test your fix.

I'm not saying this thread is not useful, it just that some of the posts
are too much "hey, how do i do it ?" and too much "maybe".  After reading
alll the new post, I still don't know if 2.1.8 is fixed or not. We have to
be precise

[2017-09-12 14:59] magento-engcom-team commented on #9512
@jcolas15 we are closing this issue due to inactivity. If you'd like to update
it, please reopen the issue.

[2017-09-12 14:59] #9512 closed, assigned to nobody

[2017-09-12 15:00] LucScu commented on #3294
@orlangur
I try to find a way by myself, and after find it i will reply here (for anyone have some hints) https://magento.stackexchange.com/questions/152010/how-to-get-customer-email-from-javascript?noredirect=1#comment266673_152010

[2017-09-12 15:10] andidhouse commented on #8018
@magento-engcom-team acting now or letting this be for another 6-12 month?

[2017-09-12 15:24] magento-engcom-team commented on #10687
@boxyman Unfortunately, we could not reproduce the issue as you described it. Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-09-12 15:28] orlangur commented on #3294
@LucScu great! Let's use different services as intended.

[2017-09-12 16:46] korostii commented on #7371
@niko7869 Have you tried hiring a developer? =)

Otherwise you're largely on your own. This is a bugtracker, not a help desk.
If you are looking for help or an advice, you might have better chances on the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/)

[2017-09-12 16:57] erik-augustin commented on #5929
Same problem here:
Need automatic rewrites categies, doing updates manualy is not the solution.

[2017-09-12 17:16] niko7869 commented on #7371
@korostii thank you for your opinion about the issue, i already solved that issue as its very minor problem but as u say its not forum or community that people will help so i will also pass on and wont post the solution for other people ;)

[2017-09-12 17:19] Ctucker9233 commented on #10118
@steros There is a way. Under configurations in the edit product page, click the button that says "Create Configurations". If you already have configurations that you just want to add, Magento doesn't show the link to do so until you create a dummy configuration. That in itself should be considered a bug but no one seems to want to fix it.

[2017-09-12 17:22] WillWoolley commented on #6826
Same issue here using 2.1.7. Took me ages to figure out!! Ca we somehow override the field to turn autocomplete off??

[2017-09-12 17:48] korostii commented on #9861
Not sure if that's sad or funny, but. If you look around issues here on this repo, you'll see just that happen over and over again. Issue processing is rather slow here and develop priorities are sparse.

[2017-09-12 18:01] Olek89 opened #10855 "Logs out after saving a configurable product"
### Preconditions

1. M2 2.1.8
2. PHP 7.0.22

### Steps to reproduce

1. Go in produkt of the main configurable product
2. go to the content
3. add or update the text
4, click on saving

### Expected result

1. the result should save the product

### Actual result

1. [Screenshot, logs]
in the logs are no issues happening or written

[2017-09-12 18:13] korostii commented on #10851
The issues which cannot be consistently reproduced on a clean installation of Magento 2 CE aren't likely to get resolved in here.

Thus if you are, in fact, reporting a technical issue, please try add as much information as possible, including the environment you use, 3rd party themes and modules installed (if any), preconditions, exact steps to follow, screenshots and stack trace from browser con

[2017-09-12 18:38] Olek89 commented on #10689
In the serverconfiguration it should be everything well.
Is it an error in M2?
Could it be resolved?

[2017-09-12 18:42] am2008 commented on #7367
+1,
![image](https://user-images.githubusercontent.com/14186132/30342552-f1104026-9802-11e7-8b2f-7802f9541acf.png)
After reindex, some configurable products prices become negative.

[2017-09-12 18:43] Olek89 commented on #10485
i have also the same issue, when comes a new update of magento?

[2017-09-12 18:44] Olek89 commented on #10618
thank you for the workaround but i think it does not work.

[2017-09-12 18:51] korostii commented on #3294
Well, Magento2 still has Zend framework 1 and prototype.js inside. In 2017. What's your point? :D

Well how would you expect extension and integrator developers to care about it, if it's not even done for the core yet? Looks like double standards to me.

I really hope the blocks cache\tags\variations\local storage system becomes the center of Magento 2's frontend fireworks. But I just don't see ri

[2017-09-12 19:28] ibecmattb commented on #6929
My issue was happening because my development database dump was setting the DEFINER attribute on the triggers to a user that did not exist on the production database. There is a part of the magento cloud docs at the bottom that may be helpful. You basically need to run mysqldump and tell it to not set that DEFINER user. Once I did this, I was able to checkout again! Here is the code snippet I need

[2017-09-12 19:33] NoorulBhoelai opened #10856 "Sync billing with shipping address on Admin Reorder and Admin Customer Create Order page does not work for Existing address selected"
### Preconditions
- PHP 7.0.14
- Mysql 5.7.12
- Magento [2.1.5 - 2.1.6 - 2.1.7 - 2.1.8]
- Branch: Develop, Tag: 2.1.8, Commit Hash: 34fc8d8b034badc36ac9a91dca30e49538d09284

### Steps to reproduce
1. Please Go to Sales > Orders in Admin and continue to step 2, or Go to Customers > All customers and select Sample Customer "Veronica", then go to Create Order, continue to step 4.
2. Select Sample Dat

[2017-09-12 19:40] rhoerr commented on #4870
The sorting issue (as explained in tech details) affects all versions prior to 2.2.0. In 2.0 and 2.1, `getList()` applies filters from `$searchCriteria` [but nothing more](https://github.com/magento/magento2/blob/2.1.8/app/code/Magento/Sales/Model/Order/Payment/Transaction/Repository.php#L186). In 2.2 [collectionProcessor was added](https://github.com/magento/magento2/blob/2.2.0-RC1.1/app/code/Mag

[2017-09-12 19:40] choukalos commented on #10843
Hi @MrDaar,

Did you disable the create email action when you profiled the customer creation?

Asking because the last customer create API call  research I have indicates roughly 3s response time with 2s or so related to sending the email on customer creation.  We're tracking this as a performance improvement to send emails asynchronously on customer creation api calls (which the Admin panel uses)

[2017-09-12 19:47] okorshenko commented on #1146
Internal tickets: MAGETWO-47607 and MAGETWO-67054 already closed and will be delivered in 2.2.0 release

[2017-09-12 19:53] magento-engcom-team commented on #1002
The fix MAGETWO-33564 will be available with release 2.2.0 soon

[2017-09-12 19:53] #1002 closed

[2017-09-12 19:58] magento-engcom-team commented on #1931
The issue already fixed and will be available in release 2.2.0 very soon

[2017-09-12 19:58] #1931 closed

[2017-09-12 20:00] orlangur commented on #3294
ZF1 is in process of elimination and some reminants of `prototype.js`only left in Admin UI, it would be eliminated if needed just like it was done for storefront (a good one for `'up for grabs'`, by the way, last time I grepped there were like ~80 occurrences of it in `require` section of components).

It was done for crucial pages, sometimes regressions happened like review block on product page,

[2017-09-12 20:00] orlangur commented on #10689
Are you using Safari browser? Duplicate of https://github.com/magento/magento2/issues/10804 then.

[2017-09-12 20:02] magento-engcom-team commented on #1661
MAGETWO-43683 has been fixed and delivered

[2017-09-12 20:02] #1661 closed

[2017-09-12 20:04] orlangur commented on #10804
https://github.com/magento/magento2/pull/10033 seems to be a fix for this bug not backported to `2.1` yet: https://github.com/magento/magento2/blob/2.1-develop/app/code/Magento/Ui/view/base/web/js/form/element/file-uploader.js#L307

Looks like an easy frag to me. Anybody? 😎

[2017-09-12 20:04] magento-engcom-team commented on #2937
The issues already fixed and will be available with release 2.2.0 very soon

[2017-09-12 20:04] #2937 closed, assigned to nobody

[2017-09-12 20:06] magento-engcom-team commented on #2206
The issues already fixed and will be available with release 2.2.0 very soon

[2017-09-12 20:06] #2206 closed

[2017-09-12 20:11] magento-engcom-team commented on #4065
Internal tickets already fixed and delivered
MAGETWO-67290
MAGETWO-63651
MAGETWO-63650
MAGETWO-63637
MAGETWO-51936

[2017-09-12 20:11] #4065 closed, assigned to nobody

[2017-09-12 20:15] benhath opened #10857 "Google Analytics Affiliation Property Set Breaks Analytics and Adword Reports"
### Preconditions

Magento 2.1
Core analytics module.

### Steps to reproduce
Enable google analytics, enable e-commerce tracking in analytics and submit a transaction.

### Expected result
Transaction appears in google analytics and can be filtered by source/medium. The source should not show as an affiliation.

### Actual result
The affiliation property in Google Analytics purchase tracking code

[2017-09-12 20:19] valdislav commented on #8313
Looks like this is not in 2.1.7.

[2017-09-12 20:21] orlangur commented on #10857
It's better to propose a PR instead.

[2017-09-12 20:24] magento-engcom-team commented on #2951
Hello everyone. Thank you for your reports, suggestions and comments. Unfortunately, we should lock this issue for now. We already fixed most of the cases described in this issue and will deliver the fixes with release 2.2.0 very soon. If you still have other issues, please, report separate issues otherwise this will be infinite loop. Thank you for collaboration!

[2017-09-12 20:24] #2951 closed, assigned to nobody

[2017-09-12 20:37] benhath commented on #10857
I don't know how to do this.

[2017-09-12 21:06] orlangur commented on #10857
Ok, no problem, somebody familiar with Magento code from Community or Core Team may take care of it.

Just FYI, for simple changes it can be done even via Web UI if there is no `git` and other tools installed locally.

First some "grep": https://github.com/magento/magento2/search?utf8=✓&q=affiliation&type=

Then
https://github.com/magento/magento2/blob/develop/app/code/Magento/GoogleAnalytics/Bloc

[2017-09-12 21:41] Ctucker9233 commented on #10024
@magento-engcom-team
Experienced this too.

Preconditions:
Magento 2.1.7

Steps to Reproduce:
1. Go to product creation
2. Scroll down to a product attribute with a text field.
3. Leave the text field blank
4. Save the Product
5. Navigate to that product on the frontend

Expected Result:
Attributes with blank text fields will not show up on the frontend

Actual Result:
Attributes with blank text f

[2017-09-12 21:43] deckside commented on #8018
Further to my last comment.
Using CE2.18 I also use Igor Revenko's solution.

**Added this fix** https://magento.stackexchange.com/questions/88081/magento2-products-suddenly-disappeared-on-frontend

AND

Have the following in **CRON**

0 0 * * * /opt/bitnami/php/bin/php /opt/bitnami/apps/magento/htdocs/bin/magento indexer:reindex
0 0 * * * /opt/bitnami/php/bin/php /opt/bitnami/apps/magento/htdocs/

[2017-09-12 23:22] Joker2099 commented on #6146
@Noewt Sorry, yes I used @ktruehl's way to fix it on 2.1.4. I also read something about that the return-path was removed in one of the versions completely. I may be wrong though.

[2017-09-12 23:48] magento-engcom-team commented on #7988
Fixed by @arshadpkm Thank you

[2017-09-12 23:48] #7988 closed, assigned to arshadpkm

[2017-09-13 00:06] magento-engcom-team commented on #8241
Thank you @xmav for the fix

[2017-09-13 00:06] #8241 closed, assigned to nobody

[2017-09-13 00:08] magento-engcom-team commented on #4359
Fixed in https://github.com/magento/magento2/pull/9672
Thank you @ktomk

[2017-09-13 00:08] #4359 closed, assigned to maksek

[2017-09-13 00:14] magento-engcom-team commented on #9187
@thdoan we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 00:14] #9187 closed, assigned to nobody

[2017-09-13 00:16] magento-engcom-team commented on #9849
Thank you @rhoerr for the testing. Closing this issue

[2017-09-13 00:16] #9849 closed, assigned to nobody

[2017-09-13 00:19] magento-engcom-team commented on #8184
Issue has been fixed in 2.2 and will be released very soon

[2017-09-13 00:19] #8184 closed, assigned to nobody

[2017-09-13 00:28] magento-engcom-team commented on #6875
Fixed in https://github.com/magento/magento2/pull/9485 Thank you @rachkulik

[2017-09-13 00:28] #6875 closed, assigned to nobody

[2017-09-13 00:36] magento-engcom-team commented on #9175
@surajsanchit thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2017-09-13 03:19] conflicker commented on #7570
I'm getting this issue on 2.1.7 CE, any solution?

[2017-09-13 04:04] conflicker commented on #7570
@magento-engcom-team what is G1 Failed label means?

[2017-09-13 04:41] ZenDevMaster commented on #6509
still a bug in 2.1.8

[2017-09-13 05:03] surabhinsi commented on #7367
I have done the changes in vendor/magento/module-configurable-product/Model/ResourceModel/Product/Indexer/Price/Configurable.php and it is working now in Magento 2.1.8
Attached is the file
[Configurable.docx](https://github.com/magento/magento2/files/1298254/Configurable.docx)

[2017-09-13 05:20] flancer64 commented on #8018
I found that `\Magento\Framework\DB\Query\BatchRangeIterator` is used in 2.1.8 instead of bugged `\Magento\Framework\DB\Query\BatchIterator` in 2.1.7. I cannot reproduce failure with `BatchRangeIterator` in 2.1.8. So, my fix (flancer32/mage2_fix_pr9621) is not acceptable for 2.1.8.

[2017-09-13 06:17] pankajpragma commented on #10586
I am facing the same issue with attribute set change. Getting error message in console "multiselect.js:52 Uncaught TypeError: Cannot read property 'length' of undefined" .

Is any fix available for Magento 2.1.8?

[2017-09-13 06:29] kervin commented on #10687
Just do the following on 2.1.8. If I do not set current store, it saves products to random stores.. when I set the store, it breaks the images.

            $this->storeManager->setCurrentStore($store);

            $product = $this->productRepository->getById($data['product_id'], true, $store->getId());

            $this->productRepository->save($product);

[2017-09-13 06:38] skashish opened #10860 "Javascript text not getting translated to other languages"
### Preconditions

1. Magento CE 2.1.7
2. Php 7.0 Mysql 5.5
3. Ubuntu 14.04

### Steps to reproduce

1. Install Persian language pack as mentioned [here](https://github.com/mageplaza/magento-2-persian-language-pack).
2. Set Persian locale in Admin panel.
3. Inserted the following line

`"Minimum length of this field must be equal or greater than %1 symbols. Leading and trailing spaces will be igno

[2017-09-13 06:48] kervin commented on #10687
I found a workaround, unset media_gallery, if you are not changing images.

[code]

[2017-09-13 07:07] kervin commented on #10687
The issue seems to be on configurable products

[2017-09-13 07:47] hostep commented on #10860
This will most likely be fixed by https://github.com/magento/magento2/pull/10747, which should be released in one of the next Magento 2.1.x releases (probably 2.1.10?)

[2017-09-13 07:54] PascalBrouwers commented on #9175
Que?
..looks up Code of Conduct to see if he missed something.

[2017-09-13 08:11] Olek89 commented on #10855
Did somebody have a idea? I can`t work without saving products.

[2017-09-13 08:12] LucScu commented on #5594
IT'S NOT A ISSUE! SEE HERE https://github.com/magento/magento2/issues/3294#issuecomment-328464943

[2017-09-13 08:17] magento-engcom-team commented on #10684
@brandontamm Unfortunally, it is not possible to enable "dynamic price" for Bundled product after you have saved it disabled once. If you wouls like to make Feature Requests for Improvements, you should  submit it on the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](https://commun

[2017-09-13 08:31] Olek89 commented on #10855
The Problem is in the Editor, if i deactivate it, than i have only html codec everything works well.

[2017-09-13 08:41] aboritskiy opened #10862 "Class not found while working with interface library (e.g. php-http/curl-client)"
### Preconditions
1. Magento CE installed via composer, I guess that should be enough to identify the version
`"magento/product-community-edition": "2.1.8",`
2. added dependencies on
[code]
it does not matter if those dependencies are added in the root `composer.json` or in the extension's `composer.json` files

### Steps to reproduce
1. run `php bin/magento setup:di:compile`

### Expected result

[2017-09-13 08:52] mslocock commented on #8313
It looks like this is fixed and the patch is goign to be included in 2.2.

We applied this this patch to 2.1.7 and 2.18 and it solved the problem for us:
https://github.com/magento/magento2/commit/b424fdc22c4d33bf2da38d0033dabb0d7a60ba67

I hope this helps any else who has this issue.

[2017-09-13 09:11] orlangur commented on #9535
@Rockfordgun please provide additional information on how to reproduce this issue on clean Magento installation if @korostii suggestion didn't work.

[2017-09-13 09:20] vkublytskyi opened #10863 "Media Gallery Scopes"
## Terms and Concepts

*Warning!* This document uses simplified terms and concepts to explain products media gallery desired behavior and implementation.
For more accurate terms definition please check out [Magento Glossary](https://magento.github.io/glossary/).

**Scope** &mdash; set of data at Magento instance that may be accessible at the same time. Scopes are 4-level hierarchical structure and

[2017-09-13 09:25] orlangur commented on #10862
Could be related to https://github.com/magento/magento2/issues/9760.

Yeah, based on Stack Overflow link and your experience it seems to be missed. Needs to be fixed and covered with an appropriate automated test.

[2017-09-13 09:32] yogisoni commented on #10677
Is there any update on this bug?

[2017-09-13 09:45] orlangur commented on #3913
@pynej please make sure you have a complete PHP installation with all default extensions enabled. In `composer.json` only those PHP extensions needs to be specified which are not enabled by default.

See https://stackoverflow.com/a/8038104 for more details.

[2017-09-13 10:03] skashish commented on #10860
@hostep Is there some quick fix for this till the time it gets resolved?

[2017-09-13 10:06] vkublytskyi commented on #7647
Thank you all who participate in this issue discussion and sorry for the delay with a response. Your feedback helps to review current media gallery implementation and define how it should be fixed and improved.

Some of the media gallery behavior aspects described in comments are bugs but some are not. Desired media gallery behavior, actual issues and required fixes described at magento/magento2#1

[2017-09-13 10:06] #7647 closed, assigned to nobody

[2017-09-13 10:23] MathijsDelva opened #10865 "Shipping address get deselected after knockout-js init with only 1 shipping address on checkout"
### Preconditions
Magento 2.1.5

### Steps to reproduce
1. Make sure you only have 1 shipping address linked to your account
2. Go to checkout after adding a product to basket.

### Expected result
The (sole) shipping address will be selected

### Actual result
The (sole) shipping address gets selected on load, but only to deselect after knockout-js init (after a mere second). After this automatic

[2017-09-13 10:23] korostii commented on #10856
Well, these aren't official, yet they're commonly used:
http://magento2-demo.nexcess.net/
http://magento2demo.firebearstudio.com/

[2017-09-13 10:35] magento-engcom-team commented on #10552
@SitionDenBosch Thank you for your report. May you please check sequence of steps to reproduce your issue in description.

[2017-09-13 10:37] korostii commented on #1002
Hi @magento-engcom-team,

While such an announcement is mildly reassuring, it raises a couple follow-up questions.
1) Should we assume there will be a backport to older versions planned for a fix whenever it's marked as `Reproduced on 2.0.x` or `Reproduced on 2.1.x` ? Or does `Fixed in 2.2.x` label mean than only versions 2.2 and older will receive the fix?
2) Is there a more precise publicly anno

[2017-09-13 10:40] NoorulBhoelai commented on #10856
@korostii Thanks but checked those environments already, exception logs are displayed in the browser in http://magento2demo.firebearstudio.com/ so the issue cannot be reproduced. And http://magento2-demo.nexcess.net/ is only for frontend.

[2017-09-13 10:47] korostii commented on #1931
Hi @magento-engcom-team,
I am having a bad case of deja vu and I just hope that this message above was an automated one and someone has just missed the discussion above (as opposed to outright ignoring it and turning this thing over again).

The issue is reported and reproduced on 2.1.x
The issue isn't fixed on 2.1.x
How come it's "closed" already (again) ?!

Just trying to make sense of it, pleas

[2017-09-13 11:07] ajmedway commented on #10580
More insane and very serious bugs. So far Magento 2 has been such a rocky road. Endlessly need to keep patching/investigating problems in the core code.

[2017-09-13 11:28] atsareva commented on #4468
Hi guys! Any updates here? Thanks

[2017-09-13 11:32] Puru2016 commented on #4588
Thanks to fix this issue, but what should I do to add these changes in my Magento ver. 2.1.7?

[2017-09-13 11:40] prestashoppay commented on #10141
Hi @victor-v-rad ,

We are facing the same issues after we migrated the data's from M1.7 to M2.1.6.
and also unable to view the customers in back office and unable to register the new users in front end.
We are getting the below error and we got the message successfully migrated.

`Fatal error: Uncaught Error: Call to undefined method Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend\Interce

[2017-09-13 12:09] torreytsui commented on #10863
@vkublytskyi

Could you please clarify how should REST API handle **absence** gallery entries on this endpoint?Should they all be flagged as `disabled`?

`PUT /V1/products/{sku}`

[code]

Given that this product originally has two gallery entries, namely `A/W/AWESOME.jpg` and `A/W/AWESOME-2.jpg`, I suppose, after this PUT request, the **absent** image `A/W/AWESOME-2.jpg` will be flagged as `disabl

[2017-09-13 12:16] barryvdh commented on #5701
So given the state of M2.2, it will never work on PHP7.2? If M2.3 will use Sodium, does that mean it will only work with PHP7.2 and above, or will the compat module be included (or suggested for lower versions)?

[2017-09-13 12:21] prakash2jcommerce opened #10867 "Issue with Custom Theme in Magento 2.1.8"
Hi Everyone,
I am using custom theme with Magento 2.1.8. I am facing any issue which I am sharing with you all, hope you will provide solution over it.

Them Hierarchy:
Parent Theme: Magento Luma
---Configured Theme: Base Theme
------Child 1 Theme: Layout2 Theme
------Child 2 Theme: Layout3 Theme

I am using 3 different layout for 3 different type of Product Page, each Product Page Layout is runni

[2017-09-13 12:51] Kasoi-free commented on #10839
Must be a cache issue, can't reproduce it anymore. Should've checked that, sorry.

[2017-09-13 12:51] #10839 closed, assigned to nobody

[2017-09-13 13:04] Stike999 commented on #10613
The solution for this is to add this in the default apache2 server config (/etc/apache2/sites-available/000-default.conf).

`<Directory "/var/www/html">
	AllowOverride  All
</Directory>`

[2017-09-13 13:14] steros opened #10869 "field lengths differ across many tables"
### Preconditions
1. any Magento 2 version
2. have no telephone validation except than it's required

### Steps to reproduce
1. place an order
2. enter a very wide telephone number (+20 characters)
3. order

### Expected result
1. the very long telephone number should appear in the database as the field is 255 characters long in sales_order_address

### Actual result
1. the telephone number gets c

[2017-09-13 13:22] magento-team commented on #7311
Internal ticket to track issue progress: MAGETWO-72278

[2017-09-13 13:22] magento-team commented on #8574
Internal ticket to track issue progress: MAGETWO-72278

[2017-09-13 13:22] dmanners commented on #9760
Hi @mmenozzi I think this is not actually a bug but a lack di.xml in your module. From what I see you have an entry point in a Magento controller for your class `Webgriffe\LibQuiPago\PaymentInit\UrlGenerator`. So Magento needs to have the right di.xml to build this controller and all the classes that are injected into the controller. In this case we have your class `Webgriffe\LibQuiPago\PaymentIni

[2017-09-13 13:27] steros commented on #10118
@Ctucker9233 Thanks for your comment but I don't think this is what I'm talking about.

[2017-09-13 13:35] #7005 closed, assigned to nobody

[2017-09-13 13:38] kanduvisla commented on #10847
I was just thinking about the consistency between various Magento modules. As always, it depends on the implementation of the interface. But you have a valid point: if we rely on the interface only, then every functionality we build that depends on that interface should be aware that the method can also return `null`.

[2017-09-13 13:48] vkublytskyi commented on #10863
@torreytsui If a product has `media_gallery_entries` array system should treat this as all available gallery entries. All other images should be deleted (so all store view will be affected by API request).

I would also mention that media gallery has own set of API endpoints that should be preferred over modifying media gallery through product modification.

In general, objects passed to Web API s

[2017-09-13 13:49] bruno-mspan commented on #10388
I'm having this same problem, please post your solution!

[2017-09-13 13:55] nelero opened #10870 "massDelete CMS Block not working (error 500)"
Hi,
i'm using the latest stable 2.1.x version.
When i try to mass delete some cms blocks (1 or more checked), i receive an error 500 and blocks are not deleted.

But if i click individually on the block, access the detail page and click delete, the block is deleted as expected.

How can i fix this ?
thanks

[2017-09-13 13:57] royvanos opened #10871 "Entity dates don't save properly"
### Preconditions

1. Magento 2.1.8
2. MySQL 5.6.37

### Steps to reproduce

1. Any Magento 2.1.8 installation
2. Admin interface language set to nl_NL (Dutch)
3. Create a product with any special date range and save it, the date can't be the same as the current day

### Expected result

1. Product special price range should still be the same

### Actual result

1. Product special price dates show

[2017-09-13 14:05] spyrule commented on #7647
@vkublytskyi  Normally I would agree with you. However this bug is easy to replicate. Attach an image at the default store view, save the product. Then attach a second image. Assign that image all 4 roles (base, small, thumbnail, swatch). Then delete the old image and now try to SAVE the product. It won't save because the old image roles are still applied to the original image in one of the other

[2017-09-13 14:19] mmenozzi commented on #9760
As a workaround for this issue you can create an empty "adapter" class which simply extends the one that lives in the non-magento-component library. The adapter class must be inside the Magento module which uses the library.

[2017-09-13 14:20] orlangur commented on #10847
I would rather remove such behavior from `Product` model to make it consistent with others, raised this question within maintainers group. It was introduced in scope of Staging EE feature implementation.

[2017-09-13 14:35] Olek89 commented on #10689
I am Using the Google Chrome, but i also testet in IE, Safari, or on mac, everytimes the same.

[2017-09-13 14:47] korostii commented on #9175
It's probably assumed to be something vague in between "Trolling, insulting/derogatory comments, and personal or political attacks" and not "Showing empathy towards other community members".

Well guess what, forcing someone to edit the issue description weeks (which is already provided in the linked PR #7344 ) weeks after the fact - that isn't too empathetic neither.

Speaking of "Code of Conduct

[2017-09-13 14:52] rbur0425 opened #10872 "3D Secure Not in PayPal Payments Pro"
In Magento 1.9.X, PayPal payments pro includes the 3D Secure validation if wanted. In Magento 2.1 and greater 3D Secure validation is only included for Braintree. This needs to be brought back in for PayPal Payments Pro.

Below is 1.9 where 3D Secure is an option for PayPal payments Pro
![1 9 3dsecure](https://user-images.githubusercontent.com/14355895/30384149-8d60d5d0-9871-11e7-8d2a-90fd0218f217

[2017-09-13 15:01] Olek89 commented on #10804
i have the same issue in uploading downloadable products

[2017-09-13 15:09] McDev814 commented on #10622
Sorry I've been MIA, got distracted on another issue.

When I made the changes, I did so on all store views.  I then reindexed, cleaned the cache and flushed the cache from the command line following the documentation in the developer docs.  As David said, the problem is still persisting.

[2017-09-13 15:14] magento-engcom-team commented on #7996
@rosandrest thank you for your report.
The fix for this issue is already available in Magento 2.1.8.

[2017-09-13 15:17] magento-engcom-team commented on #8937
@ewallkrishnaprakash, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details regarding your environment, or try to reproduce this
issue on a clean installation.

[2017-09-13 15:21] magento-engcom-team commented on #10555
@jameswithers, thank you for your report.
We were able to reproduce this issue by following the steps you provided. But it seems this is a correct Magento behaivour. Please see http://docs.magento.com/m2/ce/user_guide/system/data-import.html for details.

[2017-09-13 15:21] #7996 closed, assigned to nobody

[2017-09-13 15:24] #10555 closed, assigned to nobody

[2017-09-13 15:25] magento-engcom-team commented on #10682
@fouli86, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details regarding your environment, or try to reproduce this
issue on a clean installation.

[2017-09-13 15:35] magento-engcom-team commented on #10599
@RishabhRkRai  If you want get cleared object from repository, you should use forceReload.
For instance: $productRepository->getById(PRODUCT_ID, false, null, true);
This issue is already fixed in Magento 2.1.8

[2017-09-13 15:37] magento-engcom-team commented on #1002
Hi @korostii
We are not able to backport all fixed issues in 2.2.0 release to 2.1 and 2.0 releases. We will backport the most critical issues based on PO decision or the most up voted issues from public GitHub. Also, if we will get a pull request from Magento Community with the backport, we will accept it and deliver with upcoming patch releases.

[2017-09-13 15:41] magento-engcom-team commented on #10538
@scottsb Thank you for your input.  If you want get cleared object from repository, you should use forceReload. For instance: $productRepository->getById(PRODUCT_ID, false, null, true);
This problem is solved in Magento 2.1.8 already.

[2017-09-13 15:46] orlangur commented on #10871
Duplicate of https://github.com/magento/magento2/issues/10580 and a bunch of other issues.

[2017-09-13 15:46] #10871 closed, assigned to nobody

[2017-09-13 15:50] magento-engcom-team commented on #7570
Hi @conflicker G1 Failed (Gate 1 Failed) means the issue description did not pass automatic verification of the issue description. We will publish more details soon about Gates system.

[2017-09-13 15:52] magento-engcom-team commented on #10586
@storepeinture thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please  try to reproduce this issue on a clean installation of Magento.

[2017-09-13 15:52] larsroettig commented on #4898
Hi,
i can reproduce this issue.  The main problem is if the temp table size too small than will

**$productResource->commit();** throw an exception temp table is full. But this error is not in log because from **$productResource->rollBack()** will over writen with an
 **Asymmetric transaction rollback**  beause **commit** set the transactionLevel  to  **0**.

Plugin with the Problem:
https://githu

[2017-09-13 16:06] scottsb commented on #10538
@magento-engcom-team: Can you please clarify what the resolution in Magento 2.1.8 is? Does it still require forcibly reloading the product as you describe? That involves a roundtrip to the database to refetch the product data, which shouldn't be necessary just to add the same product twice with different options.

[2017-09-13 16:11] cckassis opened #10873 "Paypal payment option within Braintree is failing to connect to paypal"
I have connected PayPal to my merchant account/payment gateway Braintree in Magento 2. When proceeding with PayPal payment option, it is failing to connect to PayPal giving me this message:
"Sorry we cannot connect to PayPal. Please try again in a few mintues" (screen shot attached) [screen shot 2017-09-13 at 11 59 26 am](https://user-images.githubusercontent.com/31739622/30387645-2791d3c6-987b-11

[2017-09-13 16:17] vkublytskyi commented on #7647
@spyrule I was not able to reproduce the issue with provided steps (checked on `2.1.8` and `develop` EE).

My environment:
- Single website
- two stores
- each store has two enabled store views

**Scenario 1**
- On `Products > Catalog` admin page click `Add Product > Simple product`
- Specify only required fields and click `Save` button
- After page reload, open `Images and Videos` tab, click on `

[2017-09-13 16:35] navarr commented on #8495
This ticket is labeled "needs update" - is it waiting on something external?

[2017-09-13 17:03] timri commented on #4896
I have an similar issue, however not with Setup-classes but with thirdparty libraries.
In my own module, I use a third party soapservice for synchronising values. This service needs WSAddressing, so I use the prezent/soap-client as dependency.
I have custom classes for each of several soap-services with a common base class.
So I have in my di.xml:
[code]
When I do NOT use setup:di:compile (or "rm

[2017-09-13 17:04] liquidia commented on #4321
Any update?

[2017-09-13 17:06] NoorulBhoelai opened #10874 "After clicking the Next button in step four of the installation it takes very long to continue (So a loader animation is suggested), now the integrator thinks the process fails."
### Preconditions

PHP 7.0.14
Mysql 5.7.12
Magento [2.1.5 - 2.1.6 - 2.1.7 - 2.1.8]
Branch: Develop, Tag: 2.1.8, Commit Hash: 34fc8d8

### Steps to reproduce
Go to step 4 "Customize your store" in the installation process and click "Next"

### Expected result
- A loader animation

### Actual result
- No loader animation at all (Integrator gets confused and checks console logs)
- Step 5 page is load

[2017-09-13 17:43] McDev814 opened #10875 "Braintree - server error - sandbox"
After setting up a braintree sandbox account and entering merchant id, private and public keys, I tried to run a test transaction within the dollar range suggested in the braintree dev docs.  The attempted transaction resulted with 'An error occurred on the server. Please try to place the order again.'

I know this issue has been raised before, but none of the suggested repairs worked.

### Precon

[2017-09-13 18:03] roseofgold commented on #7588
Reproduced on 2.1.8. Mentioned patch doesn't seem to fix the issue.

[2017-09-13 19:21] harshvardhanmalpani opened #10876 "Wishlist module turns the whole site to 404"
The magento2.1.8 instance is working good except this one issue.
Whenever a user wants to add any product in wishlist, he is redirected to login page (/customer/account/login/).
After he logs in successfully, he is redirected to https://domain.com/wishlist/index/index/wishlist_id/1/
and sees an error
##404 error: Page not found.
**The problem doesn't end here, The logged in user sees the same erro

[2017-09-13 19:24] magento-engcom-team commented on #7153
The issue has been fixed in all release lines and delivered. Closing the issue

[2017-09-13 19:24] #7153 closed, assigned to nobody

[2017-09-13 19:34] harshvardhanmalpani commented on #10870
Duplicate of #8415 and #8418

[2017-09-13 19:38] magento-engcom-team commented on #4720
Pull Request #10877 is created to address the issue

[2017-09-13 19:42] magento-engcom-team commented on #10389
Hi @ytorbyk
The best way to address the issue is to create a pull request. You are very experienced Magento 2 developer, so you can help us with this issue. We are looking for pull request from you 👍

[2017-09-13 19:45] magento-engcom-team commented on #5543
@bartek9007 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2017-09-13 19:45] #5543 closed, assigned to nobody

[2017-09-13 20:00] magento-engcom-team commented on #9871
Hi @magentomaniac
Thank you for update

[2017-09-13 20:00] #9871 closed, assigned to nobody

[2017-09-13 20:01] magento-engcom-team commented on #6444
@apurv-anand thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation.

[2017-09-13 20:01] #6444 closed, assigned to nobody

[2017-09-13 20:02] magento-engcom-team commented on #10459
Thank you @dmanners  for the fix!

[2017-09-13 20:02] #10459 closed, assigned to nobody

[2017-09-13 20:05] #10384 closed, assigned to nobody

[2017-09-13 20:06] magento-engcom-team commented on #10743
Hi @SirElectro
It would be very helpful if you can submit pull request with the fix! Looks like you already have a solution 👍

[2017-09-13 20:08] magento-engcom-team commented on #9993
Hi @DavidLambauer
could you please provide desired state of these interfaces or extension points? Or you can submit pull request with missing features for you

[2017-09-13 20:09] magento-engcom-team commented on #9857
@suresh-vagvala thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation.

[2017-09-13 20:09] #9857 closed, assigned to nobody

[2017-09-13 20:10] magento-engcom-team commented on #9021
@VisheshDev  please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for technical issues only.

[2017-09-13 20:10] #9021 closed, assigned to nobody

[2017-09-13 20:13] magento-engcom-team commented on #9513
@kikinbenshakib  please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2017-09-13 20:13] #9513 closed, assigned to nobody

[2017-09-13 20:14] magento-engcom-team commented on #9481
@abbasalis  please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2017-09-13 20:14] #9481 closed, assigned to nobody

[2017-09-13 20:14] magento-engcom-team commented on #8625
@skuzmina  please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2017-09-13 20:14] #8625 closed, assigned to nobody

[2017-09-13 20:15] magento-engcom-team commented on #7534
@surfer190 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation.

[2017-09-13 20:15] #7534 closed, assigned to nobody

[2017-09-13 20:16] magento-engcom-team commented on #7480
@SaaqibBhat please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-13 20:16] #7480 closed, assigned to nobody

[2017-09-13 20:18] magento-engcom-team commented on #10775
@irinikp  thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [ ] DETAILE

[2017-09-13 20:19] magento-engcom-team commented on #8939
@manos-nookala please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-13 20:19] #8939 closed, assigned to nobody

[2017-09-13 20:20] magento-engcom-team commented on #8860
@davissuperman thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] St

[2017-09-13 20:20] #8860 closed, assigned to nobody

[2017-09-13 20:20] magento-engcom-team commented on #8985
@niranjanleanswift thank you for research

[2017-09-13 20:20] #8985 closed, assigned to nobody

[2017-09-13 20:21] magento-engcom-team commented on #8899
@AndroidDesigner please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-13 20:21] #8899 closed, assigned to nobody

[2017-09-13 20:22] am2008 commented on #10531
@abovebar waiting in September

[2017-09-13 20:22] magento-engcom-team commented on #8449
@strauss69400 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-13 20:22] #8449 closed, assigned to nobody

[2017-09-13 20:23] magento-engcom-team commented on #8447
@nishantbkw please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-13 20:23] #8447 closed, assigned to nobody

[2017-09-13 20:24] vapopov commented on #10389
![](http://cs4.pikabu.ru/images/big_size_comm/2014-07_4/14055817207938.png)

[2017-09-13 20:24] magento-engcom-team commented on #8699
@bzahariev we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 20:24] #8699 closed, assigned to nobody

[2017-09-13 20:26] #9564 closed, assigned to nobody

[2017-09-13 20:27] magento-engcom-team commented on #9532
@flipflap we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 20:27] #9532 closed, assigned to nobody

[2017-09-13 20:30] am2008 commented on #7367
@surabhinsi fix - OK. Thanks.

[2017-09-13 20:50] magento-engcom-team commented on #8269
@albertixcom we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 20:50] #8269 closed, assigned to nobody

[2017-09-13 20:50] #7756 closed, assigned to nobody

[2017-09-13 20:58] magento-engcom-team commented on #6805
@ronnybremer thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation.

[2017-09-13 20:58] #6805 closed, assigned to nobody

[2017-09-13 21:05] magento-engcom-team commented on #6819
@kanduvisla we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 21:05] #6819 closed, assigned to nobody

[2017-09-13 21:06] magento-engcom-team commented on #6387
@apb-github thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-13 21:06] #6387 closed, assigned to nobody

[2017-09-13 21:07] magento-engcom-team commented on #9722
@NurUzbek  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 21:07] #9722 closed, assigned to nobody

[2017-09-13 21:07] #6355 closed, assigned to nobody

[2017-09-13 21:08] magento-engcom-team commented on #8430
@basselalaraaj  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 21:08] #8430 closed, assigned to nobody

[2017-09-13 21:09] magento-engcom-team commented on #8006
Thank you @hostep  and @paales  for suggestions

[2017-09-13 21:09] #8006 closed, assigned to nobody

[2017-09-13 21:11] webmak opened #10878 "Warning: is_file() expects parameter 1 to be a valid path"
### Preconditions
1. Ubuntu 16.04
2. PHP 7.0.22

### Steps to reproduce
1. run module:enable or module:disable

### Expected result
1. do not expect any warnings

### Actual result
1. [Exception]
  Warning: is_file() expects parameter 1 to be a valid path, string given in
  /home/user/web/some_site.com/public_html/vendor/colinmollenhour/cache-backend
  -file/File.php on line 512

### Additional
wh

[2017-09-13 21:12] #10535 closed, assigned to nobody

[2017-09-13 21:14] #10092 closed, assigned to nobody

[2017-09-13 21:15] magento-engcom-team commented on #9984
Hi @angelo983
thank you for research. Could you please submit pull request with your fix?

[2017-09-13 21:16] #9959 closed, assigned to nobody

[2017-09-13 21:17] magento-engcom-team commented on #4743
@Taral-Patoliya we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 21:17] #4743 closed, assigned to nobody

[2017-09-13 21:20] #5623 closed, assigned to nobody

[2017-09-13 21:20] magento-engcom-team commented on #9901
@alakhdeveloper we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 21:20] #9901 closed, assigned to nobody

[2017-09-13 21:22] #9069 closed, assigned to nobody

[2017-09-13 21:23] magento-engcom-team commented on #9510
@fballiano thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source o

[2017-09-13 21:23] #9510 closed, assigned to nobody

[2017-09-13 21:23] #6604 closed, assigned to nobody

[2017-09-13 21:24] magento-engcom-team commented on #10108
@karthigesh thank you for update

[2017-09-13 21:24] #10108 closed, assigned to nobody

[2017-09-13 21:26] magento-engcom-team commented on #9405
@manaspratim thank you for your report.
We were not able to reproduce this issue by following the steps you provided on latest release. Please, try 2.1.8

[2017-09-13 21:26] #9405 closed, assigned to nobody

[2017-09-13 21:29] #8792 closed, assigned to nobody

[2017-09-13 21:31] webmak commented on #10878
After manual cache clearing bug is go out

[2017-09-13 21:31] magento-engcom-team commented on #8631
@Moinashraf we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 21:32] #8559 closed, assigned to nobody

[2017-09-13 21:33] #8925 closed, assigned to nobody

[2017-09-13 21:34] #8809 closed, assigned to nobody

[2017-09-13 21:34] magento-engcom-team commented on #8653
@timbaker1991 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 21:34] #8653 closed, assigned to nobody

[2017-09-13 21:36] magento-engcom-team commented on #8480
@magentoguyssageone we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-13 21:36] #8480 closed, assigned to nobody

[2017-09-13 21:37] #9587 closed, assigned to nobody

[2017-09-13 21:41] magento-engcom-team commented on #7055
The issue has been fixed and will be available with next minor release
@korostii it would be great if you can create a Pull Request to 2.1-develop branch with a backport. Please join Magento Community Contribution Team. You did a great job 👍  on review and commenting issues and pull requests, but we are looking for your own pull requests!

[2017-09-13 21:46] #8162 closed, assigned to nobody

[2017-09-13 21:46] #7766 closed, assigned to nobody

[2017-09-13 22:12] angelo983 commented on #9984
Hello, I tried to pull request months ago without success.
I tried with base branch 2.1develop, have to choose another one?
This is the only change to apply:
lib/web/mage/utils/arrays.js
Line 105
from
if (typeof position === 'undefined') {
to
if (typeof position === 'undefined' || position == null) {

[2017-09-13 22:48] bondimedical3 commented on #10581
Experiencing multiple bugs in Production mode after applying optimizations.

### Preconditions
1. Magento 2.1.8 PHP 7.0.2
2. Production Mode
3. Optimizations outlined in http://devdocs.magento.com/guides/v2.1/config-guide/prod/prod_perf-optimize.html

### Steps to reproduce
1. Not relevant

### Expected result
1. Indexing should be instant
2. Orders should appear immediately after they are placed

[2017-09-13 23:00] jgodart commented on #8809
Je serai absent(e) du  28/08/2017 au 18/09/2017.

je serais indisponible du 28/08/2017 au 25/08/2017 inclus.
En mon absence vous pouvez contacter le standard au : 02-43-67-86-66.

Cordialement,

[2017-09-13 23:11] harshvardhanmalpani commented on #10876
After a lot of digging around, I came to conclusion that it can possibly be related to #3812 and convincingly pointing to an error in my custom theme

[2017-09-14 01:55] abovebar commented on #10531
@am2008 thank you for the info, I am very excited for the release of 2.2

[2017-09-14 02:38] gilbertsohal commented on #10754
@  magento-engcom-team

How long will take to fix this bug?

[2017-09-14 03:41] spyrule commented on #10531
I'm hoping like hell a patch for this is included in 2.1.9 due out later today....:pray:

[2017-09-14 04:38] impunkj commented on #10704
Hello ,
Thanks For reply.
I already mention all the step but forget to mention version.
It is 2.1.7 Magento

[2017-09-14 04:44] abovebar commented on #10531
@spyrule that would be awesome, where do you find info on release dates?

[2017-09-14 05:54] Puru2016 commented on #4588
Awaiting your response on the above issue

[2017-09-14 06:21] linshin commented on #8170
Hi, i have the same issue any workaround until the fix will be include in the next releases?

[2017-09-14 06:25] joni-jones commented on #10875
Hi, @McDev814, the outdated curl version might cause such problem. To find an original reason, you need to debug `\Braintree\Http::_doUrlRequest` method.

[2017-09-14 06:36] kp-drc commented on #9666
I am using Magento 2.1.7 and facing same character issue when printing invoice of arabic order. Any update for solution ?

[2017-09-14 06:46] Brigel commented on #3544
Composer stoped in load data from repo.magento.com

My auth.json was not correct. This decision helped me

`config http-basic.repo.magento.com <public_key> <private_key>`
How to use the new repo.magento.com

[2017-09-14 06:48] han-yue commented on #10388
Yeah. i m still looking out for solutions. I don't know what the problem is.
I make changes from the product attribute from drop down type to Visual Swatch type. Then this error occurs. I switched it back to drop down type, but the problem still exist. So weird.

[2017-09-14 06:49] Brigel commented on #9848
Composer stoped in load data from repo.magento.com

My auth.json was not correct. This decision helped me

config http-basic.repo.magento.com <public_key> <private_key>
https://magento.stackexchange.com/questions/90983/how-to-use-the-new-repo-magento-com

[2017-09-14 07:28] giacmir commented on #10025
I agee with @dersam. If a dump should be made (and I think it should not and all the system should be reinstalled every time, what if I changed a setup script because of a typo or something similar?) it should be created just after the setup, not at the end of all tests.

[2017-09-14 07:34] Amelia- opened #10879 "Credit memo refund input fields not localized"
The **refund shipping**, **adjustment refund** and **adjustment fee** input fields on the credit memo creation page are not localized with the localisation setting for the user that tries to create the credit memo.

In my test case these are set to use Dutch localisation. This should make it so a comma is used instead of a dot to note decimals. However if I use a comma in one of the fields it will

[2017-09-14 07:37] Yablonskiy23 commented on #10700
It seems as duplicate of [5967](https://github.com/magento/magento2/issues/5967).

[2017-09-14 07:52] i95devdivya opened #10880 "catalog price rule active or inactive issue"
### Preconditions

1. Magento EE 2.1.3
2. PHP 7.0

### Steps to reproduce

1. Create catalog price rule and create one schedule update to make it active between some time period
2. Catalog rule will be active in that time period
3. Then in catalog rule prices are not displaying in frontend until and unless clear cache and reindex

### Expected result

1. Without reindex and clearing cache catalog

[2017-09-14 08:00] mhauri commented on #10787
We had the same issue with one of our modules. Try either to use the Interface `\Magento\Catalog\Api\ProductAttributeMediaGalleryManagementInterface` or the Factory `\Magento\Catalog\Model\Product\Gallery\GalleryManagementFactory`

[2017-09-14 08:01] korostii commented on #9510
Hey @magento-engcom-team, the question of whether an EE issue belongs to this repository comes up in comments to various issues all the time.

Would you be kind enough to consider providing this info (which you've just posted) into the [repository's guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)? That way, some people will be able to get this info prior to posting

[2017-09-14 08:08] fvschie commented on #10644
What does G1/G2 Passed mean?

[2017-09-14 08:11] korostii commented on #7055
Hi @magento-engcom-team ,

Thanks a lot for your words of encouragement, I really appreciate it.
I hope eventually I'll get to PRing, as well :)
Unfortunately, I only have so many hours in a day. Thus I have to prioritize, just like everybody else.

Keep up the good job & have a nice day!

[2017-09-14 08:13] magento-engcom-team commented on #10538
@scottsb Yes, you still have to use force reload in order to get "clean" instance of product(caused by Product Repository cache system). The code, you provide, will work perfectly fine on Magento 2.1.8 with help of force reload in Product Repository.

[2017-09-14 08:14] magento-engcom-team commented on #10048
@milansimek  To set default value into wysiwyg content area, Your have to use "value" instead of "default". For instance, try to change Your code to something like:
<field name="detail">
 <argument name="data" xsi:type="array">
  <item name="config" xsi:type="array">
   <item name="dataType" xsi:type="string">text</item>
   <item name="formElement" xsi:type="string">wysiwyg</item>
   <item name="s

[2017-09-14 08:16] maghamed commented on #6739
@mcspronko @maxbucknell

We made a fix in 2.2.0 for this case
https://github.com/magento/magento2/commit/8498e12c3a52f01a90dfa8afa03c1f2975495dd3
(lib/internal/Magento/Framework/ObjectManager/Config/Compiled.php)

but we still state that Compiler may not be able to resolve all dependencies on 3rd party classes. That’s why 3rd party classes **should not be injected** in the constructor of Magento c

[2017-09-14 08:24] magento-engcom-team commented on #10540
@apsummers  Thank you for report. We were not able to reproduce this issue, so please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-09-14 08:36] magento-engcom-team commented on #10637
@dverkade Thank you for your submission.
Unfortuanlly, the issue you described is standart feature.
If you want to make Feature Requests and Improvements, please submit them to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](https://community.magento.com/t5/News-Announcements/Im

[2017-09-14 08:36] #10637 closed, assigned to nobody

[2017-09-14 08:36] romainruaud opened #10881 "Redis password not used when trying to validate the connection during install."
I am using Magento 2 (2.1 and 2.2-rc23) in a container architecture platform proceeding automatic deployments.

Therefore, I have an already provisioned env.php file stating to use a password in order to connect to my Redis instance.

The first step of my deployment is to install Magento.

Here is the sample env.file (note the password to redis is properly set) :

[code]

### Preconditions

1. Mag

[2017-09-14 08:48] dverkade commented on #10637
@magento-engcom-team could you describe the standard feature? This issue describes changing the SKU value after a product save. I don't think this is a standard feature and it should not be possible that a SKU entered by the user suddenly changes without notification of this change. Please reproduce this issue with the steps mentioned in above and checkout the screenshots to see what exactly goes

[2017-09-14 09:03] billyjov opened #10882 "Magento 2 Site after moving from local server to live all pages showing 404"
### Preconditions

1. Magento version : 2.1.8
2. php 5.6

### Steps to reproduce

1. Install on localhost  successfull
2. change theme
3. All things perfect on localhost.
4. Moving to online server by exporting database.
5. modify `core_config_data`  table by changing url to new domain

### Expected result

1. Same version like localhost

### Actual result

1. `404 error: Page not found.` showing

[2017-09-14 09:05] magento-engcom-team commented on #10701
@courtneyIndaba, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account or If you are a Partner reporting on behalf of a merchant, use the Partner portal.
GitHub is intended for Magento Open Source users to report on issues related to Open Sou

[2017-09-14 09:16] reihaan commented on #10499
Hi,

I have a similar issue with my magento 2.1.8 as well.
Its not showing any credit card fields for PayPal self hosted solution.

http://prntscr.com/gkzwbe

There is no error in console,
What could be the issue?

Thanks

[2017-09-14 09:44] reihaan opened #10883 "PayPal Credit Card Fields are missing on Checkout MCE 2.1.8"
### Steps to reproduce
I have setup a magento 2.1.8 and setup the payment as PayPal, I tried all the PayPal options only PayPal express checkout is working, however I need to take credit card details as well, but those are missing when I setup that payment system.

I tried all the options but all in vain!

### Preconditions

1.  Magento 2.1.8
2.  PHP 7

### Expected result

Should show the input f

[2017-09-14 09:54] cannycookie opened #10884 "Unable to programmatically import tier prices in 2.2. Worked in 2.1.8"
### Preconditions

1. Magento 2.2.0RC23
2. PHP 7.0.21

### Steps to reproduce

1. Loop through a list of SKU's and tier prices in a shell script
2. run:
`$this->tierPriceManagement->add($product->getSku(), 'all', $row['price'], $row['min_qty']);`

### Expected result

1. Tier price should be created

### Actual result

1.  [Exception]
  Warning: Invalid argument supplied for foreach() in /http/ven

[2017-09-14 09:54] korostii commented on #1002
Hi @magento-engcom-team, thanks for the general information.
I know that your resources are limited and only some of the issues will be backported.
Unfortunately, that's not what I asked.

What I am asking is: how do I find out whether you plan to backport _this exact_ issue based on its state and labels?
To me, closing an issue seems like a way to say "the job is done, nothing more to do here", w

[2017-09-14 10:07] evoratec commented on #6818
Still in 2.1.8

[2017-09-14 10:08] anzbmuhammad commented on #8764
Thank you so much. Its working like a charm. Kudos to you

[2017-09-14 10:20] magento-engcom-team commented on #4961
@ludwig-gramberg, thank you for your report.
Please use the issue [reporting
guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
to report an issue. Include the preconditions, the steps required to reproduce,
the actual result, and the expected result.
Please, add the following information:
- [ ] Preconditions: Magento version
- [ ] Steps to reproduce
- [ ] Expected re

[2017-09-14 10:24] #10882 closed, assigned to nobody

[2017-09-14 10:25] billyjov commented on #10882
solved by rewrite `.htaccess` files.

[2017-09-14 10:38] peterjaap commented on #8532
Still present in 2.1.8; https://github.com/magento/magento2/blob/2.1.8/app/code/Magento/Customer/view/frontend/web/js/view/authentication-popup.js

Appears fixed (or at least changed) in 2.2RC; https://github.com/magento/magento2/blob/2.2.0-rc3.0/app/code/Magento/Customer/view/frontend/web/js/view/authentication-popup.js#L23

[2017-09-14 11:06] magento-engcom-team commented on #10624
@archonkulis Thank you for report. We cannot reproduce this issue as described on Magento 2.1.8. Please specify the exact version of Magento you installed.

[2017-09-14 11:08] maderlock commented on #10009
I see this is marked as being merged. Can this please get a 2.1.x release as it's a 2.1 issue, as I raised this issue due to a major problem we're having on a 2.1 site?

[2017-09-14 11:30] orlangur commented on #10884
`\Magento\Catalog\Model\Product\TierPriceManagement` is not marked with `@api`and corresponding interface https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Api/ProductTierPriceManagementInterface.php#L11 is deprecated.

Do you observe any issues using an appropriate https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Api/ScopedProductTierPriceManagemen

[2017-09-14 11:37] mamreezaa commented on #10583
Having same issue when do reorder from admin.
![screenshot from 2017-09-14 15-36-19](https://user-images.githubusercontent.com/8044896/30427873-8da4bdf8-9962-11e7-9e50-3019ef393ba1.png)

[2017-09-14 11:45] magento-engcom-team commented on #10522
@roknav Unfortunately, I could not reproduce this issue. Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-09-14 12:39] jordanbrauer commented on #10586
@pankajpragma Read my comment in [this thread](https://github.com/magento/magento2/issues/10586#issuecomment-323382679) for the fix.

@magento-engcom-team The bug comes from the shops' current (previous version, before upgrading) Default attribute sets' attribute order not matching the new order of the attributes on the Default attribute set (after upgrading). This is true because after matching y

[2017-09-14 12:41] kanduvisla opened #10885 "2.1.8 : Country picker shows 2 blank values and separator on shipping method page"
I have a store configured with one allowed country, but on the shipping method page it shows 2 blank values and a separator:

### Preconditions

1. Magento 2.1.8

### Steps to reproduce

1. Allow only one country (in my case, this is Belgium)
2. Select a country on the shipping detail page.

### Expected result

 I should only see 1 country in the dropdown

### Actual result

I get 4 values: 2 bla

[2017-09-14 12:45] kanduvisla opened #10886 "When selecting a payment method, the selected country is lost."
When I place an order and I enter a shipping address and go to the payment method, I notice that the country is lost. This issue has also been reported on [Stack Exchange](https://magento.stackexchange.com/questions/192723/magento-2-country-name-not-showing-in-billing-shipping-address-at-checkout).

**Edit:** On further investigation it seems that having disabled `full_page`-cache causes this issu

[2017-09-14 12:57] korostii commented on #10775
Hello again @magento-engcom-team
The comment above yours goes as far as pointing out the exact place in source code which ought to be fixed. Putting bureaucracy aside, that's more plenty enough information.

If you insist, it's insanely easy to reproduce: you can even access the page directly.
Here's a CE 2.1.8: http://take.ms/Cp62g

[2017-09-14 13:08] kanduvisla commented on #10885
Further investigation shows me that this happens with a certain combination of configuration. When I set default country to BE, allowed countries to only BE and top destinations also to only BE this happens.

This is because of a combination of methods in `Magento\Checkout\Block\Checkout\DirectoryDataProcessor`. First `Magento\Directory\Model\ResourceModel\Country\Collection::toOptionArray()` is c

[2017-09-14 13:11] kanduvisla commented on #10885
Hm, disabling all top destinations still give 2 empty options:

<img width="489" alt="screen shot 2017-09-14 at 3 10 40 pm" src="https://user-images.githubusercontent.com/346681/30431479-f586b20e-995e-11e7-8f91-15184510a985.png">

Guess I'll write a plugin for now to solve this issue...

[2017-09-14 13:14] karthi5053 opened #10887 "Magento 2 Rabbitmq consumers"
We processing order updates from warehouse to magento.
Cron will Publish the message to rabbitmq queue.Each message contains order updates received from warehouse for one order.
we receive nearly 5k-6k shipment updates for orders from warehouse.

Consumers perform the following task for each messages consumed from queue:
Creating invoice,
Capturing invoice,
Creating shipment and
sending invoice, s

[2017-09-14 13:24] spyrule commented on #10531
@abovebar I cannot find the post now, but it was in another bug thread here on github. I'm following too many threads to remember where. Sorry.  I was stated by a dev though (I think by accident, but don't quote me)

[2017-09-14 13:27] zukovasmartynas commented on #10443
@karthi5053 Have you assigned it to the pending state?

Stores->Order Status->Assign status to state -> there select order status Processing and order state Pending
I had the same issue with different payment method

[2017-09-14 13:29] kanduvisla commented on #8094
In what develop branch is this fixed then? Because it still persists in 2.1.8.

[2017-09-14 13:39] stansm commented on #7488
This is caused by cache corruption.
Product::_customOptions are overwritten in Quote::addProduct() and on subsequent calls options with quote item set are used.

The easiest fix is to clone a product instance in _prepareProduct() (Magento\ConfigurableProduct\Model\Product\Type\Configurable:958):

[code]

change to:

[code]

Not sure if there is some better solution for the problem. Let me know if

[2017-09-14 13:47] milansimek commented on #10048
@magento-engcom-team While that seems to fix the issue at first glance, it doesn't work correctly. When adding the default value to the "value" element, it will be restored if you save the form field with empty contents.

So for example, set the "value" to "this is the default text".

- Open new form: default value "this is the default text" is set as expected
- Remove the default value from the w

[2017-09-14 13:49] magento-engcom-team commented on #9894
@luigi-pelosi  We need more information about your configuration to reproduce this issue. Please identify OC and web server you are running, the versions of PHP and MySQL, of  how you contributed 2000+ products, and any other information needed to reproduce your issue.

[2017-09-14 13:57] cannycookie commented on #10884
Ah I'm not using the API files, so instead of injecting:- `Magento\Catalog\Model\Product\TierPriceManagement`

I should be using:-
`Magento\Catalog\Api\ProductTierPriceManagementInterface`

Can try that, but just to let you know that this function was working previously.  I think this function:-
` $tierPrices = $product->getData('tier_price');` is returning null rather than an empty array.

[2017-09-14 14:27] IvanRybakov commented on #6627
Any update?

[2017-09-14 14:30] choukalos commented on #10887
You can run multiple consumers to process the Queue faster.

FYI - details on how to run consumers for the Queue are embedded in the CLI help for the Queue commands.  Ie  bin/magento help queue:consumers:start

Does that help?

[2017-09-14 14:44] magento-engcom-team commented on #1002
Hi @korostii
If we have related internal ticket for the fix or backport, the issue will be added to the project(s):
* [Issues in 2.0](https://github.com/magento/magento2/projects/16)
* [Issues in 2.1](https://github.com/magento/magento2/projects/15)
* [Issues in 2.2](https://github.com/magento/magento2/projects/17)
* [Issues in develop](https://github.com/magento/magento2/projects/14)

Project col

[2017-09-14 14:56] gwharton opened #10889 "2.2.0-rc* : Cannot remove attribute using layout.xml files"
### Preconditions
Magento 2.2.0-rc30 (in this case, but been like this on previous rc's)
Nothing special

### Steps to reproduce
Place the following code in your themes default.xml layout file

[code]

### Expected result
The itemtype and itemscope attributes are removed from the product html output. Modules that implement their own Rich Snippets use this code to remove the inbuilt rich snippets.

[2017-09-14 15:06] saschabratton commented on #6688
@franciskim: I've had to make the same edit on an install I just made. This is version 2.1.8.

It seems the sample file is setup as though static content were residing at `/static/versionXYZ/...` but the frontend file are all written to client as `/pub/static/versionXYZ/...`.

[2017-09-14 15:06] magento-engcom-team commented on #10599
@RishabhRkRai  Thank you for your submission.
Unfortuanlly, the issue you described is standart functionality behavior.
If you want to make Feature Requests and Improvements, please submit them to the new Magento 2 Feature Requests and Improvements forum (see details here).

[2017-09-14 15:06] #10599 closed, assigned to nobody

[2017-09-14 15:11] karthi5053 commented on #10887
@choukalos
Thanks for your reply. Can you provide me a command so that we have 3 consumers for a queue, since i was not able to see an option to set no.of consumers from the help

root@461a7d07f5bb:/var/www/html# magento help queue:consumers:start
Usage:
 queue:consumers:start [--max-messages="..."] [--area-code="..."] consumer

Arguments:
 consumer              The name of the consumer to be star

[2017-09-14 15:17] magento-engcom-team commented on #4588
The issue has been fixed in 2.1.8 Please check this commit: https://github.com/magento/magento2ce/commit/dbfa7b8f7d7107ab178d3f6c6af773777197cadf

[2017-09-14 15:24] magento-engcom-team commented on #10581
Hi @bondimedical3
thank you for update. We updated issue description

[2017-09-14 15:25] magento-engcom-team commented on #10567
@tprocter-ldg, thank you for research. Could you please submit pull request with your fix?

[2017-09-14 15:28] magento-engcom-team commented on #9984
Hi @angelo983
You created the PR incorrectly https://github.com/magento/magento2/pull/9966
Please, fork https://github.com/magento/magento2
Create new branch in your fork based on 2.1-develop branch
Apply the fix and commit to your new branch
Create pull request from your new branch to https://github.com/magento/magento2 2.1-develop branch

[2017-09-14 15:29] orlangur commented on #10884
Yeah, I understand that the fix could be something like

[code]

However, you shouldn't use deprecated functionality in the first place.

You should not rely on a particular implementation whenever possible, just use interfaces.

Please upgrade your custom script using a proper https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Api/ScopedProductTierPriceManagementInterface.p

[2017-09-14 15:29] #10884 closed, assigned to nobody

[2017-09-14 15:40] McDev814 commented on #10875
I've updated curl from version 7.45 to 7.55, though that just broke it even further.  After upgrading curl, the payment page is unable to load the payment options.

I'm not sure where to start on debugging the `\Braintree\Http::_doUrlRequest` method, I am not a php developer.  I know enough about programming to know what a method is, but I've never studied or worked with php, do you have any sugge

[2017-09-14 15:46] lucasvm commented on #9691
Hello Sir, some Discover card type number are also giving error on validation, please try with this:

6011000400000000 Working
6011111111111117 Not Working

leght 16 for both and starting with 6011.

Working on others payment platforms.

[2017-09-14 15:59] cannycookie commented on #10884
OK Thanks.  Still trying to find my way in Mage2 understanding as best I can.

[2017-09-14 16:02] ravinders-121 commented on #10841
hi @magento-engcom-team

This is a critical issue as it belongs to check out. I can repeat it in Magento 2.2-RC as well. So possibly this will be shipped in M2.2 as well.

Please let me know if you need any help to repeat this.

[2017-09-14 16:04] orlangur commented on #10775
Looks like there was a copy-paste typo in https://github.com/magento/magento2/commit/77ac45b6229c347784cd3d7945fff09feebd6cb4. While `'up for grabs'` is usually used for some huge necessary changes, would be nice to have some label like https://github.com/facebook/hhvm/issues?q=is%3Aopen+is%3Aissue+label%3A%22probably+easy%22 for smaller issues.

[2017-09-14 16:44] vforvalerio87 commented on #9466
Is there any way to safely and reliably delete all duplicates for all products? Thanks

[2017-09-14 17:31] kriby commented on #8724
@veloraven please try to reproduce it with configurable product in shopping cart.
Thanks.

[2017-09-14 18:04] klimart commented on #9774
I'm also experiencing this bug on 2.1.8.
I have virtual products and do not need to manage stock quantities at all.
But ability to change 'in stock' or 'out of stock' is still required.

[2017-09-14 18:10] hostep commented on #4961
I believe this got fixed in Magento 2.1.8, I tested it a couple of weeks ago, so this issue can probably be closed?

From the [release notes](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.8CE.html):

[2017-09-14 18:48] magento-engcom-team commented on #4961
Hi @hostep
Thank you for the update.

[2017-09-14 18:48] #4961 closed, assigned to nobody

[2017-09-14 19:02] magento-team commented on #4720
Internal ticket to track issue progress: MAGETWO-75114

[2017-09-14 20:08] ddeppner commented on #8004
Would love to see a fix on this!  We need to be able to set "types" via API.

[2017-09-14 20:58] sergiynezbritskiy opened #10890 "Can't create product category with different settings for different stores using category repository"
So, I'm trying to create product category programmatically for several set of stores. The difference is in category name. I have  a few stores with different language, so I need category name 'Eyeglasses' inside english store, and Briller inside Norwegian store. And when I use \Magento\Catalog\Model\CategoryRepository to save the category it always saves category for current store ($this->storeMan

[2017-09-14 23:22] #6175 closed, assigned to arshadpkm

[2017-09-14 23:33] #4731 closed, assigned to pixelhed

[2017-09-14 23:37] #7844 closed, assigned to bka, storbahn

[2017-09-14 23:38] #5596 closed, assigned to bka

[2017-09-14 23:39] #6441 closed, assigned to bka

[2017-09-14 23:39] #6455 closed, assigned to bka

[2017-09-14 23:40] #6244 closed, assigned to sylvainraye

[2017-09-14 23:40] #6207 closed, assigned to bka

[2017-09-14 23:41] #6151 closed, assigned to nobody

[2017-09-14 23:42] #7279 closed, assigned to SolsWebdesign

[2017-09-14 23:44] #7827 closed, assigned to pixelhed

[2017-09-15 00:29] abovebar commented on #10531
@spyrule thank you, I see the update is now available :) i am in the process of loading it now... fingers crossed it fixes the indexing bug, i will let you know the status once its is done.

[2017-09-15 01:29] abovebar commented on #10531
@spyrule installed, no change... it was worth a try but is not in the release notes: http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.9CE.html

still worth installing looks like this one took care of some serious security issues and gets you some better logging.

[2017-09-15 01:37] mrkhoa99 commented on #10644
@fvschie please refer to this https://github.com/magento/magento2/issues/7570

[2017-09-15 01:42] twistedatrocity commented on #6073
Still an issue in 2.1.9. Also the prior commit https://github.com/magento/magento2/commit/b4b721444be8c6257d64059b3b0b5d0f1fb1466b  that fixes part of the problem is not in 2.1.9 either.

[2017-09-15 02:10] shreyap26 commented on #9923
Hi @roseofgold! I had the same bug. After upgrading from 2.1.2 to 2.1.8, Size attribute which was dropdown was used as Swatch on Configurable Product Pages. I had Null values for the attribute option_ids in `eav_attribute_option_swatch` table. I deleted those rows from the table but the Size attribute was still treated as a Swatch. This was because the swatch attribute_ids were retrieved from Cach

[2017-09-15 02:46] spyrule commented on #10531
yeah, I noticed that in the release notes as well. This was purely a security patch release it seems. :igiveup:

[2017-09-15 03:08] beany-vu commented on #3599
You should open the .htaccess on the top level of the project. Find this config   **php_flag session.auto_start** -> it 's **on** then change to **off** . I got the problem -> this configuration override the one in php.in

[2017-09-15 04:12] thomvanderboon opened #10892 "Multiwebsite broken in 2.1.9 on CentOS 6.9 with RH-SCL PHP 7.0.10"
After update to 2.1.9 the multiwebsite functionality is broken.

### Preconditions
1. Running 2.1.8 with multiple websites (one installation, multiple websites)
2. CentOS 6.9
3. MariaDB 10.2
4. SCL PHP 7.0.2

### Steps to reproduce
1. Update to 2.1.9
2. Modify the index.php to facilitate multiple websites:

[code]

### Expected result
1. Show the requested website

### Actual result
1. Show the de

[2017-09-15 06:27] KalpeshKikani commented on #5873
Hello
please help i have migrated site in 1.9 to 2.1.7 but address information not showing the  backend & frontend so only the address template.
like this

{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}{{depend firstname}}<br/>{{/depend}}
{{depend company}}{{var company}}<br

[2017-09-15 07:16] joni-jones commented on #10875
You need to use some IDE like PHPStorm and enable xdebug extension for PHP https://www.jetbrains.com/help/phpstorm/2016.3/run-debug-configuration-php-remote-debug.html.
After that, you need to set a breakpoint on https://github.com/braintree/braintree_php/blob/master/lib/Braintree/Http.php#L177 to find original error code and a message from curl response.

[2017-09-15 07:20] joni-jones commented on #10883
Hi, @reihaan, what PayPal payment method do you enabled (Payflow Pro, Payflow Link, etc.)? Also, please, check browser console error logs.

[2017-09-15 07:28] TomFranssen opened #10893 "Street fields in checkout don't have a label that's readable by a screenreader"
### Preconditions
1. Standard Magento ver. 2.1.7 installation

### Steps to reproduce
1. Add a product to your cart
2. Go to checkout

### Expected result

1. The labels should have a valid `<label>` element that is linked to the `<input>` field with a `for` attribute. My advice is to add linked <label> elements to all the address line fields so that screen readers can know what kind of fields the

[2017-09-15 07:32] reihaan commented on #10883
Hi @joni-jones , Thanks for your reply.

The PayPal Express Checkout is working fine its redirecting to paypal and once payment is made it return back to website and order does get completed.

I have tried the following:
- Website Payments Pro Hosted Solution
- Website Payments Standard

Here is the screenshot of browser console: http://prntscr.com/gldwcg
However I switched the theme but error sti

[2017-09-15 07:43] joni-jones commented on #10883
Could you try to reproduce this issue on 2.1.9 version without any extensions and customizations?

[2017-09-15 07:45] reihaan commented on #10883
OK sure, I will do that and update you.

Thanks

[2017-09-15 07:52] TomFranssen opened #10894 "Street fields in checkout don't have a label that's readable by a screenreader"
### Preconditions
1. Standard Magento ver. 2.1.7 installation

### Steps to reproduce
1. Add a product to your cart
2. Go to checkout
3. The address lines input fields don't have a `<label>` element with a valid value. There is a `<span>` infront of it with the text 'Address'. This text however doesn't get recognised by screen readers.

### Expected result

1. The labels should have a valid `<labe

[2017-09-15 07:59] angelflorida opened #10895 "Magento Invoice format changed"
### Preconditions

1. have tried to print the invoice of an order , but the order format is changed in the magento admin, how to solve this issue, pls guide
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. Structured Invoice should be generated

### Actual result

1. [Screenshot, logs]
![invoice](https://user-images.githubusercontent.com/31611622/30472677-20238534-9a1b-11e7-8081-de9ba

[2017-09-15 08:10] joaoasrosa commented on #6671
@dverkade the fix is included in the latest version (2.1.9)?

[2017-09-15 08:30] BenSpace48 commented on #6073
How long will this go on for 😱  I can see it now:

"Still an issue is Magento 4.3.12"

[2017-09-15 08:51] PingusPepan opened #10896 "Magento 2.2.0-rc3.0 Temporary category tree index creation is very slow"
### Preconditions

1. Magento 2.2.0-rc3.0 (clean install)
2. PHP 7.0.13
3. MySQL: 10.0.20-MariaDB

### Steps to reproduce

1. 7000+ categories in multistore environment
2. Save product

### Expected result

1. Saves product reasonably quick

### Actual result

1. Takes 12 minutes to save the product

I have done some profiling and found out that there is a query ran 13 times. Each run takes about

[2017-09-15 09:08] kanduvisla commented on #10886
I'm investigating this, and at the moment I tracked it down to `Magento_Customer/js/customer-data.js`. In this file, around line 189, the `init()`-method is called in the customerData object. The difference I can find out now is that the method:

    $.cookieStorage.get('private_content_version');

returns `null` in 2.1.8+ and a valid cookie in 2.1.7. It seems that the cookie is not set. I'm going

[2017-09-15 09:11] kanduvisla commented on #10886
It turns out that the `private_content_version` cookie is set as soon as I add a product to the cart in 2.1.7, but not in 2.1.8+.

[2017-09-15 09:13] franckgarnier21 commented on #10386
Any news ? I have the same problem

[2017-09-15 09:17] kanduvisla commented on #10886
Ok, it turns out that this cookie is set by `Magento\Framework\App\PageCache\Version()`. Seeing that it was set in the `PageCache`-namespace I started to wonder if this could be cache-related. On my local environment I had `full_page` cache disabled (for development purposes). Re-enabling it solved this issue for me.

But it still seems like a bug to me, especially since 2.1.7 was also running wit

[2017-09-15 09:18] maderlock commented on #10009
What we're looking for is something like this:

**magento-engcom-team** added to **TODO** in **branch [2.1-develop]**

Please?

[2017-09-15 09:28] kanduvisla commented on #10886
Allright, I thought this was not an issue in 2.1.7, but it appears to be happening there as well, just didn't notice it before I guess... I'm editing the name of the issue to reflect this.

[2017-09-15 09:40] Puru2016 commented on #4588
Thanks magento team 👍

After update the  below two files from magento 2.1.8 to 2.1.7, my problem is solved:-
/vendor/magento/module-catalog/view/frontend/templates/product/view/form.phtml
/vendor/magento/module-catalog/view/frontend/templates/product/view/options.phtml

thanks again

[2017-09-15 09:58] korostii commented on #7279
Hi @magento-engcom-team,

I think something went wrong here. It's a bit strange seeing both `acknowledged` and `G1 Failed` on the same issue. Could you please double-check this when you have some spare time? It would be a pity to have some valid issues dismissed by accident.

Thanks in advance.

[2017-09-15 10:10] #10701 closed, assigned to nobody

[2017-09-15 10:12] franckgarnier21 commented on #10386
For your information, I faced the same issue.

This is due on the merge/minification process. Indeed even in production mode, the merge is done on the fly depending on the css needed for the specific layout handle.

In my case, 3rd party extension has bug in the custom css declaration. Then the merged min.css was never saved in the disk, and so Magento try to rebuild this on every request.

Hope i

[2017-09-15 10:33] archonkulis commented on #10624
@magento-engcom-team

The version is 2.1.6. Could you check if you can reproduce on that version? If yes, then I guess update will do the trick.

[2017-09-15 10:47] archonkulis opened #10897 "Making state required for country that doesn't have any regions defined in the database, doesn't work"
### Preconditions

1. Magento version is 2.1.6
2. I don't think PHP or Mysql versions matter

### Steps to reproduce

1. Stores -> Configuration -> General, General -> State Options
2. Select one country that has states defined in the database, e.g. "Estonia" and other one that doesn't have any states in the "directory_country_region" table, e.g. "Japan"
3. Go to check-out, and try selecting those

[2017-09-15 10:49] magento-engcom-team commented on #10495
@ankursachdeva11 Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too. Add commands you use via Rest API and and options you insert in "body" of your call

[2017-09-15 10:54] magento-engcom-team commented on #10492
@Filsborne Please specify the exact version of Magento you are using.

[2017-09-15 11:14] orlangur commented on #10897
Looks like a misconfiguration to me. How the customer is supposed to fill required `State/Province` field when there are no options?

[2017-09-15 11:19] archonkulis commented on #10897
Doesn't look like misconfigurations to me.

Thing is, that when there are no options, this field becomes "text-input" and not an option list, so user can still write something there, but "required" part is not adding to that input.

Do you understand what I mean?

[2017-09-15 11:23] reihaan commented on #10883
I just tested on 2.1.9 and its working good. I can see the multiple payment options and seems to be working. So should I upgrade my magento to new version?  What is the best way to do it?

[2017-09-15 11:24] orlangur commented on #10890
Where do you see such behavior described in any `@api`-marked interface?

For example, you can use `\Magento\Store\Model\StoreManagerInterface::setCurrentStore`.

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2017-09-15 11:24] #10890 closed, assigned to nobody

[2017-09-15 11:27] orlangur commented on #10897
Ok, I wasn't aware of such behavior, the field on screenshot looks like a disabled select rather than a text input. No objections then if Magento is able to actually save such state.

[2017-09-15 11:29] joni-jones commented on #10883
You always should use the latest version is it possible. If you have installed Magento with composer, you need to specify the `2.1.9` instead `2.1.8`. For more details, please, see dev guide http://devdocs.magento.com/guides/v2.1/install-gde/bk-install-guide.html.

Closing this ticket as not a bug.

[2017-09-15 11:29] #10883 closed, assigned to nobody

[2017-09-15 11:31] archonkulis commented on #10897
oh, didn't notice that, but yeah, as you already understood, it's really a working text input, and not a disabled select

[2017-09-15 11:31] reihaan commented on #10883
I installed using Softacoulous, how can I update now? Can you please point me to the right direction?
I tried with composer, it did updated the libraries but backend is still same.

Thanks

[2017-09-15 11:34] PingusPepan commented on #10896
I have modified the `makeTempCategoryTreeIndex` function to reuse the created table and not create it again every time and total time to save product went down to 1 minute. That is also not so great but it is grades better than 12 minute wait.
Almost half of that minute is spent creating the temporary table. There needs to be a better way to handle this. Maybe create the table as permanent index w

[2017-09-15 11:39] magento-engcom-team commented on #10478
@jobsmartdesigner1507 Thank you for report. Did you make upgrade of your Magento? From which version and what method did you use?

[2017-09-15 11:44] joni-jones commented on #10883
You need to run `setup:upgrade` CLI command after getting a new version of Magento.

For more details, please, contact with Softacoulous support, we do not provide such customization, Github only for the issues.

[2017-09-15 11:47] lano-vargas commented on #7917
I've installed a fresh installation 2.1.7 try to install MailChimp extension I've got same problem here.
Need input Please. Thank's for the urgency appreciate.

[2017-09-15 11:47] reihaan commented on #10883
Thanks, I will see how I can update it from here. Thanks again for you all support!

[2017-09-15 11:50] orlangur commented on #10870
@harshvardhanmalpani yeah, thanks.

Issue seems to be fixed on `develop` but not backported to `2.1.x` yet. Anyone from Community can do it due to https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630.

[2017-09-15 11:51] orlangur commented on #7279
@korostii `acknowledged` is from

while `G1 Failed` is added automatically. I really doubt every comment like your one https://github.com/magento/magento2/labels/G1%20Failed may be replied :)

Basically, this issue seems to be fixed in latest `2.1.x` even though the bug report was not formatted well.

[2017-09-15 11:54] orlangur commented on #10624
@archonkulis it does not work this way AFAIK. You need to check latest `2.1.x` to see if the issue still persists according to your steps, otherwise it will be closed in ~2 weeks.

[2017-09-15 11:56] msbt commented on #10573
Hi!
I have almost the same issues, but it occurs when I try to export more than 6 customers at a time. As soon as i try to export 7 or more, it throws this error

Infos:
Magento ver. 2.1.8
Steps to reproduce: Go to Customers / All customers, select any number of entries >=7 and export to csv
Expected result: csv file with customer data
Actual result: error message above

Best regards, M

[2017-09-15 11:58] Galillei commented on #6363
This solution https://belvg.com/blog/magento-2-oversell-fix.html are working for us

[2017-09-15 12:16] bruno-mspan commented on #10388
Fixed it with a core hack.
Above:
`$swatchAttributes = $this->swatchAttributesProvider->provide($product);`
Put this:
``
if (!isset($this->swatchAttributesProvider)) {
            $this->swatchAttributesProvider = ObjectManager::getInstance()->get(SwatchAttributesProvider::class);
        }
``

[2017-09-15 12:27] pboisvert commented on #10841
@ravinders-121 can you provide more info around the steps used to complete checkout at PayPal?

Did you use the credit card method (guest checkout) option? In your PayPal Express Checkout > Advanced Settings are you set to allow guest checkout? Are you also set to not require Billing address?

The issue may be related that the Magento checkout tries to pull in Billing info (shipping as well) from

[2017-09-15 12:28] orlangur commented on #10388
@bruno-mspan how do you reproduce this error if such assignment is already in constructor https://github.com/magento/magento2/blob/2.1.7/app/code/Magento/Swatches/Helper/Data.php#L103 ?

[2017-09-15 12:34] bruno-mspan commented on #10388
@orlangur sorry but I don't know, just hope this helps someone who finds themself in the same situation as I did. I can only guess as to why this was an issue in the first place.

[2017-09-15 12:36] orlangur commented on #7917
@lano-vargas, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

Try install this extension using CLI, in such way you'll what are the actual dependency conflicts.

[2017-09-15 12:39] PingusPepan commented on #10896
I was able to get down to 7 seconds product save time with keeping the table as index and not recreating it every time.
I get where the 13 times repetition comes from. I have 13 stores set up and it is updating index for every store. Now most of the time comes from updating index for every store. It takes around 500ms to update for each store. 500ms * 13 = 6500ms. If there is a way to speed this u

[2017-09-15 12:43] kanduvisla commented on #5632
This problem still persist in 2.1.9 👎

[2017-09-15 12:49] fronke opened #10898 "Disabled product is not removed from the flat index"
### Preconditions
1. Magento 2.1.7, MySQL 5.7, PHP 7.0
2. Nginx Server

### Steps to reproduce
1. Enable Flat product index
2. Reindex the catalog
3. Disable a product from the back office (status attribute)
4. Check the catalog_product_flat_1 table

### Expected result
1. The row with the entity_id equals to the disabled product should be deleted from the table

### Actual result
1. The row with

[2017-09-15 13:03] magento-engcom-team commented on #10556
@johnny-longneck  Thank you for your submission.
The issue you described is standard functionality behavior. Only after you add second address and save it as "default billing address" or "default shipping address" - then you will be able to edit them separately.
If you want to make Feature Requests and Improvements, please submit them to the new Magento 2 Feature Requests and Improvements forum (s

[2017-09-15 13:04] lano-vargas commented on #7917
@orlangur Thank's.
I am sure your intentions are good... but I didn't ask a question there are no question marks.
And yes I do have trouble installing any other extensions.
using CLI is how I normally install other extensions however I am following MailChimp recommendations ref: https://kb.mailchimp.com/integrations/e-commerce/connect-or-disconnect-mailchimp-for-magento-2.

[2017-09-15 13:11] orlangur commented on #7917
@lano-vargas ok, let me rephrase - any problem which is not reproducible on clean Magento installation is out-of-scope here.

If you experience problem with installing some third-party extension, its vendor should be contacted first and only after a bug is confirmed on Magento side it should be reported here (I really doubt there could be such bugs in extension installation mechanism as it is just

[2017-09-15 13:11] andidhouse commented on #8797
Wrong refund is also present in 2.1.7 - this really sucks.
![1](https://user-images.githubusercontent.com/16196483/30483640-e2a84ebc-9a27-11e7-86ae-4e0c60421274.png)
![2](https://user-images.githubusercontent.com/16196483/30483641-e2d64574-9a27-11e7-9e0a-125e919ae92e.png)

Refund without shipping costs should be clear 20,95 Euros but is 21,55 Euros.
Another bug reported month ago and not solved ev

[2017-09-15 13:18] orlangur commented on #8797
@andidhouse reporting problems in closed issues decreases probability of fix even more. Please report a new issue referring to this one.

[2017-09-15 13:20] lano-vargas commented on #7917
@orlangur, I've just created a new installation of Magento just to make sure that my existing Magento isn't causing the issue and buggy, but let me try again please. So yes I did try to install other modules on other existing installation following exactly as bbtimx referencing and the same issue occurs.
After all the question then is this a bug ?  Should I expect this to happen on a new installat

[2017-09-15 13:24] orlangur commented on #7917
Based on https://github.com/magento/magento2/issues/7917#issuecomment-312554412 I assume the problem could occur in particular server configuration. Generally seeing `500 Internal Server Error` one should identify a problem precisely on his side.

[2017-09-15 13:28] lano-vargas commented on #7917
@orlangur  I am afraid I've tried it didn't do!

[2017-09-15 13:32] romeof1980 commented on #5836
hi there!
we can confirm we were able to reproduce the issue on 2.1.8 too (after upgrading from 2.1.5).
truncating the table cron_schedule, setting the indexer on "update on save" and re-setting them on "update on schedule" and finally clearing page_cache fixed the issue once again for us (at the first try).
For completeness' sake: we still run with the following settings:
1 Stores -> Configuratio

[2017-09-15 13:35] andidhouse commented on #8797
thanks @orlangur i understand and it makes sense - sry.
But we won´t do it for this any more. Most of the bugs we reported (and there are 100% confirmed bugs like "active navigation class with varnish not working") so far are not solved and only internal tickets are created - some for over 1 year now. So our team does not see any sense on this any more as we do not need solutions in 1-2 years but

[2017-09-15 13:39] lhsatch commented on #5439
Just after line 429 add:
`$checkGuest = $this->loadByEmail($email);
		if($checkGuest->getSubscriberId()){
			 throw new \Magento\Framework\Exception\LocalizedException(
          __('This email address has already subscribed.')
            );
		}`

[2017-09-15 13:44] maderlock commented on #10524
Here's a solution if you use the meta-package:
1. Download Credis 2.1.8 to somewhere like app/code/Credis/
2. Add the following sections into your composer.json to tell composer not to bother pulling in credis, and handle the class mapping:
[code]
and also the following as part of the `"autoload"` section as credis is not psr-0 compliant:
[code]

[2017-09-15 13:44] orlangur commented on #8797
@andidhouse oki, no problem :) I don't find your attitude really collaborative but anyone definitely have a right to not report bugs. Let's see how the big issues cleanup worked in 6-9 months.

By the way, `2.1.10-preview` was created a long time ago and it was known `2.1.9` will be a security release.

[2017-09-15 13:52] andidhouse commented on #8797
@orlangur - we are totally disappointed here of the behavior of the magento team regarding the bug fixing - sry to be harsh sometimes here. Maybe if you see it from a agency / shop owner perspective you understand that more. We (our whole team) began to report bugs here far over 1 year now - others also did.
And most of the bugs are still not fixed at all (indexing problems, wrong calculations, ch

[2017-09-15 14:05] fouli86 commented on #10682
Hello,
Database Server:
-     Server: Localhost via UNIX socket
-     Server type: MySQL
-     Server version: 5.6.35 - MySQL Community Server (GPL)
-     Protocol version: 10
-     Server charset: UTF-8 Unicode (utf8)

Web Server:
-      cpsrvd 11.64.0.39
-     Database client version: libmysql - 5.1.73
-     PHP extension: mysqli, curl, mbstring
-     PHP version: 5.6.30

I am using the language

[2017-09-15 14:25] LeonHunterUk opened #10900 "Extending the Magento Topmenu in custom module doesn't work after 1.7"
### Preconditions

1. Magento 2 version 2.1.8, and 2.1.9
2. PHP 5.6

### Steps to reproduce

1. Install Magento 1.8 via composer and install using the web installer
2. Create a custom module in app/code. Set di.xml preference to use new Topmenu module. Create module to extend Topmenu and replace the function which renders the menu HTML.

Code to extend:

namespace Mymodule\Topmenu\Plugin;

use \Ma

[2017-09-15 14:26] lano-vargas commented on #10659
@magento-engcom-team.
Hi Thank's for your reply.
The community are really  help full but I have no luck here or  there ref:https://magento.stackexchange.com/questions/190582/magetno-2-admin-front-controller-reached-100-router-match-iterations .

This seen to be very technical to me and I am not alone ref:
https://magento.stackexchange.com/questions/135532/magento-2-ce-front-controller-reached-100-

[2017-09-15 14:34] AleksLi opened #10901 "Layered Navigation filtration for out of stock simple products inside the Configurable"
I found almost equal in the list of the issues [#8170](https://github.com/magento/magento2/issues/8170)

### Preconditions

**Project Environment**

Magento Version: 2.1.7 CE
PHP: 7.0.22

### Steps to reproduce

1. Create several configurable products
2. Create couple of simple products attached to configurable with some attribute with Filterable options. Simple products are not visible individual

[2017-09-15 15:47] orlangur commented on #10900
When you rely on class internal implementation and/or use inheritance to customize core behavior, which is not a recommended way, there is no surprise such fragile code may break with upgrade.

https://github.com/magento/magento2/commit/e32af8220551cf3d41932931051836ca6428c431#diff-454601ea9afd086413ac90923ae9ccaaR95

Your code should use `getMenu()` now instead of `$this->_menu` to work properly.

[2017-09-15 15:47] #10900 closed, assigned to nobody

[2017-09-15 15:50] spyrule commented on #6671
Its not posted as a fix in 2.1.9 KB, and it just failed G1 testing by the engineering team. So I'd say no.

[2017-09-15 15:52] vdimitrovv commented on #10886
I can also confirm that we are seeing the same behaviour on Magento 2.1.7

[2017-09-15 15:58] LeonHunterUk commented on #10900
Thanks, can you advise the recommended way to change the way Magento 2 renders the html for its top menu?

[2017-09-15 16:13] rbur0425 commented on #3759
does anyone have the commit for the develop-2.1 branch so I can manually change the files? I am looking for the configurable products to show the tier price.

[2017-09-15 16:15] roseofgold commented on #7599
It seems to be fixed in 2.1.9!

[2017-09-15 16:36] orlangur commented on #10900
The fact inheritance is strongly discouraged does not mean you can always avoid it, just that you should be prepared for consequences in such case.

Depending on the needed customization you could probably need only some plugins or observers for `TopMenu`, worst case is when you need to change the `_getHtml` internals. By the way, if it would be implemented nowadays, it would be `private`, not `pr

[2017-09-15 18:47] AirmanAJK opened #10902 "Free shipping items applied to all FedEx methods."
When collecting shipping rates for FedEx where the products have some items designated as free shipping and others not, the reduced rate for shipping is applied to all available FedEx methods instead of just the configured method.

### Preconditions
This applies to all Magento versions, including the most recent code in the develop branch. The PHP/MySQL versions are irrelevant since it's a simple

[2017-09-15 18:59] AirmanAJK commented on #10902
At a second glance, it seems the real problem is in this file:
\vendor\magento\module-fedex\Model\Carrier.php
since in its implementation of _getQuotes() it sets $this->_result directly instead of just returning a result object like the other carriers do.

[2017-09-15 19:34] shreyap26 commented on #8724
@dannynimmo I had a similar bug in my magento installation. I had created some products, they were added to cart and then these products were deleted. Deleting the products did not delete them from quote_item table. I deleted all rows from this table that had an invalid product_id and that fixed the bug for me. The products were deleted from Magento 2.1.2. I have upgraded to magento 2.1.8 now and

[2017-09-15 20:17] saeohioalpha commented on #7000
Has this been merged in anywhere? I see it's marked as done in the project: branch [develop] but don't see a merge anywhere. I'm on 2.1.8 and experiencing the same issue. For a guest checkout of a virtual product, going to the checkout page just spins the loader and i get an error (see screenshot).

![screen shot 2017-09-15 at 4 08 52 pm](https://user-images.githubusercontent.com/969559/30501525-d

[2017-09-15 21:04] AirmanAJK commented on #10902
Here is my suggested fix inside \Magento\Fedex\Model\Carrier

[code]

[2017-09-16 02:58] pboisvert commented on #10902
@antboiko can you get this one reviewed?

[2017-09-16 03:17] pboisvert commented on #10897
Guessing merchants may not be reporting this issue more widely as Japan uses an inverse order on address to the default. There postcode comes first, followed by prefecture, followed by the detailed address info. Proper checkout for Japan would be customized to invert this order vs relying on default order. Likely needs some research into original decision not to use prefectures in place of state/p

[2017-09-16 03:21] #10894 closed, assigned to nobody

[2017-09-16 03:21] pboisvert commented on #10894
duplicate of #10893

[2017-09-16 09:05] reihaan commented on #10883
Hi,

After updating Magento to 2.1.9 I still see the old Payment modules. What could be the issue?

Thanks

[2017-09-16 09:53] plastikschnitzer commented on #1726
Hello, will there be performance improvements with Magento 2.2? Did someone take a look into the details?

[2017-09-16 10:16] orlangur commented on #1726
@GBeushausen this statement shows you never profiled Magento 2 if you think ZF2 have any significant impact on overall performance.

@plastikschnitzer yes. I just googled "magento 2.2 performance" and found a couple of blog posts.

[2017-09-16 10:26] GBeushausen commented on #1726
@orlangur Yes i bielieve that. Magento 2 is so over engineered, it could have written in C++ and would still be the slowest application on earth. But ZF2 is world known to be the slowest PHP Framework. https://systemsarchitect.net/2013/04/23/performance-benchmark-of-popular-php-frameworks/ That's why very few projects use it anymore.

[2017-09-16 10:34] korostii commented on #10637
@magento-engcom-team calling some wrong behavior "standard" doesn't make it right.

This is clearly a bug report, not a feature request. This issue needs to be reopened.

[2017-09-16 10:35] orlangur commented on #1726
@GBeushausen it does not matter as Magento 2 is not built on top of ZF2 (just like Magento 1 is not built on top of ZF1). Just some ZF1/ZF2/Symfony components are used.

Benchmark from 2013, really? Magento 2 performance under PHP7 is quite decent while giving much more flexibility compared to Magento 1. Having less bugs and more features is much more important nowadays than abstract "speed".

Of

[2017-09-16 10:40] GBeushausen commented on #1726
@orlangur From an abstract viewpoint, you might be right. My problem is, in development mode my site takes at least 40 seconds up to 2 minutes per page load in a clean new shop without any products. On a new iMac with the fastest SSD. Also on any type of server i get the same result. This is just totally insane. All i read is you just need to turn the cache on. But how can i develop a theme with c

[2017-09-16 10:41] korostii commented on #8094
@magento-engcom-team The issue is still present, please reopen (see the comment above).

[2017-09-16 10:54] archonkulis commented on #10897
@pboisvert This has nothing to do with Japan. It's just an example. You can take any other country that is not listed in "directory_country_region" table and the result will be the same. As I already mentioned - this has nothing to do with the country you select and/or how they fill that form. The option that I select in the admin, is supposed to **make state text input or select field required**,

[2017-09-16 10:56] plastikschnitzer commented on #1726
Well maybe this is unconventional but I develop themes in the production mode on a dedicated testing server with https and http/2, not on a local machine...and I tend to change bigger code blocks at once in order to make the waiting time for emptying cache and so on as short as possible.
@orlangur yes I read about it but in the past I often read about performance improvements in release notes or b

[2017-09-16 11:00] korostii commented on #1002
Ok, that's something already. Thanks for this valuable piece of information.
However, the project description seems to contradict your words by saying that "This board reflects the progress we’ve made on acknowledged public issues that have been reported against the 2.1-develop branch."
It would be nice if you could mention in that description that some acknowledged issues are missing from that pr

[2017-09-16 11:03] GBeushausen commented on #1726
@plastikschnitzer OK, but you should never be forced to do that by a well designed application.

[2017-09-16 11:05] korostii commented on #1002
To re-iterate: currently there is no way to filter out _unresolved acknowledged issues_ (like this one) on the issue list.

I seriously don't understand how do you expect people to help you resolving issues while at the same time you're not even able to provide them with a list of such issues.
I mean, it's no rocket science: just add an `up for grabs` label near the `acknowledged` one and _don't_

[2017-09-16 11:18] korostii commented on #10599
This is actually a duplicate of #10556.

[2017-09-16 11:31] korostii commented on #10556
Well, if you show Default Billing Address and default shipping address separately with different "Change address" links on the same page, user naturally thinks they are different entities and can be edited naturally.
So the system should follow that expeced behavior or state explicitly if it's doing otherwise.

How about a small hint "The changes will be applied to both your default shipping addre

[2017-09-16 11:34] reihaan opened #10906 "Upgraded from MCE 2.1.8 to 2.1.9 / Payment module is latest but showing old version options."
I have updated my MCE 2.1.8 to 2.1.9 via command line, the payment module is still loading old one.
Used the following method:
composer require magento/product-community-edition 2.1.9 --no-update
composer update
rm -rf var/di var/generation
php bin/magento cache:flush
php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento indexer:reindex

### Expected result

On fresh insta

[2017-09-16 11:41] korostii commented on #10892
Wow, that's big. Can anyone else confirm this issue?

[2017-09-16 11:50] korostii commented on #10495
Hi @magento-engcom-team, the issue seems pretty much straightforward, and the description fits your beloved template.
Have you actually tried reproducing it?
Would you please care to explain what kind of information do you intend to get from screenshots and logs in this case?

[2017-09-16 12:01] orlangur commented on #1726
Is it under https://github.com/weprovide/valet-plus or some docker/vagrant/native PHP?

[2017-09-16 12:04] orlangur commented on #10897
@archonkulis sure thing, I believe it's just some thinking on how real merchants use Magento and why such case was overlooked yet. Probably they were just satisfied with non-required state field.

[2017-09-16 12:05] korostii commented on #7279
Yes, I know that.

Let me rephrase my point: Gate1 is buggy and it shouldn't even touch the issues which are already `acknowledged`. (I'm not saying this exact issue needs attention, I'm saying the code performing G1 needs to be adjusted)
No need to check formatting if we already agree that this is (or was, in this case) a valid issue.

This exact issue is lucky to be fixed already, but it would b

[2017-09-16 12:29] korostii commented on #8797
And yet includes a couple improvements not related to security, like logging the exceptions during checkout.

IMHO this just seems to confirm the fact that the current Magento's development cycle is way too slow and isn't capable of providing bugfixes in a timely manner.

[2017-09-16 12:31] korostii commented on #8797
To be honest, I don't see how posting an extra report of the same bug is speeding things up.
I'd rather see the original reopened. If only we had someone with suc power nearby

Unless y

[2017-09-16 13:24] tprocter-ldg commented on #10567
Hi @magento-engcom-team

Pull request has been created [here](https://github.com/tprocter-ldg/magento2/pull/1).

Thank you

[2017-09-16 13:36] hostep commented on #10892
Hmm, just out of curiosity I tested this on a shop we maintain with multiple domainnames and websites where we also changed the `pub/index.php` file and manipulate the `$params` in the same way @thomvanderboon is doing.

Results:
- Upgraded from 2.1.7 => 2.1.8: no problem
- Upgraded from 2.1.8 => 2.1.9: no problem

@thomvanderboon: can you double check if your `index.php` or `pub/index.php` is sti

[2017-09-16 13:48] rb124559 opened #10907 "Address Attributes Show on Form Even When Is Visible set to "No""
### Preconditions

1.   Magento EE 2.1.5
2.

### Steps to reproduce

1.   Log into Admin Panel
2.   Set Visible on Store Front to "No" for street
3.   Enable Address Fields on Form
4.   Refresh Cache and go to Customer Registration Form and it is still displayed.
5.  If I mark the field as not required, but display on Frontend, the not required is ignored.
6.  The field disappears from the attribu

[2017-09-16 14:08] hostep opened #10908 "[2.2.0-rc3.0] Language switcher is broken when using multiple times"
### Preconditions
1. PHP 7.0.22

### Steps to reproduce
1. Install Magento CE 2.2.0-rc3.0 using composer
2. Switch to developer mode
3. In the backend, make sure you have 2 storeviews (in my example: Dutch & English)
4. Reindex & flush caches
5. Load the frontend
6. Using the language switcher in the header, switch from the default storeview (Dutch in my example) to English, the url changes to: `h

[2017-09-16 14:25] southerncomputer commented on #10869
Well you should have consistent field sizes - so reducing a 255 -> 20 is a no-go for backwards compatibility, why not propose a patch to fix what you've seen! I've had to manually address this as our ERP uses sql-server which is very unkind and does the right thing -faults the insert on size/truncation where-as mysql does the unthinkable and loses data quite happily!

[2017-09-16 14:26] carylewis commented on #7665
We are seeing this as well, but we don't allow guest checkout, and it appears as though other sessions' cart items are being added to the customer's cart (or maybe the customer who is logging in's items are being added to another cart).

Either way, this is a critical bug.

[2017-09-16 15:16] yusere commented on #10846
The story

Before saving the informations about configurable product, there are initialised the informations about simple products belonging to it. This is happening in module-configurable-product/Controller/Adminhtml/Product/Initialization/Helper/Plugin/UpdateConfigurations.php file, following function:

private function getConfigurationsFromProduct(\Magento\Catalog\Model\Product $configurablePro

[2017-09-16 15:38] Olek89 commented on #10689
After Updating to 2.1.9 the problem is also hapining, still after 75 Sec. the upload process canceling.

[2017-09-16 15:55] impunkj commented on #6275
I am getting same issues in magento 2.1.7. what should i do for fix.

[2017-09-16 16:03] Olek89 opened #10909 "Downloadable products downloadproblem"
### Preconditions

1. M2 2.1.9
2. PHP 7.0.22

### Steps to reproduce

1. Login as client to the downloadable products
2. select the downloadlink
3. the downloadlink starts as stream in browser with right click you could download it

### Expected result

1. the download should permanently be downloaded no streaming

### Actual result

1. [Screenshot, logs]

[2017-09-16 17:18] sunilit42 commented on #8154
@amansilla
i am facing same issue and there is no setting for like that as you mention like Authorize API checkbox

[2017-09-16 17:47] selusi opened #10910 "Critical issue to manage the correct Date format in different locale interface"
### Preconditions
1. Magento CE 2.1.9 with sample data installed
2. PHP 7.0.22
3. MySql 5.6.16

### Steps to reproduce
1. Set the Interface locale of current adim user on a Country which has date format different by m/d/y
2. Open the Edit Customer form on the backend panel
3. Go to Account Information form
4. Modify Date of Birth
5. Save data

### Expected result
1. When you open the Account Infor

[2017-09-16 18:14] HedonieBrazil commented on #5416
I am having the same issue... how is it possible, that magento have a so huge community... and there is still so many bugs...

Well it is possible to fix the problem manually adding redirect rules, but it is a real fix.

[2017-09-16 18:38] reihaan commented on #10906
Just an update, I have removed and reinstall the paypal, payment and sales module, but still its showing the old payment methods. Not sure which other module I should look for.

[2017-09-16 19:02] hostep commented on #6275
@impunkj: this was fixed in Magento 2.1.8, feel free to upgrade to the latest version (2.1.9 at the moment) and to try it again :)

[2017-09-16 20:34] Cristalline opened #10911 "After update to 2.1.9 no menu"
After the upgrade to Magento 2 2.1.9 the front side doesn't show the menu's anymore.
I already tried to remove the cache in hope this would help = no effect.

How can I have the menu's active again?

[2017-09-16 22:41] ghost opened #10912 "Magento 2.1.9 import a 319KB with 357 products svc file successfully, then failed to import a 456KB with 280 products svc file from admin. No error mesage showed up."
### Preconditions

1. Magento 2.1.9 CE
2. import products from backend

### Steps to reproduce

1. import first 357 products svc file successfuly
2. import second 280 products svc file without error message
3. there is still 357 products from the first svc file, no new products created from the second svc file

### Expected result

1. there should be 637 products, not the original 357 products.

#

[2017-09-17 08:38] langowskiadam commented on #10764
@langowskiadam

[2017-09-17 08:47] diwipl opened #10914 "Huge memory usage when importing large quantities of products"
When importing huge amounts of products Magento 2 is loading contents of importexport_importdata to memory and then iterate it in memory which results in huge memory usage

### Preconditions
1. Magento 2.1.7
2. CSV with 1 500 000 products

### Steps to reproduce
1. Validate 1 500 000 products
2. Run import

### Expected result
1. Memory usage for iterating trough import data should be constant

##

[2017-09-17 08:49] damiantomczak commented on #10414
@damiantomczak

[2017-09-17 08:54] Zefiryn commented on #10765
I am gonna do it.

[2017-09-17 09:21] keyurshah070 commented on #10679
Started Investigating

[2017-09-17 09:23] Linek commented on #10595
I'm on it

[2017-09-17 09:28] Igloczek commented on #9077
@Andreshlan @ifeltsweet
Did you head about reactions? You just should upvote issues and pull request, if you think they are important.
Your comments have no value for maintainers or other devs.

[2017-09-17 09:32] marcinfr commented on #10805
im on it

[2017-09-17 09:33] orlangur commented on #10689
@Olek89 is https://github.com/magento/magento2/issues/10689#issuecomment-325459867 what you see or in your case there are no errors shown in logs or browser console?

[2017-09-17 09:43] cieslix commented on #10807
I will take care of it

[2017-09-17 09:47] astyczen commented on #10786
@astyczen

[2017-09-17 09:48] orlangur commented on #10331
I vote for `composer.lock` :)

[2017-09-17 09:49] krisdante commented on #6435
I tried to reproduce on develop branch (e649b4cc630dfa638271aebc9efd649c5f4bfca9) and it is not reproducible anymore. Seems to be fixed in newest code.

[2017-09-17 09:49] krisdante commented on #9976
I tried to reproduce on develop branch (e649b4cc630dfa638271aebc9efd649c5f4bfca9) and it is not reproducible anymore. Seems to be fixed in newest code.

[2017-09-17 09:54] freakphp commented on #10803
@freakphp

[2017-09-17 09:55] orlangur commented on #10911
From which version did you upgrade and whether you have any customizations/third-party modules? I believe the reason could be same to https://github.com/magento/magento2/issues/10900#issuecomment-329821276

[2017-09-17 09:59] psiwik commented on #10725
i take it

[2017-09-17 09:59] ishakhsuvarov commented on #9976
@krisdante Looks like fix was delivered to the `develop` branch ([commits](https://github.com/magento/magento2/search?q=MAGETWO-60746&type=Commits&utf8=%E2%9C%93)) and is going to be released with 2.2. However, issue is still likely to affect `2.1`.

[2017-09-17 10:03] orlangur commented on #10754
Seems to be a duplicate of https://github.com/magento/magento2/issues/10580 (not closing as they both are `G3 Passed`).

[2017-09-17 10:04] orlangur commented on #10910
Thanks for the well-formed bug report! Such issue is already tracked as https://github.com/magento/magento2/issues/10580.

[2017-09-17 10:04] #10910 closed, assigned to nobody

[2017-09-17 10:06] hostep commented on #10331
@orlangur: that's not going to work if you add modules specific for the project which aren't installed using composer :)

[2017-09-17 10:20] Olek89 commented on #10689
@orlangur thank you, no logs, the java script only stopping i think. browser or webserver nothing logging.

[2017-09-17 10:21] orlangur commented on #10331
@hostep yeah, I saw some custom modules not even having `composer.json` and I don't find it correct.

As to me, Composer shall be integrated as deep as possible, any module in `/app/code/` shall be composer-packageable, any problem solvable without additional code must be solved this way (https://en.wikipedia.org/wiki/Occam%27s_razor).

Looks like https://getcomposer.org/doc/faqs/how-do-i-install-

[2017-09-17 10:23] orlangur commented on #10689
Without any error in browser console / Network tab of Dev Tools or like described in https://github.com/magento/magento2/issues/10689#issuecomment-325459867 ?

[2017-09-17 10:25] Olek89 commented on #10689
did you have an tutorial how i can test it?

[2017-09-17 10:27] orlangur commented on #10689
Just different tabs of Dev Tools: https://developer.chrome.com/devtools

Main interest for us in scope of this issue are Network and Console tabs.

[2017-09-17 10:33] orlangur commented on #7279
@korostii ok, got your point now. I didn't check the workflow changes details yet, but to me it looks like `acknowledged` was not managed properly and could be ignored now, all existing issues will be simply rechecked and retriaged.

[2017-09-17 10:40] Olek89 commented on #10689
thy a problem in console
![2017-09-17 12_39_52-anatomie des bewegungsapparates -download-version _ produkte _ inventory _ produ](https://user-images.githubusercontent.com/31250340/30520026-61925654-9ba5-11e7-86b7-1e205d981dd4.png)

[2017-09-17 10:48] orlangur commented on #8797
@korostii easy: closed issues are not managed at all. The only situation when I think reopening would be useful is when some fix was mentioned in release notes but accidentally not merged into release.

Here you can see that issue is closed by author as upgrade did help (or issue disappeared due to some other reasons). Sometimes even if the issue contains similar scenario but not identical there c

[2017-09-17 10:49] Linek commented on #10793
Cannot reproduce on 2.3.0-dev.
I added special price for even all simple products and set special date range in past. Then refreshing cache and check 30 times. Price is still correct

[2017-09-17 10:51] lbajsarowicz commented on #10611
I've been debugging this issue and found out that if we add *adminhtml/noroute/denied* to public actions, this displays error page correctly:
![zrzut ekranu z 2017-09-17 12-48-22](https://user-images.githubusercontent.com/1639941/30520112-c7e5c00c-9ba6-11e7-80c3-a77aa8ce5ffe.png)

Need to go deeper if it won't cause any side effects. If not - I believe that will be enough solution for the issue.

[2017-09-17 10:56] orlangur commented on #10689
Could you check Network tab also to see if all the JS files loaded successfully? (no red lines with 404 HTTP Not Found and such).

Closest issue I managed to google is https://stackoverflow.com/questions/40411835/cannot-read-property-getbitrate-of-null-in-jquery-fileupload-js-using-filegato, probably upgrading `jquery.fileupload` can help.

[2017-09-17 11:00] andidhouse commented on #8797
I do not think this behavior makes any sense - you can see this now for over 1.5 years - you do not get to manage and fix bugs right in a valid time frame (you can see this here on many tickets - some small issues are solves on a topic and most of the time in a new version the same or a similar issue is introduced again.) - You can check this for nearly any bugs here - just type in for example "in

[2017-09-17 11:01] hostep commented on #10331
Even if a module does have a `composer.json` file, if the files are put manually in `app/code` there will be no reference in the main `composer.lock` file, since the module wasn't installed using composer.

Even if you would enforce all module to be installed using composer, it's not user friendly to develop modules in this way.

The only thing I can think of, that there is some kind of process wh

[2017-09-17 11:04] Olek89 commented on #10689
i tink in the network tab is no issue
How can i upgrade?

![2017-09-17 13_03_33-](https://user-images.githubusercontent.com/31250340/30520179-c1f547c4-9ba8-11e7-8c5a-ae7288cc7925.png)

[2017-09-17 11:36] diwipl opened #10920 "Sku => Entity_id relations are fetched inefficiently when inserting attributes values during product import"
Product import is not fetching relation between products sku and entity_id efficiently when inserting attributes data.
### Preconditions
1. Magento 2.1.9

### Steps to reproduce
1. Run import of products from sample csv

### Expected result
1. All relations are loaded using one query per bunch

### Actual result
1. Relations are loaded one by one (multiple times for multiple attributes types)
<img

[2017-09-17 11:39] rogyar commented on #10644
@rogyar

[2017-09-17 11:51] hatimeria-artur-jewula opened #10922 "REST endpoint /V1/store/storeViews is missing is_active value in store data"
When doing API call to /rest/default/V1/store/storeViews the result list items do not show is_active value

### Preconditions
1. Any Magento2 version

### Steps to reproduce
1. Perform a rest call to http://store.domain/rest/[store-view-code]/V1/store/storeViews

### Expected result

1. The resulted data should include is_active value for the store, ie.
[code]

### Actual result
1. Result is missi

[2017-09-17 12:01] maksek commented on #10793
@Linek - thank you for info. seems like the issue for 2.1-develop branch.

[2017-09-17 12:03] maksek commented on #6435
@krisdante did you try 2.1.x version?

[2017-09-17 12:05] maksek commented on #10807
Hi @cieslix, can you accept invitation from github, so we can assign it on you?

[2017-09-17 12:08] cieslix commented on #10807
@maksek yes sure, sorry for delay.

[2017-09-17 12:14] krisdante commented on #6435
2.1.8 it is till the case

[2017-09-17 12:17] Linek commented on #10772
@Linek

[2017-09-17 12:22] orlangur commented on #10689
Replace `jquery.fileupload` files with newer ones, for the sake of experiment you can download them right from the demo page https://blueimp.github.io/jQuery-File-Upload/

[2017-09-17 12:25] marcinfr commented on #10805
It is not saved, because order address values are stored in "quote_address" and "sales_order_address" tables. By creating new customer address attribute, columns are not automatically created in the above tables.
There are more steps to add new address attribute in correct way:
1. create customer address attribute
2. create new columns in quote_address and sales_order_address:
[code]
3. add fields

[2017-09-17 12:28] Igloczek commented on #9077
@ishakhsuvarov I manage to fix it - my PR #10924
The issue is already fixed on `develop` branch, so I backported the fix to `2.1-develop`.

[2017-09-17 12:34] ishakhsuvarov commented on #9077
@Igloczek Thanks!

[2017-09-17 12:37] kjasrotia commented on #9077
Thank you !
From: Bartek Igielski<mailto:notifications@github.com>
Sent: Sunday, September 17, 2017 5:59 PM
To: magento/magento2<mailto:magento2@noreply.github.com>
Cc: kjasrotia<mailto:ksj1976@hotmail.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [magento/magento2] State/Province field doesn't show as required causes checkout error (#9077)

@ishakhsuvarov<https://github.com/ishakhsu

[2017-09-17 12:37] astyczen commented on #10786
I checked on develop (2.3) and 2.2-develop branch and it is working as supposed. Checking on 2.1-develop branch.

[2017-09-17 12:37] Igloczek commented on #9827
It's not a bug, that's how RequireJS load modules when bundling is disabled.

Merging in Magento is related only to scripts added though layout files (i.e. libs loaded synchronously), almost all of those 100+ files are loaded from templates using RequireJS AMD modules.

If you want to reduce the number of requests, you have to enable bundling.
...but it doesn't work so good, it will slow down your

[2017-09-17 12:53] boratek commented on #10761
It is fixed in version 2.2.1
https://github.com/magento/magento2/blob/2.2.1-preview/app/code/Magento/Quote/Model/Quote.php:1623

[2017-09-17 13:10] keyurshah070 commented on #9877
will do it

[2017-09-17 13:19] lbajsarowicz opened #10928 "Module Review observer executes ->load() on products collection"
### Preconditions

1. Magento 2.1.7
2. PHP 7.0.22
3. Module Review enabled

### Steps to reproduce
Problem occured when tried to inject own filters into products collection.
1. Build own Observer that runs on
`catalog_block_product_list_collection` event
2. Try to use
`$productCollection = $observer->getEvent()->getCollection();`
3. Then try execute
`$productCollection->addAttributeToFilter('entit

[2017-09-17 13:41] Igloczek commented on #6081
It's already fixed on `develop` branch - https://github.com/magento/magento2/commit/5228cf78543e27de4aebe79d003efc2e0af35922

[2017-09-17 13:48] ishakhsuvarov commented on #6081
@Igloczek Thanks for backporting!

[2017-09-17 13:48] hatimeria-artur-jewula commented on #10824
I am working on it

[2017-09-17 13:49] Zefiryn commented on #10824
I am working on it

[2017-09-17 13:58] Igloczek commented on #7551
I think you need to wait for DOM content to be loaded, because there is a possibility that you are trying to listen for an event on non-existing DOM node.

Try something like this:

[code]

[2017-09-17 14:01] marcinfr commented on #10632
For me it works correctly, cant reproduce.

[2017-09-17 14:36] mozenpo opened #10938 "2.1.8 CE - Unable to set attribute set for new product"
I have a clean install of Magento CE 2.1.8 and then imported my data from Magento 1.9. Now while I want to add new products on my old attribute sets which were created on M1, page is loading over and over and I get below message in chrome dev tool console.

Uncaught TypeError: Cannot read property 'length' of undefined
    at UiClass.getNewData (dynamic-rows-grid.js:180)
    at UiClass.initElement

[2017-09-17 14:45] lbajsarowicz commented on #6926
Could you share any Nginx error logs, Magento debug / support logs?
What is more - could you attach any extra information about migrated products?

[2017-09-17 14:47] robsohn commented on #10376
The problem doesn't exist in newer version of the code (we tested the issue on 2.3-dev).

It comes down to how Magento\Eav\Model\EavCustomAttributeTypeLocator\SimpleType::getType() works.

For all frontend input types defined as multiselect the method adds `[]` to the type name. Based on the example above we get `string[]`. Of course there is no such type in PHP and hence the exception.

In newer

[2017-09-17 14:53] lbajsarowicz commented on #10840
Which search engine do you use? ElasticSearch or MySQL? Which type of Reindex you use (did you notice the difference of "index on save" and "CLI reindex")?

[2017-09-17 14:59] chamalC commented on #10938
@mozenpo This is because with 2.1.x versions they have added new attribute group called "Bundle Items" group wrapped with "shipment_type" attribute and your custom attribute sets may not contain that group.

So what you have to do is , goto Store -> Attributes -> Attribute Sets and select your custom attribute -> Under the Groups -> Add New -> add new group call "Bundle Items" then drag and drop "

[2017-09-17 15:02] lbajsarowicz commented on #10823
Tried to reproduce, but I failed. Could you provide more details, especially `var/report/###` file contents? If it's *503* error, it usually comes with response from server that contains mentioned `###` filename.

[2017-09-17 15:06] mozenpo commented on #10938
but i have done this for one of my attribute sets and it does not work. in details, i have added all new groups which there was not in my attribute set and now layout of my attribute set is same as a default attribute set in 2.1.8...
what should i do now?

[2017-09-17 15:17] Igloczek commented on #9252
Waiting for response on grunt jasmine wrapper - https://github.com/gruntjs/grunt-contrib-jasmine/issues/64

[2017-09-17 15:29] thomvanderboon commented on #10892
I checked it....  my index.php was correct. It looks like it is something platform specific to CentOS 6.9 + RH-SCL PHP 7.0.10.

Tested on Ubuntu 16.04 LTS (PHP 7.0.22) and upgrade 2.1.8 -> 2.1.9 of multi store shop works without problems

[2017-09-17 16:17] Ctucker9233 commented on #10269
Or change the name to something other than design to avoid the confusion.

[2017-09-17 17:25] hostep commented on #10892
@thomvanderboon: it might be something different in the webserver setup and/or configuration, I don't think a different php version can cause this problem.

[2017-09-17 17:41] FranRoy commented on #6926
Hello Lukasz,

I have been trying all possibilities to narrow the issue, and here is the
conclusion:

The issue has nothing to do with migrated products and payment works fine.
The error *only ocurre *on *configurable products. *Doesn't matter if they
are migrated or new. If someone buys a configurable product, the product is
supposed to be taken from the warehouse assigned to the store but what
h

[2017-09-17 17:52] MichaelJamesParsons commented on #8837
I have also confirmed GA will not recognize analytics if the script is not in the <head> tag. For now I've moved the position of the script by manually extending the GA module (https://magento.stackexchange.com/a/176032/51425).

[2017-09-17 18:37] cieslix commented on #10807
already fixed in 9e3ca7b3cb297741696bb4c25e0c8ad28ea7d87f
this feature is working as intended (however it is quite fuzzy)

[2017-09-17 19:01] thomvanderboon commented on #10892
@hostep I copied the apache config from the CentOS vm to the Ubuntu vm (both running apache 2.4) so difference in webserver setup is quite unlikely. PHP more likely,

I am currently creating a fresh vm with the CentOS setup for further testing.

[2017-09-17 19:32] Ali-magento opened #10940 "An error message shows up when the admin tries to Add/Edit a customer from Backend."
When the admin tries to Add/Edit any customer through the  Magento admin Panel, an error page shows up.
### Preconditions
1. Magento 2.1.8

### Steps to reproduce
Admin Dashboard >> Customers>> All Customers >> ADD NEW CUSTOMER
### Expected result
The form for adding a new customer

### Actual result

![screen shot 2017-09-17 at 10 27 49 pm](https://user-images.githubusercontent.com/32041632/30524

[2017-09-17 20:03] siliconalchemy commented on #10807
@cieslix Hi, When you say 'this feature is working as intended', do you mean before your fix?  Can you explain how we can delete attributes from products in the current release?

[2017-09-17 22:04] careys7 commented on #8280
Related: 6683

[2017-09-18 01:22] rishabhchd19 opened #10941 "Responsive Design Issue on Mobile with Magento 2.1.9"
### Preconditions
Magento 2.1.7, 2.1.8, 2.1.9, php 5.6
### Steps to reproduce
Open frontend on mobile device (Android)
### Expected result
Expected that the `Shop By` is positioned correctly and nothing positioned incorrectly as shown in the screenshots.

### Actual result
The `Shop By` and other contents positioned incorrectly and it happens only at the landing page i.e. the Main Page. It shows c

[2017-09-18 01:27] dmitry-fedyuk commented on #10673
[Magento 2.2 and 2.3 bug: `bin/magento setup:static-content:deploy -f <multiple locales>` does not generate a correct `js-translation.json` for the second and next locales (and my fix)](https://mage2.pro/t/topic/4524)

[2017-09-18 04:07] pboisvert commented on #10907
@rb124559 Enterprise customers have access to our support team through the My Account area. PLease file bugs there so they can be tracked against your account.

[2017-09-18 05:05] eharvest commented on #9641
It's almost the end of September, and according to the schedule 2.2 GA should be released by now. Doesn't anyone knows how far away before 2.2 GA becomes available?

[2017-09-18 05:30] ShirishRam commented on #6682
@guz-anton, @oshmyheliuk  Is there any workaround for this? (apart from limiting the number of menu items) This issue is also observed when we are on Dashboard page. Changing "Custom per page" number to 1 doesn't work.
Magento version: 2.1.8

[2017-09-18 07:12] orlangur commented on #10823
@lbajsarowicz did you try to reproduce with the trick I provided? Basically, there are two issues here: 503 result which is most likely instance-specific (like some fatal error or uncleaned `var/di`) and the issue with incorrectt handling of 503 response on client side.

[2017-09-18 07:15] orlangur commented on #10269
@Ctucker9233 then bug report would be "Design section is missing in System Configuration" :D The best option as to me is to add a note in place of old section with active link to a new place.

[2017-09-18 07:16] jerome-zhang opened #10942 "cannot create new size that name is "0""
### Preconditions

1. Magento EE 2.1.8
2. php 5.6

### Steps to reproduce

1. go to BE admin
2. on left navigation, go to STORES > Attributes > Product
3. search by "Attribute Code" and go to “size”
4. under "Manage Swatch (Values of Your Attribute)" adding new size: "0"
5. click "Save and Continue Edit"

### Expected result

1. new size "0" saved to system

### Actual result

1. new size is not s

[2017-09-18 07:31] orlangur commented on #10807
@cieslix thanks for your finding! However, although this issue was fixed in https://github.com/magento/magento2/pull/9314 for `develop`, it is still [not backported](https://github.com/magento/magento2/blame/2.1-develop/lib/internal/Magento/Framework/Webapi/ServiceInputProcessor.php#L263) to `2.1.x` against which this issue was reported.

Also, the test is missing for this fix. It should be at lea

[2017-09-18 07:50] steros commented on #10869
Hey,

I've already proposed a patch and there discussion has gone a bit further.
It seems this is actually a bug which needs to be addressed.

So I'm closing this.

[2017-09-18 07:54] steros commented on #9827
Okay thanks for clarification.

[2017-09-18 07:54] #9827 closed, assigned to nobody

[2017-09-18 07:57] hostep commented on #9641
@eharvest: I've heard the date September 27th somewhere, but I don't know for certain...

[2017-09-18 08:16] orlangur commented on #10734
@steverobbins this method seems to be fixed for `develop` in https://github.com/magento/magento2/pull/7729/files, just not backported to `2.1.x` yet.

Up for grabs!

[2017-09-18 08:30] LeonHunterUk commented on #10900
Thanks for your help!

[2017-09-18 08:31] magento-engcom-team commented on #10468
@jessp855 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Include the preconditions, the steps required to reproduce,
the actual result, and the expected result.
Please, add the following information:
- [ ] Expected result
- [ ] Actual result

[2017-09-18 08:40] orlangur commented on #10942
Thanks for the report, fix will be available in `2.1.10`, see https://github.com/magento/magento2/issues/10818#issuecomment-328049297 for details.

[2017-09-18 08:40] #10942 closed, assigned to nobody

[2017-09-18 08:49] orlangur commented on #10928
Please clarify what exactly you call a bug here and approximate approach how would you fix it.

Does not look like an appropriate event is used here, some `before_load` of product collection seems to be a better choice.

[2017-09-18 08:55] JasonScottM commented on #9466
If you are asking is there a way to delete all unused duplicate images?

then yes, attached is a script I put together for that task,

if your database has a prefix set you may need to change the table name.

run the script and if you are happy the red results shown are the ones to delete,

uncomment the 2 unlink lines are re-run.

To be sure you can recover, I suggest backing up the pub/media/cat

[2017-09-18 08:56] pieal86 commented on #7967
This shows the last category if browse from homepage.. but if product is browsed from category>sub-category> it shows different breadcrumb.
And still not showing full path.

Any product , even clicked from a direct link should always show full path..
Example:Home> category> sub-category> sub-sub-category> Product title.
Any solution or work arround for this?

[2017-09-18 09:01] yumicom commented on #7967
Yes, solution from mbahar shows different breadcrumb.

[2017-09-18 09:02] jerome-zhang commented on #10942
Thank you and what is the expected release date for 2.1.10?

[2017-09-18 09:13] orlangur commented on #7967
@yumicom @pieal86 the problem is that if there is no category path in product URL with FPC enabled there is no way to determine category structure.

It seems to be obtained from referer in core implementation.

It means you need a custom implementation with such logic, good news is that you can cache breadcrumbs on product page for all customers/visitors.

[2017-09-18 09:24] RogerKeulen opened #10943 "JSON Rest Api returns HTML while trying to delete Customer or delete Category"
The Magento Rest Api can't delete a customer or categorie.
The Magento Rest Api Swagger Documentation is not correct.
The Magento Rest Api using JSON doesn't always giveback JSON.

### Preconditions
Magento ver. 2.1.7

### Steps to reproduce
1.
curl -X POST "http://keen-webshop.nl/index.php/rest/V1/integration/admin/token" -H "Content-Type:application/json" -d '{"username":"user", "password":"pass

[2017-09-18 09:28] korostii commented on #7000
Hi @alena-marchenko, Hi @magento-engcom-team,
Can this be reopened since the bug seems to remain on 2.1.x ?

[2017-09-18 09:30] siliconalchemy commented on #10807
Yet another bug fixed half a year ago that hasn't made it into the stable tree.  This project really needs to address the braindead policy of only ever making fixes into the dev branch until enough people complain about an issue.  This is an enterprise product, companies commit to a branch for a long time for lots of good reasons.  Fixing bugs in point releases is a good thing, people.

[2017-09-18 09:37] manithiruit commented on #6158
Hi @senthilengg,

Go to Mysql  "customer_eav_attribute" table. As per "eav_attribute" table, Fax attribute id is 35. So search attribute id 35 in "customer_eav_attribute", then change column **is_visible** to 1.

[2017-09-18 09:45] RogerKeulen commented on #7772
Hi, there.. I tried to do step 5a with Magento 2.1.7 and got HTTP 404 with HTML.

[meen@dev ~]$ curl -i -H "Content-Type: application/json" -H "Authorization: Bearer gie9rn0gu8l7nnk...." -X DELETE http://keen-webshop.nl/rest/V1/configurable-products/MH01/options/3
HTTP/1.1 404 Not Found
Date: Mon, 18 Sep 2017 09:32:07 GMT
Content-Length: 629
Content-Type: **text/html**; charset=UTF-8

<!doctype ht

[2017-09-18 09:46] tomnyson opened #10944 "magnifier size len too big"
### Preconditions

1. magento 2.1.8
2.

### Steps to reproduce

1.
2. can't resize lens zoom of the magnifier. If decrease size len, output to smaller
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]
![image](https://user-images.githubusercontent.com/10257765/30536608-a9a3255e-9c90-11e7-9707-84feea827521.png)

[2017-09-18 10:06] orlangur commented on #10807
@siliconalchemy this is already changed: no `2.1.x` ticket closed with remark "fixed in `develop`" nowadays. Obviously there is no other way to apply all relevant fixes from `develop` to `2.1.x` but discovering bugs and backporting fixes. Hope after 2.2 release bugfixes will be tracked better and delivered as `2.2.x` in a timely manner.

[2017-09-18 10:22] magento-team commented on #6081
Internal ticket to track issue progress: MAGETWO-75319

[2017-09-18 10:27] siliconalchemy commented on #10807
Confirmed this fix works when backported into 2.1.9.  The path is different - vendor/magento/framework/Webapi/ServiceInputProcessor.php.

@orlangur Encouraging that process is improving.  I still don't understand why 2.1.x issues are fixed in dev and closed.  If it's a 2.1.x. issue and the fix isn't breaking, why isn't it applied to 2.1.x branch and released in the next point release?

[2017-09-18 10:27] nmohanan opened #10945 "Admin Product Atrribute date time picker is not appearing"
### Preconditions

1. Magento version 2.1.6,2.1.7,2.1.8,2.1.9
2. Php 7.0.0

### Steps to reproduce

1. I have tried to build an date time picker in magento product attribute
2. Instead of date time field only date field is appearing,
3. Also i have tried jquery for datetime picker, it is also not rendering in the admin side
4. $eavSetup->addAttribute(
            \Magento\Catalog\Model\Product::EN

[2017-09-18 10:42] orlangur commented on #10807
Well, it's because you have Composer-based installation. It can be rewritten with next composer update. A proper way it to rewrite this class in your custom module.

Have no idea, was always wondering this as well. As such process is already obsoleted we probably will never know the truth. Maybe `2.1.x` was planned to have short EOL initially while `2.2.x` was planned as LTS version.

[2017-09-18 10:42] magento-engcom-team commented on #10682
@fouli86, may you, please, make expected result more clear

[2017-09-18 10:46] Dynasto commented on #10722
Another developer here, this problem occurs to me as well. Thanks for the tip with reindexing!

[2017-09-18 10:48] rowanvandorp opened #10946 "Disable products are still shown on website"
### Preconditions

1. I use Chrome as browser
2. I use Magento version 2.1.7

### Steps to reproduce

1. On my dashboard, I go to Product - Catalog
2. I click on a random product (configurable product consisting of simple products)
3. The simple products are different clothing sizes, so when a size is not available anymore, we disable that product
4. When I click on 'disable' of a product, the pro

[2017-09-18 10:51] Bobstar040 commented on #10583
I am getting this error btw: Order saving error: Getter return type must be specified using @return annotation. See Magento\Customer\Model\Data\Customer\Interceptor::getDefaultBilling()

Any idea how to solve this?

[2017-09-18 10:57] orlangur commented on #10945
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2017-09-18 10:57] #10945 closed, assigned to nobody

[2017-09-18 11:00] RogerKeulen commented on #10943
Hi David !

Did not expect you here.... :-)

Yes, ofcourse....
I'm using the Rest-Api with the bearer token. (username + password from backend-user)

When i go to the backend of magento and lookup the user 'roger', i see the role assigned: Administrator.
When i lookup the role-resources for 'Administrator' it says: 'all'
And i checked: role-users that the user: 'roger' is in the list and active.

[2017-09-18 11:02] siliconalchemy commented on #10807
OK, so how do we get this into the next 2.1.x release?

[2017-09-18 11:06] orlangur commented on #10807
According to my understanding @cieslix is going to work on backport. See https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630 for more details.

[2017-09-18 11:07] nmohanan commented on #10945
So Magento does not includes this functionality with the community edition?

[2017-09-18 11:17] orlangur commented on #10945
Both CE and EE in `Catalog Input Type for Store Owner` contain only "Date" option.

Thus to create Date and time input you need to do a proper customization (quite easy).

As your current attempt of customization is buggy

and does not work, Stack Exchange can be used to get some assistance.

[2017-09-18 11:20] orlangur commented on #10734
Please backport together with https://github.com/magento/magento2/issues/10121#issuecomment-313324729

[2017-09-18 11:28] yogisoni commented on #10677
Is this issue resolved? I am not aware about the status G1 Passed.

[2017-09-18 11:35] RogerKeulen commented on #10943
Hi David,

I tried it now on a other **test webshop: Magento 2.2 Release candidate 3 and it works just fine**.
Is there a test you can advice me to do, so i can check if it's installation/configuration related ?

For now i'm using the 'other' Magento installation for writing my integration tests. If they all 'pass' and do what i expect them todo. I can use them to try to understand what is going w

[2017-09-18 11:48] dmanners commented on #10943
Oh that is interesting, annoying but interesting. Apart from the version of Magento is there anything different between the two installations?

I have seen a few times that if the entity load fails the API will give a 404. I can only recommend using xdebug to step through the process and see what happens.

[2017-09-18 12:00] RogerKeulen commented on #10943
Yes, that's my plan. I will write my tests first using the latest version of Magento (2.2 Release candidate 3) and then when i'm shure everything works like expected. Switch to the older version 2.1.7 and try to debug it. I will post my findings in a `new` issue with more details, if i can see what is going wrong.

You can close this issue as "unresolved".

[2017-09-18 12:01] enrybisco opened #10949 "Disappeared css from back and frontend"
### Preconditions

1. php 7
2. Magento 2

### Steps to reproduce

1. In the main folder public_html and in commented out #followsymlink
2. In the folder pub/media in the htaccess file: deleted "All" from 1st line:  " Options  All-Indexes"
3. and commented out the line:  #    Options +SymLinksIfOwnerMatch
4.From SSH in Putty I have run: php bin/magento clean and indexer:index

### Expected result

[2017-09-18 12:01] #10943 closed, assigned to nobody

[2017-09-18 12:27] orlangur commented on #10949
Will images and css work if you restore original `.htaccess`?

[2017-09-18 13:00] sebfie commented on #8640
Thx, also got this issue...

[2017-09-18 13:01] nmohanan commented on #10945
I have asked a question regarding this, but no reply from anyone of them, it is great if you could help me on this. https://magento.stackexchange.com/questions/193609/tried-to-implement-the-datetime-picker-magento2-but-only-date-is-coming

[2017-09-18 13:04] spipu opened #10951 "[2.1.9] Error on Setup Upgrade : write permission asked for .htaccess file ?!"
### Preconditions
Do not give the write permission to all the .htaccess files for security reasons.
those files must be writable by the execution user (www-data, apache, ...).
If a .htaccess file is writable, then it could be updated by a script with a security issue.

### Steps to reproduce
Launch the setup:upgrade command

### Expected result
No errors

### Actual result
[code]

[2017-09-18 13:07] Rane2k commented on #9544
This seems to stem from the HTTP Accept header.

Some testing shows the following:

Chrome (60.0.3112.113) sends
_Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8_

IE 11 with activated compatiblity mode sends:
_Accept:image/gif, image/jpeg, image/pjpeg, application/x-ms-application, application/xaml+xml, application/x-ms-xbap, */*_

Note that both strin

[2017-09-18 13:31] orlangur commented on #10951
There is no issue as Magento file system MUST NOT be owned by a web server user, check https://magento.stackexchange.com/a/95033 for more details.

[2017-09-18 13:31] #10951 closed, assigned to nobody

[2017-09-18 13:34] enrybisco commented on #10949
No I have tryed to restore the file in the folder pub/media in the htaccess file: readded "All" in1st line: " Options All-Indexes"
and taken off the comment from the line: # Options +SymLinksIfOwnerMatch
but nope it's not working

[2017-09-18 13:34] tehXor commented on #7000
@korostii last time I check the official fix was in the develop branch, so the question would be if it could be ported to 2.1 branch. Otherwise I guess it will make it 'automatically' to 2.2 and may already be in 2.2 RC. But since this isn't stable I'm also applying my custom patch for every 2.1 update so far which is a little annoying.

[2017-09-18 13:38] staniag opened #10952 "Magento 2 Customer Object via API has no increment_id"
### Preconditions
Current Magento build 2.1.9/2.2.0-rc30 php 7.0.22, mysql 5.7.19
### Steps to reproduce
Api GET on magento2host/rest/all/V1/customers/{id}
### Expected result
As result you get a JSON with customer data containing increment_id
<pre>
{
    "id": id,
    "increment_id": id,
    "group_id": id,
    […]
    "addresses": [
        {
            "id": id,
            "customer_id": id,

[2017-09-18 13:43] orlangur commented on #10949
Try to restore original `.htaccess` files by copying or `git reset` instead of editing and re-run all relevant command, like static content deploy, reindexing etc after that.

[2017-09-18 13:52] wolef opened #10953 "Localized dates can't be used in backend forms, especially the product form (2.1.8 and 2.1.9)"
If you'll save a date in product form (i.e. 'mark product as new') not the selected date is shown after reloading the form. No you'll see the current date.

There's an JS Error in the console.
Error creating Date object from string.  jquery-ui-timepicker-addon.js:2118:4

The bug is only available if you use a different language then en_US. In the database the chosen date is saved. The problem is j

[2017-09-18 13:53] magento-engcom-team commented on #10480
@sippsolutions We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue. Screenshots or logs would be helpful, too.

[2017-09-18 14:18] pvj opened #10954 "With certain currencies invalid amount is sent to Paypal"
### Preconditions

1. Magento 2.1.6
2. php 5.6

### Steps to reproduce

1. [ADMIN] Select `HUF` (Hungarian forint) as base & display currency
2. [ADMIN] Turn on Paypal Express checkout
3. [FRONTEND] Start checkout flow
4. [FRONTEND] Try paying with Paypal

### Expected result

User can successfully pay

### Actual result

Paypal error is thrown, user is unable to pay via Paypal

Error message:
`Pa

[2017-09-18 14:19] spipu commented on #10951
sorry, bad explain. Could you reopen the issue ?

I have a delivery user "delivery", used to delivery the sources. It as full access to the source
I have a execution user "www-data", that is used by php-fpm to execute magento, and that is use to execute the cli magento command.
All the files are own by "delivery" with the good permission
All media / static files are own by "www-data" with the good

[2017-09-18 14:25] orlangur commented on #10951
This is the mistake, please check [documentation](http://devdocs.magento.com/guides/v2.1/comp-mgr/cli/cli-upgrade.html#upgrade-cli-upgr) before reporting an issue. Magento file system owner must be used instead of `www-data`.

[2017-09-18 14:32] enrybisco commented on #10949
I have run the magento setup:static-content:deploy [<list of languages>]
 because the language of the website (all folders it_IT were gone):
the situation now is that the backend is working but not the css in the frontend

[2017-09-18 14:32] enrybisco commented on #10949
... deploy it_IT

[2017-09-18 14:45] orlangur commented on #10949
Try switching to en_US as it_IT does not belong to this repo anyway.

What did you try to achieve by changing `.htaccess` by the way?

For the sake of clean bug report, please do a clean Magento 2 installation and perform necessary steps in order to reproduce a bug, then please put an updated version of steps into description.

[2017-09-18 14:49] orlangur commented on #10952
What is the basis of expected result? I don't see `increment_id` mentioned in https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/Api/Data/CustomerInterface.php

[2017-09-18 14:51] enrybisco commented on #10949
The changes in the .htaccess are needed to a configuration compatibility with our Apache server: in the previous Magento 1.9x .png files were not visible if this action were not performed.

Thank you
Enrico

[2017-09-18 14:53] magento-engcom-team commented on #10421
@romainruaud thank you for your bug report.
We've created internal ticket MAGETWO-75384 to track progress on the issue

[2017-09-18 15:02] orlangur commented on #10953
Thanks for the bug report! Such issue is already tracked as https://github.com/magento/magento2/issues/10580.

[2017-09-18 15:02] #10953 closed, assigned to nobody

[2017-09-18 15:11] magento-engcom-team commented on #10438
@dankocherga From github code I can only get error that missing argument in $this->extensionAttributesFactory->create() function. When I tried to customize code I would not receive any error. Pls show all your module code.

[2017-09-18 15:13] orlangur commented on #10954
Interesting case!

`'AMT' =>'2990.00', 'ITEMAMT' =>'2354.33', 'TAXAMT' => '635.67',`
So what would be the valid values in such case?

Full list of such currencies seem to be: HUF, JPY, TWD.

[2017-09-18 15:15] VoidWalker commented on #10838
Same issue on 2.1.8 and 2.1.7

[2017-09-18 15:15] sawebvisum commented on #10952
increment_id is not  EAV attribute, no sense to use it as extension attribute.
increment_id is in customer_entity table, but not in CustomerInterface.php
Many companies use increment_id field as customer id different needs such as billings and other.
It is logical to have it in Interface with getter and setter.

[2017-09-18 15:20] orlangur commented on #10951
Nope, just check the documentation more carefully: http://devdocs.magento.com/guides/v2.1/config-guide/prod/prod_file-sys-perms.html#Production-file-system-ownership-for-private-hosting-two-users-

In production code files and directories are read-only.

Just follow an official documentation precisely and you will avoid any security risk.

I believe this is a mistake too. All files must be owned b

[2017-09-18 15:22] spipu commented on #10951
Yes, but it asks write permission on the .htaccess files of the media folder ?!

[2017-09-18 15:27] orlangur commented on #10954
Thanks for your input! Ideally it would be nice to have some legal information for reference how rounding is supposed to occur in your country.

Did you try to play with configuration a bit, like suggested in https://stackoverflow.com/a/28909775 by the way?

[2017-09-18 15:37] 1408sheva commented on #10906
Hi, @reihaan. I don't reproduce this bug.
My steps to reproduce:

Install frash Mage 2.1.8CE and configure PayPal Payments Standard
composer require magento/product-community-edition 2.1.9 --no-update
composer update
rm -rf var/di var/generation
php bin/magento cache:flush
php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento indexer:reindex

[2017-09-18 15:37] magento-engcom-team commented on #10661
@Koc Thank you for your report.
How exactly did You set up watermark? Please give parameters from Content > Design > Configuration > You website > Product Image Watermarks

[2017-09-18 15:39] sebfie commented on #8640
I am using magento 2.1.9 and the solution of @SKovbel  did not work ! Can anyone help me to implement it? Thx

[2017-09-18 15:40] pvj commented on #10954
I'll take a look but I don't know from the top of my head where such official, sanctioned information may be found. I hope that wouldn't halt any - potential - progress on this.

Yes, I did try it but it doesn't matter. I tried this and a bunch of other things before opening this ticket. M2 is going to be still sending amounts with decimals in place regardless of any of these changes so it will be

[2017-09-18 15:42] magento-engcom-team commented on #10790
@dankocherga Please provide the detailed steps we must follow to reproduce this issue. Screenshots or logs would be helpful, too.

[2017-09-18 15:43] orlangur commented on #10951
For the Magento filesystem owner, not for the `www-data`, and it is absolutely fine.

[2017-09-18 15:46] magento-engcom-team commented on #10809
@hudson1998x  thank you for your bug report. We cannot reproduce this issue as described.
Please provide the detailed steps we must follow to reproduce this issue.  Please give screenshot, that shows which exactly menu items disappear out of viewport

[2017-09-18 15:48] orlangur commented on #10952
Extension attributes have nothing to do with EAV.

Even in core some data, like `GiftMessage`, is populated using extension attributes mechanism: https://magento.stackexchange.com/a/121159

API interfaces cannot be expanded randomly to the needs of each particular merchant. If you need some additional data in your etension, just add it using plugins-interceptors.

GitHub is intended for bug report

[2017-09-18 15:48] #10952 closed, assigned to nobody

[2017-09-18 15:50] erikhansen commented on #7357
Magento support provided a patch containing the changes in this commit ([bee0c6db](https://github.com/magento/magento2/commit/bee0c6db07e17cab97864f71142072e423d63403)) to us. If you have this issue, I'd encourage you to apply that change to your Magento installation to see if it fixes your issue.

It looks like that change will be released in 2.2.0, but it's not in 2.1.9.

[2017-09-18 15:50] erikhansen commented on #10278
@Those of you experiencing this issue - You should try applying the patch I mentioned in [this comment](https://github.com/magento/magento2/issues/7357#issuecomment-330266513) to see if it fixes your issue.

[2017-09-18 15:52] orlangur commented on #10954
Ok, thanks. Well, as a quick'n'dirty workaround you can still create an around plugin for `\Magento\Directory\Model\PriceCurrency::round` which does `round($price, 0)` but not sure how it will work with all other price-modifying features.

[2017-09-18 15:53] magento-engcom-team commented on #8347
@Sharmilasrini95 thank you for your bug report. We cannot reproduce this issue as described.
Please provide the detailed steps we must follow to reproduce this issue. Screenshots or logs would be helpful, too.

[2017-09-18 15:58] orlangur commented on #10278
@erikhansen how does it work? I don't see any visible changes in commit.

[2017-09-18 16:08] Koc commented on #10661
@magento-engcom-team
opacity = 100% (because png has own opacity)
size=empty string
position=bottom/right

[2017-09-18 16:08] erikhansen commented on #10278
@orlangur This is the commit I'm talking about: https://github.com/magento/magento2/commit/bee0c6db07e17cab97864f71142072e423d63403

[2017-09-18 16:10] spipu commented on #10951
So you do not seperate the delivery user and the cli executor user. It is also a bad practice.

On all Smile projets, we always have seperate users to avoid security issues from community modules that we could use...

[2017-09-18 16:38] magento-engcom-team commented on #8190
@Taral-Patoliya thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-18 16:38] #8190 closed, assigned to nobody

[2017-09-18 16:40] magento-engcom-team commented on #10853
@routbiplab thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-18 16:40] #10853 closed, assigned to nobody

[2017-09-18 16:42] #10840 closed, assigned to nobody

[2017-09-18 16:45] #1961 closed

[2017-09-18 16:47] #2666 closed, assigned to nobody

[2017-09-18 16:55] pvj commented on #10954
I was thinking about that but for now I just really needed something to work so I hacked the Paypal Nvp request at `\Magento\Paypal\Model\Api\Nvp::callSetExpressCheckout`.

That seems to work well for now, but I will re-visit this and try to come up with a proper solution later.

[2017-09-18 16:59] #3417 closed, assigned to nobody

[2017-09-18 16:59] magento-engcom-team commented on #3934
@jonsaf we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-18 16:59] #3934 closed, assigned to nobody

[2017-09-18 17:00] #4299 closed, assigned to nobody

[2017-09-18 17:00] #4333 closed, assigned to nobody

[2017-09-18 17:01] #4822 closed, assigned to nobody

[2017-09-18 17:02] #4979 closed, assigned to nobody

[2017-09-18 17:03] #5088 closed, assigned to nobody

[2017-09-18 17:03] #5172 closed, assigned to nobody

[2017-09-18 17:07] #5269 closed, assigned to nobody

[2017-09-18 17:08] #5377 closed, assigned to nobody

[2017-09-18 17:08] magento-engcom-team commented on #5461
@kalpeshchavada we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-18 17:08] #5461 closed, assigned to nobody

[2017-09-18 17:09] #5505 closed, assigned to nobody

[2017-09-18 17:09] #5608 closed, assigned to nobody

[2017-09-18 17:10] #5632 closed, assigned to nobody

[2017-09-18 17:10] #5639 closed, assigned to nobody

[2017-09-18 17:11] #5666 closed, assigned to nobody

[2017-09-18 17:11] #5719 closed, assigned to nobody

[2017-09-18 17:12] #5722 closed, assigned to nobody

[2017-09-18 18:15] #5959 closed, assigned to nobody

[2017-09-18 18:17] #6069 closed, assigned to nobody

[2017-09-18 18:19] #6396 closed, assigned to nobody

[2017-09-18 18:21] #6421 closed, assigned to nobody

[2017-09-18 18:22] #6471 closed, assigned to nobody

[2017-09-18 18:23] #6522 closed, assigned to nobody

[2017-09-18 18:24] #6533 closed, assigned to nobody

[2017-09-18 18:24] #6547 closed, assigned to nobody

[2017-09-18 18:25] #6708 closed, assigned to nobody

[2017-09-18 18:25] spyrule commented on #10531
Does anybody know where the SQL queries for indexing are kept?  Perhaps bumping the 500 limit for those of us who have smaller/ish datasets might get away with raising it to 1000-2000 records per batch. Worth testing.  I'm just not sure WHERE the SQL queries are in M2 (I mostly develop theme/frontend, so I rarely dig into the core).

[2017-09-18 18:28] #6743 closed, assigned to nobody

[2017-09-18 18:31] magento-engcom-team commented on #6818
The fix will be available with 2.1.10

[2017-09-18 18:31] #6818 closed, assigned to nobody

[2017-09-18 18:32] magento-engcom-team commented on #6823
@viktor-zhuromskyy we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-18 18:32] #6823 closed

[2017-09-18 18:32] #6845 closed, assigned to nobody

[2017-09-18 18:34] magento-engcom-team commented on #6865
Hi @mattcoz pleaser let us know if the issue still relevant.

[2017-09-18 18:34] magento-engcom-team commented on #7114
@shanevbg we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-18 18:34] #7114 closed, assigned to nobody

[2017-09-18 18:36] magento-engcom-team commented on #7392
Updated issue description

[2017-09-18 18:39] #7561 closed, assigned to nobody

[2017-09-18 18:41] #7618 closed, assigned to nobody

[2017-09-18 18:44] magento-engcom-team commented on #2991
Hi @shubhamagarwal862 it would be great if you can submit a pull request with the fix. Looks like you already found the solution 👍

[2017-09-18 18:46] #7694 closed, assigned to nobody

[2017-09-18 18:47] #7724 closed, assigned to nobody

[2017-09-18 18:47] #7750 closed, assigned to nobody

[2017-09-18 18:52] #8245 closed, assigned to nobody

[2017-09-18 18:54] magento-engcom-team commented on #8524
@Tonop we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-18 18:54] #8524 closed, assigned to nobody

[2017-09-18 18:55] #8597 closed, assigned to nobody

[2017-09-18 18:55] #8630 closed, assigned to nobody

[2017-09-18 19:04] #9275 closed, assigned to nobody

[2017-09-18 19:05] #9310 closed, assigned to nobody

[2017-09-18 19:08] luukschakenraad commented on #8755
What do you want to have clarified? Just add two widgets to your Magento store. Set one to "Display on all categories" with priority 20, set the other one to "DIsplay on specific category" with prioririty 10.

Expected result: Widget "Specific Category" appears before "All categories" because of lower priority

Actual result: Widget "All categories" appears after "Specific category". Ignoring prio

[2017-09-18 19:09] #9448 closed, assigned to nobody

[2017-09-18 19:09] #9508 closed, assigned to nobody

[2017-09-18 19:11] #9546 closed, assigned to nobody

[2017-09-18 19:12] #9740 closed, assigned to nobody

[2017-09-18 19:13] #9790 closed, assigned to nobody

[2017-09-18 19:19] orlangur commented on #10951
Feel free to provide a concrete exploit scenario here: https://bugcrowd.com/magento

CLI executor user cannot do anything outside of Magento folder. With Git you can even control if something undesired occurs within Magento folder as a result of CLI execution.

[2017-09-18 19:20] orlangur commented on #10278
@erikhansen me to, looks like a formatting change to me.

[2017-09-18 19:23] #10113 closed, assigned to nobody

[2017-09-18 19:24] #10122 closed, assigned to nobody

[2017-09-18 19:27] nelero commented on #8415
still happens in 2.1.9
Can we fix this please ? it's a regression :(

[2017-09-18 19:27] yumicom commented on #6018
I"m having the same problem

[2017-09-18 19:28] magento-engcom-team commented on #10613
@Stike999 thank you for suggestion

[2017-09-18 19:28] #10613 closed, assigned to nobody

[2017-09-18 19:29] erikhansen commented on #10278
@orlangur Oh, my bad. I linked to the wrong commit. Check out this commit: [4386f8db](https://github.com/magento/magento2/commit/4386f8db587fe06d4593cf3eb29d333141ef3fb1#diff-0c04816bd63e8024a1d4732df9aab816)

[2017-09-18 19:30] magento-engcom-team commented on #10630
updated issue description

[2017-09-18 19:34] #10727 closed, assigned to nobody

[2017-09-18 19:35] #10744 closed, assigned to magento-engcom-team

[2017-09-18 19:36] magento-engcom-team commented on #10911
@Cristalline thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Step

[2017-09-18 19:45] magento-engcom-team commented on #2816
@ci2014 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to

[2017-09-18 19:46] #2976 closed, assigned to mazhalai

[2017-09-18 19:48] magento-engcom-team commented on #4379
@viktor-zhuromskyy thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [

[2017-09-18 19:50] magento-engcom-team commented on #4699
`bin/magento sampledata:deploy ` is designed for composer based installation. or add repo to your composer.json file

[2017-09-18 19:50] #4699 closed, assigned to nobody

[2017-09-18 19:55] #6184 closed, assigned to victor-v-rad

[2017-09-18 19:56] #6594 closed, assigned to nobody

[2017-09-18 20:06] #7387 closed, assigned to nobody

[2017-09-18 20:06] #7447 closed, assigned to nobody

[2017-09-18 20:10] cproach commented on #7170
Was there ever a fix for this?

[2017-09-18 20:10] #7994 closed, assigned to nobody

[2017-09-18 20:11] #8129 closed, assigned to nobody

[2017-09-18 20:13] #8265 closed, assigned to nobody

[2017-09-18 20:16] magento-engcom-team commented on #8902
Closing this issue. No response from reporter

[2017-09-18 20:16] #8902 closed, assigned to mzeis

[2017-09-18 20:17] #9063 closed, assigned to nobody

[2017-09-18 20:18] #9288 closed, assigned to mzeis

[2017-09-18 20:19] #9395 closed, assigned to nobody

[2017-09-18 21:11] magento-engcom-team commented on #8755
Hi @luukschakenraad thank you for the response. We will try to reproduce it one more time

[2017-09-18 21:13] magento-engcom-team commented on #10661
Hi @Koc thank you for the update. We updated issue description

[2017-09-18 21:35] test432400 opened #10955 "2.1.9 | Problem with switching to production mode"
When I switch to the production mode, I get the problem with incorrect functioning of website.
The default language is Russian, but when i switch to the production mode, the language became English and site begin to work incorrectly.
When i go to the main page, i get 404 error. Some links on page lead to admin panel and they look like this:
https://m.repka.ua/admin/catalog/category/view/s/hdd-ssd-

[2017-09-19 00:15] galaxysteph commented on #5260
Just encountered this on Magento 2.1.5.

[2017-09-19 00:44] spyrule commented on #5260
So for me it was a 3rd party extension that didn't contain all of the proper fields in its config or system.xml file (I cannot remember at this point).  For me it was the well documented Solwin extension that had a bunch of missing information. I removed it, and suddenly all of my password reset functionality worked as expected. :man_shrugging:

[2017-09-19 01:20] magento-engcom-team commented on #10815
@cloverbox thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details regarding your environment, or try to reproduce this
issue on a clean installation.

[2017-09-19 01:21] magento-engcom-team commented on #10752
@eldrickalbers thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details regarding your environment, or try to reproduce this
issue on a clean installation.