[2020-03-19 16:34] hostep commented on #27039
Hmm strange, if async email sending is disabled, doesn't it mark the order emails as send when it sends them out?

And what if you have disabled both the general email sending and the async email sending. If you then enable both again, you maybe want to have those old pending emails sending out again.
I realise this is a strange case, but maybe there are more valid cases.

Therefore an opinion fro

[2020-03-19 16:51] slavvka commented on #26499
@alena-marchenko Could you please answer?

[2020-03-19 16:54] Fifciu commented on #24233
I have same problem on Magento 2.3.4 Open Source. I am using Magento2 only via Rest API as my backend for PWA

[2020-03-19 17:01] stephan-cream commented on #27330
Updated my initial post with an additional scenario and information after some more debugging.

[2020-03-19 17:29] trucatchtraps commented on #10304
Been experiencing this same issue forever and now still not fixed in 2.3.4. You should be able to order Out of Stock products when you allow Backorders. It is very confusing to our customers when the product shows In Stock but yet it will be backordered.

[2020-03-19 17:50] starlyns commented on #27244
Ok for the rest of us not geniuses. How to delete product attributes that can't be deleted from the admin side?

[2020-03-19 18:33] brandon1310 commented on #27235
Hi Magento,

Is it possible to get an update on this? We've just had this issue on our 2.3.4 site coupled with Varnish and has caused major issues.

Thanks,
Brandon

[2020-03-19 18:49] VivekM296 commented on #26039
Moving this line above foreach not working for me. Is the only fix ??

[2020-03-19 18:59] jordanvector commented on #5847
Still an issue on Magento 2.3.4 EE multi store setup.  Exact same issues reported here:

[2020-03-19 18:35:44] report.ERROR: No such entity with cartId = 2433484 {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): No such entity with cartId = 2433484 at /app/7alebf6ygqtlm/vendor/magento/framework/Exception/NoSuchEntityException.php:50)"} []

[2020-03-19 19:07] nwmagento commented on #27317
@magento give me 2.4-develop instance

[2020-03-19 19:07] magento-engcom-team commented on #27317
Hi @nwmagento. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 19:08] magento-engcom-team commented on #27317
Hi @nwmagento, here is your [Magento instance](https://i-27317-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27317-2-4-develop.instances.magento-community.engineering/admin_0cce](https://i-27317-2-4-develop.instances.magento-community.engineering/admin_0cce)
Login: `10b8d7f7` Password: `3d2a5af65884`
Instance will be terminated in up to 3 hours.

[2020-03-19 19:22] sdzhepa commented on #27317
@magento give me 2.4-develop instance

[2020-03-19 19:22] magento-engcom-team commented on #27317
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 19:23] magento-engcom-team commented on #27317
Hi @sdzhepa, here is your [Magento instance](https://i-27317-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27317-2-4-develop.instances.magento-community.engineering/admin_7aa2](https://i-27317-2-4-develop.instances.magento-community.engineering/admin_7aa2)
Login: `487330f3` Password: `abbe9c7af788`
Instance will be terminated in up to 3 hours.

[2020-03-19 20:57] ebanolopes commented on #11516
Hello, guys. Me and @gabrielonbi developed a workaround for this. It's very simple. Do the modification on an existing module or [create a new one ](https://devdocs.magento.com/videos/fundamentals/create-a-new-module/).

Create the XML file with below content. This will make product form do not reload on attribute set change.

view/adminhtml/ui_component/product_form.xml

[code]

Now we'll create

[2020-03-19 22:06] EmilsM opened #27366 "Discount Amount not set for Quote Items"
### Preconditions (*)

1. Magento Community 2.3.3

### Steps to reproduce (*)

1. Create a simple product, add it to a category, enable it and set it to be in stock
2. Add a special price to the product
3. Go to the frontend, find the product and add it to the cart

### Expected result (*)

1. In cart summary, to show a "Discount" field with the discount amount

### Actual result (*)

1. It assume

[2020-03-19 22:07] EmilsM commented on #27366
@magento give me 2.4-develop instance

[2020-03-19 22:08] magento-engcom-team commented on #27366
Hi @EmilsM. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 22:08] magento-engcom-team commented on #27366
Hi @EmilsM, here is your [Magento instance](https://i-27366-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27366-2-4-develop.instances.magento-community.engineering/admin_a5fc](https://i-27366-2-4-develop.instances.magento-community.engineering/admin_a5fc)
Login: `520c3016` Password: `96a6ffa7a9c7`
Instance will be terminated in up to 3 hours.

[2020-03-19 22:17] EmilsM commented on #27366
Confirmed to be an issue on 2.3.3 and 2.4.x.

[2020-03-19 22:22] perffectolt opened #27367 "Magento 2.2.8 CE - Checkout Issue - Invalid state change requested - Customer getting emails about new order, but orders not creating in admin"
### Preconditions (*)
1. Magento 2.2.8 CE
2. Apache 2.4
3. Mysql 5.7
4. REDIS and Varnish
5. Persistence cart enabled

### Steps to reproduce (*)

1. I am doing quick checkout as guest
2. Using bank transfer payment

### Expected result (*)
1. Success on creating order in admin.
2.

### Actual result (*)

1. When client trying to push CHECKOUT button, he is getting error "Invalid state change requ

[2020-03-20 00:09] aligent-lturner commented on #27366
I don't think this is an issue. The discount amounts are used for promotions (e.g. cart price rules), and are subtracted from the price of the item, which in this case would be the special price.
For example, in this screenshot:
![image](https://user-images.githubusercontent.com/40189797/77125802-e94d0900-6a96-11ea-8881-4eb3c01754a5.png)

The product has a price of $29.99, and a special price of $

[2020-03-20 00:29] diamondavocado commented on #10454
@engcom-Charlie Why close this issue instead of seeking clarification? This is still a problem in 2.4! This is the kind of thing making me really hate Magento.

[2020-03-20 00:33] diamondavocado commented on #15047
This is not a duplicate of that issue. That issue was closed because they didn't try reproducing it correctly. They tried on a product with more than one configurable attributes. They need to try on a product with **only a single configurable attribute** -- as the very title of this issue says!

I can't be the only one thinking this is absolute madness.

I truly do hate Magento.

[2020-03-20 00:41] diamondavocado opened #27368 "Github issues were incorrectly closed and need to be re-opened"
Posting this here because there's no other visible way to provide feedback or to contact the "moderators" of this repository.

Two issues have been incorrectly closed and at least one of them needs to be re-opened as they are still valid bugs in Magento 2.4:

1. https://github.com/magento/magento2/issues/10454 was closed because @engcom-Charlie could not reproduce the issue. However the issue is s

[2020-03-20 04:44] krishprakash commented on #27318
@magento give me 2.4-develop instance

[2020-03-20 04:44] magento-engcom-team commented on #27318
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-20 04:45] magento-engcom-team commented on #27318
Hi @krishprakash, here is your [Magento instance](https://i-27318-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27318-2-4-develop.instances.magento-community.engineering/admin_fed8](https://i-27318-2-4-develop.instances.magento-community.engineering/admin_fed8)
Login: `2e6348df` Password: `20670f5a88cf`
Instance will be terminated in up to 3 hours.

[2020-03-20 05:03] krishprakash commented on #27318
Hi @sprankhub. Not able to reproduce the issue as provided steps by you
Kindly provide more details to reproduce this issue
Thanks

[2020-03-20 05:07] magento-engcom-team commented on #27335
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32606` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-20 05:36] Ckaneriya commented on #26840
@sjb9774 We are getting the same 500 error while placing an order with the payflow pro credit card payment method. will the patch which you mentioned help solve our issue?

We are using Magento 2.3.1

It seems that we are getting 500 error in google chrome only. we are able to place the order in firefox successfully without any issues.

[2020-03-20 05:39] ajijshekh123 commented on #27351
Hi @vbyno,
I have reviewed this issue in Magento 2.3 Instance. Sometimes, Discount amount is properly displayed in cart page but the checkout page wrong discount amount is displayed.
In the Admin section, the wrong discount is displayed.
See attached the screenshot:
**FrontEnd:**

![Cart_AfterloadingTime](https://user-images.githubusercontent.com/24711761/77139221-24e9d200-6a9b-11ea-89cf-c15efe2b0

[2020-03-20 05:53] ajijshekh123 commented on #27350
Hi @webkul-ajaysaini
I have reviewed this issue as per your scenario. This is not an issue But if admin wants to create an invoice bundle product list should be displayed after generating the invoice block. Now the Product list is not displayed properly.

**See attached screenshot:**
**Before Generate Invoice:**

![Invoice_Bundle Product](https://user-images.githubusercontent.com/24711761/77139700

[2020-03-20 06:06] krishprakash commented on #27366
Hi @EmilsM. Thank you for your report.
This is default magento behavior and not an issue. Discount should display once you apply cart price rule. You can see the discounted price in product view page

[2020-03-20 06:06] #27366 closed, assigned to krishprakash

[2020-03-20 06:12] ajijshekh123 commented on #27329
Hi @PurushothamanKrishnamoorthy,
I have reproduced this issue as per your steps and video.
Thanks.

[2020-03-20 06:25] mohanelamurugan commented on #27361
So what's expected behaviour ?
To have only the X Left displayed even when the Inventory is Negative.
(Or)
The product listed as Out of Stock but still to be able to order the products with Backorders allowed.

[2020-03-20 07:11] ihor-sviziev commented on #27355
@magento give me 2.4-develop instance

[2020-03-20 07:11] magento-engcom-team commented on #27355
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-20 07:12] magento-engcom-team commented on #27355
Hi @ihor-sviziev, here is your [Magento instance](https://i-27355-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27355-2-4-develop.instances.magento-community.engineering/admin_1b4f](https://i-27355-2-4-develop.instances.magento-community.engineering/admin_1b4f)
Login: `817f9294` Password: `e5c0db9f4785`
Instance will be terminated in up to 3 hours.

[2020-03-20 07:31] ihor-sviziev commented on #27355
Just updated issue description and added screenshot of reproducing this issue on test instance, to make issue more clear.

[2020-03-20 09:13] ajijshekh123 commented on #27351
@magento give me 2.4-develop instance

[2020-03-20 09:13] magento-engcom-team commented on #27351
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-20 09:14] magento-engcom-team commented on #27351
Hi @ajijshekh123, here is your [Magento instance](https://i-27351-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27351-2-4-develop.instances.magento-community.engineering/admin_5c08](https://i-27351-2-4-develop.instances.magento-community.engineering/admin_5c08)
Login: `8953caeb` Password: `6b4d59b84e0c`
Instance will be terminated in up to 3 hours.

[2020-03-20 09:26] ajijshekh123 commented on #27350
See attached Magento 2.4 Instance screenshot:

![2 4 Invoice Issue](https://user-images.githubusercontent.com/24711761/77150889-dd733e00-6aba-11ea-8f6a-6c06676cb540.jpg)

[2020-03-20 09:29] ajijshekh123 commented on #27351
@vbyno - Issue not reproduced in the Latest Magento 2.4 Instance.
See attached the screenshot:

![2 4 Discount issue](https://user-images.githubusercontent.com/24711761/77151169-67230b80-6abb-11ea-8c82-4a6b26dc6103.jpg)

![2 4 Discount issue_FrontEnd](https://user-images.githubusercontent.com/24711761/77151172-68543880-6abb-11ea-9e73-bf2c9a69df56.jpg)

Thanks.

[2020-03-20 10:19] renard123 opened #27370 "Internet explorer issue:Default billing/shipping address not showing"
Internet explorer issue:Default billing/shipping address not showing

### Preconditions (*)
Magento: 2.3.3

### Steps to reproduce (*)
Admin -> Customers -> Edit any customers -> Addresses

### Expected result (*)
It should display

### Actual result (*)
Billing/shipping address not showing

[2020-03-20 10:31] krishprakash commented on #27370
@magento give me 2.4-develop instance

[2020-03-20 10:31] magento-engcom-team commented on #27370
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-20 10:31] magento-engcom-team commented on #27370
Hi @krishprakash, here is your [Magento instance](https://i-27370-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27370-2-4-develop.instances.magento-community.engineering/admin_e87a](https://i-27370-2-4-develop.instances.magento-community.engineering/admin_e87a)
Login: `cc97e135` Password: `54e9d883ebe7`
Instance will be terminated in up to 3 hours.

[2020-03-20 10:39] magento-engcom-team commented on #27370
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32611` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-20 10:41] krishprakash commented on #27370
Reproduced on Internet Explorer 11:

![image](https://user-images.githubusercontent.com/46617848/77156433-5e373780-6ac5-11ea-82b4-a60318d2dff3.png)

[2020-03-20 11:01] prateek-karanpuria commented on #26573
Enable the **Dotdigitalgroup_Email** module & then run setup upgrade fixes the issue. Afterwards we can again disable the module if required.

[2020-03-20 11:36] vbyno commented on #27351
Thank you , @ajijshekh123!
I was trying to check how the combination of the rules works on that 2.4 instance. It seems to me, it works incorrect. Could you please elaborate?
Steps:
1) In addition to the $1 discount for whole order (created by you), I've created a new one 10% discount rule
![image](https://user-images.githubusercontent.com/2923624/77160069-42c13200-6aaf-11ea-91cf-52ed4444f543.png)

[2020-03-20 12:21] navarr commented on #27253
This issue is fixed in Vertex 3.4.0 which will be released with Magento 2.3.5

[2020-03-20 12:55] LiamKarlMitchell opened #27372 "Customer Admin Grid Select all and Delete is not working properly only deletes 20 visible."
Magento 2.3.2
Not sure if relevant but.

### Preconditions (*)
1. Mailchimp exension?
2. Weltpixel Theme?

### Steps to reproduce (*)
1. Get hit with lots of chinese spam customers/subscribers.
2. Reindex and run Cron to see them in backend grid.
3. Use a filter like email qq.com

### Expected result (*)
Delete all the selected accounts.

### Actual result (*)
Only deletes 20 at a time...

![image

[2020-03-20 12:56] LiamKarlMitchell commented on #27372
Can I have DB access to a 2.3-develop instance to add so many spam customers in bulk if required to reproduce?

[2020-03-20 13:34] rparsi-boxycharm commented on #26573
Or, as others have mentioned, magento can stop including crapware modules in their releases.

[2020-03-20 14:28] sudheers-kensium commented on #27372
@magento give me 2.4-develop instance

[2020-03-20 14:28] magento-engcom-team commented on #27372
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-20 14:29] magento-engcom-team commented on #27372
Hi @sudheers-kensium, here is your [Magento instance](https://i-27372-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27372-2-4-develop.instances.magento-community.engineering/admin_878f](https://i-27372-2-4-develop.instances.magento-community.engineering/admin_878f)
Login: `5651ed1b` Password: `66181552122e`
Instance will be terminated in up to 3 hours.

[2020-03-20 14:40] nelero commented on #9609
Hi,
no it's not closed in 2.3.4.
16 fields limit

[2020-03-20 14:47] sudheers-kensium commented on #27372
@LiamKarlMitchell I have created multiple products and deleted from product grid. I am able deleted all items with out any issue. This issue is resolved latest version.

[2020-03-20 14:57] sudheers-kensium commented on #27372
Please check below to resolve this issue.
![image](https://user-images.githubusercontent.com/50358141/77175739-17f3cf80-6ae9-11ea-9f17-52ef18004509.png)

[2020-03-20 14:59] #27372 closed, assigned to sudheers-kensium

[2020-03-20 16:00] jsdupuis commented on #25927
Problem solved. They are discontinuing this extension...
https://docs.magento.com/m2/ee/user_guide/sales-channels/google-ads/google-eol.html

[2020-03-20 16:07] vasilii-b commented on #27370
I'll have a look on it

[2020-03-20 19:26] wbyrnetx commented on #5847
This is also happening for us on Magento 2.2.3. I was able to log a full stack trace of one of the occurrences.

[code]

The issue is coming from
vendor/magento/module-paypal/Model/Payflow/Service/Response/Transaction.php

It appears that this is the problematic line of code
[code]

getQuoteId is returning NULL
![Screen Shot 2020-03-20 at 2 25 20 PM](https://user-images.githubusercontent.com/40294

[2020-03-21 02:55] magento-engcom-team commented on #26708
Hi @Usik2203. Thank you for your report.
The issue has been fixed in magento/magento2#27263 by @vasilii-b in 2.4-develop branch
Related commit(s):
 - [1e1ebd3a9ee69038841f41ebe8771b6a1fa700d6](https://github.com/magento/magento2/commit/1e1ebd3a9ee69038841f41ebe8771b6a1fa700d6)
 - [df35ddac0dacf30be6547a7cbad113c3ed6ed3fc](https://github.com/magento/magento2/commit/df35ddac0dacf30be6547a7cbad113c3e

[2020-03-21 02:55] #26708 closed, assigned to nobody

[2020-03-21 02:56] #14080 closed, assigned to sergiy-v

[2020-03-21 02:57] #26745 closed, assigned to antoninobonumore

[2020-03-21 03:26] KiuNguyen opened #27380 "Customer can place order simple product which has visibility: Not Visible Individually"
### Preconditions (*)

1. Magento 2.3.4, Magento 2.4-develop
2. A simple product which has visibility: Catalog, Search

### Steps to reproduce (*)

1. Login customer
2. Go to the product page, add to cart a simple product
3. Logout
4. Go to admin, change product visibility: Not Visible Individually
5. Login customer again, go to shopping cart

### Expected result (*)

1. When customer go to the sh

[2020-03-21 03:27] KiuNguyen commented on #27380
@magento I am working on it

[2020-03-21 03:30] KiuNguyen commented on #27380
@magento give me 2.4-develop instance

[2020-03-21 03:30] magento-engcom-team commented on #27380
Hi @KiuNguyen. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-21 03:31] magento-engcom-team commented on #27380
Hi @KiuNguyen, here is your [Magento instance](https://i-27380-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27380-2-4-develop.instances.magento-community.engineering/admin_1814](https://i-27380-2-4-develop.instances.magento-community.engineering/admin_1814)
Login: `0c388c06` Password: `5a5faf262964`
Instance will be terminated in up to 3 hours.

[2020-03-21 04:26] baranada commented on #13983
I confirm this problem exists on 2.4-develop branch.
I started importing the [product_fr.csv](https://github.com/magento/magento2/files/4138034/product_fr.csv.txt) to second website after changing txt extension to csv, and modifying csv store content to matching my store.
Product importing went success. but there were two problems.

1. the product doesn't created any custom options.
2. the product

[2020-03-21 06:24] Ckaneriya commented on #26840
- https://github.com/magento/magento2/commit/abdb45844fd3862a8a2f852fb34d35cc0e958829
- https://github.com/magento/magento2/commit/8ed20d151301484271b03755006e203e80ef76eb
- https://github.com/magento/magento2/commit/8211eb79022e2167dad38349c63bb9c36279e34d
- https://github.com/magento/magento2/commit/6d6af36f4fb31dfe7f585061d34332ed0819fe1a
- https://github.com/magento/magento2/commit/45b9e193ddd

[2020-03-21 08:23] hostep commented on #26840
@Ckaneriya, in theory you would need all commits. But you can also use this merge commit: https://github.com/magento/magento2/commit/b6b38d54a58dbabc562bd66c14167d44f7778fd7, which is a combination of those 5 commits.

@magento-engcom-team would better post merge commits instead of individual commits, it's easier to create patches from like that 😉

[2020-03-21 09:05] Ckaneriya commented on #26840
@hostep Thaks for the reply.

Is this patch compatible with Magento v2.3.1?

[2020-03-21 09:43] LiamKarlMitchell commented on #27372
Hi @sudheers-kensium , its to do with customer accounts just thought it may have been related to the issue regarding products.

[2020-03-21 10:22] hostep commented on #26840
@Ckaneriya: I have no idea, you should try it 🙂, we don't use the paypal module of Magento ...

If the patch doesn't apply cleanly on 2.3.1, I recommend to clone the Magento 2 repo, checkout the 2.3.1 tag, and cherry pick the 5 commits mentioned above and resolve merge conflicts (should they occur), after that, you should be able to create a patch from the diff between 2.3.1 and your current git r

[2020-03-21 10:53] niravkrish commented on #27153
@magento give me 2.4-develop instance

[2020-03-21 10:53] magento-engcom-team commented on #27153
Hi @niravkrish. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-21 10:54] magento-engcom-team commented on #27153
Hi @niravkrish, here is your [Magento instance](https://i-27153-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27153-2-4-develop.instances.magento-community.engineering/admin_b4fb](https://i-27153-2-4-develop.instances.magento-community.engineering/admin_b4fb)
Login: `04d81c91` Password: `c4a42310efa5`
Instance will be terminated in up to 3 hours.

[2020-03-21 11:00] jamie-selesti commented on #15545
Does anyone know if this issue has been resolved in 2.3.4?

[2020-03-21 14:01] bernd-reindl commented on #26940
Hi @GDauer,

i have found a solution.

in Magento\Catalog\Model\ResourceModel\Product
in function getCategoryCollection()
the store ID from product is not set for category collection. So the returned categoies return url_key and url_path from selected store in the backend view. Not the store for whitch the url rewrite is generated.

So i have changed the code like this:
[code]

The second problem

[2020-03-21 14:37] hostep commented on #26940
@bernd-reindl: that last fix you mentioned is finally being added to the Magento core, it has been a bug since Magento2 got released, but they finally accepted the fix in https://github.com/magento/magento2/pull/26784
This fix will be included in Magento 2.4.0, but hopefully as well in Magento 2.3.5 or 2.3.6, but I'm not sure about that...

[2020-03-21 16:10] farrukhk commented on #26840
Will it work for 2.3.3?

[2020-03-21 16:39] vasilii-b commented on #27370
@magento give me 2.4-develop instance

[2020-03-21 16:39] magento-engcom-team commented on #27370
Hi @vasilii-b. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-21 16:40] magento-engcom-team commented on #27370
Hi @vasilii-b, here is your [Magento instance](https://i-27370-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27370-2-4-develop.instances.magento-community.engineering/admin_87dd](https://i-27370-2-4-develop.instances.magento-community.engineering/admin_87dd)
Login: `a53fd68c` Password: `063f8373fa7d`
Instance will be terminated in up to 3 hours.

[2020-03-21 16:54] vasilii-b commented on #27370
The issue has been reproduced and it seems the problem is in the KO, specifically in
https://github.com/magento/magento2/blob/a95a465a0acd43d4b5b1d2b9644b170145b90f3c/app/code/Magento/Customer/view/adminhtml/web/template/default-address.html#L23

I'll work on a PR for this.

[2020-03-21 22:34] an4rei commented on #27326
@magento give me 2.4-develop instance

[2020-03-21 22:34] magento-engcom-team commented on #27326
Hi @an4rei. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-21 22:34] magento-engcom-team commented on #27326
Hi @an4rei, here is your [Magento instance](https://i-27326-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27326-2-4-develop.instances.magento-community.engineering/admin_3eaf](https://i-27326-2-4-develop.instances.magento-community.engineering/admin_3eaf)
Login: `f5be0319` Password: `4427ac757ac9`
Instance will be terminated in up to 3 hours.

[2020-03-21 23:35] gioamato commented on #25561
The issue appears to be solved from 2.3.4

[2020-03-21 23:35] #25561 closed, assigned to nobody

[2020-03-22 01:02] jeredmilla commented on #4866
Is there solution for this?

[2020-03-22 08:13] cmacdonald-au commented on #19597
@kurtinge @davidalger either of you feel like taking this one on?
ref: https://github.com/magento/devdocs/pull/6855#issuecomment-599291562 - that PR draft will likely get canned as I have SFA chance of getting the CLA processed within the next few months....

pleeease :)

[2020-03-22 09:11] kunjesh commented on #26465
Hello @afavata
I had installed mysql version 8.0.x and the same issue I have faced. But when I uninstalled mysql 8.0.x and reinstalled mysql version 5.7.28, than patch was easily installed. So its an issue with mysql version.

[2020-03-22 09:27] IvanChepurnyi commented on #25862
That solution looks like not completely fixes a problem, as sales rule usage update still potentially causes deadlock under high load when a lot of concurrent orders are placed at the same time. The only way to fix this problem is by introducing the append-only event log of sales rule counter adjustment log and using cronjob to update sales rule table.

[2020-03-22 10:08] Jilco opened #27389 "Magento 2.3.4 decimals in wishlist not showing"
### Preconditions (*)

1.  Magento 2.3.4

### Steps to reproduce (*)

1.  Go to product and make quantity 1,3
2.  Add product to wishlist

### Expected result (*)

1. Wishlist item qty 1,3

### Actual result (*)

1. Wishlist item qty 1

[2020-03-22 10:09] Jilco commented on #27389
@magento give me 2.3.4 instance

[2020-03-22 10:09] magento-engcom-team commented on #27389
Hi @Jilco. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-22 10:10] magento-engcom-team commented on #27389
Hi @Jilco, here is your [Magento instance](https://i-27389-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27389-2-3-4.instances.magento-community.engineering/admin_4fa6](https://i-27389-2-3-4.instances.magento-community.engineering/admin_4fa6)
Login: `03bbba4d` Password: `883a0b5457cc`
Instance will be terminated in up to 3 hours.

[2020-03-22 10:11] chamarts commented on #20309
whats temporary fix for this ?

[2020-03-22 12:36] romeof1980 commented on #10479
same problem with 2.3.4 vanilla installation. `main.DEBUG: Request validation failed for action "Magento\Downloadable\Controller\Adminhtml\Downloadable\File\Upload\Interceptor"`

[2020-03-22 13:19] Jilco commented on #27389
Figured out that it was in a custom module

[2020-03-22 13:19] #27389 closed, assigned to nobody

[2020-03-22 15:34] sivaschenko commented on #6401
@drew7721 the problem is that child products affect parent product representation while parent products do not affect child products representation on the frontend, so in order to be sure that the cache is valid - the cache of pages with parent products should be invalidated when a child product is changed.

[2020-03-22 16:59] shikhamis11 commented on #27341
@magento give me 2.4-develop instance

[2020-03-22 16:59] magento-engcom-team commented on #27341
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-22 16:59] magento-engcom-team commented on #27341
Hi @shikhamis11, here is your [Magento instance](https://i-27341-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27341-2-4-develop.instances.magento-community.engineering/admin_fb87](https://i-27341-2-4-develop.instances.magento-community.engineering/admin_fb87)
Login: `d3811792` Password: `752a85865d4e`
Instance will be terminated in up to 3 hours.

[2020-03-22 17:19] magento-engcom-team commented on #27341
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32636` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-22 19:16] anotte commented on #13765
Me too, version 2.3.0

[2020-03-22 20:20] bcok22 commented on #27027
overwrite

vendor/magento/module-customer/view/frontend/web/js/validation.js in your theme

and change

return moment(value, ["dd.MM.Y"]).isBefore(moment());

to

return moment(value, ["MM.dd.Y"]).isBefore(moment());

[2020-03-23 03:50] mrmurray commented on #24135
Please can we get an update on this?

[2020-03-23 04:41] ajijshekh123 commented on #27326
@magento give me 2.4-develop instance

[2020-03-23 04:41] magento-engcom-team commented on #27326
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-23 04:41] magento-engcom-team commented on #27326
Hi @ajijshekh123, here is your [Magento instance](https://i-27326-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27326-2-4-develop.instances.magento-community.engineering/admin_194b](https://i-27326-2-4-develop.instances.magento-community.engineering/admin_194b)
Login: `fc0c55d6` Password: `da5064df8f37`
Instance will be terminated in up to 3 hours.

[2020-03-23 04:45] ajijshekh123 opened #27394 "Maximum Qty Allowed in Shopping Cart"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-23 04:45] #27394 closed, assigned to nobody

[2020-03-23 05:11] ajijshekh123 commented on #27326
Hello @an4rei ,
I have verified this issue in the Latest Magento 2.4 Instance but not able to reproduce this issue in different scenario.
This issue may be related to the 2.3 Magento Instance.
**Please verify the below attached the video:**

![MagentoIssue](https://user-images.githubusercontent.com/24711761/77283577-b3a45c00-6cf2-11ea-8917-ad1b98fede0d.gif)

Thanks.

[2020-03-23 05:14] ajijshekh123 commented on #27326
@an4rei - Please update your thought and verify this issue on latest Magento Instance.

[2020-03-23 07:11] borriglione opened #27395 "Custom attribute convert from quote_item to order_item is not working"
### Preconditions (*)

1. Latest Magento Version 2.3.4

### Steps to reproduce (*)

1. Create a custom module with a new attribute "remark" to product, quote_item and order_item - table
2. app/code/MyVendor/MyModule/etc/module.xml

[code]

3. app/code/MyVendor/MyModule/etc/catalog_attributes.xml

[code]

4. app/code/MyVendor/MyModule/etc/extension_attributes.xml

[code]

5. app/code/MyVendor/MyMod

[2020-03-23 07:25] ihor-sviziev commented on #27368
@diamondavocado thank you so much for raising these issues again!
In both cases author of the issue should be able to re-open the issue if he/she not agree with person who tested it.

Were you able to reproduce this issue on test instance?
Will you be able to update this issue description with all needed details? Also I believe it's really hard to understand issue without screenshots / video. Will

[2020-03-23 07:44] ihor-sviziev commented on #15047
@magento give me 2.4-develop instance

[2020-03-23 07:44] magento-engcom-team commented on #15047
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-23 07:45] magento-engcom-team commented on #15047
Hi @ihor-sviziev, here is your [Magento instance](https://i-15047-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-15047-2-4-develop.instances.magento-community.engineering/admin_4385](https://i-15047-2-4-develop.instances.magento-community.engineering/admin_4385)
Login: `f5a9c1e7` Password: `1902a5ba424d`
Instance will be terminated in up to 3 hours.

[2020-03-23 07:45] ihor-sviziev commented on #15047
Re-opening because of https://github.com/magento/magento2/issues/27368

[2020-03-23 08:07] ihor-sviziev commented on #15047
Hi @kinhcan @diamondavocado,
I just created configurable product with single attribute on test instance: https://i-15047-2-4-develop.instances.magento-community.engineering/ .

On category page configurable product is shown:
![image](https://user-images.githubusercontent.com/1873745/77294058-38d84280-6cec-11ea-8b10-53c4c6de79c7.png)

On product page:
![image](https://user-images.githubusercontent.

[2020-03-23 08:08] ihor-sviziev commented on #27368
@diamondavocado I've re-opened https://github.com/magento/magento2/issues/15047 and tried to reproduce it. Seems like this is expected result how it works right now.

Could you review my comment https://github.com/magento/magento2/issues/15047#issuecomment-602444182 and give your feedback?

I'm closing this issue.

[2020-03-23 08:08] #27368 closed, assigned to ihor-sviziev

[2020-03-23 08:52] Jilco opened #27396 "Magento 2.3.4 ad item to wishlist with default value below 1"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Add product with default value 0,5 (eg. meters) - Minimum Qty Allowed in Shopping Cart
2. Log in with account in frontend
3. Go to product and add to wishlist

### Expected result (*)

1.  Quantity in wishlist is 0,5

### Actual result (*)

1. Quantity in wishlist is 1

![stap1](https://user-images.githubusercontent.com/237271

[2020-03-23 08:53] Jilco commented on #27396
@magento give me 2.3.4 instance

[2020-03-23 08:53] magento-engcom-team commented on #27396
Hi @Jilco. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-23 08:54] magento-engcom-team commented on #27396
Hi @Jilco, here is your [Magento instance](https://i-27396-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27396-2-3-4.instances.magento-community.engineering/admin_a0e6](https://i-27396-2-3-4.instances.magento-community.engineering/admin_a0e6)
Login: `12cce795` Password: `165098b0d860`
Instance will be terminated in up to 3 hours.

[2020-03-23 09:00] Jilco commented on #27396
Reproduced
![stap1](https://user-images.githubusercontent.com/23727130/77299640-14309a80-6ced-11ea-9fbe-f776da482874.jpg)
![stap2](https://user-images.githubusercontent.com/23727130/77299661-1a267b80-6ced-11ea-8f0c-307951aa9751.jpg)

[2020-03-23 09:00] MellenIO opened #27397 "Creating custom widget instance validation is weird due to controller type mismatch"
### Summary (*)
See this line of code:

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Widget/Controller/Adminhtml/Widget/Instance/Validate.php#L22

The function `\Magento\Widget\Model\Widget\Instance::validate()` is type hinted to return either a `\Magento\Framework\Phrase` or a `bool`
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Widget/Model/Widget

[2020-03-23 09:05] Jilco commented on #27396
Also when adjusting default value to 1,5 a amount lower than 1,5 is not in wishlist, like 1,2
![stap3](https://user-images.githubusercontent.com/23727130/77300077-c36d7180-6ced-11ea-8ff1-90d80e49fb3c.jpg)
![stap4](https://user-images.githubusercontent.com/23727130/77300087-c700f880-6ced-11ea-8dfa-59359579ce65.jpg)

[2020-03-23 09:11] nuzil commented on #26815
Hi @Ian410 , thanks for info.
I'm closing this issue then.

[2020-03-23 09:11] #26815 closed, assigned to nuzil

[2020-03-23 09:33] magento-engcom-team commented on #27396
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32643` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-23 10:12] VZeroCool commented on #23052
Any update on this ? I'm facing same issue with 2.3.3 @ioweb-gr @magento-engcom-team
Any patches instead of upgrade our application ?

[2020-03-23 10:54] ioweb-gr commented on #23052
@VZeroCool unfortunately the magento patches didn't work for me either. I ended up staying on the original code sample I put up in the OP for a while.

[2020-03-23 10:57] kiennt1989 commented on #27161
Hi @borriglione
I think this issue is false case testing. relate to :
https://github.com/magento/magento2/issues/12493

[2020-03-23 11:03] krishprakash commented on #27380
@magento give me 2.4-develop instance

[2020-03-23 11:03] magento-engcom-team commented on #27380
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-23 11:04] magento-engcom-team commented on #27380
Hi @krishprakash, here is your [Magento instance](https://i-27380-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27380-2-4-develop.instances.magento-community.engineering/admin_df70](https://i-27380-2-4-develop.instances.magento-community.engineering/admin_df70)
Login: `7796c9c5` Password: `b48f1e615456`
Instance will be terminated in up to 3 hours.

[2020-03-23 11:07] nikosgram commented on #11897
Still exists on 2.3.3.

[2020-03-23 11:40] magento-mangum-wlc opened #27400 "Order email preview does not trigger set_template_vars_before events"
### Preconditions (*)

1. Magento version 2.3.1

### Steps to reproduce (*)

1. Create email template in the admin panel for "New Shipment"
2. Attach custom observer for email_shipment_set_template_vars_before
3. In the observer set some variable on transportObject
4. Change shipment_new.html in custom theme  to display this variable
5. Preview the shipment template email in the admin panel

### E

[2020-03-23 11:44] #26408 closed, assigned to krishprakash, engcom-Bravo

[2020-03-23 11:48] engcom-Bravo commented on #26353
@candls2017 We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

Thank you for collaboration

[2020-03-23 11:48] #26353 closed, assigned to engcom-Bravo

[2020-03-23 12:15] Aquarvin commented on #27305
I can confirm the issue is not reproducible at least Magento 2.3.4 cloud
![image](https://user-images.githubusercontent.com/6350153/77315753-c3329d80-6d10-11ea-895a-f584acbf2b2d.png)

[2020-03-23 12:25] konarshankar07 commented on #23729
@magento give me 2.3-develop instance

[2020-03-23 12:25] magento-engcom-team commented on #23729
Hi @konarshankar07. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-03-23 12:31] engcom-Bravo commented on #26709
I could easily reproduce the issue on the latest 2.4-develop
![youtube_video_26709](https://user-images.githubusercontent.com/51680745/77316818-bfa01600-6d12-11ea-8d1c-52623150ef46.gif)

Seems like there is no _Play_ on the video

[2020-03-23 12:31] magento-engcom-team commented on #26709
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32647` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-23 12:59] engcom-Bravo commented on #26156
Rechecked this issue on 2.4-develop
Still reproducible
![26156_banner](https://user-images.githubusercontent.com/51680745/77318999-b749da00-6d16-11ea-978f-fa602a6fe7fd.gif)

[2020-03-23 13:09] engcom-Bravo commented on #26156
Still reproducible on 2.4-develop
![26156_banner_1](https://user-images.githubusercontent.com/51680745/77319836-31c72980-6d18-11ea-9f87-e81cf346304d.gif)

[2020-03-23 13:09] arjundedha commented on #26288
https://minequotes.com/strong-women-quotes/

[2020-03-23 13:13] magento-engcom-team commented on #26156
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32649` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-23 13:24] arptg opened #27401 "Category Page Sorting does not work if a custom block uses Magento\Catalog\Block\Product\ListProduct.php"
### Preconditions (*)
1. Magento2.3.4
2. Magento 2.4-develop

### Steps to reproduce (*)
1. Add a custom block which uses or extends Magento\Catalog\Block\Product\ListProduct.php.
2. For the template get all the products using $block->getLoadedProductCollection();

- layout - catalog_category_view.xml

[code]

- contents of the block file.

[code]

### Expected result (*)
1. Product Sorting in cat

[2020-03-23 13:34] trucatchtraps commented on #27361
Ideally either or both would work, which let the customer know that the product is Out of Stock and more will need to be produced/procured before shipment.

[2020-03-23 14:02] #27171 closed, assigned to AnnaShepa, surelockrich

[2020-03-23 14:04] AnnaShepa commented on #27305
@magento give me 2.4-develop instance

[2020-03-23 14:04] magento-engcom-team commented on #27305
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-23 14:05] magento-engcom-team commented on #27305
Hi @AnnaShepa, here is your [Magento instance](https://i-27305-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27305-2-4-develop.instances.magento-community.engineering/admin_9800](https://i-27305-2-4-develop.instances.magento-community.engineering/admin_9800)
Login: `c27d7235` Password: `13bc563ea6aa`
Instance will be terminated in up to 3 hours.

[2020-03-23 14:36] AnnaShepa commented on #27305
On 2.4 it is not reproducible as well

[2020-03-23 14:36] #27305 closed, assigned to nobody

[2020-03-23 14:48] magento-engcom-team commented on #27401
Hi @arptg. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-23 14:48] magento-engcom-team commented on #27401
Hi @arptg. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-23 14:48] magento-engcom-team commented on #27401
Hi @arptg, here is your [Magento instance](https://i-27401-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27401-2-4-develop.instances.magento-community.engineering/admin_5019](https://i-27401-2-4-develop.instances.magento-community.engineering/admin_5019)
Login: `2c66b51b` Password: `b2982b704e5e`
Instance will be terminated in up to 3 hours.

[2020-03-23 15:55] vbyno opened #27402 "`/V1/inventory/stock-source-links` API endpoint requires `ALL` Resource Access"
Magento 2.3.1

### Summary (*)
`GET /V1/inventory/stock-source-links` REST endpoint is not allowed by `Catalog` or `Stores` permissions.

### Examples (*)
Here is the set of permissions I have:
![image](https://user-images.githubusercontent.com/2923624/77335353-b3c24d00-6d2e-11ea-84c8-b267bea3b071.png)

On retreiving the endpoint `GET /V1/inventory/stock-source-links` I'm getting this exception:
[

[2020-03-23 15:55] #27052 closed, assigned to nobody

[2020-03-23 17:23] yhummi opened #27403 "Magento"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2020-03-23 17:26] yhummi opened #27404 "Read guide"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2020-03-23 18:11] sdzhepa opened #27405 "[TEST ISSUE] do not process.BugReport"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-23 18:22] #27405 closed, assigned to nobody

[2020-03-23 18:22] engcom-tester opened #27406 "[TEST ISSUE] do not process.BugReport"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-23 18:23] magento-engcom-team commented on #27406
:white_check_mark: Confirmed by @engcom-tester
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32675` were created

**Issue Available**: @engcom-tester, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-23 19:02] magento-engcom-team commented on #27406
:white_check_mark: Confirmed by @engcom-tester
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32680` were created

**Issue Available**: @engcom-tester, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-23 19:56] sprankhub commented on #27318
@magento give me 2.4-develop instance

[2020-03-23 19:56] magento-engcom-team commented on #27318
Hi @sprankhub. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-23 19:56] magento-engcom-team commented on #27318
Hi @sprankhub, here is your [Magento instance](https://i-27318-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27318-2-4-develop.instances.magento-community.engineering/admin_7cb1](https://i-27318-2-4-develop.instances.magento-community.engineering/admin_7cb1)
Login: `35979b84` Password: `b59f02a1e7e6`
Instance will be terminated in up to 3 hours.

[2020-03-23 20:04] sprankhub commented on #27318
@magento give me 2.3 instance

[2020-03-23 20:06] sprankhub commented on #27318
@magento give me 2.3.4 instance

[2020-03-23 20:06] magento-engcom-team commented on #27318
Hi @sprankhub. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-23 20:06] magento-engcom-team commented on #27318
Hi @sprankhub, here is your [Magento instance](https://i-27318-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27318-2-3-4.instances.magento-community.engineering/admin_88c2](https://i-27318-2-3-4.instances.magento-community.engineering/admin_88c2)
Login: `1732610a` Password: `12bff793fc1c`
Instance will be terminated in up to 3 hours.

[2020-03-23 20:11] sprankhub commented on #27318
Just reproduced on 2.3.4 and confirmed that it is fixed in 2.4-develop. https://github.com/magento/magento2/commit/9b178d0fbb4f3722680cb9f5c98c3a5ce99c878c#diff-5a84acef3517c087a0e6a164d0e2a9d1 seems to be the fix. This could be backported, but since it is not too critical, I close this now.

[2020-03-23 20:11] #27318 closed, assigned to krishprakash

[2020-03-23 21:13] sdzhepa opened #27407 "[TEST] Test Issue 2 DO NOT PROCESS"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-23 21:52] niners52 commented on #15935
This just happened to me again on 2.3.2-p2.

[2020-03-23 22:01] VVNPradeep opened #27408 "Magento2.3.4 No Coupon Breaks Checkout Process"
### Preconditions (*)

1. Environment:- 2.3.4 cloud

### Steps to reproduce (*)

1. set up Multisite - 3 website and each will have one store and store view
2.Create a Cart Rule, set coupon to "No Coupon" and Action to "Percent of Product Price Discount", Discount Amount 10 persent, and choose only one website.
3. Save the rule

### Actual result (*)

1. The User will get discount in cart and chec

[2020-03-24 04:46] krishprakash commented on #27404
Hi @yhummi.
Kindly update all the details for reproduce the issue

[2020-03-24 04:47] krishprakash commented on #27403
Hi @yhummi.
Kindly update all the details for reproduce the issue
Feel free to reopen once you update all necessary details
Thanks

[2020-03-24 04:47] #27403 closed, assigned to nobody

[2020-03-24 04:47] krishprakash commented on #27404
Feel free to reopen once you update all necessary details
Thanks

[2020-03-24 04:47] #27404 closed, assigned to krishprakash

[2020-03-24 06:30] AnshuMishra17 commented on #21264
I can see this issue in Magento 2.3.4.

[2020-03-24 07:38] magento-engcom-team commented on #27244
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32687` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-24 08:16] mohanelamurugan commented on #27361
@magento give me 2.4-develop instance

[2020-03-24 08:16] abelbmx commented on #12679
Where can I find those files to modify them?

[2020-03-24 08:16] magento-engcom-team commented on #27361
Hi @mohanelamurugan. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-24 08:17] magento-engcom-team commented on #27361
Hi @mohanelamurugan, here is your [Magento instance](https://i-27361-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27361-2-4-develop.instances.magento-community.engineering/admin_bf76](https://i-27361-2-4-develop.instances.magento-community.engineering/admin_bf76)
Login: `27d3855a` Password: `3426cac21188`
Instance will be terminated in up to 3 hours.

[2020-03-24 08:32] mohanelamurugan commented on #27361
Reproduced on 2.4.x

[2020-03-24 09:30] Alexie81 commented on #26565
Very nice !!! 😊

[2020-03-24 09:39] stephan-cream opened #27411 "Table structure issue catalog_product_entity (sku field is allowed nulls)"
### Preconditions (*)
1. Any Magento version (tested on all significant releases, 2.1, 2.2, 2.3)
2. Reproduced on 2.4-develop

### Steps to reproduce (*)
1. Add a product either through migration, a custom importer or directly in the database.
2. Leave out the field SKU (in other words, leave it NULL).
3. Go to the product edit page in the backoffice.

### Expected result (*)
1. Should not be poss

[2020-03-24 09:51] stephan-cream commented on #27411
I believe this to be a mistake in the structure design, as SKU is required throughout Magento.

[2020-03-24 10:20] magento-engcom-team commented on #25026
Hi @mageonius.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [26d4b9299d8aefeb37c6cd9f3eb933b8ae23b1c9](https://github.com/magento/magento2/commit/26d4b9299d8aefeb37c6cd9f3eb933b8ae23b1c9)
 - [254a46c8a11683c3958b09b80e59343befa1e2b5](https://github.com/magento/magento2

[2020-03-24 10:20] #25026 closed, assigned to nobody

[2020-03-24 11:32] al1357 commented on #27039
I also had this problem after updating 2.3.3 to 2.3.4

[2020-03-24 12:01] riturajebizon commented on #27309
Hi
Any update on this?

[2020-03-24 12:22] ajijshekh123 commented on #27309
@magento give me 2.4-develop instance

[2020-03-24 12:22] magento-engcom-team commented on #27309
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-24 12:23] magento-engcom-team commented on #27309
Hi @ajijshekh123, here is your [Magento instance](https://i-27309-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27309-2-4-develop.instances.magento-community.engineering/admin_2c0c](https://i-27309-2-4-develop.instances.magento-community.engineering/admin_2c0c)
Login: `b64664b3` Password: `bfea52a3288d`
Instance will be terminated in up to 3 hours.

[2020-03-24 12:28] engcom-Bravo commented on #26901
@sdzhepa Please, move this issue to appropriate feature request repo.

Thank you

[2020-03-24 12:28] sudheers-kensium commented on #27002
@santosh-ks153 run php bin/magento queue:consumers:start product_action_attribute.update

[2020-03-24 12:46] ajijshekh123 commented on #27309
Hi @rituraj001 ,
Wrong price is displayed after place the order.
See attached the screenshot:

![WrongPriceIssue](https://user-images.githubusercontent.com/24711761/77426980-90190880-6dfb-11ea-99e8-9ac921d757ff.png)

Thanks.

[2020-03-24 12:47] magento-engcom-team commented on #27309
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32703` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-24 12:53] riturajebizon commented on #27309
Hi
Yes,it displayed after placed the order.
And it display all the place like Invoice e.t.c
Most important is that the wrong place has displayed on pdf invoice that is totaly different

[2020-03-24 13:07] markshust commented on #26840
@farrukhk this patch is not working for me

[2020-03-24 13:12] farrukhk commented on #26840
Patch is working for me on 2.3.4. Make sure to setup:di:compile after applying the patch.

[2020-03-24 13:22] trucatchtraps commented on #27361
Correct, but I feel that is too late for the notification. The customer should know before they click Add to Cart. Otherwise, when they get to the Cart page, they may second guess the purchase based on the product now being on backorder. It is very confusing seeing a product listed as In Stock but yet it is backordered.

[2020-03-24 13:33] markshust commented on #26840
@farrukhk here is the output of my applying the https://gist.github.com/sjb9774/971a28d309dee2f24b853c84e0295693 patch:

[code]

Using `cweagans/composer-patches` module with the following patch line added to composer.json:

[code]

[2020-03-24 13:34] engcom-Bravo commented on #26340
Hello @jamie-selesti

Thank you for your report

I have just rechecked this on Magento 2.4-develop with Sample Data
I used, for example, the product _Chaz Kangeroo Hoodie-XL-Orange_ which is a simple product, part of a Configurable.
![id_67_product_grid](https://user-images.githubusercontent.com/51680745/77430599-1aee0900-6de4-11ea-9b47-5738eb63ba92.png)

The settings are the same as on the screen

[2020-03-24 13:59] markshust commented on #26840
FYI the above may be related to how `cweagans/composer-patches` applies patches. It would be nice to apply patches this way, if that is all possible? In the interim I added the patch to `m2-hotfixes` since this is a cloud project, and the patch applied successfully.

[2020-03-24 14:01] magento-engcom-team commented on #27406
@engcom-tester Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-03-24 14:11] magento-engcom-team commented on #27406
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32680` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-24 14:18] Axel29 commented on #27265
Any update on this issue? Having the same issue with French locale, customers can't create an account.
Thanks.

[2020-03-24 14:28] #27406 closed, assigned to engcom-tester

[2020-03-24 14:34] ihor-sviziev opened #27415 "test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-24 14:34] #27415 closed, assigned to nobody

[2020-03-24 14:34] ihor-sviziev commented on #27415
@magento give me 2.4-develop instance

[2020-03-24 14:34] magento-engcom-team commented on #27415
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-24 14:35] magento-engcom-team commented on #27415
Hi @ihor-sviziev, here is your [Magento instance](https://i-27415-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27415-2-4-develop.instances.magento-community.engineering/admin_4af4](https://i-27415-2-4-develop.instances.magento-community.engineering/admin_4af4)
Login: `c8d731ac` Password: `6ee97697b8e9`
Instance will be terminated in up to 3 hours.

[2020-03-24 14:49] davidalger commented on #19597
@cmacdonald-au I opened a PR to get a note added: https://github.com/magento/devdocs/pull/6916

[2020-03-24 15:08] Axel29 commented on #27265
After debugging a little, it seems that if we make the following changes:

* `\Magento\Customer\Block\Widget\Dob::getHtmlExtraParams` :

[code]

* `view/frontend/web/js/validation.js` :

[code]

It's almost good.
The only thing left is that the date format doesn't seem to be okay.
The correct one would be `D/MM/Y` but Magento returns `"dd/MM/y"`.

[2020-03-24 15:28] devchris79 opened #27416 "Estimate shipping not returning DHL rates for Hong Kong"
### Preconditions (*)

1. Magento 2.3.4
2.

### Steps to reproduce (*)

1. DHL shipping enabled
2. Input Hong Kong delivery data as below:
![image](https://user-images.githubusercontent.com/43850303/77441846-cea1c980-6de1-11ea-8c21-663b5512dd06.png)

### Expected result (*)

1. DHL rates to be provided above the postal service rate in the screenshot above

### Actual result (*)

1. Only postal rat

[2020-03-24 15:43] acmetech2009 commented on #15545
Hi jamie-selesti
Seems not, I've got 2.3.4 and the same problem for over one week since upgrade from 2.2.7.
This night I'm going to apply erikhansen patch to check it.

[2020-03-24 15:50] mohanelamurugan commented on #27361
So Instead of Instock, It would be ideal to show "Backorder" ?

[2020-03-24 15:57] trucatchtraps commented on #27361
It would probably be easier to have it switch from In Stock to Out of Stock based on the current code, like it does if you do not allow backorders. But have the Add to Cart button available if you allow backorders. Adding Backorder as a Stock option would likely be a more involved change.

[2020-03-24 18:13] natebatty commented on #26840
@magento-engcom-team Will a patch for 2.3.3 be coming?

[2020-03-24 18:31] rodrigowebjump commented on #27411
@magento give me 2.4-develop instance

[2020-03-24 18:31] magento-engcom-team commented on #27411
Hi @rodrigowebjump. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-24 18:32] magento-engcom-team commented on #27411
Hi @rodrigowebjump, here is your [Magento instance](https://i-27411-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27411-2-4-develop.instances.magento-community.engineering/admin_399e](https://i-27411-2-4-develop.instances.magento-community.engineering/admin_399e)
Login: `7deac959` Password: `acb0d5600985`
Instance will be terminated in up to 3 hours.

[2020-03-24 18:40] ihor-sviziev commented on #26335
This issue was already fixed by https://github.com/magento/magento2/commit/892dee45e4f80ae7df04b4ce550971e5a0453eff
I’m closing this issue

[2020-03-24 18:40] #26335 closed, assigned to ihor-sviziev

[2020-03-24 19:34] Usik2203 opened #27418 "Color doesn't apply to Visual Swatches by clicking on page"
### Preconditions (*)

### Steps to reproduce (*)

1.Go to Store -> Attributes -> Product -> Add New Attribute
2.Choose Visual Swatch
3.Add Swatch
4.Choose color
5. Click on the page

### Expected result (*)

We have chosen color and click on page and color was applied.

### Actual result (*)

We had to click button  on colorpicker panel. It can confuse customers
![2020-03-24 21 25 23](https://use

[2020-03-24 19:46] magento-engcom-team opened #27419 "[TEST] DO NOT TOUCH"
### Test

Pull Request:
 - title: Fix resourcemodel quote item extend incorrect abstractdb
 - contributor name: @mrtuvn

[2020-03-24 19:50] #27419 closed, assigned to nobody

[2020-03-24 20:07] magento-engcom-team opened #27420 "[TEST] DO NOT TOUCH"
### Test

Pull Request:
 - title: Fix resourcemodel quote item extend incorrect abstractdb
 - contributor name: @mrtuvn

[2020-03-24 20:27] hostep commented on #26840
@markshust: `cweagans/composer-patches` applies patches to modules in `vendor`, so all file references in the patch file should be relative towards the module. So for example, one of the paths in the patch is `vendor/magento/module-payment/Block/Transparent/Redirect.php`, that one needs to be changed to `Block/Transparent/Redirect.php`

I'm also noticing that that this one patch is targetting 3 di

[2020-03-24 20:27] #27420 closed, assigned to nobody

[2020-03-24 21:37] jwundrak commented on #18234
@ulftietze @magento-engcom-team

Can we please reopen the ticket? In v2.2 the fix with $category->setStoreId(0) is in the git, but in >= v2.3.1 this commit: https://github.com/magento/magento2/commit/795bc1f0f449e1e599586bf42525d5c088cfbae2#diff-27c2b5f302ec1a16c88e3efbfaa54e59 revert this fix.

[2020-03-24 22:51] VladimirZaets opened #27421 "TEST ISSUE 01"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-24 22:52] #27421 closed, assigned to nobody

[2020-03-24 23:14] drew7721 commented on #6401
@sivaschenko I agree that the child products affect parent product representation. But I strongly believe that we are addressing this issue the wrong way, as far as configurable products are concerned.

**Goal** : clear parent product caches when the child product is modified.

---

**First approach** :  _(the one implemented now)_
 - Add all child product cache tags on parent product pages
 - Add

[2020-03-24 23:17] VladimirZaets opened #27423 "TEST 02"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-24 23:21] #27423 closed, assigned to VladimirZaets

[2020-03-25 02:42] patricksabado commented on #25572
this still don't work from my end. I'm using Magento 2.3.3

from \Magento\CatalogSearch\Model\Advanced\ProductCollectionPrepareStrategy line 54. It will get all attribute that is "Used in Product Listing". In my part that the return array got the custom attribute that I'm expecting. But when I inspect the inspect the collection sql query i get the below instead.

`SELECT `e`.*, `price_index`.`pric

[2020-03-25 02:57] patricksabado opened #27430 "custom attribute is not working in advance search"
### Preconditions (*)

1. Magento 2.3.3
2. PHP v7.2.14
3. MySQL as search engine

### Steps to reproduce (*)

1. turn off all default advance search attributes, (name, price, SKU etc) - only leave your the attribute you will create in step 2.
2. create a new custom attribute in admin that has the following properties:
Use in Search = Yes
Visible In Advance Search = Yes
Used in Product Listing = Ye

[2020-03-25 04:15] patricksabado opened #27431 "If you add a custom attribute and assign it as searchable, it doesn't work with Advance Search."
### Preconditions (*)

1. Magento 2.3.3
2. PHP v7.2.14
3. MySQL as search engine

### Steps to reproduce (*)

1. **turn off all default advance search attributes, (name, price, SKU etc) - only leave the attribute you will create in step 2.**
2. create a new custom attribute in admin that has the following properties:
Use in Search = Yes
Visible In Advance Search = Yes
Used in Product Listing = Yes

[2020-03-25 04:17] patricksabado commented on #27430
raised a ticket with proper format

https://github.com/magento/magento2/issues/27431

[2020-03-25 04:17] #27430 closed, assigned to nobody

[2020-03-25 07:51] sprankhub commented on #17951
I just had this issue and did a little research. I had this entry in my `app/etc/env.php`:

    'queue' => [
        'consumers_wait_for_messages' => 1
    ]

It is described in the [DevDocs](https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-queue.html#start-message-queue-consumers):

I switched the value to `0` and this solved the issue. So to be honest, I think this

[2020-03-25 08:18] stephan-cream commented on #27411
This is a database issue, unless you can directly insert the product in the database (or use custom code to import it) without an SKU this is not 'testable' on an Magento github generated development instance.

[2020-03-25 08:54] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-03-25 08:54] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-25 08:55] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_748b](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_748b)
Login: `c025822d` Password: `722ca5870863`
Instance will be terminated in up to 3 hours.

[2020-03-25 08:55] kanduvisla opened #27432 "M2.3.4 : Updated the url_key of a parent category does not update the url's of the children"
### Preconditions (*)

1. Magento 2.3.4, vanilla installation

### Steps to reproduce (*)

1. Programmatically create a parent and a child category
2. Update the `url_key` of the parent category

### Expected result (*)

1. The URL of the child category should be updated as well.

### Actual result (*)

1. The URL of the child category still has the old URL.

### Integration test

I've wrote this

[2020-03-25 08:56] ilnytskyi commented on #6401
For those who faced this issue caused by custom code. e.g. import of product/categories
Make sure you have all indexers set up tu run "Update by Schedule"

Because after each `save`  from entity repository in the loop it will add tags to
`\Magento\Framework\Indexer\CacheContext` or other storage and will cause reindexing and purging more entities, not only saved/updated ones

[2020-03-25 09:15] danielhodis opened #27433 "Wrong images displayed when adding images to product variants - the correct images get displayed only after second upload"
### Preconditions (*)

1. Using Magento ver. 2.3.4
2. Working in Catalog>Products menu
3. Product set up with variants

### Steps to reproduce (*)

1. Open Product Variant from Variants list
2. Open Pictures and Videos section
3. Upload images for product variant

### Expected result (*)

1. I expect that the images displayed in Magento to be the ones I upload, i.e. images corresponding to the pro

[2020-03-25 11:37] ioweb-gr commented on #17951
It seems this project helps mitigate the situation until this is properly solved / documented.

https://github.com/magemojo/m2-ce-cron

My server load dropped from 12 to 4 after installing.

[2020-03-25 11:44] VladyslavSikailo opened #27434 "Exception during saving category image"
### Preconditions (*)
1. Pure Magento 2.3.4 CE/EE

### Steps to reproduce (https://youtu.be/c0gp_88BEgc)
1. Go to some category edit page
2. Open Content tab
3. Upload Category Image
4. Save category

### Expected result (*)
1. No exception.logs should be

### Actual result (*)
1. var/log/exception.log contains: _[2020-03-25 11:24:23] report.CRITICAL: Something went wrong while saving the file(s).

[2020-03-25 12:32] stephan-cream commented on #26854
The question now however, is in which Magento release this fix will be applied.
Applying the changes through a patch is fine, but it would still be nice to know when this version of the MSI module is incorporated in Magento itself.

[2020-03-25 13:32] ajijshekh123 commented on #27434
@magento give me 2.4-develop instance

[2020-03-25 13:32] magento-engcom-team commented on #27434
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-25 13:33] magento-engcom-team commented on #27434
Hi @ajijshekh123, here is your [Magento instance](https://i-27434-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27434-2-4-develop.instances.magento-community.engineering/admin_3a0c](https://i-27434-2-4-develop.instances.magento-community.engineering/admin_3a0c)
Login: `27a6d1e9` Password: `fde8f7394f64`
Instance will be terminated in up to 3 hours.

[2020-03-25 13:36] magento-engcom-team commented on #27407
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32776` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-25 13:44] magento-engcom-team commented on #27407
Hi @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-32776` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still

[2020-03-25 13:47] ajijshekh123 commented on #27434
Hi @Dren7755 ,
I have verified this issue as per your steps on the latest Magento 2.4 Instance. But I can't able to reproduce this issue.
Can you please share the video?
I think this issue is related to the customization code.

Thanks.

[2020-03-25 13:48] sdzhepa opened #27435 "[TEST] DO NOT PROCESS"
### Summary (*)

### Examples (*)

### Proposed solution

[2020-03-25 13:50] acmetech2009 commented on #15545
Hi, erikhansen's path works on 2.3.4
Thank You.

[2020-03-25 14:11] magento-engcom-team commented on #27435
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32778` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-25 14:13] magento-engcom-team commented on #27435
Hi @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.4.0` release.

[2020-03-25 14:32] magento-engcom-team commented on #27407
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32781` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-25 14:34] #27407 closed, assigned to sdzhepa, VladimirZaets

[2020-03-25 14:50] #27435 closed, assigned to sdzhepa

[2020-03-25 14:54] engcom-Bravo commented on #26561
Hello @FerihumF

This is not a bug, this is a functionality of Magento, and this has nothing to do with Second Web site.
It is not possible to set _Special price_ **bigger** than the original. I have rechecked it with Default _Website_, _Store_ and _Storeview_

I have also rechecked the scenario, provided in the Steps to reproduce.
When the _Special Price is 150_ and the Original is 100, then 100

[2020-03-25 14:54] #26561 closed, assigned to shikhamis11, engcom-Bravo

[2020-03-25 15:08] engcom-Bravo commented on #26732
Hello @brian-ebizmarts

Thank you for your report.

It looks like you have third-party extensions installed on your Magento instance.
Unfortunately, we have to close this issue. The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site f

[2020-03-25 15:09] Pictick opened #27436 "Swatch virtual products don't refresh advanced pricing"
If I add one or more virtual products with advanced pricing and choose a swatch to switch between the different attributes, there will be no refresh concerning the advanced prices. Only if the prices are different between the virtual products, you will see the message "Buy 20 for €3.00 each and save 96%". But for that you must switch to another virtual product. You will never see this message on t

[2020-03-25 15:24] engcom-Bravo commented on #26717
Hello @luciaebizmarts

Thank you for your report

We have rechecked this issue on a German version of Magento 2.4-develop via Swagger API
When we perform the following request with empty _username_ and _password_
![26717_api_token_request](https://user-images.githubusercontent.com/51680745/77552906-cc606d80-6ebc-11ea-9368-003f008ab93a.png)

We are getting a 400 Bad request with informative content

[2020-03-25 15:34] Dren7755 commented on #27434
Hi @ajijshekh123
You can check the video: https://youtu.be/c0gp_88BEgc

How you checked exception.log by magento-engcom-team's Magento Instance? As I understand, you don't have access to file system of this instance)

[2020-03-25 16:23] palviggi-flagbit commented on #24942
I started debugging the problem, since it's still happening on 2.3.4.
The proposed patch only removes the processor from the request flow, but that's only working on the symptoms.
After StoreSwitcher/HashGenerator adds some parameters to validate the redirection, and send the redirect, magento process the redirect request and creates a new redirect (still don't know why). But this second redirect

[2020-03-25 16:24] Pictick opened #27438 "Swatch virtual products don't refresh advanced pricing"
#25359 # Preconditions (*)

### Steps to reproduce (*)

1. Add a configurable product
2. Create configurations and add / connect two or more virtual products
3. Use a swatch method (for example color swatch)
3. Use advanced pricing and add quantity prices for both virtual products
4. Open the product detail page of the configurable product
5. switch to one color

### Expected result (*)

1. virtua

[2020-03-25 16:24] #27436 closed, assigned to nobody

[2020-03-25 16:34] Pictick opened #27439 ""As low as" price display doesn't consider advanced pricing"
### Preconditions (*)

Magento 2.3.4 and `2.4-develop`

### Steps to reproduce (*)

1. Add a product configurable product
2. add and connect two or more virtual products
3. use quantity prices in advanced pricing for Bothe virtual products
4. visit the catalog view of the category

### Expected result (*)

1. You will see the the cheapest "As low as" price (the cheapest quantity price in the advan

[2020-03-25 17:30] magento-engcom-team commented on #25540
Hi @Sathishkumar8731. Thank you for your report.
The issue has been fixed in magento/magento2#25664 by @p-bystritsky in 2.4-develop branch
Related commit(s):
 - [f96d993184b3aea5512a2c4976f459e712cc14f4](https://github.com/magento/magento2/commit/f96d993184b3aea5512a2c4976f459e712cc14f4)
 - [1dd81a4d7d7b4e8f6d8c8063f5467c4904b4372b](https://github.com/magento/magento2/commit/1dd81a4d7d7b4e8f6d8c80

[2020-03-25 17:30] #25540 closed, assigned to p-bystritsky

[2020-03-25 17:30] magento-engcom-team commented on #22010
Hi @atwixfirster. Thank you for your report.
The issue has been fixed in magento/magento2#22011 by @atwixfirster in 2.4-develop branch
Related commit(s):
 - [1a2b1cec66115385f1c6107747ef9a6f95c23d34](https://github.com/magento/magento2/commit/1a2b1cec66115385f1c6107747ef9a6f95c23d34)
 - [1a6656805768430f20711a4a5e54bab0041819de](https://github.com/magento/magento2/commit/1a6656805768430f20711a4a5e

[2020-03-25 17:30] #22010 closed, assigned to atwixfirster

[2020-03-25 17:32] #26224 closed, assigned to andrewbess

[2020-03-25 18:58] MageRakesh commented on #27139
@magento I am working on it

[2020-03-25 19:13] ihor-sviziev commented on #8099
FYI we have #26988 that should solve this issue.

[2020-03-25 19:36] edwardbatchelor opened #27440 "Meta description does not save from YoastSEO"
I am super frustrated.  Every time I try and save a Meta description does not save from YoastSEO in Magento it fails to save.  It saying you "saved the category" successfully but then it is actually not saving.  This issue occurs in both category and products.  Makes it impossible to have metra descriptions.  Please help.

[2020-03-25 20:08] slavvka commented on #27420
rth

[2020-03-25 20:18] 3hertz commented on #7720
2.3.4 still have this issue

[2020-03-25 20:22] sdzhepa opened #27441 "[TEST] Do not process"
### Summary (*)

### Examples (*)

### Proposed solution

[2020-03-25 20:50] ilker-capli commented on #16073
Hi Everyonee,

I guess that I have same issue on 2.3.4 Cloud Version.
When using vertical nav on Fotorama, I think that calculating width and height of Stage are wrong.

[2020-03-25 21:31] magento-engcom-team commented on #27441
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32802` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-25 23:01] lbajsarowicz commented on #8099
You can buy me a beer at the next conference @careys7 :-D

[2020-03-26 03:12] Tomasz-Silpion commented on #19710
@dan-ding hint is absolutely right but setting isset != !empty is going round and round as long _hasDefaultFrame_ check in _Magento\Catalog\Model\Product\Image\ParamsBuilder_ would not respect proper _themeModel_ as defined in _Magento\Framework\View\Config_ class, _getViewConfig_ method.

Issue can be reproduced with overriding _product_image_white_borders_ var in theme _etc/view.xml_ with value

[2020-03-26 04:09] mincovip opened #27445 "Magento2.3.1 Search Engin Issue"
Hi there,

When I changed the search engine from MySQL to Elasticsearch 6.0+, and then click '**save config**' button, the search engine is still MySQL. Could you give me some suggestions?

the below link is a screen recording:
https://i.ibb.co/fvf9gHM/search-engin-issue.gif

**Base info:**
Centos 7
Apache 2.4
Magento2.3.1

[2020-03-26 04:25] krishprakash commented on #27445
@magento give me 2.4-develop instance

[2020-03-26 04:25] magento-engcom-team commented on #27445
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-26 04:26] magento-engcom-team commented on #27445
Hi @krishprakash, here is your [Magento instance](https://i-27445-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27445-2-4-develop.instances.magento-community.engineering/admin_196b](https://i-27445-2-4-develop.instances.magento-community.engineering/admin_196b)
Login: `1be48917` Password: `f9d63b60a677`
Instance will be terminated in up to 3 hours.

[2020-03-26 04:31] ajijshekh123 commented on #27434
Hi @Dren7755 ,
Thanks for the send the video. You are right. I don't have access to the file system.
This issue needs to developer help.

Thanks.

[2020-03-26 04:33] krishprakash commented on #27445
Hi @mincovip. Thank you for your report.
Can not able to reproduce the issue on latest instance
It should be fixed fixed in updated version
Feel free to reopen the issue if you confirm that issue is reproduced on latest 2.3.4 version

[2020-03-26 04:33] #27445 closed, assigned to krishprakash

[2020-03-26 04:33] ajijshekh123 commented on #27439
@magento give me 2.4-develop instance

[2020-03-26 04:33] magento-engcom-team commented on #27439
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-26 04:34] magento-engcom-team commented on #27439
Hi @ajijshekh123, here is your [Magento instance](https://i-27439-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27439-2-4-develop.instances.magento-community.engineering/admin_60e7](https://i-27439-2-4-develop.instances.magento-community.engineering/admin_60e7)
Login: `a92a6b69` Password: `a9f54a9d07c7`
Instance will be terminated in up to 3 hours.

[2020-03-26 04:38] krishprakash commented on #27434
Hi @Dren7755. Thank you for your report.Looks like issue is for Magento Enterprise Edition so we need to move this issue to it's separate repository
@sdzhepa Kindly move this issue to EE repo.

[2020-03-26 05:07] sudheers-kensium commented on #27002
Hi @santosh-ks153 ,

I am closing this issue. Feel free to reopen still you are facing issue.

Thanks

[2020-03-26 05:07] #27002 closed, assigned to nobody

[2020-03-26 05:09] ghost opened #27447 "incorporate MeiliSearch"
### Description (*)
Add MeiliSearch as a search engine in Magento 2

### Expected behavior (*)
more powerful, less memory usage, faster search

### Benefits
MeiliSearch is a powerful, fast, open-source, easy to use, and deploy search engine.

### Additional information
The search and indexation are fully customizable and handles features like typo-tolerance, filters, and synonyms.

https://github.

[2020-03-26 05:11] broros commented on #27447
yes

[2020-03-26 06:58] choleaoum commented on #15009
I'm currently running 2.3.4 (Bitnami w/ Smartwave's Porto Theme) and this issue appears to still be happening. It's a fresh install.

[2020-03-26 09:09] forwells commented on #16101
Here will explain why this problem occurs and how to deal with it.
Generally, such abnormal problems do not occur during the native Magento2.x checkout process.General problems occur when custom products are added to the shopping cart, and then the shopping cart (Quote) data is processed and generated programmatically Orders, unfortunately, in such a complicated construction of Magento2 (especiall

[2020-03-26 10:08] agallart opened #27449 "Can't set stock for diferents scopes"
### Preconditions (*)

1. Magento 2.3.3
2. enable Inventory Management

### Steps to reproduce (*)

1.create Websites

![image](https://user-images.githubusercontent.com/16067982/77633171-5eb15180-6f4f-11ea-8691-543a612e4e23.png)

2.create Source
![image](https://user-images.githubusercontent.com/16067982/77633063-2f9ae000-6f4f-11ea-951d-cc613a2d75f1.png)

3.create Stocks
![image](https://user-ima

[2020-03-26 10:22] wahidnory opened #27450 "SimpleDirective regex filters everything after lowercase as parameter"
### Summary (*)
I was trying to migrate some old templates to the new directive format as described here: https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/templates/template-email-migration.html
But to my surprise {{lifetime_spend}} never got rendered inside the email.

This was performed on the latest Magento installation 2.3.4. No error messages were shown, simply the value wasn't bein

[2020-03-26 10:34] eduard13 commented on #21101
Re-opening this issue, as being reproducible again. Looks like the root issue is caused by the following PR #25380.

[2020-03-26 10:40] magento-engcom-team commented on #21101
@eduard13 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-03-26 10:42] magento-engcom-team commented on #21101
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32813` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-26 11:01] atIOCrON opened #27452 "Braintree Payment Method AMEX 3-digit CVV Error From Admin"
### Preconditions (*)

1. Magento CE 2.3.4 with sample data
2. Braintree payment method is set up with AMEX enabled

### Steps to reproduce (*)

1. Sales > Orders > Create New Order
2. Choose products, complete the addresses and choose a delivery method
3. In the Braintree payment method enter an AMEX card number with a valid expiry date and enter 3 digits for the CVV
4. Press Place Order

### Exp

[2020-03-26 11:02] atIOCrON commented on #27452
Yes

[2020-03-26 11:12] atIOCrON opened #27453 "Braintree Payment Method Card Type Logo Fails to Change"
### Preconditions (*)

1. Magento CE 2.3.4 with sample data
2. Braintree payment method is set up

### Steps to reproduce (*)

1. Sales > Orders > Create New Order
2. Choose products, complete the addresses and choose a delivery method
3. In the Braintree payment method enter an AMEX card number. The card type dropdown will switch to AMEX and the AMEX logo will display.
4. Now enter a MasterCard c

[2020-03-26 11:21] kunzi commented on #2056
I needed to copy the shipping-estimation.html file to my theme's folder even in 2.3.3. About five years after this problem has been reported.

[2020-03-26 11:39] hostep commented on #21663
I just saw this same error being thrown on a Magento 2.3.1 shop, having some particular products in your cart: bundled product + a configurable one. At the moment when you moved from the checkout to an external payment provider, a HTTP 500 error was thrown and we could see the error mentioned in this ticket in the error log on the server.

It turned out to get fixed by updating that Payment provid

[2020-03-26 11:46] imrankln opened #27456 "Unable to format Paypal's response properly"
When trying to checkout with Paypal express checkout on Magento, it doesn't redirect to Paypal page and stays on blank page;  URL: < domain.com >/paypal/express/start/

### Preconditions (*)

1. Magento 2.3.4
2. Bug occurs when Paypal returns response 2 times.
First time _HTTP/1.1 100 Continue_
Second time _HTTP/1.1 200 Ok_

### Steps to reproduce (*)

1. Try to Checkout with Paypal express checko

[2020-03-26 12:43] AleksLi commented on #14509
I'm working on this issue in one of the projects and I found where collection of attributes coming from and that might help understand the issue.

`\Magento\Checkout\Block\Checkout\LayoutProcessor::getAddressAttributes` the collection of attributes came only for customer_address entity type. But dob, gender, and some other attributes are customer attributes.
So, that's why attributes aren't there.

[2020-03-26 13:05] br4nnigan commented on #5906
today i could produce an error message by using try catch wrap ...... like digging for gold

[2020-03-26 13:42] Dren7755 commented on #27434
I have also reproduced it on pure CE Magento 2.3.4 installation.

[2020-03-26 13:43] wilberronwilber opened #27457 "I will help you with anything related to magento 1x and 2x"
Hello to all!
I have been following this forum for a long time, but just registered now.
The fact is that over the past year I have been actively learning to work with Magento. Now I can surely help each of you! If anyone needs an assistant or service, please contact!
I do any type of work on your Magento eCommerce website following the recommended best practices!
Including:
• Customizing your the

[2020-03-26 13:45] dimaMackert opened #27458 "Sitemap generated by cron have wrong image URL (cache path)"
### Preconditions (*)

1. Magento 2.4
2. Create 2 stores
3. Add at least one product to each of those store
4. Add at least one image to each of the products
5. Create Sitemap for one of the stores.

### Steps to reproduce (*)

1. Generate a sitemap via backend
2. Generate a sitemap via cron
3. You will see, there are two different cache paths

### Expected result (*)

I found almost the same issu

[2020-03-26 14:00] Styopchik commented on #10088
+1

[2020-03-26 14:13] pioneerathletics commented on #26840
@magento-engcom-team Could you please release a version for Open Source 2.3.4 that has the patches correctly separated and ready to install?

[2020-03-26 14:18] hostep commented on #25218
@sdzhepa: since https://github.com/magento/magento2/commit/7211d50998f786dce0628346439649ac8d196c46 has been included in Magento 2.3.4, this issue can probably be closed? Can you double check?

[2020-03-26 14:23] damianm2007 commented on #10083
Please send me this fix... Because this code have bugs views on the place... THX.

[2020-03-26 14:24] duxabilii opened #27459 "Unable to turn on MAGE_PROFILER dependency graphs (MAGE_PROFILER 2)"
### Preconditions (*)

1. Magento 2.3.3, Magento 2.3.4
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Enable profiler dependency graphs via .htaccess adding `SetEnv MAGE_PROFILER 2`

### Expected result (*)

1. Dependency graphs displayed at the bottom of a page.

### Actual result (*)

1. PHP Fatal Error
`Fatal error: Declaration of Magento\Framework\App\Request\PathInfo\Logger::getPathIn

[2020-03-26 14:29] lokeshvnaik opened #27460 "Incorrect stock status on category page even when saleable qty is reduced to 0"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Add product to cart with maximum available quantity (e.g. 100 in this case)

![qty-before](https://user-images.githubusercontent.com/16201742/77657478-5f6fd500-6f9b-11ea-958f-8cb72f74ded4.png)

![Cart](https://user-images.githubusercontent.com/16201742/77657500-6860a680-6f9b-11ea-8060-333d3772384c.png)

2. Place order
3. The sal

[2020-03-26 14:42] duxabilii commented on #27459
I have the same issue on `Magento dev-2.4-develop`

[2020-03-26 15:03] krishprakash commented on #27457
Hi @wilberronwilber.
GitHub issue tracker is intended for magento core technical issues only
This is not the marketing site for magento
So kindly post related to this.I hope you understand
Thanks !!

[2020-03-26 15:03] #27457 closed

[2020-03-26 15:06] macleash90 commented on #15684
What happened? Did it work? Facing same problem. Increased memory_limit to 4GB but still not working

[2020-03-26 15:22] gcampedelli commented on #15684
Hi, I had to identify one of modules which was causing the issue and I uninstalled it and fixed permissions because it was causing update.log file in var/log folder to increase without limits. Then it was solved.

[2020-03-26 15:23] japhetdoto commented on #25550
Totally agreed with @samumaretiya .. We recently released our new store's version (2.3.3) and we still suffering the same since 2.2.3 with PP Express and the "missing" quoted orders.

[2020-03-26 16:13] snez commented on #23908
@sdzhepa this issue is still present in Magento 2.3.4, what details can I provide to you for more investigation?

[2020-03-26 16:52] an4rei commented on #8098
Using magento 2.3.4 . the statistics are pretty much the same since the first install

[2020-03-26 17:12] magento-engcom-team commented on #26700
Hi @mrtuvn, @monikachintu, @sertlab.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.4.0` release.

[2020-03-26 17:12] #26700 closed, assigned to nobody

[2020-03-26 18:18] andrewbess commented on #19481
Hey, folk. I want to try fixing it

[2020-03-26 19:37] slavvka commented on #27420
uil

[2020-03-26 19:51] heavyrahul commented on #26517
Any update on this Issue I am getting same issue

[2020-03-26 21:00] magento-engcom-team commented on #26742
Hi @michaeldyl520, @lenaorobei, @danielrenaud, @prabhuram93, @engcom-Charlie.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.4.0` release.

[2020-03-26 21:00] #26742 closed, assigned to lenaorobei, danielrenaud, prabhuram93, engcom-Charlie

[2020-03-26 21:01] magento-engcom-team commented on #26884
Hi @Mavlyan, @prabhuram93.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [8a92d8025f801a4bc85925120253a5d970288bb1](https://github.com/magento/magento2/commit/8a92d8025f801a4bc85925120253a5d970288bb1)
 - [e396c01ad4a728c075d5abef614ba9fb9bb2b61c](https://github.com/mage

[2020-03-26 21:01] #26884 closed, assigned to prabhuram93

[2020-03-26 21:01] magento-engcom-team commented on #26817
Hi @Hexmage, @nrkapoor, @cpartica, @shikhamis11.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [6d814c3325d830ac8ebb0e1253718751d28f123a](https://github.com/magento/magento2/commit/6d814c3325d830ac8ebb0e1253718751d28f123a)
 - [ef13e6b341d837967ff6461ca8186e81417fcff0](h

[2020-03-26 21:01] #26817 closed, assigned to nrkapoor, cpartica, shikhamis11

[2020-03-26 21:03] magento-engcom-team commented on #26738
Hi @AndrewBarnhart, @lenaorobei, @shikhamis11, @prabhuram93.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [80a321de0c054ef546478e2b741d6eb1ddb4a78e](https://github.com/magento/magento2/commit/80a321de0c054ef546478e2b741d6eb1ddb4a78e)
 - [8b63f456e6179f45ac394406eca3824

[2020-03-26 21:03] #26738 closed, assigned to lenaorobei, shikhamis11, prabhuram93

[2020-03-26 23:36] Ctucker9233 opened #27464 "Magento 2.3.4 Google Analytics Script Blocked"
### Preconditions (*)

1. Magento 2.3.4  Vanilla Install
2. Latest Google Chrome

### Steps to reproduce (*)

1. Install Magento 2.3.4 via Softaculous Autoinstaller
2. Create Google Analytics property
3. Enter tracking code in Magento backend
4. Navigate to home page

### Expected result (*)

1. Everything works as it should and google analytics is not blocked
### Actual result (*)

1. Google Anal

[2020-03-26 23:37] Ctucker9233 commented on #27464
@magento give me 2.4-develop instance

[2020-03-26 23:38] magento-engcom-team commented on #27464
Hi @Ctucker9233. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-26 23:38] magento-engcom-team commented on #27464
Hi @Ctucker9233, here is your [Magento instance](https://i-27464-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27464-2-4-develop.instances.magento-community.engineering/admin_b502](https://i-27464-2-4-develop.instances.magento-community.engineering/admin_b502)
Login: `3161799f` Password: `18ba841bfd29`
Instance will be terminated in up to 3 hours.

[2020-03-26 23:44] Ctucker9233 commented on #27464
I confirm the same frontend error appears after configuring Google Analytics in 2.4-develop

[2020-03-27 02:03] erfanimani commented on #13225
Same here — issue is happening on 2.3.4.

I'm using https://github.com/jalogut/magento2-deployer-plus and it also expects pub/static not to be writable.

[2020-03-27 02:21] kinjal153mehta commented on #25218
@hostep i m not checked in 2.3.4 version for this issue

[2020-03-27 02:24] chichitsai0517 commented on #25218
I upgraded to 2.3.4 and it has been fixed.

[2020-03-27 02:24] kinjal153mehta commented on #25218
@chichitsai0517  thanks for the checking

[2020-03-27 02:42] Mike-N-E-O opened #27465 "Updating Braintree PHP SDK 3.40.0 for Magento 2.1.4"
Hi,

I need some helps to update the Braintree PHP SDK from 3.7.0 to version 3.40.0 for Magento 2.1.4.  I was in communication with Braintree and they advise me to post the issue and hopefully someone would able to assist.  Here is what I did

1) Edit the composer.json to include the following (guideline from Braintree):
{
 "require": {
      "braintree/braintree_php": "3.40.0"
  }
}

2) Run the b

[2020-03-27 02:49] Mike-N-E-O commented on #27465
Preconditions (*)
1. Mangento 2.1.4
2. Braintree payment method set up

[2020-03-27 02:49] #27465 closed, assigned to nobody

[2020-03-27 04:32] ajijshekh123 commented on #27460
@magento give me 2.4-develop instance

[2020-03-27 04:32] magento-engcom-team commented on #27460
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-27 04:33] magento-engcom-team commented on #27460
Hi @ajijshekh123, here is your [Magento instance](https://i-27460-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27460-2-4-develop.instances.magento-community.engineering/admin_7595](https://i-27460-2-4-develop.instances.magento-community.engineering/admin_7595)
Login: `3ca6dabd` Password: `eb86fe025cfd`
Instance will be terminated in up to 3 hours.

[2020-03-27 04:58] ajijshekh123 commented on #27460
Hello @lokeshvnaik ,
I have verified this issue in the Latest Magento 2.4 Instance as per your steps, expected result and actual result. But this issue is not reproduced in the latest Magento instance.
Please see attached the below screenshot:

![Details](https://user-images.githubusercontent.com/24711761/77723140-9682cc80-7015-11ea-950f-5202ee74cbf0.png)

![Listing](https://user-images.githubuser

[2020-03-27 05:07] lokeshvnaik commented on #27460
Kindly check by enabling Show Out of Products once.

I think Magento CE 2.4 is not available for download yet. I was able to reproduce the issue on Magento CE 2.3.3.

Let me know if this issue is related to any other issue in past which might have been fixed under some other issue and if there are any related commits.

[2020-03-27 05:10] ajijshekh123 opened #27466 "Incorrect stock status on category page even"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-27 05:10] #27466 closed, assigned to nobody

[2020-03-27 05:35] ajijshekh123 commented on #27460
Hello @lokeshvnaik ,
I have to Enable the 'Show Out of Products' - YES and also review the same scenario to reproduce this issue but not able to get this issue.
I have tried to find this issue related to the your issue but not getting.
You can found this issue Using below-attached screenshot:

![AdminConfig](https://user-images.githubusercontent.com/24711761/77725161-c2548100-701a-11ea-8db9-6a436e

[2020-03-27 05:41] lokeshvnaik commented on #27460
Just hover on that product in category page and see if Add to cart button is visible or not. If product is Out of stock then Add to cart button should not be visible for that product in category page, instead 'Out of stock' text should be shown.

[2020-03-27 05:47] ajijshekh123 commented on #27460
See the attached screenshot. After applying the hover effect it is displaying 'Out of Stock' text instead of the 'Add to cart' button.

![2020-03-27_11-14-53](https://user-images.githubusercontent.com/24711761/77725850-8f12f180-701c-11ea-82d3-ecb5f9839fb6.png)

[2020-03-27 05:56] lokeshvnaik commented on #27460
Are you checking on Magento Community Edition 2.3.3?

Can you please try with a new product? And also post screenshot of salable qty in backend catalog grid.

If this is fixed in Magento 2.4 then let me know the related commits.

I checked on Magento 2.3.3 with sample data and was able to reproduce the issue.

[2020-03-27 06:20] ajijshekh123 commented on #27460
1. Are you checking on Magento Community Edition 2.3.3?
 - Nope, I have test only the latest Magento instance which provided by the Magento Team. But let me check my local system Magento 2.3.3 instance.

2. Can you please try with a new product? And also post a screenshot of salable qty in the backend catalog grid.
- Let me Try

3. If this is fixed in Magento 2.4 then let me know the related commi

[2020-03-27 06:23] CeligoLabs opened #27468 "Unable to create a refund to store credit through API document."
Preconditions (*)
CE 2.3.0

Summary of the issue:
We are trying to create a refund to customers store credit with the API call "/V1/creditmemo/refund".
We are mapping all the required fields in the post body, but the store credits are not reflecting in the customer account in Magento UI.

Steps to reproduce (*)

Create order in Magento UI.
Create an Invoice for that order.
with the help of API cal

[2020-03-27 06:49] sudheers-kensium commented on #27464
@magento give me 2.4-develop instance

[2020-03-27 06:49] magento-engcom-team commented on #27464
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-27 06:50] magento-engcom-team commented on #27464
Hi @sudheers-kensium, here is your [Magento instance](https://i-27464-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27464-2-4-develop.instances.magento-community.engineering/admin_e564](https://i-27464-2-4-develop.instances.magento-community.engineering/admin_e564)
Login: `00b03f7a` Password: `033de920b0de`
Instance will be terminated in up to 3 hours.

[2020-03-27 06:59] sudheers-kensium commented on #27464
@Ctucker9233 I am not able to reproduced the issue on Magento 2.4-develop instance.

Please provide more details and screenshots.

[2020-03-27 07:05] hostep commented on #25218
Ok, then we should close this issue, thanks for testing @chichitsai0517 !

[2020-03-27 07:05] #25218 closed, assigned to nobody

[2020-03-27 07:12] sudheers-kensium commented on #27439
@magento give me 2.4-develop instance

[2020-03-27 07:12] magento-engcom-team commented on #27439
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-27 07:13] magento-engcom-team commented on #27439
Hi @sudheers-kensium, here is your [Magento instance](https://i-27439-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27439-2-4-develop.instances.magento-community.engineering/admin_0a99](https://i-27439-2-4-develop.instances.magento-community.engineering/admin_0a99)
Login: `98655b43` Password: `b0dc422d37fa`
Instance will be terminated in up to 3 hours.

[2020-03-27 07:18] stkrelax opened #27469 "2 error messages in Cart when product is out of stock"
### Preconditions (*)
Magento 2.3.3, CatalogInventory Modules and MSI Modules enabled
1. You need a product
2. you must be able to change qty of that product

### Steps to reproduce (*)
1. put product in Cart
2. change qty to 0 and outofstock
3. press f5 in cart

### Expected result (*)
1. one message stating that the product is out of stock appears in the list of the cartitems

### Actual result

[2020-03-27 07:45] magento-engcom-team commented on #27086
Hi @vishvesshah. Thank you for your report.
The issue has been fixed in magento/magento2#27088 by @Priya-V-Panchal in 2.4-develop branch
Related commit(s):
 - [d03d8e1e2a705e8677e680f01f0e04e899daa305](https://github.com/magento/magento2/commit/d03d8e1e2a705e8677e680f01f0e04e899daa305)
 - [2ec8bf5d59cc858979e83d3786b7cb7ee563ad1b](https://github.com/magento/magento2/commit/2ec8bf5d59cc858979e83d37

[2020-03-27 07:45] #27086 closed, assigned to Priya-V-Panchal

[2020-03-27 07:46] #13689 closed, assigned to sergiy-v, chohanbhagchand

[2020-03-27 07:49] magento-engcom-team commented on #27439
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32859` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-27 08:58] sudheers-kensium commented on #27469
@magento give me 2.4-develop instance

[2020-03-27 08:59] magento-engcom-team commented on #27469
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-27 08:59] magento-engcom-team commented on #27469
Hi @sudheers-kensium, here is your [Magento instance](https://i-27469-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27469-2-4-develop.instances.magento-community.engineering/admin_9211](https://i-27469-2-4-develop.instances.magento-community.engineering/admin_9211)
Login: `86df0572` Password: `502a99e4d5a9`
Instance will be terminated in up to 3 hours.

[2020-03-27 09:14] stkrelax commented on #27469
@sudheers-kensium thank for having a look. Any questions than just ask i will try to answer immediatly

[2020-03-27 09:36] magento-engcom-team commented on #27469
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32861` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-27 09:39] stkrelax commented on #27469
Adittional notice :
there is also a case where this happens when you have a product instock and qty 1
and inventory reservation totals -2 when cart qty is 1
Same case but other Messages.

[2020-03-27 10:09] GordonMak opened #27470 "'Price in cart' condition in shopping cart price rule is not working properly"
### Preconditions (*)

1. magento 2.3.4 (Reproducible on **2.4-develop**)
2. a product has tier price

### Steps to reproduce (*)

1. setup a shipping cart price rule for the product to apply fixed amount discount for tiered price.
2. apply a "price in cart is...(equal to the tiered) price" condition to cart item under "Apply the rule only to cart items matching the following conditions (leave bla

[2020-03-27 11:09] magento-engcom-team commented on #24365
Hi @gwharton, @maheshWebkul721.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [bf36d5be648d9e042f2ebc3f14e8eff9778098cf](https://github.com/magento/magento2/commit/bf36d5be648d9e042f2ebc3f14e8eff9778098cf)

The fix will be available with the upcoming `2.3.5` release.

[2020-03-27 11:53] gwharton commented on #27469
https://github.com/magento/magento2/issues/24191

[2020-03-27 12:19] daweedco commented on #26172
I have the same issue

[2020-03-27 12:50] snez commented on #23908
Still a problem on Magento 2.3.4

![image](https://user-images.githubusercontent.com/249977/77757561-1884ec80-703a-11ea-81a0-268132910fe7.png)

Here is the full exception stack trace:

[code]

PHP version 7.2.27

[2020-03-27 12:56] snez commented on #23908
Still an issue on Magento 2.3.4

![image](https://user-images.githubusercontent.com/249977/77758043-fb9ce900-703a-11ea-9397-fc77286cb49d.png)

Here is the full stack trace:

[code]

PHP version 7.2.27

[2020-03-27 13:10] shaLVerma opened #27472 "Magento 2.3 - Square Payments Module not working"
HI,

I have installed and configured Square Payments M2 (https://marketplace.magento.com/square-module-squareup-omni.html) in my website. All things working fine except checkout page. When I filled card details and place order. I am getting this error in checkout page console

{"message":"User Deprecated Functionality: \u001b[33mCalling deprecated API: TransactionsApi.charge\u001b[0m in \/public_h

[2020-03-27 13:25] Lukas713 commented on #7647
Same issue with 2.3.2

[2020-03-27 13:34] #27441 closed, assigned to nobody

[2020-03-27 13:39] engcom-tester opened #27473 "[TEST] TEST ISSUE. Final"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-27 13:42] magento-engcom-team commented on #27473
@engcom-tester Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-03-27 13:43] magento-engcom-team commented on #27473
:white_check_mark: Confirmed by @engcom-tester
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32865` were created

**Issue Available**: @engcom-tester, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-27 13:46] #27473 closed, assigned to engcom-tester

[2020-03-27 14:07] rparsi-boxycharm commented on #24365
@magento-engcom-team that commit doesn't seem to exist...I get a 404 page when attempting to load it.  Can you provide the pr url instead?

[2020-03-27 14:09] gwharton commented on #24365
give it a day. Ive seen it take time for the commits to become visible. There wont be a PR as it was an internal commit.

[2020-03-27 14:51] norgeindian opened #27474 "In the invoice it is not shown, if the invoice email has been sent or not"
### Preconditions (*)

Magento 2.3.4

### Steps to reproduce (*)

1. Create an order
2. Create the corresponding invoice in the backend
3. Open the invoice in the backend and take a look at the header

### Expected result (*)

I would assume to see an information in the header section of the invoice, which informs me if the invoice email has been sent or not. It was this way in Magento 1, it is av

[2020-03-27 15:28] Pictick commented on #27438
This issue doesn't exist on Magento 2.3.1. Somewhere between 2.3.2 and 2.3.4 was this error built into the code.

[2020-03-27 15:52] vbuck opened #27475 "Products loaded unnecessarily during rule validation"
When any integration uses the Magento rule system (even core sales rules), products may be loaded unnecessarily during rule validation.

Reference:  `\Magento\Rule\Model\Condition\AbstractCondition::validate`

### Preconditions (*)

1. Any Magento OS/EE version >= 2.1 ([reference](https://github.com/magento/magento2/blob/2.1.0/app/code/Magento/Rule/Model/Condition/AbstractCondition.php#L849)), may

[2020-03-27 17:51] neerajchand commented on #27469
@magento I am working on it

[2020-03-27 18:56] shikhamis11 commented on #27474
@magento give me 2.4-develop instance

[2020-03-27 18:56] magento-engcom-team commented on #27474
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-27 18:56] magento-engcom-team commented on #27474
Hi @shikhamis11, here is your [Magento instance](https://i-27474-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27474-2-4-develop.instances.magento-community.engineering/admin_5e79](https://i-27474-2-4-develop.instances.magento-community.engineering/admin_5e79)
Login: `0ba49f1c` Password: `f1a98bbb5c9f`
Instance will be terminated in up to 3 hours.

[2020-03-27 19:07] shikhamis11 commented on #27474
Hi @norgeindian
I checked and found the email sent information is there in invoice view on magento 2.4 instance
Please check below image

![image](https://user-images.githubusercontent.com/25526037/77791267-514db180-708c-11ea-9a18-ad8034ead2cf.png)

[2020-03-27 19:34] sprankhub commented on #27474
@shikhamis11 please mind that @norgeindian is talking about the **invoice** email. In your screenshot, I can see that there is a note that the **order** confirmation email was not sent, but nothing is shown regarding the **invoice** email. Could you please double check?

[2020-03-27 20:09] pioneerathletics commented on #26840
Hi,
Since there isn’t an Open Source version, I attempted to separate the patches and remove the extraneous section. Thanks to @hostep for the suggestion.

So here are the two patch files that I separated:

**The payment module patch:**
[code]
**The PayPal module patch:**

[code]
When I applied the patch I didn’t get any installation errors, but I see that a few files didn't patch in the PayPal mo

[2020-03-27 20:09] BreezeMaxWeb-NS opened #27477 "Can't install magento/updater using PHP 7.3"
### Preconditions

Magento 2.3.4 and 2.3.5-p2
PHP 7.3.15 (or 7.3.x)
![image](https://user-images.githubusercontent.com/56093769/77796167-2d1ab200-7045-11ea-97fc-cc858443fd33.png)

### Steps to reproduce

Following the instructions as per: https://devdocs.magento.com/guides/v2.3/comp-mgr/updater/update-updater.html
[code]
![image](https://user-images.githubusercontent.com/56093769/77795846-99e17c80

[2020-03-27 20:40] kanenas commented on #4828
Is this issue resolved? I have a 2.1.5 installation with is problem.

[2020-03-27 21:39] Ctucker9233 commented on #27464
[Google Analytics Set Up](https://drive.google.com/open?id=1ejeN_M7jkdYdFZ6Hgicqt_7yBpHCr2vQ)
[Console Log](https://drive.google.com/open?id=1j-g9N1q-aZdHP9cJ4lGYcQc8nRVBaAPF)

[2020-03-27 21:42] Ctucker9233 commented on #27464
I've put two screenshots there of my Google Analytics configuration and what the console shows. What other sorts of details would be useful?

[2020-03-27 21:55] Ctucker9233 commented on #27464
#12428
Not the first time this issue has been encountered, and apparently never solved

[2020-03-28 01:08] Ctucker9233 commented on #27464
@magento-engcom-team I've tried disabling the Dotmailer Module as suggested by other related issues, that did not work. I think it's the same ad-blocker problem that is mentioned in the related issue I linked. They are marked as solved, but clearly the fix did not solve the problem.

[2020-03-28 05:25] #22833 closed, assigned to lfolco

[2020-03-28 05:28] magento-engcom-team commented on #6310
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#26075 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [2506c0824c4db0819ce4e8519992f21cabdd2a59](https://github.com/magento/magento2/commit/2506c0824c4db0819ce4e8519992f21cabdd2a59)
 - [f6f414b7feb964192742795e2a82e2db042d76ae](https://github.com/magento/magento2/commit/f6f414b7feb964192742795e2a82e2db

[2020-03-28 05:28] #6310 closed, assigned to nobody

[2020-03-28 08:13] vini1996 opened #27480 "magento2.3.4 installation has been stuck at 99%"
### Preconditions (*)

1. magento 2.3.4
2. php 7.3.16

### Steps to reproduce (*)

1. installing a fresh magento setup

### Expected result (*)

1. it should display success message after installation completes

### Actual result (*)

1. Installation is stuck at 99% displaying Installing admin user
![stack](https://user-images.githubusercontent.com/39683802/77818645-09fe0a00-70fa-11ea-89c6-389189a

[2020-03-28 09:53] bharat1811 commented on #24942
I am also facing issue after upgrade such after login store switcher action goes to 404. So, can you please share that changes you made or guide me.

[2020-03-28 10:51] hostep commented on #4828
@kanenas: it was resolved, but not sure if that happened before 2.1.5 was released. However, I would strongly advise you to upgrade to a newer Magento version, version 2.1.5 is really old and no longer supported.

[2020-03-28 11:04] lebigmaque opened #27482 "Configurable products issue Magento 2.3.4."
### Preconditions (*)
Magento 2.3.4 php 7.2

### Steps to reproduce (*)
The problem occurs in the frontend for configurable products.
It only affects configurable products with several selectable attributes.
Almost always no options are displayed in the second or third dropdown menu. However, there are matching products with stock and visibility that are correctly added to the configurable item in

[2020-03-28 11:17] hostep commented on #26840
It seems like some people are having troubles with creating patches for this issue, so I've gone ahead and made a patchset based on https://github.com/magento/magento2/commit/b6b38d54a58dbabc562bd66c14167d44f7778fd7 which can be applied cleanly on Magento OS 2.3.4 with [cweagans/composer-patches](https://github.com/cweagans/composer-patches).

**Be aware**: I only tested if the patch can be applie

[2020-03-28 11:32] hostep commented on #27472
@shaLVerma: this doesn't sound like a core Magento issue, but an issue with the "Square Payments" module, so I have to close it.
Can you contact the owner of the module and try to get it sorted out in that way?
If you check the Q & A section, it looks like this is a known problem:
<img width="726" alt="Screenshot 2020-03-28 at 12 31 12" src="https://user-images.githubusercontent.com/85479/77822127

[2020-03-28 11:32] #27472 closed, assigned to nobody

[2020-03-28 11:37] hostep commented on #27464
@Ctucker9233: do you have an adblocker installed? Some adblockers block google analytics by default. So if you do have one installed, try to disable it and see if the error does still occurs or not. If the error is fixed by disabling the addblocker, it means there is no bug in Magento.

[2020-03-28 11:41] JamesTheHacker opened #27483 "Migrating data from 1.9.3.7 to 2.3.3 duplicates products"
I'm migrating the data from 1.9.3.7 to 2.3.3. The migration is successful. But, when I run: `bin/magento index:reindex` I get the following error:

[code]

If I check the database with the following query: `SELECT * FROM cataloginventory_stock_item WHERE item_id = 2; ` ... there is indeed 2 products with the same ID. Infact, there are duplicate products for every product in the database.

If I run

[2020-03-28 11:54] hostep commented on #27434
I can reproduce the issue as described on Magento OS 2.3.4, but I can't reproduce it on Magento OS 2.4-develop, which most likely means that it got solved and the fix will most likely be included in Magento 2.4.0
Maybe somebody can try to find the commit which fixed this issue by doing some git bisecting?

[2020-03-28 12:57] deepakpant91 opened #27484 "Duplicate mails are coming on order confirmation"
### Preconditions (*)

1. Magento version 2.3.3
2. Website url https://kindercanteen.in/

### Steps to reproduce (*)

1. When you go to checkout and place the order using cod then customer gets two duplicate emails of order confirmation.
2. Cod is available after order amount is above 500.

### Expected result (*)

1. After order place only one confirmation mail will be sent to customer.
2.

### A

[2020-03-28 13:03] elisei opened #27485 "Try to obtain the values of VatId, StreetLine 3 and 4 in your Gateway/Request/*"
### Preconditions (*)

1. Magento Open Source 2.3.4 (perhaps earlier versions as well).
2. The payment method tries to obtain address information, but there are no methods in the AddressAdapter (under quotation or order).

### Steps to reproduce (*)

1. Try to obtain the values of VatId, StreetLine 3 and 4 in your Gateway/Request/*...

[code]

Using the payment gateway of the sample module you can

[2020-03-28 13:09] engcom-Bravo commented on #26517
Hello @heavyrahul

Thank you for your comment.

Which version of Magento are you facing the issue with? (2.2, 2.3...)

Thank you in advance

[2020-03-28 18:13] hoangnm89 opened #27489 "JS validate: show many messsages for Bundle product with checkbox option"
### Preconditions (*)

1. Fresh Magento 2.3.4

### Steps to reproduce (*)

1. Create bundle product
2. Add option. Option Name: anything; Input Type: Checkbox; Required
3. Add product to Option
4. Add to cart on store front.
5. From validate if no option selected.
![image](https://user-images.githubusercontent.com/655821/77830288-1c0f9500-715a-11ea-8f3d-e3c0b5cd1050.png)

### Expected result (*)

[2020-03-28 22:23] Ctucker9233 commented on #27464
@hostep That works for me, but what about any potential customers that choose to have ad-blockers or tracking blockers?

[2020-03-28 22:26] cadencelabs-master commented on #17951
I wrote a post about this, but I wanted to note that I believe there is an issue in the documentation. If you look at this file: vendor/magento/framework-message-queue/CallbackInvoker.php

You will see that Magento 2 actually makes the default for this setting **1** (contrary to the documentation)
[code]

--- I had to force the setting to be 0 by adding the below to env.php:
[code]

After doing th

[2020-03-29 03:40] tna274 commented on #27439
@magento give me 2.4-develop instance

[2020-03-29 03:40] magento-engcom-team commented on #27439
Hi @tna274. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-29 03:41] magento-engcom-team commented on #27439
Hi @tna274, here is your [Magento instance](https://i-27439-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27439-2-4-develop.instances.magento-community.engineering/admin_a5f9](https://i-27439-2-4-develop.instances.magento-community.engineering/admin_a5f9)
Login: `e25a5f02` Password: `cfa77553d6d6`
Instance will be terminated in up to 3 hours.

[2020-03-29 05:09] krishprakash commented on #27489
@magento give me 2.4-develop instance

[2020-03-29 05:09] magento-engcom-team commented on #27489
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-29 05:10] magento-engcom-team commented on #27489
Hi @krishprakash, here is your [Magento instance](https://i-27489-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27489-2-4-develop.instances.magento-community.engineering/admin_db57](https://i-27489-2-4-develop.instances.magento-community.engineering/admin_db57)
Login: `786f1873` Password: `2f3a81208d18`
Instance will be terminated in up to 3 hours.

[2020-03-29 05:23] magento-engcom-team commented on #27489
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32888` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-29 05:24] krishprakash commented on #27489
Here is the similar issue for Wish list  #26898

[2020-03-29 05:29] krishprakash commented on #27483
Hi @JamesTheHacker.
Data Migration from M1 to M2 related issues should be reported it's separate repository.
https://github.com/magento/data-migration-tool/issues
Thank you !!

[2020-03-29 05:29] #27483 closed, assigned to krishprakash

[2020-03-29 07:59] magedev218 commented on #21144
I am still facing the same issue on Magento version 2.3.3. I have selected YES for Enable Automatic Assignment to Customer Group for Guest Customer with valid VAT ID. Also patch doesnot works for me.

Does any one have solution?

[2020-03-29 08:05] magedev218 opened #27490 "Can't change customer group when placing an admin order"
When ordering in the admin, we can't change the customer group when creating a new customer while creating an order.

**Preconditions**
- Magento 2.3.4
- Several Customer Groups created

**Steps to reproduce**
- In Admin System > Configurations > Customers > Customer Configurations > Create New Account Options > Enable Automatic Assignment to Customer Group >> Select YES
- In Admin Sales > Orders.

[2020-03-29 10:37] hostep commented on #27464
Well, if they choose not to be tracked, then they won't be tracked, it's their choice.
Shop owners should not assume that frontend javascript tracking services will be 100% accurate, because they never will be.

[2020-03-29 10:38] #27464 closed, assigned to nobody

[2020-03-29 12:48] krishprakash commented on #27490
@magento give me 2.4-develop instance

[2020-03-29 12:48] magento-engcom-team commented on #27490
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-29 12:48] magento-engcom-team commented on #27490
Hi @krishprakash, here is your [Magento instance](https://i-27490-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27490-2-4-develop.instances.magento-community.engineering/admin_0f13](https://i-27490-2-4-develop.instances.magento-community.engineering/admin_0f13)
Login: `bcd8c681` Password: `0232603667ac`
Instance will be terminated in up to 3 hours.

[2020-03-29 13:03] magento-engcom-team commented on #27490
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32889` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-29 14:51] davidalger commented on #19469
@o-iegorov  I'm nearly certain this portion of your recent statement is factually incorrect. The logic in this recurring data upgrade (the "fixed" version in 2.4) doesn't account for schedule vs realtime separately, it simply calls `reindexAll` when it believes the indexer should be run:
https://github.com/magento/magento2/commit/0fd8a5146cdf4e524150e68f89085d90f0d42be3#diff-0ac6816ed3ec11b7a9c597

[2020-03-29 14:59] tna274 commented on #27439
@magento give me 2.4-develop instance

[2020-03-29 14:59] magento-engcom-team commented on #27439
Hi @tna274. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-29 15:00] magento-engcom-team commented on #27439
Hi @tna274, here is your [Magento instance](https://i-27439-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27439-2-4-develop.instances.magento-community.engineering/admin_a558](https://i-27439-2-4-develop.instances.magento-community.engineering/admin_a558)
Login: `b027f5c6` Password: `f2b1919fffb3`
Instance will be terminated in up to 3 hours.

[2020-03-29 15:06] Aquarvin commented on #8285
I am having the same issue while trying to use a plugin forMagento\Framework\Encryption\Encryptor in Magento 2.3.4.
Is there a solution or a workaround? Thanks!

[2020-03-29 15:06] rejoe commented on #26352
Please share the patch applied in the Mageplaza_PdfInvoice module

[2020-03-29 15:15] hostep commented on #19469
I agree with @davidalger, an extra condition in the if should be added to prevent a synchronous reindex action when the indexer is set to `schedule` mode. Because it's not necessary and it will be picked up asynchronously anyways.

But this is a mini optimisation, the chances of having an invalid customer grid indexer while running `bin/magento setup:upgrade` aren't that big probably.

[2020-03-29 16:50] brusMX commented on #26762
Thanks @gcampedelli !
I also got this bug while on my install not specifying `db-ssl-key` nor `db-ssl-cert` or me the command that fixed my install was to put those flags with an empty string:

[code]

[2020-03-29 17:02] Zyles commented on #26352
Email their support.

[2020-03-29 23:41] Stepa4man commented on #27485
@elisei I don't see any issue here.
I close until you provide a clear explanation of why is it an issue.

[2020-03-29 23:41] #27485 closed, assigned to nobody

[2020-03-30 02:03] shakilimran commented on #27456
Also, Proxy should be enable to reproduce this issue.

[2020-03-30 04:01] rejoe commented on #26352
We are not using there module but we have implemented a PDF attachment functionality in a custom email, which triggers after place order. Now the order emails are not generating. Getting the following error in maillog  status=bounced (host email-smtp.us-east-1.amazonaws.com[3.226.108.202] said: 554 Transaction failed: Expected disposition, got = (in reply to end of DATA command))
We are using Mage

[2020-03-30 08:44] palviggi-flagbit commented on #24942
@bharat1811 in the end it didn't made much difference, so I just left in the patch that removes the HashGenerator class from module-store/etc/di.xml at the end.

When I have time this week I'll create a patch with my debug changes in case someone wants to test it further

[2020-03-30 09:01] lokeshvnaik commented on #27460
Hi @ajijshekh123,

Did you check on Magento CE 2.3.3?

[2020-03-30 09:37] sudheers-kensium commented on #27484
@deepakpant91 this not core Magento issue, maybe issue with your custom or third-party modules. Please disable custom/third-party modules and check once.

[2020-03-30 09:57] ihor-sviziev commented on #19469
@davidalger @hostep I do agree with you that it's not perfect solution, it could be improved, but it significantly improves situation when no customer attributes were affected. Feel free to create Pull Request with improvement based on your suggestions.

[2020-03-30 10:49] vasilii-b opened #27496 "The store logo is missing when using the Magento_blank theme"
### Preconditions (*)
1. Magento 2.4-develop
2. Access to the admin area

### Steps to reproduce (*)

1. Go to the admin area
2. Go to the Content -> Design -> Configuration
3. Open the global store and set the default theme to be `Magento_blank`.
4. The other store configuration should be intact.
5. Flush the caches
6. Open the storefront (Homepage)
7. See the logo is not visible

### Expected re

[2020-03-30 10:51] sudheers-kensium commented on #27496
@magento give me 2.4-develop instance

[2020-03-30 10:51] magento-engcom-team commented on #27496
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-30 10:51] magento-engcom-team commented on #27496
Hi @sudheers-kensium, here is your [Magento instance](https://i-27496-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27496-2-4-develop.instances.magento-community.engineering/admin_9efc](https://i-27496-2-4-develop.instances.magento-community.engineering/admin_9efc)
Login: `2a0650e5` Password: `4774dad1f8a2`
Instance will be terminated in up to 3 hours.

[2020-03-30 10:52] Zyles commented on #26352
https://github.com/mageplaza/magento-2-smtp/issues/199#issuecomment-572391180

[2020-03-30 10:59] vasilii-b commented on #27496
@magento give me 2.3 instance

[2020-03-30 11:01] magento-engcom-team commented on #27496
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-03-30 11:02] vasilii-b commented on #27496
I'll work on the issue

[2020-03-30 11:02] magento-engcom-team commented on #27496
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32895` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-30 11:16] sudheers-kensium commented on #27480
@vini1996 Maybe that will take some to complete, this is not an issue. I have installed without any issue in my local system.

[2020-03-30 11:17] sudheers-kensium commented on #27480
@vini1996 Maybe that will take some to complete, this is not an issue. I have installed without any issue in my local system.

[2020-03-30 11:36] theabeing commented on #22419
maybe this helps: https://magento.stackexchange.com/questions/216029/magento-2-catalog-product-edit-save-button-not-working/309221#309221

[2020-03-30 11:43] sudheers-kensium commented on #27452
@atIOCrON  I am not able to reproduced this issue. Can you please provide more details/payment settings.

[2020-03-30 11:43] maddyBoy commented on #25872
@sdzhepa ,

Is there any update or patch for this.

Thank You.

[2020-03-30 11:52] elisei commented on #27485
Hello, I try to get three native information from the platform in my payment method, but they have no return in your API.

You can reproduce this error by injecting the code that I passed in your sample module to a payment gateway:

https://github.com/magento/magento2-samples/blob/master/sample-module-payment-gateway/Gateway/Request/AuthorizationRequest.php#L46

[2020-03-30 11:54] sudheers-kensium commented on #27453
@atIOCrON I am not able to reproduced this issue on Magento give me 2.4-develop instance. Can you please provide more details/payment settings Or if you install any custom module please disable and check.

[2020-03-30 12:00] sudheers-kensium commented on #27452
@atIOCrON For Amex card cvv is 4 digits

[2020-03-30 12:52] sudheers-kensium commented on #27484
Closing, because this is not a core bug of Magento.

[2020-03-30 12:52] #27484 closed, assigned to nobody

[2020-03-30 13:15] neerajchand commented on #27489
@magento give me 2.4-develop instance

[2020-03-30 13:15] magento-engcom-team commented on #27489
Hi @neerajchand. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-30 13:16] magento-engcom-team commented on #27489
Hi @neerajchand, here is your [Magento instance](https://i-27489-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27489-2-4-develop.instances.magento-community.engineering/admin_8bc1](https://i-27489-2-4-develop.instances.magento-community.engineering/admin_8bc1)
Login: `d03137ef` Password: `a7f8bbd9e907`
Instance will be terminated in up to 3 hours.

[2020-03-30 13:48] #27480 closed, assigned to sudheers-kensium

[2020-03-30 14:44] o-iegorov commented on #19469
@davidalger I din't say nothing about indexer mode. Moreover, customer grid indexer doesn't support update by schedule - https://docs.magento.com/m2/ce/user_guide/system/index-management.html It's recall reindex when state is invalid, that's correct behavior. When indexer is in invalid sate magento cron job will perform full reindex indexer with any kind of update mode.

[2020-03-30 14:45] o-iegorov commented on #19469
@hostep please refer my prev comment - customer grid indexer doesn't support update by schedule

[2020-03-30 14:46] lbajsarowicz opened #27500 "Unit Tests incompatible with PHPUnit 8"
Magento is slowly moving towards the latest dependencies in the PHP world. Part of this is to have (at least) supported version of PHPUnit ( https://phpunit.de/supported-versions.html )

### Preconditions (*)
1. Current Unit, Integration and API functional tests are not compatible with PHPUnit 8

### Steps to reproduce (*)
1. Install PHPUnit 8 on separate directory and run Unit Tests from Magento

[2020-03-30 15:42] lenaorobei commented on #25835
Closing this issue since it can be resolved by configuring `sys_temp_dir` PHP setting.

[2020-03-30 15:43] davidalger commented on #19469
@o-iegorov Where do you see customer grid index only supports index on save? I have this index running in production today in schedule mode. This is an index using the materialized view patterns in M2, and it would make little sense for it to only support On Save.

This may be correct, but what I'm saying is that what the _upgrade_ does is call `reindexAll` which does not mark the index as invalid

[2020-03-30 16:34] thietdv commented on #9542
Hello @alloylab , can you share your extending classes? I have the same issue here with Magento 2 under a load balancer.

Thank you so much,

[2020-03-30 17:40] lbajsarowicz opened #27503 "MFTF: Acceptance tests break the naming convention"
### Preconditions (*)
All the Magento Functional Testing Framework should follow Technical Guidelines:
https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html#113-functional-testing

### Steps to reproduce (*)
1. Generate tests with `vendor/bin/mftf generate:test -f`

### Expected result (*)
1. No naming violations detected

### Actual result (*)
1. NOTICE: 165 Section n

[2020-03-30 17:48] o-iegorov commented on #19469
@davidalger  Please read carefully provided link:
![image](https://user-images.githubusercontent.com/18546912/77943804-7b1cf900-7283-11ea-9838-4ce26c956606.png)

It's works just because it's invalidated and reindexed in background by cron job. There are no mview processor for this indexer just dummy.

Upgrade call reindexAll in case when indexer is invalid, that a rare case for production. In case

[2020-03-30 17:49] yutv opened #27504 "JoinProcessor caching issue"
### Preconditions (*)
1. Magento Open Source **2.4-develop**
2. PHP 7.3 - PHP 7.4

### Steps to reproduce (*)

1. Add a module with [JoinProcessor](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/searching-with-repositories.html#join-processor) for the OrderRepository using the files below:
    <details><summary>app/code/SomeVendor/SomeModule/registration.php</summary>

[code]
    </de

[2020-03-30 17:55] davidalger commented on #19469
@o-iegorov Very interesting. I missed that note on the page. Thanks for the followup. Also g2k regarding 2.3.6 release. 👍

[2020-03-30 18:37] eduard13 commented on #19623
Wasn't able to reproduce this one on the latest version.
![image](https://user-images.githubusercontent.com/15868188/77948757-8fd2ae80-72ce-11ea-851f-775981a50b5c.png)
Most probably was fixed in scope of #20146.
Closing this one as not being actual anymore.
Thank you.

[2020-03-30 18:37] #19623 closed, assigned to nobody

[2020-03-30 18:46] jaywilliams commented on #27112
Here's a simple patch I used to help fix this issue on Magento 2.3.4:

[code]

[2020-03-30 19:03] SamJUK opened #27505 "Shipping Method Estimator not working with custom address attributes"
### Preconditions (*)

1. Magento 2.3.4 with Sample data
2. A module that declares a custom attribute for as per instructions from dev docs (https://devdocs.magento.com/guides/v2.3/howdoi/checkout/checkout_new_field.html#add)

### Steps to reproduce (*)

1. Install a module that adds a custom address attribute (either follow the [dev docs](https://devdocs.magento.com/guides/v2.3/howdoi/checkout/ch

[2020-03-30 19:52] msramanujam commented on #17292
I'm seeing the exact same issue on Magento CE 2.3.4. I am able to sign in to the backend with my credentials but I am unable to use the same credentials to request Admin tokens through the rest api. I have another server running 2.3.4 and I don't have this issue on that machine.

[2020-03-30 20:09] paliarush commented on #27337
@atwixfirster, thank you for the proposal.

How about removing wrapper for the input (having `email` as an argument directly)? Such approach will be consistent with https://github.com/magento/architecture/blob/master/design-documents/graph-ql/extensibility.md

Also, why do we need `message` field in the response? How about removing it?

Could I ask you to create a PR with the proposed GraphQL sche

[2020-03-30 20:22] atwixfirster commented on #27337
Hi, @paliarush !

First of all thank you for your review.

Ok. I will.

My proposition has been created by the existing [DevDocs documentation](https://devdocs.magento.com/guides/v2.3/graphql/develop/resolvers.html):

<img width="1455" alt="01" src="https://user-images.githubusercontent.com/13585327/77957701-8e0fe780-72dc-11ea-8feb-b8740e04e11a.png">

The idea of `message` is display message to us

[2020-03-30 22:04] Stepa4man commented on #25227
It's not an issue.

If merchant disables review functionality he has to expect that somebody who is in the progress of submitting a review wants to be able to finish it.
I think interrupting customers during this action is bad user experience.
In case if the review form would be opened for a too long time - form key just will be invalidated.

[2020-03-30 23:33] Zyles opened #27506 "Viewport resizing on search input focus on iphone"
When you click the search input box the viewport changes size and the layout breaks using iphone and luma theme.

### Preconditions (*)

1. Magento 2.3.3
2. Luma theme
3. Iphone / Safari

### Steps to reproduce (*)

1. Navigate to luma demo with iphone and safari
2. Click search icon
3. Click search input

### Expected result (*)

Should not resize the view and cause sidescrolling.

### Actual res

[2020-03-30 23:55] atIOCrON commented on #27452
Hi @sudheers-kensium, can you please share a screenshot showing that you were unable to reproduce the issue?

[2020-03-31 00:02] atIOCrON commented on #27453
@sudheers-kensium settings attached. Did you test on 2.3.4?

![braintree-settings](https://user-images.githubusercontent.com/19744729/77973141-1aeb8d00-733f-11ea-92b8-c5a52163afd8.jpg)

[2020-03-31 00:03] atIOCrON commented on #27452
@sudheers-kensium settings attached.

![braintree-settings](https://user-images.githubusercontent.com/19744729/77973156-2b036c80-733f-11ea-869c-d5854e80316f.jpg)

[2020-03-31 05:04] renard123 opened #27507 "Up/down does not functioning at create configuration popup"
Up/down does not functioning at create configuration popup

### Preconditions (*)
Magento 2.3.4
Chrome: Version 80.0.3987.163
OS: Windows 7

### Steps to reproduce (*)

1. Admin -> Catalog -> Products
2. Add Configurable product
3. Create Configuration
4. Create New Attribute
5. Open all section

### Expected result (*)
It should work fine

### Actual result (*)
Not functioning

[2020-03-31 05:05] krishprakash commented on #27507
@magento give me 2.4-develop instance

[2020-03-31 05:05] magento-engcom-team commented on #27507
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-31 05:06] magento-engcom-team commented on #27507
Hi @krishprakash, here is your [Magento instance](https://i-27507-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27507-2-4-develop.instances.magento-community.engineering/admin_b780](https://i-27507-2-4-develop.instances.magento-community.engineering/admin_b780)
Login: `ef2a07bd` Password: `cdced6548ac3`
Instance will be terminated in up to 3 hours.

[2020-03-31 05:13] magento-engcom-team commented on #27507
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32930` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-31 06:15] sudheers-kensium commented on #27452
@atIOCrON Please check the screenshots.
![image](https://user-images.githubusercontent.com/50358141/77993110-10cc8d00-7345-11ea-8284-d44304bb0e21.png)
![image](https://user-images.githubusercontent.com/50358141/77993124-175b0480-7345-11ea-85f9-c554ff115067.png)

[2020-03-31 06:15] jerome-zhang opened #27508 "Attributes not showing up when creating Product Configurations"
**Summary**

When we try to assign simple products to a configurable product, not all the product attributes show in the attribute grid of 'Step 1: Select Attributes'. You have to switch the pagination to show 200 items to make all the attributes appear.

### Preconditions (*)

1. Install Magento version 2.3.4
2. Have sample data installed

### Steps to reproduce (*)

1. Login to Magento Admin
2.

[2020-03-31 06:17] sudheers-kensium commented on #27453
@atIOCrON I have verified on Magento 2.3.4.

![image](https://user-images.githubusercontent.com/50358141/77993213-45404900-7345-11ea-9167-3dc9fe3155dc.png)
![image](https://user-images.githubusercontent.com/50358141/77993223-4a9d9380-7345-11ea-9559-049991f77e87.png)
![image](https://user-images.githubusercontent.com/50358141/77993252-5d17cd00-7345-11ea-8dad-7966924dc927.png)

[2020-03-31 07:14] ajijshekh123 commented on #27508
@magento give me 2.4-develop instance

[2020-03-31 07:14] magento-engcom-team commented on #27508
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-31 07:15] magento-engcom-team commented on #27508
Hi @ajijshekh123, here is your [Magento instance](https://i-27508-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27508-2-4-develop.instances.magento-community.engineering/admin_f46c](https://i-27508-2-4-develop.instances.magento-community.engineering/admin_f46c)
Login: `acc70c0b` Password: `c59d6c38de4f`
Instance will be terminated in up to 3 hours.

[2020-03-31 07:43] ajijshekh123 commented on #27508
Hi @jerome-zhang ,
I have verified this issue as per your steps, actual result and expected result.
I can't able to verify this issue in the Latest Magento 2.4 Instance.
Please see attached screenshot:

![Attributecount_Issue](https://user-images.githubusercontent.com/24711761/78000056-4b3c2700-7351-11ea-9c23-f88db176e495.png)

Can you please share the video? I will verify this issue.

Thanks.

[2020-03-31 08:13] chdzma commented on #10821
The solution of @blob84 worked for me on Magento 2.3.4.

Thanks

[2020-03-31 08:17] ajijshekh123 commented on #27460
Hi @lokeshvnaik ,
I have verified this issue Magento CE 2.3.3. This issue is reproduced.
**See attached the screenshot:**

![1](https://user-images.githubusercontent.com/24711761/78003270-0666bf00-7356-11ea-82ba-8a3725d04be4.png)

![2](https://user-images.githubusercontent.com/24711761/78003273-08308280-7356-11ea-9bb8-a40188f2fb85.png)

![3](https://user-images.githubusercontent.com/24711761/78003

[2020-03-31 08:30] Jilco commented on #27396
Is there some progress? Because the wishlist is not useable now :-(

[2020-03-31 09:10] jerome-zhang commented on #27508
@ajijshekh123 , can you try to add more attributes, i am assuming only 3 will be shown?

[2020-03-31 09:14] jerome-zhang commented on #27508
@ajijshekh123 here is the video: https://www.screencast.com/t/WuUuxo6s3p

[2020-03-31 09:35] ProkopovVitaliy commented on #27439
@mageho I'll work on the issue

[2020-03-31 10:01] vbyno commented on #27402
@magento give me 2.4-develop instance

[2020-03-31 10:01] magento-engcom-team commented on #27402
Hi @vbyno. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-31 10:02] ajijshekh123 commented on #27508
@jerome-zhang - Please review the below video:
https://drive.google.com/file/d/1xKZUQwA0WyjXDfYtAXpk50F5gveYjrNG/view?usp=sharing
Still, This issue is not reproduced.

Thanks.

[2020-03-31 10:02] magento-engcom-team commented on #27402
Hi @vbyno, here is your [Magento instance](https://i-27402-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27402-2-4-develop.instances.magento-community.engineering/admin_b55c](https://i-27402-2-4-develop.instances.magento-community.engineering/admin_b55c)
Login: `8e01c20d` Password: `50fd545925b0`
Instance will be terminated in up to 3 hours.

[2020-03-31 11:10] yesman2104 opened #27511 "2.2.3 - 'Send Order Email Copy To' field just sent with the first email"
**Preconditions (*)**
Magento 2.2.3
Send order email copy after order success

**Steps to reproduce (*)**
Stores->configuration->sales->Order-> Input value like this "a@example.com,b@example.com,c@example.com"
 for "Send Order Email Copy" field

**Expected result (*)**
All email input in field need to receive email order confirmation .

**Actual result (*)**
Just only send email confirm to The fir

[2020-03-31 11:16] DenisFaltsman opened #27512 "Magneto 2.3.4 EE: date picker Bug in Orders section"
### Preconditions (*)
Detected on Magento EE 2.3.4

1. 2.3.4

### Steps to reproduce (*)

1. Go to the Sales -> Orders
2. Click the Filters Button
3. Choose Purchase date
4. When you choosed date, for example today, you get something like Mar 31, YYYY, H:03:SS A

### Expected result (*)

1. You expect to get something like 31/03/2020 or Mar 31, 2020, 12:03:02

### Actual result (*)

1. Mar 31, YYY

[2020-03-31 11:19] ajijshekh123 commented on #27512
@magento give me 2.4-develop instance

[2020-03-31 11:19] magento-engcom-team commented on #27512
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-31 11:20] magento-engcom-team commented on #27512
Hi @ajijshekh123, here is your [Magento instance](https://i-27512-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27512-2-4-develop.instances.magento-community.engineering/admin_caf8](https://i-27512-2-4-develop.instances.magento-community.engineering/admin_caf8)
Login: `50c3f6cf` Password: `b7e152f9dac3`
Instance will be terminated in up to 3 hours.

[2020-03-31 11:23] DenisFaltsman commented on #27512
I'd like to repeat, it detected on Enterprise version

[2020-03-31 11:26] DenisFaltsman commented on #27512
![image](https://user-images.githubusercontent.com/26545991/78021298-9eb37280-735b-11ea-939b-9a195d58055e.png)

[2020-03-31 11:35] ajijshekh123 commented on #27512
Hi @DenisFaltsman,
This issue is not reproduced in the Magento CE 2.4 Instance. If this issue reproduced on the Enterprise edition. You should move this issue to the Enterprise edition.

[2020-03-31 11:43] DenisFaltsman commented on #27512
Hi @ajijshekh123 , how I can move it to Enterprise Edition?

[2020-03-31 12:07] ajijshekh123 commented on #27512
@sdzhepa - Can you please move this issue in the Enterprise Solution.
@DenisFaltsman - @sdzhepa He is a QA Specialist for the Magento Partner.

Thanks.

[2020-03-31 12:11] konarshankar07 commented on #27503
I'm working on Magento/Indexer module

[2020-03-31 12:11] kms-engineer opened #27513 "When using the api method "salesShipOrderV1", the order data is not included in the email template."
### Summary (*)
When using the api method "salesShipOrderV1", the order data is not included in the email template. If you specify "notify": true.

### Proposed solution
My hot fix:
Created observer on "email_shipment_set_template_vars_before" event.

class ShipmentEmailSenderObserver implements ObserverInterface
{
    public function execute(\Magento\Framework\Event\Observer $observer)
    {

[2020-03-31 12:12] mykyta-kotenko commented on #27513
Yes

[2020-03-31 12:51] bnymn opened #27514 "Which files to push VCS (i.e. git)"
### Summary (*)

When we create a new project with composer, Magento brings a lot of files and folders to the table.  If we use the default Magento .gitignore, we push a lot of files to the version control system. It is ~150MB. However, based on my experiences, I can say that we never need to change any files except `app/code`, `app/design`, `composer.json` and `composer.lock`.

Do we really need

[2020-03-31 13:34] sdzhepa commented on #26680
Hello @lalvesoliveira

Are you still working on this issue?
If not please remove yourself from the assignment list, other guys ready to work on this issue.

Thank you in advance!

[2020-03-31 13:45] sdzhepa commented on #27512
Hello @DenisFaltsman

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at

[2020-03-31 15:16] paul-blundell opened #27518 "Filtering by url_key doesn't work in GraphQL Products Query"
### Preconditions
1. Magento 2.3.4

### Steps to reproduce
1. Create a product and set the url key to 'my-test-product'
2. Submit the following Graph QL query:
[code]

### Expected result
Only that single product should be returned in the items

### Actual result
All products are returned. url_key is completely ignored.

[2020-03-31 15:18] paul-blundell commented on #27518
@magento give me 2.3.4 instance

[2020-03-31 15:18] magento-engcom-team commented on #27518
Hi @paul-blundell. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-31 15:19] magento-engcom-team commented on #27518
Hi @paul-blundell, here is your [Magento instance](https://i-27518-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27518-2-3-4.instances.magento-community.engineering/admin_0b63](https://i-27518-2-3-4.instances.magento-community.engineering/admin_0b63)
Login: `ea2f7963` Password: `111562a3dcf7`
Instance will be terminated in up to 3 hours.

[2020-03-31 15:24] paul-blundell commented on #27518
Unable to reproduce on the fresh instance.

This must be an issue somewhere in my local install.

[2020-03-31 15:24] #27518 closed, assigned to nobody

[2020-03-31 15:42] paul-blundell commented on #27518
If anyone runs into this same issue, it would appear to be a problem with the M1 migration tool. The product url_key attribute had the Use in Search value set to No. Changing this to Yes fixed my issue.

[2020-03-31 16:40] progreg commented on #27507
@magento give me 2.4-develop instance

[2020-03-31 16:40] magento-engcom-team commented on #27507
Hi @progreg. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-31 16:40] magento-engcom-team commented on #27507
Hi @progreg, here is your [Magento instance](https://i-27507-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27507-2-4-develop.instances.magento-community.engineering/admin_ec90](https://i-27507-2-4-develop.instances.magento-community.engineering/admin_ec90)
Login: `7f12c01a` Password: `c982dad1a710`
Instance will be terminated in up to 3 hours.

[2020-03-31 17:18] lbajsarowicz commented on #27514
Have you tried Google?
https://www.google.com/search?q=magento+gitignore+file

- https://gist.github.com/yireo/744edcb4c70d33514ca35ebb14902056
- https://inchoo.net/magento/programming-magento/git-ignore-gitignore-file-for-magento-project/
- https://github.com/davidalger/warden-env-magento2/blob/develop/.gitignore

[2020-03-31 17:47] bnymn commented on #27514
Hi @lbajsarowicz,

Yes, of course, I have tried Google. I have also put a reference to `.gitignore` file from Magento Cloud.

I have created this issue to update the default `.gitignore` file coming from the fresh Magento installation.

[2020-03-31 18:31] deepakpant91 commented on #27484
@sudheers-kensium i have disabled all extensions but duplicate emails are still coming

[2020-03-31 19:44] rparsi-boxycharm commented on #24365
@magento-engcom-team It's been several days...please post a working (publicly accessible) url for the related commit(s)

[2020-03-31 19:57] lbajsarowicz opened #27523 "CLI Patch Generator: Lack of information what path cannot be created"
### Preconditions (*)
1. When running CLI `setup:db:generate-patch` I'd like to know details of failure

### Steps to reproduce (*)
1. `setup:db:generate-patch My_Module PatchName`

### Expected result (*)
1. Information what path was used to create patch.

### Actual result (*)
1. ![image](https://user-images.githubusercontent.com/1639941/78069491-7bf47e80-739a-11ea-8555-a6424e695b57.png)

### Ad

[2020-03-31 19:58] gwharton commented on #24365
Ahhh. I wonder if it is because 2.3-develop is hidden from us users.

[2020-03-31 20:04] duffner commented on #11527
@saderra, I'm also getting reports of this same issue.  @magento-engcom-team, do you have any thoughts on this?

[2020-03-31 20:16] naydav opened #29101 "If multiple stores exist under a specific website, user is logged into the default website for that store"
### Update on June 24 2020
After triaging and discussion with Product Manager all cases from
- One WebSite but several stores: https://github.com/magento/magento2-login-as-customer/issues/58#issuecomment-645346480
- Several Websites: https://github.com/magento/magento2-login-as-customer/issues/58#issuecomment-645436814

Were defined new requirements that should help to fix and clarify expected res

[2020-03-31 20:21] BtotheT commented on #7710
@shavounet thank you for providing the plugin code you used - that was the ONLY one that worked for a Cloud 2.3.3 instance!

[2020-03-31 23:23] adarshkhatri commented on #5665
How do I do it without editing the core file?
I know I could do this in my module:

[code]

But I see there is another observer given same name `bundle_observer`

[code]

**Can anyone confirm disabling as I mentioned above will not break anything else.**

[2020-04-01 01:07] jerome-zhang commented on #27508
Hi @ajijshekh123 , can you try 20 per page in your demo?

[2020-04-01 05:05] ajijshekh123 commented on #27508
Okay @jerome-zhang , Let me try and update you.

[2020-04-01 05:44] vbyno commented on #27402
@magento give me 2.4-develop instance

[2020-04-01 05:44] magento-engcom-team commented on #27402
Hi @vbyno. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-01 05:45] magento-engcom-team commented on #27402
Hi @vbyno, here is your [Magento instance](https://i-27402-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27402-2-4-develop.instances.magento-community.engineering/admin_5e01](https://i-27402-2-4-develop.instances.magento-community.engineering/admin_5e01)
Login: `2fc49d19` Password: `f7a3725d1334`
Instance will be terminated in up to 3 hours.

[2020-04-01 07:09] naveedabbas commented on #26840
I am facing the same issue and I am using Mangento OS version 2.2.8. Is there a patch available for the Magento OS 2.2.8 as well?

[2020-04-01 07:10] vbyno opened #27524 "No "inventory" section in menu [2.4-develop instance]"
2.4-develop instance

### Preconditions (*)

Magento 2.4-develop instance (vanilla installation)

### Steps to reproduce (*)

1. Go to Stores in main menu

### Expected result (*)

Inventory section to be present
![image](https://user-images.githubusercontent.com/2923624/78108914-ecce8180-7400-11ea-82eb-c034bf23b029.png)

### Actual result (*)

No inventory section
![image](https://user-images.git

[2020-04-01 07:12] magento-engcom-team commented on #27474
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32976` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-01 07:37] sudheers-kensium commented on #27524
@magento give me 2.4-develop instance

[2020-04-01 07:37] magento-engcom-team commented on #27524
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-01 07:37] magento-engcom-team commented on #27524
Hi @sudheers-kensium, here is your [Magento instance](https://i-27524-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27524-2-4-develop.instances.magento-community.engineering/admin_2b69](https://i-27524-2-4-develop.instances.magento-community.engineering/admin_2b69)
Login: `0234f0de` Password: `28e742e99472`
Instance will be terminated in up to 3 hours.

[2020-04-01 07:41] gwharton commented on #26302
Some people do sell products in decimals. There is a setting for it in advanced inventory.

[2020-04-01 07:47] Jesper-nordico opened #27525 "Hey Magento fix you own website!"
I can't post any where else sines i need to login and i can't so it goes.

Setup a new password and you got this error.

![Screenshot 2020-04-01 at 09 40 40](https://user-images.githubusercontent.com/19176144/78111852-9744a580-73fd-11ea-8dba-530758b0e4f5.png)

[2020-04-01 08:36] magento-engcom-team commented on #27524
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32978` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-01 08:50] scne commented on #13765
up!!

[2020-04-01 08:59] k4emic commented on #13765
@scne Can you provide a screenshot of the dev tools network tab showing this is still a problem?

[2020-04-01 09:07] scne commented on #13765
@k4emic
![image](https://user-images.githubusercontent.com/9977806/78119549-e6440800-7408-11ea-8775-f39f54ffcf78.png)

[2020-04-01 10:09] Zyles commented on #26302
There is no such thing in Magento 2. Maybe you mean MSI. And we do not use it and still have decimals.

[2020-04-01 10:23] gwharton commented on #26302
Stock Magento 2

![image](https://user-images.githubusercontent.com/30697781/78126834-0d9bd480-740b-11ea-8f0b-4cd1aad56c2f.png)

![image](https://user-images.githubusercontent.com/30697781/78126897-24422b80-740b-11ea-9d23-2d7f65034d67.png)

[2020-04-01 10:26] gwharton commented on #26302
People may sell products by other attributes such as volume, or length, where decimals in quantity is important. The PR raised against this issue needs to be updated so it checks the value of that setting for each product before determining whether it should be displayed as an integer or decimal.

[2020-04-01 10:45] Zyles commented on #26302
Let me repeat myself.

There is no "Advanced Inventory"

Why you are mixing MSI into this issue is unclear.

[2020-04-01 10:48] Zyles commented on #26302
Now I see where you get "Advanced Inventory" from. On the product. But it still is not right;

![image](https://user-images.githubusercontent.com/1741593/78128945-0d093b00-7417-11ea-946b-2ef6c680602d.png)

![image](https://user-images.githubusercontent.com/1741593/78128964-15617600-7417-11ea-9dc0-e1fa5e914a4f.png)

![image](https://user-images.githubusercontent.com/1741593/78128996-24482880-7417-1

[2020-04-01 10:54] gwharton commented on #26302
Yes, We are arguing for the same thing i think.

"Qty Use Decimals" = "No" THEN quantity input validation="int" ✅ AND Grid should display "3" ❌
"Qty Use Decimals" = "Yes" THEN quantity input validation="float" ✅ AND Grid should display "3.0000" ✅

The referenced PR does not implement the above.

[2020-04-01 11:20] aqdennis commented on #14849
Are you sure it's fixed, because I'm still having this in version 2.3.2 ??

[2020-04-01 11:51] wb-magma commented on #26172
I have the same issue

[2020-04-01 12:41] aqdennis opened #27528 "No header logo in transactional emails"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.1.33

### Steps to reproduce (*)

1. Upload e-mail for header of transactional email (Content -> Design Configuration -> <Store View> -> Transactional emails
2. Create transactional email, for instance for order update,  including  {{template config_path="design/email/header_template"}}
3. Check Preview Template :  logo is there
4. Make sure the e-m

[2020-04-01 13:15] merlin-18 opened #27530 "Technical error on saving product"
Summary of the issue
"Invalid form key" error on saving one configurable product all other products are getting saved

Information on environment
I'm using Magento 2.2.6

Steps to reproduce
It is not reproducible as it is a particular products issue

Expected result
Product should get saved

Actual result
It's showing "Invalid form key"

I have a multi store website. I'm currently changing product

[2020-04-01 13:26] johnorourke opened #27531 "CookieManager is not used the first time the session cookie PHPSESSID is set"
### Preconditions (*)

1. Seen in Magento 2.3.1, 2.3.4 and 2.4-develop
2. We are using a custom CookieManager to work around issue #26377 - https://github.com/Veriteworks/CookieFix
3. We discovered that the Magento session manager does not use CookieManager to set the PHPSESSID cookie, if it was not there before
4. This prevents Magento from setting custom options on the session cookie, if the use

[2020-04-01 13:27] johnorourke commented on #27531
@magento give me 2.4-develop instance

[2020-04-01 13:27] magento-engcom-team commented on #27531
Hi @johnorourke. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-01 13:28] magento-engcom-team commented on #27531
Hi @johnorourke, here is your [Magento instance](https://i-27531-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27531-2-4-develop.instances.magento-community.engineering/admin_9869](https://i-27531-2-4-develop.instances.magento-community.engineering/admin_9869)
Login: `43e96f4a` Password: `a9d49cf21b15`
Instance will be terminated in up to 3 hours.

[2020-04-01 13:41] Terryh1949 opened #27532 "Media Gallery In Magento 2 Blog"
I can't seem to delete a duplicate image in the Magento 2 media gallery blog.

[2020-04-01 13:44] Terryh1949 commented on #27532
I can't believe it is this hard to get an answer to a simple question

[2020-04-01 13:44] karthickms opened #27533 "Order confirmed and confirmation email also sent to recipient before payment gateway redirection"
Before payment gateway redirection, user receives order confirmation email and also order was confirmed. It works like COD method instead of payment gateway method.

Please give me your hands

[2020-04-01 14:16] madhu-ranosys commented on #26302
I have integrated it with the integer. I will check it with all product int and float and integrate for the same as above cases. Once updated will submit pull request.

[2020-04-01 14:20] hdkiller commented on #22554
I am stuck with this as well.

Did you have luck resolving it? I have the same issue... There is no way to update an option just delete and re-add?

[2020-04-01 14:32] lurajcevi commented on #25186
@magento give me 2.4-develop instance

[2020-04-01 14:32] magento-engcom-team commented on #25186
Hi @lurajcevi. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-01 14:33] magento-engcom-team commented on #25186
Hi @lurajcevi, here is your [Magento instance](https://i-25186-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25186-2-4-develop.instances.magento-community.engineering/admin_dd81](https://i-25186-2-4-develop.instances.magento-community.engineering/admin_dd81)
Login: `584c9621` Password: `39acca8e0a9b`
Instance will be terminated in up to 3 hours.

[2020-04-01 14:33] aqdennis commented on #26541
Facing the same problem in versions 2.3.2.
We use Mollie Payments as our PSP and after successful payment status remains on Pending, hence neither we nor the client will receive a confirmation e-mail....
I've tried the fix as described in https://github.com/magento/magento2/issues/18148, but without result.

[2020-04-01 14:40] aqdennis opened #27534 "Payment status remains pending after successful payment"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.1.33
3. 1 store, 3 store views

### Steps to reproduce (*)

1. Create order and go to checkout
2. Checkout redirects to PSP, choose method to pay directly
3. Automatically return to success page in webshop
4. Check order in backend -> status is "Payment Pending"

### Expected result (*)

1. I expected the status to be "Payment received"

### Actual

[2020-04-01 14:45] lurajcevi commented on #25186
@devamitbera @utka955 @engcom-Kilo
Also checked with fresh 2.4 develop version, and was unable to reproduce this.
Uploaded image (and downloaded afterwards) keeps its 'keywords' metadata.

This was checked with `exiftool` on linux

[code]

[2020-04-01 14:48] LusienGG commented on #22554
I just reorganized my logic.

[2020-04-01 15:07] nareshphp1 commented on #4289
@navneetDots thanks for reply. Actually I have already fixed this issue.

[2020-04-01 15:08] nareshphp1 commented on #4289
@navneetDots thanks for reply. Actually I have already fixed this issue.

[2020-04-01 16:23] heavyrahul commented on #26517
I am Using 2.3.4 version when I select watch option in product detail page getting this error
TypeError: this.options.jsonSwatchConfig[attributeId] is undefined in magento 2.3.4

[2020-04-01 16:48] vipin12117 commented on #27505
I am also facing same issue. Is magento confirmed issue and fixing it ?

[2020-04-01 18:05] pioneerathletics commented on #26840
@hostep the patch worked as expected! Thanks very much for doing that, you're a life saver.

A general question posed to all: Since the patch is installed on 2.3.4 and then 2.3.5 comes out later in April and fixes this very issue, how does one upgrade to 2.3.5 without the patch conflict? Is it just a matter of removing the patch reference from composer and then running composer update?

[2020-04-01 18:14] markshust commented on #26840
@pioneerathletics yes, you would remove the patch after/when upgrading to 2.3.5

[2020-04-01 18:17] lenaorobei commented on #26302
@magento give me 2.4-develop instance

[2020-04-01 18:17] magento-engcom-team commented on #26302
Hi @lenaorobei. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-01 18:18] magento-engcom-team commented on #26302
Hi @lenaorobei, here is your [Magento instance](https://i-26302-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26302-2-4-develop.instances.magento-community.engineering/admin_29b0](https://i-26302-2-4-develop.instances.magento-community.engineering/admin_29b0)
Login: `71e33dfd` Password: `2f44afd504d6`
Instance will be terminated in up to 3 hours.

[2020-04-01 18:25] magento-engcom-team commented on #26762
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#26763 by @DanielRuf in 2.4-develop branch
Related commit(s):
 - [191463693a45eed85f6b427ed8b82620d0b1047b](https://github.com/magento/magento2/commit/191463693a45eed85f6b427ed8b82620d0b1047b)

The fix will be available with the upcoming 2.4.0 release.

[2020-04-01 18:25] #26762 closed, assigned to DanielRuf, flancer64

[2020-04-01 18:30] lenaorobei commented on #26302
Hello @Zyles. This is not a bug, but expected behaviour. Please refer to the [Magento User Guide](https://docs.magento.com/m2/ce/user_guide/catalog/inventory-product-stock-options.html?itm_source=merchdocs_ce&itm_medium=quick_search&itm_campaign=federated_search&itm_term=).
The `Quantity uses Decimals` serves for input validation and determines if customers can use a decimal value rather than a wh

[2020-04-01 19:09] leonhelmus commented on #26295
@felly Thank you very much for reporting this issue to me!

I was going crazy why i couldn't see my changes of my child theme when changing the layout.

This is still and issue in Magento 2.3.4.

[2020-04-01 19:13] #26302 closed, assigned to madhurajawat

[2020-04-01 19:39] rodrigowebjump commented on #27534
@magento give me 2.4-develop instance

[2020-04-01 19:39] magento-engcom-team commented on #27534
Hi @rodrigowebjump. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-01 19:40] magento-engcom-team commented on #27534
Hi @rodrigowebjump, here is your [Magento instance](https://i-27534-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27534-2-4-develop.instances.magento-community.engineering/admin_463e](https://i-27534-2-4-develop.instances.magento-community.engineering/admin_463e)
Login: `41f36247` Password: `c1dec0a2b488`
Instance will be terminated in up to 3 hours.

[2020-04-01 19:46] vbyno commented on #27402
It is not reproducable on Magento 2.3.4.

[2020-04-01 19:46] #27402 closed, assigned to nobody

[2020-04-01 19:52] ejsexton82 commented on #10660
I received this error when switching between different docker environments that were sharing the same hostname (magento2.docker). I was able to fix it by clearing all of the browser site data (in addition to the cookies).

[2020-04-01 21:43] giarosenko opened #27539 "Problem with Cron on Magento 2 setup error permission fix"
Dear Support,

We have installed the version 2.3.2 and we are trying to set up the Cron on our shared hosting (yes shared).

We are running the command

`php7.2 bin/magento cron:install --force`
but we are getting error message of
`Error during saving of crontab: sh: 7: crontab: Permission denied`

I have searched over google this issue without any help, pointing to GitHub to this community, there

[2020-04-01 22:30] gonzunigad commented on #26840
I was having the same issue, losing session data on our custom payment gateway on Chrome 80.
The patch worked for me. I created a small guide (in Spanish) following some instructions from here. Thanks!

https://medium.com/@gonzunigad/magento-2-3-x-chrome-80-y-problemas-en-el-proceso-pago-7fd2b7ff74f9

[2020-04-01 22:57] kamzata opened #27540 "Magento Store Switch - 2 store views, 2 domains. "The store that was requested wasn't found. Verify the store and try again.""
### Preconditions (*)

1. Magento 2.3.4 (fresh installation, self hosted)
2. 2 different domains
3. 1 website, 1 store, 2 store views.
4. Store view "en" associated at domain example.com from Magento backend
5. Store view "it" associated at domain example.it from Magento backend
6. Apache 2.4.38 (Debian 10)
7. _.htaccess_ configurated like that:
        `SetEnvIf Host ^(.*)\.example\.com MAGE_RUN_

[2020-04-01 22:59] kamzata commented on #27540
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-04-01 22:59] magento-engcom-team commented on #27540
Hi @kamzata. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-01 23:00] magento-engcom-team commented on #27540
Hi @kamzata, here is your [Magento instance](https://i-27540-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27540-2-4-develop.instances.magento-community.engineering/admin_dcbe](https://i-27540-2-4-develop.instances.magento-community.engineering/admin_dcbe)
Login: `fa6201db` Password: `d31e21ff8b69`
Instance will be terminated in up to 3 hours.

[2020-04-01 23:13] Zyles commented on #26302
WTF?

How is not a bug?

Did you even read the issue?

[2020-04-01 23:34] abude opened #27542 "Guest checkout - No such entity with cartId = 0"
Guest checkout is not working when creating an order from admin or frontend with the following error:
`main.ERROR: No such entity with cartId = 0 [] []`
Breaking the session at the same time, requiring the admin to login again after pressing "place order"

i already applied this: https://github.com/magento/magento2/pull/25307, doesn't seem to fix the issue.

### Preconditions (*)
1. Magento 2.3.4

[2020-04-01 23:36] abude commented on #27542
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-04-01 23:36] magento-engcom-team commented on #27542
Hi @abude. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-01 23:36] magento-engcom-team commented on #27542
Hi @abude, here is your [Magento instance](https://i-27542-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27542-2-4-develop.instances.magento-community.engineering/admin_4b2d](https://i-27542-2-4-develop.instances.magento-community.engineering/admin_4b2d)
Login: `2e4c6e93` Password: `7f5a2487551d`
Instance will be terminated in up to 3 hours.

[2020-04-01 23:48] abude commented on #27542
Honestly, i have no idea how can i test this using valid sandbox credentials on PayFlow Pro. without using the real data i have for my account. any ideas?

[2020-04-02 02:00] boranuk commented on #26515
Preconditions - Magento 2.3.4 and items in catalog_product_entity where SKU is NULL
Steps to reproduce - Add keyword filter to admin products grid
Expected result - Filtered product grid
Actual result - Message "Something went wrong..." displayed at top of page and loading mask displayed, data does not load

[2020-04-02 02:19] erfanimani opened #27543 "Previewing email templates in admin loads admin area CSS"
### Preconditions (*)

1. Magento 2.3.4, but this happens to other versions too

### Steps to reproduce (*)

1. In the admin, navigate to Marketing -> Email Templates
2. Load a template and hit Preview Template

### Expected result (*)

1. Email looks as "true" as possible, without any interference of CSS unrelated to the actual email

### Actual result (*)

1. Admin CSS interferes with how the em

[2020-04-02 04:25] magento-engcom-team commented on #24990
Hi @Nagamaiah007. Thank you for your report.
The issue has been fixed in magento/magento2#26100 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [5a5091c906e27153ac9680e0db5d8261df3c024c](https://github.com/magento/magento2/commit/5a5091c906e27153ac9680e0db5d8261df3c024c)
 - [1818eaf28562c82de23a59b5b8ade0ec93dd538c](https://github.com/magento/magento2/commit/1818eaf28562c82de23a59b5b8ade0

[2020-04-02 04:25] #24990 closed, assigned to Usik2203

[2020-04-02 07:14] magento-engcom-team commented on #24365
Hi @gwharton, @maheshWebkul721.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [52604a6bc6cf79facaf1873ec6f45249ee3a0704](https://github.com/magento/magento2/commit/52604a6bc6cf79facaf1873ec6f45249ee3a0704)

The fix will be available with the upcoming `2.4.0` release.

[2020-04-02 07:14] #24365 closed, assigned to mahesh-rajawat

[2020-04-02 07:25] aqdennis commented on #27534
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-04-02 07:26] magento-engcom-team commented on #27534
Hi @aqdennis. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-02 07:26] magento-engcom-team commented on #27534
Hi @aqdennis, here is your [Magento instance](https://i-27534-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27534-2-4-develop.instances.magento-community.engineering/admin_fe81](https://i-27534-2-4-develop.instances.magento-community.engineering/admin_fe81)
Login: `332b75c5` Password: `37f3c0797bad`
Instance will be terminated in up to 3 hours.

[2020-04-02 08:19] aqdennis commented on #27534
The development version as far as I can see doesn't allow me to go to an external PSP, hence it cannot be tested whether on return the payment status is correctly set.

[2020-04-02 08:37] PascalBrouwers opened #27546 "Double country region in checkout"
### Preconditions (*)

1. M2.3.4

### Steps to reproduce (*)
1. Run this query:
[code]
2. Or go to checkout and check every region for countries.
3. If you migrated from M1, you'll find find double regions for country AU, CH, MX allot!
4. If you have a new M2 installation you'll find 1 double region for CH: Jura

### Expected result (*)
1. Don't have double regions showing up in checkout:
![fixed_

[2020-04-02 10:20] sudheers-kensium commented on #27361
@magento give me 2.4-develop instance

[2020-04-02 10:20] magento-engcom-team commented on #27361
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-02 10:21] magento-engcom-team commented on #27361
Hi @sudheers-kensium, here is your [Magento instance](https://i-27361-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27361-2-4-develop.instances.magento-community.engineering/admin_caa4](https://i-27361-2-4-develop.instances.magento-community.engineering/admin_caa4)
Login: `a9125d0b` Password: `ec1f0da4ee97`
Instance will be terminated in up to 3 hours.

[2020-04-02 10:26] PascalBrouwers commented on #27546
If you have been affected by this, you can run this query to fixup your data in the database:
[code]
Updates the records to set the region_id to the lowest value of the double region for quote_address, sales_order_address, and customer_address_entity then it deleted the highest double value of the region in directory_country_region.
These queries have to run a couple of times depending on how many

[2020-04-02 11:10] mohanelamurugan commented on #27361
@sudheers-kensium I have been working on this issue and gonna PR soon.

[2020-04-02 11:13] magento-engcom-team commented on #27361
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33015` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-02 12:31] aloupfor commented on #13594
I comment on this issue as I was facing an error :

and with step by step debug, I was able to trace the problem from:

[code]

to:

[code]

I updated `is_active` field to `0` to rules retrieved by request (that I got by using `$this->_getRules($address)->getSelectSql(true)`) in `salesrule` table.

I was then able to reach payment step.

I do not know that was wrong with those rules but I know tha

[2020-04-02 13:01] sudheers-kensium commented on #27530
Hi @merlin-18 Thank you for your report.
Can not able to reproduce the issue on latest instance
It should be fixed fixed in updated version
Feel free to reopen the issue if you confirm that issue is reproduced on latest 2.3.4 version

[2020-04-02 13:01] #27530 closed, assigned to nobody

[2020-04-02 13:20] sudheers-kensium commented on #27539
Hi @giarosenko this is not Magento core bug. Please give permission to your magento root folder and try again it will work.

[2020-04-02 13:20] JKetelaar commented on #27139
After a lot of debugging this can be achieved by requesting the delete calls asynchronous. Here's some test code you can use (proof of concept code, nothing with standards 😂).
Do note, this uses the async PHP package [spatie/async](https://github.com/spatie/async).

[code]

[2020-04-02 13:24] navarr commented on #27252
@magento give me 2.3.2-p2 instance

[2020-04-02 13:24] magento-engcom-team commented on #27252
Hi @navarr. Thank you for your request. I'm working on Magento 2.3.2-p2 instance for you

[2020-04-02 13:25] magento-engcom-team commented on #27252
Hi @navarr, here is your [Magento instance](https://i-27252-2-3-2-p2.instances.magento-community.engineering).
Admin access: [https://i-27252-2-3-2-p2.instances.magento-community.engineering/admin_e556](https://i-27252-2-3-2-p2.instances.magento-community.engineering/admin_e556)
Login: `4cc21329` Password: `bc7fa8f78c08`
Instance will be terminated in up to 3 hours.

[2020-04-02 13:34] manobi commented on #23808
@hmphu solution is the only one that actually worked. Thank you.

[2020-04-02 13:35] fj-sfd commented on #6826
I am facing same issue on Magento ver. 2.3.3

when you have multiple addresses saved in Google Chrome, if one or more fields are having similar values like in Address1, if FirstName, LastName etc is same as in Address2

1. Using default Magento Checkout.
2. tried with only Cash On Delivery method.
3. disabled all custom and 3rd-party modules, clear necessary folders, compile
_but still same._

[2020-04-02 13:39] IanPaskin commented on #18032
@kolonuk did you find a work around for this at all, i'm facing the same issue now using multiple store views

[2020-04-02 13:49] hostep commented on #25835
@lenaorobei: I don't agree with you closing this issue.

It worked perfectly in Magento 2.3.2 without any changes to some PHP setting, and it got broken in Magento 2.3.3 and 2.3.4

If this was broken due to some security issue being fixed, then fine, but it should at least be mentioned on [the release notes](https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-3-open-source.html

[2020-04-02 14:02] #27539 closed, assigned to nobody

[2020-04-02 14:02] ihor-sviziev opened #27550 "UX issue on Admin > Content > Pages/Blocks grid"
### Description
This is UX issue. In most cases when I need to edit CMS Page - I need to change content. When I'm trying to go and change content - it shows me "quick edit" field, than I need to click "Cancel", and click exactly to go into "Action column > Select> Edit" link.

### Preconditions (*)
1. Magento 2.3.4, 2.4-develop

### Steps to reproduce (*)
1. Go to Admin > Content > Pages (on Block

[2020-04-02 14:04] giarosenko commented on #27539
How do i do that?

[2020-04-02 14:07] lurajcevi commented on #23669
This is reproducible on `2.4-develop` as well.

After looking into the code, when `Single store mode` is enabled, there is a special check in the code at: `\Magento\Config\Model\Config::_processGroup`, [L454](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Config/Model/Config.php#L454) calling the method: `\Magento\Config\Model\Config::_checkSingleStoreMode` which is responsi

[2020-04-02 14:15] sudheers-kensium commented on #27539
@giarosenko
chmod -R 777 var generated
OR
sudo php bin/magento cron:install --force

[2020-04-02 14:26] sudheers-kensium commented on #27532
@Terryh1949 Kindly update all the details for reproduce the issue

[2020-04-02 14:29] sudheers-kensium commented on #27550
@magento give me 2.4-develop instance

[2020-04-02 14:29] magento-engcom-team commented on #27550
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-02 14:30] magento-engcom-team commented on #27550
Hi @sudheers-kensium, here is your [Magento instance](https://i-27550-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27550-2-4-develop.instances.magento-community.engineering/admin_8cee](https://i-27550-2-4-develop.instances.magento-community.engineering/admin_8cee)
Login: `99cb69f2` Password: `4686c82e161b`
Instance will be terminated in up to 3 hours.

[2020-04-02 14:31] rituraj001 commented on #27309
Hi
have you find any solution for this issues?

[2020-04-02 14:43] kolonuk commented on #18032
Nope, and I don't hold out much hope either.

TBH, my client has sort-of shelved the Magento project.  They have a "working" website for one store only.  I now push WooCommerce whenever I get the chance - so much easier to work with!

[2020-04-02 15:12] roshanyadav89 commented on #18057
It's still not working anyone got the solution for this?

Product text swatch displays admin swatch value instead of store value why?

Magento EE [2.3.3]

[2020-04-02 15:21] roshanyadav89 commented on #18057
I tried this one, it's not working any suggestion Or idea?

[2020-04-02 15:21] stollr opened #27551 "FileClassScanner fails when using ::class in brace level 0"
If a class should support multiple Magento versions it may be required to define classes depending on Magento's version or definitions magento provides.
In Magento 2.3 the `Magento\Framework\Setup\Patch\DataPatchInterface` was introduced. In earlier versions one had to use `Magento\Framework\Setup\UpgradeDataInterface`

### Preconditions (*)
1. Magento CE 2.2.9 (but will be the same in earlier ver

[2020-04-02 15:25] ihor-sviziev commented on #25668
Hi @attheCube @Usik2203,

Changing of this behavior could negatively affect some merchants, but I can't see any reason why we do need to change it, except just because we want to.
Actually store code IS NOT the same as lang code. Could you explain your use case, why you can't use for instance `de_at` instead of `de_AT`?

[2020-04-02 15:27] bubasuma commented on #18057
@roshanyadav89 I suggest to make sure the issue is reproducible in 2.4-develop. If yes, feel free to create or reopen this issue for 2.4-develop.

[2020-04-02 15:32] roshanyadav89 commented on #18057
[](https://github.com/magento/magento2/pull/15960
)
It's not working for the above URL.

[2020-04-02 15:33] roshanyadav89 commented on #18057
[https://github.com/magento/magento2/pull/15960](url)

It's not working for the above URL.

[2020-04-02 15:36] hostep commented on #25835
Hmm, after researching a bit, it looks like when [getting](https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Config/Model/Config/Backend/File/RequestData.php#L45) the `tmp_name` of the `$_FILES` global returns `/private/var/tmp/` on macOS, while `sys_get_temp_dir()` returns `/var/tmp/`.

So it would be a bad idea to try to change the path in the `$_FILES` global.

The next best optio

[2020-04-02 15:50] ihor-sviziev commented on #8815
@engcom-Delta,
Could you review comment following comment https://github.com/magento/magento2/issues/8815#issuecomment-543085600 and try to reproduce the issue during reindexing cron job run?

[2020-04-02 15:51] jajajaime commented on #5665
@adarshkhatri You do it exactly like that. In your module you just disable the observer for the event you want on your events.xml file.
Observer names are per event definition, so disabling the one for `catalog_product_upsell` won't affect the one in `product_option_renderer_init`.
You can read more about it on this section of the docs https://devdocs.magento.com/guides/v2.3/extension-dev-guide/ev

[2020-04-02 17:15] AndyJAllen commented on #19604
FYI I tried PHP 7.3.16 with Magento 2.3.3 and I couldn't even run bin/magento commands.

[2020-04-02 17:23] dark2y commented on #27542
This might be related to https://github.com/magento/magento2/issues/26840

[2020-04-02 17:26] Natskumawat commented on #19604
After command error :
Fatal error: Uncaught Error: Class 'DOMDocument' not found in
/home/bigshopnz/public_html/vendor/magento/framework/Config/Dom.php:388
Stack trace:

my php version : 7.2
magento version : 2.3.2

On Thu, 2 Apr 2020 at 22:45, Andy <notifications@github.com> wrote:

[2020-04-02 17:58] DanielRuf commented on #19604
@Natskumawat I guess you wanted to comment on a different issue.

https://www.php.net/manual/en/class.domdocument.php

Check `phpinfo()` if your PHP version has the DOM extension installed and enabled.

https://www.php.net/manual/en/dom.installation.php

Also this is an old version of Magento 2.

[2020-04-02 17:59] attheCube commented on #25668
Hi @ihor-sviziev ,

I know that store code is not the same lang code or better locale code.
But if you use the store code in URL it's easier recognizing to whom this shop belongs by using well known standards.
In fact our customer stills uses this standard for his website and besides the reason said before, it's more convenient for the customers not to be confused by changing this system.

Btw. wh

[2020-04-02 19:04] lbrown-magento commented on #26840
Will the patch for 2.3.4 work for 2.3.3? I really would love a patch for 2.3.3 but don't see one out here.

[2020-04-02 19:05] leeroybrun commented on #9186
So disappointing to see that after THREE WHOLE YEARS this major bug is still there...

Has anyone found a good solution/workaround?

After many hours of wandering the web about this, I stumbled upon this : https://github.com/Vendic/EAVCleaner

It adds an `eav:attributes:restore-use-default-value` command to `bin/magento` which should

I have not tried it yet, but it seems quite promising as a work

[2020-04-02 19:06] lbrown-magento commented on #26840
@gonzunigad will your guide work for 2.3.3?

[2020-04-02 19:19] gfrey-namcopool opened #27553 "Cannot go back to login to different account at 2FA code step"
### Preconditions (*)

     1. 2.3.4

     2. Enable 2FA

 ### Steps to reproduce (*)

     1. Stores > Configuration > Security > 2FA

     2. Enable Two Factor Auth: Yes

     3. Force providers: none

     4. Enable Google Authenticator

     5. System > All Users

     6. Enable Google Authenticator for an account

     7. Scan QR code and finish setup for the account

     8. Enter correct in

[2020-04-02 19:20] leeroybrun commented on #26484
Has anyone found a good solution/workaround?

I may have found something, which should be temporary until it's fixed (well let's be honest, might as well be a permanent "dirty fix" given the speed at which they are trying to fix this bug).

Wanted to share it because this bug is kind of a nightmare and it feels like I might not be the only one...

Have not tried it yet, but it's explained on the m

[2020-04-02 19:32] Natskumawat commented on #19604
project already on server Linux base
pls send  command line DOM extension installed and enabled.

On Thu, 2 Apr 2020 at 23:28, Daniel Ruf <notifications@github.com> wrote:

[2020-04-02 19:48] DanielRuf commented on #19604
Write a php file with `<?php phpinfo();`.

Closing this issue here as resolved. Please ask further questions on [Magento Stack Exchange](https://magento.stackexchange.com)

[2020-04-02 19:55] djacques4gorilla commented on #16171
To give some additional info, I'm getting this error if there is a value for the system_config_snapshot flag. When we attempt to save the flag at vendor/magento/module-config/Model/Config/Importer.php:135 (for 2.2.7), it dispatches the model_save_before event, which is observed by Magento\AdminGws\Observer\ValidateModelSaveBefore. But when the observer factory tries to instantiate it, there is a d

[2020-04-02 21:20] not-art commented on #25221
Andrii's exactly correct; on 2.3.3 (and security patch 2.3.3-p1), we noticed multi-shipment orders had every tracking number in consecutive shipment emails, EG:

Shipment 1, shipped by UPS, Tracking No: 1111111111, email shows the following:
- UPS: 1111111111

Shipment 2: FedEx, Tracking No: 2222222222, but email shows both shipments incorrectly:
- UPS: 1111111111
- FedEx, 2222222222

It should on

[2020-04-02 21:32] bubasuma commented on #26692
Internal Magento team is working on this issue right now.

[2020-04-03 00:29] Geebase opened #27554 "SELL DUMPS TRACK 1/2, SELL DUMPS 101 – 201"
SELL DUMPS TRACK  1/2, SELL DUMPS 101 – 201

TYPES CARD DUMPS : (VISA), (MASTER) , (AMEX) , (DISCOVER GOLD) , (MASTER STANDARD) , (PLATINUM) , (BUSINESS CARD) , (COOPERATION CARD) , (AMERICAN EXPRESS) , (DEBIT CARD)
COUNTRIES CARD CVV CC DUMPS PIN TRACK 1/2 : USA , UK,  CANADA,  AUSTRALIA,  EU(FRANCE, GERMANY,  ITALY,  DENMARK,  RUSSIAN, SPAIN,  THE NETHERLANDS),  ASIA ( CHINA,  SINGAPORE,  JAPAN)

[2020-04-03 01:02] gaokeji52 commented on #23908
I am running the site on version 2.3.4, I got the same error.

[2020-04-03 02:46] xtremevision commented on #23411
I am experiencing this issue in the backend admin, in the customer record, Shopping Cart tab. It looks like the getQuote() function returns all cart items (without a parent id), if no active quote is found for customer id [X].

See screenshot:

![image](https://user-images.githubusercontent.com/6533394/78315365-c442a680-752a-11ea-8971-f0c86211cb3e.png)

This getQuote() function is at fault

![imag

[2020-04-03 03:04] Parrotdise opened #27555 "Product sort by SKU"
Each time I attempt to sort product by SKU this error message _[Something went wrong with processing the default view and we have restored the filter to its original state]_ appears and I can not access any products.   That is the error message is always on the admin product page whether I log out or refresh.

I am using Magento 2.3.4, multi-store and advance custom products.

If anyone else logs

[2020-04-03 03:45] megazoor commented on #26620
I am facing this same issue, was there any resolution? It only throws for me when creating an account...

[2020-04-03 03:52] magento-engcom-team commented on #27506
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33050` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-03 04:24] krishprakash commented on #27550
@magento give me 2.4-develop instance

[2020-04-03 04:24] magento-engcom-team commented on #27550
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-03 04:25] magento-engcom-team commented on #27550
Hi @krishprakash, here is your [Magento instance](https://i-27550-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27550-2-4-develop.instances.magento-community.engineering/admin_5b58](https://i-27550-2-4-develop.instances.magento-community.engineering/admin_5b58)
Login: `0a3edd52` Password: `2f40cc1ddffa`
Instance will be terminated in up to 3 hours.

[2020-04-03 04:31] magento-engcom-team commented on #27550
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33051` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-03 04:38] roshanyadav89 commented on #18057
It's not working for multiple stores Magento 2.3.3 enterprise edition.
It's not related to API its a bug on cart page, mini cart and checkout page.

[2020-04-03 04:42] milindsingh commented on #27554
spam

[2020-04-03 04:42] #27554 closed

[2020-04-03 06:03] Kleibert commented on #26620
Yes i did,

Verify In your database store_website if you really have a website with id
0 .
Probably not , so In the tables (store and store_group ) change the field
website_id for one valide Id .

On Thu, Apr 2, 2020 at 23:46 Megazoor <notifications@github.com> wrote:

[2020-04-03 06:05] megazoor commented on #26620
so in my case, the store & website are working correctly, its only when trying to signup a new user or login to a user that i get this error in console... when i check the DB it shows the same storeID as is in the magento backend? Ive noticed that of the 3 stores in my project only 1 is acting this way...

[2020-04-03 06:10] megazoor commented on #26620
In my database I dont see store_website? can you verify the table name?

[2020-04-03 06:12] ajijshekh123 commented on #27508
Hi @jerome-zhang ,

I have reverified this issue of the 20 pagination list in my local demo but still, the issue is not reproduced.
Please verify your customization code Or Extension configuration.
if you don't found this issue again please let me know so I will close this issue.
please update your thought here.

![1](https://user-images.githubusercontent.com/24711761/78329764-24276480-75a0-11ea-9

[2020-04-03 06:42] mchansrsw opened #27556 "Youtube Background problem & Cannot upload any video to library"
Hi, I have been troubled by this problem for quite some time.

I made a slider with youtube video background, at first it ran smooth but after a few trial, i could see the youtube video name on top of it and then some featured content / suggestions at the bottom, these bugs all flashes for 1 sec and then gone, it is so annoying.

Then I moved on to HTML5 video, I've prepared a mpg / mpeg video and

[2020-04-03 06:49] nandigowda-zz opened #27557 "Category search API giving null response"
### Preconditions (*)

1. Magento 2.3.3
2. Elastic search 6.5

### Steps to reproduce (*)

1. API - Request
 {{local-url}}/rest/default/V1/categories/list?searchCriteria[filterGroups][0][filters][0][field]=name&searchCriteria[filterGroups][0][filters][0][value]=%beaurer%&searchCriteria[filterGroups][0][filters][0][conditionType]=like

2. Hit the API in postman

### Expected result (*)

1. Proper d

[2020-04-03 07:22] megazoor commented on #26620
should i be trying to change the request to the proper ID instead of trying to change the ID for the entire store ? why is it looking for the StoreID rather than the WebsiteID when creating/connecting to new account?

[2020-04-03 07:54] dmanners opened #27558 "Catalog ImageUploader will not return the new file name"
### Preconditions (*)

1. Magento version 2.3.*

### Steps to reproduce (*)

1. Use the method `\Magento\Catalog\Model\ImageUploader::moveFileFromTmp` as part of a file uploader,
2. Have it upload of a file with a name that is already on the system,

### Expected result (*)

1. Image name returned should be that of the new image path e.g. image_1.jpeg when a new image name is needed,

### Actual r