[2020-05-07 14:21] sudheers-kensium commented on #28122
@magento give me 2.4-develop instance

[2020-05-07 14:21] magento-engcom-team commented on #28122
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-07 14:23] ACodeManiac opened #28136 "[BUG] Product Importer Attributes decimal type and localization Error"
### Preconditions (*)
1. Magento Version: 2.3.4
2. Magento Product Importer

### Steps to reproduce (*)
1. Upload CSV file with products in importer

### Expected result (*)
Importer should handle the attribute type 'decimal' correctly. For example if I am creating a csv file with product prices in Germany the default decimal separator is ',' not '.' like in US regions.

Magento product importer s

[2020-05-07 14:34] swathishs commented on #28106
@kassner Okay  I will try with this role and let you know

[2020-05-07 15:01] AnnaShepa commented on #27555
Hi @Parrotdise  thank you for the report. Unfortunately I cannot reproduce the problem, so far as I understood for you it was only one user with the problem, so looks like some accidental issue.

You can write in comment to the ticket `@magento give me 2.4-develop instance` and check if you can reproduce it on clean last version of magento

[2020-05-07 15:01] #27555 closed, assigned to nobody

[2020-05-07 15:01] magento-engcom-team commented on #27555
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-07 15:07] ihor-sviziev commented on #24353
I've created PR for fixing this issue https://github.com/magento/magento2/pull/28137

[2020-05-07 15:19] swathishs commented on #28106
@kassner: As per the role which you have suggested I have tired the issue is reproducible in 2.4-develop instance

Attachments:
![image](https://user-images.githubusercontent.com/58288685/81312309-1f286a00-90a4-11ea-92a4-a3ba68751335.png)

![image](https://user-images.githubusercontent.com/58288685/81312344-2b142c00-90a4-11ea-823f-09edccd9720f.png)

![image](https://user-images.githubusercontent.c

[2020-05-07 15:20] magento-engcom-team commented on #28106
@swathishs Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-07 15:30] jkenneydaniel commented on #28100
@magento give me 2.4-develop instance

[2020-05-07 15:30] magento-engcom-team commented on #28100
Hi @jkenneydaniel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-07 15:30] devchris79 commented on #28134
Duplicate of #25076

[2020-05-07 15:31] magento-engcom-team commented on #28100
Hi @jkenneydaniel, here is your [Magento instance](https://i-28100-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28100-2-4-develop.instances.magento-community.engineering/admin_7596](https://i-28100-2-4-develop.instances.magento-community.engineering/admin_7596)
Login: `ff9671ff` Password: `a51269174d52`
Instance will be terminated in up to 3 hours.

[2020-05-07 15:36] jkenneydaniel commented on #28100
@engcom-Alfa So I see in 2.4 the functionality for the `image.phtml` was changed to use the Image viewmodel: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/ViewModel/Category/Image.php

Which means that section no longer uses `$category->getImageUrl()` - however on 2.3 this is not the case - so I'm a little confused, will this issue _not_ be fixed in 2.3 but rather w

[2020-05-07 16:08] sendoapp commented on #28134
i can't find the solution there !!

[2020-05-07 16:19] devchris79 commented on #28134
There is a hotfix in there to headers.php from @georgios-2317 on the 9th December that worked for me.

I think there is still some debate as to what approach the core should be taking with headers, but the hotfix will sort it for now.

[2020-05-07 16:23] sendoapp commented on #28134
i tried that it's not work ! when i change code in zendframe work should i upgrade or deploy ?

[2020-05-07 16:30] sendoapp commented on #28134
it's really works with exchange but not with gmail . the email blocked in gmail

[2020-05-07 17:14] shikhamis11 commented on #27978
@mike-thepixel I am closing this issue as I am not able to reproduce this issue . feel free to reopen this issue if you are able to reproduce it on 2.4-develop instance

[2020-05-07 17:14] #27978 closed, assigned to shikhamis11

[2020-05-07 17:15] shikhamis11 commented on #27898
@jackrevate  I am closing this issue as I am not able to reproduce this issue . feel free to reopen this issue if you are able to reproduce it on 2.4-develop instance

[2020-05-07 17:15] #27898 closed, assigned to shikhamis11

[2020-05-07 17:22] CJ-Greiner commented on #20333
It's not really "core" Magento - it's a Zend proprietary build... so they should fix their implementation.
I don't have time to wait for them - I need my installation working now, so I fixed it and recorded the results here. Hopefully, it helps anyone that runs into the same issue.

[2020-05-07 17:57] ghost opened #28138 "[Issue] magento/magento2#: GraphQL. Mutation: sendEmailToFriend. Test coverage for “Please provide Email of sender.”"
This issue is automatically created based on existing pull request: magento/magento2#28034: magento/magento2#: GraphQL. Mutation: sendEmailToFriend. Test coverage for “Please provide Email of sender.”

---------

### Description (*)

PR provides a test coverage for `Please provide Email of sender.` error of `sendEmailToFriend` miutation.

### Related Pull Requests

### Fixed Issues (if relevant)

[2020-05-07 17:58] ghost opened #28139 "[Issue] Removed closing module tag and modified to single line"
This issue is automatically created based on existing pull request: magento/magento2#28002: Removed closing module tag and modified to single line

---------

### Description (*)

Removed module close tag`</module>`, Alternatively optimize the tag in single line.

[2020-05-07 18:06] ghost opened #28142 "[Issue] Added getScopeCacheKey in order to define the right cache key based on store ID"
This issue is automatically created based on existing pull request: magento/magento2#27142: Added getScopeCacheKey in order to define the right cache key based on store ID

---------
### Description (*)
This PR adds an small improvement to the instance cache into the categories repository cause it allows to receive store id or store code for attributes data retrieval but at the same time this stor

[2020-05-07 18:16] ghost opened #28143 "[Issue] Added The return of Post Value when an Integration Exception is thrown while Save Action"
This issue is automatically created based on existing pull request: magento/magento2#26660: Added The return of Post Value when an Integration Exception is thrown while Save Action

---------
This keeps the form data persistent when the an Integration Exception is throw as a case when name of Integration being added is same.

### Preconditions (*)
Magento 2.4-develop

### Steps to reproduce (*)

-

[2020-05-07 18:39] danielrenaud commented on #26113
Thanks for your contribution. Internal Magento team is working on this issue right now.

[2020-05-07 18:59] slavvka commented on #28139
This is not an issue as we have no rules that prohibit the usage of empty tags and hence there's no reason to change that.

[2020-05-07 18:59] #28139 closed, assigned to nobody

[2020-05-07 19:19] Mty95 commented on #28122
@magento give me a 2.4 develop instance

[2020-05-07 20:04] hostep commented on #26840
For the people confused about the same thing as @gxrobb (we've already discussed it in Slack), but the patch is part of the 2.3.5 release, so it's no longer needed to apply the patch on Magento 2.3.5 🙂

[2020-05-07 21:21] danielrenaud commented on #26111
Hi,
I'm not sure the expected behavior of this bug is correct. The variant is disabled, and as we would expect the `variant` entry is gone.
I understand how one would think that the `configurable_option` option should also be removed, but think about the case when we have 2 options for a product (e.g. size and color for a shirt). if the medium-blue shirt were disabled, should we disable Size: medi

[2020-05-07 21:33] Thomas-gt3 opened #28145 "In cart, Estimate Shipping display bug when changing the quantity of an item"
**Preconditions :**
- PHP 7.2 with Debian/Plesk
- Varnish is not installed
- Magento 2.3.5p1 and Magento 2.4 development

**Steps to reproduce :**
1) Install Magento 2 with sample data
2) Configuration > Checkout > Allow Guest Checkout: No
3) Configuration > Shipping Methods > Free Shipping > Enabled: Yes
4) Configuration > Shipping Methods > Free Shipping > Minimum Order Amount : 50
5) Configurat

[2020-05-07 22:42] robocrax commented on #9196
Hi,

It appears this is still not resolved. I'm on version 2.3.4 and I'm only getting 1 child product (single entry) per configurable product rather than all child products (multiple entries)

[2020-05-08 00:12] not-art commented on #15043
@engcom-Charlie

This bug is 100% reproducible on 2.3.2, 2.3.3, and 2.3.3-p1. Not only is it reproducible, but @052b-dev fixed this bug for you. Read the commit up the thread a little bit:

https://github.com/magento/magento2/issues/15043#ref-commit-b7b4b23

I just applied that bug fix to my repo and it fixed the issue.

Please re-open this ticket and accept the commit that was made to fix this:

[2020-05-08 00:32] vilmarmoreno opened #28146 "Qual versão Magento é mais instavel ? estou com a 2.2.0 será que a versão 2.3.5 ta tudo ok ?"
<!---Qual versão Magento é mais instavel ? estou com a 2.2.0 será que a versão 2.3.5 ta tudo ok ?

[2020-05-08 03:34] orionpt commented on #22313
This problem is still present in 2.3.5p1. Can this issue be re-opened or should a new one be created?

[2020-05-08 04:55] krishprakash commented on #28146
Hi @vilmarmoreno.
GitHub issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com/) for general discussion about this
Thank You !!

[2020-05-08 04:55] #28146 closed, assigned to krishprakash

[2020-05-08 05:01] swathishs commented on #28106
@magento give me 2.4-develop instance

[2020-05-08 05:01] magento-engcom-team commented on #28106
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-08 05:02] magento-engcom-team commented on #28106
Hi @swathishs, here is your [Magento instance](https://i-28106-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28106-2-4-develop.instances.magento-community.engineering/admin_05e7](https://i-28106-2-4-develop.instances.magento-community.engineering/admin_05e7)
Login: `935429d0` Password: `fb8dd6fe8465`
Instance will be terminated in up to 3 hours.

[2020-05-08 05:05] krishprakash commented on #28134
Hi @sendoapp. Thank you for your report, The issue is duplicate to #25076 and it's already open. You can track the conversion from given issue link,Thanks!!

[2020-05-08 05:05] #28134 closed, assigned to krishprakash

[2020-05-08 05:54] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-05-08 05:54] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-08 05:55] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_8fd5](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_8fd5)
Login: `47929d75` Password: `b1634e730e35`
Instance will be terminated in up to 3 hours.

[2020-05-08 06:17] j-robin-hunter commented on #25177
I also have this same issue on 2.3.4

[2020-05-08 06:19] swathishs commented on #28106
I am able to reproduce the issue in 2.4 develop instance

**Please refer the attachments**:-

Configured two stores:
![image](https://user-images.githubusercontent.com/58288685/81376544-5db03a00-9121-11ea-8373-8964a9f50660.png)

**Created a new role** :
![image](https://user-images.githubusercontent.com/58288685/81376574-71f43700-9121-11ea-8a64-7068e1d788e6.png)

**Created new user and assign the

[2020-05-08 06:21] magento-engcom-team commented on #28106
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34156` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-08 06:28] ghost opened #28148 "[Issue] Fixed the problem with products create/update via REST API requests when request body data is sent as "xml""
This issue is automatically created based on existing pull request: magento/magento2#28140: Fixed the problem with products create/update via REST API requests when request body data is sent as "xml"

---------
Fixed the problem with products create/update via REST API requests when request body data is sent as "xml"

### Description (*)
After updating Magento to v. 2.3.5 there is no more possibil

[2020-05-08 06:30] aleksinoleg opened #28149 "Changing product position in the category has no effect on the front-end"
### Preconditions (*)
1. Magento 2.4-develop
2 All indexes mode is "update by schedule"
![Capture 2020-05-08 at 9 25 50](https://user-images.githubusercontent.com/12597294/81377322-e9b86680-910d-11ea-8035-66807871cd48.png)

### Steps to reproduce (*)
1. Go to admin panel -> catalog -> inventory -> categories
2. Click on any category with the products and visible on the front-end
3. On the "Product

[2020-05-08 06:33] #28148 closed, assigned to Neos2007

[2020-05-08 06:38] aleksinoleg commented on #28149
Here is the pull request to fix this issue
https://github.com/magento/magento2/pull/28150

[2020-05-08 06:54] magento-engcom-team commented on #28102
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34157` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-08 07:31] jonasGossiaux commented on #19670
Still having this issue on magento 2.3.5-p1, we are using a custom theme with a custom view.xml file.
It seems as if the image cache is not regenerating after flushing it

[2020-05-08 07:45] peterjaap opened #28152 "Dashboard should show Last 7 days by default when aggregate data is used"
We have a shop with a gazillion orders. It appears that when the dashboard is opened, the sales for the current day are calculated on the fly, causing quite some load.

So I enable aggregate data (under Stores > Configuration > (Sales) Sales > Dashboard > Use aggregated data;

![image](https://user-images.githubusercontent.com/431360/81383612-8f6cd500-9110-11ea-86e2-eb80ab4d1693.png)

But now the

[2020-05-08 08:19] norgeindian opened #28153 "Impossible to change sort order of custom option values over several pages in product edit view"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Create a new simple product in the backend
2. Add a custom option of type drop-down
3. Add 21 values, the last value appears on a new page.
4. Try to move the last value to another position on the first page.

### Expected result (*)

1. I would assume that it is possible to sort the values using the drag and drop functionalit

[2020-05-08 08:23] Javiercc78 commented on #7869
He tratado todas las soluciones aportadas por varios sitios sin solución. Finalmente el problema estaba en los archivos de sesión.
 Por un error en mi servidor plesk modifique temporalmente el directorio de almacenamiento de sesión en env.php al directorio var/sessions en mi raid de magento.
 Modifique los permisos en mi servidor para el almacenamiento de sesion y restarure env.php para almacenar

[2020-05-08 08:49] krishprakash commented on #28149
@magento give me 2.4-develop instance

[2020-05-08 08:50] magento-engcom-team commented on #28149
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-08 08:51] magento-engcom-team commented on #28149
Hi @krishprakash, here is your [Magento instance](https://i-28149-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28149-2-4-develop.instances.magento-community.engineering/admin_e816](https://i-28149-2-4-develop.instances.magento-community.engineering/admin_e816)
Login: `8ba9069f` Password: `a843e740d26a`
Instance will be terminated in up to 3 hours.

[2020-05-08 08:53] zhartaunik opened #28154 "[Backward compatibility] Customer section load with one section causes an error"
### Preconditions (*)
1. Magento 2.4-develop
2. It cannot be reproduced on clean Magento. An issue occurred only with incompatible code.

### Steps to reproduce (*)
Open any page and take any action which force Magento to clean **one section** (In my case it was adding product to shopping cart from PDP)
Source code should contain sth like
`customerData.reload('cart'); `
instead of
`customerData.re

[2020-05-08 09:41] engcom-Alfa commented on #28100
@jkenneydaniel The issue is reproducible on Magento 2.3.5-p1 composer version.

**Actual Result:**  :heavy_multiplication_x: Category image src is actually just a relative path

![newww](https://user-images.githubusercontent.com/51679138/81393482-1e85e700-9129-11ea-9931-bda26884fc19.png)
![newwwwww](https://user-images.githubusercontent.com/51679138/81393490-20e84100-9129-11ea-84c1-10e0b1239d96.pn

[2020-05-08 10:03] schmengler commented on #15215
I'd be interested to see an example in the core. It is 2020 and there is **not a single occurence** of `CategoryRepository::save()` in the core, except in tests. The admin controller even uses the deprecated `$category->save()` method.

Setting a "current store" global state to manage scoped entities sounds like a bad idea and apparently @magento-engcom-team agrees, otherwise you would use it your

[2020-05-08 10:17] ghost opened #28155 "[Issue] Fixed the problem with products create/update via REST API requests when request body data is sent as "xml""
This issue is automatically created based on existing pull request: magento/magento2#28140: Fixed the problem with products create/update via REST API requests when request body data is sent as "xml"

---------
Fixed the problem with products create/update via REST API requests when request body data is sent as "xml"

### Description (*)
After updating Magento to v. 2.3.5 there is no more possibil

[2020-05-08 10:21] ihor-sviziev opened #28156 "Add an ability to use xml in API Functional tests"
### Summary (*)
As part of 2.3.5 we got regression in REST API for those people that are using XML instead of JSON.
Fix for this issue was provided quite fast in https://github.com/magento/magento2/pull/28140, but unfortunately currently XML format isn't supported in REST web API.

As result we can't cover such important fix by any type of tests.

### Examples (*)
https://github.com/magento/magent

[2020-05-08 10:25] engcom-Delta commented on #28076
Hi @Jilco thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop

**Steps to reproduce:**

- Create simple product:
- - Price=12.95
- - Advanced Inventory->Qty Uses Decimals=Yes
- Configure Free Shipping method
 ![image](https://user-images.githubusercontent.com/51681379/81396785-b803c780-912e-11ea-9ef1-a00e755c0736.png)
- Order 4,5 of it

**Result:*

[2020-05-08 10:25] #28076 closed, assigned to engcom-Delta

[2020-05-08 10:40] denweng commented on #18550
@engcom-Charlie we also have the Problem in 1.9.3 some hint which changes did the fix would be great.

[2020-05-08 10:54] juretopolak commented on #18550
@denweng here is described how I solved same problem with Magento 1.9.4.4:

https://magento.stackexchange.com/questions/311112/iframe-got-lost-on-save-using-wysiwyg-tinymce-magento-1-9-4-4

Maybe it can help you.

[2020-05-08 11:21] cristienache opened #28158 "Magento 2.3.5 Wrong date on PDF invoice"
### Preconditions (*)
1. Magento 2.3.5

### Steps to reproduce (*)

1. Go to Sales>Invoices>View>Print PDF invoice

### Expected result (*)
1. Invoice date on PDF file should be 08/05/2020 (today's date)

### Actual result (*)
1. ![Capture](https://user-images.githubusercontent.com/33024764/81400950-2a23de80-9126-11ea-991e-09a67e3a1187.JPG)
2. Did all the steps shown on this issue: [#26675](https:

[2020-05-08 11:38] ghost opened #28159 "[Issue] PHP 7.4 fix: use correct order of parameters for implode() in UnionExpression::__toString()"
This issue is automatically created based on existing pull request: magento/magento2#28131: PHP 7.4 fix: use correct order of parameters for implode() in UnionExpression::__toString()

---------
Fixes:
Deprecated Functionality: implode(): Passing glue string after array is deprecated. Swap the parameters in magento/vendor/magento/framework/DB/Sql/UnionExpression.php on line 55

### Contribution ch

[2020-05-08 11:46] ABDUL-RAQEEB commented on #27895
Hi,
I want to know how to fix it.

Thank You

On Sun, May 3, 2020 at 11:15 PM Shikha Mishra <notifications@github.com>
wrote:

--

-----------------------------------

*Abdul Raqeeb*

*Cell:* *+92 312 7934567** |* *Email:* abdul.raqeeb63@gmail.com
*LinkedIn:* www.linkedin.com/in/abdulraqeeb742

[2020-05-08 12:00] engcom-Delta commented on #28075
I rechecked again and I am not able to get an issue you mentioned using code from **Steps to reproduce**
Here https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/App/MutableScopeConfig.php#L27-L32 I get `$scopeCode` as object but i didn't enter in to `if` condition, and than object was correctly processed by `parent::getValue`
![image](https://user-images.githubuser

[2020-05-08 12:11] vovayatsyuk commented on #28075
I assume your PHP error reporting is set to ignore warnings.

Here is an abstract case:

[code]

My result of running this code:

[code]

[2020-05-08 12:22] denweng commented on #18550
A big THANKX, it works, you saved my day!

[2020-05-08 12:24] engcom-Delta commented on #27924
@magento give me 2.4-develop instance

[2020-05-08 12:24] magento-engcom-team commented on #27924
Hi @engcom-Delta. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-08 12:25] magento-engcom-team commented on #27924
Hi @engcom-Delta, here is your [Magento instance](https://i-27924-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27924-2-4-develop.instances.magento-community.engineering/admin_3566](https://i-27924-2-4-develop.instances.magento-community.engineering/admin_3566)
Login: `a09c55cb` Password: `6d77422ef112`
Instance will be terminated in up to 3 hours.

[2020-05-08 12:35] andrewizotov opened #28160 "Refresh Statistic bestsellers 503 Service Unavailable"
### Preconditions (*)

1. Magento 2.3.4  php 7.2.19
Refresh Statistic bestsellers 503 Service Unavailable
Sometimes it works as expected but sometimes gives this error 503

I debugged code and  I see problem here :

vendor/magento/module-reports/Model/ResourceModel/Report/AbstractReport.php:463

` try {
                    $this->timezoneValidator->validate($tr['ts'], $to);
                } catch

[2020-05-08 12:55] magento-engcom-team commented on #27924
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34166` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-08 13:04] peterjaap commented on #15656
Some extra findings on my end. It might be related, might not.

I have one website with 3 storeviews. If I duplicate a product from the Default (i.e. "All") storeviews, all attributes that have Scope = Website configured, those values are copied from the Default storeview into *all* storeviews, even though in the original product the value is only set in the default storeview!

Example in case; `c

[2020-05-08 13:06] wilhelmpa opened #28161 "2.3.5-p1 Guest Checkout - Api Call Guest Cart Status 400 Payment method"
Hi there,

I have encountered the fowling bug.

Preconditions (*)
Magento 2.3.5-p1 vanilla
Varnish-5.2.1 revision 67e562482
Redis 4.0.9
Nginx 1.14.0
PHP 7.2.24

Steps to reproduce (*)
Add Something to cart and go to one page checkout as guest and try to redeem a coupon and look in the developer console.

Expected result (*)
Redeem a coupon code in guest checkout with no error

Actual result (*)
In

[2020-05-08 13:09] ldc321 opened #28162 "Introduce separate POST and PUT API for carts/mine/items"
### Description

Currently, there is no way to set exact number of cart items. The POST request is adding posted quantity to existing quantity in the cart. The idea is to introduce ability to rewrite the items with PUT request

### Steps to reproduce (*)
70096:ItemId already exists and qty=3
can{{t update cart items when set Maximum Qty Allowed in Shopping Cart
1.POST:http://xxxxxx.com/rest/V1/car

[2020-05-08 13:13] ldc321 commented on #28162
My English is poor, I'm sorry

[2020-05-08 13:45] kingletas commented on #12205
@wigman Yes please. I don't think this bug needs any extra stamps.

[2020-05-08 13:51] peterjaap commented on #15656
Ha! It appears [this commit](https://github.com/magento/magento2/commit/8e2959de1740f78ba9a57aa0e21e23ecca79dcc6) by @JeroenVanLeusden not only fixes the original problem in this issue, but also my specific issue! :tada:

[2020-05-08 14:03] peterjaap commented on #15656
Here's my patch for 2.3.4;

[code]

[2020-05-08 14:07] sdzhepa commented on #23422
@magento give me 2.4-develop instance

[2020-05-08 14:07] magento-engcom-team commented on #23422
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-08 14:08] magento-engcom-team commented on #23422
Hi @sdzhepa, here is your [Magento instance](https://i-23422-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-23422-2-4-develop.instances.magento-community.engineering/admin_f68f](https://i-23422-2-4-develop.instances.magento-community.engineering/admin_f68f)
Login: `321b6914` Password: `2c361118c83c`
Instance will be terminated in up to 3 hours.

[2020-05-08 14:41] tuyennn commented on #25967
@sdzhepa looks good, seem it was fixed on latest version

[2020-05-08 14:41] #25967 closed, assigned to tuyennn

[2020-05-08 14:44] sudheers-kensium commented on #28158
@magento give me 2.4-develop instance

[2020-05-08 14:44] magento-engcom-team commented on #28158
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-08 14:45] magento-engcom-team commented on #28158
Hi @sudheers-kensium, here is your [Magento instance](https://i-28158-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28158-2-4-develop.instances.magento-community.engineering/admin_b819](https://i-28158-2-4-develop.instances.magento-community.engineering/admin_b819)
Login: `e15becae` Password: `62d29ac5550d`
Instance will be terminated in up to 3 hours.

[2020-05-08 14:47] lbajsarowicz commented on #26396
Done

[2020-05-08 14:47] #26396 closed, assigned to lbajsarowicz

[2020-05-08 14:52] sdzhepa commented on #23422
Hello @Deathrezen

We verified this issue on the lates `2.4-develop` branch code.
There are no exceptions now in logs and the page opened successfully.
But I gree validation make sense anyway!

We checked by adding the "Catalog Products List" widget on the Home page.
Current behavior:
- Number of Products to Display = 5a -> Result: 5 products are shown on Home Page
- Number of Products to Display

[2020-05-08 14:52] magento-engcom-team commented on #23422
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34168` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-08 15:26] sudheers-kensium commented on #28158
@cristienache I have verified in Magento 2.4-develop instance, it is working fine.

Are you able to reproduced on  Magento 2.4-develop instance?

![image](https://user-images.githubusercontent.com/50358141/81420281-64fd3500-916d-11ea-8658-54fbf475bdf6.png)

[2020-05-08 16:35] plumthegreat commented on #21025
@orlangur,@hewgim

I am a Magento 2 Merchant and this creates anything but a simple merchant UX. A configurable product is NOT a simple product. A simple product is a physical product with attributes that are not relevant to a configurable product eg. Size, Colour, Amazon Size Map, Amazon Colour Map, Google Colour Map, Weight, Price, Special Price, EAN Number, UPC Number, etc etc etc. As a merchan

[2020-05-08 17:26] edwardbatchelor commented on #27440
Vasyl,

I don’t know what your talking about.  Everytime we try and save meta descriptions they fail to save.  We need a solution or your product becomes useless to us because we can’t have an SEO strategy on the platform.

Ed

From: Vasyl Shvorak <notifications@github.com>
Sent: Wednesday, April 29, 2020 5:41 AM
To: magento/magento2 <magento2@noreply.github.com>
Cc: edwardbatchelor <ebatchelor@fu

[2020-05-08 17:28] ghost opened #28165 "[Issue] LoginToStorefrontActionGroup action group is utilize in existing MFTF"
This issue is automatically created based on existing pull request: magento/magento2#28113: LoginToStorefrontActionGroup action group is utilize in existing MFTF

---------
### Description (*)
**LoginToStorefrontActionGroup** is utilized to replace sequence of actions which has used for store front customer login.

### Manual testing scenarios (*)
1. Run the **StorefrontPurchaseProductWithCustomOp

[2020-05-08 17:31] ghost opened #28166 "[Issue] Newsletter subscription emails should also use paragraph tags"
### Preconditions
### Description (*)

Other emails (also subscription confirmation email in the same module) are using proper html tags for their content.
[code]
The same should apply for newsletter subscription and unsubscription emails.

This will help in keeping same email styling.

### Steps to reproduce
1. As a logged in user go to User Area - Newsletter section and subscribe / unsubscribe t

[2020-05-08 17:37] ghost opened #28167 "[Issue] Handling exception on individual callback"
This issue is automatically created based on existing pull request: magento/magento2#27134: Handling exception on individual callback

---------

### Description
This PR changes the behaviour how callbacks are executed after DB changes are committed. The issue was if there is an exception from one call back it results in failing other callbacks as well.

So put the try/catch on individual callback

[2020-05-08 21:14] frilogg opened #28171 "Invalid input datetime format of value"
### Preconditions (*)

1. Magento 2.3.5-P1
2.PHP 7.3.17
3. MySQL 5.7
4. Magento Language Norwegian Bokmål
5. Time Zone Europe/Oslo
6. Time setting Magento - Day - Month - Year and Timeformat 24 Hour.
7. Update Admin Interface Locale : Norsk Bokmål (Norge) / norsk bokmål (Norge)

### Steps to reproduce (*)

1. When trying to save new Special price or trying to make chagnes to products that has spec

[2020-05-08 21:16] lbajsarowicz commented on #27962
Fixed the `ActionInterface` plugins. If you @maghamed care about the other plugins - assign it internally, otherwise close the ticket.

[2020-05-08 21:33] shikhamis11 commented on #28171
Hi @frilogg
Thank you for reporting this issue .. Please check this issue on magento instance and share screenshots or video if you are able to reproduce the issue here

[2020-05-08 21:34] shikhamis11 commented on #28171
check this bot message for asking instances

[2020-05-08 21:34] magento-engcom-team commented on #28171
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-08 22:37] lenaorobei commented on #25577
Hi @prasad167,
Unfortunately I need to close this issue in favor of internal ticket.
This issue is requires more complex approach of resolving and should be consistant within REST, Storefront and GraphQL.

Taking into account that right now such validation for Storefront is happening through JS, the same approach can be used for your PWA implementation for example.

This is still under the discuss

[2020-05-08 22:37] #25577 closed, assigned to edenduong, arushibansal013

[2020-05-08 23:26] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-05-08 23:26] magento-engcom-team commented on #24426
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-09 00:49] ulftietze commented on #7930
This is really not a fix. That's just a dirty workaround for something i don't find an appropriate  solution.

[2020-05-09 04:59] magneticeye commented on #23196
I upgraded to magento 2.3.5 but it is the same a 2.3.4
It shows greyed out option for out of stock item, but doesn't say "Sold Out" or "Out of Stock"
Is there a setting that I am missing?

[2020-05-09 05:25] jigar48 commented on #27140
I got same error in the magento 2.3.5-p1

![Screenshot_1](https://user-images.githubusercontent.com/16815711/81464929-9a446a00-91e3-11ea-883f-33d4e73b609c.png)

[2020-05-09 06:17] teokolo commented on #10821
Using workaround from @blob84 solved the problem.

Magento 2.3.5-p1
Dedicated server with php7.3-fpm

Original settings:
[code]

New settings:
[code]

[2020-05-09 06:41] cristienache commented on #28158
@sudheers-kensium the issue is on our live magento 2.3.5 website which was updated from 2.3

[2020-05-09 08:52] #28160 closed, assigned to nobody

[2020-05-09 08:53] Yonn-Trimoreau commented on #7930
"fix" ^^

[2020-05-09 09:58] frilogg commented on #27654
hi @gilbertsohal  did you find any solution to your problem ?

[2020-05-09 16:43] hewgim opened #28173 "Excessive number of product images generated (sometimes causing server crashes)"
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.2
3. Server with 6 vCPU, 8GB RAM, PHP memory limit 2GB
4. Blank theme

### Steps to reproduce (*)

1. Create a configurable product with 4 colours and 3 sizes
2. Add 7 images to  Configurable product and 7 images to each of the simple products
3. Clear out product image cache
4. Go to product view page for the configurable page
5. Choose each colour

[2020-05-09 17:25] j-robin-hunter opened #28175 "Virtual product order status set to closed not complete"
### Preconditions (*)

1. Version 2.3.4 OS (but affects earlier versions from 2.2)
2. Define a virtual product

### Steps to reproduce (*)

1. Create an order for a virtual product with no value (for example a demo software license)
2. Submit the order using with zero payment enabled

### Expected result (*)

1. The order should complete with the order status set to complete

### Actual result (*)

[2020-05-09 17:27] j-robin-hunter commented on #28175
Confirmed that the issue can be reproduced on a vanilla instance using version 2.3.4 - code not changed for 2.3.5 so this issue will remain

[2020-05-09 18:57] hewgim commented on #28173
@magento give me 2.4-develop instance

[2020-05-09 18:58] magento-engcom-team commented on #28173
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-09 21:09] bartoszkubicki commented on #27204
I find this issue ridiculous. You want to obscure OPEN SOURCE code? Really? I don't know your motivation, but if you try to sell this module later, congratulations. Someone will get not fully functional module (there is no way to extend it or fix it if it is broken).

[2020-05-09 23:54] imtiaz0405 commented on #28115
Hi Sir, I have resolved the issue by set time, country  in the general settings .

the issue was that when i click on the import link to upload the CSV file for the products,the error appear. The link not open.

[2020-05-09 23:54] #28115 closed, assigned to Sutharsan27

[2020-05-10 04:18] junnhouse commented on #2916
This fixed only displaying on Safari.  Chrome and Firefox is not working

[2020-05-10 07:21] ioweb-gr commented on #27829
Let me add another use case here. The reference id that we're asked to enter has no meaning for disabling constraints. If you want to change a unique constraint to add another column for example you can't really disable it unless you know the systemic reference_id. The user entered value has no meaning in that case either.

[2020-05-10 11:31] gwharton commented on #28173
It creates all the different sizes of each image as per the definitions in your view.xml. you can vastly reduce this by tweaking your view.xml

[2020-05-10 13:50] hewgim commented on #28173
@gwharton I'm guessing it creates all the different sizes of images for all the configurable child product gallery images to come up with such a large number of images. If that is the case (I'll test this shortly when I can get a 2.4 develop instance), I think that is sub optimal. Configurable product child products are supposed to be not visible individually so most of the sized images would neve

[2020-05-10 13:51] hewgim commented on #28173
@magento give me 2.4-develop instance

[2020-05-10 13:51] magento-engcom-team commented on #28173
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-10 15:43] mugua commented on #25177
Thanks for your fix, it is fine for me now, the magento official still haven't give solution to solve this issue,
@magento-engcom-team, any better fix method for this issue ?

[2020-05-10 15:46] mugua commented on #25177
@trunglv  his fix is well for me. you can try it...

[2020-05-10 15:48] mugua commented on #25177
try @trunglv  method...

[2020-05-10 16:26] usman786cs opened #28178 "dev/js/minify_exclude returns array of results instead of string"
### Preconditions (*)

1. You should have installed Magento 2.3.4 version.
2. php version 7.2.

### Steps to reproduce (*)

1. Add minification settings in config.php file
2. Run bin/magento app:config:import

### Expected result (*)

1. Processing configurations data from configuration file...
2. Configuration processed

### Actual result (*)

1. Import failed: Notice: Array to string conversion

[2020-05-10 16:32] mugua commented on #25177
@truntrun just check the code you offer, it means if grand total>0，the po status shoud be close. If grand total <=0, the po status will show complete.
does this influence other POs grand total >0?

[2020-05-10 17:12] hewgim commented on #28173
Okay I see what is going on. In our theme (pretty much the blank theme) there are 21 different sizes of images specified.

If I create a configurable product with 4 colours and 3 sizes and both the configurable and simple products have a set of 6 images, the number of images uploaded is:

(1 configurable + 12 simple) * 6 images = 78 images uploaded

And the number of images Magento tries to create

[2020-05-10 17:14] gwharton commented on #28173
I cut my view.xml down to 5 images. Covered the main sizes i needed. catalog:images:resize runs much quicker too.

[2020-05-10 17:20] noglitchyo commented on #28124
I experience the same, using the same version.

[2020-05-10 18:23] chaikivskyi opened #28180 "Wrong price in the tracking information email"
### Preconditions (*)
Magento  2.3.4
Magento 2.4-develop

### Steps to reproduce (*)
1. Create bundle product:
![image](https://user-images.githubusercontent.com/51681379/107948442-7e54cc80-6f9c-11eb-8a74-13aa53911b6f.png)
![image](https://user-images.githubusercontent.com/51681379/107948466-87459e00-6f9c-11eb-88ac-311f01d476a8.png)

2. Add bundle product to cart
3. Change price for a simple produ

[2020-05-10 19:45] hewgim commented on #28173
@gwharton I followed your advice and reduced the number of distinct sizes to  5 also and it certainly cures the problem of crashing the server, so thanks for that tip.

I still think it's wrong for Magento to create all the sized images for the other media gallery images that aren't thumbnail, small_image or main images. These images only really appear on the product view page and not in other pla

[2020-05-10 20:45] ebanolopes commented on #8897
Hey, guys, I was having similar issue using Magento API to create products on M2 2.3.4. Calling /V1/products with website_ids: [1] element or leaving it empty and adding websites using /V1/products/{sku}/websites was resulting on having specific non default values to stores inside the associated website.

I've work around this by creating a plugin on Magento\Catalog\Model\ProductWebsiteLinkReposit

[2020-05-10 20:53] usman786cs commented on #23442
Thanks @davekleijnkega  - it worked fine for me.

Can you please confirm it will not cause any affect for other configurations.

[2020-05-10 20:56] medhassenkhatteche commented on #28102
Hi every one,
I have a problem when i lanch my website magento 2.3.5-1 on locale with MySQL

i have in console all this
The Content Security Policy 'font-src 'self' 'unsafe-inline'; form-action geostag.cardinalcommerce.com geo.cardinalcommerce.com 1eafstag.cardinalcommerce.com 1eaf.cardinalcommerce.com centinelapistag.cardinalcommerce.com centinelapi.cardinalcommerce.com secure.authorize.net test.

[2020-05-10 20:57] usman786cs commented on #28178
I tried one solution which is
delete from flag_data FROM flag WHERE flag_code = 'system_config_snapshot';

and it worked fine for me.

But is it fine solution or if it has disadvantages, please guide.

[2020-05-11 02:46] merlin-18 commented on #28118
Hi,
Is there any update on the module requirement. Actually it's very urgent for me.

Thank you

[2020-05-11 03:52] j-robin-hunter commented on #25177
This fix will not work if you are wanting to create a 'free' virtual product, for example the opportunity to download a demo or test product

[2020-05-11 04:27] trunglv commented on #25177
Hi @j-robin-hunter , @mugua
My use case for my fix: A customer purchases a free downloadable product but he can't download a file due to Order Status is Closed.
It depends on your use cases, so maybe you will make different changes by rewriting  Magento\Sales\Model\ResourceModel\Order\Handler\State. ....
Anyway, another solution, maybe better,  is to check whether an order is "Zero Subtotal Check

[2020-05-11 04:36] j-robin-hunter commented on #28175
This bug is a dupliacte of #25177

[2020-05-11 04:36] #28175 closed, assigned to krishprakash

[2020-05-11 04:43] j-robin-hunter commented on #25177
This fix would work for our use case. However, I do wonder if this state check is a good idea as it clearly able to 'break' the documented order process workflow which would only allow the status to be closed if a refund is issued. This check clearly makes decisions to close the order on whether an item can be shipped.

For completeness, we do have the order status set to processing and automatica

[2020-05-11 05:28] mugua commented on #25177
@trunglv @j-robin-hunter  If a virtual product or a downloadable product's price is >0 , they both don't need Creditmemo & Ship, if suing the code using "&& $order->getPayment()->getMethod() != 'free'". it still goto closed status again... so i think "&& $order->getGrandTotal() < 0" is better than the last fix method, BTW, it is still the hotfix now, we can wait for the magento official fix method

[2020-05-11 08:05] ldc321 opened #28181 "Wrong order created and updated date in rest api response?"
### Preconditions (*)

1. magento 2.3.4 php 7.2
2.mysql time_zone
  system_time_zone EDT
  time_zone SYSTEM
3.magento2 time_zone="America/New_York"

### Steps to reproduce (*)

I am fetching the orders using Magento 2 REST api services.(Other apis have the same problem)

In mysql : "created_at": "2020-05-11 3:34:00"

In admin panel orders pages is "2020-05-11 3:34:00"

But the data returned by the

[2020-05-11 08:47] sivaschenko opened #29310 "Requested default folder is not selected on opening media gallery (current_tree_path parameter)"
### Preconditions (*)
1. Install Magento 2.4.x

### Steps to reproduce (*)
1. Open media gallery from the category image field
2. Open media gallery from the WYSIWYG

### Expected result (*)
If no filters were applied (except directory) the default directory should be selected based on `current_tree_path` parameter
1. catalog/category directory is selected by default
2. WYSIWYG directory is select

[2020-05-11 09:10] hemendraajmera opened #28182 "Added new image for product not showing on category page but it showing on product page"
Magento Environment 2.3.5-p1
### Summary (*)

1. Edit product
2. uploaded new image and set base, small and thumbnail that image
3. save product
4. navigate on category page
5. for that product image not showing and open image path in new tab , image not found but
6. when open product in new tab, it showing that image on product detail page. i also open path in new tab it working and showing image

[2020-05-11 09:16] hemendraajmera commented on #28182
@magento give me 2.4-develop instance

[2020-05-11 09:16] magento-engcom-team commented on #28182
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-11 09:19] Hexmage commented on #28124
The fix is duplicating the Magneto/Quote/etc/frontend/events.xml to Magento/QuoteGraphQl/etc/graphql/events.xml

[2020-05-11 09:24] StuartAnderton commented on #28158
Seeing this on 2.3.5-p1 with UK locale.

[2020-05-11 09:24] iphigenie opened #28183 "[Issue] Admin product grid for drop-down/multi-select attributes use wrong values"
The product grid in admin does not show the same values as the product edit screens do, or the filters.

I suspect is could be a similar pattern to #19221

Fixed in 2.4.4

### Preconditions (*)

1. Tried on 2.3.3 and 2.3.4 - up to 2.4.3-p1 (fixed in 2.4.4) also
2. A dropdown or multiselect attribute with different admin values from front end store view values
3. Set the attribute to be visible in

[2020-05-11 09:35] hemendraajmera commented on #28182
@magento give me 2.4-develop instance

[2020-05-11 09:35] magento-engcom-team commented on #28182
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-11 10:32] DiaaSaada commented on #9737
I have smae issue sometimes. any fix

[2020-05-11 10:34] xpoback commented on #28102
@medhassenkhatteche

1. Try to **avoid copy-pasting an unformatted and unfiltered text/logs** from the console/anywhere. This might help people not to lose their desire to help while scrolling down such comments.
Most of the text you copied is some log from a chrome extension wich is _completely unrelevant_.

2. Read about CSP here: https://devdocs.magento.com/guides/v2.3/extension-dev-guide/secur

[2020-05-11 10:44] Quazz commented on #28158
https://github.com/magento/magento2/pull/26701

That PR fixes it for 2.4, also works fine when you apply it to 2.3.5 in my experience.

[2020-05-11 10:56] iphigenie commented on #28183
@magento give me 2.4-develop instance

[2020-05-11 10:56] magento-engcom-team commented on #28183
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-11 10:57] sudheers-kensium commented on #28158
@magento give me 2.4-develop instance

[2020-05-11 10:58] magento-engcom-team commented on #28158
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-11 12:52] madonzy opened #28185 "Should we import namespaces?"
Question about Magento 2 coding standards. Should we (as developers) full namespaces or short namespaces with use keyword?

[2020-05-11 13:46] markshust opened #28186 "Running bin/magento setup:upgrade re-enables layout, block_html and full_page caches"
### Preconditions (*)
1.Magento 2.4-develop

### Steps to reproduce (*)
1. Disable the caches by running: `bin/magento cache:disable block_html full_page layout`
2. Run: `bin/magento setup:upgrade`

### Expected result (*)
1. After setup:upgrade completes execution, the `block_html`, `full_page`, and `layout` caches are still disabled

### Actual result (*)
1. An "enabling caches" message appears

[2020-05-11 14:14] sudheers-kensium commented on #28158
I am able to reproduced in Magento 2.3.5-p1 .

![image](https://user-images.githubusercontent.com/50358141/81571643-d7fdea00-93bf-11ea-9873-fa6beef4a29f.png)

[2020-05-11 14:15] magento-engcom-team commented on #28158
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34182` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-11 14:37] amenk commented on #26301
@Zyles We are trying to figure out if we have the same issue.
We have custom media URLs and

     SELECT * FROM catalog_category_entity_varchar WHERE attribute_id=(SELECT attribute_id FROM eav_attribute WHERE attribute_code = 'image' AND entity_type_id = 3);
     |     5437 |           48 |        0 |       348 | /media/catalog/category/foobar-tile_1.jpg |

So the /media/category/category/ path is

[2020-05-11 14:48] chickenland commented on #28186
We've just noticed this too. Came here to write a report but you beat me to it @markshust :)

[2020-05-11 15:19] azambon commented on #26700
Fixed in 2.4, but this issue persists in 2.3

[2020-05-11 15:25] andrewbess commented on #28185
Hello @madonzy
I think you can ask about it in [Magento Community Engineering Slack](https://magentocommeng.slack.com/).
It shouldn't be an issue on this repository.
Come join us.

[2020-05-11 15:34] mmihalev commented on #5913
So ... 4 years later issue is still open? Is this serious? Come on guys ....

[2020-05-11 15:36] AmiraBa-Dev commented on #16958
Me too ! do you have a solution please !

[2020-05-11 15:46] indefinitedevil opened #28187 "Custom admin URL not used for redirects"
### Preconditions (*)

1. Magento 2.3.4-p1
2. PWA Frontend

### Steps to reproduce (*)

1. Enable custom admin URL in Admin / Admin Base URL
2. Set a custom admin URL in Admin / Admin Base URL that is different from the frontend base URL but still functions (or set the admin base URL to the frontend base URL and change the frontend one to something else): http://magento-backend.com/
3. Clear all c

[2020-05-11 15:59] markshust commented on #28186
@magento give me 2.4-develop instance

[2020-05-11 15:59] magento-engcom-team commented on #28186
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-11 16:33] indefinitedevil commented on #28187
admin/url/custom is only used in Magento\Backend\App\Area\FrontNameResolver

Magento\Framework\Url::getBaseUrl() always uses Magento\Store\Model\Store::getBaseUrl() which never references the custom admin URL.

[2020-05-11 16:50] johncarlson21 commented on #6073
Something needs to be done with this to be able to remove the in-context loading on every page.
I shouldn't have to go into every section and add an xml layout update to remove it
Maybe I'm missing something. I'm using the mini-cart in the menu, but I'm not loading the buttons.

[2020-05-11 16:58] textarea opened #28189 "No such entity with customerId critical logs [BIS]"
### Summary (*)
On Magento 2.3.5, check for customer cart throws critical logs when customer has no active cart.
See #23411 issue.

### Examples (*)
/** @var Magento\Quote\Api\CartRepositoryInterface $cartRepository **/
$cart = $this->cartRepository->getActiveForCustomer($customerId);

### Proposed solution
No critical logs write

[2020-05-11 17:01] textarea commented on #28189
Didn't tried on 2.4-develop instance

[2020-05-11 17:22] fritzmg commented on #14509
Since there is no `gender` and `dob` field in the database for `quote_address`, I am wondering where this is supposed to be saved anyway?

@duckchip thank you for that :). We were able to show the Date Of Birth field in the checkout using a customized version of your code. However - the birth date isn't actually saved to the quote. Neither would the gender, presumably?

[2020-05-11 17:26] aampudia commented on #14881
This is still an issue on version 2.3.5 p1

[2020-05-11 18:06] navarr commented on #19846
@orlangur Do you know if a PR modifying this functionality would be accepted?  This ticket was originally closed for "works as expected" but its forcing Vertex to depend on non-API methods.

(CartItemOptionsProcessor only applies on CartItemRepository, so when I use get the CartItem model I have to call it myself, and it is not API)

[2020-05-11 18:26] magenx commented on #14881
2.3.5-p1 imported 15k products, then realized no additional attributes... nice

[2020-05-11 18:34] ioweb-gr commented on #14881
I managed yesterday to create an import profile that actually worked by changing the multiple value separator to ~ because I was certain no attribute was using it and also unchecked the enclosure. I was able to import successfully the attributes. Could you guys give it a shot like that?

[2020-05-11 19:14] aampudia commented on #14881
@ioweb-gr  noup, i doesn't work with my file.... my test file looks like this and doesn't work. only "Aplicaciones" is a multiselect, all others are just text
`sku,additional_attributes
223995901,"Tipo_de_producto=Sensor de presión,Marca=FRANKLIN,Serie=Sensor SubDrive,Aplicaciones=Comercio~Agricultura~Industria,Garantia=1 año"
225495901,"Tipo_de_producto=Sensor de presión,Marca=FRANKLIN,Serie=Sens

[2020-05-11 19:16] bigjvt4 opened #28190 "We get an error everytime we select ship or print in magento and have to hit ok twice everytime to clear the error"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-05-11 19:32] sdzhepa commented on #24834
Hello @renard123
fyi: @tna274

This issue was reviewed and discussed with Product Managers.
From one point of view this is a small and good improvement for UX, but
- This behavior works as it was developed and exist probably in all Magento versions/releases
- It was not any critical reports or functional bug related to it. Only when this link was removed in EE/B2B in favor of Staging functionality

[2020-05-11 19:32] #24834 closed, assigned to tna274

[2020-05-11 20:35] lano-vargas commented on #11995
Same issue here newly fresh installation in 2.3.5 at the moment!

[2020-05-12 00:45] ishakhsuvarov commented on #28116
@hostep sorry for the delay. Yes, this is exactly that issue which started as your report on slack :)

Thank you for your participation!

[2020-05-12 05:43] LiamKarlMitchell commented on #26599
Also experiencing this in 2.3.0

Flat Rate shipping set to 8.695652173913043 with a GST Tax of 1.15 expecting to see a final shipping cost of $10.00 but I see $10.1

8.695652173913043 * 1.15 should be $10.0.

On the Shipping Methods screen before the Review & Payments step of checkout the cost shows as 8.7
![image](https://user-images.githubusercontent.com/1968109/81642647-fa533e80-9477-11ea-94f6-

[2020-05-12 06:17] pointia opened #28193 "di.xml merging in developer mode not working between modules"
I'm trying to inject data into the $data = [] argument of a template block (to be more precise I'm trying to set the cache lifetime). The block is defined in module A and I'm trying to set the data in module B like this:

[code]

### Preconditions (*)

1. Magento 2.3.5
2. Shop is in developer mode

### Steps to reproduce (*)

1. Create a module A with an empty di.xml
2. Create a module B with a co

[2020-05-12 06:39] prasannachelladurai90 commented on #28092
@magento give me 2.4-develop instance

[2020-05-12 06:39] magento-engcom-team commented on #28092
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-12 06:57] jorgb90 commented on #28132
Updated the start post with an exception log.

[2020-05-12 08:02] schmengler commented on #27925
Thanks for involving the UX team :+1:

[2020-05-12 08:19] JithinEdathadan commented on #9762
@shweta1234567  @jim5359

I think the issue is opened due to an miss-understanding the `items_id` is not the product id instead it is the item_id of the product to ship  in table   `sales_order_item`

I do faces same issue ,  hope this help someone

[2020-05-12 08:23] engcom-Foxtrot commented on #26426
Issue is not reproducible on 2.4-dev branch.

[2020-05-12 08:23] #26426 closed, assigned to nobody

[2020-05-12 08:24] mortenbm commented on #15427
Hi @djamps
Would you mind sharing your command line module to complete the missing orders? Would be greatly appreciated!

[2020-05-12 08:28] madonzy commented on #28185
@andrewbess I'm not able to log in, because I don't have accounts @magento.com, @divante.pl, @divante.co, @webvisum.de, or @adobe.com

[2020-05-12 08:38] liamjtoohey opened #28195 "Create Product Swatch Attribute via API"
### Preconditions (*)

- Magento 2.3.4
- PHP 7.3.3
- mysql 5.7.22

### Steps to reproduce (*)

- Attempt to create swatch product attribute via POST API endpoint `/V1/products/attributes`.
- Cannot set `swatch_input_type` in POST request body.

### Expected result (*)

- `swatch_input_type` is an allowed param in request body.
- Swatch product attribute successfully created.

### Actual result (*)

[2020-05-12 08:41] liamjtoohey commented on #28195
Swatch product attributes are seemingly created programatically by setting `swatch_input_type` data to the attribute. From debugging, it seems this flag is then used to save swatch configuration data to the `additional_data` field in the `catalog_eav_attribute` table:

[code]

However, there seems to be no relative POST options for `swatch_input_type` in the swagger documentation of the product at

[2020-05-12 09:06] bscbodyscience commented on #26352
I am getting the same error on Magento 2.3.4 . I am not using any mentioned modules.

[2020-05-12 09:07] bscbodyscience commented on #26352
@rejoe Did u manage to solve this?

[2020-05-12 09:25] roshanyadav89 commented on #15199
I am also facing same issue on EE 2.3.3

[2020-05-12 10:08] elburro1887 commented on #9762
Just tested this, and yes, it seems you have to pass the `parent_item_id` if the product is a child of a configurable product, otherwise you get an error

see code example:

[code]

This should definitely be fixed, since logically it would make sense to create shipments for the single product and not the configurable product.

[2020-05-12 10:08] elburro1887 commented on #12975
This issue is still open, see #9762

[2020-05-12 10:22] prasad541-magento commented on #27279
Any solution for the above issue? any progress

[2020-05-12 10:32] lbajsarowicz commented on #27279
@magento give me 2.3 instance

[2020-05-12 10:34] lbajsarowicz commented on #27279
@magento give me 2.4-develop instance

[2020-05-12 10:34] magento-engcom-team commented on #27279
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-12 10:50] engcom-Delta commented on #28152
Should be moved to [community-features](https://github.com/magento/community-features) repo for further discussion
cc: @sdzhepa

[2020-05-12 11:01] bunyamin-gc opened #28196 "Cannot use having clause in collections"
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.2

### Steps to reproduce (*)

1. Run the following code block:
[code]

### Expected result (*)

1. I expect to receive all ids in the collection.

### Actual result (*)

1. I receive the following exception:
[code]

In order to solve this problem we need to update the following method:
[code]
![image](https://user-images.githubusercontent.com/53558

[2020-05-12 11:02] engcom-Delta commented on #28123
Hi @bardon-bicarbonate , thank you for your report
Please, open issue in appropriate [repo](https://github.com/magento/devdocs)

[2020-05-12 11:02] #28123 closed, assigned to engcom-Delta

[2020-05-12 11:07] gwharton commented on #28158
From the looks of it magento isnt backporting fixed issues into 2.3 anymore. You need to manually patch your install using the PR merged into 2.4-develop.

[2020-05-12 11:12] amenk opened #28197 "Enabling a Category on Store View level does not set it's URL rewrite entry"
We are creating categories via REST API. Now we discovered that the URL rewrite entry is not created for a second store, when setting the category name via REST PUT call

### Preconditions (*)
1. `n98-magerun2 install` - choose Magento 2.3.3
2. `./bin/magento sampledata:deploy`
3. `./bin/magento setup:upgrade`
4. Visit the admin panel and create a new website, store and store view using the same r

[2020-05-12 11:13] amenk commented on #28197
I can reproduce it on a vanial 2.3.3 instance

[2020-05-12 11:14] stradd opened #28198 "Frontend 3rd level of submenu not accessible"
### Preconditions (*)
1. Magento 2.4-develop

### Steps to reproduce (*)
1. Install Magento 2.4-develop with sample data;
2. Go to Catalog - Categories;
3. Go to Women / Tops / Brass & Tanks;
4. Ad a new subcategory (_**Test**_ for example);
5. Save;
6. Go to Homepage;
7. Main Menu -> Woman >Tops  Brass & Tanks;

### Expected result (*)
The new submenu is next to Brass & Tanks
Example 2nd level:

[2020-05-12 11:14] mahmoud3ramadan commented on #28055
Thank you already done it

[2020-05-12 11:20] bunyamin-gc commented on #28196
@magento give me 2.4-develop instance

[2020-05-12 11:20] magento-engcom-team commented on #28196
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-12 11:26] amenk commented on #28197
@magento give me 2.4-develop instance

[2020-05-12 11:26] magento-engcom-team commented on #28197
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-12 11:36] Techytt commented on #643
Hello Team,
We are experiencing the following critical core Magento performance issue.
Issue: Redirection taking more time from listing page to PDP page
Detail: Navigating from PLP to PDP taking average 11-17 sec on first load for the configurable products only.
see this reference link: https://github.com/magento/magento2/issues/14667
Note: We have configurable products which has average 7-10 chil

[2020-05-12 12:03] swathishs commented on #13765
@magento I am working on this

[2020-05-12 12:03] swathishs commented on #13765
@magento give me 2.4 instance

[2020-05-12 12:08] engcom-Echo commented on #28185
Hi @madonzy. Thank you for your report.

I think you find an answer to your question here: [Coding Standards](https://devdocs.magento.com/guides/v2.3/coding-standards/bk-coding-standards.html)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue

[2020-05-12 12:08] #28185 closed, assigned to engcom-Echo

[2020-05-12 12:10] engcom-Delta commented on #28067
Hi @udittakwani thank you for your report, I'm not able to reproduce issue on clean 2.4-develop.
**Steps to reproduce:**

- Generate some products
- Install cron: `php bin/magento cron:install`
- Go to System->Export
- Choose Entity Type=Products
- Click Continue button

**Result:**
:heavy_check_mark: File with exported products is shown in grid
![Peek 2020-05-12 14-57](https://user-images.githubu

[2020-05-12 12:10] #28067 closed, assigned to engcom-Delta

[2020-05-12 12:44] amenk commented on #28197
@magento give me 2.4-develop instance

[2020-05-12 12:44] magento-engcom-team commented on #28197
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-12 12:47] jakwinkler opened #28199 "Widget.xml merge is causing errors"
Based on Magento docs and viewing how `XML` files are merged when config is being loaded, XML should be merged into 1 huge XML file and nodes, based on their IDs, should be overwritten if IDs are the same.

### Preconditions (*)

1. Magento 2.3.4  /  2.3.5 OpenSource

### Steps to reproduce (*)

1. Create 1 module which will add new widget.xml file with defined blocks

[code]
2. Create a second mo

[2020-05-12 13:07] engcom-Foxtrot commented on #27202
@omaxmo, this is not an issue. The first rule priority is higher than the second rule priority (0 < 1). Seems like documentation is not very clear. "The rule with the highest Priority setting (1 being the highest) will control the cart action." means priority 1 is higher than 2, 3, 4, etc.

[2020-05-12 13:07] #27202 closed, assigned to nobody

[2020-05-12 13:10] hemendraajmera commented on #28182
Without running command
php bin/magento catalog:image:resize
 it should be showing updated image on category page as well on product page.
every time uploading new image i will not process with this resize command to show images on pages.
If i run the php bin/magento catalog:image:resize command and provide permission permission it working fine.

[2020-05-12 13:34] maximilianmikus opened #28200 "Graphql products query returns only ids for dropdows or multiselect fields"
### Preconditions (*)

1. 2.3.5-p1 with sample data

### Steps to reproduce (*)

1. u can use this magento instance (https://magento2.kask.at/graphql) or your own testing instance with sample data. query /graphql for a product that has the gender attribute (multiselect) e.g. "dual-handle-cardio-ball"
2.
[code]
variables:
[code]

### Expected result (*)

1.
I would expext the result to contain the

[2020-05-12 13:34] maximilianmikus commented on #28200
@magento give me 2.4-develop instance

[2020-05-12 13:34] magento-engcom-team commented on #28200
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-12 13:45] dpkdeshmukh12 commented on #13396
@jevgenijmokrousov thanks for pointing to core_config_data value. In my case changing this value to {{var category.metadescription}} {{for filter in urls.getAllFilters()}} {{var filter.name}} {{var filter.value}}, {{/for}}  fixed the issue. When I interacted with aheadworks support team this was their reply "The problem is not reproduced on a clean Magento installation. Since the issue is specific

[2020-05-12 13:45] madonzy commented on #28185
@engcom-Echo, unfortunately, there's no information about using full or import namespaces. The only info is that we should use constants and not string literals.

[2020-05-12 13:51] engcom-Delta commented on #26931
Hi @oefterdal there is not POST method for endpoint: `/rest/V1/products/attributes/size`
![image](https://user-images.githubusercontent.com/51681379/81695544-71cea100-946b-11ea-9dc2-bcced67e81b6.png)

I tried PUT method for for endpoint `/rest/V1/products/attributes/size` and POST method for endpoint `/rest/V1/products/attributes` with body example from [comment](https://github.com/magento/magento

[2020-05-12 14:19] bernd-reindl commented on #28097
Hi @engcom-Delta ,

how can i reopen this Issue. It isn't solved.

[2020-05-12 15:31] akosglue commented on #22587
such a fix can help as well: https://github.com/magento/magento2/pull/20971/commits/c5c5e418e0af9a685c12fe7800477038882ed7c8

additionally to the patch: https://gist.github.com/erikhansen/a813f8cf9fe8e9836eea467bdd205659

this patch gave me a mysql error: column not found
https://github.com/magento/magento2/issues/22587#issuecomment-505895318

[2020-05-12 15:39] sdzhepa opened #29113 "Customers should be able to enable/disable Admin "remote shopping assistance""
As a merchant I want to require my customers to choose if Login as Customer can be used on their account so that I can respect their preferences for their online account.

[MoSCoW](https://en.wikipedia.org/wiki/MoSCoW_method)
Must have

**Current State**
The ability to Login as Customer can be restricted via Admin Roles for particular admin users. Using the Admin Roles it can also be restricted to

[2020-05-12 17:42] ghost opened #28201 "[Issue] Added missing translation for modal title & buttons on admin"
This issue is automatically created based on existing pull request: magento/magento2#28174: Added missing translation for modal title & buttons on admin

---------
### Description (*)
Added missing translation for modal title & buttons in modal (Customers -> Add New Address, Edit Product -> Advanced Inventory) on Admin.

### Related Pull Requests
NA

### Manual testing scenarios (*)
1. Magento/Cus

[2020-05-12 17:46] ghost opened #28202 "[Issue] MFTF: Admin Deletes CMS Page"
This issue is automatically created based on existing pull request: magento/magento2#28112: MFTF: Admin Deletes CMS Page

---------
This PR contains MFTF Test for deleting CMS page as Admin User
### Preconditions (*)

### Steps to reproduce (*)
1 - Login As Admin
2 - Navigate to CMS Pages grid
3 - Create New CMS Page
4 - Find Created CMS Page in grid
5 - Delete Created CMS Page
6 - Perform Asserti

[2020-05-12 17:47] iphigenie commented on #28183
@magento give me 2.4-develop instance

[2020-05-12 17:47] magento-engcom-team commented on #28183
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-12 17:50] iphigenie commented on #28183
1 day without instance deployment I have tested it on a vanilla install elsewhere and can reproduce the same behaviour

[2020-05-12 18:21] WilsonTeles commented on #7658
I'm also having this problem in version 2.2.10 but in the customer grid. I have about 70k customers registers and got the "CData section too big". I have implemented the solution for magento\framework\view\templateengine\xhtml\template class, overriding append method but the page locks on spinning and the browser page stops.

[2020-05-12 19:01] maximilianmikus commented on #28200
@magento give me 2.4-develop instance

[2020-05-12 19:01] magento-engcom-team commented on #28200
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-12 19:51] hostep commented on #27227
Yay, it looks like PHP 7.4 support got recently merged in the 2.4-develop branch: https://github.com/magento/magento2/commit/40a787632f36ca67f8fff8c451e1e8d1bdbaf9f6

So that will probably be included in Magento 2.4.0 or 2.4.1?

Not sure if there are plans for backporting it to 2.3.x ?

[2020-05-12 20:05] jhouedanou opened #28203 "Tax_class_id won't update"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Go to Catalog > Products
2. Select all the products
3. Click on actions
4. Click on update attributes
5. Click on "tax class", change
6. Set it to "None"

### Expected result (*)

1.  All the product should have the tax class "None"

### Actual result (*)

1.  Two products have the default tax  class . In the frontend they app

[2020-05-12 20:07] sdzhepa commented on #27505
Can confirm this issue and additional want to add it can be easily reproduced on EE editions.
In EE Edition there is UI to create/edit Customer address Attributes
So it can prove that issue in Magento but not in test-module or DevDoc

**Case for EE:**
1. In Admin go to Stores > Customer Address Attributes
2. create New Customer Address Attributes e.g. with this configuration https://www.screencast

[2020-05-12 20:07] magento-engcom-team commented on #27505
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34264` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-12 22:04] flakerimi opened #28204 "Currency switcher not working with full page cache"
### Preconditions (*)

1.Magento ver. 2.3.4
2. Theme: SM MARKET

### Steps to reproduce (*)

1. Use product Listing block on Homepage
2. Add 2 currencies
3. Try to switch currency

### Expected result (*)

1. Change currency and price

### Actual result (*)

1. [Screenshots, logs or description]
2.<img width="592" alt="Screenshot 2020-05-13 at 00 02 54" src="https://user-images.githubusercontent.c

[2020-05-12 22:11] sdzhepa commented on #27439
To check and confirm this issue I used next test products and prices

**Simple Product 1**
- Price = 10; Tier Price = "Buy 2 for $5.00 each"

**Virtual product**
- Price = 10; Tier Price = "Buy 2 for $5.00 each"

**test_configurable_2virtuals**
- Virtual1; Price = 10; Tier Price = "Buy 2 for $5.00 each"
- Virtual2; Price = 10; Tier Price = "Buy 2 for $5.00 each"

**test_configurable_with_1simple**

[2020-05-12 22:29] drc0 commented on #16406
Hello, not sure if that has been fixed in 2.3.4 but I cannot add extension_attributes on ProductAttributeInterface,

[code]
[code]

is there a patch for this?

[2020-05-12 23:55] sdzhepa commented on #27175
Hello @Beraa995
fyi: @krishprakash @Bal2018

We reviewed this issue during the internal Triage Meeting with Product Managers.
_With the current description, it is not clear what is the business value of this issue_

Could you please provide more details, examples, explanations?
- what exactly user flows is broken by this issue?
- what benefits/value will be after fix?
- any dev experience for inte

[2020-05-13 00:54] sdzhepa commented on #27166
Need to click swatch twice after changing a value in the dropdown
- First click UN-select swatch = price will for dropdown value only
- second click select swatch again = price will be updated for dropdown+swatch

![issue_27166](https://user-images.githubusercontent.com/3409584/81759456-65a60c00-948a-11ea-9142-ee7c393da4bb.gif)

[2020-05-13 01:00] magento-engcom-team commented on #27166
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34269` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-13 01:12] flakerimi commented on #28204
@magento give me 2.3-develop instance

[2020-05-13 01:12] magento-engcom-team commented on #28204
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-13 01:15] flakerimi commented on #28204
@magento give me 2.3 instance

[2020-05-13 02:46] erfanimani commented on #21885
Hi, @hostep this issue still exists in Magento 2.3.5-p1 — I was able to replicate it.

[2020-05-13 02:53] lampham2141993 commented on #28203
Hi, @jhouedanou @magento-engcom-team,
I checked it on Magento 2.4-develop, and I can't replicate it.
@jhouedanou
When you save for 'Update Attributes', one queue will be added to queue_message table

[2020-05-13 03:29] KiuNguyen commented on #28106
@magento I am working on this

[2020-05-13 06:25] dhvanit121288 commented on #16958
Hi please delete following attribute from database "eav_attribute" table

ts_packaging_type
ts_packaging_id
ts_country_of_origin

On Mon, May 11, 2020 at 11:37 AM AmiraBa-Dev <notifications@github.com>
wrote:

[2020-05-13 06:25] dhvanit121288 commented on #16958
Hi please delete following attribute from database "eav_attribute" table
but take first table backup and then delete entry

ts_packaging_type
ts_packaging_id
ts_country_of_origin

On Tue, Jan 28, 2020 at 5:38 AM mdsoft123456 <notifications@github.com>
wrote:

[2020-05-13 06:26] dhvanit121288 commented on #16958
Hi please delete following attribute from database "eav_attribute" table
but first take table backup and then delete entry

ts_packaging_type
ts_packaging_id
ts_country_of_origin

On Tue, Oct 22, 2019 at 3:44 PM chrisperver <notifications@github.com>
wrote:

[2020-05-13 06:58] jitenderkamat opened #28206 "Memory Limit Problem"
I increase memory limit 1024M but still getting an error message.

**ERROR MESSAGE**
Your current PHP memory limit is 256M. Magento 2 requires it to be set to 756M or more. As a user with root privileges, edit your php.ini file to increase memory_limit. (The command php --ini tells you where it is located.) After that, restart your web server and try again.

[2020-05-13 07:04] ajijshekh123 commented on #28198
@magento give me 2.4-develop instance

[2020-05-13 07:04] magento-engcom-team commented on #28198
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-13 07:53] gauravagarwal1001 commented on #28171
@magento give me 2.4-develop instance

[2020-05-13 07:53] magento-engcom-team commented on #28171
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-13 08:46] NickdeK commented on #23834
We are having the same issue but with some configurable products. Disabling the`product_identities_extender` solves the issue. So shouldn't this issue be reopened and solved?

[2020-05-13 09:15] ioweb-gr opened #28207 "Searching via product repository excludes out of stock products"
### Preconditions (*)
1. Magento 2.3.4
2. One out of stock product

### Steps to reproduce (*)
Try to search for an out of stock product using the following code

[code]

You will notice that out of stock products are excluded

I checked the process and it seems at around
vendor/magento/module-catalog/Model/ProductRepository.php:632

Where the collection is loaded the filter for out of stock produ

[2020-05-13 09:18] ioweb-gr commented on #28207
I'm unable to test on the demo instance because it needs coding so someone else will have to try and reproduce it on the demo instance.

[2020-05-13 10:24] Git987886 commented on #7266
Did someone succeed in limiting the number of characters? Changing "max_text_length" in the table customer_eav_attribute did not help. The validation is not working at all and it is still possible to create accounts with more than the characters limit.

Changes were made to :
- customer_eav_attribute >> columns with attribute id 5,7,25,27, containing "first name" and "last name".
The value was cha

[2020-05-13 10:48] sudheers-kensium commented on #28204
@magento give me 2.4-develop instance

[2020-05-13 10:48] magento-engcom-team commented on #28204
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-13 10:54] sudheers-kensium commented on #27190
Not able to reproduced on latest Magento instance. So i am closing this issue.

Feel free to reopen if you are facing the same issue on latest Magento instance.

[2020-05-13 10:54] #27190 closed, assigned to sudheers-kensium, engcom-Bravo

[2020-05-13 10:56] arvin-narvaez commented on #26379
i get same issue can you give me updates for this issue thanks

[2020-05-13 10:58] iphigenie commented on #19737
I am having similar issues with data-mage-init quotes being mangled and broken.
was trying to tabs on a cms page

So I tested just for a links:

`<a href="{{store direct_url=contact}}">`  is preserved through save
`<a href="{{store direct_url='contact'}}">` is preserved through save
`<a href='{{store direct_url="contact"}}'>` will save but the next time you open the editor it has been changed to `

[2020-05-13 10:59] lampham2141993 commented on #28095
Hi @magento-engcom-team,
I can't replicate it on Magento 2.3.4-develop.
Infrastructure:
+ Magento 2.3.4-develop
+ PHP 7.2
+ Sample data
![final_price](https://user-images.githubusercontent.com/62533128/81804522-71093e00-9543-11ea-8360-8a51f075eda8.png)

[2020-05-13 11:10] Jitheesh commented on #28095
Hi @lampham2141993 That's strange, but I'm facing issues on Commerce project.

Could you please check these two file locations

https://github.com/magento/magento2/blob/b1ef766d69780896a0b58e393b6b98a5d85f8279/app/code/Magento/Catalog/Model/Product/Type/Price.php#L647

https://github.com/magento/magento2/blob/b1ef766d69780896a0b58e393b6b98a5d85f8279/lib/internal/Magento/Framework/Stdlib/DateTime/T

[2020-05-13 11:24] elsdeniep commented on #19737
That's excatly what I suggested:
omit the (single or double) quotes like this:<a href="{{store direct_url=contact}}">

[2020-05-13 11:25] elsdeniep commented on #19737
That’s exactly what I seuggested: omit the (single or double) quotes like this:<a href="{{store direct_url=contact}}">

From: Joelle Nebbe-Mornod
Sent: Wednesday, May 13, 2020 12:58 PM
To: magento/magento2
Cc: elsdeniep ; Mention
Subject: Re: [magento/magento2] WYSIWYG editor inserting &quot; instead of correct " in 2.3.0 when inserting image (#19737)

I am having similar issues with data-mage-ini

[2020-05-13 11:29] jasonujmaalvis commented on #12225
Hi all, after coming across this issue the following fix appears to be working, you'll have to create a module to override the core function, don't edit the core.

### Backend

Location:

`module-configurable-product/Block/Product/View/Type/Configurable.php`

New line to show Ex VAT:

`'basePrice' => $this->localeFormat->getNumber($tierPrice['price']->getBaseAmount()),`

Core function with change

[2020-05-13 11:52] frilogg commented on #28171
This is why nothing has happend last 5 days...?

[2020-05-13 11:56] maheshWebkul721 commented on #28153
@magento give me 2.4-develop instance

[2020-05-13 11:56] magento-engcom-team commented on #28153
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-13 11:58] magenx commented on #14881
is there any patch or clue or hint?
im really dont have time to debug this  :(

[2020-05-13 12:25] maximilianmikus commented on #28200
@magento give me 2.4-develop instance

[2020-05-13 12:25] magento-engcom-team commented on #28200
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-13 12:30] raksbisht commented on #27836
Try installing Mysql Version 5.7.10. It will work.

[2020-05-13 12:44] engcom-Alfa commented on #28180
Hi @chaikivskyi. Thank you for your report.

Why do you think that after the change in the price of the product from the admin, the price should not be changed in the basket?

Thanks!

[2020-05-13 12:47] peterjaap commented on #28102
You can just disable `Magento_Csp` entirely since in its current state it gives a false sense of security. See https://maxchadwick.xyz/blog/magento-disable-csp for more info.

[2020-05-13 12:48] peterjaap commented on #28111
You can just disable `Magento_Csp` entirely since in its current state it gives a false sense of security. See https://maxchadwick.xyz/blog/magento-2-3-5-csp-fools-errand + https://maxchadwick.xyz/blog/magento-disable-csp for more info.

[2020-05-13 13:35] gwharton commented on #28111
In its current state, Magento_Csp does not give any sense of security at all as it doesn't actually enforce anything in 2.3.x, it just spits out a load of warnings.

As mentioned in the link you posted, a more secure way than using unsafe-inline is to use a nonce. This issue is about exactly that. If you use a nonce, unsafe-inline is ignored by clients, and the inline scripts would not be run. Ok,

[2020-05-13 13:41] maheshWebkul721 commented on #28153
@magento give me 2.4-develop instance

[2020-05-13 13:41] magento-engcom-team commented on #28153
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-13 13:52] vovayatsyuk opened #28208 "Click on "Purchase Order" cause error in discount section"
### Preconditions (*)

1. Magento 2.3.5

### Steps to reproduce (*)

1. Enable "purchase order" and "check/money" payment methods
2. Navigate to checkout
3. Proceed to payment step and expand the discount block section
4. Change payment to "Purchase order"
5. An error will be added to the discount sectiton.

### Expected result (*)

1. I expect no errors at all because I just wanted to change paym

[2020-05-13 13:55] vovayatsyuk commented on #28208
@magento give me 2.4-develop instance

[2020-05-13 13:55] magento-engcom-team commented on #28208
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-13 14:16] iphigenie commented on #19737
Agreed @elsdeniep I just tested and confirmed to revive this. I dont know if it should be split into a new ticket or not

It is interesting that the examples in magento documentation you quote are in the format that gets broken, not one of the two that would work.

I was blaming tinymce and thinking I needed to find a way to tweak it, but the patches here suggest that what needs to change Magento'

[2020-05-13 14:30] markshust commented on #28186
@magento give me 2.4-develop instance

[2020-05-13 14:30] magento-engcom-team commented on #28186
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-13 14:52] ihor-sviziev commented on #23834
Re-opened.
@engcom-Charlie please investigate this issue deeper. People still reporting it.

[2020-05-13 14:53] lionalex opened #28211 "Error JS when select product attribute in sales rules: Uncaught ReferenceError: sales_rule_form is not defined"
### Preconditions (*)

1. Magento 2.3.5-p1 (reproduced only on composer versions of Magento)

### Steps to reproduce (*)

1. Go to sales rule
2. in tab Action try to select a product's attribute (example SKU)
3. then click to show product to search

### Expected result (*)

1. The list of product that I can select
<img width="1616" alt="Schermata 2020-05-13 alle 16 51 06" src="https://user-images.

[2020-05-13 15:04] magento-engcom-team commented on #27337
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-13 15:05] magento-engcom-team commented on #27337
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34288` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-13 15:14] sdzhepa opened #28212 "[TEST] ISSUE test confirmation and creating JIra ticket"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-05-13 15:15] magento-engcom-team commented on #28212
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34289` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-13 15:15] #28212 closed, assigned to nobody

[2020-05-13 15:32] sudheers-kensium commented on #28208
Issue is reproduced on Magento 2.3.5 and after few seconds error message is disappearing.

![image](https://user-images.githubusercontent.com/50358141/81833102-eb928780-955c-11ea-8059-e336bb5ae8cc.png)

[2020-05-13 15:33] magento-engcom-team commented on #28208
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34290` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-13 15:39] AndreyChorniy commented on #27367
**Steps to reproduce:**
1. Enable checkout as guest
2. Enable persistent shopping cart
3. Create customer account
4. Login to customer account
5. Add product to cart
6. Go to checkout
7. Edit PHPSESID cookie and set a different value, or delete the cookie. The main idea is to get a different session (as if your current session expired for various reasons), meaning you will no longer be logged in b

[2020-05-13 15:51] danielrenaud commented on #26118
Thank you for your contribution, we are working on this issue internally

[2020-05-13 16:31] edward-simpson commented on #19737
I'm seeing what seems like a related issue in 2.3.4 (perhaps change in functionality to remove this bug?).

In cms block, with editor disabled, adding an image simply adds the image path as a simple string into  (e.g. 'media/path/to/image.jpg').

With the editor enabled, it inserts an img tag, with the src set to the same url as above, which obviously does not work because it's a relative path!  U

[2020-05-13 17:00] jorgb90 commented on #22313
I can confirm the problem is still there in 2.3.5-p1

[2020-05-13 17:12] shikhamis11 commented on #28171
hi @frilogg
I tried to reproduce this issue on my local but not able to reproduce it
I tried steps
STORE->CONFIG->GENERAL->Locale Options->Locale   Magento Language Norwegian Bokmål
STORE->CONFIG->GENERAL->Locale Options->Timezone   Time Zone Europe/Oslo
STORE->CONFIG->Catalog->Date & TIme Custom options  - Day - Month - Year and Timeformat 24 Hour.

after that I tried to add product with special

[2020-05-13 17:12] ghost opened #28215 "[Issue] Feature bulgarian country regions"
This issue is automatically created based on existing pull request: magento/magento2#27957: Feature bulgarian country regions

---------

### Description (*)
Adding Bulgarian regions to **directory_country_region** table

### Related Pull Requests

### Manual testing scenarios (*)

1. Install Magento
2. Check table directory_country_region for Bulgarian states.

### Questions or comments

### Cont

[2020-05-13 17:41] frilogg commented on #28171
And had the admin language changed to Norwegian also?

[2020-05-13 17:44] Grumag commented on #26515
This happens in 2.3.4 for sure, happened two times for me. It seems to be happening when you search for a SKU number that has been deleted.   There is a StackExchange post about this that has been viewed 11,000+ times.  Google error message to confirm it. Solution is to empty ui_bookmark table.
It is a rather annoying bug that is obviously affecting a  LOT of people.

[2020-05-13 17:52] magento-engcom-team commented on #28162
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34298` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-13 17:52] shikhamis11 commented on #28171
you mean from admin account section ?

[2020-05-13 17:59] frilogg commented on #28171
@shikhamis11  yes.

[2020-05-13 18:06] frilogg commented on #28171
Could this be same as this issue?  https://github.com/magento/magento2/issues/24696

[2020-05-13 18:11] shikhamis11 commented on #28171
yes both seems same issue .

[2020-05-13 18:12] shikhamis11 commented on #28171
I am able to reproduce this issue but since similar issues already confirmed I am closing this one you can track it's progress from #24696

[2020-05-13 18:12] #28171 closed, assigned to shikhamis11

[2020-05-13 18:13] judaschwartz commented on #14054
Good work mage2 team, you closed a PR (which had passed all tests) that fixed this issue because in the intervening year+ that you ignored this issue and fix more testing was added around this wrong API implementation and you can't be bothered to fix it 👎

[2020-05-13 18:22] jhouedanou commented on #28203
Hi , so i've been trying the command to no avail.

I've also tried

`php bin/magento cron:run`

All the attributes are modified, except those for the 2 products i've mentioned before.
Is there anyway to harcode the 'tax_class_id" into the database ?

I've tried to change the value of tax_class_id in the database

UPDATE `catalog_product_index_price` SET `tax_class_id` = 0 WHERE `tax_class_id` = 2;

[2020-05-13 18:22] rydemods commented on #7658
you should upgrade to latest version

On Wed, 13 May 2020 at 03:21, WilsonTeles <notifications@github.com> wrote:

[2020-05-13 18:23] shikhamis11 commented on #28133
Hi @hemendraajmera
I checked this issue on 2.3.5-p1
I am not able to reproduce this issue , I am able to reset password from reset link send from website as well as admin

[2020-05-13 18:23] #28133 closed, assigned to shikhamis11

[2020-05-13 18:24] frilogg commented on #24696
Anyone from @magento-devops that can advice when this matter will be resolved as it still a issue in the latest Magento Version?

[2020-05-13 18:37] danbtl commented on #10454
@diamondavocado @palomamtnez Did you find a solution for this?

[2020-05-13 20:11] diegoot-dev commented on #28055
same error, workaround not working for me

[2020-05-13 20:25] ju5t commented on #14054
@magento-engcom-team please explain why you have choose to ignore and close a PR?

Everybody is spending a lot of time on this (debugging, raising an issue, providing a solution) and you just drop the ball.

We have dropped Magento from our stack. I am still happy that we did. Changes like this to an API without documentation is unacceptable.

[2020-05-13 20:45] flakerimi commented on #28204
@magento give me 2.3-develop instance

[2020-05-13 20:46] magento-engcom-team commented on #28204
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-13 21:58] pmourer commented on #27411
There are likely countless places in core code where it is not expected that a valid product could have a `NULL` sku. This needs to be addressed.
[code]

When loading admin grid for products I also got an error, but cannot find now as i cleared all products with null skus from my database.

[2020-05-13 22:04] pmourer commented on #27411
`vendor/magento/module-catalog/etc/db_schema.xml` line 16
[code]
`vendor/magento/module-catalog/Api/Data/ProductInterface.php` lines 74-79

[code]

one of these is not like the other ones.

[2020-05-13 23:38] flakerimi commented on #28204
@sudheers-kensium

If I make cache_lifetime 1

[code]
it works but then block its not cached and it makes page slow.

[2020-05-13 23:52] manuelcanepa commented on #19670
Same issue here `bin/magento catalog:image:resize` takes forever

[2020-05-14 00:32] xantek-imc commented on #27867
Encountered this issue upgrading to Magento 2.3.5-p1 and self-update composer to the latest version (1.10.6) solved.

[2020-05-14 03:14] novazz opened #28217 "Error on setup, /setup/index.php/navigation 404 not found"
The setup page doesn't display correctly, it's almost blank. The browser console tells me:
/setup/index.php/navigation
/setup/index.php/navigation/side-menu
/setup/index.php/navigation/header-bar
/setup/index.php/session/prolong
not found
this issue: https://github.com/magento/magento2/issues/2504 doesn't seem to work for me
and i really don't know how to modify nginx.conf even if i copy configura

[2020-05-14 03:31] frilogg commented on #24717
Any update on this issue?

[2020-05-14 03:59] fooman commented on #28214
Looks to be addressed in 2.3.4

[2020-05-14 03:59] #28214 closed, assigned to nobody

[2020-05-14 04:02] magento-engcom-team commented on #28217
@magento-engcom-team Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue conten

[2020-05-14 04:04] magento-engcom-team commented on #28217
@magento-engcom-team Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue conten

[2020-05-14 04:15] VladimirZaets opened #28218 "Test issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-05-14 05:04] magento-engcom-team commented on #28218
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-14 05:06] magento-engcom-team commented on #28218
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34321` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-14 05:07] #28218 closed, assigned to nobody

[2020-05-14 06:44] edenduong commented on #28211
@magento give me 2.4-develop instance

[2020-05-14 06:44] magento-engcom-team commented on #28211
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-14 06:49] AndreyChorniy commented on #27367
@magento give me 2.4-develop instance

[2020-05-14 06:49] magento-engcom-team commented on #27367
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-14 07:26] chaikivskyi commented on #28180
Because the price does not change for other types of products and it is incorrect in tracking information email when the price changes.

[2020-05-14 07:27] elsdeniep commented on #19737
Below is a recap of the solution given earlier.

Omit the (single or double) quotes like this:
`<a href="{{store direct_url=contact}}">`

**Single quotes**
Not working: use of single quotes, although Magento dev doc says you should. From Magento dev doc:

**Double quotes**
Use of double quotes are not Magento standard. Use of double quotes however, didn't use to break the code, which it does now.

[2020-05-14 07:30] novazz commented on #28217
i hvae solved this problem by changing upstream from unix:/var/run/***fpm.sock to 127.0.0.1:9000
i don't know how can others configure such upstream, i search my entire disk and found no any *fpm.sock file

[2020-05-14 07:30] #28217 closed, assigned to nobody

[2020-05-14 07:37] abdulmalik422 commented on #25887
Any Progress on this?  I'm also facing this error on magento 2.3.3 / 2.3.4

[2020-05-14 07:42] pbh-stu commented on #25887
my advice is to turn off in context checkout and it will work, not ideal if you like in context checkout buts that's magento for ya.

[2020-05-14 08:05] magento2dev commented on #28068
Hello,
I can confirm it stills an issue on Magento 2.3.4

[2020-05-14 09:18] webspeaks commented on #21663
On production following code works:
File: `vendor\magento\module-configurable-product\Helper\Product\Options\Loader.php`
Add below code after line #51

[code]

[2020-05-14 09:27] arvin-narvaez commented on #26379
@magento-cicd3 i got same issue please give me 2.3.3 instance

[2020-05-14 09:46] bartoszkubicki commented on #10402
Still an issue in 2.3.4

[2020-05-14 09:52] madhurajawat commented on #28068
@magento give me 2.4-develop instance

[2020-05-14 09:52] magento-engcom-team commented on #28068
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-14 09:58] madhurajawat commented on #28068
@magento I am working on this

[2020-05-14 11:07] engcom-Alfa commented on #28186
The issue is reproducible on fresh 2.4-develop.

[2020-05-14 11:11] magento-engcom-team commented on #28186
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34331` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-14 11:16] Eddcapone commented on #27867
Run `composer self-update`

[2020-05-14 11:36] allanminium commented on #14881
I couldn't source a viable long term solution, but I found my quick and dirty fix here - https://magento.stackexchange.com/questions/103934/magento2-programmatically-add-product-attribute-options. I used the last solution which also has a negative score. But damnit, it got the job done at the time.

[2020-05-14 11:41] Thomas-gt3 commented on #28145
@magento give me 2.4-develop instance

[2020-05-14 11:41] magento-engcom-team commented on #28145
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-14 11:52] VZeroCool commented on #27982
As this is at code level I cant check in instance you are going to provide.

[2020-05-14 12:04] Thomas-gt3 commented on #28145
@magento give me 2.4-develop instance

[2020-05-14 12:04] magento-engcom-team commented on #28145
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-14 12:07] astvdurnev opened #28221 "Unable to add new address on checkout"
### Preconditions (*)
1. Magento 2.3.4(release)

### Steps to reproduce (*)
1. Login as a customer with saved addresses
2. Add product to cart
3. Open website in incognito mode or clean all cookies and local storage
4. Login as a customer from step 1
5. Go to checkout
6. Add new address
7. Select shipping method and click "Continue to payment"

### Expected result (*)

1. Payment step is opened

#

[2020-05-14 12:16] engcom-Alfa commented on #15270
@scottsb We double-checked the issue again and had the same result as in [comment](https://github.com/magento/magento2/issues/15270#issuecomment-576221239). The issue isn't reproducible on fresh 2.4-develop.
So, we have to close it.
Please, feel free to comment, reopen or create new ticket according to the[ Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidel

[2020-05-14 12:16] #15270 closed, assigned to engcom-Alfa

[2020-05-14 12:29] david-ziffity commented on #26156
@magento give me 2.4-develop instance

[2020-05-14 12:29] magento-engcom-team commented on #26156
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-14 12:32] engcom-Delta commented on #28097
Hi @bernd-reindl I rechecked on php 7.2 and looks like issue is connected with your php configuration.
I am not able to reproduce issue with my setttings
I have ICU version => 64.2 by default for php 7.2.27
![image](https://user-images.githubusercontent.com/51681379/81934432-9c4d6500-95f7-11ea-9be9-d2d577248b13.png)
![image](https://user-images.githubusercontent.com/51681379/81934456-a5d6cd00-95f7

[2020-05-14 12:33] david-ziffity commented on #26156
@magento give me test instance

[2020-05-14 12:42] engcom-Delta commented on #27440
Hi @edwardbatchelor , I mean that likely you have installed 3-rd party SEO extension not present in vanilla magento.
Please, try to reproduce your issue on vanilla Magento instance using command `@magento give me 2.4-develop instance`  - instruction [here](https://github.com/magento/magento2/issues/27440#issuecomment-604044079)

[2020-05-14 12:43] magento-engcom-team commented on #27440
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-14 13:04] engcom-Alfa commented on #28178
Hi @usman786cs

Unfortunately, we are not able to reproduce the issue on a clean 2.4-develop.

**Manual testing scenario:**

1. Add minification settings in **config.php** file  ([devdocs](https://devdocs.magento.com/cloud/live/sens-data-initial.html#change-config)) :
![Screenshot from 2020-05-14 15-39-50](https://user-images.githubusercontent.com/51679138/81937006-acffda00-95fb-11ea-8f95-3949fea8

[2020-05-14 13:04] #28178 closed, assigned to engcom-Alfa

[2020-05-14 13:08] usman786cs commented on #28178
Thanks @engcom-Alfa  for your help.

I resolved this issue by this command:
delete flag_data FROM flag WHERE flag_code = 'system_config_snapshot';

[2020-05-14 13:12] mr85albi85 commented on #28055
Thamk you great job

[2020-05-14 13:13] bhargavsynoptek commented on #10684
this is not working for me

[2020-05-14 13:30] leroynas opened #28224 "Graphql request placeOrder does not send order confirmation email"
As the order is placed using the magento 2 grahql interface, the expected result is that a email with the order confirmation is send to the guest email submitted to the cart.

### Preconditions (*)

1. Magento 2.3.4(release)

### Steps to reproduce (*)

1. Call graphql create cart mutation
2. Call graphql add item to cart mutation
3. Call graphql add cart guest email on cart mutation
4. Call graph

[2020-05-14 13:34] leroynas commented on #28224
I confirm this issue is present on a clean magento 2.3.4 installation.

[2020-05-14 13:37] donatov commented on #28055
Great workaround. It worked for me. A big thank you!

[2020-05-14 13:38] bernd-reindl commented on #28097
ok. it seems it depends on the intl version.

Intl. version 1.1.0 | ICU version 50.1.2 | ICU Data version: 50.1 | ICU TZData version: 2012j | ICU Unicode version: 6.2
-> "#,##0.05 ¤" -> results in 1 digit for currency CHF

Intl. version 1.1.0 | ICU version 52.1 | ICU Data version: 52.1 | ICU TZData version: 2013g | ICU Unicode version: 6.3
-> "#,##0.00 ¤" -> results in 2 digits for currency CHF

S

[2020-05-14 13:44] DarthFly opened #28225 "Tier Price import runs too long"
### Preconditions (*)

1. Magento 2.4-develop
1. Magento 2.3.5-p1 or probably any version.
2. Assuming that we importing a lot of tier prices. I have a file with 32k rows, but for test reasons, we can use any file with more than 100 values.

### Steps to reproduce (*)

1. Take import file and try to run import on it - System > Data Transfer > Import > Advanced Prices.
2. Behaviour - append.
3. If

[2020-05-14 13:56] beechyrb commented on #15772
Is this getting worked on anytime soon? We are having this issue as well on 2.3.4

[2020-05-14 14:12] Techytt commented on #2669
Yea we are also facing slowness for the uncached pages, specifically configurable PDP pages.
We are using latest M2.3.4 with AWS server and only having single color configurable option,
Please help us to fox this code Magento issue?

[2020-05-14 14:15] Techytt opened #28226 "Initial Page Slowness for Configurable products"
### Summary (*)

Hello Team,
We are experiencing the following critical core Magento performance issue.
Issue: Redirection taking more time from listing page to PDP page
Detail: Navigating from PLP to PDP taking average 11-17 sec on first load for the configurable products only.
Note: We have configurable products which has average 7-10 child associated
Kindly share thought to improve performance

[2020-05-14 14:34] itwebdev2 opened #28227 "Inventory stock issue when creating a new disabled product"
### Steps to reproduce (*)

1. Magento 2.3.4-p2
2. Create a new product in the Magento admin ensuring that "Enable product" is set to "No", "Manage Stock" is set to yes and stock quantity is valid number (i.e. 100)
3. Wait for index to process new product via CRON
4. Update "Enable Product" to be "yes" and save the product
5. View product on frontend

### Expected result (*)

1. Product should app

[2020-05-14 15:02] leroynas opened #28228 "Graphql request setShippingAddressOnCart fails when sending customer_address_id"
### Preconditions (*)

1. Magento 2.3.4(release)

### Steps to reproduce (*)

1. [graphql] create cart
2. [graphql] create customer token
2. [graphql] create customer address
3. [graphql] run setShippingAddressOnCart with the address id (`customer_address_id`)

### Expected result (*)

1. Success message

### Actual result (*)

[code]

According to the graphql docs "regionId" is depricated.

[2020-05-14 15:04] leroynas commented on #28228
I reproduced this issue on a clean Magento 2.3.4 installation.

[2020-05-14 15:52] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-05-14 15:52] magento-engcom-team commented on #24426
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-14 18:27] hostep commented on #28178
Hi @usman786cs: have you upgraded from Magento 2.2 to 2.3?
The structure of how the `minify_exclude` configuration has been defined changed in Magento 2.3.0 by https://github.com/magento/magento2/pull/13687

I posed the question in the PR if there was a possibility that the configuration was stored in the database and how to handle that, but got no answer. So I think we needed to have some databas

[2020-05-14 18:31] m0n1ker commented on #17951
@cadencelabs-master Thank you! This is definitely the problem, and the new default causes serious issues for instances hosted in Docker.

At a minimum, the documentation for the message queues (https://devdocs.magento.com/guides/v2.3/config-guide/mq/manage-message-queues.html#start-message-queue-consumers) needs to be updated to reflect the default value actually being `1` in Magento 2.3.x.

While

[2020-05-14 18:49] Thomas-gt3 commented on #28145
@magento give me 2.4-develop instance

[2020-05-14 18:49] magento-engcom-team commented on #28145
Magento instance deployment temporary unavailable due to service maintenance.

[2020-05-14 18:52] genii6 commented on #4699
2.3.4

[2020-05-14 19:00] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-05-14 19:01] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-14 19:02] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_b097](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_b097)
Login: `37427a05` Password: `b66c5117e2f2`
Instance will be terminated in up to 3 hours.

[2020-05-14 19:03] plastikschnitzer commented on #28092
As long as I see its not distracting the paypal checkout workflow.

With Website Payment Standard, the option "InContext Checkout" enabled @chequille described above is not available.

Quick and (very) dirty fix to hide the message from customers with css:
`.checkout-index-index .message.message-error div{display: none !important;}`

[2020-05-14 19:09] #26471 closed, assigned to thiaramus, twoonesixdigital

[2020-05-14 19:25] chequille commented on #28092
Hi, this is relly quick and dirty. I thought to do so as well, but if a real error occurs, the message is also not shown.
Therefore no solution.
What I found is, that it does not happen every checkout. Sometimes it went through without showing the message, the next time it is showing.
Maybe it has to do with the PayPal Sandbox??????

Nevertheless, as this error was not there in 2.3.4, there is som

[2020-05-14 21:37] jkenneydaniel commented on #25119
This issue seems fixed on 2.3.4? I've not encountered this issue on an existing 2.3.4 project and we're doing the exact same thing - presumably 2.3.4 is using a newer version of the lessphp library?

[2020-05-14 22:15] hostep commented on #25119
Strange, because the PR to fix it hasn't been merged yet: https://github.com/wikimedia/less.php/pull/28

[2020-05-14 22:29] sdzhepa commented on #28218
@magento give me 2.4-develop instance

[2020-05-14 22:29] magento-engcom-team commented on #28218
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-14 22:30] magento-engcom-team commented on #28218
Hi @sdzhepa, here is your [Magento instance](https://i-28218-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28218-2-4-develop.instances.magento-community.engineering/admin_498a](https://i-28218-2-4-develop.instances.magento-community.engineering/admin_498a)
Login: `382f7caf` Password: `0a8ff9398fb7`
Instance will be terminated in up to 3 hours.

[2020-05-14 22:36] frilogg commented on #19597
This is still a problem with latest version of Magento.

[2020-05-14 22:51] sdzhepa opened #28231 "[TEST] Confirmation for 2.3.5p"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-05-14 22:52] magento-engcom-team commented on #28231
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34354` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-14 22:53] magento-engcom-team commented on #28231
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34354` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-14 22:55] sdzhepa opened #28232 "[TEST] Confirmation for 2.3.5p2"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-05-14 22:56] magento-engcom-team commented on #28231
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-05-14 22:56] #28231 closed, assigned to nobody

[2020-05-14 22:56] magento-engcom-team commented on #28232
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34355` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-14 22:58] magento-engcom-team commented on #28232
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-05-14 22:58] #28232 closed, assigned to nobody

[2020-05-14 23:01] orlangur commented on #21025
@hewgim sorry for delay, I've reached @kandy and Product Owner with which we originally developed "streamline Production Creation Flow" in a day after your comment. We agreed that scenario like you described was missed, so, we need to return `Apply To` field back to UI.

Just to give some background, the intention with product type transition was to eliminate the borders between product types at a

[2020-05-15 00:38] araujoantonio commented on #8508
I'm on Magento 2.3.5 and I have this issue.

The solutions presented do not help 😢

[2020-05-15 04:18] sangthieu commented on #10647
I have same problem in magento 2.3.3

2020/05/14 23:46:34 [error] 13402#13402: *6514446 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught Error: Class 'Magento\Framework\Phrase\Renderer\Composite' not found in ../vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php:116
Stack trace:
#0 ../vendor/magento/framework/ObjectManager/Factory/Compiled.php(108): Magento\Framewor

[2020-05-15 04:42] LiamKarlMitchell commented on #5931
Still a problem in Rest API with 2.2.0
Even when including option_id and option_type_id that match the previous record.

[2020-05-15 05:00] ajijshekh123 commented on #28198
@magento give me 2.4-develop instance

[2020-05-15 05:00] magento-engcom-team commented on #28198
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-15 05:01] magento-engcom-team commented on #28198
Hi @ajijshekh123, here is your [Magento instance](https://i-28198-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28198-2-4-develop.instances.magento-community.engineering/admin_4dab](https://i-28198-2-4-develop.instances.magento-community.engineering/admin_4dab)
Login: `48c96a0a` Password: `46247c1ed8bf`
Instance will be terminated in up to 3 hours.

[2020-05-15 05:15] ajijshekh123 commented on #28198
Hello @stradd,
This issue has been fixed in the latest Magento 2.4 instance. Please update your Magento version it will automatically fix the issue.

**See attached screenshot:**
![SubMenu_HoverIssue](https://user-images.githubusercontent.com/24711761/82013792-c9058900-9698-11ea-85e6-e2e87f164613.PNG)

This issue is the same as the below issue.
https://github.com/magento/magento2/issues/25589

Let

[2020-05-15 05:34] ajijshekh123 commented on #28190
Hello @bigjvt4,

I have reviewed the issue in the front end and admin section but I am not able to reproduce this issue.
Can you please share the video or send the proper steps to be reproduced?
I am not getting any of the errors on the ship or print in Magento.

Thanks.

[2020-05-15 05:51] ajijshekh123 commented on #28153
Hello @norgeindian,
I have reviewed the custom values in the  Simple product.
Now, 20 Fixed values are displaying in the first page and then after other values are showing.
See attached the screenshot:

![New1](https://user-images.githubusercontent.com/24711761/82016127-f30d7a00-969d-11ea-886c-c1fec873205e.png)

![New2](https://user-images.githubusercontent.com/24711761/82016129-f4d73d80-969d-11ea

[2020-05-15 05:52] magento-engcom-team commented on #28153
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34356` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-15 06:02] prasannachelladurai90 commented on #28092
@magento give me 2.4-develop instance

[2020-05-15 06:02] magento-engcom-team commented on #28092
Hi @prasannachelladurai90. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-15 06:04] magento-engcom-team commented on #28092
Hi @prasannachelladurai90, here is your [Magento instance](https://i-28092-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28092-2-4-develop.instances.magento-community.engineering/admin_57d9](https://i-28092-2-4-develop.instances.magento-community.engineering/admin_57d9)
Login: `367d4cbf` Password: `e07f143057ef`
Instance will be terminated in up to 3 hours.

[2020-05-15 06:16] norgeindian commented on #28153
@ajijshekh123 , thanks for checking, but I assume, that we speak of different things here.
As far as I can see, you checked, that the first 20 entries are on one page and all additional values are added to another page.
That's alright, I have no issue with that.

Put please try now, like I wrote in step 4 of my issue description, to move for example value 22 of your list between values 10 and 11 o

[2020-05-15 07:10] magento-engcom-team commented on #23440
Hi @simonmaass. Thank you for your report.
The issue has been fixed in magento/magento2#27455 by @KiuNguyen in 2.4-develop branch
Related commit(s):
 - [d0ab2a328666825dc1f87f333638255268a24026](https://github.com/magento/magento2/commit/d0ab2a328666825dc1f87f333638255268a24026)
 - [d03d1338b7b05da2faccc5b4dd2ec775bc0c8161](https://github.com/magento/magento2/commit/d03d1338b7b05da2faccc5b4dd2ec77

[2020-05-15 07:10] #23440 closed, assigned to KiuNguyen

[2020-05-15 07:10] magento-engcom-team commented on #27058
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#27572 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [d7cf1881141fd855ff79f611a31ea2570726bdc3](https://github.com/magento/magento2/commit/d7cf1881141fd855ff79f611a31ea2570726bdc3)
 - [9c8143329ca5d22d7fc7b29f329f6f49467752ca](https://github.com/magento/magento2/commit/9c8143329ca5d22d7fc7b29f329f6f49467752c

[2020-05-15 07:10] #27058 closed, assigned to mrtuvn

[2020-05-15 07:10] magento-engcom-team commented on #27358
Hi @RHapani. Thank you for your report.
The issue has been fixed in magento/magento2#27359 by @RHapani in 2.4-develop branch
Related commit(s):
 - [0e964e496c0d83ab20974da51f2d21ba2680043e](https://github.com/magento/magento2/commit/0e964e496c0d83ab20974da51f2d21ba2680043e)
 - [3c645665f907898686a4ba4bf579f2da1afae931](https://github.com/magento/magento2/commit/3c645665f907898686a4ba4bf579f2da1afa

[2020-05-15 07:10] #27358 closed, assigned to RHapani

[2020-05-15 07:13] AsadAli2567 opened #28233 "facing issue while installing extension"
this is the issue i am facing i have purchased new extension i want to install that  but before this i had used this (m2-weltpixel -quickview ) extension with different account  but now it makes me trouble its  not letting me install new extension

Command "show" failed: In Git.php line 379: Failed to execute git clone --mirror 'git@github.com:rusdragos/m2-weltpixel -quickview.git' '/var/www/html/

[2020-05-15 07:18] ajijshekh123 commented on #28153
@norgeindian - Is it feasible to send a video?

[2020-05-15 07:21] peterjaap opened #28234 "Update endroid/qr-code constraint in msp/twofactorauth for PHP 7.3"
When running Magento 2.3.5-p1 on PHP 7.3, the `friendsofphp/php-cs-fixer` package cannot be installed.

This is because [its constraint](https://packagist.org/packages/friendsofphp/php-cs-fixer) on `symfony/options-resolver` is `^3.0 || ^4.0 || ^5.0`.

But Magento also depends on `msp/twofactorauth`, which depends on `endroid/qr-code:^2.5`. endroid/qr-code 2.5.1 in its turn relies on `symfony/opti

[2020-05-15 07:27] prasannachelladurai90 commented on #28092
Hi @chequille By Default 2.4 Magento Instance does not have paypal enabled in Front End. Do you have Sandbox credentials to test this issue?

[2020-05-15 07:36] VZeroCool opened #28235 "Reset customer password with /V1/customers/resetPassword"
### Preconditions (*)

1. Magento 2.3.3 CE
2. Apache + AWS

### Steps to reproduce (*)

1. Create customer password reset token
2. `$resetPasswordToken = $this->userData->generateResetPasswordLinkToken();`
    `New \Magento\User\Helper\Data;`
2. Invoke  /V1/customers/resetPassword to set new password

### Expected result (*)

1. It should update customer password with given in "newPassword" key
2.

[2020-05-15 07:37] VZeroCool commented on #28235
@magento give me 2.4-develop instance

[2020-05-15 07:37] magento-engcom-team commented on #28235
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-15 07:39] magento-engcom-team commented on #28235
Hi @VZeroCool, here is your [Magento instance](https://i-28235-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28235-2-4-develop.instances.magento-community.engineering/admin_e997](https://i-28235-2-4-develop.instances.magento-community.engineering/admin_e997)
Login: `86e963e7` Password: `9d0a892b79ec`
Instance will be terminated in up to 3 hours.

[2020-05-15 07:46] stradd commented on #28198
I'm not sure it's the same issue. The category is displayed, but at the top and is inaccessible.
![sub2](https://user-images.githubusercontent.com/15693687/82024545-3e209080-9690-11ea-8048-92035c58b48c.png)
![Sub3](https://user-images.githubusercontent.com/15693687/82024562-42e54480-9690-11ea-939b-4ad4ec3537e0.png)
As can be seen in the picture, this is only the case with the third sub-level.

[2020-05-15 07:48] VZeroCool commented on #28235
I need code access to generate PasswordReset token, I'm not able to find any API for generate passwordreset token. If its there can anyone share  ?

[2020-05-15 07:56] norgeindian commented on #28153
@ajijshekh123 sorry, in my eyes it's kind of difficult to show something in a video, which can not be done...
So let my try to explain it again.
When you take a look at your first page with the values 1-20, you can use the Drag & Drop functionality (grey boxes on the left side of each value) to drag a value and drop it at another spot of your list.
So for example it is possible to drag value 1 and

[2020-05-15 08:01] DaveSkirrow commented on #2732
@ata333 Thanks for the info, which file did you make this change in?

[2020-05-15 08:01] ajijshekh123 commented on #28198
Right, @stradd,
I can't able to access the 3rd level category.
See attached the video:

![MenuHoverIssue](https://user-images.githubusercontent.com/24711761/82026438-5ef8de00-96b0-11ea-84e9-49161e01e7ec.gif)

Thanks.

[2020-05-15 08:03] magento-engcom-team commented on #28198
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-15 08:05] domeglic opened #28236 "Product import: Only the first additional image is validated"
### Preconditions (*)
1. Magento 2.3.5
1. Magento 2.4-develop

### Steps to reproduce (*)
1. Import a product with multiple additional_images set where the second image is invalid (has spaces or parentheses)
- file contains broken path of second image `/1/1/1 11*2.jpg` instead of correct `/1/1/111*2.jpg`

[import*break_add_image.csv.txt](https://github.com/magento/magento2/files/5638527/import_bre

[2020-05-15 08:08] VZeroCool commented on #28235
After generating token with $resetPasswordToken = $this->userData->generateResetPasswordLinkToken();
New \Magento\User\Helper\Data;

I'm verifying token with /V1/customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}

In response getting true but still /V1/customers/resetPassword showing same error as above.

[2020-05-15 08:13] dyuk1987 opened #28237 "Occasionally getting JSON strings on category pages"
We have encountered this issue on a few different Magento projects. We understand we may not have sufficient information or very clear procedures for reproducing the issue, but as this turned out to be quite annoying and we have no clue about the root cause at all, we still decided to raise this here. And we have seen similar issues on StackOverflow.
1. https://magento.stackexchange.com/questions/

[2020-05-15 08:27] webspeaks commented on #24993
It solved the issue for me in Magento 2.3.4-p2. Wonder why this file was not upgraded when I rain `composer update`?
Also there is no mention of it in the official docs!

[2020-05-15 08:46] ata333 commented on #2732
Hi Dave, the one big bundled js file, you can view it in the browser or you
can go to public/web/js and search there or get its link from the browser ,
you can also do a text search for this type of comments

On Fri, 15 May 2020, 11:01 am DaveSkirrow, <notifications@github.com> wrote:

[2020-05-15 08:49] DaveSkirrow commented on #2732
Thanks! I'll have a look

[2020-05-15 08:49] J-SM commented on #16171
to overcome this just use State->emulateAreaCode in
InstallShema
InstallData
UpgradeSchema
UpgradeData
& any Console Classes

E.G:
[code]

[2020-05-15 08:54] ihor-sviziev commented on #28041
Hi @srokatonie,
Have you enabled recaptcha?

[2020-05-15 09:01] srokatonie commented on #28041
@ihor-sviziev  We tried that - you can easily reproduce it. I also noticed that it’s also possible to register an account using the REST API call - no captcha required neither.

[2020-05-15 09:16] ajijshekh123 commented on #28153
Hello @norgeindian,
Thanks for the good clarifications. I understand your issue.
I think this is not an issue.  This is a limitation set by the Magento Team.
Let me confirm this issue with a feature request.

Thanks.

[2020-05-15 09:34] engcom-Alfa commented on #28149
The issue is reproducible on a fresh 2.4-develop instance.

**Manual testing scenario:**

1. Create a category with a few simple products;
2. Set all indexes mode to "Update by Schedule" (Admin->System->Index Management);
![Screenshot from 2020-05-15 12-33-13](https://user-images.githubusercontent.com/51679138/82035557-56040e80-96a8-11ea-8724-5257ebfb63e8.png)
3. Go to Admin -> Catalog -> Inventor

[2020-05-15 09:36] magento-engcom-team commented on #28149
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34357` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-15 09:45] sudheers-kensium commented on #28204
It is working as expected. Maybe issue with your custom theme, disable your custom theme check again.

[2020-05-15 10:04] norgeindian commented on #28153
@ajijshekh123, thanks for confirming the issue.
To be honest, in my eyes this is actually a bug and no feature request.
There is obviously the possibility to change the order of the values, so it should be possible to change it for any value in my eyes and not only for groups of 20 values.
In Magento1 there was the possibility to adapt the order by adding an integer to each value. This worked with

[2020-05-15 10:12] tiberiucontiu commented on #24993
When you run composer update, the files from app/etc, including di.xml, aren't affected.
Composer update affects only the vendor/ folder, based on composer.json configuration.

[2020-05-15 10:14] convenient commented on #28195
Just to add to the above, as a rough test and a _very_ naive approach we've tested the following patch and it seems to work

[code]

Obviously this violates a few things and swatch stuff shouldn't be in the catalog module but as a quick POC it does allow for creation of swatch attributes

[2020-05-15 10:34] ajijshekh123 commented on #28153
Okay, @norgeindian,
I understand your concern and your feedback.
Let me discuss with this issue the Magento team then update the label.

Thanks.

[2020-05-15 10:35] ajijshekh123 commented on #28153
@sdzhepa - Can you please review this issue on your end update here? Is that issue or feature request?
Please update me asap.

Thanks.

[2020-05-15 11:15] gwharton opened #28239 "php bin/magento catalog:images:resize does not process hidden images."
### Preconditions (*)
1. Magento 2.4-develop

### Steps to reproduce (*)
1. Create a Product
2. Assign Image 1 to product and set to be visible on product page
3. Assign Image 2 to product and set to be hidden on product page
4. Save the product

### Expected result (*)
1. View the product page, only Image 1 should be visible
2. pub/media/catalog/cache folder should contain resized Image 1's
3. pu

[2020-05-15 11:15] hostep commented on #28153
Let me post a screenshot from a discussion in Slack about this issue in here.

I also believe it's a bug if it's impossible to change the sort order when you have more then 20 entries. Adding a way to increase the page size could fix the issue I guess, might not be the most user-friendly solution, but can probably be implemented quite quickly in the existing UI?

<img width="1330" alt="Screenshot

[2020-05-15 11:30] sudheers-kensium commented on #28233
@AsadAli2567 This is not related to the Magento core issue. Please contact your extension vendor customer support.

I am closing this issue.

[2020-05-15 11:30] #28233 closed, assigned to nobody

[2020-05-15 11:54] hostep commented on #24993
@tiberiucontiu: that's not correct.

When the `magento/magento2-base` module gets updated using composer, all files from in there are getting copied to the root directory (including that `di.xml` file), this happens because of this composer plugin: https://github.com/magento/magento-composer-installer
Magento calls this process "marshalling".

If the `app/etc/di.xml`  file doesn't get updated, it

[2020-05-15 12:04] tiberiucontiu commented on #24993
@hostep You're right!

[2020-05-15 12:17] bernd-reindl opened #28241 "Magento\Framework\Config\Dom -> UrnResolver"
### Preconditions (*)
1.Magento 2.3.5

### Steps to reproduce (*)
1. create a di.xml to add a plugin to \Magento\Framework\Config\Dom\UrnResolver

### Expected result (*)
1.

### Actual result (*)

1. self::$urnResolver->getRealPath($schema) should call the plugin

this happens, because $urnResolver  in \Magento\Framework\Config\Dom isn't created by the objectManager. It's created in row 370: self

[2020-05-15 12:25] vadimjustus opened #28242 "Magento\Cms\Block\Block has no @api annotation"
## Summary (*)
In our projects, we are using Magento's static tests suite to ensure quality. There is a issue, which we faced today with `Magento\Cms\Block\Block`. By following the recommendation how to embed a CMS block into your layout: https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/xml-manage.html#ref_cms_block

[code]

### Examples (*)
- add following code into `Magento_The

[2020-05-15 12:47] hemendraajmera opened #28243 "Customer login aur add cart link some time working sometime showing invalid form key issue"
### Preconditions (*)

1. Magento 2.3.5-p1
2. my site url like http://ip-address/~test/stage

### Steps to reproduce (*)

1. tried to login as customer but not working and showing message Invalid Form Key. Please refresh the page.
2. tired to add to cart but it showing Invalid Form Key. Please refresh the page.

### Expected result (*)

1. [Screenshots, logs or description]
2. it should be login a

[2020-05-15 12:49] hemendraajmera commented on #28239
I have also mentioned this issue as https://github.com/magento/magento2/issues/28182

[2020-05-15 13:44] mmihalev commented on #5304
Can you please share how you converted the offline payment method to use the Adapter class?

[2020-05-15 15:46] AntonSuslov commented on #22753
@karlgram try to disable Magento_GoogleShoppingAds module.

[2020-05-15 15:49] prasannachelladurai90 commented on #28092
Hi @chequille I tried to reproduce the issue in Magento 2.4 and it did not occur to me
Please find the video attachment https://drive.google.com/open?id=1gN771KPKxUuRljOx7-PjUCBPAHrQN6aH. Am i missing something here ?

[2020-05-15 15:59] darrenf-fisheye commented on #4822
You also need to reindex

[2020-05-15 17:25] flakerimi commented on #28204
Its not about theme, same in Luma, its about custom block when you enable cache
Create a custom block, get some products from category

Add cache to Block

[code]

[2020-05-15 19:57] chequille commented on #28092
Sorry, can not acces the video.

[2020-05-16 01:11] moloughlin opened #28244 "Upgrading to 2.3.5 breaks Swagger (Dotmailer API defintion)"
### Preconditions (*)
   In composer.json:

[code]

Run `composer update --with-dependencies magento/magento-cloud-metapackage`

### Steps to reproduce (*)
Visit /swagger

### Expected result (*)
Able to see Swagger docs

### Actual result (*)
Error shown: `Failed to load API definition.`
Error logged: `The "\DateTime" parameter type is invalid. Verify the parameter and try again.`

---

Set a bre

[2020-05-16 01:12] moloughlin commented on #28244
@magento give me 2.3.5 instance

[2020-05-16 01:12] magento-engcom-team commented on #28244
Hi @moloughlin. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-05-16 03:38] prasannachelladurai90 commented on #28092
Sorry I have granted Permission. You should able to see the Video now. And i did try multiple times going to Payment From Checkout.

[2020-05-16 06:33] ShambhuDeveloper opened #28245 "/multishipping/checkout/overviewPost page showing blank after click on place order"
### Preconditions (*)

1. We have used Magento 2.3.3 version. We need to implement multiple address checkout and it's getting issue on /multishipping/checkout/overviewPost/ page. It's showing blank page after click on place order.

### Steps to reproduce (*)

1.

### Expected result (*)

1. We need to show properly success page after place order.

### Actual result (*)

1. working fine overview pa

[2020-05-16 07:17] chequille commented on #28092
Sorry, still saying no permission to open the video.

[2020-05-16 07:36] akgitcom opened #28246 "[2.3.3]The coupon applies to all products in the shopping cart, not the sku I specified."
Hi all!

**Preconditions**
Magento 2.3.3

**Steps to reproduce**
Go to Marketing -> Cart Price Rules
Create a coupon code. The main issue to set 'SKU'  in the Conditions tab.
Add some products to the cart and go to cart page.
Try to apply coupon code.
Log in to my account.
Go to cart page and try to apply coupon code again.
The coupon applies to all products in the shopping cart, not the sku I spe

[2020-05-16 07:53] prasannachelladurai90 commented on #28092
@chequille I think you should be able to view now

[2020-05-16 07:54] sureshkantharaj commented on #22112
I faced the same issue.

1.rest/default/V1/carts/mine/estimate-shipping-methods 500 Internal Server Error
2.rest/default/V1/carts/guest/estimate-shipping-methods 500 Internal Server Error

<i>At checkout page shipping methods were not displaying. This is issue with Magento_Amqp ,Magento_MysqlMq and Temando_Shipping modules.</i>

<i>I solved this issue by updating composer. First run composer updat

[2020-05-16 08:05] chequille commented on #28092
Sorry, no.
Page is saying redirection error!?!?

[2020-05-16 08:14] prasannachelladurai90 commented on #28092
@chequille Permission is set from My end and this is the Link https://drive.google.com/file/d/1gN771KPKxUuRljOx7-PjUCBPAHrQN6aH/view?usp=sharing
Can you please try opening the Link again or Refreshing the Page?

[2020-05-16 09:19] akgitcom commented on #28246
2.3.5 can be reproduced
![001](https://user-images.githubusercontent.com/1925899/82116005-06514000-9799-11ea-8e71-5656821e8033.png)
![002](https://user-images.githubusercontent.com/1925899/82116008-081b0380-9799-11ea-9a09-5ee892062ae3.png)

[2020-05-16 09:29] chequille commented on #28092
It is not working
![grafik](https://user-images.githubusercontent.com/15807794/82116212-506dfd80-9768-11ea-89b2-94b986ba2b7c.png)
To which email address you set the permission. Google is saying no permission. Do not know whats happening here !?

[2020-05-16 09:30] chequille commented on #28092
In the picture it says Perrmission missing. I am logged in with the account for js@chequille.de

[2020-05-16 09:56] prasannachelladurai90 commented on #28092
@chequille Ah the Permission is set to your gmail account "chequille22@gmail.com" can you please open it from your gmail

[2020-05-16 11:52] chequille commented on #28092
Hi Again,
ok, now I got it. Question: where did you get this email from? Im wondering, because here in github i am logged in with another one !?!?!?!

Ok, back to the problem:
it is clear, the error message does not occure if "InContext Checkout" is enabled.
You have to disable "InContext" in the configuration of PayPal.
Than you will get the error message, as I have it in my setup and as I could

[2020-05-16 14:31] gauravharsh15 commented on #28186
@magento I am working on this

[2020-05-16 14:32] gauravharsh15 commented on #28186
@magento I am working on this

[2020-05-16 18:25] nackie99 commented on #26465
When you get to this error "You do not have the SUPER privilege and binary logging is enabled", you can fix it by:

mysql -u root_USERNAME -p
set global log_bin_trust_function_creators=1;

Install seems to have finished on Mysql 8, no idea if thee will be problems down the line though

[2020-05-16 23:12] srenon commented on #23618
I was able to replicate this issue in 2.3.5-p1 with fresh 2.3.4 db upgrade.

One way to replicate this issue to to try:

1. Disable guest checkout
2. While still logged out, add an item to your cart (has this issue with downloadable product)
3. Then click checkout
4. On the log in screen. Log in with a customer that already has a save cart and billing info

The customer_is_guest will not get updat

[2020-05-17 03:45] shikhamis11 commented on #28243
@hemendraajmera thank you for reporting this issue. On your website did you install any additional caches? Also try to reproduce the issue at magento instances and share screenshots

[2020-05-17 10:27] leroynas commented on #28224
I also confirm this issue is present on Magento 2.4.0-p1

[2020-05-17 11:21] gauravharsh15 commented on #28186
Hello @markshust ,
According to current functionality, three caches(block_html, full_page, layout) are being disabled and then enabled again and if there are no cache disabled from (block_html, full_page, layout) then it disable all caches and enable all caches, please help to suggest the expected behaviour.
there must be some reason we are disabling and enabling all caches in Upgrade command.

[2020-05-17 12:19] markshust commented on #28186
The desired functionality is that whatever caches are disabled/enabled
before running the setup:upgrade command, should be re-applied after
running the command. So, the cache statuses should not change whatsoever
when running setup:upgrade.

On Sun, May 17, 2020 at 7:22 AM gauravharsh15 <notifications@github.com>
wrote:

[2020-05-17 12:55] ioweb-gr commented on #26308
I've noticed that in customer sessions too. I've had two websites in 2.3.1 and the sessions table reached 2.5m entries with none of them being cleared even though they were long past their expiration date.

After running a cleanup sql command to delete all sessions that the expiry timestamp had passed only 27 sessions were left. I think this is really important because the size of the DB increases

[2020-05-17 13:13] sureshkantharaj commented on #16958
Run the below command to solve the issue :

    php bin/magento module:disable Temando_Shipping --clear-static-content

[2020-05-17 18:42] operator888 commented on #20229
Hello,
This bug is still present at version 2.3.5

If you add 1 or more products in the Compare List, and these Products have no Short Description or Description, then when you visit the Compare page you get the following Fatal Error:

`Fatal error: Uncaught TypeError: preg_match() expects parameter 2 to be string, object given in /app/web/vendor/magento/module-catalog/Helper/Output.php:245 Stack

[2020-05-17 20:35] developerfromjokela opened #28249 ".log doesn't include timestamps which cause nightmares"
Magento exception.log (maybe other files also I am not sure) DOESN'T save timestamps when log entry was saved

This is literally nightmare, when troubleshooting, you cannot know when this log appeared if you just read file content. I personally sat and troubleshooted nothing for few hours because of this, didn't realize nothing was logged here, the content was at least few days old. And the issue

[2020-05-17 20:37] developerfromjokela commented on #28249
What's wrong with the format @magento-engcom-team

[2020-05-17 20:37] developerfromjokela commented on #28249
I am not kidding. This is unfortunately pain in the ass. Please do something about it

[2020-05-18 02:18] asilhome commented on #28055
Thanks for workaround!

[2020-05-18 04:02] hemendraajmera commented on #28243
I tried couple of times on same. and i haven't installed new caches or extension on instance.

[2020-05-18 04:03] hemendraajmera commented on #28068
Any quick solutions for issue Please.

[2020-05-18 05:05] ajijshekh123 commented on #28246
@magento give me 2.4-develop instance

[2020-05-18 05:05] magento-engcom-team commented on #28246
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-18 05:06] magento-engcom-team commented on #28246
Hi @ajijshekh123, here is your [Magento instance](https://i-28246-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28246-2-4-develop.instances.magento-community.engineering/admin_ed67](https://i-28246-2-4-develop.instances.magento-community.engineering/admin_ed67)
Login: `8897247f` Password: `9b527b4aa7ab`
Instance will be terminated in up to 3 hours.

[2020-05-18 06:08] #28249 closed, assigned to nobody

[2020-05-18 06:30] ajijshekh123 commented on #28246
Hello @akgitcom,
As per follow the Steps, Expected result and Actual result. I have reproduced this issue in the Default Magento 2.4 instance.
If I am creating the Cart rule to the specific SKU and Add different products on the cart and applied the coupon code, This coupon code discount is applied to all the products instead of specific SKU product.

See attached the Screenshot:
![WithAppliedCoupo

[2020-05-18 06:32] magento-engcom-team commented on #28246
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-18 06:34] gabrielmds85 commented on #27204
I had the same problem, but unfortunately this is not a Magento 2 issue, but instead an IonCube issue.
IonCube will not provide an accurate result for ReflectionParameter::isOptional() and ReflectionParameter::isDefaultValueAvailable() for functions inside encoded files before they're actually decoded and if the encoded file was not encoded with --allow-reflection-all option and if the caller file

[2020-05-18 07:00] leroynas commented on #28228
@magento give me 2.4-develop instance

[2020-05-18 07:01] magento-engcom-team commented on #28228
Hi @leroynas. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-18 07:02] magento-engcom-team commented on #28228
Hi @leroynas, here is your [Magento instance](https://i-28228-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28228-2-4-develop.instances.magento-community.engineering/admin_bdba](https://i-28228-2-4-develop.instances.magento-community.engineering/admin_bdba)
Login: `4d08ae86` Password: `ac44d23ba950`
Instance will be terminated in up to 3 hours.

[2020-05-18 07:21] dmcmillin opened #28251 "Customer Create fails"
### Preconditions (*)

1. 2.3.2
2.

### Steps to reproduce (*)

1. followed exact directions from https://devdocs.magento.com/guides/v2.3/rest/tutorials/orders/order-create-customer.html
2.

### Expected result (*)

1. [Screenshots, logs or description]
2. should give 200 and create account

### Actual result (*)

1. [Screenshots, logs or description]
2.
`"message": "No such entity with %fieldName

[2020-05-18 07:23] dmcmillin commented on #28251
@magento give me 2.3 instance

[2020-05-18 07:33] magento-engcom-team commented on #28246
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34369` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-18 07:41] #28228 closed, assigned to nobody

[2020-05-18 07:53] pemann commented on #28211
@magento give me 2.3.4 instance

[2020-05-18 07:53] magento-engcom-team commented on #28211
Hi @pemann. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-05-18 08:21] madhurajawat commented on #28068
@hemendraajmera Price does not come When all associated products are out of stock in Magento.
You can do code customization with overriding the Magento\Catalog\Pricing\Render\FinalPriceBox.php code to show the pricing.

Thanks

[2020-05-18 08:47] AleksLi commented on #27401
@magento I am working on it

[2020-05-18 08:53] AleksLi commented on #27401
@arptg hello. I couldn't reproduce the issue. Should I do something inside my custom class? I tried on default 2.4-develop instance and cannot reproduce the issue.

Could you give more instructions about how to extend the Magento\Catalog\Block\Product\ListProduct class

[2020-05-18 09:08] neroshin commented on #28055
It really worked thanks a lot (Y)

[2020-05-18 09:12] leroynas opened #28253 "Graphql createCustomerAddress mutation region mandatory"
I would expect region to not be mandatory on the createCustomerAddress mutation. When submitting this mutation without region, there is no issue. When you try to run the setShippingAddressesOnCart mutation, with the just created customerAddress (keep in mind to use the `customer_address_id` param and submit the Authorization header) it should work. The result is actually an error message stating:

[2020-05-18 09:32] steved1982 commented on #28244
I am having the same issue here all SOAP requests now do not work on Magento 2.3.5

https://magento.stackexchange.com/questions/312864/magento-2-3-5-soap-datetime-is-invalid

[2020-05-18 09:43] operator888 opened #28254 "Fatal error on Product-Compare page when Short Description & Description attributes are empty"
![magento2-3-5-dev-bug t23dev-2020 05 17-21-40-01 (1)](https://user-images.githubusercontent.com/3840384/82198670-ea66af00-98fc-11ea-8057-f50126ef26a4.jpg)

### Preconditions (*)

1. Magento 2.3.5

### Steps to reproduce (*)

1.  Add products to Compare where at least one product has no value set for at least one of its comparable attributes (e.g. "Description" or "Short Description" is empty).
2.

[2020-05-18 09:50] Swahjak commented on #26949
It seems this has been reverted? https://github.com/magento/magento2/commits/2.3/app/code/Magento/Catalog/Model/Layer/FilterList.php (again without any form of communication).

[2020-05-18 09:57] sta1r commented on #28244
@moloughlin This was fixed in v4.5.1 of our connector: https://github.com/dotmailer/dotmailer-magento2-extension/pull/558

To resolve you can upgrade via:
[code]

or add a replace directive to remove our module if you prefer:
[code]

[2020-05-18 10:08] steved1982 opened #28255 "[2.3.5-p2 only]Upgrading to 2.3.5 breaks SOAP"
### Preconditions (*)

1. Magento 2.3.5-p2 CE

### Steps to reproduce (*)

1. Using a fresh install of Magento 2.3.5-p2
2. Try calling http://DOMAIN.com/soap/default?wsdl_list=1

### Expected result (*)

1. A list of all available services in WSDL

### Actual result (*)

1. ![image](https://user-images.githubusercontent.com/14214911/82200982-97d6c400-98f7-11ea-99f9-7bca9a71fea4.png)
2. This was wo

[2020-05-18 10:10] steved1982 commented on #28255
@magento give me 2.3.5 instance

[2020-05-18 10:10] magento-engcom-team commented on #28255
Hi @steved1982. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-05-18 10:11] pointia opened #28256 "Messages with a-tags not rendered anymore"
Since Magento 2.3.5 messages with anchor tags are escaped by default.
We figured out that issue when following conditions are present:

### Preconditions (*)

1. Magento 2.3.5-p1

### Steps to reproduce (*)

1. Customer Account Confirmation is enabled
2. Customer registers account and does not click on the confirmation link
3. Customer tries to login (account is not confirmed)

### Expected result

[2020-05-18 10:20] ajijshekh123 commented on #28256
@magento give me 2.4-develop instance

[2020-05-18 10:20] magento-engcom-team commented on #28256
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-18 10:21] magento-engcom-team commented on #28256
Hi @ajijshekh123, here is your [Magento instance](https://i-28256-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28256-2-4-develop.instances.magento-community.engineering/admin_c8bd](https://i-28256-2-4-develop.instances.magento-community.engineering/admin_c8bd)
Login: `76fbb3f8` Password: `aeb425da5049`
Instance will be terminated in up to 3 hours.

[2020-05-18 10:32] ajijshekh123 commented on #28256
Hello @pointia,
I have verified this issue in the latest Magento 2.4 Instance. I am not able to reproduce this issue.
"'This account is not confirmed. Click here to resend confirmation email." link is visible and Once user clicks on the "Click here" link, It is working properly.

See attached the video:

![Untitled_ May 18, 2020 3_56 PM](https://user-images.githubusercontent.com/24711761/82203411-

[2020-05-18 10:43] paales opened #28257 "[NOT READY] GraphQL fields shouldn't optional in schema."
### Preconditions (*)
1. Latest dev branch.

### Steps to reproduce (*

Take a look at https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/CatalogGraphQl/etc/schema.graphqls

### Expected result (*)

For example:
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/CatalogGraphQl/etc/schema.graphqls#L86
`id: Int!`

This is happening all over the codebase and shou

[2020-05-18 10:45] skdude commented on #16134
confirm still an issue.

[2020-05-18 11:01] pointia commented on #28256
@ajijshekh123 Thanks for verification and I've checked the code from 2.4.

This issue was fixed 19 days ago by https://github.com/magento/magento2/pull/27662.

Does this fix get backported to 2.3.5+ ?

[2020-05-18 11:19] moloughlin commented on #28255
Linking to resolution from my ticket (same root cause): https://github.com/magento/magento2/issues/28244#issuecomment-630077997

TL;DR: upgrade dotmailer module or use a replace directive to remove it.

[2020-05-18 11:25] magento2dev commented on #28068
Sadly @madhurajawat you can't simply override this renderer because the ordering by prices on category pages do not work. Magento indexes for configurable products prices still equal to 0 so it's not working.

Thanks

[2020-05-18 11:39] madhurajawat commented on #28068
@magento2dev I have checked with this and it's working. Also working category page ordering.
With this, it will show the price of the configurable product on the product page. You can customize code to display the lowest product price as well.
For the custom module, Check reference below:
https://magento.stackexchange.com/questions/160145/magento-2-how-to-show-prices-for-out-of-stock-products

Tha

[2020-05-18 11:42] swathishs commented on #13765
@magento give me 2.4-develop instance

[2020-05-18 11:42] magento-engcom-team commented on #13765
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-18 11:43] magento-engcom-team commented on #13765
Hi @swathishs, here is your [Magento instance](https://i-13765-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-13765-2-4-develop.instances.magento-community.engineering/admin_84e2](https://i-13765-2-4-develop.instances.magento-community.engineering/admin_84e2)
Login: `6e0fc9ae` Password: `e93294773679`
Instance will be terminated in up to 3 hours.

[2020-05-18 11:47] kishorenagalingam commented on #28198
@magento give me 2.4-develop instance

[2020-05-18 11:47] magento-engcom-team commented on #28198
Hi @kishorenagalingam. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-18 11:48] cfriedm opened #28258 "Our Daily Counts will not load"
### Preconditions (*)

1. when i click on REPORTS and try to run our DAILY COUNTS i am getting nothing
2. i have cleared all CACHES but that has not worked

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-05-18 11:48] magento-engcom-team commented on #28198
Hi @kishorenagalingam, here is your [Magento instance](https://i-28198-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28198-2-4-develop.instances.magento-community.engineering/admin_d73d](https://i-28198-2-4-develop.instances.magento-community.engineering/admin_d73d)
Login: `c20242ab` Password: `7311c2133d4c`
Instance will be terminated in up to 3 hours.

[2020-05-18 11:50] magento2dev commented on #28068
Thanks @madhurajawat but the custom module you are referring to is not for configurable products. If you apply the same fix on Magento\ConfigurableProduct\Pricing\Render\FinalPriceBox the product ordering on category pages is not working.

[2020-05-18 11:51] Vigneshmuthusamy commented on #28023
Ah sorry man, I misunderstood it. However, we cannot classify it as a bug, but you can contribute it as an improvement. Also make sure you handle it wherever it's referenced in admin like sales orders, invoices etc.,

[2020-05-18 11:57] madhurajawat commented on #28068
@magento2dev Yes, I have checked it myself. the category page is also working well at my end.

![Screenshot_2020-05-18 Jackets - Tops - Women(1)](https://user-images.githubusercontent.com/59955325/82210460-c0c57c00-992c-11ea-877e-055c337f32c7.png)
![Screenshot_2020-05-18 Jackets - Tops - Women](https://user-images.githubusercontent.com/59955325/82210465-c327d600-992c-11ea-9eab-e351ea987126.png)
![

[2020-05-18 11:58] cfriedm commented on #28258
hello.

I need to generate the DAILY REPORTS report, but get a blank screen when I select today’s date.

I have a good connection to wifi.

Something needs to be done on the back end.

I want to generate the report.

thanks.

Cleetus Friedman		•		Executive Chef
t. 312.402.0221		|		e. cleetus@kitchfix.com <mailto:cleetus@kitchfix.com>
 <http://www.facebook.com/cjkfoods>		 <http://www.twitter.com/ki

[2020-05-18 11:58] magento-engcom-team commented on #28258
Hi @cfriedm. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-18 11:59] magento-engcom-team commented on #28258
Hi @cfriedm, here is your [Magento instance](https://i-28258-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28258-2-4-develop.instances.magento-community.engineering/admin_0139](https://i-28258-2-4-develop.instances.magento-community.engineering/admin_0139)
Login: `2750f462` Password: `18fc4528ddf9`
Instance will be terminated in up to 3 hours.

[2020-05-18 12:01] cfriedm commented on #28258
Thank you for this, but I can’t view our reports with this login information

Cleetus Friedman		•		Executive Chef
t. 312.402.0221		|		e. cleetus@kitchfix.com <mailto:cleetus@kitchfix.com>
 <http://www.facebook.com/cjkfoods>		 <http://www.twitter.com/kitchfix>		 <http://www.instagram.com/kitchfix>

[2020-05-18 12:15] magento2dev commented on #28068
@madhurajawat these products are out of stock ?
because I just tried on a fresh Magento installation and it's not working, many people have the same issue. I check the catalog_product_index_price table data for out of stock configurable products and all prices are equal to 0 so it can't work.

Thanks

[2020-05-18 12:18] madhurajawat commented on #28068
@magento2dev Yes, It is out of stock products. You can see the out of stock label as well.

[2020-05-18 12:21] swathishs commented on #13765
The issue is not reproducible in Magento 2.4-develop instance. Please find the attachments below :
![image](https://user-images.githubusercontent.com/58288685/82211943-55c97480-992f-11ea-9824-9437bca26fb2.png)

[2020-05-18 12:24] krissyhiserote commented on #26949
@Swahjak yes I believe that this was reverted.  Sorry that it wan't communicated with you after the internal ticket was finished.

[2020-05-18 12:29] engcom-Alfa commented on #28198
The issue is reproducible on fresh 2.4-develop

**Actual Result:**
![Screenshot from 2020-05-18 15-29-21](https://user-images.githubusercontent.com/51679138/82213156-60c6d980-991c-11ea-893e-0e41ded1d71e.png)

[2020-05-18 12:32] magento-engcom-team commented on #28198
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34375` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-18 12:33] magento2dev commented on #28068
@madhurajawat on a fresh Magento 2.3.4 it's not working if configurable and sub simple products are set out of stock, the above custom module display the prices but the ordering is not working.

[2020-05-18 12:48] arendarenko commented on #10583
Issue is swill present in 2.3.5
It's reproducing after you create plugin for AddressInterface.

@magento-team mentioned link is not working

I used #25965 patch to fix this issue locally, but probably it's need to be fixed on the Magento side.

[2020-05-18 13:04] daweedco commented on #26172
still no update ???

[2020-05-18 13:06] kishorenagalingam commented on #28198
@magento I am working on this

[2020-05-18 13:46] steved1982 commented on #28255
I have followed those steps but I am still seeing the error. My example URL is:
soap/all?wsdl&services=customerAccountManagementV1

[2020-05-18 14:02] magento2dev commented on #28068
Thanks for your help @madhurajawat but I already looked at this tickets and there is no real fix for this issue.

[2020-05-18 14:37] magento-engcom-team commented on #28211
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34380` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-18 15:00] ghost opened #28261 "[Issue] [Wishlist] Giving the possibility to set/update item description on item update"
This issue is automatically created based on existing pull request: magento/magento2#28222: [Wishlist] Giving the possibility to set/update item description on item update

---------

### Preconditions (*)
This PR improves the wishlist item update, by allowing to update the description while updating the wishlist item.

The problem occurs, when we want to set/update the item description in the sam

[2020-05-18 15:03] uabassguy commented on #27282
Also having this issue. Was anything done on this?

[2020-05-18 15:03] ghost opened #28262 "[Issue] magento/magento2#: GraphQl. Remove a redundant logic in “SetShippingMethodsOnCart” mutation resolver"
This issue is automatically created based on existing pull request: magento/magento2#27349: magento/magento2#: GraphQl. Remove a redundant logic in “SetShippingMethodsOnCart” mutation resolver

---------

### Description (*)

PR removes a redundant logic in the `SetShippingMethodsOnCart` mutation resolver because `Webonix` covers the next cases:
- `shipping_methods`.`carrier_code` does not exist

[2020-05-18 15:08] angelflo commented on #16134
confirm also ... still the issue ! how is it possible to have a so major bug not solved since a SO LONG TIME ????

[2020-05-18 15:12] nerminleap13 opened #28263 "Add to cart Doesn't work on Magento 2.3.4 RTL - ar language"
I have Magento 2.3.4 With two store view for two language the English one working well but in Ar view the Add to cart button doesn't work, I think the issue doesn't related to the RTL but its related to the language ar_SA please advice
### Preconditions (*)

1. Magento v : 2.3.4
2. RTL
3. Language ar_SA
4. PHP 7.3
5. Use RTL Pro Theme and choose ar_SA locale option
6. I have to store view en_US &

[2020-05-18 15:28] Brengineer commented on #28254
(Note that this is related to [Issue #20229](https://github.com/magento/magento2/issues/20229), which was not fixed properly.)

[2020-05-18 16:40] okorshenko commented on #27959
Hello @magento/engcom-team-members
Test message

[2020-05-18 16:54] arptg commented on #27401
layout - catelog_product_view.xml

[code]

contents of the block file.
[code]
@AleksLi
hope this helps. I don't know about magento 2.4 but in magento 2.3.4 this breaks product sort.

[2020-05-18 16:55] magento-engcom-team commented on #27141
Hi @MLucaciu. Thank you for your report.
The issue has been fixed in magento/magento2#27414 by @niravkrish in 2.4.0-develop branch
Related commit(s):
 - [8e4c3bfa7fd638e679d9dec94912f9f5f2dcd35e](https://github.com/magento/magento2/commit/8e4c3bfa7fd638e679d9dec94912f9f5f2dcd35e)
 - [ec55a63792a3075bc7fa79abe3a064a0150aef7c](https://github.com/magento/magento2/commit/ec55a63792a3075bc7fa79abe3a064

[2020-05-18 16:55] #27141 closed, assigned to Stepa4man, niravkrish

[2020-05-18 17:07] majidiyan opened #28265 "Admin, product edit , tab Configurations, pagination"
Hello
I found a bug in Magento 2.3.5 and want to report it.
I created a configuration product with 200 child products.
The bug is in admin product page, when I wanted to use configurable product pagination.
I put "20 products per page".
The first page is showing 20 first products, this is ok, but when I clicked next arrow, it showed me all reminder 180 products and it takes so many times and my br

[2020-05-18 17:56] ajijshekh123 commented on #28265
@majidiyan - Please add your bugs in the below Magento Issue reporting guidelines.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2020-05-18 18:04] sdzhepa commented on #24426
Hi @sdzhepa . Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instance on our en

[2020-05-18 18:04] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-18 18:06] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_a1e2](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_a1e2)
Login: `8fe617c4` Password: `03d94c86e1bf`
Instance will be terminated in up to 3 hours.

[2020-05-18 18:10] sdzhepa opened #28266 "[TEST] Updated assistant message"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-05-18 18:10] #28266 closed, assigned to nobody

[2020-05-18 18:19] muzzamal opened #28267 "Sales > order not updating automatically"
My magento 2.3 sales > orders are not updating automatically. I have to run cron:run command and than refresh sales > orders page to see the new orders.

[2020-05-18 18:19] sdzhepa opened #28268 "[TEST] Updated assistant message2"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-05-18 18:22] engcom-tester commented on #28268
@magento I am working on this

[2020-05-18 18:39] #28268 closed, assigned to engcom-tester

[2020-05-18 19:45] operator888 commented on #28254
Yes Brengineer, as you can see on the bottom of #20229 report, I have made an entry yesterday, but noone seem to re-open that case or take any action. So, I had to re-report it here, because although its about the same topic, its still not fixed, and I have no Idea why that report had been closed.

[2020-05-18 20:42] Brengineer commented on #28254
I agree. I just wanted to cross-reference. 😉

[2020-05-18 21:04] sdzhepa commented on #28246
Hello @akgitcom
fyi: @ajijshekh123

The issue seems as expected behavior or configuration issue

In general "Condition" section defines, like if the condition is TRUE = apply the rule for all cart items.
But in the bottom of the "Actions" section, there is setting for condition  **Apply the rule only to cart items matching the following conditions (leave blank for all items).**
Use it to apply the

[2020-05-18 21:31] bubasuma commented on #27865
Internal Magento team is working on this issue right now.

[2020-05-18 21:48] uandiweb opened #28269 "Out of Stock Configurable Products Show in Catalog & Search (MSI)"
### Preconditions (*)

1. Magento 2.3.5-p1
2. Set Magento to not show out of stock products
3. MSI should be enabled

### Steps to reproduce (*)

1. Create a configurable product with a child (simple) product in stock
2. Place an order that will cause the child (simple) product to have 0 salable quantity
3. Keep the order in processing mode so the source store still has quantity in stock (salable

[2020-05-18 23:43] pixiemediaweb opened #28270 "Configurable product with swatches, doesn't show tier pricing when clicking edit in cart OR when active swatch set with url hash"
### Preconditions (*)

1. Magento 2.3.5

### Steps to reproduce (*)

1. Create a configurable product with swatch options
2. Add tier prices to one of the options
3. Go to configurable product PDP
4. Select the tier price product
5. Add the product to cart
6. Click on edit button from mini cart/ cart page
7. Check the tier price is not shown on edit product page
8. Load the page with #attribute_id

[2020-05-19 00:05] adarshkhatri commented on #25068
Still happening in 2.3.3-p1. The system is looking for `jquery.js` instead of `jquery.min.js`.

[2020-05-19 03:31] luantran1311 opened #28271 "Errors during compilation: \Customization\Block\Specialproductlist"
### Preconditions (*)

1. Magento CE 2.3.5-p1

### Steps to reproduce (*)

1.  run **php bin/magento setup:di:compile**
2.  **Errors during compilation: \Customization\Block\Specialproductlist
Incompatible argument type: Required type: \Magento\Catalog\Api\CategoryRepositoryInterface. Actual type: array; File: /app/code/Customization/Block/Specialproductlist.php**

### Expected result (*)

1. code

[2020-05-19 05:04] ajijshekh123 commented on #28256
Okay, @pointia.

[2020-05-19 05:05] magento-engcom-team commented on #28256
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34406` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-19 05:06] ajijshekh123 commented on #28265
@magento give me 2.4-develop instance

[2020-05-19 05:07] magento-engcom-team commented on #28265
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-19 05:08] magento-engcom-team commented on #28265
Hi @ajijshekh123, here is your [Magento instance](https://i-28265-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28265-2-4-develop.instances.magento-community.engineering/admin_6e4f](https://i-28265-2-4-develop.instances.magento-community.engineering/admin_6e4f)
Login: `7027ed62` Password: `683e0e1e3b2c`
Instance will be terminated in up to 3 hours.

[2020-05-19 05:12] atIOCrON commented on #27452
@sudheers-kensium, your screenshot shows that you didn't follow the instructions I gave to reproduce this issue.

The issue is faced if you attempt to enter a 3-digit CVV for AMEX.

Since a 3-digit CVV for AMEX is invalid it would be impossible for you to place an order if you'd followed my directions.

Please follow the steps I gave exactly under "Steps to reproduce (*)" and send a screenshot of

[2020-05-19 05:21] sudheers-kensium commented on #27452
@atIOCrON We need to use 4 digit cvv no For AMEX card

[2020-05-19 05:21] atIOCrON opened #28272 "Braintree invalid credit card number error handling Braintree"
### Preconditions (*)

1. Magento CE 2.3.4 with sample data
2. Braintree payment method is set up with Visa and MasterCard enabled

### Steps to reproduce (*)

1. Sales > Orders > Create New Order
2. Choose products, complete the addresses and choose a delivery method
3. In the Braintree payment method enter a valid card number except for one digit (so the card number is actually incorrect) with a

[2020-05-19 05:25] ShambhuDeveloper commented on #28245
Hi Shikha Mishra,

I'm waiting for your response.
Please let me know, what's the exactly problem if you find them.
Please help me asap.

Thanks

[2020-05-19 05:26] atIOCrON commented on #27452
@sudheers-kensium, do you understand the issue? The issue here is that the Magento error handling of an invalid CVV causes the page to be frozen.

If you use a 3-digit CVV for AMEX, the page should NOT freeze, it should show an error, that is all.

Here is what I wrote initially but it seems you didn't read or understand it:

Expected result (*)
An error should be shown stating that the CVV for AM

[2020-05-19 05:26] ajijshekh123 commented on #28246
Okay @sdzhepa, I Will review it again this issue and update the comment.

[2020-05-19 05:27] atIOCrON commented on #28272
FYI, our developers wrote code to fix this on our site but it should be fixed in the Magento core:

They said:

"We've modified the Braintree payment method to give better error messages. We've also fixed it so that the loader is closed and lets you change the details properly."

It's disappointing that error handling by the core Braintree payment method is so poor.

[2020-05-19 05:32] atIOCrON commented on #27453
@sudheers-kensium , your screenshots show once again that you've failed to follow my steps to reproduce the issue. You've attempted on the frontend checkout, which is NOT what my steps say to do.

Please re-open this issue and unassign yourself so that someone else who can read directions can take a look. You're wasting my time closing all of my issues without following the steps to reproduce.

[2020-05-19 05:33] atIOCrON commented on #27452
@sudheers-kensium , please re-open this issue and unassign yourself so that someone else who can read directions can take a look. You're wasting my time closing all of my issues without following the steps to reproduce.

[2020-05-19 05:48] neroshin opened #28273 "git clone --branch staging magento 2"
Hi support , I got some issue on migration of magento 2 there's no "Bin" folder after I clone it , I am newbie on magento hope someone can help me , it  can help much better if have a best instruction for migration from the magento 2 cloud via git repo

![image](https://user-images.githubusercontent.com/4207793/82289288-0b9bce00-99d7-11ea-966d-70a14df02655.png)

[2020-05-19 06:08] ShieldedGoblin commented on #28055
Funcionou normalmente (worked here)

[2020-05-19 06:23] LiamKarlMitchell commented on #7877
This is so weird why is there a store view 0 and store view 1.
They have different values for same API request to update a product...

So the values in Admin e.g. Name or Option Titles don't change only the front end ones do or vice versa depending if you use all or default prefixed in the URL...

This can't be right?

[2020-05-19 06:31] LiamKarlMitchell opened #28274 "Rest API only updates 1 store view. But there are multiple store views on a single store site?"
Store id 0 is admin
Store id 1 is default

Updating a product using rest api by all or default will only update 1 of these values not both (as you would expect with just / or all/ infact why are there even two different values for everything e.g. catalog_product_entity_varchar, option titles etc.

So if you only update the front end one, the admin details are wrong and if only updating the admin o

[2020-05-19 06:35] LiamKarlMitchell commented on #28274
I'll try on 2.4 later if I get time.
How do I access the SQL and Rest API on these test instances?

[2020-05-19 07:02] atIOCrON commented on #14398
Has there been any update on this?

[2020-05-19 07:23] magenx commented on #14881
it looks like modules and themes installation with custom attributes of this type not working as well

[2020-05-19 07:42] KarthickSelvam commented on #25173
Is this fixed?

[2020-05-19 07:47] prasannachelladurai90 commented on #28092
@chequille I Pasted the Drive link here and it automatically took the email.

And Coming to the Bug. I did try Disabling the InContext Checkout in Paypal Configuration
![image](https://user-images.githubusercontent.com/60870557/82296552-f91d9680-99ce-11ea-9c2b-97a72ecb9be7.png)
But i was unable to re create the issue During multiple checkouts
Please refer to the Video Session
https://drive.google.

[2020-05-19 07:57] adeelq opened #28275 "Magento 2.3.4 - On customer creation, existing subscriber's subscription to newsletter is withdrawn"
### Preconditions (*)

1. Magento 2.3.4 vanilla

### Steps to reproduce (*)

1. Subscribe to Magento newsletter using example email test@test.com
2. Confirm above user has become subscriber.
3. Create new account using same email as mentioned in point 1. Do not select "Sign Up for Newsletter" checkbox while creating customer account.
4. Confirm new account is created.

### Expected result (*)

1.

[2020-05-19 08:03] operator888 commented on #28254
But I cross-reference and clearly mention that relation with that bug-report 2 messages before your message in here.

<img width="1291" alt="Screenshot 2020-05-19 at 10 01 36" src="https://user-images.githubusercontent.com/3840384/82300979-e350a700-99b7-11ea-8552-ef93b5e9a674.png">

[2020-05-19 08:18] maximilianmikus commented on #28200
@magento give me 2.4-develop instance

[2020-05-19 08:18] magento-engcom-team commented on #28200
Hi @maximilianmikus. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-19 08:19] magento-engcom-team commented on #28200
Hi @maximilianmikus, here is your [Magento instance](https://i-28200-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28200-2-4-develop.instances.magento-community.engineering/admin_b3e5](https://i-28200-2-4-develop.instances.magento-community.engineering/admin_b3e5)
Login: `cf115cc0` Password: `32c908c14326`
Instance will be terminated in up to 3 hours.

[2020-05-19 08:31] maximilianmikus commented on #28200
I can confirm this happens on 2.4-develop

the query:
[code]
with variables
[code]
yields
[code]
It should actually contain the labels. "my yellow" and "my large"

[2020-05-19 09:09] lbajsarowicz commented on #28274
#8897 related.

[2020-05-19 09:10] r32rf opened #28276 "where is the templating system>?"
hello of the good day why no template system magento 2 has?  php framework of the good does twig????

[2020-05-19 09:10] lbajsarowicz commented on #28273
All the runtime directories are being created during `composer install`.

[2020-05-19 09:10] #28273 closed, assigned to nobody

[2020-05-19 09:14] LusienGG commented on #10580
still not working for bg_BG in 2.3.1

[2020-05-19 09:14] lbajsarowicz commented on #28272
@atIOCrON You can contribute with your solution to Magento core, if your solution is viable.

[2020-05-19 09:15] lbajsarowicz commented on #28271
This is not Magento-related issue. The problem is caused by the Customization module.

[2020-05-19 09:21] AleksLi commented on #25348
@magento I am working on it

[2020-05-19 09:40] r32rf opened #28277 "install of the big fail no work pls fix"
Unable to apply patch Magento\Catalog\Setup\Patch\Schema\EnableSegmentation for module Magento_Catalog. Original exception message: Invalid column data type ""

[2020-05-19 09:41] domeglic opened #28278 "Cart update qty performs two requests to controller"
### Preconditions (*)

1. Magento v2.3.5
2.

### Steps to reproduce (*)

1. Put a product into cart and go to cart page
2. Update qty and press "Update Shopping Cart"

### Expected result (*)

1. One request to update qty

### Actual result (*)

1. Two requests are made, one has no effect

If you inspect requests that are made, the first one is to `checkout/cart/updateItemQty` and the second one t

[2020-05-19 09:42] domeglic commented on #28278
@magento give me 2.4-develop instance

[2020-05-19 09:42] magento-engcom-team commented on #28278
Hi @domeglic. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-19 09:43] magento-engcom-team commented on #28278
Hi @domeglic, here is your [Magento instance](https://i-28278-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28278-2-4-develop.instances.magento-community.engineering/admin_b059](https://i-28278-2-4-develop.instances.magento-community.engineering/admin_b059)
Login: `cc0e5c64` Password: `c5dae475fc23`
Instance will be terminated in up to 3 hours.

[2020-05-19 09:48] krishprakash commented on #28276
Hi @r32rf.
GitHub issue tracker is intended for magento core technical issues only
Kindly refer[ community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com/) for general discussion about this
Thank You !!

[2020-05-19 09:48] #28276 closed, assigned to krishprakash

[2020-05-19 09:48] domeglic commented on #28278
![image](https://user-images.githubusercontent.com/8225737/82311712-5f51eb80-99c6-11ea-8125-daa7158a34a7.png)

In 2.4-develop there are still two requests being made.

[2020-05-19 09:57] ProkopovVitaliy commented on #28162
I'm working on this issue.

[2020-05-19 10:01] mugua opened #28280 "Magento 2.3.5-p1 No ‘Secure’ Attribute in frontend"
### Preconditions (*)

1.Magento 2.3.5-p1
2.php 7.3.x
3:nginx

### Steps to reproduce (*)

1: force http to https
2: set secure website
3: set HttpOnly to Yes
4: add a samesite=none attribute from @HirokazuNishi 's fix
### Expected result (*)

1. will show the httponly and secure attribute in frontend
2. BTW, I add a samesite=none attribute from @HirokazuNishi 's fix.
3: then the chrome and firefo

[2020-05-19 10:47] Bartlomiejsz commented on #26427
@magento I am working on this

[2020-05-19 10:58] shikharomar01 commented on #6831
I am getting the same error in magento 2.3.5
Please Check
https://prnt.sc/sjlii0
I already applied Magonex extension for datetime, but it did not work for me.

[2020-05-19 11:08] nmallepally commented on #10162
Hi,

Same issue here on Magento 2.3.4-p2 version as well.
The moment it goes to the payment gateway page an order confirmation email is sent out without payment being completed.

This creates a lot of confusion for us and the customer, this could be a possible fraud situation where users can receive order emails without actually making a payment.

Would be great, if the magento team can looking in

[2020-05-19 11:14] CarmineDamore78 commented on #28208
Issue not reproduced on Magento 2.3.4

[2020-05-19 11:21] mugua commented on #28280
@magento give me 2.3.5-p1 instance, Thanks.

[2020-05-19 11:21] magento-engcom-team commented on #28280
Hi @mugua. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-05-19 11:47] githuzz commented on #8189
migrated from 1.9.x to 2.3.5-p1, all products are  imported, but no product showing up in front end:We can't find products matching the selection.

[2020-05-19 11:51] CarmineDamore78 commented on #28158
@magento give me 2.3.4 instance

[2020-05-19 11:51] magento-engcom-team commented on #28158
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-05-19 11:54] majidiyan commented on #28265
Hello
If you make a configurable product with 200 children , then you will see the pagination works incorrectly.

[2020-05-19 12:01] sudheers-kensium commented on #28208
Issue is reproduced on Magento 2.3.5p1.

[2020-05-19 12:03] atIOCrON commented on #28272
@lbajsarowicz our developers just created a quick fix. Someone else should look into this bug in more depth.

[2020-05-19 12:04] atIOCrON commented on #27453
Hi @sudheers-kensium, please re-open this issue and unassign yourself so someone else can work on it.

[2020-05-19 12:13] weiweiouyang commented on #28016
Hello @sdzhepa ,
Would you need my update for the excepted result or your Product Manager will be in charge of it?
I'm not sure to fully understand the previous message.

[2020-05-19 12:16] swathishs commented on #28236
@magento give me 2.4-develop instance

[2020-05-19 12:16] magento-engcom-team commented on #28236
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-19 12:17] magento-engcom-team commented on #28236
Hi @swathishs, here is your [Magento instance](https://i-28236-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28236-2-4-develop.instances.magento-community.engineering/admin_a227](https://i-28236-2-4-develop.instances.magento-community.engineering/admin_a227)
Login: `2be2dc49` Password: `7d7bac35c4ee`
Instance will be terminated in up to 3 hours.

[2020-05-19 12:42] lbajsarowicz commented on #28272
@atIOCrON You can actually work on the final fix and contribution would be appreciated.

[2020-05-19 12:54] majidiyan commented on #28265
For example: I made a  configurable product by the name of "test1" and  used 2 product attributes:
majidian_color, majidian_size.
Please go to admin and see this configurable product and check the pagination (Configurations tab)

[2020-05-19 13:16] andrewbess commented on #28263
Hello @nerminleap13
Are you sure that this problem is the Magento problem and not third-party theme problem?

[2020-05-19 14:15] LiamKarlMitchell commented on #8897
So in the meantime should I just send two API requests to save product data using the Rest API?
One to all and one to default? (Admin and Default values get out of sync)

Can someone please explain why are there two store views/copies of same data all over the show in the EAV/DB?
As I do not understand why there is an Admin and a Frontend store id when website has the single store/site enabled.

[2020-05-19 14:24] Brengineer commented on #28254
I'm sorry, I did not notice that entry.
If you like, I will remove my comments.

[2020-05-19 14:40] atIOCrON commented on #28272
@lbajsarowicz I'm not a developer., unfortunately, I'm just the store owner. If I was, I'd love to work on the fix.

[2020-05-19 14:54] operator888 commented on #28254
its ok with me friend and no problem.
I just try to be thorough and right when doing bug reports and i was like, huh.. but i reported that already what is he talking about?! :)
Now lets quit small talk, and work on this and other issues.
Have a nice day!

[2020-05-19 15:21] ztekengineering opened #28283 "ValidatorException thrown in the frontend"
### Summary (*)

### Examples (*)

### Proposed solution

[2020-05-19 15:36] elfeffe commented on #22629
@koenner01 I confirm that this is still happening in 2.3.4, I had to Disable Automatic Group to make it work in a custom customer group.

[2020-05-19 18:07] chequille commented on #28092
Hi,
sorry, the error occurs after pressing "Continue to Paypal", not as you did just selecting PayPal as payment method.
Of course you will not see it.

So again, go on with the checkout and press continue to paypal.

Regards,
Jürgen

[2020-05-19 18:11] chavesfop commented on #13746
Same issue here, running 2.2.10, FPC is on, anything I can do to help to solve?

[2020-05-19 18:19] chequille commented on #28092
https://drive.google.com/file/d/1J_s-eMnESuqrIEwU9Mw4i2zA1L_GTlPS/view?usp=sharing

Ok, this is now my video.
After Pressing "Zahlungspflichtig bestellen" the error occurs before it is going to the PayPal site.

[2020-05-19 18:20] chequille commented on #28092
PS: of course "Zahlungspflichtig bestellen" is on your site "Continue to PayPal"

[2020-05-19 18:22] gauravharsh15 commented on #28186
Thanks @markshust , can you please help to guide on these pointers as well :

1. As per current feature, we are first disabling cache[_block_html, full_page, layout_] and later enabling these cache, do we need to change it with first enabling the current disabled cache and later disabling them once the command execution is about to end ?

2. If we just want it to make it as it is then do we really

[2020-05-19 18:51] danielrenaud commented on #26114
@0-Sony Can you add steps to reproduce from a fresh magento install (preferably a newer version)?
For the case of the sample data homepage. The page's content is actually empty, and widget are added to it via layout updates. So we would expect the result:
[code]

[2020-05-19 19:34] netcom commented on #27477
Any eta on this?

[2020-05-19 20:32] johncarlson21 commented on #26724
I'm also having this same issue, but it only happens when the site is in production mode

[2020-05-19 20:41] johncarlson21 commented on #26724
So my site is in production and I go to work with a Cart Price Rule, I choose the action of "Category" is not, then I click on the tree button, which pulls up the tree.

Once that is loaded as soon as I click a category I get this error:
`TypeError: options.jsFormObject is undefined category-checkbox-tree.js:249:17
    <anonymous> http://m2.du-ha.com/static/adminhtml/Magento/backend/en_US/Magento_

[2020-05-19 20:52] nerminleap13 commented on #28263
Hello,
Theme support told me that is an issue on Magento 2.3.4 and I should open an issue on Github, could you advice me please.

[2020-05-19 21:36] rafaelstz opened #28286 "ElasticSearch breaks with /"
### Preconditions (*)

1. ElasticSearch 6
2. Magento Commerce 2.3.1

### Steps to reproduce (*)

1. Search "bois trait/"

### Expected result (*)

1. Return results
2. Don't break

### Actual result (*)

1. Break the page
2. Logs say:

## New Relic

[code]

## Magento Report

[code]

[2020-05-19 21:38] lenaorobei commented on #25227
Agree with @Stepa4man.
Closing as not an issue.

[2020-05-19 21:38] #25227 closed, assigned to tna274

[2020-05-19 22:00] bruvinsky commented on #26724
@johncarlson21 ,
maybe this fix can be useful as a temporary solution
https://github.com/magento/magento2/pull/26791/commits/9e8a5966b5cc731422a090c5e9d431bee17a8147
or Magento has already fixed in 2.4-develop branch

[2020-05-19 22:02] abude commented on #28067
This is still not working on 2.3.5-p1

running the consumer command doesn't fix it and i see no way now to force it to create the export file.

Any updates on this?

[2020-05-19 22:30] magento-engcom-team commented on #28110
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27622 by @krzksz in 2.4-develop branch
Related commit(s):
 - [32926385fcce5e72c028174d105c1a8fad785bd5](https://github.com/magento/magento2/commit/32926385fcce5e72c028174d105c1a8fad785bd5)
 - [503b89ab64f8fcc2ff61fb92c0d40596deeac5ed](https://github.com/magento/magento2/commit/503b89ab64f8fcc2ff61fb92c0d40

[2020-05-19 22:30] #28110 closed, assigned to krzksz

[2020-05-19 22:30] magento-engcom-team commented on #26026
Hi @cundd. Thank you for your report.
The issue has been fixed in magento/magento2#27270 by @krzksz in 2.4-develop branch
Related commit(s):
 - [31eeaa7b5b18d27fc786660d23faaba6ff0393d1](https://github.com/magento/magento2/commit/31eeaa7b5b18d27fc786660d23faaba6ff0393d1)
 - [4fa54472bab13709e6f320fea97bdc94f330bcfd](https://github.com/magento/magento2/commit/4fa54472bab13709e6f320fea97bdc94f330bcf

[2020-05-19 22:30] #26026 closed, assigned to krzksz

[2020-05-19 22:51] daniloaldm commented on #28286
Was it the only way to break? I may have encountered another problem

[2020-05-19 22:55] nerminleap13 commented on #28263
Hello,
Its fixed, It was something wrong on my editing the currency view
Thank you

[2020-05-19 22:55] #28263 closed, assigned to nobody

[2020-05-20 00:05] ammarabdulsalam commented on #25769
After testing the update, The problem still exists.
The Arabic letters now in correct order, but letters disjointed.

[2020-05-20 00:18] ghost opened #28288 "[Issue] fix bulk operations id on queue"
### Description (*)
After save all operations with insert directly to the database we lose all ids making it impossible to change the operations status after that.

### Preconditions (*)

RabbitMQ connection configured

### Steps to reproduce (*)
1. Install magento;
2. Run in console: `bin/magento queue:consumers:start async.operations.all`;
3. Go to API client ( **Talent API Tester** in my case);

[2020-05-20 02:46] sashas777 opened #28289 "Module Store dependancy on module MessageQueue"
The module store should have dependency on MessageQueue because it uses:
[code]
https://github.com/magento/magento2/blob/2.3/app/code/Magento/Store/Model/Store.php#L413

Currently it is only depends on framework:
https://github.com/magento/magento2/blob/2.3/app/code/Magento/Store/composer.json
which doesn't have Magento\Framework\MessageQueue

### Preconditions (*)
1.  Copy last version of Module_

[2020-05-20 02:48] jkenneydaniel commented on #25119
@hostep Honestly I'm kind of befuddled as to why this was working previously on a 2.3.4 project but suddenly stopped today. Makes sense - considering as you said the PR to fix this is yet to be merged - either way was sad when I discovered it was also effecting me now 😢

[2020-05-20 03:22] abbaseg opened #28290 "ifconfig is not working with action in 2.3.5-p1"
### Preconditions (*)

1. Magento version should be 2.3.5-p1

### Steps to reproduce (*)

1. create  layout file at Vendor_ModuleName/view/frontend/layout/customer_account_create.xml
2. Content should be like this

![Selection_599](https://user-images.githubusercontent.com/59718206/82401509-f5ecde00-9a94-11ea-892b-de72601426b8.png)

### Expected result (*)

1. If configuration customerregistraion/

[2020-05-20 03:49] ihor-sviziev commented on #25769
Hi @ammarabdulsalam,
Could you report new issue with exact steps to reproduce with linking to this one? Unfortunately I just googled examples somewhere in internet and it looked to me as good enough solution.

[2020-05-20 03:51] abbaseg commented on #28290
It was a mistake in my code. I have found the reason.

[2020-05-20 03:51] #28290 closed, assigned to nobody

[2020-05-20 04:21] krishprakash commented on #28283
Hi @ztekengineering
Kindly update all the details precondition,steps to reproduce,expected and actual result as per to reproduce this issue.

[2020-05-20 05:51] amenk opened #28291 "Configurable shows simple products which are no longer assigned to the website"
### Preconditions (*)
1. Magento 2.4-develop testinstance

### Steps to reproduce (*)

1. Create additional website, store, storeview "other" in backend
2. Create Configurable with Options, assign to both websites

![i-28291-2-4-develop instances magento-community engineering_admin_0154_catalog_product_new_set_4_type_configurable_ (1)](https://user-images.githubusercontent.com/1087128/82411540-3ed

[2020-05-20 05:51] amenk commented on #28291
@magento give me 2.4-develop instance

[2020-05-20 05:52] magento-engcom-team commented on #28291
Hi @amenk. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-20 05:53] magento-engcom-team commented on #28291
Hi @amenk, here is your [Magento instance](https://i-28291-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28291-2-4-develop.instances.magento-community.engineering/admin_0154](https://i-28291-2-4-develop.instances.magento-community.engineering/admin_0154)
Login: `b7a346f6` Password: `e82c798245de`
Instance will be terminated in up to 3 hours.

[2020-05-20 06:02] david-ziffity commented on #28198
@magento give me test instance

[2020-05-20 06:19] amenk commented on #28291
Successfully reproduced on 2.4-develop instance. See above for steps and screenshots.

[2020-05-20 06:44] ihor-sviziev commented on #7213
I re-opened this task. Issue was fixed in 2.2.x, but not in 2.3.x and 2.4.x release lines. https://github.com/magento/magento2/pull/26032 fixes this issue

[2020-05-20 07:00] krishprakash commented on #28291
Hi @amenk.
It works fine here after re-indexing
You can re-index from System -> Tools -> Index Management -> Update on save all
Refer below screenshot:
![image](https://user-images.githubusercontent.com/46617848/82414885-5b40cf00-9a95-11ea-97d9-a6dfc926d1e7.png)
So closing this issue

[2020-05-20 07:17] amenk commented on #28291
@krishprakash  I think there is a misunderstanding. You seem to get a 404 for the configurable. But I un-assigned only one simple and expect the option to disappear. It's not about un-assigning the full configurable.

Please retest and reopen.

[2020-05-20 07:32] magento-engcom-team commented on #28291
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34444` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-20 07:33] krishprakash commented on #28283
Hi @ztekengineering.
Feel free to reopen once you update all the details with reproducible steps
Thanks !!

[2020-05-20 07:33] #28283 closed, assigned to krishprakash

[2020-05-20 07:40] gwharton commented on #28239
Note, this behaviour was introduced in commit 048a2ee6b6f7215ea3168773730bff2f0ec2f01f

[2020-05-20 07:44] edenduong commented on #28211
@magento give me 2.4-develop instance

[2020-05-20 07:45] magento-engcom-team commented on #28211
Hi @edenduong. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-20 07:46] magento-engcom-team commented on #28211
Hi @edenduong, here is your [Magento instance](https://i-28211-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28211-2-4-develop.instances.magento-community.engineering/admin_3ed5](https://i-28211-2-4-develop.instances.magento-community.engineering/admin_3ed5)
Login: `1ed9d1b4` Password: `fee0b281ba95`
Instance will be terminated in up to 3 hours.

[2020-05-20 07:53] rain2o commented on #4955
This is still an issue in the most recent production release of Magento - 2.3.5. For us the main issue happens when running `bin/magento setup:upgrade --keep-generated` after our pipeline runs and we start our docker environment. Our env.php file is also maintained separately and we can't mount it writable. This is causing production to fail every time we deploy.

[2020-05-20 07:54] edenduong commented on #28211
Seems it was fixed in 2.4-develop.

[2020-05-20 08:04] ludwig-gramberg commented on #4955
almost 4 years and no solution in sight

rant:
why exactly did everyone commit to a platform that was developed from scratch but sold as the successor to a somewhat stable ecommerce platform (that wasn't that great to begin with and didn't scale well?)
magento 1 at least got sh*t down in a fair amount of time, now with magento 2 you can't even get started without getting into the entire SPA univer

[2020-05-20 08:42] jorgb90 commented on #28286
Already an issue for a long time see #25110

[2020-05-20 09:50] amenk opened #28294 "Adding and Removing 100FREE Coupon code in last checkout step does not let me checkout anymore"
*WIP Ticket*
### Preconditions (*)

1. Create FREE code, to 100% discount and apply to shipping fee
2. Enable Second payment method

### Steps to reproduce (*)
1. Go to checkout
2. Last step
3. Choose  First payment method
4. Add FREE code
5. Go back to shipping
6. Go forward
7. Remove FREE code

### Expected result (*)
works

### Actual result (*)
1. JS error