[2019-08-26 11:45] rszczepaniec commented on #24046
@jnando91
My output in developer and production mode is the same.

[2019-08-26 13:20] mitcht commented on #4547
How much trouble would it be to add support for a custom TLD.  We have multiple environments for CRM that is supported by a 3rd party.  Whenever dev and test are updated with prod database, all of our email addresses in the CRM are set to a fake TLD to avoid accidentally emailing our actual customers while we go through testing.  I plan on writing a module to support it, but it would be awesome if

[2019-08-26 13:37] #24261 closed, assigned to nobody

[2019-08-26 14:38] ljr95 commented on #23030
Hello, thank you very much for your answer I just did what you told me but the problem does not seem to be fixed.

How can I make sure that this is the file that is overloaded that is active?

When i look in the html version of the page i can not find the file swatch-renderer.js, is this normal?

I specify that I have emptied all cache by CLI.

Thanks for your help

[2019-08-26 14:51] matin73 commented on #23030
swatch-renderer.js is loaded via script. have a look into webdeveloper tool of you browser to find swatch-renderer.js

[2019-08-26 15:37] muneshj99 commented on #19862
fuck

[2019-08-26 15:41] arnoudhgz commented on #14642
@engcom-backlog-pb @AleksLi @simonmaass according to [the documentation](https://docs.magento.com/m2/ce/user_guide/system/data-export.html) the column should actually be excluded from the export.

[2019-08-26 15:42] #24260 closed, assigned to slavvka

[2019-08-26 16:11] edenduong opened #24293 "No validate number when create Website, Store View"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Stores->All Stores
3. Create Store View or Website
4. In form, fill "one" in sort order
5. Save

### Expected result (*)

1. Can not save because it is not a number

### Actual result (*)

1. Save normally

[2019-08-26 16:18] ljr95 commented on #23030
Thanks a lot for your help, it was not the correct file that was loaded.
It was a mistake on my part because when I had the picture problem I changed the setting of the theme to use Luna to check that the problem was not a bug of my theme which is a child luna.

Now it is the right file but it does not contain the correction at line 1257 :-(
I do not understand yet I empty the cache of the browser

[2019-08-26 16:20] Userr017 commented on #23411
@david-fuehr

This fixes reported issue?[https://github.com/magento/magento2/commit/117d7103de2989168af45de550091e79f815d54e](url)

[2019-08-26 16:23] edenduong opened #24295 "All shipping method (Flat Rate, Table Rate,...) has No validate number (Sort Order)"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Login to backend
2. Store->Configuration
3. Sales-> Shipping method
4. Expand collapse and fill the "Sort Order" as string like "one"
5. Save

### Expected result (*)

1. Can not save because it is not number

### Actual result (*)

1. Save normally

[2019-08-26 17:55] #24151 closed, assigned to sunilit42

[2019-08-26 17:55] #3993 closed, assigned to sergey-solo

[2019-08-26 17:55] #5023 closed, assigned to vasilii-b

[2019-08-26 18:05] hostep commented on #23517
@sdzhepa: any updates? I feel like this is quite an important bug and shouldn't be left hanging here for too long? Thanks!

[2019-08-26 18:16] arvind-curotec opened #24297 "Inventory reservation list inconsistencies command does not work"
The command to list inconsistencies never completes in Magento 2.3.2.
Database size: ~15GB
Order Count: ~1137711
SKU Count: 7788

### Preconditions (*)

1. Migrated from Magento 1.9.4 to Magento 2.3.1
2. Upgraded from Magento 2.3.1 to Magento 2.3.2
3. Migration from 1.9 to 2.3 caused inventory inconsistencies as listed here - https://devdocs.magento.com/guides/v2.3/inventory/inventory-cli-referenc

[2019-08-26 19:11] engcom-Bravo commented on #24297
Hi @arvind-curotec. The problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository. Please reopen the issue there. Thank You.

[2019-08-26 19:11] #24297 closed, assigned to nobody

[2019-08-26 19:49] xLidoni commented on #6426
Hi! I'm using magento 2.2.2.
I've the same problem.

How and where i must write:
static_content_on_demand_in_production

In app/etc/env.php
In which line?

Thanks.

[2019-08-26 19:55] xLidoni commented on #6426
@mklooss Hi! I'm using magento 2.2.2.
I've the same problem.

How and where i must write:
static_content_on_demand_in_production

In app/etc/env.php
In which line?

Thanks.

[2019-08-26 22:49] ashrabq opened #24298 "Arabic language csv upload error"
hello am trying to import products from csv file to but it gives an error and says the file should be in UTF-8. what i know that Arabic letters are included in utf-8 so why it gives such error and how to fix it

[2019-08-27 00:20] bscbodyscience commented on #22743
@mystix I have added your fix and it seems working now :) . thanks for the fix mate. you are a lifesaver.

@craigcarnell Try @mystix fix. it worked for me.

[2019-08-27 01:49] testmagento2 opened #24299 "After upgrade to Magento 2.3.2 product image are changing to my logo"
**Preconditions (*)**

Magento 2.3.2

**Steps to reproduce (*)**

 Upgrade to ver 2.3.2
then navigate to my product.

Expected result (*)

To show product image.

**Actual result (*)**

Some of the image in the products are changing to a weird image of my logo.

![image_issue_bad](https://user-images.githubusercontent.com/33385380/63734570-c6cd7700-c84a-11e9-93fa-a089841dabaf.PNG)

[2019-08-27 02:22] jonaschen623 commented on #22308
after adding resource 'Basic Configuration Section' under 'Stores->Settings->Configuration', My local loaded fine. Hope this would help some else.

![image](https://user-images.githubusercontent.com/1915539/63736091-0c835180-c8d6-11e9-80fc-458ec8b50af7.png)

[2019-08-27 02:41] zb opened #24301 "After M1 -> M2 data migration cannot save url keys of products with same name."
My client duplicated products in M1 - they sell high-end products one at a time. These products often have the same name.

After data migration, products with the same name do not have URL keys(only the product with lowest id does).

If product with name of "asdf" with id of 1 is saved and has a url key, product with name of "asdf" with id of 99 has no url key and cannot be saved.

Can correct by

[2019-08-27 05:18] edenduong opened #24302 "No validate "Day" in PayPal Express Checkout Settings"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Store->Configuration
3. Sales-> Payment Methods
4. In "PayPal Express Checkout", "Basic Settings - PayPal Express Checkout"
5. Choose "Payment Action" is "Order"
6. Fill "one" in "Authorization Honor Period (days)" "Order Valid Period (days)"
7. Save

![image](https://user-images.githubusercontent.com/82

[2019-08-27 05:25] gaurangpadhiyar007 commented on #7658
@magento-engcom-team Please create an instance for me, I have resolved above issue on local machine.
@magento-engcom-team  @magento give me test instance

[2019-08-27 05:27] ajijshekh123 commented on #24302
Give me @magento give me 2.3-develop instance

[2019-08-27 05:30] edenduong opened #24304 "No validate "Proxy Port" in Paypal Module (Paypal Express, Paypal Payflow -Link, Pro, Advanced)"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Store->Configurations
3. Sales-> Payment Methods
4. "API Uses Proxy" in Paypal Express, Paypal Payflow, Paypal Pro is "Yes"
5. "Proxy Port" fill "one"
6. Save

### Expected result (*)

1. Can not save because it is not number

### Actual result (*)

1. Save normally

[2019-08-27 05:36] rani-priya opened #24306 "Edit configurable product from cart doesn't show selected swatch options"
### Preconditions (*)

1. Magento 2.3.2
2. Php 7.2.19

### Steps to reproduce (*)

1. create a configurable product with more than one swatch attribute
2. add product to cart
3. then edit the same from cart

### Expected result (*)

![config1](https://user-images.githubusercontent.com/44425160/63743688-b1903100-c8ba-11e9-8d19-a838ed1added.png)

### Actual result (*)

![issue](https://user-images.g

[2019-08-27 05:39] edenduong opened #24307 "Many field has no validate number in Checkout settings"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Store->Configurations
3. Sales->Checkout
4.

Maximum Number of Items to Display in Order Summary
Quote Lifetime (days)
Number of Items to Display Pager
Number of Items to Display Scrollbar
Maximum Number of Items to Display

5. Fill "one"
6. Save

### Expected result (*)

1. Can not save because it is no

[2019-08-27 05:39] shikhamis11 commented on #24306
@magento give me 2.3-develop instance

[2019-08-27 05:39] konarshankar07 commented on #23990
@magento give me 2.3-develop instance

[2019-08-27 05:40] ajijshekh123 commented on #24302
Currently, It is saved alphabetically words Ex:- One on "Authorization Honor Period (days)" and "Order Valid Period (days)" fields, It should not save. It should accept only digits.
**See attached screenshot:**

![Configuration _ Settings _ Stores _ Magento Admin](https://user-images.githubusercontent.com/24711761/63743885-45fa9380-c8bb-11e9-8f95-7c1f5a985487.png)

[2019-08-27 05:44] ajijshekh123 commented on #24304
Give me @magento give me 2.3-develop instance

[2019-08-27 05:50] konarshankar07 opened #24310 "New Review form is redirected to review grid"
### Preconditions (*)

1.magento 2.3-develop
2.Magento instance doesn't have any products

### Steps to reproduce (*)

1. Go to Admin
2. Marketing -> All Reviews -> New Review
3. Click on add new review

### Expected result (*)

Add review button should not be visible in the grid

### Actual result (*)

![image](https://user-images.githubusercontent.com/39480008/63744184-32036180-c8bc-11e9-9dde-65

[2019-08-27 05:51] ajijshekh123 commented on #24304
Currently, It is saved alphabetically words Ex:- One on "Proxy Port" fields, It should not save. It should accept only digits.
See attached screenshot:

![Configuration _ Settings _ Stores _ Magento Admin](https://user-images.githubusercontent.com/24711761/63744361-bbb32f00-c8bc-11e9-86c4-dee2b280cff7.png)

[2019-08-27 05:53] ajijshekh123 commented on #24310
Give me @magento give me 2.3-develop instance

[2019-08-27 05:57] arvind-curotec commented on #24297
@engcom-Bravo The issue is not with data migration. We did data migration 6 months back and site is running smoothly after that. Issue started after the upgrade to 2.3.2.
Please do no close issues just to clear your backlog. It's a genuine problem and you should look into it.

[2019-08-27 05:57] ajijshekh123 commented on #24310
In New Review section, User can't add the review, After loading the page. It is redirected to the Review list page.

[2019-08-27 06:02] gaurangpadhiyar007 opened #24311 ""CData section too big" on Export grid"
### Preconditions (*)

1. Magento version 2.3.2
2. Too big files and number of files more (around > 10000 or 20000)

### Steps to reproduce (*)

1. Login Admin panel
2. Go to System -> Export

### Expected result (*)

1.
![Export _ Import_Export _ Data Transfer _ System _ Magento Admin](https://user-images.githubusercontent.com/19263771/63744835-2a44bc80-c8be-11e9-950f-c5ccbc0727c9.png)

2. Export

[2019-08-27 06:04] edenduong opened #24312 ""Send Payment Failed Email Copy To" field has no validate email"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Store->Configurations
3. Sales->Checkout
4. In "Payment Failed Email"->"Send Payment Failed Email Copy To", fill "test"
5. Save

### Expected result (*)

1. Can not save because it is not email

### Actual result (*)

1. Save normally

[2019-08-27 06:04] ajijshekh123 commented on #24310
See attached the Issue video:

![AwesomeScreenshot-2019-8-27-1566885470864](https://user-images.githubusercontent.com/24711761/63744963-90c9da80-c8be-11e9-83ea-9d32843fca08.gif)

[2019-08-27 06:07] ajijshekh123 commented on #24312
Give me @magento give me 2.3-develop instance

[2019-08-27 06:07] shikhamis11 commented on #24310
@ajijshekh123 @konarshankar07  for creating review you need to select product first
if product is available in grid process seems working fine

[2019-08-27 06:10] sudheers-kensium commented on #24310
Hi @konarshankar07, I think you don't have any products in your instance, without products we can't create reviews. Please create products and try again, then you will be able to create reviews.

[2019-08-27 06:11] engcom-Bravo commented on #24301
Hi @zb. The problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository. So please reopen Your issue there. Thank You.

[2019-08-27 06:11] #24301 closed, assigned to nobody

[2019-08-27 06:12] ajijshekh123 commented on #24310
I know @shikhamis11 and @sudheers-kensium, But on loading time it should not display default add review UI. If products are not available on your Magento instance, It should display some static message so admin can understand why it is not open.

[2019-08-27 06:12] adarshkhatri commented on #24310
You must have products in order to add review.

[2019-08-27 06:15] ajijshekh123 commented on #24312
It should accept the only email if this field is related to email value. Apply Email validation.
**See attached the screenshot:**

![Configuration _ Settings _ Stores _ Magento Admin](https://user-images.githubusercontent.com/24711761/63745529-0bdfc080-c8c0-11e9-8ffa-e5f6bfbe12a9.png)

[2019-08-27 06:16] adarshkhatri commented on #24310
@magento give me 2.3

[2019-08-27 06:17] adarshkhatri commented on #24310
@magento give me 2.3 instance

[2019-08-27 06:17] adarshkhatri commented on #24310
@magento give me 2.3.0 instance

[2019-08-27 06:19] konarshankar07 commented on #24310
Hello @shikhamis11  and @sudheers-kensium ,
I agree with @ajijshekh123 . The button should not be visible if there are no products in the instance

[2019-08-27 06:22] konarshankar07 commented on #24310
I'll update the precondition so everyone can easily understand the current issue

[2019-08-27 06:36] gaurangpadhiyar007 commented on #24311
@engcom-Charlie @magento-engcom-team
Issue resolved check pull request.
https://github.com/magento/magento2/pull/24314

[2019-08-27 06:39] ameshca commented on #7363
We are still getting this issue in 2.3.2 version also. Any solution for this?

[2019-08-27 06:43] engcom-Charlie commented on #24233
@Priya-V-Panchal Tax amount are different because i'm not logged in customer account. Row total both are different because when we create a product in Magento 2.3-develop, the price is validated by js-validator to 11.51

[2019-08-27 06:44] engcom-Charlie commented on #24233
@Priya-V-Panchal tax amount are same when i chose shipping address

[2019-08-27 06:53] engcom-Charlie commented on #24233
@Priya-V-Panchal Row total both and tax amount are different because when we create a product in Magento 2.3-develop, the price is validated by js-validator to 11.51 , but i don't know why tax amount is validated:
![image](https://user-images.githubusercontent.com/51680850/63747714-77219680-c8b0-11e9-8a5b-1d01c6b7310a.png)

[2019-08-27 06:55] konarshankar07 commented on #24310
Even with adding product. I'm not able to view the add review form in magento admin. I think admin should not able to add the review
https://www.loom.com/share/35d37ad6d1524265bcc25d3c83aefb51

[2019-08-27 07:23] engcom-Alfa commented on #24102
:heavy_check_mark: QA Passed

[2019-08-27 07:25] engcom-Charlie commented on #24311
Hello @gaurangpadhiyar007
Could you provide more info please?
It should be 10 000 files on the grid?

[2019-08-27 07:43] gaurangpadhiyar007 commented on #24311
@engcom-Charlie
**Navigate to System-->Export**

![Export _ Import_Export _ Data Transfer _ System _ Magento Admin (2)](https://user-images.githubusercontent.com/19263771/63750772-bdd0ba00-c8cb-11e9-8893-acab21b7a6a3.png)

**Issue :**

![Export _ Import_Export _ Data Transfer _ System _ Magento Admin (3)](https://user-
images.githubusercontent.com/19263771/63750782-c1644100-c8cb-11e9-9857-83bbd35e

[2019-08-27 08:50] engcom-Charlie commented on #24311
@gaurangpadhiyar007 thanks for contributing!
I reproduced it only with 20 000+ files.

[2019-08-27 08:51] Priya-V-Panchal commented on #24233
In my case, it is taking value up to 4 decimals trailing without zero. Like row total 11.51**20** and tax is 1.09**35**
I am using Magento Enterprice version, does it make any difference in getting this type of float value?

[2019-08-27 09:03] engcom-Charlie commented on #24233
@Priya-V-Panchal okay, i will try on EE version.

[2019-08-27 09:09] gaurangpadhiyar007 commented on #24311
@engcom-Charlie Yes, that what I have given in my last comment.

**It should be more than 10,000 or more than 20,000.**

I have resolved this on my Magento instance.
This is the pull request https://github.com/magento/magento2/pull/24314

Commit: https://github.com/magento/magento2/commit/94e3994497585769b4702de5188e65be00923770

[2019-08-27 09:52] engcom-Charlie commented on #24299
Hello @testmagento2
Can you provide more info(screenshots and steps) please?

[2019-08-27 10:18] kirtinariya1 opened #24315 "Store Configuration Currency Setup Connection Timeout in Seconds field have not proper validation"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

Store configuration in the `General` `Currency Setup` have `Fixer.io` and `Currency Converter API` have a field `Connection Timeout in Seconds` that field have not proper numeric validation. Issue is that field taking any of the value. There should be take proper validation.

Login to the Magento 2 admin.
Go to the STORES >> Sett

[2019-08-27 10:19] ameshca opened #24316 "translation data load after price-box.js"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Override the price-box.js like following method : app/design/frontend/vendor/package/Magento_Catalog/web/js/price-box.js
2. Included the 'mage/translate' inside the dependency
3. Edited the 'priceTemplate' variable default value and added a 'Price' text before the price like below
` priceTemplate: '<span class="price-label cus

[2019-08-27 10:20] ameshca commented on #24316
#7363

[2019-08-27 10:22] ljr95 commented on #23030
The problem had been solved by doing:
php bin/magento setup:upgrade

Last question, when I will apply the 2.3.3 update that fixes this bug, is it recommended to delete the file in my custom theme?

thank you so much

[2019-08-27 10:27] itwebdev2 commented on #24259
Update: This doesn't look to be specifically caused by the API. Adding an item in the Magento admin appears to have the same effect.

[2019-08-27 10:29] ajijshekh123 commented on #24315
Give me @magento give me 2.3-develop instance

[2019-08-27 10:31] arnoudhgz commented on #14642
I found out that the `skip_attr` (which is posted through the `Exclude` column) is not saved in the `queue_message` table.

[2019-08-27 10:34] ajijshekh123 commented on #24315
@kirtinariya1 - This issue is relevant to #24204, That's why I am closing this issue.

[2019-08-27 10:34] #24315 closed, assigned to ajijshekh123

[2019-08-27 10:38] avoelkl commented on #23643
For anyone having troubles with e-mails in Magento 2.3.2 as well:
We had the problem that the merchants' firewall blocked all magento mails as "line too long".

I added commit 226009e90bba3af2c1d2b0ddb3ad9fc5c2b8f362 as hotfix to one of my projects but had to adjust the hotfix locally it as there were different changes to Message.php as well.

The issue was resolved applying the fix.
In fact, thes

[2019-08-27 10:45] neil-jennings opened #24317 "Downloadable products not working"
### Preconditions (*)

1. Magento 2.2.9
2. PHP 7.1

### Steps to reproduce (*)

1. Login as a customer
2. Add downloadable product to cart
3. Checkout and pay using PayPal Express Checkout
4. Visit download links in my account

### Expected result (*)

1. Download should be available

### Actual result (*)

1. Download is stuck in pending status

![download_issue](https://user-images.githubusercon

[2019-08-27 10:46] neil-jennings commented on #24317
@magento give me 2.2.9 instance

[2019-08-27 10:51] neil-jennings commented on #24317
Reproduced issue on vanilla 2.2.8 & 2.2.9 installs with sample data

[2019-08-27 11:05] koopjesboom commented on #7298
Yes magento 2.3.2 has also the same issues
@petefok  Can you explain this please?

[2019-08-27 11:09] Priya-V-Panchal commented on #24233
Thanks @engcom-Charlie
Let me know about your findings

[2019-08-27 11:35] #23836 closed, assigned to nobody

[2019-08-27 12:10] dharake commented on #7298
I am no longer having the issue in 2.3.2 as they seem to have built in some GUI mechanism that notifies you about conflicting urls, and gives you the option then to go and delete it from url rewrites. Also, if you don't care about redirecting from old url to new one, you can simply clear the database of rewrites and then import your product file, which will then generate the urls from scratch. Hop

[2019-08-27 12:42] bewithmanoj commented on #8094
Where i can put the code can you help i am new in magento

[2019-08-27 12:44] rizwan-i-khan commented on #10664
Still exists in Magento 2.3.2 CE.

[2019-08-27 13:02] engcom-Charlie commented on #23433
Hello @ebofi

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch 2.2-develop was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3.
See Accepted pull requests and ported code for more details

[2019-08-27 13:02] #23433 closed, assigned to engcom-Charlie

[2019-08-27 13:43] TomSchlo commented on #22587
Did you test the patch? Does it work? We have the same problem.

[2019-08-27 13:47] mertgokceimam commented on #22587
@TomSchlo yes the patch is on our live instance now and it fully resolved our issues. If you contact Magento support , they will surely pass the patch to you.

[2019-08-27 13:53] engcom-Bravo commented on #24298
Hello @ashrabq, thanks for applying. Please watch this gif below:
![arabic](https://user-images.githubusercontent.com/51680745/63776963-ffbd2880-c8ea-11e9-9b63-cadf41c60e1a.gif)
As You can see we have successfully imported a product with arabic Name and SKU. Have we missed something or done something wrong?

[2019-08-27 13:54] rani-priya opened #24319 "File type custom option value not showing properly on wish list page"
### Preconditions (*)

1. Magento 2.3.2
2. php 7.2.19

### Steps to reproduce (*)

1. create a simple product with file type custom option
2. open product at frontend and then select a file
3. add it to wish list

### Expected result (*)

![expected](https://user-images.githubusercontent.com/44425160/63777080-25a0f800-c900-11e9-8140-dfc6f7955ff7.png)

### Actual result (*)

![wishlist-issue](https

[2019-08-27 14:04] TomashKhamlai commented on #23392
The issue from the description is not an issue - it is expected behavior. When `customer_token` is not sent in the headers, then an authorization error message should occur.

The issue from comments is also not an issue - it is expected behavior. Also, it has a test-coverage:
- \Magento\Quote\Api\CartManagementTest::testAssignCustomerThrowsExceptionIfCustomerAlreadyHasActiveCart
- \Magento\Quote\A

[2019-08-27 14:55] engcom-Bravo commented on #24317
Hello @neil-jennings. Thanks for applying. Those downloadable links become available to download only after the order have been invoiced. If Your PayPal Express Checkout is configured to automatically invoice orders (e.g. Payment Action = Sale) the links should be available for download right after the order is placed. Otherwise You need first to invoice the order. Did You considere all of that wh

[2019-08-27 15:01] LucianMihalache opened #24321 "elasticsearchFulltextSearchCollection Generation fail"
### Preconditions (*)

1. Magento CE from 2.3.1 (Production)

### Steps to reproduce (*)

1. Upgrade Magento from 2.3.1 to 2.3.2 via composer (cli)
2. After everything is done, permissions than compile the code (setup:di:compile)
### Expected result (*)

1. Go and the site and everything should be normal.
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

![elasticsearcherror](ht

[2019-08-27 15:23] ashrabq commented on #24298
thank you all but i tried same csv file when it is all English it uploads correctly and when i just add  Arabic word it gives this error

look at image

![Untitled](https://user-images.githubusercontent.com/47795342/63784698-b6bfa100-c8f7-11e9-8a8e-764be4ad54e4.png)

[2019-08-27 15:36] #24298 closed, assigned to nobody

[2019-08-27 15:46] katesuykovskaya opened #24322 "Commerce Staging issue: flush_preview_quotas cron contains error Column 'entity_id' in where clause is ambiguous"
### Preconditions (*)

1. Magento Commerce 2.2.8

### Steps to reproduce (*)

1. Schedule new update  for coupon code
2. go to Staging -> Preview
3. add products to cart, proceed to checkout
4. take a look at exception.log or cron_schedule table with job_code "flush_preview_quotas" and see error ` Column 'entity_id' in where clause is ambiguous, query was: SELECT `main_table`.*, `extension_attribu

[2019-08-27 15:51] danielgheoltan commented on #2228
Seems that @sergey-solo 's solution works.

[2019-08-27 15:58] neil-jennings commented on #24317
The PayPal payment action is "Sale" and the orders come through as Complete.
Setting it to "Authorization" and manually invoicing is a work around but not really ideal for normal orders.

[2019-08-27 16:15] #24204 closed, assigned to edenduong

[2019-08-27 16:15] #24162 closed, assigned to edenduong

[2019-08-27 16:15] #24015 closed, assigned to edenduong

[2019-08-27 16:22] LucianMihalache commented on #24321
I'm sorry, somehow OPCache was doing its best to show me a cached page....
I restarted the php service and everything is fine now...

[2019-08-27 16:22] #24321 closed, assigned to nobody

[2019-08-27 16:59] #24180 closed, assigned to nobody

[2019-08-27 18:10] #22769 closed, assigned to dcabrejas

[2019-08-27 19:25] hostep commented on #23517
Thanks @sdzhepa!

In order to provide more info about what is wrong here and maybe get the community involved in fixing this, we would need to know exactly what the bug is here and what the intention of this were when implementing this upgrade of the password hashing algorithm, so either:
- the `customer:hash:upgrade` command is doing something wrong and mangling up the hashes in a way it wasn't i

[2019-08-27 19:37] engcom-Bravo commented on #24298
@ashrabq, of course as You've said Arabic letters are included in utf-8. I think there's a problem with Your CSV  file - it contains information that it is saved not in UTF-8 but in some other coding system. Maybe this link will help You to save Your CSV file [as UTF-8](https://www.webtoffee.com/how-to-save-csv-excel-file-as-utf-8-encoded/#save-csv-libre-office).

[2019-08-27 19:43] engcom-Bravo commented on #24317
@neil-jennings, in our case when payment method is set to "Sale" everything works as expected. But that's of course about version 2.3-develop and not the earlier versions You  reported about.  Probably the issue have already been fixed. Would You please try to reproduce Your issue on the latest 2.3-develop version. Thank You.

[2019-08-27 20:24] Jason-Sy opened #24323 "indexer.xml & mview.xml doesn't allow numbers in vendor name and class name"
This issue is similar to [#4470](https://github.com/magento/magento2/issues/4470)
### Preconditions (*)

1. Magento 2.3.0/1
2. PHP 7.2

### Steps to reproduce (*)

1. Create a simple module with a vendor name which contains at least one number (ex. Mage2Vendor)
2. Add a custom indexer to the module just like on [the devdocs](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/indexing-cust

[2019-08-27 20:25] Jason-Sy commented on #24323
@magento give me 2.3-develop instance

[2019-08-27 20:53] Jason-Sy commented on #24323
Tested on a vanilla magento 2.3.2 instance

[2019-08-27 20:56] #23052 closed, assigned to m-a-x-i-m

[2019-08-27 21:34] neil-jennings commented on #24317
It's working on 2.3, it's just a 2.2 issue, any chance of a fix or is upgrading the only way ?

[2019-08-27 21:44] andyjoneski commented on #12486
I'm experiencing the exact same issue in 2.3.2 - thought i was going mad. But the base price of the product always shows.

e.g. base price of the product is £10. Customer group A price is £8, upon logging into the site in customer group A the price remains £10 and not 8.

[2019-08-27 22:12] twistedindustries opened #24325 "Configurable Product Price $0.00 In Stock Alert Emails"
### Preconditions (*)

Magento 2.3.2, 2.3.1

### Steps to reproduce (*)

1.  Create product stock alert email for a configurable product
2.  Inside the email the configurable product's price is $0.00

### Expected result (*)

1. The correct price should show with the product i.e. $44.00

### Actual result (*)

![image](https://user-images.githubusercontent.com/5498323/63811615-cb427000-c8dc-11e9-8

[2019-08-27 22:20] #23324 closed, assigned to ihor-sviziev

[2019-08-27 22:20] #24102 closed, assigned to edenduong

[2019-08-28 03:02] giangnv95 commented on #17195
I got the same problem on magento 2.3.2, Is there any fix from Magento or contributors ?

[2019-08-28 03:15] ihor-sviziev commented on #17195
As I said above - it’s absolutely not critical issue, it could be ignored.
What’s wrong there - message

On Wed, Aug 28, 2019 at 06:04 giangnv95 <notifications@github.com> wrote:

[2019-08-28 03:18] giangnv95 commented on #17195
@ihor-sviziev Thanks for reply, cause it's just a warning mess, I also think I can ignore it :)

[2019-08-28 03:39] MagePsycho commented on #9458
Just wondering why it keeps on increasing the disk space. Even if it increases it should increase to a few MBs, not in GBs. Is there a better way to manage var/page-cache/ in hosting with limited space?

[2019-08-28 05:45] ashishsjagnani commented on #10664
This issue is still there in Magento 2.3.x. Anyone have solution for this ?

[2019-08-28 05:50] milindsingh commented on #24023
@13mcmc12 I am working on it.

[2019-08-28 05:57] maheshWebkul721 commented on #24325
@magento give me 2.3-develop instance

[2019-08-28 06:28] engcom-Bravo commented on #24317
@neil-jennings, fixes are not provided for all previous versions. They are delivered with the first release version coming after they've been fixed in a develop version. So due to our workflow we are supposed to close this issue. Thanks for applying.

[2019-08-28 06:28] #24317 closed, assigned to nobody

[2019-08-28 06:58] gaurangpadhiyar007 commented on #7658
@amitebizon

It is having in Magento 2.3.2 on System -> Data Transfer -> Export page. Unable to export the product.
New Issue created: https://github.com/magento/magento2/issues/24311

**I have resolved this on my Magento instance.**

This is the pull request #24314

Commit: 94e3994

[2019-08-28 07:25] swnsma opened #24329 "WYSIWYG editor incorrectly show (and save) quotes"
### Preconditions (*)
1. Magento 2.3

### Steps to reproduce (*)
1. Go to BO -> Content -> Elements -> Blocks -> Add New Block
2. Fill:
Block Title -> Test
Identified -> Test
3. Press Show/Hide Editor. It should looks like:
![image](https://user-images.githubusercontent.com/9420807/63833955-e1077200-c97c-11e9-81cf-6fff53f3edde.png)
4. Pass the content to WYSIWYG editor:
`<p><a href="{{config path=

[2019-08-28 07:25] swnsma commented on #24329
@magento give me 2.3-develop instance

[2019-08-28 07:30] #24329 closed, assigned to nobody

[2019-08-28 07:56] kevinvuillemin commented on #21885
I have same problem, magento2.3.2 duplicated images after import product csv.

Did you find a solution ?

[2019-08-28 08:45] erfanimani commented on #21885
Two workarounds exist, scroll up to see the relevant pull requests/commits. You'll need a developer to create and apply Composer patches for your Magento version. Seems Magento is too busy to review/merge and fix the bug themselves though..

[2019-08-28 08:48] atwixfirster opened #24330 "“Bad request” error message is never shown"
### Summary (*)

Customer confirmation process. “Bad request” message is never shown.

### Examples (*)

**Preconditions**
1. Set `Require Emails Confirmation` option to `Yes` on back-end side

<img width="1536" alt="back-end" src="https://user-images.githubusercontent.com/13585327/63840660-22524e80-c98a-11e9-8ef0-7791c07cf505.png">

**Steps to reproduce**
1. Create new customer

2. You will get a

[2019-08-28 09:00] kennyrassin commented on #8624
Same issue in 2.3

[2019-08-28 09:00] posttechguy opened #24332 "[Magento 2.3.2] Upload fails in image uploader"
**Preconditions:**
Magento 2.4-develop
Php 7.3
_fileinfo_ php extension is disabled

**Steps to reproduce:**

1. Go to Admin -> Content -> Pages;
2. Open "Home Page" to edit (for ex.);
3. Expand the **Content** tab;
4. Select the image uploader ("Insert Image" button or the one in the editor);
5. Select an image from your HD and upload it.

**Actual Result:** :heavy_multiplication_x:  Error: Call

[2019-08-28 09:02] engcom-Charlie commented on #24125
Hello @paul-gene thank you for your report! I'm not able to reproduce issue by steps you described on clean 2.3-develop seems like this related to your custom modules.

**Manual testing scenario:**

1. Create custom module with system.xml
2. In system.xml create some nested groups of fields
3. For a field in a nested group, add a `<depends>` directive to depends on a field in the parent group

**A

[2019-08-28 09:14] paul-gene commented on #24125
@engcom-Charlie I think your test was a bit too basic.

Try this system.xml layout:

Section (payment) > Group (A) > Group (B) > Group (C) >Group (D) > Field

Where the Field depends on a field inside Group B, C or D (put a field in each Group and try)

This is not a trivial bug to replicate, so it'd be appreciated if you re-opened the issue.

[2019-08-28 09:20] engcom-Charlie commented on #24332
Hello @posttechguy thank you for your report! I'm not able to reproduce issue on clean Magento 2.3.2 .

**Manual testing scenario:**

1. Go to Content -> Pages -> Edit Home page
2. Add img to Content of CMS Page
![image](https://user-images.githubusercontent.com/51680850/63842752-def9df00-c98d-11e9-96ea-5727e5405155.png)

**Actual result:**
Image uploaded without any errors
![image](https://user-i

[2019-08-28 09:27] engcom-Charlie commented on #24125
@paul-gene can you drop me your xml?

[2019-08-28 09:48] paul-gene commented on #24125
Here is the XML as a TXT file, please rename to be .XML

In this XML, find the group `braintree_paypal` and the child group `button_checkout`.

Add a new field to `button_checkout` group, which depends on the field `payment_action` within the `braintree_paypal` group.

With this setup, a directive of `<depends><field id="payment/braintree_paypal/payment_action">authorize_capture</field></depends>`

[2019-08-28 10:03] paul-gene commented on #24125
@engcom-Charlie also, with that XML, see lines 247-269, the `<depends>` directive in a group, that should look at the merchant country. You'll see I'm targeting it with `section/group/id` but it doesn't work. The field ID is correct and so is the expected value. But the merchant country can be anything and the group is visible regardless.

[2019-08-28 10:07] avoelkl commented on #17828
I can confirm this Issue still exists in Magento 2.3.2:

Order increment-id before: 69000000009
Order increment-id after the update: 000000077 :x:
`curl -X POST "http://myshop.com/rest/all/V1/orders/" -H "accept: application/json" -H "Content-Type: application/json" -H "Authorization: Bearer 12312123" -d "{ \"entity\": { \"entity_id\": 353, \"extension_attributes\": { \"custom_invoice_number\": \"

[2019-08-28 10:39] engcom-Charlie commented on #24125
@paul-gene thanks for contributing! I confirm it.

[2019-08-28 10:41] paul-gene commented on #24125
@engcom-Charlie thank you, I knew I wasn't going mad ;)

[2019-08-28 10:50] kirtinariya1 commented on #10699
I am facing same issue in Magento ver. 2.3.0 Any idea what fixed are done in particular case.

[2019-08-28 11:02] TonyRutherford1 commented on #15427
@magento-team Any update on this issue?

[2019-08-28 11:12] arnoutvreugdenhil commented on #23628
Same problem.
It supposedly happens is you don't have libsodium 1.0.13 or higher.
PHP 7.2 should have that as a core module, which makes it weird.

[2019-08-28 11:25] ashrabq commented on #24298
Thank you Dear @engcom-Bravo the link helped I Opend it with Officelibre and I checked on format quoted field as a text and when saving it I should save it and confirm "use csv file format"

[2019-08-28 11:26] francescopis opened #24335 "Product collection filter not working with operator chars in eav attribute code"
### Preconditions (*)

1. Magento commerce 2.3
2. A product attribute that contains a - in the code
For instance "ibm_plan-id" in my case

### Steps to reproduce (*)

1. Create a product collection
2. `$productCollection->addAttributeToFilter('ibm_plan-id', ['eq' => true]);`
3. `$productCollection->getItems();`

### Expected result (*)

1. A product collection filtered by the ibm_plan-id = true ru

[2019-08-28 11:28] dmytro-ch commented on #24330
Hi @atwixfirster,
this is rather an improvement request than bug report.
Feel free to create the pull requests with minor fixes and improvements without opening the issues.

Thank you!

[2019-08-28 11:33] engcom-Charlie commented on #24316
Hello @ameshca
Can you add more steps to reproduce?
I find only one page where we use price-box.js, but there are no 'Price' word for translate.
![image](https://user-images.githubusercontent.com/51680850/63852354-c0511380-c9a0-11e9-9224-3dd6d693a129.png)

[2019-08-28 11:42] ameshca commented on #24316
@engcom-Charlie This is not a default one. I have overrided the js file price-box.js into theme and added the 'Price' label in the priceTemplate as i specified in the description.

[2019-08-28 11:47] engcom-Charlie commented on #24316
@ameshca and how to reproduce translation?

[2019-08-28 12:06] mfutselaar opened #24337 "Creating a product through API doesn't accept gallery entries at the same time"
### Preconditions (*)
1. Magento version: 2.3.2

### Steps to reproduce (*)

1. Create a product in Magento using the API with POST (`/rest/V1/products`) with base64 encoded image to the media_gallery_entries attribute
[request.txt](https://github.com/magento/magento2/files/3551238/request.txt)
### Expected result (*)

1. Product being created with an image

### Actual result (*)

1. Exception thr

[2019-08-28 12:07] mfutselaar commented on #24337
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-08-28 12:18] mfutselaar commented on #24337
@magento yes

[2019-08-28 12:32] mfutselaar commented on #24337
The body which was used (albeit some changes to preserve client confidentiality)

{"product":{
  "sku": "xxxxxx",
  "name": "xxxxxxxxxxxxxx"
  "attribute_set_id": "18",
  "price": 99.50,
  "status": 1,
  "weight": 0.00,
  "media_gallery_entries": [
    {
      "media_type": "image",
      "position": 1,
      "disabled": false,
      "file": "xxxx.jpg",
      "content": {
          "base64_encoded

[2019-08-28 13:10] oleksii-lisovyi commented on #12560
The issue is not fixed and still is reproducible on Magento 2.3.2.

[2019-08-28 13:35] engcom-Foxtrot commented on #23966
@sshymko can you please provide detailed steps to reproduce test failures?

[2019-08-28 13:53] matiaso opened #24342 "RMA is causing an error when opening orders history containing a deleted product"
## Preconditions (*)
1.Magento 2.3.2 EE

### Steps to reproduce (*)
1. Install a new Magento 2 EE instance
2. Create a new order
3. Register as customer
4. Ship the order
5. Delete the product
6. Open the customer, go to Orders

### Expected result (*)

1. See the orders history

### Actual result (*)

1. Read "A technical problem with the server created an error. Try again to continue what you we

[2019-08-28 14:10] matiaso commented on #24342
@magento give me 2.3-develop instance

[2019-08-28 14:52] kevlj opened #24346 "Category Page Format Issue (Images)"
Created from Support Ticket - https://fisheye.accelo.com/?action=view_support_issue&id=34857

### Preconditions (*)

1. Production, Staging, Local
2.v2.2.9

### Steps to reproduce (*)

1. Visit - https://www.rokit.co.uk/catalogsearch/result/index/?p=2&q=coat and you will see the image sizes are inconsistent post 2.2 upgrade.
2. Appear styles set to auto, auto for width and height.

### Expected re

[2019-08-28 14:54] #24346 closed, assigned to nobody

[2019-08-28 18:22] hostep opened #24348 "UI Component grid indicates a wrong number of selections when removing keyword search"
### Preconditions (*)
1. Seen on Magento 2.2.3, 2.3.2 and 2.3, 2.4-develop (7cf99d11e6a), so probably all M2 versions are affected

### Steps to reproduce (*)
1. Setup some vanilla Magento
1. Login to the backend
1. Create 3 customers: 'One One', 'Two Two' and 'Three Three':
 <img width="486" alt="Screenshot 2019-08-28 at 20 05 17" src="https://user-images.githubusercontent.com/85479/63881267-b98d

[2019-08-28 19:46] shikhamis11 commented on #24348
@magento give me 2.3-develop instance

[2019-08-28 21:48] sdzhepa commented on #23415
As I can see the issue has been fixed and merged  https://github.com/algolia/algoliasearch-magento-2/pull/806

Close this issue

[2019-08-28 21:48] #23415 closed, assigned to nobody

[2019-08-28 21:55] magento-engcom-team commented on #24251
Hi @Krielkip. Thank you for your report.
The issue has been fixed in magento/magento2#24252 by @Krielkip in 2.3-develop branch
Related commit(s):
 - [60ea2be0db939d8b02f05a31fa833149097f0177](https://github.com/magento/magento2/commit/60ea2be0db939d8b02f05a31fa833149097f0177)
 - [e9dd493dbd16c0e432ab854ca5af69466a301777](https://github.com/magento/magento2/commit/e9dd493dbd16c0e432ab854ca5af69466a

[2019-08-28 21:55] #24251 closed, assigned to Krielkip

[2019-08-28 21:55] magento-engcom-team commented on #16382
Hi @VincentMarmiesse. Thank you for your report.
The issue has been fixed in magento/magento2#23369 by @semajeg in 2.3-develop branch
Related commit(s):
 - [01f1f157dc2f17a0bbefcfe9ba717c96d788fb53](https://github.com/magento/magento2/commit/01f1f157dc2f17a0bbefcfe9ba717c96d788fb53)
 - [64184b3bf28b2a88ac691ca651d219ed74cf94ef](https://github.com/magento/magento2/commit/64184b3bf28b2a88ac691ca651d

[2019-08-28 21:55] #16382 closed, assigned to semajeg

[2019-08-28 21:55] magento-engcom-team commented on #24248
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24249 by @edenduong in 2.3-develop branch
Related commit(s):
 - [01edbdc5251ebd63fd921ee6042704534dda6f6f](https://github.com/magento/magento2/commit/01edbdc5251ebd63fd921ee6042704534dda6f6f)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-28 21:55] #24248 closed, assigned to edenduong

[2019-08-28 21:55] magento-engcom-team commented on #24241
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24242 by @edenduong in 2.3-develop branch
Related commit(s):
 - [157e1cdea9940c808f558f29af193d0d74bc74ea](https://github.com/magento/magento2/commit/157e1cdea9940c808f558f29af193d0d74bc74ea)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-28 21:55] #24241 closed, assigned to edenduong

[2019-08-28 21:55] magento-engcom-team commented on #19853
Hi @namratavora. Thank you for your report.
The issue has been fixed in magento/magento2#24265 by @wbeltranc in 2.3-develop branch
Related commit(s):
 - [10f880c68185228c2bdc3598203deeed47094f65](https://github.com/magento/magento2/commit/10f880c68185228c2bdc3598203deeed47094f65)
 - [775eab4a89135724411e725083647f40140ae959](https://github.com/magento/magento2/commit/775eab4a89135724411e725083647f

[2019-08-28 21:55] #19853 closed, assigned to wbeltranc, gloriadg20

[2019-08-28 22:35] Rus0 commented on #23931
You'll need to System > Cache Management

But since your menu is not working, I suggest contacting your hosting provider and ask them to do via shell command, and try again. Anything else, please free to message me, I will assist you.

[2019-08-29 01:59] posttechguy commented on #24332
Hi @engcom-Charlie I can confirm that the file upload does not work on 2.3-develop as stated. The reason is that the `mime_content_type` is removed in 7.1, and while it is checked to see if it exists the `getFileExtension` is not retrieving the ext because when the file is uploaded to /tmp directory, it saves it without an extension. So there is now way to ascertain whether the file is valid or no

[2019-08-29 03:00] posttechguy commented on #24332
I have also found this bug, on PHP 7.2.16

Fatal error: Uncaught Error: Call to undefined function mime_content_type() in /vagrant/httpdocs/m23-dev/app/code/Magento/Cms/Model/Wysiwyg/Images/Storage.php:362 Stack trace: #0 /vagrant/httpdocs/m23-dev/app/code/Magento/Cms/Block/Adminhtml/Wysiwyg/Images/Content/Files.php(60): Magento\Cms\Model\Wysiwyg\Images\Storage->getFilesCollection('/vagrant/httpdo

[2019-08-29 04:52] dbsdsun opened #24349 "contradictory when using escapeHtml after getFormattedOption"
### Preconditions (*)
1.Magento 2.3.2

### Steps to reproduce (*)
1.in vendor\magento\module-sales\view\adminhtml\templates\items\column\name.phtml line 33

    <?php $_option = $block->getFormattedOption($_option['value']); ?>
    <?php $dots = 'dots' . uniqid(); ?>
    <?= $block->escapeHtml($_option['value']) ?>

2. the class of $block is vendor\magento\module-sales\Block\Adminhtml\Items\Column

[2019-08-29 04:57] tzyganu opened #24350 "Cannot add a custom elasticsearch field mapper to `Magento\Elasticsearch\Model\Adapter\FieldMapper\Product\FieldProvider\FieldName\Resolver\CompositeResolver`"
### Description (*)
I'm adding a custom filter to the layered navigation. My filter is not a product attribute.
this filter has a request key that does not match the field I store in elasticsearch (similar to how the price works. Price request key is `price` but in elasticsearch is stored as `price_{customer_group}_{website_id}`).
I need to map this request key to the elasticsearch field.
I've fou

[2019-08-29 05:51] bhavik43 opened #24351 "Reset not clear date of birth while add new customer"
Reset not clear date of birth while add new customer

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
1. Go to Admin
2. Customers -> All Customers
3. Add New Customers
4. Add all values with date of birth
5. Click on reset

### Expected result (*)
All fields should be clear

### Actual result (*)
![dob reset issue](https://user-images.githubusercontent.com/49804008/63913812-12507280-

[2019-08-29 05:52] krishprakash commented on #24351
@magento give me 2.3-develop instance

[2019-08-29 05:52] magento-engcom-team commented on #24351
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-29 05:53] magento-engcom-team commented on #24351
Hi @krishprakash, here is your [Magento instance](https://i-24351-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24351-2-3-develop.instances.magento-community.engineering/admin](https://i-24351-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-29 06:08] krishprakash commented on #24351
Hi @bhavik43. Thank you for your report.
Issue is not reproduce on vanilla magento instance.

[2019-08-29 06:08] #24351 closed, assigned to krishprakash

[2019-08-29 06:15] theozzz commented on #17310
Hi everyone, increased from 6 to 20 seems to resolve the issue for us! Let's monitor things now.

[2019-08-29 06:47] engcom-Charlie commented on #24332
@posttechguy  sorry but in my Magento 2.3.2 instance all works fine:
![image](https://user-images.githubusercontent.com/51680850/63916773-c1864d00-ca41-11e9-86e4-b3e683244b2b.png)

[2019-08-29 06:53] dbsdsun commented on #24349
BTW, it may not be a good idea to use escapeHtml everywhere. That makes the function very rigid by removing the capability to render with html tags. At least, there should be a flag to turn it off.

[2019-08-29 06:56] bhavik43 opened #24352 "Box layout broken in description box while add new sub category"
Box layout broken in description box while add new sub category

### Preconditions (*)
1. magento 2.3
2. Chrome Version 76.0.3809.100 (Official Build) (64-bit)
3. OS: Windows 7
4. Desktop screen resolution: 1366X768

### Steps to reproduce (*)
1. Go to Admin
2. Catalog -> Categories
3. Add Subcategory
4. Content -> Description

### Expected result (*)
![expected result](https://user-images.githubu

[2019-08-29 07:03] magento-engcom-team commented on #24352
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19720` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-29 07:03] magento-engcom-team commented on #24349
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19721` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-29 07:06] magento-engcom-team commented on #12560
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19722` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-29 07:28] magento-engcom-team commented on #24325
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19724` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-29 07:32] engcom-Bravo commented on #24222
Hi again, @davidlopes. Are there any updates?

[2019-08-29 08:07] arion-p commented on #16273
The issue has been reintroduced in commit 22edbb904ae3856afbf871cc6e196edbd3bb679b. The commit is supposed to revert "Customer related values are NULL for guests" ccba42089f1ca465cb43fc60339671db5e9a504a but it actually reverts this fix (at least partly)

[2019-08-29 08:30] HOSTED-POWER opened #24353 "Magento varnish 6 Too many restarts"
### Preconditions (*)

_Magento 2.4-develop;
Production mode;
Sample Data;
Php 7.3;
Varnish v. 6.2_

We tried https://github.com/magento/magento2/commit/882379061809b806fc5580729a6c9c78d782f84d#diff-2f64f6171deecba61bea147539cf72ec

However it results in too many restarts after a while.

### Steps to reproduce (*)

1. Configure Varnish and Web server (Apache 2 in my case) [devdocs](https://devdocs

[2019-08-29 08:44] davidlopes commented on #24222
Hi @engcom-Bravo,
Sorry did not got time yet. will try to test during this week.

[2019-08-29 08:57] LusienGG commented on #23802
@edenduong The problem is actually just this which @WJdeBaas mentioned. It`s pretty enough just to show error like this near advanced inventory link in product edit page if validation for advanced inventory is not successful
![image](https://user-images.githubusercontent.com/17788677/63926133-00250300-ca54-11e9-8d3a-737d9f077a88.png)

[2019-08-29 09:11] HOSTED-POWER commented on #24353
PS: We read the information here: https://varnish-cache.org/docs/6.2/whats-new/upgrading-6.2.html#whatsnew-upgrading-2019-03

and added in vcl_recv:

`    if (req.restarts > 0) {
        set req.hash_always_miss = true;
    }`

Which improved the situation, although were not sure this is resolved properly & 100% supported

[2019-08-29 09:19] Beagon commented on #21885
@erfanimani Yes, we indeed used a combination of the solutions (with some minor edits). Really odd that Magento doesn't look at the fixes because the importer is a vital part of most webshops.

[2019-08-29 09:25] kevinvuillemin commented on #21885
Thank you @erfanimani

With a combination of  the solutions, the import works very well.

[2019-08-29 09:29] 29sunil opened #24354 "PayPal gateway has rejected request. A match of the Shipping Address City, State, and Postal Code failed (#10736: Shipping Address Invalid City State Postal Code)."
### Preconditions (*)

1.Magento version 2.3.2
2. Fresh Magento install at this URL ( http://newfp.midselec.co.uk/ ) with default theme

### Steps to reproduce (*)

1.open this URL (http://newfp.midselec.co.uk/test.html )
2. add to cart prdocut
3. checkout using PayPal express checkout

### Expected result (*)

1. payment will be successful
2.

### Actual result (*)

1. We get this error PayPal ga

[2019-08-29 09:33] 29sunil commented on #24354
Yes this we are facing this issue at fresh Magento install. http://newfp.midselec.co.uk

please tell us what is the reason

[2019-08-29 09:51] krishprakash commented on #24354
Hi @29sunil
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://magento.stackexchange.com/) or the [Magento Stack Exchange](https://community.magento.com/) site for advice or general discussion about this.
Thank You.

[2019-08-29 09:51] #24354 closed, assigned to krishprakash

[2019-08-29 09:57] 29sunil commented on #24354
We think this issue is related to magento2 core functionally.Because PayPal is not working with
default magento 2.3.2. If paypal is working fine than let us know

[2019-08-29 10:28] Flyoyo opened #24356 "product detail page thumbnail are not show"
### Preconditions (*)

1.Magento 2.3.2, PHP 7.2, MySQL 5.6

### Steps to reproduce (*)

1.product detail page thumbnail are not show

### Expected result (*)

1. [Screenshots, logs or description]
2.image can be show
3.product description are not show

### Actual result (*)

1.are not show
2.
![WX20190829-182735](https://user-images.githubusercontent.com/46588961/63932889-b73c7100-ca8a-11e9-81ca-b

[2019-08-29 10:47] 29sunil commented on #24354
We get below errror when merchant country is UK
See attached video
https://www.loom.com/share/f7d20acdb57241039ac73a9c495dd691

[2019-08-29 11:27] visahardik commented on #7298
Hello I am facing same issue in 2.3.2 after migration

`main.CRITICAL: Unique constraint violation found {"exception":"[object] (Magento\\Framework\\Exception\\AlreadyExistsException(code: 0): Unique constraint violation found at /vendor/magento/framework/EntityManager/Operation/Update.php:121, Magento\\Framework\\DB\\Adapter\\DuplicateException(code: 1062): SQLSTATE[23000]: Integrity constraint v

[2019-08-29 11:35] tnsezer opened #24357 "Eav sort order by attribute option_id"
### Preconditions (*)

1. Magento 2.3.2
2.Php 7.2

### Steps to reproduce (*)

1. We set an attribute for a grouped list to order products by attributes
https://ibb.co/fQCNbVy

But the query orders it by option_id of eav_attribute_option_value table. but it must be ordered by sort_order of eav_attribute_option table. but it doesn't add into the join.

the query is produced by \Magento\Eav\Model\En

[2019-08-29 12:13] devamitbera commented on #10088
@sidolov

I introduce new data interface and reposityinterce.

Please look the commit #24343

[2019-08-29 12:28] niners52 commented on #15115
Still exists on 2.3.1

[2019-08-29 12:30] Maddesto commented on #22587
Recently i have got this issue on one of our projects with a big amount of products. I have applied this patch, and after this query processed faster, but layered navigation result became not correct, number products in filter blocks is not equal to actual number products on listing

[2019-08-29 12:59] krishprakash commented on #23010
@magento-engcom-team give me 2.3-develop instance

[2019-08-29 12:59] magento-engcom-team commented on #23010
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-29 13:00] magento-engcom-team commented on #23010
Hi @krishprakash, here is your [Magento instance](https://i-23010-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23010-2-3-develop.instances.magento-community.engineering/admin](https://i-23010-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-29 13:07] sudheers-kensium commented on #24352
@magento give me 2.3-develop

[2019-08-29 14:44] engcom-Bravo commented on #24356
Hello @Flyoyo. We do not clearly understand what kind of thumbnails You expect to see and where. Here is an example from Magento instance with Sample Data installed:
![bag](https://user-images.githubusercontent.com/51680745/63949982-de437480-ca83-11e9-9a25-ae3808c0f756.png)
It looks pretty much the same as in Your Actual Result. Would You please be more specific. Probably You could make an image f

[2019-08-29 14:45] MackieeE commented on #21885
+1 Hoping to see this merged in soon, big help this :)

[2019-08-29 15:09] 0m3r opened #24361 "FPC does't work properly on multistore"
### Preconditions (*)

1. Magento 2.3.2
2. Enable developer mode
3. Enable FPC
4. Create two or more store view

### Steps to reproduce (*)

1. Enable 'Add Store Code to Urls'
Stores-> Configuration -> General -> Web -> Url Options -> Add Store Code to Urls set Yes
2. Flush all caches (bin/magento flush:all)
3. Run commands
[code]

### Expected result (*)
MISS -> HIT
MISS -> HIT

### Actual result

[2019-08-29 15:20] ochnygosch opened #24362 "Unable to change page_layout of product page in theme"
### Preconditions (*)

1. Magento Version 2.3
2. Custom Theme

### Steps to reproduce (*)

1. Copy file Magento/Catalog/view/frontend/layout/catalog_product_view.xml to <theme_dir>/Magento_Catalog/layout/override/base/catalog_product_view.xml
2. Change <page layout="1column"... to <page layout="2columns-left"...

### Expected result (*)

1. Product page should be displayed using the 2columns-left

[2019-08-29 16:30] dajve commented on #12881
While it doesn't help with actively saving a complete product against a store view, the `Magento\Catalog\Model\ResourceModel\Product\Action::updateAttributes($entityIds, $attrData, $storeId)` method will (in 2.3.x, at least - not sure of earlier versions) allow saving of attributes at a store level programmatically.
Eg

[code]

[2019-08-29 16:40] tzyganu opened #24363 "Elasticsearch mappings cannot be changed"
### Summary (*)
Magento 2.3.2
As a developer, I need to develop a custom module that affects the search functionality. This requires extra data to be indexed in elasticsearch. This module requires an extra dynamic template sent to the elasticsearch server in the mappings.

### Examples (*)
in version 2.3.2, the mappings are sent via `Magento\Elasticsearch6\Model\Client\Elasticsearch::addFieldsMapp

[2019-08-29 17:04] thadeu220 commented on #23931
@Rus0 i will try again...
since you're good enough to assist me, and i am in the really beggining in magento, i will give you my whatsapp number, if you want to help me, i prefer via whatsapp...
you can send me voice messages and also texts...
here it goes:
+55 35 992164289

i really need help to get started, and someone to explain me the basis, it will be really apreciatefull.

thanks.

[2019-08-29 17:32] matejevic opened #24364 "[Magento 2.2.6] Order is marked as "Suspected Fraud", wrong charge amount after currency conversion"
### Preconditions (*)

Magento 2.2.6

### Steps to reproduce (*)
Place an order by a customer in Australia in AUD.

### Expected result (*)

It should charge the customer £171.50 GBP.

### Actual result (*)

We've received an order from a customer in Australia. The order came to AU$310.43, which works out to be £171.50 GBP. Magento seems to calculate the amounts correctly until it collects the mon

[2019-08-29 17:35] matejevic commented on #24364
@magento give me 2.3-develop instance

[2019-08-29 17:35] magento-engcom-team commented on #24364
Hi @matejevic. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-29 17:36] magento-engcom-team commented on #24364
Hi @matejevic, here is your [Magento instance](https://i-24364-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24364-2-3-develop.instances.magento-community.engineering/admin](https://i-24364-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-29 17:54] gwharton opened #24365 "Placing order in Admin for more stock than is available is allowed and does not show error"
### Preconditions (*)
1. 2.3-develop
2. No MSI

### Issue 1
### Steps to reproduce (*)
1. deploy 2.3-develop
2. Create Test Product, in stock, Qty 10
3. Create Test Customer
4. Create Test Order in Adminhtml. Assign Test Customer
5. Add Products -> Select Test Product -> Enter Qty X -> Add Selected Products to Order, where X is equal to more than a half of the stock, but not more then the whole st

[2019-08-29 20:32] gwharton opened #24366 "Updating cart with quantity that results in error, causes wrong error message to be displayed when backorders involved."
### Preconditions (*)
1. 2.3-develop
2. No MSI

### Steps to reproduce (*)
1. deploy 2.3-develop
2. create test category
3. create test product in test category, Qty 10, Allow Backorders with Notify, Max in cart = 30.
4. Go to frontend and add 10 items to cart
5. Verify no warning messages
6. Change quantity to 25 and Update cart
7. Verify backorder warning of 15 items backordered
8. Change quanti

[2019-08-29 22:24] bkvargyas commented on #5980
So, flushing magento cache does purge the varnish cache.   That is working okay, after we added the following lines to our default.vcl code:

# If all Tags should be purged clear
        # ban everything to catch assets as well
        if (req.http.X-Magento-Tags-Pattern == ".*") {
          ban("req.url ~ .*");
        }

However, when we update a product page, and save it, we DO see an update to

[2019-08-30 02:16] Flyoyo commented on #24356
thanks for you.@engcom-Bravo
Add a simple product, upload multiple pictures, only show a main map in the product details page, description is not displayed on the page, my code from GitHub pulled

[2019-08-30 05:16] sudheers-kensium commented on #24352
@magento give me 2.3-develop instance

[2019-08-30 05:17] magento-engcom-team commented on #24352
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-30 05:17] magento-engcom-team commented on #24352
Hi @sudheers-kensium, here is your [Magento instance](https://i-24352-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24352-2-3-develop.instances.magento-community.engineering/admin](https://i-24352-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-30 05:23] sudheers-kensium commented on #24352
Not reproduced on 2.3-develop instance
![image](https://user-images.githubusercontent.com/50358141/63994960-32963500-cb14-11e9-8927-117606563b57.png)

[2019-08-30 05:35] bhavik43 commented on #24352
@sudheers-kensium, It could be browser specific issue.
I am working on Chrome Browser (Version 76.0.3809.100 (Official Build) (64-bit)) and checking in Windows 7.
Desktop screen resolution: 1366X768
So please check in that way also
Please review below image
![image](https://user-images.githubusercontent.com/49804008/63995257-8a816b80-cb15-11e9-8d66-355cc236d409.png)

[2019-08-30 06:44] magento-engcom-team commented on #24365
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19751` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-30 06:50] 0m3r commented on #24361
@magento give me 2.3-develop instance

[2019-08-30 06:50] magento-engcom-team commented on #24361
Hi @0m3r. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-30 06:50] magento-engcom-team commented on #24361
Hi @0m3r, here is your [Magento instance](https://i-24361-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24361-2-3-develop.instances.magento-community.engineering/admin](https://i-24361-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-30 06:58] magento-engcom-team commented on #24366
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19752` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-30 07:21] 0m3r commented on #24361
sorry but I can't change
deploy mode to develop at the demo (https://i-24361-2-3-develop.instances.magento-community.engineering) without command line

[2019-08-30 07:31] engcom-Charlie commented on #24364
Hello @matejevic

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch 2.2-develop was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3.
See Accepted pull requests and ported code for more detai

[2019-08-30 07:31] #24364 closed, assigned to engcom-Charlie

[2019-08-30 08:06] ihor-sviziev commented on #24353
Hi @HOSTED-POWER,
Thank you for report!

Could you add steps to reproduce to make sure that we'll be able to reproduce this issue?

That's really good that you already found solution for your issue. Could you create Pull Request with suggested fix?

[2019-08-30 08:22] magento-engcom-team commented on #24361
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19754` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-30 08:24] HOSTED-POWER commented on #24353
Hello

To reproduce, install any Magento site (we had 2.3.1 and some 2.x versions) and wait for it to happen:

You can see the log like this:

varnishlog -q 'RespStatus == 503' -g request

Probably after a few minutes already you will see the 503 on certain objects and Varnish which goes into guru meditation error :)

We've seen it on all sites we tried it on, so it will be hard to not notice it.

[2019-08-30 08:34] hostep commented on #24353
@Stepa4man: can you maybe also take a look at this?

HostedPower helped us solve this issue yesterday on one of our shops which is hosted with them, where we ran into unexplainable 503 Varnish errors. Their change seems to have fixed it 👍

[2019-08-30 08:44] magento-engcom-team commented on #24362
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19756` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-30 08:50] magento-engcom-team commented on #22761
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19757` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-30 09:00] magento-engcom-team commented on #24363
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19758` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-30 09:03] engcom-Charlie commented on #24316
Hello @ameshca
 I am closing this issue now due to inactivity.
Please update if you wish to continue.
Thank you for the collaboration!

[2019-08-30 09:03] #24316 closed, assigned to engcom-Charlie

[2019-08-30 11:16] NagamaniNaresh opened #24370 "Magento 2.3.2: Sort by Bestselling Minimal results"
### Summary of the issue (*)
I am using custom code to implement sort by Best selling on the category page, I have created an around plugin
[code]
Toolbar.php
[code]

### Preconditions (*)
1. Magento 2.3.2
2. PHP 7.2 (Nginx)

### Steps to reproduce (*)
1. Create plugin or preference for adding left join to Toolbar.php
2. Update the collection with left join to sales_order_item table

### Expected

[2019-08-30 12:52] sunilit42 opened #24372 "Child products display based on website for configurable product"
### Preconditions (*)
1. 2.3-develop

### Steps to reproduce (*)

2.  multiple site setup
3. one configurable product
4. one of child product assign into one website and don't assign into another website

### Expected result (*)

1. child product should be shown based on website selected

### Actual result (*)

1.  currently all child product showing (website filter ingoring)

[2019-08-30 13:10] sunilit42 commented on #24372
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-08-30 13:11] magento-engcom-team commented on #24372
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-30 13:11] magento-engcom-team commented on #24372
Hi @sunilit42, here is your [Magento instance](https://i-24372-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24372-2-3-develop.instances.magento-community.engineering/admin](https://i-24372-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-30 13:12] magento-engcom-team commented on #24372
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19760` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-30 13:19] rodrigowebjump commented on #24372
Hi @sunilit42
We also faced this issue.
As a workaround you can use the Enable Product field.

[2019-08-30 13:20] dugunl opened #24374 "Preselecting configurable product options through URL doesn't update product image"
### Preconditions
1. Magento 2.3.1

### Steps to reproduce
1. Create a new configurable product with at least one option.
2. Upload photo A to the configurable product.
3. Upload photo B to the associated simple product.
4. Make sure that Magento automatically loads the image B when the option is selected.
5. Open the configurable product page, with the option pre-selected. For example: https://ma

[2019-08-30 13:24] MaximeCulea commented on #4617
Juste saying you could use Satis to avoid this dependency which works like a proxy ;)

[2019-08-30 13:38] dugnl commented on #24374
@magento give me 2.3-develop instance

[2019-08-30 13:38] magento-engcom-team commented on #24374
Hi @dugnl. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-30 13:38] magento-engcom-team commented on #24374
Hi @dugnl, here is your [Magento instance](https://i-24374-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24374-2-3-develop.instances.magento-community.engineering/admin](https://i-24374-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-30 13:41] YiffyToys commented on #20033
We had a look and experienced the same issue.
However even with the correct -f parameter it would still fail without any error message.
We are using the Courier Mail Server to provide our sendmail implementation.
Using the PHP mail() function with and without a parameters="-f ..." works find as the php-user and using the same PHP version and php.ini file as the web browser.

[2019-08-30 13:57] asim-vax opened #24376 "Poor performance on sales order update - string to integer"
When running a sales order update, the where clause entity_id is a string. It is then comparing a string to an integer and the index is not used.
same issue as https://github.com/magento/magento2/issues/20969 just for a different query.
eg. WHERE (entity_id='99015')
query below:
[code]
should finish
[code]

| Column | Type | Default Value | Nullable | Character Set | Collation | Privileges | Extra

[2019-08-30 14:03] itwebdev2 commented on #24218
@magento give me 2.3.1 instance

[2019-08-30 14:04] magento-engcom-team commented on #24218
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-08-30 14:04] magento-engcom-team commented on #24218
Hi @itwebdev2, here is your [Magento instance](https://i-24218-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-24218-2-3-1.instances.magento-community.engineering/admin](https://i-24218-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-30 14:11] dugnl commented on #24374
@magento-engcom-team How do I force a reindex on your instances? I've set up all dummy data to test.

[2019-08-30 14:49] engcom-Bravo commented on #23392
@LovelySetia, I agree with @TomashKhamlai. So we are closing the issue. The 400 error You get most likely because Your customer has an active cart. You see if the Customer has no active cart and he (she) adds something to it then the cart gets active. And even if after that the Customer empties the cart it will still remain active until the first order after those cart manipulations will have been

[2019-08-30 14:49] #23392 closed, assigned to mahesh-rajawat

[2019-08-30 14:51] mahsn commented on #18195
@magento-engcom-team give me $VERSION instance

[2019-08-30 14:53] mahsn commented on #18195
@magento-engcom-team give me 2.3-develop instance

[2019-08-30 14:53] magento-engcom-team commented on #18195
Hi @mahsn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-30 14:54] magento-engcom-team commented on #18195
Hi @mahsn, here is your [Magento instance](https://i-18195-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-18195-2-3-develop.instances.magento-community.engineering/admin](https://i-18195-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-30 14:56] euriskotech commented on #15545
I'm having the same issue on a newly migrated Magento 2.3.2 install.  I had everything ready for go live this week and then the database started maxing out the CPU, finally traced it to the INSERT INTO “search_tmp…” issue and reading all your comments have decided to hold off on go live and leave the Magento 1.x site running.

I guess there isn't any update on this issue being fixed by Magento?

[2019-08-30 15:12] adifucan commented on #23821
Internal ticket MC-19247 created and it is currently in progress

[2019-08-30 16:00] djamps commented on #15427
@shauldover does this only affect Paypal Express or all forms of paypal (e/g credit cards on your site via payflow/payments pro)?   Due to the nature of the issue (DB deadlocks) it would surprise me if this issue is specific to a specific payment method.

[2019-08-30 16:28] shauldover commented on #15427
@djamps  Only PayPal Express. Credit card through payflow working fine.

[2019-08-30 17:10] magento-engcom-team commented on #20764
Hi @vasilii-b. Thank you for your report.
The issue has been fixed in magento/magento2#20765 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [073121aaf7bc42e30f9ab19ce78ae3cb0c1c7281](https://github.com/magento/magento2/commit/073121aaf7bc42e30f9ab19ce78ae3cb0c1c7281)
 - [4376b91ff1fe7c63e1593c83e782be84891c3d42](https://github.com/magento/magento2/commit/4376b91ff1fe7c63e1593c83e782be84

[2019-08-30 17:10] magento-engcom-team commented on #10040
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#24187 by @atwixfirster in 2.3-develop branch
Related commit(s):
 - [6e16a8f97f0021d21f199c6ef9411ee1a05ba181](https://github.com/magento/magento2/commit/6e16a8f97f0021d21f199c6ef9411ee1a05ba181)
 - [64d4b3781ae5d77bb237148378b00d261da4a647](https://github.com/magento/magento2/commit/64d4b3781ae5d77bb237148378b00d26

[2019-08-30 17:10] magento-engcom-team commented on #24186
Hi @atwixfirster. Thank you for your report.
The issue has been fixed in magento/magento2#24187 by @atwixfirster in 2.3-develop branch
Related commit(s):
 - [6e16a8f97f0021d21f199c6ef9411ee1a05ba181](https://github.com/magento/magento2/commit/6e16a8f97f0021d21f199c6ef9411ee1a05ba181)
 - [64d4b3781ae5d77bb237148378b00d261da4a647](https://github.com/magento/magento2/commit/64d4b3781ae5d77bb237148378

[2019-08-30 17:10] #24186 closed, assigned to dmytro-ch, atwixfirster

[2019-08-30 17:10] magento-engcom-team commented on #24293
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24294 by @edenduong in 2.3-develop branch
Related commit(s):
 - [cd1a93cd021f0621276ab62c4df44968b50144d3](https://github.com/magento/magento2/commit/cd1a93cd021f0621276ab62c4df44968b50144d3)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-30 17:10] #24293 closed, assigned to edenduong

[2019-08-30 17:10] magento-engcom-team commented on #24236
Hi @rani-webkul. Thank you for your report.
The issue has been fixed in magento/magento2#24237 by @rani-webkul in 2.3-develop branch
Related commit(s):
 - [ed1df5fb3610140f552e06ad43747dbbe3147bc7](https://github.com/magento/magento2/commit/ed1df5fb3610140f552e06ad43747dbbe3147bc7)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-30 17:10] magento-engcom-team commented on #24212
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24213 by @edenduong in 2.3-develop branch
Related commit(s):
 - [d7949280344ed316ded0871b831319c009548b37](https://github.com/magento/magento2/commit/d7949280344ed316ded0871b831319c009548b37)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-30 17:10] #24212 closed, assigned to edenduong

[2019-08-30 17:37] Usuario001 commented on #24364
@magento give me 2.2.6-develop instance

[2019-08-30 17:37] magento-engcom-team commented on #24364
Hi @Usuario001. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-08-30 17:38] Usuario001 commented on #24364
@magento give me instance

[2019-08-30 17:39] Usuario001 commented on #23116
@magento give me 2.2.6 instance

[2019-08-30 17:39] magento-engcom-team commented on #23116
Hi @Usuario001. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-08-30 17:41] Usuario001 commented on #18402
@magento-engcom-team give me 2.2.6 instance

[2019-08-30 17:41] irving0mar commented on #24376
@magento give me 2.6-develop instance

[2019-08-30 17:41] magento-engcom-team commented on #18402
Hi @Usuario001. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-08-30 17:41] magento-engcom-team commented on #24376
Hi @irving0mar. Thank you for your request. I'm working on Magento 2.6-develop instance for you

[2019-08-30 17:42] irving0mar commented on #24376
@magento give me 2.2.6-develop instance

[2019-08-30 17:42] magento-engcom-team commented on #24376
Hi @irving0mar. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-08-30 18:09] Larke12 commented on #22927
This task was closed an marked as a duplicate but is only related in scope. The issue here even with the fixes from those issues still stands if a site does not have a default minimum quantity configuration set, which is still the case on both the 2.3 and 2.3-develop branches. The parenthesis noted in the initial comment of this issue will resolve the undefined offset error, while [#17592 ](https:

[2019-08-30 18:46] sdzhepa commented on #23400
Hello @manuelcanepa and @sudheer-gajjala

I occasionally found that internal Magento team almost complete work to fix this issue.
At this moment code is passed code review and should be on QA stage soon.
The fix will be delivered with internal PR into `2.3-develop` branch.
Related internal Jira ticket `MC-19152` this number will be in the commit message.

As soon as it will be delivered, I will pr

[2019-08-30 18:49] koopjesboom commented on #7298
Try this command in your SSH with putty ow whatever tool you prefer.
Do not forget to check the language codes in the deploy of static contend.
And check the commands for your needs if there are things you do not want to happen get them out.

this worked for me, after my error like above was gone
**If not check all file and folder permissions and re-run the below**

rm -rf var/di/*; rm -rf pub/sta

[2019-08-30 18:51] TomR5 commented on #8304
My problem was because my category name had an extra space at the end in the import file field.

[2019-08-30 19:03] hostep commented on #7298
@koopjesboom, try to avoid giving advise like running `rm -rf pub/static/`
This will also remove the file `pub/static/.htaccess` which you certainly do not want to remove when using Apache as your webserver.
Please use the command `rm -r pub/static/*` instead, the `*` will not match files which start with a `.` in the filename.
Also try to avoid using the flag `-f` of the `rm` command as much as p

[2019-08-30 19:15] magento-engcom-team commented on #24295
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24296 by @edenduong in 2.3-develop branch
Related commit(s):
 - [4a3456e269feae952de09e8b4c031f07adf4fb1e](https://github.com/magento/magento2/commit/4a3456e269feae952de09e8b4c031f07adf4fb1e)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-30 19:15] #24295 closed, assigned to edenduong

[2019-08-30 19:15] magento-engcom-team commented on #24210
Hi @Nagamaiah333. Thank you for your report.
The issue has been fixed in magento/magento2#24211 by @sudheer-gajjala in 2.3-develop branch
Related commit(s):
 - [fc87a57fffa759631f527be2831406779cc56f37](https://github.com/magento/magento2/commit/fc87a57fffa759631f527be2831406779cc56f37)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-30 19:15] #24210 closed, assigned to sudheer-gajjala

[2019-08-30 19:15] magento-engcom-team commented on #24239
Hi @rani-webkul. Thank you for your report.
The issue has been fixed in magento/magento2#24240 by @rani-webkul in 2.3-develop branch
Related commit(s):
 - [281a6a41d42da2f9fb06243cd1e1e153e0c7f87b](https://github.com/magento/magento2/commit/281a6a41d42da2f9fb06243cd1e1e153e0c7f87b)
 - [fff3f5090ab3f5bb114597a4113f52d3fbf8de8b](https://github.com/magento/magento2/commit/fff3f5090ab3f5bb114597a4113f

[2019-08-30 19:15] #24239 closed, assigned to rani-priya

[2019-08-30 20:38] 00F100 commented on #19925
i work to make this fix

[2019-08-30 20:43] mahsn commented on #24365
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-08-30 20:43] magento-engcom-team commented on #24365
Hi @mahsn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-30 20:43] magento-engcom-team commented on #24365
Hi @mahsn, here is your [Magento instance](https://i-24365-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24365-2-3-develop.instances.magento-community.engineering/admin](https://i-24365-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-30 20:54] 00F100 commented on #19925
@magento give me 2.3-develop instance

[2019-08-30 20:54] magento-engcom-team commented on #19925
Hi @00F100. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-30 20:54] magento-engcom-team commented on #19925
Hi @00F100, here is your [Magento instance](https://i-19925-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19925-2-3-develop.instances.magento-community.engineering/admin](https://i-19925-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-30 21:01] 00F100 commented on #19925
I performed the test and did not find this problem

[2019-08-30 21:09] mariana-be commented on #22297
@magento give me 2.3-develop instance

[2019-08-30 21:09] magento-engcom-team commented on #22297
Hi @mariana-be. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-30 21:09] magento-engcom-team commented on #22297
Hi @mariana-be, here is your [Magento instance](https://i-22297-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22297-2-3-develop.instances.magento-community.engineering/admin](https://i-22297-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-30 21:23] marcelo-monteiro commented on #19576
@magento-engcom-team give me 2.3-develop instance

[2019-08-30 21:23] magento-engcom-team commented on #19576
Hi @marcelo-monteiro. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-30 21:24] magento-engcom-team commented on #19576
Hi @marcelo-monteiro, here is your [Magento instance](https://i-19576-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19576-2-3-develop.instances.magento-community.engineering/admin](https://i-19576-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-30 21:35] elganif opened #24378 "Related products causing side scrolling on some mobile devices"
### Preconditions (*)

1. Magento community edition 2.2.9
2. Bug is visible on newer iPhones (Force enable zoom seems to be default after 10.3.3), and other mobile browsers with force enable zoom (was able to view in both Opera and Dolphin on android with the force enable zoom option on)

### Steps to reproduce (*)

1. Have any product with 3 or more related products
2. While on product page attem

[2019-08-30 22:05] marcelo-monteiro commented on #19576
Tested with version above and it's fixed.

![checkbox_alligned](https://user-images.githubusercontent.com/30471434/64053527-17014d80-cb59-11e9-8ba7-efa9e764f41e.jpg)

[2019-08-30 22:05] #19576 closed, assigned to torhoehn

[2019-08-30 23:12] 00F100 commented on #21910
i working in this fix

[2019-08-30 23:17] 00F100 commented on #21910
@magento-engcom-team give me 2.3-develop instance

[2019-08-30 23:17] magento-engcom-team commented on #21910
Hi @00F100. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-30 23:17] magento-engcom-team commented on #21910
Hi @00F100, here is your [Magento instance](https://i-21910-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21910-2-3-develop.instances.magento-community.engineering/admin](https://i-21910-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-31 03:00] rpelorosso opened #24381 "Creating shipments for two different orders and getting the tracking number inmediately after each creation gets the same tracking number for both orders."
When creating a shipment for two orders one after another, if after each creation I get the tracking number (as it happens in the shipping notification template) the tracking number gotten for the second order is the one used in the first order.

However, the tracking numbers are right in the admin. This means that shipping notifications are sent with the wrong tracking number, but they are ok in

[2019-08-31 03:59] duffner commented on #120
@magento-admin & @magento-engcom-team Was this added into the 2.3 release?

[2019-08-31 06:12] dankhrapiyush opened #24382 "Zero subtotal checkout > Automatically Invoice All Items not working"
### Preconditions (*)

1. Magento 2.2.8

### Steps to reproduce (*)

1. Go to: Store > Configuration > Sales > Payment Methods > Zero Subtotal Checkout
2. Set 'New Order Status' to 'Processing'.
3. On select above option, 'Automatically Invoice All Items' option by default set to 'Yes'. Keep it as it is.
![2019-08-31_11-36-32](https://user-images.githubusercontent.com/1868477/64059958-bc610380-cbe

[2019-08-31 06:15] shikhamis11 commented on #24382
@magento give me 2.3-develop instance

[2019-08-31 06:15] magento-engcom-team commented on #24382
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-31 06:15] magento-engcom-team commented on #24382
Hi @shikhamis11, here is your [Magento instance](https://i-24382-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24382-2-3-develop.instances.magento-community.engineering/admin](https://i-24382-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-31 06:16] maheshWebkul721 commented on #24342
@magento give me 2.3-develop instance

[2019-08-31 06:16] magento-engcom-team commented on #24342
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-31 06:16] magento-engcom-team commented on #24342
Hi @maheshWebkul721, here is your [Magento instance](https://i-24342-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24342-2-3-develop.instances.magento-community.engineering/admin](https://i-24342-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-31 06:32] rani-priya opened #24383 "Configurable product image not showing as per selected options"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2.19

### Steps to reproduce (*)

1. Create a configurable product with swatches
2. Set image for each associated products
3. Navigate to product page at frontend
4. Select second or third image of main product
5. Then select any option it's  not showing the actual image, it's showing previous image.

### Expected result (*)

1. Actual selected conf

[2019-08-31 06:35] krishprakash commented on #24383
@magento give me 2.3-develop instance

[2019-08-31 06:35] magento-engcom-team commented on #24383
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-31 06:36] magento-engcom-team commented on #24383
Hi @krishprakash, here is your [Magento instance](https://i-24383-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24383-2-3-develop.instances.magento-community.engineering/admin](https://i-24383-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-31 06:43] dankhrapiyush opened #24385 "Downloadable Products status remain Pending after place an order"
### Preconditions (*)

1. Magento 2.2.9
2. Configure any payment method that generates an invoice on place an order

### Steps to reproduce (*)

1. Add a downloadable product to the cart
2. Place an order with PayPal or any other payment method that generates an invoice on place an order
3. Go to 'My Downloadable Products' section under My account
4. Check 'Status' column of order item

### Expect

[2019-08-31 06:49] shikhamis11 commented on #24382
hi @dankhrapiyush
I checked this on magento 2.3-develop instance . It seems this issue already fixed on 2.3-deveop instance please check again on 2.3 dev instance and if it still persists Please share screenshots also
![image](https://user-images.githubusercontent.com/25526037/64060396-90e11780-cbe9-11e9-9ea0-e28f596bfb6b.png)

[2019-08-31 07:04] dankhrapiyush commented on #24382
@shikhamis11 Thanks for looking into the issue.

I already mentioned **Magento 2.2.8** under **Preconditions**.
So you should check in the Magento 2.2 instance.

Please verify. Also, let me know if there is no further support on Magento 2.2 release line.

[2019-08-31 07:18] krishprakash commented on #24383
Hi @rani-webkul. Thank you for your report.
Issue is duplicate to #16409

[2019-08-31 07:18] #24383 closed, assigned to rani-priya, krishprakash

[2019-08-31 07:20] shikhamis11 commented on #24382
@dankhrapiyush yes Magento no logner gives support for magento 2.2.x versions . I try to share the comits which fix this issue

[2019-08-31 07:22] krishprakash commented on #24382
@dankhrapiyush
you can review the fixes in related PR
https://github.com/magento/magento2/pull/23688

[2019-08-31 07:25] renard123 opened #24386 "shipping address lost so can not change shipping address"
shipping address lost so can not change the shipping address

### Preconditions (*)
- Magento 2.3.2
- create the customer from admin
- add 3-4 additional addresses for that customer

### Steps to reproduce (*)
1. Login to Admin -> Sales -> Orders -> Create New Order  -> Select Customer -> Go to Address Information
2. Select different Address For billing Address
3. Uncheck the "Same As Billing Addr

[2019-08-31 07:41] edenduong opened #24387 ""New Block" form still show "Store View" field in "Single Store Mode""
### Preconditions (*)

1. Magento 2.3-develop
2. Enable "Single Store Mode"

![image](https://user-images.githubusercontent.com/8234209/64060881-2fc33f00-cbfd-11e9-81ac-1c622f65ff1c.png)

### Steps to reproduce (*)

1. Go to backend
2. Content->Blocks
3. Add New Block
4. See:

![image](https://user-images.githubusercontent.com/8234209/64060895-5b462980-cbfd-11e9-97b5-13dd9cf9315d.png)

### Expecte

[2019-08-31 09:06] craigcarnell commented on #24376
This issue is on Magento 2.3.2

[2019-08-31 10:23] dmytro-ch commented on #24208
The issue is a bit tricky.
I guess, the "View" action was expected to be used as a preview feature:
[code]
I would say that the preview feature is currently implemented not correctly. If the page is disabled, we always get the preview for CMS page set as 404 Not Found page in-store configurations. So admin user alwys has to enable the page in order check the actual view of the page on frontend.
In

[2019-08-31 11:03] rani-priya opened #24389 "Selected options are not showing on edit wish list page."
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2.19

### Steps to reproduce (*)

1. Create a configurable product with swatches
2. Navigate to product page at frontend
3. Select swatches options and to wish list
4. open wish list and click on edit

### Expected result (*)

1. Selected options should be displayed on edit wish list page
![wishlist-selected-options](https://user-images.githubuserco

[2019-08-31 11:19] koopjesboom commented on #7298
@hostep

You are totally right:

**"Giving advise like this and people just copy/pasting stuff like this might make the problem worse instead of improving it, so please try to pay a bit more attention while posting such a long string of commands "**

It is there:

 "And check the commands for your needs if there are things you do not want to happen get them out."

**Also your advise won't help wit

[2019-08-31 11:48] magento-engcom-team commented on #24389
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19775` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-31 11:52] christopher-silvey opened #24391 "Slow Customer Login & Checkout (Related to Quote Issues)"
### Preconditions (*)

v2.3.2
AWS 4 core 32GB Memory (Plenty of resources)

### Steps to reproduce (*)

I'm not 100% sure how to reproduce this but I do know it happens when something is wrong with the user's quotes. Maybe it is missing?

### Expected result (*)

Expect to login quickly and checkout quickly.

### Actual result (*)

Nothing but a spinning wheel that eats up your CPU and Memory reso

[2019-08-31 11:57] beckindesigns commented on #24391
I actually just found this which shows it is happening to others and backs up what I thought was the cause :)

https://magento.stackexchange.com/questions/284158/some-magento2-customers-login-takes-too-much-time#answer-284218

[2019-08-31 12:13] Goeny commented on #13126
Why is this issue still not resolved?

How can i implement a manual fix in either 2.3.1 or 2.3.2 ?

[2019-08-31 12:15] dharake commented on #16149
issue persists in 2.3.2

[2019-08-31 12:34] dankhrapiyush commented on #24382
Okay, Thank you.

[2019-08-31 12:34] #24382 closed, assigned to shikhamis11

[2019-08-31 12:51] rani-priya opened #24393 "Order information in print order, invoice, credit memo and shipment is not proper aligned"
### Preconditions (*)

1. Magento 2.3.2 ... 2.4-develop
1. PHP 7.2.19

### Steps to reproduce (*)

1. Place an order
1. Go to customer account section and open that order
1. Click on print order link

### Expected result (*)

1. Order information should be
![order-info](https://user-images.githubusercontent.com/44425160/64064204-082f9f00-cc1c-11e9-8823-2797fc233e11.png)

### Actual result (*)

![o

[2019-08-31 13:51] rani-priya opened #24395 "Design issue on sales order view page frontend"
### Preconditions (*)

1. Magento2.3.2
2. PHP 7.2.19

### Steps to reproduce (*)

1. Place an order with even number of items
2. Go to customer account section and view the order

### Expected result (*)

![order-list](https://user-images.githubusercontent.com/44425160/64064844-66f91680-cc24-11e9-882f-2326c20c2ebb.png)

### Actual result (*)

![order-list-issue](https://user-images.githubuserconte

[2019-08-31 14:33] MisterMcJohn commented on #22094
I'm experiencing the same issue - and I'm change back to MySQL search instead of elasticsearch.
And already on Magento 2.3.2? Still a bug?

[2019-08-31 14:41] barryvdh commented on #22587
Why isn't the patch publicly available? I need it also.

[2019-08-31 17:24] maheshWebkul721 commented on #24386
@krishprakash i have checked this issue, its reproducible, please check from your end and mark as confirmed.

[2019-09-01 07:49] maheshWebkul721 commented on #24348
@magento give me 2.3-develop instance

[2019-09-01 07:49] magento-engcom-team commented on #24348
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-01 07:49] magento-engcom-team commented on #24348
Hi @maheshWebkul721, here is your [Magento instance](https://i-24348-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24348-2-3-develop.instances.magento-community.engineering/admin](https://i-24348-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-01 08:02] vasusundar commented on #13225
@SeeniBorn / @craigcarnell, Solution for this one is that we need to share the same pub/static for the different instance in AWS. Is this solution will work.

[2019-09-01 09:04] mahesh-rajawat opened #24400 "Issues Found on Grid Multi-Select Column"
### Preconditions (*)

1. Magento 2.3-develop and Magento 2.3.2
2.

### Steps to reproduce (*)

**Issue First:**
1. Open any grid having some records.
2. Click on Header Checkbox to select all record on current page. https://prnt.sc/p09pr0
3. Now unselect some record, on click particular row: https://prnt.sc/p09pya
4. Again click on Header Checkbox, here is the issue.
5. Now you will see all recor

[2019-09-01 14:48] victortodoran commented on #1146
This is still an issue in 2.3.1

[2019-09-01 17:00] secaliskan commented on #23773
So customers never get order confimation mail. This breaks default magento functionality.
Is this the solution?

[2019-09-01 17:45] hostep commented on #24332
This is a duplicate of https://github.com/magento/magento2/issues/16531#issuecomment-405508290

@posttechguy: installing the `fileinfo` php extension should solve your issue.

In my opinion the `fileinfo` extension needs to get added to the requirements in the [`composer.json` file of Magento's Framework](https://github.com/magento/magento2/blob/2.3.2/lib/internal/Magento/Framework/composer.json#L

[2019-09-01 21:17] Jackcar opened #24402 "Vat ID not being included in Shipping Address in Magento 2.3.2"
After updating to Magento 2.3.2, VAT ID is not included in the Shipping Address in the checkout anymore. My Magento works in Brazil and the VAT ID is required by the major payment solutions companies around here.
I found the problem and this field is missing in the file `\Magento\Customer\Model\Address\CustomerAddressDataFormatter.php` in the `prepareAddress(AddressInterface $customerAddress)` met

[2019-09-02 02:14] jupiter01 commented on #23613
Thank you @vszgalaxy. Found myself pulling my hair out trying to figure out what was wrong.  I will never understand how these problems make it into magento releases.

[2019-09-02 03:02] jaredchu commented on #20033
This may help people with who has the same env with my site:
- Magento 2.3.2
- PHP 7
- Using Magento2-Mandrill extension
After replace magento2-mandrill with magento2-mandrill-smtp then the email function working fine.
https://github.com/ebizmarts/magento2-mandrill/issues/115

[2019-09-02 04:54] krishprakash commented on #24386
@magento give me 2.3-develop instance

[2019-09-02 04:54] magento-engcom-team commented on #24386
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-02 04:54] magento-engcom-team commented on #24386
Hi @krishprakash, here is your [Magento instance](https://i-24386-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24386-2-3-develop.instances.magento-community.engineering/admin](https://i-24386-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-02 05:01] Stepa4man commented on #24395
@magento give me 2.3-develop instance

[2019-09-02 05:01] magento-engcom-team commented on #24395
Hi @Stepa4man. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-02 05:02] magento-engcom-team commented on #24395
Hi @Stepa4man, here is your [Magento instance](https://i-24395-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24395-2-3-develop.instances.magento-community.engineering/admin](https://i-24395-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-02 05:35] abubakar-bilal opened #24404 "Magento Installation with apache"
### Preconditions (*)

1. Apache
2. Magento 2.3

### Steps to reproduce (*)

1. Install apache.
2. Try to install magento with below conf file

### Expected result (*)

1. Proper setup wizard should display
2. All css and js should be intact.

### Actual result (*)

1. url of site doesn't redirect to setup.
2. After manual setup, css and js is broken.

Can anyone please provide me with apache.conf

[2019-09-02 05:39] magento-engcom-team commented on #24386
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19778` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-02 05:44] krishprakash commented on #24404
Hi @abubakar-bilal.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Thank You.

[2019-09-02 05:44] #24404 closed, assigned to krishprakash

[2019-09-02 07:18] engcom-Charlie commented on #22094
@MisterMcJohn i was tested only with MySQL and i didn't had a bug.

[2019-09-02 07:22] magento-engcom-team commented on #24350
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19780` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-02 08:10] josefbehr commented on #7298
@koopjesboom this is not the place for a personal crusade! Also, @hostep is totally right in that your "advice" is not only unhelpful and does NOT solve the problem at hand, but also is potentially even more damaging to the system if taken seriously. Please refrain from giving advice, if you do not know what you are doing.

@sidolov @maghamed @okorshenko is there any effort to resolve this issue i

[2019-09-02 08:53] MisterMcJohn commented on #22094
@engcom-Charlie

MySQL is no problem, it's enly even elasticSearch is selected.

[2019-09-02 09:15] ajijshekh123 commented on #24378
Give me @magento give me 2.3-develop instance

[2019-09-02 09:15] magento-engcom-team commented on #24378
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-02 09:16] magento-engcom-team commented on #24378
Hi @ajijshekh123, here is your [Magento instance](https://i-24378-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24378-2-3-develop.instances.magento-community.engineering/admin](https://i-24378-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-02 09:27] Berman59 commented on #10454
Have there been any updates on this bug?

[2019-09-02 09:38] koopjesboom commented on #7298
@josefbehr

You are right do not take it personal I did not write this to any person but to all developers watching this post.

I will remove @hostep for you.

Feel free to post the solution here if available.

[2019-09-02 09:39] dpdesignthatfits commented on #13952
A client of ours has experienced this on 2.3.2 with a customer paying via paypal. The second order was created about 30 seconds after the first, and was missing the paypal transaction ID.

[2019-09-02 09:46] ajijshekh123 commented on #24378
@elganif - I have verified this issue on latest iPhone X device on latest Magento 2.3 Instance. I do not find any zooming functionality.
Please review attached the video:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/24711761/64105825-9169e180-cd94-11e9-959d-674550ac1619.gif)

[2019-09-02 10:23] engcom-Bravo commented on #24395
Hello @rani-webkul. Thanks for applying. Seems we do not clearly understand what You mean. It's a grid, it is supposed to look like that, i.e lighter row, darker row, lighter row, darker row, isn't it?
![grid](https://user-images.githubusercontent.com/51680745/64108099-a6d70f80-cd84-11e9-854d-68beccc9aa0f.png)
Or You mean something else?

[2019-09-02 10:27] magento-engcom-team commented on #24400
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19785` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-02 10:31] rani-webkul commented on #24395
@engcom-Bravo yes it's a grid and differentiated by a lighter row and darker row. But two row must not be same in color. As you can see last row and total row have same dark background color.

[2019-09-02 10:44] magento-engcom-team commented on #24393
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19786` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-02 11:41] ryans1224 commented on #12679
I had the same problem, and in my case, it was caused by an incorrect crypt key set in `env.php`

[2019-09-02 11:48] engcom-Bravo commented on #24395
Ok @rani-webkul, but then Your Expected Result with two light items going one after the other should be changed.

[2019-09-02 11:49] magento-engcom-team commented on #24395
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19787` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-02 11:56] gibbotronic opened #24408 "Field catalog_product_entity.attribute_set_id has no referential integrity"
Table *catalog_product_entity* has column *attribute_set_id* but there is no relation to *eav_attribute_set* at all.
This means deleting an attribute set will leave invalid ids (even though the admin panel warns that deleting an attribute set will delete the products associated with that set). It doesn't.
There should be a foreign key from catalog_product_entity.attribute_set_id with a cascading d

[2019-09-02 12:03] marsboul2d commented on #15509
Hi @michaelDWarnick !

Thanks for your solution, it's working but I have a compilation error with it :

[code]
Did I do something wrong ? Did you change anything when you paste the code from @pini-girit ?

[2019-09-02 12:12] hostep commented on #13952
Hmm, a client of ours recently reported something similar to this, not sure if this is the exact same problem as being discussed over here, but it kind of sounds similar, steps to reproduce:

- Put products in your cart in the shop
- Go through the checkout and pick Paypal
- Be redirected to the Paypal
- Close your browser
- Open your browser
- Visit the same shop again
- Notice that your cart is

[2019-09-02 12:15] magento-engcom-team commented on #23268
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19790` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-02 12:16] magento-engcom-team commented on #24376
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19791` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-02 12:19] engcom-Charlie commented on #24299
Hello @testmagento2
I am closing this issue now due to inactivity.
Please update if you wish to continue.
Thank you for the collaboration!

[2019-09-02 12:19] #24299 closed, assigned to engcom-Charlie

[2019-09-02 12:20] gibbotronic commented on #24408
Additionally, attempting to now edit any of my products within the admin interface will fail with:

```Fatal error: Uncaught TypeError: Argument 3 passed to Magento\Framework\View\Element\UiComponentFactory::mergeMetadataElement() must be of the type array, null given, called in /usr/local/var/www/lib/internal/Magento/Framework/View/Element/UiComponentFactory.php on line 385 and defined in /usr/lo

[2019-09-02 12:20] engcom-Charlie commented on #24156
Hello @jrvision
I am closing this issue now due to inactivity.
Please update if you wish to continue.
Thank you for the collaboration!

[2019-09-02 12:20] #24156 closed, assigned to engcom-Charlie

[2019-09-02 12:22] gibbotronic commented on #24408
To confirm, I can reproduce this on vanilla Magento

[2019-09-02 12:33] mahsn commented on #23826
@magento give me 2.3-develop instance

[2019-09-02 12:33] magento-engcom-team commented on #23826
Hi @mahsn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-02 12:34] magento-engcom-team commented on #23826
Hi @mahsn, here is your [Magento instance](https://i-23826-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23826-2-3-develop.instances.magento-community.engineering/admin](https://i-23826-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-02 12:42] sunilit42 opened #24409 "Shopping Cart Sidebar should be Minicart"
### Preconditions (*)

1. Latest Magento

### Steps to reproduce (*)

1. https://www.screencast.com/t/HjHNYc4Hrf
this thing apply for the mini cart so it should be for mini cart
It is mis understanding word, as above setting apply for Mini Cart so Shopping Cart Sidebar should be Mini Cart

### Expected result (*)

1. Text changes:- https://www.screencast.com/t/HjHNYc4Hrf it should be MiniCart

###

[2019-09-02 13:12] Swahjak commented on #13477
@michaelwylde since you seem to be able to re-open issues (and have re-opened this issue multiple times) would you be so kind te reopen this issue again. As you can see in https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/Indexer/Product/Flat/TableBuilder.php the method `getFlatUpdateSelect` still isn't doing anything to manipulate the actual query. Nothing has ch

[2019-09-02 13:14] magento-engcom-team commented on #24409
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-02 13:14] magento-engcom-team commented on #24409
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19792` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-02 13:19] gibbotronic opened #24410 "catalogProductTierPriceManagementV1GetListGet call fails badly when querying parent product"
The call to catalogProductTierPriceManagementV1GetListGet fails when querying a configurable product. It should handle the request gracefully but instead dies.

The offending file is
  ```/app/code/Magento/Catalog/Model/Product/TierPriceManagement.php```
This function is wrong:

[code]

The line
[code]
might return a null.

It should be
[code]

  If you ask for the product info (even a parent conf

[2019-09-02 13:19] vszgalaxy commented on #23613
Yes, as you can see, they just close everything.
Typical magento answer "can not reproduce"

[2019-09-02 13:20] gibbotronic commented on #24410
I confirm that this is reproducable on vanilla 2.3.2

[2019-09-02 13:31] gibbotronic opened #24412 "catalogProductTierPriceManagementV1GetListGet 'all' option does not work"
Calls to catalogProductTierPriceManagementV1GetListGet with the documented 'all' option (eg. rest/V1/products/testingSKU/group-prices/all/tiers) does not work. It will return an empty array even if there is a valid tiered price for a product and customer group. This is wrong.

If you then proceed to explicitly request a tiered price for this product for a customer group that you *know* exists (eg.

[2019-09-02 13:32] gibbotronic commented on #24412
I can confirm that this occurs on vanilla 2.3.2

[2019-09-02 13:35] engcom-Bravo commented on #24408
Hello @gibbotronic. Thanks for applying but currently we've been not able to reproduce Your issue nether on the 2.3-develop nor on 2.3.2 version You have reported this issue on.
![attributeset](https://user-images.githubusercontent.com/51680745/64118045-73ee4500-cd9f-11e9-94ca-259f14835fe3.gif)
Is there something wrong in our actions?

[2019-09-02 13:40] gibbotronic commented on #24408
Very odd! That looks correct (thanks for the screen recording, very helpful).

How did you create your product? I am creating products using the RESTful API (eg. catalogProductRepositoryV1SavePost, a POST to rest/V1/products).

Does your catalog_product_entity table have referential integrity to eav_attribute_set that is causing the product to be deleted??
I am only asking in order to find out why

[2019-09-02 13:45] andrewdaluz commented on #6221
If anyone came here because of deployer/capistrano overwritten your files I fixed following this:

Reference: https://stackoverflow.com/a/51961956/2620326

[2019-09-02 13:46] engcom-Bravo commented on #24161
@chandantyagi1, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-02 13:46] #24161 closed, assigned to engcom-Bravo

[2019-09-02 14:08] engcom-Bravo commented on #24208
Hi @dmytro-ch. I admit Your logic is quite viable. It's good for admin to be able to preview the page regardless of whether it's enabled or not. But though that logic is related to this issue, the issue itself is not literary about that logic - the Expected Results anticipates disabling View feature for the disabled pages. I think Your logic deserves (and it would be more correctly) to be raised u

[2019-09-02 14:30] magento-engcom-team commented on #13477
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19796` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-02 14:49] gibbotronic opened #24413 "RESTful API: No way to discover attribute set / group / attribute information"
Using the RESTful interface, there is no way to interrogate an attribute set to see which attributes are assigned to it by group.

This means I have no way of knowing whether an attribute should be assigned to an attribute set, so I must blindly and dumbly assign all my attributes to their respective attribute sets and groups every time I want to interact with them, as I have absolutely no way of

[2019-09-02 14:59] engcom-Bravo commented on #24412
Hello @gibbotronic. Thanks for applying. Please take a note at the following:
![api1](https://user-images.githubusercontent.com/51680745/64121975-0515e980-cda9-11e9-90f3-a8c3881a7ae5.png)
from the documentation and
![api2](https://user-images.githubusercontent.com/51680745/64121983-0ba46100-cda9-11e9-9bbf-9dccf1bdacc5.png)
from the tier pricing section of the Product in a Magento instance.
ALL her

[2019-09-02 15:06] CristiLodor commented on #16163
@magento-engcom-team give me 2.3.2 instance

[2019-09-02 15:06] magento-engcom-team commented on #16163
Hi @CristiLodor. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-09-02 15:07] magento-engcom-team commented on #16163
Hi @CristiLodor, here is your [Magento instance](https://i-16163-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-16163-2-3-2.instances.magento-community.engineering/admin](https://i-16163-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-02 15:24] gibbotronic commented on #24412
Ah ok. Thank you, that makes sense. Apologies for the confusion.

What customer_group_id should be used if I wish to create a tiered price for all groups?

[2019-09-02 16:03] edenduong commented on #24409
@magento give me 2.3-develop instance

[2019-09-02 16:03] magento-engcom-team commented on #24409
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-02 16:04] magento-engcom-team commented on #24409
Hi @edenduong, here is your [Magento instance](https://i-24409-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24409-2-3-develop.instances.magento-community.engineering/admin](https://i-24409-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-02 16:22] brucemead opened #24414 "Price Indexer Performance Issue With Out of Stock Products"
### Preconditions (*)
Magento 2.x

### Steps to reproduce (*)
1. Ensure that display out of stock products option is disabled
2. `php bin/magento indexer:reindex catalog_product_price`
3. `php bin/magento cron:run --group=index`

You'll see because of the lack of a where using `$entityIds` in https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/CatalogInventory/Model/Indexer/Produ

[2019-09-02 16:47] brucemead commented on #24414
I've created a PR to resolve this issue https://github.com/magento/magento2/pull/24415

[2019-09-02 16:57] gibbotronic opened #24416 "Save failures return vague messages (exception swallowing)"
Save failure exceptions are swallowed/hidden, leaving the poor end-user completely baffled as to why something is failing. The helpful exception message should be shown so that we know how to resolve it.
### Preconditions (*)

1. Magento 2.3.2
2. A configurable product with options assigned (therefore requiring a child product too)

### Steps to reproduce (*)

1. Discover the options related to yo

[2019-09-02 17:17] devamitbera commented on #10088
@sidolov and @magento-engcom-team

Can you please take a look on my last commit https://github.com/devamitbera/magento2/commit/07b19858a3edf6ce371f3b32f9fbdb6ad0142422

[2019-09-02 18:40] devamitbera commented on #23993
I have faced the same issue and i have update my repo with the last 2.3-develop.

After that, I run **`composer update`**  and my issue is resolved.

[2019-09-02 19:09] craigcarnell commented on #24376
Further examples of this:

[code]

and:
[code]

[2019-09-02 19:10] magento-engcom-team commented on #24330
Hi @atwixfirster. Thank you for your report.
The issue has been fixed in magento/magento2#24331 by @atwixfirster in 2.3-develop branch
Related commit(s):
 - [40c0e2859b1bf4f5795a403861dd231b1e2483ae](https://github.com/magento/magento2/commit/40c0e2859b1bf4f5795a403861dd231b1e2483ae)
 - [e5869014a8e7ea98cf3a6bb5a822c2683d2841a2](https://github.com/magento/magento2/commit/e5869014a8e7ea98cf3a6bb5a8

[2019-09-02 19:10] #24330 closed, assigned to atwixfirster

[2019-09-02 19:10] magento-engcom-team commented on #24302
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24313 by @edenduong in 2.3-develop branch
Related commit(s):
 - [afc57f92bb4a2deb13dcf88907eb6686957d9e9e](https://github.com/magento/magento2/commit/afc57f92bb4a2deb13dcf88907eb6686957d9e9e)
 - [35befe1985f88d8832a1b3654329a288b29bc4ab](https://github.com/magento/magento2/commit/35befe1985f88d8832a1b3654329a288

[2019-09-02 19:10] #24302 closed, assigned to edenduong

[2019-09-02 19:10] magento-engcom-team commented on #24304
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24313 by @edenduong in 2.3-develop branch
Related commit(s):
 - [afc57f92bb4a2deb13dcf88907eb6686957d9e9e](https://github.com/magento/magento2/commit/afc57f92bb4a2deb13dcf88907eb6686957d9e9e)
 - [35befe1985f88d8832a1b3654329a288b29bc4ab](https://github.com/magento/magento2/commit/35befe1985f88d8832a1b3654329a288

[2019-09-02 19:10] #24304 closed, assigned to edenduong

[2019-09-02 19:10] magento-engcom-team commented on #24307
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24313 by @edenduong in 2.3-develop branch
Related commit(s):
 - [afc57f92bb4a2deb13dcf88907eb6686957d9e9e](https://github.com/magento/magento2/commit/afc57f92bb4a2deb13dcf88907eb6686957d9e9e)
 - [35befe1985f88d8832a1b3654329a288b29bc4ab](https://github.com/magento/magento2/commit/35befe1985f88d8832a1b3654329a288

[2019-09-02 19:10] #24307 closed, assigned to edenduong

[2019-09-02 19:10] magento-engcom-team commented on #24312
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24313 by @edenduong in 2.3-develop branch
Related commit(s):
 - [afc57f92bb4a2deb13dcf88907eb6686957d9e9e](https://github.com/magento/magento2/commit/afc57f92bb4a2deb13dcf88907eb6686957d9e9e)
 - [35befe1985f88d8832a1b3654329a288b29bc4ab](https://github.com/magento/magento2/commit/35befe1985f88d8832a1b3654329a288

[2019-09-02 19:10] #24312 closed, assigned to edenduong

[2019-09-02 19:46] Rus0 commented on #24361
Hey @0m3r,

I cannot reproduce it on 2.3-develop, I will close it, I followed every step you mentioned.
![image](https://user-images.githubusercontent.com/6666392/64131738-37ffb380-cd90-11e9-9d37-c93e521ca6a6.png)

I double checked if I was sync'd with latest changes:

![image](https://user-images.githubusercontent.com/6666392/64131742-3df59480-cd90-11e9-88d0-a6612fabe84a.png)

If you can still re

[2019-09-02 19:46] #24361 closed, assigned to Rus0

[2019-09-02 23:55] dbsdsun opened #24417 "Magento\Framework\Stdlib\DateTime\Timezone -> appendTimeIfNeeded didn't check input"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1.Magento\Framework\Stdlib\DateTime\Timezone -> date('2018-04-12')

### Expected result (*)

1. It should return 2018 April 12

### Actual result (*)

1. it returns a date as 2180 Feb. 4

### Problem (*)
These are two lines in function Magento\Framework\Stdlib\DateTime\Timezone -> date()

                $date = $this->appendTime

[2019-09-03 05:21] kirtinariya1 opened #24418 "Rest API missing “stock_item” in to the list of the products"
Magento 2.3.0 rest API missing  `stock_item` in to the list of the products.

### Preconditions (*)

1. Magento 2.3.0

### Steps to reproduce (*)

1. Run product list API
2. Method: GET
3. URL: http://localhost/magentosample230/rest/V1/products?searchCriteria[pageSize]=10&searchCriteria[filter_groups][0][filters][0][field]=category_id&searchCriteria[filter_groups][0][filters][0][value]=4&searchCri

[2019-09-03 05:36] dyuk1987 commented on #16008
I'm still getting this issue on Magento 2.2.7.
Any ideas about how to apply a quick fix to 2.2.7? Or what are the related commits to this issue?

[2019-09-03 05:52] logicallimit opened #24419 "{{config path='trans_email/ident_support/email'}} does not display support email"
### Preconditions (*)

1. Magento CE 2.3.2
2. CentOS Linux release 7.6.1810
3. MySQL version: 10.1.40-MariaDB

### Steps to reproduce (*)

1. Login to Admin Panel.
2. Go to Marketing -> Email Templates -> Click on button "Add New Template"
3. For section "Template Content", click on button "Insert Variable". A list of available variables appears. This list does not shows variables for "Support Ema

[2019-09-03 05:59] junaidq57 commented on #23664
Did you find any solution?? I am having the same issue.

[2019-09-03 06:55] pini-girit commented on #23670
FYI: I managed to reproduce the issue on Magento 2.3.2 when I exported the vcl file from the admin panel (Varnish 4). Solved it manually by editing the file & replacing the `fetch` with `miss`.

[2019-09-03 07:11] ChintanKaneriya commented on #6558
Is this issue fixed yet?

I have tried the solution which was given by @paales but still, I am getting 404 while trying to download the image.

[2019-09-03 07:15] matheus0608 commented on #11825
not work, add item wishlist magento 2.3 Invalid Form Key,

[2019-09-03 07:28] magento-engcom-team commented on #24410
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19802` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-03 07:29] engcom-Charlie commented on #23581
Hello @alchemyconsulting
 We can not reproduce this issue follow steps that you provide.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-09-03 07:29] #23581 closed, assigned to engcom-Charlie

[2019-09-03 07:51] alamzaib commented on #3294
How i got it

$objectManager =  '\Magento\Framework\App\ObjectManager'::getInstance();
$context = $objectManager->get('Magento\Framework\App\Http\Context');
$isLoggedIn = $context->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH);

now $isLoggedIn will give us weather customer is logged in or not
if($isLoggedIn){
// code
}

and then
$customerSession 	= $objectManager->get('\Magento\Customer

[2019-09-03 07:55] magento-engcom-team commented on #24418
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19805` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-03 08:48] jmcharadva commented on #24370
@NagamaniNaresh
Can you please try with below-mentioned code?
It's working for me.

$subject->getCollection()->getSelect()->joinLeft(
                    'sales_order_item',
                    'e.entity_id = sales_order_item.product_id',
                    array('qty_ordered'=>'(select sum(soi.qty_ordered) from sales_order_item soi where soi.product_id = e.entity_id)'))->distinct(true)

[2019-09-03 08:49] raisandeep1989 commented on #12215
Invalid input datetime format of value in MAGENTO 2.3 with product Schedule Design Update.
product update is working fine but when update the Schedule Design Update  it got this error.

I am using AU_EN locale to store and tried with US_EN also but it did not worked.
https://prnt.sc/p13qiz

Why is it is happen with magento 2.3?? any suggestion are welcomed

[2019-09-03 09:19] priti2jcommerce commented on #24409
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-09-03 09:19] magento-engcom-team commented on #24409
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-03 09:19] NagamaniNaresh commented on #24370
@jmcharadva I have added the solution you have given, It's working fine. Thank you very much :)-

[2019-09-03 09:20] #24370 closed, assigned to nobody

[2019-09-03 09:20] magento-engcom-team commented on #24409
Hi @priti2jcommerce, here is your [Magento instance](https://i-24409-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24409-2-3-develop.instances.magento-community.engineering/admin](https://i-24409-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-03 09:22] benboudan commented on #14134
Hello

Have you any news about this request ?

[2019-09-03 09:45] drabikowy commented on #23832
@magento give me 2.3-develop instance

[2019-09-03 09:46] magento-engcom-team commented on #23832
Hi @drabikowy. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-03 09:46] magento-engcom-team commented on #23832
Hi @drabikowy, here is your [Magento instance](https://i-23832-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23832-2-3-develop.instances.magento-community.engineering/admin](https://i-23832-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-03 09:53] bruce-dbm opened #24421 "Can not install a theme"
Hello everyone,

I installed a theme in magento2.3.2, after that, the magento is not working anymore.
in the browser shows: An error has happened during application run. See exception log for details.
environment: LAMP+ php7.1+ magento2.3.2
Process:
1.     Extract solwin-freego-theme-2.3.x.zip
2.	Copy the app and the pub folder and paste it into your magento ROOT directory.
3.	Run upgrade command

[2019-09-03 09:59] novikor commented on #7557
Still is being reproduced on 2.3.1.

I`ll reopen and fix it when I have some time.

[2019-09-03 10:22] drabikowy opened #24422 ""Apply discount to Shipping Amount" disabled for "Fixed amount discount for whole cart" action"
### Preconditions (*)
Reproduced on Magento 2.3-develop;

### Steps to reproduce (*)
1. Go to admin panel -> Marketing -> Cart Price Rules -> Add new rule
2. In Actions tab and set Apply to "Fixed amount discount for whole cart"

### Expected result (*)
I am able to turn ON "Apply to Shipping Amount" option in action tab.
It should be possible according to documentation (https://docs.magento.com/m

[2019-09-03 10:30] ihor-sviziev commented on #6426
You can add it like this:
https://gist.github.com/ihor-sviziev/367a8a068c8141adad92812a6b8ea0be/revisions#diff-a9565219ff1cc95ce0ccd0d138bbf45f

[2019-09-03 10:41] jmcharadva commented on #24385
@dankhrapiyush
I have checked this issue in the magento2.2.9 CE version. There is not an issue. It's working fine as per expected result.
I have checked with no sample data.

(https://user-images.githubusercontent.com/47854937/64166789-73b87d00-ce65-11e9-81f0-c46aa100fd78.png)
(https://user-images.githubusercontent.com/47854937/64166779-6d2a0580-ce65-11e9-9af8-1c4ef8c4beed.png)

[2019-09-03 10:45] engcom-Bravo commented on #24412
@gibbotronic, You are welcome. It looks somewhat weird but customer_group_id for all groups is 32000. If You send a request with 'all' as in Your Steps to Reproduce You shall get back info with customer_group_id: 32000. The same response shall be obtained once You send directly 32000 instead of "all". So by Your favor we are closing this issue now. Thank You for applying.

[2019-09-03 10:45] #24412 closed, assigned to nobody

[2019-09-03 11:36] 0m3r commented on #24361
Ok. In 2.3-develop the bug was already fixed. But not in Magento 2.3.2.

https://github.com/magento/magento2/blame/2.3-develop/app/code/Magento/Store/App/Action/Plugin/Context.php

thanks for @dhorytskyi and Roman Lytvynenko

https://github.com/magento/magento2/commit/438b0f0a3ab24e7a563e6543070824545de8781e
https://github.com/magento/magento2/commit/50acd4f556ec313e4ad1ec6efc1739af4e8e9dbe

[2019-09-03 11:37] magento-engcom-team commented on #24402
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19815` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-03 12:17] Asma-Hawari opened #24423 "admin notifications"
Thanks for your efforts ,
i want to wonder why the admin notifications are not getting via ajax request ?
is it more professional to make the icon of the admin notification automatically updated ?

[2019-09-03 12:27] engcom-Charlie commented on #24421
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the Freego theme support, for advice or general discussion about this issue.

[2019-09-03 12:27] #24421 closed, assigned to engcom-Charlie

[2019-09-03 12:27] magento-engcom-team commented on #24417
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19816` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-03 12:35] yogeshkhasturi commented on #21780
This issue is still in 2.3.2  Fresh installation.

can anyone help?

[2019-09-03 12:48] kassner opened #24424 "Can't partially invoice orders with ship separately/together mixed bundles"
### Preconditions

1. Magento Open Source 2.3.2;

### Steps to reproduce

1. Create a simple product with price $10.00;
2. Create a bundle with dynamic price and ship together as option:

![Screenshot_2019-09-03 Bundle (dynamic price, ship together) Products Inventory Catalog Magento Admin](https://user-images.githubusercontent.com/301255/64174453-9ba1e380-ce59-11e9-9a4a-48d43621804c.png)

3. Crea

[2019-09-03 12:51] magento-engcom-team commented on #24422
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19818` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-03 12:57] zw1111 commented on #23958
I am also having this issue.  The message still states "Task "Update attributes for 4 selected products": 1 item(s) have been scheduled for update." even after trying to make the code modifications.  It seems that the change does not take into account updates that are already queued.  How do you get rid of or cancel a queued update?

[2019-09-03 13:17] harifrhinos commented on #4331
@koopjesboom did you get any solution?

[2019-09-03 13:27] engcom-Bravo commented on #24424
Hello @kassner. Thanks for applying. As You can see we've got Your Expected and not Your Actual result trying to reproduce the issue:
![bundle](https://user-images.githubusercontent.com/51680745/64177114-75834000-ce67-11e9-99bb-60d8e19ffbe1.png)
Could You please try to reproduce this issue on the latest 2.3-develop version as You are advised above:
![Advised](https://user-images.githubusercontent.

[2019-09-03 13:36] krishprakash commented on #24423
Hi @Asma-Hawari.
It should be consider as feature request so for processed faster please report this in below community feature repository.
https://github.com/magento/community-features/issues
Thanks.

[2019-09-03 13:36] #24423 closed, assigned to krishprakash

[2019-09-03 13:52] mebbopakko commented on #5775
Anyone found out how to solve/bypass this problem? Personally I can't even find a 3rd party extension that does this "separation".

[2019-09-03 15:02] msawyers commented on #21780
@yogeshkhasturi I provided solution on ticket.

[2019-09-03 15:03] krishnaMsec commented on #6627
Can I please get the related commits on this issue.

[2019-09-03 15:05] yogeshkhasturi commented on #21780
@msawyers On which ticket? Please let me know

[2019-09-03 15:06] yogeshkhasturi commented on #21780
This Solution is not working for me.

[2019-09-03 15:10] jammy-git commented on #9497
I experience this problem on 2.3.2. Insane that is still an issue after more than 2 years.

[2019-09-03 15:13] msawyers commented on #21780
what is the issue you are experiencing and what are the errors in your log

[2019-09-03 15:15] yogeshkhasturi commented on #21780
here is the Log

[shipping.log](https://github.com/magento/magento2/files/3570169/shipping.log)

Thanks in advance

[2019-09-03 15:17] snoroozi commented on #9497
@jammy-git What all extensions do you use. Maybe it will be useful for us to compare notes and environment, since there don't seem to be any solid answers coming

[2019-09-03 15:25] jammy-git commented on #9497
Found a couple of similar issues on StackOverflow that pointed me in the right direction.

This is a multi-store that has been migrated from M1 (using the Uberthemes Migration Pro module if that matters). At some point the data contained in `sales_sequence_meta` has fallen out of sync with the `store_id`s that exist. This meant that when the store was creating an order, it would try to insert data

[2019-09-03 16:02] azambon commented on #8964
The change proposed by @bawwwa is close to the solution that I found.

The issue seems to be that in the Magento\Tax\Model\Sales\Total\Quote\CommonTaxCollector::processShippingTaxInfo() method, Magento sets the "shipping_amount_for_discount" and "base_shipping_amount_for_discount" values on the total object, whereas in Magento\SalesRule\Model\Validator::processShippingAmount() Magento tries to rea

[2019-09-03 16:04] snoroozi commented on #9497
@jammy-git my site is also migrated from M1 and was at one point multistore.  Can you please elaborate what you mean by "save each in turn"?

[2019-09-03 16:26] Rus0 commented on #24361
@0m3r There is no longer development for 2.2 :cry:

If you need it you'll need to modify the vendor file or make a patch to the file in the vendor, I suggest making a composer patch.

[2019-09-03 16:39] jammy-git commented on #9497
Literally just go click into the Web Site (to edit it), change nothing but click Save. This will then run through the code to generate the correct data in the database tables for that store. Then click into the Store to edit it, click save, then do the same for the Store View.

[2019-09-03 18:03] elganif commented on #24378
Thank you for all this work, especial over the long weekend. That looks very different from how it appears on our 2.2.9 site. I will need to look into our back end and make sure we are using the magento default plugin for the related products display.

[2019-09-03 18:20] magento-engcom-team commented on #19921
Hi @hackrat. Thank you for your report.
The issue has been fixed in magento/magento2#23600 by @konarshankar07 in 2.3-develop branch
Related commit(s):
 - [d5390758c8c3f4e42a85e3b0720995267fcf8660](https://github.com/magento/magento2/commit/d5390758c8c3f4e42a85e3b0720995267fcf8660)
 - [493f366dd2d8aeb9cabddb91016fe0eccd72586f](https://github.com/magento/magento2/commit/493f366dd2d8aeb9cabddb91016fe

[2019-09-03 18:20] #19921 closed, assigned to konarshankar07

[2019-09-03 18:20] magento-engcom-team commented on #24395
Hi @rani-webkul. Thank you for your report.
The issue has been fixed in magento/magento2#24396 by @rani-webkul in 2.3-develop branch
Related commit(s):
 - [3cebfd37293db2f8deac47cec078c7edc2290fd6](https://github.com/magento/magento2/commit/3cebfd37293db2f8deac47cec078c7edc2290fd6)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-03 18:20] #24395 closed, assigned to rani-priya

[2019-09-03 18:20] magento-engcom-team commented on #24362
Hi @ochnygosch. Thank you for your report.
The issue has been fixed in magento/magento2#24367 by @ochnygosch in 2.3-develop branch
Related commit(s):
 - [424cd1fead90e091addd1acfa14061aaa1d66e93](https://github.com/magento/magento2/commit/424cd1fead90e091addd1acfa14061aaa1d66e93)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-03 18:20] #24362 closed, assigned to ochnygosch

[2019-09-03 18:20] magento-engcom-team commented on #21450
Hi @manishgoswamij. Thank you for your report.
The issue has been fixed in magento/magento2#24254 by @geet07 in 2.3-develop branch
Related commit(s):
 - [a234f2c121af000b7b5adc08224cfac0a0d59af4](https://github.com/magento/magento2/commit/a234f2c121af000b7b5adc08224cfac0a0d59af4)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-03 18:20] #21450 closed, assigned to geet07

[2019-09-03 18:20] magento-engcom-team commented on #24147
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24148 by @edenduong in 2.3-develop branch
Related commit(s):
 - [86434a200dc60ab7293c7db51a0667fc98eca953](https://github.com/magento/magento2/commit/86434a200dc60ab7293c7db51a0667fc98eca953)
 - [8e57b691fc4cea336a3fe74d8e89aa98eccb4fc5](https://github.com/magento/magento2/commit/8e57b691fc4cea336a3fe74d8e89aa98

[2019-09-03 18:20] #24147 closed, assigned to edenduong

[2019-09-03 18:20] magento-engcom-team commented on #5246
Hi @hungvt. Thank you for your report.
The issue has been fixed in magento/magento2#24420 by @atwixfirster in 2.3-develop branch
Related commit(s):
 - [528c538a79a4928f3bd2c38d0e23f2220f6dbaef](https://github.com/magento/magento2/commit/528c538a79a4928f3bd2c38d0e23f2220f6dbaef)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-03 18:20] magento-engcom-team commented on #11292
Hi @ADDISON74. Thank you for your report.
The issue has been fixed in magento/magento2#22478 by @ravi-chandra3197 in 2.3-develop branch
Related commit(s):
 - [60a465c9c83d4b2c33583f1028bf29f9143c516c](https://github.com/magento/magento2/commit/60a465c9c83d4b2c33583f1028bf29f9143c516c)
 - [c08dffb1d32d3c5786076bcf51c50fae622ede66](https://github.com/magento/magento2/commit/c08dffb1d32d3c5786076bcf5

[2019-09-03 18:20] #11292 closed, assigned to ravi-chandra3197

[2019-09-03 18:37] sdzhepa commented on #23671
@magento give me 2.3-develop instance

[2019-09-03 18:37] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-03 18:37] magento-engcom-team commented on #23671
Hi @sdzhepa, here is your [Magento instance](https://i-23671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23671-2-3-develop.instances.magento-community.engineering/admin](https://i-23671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-03 19:14] elganif commented on #24378
Closing this as I have found it is not a Magento issue, but comes from a plugin I did not realized was affecting the related products. Website was setup before I became involved in the project and I did not realize we were not running the original implementation of related products.

[2019-09-03 19:14] #24378 closed, assigned to ajijshekh123

[2019-09-03 19:24] hostep commented on #21766
Let's close this, it was determined that fixing this might cause backwards incompatibilities after discussion in https://github.com/magento/magento2/pull/24093

[2019-09-03 19:24] #21766 closed, assigned to Anantkprajapati

[2019-09-03 21:19] mslabko commented on #17787
The issue is acknowledged and should be fixed in further releases
Internal: MAGETWO-94583

[2019-09-03 22:04] sdzhepa opened #24426 "TEST ISSUES"
### Preconditions (*)

1.
2
2.

### Triage Note
- The issue is reproducible on `2.3.3` release version
- The issue is NOT reproducible on `2.3-develop`
- `2.3.3` is not merged into `2.3-develop` on the this moment

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

### Additional Con

[2019-09-04 03:03] snoroozi commented on #9497
Okay. I did all this, but I did experience can't initialize express
checkout later in the day.

On Tue, Sep 3, 2019, 12:41 PM jammy-git <notifications@github.com> wrote:

[2019-09-04 03:25] fanglexue opened #24428 ""setup:upgrade" disabled for "Table 'mage_1.email_abandoned_cart' doesn't exist""
### Preconditions (*)
Magento version : 2.3.2
PHP version ：7.2.13
Mysql version : Ver 14.14 Distrib 5.7.22

### Steps to reproduce (*)

1. ./bin/magento setup:upgrade
2. report "Upgrading schema.. SQLSTATE[42S02]: Base table or view not found: 1146 Table 'mage_1.email_abandoned_cart' doesn't exist, query was: DESCRIBE `email_abandoned_cart`"

### Expected result (*)

1. "Upgrading schema.. SQLSTAT

[2019-09-04 03:52] adarshkhatri opened #24429 "Loading abandoned quote problem when product is deleted."
### Summary (*)
I am developing an extension to load and do some business logic with an old abandoned quote. When loading some of the quotes it gives me an exception, `The product that was requested doesn't exist. Verify the product and try again`. I know this is due to product in that cart is deleted already.

I see that calling this method `Magento\Quote\Model\Quote::loadByIdWithoutStore($quote_

[2019-09-04 03:53] haimarlboro commented on #11028
i have same problem, any idea to fix this

[2019-09-04 04:46] rani-priya opened #24430 "Select from gallery option not working in theme design configuration"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2.19
3. Installed magento in some directory for ex: http://example.com/magento

### Steps to reproduce (*)

1. Navigate to backend-> Content -> Configuration
2. Edit any row
3. select image form gallery for "Header logo image"
4. then save

### Expected result (*)

![expected-sv](https://user-images.githubusercontent.com/44425160/64226388-d7da5000-c

[2019-09-04 05:00] ajijshekh123 commented on #24430
Give me @magento give me 2.3-develop instance

[2019-09-04 05:00] magento-engcom-team commented on #24430
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-04 05:01] magento-engcom-team commented on #24430
Hi @ajijshekh123, here is your [Magento instance](https://i-24430-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24430-2-3-develop.instances.magento-community.engineering/admin](https://i-24430-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-04 05:18] ajijshekh123 commented on #24430
I have verified this issue in Default Magento 2.3 Instance. Image uploading functionality is working fine.
Please see attached the issue video:
![Image_Issue](https://user-images.githubusercontent.com/24711761/64227522-74065600-cf01-11e9-82a4-0b6972f20651.gif)

[2019-09-04 05:21] rani-webkul commented on #24430
@ajijshekh123 please check preconditions "magento must be installed in some directory for ex: http://example.com/magento"

[2019-09-04 05:24] dmytro-ch commented on #16409
@magento-engcom-team give me 2.3-develop instance

[2019-09-04 05:24] magento-engcom-team commented on #16409
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-04 05:25] magento-engcom-team commented on #16409
Hi @dmytro-ch, here is your [Magento instance](https://i-16409-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-16409-2-3-develop.instances.magento-community.engineering/admin](https://i-16409-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-04 05:26] ajijshekh123 commented on #24430
@rani-webkul - I understand your preconditions but when I have verified the issue in default Magento it will provide the only instance, not to the default Magento source code.
Can you please update me how to reproduce this issue in default Magento 2.3 instance?

[2019-09-04 05:29] rani-webkul commented on #24430
@ajijshekh123 Install magento2.3-develop on your local system and then check.

[2019-09-04 05:30] ajijshekh123 commented on #24430
@rani-webkul  Okay Let me check and update you.

[2019-09-04 05:41] ajijshekh123 commented on #24430
@rani-webkul - I have verified this issue in my local Magento 2.3 instance but it's working fine on my end.

[2019-09-04 05:44] rani-webkul commented on #24430
could you please let me know your magento base url?

[2019-09-04 06:01] rani-webkul commented on #24430
@ajijshekh123 I have checked this issue again by installing magento2.3-develop. It's reproducible make sure your magento base url contains some directory.

[2019-09-04 06:26] engcom-Charlie commented on #22789
Hello @tvanriel  ! We can not reproduce this issue follow steps that you provide.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-09-04 06:26] #22789 closed, assigned to nobody

[2019-09-04 06:29] tvanriel commented on #22789
Hello, thanks for the response.

May I please know what step you are referring to? The comment your bot made is pretty generic and doesn't properly inform me on how to update or fix my bug report.

[2019-09-04 06:54] magento-engcom-team commented on #22885
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19840` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-04 06:57] engcom-Charlie commented on #22789
@tvanriel please provide more details and more steps(for example i don't have  `var/session/` and i wont to know how to reject PHPSESSID cookie).

[2019-09-04 07:10] sumeetmobiwebtech opened #24432 "Email content is empty only subject is showing on email ?"
### Preconditions (*)

1.Using Magento 2.3.1

### Steps to reproduce (*)

1.While sending email when customer register,order email,when admin send order via email

### Expected result (*)

1. Mail will be subject with content

### Actual result (*)

1. Mail is coming only with subject but content is empty.

[2019-09-04 07:11] vishnunathkrs opened #24433 "Not able to ship the order for unavailable product items"
### Preconditions (*)

1. Magento2.3.1
2. PHP 7.1.30

### Steps to reproduce (*)

1. Place order using any product in frontend or backend
2. Set the quantity to 0 for particular product in Magento backend
3. Create invoice for that order and invoice will be created
4. Try to create shipment for that order and it throws error "Not all of your products are available in the requested quantity."

###

[2019-09-04 07:13] engcom-Bravo commented on #24432
Hello @sumeetmobiwebtech. It may be caused by, for example, custom theme or any other custom code. Would You please try to reproduce Your issue on a fresh vanilla installation of 2.3-develop version. Thank You.

[2019-09-04 07:17] yogeshkhasturi commented on #21780
@msawyers Have you found any solution for this ?

[2019-09-04 07:38] engcom-Charlie commented on #17787
I can't reproduce this issue on fresh Magento 2.3-develop.

**Manual testing scenario:**

1. Search for a generic keyword that matches many products (e.g. Red).
![image](https://user-images.githubusercontent.com/51680850/64234815-bf1f6980-ceff-11e9-8c6b-aa7b240fc23e.png)

2. Note product sort order.
3. Indexer reindex && cache flush
4. Refresh page.

**Actual result:**
Products are displayed in sa

[2019-09-04 07:38] #17787 closed, assigned to engcom-Charlie

[2019-09-04 07:40] engcom-Charlie commented on #24247
Hello @zb  ! We can not reproduce this issue follow steps that you provide.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-09-04 07:40] #24247 closed, assigned to nobody

[2019-09-04 07:45] divyeshmehta820 opened #24435 "Magento 2.3.2 review module not working"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-09-04 07:56] sudheers-kensium commented on #24422
@magento give me 2.3-develop instance

[2019-09-04 07:56] magento-engcom-team commented on #24422
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-04 07:56] eduard13 opened #24436 "Autogenerating encryption key requires manually entering the key"
### Preconditions (*)

1. Magento 2.3-dev
2.

### Steps to reproduce (*)
1. Navigate to `System / Manage Encryption Key`
2. Select `Yes` for `Auto-generate a Key`

### Expected result (*)

1. The `New Key` field should be hidden
2. You should be able to save the encryption key

### Actual result (*)

1. The `New Key` isn't hidden
2. And you aren't able to save it
![image](https://user-images.githu

[2019-09-04 07:57] magento-engcom-team commented on #24422
Hi @sudheers-kensium, here is your [Magento instance](https://i-24422-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24422-2-3-develop.instances.magento-community.engineering/admin](https://i-24422-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-04 07:58] Leandry commented on #24436
@magento give me 2.3-develop instance

[2019-09-04 07:58] magento-engcom-team commented on #24436
Hi @Leandry. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-04 07:58] magento-engcom-team commented on #24436
Hi @Leandry, here is your [Magento instance](https://i-24436-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24436-2-3-develop.instances.magento-community.engineering/admin](https://i-24436-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-04 08:04] Leandry commented on #24436
@eduard13 Thank you for reporting. I can confirm that issue reproduced on the vanilla environment.
![2019-09-04_11-00-14](https://user-images.githubusercontent.com/9416636/64236727-ad3fc580-cf03-11e9-9527-ecad05dc07c6.png)

[2019-09-04 08:05] magento-engcom-team commented on #24436
:white_check_mark: Confirmed by @Leandry
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19842` were created

**Issue Available**: @Leandry, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-04 08:11] gewaechshaus commented on #22043
Hi,
the same issue is present in 2.2.9. You can temporary fix it be setting the payment method config.xml active flag to 1.

F.E. for banktransfer

[code]

[2019-09-04 08:16] sumeetmobiwebtech commented on #24432
yes i override this
` <preference for="Magento\Framework\Mail\Message" type="CompanyName\ModuleName\Mail\Message"/>`
because of custom PDF attachment when i remove this,now mail is working properly

[2019-09-04 08:16] #24432 closed, assigned to nobody

[2019-09-04 08:19] rani-webkul commented on #24430
@ajijshekh123 any update?

[2019-09-04 08:24] engcom-Charlie commented on #23947
Hello @matt-gribben  ! We can not reproduce this issue follow steps that you provide.
Try to do `rm -rf generated/* var/*` before place order action.
And please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-09-04 08:24] #23947 closed, assigned to engcom-Charlie

[2019-09-04 08:27] JoostWan opened #24438 "Duplicate product issues with different values for stores"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Clean install Magento 2.3.2
2. Add a new storeview to the default website (For example a Germand store view "DE")
3. Create a product
4. Change the name of the product and the url_key in store view DE
5. Save the product
6. Open the product again in default storeview view, to see all default values.
7. Save and duplicate the p

[2019-09-04 08:32] krishprakash commented on #24435
Hi @divyeshmehta820.
Please follow issue reporting guideline to report an issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Thanks.

[2019-09-04 08:36] DenisFaltsman opened #24439 "Magento 2.2.6: minicart still show value(count of products) after clear cart"
After clear(removing all products) shopping cart shows nothing, but still show count of products value on minicart.

tried to create sections.xml and flush cart after click 'distribution/cart/clear' route:

[code]

and have no success. anyone knows? or maybe this issue already solved?

[2019-09-04 08:37] ihor-sviziev commented on #24353
@engcom-Alfa,
Could you verify this issue?

[2019-09-04 08:49] ajijshekh123 commented on #24430
@rani-webkul - I have to review your issue in my local directory but in your selected section 'select image form gallery' options are not displaying.
See my URL:
http://10.16.16.160/m/m23/admin

Can you please suggest me why this option are not displaying?

[2019-09-04 08:52] krishprakash commented on #24439
@magento give me 2.3-develop instance

[2019-09-04 08:52] magento-engcom-team commented on #24439
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-04 08:53] magento-engcom-team commented on #24439
Hi @krishprakash, here is your [Magento instance](https://i-24439-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24439-2-3-develop.instances.magento-community.engineering/admin](https://i-24439-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-04 08:57] rani-webkul commented on #24430
@ajijshekh123 somehow http://10.16.16.160/m/m23/admin is not accessible.

[2019-09-04 08:59] ajijshekh123 commented on #24430
This is our local server URL, So it maybe you can not access this URL.
@rani-webkul  Can you please send your URL which is you have reproduced the issue?

[2019-09-04 09:00] krishprakash commented on #24439
Hi @DenisFaltsman.
Issue is already fixed in latest magento version.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Thank you.

[2019-09-04 09:00] #24439 closed, assigned to krishprakash

[2019-09-04 09:02] peterjaap commented on #13531
I'd suggest just checking for an array first;

[code]

[2019-09-04 09:12] skapin commented on #21885
Wow same trouble for us... This is awsome magento let this kind of BUG in a 2.3.2 version released worldwild...

[2019-09-04 09:15] rani-webkul commented on #24430
@ajijshekh123 I think you are checking this issue on old version. "select from gallery" option are introduced in magento 2.3.
Please verify. I'm also checking this issue on my local server which is not accessible to anyone.

[2019-09-04 09:18] JiyaadDolly commented on #21495
HI, where is the htmlRemoveTags option?

[2019-09-04 09:30] ajijshekh123 commented on #24430
Sorry @rani-webkul, I don't have Latest Magento instance in my local directory.

[2019-09-04 09:31] skapin commented on #21885
@kevinvuillemin can you share the working solution ? I'm strugeling with all the PR closed and open speaking around it. Thank you in advance

[2019-09-04 09:44] allanpaiste commented on #22769
Could this really be considered as a fix to the reported issue as it just removed the appearance of the issue where it's still possible to create the same issue whilst using totally valid PHP feature? :/

This way, it's pretty easy to get back to a point where one has to revisit the same issue again in the future unless you ban the usage of 'self' within the code by throwing a meaningful exception

[2019-09-04 09:48] dcabrejas commented on #22769
@allanpaiste Yes, as I said on my PR, this is more of a patch, it fixes the problem. The real issue is still there but the solution is more complicated. That I leave to Magento Team o another contributor who has the time.

[2019-09-04 09:53] krishprakash commented on #24435
Hi @divyeshmehta820.
Feel free to reopen the issue with all details and also you can confirm that its reproducible on Vanilla Magento instance.
Thank you.

[2019-09-04 09:53] #24435 closed, assigned to krishprakash

[2019-09-04 10:22] ihor-sviziev commented on #10087
Hi @engcom-Alfa, @engcom-Bravo or @engcom-Charlie,

Could you double check if this issue still reproducing?
It should be fixed by https://github.com/magento/magento2/pull/21818

Thank you!

[2019-09-04 10:33] bhavik43 opened #24440 "Scope icon and store view specific label text alignment issue"
Scope icon and store view specific label text alignment issue

### Preconditions (*)
Magento 2.3.2

### Steps to reproduce (*)
1. Admin -> Store -> Settings ->  Order status -> Create new status

### Expected result (*)
Store View Specific Labels and scope (?) should aligned properly

### Actual result (*)
![actual](https://user-images.githubusercontent.com/49804008/64247798-3cad9e80-cf2d-11e9-9f3

[2019-09-04 10:34] krishprakash commented on #24440
@magento give me 2.3-develop instance

[2019-09-04 10:34] magento-engcom-team commented on #24440
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-04 10:34] gwharton opened #24441 "Minicart height calculated incorrectly when child items contain margins"
### Preconditions (*)
1. magento 2.3-develop

### Steps to reproduce (*)
1. Deploy 2.3-develop
2. Create Test product and add to cart
3. View minicart
4. Open browser development tools
5. Locate the line
`<li class="item product product-item" data-role="product-item">`
6. In the style explorer locate the css item
`.minicart-items .product-item`
7. Add the style
`padding-bottom: 100px !important;`

[2019-09-04 10:34] magento-engcom-team commented on #24440
Hi @krishprakash, here is your [Magento instance](https://i-24440-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24440-2-3-develop.instances.magento-community.engineering/admin](https://i-24440-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-04 10:35] gwharton commented on #24441
@magento give me 2.3-develop instance

[2019-09-04 10:35] magento-engcom-team commented on #24441
Hi @gwharton. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-04 10:36] magento-engcom-team commented on #24441
Hi @gwharton, here is your [Magento instance](https://i-24441-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24441-2-3-develop.instances.magento-community.engineering/admin](https://i-24441-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-04 10:37] lpouwelse opened #24442 "Since Magento 2.3 the wysiwyg images are not loaded anymore from media storage database."
### Preconditions (*)

1. Magento version 2.3.x

### Steps to reproduce (*)

1. Fresh install of magento with sample data
2. Synchronize media files to datase, according the manual (https://docs.magento.com/m2/ce/user_guide/system/media-storage-database.html)
3. Add following record to core_config_data table
    - scope: default
    - scope_id: 0
    - path: web/seo/use_rewrites
    - value: 1
4.

[2019-09-04 10:39] gwharton commented on #24441
Confirmed produced on test instance.

[2019-09-04 10:42] allanpaiste opened #24443 "PHP 7.0 feature of using 'self' as return type results in fatal error"
This report addresses an issue that has been talked about before, but has not yet received a solution that would be viable in the long run as the focus has been mostly on making sure that Magento2 code does not use certain PHP7 features rather than making Framework fully capable of supporting all that PHP7 has to offer.

Therefore the description has been written in a form where existing code is m

[2019-09-04 10:43] magento-engcom-team commented on #24440
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19845` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-04 10:43] krishprakash commented on #24440
Hi @bhavik43
There is no any mismatch issue occur on latest venilla magento instance.
But issue in Store View Specific Labels and (?) not in same line.
![image](https://user-images.githubusercontent.com/46617848/64248452-c0b45600-cf2e-11e9-9089-37169b03bfb3.png)

[2019-09-04 10:45] allanpaiste commented on #22769
@dcabrejas I totally dig the approach of getting the local appearance of the issue quickly dealt with! I was just surprised that the ticket was closed and issue declared as solved.

Created new report that is written in a way that does not allow a "solved" declaration due to not being based on anything that appears in the code but rather on the idea that one can create such a situation by using va

[2019-09-04 10:48] magento-engcom-team commented on #24419
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19846` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-04 10:51] dcabrejas commented on #22769
It was suggested to me by a member of the Magento community engineering team at Meet Magento UK 2019 that's why it got merged. I would argue that merging a patch now solves this issue for a lot of people, which it does. Fixing the issue properly and applying a patch are not contradictory things. They can coexist since both add value. But I have got no horse on this race so I digress. I hope you gu

[2019-09-04 10:55] allanpaiste commented on #22769
@dcabrejas I'm 100% on board with that and maybe the new ticket gets tagged as "wontfix", just wanted to make sure that it's still considered as something that is contained as a problem in the distibuted code (as: php feature not used), but that it remains as something that is still perceived as work in progress and as know/open issue :)

[2019-09-04 11:00] kevinvuillemin commented on #21885
@skapin, of course ! how do you want me to share the file?

[2019-09-04 11:10] magento-engcom-team commented on #24441
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19847` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-04 11:30] msawyers commented on #21780
@yogeshkhasturi I am not seeing an error with Magento. Instead your exchange rate is set at 0. And your rates are returning from DHL as 0. Check your exchange rates, also check with DHL for the availability of shipping options on your account

[2019-09-04 11:45] skapin commented on #21885
@kevinvuillemin you can send me a mail to skapinthefourb gmailcom address for example, or create a repository

As you want. Thank you so much :)

[2019-09-04 11:50] yogeshkhasturi commented on #21780
@msawyers Issue is resolved. as it was an issue due to test account details. and when you updated to live account details. and now it's working fine.

Thanks for your help.

[2019-09-04 12:13] msawyers commented on #21780
@yogeshkhasturi great

[2019-09-04 12:29] Cristishor201 opened #24444 "category "uscator de par" is missing, and can not add it"
I can not find settings or they did not exist for adding a new sub-category at the list.

[2019-09-04 12:44] engcom-Bravo commented on #24444
Hello @Cristishor201, thanks for applying. I'm not quite sure I understand You right, but probably this gif will help You to find the answer:
![categories](https://user-images.githubusercontent.com/51680745/64255824-d4f65400-cf2a-11e9-846c-f5295b5e02d2.gif)

[2019-09-04 12:59] lpouwelse opened #24445 "var/resource_config.json is regenerated each time an image is requested by get.php (media/wysiswig/image.jpg)"
### Preconditions (*)
1. Magento version 2.3.1

### Steps to reproduce (*)
1. Fresh install of magento with sample data
2. Synchronize media files to datase, according the manual (https://docs.magento.com/m2/ce/user_guide/system/media-storage-database.html)
3. Add following record to core_config_data table
    - scope: default
    - scope_id: 0
    - path: web/seo/use_rewrites
    - value: 1
4. Re

[2019-09-04 13:02] #24374 closed, assigned to engcom-Charlie

[2019-09-04 13:04] lpouwelse opened #24446 "First time wysiwyg image is loaded by media storage, placeholder image is shown"
### Preconditions (*)
1. Magento version 2.3.1

### Steps to reproduce (*)
1. Fresh install of magento with sample data
2. Synchronize media files to datase, according the manual (https://docs.magento.com/m2/ce/user_guide/system/media-storage-database.html)
3. Add following record to core_config_data table
    - scope: default
    - scope_id: 0
    - path: web/seo/use_rewrites
    - value: 1
4. Re

[2019-09-04 13:06] engcom-Bravo commented on #24356
@Flyoyo, please tell me does my example below works correctly:
![images](https://user-images.githubusercontent.com/51680745/64257393-f442b080-cf2d-11e9-8c79-8eb44e097c9c.gif)
Thank You.

[2019-09-04 13:25] engcom-Bravo commented on #24408
@gibbotronic, my product was created simply in admin. Maybe it will make sense that You try to reproduce Your issue with the product, also created like that?

[2019-09-04 14:01] charliecc07 opened #24448 "Error 500 on checkout while payment is "successful""
Trying to place an order on a multi-store site and this problem only affects one store based in the US. Go through checkout as normal, and just as you hit place an order button to confirm payment -> get an error 500. According to Adyen, the payment was taken but the callback returns without a token leading to the error 500.

I've got this error:

"1567179274000","08/30/2019 10:34:34.000 -0500","[3

[2019-09-04 14:18] engcom-Bravo commented on #24428
Hello @fanglexue. Thanks for applying. Currently we've been not able to reproduce Your issue. Could You please confirm You are able to reproduce it on a fresh vanilla Magento installation of 2.3-develop version. Thank You.
P.S. We are taking into consideration that You messed up the contents of Your Expected and Actual results. If it's not so please let us know.

[2019-09-04 14:36] lpouwelse commented on #24442
@engcom-Charlie issues #24442 / #24445 / #24446 are related to each other. Patch already avaible after confirming the issues (combined pull request.)

[2019-09-04 14:38] mcspronko commented on #1146
Hey, @antonkril is this issue will ever be fixed?
The issue has been opened May 29, 2019, never been fixed and now a Bot requests additional details.

[2019-09-04 14:41] dugunl opened #24450 "Gallery is not updated when pre-selecting a configurable product that uses dropdown-input"
### Preconditions (*)
Magento 2.3.1

### Steps to reproduce (*)

1. Create a new attribute
- Set "Catalog Input Type for Store Owner" to Dropdown
- Set "Scope" to Global.
- Add at least one option to the attribute.

2. Create a new configurable product and add new configurations to the product, based on the attribute you've just created.

3. Upload photo A to the actual configurable product.

4. U

[2019-09-04 14:42] dugnl commented on #24450
@magento give me 2.3-develop instance

[2019-09-04 14:42] magento-engcom-team commented on #24450
Hi @dugnl. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-04 14:43] magento-engcom-team commented on #24450
Hi @dugnl, here is your [Magento instance](https://i-24450-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24450-2-3-develop.instances.magento-community.engineering/admin](https://i-24450-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-04 14:43] progreg commented on #1146
@mcspronko , an issue still reproducible and I have an idea how it can be fixed.

[2019-09-04 14:44] dugnl commented on #24450
Yes, I can confirm. I've tried it on my own clean installation, but also on your instance in a previous ticket.

[2019-09-04 14:45] craigcarnell commented on #9948
Having this issue on 2.3.2 as well.

[2019-09-04 14:56] engcom-Bravo commented on #24433
Hello @vishnunath-krs , thanks for applying. Do we miss something while trying to reproduce the issue:
![shipment](https://user-images.githubusercontent.com/51680745/64266269-feb87680-cf3c-11e9-960a-aa0081ccc058.gif)

[2019-09-04 16:17] euriskotech commented on #22587
Is there any news on this issue being patched, I did a full M1 to M2 migration then hit the issue so stayed on M1 for the moment but under pressure to move the M2

[2019-09-04 16:57] magento-engcom-team commented on #24450
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19864` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-04 18:17] sidolov commented on #10088
Hi @devamitbera , please, take a look at PR that introduced ability to handle parameters in the constructor for WebAPI interfaces: https://github.com/magento/magento2/pull/14801
Probably, we may resolve the current issue with the mentioned approach instead of new interfaces declaration.

[2019-09-04 18:36] hutbert opened #24452 "Category Admin UI does not save tree changes unless OK button is clicked"
### Preconditions

Magento 2.3.1

In Magento 2.3.1 when you change the structure of the category tree a warning dialog appears to confirm your changes and warn that the operation may take a long time. If you click the OK button with a mouse click the change is saved properly. If you use the enter button on the keyboard, the change is reflected in the UI but is not saved to the database so when you

[2019-09-04 18:42] devamitbera commented on #10088
@sidolov  Thanks for your help. I  checking your suggestion.

[2019-09-04 19:23] pod6wasjerks commented on #22134
I have found that you additionally need to set **Enable In-Context Checkout Experience** to 'No' in order to remove those buttons from the product details page.

version 2.3.2

![Capture](https://user-images.githubusercontent.com/18634161/64284538-d2dec600-cf27-11e9-9e10-cadfae1f16f4.JPG)

[2019-09-04 19:45] igor-imaginemage opened #24454 "ProductAlert is redirecting to 404 when customer is not logged."
Hi, this is an issue that I reproduced today in 2 of our customers that are running Magento 2.3.2 and also in a vanilla Magento installation.

Magento has a core module **Magento_ProductAlert** that allow us to enable links to customers subscribe when a product is back in stock and also when price goes down (https://docs.magento.com/m2/ce/user_guide/catalog/inventory-product-alerts.html).

This mo

[2019-09-04 20:08] navarr commented on #23676
Issue here is that when vertex is set to disabled, all of the Vertex sections disappear (b/c they depend on "enabled").  When that happens, only the fieldsets below them are set to display: none; - which means the div.config-section still is displayed, and it is what contains the border.

[2019-09-04 20:30] magento-engcom-team commented on #24419
Hi @logicallimit. Thank you for your report.
The issue has been fixed in magento/magento2#24425 by @edenduong in 2.3-develop branch
Related commit(s):
 - [ba3a134e1abcfc4365f22756735c3cf52b7269cb](https://github.com/magento/magento2/commit/ba3a134e1abcfc4365f22756735c3cf52b7269cb)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-04 20:30] #24419 closed, assigned to edenduong

[2019-09-04 20:30] magento-engcom-team commented on #24402
Hi @Jackcar. Thank you for your report.
The issue has been fixed in magento/magento2#24403 by @edenduong in 2.3-develop branch
Related commit(s):
 - [0f38f03418d4228e4e3c4898f9e95508ecef25ca](https://github.com/magento/magento2/commit/0f38f03418d4228e4e3c4898f9e95508ecef25ca)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-04 20:30] #24402 closed, assigned to edenduong

[2019-09-04 20:30] magento-engcom-team commented on #22928
Hi @duyetbv. Thank you for your report.
The issue has been fixed in magento/magento2#23021 by @tnsezer in 2.3-develop branch
Related commit(s):
 - [869bd7e0b863896add20dca29f729acdebd415ba](https://github.com/magento/magento2/commit/869bd7e0b863896add20dca29f729acdebd415ba)
 - [daa96f487090fce5bc077564edb33d97fc35fd63](https://github.com/magento/magento2/commit/daa96f487090fce5bc077564edb33d97fc35

[2019-09-04 20:30] #22928 closed, assigned to nobody

[2019-09-04 20:30] magento-engcom-team commented on #22490
Hi @latenights. Thank you for your report.
The issue has been fixed in magento/magento2#22123 by @latenights in 2.3-develop branch
Related commit(s):
 - [da3282935c5e97ff54aca034e9a5ab08dc210081](https://github.com/magento/magento2/commit/da3282935c5e97ff54aca034e9a5ab08dc210081)
 - [31427763b4a1e877adf18c098580dd3a9eb70791](https://github.com/magento/magento2/commit/31427763b4a1e877adf18c098580dd

[2019-09-04 20:30] #22490 closed, assigned to latenights

[2019-09-04 20:31] #7200 closed, assigned to Bartlomiejsz

[2019-09-04 20:57] ihor-sviziev commented on #1146
Hi @mcspronko @progreg,
This issue actually fixes by adding one line in end.php file.
https://github.com/magento/magento2/issues/1146#issuecomment-482085895
Also I created issue for documenting it in https://github.com/magento/devdocs/issues/4093, but it still wasn’t done.
I think it’s better to document this option and close this issue, or you prefer better solution?

[2019-09-04 20:57] MagentoSeba commented on #22491
@sigismund the issue is actually also in Magento Commerce 2.3.0, the @magento-engcom-team  should be aware of that.

[2019-09-04 22:15] kevinvuillemin commented on #21885
@skapin that's good for you ?

https://gist.github.com/kevinvuillemin/802cc5e4b476e73c1c5838b143bd6a51

[2019-09-05 02:17] posttechguy commented on #24332
Thanks @hostep, that was my issue.

I have added a PR for the issue

Cheers

[2019-09-05 04:52] #24428 closed, assigned to nobody

[2019-09-05 05:37] ajijshekh123 commented on #24387
Give me @magento give me 2.3-develop instance

[2019-09-05 05:37] magento-engcom-team commented on #24387
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-05 05:37] magento-engcom-team commented on #24387
Hi @ajijshekh123, here is your [Magento instance](https://i-24387-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24387-2-3-develop.instances.magento-community.engineering/admin](https://i-24387-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-05 05:43] magento-engcom-team commented on #24387
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19875` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-05 05:45] ajijshekh123 commented on #24385
Give me @magento give me 2.3-develop instance

[2019-09-05 05:45] magento-engcom-team commented on #24385
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-05 05:45] magento-engcom-team commented on #24385
Hi @ajijshekh123, here is your [Magento instance](https://i-24385-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24385-2-3-develop.instances.magento-community.engineering/admin](https://i-24385-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-05 06:07] AkhilaKandisetty opened #24456 "Import History Grid Rendering Empty HTML tag, when there is no import file name."
### Preconditions (*)

1.Go to Admin , navigate to System > Import History
2.When you inspect <td> in Imported File column, you can find empty paragraph tag,when there is no imported   file name which is not as per standards.

### Steps to reproduce (*)

1.In admin navigate to System > Import History.
2.The default column has an empty paragraph tag.

### Expected result (*)

1.When there is no fil

[2019-09-05 06:18] ajijshekh123 commented on #24385
@dankhrapiyush - I have verified this issue with your steps and payment mode. Order status is displaying 'Complete' after generating the invoice.
See attached the screenshot:
![Magento 2 3](https://user-images.githubusercontent.com/24711761/64316636-062a5f00-cfd3-11e9-92d2-d84cdde70a77.png)

Now I am closing this issue. If you have reproduced this issue again you can open it.

Thanks.

[2019-09-05 06:25] frostblogNet commented on #17186
This issue is gone with magento 2.3.2. The issue can be closed. @magento-engcom-team

[2019-09-05 06:39] engcom-Charlie commented on #24443
Hello @allanpaiste !
I can't reproduce this issue with PHP 7.1.

**Manual testing scenario:**

1. Used Magento 2.3.2
2. All generated files are removed (rm -rf generated)
3. Application deploy mode is on 'developer' (bin/magento deploy:mode:set developer)
4. [terminal] modify Magento\Framework\HTTP\PhpEnvironment\Response :: setHeader method by adding a 'self' return type to it:
`sed -i 's/\(ion s

[2019-09-05 06:39] #24443 closed, assigned to engcom-Charlie

[2019-09-05 06:46] engcom-Bravo commented on #24456
Hello @AkhilaKandisetty. Would You please guide Us how exactly You managed to obtain a row in Import History table without the imported  file name in it. Thank You.

[2019-09-05 06:48] skapin commented on #21885
@kevinvuillemin It works on the first try. Copy/paste instead of Product.php and _voila_ !
Magento version : 2.3.2

[2019-09-05 06:51] kevinvuillemin commented on #21885
Et voila !
Au plaisir ;-)

[2019-09-05 06:51] magento-engcom-team commented on #24452
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19876` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-05 06:55] AkhilaKandisetty commented on #24456
This row was there by default in admin Import History even before adding any import file.Thank you.

[2019-09-05 07:11] Bartlomiejsz commented on #1146
@ihor-sviziev sorry to interfere but don't you think it would be good idea to at least add new configuration to installation process that would automatically set this line for new instances?

[2019-09-05 07:13] engcom-Bravo commented on #24454
Hello @igor-imaginemage. Thanks for reporting, but this issue has already been fixed. You may try to reproduce it on 2.3-develop version - it is reproduced no more. So we are supposed to close this issue, but please feel free to reopen it if You find the way to reproduce it on the latest develop version.

[2019-09-05 07:13] #24454 closed, assigned to nobody

[2019-09-05 07:29] engcom-Bravo commented on #24456
@AkhilaKandisetty, we didn't notice such a behavior. Would You please try to reproduce Your issue on a clear instance as You are advised above:
![Advised](https://user-images.githubusercontent.com/51680745/64320760-e2ade700-cfc7-11e9-916e-be5af970fe3e.png)
Thank You.

[2019-09-05 07:59] progreg commented on #1146
@ihor-sviziev, Yeap you are right, it will fix the problem. Missed up your comment, thanks for the notice, seems this issue no longer need and it can be closed.

[2019-09-05 08:27] LouNik1984 opened #24458 "magento 2.3.1 command module:disable removes tables as well"
Preconditions (*)
1. magento 2.3.1 on apache with php 7.2

### Steps to reproduce (*)
1. create custom module in app/code (not via composer)
2. create table for custom module using xml declarative schema
3. insert data into table
4. disable module (module:disable Vendor_Module + setup:upgrade)

### Expected result (*)
Module is disabled but table is still in the database with all the data previous

[2019-09-05 08:31] LouNik1984 commented on #24458
I cannot ask for a vanilla instance since this is about creating a new module and interacting with the database

[2019-09-05 08:41] magento-engcom-team commented on #24442
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19877` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-05 08:43] magento-engcom-team commented on #24445
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19878` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-05 09:05] #1146 closed

[2019-09-05 09:06] santhoshnsscoe commented on #23908
Steps to reproduce:
1. Add products to cart
2. Go to checkout
3. Add email id and login from the checkout page
4. After login, click the next to go to the payment page.
5. Error will popup with "The shipping information was unable to be saved. Verify the input data and try again."

When we check the quote table.
[code]

[2019-09-05 09:08] progreg commented on #1146
@Bartlomiejsz We can open a new issue for this needs as this one have many unneeded details and also touches on Robots module issue that is no longer relevant.

[2019-09-05 09:14] santhoshnsscoe commented on #23618
Steps to reproduce:
1. Add products to cart
2. Go to checkout
3. Add email id and login from the checkout page
4. After login, click the next to go to the payment page.
5. Error will popup with "The shipping information was unable to be saved. Verify the input data and try again."

When we check the quote table.
[code]

[2019-09-05 09:15] magento-engcom-team commented on #24446
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19879` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-05 09:16] AkhilaKandisetty commented on #24456
@magento-engcom-team  give me 2.3-develop instance

[2019-09-05 09:24] engcom-Bravo commented on #24456
@AkhilaKandisetty, sorry the comment has changed. This should prepare an instance for You. @magento give me 2.3-develop instance

[2019-09-05 09:24] magento-engcom-team commented on #24456
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-05 09:24] magento-engcom-team commented on #24456
Hi @engcom-Bravo, here is your [Magento instance](https://i-24456-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24456-2-3-develop.instances.magento-community.engineering/admin](https://i-24456-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-05 09:43] Mizogorou commented on #18093
I have the same issue too on Magento 2.3.2 and PHP 7.2, but I solved by choose the proper store view i.e. when the order was created from 'EN' store view. Therefore when you submit an orders and returns form, you have to choose 'EN' store view before.

I don't know this scenario is a bug or feature. Can anyone confirm for this case?

Thank you.

[2019-09-05 09:45] AkhilaKandisetty commented on #24456
@engcom-Bravo Sorry I couldn't reproduce the issue in the vanilla instance.
Thanks for the support. Closing this issue.

[2019-09-05 09:45] #24456 closed, assigned to AkhilaKandisetty

[2019-09-05 09:47] engcom-Bravo commented on #24456
@AkhilaKandisetty, You are welcome.

[2019-09-05 09:50] swnsma commented on #19737
Does it still an issue?
It seems that was fixed in 2.3-develop already

[2019-09-05 09:50] swnsma commented on #19737
@magento-engcom-team give me 2.3.0 instance

[2019-09-05 09:50] magento-engcom-team commented on #19737
Hi @swnsma. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-09-05 09:50] swnsma commented on #19737
@magento-engcom-team give me 2.3-develop

[2019-09-05 09:51] magento-engcom-team commented on #19737
Hi @swnsma, here is your [Magento instance](https://i-19737-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19737-2-3-0.instances.magento-community.engineering/admin](https://i-19737-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-05 09:51] swnsma commented on #19737
@magento-engcom-team give me 2.3-develop instance

[2019-09-05 09:51] magento-engcom-team commented on #19737
Hi @swnsma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-05 09:52] magento-engcom-team commented on #19737
Hi @swnsma, here is your [Magento instance](https://i-19737-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19737-2-3-develop.instances.magento-community.engineering/admin](https://i-19737-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-05 09:56] paradoxos commented on #22587
Same issue right here. We migrated to M2 and postponing the live version for our client until we found a fix for this.

[2019-09-05 10:30] frostblogNet opened #24462 "Bulk API Image Type will be replace by secound entry"
As a merchant, I want to have seperate images with type thumbnail, small and image.
This can be set using the admin backend, but it is not working from the rest api.

### Preconditions (*)

1. Magento Commerce/OpenSource 2.3.2
2.

### Steps to reproduce (*)

1. Create an Simple Product
2. Upload 2 image using the rest bulk api like this

[code]
### Expected result (*)

1. In the backend there shou

[2019-09-05 10:40] mani513 opened #24463 "Magento 2.3.2-2.4.7 default set of unit tests failing"
**Preconditions (*)**
In Magento 2.3.2 opensource version & 2.3-develop too, run unit tests with the fresh installation.

**Steps to reproduce**
In Magento 2.3.2 opensource version, run unit tests with the fresh installation.
vendor/bin/phpunit --verbose -c dev/tests/unit/phpunit.xml.dist

**Expected result (*)**
All tests should pass

**Actual result**
after running this command i'm getting this

[2019-09-05 10:58] WaqarAli123 commented on #9209
@thdoan  i am currently developing extension for guestwishlist for  while i was shocked :P

[2019-09-05 11:42] engcom-Charlie commented on #24458
Hello @LouNik1984 !
I can't reproduce this issue on fresh Magento 2.3-develop.

**Manual testing scenario:**

1. create custom module in app/code (not via composer)
2. create table for custom module using xml declarative schema
3. insert data into table
4. disable module (module:disable Vendor_Module + setup:upgrade)

**Actual result:**
 Table is still in the database with all the data previously

[2019-09-05 11:42] #24458 closed, assigned to engcom-Charlie

[2019-09-05 12:13] igor-imaginemage commented on #24454
Yes, I confirm this was fixed on 2.3-develop.

[2019-09-05 12:15] Wadekone commented on #11946
@magento-engcom-team
1. magento-engcom/magento2ce#1297 takes to 404. Any working link?
2. Any backport for Commerce edition?

[2019-09-05 12:27] mani513 commented on #23259
Hello @engcom-Charlie
I've downloaded your https://github.com/magento/magento2.git clone and i'm also facing the same issue, can you please help me to resolve this issue.

[2019-09-05 12:55] beckindesigns commented on #24391
It is happening again. See image. It happened yesterday to the point all the CPU was being utilized (I use AWS xlarge EC2 instance with plenty of CPU and memory) and customers could not log in. I finally had to delete the rows in the quote table and that fixed the problem yet again.

<img width="1492" alt="Screen Shot 2019-09-05 at 7 52 22 AM" src="https://user-images.githubusercontent.com/3162422

[2019-09-05 13:15] arion-p commented on #23958
This issue has been closed but the problem remains: Magento bulk actions (the ones offered by magento not custom ones) simply don't work. Yet there is no other open issue to track this.
So will this ever be fixed or is it considered expected behaviour?

[2019-09-05 13:40] sudheers-kensium commented on #24452
@magento give me 2.3-develop instance

[2019-09-05 13:40] magento-engcom-team commented on #24452
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-05 13:41] magento-engcom-team commented on #24452
Hi @sudheers-kensium, here is your [Magento instance](https://i-24452-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24452-2-3-develop.instances.magento-community.engineering/admin](https://i-24452-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-05 14:31] beckindesigns commented on #24391
Ok, I found the issue. In the Magento\Quote\Model\QuoteAddressValidator class the following function was the issue (119 - 131):

[code]

In my case the logged in user was still returning true for `$cart->getCustomerIsGuest()` which returned null for customer ID. I fixed this by doing the following:

[code]

[2019-09-05 14:54] danielpfarmer commented on #23003
Reopening as still and issue un 2.2.9 & 2.3.2

[2019-09-05 15:08] edenduong opened #24468 "Export Coupon Code Grid redirect to DashBoard when create New Cart Price Rule"
Coupon Grid in create new "Cart Price Rule" should be disabled. Because it is useless and when exporting, it has the error:

### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Marketing-> Cart Price Rules, Create New Cart Price Rule
3. In " Coupon" choose Specific Coupon
4. Check "Use Auto Generation"
5. Scroll to Manage Coupon Codes
6. Export

### Expec