[2021-02-12 18:35] Eddcapone commented on #32149
There is only one workaround. You can trigger the build if you change from deploy mode `production` to `developer` and then back to `production`. This will trigger the compilation.

There is a major bug somewhere in `setup:static-content:deploy` and I have to change my deploy script to this until it gets fixed:

[code]

[2021-02-12 19:39] carylewis commented on #23729
We are seeing this error in 2.3.5p2 and applying the magento_module-newsletter.diff.txt patch did not resolve the issue.

[2021-02-12 19:42] carylewis commented on #28419
There needs to be a fix for 2.3.5p2.

[2021-02-12 20:32] jglassmaker commented on #26375
This is still an issue in Magento 2.4.2.
For a quick fix remove 'prototype' from the define includes inside google-analytics-universal.js

[2021-02-12 23:09] #28814 closed, assigned to zaximus84

[2021-02-12 23:12] magento-engcom-team commented on #28814
Hi @hannahnida, @zaximus84.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-35371` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-12 23:43] Zyles commented on #26481
Closing a bunch of tickets does not solve them and does not make Magento 2 a better product just FYI. The problems are still there and the platform is in a very buggy sad state.

But we don't care anymore, we are dropping Magento 2 in a month for a better platform and getting off this trainwreck.

[2021-02-13 00:49] f1-outsourcing commented on #32143
This resolved it

`php -d disable_functions=none bin/magento config:set sales_email/general/async_sending 1`

and/or

[code]

[2021-02-13 00:53] unic0rn commented on #31558
Unfortunately, I was getting the same error with the latest Magento release (as well as github clone). Disabling GTIDs in mysql fixed it.

[2021-02-13 00:59] f1-outsourcing opened #32150 "incorrect(?) assumption on cron execution security"
The questions that was asked:
"Is it possible to use wget instead of php in cron for Magento 2?"
the answer from adobe:
"I think the answer to the question is straightforward - no, you cannot use wget instead of php in cron in Magento 2. And we are not likely to add this by default due to security ramifications."

Please explain. Because running the code under the website user is in my opinion mor

[2021-02-13 03:14] mrtuvn commented on #32149
one note production mode must run static content deploy but developer mode not require it
Most important command is run setup:upgrade for get sync.
In developer mode you don't have run all commands. For daily work i just only use setup:upgrade (my Frontend task for update styles). For uncommon task may need to change workflow
In production you have to run all commands

[2021-02-13 03:18] mrtuvn commented on #32058
Magento\Framework\View\DesignInterface seem duplicate in some other issue

[2021-02-13 03:21] mrtuvn commented on #32036
@magento i am working on this

[2021-02-13 04:16] mrtuvn commented on #32028
@magento i am working on this

[2021-02-13 04:38] mrtuvn commented on #32022
@magento i am working on this

[2021-02-13 06:29] adarshkhatri commented on #14211
Had this problem in 2.3.6

[code]
Did the job. Why magento is not keen to apply this fix?

[2021-02-13 08:47] ihor-sviziev commented on #32149
@Eddcapone
Actually before executing `php bin/magento setup:static-content:deploy` command you should delete var/view_preprocessed, pub/static/* (deployed version file, frontend and adminhtml folders). usually `php bin/magento setup:upgrade` Command does it.

[2021-02-13 10:19] #29996 closed, assigned to sarfarazbheda

[2021-02-13 10:22] magento-engcom-team commented on #29996
Hi @stoleksiy, @sarfarazbheda.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37595` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-13 11:55] matthew99 commented on #29070
I updated my post on  https://www.vannoortproductions.nl/magento-2-indexer-stuck-at-processing/ today.
This is what I wrote

Fingers crossed, I think all works now. This issue seems to have resolved itself and/or after a few actions I did:

- Update to Magento v2.3.6 and extensions to latest versions (Mirasvit Elasticsearch Ultimate 1.0.151)
- Updated to Elasticsearch 7
- Reset & cleared the Elast

[2021-02-13 12:30] mrtuvn commented on #32149
:green_check_mark:

[2021-02-13 15:51] mrtuvn commented on #29741
Have you try add CSS via layout in custom module ? See my previous reply

[2021-02-13 16:48] barryvdh commented on #32114
It would basically be adding an optional endpoint condig5 (eg like in https://flysystem.thephpleague.com/v1/docs/adapter/digitalocean-spaces/ ) and an option to determine the url, right?

[2021-02-13 17:20] griffithg commented on #32114
Yes.
I was trying MinIO out by adding:
`      $config['endpoint'] = 'https://someurl';  `
`      $config['use_path_style_endpoint'] = true/false;   `
to createConfigured in AwsS3Factory.php

The second option is needed to allow for the use of url/bucket instead  of bucket.url in environments where DNS can't be or isn't set for all the buckets.

Haven't gotten as far as adding config options yet. M

[2021-02-14 00:38] jtomaszewski opened #32153 "HTML minification breaks PHP code"
After upgrading from Magento 2.4.1 to 2.4.2 we started getting such an error:

Stack trace:
#0 /app/m/vendor/magento/framework/Interception/Interceptor.php(58): Magento\Framework\View\TemplateEngine\Php->render(Object(Magento\Framework\View\Element\Template\Interceptor), '/app/m/var/view...', Array)

It happens only when html minification is enabled.

This happens for [the following file](https://

[2021-02-14 00:44] tonlam commented on #22554
This works for me. But it only updates Admin option label. How to update option label in other store?

[2021-02-14 01:23] mrtuvn commented on #32153
i think this problem related with magesuite. We need refactor with template code for such case

[2021-02-14 01:26] jtomaszewski commented on #32153
Why would that be magesuite's problem? Do you think it alters anyhow the way`.phtml` files are minified?

[2021-02-14 01:44] mrtuvn commented on #32153
I'm not sure but this can reproduce in code base magento without any 3rd-party modules/themes ?

[2021-02-14 02:21] jtomaszewski commented on #32153
Maybe with approach php comments like this in one place will break other code after it. Should avoid use double backslash in comment , especially when have 2 php block sit next to each other

This code is a valid php code - minifying it shouldn't break it.

Not sure if it can be reproduced in vanilla magento, unfortunately I don't have time now to set one up.

[2021-02-14 12:04] shakshigithub opened #32155 "Undefined index: PK_CMS_PAGE in /home/mydomain/public_html/mysite/vendor/magento/framework/EntityManager/EntityMetadata.php on line 96"
Hi all,
We are struggling with an issue in Magento.
My Magento website is successfully running in local server but when I am uploading it on server it shows me this errror or notice kind of.
Undefined index: PK_CMS_PAGE in /home/mydomain/public_html/mysite/vendor/magento/framework/EntityManager/EntityMetadata.php on line 96

My hosting server is A2hosting,
And magento version is 2.3.3
We got to kn

[2021-02-14 14:06] rani-webkul commented on #30740
@magento give me 2.4-develop instance

[2021-02-14 15:54] #25111 closed, assigned to nobody

[2021-02-14 15:54] #30551 closed, assigned to nobody

[2021-02-14 15:54] #30313 closed, assigned to nobody

[2021-02-14 15:54] #30586 closed, assigned to nobody

[2021-02-14 15:56] gwharton commented on #30726
What more do you want. I gave you an integration test.

[2021-02-14 16:00] amenk commented on #25111
Interesting. was this just solved by adding type-hinting in https://github.com/magento/magento2/commit/c4c453565a7d0e35862bfc7ac0decb1ab60f4c8e? That would be great

[2021-02-14 16:41] mrtuvn commented on #32020
@magento i am working on this

[2021-02-14 16:42] mrtuvn commented on #32026
@magento i am working on this

[2021-02-14 16:59] #30929 closed, assigned to nobody

[2021-02-14 17:59] #30732 closed, assigned to nobody

[2021-02-14 18:24] unic0rn commented on #31558
Since someone found the above funny, here's the exact error from system.log:

`[2021-02-13 00:11:43] main.ERROR: Sample Data error: SQLSTATE[HY000]: General error: 1787 Statement violates GTID consistency: CREATE TEMPORARY TABLE and DROP TEMPORARY TABLE can only be executed outside transactional context.  These statements are also not allowed in a function or trigger because functions and triggers

[2021-02-14 19:16] mariuscris commented on #30719
Thank you @atishgoswami for the patch link. I have the same issue and I have tried to fix it with this patch:

`
--- a/vendor/magento/module-sales-rule/Model/Rule/Action/Discount/CartFixed.php
+++ b/vendor/magento/module-sales-rule/Model/Rule/Action/Discount/CartFixed.php
@@ -96,7 +96,7 @@
         if (!isset($cartRules[$rule->getId()])) {
             $cartRules[$rule->getId()] = $rule->getDiscou

[2021-02-14 22:49] gwharton commented on #23889
Not stale

[2021-02-15 01:09] shakshigithub commented on #32155
Magento I am working on this

[2021-02-15 01:31] viniciusbordinhao-blueacorn commented on #25111
@amenk

I am sorry for the confusion I have just picked the last commit related to PR.

The complete PR is here: https://github.com/magento/magento2/pull/30746

Next time a simple question without sarcasm must be enough.

[2021-02-15 04:41] dcwnaveen commented on #22479
do we have solution ?

[2021-02-15 05:59] simonworkhouse commented on #17585
This issue is still relevant.

[2021-02-15 06:00] simonworkhouse commented on #17614
This issue is still relevant.

[2021-02-15 06:00] simonworkhouse commented on #17615
This issue is still relevant.

[2021-02-15 06:10] sashas777 commented on #16728
@orlangur @sidolov
Is there a way to keep it open?

[2021-02-15 06:39] peterlembke commented on #15155
Good luck M2 community. I switched to Laravel last year after 8y with Magento.

[2021-02-15 06:47] Berman59 commented on #15427
Did anyone ever find out why this is happening? Am getting this randomly, not very often on 2.3 as well.

[2021-02-15 07:02] amenk commented on #25111
@viniciusbordinhao-blueacorn Thanks a lot for the clarification. I really did not try to by sarcastic. Sometimes such problems are really fixed by type hinting and the type conversion. Maybe I was a bit to optimistic. :)

[2021-02-15 07:05] #29036 closed, assigned to nobody

[2021-02-15 07:10] magento-engcom-team commented on #30575
Hi @msyhr, @ihor-sviziev, @engcom-Delta.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-38918` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-15 07:11] engcom-Delta commented on #32138
Hi Kaorionline
Issue should be described on english for further investigation
Please feel free to reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are able to reproduce this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2021-02-15 07:11] #32138 closed, assigned to nobody

[2021-02-15 07:17] flauschi commented on #22885
This shouldn't be marked as stale.

[2021-02-15 07:20] dinkeronline commented on #14881
@prashantvictory good that you find it, anyone else having the same problem, separate the attributes in different columns, creating the additional_attributes column was a pain when you have multiple attributes.

[2021-02-15 07:35] sashas777 commented on #13428
@geet07
any luck wit hthe issue?

[2021-02-15 07:48] quisse commented on #16242
So when you guys ignore issues long enough, the stale bot will close 'em and solve all problems? Easy fix.

[2021-02-15 07:50] kassner commented on #20806
Bump

[2021-02-15 08:00] woutersamaey commented on #16242
@quisse You scared the stale bot 😂

[2021-02-15 08:16] quisse commented on #16242
The stale bot scares me too 😅

[2021-02-15 08:20] schmengler commented on #20068
Well, the core team decided against it (see https://github.com/magento/magento2/pull/20087#pullrequestreview-221047459). It is still relevant because carelessly written extensions easily bring down performance in product exports.

It would be easy and helpful to prevent those developer errors.

[2021-02-15 08:22] Detzler commented on #23970
@stale[bot], still relevant

[2021-02-15 08:34] engcom-Delta commented on #32155
Hi @shakshigithub , thank you for your report.
Could you steps to reproduce issue ?
Is this issue reproducible on clean 2.4-develop?

[2021-02-15 08:36] dverkade commented on #23014
Confirmed issue should not automatically be closed and should stay on the backlog. Posting comment here to disable the stale bot.

[2021-02-15 08:48] Eddcapone commented on #32149
I was following this guide from the [documentation about pipeline deployment](https://devdocs.magento.com/guides/v2.4/config-guide/deployment/pipeline/example/shared-configuration.html), and it does not mention that we have to execute setup:upgrade.

[2021-02-15 08:54] simonmaass commented on #13254
this is definately not stale!

[2021-02-15 08:56] Swahjak commented on #22007
:clap: next level issue solving, just close the issue because it hasn't been fixed within a x period.

Since nobody has marked this as fixed I'm going to assume it hasn't been fixed.

[2021-02-15 08:57] Swahjak commented on #17836
Since nobody has commented this has been fixed I'm going to assume it's still open.

[2021-02-15 08:59] engcom-Charlie commented on #23552
Hello, @FreekVandeursen we are closing this issue due to inactivity.

Please feel free to comment, reopen or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for your collaboration.

Thanks for your report!

[2021-02-15 08:59] #23552 closed, assigned to engcom-Charlie

[2021-02-15 09:00] magento-engcom-team commented on #23552
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-15 09:01] Swahjak commented on #13477
:clap:  next level issue solving, just close the issue because it hasn't been fixed within a x period.

Since nobody has marked this as fixed I'm going to assume it hasn't been fixed.

[2021-02-15 09:19] kanevbg commented on #21304
up

[2021-02-15 09:40] WebKenth commented on #31124
This is still an issue

Running 2.3.6 and exception is reported @ vendor/magento/module-quote/Model/Quote.php:1691

This used to only fail silently, but it now throws a Critical exception and since nothing catches it proppely and returns a message it just exits the application. Any Magento shop running in Production mode will simply exit and show a
![image](https://user-images.githubusercontent.co

[2021-02-15 09:45] ihor-sviziev commented on #30575
@sidolov @sivaschenko @gabrieldagama i don’t see any commits related to internal ticket if using search https://github.com/magento/magento2/search?q=MC-38918&type=commits . Could you please provide us some info how we can find the fix ?

[2021-02-15 09:52] #30944 closed, assigned to nobody

[2021-02-15 09:55] navinbhudiya commented on #32108
any update here?

[2021-02-15 10:16] engcom-Bravo commented on #30281
Hello @homanp

Thank you for your report.

We Confirm that the issue is reproducible on the latest 2.4-develop.

According to the Description of `applied_taxes` attribute, the query should return _"An array containing the **names** and amounts of taxes applied to the item"_ https://devdocs.magento.com/guides/v2.4/graphql/queries/cart.html#CartPrices

In the described case, the GrahQL query
[code]

[2021-02-15 10:17] magento-engcom-team commented on #30281
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40891` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-15 10:20] WebKenth commented on #31124
Expected Behaviour:

![image](https://user-images.githubusercontent.com/13419123/107933798-85b9ad00-6f7f-11eb-862a-332fa14202b9.png)

Temporary patch which is probably a very terrible solution, but atleast you can continue your work:

Using Objectmanager as the Quote class is a giant mess. I needed a decent way to checking if it was backend only
[code]

@jasminrathod if you still have this problem

[2021-02-15 10:38] mrtuvn commented on #32149
Before compile code by command setup:di:compile you should run setup upgrade first. Use this for both Dev or production

[2021-02-15 10:43] Eddcapone commented on #32149
I changed my deploy script to this:

[code]

The style changes were still not applied.

[2021-02-15 10:53] Eddcapone commented on #32149
I also tried this

[code]

The style changes were still not applied.

[2021-02-15 11:06] Eddcapone commented on #32149
Pls wait. I have to test again. I forgot something.

[2021-02-15 11:16] Eddcapone commented on #32149
It was my fault, I forgot to commit a file, it works with:

[code]

I will create an issue in the documentation and explain that there is a step missing.

Thank you very much @mrtuvn and @ihor-sviziev

[2021-02-15 11:16] #32149 closed, assigned to nobody

[2021-02-15 11:33] bartoszkubicki commented on #21466
There is still no fix fo this.

[2021-02-15 11:34] bartoszkubicki commented on #22084
Is there any fix for that?

[2021-02-15 11:52] #30918 closed, assigned to nobody

[2021-02-15 11:52] #26824 closed, assigned to nobody

[2021-02-15 11:54] magento-engcom-team commented on #30918
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-15 11:54] magento-engcom-team commented on #26824
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-15 12:01] engcom-Delta commented on #32148
Hi @f1-outsourcing thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**
- Create simple product
- Create custome
- Place order as customer
- Go to Sales->Orders
- Click View link for order
- Click **Send Email**

**Result:**
:heavy_check_mark: Success message "You sent the order email." is shown
![image](https://user-im

[2021-02-15 12:01] #32148 closed, assigned to nobody

[2021-02-15 12:33] adrianalin89 opened #32159 "$.event.props is undefined"
### Preconditions (*)

Magento CE 2.4.1 using PHP 7.3

### Steps to reproduce (*)

I'm using Windows 10 usgin Fireforx  86.0b9 64bit / Chrom 88.0.4324.150 / Opera 74.0.3911.107
It's not really Browser related.
It's not something that I can constantly get I mostly get it hard-refreshing the website.
It gives me this js error:
jquery.mobile.custom.js:50
Uncaught TypeError: Cannot read property 'conc

[2021-02-15 12:38] engcom-Bravo commented on #32010
Hello @iphigenie

Thank you for your report

We are trying to reproduce the issue on the latest 2.4-develop and it is not reproducible.

Can you please correct our steps? Here is what we tried:

1. Go to _Stores - Tax Rules_ click **Add New Tax Rule**
2. Expand **Additional Settings**. Under _Product Tax Class_ click **Add New Tax Class**. Name it "Custom Zero" for example
![custome_zero](https://

[2021-02-15 12:39] adrianalin89 commented on #32159
@magento give me 2.4-develop instance

[2021-02-15 12:52] #23172 closed, assigned to nobody

[2021-02-15 12:52] adrianalin89 commented on #32159
As expected was not able to replicate it. I will start disabling module to find where the error is coming from.

[2021-02-15 12:58] magento-engcom-team commented on #28180
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40895` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-15 13:05] nopenopenope commented on #23512
Unless nothing has changed, this is still an open issue/feauture request.

[2021-02-15 13:05] Usik2203 commented on #32017
@magento I am working on this

[2021-02-15 13:06] Grohotun commented on #20778
No movement from Magento side, ticket MAGETWO-99040 were created

[2021-02-15 13:21] emrahuyanik commented on #3772
First of all, the file you mentioned is di.xml, not config.

Second, it should be under etc/frontend/, not etc folder.

[2021-02-15 13:25] fleischanderl commented on #13149
@ghost we got the same issue on 2.3.5. Any updates?

[2021-02-15 13:30] mrtuvn commented on #32159
Seem not related with magento! I think you have use custom jquery version
This maybe not compatible jquery lib (jquery mobile)
Note that magento current use jquery 1.12 (quite long period)
https://github.com/magento/magento2/blob/2.4-develop/lib/web/jquery/jquery.min.js#L1

[2021-02-15 13:33] Usik2203 commented on #32017
@magento I am working on this

[2021-02-15 13:34] rhoerr commented on #19846
This is a dev experience issue, but still relevant, but so easily fixed by someone making the call.

[2021-02-15 13:39] engcom-Bravo commented on #31984
Hello @erfanimani

Thank you for your report.

We are able to reproduce the issue on the latest 2.4-develop.
Our PHP version is 7.4.15

Visiting the _http://mage2.loc/abc/box.html_ page leads to :x: _500 (Internal Server Error)_ and exception in log file
_[2021-02-15 13:33:51] main.CRITICAL: Notice: Trying to access array offset on value of type bool in /.../app/code/Magento/CatalogUrlRewrite/Mode

[2021-02-15 13:40] adrianalin89 commented on #32159
![image](https://user-images.githubusercontent.com/39235439/107953515-e9ee6800-6fa3-11eb-9be5-d41816998ff4.png)
I have run a grep command in all the app folder for "jquery" and there is no other lib require of jquery.
Also just noticed that this is happening only in the production mod.

[2021-02-15 13:42] magento-engcom-team commented on #31984
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40897` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-15 13:48] Usik2203 commented on #32045
@magento I am working on this

[2021-02-15 13:54] Usik2203 commented on #32045
HI @sivaschenko
I see that all these block already marked as API
Thanks

[2021-02-15 13:55] davemyb commented on #26375
Same issue is occurring with Stripe as the payment provider. The fix proposed above by jglassmaker works to solve it.

[2021-02-15 13:56] Usik2203 commented on #32044
@magento I am working on this

[2021-02-15 13:59] Usik2203 commented on #32044
Hi @sivaschenko
I see that all these blocks already marked as API
Thanks

[2021-02-15 14:01] Usik2203 commented on #32043
@magento I am working on this

[2021-02-15 14:05] Usik2203 commented on #32043
HI @sivaschenko
I see that all these blocks already marked as API
Thanks

[2021-02-15 14:06] navarr commented on #17425
@magento-engcom-team give me 2.4-develop instance

[2021-02-15 14:15] sivaschenko opened #32162 "Update laminas-crypt dependency to PHP 8 Compatible version"
Update laminas/laminas-crypt version to "^3.4.0".

The change should be done in php8-develop branch.
composer.json and composer.lock files should be updated in https://github.com/magento/magento2 and https://github.com/magento/partners-magento2ee repositories.
In case of backwards-incompatible changes the client code should be adjusted

[2021-02-15 14:17] sivaschenko opened #32163 "Update laminas-json to PHP 8 compatible version"
Update laminas/laminas-json version to "^3.2.0".

The change should be done in php8-develop branch.
composer.json and composer.lock files should be updated in https://github.com/magento/magento2 and https://github.com/magento/partners-magento2ee repositories.
In case of backwards-incompatible changes the client code should be adjusted

[2021-02-15 14:19] sivaschenko opened #32164 "Update laminas-mail to PHP 8 compatible version"
Update laminas/laminas-mail version to "^2.13.0".

The change should be done in php8-develop branch.
composer.json and composer.lock files should be updated in https://github.com/magento/magento2 and https://github.com/magento/partners-magento2ee repositories.
In case of backwards-incompatible changes the client code should be adjusted

[2021-02-15 14:19] adrianalin89 commented on #32159
Please close this issue. The client was loading a script from Shopper Approved that was loading jquery 3

[2021-02-15 14:19] #32159 closed, assigned to nobody

[2021-02-15 14:21] navarr commented on #17425
I've updated the issue with slightly different recreation steps for 2.4; as the original issue was fixed

[2021-02-15 14:26] netzkollektiv commented on #30875
Just to clarify for others:

The store needs to be passed in the request header.
https://devdocs.magento.com/guides/v2.3/graphql/send-request.html#headers

[2021-02-15 14:33] Usik2203 commented on #32033
@magento I am working on this

[2021-02-15 14:36] gabrieldagama commented on #30575
Hi @ihor-sviziev, this issue was manually closed on our Jira Project because the GitHub one was already closed for some time. Apparently, our bot has added the message about the fix, but, there is no fix.

If this still an issue, please feel free to reopen it!

Thanks!

[2021-02-15 14:52] speedupmate commented on #15967
haha , you mean let it rot until it fixes itself ?

[2021-02-15 14:55] sivaschenko commented on #32058
Thanks, @mrtuvn ! Can you please share the links to the issues it's mentioned on?

[2021-02-15 14:59] #32045 closed, assigned to nobody

[2021-02-15 14:59] sivaschenko commented on #32045
Thanks @Usik2203 ! I will recheck the blocks list for all tasks

[2021-02-15 15:00] #32044 closed, assigned to nobody

[2021-02-15 15:00] #32043 closed, assigned to nobody

[2021-02-15 15:02] Usik2203 commented on #32013
@magento I am working on this

[2021-02-15 15:06] engcom-Bravo commented on #31840
Hello @vrielsa

Thank you for your report.

We have rechecked the reported issue on the latest 2.4-develop.

We have created over 60 bundle products (using export) containing one single Simple Product
When we visit the Simple Product's page, the "over 60" Bundle Products are displayed under _We found other products you might like!_ section
![bundle_cross](https://user-images.githubusercontent.com/

[2021-02-15 15:12] elbasri opened #32165 "New modules doesnt installed !"
### Summary of the issue
new modules wont installed on magento 2.3-5 p
even the module is installed by Magento CLI, setup:uprade command run without errors (compile, deploy, cache flush..), but the module doesnt apear in the admin or system config !
note1: the app/etc/config.php contain the correct value ("vendor_module" = 1)
note2: not just new modules but there are many plugins work before this

[2021-02-15 15:27] Usik2203 commented on #32015
@magento I am working on this

[2021-02-15 15:28] mrtuvn commented on #32058
https://github.com/magento/magento2/issues/32037 @sivaschenko
 DesignInterface mark also note here

[2021-02-15 15:28] Usik2203 commented on #32029
@magento I am working on this

[2021-02-15 15:38] AndreyChorniy commented on #32019
@magento I am working on this

[2021-02-15 15:42] Usik2203 commented on #32018
@magento I am working on this

[2021-02-15 15:42] vasilii-b commented on #24666
Hey guys,
Until the PR in the core gets merged, feel free to use the approach described [here](https://github.com/vasilii-b/magento2-frontend-improvements).

cc @shkodasv

[2021-02-15 15:42] mindcurv-vishnu commented on #32074
I also want this

[2021-02-15 15:52] Usik2203 commented on #32027
@magento I am working on this

[2021-02-15 16:03] Usik2203 commented on #32031
@magento I am working on this

[2021-02-15 16:05] Usik2203 commented on #32032
@magento I am working on this

[2021-02-15 16:13] AndreyChorniy commented on #32030
@magento I am working on this

[2021-02-15 16:17] AndreyChorniy commented on #32021
@magento I am working on this

[2021-02-15 16:31] hostep commented on #30575
@gabrieldagama, @sdzhepa: this is really bad behavior of the bot, I've seen this happening a few times before in other tickets. Placing automated comments like these put people at ease, they believe that an issue will actually be fixed if a bot leaves this comment even if we can't find a reference to it in the commits (because we've grown accustomed by now that publishing code to github can someti

[2021-02-15 16:48] likearocket opened #32177 "M2.4.2 Customer Name Prefixes Showing as numbers not Mr., Mrs., Ms. etc"
After upgrading Magento from 2.4.1 to 2.4.2, customer orders are coming through with numbers instead of Name Prefixes such as Mr., Mrs. etc. No settings have been changed since the upgrade.

### Preconditions (*)

1. Magento CE 2.4.2
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Enable customer prefix
![image](https://user-images.githubusercontent.com/51681379/108034395-1fe02a80-703e-11eb

[2021-02-15 16:48] AndreyChorniy commented on #32038
@magento I am working on this

[2021-02-15 16:49] Usik2203 commented on #32059
@magento I am working on this

[2021-02-15 16:52] Usik2203 commented on #32058
@magento I am working on this

[2021-02-15 17:49] navarr commented on #28051
This issue is blocked by a definitive answer to the question above.

[2021-02-15 18:57] iphigenie commented on #32010
Hi engcom

You need 2 different tax rules and tax rates, both zero for a particular product tax class (in my case: educational books).

It's a hassle to reproduce on your vanilla instances as after I created new product tax classes, rates and rules, the changes don't deploy immediately, my test orders even in admin continued to use the old rates. I think the deployment of tax changes is several di

[2021-02-15 19:15] iphigenie commented on #31984
thanks for reporting this @erfanimani I've been having this but I assumed a third party module was responsible

[2021-02-15 19:19] nickpiro commented on #28221
So this is closed because it's fixed in 2.4.x? But where was it fixed? We're running 2.3.6, how do we correct it there!?

[2021-02-15 19:21] #31175 closed, assigned to nobody

[2021-02-15 19:29] iphigenie opened #32179 "New .htaccess change pushed with 2.4.2 breaks upgrading if magento installed in a subdirectory?"
I have just done a 2.4.2 upgrade on a test site, one that was set up with Magento2 installed in a subdirectory

I didnt see it documented in release notes (could have missed it) but the deployed .htaccess implements the "move to /pub" security recommendation. The .htaccess as deployed will not work if Magento is installed in a subfolder - it hardcoded the redirect as /pub/

The commit https://gith

[2021-02-15 19:43] sivaschenko commented on #31780
Already updated to compatible version

[2021-02-15 19:43] #31780 closed, assigned to omaxmo

[2021-02-15 19:44] #32164 closed, assigned to nobody

[2021-02-15 19:46] #31347 closed, assigned to konarshankar07

[2021-02-15 19:52] #29181 closed, assigned to nobody

[2021-02-15 19:54] engcom-Alfa commented on #27942
@pixel-paul Information from [Magentp-DevBlog](https://community.magento.com/t5/Magento-DevBlog/Let-s-Keep-the-Magento-2-Backlog-Clean-Part-2/ba-p/462599).
The latest Magento version as of now is 2.4.1 and moving forward we will be focusing on the 2.4 and 2.5 release lines. As a result of such an approach, we will be parking the delivery of bug fixes or features for the 2.3 line and only deliverin

[2021-02-15 20:33] gwharton commented on #30993
not stale

[2021-02-15 21:11] Den4ik commented on #31608
@magento give me 2.4-develop instance

[2021-02-15 21:36] batmike opened #32180 "Admin Catalog Product grid pagination and count don't update when filtering"
### Preconditions (*)
1. Magento version 2.4.2 (specifically tested on Cloud)
2. MariaDB 10.4
3. PHP 7.4

### Steps to reproduce (*)
1. Go to Admin panel, Catalog -> Products page
2. Have more than one page worth of products (i.e. products per page set to 20 and total products of 100)
3. Filter products by some filter - SKU, Name, etc.

### Expected result (*)
Filter products should show and produ

[2021-02-16 03:57] mrtuvn commented on #32179
Actually it's not hard-coded as you think. Seem now magento already move root folder to pub

[2021-02-16 06:52] engcom-Delta commented on #32165
Hi @elbasri thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop. All modules are installed and works.
This issue is related to your custom module.
Please refer to extension owners(support) on the [Magento Market place](https://marketplace.magento.com/extensions.html) page

[2021-02-16 06:52] #32165 closed, assigned to nobody

[2021-02-16 07:17] reshadzazai opened #32181 "Shiping Origin As Afghanistan Does Not Work for DHL Module"
**Summary of the issue:** I have set the shipping origin country as Afghanistan in the Stores->Settings->Configuration->Sales->Shipping Settings->Origin, but the checkout shows "This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.

### Preconditions (*)
1. Fresh Installation of Magento ver. 2.4.1 (2.4-develop)

### Steps to reprodu

[2021-02-16 07:25] Nuranto commented on #31795
If you want a fast way to confirm issue, you can, on a native instance :

- run the `INSERT` query above. OR create your own way any media_attribute with attribute_code = base_image (or anything that is not image/small_image/thumbnail), on any entity type but product's one.
- try to save a product which has images

[2021-02-16 07:59] engcom-Alfa commented on #28274
Hi @LiamKarlMitchell . Thank you for your report!
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop. Looks like the problem has already been fixed.

**Actual Result:** Frontend and admin have the same product name.
Are you able to reproduce it on clean 2.4-develop?
Thanks!

[2021-02-16 08:08] magento-engcom-team commented on #32177
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40899` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-16 08:30] TOIVI291 commented on #30194
Same issue for me with Magento 2.4.1 + Elasticsearch 7

[2021-02-16 08:34] engcom-Delta commented on #32127
Hi @sashas777  thank you for your report.
Could you clarify what issue you are experienced? Real case would be helpful
Is issue reproducible on clean 2.4-develop?

[2021-02-16 08:50] robocrax commented on #30021
I'm still facing this issue but doesn't look like anybody else is facing this. Go ahead stale bot

[2021-02-16 09:11] magento-engcom-team commented on #26333
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-16 09:13] Eddcapone commented on #30725
I am still facing the bug in 2.4.2

[2021-02-16 09:47] elbasri commented on #32165
Hi,
thank you for your reply,
not, it's not related to my module, I tested many modules but with the same issue, I don't know if it exists in 2.4 but already mentioned that I use 2.3-5 p, not 2.4 !
however, I find the solution.. and for those who have the same problem, please check your PHP version used in CLI is the same as the FPM, and make sure that APC is installed and added in both php.ini fi

[2021-02-16 09:50] iphigenie commented on #32179
Yes it is hard coded and this certainly should not have been rolled out without **mention in the release notes or the "incompatible changes"**

This has appeared in the installation instructions - but maybe only a week ago, not prior to release - but it is not mentioned in the release notes and you think something that will demand major SEO and architecture changes for anyone who is using more tha

[2021-02-16 09:55] dufrygrant commented on #13952
It's waiting on release of this commit:

https://github.com/Adyen/adyen-magento2/commit/a88db6a4fced6ff500fb0887cd0eca60da8028f6

[2021-02-16 10:22] engcom-Alfa commented on #31124
@magento give me 2.4-develop instance

[2021-02-16 10:30] pixel-paul commented on #27942
@engcom-Alfa thank you for this additional information, I can see that there has been a major shift in the way Magento 2 is now released. Is there a plan to create an LTS version of Magento 2?

[2021-02-16 10:37] engcom-Alfa commented on #31124
Hi @jasminrathod @WebKenth .
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop. Looks like the problem has already been fixed.

**Actual Result:**
:heavy_check_mark: Exception #0 (Magento\Framework\Exception\LocalizedException): This product is out of stock.
:heavy_check_mark: if product out of stock then show out of stock message on page
![Screenshot from 2020-12-02 13-

[2021-02-16 10:37] #31124 closed, assigned to engcom-Alfa

[2021-02-16 10:38] mrtuvn commented on #4536
solution by @trunglv Seeem not work anymore at 2.4-develop

[2021-02-16 10:45] mrtuvn commented on #31558
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/mysql.html
Maybe is not a bug this is feature LOLs

[2021-02-16 10:57] WebKenth commented on #31124
@engcom-Alfa 2.4 is not mentioned in this issue, so why are you testing it on 2.4?

it is a 2.3.6 bug and should be tested on 2.3.6 and 2.3.6-p1 not 2.4

2.3 is on a different path than 2.4 with breaking changes all around which is why an upgrade from 2.3 to 2.4 is not a viable solution for most clients

[2021-02-16 11:04] pemann commented on #4536
@magento give me 2.4-develop instance

[2021-02-16 11:42] sivaschenko commented on #32058
Thanks @mrtuvn , @Usik2203 `Magento\Framework\View\DesignInterface` removed from this task in favour of https://github.com/magento/magento2/issues/32037

[2021-02-16 11:43] #31174 closed, assigned to ProkopovVitaliy

[2021-02-16 11:43] sprajapat770 opened #32182 "Credit Memo Show Wrong Currency Code on sales_order_credit_memo grid in magento 2.4.2"
### Preconditions (*)

1.You Should Have Magento 2.4.2
2. Two Websites and Different Currency Setup

### Steps to reproduce (*)

1.Create An Order From Admin Or Storefront on your secod website
2.Now Accept Order and Create Credit Memo.
3. Look at both grids now they have different currency sign.

### Expected result (*)

1. sales order credit memo grid should show currency dollar as like sales or

[2021-02-16 11:49] way2ecommerce opened #32183 "Website with NOT default inventory source fails on layered navigation attribute filter"
### Preconditions (*)
1. Magento CE 2.3.6 (fresh install)

### Steps to reproduce (*)
1. Create new website / store / store view (e.g. website2)
2. Create new inventory source (e.g. source2) (from Stores > Inventory > Sources)
3. Create new Stock and assign the new created website and source (from Stores > Inventory > Stock)
4. Create new filtrable Attribute (e.g. attribute1) (or use manufacturer

[2021-02-16 11:58] angelflo commented on #25663
Hi,

Please can someone tell me if the code to share the SID between multiple websites is still present in the code of magento 2.4.2 and if I can re-enabe it to restore this logic ?
Do you know what files was in charge of this feature in the previous version ?

@collymore : do you think you can share your custom code with the community ?

Thanks a lot to all people who can help me restore somethin

[2021-02-16 12:50] sprajapat770 commented on #22490
I also confirmed this issue is still exist in magento 2.4.2 Despite magento community try to solve in 2.4.2

[2021-02-16 13:04] mrtuvn commented on #28913
@magento give me 2.4-develop instance

[2021-02-16 13:13] mrtuvn commented on #22627
By the way seem you import incorrect way

Not use this
 @import "../../../../../../../lib/web/css/source/lib/_responsive.less";

Use this instead
@import '../../source/lib/_lib-file.less'

[2021-02-16 13:16] dverkade commented on #22627
@mrtuvn relative file paths should work. This is a confirmed issue by Magento so there's not need to discuss the validity of the issue.

[2021-02-16 13:45] JoostWan opened #32190 "multiple discount rules gives wrong discount"
1. Magento 2.3.6

### Steps to reproduce (*)

1. Create a price rule that gives €15 discount for whole shopping cart.
2. Create a price rule with a coupon that gives 15% discount to a specific product.
3. Add a product in the cart.
4. Add a product in the cart that apply rule from step 2.
5. Apply price rule from step 2 with coupon

We have subtotal off 45,90 in this case. Discount for whole cart

[2021-02-16 14:24] #30969 closed, assigned to nobody

[2021-02-16 14:59] VladyslavSikailo opened #32192 "Import. Configurable's stock is not updated when child's stock changed by import."
### Preconditions
1. Pure Magento 2.4.1
2. Magento 2.4-develop

### Steps to reproduce
1. Create configurable product with 2 childs. Make all of them out of stock with 0 qty
2. Copy sku of one configurable's child
3. Go to System->Import. Choose Entity Type: Product, Import behaviour: Add/Update
4. Create an csv with following content (replace `child-sku` by your own) <img width="250" alt="Screens

[2021-02-16 15:22] sprajapat770 opened #32193 "Credit Memo Show Wrong Currency Code on sales_order_credit_memo grid in magento 2.4.2"
### Preconditions (*)

1.You Should Have Magento 2.4.2
2. Two Websites and Different Currency Setup

### Steps to reproduce (*)

1.Create An Order From Admin Or Storefront on your secod website
2.Now Accept Order and Create Credit Memo.
3. Look at both grids now they have different currency sign.

### Expected result (*)

1. sales order credit memo grid should show currency dollar as like sales or

[2021-02-16 15:24] #27396 closed, assigned to nobody

[2021-02-16 15:24] #7253 closed, assigned to nobody

[2021-02-16 15:26] magento-engcom-team commented on #27396
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-16 15:26] #32193 closed, assigned to nobody

[2021-02-16 15:26] sprajapat770 commented on #32193
Already application

[2021-02-16 16:01] magento-engcom-team commented on #27989
Hi @santosh-gaggle.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-33873` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-16 16:19] engcom-Echo commented on #15328
Hi, @arijit-de93 Currently "/V1/invoices/"-endpoint use only to create the entity.
May be, achieve the goal you described, it is better to use another endpoint - "/V1/order/{orderId}/invoice".

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue

[2021-02-16 16:19] #15328 closed, assigned to engcom-Echo

[2021-02-16 16:53] vasilii-b commented on #18091
Magento customized the fotorama.js file.
See the latest changes in it here https://github.com/magento/magento2/commit/f2231f8d953bb650c3462a824716fd8972c6bb6c.

See all the changes - https://github.com/magento/magento2/blame/2.4-develop/lib/web/fotorama/fotorama.js

[2021-02-16 17:14] igormatkovic commented on #30194
Did anybody try this with magento 2.4.2?

[2021-02-16 18:03] gabrieldagama commented on #31967
Closing since this issue is already fixed on `2.4-develop`.

[2021-02-16 18:03] #31967 closed, assigned to nobody

[2021-02-16 18:30] hubertus2017 commented on #31967
Hello,
thank you for your support.

@gabrieldagama Can you please provide the information, if there is a patch planned for M2.4.2 ?

As 2.4.3 is released in August?

We have daily, hourly issues with missing ghost order, double payments and customer complaints.

[2021-02-16 19:07] #12271 closed, assigned to nobody

[2021-02-16 20:40] mtjweb opened #32197 "Multistore not working after upgrading from 2.3.5-p1 to 2.4.2"
### Preconditions (*)

1.  Magento 2.3.5-p1
2.  PHP 7.3.27

### Steps to reproduce (*)

1. I upgraded from 2.3.5-p1 to 2.4.2 via composer
2. Changed the PHP-version form 7.3.27 to 7.4.15
3. Replaced the htaccess files for the other websites with the version that came with Magento 2.4.2

After upgrading the extra websites (not the default one) are redirected to de the default scope of the defult we

[2021-02-16 23:04] sashas777 commented on #32127
@engcom-Delta
Hi,
The issue comes when you use this module for unit tests or declare dependency of this module. Also, it would fail OOTB integrity tests from /dev/ folder.

As you can see for 2.4 as well the class:
https://github.com/magento/magento2/blob/2.4/app/code/Magento/Store/Model/Store.php#L391
uses another class from the module MessageQueue (magento/framework-message-queue) and this modul

[2021-02-16 23:06] #31660 closed, assigned to shikhamis11

[2021-02-16 23:06] #28573 closed, assigned to sasha19957099

[2021-02-16 23:06] #31075 closed, assigned to korovitskyi

[2021-02-16 23:06] #31331 closed, assigned to shikhamis11

[2021-02-16 23:06] #28522 closed, assigned to Usik2203

[2021-02-16 23:07] #28586 closed, assigned to eduard13

[2021-02-16 23:07] #31435 closed, assigned to eduard13

[2021-02-16 23:07] #31560 closed, assigned to eduard13

[2021-02-16 23:07] #31561 closed, assigned to eduard13

[2021-02-16 23:11] sashas777 commented on #32127
@engcom-Delta  here is example of the change: https://github.com/sashas777/magento2/commit/065ee9f0b0e53cb90b13480a1b5b01079f795ce5

[2021-02-16 23:12] #31531 closed, assigned to nobody

[2021-02-17 00:28] saharin88 commented on #30575
There was nothing I could do (module:enable etc.) due to this error.
I add to \Magento\Framework\Code\Generator\EntityAbstract::extractParameterDefaultValue before return $value this code
` if($this->getSourceClassName() === '\Psr\Log\LoggerInterface' && $parameter->name === 'context') {$value = new ValueGenerator(array(), ValueGenerator::TYPE_ARRAY);}`

[2021-02-17 06:48] konarshankar07 commented on #31783
@magento I am working on this

[2021-02-17 06:55] engcom-Alfa commented on #32183
Hi @way2ecommerce   .
Looks like this issue related to MSI functionality.
@sdzhepa Could you move this ticket to the Inventory repository?
Thanks!

[2021-02-17 07:52] way2ecommerce commented on #32183
Done.. https://github.com/magento/inventory/issues/3279
Thanks!

[2021-02-17 08:12] rahulanand77 commented on #31775
HI,

I have applied the changes you have mentioned, still not working. Please check the link to see more details:

https://eavs-groupe.fr/smart-building/visioconference/cameras-ptz.html?product_list_order=quantity_and_stock_status

![Untitled](https://user-images.githubusercontent.com/363711/108174849-01edf500-7126-11eb-982c-0e71679c2803.png)

[2021-02-17 08:13] rahulanand77 commented on #31775
The Model file and other di.xml and module.xml changes are applied in module "vendor/magento/module-inventory-elasticsearch" but still not working

[2021-02-17 08:25] engcom-Alfa commented on #32182
Hi @sprajapat770 . Thank you for your report!
Unfortunately, we are not able to reproduce this issue on a fresh 2.4-develop. Looks like the problem has already been fixed.

**_Precondition:_**

 Two Websites and Different Currency Setup

- Main Website - Indian Rupee;
- Second Website - US Dollar

**Manual testing scenario:**

1.Create An Order From Admin Or Storefront on your Second website
2.Now

[2021-02-17 08:30] WoutervanderLoopNL commented on #31312
I've the same issue upgrading from 2.3.4 to 2.4.2. on the category page, and even on a reindex.

[2021-02-17 08:33] konarshankar07 commented on #31783
@sivaschenko
Dependency https://github.com/magento/magento2/issues/31346

[2021-02-17 08:50] #12426 closed, assigned to nobody

[2021-02-17 08:50] #27987 closed, assigned to mrtuvn

[2021-02-17 08:50] konarshankar07 commented on #31346
@magento I'm working on this

[2021-02-17 08:52] magento-engcom-team commented on #27987
Hi @Dharmeshvaja91, @mrtuvn.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-33753` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-17 09:02] magento-engcom-team commented on #32192
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40918` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-17 09:03] PHProDreamy commented on #25209
We are also facing this issue on both 2.2.X and 2.4.1 installations

[2021-02-17 09:19] #28180 closed, assigned to engcom-Echo

[2021-02-17 10:01] magento-engcom-team commented on #27833
Hi @ajithkumar-maragathavel, @ajithkumar-maragathavel.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-33343` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-17 10:16] viratraaz commented on #28873
@magento I am working on this
Environment - windows 10 64-bit
problem occurs while unziping zipped file downloaded from https://magento.com/tech-resources/download
file version - 2.4.2
format -  zip
Include sample data - No

![image](https://user-images.githubusercontent.com/10795973/108189585-e808de00-7136-11eb-96c8-c946aba3cb00.png)

[2021-02-17 10:35] magento-engcom-team commented on #28239
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40921` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-17 10:49] mikemoooo opened #32201 "sales/order/history/ page shows all orders and is not limited to the max page number which results in long loading times"
### Preconditions (*)

1. 2.4.2

### Steps to reproduce (*)

1. Open a customer account with more than 100 orders.
2. Open the /sales/order/history/ page

### Expected result (*)

1. The page should show the first 10 orders (default : 10 orders per page)

### Actual result (*)

1. The page shows all orders in the account, ignoring the max. amount of results per page.
2. Pagination at the bottom is

[2021-02-17 10:56] zcuric commented on #27158
Issue on present on 2.4.1.

[2021-02-17 10:58] magento-engcom-team commented on #12074
Hi @josephmcdermott, @engcom-Delta.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-29612` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other ta

[2021-02-17 11:15] engcom-Alfa commented on #31555
Hi @HenKun . Thank you for your report!

Unfortunately, we are not able to reproduce the issue on а clean 2.4-develop. Everything works as expected.

**_Precondition:_**
Configure DHL shipping method;

**Manual testing scenario:**

1. Create an order with an in stock product and shipping method of carrier that is able to print shipping labels
![Screenshot from 2021-02-17 13-00-43](https://user-ima

[2021-02-17 11:19] magento-engcom-team commented on #30726
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40924` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-17 11:35] mtwegrzycki opened #32202 "Cannot update only extension attributes via REST (POST: /rest/V1/orders)"
### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
1. Place order via GraphQL
2. Try to update order via REST API (POST /rest/V1/orders)
3. In request body put only: entityId and any extension attribute
4. Make request

### Expected result (*)
1. Extension attributes for order will be updated

### Actual result (*)
1. I get the response with the following error: "SQLSTATE[42000]: S

[2021-02-17 11:42] barbazul commented on #18547
I can confirm this issue still exists in Magento 2.4.1

[2021-02-17 11:51] HenKun commented on #31555
@engcom-Alfa

The steps seem correct, however I am wondering why your shipment could be created successfully if the product is not in stock (after setting stock to 0 manually).

Normal behavior:
- Let's assume the qty of the product was 1 before ordering
- After ordering the qty is still 1 and a reservation of -1 is added
- On creating shipment the reservation is balanced by adding a reservation o

[2021-02-17 11:55] #30836 closed, assigned to nobody

[2021-02-17 11:56] engcom-Alfa commented on #32201
@magento give me 2.4-develop instance

[2021-02-17 12:16] engcom-Alfa commented on #32201
Hi @mikemoooo . Thank you for your report!
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop and 2.4.2. Everything works as expected.

**Manual testing scenario:**

1. Open a customer account with more than 10 orders;
2. Open the /sales/order/history/ page

**Actual Result:** :heavy_check_mark: The page shows the first 10 orders (default: 10 orders per page)
![Screenshot

[2021-02-17 12:16] #32201 closed, assigned to engcom-Alfa

[2021-02-17 12:33] MJTheOne commented on #5351
Thanks! Your last tip saved me.
I was already using the async endpoint to do a major ecommerce platform migration of 10k products and setting the indexers to update on schedule fixed my random deadlock problem!

[2021-02-17 12:45] engcom-Delta commented on #29358
Issue was closed according [comment](https://github.com/magento/magento2/issues/29358#issuecomment-672730930)

[2021-02-17 12:45] #29358 closed, assigned to nobody

[2021-02-17 13:42] evgeniykapelko opened #32203 "Catalog Widget. Select with product conditions displays incorrect attributes."
### Preconditions (*)

1. Magento 2.4.1
2. Install last version magento/module-page-builder

### Steps to reproduce (*)

1. Go to Admin > Content > Pages > Home page
2. Content -> click button Edit with Page Builder
3. Add Content -> Products -> click Edit
4. Open Conditions

### Expected result (*)

1. In the select in the Product Attributes section, attributes are loaded that have the configurat

[2021-02-17 13:43] evgeniykapelko commented on #32203
@magento I am working on this

[2021-02-17 14:31] magento-engcom-team commented on #20816
Hi @yashwant2jcommerce, @amol2jcommerce.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24346` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-17 14:33] magento-engcom-team commented on #21539
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-17 14:59] eduard13 commented on #31608
@magento give me 2.4-develop instance

[2021-02-17 16:01] tarekfellah opened #32205 "Invalid template file: 'Magento_OfflinePayments::info/pdf/purchaseorder.phtml' in module: 'Magento_OfflinePayments' block's name: 'info\\purchaseorder_0'"
### Preconditions (*)

1.Magento 2.2.4
2. PHP 7.1

### Steps to reproduce (*)

1. When i tried to send invoice mail to customer or any other transactional emails
2.

### Expected result (*)

1. Emails sent to customers
2.

### Actual result (*)

1. Error Invalid template file: 'Magento_OfflinePayments::info/pdf/purchaseorder.phtml' in module: 'Magento_OfflinePayments' block's name: 'info\\purchase

[2021-02-17 16:28] engcom-Delta commented on #31870
Hi @Quazz  thank you for your report. Could you provide case with this issue to clarify what negative impact it has?

[2021-02-17 16:28] mrtuvn commented on #32066
No need to reload account infor edit page of existed customer. When you login customer and edit account information you will see duplicate value in dropdown options
I also can reproduced same issue in 2.4-develop branch codebase

[2021-02-17 17:06] #30985 closed, assigned to nobody

[2021-02-17 19:05] mtjweb commented on #32197
Could this problem being caused because the document root isn't set to the pub folder? I'm using Centos Webpanel and am not able to change the document root in the Vhosts file.

[2021-02-17 19:49] DiegoSana opened #32206 "Add to wishlist don't show success message"
### Preconditions (*)

1. Magento 2.4.2 instance

### Steps to reproduce (*)

1. Log in
2. Go to PLP or PDP
3. Add product to the wishlist

### Expected result (*)

1. Product added to the wishlist
2. Show success message

### Actual result (*)

1. Product added to the wishlist
2. Not show success message

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/cont

[2021-02-17 19:52] DiegoSana commented on #32206
@magento give me 2.4.2 instance

[2021-02-17 19:53] amitvkhajanchi opened #32207 "Magento 2.4.x Elasticsearch issue with hyphen returning too many results?"
Magento CE 2.4.1 (Production) and 2.4.2 (Staging)
Ubuntu 20.04 LTS
PHP 7.4.3
MySQL 8.022 (Amazon RDS)
Elasticsearch 7.6.2
Redis 5.2.1
Varnish 6.2.1
Nginx 1.8

PS. I have over 5000+ products in 2 websites (EU/US) EU site has 5 Store views (EN,FR,IT,DE,ES). US site has 1 Store view (US). Total of 6 Store view for my site.

I have multiple products with attribute of product model, which has "-" in it

[2021-02-17 20:01] DiegoSana commented on #32206
Not reproduced

[2021-02-17 20:01] #32206 closed, assigned to nobody

[2021-02-17 20:10] lastralab commented on #21862
Hi, if this is helpful for someone, I just went straight to the DB and ran:
[code]
Sorry if not best practice, but I no longer have to memorize password variations :)

[2021-02-17 20:41] Eddcapone opened #32208 "Value is not getting changed if it gets loaded from another less variable"
### Summary (*)

Value is not getting changed if it gets loaded from another less variable

### Examples (*)

I copied the file **vendor\magento\magento2-base\lib\web\css\source\lib\variables\\_layout.less** to my theme at **THEME\web\css\source\lib\variables\\_layout.less**.

Then I changed the value of `@layout-column__sidebar-width` to a very high value, just to see if the change is taking effe

[2021-02-17 21:25] AndrewPenry commented on #32108
We experienced this issue as well.

We set up 2 websites and a configurable product with size as the configuration. 5 simple products:

T-Shirt (Configurable, Website 1 and Website 2):
S, M, L on Website 1 only (example.com)
XL, XXL on Website 2 only (bigandtall.example.com)

All swatches show on both websites. We found that if we switched the theme to Blank, the swatches would show correctly for

[2021-02-17 21:28] hws47a commented on #31340
@sivaschenko it seems it's blocked by #31346

[code]

[2021-02-17 22:03] eBusinessAtlantique commented on #26942
Same issue on 2.3.6
I don't understand this behaviour. This is not convenient for the end-user.
How to deal with that ?
Thanks

[2021-02-18 02:00] sivamind commented on #26377
on magento 2.4.2 upgrade Uncaught TypeError: Cannot create property 'cart' on string '{"messages":1613612384,"company":1613612384,"customer":1613612384,"compare-products":1613612384,"requisition":1613612384,"last-ordered-items":1613612384,"cart":1613612384,"directory-data":1613612384,"captcha":1613612384,"wishlist":1613612384,"company_authorization":1613612384,"negotiable_quote":1613612384,"instan

[2021-02-18 03:44] mrtuvn commented on #32205
Update your magento version should fix this issue
Ex: version open source 2.2.9 or higher if possible

[2021-02-18 03:57] jpillai88 commented on #23908
Hi,
What is the status of this issue ?
Is there any version of magento resolve this issue?

[2021-02-18 04:06] mrtuvn commented on #32208
It's because that value is override in another file so basically your value in file variables is unusable

Value defined in this file have higher priority
https://github.com/magento/magento2/blob/2.4-develop/app/design/frontend/Magento/luma/web/css/source/_theme.less#L52

[2021-02-18 04:16] mrtuvn commented on #32208
It's true

[2021-02-18 06:20] zuber903 opened #32211 "Products are being disappeared randomly"
In Magento 2.3.4, frequently Products are being disappeared from listing page and upon next refresh it works. I checked all possible cases but failed to find out the root cause.

Can some share the possible reason / solution for it?

[2021-02-18 08:43] Eddcapone commented on #32208
Thank you @mrtuvn , I copied the file **vendor\magento\theme-frontend-luma\web\css\source\_theme.less** to **THEME\web\css\source\_theme.less** and changed the value, that worked!

I was not aware that values can get overwritten later. I though it it like in javascipt:

[code]

But in less it works like this:

[code]

Thank you again!

[2021-02-18 08:43] #32208 closed, assigned to nobody

[2021-02-18 08:47] #28234 closed, assigned to nobody

[2021-02-18 09:15] iztan commented on #5039
Hi @MidnightDesign , are you able to solve this issue? I am facing the similar experience.

[2021-02-18 09:28] Quazz commented on #31870
Well, for the most part it simply doesn't follow Magento's guidelines on what an Interceptor (plugin) should return.

If you were to create another plugin that comes after this plugin, it would not have access to the $saveOptions data, even though under normal circumstances it should.

In core Magento it doesn't cause any issues since $saveOptions is currently unused (though it conflicts with the

[2021-02-18 09:58] #28050 closed, assigned to engcom-Golf

[2021-02-18 09:58] #32007 closed, assigned to engcom-Kilo

[2021-02-18 09:58] #32106 closed, assigned to nobody

[2021-02-18 09:58] #32119 closed, assigned to SmVladyslav

[2021-02-18 10:04] magento-engcom-team commented on #25672
Hi @bst2002git, @engcom-Delta.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-29039` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

[2021-02-18 10:16] engcom-Alfa commented on #32205
Hi @tarekfellah . Thank you for your report!
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop.
Everything works as expected.

**Actual Result:** :heavy_check_mark:  Emails sent to customers
![Peek 2021-02-18 12-06](https://user-images.githubusercontent.com/51679138/108341679-94ec6500-71e2-11eb-88ea-dac47564b44d.gif)
![Screenshot from 2021-02-18 12-06-26](https://user-im

[2021-02-18 10:16] #32205 closed, assigned to engcom-Alfa

[2021-02-18 10:19] magento-engcom-team commented on #25476
Hi @macrodesignuk.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-25157` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you

[2021-02-18 10:43] engcom-Alfa commented on #32183
We will close this problem because а ticket has already been created in the inventory repository.

[2021-02-18 10:43] #32183 closed, assigned to nobody

[2021-02-18 10:46] GuillaumeBrook opened #32213 "[Performance Issue] Bundle options selections collection is loaded too much times"
### Preconditions (*)
On a Magento >= 2.2 with sample data.

### Steps to reproduce (*)
1. Go on the following page containing the bundle Sprite Yoga Companion Kit : http://m2.local/gear/fitness-equipment.html
2. Go into the class `Bundle/Block/Catalog/Product/View/Type/Bundle.php`, in the function `getSelectionsCollection`
3. Before the return add a `echo $selectionsCollection->getSelect();`
4. R

[2021-02-18 10:53] GuillaumeBrook commented on #32211
I would check the indices of elasticsearch.
Example you see 1000 documents in your indices, you launch a reindexation, you check again the number of documents.
Sometimes there is a drastic change in the number of documents.

[2021-02-18 10:59] gauravkmr07 opened #32214 "visitor data not saved in custom ajax compare in magento 2.4.1"
we have created a module for ajax compare and extending the default compare class. like below

class Ajaxadd extends \Magento\Catalog\Controller\Product\Compare implements HttpPostActionInterface {
 // our code.
}

it's working fine if we are checking on windows based system, and for registered users.
but if we are checking on linux based system then it is not creating visitor data and functionali

[2021-02-18 12:16] magento-engcom-team commented on #31950
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40950` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-18 12:22] engcom-Bravo commented on #32181
Hello @reshadzazai

Thank you for your report.

When creating your DHL account, (getting Access ID, Password, Account Number, etc.), what country did you specify?
We are asking because if you _change the shipping origin to the US and everything works fine_, seems like the Account has been created for the US.
DHL Shipping method will not work in Magento if the credentials are set for US, for exampl

[2021-02-18 12:41] munkhulzii commented on #6126
this issue still appears in admin area if multiple websites and different prices for each websites. There is "SELECT DISTINCT" in collection query which affects the result. In frontend it works then because I guess there is a filter with only 1 website-ID.

[2021-02-18 12:49] roshanphp commented on #11629
a

[2021-02-18 12:49] roshanphp commented on #11629
asssssssssssssssssssssssssssss

[2021-02-18 12:54] sheepfy commented on #9799
@magento-engcom-team This issue is still present in Magento 2.4.2
![image](https://user-images.githubusercontent.com/17467949/108359806-1e0e9680-71f9-11eb-9a92-623680926f3c.png)
![image](https://user-images.githubusercontent.com/17467949/108359833-28309500-71f9-11eb-9879-a0e34d051f11.png)

[2021-02-18 12:59] magento-engcom-team commented on #22379
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-24439` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-18 12:59] gabrieldagama commented on #32072
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32071 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [694242bdd3ddb434bae095be05048309fbaa519a](https://github.com/magento/magento2/commit/694242bdd3ddb434bae095be05048309fbaa519a)

The fix will be available with the upcoming 2.4.3 release.

[2021-02-18 12:59] #32072 closed, assigned to sergiy-v

[2021-02-18 12:59] gabrieldagama commented on #28996
Hi @deepakwsofi. Thank you for your report.
The issue has been fixed in magento/magento2#32095 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [68d20230ca9d6198fa3093eb174e24aff47b1646](https://github.com/magento/magento2/commit/68d20230ca9d6198fa3093eb174e24aff47b1646)

The fix will be available with the upcoming 2.4.3 release.

[2021-02-18 12:59] #28996 closed, assigned to engcom-Charlie

[2021-02-18 12:59] gabrieldagama commented on #31902
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31924 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [c0fac333804316bec47aac4c73bee66e18e53258](https://github.com/magento/magento2/commit/c0fac333804316bec47aac4c73bee66e18e53258)

The fix will be available with the upcoming 2.4.3 release.

[2021-02-18 12:59] #31902 closed, assigned to sergiy-v

[2021-02-18 12:59] gabrieldagama commented on #31216
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31205 by @dorupetruc in 2.4-develop branch
Related commit(s):
 - [9cb53cdcd347bf704bd9b41667b4096511bd9f87](https://github.com/magento/magento2/commit/9cb53cdcd347bf704bd9b41667b4096511bd9f87)
 - [ac08bb3753f4a13828328d758ebfc9945bf71f83](https://github.com/magento/magento2/commit/ac08bb3753f4a13828328d7

[2021-02-18 12:59] #31216 closed, assigned to engcom-Hotel

[2021-02-18 12:59] gabrieldagama commented on #31937
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31936 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [dbeee370803ccab34e686639584e69f3979530e8](https://github.com/magento/magento2/commit/dbeee370803ccab34e686639584e69f3979530e8)
 - [bb0460f80047d93be5124721947b473bb64e476a](https://github.com/magento/magento2/commit/bb0460f80047d93be51247219

[2021-02-18 12:59] #31937 closed, assigned to sergiy-v

[2021-02-18 12:59] gabrieldagama commented on #31853
Hi @gabrieldagama. Thank you for your report.
The issue has been fixed in magento/magento2#31815 by @achatpc in 2.4-develop branch
Related commit(s):
 - [e6bfef3c7c7dfe4754df87ee41d4fd06a22e9a93](https://github.com/magento/magento2/commit/e6bfef3c7c7dfe4754df87ee41d4fd06a22e9a93)
 - [2edaf153c09f3442eea64a7f7d295113d4173f1f](https://github.com/magento/magento2/commit/2edaf153c09f3442eea64a7f7d2951

[2021-02-18 12:59] #31853 closed, assigned to nobody

[2021-02-18 12:59] gabrieldagama commented on #26521
Hi @Taku-Yamashita. Thank you for your report.
The issue has been fixed in magento/magento2#31875 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [c0d11778a646ed160aed39f95ba8fff908f803be](https://github.com/magento/magento2/commit/c0d11778a646ed160aed39f95ba8fff908f803be)
 - [e971004d32752f53fc7733bf724a4ffe5e601176](https://github.com/magento/magento2/commit/e971004d32752f53fc7733

[2021-02-18 12:59] #26521 closed, assigned to engcom-Charlie

[2021-02-18 12:59] gabrieldagama commented on #31865
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31864 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [922033c851ac9f3fd3e8c7a0f2383a6558b4306d](https://github.com/magento/magento2/commit/922033c851ac9f3fd3e8c7a0f2383a6558b4306d)

The fix will be available with the upcoming 2.4.3 release.

[2021-02-18 12:59] #31865 closed, assigned to sergiy-v

[2021-02-18 12:59] gabrieldagama commented on #31860
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31859 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [afb17e63ce9843c50ca7bd50635888ec8de12767](https://github.com/magento/magento2/commit/afb17e63ce9843c50ca7bd50635888ec8de12767)

The fix will be available with the upcoming 2.4.3 release.

[2021-02-18 12:59] #31860 closed, assigned to sergiy-v

[2021-02-18 12:59] gabrieldagama commented on #30802
Hi @Emanuel-23. Thank you for your report.
The issue has been fixed in magento/magento2#31750 by @engcom-Hotel in 2.4-develop branch
Related commit(s):
 - [c9d0dc57a247d444b529d30a35eb52f2a66f1d4e](https://github.com/magento/magento2/commit/c9d0dc57a247d444b529d30a35eb52f2a66f1d4e)
 - [154260866d5e9714cbad62165951fd72d76b0503](https://github.com/magento/magento2/commit/154260866d5e9714cbad62165951

[2021-02-18 12:59] #30802 closed, assigned to engcom-Hotel

[2021-02-18 12:59] gabrieldagama commented on #11175
Hi @scholtz. Thank you for your report.
The issue has been fixed in magento/magento2#31804 by @maksymz in 2.4-develop branch
Related commit(s):
 - [754ea5fcb1ed51281019235b7095d8152a6ffdc6](https://github.com/magento/magento2/commit/754ea5fcb1ed51281019235b7095d8152a6ffdc6)
 - [77daafd4571efbaf93b302076017ea3efd757e91](https://github.com/magento/magento2/commit/77daafd4571efbaf93b302076017ea3efd75

[2021-02-18 12:59] gabrieldagama commented on #31873
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31804 by @maksymz in 2.4-develop branch
Related commit(s):
 - [754ea5fcb1ed51281019235b7095d8152a6ffdc6](https://github.com/magento/magento2/commit/754ea5fcb1ed51281019235b7095d8152a6ffdc6)
 - [77daafd4571efbaf93b302076017ea3efd757e91](https://github.com/magento/magento2/commit/77daafd4571efbaf93b3020760

[2021-02-18 12:59] #31873 closed, assigned to maksymz

[2021-02-18 12:59] gabrieldagama commented on #31574
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31568 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [0b50c8b4d1732d4621b9ae22e9f8d935b5171ef0](https://github.com/magento/magento2/commit/0b50c8b4d1732d4621b9ae22e9f8d935b5171ef0)
 - [87ac7a78b481c5ed13fab4e6ddb07bd56b5e680e](https://github.com/magento/magento2/commit/87ac7a78b481c5ed13fab4e6d

[2021-02-18 12:59] #31574 closed, assigned to AnnaAPak

[2021-02-18 12:59] gabrieldagama commented on #31573
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31569 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [49f3f51fd6ce64c92b7d9ec337e7d1cd27ce9e52](https://github.com/magento/magento2/commit/49f3f51fd6ce64c92b7d9ec337e7d1cd27ce9e52)
 - [7aa992aeb2b8a2419e561a9a3dd56e060861aaed](https://github.com/magento/magento2/commit/7aa992aeb2b8a2419e561a9a3

[2021-02-18 12:59] #31573 closed, assigned to AnnaAPak

[2021-02-18 12:59] gabrieldagama commented on #12584
Hi @AntonEvers. Thank you for your report.
The issue has been fixed in magento/magento2#27315 by @rain2o in 2.4-develop branch
Related commit(s):
 - [b25a34f3dab7fb228241156a328591c67a8bcbeb](https://github.com/magento/magento2/commit/b25a34f3dab7fb228241156a328591c67a8bcbeb)
 - [fc9559e2612f147ca3995e71ada3648c7fdbe4b6](https://github.com/magento/magento2/commit/fc9559e2612f147ca3995e71ada3648c7f

[2021-02-18 12:59] #12584 closed, assigned to rain2o

[2021-02-18 13:01] magento-engcom-team commented on #31216
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-18 13:01] magento-engcom-team commented on #31853
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-18 13:02] magento-engcom-team commented on #31873
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-18 13:16] sivaschenko commented on #31340
Thanks @hws47a , added corresponding label

[2021-02-18 13:19] zuber903 commented on #32211
I didn't get it. What does that mean? Could you please elaborate? Sorry...

[2021-02-18 13:48] engcom-Bravo commented on #32190
Hello @JoostWan

Thank you for your report.

Can you please help us to reproduce the issue by answering the following:

- What Tax **Rate Percent** is applied in this particular order?
- What setting is set under _Stores - Configuration - Sales - Tax - Calculation Settings - Apply Discount on Prices_?
- How did you create a _price rule with a coupon that gives 15% discount to a specific product_?

[2021-02-18 13:51] JoostWan commented on #32190
@engcom-Bravo

- Tax is 21% (Dutch)
- Stores - Configuration - Sales - Tax - Calculation Settings - Apply Discount on Prices? -> **Including Tax**

<img width="853" alt="Screenshot 2021-02-18 at 14 50 55" src="https://user-images.githubusercontent.com/5435412/108366482-b5bfb500-71f8-11eb-8df9-72ad999f892a.png">

[2021-02-18 14:05] ihor-sviziev commented on #25865
@magento give me test instance

[2021-02-18 14:05] ihor-sviziev commented on #25865
@magento give me 2.4-develop instance

[2021-02-18 14:34] GuillaumeBrook commented on #32211
If you are using Elasticsearch, you could go on your server and type :
curl -X GET "localhost:9200/_cat/indices"
It will write one index per store, for example : magento2_product_1_v10. (store id 1, version 10)
The 4th column from the right is the number of products inside.

If you launch a reindexation of "catalogsearch_fulltext" your index will be magento2_product_1_v11 (store id 1, version 11).

[2021-02-18 14:42] joshdavenport commented on #16419
Froogaloop references are still in fotorama-add-video-events.js in [2.4-develop](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/ProductVideo/view/frontend/web/js/fotorama-add-video-events.js) and [2.5-develop](https://github.com/magento/magento2/blob/2.5-develop/app/code/Magento/ProductVideo/view/frontend/web/js/fotorama-add-video-events.js) so one can only assume this is re

[2021-02-18 14:49] #29471 closed, assigned to nobody

[2021-02-18 14:49] #29488 closed, assigned to nobody

[2021-02-18 14:56] kdjmonaghan commented on #28432
Issue was confirmed... and never updated upon.

Clearly still an issue.

Description is enough to investigate, clearly, if it was confirmed.

Obviously this is an automated bot, but if an issue has been confirmed then never updated - why should it be closed?

[2021-02-18 15:39] kanduvisla commented on #24573
And still there are scenario's where you would like to be able to cancel a refund. In my scenario for example, I am creating a queued refund mechanism, where you can create Credit Memo's in a "pending" state, which will be refunded on a later moment.

This gives the possibility to cancel a pending credit memo, but you would have to write your own implementation for this (which makes sence, since c

[2021-02-18 16:04] ihor-sviziev commented on #25865
Hi @Yuwei9291,
I can't reproduce this issue  on 2.4-develop branch.

![image](https://user-images.githubusercontent.com/1873745/108384732-b0bc2f00-7213-11eb-8faa-2063cf389e57.png)

Could you double-check if you still can reproduce it?

[2021-02-18 16:31] Hexmage commented on #28318
Experiencing this as well. The links in the email are obviously GET, but the code expects a POST. Looks like this is still broken in the latest dev branch.

[2021-02-18 16:38] vehgroshop commented on #30908
What is the status of this issue? We would also like to have it fixed.

[2021-02-18 16:43] Yonn-Trimoreau opened #32219 "Messages are not displayed in store with sub path base url"
Success and error messages are not displayed if Magento has its base url configured in a sub path.

### Preconditions (*)
1. Configure a base url with a sub path (example: https://magento.com/sub/)
2. Copy/paste `pub/index.php` to `pub/sub/index.php` on the server (and replace `/../app/bootstrap.php` by `/../../app/bootstrap.php` in the `pub/sub/index.php` file)

### Steps to reproduce (*)
1. Go t

[2021-02-18 16:43] Yonn-Trimoreau commented on #32219
@magento I am working on this

[2021-02-18 16:50] Yonn-Trimoreau commented on #32219
https://github.com/magento/magento2/pull/32220

[2021-02-18 16:50] Yonn-Trimoreau commented on #32219
@magento add to contributors team

[2021-02-18 16:51] Yonn-Trimoreau commented on #32219
@magento I am working on this

[2021-02-18 16:58] MartinSchillinger opened #32222 "Tax for complete order applied when refunding partial order"
### Preconditions (*)

1. Magento 2.4.1 installed with sample data
2. Online Payment Method i.e. PayPal set up
3. Tax rules set up for germany (19%)

### Steps to reproduce (*)

1. Create order with multiple positions
2. Invoice one or more (but not all) positions
3. Create a second invoice for the remaining positions
4. Go to the invoice view of the first invoice and click "credit memo" from the

[2021-02-18 17:01] Yonn-Trimoreau commented on #32219
@magento give me 2.4-develop instance

[2021-02-18 17:06] DiZeroX commented on #30241
@magento I am working on it

[2021-02-18 17:06] DiZeroX commented on #30241
@magento add to contributors team

[2021-02-18 17:07] DiZeroX commented on #30241
@magento I am working on it

[2021-02-18 17:29] gabrieldagama commented on #30589
Hi @Fuseteam, thanks for reporting this issue.

Just to clarify, regards Wikipedia https://en.wikipedia.org/wiki/Surinamese_dollar the symbol for Surinamese dollar is the same as USD, can you confirm that?

Thank you!

[2021-02-18 17:42] DiegoSana commented on #32206
@magento give me 2.4.2 instance

[2021-02-18 17:57] #30804 closed, assigned to nobody

[2021-02-18 18:14] perfpcs commented on #30596
Just an update, after Amasty fixed some issues with their Extended Product Grid Extension that was conflicting with the new media gallery js files, I am finally able to have a fully working media gallery in the latest Magento 2.4.2 with the one file changed from #30629.
vendor/magento/module-media-gallery-ui/Model/Directories/GetDirectoryTree.php

With this one file change all now works correctly

[2021-02-18 18:17] reshadzazai commented on #32181
Hi,
The DHL's XML Service account has been created with providing the US details, but those details are for the account creation purpose as I have received a reply from DHL's XML Services official email address (xmlrequests@dhl.com) saying that "The API credentials work globally".
I could not disagree with this as they have sent me the second email saying that :
"I just tested the AF to IN scenari

[2021-02-18 18:51] Yonn-Trimoreau commented on #32219
It is not reproducible on the Magento instance provided since it requires a file modification in pub directory.

[2021-02-18 18:59] magento-engcom-team commented on #31081
Hi @sivaschenko, @sergeynezbritskiy.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39455` was closed as `Fixed`.

[2021-02-18 19:02] eBusinessAtlantique commented on #24571
Thanks for that reply, this was the solution.
But the appearance of the swatch image is quite slow. Why ?
Thanks

[2021-02-18 19:16] mrtuvn commented on #31140
Still valid

[2021-02-18 19:33] engcom-Delta commented on #31653
@venhow we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-18 19:33] #31653 closed, assigned to nobody

[2021-02-18 20:02] mtjweb commented on #32197
Problem is solved, I added the following to .htaccess.

SetEnvIf Host ^(.*)huepfburggeblaese\.de MAGE_RUN_CODE=websitecode
SetEnvIf Host ^(.*)huepfburggeblaese\.de MAGE_RUN_TYPE=website

[2021-02-18 20:21] ashtonsax commented on #32177
@magento I am working on it

[2021-02-18 20:21] ashtonsax commented on #32177
@magento add to contributors team

[2021-02-18 20:21] ashtonsax commented on #32177
@magento I am working on it

[2021-02-18 20:24] nabhanmaswood98 commented on #30951
@magento add to contributors team

[2021-02-18 20:25] nabhanmaswood98 commented on #30951
@magento I am working on it

[2021-02-18 20:36] #27861 closed, assigned to nobody

[2021-02-18 20:37] magento-engcom-team commented on #27861
Hi @SteveMcC71.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39292` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-19 07:10] victortodoran commented on #31644
This issue still has the status Ready For Confirmation. Why is that?

[2021-02-19 07:28] mrtuvn commented on #31849
@engcom-Alfa can you test again after this PR commit merged
Seem problem fixed after this PR https://github.com/magento/magento2/pull/31970

[2021-02-19 07:44] victortodoran commented on #7199
See Igors answer here https://magento.stackexchange.com/questions/176341/magento-2-layered-navigation-price-without-tax

[2021-02-19 08:36] pitangaweb commented on #7199
@victortodoran And that's a terrible answer. If "the current behavior is by design", then it was poorly designed.

[2021-02-19 08:37] magento-engcom-team commented on #9703
Hi @atsareva.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24740` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-19 08:45] magento-engcom-team commented on #7204
Hi @tinxit.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24738` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-19 08:47] magento-engcom-team commented on #8283
Hi @maultby.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24737` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-19 08:53] engcom-Golf commented on #21736
Hi @giacmir, I could not reproduce this issue on 2.4-develop branch
It was probably fixed with changes in PR #18952
Will close this ticket.

[2021-02-19 08:53] #21736 closed, assigned to nobody

[2021-02-19 08:55] magento-engcom-team commented on #21736
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-19 08:58] engcom-Alfa commented on #31849
Hi @mrtuvn. I rechecked it and the issue is still reproducible on a fresh 2.4-develop.

*Manual testing scenario:**

1. Add a product to cart
2. Navigate to cart page
3. Open admin interface, find the product, save it as "Out of Stock"
4. Refresh cart page, see error message: **There are no source items with the in stock status**
5. Find the translation for the message in <magento install dir>vend

[2021-02-19 09:12] mrtuvn commented on #31849
"There are no source items with the in stock status" Seem from another place
As i remember it's from module https://github.com/magento/inventory/blob/1.2-develop/InventorySales/i18n/en_US.csv
Seem path change incorrect right ?

[2021-02-19 09:39] tuyennn commented on #27559
Have same this issue even not using Elastic Search and lower magento 2  version

[2021-02-19 10:04] hostep commented on #16202
I accidentally bumped into a commit which *might* fix this: [MC-40371: Moving category in hierarchy causes url_path to be incorrect](https://github.com/magento/magento2/commit/2243b48d4dc1384a46845a2f998d319d324b8aec)

I'll try to test later when I find more energy.

[2021-02-19 10:21] amenk commented on #12671
@engcom-Alfa Can you please document the full testing procedure with all steps? Or - if this was fixed - link to the according PR?

[2021-02-19 10:46] magento-engcom-team commented on #14674
Hi @mariamghalleb.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24558` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-19 11:10] engcom-Alfa commented on #31849
@mrtuvn For now, for example, if we take the phrase _**'You must login or register to add items to your wishlist.'**_  from the [comment](https://github.com/magento/magento2/issues/31849#issuecomment-768298340) error message is translated:

![Screenshot from 2021-02-19 13-02-53](https://user-images.githubusercontent.com/51679138/108496508-d1879180-72b2-11eb-91a2-174bbd8a552f.png)

but if we check

[2021-02-19 11:20] mrtuvn commented on #31849
It's possible but I'm not sure when inventory is separated. Maybe we need someone active on inventory repo confirm that

[2021-02-19 11:35] kolaente opened #32224 "Queue Retry for failed jobs"
### Description (*)

We're using the magento queuing system (with [the mysql provider](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/message-queues/message-queues.html#mysql-adapter)) to send orders for further processing to a third party system. This external system sometimes fails to process the order. In those cases, we would like to retry sending the order to the external system

[2021-02-19 12:41] shashank141097 commented on #28006
@Mohan2594 so how can we know that customer did payment or not? which order status informs that order's payment is successful?

[2021-02-19 12:56] bhupendravgroup commented on #16686
I am still getting this isssue in 2.3 Enterprise

[2021-02-19 13:04] bhupendravgroup commented on #18050
What is the fix for this issue as I am still getting it in 2.3

[2021-02-19 13:10] chirag-taraviya opened #32227 "Magento Checkout module Billing address show javascript code"
### Preconditions (*)

1. Magento 2.4.2
2.php 7.4

### Steps to reproduce (*)

1. Checkout as new customer and add new address.
2. Payment section show javascript code instead of address

### Expected result (*)

1. [Screenshots, logs or description]
2.Should be full address

### Actual result (*)

1. [Screenshots, logs or description]
2.![image](https://user-images.githubusercontent.com/531597/10

[2021-02-19 13:57] Robert-Sheahan commented on #12671
Alexander,

I am trying to get my website updated to 2.4.2 so that I can test it.   The requirement for Elastic Search has created a huge problem out here, hosting services saying we need to update service to our own servers at a cost $6X the current one.    If and when I can get the new revision up and running I will be able to test it in minutes.

In the mean time, just make any [downloadable] p

[2021-02-19 14:05] mobeen-sarwar commented on #31071
@magento I am working on this

[2021-02-19 14:05] mobeen-sarwar commented on #31071
@magento add to contributors team

[2021-02-19 14:06] mobeen-sarwar commented on #31071
@magento add to contributors team

[2021-02-19 14:07] mobeen-sarwar commented on #31071
@magento I am working on this

[2021-02-19 14:16] m2-assistant[bot] opened #32229 "[Issue] Set collection if there is not any collection before"
This issue is automatically created based on existing pull request: magento/magento2#27313:  Set collection if there is not any collection before

---------

### Description (*)

### Related Pull Requests
https://github.com/magento/partners-magento2ee/pull/341

### Fixed Issues (if relevant)
1.https://github.com/magento/partners-magento2ee/issues/64

### Manual testing scenarios (*)
Login to admin

[2021-02-19 14:17] magento-engcom-team commented on #32229
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40974` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-19 14:35] mrtuvn commented on #31849
Seem some old controllers in codebase (inventory or EE) still use old approach with beforeDispatch (By interact extend deprecated Action Controller)
So some messages around here may not able translated correctly

[2021-02-19 14:43] nickpiro commented on #15115
We're experiencing this after upgrading from 2.3.0 CE to 2.3.6 CE. I don't see any Persistent settings in our admin section, confused why there would be a persistent issue when it seems Persistent is no longer on CE? Or am I wrong?

Why is this closed? We updated the file EmulateCustomerObserver.php with the latest file and that still has not corrected the issue.

Do we first need to run the Db qu

[2021-02-19 14:57] nickpiro commented on #15115
It seems to happen to logged in users when they have neither default billing address nor do they have default shipping address.

[2021-02-19 15:12] magento-engcom-team commented on #20332
Hi @swetacedcoss, @Bartlomiejsz.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24417` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-19 15:31] bansavage commented on #16345
3yrs later...

[2021-02-19 15:49] vpashovski commented on #27859
I have same issue.
When we deploy to server and run `setup:di:compile` Extension attribute methods are not generated.
The module exists in `app/etc/config.php`.

To generate the methods we have to run `setup:di:compile` again.
The directory where the deployment is happening is empty and we need to generate all files in this directory and then run `setup:upgrade` and switch the symlink to this dire

[2021-02-19 16:05] Fuseteam commented on #30589
@gabrieldagama as someone living in suriname i can confirm that it does not use $ symbol in practice nor Sr$ we use SRD
ah couple of examples:
https://www.kirpalani.com/nl/apparaten
https://www.hsdsonline.com/nl/shop/
https://kev.store/product-category/computers-electronica/
please don't ask me this over and over again [I already confirmed this in october](https://github.com/magento/magento2/issue

[2021-02-19 17:53] joemstar opened #32231 "2.4.2 A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."
### Preconditions (*)

1. Magento 2.4.2
2. MariaDb 10.4
3. php 7.4

### Steps to reproduce (*)

1. Upgrade from 2.4.1 to 2.4.2
2. Click "Insert Image" in my theme to Open image uploader and select an image to upload. Click "Add Selected"
3. This problem did not exist prior to upgrading.

### Expected result (*)

1. The image uploads

### Actual result (*)

1. I get this error: "A technical problem

[2021-02-19 18:48] #30654 closed, assigned to nobody

[2021-02-19 19:07] #31341 closed, assigned to hws47a

[2021-02-19 21:24] hws47a commented on #31341
Closed 😢

[2021-02-19 22:08] jeffyl opened #32232 "Add to Cart broken on lists view with redirect to cart enabled"
### Preconditions (*)

1. Magento 2.4.2
1. Redirect to cart enabled

### Steps to reproduce (*)

1. Fresh Magento 2.4.2 with sample data
1. Enable redirect to cart: https://docs.magento.com/user-guide/sales/cart-redirect.html
1. Go to a list view in any of the categories and try to add an item to cart from that page

### Expected result (*)

1. Add to cart button is enabled after page finishing lo

[2021-02-19 22:11] jeffyl commented on #32232
The issue starts with 95859dc036a6076423f30409f224a6b5d6f5ac84 which defaults the button to be disabled until the catalog-add-to-cart.js is loaded, which enables the buttons. But if you have redirect to cart enabled, require.js never loads that script and so it will not enable the button

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/view/frontend/templates/product/

[2021-02-20 04:52] sprajapat770 commented on #32182
@engcom-Alfa i am also thinking you are missing something. So am sharing you again probelm

precondition
1. You should have Magento 2.4.2 setup
2. Should have 2 running websites with different currency setup like I have.
3. I have 2 websites -- a) Main website -- indian currency b) second website -- us dollar currency
c) base currency as indian rupee.
4. I order on second website which have dollar

[2021-02-20 11:10] #32163 closed, assigned to hws47a

[2021-02-20 11:10] #32162 closed, assigned to hws47a

[2021-02-20 11:47] cmuench commented on #27180
The problem still exists.
If I add a return in the `vendor/magento/module-configurable-sample-data/Setup/RecurringData.php::install` method the problem is gone.

[2021-02-20 16:51] ioweb-gr opened #32233 "Price indexer shouldn't be affected by the configuration option cataloginventory/options/show_out_of_stock"
### Preconditions (*)
1. 2.4.1
2. Multistore installation.

### Steps to reproduce (*)
- Create two websites
- Create a few different sources
- Create 2 stocks for two websites (Stock1 -> Website 1 , Stock 2 -> Website 2 )
- Create a product and assign to both websites
- Add stock quantity only to Stock 1 but not Stock 2 so that the product is salable in Website 1 and out of stock in Website 2

A)

[2021-02-21 00:58] f1-outsourcing commented on #32148
Did you have this in your log file "main.ERROR: Unable to send mail: Unknown error "?

I guess not,  thus you have tested totally different situation. And since I did not mention what I did to get this message, you can maybe conclude that I have no idea what config setting it could have been. That means you have to ask a developer under what circumstances this message is being generated, so you ca

[2021-02-21 02:21] beechyrb commented on #28614
Do you mind sharing your IP ban module?

[2021-02-21 06:51] Div123chauhan opened #32235 "Magento 2.4.2 is not showing agreements and setup page"
I have downloaded the versions:
magento 2.4.2
Elasticsearch 7.11.1
PHP 7.4.15
Composer 2.0.9
MySQL 5.6.44
but, Magento 2.4.2 is not showing agreements and setup page. I share the Screenshot for the refrence.
![Screenshot_magento](https://user-images.githubusercontent.com/67589375/108617470-a92b9e80-743c-11eb-8ddb-6b2eb8b4bf55.JPG)

[2021-02-21 10:56] zapotocnylubos commented on #32235
Since Magento 2.4.* there is no web-based setup/installation, it only suppoorts command line setup (`bin/magento setup:install ...`).

[2021-02-21 12:07] sivaschenko commented on #31341
@hws47a the issue was closed as your pull request is delivered, thank you!

[2021-02-21 13:49] #29260 closed, assigned to nobody

[2021-02-21 14:49] #30702 closed, assigned to nobody

[2021-02-21 15:00] codedge commented on #32177
It seems this does only happen for guest orders. The customer prefix is saved as integer inside the `prefix` column in `sales_orders_address` table instead as string.

![image](https://user-images.githubusercontent.com/4409904/108628937-e2c0d180-745d-11eb-8e48-89e3999f1d6d.png)

[2021-02-21 16:40] scottsb commented on #22053
@magento-engcom-team give me 2.4-develop instance

[2021-02-21 16:55] david-garcia-garcia commented on #23043
For anyone using IIS to run magento, this issue happens if you have not properly configured your rewrite rules to tell zend-framework that you are running rewrites, you need to add this to your rewrite rules:

`                    <serverVariables>
                        <set name="IIS_WasUrlRewritten" value="1" />
                        <set name="ENABLE_IIS_REWRITES" value="1" />

[2021-02-21 16:59] scottsb commented on #22053
I can verify this still exists on Magento 2.4. Don't have the rights to add the label, though.

[2021-02-21 20:44] #30564 closed, assigned to nobody

[2021-02-21 20:44] #28089 closed, assigned to nobody

[2021-02-21 20:46] magento-engcom-team commented on #30564
Hi @m2-assistant[bot].

Thank you for your report and collaboration!

The related internal Jira ticket `MC-38562` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-22 03:46] mrtuvn commented on #32235
you have to install magento via command line instead. You no longer able install magento via web UI

[2021-02-22 05:16] ajijshekh123 commented on #32232
@magento give me 2.4-develop instance

[2021-02-22 05:35] Kishorchhugani commented on #22753
This is still an issue on Magento 2.4.0 after disabling MSI extensions

[2021-02-22 05:52] ioweb-gr opened #32236 "FilterGroup filters are not processed as OR in Search"
### Preconditions (*)
1. Magento 2.4.1
2. Elastic Search

### Steps to reproduce (*)
1. Create a custom module with a di.xml

[code]

2. Create your plugin
[code]

3. Visit a category page and you will notice that the filter group is treated as an AND clause.

### Expected result (*)
1. The filter group is treated as an OR clause.

### Actual result (*)
1. The filter group was treated as an AND cl

[2021-02-22 05:58] ajijshekh123 commented on #32232
Hi @jeffyl,
The issue has been reproduced on the Latest Magento 2.4 Instance.
In Admin > Stores > Configuration > Sales > Checkout > After Adding a Product Redirect to Shopping Cart "YES"
In the Front end, the Categories > Product Listing > Add to Cart button is disabled
**Screenshot:**
![image](https://user-images.githubusercontent.com/24711761/108668289-efe2cc80-7500-11eb-8ffb-3e1c11ab0908.png)

[2021-02-22 06:00] magento-engcom-team commented on #32232
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40983` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-22 07:34] stijnkuppens commented on #22753
@Kishorchhugani As far as I know, you cannot disable MSI on 2.4.x. The MSI is required on that version.

[2021-02-22 07:53] Div123chauhan commented on #32235
by the CLI, I have following error in the snapshot.
How i solve this?

![Capture1](https://user-images.githubusercontent.com/67589375/108678465-1e68a380-7511-11eb-8dc7-5f4df6b4b7ad.JPG)

[2021-02-22 08:24] magento-engcom-team commented on #16657
Hi @smiso, @ihor-sviziev.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24091` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-22 08:30] peimanja opened #32237 "Magento fails to unserialize config value from Redis in HA setup"
### Preconditions (*)
1. Magento 2.3.5
2. Database MySQL 5.7.28
3. Default Cache: Redis 6.0.5
4. Magento Deployed on EKS (3 Pods) with persistent storage

### Steps to reproduce (*)
1. Deploy Magento on Kubernetes using MySQL as Database and Redis as default cache

### Expected result (*)
1. all Pods can use Redis as cache without any issue

### Actual result (*)
Magento works fine without setting

[2021-02-22 08:30] Nazar65 commented on #30596
@perfpcs  it would be great to have it on next release, but they decided to deliver this only in 2.5 :(

[2021-02-22 08:41] perfpcs commented on #30596
@Nazar65 well I think a lot of people with big catalogs will struggle with the new media gallery as it probably wont work for them. But, I guess It's the Magento teams decision, not mine.

[2021-02-22 08:51] murtuza1234 commented on #22094
in my case elastic service stop working due to low storage so I increase storage run below command curl -X PUT -H "Content-Type: application/json" http://127.0.0.1:9200/_all/_settings -d '{"index.blocks.read_only_allow_delete": null}'; and then again done reindex and issue solved

[2021-02-22 08:53] engcom-Delta commented on #32233
Hi @ioweb-gr thank you for your report. Looks like this issue related to MSI functionality
Could you create issue in [MSI repo](https://github.com/magento/inventory/issues) and close this one once it will be done?

[2021-02-22 08:55] ioweb-gr commented on #32233
OK sure. I just did

[2021-02-22 08:55] #32233 closed, assigned to nobody

[2021-02-22 09:01] magento-engcom-team commented on #24287
Hi @hiepecom.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24014` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-22 09:09] peimanja commented on #32237
I think I figured this out as soon as I post this.
By looking at `/opt/bitnami/magento/htdocs/app/etc/env.php`, looks like the `crypt` key was different between pods.

I notice there is a `--key` flag that can be passed during the installation to set that. Will try that and if that works, we can close this issue
[code]

[2021-02-22 09:56] ki5-mshoaibq opened #32238 "validate-not-negative-number and validate-greater-than-zero not validating properly"
### Summary (*)

While adding a new number field in admin user Information , I used 'validate-not-negative-number' and 'validate-greater-than-zero' in the class for field validation, I experienced that when I enter value like abc100 or abcdef, it gave error but if I entered 100abc, it passes the validation and the form is saved.

### Examples (*)

$baseFieldset = $form->getElement('base_fieldset')

[2021-02-22 10:13] ki5-mshoaibq commented on #32238
Information of environment:
I am using `version": "2.3.3",`
working on Magento Admin>System>Permissions>All Users.
Select a user.
In User detail form, I added a custom new field with following code:

[code]
in my custom module file /app/code/Vendor/Module/Block/Adminhtml/User/Edit/Tab/Main.php

backend field in DB was created by file db_schema.xml
with code:

[code]

[2021-02-22 10:20] magento-engcom-team commented on #24234
Hi @mfickers.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23996` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-22 11:15] gianstraf commented on #31145
Hi all,
we have the same problem of @rvitaliy and @sodhancha on AWS aurora replicas with:

- php 7.4.6
- Magento CE ver. 2.4.2

I report our analisys if can be useful to the problem fix.

It seems that the problem is caused by two wrong injected dependencies, for the class `Magento\Framework\Cache\LockGuardedCacheLoader` and member `locker`.

The member locker is of declared as **LockManagerInterf

[2021-02-22 12:10] magento-engcom-team commented on #29041
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40987` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-22 12:20] thangasujithas commented on #10636
The issue still exists in Magento 2.4.2

[2021-02-22 12:23] #23669 closed, assigned to nobody

[2021-02-22 12:24] magento-engcom-team commented on #23669
Hi @ghost.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23833` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still ru

[2021-02-22 12:25] engcom-Alfa commented on #23669
The issue isn't reproducible on a fresh 2.4-develop.

**Actual Result:** 

:heavy_check_mark:   The value is saved in core_config_data with scope set to 'default' ( scope_id = 0)

![2021-02-22_14-06](https://user-images.githubusercontent.com/51679138/108708210-d4d08680-7519-11eb-8b88-71e1a6abd5fb.png)

:heavy_check_mark:   the newly saved value is visible in Stores -> Config -> Sales -> Payment Me

[2021-02-22 14:09] arslan-eg opened #32242 "Magento 2.3.4-p2 issue on changing media_gallery attribute to Global "SQLSTATE[42S22]: Column not found: 1054 Unknown column 'attribute_id' in 'where clause' query was: DELETE FROM `catalog_product_entity` WHERE (attribute_id = '268') AND (store_id IN(1, 10, 13))""
###Summary (*)
Not able to change the product attribute scope from website to Global.
Navigate to  (Admin->STORES->Attributes->Product) edit attribute_code = media_gallery
Then change the attribute scope (ATTRIBUTE INFORMATION -> Properties -> Advanced Attribute Properties -> Scope) change it to website and click on Save Attribute. Now change the scope back to Global and click on Save Attribute. (

[2021-02-22 14:21] Mecalux-Developer opened #32243 "Lecgacy model observer on catalog module"
On the Catalog Module Events XML, there are declared a bunch of observers, whose names starts with "legacy_model_<whatever>".

Seems that those observers are not needed, as the models they are observing are doing exactly the same.

Are those observers still needed?

[2021-02-22 14:55] gianstraf opened #32245 "Master/Slave configuration and use of slave connection"
### Preconditions (*)
1. Magento Commerce Edition ver. 2.4.2
2. PHP 7.4.6
3. Master/slave configuration

### Steps to reproduce (*)
1. Add a slave connection with `bin/magento setup:db-schema:add-slave`

[code]

2. Navigate on FE or BE or run a cli command: three different scenariuos

### Expected result (*)

1. In case of CLI command, we expect that an export of products (for example), can work w

[2021-02-22 15:03] kolaente commented on #21973
I've managed to fix this by adding a file `phpstan_bootstrap.php` in my root directory with this content:

[code]

then I've added it to the `bootstrapFiles` section of the `phpstan.neon` configuration so it is loaded:

[code]

[2021-02-22 15:18] Axel29 commented on #23052
Hi,

The issue seems to still be present, even with the patches.

The problem is that even if we follow @ioweb-gr suggestion to use the urlPath (request_path), it wouldn't work if you try to translate the slug.

In my opinion, Magento should create URL rewrites for CMS pages as it does for Products and Categories, because right now a translate CMS page has absolutely no link to the original page..

[2021-02-22 15:24] engcom-Delta commented on #32231
Hi @joemstar thank you for your report. I'm not able to reproduce issue by steps you described on clean 2.4-develop and 2.4.2
**Manual testing scenario:**
- Install magento 2.4.1
- Upgrade to version 2.4.2
- Go to Catalog->Categories
- Click Insert/Edit Image icon in Content->Description(via wisiwyg)
- :heavy_check_mark: Image is successfully uploaded
- Click Content->Category Image->Upload button

[2021-02-22 15:29] engcom-Kilo commented on #29041
Hello @leroynas
Thanks for report. I'm not able to reproduce this issue on latest 2.4-develop branch. Looks like it's been fixed in https://github.com/magento/magento2/commit/797e7f82f84deb09c5e4d519861e52d556f48c66

[2021-02-22 15:31] #29041 closed, assigned to engcom-Kilo

[2021-02-22 15:33] magento-engcom-team commented on #29041
Hi @leroynas, @engcom-Kilo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40987` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-22 15:42] joemstar commented on #32231
I just tried your exact steps in my environment and it also worked without a problem. I am having the issue uploading to the brands page which is an extension provided by the company who made my theme. I will reach out to them to troubleshoot further. Thank you for your time.

[2021-02-22 16:38] hostep commented on #28033
@rvitaliy, it looks like these issues are fixed in Magento 2.4.2 and its dependencies, can you confirm?

[2021-02-22 18:19] mrtuvn commented on #32235
Default magento not support windows os. Second if you have to try on windows make sure setup properly write files/folders. My suggest you should
use sub system Linux on windows instead

[2021-02-22 18:27] #31115 closed, assigned to sasha19957099

[2021-02-22 18:34] mrtuvn commented on #4536
Seem problem still valid after 5 yrs. Any workaround of quickhacks allow to show   properly anchor wrap div.

[2021-02-22 19:10] JoergLindner opened #32247 "Magento 2.4.1 New Account Key Confirmation email"
### Preconditions (*)

1. Magento 2.4.1
2. PHP 7.4.14
3. After updating to 2.4.1 from 2.3.5-p2 we facing the issue that if a customer open an account, mainly try to open an account, Magento will just send the 'Default' New Account Email, instead of the 'New Account Key Confirmation' email. Of course 'Require Emails Confirmation' is set to 'Yes'. After checking, it basically that it use the 'E-Mail

[2021-02-22 20:19] #31111 closed, assigned to shikhamis11

[2021-02-22 20:34] michalbednarzcsm commented on #32180
Hi, I confirm the problem, the same for me.

I started debugging the problem and looking at the commits, I think the reason is here:

https://github.com/magento/magento2/commit/7a662f5ee991e5768c1dccb30bcaace3891c6f35

What I found is that when we restore the contents of the file `app/code/Magento/Catalog/Ui/DataProvider/Product/ProductCollection.php` from before commit, the filters on the grid be

[2021-02-22 20:38] #31030 closed, assigned to nobody

[2021-02-22 20:38] #4871 closed, assigned to nobody

[2021-02-22 20:38] #31035 closed, assigned to bchatard

[2021-02-23 03:33] peimanja commented on #32237
It worked!

[2021-02-23 03:33] #32237 closed, assigned to nobody

[2021-02-23 04:38] #30997 closed, assigned to nobody

[2021-02-23 04:40] magento-engcom-team commented on #30997
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-23 06:38] #28182 closed, assigned to nobody

[2021-02-23 07:07] hostep commented on #4871
So, this issue got closed because nobody found it worth to confirm the issue?

[2021-02-23 07:16] engcom-Delta commented on #32144
Hi @OxCom thank you for your report.
Could you add the example of API call you used, actual and expected results?

[2021-02-23 07:21] ihor-sviziev commented on #4871
@hostep I believe fixing this issue will not be so trivial. I would say the priority for this issue should be P3 or even P4 because most people use varnish only with one Magento installation.

The suggested patch will not work for multiple reasons:
- current domain != domain of the store
- for CLI runs, it will not work at all as there we don't have any
- when we have separate domains per website,

[2021-02-23 07:47] engcom-Delta commented on #32243
Hi @Mecalux-Developer thank you for your report.
This issue could be investigated in scope of feature request/code improvement
Could you create issue in [community-features repo](https://github.com/magento/community-features/issues) for further discussion and close this one once it will be done?

[2021-02-23 07:53] engcom-Delta commented on #32231
@joemstar seems like this related to your extension and we close this issue.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on clean `2.4-develop` branch. Thank you for collaboration.

[2021-02-23 07:53] #32231 closed, assigned to engcom-Delta

[2021-02-23 08:05] engcom-Delta commented on #32197
Hi @mtjweb  thank you for your report.
According [docs](https://devdocs.magento.com/guides/v2.4/config-guide/multi-site/ms_apache.html#ms-apache-vhosts) multistore could be configured by virtual hosts
Is this issue solved and could be closed?

[2021-02-23 08:18] magento-engcom-team commented on #17510
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41003` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-23 08:28] engcom-Bravo commented on #31974
We are closing this issue due to inactivity. If you'd like to reopen it, please, update the description and reopen it.

[2021-02-23 08:28] #31974 closed, assigned to engcom-Bravo

[2021-02-23 08:37] magento-engcom-team commented on #23024
Hi @mahesh-rajawat.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23726` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you

[2021-02-23 08:38] #26719 closed, assigned to nobody

[2021-02-23 08:40] magento-engcom-team commented on #26719
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-23 08:53] mtjweb commented on #32197
Hi @engcom-Delta,

Yes, the problem is resolved. This issue can be closed.

[2021-02-23 09:12] engcom-Charlie commented on #20997
Hello, @Lez-2 we aren't able to reproduce the issue on the latest 2.4-develop by following steps:

1. Create a new attribute set for example `AS`.
2. Assign new attribute to attribute set `AS` (i used default `Manufacturer` which isn't assigned to `Default` attribute set).
3. Create a product on the `Default` attribute set.
4. Open this product for edit.
5. Switch to `AS` attribute set.

**AR**: M

[2021-02-23 09:12] #20997 closed, assigned to engcom-Charlie

[2021-02-23 09:13] magento-engcom-team commented on #20997
Hi @Lez-2, @engcom-Charlie.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24144` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-23 09:34] github-jira-sync-bot opened #32250 "Mini cart missing when you edit inline welcome message for guest and use special characters"
**Note:** Bug was found on Magento installed from composer on <https://m233-se-dev-0.testregress.com/>

**Precondition**
1. Developer mode is set
1. Enable Translate Inline functionality
 Go to Stores -> Configuration -> Advanced -> Developer -> Translate Inline:
 Enabled for Storefront - Yes
 Save Config
1. php bin/magento cache:flush
1. Create simple product

**Steps to reproduce**
1. Go to stor

[2021-02-23 09:37] ivanenkoaleksei commented on #27918
I have the same issue on Magento version 2.4.1

[2021-02-23 09:46] delyriand opened #32252 "Impossible to run graphql functional tests"
### Summary (*)

When we follow the [documentation to run GraphQL functional tests](https://devdocs.magento.com/guides/v2.4/graphql/functional-testing.html#run-functional-tests), we get an error: Could not use "Magento\TestFramework\ApiSuiteLoader" as loader

### Examples (*)

- Configure your instance, copy  the phpunit_graphql.xml.dist file to phpunit_graphql.xml and set environment values
- Run

[2021-02-23 09:49] magento-engcom-team commented on #19345
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-24525` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-23 10:45] Eddcapone commented on #30741
I get similar errors in Magento 2.4.2 Enterprise

[2021-02-23 10:48] michalbednarzcsm commented on #32180
I made a mistake in the previous message, problem is in the file I pointed out, but in other commit.

https://github.com/magento/magento2/commit/517f5a5055eef488daf6aeefd2829b2ee1013bcd

Method `getSize()` in `app/code/Magento/Catalog/Ui/DataProvider/Product/ProductCollection.php` can return wrong count of grid items.

Now I'm sure sorry for mistake.

[2021-02-23 11:09] engcom-Bravo commented on #32010
@iphigenie Thank you for the response.

Can you please answer, which Payment Method are you using?

Thank you in advance

[2021-02-23 11:21] magento-engcom-team commented on #17727
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41009` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-23 11:38] #26422 closed, assigned to nobody

[2021-02-23 11:39] magento-engcom-team commented on #26422
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-23 12:53] thomas-kl1 commented on #5891
Try again

[2021-02-23 14:12] jupiterlewis opened #32256 "Currency symbol for Danish Krone doesn't match what is shown in the backend."
### Preconditions (*)

1. Magento 2.4.0 (2.4-develop)

### Steps to reproduce (*)

1. Set Locale to Danish (Denmark)
![Set Locale](https://i.ibb.co/7nCd6yy/screenshot-127-0-0-1-2021-02-23-20-24-23.png)
2. Set Base Currency and Default Display Currency to Danish Krone

### Expected result (*)

1. Should display the currency symbol as DKK in the frontend as defined in the backends Currency Symbol se

[2021-02-23 14:13] jupiterhs commented on #32256
@magento give me 2.4-develop instance

[2021-02-23 14:33] jupiterhs commented on #32256
Hi I am able to reproduce this on the 2.4-develop instance

[2021-02-23 14:35] bartoszkubicki commented on #26209
Still not fixed

[2021-02-23 14:37] OxCom commented on #32144
@magento give me 2.3-develop instance

[2021-02-23 14:45] robbie-thompson commented on #30958
Still relevant, as it's still reproducible on 2.4.2.

[2021-02-23 14:48] engcom-Bravo commented on #32256
Hello @jupiterhs

Thank you for your report

We have set the **Interface Locale** to _Dansk (Danmark) / dansk (Danmark)_
![locale](https://user-images.githubusercontent.com/51680745/108859509-f69f3b80-75f5-11eb-9387-b96bb8fcbe1d.png)

and set **Base Currency** and **Default Display Currency** to _dansk krone_
![def_base](https://user-images.githubusercontent.com/51680745/108859855-4ed63d80-75f6-11

[2021-02-23 14:48] ihorvansach opened #32257 "Translate Inline does not work on second translate"
### Preconditions (*)
1. Magento 2.4.2
2. Developer mode enable
3. Have one test product
4. All Caches Enabled

### Steps to reproduce (*)
1. Enable Translate Inline for the storefront in admin panel (Stores > Configuration > Advanced > Developer)
2. Flush all Magento caches (bin/magento c:f or via admin panel)
3. Go to a product page
4. Change the text for "Add to Cart" button from "Add to Cart"

[2021-02-23 14:58] jupiterhs commented on #32256
Hi @engcom-Bravo
Thanks for checking.

I have updated the issue.
You need to set the locale like below
![Set Locale](https://i.ibb.co/7nCd6yy/screenshot-127-0-0-1-2021-02-23-20-24-23.png)

[2021-02-23 15:00] OxCom commented on #32144
Magento should have paid and free products with only one store, so API call for products list without filters will return products list.

Issue not does not exists with **all** stores call
[code]
Issue reproducible  with default store call
[code]

With provided filters we should have (**expected**) products sorted by price and products with 0 price should be on a first place.
**Current**: free pro

[2021-02-23 15:13] engcom-Bravo commented on #32256
@jupiterhs Thank you for the quick response.

The Storefront is using the Currency Symbol specified in _Stores - Currency Symbols_
![cur_sym](https://user-images.githubusercontent.com/51680745/108863848-4f70d300-75fa-11eb-8419-5f4a0dbf1953.png)
If you'll change the default ".kr" to "DKK", the symbol "DKK" will be displayed on the Storefront

[2021-02-23 15:24] magento-engcom-team commented on #32257
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41012` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-23 15:28] jupiterhs commented on #32256
@engcom-Bravo
You are able to change it to DKK because you changed the Interface Local. Please try switching it back to English and you should see something like below.

![Currency setup](https://i.ibb.co/0yFtx0g/screenshot-d3f72cb5b008e9e7d6a304bc19c02018-2-4-develop-instances-magento-community-engineering-2021.png)

[2021-02-23 16:03] coderimus commented on #9066
Thank you all for participate in the scope of the reported issue. The current decision is to close this issue because possibly fixed at MAGETWO-58964.

[2021-02-23 16:03] #9066 closed, assigned to nobody

[2021-02-23 16:12] oneserv-heuser commented on #32252
Can confirm in magento 2.4.2

[2021-02-23 16:55] hostep commented on #4871
Hi @ihor-sviziev

We do have a bunch of smaller customers who choose to be on a server shared with some other shops, because they can't afford dedicated hosting unfortunately. I'm pretty sure we aren't the only ones dealing with such customers (Magento Cloud probably has the same problem with their integration branches where a bunch of customers share the same server resources, but I don't know th

[2021-02-23 16:58] GitHubjbi commented on #3923
I am using 2.3.3. and I know haw to import products via csv without errors.

Just find the password to administer Magento.
In the upper right corner, switch the administration to US English.
Look at the values through the export of products.
Use the same values in csv for import.
Using a national language other than English is problematic and Magento imports have significant problems with this.

[2021-02-23 17:11] m2-assistant[bot] opened #32260 "[Issue] Fix loading of calendar script"
This issue is automatically created based on existing pull request: magento/magento2#32255: Fix loading of calendar script

---------
Fix calendar mixins loading in Safari and Firefox.

### Description (*)
There is a bug with the loading of mixins in Safari and Firefox.

When you call the widget using the imperative notation: `.calendar({`, the mixin for this module is not loading in Safari and Fi

[2021-02-23 17:16] m2-assistant[bot] opened #32261 "[Issue] Add variable font size for input display on iOS"
This issue is automatically created based on existing pull request: magento/magento2#32253: Add variable font size for input display on iOS

---------

### Description (*)

This PR  just improvement add variable default for input allow reuse in frontend
Before if we set font size below 16px when focus input display on iOS devices will zoom screen
With this variable FE devs can reuse or re-define t

[2021-02-23 17:22] m2-assistant[bot] opened #32262 "[Issue] Magento_Backend store switcher: Use nowdoc instead of heredoc"
This issue is automatically created based on existing pull request: magento/magento2#32249: Magento_Backend store switcher: Use nowdoc instead of heredoc

### Description (*)

The heredoc in [Magento/Backend/view/adminhtml/templates/store/switcher.phtml#L203-L216](https://github.com/magento/magento2/blob/896f0d6/app/code/Magento/Backend/view/adminhtml/templates/store/switcher.phtml#L203-L216) is n

[2021-02-23 17:30] m2-assistant[bot] opened #32263 "[Issue] Check whether "path" is set in $storeParsedUrl in module-store/Model/Store"
This issue is automatically created based on existing pull request: magento/magento2#32248: Check whether "path" is set in $storeParsedUrl in module-store/Model/Store

---------

### Description (*)

This pull request adds a check in the getCurrentUrl function in module-store/Model/Store for whether "path" is defined in the $storeParsedUrl array. While the scheme and and host can be reliably expec

[2021-02-23 17:39] m2-assistant[bot] opened #32264 "[Issue] Prevent cross origin iframe content reading"
This issue is automatically created based on existing pull request: magento/magento2#32244: Prevent cross origin iframe content reading

---------

### Description (*)

Issue described in https://github.com/magento/magento2/pull/8005, https://github.com/magento/magento2/pull/7914 will message like this reproducing randomly (shown as console error):
![image](https://user-images.githubusercontent.co

[2021-02-23 17:58] m2-assistant[bot] opened #32265 "[Issue] Change from model save() to repository save() method"
This issue is automatically created based on existing pull request: magento/magento2#32230: Change from model save() to repository save() method

---------
The product models `save()` method is deprecated. And for a good reason: Third party code are not supposed to make changes to models, resource models and collections, but only modify things through service contracts. In short, they should be de

[2021-02-23 21:17] thomas-kl1 commented on #30722
cvx

[2021-02-23 21:39] artttj commented on #32260
@magento I am working on this

[2021-02-23 21:59] sdzhepa commented on #14377
Hello @lc-mayoul @densen45

This issue was investigated again by the Magento team.
Was found it can be reproducible on the latest code with installed MSI functionality.

Based on this was created new issue in the MSI repository: https://github.com/magento/inventory/issues/3288
Please track the progress in the scope of new issue
And feel free to propose your PR with solution

[2021-02-24 04:35] krishprakash commented on #32261
@magento give me 2.4-develop instance

[2021-02-24 04:47] magento-engcom-team commented on #32261
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41034` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-24 06:18] pushpendra07 commented on #29317
@neha023, Can you recreate this issue on Magento provide instance. You need to request to Magento for test instance .

[2021-02-24 07:19] oneserv-heuser commented on #30501
This is definitly still an unresolved issue.

[2021-02-24 07:21] oneserv-heuser commented on #30722
Still an unresolved issue.

[2021-02-24 07:27] faradey opened #32267 "Error happened during deploy process: Path %1 cannot be used with directory %2"
### Preconditions (*)

1. Magento 2.3.6 and Magento 2.4.2
2. Composer 1.10.20

### Steps to reproduce (*)

1. Configuring the loading of modules from local folders.
`{
    "name": "magento/project-community-edition",
    "description": "eCommerce Platform for Growth (Community Edition)",
    "type": "project",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
    "config": {
        "pr

[2021-02-24 07:51] ihor-sviziev commented on #23881
let's keep it open

[2021-02-24 08:00] ihor-sviziev commented on #4871
@hostep seems like the use case is really rare. The author created the issue in 2016, and since that time, no one took it. It's kind of at the end of the backlog, where no one is looking because all the time will be more important. That's why I'm saying it's good to close it. Even if someone wants to fix that - he/she could still find this issue and link PR to it.

[2021-02-24 08:22] khrystynastolbova commented on #31784
@magento I am working on this

[2021-02-24 08:22] khrystynastolbova commented on #31784
@magento add to contributors team

[2021-02-24 08:23] khrystynastolbova commented on #31784
@magento I am working on this

[2021-02-24 08:27] engcom-Delta commented on #32197
Issue was closed according [comment](https://github.com/magento/magento2/issues/32197#issuecomment-784013958)

[2021-02-24 08:27] #32197 closed, assigned to engcom-Delta

[2021-02-24 08:29] engcom-Delta commented on #30700
@PivitParkour94 , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-24 08:29] #30700 closed, assigned to engcom-Delta

[2021-02-24 08:30] engcom-Delta commented on #30560
@WebKenth , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-24 08:30] #30560 closed, assigned to engcom-Delta

[2021-02-24 08:31] engcom-Delta commented on #30874
@zhouzuoxuan , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-24 08:31] #30874 closed, assigned to engcom-Delta

[2021-02-24 09:21] ilnytskyi commented on #32153
We got similar issue with the file. Had to remove problem part of file
[code]

[2021-02-24 09:37] engcom-Alfa commented on #31977
Hi @drdrpetersilie  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-24 09:37] #31977 closed, assigned to engcom-Alfa

[2021-02-24 09:39] engcom-Alfa commented on #27942
@pixel-paul I'm sorry, but I don't have this information.

[2021-02-24 09:39] engcom-Alfa commented on #27942
Hi @Krapulat we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-24 09:39] #27942 closed, assigned to engcom-Alfa

[2021-02-24 10:09] magento-engcom-team commented on #8495
Hi @navarr.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24739` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still r

[2021-02-24 10:09] tzyganu opened #32268 "Breaking BC changes in the product list block"
### Summary (*)
The `\Magento\Catalog\Block\Product\ListProduct::getLoadedProductCollection` is breaking BC (feel free to challenge it) in the 2.4 version.
In 2.4 the method looks like this:

[code]

In 2.3 and before it looked like this:

[code]
The collection iteration inside the method in 2.4 causes the collection to load the db data so any after plugin or around plugin that calls the original

[2021-02-24 10:12] magento-engcom-team commented on #8672
Hi @jzahedieh.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24734` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-24 10:17] engcom-Alfa commented on #31640
Hi @webkul-ajaysaini we are closing this issue due to inactivity.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch.
 Thank you for collaboration.

[2021-02-24 10:17] #31640 closed, assigned to engcom-Alfa

[2021-02-24 10:36] peteandmad opened #32269 "Rest APIs didn't merge product that had same SKU"
### Preconditions (*)

1. Magento version 2.3.4 and 2.3.5-p2.
2. use Rest API rest/V1/carts/mine/items to add product to cart .
3. use Rest API /V1/carts/mine to get cart data.

### Steps to reproduce (*)

1. add some product by using rest/V1/carts/mine/items.
2. when use rest api to get cart data when bought same product, product that had same SKU didn't merge with each other.

### Expected resul

[2021-02-24 10:41] vlmed commented on #32041
@magento run Static Tests

[2021-02-24 11:10] HenKun opened #32270 "Invoice Grand Total wrong if discount applied"
### Preconditions (*)
1. Magento 2.4.1
2. `tax/calculation/price_includes_tax` => `1`
3. `tax/calculation/apply_after_discount` => `1`
4. `tax/calculation/discount_tax` => `1`

### Steps to reproduce (*)

1. Create a product with price 20.50 (including tax as per setting above)
2. Tax is set to 19%
3. Create a cart rule for 100% discount
4. Order the product
5. Create invoice

### Expected result

[2021-02-24 11:11] HenKun commented on #32270
@magento give me 2.4-develop instance

[2021-02-24 11:31] HenKun commented on #32270
Could be reproduced on test instance:

Invoice:
![image](https://user-images.githubusercontent.com/18382633/108994412-0e30ff80-769c-11eb-8a14-f3ccebbc60d0.png)

Order:
![image](https://user-images.githubusercontent.com/18382633/108994488-256fed00-769c-11eb-98cb-3e5ba6ddaf24.png)

[2021-02-24 12:08] navarr opened #32271 "Unable to drag and drop in Google Chrome (dynamic-rows or grid)"
This issue is a re-opening of #8495 which was prematurely closed.  JIRA ticket MC-24739

### Preconditions (*)

1. Magento 2.4-develop
2. Touch-Screen Laptop (emulation instructions included below)
3. Google Chrome 88

### Steps to reproduce (*)

1. Visit the sales order grid
2. Attempt to rearrange columns by clicking one, holding down the mouse button, and moving the mouse

### Expected result (

[2021-02-24 12:15] magento-engcom-team commented on #18724
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41036` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-24 12:33] engcom-Alfa commented on #32247
Hi @JoergLindner . Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop.

**Manual testing scenario:**
1. Create custom templates for  **_Confirmation Link Email_** and **_Welcome Email_**;
![Screenshot from 2021-02-24 14-13-53](https://user-images.githubusercontent.com/51679138/109000383-50fad380-76ac-11eb-97c6-c5329484f955.png)
2. Go to Admin->S

[2021-02-24 12:43] wajahatbashir commented on #23411
I am still facing same issue in Magento 2.4.0. anyone can tell me how to i can fix this issue ?
![account-information](https://user-images.githubusercontent.com/11786908/109002197-b3ad9880-76c7-11eb-8d77-d40ae9dcb7c0.jpg)

[2021-02-24 13:35] magento-engcom-team commented on #23707
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-24 13:35] magento-engcom-team commented on #23669
Hi @ghost.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23833` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still ru

[2021-02-24 14:19] github-jira-sync-bot opened #32274 "Related Products can not be added to the Shopping Cart from a Wish List"
**Preconditions:**

• Magento EE 2.3.5, EE 2.4.0-alpha3{color}  installed
 • A Customer account is created
 • A Configurable Product is created
 • Several Simple products are created and added to the Configurable Product “Related Products”

**Steps to Reproduce:**

• Go to storefront as the created customer
 • Add the Configurable Product to Wish List
 • Go to the Wish List
 • Click “Add to Cart”

[2021-02-24 14:27] korovitskyi commented on #30740
@magento I am working on this

[2021-02-24 14:30] nicholasscottfish commented on #30339
Thanks @tarunpg, this does appear to the issue. We had actually removed the state field via the Magento admin but are using the Fetchify extension for address lookup and this was filling in the hidden state field without us knowing; this then leads on to the issue you described above.

[2021-02-24 15:02] #24393 closed, assigned to engcom-Echo

[2021-02-24 15:12] scott4243 opened #32276 "Manage Gallery not working 2.4.2"
### Preconditions (*)

1.2.4.2
2.

### Steps to reproduce (*)

1.we have quite a lot of pics and the Manage Gallery crashes every time
2.

### Expected result (*)

1. Manage Gallery to open
2.

### Actual result (*)

1. crashed admin and logs me out
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Rep

[2021-02-24 15:44] nbennett25 commented on #31280
@magento any updates here. This issue should not be closed.

[2021-02-24 16:07] nbennett25 opened #32277 "Error: Area code is already set written to system.log 5x every minute"
Using Magento 2.3.5-p2, we are seeing an 'Area code is already set' error logged to the system log file 5 times every minute:

[code]

Seems to be related to the `magento/module-message-queue` module.

It's unclear if there are any concrete implications of the triggering of the error message, but seems like bad form.

### Preconditions (*)

1. Magento 2.3.5-p2
2. PHP 7.3

### Steps to reproduce (*

[2021-02-24 16:07] nbennett25 commented on #31280
Reopened as https://github.com/magento/magento2/issues/32277

[2021-02-24 16:25] korovitskyi commented on #30740
Hi, @rani-priya !
Looks like it is native behavior.
Bundle product as a parent is extending attribute values by their children.
If one of these children has another attribute value of the bundle (parent) product it affects the filter result.
CC: @engcom-Bravo, @engcom-Delta.

[2021-02-24 16:32] carylewis commented on #15828
We are seeing this exact same issue on a 2.3.5p2 EE installation.

Non default web sites appear to not be using the FPC.

[2021-02-24 16:39] carylewis opened #32278 "Magento 2.3.5p2 Multisite Installation - non default websites much slower than default site."
### Preconditions (*)

1. Configure multiple websites in Magento 2.3.5p2 EE
2. Enable FPC - we are using Redis on AWS

### Steps to reproduce (*)

1. Access home page of default web site
2. Access home page of any non-default web site

### Expected result (*)
1. Home pages of default web site should start returning data in approx 800ms

### Actual result (*)
1. Home page of default web site return

[2021-02-24 16:52] mrtuvn commented on #32277
What if you disable message queue publisher? Is this problem happen again ?

[2021-02-24 17:11] alvaroGomides commented on #29444
The only character that is missing is 'ã' => 'a' and 'Ã' => 'a' on Magento\Framework\Filter\Translit convertTable.

I think that's no good way to outline this bug without performance issues.

[2021-02-24 17:16] Eddcapone commented on #5797
I have the same issue in Magento 2.4.2

[2021-02-24 17:37] thomas-kl1 commented on #27883
sdfs

[2021-02-24 18:56] arnoudhgz commented on #23411
@wajahatbashir your error seems to be a different cause. The problem of this issue was not shown on the frontend, but only in the logs (which was a false positive). It also stated a customerid, while it shows empty in your screenshot.

It seems like your screenshot is from the account edit page, but you are not actually showing an url. I would suggest asking help on stackexchange, since this does

[2021-02-24 19:07] #31063 closed, assigned to nobody

[2021-02-24 19:09] magento-engcom-team commented on #31063
Hi @SchranzKatharina.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39445` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-24 19:09] lbajsarowicz commented on #27883
<3

[2021-02-24 19:53] ihor-sviziev commented on #32278
Unfortunately it’s hard to understand what could be wrong here.
Are you using varnish (recommended) or built in FPC? So you have black fire installed? If so - you could just compare results for 2 websites

[2021-02-24 20:06] treestonemedia commented on #29444
@magento give me 2.4.2 instance

[2021-02-24 20:20] carylewis commented on #32278
We are using Redis for the fpc backend.

We encountered this issue a couple of years ago with 2.1.18 and had to fix a magneto core function that prevented magento from being able to obtain the correct store id for non-default web sites.

[2021-02-24 20:27] codewidsaurav commented on #8168
i face this issue in magento 2.4 , in customer > my wishlist --> it shows configurable product image instead of selected variant

[2021-02-24 20:38] treestonemedia opened #32279 "Graphql price tiers returning data from previous item in foreach"
### Preconditions

1. Clean Magento 2.4.2 with sample data
1. 2.4-develop

### Steps to reproduce (*)

1. Install clean Magento 2.4.2 with sample data
1. Add tier pricing to any item (for this example we added tier prices to items ID 1 & 2)
1. run Graphql query with search that will include the item with tier prices and items without tier prices
[code]

1. The issue started happening since commit

[2021-02-24 22:16] carlos-reynosa commented on #8892
I think this is also an issue within the category page.

[2021-02-25 02:35] huykon commented on #5273
I am facing with same problem although I deleted the custom theme_id in theme table then problem still on only category page. How can I update custom theme_id value for each category page or which table stored that? @RicardoGalleguillos @Arshad83

[2021-02-25 03:30] thewhiterabbit opened #32280 "Magento just plain sucks. Magento 2.4.2 is unusable. Period."
I thought maybe I'd try to use Magento 2.4.2 for a recent project.

I flowed all the installation instructions.

The first time I tried to add a product, Error: Could not add Index, yada whatever.

Restart elastic search because, you know, pass the buck.

Product save button press, wait 2 minutes. Reload page. Empty fields. Goto Catalog>Products. Oh, it added product.

Try to update descriptions t

[2021-02-25 03:30] thewhiterabbit commented on #32280
GFYS, robot.

[2021-02-25 03:53] thewhiterabbit commented on #32280
Nope. That instance loads like 56k dial-up. Nope.

If Adobe wants proper engineering consulting with best practices for data architecture, scalability, and integration...maybe I'd be interested, to start from scratch.

I charge $2500 for 10 hour consulting blocks. Maximum 30 hours per month. I need my "me time".

Good luck, Adobe, Magento. You used to be good.

[2021-02-25 04:13] rkarthikeyan210 commented on #7994
@GlobalOutsourcing @calvintwr , I got the same issue in my QA environment. As per your solution (lib/web/*) files are missing. So I copied from my local setup, then its worked. Thanks

Note: But, I dont know whether this is the correct solution. Plesae advice me.

[2021-02-25 05:54] koushikch7 commented on #27161
@magento give me 2.4-develop instance

[2021-02-25 05:59] arvind-curotec commented on #29786
This happens in 2.4.2 when run on PHP 7.3

[2021-02-25 06:03] nickpiro commented on #31642
This shouldn't be closed. This is also an issue in 2.3.6 that has NOT been resolved apparently in 2.4.1?

[2021-02-25 06:04] nickpiro commented on #31642
@engcom-Delta it doesn't happen for ALL customers. I've noticed this issue tends to happen for customers or are checking out as guest, but it definitely does happen for existing customers as well. In my scenario, It seems when a customer adds an address in the checkout process. Particularly we're using stock checkout from Luma.

[2021-02-25 06:58] hostep commented on #5797
@Eddcapone: please open a new issue, the fix mentioned above is still in Magento 2.4.2 so you are probably running against a new bug.

[2021-02-25 07:14] ihor-sviziev commented on #32278
@carylewis please provide more info how we can reproduce this issue on clean magento installation

[2021-02-25 07:20] VipinSimploics opened #32281 "Wrong CSS and Script file path on web application"
We are creating a new image from the live server and configure the server, Mysql, and Magento2 files.
After completing this deployment, open the website on the browser, but the page loaded without  layout (CSS and script)

Current css path:
1)http://47.245.7.201/pub/static/version1591318382/frontend/Magento/luma/ja_JP/css/original.css
2)http://47.245.7.201/frontend/Magento/luma/en_US/fonts/Luma-Ic

[2021-02-25 07:35] wilfriedwolf commented on #31237
Do I get something wrong? Why is the bot marking the issue as stale, although it is a confirmed bug, ready for dev? How should I ever notice if it is fixed, if the bot closes the issue?

[2021-02-25 07:39] trunglv commented on #30540
Already fixed in Magento 2.4.2. Thanks

[2021-02-25 08:54] mrtuvn commented on #28913
I think css critical not help much in this case when magento site current have so much requests js file. If you inspect source you will see a lot js file loading and it's may blocking page render. Seem when enable critical some other source have lower prioritize. Load later. Too much js delay time for eye notices jank visually

[2021-02-25 09:00] hostep opened #32283 "Mysql UNIQUE_CHECKS is disabled for data manipulation while it should only be disabled for schema manipulations"
### Preconditions (*)
1. A Magento installation with declarative schema (so Magento 2.2.0 and higher)
2. Some unknown combination of a mysql version or settings or some other environmental thing, is not always reproducible, which is very strange ...

### Steps to reproduce (*)
1. Have some data patch which inserts duplicated values in a database table which would normally be prevented by a unique

[2021-02-25 09:49] rodolfo2111 opened #32284 "VAT number validation is not working since some days in Magento2"
### Summary (*)
VAT number validation does not work anymore in Magento
When I try to validate a VAT number in the Magento backend Stores --> Configuration --> General --> General I always receive the message: "Error during VAT number verification" .
The same problem occurs when I try to automatically check the VAT number of a customer during the registration process.
Everything worked fine some da

[2021-02-25 10:07] #27268 closed, assigned to nobody

[2021-02-25 10:09] magento-engcom-team commented on #27268
Hi @JacobDrummond.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37428` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-25 10:13] devchris79 commented on #32284
Magento requires the VAT number without the Country code. We use a free add on to allow country codes (CopeX_VatFix).

[2021-02-25 10:16] rodolfo2111 commented on #32284
@devchris79 : I also tried it without the country code and it does not work. However, it also worked with the country code some days ago. So unfortunately this cannot be the reason for the problem

[2021-02-25 10:42] devchris79 commented on #32284
@rodolfo2111 The country code is the AT part only (Austria), the U123456 is the code required.

[2021-02-25 10:49] rodolfo2111 commented on #32284
@devchris79 : I tried all variants ;-) It does not work. And it definitively worked with the ATU in the past
![Bildschirmfoto vom 2021-02-25 11-17-06](https://user-images.githubusercontent.com/79634506/109142716-7d235c80-775f-11eb-88f4-51861b621d4d.png)

[2021-02-25 10:54] devchris79 commented on #32284
Try a genuine Austrian VAT number, like this one:
U16168803

[2021-02-25 10:57] rodolfo2111 commented on #32284
@devchris79 : i tried, also  one and the one you provided.
![Bildschirmfoto vom 2021-02-25 11-55-43](https://user-images.githubusercontent.com/79634506/109143664-937de800-7760-11eb-9a86-fd0189dbaa87.png)

[2021-02-25 11:01] thomas-kl1 commented on #27180
@magento create-issue

[2021-02-25 11:23] rkapu opened #32285 "Magento 2.4.2 old docroot logic does not work without workaround"
Hello!
On the other day i had a task to install magento 2.4.2 for testing purposes. I am holding my testing shops in subdirectories.
Version 2.4.2 does not work with that logic from the start because it's following new pub docroot path.
Magento is working perfectly fine if I will create a virtual host that points on pub directory. But on some testing servers i would preffer to hold different magen

[2021-02-25 11:25] devchris79 commented on #32284
There was #27874 when the validation URL changed, but that was some time ago.

[2021-02-25 11:28] rodolfo2111 commented on #32284
yes, I have seen this issue. Since I have the latest Magento version 2.4.1 the link should be correct: 'https://ec.europa.eu/taxation_customs/vies/checkVatService.wsdl';

[2021-02-25 12:07] #27836 closed, assigned to nobody

[2021-02-25 12:19] bmitchell-ldg commented on #30128
Spent a little more time looking into this and found the following;
When an order is placed depending on if the stock status is changed it either sends 2 or 3 purges to varnish.

Place an order with a product that has plenty of stock and the purges are sent from
- Magento\Indexer\Model\Processor\CleanCache function called afterUpdateMview
- Magento\Indexer\Model\Indexer\CacheCleaner function calle

[2021-02-25 12:31] harrigo commented on #28420
Yeah same issue, 2.3.5-p1, the fix however seems great just created a patch like below from the diff and then applied via composer on that commit and it worked a treat:

diff --git a/Model/Export/Adapter/Csv.php b//Model/Export/Adapter/Csv.php
index 09b17371ae4e..bc4fcd9218e4 100644
--- a/Model/Export/Adapter/Csv.php
+++ b/Model/Export/Adapter/Csv.php
@@ -54,6 +54,18 @@ public function destruct()

[2021-02-25 12:33] engcom-Bravo commented on #32181
Hello @reshadzazai

Sorry for the delay.

We have done some investigation on the issue. Yes, if the DHL account has been created for the US, then another country can be set in the _Shipping origin_
We have rechecked with DHL account for US, and setting Afganistan in _Stores - Configuration - Sales - Shipping Settings - Origin_
![origin](https://user-images.githubusercontent.com/51680745/109143418-

[2021-02-25 14:14] gabrieldagama commented on #31849
Hi @mrtuvn @engcom-Alfa I believe the problem mentioned previously on this issue was fixed. The problem with the `There are no source items with the in stock status` string not being translatable is likely a different one. It seems to be related to the way these error messages are handled.

I believe this issue wasn't reproducible anymore and we should close it. We can open a new issue to handle t

[2021-02-25 14:19] shawnabramson commented on #32280
It sounds like you didn't follow best practices and modified the core. Or maybe Magento didn't like your overall attitude and it said "screw this" Im not going to compile for this guy.

Here are links to some qualified trainings:
https://www.yireo.com/magento
https://www.mage2.tv/
https://m.academy/

[2021-02-25 14:25] engcom-Delta commented on #29115
Issue is not reproducible on the latest 2.4-develop according testing scenario from [comment](https://github.com/magento/magento2/issues/29115#issuecomment-646081743)
**Result:**
:heavy_check_mark: No message about choosing options on "Thank you for your purchase!" page
![Peek 2021-02-25 16-21](https://user-images.githubusercontent.com/51681379/109167070-0c436b00-7786-11eb-89b3-d05ab414c374.gif)

[2021-02-25 14:25] #29115 closed, assigned to engcom-Delta

[2021-02-25 14:28] gabrieldagama commented on #31775
Hi @rahulanand77, after discussion with the product owner it was clear that this is not a bug. As it is right now, that is not something we currently support and there are several concerns with its implementation, as described on the PRs that were open against this issue.

I will be closing the issue since there are no plans for developing such a feature at the moment.

[2021-02-25 14:28] #31775 closed, assigned to nobody

[2021-02-25 14:30] magento-engcom-team commented on #31775
Hi @rahulanand77, @engcom-Charlie.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40524` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-25 14:32] engcom-Delta commented on #28556
@denissio777 , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-25 14:32] #28556 closed, assigned to engcom-Delta

[2021-02-25 14:33] engcom-Bravo commented on #31978
We are closing this issue due to inactivity. Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2021-02-25 14:33] #31978 closed, assigned to engcom-Bravo

[2021-02-25 15:19] mrtuvn commented on #31849
I'm not sure there are plenty places can show message when error happen! We may not check all. Let's author recheck and decide.

[2021-02-25 15:20] Eddcapone opened #32289 "How to re install missing foreign-key constraints?"
### Summary (*)

I am using a third party extension.
I noticed that a constraint is missing by comparing with a fresh installation. This causes a bug when deleting an item of the extension.

Is there a command which is able to install missing constraints?

I've tried

[code]

but none of these commands re-installed the missing constraint.

--------

The only way I've found is deleting the table an

[2021-02-25 15:27] #32280 closed

[2021-02-25 15:29] gabrieldagama commented on #31849
@siimm can you confirm if this error still reproducible with the string `Some of the products are out of stock.` as described when the issue was opened?

[2021-02-25 15:30] bgorski commented on #32280
I closed the issue as it was an expression of one's opinion instead of an actual bug report. @thewhiterabbit if you'd like to report actual issues (like what you mentioned with descriptions or indexers), please open new issues formatted according to the template. Thanks!

[2021-02-25 15:33] bagbarn commented on #29786
We are running on php ^7.4

    On Thursday, February 25, 2021, 1:00:09 AM EST, Arvind Bhardwaj <notifications@github.com> wrote:

This happens in 2.4.2 when run on PHP 7.3

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-25 15:40] siimm commented on #31849
@gabrieldagama I will try and get back to you

[2021-02-25 15:47] torhoehn commented on #26052
@magento-engcom-team What was fixed in `MC-29939`?

[2021-02-25 16:17] mrtuvn commented on #31849
Note this patch not available in 2.4.1 or 2.4.2. You need to reproduce issue with github 2.4-develop

[2021-02-25 16:36] Leland commented on #28913
Yes, there are other things that could be moved off the critical path. That doesn't mean that critical CSS is pointless though, and, besides, this issue is about the fact that the critical CSS in Luma is _not good_. This repo should have an example of a really well-made critical CSS file.

[2021-02-25 17:14] nordcomputer commented on #30046
I think, this behavior is still a thing...(magento 2.4.2) - so, I guess the stale-bot is wrong....

[2021-02-25 17:30] springerin commented on #22273
Same issue on magento 2.3.6 instances.

[2021-02-25 17:41] gabrieldagama commented on #30726
Hi @gwharton, thanks for reporting! Fixing such an issue will likely be backward-incompatible, so we have tagged this issue as 2.5 milestone. You can find a workaround for this problem here: \Magento\Sales\Model\Order\OrderCustomerExtractor::extract

Hope that helps.

[2021-02-25 18:21] reshadzazai commented on #32181
Hello @engcom-Bravo
Thanks for taking the time to work on the issue, below are my configurations.
Note: I have 3 websites in a single Magento 2.3.6 instance:
1. US
2. Afghanistan
3. Australia

The Scope for the Price attribute has been set to the Website level in the Stores-->Settings--> Configuration--> Catalog--> Price--> Catalog Price Scope: Website
![Scope Price](https://user-images.githubuser

[2021-02-25 18:37] treestonemedia commented on #32279
@Usik2203 can you please take a look at this?

[2021-02-25 18:45] sanganb commented on #8350
I am facing same issue in storefront - checkout shipping pop up form when we add new address.
![image](https://user-images.githubusercontent.com/73931635/109201220-952ec680-77c7-11eb-96ec-b1a5325e1d2d.png)

when we add new address in checkout shipping form which address already exist is creating new address rather than not allowing

[2021-02-25 18:47] sanganb commented on #8350
@vipinroy  @veloraven @tristanisginger

[2021-02-25 18:51] sanganb commented on #15403
Duplicate address in Checkout shipping address:

Reproduce:

1. GO to checkout as logged in user
2. Its shows already saved shipping address (OR add shipping address in customer my account)
3. CLick Add new Address button
4. Add address same as already exists in site
5. which is allowed to create new address

Expected Result:
When add new address same as existing which should set existing and sele

[2021-02-25 19:51] denisflosi1 commented on #17309
@magento-engcom-team give me 2.3.5-p1 instance

[2021-02-25 19:54] denisflosi1 commented on #17309
@magento-engcom-team give me 2.3.5-p1 instance

[2021-02-25 19:57] denisflosi1 commented on #18073
@magento-engcom-team give me 2.3.5-p1 instance

[2021-02-25 20:17] Stoyvo opened #32291 "Unable to save system configuration - Array to string conversion"
### Preconditions (*)

1. Magento 2.4.2 (existed in 2.3.1)

### Steps to reproduce (*)
1. Create a custom module
2. Create `app/code/Example/MyModule/Block/Adminhtml/Form/Field/MyOptions.php`
[code]

3. Create Admin system xml `app/code/Example/MyModule/etc/adminhtml/system.xml`
[code]

4. Create config.xml `app/code/Example/MyModule/etc/config.xml`
[code]

5. Enable Module (cli)
6. Login to admin

[2021-02-25 20:22] Stoyvo commented on #32291
Only workaround available is to manually insert records into core_config_data with SQL query... Not a good workaround, but after this manual query is executed it will allow admin to save.

[2021-02-25 21:09] zaximus84 opened #32292 "Custom admin UI component grid breaks when collection is not AbstractDb"
### Preconditions (*)

1. Install Magento 2.4.2
2. Build a custom admin grid using UI components and a data provider.
3. Use a collection for your data provider that extends Magento\Framework\Data\Collection, but not Magento\Framework\Data\Collection\AbstractDb.

### Steps to reproduce (*)

1. Attempt to view the grid in admin.

### Expected result (*)

1. The grid displays without error.

### Act

[2021-02-25 21:40] MirkoHuf commented on #31753
Hi, any help for Magento 2.3.6 available?
In 2.3.5-p2 I don't have a app/code/Magento/ProductVideo/Test/Mftf/ActionGroup/AssertProductVideoStorefrontProductPageActionGroup.xml file.
I changed all the rest - but it didn't work.
I have already cleared the cache and did a "php bin/magento setup:static-content:deploy --theme Magento/backend". But the problem still exist.
Thanks in advance.

[2021-02-25 21:44] gcampedelli commented on #31753
Hi, you can try my patch in this topic, or just manually change "get-video-information.js" accordingly.

[2021-02-26 00:01] danieldespainTLS commented on #24735
This was a terrible fix!  Now, with the width/2 code, you just get a teeny tiny image in a big white space.  The correct solution would be to put an image that's LARGER than the 75 pixel container into the space to accommodate the @2x resolution.

[2021-02-26 01:02] incarnate commented on #32285
I've had a similar experience as AstroniumGIT - fresh install in a subdirectory and changed the `.htaccess` file to include the subdirectory in the rewrite rule. Trying to access the setup resulted in infinite redirects to /pub/setup. After performing the installation via the CLI, all pages return 404 same as screenshot 4 above.

I can't find any documentation around this change (granted this is a

[2021-02-26 01:04] mrtuvn commented on #28913
Seem we need extra work with critical for magento luma. From the docs guide i see some approach with penthouse but I'm not sure which is correct way

[2021-02-26 04:21] xeontcs commented on #10978
Any solution for this issue? Reproduced in the Magento 2.3.5-p1

[2021-02-26 04:49] mrtuvn commented on #32289
Maybe problem related with this solution https://github.com/magento/magento2/pull/32286

[2021-02-26 05:42] jupiterhs commented on #32256
Hi @engcom-Bravo
Hope you having a good day :)
did you get a chance to check this out?

[2021-02-26 06:14] sanganb opened #32294 "Duplicate shipping address in Checkout shipping - magento2"
### Preconditions (*)

1.Magento 2.3.5
2. Magento 2.4-develop

### Steps to reproduce (*)

1. GO to checkout as logged in user
2. Its shows already saved shipping address (OR add shipping address in customer my account)
3. Click Add new Address button
4. Add address same as already exists in site
5. which is allowed to create new address

### Expected result (*)

1. When we save new address in che

[2021-02-26 06:53] koushikch7 commented on #29566
should reopen the ticket, this is the same for me as well.

[2021-02-26 06:55] koushikch7 commented on #29566
@magento reopen the ticket

[2021-02-26 07:08] hostep commented on #32289
Nope, that's something completely different :)

@Eddcapone, you'll need to provide some more details and actually github isn't really the correct place to discuss these sort of things, you'll probably want to try https://magento.stackexchange.com/
Issues on github should have very clear steps about how we can reproduce these before we can consider this a bug in Magento itself. If this is a problem

[2021-02-26 07:27] engcom-Delta commented on #31814
@jorgb90  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-26 07:27] #31814 closed, assigned to engcom-Delta

[2021-02-26 07:32] thewhiterabbit commented on #32280
My practices reflect perfection. Your apparent lack of overall intelligence prevents you from insulting me. My attitude towards junk is a direct reflection of the experience with the junk that is Magento.

I'm not the only human that has deduced the _fact_ that Magento is in a degenerate state.

When users have to jump through hoops to install an app that still doesn't work properly, it's called f

[2021-02-26 07:37] faradey opened #32296 "The requested class did not generate properly, because the 'generated' directory permission is read-only."
### Preconditions (*)

1. Magento 2.3.6, Magento 2.4.2
2. Magento 2 Cloud 2.4.0

### Steps to reproduce (*)

1. Specify such a proxy class in the di.xml module
 `<type name="Extmag\Shiplab\Model\LabelRepository"><arguments><argument name="trackRepository" xsi:type="object">
Magento\Sales\Api\ShipmentTrackRepositoryInterface\Proxy
</argument></arguments></type>`
2. Run command setup:di:compile
3. S

[2021-02-26 07:55] engcom-Delta commented on #28226
@magento give me 2.4-develop instance

[2021-02-26 08:09] engcom-Alfa commented on #32134
Hi @atolodas  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-26 08:09] #32134 closed, assigned to engcom-Alfa

[2021-02-26 08:10] rodolfo2111 commented on #32284
I identified that the Service is working on my local Magneto instance (which is a 1:1 copy of the live system) correctly ... so it seems to be a problem with my Server instance. I will check this with my provider and keep you updated

[2021-02-26 08:16] Stoyvo commented on #32291
I have temporarily patched it with this:
Edit: `vendor/magento/framework/App/Config/Value.php`
Find: `getOldValue` function and replace with:
[code]

I would use Magentos Serializer (which wraps json_encode with a try/catch), however the __constructor of this class is not DI and is explicitly called 82 times. Maybe something can be done with a virtual type and a preference?

[2021-02-26 08:19] Eddcapone commented on #32289
@hostep , This is not a bug report. I created the issue under **Developer Experience Issue**.

I did not added steps since I thought it is self explanatory. To reproduce you just have to delete a random constraint and then try to look for a command which is able to install it again.

![image](https://user-images.githubusercontent.com/16349349/109274328-a998b080-7813-11eb-9ee1-c4801c93e17b.png)

[2021-02-26 08:27] engcom-Delta commented on #28226
@ParimalSigma Did you check page loading with disable cache?

[2021-02-26 08:28] m2-assistant[bot] opened #32297 "[Issue] Fix syntax error in jQuery cookie when samesite option not set"
This issue is automatically created based on existing pull request: magento/magento2#32266: Fix syntax error in jQuery cookie when samesite option not set

---------

### Description (*)

If the `samesite` option was not set, the cookie would be malformed due to a dangling `lax` being appended to it. For example calling `$.cookie('foo', 'bar', {domain: 'foobar.com'})` would call `document.cookie =

[2021-02-26 08:40] engcom-Delta commented on #31024
@grassst Looks like issue was caused by your custom theme/extension.
Is this issue solved for you and could be closed?

[2021-02-26 08:45] engcom-Delta commented on #31915
@bagbarn Is this issue still actual on the latest magento version 2.4.2?

[2021-02-26 08:49] magento-engcom-team commented on #17591
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41071` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-26 09:05] gaiterjones commented on #11527
@saderra was this issue ever resolved for you?

[2021-02-26 09:14] bartoszkubicki opened #32300 "Adding subgroup in system.xml causes error"
### Preconditions (*)

1. Magento 2.3.6

### Steps to reproduce (*)

1. Create module that has in system.xml nested groups, what, according to docs is possible - https://devdocs.magento.com/guides/v2.4/config-guide/prod/config-reference-systemxml.html#group-node-reference
Example:
[code]

2. Save values for these fields

### Expected result (*)

1. Configuration loaded, app works normally.

### Ac

[2021-02-26 09:50] grassst commented on #31024
Hi,
yes the issue is now solved and it looks like it was a issue in my theme.
So for me it is ok to close this issue.

Thank you.

[2021-02-26 09:54] ihor-sviziev commented on #32296
Hi @faradey,
Please contact Magento Cloud support to fix this issue. Also, you could ask for help in the `#cloud` channel in EngCom Slack.
This repository relates to Magento in general and not to Magento Cloud. That's why I'm closing this issue.

[2021-02-26 10:14] faradey commented on #32296
Hi @ihor-sviziev,
I think this is Magento's problem. Magento Cloud is a special case.
If you work in developer mode, the file is created. If you run setup: di: compile, the file is not created. There is inconsistency in Magento's behavior in developer mode and during compilation. Two identical actions cannot give different results.

[2021-02-26 10:19] rodolfo2111 commented on #32284
I identified the following message in the log file: main.CRITICAL: javax.xml.rpc.soap.SOAPFaultException: IP_BLOCKED [] []

[2021-02-26 10:40] thinkfix commented on #27126
@magento-engcom-team @shikhamis11
Waiting for updates on this issue

[2021-02-26 11:51] ihor-sviziev commented on #32296
@faradey feels like you have some issue with permissions. on Magento Cloud I believe only during build phase you have write permissions to the generated folder. That's why you're getting this issue.

[2021-02-26 11:52] engcom-Bravo commented on #32256
Hello @jupiterhs

Sorry for the delay. We Confirm that the issue is reproducible on the latest 2.4-develop.
Thank you for updating the description, and for communication.

[2021-02-26 11:54] magento-engcom-team commented on #32256
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41078` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-26 12:06] faradey commented on #32296
Hi @ihor-sviziev,
I have done some research and described step by step how to repeat the error. My folder permissions are correct. I have rechecked several times. I even gave full rights to folders to all users. And it didn't help. Please disregard Magento Cloud. This is happening with the Magento Community. This is repeated both locally and on the server.
I am ready to provide the necessary addit

[2021-02-26 12:34] ihor-sviziev commented on #32296
@faradey steps to reproduce not clear to me. Why should you 2 times add the same piece to di.xml?
The correct version will be w/o spaced near the argument, like this:
[code]

[2021-02-26 12:41] ihor-sviziev commented on #21370
Hi @dnsv @engcom-Delta,
All the sessions should be used using a proxy class due to the session start in the constructor.

Does this issue reproducing in case if we'll define Proxy for the SessionManager object?

[2021-02-26 12:49] faradey commented on #32296
Points 1, 2 are done separately from points 3, 4.
First, in points 1 and 2, add a line break code to di.xml https://tinyurl.com/y9reywq7 . Check if the proxy class is being created in developer mode. If the class was created, then delete it. And then you do the compilation. And check if the proxy class has been created. The file will not be created.

Then follow steps 3.4. Change (add) the code wi

[2021-02-26 12:56] engcom-Bravo commented on #32181
Hello @reshadzazai

Thank you for the detailed description. It's really helpful.
Can you please also share the **shipping.log** from _var/logs_

That would also be extremely helpful.
Thank you in advance.

[2021-02-26 12:56] DavidLambauer opened #32302 "API add to cart with simple product but different options increases qty instead of adding new cart item"
We're trying to add the same simple product into the cart, but with custom options through the api. The expected result would be to have 2 items in the cart with different custom options. Actual result is the first item is in cart with qty of 2.

### Preconditions

Magento Version 2.4.2

### Steps to reproduce

You might want to check the video attached below

https://user-images.githubusercontent

[2021-02-26 13:02] faradey commented on #32296
It is best to put the site in maintenance mode so that the cron does not interfere. Otherwise, proxy files can be created for the cron, if the cron tasks use proxy classes.

[2021-02-26 13:03] engcom-Bravo commented on #32126
We are closing this issue due to inactivity. Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2021-02-26 13:03] #32126 closed, assigned to engcom-Bravo

[2021-02-26 13:11] Nuranto opened #32303 "Declarative schema bug : default value cannot be negative on signed int"
### Preconditions (*)

Magento 2.4.1

### Steps to reproduce (*)

Create a table with thoses columns :

[code]

Note that `unsigned` is set to false.

### Expected result (*)

Table is created

### Actual result (*)

[code]

### Additional Information
Attaching module which helps in issue reproduction:
[Magz.zip](https://github.com/magento/magento2/files/9775478/Magz.zip)

---
Please provide [Seve

[2021-02-26 13:30] reshadzazai commented on #32181
Hi @engcom-Bravo
Here are the contents of the var/log/shipping.log file
[code]

[2021-02-26 13:34] ihor-sviziev commented on #32296
Ok. It seems like the trimming is missing somewhere, right?

✔ works fine
[code]

❌ doesn't work
[code]

Am I right?

[2021-02-26 13:37] faradey commented on #32296
@ihor-sviziev,
yes, cropping is missing somewhere. But I didn't have enough time to figure out the very place in the code where this happens.

[2021-02-26 13:37] vandijkstef commented on #10664
I was able to reproduce this issue, or at least very similar, on CE-2.3.4 using the Magento blank theme and the demo data set. Basically I set 'tops' & 'bottoms' under the 'women' section to hide from menu, and it starts displaying all the children of those items. Note; Im taking out a 'middle' category, not a top-level one. Also disabled a module that *might* influence the top-menu, but no change

[2021-02-26 14:11] magento-engcom-team commented on #32294
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41083` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-26 14:35] engcom-Bravo commented on #32279
Hello @treestonemedia

Thank you for your report.

We have reproduced the reported issue on the latest 2.4-develop.
After adding tier price to the products _24-MB01_ and _24-MB04_, the GraphQL search query returns tier prices for products that have not been changed.
**Before** adding tier price to products _24-MB01_ and _24-MB04_
[code]
**After** adding tier price to products _24-MB01_ and _24-MB0

[2021-02-26 14:36] magento-engcom-team commented on #32279
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41084` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-26 14:43] carylewis commented on #32278
We are trying to reproduce on a vanilla Magneto 2.3.5 installation.

What appears to be happening though is this:

The very first time a user accesses a non-default website, the full page cache is not used, and we this `X-Magento-Cache-Debug: MISS` in the header.

Accessing the default web site results in `X-Magento-Cache-Debug: HIT` being reported.

Once a session has been established a subsequen

[2021-02-26 14:52] ihor-sviziev commented on #32278
@carylewis do you have single domain for multiple stores, or own domain per store?

[2021-02-26 15:11] carylewis commented on #32278
Multiple domains, some domains have multiple stores / store views.

[2021-02-26 15:18] an4rei commented on #26573
For anyone upgrading to 2.4.2, now you need to remove all of the below:

**Dotdigitalgroup_Email**
**Dotdigitalgroup_Chat**
**Dotdigitalgroup_Sms**    (new crapware that breaks your backend if you have the other 2 modules disabled)

Why is dotdigitalgroup still included in magento 2?

[2021-02-26 15:22] bagbarn commented on #31915
I am still trying to upgrade from 2.4.0.  The dependency issue with Magento inventory modules prevents me from upgrading via composer modules from outside vendors.  Have not yet tried the composer upgrade to 2.4.2 yet but will try over the weekend and update the modules after upgrading. 

 When attempting to upgrade to 2.4.1 we did use php7.3 in order to install elasticsearch but 7.4 is the defaul

[2021-02-26 15:56] emmxx22 opened #32305 "upgrading magento 2.3.5 to magento 2.4.2"
### Summary (* i am trying to upgrade my magento 2.3.5 to 2.4.2 using web setup wizard from admin dashboard and i run into these errors at readiness check, cron scripts, component dependency, php settings and  missing php extensions)

### Examples (* Cron script readiness check failed. Hide detail

Error from Setup Application Cron Script:
Cron job has not been configured yet
Other checks will fai

[2021-02-26 16:01] Usik2203 commented on #32279
@magento I am working on this

[2021-02-26 16:56] #32263 closed, assigned to nobody

[2021-02-26 17:01] Stoyvo commented on #32291
To Patch with Composer:
[code]

[2021-02-26 17:09] nuzil commented on #32284
Hey @rodolfo2111 looks like your server is blocking requests to EU Service, so I'm closing issue as its not related to Magento itself.

[2021-02-26 17:09] #32284 closed, assigned to nobody

[2021-02-26 17:21] jglassmaker opened #32306 "GET orders API using search criteria sometimes returns "same id" error"
### Preconditions (*)
Magento 2.4.2

### Steps to reproduce (*)
1. Populate an instance with many orders
2. Using the /orders/?searchCriteria API call fetch those orders

### Expected result (*)
A collection of orders is returned

### Actual result (*)
A fatal error is returned
`Item (Magento\Sales\Model\Order\Interceptor) with the same ID "93310" already exists.`

This issue is difficult to produ

[2021-02-26 17:44] denis-zyk opened #32307 "Invoice confirmation email showing incorrect row totals when partially cancelled"
Invoice confirmation email showing incorrect row totals when partially cancelled as it displays amounts from order item, not from invoice item.

### Preconditions (*)

1. Magento Commerce 2.4.1
2. PHP 7.4.15

### Steps to reproduce (*)

1. Add few products to the cart with multiple qty
2. Proceed to checkout and complete the order
3. Invoice the order for partial qty in backend
4. Ship the same qt

[2021-02-26 17:54] JMC-PK commented on #14113
Did this ever get fixed? I can confirm that this is still happening on 2.3.2 & is not fixed in 2.3.0 as @magento-engcom-team  claimed. Was about to begin the process of updating to 2.4.x and was looking into if this was fixed yet or not.

[2021-02-26 17:56] clusain commented on #32306
I am also seeing this issue and would like to know how to fix.

[2021-02-26 18:08] denis-zyk commented on #32307
@magento give me 2.4-develop instance

[2021-02-26 18:38] denis-zyk commented on #32307
@magento I am working on this

[2021-02-26 18:41] denis-zyk commented on #32307
@magento add to contributors team

[2021-02-26 18:41] denis-zyk commented on #32307
@magento add to contributors team

[2021-02-26 18:43] denis-zyk commented on #32307
@magento I am working on this

[2021-02-26 23:28] dreiren commented on #18229
I have experienced this issue same with @Prashanthtop12 and @msainadh. I am using Magento 2.3.6 version.

I already applied this patch.

and enabled maintenance, reset indexation, remove cron tasks then reindex again, but still I'm getting this error

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'WB_Prod_Main.catalog_product_index_price_temp' doesn't exist, query was: INSERT INTO `cat

[2021-02-27 06:24] denchev commented on #18229
@dreiren Could you try setting the dimensions mode https://community.magento.com/t5/Magento-DevBlog/Indexers-parallelization-and-optimization/ba-p/104922? I continue to have this issue on a Magento Cloud project and I had to involve the support team. They recommended switching to a parallel indexation.

`php bin/magento indexer:set-dimensions-mode catalog_product_price website_and_customer_group`

[2021-02-27 11:52] pixiemediaweb commented on #18089
I've just had this issue with 2.3.6- turned out CURL needed an update on the server.   You can test by logging into the server as root and running;

curl -v -s https://api-3t.sandbox.paypal.com/nvp

If this fails, update curl

yum update curl  (if you're in a centos environment)

Hope this helps someone.

[2021-02-27 11:54] pixiemediaweb commented on #31105
I've just had this issue with 2.3.6 - turned out CURL needed an update on the server.   You can test by logging into the server as root and running;

curl -v -s https://api-3t.sandbox.paypal.com/nvp

If this fails, update curl

yum update curl  (if you're in a centos environment)

Hope this helps someone.

[2021-02-27 12:57] rahulanand77 commented on #31775
Hi @magento-engcom-team ,

This is not correct. We have upgraded to 2.4.4 thinking the fix will be available. The fix is not available and sort by quantity is not working. The same can be checked on https://eavs-groupe.fr/smart-building/visioconference/cameras-ptz.html?product_list_order=quantity_and_stock_status&product_list_dir=desc

[2021-02-27 13:05] paradigmecommerce commented on #26896
Anyone got any resolution for the same. This issue is there in Magento 2.4.2 as well

[2021-02-27 14:53] Nuranto opened #32309 "IncosistentReferenceDefinition wrong check result"
### Preconditions (*)

Magento 2.4.1

In Magento\Framework\Setup\Declaration\Schema\Declaration\ValidationRules\ IncosistentReferenceDefinition

[code]

should be

[code]

Also, The class is named wrong :) (Incosistent instead of Inconsistent)

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. Th

[2021-02-27 16:13] AndreyChorniy commented on #31782
Depend from task https://github.com/magento/magento2/issues/31346
Waiting for merging them firstly

[2021-02-27 20:44] Daymonmoss commented on #25294
I have this issue in 2.4.2

[2021-02-28 06:58] mrtuvn commented on #30653
Current controller product view from Catalog call to Helper Product View to `initProductLayout`
This do seri action for update layout

addBodyClass only update html class in html lang attribute DOM and not relate to any layout build
![Screenshot from 2021-02-28 13-55-33](https://user-images.githubusercontent.com/1908873/109410376-c4faeb80-79cc-11eb-8729-b4b4338b5dd9.png)

[2021-02-28 07:06] mrtuvn commented on #30653
CC: @kandy @
What about violation of the principles of Separation of Concerns

[2021-02-28 12:40] victortodoran commented on #32309
@magento give me 2.4-develop instance

[2021-02-28 13:20] victortodoran opened #32310 "From Admin Customer Edit can not associate customer to website when Config > Share Customer Accounts is set to Global"
### Preconditions (*)

1. Latest Magento release
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Create a secondary website.
2. Associate a new store to website from 1.
3. Associate a new store view to store from 2.
4. Ensure Stores > Configuration > Customer > Customer Configuration > Account Sharing Options  is set to Global
5. Go to Admin > Customer > Edit > Account Information and try t

[2021-02-28 15:40] #28754 closed, assigned to nobody

[2021-02-28 22:22] #16556 closed, assigned to nobody

[2021-03-01 00:25] #22024 closed, assigned to nobody

[2021-03-01 00:25] #22161 closed, assigned to nobody

[2021-03-01 00:25] #22253 closed, assigned to nobody

[2021-03-01 00:25] #22257 closed, assigned to nobody

[2021-03-01 00:25] #22271 closed, assigned to nobody

[2021-03-01 00:25] #22408 closed, assigned to nobody

[2021-03-01 00:25] #22427 closed, assigned to nobody

[2021-03-01 00:25] #22443 closed, assigned to nobody

[2021-03-01 00:25] #22459 closed, assigned to nobody

[2021-03-01 00:25] #22539 closed, assigned to nobody

[2021-03-01 00:25] #22591 closed, assigned to nobody

[2021-03-01 00:25] #22562 closed, assigned to nobody

[2021-03-01 00:25] #22756 closed, assigned to nobody

[2021-03-01 00:26] #22612 closed, assigned to nobody

[2021-03-01 00:26] #22817 closed, assigned to nobody

[2021-03-01 00:26] #23037 closed, assigned to nobody

[2021-03-01 00:26] #22973 closed, assigned to nobody

[2021-03-01 00:26] #22927 closed, assigned to nobody

[2021-03-01 00:26] #23137 closed, assigned to nobody

[2021-03-01 00:26] #23159 closed, assigned to nobody

[2021-03-01 00:26] #23182 closed, assigned to nobody

[2021-03-01 00:26] #23527 closed, assigned to nobody

[2021-03-01 00:26] #23245 closed, assigned to nobody

[2021-03-01 00:26] #23795 closed, assigned to nobody

[2021-03-01 00:26] #23802 closed, assigned to nobody

[2021-03-01 00:26] #23826 closed, assigned to nobody

[2021-03-01 00:26] #23804 closed, assigned to nobody

[2021-03-01 00:26] #23907 closed, assigned to nobody

[2021-03-01 00:26] #24021 closed, assigned to nobody

[2021-03-01 00:26] #24144 closed, assigned to nobody

[2021-03-01 00:27] magento-engcom-team commented on #22024
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-01 00:27] magento-engcom-team commented on #22161
Hi @jbrada.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24407` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:27] magento-engcom-team commented on #22253
Hi @cmacdonald-au.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24377` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:27] magento-engcom-team commented on #22257
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-01 00:27] magento-engcom-team commented on #22271
Hi @peterjaap.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23970` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:27] magento-engcom-team commented on #22408
Hi @xchuki00.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24153` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:27] magento-engcom-team commented on #22427
Hi @lyusya-nnn.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24376` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:27] magento-engcom-team commented on #22443
Hi @bhavik43.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24331` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #22459
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-01 00:28] magento-engcom-team commented on #22539
Hi @itmsenior.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24303` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #22562
Hi @ankursachdeva11.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24352` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #22612
Hi @vinayshah.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24224` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #22817
Hi @arendarenko.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24421` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #23159
Hi @ron-jomashop.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23783` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #23182
Hi @tomekjordan.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23738` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #23245
Hi @Axel29.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23750` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #23795
Hi @siliconrockstar.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23863` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #23527
Hi @quantumAV.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23886` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #23802
Hi @yatintheoctopustech.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23861` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #23826
Hi @ilamp.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23869` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #23804
Hi @Mizogorou.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23862` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #23037
Hi @tylerssn.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23901` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #22973
Hi @NikZar.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24357` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #22927
Hi @Barakur.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24944` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #23137
Hi @JaromirMullerQuanti.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23758` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #23907
Hi @vivekkumar945744.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24177` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #24021
Hi @TomashKhamlai.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23929` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:28] magento-engcom-team commented on #24144
Hi @chequille.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23993` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 00:29] magento-engcom-team commented on #22562
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-01 01:25] #20255 closed, assigned to nobody

[2021-03-01 01:25] #20148 closed, assigned to nobody

[2021-03-01 01:25] #20273 closed, assigned to nobody

[2021-03-01 01:25] #20413 closed, assigned to nobody

[2021-03-01 01:25] #20440 closed, assigned to nobody

[2021-03-01 01:25] #20467 closed, assigned to nobody

[2021-03-01 01:25] #20538 closed, assigned to nobody

[2021-03-01 01:25] #20684 closed, assigned to nobody

[2021-03-01 01:25] #20915 closed, assigned to nobody

[2021-03-01 01:25] #20975 closed, assigned to nobody

[2021-03-01 01:25] #21010 closed, assigned to nobody

[2021-03-01 01:25] #21066 closed, assigned to nobody

[2021-03-01 01:25] #21106 closed, assigned to nobody

[2021-03-01 01:26] #21152 closed, assigned to nobody

[2021-03-01 01:26] #21153 closed, assigned to nobody

[2021-03-01 01:26] #21403 closed, assigned to nobody

[2021-03-01 01:26] #21490 closed, assigned to nobody

[2021-03-01 01:26] #21641 closed, assigned to nobody

[2021-03-01 01:26] #21728 closed, assigned to nobody

[2021-03-01 01:26] #21735 closed, assigned to nobody

[2021-03-01 01:26] #21783 closed, assigned to nobody

[2021-03-01 01:26] #21835 closed, assigned to nobody

[2021-03-01 01:26] #21883 closed, assigned to nobody

[2021-03-01 01:26] #21914 closed, assigned to nobody

[2021-03-01 01:26] #24266 closed, assigned to nobody

[2021-03-01 01:26] #24325 closed, assigned to nobody

[2021-03-01 01:26] #24372 closed, assigned to nobody

[2021-03-01 01:26] #24496 closed, assigned to nobody

[2021-03-01 01:26] #24840 closed, assigned to nobody

[2021-03-01 01:26] #24527 closed, assigned to nobody

[2021-03-01 01:28] magento-engcom-team commented on #20273
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag