[2017-10-13 07:06] magento-engcom-team commented on #11408
Hi @lfritsche
Thanks for reporting this issue.
Please share the code that describe, how do you get order items from invoice.

[2017-10-13 07:07] christian-forgacs commented on #2913
@magento-engcom-team we can confirm, that the issue is fixed in our project with 2.1.9. thank you.

[2017-10-13 07:16] dmanners opened #11416 "Improves cms page options in the adminhtml configuration"
This issue was originally raised in https://github.com/magento/magento2/pull/10426 by @hostep but unfortunately he cannot continue at the current time. The aim is to improve the admin usability for multiple store setups and the selection of cms pages in the store configuration.

### Preconditions
1. PHP 7.*
2. Magento 2.*

### Steps to reproduce

1. Login to the Magento Admin with a multiple store

[2017-10-13 07:19] lundsted commented on #11415
https://github.com/magento/magento2/pull/9266 - Its a known bug, and it should be corrected in the 2.2 update.

[2017-10-13 07:19] magento-engcom-team commented on #2360
@dmitry-fedyuk, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-13 07:19] #2360 closed

[2017-10-13 07:34] magento-engcom-team commented on #11259
@coleHafner Thanks for the feedback.
Did with parent category as a part of the cart rule.
![screenshot_1](https://user-images.githubusercontent.com/31669971/31534863-68dedc14-b001-11e7-82ce-0357757a4f55.png)
Unfortunately still can't reproduce this issue. Coupon applied successfully.
If You can provide additional details, feel free to post it here, so we can try to reproduce this issue with new de

[2017-10-13 07:36] magento-engcom-team commented on #11414
Hi @yogendrabmishra, thank you for your report. Magento dont support Windows and WAMP see this link http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html

[2017-10-13 07:37] orlangur commented on #9191
hi @abhinavsk90, as far as I know there are no configurations on Magento side which would lead to such behavior, like auto-upgrade, auto-downgrade or something. Regarding this you need to understand what exactly is going on on your server (manual CLI commands, some custom cron jobs etc).

To do a safe upgrade you need to run it on separate env first. Ideally it should be staging server with more o

[2017-10-13 07:42] orlangur commented on #11375
No, it was a different issue fix: https://github.com/magento/magento2/blame/2.1/app/code/Magento/Checkout/view/frontend/web/js/view/minicart.js#L81

Usually such error may occur if you override some core `js` component or `html` template so that after upgrade it does not contain all necessary functionality.

[2017-10-13 07:44] magento-engcom-team commented on #5492
@klein0r, thank you for your report.
We've created internal ticket(s) MAGETWO-70416 to track progress on the issue.

[2017-10-13 07:44] MattDelac commented on #11415
Ok sorry for the duplicate ...

[2017-10-13 07:45] MattDelac commented on #11415
Could it be possible to be corrected also in 2.1

[2017-10-13 07:54] nmallepally commented on #9497
![paypal4](https://user-images.githubusercontent.com/19605497/31535608-9207a624-aff3-11e7-876d-1a9c07a48928.PNG)

![paypal3](https://user-images.githubusercontent.com/19605497/31535602-8e410562-aff3-11e7-8140-e4b09eafc051.PNG)

![paypal2](https://user-images.githubusercontent.com/19605497/31535585-8a30a6a8-aff3-11e7-8751-4c33c2d3a5d4.PNG)
Hi

It is not visible for us on front end but we can see it

[2017-10-13 07:56] wangzhi0417 commented on #11412
I solved the problem by downgrade to 2.1.9

[2017-10-13 07:58] #11289 closed, assigned to nobody

[2017-10-13 07:59] magento-engcom-team commented on #2552
@nyov, thank you for your report.
We've created internal ticket(s) MAGETWO-50416 to track progress on the issue.

[2017-10-13 08:01] ishakhsuvarov commented on #5609
@thdoan, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source onl

[2017-10-13 08:01] #5609 closed, assigned to nobody

[2017-10-13 08:03] magento-engcom-team commented on #5154
@Radio, thank you for your report.
We've created internal ticket(s) MAGETWO-58250 to track progress on the issue.

[2017-10-13 08:08] nmallepally commented on #8619
@orlangur  Hi , I have similar issue on Magento 2.1.8 not sure if this is the same.
I haven't changed any front end development work flow, it has been the same from starting.
I see a lot of them on exception log, can you advise, is there any fix around.

2017-10-13 07:20:01] main.CRITICAL: Exception: Notice: Array to string conversion in /var/www/vhosts/magento2.1.8/httpdocs/vendor/magento/framewo

[2017-10-13 08:13] shavounet commented on #8437
Hello @magento-engcom-team,
The implementation details are provided in my 2nd comment, it's a very simple implementation. I don't have a test environment anymore to provide more feedback, but did you try it out ? I have to admit I agree with @vrann ; it shouldn't fail... yet it did

Maybe there is some side effect with other methods ? (getScheme, getAbsolutePath, ...) If you look at those examples

[2017-10-13 08:30] magento-engcom-team commented on #7140
@redelschaap, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-13 08:30] #7140 closed, assigned to magento-engcom-team

[2017-10-13 08:30] magento-engcom-team commented on #5867
@LTC-fperrin, thank you for your report.
We've created internal ticket(s) MAGETWO-58305 to track progress on the issue.

[2017-10-13 08:30] magento-engcom-team commented on #9474
@zstutzman, thank you for your report.
We've created internal ticket(s) MAGETWO-68872 to track progress on the issue.

[2017-10-13 08:30] magento-engcom-team commented on #7176
@Bartlomiejsz, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 08:30] magento-engcom-team commented on #11409
@coleHafner, thank you for your report.
We've created internal ticket(s) MAGETWO-81873 to track progress on the issue.

[2017-10-13 08:30] magento-engcom-team commented on #11414
@yogendrabmishra, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 08:30] #11414 closed, assigned to nobody

[2017-10-13 08:30] magento-engcom-team commented on #5730
@sneha-sukumaran, thank you for your report.
We've created internal ticket(s) MAGETWO-57945 to track progress on the issue.

[2017-10-13 08:30] magento-engcom-team commented on #5591
@ednacool, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 08:30] #5591 closed, assigned to nobody

[2017-10-13 08:30] magento-engcom-team commented on #3103
@rkhoury82, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 08:30] #3103 closed, assigned to nobody

[2017-10-13 08:33] magento-engcom-team commented on #5502
@ktruehl, thank you for your report.
We've created internal ticket(s) MAGETWO-58014 to track progress on the issue.

[2017-10-13 08:34] denisristic commented on #11310
@ishakhsuvarov this ticket is resolved :)

[2017-10-13 08:34] denisristic commented on #9036
@ishakhsuvarov this ticket is resolved :)

[2017-10-13 08:43] magento-engcom-team commented on #5436
@Tjmstudios , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sourc

[2017-10-13 08:44] orlangur commented on #8619
This is definitely another issue, from stack trace it looks like you need to debug what went wrong during quote address saving.

[2017-10-13 08:44] #5436 closed, assigned to nobody

[2017-10-13 08:52] magento-engcom-team commented on #2477
@albsa, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-13 08:52] #2477 closed, assigned to nobody

[2017-10-13 08:55] amiddio commented on #11412
Same issue here as well.
I've upgrated CE 2.1.7 to CE 2.2.0.

[2017-10-13 08:59] joomlabeat commented on #2561
I was getting also errors trying to set mode on my local mamp setup and it proved to be memory_limit.

So for everyone that uses MAMP and faces the same, note that when running from cli, it won't use the customised `/Library/Application Support/appsolute/MAMP PRO/conf/php7.0.8.ini` that you might have set through MAMP template files, but it will load directly the default MAMP Application php.ini i

[2017-10-13 09:14] klein0r commented on #9744
We are getting the same issue with Magento CE 2.1.9.

The reason we get this issue is, that **the checkout loads another (older) quote for the customer which is still active**. Since the quotes are ordered by updated_at DESC it loads the older one, since the new one has "00-00-0000 00:00:00" as updated_at.

So our customer has multiple active quotes. Why can this happen?
When are the quotes set to

[2017-10-13 09:23] maderlock commented on #10524
So to update my work-around, you also need to download the src/ folder of https://github.com/colinmollenhour/php-redis-session-abstract to your code folder. And add the following to your replace section of composer.json:

    "colinmollenhour/php-redis-session-abstract": "*"

This is in addition to the changes above.

[2017-10-13 09:25] adrian-martinez-interactiv4 commented on #11409
Config path used when triggered password request from admin is `admin/security/min_time_between_password_reset_requests` instead of `customer/password/min_time_between_password_reset_requests`. I'll try to fix it.

[2017-10-13 09:30] magento-engcom-team commented on #7150
@thdoan, thank you for your report.
We've created internal ticket(s) MAGETWO-81884 to track progress on the issue.

[2017-10-13 09:30] magento-engcom-team commented on #7170
@Morgon, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-13 09:30] magento-engcom-team commented on #7396
@joost-florijn-kega, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-13 09:30] #7396 closed, assigned to magento-engcom-team

[2017-10-13 09:30] magento-engcom-team commented on #8081
@ytorbyk, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 09:30] #8081 closed, assigned to nobody

[2017-10-13 09:30] magento-engcom-team commented on #8258
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-81885 to track progress on the issue.

[2017-10-13 09:34] maderlock commented on #10524
PLEASE REOPEN THIS ISSUE AND RELEASE A FIX FOR 2.1.*!!!!!!!!!!!!!!!!!!!!!!!!

[2017-10-13 09:37] davidverholen commented on #10201
starting to work on it

[2017-10-13 09:38] speedy81 commented on #5517
Hello all:)

How do if or site use HTTPS ?

Please help us :)

[2017-10-13 09:42] ishakhsuvarov commented on #10524
Issue reopened for further investigation.
Please provide clear steps to reproduce, initial description does not have any information regarding redis.

[2017-10-13 09:48] mageage opened #11419 "Changing store view causes error - Requested store is not found"
Magento CE 2.2.0 without sample data is installed.
After adding second store view in admin panel and change design configuration to:
- Default Store View: Magento Luma
- Second Store View: Magento Blank
In frontend while changing store views I'm getting URL like this:
- http://magento-2.2.dev:8888/?___store=second?___store=default
Which causes this error:
{"0":"Requested store is not found","1":"#

[2017-10-13 09:53] dmanners commented on #11328
For more detail on the problem the issue is with config elements that contain `\n` in them. For example the address templates or the search_engine_robots->default_custom_instructions section.

The problem happens in the class `lib/internal/Magento/Framework/App/DeploymentConfig/Writer/PhpFormatter.php` https://github.com/magento/magento2/blob/2.2-develop/lib/internal/Magento/Framework/App/Deployme

[2017-10-13 09:56] SitionDenBosch commented on #10552
I missed the 4th step to reproduce:

4. import the CSV back into magento with is_in_stock edited.

This is basically all I do and I expect the stock status to update, but it does not

[2017-10-13 10:03] davidverholen commented on #10201
@magento-engcom-team cannot reproduce this on develop branch.
Footer Template is loaded and rendered as expected from the luma theme

[2017-10-13 10:14] eduard-kistner commented on #7153
Hi @magento-engcom-team ,

sadly i cannot validate that this issue is fixed in CE 2.1.9 although this [commit](https://github.com/magento/magento2/commit/82a2a6fb75896235b9be30816abb4b87cd82a740) seems to be the mentioned fix.

Tried it with swagger and catalogProductAttributeMediaGalleryManagementV1 with the following JSON:
`{
    "entry": {
        "media_type": "external-video",
        "disabl

[2017-10-13 10:14] maderlock commented on #10524
Apologies for shouting. I'll reproduce and update here.

[2017-10-13 10:22] orlangur commented on #11419
@mageage  thanks for bug report! This problem is already tracked as https://github.com/magento/magento2/issues/10908.

[2017-10-13 10:22] #11419 closed, assigned to nobody

[2017-10-13 10:30] maderlock commented on #10524
To my shame, having removed all my workarounds I now cannot find any issue to report. This is especially embarrassing given my desperate earlier messages. Something must have been fixed in 2.1.9 but I assumed that as the versions of redis and libraries had not updated that there was still an issue. I'll go and eat some humble pie now. Please close this.

[2017-10-13 10:30] magento-engcom-team commented on #6732
@springimport, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-13 10:30] magento-engcom-team commented on #7958
@commcad, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 10:30] #7958 closed, assigned to ioliinyk

[2017-10-13 10:30] magento-engcom-team commented on #8022
@raisaev, thank you for your report.
We've created internal ticket(s) MAGETWO-63653 to track progress on the issue.

[2017-10-13 10:30] magento-engcom-team commented on #5946
@jaimestuardo, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-13 10:30] #5946 closed, assigned to nobody

[2017-10-13 10:30] magento-engcom-team commented on #4751
@Ctucker9233, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 10:30] #4751 closed, assigned to nobody

[2017-10-13 10:32] davidverholen commented on #9349
@magento-engcom-team what would be the desired behavior here?

Currently the category values are saved always to store id 1 in a default installation (store resolved via storeManager in CategoryRepository::save()). When calling PUT /V1/categories/:id

1. Should the store be defaulting to 0?
2. Should it be possible, to set the store id. If yes, how would that look like? It could be an additional o

[2017-10-13 10:38] redelschaap commented on #7140
Doesn't this need to be backported to 2.1.x?

[2017-10-13 10:40] LTC-fperrin commented on #5867
Hello,
Since the format of the product options have been changed (serialized to json) it would be great if you could think about this bug in the conversion script `Magento\Sales\Setup\SerializedDataConverter::convert($value)`.

When I upgraded to Magento 2.2, the convertion from serialized to json went ok except for those doubly serialized entries. In those cases, the JSON object had a single stri

[2017-10-13 10:41] magento-engcom-team commented on #10552
@SitionDenBosch, thank you for your report.
We've created internal ticket(s) MAGETWO-81890 to track progress on the issue.

[2017-10-13 10:45] lucasalcantara opened #11420 "How to save custom form in checkout?"
this is just a question.
I followed this tutorial http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_form.html and it is showing the fields as I expected. Now my question is after I have all the data how can I save it when the place order button is clicked?

OBS: Sorry if this is not the right place to make this question but I've taken a look in all forums and I did not find the answe

[2017-10-13 10:49] korostii commented on #8055
Did you maybe mean _unrelated_?

Seriously though, IMHO "498 changed files with 50,061 additions and 1,401 deletions." is a little bit overboard.
I don't think such a PR from a community would pass into code base and I doubt this commit has had any kind of code review done on it.
Is there a way to find the separate commits which went into this squash? probably not.
There should be a sane limit to

[2017-10-13 10:53] magento-engcom-team commented on #11373
Hello @Dkmafia . Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-10-13 10:59] rossmc commented on #9187
@magento-engcom-team  having the same issue on ee2.1.7

JS is hiding this old price for some reason on product page, when it's a configurable product, which has a child product with a special price.

Seems to be coming from Magento_Catalog/js/price-box.js, which is hiding it if it has the css class sly-old-price.

[code]

not sure why it would do this?

[2017-10-13 11:04] orlangur commented on #8055
Nope, "related". This one seems to be some huge refactoring.

As far as I can see here most of added lines are just some XML config. Maybe they even were generated somehow.

It is simply not possible according to development processes. Squash commits are just fine when you do pretty straightforward changes, like this commit, and you have a lot of conflict resolutions with mainline later. I don't k

[2017-10-13 11:06] SitionDenBosch commented on #10552
@magento-engcom-team Thank you for acknowledging , will updates about the issue be reported back in this bug report, or should I follow the internal ticket somewhere?

[2017-10-13 11:17] magento-engcom-team commented on #4985
@magecodenet, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 11:17] #4985 closed, assigned to nobody

[2017-10-13 11:18] rvsmediauk commented on #5726
@maderlock your code is working 2.1.7 perfectly thanks for your updated code .
vendor/magento/module-customer/Model/EmailNotification.php

Working function -

public function passwordReminder(CustomerInterface $customer)
    {
        $storeId = $customer->getStoreId();
        if (!$storeId) {
            $storeId = $this->getWebsiteStoreId($customer);
        }

        $customerEmailData = $thi

[2017-10-13 11:21] ishakhsuvarov commented on #11420
@lucasalcantara, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. As you already mentioned, the GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-13 11:21] #11420 closed, assigned to nobody

[2017-10-13 11:30] magento-engcom-team commented on #9375
@sylink, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-13 11:30] magento-engcom-team commented on #9948
@scottsb, thank you for your report.
We've created internal ticket(s) MAGETWO-71009 to track progress on the issue.

[2017-10-13 11:30] magento-engcom-team commented on #9058
@andrewsladen, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 11:30] #9058 closed, assigned to nobody

[2017-10-13 11:30] magento-engcom-team commented on #11280
@moderncodes, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 11:30] #11280 closed, assigned to nobody

[2017-10-13 11:30] magento-engcom-team commented on #10012
@frshjb373, thank you for your report.
We've created internal ticket(s) MAGETWO-70147 to track progress on the issue.

[2017-10-13 11:30] magento-engcom-team commented on #7915
@Koekoet, thank you for your report.
We've created internal ticket(s) MAGETWO-81900 to track progress on the issue.

[2017-10-13 11:30] magento-engcom-team commented on #7940
@bschimoler, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 11:30] #7940 closed, assigned to nobody

[2017-10-13 11:30] magento-engcom-team commented on #7428
@navarr, thank you for your report.
We've created internal ticket(s) MAGETWO-61202 to track progress on the issue.

[2017-10-13 11:30] magento-engcom-team commented on #5773
@arijit-insync, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 11:30] #5773 closed, assigned to nobody

[2017-10-13 11:30] magento-engcom-team commented on #5071
@eric128, thank you for your report.
We've created internal ticket(s) MAGETWO-54602 to track progress on the issue.

[2017-10-13 11:31] marius-wieschollek commented on #7140
@redelschaap I think the issue with backporting this to 2.1.x would be that it is a breaking change. Fixing this in a minor bugfix release of Magento would break any module that depends on it. It is probably better to have a known bug than yet another BC break.

[2017-10-13 11:32] selusi commented on #11379
The issue is in the url building.
Precisly in the file vendore/magento/module-store/Store.php the function **getCurrentUrl($fromStore = true)**.
In fact, so as it showed in your example file, if you click the language switch more times the result query string is: **?___store=en?___store=de** that obviously get server error because the
store code "en?___store=de" doesn't exist.

To solve the issue

[2017-10-13 11:33] fendowuk commented on #11375
We had exactly the same problem yesterday, in the end our host fixed the issue for us. He "chrooted" in and then ran the following commands (altered slightly for non magestack environment).

`rm -rf var/generation/* var/view_preprocessed/* pub/static/*`
`php bin/magento deploy:mode:set production`
`php bin/magento cache:flush; curl -X PURGE https://www.example.com/.*`

We were in developer mode pr

[2017-10-13 11:35] magento-engcom-team commented on #4748
@fpsthirty, thank you for your report.
We've created internal ticket(s) MAGETWO-53548 to track progress on the issue.

[2017-10-13 11:39] magento-engcom-team commented on #3782
@katesuykovskaya, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 11:39] #3782 closed, assigned to nobody

[2017-10-13 11:40] magento-engcom-team commented on #3782
@katesuykovskaya, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 11:43] magento-engcom-team commented on #3782
@katesuykovskaya, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 11:43] magento-engcom-team commented on #3782
@katesuykovskaya, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 11:48] Adrian003 commented on #10071
Hi,

I have the same error, migrated from Magento 1.9.3 to Magento 2.2 (via Magento 2 Data Migration Tool). Catalog is working just fine but for customers I receive "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later." (in the Admin interface)
In the front-end when trying to login with a new user it's not workin

[2017-10-13 11:54] magento-engcom-team commented on #3782
@katesuykovskaya, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 11:55] magento-engcom-team commented on #3782
@katesuykovskaya, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 12:00] Ralfefernandes opened #11423 "By upgrading to magento 2.2.0 i have this issues: Exception #0 (Exception): Notice: Undefined index: id"
1 exception(s):
Exception #0 (Exception): Notice: Undefined index: id in /var/www/html/magento2/vendor/magento/module-config/Model/Config/Structure/Element/Iterator.php on line 63

Exception #0 (Exception): Notice: Undefined index: id in /var/www/html/magento2/vendor/magento/module-config/Model/Config/Structure/Element/Iterator.php on line 63
#0 /var/www/html/magento2/vendor/magento/module-config/

[2017-10-13 12:05] nmallepally opened #11424 "Exception: Notice: Array to string conversion Magento 2.1.8"
Magento 2.1.8
PHP 7
Mysql 5.7
Debian

We are seeing the below error on exception log

[2017-10-13 07:20:01] main.CRITICAL: Exception: Notice: Array to string conversion in /var/www/vhosts/magento2.1.8/httpdocs/vendor/magento/framework/DB/Adapter/Pdo/Mysql.php on line 2929 in /var/www/vhosts/magento2.1.8//httpdocs/vendor/magento/framework/App/ErrorHandler.php:61$
Stack trace:
#0 /var/www/vhosts/mag

[2017-10-13 12:17] zole011 opened #11426 "magento 2.20 installation on server"
Hi,
Magento can not even start the installation on a web server.
When we start the installation on the local server all goes well,
I've reviewed all the prerequisites on the folders and files and everything seems ok.
Since we do not have access to ssh on the server, we need to install the magento via the web interface.
We have also tried to start the installation directly from the setup but throw

[2017-10-13 12:21] ghost opened #11427 "Price sorting order should NOT consider out-of-stock or disabled child products for minimal price."
Preconditions
2.1.9

Steps to reproduce

(1) Create a configurable product with below child products
     - color-blue, price: $20 , qty : 10, in-stock
     - color-red, price: $10   , qty : 10, out-of-stock

(2) Create a simple product with price $15.

Expected result
Sort order should be (2) and then (1).

Actual result
Sort order is (1) and then (2)

Even if the child product is out-of-stock it

[2017-10-13 12:29] sasilinux opened #11428 "Cart Price Rule Label is not working"
### Preconditions

1. Magento 2.2.0
2. Create Cart Price Rule

### Steps to reproduce

1. While creating the cart price rule, I have given the Label value as "Buy 2 and Get 1 Free".
2.  In front end, Checkout page, It will show only the label as "Discount" not the given name has been reflected.

### Expected result

1. I need the exact label value that was given in the Admin end while creating the

[2017-10-13 12:30] magento-engcom-team commented on #9323
@steros, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-13 12:30] #9323 closed, assigned to nobody

[2017-10-13 12:30] magento-engcom-team commented on #5218
@paales, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 12:30] #5218 closed, assigned to antboiko

[2017-10-13 12:30] magento-engcom-team commented on #11415
@MattDelac, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 12:30] #11415 closed, assigned to nobody

[2017-10-13 12:30] magento-engcom-team commented on #8351
@cherreman, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 12:30] #8351 closed, assigned to nobody

[2017-10-13 12:30] magento-engcom-team commented on #5896
@AirmanAJK, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 12:30] #5896 closed, assigned to nobody

[2017-10-13 12:34] slackerzz commented on #10941
@rishabhchd19 I'm trying to reproduce the issue on a clean installation with sample data.
I created a cms page with this content:

[code]

The page layout is "2 Columns with left sidebar", is it right?
In the `Layout Update XML` box i've pasted:
[code]

but the result is:

[code]

Are you sure that the layout update is the same you are using?

[2017-10-13 12:36] Webroju commented on #11287
I found the answer here: https://github.com/magento/magento2/issues/10821
Maybe it helps someone.

[2017-10-13 12:40] magento-engcom-team commented on #4536
@BenSpace48, thank you for your report.
We've created internal ticket(s) MAGETWO-52972 to track progress on the issue.

[2017-10-13 12:48] magento-engcom-team commented on #11364
@RishabhRkRai We were not able to reproduce this issue by following the steps you provided on clean Magento installation(v2.1.9). Probably some steps are missed in description. Please add screenshots would be helpful, too.

[2017-10-13 12:50] magento-engcom-team commented on #4939
@webdezign, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 12:50] #4939 closed, assigned to nobody

[2017-10-13 12:50] magento-engcom-team commented on #4539
@huabiao, thank you for your report.
We've created internal ticket(s) MAGETWO-53039 to track progress on the issue.

[2017-10-13 12:59] magento-engcom-team commented on #3423
@BaberAhmed, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-13 13:04] slackerzz commented on #10941
I've removed this block

[code]

from the layout update and now i can render the page and the result is:

![m2dev local-test-catalog nexus 5](https://user-images.githubusercontent.com/3061752/31547352-4e649344-b027-11e7-9451-3656dfbb7304.png)

This can be easily fixed

[2017-10-13 13:04] sigismund commented on #11280
We have similar problem (Magento 2.2), except our orders are "stuck" in pending mode.

[2017-10-13 13:05] magento-engcom-team commented on #4509
@jason-vivid, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 13:05] #4509 closed, assigned to nobody

[2017-10-13 13:11] duckchip commented on #11305
@magento-engcom-team could you provide the PR, or issue where this is fixed?

[2017-10-13 13:19] magento-engcom-team commented on #4483
@dexterityzx, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 13:19] #4483 closed, assigned to rgoncharuk

[2017-10-13 13:23] lduivenvoorde-zz opened #11431 "Magento 2.2: Unable to change order top.links"
### Preconditions

Magento 2.2
PHP 7.0

### Issue description
Since upgrading to Magento 2.2 I'm unable to change the order of the top.links since the introduction of the getSortOrder function in Link.php. The SortLinkInterface breaks any way to set the order of the top.links.

### Steps to reproduce

I have tried the following steps to move the top links in my default.xml file:

- Moving the link

[2017-10-13 13:26] simonrl commented on #6962
Are there any news on this issue?

[2017-10-13 13:27] magento-engcom-team commented on #4511
@thomvanderboon, thank you for your report.
We've created internal ticket(s) MAGETWO-70374 to track progress on the issue.

[2017-10-13 13:29] Dkmafia commented on #11373
Thats really the problem... No error messages. I even cut the amount of products down to test them in small batches. I have no idea what to do.

________________________________
From: Magento Community Engineering <notifications@github.com>
Sent: Friday, October 13, 2017 6:53 AM
To: magento/magento2
Cc: Dkmafia; Mention
Subject: Re: [magento/magento2] 'General system exception happened' on import

[2017-10-13 13:29] magento-engcom-team commented on #3231
@sergei-sss, thank you for your report.
We've created internal ticket(s) MAGETWO-48646 to track progress on the issue.

[2017-10-13 13:30] magento-engcom-team commented on #11428
@sasilinux, thank you for your report.
We've created internal ticket(s) MAGETWO-74692 to track progress on the issue.

[2017-10-13 13:30] magento-engcom-team commented on #7875
@bartlubbersen, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 13:30] #7875 closed, assigned to misha-kotov

[2017-10-13 13:30] magento-engcom-team commented on #5321
@RG-1, thank you for your report.
We've created internal ticket(s) MAGETWO-70150 to track progress on the issue.

[2017-10-13 13:30] magento-engcom-team commented on #7903
@nathanmerrill, thank you for your report.
We've created internal ticket(s) MAGETWO-81917 to track progress on the issue.

[2017-10-13 13:45] pioneerathletics commented on #11375
Thanks @fendowuk we'll have to give it a try. Actually I looked back at the exception.log and came across this:`[2017-10-06 11:52:23] main.CRITICAL: RuntimeException: Source class "" for "Magento\Framework\App\Response\Http\Interceptor" generation does not exist. in /home/website/web-folder/vendor/magento/framework/Code/Generator.php:185
`
and also
`[2017-10-06 11:54:16] main.CRITICAL: ReflectionE

[2017-10-13 13:46] magento-engcom-team commented on #4454
@zhiyicai, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 13:46] #4454 closed, assigned to nobody

[2017-10-13 13:47] magento-engcom-team commented on #7455
Hi @djpaoloc
Thanks for reporting this issue.
Please provide more details about

Please share you theme files, that your mean

[2017-10-13 14:09] ishakhsuvarov commented on #10524
@maderlock Thank you for the update. Closing this issue now per your request.

[2017-10-13 14:09] #10524 closed, assigned to nobody

[2017-10-13 14:11] fendowuk commented on #11375
Hi @pioneerathletics I can't be sure, I think it is more than likely a cache issue. Are you using varnish?
I would try enabling developer mode, disabling cache and running the commands above.

[2017-10-13 14:14] ishakhsuvarov commented on #10552
@SitionDenBosch This issue will be closed once fix is released.

[2017-10-13 14:16] franckgarnier21 commented on #4454
Can you share the commit which solve this issue ?

[2017-10-13 14:25] magento-engcom-team commented on #11124
Hi @rmevans1 we are closing the issue due to inactivity. If you would like to update the issue, please reopen the issue

[2017-10-13 14:25] #11124 closed, assigned to magento-engcom-team

[2017-10-13 14:25] magento-engcom-team commented on #11124
@rmevans1, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-13 14:27] magento-engcom-team commented on #4389
@twslade, thank you for your report.
We've created internal ticket(s) MAGETWO-54008 to track progress on the issue.

[2017-10-13 14:27] magento-engcom-team commented on #7511
@careys7, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 14:27] #7511 closed, assigned to nobody

[2017-10-13 14:27] magento-engcom-team commented on #7828
@MoschenBayern, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 14:27] #7828 closed, assigned to antboiko

[2017-10-13 14:27] magento-engcom-team commented on #3483
@keyurshah070, thank you for your report.
We've created internal ticket(s) MAGETWO-49792 to track progress on the issue.

[2017-10-13 14:27] magento-engcom-team commented on #7503
@pascaladriaansen, thank you for your report.
We've created internal ticket(s) MAGETWO-81935 to track progress on the issue.

[2017-10-13 14:27] magento-engcom-team commented on #5697
@peec, thank you for your report.
We've created internal ticket(s) MAGETWO-81938 to track progress on the issue.

[2017-10-13 14:28] magento-engcom-team commented on #4684
@micheese, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 14:32] pioneerathletics commented on #11375
Hi @fendowuk no we're just using the built in cache (I had a lot of problems with disappearing nav menus with varnish). We are also on production mode, do you usually switch over to developer mode when you update?

[2017-10-13 14:32] pioneerathletics commented on #11375
Forgot to mention we're using Redis as well.

[2017-10-13 14:46] ishakhsuvarov commented on #11426
@zole011, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-13 14:46] #11426 closed, assigned to nobody

[2017-10-13 14:47] ishakhsuvarov commented on #11424
@nmallepally, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2017-10-13 14:57] fendowuk commented on #11375
Hi @pioneerathletics I've just always done it, I guess there is no reason to. If you are in production mode just try running.

`rm -rf var/generation/* var/view_preprocessed/* pub/static/*`
`php bin/magento setup:di:compile`
`php bin/magento setup:static-content:deploy`
`php bin/magento cache:flush`
`redis-cli flushall`

If that doesn't work I'd try to run as root/chroot as it's the only other dif

[2017-10-13 15:00] rishabhchd19 commented on #10941
@slackerzz  Yes, it is 100% sure that I am using the same layout update reason being it is showing Navigation layer on adding that container. And removing that block is actually removing the Navigation layer. Also, you can notice that by removing the Navigation Layer as Shop By option not resolving the other issues. It would be good if users would able to use Navigation Layer by this block...Is it

[2017-10-13 15:02] rishabhchd19 commented on #10941
Also, it has started showing Show X per page at top and bottom of the main block...twice on the page after updating to 2.2.0

[2017-10-13 15:07] orlangur commented on #7521
@hostep looks like it was fixed in https://github.com/magento/magento2/issues/11166 recently.

[2017-10-13 15:12] maderlock commented on #5843
I can confirm that I'm seeing this in 2.1.9.

Is there a workaround for this a.t.m?

[2017-10-13 15:20] blizam commented on #11171
Has someone from the Mage core team reported this to to Clam so they can review the concerned file and whitelist it? I see it triggering on this definition now:

Html.Exploit.CVE_2017_11793-6336854-1

[2017-10-13 15:29] korostii commented on #10807
Veeeery funny.
Let it rot in forums since the "repository owners" don't care about outsiders visiting issues here anyway and these labels should only by used by them, and the conveniences of community members can be disregarded.

I see your point but I have not attempted any actions to force any policy on others apart from underlining the deficiencies of current issue flow. My points will remain v

[2017-10-13 15:30] magento-engcom-team commented on #7620
@kanduvisla, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 15:30] #7620 closed, assigned to nobody

[2017-10-13 15:30] magento-engcom-team commented on #7510
@duffner, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-13 15:30] #7510 closed, assigned to magento-engcom-team

[2017-10-13 15:30] magento-engcom-team commented on #7557
@AlexandreKhayrullin, thank you for your report.
We've created internal ticket(s) MAGETWO-81949 to track progress on the issue.

[2017-10-13 15:30] magento-engcom-team commented on #7690
@andidhouse, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 15:30] #7690 closed, assigned to nobody

[2017-10-13 15:44] southerncomputer commented on #11171
Yes I have filed the first one against CLAMAV - The new one searches for string if (length<14) - which is so generic it would hit upon many different files if ran against github! I guess I can file against the new one as well. I have noticed it filling up my quarantine directory daily as well!

[2017-10-13 15:54] siliconalchemy commented on #10807
When 'people' are running a proven stable 2.2, we'll be overjoyed to see a 'Fixed in 2.2.x' label.  As we're not running 2.2, and a lot of these important issues were fixed in months and months before 2.2 was released, forgive us if we're slightly bemused by this workflow which to a lot of people is completely braindead.  I've literally lost count of the number of issues that I've come across in 2

[2017-10-13 16:27] mrodespin commented on #11428
I am going to fix this issue

[2017-10-13 16:30] magento-engcom-team commented on #4426
@joebusby, thank you for your report.
We've created internal ticket(s) MAGETWO-54418 to track progress on the issue.

[2017-10-13 16:33] rigu12 commented on #11379
HI,

I can't find (((Store.php)))) in vendor/magento/module-store/

^^""

________________________________
寄件者: selusi <notifications@github.com>
寄件日期: 2017年10月13日 下午 08:33:15
收件者: magento/magento2
副本: rigu12; Mention
主旨: Re: [magento/magento2] In magento 2.2 Changing language twice gives error [bug] (#11379)

The issue is in the url building.
Precisly in the file vendore/magento/module-store/Stor

[2017-10-13 16:50] rigu12 commented on #11379
HI

Is work now..thank you!!! i changed it in module-store\model\store.php

And i want to say have new bug too.
i from magento downloaded 2.2 sample_data installed.
and then go to Setup Wizard->Extension Manager->Ready to Install->u will see magento/module-shared-catalog extensions,but can't install.i think maybe is sample_data problem.

________________________________
寄件者: selusi <notifications@

[2017-10-13 16:55] magento-engcom-team commented on #3221
@dmitry-fedyuk, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-13 16:55] #3221 closed, assigned to nobody

[2017-10-13 16:58] magento-engcom-team commented on #10308
@tjgamble thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source on

[2017-10-13 16:58] #10308 closed, assigned to mbrinton01

[2017-10-13 16:58] magento-engcom-team commented on #10439
@aunik thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source only.

[2017-10-13 16:58] #10439 closed, assigned to mbrinton01

[2017-10-13 16:59] magento-engcom-team commented on #10229
@careys7 thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source onl

[2017-10-13 16:59] #10229 closed, assigned to nobody

[2017-10-13 16:59] magento-engcom-team commented on #9337
@sydekumf thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source on

[2017-10-13 16:59] #9337 closed, assigned to nobody

[2017-10-13 17:00] magento-engcom-team commented on #5734
@bartek9007, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 17:00] #5734 closed, assigned to nobody

[2017-10-13 17:09] magento-engcom-team commented on #10791
@brosenberger thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sourc

[2017-10-13 17:09] #10791 closed, assigned to nobody

[2017-10-13 17:10] magento-engcom-team commented on #10994
@jajaramos thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source o

[2017-10-13 17:10] #10994 closed, assigned to nobody

[2017-10-13 17:11] magento-engcom-team commented on #10844
@MrDaar thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source only

[2017-10-13 17:11] #10844 closed, assigned to nobody

[2017-10-13 17:12] #9375 closed, assigned to nobody

[2017-10-13 17:17] magento-engcom-team commented on #9190
Closing as a duplicate of #8964

[2017-10-13 17:17] #9190 closed, assigned to nobody

[2017-10-13 17:18] magento-engcom-team commented on #7418
@garrypark, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 17:18] #7418 closed, assigned to nobody

[2017-10-13 17:19] selusi commented on #11379
@rigu12  Right! The path of source code is vendor/magento/module-store/model/Store.php

[2017-10-13 17:21] magento-engcom-team commented on #6993
Hi @NNarendraReddy we can not reproduce the issue on clean magento  instance. Please, report the issue to the https://github.com/magento/data-migration-tool repository is there is an issue in the tool

[2017-10-13 17:21] #6993 closed, assigned to nobody

[2017-10-13 17:22] #6732 closed, assigned to nobody

[2017-10-13 17:41] selusi commented on #11379
To install sample data you can use the command line:
php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento indexer:reindex
php bin/magento cache:clean

[2017-10-13 17:51] fernandofauth commented on #10485
I maked this module to fix, while this error not fixed.

https://github.com/fernandofauth/magento2_datetime

[2017-10-13 17:52] hostep commented on #11379
This is a duplicate of https://github.com/magento/magento2/issues/10908 btw 😉

[2017-10-13 18:01] TimurGafarovR commented on #11324
I will work on that issue.

[2017-10-13 18:05] selusi commented on #10908
However, the bug is much more complex, because if you change the language on page of the product details or on a category page the app give a not found page, because does not translate the urlrewrite.
In the previous version Magento 2.1.9 the switcher worked fine.

[2017-10-13 18:16] okorshenko commented on #11181
Hi @romantomchak
I just tried to install ee-2.2 via composer. the file `UrlInterface.php` exists. Please, look at @orlangur comment

[2017-10-13 18:16] #11181 closed, assigned to magento-engcom-team

[2017-10-13 19:19] KarlComSe commented on #11107
@arielmorry, your proposal seems to solve that specific issue. Thanks.

[2017-10-13 19:21] rigu12 commented on #11379
But I have some extensions not support 2.2 or php7.1 ,so can’t setup upgrade install but can’t delete in the list ,if I disconnect ,the Magento extension can’t see too.but ..if I don’t disconnect to setup upgrade install other extensions will be error.so how can I do or how can delete don’t need extensions on the list?thank you!!

selusi <notifications@github.com<mailto:notifications@github.com>>

[2017-10-13 19:42] mrodespin commented on #11209
I have been debugging this issue, @tdgroot if you could not fix it I can do it.

[2017-10-13 19:47] adrian-martinez-interactiv4 commented on #11328
@gulshan-streammarket @dmanners Hope this PR fixes this issue

[2017-10-13 20:40] JeroenVanLeusden commented on #5956
I'm working on it #SQUASHTOBERFEST

[2017-10-13 20:47] orlangur commented on #10807
This is nothing more than your subjective opinion.

That's exactly why default branch is now `2.2-develop` instead of `develop` (which will be removed soon). Every single reported issue will be now fixed in `2.2.x` first if it is possible considering backward compatibility constraints.

Surely, no objections. Let's just use proper communication channels for each separate activity, like Slack or so

[2017-10-13 21:10] Ctucker9233 commented on #7322
@pravalitera I would guess it is still in your cache somewhere.

[2017-10-13 21:51] ghost opened #11441 "Magento 2.1.9 : unable to access to storage root in wysiwug popup"
### Preconditions

1. Magento 2.1.9
2. Add image to block from admin

### Steps to reproduce

1. Add image to block by wysiwyg files

### Expected result

1. Wysiwyg popup with storage root and all files

### Actual result

1. Wysiwyg popup = blank page
![image](https://user-images.githubusercontent.com/23117633/31567695-5797f760-b060-11e7-80b5-5921b6edad77.png)

Can you please help me to find a s

[2017-10-13 21:57] lfritsche commented on #11408
Hi!

I think it's not about the get order items code itself. It's more about invoice items db info:

Ordered Items:
![image](https://user-images.githubusercontent.com/15127451/31567705-1c621958-b071-11e7-8123-0fa16e9deee9.png)

Two invoices / one per product:
![image](https://user-images.githubusercontent.com/15127451/31567748-3fa51eb0-b071-11e7-828b-87efc06f44de.png)

First Invoice (simple produc

[2017-10-13 22:50] adrian-martinez-interactiv4 commented on #11324
Hi @andrewkett , @ankursachdeva11 , @magento-engcom-team , I've digging in this issue, and I'd like to expose some facts I've found, because it doesn't seem clear the behaviour of the REST API when creating a product.

On one side, if we have one endpoint to create the product, and another to link/unlink the products and websites, and the first one does not accept website ids as parameter (current

[2017-10-13 22:55] jantzenw opened #11442 "Certain upgrade scripts created with Pestle cause setup:di:compile to fatal error"
## Preconditions
1. Magento 2.2.0 EE
2. [Pestle 1.4.2](https://github.com/astorm/pestle)

## Steps to reproduce
1. Use pestle to create an upgrade script containing something similar to the following structure:
<pre>

$eavSetup = <b>$this->eavSetupFactory</b>->create(['setup' => $setup]);

$eavSetup->addAttribute(
    \Magento\Catalog\Model\Product::ENTITY,
    'test',
    [
        ...
        's

[2017-10-13 23:50] adrian-martinez-interactiv4 commented on #11358
@heyqule taken gist proposed solution for PR :D

[2017-10-13 23:57] raumatbel commented on #10007
@okorshenko can you assign it me, please?

[2017-10-14 01:28] gizmocn opened #11450 "Magento 2.2.0 layer navigation return no products when 2 filters selected."
### Preconditions
1.  Magento 2.2.0 only
2. PHP 7.0.22

### Steps to reproduce
1.  Install Magento 2.2.0 with sample data that download from https://magento.com/tech-resources/download
2.  Browser top menu Women->Top
3.  In left layer navigation, first select Size->XS(or Color->Blue), then select Pattern->Solid

### Expected result
1. Products with XS size and Solid pattern will be appeared.

###

[2017-10-14 03:35] lecahipe commented on #11110
Hello I'm having similar errors, does anyone solve this?... because I see It was a solution but I cannot understand how @craigcarnell solve it, if you guys can please help a little bit explaining how to solve will appreciate. Thanks
[code]

[2017-10-14 03:43] moderncodes commented on #11280
Just as a temporary solution until I figure out what is wrong on my end, I ended up running this query.
`UPDATE sales_order_grid as t1
    LEFT JOIN sales_order as t2
        ON t1.entity_id = t2.entity_id
SET t1.status = t2.status
WHERE t1.status != t2.status;`
I know I mentioned in my original question that updating `sales_order_grid` was not working, so for whatever reason, maybe by my mistake,

[2017-10-14 05:05] emiprotech commented on #11450
@gizmocn you are right we have followed the same steps to reproduce and we also face the same issues on our site. Thank you for submitted this issues. Please let us know if anyone finds the solutions for that.

[2017-10-14 06:35] selusi commented on #11379
@rigu12
If you installed extensions by composer you can run the command:
1) **php bin/magento module:uninstall -r <Vendor>_<Module>** (NOTE:  -r flag removes module data.)
2) **php bin/magento setup:upgrade**

Alternativly you can uninstall modules manually:
1) Remove the module Vendor_% from app/etc/config.php
2) Drop module tables or columns from database, please check app/code/Vendor/Module/Set

[2017-10-14 06:49] yspeedwicked commented on #11427
This also occurs for any custom attribute

Preconditions
- 2.1.9
- Create new product attribute "discount" text-field
- Assign to attribute-set

Steps to reproduce

(1) Create a configurable product with below child products
- color-blue, disocunt: 20 , qty : 10, in-stock
- color-red, disocunt: 10 , qty : 10, out-of-stock

(2) Create a simple product with discount 15.

- Sort-by discount on produc

[2017-10-14 08:22] orlangur commented on #11110
@lecahipe in your case simply remove leading backslashes: `'\\Magento\Framework\View\Element\Template'` -> `'Magento\Framework\View\Element\Template'`

[2017-10-14 08:40] orlangur commented on #11442
I don't see any mistakes in Pestle's code snippet you provided actually.

Thanks for detailed analysis, I don't see how `\Magento\Setup\Module\Di\Code\Reader\FileClassScanner::extract` may pick not the first class name occurrence though.

[2017-10-14 09:22] Olek89 commented on #10855
hello i am sorry, i still had no time for it.
the issue is still happening, i hadded an idea that, the issue could be on http to https issue,
but still the same.
In the logs are not written, and still no issue from the browser shown.
can you contact me, than i can show it you.

thy

[2017-10-14 09:30] diglin commented on #11140
I'm working on it #SQUASHTOBERFEST

[2017-10-14 09:44] avstudnitz commented on #7241
Working on this.

[2017-10-14 09:46] Olek89 commented on #10855
The problem is only in configurable products, normal products it works perfectly

[2017-10-14 09:55] selusi opened #11453 "Magento 2.2 fix Home Page error if store view is not defined"
### Preconditions
1. PHP 7.0.2
2. Ubuntu 17.4
3. Apache 2.4
4. MySql 5.7

### Steps to reproduce
1. Create and enable at least 2 store views in Stores->All Stores.
2. In Stores->Configuration->General->Web set **Add Store Code to Urls = Yes**
3. Delete all cookie from browser
4. Go to Home Page of your store

### Expected result
1. View the home page of default store view

### Actual result
[code]

[2017-10-14 10:05] afavata opened #11454 "Magento 2.2.0 - Backup fails"
**### Preconditions**
**Magento 2.2.0**
PHP 7.0.22-0ubuntu0.16.04.1
Apache/2.4.18
MySQL 5.7.19

**### Steps to reproduce**
1. use shell a go to magento root directory.
2. type:
        `bin/magento setup:backup -vvv --code --media --db `
   to perform a complete backup

**### Expected result**
1. execute a complete beackup

**### Actual result**
1.  code backup is done correctly.
2. backup stops d

[2017-10-14 10:10] Olek89 commented on #10855
https://youtu.be/EnXRs2a0qTg

[2017-10-14 10:11] Olek89 opened #11455 "Logs out after saving a configurable product #10855"
Can somebody reopen my issue

Logs out after saving a configurable product #10855

[2017-10-14 10:13] afavata commented on #11454
sorry ... please close this issue....
in pub/media there was a wrong permanent link to media directory causing this issue.

Thanks

[2017-10-14 10:13] #11454 closed, assigned to nobody

[2017-10-14 11:05] diglin commented on #11140
The problem happens with the full page cache active

[2017-10-14 11:30] jonashrem commented on #10810
I'm working on it #SQUASHTOBERFEST

[2017-10-14 11:59] jonashrem commented on #10425
I can not reproduce this on 2,2-develop.

Will test this with 2.3-dev next.

[2017-10-14 12:21] nirmalgoswami commented on #2316
Hi Guys, How to solve this on amazon linux os ?

[2017-10-14 12:47] adrian-martinez-interactiv4 commented on #11275
@magento-engcom-team This issue should be closed, solved in PR https://github.com/magento/magento2/pull/11382

[2017-10-14 13:11] diglin commented on #10811
I'm working on it #SQUASHTOBERFEST

[2017-10-14 13:56] avstudnitz commented on #7241
I solved parts of this in #11462. An empty line is added automatically if the field is set to "optional".
Unfortunately, I wasn't able to fix the default option selection in the checkout; it still always selects the first option with a value, it should select the first option at all.

I am pretty sure that the relevant code is in `app/code/Magento/Ui/view/base/web/js/form/element/select.js` (plus

[2017-10-14 14:19] benmarks commented on #4699
@jimul It's working for me. Did you update minimum stability to `beta`?

[2017-10-14 14:31] selusi commented on #10908
The @LuisChaves solution solves the problem definitively, but at this point the ** getCurrentUrl () ** method in the ** Store ** class is absolutely useless.

I've deleted the getCurrentUrl () method from Magento \ Store \ Model \ Store and modified line 228 of the getTargetStorePostData function in Magento \ Store \ Block \ Switcher as follows:

$ this-> getUrl ('store / store / switch', ['_secur

[2017-10-14 14:49] hostep commented on #10908
@selusi: just FYI, you've changed the code back to how it was before commit https://github.com/magento/magento2/commit/508f1ef93558c40f96cc9524e6a205494f90a7ba, in this commit, they fixed the storeswitcher when you work with multiple domain names since it used to store the wrong store code in a cookie which has as a result that we ended up in an endless redirect from one domain name to the other.

[2017-10-14 14:55] selusi commented on #11379
For the final solution to the problem please read the following link:
**https://github.com/magento/magento2/issues/10908** https://github.com/magento/magento2/issues/10908

[2017-10-14 15:02] avstudnitz commented on #8755
Easy to reproduce, hard to solve. How it works internally:
During creation of a widget instance, there is a layout update xml snippet inserted into the database table `layout_update`, for example like this:

[code]

Those layout updates are later merged into the layout in `\Magento\Widget\Model\ResourceModel\Layout\Update::fetchUpdatesByHandle`.

The problem: we don't have any means to set a sort

[2017-10-14 15:04] heyqule commented on #11358
@adrian-martinez-interactiv4 Thanks for setting up the PR.

[2017-10-14 15:07] selusi commented on #10908
@hostep Thank you for the clarification. I did not read the committing you rightly mentioned.

[2017-10-14 17:14] selusi commented on #10908
To fix the duplicate query in the url It is possible to modify the vendor/magento/module-store/model/Store.php file ([Download the Complete Code](https://github.com/magento/magento2/files/1382403/Store.txt)):
So as I described in a comment on:
## In magento 2.2 Changing language twice gives error [bug] https://github.com/magento/magento2/issues/11379

Howewer this solution does not solve the bug i

[2017-10-14 17:34] avstudnitz commented on #7241
@benmarks has sent me a hint to a possible solution: https://stackoverflow.com/questions/15481380/knockout-js-setting-an-empty-selection. I added the `optionsCaption` parameter in https://github.com/magento/magento2/blob/9c14af7a97bcf338662de365d2613c7ca9dbf8c6/app/code/Magento/Checkout/Block/Checkout/LayoutProcessor.php#L131, but it gets lost somewhere in https://github.com/magento/magento2/blob/

[2017-10-14 17:56] gabrielqs-redstage commented on #10650
Hey there. I'm working on it #SQUASHTOBERFEST

[2017-10-14 18:17] lecahipe commented on #11110
@orlangur thanks for your help, I was lost... and the solution was such a simple thing now everything is working. Thanks 👍

[2017-10-14 19:56] kervin commented on #11277
Thanks dfelton!

[2017-10-14 20:08] jonashrem commented on #10425
I can't reproduce it 2.3-dev either

[2017-10-14 21:05] Ctucker9233 commented on #6477
@alena-marchenko Which version of 2.1 will this fix finally be included in?

[2017-10-14 21:45] crtl commented on #5863
I had the same problem with categories.
In the end I found out that I had to set "Include in Menu" to yes.
But then another problem occurred:

The URL was still not rewritten.

My categories arnt in the default root category. So I had to change Stores Root Category back to Default and then again to my own.

After this all rewrites for my categories now work well.

[2017-10-15 07:28] rigu12 commented on #11379
HI

Sorry sir,can i ask you something about Index Management.
Because Product Price, Stock, Catalog Search PROCESSING.
Don't know what happened not ready.
thank you^^""

________________________________
寄件者: selusi <notifications@github.com>
寄件日期: 2017年10月14日 下午 11:56
收件者: magento/magento2
副本: rigu12; Mention
主旨: Re: [magento/magento2] In magento 2.2 Changing language twice gives error [bug] (#113

[2017-10-15 07:37] rigu12 commented on #11379
HI

I only can inside to mysql change the Indexer State (catalog_product_price,cataloginventory_stock,catalogsearch_fulltext: working to valid)

________________________________
寄件者: selusi <notifications@github.com>
寄件日期: 2017年10月14日 下午 11:56:03
收件者: magento/magento2
副本: rigu12; Mention
主旨: Re: [magento/magento2] In magento 2.2 Changing language twice gives error [bug] (#11379)

For the final sol

[2017-10-15 07:43] ishakhsuvarov commented on #10201
Hi @davidverholen
We have followed these steps in order to reproduce the issue, please confirm it doesn't work for you:

### Steps to reproduce
1. Go to backend -> Marketing -> Email Templates -> Add new Template
2. Load default template: choose `Footer` or `Footer blank/luma` and click load template button
3. Make some changes in Template Content and hit save
4. Try to receive any email from webs

[2017-10-15 07:50] ishakhsuvarov commented on #9534
Hi @TenzinNKhando
Looks like this is not a bug but misconfiguration. Please check other comments with suggestions.
Closing this ticket for now. Please reopen if you think this is a core Magento issue.

[2017-10-15 07:50] #9534 closed, assigned to nobody

[2017-10-15 09:04] diglin commented on #10650
@gabrielqs-redstage Sorry I was already working on it yesterday and send the PR

[2017-10-15 10:35] #11455 closed, assigned to nobody

[2017-10-15 10:46] orlangur commented on #11453
Patch does not look good to me. On line  168 `$storeId` must already have a valid value.

Obtaining default store code logic is placed in `$this->currentStoreId = $this->storeResolver->getCurrentStoreId();`.

[2017-10-15 10:54] davidverholen commented on #10201
@ishakhsuvarov  just tested it. There is a configuration design/email/footer_template.
After changing it the footer is loaded as expected (at least in the develop branch)

[2017-10-15 10:58] mariuscris commented on #9449
Base on the configuration file from "dev/tests/unit/phpunit.xml.dist", you can have tests running on a module even if that module is not enabled.

The configuration is set to read directories with places where the unit tests files can be located and they do not depend on module status (being enabled or disabled).

I think the main reason for this, it's because unit tests do not need to have the mo

[2017-10-15 11:23] Fuzzzzy commented on #10013
I'm working on it #SQUASHTOBERFEST

[2017-10-15 11:30] scholtz commented on #11350
i have made PR request.. hopefully there is someone else then  orlangur  to check it up

just to summarize what i found during fixing this issue..

the behavior of not transferring to http from https stream is already coded in the main url class, but magento administration only verifies 2 parameters.. if secure_is_forced parameter is checked, then the connection will be secured. When web/secure/us

[2017-10-15 12:37] adaemon opened #11468 "Table Rate Shipping method could not upload CSV file"
### Preconditions

1. Magento version CE 2.1.5

### Steps to reproduce

1. Login to admin panel go to Store -> Configuration -> Sales -> Shipping Methods
2. Expand Table Rates and Override the default options. Select Enabled as Yes
3. Condition: # of items vs Destination
4. Save the configuration
5. Change Store view to "Main Website"
6. You could see Export and Import option
7. Click export butto

[2017-10-15 12:37] maksek commented on #11209
@tdgroot 2.2-develop first, and if successful, would be nice to forward port to 2.3-develop.

[2017-10-15 12:39] maksek commented on #10869
Hey @rogyar, should I assign the ticket on you?

[2017-10-15 12:57] MIstvan93 commented on #10834
I'm working on it #SQUASHTOBERFEST

[2017-10-15 12:57] mrodespin commented on #10231
I have been looking this issue, it seems that is happening in version 2, 2.1 and 2.2. The problem is that magento routing logic is not having in mind the custom redirections.

Can anyone assign this ticket to me? I have one solution in mind but i am not sure if it is the better one, talking about performance terms

[2017-10-15 13:02] maksek commented on #10231
@mrodespin , can you accept invitation in collaborator group. so I can assign the ticket to you?

[2017-10-15 13:32] mrodespin commented on #10231
@maksek done!

[2017-10-15 13:48] maksek commented on #10834
@MIstvan93, what do you think if the "No" value will be the default one after installation?

[2017-10-15 13:54] MIstvan93 commented on #10834
@maksek I think it would be a good idea, but that's just me.

[2017-10-15 14:01] maksek commented on #10834
@MIstvan93  -  create PR with changing default value, and we will process it :)

[2017-10-15 14:05] ishakhsuvarov commented on #10201
@davidverholen Thank you for your investigation. We will check this again based on your research.

[2017-10-15 14:42] mariuscris commented on #9413
I'm working on it #SQUASHTOBERFEST

[2017-10-15 15:11] lewisvoncken commented on #5846
@okorshenko @magento-engcom-team  My college Wil v Beukesom has already created a fix for this. I will  come back to you this week with a pull request with his fix.

[2017-10-15 17:35] lewisvoncken commented on #8172
@gabriel-sf  @magento-engcom-team

I just supplied a fix in the partner github

[2017-10-15 18:30] PieterCappelle commented on #11450
Did you try to reindex?

[2017-10-15 18:31] PieterCappelle commented on #11441
Did you set the correct permissions? Must be file/folder permission issue.

[2017-10-15 18:47] mrodespin commented on #5768
Can anyone assign me this ticket?

[2017-10-15 19:40] lewisvoncken commented on #9433
@okobchenko @magento-engcom-team
Fix has been supplied through the partner github

[2017-10-15 20:02] lewisvoncken commented on #10507
@jkf276 @magento-engcom-team in my opinion this is the same issue as magento/magento2#8172 which I have solved in the partner github https://github.com/magento-partners/magento2ce/pull/59

[2017-10-15 20:36] careys7 opened #11477 "Magento REST API Schema (Swagger) is not compatible with Search Criteria"
Re-opening #7511 per comment https://github.com/magento/magento2/issues/7511#issuecomment-336468740 as this affects 2.0 - 2.2 and hasn't been resolved.

### Preconditions
1. Magento 2 CE or EE (all versions)

### Steps to reproduce

1. View Magento-generated Swagger Specification

### Expected result

1. Search criteria described in format compatible with [Open API / Swagger specification](https:/

[2017-10-15 20:39] careys7 commented on #7511
Thanks @magento-engcom-team . This is still an issue so have reopened #11477 with more comments.

[2017-10-15 23:22] versdivers commented on #10878
The problem is for some reason that the string length is really big but the string itself is not.
If you do a var_dump of the $idFile in File.php of the function _cleanNew you will see that the string length does not match the actual length

string(**100**) "/data/sites/web/ehaleeu6099/www/var/cache/mage--8/mage---355_SYSTEM_STORESNL"

[2017-10-16 00:12] adrian-martinez-interactiv4 opened #11478 "In admin, url params may get url encoded more than once"
In admin, url params may get url encoded more than once, when \Magento\Backend\Model\Url::getUrl() is called many times within the same request. This can mess up parameters like grid filters, and others. Related with #11343.

### Preconditions

Magento 2, develop branch
PHP 7.0

### Steps to reproduce
1. Use this [Gist](https://gist.github.com/adrian-martinez-interactiv4/d0f598faa682e8f915e966543e

[2017-10-16 01:27] UrbanSurfers commented on #10499
I confirm here in CE 2.1.9 :
billing agreements NO => PayPal option NO
billing agreements YES => PayPal option YES
I found this post after 2 months without PayPal on my website !!
Thanks

[2017-10-16 02:53] sharmashashank342 commented on #7136
Noted.

Thanks

On Oct 10, 2017 5:00 PM, "Magento Community Engineering" <
notifications@github.com> wrote:

[2017-10-16 04:01] MichaelJamesParsons commented on #9323
@magento-engcom-team I was able to reproduce the same error by accidentally creating a circular reference in my `module.xml` file. Please improve the exception messages to include more detail. Maybe a `--verbose` option to show the full stack trace?

**Magento version**: 2.1.7

    <?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation

[2017-10-16 06:29] jimul commented on #4699
Yes, I tried with "minimum-stability": "beta", and cleared composer cache, same issue

[2017-10-16 07:03] erfanimani commented on #4132
For people coming across this, I'm still having this same issue when I import products.

After I head into the category and save it, it goes away. This is with flat categories enabled (not sure if that matters).

[2017-10-16 07:09] ricoliv commented on #11400
I have exactly the same problem.
I had a fully running Magento 2.1.9 version with amazon 1.4.

From there, I installed PHP soap like this:
sudo apt-get install php7.0-soap

Then I tried to upgrade Magento from 2.1.9 to 2.2.0  and got following error message during readines check:

Problem 1
- Installation request for magento/product-community-edition 2.2.0 -> satisfiable by magento/product-communi

[2017-10-16 07:11] zjabbar commented on #1691
@zsoerenm Thank you for sharing your module. I have used the same to make city field optional.

[2017-10-16 07:11] selusi commented on #11379
To update the index You have to run the command:
**php bin/magento indexer:reindex**
In this regard, you also need to configure a cron job to update indexes at predefined deadlines.
Visit the below page for details:
http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html

[2017-10-16 07:14] salelsol commented on #11096
Need help for fix this composer issue:

  Problem 1
    - Conclusion: don't install magento/product-community-edition 2.2.0
    - magento/framework 100.1.9 requires zendframework/zend-stdlib ~2.4.6 -> satisfiable by zendframework/zend-stdlib[2.4.13, 2.4.10, 2.4.11, 2.4.12, 2.4.6, 2.4.7, 2.4.8, 2.4.9].
    - magento/framework 100.1.3 requires zendframework/zend-stdlib ~2.4.6 -> satisfiable by zendf

[2017-10-16 07:20] rajvinoth commented on #4979
Goto
<project root folder >vendor\magento\module-catalog-import-export\Model\Export\Product.php line no 439

Replace this

`$path[] = $collection->getItemById($structure[$i])->getName();`

with

[code]

Also add a category factory in the product.php construct class

[code]

Once you have added, compile your project and refresh cache and deploy the content

I suggest you , instead editing in core t

[2017-10-16 07:31] tomlutzenberger commented on #11412
Can confirm after upgrade from CE 2.1.9 to 2.2.0

[2017-10-16 07:43] hostep commented on #11400
Guys, just read the error message, the `amzn/amazon-pay-and-login-with-amazon-core-module` library version 1.1.4 isn't compatible yet with Magento 2.2's dependencies.
Please see if you can update that amazon library to a newer version, or file an issue in their repository to make it compatible with Magento 2.2.

This has nothing to do with Magento itself, so feel free to close this issue. Thanks!

[2017-10-16 07:50] ricoliv commented on #11400
ok, I updated amazon to latest version 1.1.5 (without upgrade to Magento 2.2) - Success.

When trying to upgrade to magento 2.2. now, I get a slightly different error.
Does this mean amazon pay is not ready for magento 2.2.0?

Check Component Dependency

We found conflicting component dependencies. Hide detail

Command "update" failed: Loading composer repositories with package information
Updatin

[2017-10-16 08:22] denisristic commented on #10363
I'm working on it #SQUASHTOBERFEST

[2017-10-16 08:33] abedzoubi26 opened #11482 "How to add image url to Magento 2 Rest API “rest/V1/categories”?"
in magento 2.1:

Categories Rest api "rest/V1/categories" returns data as follows

[code]
how to modify it to return the category image and description ?

[2017-10-16 08:35] ravisalamani opened #11483 "Image CAPTCHA requires FT fonts support While Logging to Magento2 admin"
I am facing the issue mensioned in

I installed a fresh copy of Magento2 Latest version (2.2.0) on my live site but when i try to login via admin panel it throws the below error
[code]

[2017-10-16 08:50] kishanpatadia commented on #11412
I have the same issue. I upgraded from CE 2.1.9 to 2.2.0

[2017-10-16 08:51] cadoworld commented on #11412
I have the same issue too. I upgraded from CE 2.1.9 to 2.2.0. Does someone have a solution ?

[2017-10-16 09:05] hostep commented on #11400
@ricoliv:

It looks like it, but please contact them yourself, this has nothing to do with Magento 2 itself :)

[2017-10-16 09:06] orlangur commented on #11096
@salelsol,

looks like it's your language pack causing the trouble. Try upgrading it together with `magento/product-community-edition` or replace with your local fork having other constraint allowing `101.x`. Note that relying on `dev-master` is never a good idea, packages needs to be tagged properly.

[2017-10-16 09:36] joost-florijn-kega opened #11484 "Visual Merchandiser show prices of out of stock simple products for the associated configurable product."
### Preconditions
1.  Magento 2.1.7 and up
2. PHP 7

### Steps to reproduce
1. Have a configurable product that is associated with a simple product which is out of stock on default website level (id: 0) and is in stock on website level.
2. Go to the visual merchandiser of the category where the configurable product is linked.
3. Look up the configurable product in the visual merchandiser Tile over

[2017-10-16 10:13] yosefkurniawan commented on #6388
does this issue persist? any workaround?

[2017-10-16 10:16] skast96 commented on #11412
Have had the same issue removed it by:
- adding to core_config_data
  - 414	default	0	design/theme/ua_regexp	{}
  - 415	store	1	design/theme/ua_regexp	{}
  - 72	default	0	design/theme/theme_id	 "your theme id" -> was NULL before no idea why ?
clear all cache
bin/magento setup:upgrade

Hope this helps someone :smile:

[2017-10-16 10:48] orlangur commented on #11482
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2017-10-16 10:48] #11482 closed, assigned to nobody

[2017-10-16 10:50] orlangur commented on #11483
Please check https://magento.stackexchange.com/questions/196527/image-captcha-requires-ft-fonts-support.

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions. Also, googling observed error is usually helpful.

[2017-10-16 10:50] #11483 closed, assigned to nobody

[2017-10-16 11:05] RishabhRkRai commented on #11364
I have Magento 2.1.7

[2017-10-16 11:09] maderlock commented on #8296
I've tracked down the issue to magento/module-paypal/Model/Express.php line 389:

    $status = true;

This then gets set on the order model on line 431.

When we get to magento/module-sales/Model/Order/Payment.php it gets the status from the order as TRUE, so at line 359 of that file it throws a PHP error because a boolean is not a valid input to the array_key_exists function.

[2017-10-16 11:31] maderlock commented on #8296
As a workaround I've created a plugin for Paypal\Model\Express which sets order status to null if it's set to true. This is finally allowing orders to go through.

[2017-10-16 11:50] TobiasLogiline opened #11487 "Cart and Registration not work"
Hi @ll,

I have made a clean installation of XAMPP and a clean setup of Magento. Nothing special ...

I have created one Product and wanted to add it to the cart ... Nothing special ...

But the Button for "Adding ..." stays like that forever. Nothing in the cart.

And when want to register an user, the page only reload without adding user.

Nothing in the logs, no error messages anywhere, nothing

[2017-10-16 12:34] diazwatson commented on #9783
I'm working on it #SQUASHTOBERFEST

[2017-10-16 12:39] chakravarthy392 commented on #11394
Hi @mhpsaa , I am using Magento 2.1.8 and able to configure by unmarking the "use system values" options as shown in below image. Let me know the procedure you have followed to reproduce the problem.

![magento_config](https://user-images.githubusercontent.com/21700868/31612286-dee27964-b29c-11e7-82e8-8e9f612bc057.PNG)

[2017-10-16 12:50] vkmunjpara commented on #5885
Hello There,

I want to update just these two issues [#2908](https://github.com/magento/magento2/issues/2908) and #5885 (current page) to magento version 2.1.3. I don't want to upgrade whole version at this moment.

These two issues have been closed and resolved in 2.2.0. So can any body help me how to find the files for these two issues only from git hub ?

I saw commits in these two issues. Is t

[2017-10-16 12:56] vkmunjpara commented on #5885
@gemscng , @magento-team, @magento-engcom-team , @mmansoorebay

Hello Guys,

Please check my above comment. Can you please help me in this regard ?

Thank you..

[2017-10-16 12:56] kielsoft commented on #2732
just set `dev/js/minify_files` to **0** in `core_config_data` table and run `bin/magento cache:flush` again you admin menu will work again

[2017-10-16 13:15] Shade634 commented on #2732
@kielsoft Then you disable minify again, its the only way to get your site working again, but not a fix. So far i havent had a moment to try this on a clean install.

[2017-10-16 13:19] iftikharuddin commented on #11483
I am facing the same issue the magento stack answer is not helping. He is saying to change php configure script but where is that and what file? is it config.ini or php.ini or what? I am using ngnix server

Thanks

[2017-10-16 13:26] cadoworld commented on #11412
did anyone else tried Skast96 solution. Did it work ?

[2017-10-16 13:26] nbennett25 commented on #9449
What's the rationale of running tests on disabled modules? If your deployment process is dependent on all tests passing, and a disabled module is failing a test, you won't be able to deploy code due to code that isn't even being used.

[2017-10-16 13:41] NormAtHuemor commented on #9171
Hi, @amaddatu . Would you mind going into further detail on how you implemented the override of the import class constructor? I've set up an override in an extension based on your comment above. However, during the compile process I receive the following error:

Errors during compilation:
Vendor\Extension\Model\Import\Product
Missed required argument eventManager in parent::__construct call.

[2017-10-16 13:53] okorshenko commented on #10834
Hi @MMaKenZi could you please accept the invite to join magento2 repository on the GitHub?

[2017-10-16 13:54] okorshenko commented on #9783
HI @milansimek could you please accept the invite to join magento2 on the GitHub?

[2017-10-16 14:02] FrankRuis opened #11488 "Race condition when placing 2 orders for product with stock of 1"
### Preconditions

1. Tested on Magento 2.1.8 and 2.2

### Steps to reproduce

1. Create a product with stock quantity set to 1
2. Add the product to your cart in 2 different checkout sessions
3. Simultaneously press the place order button in both checkout sessions

### Expected result

1. The order that is finished first successfully places the order
2. The order that is finished second gets an o

[2017-10-16 14:14] selusi commented on #11453
You have right .
Other solution is to change 155 line:

from

[code]
to

[code]

[2017-10-16 14:47] JosephMaxwell commented on #10704
#squashtoberfest

[2017-10-16 14:55] tomlutzenberger commented on #11412
I honestly not sure what he explained 🤔
Could you clarify, @skast96 ?

[2017-10-16 14:57] avoelkl opened #11489 "Product price of 99,999,999.99 shown as 100,000,000.00"
### Preconditions
1.  PHP 7.1.9
PHP_INT_MAX = 9223372036854775807
2. MySQL 5.6.37
3. Magento 1.0.0 B2B (=2.2.0 B2B)
4. tested it on Magento CE 2.1.7 as well - same behaviour

### Steps to reproduce

1. Create a product via PHP script, set the price to PHP_INT_MAX
(PHP_INT_MAX is of course bigger than the value that can be stored in the db, so I do not consider step 2 as a bug, storing the max valu

[2017-10-16 15:09] tanghia commented on #10687
I got the same issue with Magento 2.2.0. Some my customers have updated their websites from 2.1.8 to 2.2.0 and all custom extensions used $this->productRepository->save($product); will unset value of  image properties "base", "small" and "thumbnails" . We see placeholder images only!

$product->unsetData('media_gallery');
$this->productRepository->save($product);

Two lines of code are great to fi

[2017-10-16 15:11] javsalgar opened #11491 "Magento setup:di:compile in Windows renders main page unusable"
### Preconditions

1. Version: 2.2.0
2. PHP:

[code]

3. MySQL

[code]

4. Windows Server 2012 AWS Base image

### Steps to reproduce

1. Install Magento in WAMP
2. Execute setup:di:compile

### Expected result

1. Magento should show its UI without issues

### Actual result

1.
<img width="1280" alt="screen shot 2017-10-16 at 17 08 54" src="https://user-images.githubusercontent.com/1133777/316194

[2017-10-16 15:17] orlangur commented on #11491
Can you reproduce an issue using a supported operating system: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html? Note that Windows is not in the list.

[2017-10-16 15:25] orlangur commented on #11483
Well, what is configure command is a matter of googling as well.

In PHPInfo you can see something like
[code]

in the very top. This is a command which can be used to recompile PHP.

Note that in my case GD is used with freetype. GitHub is not a help desk, problems with your particular environment should be raised in [Magento Stack Exchange](https://magento.stackexchange.com) so that answers can

[2017-10-16 15:28] LSERRE commented on #10417
I have the same issue on 2.2.0.

[2017-10-16 15:30] orlangur commented on #11489
`.9999` I don't think Magento supports four decimals out of the box. Looks like a duplicate of https://github.com/magento/magento2/issues/10532 to me.

[2017-10-16 15:31] orlangur commented on #11487
Can you reproduce an issue using a supported operating system: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html? Note that Windows is not in the list.

[2017-10-16 15:42] jcconde opened #11494 "LogicException: View file XML is indistinguishable"
### Preconditions

1. Ubuntu Trusty 14.04 LTS x64, created using puphpet
2. PHP-FPM
`PHP 7.0.24-1+ubuntu14.04.1+deb.sury.org+1 (cli) (built: Sep 28 2017 16:33:02) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.24-1+ubuntu14.04.1+deb.sury.org+1, Copyright (c) 1999-2017, by Zend Technologies
    with Xdebug v2.5.

[2017-10-16 15:54] avoelkl commented on #11489
Oh dear... I changed the price rounding to round(X, 4) so often that i keep forgetting it's using round(X, 2) per default...

[2017-10-16 15:59] gabrielqs-redstage commented on #10650
@ishakhsuvarov can you please assign this one to @diglin instead?

[2017-10-16 16:00] #11489 closed, assigned to nobody

[2017-10-16 16:09] iftikharuddin commented on #11483
I solved it by adding **libfreetype.so** file in **user/lib64** directory (in my case it was **_root/lib64_**).
The **libfreetype.so** file should contain the following code

[code]

[2017-10-16 16:27] orlangur commented on #5258
Try using a supported operating system: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html. Note that Windows is not in the list.

While technically `PHP_BINARY` may contain space under Linux, I don't think it's worth fixing until there is a real bug report.

[2017-10-16 16:27] #5258 closed, assigned to nobody

[2017-10-16 16:32] lfolco commented on #9694
I'll take this one #squashtoberfest

[2017-10-16 16:34] okorshenko commented on #9694
@lfolco please accept the invite to magento2 repo

[2017-10-16 16:45] gnuzealot commented on #9419
Working on it... #SQUASHTOBERFEST

[2017-10-16 17:07] talesh commented on #9449
I got this one #squashtoberfest

[2017-10-16 17:12] gnuzealot opened #11496 "Delete additional address will not work if no default address is set"
### Preconditions

1. PHP 7.0.24
2. Percona 5.6.33-79.0
3. Magento 2.2

### Steps to reproduce
1.  Create a new customer account
2.  Add an address without making it a default for shipping or billing
3.  Delete option will show for the address, but will not function. href for link is just "#"

### Expected result
1. The address should be deleted

### Actual result
1. The delete link does not have

[2017-10-16 17:26] ShapesGraphicStudio commented on #6367
Hi, I had the same problem here, **grunt watch** was not "seing" my changes / uploads..

I weirdly had to remove
`@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i,900,900i');`
from my CSS.

[2017-10-16 17:32] lfolco commented on #9694
So to confirm the purpose of this ticket is to remove the foreign key checks? Should we consider adding any new methods that add the foreign key checks in case someone needs them?

[2017-10-16 17:49] kenmaxnejp commented on #6138
Issue still exists in Magento 2.2.0.

[2017-10-16 17:53] jantzenw commented on #9694
Perhaps nothing should change and developers should simply not call `startSetup` and `endSetup` unless they need to. But almost everyone does, and almost no one should. I think it is because these functions sound necessary, so most developers are fooled.

Perhaps it could be less misleading, possibly by deprecating these functions and replacing their logic with functions named like this:
[code]

[2017-10-16 17:59] pmoreno1980 opened #11497 "Discount Rule does not show Default Rule Label"
### Preconditions

Magento 2.1.7
PHP 7.0
Mysql 5.7

### Steps to reproduce

1. i added products to the cart
2. https://mage2.pro/uploads/default/original/1X/87f29efbead4b3c3f222562e3345078ea9c380c7.png

### Expected result

1. rule label= "May Promo 3% discount -$58.35"

### Actual result

1. i see "discount -$58.35" instead of rule label

[2017-10-16 18:00] magento-team commented on #10007
Internal ticket to track issue progress: MAGETWO-81966

[2017-10-16 18:00] magento-team commented on #11044
Internal ticket to track issue progress: MAGETWO-81618

[2017-10-16 18:05] okorshenko commented on #9419
Hi @gnuzealot could you please accept the invite to join magento team on GitHub

[2017-10-16 18:06] okorshenko commented on #9449
Hi @talesh please accept the invite to join magento team on the github

[2017-10-16 18:25] orlangur commented on #9449
What's the rationale of keeping disabled modules in codebase? Why it's bad to keep disabled modules in workable state?

I don't see a valid reason to change this behavior for unit tests. For integration and functional tests it makes more sense but they are not stored within a module yet.

If it will be changed, it would be nice to change only `bin/magento dev:test:run unit` behavior and not `./ven

[2017-10-16 18:28] orlangur commented on #5453
It this still reproducible on Magento 2.2.0 branch? Was it reproduced on any Composer-based installation of Magento or there are some additional steps?

[2017-10-16 18:29] kirmorozov commented on #7678
Will take care of it.  #SQUASHTOBERFEST

[2017-10-16 18:34] orlangur commented on #4375
Obviously it is not possible to run integration tests without application installation, please check http://devdocs.magento.com/guides/v2.2/test/integration/integration_test_execution.html.

[2017-10-16 18:34] #4375 closed, assigned to mazhalai

[2017-10-16 18:35] joshuaswarren commented on #10025
I've been looking into this issue as part of Squashtoberfest, and looking at 2.0, 2.1 and 2.2 (including 2.2-develop), the only place I can find in the integration test suite where the SQL database dump is being created is here: https://github.com/magento/magento2/blob/2.2-develop/dev/tests/integration/framework/Magento/TestFramework/Application.php#L487

This is at the end of the install function

[2017-10-16 18:35] Olek89 commented on #10855
It seems that the problem is if i set **only** a link to a website and save it, than he kills me out, if i change something else in it, it saves everything well.

https://youtu.be/doc0lxv_YwU

[2017-10-16 18:37] joshuaswarren commented on #10025
Also, going back to @giacmir's comment (which appears to be a slightly separate issue - Dersam is reporting a problem where he has modified the test database during the integration test process and those modifications are being restored. Giacmir, you're pointing out the case where a problem might be in a setup script itself, so you'd prefer the DB not to be restored at all) - I think a good soluti

[2017-10-16 18:38] kishanpatadia commented on #11412
great

On Oct 17, 2017 12:06 AM, "cadoworld" <notifications@github.com> wrote:

error solved - problem with phpcli must be 70 ... was 71

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/magento/magento2/issues/11412#issuecomment-336987515>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AEuuyjEsTqnoHHA15KPa7

[2017-10-16 18:43] orlangur commented on #3470
This was fixed in https://github.com/magento/magento2/pull/10114, now `zend-escaper` is implicitly required (would be nice to make it explicit but it is just an improvement).

[code]

[2017-10-16 18:43] #3470 closed, assigned to nobody

[2017-10-16 18:45] orlangur commented on #4378
This was fixed in https://github.com/magento/magento2/pull/10114.

[2017-10-16 18:45] #4378 closed, assigned to nobody

[2017-10-16 18:48] nbennett25 commented on #9449
@orlangur - so should best practices be to simply remove modules that are not enabled from the codebase? I tend to agree with you - if the code isn't being used it shouldn't be there, but if that's not currently the protocol, I don't see any reason for running unit tests for code that will never be used. (Also, if only enabled modules should be included in the code base, why have an enabled/disabl

[2017-10-16 18:52] joshuaswarren commented on #10025
It looks like the cleanest fix here is to change the behavior so that when TESTS_CLEANUP is enabled, the database dump is **not** restored.

[2017-10-16 18:56] lfolco commented on #9419
Should that `updated_at` be changed in this case though? The `created_at` and `updated_at` fields are usually considered audit-style fields, and if the `customer_entity` record itself is not changed, why would the `updated_at` field change? There is no change to the `customer_entity` record at all.

[2017-10-16 18:57] hostep commented on #6138
@kenmaxnejp: yes indeed, but the cause of the bug is different this time. The new bug should get fixed by https://github.com/magento/magento2/pull/11048/commits/62378774f239c2019e39bdd353c8c6c674b54fb1. I believe the fix is scheduled to be part of Magento 2.2.2 which should get released by the end of this year from what I've heard.

[2017-10-16 19:05] orlangur commented on #8971
Disagree.

According to my understanding:
1. `dev/` folder must be dissolved as much as possible among modules, not just unit tests deserve to be modular
2. `.gitattributes` may be used to get rid of tests in Composer packages but as far as I remember PHPUnit configurations were intentionally adopted to be able to run tests from `vendor/`

Such expectation is wrong: https://getcomposer.org/doc/03-

[2017-10-16 19:07] orlangur commented on #9449
That is not what I was saying :) I was saying that it is a good thing to keep **ALL** your modules workable so that they can be enabled at any moment. And if some disabled module does not work, simply remove it from codebase if you're not going to fix it.

[2017-10-16 19:09] talesh commented on #9449
Hi @okorshenko, as far as I can tell the autoload is fine. This is an issue of just running tests on unused code.

[2017-10-16 19:09] stevenlavine opened #11498 "PayPal payment method not appearing on checkout page"
### Preconditions

1. Magento 2.1.9
2. MySQL 5.7
3. PHP 7.x
4. Apache 2.4

### Steps to reproduce

1. Go to Stores > Configuration > Sales > Payment Method
2. Change Default Country to New Zealand
3. Select PayPal Website payments standard as a payment method
4. Enter valid PayPal API credentials
5. Select Bank Transfer as a payment method

### Expected result

1. PayPal payment method should appe

[2017-10-16 19:14] orlangur commented on #10025
So http://devdocs.magento.com/guides/v2.2/test/integration/integration_test_execution.html#the-testscleanup-constant is misleading and application reinstallation never occurs in fact?

[2017-10-16 19:17] gnuzealot commented on #9419
In the interpretation of the created_at and updated_at columns as indicators of an individual row being updated or created then this ticket should be flagged as working as designed. Based on other implementations of similar models this appears to be the case. If this is not the case then it would have major implications throughout data structures that have hierarchies like products all of which wo

[2017-10-16 19:17] orlangur commented on #9449
@talesh yeah, PHPUnit is not aware of Magento application, it just runs specified paths: https://github.com/magento/magento2/blob/2.2-develop/dev/tests/unit/phpunit.xml.dist#L15 (and it should not be aware).

Are there any places in documentation saying enabled/disabled status should affect **UNIT** tests execution?

[2017-10-16 19:19] vrann commented on #9783
Now there are no fatal errors, but multiple depends node does not work as expected.

1. Edit `app/code/Magento/Catalog/etc/widget.xml` and add ` <parameter name="display_type" value="new_products" />` under `products_per_page` depends section:
[code]
2.  clear cache
3. Go to Content -> Widgets -> Add Widget
4. Add `Catalog New Products List`, with `Magento Blank` theme
5. Press `Continue` and go t

[2017-10-16 19:22] talesh commented on #9449
Hi @orlangur, no there isn't.

[2017-10-16 19:24] okorshenko commented on #9449
Hi @nbennett25
we are closing this ticket as non-issue. Unit tests should not care about application state. If you would like to exclude some folders from the testing, you can use phpunit.xml file for that.
@talesh @orlangur thank you for research!

[2017-10-16 19:24] #9449 closed, assigned to talesh

[2017-10-16 19:39] sylink commented on #9633
Working on this for #squashtoberfest !

[2017-10-16 19:43] talesh commented on #6299
I'm on this one #squashtoberfest. cc/@okorshenko

[2017-10-16 19:45] vrann commented on #10979
This is duplicate of #7678

[2017-10-16 19:46] nbennett25 commented on #9449
@okobchenko - your call, but it seems like bad practice to me.

[2017-10-16 19:51] Cacasapo commented on #5923
So, is the 2.1.x branch going to be abandoned for 2.2?

[2017-10-16 19:54] okorshenko commented on #9633
Hi @sylink could you please accept the invitation to join magento2 repository on the GitHub?

[2017-10-16 19:58] meichenblatt commented on #5247
Its great that you fixed it but if I can't upgrade the fix doesn't do me any good...

[2017-10-16 19:58] okorshenko commented on #10025
Hi @joshuaswarren please accept the invite to join magento2 repository

[2017-10-16 20:00] magento-team commented on #10007
Internal ticket to track issue progress: MAGETWO-81968

[2017-10-16 20:04] orlangur commented on #9419
Please don't "fix" it :) Obviously such scenario should cause `updated_at` change in `customer_address_entity` table only.

I remember there was another issue reported that updating shipment does not change `updated_at` of order entity.

[2017-10-16 20:06] gewaechshaus commented on #11498
https://github.com/magento/magento2/issues/10499

[2017-10-16 20:07] tomlutzenberger commented on #11412
@cadoworld Mine was always running on 7.0 and still experience this error. Do you have special settings?

[2017-10-16 20:11] lfolco commented on #9419
Yes, I agree that we should not make any changes; this ticket should be closed.

[2017-10-16 20:29] agenceoneo commented on #11441
The all permission are 777, but the problem still

[2017-10-16 20:40] joachimVT commented on #11181
I'm having the same issue.

**Preconditions**

Magento 2.2.0
PHP 7.0.24
Vagrant box
Ubuntu14.04.1+deb
macOS High Sierra

After composer create-project I try to run the installer command
`php bin/magento setup:install .. `

This gives me the same error
`PHP Fatal error:  Interface 'Magento\Framework\UrlInterface' not found in /var/www/magento2/vendor/magento/framework/Url.php on line 66`

`vagrant@

[2017-10-16 20:46] talesh commented on #6299
@sbernaldev ... Your original report says PHP 7.6.0-dev....

Did you mean PHP 5.6.0-dev or PHP 7.0.6-dev?

#deloreanDependancyFailed

[2017-10-16 20:56] arthurpro commented on #4788
Hi! I can fix these issues

[2017-10-16 21:01] skast96 commented on #11412
Okay sorry for my bad explanation, I hope this helps otherwise I should improve my English writing skills 💯.

I added these lines to the table core_config_data because I have had a look on another magento2 instance of mine which is on Version 2.2.0, I saw that the theme_id of the default scope was the same id I have on the store scope. After this change another error popped up with the "design/the

[2017-10-16 21:24] joshuaswarren commented on #10025
Thanks for the invite - accepted. I've submitted a pull request to resolve this issue as part of #SQUASHTOBERFEST

[2017-10-16 21:39] salelsol commented on #11096
Hi, any help with this issue:
 - The requested package magento2translations/language_es_es ~1.1.0 exists as magento2translations/language_es_es[2.0.2.x-dev, 2.0.7.x-dev, dev-Head, dev-master] but these are rejected by your constraint.

[2017-10-16 21:44] okorshenko commented on #6299
Hi @talesh
since we would like to fix this in 2.2.x release, let's use PHP 7.0.x or 7.1.x
PHP 5.6 is not supported any more

[2017-10-16 21:59] talesh commented on #6299
OK on PHP 7.0.24 I have narrowed the problem to a parse error on line 84 of the following JSON. It looks like the value of `<button data-translate` on line 84 is being parsed and breaking the JSON format:

[bad_json_linted.txt](https://github.com/magento/magento2/files/1389173/bad_json_linted.txt)

[2017-10-16 21:59] gnuzealot commented on #11496
Was able to narrow this down to a problem with my installation, please close.

[2017-10-16 22:04] joshuaswarren commented on #4848
I'm working on it #SQUASHTOBERFEST #MMNY

So far I've narrowed it down to Magento/Webapi/Controller/Soap.php - the block starting around line 133, and the fact that the default response type in etc/di.xml is set to:

` <item name="default" xsi:type="array">
                    <item name="type" xsi:type="string">*/*</item>
                    <item name="model" xsi:type="string">Magento\Framework\

[2017-10-16 22:11] joshuaswarren commented on #4848
In etc/di.xml, changing:

` <item name="default" xsi:type="array">
                    <item name="type" xsi:type="string">*/*</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Response\Renderer\Json</item>
                </item>`

to:

` <item name="default" xsi:type="array">
                    <item name="type" xsi:type="string">*/*</item>

[2017-10-16 22:51] sylink commented on #9633
No solution at the moment, we see the admin/setup and the frontend both set the save_handler differently and not explicitly? So a simple fix if you force the init_set but the code side appears to be a lot more complex than expected.

[2017-10-16 23:00] magento-team commented on #11139
Internal ticket to track issue progress: MAGETWO-80828

[2017-10-16 23:00] magento-team commented on #10231
Internal ticket to track issue progress: MAGETWO-81977

[2017-10-16 23:00] magento-team commented on #10007
Internal ticket to track issue progress: MAGETWO-81967

[2017-10-16 23:00] magento-team commented on #10941
Internal ticket to track issue progress: MAGETWO-81986

[2017-10-16 23:00] magento-team commented on #10795
Internal ticket to track issue progress: MAGETWO-81830

[2017-10-16 23:00] magento-team commented on #11207
Internal ticket to track issue progress: MAGETWO-81673

[2017-10-16 23:00] magento-team commented on #11332
Internal ticket to track issue progress: MAGETWO-81580

[2017-10-16 23:00] magento-team commented on #11310
Internal ticket to track issue progress: MAGETWO-81456

[2017-10-17 02:16] fooman commented on #11494
Would you mind clarifying your network/nginx setup. In the steps to reproduce you are using this url
http://testnewmag.com/
however when opening the admin you use
http://testnewmag219/admin_z17k3x

[2017-10-17 02:34] jmtakahashi commented on #8640
@aasim110 why did you close this?  I just upgraded to 2.1.9 and the bug is still there.  Even with the fix, this issue should remain open so the @magento-engcom-team can resolve this without the use of a third party module.  Seems like something that should be addressed by core functionality.  Unless, there is a core fix and I can't find it because most of the fixes posted by Magento don't include

[2017-10-17 03:06] gwharton commented on #10210
@reviskar Here is a link to the commit in the development branch that fixes this issue.

[https://github.com/magento/magento2/commit/68e7d8bbd41fe3434ae2a4b85bb0fb8c67217a0b](https://github.com/magento/magento2/commit/68e7d8bbd41fe3434ae2a4b85bb0fb8c67217a0b)

[2017-10-17 03:43] maxiiemaxx commented on #1573
updates?

[2017-10-17 03:45] phuongleduy commented on #6983
i solved this problem, i remove block **checkout.cart.order.actions** in file Magento_Checkout/layout/checkout_cart_index.xml your template custom.

[2017-10-17 04:12] reviskar commented on #10210
Hi, @gwharton!

Thanks very much, will check it out!

[2017-10-17 04:49] kenmaxnejp commented on #6138
@hostep Thanks for the update. I confirmed the fix 6237877 works in Magento 2.2.0. I posted those images all over again after I edited the file and it works. Actually I cannot find app/code/Magento/Cms/Helper/Wysiwyg/Images.php, so I edited vendor/magento/module-cms/Helper/Wysiwyg/Images.php instead.

[2017-10-17 04:55] jgutierrezs opened #11507 "Don't show (open) catalog product magento 2.2"
### Preconditions

1. Don't show nothing in Catalog Product
2.  I use Magento 2.2, PHP 7.1
3. I already clean cache explorer, cache magento, flush, etc

### Steps to reproduce

1.  Login Magento
2.  Click Catalog -> Product

### Expected result

1.  Show list of products

### Actual result

1. [Screenshot, logs]
![step1](https://user-images.githubusercontent.com/32860747/31647359-ea91d48a-b2c4-11e

[2017-10-17 05:38] Vinai commented on #5453
Unit Tests:
There is 1 error and 2 failures. Additionally there are 2 PHP warnings.
This is pretty good and looks like it is fixable without too much effort.

Integration Tests:
The tests are at 8% now and there are already 8 errors...

I think this issue still is relevant.

[2017-10-17 05:53] erikkubica opened #11508 "Product attribute - filterable (with results)"
### Preconditions
1. Magento 2.1.9
2. PHP 5.6
3. MySQL 5.7

### Steps to reproduce
1. I have no idea

### Expected result
1. Color attribute to show up in layered navigation: when it has products and it's configured as "filterable (with results)"

### Actual result
For all attributes the config Filterable (with results) works as expected. In case of the color attribute, when i configure "Filterabl

[2017-10-17 05:57] orlangur commented on #5453
Thanks for checking! Wondering how it can pass through the CI loop...

[2017-10-17 06:05] erikkubica commented on #11508
@magento-engcom-team updated to hopefully meet G1

[2017-10-17 06:30] magento-engcom-team commented on #3846
@OleksiyOleksiyovych, thank you for your report.
We've created internal ticket(s) MAGETWO-50717 to track progress on the issue.

[2017-10-17 06:59] gxiang commented on #11298
Regarding to this, I have checked the select.js and it only check if the value is array without checking if value is defined or function, which seem insufficient and cause the error.

![image](https://user-images.githubusercontent.com/1803898/31650586-a0aba72a-b34a-11e7-9ff0-2d8e82e042b7.png)

[2017-10-17 06:59] electricBonfire commented on #6367
@ShapesGraphicStudio @imports will not work for grunt watch / less compilation. It is documented though it is easy to miss. I find the documentation for magneto to be lacking / poorly organized:

http://devdocs.magento.com/guides/v2.2/frontend-dev-guide/css-topics/css-preprocess.html

- the import directive rules of usage section

[2017-10-17 07:10] eralaz opened #11509 "Psr logger debug method does not work by the default in developer mode"
Psr logger debug method does not work by the default when you just install &  switch to the developer mode.
To make that works store config switcher should be turned on (see attached img, by the default, it's turned off).

### Preconditions

1. Install Magento 2.2.0
2. Switch to developer mode.

### Steps to reproduce

1. Install Magento 2.2.0
2. Switch to developer mode.
3. Use Psr logger debug m

[2017-10-17 07:30] magento-engcom-team commented on #5103
@redboxmarcins, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 07:30] #5103 closed, assigned to nobody

[2017-10-17 07:30] magento-engcom-team commented on #3609
@nja78, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 07:30] #3609 closed, assigned to nobody

[2017-10-17 07:30] magento-engcom-team commented on #9249
@AlexanderRakov, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 07:30] #9249 closed, assigned to magento-engcom-team

[2017-10-17 07:37] #11496 closed, assigned to nobody

[2017-10-17 07:39] ShapesGraphicStudio commented on #6367
@electricBonfire , thanks for the link !!
I did some googling though, but did not cross that page.

[2017-10-17 07:54] magento-engcom-team commented on #11330
@rehoehle, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 07:54] #11330 closed, assigned to nobody

[2017-10-17 07:56] magento-engcom-team commented on #11507
@jgutierrezs , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-17 08:10] sbernaldev commented on #6299
@talesh I'm sorry for the mistake! I think it was reproduced on PHP 7.0.6

[2017-10-17 08:15] magento-engcom-team commented on #3993
@stanislav-zgr, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 08:19] magento-engcom-team commented on #5129
@gizmocn, thank you for your report.
We've created internal ticket(s) MAGETWO-54719 to track progress on the issue.

[2017-10-17 08:29] magento-engcom-team commented on #3566
@samleeiii, thank you for your report.
We've created internal ticket(s) MAGETWO-36985 to track progress on the issue.

[2017-10-17 08:30] magento-engcom-team commented on #11484
@joost-florijn-kega , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Op

[2017-10-17 08:30] #11484 closed, assigned to nobody

[2017-10-17 08:30] magento-engcom-team commented on #11509
@LaryShadow, thank you for your report.
We've created internal ticket(s) MAGETWO-82036 to track progress on the issue.

[2017-10-17 08:30] magento-engcom-team commented on #11496
@gnuzealot, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-17 08:30] magento-engcom-team commented on #11478
@adrian-martinez-interactiv4, thank you for your report.
We've created internal ticket(s) MAGETWO-82031 to track progress on the issue.

[2017-10-17 08:30] magento-engcom-team commented on #7605
@MaximKitsenko, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-17 08:30] #7605 closed, assigned to nobody

[2017-10-17 08:30] magento-engcom-team commented on #3535
@quienti, thank you for your report.
We've created internal ticket(s) MAGETWO-82033 to track progress on the issue.

[2017-10-17 08:30] magento-engcom-team commented on #9136
@SinisterGlitch, thank you for your report.
We've created internal ticket(s) MAGETWO-82045 to track progress on the issue.

[2017-10-17 08:30] magento-engcom-team commented on #5068
@nntoan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 08:30] #5068 closed, assigned to nobody

[2017-10-17 08:33] mgeoffray commented on #7665
Hi,
we have got the problem on 2.1.6 EE too. We decide to disable "Persistent Shopping Cart" and "Allow Guest Checkout" but the problem is still there **one day after**.
I think this is because people still have their cookie and local storage even if the features are disabled.
Did you confirm that disabling this two features solve the issue, and does my thinking make sens?
Thank you.
Matthéo.

[2017-10-17 08:37] rehoehle commented on #11330
Thx. we will update to the latest version and try it.

[2017-10-17 08:46] magento-engcom-team commented on #3171
@ghost, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 08:46] #3171 closed, assigned to katmoon

[2017-10-17 08:52] franckgarnier21 commented on #8815
@Vedrillan Thank you for your pull request, and it seems not managed correctly in 2.2 too...

They may need to improve their test coverages to the limit in this file : vendor/magento/module-cache-invalidate/Test/Unit/Observer/InvalidateVarnishObserverTest.php:66

[2017-10-17 08:54] nmallepally commented on #3762
Hi,

This issue still exists on Magento 2.1.6 and 2.1.8.
Any fix available ?

Best Regards,
Navya

[2017-10-17 08:58] orlangur commented on #11509
Do you mean changing default value of `Log to File` from No to Yes? It may be undesired as log file may be quite huge and it is not used by every Magento user working in developer mode. Just like not every user needs `Enabled Template Path Hints for Storefront` by default.

[2017-10-17 09:07] maksek commented on #4788
Hi @arthurpro, looking forward to accept PR :) I sent you invitation to collaborator group, accept it, so I can assign ticket on you.

[2017-10-17 09:07] ShapesGraphicStudio opened #11511 "Multiple stores allowed countries not working in magento2 ?"
### Preconditions

1. Magento 2.1.9
2. PHP 7.0.23
3. MySQL 5.6.36-2.el6

### Steps to reproduce

1. Set multistore
2. Set different allowed countries for each store in Stores > Configuration > General > General > Country Options
3. Add product to cart
4. Go to checkout

### Expected result

1. Client should be able to select destinations based on the store he's in. So only the countries selected f

[2017-10-17 09:12] maksek commented on #10650
@gabrielqs-redstage reassigned.

[2017-10-17 09:17] maksek commented on #5768
@mrodespin assigned.

[2017-10-17 09:17] dwirt commented on #11002
Unfortunately the cron_schedule table kept growing even after a redeployment in maintenance mode, like you described. To fix my problem, I just wrote a cronjob that cleans old entries in cron_schedule every hour.

[2017-10-17 09:30] magento-engcom-team commented on #9802
@charmeleon, thank you for your report.
We've created internal ticket(s) MAGETWO-66526 to track progress on the issue.

[2017-10-17 09:30] magento-engcom-team commented on #6868
@LordHansolo, thank you for your report.
We've created internal ticket(s) MAGETWO-82054 to track progress on the issue.

[2017-10-17 09:30] magento-engcom-team commented on #7604
@giacmir, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-17 09:30] #7604 closed, assigned to nobody

[2017-10-17 09:30] magento-engcom-team commented on #5580
@svines, thank you for your report.
We've created internal ticket(s) MAGETWO-70524 to track progress on the issue.

[2017-10-17 10:03] andrewhowdencom opened #11512 "Incorrect use of 503 status code"
More generally, Magento appears to use the "503 (service unavailable)" status code when an "unexpected error" happens. This ranges, but a good example of such an event is anything that generates the "report" format pages.

The problem is, this status code is generally reserved for cases in which the server is suffering a temporary problem[1][2]. When the server is in an error case, I would have ex

[2017-10-17 10:30] magento-engcom-team commented on #8285
@konstanchuk, thank you for your report.
We've created internal ticket(s) MAGETWO-63843 to track progress on the issue.

[2017-10-17 10:30] magento-engcom-team commented on #7599
@petol880, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 10:30] #7599 closed, assigned to nobody

[2017-10-17 10:30] magento-engcom-team commented on #5657
@thdoan, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-17 10:30] #5657 closed, assigned to nobody

[2017-10-17 10:30] magento-engcom-team commented on #6740
@MaximKitsenko, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 10:30] #6740 closed, assigned to nobody

[2017-10-17 10:32] orlangur commented on #11512
Your suggestion seems perfectly valid to me, I didn't even know it was not 500.

Would you mind to prepare a PR maybe? https://github.com/magento/magento2/blob/2.2-develop/pub/errors/processor.php#L218 It can be done directly via GitHub Web UI.

[2017-10-17 10:41] magento-engcom-team commented on #5068
@nntoan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 10:45] magento-engcom-team commented on #5668
@ljrweb thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-17 10:45] andrewhowdencom commented on #11512
dirty UI change implemented

[2017-10-17 10:50] magento-engcom-team commented on #11468
@adaemon, thank you for your report.
We've created internal ticket(s) MAGETWO-82067 to track progress on the issue.

[2017-10-17 11:14] magento-engcom-team commented on #6643
@senthilengg Thanks for reporting this issue.
Unfortunately, I could not reproduce the issue as you described it.
Please add more details to your description of the steps you followed when identifying this issue.
csv file  would be helpful, too.

[2017-10-17 11:27] magento-engcom-team commented on #2960
@Vincentguo1990, thank you for your report.
We've created internal ticket(s) MAGETWO-48451 to track progress on the issue.

[2017-10-17 11:29] magento-engcom-team commented on #6726
@apurv-anand Thank you for your report.
Reports > Sales > Orders displaying only **orders with invoice**, may you please recheck your issue on clean Magento installation.

[2017-10-17 11:30] magento-engcom-team commented on #9800
@tonybrown85, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 11:30] #9800 closed, assigned to nobody

[2017-10-17 11:30] magento-engcom-team commented on #7574
@ntoombs19, thank you for your report.
We've created internal ticket(s) MAGETWO-61519 to track progress on the issue.

[2017-10-17 11:30] magento-engcom-team commented on #7583
@markoweb, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 11:30] #7583 closed, assigned to nobody

[2017-10-17 11:30] magento-engcom-team commented on #8966
@grasdaggel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 11:30] #8966 closed, assigned to nobody

[2017-10-17 11:30] magento-engcom-team commented on #6765
@denis-g, thank you for your report.
We've created internal ticket(s) MAGETWO-59371 to track progress on the issue.

[2017-10-17 11:30] magento-engcom-team commented on #5670
@rhoerr, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-17 11:30] #5670 closed, assigned to antboiko

[2017-10-17 11:34] minlare commented on #5438
This needs an extra fix in `Magento\Catalog\Model\Category\DataProvider::convertValues` to get custom image attributes fully working (so thumbnail displays in backend).

Specifically lines 497 & 498
https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/Model/Category/DataProvider.php#L497

Should use `$attributeCode`  as lines 495 & 496 rather than hardcoded `['image']`
[co

[2017-10-17 11:45] magento-engcom-team commented on #4092
@sergei-sss, thank you for your report.
We've created internal ticket(s) MAGETWO-51811 to track progress on the issue.

[2017-10-17 11:50] magento-engcom-team commented on #5003
@bh-ref, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-17 11:50] #5003 closed, assigned to nobody

[2017-10-17 12:18] yuriitvardyi commented on #5067
Can anyone from magento tell when this bug will be fixed? Really guys, you have had 1+ year to fix it but this bug still exists in your recent 2.2 release.

Here is hotfix - just modify [Magento\Catalog\Model\Product\Option\Value::saveValues](https://github.com/magento/magento2/blob/3561b6614eeafb70cbcbf0dc0254359b857af3d4/app/code/Magento/Catalog/Model/Product/Option/Value.php#L191-L215) method:

[2017-10-17 12:30] magento-engcom-team commented on #7381
@thdoan, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-17 12:30] magento-engcom-team commented on #5901
@heldchen, thank you for your report.
We've created internal ticket(s) MAGETWO-57937 to track progress on the issue.

[2017-10-17 12:30] magento-engcom-team commented on #7528
@giacmir, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 12:30] #7528 closed, assigned to nobody

[2017-10-17 12:30] magento-engcom-team commented on #11450
@gizmocn, thank you for your report.
We've created internal ticket(s) MAGETWO-82076 to track progress on the issue.

[2017-10-17 12:30] magento-engcom-team commented on #5699
@cybageabhishek, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 12:30] #5699 closed, assigned to nobody

[2017-10-17 12:44] magento-engcom-team commented on #3923
@grasdaggel, thank you for your report.
We've created internal ticket(s) MAGETWO-59946 to track progress on the issue.

[2017-10-17 12:51] magento-engcom-team commented on #2734
@mayhem-ahmad, thank you for your report.
We've created internal ticket(s) MAGETWO-46936 to track progress on the issue.

[2017-10-17 13:03] magento-engcom-team commented on #5311
@katesuykovskaya, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.
 
GitHub is intended for Magento Open Source users to report on issues related to Open

[2017-10-17 13:07] #5311 closed, assigned to MomotenkoNatalia

[2017-10-17 13:30] magento-engcom-team commented on #2854
@dexterityzx, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 13:30] #2854 closed, assigned to nobody

[2017-10-17 13:30] magento-engcom-team commented on #2854
@dexterityzx, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 13:30] magento-engcom-team commented on #4879
@kfaer, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-17 13:30] #4879 closed, assigned to nobody

[2017-10-17 13:30] magento-engcom-team commented on #5037
@davideperrotta, thank you for your report.
We've created internal ticket(s) MAGETWO-57643 to track progress on the issue.

[2017-10-17 13:30] magento-engcom-team commented on #6642
@helloeverything, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-17 13:30] #6642 closed, assigned to vkorotun, magento-engcom-team

[2017-10-17 13:30] magento-engcom-team commented on #11488
@FrankRuis, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-10-17 13:30] #11488 closed, assigned to magento-engcom-team

[2017-10-17 13:30] magento-engcom-team commented on #11497
@pmoreno1980, thank you for your report.
We've created internal ticket(s) MAGETWO-82095 to track progress on the issue.

[2017-10-17 13:30] magento-engcom-team commented on #5690
@LiamFielding, thank you for your report.
We've created internal ticket(s) MAGETWO-82088 to track progress on the issue.

[2017-10-17 13:32] magento-engcom-team commented on #9031
Hello @launchcg-ztonia . Could you provide the code that you used when the issue was detected?

[2017-10-17 13:41] magento-engcom-team commented on #6907
Hi @wojciechowskid
This is not a bug.
You should login customer as it do in
`\Magento\Customer\Controller\Account\LoginPost::execute`

[2017-10-17 13:49] arthurpro commented on #4788
Thank you! I will submit my PR when ready.

[2017-10-17 13:54] magento-engcom-team commented on #6673
Hi @SukeshiniR
Could You please share you module for reproduce this issue.

[2017-10-17 14:03] mzenner1 opened #11516 "Magento 2.2 Changing attribute sets clears attribute value"
### Preconditions (*)

1.Magento 2.4-develop
2. Have two attribute sets (Default and Test Attribute set)

### Steps to reproduce (*)

1.Create attribute called Test Attribute ( Catalog Input Type for Store Owner=Dropdown)
2. In the default set, put the attribute in the main folder.
3. In the Test Attribute set, put the same attribute in a different folder(e.g, Content).
4. Create a product in the

[2017-10-17 14:05] nemesis-back commented on #8540
Hey, @magento-engcom-team and @okorshenko , does it makes sense to fix this issue b/c currently is_active attribute is never used in magento 2 core?

[2017-10-17 14:14] FrankRuis commented on #11488
@magento-engcom-team This might be due to our small development server, we are running an Amazon AWS ec2 t2.small instance, so it takes about 3 seconds after pressing the order button before it is processed. I don't know if everything is supposed to be totally atomic even with slower loading times, if that is not the case I'll try to fix this myself otherwise I'll try to find out why it is not wor

[2017-10-17 14:17] magento-engcom-team commented on #3150
@tigerx7, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-17 14:30] magento-engcom-team commented on #5621
@nmallepally, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-17 14:30] #5621 closed, assigned to nobody

[2017-10-17 14:30] magento-engcom-team commented on #9274
@snoroozi, thank you for your report.
We've created internal ticket(s) MAGETWO-67515 to track progress on the issue.

[2017-10-17 14:30] magento-engcom-team commented on #6907
@wojciechowskid, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-17 14:37] apedicdev opened #11517 "date reverts in past after clicking out of product edit"
Admin Product Grid Filter: Set Product as New from Date - Reverts to random date in past after clicking out of product edit

### Steps to reproduce
on admin go to products > catalog
in columns make sure you have 'set product as new from date' selected
in filters apply a date range in new from date
click into a product and save and close

### Expected result

1. inputted data in filter fields remai

[2017-10-17 14:41] jpcsguru opened #11518 "Proceed to cart not working magento2"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

![error](https://user-images.githubusercontent.com/12822019/31671280-faae897a-b39c-11e7-84fe-e57806b5c2b3.png)
there is no link clickable in minicart

[2017-10-17 14:42] maqlec commented on #10618
Hi guys last comment from @magento-engcom-team looks like its done in 2.1 but It's not. Please mark this issue right.

[2017-10-17 14:50] mzeis commented on #11518
Hi!

Thank you for reporting this. Please add information like the Magento version, how you installed Magento etc. as can be seen in the issue creation template. Then the team can try to reproduce. Also, does this problem exist without your custom theme?

[2017-10-17 15:00] okorshenko commented on #10941
Hi @rishabhchd19 the issue has been fixed and delivered to 2.2-develop branch and will be available with 2.2.2 release soon

[2017-10-17 15:00] #10941 closed, assigned to slackerzz

[2017-10-17 15:02] okorshenko commented on #10231
@minesh0111 the issue has been fixed and delivered to 2.2-develop branch. Will be available in 2.2.2 release soon

[2017-10-17 15:02] #10231 closed, assigned to mrodespin

[2017-10-17 15:03] okorshenko commented on #10007
Hi @chiragp-wagento the issue has been fixed in 2.1-develop and 2.2-develop branch. Will be available with upcoming patch release soon

[2017-10-17 15:03] #10007 closed, assigned to raumatbel

[2017-10-17 15:04] okorshenko commented on #10795
Hi @wsajosh the issue has been fixed in 2.2-develop branch and will be available in 2.2.2 release

[2017-10-17 15:04] #10795 closed, assigned to nobody

[2017-10-17 15:06] #11207 closed, assigned to Jeroenll

[2017-10-17 15:07] okorshenko commented on #11332
Hi @selusi the issue has been fixed in 2.2-develop branch and will be available in 2.2.2 soon

[2017-10-17 15:07] #11332 closed, assigned to manuelson

[2017-10-17 15:08] okorshenko commented on #11310
Hi @EliasKotlyar the issue has been fixed in 2.2-develop branch and will be available in 2.2.2 release soon

[2017-10-17 15:08] #11310 closed, assigned to denisristic

[2017-10-17 15:09] okorshenko commented on #9968
Hi @redelschaap the issue has been fixed in 2.2-develop branch and will be available in 2.2.2 soon

[2017-10-17 15:09] #9968 closed, assigned to osrecio

[2017-10-17 15:10] okorshenko commented on #9968
Hi @redelschaap the issue has been fixed in 2.2-develop branch and will be available in 2.2.2 soon

[2017-10-17 15:26] mattcoz commented on #9349
I would think the desired behavior would be to not have separate sets of values for a single store.

[2017-10-17 15:29] TonyDeplanque commented on #9910
Please need commit ref too.

[2017-10-17 15:30] magento-engcom-team commented on #11453
@selusi, thank you for your report.
We've created internal ticket(s) MAGETWO-82103 to track progress on the issue.

[2017-10-17 15:34] magento-engcom-team commented on #3854
@Deepthi57  thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2017-10-17 15:34] #3854 closed, assigned to nobody

[2017-10-17 15:38] okorshenko commented on #7929
Hi @Nicelabsrl
SOAP documentation bug. [Documentation](http://devdocs.magento.com/guides/v2.1/soap/bk-soap.html) is already [fixed](https://jira.corp.magento.com/browse/MAGETWO-69838)

[2017-10-17 15:39] okorshenko commented on #7929
Hi @Nicelabsrl the documentation has been updated. Thank you for report

[2017-10-17 15:39] #7929 closed, assigned to nobody

[2017-10-17 15:43] magento-engcom-team commented on #11517
@apedicdev, thank you for your report.
We've created internal ticket(s) MAGETWO-82116 to track progress on the issue.

[2017-10-17 15:52] JeroenVanLeusden commented on #11207
@okobchenko Can you please add the #SQUASHTOBERFEST 2017 label to the PR's?

[2017-10-17 16:40] jdovan commented on #8652
This is still an issue...Magento ver. 2.1.5

[2017-10-17 16:43] jdovan opened #11521 "Customizable Option Pricing"
When updating a product, the customizable option prices are not updated correctly if the price is greater than $999.
Preconditions

    Magento 2.1.5

Steps to reproduce

    Edit a product with customizable option
    Set the price (over $999)
    Save the product
    Edit the product again. The price will have comma separators.
    Save the product again.
    Check the option's price. It will be

[2017-10-17 17:22] piotrekkaminski commented on #11442
Please refer to discussion about this issue here https://github.com/astorm/pestle/issues/311

[2017-10-17 17:29] colinwolff commented on #5999
I'm also having the same issue but with a simple product. When trying to switch from Default to another custom attribute set the page just hangs.
Console error shown below:
![image](https://user-images.githubusercontent.com/1562545/31679473-0743e9cc-b326-11e7-8dbc-019fd7dc5acb.png)
Has anyone found a workaround till a bugfix is released? I've tried everything mentioned above.
Thanks!

[2017-10-17 17:30] magento-engcom-team commented on #11511
@ShapesGraphicStudio, thank you for your report.
We've created internal ticket(s) MAGETWO-82124 to track progress on the issue.

[2017-10-17 17:54] magento-engcom-team commented on #11173
@msnankit we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 17:54] #11173 closed, assigned to magento-engcom-team

[2017-10-17 17:56] magento-engcom-team commented on #11162
@Zyles we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 17:56] #11162 closed, assigned to magento-engcom-team

[2017-10-17 17:56] magento-engcom-team commented on #11144
@jsypolt we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 17:56] #11144 closed, assigned to nobody

[2017-10-17 17:57] magento-engcom-team commented on #11100
@rmevans1 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 17:57] #11100 closed, assigned to magento-engcom-team

[2017-10-17 17:59] magento-engcom-team commented on #11093
@flat101 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 17:59] #11093 closed, assigned to nobody

[2017-10-17 17:59] magento-engcom-team commented on #11019
@jayachandran1974 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 17:59] #11019 closed, assigned to nobody

[2017-10-17 17:59] magento-engcom-team commented on #11014
@mozenpo we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 18:00] #11014 closed, assigned to magento-engcom-team

[2017-10-17 18:00] magento-engcom-team commented on #10382
@bilalusean we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 18:00] #10382 closed, assigned to nobody

[2017-10-17 18:00] magento-engcom-team commented on #10366
@PKRAY007 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 18:00] #10366 closed, assigned to nobody

[2017-10-17 18:00] magento-engcom-team commented on #10200
@mfang0126 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 18:00] #10200 closed, assigned to nobody

[2017-10-17 18:01] magento-engcom-team commented on #10125
@daanvdberg we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 18:01] #10125 closed, assigned to magento-engcom-team

[2017-10-17 18:01] magento-engcom-team commented on #9821
@UKRogue we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 18:01] #9821 closed, assigned to nobody

[2017-10-17 18:01] magento-engcom-team commented on #9596
@niranjanleanswift we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 18:01] #9596 closed, assigned to magento-engcom-team

[2017-10-17 18:02] magento-engcom-team commented on #9417
@ooples we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 18:02] #9417 closed, assigned to magento-engcom-team

[2017-10-17 18:02] magento-engcom-team commented on #8378
@kega-jira we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 18:02] #8378 closed, assigned to nobody

[2017-10-17 18:05] #11190 closed, assigned to magento-engcom-team

[2017-10-17 18:05] magento-engcom-team commented on #11186
@xehihezynadaltd we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-17 18:05] #11186 closed, assigned to magento-engcom-team

[2017-10-17 18:39] stemcellscarr opened #11525 "Upgrade to Magento 2.2; depricated ADMIN area; adminhtml has no frontName"
### Preconditions
Upgrade from Magento 2.1 -> 2.2
Run data-migration-tool from 1.14

### Steps to reproduce
- Visit the admin url

### Expected result
Admin page should be displayed

### Actual result
404 is thrown

In:
vendor/magento/framework/App/AreaList.php , the getCodeByFrontName takes the uri and tries to resolve an area code by matching the frontName of available areas. However, my app, $t

[2017-10-17 18:51] gitpol opened #11526 "Admin panel not working if I install any custom modules in Magento 2.2.0"
I can't install any custom modules. When I do this, I get error in admin panel in Magento 2.2.0.

### Preconditions

I installed it on my PC on Windows 7 and XAMPP 7.1.9 (which contains PHP 7.1.9, Apache 2.4.27, MariaDB 10.1.26). But then I tried it also on Magento optimized hosting from Nexcess and I get exactly the same error.

### Steps to reproduce

1. install Magento 2.2.0 with sample data in

[2017-10-17 18:58] orlangur commented on #11525
It is not missing, it is obtained via `\Magento\Backend\App\Area\FrontNameResolver::getFrontName` (it is not a static value).

Which Admin URL is shown in Magento 2 during installation?

[2017-10-17 19:03] luukschakenraad commented on #8755
Thanks for the update, Andreas. Any suggestions for a quick / dirty fix for the time being? And did you put refactoring widgets instances on the roadmap?

[2017-10-17 19:04] onepack commented on #7186
I have it on my testing environment after an update from 2.1.4 to 2.2.0
It happens in Chrome and I have the default matrix rate enabled on dev and the MSP payment provider.
However, disabling MSP doesn't change a thing. It still hangs on checkout.
Refreshing seems to help it forward in rendering the screen but the loading never stops.

[2017-10-17 19:05] orlangur commented on #11526
From `\Magento\Backend\Model\View\Result\Page::setActiveMenu` it looks like somehow menu block is missing in layout. Needs to be debugged further on your environment.

[2017-10-17 19:06] osrecio commented on #10457
Assign to me

[2017-10-17 19:11] gitpol commented on #11526
What could cause that? It's clean installation.

[2017-10-17 19:14] stemcellscarr commented on #11525
Ah , you're correct! I've taken another look and think the issue is here:

![image](https://user-images.githubusercontent.com/29902940/31684358-5405116a-b334-11e7-8aa1-a663e1c62b3c.png)

I'm not using a custom admin url, but I am using secure base URL - in this instance, it only looks for unsecure_base_url, which there is no setting for....

I don't know if this is a bug with the data-migration-to

[2017-10-17 19:20] orlangur commented on #11526
Debugger will show. If you tried to clean everything up (caches, `var/*`, `generated/*`) it's hard to guess what else may be broken.

[2017-10-17 19:22] lewisvoncken commented on #9433
@maksek can I get access to move issues in the #squashtoberfest project? because I have fixed several of them and created pull requests?

[2017-10-17 19:23] osrecio commented on #9360
Assign to me

[2017-10-17 19:27] TarasSavchuk commented on #11055
I have same issue. Magento 2.1.8.

[2017-10-17 19:31] orlangur commented on #11525
I don't think it is related to migration tool.

From https://github.com/magento/magento2/blob/ee5b9f7c696cbae10d65407522594b7cdf17fbcb/app/code/Magento/Backend/Test/Unit/App/Area/FrontNameResolverTest.php#L146 it looks like such case should be supported.

Please try if there will be a bug with clean Magento 2.2 installation (no sample data) and non-custom secure admin URL.

[2017-10-17 19:33] avstudnitz commented on #8755
I don't see any quick solution as we cannot define any sorting for blocks inside a container except with `before` or `after`.
As I am not working for Magento, I don't have any influence on the official roadmap. It's not on my personal roadmap at the moment unfortunately.

[2017-10-17 19:48] LilyBergonzatOld opened #11527 "Notification messages not disappearing after being displayed"
### Preconditions
1. Ubuntu 16.04
2. nginx 1.10.3
3. PHP 7.0.20
4. MySQL 5.6.37
5. Magento Open Source version 2.2.0 without sample data

### Steps to reproduce
1. Install Magento
2. Create module
3. Create an observer for event "controller_action_predispatch"
4. Inject Magento\Framework\Message\ManagerInterface in that observer
5. Add a success message in the execute method:

[code]

### Expected

[2017-10-17 20:03] stemcellscarr commented on #11525
I added a `web/unsecure/base_url` url to the core_config_data table, and all is good!

If the admin/url/use_custom_path value is 0, and you're using only HTTPS, you'll still need to add a web/unsecure/base_url which matches your secure base url. It doesn't get created when migrating settings from Magento 1.

I think this is a bug - but I'll double check on a clean install of 2.2 at some point toda

[2017-10-17 20:22] scholtz opened #11528 "Validation prevents form closing"
### Preconditions
1. Any version of PHP
2. Any version of Mysql
3. Any version of Magento

### Steps to reproduce
1. Go to admin
2. Go to catalog
3. Select product
4. Click advanced pricing
5. Click add customer group, do not fill any value
6. Try to close

### Expected result
1. Form is closed

### Actual result
1. Form does not close, validation issue is triggered
![scr01](https://user-images.gi

[2017-10-17 20:26] igor-imaginemage commented on #8725
@magento-engcom-team can you send the link to the fix? We are having this issue.

[2017-10-17 20:29] lewisvoncken commented on #6238
@magento-engcom-team pull request has been created in the partner github
https://github.com/magento-partners/magento2ce/pull/61

[2017-10-17 20:29] onepack commented on #7186
I did some javascript debugging and fixed the issue.
I was getting: Cannot read property 'top' of undefined and in my custom javascript I had:
`var topposnow = $('.nav-sections').offset().top`
I fixed it by checking for the availability of the .nav-sections before setting the var topposnow.
As the checkout doesn't have the top menu the undefined was showing up there.
After this fix the continuous

[2017-10-17 20:32] orlangur commented on #11525
I see. Basically, according to my understanding if you use `UNSECURE_BASE_URL=somehost.com` and `SECURE_BASE_URL=someotherhost.com`, depending on `USE_SECURE_ADMIN = 1/0` corresponding `BASE_URL` should work.

[2017-10-17 21:24] snoroozi commented on #9274
Is this fixed yet? We are ready to migrate soon, but 90% of our business is
larger bundle products.

On Tue, Oct 17, 2017 at 10:35 AM Magento Community Engineering <
notifications@github.com> wrote:

[2017-10-17 21:51] gitpol commented on #11526
I'm not sure how to debug this further. That part of `vendor\magento\module-backend\Model\View\Result\Page.php` looks like this:

    public function setActiveMenu($itemId)
    {
        /** @var $menuBlock \Magento\Backend\Block\Menu */
        $menuBlock = $this->layout->getBlock('menu');
        $menuBlock->setActive($itemId);
        $parents = $menuBlock->getMenuModel()->getParentItems($itemI

[2017-10-17 21:55] useapp commented on #11113
Hello,
My upgrade from 2.1.7 to 2.2.0 also not without problems. Admin work frontend no.
Please help

`1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'script', attribute 'data-requiremodule': The attribute 'data-requiremodule' is not allowed.
Line: 26

Element 'script', attribute 'data-requiremodule': The attribute 'data-requiremodule' is not allowed.
Line

[2017-10-17 22:35] The-Krang opened #11529 "Customer "Sign In" button not working anymore."
The button worked a few times, then stopped.

Clean install of version 2.2.

On a Linux-based web host.

In the cPanel, 1H Software PHP version Manager shows PHP version 7.1.

phpMyAdmin Web Server PHP shows up as version: 5.6.30.  I don't know how to upgrade that yet.

No theme chosen for the store.

The only external thing I have is a module installed and enabled.  It only affects the Order Succ

[2017-10-17 22:35] boardwalki opened #11530 "Can't add item to cart from requisition list"
### Preconditions

1. When trying to add item to cart from a Requisition List it says "Product that you are trying to add is not available." even though it is available.
2. Magento 2.2 EE

### Steps to reproduce

1. View sample item SKU WS12 (Radiant Tee) and add item to a requisition list (XS, Orange).
2. View that requisition list then check the box for this item and click "add to cart"
3.

###

[2017-10-17 22:44] boardwalki opened #11531 "My Requisition Lists link and lists sometimes disappears from My Account top menu (Luma Theme) and "add to requisition list" dropdown options"
### Preconditions

1. Magento EE v2.2, PHP 7.0.8
2.

### Steps to reproduce

1. Login as sample user with sample data installed
2. View "Womens > Tops" category
3. Click on Stellar Solar Jacket

### Expected result

1. Link should always be present in dropdown menu when logged in.

### Actual result

1. My Requisition Lists menu option disappears. Also under "Add to Requisition List" under Add to

[2017-10-17 22:49] jpcsguru commented on #11518
Hi,
    Magento 2.2 yes it does on luma same, installed package from web setup not composer

[2017-10-17 23:16] lee586 opened #11532 "Duplicate Simple Product Throws Error: Undefined offset: 0 in SaveHandler.php on line 122"
### Preconditions

1. Magento CE 2.2
2. PHP 7.1.10

### Steps to reproduce

1. Click on an existing simple product in the catalog manager
2. Click the "Save & Duplicate" option

### Expected result

1. The product saves and creates a duplicate item

### Actual result

1. Saves the product but doesn't duplicate it. Throws the following error:
Notice: Undefined offset: 0 in /home/store/public_html/v

[2017-10-18 02:17] moderncodes commented on #6018
### Preconditions
1. Magento 2.2.0
2. PHP 7.0.24
3. NGINX 1.9.14 PHP-FPM
4. Redis session/page caching
5. https
6. AVG site speed load time around 1-1/15 seconds

### Steps to reproduce

1. Load on desktop browser simple or configurable product page

### Expected result
1. Page load within 1-2 seconds

### Actual result
1. Page freezes and becomes unresponsive. User unable to click, scroll or anyt

[2017-10-18 03:27] lee586 commented on #11532
Only able to replicate error on simple products that were created before version 2.2. Products I had created under 2.18 won't duplicate. New products created under 2.2 successfully duplicate.

[2017-10-18 06:02] magento-engcom-team commented on #2238
@dmitry-fedyuk, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 06:02] #2238 closed

[2017-10-18 06:03] rishabhchd19 commented on #10941
yaaaaaaay!!!! will be waiting for it to be released

[2017-10-18 06:10] magento-engcom-team commented on #2811
@ayushman2013, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 06:10] #2811 closed, assigned to nobody

[2017-10-18 06:10] magento-engcom-team commented on #2811
@ayushman2013, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 06:11] magento-engcom-team commented on #3488
@bkristl, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 06:11] #3488 closed, assigned to odubovyk

[2017-10-18 06:17] magento-engcom-team commented on #3150
@tigerx7, thank you for your report.
We've created internal ticket(s) MAGETWO-82144 to track progress on the issue.

[2017-10-18 06:22] magento-engcom-team commented on #3764
@mnjongerius, thank you for your report.
We've created internal ticket(s) MAGETWO-54359 to track progress on the issue.

[2017-10-18 06:30] magento-engcom-team commented on #2811
@ayushman2013, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 06:58] mrodespin commented on #11497
@pmoreno1980  @magento-engcom-team there is one issue resolved pending of magento validation with the same error that this one mentioned.

The issue is this one #11438

[2017-10-18 07:20] magento-engcom-team commented on #2811
@ayushman2013, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 07:21] joni-jones commented on #10583
I'm working on it #SQUASHTOBERFEST

[2017-10-18 07:30] magento-engcom-team commented on #7348
@Januszpl, thank you for your report.
We've created internal ticket(s) MAGETWO-60669 to track progress on the issue.

[2017-10-18 07:30] magento-engcom-team commented on #11408
@lfritsche, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-18 07:30] #11408 closed, assigned to magento-engcom-team

[2017-10-18 07:54] magento-engcom-team commented on #3536
@iw0der, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 07:54] #3536 closed, assigned to nobody

[2017-10-18 07:58] rackyan opened #11533 "Can't setup Paypal pending status for new order"
### Preconditions

1. Magento 2.2.0
2. PHP 7.1.9
3. MySQL 5.7
4. Apache 2.4

### Steps to reproduce

1. Select payment method: Stores > Configuration > Sales > Payment Method > PayPal Express Checkout
2.  Go to Stores > Assign Order Status to State > Order Status: pending Paypal & Order States: pending

### Expected result

1. The order unpaid through Paypal can be viewed on sales order list.

###

[2017-10-18 08:29] alen9788 commented on #11518
Hi

Same issue here for the Magento 2.2

![cart](https://user-images.githubusercontent.com/20162144/31708388-6e3c285a-b421-11e7-8e3c-980a94352361.jpg)

[2017-10-18 08:30] magento-engcom-team commented on #3675
@LouNik1984, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 08:30] #3675 closed, assigned to mslabko

[2017-10-18 08:30] magento-engcom-team commented on #7278
@nlscrw, thank you for your report.
We've created internal ticket(s) MAGETWO-61255 to track progress on the issue.

[2017-10-18 08:35] orlangur commented on #11525
Ok! @stemcellscarr please check this scenario on vanilla 2.2 installation and put it to issue description. Data migration, sample data seems all irrelevant, it's just a small core bug.

[2017-10-18 08:38] magento-engcom-team commented on #11441
@agenceoneo, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-18 08:38] #11441 closed, assigned to nobody

[2017-10-18 08:40] orlangur commented on #11526
You need to enable xdebug and trace into `$this->layout->getBlock('menu')` call. It returns `false` when no block found in layout with such name.

[2017-10-18 08:42] magento-engcom-team commented on #5443
Hi @GianniPDF
Please share the code, that use "after_element_html" in form

[2017-10-18 08:45] davidverholen commented on #5999
@colinwolff are you sure that your custom attributeset has (at least) every attribute from the default attribute set? That "solved" it for us immediately

[2017-10-18 08:49] davidverholen commented on #9349
@mattcoz but you always have the default scope and the store scope. I would expect the api to change the default scope (store id: 0) if not specified otherwise.

Currently it changes the store scope (which is weird anyways, since we should not be in a frontend context when using the api). So this might also be a bug in the store manager, not sure yet

[2017-10-18 08:58] onepack commented on #10071
@moleculech This solved it for me as well.
The strange this is that the complete subadmin user-role was copied and got my user name as role-name while editing.
I removed it, edited the original with the new permissions and after a re-login all was fixed after that for the subadmins.

[2017-10-18 09:01] orlangur commented on #11516
Just a quick thought, without looking into current code.

I don't see any specific reason to do it that way, attribute can be uniquely distinguished by `attribute_code`. If I remember correctly in some 2.0 RCs, when it was possible to add custom attribute to any folder right from Product Edit page, this scenario worked fine.

Probably data is mapped not using `product[attribute_code]` but some two

[2017-10-18 09:04] nmallepally commented on #7368
Any quick fix around, having same issue on magento 2.1.8. inset link returns empty value.

[2017-10-18 09:06] Andrii-Deineha opened #11534 "Values of Visual Swatch Attribute drop down is not work correct"
### Preconditions
1. Magento 2.2.0 and 2.3.0 CE
2. MySQL 5.6.36
3. PHP 7.0.20

### Steps to reproduce
1. Go to Admin
2. Open Stores > Attributes > Product
3. Add New Attribute with Catalog Input Type for Store Owner: Visual Swatch
4. In Tab Manage Swatch (Values of Your Attribute) click Add Swatch button
5. Press to chose color or file

### Expected result
1. Drop down menu is show all items

###

[2017-10-18 09:07] magento-engcom-team commented on #4361
@viktor-zhuromskyy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 09:07] #4361 closed

[2017-10-18 09:30] magento-engcom-team commented on #11527
@YannBergonzat, thank you for your report.
We've created internal ticket(s) MAGETWO-82165 to track progress on the issue.

[2017-10-18 09:30] magento-engcom-team commented on #4004
@fvschie, thank you for your report.
We've created internal ticket(s) MAGETWO-54128 to track progress on the issue.

[2017-10-18 09:30] magento-engcom-team commented on #7232
@jBOKA, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 09:30] #7232 closed, assigned to nobody

[2017-10-18 09:30] magento-engcom-team commented on #11521
@jdovan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 09:30] #11521 closed, assigned to nobody

[2017-10-18 09:30] magento-engcom-team commented on #10396
@klakovskiy, thank you for your report.
We've created internal ticket(s) MAGETWO-82162 to track progress on the issue.

[2017-10-18 09:34] robbieaverill commented on #11256
I'm experiencing this:

Magento version: 2.2.0 vanilla, no third party extensions or customised code

Steps to reproduce:
* create a product
* go to "Images" in the edit screen
* try to upload an image, either by drag and dropping or selecting via the upload field

Expected result: it should do something, preferably upload and give me a success message

Actual result: nothing happens

Browser cons

[2017-10-18 09:48] experius-nl commented on #5846
A pull request with a fix has been made for branch 2.1-develop.

[2017-10-18 09:51] adamlavery opened #11535 "Grouped products not associated on import"
When importing grouped products, the simple products are imported but not associated with the group product.

Magento OS v2.2.0

Steps to reproduce:
1. Setup and export grouped product, including simple associated products.
2. Delete grouped product and simple products.
3. Wait for re-index. (+1 to restore re-index option from admin).
3. Import using the unmodified export file generated.

Expected

[2017-10-18 10:05] lfritsche commented on #11408
That's great. Could you provide the specific commit(s) for me to patch them manually?
Thank you!

[2017-10-18 10:10] magento-engcom-team commented on #4478
@toniyecla, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 10:10] #4478 closed, assigned to nobody

[2017-10-18 10:18] magento-engcom-team commented on #11396
@gulshan-streammarket Thank you for your submission. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see det

[2017-10-18 10:18] #11396 closed, assigned to magento-engcom-team

[2017-10-18 10:21] alen9788 commented on #11532
Same issue here for the M2.2 can not duplicate the products.

After click the " save&duplicate"

Notice: Undefined offset: 0 in /var/www/wowlla.com/vendor/magento/module-catalog/Model/Category/Link/SaveHandler.php on line 122

[2017-10-18 10:21] stevenlavine opened #11536 "Uncaught TypeError: methodList is not a function"
### Preconditions

1. Magento 2.1.9
2. MySQL 5.7
3. PHP 7.x
4. Apache 2.4

### Steps to reproduce

1. Add products to basket
2. Go to checkout
3.

### Expected result

1. Shipping step should load

### Actual result

1. Loading spinner remains on the page

Developer Tools console reports:

Uncaught TypeError: methodList is not a function
    at Object.setPaymentMethods (payment-service.js:50)

[2017-10-18 10:24] SukeshiniR commented on #6673
Hi,
Thanks for the update. I'll share the module soon. Since this issue is logged long ago, I need to get the latest module

[2017-10-18 10:26] magento-engcom-team commented on #9473
@synolia-bvo , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sour

[2017-10-18 10:26] #9473 closed, assigned to nobody

[2017-10-18 10:28] RogerKeulen commented on #7296
For me it isn't working. Have Magento 2.2 and i can't see a purge request.

`magento setup:config:set --http-cache-hosts=127.0.0.1`

and tried to look for a request with: `varnishlog -g request -q 'ReqMethod eq "PURGE"'`

[2017-10-18 10:30] magento-engcom-team commented on #11534
@Andrii-Deineha, thank you for your report.
We've created internal ticket(s) MAGETWO-82172 to track progress on the issue.

[2017-10-18 10:30] magento-engcom-team commented on #7184
@HaykDrnoyan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 10:30] #7184 closed, assigned to nobody

[2017-10-18 10:30] magento-engcom-team commented on #11532
@lee586, thank you for your report.
We've created internal ticket(s) MAGETWO-82173 to track progress on the issue.

[2017-10-18 10:33] magento-engcom-team commented on #7266
@cyuzik, thank you for your report.
We've created internal ticket(s) MAGETWO-60396 to track progress on the issue.

[2017-10-18 10:42] magento-engcom-team commented on #4773
@MidnightDesign, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-18 10:42] #4773 closed, assigned to nobody

[2017-10-18 11:16] alen9788 commented on #11518
Please tell us when the next Magento version would be issued, such issue is so IMPORTANT related with the sales, so pls issue the next version to solve it ASAP or we have to restore to the M2.1.9

[2017-10-18 11:30] magento-engcom-team commented on #8884
@jzahedieh, thank you for your report.
We've created internal ticket(s) MAGETWO-82193 to track progress on the issue.

[2017-10-18 11:30] magento-engcom-team commented on #6577
@tommypyatt, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-18 11:30] magento-engcom-team commented on #2127
@kathir26, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 11:30] #2127 closed

[2017-10-18 11:30] magento-engcom-team commented on #6635
@dejan25, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-18 11:30] magento-engcom-team commented on #7034
@bartek9007, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-18 11:30] magento-engcom-team commented on #6992
@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-59827 to track progress on the issue.

[2017-10-18 11:30] magento-engcom-team commented on #5144
@minhluan259, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 11:30] #5144 closed, assigned to nobody

[2017-10-18 11:30] magento-engcom-team commented on #11528
@scholtz, thank you for your report.
We've created internal ticket(s) MAGETWO-82181 to track progress on the issue.

[2017-10-18 11:30] magento-engcom-team commented on #5408
@maderlock, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-18 11:30] #5408 closed, assigned to nobody

[2017-10-18 11:30] magento-engcom-team commented on #5471
@ComputerNorth, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-18 11:30] #5471 closed, assigned to nobody

[2017-10-18 11:42] magento-engcom-team commented on #3442
@echh, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 11:42] #3442 closed, assigned to rgoncharuk

[2017-10-18 11:43] RogerKeulen opened #11538 "Can not select Varnish as Full Page Cache"
Hi there i want to change some settings under: Store -> System -> Advanced
But everything is grayed out (can change) except for "Storage Configuration for Media".

I want to use Varnish and i have to select that here. But i can't checkboxen and pull-down-lists are gray and not enabled.

### Preconditions
I'm using Magento ver. 2.2.0-rc23

### Steps to reproduce
1.  I have no idea, worked a couple

[2017-10-18 11:51] magento-engcom-team commented on #6589
@jignesh26 , thank you for your report.
Please, give us you source code to reproduce the issue.

[2017-10-18 12:00] RogerKeulen commented on #11538
I have made a picture how it looks: (checkboxes are not checked and can't be, dropdownlist is disabled)
![mag2-settings](https://user-images.githubusercontent.com/14263822/31717529-96d4fcb6-b40c-11e7-8d1f-39912f8f681f.png)

[2017-10-18 12:19] RogerKeulen commented on #11538
Yes, finally i got some help ! Varnish configuration is dependend on all the other configuration in the same page. On that page is also currency that is disabled. So i think i have to change the disabled currency to exclude "dollars".

![mag2-settings-error](https://user-images.githubusercontent.com/14263822/31717739-6bf3b608-b40d-11e7-9c06-37356b54029f.png)

The reason why Dollars can't be handle

[2017-10-18 12:28] jpcsguru commented on #11518
website is useless like this you cannot buy annything

[2017-10-18 12:30] magento-engcom-team commented on #11536
@stevenlavine, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-18 12:30] #11536 closed, assigned to magento-engcom-team

[2017-10-18 12:30] magento-engcom-team commented on #8686
@zkliouel, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-18 12:30] #8686 closed, assigned to vrann

[2017-10-18 12:30] magento-engcom-team commented on #5459
@bh-ref, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-18 12:30] #5459 closed, assigned to nobody

[2017-10-18 12:30] magento-engcom-team commented on #6466
@denis-g, thank you for your report.
We've created internal ticket(s) MAGETWO-82196 to track progress on the issue.

[2017-10-18 12:30] magento-engcom-team commented on #6965
@Vinai, thank you for your report.
We've created internal ticket(s) MAGETWO-63501 to track progress on the issue.

[2017-10-18 12:31] RogerKeulen commented on #11538
Solved the currency "on save" message.

`SELECT * FROM `core_config_data` WHERE `path` LIKE '%currency%'`

And just delete everything..... because why not.....

So, i can save now:
![mag2-settings-error-ok](https://user-images.githubusercontent.com/14263822/31718578-c1bf0d14-b410-11e7-94c6-1d19d62fbe27.png)

Still did not solve any thing but i don't get confusing "trying to help" messages. That ha

[2017-10-18 13:05] RogerKeulen commented on #11538
According to the documentation (a `manual` with only things that works) your still allowed to hack the database Magento 1 style.

[Magento 2 DevDocs - Varnish](http://devdocs.magento.com/guides/v2.0/config-guide/varnish/config-varnish-magento.html)

Here is there query to do this:
`mysql -u root -p -D magento -e "INSERT INTO core_config_data ( scope, scope_id, path, value ) VALUES ( 'default', '0'

[2017-10-18 13:26] magento-engcom-team commented on #3675
@LouNik1984, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 13:27] magento-engcom-team commented on #5067
@samtay, thank you for your report.
We've created internal ticket(s) MAGETWO-54516 to track progress on the issue.

[2017-10-18 13:30] magento-engcom-team commented on #8572
@henk-hypershop, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 13:30] #8572 closed, assigned to nobody

[2017-10-18 13:30] magento-engcom-team commented on #6526
@tomvlk, thank you for your report.
We've created internal ticket(s) MAGETWO-58326 to track progress on the issue.

[2017-10-18 13:30] magento-engcom-team commented on #6494
@R4c00n, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 13:30] #6494 closed, assigned to nobody

[2017-10-18 13:30] magento-engcom-team commented on #5009
@blizam, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 13:30] #5009 closed, assigned to nobody

[2017-10-18 13:30] magento-engcom-team commented on #5077
@werdlv, thank you for your report.
We've created internal ticket(s) MAGETWO-57337 to track progress on the issue.

[2017-10-18 13:30] magento-engcom-team commented on #4642
@arthursp, thank you for your report.
We've created internal ticket(s) MAGETWO-59954 to track progress on the issue.

[2017-10-18 13:43] jcconde commented on #11494
Hi @fooman,

I found the issue, it isn't an issue of the magento.
I'm using MacOS High Sierra to create the virtual machine, so this SO uses the new APFS file system and it wasn't synchronizing very well the files, in my case I had XML files duplicated.

Here is a post about this issue https://github.com/hashicorp/vagrant/issues/8788

I think that you can close it.

[2017-10-18 13:46] jahvi commented on #9360
I started working on this issue over at #11539, feel free to comment on it.

[2017-10-18 13:46] v0gler opened #11540 "Magento sets iso invalid language code in html header"
### Preconditions

1. Using Magento 2.1.8

### Steps to reproduce

1. Using magento with german language

### Expected result

1. Html header of page should be `<html lang="de">`

### Actual result

1. Html header is `<html lang="de-DE">`

This comes from the code in the constructor of framework/View/Page/Config.php
`$this->setElementAttribute(
            self::ELEMENT_TYPE_HTML,
            self

[2017-10-18 14:00] magento-engcom-team commented on #8948
@badsayer, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 14:00] #8948 closed, assigned to nobody

[2017-10-18 14:02] bordeo commented on #6363
The bug still exists in 2.1.9

[2017-10-18 14:15] RogerKeulen opened #11542 "Can't change settings in backend configuration"
Can't change settings in backend configuration for global scope.

### Preconditions
1. Magento ver. 2.2.0-rc23

### Steps to reproduce
1. Download Magento.
2. Install it and wait a couple of minutes.
3. Go to backend and try to change something on global scope.

### Expected result
1. I expect checkboxes that are enabled.

### Actual result
Can't un-check checkboxes there disabled. Can change sett

[2017-10-18 14:21] larsroettig commented on #9837
Hi @magento-engcom-team,
I can also reproduce Issue in 2.1.8 Commerce Edition(EE) is a fix already available?

Best regards

Lars

[2017-10-18 14:30] magento-engcom-team commented on #5451
@chicgeek, thank you for your report.
We've created internal ticket(s) MAGETWO-58339 to track progress on the issue.

[2017-10-18 14:30] magento-engcom-team commented on #9735
@surabhinsi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 14:30] #9735 closed, assigned to nobody

[2017-10-18 14:30] magento-engcom-team commented on #3451
@zamboni084, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 14:30] #3451 closed, assigned to nobody

[2017-10-18 14:30] magento-engcom-team commented on #3510
@iw0der, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-18 14:30] #3510 closed, assigned to nobody

[2017-10-18 14:31] #11442 closed, assigned to magento-engcom-team

[2017-10-18 14:35] maksek commented on #11207
@JeroenVanLeusden we are tracking issues in Done, and linked PR, not needed to assign tag to PR itself.

[2017-10-18 14:40] maksek commented on #9433
Hi @lewisvoncken, I sent you an invitation into GitHub group, please accept it and we will assign the ticket to you. If you are working on other tickets from SQUASHTOBERFEST, please make sure add the comment

So we know the ticket in progress on you.

[2017-10-18 14:41] ghost opened #11543 "Systems --> Backup function is still faulty (has been for years)"
I've been using Magento since version 1.7. As of today I have begun a new project using Magento 2.1.7.  I really love the new look and feel and efficiency. However I am still experiencing the failure of the Backup function in the admin panel.  Accessing it through the Systems tab, then clicking on Backups, it takes you to the screen where you can name and start a System Backup.  I have done this i

[2017-10-18 14:46] apedicdev commented on #11517
this workaround in `date.js` fixed our case
`var dateRegexp='(0[1-9]|1[012])[- \\/.](0[1-9]|[12][0-9]|3[01])[- \\/.](19|20)\\d\\d';`
` if (value.match(dateRegexp)){
                        dateFormat='MM/DD/YYYY'; //checking for the right format in order to convert properly the date
                    }`

[2017-10-18 14:46] magento-engcom-team commented on #11533
Hi @rackyan
Thanks for reporting this issue.
We cannot reproduce this issue as described.
If you want to show order with status "Pending PayPal" in customer account page, you should assign Order Status to State (as you describe in second step) with "Visible On Storefront" = true.
http://prntscr.com/gyyzrj.

[2017-10-18 14:53] lewisvoncken commented on #8089
I'm working on it #SQUASHTOBERFEST

[2017-10-18 14:53] lewisvoncken commented on #8172
I'm working on it #SQUASHTOBERFEST

[2017-10-18 14:53] harrigo commented on #10485
@fernandofauth thanks for the module same issue persists for me however but without the + in the error. The actual error is: Failed to parse time string (18/10/2017) at position 0 (1): Unexpected character. Adding below allows it to save and the dates however the don't go past the current day so to date drops back to today..

[2017-10-18 14:55] lewisvoncken commented on #10507
I'm working on it #SQUASHTOBERFEST

[2017-10-18 15:05] lewisvoncken commented on #6238
I'm working on it #SQUASHTOBERFEST

[2017-10-18 15:08] lewisvoncken commented on #9433
I'm working on it #SQUASHTOBERFEST

[2017-10-18 15:11] WilXP commented on #5846
I'm working on it #SQUASHTOBERFEST 2017

[2017-10-18 15:12] WilXP commented on #5846
I'm working on it #SQUASHTOBERFEST 2017

[2017-10-18 15:19] andrewhowdencom opened #11545 "Doc blocks matter for DI"
### Preconditions

1. Magento 2.2
2. PHP 7.0

Rest is irrelevant

### Steps to reproduce

1. Type hint a class incorrectly. For example, instead of `null` or the correct type, use `string` or `[]`.
2. Use DI for that classes constructor injection.
3. Watch DI explode:

[code]

Happened in two cases;

1. string|null (null was fine)
2. [], not array

### Expected result

1.  Unsure. Probably shouldn

[2017-10-18 15:23] andrewhowdencom commented on #11545
cc @sidolov as the authorr

[2017-10-18 15:30] magento-engcom-team commented on #11533
@rackyan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-10-18 15:30] #11533 closed, assigned to magento-engcom-team

[2017-10-18 15:30] magento-engcom-team commented on #6411
@marcoreni, thank you for your report.
We've created internal ticket(s) MAGETWO-60815 to track progress on the issue.

[2017-10-18 15:30] magento-engcom-team commented on #5320
@robfico, thank you for your report.
We've created internal ticket(s) MAGETWO-62025 to track progress on the issue.

[2017-10-18 15:30] magento-engcom-team commented on #5313
@Dayssam, thank you for your report.
We've created internal ticket(s) MAGETWO-82221 to track progress on the issue.

[2017-10-18 15:38] orlangur commented on #11545
I believe the main reason for PHPDoc to be taken into account is https://stackoverflow.com/questions/3840094/is-it-possible-to-specify-more-than-one-type-hint-for-a-parameter. If I remember correctly there is a recommendation in Setup Guide to not enable comments stripping in opcode cacher.

I wouldn't treat such change as backward-incompatible as developers are not supposed to create invalid PHPD

[2017-10-18 15:42] ishakhsuvarov commented on #11364
@RishabhRkRai It is not possible to deliver any fixes to 2.1.7. Please try upgrading to latest `2.1.x` or `2.2.x`.

[2017-10-18 15:53] pocallaghan commented on #11545
Was there an actual change relating to this? It does indeed sound akin to "If you specify a type hint, it's going to break if you don't pass it that type". But if it never previously had a type hint (i.e. the DocBlocks weren't previously parsed, thus "type hints" are 'magically' appearing in lots of places they weren't previously), this definitely sounds like a BC break to me and thus should be in

[2017-10-18 16:01] orlangur commented on #11545
@pocallaghan you can check the commit from issue description. I don't see which item of http://devdocs.magento.com/guides/v2.1/contributor-guide/backward-compatible-development/index.html corresponds to this situation.

[2017-10-18 16:13] rogyar commented on #10869
Hello @maksek. Sure, thank you.

[2017-10-18 16:25] mattcoz commented on #9349
I guess I just don't understand the need for multiple scopes. I have a single store, I have it in single store mode. If I make changes, whether through the API or through the Admin, I want those changes reflected on the frontend.

[2017-10-18 16:30] magento-engcom-team commented on #5848
@MisterPat, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-10-18 16:30] #5848 closed, assigned to nobody

[2017-10-18 16:49] mzeis commented on #11518
@jpcsguru To make sure I understood you right:

By "installed package from web setup not composer", do you mean that you

* downloaded Magento as an archive (http://devdocs.magento.com/guides/v2.2/install-gde/prereq/zip_install.html) and then installed it using the Web Setup Wizard OR
* used Composer to get the code (http://devdocs.magento.com/guides/v2.2/install-gde/prereq/integrator_install.html

[2017-10-18 17:30] magento-engcom-team commented on #3795
@samtay, thank you for your report.
We've created internal ticket(s) MAGETWO-82232 to track progress on the issue.

[2017-10-18 18:13] magento-engcom-team commented on #9984
PR has been merged to 2.1-develop branch. Closing the issue

[2017-10-18 18:13] #9984 closed, assigned to nobody

[2017-10-18 18:17] okorshenko commented on #10441
The issue has been fixed and merged to 2.2-develop branch. Will be available with 2.2.2 release

[2017-10-18 18:17] #10441 closed, assigned to raumatbel

[2017-10-18 18:18] okorshenko commented on #11140
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-10-18 18:18] #11140 closed, assigned to sylvainraye

[2017-10-18 18:19] okorshenko commented on #11275
the issue has been fixed and delivered to 2.2.2 branch. Will be available with 2.2.2 release

[2017-10-18 18:19] #11275 closed, assigned to lano-vargas

[2017-10-18 18:20] okorshenko commented on #11176
The issue has been fixed and merged to 2.2-develop branch. Will be available with 2.2.2 release

[2017-10-18 18:20] #11176 closed, assigned to osrecio

[2017-10-18 18:23] magento-team commented on #11140
Internal ticket to track issue progress: MAGETWO-81995

[2017-10-18 18:23] magento-team commented on #10795
Internal ticket to track issue progress: MAGETWO-81975

[2017-10-18 18:23] magento-team commented on #10441
Internal ticket to track issue progress: MAGETWO-81675

[2017-10-18 18:23] magento-team commented on #11275
Internal ticket to track issue progress: MAGETWO-81647

[2017-10-18 18:23] magento-team commented on #11176
Internal ticket to track issue progress: MAGETWO-81645

[2017-10-18 18:23] aahmed2479 commented on #9965
hi, i'm using 2.1.9 and still the issue is there. swatches on product page don't work!

[2017-10-18 19:02] davepullen commented on #11412
I believe I have a solution for this. When I looked in core_config_data I found that the theme_id stored for scope_id 0 was set to "NULL". This appears to be how it was stored in previous versions. I looked at the theme table and got the ID of my adminhtml theme and set then in core_config_data for scope_id 0. Now I can run setup:upgrade again.

[2017-10-18 19:04] orlangur commented on #2269
`\Magento\Sales\Model\Order\Shipment` already contains constants for all six fields which are widely used in core.

They cannot be removed by BC policy but can be deprecated. However as constants from `\Magento\Shipping\Model\Config` have only 0-1 usages it does not make a lot of sense.

[2017-10-18 19:04] #2269 closed

[2017-10-18 19:04] brian-labelle opened #11547 "Sortable Requisition List Items"
As a customer, I would like to sort my wishlist or requisition list items individually so that I can can group products together and organize my lists

### Preconditions
1. Magento 2.2 w/B2B extension

### Expected result
1. While on a requisition list with more than one item
2. Dragging my items will change their order within the list
3. On drop, the item position will be saved via ajax
4. On ref

[2017-10-18 19:06] brian-labelle commented on #11547
I've implemented this feature using https://github.com/RubaXa/Sortable

[2017-10-18 20:06] davidvarney commented on #10550
Had the same problem going from 2.1.6 to 2.1.9 and this fixed the issue. Thank you, @philipvandebriel!

[2017-10-18 20:30] Nix-id commented on #8933
Confirm this bug.
v.2.1.8

[2017-10-18 20:49] lingwooc commented on #11191
Thanks for only making this only available in painfully slow mode for no good reason.

[2017-10-18 21:20] fooman commented on #11494
Thanks for the update. Hope it gets resolved soon on the apple side.

[2017-10-18 21:20] #11494 closed, assigned to nobody

[2017-10-18 21:21] farinexquebec commented on #10165
I believe this problem is related to the use of the deprecated return(fetch) in vcl_hit.
 return(fetch) should be replaced with return(miss).
To be confirmed.

[2017-10-18 22:14] jpcsguru commented on #11518
i can assure you we have no proceed to checkout button

On Thu, Oct 19, 2017 at 2:50 AM, Matthias Zeis <notifications@github.com>
wrote:

[2017-10-18 23:42] moderncodes opened #11548 "Simple and configurable product pages 3-10 seconds loading freeze lag"
### Preconditions
1. Magento 2.2.0
2. PHP 7.0.24
3. NGINX 1.9.14 PHP-FPM
4. Redis session/page caching
5. https
6. AVG site speed load time around 1-1 1/2 seconds

### Steps to reproduce
1. Load on desktop browser simple or configurable product page

### Expected result
1. Page load within 1-2 seconds

### Actual result
1. Page freezes and becomes unresponsive. User unable to click, scroll or anyt

[2017-10-18 23:54] okorshenko commented on #10765
Hi @bulbulagarwal896 the issue has been fixed and delivered to 2.2-develop branch. Will ba available with release 2.2.2

[2017-10-18 23:54] #10765 closed, assigned to convenient

[2017-10-19 00:06] magento-team commented on #10765
Internal ticket to track issue progress: MAGETWO-81959

[2017-10-19 01:36] moderncodes commented on #11548
I noticed that this issue was only affecting chrome browsers. After deleting all the chrome browser history cache, it fixed the problem. False alarm.

[2017-10-19 01:36] #11548 closed, assigned to nobody

[2017-10-19 03:04] flaviomartini commented on #5115
Hi, mitcht.
Could you please explain the solution of that issue?
I met that issue on Magento 2.1.7 and 2.1.9.
a:4:{i:0;s:30:"Please enter a customer email.";i:1;s:16296:"#0 ...

[2017-10-19 03:07] rackyan commented on #11533
@magento-engcom-team, thanks for your support.
How the Paypal pending orders can be viewed on store backend, I've try coupld of times but can't find any record on backend.
Thanks

[2017-10-19 03:27] mugua commented on #11283
When I run : `php bin/magento setup:di:compile`, meet the same problem:
`Class Magento\Framework\Session\SaveHandler contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (SessionHandlerInterface:: ) in E:\xampp\htdocs\jespertest\vendor\magento\framework\Session\SaveHandler.php on line 16`
how to fix it?

[2017-10-19 04:08] alen9788 commented on #11518
https://community.magento.com/t5/Technical-Issues/Minicart-JS-error-Magento2-2-2-0/td-p/76721

It is M2.2. bug, mentioned by many people, please solve it ASAP.

[2017-10-19 04:24] dzl00700 commented on #11028
I have the same problem here.

After changed back to equalize price range, no more error message.

Should reopen this case.

[2017-10-19 04:45] dverkade opened #11549 "-- security issue, reported via Bugcrowd instead --"
-- security issue, reported via Bugcrowd instead --

[2017-10-19 05:18] #11549 closed, assigned to nobody

[2017-10-19 05:22] magento-engcom-team commented on #5193
@Dayssam, thank you for your report.
We've created internal ticket(s) MAGETWO-57881, MAGETWO-57882 to track progress on the issue.

[2017-10-19 06:30] magento-engcom-team commented on #11403
@rbur0425, thank you for your report.
We've created internal ticket(s) MAGETWO-82245 to track progress on the issue.

[2017-10-19 06:36] magento-engcom-team commented on #6203
@techgh0st, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-19 06:36] #6203 closed, assigned to nobody

[2017-10-19 06:37] andrewhowdencom commented on #11545
As @pocallaghan pointed out, it's the silent introduction of new behaviour that I found most irritating. The public interface of (at least) constructor methods was just silently increased, and there's now ambiguity as to what to trust -- doc block hint or in typehint in the method signature?

I don't think BC breaks is a reasonable point from which to argue, as this is a new interface (akin to a n

[2017-10-19 06:48] markdavies commented on #11144
This is still an issue, I can recreate.

[2017-10-19 07:07] ndslindia commented on #7448
What is the solution for this behaviour ?? My magento 2.1.8 too has this issue. Unable to remove "Set Product as New From" on product edit >> save.

[2017-10-19 07:30] magento-engcom-team commented on #6336
@romainruaud, thank you for your report.
We've created internal ticket(s) MAGETWO-57699 to track progress on the issue.

[2017-10-19 07:30] magento-engcom-team commented on #8218
@Strangerida, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-19 07:38] orlangur commented on #11545
Doc block must not contradict to typehint, you should trust both of them but you can specify only one type in typehint.

Not applicable.

Seems to be a mistake in PHPDoc, in core there was `string` specified before in commit you mentioned:

[code]

Do you have any examples of logically correct code with started to fail with upgrade?

[2017-10-19 07:47] andrewhowdencom commented on #11545
[code]

More generally, I think I'm happy leaving this here as is. I hadn't realised there was already some precedent for parsing doc blocks, and this change is thus not entirely unpredictable.

I think my pre-existing feelings about AOP might have clouded my judgement here.

<3 for patience.

[2017-10-19 07:48] magento-engcom-team commented on #11277
@dfelton, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source on

[2017-10-19 07:48] #11545 closed, assigned to orlangur

[2017-10-19 07:51] eTonki commented on #10485
I resigned,
I will keep the backend in English

[2017-10-19 07:52] magento-engcom-team commented on #6176
@adityag186, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-19 07:52] #6176 closed, assigned to katmoon

[2017-10-19 08:02] orlangur commented on #11545
Aha, it happened to me multiple times - autogenerated constructor signature :)

Thanks for your report, I wasn't aware Magento relies on PHPDoc that much (like Doctrine does) and that it is so strict about them.

[2017-10-19 08:06] magento-engcom-team commented on #11373
@Dkmafia Thanks for reporting this issue. Closing as duplicate of [#6924](https://github.com/magento/magento2/issues/6924).

[2017-10-19 08:06] #11373 closed, assigned to nobody

[2017-10-19 08:25] magento-engcom-team commented on #11529
@The-Krang, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-19 08:25] #11529 closed, assigned to nobody

[2017-10-19 08:30] magento-engcom-team commented on #6545
@davidalger, thank you for your report.
We've created internal ticket(s) MAGETWO-70454 to track progress on the issue.

[2017-10-19 08:30] magento-engcom-team commented on #11538
@RogerKeulen, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-19 08:30] #11538 closed, assigned to nobody

[2017-10-19 08:30] magento-engcom-team commented on #11542
@RogerKeulen, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-19 08:30] #11542 closed, assigned to nobody

[2017-10-19 08:30] magento-engcom-team commented on #11540
@SirElectro, thank you for your report.
We've created internal ticket(s) MAGETWO-82274 to track progress on the issue.

[2017-10-19 08:30] magento-engcom-team commented on #9410
@herveguetin, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-19 08:30] #9410 closed, assigned to magento-engcom-team

[2017-10-19 08:30] magento-engcom-team commented on #11215
@TheFrankman, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-19 08:30] #11215 closed, assigned to magento-engcom-team

[2017-10-19 08:36] magento-engcom-team commented on #9528
@nsid32, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-19 08:37] #9528 closed, assigned to nobody

[2017-10-19 08:38] giacmir commented on #9410
@magento-engcom-team With "can't reproduce" are you saying that you tried and `Magento\Catalog\Api\ProductAttributeOptionManagementInterface::add` actually added a swatch option to an attribute?

[2017-10-19 08:43] magento-engcom-team commented on #5863
@kayintveen, thank you for your report.
We've created internal ticket(s) MAGETWO-64295 to track progress on the issue.

[2017-10-19 08:44] dbag1010101 opened #11552 "Admin orders account information showing guest for customer name"
Using magento v2.2.0. Through the api, i'm creating a guest cart and proceed to add items to the cart. I then log in a user and add the customer id to the cart and use the carts/mine api to put the modified cart. After checkout, the order shows up on the admin panel with the account information showing guest and no email. When you click on guest, it directs you to the correct customer account with

[2017-10-19 08:52] magento-engcom-team commented on #11387
@rbur0425 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-19 09:04] webmarketiere commented on #5247
I installed Magento 2.1.9 today and the problem is still there.

[2017-10-19 09:07] magento-engcom-team commented on #8204
@spyrule, thank you for your report.
We've created internal ticket(s) MAGETWO-63599 to track progress on the issue.

[2017-10-19 09:15] jpcsguru commented on #11518
run this commands has fixed for us  give it a go

php bin/magento setup:upgrade
php bin/magento setup:static-content:deploy en_US en_GB
php bin/magento cache:flush

On Thu, Oct 19, 2017 at 2:08 PM, alen9788 <notifications@github.com> wrote:

[2017-10-19 09:30] magento-engcom-team commented on #5015
@agoeurysky, thank you for your report.
We've created internal ticket(s) MAGETWO-58382 to track progress on the issue.

[2017-10-19 09:30] magento-engcom-team commented on #11431
@lduivenvoorde, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0