[2020-10-17 15:12] forcecodema opened #30524 "renderTag function html output incorrect"
### Preconditions (*)

1. Magento 2.4.1

### Steps to reproduce (*)

1. Preview html output in eg Google Chrome

### Expected result (*)

1. script tags rendered as `<script type="text/javascript">`

### Actual result (*)

1. script tags are being rendered with encoded slash `<script type="text&#x2F;javascript">`

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-gu

[2020-10-17 15:37] forcecodema commented on #30524
It looks like it's getting escaped in:

Magento\Framework\View\Helper\SecureHtmlRender\HtmlRenderer class renderTag function:

[code]

[2020-10-17 16:32] ravimagedelight commented on #25862
Is this already fixed for the 2.3.x version?

Also is there any way to retrieve those missing guest orders? I can retrieve logged in customers' orders since they are logged in the quote table.

[2020-10-17 17:58] danielpugh commented on #27112
still applies in 2.3.6

[2020-10-17 22:26] jagoman85 commented on #8664
Hi @34cnk34  / @farisshindsite
Same issue. Slow search, and using Mirasvit.
What was the solution?

[2020-10-18 04:50] mrtuvn opened #30531 "table setup_module not populate any data anymore"
### Summary (*)

Any documents describe or clarify this ? To me as developer i found this a bit confuse since before everytime i want to check modules installed or not i go to directly database and check this table. But now it's not show any row anymore ! It's empty table
Is this new feature

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/

[2020-10-18 06:27] Arsalanulhaq commented on #27681
@thampe I think the fix is temporary, as we are just setting the customer email again if it is not found, so there should be a proper fix in core paypal module where it is retrieving the customer email from db-quote table. Although this fix worked in my 2 different projects as well.

[2020-10-18 08:31] gwharton commented on #30531
setup module table, and the need to declare version number in etc/module.xml is part of the legacy way of defining database schema and patches. Magento now uses declaritive schema dbschema.xml files which has its own version tracking.

[2020-10-18 08:38] gwharton commented on #30501
Definitely in need of someone spending some time decoupling modules. You can use "replace" in composer.JSON to drop modules you don't use, but you run the risk of dependency issues.

[2020-10-18 09:15] HenKun commented on #24543
Yes it could be configured on instance level, this is what I am currently doing. But actually you don't know all instances in a system as a third party developer. And it would be a massive overhead to configure for each instance seperately.

Additionally, I see no reason why XML export and CSV export are configured on a general level but other export formats (e.g. offered by third party modules) c

[2020-10-18 15:13] majidiyan opened #30532 "Magento 2.4 multisort on category"
### Preconditions (*)

1.2.4.0
2.

### Steps to reproduce (*)

1.frontend category page
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.I set sort on collection on 2 attributes and got logs of $rawResponse   in

  vendor/magento/module-elasticsearch-7/SearchAdapter/Adapter.php
try {
            $rawResponse = $client->query($query);
        }
$rawResponse was as I exspected, a

[2020-10-18 15:20] majidiyan commented on #30532
I need sort on category page based on multi-sort  price and stock.

[2020-10-18 15:39] malkahakuk opened #30533 "Send in magento2 pending payment email confirmation"
I have the folowing issue: Id like Magento2 to send an email to notify my client that the order placed is under Pending Payment, how can I do this? Thanks

[2020-10-18 15:42] thampe commented on #27681
Hi,

there already seems to be a fix for this in https://github.com/magento/magento2/issues/25399#issuecomment-694599298

So this issue can stay closed :).

[2020-10-18 18:27] Tomasz5648 opened #30535 "Allow to Choose State if It is Optional for Country options not work in checkout"
### Preconditions (*)

1. Magento 2.4.
2.

### Steps to reproduce (*)

1. Turn off option in admin panel in Stores > Configuration > General > Allow to Choose State if It is Optional for Country and disable all country in 'State is Required for'
--
--

### Expected result (*)

1. Input with state in checkout will not appear
2.

### Actual result (*)

1. Input with state in checkout appear
2.

###

[2020-10-18 23:22] magento-quality-patches commented on #13952
The patch solving a similar issue is available in [Magento Quality Patches](https://support.magento.com/hc/en-us/articles/360047139492) package (MQP)

**Patch**
MDVA-31006: Fixes the issue where duplicated orders appear after placing an order using Paypal Express payment.

**Compatible versions**
Magento OpenSource/Commerce/Commerce Cloud 2.3.2 - 2.4.1

**Applying a patch - Magento OpenSource/Comm

[2020-10-19 00:57] mrtuvn commented on #30531
Thanks for your response it's seem more make sense for me

[2020-10-19 00:59] magento-quality-patches commented on #24484
The patch solving a similar issue is available in [Magento Quality Patches](https://support.magento.com/hc/en-us/articles/360047139492) package (MQP)

**Patch**
MDVA-30357: Fixes the issue with wrong image URLs are created when generating a sitemap by cron.

**Compatible versions**
Magento OpenSource/Commerce/Commerce Cloud 2.3.2 - 2.4.0

:warning: We strongly recommend testing all patches in a st

[2020-10-19 01:55] magento-quality-patches commented on #28175
The patch solving a similar issue is available in [Magento Quality Patches](https://support.magento.com/hc/en-us/articles/360047139492) package (MQP)

**Patch**
MDVA-28656: Fixes the issue where if an order was placed with no payment information required (for example, with 100% discount) and an invoice was created for the order, the order status changes to Closed instead of Complete.

**Compatible

[2020-10-19 01:55] magento-quality-patches commented on #25177
The patch solving a similar issue is available in [Magento Quality Patches](https://support.magento.com/hc/en-us/articles/360047139492) package (MQP)

**Patch**
MDVA-28656: Fixes the issue where if an order was placed with no payment information required (for example, with 100% discount) and an invoice was created for the order, the order status changes to Closed instead of Complete.

**Compatible

[2020-10-19 02:15] magento-quality-patches commented on #28124
The patch solving a similar issue is available in [Magento Quality Patches](https://support.magento.com/hc/en-us/articles/360047139492) package (MQP)

**Patch**
MDVA-30444: Fixes the issue where no confirmation email is sent for orders placed using GraphQL.

**Compatible versions**
Magento OpenSource/Commerce/Commerce Cloud 2.3.0 - 2.4.0

:warning: We strongly recommend testing all patches in a st

[2020-10-19 04:44] harshitmahendra commented on #30385
This code is not working for me yet!

[2020-10-19 05:06] pemann commented on #30482
@volanar if you set a category as "anchor", then it will show all the products from child categories.

[2020-10-19 05:15] niravkrish commented on #30251
@magento give me 2.4-develop instance

[2020-10-19 05:26] ajijshekh123 commented on #30535
@magento give me 2.4-develop instance

[2020-10-19 05:34] niravkrish commented on #30251
Hello,

I am not able to reproduce the issue in the 2.4-develop instance.
see screenshot for more details.
![screenshot-d5f8d8a0a0412c651cd0ce8581902edf-2-4-develop instances magento-community engineering-2020 10 19-11_01_20](https://user-images.githubusercontent.com/44108490/96405396-d3edb800-11fa-11eb-98b5-9b8a67e03ed6.png)

Thanks & Regards,
Nirav Patel

[2020-10-19 06:03] ajijshekh123 commented on #30535
Hi @Tomasz5648,
The first time Navigate the Checkout page "State" field is showing but after update the country value, The State field is disappears.
**PFA:**
![image](https://user-images.githubusercontent.com/24711761/96407230-912ddf00-11fe-11eb-85c7-1881fc8deed0.png)

See the screenshot after update the Country value.
**PFA:**
![image](https://user-images.githubusercontent.com/24711761/96407334-

[2020-10-19 06:04] magento-engcom-team commented on #30535
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38517` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-19 07:16] ajijshekh123 commented on #30512
Hi, @Eddcapone,
This issue is not reproduced in the Latest Magento 2.4 Instance.
As per your steps, actual result and the expected result I have verified this issue but Not able to verify it.
** Front End Attached screenshot **
![image](https://user-images.githubusercontent.com/24711761/96413138-d3f4b480-1208-11eb-8ef3-f17f0fcbe17b.png)

** Admin Section attached screenshot **
![image](https://use

[2020-10-19 07:32] magento-engcom-team commented on #29915
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38519` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-19 08:07] sodhancha commented on #25862
@IvanChepurnyi are there any updates on this issue ?
Is this issue fixed / not-fixed ?

[2020-10-19 08:33] trunglv opened #30537 "Bug in the Captcha extension"
I found a bug in this file :
vendor/magento/module-captcha/view/frontend/web/js/view/checkout/defaultCaptcha.js
Line 59 :
`!_.isEmpty(captchaData)[formId] `
It should be
 `!_.isEmpty(captchaData[formId])`

### Preconditions (*)
Magento 2.4.1
:warning: **Note:** Issue cannot be reproduced on magento 2.4-develop (git version)

### Steps to reproduce (*)
1. Configure CAPTCHA for Checkout/Placing Orde

[2020-10-19 08:34] tuyennn commented on #28419
Same issue on 2.3.5p1 and type of registering of customer is confirmation email

[2020-10-19 08:34] s1mplex1337 commented on #7869
Having the same issue on a fresh Magento 2.4.1 installation. In developer mode I get 403 access denied on some .js and .css files. Interestingly enough those files are just symlinked. When I switch to production mode everything is fine (theres some bugs in the initial files though which wont let you compile - some commas at the wrong places in the code). Anyone ever solved this?

[2020-10-19 08:38] magento-engcom-team commented on #14633
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38521` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-19 08:56] ihor-sviziev commented on #25659
Hi,

This issue was already fixed in https://github.com/magento/magento2/pull/25876 and available in  Magento 2.4.0.
For everyone who wants to have this working on 2.3.x release line I would recommend to apply this fix as a patch, described in https://devdocs.magento.com/guides/v2.4/comp-mgr/patching.html.

I'm closing this issue as it's already solved.

[2020-10-19 08:56] #25659 closed, assigned to ihor-sviziev

[2020-10-19 08:58] ihor-sviziev commented on #26541
Hi @woutersamaey,
This issue duplicates https://github.com/magento/magento2/issues/25659 that was already fixed.
I'm closing this issue as duplicate

[2020-10-19 08:58] #26541 closed, assigned to ihor-sviziev, sedonik

[2020-10-19 08:58] trunglv opened #30540 "Elasticsearch issue "number_format_exception" - 2.4.1"
I found a bug in the Elasticsearch extension when I tried to use the search functionality.
Here is a log message I got

{"error":{"root_cause":[{"type":"query_shard_exception","reason":"failed to create query: For input string: \"xxx\"","index_uuid":"w5egRGlqQV6LbgrdYBqBYQ","index":"magento2_product_26_v157"}],"type":"search_phase_execution_exception","reason":"all shards failed","phase":"query","

[2020-10-19 09:22] PascalBrouwers commented on #23251
What's the point in selling cars if you've never driven one?

Yes, people use "composer dump-autoload -o" when they deploy to a server.

Bug is easily reproducible

[code]

[2020-10-19 09:24] Eddcapone commented on #30512
I imported the products from Magento 1. I think the import messed with the data. I also can't fix it. When I try to change the QTY of the configurable product and save, then the value is not getting saved.

[2020-10-19 09:31] jayanta88 commented on #5077
Any solutions here? I'm facing the same issue in Magento 2.3.3
If you are on a product page and that product is not visible in other store views, then it will show a 404 page.

Please let me know.

Thanks

[2020-10-19 09:41] andyworkbase opened #30541 "PayPal Payflow Pro 500 Internal Server Error"
### Preconditions (*)

1. PHP 7.1.33 / PHP 7.3.16.
2. MySQL 5.7.31 / MariaDB 10.2.21.
3. Clear Magento CE 2.3.3 without sample data is installed (Luma).
4. Production mode is enabled.
5. PayPal Payflow Pro payment method is configured.
6. Debug mode in PayPal Payflow Pro configuration is enabled.
7. Free Shipping method is enabled.
8. Test Category is set up.
9. Simple Products are created and ass

[2020-10-19 09:45] angelflo commented on #7869
having same problem after upgrading to magento 2.4.1

[2020-10-19 09:47] andyworkbase commented on #30541
@magento I am working on this

[2020-10-19 09:48] sasha19957099 commented on #29990
@magento I am working on this

[2020-10-19 09:50] s1mplex1337 commented on #7869
For some reason, and I don't really know why exactly, but check your apache settings and disable "Restrict the ability to follow symbolic links". I dont know why this suddenly seems to be a problem on Magento 2.4+ (I'm running other Magento 2.3.x installations on the same server without any issues). But disabling this worked out for me.

[2020-10-19 09:55] m2-assistant[bot] opened #30542 "[Issue] Fix missing escape less calc"
This issue is automatically created based on existing pull request: magento/magento2#30453: Fix missing escape less calc

---------

### Description (*)

Magento 2.4-develop

We've escaped the content in the calc, this way the calc in the css output file will be correctly. Previously magento will return wrong calc value

Less: width: calc(100% - 20px);
Before fix
`.block-reorder .product-item-name

[2020-10-19 09:59] magento-engcom-team commented on #30542
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38524` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-19 10:07] angelflo commented on #7869
I use nginx ... does someone have a fix for this ?

[2020-10-19 10:46] engcom-Delta commented on #25438
@magento give me 2.4-develop instance

[2020-10-19 10:49] s1mplex1337 commented on #7869
I'm not sure about that, I used nginx as a proxy with apache and not pure nginx. I would recommend you to do so aswell. However you might try to make Magento not use symlinks with this:

1) Open app/etc/di.xml
2) Replace all Magento\Framework\App\View\Asset\MaterializationStrategy\Symlink occurrences with Magento\Framework\App\View\Asset\MaterializationStrategy\Copy

Found this here: https://commu

[2020-10-19 11:09] engcom-Bravo commented on #25395
Hello @CronoxAU

Thank you for your report

We confirm that we could reproduce the issue on Magento 2.3.3 composer version.
We get the _The user is presented with the error "The product's required option(s) weren't entered. Make sure the options are entered and try again."_ error

This issue is already fixed in 2.4-develop. No error messages appear on **Edit** and the order is placed successfully

[2020-10-19 11:09] #25395 closed, assigned to engcom-Bravo

[2020-10-19 11:13] ericmorand commented on #30501
Actually, it's nearly impossible to remove modules that our customers don't require. Try for example to remove a module as simple as Magento_Downloadable:

[code]

Why is Downloadable module a dependency of some many things?

[2020-10-19 11:22] gwharton commented on #30501
That one does look somewhat riddled, but I run with the following modules disabled through composer.json replace directive without any issues. There are more, like the Downloadable module, which I don't use that I would also like to remove, but it seems well embedded.

[code]

[2020-10-19 11:39] krishprakash commented on #30491
@magento give me 2.4-develop instance

[2020-10-19 11:46] ericmorand commented on #30501
My concern is that since  Downloadable is a dependency, we have now way to be sure that disabling the modules at composer level doesn't create some issues. After all, if Downloadable is a dependency of another module, it _must_ be for a good reason.

[2020-10-19 11:48] andyworkbase commented on #30541
@magento add to contributors team

[2020-10-19 11:49] krishprakash commented on #30491
Hi @In2lect. Thank you for your report.
Not able to reproduce the issue as per provided steps to by you
Feel free to reopen the issue once you confirm that issue is reproduce on 2.4-develop instance

[2020-10-19 11:49] #30491 closed, assigned to krishprakash

[2020-10-19 11:50] gwharton commented on #30501
Yes. But the dependency could be in part of the module that is not used. But yes, you've identified the big problem with modular development like this. Some can easily be solved, others are much more difficult.

[2020-10-19 11:52] andyworkbase commented on #30541
@magento add to contributors team

[2020-10-19 11:59] hostep commented on #23251
@PascalBrouwers and @scottsb: those aren't realistic scenario's for deployments I think.

Can you list more detailed steps for how to reproduce this in a realistic deployment?

We are doing the following with each deploy, every time starting from *an empty directory*, we had no issues so far with a broken autoloader:

[code]

On a local installation you can indeed very quickly trigger the bug, but

[2020-10-19 12:12] prasannaborngroup commented on #30384
Any updates for this issue ?

[2020-10-19 12:15] PascalBrouwers commented on #23251
Yes, I am talking about a deployment starting from an empty directory.

I'm just describing how easy it is to reproduce this issue. I am not going to list the whole set of commands used to deploy. Just use capistrano, deployer, etc.

But as you've mentioned: "On a local installation you can indeed very quickly trigger the bug".
Also, @scottsb provided a very in-depth analysis of where this bug is

[2020-10-19 12:26] magento-engcom-team commented on #30489
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38530` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-19 12:26] krishprakash commented on #30489
Hi @muneshj99. Thank you for your report.

Below steps are performed while verifying this issue:

1. Create the cart price rule for 1 time use
![image](https://user-images.githubusercontent.com/46617848/96448882-a4a66d80-1231-11eb-916a-9bf765b89a41.png)

2. Front end: Add product to cart
3. Checkout page -> Apply coupon code
![image](https://user-images.githubusercontent.com/46617848/96449110-fea7

[2020-10-19 12:28] ericmorand commented on #30501
Well, this is not inerent to modular development. This is inherent to a debatable quality check here. If the Download module is a dependency of Msrp, then it means that you can't have Msrp without Downloadables _in real life_. It is obviously not the case. That dependency is artificial and is coming from a loosy quality insurance and design decisions policies. I can't imagine a serious architect v

[2020-10-19 12:29] magento-engcom-team commented on #11262
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29930` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-19 12:32] sivaschenko commented on #10954
Framework Level Support for Non-Decimal Currencies https://jira.corp.magento.com/browse/MC-23213

[2020-10-19 12:35] sivaschenko commented on #10954
I believe the functionality failure for the specific currencies that are available in Magento is a bug rather than a feature. Closed the feature request and reopened the original issue

[2020-10-19 12:35] krishprakash commented on #30367
Closing this issue as PR author already closed due this can PR introduced new visual. Font changed make text screen bigger than previous

[2020-10-19 12:35] #30367 closed, assigned to mrtuvn, krishprakash

[2020-10-19 12:46] krishprakash commented on #30533
Hi @malkahakuk. Thank you for your report.
Looks like similar issue are already added #29263
You can connect community forum OR magento stack exchange for general discuss about this

[2020-10-19 12:46] #30533 closed, assigned to nobody

[2020-10-19 12:52] engcom-Delta commented on #25438
@Parakoopa , @p810 Issue is not reproducible  on 2.4-develop and on the latest composer version 2.4.1
**Result:**
![#25438Issue24](https://user-images.githubusercontent.com/51681379/96453200-cc420980-1222-11eb-9477-59ab94b50f0b.png)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidel

[2020-10-19 12:52] #25438 closed, assigned to engcom-Delta

[2020-10-19 12:59] engcom-Bravo commented on #14912
Hello @jasperzeinstra

Thank you for your report

This issue is already fixed in the latest 2.4-develop

When the browser is **Closed** and **Restarted** the Compare products information contain compared products and Welcome message displays Customers name
![After restart](https://user-images.githubusercontent.com/51680745/96453624-686c1080-1223-11eb-9036-e09265f66175.gif)

If you are still experi

[2020-10-19 12:59] #14912 closed, assigned to engcom-Bravo

[2020-10-19 13:07] #30047 closed, assigned to crabbynguyen

[2020-10-19 13:58] engcom-Delta commented on #25672
@muratbinerbay thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop and on the latest composer version 2.4.1
**Result:**
Alert that Terms and Conditions are not checked and PayPal pop-up is not shown
- 2.4.1
![#25672Issue](https://user-images.githubusercontent.com/51681379/96460692-24313e00-122c-11eb-9648-d894d1345613.png)

- 2.4-develop with Credi

[2020-10-19 13:58] #25672 closed, assigned to engcom-Delta

[2020-10-19 14:17] sivaschenko commented on #28597
@magento give me 2.3.6 instance

[2020-10-19 14:28] mrtuvn commented on #30524
Can you provide more details about steps for reproduce issue ?
Area ? frontend or backend

[2020-10-19 14:28] mrtuvn commented on #30524
what theme used in your scenario

[2020-10-19 14:34] haxor211 commented on #24830
so the post has been removed from magento forums.. a really good way to fix your product, just remove hard questions and puff they dissapear

[2020-10-19 14:36] Hexmage opened #30543 "[2.3.5] Shipping address gets assigned customer_address_id = 0."
### Preconditions (*)

1. Magento 2.3+ (most likely also earlier versions)

### Steps to reproduce (*)

1. Create an order through the admin panel
2. As the billing address use "Add New Address"
3. As the shipping address set "Same As Billing Address"
4. Reorder the Order.

### Expected result (*)

1. Reordered is identical to the original order.
2. The shipping address is using "Same As Billing A

[2020-10-19 15:09] elizad opened #30544 "separate products and categories into a separate DB(DB is 250GB) and reuse it for multiple M2.4 shops ?"
any idea of how can I have products and categories in M 2.4.1 community in a separate database from the actual shop and reuse products and categories in for a new M 2.4? The database I need to share is about 250GB. Thanks

[2020-10-19 15:15] iaroslavglodov opened #30545 "String as a key used, might be damaged accidentally."
https://github.com/magento/magento2/blob/32ed03cad4f2b2abc6ca6e5dc14885cd822c4508/app/code/Magento/Quote/Model/Quote/Address.php#L679

### Summary (*)
String key `'cached_items_all'` MUST be changed to `$key`, or even better with the predefined class constant `CACHE_KEY_ITEMS_ALL`.

[2020-10-19 15:23] guvra commented on #29334
I still get the error on a fresh 2.4.1 install, with sample data modules enabled.

[code]

[2020-10-19 15:28] soumiktuban commented on #30104
@magento-engcom-team  @engcom-Oscar  - Any update?

[2020-10-19 15:50] hostep commented on #30047
This got closed without specifying a reason, strange ... But let us leave it like this because it's a duplicate of https://github.com/magento/magento2/issues/17186

[2020-10-19 16:01] ihor-sviziev commented on #26308
@sidolov @sdzhepa @gabrieldagama wat this issue fixed?

[2020-10-19 16:06] irenelagno commented on #28597
@magento 2.3-develop instance

[2020-10-19 16:07] irenelagno commented on #28597
@magento give me 2.3-develop instance

[2020-10-19 16:09] gabrieldagama commented on #26308
@ihor-sviziev @ioweb-gr The issue was fixed by internal pull request and it is already merged, please let us know if you still face the issue on 2.4-develop branch.

Thanks.

[2020-10-19 16:12] ihor-sviziev commented on #26308
Ok, Seems like here is related commits:
https://github.com/magento/magento2/commit/aa034d06859b1bff72121d98d094ec0944084140 https://github.com/magento/magento2/commit/d2d6c607bece5c137b1a5a8119974fc24571e6e3

[2020-10-19 16:14] ihor-sviziev commented on #16440
@sdzhepa @gabrieldagama was this issue closed by mistake, you closed it as can't reproduce or was it fixed?

[2020-10-19 16:15] amenk commented on #26308
So this will be in 2.4.2, right?

[2020-10-19 16:15] gabrieldagama commented on #26308
Correct @amenk

[2020-10-19 16:27] maciej-orba commented on #29334
I alos has this issue. This time also in 2.3.6 ....

[2020-10-19 16:29] malkahakuk commented on #30533
Id like magento2 to send my client automatically after purchasing, this pending payment email.
How can I configure it?

[2020-10-19 16:42] malkahakuk opened #30547 "Send in magento2 pending payment automated email confirmation"
Id like Magento2 to send an automated email to notify my client that the order he placed is under Pending Payment, how can I do this? Id like Magento2 to send an automated email, I dont want to send the email to the customer manually...

### Proposed solution
The solution I received was from ticket number #29263, but this issue is only to send a manually email

[2020-10-19 17:13] sivaschenko commented on #28597
Cannot reproduce on 2.4-develop

[2020-10-19 17:15] zeekinfo opened #30548 "Store pick up Magento 2.4"
Hello,

Store pick up Magento 2.4 not working if anyone how to fix this issue

[2020-10-19 17:34] FredericMartinez commented on #26675
Patch from https://github.com/magento/magento2/commit/5ebb43bb59b97f5315ae6421fe3c1b04c6affc70.patch do the job (on 2.3.5-p2)

[2020-10-19 17:58] Fresko112 commented on #8614
is there a solution?

[2020-10-19 18:14] m2-assistant[bot] opened #30549 "[Issue] Frontend area layout xml improvements."
This issue is automatically created based on existing pull request: magento/magento2#30539: Frontend area layout xml improvements.

---------

### Description (*)

Remove `class="Magento\Framework\View\Element\Template"` from frontend layout xml files, as `"Magento\Framework\View\Element\Template"` is the default class taken by Magento.

### Related Pull Requests

### Fixed Issues (if relevant)

N

[2020-10-19 18:14] m2-assistant[bot] opened #30550 "[Issue] checkout_index_index.xml file code improvement."
This issue is automatically created based on existing pull request: magento/magento2#30538: checkout_index_index.xml file code improvement.

---------

### Description (*)

Removed **sortOrder** from **messages, authentication, progressBar, estimation, and sidebar checkout components** as they are already been rendered without those sortOrders and individual getRegions at `app/code/Magento/Checkou

[2020-10-19 18:15] m2-assistant[bot] opened #30551 "[Issue] Cron > Simplify FQN"
This issue is automatically created based on existing pull request: magento/magento2#30536: Cron > Simplify FQN

---------

### Description (*)

Simplifying a fully qualified class name.

### Contribution checklist (*)
 - [x] Pull request has a meaningful description of its purpose
 - [x] All commits are accompanied by meaningful commit messages
 - [x] All new or changed code is covered with unit/

[2020-10-19 18:16] m2-assistant[bot] opened #30552 "[Issue] XSD URN format"
This issue is automatically created based on existing pull request: magento/magento2#30530: XSD URN format

---------

### Description (*)
Updated XSD URN format in XML files.

### Related Pull Requests
N/A

### Fixed Issues (if relevant)
N/A

### Manual testing scenarios (*)
N/A

### Questions or comments
N/A

### Contribution checklist (*)
 - [x] Pull request has a meaningful description of its

[2020-10-19 18:17] m2-assistant[bot] opened #30553 "[Issue] Set billing address only if different in checkout"
This issue is automatically created based on existing pull request: magento/magento2#30527: Set billing address only if different in checkout

---------
### Description
Reduce duplicate calls to modify the billing address if it already matches the 'new' value. This prevents an infinite loop caused by some address observers.

### Related Pull Requests
*None*

### Fixed Issues
*None*

### Manual tes

[2020-10-19 18:56] irenelagno commented on #28597
@magento give me 2.3-develop instance

[2020-10-19 19:11] CJMacPhie opened #30555 "Theme disappeared and do not know how to fix"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-10-19 20:19] engcom-Delta commented on #25887
@pbh-stu , @testmagento2 I'm not able to reproduce issue by steps you described on clean 2.4-develop and on the latest composer version 2.4.1
**Manual testing scenario:**
- Create simple product
- Configure Paypal express Checkout with sandbox credentials
![#25884IssueCheckout](https://user-images.githubusercontent.com/51681379/96500056-f44b6000-1256-11eb-8b22-1740971dbba4.png)
- Add product to ca

[2020-10-19 20:19] #25887 closed, assigned to engcom-Delta

[2020-10-19 21:16] bartoszkubicki commented on #26815
I would like to add, it is not solved issue. On newly installed Magento 2.4 with rabbit not working not over ssl (local env) I get the same error. In order to solve it I had to add `ssl => 'false`. It is not that intuitive basing on docs - https://devdocs.magento.com/guides/v2.4/install-gde/prereq/install-rabbitmq.html - you CAN add ssl support, but who will mark ssl as false? I think this needs f

[2020-10-19 22:39] MichaelThessel opened #30556 "phpseclib Mcrypt performance slow"
### Description (*)

Support OpenSSL for encryption.

### Expected behavior (*)

While profiling a M2 site I noticed that phpseclib is always the single slowest component. In some cases I see 700ms of my page load time attributed to it. At first I thought that this is an issue with my profiler but I have since confirmed that with (New Relic, xdebug and xhprof).

![20201019_150852](https://user-ima

[2020-10-20 01:04] weiqj opened #30557 "2.4.1 Infinite loop detected"
### Preconditions (*)

1. Magento 2.4.1

### Steps to reproduce (*)

1. Add a product to cart

### Expected result (*)

1. Exception

### Actual result (*)

Infinite loop detected, review the trace for the looping path at /var/www/magento/vendor/magento/module-checkout/Model/Session.php:241)"

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html

[2020-10-20 01:37] librehome commented on #30557
Please ignore. It was caused by a module. Just contacted their support.

[2020-10-20 01:41] krishprakash commented on #30544
Hi @elizad. Thank you for your report.
GitHub issue tacker is intended for Magento core technical issues only
Kindly refer community forum or Magento stack exchange for general discuss about this topic.

[2020-10-20 01:41] #30544 closed, assigned to krishprakash

[2020-10-20 02:19] krishprakash commented on #30555
Hi @CJMacPhie.
Kindly update all the details as per issue reporting guidelines
Without these details we can not process this issue and it should be closed
Thanks

[2020-10-20 03:32] ihor-sviziev commented on #30557
Hi @weiqj ,
I'm closing this issue as it's causses by some external extension

[2020-10-20 03:32] ihor-sviziev commented on #30557
Hi @weiqj

[2020-10-20 03:32] #30557 closed, assigned to ihor-sviziev

[2020-10-20 03:50] adarshkhatri commented on #27232
@magento give me 2.4.1 instance

[2020-10-20 03:50] adarshkhatri commented on #27232
@magento give me 2.4-develop instance

[2020-10-20 04:40] danmentzer opened #30558 "Unable to filter CreditMemo Grid by created_at date filter"
### Preconditions (*)

1. Magento Version 2.3.5-p1
2. When trying to filter the credit memo grid in the admin I hit a 1052 Column 'created_at' in where clause is ambiguous
query was: SELECT COUNT(*) FROM `sales_creditmemo_grid` AS `main_table`
 LEFT JOIN `sales_creditmemo` AS `creditmemos` ON main_table.entity_id = creditmemos.entity_id WHERE (`created_at` >= '2020-10-01 04:00:00') AND (`created_a

[2020-10-20 04:41] danmentzer commented on #30558
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-10-20 05:47] ajijshekh123 commented on #30512
Right @Eddcapone, I think this is a Data Migration Issue. Please review it and update me if this issue Is fixed from your end so I will close the issue.

[2020-10-20 05:51] ihor-sviziev commented on #30556
Hi @MichaelThessel,
I see in the requirements page that you just shown there is additional requirement for sodium php extension
![EB0B4846-19AE-4A08-B2A3-CD911BA5D0AC](https://user-images.githubusercontent.com/1873745/96545524-386b4e80-12b1-11eb-8ef0-476059d4c982.png)
As magento 2.4.x doesn’t support php 7.2 and lower - seems like we can add this as a requirement to composer.json and update docs t

[2020-10-20 06:56] NTK-2016 opened #30559 "Email content is not same as frontend"
When I have created account from store mail content or template is  called from theme but as we created the New Customer or any template we got wrong content and template. I have change the core file and disable Amazon_Payment but nothing is change or unable to trace template .
we 're using Magento 2.3.4 community Edition
please help.

[2020-10-20 07:10] WebKenth opened #30560 "Repository Pattern is not respected in adminhtml"
### Summary (*)

Magento 2.4-develop
Currently on 2.3.5-p2

When a backend user is saving a product you would expect the core codebase to respect the patterns they want other developers to follow. However when digging through the code i can see that the Save action controller for adminhtml (`vendor/magento/module-catalog/Controller/Adminhtml/Product/Save.php:117`) is in fact using the products Abs

[2020-10-20 07:11] forcecodema commented on #30524
Its frontend and the theme is stock luma - no third party plugins.

[2020-10-20 07:28] engcom-Bravo commented on #30104
Hello @soumiktuban

Thank you for your report and detailed description

We are able to reproduce the issue on the latest 2.4-develop with Elasticsearch7
We Confirm the issue and move it further to Ready for Development

[2020-10-20 07:31] magento-engcom-team commented on #30104
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38560` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-20 07:34] mrtuvn commented on #24830
@haxor211 i can feel your pain here
This should be fix since frontend magento load too much js and make site so much slow for both customer and developers

[2020-10-20 07:43] soumiktuban commented on #30104
Hi @engcom-Bravo

Good to know that you are able to reproduce the issue. Once the issue got fixed please let me know if we can have a patch on it for Magento 2.3.x.

Thanks,
Soumik

[2020-10-20 08:19] m2-assistant[bot] opened #30561 "[Issue] MFTF: Replace repetitive actions with Action Groups in CheckStaticBlocksTest"
This issue is automatically created based on existing pull request: magento/magento2#30317: MFTF: Replace repetitive actions with Action Groups in CheckStaticBlocksTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in the local environ

[2020-10-20 08:30] mrtuvn commented on #24830
If you want colorpicker load only the needed
Still have PR for this Please check this
https://github.com/magento/magento2/pull/28400

[2020-10-20 08:31] m2-assistant[bot] opened #30563 "[Issue] MessageValidator fails on hash arrays that dont have 0 element"
This issue is automatically created based on existing pull request: magento/magento2#30521: MessageValidator fails on hash arrays that dont have 0 element

---------
Magento\Framework\MessageQueue\Test\Unit\MessageValidatorTest::testInvalidMessageType with data set #11 (array('object_interface', 'Magento\Customer\Api\Data\Cus...face[]'), array(23, 545), 'Data in topic "topic" must be...e[]". ')
PH

[2020-10-20 09:08] #24780 closed, assigned to engcom-Delta

[2020-10-20 10:03] krishprakash commented on #30555
Feel Free to reopen the issue once you update all the details as per [issue reporting guidelines ](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Also GitHub issue tacker is intended for Magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [Magento stack exchange](https://magento.stackexchange.com/) for discuss about this topic

[2020-10-20 10:03] #30555 closed, assigned to krishprakash

[2020-10-20 10:10] m2-assistant[bot] opened #30564 "[Issue] Improve render minicart content by native binding knockoutJs"
This issue is automatically created based on existing pull request: magento/magento2#30148: Improve render minicart content by native binding knockoutJs

---------

### Preconditions: (*)

Magento 2.4-develop

This PR aim to bring improvement for render minicart content by default knockout binding instead use magento binding. Default magento provide it own custom binding and used widely across cor

[2020-10-20 10:13] magento-engcom-team commented on #30564
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38562` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-20 10:24] m2-assistant[bot] opened #30566 "[Issue] add --no-tablespaces parameters to mysqldump"
This issue is automatically created based on existing pull request: magento/magento2#30502: add --no-tablespaces parameters to mysqldump

---------
### Description (*)

adds --no-tablespaces to all occurrences of mysqldump. With this PR integration tests can run without the PROCESS privilege which is required since MySQL 5.7.31 / 8.0.21 to run mysqldump by default. See also https://dev.mysql.com/d

[2020-10-20 10:56] magento-engcom-team commented on #29621
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38563` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-20 11:15] magento-engcom-team commented on #29656
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38564` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-20 11:32] sodhancha commented on #30506
Has this been fixed on 2.4.x ?
Is there a Patch to fix this on 2.3.x ?

[2020-10-20 11:49] haxor211 commented on #24830
@mrtuvn thats great to hear, when is the patch coming out? and what is the name? 2.4.2?
tbh, all these javascripts should be loaded only when required by the "dev", for example if I want to have datepicker on site, then I load it via require or some optional magento module.. also who uses js effects (yes Im speaking about around 8js files with name effects..js) in 2020, I know not everything can b

[2020-10-20 11:57] #28544 closed, assigned to nobody

[2020-10-20 11:59] #26870 closed, assigned to nobody

[2020-10-20 12:04] amine-y opened #30567 "Get Product Url function is returning a url with 301 redirect type instead of url with redirect type of 0"
### Preconditions (*)

1. Magento 2.3.6
2. PHP 7.3
3. Mysql 5.7.31

### Steps to reproduce (*)

1. Create a product
2. Modify product Url with auto create 301 url redirects let's say the old url is "my-new-product" the new one is "my-new-product-2"
3. Now try to get that product with collection and call getProductUrl() function

### Expected result (*)

1. Product url  = my-new-product-2

### Actu

[2020-10-20 12:18] dineshvb commented on #29302
@magento I am working on this

[2020-10-20 12:21] engcom-Bravo commented on #30131
We are closing this issue as the related PR has been closed

[2020-10-20 12:21] #30131 closed, assigned to nobody

[2020-10-20 12:25] engcom-Bravo commented on #29586
We are closing this issue as the Related PR has been closed

[2020-10-20 12:25] #29586 closed, assigned to nobody

[2020-10-20 12:28] danmentzer commented on #30558
@magento I was unable to replicate this on the environment is it possible to have more test orders placed on it.
I was going to do them myself but wasn't sure if there was automation process in place.

[2020-10-20 12:28] engcom-Bravo commented on #29944
We are closing this issue as the related PR has been Closed

[2020-10-20 12:28] #29944 closed, assigned to nobody

[2020-10-20 12:29] seansan opened #30568 "Cannot install M2.1.4 and cannot run bin/magento anymore Cannot instantiate interface Magento\MediaGallerySynchronizationApi\Model\ImportFilesInterface"
### Preconditions  and Steps to reproduce (*) (*)
Install Magento 2.4.0 then your modules, then 2.4.1
composer update (works fine)
then run bin/magento and nothing works anymore
after adding erorr

### Expected result (*)
Upgrade should work

### Actual result (*)

Fatal error: Uncaught Error: Cannot instantiate interface Magento\MediaGallerySynchronizationApi\Model\ImportFilesInterface in /home/s

[2020-10-20 12:49] dineshvb commented on #29302
@magento add to contributors team

[2020-10-20 12:51] ihor-sviziev commented on #29365
Hi @sunel,
The patch already was included into 2.4.1 version, so it will be much easier to test it now. Could you confirm that issue is gone?

[2020-10-20 13:01] simonmaass commented on #13392
@engcom-Echo  @vaaralav just reproduced this issue in 2.4.1!

[2020-10-20 13:03] dineshvb commented on #29302
@magento I am working on this

[2020-10-20 13:18] engcom-Bravo commented on #30540
Hello @trunglv

Thank you for your report

Can you please provide more details about the steps to reproduce with, screenshots attached? It's not clear how is the _double attribute_ created and searched for.
In this way, we could faster reproduce the issue and provide a fix for it

Thank you in advance

[2020-10-20 13:27] #28255 closed, assigned to nobody

[2020-10-20 13:28] krishprakash commented on #30280
Hi @jdubyaw, Feel free to reopen the issue once you update all the necessary details to reproduce this issue
Thanks!!

[2020-10-20 13:28] #30280 closed, assigned to krishprakash

[2020-10-20 13:28] Eddcapone opened #30569 "Methods described in documentation which shows how to overwrite JS methods are not working when trying to override getShippingMethodTitle"
### Summary (*)
I need to override the method `getShippingMethodTitle` which is defined in **vendor/magento/module-checkout/view/frontend/web/js/view/summary/shipping.js**.

The Method gets the shipping method title in the checkout in the summary:

[![enter image description here][1]][1]

### Examples (*)

I tried to override it by using a mixing like this:

**Attempt  1 / 3:**

**Company/Shipping

[2020-10-20 13:31] #30558 closed, assigned to nobody

[2020-10-20 13:31] chiranjeevi-cj commented on #30513
@magento I am working on this

[2020-10-20 13:32] chiranjeevi-cj commented on #30513
@magento add to contributors team

[2020-10-20 13:33] chiranjeevi-cj commented on #30513
@magento I am working on this.

[2020-10-20 13:33] Raffail commented on #10594
It seems the problem is due to permissions - session.gc_maxlifetime is stored in php.ini that is owned by other than Magento2 system user, and Magento saves new admin session lifetime in its database, but can not save it into (root in my case) php.ini. I don't know why local php.ini override does not work.

[2020-10-20 13:40] amine-y commented on #30567
@magento I am working on this

[2020-10-20 13:40] amine-y commented on #30567
@magento add to contributors team

[2020-10-20 13:41] amine-y commented on #30567
@magento I am working on this

[2020-10-20 13:44] engcom-Bravo commented on #30481
Reproducible on Magento 2.4.0 composer via the provided steps
The Google menu is missing from Stores - Configuration - Sales
![google_sales](https://user-images.githubusercontent.com/51680745/96594575-71c4ae00-12f3-11eb-99a2-78234dfd1b22.png)

[2020-10-20 13:45] hostep commented on #6868
Here's a solution which seems to work in our case, it's strongly based on the [stackexchange proposal](https://magento.stackexchange.com/a/176465/2911) but drops the original PrototypeJS implementation and uses jQuery all the way now: https://github.com/magento/magento2/pull/30570

[2020-10-20 13:45] engcom-Alfa commented on #30314
The issue is reproducible on fresh 2.4-develop.

**Manual testing scenario:**

1. We followed [these instructions](https://devdocs.magento.com/guides/v2.4/ext-best-practices/tutorials/dynamic-row-system-config.html) to create a dynamic row system config.

2. We have added default values to my `etc/config.xml` in this form:

[code]
3.` Go to Admin -> System -> Configuration -> Quantity Ranges` and

[2020-10-20 13:46] magento-engcom-team commented on #30481
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38569` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-20 14:09] seansan commented on #30568
You also need to flush redis cache when upgrading .. maybe this is something that magento can BUILD IN >.. take the values from env.php and remove alle caches during upgrade

[2020-10-20 14:09] #30568 closed, assigned to nobody

[2020-10-20 14:12] #29074 closed, assigned to nobody

[2020-10-20 14:18] mauragcyrus commented on #29937
Need more information

[2020-10-20 14:18] #29937 closed, assigned to nobody

[2020-10-20 14:28] engcom-Bravo commented on #28597
Hello @fruit-ninja

Thank you for your report

We confirm that the issue is reproducible on 2.3.5-p1
We get similar errors on while trying to Place Order
![reproduced1](https://user-images.githubusercontent.com/51680745/96600052-3331f200-12f9-11eb-90e0-78263dd7117b.png)
`[2020-10-20 10:39:55] main.CRITICAL: PayPal NVP gateway errors: The Buyer cannot pay with PayPal for this Transaction (#13113: B

[2020-10-20 14:28] #28597 closed, assigned to engcom-Bravo

[2020-10-20 14:54] ihorvansach commented on #30239
I can confirm the issue. It is related to the order field "protect_code".
It is in use for creating shipping/tracking/popup page hash key and it is changing each time during order save (reference \Magento\Sales\Model\ResourceModel\Order::_beforeSave), e.g. crating an invoice.

Think need to add some check to do not change it so often, e.g. not earlier than once a month.

[2020-10-20 15:01] mrtuvn commented on #30524
Same result with 2.4.1 released package

[2020-10-20 15:23] fdo36 commented on #11629
Can you provide information about how did you solve it?

[2020-10-20 15:25] mrtuvn commented on #24830
i'm not sure when it's merged Because core team must check compatible across entire eco-system
b2b-modules, ee-modules, ce-modules. We could miss some testcase and make code break
you can follow the PR as i mentioned in previous reply

[2020-10-20 15:44] magenx commented on #28614
perfect solution is to setup rate limiter

https://www.nginx.com/blog/rate-limiting-nginx/

capture `cartid` and feed offensive IPs into firewall or into `deny` configuration block in `nginx`.

attacker most likely generate huge amount of `400` error code in short time, this is even easier to ban.

[2020-10-20 15:48] sdzhepa commented on #30513
@hostep @chiranjeevi-cj @mrtuvn
jFYI

The internal team is working on the fix for this issue.
Internal PR is ready and in the code review stage

[2020-10-20 16:06] engcom-Delta commented on #30532
Hi @majidiyan I'm not able to reproduce issue by steps you described on clean 2.4-develop. I have checked sorting on category page and it works without errors. Multi sorting cannot be configured from admin panel
**Result:**
![image](https://user-images.githubusercontent.com/51681379/96612814-e6edae80-1306-11eb-96c4-818e1a09f865.png)

Please feel free to comment, reopen or create new ticket accordi

[2020-10-20 16:06] #30532 closed, assigned to engcom-Delta

[2020-10-20 16:19] hostep commented on #30513
@sdzhepa: very good, thanks!

I just discovered another case of this issue, but you guys might have found it already as well:
1. Go to the Create new account form
2. Fill in an invalid email address in the subscribe to newsletter block in the footer
3. Click the Subscribe button
4. Notice the button is disabled
5. Correct the email address it is valid
6. Notice that the subscribe button is still d

[2020-10-20 16:34] gabrieldagama commented on #24791
Hi @zingix, thanks for reporting this, I believe the reason for not having a serializer for the DateTime class is even though there is an ISO for standardization, the format of the DateTime still may need to be different depending on country or client.

We recommend to your `getDate` method to return a string formatted on the way need.

I will be closing this issue since there are no plans to impl

[2020-10-20 16:34] #24791 closed, assigned to nobody

[2020-10-20 16:43] gabrieldagama commented on #24517
Hi @dannydamsky, are there steps to reproduce this issue manually? Without having to programmatically add a new category.

Also, in your description, you talk about the `getUrl` method, but on the code, we can see that you are checking just the `url_key`, can you clarify?

[2020-10-20 16:46] wajahatbashir commented on #15117
Hi,

I just updated Magento 2.3.0 to 2.3.5, but now i add or edit products in Admin catalog, Now I am getting error, Hpow to i'll fix this issue. anyone can help me.

1 exception(s):
Exception #0 (Exception): Notice: Undefined index: quantity in /chroot/home/ad6ab1e8/trendscasa.com/html/faksouq235/vendor/magento/framework/View/Element/UiComponentFactory.php on line 412

[2020-10-20 16:46] NTK-2016 commented on #30559
I have resolved the issue it is from setting

[2020-10-20 16:46] #30559 closed, assigned to nobody

[2020-10-20 17:02] engcom-Delta commented on #24564
Hi @caekuro . I'm not able to reproduce issue by steps you described on clean 2.4-develop + [security-package](https://github.com/magento/security-package) 1.0-develop because of https://docs.magento.com/user-guide/stores/contact-us.html#method-2-without-sample-data
I also update Contact Us page using layout xml in custom module and CAPTCHA/reCAPTHA are shown on page
![image](https://user-images.g

[2020-10-20 17:02] #24564 closed, assigned to engcom-Delta

[2020-10-20 17:20] Eddcapone commented on #4927
@orlangur Can you tell how to see the resulting SQL? Enabling Query logging?

[2020-10-20 17:57] sdzhepa commented on #25476
We are not able to reproduce this issue on the latest `2.4-develop` branch.
Probably it was already fixed in some other PR

Need re-check and close it or confirm as Reproduced on 2.4.x

[2020-10-20 18:00] #25463 closed, assigned to nobody

[2020-10-20 18:11] sidolov opened #30572 "test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-10-20 18:11] sdzhepa commented on #24697
Hello @rani-webkul

We are not able to reproduce this issue on the latest `2.4-develop`
Probably it was fixed in some other pr.
Or some information is missed in steps to reproduce.

If you still have this issue om 2.4-develop please create a new issue report with actual steps to reproduce

[2020-10-20 18:11] #24697 closed, assigned to nobody

[2020-10-20 18:12] #30572 closed, assigned to sidolov

[2020-10-20 18:27] sdzhepa opened #30573 "Test new Issue board"
[Issue Confirmation and Triage Board ](https://github.com/magento/magento2/projects/23)
- all new issues should appear on this board
- when issue is confirmed(reproduced on 2.4-develop) and has a Priority label(triaged) it should move to one of the next boards

[Low Priority Backlog](https://github.com/magento/magento2/projects/25)
- when the issue is confirmed and triaged as P3 P4 it should appea

[2020-10-20 18:41] magento-engcom-team commented on #30573
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-20 18:41] magento-engcom-team commented on #30573
@m2-backlog[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-20 18:44] magento-engcom-team commented on #30573
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38581` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-20 18:55] #28867 closed, assigned to nobody

[2020-10-20 18:55] #28866 closed, assigned to nobody

[2020-10-20 18:55] #28587 closed, assigned to cpartica

[2020-10-20 18:55] #28583 closed, assigned to nobody

[2020-10-20 18:55] #28582 closed, assigned to nobody

[2020-10-20 18:55] CJMacPhie opened #30574 "Can't download Product Files Into A CSV file"
### Preconditions (*)

1.Magento ver. 2.3.4
2.Can't Export Product Information down into a CSV File?

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.I would like all my products to be downloaded to a CSV file

### Actual result (*)

1. [Screenshots, logs or description]
2.Nothing goes to a blank screen and idles with nothing happening.

---
Plea

[2020-10-20 18:56] #28566 closed, assigned to nobody

[2020-10-20 18:56] #28540 closed, assigned to nobody

[2020-10-20 18:56] #28539 closed, assigned to nobody

[2020-10-20 18:56] #28537 closed, assigned to nobody

[2020-10-20 18:56] #28527 closed, assigned to nobody

[2020-10-20 18:56] #28525 closed, assigned to nobody

[2020-10-20 18:56] #28521 closed, assigned to nobody

[2020-10-20 20:09] forcecodema commented on #30524
Ok - makes sense.

Thanks for clarification.

[2020-10-20 20:09] #30524 closed, assigned to nobody

[2020-10-20 21:27] gquintard commented on #29988
anything I need to do here? (I'm assigned to it, apparently)

[2020-10-20 22:11] msyhr opened #30575 "Blank install of Magento 2.4.1 via composer breaks on setup:install command."
### Preconditions (*)

1. PHP - 7.4.9
2. Apache 2.4

### Steps to reproduce (*)

1. Run Composer Command
`composer create-project --repository=https://repo.magento.com/ magento/project-community-edition magento2`
2. Attempt to run command-line installation.
`php bin/magento setup:install --base-url=http://241.loc/ --db-host=mysql --db-name=241 --db-user=root --db-password= --admin-firstname=Magent

[2020-10-20 22:21] magento-engcom-team commented on #20317
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-24393` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-20 22:26] magento-engcom-team commented on #25476
@m2-backlog[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-20 22:27] msyhr commented on #30575
As a side note, repeating this above process in the identical environment, but specifying:

`composer create-project --repository=https://repo.magento.com/ magento/project-community-edition=2.4.0 magento2
`
successfully install the software. Then updating the composer.json entry to

`"magento/product-community-edition": "2.4.1"`

will cause the same issue.

[2020-10-20 22:33] magento-engcom-team commented on #25476
@m2-backlog[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-20 22:36] #30573 closed, assigned to sdzhepa

[2020-10-21 00:57] #27271 closed, assigned to nobody

[2020-10-21 01:03] sidolov commented on #29608
Closing as duplicate of https://github.com/magento/magento2/issues/26975

[2020-10-21 01:03] #29608 closed, assigned to dverkade

[2020-10-21 01:11] #29589 closed, assigned to nobody

[2020-10-21 01:11] #29583 closed, assigned to nobody

[2020-10-21 01:11] #29582 closed, assigned to nobody

[2020-10-21 01:12] #29507 closed, assigned to nobody

[2020-10-21 01:12] zingix commented on #24791
Hi @gabrieldagama, I do not agree that the date should be formatted as string. Using this method, you cannot directly load date types from the database and use the Magento default tools to have it properly mapped - except you store the dates as strings as well.

I added this issue for the API not Magento in general. The API should exactly be client independent and close to standard as possible. It

[2020-10-21 02:10] lfluvisotto commented on #5322
@magento I am working on it

[2020-10-21 03:49] ihor-sviziev commented on #27162
This issue was revisited and considered to be fixed in 2.5 release line https://github.com/magento/magento2/pull/27340#issuecomment-712967813
Reopening

[2020-10-21 06:19] chiranjeevi-cj commented on #30537
@magento I am working on this issue

[2020-10-21 06:33] engcom-Alfa commented on #29663
This issue has already been fixed by PR #27269 .
So, we have to close it.

[2020-10-21 06:33] #29663 closed, assigned to engcom-Alfa

[2020-10-21 07:28] dverkade commented on #29608
@sidolov this is not a duplicate of #26975 which mentions that tests are failing at the 0:00 mark. This ticket describes an issue with the sorting other of the RefundOrder class and has an open PR. It's needs to be reopened.

[2020-10-21 07:29] magento-engcom-team commented on #30314
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38588` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-21 08:37] Morgy93 commented on #22094
I recently updated from 2.3.5-p2 to 2.4.1 and I'm now facing the same issue.

Doesn't matter if using elasticsearch or disabling flat tables completely.

My `cataloginventory_stock` table is not empty and other stock tables "seem to be correct"

The side effect here for me is that all of my categories are empty.

[2020-10-21 08:53] sodhancha commented on #25862
@sdzhepa this issue has left us with a big hole in our pocket.
It's happening not just for guest users but for all users with all payment gateways

[2020-10-21 08:53] matthijsburki commented on #25862
L.s.,
Ik ben 21 otober niet aanwezig en niet in staat mijn e-mail te beantwoorden. Domderdag 22 oktober zal ik wanneer nodig op het verstuurde bericht reageren. Voor dringende zaken kan er contact worden opgenomen met mijn collega Patricia Vieveen per e-mail patricia@cream.nl of telefoon 010-7536090.
----------------
Iâm not in the office on Wednesday 21th of October. Your e-mail will not be for

[2020-10-21 08:57] kassner opened #30577 "Can't place order on admin: "regionId" is required"
### Preconditions

Magento 2.4-develop;
Magento 2.3.6;

2. Two websites;
3. Disable all countries for the default scope (General > Countries > Allow);
4. Enable `United States` on one website (General > Countries > Allow);

### Steps to reproduce

1. Go to Admin > Sales > Orders > Create order;
2. Select the website used on Preconditions step 4;
3. Add a product, fill the addresses using `United S

[2020-10-21 08:57] trunglv commented on #30540
Hi @engcom-Bravo
Here is what I debugged:

Class : Magento\Elasticsearch\SearchAdapter\Query\Builder\Match => function buildQueries

[code]
A variable $fieldType is returned a value is "double",  not "float"

class : Magento\Elasticsearch\Model\Adapter\FieldMapper\Product\FieldProvider\FieldType\Resolver\CompositeResolver
class : Magento\Elasticsearch\Model\Adapter\FieldMapper\Product\FieldProvide

[2020-10-21 08:57] kassner commented on #30577
@magento give me 2.4-develop instance

[2020-10-21 09:08] kassner commented on #30577
Reproducible on 2.4-develop:

![Screenshot from 2020-10-21 11-06-05](https://user-images.githubusercontent.com/301255/96698593-98372780-138d-11eb-9c66-df3772a492e3.png)

![Screenshot from 2020-10-21 11-06-27](https://user-images.githubusercontent.com/301255/96698617-a08f6280-138d-11eb-9f35-10483df6dc34.png)

[2020-10-21 09:12] ejaz-alam commented on #30545
@magento I am working on this

[2020-10-21 09:14] kassner commented on #30577
From my quick investigation, the `regionUpdater` within the page doesn't have any regions populated. The commit 2b4cfab52c7305521447c07e104afa4cec730a19 made some changes that makes it not render the countries when it's in the admin order create page. Likely the fix lies around `\Magento\Directory\Helper\Data::getRegionData` method being aware that it is in the admin order create oage and display

[2020-10-21 09:17] real34 opened #30578 "GraphQL: filtering by simple product SKU returns bundle products, leading to pageSize flaws"
### Preconditions (*)

1. Magento 2.4.1 with sample data

### Steps to reproduce (*)

1. Run the following GraphQL query:

[code]

### Expected result (*)

1. GraphQL should only return reviews for the `24-WG084` product.

[code]

### Actual result (*)

1. The following response is returned. It includes reviews from `24-WG080` (a bundle product containing `24-WG084`)
[code]

3. This problem causes

[2020-10-21 09:35] yatsumaa commented on #30541
You might need to check against this:
Since 2.3.3 The Stores > Sales > Sales emails > Send Order Email Copy To field does not allow a space after the comma between two mail addresses anymore.

 and also core_config_data , the value of sales_email/order/copy_to (do not contain comma in between emails)

[2020-10-21 10:01] onlyapproved commented on #22094
Hey Morgy93.

Do you have your indexer running by schedule or "on save"

For updating over API I found that it needs to be on schedule, elsewhere the database tables will lock up and cause the error here.

[2020-10-21 10:47] Morgy93 commented on #22094
Doesn't matter ... if I manually save the product from admin ui the product is shown in the category and elasticsearch has this one entry.
If I reindex the `cataloginventory_stock` index then all elasticsearch data is lost. Doesn't matter if update on save or via cronjob (by schedule)

But I assume my princess is in another issue,  thanks anyway!

[2020-10-21 10:49] #23588 closed, assigned to nobody

[2020-10-21 10:50] engcom-Delta commented on #28419
@tuyennn , @dwightc I'm not able to reproduce issue by steps you described on clean 2.4-develop and on the latest composer version 2.4.1
**Manual testing scenario:**
1. Set Require Emails Confirmation=Yes
![image](https://user-images.githubusercontent.com/51681379/96690301-2b6f5d80-138c-11eb-9513-c3f12c9986f2.png)
2. Go to Create New Customer Account page
3. Check `Sign Up for Newsletter` checkbox

[2020-10-21 11:08] samc2810 opened #30582 "Mview.xsd and indexer Classes dont allow table names / classes with numbers"
https://github.com/magento/magento2/blob/97722131f66535783cb1ce56c179c1c6f1ca68d5/lib/internal/Magento/Framework/Mview/etc/mview.xsd#L95

Using Magento 2.4 Commerce

Hi Magento Team
I am working on a module where I created a new indexer but the XSDs wont allow Numbers in the Class name or table names. Looks like I need to re-write my module :(

and mview

Any chances this will be fixed with 2.4.1?

[2020-10-21 11:30] adrian-martinez-interactiv4 commented on #29197
Thanks to the accurate explanation of @PascalBrouwers about how to reproduce it, I'd like to share here my findings.

**TL;DR**

This issue only seems to happen when:

- **PSR-0 autoload configuration includes `generated/code/`**

- **`generated/code/` folder is not empty and has generated code**, due to automatic generation, `setup:di:compile`, or `deploy:mode:set production`

**Error occurs when

[2020-10-21 11:31] ihorvansach commented on #30239
UPD: the issue is present in the Magento 2.4.1 but it is already fixed in the 2.4-develop branch.
Here is the commit: https://github.com/magento/magento2/commit/bd087ecd950024190fef4e5cb6fe5aa6bb27d2eb

To solve the issue on your instanse you can apply a patch

**Patch**
MDVA-30265: Fixes the issue where shipment tracking link stops working a filter Invoice creation.

**Compatible versions**
Magen

[2020-10-21 11:31] #30239 closed, assigned to nobody

[2020-10-21 11:54] engcom-Bravo commented on #30541
Hello @andyworkbase

Thank you for your report

We have rechecked this issue on the latest 2.4-develop and 2.3.6 composer
The order is placed successfully using _PayPal Payflow Pro_ Payment method and _Free Shipping_ as Shipping method

Can you please confirm that you can reproduce this issue on 2.4-develop or 2.3.6 composer versions?

Thank you in advance

[2020-10-21 12:36] magento-engcom-team commented on #30577
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38592` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-21 12:42] andyworkbase commented on #30541
@engcom-Bravo
It appears that the issue has been resolved since version 2.3.5, as on versions higher than or equal to this, the issue cannot be reproduced. The problem was solved by adding an intermediate redirect between PayPal and Magento:
Controller:
`\Magento\Paypal\Controller\Transparent\Redirect`
Layout:
`vendor\magento\module-paypal\view\frontend\layout\transparent_payment_redirect.xml`
Blo

[2020-10-21 13:02] engcom-Bravo commented on #30541
Thank you @andyworkbase for the quick response.

Glad that the issue is resolved.

In this case, we have to close the issue because we can not deliver a fix to Magento 2.3.3
Please feel free to comment, or create new tickets according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-10-21 13:02] #30541 closed, assigned to engcom-Bravo

[2020-10-21 13:11] tope316 opened #30583 "Frontend cookies HttpOnly flag is not set. PCI Compliance checking failed"
### Preconditions (*)

1. Magento 2.3.5-p1
2. Use HTTP Only is set to Yes in Default Cookie Settings

### Steps to reproduce (*)

1. Open a page on a Magento 2 shop
2.

### Expected result (*)

1. Cookies should have HttpOnly set to true
2.

### Actual result (*)

1. Cookies HttpOnly are not set.
![image](https://user-images.githubusercontent.com/17076407/96723757-8ed7aa80-13e1-11eb-84d6-03fc3e3e9

[2020-10-21 13:14] ihor-sviziev commented on #25578
I would close this issue. It's quite rare case and reproducing only in case if you're using Apache web server. With Nginx + php-fpm issue isn't reproducing.

General recommendation will be switching to Nginx + php-fpm.

[2020-10-21 13:14] #25578 closed, assigned to nobody

[2020-10-21 13:16] engcom-Bravo commented on #30578
Hello @real34

Thank you for your report

We have just rechecked the issue on 2.4-develop and on 2.4.1

This is the result we get from the query provided in Steps to reproduce
![mage_24develop_graph](https://user-images.githubusercontent.com/51680745/96724361-6b4c3a00-13b8-11eb-88fa-ab610229c721.png)

The SKU in the query is the same as the returned SKU in the response

Can you please correct our

[2020-10-21 13:21] redati opened #30584 "mini search field head does not appear if suggestions and recommendations are disabled. Luma Theme and mobile navigation."
### Preconditions (*)

Magento 2.4-develop

1. does not work when suggestions are disabled
2. because form-mini.js is not loaded
3. imput depends on the click to appear and the logic is in form-mini.js

<?php if ($helper->isSuggestionsEnabled()): ?>
           data-mage-init='{"quickSearch":{data-mage-init='{"quickSearch":{

problem here
                                   ...
<?php endif; ?>

###

[2020-10-21 13:30] magento-engcom-team commented on #30585
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38593` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-21 13:44] ericmorand opened #30586 "\Magento\Catalog\Model\Category\DataProvider::getFieldsMap is protected"
### Summary (*)

`\Magento\Catalog\Model\Category\DataProvider::getFieldsMap` is protected. It makes impossible to create a plugin that would add some fields to the Category form.

This function is called by `\Magento\Catalog\Model\Category\DataProvider::getFields`, which is private, and `getFields` is called by `\Magento\Catalog\Model\Category\DataProvider::getAttributesMeta` which assign the sou

[2020-10-21 13:50] redati commented on #30584
@magento give me 2.4-develop instance

[2020-10-21 13:54] WalterSmulders commented on #25182
1 year later, and still not fixed in 2.4.1
https://github.com/magento/magento2/issues/30382
https://github.com/magento/magento2/issues/28801

[2020-10-21 14:01] real34 commented on #30578
Thanks for the feedback, I'll try from a totally blank project… time to use the Magento bot for the first time!

@magento give me 2.4-develop instance

[2020-10-21 14:01] redati commented on #30584
problem confirmed

https://i.ibb.co/YQ7C7xv/disable-sugest.jpg
https://i.ibb.co/8M55TFH/erro.gif

[2020-10-21 14:02] magento-engcom-team commented on #30588
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38595` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-21 14:15] Fuseteam opened #30589 "Incorrect currency symbol for surinamese dollar"
### Preconditions (*)

Magento 2.4-develop
### Steps to reproduce (*)

1. set base currency to Suriname Dollar

### Expected result (*)

1. prices on the catalog and the frontend to be prepended with the SRD symbol
![image](https://user-images.githubusercontent.com/51681379/96878073-16292a80-1483-11eb-952a-fe5fe3f9c84e.png)

### Actual result (*)

1. prices on the catalog and the frontend are prep

[2020-10-21 14:26] real34 commented on #30578
Thank you everyone. I cannot reproduce, it must be related to overrides on the project I was on.
Sorry for bothering you. :wave:

[2020-10-21 14:26] #30578 closed, assigned to engcom-Bravo

[2020-10-21 14:27] ihor-sviziev commented on #6419
Seems like the only one possible solution will be switching to nginx + php-fpm, that's basically fixes all the issues as all configuration is NOT in the magento2 directory.

[2020-10-21 14:53] rani-webkul commented on #29900
@magento give me 2.4-develop instance

[2020-10-21 15:46] ericmorand commented on #30586
Well, looks like some others already faced that issue, but didn't feel the urge to open a bug about it. The maintainers of the `catalog-staging` module did copy the whole getFieldsMap function in their own custom DataProvider:

[code]

We are now stuck at replacing both classes with our own custom implementation if we want to customize the category form.

[2020-10-21 15:56] niravkrish commented on #30588
@magento I am working on this

[2020-10-21 16:03] hostep commented on #6419
I actually think it's a great feature and this probably isn't a bug.
If you put your `.htaccess` file in git (which you probably should), you should notice it when a magento upgrade overwrites it on your local machine. When that happens, you can decide how to merge your own custom changes with the new changes from Magento. I'm considering this a good thing, because the changes from Magento in that

[2020-10-21 16:29] gwharton opened #30591 "Tax Rounding Warning inconsistent with Docs"
### Preconditions (*)

1. 2.4-develop

### Steps to reproduce (*)

1. Store -> Configuration -> Sales -> Tax -> Tax Calculation Method Based On = Row Total
2. Store -> Configuration -> Sales -> Tax -> Display Product Prices In Catalog = Including and Excluding Tax
2. Store -> Configuration -> Sales -> Tax -> Catalog Prices = Excluding Tax
Save Config

### Expected result (*)

1. According to https

[2020-10-21 16:37] mrtuvn commented on #30569
This work with me
<pre>return function (OriginShipping) {
        return OriginShipping.extend(mixin);
    };</pre>

[2020-10-21 16:44] cosmedd commented on #25534
_The performance of catalog search has improved. Disabling Enable Search Suggestions (Stores > Configuration > Catalog > Catalog Search) works as expected. Previously, Magento queried the MySQL search_query table instead of Elasticsearch for autocomplete search suggestions. GitHub-25534_

From https://devdocs.magento.com/guides/v2.3/release-notes/open-source-2-3-6.html#search

I don't understand i

[2020-10-21 16:46] indefinitedevil commented on #28860
Can confirm issue still present in 2.3.5-p2.

[2020-10-21 16:50] indefinitedevil commented on #28860
Can also confirm that

Can also confirm that this fix does not work. If you have a string value, it conflicts with the int expectation in GraphQL.

$itemOption->getId() may be better? Really not sure.

[2020-10-21 17:01] salehawal opened #30592 "0 shipping .. happins somtimes? cand figure out why?"
### Preconditions (*)

1. lamp php 7.2
2. magento 2.3.1

### Steps to reproduce (*)

1. making a normal order

### Expected result (*)

1. shipping to be calculated in all orders

### Actual result (*)

1. shipping not calculated sometimes in some orders ( happens 1 in 500 )
- magento settings
![Screenshot from 2020-10-21 18-55-09](https://user-images.githubusercontent.com/3238761/96752952-75c5fe0

[2020-10-21 17:13] magento-engcom-team commented on #30593
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38622` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-21 17:37] engcom-Delta commented on #26151
@startshopNL thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop.
**Result:**
![image](https://user-images.githubusercontent.com/51681379/96756636-03f4b100-13dd-11eb-9ea2-4340ffa07c32.png)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting

[2020-10-21 17:37] #26151 closed, assigned to engcom-Delta

[2020-10-21 17:41] dwightc commented on #28419
Hello @engcom-Delta, thanks for checking into this.

I'm haven't had time to test it myself yet, but I did quickly look at the \Magento\Newsletter\Model\Subscriber class and I see that there have been significant changes made to it in 2.4.0 so it is likely that the issue has indeed been corrected.

I also looked at the code for 2.3.5p2 and 2.3.6, and I see that in those versions the code has not b

[2020-10-21 17:51] dvluna opened #30594 "Email Template Preview spawns a pop-up window and also directs user away from email templates grid"
### Preconditions (*)

1. Magento 2.4-develop
2. Both Magento 2.4.0 and 2.4.1
3. PHP version 7.4.11

### Steps to reproduce (*)

1. Go to Marketing > Communications > Email Templates
2. Click `Add New Template`
3. Fill out the form and save.  You'll be sent over to the `Email Templates` grid.
4. Click `Preview` on the newly created Email Template.  You'll notice it will pop-up a preview window and

[2020-10-21 18:15] Grumag commented on #28614
Had 3300+ attempts in less than 3 hours this morning. Had to disable the payment system. 2.3.5-p1 with a 3rd party payment gateway. reCaptcha V3 is running, but not in checkout of course.

From what I have read there is nothing that can be done? Is Magento dev team attempting to fix this?

[2020-10-21 18:23] sb-nick commented on #28614
@Grumag are you cloud commerce or on-prem?

Read through some of the solutions I offered above. Rate limiting, payment gateway limiting/fraud controls. ReCaptcha is coming to the checkout and api in an upcoming release. ReCaptcha at the API layer is the godsend here. We have to built it ourselves this summer. Also with a firewall you can block requests coming to the API url.

If you have an enterp

[2020-10-21 18:36] siliconrockstar commented on #28614
Seems like the simplest solution would be:

- bind the session cookie to the user's IP address, and flush the session
and redirect if the IP changes. A few users on dynamic IPs would lose their
cart contents/login session when their ISP's DHCP lease renews, but that's
a monthly or less frequent occurrence AFAIK (thought it may be different
outside the USA)
--- I *think* this can be accomplished in

[2020-10-21 18:41] sb-nick commented on #28614
I'm running in commerce cloud I can confirm that "Validate REMOTE_ADDR = YES" doesn't help. That was one of the things that support suggested, however it didn't stop. Totally enable it nonetheless, but it doesn't help kill the carding attacks.

[2020-10-21 19:41] MichaelThessel commented on #30556
Hi @ihor-sviziev I had a look at this and by the looks of it Sodium wouldn't just work as a drop in replacement. Rewriting the Magento encryption stack is unfortunately beyond what I can commit to time wise.

[2020-10-21 20:35] magento-engcom-team commented on #30508
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30340 by @alinalexandru in 2.4-develop branch
Related commit(s):
 - [47c21ab6bf8eed1f6dac3dbdb53019a698ba01ab](https://github.com/magento/magento2/commit/47c21ab6bf8eed1f6dac3dbdb53019a698ba01ab)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-21 20:35] #30508 closed, assigned to alinalexandru

[2020-10-21 20:35] magento-engcom-team commented on #30061
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29868 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [3efc95a409120fa2724be02bf2b5222c17b4ee23](https://github.com/magento/magento2/commit/3efc95a409120fa2724be02bf2b5222c17b4ee23)
 - [abff48fd8d26ab455154da5b1a102c5ec99a27b8](https://github.com/magento/magento2/commit/abff48fd8d26ab455154da5b1

[2020-10-21 20:35] #30061 closed, assigned to Usik2203

[2020-10-21 20:35] magento-engcom-team commented on #27925
Hi @vestman. Thank you for your report.
The issue has been fixed in magento/magento2#28172 by @vestman in 2.4-develop branch
Related commit(s):
 - [4fd92e7edc9a62c3e09f7ed0461da4f36aba4d27](https://github.com/magento/magento2/commit/4fd92e7edc9a62c3e09f7ed0461da4f36aba4d27)
 - [cf5d73b89648c31fa0832fc6a1957f13b338a512](https://github.com/magento/magento2/commit/cf5d73b89648c31fa0832fc6a1957f13b338

[2020-10-21 20:35] #27925 closed, assigned to vestman

[2020-10-21 20:35] magento-engcom-team commented on #22503
Hi @GrishmaNayee. Thank you for your report.
The issue has been fixed in magento/magento2#28157 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [a128f392b45f559316460962444bd4b1834e8f14](https://github.com/magento/magento2/commit/a128f392b45f559316460962444bd4b1834e8f14)
 - [e3bad69dc0d66d0eeb34eb180a4f415c25c3261e](https://github.com/magento/magento2/commit/e3bad69dc0d66d0eeb34eb180a

[2020-10-21 20:35] #22503 closed, assigned to Bartlomiejsz, niravkrish

[2020-10-21 20:35] magento-engcom-team commented on #24091
Hi @venugopal-codilar. Thank you for your report.
The issue has been fixed in magento/magento2#28157 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [a128f392b45f559316460962444bd4b1834e8f14](https://github.com/magento/magento2/commit/a128f392b45f559316460962444bd4b1834e8f14)
 - [e3bad69dc0d66d0eeb34eb180a4f415c25c3261e](https://github.com/magento/magento2/commit/e3bad69dc0d66d0eeb34e

[2020-10-21 20:35] #24091 closed, assigned to Bartlomiejsz

[2020-10-21 20:35] magento-engcom-team commented on #29988
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28928 by @gquintard in 2.4-develop branch
Related commit(s):
 - [7660725eddb33e837a6286bfe131c0a96e209144](https://github.com/magento/magento2/commit/7660725eddb33e837a6286bfe131c0a96e209144)
 - [8920869cbb7f7a454517e48932657b0d2609b7d9](https://github.com/magento/magento2/commit/8920869cbb7f7a454517e489

[2020-10-21 20:35] #29988 closed, assigned to gquintard

[2020-10-21 20:35] magento-engcom-team commented on #29552
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27672 by @NikolasSumrak in 2.4-develop branch
Related commit(s):
 - [eb8cd708869546a203b17b922c2ce573a6c7f35d](https://github.com/magento/magento2/commit/eb8cd708869546a203b17b922c2ce573a6c7f35d)
 - [b2139152bcdb50a3c4972c9c84f5af8b57b463e5](https://github.com/magento/magento2/commit/b2139152bcdb50a3c497

[2020-10-21 20:35] #29552 closed, assigned to NikolasSumrak

[2020-10-21 20:43] hostep commented on #30501
Just FYI: https://github.com/avstudnitz/AvS_DisableModules can help in finding modules you can remove. After you removed the ones you don't need, you can run it again and it will potentially find some more. Rinse and repeat.

[2020-10-21 22:55] perfpcs opened #30596 "Magento 2.4.1 Media Gallery....not ready for prime time. Fails when you have large amounts of data (images)"
### Preconditions (*)

The new media gallery introduced in Magento 2.4.1 certainly was not vetted using a large robust shop. Maybe it was designed with 100-200 products like the using Magento sample data but I can tell you from my experience trying to use this, it does NOT work when you have a large amount images. Since we use compression software to have images ready for desktop, table, phone and

[2020-10-22 00:55] uvaper opened #30597 "Cannot type'Korean' in TinyMCE4 WYSIWYG Editor"
I have one question. I created a Korean site with magento 2. However, Korean characters cannot be entered where TinyMCE4 WYSIWYG editor is applied.

Please contact us how to solve this problem.

[2020-10-22 01:03] dbashyal commented on #16958
@Aswan2016  I created a product with the same SKU (m-sample-sku) which was deleted after the order was placed.

After that, I searched for the item rows using order_id in sales_order_item and replaced the previous product_id with a new product id of (m-sample-sku).

![image](https://user-images.githubusercontent.com/833986/96805886-62ae3f00-145e-11eb-9974-f0b1605b4f32.png)

[2020-10-22 03:02] tuyennn commented on #19901
@magento-engcom-team I'm facing this issue while upgrading from 2.1.x to 2.3.4. Probably the **Catalog Flat for Category** is being used

[2020-10-22 04:45] dwightc commented on #28419
I was able to test versions 2.3.5p2 and 2.3.6. Here were my results:

**2.3.5p2**
- Require Emails Confirmation: YES
- Customer chooses "Sign Up for Newsletter" during account creation.

- Result - **Not working correctly**. Customer receives unsubscribe email at the same time as the confirmation email and even after confirming their email, they are not subscribed.
![image](https://user-images.git

[2020-10-22 05:38] bhanu-webkul commented on #30589
@Fuseteam
Suriname Dollar
Currency
The Surinamese dollar has been the currency of Suriname since 2004. It is normally abbreviated with the dollar sign $, or alternatively Sr$ to distinguish it from other dollar-denominated currencies. It is divided into 100 cents. Wikipedia
Official website: cbvs.sr
Symbol: $
Thats why i showing $ this symbol on front end

[2020-10-22 06:01] PivitParkour94 opened #30598 "Product Price Reindexes On Every Product Save"
### Preconditions (*)

1. Magento 2.3.5-p2
2. PHP7.3

### Steps to reproduce (*)

1. Save arbitrary value for any product (Simple Product -> Meta Title)
2. Have observer checking `\Magento\Catalog\Helper\Product::isDataForPriceIndexerWasChanged` of product
3. Find that the price index logic returns true

### Expected result (*)

1. Product will save meta title and not have to reindex the product p

[2020-10-22 06:31] magento-engcom-team commented on #24184
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23975` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-22 06:33] PivitParkour94 commented on #30598
The other option, which would probably involve way less dev, would be to have the stored website id be to have
$product->getData('website_ids') == $product->getOrigData('website_ids')

[2020-10-22 06:35] ihor-sviziev commented on #30556
@MichaelThessel,
Basically right now Magento using sodium if the extension is installed with a fallback to mbstring. You can see it here:
https://github.com/magento/magento2/blob/68c903f5623b663dc942e7125e82163d579126a4/lib/internal/Magento/Framework/Encryption/Encryptor.php#L512-L550
https://github.com/magento/magento2/blob/68c903f5623b663dc942e7125e82163d579126a4/lib/internal/Magento/Framework/E

[2020-10-22 06:45] JelleGe commented on #28454
Any updates about this issue? We still face this issue on Magento 2.4.1 with Elasticsearch 7

[2020-10-22 06:59] engcom-Delta commented on #12707
@hackronshins , I'm not able to reproduce issue by steps you described on clean 2.4-develop.
Was checked cases with virtual and downloadable products
**Manual testing scenario:**
1. Create two products ( Virtual and downloadable )
![1](https://user-images.githubusercontent.com/51681379/96835435-3f7a9400-144c-11eb-85ab-a0501416fe58.png)
2. Set up PayPal Express checkout
3. Navigate to storefront as

[2020-10-22 06:59] #12707 closed, assigned to engcom-Delta

[2020-10-22 07:25] onepack commented on #29113
Please, with all due respect but this function is only used when customers are stuck. Most of these customers have no idea and now you have to talk them through a list of steps to get this setting done.
By the way I just got a new customer that has a bought theme that doesn't have this setting present in the frontend for customers.
So you-re stuck unless you enter their ID directly into the databa

[2020-10-22 07:40] onepack opened #30599 "Login as Customer: Create a Opt-in/ Opt-out system setting"
### Description (*)

Make Login as Customer Opt-in/ Opt-out available via System Settings.
Option:
Login as Customer is: Opt-in/ Opt-out/ Mandatory

### Expected behavior (*)

This way a shop-owner can choose to:
Opt-in: Let customers decide to have this active.
Opt-out: Let the Shop owner take control without being stuck when customers cannot find the setting of the setting is not present in an a

[2020-10-22 07:52] Eddcapone commented on #30569
Hello @mrtuvn I dont understand your answer. What is working for you? Everything I tried does not work.

[2020-10-22 07:59] engcom-Bravo commented on #27265
Hello @NeilofSteel

Thank you for your report

We have rechecked the issue on the latest 2.4-develop and the issue is **not** reproducible

Steps to reproduce:
1. Set your Interface user and shop locale to Germany
![Interface locale](https://user-images.githubusercontent.com/51680745/96842199-66899380-1455-11eb-8f08-446c30b2fcc7.png)
2. Edit customer in backend or go to create account in frontend

[2020-10-22 07:59] #27265 closed, assigned to engcom-Bravo

[2020-10-22 08:04] majidiyan commented on #30532
Hi
Yes I know in admin we cannot produce multisort capability.
I sent you part of code in vendor and explain that the query function gives the true info in enter argument and generate the true multisorted info, but I don’t know why the final result in category page is missed up.
Please check your codes.
 

--
АЛИ МАЖИДИЯН

[2020-10-22 08:04] codynguyen1 opened #30600 "[NOT READY] Available currencies need to contains currency name/title"
*As a developer I want to show users the currency name instead of just currency code so that they can select it easier.*
![Screenshot at Oct 22 14-58-01](https://user-images.githubusercontent.com/16347586/96842686-89c53a80-1477-11eb-8fd7-b0c2e26b5bbf.png)
sample schema:
type Currency {
   available_currency: [ CurrencyOutput ]
}

type CurrencyOutput  {
value: String
title: String
symbol: String
}

[2020-10-22 08:36] mrtuvn commented on #30569
I follow same as your #1 attempt only difference in the last

[2020-10-22 08:41] Eddcapone commented on #30569
If I understand you correctly, then you have used this code:

**Attempt  1 / 3:**

**Company/Shipping/view/frontend/requirejs-config.js**:

    var config = {
        config: {
            mixins: {
                'Magento_Checkout/js/view/summary/shipping': {
                    'Company_Shipping/js/view/summary/shipping-mixin': true
                },
            }
        }
    };

**Company/S

[2020-10-22 08:47] snez commented on #22753
Check if any of the following modules have been disabled:

Magento_InventoryAdvancedCheckout
Magento_InventoryDistanceBasedSourceSelection
Magento_InventoryDistanceBasedSourceSelectionAdminUi
Magento_InventoryDistanceBasedSourceSelectionApi
Magento_InventoryElasticsearch
Magento_InventoryExportStockApi
Magento_InventoryRequisitionList
Magento_InventoryReservationCli
Magento_InventoryExportStock
Ma

[2020-10-22 08:51] engcom-Bravo commented on #28221
Hello @astvdurnev

Thank you for your report.

This issue seems to be fixed on the latest Magento 2.4-develop version.

Manual testing scenario:
1. Login as a customer with saved addresses
2. Add product to cart
![Login](https://user-images.githubusercontent.com/51680745/96847746-3a254580-145c-11eb-94f8-4c601089b370.png)
3. Open website in incognito mode or clean all cookies and local storage
4. L

[2020-10-22 08:51] #28221 closed, assigned to engcom-Bravo

[2020-10-22 08:53] mrtuvn commented on #30569
Correct but from my workaround it work. I have tried in sample data local luma with basic setup

[2020-10-22 09:13] Eddcapone commented on #30569
Thank you, maybe some module from amasty is interfering then. I will check this.

[2020-10-22 09:20] Eddcapone commented on #30569
I checked my requirejs-config.js file from the network tab in the developer console of chrome, but it does only contain my mixin:

[code]

[2020-10-22 09:36] Eddcapone commented on #30569
I finally solved it!

## The name of the file is very important!! You have to name the file `-mixin` at the end, otherwise it wont work!**

I renamed it to **shipping-extend.js** at some point after creating this Question, after renaming it back to `shipping-mixin.js` and changed it in the code as well it works.

I also had to use the return like in your answer, it does not work like described in

[2020-10-22 09:36] #30569 closed, assigned to nobody

[2020-10-22 09:40] magento-engcom-team commented on #30584
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38652` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-22 09:45] mrtuvn commented on #30569
I don't think name file is problem maybe another issue

[2020-10-22 09:50] Eddcapone commented on #30569
@mrtuvn You are right, I just changed it back to extend and it is still working, of course I flushed the cache. I think the problem is cache. Next time I will call `grunt clean` after changes to also remove static files, because flushing cache is not always enough or you have to flush it multiple times to make it apply.

[2020-10-22 10:00] Eddcapone commented on #30569
I think by renaming the filename, I forced the cache to catch the change and delivering the new file. So the flush cache method is not always doing the job like you would expect it.

[2020-10-22 10:08] PascalBrouwers commented on #29197
Yes, thank you for the full explanation. The problem is indeed switching between 2 folders who have a different classmap.
I went for option 2: "Run rm -rf generated/code/"
We have the issue that we are also using Redis so the classmap needs to be regenerated.

[2020-10-22 10:50] m2-assistant[bot] opened #30601 "[Issue] remove spaces caused patching problem in Product/View"
This issue is automatically created based on existing pull request: magento/magento2#30198: remove spaces caused patching problem in Product/View

---------
It was impossible to apply patch to this file because whitespaces

### Description (*)

Code clean up
### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. Cre

[2020-10-22 11:21] engcom-Bravo commented on #29817
Hello @webkul-ajaysaini

Thank you for your report.

This issue is already fixed in 2.4.1 and 2.4-develop Magento versions
Admin is able to create Shipping label, add/delete packages

We are closing this issue. Please feel free to comment, reopen or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-10-22 11:21] #29817 closed, assigned to nobody

[2020-10-22 11:25] qsolutions-pl commented on #30575
experiencing the same issue

[2020-10-22 11:56] engcom-Delta commented on #30599
Hi @onepack thank you for your report. You could change customer opt-in (`Allow remote shopping assistance`) from admin panel: Customer edit page->Account Information->Allow remote shopping assistance
![image](https://user-images.githubusercontent.com/51681379/96868375-a01ec680-1476-11eb-9f27-41f31df9a00c.png)
**Result:**
![Peek 2020-10-22 14-50](https://user-images.githubusercontent.com/51681379/

[2020-10-22 12:12] chiranjeevi-cj commented on #26156
@magento give me 2.4-develop instance

[2020-10-22 12:23] kovinet commented on #22313
I have same issue with Magneto 2.4. too.

[2020-10-22 12:25] adrian-martinez-interactiv4 commented on #29197
Yes, https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Code/GeneratedFiles.php#L103 does not take care of cache configuration, and may not clean cache effectively, so in case you don't use built-in cache, you may need also to delete cache manually or via `cache:flush` before `rm -rf generated/code/`.

[2020-10-22 12:29] chiranjeevi-cj commented on #26156
@magento i am working on this.

[2020-10-22 12:42] engcom-Bravo commented on #29816
Hello @webkul-ajaysaini

Thank you for your report.

This issue is already fixed in 2.4.1 and 2.4-develop Magento versions
The Checkbox for Creating Shipping labels is available
![Selection_030](https://user-images.githubusercontent.com/51680745/96873013-0c042d80-147d-11eb-9544-4969a4891031.png)

We are closing this issue. Please feel free to comment, reopen or create a new ticket according to the

[2020-10-22 12:42] #29816 closed, assigned to engcom-Bravo

[2020-10-22 12:42] ericmorand opened #30603 "Where is the Form system in Magento 2?"
### Summary (*)

I'm expected to work on a Magento 2 theme and specifically on theming forms. But I can't find the blocks and templates that render the forms provided by Magento 2. The only things that I found are templates that implement forms without any formalism - in other words every developer can use its own HTML markup and classes, rendering impossible to provide a theme that would style al

[2020-10-22 13:06] engcom-Delta commented on #30592
Hi @salehawal you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop.
**Manual testing scenario:**
- Configure Flat Rate shipping method
![image](https://user-images.githubusercontent.com/51681379/96875049-75853b80-147f-11eb-8f74-daf0a594124e.png)
- Go to storefront
- Create customer and login
- Add some product to cart
- Place order with Flat Rate shippin

[2020-10-22 13:06] #30592 closed, assigned to engcom-Delta

[2020-10-22 13:26] magento-engcom-team commented on #30589
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38657` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-22 13:26] engcom-Bravo commented on #30166
The issue is reproducible on the latest 2.4-develop

[2020-10-22 13:29] onepack commented on #30599
Thank you for pointing this out.
I wasn't aware of this bolean.
I will close this issue as it is solved with this answer.

[2020-10-22 13:29] #30599 closed, assigned to engcom-Delta

[2020-10-22 13:30] magento-engcom-team commented on #30166
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38658` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-22 13:52] alakhdeveloper commented on #30335
**Summary of the issue**
When the customer place an order through checkout, the Credit Card order is processed through paypal. The order is created successfully as expected in the Magento backend and in paypal. When the paypal hit the IPN url EX:
url: https://www.example.com/paypal/ipn

Magento is throwing a 500 Error

**Information on your environment**
We are using Magento 2.3.5

**Steps to repr

[2020-10-22 14:05] Fuseteam commented on #30589
i am from suriname we never actually abbreviate as $ or sr$ we abbreviate it as SRD, this is also set by default in magento admin console but i don't see anywhere else but in the configuration section

[2020-10-22 14:10] #28562 closed, assigned to nobody

[2020-10-22 15:02] mauragcyrus commented on #30476
Closing this here to open in devdoc
@keharper

[2020-10-22 15:02] #30476 closed, assigned to nobody

[2020-10-22 15:07] keharper commented on #30476
This work is being tracked in https://github.com/magento/devdocs/issues/7989

[2020-10-22 15:20] jorgb90 opened #30604 "Parse error: syntax error, unexpected ')' in InvoiceTotal.php on line 89"
### Preconditions (*)
1. Magento 2.4.1

### Steps to reproduce (*)
1. Running developer mode
2. Run bin/magento setup:di:compile

### Expected result (*)
1. Succesfully finishing recompiling

### Actual result (*)
1. Parse error:  syntax error, unexpected ')' in /var/www/vhosts/xxxxx/vendor/magento/module-sales-graph-ql/Model/Resolver/Invoice/InvoiceTotal.php on line 89

---
Please provide [Severi

[2020-10-22 15:30] herzog31 commented on #30470
As documented in [0], when sending a GraphQL request in staging mode via the `Preview-Version` header, the full-text search via the `search` parameter in the `products` GraphQL query does not work and returns an error. This is because staged product data is not indexed.

Goal of this issue is to enable full-text search for the `products` query, when querying staged product data.

[0] https://devdo

[2020-10-22 15:32] JD-HSP commented on #27490
Any updates on this fix yet?

[2020-10-22 16:20] hostep commented on #30604
This doesn't seem to happen on a clean Magento 2.4.1 project.

Are you sure you haven't accidentally modified that file? (Or maybe your disk space is full and the file is only written halfway to the disk or something like that?)

[2020-10-22 16:26] gabrieldagama commented on #24417
Hi @dbsdsun, thanks for highlighting this issue, I believe the `date` function at moment supports just `\IntlDateFormatter::SHORT` format, referenced herehttps://www.php.net/manual/en/class.intldateformatter.php#intl.intldateformatter-constants .

That is not ideal, but it can be refactored and maybe accept more formats.

[2020-10-22 16:35] sivaschenko commented on #29469
Closing the issue as we could not reproduce it. Please feel free to reopen this issue or create a new one if new preconditions/steps will be discovered helping us to reproduce it.

[2020-10-22 16:35] #29469 closed, assigned to nobody

[2020-10-22 16:41] sdzhepa commented on #30575
Hello @msyhr qsolutions-pl
@ihor-sviziev @lbajsarowicz

Thank you for collaboration!

After multiple attempts on different envs and sked different people to check it on their envs

We are not able to reproduce this issue by the provided steps.

At this point, I suppose some important steps/configuration/etc. information is missed in the description.
As possible advice, I would propose to clean com

[2020-10-22 16:44] pmcnamaracpc commented on #30461
Which pull request was this done in? All these status updates are nice, but don't make it clear which release this is going in or pull request addressed it.

[2020-10-22 16:47] gwharton commented on #11347
Just had a thought today. The payment failed, sitemap generation failed and currency update failed emails are all dispatched from the AREA_ADMINHTML, whereas all other emails are dispatched from the AREA_FRONTEND regardless of how they are triggered. This means if you have modified the stock email templates for these emails and included the standard headers and footers to make them look better, th

[2020-10-22 16:53] gabrieldagama commented on #23371
This issue is too abstract, it would be better to have an issue specific to a country instead of a general issue. Magento provides a way for developers to extend the functionality and add their country's postcodes as well.

Closing this issue since it is probably not achievable.

[2020-10-22 16:53] #23371 closed, assigned to nobody

[2020-10-22 17:00] gabrieldagama commented on #23268
Hi @nishantjariwala, thanks for reporting this issue.

Since such a fix would be backward incompatible and causing a lot of bugs on current extensions, it is not something we would have plans to fix.

[2020-10-22 17:00] #23268 closed, assigned to nobody

[2020-10-22 17:20] nathanjosiah commented on #29964
@toxix @onepack @Morgy93 @gwharton @dvershinin  and anybody else that wants a chance to provide additional details.

 I have a Magento 2.4.1 Open Source instance running with the following properties:

[code]

I have tested this site in every way I can think of and the CSP headers are fine. I recognize this is not a fully true-to-life configuration in respect to the theme and extensions so I am as

[2020-10-22 17:22] nkajic opened #30607 "Somehow csp_whitelist.xml from Magento_Authorizenet ended up in Magento_CatalogUrlRewrite"
### Summary (*)
Magento 2.4-develop

Somehow csp_whitelist.xml from Magento_Authorizenet ended up in Magento_CatalogUrlRewrite

csp_whitelist.xml for Magento_Authorizenet was added to app/code/Magento/Authorizenet/etc/csp_whitelist.xml in commit f4db9a422c331902b41a37f413706ec40168f6e9 but somehow ended up in wrong module in 2.4-develop. It is in https://github.com/magento/magento2/blob/2.4-develo

[2020-10-22 17:35] MichaelThessel commented on #30556
@ihor-sviziev thanks for pointing me in that direction. I did some further testing and the sodium extension works fine for me now. I must have configured something wrong during my initial tests with sodium as it was still falling back to the mcrypt php lib.

I agree with you though that ext-sodium should be a hard requirement for Magento enforced by composer. The performance of the mcrypt fallback

[2020-10-22 17:36] gwharton commented on #29964
I can only reproduce this in production and then it only happens in response to general traffic from the public after maybe 24 hours. CSP won't be going anywhere near my production setup any time soon so I can't help. My problems seem to only start after putting varnish infront of my server. I notice in a lot of the debug sessions that there are some pretty large memory allocations going on, like

[2020-10-22 17:52] nathanjosiah commented on #29964
@gwharton Sure, I understand that some users are experiencing memory issues and are linking CSP to be the cause. However, as I have mentioned above I need to be able to reproduce it which so far I can't come anywhere near close.  All performance metrics look good. The CSP header sizes being mentioned are 70MB, for comparison the largest CSP policy I have been able to see is 1.8_KB_.

[2020-10-22 18:02] vpashovski commented on #30273
Hi @ajijshekh123 ,
Is there any progress with the verification :)

[2020-10-22 18:12] ihor-sviziev commented on #30556
Basically I see here the only two variants to solve this issue:
1. Add ext-sodium to composer.json. As result we'll not be able to install magento without it. Unfortunately this is backward incompatible change and have to be approved.
Unfortunately seems like there is additional check should be done - that some specific algorithm is present, seems like it was missing in older versions of lib sodiu

[2020-10-22 18:22] hostep commented on #30607
Hahaha, you're right! 🤦

It was renamed without any changes in https://github.com/magento/magento2/commit/aec68c609ccc90f1a88e1c9ed55c50fe0ddecaed#diff-95fbf751fab0191251da0f2b611bd868fa0373bdeeb155d40e63c1cbbf95da24 (Authorizenet/etc/csp_whitelist.xml → CatalogUrlRewrite/etc/csp_whitelist.xml)

[2020-10-22 18:36] sdzhepa opened #30608 "test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-10-22 18:42] hostep commented on #30556
If the first option is chosen (which I think i the right move here, Magento shops really need to be forced to switch to argon2id password hashing, sha256 for password hashes is completely outdated, it was so even before magento 2 launched), then it needs to be added to the composer.json file from the particular component which requires it, which in this case would be the [magento framework's compo

[2020-10-22 18:43] gwharton commented on #29964
I understand. Im a dev too. Nothing can be done unless you can 100% reproduce the issue.

I had this in my debug log `Allowed memory size of 1073741824 bytes exhausted (tried to allocate 67108872 bytes) in /home/ubuntu/www/vendor/magento/module-csp/Model/Collector/DynamicCollector.php on line 31`. In someone elses logs `Allowed memory size of 792723456 bytes exhausted (tried to allocate 33554440 b

[2020-10-22 19:10] odubovyk commented on #26119
This issue is going to be closed as **Not a Bug**. Magento was not designed to work as described in the ticket
Actual Magento behavior is that images returned in request as **thumbnail** and **small** types do not mean different dimensions of the same image. it means different image role. The role that given to an image was assigned to a product (role of base, small and thumbnail).

[2020-10-22 19:13] #26119 closed, assigned to tdgroot

[2020-10-22 19:23] denchev commented on #30104
@magento give me 2.4-develop instance

[2020-10-22 19:37] denchev commented on #30104
I can reproduce the issue so @magento I am working on this

[2020-10-22 19:37] denchev commented on #30104
@magento add to contributors team

[2020-10-22 19:38] denchev commented on #30104
@magento I am working on this

[2020-10-22 19:54] kAleksei commented on #30499
No. I can't reproduce this issue on supported OS. So I`ll close it.

[2020-10-22 19:54] #30499 closed, assigned to nobody

[2020-10-22 21:11] heerdt commented on #30607
@magento give me 2.4-develop instance

[2020-10-22 21:32] Fresko112 commented on #23047
Hi Imark,

Did you find a solution. I am stuck at this for days.

Thanks in advance

[2020-10-23 00:58] mstolnicki commented on #10594
I don't have access to my php.ini file, so I updated my .htaccess file with:
php_value session.gc_maxlifetime 9000

[2020-10-23 04:17] pilardo opened #30609 "SQLSTATE[HY000]: General error: 1823 Failed to add the foreign key constraint 'TAX_CALCULATION_PRODUCT_TAX_CLASS_ID_TAX_CLASS_CLASS_ID' to system tables, query was: ALTER TABLE `tax_calculation` ADD CONSTRAINT `TAX_CALCULATION_PRODUCT_TAX_CLASS_ID_TAX_CLASS_CLASS_ID` FOREIGN KEY (`product_tax_class_id`) REFERENCES `tax_class` (`class_id`) ON DELETE CASCADE, ADD CONSTRAINT `TAX_CALCULATION_CUSTOMER_TAX_CLASS_ID_TAX_CLASS_CLASS_ID` FOREIGN KEY (`customer_tax_class_id`) REFERENCES `tax_class` (`class_id`) ON DELETE CASCADE, ADD CONSTRAINT `TAX_CALC_TAX_CALC_RATE_ID_TAX_CALC_RATE_TAX_CALC_RATE_ID` FOREIGN KEY (`tax_calculation_rate_id`) REFERENCES `tax_calculation_rate` (`tax_calculation_rate_id`) ON DELETE CASCADE, ADD CONSTRAINT `TAX_CALC_TAX_CALC_RULE_ID_TAX_CALC_RULE_TAX_CALC_RULE_ID` FOREIGN KEY (`tax_calculation_rule_id`) REFERENCES `tax_calculation_rule` (`tax_calculation_rule_id`) ON DELETE CASCADE"
### Preconditions (*)

1. upgrade Magento  2.2.6 to 2.3

### Steps to reproduce (*)

1. run php bin/magento setup:upgrade

### Expected result (*)

1. setup:upgrade should finish

### Actual result (*)

1.  SQLSTATE[HY000]: General error: 1823 Failed to add the foreign key constraint 'TAX_CALCULATION_PRODUCT_TAX_CLASS_ID_TAX_CLASS_CLASS_ID' to system tables, query was: ALTER TABLE `tax_calculation

[2020-10-23 05:37] aligent-lturner opened #30610 "Bundle product price indexing not calculating tier prices correctly"
### Preconditions (*)

1. Magento version 2.x (appears to have been present in all versions)
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Create a bundle product with a fixed price - e.g. $100
2. Apply a tier price discount for all websites and all customer groups of 10%
3. Run `bin/magento indexer:reindex catalog_product_price`

### Expected result (*)

1. Final price (and min_price, ma

[2020-10-23 05:55] engcom-Delta commented on #30609
Hi @pilardo thank you for your report. Magento downgrade is not supported

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-10-23 05:55] #30609 closed, assigned to engcom-Delta

[2020-10-23 06:05] Morgy93 commented on #29964
Production systems get crazy traffic with (good and bad) bots and stuff, but I'd be pleased to get rid of this issue.

Recently I came across an official patch https://support.magento.com/hc/en-us/articles/360050393371-MDVA-30102-Magento-patch-Redis-cache-getting-full- I'd like to try first. Maybe that helps in some kind of way.

@nathanjosiah

Is there anything I can check upfront? Specific error

[2020-10-23 06:14] engcom-Delta commented on #30604
Hi @jorgb90 thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop and on 2.4.1
**Result:**
`bin/magento setup:di:compile` runs without errors
![image](https://user-images.githubusercontent.com/51681379/96962630-e3794380-150f-11eb-8fdf-65e8537341c4.png)

Could you provide additional details that helps to reproduce issue?

[2020-10-23 06:22] magento-engcom-team commented on #30607
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38677` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-23 06:26] engcom-Delta commented on #30603
Hi @ericmorand thank you for your report
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-10-23 06:26] #30603 closed, assigned to engcom-Delta

[2020-10-23 06:32] Zyles opened #30611 "Deploy stuck on compilation"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. `rm -rf generated/*`
1. `bin/magento setup:di:compile`

### Expected result (*)

Finished compilation.

### Actual result (*)

Stuck compilation.

[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information wil

[2020-10-23 06:36] Zyles commented on #23251
What is the solution? I would like to deploy our Magento 2 installation.

Now we are just sitting here wasting time like always with Magento.

[2020-10-23 06:41] jorgb90 commented on #30604
Mm strange. I didn't modify the file, but there is a .InvoiceTotal.php.swp file created in that dir, but the complete InvoiceTotal.php is also there.

[2020-10-23 06:44] pilardo commented on #30609
@engcom-Delta  Is it not a downgrade. I have upgrade magento 2.26 to 2.3.0

[2020-10-23 06:47] bojjaiah opened #30612 "Unable to move forward getting issue Type Error occurred when creating object: Magento\Framework\Session\Generic\Interceptor, setcookie() expects parameter 3 to be integer, array given"
After clear/setting/configuring so many errors & configurations installed the Magento V2.4.1 successfully, now getting below errors.

**Summary of the issue**
First time in the browser showing website I have ran the instance both **PHP7.3** and **PHP7.4** but getting same error. , If I navigate any other page getting error continuously. The same I have posted the thread in [Magento StackExchange](

[2020-10-23 06:49] ihor-sviziev commented on #30537
Hi @engcom-Delta @trunglv,
If the issue isn't reproducing on 2.4-develop branch - seems like the issue was already solved here or maybe suggested solution isn't correct, right?

[2020-10-23 07:02] engcom-Delta commented on #24635
Hi @fredden I'm not able to reproduce initial issue on clean 2.4-develop.
**Result:**
`bin/magento dev:test:run unit` runs without errors
![image](https://user-images.githubusercontent.com/51681379/96966466-846afd00-1516-11eb-8edc-ef17c4c5d9dd.png)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-

[2020-10-23 07:03] ihor-sviziev commented on #30612
Hi @bojjaiah,
As it was suggested on stack overflow - please check if your php version on web server with `phpversion();`.

[2020-10-23 07:04] amenk commented on #24635
@engcom-Delta did you run it in the official php docker container based on alpine?

[2020-10-23 07:11] ihor-sviziev commented on #30604
Hi @jorgb90,
I see in the code we have trailing comma, that supported by php 7.3+ only (this is the minimum required php version for 2.4.x).

https://github.com/magento/magento2/blob/1353a546cc9aa4c6cc7f7d86763112d23645fcb7/app/code/Magento/SalesGraphQl/Model/Resolver/Invoice/InvoiceTotal.php#L86-L89

Please check your used php version **on the web server** using the `phpversion()` function.

[2020-10-23 07:17] imark73 commented on #23047
Hi Fresko112
I did some digging in my history and found the support ticket on our templatemonster account. Here was the resolution -
That text is outputted by "module-inventory-sales" Magento's core module:
"We don't have as many quantity as you requested, but we'll back order the remaining %1."
As you can see, it's not supposed to insert product's name here.
We've added that line translation to "

[2020-10-23 07:20] hostep commented on #23251
@Zyles: you need to be more specific: what steps do you take and when does it fail? Also: have you read the recommendations mentioned above in various comments?

[2020-10-23 07:25] Zyles commented on #23251
Ya I spend 2 hours trying to get compilation working.

[code]

Also tried deleting the vendor dir and doing composer install with same problem.

Never had issues before, but as always random errors with Magento 2 is common and things breaking for no reason.

Apparently it is impossible to get any verbose feedback from setup:di:compile so who knows what is happening?

[2020-10-23 07:32] jorgb90 commented on #30604
Hi @ihor-sviziev,

This was it. I feel stupid..  Our dev environment is running on version v7.4.11, but the cli version was still at v7.2. I have updated the system PHP and now its working.

[2020-10-23 07:36] mikehenze commented on #20593
Please reopen.
This issue still persist even with m2.3.5-p2 and elasticsearch 7

[2020-10-23 07:45] engcom-Bravo commented on #29099
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-10-23 07:45] #29099 closed, assigned to nobody

[2020-10-23 07:56] hostep commented on #23251
I'm not seeing any error in your output. Is there a specific error?
Are you sure you are running into the issue this ticket is about?

You should get an error like this `Class Magento\Framework\App\ResourceConnection\Proxy does not exist` (Magento 2.3.6) or `Warning: include(vendor/composer/../../generated/code/Magento/Framework/App/ResourceConnection/Proxy.php): failed to open stream: No such fil

[2020-10-23 08:12] ihor-sviziev commented on #30604
@jorgb90 ok, I'm closing this issue.

[2020-10-23 08:12] #30604 closed, assigned to ihor-sviziev, engcom-Delta

[2020-10-23 08:52] Minirock commented on #29211
For this one the issue was indeed in the version.

[2020-10-23 08:52] #29211 closed, assigned to nobody

[2020-10-23 08:54] ericmorand opened #30613 "What are your plan to replace RequireJS that has reached End Of Life"
### Summary (*)

RequireJS has been in End of Life status for months (maybe even years), as confirmed by its status at the OpenJS Foundation or by the maintainer itself: https://github.com/requirejs/requirejs/issues/1816

Its archaic design makes executing script _after_ it unreliable and unpredictable (see https://github.com/requirejs/requirejs/issues/947 but also the thousand of discussions abou

[2020-10-23 09:26] fredden commented on #24635
No, this is not yet resolved.
https://github.com/magento/magento2/blob/a1e5689cc6092e40e1ebb975f4eaae32c4d8d1e5/composer.lock#L5983-L5984

I don't seem to have a 'reopen' button; @engcom-Delta please can you re-open this issue.

[2020-10-23 09:30] test4295 commented on #30382
Is there a pull request OR link to the changed code?

[2020-10-23 09:30] fredden commented on #24635
I also note that `GLOB_BRACE` is used in https://github.com/magento/magento-composer-installer/blob/8b6c32f53b4944a5d6656e86344cd0f9784709a1/src/MagentoHackathon/Composer/Magento/Deploystrategy/DeploystrategyAbstract.php#L337 as required by https://github.com/magento/magento2/blob/a1e5689cc6092e40e1ebb975f4eaae32c4d8d1e5/composer.lock#L3365-L3366 however this is out of scope for this issue.

[2020-10-23 10:06] dot319 opened #30616 "Uppercase letters not allowed for --scope-code argument in the config:set command"
### Preconditions (*)

1. Magento 2.3.2-p2

### Steps to reproduce (*)

1. Create a website with a website code that contains uppercase letters (for example, Our_Website)
2. Try to set a configuration value by using the config:set command, for example:
bin/magento config:set --lock-env web/unsecure/base_url 'https://www.ourwebsite.com/' --scope=website --scope-code=Our_Website

### Expected result

[2020-10-23 10:06] andrewbess commented on #30466
@magento I am working on this

[2020-10-23 10:08] dot319 commented on #30616
The bug is related to console commands so I wont be able to reproduce the error in the Magento instance provided by the bot

[2020-10-23 10:27] Fresko112 commented on #23047
Thanks Imark, This helped me a lot. At least i can translate it the hard way in:
vendor/magento/module-inventory-sales/Model/IsProductSalableCondition/BackOrderNotifyCustomerCondition.php

For some reason the translaton dont work on this module. I even tried to edit the en_US.csv and my nl_NL.csv in:
public_html/vendor/magento/module-inventory-sales/i18n without any succes.

I also tried to transl

[2020-10-23 10:33] chiranjeevi-cj commented on #26156
@magento give me 2.4-develop instance

[2020-10-23 10:41] imark73 commented on #23047
Hi Fresko112

Glad to help, I've lost days too at times, tearing my hair out!
I find that to get some language changes to show you have to do a very thorough clear and republish, even when Magento is in development mode and should regenerate more automatically. Here is the full belt and braces ssh routine I use:

rm -R pub/static/* var/cache/* var/page_cache* generated/metadata/* generated/code/*

[2020-10-23 10:45] ivan-koliadynskyy commented on #30424
@magento I'm working on it

[2020-10-23 10:54] KonstantinZhidkovskiy commented on #26824
@magento I’m working on it

[2020-10-23 11:08] KonstantinZhidkovskiy commented on #26824
@magento I am working on this

[2020-10-23 11:09] Neo-Creo opened #30618 "ca domains not working with 'validate-clean-url'"
### Preconditions (*)

1. Magento Commerce 2.3.4

### Steps to reproduce (*)
1. Validate url using 'validate-clean-url' in an input field
2. Validate value http://www.example.ca in the field

### Expected result (*)
1. The url should be validated successfully

### Actual result (*)
1. We get error "Please enter a valid URL. For example http://www.example.com or www.example.com."

---
Please provid

[2020-10-23 11:17] eduard13 commented on #3650
@magento I'm working on it

[2020-10-23 11:18] eduard13 commented on #3650
@magento I’m working on this

[2020-10-23 11:18] eduard13 commented on #3650
@magento I’m working on this

[2020-10-23 11:18] eduard13 commented on #3650
@magento I am working on this

[2020-10-23 11:30] gabrieldagama commented on #30582
@magento I’m working on it

[2020-10-23 11:30] gabrieldagama commented on #30582
magento I'm working on it

[2020-10-23 11:32] gabrieldagama commented on #30582
@magento I'm working on it

[2020-10-23 11:34] gabrieldagama commented on #30582
@magento I'm working on it

[2020-10-23 11:44] Neo-Creo commented on #30618
@magento I am working on it.

[2020-10-23 11:47] dorje7 commented on #23172
#mageсonfcd2020

[2020-10-23 11:53] gabrieldagama commented on #30589
@magento I'm working on this

[2020-10-23 12:02] dorje7 commented on #23172
#mageсonfcd2020

[2020-10-23 12:22] engcom-Alfa commented on #27438
Hi @Pictick

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.
Looks like, it was already fixed by PR #29137. ( see [QA Report](https://github.com/magento/magento2/pull/29137#issuecomment-659335010) ).

**Actual Result:** :heavy_check_mark: virtual product will open and show advanced pricing for example "Buy 2

[2020-10-23 12:22] #27438 closed, assigned to engcom-Alfa

[2020-10-23 12:29] kassner commented on #28106
Which pull request fixed this issue?

[2020-10-23 12:29] Nazar65 commented on #30618
@magento give me 2.4-develop instance

[2020-10-23 12:42] eduard13 commented on #30468
@magento I am working on this

[2020-10-23 12:44] sasha19957099 commented on #29990
I couldn't reproduce it. Tried to purchase and query then by a company admin and a company user customer with proper permissions, results were correct.
![image](https://user-images.githubusercontent.com/28062227/97004539-e131dc00-1545-11eb-97a5-082c9c3aa42e.png)

[2020-10-23 12:59] Fresko112 commented on #23047
Hi Imark,

I getting closer. I did the translation in the Theme
app/design/frontend/Infortis/ultimo/i18n/nl_NL.csv

But what happens now is that it only translate the mini cart? Geting crazy by the hour??? See attached screenshot.

Should that be another module maybe?

Thanks again .

![cart2](https://user-images.githubusercontent.com/72803836/97006433-2a7f2d00-1540-11eb-90df-d396d37bdbe5.jpg)

[2020-10-23 12:59] konarshankar07 commented on #30474
@magento I'm working on this

[2020-10-23 13:11] engcom-Alfa commented on #27186
Hi @allamsettiramesh

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop. Everything works as expected.

**Manual testing scenario:**

1. Create a non Active Cart Price Rule with Coupon Code;
![2020-10-23_15-48](https://user-images.githubusercontent.com/51679138/97006882-2b688c80-1549-11eb-99e1-8425fd3e573b.png)

2. Click on the **Sched

[2020-10-23 13:11] #27186 closed, assigned to engcom-Alfa

[2020-10-23 13:11] dannydamsky commented on #24517
Hi @gabrieldagama, the steps to reproduce describe how to create the category in order for the `getUrl` method to not work properly. I don't know if there's a way to reproduce this issue manually.

[2020-10-23 13:12] imark73 commented on #23047
Hi Fresko112

I just added a translation to the csv file, no other modifications.  To be honest I thought the original text was way too long for the amount of space there was for it in our theme, so I simplified the translation to just say - "Note: 1 pc(s) on backorder."
Here's the line from my Swedish langage csv file -

"We don't have as many quantity as you requested, but we'll back order the r

[2020-10-23 13:16] miteshdhaduk commented on #28509
A perfect solution for now...!!!

[2020-10-23 13:26] lbajsarowicz commented on #30613
@krzksz ideas? :-)

[2020-10-23 13:27] voleye commented on #29740
@magento I am working on this

[2020-10-23 13:28] voleye commented on #29740
@magento add to contributors team

[2020-10-23 13:28] voleye commented on #29740
@magento I am working on this

[2020-10-23 13:30] ihor-sviziev commented on #30583
Hi @tope316,
The listed above cookies are used by JS, so they can't be https only.
I'm closing this issue as not relevant

[2020-10-23 13:31] HIMANSHU-281 opened #30620 "Not able to install magento 2.4.1 in my Mac Please help with some documents"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [x] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2020-10-23 13:31] amitsamsukha commented on #30594
@magento I am working on this

[2020-10-23 13:32] amitsamsukha commented on #30594
@magento add to contributors team

[2020-10-23 13:33] amitsamsukha commented on #30594
@magento I am working on this

[2020-10-23 13:36] konarshankar07 commented on #29089
@magento I'm working on this

[2020-10-23 13:57] magento-engcom-team commented on #26172
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38686` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-23 14:01] victortodoran commented on #30613
IMO there are not going to be any major changes to Luma.
These are the several factors I'm basing my statement:
1. All the attention is concentrated on PWA and Venia.
2. All partner extensions depend on the current implementation of Luma.
3. There are several instances of Magento2 many of which just invested a ton of money to migrate to M2 from M1.
Telling them they need to change all their fronte

[2020-10-23 14:03] DavyDeCoster opened #30621 "Save of Cart Price Rules redirect to main page of dashboard when too many customer groups are selected"
### Preconditions (*)

1. Magento 2.3.4-p2
2. 1000 customer groups

### Steps to reproduce (*)

1. Create a cart price rule with all the customer groups selected

### Expected result (*)

1. The cart price rule should be saved

### Actual result (*)

1. The page redirect to the main page of the dashboard.
2. The cart price rule isn't saved

---
Please provide [Severity](https://devdocs.magento.com

[2020-10-23 14:05] pawel-siejba opened #30622 "Process Manager doesn't handle exceptions properly in forked processes"
The following bug can have fatal consequences if somebody employed any form of exception handling around indexers in their installation, as it could lead to very hard to discover bugs, that appear only on environments with several threads available, and MAGE_INDEXER_THREADS_COUNT env variable set.
### Preconditions (*)

1. Magento 2.3.0 CE/EE or higher
2. Magento 2.4-develop
3. Several stores are

[2020-10-23 14:05] pawel-siejba commented on #30622
@magento I am working on this

[2020-10-23 14:05] hostep commented on #30613
@ericmorand: you might be interested in Hyvä: https://youtu.be/kGRkAQNzL1c?t=21752 (but it's not available yet)

[2020-10-23 14:06] pawel-siejba commented on #30622
@magento add to contributors team

[2020-10-23 14:06] tope316 commented on #30583
Hi @ihor-sviziev, thanks for your reply. I reported this since our PCI Compliance checking detected these issues. So does this mean that the PCI Compliance checking report is not accurate?

[2020-10-23 14:15] magento-engcom-team opened #30624 "[GraphQL] Add parent_id to filters for subcategory pagination"
Our use case is basically to paginate through all subcategories of a common parent category. For example to display all top level categories in a shop (men, women, etc.), we currently get the root category by ID and via the children attribute, retrieve all first level children. Pagination isn’t possible here. Depending on the customer, first level children categories might be hundreds or even more

[2020-10-23 14:15] magento-engcom-team commented on #30624
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37108

[2020-10-23 14:18] DavyDeCoster commented on #30621
Fixed it myself. Input variables of php.ini file was set to 1000. Increasing it fixed the problem.

[2020-10-23 14:18] #30621 closed, assigned to nobody

[2020-10-23 14:21] pawel-siejba commented on #30622
@magento add to contributors team

[2020-10-23 14:21] pawel-siejba commented on #30622
@magento I am working on this

[2020-10-23 14:29] rogyar opened #30625 "GraphQl public catalog endpoints expose some data that should not be visible"
### Preconditions (*)
1. Magento installation with `CatalogGraphQl` module enabled

### Steps to reproduce (*)
Take a look at the [ProductInterface](https://github.com/magento/magento2/blob/8c4de4d793590a4ca5282e4afb986205c7b773b4/app/code/Magento/CatalogGraphQl/etc/schema.graphqls#L85)

It allows retrieving some data for the non-authorized users that we usually expose neither on the standard stor

[2020-10-23 14:29] sskharate commented on #25862
Client reported this same issue.
They are on 2.3.5-p1 with Magento Cloud.

I have checked this commit https://github.com/magento/magento2/commit/43e41fac06019d12e955d521cd9034b5954cb0d9 looks like the code is already in 2.3.5 but the issue is not fixed.

Do we have any fix for this? Thanks.

[2020-10-23 14:35] sidolov commented on #30556
Hey guys! It's a good topic for discussion, thank you for your input! I'll add it to Magento's internal dev team discussion next week and let you know the results!

[2020-10-23 14:37] ericmorand commented on #30613
@victortodoran , Luma is not at cause. RequireJS is the only JavaScript loader that is supported by Magento framework and core modules. PWA won't solve the issue, except if they also replace adminhtml area by a PWA.

But the issue remains even with themes that are not based on Luma. Luma is not the one that is making use of RequireJS. Every module out there depends on RequireJS for its frontend be

[2020-10-23 14:50] misha-kotov commented on #30625
Agree with these as well:
* created_at
* updated_at
* websites
* attribute_set_id

But if we remove them, will need to make sure sorting in categories still works (ex: if the category products are sorted by `updated_at` or `created_at`

[2020-10-23 14:56] tope316 commented on #30583
Attached is the detailed report for reference.
[ASV_Report_2020-10-11 - PCI Compliance scan 10-12-20.pdf](https://github.com/magento/magento2/files/5430208/ASV_Report_2020-10-11.-.PCI.Compliance.scan.10-12-20.pdf)

[2020-10-23 15:05] cpartica commented on #30625
I can see a case where you have a "promotion" of a price and you want to say until when it's available: "1 day left"
It is true that `created_at`, `updated_at` shouldn't be there
Also `attribute_set_id` if we don't have a use case for it we can remove it.

The problem is that removing fields is backward incompatible and should be approved.
I can create an architectural proposal and try to get thes

[2020-10-23 15:10] sdzhepa commented on #24426
Hello @

Thank you for your report and collaboration!

Unfortunately, we are closing this Issue report because we are not able to process contribution to the `2.3.x` release line through this public repository. See details [Code Contributions: Accepted pull requests and ported code](https://devdocs.magento.com/contributor-guide/contributing.html#rules)

And starting from `2.4.0` release, code rela

[2020-10-23 15:14] rogyar commented on #30625
@cpartica. Thanks for sharing your thoughts, it makes sense.
We may add the possibility to see the special_to_date. But my point is GraphQL will be the only way to get this information without authorization. So, for existing stores, it means that if the merchant wants to keep this information publicly hidden (current behavior with the standard storefront) he needs to customize the system behavior.

[2020-10-23 15:24] Nazar65 commented on #30596
@magento I am working on this

[2020-10-23 15:37] sdzhepa commented on #30513
The issue was closed by mistake.
at this moment Magento team has fixed it, internal PR is ready(CR and QA passed) but not merged into the main code-base.

Sorry for inconvenience

[2020-10-23 15:38] magento-engcom-team commented on #30513
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38509` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-23 15:49] Fresko112 commented on #23047
Hi Imark,

Spending my all day trying and testing but still same result. I give up. Its strange behaviour probably no one can declare.

I edited the
vendor/magento/module-inventory-sales/Model/IsProductSalableCondition/BackOrderNotifyCustomerCondition.php

So i need to be aware for updates from Magento but see no other solution.

Thanks for your help.

[2020-10-23 15:52] magento-engcom-team commented on #28106
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34156` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-23 15:59] sdzhepa commented on #28106
@kassner

The issue was closed by mistake.
at this moment Magento team has fixed it, internal PR is ready(CR and QA passed) but not merged into the main code-base.
As soon as it will be merged related commits can be found using search based on internal ticket key `MC-34156`
Example: https://github.com/magento/magento2/search?q=MC-34156&type=commits

Sorry for inconvenience

[2020-10-23 16:07] rogyar commented on #29631
Supposed to be fixed within the scope of https://github.com/magento/magento2/pull/30623

[2020-10-23 17:25] mozok commented on #24730
@magento I am working on this

[2020-10-23 17:36] magento-engcom-team commented on #30461
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38413` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-23 17:38] sdzhepa commented on #30461
@pmcnamaracpc @nthurston

The issue was closed by mistake.
at this moment Magento team has fixed it, internal PR is ready(CR and QA passed) but not merged into the main code-base.
As soon as it will be merged related commits can be found using a search based on internal ticket key `MC-38413`
Example: https://github.com/magento/magento2/search?q=MC-38413&type=commits

Sorry for inconvenience

[2020-10-23 17:41] magento-engcom-team commented on #30261
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36768` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-23 17:41] pmcnamaracpc commented on #30461
Thanks for the clarification

[2020-10-23 17:43] sdzhepa commented on #30261
The issue was closed by mistake.
at this moment Magento team has fixed it, internal PR is ready(CR and QA passed) but not merged into the main code-base.
As soon as it will be merged related commits can be found using search based on internal ticket key MC-36768
Example: https://github.com/magento/magento2/search?q=MC-36768&type=commits

Sorry for inconvenience

[2020-10-23 17:45] magento-engcom-team commented on #30263
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36685` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-23 17:51] sdzhepa commented on #30263
The issue was closed by mistake.
at this moment Magento team has fixed it, internal PR is ready(CR and QA passed) but not merged into the main code-base.
As soon as it will be merged related commits can be found using search based on internal ticket key MC-36685
Example: https://github.com/magento/magento2/search?q=MC-36685&type=commits

Sorry for inconvenience

[2020-10-23 18:00] sdzhepa commented on #30349
Issue was closed by mistake

[2020-10-23 18:00] magento-engcom-team commented on #30349
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35355` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-23 18:14] sdzhepa commented on #30047
@hostep @crabbynguyen @stanleyyuenyiu

The issue was closed by mistake.
At this moment, due to an internal jira ticket, this issue has been fixed and delivered with internal PR.
Related commits can be found using search based on internal ticket key `MC-37665`

https://github.com/magento/magento2/search?q=MC-37665&type=commits

[2020-10-23 18:16] sdzhepa commented on #17186
@magento2dev @hostep

The related/duplicate issue has been fixed and delivered https://github.com/magento/magento2/issues/30047#issuecomment-715498108

It seems we can close this issue as already fixed, but i would like to ask you for confirmation

[2020-10-23 18:27] sdzhepa commented on #30197
The issue was fixed and delivered into the inventory repo
here is the public available link https://github.com/magento/inventory/commit/99c2f48f0c3313edb13feecc1704aa7024e3bcdc

[2020-10-23 18:50] sdzhepa commented on #28291
Hello @amenk

Sorry for any inconvenience.
The issue was closed by bot too early by mistake...

As I can see this issue was fixed by Magento team and delivered with internal PR
Related commits can be found using search based on internal ticket key `MC-34444`
https://github.com/magento/magento2/search?q=MC-34444&type=commits

[2020-10-23 18:56] sdzhepa commented on #26308
Fixed and delivered in https://github.com/magento/magento2/search?q=MC-30631&type=commits

[2020-10-23 19:18] Grumag commented on #28614
Did anyone notice that 2.3.6 security patch has the following:

CAPTCHA protection has been added to the following product areas:

Place Order storefront page and REST and GraphQL endpoints
Payment-related REST and GraphQL endpoints.
CAPTCHA protection for these additional pages is disabled by default. It can be enabled on the Admin in the same way that other pages covered by CAPTCHA are. This pro

[2020-10-23 19:30] magenx commented on #28614
yes, 2.3.6 it was released 8 days ago,
im playing with kinda limiter + firewall setup
needs some finetuning and probably add some `map` and `set` variables to test requests
also combining with proxypass to catch status 400, etc

[code]

[2020-10-23 19:59] sdzhepa commented on #29547
Fixed and delivered in https://github.com/magento/magento2/search?q=MC-36830&type=commits

[2020-10-23 20:50] sdzhepa commented on #30018
The issue has been fixed by Magento team and delivered with internal PR in the scope of `MC-37666`
Related commits https://github.com/magento/magento2/search?q=MC-37666&type=commits

[2020-10-23 20:52] sdzhepa commented on #22856
The issue has been fixed by Magento team and delivered with internal PR
Related commits https://github.com/magento/magento2/search?q=MC-35065&type=commits

[2020-10-23 21:01] lost-in-trance commented on #29964
I'm having the same issue in production. I disabled my CSP whitelist and the issue persists, but maybe less frequently. Like @Morgy93  everything worked fine prior to Magento 2.4

[2020-10-23 21:08] andrewbess commented on #30469
@magento I am working on this

[2020-10-23 21:24] jcellon commented on #29534
Make sure your --elasticsearch-host=<domain> and --elasticsearch-port=<port> query, matches your elasticsearch configurations <domain> and <port>. In my case: --elasticsearch-host=localhost --elasticsearch-port=9200 which you can verify by going to http://localhost:9200/
It should work! I hope it helps.

[2020-10-23 21:33] onepack commented on #29964
@Morgy93 Here the same, all was fine before 2.4. A decent shop that had been very busy in the spring and summer season with 0 downtime.
The shop was having less customers as autumn started. The shop was then upgraded from 2.3.5-p1 to 2.4 and within some days we started noticing this behavior.
So we had far less people but we received OOM for the ones that stayed visiting.

Setup: Apache, Redis, El

[2020-10-23 22:20] Flipmediaco commented on #28614
Maybe don't get too excited...

M 2.3.6 Known Issues: https://devdocs.magento.com/guides/v2.3/release-notes/open-source-2-3-6.html#known-issues

Issue: The new CAPTCHA feature for checkout does not work as expected on the Place Order page when using third-party payment providers. Merchants running Magento 2.3.6 or 2.4.1 who have enabled CAPTCHA protection on the Place Order storefront page will se

[2020-10-23 23:38] Zifius commented on #30467
@magento I am working on this

[2020-10-23 23:41] #28550 closed, assigned to pmarjan

[2020-10-23 23:42] #29251 closed, assigned to munkhulzii

[2020-10-24 00:46] andrewbess commented on #30474
@magento I'm working on this

[2020-10-24 01:35] mrtuvn commented on #30620
No one can help you if you post the issue like this. Missing details, What current process you have and what exactly issue/error occur ?
I high recommended you check doc
https://devdocs.magento.com/guides/v2.4/install-gde/bk-install-guide.html
And for configuration setup
See user guide https://docs.magento.com/user-guide/

[2020-10-24 01:52] mrtuvn commented on #30613
From backend i don't think will have update soon. Store owner will focus on functionality instead look and feel
From frontend the are plenty way you can build storefront theme from blank but need a lot effort for maitain and make your site fast or another option throw away unneccessary parts like Hyva theme did (No RequireJs KnockoutJS No Less styles use native css by tailwind) extend from luma
Or

[2020-10-24 04:45] Amit-Hariyani commented on #30594
@magento I am working on this

[2020-10-24 05:40] hubertus2017 opened #30635 "2.4.1 braintree: Allow to Edit Shipping Address Entered During Checkout on PayPal Side setting missing"
### Summary of the issue
Admin Setting in braintree module no more available in 2.4.x :
"Allow to Edit Shipping Address Entered During Checkout on PayPal Side"

### Preconditions
Magento 2.4.1 clean install

### Steps to reproduce
Go to Stores / configuration / sales / payment options / braintree / configure / PayPal through braintree /

### Expected result
Existing Setting for:
Allow to Edit Ship

[2020-10-24 08:37] denchev commented on #28135
@scottbolasevich I was not able to reproduce the problem on the following setup:

- Magento 2.4-develop
- Elasticsearch 7.9
- Added products that have word "max" and "count" in the name
- Reindex

When I search for any of the words "max" or "count" I get a proper autocomplete.

[2020-10-24 09:51] hostep commented on #30607
PR created: https://github.com/magento/magento2/pull/30640, and I found another incorrect `csp_whitelist.xml` file in the [LoginAsCustomerAdminUi module](https://github.com/magento/magento2/blob/2.4.1/app/code/Magento/LoginAsCustomerAdminUi/etc/csp_whitelist.xml).

Thanks for the report @nkajic!

[2020-10-24 09:56] bojjaiah commented on #30612
Thank you @ihor-sviziev @magento-team Yes, issue with PHP version issue. Now working fine. If any I will get back. The issue has been resolved. Thank you.

[2020-10-24 09:56] #30612 closed, assigned to ihor-sviziev

[2020-10-24 10:06] nkajic commented on #30607
Hi @hostep Thanks to you too. Just make sure that entries from LoginAsCustomerAdminUi module are not needed elsewhere. I found www.paypalobjects.com and t.paypal.com are mentioned in PayPal module so it is ok. But did't find js.braintreegateway.com mentioned anywhere (not even on marketplace module where it was separated from M2 core)

[2020-10-24 10:35] magento-engcom-team commented on #30388
Hi @lng50k. Thank you for your report.
The issue has been fixed in magento/magento2#30402 by @sunilit42 in 2.4-develop branch
Related commit(s):
 - [af2d29a16e8b7bc30a872d9e20914bdae5b24111](https://github.com/magento/magento2/commit/af2d29a16e8b7bc30a872d9e20914bdae5b24111)
 - [e08499bd5083956ac807c4bd93354714bc9005f7](https://github.com/magento/magento2/commit/e08499bd5083956ac807c4bd93354714bc9

[2020-10-24 10:35] #30388 closed, assigned to sunilit42

[2020-10-24 10:35] magento-engcom-team commented on #30566
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30502 by @jonashrem in 2.4-develop branch
Related commit(s):
 - [6f8021aef1a1cebc2c9ab5d0799dfc13a9638940](https://github.com/magento/magento2/commit/6f8021aef1a1cebc2c9ab5d0799dfc13a9638940)
 - [2bc78ad309c0f5b22d65dbfe260abfb739ca3e7b](https://github.com/magento/magento2/commit/2bc78ad309c0f5b22d65dbfe

[2020-10-24 10:35] #30566 closed, assigned to jonashrem

[2020-10-24 10:35] magento-engcom-team commented on #29915
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29911 by @JeroenVanLeusden in 2.4-develop branch
Related commit(s):
 - [78dd01ad38fdd662f954c933c9b8ea77d63e1a10](https://github.com/magento/magento2/commit/78dd01ad38fdd662f954c933c9b8ea77d63e1a10)
 - [35bbc823a95b9f8339d794b0b8f64f82fcbec25b](https://github.com/magento/magento2/commit/35bbc823a95b9f833

[2020-10-24 10:35] #29915 closed, assigned to Jeroenll

[2020-10-24 10:35] magento-engcom-team commented on #30510
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30493 by @vveb-developer in 2.4-develop branch
Related commit(s):
 - [d10f1c881daed60d3d7bfae6cadf9fda7d54adb2](https://github.com/magento/magento2/commit/d10f1c881daed60d3d7bfae6cadf9fda7d54adb2)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-24 10:35] #30510 closed, assigned to vveb-developer

[2020-10-24 10:35] magento-engcom-team commented on #30542
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30453 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [40134a616f101df6e98283259810de813d4f66e7](https://github.com/magento/magento2/commit/40134a616f101df6e98283259810de813d4f66e7)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-24 10:35] #30542 closed, assigned to mrtuvn

[2020-10-24 10:35] magento-engcom-team commented on #29615
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#26967 by @bartoszkubicki in 2.4-develop branch
Related commit(s):
 - [d60cbb9ed28d4b307cd2b82721e0f19e501134b4](https://github.com/magento/magento2/commit/d60cbb9ed28d4b307cd2b82721e0f19e501134b4)
 - [5e7d9f64168ecc50e9e9e4968ec1b8f3598a2cde](https://github.com/magento/magento2/commit/5e7d9f64168ecc50e9e

[2020-10-24 10:35] #29615 closed, assigned to bartoszkubicki

[2020-10-24 10:35] magento-engcom-team commented on #29656
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28917 by @johan-lindahl in 2.4-develop branch
Related commit(s):
 - [0ec2c916c5c8cb6464b3ddd5f3b20b4e27e1f331](https://github.com/magento/magento2/commit/0ec2c916c5c8cb6464b3ddd5f3b20b4e27e1f331)
 - [f35a8b6b1d746aec645e0749666cd421ed57273d](https://github.com/magento/magento2/commit/f35a8b6b1d746aec645e

[2020-10-24 10:35] #29656 closed, assigned to johan-lindahl

[2020-10-24 10:35] magento-engcom-team commented on #29297
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#29196 by @hostep in 2.4-develop branch
Related commit(s):
 - [f0c645307e031f9c6b8beb31f18c801dc62c02e3](https://github.com/magento/magento2/commit/f0c645307e031f9c6b8beb31f18c801dc62c02e3)
 - [07d4ac67ce54e3b4be771f526975819d1d907d8b](https://github.com/magento/magento2/commit/07d4ac67ce54e3b4be771f526975819d1d907d

[2020-10-24 10:35] #29297 closed, assigned to nobody

[2020-10-24 10:35] magento-engcom-team commented on #29478
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29196 by @hostep in 2.4-develop branch
Related commit(s):
 - [f0c645307e031f9c6b8beb31f18c801dc62c02e3](https://github.com/magento/magento2/commit/f0c645307e031f9c6b8beb31f18c801dc62c02e3)
 - [07d4ac67ce54e3b4be771f526975819d1d907d8b](https://github.com/magento/magento2/commit/07d4ac67ce54e3b4be771f52697

[2020-10-24 10:35] #29478 closed, assigned to hostep

[2020-10-24 13:45] magento-engcom-team commented on #30550
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30538 by @sanganinamrata in 2.4-develop branch
Related commit(s):
 - [937295074db740e43fe83c3622300af176a4a6ba](https://github.com/magento/magento2/commit/937295074db740e43fe83c3622300af176a4a6ba)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-24 13:45] #30550 closed, assigned to sanganinamrata

[2020-10-24 13:45] magento-engcom-team commented on #30545
Hi @iaroslavglodov. Thank you for your report.
The issue has been fixed in magento/magento2#30579 by @ejaz-alam in 2.4-develop branch
Related commit(s):
 - [6970b19c234d752d2f4137580c877b37d96f77d5](https://github.com/magento/magento2/commit/6970b19c234d752d2f4137580c877b37d96f77d5)
 - [fd4a5a7cb63e2c712e03de61b820f92a47a33a2e](https://github.com/magento/magento2/commit/fd4a5a7cb63e2c712e03de61b82

[2020-10-24 13:45] #30545 closed, assigned to ejaz-alam

[2020-10-24 13:45] magento-engcom-team commented on #6868
Hi @LordHansolo. Thank you for your report.
The issue has been fixed in magento/magento2#30570 by @hostep in 2.4-develop branch
Related commit(s):
 - [e3789f0906f45b565fdb8d13d28c305917cca1bd](https://github.com/magento/magento2/commit/e3789f0906f45b565fdb8d13d28c305917cca1bd)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-24 13:45] #6868 closed, assigned to nobody

[2020-10-24 13:45] magento-engcom-team commented on #7252
Hi @gabs77. Thank you for your report.
The issue has been fixed in magento/magento2#30570 by @hostep in 2.4-develop branch
Related commit(s):
 - [e3789f0906f45b565fdb8d13d28c305917cca1bd](https://github.com/magento/magento2/commit/e3789f0906f45b565fdb8d13d28c305917cca1bd)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-24 13:45] magento-engcom-team commented on #13316
Hi @Selven99. Thank you for your report.
The issue has been fixed in magento/magento2#30570 by @hostep in 2.4-develop branch
Related commit(s):
 - [e3789f0906f45b565fdb8d13d28c305917cca1bd](https://github.com/magento/magento2/commit/e3789f0906f45b565fdb8d13d28c305917cca1bd)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-24 13:45] #13316 closed, assigned to nobody

[2020-10-24 13:46] magento-engcom-team commented on #30552
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30530 by @mage2pratik in 2.4-develop branch
Related commit(s):
 - [f4d2ff81c74a62007cf6430b8371d06a54a0caa3](https://github.com/magento/magento2/commit/f4d2ff81c74a62007cf6430b8371d06a54a0caa3)
 - [e052649509806ef388f45fcc0480a1815433ccde](https://github.com/magento/magento2/commit/e052649509806ef388f45f

[2020-10-24 13:46] #30552 closed, assigned to mage2pratik

[2020-10-24 13:46] magento-engcom-team commented on #30561
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30317 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [b1de332f0e5823379e2f049a38c10f4f38b412a8](https://github.com/magento/magento2/commit/b1de332f0e5823379e2f049a38c10f4f38b412a8)
 - [9418e360b6c18a72fb50d9e5686bcd29adb576cc](https://github.com/magento/magento2/commit/9418e360b6c18a72fb50d9

[2020-10-24 13:46] #30561 closed, assigned to kate-kyzyma

[2020-10-24 13:46] magento-engcom-team commented on #30563
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30521 by @kandy in 2.4-develop branch
Related commit(s):
 - [d0249eecfd93e9d5725c77b31c76f31c3f08c6c9](https://github.com/magento/magento2/commit/d0249eecfd93e9d5725c77b31c76f31c3f08c6c9)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-24 13:46] #30563 closed, assigned to kandy

[2020-10-24 13:46] magento-engcom-team commented on #30314
Hi @naitsirch. Thank you for your report.
The issue has been fixed in magento/magento2#30322 by @naitsirch in 2.4-develop branch
Related commit(s):
 - [c0a9c422053ab85c4f3f77bb337196764c4ed149](https://github.com/magento/magento2/commit/c0a9c422053ab85c4f3f77bb337196764c4ed149)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-24 13:46] #30314 closed, assigned to stollr

[2020-10-24 13:46] magento-engcom-team commented on #30601
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30198 by @ilnytskyi in 2.4-develop branch
Related commit(s):
 - [eac6ba25636b525d909f5af43648fb101fab3d13](https://github.com/magento/magento2/commit/eac6ba25636b525d909f5af43648fb101fab3d13)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-24 13:46] #30601 closed, assigned to nobody

[2020-10-24 18:26] Asifjalil99 commented on #24536
**Solved by my self:**
go to **vendor\magento\framework\File\Uploader.php** on line 228, inside try block add

**if ((strstr($_SERVER['HTTP_USER_AGENT'], 'iPhone') || strstr($_SERVER['HTTP_USER_AGENT'],'iPad')) && exif_imagetype($this->_file['tmp_name']) == IMAGETYPE_JPEG) {
            $source = imagecreatefromjpeg($this->_file['tmp_name']);
            $rotate = imagerotate($source, 270, 0);

[2020-10-24 19:29] chichitsai0517 opened #30645 "Customer Edit Issue when there is a newsletter queue associated with it."
### Preconditions (*)

Installed a fresh copy of Magento 2.3.5-P2 with no sample data. Upgrade using composer to 2.4 (where we see the issue) and then upgrade to 2.4.1 (where issue is still present).

1. I tried on 2.4.0 and 2.4.1 and they both have the same issue.
1. Reproducible on 2.4-develop

### Steps to reproduce (*)

1. Add a new customer which is also subscribed to newsletter.
1. Create a

[2020-10-24 22:20] nkajic commented on #30507
Should it be included as .gitignore or .gitignore.sample that is the question. If we include it without .sample suffix it will be overwritten after each composer install. 🤔

[2020-10-25 03:27] tuyennn commented on #27174
@sdzhepa Here the ref issue https://github.com/amzn/amazon-payments-magento-2-plugin/issues/610
I'm freaking confusing while Magento injected multiple bloat wares and made our clients sites unstable at all, times to times after upgrading.

[2020-10-25 05:02] vinaysikarwar commented on #7159
Any solution yet on this?

[2020-10-25 19:08] klein0r commented on #29721
The reason is, that `Magento_Theme/layout/default.xml` provides a default of 170 (and the block doesn't read the database config if the value is already present in the data storage). So I've created a workaround by using my own themes default.xml to override that value with my correct value.

[code]

[2020-10-25 20:23] scottsb commented on #23251
@hostep When I first ran into this issue, it was not on a local environment: it was via our house-built deploy scripts that we use for staging and production deploys. As referenced in the issue, it also came up for M2 Deployer Plus, a reasonably popular open source set of deploy scripts. So while it's true that you shouldn't use an optimized autoloader locally, that's also somewhat non sequitur.

[2020-10-26 05:02] konarshankar07 commented on #29721
Hello @klein0r ..
True.. But if we changed from the xml layout then what's the point of having the theme configuration in the backend? The preference would be if the value from the theme configuration is empty then it should take the value from the layout otherwise it should be taken from the theme configuration.

[2020-10-26 05:24] bernieu2 opened #30649 "Cannot Import Products when Enable Old Media Gallery is set to No"
### Preconditions (*)

1. Magento 2.4.1 CE
2. PHP 7.4

### Steps to reproduce (*)

1. Set Enable Old Media Gallery to "NO" in STORES > CONFIGURATION > SYSTEM > ADVANCED
2. Go to System > Import
3. Import valid CSV of products (no images defined)

### Expected result (*)

1. Products to be validated and imported successfully

### Actual result (*)

1. Validation fails - exception "The file cannot b

[2020-10-26 06:08] Dhara-Shah-Doshi commented on #11284
First of all, You need to run the below command after changes items/products:
1  **php bin/magento indexer:reindex**

If still nothing is products are missing or not showing on front-end, need to clear/flush cache:
php bin/magento cache:clean
php bin/magento cache:flush

[2020-10-26 06:16] mohanelamurugan commented on #30645
@magento give me 2.4-develop instance

[2020-10-26 06:39] mohanelamurugan commented on #30645
Unable to reproduce this issue, Works fine on both 2.4 and 2.4.1

## Steps followed:

- Create a new customer with newsletter subscription.
- Create a newsletter and queue it.
- Edit the customer created.

[2020-10-26 07:00] james-noon commented on #30649
Just wish to state that I originally had this error and I tried everything to get the file to upload. Nothing worked (as posted here: https://community.magento.com/t5/Magento-2-x-Technical-Issues/M2-4-Product-CSV-Import-Validation-Results-The-file-cannot-be/m-p/460937#M16015 ).

@bernieu2 found the fix which is posted above. Indeed it **works as stated**, with the **Old Media Gallery -> ON the imp

[2020-10-26 07:53] imark73 commented on #23047
Hi Fresko112

Instead of modifying the files in the vendor folder, you should copy them to your theme first and then modify them.  The copies in your theme then override the vendor versions, and updates can therefore be installed to the vendor folder without breaking your installation.
See for example this discussion - https://stackoverflow.com/questions/42220806/magento2-how-can-override-vendor-m

[2020-10-26 08:53] klein0r commented on #29721
@konarshankar07 I've said that this is a workaround for the issue until it is fixed. Or what is your recommendation for the current situation?

[2020-10-26 08:59] konarshankar07 commented on #29721
@klein0r ..
I agree with you but I have submitted the fix which will sort this issue. If you want to get more information then you check out my PR https://github.com/magento/magento2/pull/29746

[2020-10-26 09:03] klein0r commented on #29721
I've seen that. But I've decided to create a default.xml for my shop, which is much easier to maintain than an additional patch file.

[2020-10-26 09:35] magento-engcom-team commented on #30596
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-26 09:36] magento-engcom-team commented on #30596
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38701` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-26 09:41] magento-engcom-team commented on #30649
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-26 09:41] magento-engcom-team commented on #30649
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-26 09:41] magento-engcom-team commented on #30649
@m2-backlog[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-26 09:41] Nazar65 commented on #30649
@magento I am working on this

[2020-10-26 09:42] magento-engcom-team commented on #30649
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38702` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-26 09:44] engcom-Delta commented on #30610
Hi @aligent-lturner thank you for your report. Looks like bundle product price is displayed correctly on catalog page and product detail page.
**Manual testing scenario:**
- Create bundle product with simple product as option
![#30610Bundle](https://user-images.githubusercontent.com/51681379/97155322-de213080-177d-11eb-890a-692f8d5854b7.png)
![#30610BundleOption](https://user-images.githubusercont

[2020-10-26 09:45] Eddcapone commented on #30613
They could leave the requirejs technology still there for backwards compatibility, and then completly remove it in Magento 3

[2020-10-26 10:06] engcom-Bravo commented on #30645
Hello @chichitsai0517

Thank you for your report

We confirm that we are able to reproduce the issue on 2.4.1
![Repro](https://user-images.githubusercontent.com/51680745/97159123-0e1f0280-1783-11eb-8f7d-74322d645e42.png)

However, it is **already fixed on 2.4-develop**, and will be delivered in the next release
![develop](https://user-images.githubusercontent.com/51680745/97159271-46264580-1783-11

[2020-10-26 11:21] cstergianos commented on #22490
@magento-engcom-team could you please re-open this issue? It is happening again on: 2.3.5-p2:

![image](https://user-images.githubusercontent.com/25661926/97166562-5d623480-177d-11eb-85e8-1c1b2b19531e.png)

[2020-10-26 11:35] ericmorand opened #30651 "Default Product Layout setting is not used anywhere relevant"
### Preconditions (*)

Magento 2.3.5

### Steps to reproduce (*)

* In the back-office, change the configuration for General -> Web -> Default Layouts -> Default Product Layout to the layout of your choice.
* In one of the catalog product, set the Layout attribute to _No layout updates_
* Open the product detail page of this product

### Expected result (*)

The page should be displayed using the

[2020-10-26 11:44] nbrouka opened #30652 "Graphql error for addSimpleProductsToCart request"
Hello,
I am using Magento 2.4.1. Graphql request to add simple product with custom options returns an error.

[code]

![graphql-error](https://user-images.githubusercontent.com/15109611/97167697-4e3cb000-1798-11eb-856e-421143d12627.jpg)

What should be the correct request? What should be the request for different types of custom options (field, area, drop-down, radio buttons, checkbox, multiple se

[2020-10-26 11:48] ihor-sviziev commented on #30620
Hi @HIMANSHU-281,
As @mrtuvn requested - could you add additional info, What steps are you trying to do, what exact issue do you have? Unfortunately without this info we can't help you.

[2020-10-26 11:52] ihor-sviziev commented on #30613
From @maghamed in Slack:

[2020-10-26 11:54] ihor-sviziev commented on #30611
Hi @Zyles,
Do you have this issue on the clean magento installation, without any custom modules installed? I believe some custom module might cause this issue.

[2020-10-26 11:56] HIMANSHU-281 commented on #30620
Sure, I will add

Thanks and Regards,
Himanshu Kanyal
Senior Software Test Engineer
Ksolves - https://www.ksolves.com
Email - himanshu.kanyal@ksolves.com <priyanka.dahiya@ksolves.com>
Contact -8859888885

On Mon, Oct 26, 2020 at 5:18 PM Ihor Sviziev <notifications@github.com>
wrote:

[2020-10-26 12:03] krishprakash commented on #28182
@magento give me 2.4-develop instance

[2020-10-26 12:24] pitbulk commented on #30498
any progress with this issue? I believe it impact any extension implementing custom login controller.

[2020-10-26 12:31] ericmorand opened #30653 "\Magento\Framework\View\Page\Config::addBodyClass builds the layout"
### Preconditions (*)

Magento 2.3.5

### Steps to reproduce (*)

1. Create a observer with below code:

`
namespace Learning\FirstUnit\Observer;

use Magento\Customer\Model\Session as CustomerSession;
use Magento\Framework\View\Page\Config as PageConfig;
use Magento\Framework\Event\ObserverInterface;

class AddClassToBody implements ObserverInterface
{
    /** @var PageConfig */
    protected $pa

[2020-10-26 12:33] ericmorand-at-isobar commented on #30651
Actually, the framework is violating the principles of Separation of Concerns once again here, preventing the usage of a plugin to solve the issue:

https://github.com/magento/magento2/issues/30653

[2020-10-26 12:43] eurobeautiful commented on #28614
Rate limiting should be part of the security mix, but it's not the solution to this problem.

In the worst attacks, we were hit by more than 500 different IP addresses, all trying the same cartid. This happened in spite of all the following settings activated (set to Yes):
Validate REMOTE_ADDR
Validate HTTP_VIA
Validate HTTP_X_FORWARDED_FOR
Validate HTTP_USER_AGENT

[2020-10-26 12:50] ProkopovVitaliy commented on #30482
@magento I am working on this

[2020-10-26 12:52] Knase commented on #30575
Hi, I have the same bug with PHP 7.4.11. But if I use  PHP 7.3 ,  The class Proxy created correctly.
` bin/magento   setup:di:compile `
`PHP Fatal error:  Declaration of Psr\Log\LoggerInterface\Proxy::emergency($message, array $context) must be compatible with Psr\Log\LoggerInterface::emergency($message, array $context = NULL) in m2/generated/code/Psr/Log/LoggerInterface/Proxy.php on line 93
`
`/u

[2020-10-26 12:58] ihor-sviziev commented on #30575
Hi @Knase,
Question 1: there might be incorrect php version used. what is php -v shows for you with php 7.4?
Question 2: are you using some extensions that adds plug-in to the logger? If so - could you provide some sample module in order to be able to reproduce the issue?

[2020-10-26 13:10] Knase commented on #30575
I am using php 7.4.11
` php -v
PHP 7.4.11 (cli) (built: Oct 18 2020 19:39:42) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.11, Copyright (c), by Zend Technologies
    with Xdebug v2.9.8, Copyright (c) 2002-2020, by Derick Rethans
`
I installed magento 2.4.1
` composer create-project --repository-url=https://repo.magento.com/ mag

[2020-10-26 13:11] magenx commented on #28614
yes, the limit against <cartid>
as im pretty sure this request is remote injecting CC numbers into API, you cut both cookie and cartid, so attacker bot will not be able to use checkout.

[2020-10-26 13:12] ihor-sviziev commented on #30575
@Knase could you provide your composer.lock file?

[2020-10-26 13:17] Knase commented on #30575
@ihor-sviziev
There is my the  composer.lock file
[composer.lock.txt](https://github.com/magento/magento2/files/5438960/composer.lock.txt)

[2020-10-26 14:03] engcom-Bravo commented on #30540
Hello @trunglv

I have rechecked the issue on the latest 2.4-develop with the following settings
**Catalog Input Type for Store Owner** - _Text field_
**Input Validation for Store Owner** - _Decimal Number_
![dec_attr_sett](https://user-images.githubusercontent.com/51680745/97181472-fc9a2280-17a3-11eb-9719-2e0a015e3819.png)
**Use in Search** - _Yes_
**Visible in Advanced Search** - _Yes_

I have c

[2020-10-26 14:07] HIMANSHU-281 opened #30654 "Not able to install magento 2.4.1 in my Macbook Air"
### Preconditions (*)

1. I am using the Php version of 7.4.11
2. I have used the Below steps for installing Mangeto 2.4.11

a) Install elasticSearch

curl -fsSL https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -
echo "deb https://artifacts.elastic.co/packages/7.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-7.x.list
sudo apt update
sudo apt install elasticse

[2020-10-26 14:26] engcom-Bravo commented on #30645
Let's leave this issue opened until the 2.4-develop and 2.4.1 are synchronized

[2020-10-26 14:27] chichitsai0517 commented on #30645
Is there a temporary solution to fix this until the next release?

[2020-10-26 14:29] nkajic commented on #30654
Duplicate of #30620

[2020-10-26 14:38] HIMANSHU-281 commented on #30654
Yes, I have mentioned all the required details

Thanks and Regards,
Himanshu Kanyal
Senior Software Test Engineer
Ksolves - https://www.ksolves.com
Email - himanshu.kanyal@ksolves.com <priyanka.dahiya@ksolves.com>
Contact -8859888885

On Mon, Oct 26, 2020 at 8:00 PM Neven Kajić <notifications@github.com>
wrote:

[2020-10-26 14:42] engcom-Delta commented on #27408
@VVNPradeep we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-10-26 14:42] #27408 closed, assigned to engcom-Delta

[2020-10-26 14:54] mrtuvn commented on #30653
This topic seem big and i high recommended you should post to https://github.com/magento/architecture or discuss in Slack channel

[2020-10-26 15:12] mrtuvn commented on #30653
Seem we all may miss understanding concepts behinds this
In my thought this class only have responsibility get/set config for specific page only. It's don't build any thing such as layout. It's call another class do that task for build layout

[2020-10-26 15:12] voleye commented on #29740
@magento-engcom-team seems it is not a bug. Magento has an appropriate setting sin Store->Configuration->Sales->Tax->Calculation Settings
Apply Discount On Prices (Excluding Tax|Including Tax) and description:
"
Warning: To apply the discount on prices including tax and apply the tax after discount, set Catalog Prices to “Including Tax”.
"
So, if you would like to apply discount on a price value i

[2020-10-26 15:13] Anantkprajapati commented on #25602
Hello Team,
Any updated about this. Same facing issue in magento 2.4 version.

[2020-10-26 15:18] Anantkprajapati opened #30655 "DHL shipping not working"
https://github.com/magento/magento2/issues/25602
Same issue facing in  2.4 instance.

Here is the request and response

[code]
Also Origin and Destination both are same but still not getting any shipping method.

[2020-10-26 15:29] ericmorand opened #30656 "\Magento\Framework\View\Model\Layout\Merge stores the theme at construct time"
### Preconditions (*)

Magento 2.3.5

### Steps to reproduce (*)

1. Set a specific theme for a Product
2. Add a widget expected to be displayed on all the product pages using the specific theme above
3. Load the page of the Product that you set a specific theme at step 1

### Expected result (*)

The specific theme is used _and_ the widget is displayed.

### Actual result (*)

The specific theme

[2020-10-26 15:42] engcom-Kilo commented on #27233
Hello @Gabriel-Bruno
Unfortunately, I'm not able to reproduce this issue on 2.4-develop
![Configurable-API](https://user-images.githubusercontent.com/60192090/97193053-3faec280-17b1-11eb-9691-1812c2cf8452.gif)

Can you please add more details or correct me in case I did something wrong?

[2020-10-26 15:45] ericmorand commented on #30656
I confirm that a plugin solves the issue:

[code]

[2020-10-26 16:35] devchris79 commented on #30655
I don't think there is a Magento error here, the XML response from DHL indicates that there is no domestic offering within China. If you change the location to an international address do you get a better response?

It would appear that DHL pulled out of domestic China deliveries some time ago:
[https://postandparcel.info/40547/news/dhl-to-pull-out-of-chinese-domestic-market/](url)

[2020-10-26 17:26] ericmorand commented on #30653
The layout is built later in the rendering process - at the very least by the result page itself if it was not rendered before that.

The issue here is that the layout is built way to early, and way before the rendering step. It's built as part of the Catalog Module Product controller action. That early in the request lifecycle, many things can still occur like changing the page layout (for exampl

[2020-10-26 17:47] ihor-sviziev commented on #30620
Duplicate of #30654

I’m closing this issue

[2020-10-26 17:47] #30620 closed, assigned to ihor-sviziev

[2020-10-26 17:49] ihor-sviziev commented on #30654
Hi @HIMANSHU-281,
Could you run the same command with adding ` -vvv`at the end?

[2020-10-26 18:18] okorshenko commented on #27049
Hi @MellenIO
Thank you for your report. The issue is added to our tools internal backlog: DEVX-312

[2020-10-26 18:18] #27049 closed, assigned to nobody

[2020-10-26 18:26] sasha19957099 commented on #29479
@magento run all tests

[2020-10-26 18:28] engcom-Delta commented on #30651
Hi @ericmorand , thank you for your report. Value from`General -> Web -> Default Layouts -> Default Product Layout` is applied for new products:
![image](https://user-images.githubusercontent.com/51681379/97212408-0bdf9700-17c9-11eb-9eac-277fd29faf90.png)

To change `Design` configuration for existing products you could use `Update Attributes` mass action:
![image](https://user-images.githubuserco

[2020-10-26 18:28] #30651 closed, assigned to engcom-Delta

[2020-10-26 18:59] ericmorand commented on #30651
@engcom-Delta , fair enough. Do you know what layout is used if none is selected at the product level or at any of its belonging categories level?

[2020-10-26 19:33] hostep commented on #30611
If the issue is caused by a custom module, then there is potentially still a bug in Magento itself. I'm suspecting that some kind of endless loop is being triggered somehow, and the source of that could still lie in Magento's code being triggered by a specific way a custom module has been programmed.

So @Zyles: if you have found out more information and can boil the issue down to a specific modul

[2020-10-26 19:33] aligent-lturner commented on #30610
@engcom-Delta the price is displayed correctly on the storefront because it's calculated again. The issue is that the price in the `catalog_product_index_price` table is incorrect - as shown in your screenshot above, the price is given as 100 instead of 90.
For most people, this is not going to cause a problem, as the price is recalculated on Catalog pages and when adding to cart, etc., Which is p

[2020-10-26 20:29] andrewbess commented on #30654
Hello @HIMANSHU-281
I see you use the database name with dots.
I don't recommend to use db name with dots.
Please try to change it on `mage2_4_0` or wrap it in quotes.
Also, I don't recommend to use the command `bin/magento` with `sudo`.
Could you please use the command below:
[code]
and write result here?

[2020-10-26 20:42] Bowens20832 commented on #30574
Can verify on 2.4.1 Vanilla

[2020-10-27 00:58] mrtuvn commented on #30656
Hi
This class seem only have responsible to merge all xml files across code base (themes, magento core modules, 3rd-party modules) follow order in app/etc/config.php
base xml will always load first then follow by specific area (frontend, adminhtml) then follow modules . Your current theme active will have load priority at last

[2020-10-27 01:39] bernieu2 commented on #29740
@voleye but this issue is relating to a cart price rule for a fixed amount on order. Not related to specific product prices? I definitely think this is a bug. A few issues have raised now. https://github.com/magento/magento2/issues/28472 perhaps this one is related too? https://github.com/magento/magento2/issues/13392
I think it is difficult to evaluate the issue as tax has many variables dependen

[2020-10-27 02:43] Bowens20832 commented on #30574
@magento give me 2.4-develop instance

[2020-10-27 02:58] Bowens20832 commented on #30574
Can not reproduce the issue on a 2.4-develop instance.

[2020-10-27 05:00] daksh369 commented on #12777
@bastianhilton worked completely fine. Thanks a lot!! You saved me a lot of time finding for solution.

[2020-10-27 05:25] lokeshvnaik opened #30657 "Multi Source Inventory - Stocks sources of other website's showing on applying store switcher in admin"
### Preconditions (*)
1. Magento CE 2.3.4

### Steps to reproduce (*)
1. Create 2 websites - UAE(default) & Oman
2. Create 2 inventory sources one each for the above websites under Stores > Inventory > Sources
- UAE
- Oman
3. Create 2 inventory stocks under Stores > Inventory > Stocks and assign them to above websites (Sales Channel) and assign one source to each UAE and Oman respectively
- UAE (S

[2020-10-27 05:26] ananth-iyer commented on #25390
@Bhavik-kumar I have replicated the issue on 2.3.5-p2 and fix is to run the `setup:di:compile` again.

[2020-10-27 05:30] ajijshekh123 commented on #30574
Hi @CJMacPhie,
I have verified this issue in the Latest Magento 2.4 Instance with as per your steps, actual result and expected result.
Export product functionality is working fine.
If you found this issue again please send me details about the Magento Version and Attached the video.

Thanks.

[2020-10-27 05:34] ajijshekh123 commented on #30512
@Eddcapone - If you found this issue again you can reopen.

[2020-10-27 05:34] #30512 closed, assigned to ajijshekh123

[2020-10-27 06:27] Amit-Hariyani commented on #30589
@magento I'm working on this

[2020-10-27 06:31] Munktells opened #30658 "URL Rewrite is lost when adding a existing product to another store view"
### Steps to reproduce (*)
1. Magento 2.4.1. and 2.4-develop
2. Setup two ore more store views.
3. Enable URL rewrite.
4. Create two root categories (one for each store view as usual).
5. Add a product.
6. Add the product to another store view (Product in Website).

### Expected result (*)
1. Existing Product URL: _example1.com/kilramar/smala/pro-basic_

### Actual result (*)
1. Becomes in the new

[2020-10-27 07:06] hostep commented on #30513
It looks like Magento released a patch for this issue over here: https://magento.com/tech-resources/download (search for `MC-38509`)

[2020-10-27 07:54] HIMANSHU-281 commented on #30654
Now getting these errors

1-In ArgvInput.php line 172:

  [Symfony\Component\Console\Exception\RuntimeException]
  Too many arguments, expected arguments "command".

2-Exception trace:
  at /Applications/MAMP/htdocs/magento2.4.1/vendor/symfony/console/Input/ArgvInput.php:172
 Symfony\Component\Console\Input\ArgvInput->parseArgument() at /Applications/MAMP/htdocs/magento2.4.1/vendor/symfony/console

[2020-10-27 07:56] ihor-sviziev commented on #30654
Hi @HIMANSHU-281,
If you're just starting to set up your dev. env I would recommend you to use some environment that works in Docker and already supports Mac. For instance https://warden.dev/ (I would recommend this) or https://github.com/magento/magento-cloud-docker

[2020-10-27 07:59] hostep commented on #30513
I can confirm this patch fixes the problem on Magento 2.3.6 (we aren't using Magento 2.4.x yet, but I assume it will work as well).

For the people who install patches using some composer patch plugin, here's our adapted version:

[MC-38509-Customer.txt](https://github.com/magento/magento2/files/5443734/MC-38509-Customer.txt) (rename from `.txt` to `.diff`)

And its definition:
[code]

Thanks to M

[2020-10-27 08:07] HIMANSHU-281 commented on #30654
I am already running Magento 7.3 version in my  Macbook.
I was just trying to run Magento 7.4 version

[2020-10-27 08:20] ihor-sviziev commented on #30654
@HIMANSHU-281 what is output of `sudo php -v`

[2020-10-27 08:48] ericmorand commented on #30656
It is also responsible to load handle updates stored in database - for example widgets set in the back office, through this function:

[code]

This function is intercepted by a plugin (`Magento\Widget\Model\ResourceModel\Layout\Plugin`) to actually retrieve the widget updates from the database.

The issue here is that at that point, the theme has already been loaded by the `Merge` singleton , and

[2020-10-27 08:50] HIMANSHU-281 commented on #30654
PHP 7.4.11

[2020-10-27 08:57] dvolkering commented on #28454
We're facing the same issue, also with magento 2.4.1 and Elasticsearch 7.6 (on Cloudways)

[2020-10-27 08:59] JelleGe commented on #28454
Problem in our case was solved by the Magento 2 patch; https://support.magento.com/hc/en-us/articles/360050423891-MDVA-30284-Magento-Patch-Elasticsearch-7-Limit-of-total-fields-XXXXX-in-index-has-been-exceeded

[2020-10-27 09:05] tomzweb commented on #26991
If anyone's coming to this a little late, the suggested fix above is included in Magento 2.3.5p-1.

[2020-10-27 09:33] ihor-sviziev commented on #30654
Hi @HIMANSHU-281,
Could you try to use some domain instead of 127.0.0.1 and add it to the /etc/hosts file, for instance `magento2.test`?

[2020-10-27 09:36] dvolkering commented on #28454
@JelleGe Thanks, I can confirm this resolves the issue.

[2020-10-27 09:41] ihor-sviziev commented on #29365
Hi @sunel,
As we weren't able to reproduce this issue on 2.4-develop branch and it looks like issue already resolved - I'm closing this issue.

If issue still reproducing - please let us know additional info how to reproduce it.

[2020-10-27 10:08] kolaente opened #30659 "Related products of configurables don't change when choosing a variation"
### Preconditions (*)

1. Magento CE 2.3
2. php 7.2

### Steps to reproduce (*)

1. Create a configurable product with a simple which has releated products with the simple visibility set to "not visible individually"
2. Go to the product detail page
3. Choose a variant from the dropdown

### Expected result (*)

1. The related products of the selected simple should show up

### Actual result (*)

[2020-10-27 10:10] kolaente commented on #30659
@magento give me 2.4-develop instance

[2020-10-27 10:27] Filocava99 commented on #29332
Having the same issue. Any data?

[2020-10-27 10:32] kolaente commented on #30659
I can confirm this does not work with the 2.4-dev test instance.

This is what I did:

1. Go to admin
2. Open a simple which belongs to a configurable, I used `WH01-XS-Orange` from the sample data
3. In the "Related Products, Up-Sells, and Cross-Sells" section, choose one or more related products
4. Save the changes
5. Go to the storefront product page of the configurable
6. Select the variant of

[2020-10-27 10:35] engcom-Bravo commented on #30596
### Additional info from Engcom
To reproduce the issue
1. Execute this file to generate empty txt files in media folder https://gist.github.com/Nazar65/61c756ce76afa8c6718bf670794d548c execute in CMD bash glob.sh
2. Set memory_limit in php to 100MB
3. Open Media Galley

Actual Result: Media gallery directory tree component renders directory tree component

[2020-10-27 10:37] voleye commented on #29740
@bernieu2 thank you for so detailed description, I will try to reproduce the issue again making all these settings!

[2020-10-27 11:16] ahsan-horani-reviver commented on #30204
That's not an appropriate answer @engcom-Oscar. This doesn't make any sense. Is there any work around for that? This does not fit the business requirements

[2020-10-27 11:17] ahsan-horani-reviver commented on #30204
Also, please mention the reason why do we have such limitation in Magento

[2020-10-27 11:21] Amit-Hariyani commented on #30589
![demo](https://user-images.githubusercontent.com/72494149/97294929-ac3ec580-1874-11eb-9d88-6847579756c0.jpg)

[2020-10-27 11:29] OvalMedia commented on #30204
Thank you!

[2020-10-27 11:46] engcom-Bravo commented on #30658
Hello @AlldoGroup

Thank you for your report

We were not able to reproduce the issue using the provided Steps

Here are the steps we used
1. Created two Sites, Stores, Stoeviews.
![all_stores](https://user-images.githubusercontent.com/51680745/97295360-d8981900-1857-11eb-960a-3e425d49d57a.png)

Each Site has a different **Base URL** and **Base Link URL**. **Use Web Server Rewrite** is set to **Ye

[2020-10-27 11:52] JMLucas96 commented on #6121
Issue still exists on magento 2.1.8, old prices not updating when reordering...
Any solution?

[2020-10-27 11:55] chiranjeevi-cj commented on #26156
@magento Is this PR(https://github.com/magento/magento2-sample-data/pull/146) fixes the issue. I think it fixes the issue.

[2020-10-27 12:02] tope316 commented on #30583
Any progress on this issue?

[2020-10-27 12:11] AlldoGroup commented on #30658
Hello and thank you for your answer,

That's not how our 2.4.1 behave, we have the exact same settings, except that we have a deeper category structure.
Our product is also marked to the root category itself.

![categories](https://user-images.githubusercontent.com/57530884/97299799-d1700b80-1855-11eb-8205-ad1353075b3e.jpg)

When and where is the URL rewrite generated when you add the simple produ

[2020-10-27 12:13] ihor-sviziev commented on #30583
@engcom-Alfa @engcom-Bravo could you check this issue? Seems to me as really critical

[2020-10-27 12:22] rahulbarot commented on #13823
I have this issue with 2.3.5-p2 and php 7.3

[2020-10-27 13:02] engcom-Delta commented on #30597
Hi @uvaper thank you for your report. Could you provide additional information with examples and screenshots what you get in result?

[2020-10-27 13:13] VZeroCool commented on #30659
@magento I am working on this

[2020-10-27 13:14] VZeroCool commented on #30659
@magento add to contributors team

[2020-10-27 13:15] VZeroCool commented on #30659
@magento I am working on this

[2020-10-27 13:16] Amit-Hariyani commented on #30460
@magento I am working on this

[2020-10-27 13:17] engcom-Delta commented on #27208
Hi @gigadesign1 thank you for your report. I'm not able to reproduce issue by steps you described on clean 2.4-develop as there is not possibility create customer without password from storefront.
Seems like this issue is related to your custom modules.

If you'd like to update the issue with additional steps or code snippets, please reopen it.

[2020-10-27 13:17] #27208 closed, assigned to engcom-Delta

[2020-10-27 13:24] JMLucas96 opened #30663 "error Customer reorder with unupdated product prices (?)"
When a customer reorders old order, Magento allows it but with old product prices. Reorder would have to updated prices.
### Preconditions (*)

1. Magento 2.1.8

### Steps to reproduce (*)

1. Buy one product on magento with customer account.
2. Change product price on admin.
3. Reorder previous order
![image](https://user-images.githubusercontent.com/47561465/97307217-b73b2b00-185f-11eb-9778-18a1

[2020-10-27 13:34] swapnilT2jcommerce commented on #21386
I got the same issue in 2.3.2 version but after the upgraded the magento  from 2.3.2 to 2.3.5 -p2 version. Now, attribute values are cleared in website and store scope. This issue has been resolved in magento version 2.3.5-p2

[2020-10-27 13:37] eerohakio commented on #13392
Can also confirm that this is reproducable in 2.4.1

[2020-10-27 13:40] JMLucas96 commented on #6121
Similar issue here #30663

[2020-10-27 13:40] chiranjeevi-cj commented on #30537
@magento give me an instance.

[2020-10-27 13:40] chiranjeevi-cj commented on #30537
@magento give me a Magento 2.4 instance.

[2020-10-27 13:44] chiranjeevi-cj commented on #30537
@magento give me 2.4-develop instance

[2020-10-27 13:46] eerohakio commented on #13392
For subtotal there seems to be own logic inside: module-tax/Model/Sales/Total/Quote/Tax.php
`   /**
         * Modify subtotal
         */
        if ($this->_config->displayCartSubtotalBoth($store) || $this->_config->displayCartSubtotalInclTax($store)) {
            if ($total->getSubtotalInclTax() > 0) {
                $subtotalInclTax = $total->getSubtotalInclTax();
            } else {

[2020-10-27 14:03] fj-sfd commented on #29872
Hi @hostep , Thank You for pointing it out clearly.
I have updated my crontab.

[2020-10-27 14:09] mauragcyrus commented on #30625
@rogyar could you please link the PR?

[2020-10-27 14:10] Fuseteam commented on #30589
not sure if i have tested that @Amit-Hariyani  but if that works its really just confusing; it says SRD by default why should unticking that box make a difference

[2020-10-27 14:19] CJMacPhie commented on #30574
Still not working for me.

Thanks

Cam

From: Ajij Shekh [mailto:notifications@github.com]
Sent: Tuesday, October 27, 2020 12:31 AM
To: magento/magento2
Cc: Cameron Brand; Mention
Subject: Re: [magento/magento2] Can't download Product Files Into A CSV file (#30574)

Hi @CJMacPhie<https://url.emailprotection.link/?buEq4eyNl9NRYRhKUfm4VcB9V-qNQh3LebhRwtQTAPvjMixeV7C8s3jKiT-dNG2Hipkk3XjH_UDS8-WpARj-6

[2020-10-27 14:21] CJMacPhie commented on #30574
Still cannot download or is it finding any of our products.

Am I doing this incorrectly?

Cam

From: Ajij Shekh [mailto:notifications@github.com]
Sent: Tuesday, October 27, 2020 12:31 AM
To: magento/magento2
Cc: Cameron Brand; Mention
Subject: Re: [magento/magento2] Can't download Product Files Into A CSV file (#30574)

Hi @CJMacPhie<https://url.emailprotection.link/?buEq4eyNl9NRYRhKUfm4VcB9V-qNQ

[2020-10-27 14:29] ihor-sviziev commented on #30654
Hi @HIMANSHU-281,
Let's try to differentiate issue or your environment and not expected changes in the directory. Let's try to start from the clean installation.
Could you try to install magento in the new clean directory and run the setup:install command again? Does it fails with the same result?

[2020-10-27 15:01] nathanjosiah commented on #29964
@gwharton While we couldn't directly reproduce this problem we did make some big improvements to how the block cache works with CSP. Can you share more about your environment? Can you provide the policy it was trying to add? I feel like this could be an instance of using too many inline scripts which would cause the hashes to be giant in the policy. Inline scripts and CSP don't really mix.

@onepa

[2020-10-27 15:25] hardikason commented on #26921
I have also faced same issue. But most easy and quick solution is as below :

[2020-10-27 15:28] hardikason commented on #26437
I have also faced same issue. But most easy and quick solution is overriding getQuote() function as below :

protected function getQuote()
{
if (null === $this->quote) {
$customerId = $this->getCustomerId();
$customer = $this->_customerRepository->getById($customerId);
$storeIds = $this->_storeManager->getWebsite($customer->getWebsiteId())->getStoreIds();
try {
$this->quote = $this->quoteFactory->

[2020-10-27 15:39] VincentMarmiesse commented on #28482
This issue still exists in `2.3.6`.
It's OK in front but is not in Admin when the locale is not `en_US`.

[2020-10-27 15:46] gwharton commented on #29964
Hi @nathanjosiah. There is nothing unusual at all about my setup. I don't use many third party modules. The majority of the customizations to magento are my own code. I have no idea what the policy was that it was trying to add. What I am pretty sure of is that my site does not have enough inline scripts to generate a 60MB csp policy. I suspect you are right though, without anything concrete, this

[2020-10-27 15:49] mrtuvn commented on #30442
@sdzhepa @sidolov what wrong with this page ?
![Screenshot from 2020-10-27 22-48-45](https://user-images.githubusercontent.com/1908873/97326452-99dd7f80-18a6-11eb-86c4-2a9f0fb8aac6.png)
Not sure why this guy raise this problem
This visual already show from magento 2.2 to 2.4

[2020-10-27 16:32] ioweb-gr commented on #28384
I'm also facing the same issue in a multi store setup after migrating from M1

[2020-10-27 17:04] Morgy93 commented on #29964
Sadly my questions did not get answered. 😒

@nathanjosiah @gwharton
Maybe some of you could just tell me right away which line or data to `var_dump()` to get the answers you need?

[2020-10-27 17:33] nathanjosiah commented on #29964
@Morgy93 It's hard to say exactly since nobody has exactly described the problem but based on @gwharton's answer from above it seems like maybe https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Csp/Model/Collector/DynamicCollector.php#L44 is a good place to start and see which policies are trying to be added. It would be called multiple times but that could be helpful to see wh

[2020-10-27 17:33] template-provider commented on #29365
Hi,
I can reproduce this problem with an update from 2.3.5 to 2.4.1.
So this problem still exists.

[2020-10-27 17:39] dvershinin commented on #29964
@nathanjosiah example of large chunks of data inserted at the time when we had CSP module enabled.
And if you look at it "from afar", you'll see very well a lot of repeating data :D

![image](https://user-images.githubusercontent.com/250071/97339941-3ba7a100-1894-11eb-92e7-b941dc71af8c.png)

[2020-10-27 17:40] gwharton commented on #29964
Looking at that code, the DynamicCollector->add call seems to be where some extremely large memory allocations are happening. So, tracing back I think the add call is being called inside the BlockCache->load() call.

The load() call, given a block identifier, loads it from the block_html cache if it exists, and then calls dynamicCollector->add recursively for all policies it finds inside the cache