[2017-03-05 17:57] maqlec commented on #8734
The same with https and even HTTP2

[2017-03-05 22:13] ubedarab commented on #5236
I got same error after upgrade to 2.1.1 to 2.1.5 and I apply solution mention by @Protazy21

Class vendor/magento/module-configurable-product/Ui/DataProvider/Product/Form/Modifier/ConfigurablePrice.php

replace argument value on line 92
-  'config' => $visibilityConfig
with ,
+ 'config' => ['componentType'=>'container',$visibilityConfig],

its work for me, :)

[2017-03-05 23:47] ScottBadger commented on #4531
So.... for me at least, it turned out to be an ampersand in the descriptions (see http://stackoverflow.com/questions/39906595/sign-in-magento-2-0-product-import-is-causing-errors ). Changed the "&" to "and" and voila!...no dupes in the export. Made my edits and imported without errors.. Scott

[2017-03-06 05:22] netzweltvimal opened #8795 "Product Status is not updating properly."
### Preconditions

1. Magento 2.1.4

### Steps to reproduce

1. Enable/Disable any product from Admin product detail page.
2. Product Grid not showing updated status
3. When we update product status using Grid then also not updating status.

### Expected result

1. Product status should be changed.

### Actual result

1. When we change status (Enable/Disable) of any product from Admin product deta

[2017-03-06 07:12] shahabhameed commented on #4972
@fooman
Is there a way to support backward compatibility in an extension, or should we release two versions (for magento 2.0.x and magento 2.1.x)  of the extension which are adding mass actions on sales order grid ?

[2017-03-06 07:21] lfritsche opened #8797 "Partial credit memo tax calculation"
### Preconditions

1. Magento 2.0.4
2. PHP 7

### Steps to reproduce

1. Order with more than one product | example:
![image](https://cloud.githubusercontent.com/assets/15127451/23599754/2cdb0722-0243-11e7-917c-de8dd39b5652.png)
![image](https://cloud.githubusercontent.com/assets/15127451/23599773/4b7d63fa-0243-11e7-8973-df3b3efe18af.png)
2. Create partial credit memo manually in the backend:
![im

[2017-03-06 08:04] duffner commented on #8725
https://github.com/magento/magento2/issues/7508 My related issue which has still not been fixed

[2017-03-06 08:07] duffner commented on #7859
What is the status of this issue.

Development speed for a front-end developer is unacceptable.

When is Magento planning to fix this?

[2017-03-06 08:10] duffner commented on #8775
Appears to be a good solution to me.  @mrIntegrator

[2017-03-06 08:15] denchev commented on #7859
I will say it again since nobody seems to care about my previous comment. The speed of Magento 2 is largely based on the file system I/O. If you are using any sort of virtual machine and synced folders. No matter Vagrant or Docker. Just don't! I went from more than 2 minutes load time to less than 200ms when I moved from fully synced VM host-guest machine to only-sync-the-theme-or-extension-and-no

[2017-03-06 08:20] duffner commented on #7859
@denchev, I do care. :)  Can you please explain your configuration in more detail?

I'd love to learn a new way to do this...  but I develop on a mac, the only alternative I have would be native NGNIX, PHP and MySQL on OSX.

I'd consider this solved if there was documentation to support a 200ms approach to getting grunt to compile less and see my changes immediately.

Additionally, I don't believe

[2017-03-06 08:32] surfer190 commented on #3222
@rkhoury82 Please comment as to why you closed this issue. Did you resolve the problem. Was it just a problem that you had not done a `reindex`

[2017-03-06 08:35] denchev commented on #7859
@duffner Grunt is slow even in good days. I'm using a SASS based theme for Magento 2 and it comes with it's own GULP tools. You should check this project https://github.com/SnowdogApps/magento2-theme-blank-sass. It is working pretty good.

[2017-03-06 08:38] duffner commented on #7859
@denchev, I understand Grunt is slow in comparison to GULP, however it's not Grunt's problem.   It's the theme building itself.

Again while I agree your referenced theme maybe a solution.  It's still a Magento core problem.

[2017-03-06 08:39] cscd98 commented on #7859
@duffner I would recommend you setup nginx, php and mysql using brew. It's not too difficult to do.

Just install PHP 7.0 and enable opcache in php.ini and your good to go.

I did run into an issue with a max file limit in OS X, but I solved that.

With regards to everybody else on Mac.. I'm using a 13" MacBook Pro with an SSD from late 2013. I was thinking of getting a new machine simply because

[2017-03-06 08:44] denchev commented on #7859
@duffner Have you read this article? https://magento.com/blog/technical/set-your-magento-2-development-environment-faster

[2017-03-06 08:50] duffner commented on #7859
@denchev, I have not

Is this what you were referring to?

[2017-03-06 08:58] denchev commented on #7859
@duffner More or less. The guys from Magento explained it better than me.

I think Magento is build for Linux and all other OS (Windows, MacOS) needs to find a way to work around it.

I use a virtual machine with Ubuntu. My Magento files are installed in the VM. Then I only expose the extension/theme files between host and guest machine. I have to keep another copy of Magento on my host machine ju

[2017-03-06 09:03] sylvainraye commented on #8310
@vrann I have the same point of view of the expected result as @azeemism and looks like it works the same on Magento 1. It is also how I interpret it in your own internal wiki documentation.

Coupon rule are tight closed with the cart rule. A coupon rule and cart rule are the same.
`Uses per coupon` = number of time a coupon can be used to apply a rule.
`Uses per customer` = number of time a logge

[2017-03-06 09:13] aakimov commented on #8698
Hi @kukulis,

Thank you for your report.
First of all, as previous comment states, if you want to contribute your code please create a pull request for it.
Moreover, when you report an issue please provide description in the following form:
For instance:
**Preconditions**
1. Website is created;
2. Simple product is created and assigned to website;

**Steps to Reproduce:**
1. Try to reindex EAV att

[2017-03-06 09:33] kieronthomas commented on #8719
Hi Joni-jones,

Okay, thanks for the feedback. However as this is clearly a bug and causes a large number of customers to input a two digit year (obviously every delay / issue in the checkout risks dropoffs) - who do I go to raise this with?

Currently I have two clients who have raised this and I am overriding the entire hosted-fields.js which I'd rather not do!

Kind regards,
Kieron

[2017-03-06 09:49] YevSent commented on #8719
Hi, @kieronthomas, this functionality is provided by Braintree, it's not a bug in Magento scope, even if you specify another placeholder, Braintree allows to use both formats.

If Braintree will change the expiration year validator and will support only one format, we also will change it for payment form.

You can create a ticket to Braintree support and describe your issue.

Now, it's expecting b

[2017-03-06 09:49] #8719 closed, assigned to YevSent, alena-marchenko

[2017-03-06 09:56] Frits1980 commented on #7146
I've checked every extension I've got but none is missing a title tag. Though I don't really understand why in your example the second last resource tag has a title but the last resource tag doesn't. Can you explain?

[2017-03-06 10:00] pixiesky commented on #8061
Tried this with Luma on a fresh install and seeing that `dependantObservable` function seems to be a normal thing to happen. What I'm seeing on the inherited site are artefacts of previous modifications that I don't seem to be able to get rid of even if I'm flushing cache storage etc so I'm changing my focus to why that is happening.

[2017-03-06 10:21] blewinsky commented on #7146
Have updated my codeblock.
Thats the reason why my roles wasnt working. Last `<resource>` tag needs `title=""` so it must look like this `<resource id="Vendor_MyModule::rollback" title="Rollback" translate="title" />`.

What i should recommend you is to switch off 1 by 1 3rd-party modules so you can see what module gives you conflicts.
Dont forget to clear your cache.

[2017-03-06 10:26] Frits1980 commented on #7146
So, to check. Every "resource" tag no matter which depth should have a title attribute?

[2017-03-06 10:36] WaPoNe opened #8798 "Importing 'Customers Main File'"
Error received trying to import the 'Customers Main File' sample file.

### Preconditions

1. Magento Version 2.1.5 or 2.1.4

### Steps to reproduce

1. Go to 'System' > 'Data Transfer' > 'Import'
2. Select 'Customers Main File' as 'Entity Type'
3. Click on 'Download Sample File' link
4. Select the file downloaded to import

### Expected result

1. Import activity worked fine and customers data im

[2017-03-06 10:40] tkacheva commented on #8310
@azeemism
Uses per customer concerns the entire promotion (not the specific coupon as you extracted)
@diglin you are right with the definition of number of usage restriction. The only "but" is that only logged in users are respected for it.

[2017-03-06 10:43] delyriand opened #8799 "Image brackground"
### Preconditions
1. Magento 2.1.3
2. PHP 7

### Steps to reproduce
1. Edit view.xml file
`ex: theme-frontend-luma/etc/view.xml`
2. Add background color attribute to an image
[code]
3. Clear cache and reload images.

### Expected result
1. Image with background

### Actual result
1. Product image always has a black background
![image](https://cloud.githubusercontent.com/assets/465524/23606432/fd61

[2017-03-06 10:50] tkacheva commented on #8553
@azeemism
Magento supports number of usage restriction only for logged in users.

[2017-03-06 11:19] s00071609 commented on #4785
As LucScu pointed out - Have you guys tried to open the configurable product and save it again. It might give the error- SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '1922-1..........
In my case I was using two stores and changed google analytics - turned it off and this issue got fixed. I believe that "We cant place order" may have to do with this error. Disabling Experim

[2017-03-06 11:54] kbrakband commented on #8737
Thank you for your comment choukalos. I've tried doing this, but unfortunately nothing changes.

[2017-03-06 12:32] pixiesky commented on #8061
OK the fix is. Make sure your development environment is actually running in developer mode. Nuke all the var stuff and do a di:compile and a static content deployment, check the `env.php` file (as it will get overwritten) or make sure with `bin/magento deploy:mode:set developer` after the upgrade

[2017-03-06 12:45] lgoudriaan commented on #5836
Any update on this?

[2017-03-06 12:49] gman-1986 commented on #5836
@lgoudriaan still not fixed in 2.1.5 or 2.2 dev

[2017-03-06 12:51] thlassche commented on #8318
@maderlock Search for rewrites in the Magento Marketplace

[2017-03-06 13:02] bartlubbersen opened #8800 "Frontend base url https results in admin too many redirects"
### Preconditions
1. Magento 2.1.4
2. PHP7

### Steps to reproduce
1. Setup Magento to use a different url for admin through "	admin/url/custom"  configuration and make this url use http not https.
2. Set the unsecure base url in your default configuration to https (so the whole website will be using https)
3. Now you can't get into the back-end of magento anymore because of too many redirects.

#

[2017-03-06 13:14] xaiamedia commented on #7319
Now an half year later.. we are willing to try the update again. This time 2.0.6. to 2.1.5. and still having the same issue?!

Why does no one pick this up? More people as you can read having this same issue!

[2017-03-06 13:18] hezide commented on #7095
Hi, the solutions can fix the symbol issue but not the reverted words..
It's really important to me...
Thanks

[2017-03-06 13:23] cizgidekiadam commented on #8061
@pixiesky have you fix the main problem or `dependantObservable` issue in fresh install ?

[2017-03-06 13:33] xaiamedia opened #8801 "Create new product gives exception Magento 2.1.5"
### Preconditions

1.  PHP Version 7.0.12
2.  Magento 2.1.5

### Steps to reproduce
1. Magento 2.0.6 shop
2. Upgrade from 2.0.6 via commandline to 2.1.5
3. Login to admin
4. Go to catalog
5. Click create new product

### Expected result
1. Create new product

### Actual result
1 exception(s):
Exception #0 (ReflectionException): Class Magento\Catalog\Block\Adminhtml\Product\Helper\Form\BaseImag‌​e

[2017-03-06 13:38] oefterdal commented on #5675
I am experiencing the same bug.

[2017-03-06 13:43] hostep commented on #7199
We also saw this, but over here, the problem was caused by a free 3rd party extension which manipulates the filter functionality (Manadev).
Digging through their code, they use prices excl tax for the price filtering.
Disabling this 3rd party module seems to display the correct results over here.

[2017-03-06 13:53] susmithaN commented on #7967
Hi , Anyone have any suggestion to solve this issue .

[2017-03-06 13:56] srinivasanithin opened #8802 "Divide By Zero error when Refund Create API is used."
### Preconditions

1. Magento 2.1.5
2. Php 5.6.21

### Steps to reproduce

1. Create an order using freeshipping method and cost of shipping is zero.
2. create an invoice that order
3. Use api request to create an Refund
POST /V1/invoice/{invoiceId}/refund using that invoiceId

### Expected result
1. It should be creating the refund successfully.

### Actual result
1.  stacktrace is the following

[2017-03-06 14:11] yariksheptykin opened #8803 "setup:di:compile breaks on 0 indexed object arrays"
Array arguments defined containing 0-indexed object items break setup:di:compile with the following exception:

[code]

A sample `di.xml` breaking down:
[code]

*NOTE* the `<item name="0" xsi:type="object">SomeInterface</item>` which is a `0`-indexed object item referring to an interface.

Normally [the code](https://github.com/magento/magento2/blob/b1e56ed3b6f13f1ab780d8eddc33fc04cb6ecf75/setup/s

[2017-03-06 14:12] romeof1980 commented on #5836
hi @lgoudriaan , hi @gman-1986 ,
would you mind to post the result of "SELECT * FROM cron_schedule;" and give us some details about your server env (is it shared? is it a VPS, Dedicated or a Magento-tailored solution like the Nexcess-SIP for example)?
As detailed in the comment above we've found that the reason of the issue isn't a bug but resides often (always for us) in servers hitting resources

[2017-03-06 14:28] springimport commented on #8764
@Ctucker9233 No ;)
Xxx for example only.

[2017-03-06 14:34] bpoiss commented on #7668
The feature "Enable Automatic Assignment to Customer Group" is not working because of this issue.

[2017-03-06 14:58] miguelBarreiro85 commented on #6924
Same issue "General system exception happened", on magento 2.1.5, made a sample file download in the admin zone and tried to import it, just for testing, same error.

Just have logs on debug.log: main.DEBUG cache_invalidate

Does anyone know how to solve this?

[2017-03-06 15:08] YevSent commented on #8802
Hi, @srinivasanithin, thanks for reporting. I've created internal ticket (MAGETWO-65582).

[2017-03-06 15:09] parththummar opened #8804 "Inventory product quantity not decreasing when ordering from second store"
I am having an issue with the inventory quantity not decreasing when ordering from a second store. The magento version I'm currently using is magento 2.0.10.

### Preconditions
We wanted to have 2 stores with different domain names using one Magento installation.The only thing that should be different is the appearance and the menu. However, when ordering products from both stores only the main st

[2017-03-06 15:47] lgoudriaan commented on #5836
Hello  @romeof1980,

I'm using a shared hosting.  At this moment i have 190 rows in that table, which looks wrong to me? You can find my dump here: http://pastebin.com/LgzKBGXP

[2017-03-06 16:04] pixiesky commented on #8061
@rbostan The `dependantObservable` thing was still happening in a vanilla install but not producing the error so it's a red herring.

[2017-03-06 16:05] AVoskoboinikov commented on #7813
Hi guys.
We already have fix for described issue. Check [this](https://github.com/magento/magento2/commit/6e16747000ced5653702a3c05b1598aaa4f3a334). I've tried to reproduce it today but mostly without any success. I've managed to get it only once and just because of wrong flow for upgrading from 2.1.2 to 2.1.3 but everything gone well after clearing var/di and var/generation folders. Maybe it is y

[2017-03-06 16:05] EmilyPepperman commented on #8452
This is a reproduce-able issue... if you also have M2E pro installed. @mbrinton01 M2E has given us a updated file that DOES solve this bug. Atleast 4 documented people have had this issue.
app\code\Ess\M2ePro\Plugin\Order\Magento\Quote\Model\Quote\Item\ToOrderItem.php

[2017-03-06 16:09] mbrinton01 commented on #8452
If the issue is only present with M2E pro then please use the fix they have provided.

[2017-03-06 16:11] ochnygosch opened #8805 "EAV ResourceModel not loading default values correctly"
EAV ResourceModel not loading attribute default values correctly.

### Preconditions

1. Magento 2.1.5
2.

### Steps to reproduce

1. Create a category named Testcat in "All Store Views"
2. Rename category to "Testcat Default Store" in "Default Store View"
3. Remove row in database table catalog_category_entity_varchar with attribute_id = 45 (Name) and store_id = 0
4. Recreate the deleted row, so

[2017-03-06 16:13] mbrinton01 commented on #8787
@caesarcxiv do you consider this issue resolved?  If so please reply back so we can close it.

[2017-03-06 16:17] sdzhepa commented on #7570
@sma09sjb, @davidstillson, @cherreman
 This bug has already fixed in scope of `MAGETWO-62044` for the latest version(develop branch)
 - Fix for 2.1 will be delivered in scope of `MAGETWO-64068`
 - Fix for 2.0 will be delivered in scope of `MAGETWO-64069`

[2017-03-06 16:17] #7570 closed, assigned to nobody

[2017-03-06 16:20] pixiesky commented on #8061
Forgot to mention. In Chrome I needed to do an "empty cache and hard reload" (right click on refresh button with the dev tools open) in order to get everything to come through.

[2017-03-06 16:22] AVoskoboinikov commented on #7994
Hi @GlobalOutsourcing

Can you tell if you are using Redis for caching?

Thanks

[2017-03-06 16:28] AirmanAJK commented on #8615
It appears that this is an issue with Apache rather than Magento. You might have noticed that the 404 response codes are Apache generated instead of the usual Magento 404 pages. This is because, by default, forward slashes cannot be encoded in URLs without getting rejected. Add the option "AllowEncodedSlashes On" in either your global or virtual host config (or maybe in the Magento .htaccess, thou

[2017-03-06 16:59] spyrule opened #8806 "Cannot filter by negative range"
When using the filter options in the product Catelog, you cannot filter by negative range.

### Preconditions

1. Magento CE 2.1.3
2. nginx hosted service
3. php 7.0.12

### Steps to reproduce

1. Create two products, and set their stock values to -1001 and -2001
2. Open the Product catelog in the admin panel
3. Filter by -1001 as from and -2001 as to fields, click filter.
4. No results found.

##

[2017-03-06 17:05] dman311 commented on #7750
I'm having the same issue.  I can add a new attribute set but even if I try to update the new set I get the same error. Sorry, we're unable to complete this request

Version: 2.0.13
Browser: Microsoft Edge, Internet Explorer, Chrome (Same result on each)
Extensions: apptrian/subcategories, ipragmatech/module-redirection

[2017-03-06 17:12] PaulodoPorto commented on #3507
Ver: 2.1.5 - Win 7, Apache 2.4,  PHP 7.0.16,  MySQL 5.7.17

Today 18:02 06.03.2017,  I´m facing the same Issue of you, now i´m going to Magento Forum to see what the guys says:

`[2017-03-06 16:27:43] main.CRITICAL: Broken reference: the global.search tries to reorder itself towards logo, but their parents are different: 'header' and '' respectively. [] []`

`[2017-03-06 16:27:43] main.CRITICAL: B

[2017-03-06 17:21] KrystynaKabannyk commented on #1931
hi @thomasnordkvist, the issue has been fixed under MAGETWO-54935 in develop branch, you can find it here and apply for your version: https://github.com/magento/magento2/commit/9bd170df9fb459cd3d5fb6fcc76cd1e3ce63919f

[2017-03-06 17:28] treestonemedia opened #8807 ""You need to choose options for your item" message doesn't go away"
Running Magento ver. 2.1.5

1. Go to list page
2. Try adding a configurable product without choosing options
3. Magento loads the product page with an error message "You need to choose options for your item."
4. From the product page, choose some options and add the item to cart
5. The page reloads with the item in cart and a success message BUT the error message is still there.

This only happens

[2017-03-06 17:42] romeof1980 commented on #5836
hi @lgoudriaan ,
look i.e. at the very first row:
|27138|sales_send_order_emails|running|NULL|2017-02-10 21:18:05|2017-02-10 21:18:00|NULL|NULL
that means to me that this cron was scheduled to run at 2017-02-10 21:18:00 AND IS STILL RUNNING RIGHT NOW!!! (it says "running")

the second also:
|32518|indexer_update_all_views|running|NULL|2017-02-12 12:49:03|2017-02-12 12:49:00|2017-02-12 12:50:10|NUL

[2017-03-06 18:12] erikhansen commented on #8554
@bka Have you had a chance to test my suggested patch yet?

[2017-03-06 18:13] siliconalchemy commented on #4549
For whatever reason this fix was pushed to develop branch but never made it into the 2.1 branch.

[2017-03-06 19:01] pisc-software commented on #7668
Ok we found something out related to this:

We are the developer of the EuVAT for Magento extension and that one also affected our extension. Tracing this back down to the database access level and transactions we found that any module / extension using the "customer_address_save_after" event and causing the customer account to be saved did add a second UPDATE statement to the original address sav

[2017-03-06 19:45] lgoudriaan commented on #5836
Thanks @romeof1980! it seems it's updating correctly now, there where no cronjobs running so i just cleared the cron_schedule table.

[2017-03-06 20:43] romeof1980 commented on #5836
hi @lgoudriaan , sounds very good!
if the cron jobs should go wrong again, clear the cron_schedule but also check my first post above about tuning the cron jobs in order to avoid hitting server resources.
cheers!

[2017-03-06 21:40] duffner commented on #7859
@denchev, thanks for the explanation.  I'll give your approach a try and I'll document my findings

[2017-03-06 21:51] gman-1986 commented on #5836
Hi @romeof1980
I removed all cron jobs
in phpmyadmin ran the following TRUNCATE cron_schedule;
changed the group:index as follows
Generate schedules every: 2 minutes
Missed if not run within: 4 minutes

applied the cron jobs again to run every 2 minutes but still no luck.

I am on shared hosting
testing on 2.1.4
[cron.txt](https://github.com/magento/magento2/files/822619/cron.txt)

really appreaci

[2017-03-06 21:57] jmtakahashi commented on #8215
@hbprincepatel have you figured out a solution?

@veloraven @miakusha have we any progress on this matter?

@claridgeandco your other issue #7093  was closed because you didn't respond.  Did you figure out a fix? or did you just give up?

[2017-03-06 22:06] romeof1980 commented on #5836
hi @gman-1986 ,
could you please provide an explanation about the file cron.txt you attached? it seems to me you're trying to run a dtb query like:
`INSERT INTO `cron_schedule` (`schedule_id`, `job_code`, `status`, `messages`, `created_at`, `scheduled_at`, `executed_at`, `finished_at`) VALUES
(1, 'catalog_product_outdated_price_values_cleanup', 'success', NULL, '2017-03-06 21:22:06', '2017-03-06 2

[2017-03-06 22:10] jmtakahashi commented on #8740
I can confirm this is an issue and is lacking attention.  I used SKU attribute and "is one of".

@deiserh please check this fix -> #8246 which helps saving the multiple selections.

HOWEVER, not all of my selections are saving yet.  In issue #8215 which seems like this is the same issue, @miakusha states that you cannot use SKU as a Catalog Rule condition, however, it appears that you can.  But wh

[2017-03-06 23:30] kukulis commented on #8698
Preconditions.
1) Website is created is on a staging server still, so I will not provide its address. It has 5 magento "websites", but for the reproduction of the situation would be enough to have in mind two websites: A and B; each website has one store view: Va for A and Vb for B.
2) There is a size attribute. There is a configurable product X with 4 variations v1, v2, v3, v4. Each variation dep

[2017-03-07 01:56] Grumag commented on #5836
So this issue is still happening for me. I am on Nexcess SIPR server, latest version of Magento 2. Anything I can do / tell Nexcess support to do?

[2017-03-07 02:07] treestonemedia commented on #8792
@yabeow any errors in the console?

[2017-03-07 02:43] phuongnd commented on #4468
Yep this issue is still in Magento 2.1.5. You can temporary solve it by [**Disable Blocks HTML output cache**](http://doc.zooextension.com/magento/novetty/#disable-block-html-output-cache)

[2017-03-07 03:44] AirmanAJK commented on #8800
If I had to guess I'd say you weren't setting an environmental variable that indicates the connection is secure (ie Apache's HTTPS=on). Magento is probably checking for that somewhere in the code and then redirecting to the same https URL as the check repeatedly fails. If you have a virtual host or enabled site on port 443, make sure you set that env variable.

[2017-03-07 03:58] AirmanAJK commented on #8681
This one was hard to track down. In the following file:

\vendor\magento\module-catalog\Model\Indexer\Category\Product\AbstractAction.php

There is a constant variable called RANGE_CATEGORY_STEP, and it is set to 500. This variable is used when the function isRangingNeeded() returns true for an index (which is the default unless overridden). This effectively limits what gets put in the product cat

[2017-03-07 05:41] haitaoseven commented on #3507
me too .. can anybody know how to fix this problem ?

[2017-03-07 06:05] orlangur commented on #3507
@PaulodoPorto @haitaoseven
**TL;DR:** these log entries are not that critical in fact and are present even in vanilla Magento installation without any customizations. Thus they do not mean anything works wrong in your store.

Proper implementation approach to fix this problem is described here: https://github.com/magento/magento2/issues/5627#issuecomment-279440749

This is something that should be

[2017-03-07 07:36] vphat28 commented on #7724
thanks for the fix, you saved me a lot

[2017-03-07 07:51] kanduvisla commented on #7169
We still have this problem from time to time. Once again this morning in a 2.1.2 installation.

Anyone else encountered this issue?

[2017-03-07 08:29] redelschaap commented on #7862
This has nothing to do with nginx configs. Magento checks those files via the file system.

[2017-03-07 09:20] zajazdowicz commented on #8452
@EmilyPepperman Could You please provide the sollution for this ? I contacted m2epro team last week regarding this issue but since then, no hear from them...

[2017-03-07 09:25] romeof1980 commented on #5836
hi @Grumag , would you mind to explain preconditions and step to reproduce?
Nexcess works just very fine (I can confirm it because my own experience) you just need to set up and tune the crons correctly. Please post the cron jobs you set up on your Siteworx and the result of `"SELECT * FROM cron_schedule;"`
It's not a bug, it's a set up process.
cheers!

[2017-03-07 09:45] mavr1982 commented on #6207
What kind of support is this?

[2017-03-07 09:56] faducrocq commented on #7722
Hi @veloraven ,

Do you have some news about this bug ?

Thanks,

Fanny

[2017-03-07 09:59] illyalvov commented on #6310
What about 2.1.5?

[2017-03-07 10:15] bpoiss commented on #7668
In my case the problem was that vat_id was not included in the DB table `customer_form_attribute`, and it was also not in the customer address attribute set.

    INSERT INTO `customer_form_attribute` (form_code, attribute_id) VALUES ('customer_address_edit', (SELECT attribute_id from eav_attribute where attribute_code = 'vat_id' and entity_type_id = (select entity_type_id from eav_entity_type whe

[2017-03-07 10:33] RUjmiak commented on #3430
Hello, I just want to know status about this issue. There is no possibility to get translated attribute frontend label - also with store code in API URL.

We still got default attribute label...

[2017-03-07 10:37] flipflap commented on #6310
Unfortunately, I think not:

[2017-03-07 10:52] radoslavdodek commented on #8268
I'm having same problem.

[2017-03-07 10:55] gman-1986 commented on #5836
Hi @romeof1980
It is working now after following your setup process carefully, that cron.txt was just an import of what it showed in cron_schedule through phpmyadmin.
There is one thing I did not change which is what @boldhedgehog said about 'Use Separate Process' to 'No' for the index CRON group.
Would you suggest I set it to No or Yes?
Thanks again for your help

[2017-03-07 11:01] eTonki commented on #8452
The solution is this:
[https://community.m2epro.com/topic/258-magento-2-issues-with-m2e-pro-need-help-frustrated/#comment-716](https://community.m2epro.com/topic/258-magento-2-issues-with-m2e-pro-need-help-frustrated/#comment-716)

Regards

[2017-03-07 11:25] jgodart opened #8809 "Product Bundle: Separate delivery does not work"
### Preconditions

1. Magento version 2.1.3

### Steps to reproduce

1. Create a Bundle Product ( Define ship items Separately) add one or more product in options
![capture d ecran 2017-03-07 a 12 29 06](https://cloud.githubusercontent.com/assets/16555023/23654436/e79d98ac-0330-11e7-9784-909c890de1fc.png)
2. Enable multishipping
3. Add custom bundle product to cart
4. Try to ship in multi address

[2017-03-07 11:31] rohitgoel commented on #7724
that works perfect thanks it really saves a lot of time .

[2017-03-07 11:38] romeof1980 commented on #5836
hi @gman-1986 ,
thanks for clarifying it and for giving us a feedback: great to know the solution works for your env too.
About boldhedgehog suggestion, I would advise to **NOT** set 'Use Separate Process' to 'No' for the index CRON group: let it set to YES.
As I pointed out, I reckon that _setting 'Use Separate Process' to 'No' for the index CRON group" is like setting cron.php (instead of cron.s

[2017-03-07 11:58] romeof1980 commented on #2855
hi there, possible solution for not fine-tuned cron jobs (expecially for shared hostings) can be found here: #5836

[2017-03-07 12:22] PaulodoPorto commented on #3507
@orlangur Thank you for your approach! About the your implementation.

1° step: activate this mechanism on CI, what signify CI please, it´s a folder or a specific file?
2° step: eliminate all critical errors! from the var/log/system.log ?
Where should i deploy this block of code that you suggest on #5627 ?

thank you in advance.

The terrible point is: I have no access to Produts > Catalog and Sto

[2017-03-07 12:41] yabeow commented on #8792
@treestonemedia how to view errors in the console?

[2017-03-07 12:59] orlangur commented on #3507
@PaulodoPorto for integration tests you can simply change severity here: https://github.com/magento/magento2/blob/develop/dev/tests/integration/phpunit.xml.dist#L67 For instance, to see only critical errors first and then eliminating less and less important issues step-by-step.

Approach I described is just to not have `system.log` polluted in case of vanilla Magento installation, so that you can

[2017-03-07 13:11] treestonemedia commented on #8792
@yabeow right click on webpage and inspect element, then click on the console tab and check there for errors

[2017-03-07 13:28] hellraiser2005 commented on #5823
March 2017 still not working, why not :(

[2017-03-07 13:55] EspertoMagento commented on #6575
@Bartlomiejsz . Thanks for your help. Now the database schema is correct.
The process ends right. But the new attribute is not saved into database.
In your Observer if I print into log file,  **$quoteInstance->getShippingAddress()** the array is empty/broke while **$quoteInstance->getBillingAddress()** is shown correctly. Why? seems like quote shipping address not exists.

[2017-03-07 13:56] SchumacherFM commented on #1002
Has this now been fixed on the 16th of Dec 2016?

[2017-03-07 14:14] radoslavdodek opened #8810 "REST API - Attribute option creation -> no ID returned"
### Preconditions
1. Tested in Magento version: 2.1.4

### Steps to reproduce
1. Fresh install
2. Make following REST request:

with following Body:
[code]

### Expected result
One of following:
1. The response Body should contain the ID of newly created option
2. The response Header should contain the ID of newly created option

The reason is that external systems will usually remember the ID so

[2017-03-07 14:46] ksz2013 opened #8811 "Id missing in repository getList()"
In the cms module the getList() functions are not returning back the id's of the cms_page or cms_block

### Preconditions
1. Magento 2.1.3

### Steps to reproduce
1. using for example the pageRepository, to fetch cms pages
2. Pseudo code example:

 `$searchCriteria = $this->searchCriteriaBuilder->`
`                addFilter('identifier', 'weltpixel-icons')`
`                ->create();`

`

[2017-03-07 15:08] brendanmckeown commented on #6818
When will this fix be included in a release?

[2017-03-07 15:10] magnetic5355 commented on #8787
The above fix resolved the issue

[2017-03-07 15:10] #8787 closed, assigned to nobody

[2017-03-07 15:11] mbrinton01 commented on #1002
@SchumacherFM fixed in _develop_, not yet backported to _2.0_ and _2.1_.

[2017-03-07 15:11] erfanimani commented on #6818
Apparently Magento 2.2 will contain all fixes currently in the develop
branch.

On 7 Mar 2017 23:08, "Brendan McKeown" <notifications@github.com> wrote:

[2017-03-07 15:21] nfishbane commented on #8681
We are facing the same issue after migration from 1.8 - indexing, disable/enable , cache - did not work,  the only way we found to solve it is to run a script in the background that saves all products this put them back in the category but since we have a lot of products takes a long time, would love to get some other ideas how to solve it

[2017-03-07 15:48] KrystynaKabannyk commented on #8545
Closing as a duplicate of #5627

[2017-03-07 15:48] #8545 closed, assigned to nobody

[2017-03-07 15:50] srinivasanithin opened #8813 "Unable to create refund for order with cash/check payment method"
### Preconditions

1. Magento 2.1.5
2. Php 5.6.21, MySQL 5.6

### Steps to reproduce

1. Create a sales order either using Admin or front end with Cash on delivery as payment method
2. create an invoice for that sales order
3. use that invoice to create refund via Refund api with isOnline property in request as false

### Expected result

1. should be creating a invoice with refund offline.

### A

[2017-03-07 17:05] PascalBrouwers commented on #7862
Confirmed this bug in Magento 2.1.4 when having more than 1 language
e.g. running bin/magento setup:static-content:deploy en_US nl_NL creates empty js-translation.json
Running these commands seperate:
bin/magento setup:static-content:deploy en_US
bin/magento setup:static-content:deploy nl_NL
makes the translation work again.

[2017-03-07 18:48] twistedatrocity commented on #8681
Had same issue after data migration, I think this may be more of a bug with the data migration tool. Workaround: Manually opened each category in admin and clicked save. Re-indexed afterward and all products show up on frontend category view now.

[2017-03-07 19:07] ghost commented on #8630
We can confirm this happens with domains containing an underscore, as well. The only fix was to remove the underscore that we've found so far.

[2017-03-07 19:14] csalyers commented on #8630
Replicated this issue on a fresh Magento 2.1.5 installation - originally installed on a subdomain that included an underscore. Admin URL redirected to sub_domain.domain.com/index.php/admin/http:/index/sub_domain.domain.com/index.php/admin/admin/index/index/key/key/

Moving the installation to another subdomain without an underscore resolved the issue.

[2017-03-07 19:21] erikhansen opened #8815 "Varnish "Connection reset by peer" error when large catalog is reindexed on schedule"
### Addition information for Re-Open

The Issue was reopened based on several complaints that it **was not properly fixed** and it still can be reproduced on the `2.2.8` and `2.3.1`
For more details and explanation see next comments:
- https://github.com/magento/magento2/issues/8815#issuecomment-493552366
- https://github.com/magento/magento2/issues/8815#issuecomment-504731799

### Preconditions
1

[2017-03-07 20:14] rparsi-commer commented on #8801
I'm getting a similar error for my custom module, using web api.
I have one route defined in my webapi.xml that accepts POST.
The data gets saved to the database but I get the ReflectionException on
the returned object (it can't find the interface)

[2017-03-07 20:49] racardoso opened #8816 "Invalid cookie: Illegal 'path' attribute when run Magento Performance Toolkit"
I try to run Magento Performance Toolkit. After successfully install Magento2 and generate test fixtures with:

`magento setup:perf:generate-fixtures /var/www/magento2/setup/performance-toolkit/profiles/ce/medium.xml`

 I try to run `benchmark.jmx` on Jmeter and got the following error:
[code]
Checking jmeter.log I saw that cookies are not being saving at all:

[code]
Thus the assert fails since t

[2017-03-07 23:54] jmtakahashi commented on #8215
@hbprincepatel could you let me know of the fix for this issue since you closed it?  Sorry, but I'm having the same problem as you.

[2017-03-08 01:46] gooki commented on #7977
After doing the above changes and having paypal change our currency on their end to CAD we finally were able to process a payment. I do not know if it is due to us changing the above and the paypal change or just because of the paypal change. I think it is because of both.

[2017-03-08 05:12] webspeaks commented on #8115
I am having same issue on 2.1.3
Any idea how to remove that?

[2017-03-08 05:13] hbprincepatel commented on #8215
@jmtakahashi I can't find any solution for this. If any one help I reopen issue.

[2017-03-08 05:24] jmtakahashi commented on #8215
@hbprincepatel ok.  Same for me.  @miakusha anything?

[2017-03-08 06:55] twistedatrocity commented on #6509
The correct format is for non 24 hour time is:
`<item name="dateFormat" xsi:type="string">MMM dd, YYYY, h:mm:ss A</item>`

Note the lower case h for hours.... if upper case you get 24 hour format, if lower case, non 24 hour.

[2017-03-08 06:59] kaushalsutharhs commented on #5931
@manfrinm  : Hi I've tried patch -p0 < test.patch in terminal but it's asking for file path for each file in filepath, Can you please suggest me how can I apply your provided patch?

[2017-03-08 07:07] piotrekkaminski commented on #8504
@maderlock what is the use case?

[2017-03-08 07:16] kaushalsutharhs commented on #5931
@manfrinm  : I'm getting error

[code]

[2017-03-08 08:05] kaushalsutharhs commented on #5612
@manfrinm  : I'm getting error, Using CE 2.1.5

[code]

[2017-03-08 09:47] manfrinm commented on #5612
@kaushalsutharhs I've try to apply the patch on Magento CE 2.1.4  and 2.1.5 base version, and it goes correctly. Try to execute with -vvv to get more information about it.
Anyway, I've talked with official magento's developers (EE support), and they told me that they are currently on development with the "official patch"

[2017-03-08 10:19] antbates91 commented on #8640
We have the same problem here. Updated to 2.1.4 from 2.1.2 and all Out Of Stock Products show as 0.00.

[2017-03-08 10:46] giano574 opened #8817 "REST API salesRuleCouponRepositoryV1 not saving all parameters"
### Preconditions

1. Magento 2.1.4

### Steps to reproduce

1. POST request to rest/V1/coupons with following JSON
[code]

### Expected result

<pre>
{
  "coupon_id": 11,
  "rule_id": 14,
  "code": "aaabbb",
  <b>"usage_limit": 10</b>,
  "usage_per_customer": 0,
  "times_used": null,
  <b>"expiration_date": "2017-03-19"</b>,
  "is_primary": null,
  "type": 1
}
</pre>

### Actual result

<pre>
{

[2017-03-08 11:36] gemscng commented on #4883
For any one who come across this post. You can just copy validation.js from lib/mage to your own theme's web folder and create mage folder, says [Vendor]/[theme]/web/mage/validation.js.  Then add back $.mage.__().

 Attached is a working js we are using now.
[validation.txt](https://github.com/magento/magento2/files/827440/validation.txt)

[2017-03-08 11:46] cih997 commented on #8202
I had the same issue with 2.1.4 but could not find the cause.

The ugly workaround for me was to modify core temporarily:

[code]

[2017-03-08 11:58] disxount opened #8818 "Admin all columns and grid fault"
See screenshot :

http://prntscr.com/ehg07f

How to fix ?

Magento 2.1.5

Update :

All grids and column are like this ...

Regards,

Marcel

### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-03-08 12:55] xmasti commented on #4604
zzzz

[2017-03-08 13:09] webspeaks commented on #5418
Still present in Magento 2.1.5.

[2017-03-08 13:47] webdesk commented on #6240
I have faced the same issue and made the following changes to resolve it.

File: module-customer/view/base/ui_component/customer_form.xml
Change:

`<field name="sendemail_store_id">
   <argument name="data" xsi:type="array">
	   <item name="options" xsi:type="object">Magento\Store\Model\System\Store</item>
	   <item name="config" xsi:type="array">
		   <item name="label" xsi:type="string" translat

[2017-03-08 14:13] avra911 commented on #8643
sorry @magexo but why would it be thead-safe when running static-content:deploy from same server and not over ssh or ant, seems very weird, after all is the same command

[2017-03-08 14:24] krejcif commented on #8643
Static deploy is running in more threads...

We have confirmed random issues with redis even without ant, only from shell.

Running with -j 1 will always end with success.

[2017-03-08 14:35] avra911 commented on #8643
That is a great workaround @magexo (if that so), really appreciate that!

[2017-03-08 14:52] StefanRijnhart commented on #8371
cf. https://github.com/magento/magento2/issues/8371

[2017-03-08 15:00] krejcif commented on #8643
It's nasty workaround, because deploy takes ages...

[2017-03-08 15:07] avra911 commented on #8643
yes, I can understand, but maybe is better ages than never :)

[2017-03-08 15:13] ericahoekerd commented on #5330
in Magento 2.1.5 this seems to be solved!

[2017-03-08 15:27] anthonycouckhuyt opened #8819 "Price subproducts of configurable product set to 0 after editing"
### Preconditions
Magento CE 2.1.2 without sample data is installed.
Running on Linux Webserver with PHP 7, MySQL 5.0.12

### Steps to reproduce
1. Create new configurable product
2. Add new configuration to the product listed in step 3.
3. Set different price for different attribute (e.g. Color blue: €12. Color red: €18)
4. Save the product.
5. Confirm prices showing 12 & 18 in the configurations

[2017-03-08 15:43] ericahoekerd opened #8820 "WEBAPI: Unable to save Product when typeId and status is missing(Magento 2.1.5.)"
### Preconditions
Magento 2.1.5 SOAP API

### Steps to reproduce
1. Create a product without typeId and status (see attached XML request)
2. Send the XML to Magento
3. You will receive error;: cannot save product
4. Product is created in backend!

![image](https://cloud.githubusercontent.com/assets/15381778/23710769/2979f89a-041e-11e7-9c9a-f6378cd4caac.png)

### Expected result
1. The product shou

[2017-03-08 15:53] ericahoekerd commented on #8810
Same results for SOAP API, returning option id is better than returning string value.

[2017-03-08 16:02] iamserkanyilmaz commented on #7056
I guess this error associated with di.xml.

have this error.
`Fatal Error: 'Uncaught Error: Cannot instantiate interface Future\Test\Api\Data\ShopInterface in /var/www/magento2/lib/internal/Magento/Framework/ObjectManager/Factory/Dynamic/Developer.php:50`

added this lines in di.xml
`  <preference for="Future\Test\Api\Data\ShopSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
<

[2017-03-08 16:04] JosueTorresM commented on #5876
Hello guys,

Hi @fmd-sav I tried to add the key fields in the additional_attributes but it does not work :(

This how looks my configurable_variations:
sku=MX_2303024_31,size=25|sku=MX_2303024_32,size=25.5

How can I add these keys to the additional_attributes?, only for the configurable product? or for every simple product?

Thx a lot

[2017-03-08 16:06] avra911 commented on #2797
@Igloczek running setup:upgrade doesn't detect and add the new design into the theme table as well?

When I tried it, I only notices is adding 1 instead of 0 in TYPE column.

[2017-03-08 16:17] avra911 commented on #8643
strange that I never reproduced the issue running the command in the server, glad to hear that from you. I reopened he issue now.

[2017-03-08 16:20] PierAlex commented on #6729
Same problem for me on Magento 2.1.2 CE, the workarounds above do not take effects.

[2017-03-08 16:25] PaulodoPorto opened #8821 "Admin Reports - Unable to generate reports By Customers"
Hello Guys, Cheers!

Magento CE Ver: 2.1.5 with sample data is installed. Apache 2.4, Win 7, MySQL 5.7.17
magento mode: developer

Magento installation - DB tables uses prefix_name.

DB: magento1
Tables:
bd_customer_entity
bd_customer_entity_datetime
bd_customer_entity_decimal
bd_customer_entity_int
bd_customer_entity_text
bd_customer_entity_varchar
bd_customer_form_attribute
bd_customer_grid_flat

[2017-03-08 17:04] racardoso commented on #8816
turns out I need to pass `index.php/admin_1wn484` on `admin_path` and i have to edit SetUp Login Submit Form to use POST instead GET method. Works fine now.

[2017-03-08 17:04] #8816 closed, assigned to nobody

[2017-03-08 18:12] twistedatrocity commented on #6018
@andidhouse I"m having the same problem. There is a noticeable delay using a desktop, like a good 2-3 seconds if images are in the cache, longer if not, and this is on a beastly modern gaming laptop. However on a mobile, Galaxy S4 with chrome, the delay is a solid 10 seconds at times, more if images not cached. The phone is dated but isn't THAT old. The phone still works well on other ecommerce si

[2017-03-08 19:10] andidhouse commented on #6018
@twistedatrocity no solution at all - magento team just does "part fixing" like the picture scroll bug. I suggest two ways:

- install magic zoom plus which works lightning fast and solid
- get rid of magento2 and change to another system ;-)

You can not trust magento to at this stage to implement bugfixes as fast as needed and also as solid as needed.

[2017-03-08 19:11] andidhouse commented on #6018
@piotrekkaminski are you really shure it is a good idea to close such a major not solved mug here at all? No words on this...

[2017-03-08 19:20] ignaciomella commented on #6018
I'm back on magento1 ... Current Magneto 2 commitment falls short of many of us who expected great things. To date.. I don't see the point of upgrading to M2... lots of problems (like this thread) and not any major benefits. Sad.

[2017-03-08 20:32] piotrekkaminski commented on #1146
The issue is planned for 2.2.0 release (and possibly backport to earlier version in one of the patches)  but we don't have a date yet.

[2017-03-08 22:44] d0brii commented on #8292
@amandeepsinghvirdi  It doesn't resolve issue since invalid MD5 would deemed, both valid and invalid transactions, to return error and possibly stuck. Which is not the case.
Issues is only with invalid transactions in the live mode that after the error message returns from Aturize.net are stuck with endless spinning issue.

In addition to that, there is no issues at all with sandbox credentials.

[2017-03-09 00:07] hubaig commented on #8681
Is there a permanent solution to this for now?

[2017-03-09 00:38] scottsb commented on #5333
@annhudspeth Was any further decision made on this?

[2017-03-09 00:50] JasonFerris commented on #5333
Yes the removal of the menus makes it MUCH harder to navigation through the product editor in the admin. Any chance this will get fixed in 2.1.6?

[2017-03-09 01:38] Szymon-GP commented on #6069
I'm using 2.1.4 and it's still an issue

[2017-03-09 02:47] flnative opened #8825 "Customer error when checkout with Authorize.net"
### Preconditions

1. Magento 2.1.5
2. Shared Hosting server
3. PHP 5.6.30
4. No Varnish (not available for shared hosting)
5. OPcache Disabled
6. Production mode
7. Store payment settings are set to default (all parameters are checked),
[FireShot.Capture.77.-.Configuration.__.-.http___dutchhar.nextmp.net_admin_8.pdf](https://github.com/magento/magento2/files/834992/FireShot.Capture.77.-.Configura

[2017-03-09 03:10] thdoan opened #8826 "Editing color swatches can lead to "Undefined index" error"
### Preconditions

1. Magento 2.1.2
2. Developer mode

### Steps to reproduce

1. In admin, edit 'color' product attribute
2. Add a bunch of new colors (a mix of swatch images and hex values)
3. Delete random colors
4. Repeat steps 2-3

### Expected result

1. There should not be an error.

### Actual result

1. Eventually, you cannot save new colors anymore. This error is shown:

![image](https:/

[2017-03-09 03:45] #7614 closed, assigned to nobody

[2017-03-09 03:45] #8149 closed, assigned to misha-kotov

[2017-03-09 04:07] careys7 opened #8827 "Can't save attribute via REST API - LogicException: Property "IsUsedInGrid" does not have corresponding setter in class "Magento\Catalog\Api\Data\ProductAttributeInterface""
### Preconditions

1. Magento 2.1.5, PHP 7.0

### Steps to reproduce

1. Send Web API request as follows:

[code]

### Expected result

1. Attribute updated successfully

### Actual result

1. Error returned via API:
[code]

Contents of `webapi-58c0d36765f2b`:

[code]

[2017-03-09 06:36] umang-ranium opened #8828 "how to create configurable product with bundle product in magento 2"
### Preconditions

1. Magento 2

### Steps to reproduce

1. Create configurable product
2. Add bundle product
3. Go to product try to add, unable to add product with msg We don't have as many "Config product" as you requested

### Expected result

1. Should add configurable product bundle option

### Actual result

1. unable to add product with msg We don't have as many "Config product" as you req

[2017-03-09 06:37] almuete commented on #1958
Any good news on this feature?

[2017-03-09 07:46] kanduvisla commented on #8176
Still no update on this? Can at least anyone confirm this issue? Or is it just me?

[2017-03-09 07:52] lucscu commented on #2313
2 years bug?

[2017-03-09 07:57] fio86 opened #8829 "Use own method instead of referenced one in another object"
Hello!

Is there a reason why not using the own method to get validated data instead of the referenced one in another object?

Used in:
[https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogImportExport/Model/Import/Product.php#L896](https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogImportExport/Model/Import/Product.php#L896)
[https://github.com/magento/m

[2017-03-09 08:01] MTheProgrammer opened #8830 "Can`t delete row in dynamicRows component"
### Preconditions
1. Magento 2.1.4

### Steps to reproduce

1. Go to Products -> Catalog
2. Edit any product
3. Click Add Attribute button
4. Create new attribute of type Visual Swatch or Text Swatch
5. Add swatch
6. Try to Delete row with Bin icon

### Expected result

1. Row is deleted

### Actual result

An error is produced in the js console output
[code]

### Solution
In Catalog/view/adminhtm

[2017-03-09 08:52] jcconde commented on #5823
Yep, I say the same - March 2017 still not working, why not :(

[2017-03-09 09:19] tudn9x commented on #8764
Hi @springimport let open product_types.xml and add to node `type` attribute `isQty="true"`
Sorry for my english is not good.

[2017-03-09 09:59] andimov commented on #8672
@jzahedieh
Thanks for reporting this issue.
Internal ticket MAGETWO-65399, which tracks this GitHub issue, is in our issue backlog.

[2017-03-09 10:26] iamgeert commented on #7146
@Frits1980 ; What extensions do u use? Did you manage to solve it?

[2017-03-09 10:27] nntoan commented on #7371
@erfanimani Regarding to your previous comment, could you give me a lead about

Are you mean Magento\ConfigurableProduct\Block\Product\View\Type\Configurable? Because that is the class name which added `getCacheKeyInfo` in the two commits you posted.

Thanks.

[2017-03-09 10:28] illyalvov commented on #7198
Hi. Any updates on this?

[2017-03-09 10:35] iamgeert commented on #7146
Nevermind i solved it, it with the information of @blewinsky . I tried an extension Emagicone Mobile assistant. <resource id="Emagicone_Mobassistantconnector::settings"> was missing the title  -> file : app/code/Emagicone/Mobassistantconnector/etc/acl.xml

before:
`<resource id="Emagicone_Mobassistantconnector::settings">`

after:
`<resource id="Emagicone_Mobassistantconnector::settings" title="Em

[2017-03-09 10:58] erfanimani commented on #7371
Hi Toan,

If you patch through DI, meaning if you create a class that rewrites the
class referenced in the commit, you'll also need to rewrite that swatches
class I posted, because it directly extends from `
Magento\ConfigurableProduct\Block\Product\View\Type\Configurable`.

Hope that made sense.

On 9 Mar 2017 6:28 PM, "Toan Nguyen" <notifications@github.com> wrote:

@erfanimani <https://github.c

[2017-03-09 11:50] Khaleel commented on #6410
Have there been fixes for this? The localStorage is mashed up hack!

[2017-03-09 11:51] anthonycouckhuyt commented on #8819
Problem on my install was that there was a character before the numbers.

In Magento\Framework\Locale\Format.php. The getNumber function does check for spaces and apostrophe, but not for different characters. In my case there was a character that looked like a space, ascii code showed 194.

This line should be added to the getNumbers function:
`$value = str_replace(chr(194).chr(160), '', $value);`

[2017-03-09 12:38] PaulodoPorto commented on #5127
Hello Guys,
Today is 13:11 09.03.2017 and i use:

Magento CE Ver: 2.1.5 Apache 2.4, Win 7, MySQL 5.7.17 with sample data is installed.
magento deploy:mode:set developer

As @henk-webleads mentioned, i don´t know if it is the perfect solution, but for me it´s the ideal solution.
It Works!

Befor i couldn´t acess Adminpanel > Produts > Catalog and Adminpanel > Stores > Configuration

Thank you!

[2017-03-09 12:51] kanduvisla commented on #2913
Any update on this? It still persists in Magento 2.1.4

[2017-03-09 13:14] franckgarnier21 commented on #4432
Hello I can confirm that Magento 2.1.5 still not fixed.

It is a blocking issue when this API call is used to log admin customer to an internal application without the possibility to reactive this account.

Thanks to provide a fix.

[2017-03-09 13:35] wsagen commented on #7687
Any update on this?

[2017-03-09 14:16] martynshanks commented on #5954
Same Issue:
Fatal error: Uncaught TypeError: Argument 1 passed to Test\Test\Model\Plugin\Test::__construct() must be an instance of Magento\Customer\Model\***\***, instance of Magento\Framework\ObjectManager\ObjectManager given...

Magento 2.1.5 CE
Was on PHP 7.0.15, switched to 5.6.30 no difference. Deleted contents of Di and Generation folders, problem solved.

Then I ran:
**_php bin/magento set

[2017-03-09 14:24] #8793 closed, assigned to nobody

[2017-03-09 14:28] martinhetschel opened #8833 "Tier price saving percentage wrong when VAT is included in price"
### Preconditions

Magento ver. 2.1.5, Luma theme

### Steps to reproduce

1. Store->Configuration->Sales->Tax->Catalog Prices: including tax
2. Article Price 16€
3. Tier Price 13.60€ for 10 pieces

### Expected result

1.  Frontend should show:
Buy 10 for €13.60 each and save 15%

### Actual result

1.  Frontend shows instead:
Buy 10 for €13.60 each and save 29%
![image](https://cloud.githubuserc

[2017-03-09 14:32] Tjab opened #8834 "Credit on Bundles returns invalid qty_refunded"
When retrieving a credit memo via REST, an invalid `qty_refunded` is given.

### Preconditions
1. A bundle (dynamic or static does not matter) with items that are in the bundle more than once (in my example the item is in the bundle 3 times)
2. A credit memo on a order that ordered the bundle (again, in my example, it's ordered 2 times)

### Steps to reproduce
1. Request the credit memo via REST (

[2017-03-09 14:38] antbates91 commented on #7881
As an FYI this issue has been resolved for me by updating Magento to version 2.1.3 or higher

[2017-03-09 14:38] #7881 closed, assigned to nobody

[2017-03-09 14:54] annhudspeth commented on #5333
@pboisvert do you know where this is prioritized?

[2017-03-09 14:56] southerncomputer commented on #5823
Been using the patch above for past 3-4 months no sweat with huge custom fieldset.xml , orders to quotes, quotes to orders, orders/quotes to edit, quote_items -> sales_order_items , sales_order_items -> quote_items...

[2017-03-09 15:36] franckgarnier21 commented on #7412
I reproduce the same problem on magento 2.1.x

A workaround is to prefix or suffix image name.

[2017-03-09 15:56] korostii opened #8836 "[2.1.5] Changing theme's title via theme.xml has no effect"
It seems that theme list and metadata shown in admin at `Content > Design > Themes` is not getting update while running Magento2 in production mode, ever.

### Preconditions

1. Magento 2.1.5, PRODUCTION mode

### Steps to reproduce

1. Open a `theme.xml` file inside any theme folder used by your Magento instance
2. Edit content of the <title> tag ("rename" the theme), save file
2a. (Optional) Try

[2017-03-09 16:16] caiyundong commented on #5736
check the var/log/exception.log

My sales_order_item table contains product_id that I have deleted before, which causes the exception to insert into sales_bestseller_daily.

After removing those items, then it would be fine.

[2017-03-09 16:31] flnative commented on #8825
Please, anyone. I need to fix this once and for all before I abandoned Magento once and for all.

[2017-03-09 17:15] lazyguru commented on #8245
I just did some retesting on a vanilla 2.1.4 with sample data and I am not seeing this issue any more.  Perhaps it _was_ fixed in 2.1.4 after all?

FYI, I am **not** seeing the issue that @rhertogh reported.

[2017-03-09 17:18] scottsb commented on #5901
@AzVo This same issue was reported on StackExchange, and I traced the root of the issue. You may want to note this in your internal ticket if it helps: http://magento.stackexchange.com/a/157773/567

[2017-03-09 17:46] scottsb commented on #7510
Note that this same issue applies to product page layout XML updates in the admin as well.

[2017-03-09 17:47] scottsb commented on #5901
Unfortunately, this issue with `<update>`s applies to product pages as well, due to the bug being in the general `Merge` class. I have not tested, but I would expect it applies to CMS pages as well.

[2017-03-09 18:56] jesslynkoh89 commented on #6602
go to database,
find ui_bookmark table,
delete all entries with "cms_page_listing" in "namespace" column.

NO MORE "$sorting['direction']" error!

This works for me.

Hopefully this helps others.

[2017-03-09 19:00] Dorado-John commented on #8652
I am working on Magento2 ver 2.1.5 and this problem is occurring for me exactly as described.

[2017-03-09 20:06] okorshenko commented on #2370
@dmitry-fedyuk thank you for reporting the issue.
@cavalier79 thank you for fixing this issue in PR: magento/magento2#8758

[2017-03-09 20:06] #2370 closed

[2017-03-09 20:09] okorshenko commented on #3882
@adragus-inviqa thank you for reporting the issue.
@madotto thank you for fixing the issue in PR: magento/magento2#8772

[2017-03-09 20:09] #3882 closed, assigned to madotto

[2017-03-09 20:16] okorshenko commented on #8618
@nilesh2jcommerce thank you for reporting the issue
@mcspronko thank you for fixing this issue in develop branch. PR: magento/magento2#8759

[2017-03-09 20:23] okorshenko commented on #8709
@spipu thank you for reporting the issue
@renatocason thank you for fixing this issue in PR: magento/magento2#8768

[2017-03-09 20:23] #8709 closed, assigned to renatocason

[2017-03-09 20:24] okorshenko commented on #2558
@dmitry-fedyuk thank you for reporting the issue
@renatocason thank you for fixing the issue in PR: magento/magento2#8762

[2017-03-09 20:24] #2558 closed, assigned to renatocason

[2017-03-09 20:31] okorshenko commented on #7103
@Corefix Thank you for reporting the issue
@giacmir thank you for fixing this issue in PR: magento/magento2#8776

[2017-03-09 20:44] AirmanAJK commented on #7497
I just spent quite a bit of time debugging this one. It appears that whenever you have a postcode that will show up at checkout page load, either by a logged in user with a saved address, or a user who used the "estimate shipping" before moving to checkout, the call to update shipping rates is performed TWICE. Once to get the initial rate, but the second one seems to be due to the postcode getting

[2017-03-09 21:06] ericrisler commented on #7844
@bartlubbersen
The \Magento\Customer\Controller\Adminhtml\Index\Validate::_validateCustomer() method uses the \Magento\Customer\Model\Metadata\Form::extractData() method to pull out the submitted form data in the admin. This method returns a data array of attribute_code=>values but excludes the 'entity_id' value. Later in the validation call stack, this causes the validation to fail. Set a breakpo

[2017-03-09 21:10] AirmanAJK commented on #6929
I encountered this issue due to the database field quote.reserved_order_id being an already existing order. The database constraint caused the insert statement to fail. This was immediately following a bad paypal order attempt, so perhaps the reserved id was updated in the quote, but the sales_sequence increment ID was not. I was only able to resolve this by manually deleting the reserved_quote_id

[2017-03-09 21:37] dersam commented on #3754
This issue still exists in 2.1.5.

[2017-03-09 21:42] mombrea commented on #4506
@pynej for full site ssl, try setting both the base url and base secure url to https

`php bin/magento setup:store-config:set --base-url="https://example.com/"`
`php bin/magento setup:store-config:set --base-url-secure="https://example.com/"`
`php bin/magento cache:flush`

[2017-03-09 21:59] mombrea opened #8837 "Google Analytics code being placed in body instead of head"
### Preconditions

1.  Magento version 2.1.5
2.  Google Analytics Account

### Steps to reproduce

1.  Enable Google Analytics in Magento by going to Stores->Configuration->Sales->Google API
2.  Add your Google Account Number and Save

### Expected result

1. The Google Analytics code should be output neat the top the the <head> tag on the page

### Actual result

1. The Google Analytics code is o

[2017-03-09 22:09] sshymko commented on #2976
Suffering the same issue. The static content deployment command does NOT create the file `pub/static/adminhtml/Magento/backend/en_US/secure/requirejs-min-resolver.min.js`. Instead, it's being created in run-time upon requests to the admin panel.

[2017-03-09 22:21] pynej commented on #4506
Oh I'v tried that, The system gets really pissy and force rewrites URL's now matter how I do it when in production mode due to the HTTP Proxy layer.  Oddly it seamed to work in standard mode.

[2017-03-09 22:29] AirmanAJK commented on #6793
I ran into this same issue. It turns out, Magento uses the MySQL full text search functionality which has a default minimum word length 4 characters. This means that anything less than that is not at all considered in the search.

You can update this value in your mysql configuration (ft_min_word_len) and then rebuild the index. I set mine to 2 and get much better results.

[2017-03-09 22:56] bencorlett commented on #8520
I'm having the exact same issue as well.

@robbanl, product data (for example, "name") is not duplicated across scopes, it remains global (being greyed out on a store view scope and showing "use default"):

![screen shot 2017-03-10 at 9 57 06 am](https://cloud.githubusercontent.com/assets/181919/23774500/031413b0-0578-11e7-9502-96c11fe06b96.png)

There is no way, using either `ProductRepositoryInt

[2017-03-09 23:34] mfdj opened #8838 "Column.php fails to handle array data for direction param"
### Preconditions

1. Any version of PHP
2. Any stable version of Magento

### Steps to reproduce

1. I navigate to  Admin > Content > Design > Configuration
2. I see "Something went wrong" and not the table of applied theme configurations
3. I check the javascript console and I see that an XHR request failed:

![screen shot 2017-02-07 at 1 20 23 pm](https://cloud.githubusercontent.com/assets/1110

[2017-03-10 00:37] Ctucker9233 commented on #7408
@olysenko @magento-team Any progress on this? Let me know if you need more information.

[2017-03-10 00:43] Ctucker9233 commented on #7408
@olysenko @magento-team Still doing the same thing in 2.1.4.

[2017-03-10 01:12] Ctucker9233 commented on #6438
@SerhiyShkolyarenko What version of Magento is this in or is going to be in?

[2017-03-10 01:15] Ctucker9233 commented on #5861
@olysenko any commit references for the backports?

[2017-03-10 02:28] nntoan commented on #7371
@erfanimani I don't know how could you solve this problem, but seem this [pull request](https://github.com/magento/magento2/pull/8593/files/92a6e89f97e68222565539d87c1006f93d155513) can't work for me.

I added `getCacheKeyInfo` to `Magento\Swatches\Block\Product\Renderer\Configurable`.
The price is not correct after you choose a new currency, for e.g 32AUD -> 10.37GBP (must be 18.36GBP). This pric

[2017-03-10 02:39] nntoan commented on #7371
@erfanimani I don't know how could you solve this problem, but seem this [pull request](https://github.com/magento/magento2/pull/8593/files/92a6e89f97e68222565539d87c1006f93d155513) can't work for me.

Even I also added `getCacheKeyInfo` to `Magento\Swatches\Block\Product\Renderer\Configurable`.
The price is already not correct after you choose a new currency, for e.g 32AUD -> 10.37GBP (must be 18

[2017-03-10 04:00] drc-mw2 opened #8840 "Shopping Cart Pricing Rule - Coupon Code Invalid After Code Changed"
Several Shopping Cart Pricing Rules were created with specific coupon codes. They were tested to be working as expected. However, the marketing team decided to change the coupon code name, so the coupon code was updated on the existing rule, e.g. originally ALWYNVIP changed to AC30. Once the name change occured on the coupon code, the coupon code would present invalid code when used on the store f

[2017-03-10 04:56] sennin32 commented on #7129
Why this case has been closed?
There's no Puerto Rico in the list...

[2017-03-10 05:33] erfanimani commented on #7371
@nntoan Sorry no, I did exactly the same as that PR, except that I also added the `getCacheKeyInfo` method to `Magento\Swatches\Block\Product\Renderer\Configurable` (in addition to `Magento\ConfigurableProduct\Block\Product\View\Type\Configurable`.

That did the job for me.

There's also another issue related to this one, and it seems if you have catalog price rules, the same symptoms of this bug

[2017-03-10 06:05] kaushalsutharhs commented on #5612
Hi @manfrinm , Thanks for the reply, I'm getting following error while applying patch.

[code]

[2017-03-10 06:17] hardiklinksture commented on #7759
Magento version 2.1.4

Same issue generate in my exception.log

[2017-03-10 07:13] jarnail104 commented on #5784
I am having same issue in version Magento ver. 2.1.3.

Preconditions
Magento CE 2.1.3 installed with sample data
PHP 7.0.15 with Zend Engine 3.0.0
MySQL 5.0.12

Steps to reproduce:
Go to Stores -> Attributes -> Attribute Sets
Click "Add Attribute Set"
Enter Attribute Set name and select base set ("Default" selected) and click "Save"
Assign attributes (NOTE: this error happens even if no new attrib

[2017-03-10 07:30] kamleshyaduwanshi commented on #2976
Run the following commands:-

php bin/magento setup:upgrade
php bin/magento setup:di:compile
sudo chmod -R 777 var pub
php bin/magento setup:static-content:deploy

I hope the issue will be resolved.

[2017-03-10 07:33] sshymko commented on #2976
@kamleshyaduwanshi,
No, the issue is reproducible after running the provided commands (ordinary deployment sequence).

The workaround above by @maderlock works perfectly:
[code]

[2017-03-10 08:12] jarnail104 opened #8841 "Unable to save attribute set after creating"
When trying to create and save a new Attribute set. I am presented with a message saying "ATTENTION Sorry, we're unable to complete this request." when trying to save.

Preconditions

Magento CE 2.1.3
PHP 7.0.15 with Zend Engine 3.0.0
MySQL 5.0.12

Steps to reproduce:
Go to Stores -> Attributes -> Attribute Sets
Click "Add Attribute Set"
Enter Attribute Set name and select base set ("Default" sele

[2017-03-10 08:57] KAYLukas commented on #4547
This should be automatically updated from the list at
http://data.iana.org/TLD/tlds-alpha-by-domain.txt
TLDs are frequently added.

[2017-03-10 09:06] reijervano opened #8842 "Custom tracking is not handled correctly in popup"
When you add a tracking to a shipment you can use the Custom option. The tracking is then an array instead of an object. The popup however uses it as an object which creates an exception.

### Preconditions
1. Magento 2.1.5
2. PHP 7

### Steps to reproduce
1. Create order.
2. Add shipment with custom carrier code.
3. Open the Track pop-up.

### Expected result
1. Pop-up with the tracking informati

[2017-03-10 09:13] PGLDK opened #8843 "Pressing back on payment window returns empty cart and cookie erros"
### Preconditions
1. Magento version 2.1.4
2. Bambora payment module.

### Steps to reproduce
1. Adding product to cart - going to checkout
2. Fill out checkout information
3. Placing order
4. Press back on payment window.

### Expected result
1. Going back to checkout or cart with items in cart.

### Actual result
1. Returning to a empty cart, if you add the product to cart again, nothing happens

[2017-03-10 09:14] chilam1234 opened #8844 "Disable Email Communications does not work"
### Preconditions

1. Magento 2.14
2. PHP 7.04
3. MySQL Ver 14.14
4. Apache/2.4.18 (Ubuntu)

### Steps to reproduce

1. Store Tab ->Advanced Tab -> System -> Mail Sending Settings
2. Set Disable Email Communications to Yes
3. Add a item to Cart
4. Click Go To Checkout
5. Select shipment method and Click Next
6. Click Place Order
7. Redirect to Payment Gateway
8. Cancel the payment process in payme

[2017-03-10 09:19] PGLDK commented on #5439
same 2.1.4

[2017-03-10 09:22] nilesh2jcommerce commented on #8618
Hi @okorshenko
Yeah i uploaded patch in my site and its seems working.Thank you @okorshenko to looking into this and @mcspronko to fix this issue.

[2017-03-10 09:25] PGLDK commented on #4546
Same error magento 2.1.4 Web setup wizard returns 500 internal server error and blank screen.

[2017-03-10 09:26] fmd-sav opened #8845 "Remove default storeview code Magento2"
Hello Guys,

I want to remove only the default storeview code from my store.

Now:
testdomain.de/de--> default storeview
testdomain.de/en --> englisch storeview

I want:
testdomain.de --> default storeview
testdomain.de/en --> englisch storeview

I know the option in the backend to enable the storeview code, but it adds the code for both storeviews and i need the code only for the /en storeview.

[2017-03-10 09:26] comdiler commented on #7129
@sennin32
![screen shot 2017-03-10 at 10 25 58](https://cloud.githubusercontent.com/assets/1975805/23789646/064f76c4-057c-11e7-9317-5e4282c7de9a.png)

[2017-03-10 09:30] PGLDK commented on #8833
2.1.4
Same error.
The % is calculated by the difference between normal price incl. vat, and the tier price ex. vat,
that adds the difference in the vat to the % saved.

It should be calculated by the difference between ex. vat / ex. vat or incl. vat / incl. vat.

[2017-03-10 09:40] martinhetschel commented on #8833
Evaluated a bit...

In: magento2/app/code/Magento/Catalog/Pricing/Price/TierPrice.php

Function:   public function getSavePercent(AmountInterface $amount)
    {
        return round(
            100 - ((100 / $this->priceInfo->getPrice(FinalPrice::PRICE_CODE)->getValue())
                * $amount->getBaseAmount())
        );
    }

Line: 213  * $amount->getBaseAmount())

changed to * $amount->get

[2017-03-10 09:48] hostep commented on #2976
Possible duplicate for @sshymko's issue: https://github.com/magento/magento2/issues/4961
Not sure if this is the same issue as reported by @keithbentrup though.

[2017-03-10 09:52] PGLDK commented on #8833
Yes. did the trick.

[2017-03-10 10:37] orlangur commented on #4547
@piotrekkaminski, it's better to go this way: https://github.com/magento/magento2/pull/8420/files#r99476657

Not by hardcoding `strpos($request->getParam('email'), '@')` everywhere but by changing https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Validator/EmailAddress.php behavior.

[2017-03-10 11:17] stephansteiner commented on #4387
2.1.4 and 2.1.5 are out and bug still exists. can you raise priority so it will be included in 2.1.6?

[2017-03-10 11:18] jarnail104 commented on #7750
Having same issue : https://github.com/magento/magento2/issues/8841

Did you get any solution for this?

[2017-03-10 11:24] nltheme commented on #7750
yes that was server modsecurity issue.

On Fri, Mar 10, 2017 at 3:18 AM, jarnail104 <notifications@github.com>
wrote:

[2017-03-10 11:38] jarnail104 commented on #7750
Please post the solution if its sorted out

[2017-03-10 11:40] nltheme commented on #7750
my hosting disable mod security and seems solved it for me. thanks

[2017-03-10 12:28] jarnail104 commented on #7750
is Security Module of magento? I disable that but it also didnt work. Though its not recommended to disable this module but i tired and it didn't work.

[2017-03-10 12:51] SilvanLaroo commented on #5933
What is the status of this issue? We also face this issue on Magento 2.1.5.

[2017-03-10 12:59] hilrob opened #8846 "Attribute option value uniqueness is not checked if created via REST Api"
### Preconditions

1. Magento CE 2.1.4
2. PHP 7.x
3. MySQL 5.7

### Steps to reproduce

1. Send the same call to create an option ***twice***
URL: /rest/V1/products/attributes/color/options
POST:
[code]
2. Get the attribute via API or check the backend
Response:
[code]

### Expected result

1. Only one option value is created
2. Second call must fail with exception

### Actual result

1. Option va

[2017-03-10 13:05] korostii commented on #8837
This is disputable, actually. If you try to dig any deeper, you'll quickly find out the following:

https://groups.google.com/forum/#!topic/digital-analytics-fundamentals/V9z4TVXQW_4

So it's quite fine either way as long as the GA code is high in the page.

[2017-03-10 13:30] PierAlex commented on #5836
hi @romeof1980 ,
maybe there are different problems on this issue. I'm on a robust VPS plesk server; sheduled cron jobs every 2 minutes, truncated the cron table and applied admin system cron index configuration every 2 - 4 minutes as described by you but nothing happens.
One question, after you update a product or add a new product, do you have some index invalidated (or do you get that message)

[2017-03-10 13:40] surfer190 opened #8847 "Add a "Select All" Option for Product Export Exclude Entity Attributes"
### Preconditions
Magento version: Magento 2.1.5

### Steps to Reproduce
1. `System -> Export`
2. Select `Product`

### Expected result
1. Expect there to be a javascript function to select all of the attributes, so I can only uncheck price if I want to export just the product sku and price.

### Actual result
1. There is no `select all` option

[logo]: http://number1.co.za/wp-content/uploads/2017

[2017-03-10 13:48] peterkeijsers opened #8848 "order of _theme.less @import is wrong in email.less, email-fonts.less, email-inline.less en print.less of blank theme"
In the following files the "@import 'source/_theme.less';" file is importer too early. It should be imported at the end of the file. Otherwise all variable overwrites in the _themel.less will not work in emails and prints.

It wrong in the following files:

email.less (/vendor/magento/theme-frontend-blank/web/css/email.less)
email-fonts.less (/vendor/magento/theme-frontend-blank/web/css/email-font

[2017-03-10 13:55] korostii commented on #8799
[Relevant part in the dev docs](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-images.html)

[2017-03-10 14:02] korostii commented on #8770
AFAIK by default, no area code is set when running a console command - unless it sets one itself. Do you happen to have some customized or 3rd-party code which might be setting  the area code (via an observer perhaps) before the execution reaches the Magento\Catalog\Console\Command\ImagesResizeCommand ?
I am pretty sure you're missing some important preconditions here, I doubt this could be reprod

[2017-03-10 14:23] korostii commented on #8715
Well, actually the string is present right there in the code:
https://github.com/magento/magento2/blob/2.0/app/code/Magento/Checkout/view/frontend/web/js/view/payment.js#L54

But there are indeed some unresolved issues with the js translation system. I would guess that you were hit by one of these
https://github.com/magento/magento2/issues?utf8=%E2%9C%93&q=is%3Aissue%20js-translation.json%20

[2017-03-10 14:50] korostii commented on #8663
It's a bit funny and unexpected that robots.txt is now editable from configuration page yet underneath it is still stored on disk in the project root folder. I also wonder, what would happen if you attempt to have different contents inside the robots.txt for different StoreViews? (see store switcher on the screenshot above)

[2017-03-10 14:51] Frits1980 commented on #4547
Is it possible to get a workaround for this?

[2017-03-10 14:52] PierAlex commented on #5836
For a workaround I solved creating two triggers on the table catalog_product_entity, after insert and after delete that updates the field status of  the table indexer_status from valid to invalid for the indexer_id = catalog_product_category.
When cron jobs runs, correctly every minutes, indexes are rebuilt and new products appears on the catalog, also deleted products disappears.
Page cache is no

[2017-03-10 15:01] korostii commented on #8705
Judging by the screenshots, you seem to have a lot of custom or 3rd-party code installed on top of Magento itself. If I were I'd first try switching off those one-by-one in order to find the source of the problem.
By the way, the browser's "Unresponsive script" pop-up window specifically mentions react.js which AFAIK is not part of Magento2 out of the box. Have you tried checking which of the 3rd

[2017-03-10 15:08] cizgidekiadam commented on #5730
Is there any update on this?
Same issue in 2.1.2.

/cc @AzVo @oserediuk @olysenko

[2017-03-10 15:12] josefbehr commented on #6265
Still experiencing this in 2.1.5

[2017-03-10 15:51] YevSent commented on #8843
Hi, @PGLDK. Seems Bambora payment solution does not restore quote items. Magento does not provide support for 3d party modules, please, contact to Bambora support with this issue.

If this issue is reproducible with any Magento built-in payment solution like Braintree, PayPal, Authorize.net, etc., please, be free to re-open this ticket.

[2017-03-10 15:51] #8843 closed, assigned to nobody

[2017-03-10 16:00] YevSent commented on #8825
Hi, @flnative, please, provide correct version of Magento and post Authorize.net configuration, like:

 - sandbox or production
 - test mode
 - Transaction Details URL
 - Gateway URL

Also, post response transaction details from `debug.log`.

The `Unable to get transaction details. Try again later.` can have different reasons, invalid credentials, transaction URL, etc.

[2017-03-10 16:33] jgodart opened #8849 "Set date format to dd/mm/YYYY not working in product details"
### Preconditions

1.  Magento 2.1.3

### Steps to reproduce

1. Define date format to dd/mm/yyyy in Stores/Configuration/Catalog/Date
![capture d ecran 2017-03-10 a 17 25 00](https://cloud.githubusercontent.com/assets/16555023/23803235/28a674cc-05b6-11e7-8f79-e3c5d9af5ed2.png)
2. Try to create a new product with  New product date

### Expected result*

* Exemple with attribute : "news_from_date"

[2017-03-10 16:33] rogersrangel opened #8850 "HIDE / SHOW EDITOR MAGENTO ERROR , BUTTON D'ONT WORK"
magento-1.9.3.2-2017-02-07-01-49-34    VERSION

![error magento editor](https://cloud.githubusercontent.com/assets/22354562/23803709/20ae03cc-0596-11e7-8229-094c3b205c4d.png)

[2017-03-10 16:39] janeblonde commented on #7037
Does anyone have a quick fix for this?

[2017-03-10 16:41] Darshan411 commented on #3963
Catchable fatal error: Argument 1 passed to Magento\Framework\Filesystem\Directory\ReadFactory::__construct() must be an instance of Magento\Framework\Filesystem\DriverPool, array given, called in C:\xampp\htdocs\cms\vendor\magento\framework\ObjectManager\Factory\AbstractFactory.php on line 93 and defined in C:\xampp\htdocs\cms\vendor\magento\framework\Filesystem\Directory\ReadFactory.php on line

[2017-03-10 16:47] lgoudriaan commented on #5836
Status update:
The cronjob runs smoothly and updates product properties in front-end.
Changing the category of an existing product doesn't update the front-end. For now i used the workaround of PierAlex.

[2017-03-10 17:05] AirmanAJK commented on #8850
This is for Magento 2 issues. This looks like M1.

[2017-03-10 17:08] rogersrangel commented on #8850
YEa M1.9.3

[2017-03-10 17:10] AirmanAJK commented on #8791
You will only see the layered navigation in search results or categories set as "Anchor" when there are actual filters to show. If it is an empty search or category without products, or no filterable attributes are relevant, you will not see the layered navigation.

Make sure you are trying this on a category with products using attributes set as filterable, and that there are different filterable

[2017-03-10 18:56] romeof1980 commented on #5836
Hi @pieralex ,
it's difficult for me to help without seeing exactly how the cron_schedule table looks like (without the triggers you added).
Feel free to post here a screenshot if you'd like me to take a look. I'll let you know about your previous question too asap.

cheers!

---- On Fri, 10 Mar 2017 15:52:22 +0100 notifications@github.com wrote ----

For a workaround I solved creating two trigger

[2017-03-10 19:01] mombrea commented on #8837
@korostii It's not actually disputable. One way is correct, the other is not. The fact that it will still function if you do it wrong does not make it correct. The forum post you reference is also 4 years old and the approved method of installation has changed in that time.

[2017-03-10 19:08] Morgon commented on #5730
Additionally/Related, 'Relevance' is notably absent on the backend. It's injected as a selection in the Search sorting options, but there's no way to actually make it default without directly updating `core_config_data`.

We use ElasticSearch and don't want Magento to reorder those results (unless explicitly changed by the sorting dropdown).

[2017-03-10 19:29] cizgidekiadam commented on #5730
@morgon
I remember it when you talk about elasticsearch, we are using https://github.com/Smile-SA/elasticsuite . If i disable that module, sorting in categories working as expected (default, order by position desc). May be it is a clue about this issue.

[2017-03-10 19:36] choukalos commented on #7469
Hi @romainruaud,

Wait - Do you have top level categories that have 1M products associated with them?  If so, wouldn't that make it very hard for a customer to browse the catalog and checkout?

Out of curiosity how many websites / store views & customer groups do you have?

Thanks,
Chuck

[2017-03-10 19:51] kevin-carroll-cl opened #8851 "Failure to allocate memory error when importing customers in admin"
When importing customers into a site with a large number of existing customers through the standard Magento importer tool (System > Data Transfer > Import), with Entity Type: Customers Main File, and Import Behavior: Add/Update Complex Data, the import POST returns a 500 status caused by exceeding allowed memory limits.

### Preconditions

1. Magento Enterprise 2.1.4
2. Server is running PHP versi

[2017-03-10 20:20] flnative commented on #8825
sandbox or production: Production
    test mode: NO
    Transaction Details URL: https://api2.authorize.net/xml/v1/request.api
    Gateway URL: https://secure.authorize.net/gateway/transact.dll

I did note in the log that two domains being used shown: The store that I'm having issues aka "store.com" and my Magento installation is at aka "XXX.com". Using Nexcess shared hosting, which uses symbiotic

[2017-03-10 21:11] dersam opened #8852 "_.extend.less overridden by child theme"
`_extend.less` is not inheriting through multiple parents. Only the most recent `_extend.less` will be read.

The `Magento/blank` theme contains `//@magento_import 'source/_extend.less';`. This and the [documentation](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-guide/css_quick_guide_approach.html#simple_extend) seem to indicate that the intended behavior of `_extend.less` should

[2017-03-10 21:50] #7103 closed, assigned to giacmir

[2017-03-10 22:06] onepack commented on #8570
It's a styling issue. You can actually change the price but it is not visible as it is behind the currency symbol text with background #fff.

The next line should have an addition to fix it in the admin less file.
vendor\magento\theme-adminhtml-backend\web\css\styles-old.less
line #1676
Changing:

            &:focus ~ .addafter {
                border-color: #007bdb;

                strong {

[2017-03-10 22:15] onepack commented on #8570
I can confirm that this adjustment will solve the issue of the price not being visible. Just tested on Magento 2.1.5

[2017-03-10 23:08] buskamuza commented on #2529
Currently, Magento uses Monolog 1.22.0 (see https://github.com/magento/magento2/blob/develop/composer.lock#L683).
@mttjohnson , does it solve your issue?

[2017-03-10 23:14] fooman commented on #4972
@shahabhameed we went the two separate releases approach

[2017-03-11 00:20] coleHafner opened #8853 "Sorting by price on product search via REST API does not return any results"
### Preconditions

- Magento Version: v2.1.3 CE
- Vanilla Install

### Steps to reproduce

Hit this endpoint:
[code]

Search criteria, as returned in the response:
[code]

### Expected result

7 items should be returned (confirmed via the Magento admin section). This is fine if the sorting info is left out of the request or I sort via any other field (name, sku etc).

### Actual result

0 results

[2017-03-11 01:17] shamoon commented on #4096
Being able to kill the process is not a solution. My client forgot that I asked him not to try the 'save and duplicate' option today and we ended up with a PHP process using 99% CPU crippling the server as well as 48,000 duplicate files of the same 3 product images!

I can confirm that this only happens with migrated products, creating a fresh product and duplicating it seems to work fine.

[2017-03-11 02:45] dunarri commented on #8530
Also get this error creating orders in M2E Pro.
@raisaev fix works, so is this an M2E issue or a Magento issue?
Also an upgrade of M2E will override Configurator.php modifications, so watch out for that.

[2017-03-11 03:20] #3228 closed, assigned to rgoncharuk

[2017-03-11 04:55] AnggitHerdianto commented on #8734
I got some error with my ssl.

[2017-03-11 05:51] QwertyZW opened #8854 "'Add to cart' stuck 'adding'"
### Preconditions

 php 7.0
 mysql 5.7
magento 2.1.5
apache 2.4

### Steps to reproduce

This happens when I checkout a fresh copy from github and add 1 product
Or when I download a release from the magento website with providing email+address

### Expected result

1.  get 'added to cart' instead of a greyed out frozen 'adding...'

### Actual result

1. greyed out frozen 'adding...'

Note that thi

[2017-03-11 09:15] scientic commented on #4096
I managed to stop this by going into the database and delete the product that was being copied over and over again.

[2017-03-11 10:43] pisc-software opened #8855 "Customer Address update in Backend and "customer_address_save_commit_after" or "customer_address_save_after" event do not update Address Data in associated Magento\Customer\Model\Backend\Customer address collection"
### Preconditions
1.  Magento 2.1.4
2. PHP 7 (Zend Server) and MariaDB10

### Steps to reproduce
1. Add a debug breakpoint to a observer using "customer_address_save_commit_after" or "customer_address_save_after" and get the customer model by "$address->getCustomer".
2. Edit Customer Account Address in Backend (e.g. the default Billing Address) and change some data there (e.g. VAT ID, Country)
3.

[2017-03-11 10:50] PierAlex commented on #5836
hi @romeof1980 ,
here you can see my cron_shedule table that is not affected by my triggers.
Previous records you can see, all operation are with status = success.
![cron_shedule](https://cloud.githubusercontent.com/assets/17165819/23822634/adc722ce-0650-11e7-85bd-2f5ac30948c7.PNG)

[2017-03-11 12:41] romeof1980 commented on #5836
hi @PierAlex ,
answering your question "One question, after you update a product or add a new product, do you have some index invalidated (or do you get that message) until the cron job runs?"
No, I don't get any invalidated index nor any message.
Here is what I think about this functionality in Magento 2: for what I've seen in my own experience in Magento 2, you're NOT going to see an invalidated

[2017-03-11 13:15] shamoon commented on #4096
I didn't even realize there are duplicate entries in the database as well, where are they?

[2017-03-11 14:29] PierAlex commented on #5836
Hi @romeof1980,
the server is a ten core Xeon 2,4 GHz with 50GB RAM and SSD with only this installation running.

Relating to my question, what about adding a new product (to the catalog)? Do you get the message that some index are invalid adding a new product to the catalog, not to a category?

The problem happens when adding a new product to the catalog.

The new product does not appear in the c

[2017-03-11 15:05] romeof1980 commented on #5836
hi @pieralex ,
thanks for clarifying it.
I updated my last post, though: you're right, looking closer at the DevDocs workflow it seems it should invalidate the index (when adding a new product) if you set it as "update on schedule": to be honest, I've never seen an invalidated index when inserting new products, categories etc (I tested it again today with the same result). I reckon that the index

[2017-03-11 15:23] southerncomputer commented on #8494
Any ideas on how to properly escape the single quote from wrecking shipping estimate and 0 for totals issue?

[2017-03-11 15:35] romeof1980 commented on #5836
hi @PierAlex ,
please review the server's features you gave above: 50GB RAM looks like you're mistaken... I've never seen a VPS with such features... usually on a VPS 50GB is the starting storage....

[2017-03-11 16:20] duffner commented on #8725
@magento-team, any update.  This an eCommerce 101 coupon code.

[2017-03-11 17:37] davinanaya commented on #4637
I also have problem, Im using Magento 2.1.3 version.

http://www.screencast.com/t/AN3xRUGU

[2017-03-11 17:52] AgentGod commented on #4356
@Yogesh7989 Can you explain me how to execute your solution.
I am not an expert. Are they mysql commands?

[2017-03-11 17:59] southerncomputer commented on #6929
The problem is that the order was made using the reserved_order_id in attempt #1 quote, so now when you retry PayPal, it will try to use that reserved_order_id as the sales_order.increment_id and fail!

What I did was check the sales_order table to see if the increment_id existed before submitting the quote (to become an order), if it exists, empty reserved_order_id and if $orderData exists, unset

[2017-03-11 18:06] developer-lindner commented on #8837
@mombrea do you even understand how GA works? Close this senseless ticket and get outta here!

[2017-03-11 18:10] southerncomputer commented on #5628
So does it work when you wrap that with $block->escapeHtml($block->getOrderDataJson()) ?

I'm surprised a single apostrophe is causing so much trouble in address record! single quote not being quoted properly!

[2017-03-11 18:15] developer-lindner commented on #8770
@cherreman happened to me also while creating some very own cli commands. so check you're code, it isn't Magento2 for sure! (and close this ticket...)

[2017-03-11 18:43] mombrea commented on #8837
@developer-lindner I sure do understand how it works. Your garbage attitude is a good view into why the Magento 2 code base is so terrible.

[2017-03-11 18:45] PierAlex commented on #5836
Hi @romeof1980,
Thank you very much for your time and support. I'll wait for a solution by the magento team.

This is my server's memory:
![memory](https://cloud.githubusercontent.com/assets/17165819/23825863/53c8556c-0692-11e7-8dc0-4a1f8d71d139.PNG)

cheers!
Pierale

[2017-03-11 21:43] szepeviktor opened #8856 "Removal of JavaScript globals"
Good afternoon!

Are these 3 globals legacy code?
https://github.com/magento/magento2/blob/b1e56ed3b6f13f1ab780d8eddc33fc04cb6ecf75/app/code/Magento/Directory/view/adminhtml/templates/js/optional_zip_countries.phtml#L52-L54

Would it be possible not to use JS globals?
Thank you.

[2017-03-11 22:20] Shimon2 commented on #7388
I tried implementing the fix listed above.
My cart rule does not work with attributes.  The action has  Free Shipping set.
When I change the cart subtotal back below the threshold by removing an item, the rule becomes false, however the "Free Shipping" flag stays True.

My testing also shows that this is retained if the customer is registered.  Once the customer has had the Shopping Cart rule true

[2017-03-12 01:30] reinvention18 commented on #7265
did you find a solution? i as well am getting the same issue in 2.1.4

[2017-03-12 02:20] AirmanAJK commented on #6929
I'd recommend a plugin of "beforeReserveOrderId" in "\Magento\Quote\Model\Quote".

This way, it's not an invasive fix, and it's not dependent on any particular order method and will always ensure no bad reserved quote IDs are used. Here's my plugin code to do just that:

[code]

As for apostrophe's in shipping addresses causing problems, I did a quick test and didn't have an issue (I used "123' Ma

[2017-03-12 03:09] southerncomputer commented on #6929
Yeah that seems more elegant. We have about 50+ concurrent admins creating/editing quotes and orders - so the plugin method wasn't as elegant since you may need to force constraint depending on the job at hand!

Say if the company had a single apostrophe in the customer_address_entity copied to quote_address and you made an ADMIN order in the backend, the ship method and totals would go to zero -

[2017-03-12 03:42] AirmanAJK commented on #8815
My solution to this problem was to add 2 plugins to Magento:
afterGetOutput for "\Magento\Framework\View\Layout" (sortOrder > 1)
beforeSendPurgeRequest for "\Magento\CacheInvalidate\Model\PurgeCache"

Both solutions check if the 'X-Magento-Tags' header exists, and if so, truncates it to 1000 characters. The obvious implication here is that if you do any operation that would have such a long tags h

[2017-03-12 03:54] cwabbott22 commented on #5948
Did Magento 2.1.3 solve this for anyone else?

[2017-03-12 04:00] southerncomputer commented on #8777
You know the right thing would be a mirror of the select shipping address for billing address adding another step to the checkout process!

This is a retail design curiosity since 99% of home customers use the same ship/bill-to anyways!

But I agree - add another step to one page so you can select/update your billing address before the shipping address - like it should be!

Not very professional h

[2017-03-12 07:19] giacmir commented on #5948
2.1.3 solved for me too.

[2017-03-12 07:44] orlangur commented on #8856
Yeah, this seems pretty old, just look at `varienGlobalEvents` :) https://github.com/magento/magento2/blob/develop/lib/web/mage/adminhtml/events.js#L12

In the new JavaScript code global variables are not used by construction due to static tests: https://github.com/magento/magento2/blob/develop/lib/web/mage/adminhtml/events.js#L6

Removal some legacy globals in some random place does not seem to b

[2017-03-12 09:01] orlangur commented on #4637
@jan-dh @hbhardik @jigar48 @blackworm @noprobz09 @davinanaya to bring attention just open new issue, properly formatted, stating it is for 2.1 version, referring to this one and mentioning fix is present in `develop` branch.

I see new boards dedicated for 2.0 and 2.1 came into sight recently: https://github.com/magento/magento2/projects They may help with issues in stable releases management, but

[2017-03-12 09:04] vincentcd opened #8857 "Uyghur (China) can not be used as a allowed locale on the server"
Added 'ug_CN', /*Uyghur (China)*/ in $_allowedLocales variable in Magento\Framework\Locale\Config.php .
Run the command in the project root directory: php bin/magento info:language:list.
In the local Uyghur (China) language display, but not on the server.
The local system is windows and os, the server is centos.
How is this problem solved?

[2017-03-12 10:04] hostep commented on #6754
Hi @eldonbite

Sorry for the late answer.
We also created a diff which we can apply to Magento 2.1.2 (also tested on 2.1.3 and 2.1.5)

I just took a look at the difference between your diff and ours, and it's almost exactly the same. There are some minor differences in the Tests (we don't run the tests, so there might be something wrong in our diff). But there is one big difference in the `etc/di.

[2017-03-12 10:18] szepeviktor commented on #8856
Related https://github.com/magento/magento2/issues/1913

[2017-03-12 10:19] szepeviktor commented on #8856
Thank you.

Do we have a todo list on how to remove it?

[2017-03-12 11:56] U12358 commented on #8640
This is not new problem, it was in old version too, just some classes were renamed.
To fix need add 1 line in file vendor/magento/module-configurable-product/Pricing/Price/ConfigurablePriceResolver.php

[code]

- OR override virtual type, where Vendor\Module\Fix\ConfigurablePriceResolver path to copy of class with fix (overriding)

[code]

[code]

[2017-03-12 12:02] AndroidDesigner opened #8859 "why there is TWO frontend folder in magento2?"
Hi.I'm confused by file and folder structure in Magento 2.
I downloaded magento 2.1.3 and it works correctly.
now I want to override luma theme (change some html and css codes).
I could override css codes.
but I dont know how change luma html codes.

why there is TWO frontend folder in magento2 and what is it's difference?
1. pub/static/frontend/magento/luma
2. vendor/magento/theme-frontend/luma

[2017-03-12 12:36] mrkhoa99 commented on #8859
@AndroidDesigner Shortly, `pub/static` folder contains the static files: html templates (not phtml template), js, css, less files from the theme. In our theme, the static files are under `web` folder. Magento mechanism will get the static files from `pub/static` folder, not from "current" theme folder.

P.S: Better if you post your question on SE: http://magento.stackexchange.com

[2017-03-12 13:09] AndroidDesigner commented on #8859
thank you for your reply.
your answer is ok. but I don't know why there is a web folder (contains less files & font) in the following path,also:
vendor/magento/theme-frontend/luma/web

in fact,why magento2 does not put these two web folders in one location (or pub folder or vendor folder) and put some of them in pub and others in vendor.
ALSO :
I want to create a module.
some people say that we ca

[2017-03-12 15:43] YevSent commented on #8825
Your debug.log does not contain any details about Authorize.net transactions, did you enable `debug` mode for Authorize.net?

[2017-03-12 16:15] dambrogia commented on #4637
@hbhardik @noprobz09 @jigar48

I had experienced trouble with moving the minicart in a custom theme. I had the same problem and fixed it.

The problem (for me) was I was only including the `jsLayout` argument from `app/code/Magento/Checkout/view/frontend/layout/default.xml`. I had deleted the minicart block in my xml and then tried to copy and paste the minicart block declaration from the previous

[2017-03-12 16:39] orlangur commented on #8856
I'm not even sure complete PrototypeJS removal is in current Magento roadmap. Such kind of changes perfectly fits into `'up for grabs'` form of collaboration as to me.

Let's wait for some Magento officials in this thread.

[2017-03-12 17:32] danemacmillan commented on #8856
Inline JavaScript and PrototypeJS are so densely woven into the framework. This is massive undertaking.

[2017-03-12 17:42] Yamaha32088 commented on #8859
@AndroidDesigner it sounds like you would benefit from reading the development documentation on the Magento website. It talks about the architecture along with how to create customizations like what you mentioned in your question. This area is meant for issues relating to Magento2 not for asking questions about how to customize things, a question such as yours belongs on the site @mrkhoa99 mention

[2017-03-12 18:21] orlangur commented on #8856
Well, this is not an impossible mission. PrototypeJS was fully eliminated from storefront, for instance.

Step 1. Reveal PrototypeJS usage: Get rid of PrototypeJS usage in inline JavaScripts (ideally wrapping any JavaScript currently inline in RequireJS-loadable components).
Step 2. Refactor all JavaScript code to get rid of PrototypeJS: Having all usages clearly visible in `define` section (like

[2017-03-12 18:29] orlangur commented on #8855
Plugins/interceptors shall be implemented instead of observers whenever possible.

Will you observe the wrong behavior in corresponding interceptor implemented properly? (note that `save` method of models is deprecated and thus you should not rely on it in interceptors)

[2017-03-12 20:17] southerncomputer commented on #5628
data-order-config=' <--- single apostrophe so even with $block->escapeHtml($block->getOrderDataJson()) - apostrophe's will still be present!

We need to hack escapeHtml to escape apostrophe, or change the data-order-config=" double quote? but that won't stop a double quote from being present! so I think we need a better escapeHtml that will escape apostrophe's!

[2017-03-12 20:44] southerncomputer commented on #5628
ahh just upgrade to developer branch of Escaper.php, should fix that error but add more encoding to emails!

`<form id="edit_form" data-order-config='<?php echo $block->escapeHtmlAttr($block->getOrderDataJson()) ?>' `

you'll need to upgrade your AbstractBlock.php in vendor/magento/framework/View/Element/AbstractBlock.php
to developer version too.

or change the single quoting around data-order-co

[2017-03-12 20:45] southerncomputer commented on #8494
Replace 2.1 Escaper.php with development Escaper.php to fix and use EscapeHtmlAttr( ) around the datajson in form.phtml to be like this:

`<form id="edit_form" data-order-config='<?php echo $block->escapeHtmlAttr($block->getOrderDataJson()) ?>'
`
Otherwise folks will be able to XSS your admin area!

or just use double quotes!

`<form id="edit_form" data-order-config="<?php echo $block->escapeHtml(

[2017-03-12 21:30] pboisvert commented on #8859
closing as this is not an issue but a question

[2017-03-12 21:30] #8859 closed, assigned to nobody

[2017-03-12 22:13] perfpcs commented on #6564
So here it is 6 months later and this issue still is not resolved??? How can people be using Magento 2 and UPS XML service?? Surely I am not the only one using this. I cannot understand how this cannot be corrected after all this time.

To Recap I have updated the 3 files mentioned in 2 posts here:

address-converter.js
new-customer-address.js
shipping-rates-validator.js

Even after updating these

[2017-03-12 22:16] perfpcs commented on #6875
The problem is NOT fixed for me. Very frustrated.
6 Months later still no fix...

To Recap I have updated the 3 files mentioned in 2 posts here:

address-converter.js
new-customer-address.js
shipping-rates-validator.js

Even after updating these files still UPS quotes show up for 2 seconds and then all disappear on the checkout page.

`<StateProvinceCode>Florida</StateProvinceCode><ResidentialAddr

[2017-03-12 22:24] pboisvert commented on #8856
@tkacheva can you check with the front end team on this?

[2017-03-12 23:19] TiEul commented on #8070
Some of these outdated dependencies are seriously creating dependency hell now and they will continue to do so in the future. For example, because of `sjparkinson/static-review` still being ~4.1, it uses the outdated version 2 of `league/climate`, which is incompatible with version 3, while other projects have long moved away from version 2. It's a complete mess to work around this and it's rather

[2017-03-13 04:13] xiangkundavis opened #8860 "APi Order List BUG"
I follow the tutorial http://www.magestore.com/magento-2-tutorial/how-to-get-value-of-custom-attribute-on-magento-2-rest-api/ to add order_pay_transaction_id.
This attribute has been added to order detail api.
But it does not show at order list api

[2017-03-13 06:51] xiangkundavis commented on #8860
![detail](https://cloud.githubusercontent.com/assets/998396/23844342/7d87c87c-07fc-11e7-8e5f-a2cedca7c1c2.png)

[2017-03-13 06:52] xiangkundavis commented on #8860
![list](https://cloud.githubusercontent.com/assets/998396/23844379/b4c1a920-07fc-11e7-9029-2ba2704706b4.png)

[2017-03-13 08:03] thdoan opened #8861 "Color swatches: new values are no longer saved"
### Preconditions

1. Magento v2.1.2
2. Developer mode

### Steps to reproduce

1. Delete default color swatches
2. Add your own colors
3.

### Expected result

1. You should be able to add as many colors as you want.

### Actual result

1. After awhile (in my case, after 71 colors), new colors are not saved even though you still get the "You saved the product attribute." success message.

Note th

[2017-03-13 08:05] aronesztergomi commented on #8856
@orlangur Angular 2 is not really supports the multiple instances of root application, its only designed for SPA. React would be a better alternative for Magento2, but the plan is to replace jQuery+UI with KnockoutJS, or not?

[2017-03-13 08:57] orlangur commented on #8856
Not true.

Not sure what do you mean. I'm not saying about having few root applications in different parts of page, I'm saying about one application initialized somewhere in the heart of `Magento_Ui`.

Nope :) And they are not even comparable: React is a library, Angular 2 is a full-featured framework. You can even use React in some pieces of Angular 2 application, for example, when you use some c

[2017-03-13 09:08] sma09sjb commented on #6261
We're experiencing this issue after upgrading to 2.1.5, can we have some confirmation of when this will be fixed in the core? This is a fairly big issue for us as we have a number of international customers and we're unable to correctly save their details.

[2017-03-13 09:31] albertixcom opened #8862 "Can't emptying values by magento 2 api"
### Preconditions

1. Magento 2.1.5
2. Php 7.0

### Steps to reproduce

1.
[code]

NOTE : particular: special_price, special_from_date, special_to_date - all is empty (before was valued)

RESPONSE
[code]
NOTE: response
special_from_date, special_to_date, special_price : all VALUED !!!! WHY ???
2.
3.

### Expected result

1. Empty values

### Actual result

1. [Screenshot, logs]

I have not method

[2017-03-13 09:33] albertixcom commented on #8274
Hi guys
This problem is more general because seems NOT EMPTYING values,
see my question:
https://github.com/magento/magento2/issues/8862

[2017-03-13 09:34] aronesztergomi commented on #8856
Sorry, true, Angular2 not ONLY designed for SPA. But Angular's has own thinking and solutions about everything, till React (and flux world) is much more flexible.

[2017-03-13 09:43] eyesoverrun commented on #4527
Hi, I have the same problem with version 2.1.5.
When I update the special rate with PUT, the records are saved in the database with the "STORE_ID" = 1 and the date it does not appear in the backend and frontend.

[2017-03-13 09:44] hostep commented on #4231
Also running into this using Magento CE 2.1.4.
We use `192M` as our `memory_limit` setting and this issue caused a `Allowed memory size` to be thrown.

Applying commit https://github.com/magento/magento2/commit/ca93b75416e68d59316144825b5870f22dc30f1e seems to get us around the problem and now we can use Magento again using a `memory_limit` of `192M`.

Would be great if this one could get backport

[2017-03-13 11:24] wigman opened #8863 "Malta zipcode validation incomplete"
Zip code validation fails on adresses from Malta when containing 4 numbers (ABC 1234).

### Preconditions
On all 2.* versions including development branch.

### Steps to reproduce
go to cart or checkout and insert ABC 1234. Validation fails

### Expected result
Validation should succeed.

### Actual result
Validation fails

### Solution
insert an extra validation rule containing `<code id="pattern

[2017-03-13 11:27] Dewasi94 opened #8865 "Product link not working in admin panel"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-03-13 11:28] maultby commented on #5260
I had these errors even after running the above fixes.
After spending several hours trying to resolve I found that the sent password reset email worked fine in Firefox! It was only IE that was giving the errors such as Your password reset link has expired.

[2017-03-13 11:58] theCapypara opened #8866 "Creating own Indexers does not work as explained in the documentation"
### Steps to reproduce
1. Follow the steps at http://devdocs.magento.com/guides/v2.1/extension-dev-guide/indexing-custom.html
2. Try to save the Model that belongs to the table subscribed to in mview.xml

### Expected result
1. My indexer get's triggered (one of the execute-methods)

### Actual result
1. Nothing happens

If the indexer is set to "Update on save" (the default!) Magento does not bot

[2017-03-13 12:27] orlangur commented on #8866
I do agree that documentation could be improved so that it explains step-by-step how to create indexer which works in both modes.

Well, this diagram is essential and one shall understand how partial reindexing works before implementing custom indexer.

There is no other way to say how your particular entity should affect index when saving.
https://github.com/magento/magento2/blob/develop/app/code

[2017-03-13 12:50] theCapypara commented on #8866
I agree, but sadly if you look up how to create indexers, you don't easily find this diagram. Maybe it could be added to the "Adding a custom indexer" page as well.

I also want to point out, that if you currently look up on how to create Indexers, you basically only find copies of the "Adding a custom indexer" page without any further explanation (eg. https://www.mageplaza.com/magento-2-module-de

[2017-03-13 13:16] flnative commented on #8825
I did not have it on. I will turn on.

[2017-03-13 14:02] korostii commented on #6765
See also similar #5023

[2017-03-13 14:18] torchtrust opened #8867 "Export error causing "invalid option value" on import on configuarable Products 2.1.5"
### Preconditions
Bitnami Magento Stack 2.1.5-0

### Steps to reproduce

1. Create Product Attributes that have a different value for the Admin and Store View
2. Create a product that is configurable
3. export Products
4. import Products

### Expected result
1.  import should complete without error

### Actual result
1. "invalid option value" on the configurable Product.

[2017-03-13 14:20] torchtrust commented on #8867
If I edit the 'configurable_variations' of the configurable Product to match the 'additional_attributes' of the virtual Product then the import will work

[2017-03-13 14:57] vrann commented on #5687
@ktruehl I agree, this is a known issue and solution proposed by @orlangur should work.

``max_allowed_packet`` is a MySQL configuration which determines the size of the input data allowed by the query. If it is too low, MySQL just rejects the query which causes issues you see. Here is documentation: https://devdocs.magento.com/guides/v2.1/install-gde/prereq/mysql.html

Please reopen if it does no

[2017-03-13 14:58] spipu opened #8868 "[2.x.x] Production mode is not detected in CLI => the uri for media and static are not good and contain pub"
This is a technical issue. It occurs on **every edition** (CE an EE) and **every version** (2.0.0 -> 2.1.5) of Magento.

When we are in Production Mode, and if we use the `pub` folder as main public folder, then all the static url and media url must not contain the `pub` part. That's normal.

It is not a automatic switch made on the magento mode value, but its depends on the index.php file that is

[2017-03-13 14:59] #5687 closed, assigned to vrann

[2017-03-13 15:09] korostii commented on #8837
Well, "approved" isn't exactly the same as "correct", now is it?
I would argue that this is exactly the case of "good enough", and last time I checked, 90% of Web was built using "good enough" code.

I am not saying this issue isn't worth looking at, I'm just saying that since "it will still function if you do it wrong" (using your own words) I'd rather suggest investing time and effort in stuff w

[2017-03-13 15:11] mombrea commented on #8837
@korostii thanks for the added info. Yes, 100% agree that this is not critical, but I noticed it and reported the issue.

[2017-03-13 15:14] orlangur commented on #8837
I don't see how such simple sentence could be misinterpreted. Any forum topic from 2013 is not an argument, you know :)

Not following GA recommendations could lead to decrease of some SEO metrics, like PageRank.

[2017-03-13 15:29] vrann commented on #8425
Fix is merged, closing

[2017-03-13 15:29] #8425 closed, assigned to nobody

[2017-03-13 15:34] ghost commented on #8274
Where can I find info on MAGETWO-64047  ?

[2017-03-13 16:00] orlangur commented on #8070
@TiEul `sjparkinson/static-review` is a `require-dev` dependency, how it can affect your project? In your custom project it could be even removed as it is used only in git hook.

[2017-03-13 16:10] TiEul commented on #8070
@orlangur Correct me if I am wrong, but if you check the composer.json of Magento 2, you can see it's in the `require` block. Installing Magento 2 will install `sjparkinson/static-review` and as such the outdated `league/climate` dependency, I don't see how it would be possible to prevent that (and even if, it would still be a nasty solution). I have now worked around it, but it was still a major

[2017-03-13 16:13] nbjohan commented on #5941
[SitemapFix.zip](https://github.com/magento/magento2/files/838814/SitemapFix.zip)

I made a workaround module based on the fix above. May save someone some time.

[2017-03-13 16:33] mttjohnson commented on #2529
@buskamuza,
As I pointed out in my comment on Nov 26, 2015 and again on Jan 13, 2016, just including the patched version of Monolog isn't the full solution here, as the correction to monolog will present behavioral changes in how Magento logs data.

The commit for adjusting the Monolog version is one step and corresponding changes to Magento's use of Monolog also need to be made.

The last time I

[2017-03-13 16:34] pisc-software commented on #8855
When using a Interceptor onto the AddressRepository->save Method that issue is not there, as we need to load the Customer Data in a separate call to the CustomerRepository, because there is no ->getCustomer() method on the address data model.

So that is related to the event where the data is not updated. So if one shall not use the observers, why is the observer still in there?

We are porting ou

[2017-03-13 16:38] twistedatrocity commented on #6073
Not working in CE 2.1.5

[2017-03-13 16:45] ihor-sviziev commented on #2555
I had similar issue during customer creation.

I found in documentation that opcache.save_comments should be set to 1:
http://devdocs.magento.com/guides/v2.1/install-gde/prereq/php-settings.html#php-required-opcache

[2017-03-13 16:53] KrystynaKabannyk commented on #7943
Closing the issue since it was fixed under MAGETWO-62648 for 2.1.4.

[2017-03-13 16:53] #7943 closed, assigned to nobody

[2017-03-13 17:02] vrann commented on #8749
@Me7z as far as there is a commit for the same issue, closing current issue.

[2017-03-13 17:02] #8749 closed, assigned to nobody

[2017-03-13 17:14] mttjohnson commented on #2529
Referencing recent commits related to the inclusion of newer versions of Monolog:
9ca160f56c4f3cde51267251f57f30a1c4da03aa
5582d1dfbfae3ad321d94af178d65306cf9cd041

It may also be useful to reference other related changes that should get additional attention now that a newer version of Monolog is included:
bcfef6d1b3d60d3120725b873a20d0cbd231d29d
ca6282da981108e58e6d155685c55b7a88f440ae
These comm

[2017-03-13 17:48] vrann commented on #8577
closing as duplicate #7687, which is resolved on the latest develop and being backported to 2.1

[2017-03-13 17:48] #8577 closed, assigned to nobody

[2017-03-13 17:49] vrann commented on #8576
@ajaykrshukla closing as not reproducible, please feel free to reopen if needed.

[2017-03-13 17:49] #8576 closed, assigned to nobody

[2017-03-13 17:53] vrann commented on #8569
@anujeetphj closing as an issue with unsupported PHP version. In the latest develop there were couple of fixes related to PHP 7.1

[2017-03-13 17:53] #8569 closed, assigned to nobody

[2017-03-13 18:11] vrann commented on #8557
@thdoan in order to remove the field from the place where it was before, you need to remove the value for that field from the database. Magento cannot just drop the value because it might cause the loss of the data. You can add Data Upgrade script to your module in order to remove the value.

[2017-03-13 18:11] #8557 closed, assigned to nobody

[2017-03-13 18:14] vrann commented on #8556
@atul88 please reopen if issue is not fixed by the comment above.

[2017-03-13 18:14] #8556 closed, assigned to nobody

[2017-03-13 18:18] vrann commented on #8555
@kamaleshdubey this issue is not reproducible on bare Magento. Please feel free to reopen with more details on the installation:
- was installed with the Composer?
- did you run any tools?
- do you have custom modules?

[2017-03-13 18:18] #8555 closed, assigned to nobody

[2017-03-13 18:37] dshaw002 commented on #5418
I have no duplicate entries in my cataloginventory_stock table and I still see the issue. Are there any other tables with this issue?

I'm trying to enable by profiler to no luck. I also reindexed and flushed my cache.

[2017-03-13 18:49] vrann commented on #8686
@zkliouel The issue is fixed in the latest develop. It was done with the introduction of the major changes to the API filters processing. That's why it's not something that can be backported to the 2.1 with the patch release

[2017-03-13 18:57] springimport commented on #5478
I had the same problem.

For solve a problem you can [Add custom favicons manually](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/favicon.html) from your theme or can use my module with a bugfix.

https://packagist.org/packages/springimport/magento2-module-favicon-bugfix

[2017-03-13 19:16] twistedatrocity commented on #6073
@alena-marchenko What exactly is the fix? Point us to a commit associated with this so we can at least manually patch our release installs.

[2017-03-13 19:30] okorshenko commented on #8676
Thank you for reporting the issue. The title is not translated https://github.com/magento/magento2/blob/develop/app/code/Magento/Integration/Helper/Data.php#L24

The attribute translate="title" is designed for the tool that will collect all phrases for translation files but this attribute does not force translation itself

[2017-03-13 19:50] vrann commented on #8680
@vsolod Thanks, closing

[2017-03-13 19:50] #8680 closed, assigned to nobody

[2017-03-13 20:17] tsmith1985 opened #8870 "Unable to set 'country of manufacture' attribute to be comparable on frontend"
Unable to set 'country of manufacture' attribute to be comparable on frontend.

### Preconditions

- Magento CE v2.1.5
- PHP v7.0.14
- MySQL v14.14 Distrib 5.7.16, for osx 10.12

### Steps to reproduce
1.  Log into Admin
2. Navigate to `Stores > Attributes > Product`
3. Click on `country_of_manufacture`.
4. Navigate to `Storefront Properties`.
5. Set `Comparable on Storefront` to `Yes`.
6. Open br

[2017-03-13 20:19] jespe67 commented on #4828
I still have this issue in my project with Magento 2.1.5, Firefox 52.0 and Ubuntu 16.04.

[2017-03-13 20:32] twistedatrocity commented on #6073
@dyushkin I manually applied https://github.com/magento/magento2/commit/b4b721444be8c6257d64059b3b0b5d0f1fb1466b to my 2.1.5 and it fixes half the problem. The button is finally gone from the cart however the minicart popup is still not honoring the setting and showing the button.

[2017-03-13 20:43] zsoerenm commented on #6073
I had the same problem some time ago. It did however vanish by its own after a while. It was probably a cache problem. Try to clear all caches and check again.
Edit: Also clear the browser cache: Strg + F5

[2017-03-13 20:46] twistedatrocity commented on #6073
@zsoerenm You're right, I tried a different browser and it's no longer showing. Chrome doesn't like to let go even on a shift-reload it seems. Thank you!

[2017-03-13 21:10] sshymko commented on #7813
@markwallmangene

Yes, I can confirm the workaround works. Both `--jobs=1` or `--jobs=0` work equally fine.

[2017-03-13 21:28] coleHafner commented on #8853
Nevermind. My indexes just needed to get rebuilt. For anyone else running into this issue, here's how I fixed it:

`php bin/magento indexer:reindex`

To check the status of your indexes, run this:

`php bin/magento indexer:status`

[2017-03-13 21:28] #8853 closed, assigned to nobody

[2017-03-13 22:01] okorshenko commented on #8674
@dmatthew thank you for reporting the issue. According to User Guide

http://docs.magento.com/m2/ce/user_guide/catalog/product-create-bundle.html

[2017-03-13 22:17] okorshenko opened #8871 "Typo in Pull Request Template"
There is a typo in Pull Request Template file.

Please, see https://github.com/magento/magento2/blob/develop/PULL_REQUEST_TEMPLATE.md
`magento/magetno2#: Issue title`

magetno2 should be changed on magento2

[2017-03-13 23:19] sshymko commented on #4305
@andimov
What release version the fix will be included into?

[2017-03-13 23:51] flxmrk opened #8873 "SETUP: Limit user-generated key to 56 characters"
The setup allows the user to insert their own key instead of the system generated one.

There is also a limit of 56 characters for this key.

The setup wizard allows any size input.

Then the setup wizard errors during install with an unfriendly error in console log.  It can be solved at this phase by changing the key in app/etc/env.php to something 56 chars or less.

RECOMMENDATION
Add validation

[2017-03-13 23:55] gclift commented on #8681
As AirmanAJK pointed out above, the RANGE_CATEGORY_STEP is causing a bug. It's using that number to create a set of select queries with a limit of RANGE_CATEGORY_STEP. Once that number has been satisfied, it's creating the next select statement but with entity Id (category id) being greater than the previous select. For example, we have 50 categories being index. Once the first select statement re

[2017-03-14 00:27] Caryyon commented on #6424
We are still seeing this issue in 2.1.5. Has anyone found a fix?

[2017-03-14 01:33] megamosa commented on #8676
@okorshenko thank you for kind reply so  how I can translate magento roles resources !!  Any suggestions would be highly appreciated

[2017-03-14 01:42] AirmanAJK commented on #8862
I've also struggled with this. I resorted to hacky tricks like setting the value to a single space or a direct database update. For special pricing, I set the price equal to the "normal" price and Magento ignores it.

This definitely needs to be resolved. The developers never at all considered that maybe a user would want to set an attribute value to an empty string.

[2017-03-14 02:28] thdoan commented on #8557
@vrann I delete the duplicate field from `core_config_data` and cleared caches, but the field is still showing in Admin. Is there a step I'm missing?

[2017-03-14 04:37] hubaig commented on #8681
@AirmanAJK and @gclift. Would it be possible for you to write some steps to show how to do this? I get the idea but I am not 100% sure on what file to edit and what to exactly edit in it.

[2017-03-14 07:04] rastin1 opened #8874 "tinyMCE is disabled"
### Preconditions

1. Magento 2.1.5
2. PHP 7.0.16 and MySQL 5.1.17 all installed from Bitnami stack on Ubuntu 16.04,
Everything  was working fine for 2 weeks. Today tinyMCE disabled, I have tried every possible option at
store>configuration>general>content Management>WYSIWYG options, but there is no difference.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Scre

[2017-03-14 07:59] rastin1 commented on #4828
I had the same issue, Magento 2.1.5, Ubuntu 16.04, FireFox
I have enabled JS bundling, the problem solved. Take this steps:
Store -> Configuration -> Advanced -> Developer > JS Bundling Yes/No

[2017-03-14 08:44] attheCube commented on #8874
Got the same problem but I was able to delimit it:
The TinyMCE worked fine in Firefox 51, but since version 52 it does not.
Mozilla has raised their security rules in version 52.
For me it looks like the TinyMCE-version integrated in Magento 2 (v3.4.7 / 2011-11-03) does not pass these rules.
TinyMCE 4 will be shown, but until now I don't have a fully working replacement.
As TinyMCE v3.7.4 still wo

[2017-03-14 09:03] ihor-sviziev commented on #8856
Related part:
https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/view/frontend/templates/onepage.phtml#L26

[2017-03-14 09:15] orlangur commented on #8289
Not sure what happened to integration tests (really became too slow? random failure?).

For the unit tests, it seems to be a problem in `setup/src/Magento/Setup/Test/Unit/Module/I18n/FactoryTest.php`, I'm going to fix it soon - for the purpose of PR stabilization you can temporary remove it in your branch.

[2017-03-14 09:17] rastin1 commented on #8874
Hi atteCube
Thanks for your response. I had reached to the same solution.
 I have been using FireFox 52, I tried enabling/disabling JS Bundling, it worked for a while but failed again,after few attempt didn't respond at all.
Finally, I installed Chrome, the problem was solved.
 I did not know the reason of failure, just used trial and error method to solve my problem.

[2017-03-14 09:18] mortenbm commented on #5726
Why is this not fixed yet!?

[2017-03-14 09:22] Lee-Indez commented on #8674
I think this is the same issue as : https://github.com/magento/magento2/issues/6873

[2017-03-14 09:27] AlexandreKhayrullin opened #8875 "Bug while adding a new step to checkout before Shipping Address"
### Preconditions
1. Magento version 2.1.3
2. PHP version 7.0.15
3. Used browser: Google Chrome

### Steps to reproduce
1. Follow this documentation to add a new step at the very beginning of the one-page checkout: http://devdocs.magento.com/guides/v2.1/howdoi/checkout/checkout_new_step.html
2. Make sure the sort order is 0 in all files.

### Expected result
1. A new step is added before "Shipping

[2017-03-14 09:36] orlangur opened #8876 "[Dev][Travis CI] Unit tests build is often truncated not giving a proper feedback"
### Preconditions

1. Create a PR
2. Be not lucky enough, issue is not always reproducible, probably depends on `STDERR` output or weather on Mars

### Steps to reproduce

Check Travis CI

### Expected result

For unit tests job I see list of failed due to my changes tests and can do something

### Actual result

https://travis-ci.org/magento/magento2/jobs/210751213

[code]

# Solution
Problem is

[2017-03-14 09:45] martynshanks commented on #7959
Same issue Magento 2.1.5 download from Github

![screen shot 2017-03-14 at 09 45 16](https://cloud.githubusercontent.com/assets/19185251/23894689/ff324e4e-089a-11e7-9cf8-1a47028f671c.png)

adding the code snippet about worked for me too
/vendor/magento/module-swatches/view/frontend/web/js (line 714)

`            if (!result) {
                return;
            }

            if (result.oldPrice

[2017-03-14 09:59] petterkj commented on #7198
2.1.5 same problem. Table rates never showing, wildcard on country and region. Postnumber defined. Giving no shipping alternatives what so ever.

[2017-03-14 10:11] orlangur commented on #8070
OMG :) Nice catch, you are right, it is in `require` section currently https://github.com/magento/magento2/blob/develop/composer.json#L71

It was in `require-dev` when I introduced it and in `2.0` https://github.com/magento/magento2/blob/2.0/composer.json#L70

I'll check for any other dependencies wrongly moved out of `require-dev` section and prepare a PR.

[2017-03-14 10:19] orlangur commented on #8856
The more opinionated framework - the better for the project of Magento 2 scale ;) "flexibility" just creates burden. React can be easily integrated into Angular/EmberJS thus flexibility would not reduce.

For the sake of completeness, EmberJS would be a good choice for Magento 2 as well, but as to me it is not so laconic as Angular 2 and has a steeper learning curve.

[2017-03-14 10:40] Shimon2 commented on #6310
I had a similar problem.  I wanted to import them as Virtual products.  The standard import won't do this.  My work around for now was to go into the database and simply set the type_id to "virtual"
I created a CSV that had sku and product_type.
I imported it into the database.  It became TABLE360.
I then ran the following SQL

update catalog_product_entity c
set c.type_id = "virtual"
where c.sku

[2017-03-14 10:41] nguyetnguyen opened #8877 "Abandoned carts page error because last ordered items contains removed products"
When viewing customers > edit customer > view "Manage Shopping Cart" at the backend, we get the error:
Fatal error: Call to a member function canConfigure() on null in /var/www/releases/20170310074631/src/vendor/magento/module-advanced-checkout/Block/Adminhtml/Manage/Grid/Renderer/Product.php on line 34

I used docker
1. php 5.6
2. nginx
3. mariadb version 10.1.18

Reason:
- Block "Last ordered it

[2017-03-14 10:59] AntonEvers opened #8878 "middle name is missing from the checkout address html templates"
### Preconditions

1. create an account with a middle name in the name

### Steps to reproduce

1. start an order, using an account with a middle name
2. visit the shipping address step in the checkout

### Expected result

1. shipping address name should show [prefix, firstname, middlename, lastname, suffix]

### Actual result

1. shipping address name shows [prefix, firstname, lastname, suffix]

[2017-03-14 11:08] attheCube commented on #8874
For now, this is a solution. But it's just a matter of time, when this TinyMCE-version won't work in Chrome either.
Even IE 11 and above won't work with this version. So I hope one of the next magento 2 releases will include an updated TinyMCE.

[2017-03-14 11:27] nigelcopley commented on #5801
is there a solve for this?

[2017-03-14 11:53] thdoan commented on #8861
**UPDATE:** I deleted all the colors and re-added them directly in MySQL. Even though all 127 colors are showing up in Admin now, `$attribute->getData('option')` in `processSwatchOptions()` is only retrieving the  first 71 colors, that's why all the colors after the 71st color are not able to be edited.

Is this a bug, or is there a known limit of 71 total colors?

**UPDATE 2:** I  set up a fresh

[2017-03-14 12:21] paulpartington commented on #5836
I've been having this issue as well. I found that setting the the catalogsearch_fulltext indexing to be 'Update on Save' and keeping the others to be updated on schedule meant that changes were shown straight away.

[2017-03-14 12:49] royvanos commented on #2564
We're currently experiencing this issue too, the workaround by @mombrea works, but this shouldn't be the way to go. Please change/fix this!

[2017-03-14 13:25] KrystynaKabannyk commented on #6117
@yariksheptykin, Closing this issue as it has been fixed under MAGETWO-57136 for 2.1.3.

[2017-03-14 13:25] #6117 closed, assigned to nobody

[2017-03-14 13:27] robmagento commented on #5102
Thanks for the workaround @Moppelfett, but I still don't get how could this happen all of the sudden, without changing a setting or other stuff? Everything was working fine until a customer reported that he cannot add products into the cart and I tracked it down to this.

`main.CRITICAL: Zend_Cache_Exception: Could not determine temp directory, please specify a cache_dir manually`

Could this be r

[2017-03-14 13:31] vlauria opened #8881 "Translate checkout page - compile static content"
**Precondition:**

1. Magento CE 2.1.5 without sample data is installed.
2. Install package language it_IT
3. Store in italian language

**Steps to reproduce:**

1. compile static content:  **php bin/magento setup:static-content:deploy en_US it_IT**

**Expected result:**
Frontend in italian language

**Actual result:**
Frontend partial in italian. Checkout page is in English.

NB. If you run this

[2017-03-14 13:34] gclift commented on #8681
@hubaig, sure thing. Here are the steps I performed and it's working like a charm.

**STEP 1**: Create a new module or use an existing custom module
**STEP 2**: Create a new Class that extends the Full Action (see below)
**STEP 3**: Edit the di.xml in the etc directory to include a preference node (see below)
**STEP 4**: Clear Cache and Reindex

FILE: _{company}\{module}\Model\Indexer\Product\Cate

[2017-03-14 13:52] piotrekkaminski commented on #6189
@romeof1980  http://www.ietf.org/rfc/rfc1738.txt @ is a reserved character and cannot be used in URL.

[2017-03-14 13:52] #6189 closed, assigned to nobody

[2017-03-14 13:54] hostep commented on #8881
This is a bug which was introduced in Magento 2.1.3.
See this issue which describes the problem: https://github.com/magento/magento2/issues/7862

Please close the issue, since it is a duplicate of the above issue :)

[2017-03-14 14:02] Danielc3 commented on #5849
This is still an issue for me on 2.1.5. I've have taken a look at debugging the issue it seems to be a race condition.

Looking at magento/module-ui/view/base/web/js/form/element/select.js there is an initInput function that uses magento/module-ui/view/base/web/js/core/renderer/layout.js in order to append an input field. Looking at layout.js we can see that the run function actually gets returned

[2017-03-14 14:07] Moppelfett commented on #5102
@robmagento
I am not a coder but I can tell you that we had this issue right from the start after installing Magento.
Maybe someone else can answer you your question about the server update.

[2017-03-14 14:27] hubaig commented on #8681
@gclift Thank you for taking your time out to write the steps for me. I have a programming foundation and I still am learning about Magento. I am going to see online tutorials on how to create a Magento module and see if I can get this working.

I have about 6000+ items in the online store. Hopefully this won't cause problems.

[2017-03-14 14:34] jarhody commented on #2619
I have experienced a similar issue on 2.1.5.

All migrated products work fine and creating new products works fine (URLs correctly formatted) but, if I use the duplicate feature the product url is formatted incorrectly.

No imports. Migrated from 1.9 to 2.1.2.

**Correct site URLS**
site.com/top-category.html
site.com/top-category/sub-category.html
Use category paths for product URLs = NO
Correct

[2017-03-14 15:00] AirmanAJK commented on #8681
I strongly recommend you set up a proper development environment before making changes. You NEVER want to make programming changes to a production server or modify the core code as a fix. Magento has quite a steep learning curve, especially if you aren't already well-versed in web development. Despite this, it's worth the time to learn how to do it the right way (however painful the experience can

[2017-03-14 15:03] #8881 closed, assigned to nobody

[2017-03-14 15:04] vrann commented on #8437
@shavounet I see the following code in the logic of the filesystem adapter which should throw an exception in case if you misspelled the name of the file:
https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Filesystem/Driver/File.php#L149
Do you see why doesn't it throw it?
Can you provide the code snippet of your controller sending email, please?

[2017-03-14 15:10] olysenko commented on #6988
Basically Magento has two different types of bundle products: dynamic and fixed. That's why I need to add clarification for Expected Result:
I) Bundle dynamic product:
1) request:
{ "items": [ {"order_item_id": (parent bundle order_item_id), "qty": 1} ]  }
response:
 {"message":"InvoiceDocument Validation Error(s):\nYou can't create an invoice without products."}
2) request:
{ "items": [ {"order_i

[2017-03-14 15:18] dthampy commented on #6873
@OlgaBurtyka , after discussing with Product Owner,  it was confirmed that "User Defined" quantity is not allowed for checkbox and multiple-select input types by design.
So closing this as Not a Bug

[2017-03-14 15:18] #6873 closed, assigned to nobody

[2017-03-14 15:41] shavounet commented on #8437
I don't have much time to test it again, but here is the main method.

[code]

[2017-03-14 16:13] andimov commented on #4305
@sshymko it will be included into 2.2 release version

[2017-03-14 16:30] dmatthew commented on #8674
From https://github.com/magento/magento2/issues/6873#issuecomment-286454358

If this is the case, then it is a bug if the checkbox for User Defined is being shown when it is not allowed.

[2017-03-14 16:32] AgenturSchroeder commented on #6331
Why did you close this report?
The bug is still there.

[2017-03-14 16:36] Lee-Indez commented on #8674
@dmatthew - I'm with you on this one.  I've put off rewriting the module and messing with the javascript for about a week - looks like I'll have to bite the bullet...

[2017-03-14 16:36] vrann commented on #5886
@rasmuswikman issue is fixed in the latest develop

[2017-03-14 16:36] #5886 closed, assigned to nobody

[2017-03-14 16:37] SchumacherFM commented on #4703
I've stumbled upon this issue as I was getting the same error that custom attributes on a customer entity cannot be saved and get ignored.

After digging around for hours in the source code ... I realized that `is_user_defined` is not needed but more important when you create your new attribute on the entity in the UPgradeData script:

[code]

Don't forget it to add it to an attribute set ;-) Afte

[2017-03-14 16:43] AgenturSchroeder opened #8882 "Product video not display ver. 2.1.4"
Hi,

there is still a bug with the Magento2 product video.

**Preconditions**

    Create product in the backend of Magento 2.1.4.
    Set a video in the product.
    Save it, clear the cache and look at the frontend.

**Steps to reproduce**

Same like Preconditions

**Expected result**

    There should be a video in the product on the frontpage.

**Actual result**

    Only a thumbnail and a ima

[2017-03-14 16:54] AgenturSchroeder commented on #8166
Ok, well i have found the problem.
There was a wrong cronjob call in my customfile. But this is still a problem for shop owner which don't have the knowledge about cronjobs. I think there should be an out-of-the-box settingt to setup a cron for the magento 2 cronjob. I had to set a own cronfile for the crontabs. This is a realy terrible way to solve it without programming knowledge.

Cronfile like

[2017-03-14 16:54] #8166 closed, assigned to nobody

[2017-03-14 17:29] crantron commented on #5260
@maultby I can guarantee you this is not a browser issue. Emails don't get sent with frontend tech...

[2017-03-14 18:01] jzahedieh opened #8884 "Admin order email: Custom theme template modifications not emulated"
### Preconditions

1. Magento 2.1.4 EE
2. PHP 7
3. Custom Theme

### Steps to reproduce

1. Customise the checkmo.phtml in your theme
1.1 `vendor/vendorname/m2-theme-name/Magento_OfflinePayments/templates/info/checkmo.phtml`
2. Make sure theme defined as main theme for all websites/stores.
3. Go to admin order page
4. In the header click "Send Email"

### Expected result
1. Content of "PAYMENT MET

[2017-03-14 19:57] CrazyBeardedGuy commented on #6718
Fixed in develop branch? Where? Someone please post the link to the corrected code. Great to know that we can run things properly if we're running a dev site, but not production. Problem persists in 2.1.5.

[2017-03-14 20:10] sydekumf commented on #7426
Hi there,
I debugged this issue and found out that this occurs if you have set your sales email to send in **async** mode. The problem here is, that the translation is not initialized.

In **synchronous** mode the translation gets initialized like that:
`Magento\Framework\App\Action\Plugin\Design::beforeDispatch()` triggers `Magento\Framework\View\DesignLoader::load()` which therefore inits the tr

[2017-03-14 21:00] scommercemage commented on #6265
Any idea when this is going to be fixed?

[2017-03-14 21:32] vrann commented on #8437
@shavounet thank you let me try

[2017-03-14 21:34] carloshernan007 opened #8885 "Error adding more than one product to es_CO"
### Preconditions

1. Magento 2.1.5
2. PHP 5.6

### Steps to reproduce

1.  Set up the store in location Colombia (es_CO)
2.  Deploys static view files for es_CO (php ./bin/magento setup:static-content:deploy es_CO)
3.  Flush cache php ./bin/magento cache:flush
4. Go the frontend of the store in the product view add more 2 quantities.
5.  Only added one product this is the problem.

### Expected r

[2017-03-14 22:02] Ctucker9233 commented on #6424
@maksek Can we get references to the commits?

[2017-03-14 23:14] Ctucker9233 commented on #5886
@vrann Are the commit references?

[2017-03-14 23:15] okorshenko commented on #8676
@desertlioon the easiest fix will be:
https://github.com/magento/magento2/blob/develop/app/code/Magento/Integration/Helper/Data.php#L24
` $item['data'] = __($resource['title']);`

This fix works on my installation

[2017-03-14 23:19] grafikchaos commented on #7659
Still an issue in Magento CE 2.1.5

Our Magento is installed via composer but the Magenest_QuickBooksDesktop module is committed to our repository. When we do a deploy to the remote server this is the error we get during the `bin/magento -- setup:di:compile` task

[code]

[2017-03-14 23:25] jghaanstra commented on #6410
I experience the same issue with Magento 2.1.5 in Developer Mode. Clearing caches does not seem to work, it also happens in incognito mode from Chrome.

[2017-03-14 23:27] grafikchaos commented on #6114
I'm having this problem as well, but only happens when the mode is set to production. Agree with @fooman  in #7659 that surprises in production mode are not welcome and @Vinai thank you for the proposed solution.

Has anyone had success with workaround solution? (we installed Magento 2.1.5 via composer)

[2017-03-15 01:16] opobla commented on #3430
Hi! I'am also interested in this issue. I need to translate external option codes into dropdown-type attributes, and I can't find a feasible way to map Magento's dropdown autoassigned values to my external codes.

[2017-03-15 01:27] #5808 closed, assigned to nobody

[2017-03-15 01:28] vrann commented on #5886
@Ctucker9233 this is the PR https://github.com/magento/magento2/pull/6257

[2017-03-15 02:52] sheldmandu commented on #6710
Hi, we are experiencing this issue also, very frustrating when you have a product with lots of custom options.

[2017-03-15 04:39] haocongnghe commented on #3483
Any update on this issues ? I see it's still on 2.1.3 but it's fixed on 2.1.5. Can you give me git commit to fix it ?

[2017-03-15 05:09] jarnail104 commented on #5784
I am quite sure its bug in magento but there is no response or solution for this yet. Its impossible to to create products without attribute set if someone need additional/different attribute set.  Why they are not addressing such issues which are root of system?

[2017-03-15 05:10] jarnail104 commented on #8841
I am quite sure its bug in magento but there is no response or solution for this yet. Its impossible to to create products without attribute set if someone need additional/different attribute set.  Why they are not addressing such issues which are root of system?

[2017-03-15 05:11] jarnail104 commented on #7750
I am quite sure its bug in magento but there is no response or solution for this yet. Its impossible to to create products without attribute set if someone need additional/different attribute set.  Why they are not addressing such issues which are root of system?

[2017-03-15 06:29] RonXS commented on #642
We've been focussing our attention on allowing bundles to be a lot more useful over the course of 4 years. This ofcourse also included Magento 2 aswell. (Based on Configurables inside Bundles)

As seen here, its also possible in Magento 2:
https://m2.wizdemo.nl/balistico-2-0-with-rashguard.html

Extension: https://www.wizkunde.nl/magento-2-configurable-bundle.html

[2017-03-15 07:12] PieterCappelle commented on #4828
Having the same problem in 2.1.5.

[2017-03-15 07:20] petterkj commented on #7083
@pynej I have the same issue, I use termination as well.
_
Checkout is forced SSL but not the rest..

Chrome now says "Not secure" on all pages except checkout..

Very critical bug, people get scared when they see "Not secure" .

[2017-03-15 07:46] jarnail104 commented on #8841
This issue is because of server configuration and it fixed with the help from server support.

[2017-03-15 07:46] #8841 closed, assigned to nobody

[2017-03-15 07:46] jarnail104 commented on #5784
This issue is because of server configuration and it fixed with the help from server support.

[2017-03-15 07:46] jarnail104 commented on #7750
Yes this issue is because of server configuration and it fixed with the help from server support.

[2017-03-15 07:55] rishabhrkrai commented on #7997
Hi @choukalos , Suppose I have a goods like Shirt with two different varients (White, Blue) with tax 10% and 15%. But when i order the shirt with Blue varient, tax is not applied and if i put this tax to configurable product tax is applied for both of its varients.
Is there any way to add different tax to different varients?

[2017-03-15 08:03] rishabhrkrai opened #8887 "Category product count issue"
When I import product, then in category product count is not same as product in admin for that category. But when i go to admin in category section **Magento Admin > Catalog > Category** click on category and just save the category, Product count is correct.
### Preconditions

1. I use Magento 2.1.4, PHP 7.0, Mysql 5.4, Nginx

### Steps to reproduce

1. Import some products with different category

[2017-03-15 08:28] o-iegorov commented on #8521
This is duplicate of the https://github.com/magento/magento2/issues/7697 and https://github.com/magento/magento2/issues/4547 issues

[2017-03-15 08:54] R-K-Shrivastaw opened #8888 "Export option is not functional in magento 2.1.3"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-03-15 09:11] alena-marchenko commented on #8482
Hi @NiteshKuyate

Fix for MAGETWO-64413 is merged to develop branch, closing the issue.
Thank you.

[2017-03-15 09:11] #8482 closed, assigned to YevSent, alena-marchenko

[2017-03-15 09:12] alena-marchenko commented on #8219
Hi @casconed

Fix for MAGETWO-63215 is merged to develop branch, closing the issue.
Thank you.

[2017-03-15 09:12] #8219 closed, assigned to YevSent, alena-marchenko

[2017-03-15 09:14] siliconalchemy commented on #6260
"The priority of this issue was estimated as very high, so we can expect this fix in one of the next port for 2.1 version."

6 months later and several point releases later and this fix still isn't place.  Guess the priority isn't that high..

[2017-03-15 09:26] thomvanderboon commented on #6260
There is a workarround for this issue. Create the languagepack and keep the translation in **one** file

https://github.com/magento/magento2/issues/2951#issuecomment-276552659

Thom

[2017-03-15 09:36] stephansteiner commented on #6456
This is a big problem since products created with multiple storeviews (multi-language store) over REST API are affected by this too.
Tables catalog_product_entity_xxx are "polluted" with storeview-specific values even if attribute is defined as global or website scope.
We have to clean attribute data using tools like EAVCleaner or sql queries like:
from catalog_product_entity_int where store_id <>

[2017-03-15 10:02] siliconalchemy commented on #2951
@thomvanderboon thanks for the workaround, but it's not working for me in 2.1.5.  I've followed the steps above exactly, but the en_GB translation I'm trying to create just gives lots of blank js files, and the nl_NL files only give a single translation:
[code]

[2017-03-15 10:18] Vedrillan commented on #8815
In my opinion the best approach is to send the purge request by fix batch size, based on amount of tags or request length.

This can be achieved by replacing the observer Magento\CacheInvalidate\Observer\InvalidateVarnishObserver and adding the batching mechanism.

I might as well do a PR if I have the time in the next days.

[2017-03-15 10:31] thomvanderboon commented on #2951
Please note

a) if translation is same as original it will not be in the json file.
b) You need to reload the page twice

[2017-03-15 10:32] wozniakm commented on #7516
Same thing happens in 2.1 version.

[2017-03-15 10:46] bondgax commented on #4331
I've still got this issue.  I've been through all the suggestions above but nothing has worked.

My database doesn't have a line 'admin/security/password_is_forced'
nor do I have an 'admin_passwords' table in my database

Anybody got any suggestions how to resolve this issue please?

[2017-03-15 10:46] adplaga commented on #7413
Hi Olysenko,

Are you able to provide update on the status of the issue MAGETWO-62235?

Thanks
Adam

[2017-03-15 10:59] R00taryEnginE commented on #6671
This is probably one of the biggest bug in the code since it affects Imports, Category and Product management yet somehow the development team still haven't fixed this issue.

[2017-03-15 11:16] mgeoffray commented on #5236
I had the same error but the reason was that I create a new product attribute with the type `Price`
I place it under a new tab `Price` in my attribute set then I had the error with `advanced_pricing_button`.  I had to move my new attribute under `Advanced Pricing` tab and then the error was gone.
I did not test yet if that is a native bug or not, but if that can help someone!

[2017-03-15 11:24] siliconalchemy commented on #2951
But for example this file:
./pub/static/frontend/Magento/blank/nl_NL/js-translation.json
just contains '[]'.  Shouldn't it be full of translations?

[2017-03-15 11:29] gputignano commented on #8887
Besides product count products in category are all visible?
This ticket seems to be the same of this: https://github.com/magento/magento2/issues/8681

[2017-03-15 11:48] korostii commented on #8849
By any chance, did you save this setting at or Website or Store level? If so, I would try setting it at the global(Default) level (store-specific settings are usually effective in the storefront only and not in admin)

It is also a bit funny that there isn't a similar setting to use for the frontend: the actual format used for showing review dates, order dates etc. to the customer is just randomly

[2017-03-15 11:50] rishabhrkrai commented on #8887
@gputignano ; All the products have visibility **Catalog,Search** , but if i click and save that category again manually from admin panel then the issue is resolved for the next few days.

[2017-03-15 11:59] vincentwinkel opened #8889 "Adding custom options / upsell products drop some product properties"
### Preconditions
1. Magento CE 2.0.13 without sample data is installed
2. Also tested on CE 2.0.9
3. PHP 5.6.23 CLI

### Steps to reproduce
1. Create a custom Console Command
2. Add this code :
[code]
3. Execute the command

### Expected result
1. See Custom options in Backend (Catalog > Product > Custom Options)

### Actual result
1. If I uncomment setStoreId(0), all product names, prices, visib

[2017-03-15 13:11] korostii commented on #8854
This seems like some kind of js\ajax error.
Have you tried pressing F12 and checking the browser console? If there are any errors present, please attach a screenshot or copy of the full trace, that should speed up tracing the issue you have.

[2017-03-15 13:30] korostii commented on #8865
"Not working" is a bit vague for a description. Could you please provide the version you use, screenshot of the errors shown (if any) etc. ?
I don't think it's possible to even reproduce whatever issue you're experiencing otherwise (not to mention fixing it)

[2017-03-15 14:15] springimport commented on #8764
@htmyheart Thank you very much. It working!

[2017-03-15 14:16] #8764 closed, assigned to nobody

[2017-03-15 14:17] KrystynaKabannyk commented on #6488
Fix will be provided under MAGETWO-64544 (MAGETWO-58673 is closed as duplicate).

[2017-03-15 14:23] AvanorHealthcare commented on #7958
I'm having the same problem, but with a freshly installed instance of Magento 2.1.5
Is there solution to this at all?

[2017-03-15 14:26] JamesonNetworks commented on #7958
@AvanorHealthcare We moved everything into composer installs using marketplace credentials. Almost every popular module now offers the ability to install the module through the composer.json file instead of using the web install wizard. Personally, I'd recommend going that route

[2017-03-15 14:29] KrystynaKabannyk commented on #7171
@rbostan, the fix will be provided under MAGETWO-63840 (MAGETWO-60143 is closed as duplicate).

[2017-03-15 14:31] AvanorHealthcare commented on #7958
@JamesonNetworks Funnily enough, that's exactly what I've been doing. It just seems daft to have to go through the grind of doing a command line install when there's supposed to be an easy, built-in function linked directly to Magento Marketplace.

[2017-03-15 14:31] briannambui commented on #6954
Still having issues. Is there a fix?

[2017-03-15 14:34] ntoombs19 commented on #6954
@briannambui - Yes you can find a patch in this issue https://github.com/magento/magento2/issues/8117

[2017-03-15 14:43] Dewasi94 commented on #8865
Thanks for reply
Now issue has been ressolved.
But I have one doubt that how to install banner slider in magento 2

On Wed, Mar 15, 2017 at 7:00 PM, korostii <notifications@github.com> wrote:

[2017-03-15 15:06] erikhansen commented on #8815
@AirmanAJK Thanks for sharing your workaround, but as you mentioned, that solution is not a good solution for the core code.

@Vedrillan A batching solution sounds like a good solution to this problem.

[2017-03-15 15:16] phoenix128 opened #8890 "Unable to change "shipping setting" in backed when a profiler is enabled."
### Preconditions
1. Magento 2.1.3
2. PHP 7

### Steps to reproduce
1. Enable MAGE_PROFILER directive to any value (e.g.: `Magento\Framework\Profiler\Driver\Standard\Output\Firebug` or `Magento\Framework\Profiler\Driver\Standard\Output\Html`)
2. Open admin panel
3. Go to Stores > Configuration > Sales > Shipping Settings

### Expected result
1. Page should just open

### Actual result
1. Error 500

[2017-03-15 15:20] yariksheptykin commented on #6117
Awesome. Thanks!

[2017-03-15 16:36] korostii opened #8891 "[2.1.5] NULL value mishandled by design configs"
### Preconditions
Magento 2.1.5

### Steps to reproduce
While editing design configuration it is apparently possible to reach the following situation when there is a NULL entry for :
http://take.ms/1wpVK

### Expected result
Either would suffice:
1a. In admin, for the storeview it shows empty value (denoting the empty value this storeview has stored), the "Restored Default" button appears (denotin

[2017-03-15 17:28] erikhansen commented on #8554
@bka Any update on this?

[2017-03-15 18:02] Yamaha32088 opened #8892 "AddFotoramaVideoEvents is not a function on configurable product with no image on associated simple products"
### Preconditions
1. Magento 2.1.4 and Magento 2.1.3

### Steps to reproduce
1. Fresh install of Magento 2.1.3 or 2.1.4
2. Create a configurable product that has two or more configurable options
3. Do not add an image to the simple products associated with the configurable product just created but feel free to add one to the configurable product.
5. Browse to the configurable product just created

[2017-03-15 19:04] albert-elcorriol opened #8893 "Mysql Error on Magento Frontend when category is empty (no products)"
I complete a migration from Magento 1.9.2 to 2.1.5.

Today i notice that when i go to a category that do not have any product i receive a frontend report error, and it redirects to error page.

In the report error i see this errors:

a:4:{i:0;s:2291:"SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server

[2017-03-15 19:24] AirmanAJK commented on #7336
I just ran into this issue myself. The first request uses the state abbreviation code <ShipTo><StateProvinceCode>, while the subsequent requests use the state name (ie "Illinois" instead of "IL").

[2017-03-15 19:54] dmandave commented on #6799
We're having the same issue as staffrob- configurable products with out of stock individual products are showing a price of $0 on both the catalog landing pages and the individual product pages. Magento 2.1.4

[2017-03-15 20:02] AirmanAJK commented on #7336
Spent some more time debugging. The file "Magento_Checkout/js/model/address-converter.js" receives data in the format of regionId and regionCode instead of region_id and region_code for shipping updates after page load. This causes region_id to be missing, which Magento then falls back on the description instead of the abbreviation.

[2017-03-15 20:31] coleHafner commented on #6793
I'm getting the same issue with Magento 2.1.5. The SortOrder of the search seems to be ignored.

IE this:
[code]

Returns the same as this:
[code]

Does anyone know any solutions to this?

[2017-03-15 21:32] flnative commented on #8825
My host provider gave me the following logs after turning on the Authorize.net debug parameter. They used a dummy credit card for testing. I edited out my domain name.

2017-03-15 21:18:36] main.CRITICAL: exception 'Magento\Framework\Exception\LocalizedException' with message 'Gateway error: This transaction has been declined' in /chroot/home/dutch/store.com/html/vendor/magento/module-authorizenet

[2017-03-15 23:11] 4quaternion opened #8894 "Missing ico and apng extension in 'allowedExtensions' parameter"
Trying to upload favicon image with .ico extension, you receive this error: "We don't recognize or support this file extension type."

There is a related fix to 2.1 branch. https://github.com/magento/magento2/pull/8880

Please, fix this issue in develop branch.
Thank you

[2017-03-15 23:20] 4quaternion opened #8895 "Unused dependency in OrderRepository.php"
Please, remove unused dependency in \Magento\Sales\Model\OrderRepository

https://github.com/magento/magento2/blob/develop/app/code/Magento/Sales/Model/OrderRepository.php#L9

[2017-03-15 23:59] orlangur commented on #8895
Most likely `php-cs-fixer` will remove all such occurrences successfully.

[2017-03-16 03:25] eInyzant commented on #5536
still not fixed in 2.1.4 release 👎

[2017-03-16 04:06] phirunson opened #8897 "Saving product with non-default store scope causes untouched attributes to become store scoped if loaded using ProductRepository"
This is related to #7720 and #7879 and #9486
### Preconditions
1. Magento 2.4-develop

### Steps to reproduce
1. Create a simple product that belongs to multiple websites.
2. In a script, change the current store to non-default store
3. Load the product using the ProductRepository class
4. Change an attribute value for the loaded product
5. Save the product either using the ProductRepository class

[2017-03-16 06:39] spontaneousdinesh commented on #6924
I had this and after doing random 1 line imports, I found it was some characters in the descriptions. I had to open the csv in Notepad++ and go Encoding> Convert to UTF-8-BOM then save it as a copy. Went straight on then.

[2017-03-16 06:39] jpratt commented on #8061
Still broken on my side. Am finally able to replicate on a staging site. This is from a fresh build on the server. Anyone have a resolution to this yet?

[2017-03-16 06:48] spontaneousdinesh commented on #5540
I had this and after doing random 1 line imports, I found it was some characters in the descriptions. I had to open the csv in Notepad++ and go Encoding> Convert to UTF-8-BOM then save it as a copy. Went straight on then.

[2017-03-16 07:32] FloWord commented on #6265
I have the same issu in magento version 2.1.2, the mini cart doesnt refresh correctly. Have anybody a fix or workaround for that problem?

[2017-03-16 07:44] cizgidekiadam commented on #8061
No result on my side :(
How is the community can't hear us such an important issue like this?

There are several fixes about less important things and contributors working 'hard' on these (cleaning code styling etc.) but (i think) very most important issues (payment, marketing, performance etc) delaying.

We can not progress to latest versions/improvements with this like issues.

[2017-03-16 07:51] radhagobinda opened #8898 "Jquery form validation is not working for dynamic form element"
### Preconditions

1. Magento Version: 2.1.5
2. PHP 7.1 , MYSQL 5.7
3. server UBUNTU 16.06

### Steps to reproduce

1. We have a custom form in front-end. For form validation, we used Magento default jquery form validation. And it's worked perfectly. But problem is that, This form have some dynamic content and this content is not validate.
 **My jquery code**
<script type="text/javascript">
requir

[2017-03-16 07:55] YevSent commented on #8825
You have attached exception, but not a response log, it's hard to understand what kind of information the response contains.

But previously you post a production configuration:

It could be a possible reason for this exception, you are trying to use a dummy credit card on production environment and Authorize.net declines transaction (`Gateway error: This transaction has been declined`) - it's exp

[2017-03-16 08:00] AndroidDesigner opened #8899 "why home page of child Luma theme is different from Luma?"
Hi.
I have created a custom theme same as magento docs. it works correctly and I can customize it.
but I don't know why the homepage of my theme (child of Luma) and Luma are different.
while I didn't create any customization in my theme folder, yet.
my theme folder has only the following files yet:
registration.php
composer.json (Parent is Luma)
theme.xml (Parent is Luma)

so, I expect that my hom

[2017-03-16 08:10] fvschie opened #8900 "REST StoreConfig information is incomplete"
### Preconditions

1. All versions. Tested on 2.1.4

### Steps to reproduce

1. Change default product link suffix in Stores -> Configuration -> SEO settings.

### Expected result

1. REST enpoint /V1/store/storeConfigs response should contain link suffix, among lots of other settings that can be done on a store. As an integrator, I want to be able to link to products obtained via the REST API.

#

[2017-03-16 09:23] slackerzz commented on #8852
Your ```Example/child/web/css/source/_extend.less``` is overriding ```Example/parent/web/css/source/_extend.less```
Between ["simple_extend"](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-guide/css_quick_guide_approach.html#simple_extend) and ["simple override"](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-guide/css_quick_guide_approach.html#simple_override) the la

[2017-03-16 09:31] #8898 closed, assigned to nobody

[2017-03-16 09:39] birdza007 opened #8902 "Installation is incomplete. Help me!!!"
Please....

Installing data...  Installing... 69%

Installation is incomplete.
Check the console log for errors before trying again.

[ERROR] exception 'Magento\Framework\Exception\LocalizedException' with message 'Wrong attribute group ID' in /var/www/health/shop/vendor/magento/module-eav/Setup/EavSetup.php:664
Stack trace:
#0 /var/www/health/shop/vendor/magento/module-eav/Setup/EavSetup.php(1242

[2017-03-16 09:54] jespe67 commented on #4828
Thanks [rastin1](https://github.com/rastin1) for you response but in my case this is not a solution because enable or disable JS Bundling doesn't do to WYSIWYG to work properly

[2017-03-16 11:24] Bartlomiejsz opened #8904 "Dashboard last orders shows 0.00 total value"
### Preconditions

1. Magento 2.1.2

### Steps to reproduce
1. Place new order
2. Go to dashboard
3. Check 'Last Orders'

### Expected result
1. Last orders should have Total Value equal to each Order Total Value

### Actual result
1. Total value is equal 0.00
![2017-03-16_12h18_33](https://cloud.githubusercontent.com/assets/9566840/23994059/74669df6-0a43-11e7-9104-bbca022ad565.jpg)

[2017-03-16 11:26] albertixcom commented on #8862
Airman, are You right.
My further suggestions.
I've examinated database structure and in my case
in table: "catalog_product_entity_datetime" i found correspond record (attribute_id: 80, entity_id <MYPRODUCTID>), so API DON'T REMOVE this record !
Correct behaviour is to DELETE empty values.

Is no possible to empty completly attribute because this tables handle also empty values (like date, double

[2017-03-16 11:33] albertixcom commented on #8274
I found cause of this but NO clean SOLUTION.

Api don't remove empty values from corresponding tables, ex:
catalog_product_entity_datetime ( handle: special_from_date, special_to_date)
catalog_product_entity_decimal ( handle: special_price)

This two tables handles corresponding values and set to defaults if is EMPTY, but NOT REMOVE.
I'm not expert of MAGENTO 2 coding, so I don't know where must b

[2017-03-16 11:45] pradeep2949 commented on #1581
Thanks a lot @rganin it solves the problem

[2017-03-16 12:02] giacmir opened #8905 "Backend "insert image" button on static block clickable only once."
The "insert image" button in the backend static block edit page is clickable only once. If you close the overlay and click again nothing happens.

### Preconditions

1. Tested on 2.13

### Steps to reproduce

1. Go to backend
2. Go to static block edit (or add) page
3. Click on "insert image"
4. Close the overlay window
5. Click again on "inser image"

### Expected result

1. Overlay windows reope

[2017-03-16 12:21] agsteamacc commented on #4828
Have you tried refreshing the page to see if that WYSIWYG editor appears? It works for me.

[2017-03-16 13:37] navarr commented on #5705
We're experiencing this issue in production on multiple websites, at least one of which is EE (so I'm guessing I should file an internal support request as well).

EE Dev: Magento 2.1.4
PHP 5.6.25 w/ ionCube Loader v5.1.1 (EE Dev)

CE Prod: Magento 2.1.3
PHP 5.6.27 w/ ionCube Loader v6.0.6 w/ Zend Guard Loader v3.3 (CE Prod)

Both of the sites have the following directory structure:

[ user home d

[2017-03-16 13:38] korostii commented on #8865
If your problem is resolved and was not caused by core code of Magento2, please close this Issue, otherwise please post the solution\workaround you used in case someone else happens to have the same issue. Thanks in advance.

If you have another issue, feel free to create a separate task, although to the best of my knowledge "banner slider" doesn't sound like an out-of-the-box feature of Magento 2

[2017-03-16 13:48] susmithaN commented on #7967
Hi , Please let me know if you have any suggestion regarding this issue.

[2017-03-16 14:03] TommyKolkman commented on #6671
Not fixed in 2.1.5, sadly.

[2017-03-16 14:11] akosglue commented on #7967
Hi @susmithaN , disclaimer: this is just an idea for a workaround and not yet tested completely, but maybe you can get a hint from it:
- if you override _prepareLayout() in \Magento\Catalog\Block\Breadcrumbs in your custom module
- add this in the beginning:
`        $product = $this->registry->registry('current_product');
        if($product != null){
            $cats = $prod->getAvailableInCate

[2017-03-16 14:16] robmagento commented on #7862
I re-cofirm @PascalBrouwers's issue. The Translation class should not be a singleton I guess. Took me a while to understand why this happens.

[2017-03-16 14:17] jameshalsall commented on #6671
2.1.5 was a useless release, it just updated the license headers.

[2017-03-16 14:18] Winfle commented on #8515
Team Forbytes will take it

[2017-03-16 14:21] ivan-veres commented on #8422
Issue in progress @ivan-veres

[2017-03-16 14:22] dersam commented on #8852
Correct. The crux of the issue raised is whether or not this is a bug or working as intended.

Given that `//@magento_import` is used for handling _extend.less in `Magento/blank`, it would indicate the *intention* is that this is merged through the entire chain of inheritance, rather than simply overriding as is the current behavior.

If it was intended to be an override, I would expect that it wo

[2017-03-16 14:22] sinisa86 commented on #7121
Issue in progress @sinisa86

[2017-03-16 14:23] ldusan84 commented on #8497
Issue in progress.

[2017-03-16 14:26] tomislavsantek commented on #8871
Issue in progress @tomislavsantek

[2017-03-16 14:32] nkajic commented on #8422
Issue in progress @nkajic

[2017-03-16 14:36] petterkj commented on #7083
Workaround for NGINX (behind AWS ELB), SSL termination..:

Modify the nginx configuration ...
[code]

Basically says that if the load balancer does not forward from HTTPS, we redirect accordinly.

[2017-03-16 14:38] bvrbanec commented on #8529
Issue in progress @bvrbanec

[2017-03-16 14:39] epson121 commented on #8842
Issue in progress @epson121

[2017-03-16 14:41] nkajic commented on #8590
@nkajic working on issue

[2017-03-16 14:41] nsergo commented on #3356
Issue in progress @nsergo & @sambolek

[2017-03-16 14:42] ikrs commented on #8895
Ill take it

[2017-03-16 14:48] AvanorHealthcare commented on #4575
Me too, fresh install of 2.1.5

[2017-03-16 14:48] mmacinko commented on #8863
Issue in progress @mmacinko

[2017-03-16 14:52] joates-ldg commented on #4828
We are also having this issue in 2.1.5 with JS&CSS Bundling enabled.

[2017-03-16 14:53] buskamuza commented on #2529
Thanks, @mttjohnson . Indeed, logging behavior leads to records duplicate in some cases.
What do you think about single log file? Each record has its log level, so the file can be filtered if only specific levels are necessary.

[2017-03-16 14:58] Igloczek commented on #7820
It was fixed in 2.1.0 - [commit](https://github.com/magento/magento2/commit/b6f19a8d02fcae7d4e21e353e423d1c240166d1a)
[Sample Nginx config](https://github.com/magento/magento2/blob/develop/nginx.conf.sample#L100-L103).

[2017-03-16 14:59] mrkhoa99 commented on #8899
@AndroidDesigner the good place to start is the Magento dev docs:

- http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-create.html
- http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css-practice.html

Note: we also can see the Css changes after deleting and running static content deploy command.

[2017-03-16 15:03] Moppelfett commented on #5893
@exreplay
Thank you but for me it still doesn't work.

[2017-03-16 15:04] mpont91 commented on #6207
2.1.5 and this bug still exists...

[2017-03-16 15:07] epson121 commented on #6106
Issue in progress @epson121

[2017-03-16 15:09] Igloczek commented on #8298
It's already fixed on develop - [commit](https://github.com/magento/magento2/commit/fba723329b22b4ced2d617a7653c9c9f70a0153f)

[2017-03-16 15:44] tomislavsantek commented on #8601
Unable to reproduce.
Steps taken:

1. Enabled Minimum Order Amount in system config.
2. Added products to the cart until over min amount.
3. Went to Cart page
4. Using the minicart, removed products until the cart total was below the minimum amount.

Received Error "Minimum amount is XY"

Cart items were not changed

[2017-03-16 15:52] mattcoz commented on #7720
This is driving me crazy. Updating a product in the backend always saves attributes with store_id of 0 and then on the frontend it looks up attributes using store_id of 1. So the only way to update anything is to do so directly in the database. This is with single store mode enabled, which should mean that there should only be ONE store not two.

[2017-03-16 16:07] kamilszewczyk opened #8911 "Unit test failing on PHP 5.6.30"
### Preconditions
1. Magento 2.1.5
2. PHP 5.6.30

### Steps to reproduce
1. Run bin/magento dev:tests:run unit

### Expected result
1. All unit tests should run correctly

### Actual result
1. Unit tests are failing with

There was 1 failure:

1) Magento\Checkout\Test\Unit\Controller\OnepageTest::testDispatch
Magento\Framework\HTTP\PhpEnvironment\Request::getActionName() was not expected to be cal

[2017-03-16 16:16] maghamed commented on #8601
@tomislavsantek  steps to reproduce are updated.
Sorry for inconveniences

[2017-03-16 16:24] ivanrogar commented on #4547
I took it.

[2017-03-16 16:30] denisristic commented on #8244
I'm working on it

[2017-03-16 16:47] banderson12 commented on #8426
This is a huge bug and blocking the launch of several sites.   The provided work around does not work.   We need a fix ASAP.

[2017-03-16 16:49] rastin1 commented on #4828
change your browser

[2017-03-16 16:52] erikhansen commented on #8170
@maghamed I have a Magento 2.1.5 merchant experiencing this issue and a patch for 2.1.x would be very much appreciated. Any idea when this patch could be created?

[2017-03-16 17:07] treestonemedia commented on #8807
bump?

[2017-03-16 17:07] mikeguy commented on #4911
I am experiencing this problem too when updating.
I have tried @bramklg fix and I can't get it to run.

I have the right file permissions (I think).
I have tried everything in the cron scripts help tutorial and I think I setup cron correctly...
Check Cron Scripts task is the only task that fails. I have nowhere else to go, hopefully someone in this thread can help.

Thanks,

[2017-03-16 17:15] clementguillot opened #8916 "Unable to display the cart page when logged in with a product with file option"
### Preconditions
1. Magento 2.1.5 fresh install (also affects 2.1.4)

### Steps to reproduce
1. Go to the administration
2. Create a product with a required Customizable Option which type is « File »
3. Activate the following store configuration “Sales > Sales > Gift Options > Allow Gift Messages on Order Level > Yes”
4. Refresh cache if any
5. Go to the store
6. Add the product to the cart
7. Cr

[2017-03-16 17:34] aashworth-ldg commented on #4828
Agree with @PieterCappelle - issue persists for me also in 2.1.5, with JS Bundling: Yes

[2017-03-16 17:41] epson121 commented on #8842
This seems to be solved in the current develop branch (2.2 release)

[2017-03-16 17:58] Igloczek commented on #7196
@omiroshnichenko described solution in #8910

[2017-03-16 17:58] tomislavsantek commented on #8601
Working on this @tomislavsantek

[2017-03-16 18:05] Blevin1 commented on #8426
This bug is crippling our website launch. We have tried everything and nothing is working.
Please fix this right away!

[2017-03-16 18:13] david-kominek commented on #1238
@danielruedaa If you are still having this issue, try checking the _**customer_form_attributes**_ table in your database to ensure that you have a row linking "adminhtml_customer" to your attribute. You may need to get the "attribute_id" field from the _**eav_attributes**_ table. After that, make sure to clear your cache, as Magento caches form attribute data.

I'm not sure why, but I've found tha

[2017-03-16 18:57] misha-kotov commented on #7207
This should not be considered a bug since the original catalog API was never designed to serve this purpose, it was meant to serve up product information as it is set up in the catalog. There should be an additional price service built to expose the "final" storefront price given a certain customer context. Since price can vary by customer, customer segment, tax class, etc, this context will need

[2017-03-16 19:18] IgorSteinmetzSige commented on #8270
Same problem here...
Magento 2.1.3 im using.
Try to get a product by V1/products/:sku, it brigs the custom_attributes and in the category _ids the type is an array of string and not a string.

[2017-03-16 19:35] hamdrew commented on #8734
The *X-XSS-Protection* header is being set in the [XssProtection](https://github.com/magento/magento2/blob/b1e56ed3b6f13f1ab780d8eddc33fc04cb6ecf75/lib/internal/Magento/Framework/App/Response/HeaderProvider/XssProtection.php) class.

I noticed we were also setting this header in our Nginx configuration file: `add_header 'X-XSS-Protection' '1; mode=block;';` Removing this line fixed the issue.

I r

[2017-03-16 19:53] arturskruze commented on #7178
Still an issue in Magento 2.1.4

[2017-03-16 19:59] arturskruze commented on #6671
Magento team, please get this fixed.. many projects we are working on currently have this issue..

[2017-03-16 20:10] flnative commented on #8825
Two transactions below.. first one was from fake cc card (first one); second one with real card and actually used real matching address. But decline code is contradicting.

Other parameter. the number 2 is in the parameter for "Number of Lines in a Street Address" (store setting is checked for default) The default setting to "use system value" is unchecked but there is a number 2 in the field. I r

[2017-03-16 20:16] candyjo commented on #6929
Hi, I hope someone can help me. I have inherited a Magento 2 from another developer. We have had issues from the get go. I highest priority of the issues is some of our customers are able to place an order and others receive errors. Some errors are "An error occurred on the server. Please try to place your order again", and other errors to do with the server, and zip code. We recently upgraded fro

[2017-03-16 20:21] itanzopen commented on #6671
i had same error.... some of subcategories had same url key as some products... after i change all problematic url keys, categories can be saved....

it was magento 1.4.1 -> 1.9.3.2 -> 2.1.5

[2017-03-16 20:21] fgp305 commented on #6929
Candyjo - I've had issues with the checkout as well. My ordeal began in August 2016 and I decided to dump Magneto 2 in late January. After getting 4 different developers to try to help, no one has found the answer. Not even the developer of the check out module.....So after much wasted time and $$$ I dumped altogether and updated my Zen Cart.

So for the time M2 will be on the shelf for the near f

[2017-03-16 20:28] mttjohnson commented on #2529
There is currently a lot of data that gets logged in debug.log, exception.log, and system.log (support_report.log also on EE builds).

If everything was in a single file, although it makes more sense from a logging standpoint for consuming everything from a single source, it may have the inadvertent affect of becoming less usable as filtering through all the noise in a single log file would become

[2017-03-16 22:15] george-vlahakis commented on #164
Is the {{trans directive documented somewhere on this matter?

[2017-03-16 22:16] romeof1980 commented on #2966
hi @POLYPERFORMANCE ,
thanks for pointing it out, it's helped us a lot.
The solution turned out to be as simple as contacting Nexcess and asking them to adjust apache mod_security

cheers!

[2017-03-16 22:53] okorshenko commented on #4047
The issue has been fixed in develop branch

[2017-03-16 22:53] #4047 closed, assigned to nobody

[2017-03-16 23:13] Ctucker9233 commented on #8422
@ivan-veres and everyone else, thank you.

[2017-03-17 00:28] eldonbite commented on #6754
Hi @hostep. Thanks for the update! Will check it out as well.

[2017-03-17 01:43] okorshenko commented on #7196
@mombrea the issue has been fixed in develop branch. Thank you for reporting the issue
@Igloczek thank you for the provided fix

[2017-03-17 01:43] #7196 closed, assigned to Igloczek

[2017-03-17 02:20] okorshenko commented on #8895
@ikrs thank you for your fix https://github.com/magento/magento2/pull/8907

[2017-03-17 02:20] #8895 closed, assigned to ikrs

[2017-03-17 04:56] mohsinahmed22 commented on #6265
Facing this issue any fix on this? Anyone?

[2017-03-17 05:15] Diowyn opened #8921 "Wrong default price configurable product if default display currency different from base currency"
### Preconditions

1. Magento 2.1.4
2. PHP 7.0.15

### Steps to reproduce

1. Set base currency to USD
2. Set default display currency to another currency, ie. INR
3. Create configurable product
4. Switch currency to default display currency
5. Go to configurable product detail view

### Expected result

1. Default price is basePrice * conversionRate

### Actual result

1. Default price become bas

[2017-03-17 06:34] srinivasanithin commented on #8813
Any update

[2017-03-17 07:23] FloWord commented on #4010
My Solution for refresh Problem:
https://github.com/magento/magento2/issues/5377

You simply need to change
"bindSubmit": false
to
"bindSubmit": true

[2017-03-17 07:36] FloWord commented on #4170
My Solution for refresh Problem:
https://github.com/magento/magento2/issues/5377

You simply need to change
"bindSubmit": false
to
"bindSubmit": true

[2017-03-17 08:03] FloWord commented on #6265
My Solution for refresh Problem:
https://github.com/magento/magento2/issues/5377

You simply need to change
"bindSubmit": false
to
"bindSubmit": true

[2017-03-17 08:10] ghost opened #8922 "not displaying all categories in content page"
magento 2.1

When I add a catalog category link widget in content page, the following code only displays the last category on the list even though I have more than one category listed on page

is this a bug?

[code]

[2017-03-17 08:15] ivokund commented on #5880
PHP 7.1 has had already 4 stable releases. When can we expect PHP 7.1.x to be supported? Thanks

[2017-03-17 08:16] andre-gra commented on #3890
I resolved with _bin/magento cache:clean_ after enabling cache. For me it worked.
I'm using  Magento 2.1.3 and I've only tested in _developer mode_.

[2017-03-17 08:21] ezestrajesh commented on #5880
Just go app/etc/env.php and delete below code from there .
This is working for  me . in PHP 7.1
'crypt' =>
  array (
    'key' => 'bbf59cf9183348767c1b23d8fede4383',
  ),

[2017-03-17 08:32] YevSent commented on #8825
The first transaction contains `'x_response_reason_code' => '210'` - `This error code applies only to merchants on FDC Omaha. The merchant type is incorrect.` from Authorize.net error response codes [API reference](https://developer.authorize.net/api/reference/responseCodes.html). The second is `'x_response_reason_code' => '251'` - `This transaction was submitted from a blocked IP address.` or `Th

[2017-03-17 08:32] pooshok commented on #8271
A similar problem here https://github.com/magento/magento2/issues/8202. @cih997 posted temporary workaround

[2017-03-17 08:40] bad-for-zathras commented on #6078
Still present in 2.1.5. It was reported on 3. Jun 2016 (#4853) and again on 9. Aug 2016. No patch landed in the code after 9 months?

[2017-03-17 08:53] elangovanaspire commented on #3963
@Darshan411  Download the zip pack from github https://github.com/magento/magento2/releases, Then extract the same. Run composer install. Its solve my above issue.

[2017-03-17 08:57] jugalpatelkrish commented on #8921
I confirm this issue exists in **Magento Enterprise Edition 2.1.3**
We are facing the same issue when we have set the base currency to "KWD" and our default display currency is "USD".

**This issue happens only on the product detail page and not on the listing page.  Listing page displays the price correctly.**

[2017-03-17 09:00] akoslovasz commented on #3544
I've done some debugging, and it seems the problem is with the Magento repository. When calling `bin/magento module uninstall Vendor_Module`, it calls `composer remove` in the background, and the method `addRepository` in `Composer\DependencyResolver\Pool` somehow gets into an infinite loop. Temporarily removing the Magento repository from `composer.json` fixes the problem. Anyway, a proper final

[2017-03-17 10:01] mom4751 commented on #6078
@bad-for-zathras
Since this problem occured, i started to manage Magento 2 with Composer (and i think almost everyone does the same).
I never tried before because i thought it could not work on a shared/managed hosting without root privileges.
I was wrong: you just need an SSH connection.
Now i heavily use Composer to add and remove plugins and upgrade the Magento core too.
I got to the point wher

[2017-03-17 10:06] erfanimani commented on #8640
Lifesaver @SKovbel

[2017-03-17 10:08] joachimVT commented on #7826
I'm having the same issue in Magento ver. 2.1.4.

My solution was to rewrite the file and edit the

`    const ADDITIONAL_IMAGES_DELIMITER = '|';`

Rewrite in di.xml:

`<preference for="Magento\CatalogImportExport\Model\Import\Product\Validator\Media" type="Project\Import\CatalogImportExport\Model\Import\Product\Validator\Media" />`

[2017-03-17 10:13] AndroidDesigner commented on #8899
@mrkhoa99 what do you mean?
I already read these pages and implement full steps so that I can customize my theme.
but I don't know why child of Luma theme (without any customization), does not have same homepage?!

[2017-03-17 10:18] ghost commented on #8018
I concur with @hostep

Confirmed problem in CE 2.1.5. None of the product counts are accurate and missing products in catalogus while they appear correct in the backend.

We are losing an client because of this and we are already looking for alternative eCommerce products

[2017-03-17 10:18] joachimVT commented on #7886
I'm having the same issue in Magento ver. 2.1.4

[2017-03-17 10:34] pravalitera commented on #8018
@SinisterGlitch Be glad that everything is correct in your backend: i have so many product that the javascript is always hanging, and i can't open the product listing anymore. If only it was the only problem we were facing... But yeah, let's sell Magento 2 to every customers and dig our own grave -_-

A good alternative : Magento 1.9 . Faster, easier to customize, a lot of help on internet ;)

[2017-03-17 11:07] andidhouse opened #8924 "AGAIN: Photorama Skript bugs - I really get angry with magentos bug handling policy!"
### Preconditions

1. Magento 2.1.4, Nginx, Varnish, Redis, PHP7, Mysql
2. Set up for production environment

### Steps to reproduce

1. Open product page with for example chrome on an android device (also same for chrome mac desktop!)
2. Click on product picture to expand the picture

### Expected result

1. The product picture is shown on the right format (meaning the bulletpoint are on the bott

[2017-03-17 11:08] andidhouse commented on #8924
Never ending story with magento 2 bugs so far? AND: Is there anybody caring about the bugs reported here any more? It looks like there are many open bugs here since weeks?

[2017-03-17 11:12] korostii commented on #8866
By the way, I think it's worth mentioning that devdocs have a separate repo: https://github.com/magento/devdocs
If you have any feedback regarding the documentation, I'd suggest to post it in there as well: it's not as overcrowded as the main repository's issue tracker and your thought might actually get taken into account by someone responsible for the documentation.

[2017-03-17 11:25] southerncomputer commented on #5880
That sounds like a bad idea! what happens with no crypt key?

[2017-03-17 11:27] ngherbert opened #8925 "Shipping Table Rate always goes to 0(zero) weight vs destination"
Hi, I'm working with Magento v2.1.5 which I need to use the shipping table rate method. But unfortunately, whatever the total weight is, it will always goes to 0(zero) weight condition.

### Preconditions

1. v2.1.5
2. PHP 7.0.12
3. MySQL 5.5.53

### Steps to reproduce

1.  Setting Tablerate with province/state and weight
2.  Specific countries
3.  No cart or promotion rules at all

### Expected r

[2017-03-17 11:29] torchtrust commented on #6924
I have same issue with customer Main csv import. It will import about half a dozen. Any more than that and if falls over. It's not the actual data as I can then import that data a bit at a time. Once the records are created, then I can update the data, but this error is occuring on more than 6-7 new entries. I want to add 3000, so help!

[2017-03-17 11:31] ivanrogar commented on #4547
Pull request created, ran through Travis, needs further refactoring.

Sent from my iPhone

[2017-03-17 11:46] IvanRybakov commented on #6751
Any update?

[2017-03-17 11:57] Buy-bg commented on #8251
Hi there,
As there has been no sign of support or any information, we would like to receive the money we have paid back. Without this fixture fixed the whole online store may become useless.

[2017-03-17 12:36] alena-marchenko commented on #8313
Hi @twoonesixdigital

Fix for MAGETWO-64833 is merged to develop branch, closing the issue.
Thank you.

[2017-03-17 12:36] #8313 closed, assigned to alena-marchenko, ioliinyk

[2017-03-17 12:51] irfanmomin commented on #6575
@EspertoMagento I have tried same way but not saving data programmatically! Please help anyone?

[2017-03-17 12:53] trasek opened #8926 "Static content deploy and import mixin from source"
Hello. I got problem with mixin and variables loaded by bootstrap in less. I @import in styleshoot whole bootstrap/swiper/font-awesome and their don't load own variables.less and mixin.less (they got @import and files exist to it).
I got some error like:
`
Compilation from source:
frontend/Magento/themename/en_US/css/bootstrap/code.less
variable @font-family-monospace is undefined in file /home/us

[2017-03-17 13:05] neverovsky opened #8927 "Remove Design Group And Schedule Design Update from Attribute Set"
### Preconditions

1. Magento CE 2.1.4
2. PHP 7.0.8

### Steps to reproduce

1.  Create new attribute set from Default
2.  Create new product based on new attribute set
2.  Remove  Design Group And Schedule Design Update groups from the Attribute set
3.  Click Edit product link

### Expected result

1.  Product Edit form

### Actual result

1. Fatal error: Uncaught TypeError: Argument 2 passed to

[2017-03-17 13:05] nigelcopley commented on #5801
This is happening on 2.1.5 after upgrade - odd if the only change was an update in copyrights.

[2017-03-17 13:28] ewallkrishnaprakash commented on #3268
I am facing **"URL key for specified store already exists"** error when i am trying to update existing category or product for default store view as well as on secondary store view.

I have try to replicate the issue, When i check found problem in the following  scenario.

When save the category it will update the category url also the associated products url in url rewrite table.
When update the

[2017-03-17 14:08] Yonn-Trimoreau commented on #4828
Still present with Magento 2.1.5 JS&CSS bundling enabled. It does not look professional to my clients.. Must be fixed for all browsers and with bundling enabled or disabled.

[2017-03-17 15:31] kevin-carroll-cl opened #8929 "PDP Product Image does not update on swatch selection if not all options are selected"
On the Product Detail Page, if more than one type of option is available for the product (example: size and color), if only color is selected the product image does not update.

### Preconditions

1. Magento Community 2.1.5
2. PHP 7.0
3. Configurable Product with color image swatch and size text-swatch where color selection would trigger an update to the product image.

### Steps to reproduce

1.

[2017-03-17 15:41] flnative commented on #8825
I'm going to do more testing.. but starting to think the system is working and I had a string of bad transactions causing certain fraud filters to kick-in.  Last test was declined because it was an amount less than a dollar. Fraud detection declined it. The last real customer declines was a result of the customer entering shipping address instead of billing address. The way the check out page layo

[2017-03-17 16:34] rafaelstz commented on #6265
This issue is fixed to me when I upgrade my PHP version from 7.0.9 to 7.0.15.

[2017-03-17 16:38] abubner opened #8931 "Order from coutries which are not defined as a target country"
### Preconditions
1. Magento 2.1.0

### Actual result
We have orders with a country in the invoice address in which we do not deliver - which is therefore offered to the customer in the checkout neither as invoice nor as delivery address. Orders are all paid with Paypal Express (presumption: via the Express button, which bypasses the checkout tunnel). The assumption is that Magento accepts a billi

[2017-03-17 16:58] maderlock commented on #7684
It should be worth noting that the solution to this is to change the argument in the helper context to use the custom logger.

[2017-03-17 17:04] 4quaternion opened #8932 "Update sjparkinson/static-review to latest version"
Please, update "sjparkinson/static-review": "~4.1", package to lates version ~5.2 in order to support PHP 7.0

https://github.com/sjparkinson/static-review/releases/tag/5.2.0 - latest release

[2017-03-17 19:58] j1nx3d commented on #5734
Hi guys,

I was having the same issue, This help me to solve it, but with this new magento version could be another issue showing the same error.  Happened to me with other issues.

## Steps to reproduce
1. Install Magento 2.1.4 from any source.
2. Module **Magento_CatalogInventory** to **Disable** (Stores/Configuration/Advanced/Advanced)
3. Go to edit or create a new product
## Expected result
1.

[2017-03-17 20:10] ntoombs19 commented on #4067
@hshar7 - It seems you've closed this issue in error. I and other users are still experiencing this issue. I've added a number of translatable strings to my themes `i18n/en_us.csv` file and none of the .html translatable strings are included in js-translation.js. Let me give you some more details so you will not write this off as user error.

Here are the full contents of my en_US.csv file in my t

[2017-03-17 20:11] w130pmpo opened #8933 "1213 Deadlock found when trying to get lock"
### Preconditions

1. Magento 2.1.3
2. Php 7.0.13-1 and Apache2

### Steps to reproduce

1.  Importing Product (Saving to Magento) from 3rd party API from CLI Script
2.  Run above process in parallel since too many products exist
3.  Index - Update by Schedule. (Meaning no index works when importing product)

### Expected result

1. Product Should be successfully saved to the system

### Actual re

[2017-03-17 20:14] w130pmpo commented on #5351
Any updates here? We are having same issue

[2017-03-17 20:43] rotexhawk opened #8934 "DB Backup Error - Division by Zero"
This is what happens when I run: magento setup:backup --db

Magento Version: 2.1.5

`PHP Fatal error:  Uncaught Exception: User Error: Some transactions have not been committed or rolled back in /var/www/html/vendor/magento/framework/DB/Adapter/Pdo/Mysql.php on line 3764 in /var/www/html/vendor/magento/framework/App/ErrorHandler.php:61
Stack trace:
#0 [internal function]: Magento\Framework\App\Err

[2017-03-17 21:01] Grietzz commented on #4895
Is it possible this problem still exists? I have tried enabling all my extensions, but unfortunately it makes no differences. Using magnto 2.1.5.

[2017-03-17 21:08] ghost commented on #6671
[code]
in vendor/magento/module-url-rewrite/Model/Storage/DbStorage.php this worked for me.
It was often assigning invalide request_path that just said .html and it was doing it for a product type despite it saving a category.  I'm sure no one has a mysite.com/.html page so ...  It was also doing things like request_path with product/.html which is obviously messed up and wrong.  You can add other

[2017-03-17 21:20] Ctucker9233 commented on #8251
@Buy-bg What money did you pay? If you bought the Enterprise Edition I would suggest you post a ticket in their system. I don't work for Magento, but it sounds like either a problem with cookies or perhaps there is something misconfigured in the store view. If you could post a screen shot of how you have your store views set up, I'll try to help you.

[2017-03-17 21:22] southerncomputer commented on #8933
The indexer runs on a schedule by cron! you need to disable that or they need a lock to prevent concurrent access!

If you don't mind modifying the database code you can modify aoe's magenta 1 plugin to function the same. I have and it does not solve the longer issues, but can be a lifesaver due to the little short issues!

You should really batch all of your product imports when the store is in m

[2017-03-17 21:43] w130pmpo commented on #8933
Thanks for reply.

- I forgot to mention that we for now even disabled cron job too. So, no index work when importing product.

- Let me tell you my scenario here
 -- There are lots of products on 3rd party system to import.
 -- Average 30k products exist on that system. On that system, 3k of products deleted and 3k of new products created every week.
 -- To manage a price and stock of existing pr

[2017-03-17 22:15] okorshenko commented on #8590
@nkajic thank you for the fix
@kanduvisla thank you for reporting the issue

[2017-03-17 22:15] #8590 closed, assigned to nkajic

[2017-03-17 23:00] mariorodriguesnt opened #8935 "Big Trouble Magento 2"
I was trying to add some templates and Thmes, but suddenly everything has stopped

when I tried bin/magento setup:upgrade shows this

PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Magento\Framework\Composer\ComposerInformation::__construct() must be an instance of Magento\Framework\Composer\MagentoComposerApplicationFactory, instance of Magento\Framework\Composer\ComposerFactory given

[2017-03-18 01:44] EyalAmir opened #8936 "No REST API Ability to Get Category ID Given Category Name"
Should be able to search for a specific category using the name, parent, and other criteria. Otherwise, to sync products to Magento 2 and lookup the proper category IDs, we need to retrieve the full category tree which is costly if you have a large category tree.

[2017-03-18 04:03] mrkhoa99 commented on #8935
@mariorodriguesnt should delete `var/generation` folder.

[2017-03-18 05:28] ozgeekmum commented on #6176
@nagamani-sigma is there a way of getting your script without posting my email address in the raw?

cheers
Chris

[2017-03-18 05:51] ewallkrishnaprakash opened #8937 "'URL key for specified store already exists.' cannot save category and products. 'URL key not generate when save categories or products also when import prducts'."
I am facing "URL key for specified store already exists" error when i am trying to update existing category or product for default store view as well as on secondary store view.

I have try to replicate the issue, When i check found problem in the following scenario.

When save the category it will update the category url also the associated products url in url rewrite table.
When update the categ