[2022-05-02 16:17] profRomanovski commented on #35410
@magento give me 2.4-develop instance

[2022-05-02 16:48] lilbumblebear commented on #21997
I'm having a similar issue, and having trouble testing without adding a plugin to Magento because payment methods have been moved outside of core magento code.  None of the default Magento payment methods create a transaction for the payment.  When I query for a specific transaction ID, the rest API returns, when I use the searchCriteria with payment_id = n, if none exist, then it returns empty re

[2022-05-02 17:47] nazarklovanych commented on #34709
@joanhe  Could you please provide an explanation why you have been removed the  posibility to cerate new folders in pub/media and allowing only that folders that specified in the config ? for now users of new media gallery can create only wysywig folder and catalog/category/  and before you commit there was a posibility to do that,  here is a commit ->  33aaa423163cfc8184a85cba971d25a34cef988a

[2022-05-03 07:55] m2-assistant[bot] opened #35411 "[Issue] Fixes type error in curl adapter in case the curl execution failed."
This issue is automatically created based on existing pull request: magento/magento2#35408: Fixes type error in curl adapter in case the curl execution failed.

---------
### Description (*)
When `curl_exec` fails, it will return `false`.
This result can be [passed on](https://github.com/magento/magento2/blob/608507e1191ecfef363390bec1cc3f848199595a/lib/internal/Magento/Framework/HTTP/Adapter/Curl

[2022-05-03 10:08] sanganinamrata commented on #643
@Techytt, I'm also facing the same issue in Magento version 2.4.1 with configurable product & its 400 associated children products. Have you found any solution?

[2022-05-03 14:37] redati commented on #35395
I have the same problem. The submenu disappears in mobile.

[2022-05-03 14:42] redati commented on #35329
I have the same problem. The submenu disappears in mobile.

[2022-05-03 14:46] joanhe commented on #34709
@nazarklovanych This is done intentionally. It is only allowed to create new folders under wysywig and catalog/category folders per product request.

[2022-05-03 14:48] nazarklovanych commented on #34709
@joanhe ok, so then this issue can be closed @engcom-Alfa @nemke82

[2022-05-03 15:09] Usik2203 commented on #35283
@magento I am working on this

[2022-05-03 15:45] in-session commented on #33416
Is there any news on this yet?

![image](https://user-images.githubusercontent.com/16542619/166487740-b8602562-d7cb-40a6-b200-f6306fc8115f.png)

[2022-05-03 16:35] redati commented on #35329
jquery.custom was removed, I think it affected a lot

[2022-05-03 16:50] bskimball opened #35412 "GraphQL not working on fresh 2.4.4 installation"
Fresh install of Magento 2.4.4. I'm trying to set it up to work with PWA Studio. I installed the opensource metapackage.

### Preconditions (*)
1. Magento/product-community-edition:2.4.4
2. magento/pwa: 0.2.1

### Steps to reproduce (*)
1. composer install
2. open browser to magento-url.com/graphql

### Expected result (*)
I expect to see a GraphIQL page for testing graphql queries

### Actual res

[2022-05-03 17:08] nbennett25 opened #35413 "Bundle child product that is OOS still visible on front end"
With a fresh copy of 2.4.4, and installed sample data: if you mark one of the child products in a bundle as OOS, that item is still visible on the front end product page of the bundle.

### Preconditions (*)

1. Magento 2.4.4
2. Sample Data installed

### Steps to reproduce (*)

1. Go to product record for `24-WG081-blue` sku, mark qty to 0 and set to Out of Stock
2. Clear cache / reindex.

### Ex

[2022-05-03 17:09] nbennett25 commented on #35413
@magento give me 2.4.4 instance

[2022-05-03 19:23] convenient commented on #8897
I'm pretty confident that just describes the bug as it was raised years ago.

Using the API to update a single attribute of a product in a store view, it is expected that you have to list every attribute for the product and mark them as null so they fall back? That's what is being said now?

[2022-05-03 20:44] advocat opened #35414 "Magento 2.4.4 Session issue"
**Precondition:**
- Install Magento 2.4.4
- `bin/magento config:set system/security/max_session_size_admin 0`
- Flush cache

**Steps to reproduce**
- Go to login page
- Try to login

**Actual Result**
- Reload the same login page without any messages

**Expected Result**
- Successful login into admin

**Root Cause**
https://github.com/magento/magento2/blob/7d80b877d7057e62555d3376f2be7e7be68838f0/

[2022-05-03 20:56] adamiwaniszyn commented on #35380
For fix it in installation or env.php in amqp section needs to be added:
`'ssl' => true/false,`

there is checking if this option is set:
`$sslEnabled = trim($this->getValue(self::SSL)) === 'true';`

[2022-05-03 20:57] hostep commented on #35414
Sounds like a duplicate of https://github.com/magento/magento2/issues/35312
If you agree, maybe post your root cause findings on that ticket and close this one so that we only have one to track this issue. Thanks! 🙂

[2022-05-03 21:02] brohon commented on #9774
This is still an issue on 2.4.3 I too, wish to control the boolean Stock Status without worrying about stock quantity. We have another system that manages our inventory. We don't want to use Magento for this. The problem becomes really annoying because when "Manage Stock" is enabled, Magento deducts the shipped item from the quantity. But we're syncing our inventory through the API, so if we don't

[2022-05-03 23:06] advocat commented on #35414
Yep. Didn't found first one. I can confirm that it's the same issue.
You can add root of cause and possible fix to internal ticket or https://github.com/magento/magento2/issues/35312.
Feel free to decide what to do with the ticket
Thank you

[2022-05-04 06:45] nisha-vaghela commented on #35330
@magento I am working on this

[2022-05-04 06:47] nisha-vaghela commented on #35330
@magento add to contributors team

[2022-05-04 06:48] nisha-vaghela commented on #35330
@magento add to contributors team

[2022-05-04 06:54] nisha-vaghela commented on #34692
@magento I am working on this

[2022-05-04 06:57] nisha-vaghela commented on #35312
@magento I am working on this

[2022-05-04 06:57] engcom-Hotel commented on #35382
@magento give me 2.4-develop instance

[2022-05-04 07:27] engcom-Delta commented on #35351
Hi @salvadorcanillas ,

Thank you for providing more inputs. We tried to replicate it again with updated steps unfortunately issue is not reproducible.

1. Unchecked the Main Website

<img width="1440" alt="Screenshot 2022-05-04 at 12 32 27 PM" src="https://user-images.githubusercontent.com/51681379/166637184-295424b3-f568-4257-84e7-a729caa97a89.png">

2. Role updated

<img width="1440" alt="Scree

[2022-05-04 07:35] dnd-kallard commented on #31063
I've the same issue on 2.4.3

[2022-05-04 07:56] will-wright1 opened #35415 "bin/magento dev:email :override-compatibility-check not picking up issues"
### Preconditions (*)
Provide the exact Magento version (example: 2.4.0) and any important information on the environment where bug is reproducible.
1. Magento 2.4.4 open source
2. Php7.4

### Steps to reproduce (*)
Important: Provide a set of clear steps to reproduce this bug. We can not provide support without clear instructions on how to reproduce.
1. Upgraded 2.4.3 to 2.4.4 open source version

[2022-05-04 07:59] engcom-November commented on #35409
@magento give me 2.4-develop instance

[2022-05-04 08:02] salvadorcanillas commented on #35351
Hi,

We have already purchased an extension to allow saving related products on different store view and access level. You may now close this if you can't  replicate.

Thanks

[2022-05-04 08:16] engcom-November commented on #35409
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Updating the description with additional information and temporary workaround.
![image](https://user-images.githubusercontent.com/60198231/166644824-5ffa7dd5-ac04-4f2b-ba92-f0db34b13d8d.png)

[2022-05-04 08:19] hostep commented on #35312
Possible solution from https://github.com/magento/magento2/issues/35414, credits to @advocat:

[2022-05-04 08:36] MeetKamal commented on #35312
HI @hostep

For Magento 2.4.4 found that file below
/vendor/magento/framework/Session/SaveHandler.php

[2022-05-04 08:56] pstuifzand commented on #8897
I guess you need to know which attributes are store view level as well, because if you use attributes that are default, or website, these will get overwritten on these levels as well.

[2022-05-04 09:31] dphilipps commented on #35329
@magento give me 2.4-develop instance

[2022-05-04 09:34] VincentMarmiesse commented on #35312
On my store, 256000 was not enough, and I have setted 512000.

Be careful, there is also a frontend limit: `system/security/max_session_size_storefront`.

[2022-05-04 09:39] engcom-Hotel commented on #35382
Dear @itmsenior,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch and the issue is reproducible for us. The order status is showing as `Payment Review`, but it should be `Processing`. Please have a look at the below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/166657572-68beb48f-7752-4a61-909c-38

[2022-05-04 09:54] engcom-Hotel commented on #35410
@magento give me 2.4-develop instance

[2022-05-04 10:00] dphilipps commented on #35329
I have reproduced this on Chrome desktop with dev-tools and require an extra step to reproduce: refresh the page after it has loaded.  See the video: https://www.loom.com/share/64ccbe7015d741f8a95720a5ef63afe8

On my Galaxy S9 using Chrome, the menu is broken immediately without the refresh.

[2022-05-04 10:01] dphilipps commented on #35329
https://user-images.githubusercontent.com/44231639/166661335-a02c7c3c-4816-4fef-8c3b-62c39c3c5dde.mp4

[2022-05-04 10:29] engcom-Hotel commented on #35410
Dear @profRomanovski,

Thanks for the contribution!

We have tried to reproduce the issue on Magento 2.4-develop branch and the issue is reproducible. We have also gone through the link mentioned about [the CLS](https://web.dev/cls/).

According to the article, the CLS value should not go beyond `0.1`, but in our case, it is `0.432`. Please have a look at the below screenshot for reference:
![imag

[2022-05-04 10:50] engcom-Alfa commented on #35382
@magento give me 2.4-develop instance

[2022-05-04 11:44] hemendraajmera opened #35416 "Changing admin url from admin not working"
### Preconditions (*)
 Magento 2.4.4
### Steps to reproduce (*)

1. Stores > Settings > Configuration - Advanced - Admin - Custom admin Url set to "yourmagentostore.com/backend/"
2. Custom Admin path set to "backend"
3. Save config
Issue: UI is broken Unable to login even after clearing cache.
Note: There is no issue on setting from CLI as per [docs](https://docs.magento.com/user-guide/stores/stor

[2022-05-04 11:45] hemendraajmera commented on #35416
@magento give me 2.4-develop instance

[2022-05-04 11:52] hemendraajmera commented on #35416
issue reproduced on requested instance , after saving it redirected to 404 page
![image](https://user-images.githubusercontent.com/2478037/166675769-52782bbe-f5e8-4fb3-9552-d764eb28f5a1.png)

[2022-05-04 11:57] engcom-Hotel commented on #35412
Hello @bskimball,

We have tried to reproduce the issue in Magento 2.4-develop and 2.4.4 with PWA module installed. But for us, the issue is not reproducible. I suggest you go through with the [devdoc](https://devdocs.magento.com/guides/v2.4/graphql/index.html#how-to-access-graphql) link in order to run the GraphQl for your Magento instance.

According to the devdocs, either you need to use the [G

[2022-05-04 11:58] engcom-Delta commented on #35217
@magento give me 2.4-develop instance

[2022-05-04 11:58] engcom-Hotel commented on #35353
@magento give me 2.4-develop instance

[2022-05-04 12:00] engcom-November commented on #35354
@magento give me 2.4-develop instance

[2022-05-04 12:18] m2-assistant[bot] opened #35417 "[Issue] Fix typo which trigger performance bug"
This issue is automatically created based on existing pull request: magento/magento2#35216: Fix typo which trigger performance bug

---------
### Description
Fix typo which triggers bug when Category Products Count cannot be taken from catalog_category_product_index table

### Manual testing scenarios
1. Go to admin->catalog->category
2. see products count on the category tree
3. make sure categor

[2022-05-04 12:28] engcom-Hotel commented on #35353
Hello @engcom-November,

We have tried to reproduce the issue on the cloud Magento 2.4-develop instance with the mentioned steps but for us, the version is not changing. Please have a look at the below screenshots for reference:

### Initial dashboard when Magento instance prepared:
<img width="1436" alt="image" src="https://user-images.githubusercontent.com/51681618/166680955-9abd5912-21a5-4dd5-8

[2022-05-04 12:31] engcom-Delta commented on #35217
Hi @Sanjay-100 ,

We have verified this issue on  "https". Here are the test results.

1. Set Use HTTP Only to 'YES' [Stores--> Configuration --> General --> Default Cookie Settings

<img width="1440" alt="Screenshot 2022-05-04 at 5 39 00 PM" src="https://user-images.githubusercontent.com/51681379/166680782-5f0cd922-4eeb-457e-9ffa-e8e6ab27b5a3.png">

2. Verify the cookies

**in Backend(Admin) few

[2022-05-04 12:38] engcom-November commented on #35354
Hi @philippeaellig ,
Thank you for your response. Verified the issue again on Magento 2.4-develop branch with above steps however this seems to be expected behavior. Please find the observations of 2 scenarios below:
**Scenario** 1: Create configurable product - Change scope to germany - Add description in store view - save. Change scope to -  "all store views" - Generate child products and save.

[2022-05-04 12:39] bskimball commented on #35412
I rolled back to 2.4.3 and I no longer receive the error about the 'query' key missing in the $data array. I can create a PR to check if the query key exists in the array on line 208 in the Graphql.php file.

I did revisit the docs this morning to find that I need to use graphiql when testing the endpoint.

[2022-05-04 13:00] vadimjustus commented on #35380
True, this is a workaround for this issue. But the bug is still there and needs to be fixed.
@adamiwaniszyn Thank you for the hint!

[2022-05-04 13:02] Aquive opened #35418 ""The requested qty is not available" not always shown or disappears very fast."
### Preconditions (*)
1. Magento 2.4.3-p2

### Steps to reproduce (*)
1. Have a product with 10 qty in stock
2. Go to the product page and try to order more than what is in stock. Anything above 10 is ok in this example.

### Expected result (*)

1. I expect the system to try to add the products to the cart and show an error: "The requested qty is not available"
2. I expect the error to stay on th

[2022-05-04 13:03] Aquive commented on #35418
@magento give me 2.4-develop instance

@magento I am working on this

[2022-05-04 13:04] Aquive commented on #35418
@magento add to contributors team

[2022-05-04 13:04] Aquive commented on #35418
https://github.com/magento give me 2.4-develop instance

https://github.com/magento I am working on this

[2022-05-04 13:05] Aquive commented on #35418
@magento give me 2.4-develop instance

@magento I am working on this

[2022-05-04 13:17] engcom-November commented on #35418
Hi @Aquive ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but cannot reproduce:
Error message is displayed to the user till any other operation is performed. If no action/operation performed - error message still gets displayed.
![image](https://user-images.githubusercontent.com/60198231/166688935-113584e4-245d-408d-95f3-af77021c3828.png)
Kindly reche

[2022-05-04 13:19] Aquive commented on #35418
https://github.com/magento give me 2.4-develop instance

[2022-05-04 13:20] Aquive commented on #35418
@magento give me 2.4-develop instance

[2022-05-04 13:22] Aquive commented on #35418
@engcom-November thanks for your fast reply. Did you try it multiple times? Most of the times the first time is does show up, the following tries it does not.

I asked for an instance too, I can try to reproduce it myself too.

[2022-05-04 13:23] engcom-November commented on #35416
Hi @hemendraajmera ,
Thank you for reporting and collaboration. Unable to reproduce the issue on Magento 2.4-develop version. It seems like your URL is not changed with new value set in admin. (Browsing with same old admin URL as per your Screenshot ). Can you please refer the [docs](https://docs.magento.com/user-guide/stores/store-urls-custom-admin.html) and recheck the issue again on Magento 2.4

[2022-05-04 13:28] hemendraajmera commented on #35416
It still open because i tried to updated admin base url from admin panel which not working,after that the admin panel URL not working,
you can try using fresh magento 2.4.4 instance

[2022-05-04 13:36] hemendraajmera commented on #35416
@magento give me 2.4.4-develop instance

[2022-05-04 13:37] hemendraajmera commented on #35416
@magento give me 2.4-develop instance

[2022-05-04 13:38] Aquive commented on #35418
@engcom-November I can confirm the issue is not present in the 2.4-develop instance. Thanks for your help!

[2022-05-04 13:38] #35418 closed, assigned to Aquive, engcom-November

[2022-05-04 13:38] engcom-November commented on #35324
Hi @webgility-amazonapi ,
Verified this issue on latest 2.4.4 version as well but cannot able to reproduce the issue. Seems like to be an issue in older versions and got fixed. Can you please upgrade your instance to latest version 2.4.4 and recheck again. Please provide missing steps if any if the issue is still reproducible.
Thank you.

[2022-05-04 13:41] engcom-November commented on #35416
Hi @hemendraajmera ,
You can use this instance for testing:
https://776f90ef02ea42110562a8984a262d53.instances.magento-community.engineering/
Admin access: https://776f90ef02ea42110562a8984a262d53.instances.magento-community.engineering/admin_0536
Login: 51b18ebb
Password: ba2fe815432b

[2022-05-04 14:35] engcom-Hotel commented on #35382
@magento give me 2.4-develop instance

[2022-05-04 14:38] hostep commented on #34318
Recent change that might change something regarding this ticket: [ACP2E-717: Emails are not sent for the email containing ".-"](https://github.com/magento/magento2/commit/583b4dd5d71a3c38910cdfb6b3456fd8a7dc643c) (not convinced that it will fix this issue, but maybe somebody wants to give it a try?)

[2022-05-04 15:01] harrigo commented on #19710
I also have issue however 2.4.3-p2, the above did not resolve my issue however. For me all my main store have correct images however secondary show placeholder for all generated images.

Tried also changing to "query param" for "Catalog media URL format" as suggested earlier but will need to build that into the webserver or a CDN as just serves original files with params so careful of that one.

[2022-05-04 15:03] digi-booster opened #35419 "The errors occur using Magento 2.4.4 with PHP 8.1 on a Linux Apache server"
### Preconditions (*)

1. Magento 2.4.4
2. Php 8.1
3. Linux apache cPanel

### Steps to reproduce (*)

1. install Magento 2.4.4 through Softaculous app installer
2. Update Php version from 7.3 to 8.1 with the help of multiPHP manager

### Expected result (*)

Demo/Default Pages and Admin Panel should display properly.

### Actual result (*)

[code]
![image](https://user-images.githubusercontent.co

[2022-05-04 15:05] Minirock opened #35420 "Define category products by store view"
### Description (*)
I would like to be able to define different products for categories depending on the store view.

### Actual behavior (*)
Go to a product page.
Go to one of the store view.
Add a category to the product and save the product.

Go to check the product in category.
The product is inside the category for every store view

### Expected behavior (*)

I expect the products to be added

[2022-05-04 16:22] engcom-Delta commented on #35351
As per confirmation from @salvadorcanillas  , We have noticed that purchasing of extension helped them to resolve this issue . so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2022-05-04 16:22] #35351 closed, assigned to engcom-Delta

[2022-05-04 16:25] nathanjosiah commented on #35343
It's not about the template vars that can be used. If the template vars define invalid usage it will also be flagged. Let's look at an example, let's say you have an object
[code]
Using this object in a template is invalid (`{{var foo.getThing()}}`). It's a regular object, method access is not allowed.

But, let's say the object looks like this instead:

[code]

Using this object in a template can

[2022-05-04 16:44] andrewdaluz opened #35422 "Catalog Pagination not working for custom reindex or bin/magento commands"
### Preconditions (*)

1. 2.4.3-p1
2. Running a custom script, reindex or command with bin/magento

### Steps to reproduce (*)
1. Create a new Reindex Class or a new Command for bin/magento
2. In that script you run the filtering with searchCriteria with Pagination
3. The pagination or iteration to filter per page goes into an infinite loop because after the last page it's returning the result of

[2022-05-04 17:48] navarr commented on #34064
Requesting this ticket re-opened, even if #33748 is also re-opened.  What is the architectural reason for storing all ACL roles and permissions in the session?  Are these not loaded from the database on page load anyway?  Should they not be in a shared cache, if they're to be cached?

A site I'm working on is up to 2 MiB of session data, and it seems to mostly be roles/ACL.  Why have entire serial

[2022-05-04 21:30] Hanhan1989 commented on #34975
I have to disable recaptcha for admin login。I hope magento open this issue and review the problem。thanks

[2022-05-05 05:18] gaganmagento commented on #25933
Hi @sandip5678
It seems working fine on Magento 2.4.4
please confirm if issue still exists or not

[2022-05-05 05:30] rohit-12284 opened #35424 "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2022-05-05 05:56] engcom-Hotel commented on #35280
Dear @mbitson,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-05-05 05:56] #35280 closed, assigned to engcom-Hotel

[2022-05-05 05:57] engcom-Hotel commented on #35273
Dear @Sanjay-100,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-05-05 05:57] #35273 closed, assigned to engcom-Hotel

[2022-05-05 06:14] rohit-12284 opened #35425 "Type Error occurred when creating object: Magento\Framework\MessageQueue\PublisherPool, Argument 3 passed to Magento\Framework\MessageQueue\PublisherPool::__construct() must be of the type array, null given, called in /var/www/update/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php on line 121"
### Preconditions (*)

1. I just updated magento version 2.3.1 to 2.4.3
2.

### Steps to reproduce (*)

1.While I edit my store configuration and save then this error will comes .And my store configuration is not save
![Screenshot_4](https://user-images.githubusercontent.com/91955751/166871236-2458c10d-9ded-4481-b32b-c40e09791640.png)

2.

### Expected result (*)

1. [Screenshots, logs or descript

[2022-05-05 06:19] rohit-12284 opened #35426 "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."
### Preconditions (*)

1.i updated my magento version 2.3.1 to 2.4.3
2.

### Steps to reproduce (*)

1.while I login into my admin pannel i show this error
2
![Uploading Screenshot_3.png…]()

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contri

[2022-05-05 06:50] engcom-Delta commented on #35364
Hi @Eddcapone ,

We received comments from Security team PO @Nathan Smith as below.

"As far as what is required, the only standard that we follow that would be relevant here is PCI compliance. Technically 8.2.5 says
8.2.5 Do not allow an individual to submit a new password/passphrase that is the same as any of the last four passwords/passphrases he or she has used.
But PCI doesn’t apply to storef

[2022-05-05 06:50] #35364 closed, assigned to engcom-Delta

[2022-05-05 07:35] mam-wh commented on #34705
This issue occurs on all bulk requests, i think the solution would be `$this->getInputData()` should only return any the body not any parameters. In my case the there are 2 parameters added to the input data which breaks the api calls
- bySku (Not sure from where it came from)
- PHPSTORM (I added this for debugging)
![image](https://user-images.githubusercontent.com/92787496/166879707-1dd36abd-bcf

[2022-05-05 07:45] Coosos commented on #31396
Hello, no update on this PR https://github.com/magento/magento2/pull/31635 ?

[2022-05-05 07:54] engcom-Delta commented on #35363
Hi @Eddcapone,

We have received comments from Security team Product Owner Nathan Smith on this issue  as follows:
"As far as what is required, the only standard that we follow that would be relevant here is PCI compliance. Technically 8.2.5 says
8.2.5 Do not allow an individual to submit a new password/passphrase that is the same as any of the last four passwords/passphrases he or she has used.
B

[2022-05-05 07:54] #35363 closed, assigned to nobody

[2022-05-05 08:28] engcom-Hotel commented on #35413
@magento give me 2.4.4 instance

[2022-05-05 08:31] engcom-Hotel commented on #35413
@magento give me 2.4-develop instance

[2022-05-05 09:07] engcom-Hotel commented on #35413
Hello @nbennett25,

We have tried to reproduce the issue in Magento 2.4-develop branch. But for us the issue is not reproducible, we have followed the below steps:
1. Initial PDP is look like below with the `Sprite Stasis Ball 55 cm` available:
![image](https://user-images.githubusercontent.com/51681618/166893231-28487000-1686-454a-a048-09f5f9df449d.png)

2. Edit `Sprite Stasis Ball 55 cm` with Qu

[2022-05-05 09:13] yuriichayka opened #35428 "Configurable Stock not updated after a child is back in stock"
Configurable product remains Out of Stock after children's stock is updated.
May be related to the https://github.com/magento/magento2/commit/1707f2a8169558a199ef07a4e045be58b18ceeeb

### Preconditions (*)

1. Magento 2.4.4 EE
2. PHP8.1
3. Elasticsearch 7
4. MSI functionality is enabled.

### Steps to reproduce (*)

1. Create configurable product in Magento Admin with children without specifying a

[2022-05-05 09:48] itmsenior opened #35429 "Forgot password form broken - "email" is required. Enter and try again."
### Preconditions (*)

1. Magento 2.4.3-p2
2. Magento 2.4.4
### Steps to reproduce (*)

1. Register customer account
3. Complete 'Forgot Password' form
4. Click click in email to reset password
5. Complete new password form

### Expected result (*)

1. Success message shown and new password is saved.

### Actual result (*)

1. New password is not saved and error message shown: "email" is required.

[2022-05-05 09:48] itmsenior commented on #35429
@magento give me 2.4-develop instance

[2022-05-05 09:49] engcom-Delta commented on #35426
Hi @7018424048 ,

Thank you for logging an issue, We could not find clear screenshots, issue description . Hence request to help us with clear issue description ,  screenshots , Actual test results and expected test results to replicate the issue.

Regards,

[2022-05-05 09:49] engcom-November commented on #35424
Hi @7018424048 ,
thank you for reporting and collaboration. We are closing this issue as its a duplicate of https://github.com/magento/magento2/issues/35426. Please move on to this ticket for latest updates / solutions.
Thank you.

[2022-05-05 09:49] #35424 closed, assigned to engcom-November

[2022-05-05 09:54] engcom-Hotel commented on #35414
Hello @advocat,

Closing this issue as duplicate of https://github.com/magento/magento2/issues/35312

[2022-05-05 09:54] #35414 closed, assigned to engcom-Hotel

[2022-05-05 10:06] itmsenior commented on #35429
I can't verify on test instance as they don't send emails

[2022-05-05 10:06] kilubaka commented on #6126
Hello guys, I'm also struggling with this issue. The main problem was that query:

SELECT DISTINCT \`e\`.*,
                \`at_visibility\`.\`value\`   AS \`visibility\`,
                \`price_index\`.\`price\`,
                \`price_index\`.\`tax_class_id\`,
                \`price_index\`.\`final_price\`,
                IF(price_index.tier_price IS NOT NULL, LEAST(price_index.min_price, p

[2022-05-05 10:31] engcom-November commented on #35353
@magento give me 2.4-develop instance

[2022-05-05 10:49] moElwan commented on #34318
@kassner Testing the changes on https://3v4l.org/5IZ27 I see there's a difference in the output. So I assume it actually resolves the issue. I'll be testing the patch soon. Wish it work :crossed_fingers:

[2022-05-05 10:50] nazarklovanych commented on #34349
@magento I am working on this

[2022-05-05 10:51] itmsenior commented on #35429
Closing as issue caused by 3rd party module not core.

[2022-05-05 10:51] #35429 closed, assigned to engcom-Delta

[2022-05-05 11:05] yuriichayka commented on #35428
reverting changes in Model/ResourceModel/Indexer/Stock/DefaultStock.php prior to the mentioned commit helps

[2022-05-05 11:11] kassner commented on #34318
@moElwan The problem is calling `idn_to_ascii` with `$user`. Only `$hostname` should be used there.

See https://gist.github.com/kassner/808f13e1263108fdde7b12ebdfdb0fca line 16.

[2022-05-05 11:41] engcom-November commented on #35353
Hi @engcom-Hotel ,
Unable to reproduce the issue on Magento cloud instance but is reproducible to me when cloned from [repository.](https://github.com/magento/magento2) Verified this today by downloading 2.4-develop from https://github.com/magento/magento2/ and is still reproducible. Kindly recheck.
Thank you.

[2022-05-05 11:53] jorgb90 commented on #35402
Found the issue to be indeed a module, so this can be closed.

[2022-05-05 11:53] #35402 closed, assigned to engcom-November

[2022-05-05 12:36] engcom-Hotel commented on #35382
@magento give me 2.4-develop instance

[2022-05-05 12:40] engcom-November commented on #35311
Re-verified the issue again on Magento 2.4-develop branch with enterprise edition modules installed but cannot reproduce the issue.
**Steps performed:**
Pre-conditions: Magento multi store setup with existing orders for both the websites.
1. System - User Roles - Created new role with custom resources
2. System - All users - Add new User and assigned new user role
3. sign out and sign using new us

[2022-05-05 12:46] nazarklovanych commented on #34349
this is already fixed in 2.4.4 @jdereus87  we can close.

[2022-05-05 13:45] engcom-Hotel commented on #35382
Hello @itmsenior,

We have rechecked this issue on the cloud instance and the issue is not reproducible for us. We have tested the scenario with Paypal's sandbox account.

### Paypal Configuration
![image](https://user-images.githubusercontent.com/51681618/166936310-c154a8ed-cc12-496b-b8c8-f5185507d0f2.png)

### IPN Setting
<img width="816" alt="image" src="https://user-images.githubusercontent.co

[2022-05-05 13:47] nisha-vaghela commented on #34692
@magento give me 2.4.3 instance

[2022-05-05 14:00] JamesFX2 commented on #18329
I'm adding to this issue because it's basically duplication of effort to have something excellent like [CollectionProcessor](https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Api/SearchCriteria/CollectionProcessor.php) / [FilterProcessor](https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Api/SearchCriteria/CollectionProcessor/Filt

[2022-05-05 14:18] engcom-Delta commented on #35396
Hi @engcom-November ,

As discussed on the call , We have verified the issue with provided sample data command. issue is reproducible on Magento 2.4.4 instance . Hence confirming the issue.

Steps followed:
1. Create Customer account on front end with default customer configuration

<img width="1440" alt="Screenshot 2022-05-04 at 7 58 18 PM" src="https://user-images.githubusercontent.com/51681379/

[2022-05-05 15:18] engcom-Delta commented on #35217
Hi @Sanjay-100 ,
Issue has been moved to 'On Hold' status due to confirmation from Product Owner.

Thanks

[2022-05-05 18:22] profRomanovski commented on #35410
@magento give me 2.4-develop instance

[2022-05-05 19:21] shawkatalam-dev opened #35432 "Issue with Ordering from Gift Registry Magento 2.4.4 Enterprise/Commerce"
### Preconditions (*)

1. We are using Magento 2.4.4 Enterprise/Commerce Edition with PHP 8.1
2. MySQL 8.0
3. Ubuntu 20.04 LTS
4. nginx 1.18
5. Trying to place order from registrants gift registry item

### Steps to reproduce (*)

1. Add a product to gift registry
6. share the gift registry link
7. open the gift registry link in another browser/incognito window
8. Add qty and add to cart the item

[2022-05-05 19:37] bskimball opened #35433 "Config element "FrameworkDataImageContentInterface" is not declared in GraphQL schema"
### Preconditions (*)

1. Magento 2.4.4

### Steps to reproduce (*)
1. Query the Schema via Graphql
[code]

### Expected result (*)
See the Magento schema

### Actual result (*)
Logs show:
[2022-05-05T15:18:52.315065+00:00] main.ERROR: Config element "FrameworkDataImageContentInterface" is not declared in GraphQL schema

GraphQL (3:9)
2:     __schema {
3:         types {
           ^
4:

[2022-05-05 20:23] #35412 closed, assigned to engcom-Hotel

[2022-05-06 02:42] Den4ik commented on #35433
@magento give me 2.4-develop instance

[2022-05-06 04:57] nisha-vaghela commented on #34692
Hello

[2022-05-06 05:58] nisha-vaghela commented on #33073
@magento i am working on this

[2022-05-06 07:31] Sanjay-100 commented on #35273
Not getting any error and event observer into get the data.

[2022-05-06 07:33] mrrobotisback opened #35434 "Error: Undefined constant Braintree\PaymentInstrumentType::ANDROID_PAY_CARD"
### Preconditions (*)

1. Magento community 2.4.4
2. Php 8.1.5

### Steps to reproduce (*)

1. New magento 2.4.4 install
2. Go to Reports -> Braintree Settlement

### Expected result (*)

1. Show grid

### Actual result (*)

1. Error: Undefined constant Braintree\PaymentInstrumentType::ANDROID_PAY_CARD in /var/www/html/vendor/paypal/module-braintree-core/Ui/Component/Report/Listing/Column/PaymentT

[2022-05-06 07:34] mrrobotisback commented on #35434
@magento give me 2.4.4-develop instance

[2022-05-06 07:50] itmsenior commented on #35382
@engcom-Hotel Were the orders in payment review state first? I mean you can see by the PR I made that the current code doesn't cover all order states correctly..

[2022-05-06 07:56] MargoKep opened #35435 "Magento 2.4.4 Can't Save customer if date attribute with default value exists."
Preconditions (*)

Magento 2.4.4
PHP 8.1

Steps to reproduce (*)
1.Create new customer attribute with Input Type=Date and set default value--> Save
2 Go to the creation a new customer and fill in the required fields--> Save

Expected result (*)

Success  save customer.
Actual result (*)
Error and  Can't Save customer
ValueError: bcsub(): Argument #1 ($num1) is not well-formed in /var/www/vhosts/8.

[2022-05-06 08:24] engcom-Hotel commented on #35345
Dear @jgutierrezs,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-05-06 08:24] #35345 closed, assigned to engcom-Hotel

[2022-05-06 08:56] engcom-November commented on #35337
Hi @kumarsh178 ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-05-06 08:56] #35337 closed, assigned to engcom-November

[2022-05-06 09:02] engcom-November commented on #35435
@magento give me 2.4-develop instance

[2022-05-06 09:08] nisha-vaghela commented on #34692
@magento give me 2.4.3 instance

[2022-05-06 09:27] bskimball commented on #35433
@magento give me 2.4-develop instance

[2022-05-06 09:31] engcom-November commented on #35435
Verified the issue on Magento 2.4-develop branch with Enterprise edition modules installed and the issue is reproducible.
Hence updating description and confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/167105875-76814071-abbe-4438-beae-c2a48f4e9a32.png)
![image](https://user-images.githubusercontent.com/60198231/167105918-4e78ad26-4bdc-43b0-b417-fe68664b397d.png)

[2022-05-06 09:45] bskimball commented on #35433
works on fresh instance. Must have something to do with the data migration.

[2022-05-06 09:54] #35433 closed, assigned to nobody

[2022-05-06 10:07] pinalmehta commented on #34576
I am also facing the same issue after upgrading Magento to the 2.4.3 version. when I refresh the page after applying the filter it shows the wrong data.

Please provide a patch or solution.

[2022-05-06 10:41] engcom-Hotel commented on #34108
Hello @convenient,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop with and without applying the patches. But it seems that the issue is not reproducible for us. Please find the below screenshot for reference:

### New Relic Configuration
![image](https://user-images.githubusercontent.com/51681618/167116451-04294db7-e218-4bc9-a52c-e5c73ddcbc30

[2022-05-06 10:58] Nuranto opened #35437 "Order status history & Check State"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Create an order
2. Invoice it
3. Ship it

### Expected result (*)

1. 3 order history lines : 1 for new status, 1 for processing and 1 for complete

### Actual result (*)

1. No history lines

When the order state and status are updated via `Magento\Sales\Model\ResourceModel\Order\Handler\State`, there is no call to `addSta

[2022-05-06 12:11] mad-develop opened #35440 "Customer group is NULL in guest orders"
### Additional Information
Paypal Express doesn't seems to be affected. I don't know why.

### Preconditions (*)
1. Magento 2.4.4
2. Payment Method: Checkmo

### Steps to reproduce (*)
1. Order as Guest

### Expected result (*)
1. Order should have "NOT LOGGED IN" as customer group (DB: sales_order.customer_group_id = 0)

### Actual result (*)
1. Customer group is empty (DB: sales_order.customer_g

[2022-05-06 12:13] ihor-sviziev commented on #34003
@sidolov any comments?

[2022-05-06 12:14] mad-develop commented on #35440
@magento give me 2.4-develop instance

[2022-05-06 12:30] mad-develop commented on #35440
Confirmed on 2.4-develop
![grafik](https://user-images.githubusercontent.com/40065929/167131602-ed7ef7f0-9b33-4385-ad80-cbd26b88903d.png)

[2022-05-06 12:54] #12899 closed, assigned to nobody

[2022-05-06 13:01] olegpola commented on #35275
https://github.com/magento I am working on this

[2022-05-06 13:55] BorisovskiP commented on #35339
@engcom-Hotel ok lets try a different approach:

1. Create a directory under `app/code` called `Test/Module`.
2. Copy the contents from https://github.com/BorisovskiP/test-module to that directory.
3. Run `bin/magento setup:upgrade`

Expected result:

Both tables should be created

Actual result:

`Warning: Undefined array key "test_table" in /var/www/html/vendor/magento/framework/Setup/Declaratio

[2022-05-06 14:09] aetonsi commented on #35419
Hello,
i'm having problems with sodium too, but on **Windows 11** (`Version 10.0.22000.652`). Obviously i have sodium installed and de-commented in `php.ini`.

Here's my setup:

`php -version`

`php -info | grep sodium`

`composer.json`

elasticsearch

Here is my log:

[code]

[2022-05-06 14:11] shubham-cedcoss commented on #35434
@magento I am working on this

[2022-05-06 14:38] engcom-Delta commented on #35432
Hi @shawkatalam-dev ,

Thank you for logging an issue . We tried to reproduce the issue on 2.4 develop ( Enterprise Edition) Frontend , but need more clarity on step 3 & step 4.

Followed steps:

1. Add a product to gift registry

<img width="1440" alt="Screenshot 2022-05-06 at 7 38 36 PM" src="https://user-images.githubusercontent.com/51681379/167153674-ba1165c9-8f60-4c01-9401-1b66b7696047.png">

[2022-05-06 17:26] gyduxa opened #35443 "Pagebuilder - unable to add content in tabs inside tabs"
### Preconditions (*)

1. Magento version: 2.4.3

### Steps to reproduce (*)

1. Go to Pages in backoffice
2. Create a new page
3. Button: Edit with pagebuilder
4. Drag the row button to insert a new row
5. Drag the tabs button inside the row to add a tab and name it "Tab 1"
6. Drag the column button inside the tab to add it.
7. [optional] You can add a heading "Test Tab 1" and a text "Text tab 1"

[2022-05-07 06:33] ihor-sviziev commented on #35419
I guess it might be related to running Magento on windows, which isn't officially supported. You can try running it in Ubuntu using WSL2

[2022-05-07 09:01] olegpola commented on #35275
@magento I am working on this

[2022-05-07 12:11] johan-lindahl opened #35444 "Exception when saving product with tier price on website scope"
### Preconditions (*)

Magento 2.4.3-p2

The problem occurs when the store has "price scope" = website and the product have tier prices on multiple websites.

### Steps to reproduce (*)

1.  Read a product and explicitly specify the default scope
$product = $this->productRepository->get($MySku, true, \Magento\Store\Model\Store::DEFAULT_STORE_ID);
(productRepository = \Magento\Catalog\Model\Product

[2022-05-07 12:27] johan-lindahl commented on #35444
The exception is thrown because getOrigData('tier_price') is returning tier_price data for the default store and not for the store edited when called by the following line.
https://github.com/magento/magento2/blob/96faea78235f05b5c74f78db9dc8d5661a38c2fd/app/code/Magento/Catalog/Model/Product/Attribute/Backend/TierPrice/UpdateHandler.php#L99

The reson why this happens is because the scope is not

[2022-05-07 15:04] Manju-crz commented on #35440
@magento give me 2.4-develop instance

[2022-05-08 22:26] rsidhaarth commented on #34758
Hi All,

Guys any solution to this? We are using ScandiPWA and we get the same issue. Cart returning wrong values due to the session being locked. And when we turned off the session lock, a site loaded super fast and all issues are gone.

But wondering what other issues it may open if we disable the session locking.

[2022-05-09 03:46] ghost opened #35445 "Can't unlock block or add products"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2022-05-09 04:36] tschirmer opened #35446 "[Severity: S1] Default consumer configurations prevents consumers running with Cron."
### Preconditions (*)
1. Install Magento 2.4.4

### Steps to reproduce (*)
1. install Magento, remove all reference to consumers from env.php and config.php

### Expected result (*)
1. All consumers should be run with cron.

### Actual result (*)
1. No consumers are run with cron.

According to documentation here: https://devdocs.magento.com/guides/v2.4/config-guide/mq/manage-message-queues.html

[2022-05-09 07:27] webamondo commented on #35415
@magento give me 2.4-develop instance

[2022-05-09 08:33] LudwigDev9 commented on #26053
Any update to the issue?

[2022-05-09 09:22] engcom-Delta commented on #35445
Hi @RTLSDC ,

Thank you raising the ticket , We could not found the details like pre-condition, issue description, Actual results and expected results and screenshots if required. Or if it is unexpected or accidental issue please confirm we can close it.

Regards,

[2022-05-09 09:25] Giakie commented on #34893
I'm having the very same issue, the workaround is to clear all the cookies and refresh the page, but it's not something I can ask my client to do every time
thanks

[2022-05-09 09:35] nkikkertyouwe commented on #17465
I was able to reproduce this on a project of ours using the API:

PUT /rest/english/V1/products/BUNDLE-0001

{
    "product": {
        "id": 844874,
        "sku": "WMS-BUNDLE-0001",
        "type_id": "bundle",
        "custom_attributes": [],
        "extension_attributes": {
            "bundle_product_options": [
                {
                    "option_id": 1,
                    "title

[2022-05-09 09:35] nkikkertyouwe commented on #17465
@magento give me 2.4-develop instance

[2022-05-09 09:39] rtsehynka commented on #35412
HI.
I have the same problems after update to 2.4.4 and php 8.1. Also, it
very easy to fix if you add additional check  isset($data['query']) && on string of  if ( strpos($data['query'], 'IntrospectionQuery') === false) { in file /vendor/magento/module-graph-ql/Controller/GraphQl.php.
`    // log information about the query, unless it is an introspection query
    if (isset($data['query']) &&  strp

[2022-05-09 09:40] engcom-Delta commented on #35434
Hi @mrrobotisback ,
Thank you for raising an issue , we tried to reproduce it on Magento 2.4.4 instance and found that issue is reproducible.
Hence issue has been confirming .

Steps followed:
1. Log into Backend(Admin portal)

<img width="1440" alt="Screenshot 2022-05-09 at 3 05 21 PM" src="https://user-images.githubusercontent.com/51681379/167383393-9ce25a2f-8760-4629-a775-6099cd88516b.png">

2.

[2022-05-09 10:01] tschirmer commented on #35446
I've continued to look through this code, and there is a line that's meant to achieve this:
https://github.com/magento/magento2/blob/0f9a056c8d83c4f319626b3e56ec52a533999f25/app/code/Magento/MessageQueue/Model/Cron/ConsumersRunner.php#L181

We've had an issue with inventory not marking the product out of stock after reaching 0 saleable qty. We've tracked it to the consumers not running, and until

[2022-05-09 10:36] engcom-Hotel commented on #35339
Hello @BorisovskiP,

Thanks for your reply!

We have tried to reproduce the issue in Magento 2.4-develop branch, with your latest comment. We are able to reproduce the issue. Please find attached the screenshot for reference:

<img width="1431" alt="image" src="https://user-images.githubusercontent.com/51681618/167393230-8a147a75-40f5-4d36-bff8-0b5cb8ae1185.png">

I suggest you try [declarative sc

[2022-05-09 10:46] engcom-November commented on #35440
@magento give me 2.4-develop instance

[2022-05-09 10:58] engcom-November commented on #35425
Hi @7018424048 Thank you for reporting and collaboration. Verified the issue by upgrading from Magento 2.3.1 to 2.43 but could not able to reproduce the issue. User is able to edit and save Store Configuration.
Can you please check if any third party extensions / modules is causing this issue. Also please check [system requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requir

[2022-05-09 11:12] engcom-Alfa commented on #35212
As per the given [comment](https://github.com/magento/magento2/issues/26664#issuecomment-581439963), this is not an issue.
Additionally please refer my above analysis as GET method should not be responsible for updating Quote.
There is a dedicated PUT method for the same.
[Reference](https://magento.redoc.ly/2.4.4-customer/tag/cartsmine/#operation/quoteCartRepositoryV1SavePut) for PUT method to up

[2022-05-09 11:12] #35212 closed, assigned to nobody

[2022-05-09 11:16] nkikkertyouwe commented on #17465
Thanks, I have been able to reproduce this on the Magento Instance.

I have used the default bundle product "24-WG080", and I have created a new store view called "custom".

When I update the "title" in the "bundle_product_options" to "Sprite Stasis Ball - New Title 3" for only the first option, I see that it updates the "Default Title" for all options (see screenshot).

PUT https://49dafa074e0acb

[2022-05-09 11:37] engcom-November commented on #35440
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/167402069-3c046289-2ac4-45ee-b411-70ef1fffb778.png)

[2022-05-09 12:16] Calvin495 commented on #35093
Is there any potential fix that is officially released for this issue?

[2022-05-09 12:16] bartoszkubicki commented on #8015
Still an issue on 2.4.3-p1

[2022-05-09 12:25] Calvin495 commented on #35093
the solution that @nthurston suggested is not working for us.

[2022-05-09 12:52] LucianMihalache commented on #35446
@magento give me 2.4-develop instance

[2022-05-09 13:29] norgeindian commented on #27474
@engcom-Hotel , what's the current status here?

[2022-05-09 13:30] norgeindian commented on #28153
This is still an issue on our side.

[2022-05-09 15:24] Nav1s79 opened #35447 "Cannot Save and Duplicate Catalogue products"
### Preconditions (*)

1. Magento 2.3.4
2.

### Steps to reproduce (*)

1.  Goto a catalogue item (already created_ click on save and duplicate and get error messages at the top of the page and occasionally duplicates item but generally does nothing
2.

### Expected result (*)

1. [Screenshots, logs or description]
2. For it to duplicate the listing.......

### Actual result (*)

1. [Screenshots,

[2022-05-09 15:33] #35343 closed, assigned to nobody

[2022-05-09 15:56] puntable commented on #35297
Can confirm, this did the trick for me aswell. Upgraded from 2.4.3-p1 > 2.4.4

[2022-05-09 19:45] mpchadwick commented on #33157
Just going to pile on and state that this is not how any one would expect PayPal express to need to work (the shipping info should come from PayPal and shouldn't require to be collected again from the user). We will also try switching to `beforeResolve` in the plugin.

[2022-05-10 01:30] erfanimani commented on #33096
Will the fix for this become available as a Magento Quality Patch?

[2022-05-10 04:40] cmuench commented on #35412
I can confirm that. A fresh Magento 2.4.4 produces this PHP warning. We should fix that.
IMHO it's a minor issue. GraphQL POST requests are not affected.
I was also able to query via GET (then we have the query parameter "query" available).
So the title is misleading.

[2022-05-10 05:20] engcom-November commented on #35447
@magento give me 2.4-develop instance

[2022-05-10 05:26] engcom-November commented on #35274
Hi @leonhelmus ,
We are closing this issue as there has been no latest update on the same. Kindly reopen/create new issue if you are still facing any issues.
Thank you.

[2022-05-10 05:26] #35274 closed, assigned to engcom-November

[2022-05-10 05:56] engcom-November commented on #35416
Verified the issue again on Magento 2.4.4 and 2.4-develop branch and observed below issue on changing admin base url and custom admin path:
**Steps performed:**
1. Stores > Settings > Configuration - Advanced - Admin - Custom admin Url set to "yourmagentostore.com/backend/"
2. Custom Admin path set to "backend"
3. Save config
Issue: UI is displayed as below. Unable to login even after clearing cac

[2022-05-10 07:17] Jazzz09 commented on #28133
I am also getting the same issue in 2.3.5-p3 admin for the password reset. It seems the Password Reset Confirmation email contains an incorrect email because of which we are getting this issue. In vendor/magento/module-user/view/adminhtml/email/password_reset_confirmation.html
`{{store url="admin/auth/resetpassword/" _query_id=$user.id _query_token=$user.rp_token _nosid=1}}`

Try using below one i

[2022-05-10 07:20] engcom-Hotel commented on #35399
Hello @Axel29,

Thanks for the report!

We have tried to reproduce the issue by upgrading Magento from 2.3.7-P2 to 2.4.4, but for us, the issue is not reproducible for us. Please have a look at the below screenshots for reference:
### Magento 2.3.7-P2 with 100 orders:
![2 3 7-p2](https://user-images.githubusercontent.com/51681618/167571507-0d5d3d9c-6b3f-4546-9e98-7039026334a2.png)

### Magento 2.4

[2022-05-10 07:27] tuyennn commented on #29884
@sdzhepa Kindly reopen this ticket
We're upgrading from Magento 2.4.2EE to 2.4.4EE with disabled Magento_TwoFactorAuth
![image](https://user-images.githubusercontent.com/4010395/167572859-8dcdc4cf-6dfd-4e74-b736-9316a930c0a9.png)

For now every admin accounts are unable to login
![image](https://user-images.githubusercontent.com/4010395/167572948-96828dec-4e7e-48db-8ed9-13cc94a0df71.png)

[2022-05-10 07:58] aetonsi commented on #35419
Oh i see, i will try that. Thanks.

[2022-05-10 07:58] engcom-Hotel commented on #34974
Dear @support-smartebusiness,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-05-10 07:58] #34974 closed, assigned to engcom-Hotel

[2022-05-10 07:58] BorisovskiP commented on #35339
Thanks for checking and confirming the issue @engcom-Hotel.

Using `declarative schema` is the way to go, but there are still a lot of third party modules which use `Install/Upgrade Schema` and this issue prevents us from integrating these modules into Magento.

This incompatibility between `db_schema` and `Install/Upgrade Schema` means that in order for newly developed modules to be compatible wi

[2022-05-10 08:22] anowave opened #35448 "Issue with extending \ArrayObject"
### Preconditions (*)

1. Magento 2.4.4
2. PHP 8.1

### Steps to reproduce (*)

1. Create a simple class e.g.

`class Param extends \ArrayObject {}`

2. Create a child class e.g.

`class Bug extends Param` {}

### Expected result (*)

1. Running bin/magento setup:di:compile should complete without errors

### Actual result (*)

1. Compilation results in error: Call to undefined method ReflectionUn

[2022-05-10 08:34] norgeindian opened #35449 "i18n:collect-phrases does not include mail template translations in depend constructs"
### Preconditions (*)

1. Magento 2.4.3-p2

### Steps to reproduce (*)

1. Run `bin/magento i18n:collect-phrases --output=test.csv vendor/magento/module-sales/view/frontend/email/`
2. Take a look at `vendor/magento/module-sales/view/frontend/email/order_new.html` and see for example the following code snippet: ```                 {{depend store_hours}}
                    {{trans 'Our hours are <s

[2022-05-10 09:30] engcom-November commented on #35447
@magento give me 2.4-develop instance

[2022-05-10 09:44] VladyslavSikailo opened #35450 "Configurable product - getUsedProducts doesn't include required attributes when called second time"
### Preconditions
1. Magento 2.4.4

### Steps to reproduce
Note: it's possible to reproduce it only by customization
1. Create some custom product attribute like `color2`
2. Create a configurable product with one child
3. Fill the child product's `color2` with some test value like 'RED'
4. Use the following code snippet somewhere in you customizations
Use instead `{CONFIGURABLE_SKU}` your configur

[2022-05-10 10:07] engcom-November commented on #35415
Hi @webamondo ,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.4.3 to 2.4.4 but could not able to reproduce the issue.
Steps performed:
1. Upgraded 2.4.3 to 2.4.4 open source version. (project-community-edition)
2. Upgraded PHP version from 7.4 to 8.1 as per [System requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html)
3. Adm

[2022-05-10 10:20] engcom-November commented on #35447
Hi @Nav1s79 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue. User is able to save and duplicate a product
![image](https://user-images.githubusercontent.com/60198231/167606951-d7389f1e-c881-4fb9-9528-ea7a488a3af2.png)

![image](https://user-images.githubusercontent.com/60198231/167606876-5dc908c5-d367-4840-9776

[2022-05-10 10:21] ga3003 commented on #32754
Is there any update about this issue? I am using one custom payment method which redirects to the bank page for payment. The module used **afterPlaceOrder** method to redirect the customer to the bank page and created a controller where they are trying to get orderId using checkoutSession->getLastRealOrderId() function. After debugging, I found that this orderId is undefined.

FYI, we are using Re

[2022-05-10 10:41] chris-pook commented on #25906
@magento-engcom-team @ajithkumar-maragathavel Hi, I'm pretty sure the fix applied to the magento/module-braintree extension for this has not made it to the paypal/module-braintree-core extension now packaged in Magento 2.4.

Note the code in Magento/Braintree (no longer available in 2.4.x) is different to that in paypal/module-braintree-core:

https://github.com/magento/magento2/blob/2.3.7/app/cod

[2022-05-10 10:43] Adel-Magebinary commented on #32245
@gianstraf  any updates?

[2022-05-10 10:50] engcom-November commented on #35437
Hi @Nuranto ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch however current behavior is as per official [Magento docs](https://docs.magento.com/user-guide/sales/order-status.html). Can you please elaborate where exactly 3 order history lines to be added on UI? Also this can be treated as a Feature request as its an enhancement to the existing feature b

[2022-05-10 11:11] engcom-Delta commented on #35350
We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2022-05-10 11:11] #35350 closed, assigned to engcom-Delta

[2022-05-10 11:18] webamondo commented on #35415
Hello

That's correct, but was the content {{var order.getPayment().getMethodInstance().getTitle()}} in the email when it was sent?

For me it's blank, should this not be flagged on the compatibility checker as an incorrect tag?

[2022-05-10 11:18] Nuranto commented on #35437
@engcom-November , you can check in Information tab, in the comments fieldset.

In the comment history tab, it just displaying the invoice and shipment creation date. But if you check sales_order_status_history, you won't have those history lines.

That's a problem for - for example - reporting or triggering modules.

[2022-05-10 12:19] engcom-Hotel commented on #35382
@magento give me 2.4-develop instance

[2022-05-10 12:49] engcom-Hotel commented on #35382
Hello @itmsenior,

Thanks for your reply!

But I am unable to get the below comment:

Please find the below screenshot of the `Comments history`:

<img width="1315" alt="image" src="https://user-images.githubusercontent.com/51681618/167631921-f29ea5c6-ba60-4ffe-9ca1-b9fafabaf859.png">

Below screenshot is from `Transactions`;
<img width="1319" alt="image" src="https://user-images.githubusercontent

[2022-05-10 13:19] bilalusean commented on #13225
Any solution? For me, it is happening in Magento 2.4.2. I don't see any merged CSS added inside the HTML head tag. Also, it creates files in the **var/tmp** folder on every request. It grows to 300GB within a day and it down the server (No Space left). Right now, we schedule cron to clear the **var/tmp** folder to fix the "No space left" issue.

**Load the home page first time**
<magento-root>/var

[2022-05-10 13:38] yuriichayka commented on #35428
Hello @engcom-Delta
Thanks for working on it.

The issue is caused by the latest release of MSI, particularly by this newly introduced file - https://github.com/magento/inventory/blame/develop/InventoryCatalog/Model/ResourceModel/StockStatusExpressionForDefaultStock.php

Following line breaks the logic:
[code]
For us, the fix was to revert related changes:
[code]

[2022-05-10 14:23] o-iegorov commented on #34879
@alitopaloglu already merged to the mainline

[2022-05-10 14:28] phoenix-bjoern opened #35451 "Retain the default cache & page cache's id_prefix if it has been defined by env.php -2-"
This issue is to re-open PR https://github.com/magento/magento2/pull/22356.

The issue is still valid for Magento 2.4.x and is simple to reproduce. Configure a id_prefix in `env.php`:
[code]

Then execute a command like `bin/magento setup:config:set --http-cache-hosts=varnish`. Check the `env.php` again the value has changed: `'id_prefix' => '69d_'`.

While IMHO it is not necessary to set any defa

[2022-05-10 14:29] iiagolima commented on #31146
Hello!

Is there any updates here? Could not find the PR for it.

[2022-05-10 14:41] #33477 closed, assigned to nobody

[2022-05-10 15:12] Rickertje commented on #7199
@magento-engcom-team Reopen this issue please

[2022-05-10 15:21] engcom-Hotel commented on #34108
Hello @convenient,

Thanks for the reply!

We have checked, cron are working for us. But still, we are unable to see much transaction in NewRelic. But we are still working on it and get back to you soon.

Thanks

[2022-05-10 15:28] engcom-Delta opened #35452 "Unique constraint violation found after saving CMS Page (subpage)"
**Description**
https://github.com/magento/partners-magento2ee/issues/548

### Preconditions (*)

1.Magento Commerce v2.4.2 or 2.4 develop ( EE)

### Steps to reproduce (*)

1. Log in to Magento EE ( commerce edition )
2. Create and save a new CMS Page
3. Add page as other page's sub page in Page Hierarchy
4. Go edit the page you created and try to save - Error occurs

### Expected result (*)
Page

[2022-05-10 16:27] phoenix-bjoern commented on #35451
A workaround to preserve the cache id_prefix setting when using `bin/magento setup:config:set` is to explicitly set the values within the command: `bin/magento setup:config:set --http-cache-hosts=varnish --cache-id-prefix=1097_ --page-cache-id-prefix=1097_`

Side note: --allow-parallel-generation will also be set to `false` if not added as an argument.

[2022-05-10 17:35] #35428 closed, assigned to engcom-Delta

[2022-05-10 18:25] hostep commented on #35428
@yuriichayka: why did you close this issue? Is it not reproducible on a clean Magento 2.4.4 installation with MSI installed?

[2022-05-10 18:37] yuriichayka commented on #35428
@hostep because the issue is MSI-related, and there is a separate MSI repository.
the issue is reproducible on clean Magento 2.4.4 installation with MSI

[2022-05-10 18:42] hostep commented on #35428
Ah okay! Can you link to the issue on the MSI repository from within this one? That will help people find more info quicker in case they run into the same issue, thanks 🙂

[2022-05-11 07:08] kirill533 commented on #30685
Same on 2.4.4:

bin/magento setup:upgrade:
`Unable to apply data patch Magento\CatalogRuleSampleData\Setup\Patch\Data\InstallCatalogRuleSampleData for module Magento_CatalogRuleSampleData. Original exception message: Rolled back transaction has not been completed correctly.`

System.log: `Sample Data error: Unable to unserialize value. Error: Syntax error`

[2022-05-11 07:39] itmsenior commented on #35382
@engcom-Hotel The order needs to be put into state 'Payment Review' first. See screenshot from previous test by @engcom-Hotel :
![image](https://user-images.githubusercontent.com/49071342/167795058-9b825474-9ef2-48cc-ab42-55feceae29f9.png)

[2022-05-11 08:28] engcom-Delta commented on #35451
Hi @phoenix-bjoern ,

Thank you for re-opening the issue . It would be great help if you can help us with issue description, steps to reproduce, actual results and expected results.

Regards,

[2022-05-11 08:37] hostep opened #35453 "Robots meta tag should be configurable on storeview level, right now it's only on website level"
### Preconditions (*)
1. Magento 2.3.7 or 2.4.4. or any recent version

### Steps to reproduce (*)
1. Use a clean Magento installation
2. Setup at least 2 storeviews
3. In the backoffice, go to Content > Design > Configuration
4. Click on 'Edit' for one of the storeviews
5. Click open the 'Search Engine Robots' section

### Expected result (*)
1. To be able to configure the 'Default Robots' settin

[2022-05-11 08:42] hostep commented on #35453
Just took a look at a Magento 2.1.7 and 2.1.11 shop, in 2.1.7 it was still configurable on storeview level, in 2.1.11 it no longer is.

So this got changed (broken?) somewhere between Magento 2.1.7 and 2.1.11

[2022-05-11 08:42] aetonsi opened #35454 "Magento CE 2.4.4 - 404 on static content - developer/default mode"
### Preconditions (*)

1. Magento community edition 2.4.4
2. linux mint 20.3 una (ubuntu) (but SAME result on Windows11 cmd and Windows11 WSL2)
3. php 8.1.5
4. composer 2.3.5
5. mysql ver 8.0.29-ubuntu0.20.04.3 x86_64
6. elasticsearch 7.17.3
7. apache/2.4.41 (ubuntu)

### Steps to reproduce (*)

0. install various packages `sudo apt install gzip lsof sed tar p7zip-full unzip zip`
1. install and st

[2022-05-11 09:23] raulsinapsis opened #35455 "Magento Commerce ver. 2.4.3-p1 missing category thumbnail attribute"
### Preconditions (*)
Magento Commerce ver. 2.4.3-p1
Hosted in Adobe Cloud servers / it can be reproduced in local environment

### Steps to reproduce (*)
Install default project in a clean database with composer packages:
"magento/composer-root-update-plugin": "~1.1",
"magento/magento-cloud-metapackage": ">=2.4.3 <2.4.4"

### Expected result (*)
Category thumbnail attribute is installed

### Actu

[2022-05-11 09:31] Vringe commented on #31109
Unfortunately this is still the case.
Please consider testing directly with MariaDB 10.6 which is the latest LTS version.

[2022-05-11 09:32] aetonsi commented on #35454
@magento give me 2.4-develop instance

[2022-05-11 10:12] stereoscope commented on #26053
hello. the same issue occurred just yesterday. while tests where running against Magento v2.4.4.
i get the same error ....

here my docker-compose script

version: '2'
services:
  mariadb:
    image: docker.io/bitnami/mariadb:10.3
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=bn_magento
      - MARIADB_DATAB

[2022-05-11 11:02] pawel-siejba opened #35456 "Composer Dependency Version Audit Plugin should not be a requirement of magento/framework"
### Summary (*)

magento/framework is often one of the base requirements of composer packages that represent Magento Modules. It is a necessary requirement when you want to be able to test the package without the need to install Magento around it.

The problem is that magento/framework requires more of a project-type plugin, which is magento/composer-dependency-version-audit-plugin. There is no re

[2022-05-11 11:33] JMLucas96 commented on #31912
Take care if it is problem of redis or any cache config.

[2022-05-11 13:13] engcom-Hotel commented on #35454
Hello @aetonsi,

Thanks for the report and collaboration!

I would like to suggest you create a virtual host and then try to access the instance using the domain name given in the virtual host.

Thanks

[2022-05-11 13:14] sheepfy opened #35457 "DataObjectHelper wrong snake case"
check this file: https://github.com/magento/magento2/blame/5d9fe40c09f56317fb72752fefd00e42ec90431e/lib/internal/Magento/Framework/Api/DataObjectHelper.php#L304

Line 304 says that each class method should get an "_" before upper letter.

Have a class with a method "setFirstASecond()"
Now execute code from line 307 with the given "setFirstASecond" method as input:

strtolower(preg_replace(['/(^|,)

[2022-05-11 13:48] nisha-vaghela commented on #35330
@magento I am working on this

[2022-05-11 13:50] nisha-vaghela commented on #35330
@magento add to contributors team

[2022-05-11 14:08] m2-assistant[bot] opened #35458 "[Issue] Use product type id instead of product id"
This issue is automatically created based on existing pull request: magento/magento2#35299: Use product type id instead of product id

---------

### Description (*)
The condition supposed to match `$product->getTypeId()` against `['grouped', 'configurable', 'bundle']` - not the product id.

### Related Pull Requests
-

### Fixed Issues (if relevant)
-

### Manual testing scenarios (*)
No testing

[2022-05-11 14:53] engcom-Hotel opened #35459 "Version CMS performance degradation due to the multiple Current Node Resolver call"
### Summary (*)
If you take a look at `\Magento\VersionsCms\Model\CurrentNodeResolver::get` you immediately realize that `!isset` condition to retrieve the cached response before (instead) calling the DB again wouldn't work, because... `isset` returns `false` when the value of the variable is `null`. Let's take a look at the bottom of the function:
![image](https://user-images.githubusercontent.co

[2022-05-11 15:01] homecoded commented on #26599
Hi there
I'm using Magento ver. 2.4.2-p1 and I believe there is something fundamentally wrong with the way tax is rounded in `Magento\Tax\Model\Calculation\AbstractCalculator`. The deltas used for the tax calculation change each time the method is called making it essentially a statefull method. The deltas may become so big that is creates serious rounding errors.

I made some sample code demonstr

[2022-05-11 15:34] tuyennn commented on #33748
Confirm it was still on 2.4.3-p2 anyone could update this ticket status?

[2022-05-11 15:41] engcom-Hotel commented on #35453
Hello @hostep,

Thanks for the report and collaboration!

We have verified the issue in Magento 2.4-develop branch and the issue is reproducible for us. Hence confirming the issue.

Please refer to the below screenshots:

### In the Storeview the `Search Engine Robots` section is not editable
<img width="1347" alt="image" src="https://user-images.githubusercontent.com/51681618/167890899-419dce2b-9

[2022-05-11 15:49] sdzhepa commented on #34003
@ihor-sviziev @onlinebizsoft

Sorry for such incident.
I will ask "engcom-xxx" squad to investigate and provide updates here ASAP

cc: @sidolov

[2022-05-11 16:03] mohammedTBB commented on #35319
Hello
I had the same error after updating from magento 2.4.3-p1 to magento 2.4.4
and php 7.4 to php 8.1

while running index this error is showing:
Product EAV index process error during indexation process:
Deprecated Functionality: explode(): Passing null to parameter #2 ($string) of type string is deprecated in /var/www/html/imprimir-etiquetas/vendor/magento/module-catalog/Model/ResourceModel/Pr

[2022-05-11 17:54] sheepfy commented on #35457
@engcom-Delta I just explained. See issue description.

[2022-05-11 21:03] phoenix-bjoern commented on #35451
@engcom-Delta Just have a look at the initial tickets and I‘ll find the requested information (https://github.com/magento/magento2/issues/22253).
Furthermore I can confirm that this issue can be still reproduced with 2.4-develop and the patch is fixing the issue.
So you can move on with verifying the PR and merge it.

[2022-05-12 00:00] mrtuvn commented on #33416
cc: @andrewbess possible know something

[2022-05-12 06:15] engcom-Delta commented on #35271
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-05-12 06:15] #35271 closed, assigned to engcom-Delta

[2022-05-12 06:23] babarzafar opened #35460 "when I do a transaction through a payment gateway in an iframe, then after returning to the merchant site, sessions are destroyed and users log out in magento2.4.3 in the firefox browser"
### Preconditions (*)

when I do a transaction through a payment gateway in an **iframe**, then after returning to the merchant site, sessions are destroyed and users log out in magento2.4.3 in the **firefox browser** but it works properly in **all browsers** except firefox.

### Expected result (*)
I want to get the proper transactions through the payment gateway and sessions should not destroy.

[2022-05-12 06:47] engcom-Hotel commented on #35339
Hello @BorisovskiP,

I agree with your point. The issue is reproducible by the given steps in the main description. Hence confirming the issue.

Thanks

[2022-05-12 06:50] nisha-vaghela commented on #35330
In ui_component form.xml change like "validate-required-datetime" .

<field name="start_date">
    <argument name="data" xsi:type="array">
        <item name="config" xsi:type="array">
            <item name="dataType" xsi:type="string">string</item>
            <item name="label" xsi:type="string" translate="true">Go Live Start Date</item>
            <item name="formElement" xsi:type="string">da

[2022-05-12 06:57] nisha-vaghela commented on #35330
In ui_component form.xml some change.

<field name="start_date">
    <argument name="data" xsi:type="array">
        <item name="config" xsi:type="array">
            <item name="dataType" xsi:type="string">string</item>
            <item name="label" xsi:type="string" translate="true">Go Live Start Date</item>
            <item name="formElement" xsi:type="string">date</item>
            <item na

[2022-05-12 07:02] nisha-vaghela commented on #35330
In ui_component form.xml file some change in "validate-required-datetime" not only "validate-date" .

[2022-05-12 07:33] norgeindian opened #35462 "i18n:collect-phrases does not include titles in layout files"
### Preconditions (*)

1.2.4.3-p2

### Steps to reproduce (*)

1. Take a look at `Magento_Customer/layout/override/base/customer_account_create.xml`. You will find the following line:    `<title>Create New Customer Account</title>`
2. Run `bin/magento i18n:collect-phrases --output=test.csv vendor/magento/module-customer/view/frontend/layout/`

### Expected result (*)

1. I would expect, that the t

[2022-05-12 09:13] ahmed22s885111qq opened #35463 "There has been an error processing your request"
Exception printing is disabled by default for security reasons.

Error log record number: d11d948cb3596b359566fa162df65dbf6baef2446fe384f4476057675f3dd95f

i run the record log number in putty this what i see :

`var/report/d11d948cb3596b359566fa162df65dbf6baef2446fe384f4476057675f3dd95f: lin e 1: e: command not found var/report/d11d948cb3596b359566fa162df65dbf6baef2446fe384f4476057675f3dd95f: lin

[2022-05-12 09:29] kanevbg commented on #31959
This is still valid issue in Magento 2.3.7-p3. Please re-open!

[2022-05-12 10:21] BorisovskiP commented on #33802
Any updates on this issue? I can reproduce it in a pipeline on Magento 2.4.4.

[2022-05-12 11:02] hoangngo-calvin opened #35464 "rtrim() expects parameter 1 to be string, bool given vendor/magento/framework/Encryption/Adapter/Mcrypt.php(171): rtrim()"
### Preconditions (*)

1. Magento 2.4.3-p2
2. php7.4.29
3. MySQL 8.0
4. Ubuntu 22.04

### Steps to reproduce (*)

1. Run composer to download source code
2. run the install command
[code]

### Expected result (*)

Command run successfully

### Actual result (*)

There is an exception
[code]
![image](https://user-images.githubusercontent.com/31319355/168054774-26f4f1bf-2cb2-4517-9563-8ebd6cc69246.p

[2022-05-12 11:09] sheepfy commented on #35457
@engcom-Delta I've added more info about the issue.

[2022-05-12 11:35] oneserv-heuser commented on #8897
We also have the issue, bloated up our whole database 3x its size as we have 3 stores and cronjobs that touched a lot of products and used the save() function. Very neat.
As I understand right, a workaround until this is fixed, is to either set all attribute values you dont want to change to null or, if you're not using the REST-Api, to use the [addAttributeUpdate() function from the Product Model

[2022-05-12 11:45] hoangss commented on #35464
While I'm debugging I saw this method return false: openssl_decrypt() in:
[code]

![image](https://user-images.githubusercontent.com/31319355/168067350-6068fc46-b3ce-4e19-89d6-0934ca39bcfc.png)

Im not quite sure what is wrong.

[2022-05-12 12:05] engcom-Hotel commented on #34003
Hello @onlinebizsoft,

We are reopening the issue for further investigation.

Thanks

[2022-05-12 13:34] Vringe commented on #35100
@gabrieldagama  Is there any progress yet? Do you have an approximate time when MariaDB 10.6 will be officially supported? We are currently planning to update from MariaDB 10.3 to 10.6 in summer, but this is kind of a blocker for us. We currently have over 100 Magento customers who are probably not going to be happy about running Magento on a MariaDB installation that is not officially supported a

[2022-05-12 13:52] burgh8wp commented on #33770
Thanks @hostep but that patch as I mentioned doesn't look to be a solution for the (latest) issue we are experiencing. We cleaned up the duplicated, managed to complete setup:upgrade again. But the issue continues, and the core reason seems to be that Magento is creating the url_rewrite_id for an ID that is already in the table, and is not generating new ones starting off from the previous latest

[2022-05-12 13:54] engcom-Alfa commented on #33954
HI @jignesh-coder , @SilinMykola and @yurii-denyshchenko Thanks for your contribution here.
Internal team has picked up the ticket to fix with the internal ticket number `AC-1119`.
Thanks

[2022-05-12 14:13] engcom-Alfa commented on #35154
Hi @maconeto Thanks for your contribution here.
Internal team has already picked up the ticket and working on it. We have the above auto-generated ticket `AC-2688` to work on it.
This fix will be the part of `Magento release version 2.4.5`.
Thanks

[2022-05-12 14:28] burgh8wp commented on #33770
It's the catalog_url_rewrite_product_category I was referring to, the url_rewrite table already has "Auto Increment" enabled. But the former table doesn't. Looked through all our Magento installs including default blank install, and seems catalog_url_rewrite_product_category always has "Auto Increment" disabled. But would make sense to have it enabled? Will test on dev site shortly, but any issues

[2022-05-12 14:42] #35217 closed, assigned to nobody

[2022-05-12 14:48] hostep commented on #33770
No, you definitely do not want an auto increment on `catalog_url_rewrite_product_category` because its `url_rewrite_id` column is a foreign key to the `url_rewrite_id` column of the `url_rewrite` table. So those id's should move together.

[2022-05-12 14:51] burgh8wp commented on #33770
Ok, I see that structure now. If understanding the patch correctly here - https://github.com/magento/magento2/pull/34791

All it's doing is essentially allowing duplicates to be created for url_rewrite_id for the catalog_url_rewrite_product_category table? That's it? Assuming that is not going to cause other further issues down the line?

[2022-05-12 14:59] engcom-Delta opened #35465 "REST API Ignores User Role Scope"
Description:
https://github.com/magento/partners-magento2ee/issues/92

### Preconditions (*)

1. Magento 2.2.10 & 2.3.x EE
2. Multi-site installation (min 2 store views)
3. Orders placed against multiple store views

### Steps to reproduce (*)

1. Create a new admin user role in a multi-site setup
2.Assign the user role's scope to 1 store view
![76516401-087ae380-6464-11ea-88c3-75c000a4782e](https

[2022-05-12 15:11] engcom-Hotel commented on #35248
Hello @tiagosampaio,

We again tried to reproduce the issue and the Xdebug is properly configured with the CLI. But the for the debugger is not reaching that point.

I have a query, can you please elaborate on the below statement from the main description:

Thanks

[2022-05-12 15:12] engcom-Delta commented on #35428
Hi @yuriichayka ,

We have tested the with latest MSI Module , unfortunately still not reproducible.

<img width="1440" alt="Screenshot 2022-05-12 at 8 39 58 PM" src="https://user-images.githubusercontent.com/51681379/168108261-2a2056eb-1bb4-4d1d-b51d-db91d7c859d4.png">

Kindly provide the clear steps to reproduce the issue.

Thanks

[2022-05-12 15:18] eduporium-gh-machine-user commented on #14211
@adarshkhatri This worked for us too. I 100% agree with @sean-breeden, this fixed the Magento configurable product issue we were having.

[2022-05-12 15:21] WheatleyTheCore commented on #14211
@adarshkhatri I 100% agree with @sean-breeden, this fix should definitely be submitted to Magento. It fixed the issue we were having with the built-in configurable products (where the options for said products weren't rendering).

[2022-05-12 15:23] fmineo commented on #35329
@magento I am working on this

[2022-05-12 15:23] fmineo commented on #35329
@magento add to contributors team

[2022-05-12 15:24] fmineo commented on #35329
@magento I am working on this

[2022-05-12 15:25] lantran171 opened #35466 "error"
### Preconditions (*)

1.  magento 2.3.2-p2
2.

### Steps to reproduce (*)

1. Sales > Invoices > Search > entered too many invoice numbers and got the error message : something went wrong with processing the default view and we have restored the filter to its original state.
![image](https://user-images.githubusercontent.com/105444431/168111062-9d2c4d36-bc10-41bd-81b1-2a2082a4e102.png)

### Expec

[2022-05-12 15:49] engcom-Hotel commented on #34003
Hello @onlinebizsoft,

We have rechecked the issue on the latest development branch i.e. Magento 2.4-develop. The issue is reproducible. The team has started working on it.

Thanks

[2022-05-12 16:25] tiagosampaio commented on #35248
Hello, @engcom-Hotel. Thanks for the update.

What I mean by this is that, when you change the `catalogsearch_fulltext` index to be run by a schedule, it starts to use the Materialized View architecture, which means that the products that were changed recently and need to be indexed, are going to have their IDs to be inserted into the table `catalogsearch_fulltext_cl` and the record with the `view

[2022-05-12 16:32] AdamBorealis commented on #34642
I'm desperately trying to get the FedEx implantation to work correctly in 2.3.7-p3, and 2.4.3-p2 test environment, and I'm using the same exact FedEx account meter number / credentials as another store that uses WooCommerce, and the Magento rates are 2x the price, so something is wrong...

I believe the lack of being able to input dimensional shipping from within Magento is throwing everything off

[2022-05-12 19:44] toddliningerdesign commented on #31063
@magento-engcom-team wrote:

Why wasn't this included in the 2.4.3 release as you said it would be? We have also been able to reproduce the issue in 2.4.4.

[2022-05-12 23:21] joepperkins opened #35469 "REST API POST:/V1/customers fails if firstName contains ’ (ascii code 2019 (hex))"
### Preconditions (*)

1. 2.4.0 or greater

### Steps to reproduce (*)

POST:/V1/customers
{
	"customer": {
		"email": "OToole@joeperkins.com",
		"firstname": "O’Toole",
		"lastname": "perkins",
		"website_id": 1
	}
   }

### Expected result (*)

200, Success

### Actual result (*)

Status: 400, Response:  {"message":"First Name is not valid!"}'

---
Please provide [Severity](https://devdocs.magen

[2022-05-13 04:33] FadedOut commented on #35319
@mohammedTBB Thanks for that! This seemed to work.

It is odd though, running the command would cause that error in the terminal. Then in Magento backend, it would say "Reindex Required" but the "Updated" time would say it was updated at the same time as the command was ran. Then also if the reindex ran by cron the "Reindex Required" went away and it would say "Ready". Odd to say the least - not s

[2022-05-13 05:07] xantek-imc commented on #25199
I had this issue with 2.3.7-p3 and MariaDB 10.4.24
Using MariaDB 10.3.34 solved the issue.

[2022-05-13 06:37] engcom-Delta commented on #35184
Hi @simonmaass ,
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-05-13 06:37] #35184 closed, assigned to engcom-Delta

[2022-05-13 08:07] engcom-Hotel commented on #27126
Hello @BorisovskiP,

I think this is due to some access required. I can see that the PR is merged.

Thanks

[2022-05-13 08:18] nazarklovanych commented on #35440
@magento I am working on this

[2022-05-13 08:19] engcom-Hotel commented on #35327
Hello @pixopa,

Thanks for the update. I corrected it.

Thanks

[2022-05-13 09:14] baudeval commented on #34576
This workaround fix this bug https://github.com/magento/magento2/commit/b22704143f0aaa564755eaaa1ad5645815a43ece

[2022-05-13 09:30] ihor-sviziev commented on #8897
@abukatar @sidolov @sdzhepa any comments?

[2022-05-13 10:05] pinalmehta commented on #34576
yes, this fix worked.thank you so much.

[2022-05-13 10:07] bhargavsynoptek commented on #34576
Great

[2022-05-13 10:58] atIOCrON commented on #27452
Even though this issue was marked closed without any progress, someone at Magento has fixed the bug.

If you follow the steps to reproduce in this bug report on Magento v2.4.3-p1 it shows a popup warning:

"Please correct the problems with the Credit Card fields."

It's not descriptive that the issue is the CVV, however, it's better than the previous bug where the page would break.

[2022-05-13 11:36] BorisovskiP opened #35471 "illegal offset type' warning in MutableScopeConfig"
Basically https://github.com/magento/magento2/issues/28075 also happens on Magento 2.4.4, PHP 7.4

 [MutableScopeConfig::getValue ](https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/App/MutableScopeConfig.php#L32) may receive `\Magento\Framework\App\ScopeInterface` as a scopeCode but uses it as array key: `$this->data[$scope][$scopeCode][$path]`

[2022-05-13 11:49] Usik2203 commented on #35416
@magento give me 2.4-develop instance

[2022-05-13 12:14] webgility-amazonapi commented on #35324
Is there any update for us ? Our mutual customers are affected by this.

[2022-05-13 12:21] engcom-Hotel commented on #34108
Hello @convenient,

We have tried to reproduce the issue in Magento 2.4-develop branch with the mentioned steps and the issue is reproducible for us. The NewRelic is showing Cron jobs as `unknown` transactions instead of proper names. Please find below the screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/168281902-edc4e739-90d4-4464-b800-b55ef87bac41.png)

Hen

[2022-05-13 12:22] webgility-amazonapi opened #35472 "Which API is used to get credit card information?"
### Summary (*)

### Examples (*)

We are not getting complete information of credit card information applied on order
a not getting the full credit card type. eg we are getting VI instead of VISA under the node of "cc_type" in order api
b Not getting name on credit card in resposne of order api

So how we can get these information.

### Proposed solution

We needed complete information of credit

[2022-05-13 12:45] Usik2203 commented on #35182
@magento I am working on this

[2022-05-13 12:55] shoaibpnp commented on #35464
I had the same issue today. I found out the php mcrypt library was not installed.

I just installed it on my server using `apt install php7.4-mcrypt`

Now installation worked perfectly

[2022-05-13 15:16] shkoliar commented on #35448
While there are no updates yet for the *laminas/laminas-code* package, I've added a patch to fix it:
[code]

_ReflectionIntersectionType_ also could cause some troubles.

[2022-05-13 15:20] stkorf opened #35473 "Product cache issue in async requests"
Product repository use lazy loading for product object. Consumer for async operation is long term php script. In result cached product from one request can affect another requests. It create critical issues in ERP synchronization.
Looks like adding `$this->productRepository->cleanCache();` before all product related async request fix this issue.

### Preconditions (*)

1. Magento 2.4.2-p2
2. bin/m

[2022-05-13 17:59] facundo-improntus commented on #24654
Just happen to me in 2.4.3-p2 so the issue has not been fixed yet. The only solution it came to my mind is create a plugin to "getCustomerIsGuest" function to return if the quote has customer_id or not, deprecating the customer_is_guest flag.

[2022-05-13 18:00] ryanisn commented on #33685
@theozzz do you have cross region Redis and PHP server, or they are all in the same region?

[2022-05-13 18:27] jajajaime commented on #35357
I second this! I spent more time than needed trying to figure out why my requests were not working.

[2022-05-13 18:33] marcelovillalta0 commented on #35419
Has anyone already solved this problem?
I have the same problem, but the version before the current "Magento 2.4.3" works correctly for me, are there problems with this version perhaps?

![image](https://user-images.githubusercontent.com/99217156/168345757-7041933b-562f-4d0f-8f88-ddfff48d89f2.png)

[2022-05-13 19:11] marcelovillalta0 opened #35474 "Error in Magento 2.4.4 After Installed on Windows 10"
Preconditions (*)
Magento 2.4.4
Php 8.1
Local Server XAMPP

Steps to reproduce (*)
Download & install Magento 2.4.4

Information (*)
When I want to enter the page for the first time, I get the 404 error.

![image](https://user-images.githubusercontent.com/99217156/168373677-e89b6186-f1f6-4eda-955f-beffe11152cb.png)

After trying some solutions provided by different internet forums I found this err

[2022-05-13 21:31] ivanaugustobd commented on #14409
Something about _vendor/magento/module-catalog-inventory/Model/StockRegistry.php:194_ fired by the `catalog_product_save_after` event, which is strange because at that point we are creating a product so it makes sense that no id is found; the question is why it is checking such a thing

[2022-05-14 12:10] YouCanDoIt12 opened #35475 "Type Error occurred when creating object"
### Preconditions (*)

1. Install Magento CE 2.4.4 using composer
2. Create Any custom module for sales order interface
3. run command  bin/magento setup:upgrade
5. throwing error
Type Error occurred when creating object: Magento\Framework\Communication\Config\Data, Magento\Framework\Reflection\TypeProcessor::resolveFullyQualifiedClassName(): Argument #2 ($typeName) must be of type string, null gi

[2022-05-14 13:00] ioweb-gr opened #35476 "Uncaught SyntaxError: unexpected token: keyword 'const' when minifying javascript files with constants and backticks `"
### Preconditions (*)

Please check this line of code for example
https://github.com/magento/magento2/blob/7e794ce4d191e52d9518e2b1c6f0a0c51e4567e3/lib/web/jquery/bootstrap/collapse.js#L35

1. Magento 2.4.4

### Steps to reproduce (*)

1. Set the following config options
[code]
2. Create a few orders
3. Deploy static files and visit the orders grid
4.  Watch the javascript errors

### Expected res

[2022-05-15 09:50] mimou78 commented on #23553
@magento give me 2.4.4 instance

[2022-05-15 09:56] mimou78 commented on #33331
@magento give me 2.4-2 instance

[2022-05-15 09:58] mimou78 commented on #33331
@magento give me 2.4.2 instance

[2022-05-15 10:01] mimou78 commented on #33331
@magento I am working on this

[2022-05-15 10:01] mimou78 commented on #33331
@magento give me 2.4-develop instance

[2022-05-15 10:37] mohaelmrabet opened #35477 "Multishipping subtotal (Excl. Tax) is not displayed in the order review page"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Admin - Stores - Configuration - Sales - Tax - Set Price Display settings and Shopping cart display settings to - Including and excluding tax. Save
![image](https://user-images.githubusercontent.com/60198231/169025719-008fab44-5883-4ace-ab3d-44927a9ba739.png)
2.  Clear cache and login to Front end - Add multiple addresses
3. A

[2022-05-15 10:39] mimou78 commented on #35477
@magento I am working on this

[2022-05-15 11:09] mimou78 commented on #35477
@magento run all tests

[2022-05-16 05:16] engcom-November commented on #35466
@magento give me 2.4-develop instance

[2022-05-16 05:18] engcom-Delta commented on #35457
@sheepfy  ,Thank you we will verify the issue and update you .

[2022-05-16 05:21] engcom-November commented on #34764
Hi @MartinAarts ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing issues.
Thank you.

[2022-05-16 05:21] #34764 closed, assigned to engcom-November

[2022-05-16 05:23] engcom-November commented on #35390
Hi @Manjula-kalyan ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are sill facing issues.
Thank you.

[2022-05-16 05:23] #35390 closed, assigned to engcom-November

[2022-05-16 05:24] engcom-November commented on #35286
Hi @gkmbala ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing issues.
Thank you.

[2022-05-16 05:24] #35286 closed, assigned to engcom-November

[2022-05-16 05:30] engcom-November commented on #35289
Hi @chequille ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing issues.
Thank you.

[2022-05-16 05:30] #35289 closed, assigned to engcom-November

[2022-05-16 06:00] engcom-November commented on #35466
Hi @lantran171,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
![image](https://user-images.githubusercontent.com/60198231/168528696-6f83510f-04e7-496c-921a-e8d477d089af.png)
Kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if any if the issue is still reproducible.
Thank you.

[2022-05-16 06:06] engcom-Delta commented on #35282
We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2022-05-16 06:06] #35282 closed, assigned to engcom-Delta

[2022-05-16 06:18] BorisovskiP commented on #27126
Hello @engcom-Hotel, could you tell me in which version has the PR been merged? If its not in 2.4.4, could you please point me to the place where the changes have been made so that we can apply a patch to the current version of Magento that we use that still has the issue present?

[2022-05-16 06:28] depyou commented on #3495
2.4.4 didn't solve the problem

[2022-05-16 06:50] engcom-November commented on #35437
Thanks for the update @Nuranto. We are considering this as feature request as this(3 order history lines : 1 for new status, 1 for processing and 1 for complete) is an enhancement to an existing behavior but not a bug and not mentioned in magento [docs](https://docs.magento.com/user-guide/sales/order-processing.html) as well.
Thank you.

[2022-05-16 08:06] engcom-Hotel commented on #35397
Dear @kanevbg,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-05-16 08:06] #35397 closed, assigned to engcom-Hotel

[2022-05-16 08:39] engcom-November commented on #35415
Hi @webamondo ,
Thanks for the update. Email triggered is blank and has no content. Hence updating the issue description and confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/168553205-55886551-3f5c-4a12-95bd-dbe7665ada29.png)

[2022-05-16 08:53] kanevbg commented on #17323
Magento 2.3.7-p2 sometimes generates (eg, after login) two cookies for form_key. PHPSESSID and privateData had a dot prefix and form_key had dot prefix too.

[2022-05-16 09:18] IbrahimS2 opened #35479 "NewRelic Module cannot be removed"
### Preconditions (*)

1. M2.4.4
2. PHP8.1

### Steps to reproduce (*)

1. Remove NewRelic Entirely from composer
2. Recompile the code

### Expected result (*)

1. All goes smooth, no issues

### Actual result (*)

1.
[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information wil

[2022-05-16 10:06] m2-assistant[bot] opened #35480 "[Issue] catalogAddToCart moved to data-mage-init and product_sku option removed"
This issue is automatically created based on existing pull request: magento/magento2#35349: catalogAddToCart moved to data-mage-init and product_sku option removed

---------
### Description (*)

I've implemented products infinite scroll for a project and I got a bug that `catalogAddToCart` widget doesn't work for new loaded items after repeating scripts applying.

It happens because I tried to lo

[2022-05-16 10:08] hostep commented on #35448
If you guys consider this a bug in the [`laminas/laminas-code` package](https://github.com/laminas/laminas-code), why not open an issue over there or suggest this fix with pull request to them?

[2022-05-16 11:17] shawkatalam-dev commented on #35432
Hello ,

We are using vanilla Magento instance. Below is the more detailed steps to reproduce the issue.

1. First add a product to gift registry from cart page

![image](https://user-images.githubusercontent.com/55043505/168572754-462de90e-9466-4aca-8931-483c50f765d4.png)

2. Go to your gift registry and click on the share button/link

![image](https://user-images.githubusercontent.com/55043505/1

[2022-05-16 12:06] engcom-Hotel commented on #35382
Hello @itmsenior,

As per your [comment](https://github.com/magento/magento2/issues/35382#issuecomment-1111968082), we have configured Paypal Express checkout with IPN enabled.

I request you to please elaborate on the below point:

Also, I have tried to get the payment status as "Payment review" but was unable to get that from Paypal. I think we are missing some reproduction steps. I request you

[2022-05-16 13:57] engcom-Hotel commented on #35381
@magento give me 2.4-develop instance

[2022-05-16 14:08] m2-assistant[bot] opened #35481 "[Issue] Fixed the welcome message contains single quote character"
This issue is automatically created based on existing pull request: magento/magento2#34061: Fixed the welcome message contains single quote character

---------

### Description (*)

This PR is fixed for the issue, that if we put the single quote character to the header welcome message config, it will lead the frontend to have a bunch of console errors:

Message: Unable to parse bindings.

### Man

[2022-05-16 14:42] jlenzstaysafe opened #35482 "_determineProductData Does not function properly for out of stock products"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Set Display Out of Stock Products = Yes
2. Call function Magento_Swatches::web/js/swatch-renderer.js -> _determineProductData()

### Expected result (*)

1. isInProductView should return false when on category page

### Actual result (*)

1. isInProductView returns true on category page because the selector "price-box.price

[2022-05-16 14:49] engcom-Delta commented on #35279
Hi @ludo-mon-key ,

We have got test data for VAT 571903731 or GB571903731 from other team, These were not working at this movement. we requested the team to provide valid test data and so we will update you soon on this.

Thanks

[2022-05-16 14:52] aetonsi commented on #35454
Hello, here it is with virtual host in linux mint, i tried with `DocumentRoot /var/www/magento2-domain` and `DocumentRoot /var/www/magento2-domain/pub`, the 404 errors persist...

![image](https://user-images.githubusercontent.com/18366087/168620396-78c80ca7-c537-40a6-93f2-821119d6cafc.png)

[2022-05-16 15:22] #35183 closed, assigned to nobody

[2022-05-16 15:26] kanevbg commented on #29963
To reproduce the problematic scenario the table `sales_order_item` should be locked during order placement, which likely happens during concurrency

[2022-05-16 15:30] hostep commented on #35466
This issue is being reported every few months and I've seen it happening myself. But unfortunately engcom squad doesn't get correct steps to reproduce because it's hard to figure those out.

But there is definitely a bug here with trying to reset the grid to its default filters.

@engcom-November: the way you should try to reproduce it, is by trying to get the grid to crash by setting invalid filt

[2022-05-16 16:08] shawkatalam-dev commented on #35432
@magento give me 2.4-develop instance. I want to check in vanilla instance as well

[2022-05-16 16:19] wisesa opened #35484 "Can't add slider from product slider on magento 2.4.4"
when i install product slider both from composer or manually paste then add it to magento 2, i cant add slider on admin page,
i dont know why, im using magento 2.4.4

[2022-05-16 16:24] FadedOut commented on #35463
@ahmed22s885111qq seeing how this is your first report I'll give you a few tips.

1. You should follow the guidelines it gives you when you start the report. Like the prerequisites, the steps to reproduce, etc. as this helps other members on here know more information to why you may be getting the problem you're having. Without this info, no one knows any info to report back on to help you with. J

[2022-05-16 19:34] 1ci commented on #35479
Please fix this. I can't switch the deploy mode to production otherwise and the store is super slow.

[2022-05-17 02:26] BenItt opened #35485 "Links in Password reset templates bug"
### Preconditions (*)

1. Magento 2.4.4 Community Edition
2. Multistore environment with Store codes de (German), en (English)

### Steps to reproduce (*)

1. Add customized "Forgot password mail" via go to Marketing --> Communications --> E-Mail Templates
2. Load Default Template "Forgot Password"
3. Add Template Name "Test Password"
4. Save Template
5. See variable `<a href="{{var this.getUrl($s

[2022-05-17 02:32] joepperkins commented on #35469
I am not working on this issue, just reporting it

[2022-05-17 05:26] engcom-November commented on #35469
@magento give me 2.4-develop instance

[2022-05-17 05:33] engcom-November commented on #35476
Hi @ioweb-gr ,
Thank you for reporting and collaboration. However this issue is a duplicate of https://github.com/magento/magento2/issues/35325. We are closing this issue. Please move on to this ticket for latest updates/solutions.
Thank you.

[2022-05-17 05:33] #35476 closed, assigned to engcom-November

[2022-05-17 05:45] engcom-November commented on #35469
Hi @joepperkins ,
Thank you for reporting and collaboration. Verified this issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Customer is created successfully using given API request
![image](https://user-images.githubusercontent.com/60198231/168737722-7a7c8d4f-26eb-49fa-80a4-478bf1767603.png)
Kindly recheck the issue on Magento 2.4-develop branch as it is the upcoming 2.4

[2022-05-17 06:00] engcom-November commented on #35484
Hi @wisesa ,
Thank you for reporting. However, Product slider is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magen

[2022-05-17 06:00] #35484 closed, assigned to engcom-November

[2022-05-17 06:09] webpar opened #35486 "Magento 2.4.4 - Swatches not strike-through inventory reaches "0""
### Preconditions (*)
1. Magento 2.4.4

### Steps to reproduce (*)
1. Install sample data
2. Set Admin > Stores > Configuration > Catalog > Inventory > Stock Options > Display Out of Stock Products = Yes
3. Create configurable product with multiple sizes
4. Change only simple/size products to have 0 quantity and out of stock status (leave all other sizes quantities greater than 0)

### Expected re

[2022-05-17 06:58] BenItt opened #35487 "Password reset link not working after updating to Magento 2.4.4"
### Preconditions (*)

1. Magento 2.4.4. Community Edition / self hosted
2. Running with PHP 7.4
3. Multi Store environment de (German) en (English)

### Steps to reproduce (*)

1. Go to Stores --> Configurations --> Settings --> Customers --> Customer Configuration
2. Set "Recovery Link Expiration Period (hours) = 2" or leave as it is per configuration settings on "Default Config" level
4. Regist

[2022-05-17 07:43] engcom-Hotel commented on #35454
Hello @aetonsi,

Thanks for your reply!

I can see the vhost entry but I suggest one change to make as below:

DocumentRoot should change from:
`/var/www/magento2-domain`
To
`/var/www/magento2-domain/pub/`

Please make the changes restart the apache and let us know if the issue is fixed or not.

Thanks

[2022-05-17 08:20] engcom-Hotel commented on #35482
@magento give me 2.4-develop instance

[2022-05-17 09:03] engcom-Hotel commented on #35482
Hello @jlenzstaysafe,

Thanks for posting!

We have tried to reproduce the issue in Magento 2.4-develop branch but the issue is not able to reproduce. For us, for the out of stock products function `_determineProductData` is not calling. We have followed below steps to reproduce the issue:

### Steps
1. Marked 2 products as OOS i.e. `Montana Wind Jacket`, `Proteus Fitness Jackshirt `:
<img width="

[2022-05-17 09:06] vlmed commented on #35211
@magento I am working on this

[2022-05-17 09:29] m2-assistant[bot] opened #35488 "[Issue] Add "Last Updated At" Column to Admin Product Grid"
This issue is automatically created based on existing pull request: magento/magento2#35436: Add "Last Updated At" Column to Admin Product Grid

---------
# Description
When managing products in the Adobe Commerce admin, it would be useful to see when they were last updated. This pull request adds that information to the grid. The information already exists in the database.

# Manual testing scenar

[2022-05-17 10:42] engcom-Hotel commented on #35211
Hi @qsolutions-pl,

As per discussion with the development team, we have investigated more on this and found the below solutions for this issue:

To make `AccountInterface` available to a controller path, it needs to be given under the allowed actions as well.

Eg: `Customer/Controller/Account/Confirm.php` controller is also passed under `Customer/etc/frontend/di.xml`

[code]
In this case:  we nee

[2022-05-17 11:02] engcom-November commented on #35485
Hi @BenItt ,
Thank you for reporting and collaboration. Verified the issue on both Magento 2.4.4 and 2.4-develop versions but could not able to reproduce the issue.
Steps performed:
1. Magento multi store setup with store codes : en and de
2. Created new forgot password email template by loading default template and named - "Test Password"
3. Applied newly created template for Customer configurati

[2022-05-17 11:15] m2-assistant[bot] opened #35490 "[Issue] fix: customer account create page does not work"
This issue is automatically created based on existing pull request: magento/magento2#35442: fix: customer account create page does not work

---------

### Description (*)

Fixes this exception which made the create account page unusable:

[code]

### Reproduction Steps
This is very easily reproducible by:

- Setting up a clean Magento 2.4.4
- In the backoffice, going to Stores > Configuration > C

[2022-05-17 11:19] BenItt commented on #35485
Dear. Thank you very much for the info.

This is weird. Good to know that it seems to be something related to our architecture then.

Would it be possible to send us the CreatePassword.PHP your vanilla instance is using in order to check this?

[2022-05-17 11:33] manavluhar commented on #35487
@magento give me 2.4-develop instance

[2022-05-17 11:52] engcom-Dash commented on #35381
Hello @Vestart,

We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible. Please refer the below screenshot for the reference;

![Screenshot from 2022-05-17 13-57-06](https://user-images.githubusercontent.com/60198592/168800133-8bc3cc8b-0de2-4cd9-a3c5-ff9f38ce4d77.png)

We have followed the below steps in order to reproduce the issue:
1.Go to Admin Panel>>a

[2022-05-17 11:53] BenItt commented on #35487
Dear @manavluhar,

thank you for the same.

Using same template code as from your Magento instance leads to same error on our instance :/

Very strange. Magento 2.4.4 update from 2.3.5 was fresh update.

Possibly extensions cause this problem?!

Do you have same CreatePassword.php as the one here?

`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.

[2022-05-17 12:23] BenItt commented on #35487
Could you check to send Password reset link to any given Gmail address? It seems that link is removed then and arrives as <a>LINK</a>

Also our finding:

When loading templates for forgot e-mail after update to Magento 2.4.4 varibale differs from vendor e-mail variable:

Your instance as well as ours:

`<a href="{{var this.getUrl($store,'customer/account/createPassword**/**',[_query:[id:$customer.

[2022-05-17 12:32] engcom-Dash commented on #35464
Hello @Reporter,

We have tried to reproduce the issue in Magento 2.4.3-p2 instance. the issue is not reproducible. Please refer the below screenshot for the reference;

![Screenshot from 2022-05-17 17-43-48](https://user-images.githubusercontent.com/60198592/168808730-5c8e8c73-23cc-4cd6-97b0-f8ed1fac8e22.png)
![Screenshot from 2022-05-17 17-44-00](https://user-images.githubusercontent.com/6019859

[2022-05-17 13:08] hostep commented on #35487
Does the following screenshot help? It's a report I send to Hyvä frontend themes in order to have them fix something very similar.
Maybe also double check if your custom theme didn't overwrite the `resetforgottenpassword.phtml` because in that case you might be missing something there that was added in 2.4.4

<img width="1036" alt="Screen Shot 2022-05-17 at 15 06 42" src="https://user-images.githu

[2022-05-17 13:18] BenItt commented on #35487
Dear @hostep,

this looks like it could be a solution. Indeed the green marked parts are missing in our vendor/magento/module-customer/view/frontend/templates/form/resetforgottenpassword.phtml

We check to change and inform about progress.

[2022-05-17 13:21] hostep commented on #35487
Alrighty, it's most likely going to be this that fixes your issue.

Next time when you work on a Magento upgrade, consider using this tool: https://github.com/AmpersandHQ/ampersand-magento2-upgrade-patch-helper, it helped us discover this problem (and many others in the past) 🙂

[2022-05-17 13:23] #35244 closed, assigned to nobody

[2022-05-17 13:25] #35182 closed, assigned to Usik2203

[2022-05-17 13:30] BenItt commented on #35487
Dear @hostep,

roll back. I have checked and our Core looks exactly like the screenshot you had posted.

Possibly still our Theme overwrites this function. Checking this now going back to Luma. Thank you for the Ampersand Patch Helper. Will consider this.

[2022-05-17 13:32] aetonsi commented on #35454
No, same result after i restarted apache:

![image](https://user-images.githubusercontent.com/18366087/168822949-8a260fb1-1fc8-438f-8b8d-31fca22dd8b1.png)

[2022-05-17 13:37] FadedOut commented on #35486
Thank you for your report on this.

But to inform you, this has already been confirmed to be a bug and is currently being worked on.

#35319

[2022-05-17 14:59] BenItt commented on #35487
Dear @hostep,

in Luma Theme same issue. Very weird.

Yours

[2022-05-17 15:30] #35454 closed, assigned to engcom-Hotel

[2022-05-17 15:35] joepperkins commented on #35469
Thank you for looking into this

From: Girija Bhavani Kudupudi ***@***.***>
Sent: Monday, May 16, 2022 10:46 PM
To: magento/magento2 ***@***.***>
Cc: Joe Perkins ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2] REST API POST:/V1/customers fails if firstName contains ’ (ascii code 2019 (hex)) (Issue #35469)

Hi @joepperkins<https://github.com/joepperkins> ,
Thank you for reporting

[2022-05-17 17:51] jlenzstaysafe commented on #35482
The function isn't called natively, but if you want to render swatches for out of stock products, it will be called.  Granted, this is a customization we're developing on our end, but I think the code should have better detection other than looking for a price box...  For example, adding a 'data-product-id' field to the parent <li> or something along those lines.  The current implementation feels

[2022-05-17 17:59] joepperkins commented on #35469
I found the issue in the source for magento2-2.4.3, thanks for your help on this

The regex is incomplete for valid names.

private const PATTERN_NAME = '/(?:[\p{L}\p{M}\,\-\_\.\'\s\d]){1,255}+/u'

![image](https://user-images.githubusercontent.com/13791515/168878934-b22d4b90-108c-460c-8e37-d1e6c8c9b938.png)

![image](https://user-images.githubusercontent.com/13791515/168878757-4b098910-ac6b-42f1-

[2022-05-17 18:16] joepperkins commented on #35469
Confirmed fixed with commit below

https://github.com/magento/magento2/commit/2a83c2e566a8de512cc398ce1dfb5ab3f4bf26e2

![image](https://user-images.githubusercontent.com/13791515/168882779-06909fe9-b9ce-46ce-88dc-9361f5a59de3.png)

[2022-05-17 18:16] #35469 closed, assigned to engcom-November

[2022-05-17 18:31] hostep commented on #35487
Ah okay, then it must be a different problem than I ran into apparently.

[2022-05-17 20:59] lagunacellar opened #35492 "Admin user cannot create New Cart Price Rule in 2.4.4"
### Preconditions (*)

1. Adobe Commerce 2.4.4
2.Commerce on the Cloud

### Steps to reproduce (*)

1. In Admin backend, click side panel Marketing > Promotions > Cart Price Rules
<img width="617" alt="Marketing Side Panel" src="https://user-images.githubusercontent.com/64744041/168908878-4a3f5827-4589-4015-9ff8-de583e86bc97.png">

2. Click Add New Rule
<img width="1153" alt="Add New Cart Price Ru

[2022-05-17 22:28] pagesailor commented on #30046
Still not working.

[2022-05-17 23:49] lagunacellar commented on #35492
@magento give me 2.4-develop instance

[2022-05-18 00:12] lagunacellar commented on #35492
@magento I am working on this

[2022-05-18 00:14] lagunacellar commented on #35492
@magento add to contributors team

[2022-05-18 00:16] lagunacellar commented on #35492
@magento I am working on this

[2022-05-18 04:17] IbrahimS2 commented on #35479
That is the thing; we do not want to have NewRelic entirely.

[2022-05-18 05:32] shikhamis11 commented on #35492
@magento give me 2.4-develop instance with edition ee

[2022-05-18 05:52] engcom-November commented on #35354
Hi @philippeaellig ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-05-18 05:52] #35354 closed, assigned to engcom-November

[2022-05-18 05:55] nisha-vaghela commented on #35312
@magento give me test instance

[2022-05-18 05:56] engcom-November commented on #35311
Hi @vandijkstef ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-05-18 05:56] #35311 closed, assigned to engcom-November

[2022-05-18 05:57] engcom-November commented on #35477
@magento give me 2.4-develop instance

[2022-05-18 06:01] nisha-vaghela commented on #35312
@magento give me 2.4-develop instance

[2022-05-18 06:12] shikhamis11 opened #35493 "favorite icon (A favicon) is missing in Magento 2.4.4 Adobe Commerce"
Default favicon is missing in Magento 2.4.4 Adobe Commerce

### Preconditions (*)

1. Magento 2.4.4 Enterprise Edition

### Steps to reproduce (*)

1. Favicon is missing in Address Bar with default magento installation
2. No icon can be found at path `/static/frontend/Magento/luma/en_US/Magento_Enterprise/favicon.ico`
    `vendor/magento/module-enterprise/view/frontend/web/favicon.ico`

### Expect

[2022-05-18 07:51] johnybk08 opened #35494 "Configurable Product still OOS In case the variants is In stock"
**Preconditions (*)**
1. Magento EE 2.4.4

**Steps to reproduce (*)**
Step 1: Create new configurable with Color RED, Blue (for example)
Step 2: update stock for Variant RED to In Stock and qty > 0

Access to PDP
**Expected result (*)**
The configurable is in stock

**Actual result (*)**
Actual: The configurable product is still OOS

After a detail investigate I found that the 2.4.4 had updated th

[2022-05-18 08:13] engcom-November commented on #35493
Hi @shikhamis11 ,
Thank you for reporting and collaboration. Verified this issue on both Magento 2.4.4 and 2.4-develop with Enterprise edition modules enabled but could not able to reproduce the issue.
Favicon set in Admin - Content - Design - Configuration - Html head section is getting applied to all pages after clearing cache.
[Ref doc](https://docs.magento.com/user-guide/design/favicon.html)
!

[2022-05-18 08:18] shikhamis11 commented on #35493
@magento give me 2.4-develop instance with edition ee

[2022-05-18 08:30] shikhamis11 commented on #35493
@engcom-November Thank you for reviewing the issue.
Please check for the default favicon. I have updated the issue description

![image](https://user-images.githubusercontent.com/25526037/168993546-e7c97929-cdf3-4031-9cb0-62385ae0071a.png)

[2022-05-18 08:40] engcom-Delta commented on #35494
Hi @johnybk08 ,
Thank you for raising an issue and We are happy to assist you . Kindly provide clear issue description, pre-condition, steps to reproduce, actual results and expected results .

Regards,

[2022-05-18 08:44] engcom-Delta commented on #35463
Hi @ahmed22s885111qq ,
Thank you for raising an issue and We are happy to assist you . Kindly provide clear issue description, pre-condition, steps to reproduce, actual results and expected results .

Regards,

[2022-05-18 08:49] engcom-Delta commented on #35460
Hi @babarzafar ,
Thank you for raising an issue , Steps are missing to reproduce the issue . Kindly provide clear issue description, pre-condition, steps to reproduce and screenshots if required.
Regards,

[2022-05-18 09:07] engcom-November commented on #35493
Thanks for the update @shikhamis11,
Verified the issue again on new magento installation and default favicon is missing in both 2.4.4 community edition and 2.4-develop enterprise version. Hence confirming this issue.

![image](https://user-images.githubusercontent.com/60198231/169002306-46440b2d-40eb-4373-b9fb-d3ad64fc691f.png)

[2022-05-18 09:24] engcom-November commented on #35492
Hi @shikhamis11 ,
Verified the issue on both Magento 2.4-develop with enterprise edition and 2.4.4 versions but could not able to reproduce the issue.
User is able to create new cart price rule with no issues.
![image](https://user-images.githubusercontent.com/60198231/169005606-95d426f9-ee79-4390-87f5-437a11f03764.png)
Kindly recheck the issue again on Magento 2.4-develop enterprise version and p

[2022-05-18 09:40] hoangss commented on #35464
So, do we need to have mcrypt extension?
According to devdocs  [System requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html#php-extensions): seem we don't need it.

[2022-05-18 09:51] engcom-November commented on #35477
@magento give me 2.4-develop instance

[2022-05-18 11:08] engcom-November commented on #35477
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence confirming the issue with updated description.
![image](https://user-images.githubusercontent.com/60198231/169025280-f1af2c74-e120-4c7c-bd0a-794331e8577a.png)

[2022-05-18 11:46] engcom-November commented on #35485
Hi @BenItt
Please find the below link of Magento 2.4-develop vanilla instance CreatePassword.php which we are using.
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/Controller/Account/CreatePassword.php
Thank you.

[2022-05-18 12:16] engcom-Dash commented on #35490
Hello @kolaente,

We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible. Please refer the below screenshot for the reference;
![Screenshot from 2022-05-18 17-43-02](https://user-images.githubusercontent.com/60198592/169036207-38844b54-52e1-4a65-9772-6189420e6801.png)

We have followed the below steps in order to reproduce the issue:

1.Open the create acc

[2022-05-18 12:43] engcom-November commented on #35466
Verified the issue again on Magento 2.4-develop branch and the issue is reproducible by following below steps:
1. Admin - Sales - Invoices - Applied Filter with large test data
Invoices page is crashed and unable to reload the page/ clear filter/ nor reuse the page anymore.
![image](https://user-images.githubusercontent.com/60198231/169041243-1a804ba1-8075-4b25-8bcc-5a2bf1daa2bf.png)

[2022-05-18 13:36] #34858 closed, assigned to mmezhensky

[2022-05-18 13:36] #35180 closed, assigned to liamjtoohey

[2022-05-18 13:36] #32068 closed, assigned to mrtuvn

[2022-05-18 13:36] #32699 closed, assigned to temptask

[2022-05-18 13:36] #35150 closed, assigned to marvinhinz

[2022-05-18 14:01] tuyennn commented on #29884
@engcom-November Not sure for recent changes from Magento_TwoFactorAuth, and I cannot replicate this on fresh instance Magento, but for sure our current site has trouble while upgrading from EE 2.4.2 to EE 2.4.4, we postponed the upgrade.

[2022-05-18 14:43] BenItt commented on #35485
Dear @engcom-November,

good news. We found the culprit. Error was caused by an extension by "IT Recht Kanzlei" from Cyberday which we are using for our legal texts. Deactivating this extension and the error is gone.

[2022-05-18 14:44] ganeddact opened #35495 "Swatch attribute option containing double quotes are not correctly displayed"
### Preconditions and environment

- Magento version 2.4

If a product attribute has an option that has a label containing a double quote, it's not being escaped and breaks the templating.
In these screens, size should have been "SIZE 14 (35/36") LONG" and instead only "SIZE 14 (35/36" could be read, and inspecting the HTML can be seen how the double quote broke the data-option-label attribute.
![

[2022-05-18 15:13] ericerway commented on #30835
@magento give me 2.4.4 instance

[2022-05-18 15:18] ericerway commented on #30835
@magento give me 2.4.3 instance

[2022-05-18 15:39] YiffyToys opened #35496 "Regression for #14849 - frontend_status_label not translated in email templates"
### Preconditions and environment

2.4.3-p2

### Steps to reproduce

Use {{var order_data.frontend_status_label}} in email template because {{var $order.getFrontendStatusLabel(}} as a workaround from #14849 is a function call and thus no longer allowed in 2.4.3-p2 .

Trigger a status change email from a German Admin-UI to an English customer.

### Expected result

oder_data.frontend_status_label

[2022-05-18 17:49] simonmaass commented on #33749
not sure why this is closed...

[2022-05-18 18:36] lagunacellar commented on #35492
After further investigation, we found the issue was caused by StripeIntegration_Payments module.  As of version 3.1, stripe/stripe-payments has a bug.

[2022-05-18 18:36] #35492 closed, assigned to engcom-November, lagunacellar

[2022-05-18 19:00] fmineo commented on #35329
@magento I am working on this

[2022-05-18 20:40] neddy236 commented on #24654
Issue Still occurs in 2.4.3-p1 when trying to remove item from the cart for my case

[2022-05-18 23:10] tstamplis opened #35497 "UPS Shipping XML rate request sending full weight as one package instead of breaking per weight limit set in admin"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug
Magento 2.4.4 open source
PHP 7.4x

### Steps to reproduce

Add products to cart at a quantity that exceeds weight limit set for shipping carrier in admin (210 pounds in my case, shipping carrier cut-off weight set to 150 lbs in admin).  Applies to UPS as well as USPS carriers.

### E

[2022-05-19 02:53] tstamplis commented on #35497
Sorry, closing this issue.  It was tracked down to 3rd party module.

[2022-05-19 02:53] #35497 closed, assigned to nobody

[2022-05-19 06:19] kolaente commented on #35490
@engcom-Dash What php version is the test instance running with? We observed this with php 8.1.

[2022-05-19 07:25] NipulThoriya572 commented on #35477
@magento-admin  I am working on this.

[2022-05-19 07:32] NipulThoriya572 commented on #35477
@magento add to contributors team

[2022-05-19 07:33] NipulThoriya572 commented on #35477
@magento add to contributors team

[2022-05-19 07:34] mimou78 commented on #35477
Hi @NipulThoriya572
see https://github.com/magento/magento2/pull/35478

[2022-05-19 08:56] vo1 opened #35499 "Product Flat Indexer IFNULL on nullable datetime attributes fallbacks to global"
### Preconditions and environment

- Magento version 2.4.3, but I suppose happens on any.
When you have store/website datetime attribute with global value set by some API call, you cannot have scoped values properly loaded into flat data when they are set to null.
e.g.
Product.attribute.global = 2022-05-19T00:00:00
Product.attribute.store1 = 2022-05-22T00:00:00
Product.attribute.store2 = NULL (**c

[2022-05-19 09:10] engcom-November commented on #35485
Thanks for the update @BenItt ,
We are closing this issue as code of this extension(IT Recht Kanzlei) is not part of  https://github.com/magento/magento2 git repository and community cannot provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketplace.magento.

[2022-05-19 09:10] #35485 closed, assigned to engcom-November

[2022-05-19 09:27] NipulThoriya572 commented on #35477
@magento run all tests - run

[2022-05-19 10:01] engcom-November commented on #35473
@magento give me 2.4-develop instance

[2022-05-19 10:18] craig-bartlett opened #35500 "Grouped product with tax throws exception with PHP 8.1"
### Preconditions and environment

- Magento 2.4.4
- PHP 8.1 (though 8.0 is probably the same)
- Tax applied (in my case a blanket 20% tax)

### Steps to reproduce

1. Create a simple product
2. Create a grouped product and add the simple product to it, add the grouped product to a category
3. Ensure tax will be applied (in my case, I added a new tax zone for the UK, all regions and zip codes, at

[2022-05-19 10:19] craig-bartlett commented on #35500
@magento give me 2.4-develop instance

[2022-05-19 10:19] OvalMedia commented on #26304
I encountered the same issue on 2.4.3-p1.

It happened in a catalog_product_save_before (or after, does not matter) event. I wanted to do some calculations with the product price. The error appeared depending on the admin user's locale. While no error came up while using the english locale (US), it did so while using the german locale.

1. create a catalog_product_save_before event observer
2. in

[2022-05-19 10:29] craig-bartlett commented on #35500
Doesn't seem to occur on the test instance - is it on PHP 8?

[2022-05-19 10:52] engcom-November commented on #35473
Hi @stkorf ,
Thank you for reporting and collaboration. We are unable to reproduce this issue on Magento 2.4-develop branch due to ongoing issue: https://github.com/magento/magento2/issues/35348. Hence moving this ticket to on hold and test this issue once https://github.com/magento/magento2/issues/35348 issue is fixed.
Thank you.

[2022-05-19 11:01] IvanVizcaino commented on #22912
Hello, I have the same problem in Magento 2.4.4 in other component. I resolve the problem modifying the 'ui/grid/cells/html' for 'ui/grid/cells/text'  and modify the component to return a string.

[2022-05-19 11:59] magulin commented on #32593
FYI, there is a (unofficial) patch for this here https://github.com/magento/magento2/issues/33073#issuecomment-848631459
Issue #33073 seems to be a duplicate of this one?

[2022-05-19 12:31] barryvdh commented on #35297
I'm not sure, but I changed my development site from 'admin' to 'admin_<some random string>' and it worked again.

[2022-05-19 12:52] mnowakCode opened #35501 "Problem with showing preview of the Page Builder in the admin panel"
### Preconditions and environment

- Magento version 2.4.4
- PHP 7.4

### Steps to reproduce

We upgraded our webshop to Magento 2.4.4 from Magento 2.3.7-p1, but for now, we have to use PHP 7.4. After this, I saw that preview in the admin panel doesn't show components that we added before the upgrade.

### Expected result

We want to see all components in the preview

![image](https://user-images.

[2022-05-19 12:54] engcom-Lima commented on #35495
@magento give me 2.4-develop instance

[2022-05-19 13:58] apedicdev commented on #12846
looks like issue is back on Magento 2.3.5-p2

[2022-05-19 14:12] engcom-Lima commented on #35495
Verified this issue on `2.4-develop` and this issue is reproducible .Hence, confirming the issue.
Below is the screenshot :

1. ![image](https://user-images.githubusercontent.com/60198022/169311533-3727af97-aa1b-4e7c-8f58-8562240f67c0.png)

2. ![image](https://user-images.githubusercontent.com/60198022/169311559-200b2e6b-02fd-4192-9dcf-13bd3f38a0a6.png)

3. ![image](https://user-images.githubuserc

[2022-05-19 14:58] cjnewbs commented on #20139
This bug is still present in 2.4.4 😩

@magento-engcom-team are you able to shed more light on what was fixed in MC-24347?

[2022-05-19 15:26] Josch-KEDO opened #35502 "Pagebuilder 404 error on save when using <script type="text/javascript">"
### Preconditions and environment

- Magento version: 2.4.3-p1
- PHP 7.4.29
- Ubuntu 18.04.6 LTS

### Steps to reproduce

Add a new block, open "Edit with Page Builder".

Drag an "Elements" > "HTML Code" element in the right window and paste the line <script type="text/javascript"></script> into this HTML code element.

Save the block.

You'll get an error page with the error "404 error: Page not

[2022-05-19 15:35] engcom-Delta commented on #35432
Hi @shawkatalam-dev ,

Thanks for sharing the details and we have retested it again on Magento Enterprise Edition 2.4 Develop. Issue is reproducible. Hence issue is confirmed.
1. First add a product to gift registry from cart page
<img width="1440" alt="Screenshot 2022-05-19 at 8 52 29 PM" src="https://user-images.githubusercontent.com/51681379/169334751-609edb87-f65f-424e-a1c8-bd352d07c160.png">

[2022-05-19 15:45] #35426 closed, assigned to engcom-Delta

[2022-05-19 16:51] paales commented on #32938
*As a developer I want to know the customer_address_id on a CartAddress so that I know if a customer has selected one of the customer addresses*

[code]

### Schema

Current [CartAddressInteface](https://github.com/magento/magento2/blob/5c97ea79ab68dbb1ff0a7182f82abaa79374722d/app/code/Magento/QuoteGraphQl/etc/schema.graphqls#L222-L232)

[code]

If the [CustomerAddress](https://github.com/magento/

[2022-05-19 19:55] m2-assistant[bot] opened #35505 "[Issue] Use Correct Verb in Table Schema Definition Docs"
This issue is automatically created based on existing pull request: magento/magento2#35504: Use Correct Verb in Table Schema Definition Docs

---------
# Description
Updates `db_schema.xml` table definition documentation to use the correct verb: `found` -> `find`.

# Contribution checklist
- [x] Pull request has a meaningful description of its purpose
- [x] All commits are accompanied by meaningfu

[2022-05-20 02:03] tgreeve commented on #31063
Order is still in "Processing" after invoiced and shipped, when partial quantity of a product was refunded. This problem exists in still 2.4.3-p2. Can we reopen this issue?

[2022-05-20 05:21] nisha-vaghela commented on #35440
@magento i am working on this

[2022-05-20 06:25] m2-assistant[bot] opened #35506 "[Issue] Missing section when custom role is selected"
This issue is automatically created based on existing pull request: magento/magento2#35439: Missing section when custom role is selected

---------

### Description (*)

When we select custom "Roles Resources" then we don't see "Magento Web API" under "Store>Configuration>Services"

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)

1. Login to Magento Adm

[2022-05-20 06:32] nazarklovanych commented on #35440
@nisha-vaghela as you can there is already PR created, so on what you are working on ?

[2022-05-20 07:06] #33629 closed, assigned to nobody

[2022-05-20 07:27] engcom-Hotel commented on #35413
Dear @nbennett25,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-05-20 07:27] #35413 closed, assigned to engcom-Hotel

[2022-05-20 07:28] engcom-Hotel commented on #35368
Dear @stevekem,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-05-20 07:28] #35368 closed, assigned to engcom-Hotel

[2022-05-20 07:35] mnowakCode commented on #35501
Additionally, I found this error in dev tool : [ERROR] Failed to load the "Magento_PageBuilder/content-type/column/full-height/preview" template requested by "undefined".

[2022-05-20 08:28] engcom-Alfa commented on #33629
Hello @aligent-lturner

As I can see this issue got fixed in the scope of the internal Jira ticket `AC-818` by the internal team
Related commits: https://github.com/magento/magento2/commit/b092dd6df013e8b1e77e8b5d639148ed76a7172a

Based on Jira target version is 2.4.5

[2022-05-20 08:36] engcom-Alfa commented on #35298
Hello @websecureNL

As I can see this issue got fixed in the scope of the internal Jira ticket `AC-2845` by the internal team
Related commits: https://github.com/magento/magento2/commit/b092dd6df013e8b1e77e8b5d639148ed76a7172a

Based on Jira target version is 2.4.5

[2022-05-20 08:36] #35298 closed, assigned to nobody

[2022-05-20 08:37] engcom-Alfa commented on #35265
Hello @websecureNL

As I can see this issue got fixed in the scope of the internal Jira ticket `AC-2764` by the internal team
Related commits: https://github.com/magento/magento2/commit/b092dd6df013e8b1e77e8b5d639148ed76a7172a

Based on Jira target version is 2.4.5

[2022-05-20 08:38] #35265 closed, assigned to nobody

[2022-05-20 08:39] engcom-Alfa commented on #35262
Hello @MargoKep

As I can see this issue got fixed in the scope of the internal Jira ticket `AC-2896` by the internal team
Related commits: https://github.com/magento/magento2/commit/b092dd6df013e8b1e77e8b5d639148ed76a7172a

Based on Jira target version is 2.4.5

[2022-05-20 08:39] #35262 closed, assigned to nobody

[2022-05-20 08:40] engcom-Alfa commented on #34271
Hello @mklooss

As I can see this issue got fixed in the scope of the internal Jira ticket `AC-XXX` by the internal team
Related commits: https://github.com/magento/magento2/commit/b092dd6df013e8b1e77e8b5d639148ed76a7172a

Based on Jira target version is 2.4.5

[2022-05-20 08:40] #34271 closed, assigned to engcom-Hotel

[2022-05-20 08:41] engcom-Alfa commented on #33096
Hello @wahidnory

As I can see this issue got fixed in the scope of the internal Jira ticket `AC-2750` by the internal team
Related commits: https://github.com/magento/magento2/commit/b092dd6df013e8b1e77e8b5d639148ed76a7172a

Based on Jira target version is 2.4.5

[2022-05-20 08:41] #33096 closed, assigned to nobody

[2022-05-20 08:52] paales opened #35507 "[GraphQL] As a developer I'd like to fetch all available routes for static build and sitemap generation"
*As a developer I want to be able to fetch all available routes based on their typename so that I can use those routes to statically generate those routes*

*As a developer I want to be able to fetch all available routes so that I can easily generate a sitemap for my storefront*

### AC

Be able to run the following query

[code]

### Approved Schema

[code]

[2022-05-20 08:52] paales opened #35508 "[GraphQL] Query all available routes in Magento for static builds and sitemaps."
*As a developer I want to be able to fetch all available routes based on their typename so that I can use those routes to statically generate those routes*

*As a developer I want to be able to fetch all available routes so that I can easily generate a sitemap for my storefront*

### AC

Be able to run the following query

[code]

### Approved Schema

[code]

[2022-05-20 08:59] engcom-November commented on #35501
@magento give me 2.4-develop instance

[2022-05-20 09:32] NipulThoriya572 commented on #35477
@magento I am working on this

[2022-05-20 09:34] NipulThoriya572 commented on #35477
@magento add to contributors team

[2022-05-20 10:31] seebakannan commented on #13766
kl...klj.

[2022-05-20 10:46] engcom-Hotel commented on #35382
@magento give me 2.4-develop instance

[2022-05-20 11:34] engcom-Dash commented on #35490
@magento give me 2.4-develop instance

[2022-05-20 11:44] engcom-November commented on #35508
Hi @paales ,
Thank you for reporting and collaboration. We are closing this issue as this is a duplicate of https://github.com/magento/magento2/issues/35507. Please move on to this ticket for latest updates/ solutions.
Thank you.

[2022-05-20 11:44] #35508 closed, assigned to engcom-November

[2022-05-20 11:46] engcom-Dash commented on #35490
Hello @kolaente,

We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible. Please refer the below screenshot for the reference;
![Screenshot from 2022-05-20 17-14-08](https://user-images.githubusercontent.com/60198592/169521577-09e5f07f-626e-434a-b02e-77d58886c44b.png)
We have followed the below steps in order to reproduce the issue:

1.Open the create acco

[2022-05-20 12:26] engcom-November commented on #35501
Hi @mnowakCode ,
Thank you for reporting and collaboration. Verified this issue on both 2.4-develop branch and 2.4.4 after upgrading from 2.3.7-p1 versions but could not able to reproduce the issue with below steps followed.
**Note**. FYI: Magento 2.4.4 requires PHP 8.1 but not 7.4. Kindly check the [system requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html)

[2022-05-20 12:28] engcom-Hotel commented on #35382
@magento give me 2.4-develop instance

[2022-05-20 12:36] engcom-November commented on #35502
@magento give me 2.4-develop instance

[2022-05-20 12:57] engcom-November commented on #35502
Hi @Josch-KEDO ,
Thank you for reporting and collaboration. Verified this issue on Magento 2.4-develop branch but could not able to reproduce the issue.
**Steps performed:**
1. Admin - Content - Elements - Blocks - Add new Block - Edit with Page builder - Drag - Elements" > "HTML Code" element in the right window and paste the line <script type="text/javascript"></script> into this HTML code eleme

[2022-05-20 13:32] engcom-November commented on #35407
Hi @thegamerpablo ,
Thank you for reporting and collaboration. Unable to reproduce the issue on Magento 2.4-develop branch. Please check if the issue occurred in production mode and workaround provided here in [comment](https://github.com/magento/magento2/issues/35407#issuecomment-1115076658) and let us know if you are still facing any issues.
Thank you.

[2022-05-20 13:37] engcom-November commented on #34650
Hi @thehl ,
We got the confirmation from PO that this is an expected behavior but not a bug.
This rule is configured to apply discount on subtotal and shipping and this is what happens based on the calculation.
Not to apply discount on subtotal, the rule should have action condition limiting the rule. Hence we are closing this issue. Kindly reopen/create new issue if you are still facing any issue

[2022-05-20 13:37] #34650 closed, assigned to nobody

[2022-05-20 14:21] engcom-Hotel commented on #35140
Hello @ByJacob,

Hence this issue is not related to Magento core code, so I suggest you refer to the [Community Forums](https://community.magento.com/) or [Magento Stack Exchange](http://magento.stackexchange.com/) for technical questions, feature requests, etc.

Thanks

[2022-05-20 14:34] robsoned commented on #35140
As on the way it's implemented right now, it causes an issue to integrate redis, a system requirement to run the application on production with good performance. With that said, why this issue would not be related to Magento core code?

[2022-05-20 14:40] engcom-Hotel commented on #34893
Hello @Giakie,

Please let us know more about your issue. Please help us in the reproduction steps.

Thanks

[2022-05-20 14:43] fabrice-dresscodes commented on #34325
Hi,

I got the same problem today when migrating from Community 2.3.3 to 2.4.4.

Deleting the composer.lock and vendor/* folder let the composer installation finishing.

[2022-05-20 15:04] manjeetrwm opened #35510 "WebApi - OAuth Login: - HMAC-SHA1 not supported"
### Preconditions and environment

- Magento version: 2.4.4
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Oauth client retuns:

{"message":"Signature method %1 is not supported","parameters":["HMAC-SHA1"]}

### Expected result

HMAC-SHA1 should be supported as per documentation.

 SIGNATURE_SHA1 is not supported in OauthInterface.php

### Actual result

{"m

[2022-05-20 15:18] manjeetrwm commented on #35510
/**
     * Retrieve array of supported signature methods.
     *
     * @return string[]
     */
    public static function getSupportedSignatureMethods()
    {
        return [self::SIGNATURE_SHA256];
    }

[2022-05-20 16:09] engcom-Hotel commented on #27126
Hello @BorisovskiP,

We are re-checking the previous activities on this, will update u soon.

Thanks

[2022-05-20 16:29] engcom-Delta commented on #35193
Hi @claudioxu ,
We have placed an order with PayPal PayFlow and but we are unable to find out online refunds. Kindly help me to reproduce it with clear steps.

Here are the screenshots for reference.
step1: Placed an order with PayPal PayFlow from FrontEnd

<img width="1275" alt="Screenshot 2022-05-20 at 9 08 07 PM" src="https://user-images.githubusercontent.com/51681379/169563241-2062b673-d801-49

[2022-05-20 16:41] engcom-Delta commented on #35500
Hi @craig-bartlett ,
We have PHP 8.1 installed and we are using the same & We do not get any error when viewing the category that grouped belongs to it. please have a look and confirm us.

<img width="1440" alt="Screenshot 2022-05-20 at 10 09 10 PM" src="https://user-images.githubusercontent.com/51681379/169573638-f5c18a8f-d8f4-4cc6-8c71-fed889a1f188.png">

<img width="1440" alt="Screenshot 2022-0

[2022-05-20 18:45] jakwinkler opened #35511 "There is no minification of javascript UiComponents files which are injected by Layout Processor"
### Preconditions and environment

- Magento version: 2.4.3 / 2.4.4

### Steps to reproduce

1. Create a frontend `plugin` for checkout `Layout Processor` which will modify checkout structure and a new UiComponent to the checkout configuration / UiComponent configuration
[code]
and add `afterProcess` plugin and add your uiComponent anywhere on the checkout page / fields / forns.
[code]

2. Enable

[2022-05-20 20:41] eraq opened #35512 "Product Images loosing inheritance scoping in multisite after storeview rest API PUT"
### Preconditions and environment

Magento 2.4.4, multisite with more than one store view. Occurs in cloud docker, as well as staging and product cloud environments.

### Steps to reproduce

1. have or create a product with a product image (image, thumbnail, small_image) assigned to default scope value
2. use the storeview scoped products PUT rest api to update a single attribute such as 'name' on

[2022-05-20 23:34] Copxer commented on #33749
Hi, Upgraded from 2.4.2 to 2.4.4, now I can't login into the admin dashboard.
 - No  errors compiling.
 - No Logs.
 Everytime I try to login loop me back to the sign in page.  Anyone know how to fix this issue?

[2022-05-21 00:16] drinkingsouls commented on #33749
@Copxer I have experienced this also. Just refreshes the login page with no errors.
For me the solution was increasing the admin session lifetime.

Command line:
bin/magento config:set admin/security/session_lifetime 10800

Or change in database:
INSERT INTO core_config_data(path, value) VALUES('admin/security/session_lifetime', 10800);

[2022-05-21 05:50] engcom-Dash commented on #35353
@magento give me 2.4-develop instance

[2022-05-21 07:55] FadedOut commented on #35486
@engcom-Delta

The OP is talking about the swatch bug that has already been confirmed here: https://github.com/magento/magento2/issues/35319

So it is a duplicate report meaning this could be closed.

[2022-05-21 15:36] fredden opened #35513 "CMS Hierarchy renders breadcrumbs even when disabled"
### Preconditions and environment

- Adobe Commerce. Tested on version 2.4.3-p2.
- Set a hierarchy for CMS pages
- Turn off hierarchy (admin -> Stores -> Settings -> Configuration -> General -> Content Management -> CMS Page Hierarchy -> Enable Hierarchy Functionality)

### Steps to reproduce

1. Navigate to a CMS page on the front-end which exists within a hierarchy
1. Observe the breadcrumbs dis

[2022-05-21 16:53] hostep commented on #35490
This is very easily reproducible by:
1. Setting up a clean Magento 2.4.4
2. In the backoffice, going to Stores > Configuration > Customers > Customer Configuration > Name and Address Options
3. Configuring the following 2 fields:
    * Show Prefix: Optional
    * Prefix Dropdown Options: Mr;Mrs
4. In frontend, going to the create account page
5. You immediately get the error as mentioned in the op

[2022-05-21 18:04] levelzero-magento commented on #33770
Hi try this [solution ](https://magento.stackexchange.com/questions/225812/magento-2-unique-constraint-violation-found-when-adding-product-categories-or)and works for me:

For me the problem was that the afterReplace function in Magento\CatalogUrlRewrite\Model\Category\Plugin\Storage added duplicate url rewrites to the catalog_url_rewrite_product_category table. Since a while there is a primary ke

[2022-05-22 09:45] Usik2203 commented on #35416
@magento I am working on this

[2022-05-22 13:27] apohutenumera commented on #18931
Hi,
in 2.4, the message is still not translated

[2022-05-22 13:51] bytes-max opened #35514 "Messages are not added correctly when pressing Add To Cart Button (without redirect to Cart) multiple times"
### Preconditions and environment

- Magento version: 2.4.4
- Anything else that would help a developer reproduce the bug:
1. disable redirect to Cart upon pressing add2cart button

### Steps to reproduce

1. create a product
2. make it available in the FE
3. Click the button "Add 2 Cart" once
4. click the button "Add 2 Cart" once, again

### Expected result

2 individual messages are being shown

[2022-05-23 06:13] engcom-Hotel commented on #35379
Dear @Sanjay-100,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-05-23 06:13] #35379 closed, assigned to engcom-Hotel

[2022-05-23 07:00] engcom-Dash commented on #35353
@magento Give me 2.4-Develop Instance

[2022-05-23 07:04] craig-bartlett commented on #35500
Hi @engcom-Delta

I'll refresh my environment and try to reproduce it again to make sure I didn't miss a step. In the meantime - did you set the tax rule to apply for all customers? Only your last screenshot doesn't show the incl. and excl. tax prices in the category view, even though the screenshot before shows that setting enabled.

Thanks again.

[2022-05-23 07:05] engcom-Dash commented on #35490
@magento give me 2.4-develop instance

[2022-05-23 08:00] engcom-Hotel commented on #35218
Hello @michaelcallahan27,

I would like to suggest you upgrade Magento with the latest stable branch.

Thanks

[2022-05-23 09:13] kolaente commented on #35325
Is someone working on a PR to fix this?

[2022-05-23 09:24] engcom-Hotel commented on #35248
Hello @tiagosampaio,

Thanks for the reply!

We have again retried to reproduce the issue in Magento 2.4-develop branch but it seems the issue has been already addressed and resolved. The issue is not reproducible for us. Please have a look at the below screenshot for reference:
1. After making changes to the product `Joust Duffle Bag`, index management showing `Schedule status`:
![Index-Managemen

[2022-05-23 09:24] #35248 closed, assigned to tiagosampaio, engcom-Hotel

[2022-05-23 09:27] glo71317 commented on #31253
Based on priority I am working on this issue's PR and fixing the PR comments and automation tests

[2022-05-23 09:47] Minirock opened #35515 "Write File method"
### Preconditions and environment

- Magento version : 2.4.1 (but looks like the bug is valid for all magento 2 version)
- As a developer, I want to create a custom file that will be sent threw ftp (but looks like the method is the same to write in magento directly). This file content will exceed the max length as defined by php when I ran the code threw observer. But will be written successfully

[2022-05-23 09:56] mohsinahmed22 opened #35516 "Can't Place Order from Admin Backend Magento 2.4.3-p2"
**Summary of the issue,**
I have multiple store setup trying to create order from admin with same store selected for customer. I when order screen comes up I tried to add a products when i add product it will show some spinner and gone, then no product added to the list, I have to refresh the page, after refreshing the product has been shown to the list.

### Preconditions (*)

1.  Magento 2.4.3-p

[2022-05-23 09:59] glo71317 commented on #35312
Based on the priority internal team is working on the automation test and will deliver soon for 2.4.5 release

[2022-05-23 10:37] Quazz opened #35517 "Cron task catalog_index_refresh_price fails because of date formatting on 2.4.4"
### Preconditions and environment

- Magento version 2.4.4
- MariaDB 10.4
- Need to have clock reach midnight for store time

### Steps to reproduce

Have products with special price and special price date range set

Wait for cron task (it runs once per hour, BUT the cron task itself only reaches the error at midnight)
- See https://github.com/magento/magento2/blob/b092dd6df013e8b1e77e8b5d639148ed

[2022-05-23 10:38] manan-india opened #35518 "Mass Shipping Label Generation issue"
### Summary (*)
After placing an order from fedex shipping and generating the shipment, try mass shipping label generation

### Examples (*)
![Screenshot from 2022-05-23 12-57-26](https://user-images.githubusercontent.com/66308781/169814756-cbccc9a6-913e-4d4e-b251-c3d51ddf38bf.png)

![Screenshot from 2022-05-23 12-57-24](https://user-images.githubusercontent.com/66308781/169801650-e3ce4b33-8e47-47

[2022-05-23 10:54] dariovranjkovic opened #35519 "Shipping Information Form Stuck at 'Loading Regions (When I have only one Country without drop down State) Magento Venia - PWA"
### Preconditions and environment

- Magento version 2.4, venia 12.4

### Steps to reproduce
0. Problem on PWA solution, Venia theme
1. Our store have only one available Country for checkout page (UK United Kingdom)
2. Go on checkout page
3. Enter customer information
4. Try to Continue to Shipping method
5. Error on State field (Is required.) but I haven't option for choose, there should be input

[2022-05-23 10:58] kolaente opened #35520 "Unable to checkout 2.4-develop branch locally with encrypted directory"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Prerequesites: Have an encrypted home directory under ubuntu 20.04.04.

1. Clone this repo
2. Run `git checkout 2.4-develop`

### Expected result

The `2.4-develop` branch is checked out successfully.

### Actual result

[code]

### Additional information

Pro

[2022-05-23 11:05] engcom-Charlie commented on #28200
@cpartica, as you mentioned in JIRA [comment](https://jira.corp.magento.com/browse/AC-2796), that we need an approved schema for this one, and alignment with the pwa metapackage schema. This will take time and moving it to 2.4.6.

Hence moving the associated [PR](https://github.com/magento/magento2/pull/31622) to on Hold, until the further updates on JIRA.

[2022-05-23 11:10] engcom-Hotel commented on #34756
Hello @mageician3,

We have tried to reproduce the issue by following [this article](https://devdocs.magento.com/cloud/docker/docker-development.html) from Magento's devdocs. And the issue is not reproducible for us.

We have used the below command for compilation:
`docker-compose run --rm deploy magento-command setup:di:compile`

The output for the same is as follows:
<img width="830" alt="image"

[2022-05-23 11:48] Josch-KEDO commented on #35502
Update - the same for me - it works, when the PageBuilder module is disabled.
What can cause these 404 errors on saving with PageBuilder?

Could it be a Javascript problem - maybe an incompatibility with other Javascripts?

[2022-05-23 12:13] engcom-November commented on #35519
@magento give me 2.4-develop instance

[2022-05-23 12:26] Pranav-242 commented on #35434
@magento i'm working on this.

[2022-05-23 12:33] engcom-November commented on #35425
Hi @7018424048 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-05-23 12:33] #35425 closed, assigned to engcom-November

[2022-05-23 12:38] Pranav-242 commented on #35434
@magento add to contributors team

[2022-05-23 12:41] Pranav-242 commented on #35434
@magento i'm working on this

[2022-05-23 13:15] mohsinahmed22 commented on #35516
Issue: Format is valid

[2022-05-23 13:15] craig-bartlett commented on #35500
Hi @engcom-Delta

I re-ran the full scenario from scratch and took screen shots along the way. I managed to reproduce the error.

- First I created 2 simple products and 1 grouped product, all in the same category and set to in-stock. I assigned the two simple products to the grouped product. At this point they display fine.

<img width="1504" alt="Screenshot 2022-05-23 at 13 25 36" src="https://u

[2022-05-23 13:38] engcom-November commented on #27126
Verified the issue on Magento 2.4-develop branch and the issue is still reproducible.
Sort by Position / or id is not working and there is no sort by drop down is also present for user to select. Hence considering this as feature request. Updating the description of manual steps to reproduce.
![image](https://user-images.githubusercontent.com/60198231/169831788-7a258844-11e0-4cfe-a293-d8ffb2be729a

[2022-05-23 14:23] xtremevision opened #35522 "Remote image not found breaks import - Magento 2.4.3-p1"
### Preconditions and environment

- Magento version: 2.4.3-p1
- CentOS 7 x64
- PHP 7.4.28
- nginx 1.20.2-3
- MariaDB 10.4.21
- CSV file with a remote image like: "https://someurl.com/someimage.jpg"

### Steps to reproduce

1. Navigate to System -> Import
2. Choose "Skip errors", increase the maximum errors to 10,000
3. Upload a CSV file with 3 sample lines. Make sure rows 1 and 3 have images that

[2022-05-23 14:41] #35416 closed, assigned to andrewbess

[2022-05-23 15:07] Usik2203 commented on #34438
@magento I am working on this

[2022-05-23 15:11] #27126 closed, assigned to nobody

[2022-05-23 15:26] engcom-November opened #35523 "PHP Fatal error in cron job magento_giftcardaccount_update_states"
@fredden Reopening this issue reported by you as the old one is transferred to partnersee-repo
https://github.com/magento/partners-magento2ee/issues/681
### Preconditions and environment

1. Tested with Adobe Commerce v2.4.3-p1. Other versions are also affected.
2. Create a new Website and associated Store but no store view
3. cron enabled

### Steps to reproduce

1. Created new website and Store

[2022-05-23 15:31] engcom-November commented on #35523
Created new issue as this issue got moved to partners-ee repo: https://github.com/magento/partners-magento2ee/issues/681. Hence confirming the issue here.

[2022-05-23 15:51] xtremevision commented on #35522
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-05-23 16:01] fredden commented on #35523
@engcom-November can the original issue not be transferred back here?
It looks like the formatting of the issue has been lost in the copy/paste.

[2022-05-23 17:20] benediktblank commented on #34975
I'm having the same issue. On Friday I upgraded from Magento 2.4.3-p1 to 2.4.4 and today I'm unable to log in to the Backend/Admin. I had to disable Admin Login Recaptcha in the Database to be able to login again.

I have no idea what is going on and have to keep recaptcha disabled in the Admin login for now.

Stack trace is:
[2022-05-23T17:10:05.800157+00:00] main.ERROR: Magento\Framework\Excepti

[2022-05-23 17:25] ClintTec commented on #25906
Agreed.

TypeError: Argument 1 passed to PayPal\Braintree\Model\Paypal\OrderCancellationService::execute() must be of the type string, null given, called in \vendor\paypal\module-braintree-core\Plugin\OrderCancellation.php on line 75 and defined in \vendor\paypal\module-braintree-core\Model\Paypal\OrderCancellationService.php:47
Stack trace:
#0 \vendor\paypal\module-braintree-core\Plugin\OrderCanc

[2022-05-23 18:13] eraq commented on #10863
Fix please....

[2022-05-24 01:58] engcom-Dash commented on #35353
@magento give me 2.4-develop instance

[2022-05-24 01:59] engcom-Dash commented on #35490
@magento give me 2.4-develop instance

[2022-05-24 02:37] engcom-Dash commented on #35353
@magento give me 2.4-develop instance

[2022-05-24 02:38] engcom-Dash commented on #35490
@magento give me 2.4-develop instance

[2022-05-24 03:46] engcom-Dash commented on #35490
@magento give me 2.4-develop instance

[2022-05-24 03:46] engcom-Dash commented on #35353
@magento give me 2.4-develop instance

[2022-05-24 04:34] engcom-Dash commented on #35490
@magento give me 2.4-develop instance

[2022-05-24 04:34] engcom-Dash commented on #35353
@magento give me 2.4-develop instance

[2022-05-24 05:40] engcom-Dash commented on #35490
@magento give me 2.4-develop instance

[2022-05-24 05:41] engcom-Dash commented on #35353
@magento give me 2.4-develop instance

[2022-05-24 05:41] engcom-Dash commented on #35353
@magento give me 2.4-develop instance

[2022-05-24 06:05] engcom-Delta commented on #35445
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-05-24 06:05] #35445 closed, assigned to engcom-Delta

[2022-05-24 06:06] engcom-November commented on #35447
Hi @Nav1s79 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen/create new issue if you are still facing any issues.
Thank you.

[2022-05-24 06:06] #35447 closed, assigned to engcom-November

[2022-05-24 06:30] engcom-Dash commented on #35490
@magento give me 2.4-develop instance

[2022-05-24 06:30] engcom-Dash commented on #35353
@magento give me 2.4-develop instance

[2022-05-24 06:44] engcom-Hotel commented on #35399
Dear @Axel29,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-05-24 06:44] #35399 closed, assigned to engcom-Hotel

[2022-05-24 07:03] WebHostingAce commented on #34424
Same issue. We cant place orders via Admin Panel with the Stored Credit Cards (Braintree)

Error - "Order saving error: Public hash should be defined"

This was working until we upgraded from 2.4.3-p1 to 2.4.3-p2

[2022-05-24 07:04] WebHostingAce commented on #32943
Same issue. We cant place orders via Admin Panel with the Stored Credit Cards (Braintree)

Error - "Order saving error: Public hash should be defined"

This was working until we upgraded from 2.4.3-p1 to 2.4.3-p2

[2022-05-24 07:23] dhirajdanodeborn opened #35526 "Magento 2.4.4 with PHP8.1 NOTICE: PHP message: PHP Notice: date_default_timezone_set(): Timezone ID 'UTC' is invalid in /var/www/magento/releases/4.1/app/bootstrap.php on line 83""
### Preconditions and environment

- Magento version 2.4.4
- Anything else that would help a developer reproduce the bug
1. We are getting below error while insall Magento 2.4.4 PHP 8.1
2.  NOTICE: PHP message: PHP Notice: date_default_timezone_set(): Timezone ID 'UTC' is invalid in /var/www/magento/releases/4.1/app/bootstrap.php on line 83"
3.  We are using docker set up with PHP 8 image

### Ste

[2022-05-24 07:46] dariovranjkovic opened #35527 "Rest api (create product), set wrong qty (Always set: 0)"
### Preconditions and environment

- Magento version 2.4.3

### Steps to reproduce

Create product with rest api:
Method POST:
Url: https://arvid.zendev.se/rest/V1/products (/rest/V1/products )
Request:

[code]

### Expected result

[code]

### Actual result

[code]

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affec

[2022-05-24 08:39] engcom-Dash commented on #35490
@magento give me 2.4-develop instance

[2022-05-24 08:39] khoimm92 commented on #35195
Same issue.
Remove the `layout` specific in `vendor/magento/module-page-builder/view/frontend/page_layout/catalog_category_view.xml` did the trick

[2022-05-24 08:44] engcom-Hotel commented on #35457
Hello @sheepfy,

Thanks for the reporting and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch by following steps:
1. Create a function in class `app/code/Magento/UrlRewrite/Service/V1/Data/UrlRewrite.php` with the name suggested in the main description i.e. `setFirstASecond` and `setFooBarBar`.
2. Used Xdebug to check the output of method `getSetters` from `lib/i

[2022-05-24 08:59] sheepfy commented on #35457
@engcom-Hotel Thanks!
As a quick search on google, got this converter tho:
https://textedit.tools/snakecase

![image](https://user-images.githubusercontent.com/17467949/169993237-16129e1a-32da-4290-9be9-b6aa76a182b0.png)

[2022-05-24 09:17] mnowakCode commented on #35501
I found a solution to this issue. A problem was in creating template/preview.html. had to change all the attributes that have this syntax:
`<render args="getOptions().template"/>`
And I changed this syntax to this:
`<render args="getOptions().template"> </render>`
and that goes for every phrase.
`<span repeat="8"></span>`
instead of:
`<span repeat="8"/>`

[2022-05-24 09:18] #35501 closed, assigned to engcom-November

[2022-05-24 10:37] engcom-Hotel commented on #35490
Hello @hostep,

Thanks for the reproduction steps!

The issue has been reproducible with the given steps. Hence confirming the issue.

Thanks

[2022-05-24 10:38] engcom-Dash commented on #35353
@magento give me 2.4-develop instance

[2022-05-24 10:40] engcom-Dash commented on #35490
@magento give me 2.4-develop instance

[2022-05-24 10:50] vseager opened #35528 "Order remains in status 'processing' after shipping, if items get partially refunded"
### Preconditions and environment

This is a repeat of issue #31063 which is closed despite the issue still being present in 2.4.3-p2.

- Magento 2.4.3-p2

### Steps to reproduce

1. Create an order with multiple items ordered.
2. From the admin, create an invoice for the order.
3. From the admin, create a credit memo and refund an item only partially.
4. From the admin, create a shipping for the

[2022-05-24 10:51] Pranav-242 commented on #35432
@magento i'm working on this.

[2022-05-24 10:54] mtkumar82 commented on #35297
This one works for me. Thanks

[2022-05-24 10:59] igorsKolcinsMagebit opened #35529 "The entity ID field for the "unific_Connector_message_queue" table wasn't found. Verify the field and try again."
### Preconditions and environment

- Magento version: 2.4.3-p1

### Steps to reproduce

1. bin/magento setup:performance:generate-fixtures setup/performance-toolkit/profiles/ee/small.xml

### Expected result

Profile generated without errors

### Actual result

Profile failed on "Generating simple products" with error:
`The entity ID field for the "unific_Connector_message_queue" table wasn't foun

[2022-05-24 11:13] #35529 closed, assigned to nobody

[2022-05-24 11:16] dphilipps opened #35530 "Advanced reporting not working"
### Preconditions and environment

Further details to follow - currently testing on instance

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Fresh install with demo

### Expected result

It should work

### Actual result

404

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity

[2022-05-24 11:16] dphilipps commented on #35530
@magento give me 2.4-develop instance

[2022-05-24 11:17] dphilipps commented on #35530
https://github.com/magento give me 2.4.3 instance

[2022-05-24 11:18] dphilipps commented on #35530
https://github.com/magento give me 2.4-develop instance

[2022-05-24 11:21] engcom-Dash commented on #35353
@magento give me 2.4-develop instance

[2022-05-24 11:34] engcom-Dash commented on #35519
@magento give me 2.4-develop instance

[2022-05-24 11:34] dphilipps commented on #35530
@magento give me 2.4-develop instance

[2022-05-24 12:07] nisha-vaghela commented on #35266
@magento i am working on this.

[2022-05-24 12:45] hatimeria-artur-jewula commented on #34390
@engcom-Hotel do you have shipperhq module purchased for the account you are using to connect to repo.magento.com? Because if you don't then you will not see the problem. Today I got the same error with `mailchimp/mc-magento2` module. repo.magento.com has version 103.4.44 and packagist 103.4.45. Even though I have it locked on 103.4.44 and lock file fetches the module from repo.magento. com and no

[2022-05-24 12:55] hatimeria-artur-jewula commented on #34390
What will happen if a vendor decides not to provide updates to magento marketplace and instead use packagist for future release. That package will be completely blocked and the name will be held as a hostage by this plugin. That vendor will have to change package name so it won't be found in repo.magento.com

[2022-05-24 13:12] engcom-Hotel opened #35531 "Typo for catalogpermissions_category indexer batchsize in env.php"
### Preconditions and environment

When trying to adjust the indexer batch_size for the catalogpermissions_category index I walked into the following issue.
The file Magento\CatalogPermissions\Model\Indexer\Product\IndexFiller tries to use the value set by [this guide](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/indexer-optimization.html#setting-batch-size-with-environment-variable

[2022-05-24 13:24] ssx commented on #35366
Patch: https://gist.github.com/ssx/275bc6c9674277ed8d26592235f1cc6b

[2022-05-24 13:24] ssx commented on #35476
Patch: https://gist.github.com/ssx/275bc6c9674277ed8d26592235f1cc6b

[2022-05-24 13:41] engcom-Delta commented on #35165
Hi @hcmlopes ,
We had a confirmation from PO this is not a bug or missed requirement, the intended functionality on the dynamic bundle was to NOT calculate its parent and the luma cart was ignoring those fields in case of bundle.
Hence we are closing it.

Thanks

[2022-05-24 13:46] Usik2203 commented on #34438
@magento give me 2.4-develop instance

[2022-05-24 14:37] engcom-November opened #35532 "TargetRule GraphQL endpoint doesn't work with custom attributes"
Original issue: https://github.com/magento/partners-magento2ee/issues/658
### Preconditions and environment

2.4.x with enterprise edition

### Steps to reproduce

1. Created Product Attribute with type text and no values required. Store front properties - Use for Promo Rule Conditions - yes and save
2. Marketing - Related Product Rules - Add Rule - Apply to Related Products - Products to Match an

[2022-05-24 14:41] engcom-November commented on #35532
Issue is reproducible on magento 2.4-develop enterprise edition. Hence confirming the issue

[2022-05-24 14:50] engcom-November commented on #35516
@mohsinahmed22 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could able to reproduce the issue with provided steps.
Even after page refresh - grid is updated as expected.
![image](https://user-images.githubusercontent.com/60198231/170065103-bd4c87ab-f1dc-44e7-a301-49c49595b19c.png)
Kindly recheck the issue again on Magento 2.4-develop branch and

[2022-05-24 15:21] engcom-Delta commented on #35486
Hi @webpar,
We have noticed that this  can be closed as per above @FadedOut comments. Hence closed.

[2022-05-24 15:21] #35486 closed, assigned to engcom-Delta

[2022-05-24 15:43] engcom-Delta commented on #35500
Hi @craig-bartlett ,

Thank you so much for sharing the detailed steps and it is reproducible on Magento 2.4.4 instance with PHP 8.1 .
Hence marking the ticket issue is reproducible.

1. created 2 simple products and 1 grouped product, all in the same category and set to in-stock. I assigned the two simple products to the grouped product. At this point they display fine.

<img width="1440" alt="Sc

[2022-05-24 16:25] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-05-24 17:43] xtremevision commented on #35522
https://github.com/magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-05-24 17:45] xtremevision commented on #35522
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-05-25 03:51] tgreeve opened #35534 "Remote Storage is unable to handle file paths differ only in letter case"
### Preconditions and environment

1. Magento 2.4.3-p2
2. Remote storage enabled (s3)

### Steps to reproduce

1. Upload a file "logo.jpg" to s3 bucket path s3://[your bucket name]/media/wysiwyg/logo.jpg
2. Upload another file "Logo.jpg" to s3 bucket path s3://[your bucket name]/media/wysiwyg/Logo.jpg
3. Login to Magento CMS
4. Go to CATALOG > Inventory > Products
5. Add Product
6. Try to insert a

[2022-05-25 04:16] tschirmer commented on #34975
The reason for this is that the JavaScript client isn't getting the token on submission. So the ReCaptcha param it's looking for is empty.

The client isn't resolving correctly, because it's being loaded asynchronously and the way it's coded, will only activate the form interception after the
vendor/magento/module-re-captcha-user/view/adminhtml/templates/recaptcha.phtml

change
[code]
to
[code]

L

[2022-05-25 04:19] khoimm92 opened #35535 "Magento 2.4.4 Mini cart item images not showing"
### Preconditions and environment

- Magento 2.4.4
- PHP8.1

### Steps to reproduce

1. Go to  Content >> Design >> Configuration >>Edit theme >>Product Image Watermarks >> Thumbnail
2. Upload image with Thumbnail and set image position as "Center"
3. Add Products to Cart that all products have images.
4. Open Minicart.
5. Run `bin/magento catalog:image:resize` and observe the error in the termina

[2022-05-25 07:17] jdouay-wide commented on #34223
Hello @magento , could you please work on it?  we also add this error on Magento 2.4.3-p2
Thanks and best regards
Jeremy

[2022-05-25 07:32] mohsinahmed22 commented on #35516
@magento give me 2.4-develop instance

[2022-05-25 07:58] dphilipps commented on #35530
@magento give me 2.4-develop instance

[2022-05-25 08:00] #35530 closed, assigned to nobody

[2022-05-25 08:24] engcom-Hotel commented on #35382
@magento give me 2.4-develop instance

[2022-05-25 08:42] engcom-Hotel commented on #35382
@magento give me 2.4-develop instance

[2022-05-25 08:46] engcom-Hotel commented on #35382
@magento give me 2.4-develop instance

[2022-05-25 08:50] manhtranisobar commented on #34898
This issue is happening for me when I edit a product with more Page Builder attributes (around 20)

[2022-05-25 09:13] engcom-November commented on #35527
@magento give me 2.4-develop instance

[2022-05-25 09:29] engcom-November commented on #35514
Hi @nopenopenope ,
Thank you for reporting and collaboration. Verified the behavior on magento 2.4-develop branch however, this seems to be an expected behavior but not a bug.
Since the message "You added product to your shopping cart." is displayed on clicking "Add to cart" for the 1st time, same message is displayed but not removed when button is clicked again for 2nd time. User experience will

[2022-05-25 09:32] hostep commented on #34390
If you would be able to remove a module from your Magento Marketplace account, I think it should solve itself with the next `composer update` run. But I'm not sure if that's possible, I can't immediately find a way to remove a module from my account at the Marketplace ...

[2022-05-25 10:12] speedupmate commented on #34390
nothing bad in changing the namespace and using a replace in composer.json for old namespace

[2022-05-25 10:41] engcom-November commented on #35502
Hi @Josch-KEDO ,
Thank you for the response. We cannot add any layouts to the content if page builder module is disabled on magento 2.4-develop.
Without page builder, we can only add text as shown below and cant perform any given steps.
![image](https://user-images.githubusercontent.com/60198231/170242419-fd9f32f7-d0b6-4235-9580-ee7c1915ddbf.png)
Rechecked the issue again with page builder enabled

[2022-05-25 10:59] mtkumar82 commented on #35306
In vendor/composer/composer/src/Composer/Repository/ArrayRepository.php

just add   #[\ReturnTypeWillChange] before count function  like below

 #[\ReturnTypeWillChange]
    public function count()
    {
        if (null === $this->packages) {
            $this->initialize();
        }

        return count($this->packages);
    }

In line around  277, and this worked for me.  Or where ever you fo

[2022-05-25 11:55] Nuranto opened #35536 "Varnish 7 & Magento 2.4.4"
### Preconditions and environment

- Magento version 2.4.4

### Steps to reproduce

Go to Stores > Configuration > Advanced > System > Full Page Cache

### Expected result

Having a button "Export VCL for Varnish 7" (or "Export VCL for Varnish 6-7")
Not having a button ""Export VCL for Varnish 4"
Not having a button ""Export VCL for Varnish 5"

### Actual result

Don't see a button "Export VCL for

[2022-05-25 12:23] Minirock commented on #35515
The workaround we manage to find was to write the file to our magento in the first place.

Then sending to the write method the file resource instead of the file content.

But I think something should be fixed here; is_readdable is clearly not supposed to get something else than a filename as a parameter. But magento use it all the time even if we send the filecontent.

Either we should add an exc

[2022-05-25 12:28] engcom-November commented on #35513
Hi @fredden ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch with enterprise edition modules enabled and the issue is reproducible.
Breadcrumbs from CMS Page Hierarchy getting displayed even after disabling page Hierarchy Functionality
![image](https://user-images.githubusercontent.com/60198231/170261686-8a3c2ea6-143f-402e-99dc-2f9bcf43dbe8.png)
Clickin

[2022-05-25 12:50] engcom-Hotel commented on #35382
Hello @itmsenior,

We have again tried to reproduce the issue. This time we are able to get the `Payment Review` status. Actually, we are missing a step to perform in Paypal's sandbox account to enable the `Payment review` option. After enabling the same we are able to get the status as mentioned in the main description.

Please refer to the below screenshot for reference:
![image](https://user-im

[2022-05-25 12:56] engcom-Delta commented on #35522
Hi @xtremevision ,
Thank you for raising an issue , unfortunately need clarification for step# 1 that is which entity should be selected.
Please confirm.
<img width="1440" alt="Screenshot 2022-05-25 at 6 25 22 PM" src="https://user-images.githubusercontent.com/51681379/170266977-2095516c-acf8-4a48-b6a8-e8468975ba1e.png">

[2022-05-25 13:12] shochdoerfer commented on #34390
It's manual work but you can exclude packages via the repositories configuration in the composer.json file like this:
[code]

Not sure if this solves the use-case you need.

[2022-05-25 14:02] engcom-Delta commented on #35528
Hi @vseager ,
Thank you for raising an issue , We tried to reproduce the issue on Magento 2.4 Develop instance, it is not reproducible.
Order status is 'complete' after shipping successfully.

followed below steps:
1. Create an order with multiple items ordered.

<img width="1440" alt="Screenshot 2022-05-25 at 7 04 04 PM" src="https://user-images.githubusercontent.com/51681379/170279488-d4ff6a13-a

[2022-05-25 14:40] engcom-Hotel commented on #34390
As seen in the activity on this ticket, we will do more analysis on this and update here soon.

[2022-05-25 15:50] rathodsunny005 opened #35539 "Base table or view not found: 1146 Table 'mgdemo244.mgreservations_temp_for_stock_2' doesn't exist"
### Preconditions and environment

- Magento 2.4.4
- Install fresh Magento 2.4.4 with the table prefix
- create stock and sources

### Steps to reproduce

1. Install Magento 2.4.4 with table prefix `mg`
2. reindex inventory using using `php bin/magento indexer:reindex`
3. create stock and sources (default stock and source will be there you need to create second)

### Expected result

Successfully

[2022-05-25 16:32] itmsenior commented on #35382
@engcom-Hotel Once you an order with the 'Payment Review' status you then need to send another IPN status to capture the funds (to mirror real-world example of an order being placed, payment was pending, funds clear after payment). The issue is after funds capture IPN the status should change from 'Payment Review' to 'Processing' but it does not do this. Unfortunately we do not have the time to co

[2022-05-25 16:39] ksenia-zlotin commented on #31146
I have applied the CVE-2020-11022 patch provided in https://github.com/DanielRuf/snyk-js-jquery-565129/blob/master/jquery-1.12.4.patch onto a clean Magento 2.4.3-p1 install and experienced errors within the admin:
For example, the price input does not render in the add / edit product form within the admin, making it not possible to save a product properly.
<img width="1601" alt="Screen Shot 2022-0

[2022-05-25 18:48] DanielRuf commented on #31146
@ksenia-zlotin you don't need this patch. I had already patched the relevant parts in the provided jQuery version. Please see https://github.com/magento/magento2/issues/31146#issuecomment-776013505 and https://github.com/magento/magento2/issues/31146#issuecomment-738112151 including previous comments by me.

The security scanners report false positives since they only look at the (unchanged) versi

[2022-05-25 18:56] zeeshan2523806 commented on #22773
@rawsj24 thank you for your recommendation.

[2022-05-26 01:17] tschirmer commented on #34975
This is the offending file.

vendor/magento/module-re-captcha-user/view/adminhtml/templates/recaptcha.phtml

Essentially, this was coded in a way that the submit function binders were able to allow the submit wihtout waiting for the recaptcha code.

I've recoded this, so replace that file with this and it should work. This might need extra work to make sure the invisible captcha configuration work

[2022-05-26 06:52] rathodsunny005 commented on #35539
actully the problem in `Magento\InventoryIndexer\Indexer\Stock\ReservationsIndexTable` file.
[code]

**change to**

[code]

the problem will be resolved.
Actually I don't know how to contribute and I don't have time to read your instruction of contribution so I'm just post here. :)
the problem in generating table without prefix and fetch data with prefix so it could not fetch the data.
thanks

[2022-05-26 06:59] C4rter commented on #34975
Wow, thank you. Yeah, it works with that code now indeed.

The blue "protected by recaptcha" box now only appears briefly after submitting the form. It's not visible before.
Is that part of the fix?

The "g-recaptcha-response" parameter is now correctly filled again and the exception is therefore not thrown anymore.

Just noticed I accidentally made the other post with an old account of mine.

[2022-05-26 08:03] engcom-Delta commented on #35528
Hi @vseager ,

Thank you so much for sharing the detailed steps , We tried once again to reproduce it , Yes  issue is reproducible with a product that has 5 quantity .

Hence marked issue as 'Issue Confirmed'.

1. Go to SKU 24-MB05
2. Add more than one 24-MB05 to the cart (for example 5) - Your cart should show only ONE product but a QTY of 5

<img width="1440" alt="Screenshot 2022-05-26 at 12 54

[2022-05-26 08:12] Sanjay-100 opened #35541 "magento 2 plus search event observer not getting the same data as store front end."
### Preconditions and environment

- Magento versions 2.3 and 2.4
- Anything else that would help a developer reproduce the bug
I create the custom modules I want all search results the same as storefronts.  here you can find the code https://github.com/Sanjay-100/magento2_search

### Steps to reproduce

1 Setup mangeto
2 https://github.com/Sanjay-100/magento2_search  install this module
3 do stor

[2022-05-26 08:52] Sanjay-100 commented on #35541
@m2-community-project

**Summary of the issue  :-** Magento versions 2.3 and 2.4
Anything else that would help a developer reproduce the bug
I create the custom modules I want all search results the same as storefronts. here you can find the code https://github.com/Sanjay-100/magento2_search

**Information on your environment** :- LEMP stack magento 2.4 development mode
**Steps to reproduce** :- u

[2022-05-26 09:08] engcom-November commented on #35512
@magento give me 2.4-develop instance

[2022-05-26 09:10] sheepfy opened #35542 "[php8.1 M2.4.4 EE] stripos expects parameter string, null given"
Hi, so we have this:
1. This observer: Magento\PricePermissions\Observer\AdminhtmlBlockHtmlBeforeObserver::execute method have this part of code:
[code]
2. The $block::getNameInLayout method is marked with annotation @return string. However, it can return NULL as well which can trigger an issue on php8 in stripos function.

My issue:
I'm using a 3rd party module that adds Tabs in it's admin form a

[2022-05-26 09:46] #34822 closed, assigned to engcom-Hotel

[2022-05-26 10:06] Dren7755 commented on #26866
It's still possible to reproduce this issue on Magento 2.4.0

How to reproduce
1. Create some service class like this
[code]
2. Create virtual type based on created class
[code]
3. Use virtual consumer in queue_consumer.xml
[code]
4. Make sure `setup:di:compile` finished successfully
5. Run `bin/magento queue:consumers:start testConsumer` and see the error
[code]

[2022-05-26 10:11] novikor commented on #26866
⬆️ Looks like the issue is not resolved, is being reproduced, and still requires an attention

[2022-05-26 10:55] engcom-Hotel commented on #34898
Hello @manhtranisobar,

Have you tried the solution given in [this comment](https://github.com/magento/magento2/issues/34898#issuecomment-1042906884). Let us know if this resolves your problem.

Thanks

[2022-05-26 11:09] manhtranisobar commented on #34898
Hi @engcom-Hotel
I have not tried that solution because we are using Magento Cloud. But I think It is not solution because I am getting that JS console error message when edit CMS page but I still can save CMS page successfully. If It is solution, Magento Cloud should update that config as default.

[2022-05-26 11:19] engcom-Hotel commented on #35348
Hence this is a duplicate of https://github.com/magento/magento2/issues/35370, closing this ticket.

Thank you!

[2022-05-26 11:19] #35348 closed, assigned to nobody

[2022-05-26 11:37] engcom-Hotel commented on #35165
Hello @hcmlopes,

As per discussion internally we reopening this ticket as a `feature request`.

Thanks

[2022-05-26 11:46] mikeastral commented on #34975
Excellent,

This last code completely fixed the re-captcha issue

Thank you very much

On Thu, May 26, 2022 at 3:42 PM tschirmer ***@***.***> wrote:

[2022-05-26 11:50] engcom-Hotel commented on #35220
Hello @vmishra341,

This issue is already addressed and merged. You can refer to the below link for reference:

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/CatalogGraphQl/etc/schema.graphqls#L323

Hence closing this issue.

Thanks

[2022-05-26 11:50] #35220 closed, assigned to nobody

[2022-05-26 13:22] girija-kudupudi commented on #35512
Hi @eraq ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
**Steps performed:**
1. Magento multi store setup
2. Created a product without image and assigned product to both websites
3. Change scope to default store view scope and added image with options "Small" and ""Thumbnail - Save
Verified DB tables:
catalog_pr

[2022-05-26 13:30] engcom-November commented on #35512
Hi @eraq ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
**Steps performed:**
1. Magento multi store setup
2. Created a product without image and assigned product to both websites
3. Change scope to default store view scope and added image with options "Small" and ""Thumbnail - Save
4. Verified DB tables:
    cat

[2022-05-26 15:25] maheshm-kensium commented on #35494
Hi @engcom-Delta ,

We are also seeing the same issue in 2.4.4 version, once configurable parent product goes out of stock it is always stays in OOS because stock status is not updating in cataloginventory_stock_status table.

**Preconditions and environment**
Setup Vanilla 2.4.4 Magento instance either Open Source or Commerce Edition

**Steps to reproduce**
Scenario 1:
1. Create new configurable

[2022-05-26 15:28] Skyfly2021 opened #35543 "upgrade 2.4.4 There are no commands defined in the "setup" namespace."
### Preconditions and environment

- Magento 2.4.3-p1
- Upgrade 2.4.4

### Steps to reproduce

1.composer require  magento/product-community-edition 2.4.4 --no-update
2.composer update
3.rm -rf var/cache/*
4.rm -rf var/page_cache/*
5.rm -rf var/page_cache/*
6.bin/magento setup:upgrade

### Expected result

Expect step 6 to run successfully

### Actual result

![image](https://user-images.githubuse

[2022-05-26 16:14] C4rter commented on #34975
@tschirmer

Thank you again! That does it. The Recaptcha Box is visible and the login works.

I've created a composer patch with your changes, if anybody else needs to apply that fix during deployment with cweagans/composer-patches or something else:
[code]

[2022-05-26 19:14] fm-cl commented on #7570
im having this issue on magento 2.4.2p2, only with certain customers

[2022-05-26 21:25] kanevbg commented on #35397
@engcom-Hotel Please bring some core developer to take a look at this. I will be here to communicate and work on this. Believe me this very likely to be hidden issue messing up the overall stability of the platform when the FileSystem locker implementation is used.

[2022-05-27 03:09] hungryriz commented on #8276
same here in magento 2.4.3-p1

[2022-05-27 04:07] Abhay-Agrawal opened #35544 "Admin able to edit shipping and billing address for completed orders status backend"
### Summary (*)

1. Place and order from the frontend side
2. generate the shipping and invoice of order make the order status complete
3. Now check the billing and shipping address and admin can edit the address here
4. what is the purpose of edit link here

<img width="809" alt="issue" src="https://user-images.githubusercontent.com/55655451/170627233-82982ac4-6ebe-40a5-a86e-282cf85dc2b6.PNG">

[2022-05-27 04:21] Abhay-Agrawal opened #35545 "PROMO code apply on the shipping showing null in graphql responce"
*As a ___ I want to ___ so that ___.*

**Steps to reproduce:**
1. Navigate to Marketing Menu-> Promotions -> Cart Price Rule
2. Add the New Rule
3. Add the One Rule and apply it on shipping Amount. Plz check the attached screenshot to add shipping rule
![Screenshot (1)](https://user-images.githubusercontent.com/55655451/170628184-0dc76802-30e0-4646-9420-8f6785360dfe.png)

1. apply the same PROMO c

[2022-05-27 07:52] engcom-Hotel commented on #35149
Hello @OPielech,

Thanks for the report and collaboration!

For further analysis, we need some information from your side. So please provide us with the following information:
1. Screenshot of configurations related to splitting the import processes (if possible).
2. How many consumers are running at the time in order to import the products.
3. How many products are imported in bulk at a time?

Th

[2022-05-27 07:55] engcom-Hotel commented on #35397
Sure @kanevbg,

But we need more details on this issue as mentioned in [this comment](https://github.com/magento/magento2/issues/35397#issuecomment-1114708992). Please provide the same we will analyze the issue more.

Thanks

[2022-05-27 08:49] Nuranto commented on #34733
I confirm this issue on Debian bullseye / libxml 2.9.10 on M2.4.4.

(2.9.4 is not available on standard bullseye)

[2022-05-27 09:19] rightmarc commented on #33518
This issue still not resolved in magento 2.4.4 update.

When this was fixed?

[2022-05-27 10:36] engcom-Hotel commented on #35542
Hello @sheepfy,

Thanks for the posting and collaboration!

We have checked the usage of function `setNameInLayout()` defined in class `lib/internal/Magento/Framework/View/Element/AbstractBlock.php` from where `$this->_nameInLayout` is initialized but in the Magento core, no `null` value has been passed.

Please let us know which 3rd party module you have tried where you are facing the issue.

Tha

[2022-05-27 10:39] sheepfy commented on #35542
@engcom-Hotel  Hey, so it is about implementing Tab forms in admin.
Modules in case were Firebear and Xtento_ProductExport . They adds Tabs, tabs will have null as block name and they will fail in that observer.

However, since _nameInLayout can reach as null in that method output, I'll stick to this:
if (!$block->getNameInLayout()) {
    return;
}

[2022-05-27 11:15] madonzy opened #35546 "Why do we need parent identities on frontend?"
I've noticed that we have plugin `\Magento\ConfigurableProduct\Model\Plugin\ProductIdentitiesExtender::afterGetIdentities` that is responsible to add parent tags for each child product. For example, that makes the product listing page much slower because we need to load the parent for each product on the page.

Why do we really need that on frontend? I tested and it PURGE cache for all child produ

[2022-05-27 11:42] pimruiter commented on #19710
I also had the same issue on 2.4.3-p1, the image cache URL's were generated wrong. For me it was a wrong Watermark configuration, removing these settings all the cache images were generated right again. Maybe this will help someone.

[2022-05-27 11:50] hubertus2017 commented on #35440
Just upgraded to M2.4.4 . The same issue with empty customer group.

The missing customer groups is critical because it leads to incomplete confirmation emails ({{depend order.getIsNotVirtual()}} in emails ) and to order export issues..... A quick fix is needed!

[2022-05-27 12:02] Pranav-242 commented on #35493
@magento i'm working on this

[2022-05-27 12:07] engcom-November commented on #35517
Hi @Quazz ,
Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue with provided steps.
No error was observed in the cron job at any time.
![image](https://user-images.githubusercontent.com/60198231/170696050-151fa631-0a67-4f72-aaf4-6973fe9d10a2.png)
Kindly recheck the issue again on Magento 2.4-develop branch and provide missing steps if any if the issue is sti

[2022-05-27 12:23] Holowkoa opened #35547 "404 Error Product XLSX export"
### Preconditions and environment

- Magento version 2.3.6
I have the Firebear Improved Import / Export plugin. It has worked before flawlessly, but recently it started giving me a 404 error, page not found after the export is complete.

When I click download file it takes me to the 404 page.

<img width="1735" alt="Screen Shot 2022-05-27 at 8 20 31 AM" src="https://user-images.githubusercontent.c

[2022-05-27 12:29] #35547 closed, assigned to nobody

[2022-05-27 12:29] Holowkoa commented on #35547
file path was wrong

[2022-05-27 12:50] engcom-November commented on #35545
Verified the issue on Magento 2.4-develop branch and discount amount applied on shipping amount is ignored. Only discount on product price is displayed in graphql response.
**Steps performed:**
1. Created cart Price Rule Specific Coupon, Actions - 100 % discount and Apply to shipping amount - yes, Free shipping - For Shipments with matching items
![image](https://user-images.githubusercontent.com/

[2022-05-27 12:55] nisha-vaghela commented on #35396
@magento I am working on this.

[2022-05-27 13:04] Abhay-Agrawal commented on #31270
It is same as https://github.com/magento/magento2/issues/31270

[2022-05-27 13:25] MyroslavDobra commented on #35329
My workaround
Add this._toggleDesktopMode();
to ```lib/web/mage/menu.js``` to **_init** method right before line ```mediaCheck({```

[2022-05-27 13:26] engcom-November commented on #35544
Hi @Abhay-Agrawal ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop branch and as per Magento [docs](https://docs.magento.com/user-guide/sales/order-processing.html), Billing and shipping addresses can be edited for a processing order however, this can also be useful for a Completed order as well because user can still use them for reorder or issuing a credi

[2022-05-27 13:53] pnt9948 commented on #35464
Thanks @shoaibpnp for notifying about the mcrypt issue. After installing the extension, it got resolved.

[2022-05-27 15:27] Hexmage commented on #34546
@PauloPhagula
Think they fixed it in https://github.com/magento/magento2-pwa which is a repo with pwa specific fixes because the normal magento repo doesn't update fast enough.

[2022-05-27 16:21] jakwinkler opened #35548 "Quote Item Option info_buyRequest data is NULL, it is only loaded on the cart and checkout page."
### Preconditions and environment

- Magento version: 2.4.x

### Steps to reproduce

1. Create a new module that adds new information to `info_buyRequest` `quote_item_option` table when a product is added to the shopping cart, it can be some random data, which is simply stored in the database
2. Add a few items to your shopping cart
3. Create a custom controller and a template where you load check

[2022-05-29 11:23] ahmed22s885111qq opened #35549 "sticky menu in the homepage image Magento 2.4.3"
the menu is stick with the homepage image. how can I separate the menu from the image ?

![sticky](https://user-images.githubusercontent.com/56961509/170865456-5f6a5e0f-6ab8-49bf-af89-d35c48b529ac.jpg)

[2022-05-29 19:08] dragonfly4 commented on #35293
I can confirm this solves the problem. Child themes need to have a logo.png file

[2022-05-29 22:47] #34380 closed, assigned to Melnychuk-Alexandr

[2022-05-30 06:20] engcom-November commented on #35324
Hi @webgility-amazonapi ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-05-30 06:20] #35324 closed, assigned to engcom-November

[2022-05-30 06:28] engcom-Dash commented on #35520
@magento give me 2.4-develop instance

[2022-05-30 06:35] engcom-Dash commented on #35519
@magento give me 2.4-develop instance

[2022-05-30 07:27] sunilknizar opened #35550 "Unable to unsubscribe from price and stock alert."
### Preconditions and environment

- Magento version 2.4.3 EE
- Configure Product alerts with an option for users to subscribe for both stock and price change. Ref [docs](https://docs.magento.com/user-guide/catalog/inventory-product-alerts.html)

### Steps to reproduce

1. Navigate to the storefront as a logged-in user.
2. From the product detail page, subscribe to a stock alert for an out-of-stoc

[2022-05-30 07:41] engcom-Hotel commented on #35542
Hello @sheepfy,

Thanks for the response!

I have tried to check the above-mentioned modules in Marketplace and found the below results:

- Firebear :- https://marketplace.magento.com/catalogsearch/result/?q=Fire%20bear
- Xtento_ProductExport :- https://marketplace.magento.com/xtento-productexport.html

I request you to please connect with them and raise a query for this. They might help you.

Tha

[2022-05-30 08:33] chris-pook commented on #25906
Hi @magento-engcom-team, please can this be reopened?

[2022-05-30 08:37] kolaente commented on #35520
@engcom-Dash how do you want to test this with a develop instance? This is a problem with git checkout.

[2022-05-30 08:43] TomZhuPlanetart commented on #24654
I'm seeing it on 2.4.3, just a few minutes ago.  No exact steps yet. A few customers were complaining that the shipping methods were not able to load.

[2022-05-30 09:08] engcom-Hotel commented on #35451
Hello @phoenix-bjoern,

Thanks for the reporting and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but for us, the issue is not reproducible for us. We have followed the below steps:

1. Setup Redis cache in Magento instance.
2. Made changes in `env.php` file and change `id_prefix` value as `test1_`:
<img width="622" alt="image" src="https://user-images.githubu

[2022-05-30 09:41] engcom-Dash commented on #35519
@magento give me 2.4-develop instance

[2022-05-30 10:09] engcom-Charlie commented on #24581
The issue is not reproducible now as mentioned in [comment]( MIssing unique key on eav_attribute_label table).

There is linked [PR](https://github.com/magento/magento2/pull/24682) for this issue which is merged now, so closing this issue now.

Please reopen and update if you wish to continue.

Thank you for your contribution!

[2022-05-30 10:34] Nico2P commented on #9988
+ 1

The issue still here in v2.4.3 with elasticsearch

[2022-05-30 11:04] engcom-Dash commented on #35526
Hello @dhirajdanodeborn ,

We have tried to reproduce the issue in Magento 2.4.4 with 8.1 PHP .the issue is not reproducible. Please refer the below screenshot for the reference;

![Screenshot from 2022-05-30 16-28-43](https://user-images.githubusercontent.com/60198592/170978907-206d5710-3ca0-4366-94ef-230364e025cb.png)

We have followed the below steps in order to reproduce the issue:

1.install

[2022-05-30 11:05] engcom-Dash commented on #35519
@magento give me 2.4-develop instance

[2022-05-30 11:07] dhirajdanodeborn commented on #35526
Hello support

We are able to fix the issue
It seems to be permission issue

We can close the ticket

Thanks

On Mon, May 30, 2022, 16:34 Rajasekar Panneerselvam <
***@***.***> wrote:

--
Email Disclaimer: Click here <https://www.borngroup.com/email-disclaimer>

[2022-05-30 11:32] Pranav-242 commented on #35453
@magento i'm working on it

[2022-05-30 11:38] engcom-Delta commented on #35443
Hi @gyduxa,

Thank you for logging an issue , we tried to reproduce the issue on Magento 2.4 Develop instance , issue is reproducible.
We are not able to add content inside tabs .

Hence issue has been confirmed. Please find the attached screenshots for reference.
<img width="1440" alt="Screenshot 2022-05-30 at 5 06 10 PM" src="https://user-images.githubusercontent.com/51681379/170984491-eda2c6ed-