[2019-01-25 17:36] magento-engcom-team commented on #20624
Hi @andkirby. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-25 17:37] andkirby commented on #20624
Yeah, that's EE issue. Sorry, I don't an account to a special place of EE issues. You may grant me. :)

[2019-01-25 17:38] magento-engcom-team commented on #20624
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-25 17:43] magento-engcom-team commented on #20624
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97935`, `MAGETWO-97936` were created

[2019-01-25 17:45] magento-engcom-team commented on #20624
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-01-25 17:53] irajneeshgupta commented on #20624
@andkirby
You reported issue for EE , it is actually in CE version also , hence i confirmed it.
For EE version you should open ticket on EE cloud support

[2019-01-25 17:55] andkirby commented on #20624
Got it, thanks. I just don't have access to this EE cloud support.

[2019-01-25 18:00] junkkiller opened #20626 "Magento WYSIWYG editor inserting &quot; when inserting image image"
### Preconditions (*)

1. Magento vr 2.3.0
2. PHP 7.2.0
3. Ubuntu 18.0.1

### Steps to reproduce (*)

Content >Block >Show or hide wysiwg editor ->Insert any image then select the image you inserted WYSIWYG editor inserts: `<img src="{{media url=&quot;wysiwyg/test.png&quot;}}" alt="" />`
instead of  `<img src="{{media url="wysiwyg/test.png"}}" alt="" />`

### Expected result (*)

1.  `<img src="{{

[2019-01-25 18:00] magento-engcom-team commented on #20626
Hi @junkkiller. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-25 18:00] andkirby commented on #20624
@irajneeshgupta Yeah, I just confused `magento/module-scheduled-import-export` from EE with `magento/module-import-export` which belongs to CE as well. So, that's CE issue basically.

[2019-01-25 18:00] magento-engcom-team commented on #20626
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-25 18:01] irajneeshgupta commented on #20626
@magento-engcom-team give me 2.3-develop instance

[2019-01-25 18:01] magento-engcom-team commented on #20626
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-25 18:01] magento-engcom-team commented on #20626
Hi @irajneeshgupta, here is your [Magento instance](https://i-20626-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20626-2-3-develop.instances.magento-community.engineering/admin](https://i-20626-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-25 18:01] andkirby commented on #20624
@irajneeshgupta I've added a suggestion for variable name. Could please apply it?

[2019-01-25 18:01] magento-engcom-team commented on #20626
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97937` were created

[2019-01-25 18:15] Nazar65 commented on #20626
Hi @junkkiller this is dublicate to this https://github.com/magento/magento2/issues/19737 @irajneeshgupta how you can verify issue in 1 minute ?

[2019-01-25 18:15] #20626 closed, assigned to nobody

[2019-01-25 21:18] michaeljdietz opened #20627 "Reservations Break When SKU is Changed"
### Preconditions
Magento 2.3+

### Steps to Reproduce
1. Make a reservation (via a sale) of a particular product that only has a quantity of one available.
2. Verify the product is no longer available for sale.
3. Change that product's SKU in the admin backend.
4. See that the product is now miraculously available for sale again.

### Discussion
The inventory_reservation and inventory_source_item

[2019-01-25 21:18] magento-engcom-team commented on #20627
Hi @michaeljdietz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-26 00:49] smadasam commented on #18243
I am having the same issue on my 2.3.0 site.  How do I patch it until the next release comes out?

:/tmp/analytics# ll -ah
total 62G
drwxrwxr-x  2 sw_temp psacln 4.0K Jan 25 10:02 .
drwxrwxrwt 11 root    root    20K Jan 26 00:41 ..
-rw-rw-r--  1 sw_temp psacln 101K Jan 22 10:00 ~tmp-1548151203.3161tar.tar
-rw-rw-r--  1 sw_temp psacln  71M Jan 23 10:00 ~tmp-1548237603.0528tar.tar
-rw-rw-r--  1 sw_t

[2019-01-26 01:15] DanielRuf commented on #18243
https://github.com/magento/magento2/issues/18243#issuecomment-445789885

https://support.magento.com/hc/en-us/articles/360005484154-Create-a-patch-for-a-Magento-2-Composer-installation-from-a-GitHub-commit

[2019-01-26 04:40] magento-engcom-team commented on #20627
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-26 06:01] milindsingh commented on #20627
Hi @michaeljdietz thanks for creating an issue. Kindly move it to https://github.com/magento-engcom/msi/issues

[2019-01-26 06:01] #20627 closed, assigned to irajneeshgupta

[2019-01-26 08:27] magolovanov opened #20629 "Updates to the product attribute property "apply_to" do not work via REST API"
### Preconditions (*)

1. Magento 2.2.5
2. Amazon Linux 2 (https://aws.amazon.com/amazon-linux-ami/2018.03-release-notes/)
3. PHP 7.0.31 (cli) (built: Aug 17 2018 22:04:06) ( NTS )
4. MySQL-5.6.41

### Steps to reproduce (*)
1. Execute "manufacturer" attribute update via the API (PUT "/rest/V1/products/attributes/manufacturer") with the body

{"attribute":{"default_frontend_label":"Manufacturer up

[2019-01-26 11:06] milindsingh commented on #20629
@magento-engcom-team give me 2.2-develop instance

[2019-01-26 11:06] magento-engcom-team commented on #20629
Hi @milindsingh. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-26 11:07] magento-engcom-team commented on #20629
Hi @milindsingh, here is your [Magento instance](https://i-20629-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20629-2-2-develop.instances.magento-community.engineering/admin](https://i-20629-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-26 11:36] magento-engcom-team commented on #20629
@milindsingh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97940` were created

[2019-01-26 11:55] mahesh-rajawat opened #20631 "Console error on checkout after changing the allowed countries from admin."
### Preconditions (*)

1. Magento 2.2.x
2. Magento 2.3.x

### Steps to reproduce (*)

1. Add a product to cart as guest.
2. Fill the shipping address and reload the page now shipping address must be filled already.
3. Go to Admin->Stores->configuration->General, Change allowed countries single one that is not filled on checkout. like i have filled United State at checkout and change allowed countr

[2019-01-26 11:55] magento-engcom-team commented on #20631
Hi @maheshWebkul721. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-26 12:02] magento-engcom-team commented on #20631
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-26 12:04] magento-engcom-team commented on #20631
@amol2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97941` were created

[2019-01-26 15:41] magento-engcom-team commented on #20376
Hi @serhiyzhovnir. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-26 15:42] serhiyzhovnir commented on #20376
@magento-engcom-team give me 2.2-develop instance

[2019-01-26 15:42] magento-engcom-team commented on #20376
Hi @serhiyzhovnir. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-26 15:43] magento-engcom-team commented on #20376
Hi @serhiyzhovnir, here is your [Magento instance](https://i-20376-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20376-2-2-develop.instances.magento-community.engineering/admin](https://i-20376-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-26 15:55] magento-engcom-team commented on #20631
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-26 15:56] kalalruturaj opened #20635 "FastCGI sent in stderr: "PHP message: PHP Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE)"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2.13 (cli)

**We are using AWS Cloudformation template which was supported for Magento 2.1 but we have manually upgraded it to Magento 2.3.0. I am not sure how this can affect. **

Upgraded Magento 2.1.16 to Magento 2.3.0, I am getting an error on the browser HTTP 500 but i can see the request on nginx.

Error in access log is:

`2019/01/26 06:44:59

[2019-01-26 15:57] magento-engcom-team commented on #20635
Hi @kalalruturaj. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-26 16:04] kalalruturaj commented on #20635
@magento-engcom-team give me Magento 2.3.0 instance

[2019-01-26 16:05] magento-engcom-team commented on #20635
Hi @kalalruturaj, here is your [Magento instance](https://i-20635-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20635-2-3-0.instances.magento-community.engineering/admin](https://i-20635-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-26 16:13] Wohlie commented on #16285
Hi, I think this issue is invalid and does not exist.

`$eavSetup->addAttribute` performes a mapping from the given array keys to the db field names (compare [implementation #1](https://github.com/magento/magento2/blob/35b736dbc57b2aa4a95efa48a17e8e20ac9f663f/app/code/Magento/Eav/Setup/EavSetup.php#L825), [implementation #2](https://github.com/magento/magento2/blob/35b736dbc57b2aa4a95efa48a17e8e20

[2019-01-26 17:42] magento-engcom-team commented on #20635
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-26 18:00] magento-engcom-team commented on #18361
Hi @nickshatilo. Thank you for your report.
The issue has been fixed in magento/magento2#18362 by @nickshatilo in 2.2-develop branch
Related commit(s):
 - [ecd9dc42e56093a09193a13fac669cd0c3b1825c](https://github.com/magento/magento2/commit/ecd9dc42e56093a09193a13fac669cd0c3b1825c)
 - [0f75306061dcf6dc2942d6e165e8ba17f2ce3f6c](https://github.com/magento/magento2/commit/0f75306061dcf6dc2942d6e165e8

[2019-01-26 18:00] magento-engcom-team commented on #19985
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#20541 by @irajneeshgupta in 2.2-develop branch
Related commit(s):
 - [8d949bda2465de4036f700c04b425982e6b48991](https://github.com/magento/magento2/commit/8d949bda2465de4036f700c04b425982e6b48991)
 - [2e4d7e1e707576f786c82d17997d7c904ff82a05](https://github.com/magento/magento2/commit/2e4d7e1e707576f786c82d1799

[2019-01-26 18:00] magento-engcom-team commented on #19887
Hi @aldf. Thank you for your report.
The issue has been fixed in magento/magento2#20184 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [f8df2dfd8a99202b52480428618f4c33966a7ba1](https://github.com/magento/magento2/commit/f8df2dfd8a99202b52480428618f4c33966a7ba1)
 - [8b59fc0a3870b5af87256e83353f65e8d676986a](https://github.com/magento/magento2/commit/8b59fc0a3870b5af87256e83353f65e8d67

[2019-01-26 18:17] irajneeshgupta commented on #20635
dublicate issue ref ->https://github.com/magento/magento2/issues/18146

[2019-01-26 18:17] #20635 closed, assigned to nobody

[2019-01-26 19:34] sagar123pawar commented on #20635
In aws : amaon linux os:
vim /etc/php-fpm-7.0.conf

check as follows:

[global]
pid = /var/run/php-fpm/php-fpm-7.0.pid
error_log = /var/log/php-fpm/7.0/error.log
daemonize = yes
[www]
user = nginx
group = nginx
listen = /tmp/php-cgi.socket
listen.owner = nginx
listen.group = nginx
pm = dynamic
pm.max_children = 50
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 35
slowlog = /v

[2019-01-26 19:37] DanielRuf commented on #20635
Please upgrade your PHP version.

[2019-01-26 19:38] DanielRuf commented on #20635
Please upgrade your PHP version to 7.2.0.

[2019-01-26 20:50] #20229 closed, assigned to nobody

[2019-01-26 20:50] magento-engcom-team commented on #12194
Hi @matin73. Thank you for your report.
The issue has been fixed in magento/magento2#20407 by @vshatylo in 2.3-develop branch
Related commit(s):
 - [f4d09473f93e80b0c6c99bac45f925b9a7e122d2](https://github.com/magento/magento2/commit/f4d09473f93e80b0c6c99bac45f925b9a7e122d2)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-26 20:50] #12194 closed, assigned to vshatylo

[2019-01-26 20:50] magento-engcom-team commented on #19258
Hi @shachiarkatkar. Thank you for your report.
The issue has been fixed in magento/magento2#20349 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [56c1b3395cad0b34362c6df4bf5ca74a40d9a363](https://github.com/magento/magento2/commit/56c1b3395cad0b34362c6df4bf5ca74a40d9a363)
 - [d55f47d0d34031ab602702ec0b2fc518d5cc0b9c](https://github.com/magento/magento2/commit/d55f47d0d34031ab602702ec0

[2019-01-26 20:50] #19258 closed, assigned to nobody

[2019-01-26 20:50] magento-engcom-team commented on #19482
Hi @iGerchak. Thank you for your report.
The issue has been fixed in magento/magento2#19997 by @agorbulin in 2.3-develop branch
Related commit(s):
 - [c608b021a28d6bd18c4d6b505f893abca5a20745](https://github.com/magento/magento2/commit/c608b021a28d6bd18c4d6b505f893abca5a20745)
 - [1a5a6be6d85599431ad55901417d44e75cf42907](https://github.com/magento/magento2/commit/1a5a6be6d85599431ad55901417d44e75

[2019-01-26 20:50] magento-engcom-team commented on #17592
Hi @sabl0r. Thank you for your report.
The issue has been fixed in magento/magento2#19095 by @pmclain in 2.3-develop branch
Related commit(s):
 - [cf383a9b96853104077f08e4b1e5bc8c189725cf](https://github.com/magento/magento2/commit/cf383a9b96853104077f08e4b1e5bc8c189725cf)
 - [e945ba071de2d3dd92e3f454ac9021507967605c](https://github.com/magento/magento2/commit/e945ba071de2d3dd92e3f454ac90215079676

[2019-01-26 20:50] #19482 closed, assigned to agorbulin

[2019-01-26 20:50] magento-engcom-team commented on #18754
Hi @albsa. Thank you for your report.
The issue has been fixed in magento/magento2#19372 by @niravkrish in 2.3-develop branch
Related commit(s):
 - [c4f9a02b53bdc0aed4f0374731e6f785d30b02da](https://github.com/magento/magento2/commit/c4f9a02b53bdc0aed4f0374731e6f785d30b02da)
 - [6ad2344e4929d9e46db8dd2bc8fbc28d5887c6d3](https://github.com/magento/magento2/commit/6ad2344e4929d9e46db8dd2bc8fbc28d588

[2019-01-27 02:23] kalalruturaj opened #20639 "Path "/var/www/html/var/composer_home/" cannot be used with directory "/var/www/html/var/composer_home/""
I have just upgraded from Magento 2.1.16 to Magento 2.3.0, and I am not able to connect to the Magento Market place I am keep getting an error message when i enter the Private and Public Key

### Preconditions (*)

1. Connecting to Marketplace using Private and Public Key
2. I have confirmed that **/var/www/html/var/composer_home/** this folder is available and permissions are
![image](https://use

[2019-01-27 02:41] kalalruturaj commented on #20635
@sagar123pawar This works.

[2019-01-27 04:09] sagar123pawar commented on #20639
set permission 2775   (/var/www/html/var/) to all var directory of magento root folder as:

` sudo chmod 2775 /var/www/html/var/   `

[2019-01-27 05:33] magento-engcom-team commented on #20639
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-27 06:37] kalalruturaj commented on #20639
@sagar123pawar It worked thanks Sagar you are awesome!!

[2019-01-27 06:37] #20639 closed, assigned to nobody

[2019-01-27 07:47] ahmadssb opened #20649 "ERR_TOO_MANY_REDIRECTS when adding conditions on catalog/cart price rules"
I am using Magento 2.3 installed via CPanel from hosting

I am trying to create a catalog price rule, when I click on condition and selects Catalog it takes time to load then displays an error

I have tried this on multiple browsers , (my website not using https)

check the video I Captured for my problem

https://youtu.be/6B8qFuUgf_c

### Preconditions (*)

1. Magento version 2.3
2. installed fro

[2019-01-27 07:47] magento-engcom-team commented on #20649
Hi @ahmadssb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-27 07:49] ahmadssb commented on #20649
yes

[2019-01-27 07:51] magento-engcom-team commented on #20649
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-27 07:53] GovindaSharma commented on #20649
@magento-engcom-team give me 2.3-develop instance

[2019-01-27 07:53] magento-engcom-team commented on #20649
Hi @GovindaSharma, here is your [Magento instance](https://i-20649-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20649-2-3-develop.instances.magento-community.engineering/admin](https://i-20649-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-27 08:04] GovindaSharma commented on #20649
@ahmadssb i am not able to reproduce this issue on the given instance.It is related to rewrite rule which you need to configure in your server.

[2019-01-27 08:04] #20649 closed, assigned to GovindaSharma

[2019-01-27 11:05] irajneeshgupta commented on #20513
@magento-engcom-team give me 2.2-develop instance

[2019-01-27 11:05] magento-engcom-team commented on #20513
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-27 11:05] magento-engcom-team commented on #20513
Hi @irajneeshgupta, here is your [Magento instance](https://i-20513-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20513-2-2-develop.instances.magento-community.engineering/admin](https://i-20513-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-27 16:14] steveb2050 commented on #19486
Updating last comment - the solution that worked for me...

See issue [19549](https://github.com/magento/magento2/issues/19549) - which is now closed

And the solution by @SoCix  (thanks!)

For completeness, this was also addressed on stackexchange => `[here
](https://magento.stackexchange.com/questions/252416/magento-2-3-design-configuration-global-page-keep-loading)`

[2019-01-27 21:33] GuiltyNL commented on #13269
This ticket had been closed? It isn't the intention to fix this in 2.2?

[2019-01-28 00:00] magento-engcom-team commented on #15950
Hi @matin73. Thank you for your report.
The issue has been fixed in magento/magento2#20177 by @p-bystritsky in 2.2-develop branch
Related commit(s):
 - [4ec34a2b5948fd0356e6f6d239793336d94c60d6](https://github.com/magento/magento2/commit/4ec34a2b5948fd0356e6f6d239793336d94c60d6)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-28 00:00] #15950 closed, assigned to p-bystritsky

[2019-01-28 04:09] magento-engcom-team commented on #19701
Hi @niravkrish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-28 05:10] magento-engcom-team commented on #19449
Hi @speedy008. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-28 05:11] speedy008 commented on #19449
@magento-engcom-team give me magento 2.2.3 instance

[2019-01-28 05:11] kalalruturaj opened #20683 "Check Component Dependency - No Solutions Yet"
I have upgraded my Magento from 2.16 to Magento 2.3.0 and since then I am not able to install any extension. I am keep getting an error message that Check Component Dependency. I have also attached the composer.json file in the bottom section

 I have refereed  all of the gift-hub tickets
         1. [#7917](https://github.com/magento/magento2/issues/7917)
         2. [#19850](https://github.com/m

[2019-01-28 05:11] magento-engcom-team commented on #20683
Hi @kalalruturaj. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-28 05:12] kalalruturaj commented on #20683
@magento-engcom-team give me 2.3.0 instance

[2019-01-28 05:12] magento-engcom-team commented on #20683
Hi @kalalruturaj. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-28 05:13] magento-engcom-team commented on #20683
Hi @kalalruturaj, here is your [Magento instance](https://i-20683-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20683-2-3-0.instances.magento-community.engineering/admin](https://i-20683-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-28 05:13] kalalruturaj opened #20684 "We found conflicting component dependencies"
I have upgraded my Magento from 2.16 to Magento 2.3.0 and since then I am not able to install any extension. I am keep getting an error message that Check Component Dependency. I have also attached the composer.json file in the bottom section

 I have refereed  all of the gift-hub tickets
         1. [#7917](https://github.com/magento/magento2/issues/7917)
         2. [#19850](https://github.com/m

[2019-01-28 05:13] magento-engcom-team commented on #20684
Hi @kalalruturaj. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-28 05:14] kalalruturaj commented on #20684
@magento-engcom-team give me 2.3.0  instance

[2019-01-28 05:14] magento-engcom-team commented on #20684
Hi @kalalruturaj. Thank you for your request. I'm working on Magento 2.3.0  instance for you

[2019-01-28 06:05] magento-engcom-team commented on #20683
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-28 06:05] magento-engcom-team commented on #20684
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-28 06:09] milindsingh commented on #20683
Duplicate https://github.com/magento/magento2/issues/20684

[2019-01-28 06:09] #20683 closed, assigned to milindsingh

[2019-01-28 06:51] ewallteam opened #20686 "Custom Mail from Frontend getting issue in Magento2.2.7 and Magento2.3"
### Preconditions (*)

1. Install Magento2.2.7 and Magento2.3 as fresh from Composer
2. Test Custom Mail from Frontend .

### Steps to reproduce (*)

1. Write a Mail code to receive customer in frontend.
2. If your trying from magento package, it works fine

### Expected result (*)

1. Mail Send Success
2. Need to receive mail without any error in frontend

### Actual result (*)

1. [Screenshots,

[2019-01-28 06:51] magento-engcom-team commented on #20686
Hi @ewallteam. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-28 06:52] magento-engcom-team commented on #20686
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-28 07:05] Techytt opened #20687 "Received orders with a duplicate order ids"
We have received 2 orders with the same order id. Like We have 2 orders with the following order Ids:
**000001256**
**000001256**
How is this possible? Does anyone has faced this type of issue OR any idea on this case? We are using **Magento ver: 2.1.2**

**Note** => That issue we faced one day only and on that day we have server space issue so is there any relation between Server space and Duplic

[2019-01-28 07:05] magento-engcom-team commented on #20687
Hi @Techytt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-28 07:15] thatguynz commented on #12914
I assume that now this issue is unassigned we are unlikely to see a resolution any time soon?  It sounded so promising for a while but regrettably it is still a showstopper for me to be able to migrate my web shop across to Magento.  If I had any clue about coding I'd have a go myself but that isn't where my skills lie unfortunately..

[2019-01-28 07:15] ahmadssb commented on #12476
It is found that certain script is being blocked by ModSecurity that is breaking the function.

I have proceed to bypass the ModSecurity for the domain and have verify from my end that the function is now working as usual.

[2019-01-28 07:18] ahmadssb commented on #20649
It is found that certain script is being blocked by ModSecurity that is breaking the function.

I have proceed to bypass the ModSecurity for the domain and have verify from my end that the function is now working as usual.

[2019-01-28 07:20] magento-engcom-team commented on #20687
Hi @KiraLis. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-01-28 07:29] Mohsin07 opened #20688 "Unable to set placeholder image in Magento 2 - v2.2.6"
### Preconditions (*)
Magento v2.2.6
1. Under Store -> Configuration -> Catalog -> Catalog -> Product Image Placeholders, I could upload images but it is not displayed.
2. I could see the placeholder image saved under rootdir/pub/media/catalog/product/placeholder.

### Steps to reproduce (*)

1. Store -> Configuration -> Catalog -> Catalog -> Product Image Placeholders.
2. Adding a product in the

[2019-01-28 07:30] magento-engcom-team commented on #20688
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-28 07:31] GovindaSharma commented on #20688
@magento-engcom-team give me 2.2-develop instance

[2019-01-28 07:32] magento-engcom-team commented on #20688
Hi @GovindaSharma, here is your [Magento instance](https://i-20688-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20688-2-2-develop.instances.magento-community.engineering/admin](https://i-20688-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-28 07:41] magento-engcom-team commented on #20688
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-28 07:41] engcom-backlog-nazar commented on #20688
HI @Mohsin07 thank you for you report, this issue has already fixed in 2.3-dev branch and will bea avaible ob 2.3.1 release

[2019-01-28 07:41] #20688 closed, assigned to GovindaSharma

[2019-01-28 07:42] magento-engcom-team commented on #20687
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-28 07:49] engcom-backlog-nazar commented on #20687
Hi @csmith-fm  i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about thi

[2019-01-28 07:49] #20687 closed, assigned to KiraLis

[2019-01-28 07:50] magento-engcom-team commented on #20684
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-28 07:50] magento-engcom-team commented on #7917
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-28 07:54] engcom-backlog-nazar commented on #20686
Hi @ewallteam
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-28 07:54] #20686 closed, assigned to nobody

[2019-01-28 07:58] Nazar65 commented on #19786
@allozaur hmm... strange, can you please provide screenshot of sample export csv ? you can deploy test instance on the my PR and recheck ?
`@magento-engcom-team give me test instance`

[2019-01-28 08:05] Nazar65 commented on #19786
@allozaur did you set Catalog Price Scope -> website ?

[2019-01-28 08:13] swnsma commented on #19786
The fix #19395.

[2019-01-28 08:14] arijit-codilar opened #20689 "Elastic search not working if sku is like 42-315"
### Preconditions (*)

1. Magento 2.3 OpenSource
2. PHP 7.1
3. Apache
4. MySql 14.14
5. Ubuntu 18.04 LTS

### Steps to reproduce (*)

1. Create 2 or 3 products with sku like 42-315, 42-317 and 42-318.
2. Enable the elasticsearch in configuration and server.
3. Search in the frontend with sku 42-315.

### Expected result (*)

1. Only product with sku 42-315 should come.

### Actual result (*)

1. U

[2019-01-28 08:14] magento-engcom-team commented on #20689
Hi @arijit-codilar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-28 08:16] magento-engcom-team commented on #20689
Hi @LuciferStrome. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-28 08:18] magento-engcom-team commented on #20689
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-28 08:34] awviraj commented on #20256
If options are moved outside the product_addtocart_form, add to cart won't work.

[2019-01-28 09:03] magento-engcom-team commented on #20684
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-28 09:03] magento-engcom-team commented on #20684
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-28 09:09] simonmaass commented on #11372
i am having the same issue with 2.3:

Deploy using quick strategy
frontend/Magento/blank/de_DE            1731/2716           =================>---------- 63% %   2 secs
PHP Fatal error:  Uncaught Error: Call to a member function getPackage() on null in /var/www/html/magento2/vendor/magento/module-deploy/Package/Processor/PostProcessor/CssUrls.php:215
Stack trace:
#0 /var/www/html/magento2/vendor/

[2019-01-28 09:09] engcom-backlog-nazar commented on #20689
HI @ arijit-codilar thank you for your report, just for note, if you use Mysql search engine and type on search "42-" the exception is become.
![selection_295](https://user-images.githubusercontent.com/40756439/51825325-2f706780-22ed-11e9-874d-fbce5f44009b.png)

[2019-01-28 09:14] Mohsin07 commented on #20688
Hi @engcom-backlog-nazar  thanks for your information. How can I get the fixed code to v2.2.6? Is it possible to move the fixes to 2.2.6?

[2019-01-28 09:16] engcom-backlog-nazar commented on #20688
@Mohsin07 this PR https://github.com/magento/magento2/pull/18660/files  you can apply changes

[2019-01-28 09:19] arijit-codilar commented on #20689
@engcom-backlog-nazar I am getting the below result when I am searching with 42- using MySql.

![imageb](https://user-images.githubusercontent.com/46256180/51825943-e4b21800-230b-11e9-8b0f-59db9c56a027.png)

[2019-01-28 09:21] engcom-backlog-nazar commented on #20689
@arijit-codilar hmm.. strange i'm getting exception on clean 2.3-dev instance

[2019-01-28 09:30] engcom-backlog-nazar commented on #20689
@arijit-codilar on vanilla
![selection_296](https://user-images.githubusercontent.com/40756439/51826625-2cc34180-22f0-11e9-81f6-14fb63a0640c.png)

[2019-01-28 09:33] arijit-codilar commented on #20689
@engcom-backlog-nazar But I am getting something different which I have shared above. And, my instance has been downloaded from magento's site.

Are you using Elastic search or MySql?

[2019-01-28 09:34] engcom-backlog-nazar commented on #20689
@arijit-codilar no this only appears on Mysql, but perfectly works with Elastic

[2019-01-28 09:37] engcom-backlog-nazar commented on #8933
@Dharmeshvaja91 why you  unpinned this issue ?

[2019-01-28 09:37] arijit-codilar commented on #20689
@engcom-backlog-nazar  My issue is with elastic search. I have two products iPhone 6S -> SKU - 42-315 and iPhone 7S -> SKU - 42-317. Now, if I search with 42-315, it should return iPhone 6S not other products but it is returning other unmatched products too.

See the description for more clarity.

[2019-01-28 09:38] engcom-backlog-nazar commented on #20689
@arijit-codilar yes, yours issue confirmed, i'm trying to say that there is another issue with related with yours.

[2019-01-28 09:41] arijit-codilar commented on #20689
@engcom-backlog-nazar Ok. With the mysql search engine, the exception that you are getting for that are the products with sku 42-315 like that created in admin? or you are searching without creating the products in backend?

[2019-01-28 09:43] engcom-backlog-nazar commented on #20689
@arijit-codilar The products are created in admin, you can check on this link https://i-20689-2-3-develop.instances.magento-community.engineering/ just type search lik '42-'

[2019-01-28 09:43] tuyennn commented on #13094
@shinesoftware What was you archived? I have the same problem with 2.1.9 while my custom theme cannot be applied to the maintenance mode, this fell back to the default theme

[2019-01-28 09:46] RDXSportsCom commented on #7647
You can change product image attributes (thumbnail,image, swatch_image, base_image) scope from store view to Global if you want same images on all store views. By doing this you will be able to change image from any store view and images will be same on all other store views.

[2019-01-28 09:47] arijit-codilar commented on #20689
@engcom-backlog-nazar Ya. I can see the product in admin and the issue also I can see now. So, yeah, its another issue.

[2019-01-28 09:50] arijit-codilar commented on #20689
@engcom-backlog-nazar If I search with 42-315, then also no product is showing up. I guess its due to that the product is not assigned to any category? Any say?

[2019-01-28 09:51] Nazar65 opened #20716 "Exceptions when search product with sku like "42-""
### Preconditions (*)
Magento 2.3 OpenSource
PHP 7.2
Apache
MySql 14.14
Ubuntu 18.04 LTS

### Steps to reproduce (*)
Create 2 or 3 products with sku like 42-315, 42-317 and 42-318.
Enable the MySql as search engine  in configuration.
Search in the frontend with sku "42-"

### Expected result (*)
Search result no exceptions

### Actual result (*)
![selection_295](https://user-images.githubuserconte

[2019-01-28 09:51] magento-engcom-team commented on #20716
Hi @Nazar65. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-28 09:52] Nazar65 commented on #20716
@magento-engcom-team give me 2.3-develop instance

[2019-01-28 09:52] magento-engcom-team commented on #20716
Hi @Nazar65. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-28 09:53] magento-engcom-team commented on #20716
Hi @Nazar65, here is your [Magento instance](https://i-20716-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20716-2-3-develop.instances.magento-community.engineering/admin](https://i-20716-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-28 09:56] magento-engcom-team commented on #20716
@Nazar65 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97945`, `MAGETWO-97946` were created

[2019-01-28 09:56] magento-engcom-team commented on #20716
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-28 09:57] Nazar65 commented on #20716
I'm working on this

[2019-01-28 10:03] Mohsin07 commented on #20688
Thanks @engcom-backlog-nazar. It works!!

[2019-01-28 10:13] denzyk commented on #8933
Hey @Dharmeshvaja91, is there any good reason for unpinning this issue? It could get more attention otherwise.

[2019-01-28 10:14] macrodesignuk commented on #13126
This problem still exists in v2.3.0, has this fix been made live?

[2019-01-28 10:35] ravi-chandra3197 commented on #12923
@magento-engcom-team give me 2.3-develop instance

[2019-01-28 10:35] magento-engcom-team commented on #12923
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-28 10:35] magento-engcom-team commented on #12923
Hi @ravi-chandra3197. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><su

[2019-01-28 10:35] magento-engcom-team commented on #12923
Hi @ravi-chandra3197, here is your [Magento instance](https://i-12923-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-12923-2-3-develop.instances.magento-community.engineering/admin](https://i-12923-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-28 10:36] agata-maksymiuk opened #20721 "Product save generates image cache (performance killer)"
### Preconditions (*)

1. Magento 2.2.5 EE (also happens on other Magento 2 versions)

### Steps to reproduce (*)

1. Create product with any 4-5 images via API

### Expected result (*)

1. Product is saved without generating image cache (as in Magento 1).

### Actual result (*)

1. Image cache for product is created and it makes every product import extremely slow.
Creating image cache is extreme

[2019-01-28 10:36] magento-engcom-team commented on #20721
Hi @agata-maksymiuk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-28 10:36] magento-engcom-team commented on #20721
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-28 10:41] shikhamis11 commented on #8933
This is the most important one this must be fixed. I have a temporary solution for this where I tried restarting transaction if this issue comes

[2019-01-28 10:53] ihor-sviziev commented on #13269
(From https://github.com/magento/magento2/pull/19884#issuecomment-451112512):
This issue was fixed in `2.2-develop` branch in following commits:
- https://github.com/magento/magento2/commit/15c7b1ba6db51af92b77896c547d2bc0a60c64a6

Probably it will be included into release 2.2.8.

[2019-01-28 10:54] agata-maksymiuk commented on #20721
@magento-engcom-team give me 2.2.5 instance

[2019-01-28 10:54] magento-engcom-team commented on #20721
Hi @agata-maksymiuk. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-01-28 10:55] magento-engcom-team commented on #20721
Hi @agata-maksymiuk, here is your [Magento instance](https://i-20721-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-20721-2-2-5.instances.magento-community.engineering/admin](https://i-20721-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-28 10:58] ravi-chandra3197 commented on #12923
Hello @magento-engcom-team, @popovdenis,
Using the above step I have can't reproduce the issue in 2.3-develop,
If we apply one Coupon then coupon_code text box disabled,
so we can't add another coupon code like this image

![issues-12923](https://user-images.githubusercontent.com/43946827/51831914-517fdf00-2319-11e9-8fc2-931f377f28d5.png)

[2019-01-28 11:06] magento-engcom-team commented on #17661
Hi @ravi-chandra3197. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><su

[2019-01-28 11:11] denzyk commented on #8933
Hey @amol2jcommerce, is there any good reason for unpinning this issue? It could get more attention otherwise.

[2019-01-28 11:13] rak-dynamo commented on #6144
I am also getting the same issue on 2.2.6

[2019-01-28 11:15] rddwh commented on #20366
Hi @Nazar65 any luck with this?

[2019-01-28 11:19] saravanandscbe commented on #20688
Is there any fix for Magento v2.2.5? I could see many differences in code for the above given PR.

[2019-01-28 11:20] engcom-backlog-nazar commented on #20721
Hi @agata-maksymiuk  thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-28 11:20] #20721 closed, assigned to nobody

[2019-01-28 11:41] jammy-git commented on #12413
I believe the issue is caused by the PHP setting session.gc_maxlifetime being set to a smaller value than what is set in the Magento admin settings.

I would like to hear from any of the Magento 2 support team to hear if any investigation has been taken place around setting session.gc_maxlifetime to different values and seeing if they can then recreate this issue?

What is the default behaviour fo

[2019-01-28 11:47] elvinristi commented on #8933
@amol2jcommerce pls stop touching actions in this ticket. will pin back.

[2019-01-28 11:52] priti2jcommerce opened #20723 "My account page title extra space on mobile (when not display error or success messages)"
### Preconditions (*)

1. Magento 2.3.0

### Steps to reproduce (*)

1. My Account page title in mobile view

### Expected result (*)

1.
![my account - 02](https://user-images.githubusercontent.com/18118695/51834648-f5b95400-2320-11e9-9272-b7e75fd4dc0f.jpg)

### Actual result (*)

1.
![my account - 01](https://user-images.githubusercontent.com/18118695/51834669-05d13380-2321-11e9-82be-f64b2ad4076

[2019-01-28 11:52] magento-engcom-team commented on #20723
Hi @priti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-28 11:52] magento-engcom-team commented on #20723
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-28 11:53] saravanandscbe opened #20724 "In Magento 2.2.5, Placeholder image is not setting"
### Preconditions (*)

1. Magento 2.2.5 Installed.

### Steps to reproduce (*)

1. Go to admin panel -> Stores -> Configuration -> Product Image Placeholders
2. Set the product Placeholder image.
3. Get the product image and display wherever you need.(I Retrieved in .phtml file)

![image](https://user-images.githubusercontent.com/27994657/51834800-69f3f780-2321-11e9-8965-d07d6350496b.png)

### Exp

[2019-01-28 11:53] magento-engcom-team commented on #20724
Hi @saravanandscbe. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-28 11:54] amol2jcommerce commented on #20723
@magento-engcom-team give me 2.3-develop instance

[2019-01-28 11:54] magento-engcom-team commented on #20723
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-28 11:54] magento-engcom-team commented on #20723
Hi @amol2jcommerce, here is your [Magento instance](https://i-20723-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20723-2-3-develop.instances.magento-community.engineering/admin](https://i-20723-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-28 11:55] magento-engcom-team commented on #20723
@amol2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97948` were created

[2019-01-28 11:57] magento-engcom-team commented on #20724
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-28 11:58] engcom-backlog-nazar commented on #20724
Hi @saravanandscbe thank you for you report, this issue has already fixed in 2.3-dev and 2.2-dev branch and will available on 2.2.8 and 2.3.1 release
Related pr @Mohsin07 this PR https://github.com/magento/magento2/pull/18660

[2019-01-28 11:58] #20724 closed, assigned to nobody

[2019-01-28 11:58] kalalruturaj commented on #20684
Does anyone have any solutions for this ?

[2019-01-28 12:00] priti2jcommerce commented on #20723
@magento-engcom-team give me 2.2-develop instance

[2019-01-28 12:00] magento-engcom-team commented on #20723
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-28 12:00] saravanandscbe commented on #20724
Hi @engcom-backlog-nazar . Could you please share the exact file to update in v2.2.5?

[2019-01-28 12:01] magento-engcom-team commented on #20723
Hi @priti2jcommerce, here is your [Magento instance](https://i-20723-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20723-2-2-develop.instances.magento-community.engineering/admin](https://i-20723-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-28 12:01] engcom-backlog-nazar commented on #20724
@saravanandscbe app/code/Magento/Config/Model/Config.php

[2019-01-28 12:02] engcom-backlog-nazar commented on #20724
[code]

[2019-01-28 12:20] engcom-backlog-nazar commented on #8933
@priti2jcommerce why you unpinned this issue ? please do not touch pinned issues.

[2019-01-28 12:46] VitorGit commented on #13902
I just wasted two days of work because of this issue. Magento concatenates the carrier code and shipping method with underscores:

Up_Express

and uses explode('_') and unshift() to get the name of the carrier and put it on getLimitCarrier() hence it only gets the part of the name before the underscore even tho the name is properly stored in the database and everything!

[2019-01-28 13:19] lokeshvnaik commented on #15828
Facing the same issue in a multi-store setup 2.2.7, X-Magento-Cache-Debug shows MISS when the non-default store is opened in a new browser.

Is there any patch to make it work on 2.2.7 or someone refer the related commit of the issue fixed in 2.3.1?

Tried adding changes from below commits but still not working

https://github.com/magento/magento2/issues/15828#issuecomment-441109770

[2019-01-28 14:34] vasilii-b commented on #12914
@thatguynz there is actually a pull request #13359 to fix it, but as you can see from its history its not going to be merged - we are kindly forced to cover with tests...

[2019-01-28 14:37] saravanandscbe commented on #20724
Thanks @engcom-backlog-nazar. It is working.

[2019-01-28 14:46] josefbehr commented on #19441
Still got this problem on current 2.2.7 installation.

[2019-01-28 14:57] engcom-backlog-nazar commented on #19441
@josefbehr this will be fixed by this PR https://github.com/magento/magento2/pull/19845
https://github.com/magento/magento2/issues/19442

[2019-01-28 15:07] josefbehr commented on #19441
@engcom-backlog-nazar thanks for the hint, but I don't see how this fixes the problem. Can you elaborate on that? And when can we expect the fix to arrive?

[2019-01-28 15:10] engcom-backlog-nazar commented on #19441
@josefbehr you can set HTTP2/version -> `$client->setConfig(['httpversion' => CURL_HTTP_VERSION_2_0]);`

[2019-01-28 15:20] stevensagaar commented on #2335
For me it has always to do with etc\module.xml, best to check etc\module.xml file either it could be missing or format of the file might be incorrect.

[2019-01-28 15:20] shansari25 commented on #14977
for me the same issue, but I dont find gallery.phtml in Magento 2.2.4 version. Im using Porto theme and have no idea what went wrong. I just added NGINX with Apache and suddenly this stopped working. And its not just picture not loading even size and color dropdown values not loading pls check the picture attached

JQMIGRATE: Logging is active
blue-and-gold-lehenga-for-little-girls-party-wear.html

[2019-01-28 15:23] josefbehr commented on #19441
I see, and default is 1.1. Thanks.

[2019-01-28 15:32] gwharton commented on #14977
please post the gallery sections of your themes view.xml file.

[2019-01-28 15:38] gwharton commented on #14977
Also, view source on your page and look for the fotorama section of code. There will be some json code that is missing a field and is incorrectly formatted.

Look for an entry like

`
"options":{"nav":"thumbs","loop":true,"keyboard":true,"arrows":true,"allowfullscreen":false,"showCaption":false,"width":700,"thumbwidth":88,"thumbheight":88,"height":700,"transitionduration":500,"transition":"slide",

[2019-01-28 15:40] gwharton commented on #14977
These issue are all resolved in the latest release by the way, but if you want a workaround without updating, follow the above.

[2019-01-28 15:45] victortodoran commented on #12073
Why was this issue closed? Is it fixed?

[2019-01-28 16:16] romulo2902 opened #20731 "Last orders disappeared."
### Preconditions (*)

1. I made 3 purchases and when I go in "transactions" "invoices" the sales are there, but when I consult in "Orders" are not, and the purchase is being processed normally, someone can help me in what can be

### Steps to reproduce (*)

1. I make the query of the order in my in "Request", but the last 3 purchases do not appear, but appear in the dashboard, but in "Orders" are

[2019-01-28 16:16] magento-engcom-team commented on #20731
Hi @romulo2902. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-28 16:22] magento-engcom-team commented on #20731
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-28 16:22] shansari25 commented on #14977
Hi @gwharton sorry im not able to get you what is the gallery section of the theme. if you look at my website i can give you the link

https://www.colorcherry.com/girls/girls-clothing/designer-frocks-gowns-girls/blue-and-gold-lehenga-for-little-girls-party-wear.html

you can see the error here.

Im not sure what's wrong it was working earlier and suddenly it stopped working may be some issue, not

[2019-01-28 16:44] gwharton commented on #14977
No problem, A quick look at the source of your webpage shows this section

`
"options": {
  | "nav": "thumbs",
  | "loop": 1,
  | "keyboard": 1,
  | "arrows": 1,
  | "allowfullscreen": 1,
  | "showCaption": ,
  | "width": 1000,
  | "thumbwidth": 100,
  | "thumbheight": 100,
  | "height": 1320,
  | "transitionduration": 500,
  | "transition": "slide",
  | "navarrows": 1,
  | "navtype": "slides",
 

[2019-01-28 16:46] irajneeshgupta commented on #20731
@romulo2902
mention preconditions (version of magento , PHP , your webserver ) and full case , its not sufficient details to reproduce it.
Have you upgraded magento?

[2019-01-28 16:49] george1604 commented on #19603
In 2.2.7 and 2.3 the app/functions.php has been updated. Check that the file is updated with the current version:
[code]

[2019-01-28 18:12] itecedor commented on #19076
@LouNik1984 did you find a solution to this problem? I had it in 2.2.6 and now in 2.3 as well

[2019-01-28 20:52] ndianabasi opened #20732 "Inconsistent Behaviour of Elasticsearch HTTP Auth (Username and Password fields not available)"
### Preconditions (*)
1. Magento 2.3 OpenSource
2. PHP 7.2
3. Nginx
4. MySql (Percona drop-in)
5. Ubuntu 16.04 LTS

### Steps to reproduce (*)
1. Configure unsecure Nginx server block for Elasticsearch using instructions here: https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/es-config-nginx.html.
2. Test configuration on Magento Admin via **Stores > Settings > Configuration > Cat

[2019-01-28 20:52] magento-engcom-team commented on #20732
Hi @ndianabasi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-28 20:58] magento-engcom-team commented on #20732
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-28 21:24] magento-engcom-team commented on #19909
Hi @eduard13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-01-28 21:42] okorshenko opened #20733 "Fake Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-28 21:43] magento-engcom-team commented on #20733
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-28 21:46] magento-engcom-team commented on #20733
Hi @4quaternion. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-28 21:48] magento-engcom-team commented on #20733
@4quaternion Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97954` were created

**Issue Available**: @s, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-28 21:49] #20733 closed, assigned to okorshenko

[2019-01-28 21:49] okorshenko opened #20734 "Fake Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-28 21:51] magento-engcom-team commented on #20734
@4quaternion Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97955` were created

**Issue Available**: @s, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-28 21:51] #20734 closed, assigned to nobody

[2019-01-28 22:08] okorshenko opened #20735 "Fake Issue 3"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-28 22:08] magento-engcom-team commented on #20735
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-28 22:09] #20735 closed, assigned to nobody

[2019-01-28 22:10] okorshenko opened #20736 "Fake Issue 4"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-28 22:10] magento-engcom-team commented on #20736
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-28 22:11] magento-engcom-team commented on #20736
Hi @4quaternion. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-28 22:15] magento-engcom-team commented on #20736
@4quaternion Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97956`, `MAGETWO-97957` were created

**Issue Available**: @4quaternion, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-28 22:15] magento-engcom-team commented on #20736
Hi @4quaternion. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-28 22:42] tkacheva commented on #10704
Issue fixed in 2.2.6

[2019-01-29 01:53] vipin12117 commented on #12614
You should change cron timing in crontab in Linux.

[2019-01-29 03:48] magento-engcom-team commented on #20611
Hi @parag2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20612 by @parag2jcommerce in 2.3-develop branch
Related commit(s):
 - [3e9d89253eef3008f310d4ff4f98ab145d35f8a9](https://github.com/magento/magento2/commit/3e9d89253eef3008f310d4ff4f98ab145d35f8a9)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-29 03:48] #20611 closed, assigned to amol2jcommerce, parag2jcommerce

[2019-01-29 03:48] magento-engcom-team commented on #20176
Hi @priti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20196 by @priti2jcommerce in 2.3-develop branch
Related commit(s):
 - [66b47ea89626ba2396b4bdede214e16e339ca1d2](https://github.com/magento/magento2/commit/66b47ea89626ba2396b4bdede214e16e339ca1d2)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-29 03:48] #20176 closed, assigned to priti2jcommerce, cedarvinda

[2019-01-29 03:48] magento-engcom-team commented on #20563
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20564 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [93b8077bc4cf5646edc249744bbbdb7f4bbfe00d](https://github.com/magento/magento2/commit/93b8077bc4cf5646edc249744bbbdb7f4bbfe00d)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-29 03:48] #20563 closed, assigned to cedarvinda

[2019-01-29 03:48] magento-engcom-team commented on #20500
Hi @parag2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20501 by @parag2jcommerce in 2.3-develop branch
Related commit(s):
 - [34e5c6dfe6358fb72b56415dce34464a47c28269](https://github.com/magento/magento2/commit/34e5c6dfe6358fb72b56415dce34464a47c28269)
 - [f0cb89697a58d13ff08af30e206d7f2ea9097568](https://github.com/magento/magento2/commit/f0cb89697a58d13ff08a

[2019-01-29 03:48] #20500 closed, assigned to nainesh2jcommerce, parag2jcommerce

[2019-01-29 03:48] magento-engcom-team commented on #20518
Hi @parag2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20519 by @parag2jcommerce in 2.3-develop branch
Related commit(s):
 - [99f7f4ad3576f84dbffbf6fe35dc9487ef7a2270](https://github.com/magento/magento2/commit/99f7f4ad3576f84dbffbf6fe35dc9487ef7a2270)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-29 03:48] magento-engcom-team commented on #20497
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#20498 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [6f10b643f4e8413a2837e851addac265d6ffca1c](https://github.com/magento/magento2/commit/6f10b643f4e8413a2837e851addac265d6ffca1c)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-29 03:48] #20518 closed, assigned to amol2jcommerce, parag2jcommerce

[2019-01-29 03:48] magento-engcom-team commented on #20282
Hi @olegAleksin. Thank you for your report.
The issue has been fixed in magento/magento2#20344 by @ankur-cedcoss in 2.3-develop branch
Related commit(s):
 - [e331b3f849b9f1ed98dd9dce1f53041298dffe63](https://github.com/magento/magento2/commit/e331b3f849b9f1ed98dd9dce1f53041298dffe63)
 - [86685289a45c89fba908c3c620a03387bb02a260](https://github.com/magento/magento2/commit/86685289a45c89fba908c3c620

[2019-01-29 03:48] #20497 closed, assigned to nobody

[2019-01-29 03:48] #20282 closed, assigned to nobody

[2019-01-29 03:48] magento-engcom-team commented on #20396
Hi @maderlock. Thank you for your report.
The issue has been fixed in magento/magento2#20421 by @hostep in 2.3-develop branch
Related commit(s):
 - [b5efb5cee5cd5a06a4a472d9554e3f4d1f44de63](https://github.com/magento/magento2/commit/b5efb5cee5cd5a06a4a472d9554e3f4d1f44de63)
 - [6829ce8e572c61ee38566eb16f9d3b1381f704b2](https://github.com/magento/magento2/commit/6829ce8e572c61ee38566eb16f9d3b1381f

[2019-01-29 03:48] #20396 closed, assigned to surabhisrivastava09

[2019-01-29 03:48] magento-engcom-team commented on #20409
Hi @Floddy. Thank you for your report.
The issue has been fixed in magento/magento2#20410 by @milindsingh in 2.3-develop branch
Related commit(s):
 - [f199b7d018db2bd2572a727e92bb51006ef24798](https://github.com/magento/magento2/commit/f199b7d018db2bd2572a727e92bb51006ef24798)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-29 03:48] #20409 closed, assigned to surabhisrivastava09

[2019-01-29 03:48] magento-engcom-team commented on #20278
Hi @yashwant2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20281 by @ajay2jcommerce in 2.3-develop branch
Related commit(s):
 - [5c4d71b98c740a7a5630f696aa76b17592042c59](https://github.com/magento/magento2/commit/5c4d71b98c740a7a5630f696aa76b17592042c59)
 - [07ad94445cac5977e2aafcb6f589f4db9bebdcb5](https://github.com/magento/magento2/commit/07ad94445cac5977e2

[2019-01-29 03:48] #20278 closed, assigned to cedarvinda

[2019-01-29 03:48] magento-engcom-team commented on #20367
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20368 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [3b97fd5b1cc1e8ffedc500311172d35b8d10f155](https://github.com/magento/magento2/commit/3b97fd5b1cc1e8ffedc500311172d35b8d10f155)
 - [c310cd739f1a24a73fd808f74089334a77053f51](https://github.com/magento/magento2/commit/c310cd739f1a24a73fd808f74089

[2019-01-29 03:48] #20367 closed, assigned to cedarvinda

[2019-01-29 03:48] #20277 closed, assigned to nobody

[2019-01-29 03:48] magento-engcom-team commented on #20261
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20262 by @dipti2jcommerce in 2.3-develop branch
Related commit(s):
 - [80d87ec4ec795d03fea7ec96fd851666a5226069](https://github.com/magento/magento2/commit/80d87ec4ec795d03fea7ec96fd851666a5226069)
 - [6ebbe3d4142f83b76c18ce35e4cdadc2799c0232](https://github.com/magento/magento2/commit/6ebbe3d4142f83b76c18

[2019-01-29 03:48] magento-engcom-team commented on #20113
Hi @yashwant2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20114 by @GovindaSharma in 2.3-develop branch
Related commit(s):
 - [d62149824075b462e1d0d1506fa6e83beaaa1653](https://github.com/magento/magento2/commit/d62149824075b462e1d0d1506fa6e83beaaa1653)
 - [95defccc553c652eb8493d428a1277a2e7ae2e04](https://github.com/magento/magento2/commit/95defccc553c652eb84

[2019-01-29 03:48] #20261 closed, assigned to p-bystritsky

[2019-01-29 03:48] #20113 closed, assigned to GovindaSharma

[2019-01-29 03:48] magento-engcom-team commented on #20122
Hi @mohammadzakir. Thank you for your report.
The issue has been fixed in magento/magento2#20146 by @suneet64 in 2.3-develop branch
Related commit(s):
 - [da809e36e486ccaa02217b2b1b31df6a01745f93](https://github.com/magento/magento2/commit/da809e36e486ccaa02217b2b1b31df6a01745f93)
 - [130f1ae59221964dd6c74ebf0545828cbed9a583](https://github.com/magento/magento2/commit/130f1ae59221964dd6c74ebf05458

[2019-01-29 03:48] magento-engcom-team commented on #19942
Hi @Surabhi-Cedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20142 by @Surabhi-Cedcoss in 2.3-develop branch
Related commit(s):
 - [e6c41bac830e622dc8683fc4b24ee3e46345af4b](https://github.com/magento/magento2/commit/e6c41bac830e622dc8683fc4b24ee3e46345af4b)
 - [0689a17f50c1df4e73ff44f4c871dc7907800094](https://github.com/magento/magento2/commit/0689a17f50c1df4e73ff

[2019-01-29 03:48] #19942 closed, assigned to GovindaSharma, XxXgeoXxX

[2019-01-29 03:48] magento-engcom-team commented on #19501
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#19502 by @abrarpathan19 in 2.3-develop branch
Related commit(s):
 - [5d7cd50277d2a9115e839b694fda01b76548bf4d](https://github.com/magento/magento2/commit/5d7cd50277d2a9115e839b694fda01b76548bf4d)
 - [fbf5ebb57de8836ac9ac7480cec7afa0deca8ff8](https://github.com/magento/magento2/commit/fbf5ebb57de8836ac9ac7480

[2019-01-29 03:48] #19501 closed, assigned to nobody

[2019-01-29 04:01] shansari25 commented on #14977
Dear @gwharton - thank you for such a quick response. it looks liek the correct view.xml. Im attaching it here. Pls check, i changed it to txt file so that it can be uploaded here.

            <var name="caption">false</var>

[view.xml.txt](https://github.com/magento/magento2/files/2805990/view.xml.txt)

[2019-01-29 05:17] #20731 closed, assigned to nobody

[2019-01-29 05:51] raisukesh commented on #15439
We implemented FedEx shipping(magento 2.1) , but the value is not showing the account discounted price. currently value is showing AED 53.0p for 2.2kg, but actual value should be AED 33. Please find the below script

 protected $_ratesOrder = [
        'RATED_ACCOUNT_PACKAGE',
        'PAYOR_ACCOUNT_PACKAGE',
        'RATED_ACCOUNT_SHIPMENT',
        'PAYOR_ACCOUNT_SHIPMENT',
        'RATED_LIST_P

[2019-01-29 05:54] raisukesh commented on #15439
We implemented FedEx shipping(magento 2.1) , but the value is not showing the account discounted price. currently, a value is showing AED 53 for 2.2kg, but actual value should be AED 33. Please find the below script

protected $_ratesOrder = [
'RATED_ACCOUNT_PACKAGE',
'PAYOR_ACCOUNT_PACKAGE',
'RATED_ACCOUNT_SHIPMENT',
'PAYOR_ACCOUNT_SHIPMENT',
'RATED_LIST_PACKAGE',
'PAYOR_LIST_PACKAGE',
'RATED_LIS

[2019-01-29 07:35] zuber11 commented on #12793
Hey all,

define simple product's SKU in small latter rather than capital. This will fix all the issues,

[2019-01-29 07:42] magento-engcom-team commented on #13957
Hi @vshatylo. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-01-29 07:46] magento-engcom-team commented on #20732
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-29 07:54] magento-engcom-team commented on #20684
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97963` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-29 08:01] priti2jcommerce opened #20755 "cms page top spacing issue at mobile"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. Go to cms page
2. check on mobile view

### Expected result (*)

1.
![privacy and cookie policy - 2](https://user-images.githubusercontent.com/18118695/51893169-1ee1ef00-23ca-11e9-8da0-dcfdbecf0179.jpg)

2.

### Actual result (*)

1.
![privacy and cookie policy - 1](https://user-images.githubusercontent.com/18118695/51893195-328d55

[2019-01-29 08:02] magento-engcom-team commented on #20755
Hi @priti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-29 08:02] priti2jcommerce commented on #20755
@magento-engcom-team give me 2.3-develop instance

[2019-01-29 08:02] magento-engcom-team commented on #20755
Hi @priti2jcommerce, here is your [Magento instance](https://i-20755-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20755-2-3-develop.instances.magento-community.engineering/admin](https://i-20755-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-29 08:04] magento-engcom-team commented on #20755
@priti2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97964` were created

**Issue Available**: @priti2jcommerce, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-29 08:04] magento-engcom-team commented on #20755
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-29 08:07] priti2jcommerce commented on #20755
@magento-engcom-team give me 2.2-develop instance

[2019-01-29 08:08] magento-engcom-team commented on #20755
Hi @priti2jcommerce, here is your [Magento instance](https://i-20755-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20755-2-2-develop.instances.magento-community.engineering/admin](https://i-20755-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-29 08:09] engcom-backlog-nazar commented on #20732
Hi @ndianabasi  Magento 2.3 is currently supporting Elasticsearch 5.2.x and Elasticsearch 2.x so it isn't an issue.
Look here https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2019-01-29 08:14] engcom-backlog-nazar commented on #20732
Hi  @ndianabasi  wich version of Elastic you use ?

[2019-01-29 08:33] denzyk commented on #8933
@ronak2ram guys, please, stop unpinning the goddamn issue :|

[2019-01-29 08:36] ronak2ram commented on #8933
sorry we are not aware about this.

[2019-01-29 09:03] magento-engcom-team commented on #20629
Hi @ankur-cedcoss. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-29 09:04] abbasalis commented on #4621
@sumanta-cn, Thanks! You saved my time .

[2019-01-29 09:06] hostep commented on #8933
Guys can we please stop with this pinning thingy, it's annoying every single user on the Magento 2 repo, because the issue is put right in our face on the issues list. My guess is then that every Magento contributer can very simply remove it from the list by pressing the 'X' in the box since we have more elevated privileges  (I'm going to try this in a minute myself), and most M2 contributers don'

[2019-01-29 09:24] sarfarazbheda commented on #14856
Any updates?

[2019-01-29 09:28] nainesh2jcommerce opened #20760 "Admin Customer configuraion in whishlist associated product for configurable product misalign"
### Preconditions (*)

1. 2.3.x
2.

### Steps to reproduce (*)

1. Go to admin
2. Customers >>All customers>> edit customer>> wishlist
3. Action Configure
### Expected result (*)

1.
![51659410-60d8f280-1fd0-11e9-88f7-e6e4e1123c06](https://user-images.githubusercontent.com/18118539/51897869-b862ce00-23d5-11e9-86e0-9fe9a097b243.jpg)

2.

### Actual result (*)

1.
![image](https://user-images.github

[2019-01-29 09:31] nainesh2jcommerce commented on #20760
issue reproduce
![image](https://user-images.githubusercontent.com/18118539/51898374-c9600f00-23d6-11e9-80bc-79516db7a4c2.png)

[2019-01-29 09:32] magento-engcom-team commented on #20760
@nainesh2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97965` were created

**Issue Available**: @nainesh2jcommerce, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-29 09:37] magento-engcom-team commented on #4677
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-29 09:44] engcom-backlog-nazar commented on #19196
HI @sreichel thank you for you report, this is duplicate to this ->https://github.com/magento/magento2/issues/4247

[2019-01-29 09:44] #19196 closed, assigned to Nazar65

[2019-01-29 09:49] magento-engcom-team commented on #6410
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-29 09:50] magento-engcom-team commented on #7626
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-29 09:56] engcom-backlog-nazar commented on #7626
HI @oluijks thank you for you report, this issue has already fixed in 2.3-dev branch and will be available on 2.3.1 release.
![selection_299](https://user-images.githubusercontent.com/40756439/51899994-db34b880-23bc-11e9-8119-b1269bf0f9c9.png)

[2019-01-29 09:56] #7626 closed, assigned to nobody

[2019-01-29 10:02] engcom-backlog-nazar commented on #7917
HI @bbtimx thank you for you report, I closing this issue as we have this one https://github.com/magento/magento2/issues/20684

[2019-01-29 10:09] magento-engcom-team commented on #9988
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-29 10:20] orlangur commented on #7917
@engcom-backlog-nazar mentioned issue DOES NOT contain any details. This issue should not be closed until there is an evidence they have the same root cause.

[2019-01-29 10:25] engcom-backlog-nazar commented on #7917
@orlangur Yes i agree, but this looks like we have 2 duplicate issue.

[2019-01-29 10:33] vasilii-b opened #20764 "[Widgets] Bulk delete is not available"
### Preconditions (*)
1. Magento 2.3-develop instance
2. A couple of widget instances created under *Content -> Widgets* page in admin area

### Steps to reproduce (*)
1. Go to *Content -> Widgets* page in admin area
2. Try to delete multiple widgets at once

### Expected result (*)
You should be able to mass-delete widget instances.
![xnip2019-01-29_12-22-11](https://user-images.githubusercontent

[2019-01-29 10:34] magento-engcom-team commented on #20764
Hi @eduard13. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-01-29 10:35] magento-engcom-team commented on #20764
@eduard13 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97967` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-29 10:35] magento-engcom-team commented on #20764
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-29 10:40] brosenberger opened #20766 "AttributeCode column name length validation throws wrong error message"
### Preconditions (*)
1. Magento Community 2.3.0

### Steps to reproduce (*)
1. go to Backend, Login with admin user
2. go to Stores -> Attributes -> Product
3. add new attribute (any values), set attribute code to custom_attribute_which_has_a_to_long_code_but_less_than_255
3. click save attribute

### Expected result (*)
1. product attribute saved
1. alternatively correct error message, that only

[2019-01-29 10:40] magento-engcom-team commented on #20766
Hi @brosenberger. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-29 10:41] brosenberger commented on #20766
@magento-engcom-team give me 2.3-develop instance

[2019-01-29 10:41] magento-engcom-team commented on #20766
Hi @brosenberger. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-29 10:41] irajneeshgupta commented on #20764
@eduard13
Thanks for verifying the issue. Is it really takes 30 seconds to reproduce this issue on vanilla instance.

[2019-01-29 10:41] magento-engcom-team commented on #20766
Hi @brosenberger, here is your [Magento instance](https://i-20766-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20766-2-3-develop.instances.magento-community.engineering/admin](https://i-20766-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-29 10:42] magento-engcom-team commented on #20766
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-29 10:42] magento-engcom-team commented on #20766
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-29 10:43] GovindaSharma commented on #20766
@magento-engcom-team give me 2.3-develop instance

[2019-01-29 10:43] magento-engcom-team commented on #20766
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-29 10:44] magento-engcom-team commented on #20766
Hi @GovindaSharma, here is your [Magento instance](https://i-20766-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20766-2-3-develop.instances.magento-community.engineering/admin](https://i-20766-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-29 10:45] magento-engcom-team commented on #20766
@nainesh2jcommerce Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-29 10:45] nainesh2jcommerce commented on #20766
issue reproduce
![image](https://user-images.githubusercontent.com/18118539/51902900-1648e300-23e1-11e9-918d-0bbbcc21081f.png)

[2019-01-29 10:46] magento-engcom-team commented on #20766
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-29 10:46] magento-engcom-team commented on #20766
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97969` were created

**Issue Available**: @GovindaSharma, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-29 10:50] eduard13 commented on #20764
Hi @irajneeshgupta, actually it's an issue which I noticed few days ago (while working with widgets), moreover this one it was inherited from 2.2 version, where such functionality is also missing.
So, yes - for me it doesn't take too much time when an issue that I'm aware of, is reported.

[2019-01-29 10:59] engcom-backlog-nazar commented on #12073
@victortodoran  seems like this fixed in 2.2 and 2.3 branches https://github.com/magento/magento2/commit/45da02260c989f088b4645307e4af42d9b944b00 , In my case sku -> '1234a' and '1234A' returns  the same product id

[2019-01-29 10:59] #12073 closed, assigned to nobody

[2019-01-29 11:09] magento-engcom-team commented on #12608
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-29 11:09] magento-engcom-team commented on #20766
Hi @irajneeshgupta. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-29 11:14] engcom-backlog-nazar commented on #12608
Hi @terrybakshi thank you for you report, this issue has already fixed in 2.2.6 release
![selection_300](https://user-images.githubusercontent.com/40756439/51904611-bf82df80-23c7-11e9-8502-fa4ff30f1d9b.png)

[2019-01-29 11:14] #12608 closed, assigned to nobody

[2019-01-29 11:19] matin73 commented on #12612
Same issue in 2.2.x (latest version). @hostep's solution worked for me to.

[2019-01-29 11:35] orlangur commented on #7917
@engcom-backlog-nazar we will always be able to close redundant one, for now only symptom is the same. Current issue contains useful details.

[2019-01-29 11:35] fingertips-solutions commented on #20069
same thing for me... in network console i can see 404 image url pointing to pub/media... folder permissions are 777 still images are not showing on product page.

[2019-01-29 12:25] php4umagento commented on #5901
Will that ever be fixed?

[2019-01-29 12:32] gwharton commented on #14977
OK, that view.xml file doesnt seem to be the right one as it is not matching the setting on your webpage.

Your webpage indicates that the following values are set to false

gallery/captions
gallery/fullscreen/captions
gallery/fullscreen/arrows

but the view.xml file shows they are not all false.

You have 3 options.

1. Upgrade your store to 2.2.7. No other changes required. (RECOMMENDED). This b

[2019-01-29 12:34] gwharton commented on #14977
I too can't explain why this is happening if, as you say, there has been no code changes. The bug only happens in 2.2.4 for entries in the theme view.xml where values are set to false. When they are set to true, the bug does not happen. Did you update or change themes recently. Perhaps the previous version of the theme had these values set true.

[2019-01-29 12:47] magento-engcom-team commented on #12923
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-29 13:08] engcom-backlog-nazar commented on #12923
Hi @popovdenis thank you for you report, this issue already fixed in 2.3-develop and 2.2-develop branch, and available on 2.2.7 and 2.3.0 release.

[2019-01-29 13:08] #12923 closed, assigned to ravi-chandra3197

[2019-01-29 13:12] shansari25 commented on #14977
Dear @gwharton - YOU ARE AWESOME to say the least.

Thank you my dear friend - you solved my big issue and i was struggling with it from last 20 days with no resolution. Thank you so much !!

Now everything works well but on click it opens a full page of image viewer but doesnt provide any CLOSE option for that window/page, it covers entire screen with no option to go back.

Is there any way we ca

[2019-01-29 13:15] magento-engcom-team commented on #13250
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-29 13:36] sdzhepa commented on #20588
hello @ranee2jcommerce and @nainesh2jcommerce

We cannot reproduce the issue by described steps on 2.3-develop.
Could you please confirm or provide additional details?

**Manual testing scenario.**
1. Request vanilla instance `give me 2.3-develop instance`
2. Create several products (simple, configurable)
3. Open any simple product edit page
4. Go to "Related Products, Up-Sells, and Cross-Sells" s

[2019-01-29 13:45] orlangur commented on #20764
@vasilii-b this is intentional system behavior, same as mass product deletion is not available as far as I remember. Normally you don't delete many widgets at ones.

[2019-01-29 13:57] ndianabasi commented on #20732
@engcom-backlog-nazar

I'm using Elasticsearch 5.

[2019-01-29 13:59] magento-engcom-team commented on #6765
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-29 14:01] engcom-backlog-nazar commented on #20732
@ndianabasi  . I believe that there is a mistake in Magento DevDocs. Please look here for additional details [https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html)

It said that only 5.2.x is supported. I understand that you can provide a links where it said that 5.x is supported, but th

[2019-01-29 14:01] #20732 closed, assigned to nobody

[2019-01-29 14:15] vasilii-b commented on #6765
As for Magento `2.3-develop` you cannot add `href` attribute to the `link`:
![xnip2019-01-29_16-08-24](https://user-images.githubusercontent.com/13456702/51913882-388e3100-23e0-11e9-93a7-6729cb319cc7.jpg)
If the `src` attribute is used instead, the url is generated absolutely fine:
![xnip2019-01-29_16-14-25](https://user-images.githubusercontent.com/13456702/51914242-0a5d2100-23e1-11e9-849b-5a3c3e

[2019-01-29 14:17] vasilii-b commented on #6765
Closing the issue as it was not reproduced on 2.3-develop instance.

[2019-01-29 14:17] #6765 closed, assigned to vasilii-b

[2019-01-29 14:17] magento-engcom-team commented on #13381
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-29 14:18] gwharton commented on #14977
Fullscreen should have a cross in the top right corner. See the attached image.

![image](https://user-images.githubusercontent.com/30697781/51914379-9c106280-23d0-11e9-86b4-5a5eb9e2a095.png)

[2019-01-29 14:18] engcom-backlog-nazar commented on #20588
Hi @ranee2jcommerce so can we close this issue ?

[2019-01-29 14:24] ndianabasi commented on #20732
Hi @engcom-backlog-nazar. I've installed Elasticsearch 5.2.2.

Any response to why the username and password fields aren't displaying when you set **Enable Elasticsearch HTTP Auth** to "Yes"?

[2019-01-29 14:30] #20588 closed, assigned to nainesh2jcommerce, parag2jcommerce

[2019-01-29 15:05] rogyar commented on #20176
@magento-engcom-team give me 2.2-develop instance

[2019-01-29 15:05] magento-engcom-team commented on #20176
Hi @rogyar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-29 15:05] magento-engcom-team commented on #20176
Hi @rogyar, here is your [Magento instance](https://i-20176-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20176-2-2-develop.instances.magento-community.engineering/admin](https://i-20176-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-29 15:34] Axel29 opened #20771 "Upgrade 2.3.0 - Base table or view not found queue"
Hi,

Magento's upgrade from 2.2.3 to 2.3.0 is blocked due to  MySQL error

### Preconditions

1. Magento 2.2.3
2. Upgrade to Magento 2.3.0 using upgrade script
3. PHP 7.1
4. MySQL version 10.0.37-MariaDB-1~xenial with innodb_version 5.6.39-84.1

### Steps to reproduce

1. Install Magento 2.2.3
2. Upgrade to Magento 2.3.0 using upgrade script
3. Run `php bin/magento setup:upgrade` command

### Expe

[2019-01-29 15:34] magento-engcom-team commented on #20771
Hi @Axel29. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-29 15:35] magento-engcom-team commented on #20771
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-29 15:41] gwharton commented on #14977
No idea on your separate issue I am afraid. not something that I have seen.

I have just had another thought about your original issue. The problem is that variables in your view.xml file are not processed properly when they are set as false. The first workaround was to change them to true and accept the fact that you would get fullscreen and captions, but instead of changing them to true, you cou

[2019-01-29 15:49] Wesdesignz commented on #17634
Does anyone have any more info about this? We're running into this issue on a regular basis and it's becoming a real annoying issue...

[2019-01-29 15:52] Vormillion commented on #17634
In our case this issue is happening randomly without any activity on server. At the end of deployment script I am enabling Magento cache (just in case...) and printing cache status. Sometime after few minutes cache is automatically off, but there is no pattern.

[2019-01-29 15:54] craigcarnell commented on #17634
I've seen this in our development environment before. It's rather annoying.

[2019-01-29 15:55] Axel29 commented on #20771
@magento-engcom-team give me 2.2-develop instance

[2019-01-29 15:56] magento-engcom-team commented on #20771
Hi @Axel29, here is your [Magento instance](https://i-20771-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20771-2-2-develop.instances.magento-community.engineering/admin](https://i-20771-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-29 16:21] craigcarnell commented on #13309
@navalnichnik What does this fix exactly?

[2019-01-29 16:44] magento-engcom-team commented on #20614
Hi @suryakant-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-01-29 16:50] magento-engcom-team commented on #20121
Hi @denzyk. Thank you for your report.
The issue has been fixed in magento/magento2#20547 by @irajneeshgupta in 2.2-develop branch
Related commit(s):
 - [331b5c1456f901dffcb0fc92a86f650ea57b3783](https://github.com/magento/magento2/commit/331b5c1456f901dffcb0fc92a86f650ea57b3783)
 - [cc6b848d242d4458e2c270273cc36e55b822b4be](https://github.com/magento/magento2/commit/cc6b848d242d4458e2c270273cc36e

[2019-01-29 16:50] magento-engcom-team commented on #18027
Hi @rauberdaniel. Thank you for your report.
The issue has been fixed in magento/magento2#20638 by @shikhamis11 in 2.2-develop branch
Related commit(s):
 - [3ecdb4f7855d9b08fa1b616d76de6b047869bed9](https://github.com/magento/magento2/commit/3ecdb4f7855d9b08fa1b616d76de6b047869bed9)
 - [c26719dba5acd817ddb667e46fd422b8845eeaf0](https://github.com/magento/magento2/commit/c26719dba5acd817ddb667e46fd

[2019-01-29 16:50] magento-engcom-team commented on #20376
Hi @mohammadzakir. Thank you for your report.
The issue has been fixed in magento/magento2#20636 by @serhiyzhovnir in 2.2-develop branch
Related commit(s):
 - [b9390c9f3a5d9be797a460a0e4d09d9932d70910](https://github.com/magento/magento2/commit/b9390c9f3a5d9be797a460a0e4d09d9932d70910)
 - [0b24b39b12e34dfc7ac60746caf420abbd3c2b76](https://github.com/magento/magento2/commit/0b24b39b12e34dfc7ac60746

[2019-01-29 16:50] #20376 closed, assigned to serhiyzhovnir

[2019-01-29 16:50] magento-engcom-team commented on #19899
Hi @wojtekn. Thank you for your report.
The issue has been fixed in magento/magento2#20508 by @mageprince in 2.2-develop branch
Related commit(s):
 - [d46a076cd1d8ae2c0dc67f35d6bc6c9458576f3b](https://github.com/magento/magento2/commit/d46a076cd1d8ae2c0dc67f35d6bc6c9458576f3b)
 - [c830d613b1b678e3b0370d61ae7b0978a223e722](https://github.com/magento/magento2/commit/c830d613b1b678e3b0370d61ae7b0978a

[2019-01-29 16:55] craigcarnell commented on #19604
@orlangur Any updates on this? Are we expecting allow installation in 2.3.1?

[2019-01-29 16:59] orlangur commented on #19604
@craigcarnell dunno. All I know is that @buskamuza confirmed 7.3 support is in the backlog.

[2019-01-29 17:36] sidolov opened #20773 "The autoloader throws an exception on class_exists"
### Summary (*)
The autoloader throws an exception on `class_exists`. That is clearly an unexpected behavior according to the documentation: http://php.net/manual/en/function.class-exists.php

This will cause issues when including third-party libraries that are not written for Magento.

An autoloader that throws an exception is not [PSR-4](https://www.php-fig.org/psr/psr-4/) compliant

### Example

[2019-01-29 17:36] magento-engcom-team commented on #20773
Hi @sidolov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-29 17:41] sivaschenko commented on #19805
@magento-engcom-team give me 2.3-develop instance

[2019-01-29 17:41] magento-engcom-team commented on #19805
Hi @sivaschenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-29 17:41] magento-engcom-team commented on #19805
Hi @sivaschenko, here is your [Magento instance](https://i-19805-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19805-2-3-develop.instances.magento-community.engineering/admin](https://i-19805-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-29 20:09] lracicot commented on #11657
Suggestion for the fix: why store all the configurations in the flag? Why not just a hash of the string?

[2019-01-29 21:00] slacka1 commented on #9931
I have a related issue in version 2.3 using the PHP API.  Valid api calls setting the image label do not show label as alt text in admin catalog. Following is my post, see the end section. Feel free to give insight into the start of the post.
https://community.magento.com/t5/Magento-2-x-Programming/php-api-product-image-name-product-image-label-accepted-encoding/td-p/119871

[2019-01-29 22:04] Grohotun opened #20778 "Jmeter error"
### Preconditions
1. Clean Magento 2.3.0 CE on HTTPS (luma, en_US)
2. Generated products/categories/etc. with large.xml profile

### Steps to reproduce

1. Use jMeter 3.1
2. Install aditional json plugin
3. Setted settings in admin panel
4. Ran batch file

`jmeter -n -t ../../ce2.3/performance-toolkit/benchmark.jmx -j ./jmeter.log -l ./jmeter-results.jtl -Jhost=xxx.yyy.net -Jbase_path=/ -Jadmin_pa

[2019-01-29 22:04] magento-engcom-team commented on #20778
Hi @Grohotun. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-29 22:23] beargroup-jay commented on #19590
tl;dr - check your crypt key matches where the database came from

I had a very similar issue on Magento 2.3, both on php7.1 and php7.2. Many of the same error messages reported here such as `SodiumChachaIetf::decrypt() must be of the type string, boolean returned` and `Type Error occurred when creating object: Magento\Config\Model\Config\Structure\Interceptor`

However, I got a stack trace that s

[2019-01-30 00:06] MichaelThessel opened #20779 "Grunt workflow documentation has errors"
### Summary (*)

Grunt workflow documentation has errors.

### Examples (*)

I followed the docs on how to set up grunt for a custom theme. Specifically a theme that inherits from a parent theme. In point 5 the [documentation](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/css_debug.html) states:

This is incorrect though. You have to specify the parent themes root source fi

[2019-01-30 00:06] magento-engcom-team commented on #20779
Hi @MichaelThessel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-30 01:44] duffner commented on #12914
@vasilii-b, these types of things make it so frustrating to like Magento.  This is a blatantly missing feature and Magento is more focused about Unit Tests than missing/broken functionality.  Not your fault at all, but every ticket I've created seems to go this same way.  At some point, why should the community care?

@magento-engcom-team , is this the plan?

[2019-01-30 03:06] magento-engcom-team commented on #18148
Hi @PathToLife. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-30 03:11] PathToLife commented on #18148
I've found that orders are saved as pending_payment in the IPN function _registerPaymentCapture()

![https://i.imgur.com/9oaxTUS.png](https://i.imgur.com/9oaxTUS.png)

I'm not sure exactly where we should set order status for completed payments, but i found conventions in the same file (\Magento\Paypal\Model\Ipn.php) that does:

    _registerPaymentReversal() {$this->_order->setStatus($orderStatus

[2019-01-30 03:48] shansari25 commented on #14977
thank you @gwharton - i will try that as well.

[2019-01-30 04:04] magento-engcom-team commented on #20779
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-30 04:24] HEALTHYHOOKAHCA opened #20780 "Out of Stock products does not display on 2.3.0 also"
### Preconditions (*)
1. Magento 2.3.0

### Steps to reproduce (*)
1. Go to Admin side .. from left menu.. Stores >> Configuration >> Catalog >> Inventory
In that, check "Stock Options" tab, in which I've set "Display Out of Stock Products" to "Yes", for all my views, website view, in default settings.
2. on Customer side, I can not see my all the products(Configurable Products). "Out-of-stock" co

[2019-01-30 04:31] HEALTHYHOOKAHCA commented on #20780
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-01-30 04:31] magento-engcom-team commented on #20780
Hi @HEALTHYHOOKAHCA. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-30 04:31] magento-engcom-team commented on #20780
Hi @HEALTHYHOOKAHCA, here is your [Magento instance](https://i-20780-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20780-2-3-develop.instances.magento-community.engineering/admin](https://i-20780-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-30 04:51] HEALTHYHOOKAHCA commented on #20780
I get the same issue on this instance also..
Please check it out

[2019-01-30 04:56] magento-engcom-team commented on #20780
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-30 05:19] magento-engcom-team commented on #20780
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-30 05:33] shikhamis11 commented on #20780
@HEALTHYHOOKAHCA Thank you for reporting this issue .. as I can see yes the configurable options which are out of stock not displaying on frontend even the configuration is enabled . but I think this is done deliberately for config products options .. if the optional product has visibiliy catalog-search or search It can be accessed directly by opening in url .
so lets wait for someone for magento

[2019-01-30 05:34] magento-engcom-team commented on #20780
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-30 06:31] magento-engcom-team commented on #20779
@suryakant-krish Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required infor

[2019-01-30 06:40] magento-engcom-team commented on #20779
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-30 06:41] magento-engcom-team commented on #20779
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97977` were created

**Issue Available**: @irajneeshgupta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 06:42] irajneeshgupta commented on #20779
@MichaelThessel
you can move the issue here ->
https://github.com/magento/devdocs

[2019-01-30 06:57] routbiplab opened #20783 "Magento 2.3.0 Validate class not found from basename 'Magento\Framework\Validator\EmailAddress' during checkout"
### Preconditions (*)

1. Magento 2.3.0
2. Php multibranch: v7.0.32-0ubuntu0.16.04.1
3.  MySQL Ver 14.14 Distrib 5.7.25

### Steps to reproduce (*)

1. Add Item as a guest user
2. Proceed to checkout
3. Enter Address
4. Go to payment page and click Place Order

### Expected result (*)

1. Order placed successfully

### Actual result (*)

1. Gives error that says to check log files
2. ERROR:
Report

[2019-01-30 06:57] magento-engcom-team commented on #20783
Hi @routbiplab. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-30 06:58] magento-engcom-team commented on #20783
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-30 06:59] magento-engcom-team commented on #20783
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-30 07:33] magento-engcom-team commented on #20783
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-30 07:34] magento-engcom-team commented on #20778
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-30 07:35] engcom-backlog-nazar commented on #20779
@irajneeshgupta so why confirmed ? as this is devdocs bug ?

[2019-01-30 07:35] magento-engcom-team commented on #20773
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-30 07:39] ihor-sviziev commented on #19482
Hi @agorbulin,
It's amazing to see this issue was fixed! Thank you so much! Very important fix for websites under high load!

Because of this issue Inventory for product is changing time to time -->  it's causing product reindexing --> it's causing **flushing cache for this product**.

For best sellers flushing cache during big promos - really not expected thing.

[2019-01-30 07:45] engcom-backlog-nazar commented on #20783
Hi @routbiplab i'm not able to reproduce following steps you described, please provide more detailed information, which version of php you use ? this may be related to your custom modules.

[2019-01-30 07:45] #20783 closed, assigned to nainesh2jcommerce, GovindaSharma

[2019-01-30 07:51] routbiplab commented on #20783
I am using Php multibranch: v7.0.32-0ubuntu0.16.04.1

[2019-01-30 07:53] engcom-backlog-nazar commented on #20783
@routbiplab Magento supports -> https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

But not Php multibranch

[2019-01-30 08:02] magento-engcom-team commented on #20773
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97979`, `MAGETWO-97980` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 08:19] engcom-backlog-nazar commented on #20783
@routbiplab why you use Php multibranch ? can you for test use simple php 7.2 or php7.1 ?

[2019-01-30 08:23] eduard13 opened #20786 "[CMS] File upload preview style issue"
### Preconditions (*)
1. Magento 2.3-develop, Magento 2.2-develop
2.

### Steps to reproduce (*)
1. Open a CMS page or block
2. Click on the Insert Image from the content field
3. Upload a new image or check the existing ones

### Expected result (*)

1. The image should center aligned with padding
2. The text shouldn't be cut off
![xnip2019-01-30_09-00-14](https://user-images.githubusercontent.co

[2019-01-30 08:28] #20780 closed, assigned to shikhamis11

[2019-01-30 08:31] SyntaxKay opened #20788 "Listing page no equal spacing in product in list view"
### Preconditions (*)

1.Magento 2.3-Develop

### Steps to reproduce (*)

1.Frontend -> open any product category Listing page

### Expected result (*)

1.![expacted](https://user-images.githubusercontent.com/33230237/51970481-0abaf200-249d-11e9-9599-cd8ed0905e12.png)

### Actual result (*)

1.![actual 1](https://user-images.githubusercontent.com/33230237/51970498-160e1d80-249d-11e9-9ebd-ba9a67d67

[2019-01-30 08:31] magento-engcom-team commented on #20788
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-30 08:31] magento-engcom-team commented on #20788
Hi @suryakant-krish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-30 08:31] magento-engcom-team commented on #20788
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-30 08:32] magento-engcom-team commented on #20788
@suryakant-krish Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97982` were created

**Issue Available**: @suryakant-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 08:33] magento-engcom-team commented on #20788
Hi @suryakant-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-01-30 08:40] speedy008 commented on #20788
@suryakant-krish I am working on this issue

[2019-01-30 08:42] XxXgeoXxX commented on #12305
Looks like you have the mistake in the path to your theme.
According to the description you use app/design/Vendor/Theme/Magento_Sales/layout/sales_email_order_renderers.xml
but the correct way must be
app/design/**frontend**/Vendor/Theme/Magento_Sales/layout/sales_email_order_renderers.xml
link to documentation https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/themes/theme-structure.html

[2019-01-30 08:42] #12305 closed, assigned to nobody

[2019-01-30 08:44] abrarpathan19 opened #20790 "Luma theme My Wish List page Edit and Remove icons consistency design improvement"
### Preconditions (*)

1. Magento 2.3 and Magento 2.2.X

### Steps to reproduce (*)

1. Add Item in the wishlist
2. Go to wishlist page you can see edit and delete link instead of icons

### Expected result (*)

1. http://prntscr.com/me4lwq

### Actual result (*)

1. http://prntscr.com/me4cj0

[2019-01-30 08:44] magento-engcom-team commented on #20790
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-30 08:45] magento-engcom-team commented on #20790
Hi @saphaljha. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-30 08:45] saphaljha commented on #20790
@magento-engcom-team give me 2.3-develop instance

[2019-01-30 08:45] magento-engcom-team commented on #20790
Hi @saphaljha. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-30 08:45] magento-engcom-team commented on #20790
Hi @saphaljha, here is your [Magento instance](https://i-20790-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20790-2-3-develop.instances.magento-community.engineering/admin](https://i-20790-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-30 08:51] milindsingh commented on #20790
@abrarpathan19 I think its different context, hence icons are not.
@engcom-backlog-nazar I think this is feature improvement which might not always be needed.

[2019-01-30 08:52] magento-engcom-team commented on #20790
@saphaljha Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-30 08:53] magento-engcom-team commented on #20790
@saphaljha Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97983`, `MAGETWO-97984` were created

**Issue Available**: @saphaljha, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 08:55] magento-engcom-team commented on #20790
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-30 08:56] engcom-backlog-nazar commented on #20790
Hi @abrarpathan19 thank you for your report can explain in which cases you need this and why this an issue ?

[2019-01-30 08:57] milindsingh commented on #20788
@speedy008 It will very helpful if you add screenshots directly to Github issue, rather via an external link.
@engcom-backlog-nazar  Also, the issue created have a very unclear description, and might really not be an actual issue.

[2019-01-30 08:59] magento-engcom-team commented on #20788
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-30 08:59] engcom-backlog-nazar commented on #20788
HI @speedy008 thank you for you report whats wrong here ? what's the difference with actual and expected result ?

[2019-01-30 09:00] abrarpathan19 commented on #20790
@magento-engcom-team It is design improvement on wishlist page remove & delete icons consistency as per the entire luma theme.

[2019-01-30 09:02] engcom-backlog-nazar commented on #20790
@abrarpathan19 as i can see the mini cart contain icons because this the mini-cart there no space to show full text button, but why on wish list we need this changes ?

[2019-01-30 09:04] engcom-backlog-nazar commented on #20788
@suryakant-krish how you can confirm issue in less than 1 minute ?

[2019-01-30 09:18] dpdesignthatfits commented on #10450
Same in open source 2.3. We have customers requesting this feature now.

[2019-01-30 09:20] suryakant-krish commented on #20788
@magento-engcom-team
I have checked in my local setup.

[2019-01-30 09:31] saravanandscbe opened #20792 "Magento 2.2.5, Header link is Displaying the login link even after login"
### Preconditions (*)

1. Install Magento ver 2.2.5

### Steps to reproduce (*)

1. Login to front end with customer data.
2. Check the header link. It is showing Sign in only even after logged In.
3. I tried this code too.

[code]

### Expected result (*)

1. Should display the My Account, Wish List and Sign Out links.

### Actual result (*)

1. Header Link is showing Login link. I checked by dis

[2019-01-30 09:31] magento-engcom-team commented on #20792
Hi @saravanandscbe. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-30 09:32] magento-engcom-team commented on #20792
Hi @ravi-chandra3197. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-30 09:33] magento-engcom-team commented on #20723
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-30 09:34] magento-engcom-team commented on #20723
Hi @amol2jcommerce, here is your [Magento instance](https://i-20723-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20723-2-2-develop.instances.magento-community.engineering/admin](https://i-20723-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-30 09:34] ravi-chandra3197 commented on #20792
@magento-engcom-team give me 2.3-develop instance

[2019-01-30 09:35] magento-engcom-team commented on #20792
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-30 09:35] magento-engcom-team commented on #20792
Hi @ravi-chandra3197, here is your [Magento instance](https://i-20792-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20792-2-3-develop.instances.magento-community.engineering/admin](https://i-20792-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-30 09:37] magento-engcom-team commented on #20792
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-30 09:41] engcom-backlog-nazar commented on #20788
@suryakant-krish https://github.com/magento/magento2/pull/20238

[2019-01-30 09:45] ravi-chandra3197 commented on #20792
@magento-engcom-team give me 2.2-develop instance

[2019-01-30 09:45] magento-engcom-team commented on #20792
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-30 09:46] magento-engcom-team commented on #20792
Hi @ravi-chandra3197, here is your [Magento instance](https://i-20792-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20792-2-2-develop.instances.magento-community.engineering/admin](https://i-20792-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-30 09:53] ravi-chandra3197 commented on #20792
Hello @magento-engcom-team @saravanandscbe
I have tried to reproduce the issue in 2.2 and 2.3 using the above step
but this issues does not reproduce in 2.2 and 2.3

[2019-01-30 09:54] diazwatson commented on #10450
I received this reply today from an Integration Engineer, UK Sales Engineering guy

They recommended us to use PayPal Credit through this Braintree module:
http://support.gene.co.uk/support/solutions/articles/35000047010-how-do-i-install-the-magento-2-braintree-module-

[2019-01-30 09:54] #10450 closed, assigned to nobody

[2019-01-30 09:57] saravanandscbe commented on #20792
@ravi-chandra3197 @magento-engcom-team . I added custom phtml(topmenu.phtml) file with below content. It is having this issue.

[code]

[2019-01-30 10:00] nainesh2jcommerce commented on #20792
Hi @saravanandscbe, we can't reproduce issue for custom work, only issue with vanilla instance is valid.

thanks!

[2019-01-30 10:01] engcom-backlog-nazar commented on #20792
Hi @saravanandscbe   i'm not able to reproduce following steps your described,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-30 10:01] #20792 closed, assigned to ravi-chandra3197

[2019-01-30 10:07] magento-engcom-team commented on #6659
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-30 10:25] LBeekie opened #20795 "Error while submitting marketplace keys"
I have a server from versio. I have installed magento through the app installer (softaculous) in DirectAdmin. Everything is working fine except the described error. I already did a clean install, but the error stays the same.

**Preconditions**
Magento version: 2.3.0
PHP version: 7.2.13
MySQL version:
HTTP/2 is supported

**Steps to reproduce**
1. Get marketplace access keys
2. Go to the setup wiz

[2019-01-30 10:30] SatishDubariya opened #20796 "Unable to add new review from backend"
### Preconditions (*)

1. Magento 2.3.0
2. PHP Version 7.2.14

### Steps to reproduce (*)

1. Login to Magento backend.
2. Navigate to Marketing > Reviews
3. Click on New Review Button
4 Select Product from the Product grid.

### Expected result (*)

1. Display New Review form with pre-filled Product field with Selected product name.
2 After filling other fields  when  save, it should be saved and

[2019-01-30 10:31] LBeekie commented on #20795
Ok. So I tested this on the vanilla Magento instance and it works.
There is something wrong with my own server configuration and I have no idea what. Any solutions?

[2019-01-30 10:31] sarfaraj-php commented on #8480
I got the same issue in magento 2.1.14. While override custom module
`<preference for="Magento\Shipping\Block\Adminhtml\Order\Packaging" type="[vendor]\[module_name]\Block\Adminhtml\Order\Packaging"/>` .

Have you find any solution for this?

[2019-01-30 10:31] magento-engcom-team commented on #20796
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-30 10:32] gfxguru commented on #9954
How did you all get around this issue? Same issue here Magento 2.2.7

[2019-01-30 10:32] nainesh2jcommerce commented on #20796
Hi @magento-engcom-team please provide 2.3 instance

[2019-01-30 10:33] magento-engcom-team commented on #20796
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-30 10:33] magento-engcom-team commented on #20795
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-30 10:34] dpdesignthatfits commented on #10450
I'm not sure this is an adequate response/solution to the problem, PayPal Express checkout is available out of the box in Magento2, Paypal Credit works in the US for this, but not in the UK. Surely there is a business case to make the standard functionality work correctly/adhere to UK regulations rather than recommending a third party addon?

[2019-01-30 10:35] GovindaSharma commented on #20796
Hi @SatishDubariya ,this issue is alreday reported, check this #20122

[2019-01-30 10:36] SatishDubariya commented on #20796
Ok

[2019-01-30 10:36] #20796 closed, assigned to nainesh2jcommerce, GovindaSharma

[2019-01-30 10:36] engcom-backlog-nazar commented on #20796
Hi @SatishDubariya . Thank you for your report.
The issue has been fixed in magento/magento2#20146 by @suneet64 in 2.3-develop branch
Related commit(s):
 - [da809e36e486ccaa02217b2b1b31df6a01745f93](https://github.com/magento/magento2/commit/da809e36e486ccaa02217b2b1b31df6a01745f93)
 - [130f1ae59221964dd6c74ebf0545828cbed9a583](https://github.com/magento/magento2/commit/130f1ae59221964dd6c74ebf054

[2019-01-30 10:40] engcom-backlog-nazar commented on #20795
Hi @LBeekie . Thank you for your report.
The issue has been fixed in magento/magento2#19143 by @vovayatsyuk in 2.3-develop branch
Related commit(s):
 - [e827b3220c12cc8e793e0486cd9425e4ca4c2853](https://github.com/magento/magento2/commit/e827b3220c12cc8e793e0486cd9425e4ca4c2853)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-30 10:40] #20795 closed, assigned to nobody

[2019-01-30 10:44] LBeekie commented on #20795
Ok, thanks.

[2019-01-30 10:48] abrarpathan19 commented on #20790
@engcom-backlog-nazar
Yes, It is necessary to change the text to an icon on the wishlist page there are many reasons :

1) First at the entire luma theme should have the same UI consistency and uniformity design.
2) In wishlist blog also have space issue same like minicart when we use the stores/website in different languages for examples in FR or DE. http://prntscr.com/me6jwd
3) As per the user p

[2019-01-30 10:53] magento-engcom-team commented on #20790
@engcom-backlog-nazar Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-30 10:53] magento-engcom-team commented on #20790
@engcom-backlog-nazar Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-30 11:00] ygyryn opened #20797 "Creditmemo show negative total amount"
### Preconditions (*)
1. Magento 2.2.x and Magento 2.3.x
2. use next configuration
 - tax rule configuration
![screenshot from 2019-01-30 12-07-35](https://user-images.githubusercontent.com/16721414/51976751-2ff43400-248e-11e9-9190-81ba8c19bc15.png)
- configuration in backoffice
![screenshot from 2019-01-30 12-08-04](https://user-images.githubusercontent.com/16721414/51976780-41d5d700-248e-11e9-8e

[2019-01-30 11:00] magento-engcom-team commented on #20797
Hi @ygyryn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-30 11:00] magento-engcom-team commented on #20797
Hi @XxXgeoXxX. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-30 11:03] magento-engcom-team commented on #20797
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-30 11:08] magento-engcom-team commented on #20797
Hi @KiraLis. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-01-30 11:27] priti2jcommerce opened #20800 "On account my recent reviews alignment issue"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. add reviews with logged in customer
2. on my account dashboard
3. reviews alignment not proper (vertically)

### Expected result (*)

1.
![2019-01-30_16-50_my account 2](https://user-images.githubusercontent.com/18118695/51978264-bf5e0f00-24af-11e9-8146-80baedf592f2.jpg)

### Actual result (*)

1.
![2019-01-30_16-50_my account](htt

[2019-01-30 11:31] magento-engcom-team commented on #20797
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-30 11:32] nainesh2jcommerce commented on #20800
issue reproduce on previously provided instance
![image](https://user-images.githubusercontent.com/18118539/51978664-c0dc0700-24b0-11e9-8bb7-0bd121e3ea2f.png)

[2019-01-30 11:32] magento-engcom-team commented on #20800
@nainesh2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97985` were created

**Issue Available**: @nainesh2jcommerce, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 11:37] orlangur commented on #20778
@Grohotun you could simply reopen old issue mentioned jMeter 3.1 still does not solve the issue.

[2019-01-30 11:39] eduard13 opened #20802 "[Backend] Dashboard Refresh Statistics action redirects to 404"
### Preconditions (*)

1. Magento 2.3-develop
2.

### Steps to reproduce (*)
1.  Open the backend (on Dashboard)
2. Click on the **Reload Data** button

### Expected result (*)

1. The lifetime statistic are updated.
![xnip2019-01-30_12-45-04](https://user-images.githubusercontent.com/15868188/51976270-ea833700-248c-11e9-9675-97ea2d921725.jpg)

### Actual result (*)

1. You're redirected to 404 pa

[2019-01-30 11:39] magento-engcom-team commented on #20802
Hi @eduard13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-30 11:40] magento-engcom-team commented on #20802
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-30 11:42] magento-engcom-team commented on #20802
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-30 11:42] XxXgeoXxX commented on #20802
@magento-engcom-team give me 2.3-develop instance

[2019-01-30 11:42] magento-engcom-team commented on #20802
Hi @XxXgeoXxX. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-30 11:42] nainesh2jcommerce commented on #20802
Hi @magento-engcom-team please provide 2.3-develop instance

[2019-01-30 11:43] magento-engcom-team commented on #20802
Hi @XxXgeoXxX. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-30 11:45] magento-engcom-team commented on #20802
@nainesh2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97986` were created

**Issue Available**: @nainesh2jcommerce, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 11:46] nainesh2jcommerce commented on #20802
issue reproduce
![image](https://user-images.githubusercontent.com/18118539/51979268-b4f14480-24b2-11e9-92b0-122abb0ee021.png)

[2019-01-30 11:52] cscd98 opened #20805 "Card Holder Name field in cc-form?"
### Preconditions (*)
1. Magento 2.3.0

### Steps to reproduce (*)
1.With a custom payment method that uses vendor/magento/module-payment/view/frontend/web/template/payment/cc-form.html, there is no field for Card Holder Name.

I have been taking this value from billing address fields, but I need to add another field instead 'Card Holder Name' (or something like Name on Card) to vendor/magento/mod

[2019-01-30 11:53] magento-engcom-team commented on #20805
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-30 11:54] magento-engcom-team commented on #20805
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-30 12:03] kassner opened #20806 "Adminhtml observers being called during app:config:import"
### Preconditions

1. Magento 2.2.7;
2. `composer require kassner/module-test-admin-observer:dev-master` ([source code](https://github.com/kassner/module-test-admin-observer))
3. `php bin/magento module:enable Kassner_TestAdminObserver`

### Steps to reproduce

1. Manually edit the `app/etc/config.php` file adding a configuration (i.e.: https://gist.github.com/kassner/d1368133ec09541a7a0927cd3964c

[2019-01-30 12:03] magento-engcom-team commented on #20806
Hi @kassner. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-30 12:04] magento-engcom-team commented on #20806
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-30 12:06] milindsingh commented on #20806
@kassner Can you confirm that your Magento version in Magento **Open Source** 2.2.7?

[2019-01-30 12:12] jafar247commerce opened #20807 "Issue with Pagination after Upgrade to 2.2.6 from 2.2.2"
### Preconditions (*)
Checked in version magento 2.2.6 after upgrade from 2.2.2

### Steps to reproduce (*)
Go to any categories and check the toolbar count and product count in the page, Actually it is listing all the products in the page instead of current page products count.

### Actual result (*)
I am getting this error in log main.CRITICAL: Bucket does not exist [] []

[2019-01-30 12:12] magento-engcom-team commented on #20807
Hi @jafar247commerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-01-30 12:14] kassner commented on #20806
@milindsingh it happens in open source, I tested it isolated using `composer create-project`.

The difference is that app:config:import will not fail on the _Open Source_ one, given there is no AdminGws, but the adminhtml observers are still called. I created this extra module to show them being called, so should be straight forward to test it.

[2019-01-30 12:15] magento-engcom-team commented on #20807
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-30 12:16] jafar247commerce commented on #20807
Is the information i have provided is not sufficient?

[2019-01-30 12:16] magento-engcom-team commented on #4247
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-30 12:18] kassner commented on #20806
I renamed the ticket since the error only happens on _Commerce_. The new one should reflect the problem in the _Open source_ version.

[2019-01-30 12:40] irehmankhan commented on #8897
I am also having same problem. This is happening when product is updated via api on all store view in product admin grid it is showing old image though I have uploaded new image when I delete image from cache it start showing me placeholder image instead of image I have set base,small, thumbnail on all store view but it is working fine for store image.

[2019-01-30 12:44] engcom-backlog-nazar commented on #20807
Hi @jafar247commerce seems like this fixed in 2.3-dev branch please look here ->https://github.com/magento/magento2/issues/13823

[2019-01-30 12:45] snoroozi commented on #8897
I randomly get data from other products of other store views getting copied
into wrong products. Does anyone else see this weird behavior?

On Wed, Jan 30, 2019 at 7:40 AM irehmankhan <notifications@github.com>
wrote:

[2019-01-30 12:49] magento-engcom-team commented on #13971
Hi @Dharmeshvaja91. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-30 12:50] magento-engcom-team commented on #19360
Hi @XxXgeoXxX. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-30 13:00] amol2jcommerce opened #20809 "Advanced Search layout not proper"
### Preconditions (*)

1. Magento 2.3.0

### Steps to reproduce (*)

1. Click Advanced Search link in footer

### Expected result (*)

1.
![advanced search - 2](https://user-images.githubusercontent.com/18118631/51982769-e969fe00-24bc-11e9-95a9-a763b74d0ac5.jpg)

### Actual result (*)

1.
![advanced search - 1](https://user-images.githubusercontent.com/18118631/51982792-f5ee5680-24bc-11e9-9e1a-efa

[2019-01-30 13:00] magento-engcom-team commented on #20809
Hi @amol2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-30 13:02] magento-engcom-team commented on #20809
@amol2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97987` were created

**Issue Available**: @amol2jcommerce, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 13:14] asim-vax opened #20813 "Error with editing user roles - Undefined Index title"
### Preconditions
1. ubuntu 18.04/18.10 php 7.1
2. magento CE 2.3.0

### Steps to reproduce

1. log into admin panel
2. system -> user roles
3. click any user role

### Expected result
1.  screen to edit clicked on user role permissions

### Actual result
1. blank page
2. error in system.log - Notice: Undefined index: title in /home/alex/Documents/Vax/sites/www/oreck2/vendor/magento/module-integra

[2019-01-30 13:15] asim-vax commented on #20813
@magento-engcom-team give me 2.3-develop instance

[2019-01-30 13:15] magento-engcom-team commented on #20813
Hi @asim-vax. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-30 13:16] magento-engcom-team commented on #20813
Hi @asim-vax, here is your [Magento instance](https://i-20813-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20813-2-3-develop.instances.magento-community.engineering/admin](https://i-20813-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-30 13:16] rogyar commented on #20800
@priti2jcommerce @nainesh2jcommerce could you provide more information regarding this issue, please? The difference between these two screenshots is in a slightly increased gap between the summary and the rating starts.
The question is why the current space between the two mentioned elements is incorrect? I believe the good point here would be mentioning relations (i.e. the gap here should be incr

[2019-01-30 13:18] asim-vax commented on #20813
Closing due to issue with local instance, not core magento

[2019-01-30 13:18] #20813 closed, assigned to nobody

[2019-01-30 13:23] #20807 closed, assigned to nobody

[2019-01-30 13:32] magento-engcom-team commented on #6665
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-30 13:32] irajneeshgupta commented on #20779
@engcom-backlog-nazar
yes it is devdocs issue, hence i requested him to move it to devdocs repo.
i assumed that labels should also moved while transferring issue.

[2019-01-30 13:34] vasilii-b commented on #6665
![2019-01-30 15 33 30](https://user-images.githubusercontent.com/13456702/51984637-82d8e600-24a4-11e9-88c6-7a8c7e569559.gif)
Issue is not reproducible in latest `2.3-develop` branch. Closing the issue for now.

[2019-01-30 13:39] jafar247commerce commented on #20807
@engcom-backlog-nazar , this is not related to that issue

[2019-01-30 13:40] vasilii-b commented on #6665
@magento-engcom-team give me 2.2-develop instance

[2019-01-30 13:40] magento-engcom-team commented on #6665
Hi @vasilii-b. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-30 13:40] magento-engcom-team commented on #6665
Hi @vasilii-b, here is your [Magento instance](https://i-6665-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-6665-2-2-develop.instances.magento-community.engineering/admin](https://i-6665-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-30 13:41] magento-engcom-team commented on #2291
Hi @SikailoISM. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-30 14:15] engcom-backlog-nazar commented on #20807
@jafar247commerce why ?

[2019-01-30 14:17] jafar247commerce commented on #20807
Because All these fixes i tried still my problem exists

[2019-01-30 14:17] jafar247commerce commented on #20807
Yes please

[2019-01-30 14:34] codercv commented on #13139
Same for en_GB (2.2.5)

[2019-01-30 14:56] iget-esoares opened #20815 "Path "../../../../../../lib/web/mage/gallery/gallery.less" cannot be used with directory"
### Summary (*)
My theme extends the gallery.css with this file:

After updating from 2.2.6 to 2.2.7, when trying to do `grunt exec:themename` causes the following error:

### Examples (*)

Described above.

My gallery.less file contains this:

[code]

### Proposed solution

[2019-01-30 14:56] magento-engcom-team commented on #20815
Hi @iget-esoares. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-30 14:57] yashwant2jcommerce opened #20816 "Orders and Returns layout not proper"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Click Orders and Returns link in footer

### Expected result (*)

1.
![orders and returns - 1](https://user-images.githubusercontent.com/26630846/51989469-20e0a680-24cd-11e9-8fc5-740902145893.jpg)

### Actual result (*)

1.
![orders and returns - 2](https://user-images.githubusercontent.com/26630846/51989488-305fef80-24cd-11e9-9

[2019-01-30 14:57] magento-engcom-team commented on #20816
Hi @yashwant2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-01-30 14:57] magento-engcom-team commented on #20816
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-30 14:58] amol2jcommerce commented on #20816
@magento-engcom-team give me 2.3-develop instance

[2019-01-30 14:58] magento-engcom-team commented on #20816
Hi @amol2jcommerce, here is your [Magento instance](https://i-20816-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20816-2-3-develop.instances.magento-community.engineering/admin](https://i-20816-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-30 14:59] magento-engcom-team commented on #20816
@amol2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97988` were created

**Issue Available**: @amol2jcommerce, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 15:00] magento-engcom-team commented on #20816
Hi @amol2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-30 15:52] gfxguru commented on #9954
How did you all get around this issue? Same issue here Magento 2.2.7

[2019-01-30 15:52] orlangur commented on #20764
Widgets are normally not removed but used in next promotion, for example, next year. 10 widgets for one promotion does not look realistic as well while it's quite easy to open as many of them as you want and remove one-by-one.

Delete as mass action is not available to avoid data loss as this is quite a non-typical scenario. For products, widgets, maybe some other entities.

Please do not reopen u

[2019-01-30 15:52] #20764 closed, assigned to shikhamis11

[2019-01-30 15:54] milindsingh commented on #20809
@amol2jcommerce What's not proper in the full page design?
@engcom-backlog-nazar I think a issue must be verified by more 1 contributor, to make sure that's it's actually a issue.

[2019-01-30 15:59] eduard13 opened #20819 "[Reports] Refresh Reports Lifetime Statistics action redirects to 404"
### Preconditions (*)

1. Magento 2.3-develop
2.

### Steps to reproduce (*)
1.  Open the backend
2. Navigate to Reports / Refresh Statistics [Statistics]
3. Select several reports
4. Choose from the Action dropdown **Refresh Lifetime Statistics**
5. Click Submit

### Expected result (*)

1. The lifetime statistic are updated.
![xnip2019-01-30_17-44-29](https://user-images.githubusercontent.com/15

[2019-01-30 15:59] magento-engcom-team commented on #20819
Hi @eduard13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-30 15:59] magento-engcom-team commented on #20819
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-30 16:00] magento-engcom-team commented on #20819
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97989` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 16:00] rddwh commented on #20366
@Nazar65 Slight development our end on this.  We have the RabbitMQ management plugin installed and if we force a close on the connection in between sending each payload everything works correctly.  It's feels like something is being cached and forcing a close on the connection clears it.  Hopefully this helps diagnose the issue further, we are continuing to look our end and will post any further i

[2019-01-30 16:03] dmytro-ch commented on #20819
I was able to reproduce the issue in *2.3-develop* branch.

![screen shot 2019-01-30 at 5 58 30 pm](https://user-images.githubusercontent.com/11693779/51994280-1caa8e00-24b9-11e9-8d63-e7ef71bc5adf.png)

Thank you!

[2019-01-30 16:50] amol2jcommerce commented on #20809
Hi @milindsingh, @engcom-backlog-nazar when you check customer registration and contact us page layout design are same but advance search page layout design are different. It's not as per these pages.

[2019-01-30 18:26] #20779 closed, assigned to nobody

[2019-01-30 19:11] cedarvinda commented on #20809
@amol2jcommerce You doing same changes in same file with different PR
https://github.com/magento/magento2/pull/20810/commits/f12116e56e4c77ae0852a3af47f0878baebdd1b8

https://github.com/magento/magento2/pull/20817/commits/604ab26369ae150e108825f26e14a4a9a10268fe

If you have done in PR #20810, Then no need for #20817 PR.

@engcom-backlog-nazar Please check, Right now I am closing #20817
@amol2jcom

[2019-01-30 19:33] 4quaternion opened #20822 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-30 19:33] magento-engcom-team commented on #20822
Hi @4quaternion. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-30 19:37] magento-engcom-team commented on #20822
@4quaternion Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2019-01-30 19:37] magento-engcom-team commented on #20822
:white_check_mark: Confirmed by @4quaternion
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-30 19:38] magento-engcom-team commented on #20822
:white_check_mark: Confirmed by @okorshenko
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-30 19:41] magento-engcom-team commented on #20822
:white_check_mark: Confirmed by @4quaternion
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-30 19:41] magento-engcom-team commented on #20822
@okorshenko Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97993` were created

**Issue Available**: @okorshenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 19:44] #20822 closed, assigned to nobody

[2019-01-30 19:45] 4quaternion opened #20823 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-30 19:45] magento-engcom-team commented on #20823
Hi @4quaternion. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-30 19:46] magento-engcom-team commented on #20823
:white_check_mark: Confirmed by @4quaternion
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-30 19:47] magento-engcom-team commented on #20823
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-30 19:47] magento-engcom-team commented on #20823
@okorshenko Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97994` were created

**Issue Available**: @okorshenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 19:49] #20823 closed, assigned to nobody

[2019-01-30 19:52] okorshenko opened #20824 "Test Issue Workflow"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-30 19:52] magento-engcom-team commented on #20824
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-30 19:52] magento-engcom-team commented on #20824
Hi @4quaternion. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-30 19:53] magento-engcom-team commented on #20824
:white_check_mark: Confirmed by @4quaternion
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-30 19:53] magento-engcom-team commented on #20824
:white_check_mark: Confirmed by @okorshenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97995` were created

**Issue Available**: @okorshenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-30 20:19] #20824 closed, assigned to nobody

[2019-01-30 20:57] ianitsky opened #20825 "Missing required argument $productAvailabilityChecks of Magento\Sales\Model\Order\Reorder\OrderedProductAvailabilityChecker."
### Preconditions (*)

1. Magento 2.2.7
2. PHP 7.1

### Steps to reproduce (*)

1. Admin -> Sales -> Any Order -> Reorder

### Expected result (*)

1. Continue to reorder process.
2.

### Actual result (*)

1. Shows exception:

1 exception(s):
Exception #0 (BadMethodCallException): Missing required argument $productAvailabilityChecks of Magento\Sales\Model\Order\Reorder\OrderedProductAvailabilityC

[2019-01-30 20:58] magento-engcom-team commented on #20825
Hi @ianitsky. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-30 20:58] uandiweb commented on #18819
I can confirm the solution for problem #12240 also resolves this issue (#18819).

[2019-01-30 21:00] magento-seis10 commented on #8897
Still happening on EE2.2.6

[2019-01-30 22:08] Axel29 commented on #20771
Hi,

I can't reproduce this on a fresh installation.
After puttin manually the "queue" table, the setup:upgrade command worked BUT I noticed that none of the new declarative schema tables were created.

It seems like something is blocking them, any idea of what could do that please?

Thank you,

Axel

[2019-01-31 01:08] dominicfernando commented on #20825
@magento-engcom-team give me 2.2-develop instance

[2019-01-31 01:08] magento-engcom-team commented on #20825
Hi @dominicfernando. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-31 01:19] magento-engcom-team commented on #20825
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-31 01:20] shikhamis11 commented on #20825
@magento-engcom-team give me 2.2-develop instance

[2019-01-31 01:20] magento-engcom-team commented on #20825
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-31 01:29] tylers-username opened #20827 "Vertex Module fails test out of the box"
Magento 2.2.4

### Summary (*)
1. Setup fresh install of Magento 2.2.4
1. Follow Magento's instructions to prepare Unit tests
2. Execute: `vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist --testsuite="Magento Unit Tests" vendor/vertex/module-tax/Test/Unit/Observer/CreditMemoObserverTest.php`

environments, and so on. -->

### Examples (*)
1. Passing tests

[code]
### Proposed solution

Additi

[2019-01-31 02:20] allozaur commented on #19786
@Nazar65 yes, of course

![zrzut ekranu 2019-01-31 o 03 19 49](https://user-images.githubusercontent.com/37627284/52026151-1a6f2080-2507-11e9-9cf1-748b6c55931e.jpg)

[2019-01-31 03:50] tylerssn commented on #20827
It turns out that vertex/module-tax does not have the appropriate composer dependency requirements. Version `vertex/module-tax:2.2.1` and up is not compatible with Magento 2.2.4's test suite. Downgrading to `vertex/module-tax:2.2.0` resolved the issue.

[2019-01-31 05:50] shikhamis11 commented on #20805
Hi @craigcarnell thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-31 05:50] #20805 closed, assigned to shikhamis11

[2019-01-31 06:10] Nastradoomus commented on #7497
Just heard a compaint from a customer who could not proceed to check out due to the fact that shipping methods with a price stays hidden after adding post code. I can't reproduce this error and debug it. Can someone verify the steps that led to the problem?

[2019-01-31 06:21] nainesh2jcommerce commented on #20825
@magento-engcom-team give me 2.2-develop instance

[2019-01-31 06:22] magento-engcom-team commented on #20825
Hi @nainesh2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-31 06:22] magento-engcom-team commented on #20825
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-31 06:54] shikhamis11 commented on #20825
Hi @dominicfernando I checked the issue at my local environment with current 2.2- develop branch code . This issue is not reproducable so I am closing this. You can share screenshots here if you still get issue in 2.2-develop branch

[2019-01-31 07:01] magento-engcom-team commented on #18348
Hi @ravi-chandra3197. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><su

[2019-01-31 07:02] ravi-chandra3197 commented on #18348
@magento-engcom-team give me 2.3-develop instance

[2019-01-31 07:02] magento-engcom-team commented on #18348
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 07:45] magento-engcom-team commented on #20604
Hi @ajay2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20605 by @ajay2jcommerce in 2.3-develop branch
Related commit(s):
 - [93b34b0cd11280b1c9961d0a6f6c0a1f1a597b49](https://github.com/magento/magento2/commit/93b34b0cd11280b1c9961d0a6f6c0a1f1a597b49)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-31 07:45] #20604 closed, assigned to nainesh2jcommerce, ajay2jcommerce

[2019-01-31 07:45] magento-engcom-team commented on #20614
Hi @mage2pratik. Thank you for your report.
The issue has been fixed in magento/magento2#20615 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [e9c1157920db61ec0d8717fe81f279de4a741093](https://github.com/magento/magento2/commit/e9c1157920db61ec0d8717fe81f279de4a741093)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-31 07:45] #20614 closed, assigned to nobody

[2019-01-31 07:45] magento-engcom-team commented on #19139
Hi @rafaelstz. Thank you for your report.
The issue has been fixed in magento/magento2#20630 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [21567eb58024d7672e245c39b900eff829b315cb](https://github.com/magento/magento2/commit/21567eb58024d7672e245c39b900eff829b315cb)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-31 07:45] #19139 closed, assigned to suryakant-krish

[2019-01-31 07:45] magento-engcom-team commented on #20624
Hi @andkirby. Thank you for your report.
The issue has been fixed in magento/magento2#20625 by @irajneeshgupta in 2.3-develop branch
Related commit(s):
 - [7e4691723e6e3118404541c8e7625346dd8e8545](https://github.com/magento/magento2/commit/7e4691723e6e3118404541c8e7625346dd8e8545)
 - [de2010cedd15a9a5d8c0bc8703e3af87b849eeec](https://github.com/magento/magento2/commit/de2010cedd15a9a5d8c0bc8703e3

[2019-01-31 07:45] magento-engcom-team commented on #20137
Hi @nainesh2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20144 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [4441124c4a655da5bf3631af20461e2be8bf40a3](https://github.com/magento/magento2/commit/4441124c4a655da5bf3631af20461e2be8bf40a3)
 - [fe78cec2b588db90263a188a1980dfd2c606ea31](https://github.com/magento/magento2/commit/fe78cec2b588db90263a188

[2019-01-31 07:45] #20624 closed, assigned to nobody

[2019-01-31 07:45] #20137 closed, assigned to cedarvinda

[2019-01-31 07:45] #19328 closed, assigned to SyntaxKay

[2019-01-31 07:46] magento-engcom-team commented on #20827
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 07:46] magento-engcom-team commented on #20815
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 07:46] magento-engcom-team commented on #20806
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 07:47] mohammadzakir opened #20828 "Newsletter Problem Grid Filter issue"
### Preconditions (*)

1.Magento2.3 or Magento2.3-develop
2.Php 7.2

### Steps to reproduce (*)

1.Go To Magento Backend
2.Navigate to Reports->Newsletter Problem Reports
3.Grid Will Open
4.Click on Search or Reset Filter Button

### Expected result (*)
1. Gird With Filter Data Should Come

### Actual result (*)

1. No data is coming.
2.To many redirects error coming in firefox

![errornewsletter]

[2019-01-31 07:47] magento-engcom-team commented on #20828
Hi @mohammadzakir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-31 07:47] magento-engcom-team commented on #20828
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-31 07:48] magento-engcom-team commented on #20828
:white_check_mark: Confirmed by @GovindaSharma
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 07:50] magento-engcom-team commented on #20809
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-31 07:54] dipti2jcommerce opened #20830 "On Header customer name appearing twice after login"
On header customer name is twice ,it should be show only once

### Preconditions (*)

1.Magento version 2.3 luma theme
2.Desktop view

### Steps to reproduce (*)

1.Go to login page after login ,customer full name is present twice one in welcome message and second in drop down

### Expected result (*)
![2019-01-30_13-51_my account](https://user-images.githubusercontent.com/18118638/52039072-87aba1

[2019-01-31 07:54] magento-engcom-team commented on #20830
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-31 07:54] magento-engcom-team commented on #20828
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98001` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-31 07:54] magento-engcom-team commented on #20830
Hi @priti2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-31 07:55] magento-engcom-team commented on #20828
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-31 07:55] mehmetselim opened #20831 "External Request - Invalid Form Key"
**Preconditions (*)**
Magento 2.3.0

**Steps to reproduce (*)**
I sent a “POST” request via external server for version magento-2.3

**Expected result (*)**
Redirect "checkout/onepage/success/page"

**Actual result (*)**
My internal Magento URL cannot verify and response is "Invalid Form Key. Please refresh the page."

**Additional information**
I do not experience this problem on Magento 2.2.6.