[2016-08-16 10:22] Vico1993 opened #6181 "php indexer:reindex catalogsearch_fulltext unknow error"
### Preconditions

1. PHP 5.6 / Mysql server 5.6.16 / Magento 2.1
### Steps to reproduce

1. I try cmd : bin/magento indexer:reindex catalogsearch_fulltext
### Expected result

1.
### Actual result

1. Error while sending QUERY packet. PID=8438 in /magento2/vendor/magento/zendframework1/library/Zend/Db/Adapter/Pdo/Abstract.php on line 307
2. I have try to change my.conf, max_allowed_packet=64M but

[2016-08-16 10:25] andimov commented on #5929
@JacobDrummond @Cacasapo
Thanks! I've created an internal ticket for this issue - MAGETWO-56862 and linked it to this one.

[2016-08-16 10:31] andimov commented on #5923
@JacobDrummond @Cacasapo
Thanks! I've created an internal ticket for this issue - MAGETWO-56863 and linked it to this one.

[2016-08-16 11:02] andimov commented on #6177
@Umfi
Thank you for reporting!
Glad that you have found a solution.
Please recheck that your problem is solved, and I will close this issue as 'not a bug'.

[2016-08-16 11:09] Umfi commented on #6177
problem was fixed. so ticket can be closed.

[2016-08-16 11:09] #6177 closed, assigned to nobody

[2016-08-16 11:10] sergiojovanig commented on #5101
Magento 2.1.0 and same issue.

[2016-08-16 11:14] Andranikbaghdasaryan commented on #5526
Does this problem already solved? @dthampy

[2016-08-16 11:14] wert2all commented on #3484
Please, provide the used Magento version.

[2016-08-16 11:16] Nehace40 opened #6182 "Notification shows so many time after refresh page or redirect to other page"
![screen_shot_2016-08-04_at_5 08 02_pm](https://cloud.githubusercontent.com/assets/12808582/17697083/48e02ee6-63d0-11e6-95aa-382423689697.png)

Notification of 'AAA' product add to cart if i am add 'BBB' product to cart that time also both product notification showing but as expected result it should be shown only last product add notification. see attached image

if i am refreshing page than noti

[2016-08-16 11:17] NadiyaS commented on #5101
Hi ,
fix [02bc3fc](https://github.com/magento/magento2/commit/02bc3fc42bf041919af6200f5dbba071ae3f2020) was delivered to develop branch. See #5116

[2016-08-16 11:26] andimov commented on #6182
@Nehace40
Thank you for reporting!
We already have this issue #5657.
So I'm closing this one as duplicate. Please feel free to reopen if you need.

[2016-08-16 11:26] #6182 closed, assigned to nobody

[2016-08-16 11:29] Nehace40 commented on #5657
@andimov is there any update about this?

[2016-08-16 11:32] andimov commented on #4929
@jldmn
Please, check this troubleshoot doc:
 [Setup Wizard installation stops at about 70%](http://devdocs.magento.com/guides/v2.0/install-gde/trouble/php/tshoot_70pct.html) and let me know if your problem been solved.

[2016-08-16 11:34] wert2all commented on #6161
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result. This will help to reproduce the issue for me.

[2016-08-16 11:34] sma09sjb commented on #5843
Hi,

Do we have an update on this, i'm experiencing a similar bug when i configure Paypal Express Checkout. The payment goes through in my sandbox account, but i'm getting the following critical exception

`Exception: Wrong order ID: "000000005".`

![image](https://cloud.githubusercontent.com/assets/19289786/17767596/7c1edc5e-6528-11e6-8bb6-4f753084d01b.png)

And when i return back to my site, i'm

[2016-08-16 11:41] katmoon commented on #6170
Hi @robilomas
1. Which [Magento mode](http://devdocs.magento.com/guides/v2.0/config-guide/bootstrap/magento-modes.html) do you use? You can see more errors on browser page in `developer` mode. Are there any errors in magento/apache/php logs?
2. What happens if you clear cookies and cache and try to login to Admin with the password you entered on the Reset password screen?

Thanks,
Kateryna.

[2016-08-16 11:44] #6179 closed, assigned to nobody

[2016-08-16 11:44] Umfi opened #6183 "Newsletter subscription not working on create customer account"
Some how i get an wrong email when register an customer account and check the "newsletter" checkbox.

![image](https://cloud.githubusercontent.com/assets/13978552/17697782/17f99f1a-63b7-11e6-80f4-0260e70ee92b.png)

But i got the wrong email - an wrong action is triggered.
I get an unsubscribe mail and when i check in customer area i am not subscribed to the newsletter.

![image](https://cloud.gith

[2016-08-16 11:46] andimov commented on #5657
@Nehace40
In the near future, one of our team will reproduce it and will create an internal ticket to fix it.

[2016-08-16 11:46] wert2all commented on #6180
If you find a copy of this issue,  please add a link to  the ticket and close this one.

[2016-08-16 11:48] alena-marchenko commented on #6178
hi @Aartitops

We should not show response from Braintree directly to the customer, since it may cause potential security issue. You can find error in response from Braintree in var/log/debug.log under magento root folder. For this you need to enable debug for Braintree (Debug = Yes at Stores > Configuration > Sales > Payment Methods > Braintree > Advanced Braintree Settings).

[2016-08-16 11:48] gabriel-sf commented on #5902
Just to add a note (since I just fixed it after 3 full days), renaming the tables and removing the table prefix also solved the 400 error for PayFlow Pro.

[2016-08-16 11:49] gabriel-sf commented on #5409
Just to add a note (since I just fixed it after 3 full days), renaming the tables and removing the table prefix also solved the 400 error for me using PayFlow Pro.

[2016-08-16 11:50] gabriel-sf commented on #5479
Just to add a note (since I just fixed it after 3 full days), renaming the tables and removing the table prefix solved the 400 error for me using PayFlow Pro. --> Same thing as other posts using BrainTree

[2016-08-16 11:51] gabriel-sf commented on #3509
Just to add a note (since I just fixed it after 3 full days), renaming the tables and removing the table prefix solved the 400 error for me using PayFlow Pro. --> Same thing as other posts using BrainTree

[2016-08-16 11:52] andidhouse commented on #6180
Here is the other post:

https://github.com/magento/magento2/issues/5948

[2016-08-16 11:53] andidhouse commented on #6180
I can not close this one as it is not my ticket.

[2016-08-16 11:57] wert2all commented on #4694
Thanks for reporting. Internal ticket MAGETWO-56126 was created.

[2016-08-16 11:58] wert2all commented on #6180
@andidhouse Thank you for help.

Closed as a copy.

[2016-08-16 11:58] #6180 closed, assigned to nobody

[2016-08-16 11:59] Aartitops commented on #6178
Hi,
I have already check debug.log and i see my braintree error is 'No account'.
So now i want show this 'No account' error from braintree error list on click on 'place order' button so, customer can't confused.
Thanks.

[2016-08-16 11:59] andimov commented on #5306
@hgpit
Try to use one of [iana list of tlds](http://data.iana.org/TLD/tlds-alpha-by-domain.txt) for importing from URLs.
Please, let me know when your issue will be solved.

[2016-08-16 11:59] veloraven commented on #6101
@adamaoo thank you for your report.
Please provide information if it was clear Magento install or upgrade from some other version.
Please let us know if you can reproduce this issue on Linux operating system as Magento [does not support Windows](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html).
Also if your question refers to EE please address it to Support.

[2016-08-16 12:03] #2798 closed, assigned to nobody

[2016-08-16 12:03] andimov commented on #4928
@Asitis
Thank you for reporting!
So, this issue is not reproduced for now with the same steps and environment?
Is it reasonable to close a ticket as 'non-reproduced'?

[2016-08-16 12:04] andimov commented on #5134
@springimport
Did you try the solution above?

[2016-08-16 12:07] katmoon commented on #6116
Hi @ladonenko

Thank you for reporting the issue. It is reported as `MAGETWO-56866` internally.

Thanks,
Kateryna.

[2016-08-16 12:21] veloraven commented on #3425
@RohitSavaliya thank you for your question.
No, Magento does not support IIS as it does not support Windows operating system: http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html
If you really need this functionality you can create a feature request for it.

[2016-08-16 12:21] #3425 closed, assigned to nobody

[2016-08-16 12:25] wert2all commented on #2615
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-16 12:28] wert2all commented on #2578
Closed as copy #2558

[2016-08-16 12:28] #2578 closed, assigned to nobody

[2016-08-16 12:30] wert2all commented on #2837
Closed as fixed

[2016-08-16 12:30] #2837 closed, assigned to nobody

[2016-08-16 12:31] andimov commented on #3385
@chriskamps
Thank you for reporting!
We already work on duplicate issue #3904 so  I'm closing this one. Please feel free to reopen if you need.

[2016-08-16 12:31] #3385 closed, assigned to nobody

[2016-08-16 12:34] veloraven commented on #2934
@gitpramos thank you for your request.
Please provide information if this issue is still actual and for which version if it is.
Please also follow the template for description, including steps to reproduce, actual result and expected result.

[2016-08-16 12:37] andimov commented on #4889
@thdoan
Thank you for reporting! Please check the solution from
https://github.com/magento/magento2/issues/2400#issuecomment-162648646

[2016-08-16 12:43] veloraven commented on #2937
@dexteritycc please provide the used Magento version.
Internal ticket MAGETWO-56349 is already created for the issue #5943 which is a duplicate for this one.

[2016-08-16 12:49] veloraven commented on #3025
@gustavnilsson14 is this issue still actual?
Please, provide the used Magento version and information if it was clear install or upgrade from some other version if yes.
Please close this issue if it is not actual now.

[2016-08-16 12:50] andimov commented on #4881
@RG-1
This issue has been fixed and delivered to mainline.

[2016-08-16 12:50] #4881 closed, assigned to nobody

[2016-08-16 12:53] andimov commented on #4850
Internal ticket MAGETWO-53927 has been closed as 'can't reproduce'.

[2016-08-16 12:53] #4850 closed, assigned to nobody

[2016-08-16 12:54] wert2all commented on #3041
Fixed

[2016-08-16 12:54] #3041 closed, assigned to nobody

[2016-08-16 12:56] wert2all commented on #2865
Fixed

[2016-08-16 12:56] #2865 closed, assigned to nobody

[2016-08-16 12:58] wert2all commented on #2930
Ticket MAGETWO-48346 was closed

[2016-08-16 12:58] #2930 closed, assigned to nobody

[2016-08-16 12:59] andimov commented on #4394
This issue has been fixed and delivered to mainline.

[2016-08-16 12:59] #4394 closed, assigned to nobody

[2016-08-16 12:59] tejashp77 commented on #2991
from API call it not goes to 'sales_quote_save_before' event. i have tried by put events.xml in etc folder and etc/frontend   both.

[2016-08-16 12:59] wert2all commented on #3019
Fixed

[2016-08-16 12:59] #3019 closed, assigned to nobody

[2016-08-16 13:00] andimov commented on #4362
This issue has been fixed and delivered to mainline.

[2016-08-16 13:00] #4362 closed

[2016-08-16 13:00] ndsina opened #6184 "Grouped product import fails for non-default stores"
### Steps to reproduce

1. Go to Admin -> System -> Import
2. Select import product
3. Import CSV file with grouped products
### Expected result

1. Import successfully done
### Actual result

1. Import fails with the following error: Undefined index 'attr_set_code' in vendor/magento/module-grouped-import-export/Model/Import/Product/Type/Grouped.php

As a variant of fix could be used this code in

[2016-08-16 13:00] andimov commented on #4305
This issue has been fixed and delivered to mainline.

[2016-08-16 13:00] #4305 closed, assigned to nobody

[2016-08-16 13:05] wert2all commented on #3317
Fixed

[2016-08-16 13:05] #3317 closed, assigned to nobody

[2016-08-16 13:14] wert2all commented on #3562
Fixed

[2016-08-16 13:14] #3562 closed, assigned to nobody

[2016-08-16 13:16] wert2all commented on #3754
Fixed

[2016-08-16 13:16] #3754 closed, assigned to nobody

[2016-08-16 13:18] dexterityzx commented on #2937
magento 2.0.7

[2016-08-16 13:18] alena-marchenko commented on #6178
@Aartitops ,

We do not show error messages received from payment gateway directly to customer, since they can contain sensitive information. Also, response like "No account" is not informative for customers.

[2016-08-16 13:22] Aartitops commented on #6178
Hi,
I want to show No account means 'The submitted card number is not on file with the card-issuing bank. The customer will need to contact their bank.'  instead of 'unable to pleace order. try again later'.
It is possible or not?
Thanks.

[2016-08-16 13:27] hgpit commented on #5306
@andimov
I can't (and would not) change my entire enterprise's internal domain naming conventions for Magento.

[2016-08-16 13:28] veloraven commented on #3125
@hgpit thank you for your question.
You should increase memory limit in php.ini file.

[2016-08-16 13:30] andimov commented on #5232
@SolPin
Thank you for reporting!
But I closed it as Migration Tool issue.
If this issue is still actual for you, please create a ticket here https://github.com/magento/data-migration-tool/issues

[2016-08-16 13:30] #5232 closed, assigned to nobody

[2016-08-16 13:35] veloraven commented on #3304
@deltab thank you for your report.
Please provide information about versions you used.

[2016-08-16 13:40] katmoon commented on #6121
Hi @simonxy @apurv-anand

Thank you for reporting the issue. It is reported as `MAGETWO-54964` internally.

Thanks,
Kateryna.

[2016-08-16 13:44] veloraven commented on #3394
@Zocky01 thank you for your report.
If this issue is still actual please provide version for which it is actual.
I can suppose that you used some localization, please provide information about used localization as well.
If this issue is not actual anymore, please close it.

[2016-08-16 13:57] katmoon commented on #6176
Hi @adityag186

I cannot reproduce the issue on 2.1.
Is the error reproducible?
Is the category enabled?
What happens if you disable it, save, enable, save?

Thanks,
Kateryna.

[2016-08-16 13:58] alena-marchenko commented on #6178
@Aartitops ,

We do not receive error "The submitted card number is not on file with the card-issuing bank. The customer will need to contact their bank." in response from Braintree so Magento don't have detailed error description for displaying it to customer or in logs. Also, displaying errors from Braintree response to customer can cause security issues.

[2016-08-16 14:00] veloraven commented on #3870
@gammyduck thank you for your report.
Please, provide the used Magento version. Please also provide information if it was clear install or upgrade from some previous version.

[2016-08-16 14:08] veloraven commented on #5061
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.

[2016-08-16 14:08] #5061 closed, assigned to nobody

[2016-08-16 14:10] Aartitops commented on #6178
Hi,
So what can i do for solve this issue because with this error customer can't place order.
and it is working also live but it is not working in local server.
Can you give me please demo credit card detail for braintree?
Thanks.

[2016-08-16 14:12] katmoon commented on #6168
Hi @heldchen

Thank you for reporting the issue. It is reported as `MAGETWO-56869` internally.

Thanks,
Kateryna.

[2016-08-16 14:16] #5244 closed, assigned to nobody

[2016-08-16 14:27] andimov commented on #4655
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-16 14:27] #4655 closed, assigned to nobody

[2016-08-16 14:28] andimov commented on #4568
@stamster
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-16 14:30] alena-marchenko commented on #6178
@Aartitops ,

You can find detailed information regarding Braintree testing on their website https://developers.braintreepayments.com/reference/general/testing/php
Please inform us if this helped you.
If you still experience the issue, provide us with detailed description of it for us to be able to investigate it further:
- exact steps to reproduce the issue
- exception, debug logs
- screenshot of

[2016-08-16 14:30] andimov commented on #4530
@vduglued
Thank you for clarification on this issue!
@ntoombs19
Is it make sense for you?

[2016-08-16 14:33] wert2all commented on #2951
Thanks for response. Internal ticket MAGETWO-56872 was created.

[2016-08-16 14:34] andimov commented on #4429
@devdesco-ceo
Sorry for late reply!
Is this issue still actual for you?

[2016-08-16 14:35] andimov commented on #3335
@maciejvel
Sorry for late reply!
Is this issue still actual for you?

[2016-08-16 14:38] andimov commented on #3349
@cerovicmarko
Thank you for reporting!
Please provide more detailed info about your environment to reproduce it.

[2016-08-16 14:45] andimov commented on #3324
@sIiiS
Thank you for reporting!
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-16 14:46] andimov commented on #3570
@devdesco-ceo
Thank you for reporting!
To allow us to research the issue, please, provide description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, provide the used version also. If the problem is actual for a specific tag, please, specify it and be sure that th

[2016-08-16 14:47] andimov commented on #3574
@giangitman
Thank you for reporting!
To allow us to research the issue, please, provide description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, provide the used version also. If the problem is actual for a specific tag, please, specify it and be sure that the

[2016-08-16 14:48] andimov commented on #3296
@shinethazhava
Thank you for reporting!
To allow us to research the issue, please, provide description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, provide the used version also. If the problem is actual for a specific tag, please, specify it and be sure that t

[2016-08-16 14:48] andimov commented on #3290
@jalogut
Do you have any update for this issue?

[2016-08-16 14:54] davidverholen commented on #3605
what about 2.1 ;) respectively when will 2.1.1 be released?

[2016-08-16 14:56] andimov commented on #3199
@sergei-sss
Thanks for reporting!
To allow us to research the issue, please, provide description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-16 14:57] andimov commented on #2995
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-16 14:58] andimov commented on #2362
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-16 15:00] andimov commented on #2353
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-16 15:02] ntoombs19 commented on #4530
@andimov Yes that makes sense. I've corrected my mistake.
@vduglued Thank you for finding my error. It is indeed very confusing to have negative boolean variable names.

[2016-08-16 15:03] andimov commented on #3151
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-16 15:03] andimov commented on #2980
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-16 15:07] andimov commented on #2830
RAM requirements was updated.

[2016-08-16 15:07] #2830 closed, assigned to nobody

[2016-08-16 15:07] andimov commented on #2785
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-16 15:09] deltab commented on #3304
`git branch -v` output:
- develop 01141f4 Merge pull request #342 from magento-extensibility/MAGETWO-38635-prs

composer.json starts with:

[code]

Would composer.lock be useful? Something else?

[2016-08-16 15:11] andimov commented on #2387
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-16 15:11] andimov commented on #2249
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?

[2016-08-16 15:12] andimov commented on #2240
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-16 15:12] andimov commented on #2198
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?

[2016-08-16 15:12] andimov commented on #2188
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?

[2016-08-16 15:13] andimov commented on #2184
Fixed

[2016-08-16 15:13] #2184 closed

[2016-08-16 15:15] andimov commented on #1907
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?

[2016-08-16 15:17] andimov commented on #2024
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-16 15:17] andimov commented on #2439
@mage2pro
Could you please provide description according to the template.?

[2016-08-16 15:18] andimov commented on #2949
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.

[2016-08-16 15:18] #2949 closed, assigned to nobody

[2016-08-16 15:30] andimov commented on #3320
@mariarti
Looks like this is not a Magento bug.
Do you have any other questions?

[2016-08-16 15:30] sma09sjb commented on #6077
Hi i've changed the file name and i'm now able to run the compile command, however i'm now having issues deploying static content.

I'm trying to switch to production mode

[code]

The final command throws the following error, and as a consequence non of the css/js is loaded, the site is unstyled.

[code]

 I'm not sure what i'm doing wrong here?

[2016-08-16 15:32] andimov commented on #3610
@peterjaap
Did you try to use $PROJECT_DIR$ as a solution?

[2016-08-16 15:35] YevSent commented on #6077
Hi @sma09sjb, please, create separate Github issue, because new problem not related to the original problem.

Close this issue as solved, please, be free to reopen it.

[2016-08-16 15:35] #6077 closed, assigned to nobody

[2016-08-16 15:37] sma09sjb opened #6185 "Switching to production mode - deploying static content"
I'm trying to switch to production mode on our live server.

Running CE 2.1.

[code]

The final command throws the following error, and as a consequence non of the css/js is loaded, the site is unstyled.

[code]

I've tried deploying static content before running the compile command but this doesn't work either.
After running compile all subsequent commands throw this error.

I'm not sure what i'm

[2016-08-16 15:43] andimov commented on #5150
@dmcmillin
Have you tried the solution from the comment above?

[2016-08-16 15:43] blizam commented on #6161
Create 2 images that look different but have the same filename

Create a new product. Add the first image to it. Save it. Create a new product, add the 2nd image to it... you'll see the thumbnail/preview of the first image.

The same thing will happen if you have 2 products already created and you try to update their images

[2016-08-16 15:46] andimov commented on #4530
@ntoombs19
Ok, thank you! So I'll close this issue as not a bug. Feel free to reopen if it needed.

[2016-08-16 15:46] andimov commented on #4084
@virani06
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-16 15:46] #4084 closed, assigned to nobody

[2016-08-16 15:47] andimov commented on #4411
@caleoroco
To allow us to research the issue, please, provide description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, provide the used version also. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-08-16 15:49] andimov commented on #4834
@antonlazarchenko
Thanks for assistance!
@mebbopakko
I'll close this issue as 'not a bug'. Please feel free to reopen if it's needed.

[2016-08-16 15:49] #4834 closed, assigned to nobody

[2016-08-16 15:50] andimov commented on #5020
@jldmn
Thanks for reporting.
To allow us to research the issue, please, provide description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, provide the used version also. If the problem is actual for a specific tag, please, specify it and be sure that the latest u

[2016-08-16 15:52] vduglued commented on #4530
I think the bug is valid. The error was in reporting it in a slightly confusing way, but the bug is definitely real...

[2016-08-16 15:53] ntoombs19 commented on #4530
@andimov I think you misunderstood. I made a mistake in my initial bug report saying to change the last parameter to true when I meant to say false. This is indeed a bug and it needs to be resolved. This issue needs to be reopened and my updated bug report needs to be reproduced and confirmed as a bug and then fixed.

[2016-08-16 15:56] andimov commented on #4530
@ntoombs19 @vduglued
Ok!

[2016-08-16 16:05] andimov commented on #3145
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-16 16:05] #3145 closed, assigned to nobody

[2016-08-16 16:52] NisaKH commented on #2991
@tejashp77

just put it in etc/events.xml should be enough.

This is how i put the event.
`
    <event name="sales_quote_save_before">
        <observer name="cart_save" instance="VendorName\ModuleName\Observer\CartObserver" shared="false" />
    </event>`

It should be tricked when your customer add a product to cart. please check again :)

[2016-08-16 17:17] ChristopheFerreboeuf opened #6187 "Date creation not consistent with Magento/DateTime with french format"
### Preconditions
Magento `develop` branch

When you try to create a date with magento datetime the format is forgotten during the process.
The function date calls $this->timestamp($input) that contains a strtotime when the input is a string. Therefore, the function strtotime returns false because it does not take in account the format given.
We need to consider whether we change the description o

[2016-08-16 17:47] AlfredoGH opened #6188 "Single Magento installation with multiple websites and domains. Customer Login session."
How to have a single Customer Login in differents Domains?
I had read a lot but not found a concrete solution about how to keep Logged in a customer that goes from site www.abc.com to www.xyz.com
What is the best solution to do this?
- I have one Magento installation. 2 Websites created with different domain names.
- I'm already Sharing the Customers Users, it is set it up as Global.

There is not

[2016-08-16 17:51] springimport commented on #5134
Yes.

Thanks, all worked well.

[2016-08-16 18:38] dthampy commented on #6181
@Vico1993 , what did you change in the my.cnf file?
Also can you please try to  increase wait_timeout, connect_timeout and delayed_insert_time out values in addition to the max_allowed_packet and see if the error shows up ?

[2016-08-16 19:31] rab14191 commented on #6154
Magento-CE-2.1.0

.post-list-wrapper{
    .post-list{
        padding:0;
        margin:0;
        .post-header .post-title{

[code]

}
//
.post-view{
    .post-holder{
        .lib-css(background-color, @main_block_background);
        padding:20px;
        .abs-boxshadow(@box-shadow);
        .abs-borderradius(@border-radius);
        margin:0;
        .post-image{
            margin-bottom:20px

[2016-08-16 20:30] romeof1980 opened #6189 "A final "@" in Magento 2 admin address leads to static files links error"
In version 2.0.2 , 2.0.6, 2.1.0 we'd advise to not use a final "@" in your Magento 2 admin address:
i.e. with a final "@" in env.php you could see (correctly):

array (
    'frontName' => 'myadmin@',
  ),

That will lead to a modification of some links that point to the static files (in Production).
i.e. mysite.com/myadmin@  will become the follow link:  mysite.com/myadmin@mysite.com/
leading to t

[2016-08-16 20:53] ghost commented on #3125
We have some `memory_limit` guidelines [here](http://devdocs.magento.com/guides/v2.1/install-gde/prereq/php-ubuntu.html#instgde-prereq-timezone). Let us know if they help you.

[2016-08-16 20:54] Ctucker9233 commented on #6149
Is your issue with Magento 1 or Magento 2. This github is only for Magento 2. To answer your question though, it seems Magento 2 has self cleaning behavior. Any time a product is deleted or any single image is removed, the image(s) is/are removed from the media folder.

[2016-08-16 21:00] Ctucker9233 commented on #5836
I have noticed this behavior as well. I have to run indexer:reindex and it makes my debug.log incredibly large. It's a pain but I clear out information that is more than a month old. Magento 1 had an automated function to clear the logs. Wish they would bring that back.

[2016-08-16 21:39] juanmrad opened #6190 "Product Attribute Delete Button not found."
I can't delete any product attribute since I can't select them or click any delete button. Also when editing them there is no delete option.

![screen shot 2016-08-16 at 4 37 22 pm](https://cloud.githubusercontent.com/assets/5447733/17716783/d3ae79c0-63cf-11e6-9a86-f2f10301196b.png)

[2016-08-16 22:12] stamster commented on #4568
@andimov
This is just a link to original issue, that's why it is missing text desc.

https://github.com/magento/magento2-sample-data/issues/19

[2016-08-16 22:26] ps202 commented on #4101
Any update on this?

[2016-08-17 00:01] stepzerosolutions commented on #5593
HI

I've set up a multistore site with to domains

http://australian.fc5.forge.co.nz
http://multidomain.fc5.forge.co.nz

Links are working fin with one luma theme and one blank theme.

However If you try http://multidomain.fc5.forge.co.nz/admin/

It gives you page isn't redirecting error

here is the Error Log

<code>
[Wed Aug 17 11:44:18.774693 2016] [access_compat:error] [pid 23] [client 172.18.

[2016-08-17 00:57] j4hangir commented on #5963
This might be relevant, but here having the same exact version of Magento, it is impossible to create a new attribute:

`post /rest/V1/products/attributes`
body:
`{
  'attribute': {
    'default_frontend_label': 'azmun',
    'frontend_labels': [{'store_id': 1, 'label': 'azmun'}],
               'is_required ': False, 'frontend_input': 'azmun'
    }
 }
`

[2016-08-17 01:02] j4hangir commented on #5963
This might be relevant, but here having the same exact version of Magento, it is impossible to create a new attribute:

`post /rest/V1/products/attributes`
body:
`{
  'attribute': {
    'default_frontend_label': 'azmun',
    'frontend_labels': [{'store_id': 1, 'label': 'azmun'}],
               'is_required ': False, 'frontend_input': 'azmun'
    }
 }
`

While the same exception will be thrown:
`E

[2016-08-17 01:02] j4hangir commented on #5963
This might be relevant, but here having the same exact version of Magento, it is impossible to create a new attribute:

`post /rest/V1/products/attributes`
body:
`{
  'attribute': {
    'default_frontend_label': 'azmun',
    'frontend_labels': [{'store_id': 1, 'label': 'azmun'}],
               'is_required ': False, 'frontend_input': 'azmun'
    }
 }
`

While the same exception will be thrown:
`E

[2016-08-17 03:49] yssource commented on #1471
Same issue using 2.1 importing 500 products.
But, if I separate 500 products in one csv file to 5 copies, which one has 100 products, then importing. It's going to work successfully.

[2016-08-17 04:55] Aartitops commented on #6178
Hi,
I want to print only braintree error insted of 'unable to place order. please try again later' if order can't place into checkout page.
It is possible?
Thanks.

[2016-08-17 04:55] Aartitops commented on #6178
Hi,
I want to print only braintree error insted of 'unable to place order. please try again later' if order can't place into checkout page.
It is possible?
Thanks.

[2016-08-17 05:42] veloraven commented on #5034
@Taral-Patoliya thank you for your report.
Please provide the used Magento version (and if it was clear install or upgrade), and description according to the template: with more detailed steps,  actual result and expected result.
Please also provide information about your environment: PHP, MySQL and web-server versions.

[2016-08-17 05:47] veloraven commented on #4989
@delyriand thank you for your report.
Please specify used Magento version and provide description according to the template: with steps, actual result and expected result.

[2016-08-17 05:54] veloraven commented on #3089
Closed as this issue was already fixed.

[2016-08-17 05:54] #3089 closed, assigned to MomotenkoNatalia

[2016-08-17 06:03] klarlichter opened #6192 "content:deploy Error zendframework"
Hello,
we get the following error message while content:deploy:

[code]

How we can solve the issue?

We are using Magento 2.1.0

[2016-08-17 06:06] Taral-Patoliya commented on #5034
@veloraven  I am using magento 2.0.7, I was able to solve the issue by upgrading the version of php from 7.0.6 to 7.0.8 and following the instruction by @stamster , seems that the php version 7.0.6 had some memory leak bug.

[2016-08-17 06:28] radhagobinda commented on #6174
@palamar Please check that.

[2016-08-17 06:28] wert2all commented on #6192
This is an issue of Mysql. You can read about this  [here](http://stackoverflow.com/questions/30753674/error-while-sending-query-packet)

[2016-08-17 06:28] #6192 closed, assigned to nobody

[2016-08-17 07:02] Vico1993 commented on #6181
When I searched on google, I found that could be the max_allowed_packet, so i added this.

[code]

I will try with wait_timeout, connect_timeout and delayed_insert_time.

[2016-08-17 07:10] Vico1993 commented on #6181
Ok @dthampy, now with something like this in my file /etc/mysql/my.cnf, i have the same issue.

[code]

[2016-08-17 07:15] delyriand commented on #4989
### Preconditions
1. Magento 2.0.6
2. PHP 5.6.20

### Steps to reproduce
1. Create a Product CSV file with multiple store data :
   - Add X products rows (X = config value import/format_v2/bunch_size)
   - And X+1 row, add an existing product in X rows with different store.
2. Go to System > Import
3. Launch product import

### Expected result
1. Products imported without error
2. Product with dif

[2016-08-17 07:16] veloraven commented on #3345
@werdlv thank you for your feedback.
Please provide the used Magento version if this issue is still actual, or close it if it is not.
Please also format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-17 07:17] veloraven commented on #3434
@mstrigkos thank you for your report.
Please, provide the used Magento version.

[2016-08-17 07:23] veloraven commented on #3501
@tungmpo thank you for your report.
Please, provide the used Magento version. Was it clear install or upgrade from some previous version?

[2016-08-17 07:26] veloraven commented on #3527
@jahved thank you for your feedback.
Is this issue still actual? Please close it if it is not.
Please, provide the used Magento version if it is still actual.
Please, also format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-17 07:27] veloraven commented on #3543
@Widmayer thank you for your report.
Please, provide the used Magento version.

[2016-08-17 07:29] Taral-Patoliya opened #6193 "Magento 2.0.7 Import Products sets default behaviour as append, need add_update"
I am importing the products using array instead of csv, And using [FireGento_FastSimpleImport2](https://github.com/firegento/FireGento_FastSimpleImport2) Module to pass the product array to the import model. I have set the behavior of import to be  'add_append', but [getBehavior() method](https://github.com/magento/magento2/blob/develop/app/code/Magento/ImportExport/Model/Import/Entity/AbstractEnt

[2016-08-17 07:30] veloraven commented on #3766
@zamboni084 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-17 07:31] andimov commented on #5500
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-17 07:31] #5500 closed, assigned to nobody

[2016-08-17 07:31] adityag186 opened #6194 "Magento 2 Payment Gateway Integration issue"
### Preconditions

1. Magento 2.1.0
2.
### Steps to reproduce

1. Go to <magento base folder>/app/
2. if "code" folder is already exists, then copy the "Ebs" folder and paste it inside "code" folder else create "code" folder and copy it.
3. Once "Ebs" folder is copied to "app/code" folder then go to <magento base folder>/bin in command line (CLI).
4. Type below listed commands
       4.1. php mage

[2016-08-17 07:31] andimov commented on #5506
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-17 07:31] #5506 closed, assigned to nobody

[2016-08-17 07:31] andimov commented on #5541
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-17 07:31] #5541 closed, assigned to nobody

[2016-08-17 07:32] andimov commented on #5540
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-17 07:32] #5540 closed, assigned to nobody

[2016-08-17 07:32] andimov commented on #5556
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-17 07:32] #5556 closed, assigned to nobody

[2016-08-17 07:32] andimov commented on #5559
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-17 07:32] #5559 closed, assigned to nobody

[2016-08-17 07:32] radhagobinda commented on #6174
Above I mention that I shifted my code one server to another server and domain also be changed.

Today I realize that if I save a product through admin panel then this particular product shows in category page. But problem is that I have more than 1 lac product and it is impossible to save individually.

So Please help me how to show my all products in category pages.

[2016-08-17 07:33] veloraven commented on #3699
@IceReaper thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-17 07:34] andimov commented on #5070
@bordeo
Thank you for reporting!
Do you have got a solution for this issue?

[2016-08-17 07:34] delyriand commented on #4989
I think we have the same problem in Magento 2.1. Look at the comment below:
[1471#issuecomment-240306446](https://github.com/magento/magento2/issues/1471#issuecomment-240306446)

[2016-08-17 07:38] tiwarimukesh commented on #6149
Hi @Ctucker9233
My question is related to Magento 2. If your answer mean to say that when we import new images to products, previously used images are removed from media folder then I think you can close this ticket.
I will try to check if it happens on local system.(I have not tried it yet.)

[2016-08-17 07:39] veloraven commented on #3609
@nja78 thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-17 07:43] veloraven commented on #3890
@kandrejevs , @BenSpace48
Please, provide the used Magento version. Was it clear install or upgrade from some other version?

[2016-08-17 07:50] ps202 commented on #4101
I am also having this issue.
Magento 2.1, configurable product (color, size).
Configurable product has more simple products in it with at least 2 images each.
Color swatch changes on product page only the first image. The second stays as it was before...

[2016-08-17 07:57] resmivarghese commented on #5949
**Title**
Error in deserializing body of reply message for operation 'salesOrderRepositoryV1Get'.

**Issue Description**

We have a .Net application which needs to be communicated to Magento2 webservices.
Iam getting exception while calling the webservice salesOrderRepositoryV1Get from .Net.
In this ticket I have first reported for catalogProductRepositoryV1GetList which was in version Magento 2.0

[2016-08-17 07:57] nja78 commented on #3609
Description
1. Magento ver. 2.1.0 with sample data
2. table prefix "m2_" used while installation

Steps to reproduce
1. login to admin panel
2. go to Reports -> Reviews -> By Customers

Expected result
Report page

Actual result
got SQL error, that table "customer_entity" does not exist. And its true, becouse we used table prefix and database contain table m2_customer_entity

[2016-08-17 08:05] wert2all commented on #5103
Thank for reporting. We created internal ticket MAGETWO-56976.

[2016-08-17 08:09] veloraven commented on #2845
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.

[2016-08-17 08:09] #2845 closed, assigned to nobody

[2016-08-17 08:12] wert2all commented on #3386
Can you still reproduce  this bug?

[2016-08-17 08:13] wert2all commented on #3775
@zamboni084 Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-08-17 08:15] wert2all commented on #5141
@paales  is this question still actual?

[2016-08-17 08:22] #3345 closed, assigned to nobody

[2016-08-17 08:24] jcccg2016 commented on #5632
I´ve got exactly the same Problem. Please solve this.

[2016-08-17 08:34] BenSpace48 commented on #3890
@veloraven We have recently upgraded to 2.1 and no longer have the issue, when we had the issue I think it was 2.0.7 which was upgraded from 2.0.6

[2016-08-17 08:54] andimov commented on #5892
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-17 08:54] andimov commented on #5531
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-17 08:54] #5531 closed, assigned to nobody

[2016-08-17 09:02] andimov commented on #6088
@forvin
Unfortunately, now it's not easy to understand what is your actual problem is. So I have to ask you format your issue according to templates: specifying preconditions, exact steps to reproduce, actual result, and expected result.

[2016-08-17 09:03] karl-ravn commented on #4795
To clarify what yokoishioka was saying: You need to remove the var/di folder, not the contents inside of it.

[2016-08-17 09:30] ps202 opened #6195 "Magento 2.1 visual swatch changes only the first picture of product"
### Preconditions

Operating System: Ubuntu 15.10

PHP 5.6.11-1ubuntu3.4 (cli)
Copyright (c) 1997-2015 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2015 Zend Technologies
with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2015, by Zend Technologies

mysql  Ver 14.14 Distrib 5.6.31, for debian-linux-gnu (x86_64) using  EditLine wrapper

Magento 2.1.0 CE
### Steps to reproduce
1. Install Magen

[2016-08-17 09:30] sergiojovanig commented on #5101
Thanks @NadiyaS , I applied patch and it works as expected.

[2016-08-17 09:31] bordeo commented on #5070
@andimov
no i didn't find any solution. One week ago my pull request got Contributor Licence Signed. I think magento started process all pull request and issue.

[2016-08-17 09:32] ps202 commented on #6195
Isssue is similar to this one here:
https://github.com/magento/magento2/issues/4101

[2016-08-17 09:35] asemenenko commented on #5961
@flecxie @joni-jones
This is a framework level feature. Magento needs to support a non-decimal currencies outside a payments area, this includes Catalog module, Sales module, reporting etc. Payment gateway is a consumer of the output provided by the sales module/checkout/quote. We can not just multiple calculated numbers by 100 in particular payment module, we do also need to be consistent about d

[2016-08-17 09:45] paales commented on #5141
Tested on Magento 2.1 (it could be 2.1rc3), so yeah, I think it is still relevant.

[2016-08-17 09:46] bondimedical3 opened #6196 "Magento 2.1 Redis Session Storage"
I have followed the instructions here for Redis Session storage -
http://devdocs.magento.com/guides/v2.0/config-guide/redis/redis-session.html but no keys appear in the database?

[2016-08-17 09:55] kienmba commented on #5462
I also encountered similar problems.
Please can you help me.
http://prntscr.com/c6saqw
Thank you so much :) :)

[2016-08-17 09:57] MomotenkoNatalia commented on #4475
Hi @marius-bica , Internal ticket MAGETWO-54121 is closed and delivered to mainline. Please let us know if you still have an issue

[2016-08-17 09:57] #4475 closed, assigned to slavvka

[2016-08-17 10:09] romeof1980 commented on #5462
hi @ttkien175 ,
sure I can if you have set up correctly your Braintree account and you still get the error "unable to place order:please try again later".
We just solved the issue deleting table prefixing and updating table sales_sequence_meta as detailed in #5902
Note that table prefixing can easily be edited from phpMyadmin (see zsd solution here: http://stackoverflow.com/questions/6404158/how-t

[2016-08-17 10:13] Asitis commented on #4928
I think it is now :) a lot has changed since I opened it. As I said before; haven't been able to reproduce it since the updates, so it's either fixed or not a problem anymore.

[2016-08-17 10:13] #4928 closed, assigned to nobody

[2016-08-17 10:14] romeof1980 commented on #5902
Thanks @flecxie ,
deleting table prefixing fixed the issue for us too (both in 2.0.6 and 2.1.0).
Vault enabled or not didn't make any difference for us, nor did "Authorize" or  "Authorize and Capture".

[2016-08-17 10:16] romeof1980 commented on #5409
Issue was fixed for us following the solution suggested in #5902 (deleting table prefixing and updating table sales_sequence_meta)

[2016-08-17 10:27] joey-j commented on #5157
Hi,
I have the same issue, I tried to extend the checkout controller using preference. My code is shown below:
`<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Controller\Cart\Add" type="SCI\Checkout\Controller\Cart\Add" />
</config>`
It is

[2016-08-17 10:29] skovalenk commented on #4997
Hi @katesuykovskaya  This issue was fixed and delivered to mainline under MAGETWO-42954. Please let us know if you still have an issue

[2016-08-17 10:30] Vico1993 commented on #6181
Ok i found solution. It's my mysql server installation, with this params, indexer works perfectly :)

`[mysqld]
max_allowed_packet=64M
wait_timeout=57600
connect_timeout=20
delayed_insert_timeout=600`

thanks @dthampy  for your help

[2016-08-17 10:30] #6181 closed, assigned to nobody

[2016-08-17 10:32] skovalenk commented on #3780
Done
See code sample here:
https://github.com/magento/magento2-samples/tree/master/sample-external-links

[2016-08-17 10:33] #4997 closed, assigned to slavvka

[2016-08-17 10:38] commcad commented on #5554
The yah domain loads up so much faster btw, from Los Angeles anyway. Time to get stuff listed my friend ;)

Some ref for you to dig in

https://github.com/magento/magento2/pull/5807
https://github.com/magento/magento2/pull/5854
https://github.com/magento/magento2/issues?utf8=%E2%9C%93&q=minicart%20fix

[2016-08-17 10:41] commcad commented on #6196
The correct syntax below; with two ; added

`'session' =>
   array (
   'save' => 'redis',
   'redis' =>
      array (
	'host' => '127.0.0.1',
	'port' => '6379',
	'password' => '',
	'timeout' => '2.5',
	'persistent_identifier' => '',
	'database' => '0',
	'compression_threshold' => '2048',
	'compression_library' => 'gzip',
	'log_level' => '1',
	'max_concurrency' => '6',
	'break_after_frontend' => '

[2016-08-17 10:43] ser14joker commented on #3296
you need to override 'default.xml' file which is located in module-theme folder. and past the code below into your file .
`<?xml version="1.0"?>
     <page>
    <referenceContainer name="header.panel">
    <block class="Magento\Framework\View\Element\Template" name="theme.nav.toggle" template="Magento_Theme::html/header/navtoggle.phtml" before="minicart" />
    </referenceContainer>
    <move elem

[2016-08-17 10:46] bondimedical3 commented on #6196
I have done this already. The whole website crashes if you don't. Is there an xml file which needs active to be set to true?

[2016-08-17 10:48] Zaylril commented on #6131
@Khaleel In terms of the CSS, we have just taken to creating our own base theme fully in SASS and written our own tooling in Gulp. I'd also take a look here: https://github.com/SnowdogApps/magento2-frontools

They are working with Magento to convert M2 back into SASS and gulp.

[2016-08-17 10:49] commcad commented on #6196
I guessed but try to be a smartazz instead ;)

I use phpredis, you? You ran to the 'key & read' tests that redis recommend after installation? functional redis?

[2016-08-17 10:58] commcad commented on #6196
Here goes a functional redis env file. Currently in prod and works better than anything else I've tried.

[env.php.txt](https://github.com/magento/magento2/files/422388/env.php.txt)

Look into phpredis. Simplicity and it works!
Luck2u

[2016-08-17 11:04] bondimedical3 commented on #6196
The backend database has keys in it and Redis is working fine on my 3 other Magento 1 stores.

[2016-08-17 11:05] ram10raj commented on #5823
Same for quote> sales_order and quote_address to sales_order_address

[2016-08-17 11:09] magentodevleper commented on #5711
### Steps reproduce
1. Set Enable Single-Store Mode to Yes
2. Create a new CMS Page

### Expected result

CMS page will saw in frontend

### Actual result

CMS page will not display

### Review below file

`https://github.com/magento/magento2/blob/develop/app/code/Magento/Cms/Model/ResourceModel/Page.php#L152`

i have print value of two variable

echo 'field : ' . $field
echo 'value: ' . $value

o

[2016-08-17 11:14] andimov commented on #5070
@bordeo
Ok, thank you!

[2016-08-17 11:17] paales commented on #5973
Ahh, so this issue seems somewhat related: https://github.com/magento/magento2/issues/5745

[2016-08-17 11:34] veloraven commented on #3353
@webtekindo thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with more detailed steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-17 11:35] Taral-Patoliya opened #6197 "Magento 2.0.7 Inserts duplicate duplicate entries of stock items after importing products"
I am trying to import the simple products, using add_update behavior, But it inserts duplicate entries in  the table `cataloginventory_stock_item`.

This happens when the product is already there in magento and it is also there in the data being imported.

So instead of updating the stock inventory, it is adding a duplicate entry.

[2016-08-17 11:38] Asitis opened #6198 "Integrity constraint violation SQL Error on saving attributes"
### Preconditions
1. System: Magento 2.1 (installed, not upgraded)
2. Database: MariaDB10.1
3. PHP 7.0.7
4. All caches enabled
5. 4 storeviews, 2 enabled, 2 disabled
### Steps to reproduce
1. Add product attribute via Admin Stores > Attributes
2. Fill in data and labels
3. Click save
### Expected result

The attribute saving correctly
### Actual result

In a error-message box (page doesn't break):

[2016-08-17 11:50] Khaleel commented on #6131
@Zaylril thanks for the reply @andimov thanks for tagging.

@Zaylril the tools sound and look good. Is that a rumour or is it official that Magento 2 will go to into SASS and Gulp?

[2016-08-17 11:54] veloraven commented on #2906
@richdynamix thank you for your report.
Is this issue still actual?
If it is, please provide used Magento version.
If it is not, please close this issue.

[2016-08-17 12:06] bartlubbersen commented on #5773
Hello @veloraven,

I have the exact same issue, I want to export the products to a remote system but can't get the website id a product is assigned to which I need. However if I look in the API documentation the website field is not in the productRepository request so it makes sense that it's missing. However at this moment there is no way of telling which websites a product is assigned to through

[2016-08-17 12:16] veloraven commented on #3864
@fvschie thank you for your report.
Please, provide the used Magento version.

[2016-08-17 12:33] SchumacherFM commented on #4883
Same issue in M2.1 :-(

Hope this fix is included in >= 2.1.1

[2016-08-17 12:34] veloraven commented on #3745
Wrong internal ticket is mentioned.

[2016-08-17 12:34] veloraven commented on #3745
@sachinkalerws thank you for your report.
Please, provide the used Magento version.

[2016-08-17 12:37] veloraven commented on #3720
@tkn98 thank you for your feedback.
Please provide the used Magento version.

[2016-08-17 12:41] veloraven commented on #3524
@algostore thank you for your feedback.
Is this issue still  actual?
If it is, please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.
If it is not, please close it.

[2016-08-17 12:48] veloraven commented on #3495
@rkhoury82 thank you for your feedback.
If this issue is still actual please provide used Magento version.
If it is not, please close the issue.

[2016-08-17 12:49] richdynamix commented on #2906
@veloraven I am not sure if this is still an issue as I reported this over 8 months ago and had to do a workaround for the module. That said, this was with the stable community and enterprise edition 2.0.0.

I would have hoped for a speeder response along with any internal investigation if you felt this was a bug based on my initial description. If you don't think this is a bug and it is indeed in

[2016-08-17 12:53] Zaylril commented on #6131
@Khaleel Yes it was confirmed a couple of months ago - please see https://github.com/magento/magento2/issues/1337

However I'm not sure about the Gulp side of things - i'm pretty sure the new tooling will be in Gulp though.

[2016-08-17 12:56] vishveskrish commented on #6126
We are facing the same error, Is there any permanent fix ?

[2016-08-17 13:00] magentodevleper commented on #4119
i have modify as per @typify  suggestion , its working fine. but all Modal popup will not display in Magento 2.1.0 after update jquery-ui.1.9.4 -> jquery-ui.1.11.\* / 1.12.*

when use jquery-ui.1.12.0

1 : modal not display when remove item from minicart.
2 : checkout summary aside modal in mobile view.

[2016-08-17 13:01] stamster commented on #6131
That is probably for 3.0 version or similar major version. 2.0.x and 2.1.x are too late for such a change IMHO.

[2016-08-17 13:13] commcad commented on #6196
Great for ya, that info will fix everything! Read up, had a few questions for you.

Sorry can't help based on that mate. Sure Mage won't be able too, also

Tc

[2016-08-17 13:16] magentodevleper commented on #6058
Magento 2.1.0 also having same problem

[2016-08-17 13:30] magentodevleper commented on #6048
After remove catalog price rule , reindex must be require..

[2016-08-17 13:31] tkacheva commented on #5308
@allanpaiste could you provide steps to reproduce? I added conditions, saved, opened again added new conditions, saved, opened once again. Conditions are in place

[2016-08-17 13:39] hostep commented on #6131
I don't see why switching from less to sass or grunt to gulp will improve the frontend developer performance problems. Since they are basically the same things. It's not the tooling which is the problem, but how Magento is using the tools I think.

[2016-08-17 13:47] tkn98 commented on #3720
EE 2.0 and EE 2.1

[2016-08-17 13:55] veloraven commented on #5032
@CNanninga thank you for your report.
Please, provide the used Magento version.

[2016-08-17 13:55] j4hangir opened #6199 "Product Attribute insertion fails with REST API"
It is impossible to create a new attribute using the rest API.

The version of Magento installed is 2.1.0.

The request sent is as follows: `post /rest/V1/products/attributes`
With body containing:
`
{ 'attribute': { 'default_frontend_label': 'azmun', 'frontend_labels': [{'store_id': 1, 'label': 'azmun'}], 'is_required ': False, 'frontend_input': 'azmun' } }`

And every time the same exception wil

[2016-08-17 13:58] Khaleel commented on #6131
@stamster @Zaylril @hostep Aside from the development issues the deployment one is the biggest one.

A real life example of loosing clients. A UK ecommerce company we know currently 1.9 EE and are turning over $2-$3 million dollars _per day_.

When discussing a consultation on M2 and discussing deployment - just by the mention of downtime the client showed no interest in upgrading nor using the se

[2016-08-17 13:58] Igloczek commented on #6131
IMO there is one way to deploy M2 to production - have a middle step (CI/CD) in deployment pipeline, to run every necessary compilation and test steps, then save results as ZIP for future use.

Then you can take this ready to use code on production server (i.e. via Capistrano) and enable 1-2 min maintenance mode just for database updates (probably `setup:upgrade` will be enough)

@Zaylril @Khaleel

[2016-08-17 14:23] andimov commented on #5073
@ktruehl
I've created an internal ticket for this issue - MAGETWO-57070 and linked it to this one.

[2016-08-17 14:29] veloraven commented on #2873
@johnbendi thank you for your feedback.
Is this issue still actual?
If it is please provide the used Magento version and information if it was clear install or upgrade from some previous version.
If it is not, please close it.

[2016-08-17 14:30] veloraven commented on #2940
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-17 14:33] veloraven commented on #3094
@MonteShaffer thank you for your feedback.
Is this issue still actual?
If it is, please provide the used Magento version and if it was clear install or some upgrade.
If it is not, please close the issue.

[2016-08-17 14:38] tkacheva commented on #5423
@dman311
@JDavidVR
 guys, does anyone have this issue when upgrading using setup tool or command line?

[2016-08-17 14:41] palamar commented on #6174
Thanks for reporting this issue, but without detailed steps to reproduce:
- detailed version of Magento 2 (2.0.0, 2.0.8, 2.1.0 etc.)
- how migration was performed (import/export, MySql dump, 3rd party modules etc.)
  we can't reproduce your issue and decide is it possible to fix it

P.S.
if save of the product resolves you issue, you can try to use mass action as a workaround (eg. unassign/assign

[2016-08-17 15:04] klarlichter commented on #6192
Hello, we had change like your page but we still get that error. How we can solve that bug?

[2016-08-17 15:06] klarlichter opened #6200 "content:deploy Error zendframework again"
Hello,
we get the following error message while content:deploy:

[code]

How we can solve the issue?

We are using Magento 2.1.0

--> That issue we had discuss on https://github.com/magento/magento2/issues/6192 and we also try the link who @wert2all submit but it wont help. We still get the stupid error.

How we can solve that bug?

[2016-08-17 15:06] radhagobinda commented on #6174
1> Magento Version: 2.02
2> I moved all files from old server to new server. Then import the database and change the base url in config table. After all this action I did content deploy, re-index, cache clear through console also I did file permission for var and pub folder.

After all this actions, site is running again. All pages are running, but only products are not showing in category pages.

[2016-08-17 15:07] ghost commented on #6159
I'm also having the same issue. Would be good to find out when the fix will likely be shipped.

[2016-08-17 15:15] allanpaiste commented on #5308
Ah yes. It's an issue in the stable 2.1, but was indeed fixed with 3ff19bf, commented on that on https://github.com/magento/magento2/issues/5398, forgot to do same here as well.

Also had repeatability steps there, but - again - this is no longer an issue :)

[2016-08-17 15:21] janiscaunecm commented on #5945
This happens because of change in app/code/Magento/CatalogInventory/Model/Configuration.php.

When you save a product, it's stock item gets created and saved in DB with a website_id assigned. Previously this would take current website's ID, now it is hardcoded to zero.

As a result, there may be stock items for product that have website_id != 0 and since now Magento searches for the ones with webs

[2016-08-17 15:33] mstumpf818 commented on #4920
@shiftedreality @sma09sjb no this issue was never resolved but funding for the project ran out and so development efforts stopped

[2016-08-17 15:39] tkacheva commented on #5308
@allanpaiste closing then. Thank you for your input :-)

[2016-08-17 15:39] #5308 closed, assigned to tkacheva

[2016-08-17 15:40] allanpaiste opened #6201 "Admin gets redirected to dashboard"
If user is navigating in front-end and in admin at the same time (say, in different tabs), the user can unexpectedly be redirected to admin dashboard.
### Preconditions
1. have latest M2.1 installed
2. install demo data (using bin/magento demodata installation options)
3. clean browser cookies for the domain you're at (to make sure we start from clean slate)
4. make sure that you start with clean

[2016-08-17 15:46] tkacheva commented on #2916
@ErvinLlojku could you provide more details about swatch error messages please. I suggest to open separate ticket for this

[2016-08-17 16:09] TClilMouse commented on #6123
Still the same issue.

[2016-08-17 16:14] dthampy commented on #6181
Thanks for the update.

[2016-08-17 16:22] sma09sjb commented on #4920
So is this an acknowledged Magento bug?

I'm not aware of how your processes work internally as far as bug fixing and funding goes, but i would expect a bug like this to be high up in terms of priority. It's directly impacting on the usability of the site, and has far reaching implications in terms of data population. Currently we're not able to complete product data entry because of this bug, and

[2016-08-17 16:29] pboisvert commented on #4920
@sma09sjb Pulling acknowledged label as the internal ticket shows this is as closed can't reproduce. When we reproduce issues they get the label "acknowledged" to indicate we are aware and have the issue in our backlog.

If you are encountering you can reopen the issue but we will need complete info to be able to reproduce the issue.

[2016-08-17 16:31] techgh0st opened #6203 "Component Manager setup/pub/angular/angular.js Error"
### Preconditions
1. Magento 2.1.0 with Sample Data
2. PHP 5.6.20
3. Mysql : Server version: 5.6.28-76.1 Percona Server (GPL), Release 76.1, Revision 5759e76
4. Apache/2.2.31 (Unix)
5. CentOS release 6.7 (Final)
### Steps to reproduce
1. Fresh install with sample data.
2. Log into admin dashboard.
3. Go to System -> Web Setup Wizard -> Component Manager

In the developer console, the following iss

[2016-08-17 16:31] kassner opened #6204 "[Magento_Theme] Add page_layout from module"
Hi!

Looks like there is no way to add a new [page layout](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/layouts/layout-types.html) from a module. The only place that loads `layouts.xml` files is [here](https://github.com/magento/magento2/blob/37692c80f41e556e696803bbac8a93b8eb6837e7/app/code/Magento/Theme/Model/PageLayout/Config/Builder.php#L57-L65), but the method specifically iterat

[2016-08-17 16:58] jibrandlr opened #6206 "Missing checkboxes in the "edit address" page"
### Preconditions
1. Magento 2.1.0, PHP 7.0.8, Ubuntu 16.04
### Steps to reproduce
1. Log in as a registered user.
2. Try to edit billing or shipping address.
### Expected result
1. At the bottom of the page, checkboxes should appear next to the lines: "Default billing address" and "Default billing address".
### Actual result
1. Checkboxes are not displayed, so the user can not set the address to

[2016-08-17 17:21] erikhansen commented on #5871
I'm seeing the same issue on 2.1.

[2016-08-17 17:24] grasdaggel commented on #5892
The things you have suggested are not doing anything. Please note that we also cleared everything on iOS and so on to, but it hasen't fixed the problem.

[2016-08-17 17:26] ttnnkkrr commented on #4795
same

[2016-08-17 17:38] pboisvert commented on #5871
Anton--can you take a look at this? While marked as "improvement" i think the impact here feels like a bug in terms of missing protection from scenario of one or more product images being deleted from the server. We must fix to ensure product edit page still available.

[2016-08-17 18:40] bka opened #6207 "Checkbox IDs for Terms and Conditions should be unique in Checkout"
Magento_CheckoutAgreements places checkboxes into checkout to accept the respective terms and conditions. However, the html tag for the checkbox appears for each payment method with the same html id. It is bad practice to have the same html id multiple times and also introduces problems with css customization for these boxes which relies on unique ids.
### Preconditions
1. Install Magento 2.1
###

[2016-08-17 18:42] blizam opened #6208 "Can't sort by "Websites" in the Products > Catalog list"
2nd to last column in the table of your Proudcts titled "Websites" -- clicking the column header the page grays as if it's trying to re-order, and the little down arrow icon appears on the right of the header cell... but the list never actually sorts by what Website it's associated with

### Preconditions
1. Mage 2.1.0
2. PHP7, CentOS
3. at least two websites are created
4. two products are create

[2016-08-17 18:58] zexperto opened #6209 "Can not add option to simple product using REST"
### Preconditions

1.  Add Option to simple product in REST
### Steps to reproduce

1. Create Simple Product using REST or any another way.
2. If i want to add new option to the product using (REST) with POST method  i have this message [Unable to save product]. the same if i want to update the product using PUT method with new options
3. I tried to make some debug , then i have this error [Call t

[2016-08-17 18:59] hostep commented on #6131
Regarding the deployment issues, @piotrekkaminski & @xcomSteveJohnson & @choukalos: maybe you can ask your colleagues of the 'Magento Enterprise Cloud Edition' how they go about and do this? Are they for example able to upgrade the Magento version without any downtime? If yes: it would be great if this can be shared with the community about how we can accomplish this. Just an idea...

[2016-08-17 19:06] blizam commented on #5210
I face this same issue trying to create pages on different websites/store views with the same URL key... the Pages Admin (bot from the main List and from within a Single Page) lacks a configuration scope setting letting Magento know you're not on the Default Store

[2016-08-17 19:16] Khaleel commented on #6131
cc @alankent

[2016-08-17 19:37] adityag186 commented on #6176
Hi,

There are products in the category that I am trying to save.

I disabled it, then made changes and then i was getting error - "Something went wrong" while saving the category.

[2016-08-17 20:54] mariarti commented on #3320
Looks like m2 developers use non obvious methods in creating sample data with composer, so I compelled to ask help.
So, @buskamuza advice to use `--file` option and I try to implement it to script which try to setup credentials for Sample data. I make something like:
`cd $basepath$baseurl/var/composer_home/ && touch auth.json` and then
`cd $basepath$baseurl/var/composer_home/ && composer config --

[2016-08-17 20:54] #3320 closed, assigned to nobody

[2016-08-17 21:06] bpgkt commented on #3890
I do have 2.1 and the issue is still not resolved.
(i use varnish too)

btw. disabling cache, but keeping varnish on = blocks will show up;

[2016-08-17 21:17] #6199 closed, assigned to nobody

[2016-08-17 21:40] pboisvert commented on #6195
Olena--can you check on this one? Seems like a duplicate.

[2016-08-17 22:12] jibrandlr opened #6212 "Simple product is available on the swatches even when Quantity is 0 and is out of stock"
### Preconditions
1. Magento 2.1.0, PHP 7.0.8, Ubuntu 16.04
### Steps to reproduce
1. Create a configurable product which includes 2 or more simple product configurations (Ex. size S and M)
2. Set the following values for one of the simple products (size M):
- Enable product: Yes
- Quantity: 0
- Stock status: Out of stock
1. Go to product page on front end.
### Expected result
1. The option (size

[2016-08-17 22:52] pitbulk commented on #442
I implemented a SAML extension for the frontend and is available on the marketplace:
https://marketplace.magento.com/sixtomartin-onelogin-module-saml2.html

but found some problems when implementing the backend and don't found an elegant way to solve them. The main one is that all admin urls are protected by the admin authentication, so I'm not able to define my SAML endpoints:
http://magento.stac

[2016-08-17 23:00] pboisvert commented on #6212
Can you confirm that you haven't set Display Out of Stock products to yes (under Stores > Configuration > Catalog > Inventory)?

[2016-08-18 00:09] jibrandlr commented on #6212
@pboisvert Just confirmed that "Display Out of Stock Products" is set to **No**

[2016-08-18 00:55] j4hangir opened #6213 "Product attribute creation fails with REST API"
Magento version is 2.1.0.

When using REST for creating a new attribute, this works:

URL: `post /rest/V1/products/attributes`
Body:
`{'attribute': {'attribute_id': 0, 'frontend_labels': [{'store_id': 1, 'label': 'azmun'}], 'is_html_allowed_on_front': True, 'attribute_code': 'azmun', 'position': 0, 'is_user_defined': True, 'is_required': True, 'used_for_sort_by': True, 'is_filterable': True, 'fron

[2016-08-18 01:41] victorchiriac89 opened #6214 "Style changes do not show"
Magento 2.1 (github version)
php 5.6
Mysql 5.6

While building my own theme:

[code]

[code]

[code]

[code]

I added the theme and registered and deployed it and the theme works fine.

But I wanted to do overrides to the Magento_Theme module css so I added some changes here:

[code]

**StepX**

[code]

After I tried to add:

[code]

[code]

Then tried StepX again.

Then I tried adding style to th

[2016-08-18 01:45] ojhaujjwal commented on #5836
Can anybody tell me the status of this issue? Is there any internal-ticket for the issue? Is there any commits that may fix the issue?

[2016-08-18 03:06] phirunson opened #6215 "Braintree Vault payments causing GET order API to throw error"
### Preconditions
1. Magento CE or EE 2.1, PHP 7.0.8
2. Payment Method Braintree Configured and Enabled, Vault Enabled: yes
### Steps to reproduce
1. Create an order using Braintree payment method and save the card
2. Create another order, this time using the saved card as the payment method
3. Make a call to the rest API to GET `/rest/V1/orders`
### Expected result
1. Order json returned
### Actu

[2016-08-18 04:29] ftsf commented on #1575
This should be reopened as the PR only fixes Varnish 4 output, this is still an issue for Varnish 3 VCL output.

[2016-08-18 05:14] bondimedical3 commented on #6196
Issue is fixed

[2016-08-18 05:14] #6196 closed, assigned to nobody

[2016-08-18 05:30] justyn-clark commented on #5744
@andimov our team has 2.1 working now. I'm not sure exactly what was done but my co-worker does. I can find out on Monday and report back which might be an additional solution to @magwave 's if not the same.

[2016-08-18 06:11] veloraven commented on #6065
@chiragayartops please provide more detailed steps and describe actual result and expected result.
It is hard to understand now what exactly you do, what you get and what you expect to get. Screenshots without description and any additional marks do not help much unfortunately.
Please also provide information if it was clear install of 2.1 or upgrade from previous version

[2016-08-18 06:15] katmoon commented on #6176
Hi @adityag186

There should be more details on the error you see in magento/var/log/exception.log or in apache/php error logs. Could you post the stack trace here?

[2016-08-18 06:25] wert2all commented on #6123
try to clean up browser cache.

[2016-08-18 06:39] MorganGonzales commented on #5519
Also happens to me. I'm using Magento 2.1. It occurs during viewing cart when one of the items in the cart is set to "Out of Stock".

Replication step:
1. Add a product to cart.
2. (While product is on cart) Set added product to "Out Of Stock" in Admin
3. Going back to store site, go to Cart page (View Cart).

Result:
Fatal error: Uncaught Error: **Call to a member function getPrice() on null in /

[2016-08-18 06:44] wildekin opened #6217 "Multiple products updating attributes don't save when changing select values"
### Preconditions

1. Magento v2.1.0
2. PHP 5.6.20
3. MySQL 5.6.31
### Steps to reproduce

1. Select products from catalog, update attributes
2. Find a multiple selection field, chane that value, ie. Product Type
3. Save
### Expected result

1. Each selected product should reflect those changes made
### Actual result

1. Products aren't updated with the new values

[2016-08-18 06:54] kienmba commented on #5462
hi @romeof1980  thank you so much. :) :)

[2016-08-18 07:10] yariksheptykin opened #6218 "Label 'None' should not be translated in short description of product info"
Product view page [contains a block](https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/view/frontend/layout/catalog_product_view.xml#L92) that displays short product description. This block renders `product/view/attribute.phtml` template and [passes](https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/view/frontend/layout/catalog_product_view.xml#L97)

[2016-08-18 07:14] wert2all commented on #6200
As I said this is a Mysql trouble, not Magento.

Please run query on MySQL and show me the output - SHOW VARIABLES where variable_name like 'max_%' or variable_name like '%wait_%';

[2016-08-18 07:23] klarlichter commented on #6200
Hello,
thank you for help. Here your output.

[code]

[2016-08-18 07:27] yariksheptykin commented on #6117
2.1.0

[2016-08-18 07:32] wert2all commented on #6200
Try to increase wait_timeout value.

[2016-08-18 07:32] yariksheptykin commented on #6117
Changing:

[code]

to

[code]

Fixes the problem.

[2016-08-18 07:37] veloraven commented on #5382
@werdlv please describe steps you do as well as actual result and expected result.
As I can see there were unanswered comment from @eddielau in that issue.
Thus if you have exactly the same case most likely you will get the same comment.
Additionally it's hard to understand from the original case if it was description of a bug or a question.
So we need clear steps, expected result and actual resul

[2016-08-18 07:38] YevSent commented on #6215
Hi, @phirunson, thanks for reporting and detailed description, this issue also reproducible on the latest develop. I've created internal MAGETWO-57115.

[2016-08-18 07:50] antboiko commented on #5871
Hi @spipu , thanks for reporting. We already have internal ticket MAGETWO-54718 for fixing this issue and we're working on it.

Best
Anton.

[2016-08-18 08:01] klarlichter commented on #6200
Great!! I had change to 1200 and now it was working. Thank you very much! :+1:

[2016-08-18 08:09] wert2all commented on #6217
Closed as copy of #5459

[2016-08-18 08:09] #6217 closed, assigned to nobody

[2016-08-18 08:14] veloraven commented on #4498
@BenSpace48 is there any update on this issue? Have you tried to reproduce the issue on ver. 2.0.7 or some other version as planned?

[2016-08-18 08:14] sma09sjb commented on #4920
https://github.com/magento/magento2/issues/6067 -- i've created a new ticket for this issue.

I'm running Magento 2.1 CE, on a Nexus server environment. We're not experiencing this issue locally, only on the server, which indicated to me there must be an issue with either server permissions or Magento configuration.

We've been having a number of issues switching the mode successfully to productio

[2016-08-18 08:20] #6200 closed, assigned to nobody

[2016-08-18 08:22] vkorotun commented on #6201
Hi @allanpaiste
Thank you for reporting this issue.
Internal ticket: MAGETWO-57118

[2016-08-18 08:30] rhiensch commented on #4795
I've added the temporary fix from @hostep to my magento installation, but i think there is a other way to fix this problem. Simply disable en re-enable a (random) module for example:
php bin/magento module:disable Magento_Weee
php bin/magento module:enable Magento_Weee

[2016-08-18 08:30] SM528 commented on #3374
I am experiencing the same issue on 2.0.4.

Is this going to fix anytime soon?

[2016-08-18 08:39] dmitrisol opened #6219 "Wrong destination directory used to calculate absolute target path for renameFile in Directory Writer"
In Magento\Framework\Filesystem\Directory::renameFile(), the source directory is used to calculate target path for the file, instead of the destination directory, resulting in wrong target absolute path being calculated and file not moved to target location.
### Preconditions

Magento 2.0.7 to 2.1.0, not checked previous versions.
Any PHP or MySQL versions.
### Steps to reproduce

Sample code to d

[2016-08-18 08:52] hendywijaya commented on #5319
Hi Guys,

a bit of update, this happens on
php-pecl-memcached-3.0.0-0.1.20160217git6ace07d.el7.remi.7.0.x86_64

but **not** on
php-pecl-memcached-2.2.0-3.el6.remi.5.6.x86_64

so it's seems issue is related to pecl itself, haven't been able to replicate the issue using non-magento php script, but if you are to, you can report the issue to : https://github.com/php-memcached-dev/php-memcached

[2016-08-18 08:56] picamator commented on #6183
@Umfi  thanks for reporting.
1. Could you please add more detailed steps to reproduce?
2. Could you please provide details how German localization was implemented?

[2016-08-18 08:57] picamator commented on #6162
@otg-chris  thanks for reporting.
We created internal ticket MAGETWO-57077 to fix it.

[2016-08-18 09:08] andimov commented on #3320
@mariarti
Thank you for the solution with detailed description!

[2016-08-18 09:10] Umfi commented on #6183
@andimov

1)
- Navigate to base-url/customer/account/create/
- Fill out everythin, check "Sign Up for Newsletter" and submit form

2)
- I added a language pack
  https://github.com/splendidinternet/Magento2_German_LocalePack_de_DE

FYI, i have a added some custom fields on this form but they work as expected, maybe this could be an error source?

EDIT: i have exactly the same configuration/problem

[2016-08-18 09:26] veloraven commented on #3213
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-18 09:33] andimov commented on #5953
@Cacasapo
Looks like you have another issue.
Please, create new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2016-08-18 09:39] veloraven commented on #3616
@chaluvadiswamy is this issue still actual?
If it is not please close the issue.
If it is please provide the used Magento version.
Please also provide information about your environment: versions of PHP, MySQL and web-server used.

[2016-08-18 09:57] stevecantlay commented on #6183
We have a similar issue - Magento is set confirmation required with is_subscribed set to true on the registration form.

Upon registering the confirmation required email is sent.  When confirming registration the welcome email is sent - followed by the unsubscribe email.

[2016-08-18 09:59] djahnsag commented on #5531
Like I mentioned above, the dev machine is a WAMP stack (XAMPP), server is LAMP: ~~I am currently unable to SSH to it right now, so I can't give you more details on that right now.~~

Linux version 2.6.32-042stab112.15 (root@kbuild-rh6-x64.eng.sw.ru) (gcc version 4.4.6 20120305 (Red Hat 4.4.6-4) (GCC) ) #1 SMP Tue Oct 20 17:22:56 MSK 2015
Php 7
Server version: Apache/2.4.6
mysql  Ver 15.1 Distrib

[2016-08-18 10:06] sma09sjb commented on #5479
Hi,

i have the same problem, when you say renaming the tables, which tables are you referring to? I'm experiencing this problem with both paypal express and the the stripe extension above. Nothing in the logs but i was initially getting an error as follows

https://github.com/magento/magento2/issues/5843
Exception: Wrong order ID: "000000005".

I changed the order increment because there was alre

[2016-08-18 10:10] GordonLesti commented on #6126
We have the same problem with `Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "3523" already exists.` if we search a product by the name `Raff` in the Backend of Magento 2.1.

It seems that the query is producing duplicated rows when joining `cataloginventory_stock_item`. This query is fetched in [Magento\Eav\Model\Entity\Collection\AbstractCollection::_loadEntities](https://git

[2016-08-18 10:11] AVoskoboinikov commented on #6067
Hello Sophie

Thank you for request, but unfortunately it is not reproducible on my build. I am using CE 2.1.0 version and WYSIWYG works fine, you can check it on attached screenshots (Pic 1 and Pic 2). Probably error is connected to your environment or system configuration.

Could you please add some screenshots of that error? Maybe they will bring me some thoughts about error source. It would be

[2016-08-18 10:18] serzhik commented on #4325
Relates to #1157
I have same issue on 2.0.4 EE. Subscription do not work for registered users.

[2016-08-18 10:20] AVoskoboinikov commented on #6061
Hello

Thanks for request. It is OK that you see previous price on Mini Cart and Cart. But if you proceed to checkout - you will see original price there.

[2016-08-18 10:24] sma09sjb commented on #6067
Hi,

i've done a screencast, you can see that here
http://screencast.com/t/XCElpKwe

![error2](https://cloud.githubusercontent.com/assets/19289786/17770558/5cd3c9c8-6536-11e6-9d27-1744cc27b007.png)
![error3](https://cloud.githubusercontent.com/assets/19289786/17770556/5cd01e9a-6536-11e6-888d-776397837654.png)
![error1](https://cloud.githubusercontent.com/assets/19289786/17770557/5cd1533c-6536-11e6

[2016-08-18 10:27] GordonLesti commented on #6126
A `groupByAttribute` on the collection in [Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider::getData](https://github.com/magento/magento2/blob/2.1.0/app/code/Magento/Catalog/Ui/DataProvider/Product/ProductDataProvider.php#L65) fixed the problem temporary.

[code]

[2016-08-18 10:28] vesan-83 opened #6220 "Checkout doesn't work for lingual URL"
If set Base Link URL with a language code, for example http://website.com/fr/, then checkout isn't working because of AJAX query to /fr/rest/fr_be/V1/carts/mine/estimate-shipping-methods returns 404.

### Preconditions

Magento 2.1.0
### Steps to reproduce

1. Add language code to the Base Link URL e.g. http://website.com/fr/
2. Flush caches
3. Go to checkout, it won't work

[2016-08-18 10:41] vesan-83 opened #6221 ""composer install" overwrite customizations outside of vendor folder"
"composer install" command overwrite modifications in mapped files (files from composer.json -> extra.map node of magento/magento2-base module).

### Preconditions

Magento 2.1.0
### Steps to reproduce

1. Clone the project  where any of mapped file is customized e.g. pub/index.php or dev/tools/grunt/configs/themes.js
2. Run "composer install"
### Expected result

1. Customized file will stay cust

[2016-08-18 10:54] AVoskoboinikov commented on #6099
Hello, Andre
Could you please try the same configuration on attribute as is described on Pic 1? After using it you should able to see your swatch at the configurable product.

Looking forward to hearing from you if it helps.
Thanks

Pic 1
![pic1](https://cloud.githubusercontent.com/assets/17980272/17771357/2ef4ef54-654b-11e6-91d7-3c26174312fb.png)

[2016-08-18 11:01] petersg83 commented on #6135
I found, the correct object to send is :

[code]

[2016-08-18 11:01] #6135 closed, assigned to nobody

[2016-08-18 11:03] peec opened #6222 "[2.1.0] Sometimes WYSIWYG editor does not show."
### Preconditions
1. PHP 7.0.3
2. Mysql 5.6
3. Latest chrome browser
4. Magento environment: Production
5. JS / CSS minifcation and merging enabled.
### Steps to reproduce
1. Go into any page with a wysiwyg editor possiblity ( e.g. product edit page ).
2. See that sometimes it does not appear
3. Try clicking "Show editor". Nothing happens.
4. If you click the "Show/Hide editor" and do F5 refresh t

[2016-08-18 11:05] MagePsycho opened #6223 "How to authenticate customer via SOAP in Magento2?"
### Preconditions

1. Magento 2.1.0 CE & EE
2. MySQL 5.6
### Steps to reproduce

1. Open WSDL via browser or SoapUI tool: `http://{magento-2-base-url}/soap/default?wsdl&services=customerAccountManagementV1`
2. You will only see few methods: `customerAccountManagementV1CreateAccount()`, `customerAccountManagementV1InitiatePasswordReset()`, `customerAccountManagementV1IsEmailAvailable()` & `customer

[2016-08-18 11:19] andimov commented on #6061
@routbiplab
Thank you for reporting!
This is an expected behavior. So, this is not a bug and I'll close this issue. Please feel free to reopen if it's needed.

[2016-08-18 11:19] #6061 closed, assigned to nobody

[2016-08-18 11:30] shortner opened #6224 "Checkout Agreement validation is broken on payment method change"
Magento_CheckoutAgreements does not display validation message for Terms and Condition item after change of payment method.

**Preconditions**
1. Install Magento 2.1

**Steps to reproduce**
1. Create a Term and Condition entry under Stores > Terms and Conditions
2. Activate Terms and Conditions for checkout under Stores > Sales > Checkout > Enable Terms and Conditions
3. Enable a second payment me

[2016-08-18 11:34] Cacasapo commented on #5953
@andimov It's 3509 and the solution is https://github.com/magento/magento2/issues/3509#issuecomment-192383123 , or at least I hope so. Will only be able to test once the site's owner is back from vacation.

[2016-08-18 11:58] wert2all commented on #2246
Closed as duplicate #4694

[2016-08-18 11:58] #2246 closed

[2016-08-18 12:02] veloraven commented on #4615
Closed as this issue is already fixed - internal ticket MAGETWO-53293.

[2016-08-18 12:02] #4615 closed, assigned to tanya-soroka

[2016-08-18 12:05] antboiko commented on #4694
Hi @tanghia , please let me inform you, this issue has been already fixed in a mainline and will be also available in one of the future patches.

I'm closing this ticket. Please feel free to reopen or create a new one.

Best,
Anton.

[2016-08-18 12:05] #4694 closed, assigned to nobody

[2016-08-18 12:07] veloraven commented on #4909
@arijit-insync thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-08-18 12:07] shahankit783 commented on #3949
Hello,

When I tried to run the Bundle Group's test cases of magento 2.1.0 version by giving the following commands:
cd  magento2.1\dev\tests\functional
vendor\bin\phpunit --filter "CreateBundleProductEntityTest"

it gives the "**1) Magento\Bundle\Test\TestCase\CreateBundleProductEntityTest::test
Exception: Configuration settings are not applied! Url: http://localhost:8080/magento2.1.0ce/admin_iaa

[2016-08-18 12:09] andimov commented on #6117
@yariksheptykin
Thank you for reporting!
I've created an internal ticket MAGETWO-57136 for this issue and linked it to this one.

[2016-08-18 12:11] jaimin1671992 opened #6225 "i am installed magento 2 successfully but i cant see even subcategories in admin panel i installed it many times but same problem"
This is the Actual error and i unable to solve this i think i am unable to install backend inshort how to solve this all?

![1](https://cloud.githubusercontent.com/assets/21102494/17773210/de08726c-656a-11e6-910a-9c98e354b80e.png)
![2](https://cloud.githubusercontent.com/assets/21102494/17773211/de54eec6-656a-11e6-9c82-17a6d1fb8900.png)

[2016-08-18 12:21] picamator commented on #6183
@Umfi Thank you for details.

Unfortunately we can not reproduce this issue.
1. Could you please describe what customization do you have?
2. Do you have several store views? What localization they have?
3. Could you confirm that problem is reproduced on a clear Magento 2 installation with the German package?

[2016-08-18 12:27] yariksheptykin commented on #6117
Awesome! You want me to fix and do a PR?

[2016-08-18 12:28] allanpaiste commented on #6225
Looks like static files are missing, are you running Magento in dev mode? In development mode, those files will be generated on the fly when a request is sent against Magento. In production mode they have to be there beforehand (generated with bin/magento setup:static-content:deploy).

Another thing that I've seen (but it's not your case atm, because you get 404's) is that when you have totally cl

[2016-08-18 12:41] jaimin1671992 commented on #6225
i just install and see the link i dont know which mode i am running my magento @allanpaiste

[2016-08-18 12:41] jaimin1671992 commented on #6225
how to solve this first i want to solve my admin panel error @allanpaiste

[2016-08-18 12:42] jaimin1671992 commented on #6225
can i install magento without sample data if it will run?

if you free than i am ready to my pc access threw ammyadmin

[2016-08-18 12:45] yariksheptykin commented on #6218
Getting rid of `translate="true"` solves the problem.

[2016-08-18 12:45] eharvest opened #6226 "Magento 2.1 Attributes with multiple choice fields cannot be mass updated"
### Preconditions

1. Magento 2.1
### Steps to reproduce

1. Create custom attributes with multiple choice fields
2. Try to select a number of products and update this attribute value (even just two products)
### Expected result

1. The attribute gets updated
### Actual result

1. Update successful but attribute didn't get updated

[2016-08-18 12:46] katmoon commented on #6158
Hi @senthilengg

Thank you for reporting the issue. It is reported as `MAGETWO-57146` internally.

Thanks,
Kateryna.

[2016-08-18 12:50] routbiplab commented on #6061
Ok Thanks.

[2016-08-18 12:58] shahankit783 opened #6227 "Magento Test Framework giving the failure results for Magento 2.1.0 ce"
When I tried to run the default testcases of magento 2.1.0 ce using MTF , only few of the test cases are passing rest of all are failing. I had also changed the xml file configurations for the same
### Preconditions

1. Windows 8
2. Magento Version: 2.1.0 ce
3. SQL Version: 5.7.11
4. PHP Version: 5.6.19
### Test Run Steps:

1)Go to Magento Root Directory:
**cd magento2.1\dev\tests\functional**

2)

[2016-08-18 12:59] picamator commented on #6113
@robinhuy  thank you for giving details about version.

You are correctly using validator. The regex patterns should be the same.
We've created internal ticket MAGETWO-57147 to fix it.

[2016-08-18 13:00] veloraven commented on #4921
Closed as the issue was fixed.

[2016-08-18 13:00] #4921 closed, assigned to irenelagno

[2016-08-18 13:02] veloraven commented on #4133
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-18 13:02] #4133 closed, assigned to irenelagno

[2016-08-18 13:08] veloraven commented on #3776
@justinblayney thank you for your report.
Is this issue still actual?
If it is, please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result, not just write your description above the template.
Please, also provide the used Magento version.
If it is not, pleas

[2016-08-18 13:22] springimport opened #6229 "Why so many unnecessary dependencies?"
I see a lot of unnecessary dependencies in project.
For example, https://github.com/magento/magento2/pull/6228/files.

I propose to remove them.

| Q | A |
| --- | --- |
| Magento version | 2.1.0 with sample data |
| PHP version | 7 |
| Operating system | Windows 10 x64 |

[2016-08-18 13:27] veloraven commented on #3849
@gammyduck thank you for your feedback.
Is this issue still actual?
If it is not, please close it.
If it is, please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.
Please also provide the line you have prob

[2016-08-18 13:31] veloraven commented on #3923
@grasdaggel thank you for your report.
Do you use any localization in your stores?

[2016-08-18 13:33] devhn opened #6230 "Double single quotes in product title break tabs on frontend"
### Preconditions

1. Magento 2.0.7
2. Apache 2.4, PHP7
### Steps to reproduce

1. Create a new product
2. Type a product title with '' at the end (2x single quotes)
3. Save it and check product on frontend
### Expected result

1. The tabs (details, more info, reviews) should not be altered
2. Upon saving the product Magento shouldn't let user save the product if special chars are not permitted
##

[2016-08-18 13:33] veloraven commented on #4259
@HardRock88 please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-08-18 13:37] mackelito commented on #4350
Sorry for reposting in this closed ticket.. but I realised I still do have some questions.

If I make a request to "V1/guest-carts/666ef786077b70c95016727cfaf21830/items" I get a response with the items in that cart.

`[{''
    "item_id": 122,
    "sku": "MH01-XS-Black",
    "qty": 2,
    "name": "Chaz Kangeroo Hoodie-XS-Black",
    "price": 52,
    "product_type": "simple",
    "quote_id": "75fc4

[2016-08-18 13:43] mackelito commented on #5404
+1

[2016-08-18 13:45] HardRock88 commented on #4259
I found it on version 2.0.1, and on 2.1 problem is still there

[2016-08-18 13:53] AVoskoboinikov commented on #5882
Hi

Thank you for your request, but unfortunately I can't reproduce this issue. I have CE 2.1.0 and one configurable product with required and non required options (please, look at it on Pic 1) and there is no error like "You need to choose options for your item.".

Probably, issue is in details, so could you help me reproduce it and provide more detailed steps what you are doing to get such error

[2016-08-18 14:13] juanmrad commented on #6190
This is not a question is an issue you are supposed to be able to delete attributes from the backend.

[2016-08-18 14:18] HellgaM commented on #5350
I had the same issue on Magento 2.1 CE updated from 2.0.7,
the solution is to have "Product Details" group in attribute set - I had "General" group with name, sku, etc attributes. Renaming of "General" to "Product Details", reindex and cache flush fixed this.

[2016-08-18 14:41] maderlock commented on #6221
I suspect that this is a feature, not a bug. Are there particular files that you think should be not part of the Magento core?

[2016-08-18 14:53] hostep commented on #6221
Duplicate for dev/tools/grunt/configs/themes.js file: https://github.com/magento/magento2/issues/4697

For the pub/index.php file, this is very dangerous what you are asking. If Magento decides to update the index.php file in a new version, and you upgraded your project you would miss those updates on the index.php file.

[2016-08-18 14:53] katmoon commented on #4884
Hi @

Thank you for reporting the issue. It is reported as `MAGETWO-57181` internally.

Thanks,
Kateryna.

[2016-08-18 14:55] pboisvert commented on #6190
@juanmrad To delete a product attribute, click on the one you wish to delete and once that loads you will see a "Delete Attribute" option at the top. Closing as not an issue

[2016-08-18 15:05] centerax opened #6234 "Why no updated_at on cataloginventory_stock_item table?"
Is there a reason for not having the updated_at attribute on the cataloginventory_stock_item table?

Thanks.

[2016-08-18 15:07] TClilMouse commented on #6123
I did. still not working.

[2016-08-18 15:30] remkoj-ism commented on #6221
The "composer install" command is IMHO intended to restore the dependencies of the application, but not modify the application in any way. The fact that it modifies a file which may contain additional pre-initialization logic (it may not be the most beautiful way, but it can be the most efficient way) breaks the ability to distribute an application without including its dependencies.

When talking

[2016-08-18 15:42] grasdaggel opened #6235 "Multiple JS errors in Magento 2.1.0"
### Preconditions

1. Install Magento2.1.0
2. Generating a theme, depending on magento-blank
3. Using your freshly used theme and make some CSS changes
### Steps to reproduce

1. Check console, thats it. There are the debug logs.
### Expected result
1. No JS errors and stuff should be running fine (opening side nav, using the minicart, ...)
### Actual result

1. JS errors in require JS

Error-Code

[2016-08-18 15:54] AVoskoboinikov commented on #5876
Hi

Thank you for your request, but unfortunately I can't reproduce this issue. I have CE 2.1.0 and one configurable product with 2 virtual products which were successfully exported and reimported. You can check my sample .csv file in attached .zip archive. Could you try to import it? And don't forget to reindex your indexes to have last data (http://devdocs.magento.com/guides/v2.1/config-guide/cl

[2016-08-18 15:56] juanmrad commented on #6190
Look.
![screen shot 2016-08-18 at 10 56 10 am](https://cloud.githubusercontent.com/assets/5447733/17780846/787d4d42-6532-11e6-940c-e3f68ec90a7d.png)

[2016-08-18 16:10] vivek201 commented on #6222
This is not completely random.

## Steps to reproduce

### Method 1:
1. Go to `Content` > `Pages` in backend
2. Edit any page but while editing right click on the `Edit` link and open the link in a new page.
3. Wait for the page to be loaded before switching to the page.
4. The WYSIWYG editor will not be loaded

### Method 2:
1. Reload the page, but switch to another tab quickly.
2. Wait for the p

[2016-08-18 16:11] pboisvert commented on #6190
Can you provide system information such as Magento version and system configuration per the reporting guidelines? Also have you upgraded from an earlier version to a newer version?

[2016-08-18 16:33] snez commented on #5413
@alena-marchenko could you please confirm if the fix has removed the setId() call completely or whether it has been added to MethodInterface?

[2016-08-18 16:47] mrkhoa99 commented on #6235
@grasdaggel it's better if you should post your issue on http://magento.stackexchange.com/

[2016-08-18 17:02] andimov commented on #6218
@yariksheptykin
Thank you for reporting!
I think this issue related to #5886.

[2016-08-18 17:13] palamar commented on #6209
Thanks for the reporting.
Please provide a version of Magento (e.g.,. 2.0.0, 2.1.0) that has a problem.

[2016-08-18 17:18] palamar commented on #6197
Thanks for the reporting.
Please provide Magento version that has an issue (2.0.0, 2.0.7, 2.1.0 etc.).
Also would be great to have sample of the CSV file that generate error (github allow attach files if they packed to zip)

[2016-08-18 17:20] seansan commented on #473
About adding it to EE only : please be aware that many CE users have 1 store and 1 webshop often with two stock locations. So even CE users would need this and love this. Not adding it all for CE users - to me- sounds a little bit akward. Why not :
- limit the numbers of nodes for CE to 2 or 3?
- disable advanced filters/rulesets for orders to node logic?

Basic 2 node implementation (remote and l

[2016-08-18 17:23] Laura021 commented on #4795
I had this issue.

Set developer mode, run upgrade command and it started working. However I haven't moved to a production status yet-

[2016-08-18 17:26] andimov commented on #5225
We already have internal ticket MAGETWO-50123 with the same problem.

[2016-08-18 17:30] hostep commented on #6221
Ok that probably makes sense.

We currently have the same "problem" with the `pub/.htaccess` file, but we work around it in our deploy scripts, by doing this:

[code]

[2016-08-18 17:33] jibrandlr commented on #5748
same here, it has been an issue for some store owners since Magento 1. They invest enough time/money to make the images look good but Magento reduces their quality after being uploaded

[2016-08-18 17:42] hostep commented on #5748
This should help you guys out I think:
1. Make sure you have the php extension `imagick` installed on your server
2. Go in the Magento backend to Stores => Configuration => Advanced => Developer => Image Processing Settings
3. Change `PHP GD2` to `ImageMagick` and Save
4. Go to System => Cache Management
5. Click the `Flush Catalog Images Cache` button

Bonus: for Magento 1, you can install the [P

[2016-08-18 17:53] ps202 commented on #6195
Yeah, it seems to be a duplicate, but I think the other one was closed without providing a real solution. :(

[2016-08-18 17:54] hostep commented on #4359
I just noticed this ticket is lacking a MAGETWO reference number. @piotrekkaminski: are you guys tracking this request in your internal system?

[2016-08-18 17:54] springimport opened #6236 "How to redefine interface?"
I need to add custom attributes in Sales Order for REST API.

I finally figured out how to do it.

I need to redefine Magento\Sales\Api\Data\OrderSearchResultInterface

[code]

to

[code]

How to do it?

| Q | A |
| --- | --- |
| Magento version | 2.1.0 with sample data |
| PHP version | 7 |
| Operating system | Windows 10 x64 |

[2016-08-18 18:09] zexperto commented on #6209
Hi,
I am working on 2.0.9

[2016-08-18 18:13] signalprime commented on #4432
I confirm the same issue.  I can login to admin, unlock says The user account "********" was not locked or could not be unlocked, and the rest api request says {'message': 'You did not sign in correctly or your account is temporarily disabled.'}

[2016-08-18 18:51] grasdaggel commented on #6235
I understand that Github is not a "I have a problem, but its not a bug, but please help me" platform. Anyhow, if there is content, it should be linked by devs or community contributors.

I've just resolved my problem by using this article: http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/javascript/js-resources.html

Hope it helps people in the future.

[2016-08-18 18:51] #6235 closed, assigned to nobody

[2016-08-18 19:02] jibrandlr commented on #5748
@hostep thank you, it worked for me on Magento 2.
Someone suggested an alternative on [this page](http://magento.stackexchange.com/questions/113165/how-to-increase-the-quality-of-product-photos-jpg-magento-2) In case anyone wants to test it.

[2016-08-18 19:14] juanmrad commented on #6190
Magento 2.1.0
Nginx Server.
No I haven't done any upgrades

[2016-08-18 19:43] bka commented on #6224
Same issue here. Seems to be in `Magento/CheckoutAgreements/view/frontend/web/js/model/agreement-validator.js`, `errorPlacement` is only called once and places the label after the active checkbox. But every payment method has its own checkboxes.

[2016-08-18 19:52] bka commented on #6224
This seems to solve the issue for me.

[2016-08-18 20:03] andypimlett commented on #6183
1. Magento 2.0.8 Luma
2. Single store
3. en_GB

Also seen this on custom theme on 2.0.8. Account creation set to confirm, subscribe set to confirm. On account confirm - account creation confirmation arrives plus email unsubscribe.

Also tried disabling subscribe confirmation and still get the unsubscribe following account creation confirmation.

[2016-08-18 20:13] signalprime commented on #4432
this suddenly stopped working on my system. I created a second user to test with same results.  I'm testing from the admin so my test is like:
curl -X POST "http://youdomain/index.php/rest/V1/integration/admin/token" \ -H "Content-Type:application/json" \ -d '{"username":"xxx@yahoo.com", "password":"xxxxxxxx1"}'

[2016-08-18 20:32] bka commented on #6207
Here is an example of customized checkboxes: http://fiddle.jshell.net/78n9pr65/
This demonstrates, that the second is not useable, if input id appears more than once.
With unique ids it works perfectly well.

[2016-08-18 20:53] TwassistantKeith commented on #2437
This error still exists:

[code]

php -v:

[code]

php -i:

http://pastebin.com/31WrCXt8

I am using the 2.0.9 release, but I also tried it with the 2.2.0-dev release and it had the same error.

I installed by cloning the git repo. I have also tried installing by composer, with similar results.

Echoing the class name referred to by the error results in:

`Magento\Store\Model\Website\Interceptor`

[2016-08-18 20:56] hydra commented on #3349
I was running php 5. something at the time if that helps, sorry I can't be more specific as the system has been upgraded to php7 now.

[2016-08-18 21:12] Ctucker9233 opened #6238 "Meta description allows too many characters"
I'm noticing that my magento setup is allowing any number of characters in the meta description field. It used to automatically cut off the description if I exceeded the maximum amount of characters while typing. Now, it allows any amount and only cuts it off after saving the product.
### Preconditions

Magento 2.1.0
PHP 5.6.22
Upgraded From Magento 2.0.7
### Steps to reproduce
1. Create a new pro

[2016-08-18 21:14] Ctucker9233 commented on #5943
@duhon Any update on this issue?

[2016-08-18 21:26] ktomk commented on #4359
@hostep: Good point, I'll escalate this via enterprise gold support after a bag of sleep.

[2016-08-18 21:54] kassner opened #6239 "[Magento_Version] Do not publicly disclose store version"
Hi,

Looks like we have this particular [Magento_Version](https://github.com/magento/magento2/blob/develop/app/code/Magento/Version/Controller/Index/Index.php) module, that the unique purpose is to disclose publicly which Magento version and edition the store is running. Although is a good idea to allow other systems that integrate to Magento retrieve the current version to do proper API calls, I

[2016-08-18 21:59] kassner commented on #6236
Not sure if REST API classes work in a different way, but usually you can define which class a particular interface should resolve to using `<preference>`.

http://devdocs.magento.com/guides/v2.0/extension-dev-guide/depend-inj.html#abstraction-implementation-mappings

[2016-08-18 22:01] mbrinton01 commented on #1811
Created internal issue MAGETWO-57193 to track this suggestion

[2016-08-18 22:51] redline10000 commented on #5902
Hello
I followed the suggestions in the the above post to remove the prefix from my magento database. I then did the table update update sales_sequence_meta set sequence_table = replace(sequence_table,'YOURPREFIX_',''); .  However it seems that some tables are still referencing my old prefix mgxa_. When I try to add a new product I get the error

 SQLSTATE[42S02]: Base table or view not found: 114

[2016-08-18 22:55] JesseEnd commented on #6195
I'm having this same issue.

[2016-08-18 23:12] crantron commented on #5874
@kaieleshop did you solve this? what was the issue? Having the same problem.

[2016-08-18 23:20] stripcurtains commented on #6151
I'm having the exactly same issue with 2.1

[2016-08-18 23:21] stripcurtains commented on #6151
@wert2all Is there a temporary fix for it?

[2016-08-18 23:36] orbitrod commented on #5999
@sean-jamersan @s00071609 @mikelevy300 Have any of you guys, been able to figure out  solution or workaround for this error?  Or are you still having the same problem?

I tried creating new bundle products with the correct attribute set at the outset.  But I get the same hanging error when created a new bundled product, that I get when trying to edit the attribute set of an existing product.

As a

[2016-08-18 23:38] gabriel-sf commented on #5902
Hi @redline10000 , check this thread about the process on how to rename the tables.

http://magento.stackexchange.com/questions/103597/how-to-properly-remove-db-table-prefix-in-magento2/103599

[2016-08-18 23:41] orbitrod commented on #6108
@sean-jamersan @s00071609 @mikelevy300 You guys commented on another issue I reported, #5999

I was wondering if any of you were having the same problem I reported here, in regards to attribute values being mysteriously deleted.

[2016-08-18 23:42] gabriel-sf commented on #5479
Hi @sma09sjb  this is what I did for removing the prefix on the tables.

http://magento.stackexchange.com/questions/103597/how-to-properly-remove-db-table-prefix-in-magento2/103599

[2016-08-18 23:44] orbitrod commented on #6222
I have been having the same problem with the WYSIWYG as well on M2.0.7 and M2.1.

Thanks @vivek201 for figuring out how to reproduce the problem.

[2016-08-18 23:53] redline10000 commented on #5902
Hi @gabriel-sf

Thank you, the article makes sense but how do I figure out which table is looking for mgxa_catalogrule_product_cl?

[2016-08-18 23:54] crantron opened #6240 "Storeview not being saved in, "Send Welcome Email From" Select Field"
1.  Branch 2.1
2. PHP 7
### Steps to reproduce
1. Change welcome email to the correct store view (in a multi store set up)
2. Save
### Expected result

1. Should save selected option
### Actual result

1. Selects first item in select field list ( Chefstoys instead of Wingstop).

![screen shot 2016-08-18 at 4 52 33 pm](https://cloud.githubusercontent.com/assets/3859969/17794441/3f16a2c4-6564-11e6-8

[2016-08-18 23:57] crantron commented on #6240
Confirmation emails are set to not required, I'm not sure if that is causing this behavior.

[2016-08-19 00:16] redline10000 commented on #5902
Upon digging deeper into my database it appears that the triggers are still referencing the wrong table names. They all still have mgxa_ in them. But my tables no longer have mgxa_

[2016-08-19 00:31] gabriel-sf commented on #5902
@redline10000 to be honest, I removed the prefix of all the tables and then followed those instructions. Sorry I dont have more info. Have you cleared your cache and index?

[2016-08-19 01:10] redline10000 commented on #5902
Hi @gabriel-sf

I have cleared the cache and indexes.  I removed the triggers and everything seems fine now. Yet I am still getting the 400 error when making a braintree payment.

[2016-08-19 01:12] gabriel-sf commented on #5902
I would suggest using xdebug to see what errors you are getting and try to debug it from there. There might be a table or something missing.

[2016-08-19 06:16] sshymko commented on #6184
**Preconditions:**
- Multiple store views
- Product feed contains grouped products with values for individual store views

[2016-08-19 06:19] noc2spam commented on #4363
Why is this not a bug? Sometimes in the developer mode, it takes 5 minutes to load a single page. That's crazy! It's a clean install with nothing extra.

Using WAMP ( php5.6.4) in windows. Allocated 1G of RAM, but I do not have a SSD drive handy right now.

[2016-08-19 06:33] chamath commented on #5984
I have found following error when adding special prices

`Warning: strtotime() expects parameter 1 to be string, object given in <project_path>\vendor\magento\framework\Stdlib\DateTime\DateTime.php on line 138`

Any solution for this?

[2016-08-19 06:42] ghost commented on #5105
Hi,

Just to let you know I'm also getting this similar when you try and click on "send email" for an invoiced order.

I'm also using magento version 2.0.7

Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Sales\Block\Order\Email\Items\Order\DefaultOrder::getItemPrice() must be an instance of Magento\Sales\Model\Order\Item, instance of Magento\Sales\Model\Order\Invoice\Item given, cal

[2016-08-19 06:49] gabriel-sf commented on #6078
Does anyone have any update on this? or should we try the hack by @hrle991 ?

[2016-08-19 06:57] tkn98 commented on #4359
Ref: magentocommerce.com Ticket #03188454

[2016-08-19 07:08] Taral-Patoliya commented on #6197
@palamar I have already mensioned the magento version in the title of the issue, Which is 2.0.7,
And i am passing the array of the product to the import model, which is as follows.

`Array
        (
            [sku] => T050240606
            [attribute_set_code] => Default
            [product_type] => simple
            [product_websites] => base
            [name] => T050240606
            [pri

[2016-08-19 07:10] hiephm opened #6241 "Change class members from 'private' to 'protected'"
@alankent
Right now there are many classes that usually be inherited but all of their members are private (for example \Magento\Payment\Model\Method\Adapter).
For child classes to use their parent members, we must re-declare constructor and all members again, which is not very convenience.

I know that OOP good practice is keeping member as much private as possible. But given the extensible nature

[2016-08-19 07:11] palamar commented on #6197
Thanks

[2016-08-19 07:15] chonny commented on #4534
Same problem when i visit product list at admin panel. Magento 2.1 EE.

[2016-08-19 08:14] andimov commented on #5419
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-19 08:14] #5419 closed, assigned to nobody

[2016-08-19 08:15] andimov commented on #5349
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-19 08:15] #5349 closed, assigned to nobody

[2016-08-19 08:15] andimov commented on #5538
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-19 08:15] #5538 closed, assigned to nobody

[2016-08-19 08:15] andimov commented on #5448
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-19 08:15] #5448 closed, assigned to nobody

[2016-08-19 08:15] andimov commented on #5713
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-19 08:15] #5713 closed, assigned to nobody

[2016-08-19 08:15] andimov commented on #5378
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-19 08:15] #5378 closed, assigned to nobody

[2016-08-19 08:15] andimov commented on #5646
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-19 08:15] #5646 closed, assigned to nobody

[2016-08-19 08:16] andimov commented on #5604
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-19 08:16] #5604 closed, assigned to nobody

[2016-08-19 08:23] robinhuy commented on #6214
I'm using same environment, and try to making simple style changes in client-side compilation mode with this tut [CSS quick mode guide](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-guide/css_quick_guide_mode.html#client-side)
But I can't see section Developer in STORES > Configuration > ADVANCED (there are 2 sections: Admin and System)

So I try making simple style changes in serv

[2016-08-19 08:25] antboiko commented on #4611
Hi @bondimedical3 , according to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

Thanks,
Anton.

[2016-08-19 08:25] #4611 closed, assigned to antboiko

[2016-08-19 08:38] klarlichter opened #6242 "content:deploy only create minified css and js files"
Hello,
we had run content:deploy. We can see that content:deploy only create minified css and js files.
How we can solve that? We want get example.min.css and example.css files.

We dont know where that bug cause...:(

[2016-08-19 08:38] rudik99 commented on #6167
@wert2all any news ?

[2016-08-19 09:00] wert2all commented on #6167
I can't say anything, but I think this fix will be merged after 2.1.x release.

[2016-08-19 09:09] mackelito commented on #5404
is there any update on this ticket?

[2016-08-19 09:14] Umfi commented on #6183
Magento 2.0.8 CE - LUMA
Multistore - de_AT

I just added some EAV fields for customer attributes.

Config->Customer->Customer Configuration: Require Emails Confirmation=Yes

Config->Customer->Newsletter
![image](https://cloud.githubusercontent.com/assets/13978552/17805077/066f5656-65fe-11e6-9695-b65341fcd826.png)

[2016-08-19 09:31] veloraven commented on #4585
@klarlichter thank you for your feedback.
Please, provide the used Magento version.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-19 09:34] veloraven commented on #4456
@jstuardo is this issue still actual?
If it is not, please close the issue.
If it is, please provide the used Magento version and description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-19 09:37] picamator commented on #6098
@vasuscoin thank you for reporting issue.
We already have internal ticket MAGETWO-46160 in our backlog.

[2016-08-19 09:44] valibus opened #6244 "Promo code label not used"
When setting a promo code label, it is not displayed in cart but the promocode is used instead
### Preconditions
1. version : magento 2.1 public release
2. Setting a promo code with a name : promocodename
3. seeting a code for this promo with a code : truc
4. Setting a default label : labeltest
   ![image](https://cloud.githubusercontent.com/assets/6961470/17805905/0b966f30-6602-11e6-92a1-513c56ae

[2016-08-19 09:49] katmoon commented on #5156
@antboiko can you look at this?

[2016-08-19 10:12] AVoskoboinikov commented on #6067
Hi,

Thanks for screencast, it helped to make situation more clear, but I am still trying to reproduce error without success.

Can you help me with some new questions?
1. Could you describe your environment (webserver, php version, mysql, etc.)?
2. Could you tell how you got your custom attributes like "key features", etc.?
3. Is there any difference between how you create product and your custom

[2016-08-19 10:24] tkacheva commented on #6195
@JesseEnd @ps202
Gallery supports several modes to show images from configurable options:
- Replace  images in gallery with the ones from configurable options
- Upend images from configurable option to the images in gallery

Currently the second option is broken. Internal issue MAGETWO-57210

[2016-08-19 10:34] vishveskrish commented on #6126
Hi Gordon,

This is temporary fix but its not the solution as M2 adding duplicate entries on "cataloginventory_stock_item"  table while importing the products.

We need to fix this issue as soon as possible.

While updating any products it is re-entering the new rows for updated products .

Thanks,
Vishves Shah

[2016-08-19 10:58] tkacheva commented on #5010
@blizam @MattHans0n
Category tree reloads after each category rearrangement and display categories the way they've been rearranged. Is this  still a reproducible issue on your side?
If so please provide the details of Magneto configuration and screenshots

[2016-08-19 11:04] wert2all commented on #6123
I cannot reproduce the issue.
Please provide more preconditions to reproduce this issue: what did you added,  what did you  changed in 2.0 version?

[2016-08-19 11:08] veloraven commented on #6194
@adityag186 thank you for your feedback.
What does mean 'copy the "Ebs" folder'? Where do you take it from?

[2016-08-19 11:18] klarlichter opened #6245 "bin/magento content:deploy only minifid css and js files"
Hello,
we had run bin/magento content:deploy and get only minifid css and js files on pub folder. Could you please help?
I think it is a bug.

[2016-08-19 11:24] #2969 closed, assigned to nobody

[2016-08-19 11:29] maderlock opened #6246 "Payment failure does not provide full exception information to allow debugging"
### Preconditions
1. Magento 2.1, PHP 7, Mysql 5.7
2. Developer mode
### Steps to reproduce

1. Get to a point where placing checkmo payment causes an error (sadly, the problem is that I'm trying to figure out why this is occurring so I cannot give any more).
### Expected result

1. A full stack trace if in developer
2. The exception output in the exception log.
### Actual result

1. "Unable to pl

[2016-08-19 11:31] veloraven commented on #6225
@jaimin1671992 thank you for your feedback.
Please, provide the used Magento version.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result. In your case please describe by steps how do you install Magento.
Please try to clear browsers cache if you have

[2016-08-19 11:32] liam-wiltshire commented on #6128
As far as I can tell, this happens if mySQL has been configured with --skip-show-database as a runtime flag, or set in my.cnf

Changing the checkDatabaseName function to the below seems to work, but not sure if anyone can advise of a cleaner way to do it:

[code]

[2016-08-19 11:44] maderlock commented on #6246
Another example is after Paypal Express fails in sandbox mode (a common occurrence), there are no log messages and all I see on the frontend is this:
![screenshot 2016-08-19 12 39 44](https://cloud.githubusercontent.com/assets/630320/17808885/a05fef6c-660a-11e6-907a-a8fd96c7c87c.png)

[2016-08-19 11:47] andimov commented on #5523
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-19 11:47] #5523 closed, assigned to nobody

[2016-08-19 11:49] AVoskoboinikov commented on #5761
Hello,

Thanks for request but I didn't managed to reproduce your issue with C.E. 2.1.0. I had tried both cases and both of them worked fine. Moreover, going to checkout right after adding product to cart didn't lead to null "mage-cache-storage".

Can you check if you still can reproduce issue and provide more detailed steps to do this?

Will appreciate your help. Thanks!

[2016-08-19 11:51] tkacheva commented on #5678
Hi @qmarlats,
Is this about custom attribute input type only or there are places in default configuration that seems to have similar issues?

[2016-08-19 11:59] lanken commented on #6227
Hi @shahankit783,

Could you, please, change your hostname from 'localhost' to something like 'localhost.com', cURL isn't not working correctly in this case.

Also, could you tell what is the version of your web browser and selenium server?

One more item, pay attention to the **app_backend_url**, it must be exact the same as the url after login to the Magento admin, if it contains **index.php** i

[2016-08-19 12:01] AVoskoboinikov commented on #5697
Hello. Thank you, we will review your suggestion!

[2016-08-19 12:09] andimov commented on #5421
@amanuni
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-19 12:09] #5421 closed, assigned to nobody

[2016-08-19 12:26] andimov commented on #5337
@SidneyBilliet
Thank you for reporting!
Is this a duplicate for  #3170?
Could you provide description according to the template: with steps, actual and expected result?

[2016-08-19 12:36] yariksheptykin commented on #6218
Yeah, this one is a duplicate. Feel free to close.

[2016-08-19 12:40] springimport commented on #6236
It doesn't work for the interfaces.

Default usage:

[code]

Interface -> Class

I need to:
Interface -> Interface

[2016-08-19 13:04] daniel-ifrim opened #6247 "Request to upgrade jquery cookie JS lib"
### Preconditions

Current version used by Magento is depreacted and not maintained anymore.
May we have the new version of it in the next Magento releases ?

Current version used by Magento:
https://github.com/magento/magento2/blob/develop/lib/web/jquery/jquery.cookie.js
in:
https://github.com/magento/magento2/blob/develop/lib/web/mage/cookies.js

Link to deprecated lib:
https://github.com/carhar

[2016-08-19 13:37] picamator commented on #6183
@andypimlett , @Umfi , @stevecantlay
Thank you very much for putting details. We have reproduced the problem and created our internal ticket MAGETWO-57222.

[2016-08-19 13:43] maderlock commented on #6241
I've come across this too, though more often it's just one or two things that are private making them hard to extend.

In addition, there are too many methods protected which means that plugins cannot be used with them, making the plugin mechanism rather less useful than maybe the creators expected.

[2016-08-19 14:10] wert2all commented on #6230
I cannot reproduce the issue.
Please try to upgrade Magento or describe all steps you have done in a more detailed way.

[2016-08-19 14:10] #6230 closed, assigned to wert2all

[2016-08-19 14:15] andimov commented on #6218
Ok, thanks! I'll closed this ticket as a duplicate.

[2016-08-19 14:15] #6218 closed, assigned to nobody

[2016-08-19 14:16] andimov commented on #2823
@mage2pro
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-19 14:27] imbhupendra41 opened #6248 "404 while saving Footer Miscellaneous HTML"
I am trying save the Zopim script on in Miscellaneous HTML into content->design->configuration
I am geting 404 page while saving the script with <script>tag .

![footerscript](https://cloud.githubusercontent.com/assets/5947187/17812979/0806bdda-6647-11e6-9962-be1e270762db.png)
![footerscript](https://cloud.githubusercontent.com/assets/5947187/17813008/28769572-6647-11e6-857f-fda16c658c86.png)

[2016-08-19 14:30] dthampy commented on #6078
This issue has been resolved internally and will be available in a future release.

Thanks.

[2016-08-19 14:33] YevSent commented on #6246
Hi, @maderlock. This is a known issue and internal ticket already created MAGETWO-55065.

[2016-08-19 15:06] tkacheva commented on #5055
currently  gallery returns images from configurable product. issues doesn't exist anymore.

[2016-08-19 15:06] #5055 closed, assigned to tkacheva

[2016-08-19 15:13] andimov commented on #5502
@ktruehl
in which way Magento was installed?

[2016-08-19 15:18] tkacheva commented on #4404
@jonsaf Filterable (no results) means that Magento shows all the product attribute values that are configured to be used in layered nav (even if there is NO_RESULT in product grid)
Please use  Filterable (with results) to achieve what you want.  Filterable (with results) means that swatches will only appear for values where the number of results (the number in parentheses next to each value) is gr

[2016-08-19 15:18] #4404 closed, assigned to tkacheva

[2016-08-19 15:21] sevos1984 commented on #6244
Thanks for reporting, this is a known issue, internal tiket is MAGETWO-48435

[2016-08-19 15:27] sevos1984 commented on #6248
Could you please share your script to test it? Thanks

[2016-08-19 15:30] tkacheva commented on #3172
internal ticket MAGETWO-57229

[2016-08-19 15:34] tkacheva commented on #3079
internal issue MAGETWO-57230

[2016-08-19 16:55] andimov commented on #4756
@mhadianfard
Looks like you have different issue. Do you have any update for it?
@abhijitbanik2016
try to enable developer mode in .htaccess and look at the errors in the response.
Please, also recheck solution https://github.com/magento/magento2/issues/4756#issuecomment-223439006

[2016-08-19 17:02] blizam commented on #4785
Can someone please clarify if I use the ALTER statement here to patch my 2.1.0 install... will that cause any issues when the next prod ver of mage is released/when I upgrade mage?

The same issue occurs on PayPal Express if you have it set to not skip the review page... which is necessary if you need to add carrier fetched shipping method/cost...

[2016-08-19 17:12] romeof1980 commented on #5902
Hi @redline10000,
have you enabled 3D secure in Magento 2 Braintree configuration section?

[2016-08-19 17:21] andimov commented on #5946
@jaimestuardo @diglin
Could you please provide more details about  Magento installation and environment?
Was it upgrade or clean install, do you use Varnish, etc.

[2016-08-19 17:31] andimov commented on #6203
@techgh0st
Thank you for reporting!
I've created an internal ticket  MAGETWO-57267 for this issue and linked it to this one.

[2016-08-19 17:34] blizam commented on #2916
This is huge I think... especially on credit card processing errors... if a card is declined in any of the PayPal checkout options there's a good chance the error is outside of the users' window (above) and because the error clears so quickly (it hides immediately if you put your mouse on it; or after 5 seconds) the user will quite often miss it (I know I did in testing) and therefore have no idea

[2016-08-19 17:36] erikhansen commented on #2916
@blizam Yes, I consider this a serious usability issue and I hope Magento addresses it in the next release.

[2016-08-19 17:52] adragus-inviqa commented on #2916
Hijacking this thread to express my facepalming: I don't know whose idea was to hide the messages after 5 seconds, but it's a darn bad decision.

[2016-08-19 18:36] SanityLost opened #6251 "404 NGINX not found error in "action" column within content > configuration"
Moved site to production server.  After move, when going to content> configuration, everything displays except the action column. It just dipslays 404 not found error within the column.

Using;
Nginx
php7.0.8
SSL (full site)

![untitled picture](https://cloud.githubusercontent.com/assets/11261705/17820378/8c3d7440-661a-11e6-873d-22a9ea3a702e.png)

[2016-08-19 18:48] crantron opened #6252 "Programmatically adding to Cart"
### Preconditions
1. Branch 2.1, 2.2 dev
2. PHP 7
### Steps to reproduce

[code]
### Expected result

1. Should add all items that were in the specific Order
### Actual result

![screen shot 2016-08-19 at 11 46 56 am](https://cloud.githubusercontent.com/assets/3859969/17820653/ad4b0002-6602-11e6-8fba-b96bc93511b6.png)
2. adds the quantity of all items to one item.
3. I'm stepping through and it is

[2016-08-19 18:56] alyzrazor commented on #5423
I think I found the cause for this bug, I tried to reproduce this problem in many different ways and scenarios using fresh installations of 2.1, PHP 5.6 or 7,  once I change from **http** to **https** my nav bar is gone in HOME, but it works in some other places like: Account Login etc...

**It ONLY happened as SOON AS I ACTIVATE VARNISH, so it doesn't happen when I'm using Built-in Cache**

[2016-08-19 19:03] erikhansen commented on #6195
@tkacheva Where would a merchant customize the gallery modes? Is this something they can do from the admin, or would a developer need to make (possibly in the `etc/view.xml` file)?

I was working with a merchant yesterday and uncovered that the Blank and Luma themes handle this differently: The Luma theme has the issue discussed in this issue. However the Blank theme works as you would expect: whe

[2016-08-19 19:08] jaimin1671992 commented on #6225
i am solve this at my self actually i want to set just this ->php bin/magento setup:static-content:deploy
and all my problem is solved

[2016-08-19 19:09] jaimin1671992 commented on #6225
Thank you @veloraven

[2016-08-19 19:37] ktruehl commented on #5502
I don't understand your question @andimov. What exactly do you mean? Just install the store with the demo data following the official instructions.

[2016-08-19 19:51] blizam commented on #5010
I can't immediately test this... I've rearranged cats a bit in 2.1.0 and didn't have any issues... I can test in a week or so when I move this site into prod and setup a separate test site/environment

[2016-08-19 20:13] jaimestuardo commented on #5946
I was using Magento 2.0.x and it had another problems that I needed to have fixed. So, when 2.1.0 version was released, I have upgraded. Most problems were solved, however, this another problem started happening. This is crucial to be solved as soon as possible.

[2016-08-19 20:18] sskharate commented on #5101
Thanks it worked. saved valuable time :+1:

[2016-08-19 20:24] ps202 commented on #6195
@tkacheva
Replace is also not really functioning, because if I have 2 images in the gallery of the configurable product, and also 2 images in the gallery of the simple product (as displayed above), according to your comment, the replace function should replace the existing images in the gallery.
But it is only replacing the first one.
So I would say both options are broken, not only the second one

[2016-08-19 20:30] ps202 commented on #6195
@erikhansen @tkacheva
I just tried out what Eric wrote above: I can confirm, that just switching to the Blank theme solves the issue...
Both images are changed, not just the first one.

[2016-08-19 20:32] pieal86 commented on #4035
any solution for this one?

[2016-08-19 21:00] redline10000 commented on #5902
@romeof1980  thank you for the suggestion but I ended up just making a new db. My install was a new install and was not really worth all of the effort to fix. Fresh install w/o table prefixes fixed everything.

[2016-08-19 21:01] dthampy commented on #5881
@tbenny, can you please clarify if , after step 2, did you sign in with a different/incorrect username and/or password on the admin login to see the error: "You did not sign in correctly or your account is temporarily disabled”? Or
as soon as the installation is over, when you navigated to the admin login, you got the error?

[2016-08-19 21:04] romeof1980 commented on #5902
Sounds very good. Personally, when editing dtb and ending with errors, I'd not just delete the cache but I'd also delete and redeploy static content

---- On Fri, 19 Aug 2016 23:00:51 +0200 notifications@github.com wrote ----

@romeof1980 thank you for the suggestion but I ended up just making a new db. My install was a new install and was not really worth all of the effort to fix. Fresh install w

[2016-08-19 22:10] stevekem commented on #4795
@rhiensch Thanks, your solution worked for me!

[2016-08-19 22:38] acidreian666 opened #6253 "Multi Select & Dropdown Attribute unable to Save Bug. Magento 2.1 & 2.2Dev"
### Preconditions

1. Magento 2.1 & Magento 2.2Dev
2. Ubuntu 16.04 Nginx1.10 PHP7.08 Mysql5.7
### Steps to reproduce

1. Fresh Install Magento 2.1 or 2.2Dev
2. Create A new Attribute Multi-Select or DropDown
3. Add 10-20 Attributes in the list
4. Select "Manage Labels" and Add Label ex. "Styles"
5. Select "Storefront Properties" Set everything To Yes so it is displayed and filterable and comparabl

[2016-08-20 04:58] Vinai opened #6254 "PHPUnit 4 can not mock classes with methods using PHP7 return types"
PHP7 allows methods to declare return types.
For example:

[code]

This feature of PHP7 (and others) is not used by the Magento 2 core code, since it still supports the old PHP version 5.6.
However, code written for specific Magento 2 instances known to be running on PHP7, may already utilize the many features PHP7 provides under certain circumstances (e.g. compilation and `ObjectManager` complian

[2016-08-20 05:59] mackelito commented on #4350
@sereban or @slavvka perhaps someone of you can explain to me how to get product images when requesting the cart? ("V1/guest-carts/666ef786077b70c95016727cfaf21830/items" or "V1/guest-carts/666ef786077b70c95016727cfaf21830/totals").

(Obviously we do not want to do api requests to each product just to get the urls for the images)

[2016-08-20 06:41] imbhupendra41 commented on #6248
Hello Sevos1984

I am using Magento 2.1 and you can try with any code with script tag. Like i also tried to add following code.

<script>
alert("Hello World");
</script>

It is not working with script tag while i am able to save any text inside that field. For temporary solution i have directly added to database and now it is working.

[2016-08-20 07:55] thomvanderboon opened #6255 "REST user set to English gets non-English responses"
I have a Dutch website. My REST user's language is set to English, but the responses of the REST interface are in Dutch :(

If I set a users language to x I would also expect the response to be in that language.

Tested on 2.1.0 and 2.2.0-dev
### Steps to reproduce
1.  Install a language pack
2. Set admin user to use that language
3. Deploy everything
4. Create user with password for REST set lang

[2016-08-20 08:24] azanelli commented on #5886
We had the same issue.

Should be removed `translate="true"` in:

[code]

from this layout file: `app/code/Magento/Catalog/view/frontend/layout/catalog_product_view.xml`.

---

As temporary solution we can extend `catalog_product_view.xml` and add this:

[code]

[2016-08-20 08:29] thomvanderboon opened #6256 "URL-rewrite not created if website is added via REST on multi store system"
I have a multi store website. I use the REST interface to add and maintain the products. When you add the product via the REST interface the URL rewrite is created for the product for the first website. When you add the product to another website via REST, the URL rewrite for the "extra" website/storefront is not created.

Tested on 2.1.0 and 2.2.0-dev
### Steps to reproduce
1. Create product via

[2016-08-20 08:43] tandih commented on #5462
Hi there,

I also encountered similar problems before and root cause is when i try to create new store by script php and sales_sequence_\* table is not update after run reindex. You can fix by trigger event store_edit when create store by script. Hope this is helpful for some guys like me before.

[2016-08-20 09:00] qmarlats commented on #5678
There are these kind of forms everywhere, starting at the installation for the time zone selection, then after in Magento configuration (like on the screenshot in my first post).

[2016-08-20 09:02] qmarlats commented on #4797
I think it's fixed now then I close this issue.

[2016-08-20 09:02] #4797 closed, assigned to nobody

[2016-08-20 09:38] jigar48 opened #6258 "Magento 2 Authorize.net Direct Post, after order place page is not redirecting to success page."
Hi

I am using Magento 2.0.8 and onestepcheckout. When I am going to checkout the product and fill the checkout information and click on Place order button, Order has been placed but its not redirecting the success page instead of its stay on the checkout page.
http://prntscr.com/c82arm

transparent.js:102 Uncaught TypeError: Cannot read property 'success' of null
http://prntscr.com/c84s94

[2016-08-20 10:43] bka commented on #6245
Check your settings under Stores -> Configuration -> Advanced -> Developer -> Java Scripts / CSS Settings. If minification is enabled there, the task generated minified versions.

[2016-08-20 11:13] shahankit783 commented on #6227
Hello,
I have changed host name from localhost to localhost.com and it is running on port 8080.

Chrome Browser: Version 52.0.2743.116 m (64-bit)
Selenium jar :- selenium-server-standalone-3.0.0-beta2.jar

app_backend_url :- http://localhost.com:8080/magento2.1.0ce/admin_iaa328/

[2016-08-20 14:28] cjwijtmans commented on #2732
I have the same issue on a fresh 2.1 install with composer. Most likely the combination of merging and minifying JS is creating an issue here, a link to a non existing minified file due to merging.

EDIT: The problem seems to be the minifying, just disabling merging/combining js wasnt enough.

[2016-08-20 15:49] magolovanov commented on #3430
Hello all

Also looking forward to the solution. This is critical for our integration

A note: all  frontend labels (labes for all store views) are not needed, only a single store_code-specific label value is needed from these calls. It looks somewhat confusing that /rest/{store_code}/V1/products/attributes lists only store_code-specific option labels but is supposed to return attribute labels for

[2016-08-20 17:20] storepeinture opened #6259 "Product image issue with multiple store views Magento 2.1.0"
Product images in multi store view (multiple language store views) cannot be hidden independently.

### Preconditions

1. Magento CE 2.1.0 without sample data is installed
2. Template Extension Smartwave Porto installed
3. No other extensions installed
### Steps to reproduce

1. Create a multiple store views (e.g. French and English) under one main website
2. Create a configurable product (e.g. di

[2016-08-20 19:44] azanelli commented on #5853
We have this issue also. Very annoying!

As workaround we disabled the `touchmove` event from gallery's images, with this javascript:

[code]

It must be executed after fotorama loads gallery images, so we used something like this:

[code]

Hoping this bug will solved soon.

[2016-08-20 23:49] nikoelgatito commented on #5662
# MSRP VS MAP

As we are also experiencing issues related to the new "MSRP/MAP" in Magento 2, I would like to add some facts.

First of all, this was a huge mistake - MSRP and MAP are very different. The only part they have in common is that they are both privided by the manufacturer.

These are both descriptions following my personal knowledge, which is how it actally is.

**MSRP (Manufacturer's

[2016-08-21 00:18] Ctucker9233 commented on #6149
@tiwarimukesh I have noticed the self-cleaning behavior when I go into a specific product in the catalog, delete the images i don't want (using the little trashcan symbol) and then loading the ones I want. It may not be exactly the same for importing products with images.

[2016-08-21 01:06] TClilMouse commented on #6123
I found the main cause, it can't have a group name call configurable
Steps to reproduce

Attribute Sets - > Default
Add New - > Configurable
Assigned any attributes
go to products -> catalog -> add product

[2016-08-21 01:22] grasdaggel commented on #5421
Ticket has its reason to be here - I have the same someproblem on Magento 2.1.0 when trying to access a product page with a requirejs-config.js in the Theme. When this file is not there it _seems_ that the bug is not there.

We have the following setup according to your questions and I can reproduce it.

However, my console out put differs a little:

[code]

Server is an Apache2, but I cannot find

[2016-08-21 01:51] Ctucker9233 commented on #5943
@veloraven @duhon Any updates on progress?

[2016-08-21 02:43] acidreian666 commented on #5662
@nikoelgatito +1 thanks for support.

[2016-08-21 04:55] thomvanderboon opened #6260 "php bin/magento i18n:pack creates unwanted dir"
If you run the php bin/magento i18n:pack to install a language pack a /i18n directory is created at system root. If you have no permission to write at system root you wil get a mkdir error

Tested on 2.1.0 and 2.2.0-dev (both same result)
### Steps to reproduce
1. From website root
2. cd ./var
3. wget http://107.170.242.99/var/2.1.0/source_nl_NL.csv
4. cd ..
5. php bin/magento i18n:pack --mode=rep

[2016-08-21 09:51] heldchen opened #6261 ""Customer > Address > State/Province" in admin backend does not honour the "State is Required for" setting, is always required"
the "State/Province" (attribute `region_id`) selectbox in "Customers > Customer > {edit} > Addresses" is always marked as "required" when the selected country has states - even when the option "State is Required for" in "Stores > Configuration > General > State Options" is not enabled for this country.

this prevents saving the customer.
### Preconditions
1. CE 2.1.0
### Steps to reproduce
1. in "

[2016-08-21 10:16] heldchen commented on #6261
in `www/vendor/magento/module-customer/view/base/ui_component/customer_form.xml` the region_id is marked with an unconditional `required` validator:

[code]

removing this validator "fixes" the issue - obviously the region is then also not required for countries where no "State is Required for" opt-out exists.

[2016-08-21 12:46] cizgidekiadam commented on #5664
An addition;
If I change status via products grid (check checkbox of item, select 'Change Status'->'Enabled' action) it is working fine

[2016-08-21 14:27] jaykobi commented on #4774
This really needs to get a bug label. I can choose a tax rate for child products. But it is not used.

@kanduvisla I will try using your code and will post here if it works for me.

[2016-08-21 14:58] wired-circuit opened #6262 "Magento2 SSL Installation httpss://"
1. When installation is completed using a https address Magento Installation inserts httpss://.. in the store address.  Admin address is unaffected.

Log file displays "a:4:{i:0;s:39:"no class registered for scheme "**httpss**"";i:1;s:1915:"#0 /var/www/vhosts/magento2/vendor/zendframework/zend-http/src/Header/AbstractLocation.php(74): Zend\Uri\UriFactory::factory('**httpss**://www....')"

[2016-08-21 17:58] j4hangir commented on #3430
None of the solutions above work.
The only path valid is `rest/all/V1` however the result is identical with `rest/V1`.

The Magento version is 2.1.0.

[2016-08-21 18:39] Snowball678 opened #6263 "Configurable product option is deleted from order view when invoice or shipment is generated - Magento 2.0.9 CE"
When an invoice or shipment is manually generated for an order, the product option(s) of a configurable product in that order disappears form the order/invoice/shipment view both in frontend and admin end. And also on pdf views.

Steps to reproduce
1. Install magento community edition 2.0.9 without sample data
2. Create a configurable product
2. Place an order from frontend
3. Generate invoice for

[2016-08-21 19:54] iknowtech commented on #5662
I just setup Magento for the first time, to offer it as an option to client for store they want developed.    This is a Distributor who would be selling at wholesale, and they need to be able to show the MAP pricing and MSRP pricing separately, as they need this information to visible to the buyers who will be reselling the product.

This definitely seems like a major oversight, and a clear misund

[2016-08-21 20:38] allanpaiste commented on #6138
### Preconditions

Using custom Ubuntu xenial vagrant-box, php7, apache
1.  Have latest stable release of Magento 2.1 installed.
2. Install sample data (sampledata:deploy).
3. {optional} disable xdebug php module (makes testing faster).
4. {optional} disable js merging/minifying (if running in developer mode, makes testing faster).

### Steps to reproduce
1. Log into admin
2. Navigate to PRODUCTS

[2016-08-21 20:57] grasdaggel commented on #4449
Can confirm that this Bug appears on our installation, too. We also are using a Dev Env.

[2016-08-21 21:03] allanpaiste commented on #6190
Certain attributes can not be deleted as they're part of system-critical processes. A good example of this is the "sku" attribute, which is listed in product attributes, but can't be removed.

auto_bill is probably similar to that.

Things that you can delete via admin are usually the ones marked as "user defined" in DB in eav_attribute table. So if you, say, switch is_user_defined flag for "sku"

[2016-08-21 21:59] sylvainraye commented on #5946
Same as @jaimestuardo except that issues are still on 2.1.0. No varnish. PHP 7 installed on a vagrant VM

[2016-08-21 22:05] ghost commented on #5459
Thank you so much for this patch.

[2016-08-22 00:14] ReactionCode commented on #5908
Here with the same issue on VM Homestead 5.0.

Php 7.0.8
Nginx 1.11.1

I only sucessfully installed magento with **php bin/magento setup:install**

What is the reason for?

[code]

[2016-08-22 00:43] ghost commented on #6131
@hostep Regarding [this comment](https://github.com/magento/magento2/issues/6131#issuecomment-239607754):
-  [What are all the caches for?](http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-cache.html)

  Does that make it clear which ones to disable?
-  [Which directories do you clear and when?](http://devdocs.magento.com/guides/v2.1/howdoi/php/php_clear-dirs.html)

[2016-08-22 02:29] stefan68 commented on #412
Hi guys,
I recommend Multiple Store View Pricing Extension that will meet your need.
Check it out here:
For Magento 1: http://bsscommerce.com/magento-multistore-pricing.html
For Magento 2: http://bsscommerce.com/magento-multiple-store-view-pricing-for-magento-2.html

Hope it helps!

[2016-08-22 02:55] thomvanderboon opened #6264 "Error in Admin > products when module Reviews is disabled"
After disabeling module Reviews, when editing a product an error is displayed
### Preconditions
1. Tested and confirmed on 2.1.0 and 2.2.0-dev
### Steps to reproduce
1. Go to Admin panel
2. Go to Stores > Configuration > Advanced > Advanced
3. Disable module Reviews
4. Go to Products > Products
5. Try to edit a (any) product
### Expected result
1. Hide reviews tab and no errors
### Actual result
1

[2016-08-22 02:57] thomvanderboon commented on #6026
@andimov Please close this issue. Opened https://github.com/magento/magento2/issues/6264

[2016-08-22 04:10] sstar297 opened #6265 "Mini Cart return no items"
I have a bug with magento 2.1 but i think it is from base. when i add to cart from product detail: ajax is loaded and everything is good, mini cart show 1 item but the bug appear when i add to cart from homepage or extension have button not ajax. minicart does not update and return "No items"

Now, miniCart have a trigger call function load minicart after add to cart by ajax so if i code a button

[2016-08-22 05:00] klarlichter commented on #6245
Hello, OK. But it would be more easy if we can do that by command line... if you set that option and design will be destroy you need first login into database...
thats not the best way we need to choose...:S

[2016-08-22 05:09] Aartitops commented on #6148
Hi,
Any update?

[2016-08-22 06:05] lanken commented on #6227
Could you, please, use stable selenium server releases: http://selenium-release.storage.googleapis.com/index.html (for example, 2.53)
What is your URL after you have logged in to the admin manually?

[2016-08-22 06:17] shahankit783 commented on #6227
I have tried to run it with selenium-server-standalone-2.53.1.jar with chrome browser.

The most common error in all failure test cases is **"Exception: Configuration settings are not applied! Url: http://localhost.com:8080/magento2.1.0ce/admin_iaa328/admin/system_config/save/section/admin"**

Manually URL which i fired in browser :-
BACK END URL :- http://localhost:8080/magento2.1.0ce/admin_iaa32

[2016-08-22 06:40] veloraven commented on #6242
@klarlichter thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-22 06:46] veloraven commented on #6245
@klarlichter thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-22 06:47] lanken commented on #6227
Add '/' at the end of the backend url
http://localhost:8080/magento2.1.0ce/admin_iaa328/admin/

I guess, it's mistake, but the host name according to your words should be localhost.con, not localhost.

Also, have you set your credentials to log in to the admin?
http://devdocs.magento.com/guides/v2.1/mtf/mtf_quickstart/mtf_quickstart_config.html#mtf_quickstart_config_configxml

Could you, please, a

[2016-08-22 06:50] veloraven commented on #6248
@imbrj please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-22 07:01] shahankit783 commented on #6227
Yes in phpunit.xml it is the same as you have mentioned .

app_backend_url  ="http://localhost.com:8080/magento2.1.0ce/admin_iaa328/"
app_frontend_url ="http://localhost.com:8080/magento2.1.0ce/"

[2016-08-22 07:05] veloraven commented on #6263
@Snowball678 thank you for your report.
This issue is duplicate for #5686 and we already have internal ticket MAGETWO-56694 for it.

[2016-08-22 07:10] veloraven commented on #6265
@Sonnh290791 thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-22 07:22] lanken commented on #6227
What is about curl response?
Also, please, check http://devdocs.magento.com/guides/v2.1/mtf/mtf_quickstart/mtf_quickstart_magento.html especially **Admin Account Sharing**

[2016-08-22 07:34] soragan commented on #6265
1. Magento CE 2.1.0 without sample data installed, Multiple Website/Store on single Magento Instance.
2. Installation on a subfolder
3. Running 2.4.6 CentOS 7, MySQL 5.5.5-10.1.14-MariaDB Centos 7, PHP 5.6.24
4. Tested on multiple fresh installation, problem persist

To reproduce problem:
1. Click on Category in navigation
2. Click on any product to go into product details.
3. Click on "Add to Car

[2016-08-22 08:05] #6026 closed, assigned to nobody

[2016-08-22 08:06] andimov commented on #5990
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-22 08:06] #5990 closed, assigned to nobody

[2016-08-22 08:06] andimov commented on #6010
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-22 08:06] #6010 closed, assigned to nobody

[2016-08-22 08:07] andimov commented on #6051
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-22 08:07] #6051 closed, assigned to nobody

[2016-08-22 08:07] andimov commented on #6057
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-22 08:07] #6057 closed, assigned to nobody

[2016-08-22 08:07] andimov commented on #6062
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-22 08:07] #6062 closed, assigned to nobody

[2016-08-22 08:07] andimov commented on #6065
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-22 08:11] andimov commented on #6221
This is a duplicate of #4697
I'm closing this one. Please feel free to reopen if you need.

[2016-08-22 08:11] veloraven commented on #6254
@Vinai thank you for your feedback.
Internal ticket MAGETWO-57293 was created.

[2016-08-22 08:11] #6225 closed, assigned to nobody

[2016-08-22 08:58] shahankit783 commented on #6227
Yes, I have applied the same settings as mentioned in that guide.
When i try to run the specific group like "Cross-sells_(MX)" it does open the browser but it won't open any URL inside browser.

The following is stack of error:
D:\wamp64\www\magento2.1.0ce\dev\tests\functional>vendor\bin\phpunit --group Cross-sells_(MX)

PHPUnit 4.1.0 by Sebastian Bergmann.

Configuration read from D:\wamp64\www\m

[2016-08-22 09:03] tbenny commented on #5881
Hi
After step2 I tried to login with correct username password only, the issue is actually when we install magento it wont validate password strength and it will allow easy passwords like admin123 and after installation when we try to login from the admin panel it will check for the strength of password which is a bug

[2016-08-22 09:06] vovan1983 commented on #1030
When I set <?php if ($block->setShowAddressFields(true)): ?> instead <?php if ($block->getShowAddressFields()): ?> the address fields are showing, but if I submit form  then I get notice that 'Delete operation is forbidden for current area' without login and redirect to dashboard (but customer was register) in Magento 2.1.

[2016-08-22 09:30] imbhupendra41 commented on #6248
Preconditions
1. Magento CE 2.1.0 with sample data is installed.
2. We are on Nexcess - Apache(Web server)
2. We are trying add the zopim script in general website.

Steps to reproduce
1. Login to Magento2 admin
2. Go to Content->Design->Configuration
3. Then edit any of options from that grid.
4. Once you edit that any option go to Footer section.
5. Then open that section and add following code

[2016-08-22 09:43] basselalaraaj opened #6267 "Order getitemscollection Missing items when loading"
### Preconditions
1. Magento 2 develop branch (update to last commit 5a615bb9d369ca8ead2929dd469d12d55532c8f8)
2. PHP 7 and mysql 5.6
### Steps to reproduce
1. First setItems() on a order through code.
   \Magento\Sales\Model\Order::setItems()
2. Then call the item collection of an order
   \Magento\Sales\Model\Order::getItemsCollection()
### Expected result

![screen shot 2016-08-22 at 11 40 55](

[2016-08-22 09:55] RUjmiak commented on #760
@tanya-soroka @vkorotun Product updated_at not changing also on price change.

Magento: CE2.0.1

[2016-08-22 10:06] d-pelikhov commented on #5908
Fatal error: Cannot instantiate interface Magento\Framework\App\Config\Scope\ReaderPoolInterface
in /home/vagrant/www/magento-ce/vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php on line 73

+1

[2016-08-22 10:07] lanken commented on #6227
It's not a curl response, it's stack trace response.
It should be in the folder  like
dev/tests/functional/var/log/magento /Catalog/AddToCartCrossSellTest/AddToCartCrossSellTestVariation1/curl-response

[2016-08-22 10:14] girish-happiestminds opened #6269 "DevDoc description has an attribute not necessary in POST endpoints"
In POST calls there are some endpoints which have id as an attribute in the 'request'

for example

{
  "taxClass": {
    "class_id": 0,
    "class_name": "string",
    "class_type": "string",
    "extension_attributes": {}
  }
}

In the above example, class_id should not be part of the 'request' (json/xml) as it is autogenerated during insertion. If we send a request with class_id, we get an erro

[2016-08-22 10:16] sumihiro opened #6270 "Default Store View value of Text Swatch attribute is too short."
I want to use Text Swatch Attribute with long text.
But Default Store View value cannot be saved correctly. It will be shrink.
### Preconditions

I'm using Magento2.1.0, and MySQL 5.6.30.
### Steps to reproduce
1. Create new Attribute, and select Text Swatch.
2. Set long text to Default Store View in Manage Swatch.
   Like: "0123456789012345678901234567890123456789012345678901234567890123456789012

[2016-08-22 10:18] hbhardik commented on #4637
Having the same issue still using magento 2.1 Enterprise version. any update on this issue? That is happening when we create custom theme

[2016-08-22 10:21] sumihiro commented on #6270
Also, I want to use Default Store View as Text Area not Text Field.

[2016-08-22 10:22] rhiensch commented on #4795
@stevekem No problem, i've been searching for hours and i finally found that this is the best solution. Glad it helped you!

[2016-08-22 10:31] shahankit783 commented on #6227
Please see the attached file which shows Curl Response.
[Curl_Response.txt](https://github.com/magento/magento2/files/429856/Curl_Response.txt)

From the Curl Response as you can see it is trying to go to the "http://localhost:8080/magento2.1.0ce/pub/static/frontend/Magento/luma/en_US" url , but as it is not found it gives 404 error.

[2016-08-22 10:40] lanken commented on #6227
According to response to send request to "http://localhost:8080/magento2.1.0ce/" not to "http://localhost.com:8080/magento2.1.0ce/"

[2016-08-22 10:45] shahankit783 commented on #6227
When i manually run the both URLs ("http://localhost:8080/magento2.1.0ce/" or "http://localhost.com:8080/magento2.1.0ce/") in browser  it works same and fine.

But when you read the Curl_Response file it shows the base URL is"http://localhost:8080/magento2.1.0ce/pub/static/frontend/Magento/luma/en_US". so Until **pub** URL is working. but after that the URL is not working.

[2016-08-22 10:49] lanken commented on #6227
Have you reinstalled Magento after changing host name or updated Magento base URLs?

[2016-08-22 10:50] shahankit783 commented on #6227
when i tried to change the URLs , I observed that localhost:8080 works same as localhost.com:8080 from WAMP server. So I have just changed the URLs in configuration file only

[2016-08-22 10:51] shahankit783 commented on #6227
when i tried to change the URLs , I observed that localhost:8080 works same as localhost.com:8080 from WAMP server. So I have just changed the URLs in configuration file only

[2016-08-22 10:55] vovan1983 commented on #1030
Solve it. I forgot add country_id field.

[2016-08-22 10:58] lanken commented on #6227
Please, check whether the localhost.com is specified as a Magento backend url, if not change it and flush cache.

[2016-08-22 11:02] shahankit783 commented on #6227
Yes, it is localhost.com only. Please see the below file configurations:

**phpunit.xml** :
env name="app_frontend_url" value="http://localhost.com:8080/magento2.1.0ce/"
env name="app_backend_url" value="http://localhost.com:8080/magento2.1.0ce/admin_iaa328/"
env name="testsuite_rule" value="basic"
env name="testsuite_rule_path" value="Magento/Mtf/TestSuite/InjectableTests"
env name="log_directory

[2016-08-22 11:10] LiamFielding commented on #3356
Is this now fixed?

[2016-08-22 11:17] lanken commented on #6227
I meant in Magento application, not in functional test configuration.

[2016-08-22 11:25] veloraven commented on #6247
@daniel-ifrim thank you for your feedback.
Internal ticket was created - MAGETWO-57309

[2016-08-22 11:39] bartoszkubicki opened #6272 "Changing sample for downloadable product failure"
### Preconditions

1. I use Magento 2.1, PHP 7.0.
### Steps to reproduce

1. On clean Magento install I have created new downloadable product with link, link sample and sample and saved it.
2. Afterwards, when I wanted to change sample I used button browse and uploaded new file. It has been uploaded, but after saving I have noticed that It hasn't been bind with product - instead of it there was pr

[2016-08-22 11:45] AVoskoboinikov commented on #6021
Hello

Thank you for your request, but unfortunately I can't reproduce your issue on my build. I am using CE 2.1.0 with php v 7.0.9 and memcached version 1.4.30 - all sessions works fine for me.

Could you please check your memcached installation/configuration with this guide http://devdocs.magento.com/guides/v2.0/config-guide/memcache/memcache.html and reinstall/reconfigure it if there are some d

[2016-08-22 11:47] shahankit783 commented on #6227
Yes , I have made the changes in Base URLs under Stores->Configuration->General->Web.
Now Base URL is : http://localhost.com:8080/magento2.1.0ce/

But it gives the same error as it was giving earlier.

[2016-08-22 11:57] basselalaraaj commented on #6267
provided also the fix
https://github.com/magento/magento2/pull/6268/commits/329158428843772ee6f930d4f2cd2fff8117e34b

[2016-08-22 12:19] AVoskoboinikov commented on #6111
Hello

Thank you for your request, I've created ticket (#MAGETWO-57312) in our internal Jira to fix this.

[2016-08-22 12:20] slopukhov commented on #5118
@fgpasa
Thank you for reporting!
I can't reproduce this issue.
Can you check this issue on 2.0.last version, and can you check that you does not have other category with same url?

[2016-08-22 12:32] Umfi opened #6273 "Problem with customer account confirmation when changing customer group on registration"
### Preconditions
1. Magento 2.08 CE
2. Account E-Mail Confirmation activated
3. Write observer on event: customer_register_success

`
$groupId = 2;
objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $customerWithCorrectGroup = $objectManager->create('Magento\Customer\Model\Customer')->load($customer->getId());
        $customerWithCorrectGroup->setGroupId($groupId);

[2016-08-22 12:40] heldchen commented on #5730
additionally, if "Sort by" is _not_ "Position", switching the search results order fails for "Name" or "Price" (depending what you set as "Sort by"). Magento 2.1.0 CE

[2016-08-22 12:41] lanken commented on #6227
The base URL should be localhost.com, like in phpunit.xml (Or it was previously localhost.com?)
Also don't forget to clear cache after changing URL.

[2016-08-22 12:42] andimov commented on #6046
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-22 12:42] #6046 closed, assigned to nobody

[2016-08-22 12:44] workmi commented on #3409
cdhalwatura - u need add u theme in table : theme

[2016-08-22 12:58] slopukhov commented on #5342
Hi @maderlock

Thank you for reporting the issue. It is reported as `MAGETWO-57319` internally.

[2016-08-22 13:10] Part-A commented on #6002
This issue can be corrected temporarily (until an official bug release) by amending lines 107 and 108 of General.php

This file can be found in the generally (composer or downloaded from webste) installed version,  at:
`vendor/magento/module-catalog/Ui/DataProvider/Product/Form/Modifier/General.php`

or in the version on GitHub at:
`app/code/Magento/Catalog/Ui/DataProvider/Product/Form/Modifier/Ge

[2016-08-22 13:27] shahankit783 commented on #6227
Yes it is same as phpunit.xml

In Configuration file:
env name="app_frontend_url" value="http://localhost.com:8080/magento2.1.0ce/"
env name="app_backend_url" value="http://localhost.com:8080/magento2.1.0ce/admin_iaa328/"

In Magento application:
http://localhost.com:8080/magento2.1.0ce/

[2016-08-22 13:43] bartoszkubicki opened #6274 "Custom multiselect attribute in custom attribute set saving problem"
### Preconditions

1. I use Magento 2.1, PHP 7.0.
### Steps to reproduce

1. On clean Magento install I have created new attribute set, basing on frame of default one.
2. Then I create custom multiselect attribute with some options and add it only to my custom attribute set.
3. When I create new product and mark some options of mentioned attribute product saves but not the attribute. In that momen

[2016-08-22 13:49] bartoszkubicki commented on #6272
If I want to change sample i have to use this icon of bin and remove it completly and add new instance of sample with required file.

[2016-08-22 13:49] slopukhov commented on #5300
@kanduvisla thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-22 13:52] mhadianfard commented on #4756
My issue seems to be fixed as of 2.1.0 @andimov

[2016-08-22 13:56] nmallepally commented on #5792
Any update on the issue?? @oserediuk

[2016-08-22 14:12] k3designs opened #6275 "Transactional Email Logo Not Getting Updated"
### Preconditions

1. Magento ver. 2.1.0
2. PHP 7.0
### Steps to reproduce

1. Go to content > Design > Configuration
2. Select Scope:website (Edit) (for multisite setup)
3. Go to Transactional Email setup
4. Try to upload custom logo for email.
### Expected result

1. The new logo should be uploaded
### Actual result

1. [Screenshot, logs]
   <img width="979" alt="screen shot 2016-08-22 at 7 40 3

[2016-08-22 14:27] zolthan commented on #6082
Same issue here!

[2016-08-22 14:28] zolthan commented on #6159
Same issue here!

[2016-08-22 14:40] AVoskoboinikov commented on #6172
Hello,

Are you sure that all file names and namespaces has correct file name? It looks like you have wrong file name in namespace somewhere.

[2016-08-22 14:45] sumihiro commented on #6270
To work around, I changed table scheme:

[code]

It seems working good, but  I don't know what happen when Magento is updated.

[2016-08-22 14:49] veloraven commented on #6274
@bartek9007 thank you for the report.
We already have internal ticket MAGETWO-56778 for this issue.

[2016-08-22 15:03] slopukhov commented on #5077
Hi @werdlv

Thank you for reporting the issue. It is reported as `MAGETWO-57337` internally.

[2016-08-22 15:16] slopukhov commented on #6004
Hi @paales

Thank you for reporting the issue. It is reported as `MAGETWO-57344` internally.

[2016-08-22 15:32] amansilla commented on #4795
@rhiensch thanks your workaround worked for me as well. :+1:

[2016-08-22 15:33] AVoskoboinikov commented on #6151
Hi, guys.

Thanks for reporting this, I've created ticket #MAGETWO-57354 in our internal Jira. This issue will be closed after fix.

[2016-08-22 15:54] thagxt opened #6276 "Development mode loads +450 files"
### Preconditions

1. Magento CE: 2.1.0, PHP: 5.6.15
### Steps to reproduce

1. Set Developer mode on
2. Load a page of your choice
3. Open FireBug (or similar)
4. Watch Magento request +450 files.
   An infinite number of _module.less, _widget.less and others.
5. My iMac panics/restarts at least 2 times a day because of all of these.
### Actual result

1. [Screenshot](https://i.imgur.com/C44Rduy.

[2016-08-22 15:59] quan-ntekka commented on #6172
I'm 100% absolutely sure it's not incorrect namespace or spelling mistake.  I've double and triple check, with multiple co-workers reviewing themselves.

It works just fine on my local and "developer" mode.  It would only break when I try to compile or put it in production mode.

My assumption for this cause is either:
- encoding issue in an XML somewhere
- composer class loader is not parsing som

[2016-08-22 16:34] GrimNotepad commented on #4589
We are having this problem now with 2.0.7.
Is there a fix yet?

[2016-08-22 16:40] AJCheeseman commented on #4589
We are having this problem now with 2.0.7.
Is there a fix yet?

[2016-08-22 16:49] pboisvert commented on #4589
removing needs update label as info seemingly has been provided. Adding "bug" label to continue investigation

[2016-08-22 16:50] simobenso commented on #5239
I've created a small overview with the php versions / affected setups:

@24198 thanks for this overview. Does this mean that this issue doesn't occur on MAMP 3.5.2 + PHP 7.0.7 ?

[2016-08-22 16:58] amenk commented on #1619
@snohe In which commit / version was it resolved? Still seem to have the issue in Magento 2.1.0

[2016-08-22 17:09] 24198 commented on #5239
@simobenso to be honest I don't know, at the time I created the overview, PHP 7.0.7 wasn't available and I have not tried it ever since. So I could be that I might work, but if I were to make an educated guess, it probably won't. Since it probably be compiled with the older version of openSSL, which is the real issue, on the other hand I might be completely wrong.

So to find the one true answer i

[2016-08-22 17:13] springimport commented on #6021
I don't know how check memcached on windows system. I use [OpenServer](http://open-server.ru/) ([download](http://open-server.ru/download/)) with memcached (1.2 or 1.4).

[2016-08-22 17:35] amenk commented on #1619
I think I found the commit by myself: 149309c084abf4356ccbea0b8f3229c3a6c868bd
It is supposed to be in since 2.0.0-rc - so definitely in 2.1.0
Still having problems ...

[2016-08-22 17:40] amenk commented on #1619
Seems just to happen only for some less files (probably if it was changed through preprocessing ... still bad for the work flow)

[2016-08-22 17:43] springimport opened #6277 "How I can create "New Shipment" for order via REST API?"

[2016-08-22 17:56] tedxas commented on #4795
Thanks, all, for the many solutions offered here. Simply "rm -rf var/di" worked for me as noted by @yokoishioka and @karl-ravn and elsewhere by @antbates1991 bug issue here: https://github.com/magento/magento2/issues/5954

[2016-08-22 18:14] TClilMouse commented on #5020
Same issue for me Magento 2.1
However no message under console

[2016-08-22 18:24] quan-ntekka commented on #6172
Sorry, I feel stupid, it was a spelling mistake....

[2016-08-22 18:24] #6172 closed, assigned to nobody

[2016-08-22 18:41] TClilMouse commented on #4546
@mazhalai
I still have the spinning wheel issue after upgrade to M2.1. No error message in browser console.

rm -rf var/di
rm -rf var/generation
rm -rf pub/static/_requirejs
rm -rf var/view_preprocessed
rm -rf pub/static/frontend
rm -rf pub/static/adminhtml
find var vendor pub/static pub/media app/etc -type f -exec chmod g+w {} \; && find var vendor pub/static pub/media app/etc -type d -exec chmod

[2016-08-22 18:45] melindash commented on #6199
so what was your solution?

[2016-08-22 18:46] hostep commented on #6131
Hi @xcomSteveJohnson

Those pages looks really useful!
I have to admit, I didn't properly research to see if the topics I mentioned were actually missing.
I wrongly thought that particular information wasn't in the devdocs yet, because it has been a few months since I went through them in depth (hence my request for a changelog of the devdocs).

Anyway, the caches explanation is very useful, espec

[2016-08-22 18:59] tim-reynolds commented on #5319
I wanted to add that I have a client on EE 2.1 and downgrading to the previous version of the module worked for us, as recommended by @hendywijaya

[2016-08-22 19:01] j4hangir commented on #6199
Unfortunately I don't recall exactly, but I think the error was misguiding. For example in the aforementioned body the field `frontend_input` is invalid, as its value must be for instance, `select`.

That's the code I wrote in Python, might be of use:

[code]

[2016-08-22 19:02] mbrinton01 commented on #4161
@minetteyou It may have something to do with your syntax of how you are passing the token in the call. I tried this several different ways and it was successful.  For example, here is the same call using curl:

[code]

Of course your hostname and token will need to be changed to work on your local instance.  Because I'm not able to reproduce your issue, I'm closing this ticket.  If you have more q

[2016-08-22 19:02] #4161 closed, assigned to mbrinton01

[2016-08-22 19:16] TiEul commented on #6276
If your Mac has Kernel Panics, it likely has some kind of hardware defect. Loading a large amount of files through HTTP requests does not cause unrecoverable kernel states, that's ridiculous.

That said, did you enable "Frontend Development Workflow" in the back-end? Because that will cause Less files to be compiled during runtime.

[2016-08-22 19:20] Jrb1x commented on #5771
Can you show `$this->getTotalStock($productId)`?

[2016-08-22 19:36] jrosell commented on #1417
@bluk exactly using your example and I get "There is no MediaGalleryEntryConverter for given type" in magento 2.1 I use.

[2016-08-22 20:20] Snowball678 opened #6278 "Customer cannot reorder if the order has been invoiced or shipped"
Customer can only reorder a previous order if the order has not been processed (shipped or invoiced). If the order has been processed, customer gets an error when the reorder button is clicked.
Error: We can't add this item to your shopping cart right now.

Reordering from backend works for orders with simple products only but does not work if the order contains configurable products

Related to #

[2016-08-22 20:20] juanmrad commented on #5771
It is a custom function on a custom module I created to load the stock of the product.

My module is to add stock as a Lot instead of manually. so admin adds a product lot ID with a lot stock and the function looks for all the lots that are attached to the product and returns the total stock of all lots for that product.

Basically $stockData is just a qty number.

[2016-08-22 20:55] adamstacey commented on #6173
Is there any update on this?

[2016-08-22 22:11] gurubobnz opened #6279 "Unable to save a product in the admin that has had images created for it using the REST API"
On a completely fresh Magento 2.2.0 (HEAD) install with an empty database I created a product and associated an image with it using the REST API. Then I logged into the admin, edited the product and clicked Save. I then get this message:

[code]
### Preconditions / Environment / Setup:
- Ubuntu 16.04 LAMP stack: apt-get install -y apache2 mysql-server php-mysql php-mcrypt libapache2-mod-php unzip

[2016-08-22 22:34] orbitrod commented on #4299
I am having this same problem on Magento 2.1 CE

[2016-08-22 22:47] simobenso commented on #4853
same error occured while enabling new component installed via marketplace on 2.1.0 CE

[2016-08-22 23:55] Ctucker9233 commented on #5423
@tkacheva My issue occurred after command line upgrade.

@alyzrazor I am the original poster of this issue and I DO NOT USE VARNISH. I never switched from http to https either. So it does not only happen under these conditions.

[2016-08-23 05:35] RonXS commented on #6167
I can second this on 2.1, the performance loss is mainly there when it comes to image saving. When i save a product with 3x10 variations, each having 10 images, the saving times out. If i save the exact same subset of products without additional images, the problem does not exist for me and the configurable product with all its variations saves in a matter of seconds.

[2016-08-23 05:36] RonXS commented on #6167
Extra note: I've created a mass importer of products for M2.1 and also there the speed significantly reduces to almost impossibly slow, where the images are already in pub/media/import. So i do not think its the action of "uploading" itself, but related to the logics handling the media gallery.

[2016-08-23 05:54] deepanshu27193 commented on #5351
Ver. - Magneto 2.0.2
As i have used [pcntl_fork](http://php.net/manual/en/function.pcntl-fork.php) and saved 10 products at a time, a kind of multi threading scenario which gave me the above error.
Now i am using NodeJS for saving product by Rest API's call, but the error is same.
Or can you provide me a solution from which i can save multiple products so that the process can speed up.

[2016-08-23 06:16] veloraven commented on #4568
@stamster please fill description according to the template. It will allow other users to find this issue easily.

[2016-08-23 06:34] veloraven commented on #4534
@kayl1234 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-23 06:49] AVoskoboinikov commented on #6082
Hi, guys

Thanks for reporting this issue, but unfortunately I cannot reproduce it on our side using clean version of CE 2.1.0. I have shipping form for both type of users.

Please, try to clear all caches and reproduce it on your side. If you will succeed - give us your detailed Magento configuration (your custom settings; or maybe you have tried to modify code; external modules, etc.) and detail

[2016-08-23 07:21] AVoskoboinikov commented on #6021
You can try check your memcached installation via phpinfo() or separate php code that uses Memcached class directly. If that code will work then refer to magento documentation about configuring memcached and magento.

If you will still be able to reproduce issue - provide us detailed steps to reproduce it on our side.

Thank you.

[2016-08-23 07:23] tiwarimukesh commented on #6149
@Ctucker9233 Yes, I tried in my local set up what you mentioned is correct. I will check for the importing product with images.

[2016-08-23 07:32] Corefix opened #6281 "Magento 2.1 Multi Select Attribute doesn't save empty values"
### Preconditions

1. Magento 2.1
2. Chrome 52.x
### Steps to reproduce

1. Go to Magento admin
2. Go to Products > Catalog
3. Select a product that have a multi select attribute
4. Find the multi select attribute and set one or more of the options on the product (so it looks like the following image).
   ![screen shot 2016-08-23 at 09 28 09](https://cloud.githubusercontent.com/assets/16081779/178

[2016-08-23 07:36] AVoskoboinikov commented on #6172
It is good that everything is ok :)

[2016-08-23 08:03] rbncha opened #6282 "Configurable Product create/update “No data to save” with too many options"
I have a strange issue with Magento 2.0.7 - 2.1.0 versions in my vps. When I try to create multiple options (more than 30 variations of color and sizes), it gives me "No data to save" error while trying to save the product. If I create a product with only around 10 child products for a configurable product, it does not give me any error. Attached are the error screenshot and my server's php.ini se

[2016-08-23 08:10] slopukhov commented on #6265
@soragan thank you for your feedback.

I can't reproduce this issue.
I have fresh installation with one product and one category.
I use these steps:
1. Click on Category in navigation
2. Click on any product to go into product details.
3. Click on "Add to Cart" button
4. The message "You added XXXXX to your shopping cart." appears on top in green colour
5. Top right hand Cart icon shows shopping c

[2016-08-23 08:18] devonto commented on #4454
Also facing the same issue and require to be able to add in custom canonical URLs from the head.

[2016-08-23 08:21] soragan commented on #6265
i am on 2.1.0 downloaded from magento.com, does this make any different? tried both safari and chrome on macbook.

i have 13 categories (only 4 are filled), 43 products, 3 websites with each 1 store, 1 store view.

additionally, whenever i browse to other pages, the green message persisted from page to page.

[2016-08-23 08:31] maderlock commented on #2976
Any progress on this? We've been clearing pub/static before deploying static content because there does not seem to be any guarantee otherwise that all files will be correctly recreated. However, _sometimes_ we are missing requirejs resolver files. How and when are these supposed to be created? Should we be avoiding deleting them?

[2016-08-23 08:32] PieterCappelle commented on #3154
Any update on this ticket? In my case problem was fixed updating max_input_vars to 5000.

[2016-08-23 08:37] slopukhov commented on #5993
@paales thank you for your feedback.

This is the expected behavior for Replace action. Please read [Magento user guide](http://docs.magento.com/m2/ce/user_guide/system/data-import.html) for more details.

I'm closing the ticket. Please feel free to reopen if you have additional questions.

[2016-08-23 08:40] SchumacherFM opened #6284 "Class Magento\Email\Model\Source\Variables hard coded"
### Preconditions

Affects all Magento2 Versions.

The class `Magento\Email\Model\Source\Variables` cannot be changed or extended as we need to add an additional config path `general/store_information/merchant_vat_number`.
### Steps to reproduce

None
### Expected result

The class `Magento\Email\Model\Source\Variables` should be extensible.
### Actual result

We must hard the VAT number in all te

[2016-08-23 08:41] PieterCappelle commented on #5242
Same problem still exists in 2.1. In my case problem was fixed updating max_input_vars to 5000 in PHP7.

[2016-08-23 08:41] PieterCappelle commented on #3942
Same problem still exists in 2.1. In my case problem was fixed updating max_input_vars to 5000 in PHP7.

[2016-08-23 09:00] AVoskoboinikov commented on #6081
Hello,

Thank you for reporting this issue. I have created ticket for it in our internal Jira (MAGETWO-57428). This issue will be closed after fix.

[2016-08-23 09:09] slopukhov commented on #6265
Hi @soragan

Thank you for reporting the issue. It is reported as `MAGETWO-57430` internally.

[2016-08-23 09:14] veloraven commented on #6279
@gurubobnz thank you for your report.
We have internal ticket MAGETWO-56868 with similar issue which is already fixed.
Could you please update your code, check that commit 8904497 is present and try once more.

[2016-08-23 09:14] chapagain commented on #1549
In my case it was missing `php-gd` extension on my machine.

This was on my exception log (`magento_root/var/log/exception.log`):

Solved by installing php-gd library on my Ubuntu machine with the following command:

`sudo apt-get install php-gd`

If you want to install for php5.6 then you may run:

`sudo apt-get install php5.6-gd`

[2016-08-23 09:15] webspeaks commented on #6173
Strange enough, this bug occurred in one of mu installation. But upgrade on other installation went well.
Cant say what is that.

[2016-08-23 09:31] sma09sjb commented on #6067
Hi,

Apologies for the delay, i've been out of the office for a few days.

1.

**Nexcess server**
Bandwidth (Monthly):    Total: 125 GB   Used: 3.64 GB
Disk Space: Total: 25000 MB Used: 606.70 MB

**PHP version**
PHP 7.0.8 (cli) (built: Jun 23 2016 11:27:39) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.8, Cop

[2016-08-23 09:35] ihor-sviziev opened #6285 "Unable to modify .htaccess in static directory"
I have CORS requests issue with fonts when I using CDN. In order to fix it I'm changing my .htaccess. During deployment I do composer install. After that my changes were reverted.
### Preconditions
1. Magento 2.1.0 installed via composer
2. Base Static URL is CDN domain (CloudFront in my case)
### Steps to reproduce
1. Install Magento 2 via composer
2. Change your file pub/static/.htaccess (as exa

[2016-08-23 09:41] sma09sjb commented on #5479
Hi,

I don't have any table prefixes, so i'm not sure this will help me. Any other suggestions? I've updated this thread also
https://github.com/magento/magento2/issues/5843#issuecomment-240076932

[2016-08-23 09:44] sma09sjb commented on #5843
Any update on this? Could this be to do with setting up a test payment account and configuring it on two environments, i.e. having two potential order streams, within Paypal. I've removed the configured details from all but 1 environment, but still having issues with both Paypal and Stripe. Any help, or an estimate of how long I will need to wait before a fix is found, would be appreciated.

[2016-08-23 10:00] soragan commented on #6265
thanks for the bug confirmation, hopefully this is fixed soon as it's the only thing stopping us from pushing 2.1.0 to replace 1.9

[2016-08-23 10:09] diabeeto076 opened #6286 "Can't fully deploy using core CLI commands."
So i've build a CI/CD process that worked perfectly on Magento 2.0 After upgrading to 2.1, stuff started to collapse.

I use Magento's CLI commands to create env.php dynamically, depending on the stage where it's deployed onto. Unfortunately this does not set the install date, and since Magento 2.1 this seems to be required before Magento includes any other code than it's own. This makes it hard t

[2016-08-23 10:09] shahankit783 commented on #6227
Thank you so much for spending your valuable time to fix this issue and helping me out from this problem.

It started executing test cases.

PS: Though it is failing , at least it started running.

Thank you again Dmytro!!!  :)

[2016-08-23 10:09] #6227 closed, assigned to nobody

[2016-08-23 10:57] alexgoodey opened #6287 "Customer Admin Shopping Cart View Missing"
It is not possible to view what a registered customer has in their shopping cart in Magento CE 2.1.0.

This functionality was available in the Magento 1.\* and it does look like some provision has been made for it in version 2 as these files exist:

./vendor/magento/module-customer/Block/Adminhtml/Edit/Tab/Carts.php
./vendor/magento/module-customer/Block/Adminhtml/Edit/Tab/Cart.php
./vendor/magent

[2016-08-23 11:39] gurubobnz commented on #6279
Thank for your prompt reply and sorry about the duplicate. I have confirmed this has been fixed as per https://github.com/magento/magento2/commit/890449744e228268ff67bf3513f634addcba2e99.

[2016-08-23 11:39] #6279 closed, assigned to nobody

[2016-08-23 11:41] nmallepally opened #6288 "System option inside store configurations returns Blank - Magento 2.1 v production mode"
I am Using Magento 2.1v C.E
Moved to production mode successfully, but i see two errors.
1. Inside Admin - Stores->configuration->Advanced -> system option returns a 500 error  (blank)
It shows me the following on debug.log
[2016-08-23 11:06:29] main.DEBUG: cache_invalidate:  {"method":"POST","url":"http://magento2/admin_vab11c/admin/index/index/key/cec8413965096bc2b931df5366e45d3096b9a635c712945d

[2016-08-23 11:54] hostep commented on #6285
I don't know if there is a good solution for this, but here are some related issues:
- https://github.com/magento/magento2/issues/4930
- https://github.com/magento/magento2/issues/6221

[This comment](https://github.com/magento/magento2/issues/6221#issuecomment-240760876) is a possible solution, but Magento will need to change some things before that can happen probably.

[2016-08-23 11:55] sergiojovanig commented on #4119
Magento 2.1.0 and same issue buy only in developer mode.

[2016-08-23 12:11] sevos1984 commented on #6281
This is a known issue, internal ticket id MAGETWO-57226. Thanks for posting

[2016-08-23 12:20] kumatozz commented on #5127
Any update? I have the same issue and I have been trying to fix it for 2 days - no luck.... We are using PHP 7.0.9 and Magento 2.0.7

[2016-08-23 13:10] springimport commented on #6021
I understood my mistake.

[code]

[code]

[2016-08-23 13:11] thagxt commented on #6276
Setting "Frontend Development Workflow" to "Server-side compilation" did the trick. Files went from 455 to 130.

[Devdocs guide](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/css-preprocess.html)

[2016-08-23 13:11] #6276 closed, assigned to nobody

[2016-08-23 13:12] mauromm commented on #1632
I tried in magento 2.1.0. It doesn't work.

[code]

[2016-08-23 13:14] LS-Supriya opened #6289 "Varnish not working"
### Preconditions

1. Install Varnish
2. Magento Version :2.0.5
### Steps to reproduce

1. Configured varnish as per http://devdocs.magento.com/guides/v2.0/config-guide/varnish/config-varnish-magento.html
2. After replacing vcl file generated by magento, I don't see X-Varnish response headers
3. I can see "X-Varnish response headers" when I use default vcl generated by varnish
### Expected result

[2016-08-23 13:14] basselalaraaj opened #6290 "Not able to add a widget to content page."
### Preconditions
1.  Magento develop branch
2. Php 5 and mysql 5.6
### Steps to reproduce
1. Open a content page in adminhtml
2. Insert widget in the content through editor (user has no administrator rights, but a role with right to add and edit pages and widgets.)
### Expected result
1. Widget selecting and adding to page possible.
### Actual result
1. [Screenshot, logs]
   ![geen autorisatie](h

[2016-08-23 13:18] basselalaraaj opened #6291 "Export csv orders from order grid in adminhtml"
### Preconditions
1. Magento develop branch
2. php 7 and mysql 5.6
### Steps to reproduce

1. Login as user with a different role than administrator with full rights to orders.
2. Go to order grid in adminhtml
3. No export button available for the orders.
### Expected result
1. A user with a role different than administrator with full rights to order grid in adminhtml should be able to export orde

[2016-08-23 13:22] xi-ao commented on #5038
This is a nasty limitation of the compiler indeed.

[2016-08-23 13:29] ghost opened #6292 "Can't override payment method active state in config.xml"
### Preconditions

Magento 2.1.0, PHP 7.0.6
### Steps to reproduce
1. Create a config.xml in a custom module.
2. Enter the following:

[code]
1. Go to admin panel > Stores > Settings > Configuration > Sales > Payment methods
### Expected result

Check / Money Order payment method is disabled.
### Actual result

Check / Money Order payment method is enabled.

This _does_ work if I go into \vendor\m

[2016-08-23 13:31] peec commented on #5872
Can reproduce. This is a critical bug. get.php is not working at this moment.

This issue actually Makes database media storage useless for where images are not pre-generated as a part of some explict logic that does image generation.

This is not only for wysiwyg images, but for ALL resources through get.php (making the get.php non-working).
- if you remove e.g. media/catalog from filesystem - al

[2016-08-23 13:31] veloraven commented on #6279
@gurubobnz thank you for update!

[2016-08-23 13:51] arredod commented on #4993
actually there's still an issue with attributes because even if they're unassigned to a certain attribute set they appear as a category filter on frontend

[2016-08-23 13:51] sevos1984 commented on #6282
Internal ticket created MAGETWO-57094 and MAGETWO-57095, thanks for reporting

[2016-08-23 14:01] anton-huz commented on #2843
Just a notice: investigation should be complete under MAGETWO-55348, internal ticket.