[2019-09-16 13:50] magento-engcom-team commented on #24620
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20170` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 13:57] toxix commented on #24555
Hey @sudheers-kensium ,

Thx for your fast fix. This only fixes the adding of product but removing an not salable product will remain bugy. Can you do the same fix, also in the app/code/Magento/Catalog/Controller/Product/Compare/Remove.php ? See also the changes that has been introduced this bug: https://github.com/magento/magento2/commit/375a36d6e50531c5266dc5be9cc845cbd666a855#diff-3d707963768b9

[2019-09-16 14:05] sudheers-kensium commented on #24555
@toxix I have created new ticket and PR to remove compare products issue #24582 and PR #24583 .

[2019-09-16 14:15] engcom-Bravo commented on #24585
Ok @sunilit42, I was cared only about the address displayed in the main page's content. This "...check the sidebar of checkout summary..." made everything clear. Thank You, I'm confirming the issue)

[2019-09-16 14:19] magento-engcom-team commented on #24585
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20171` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 14:20] magento-engcom-team commented on #24572
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20172` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 14:25] maxtrezo commented on #3594
@magento i'm working on it

[2019-09-16 15:04] yashjain87553 commented on #23154
No , I updated magento 2.3.1 to magento2.3.2 , issue resolved

On Mon, 16 Sep 2019, 16:24 Adam Lavery, <notifications@github.com> wrote:

[2019-09-16 15:16] qasimali786 commented on #22419
Hi
Login to Admin
Content ->Design -> Configration -> click edit action -> select a Theme -> Click "Save configuration" button

[2019-09-16 16:26] magento-engcom-team commented on #24426
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20178` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 16:40] magento-engcom-team commented on #24426
Hi @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-20178` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still

[2019-09-16 16:59] magento-engcom-team commented on #24426
This issue has been automatically closed as stale because it has not had a recent activity for the long period and/or not actual for current Magento Open Source version.
If you still faced this issue on the latest code-base, please create a new Issue report with all required details according to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2019-09-16 17:03] magento-engcom-team commented on #24426
This issue has been automatically closed as stale because it has not had a recent activity for the long period and/or not actual for current Magento Open Source version.
If you still faced this issue on the latest `x.x-develop` branch, please create a new Issue report with all required details according to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidel

[2019-09-16 17:10] magento-engcom-team commented on #24426
This issue has been automatically closed as stale because it has not had a recent activity for the long period and/or not actual for current Magento Open Source version.
If you still facing this issue on the latest `x.x-develop` branch, please create a new ticket report with all required details according to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guid

[2019-09-16 17:13] magento-engcom-team commented on #24426
This issue has been automatically closed as stale because it has not had a recent activity for the long period and/or not actual for current Magento Open Source version.
If you still facing this issue on the latest `x.x-develop` branch, please create a new ticket report with all required details according to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guid

[2019-09-16 17:24] magento-engcom-team commented on #24376
Hi @asim-vax, @pierzakp.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.4` release.

[2019-09-16 17:24] #24376 closed, assigned to pierzakp

[2019-09-16 17:27] craigcarnell commented on #24376
@magento-engcom-team do you have a link to the commit or PR?

[2019-09-16 17:41] MaxSouza commented on #24620
#mm19br

[2019-09-16 18:16] hostep commented on #24572
Aha this is coincidental, it looks like this was recently fixed in [MC-19798: 'Quote Lifetime (days)' setting does not work](https://github.com/magento/magento2/commit/2f04e666aceba9bcbd863b78613714922a1f0f35), let's close this then 🙂

[2019-09-16 18:16] #24572 closed, assigned to nobody

[2019-09-16 18:45] MaxSouza commented on #24620
@TomashKhamlai

You need change "Display Out of Stock Products" to "Yes" and run reindex.

![image](https://user-images.githubusercontent.com/5350377/64984211-aff1d180-d898-11e9-9864-53a0ac88b9e9.png)

After this, we can see product to compare. If  "Display Out of Stock Products" is "No", magento cleans all records about price from product on  catalog_product_index_price

[2019-09-16 19:23] MaxSouza commented on #24259
@magento give me 2.3-develop instance

[2019-09-16 19:23] magento-engcom-team commented on #24259
Hi @MaxSouza. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-16 19:24] magento-engcom-team commented on #24259
Hi @MaxSouza, here is your [Magento instance](https://i-24259-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24259-2-3-develop.instances.magento-community.engineering/admin](https://i-24259-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-16 19:40] #23051 closed, assigned to MaxSouza

[2019-09-16 19:46] MaxSouza commented on #24555
@sudheers-kensium Please, take a look at #24620

[2019-09-16 19:47] MaxSouza commented on #24617
@TomashKhamlai Please, take a look at #24620

[2019-09-16 19:52] Hailong opened #24623 "Subfolder string is used as scheme in generating sitemap error message."
### Preconditions (*)

1. Magento 2.3.2 & 2.3-develop
2. Make sure PR https://github.com/magento/magento2/pull/24530 is applied.
3. Web folder is `/pub`
4. Mac OS
### Steps to reproduce (*)

1. Install Magento 2.3.2 or 2.3-develop on Linux or Unix machine.
2. Create a subfolder named `site` under Magento root directory and change its ownership to other user account, so that the web application acc

[2019-09-16 20:07] magento-engcom-team commented on #24426
This issue has been automatically closed as stale because it has not had recent activity for a long period and/or not up to date for the current Magento Open Source version.
If you are still facing this issue on the latest `2.x-develop` branch, please create a new issue and report all required details according to the  [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-rep

[2019-09-16 20:23] magento-engcom-team commented on #24426
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20184` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 20:26] magento-engcom-team commented on #24426
This issue has been automatically closed as stale because it has not had recent activity for a long period and/or not up to date for the current Magento Open Source version.
If you are still facing this issue on the latest `2.x-develop` branch, please create a new issue and report all required details according to the  [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-rep

[2019-09-16 21:17] magento-engcom-team commented on #24426
TEST

[2019-09-16 21:20] MichaelThessel commented on #24535
@engcom-Bravo> Probably the issue has already been fixed.

How can I update my install to the latest develop branch? I'm sick of tracking down issues that have already been fixed. I cannot find a way to do this with composer.

@ihor-sviziev

Thanks for that. We don't utilize negative price custom options though. So that wasn't the issue.

[2019-09-16 21:20] magento-engcom-team commented on #24426
TEST2

[2019-09-16 21:26] magento-engcom-team commented on #24426
TEST2

[2019-09-16 21:28] hostep commented on #22187
https://github.com/magento/magento2/commit/6f4f511822fbbcb743a7d4a8de6353d207d99429 "might" fix this problem based on the commit message. (will be included in Magento 2.3.3, which will be out in a couple of weeks)

[2019-09-16 21:36] sdzhepa commented on #20004
Hello @milindsingh, @shikhamis11, @maheshWebkul721

I see all of you in the assignment list for this issue.
Are you still working on it?
Is it still actual for the `2.3-develop` branch?

[2019-09-16 21:59] MichaelThessel commented on #23388
Looks like this has been fixed in one of the recent releases.

[2019-09-16 21:59] #23388 closed, assigned to nobody

[2019-09-16 22:36] magento-engcom-team commented on #23000
Hi @anttiranta.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-16923` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you sti

[2019-09-16 22:36] #23000 closed, assigned to nobody

[2019-09-16 23:13] kalpmehta commented on #3594
Thanks @josefbehr for your feedback.

@maxtrezo We already have an open PR on this. https://github.com/magento/magento2/pull/24595

[2019-09-16 23:30] ostap-mykhaylyak commented on #2131
Follow this guide: [Readiness Check Failure in Magento 2
](https://ostap.dev/readiness-check-failure-magento-2/)

[2019-09-17 00:19] sdzhepa commented on #15005
Hello @georgios-2317

Any updates after applying 8b36f39 ?
Probably the issue is already fixed and we can close this ticket

[2019-09-17 00:41] sdzhepa commented on #14054
https://github.com/magento/magento2/pull/21236

[2019-09-17 03:04] j-robin-hunter commented on #24594
Magento\Customer\Ui\Component\Listing\Address\Column\Actions.php shows how the callback can be specified as an array. However, there seems no way to specify a single callback function.

[2019-09-17 04:55] kirtinariya1 opened #24625 "Rest API can't able to update customer throws the error."
Magento 2.3.0 rest API can't able to update `customer` throws the error.
API  `/V1/customers/:customerId`
`Method: PUT`
`URL: http://localhost/magentosample230/rest/V1/customers/2`

### Preconditions (*)

1. Magento 2.3.0 & 2.3-develop

### Steps to reproduce (*)

1. Run the customer update API.
2. Method: PUT
3. Headers: `Authorization:Bearer yfhwg1j458dw086qelbqkkkmp6f0tj89`

[2019-09-17 05:02] rk610 commented on #17298
After migrate m1 to m2 version 2.3.0 error bellow url in add to cart please help me

![error add cart](https://user-images.githubusercontent.com/55425682/65012802-5213c700-d936-11e9-945f-d3b2050e84cf.png)

[2019-09-17 05:46] micwallace commented on #2960
C'mon guys I can't believe you closed this. The issue still exists over 3 years later. There is no reason why the editor should ever remove content like that.

[2019-09-17 06:16] swnsma opened #24626 "Webapi Swagger schema generation fail in case when Get endpoint has param with Extension Attributes [Case#2]"
After refactoring which was done in 735024aef05ccf39412b343439b074129a8dfdaa, the issue https://github.com/magento/magento2/issues/24116 is come back.
Original report: [tap](https://testing-service.magento-community.engineering/reports/magento/inventory/pull/2509/c596c0daf17e77fc8ca757ec38e7d757/Integration/allure-report-ce/index.html#categories/f48e7d3623b476c0129b7c130cbc68bf/db7fff094b014ee3/)

[2019-09-17 06:30] engcom-Bravo commented on #24424
@kassner, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-17 06:30] #24424 closed, assigned to nobody

[2019-09-17 06:49] engcom-Bravo commented on #24535
@MichaelThessel, please try to reproduce Your issue at least on 2.3.2 version which is available via composer. But do not update Your instance, just pull down the fresh official code free from any changes or ads-on install an instance with it and go on with issue. Thank You.

[2019-09-17 06:58] evs-xsarus commented on #9971
Seems to be fixed in Magento EE 2.3.1 but another problem can arise when the labels are null. This patche fixes it (and also shows the ID in the label):

[code]

[2019-09-17 07:34] engcom-Charlie commented on #24619
Hello @alexeya-ven .
I can't reproduce this issue on fresh Magento 2.3-develop.

**Manual testing scenario:**

1. Enable Elasticsearch 6
2. Choose category with products and set 1 column design to it (Catalog -> Categories -> Edit Category -> Design -> Layout -> "1 column"
3. Save category
4. Flush cache
5. Open this category on website and change sort order to "Price"

**Actual result:**
Sort by

[2019-09-17 07:38] engcom-Bravo commented on #24571
@ihor-sviziev this issue is actual and correct. There's a simple logical prove to it. As I've already mentioned the Dropdown attribute, for example, doesn't even have "Update Product Preview Image" setting and it updates images by default. I even haven't tested what I'm going to talk about now because it's enough to just imagine it in order to understand that any further logic will fail with it. S

[2019-09-17 07:39] magento-engcom-team commented on #24571
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20134` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-17 07:44] opentechiz commented on #9458
I think it is because layered navigation pages which are discovered more time to time

[2019-09-17 07:47] magento-engcom-team commented on #24625
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20196` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-17 07:52] ihor-sviziev commented on #24571
Sure, let’s improve it!
Just wanted to link following PR that introduced this issue.
https://github.com/magento/magento2/pull/19184

[2019-09-17 08:04] magento-engcom-team commented on #24626
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20198` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-17 08:14] engcom-Bravo commented on #24571
Beautiful - here we have a prove that "Update Product Preview Image" originally didn't affect the Product page but the Category page as due to the User Guide and the comment "Filtering by this attribute will update the product image on catalog page" was quite correct. So as I see everything had been working just as intended before #16446 appeared, was confirmed and then #19184 "fixed" it. What do

[2019-09-17 08:24] ihor-sviziev commented on #24571
Hi @akaplya,

I think we need your point of view as you're assigned to Swatches component.

Could you review this issue and add your opinion?

Is it ok that "Update Product Preview Image" now affects Product page once #19184 was merged or should we revert it?

[2019-09-17 08:36] engcom-Bravo commented on #24571
You are doing extremely correctly @ihor-sviziev) And that's good!

[2019-09-17 09:05] matthijsburki commented on #23815
Same issue here. Only on MC 2.3.2
![image](https://user-images.githubusercontent.com/44090792/65027390-8ab59f80-d93a-11e9-87a6-63e5eaab28ed.png)

[2019-09-17 09:06] jmcharadva commented on #24625
@kirtinariya1
Can you please check with below mentioned parameter?
{
	"customer": {
               "id":1,
               "email": "jmcharadva@yopmail.com",
               "firstname": "firstname new",
               "lastname": "lastname new",
               "website_id": 1
	}
}

[2019-09-17 09:19] TomashKhamlai commented on #24620
Please, take a look at #24617

[2019-09-17 09:20] TomashKhamlai commented on #24617
Still an issue for me

[2019-09-17 09:30] engcom-Charlie commented on #24625
@jmcharadva thanks for contributing!
![image](https://user-images.githubusercontent.com/51680850/65028670-16342e00-d945-11e9-8b48-fd25dca1bdc3.png)
@kirtinariya1 you have to write customer id in your request
Swagger:
![image](https://user-images.githubusercontent.com/51680850/65029728-f3a31480-d946-11e9-8dba-154c3a23e4d0.png)

[2019-09-17 09:30] #24625 closed, assigned to nobody

[2019-09-17 09:33] sinamiandashti opened #24628 "Static Content deploy parallel jobs (--jobs) not working in PHP docker images"
### Summary (*)
If you use official php-fpm docker image (php:7.1-fpm) for your magento store , the parallel deploying of static content is not working ... i dont know what is causing this or what extension or configure build of php is needed for this functionality.

### Examples (*)
`php bin/magento setup:static-content:deploy --jobs=8 -f en_US de_DE`

### Proposed solution
I have no idea , i was

[2019-09-17 09:52] speedupmate commented on #24618
without diving in too much besides fixing the exact error stopping site functionality (related PR) would it be meaningful:

- not to assume that postcode present = all other data present
- create a whitelist array of required fields from payment gateway
- iterate over this field and filter out whats there and whats not
- adjust for region, region_id case
- adjust for street being string (all value

[2019-09-17 09:53] magento-engcom-team commented on #24617
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20199` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-17 09:54] magento-engcom-team commented on #23815
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20200` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-17 09:54] magento-engcom-team commented on #24620
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20201` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-17 09:58] ioweb-gr commented on #22964
I'm hoping this issue will be given some attention again. Apparently this is a long standing thorn in Magento multilingual deployments.

[2019-09-17 10:44] jmcharadva commented on #24525
@huuquyasb
I have used third party js in magento. I have mentioned steps for integration. Please check it and let me know if you have any query.

Follow below steps for integrating third-party js in magento2

Here, I have taken theme name is <ecommerce/theme>

1) Download third party js into your theme js directory.

	app/design/frontend/ecommerce/theme/web/js/<Your Js file> "here we are using myA

[2019-09-17 11:48] elburro1887 commented on #3923
Still an issue in 2.3.0

If the default store view has a different locale then the one used in the import, the attribute validation will fail.

[2019-09-17 12:11] mertgokceimam commented on #19230
@magento-engcom-team Can you please release a patch for this on EE customers. Orders can't be cancelled have big effect on stock values within the system

[2019-09-17 13:00] Jeroen999 opened #24629 "2 Active categories after flushing Magento cache, while browser tab open on category page"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Open a browser and click on a category in the navigation menu.
2. Flush Magento cache.
3. Click on other categories.

### Expected result (*)

1. Only the last clicked category should have the active category css.
2. If I go to the home page, then there should be no active category.

### Actual result (*)

1. Two categories ha

[2019-09-17 13:06] Jeroen999 commented on #24629
@magento give me 2.3-develop instance

[2019-09-17 13:07] magento-engcom-team commented on #24629
Hi @Jeroen999. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-17 13:07] magento-engcom-team commented on #24629
Hi @Jeroen999, here is your [Magento instance](https://i-24629-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24629-2-3-develop.instances.magento-community.engineering/admin](https://i-24629-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-17 13:11] fritzmg commented on #22215
Has the original issue been fixed at all? Is it possible to set a cart item's price when adding the item via the REST API?

[2019-09-17 13:12] alexeya-ven commented on #24619
Hi @engcom-Charlie,
You're right! Looks like this issue was fixed in https://github.com/magento/magento2/commit/23b0061e057e482b1b0347b763b35125a6ed0c37
BUT it introduced another issue - on 2nd page and higher - no products.
Just checked on 2.3-deveop + sample data.
![image](
https://user-images.githubusercontent.com/1873745/65044546-bdc15880-d965-11e9-9078-074414e8ba99.png)

[2019-09-17 13:17] Jeroen999 commented on #24629
I have created 3 subcategories: Test category 1, Test category 2 and Test category 3. In the attached print screen, you can see that I have reproduced this issue in the develop instance.

![2019-09-17 two active categories](https://user-images.githubusercontent.com/55445180/65044883-1260d580-d95e-11e9-92f5-a3ec62e692d3.png)

[2019-09-17 13:18] Jeroen999 commented on #24629
Issue: Confirmed

[2019-09-17 13:47] arnoutvreugdenhil commented on #23618
The cause is that the shopping cart has customer_is_guest = 1.
That causes Magento\Quote\Model'QuotaAddressValidator line 130 tot pass null to doValidate.

I suspect logging in should set customer_is_guest to 0 but doesn't or not always at least.

I don't know about you guys, but I guess I'm going to write another bugfix plugin.

[2019-09-17 13:52] elvinristi commented on #24474
seems https://github.com/magento/magento2/pull/24457 merged to 2.3-develop 7days ago.
Hopefully included in `2.3.3`

[2019-09-17 14:26] magento-engcom-team commented on #24619
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20203` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-17 14:45] engcom-Charlie commented on #24623
Hello @Hailong
This issue will be finally confirmed if your PR is fully reviewed and confirmed.

I have the same result on the vanilla Magento 2.3-develop and your PR:

![image](https://user-images.githubusercontent.com/51680850/65051158-4b567580-d971-11e9-9034-a152aeb7eb32.png)
As I understand it is the expected result or not?
Could you take a look?

[2019-09-17 14:47] magento-engcom-team commented on #24629
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20204` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-17 15:19] magento-engcom-team commented on #16539
Hi @herod2k.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-93383` was closed as `non-reproducible` in `2.2-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you s

[2019-09-17 15:45] Hailong commented on #24623
Hi @engcom-Charlie , here is what I got from my side. I just merged in the latest 2.3-develop branch, and with PR https://github.com/magento/magento2/pull/24530 together.

My environment is Mac OS with Nginx, and the web folder is `/pub`.

<img width="1158" alt="image" src="https://user-images.githubusercontent.com/354776/65057104-10881980-d940-11e9-9870-d2d9ee257ee0.png">

[2019-09-17 15:50] magento-engcom-team commented on #16539
Hi @herod2k.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-93384` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you s

[2019-09-17 15:50] #16539 closed, assigned to nobody

[2019-09-17 16:01] magento-engcom-team commented on #24426
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-17 16:08] manucorra commented on #20033
We got this issue after upgrade to 2.3. We are running in AWS and sending email vis SES.
The email was not going and there was no error showing in any log files. The mail log also not showing any entry. We tried with a test script and found that mail is sending successfully with 4 arguments in mail().
But on trying with 5 argument('-fsomeone@example.com'), we got below error in console.
[root@ip-1

[2019-09-17 18:20] hostep commented on #24628
Hi @sinamiandashti

Do the following threads help you?
- https://github.com/magento/magento2/pull/22607 (fix coming in Magento 2.3.3)
- https://github.com/magento/magento2/pull/22886 (fix coming in Magento 2.3.4)

[2019-09-17 18:26] sdzhepa commented on #23981
Hello @ylgendev

Thank you for contribution and collaboration!

I moved this issue into Magento Commerce private repository where it could be fixed and delivered.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collaboration. It described

[2019-09-17 18:55] o-iegorov commented on #24376
This issue was fixed by internal team and PR currently in delivery queue

[2019-09-17 19:15] goivvy commented on #15115
M2.2.8

We are using https://github.com/magento/magento2/issues/15115#issuecomment-433029168 but without $customer->save() as there is no save method for the customer object.

[2019-09-17 19:18] sdzhepa commented on #24487
Hello @Andreabont

Could you please provide more details, such as:
1. Is it actual for the latest code-base `2.3`
2. What Magento mode did you use develop/production?
3. What type of plugin did you use after/before or around?

[2019-09-17 20:41] sinamiandashti commented on #24628
no,
Actually in normal  server with php 7.1 cli or even in Valet server's php cli  if you use --jobs=4 for example it works and static content deployed in 4 parallel jobs - but when you do the same in a DockerFile ... with using php:7.1-fpm image ... if use --jobs=4 or any number it not works and only deploy in 1 single job , no parallel jobs . some how the flag is bypassed .

[2019-09-17 23:23] twoatechguy commented on #22272
Is this still active development to be incorporated into Magento 2.2x/2.3.x?

[2019-09-18 00:02] ebodor commented on #23958
The same thing happened to me on 2.3.2. If you are running on Magento Cloud, the support team was able to provide a solution that got them back running for me:

Please update .magento.env.yaml and add these lines (see https://devdocs.magento.com/guides/v2.3/cloud/env/variables-deploy.html#cron_consumers_runner):

  deploy:
    CRON_CONSUMERS_RUNNER:
      cron_run: true
      max_messages: 1000

[2019-09-18 01:05] ckwagaba commented on #16425
@Floddy puts it well: the operation is actually always an AND and never an OR.
To elaborate, these two requests have the same exact response, which should not be the case
###Expecting OR
[code]
###Expecting AND
[code]

[2019-09-18 03:27] jstubbs303 opened #24632 "Strange Behavior with Orders"
**Issue Summary**

Ok, so having a strange issue with Magento version 2.2.9. Seems like once a week usually around the weekend we are seeing an instance where a single order turns up missing in our admin area. The customer was successfully charged using our payment gateway (NMI) but the order never makes it into Magento. This has been going on since around July 19th, 2019. No changes have been mad

[2019-09-18 04:18] rani-priya opened #24633 "Getting error in console while selecting all downloadable links"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2.19

### Steps to reproduce (*)

1. Create a downloadable product with more than one downloadable links
2. Open that product at frontend
3. click on select all link
4. open developer tool and check console

### Expected result (*)

1. should not show any error in console

### Actual result (*)

1.
![downloadable-issue](https://user-images.githubuse

[2019-09-18 04:33] krishprakash commented on #24633
@magento give me 2.3-develop instance

[2019-09-18 04:33] magento-engcom-team commented on #24633
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-18 04:34] magento-engcom-team commented on #24633
Hi @krishprakash, here is your [Magento instance](https://i-24633-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24633-2-3-develop.instances.magento-community.engineering/admin](https://i-24633-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-18 04:41] magento-engcom-team commented on #24633
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20219` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-18 06:01] magento-engcom-team commented on #24623
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20220` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-18 06:29] magento-engcom-team commented on #23676
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20221` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-18 06:30] Karlasa commented on #24474
Issue was fixed in #24457

Will close this issue because of that.

Cheers,

[2019-09-18 06:30] #24474 closed, assigned to nobody

[2019-09-18 06:37] vtransy commented on #11892
I noted solution here:
https://mrvts.wordpress.com/2019/09/18/magento-2-2-2-web-setup-wizard-not-visible-in-backend/

[2019-09-18 06:37] vtransy commented on #19491
Noted solution here:
https://mrvts.wordpress.com/2019/09/18/magento-2-2-2-web-setup-wizard-not-visible-in-backend/

[2019-09-18 06:57] magento-engcom-team commented on #13234
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20223` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-18 07:02] hostep commented on #24628
Ah, so that means you are missing the `pcntl` php extension. If you install that one in your docker container it should start working again.

[2019-09-18 07:05] engcom-Bravo commented on #24444
@Cristishor201, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-18 07:05] #24444 closed, assigned to nobody

[2019-09-18 07:06] engcom-Bravo commented on #24356
@Flyoyo, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-18 07:06] #24356 closed, assigned to nobody

[2019-09-18 07:07] engcom-Bravo commented on #24408
@gibbotronic, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-18 07:07] #24408 closed, assigned to nobody

[2019-09-18 07:22] engcom-Charlie commented on #18805
Hello @ayazwebkul

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](http

[2019-09-18 07:22] #18805 closed, assigned to nobody

[2019-09-18 07:37] jmilagroso commented on #2504
Worked in Ubuntu 18.04/PHP 7.2/nginx 1.14

[2019-09-18 07:44] engcom-Bravo commented on #19545
Hello @agorbulin
Thank You for contribution and collaboration!

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details.

[2019-09-18 07:44] #19545 closed, assigned to nobody

[2019-09-18 08:21] magento-engcom-team commented on #23319
Hi @eshwilk.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [778b42b6b9ce7f083c7e7adf45eb588519b7e538](https://github.com/magento/magento2/commit/778b42b6b9ce7f083c7e7adf45eb588519b7e538)
 - [931af1d74c659912c5bad7477ca7070fb1488f60](https://github.com/magento/magento2/c

[2019-09-18 08:21] #23319 closed, assigned to nobody

[2019-09-18 08:26] Flyingmana opened #24635 "Use of undefined constant GLOB_BRACE in dependency "allure-framework/allure-phpunit""
### Preconditions (*)
Magento Version: 2.3.2

### Steps to reproduce (*)

`./bin/magento dev:test:run unit`

### Expected result (*)
No PHP Warnings

### Actual result (*)

several:
[code]

### Related Informations

Problem is, GLOB_BRACE is not available in alle Unix Systems.
For example the often in Docker context used "Alpine"
https://github.com/docker-library/php/issues/719

There is an (not m

[2019-09-18 08:27] engcom-Charlie commented on #19307
Hello @honza-pavlik

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](ht

[2019-09-18 08:27] #19307 closed, assigned to saphaljha

[2019-09-18 08:45] ihor-sviziev commented on #22297
Here is fix for this issue: https://github.com/magento/magento2/pull/24636

[2019-09-18 09:06] Consumewithadele opened #24637 "Chinese input in tinymce 4"
### Preconditions (*)

1. Magento CE 2.3.0, 2.3.2 & 2.3-develop
2. Problem exist with this language packs and more:
![image](https://user-images.githubusercontent.com/51680850/65322693-34ea2d00-dbb0-11e9-952c-db048a8353b8.png)

### Steps to reproduce (*)

1. Go to admin and open new product page.
2. Open content tab to see wysiwyg editor.
3. Switch keyboard to Chinese
4. Start type any Chinese tex

[2019-09-18 09:15] engcom-Bravo commented on #19417
Hello @addinm

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://

[2019-09-18 09:15] #19417 closed, assigned to mahesh-rajawat, ravi-chandra3197

[2019-09-18 09:16] philippsander commented on #22402
The fix does not work. Still an Issue in 2.2.9

[2019-09-18 09:22] #22402 closed, assigned to nobody

[2019-09-18 09:26] philippsander opened #24639 "PUT /V1/products/:sku/media/:entryId is not idempotent"
### Preconditions (*)

1. Magento 2.3.x CE & EE
2. Have a Product with an image uploaded (Luma sample data provides this)

### Steps to reproduce (*)

1. Send the following PUT request to "/rest/V1/products/24-MB01/media/60"
base64_encoded_data is empty as this would bloat the issue-text

`{"entry":{"media_type":"image","label":"Label for my Image","disabled":false,"types":["image","small_image","

[2019-09-18 09:29] mertgokceimam commented on #13646
@magento-engcom-team this is not fixed on 2.2.9 and the issue is still reproducible. We've found out this issue when we were also debugging a flow that was not correctly working.

Another ticket where Magento failed to patch in 3 years and claim they patch where patch fails to work...

[2019-09-18 09:50] pierzakp commented on #24376
It's sad that there was no label / information that core team is handling it, waste of mine time.

[2019-09-18 09:51] angelflo commented on #5863
Hi @magento-engcom-team ,

Is it possible to have a REAL explanation about this bug ?
1/ Why do you stay this ticket marked as closed whereas bug is still here ?
2/ Are you currently working to solve this multisite problem ?

Thanks a lot to take in consideration

[2019-09-18 09:59] engcom-Bravo commented on #19388
Hello @RomanMichak

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest `2.3-develop` branch anymore by the steps provided.

If you manage to reproduce this issue on today's `2.3-develop` please create a new Issue with all required details according to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2019-09-18 09:59] #19388 closed, assigned to henryktews, novikor

[2019-09-18 10:23] edenduong opened #24640 "Missing "Customer Group Price" label when adding new customer group price rule"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Create New Product form
3. Click "Advanced Pricing"
4. In "Customer Group Price", click "Add"
=> label "Customer Group Price" suddenly disappear.

### Expected result (*)

![image](https://user-images.githubusercontent.com/8234209/65140544-fda54000-da38-11e9-84b6-546b2a3ab694.png)

### Actual result (*)

[2019-09-18 10:26] ihor-sviziev commented on #5863
Hi @angelflo,

Unfortunately we still don't have any steps to reproduce of this issue. Unfortunately this issue reproducing randomly and it's really hard to identify it.

If you have clear steps to reproduce - please report separate issue for that.

Thank you!

[2019-09-18 10:26] magento-engcom-team commented on #24640
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20226` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-18 10:30] edenduong opened #24642 "No error message when click "Import Tax Rates" without select file"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. System->Import & Export Tax Rates
3. Click "Import Tax Rates" without select file

### Expected result (*)

1. The error message is alerted

### Actual result (*)

1. Nothing happens.

[2019-09-18 10:33] magento-engcom-team commented on #24642
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20227` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-18 10:58] magento-engcom-team commented on #24018
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again

[2019-09-18 11:07] magento-engcom-team commented on #24018
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20228` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-18 11:08] VitaliyBoyko opened #24676 "Adding variation from another configurable product to cart if variation belongs to same super attribute is possible"
### Preconditions (*)
1. Magento 2.3 from the latest `magento/graphql-ce/2.3-develop`

### Steps to reproduce (*)
1. Create 2 Configurable products SKU's: [sku-c1, sku-c2]
2. Add 1 super attribute option, etc. Color - Red
![image](https://user-images.githubusercontent.com/20116393/65142241-f5d6a300-da1a-11e9-9672-299e42f34de3.png)
3. Create 1 variation with attribute Color -Red for each product SK

[2019-09-18 11:23] sinamiandashti commented on #24628
Fixed with installing the pcntl extension

Can i create a pull request for this document page ? https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-static-view.html

that people should have pcntl installed for using this feature @hostep

[2019-09-18 13:12] engcom-Charlie commented on #24635
Hello @Flyingmana !
Could you show me where(
outside the vendor) Magento uses `GLOB_BRACE` constant?

[2019-09-18 13:55] hostep commented on #24628
@sinamiandashti: very good idea to update the documentation with missing info regarding the `pcntl` extension! You can create a pull request at https://github.com/magento/devdocs/

Let us close this issue, since it's not a bug in Magento itself.

Thanks again!

[2019-09-18 13:55] #24628 closed, assigned to nobody

[2019-09-18 13:57] drpayyne opened #24646 "Replacing the usage of ObjectManager in Magento_Catalog Controllers"
### Summary
The usage of ObjectManager is discouraged and this issue is to address the extremely high and unnecessary usage of ObjectManagers in core code. This prevents type hinting as ObjectManagers can return any class. It also scatters the dependencies across the class hindering clear understanding of a class' dependencies. Also, ObjectManagers are used where Factories and Constructor Dependen

[2019-09-18 14:09] Rann1 commented on #22407
An update would still be great for this. Currently encountering this on a live site (even with default template), but it's quite random for me sadly

[2019-09-18 14:37] potticus commented on #4442
These changes, particularly the swatch renderer js code change, stopped all payment gateways from completing the purchase of configurable items that used swatches. It was hard to spot this error until it was reported to us by a customer weeks later. The customer gets sent back to the site with a 'cant place the order' error.

[2019-09-18 15:06] valugi commented on #8276
@orlangur  This happens in 2.2.8.

`Magento\Framework\Stdlib\Cookie\CookieSizeLimitReachedException: Noticed exception 'Magento\Framework\Stdlib\Cookie\CookieSizeLimitReachedException' with message 'Unable to send the cookie. Size of 'mage-messages' is 6775 bytes.' in /var/www/magento2/vendor/magento/framework/Stdlib/Cookie/PhpCookieManager.php:215
in Magento\Framework\Stdlib\Cookie\PhpCookieManag

[2019-09-18 15:13] chaoticgood1 opened #24647 "Template Styles working on Preview Template but in actual email being sent"
### Preconditions (*)

1. Ubuntu 18.04LTS
2. PHP 7.1

### Steps to reproduce (*)

1. Created new template with the following info:
![Screenshot from 2019-09-18 22-50-12](https://user-images.githubusercontent.com/3498992/65161005-6dcbba00-da69-11e9-89c9-ca34abe743b5.png)

### Expected result (*)

1. The invoice-1 should have been bold
2. The invoice-2 should have had 20px font-size

### Actual resu

[2019-09-18 15:18] Nickan commented on #24647
@magento give me {2.2.9} instance

[2019-09-18 15:18] Nickan commented on #24647
@magento give me 2.2.9 instance

[2019-09-18 15:18] magento-engcom-team commented on #24647
Hi @Nickan. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-09-18 15:34] skapin commented on #10377
@slackerzz I dont know what to thing about this. I mean it works like a charm. I didnt even think about it.
Magento in a nutshell...... .... .. . . . :tada: :rocket:

[2019-09-18 15:59] aashworth-ldg commented on #22366
Same for me.

[2019-09-18 16:03] Adplabscode commented on #7560
Someone found a solution?
Magento 2.2.6

[2019-09-18 16:06] kweste opened #24649 "Fatal error: Uncaught Error: Cannot instantiate interface Magento\Framework\Url\RouteParamsPreprocessorInterface"
I used one-click install to install my theme, transferred over all of the theme files and ran:

` php bin/magento setup:upgrade`

but I got the following error:

[code]

**To recreate:** Fresh install of Magento, copy over theme files for Necessary theme, and then run php mangeto/bin setup:upgrade

**I've tried** clearing my cache and generation folder and var/* but it doesn't make a difference

S

[2019-09-18 16:12] guillaumegiordana opened #24650 "CatalogInventory module version 100.3.0 from 2.3.0 tag is different from dist"
### Preconditions (*)

1. Magento 2.3.0
2. module-catalog-inventory 100.3.0

### Steps to reproduce (*)

1. I've recently updated my 2.3.0 magento CE with the latest published tag and I came across a problem
2. bin/magento setup:upgrade

### Expected result (*)

1. From a fresh install, there is no problem because the migration is not needed
2. I would like to be able to upgrade the schemas

### A

[2019-09-18 16:26] magento-engcom-team commented on #24426
@sdzhepa, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue report

[2019-09-18 16:27] maurixxxx commented on #8624
I have the same issue in 2.3.2 are you going to provide a fix?

[2019-09-18 17:04] magento-engcom-team commented on #24426
@sdzhepa, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue report

[2019-09-18 17:04] magento-engcom-team commented on #24426
@sdzhepa, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue report

[2019-09-18 17:05] magento-engcom-team commented on #24426
@sdzhepa, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue report

[2019-09-18 17:05] magento-engcom-team commented on #24426
@sdzhepa, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue report

[2019-09-18 17:09] magento-engcom-team commented on #24426
@sdzhepa, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen the ticket according to the [I

[2019-09-18 17:09] magento-engcom-team commented on #23671
@sdzhepa, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen the ticket according to the [I

[2019-09-18 17:11] magento-engcom-team commented on #24426
@sdzhepa, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new a ticket according

[2019-09-18 17:12] magento-engcom-team commented on #24426
@sdzhepa, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-09-18 17:19] magento-engcom-team commented on #20025
@hitesh-wagento, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket acco

[2019-09-18 17:19] #20025 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #18647
@jhruehl, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-09-18 17:19] #18647 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #20017
@kate-kyzyma, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-09-18 17:19] #20017 closed, assigned to dmytro-ch

[2019-09-18 17:19] magento-engcom-team commented on #13088
@bordeo, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-09-18 17:19] #13088 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #7176
@Bartlomiejsz, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accord

[2019-09-18 17:19] #7176 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #19877
@alepane21, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-09-18 17:19] #19877 closed, assigned to alepane21

[2019-09-18 17:19] magento-engcom-team commented on #19905
@cedarvinda, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordin

[2019-09-18 17:19] magento-engcom-team commented on #19789
@suryakant-krish, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket acc

[2019-09-18 17:19] #19905 closed, assigned to nobody

[2019-09-18 17:19] #19789 closed, assigned to krishna221993, suryakant-krish

[2019-09-18 17:19] magento-engcom-team commented on #19753
@mvenghaus, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-09-18 17:19] #19753 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #12414
@Danielc3, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-09-18 17:19] #12414 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #18063
@j0um, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to t

[2019-09-18 17:19] #18063 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #19592
@joshuaadickerson, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket ac

[2019-09-18 17:19] #19592 closed, assigned to gulshanchitransh

[2019-09-18 17:19] magento-engcom-team commented on #19499
@abrarpathan19, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accor

[2019-09-18 17:19] #19499 closed, assigned to abrarpathan19

[2019-09-18 17:19] magento-engcom-team commented on #19521
@ankurverma5540, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket acco

[2019-09-18 17:19] #19521 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #19449
@suryakant-krish, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket acc

[2019-09-18 17:19] #19449 closed, assigned to suryakant-krish

[2019-09-18 17:19] magento-engcom-team commented on #18304
@Rorando, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-09-18 17:19] #18304 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #19278
@peterlembke, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-09-18 17:19] #19278 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #19415
@mageprashant, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accord

[2019-09-18 17:19] #19415 closed, assigned to Dharmeshvaja91

[2019-09-18 17:19] magento-engcom-team commented on #18547
@karangar, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-09-18 17:19] #18547 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #18305
@neodrg, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-09-18 17:19] #18305 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #18349
@zaximus84, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-09-18 17:19] #18349 closed, assigned to Manwanigaurav

[2019-09-18 17:19] magento-engcom-team commented on #18553
@peterjaap, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-09-18 17:19] #18553 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #18765
@lostinrules, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-09-18 17:19] magento-engcom-team commented on #12776
@atishgoswami, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accord

[2019-09-18 17:19] #18765 closed, assigned to nobody

[2019-09-18 17:19] #12776 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #17862
@sskulkarni, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordin

[2019-09-18 17:19] #17862 closed, assigned to saphaljha

[2019-09-18 17:19] magento-engcom-team commented on #18032
@kolonuk, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-09-18 17:19] #18032 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #17531
@csimby, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-09-18 17:19] #17531 closed, assigned to nobody

[2019-09-18 17:19] #14148 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #17429
@tuushay, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-09-18 17:19] magento-engcom-team commented on #7083
@peec, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to t

[2019-09-18 17:19] #17429 closed, assigned to nobody

[2019-09-18 17:19] #7083 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #14664
@JeroenVanLeusden, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket ac

[2019-09-18 17:19] #14664 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #17508
@scottw-finao, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accord

[2019-09-18 17:19] #17508 closed, assigned to nobody

[2019-09-18 17:19] magento-engcom-team commented on #17584
@simonworkhouse, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket acco

[2019-09-18 17:19] #17584 closed, assigned to nobody

[2019-09-18 17:20] #17434 closed, assigned to nobody

[2019-09-18 17:20] #14602 closed, assigned to nobody

[2019-09-18 17:20] magento-engcom-team commented on #15321
@magolovanov, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-09-18 17:20] #15321 closed, assigned to nobody

[2019-09-18 17:20] magento-engcom-team commented on #17452
@Orstio, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-09-18 17:20] #17452 closed, assigned to aman3103

[2019-09-18 17:20] magento-engcom-team commented on #17664
@rishabhchd19, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accord

[2019-09-18 17:20] #17664 closed, assigned to nobody

[2019-09-18 17:20] magento-engcom-team commented on #17844
@sheldmandu, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordin

[2019-09-18 17:20] #17844 closed, assigned to dajve

[2019-09-18 17:20] magento-engcom-team commented on #17845
@sheldmandu, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordin

[2019-09-18 17:20] #17845 closed, assigned to dmytro-ch

[2019-09-18 17:20] #14931 closed, assigned to nobody

[2019-09-18 17:20] magento-engcom-team commented on #15446
@jigardhaduk, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-09-18 17:20] #15446 closed, assigned to nobody

[2019-09-18 17:20] magento-engcom-team commented on #14645
@aeu, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to th

[2019-09-18 17:20] #14645 closed, assigned to nobody

[2019-09-18 17:20] magento-engcom-team commented on #16285
@ghost, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-09-18 17:20] #16285 closed, assigned to nobody

[2019-09-18 17:40] o-iegorov commented on #24376
Already merged into mainline

[2019-09-18 17:41] hubertus2017 commented on #17951
same problem since 2.3.2

[2019-09-18 17:42] o-iegorov commented on #24376
@pierzakp there was information about internal ticket created, but i am agree, probably for such cases should be information about progress of internal ticket

[2019-09-18 18:17] maierb commented on #3150
bump

[2019-09-18 20:05] hostep commented on #24376
Looks like this is the merge commit (for the people interested): https://github.com/magento/magento2/commit/0a390bbf1d0f27fc3fdcbf6844d7cf7c67efbf0c

[2019-09-18 23:05] Adel-Magebinary commented on #15545
Changing MySQL transaction isolation to READ-COMMITTED does fix the issue.

``
transaction-isolation = READ-COMMITTED
``

[2019-09-19 03:54] ihor-sviziev commented on #22407
Looks like it was finally fixed in https://github.com/magento/magento2/commit/bd5b7c584de95da97200be47d6f63fd9eda372f7

@engcom-Alfa could you confirm that this issue is not reproducing anymore?

[2019-09-19 05:17] VZeroCool opened #24651 "Logged out automatically after flush JS/CSS,Static files cache"
### Preconditions (*)

1. Magento 2.3.X , Apache2 ,MySQl

### Steps to reproduce (*)

1. Login to admin
2. Navigate to Cache management
3. Flush static files then JS/CSS cache

### Expected result (*)

1. Has to be logged in

### Actual result (*)

1. Got logged out automatically when flushed JS/CSS cache after static files cache

[2019-09-19 05:17] VZeroCool commented on #24651
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-09-19 05:18] magento-engcom-team commented on #24651
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-19 05:18] magento-engcom-team commented on #24651
Hi @VZeroCool, here is your [Magento instance](https://i-24651-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24651-2-3-develop.instances.magento-community.engineering/admin](https://i-24651-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-19 05:21] VZeroCool commented on #24651
@magento give me 2.3.1-develop instance

[2019-09-19 05:21] magento-engcom-team commented on #24651
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.3.1-develop instance for you

[2019-09-19 06:13] pemann commented on #24376
There are lots of places in magento code where string is used instead of int when querying by id-fields. You can seen them by first enabling db query log `php bin/magento dev:query-log:enable` and then browse some time your magento store. After a while check db log with: `grep "_id = '" var/debug/db.log` and `grep "_id IN ('" var/debug/db.log`"

[2019-09-19 06:37] engcom-Bravo commented on #24651
Hello @VZeroCool, Thanks for applying. We are not able to reproduce Your issue on a vanilla instance of the latest develop version:
![cache](https://user-images.githubusercontent.com/51680745/65219247-deea8c00-dac0-11e9-8d0e-2316e1de1abb.gif)
Are we doing something wrong here?

[2019-09-19 06:46] magento-engcom-team commented on #24639
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20259` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-19 07:01] engcom-Bravo commented on #24646
Hello @sdzhepa.
This issue seems to be a feature request.
Will you please transfer it to the feature requests repository. Thank You.

[2019-09-19 07:02] engcom-Charlie commented on #24649
Hello @kweste !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the Necessary theme support, for advice or general discussion about this issue.
Thanks for your report!

[2019-09-19 07:14] melnickforever commented on #22379
Do you have any update about this issue?
what is the recommended way of accessing all child products of a config product?
Can we use fix from https://github.com/magento/magento2/pull/22634

[2019-09-19 07:32] craigcarnell commented on #24376
@pemann Is that with this commit applied or before?

[2019-09-19 07:37] #24649 closed, assigned to engcom-Charlie

[2019-09-19 07:42] drpayyne commented on #24646
@sdzhepa May I work on this issue, please? Also, isn't this a technical issue rather than a feature request as labelled by @engcom-Bravo?

[2019-09-19 08:20] manish0592 commented on #23828
Hi @Naberdz ,
I'm trying to reproduce this issue by using the steps you mention above, but not able to reproduce.

[2019-09-19 08:52] Emanuel-23 opened #24652 "Magento Checkout UI Component SortOrder"
I really hope i have understood the fundamental technique behind the knockout ui components in combination with xml. The following does not make much sense to me...

### Preconditions (*)
1. Magento CE 2.3.2
2. see hardcoded sortOrder in line `90` in `web/vendor/magento/module-checkout/view/frontend/web/js/view/shipping.js`
2. see hardcoded sortOrder in line `57` in `web/vendor/magento/module-chec

[2019-09-19 09:08] magenizr commented on #24322
@katesuykovskaya

We had the same issue on Magento 2.3.0 EE caused by only one old record in the `quote_preview` table. The error appeared every two minutes in the exception.log because of a cron job which is defined in `vendor/magento/module-checkout-staging/etc/crontab.xml`.

It seems your `quote_preview` table is simply out of sync with the `quote` table.

In our case we fixed it just by deleti

[2019-09-19 09:17] engcom-Alfa commented on #22407
@ihor-sviziev Ok, I will check

[2019-09-19 09:21] itmsenior opened #24653 "Welcome message lost when persistence enabled"
# Preconditions (*)

1. Magento 2.3.2
2. Cart persistence enabled

### Steps to reproduce (*)

Note: These replicate steps may seem like steps an average user would never carry out. The issue we're having is the welcome message is lost when customers return to the site a few days later. These replication steps attempt to replicate the "waiting a few days".
1. Enable Cart Persistence in Magento Adm

[2019-09-19 09:22] itwebdev2 commented on #24653
@magento give me 2.3-develop instance

[2019-09-19 09:22] magento-engcom-team commented on #24653
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-19 09:23] magento-engcom-team commented on #24653
Hi @itwebdev2, here is your [Magento instance](https://i-24653-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24653-2-3-develop.instances.magento-community.engineering/admin](https://i-24653-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-19 09:29] NickvdMeij commented on #18841
same here. magento 2.3.2

[2019-09-19 09:29] itwebdev2 commented on #24653
Slightly different result on vanilla install but still seems to be bugged.
On vanilla my cart isn't remembered and no welcome message appears, however the "Not you?" still appears:
![image](https://user-images.githubusercontent.com/49071342/65231982-4fe17200-dac8-11e9-928d-df2191f7c6e5.png)

[2019-09-19 09:34] itwebdev2 commented on #24653
@magento give me 2.3.2 instance

[2019-09-19 09:34] magento-engcom-team commented on #24653
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-09-19 09:35] magento-engcom-team commented on #24653
Hi @itwebdev2, here is your [Magento instance](https://i-24653-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-24653-2-3-2.instances.magento-community.engineering/admin](https://i-24653-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-19 09:39] engcom-Charlie commented on #24637
Hello @Consumewithadele !
We can't reproduce this issue on Magento 2.3.2 & 2.3-develop.

**Manual testing scenario:**

1. Go to admin and open new product page.
2. Open content tab to see wysiwyg editor.
3. Switch keyboard to Chinese
4. Start type any Chinese text in wysiwyg editor.

**Actual result:**
Two Chinese fonts works:
![image](https://user-images.githubusercontent.com/51680850/65232763-60

[2019-09-19 09:41] itwebdev2 commented on #24653
Reproduced on 2.3.2:
![image](https://user-images.githubusercontent.com/49071342/65232895-dba7ce00-dac9-11e9-9b2e-c0ab92ce0aa1.png)

Could anyone confirm what the expected behavior should be with the above replication steps? I was under the impression I should have
1. Welcome, Customer Name
2. Not you link (clear cookie)
3. Cart contents remembered.
Or should I be classed as logged out (i.e. a com

[2019-09-19 09:48] thompalstra opened #24654 "Quote stays flagged as "customer_is_guest = 1" after login"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Be a guest
2. Put an item in the cart
3. Go to checkout
4. Fill in an email address for a non-existing user
5. Fill in the password and password repeat inputs
6. Submit order
7. When in the payment provider's page, go back to the website
8. Login as your newly created user
9. Go to checkout
10. Submit order

### Expected resul

[2019-09-19 10:17] guillaumegiordana commented on #24650
Bypassed by using --prefer-source and replaced the module.
You should still make sure your dist is up to date.

Thank you.

[2019-09-19 10:17] #24650 closed, assigned to nobody

[2019-09-19 10:21] pemann commented on #24376
@craigcarnell before. My comment was just a remark that there are similar problems all-over magento. Someone should look into this with wider perspective and try to fix them all.

[2019-09-19 10:41] #24651 closed, assigned to nobody

[2019-09-19 10:42] Linek commented on #23880
Hi @Yupik

Maybe I was not fully clear on my first description but in my opinion problem still exists.

So if you will review \Magento\Framework\Encryption\Encryptor::decrypt method there is this part:

[code]

Normally the execution should never go into this condition. But because of configuration in config.xml from Magento_Paypal module, there is an execution of \Magento\Framework\Encryption\Enc

[2019-09-19 10:53] Yupik commented on #23880
Hello @Linek,

What do you exacly mean by:

I don't see any double xml node under `<payflow_advanced>` node. I've tried to debug this, and on fresh Magento 2.3 install it goes to `decrypt()` method with empty string, not `PayPal` (maybe you've provided this string to username or password field?).

[2019-09-19 10:54] pierzakp commented on #24376
@pemann my PR was fixing it in all cases have confirmed that after reviewing var/debug/db.log, for update and select statements.

Commit mentioned above is fixing it (still think that my PR was a cleaner solution) only for update statements, what about selects??

[2019-09-19 11:05] engcom-Alfa commented on #22407
@ihor-sviziev We are not able to reproduce this issue on fresh 2.3-develop instance. The problem has been resolved in [bd5b7c5](https://github.com/magento/magento2/commit/bd5b7c584de95da97200be47d6f63fd9eda372f7).
Thanks!

[2019-09-19 11:05] #22407 closed, assigned to nobody

[2019-09-19 11:07] Linek commented on #23880
Hi @Yupik

Could you please verify that your <payflow_advanced> looks like this:

[code]

So the <user> node is first defined with backend_model and then by string "PayPal".

BR

[2019-09-19 11:17] Yupik commented on #23880
@Linek Yes, it looks exacly like this, but still don't get this:

If you're talking about:
[code]

[2019-09-19 11:35] dankhrapiyush commented on #23157
I'm getting the same issue on the Magento 2.2.9.

[2019-09-19 11:53] berbua opened #24656 "referenceBlock with group attribute not allowed in catalog_product_view.xml"
I would like to change group attribute for certain referenceBlocks in _Magento_Catalog/layout/catalog_product_view.xml_. It is causing exceptions during XML validation.

### Preconditions (*)
1. Magento 2.3.2 & 2.3-develop

### Steps to reproduce (*)
1. Go to _Magento_Catalog/layout/catalog_product_view.xml_
2. Change group for below mentioned reference blocks:
[code]

3. Go to Product Desciption

[2019-09-19 11:53] hostep commented on #23880
@Yupik, just read the title of the issue, the `<user>` node is defined twice 😉

<img width="665" alt="Screenshot 2019-09-19 at 13 24 40" src="https://user-images.githubusercontent.com/85479/65241778-bbd1d380-dae4-11e9-823a-aa45635f7adb.png">

[2019-09-19 12:00] engcom-Bravo commented on #24647
Hello @Nickan. We are able not to reproduce Your issue - the preview shows the same as the email:
![template](https://user-images.githubusercontent.com/51680745/65241939-8978a400-daed-11e9-92c7-d9e5d7f61d01.png)
Probably the issue has already been fixed in later versions. Could You please confirm You can still reproduce the issue on the latest develop version. For that just ask the bot, as You alr

[2019-09-19 12:02] Yupik commented on #23880
@hostep Ah, that's right, thought in different way about this title :) So i'll take care about this, but after fixing doubled node `<user>` and filling PayPal secret's - it still will go through `decrypt` method

[2019-09-19 12:09] Linek commented on #23880
Hi @Yupik

There is nothing wrong with going through `decrypt` method. The problem is when parameter is of `decrypt` is "PayPal" because in this case it will use fallback and run Mcrypt method instead of Sodium.

[2019-09-19 12:30] engcom-Bravo commented on #24462
@frostblogNet, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-19 12:30] #24462 closed, assigned to nobody

[2019-09-19 13:12] engcom-Charlie commented on #24654
Hello @thompalstra !
I can't reproduce this issue by following steps:

1. Be a guest
2. Put an item in the cart
3. Go to checkout
4. Fill in an email address for a non-existing user
5. Submit order
6. When in the payment provider's page, go back to the website
7. Login as your newly created user
8. Go to checkout
9. Submit order

**Actual result:**

1. Redirect to the payment provider
2. The quote

[2019-09-19 13:24] LotsofPixels opened #24658 "Create category returns : The "string" value's type is invalid. The "string[]" type was expected"
### Preconditions (*)
1. Magento 2.3.2
2. <soap:Envelope xmlns:def="https://www.domaine.tld/soap/all?services=catalogCategoryRepositoryV1" xmlns:soap="http://www.w3.org/2003/05/soap-envelope">

### Steps to reproduce (*)

1. Message is an update, because category is already existing.
2.-<item>
<attributeCode>default_sort_by</attributeCode>
<value>position</value>

</item>

### Expected result (*)

[2019-09-19 13:44] elfeffe commented on #14240
I have created a pull request for this. I was having the same problem.
https://github.com/magento/magento2/pull/24659

[2019-09-19 14:02] jmcharadva commented on #24656
@berbua
In Magento, there are two attributes "before" and "after" you can use that.
If you want to move any block to another place then there is
<move element="{element-name}" destination="{desitnation}" before="-"/>

Please try this, it might help you.

[2019-09-19 14:05] ValeSauer opened #24660 "Unexpected localized exceptions when thrown via WebAPI"
### Preconditions (*)
1. Magento 2.3.2 & 2.3-develop
2. Change locale of main store to german
3. Create an integration

### Steps to reproduce (*)
Unfortunately I have no idea how to trigger a 500 error via REST API. It usually happens by chance when there are database issues or something similar. However, the following steps could help to reproduce it.

1. Enforce an exception by calling the REST

[2019-09-19 14:07] ValeSauer commented on #24660
@magento give me 2.3-develop instance

[2019-09-19 14:07] magento-engcom-team commented on #24660
Hi @ValeSauer. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-19 14:07] magento-engcom-team commented on #24660
Hi @ValeSauer, here is your [Magento instance](https://i-24660-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24660-2-3-develop.instances.magento-community.engineering/admin](https://i-24660-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-19 14:20] kkorushkin commented on #2291
This issue needs to be closed since it's has fixed not reproducible anymore

[2019-09-19 14:23] o-iegorov commented on #24376
@pierzakp  The issue opened for update query, if you have proved measurement that for select queries this will increase performance please add new issue

[2019-09-19 14:50] itwebdev2 commented on #24218
@magento give me 2.3-develop instance

[2019-09-19 14:50] krzksz commented on #24656
This is not what we are trying to achieve. Currently it seems that there is no way allowed by XML validator to change the value of `group` attribute for already defined block using `referenceBlock`.

[2019-09-19 14:50] magento-engcom-team commented on #24218
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-19 14:51] magento-engcom-team commented on #24218
Hi @itwebdev2, here is your [Magento instance](https://i-24218-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24218-2-3-develop.instances.magento-community.engineering/admin](https://i-24218-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-19 15:01] jc9080 opened #24662 "Catalog > Product > Add Product > Set Product as New From > Calendar icons are off"
### Preconditions (*)

1. Megento ver.2.3.0
2.

### Steps to reproduce (*)

1. Go to Catalog/Product/Add Product/Set Product as New From
2.

### Expected result (*)

1. Calendar icons should be outside date fields
2.

### Actual result (*)

1. Calendar icons are off and located inside the fields
2.
![magento_report_calendar_icon](https://user-images.githubusercontent.com/45600832/65255996-d39d5d80

[2019-09-19 15:12] engcom-Bravo commented on #24662
Hello @jc9080. Thanks for applying. Here is what we've got in the latest develop version:
![inside](https://user-images.githubusercontent.com/51680745/65256660-9060e000-db08-11e9-9b9f-c73cbce96f4e.png)
Could You please confirm You would face the same issue on a vanilla i.e. fresh, free of any customization and third party extensions instance of Magento. Thank You.

[2019-09-19 15:48] sdzhepa commented on #2291
Hello @kkorushkin

Thank you for the update and collaboration!
I am closing this issue

[2019-09-19 15:48] #2291 closed

[2019-09-19 16:56] sdzhepa commented on #19241
re-verified, still can be reproduced on the current `2.3-develop`

[2019-09-19 17:49] psdevhh opened #24664 "Running the integration tests fails with 'Error: Cannot instantiate interface...'"
### Preconditions (*)

1. Magento 2.3-develop branch was installed (PHP 7.2, MySQL 5.7.26, both frontend & admin work fine)
2. M2 was configured to run integration tests as described at [https://devdocs.magento.com/guides/v2.3/test/integration/integration_test_execution.html](https://devdocs.magento.com/guides/v2.3/test/integration/integration_test_execution.html)

### Steps to reproduce (*)

1. I

[2019-09-19 18:16] Thejarnold commented on #22000
@dudzio12
I was looking at this issue, and I believe I have the same exact situation. I am using MSI, I have the system set to show out of stock products, I create a configurable product and remove the products from Default Source and assign the products to a Custom Source. The price on the frontend even with the product being in-stock and having 10,000 units of the product, the category page and

[2019-09-19 18:56] juansumma commented on #9884
@magento-engcom-team, we've come across this issue in a Magento 2.2.5 instance, and none of the community proposed walkarounds have worked. Can this be re-open?

How come it was not added to the backlog even though it has been reproduced by Magento team?

[2019-09-19 19:36] hostep commented on #24662
This was fixed in Magento 2.3.1 by https://github.com/magento/magento2/pull/18627 I believe.

[2019-09-19 19:50] Webroju commented on #21049
Has someone found a solution for 2.2.x?

[2019-09-19 20:40] magento-engcom-team commented on #23473
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#24589 by @thurow in 2.3-develop branch
Related commit(s):
 - [d009e26e9a199dbddc66cb43832eb1f571c25d59](https://github.com/magento/magento2/commit/d009e26e9a199dbddc66cb43832eb1f571c25d59)
 - [3187c6167bff7cc925249de829ebbeb2ac02dc13](https://github.com/magento/magento2/commit/3187c6167bff7cc925249de829ebbeb

[2019-09-19 20:40] #23473 closed, assigned to thurow

[2019-09-19 20:52] craigcarnell commented on #2310
This is still an issue, my JS framework is expecting camel case in it's returns but Magento returns underscores.

[2019-09-20 00:33] magento-engcom-team commented on #24642
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24643 by @edenduong in 2.3-develop branch
Related commit(s):
 - [77562dabf929b7018682d0f5fa70adcf8a89af79](https://github.com/magento/magento2/commit/77562dabf929b7018682d0f5fa70adcf8a89af79)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-20 00:33] #24642 closed, assigned to edenduong

[2019-09-20 00:33] magento-engcom-team commented on #24626
Hi @swnsma. Thank you for your report.
The issue has been fixed in magento/magento2#24627 by @swnsma in 2.3-develop branch
Related commit(s):
 - [a7e043ca92266ae6c81ebbf655a57506159f1bb5](https://github.com/magento/magento2/commit/a7e043ca92266ae6c81ebbf655a57506159f1bb5)
 - [7e30a189028ecd77872989df5648ba033a55dd5f](https://github.com/magento/magento2/commit/7e30a189028ecd77872989df5648ba033a55dd

[2019-09-20 00:33] #24626 closed, assigned to nobody

[2019-09-20 00:33] magento-engcom-team commented on #24618
Hi @speedupmate. Thank you for your report.
The issue has been fixed in magento/magento2#24622 by @speedupmate in 2.3-develop branch
Related commit(s):
 - [d8534d2430f540373262dd3d47a8500f2c752d3e](https://github.com/magento/magento2/commit/d8534d2430f540373262dd3d47a8500f2c752d3e)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-20 00:33] #24618 closed, assigned to speedupmate

[2019-09-20 00:33] magento-engcom-team commented on #4511
Hi @thomvanderboon. Thank you for your report.
The issue has been fixed in magento/magento2#24605 by @krisdante in 2.3-develop branch
Related commit(s):
 - [6ab019b21eb90d9ebe119d8777a111a4b88bfad8](https://github.com/magento/magento2/commit/6ab019b21eb90d9ebe119d8777a111a4b88bfad8)
 - [b7059a615b59b673690f0f3d8187f684213fc72d](https://github.com/magento/magento2/commit/b7059a615b59b673690f0f3d818

[2019-09-20 00:33] #4511 closed, assigned to krisdante

[2019-09-20 00:33] magento-engcom-team commented on #5321
Hi @RG-1. Thank you for your report.
The issue has been fixed in magento/magento2#24605 by @krisdante in 2.3-develop branch
Related commit(s):
 - [6ab019b21eb90d9ebe119d8777a111a4b88bfad8](https://github.com/magento/magento2/commit/6ab019b21eb90d9ebe119d8777a111a4b88bfad8)
 - [b7059a615b59b673690f0f3d8187f684213fc72d](https://github.com/magento/magento2/commit/b7059a615b59b673690f0f3d8187f684213fc

[2019-09-20 00:33] #5321 closed, assigned to krisdante

[2019-09-20 00:33] magento-engcom-team commented on #24484
Hi @bst2002git. Thank you for your report.
The issue has been fixed in magento/magento2#24605 by @krisdante in 2.3-develop branch
Related commit(s):
 - [6ab019b21eb90d9ebe119d8777a111a4b88bfad8](https://github.com/magento/magento2/commit/6ab019b21eb90d9ebe119d8777a111a4b88bfad8)
 - [b7059a615b59b673690f0f3d8187f684213fc72d](https://github.com/magento/magento2/commit/b7059a615b59b673690f0f3d8187f68

[2019-09-20 00:33] #24484 closed, assigned to krisdante

[2019-09-20 00:33] magento-engcom-team commented on #24579
Hi @rani-webkul. Thank you for your report.
The issue has been fixed in magento/magento2#24580 by @rani-webkul in 2.3-develop branch
Related commit(s):
 - [3d07b8ee783b70c1916c05a96f361ddeb9be7d63](https://github.com/magento/magento2/commit/3d07b8ee783b70c1916c05a96f361ddeb9be7d63)
 - [2f6332ca6be7eeb9a7abae0ab7ffd83fff725ee7](https://github.com/magento/magento2/commit/2f6332ca6be7eeb9a7abae0ab7ff

[2019-09-20 00:33] #24579 closed, assigned to rani-priya

[2019-09-20 00:33] magento-engcom-team commented on #21519
Hi @netjordanlee. Thank you for your report.
The issue has been fixed in magento/magento2#24300 by @Rus0 in 2.3-develop branch
Related commit(s):
 - [8048c09d7f37460c8dda1938fde85a2e36bce49b](https://github.com/magento/magento2/commit/8048c09d7f37460c8dda1938fde85a2e36bce49b)
 - [8f491d3dcc905b12b08b5327999ce51e658a34ac](https://github.com/magento/magento2/commit/8f491d3dcc905b12b08b5327999ce51e65

[2019-09-20 00:33] #21519 closed, assigned to Rus0

[2019-09-20 02:12] LiamKarlMitchell commented on #13829
How to change class of a layout block to over-ride content on it with your own?

[code]

The solution appears to be to remove the block then re-add it with your own class and template.

See: https://magento.stackexchange.com/questions/178836/how-to-change-the-class-type-and-template-of-a-block-in-magento2-with-layoutxml

Appropriately named view/layout/something.xml
[code]

Why can't we have class

[2019-09-20 04:27] ajijshekh123 commented on #24662
This issue is fixed in Magento 2.3 Instance.  See the Issue Id: #18627

[2019-09-20 04:27] #24662 closed, assigned to nobody

[2019-09-20 06:39] hoangnm89 commented on #19710
I just got this issue on 2.3.2, but my case may different: The store manager want to use placeholder image for product, but he uploaded in wrong place: Product Image Watermarks in theme configuration. **So i deleted the watermarks image**, everything works for me.

Hope this help.

[2019-09-20 06:51] engcom-Bravo commented on #24486
@sufyaniksula, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-20 06:51] #24486 closed, assigned to nobody

[2019-09-20 06:59] arunu commented on #11897
The issue exists in Magento 2.3.2

[2019-09-20 07:39] magento-engcom-team commented on #24660
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20289` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-20 07:50] minhducnho commented on #15427
Does anyone have any solution to fix this error?

[2019-09-20 07:53] kerlama commented on #15427
Apparently not.

[2019-09-20 07:54] phongphanmage commented on #15427
This issue comes from your third-party module.
Kindly re-check all your module which customized the order flow.
I fixed it with condition check Order Object in Observer.
```if ( $order )```

[2019-09-20 07:55] amitebizon commented on #19159
Issue still persist in version 2.3.2

[2019-09-20 07:55] quyendam2612 commented on #4409
I confirmed there is still issue with translation in Magento 2.2.9

[2019-09-20 08:07] engcom-Charlie commented on #24664
Hello @psdevhh .
I reproduced same errors when i had bad configuration of `install-config-mysql.php.dist` file.
Please check the data of this file and if you don't use Redis please detele this:
`  'amqp-host' => 'localhost',
    'amqp-port' => '5672',
    'amqp-user' => 'guest',
    'amqp-password' => 'guest',`.
I have to close this issue, but i am waiting for your response.
Thanks for your report

[2019-09-20 08:07] #24664 closed, assigned to engcom-Charlie

[2019-09-20 08:18] magento-engcom-team commented on #24656
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20290` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-20 08:41] engcom-Charlie commented on #17568
Hello @emiprotech

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](http

[2019-09-20 08:41] #17568 closed, assigned to nobody

[2019-09-20 08:52] engcom-Bravo commented on #16496
Hello @sduif

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://d

[2019-09-20 08:52] #16496 closed, assigned to nobody

[2019-09-20 08:57] psdevhh commented on #24664
Hi @engcom-Charlie
You're right, turns out I had to specify `localhost` instead of `127.0.0.1` as mysql host to get the tests working. As usual, the error messages are very helpful in such cases ;) Thanks a lot for your help!

[2019-09-20 09:17] engcom-Bravo commented on #15849
Hello @pixiemediaweb
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](ht

[2019-09-20 09:17] #15849 closed, assigned to nobody

[2019-09-20 09:20] shkodasv opened #24666 "Static content is deploying for disabled modules"
### Summary (*)
- Original summary from the reporter :

### Preconditions (*)
- reproduced on `2.3-develop`

### Steps to reproduce (*)
1. Setup vanilla 2.3-develop installation
2. Take a look at the file `app/design/frontend/Magento/blank/Magento_Braintree/web/css/source/_module.less`, notice the selector `.payment-method-braintree` is in there and also notice this selector is in no other file in

[2019-09-20 09:25] engcom-Bravo commented on #24666
Hello @shkodasv. Thanks for applying, but the GitHub issue tracker is intended for Magento Core technical issues only. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-09-20 09:35] FreekVandeursen opened #24667 "Missing preference for DriverInterface"
### Preconditions (*)
1. Magento 2.2.9 and 2.3.2

### Steps to reproduce (*)
1. Create a class and inject \Magento\Framework\Filesystem\Directory\Read in the constructor (or \Magento\Framework\Filesystem\Directory\Write)
2. Get the class via the object manager

### Expected result (*)
1. Class instance gets created

### Actual result (*)
1. Fatal error "Cannot instantiate interface Magento\Framewo

[2019-09-20 09:57] YiffyToys opened #24668 "inconsistent VAT calculation"
Customer ordered 3 products. Each product costs 250 eur and has 19% sales tax.
This is what the order page shows:

| Product | Item Status | Original Price | Price | Qty | Subtotal | Tax Amount | Tax Percent | Discount Amount | Row Total |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| NAME1 | Ordered | €250.00 | €250.00 | Ordered 1 | €250.00 | €39.92 | 19% | €0.00 | €250.00 |
| N

[2019-09-20 09:57] magento-engcom-team commented on #22612
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20291` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-20 10:02] Consumewithadele commented on #24637
Hello,
Could you share information about bug MAGETWO-84769 ?

Could you check attached video where you can see strange behaviour during CN input ?
[CN_input.mov.zip](https://github.com/magento/magento2/files/3635321/CN_input.mov.zip)

[2019-09-20 10:16] FreekVandeursen commented on #24668
Based on the numbers I assume you have set your tax settings to:
- Prices include tax
- Calculate tax on order total

So Magento will calculate the total tax amount, which is 750 / 1.19 * 1.19 = 119,74789916

Then Magento will try to divide this tax amount over the order items, for visual purposes. So the tax per item will be 119,74789916 / 3 = 39,915966387

So what would you expect in this case?

[2019-09-20 10:54] quocthai795vn opened #24669 "Magento 2 quickoder multiple sku issue"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Enter Multiple SKUs -> Example 24-WB03, 24-WB04, the first time is correct but when we continue Enter skus 24-WB03, 24-WB04 again, it does not update qty to 2.

### Expected result (*)

1. [Screenshots, logs or description]
2.It should update Qty

[2019-09-20 11:00] Naberdz opened #24670 "Possible bug/error attributeValues contain empty key."
### Preconditions (*)

1. Magento 2.3.2
2. php 7.2
3. phpspreadsheet as 3rd party library: composer require phpoffice/phpspreadsheet

### Steps to reproduce (*)

1. Create custom import script.
2. Create helper to create / get id's of attribute option:

[code]
call the following function :
`$this->_attributeHelper->createOrGetId('custom_attribute', 'custom_label');`

### Expected result (*)

1. Th

[2019-09-20 11:04] YiffyToys commented on #24668
Good point.   I did not think about that.
I guess I shoul disable showing VAT or individual items completely (somewhere).

[2019-09-20 11:11] Naberdz commented on #24670
forgot to add that you have to create dropdown / multiselect attribute since only those have labels

[2019-09-20 11:11] engcom-Charlie commented on #24637
@Consumewithadele After watching your video i tested with another languages and i reproduced this issue. This problem exist with this packs:
![image](https://user-images.githubusercontent.com/51680850/65322693-34ea2d00-dbb0-11e9-952c-db048a8353b8.png)
So excuse me about closing this issue.
Sorry but i can't share information about MAGETWO-84769.

[2019-09-20 11:14] magento-engcom-team commented on #24637
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20293` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-20 11:16] ajijshekh123 commented on #24669
Hi @quocthai795vn
Please add this issue in below Magento Issue format.
See the link: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Thanks.

[2019-09-20 11:35] sindrepm opened #24671 "Support setting SSLVerification parameter in Elasticsearch config"
### Description (*)
I am using Elasticsearch operator on Kubernetes (https://www.elastic.co/guide/en/cloud-on-k8s/current/index.html) which enables auth and SSL by default with self-signed certificate. Currently I see no way to use Magento Elasticsearch implementation with self-signed certificates because the curl request fails.

The Elasticsearch PHP client already supports setting a parameter "S

[2019-09-20 11:36] olgaIskra opened #24672 "fix bug: It is not possible to complete a Magento Guest Order if it pays with PayPal"
1. After PayPal was paid and returned to Magento, the process go in cycles  "Re-Ording" with an error: We can't save the address: empty e-mail.

2. The solution is to store guest data in a timely manner:
module-checkout/Model/GuestPaymentInformationManagement.php
public function savePaymentInformation(
        $cartId,
        $email,
        \Magento\Quote\Api\Data\PaymentInterface $paymentMethod

[2019-09-20 11:42] olgaIskra commented on #15427
The solution is to store guest data in a timely manner:
module-checkout/Model/GuestPaymentInformationManagement.php
public function savePaymentInformation(
$cartId,
$email,
\Magento\Quote\Api\Data\PaymentInterface $paymentMethod,
\Magento\Quote\Api\Data\AddressInterface $billingAddress = null
) {
$quoteIdMask = $this->quoteIdMaskFactory->create()->load($cartId, 'masked_id');
/** @var Quote $quote

[2019-09-20 11:48] Naberdz commented on #24670
Have solved my issue like this:
[code]

although question still remains where is that empty element comes from.

[2019-09-20 11:58] engcom-Bravo commented on #24653
Hello @itwebdev2. Thanks for applying. To achieve the behavior You expect would You please try to set Clear Persistence on Sign Out to "No" (if not already set):
![persist](https://user-images.githubusercontent.com/51680745/65325218-ef7d2e00-dbb6-11e9-8a96-d5b9f851ad09.png)

[2019-09-20 12:36] itwebdev2 commented on #24653
Hi @engcom-Bravo.
Thank you, in the development instance this configuration works as expected.
In 2.3.2 regardless of the "Clear persistence on Sign Out" configuration, the exception still occurs when pressing the "Not You?" link. Do you know which PR was involved in fixing this issue?

[2019-09-20 12:51] brana946 commented on #11332
To solve this issue need to modify or override below file.

**vendor\magento\module-customer\Block\Widget\Dob.php**

    public function getHtmlExtraParams()
    {
        $validators = [];
        if ($this->isRequired()) {
            $validators['required'] = true;
        }
        $validators['validate-date'] = [
            'dateFormat' => $this->getDateFormat()
        ];
        return 'da

[2019-09-20 13:10] itwebdev2 commented on #24653
Hi @engcom-Bravo.
In the development instance this configuration works as expected.
However, in 2.3.2, regardless of that configuration, if you follow my replicate steps the welcome message does not appear.
Do you know which PR fixed this in the development instance? Any ideas if it's scheduled for release line 2.3.3?

[2019-09-20 13:23] ajijshekh123 commented on #24669
Give me @magento give me 2.3-develop instance

[2019-09-20 13:23] magento-engcom-team commented on #24669
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-20 13:24] magento-engcom-team commented on #24669
Hi @ajijshekh123, here is your [Magento instance](https://i-24669-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24669-2-3-develop.instances.magento-community.engineering/admin](https://i-24669-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-20 13:35] ajijshekh123 commented on #24669
@quocthai795vn - I have followed the below scenario and verify the issue. It is working fine in Magento 2.3 Instance.
**Steps:**
1. Add 2 different simple product using  Example 24-WB03, 24-WB04 SKU.
2. On Front end Search the product using the same SKU 24-WB03, 24-WB04.
3. Add the Product Same product 2 times and Review the Shopping cart page.

Actual result: Product Qty is updated.

@quocthai795

[2019-09-20 13:49] sjb9774 commented on #24231
@sudheers-kensium Reopening this issue as we reproduced this on a fresh 2.3-develop install this morning. @JoshVahl will fill in more details.

[2019-09-20 13:53] oroskodias commented on #22407
For those who are not able to update Magento to the latest version at this moment and need a quick fix: https://github.com/oroskodias/m2-fix-cache-topmenu
Thank you @lyusya-nnn !

[2019-09-20 14:00] JoshVahl commented on #24231
**Magento Version:** 2.3-develop

**Steps to Reproduce:**
1. Go to Catalog->Products page
2. Add Status filter of "Disabled"
3. Apply filters

**Expected Result:**
Any Enabled products should not be displayed.

**Actual Result:**
Enabled products are still displayed.
![Capto_Capture 2019-09-20_08-54-00_AM](https://user-images.githubusercontent.com/53795627/65332803-fee38380-db84-11e9-8de6-0dbb53c3

[2019-09-20 14:42] engcom-Bravo commented on #24668
Hello @YiffyToys. Thanks for applying. @FreekVandeursen is right. If You want to denote tax for each single item in a document You may (and more often will) face the problem caused by rounding. The same thing happens when applying discounts to the price or in any other situations when the price is recalculated in such a manner that it is divided by some number or multiplied by some fractional numb

[2019-09-20 14:42] #24668 closed, assigned to nobody

[2019-09-20 14:56] angelo983 commented on #24290
Probably the error envolve all the ajax widgets like compare list and wishlist

[2019-09-20 16:06] sb-rustam commented on #8204
I got the same problem on 2.3.2 as well. Ran this command to find and delete files with 0 bytes:

`find <Magento root/pub/media/ -type f -size 0 | xargs rm -f`

[2019-09-20 16:35] simonmaass commented on #5863
@chrisbadley these are our 3rd party extension in the composer.json:

    "splendidinternet/mage2-locale-de-de": "^1.54",
    "magepal/magento2-gmailsmtpapp": "^2.6.4",
    "algolia/algoliasearch-magento-2": "^1.11.3",
    "mirasvit/module-reports": "^1.3.29",
    "elgentos/regenerate-catalog-urls": "^0.2.0",
    "fooman/pdfcustomiser-m2": "^8.2.2",
    "firebear/importexport": "^3.1.7",
    "stri

[2019-09-20 17:03] chrisbadley commented on #5863
Not really what I was hoping to see Simon, having said that, I would certainly start looking into the code for firebearstudio Import & Export, especially if you are running this via a cron.

My problem was an extension that automatically assigned products to a category based on attributes. I found this in a helper class:

`        foreach ($collection as $product) {
            foreach ($product->

[2019-09-20 17:18] simonmaass commented on #5863
@chrisbadley thanks so much for your insight!

I'll keep looking and update here if i find something!

[2019-09-20 19:13] hostep commented on #24666
@shkodasv: I think you have a very valid point here.

@engcom-Bravo: in my opinion this is a bug and I'll re-open this ticket for now, feel free to discuss if you don't agree.

### Steps to reproduce:
- Setup vanilla 2.3-develop installation
- Take a look at the file `app/design/frontend/Magento/blank/Magento_Braintree/web/css/source/_module.less`, notice the selector `.payment-method-braintree` i

[2019-09-20 19:38] hostep opened #24678 "Static Content Deploy in developer mode without force flag is broken in 2.3-develop"
### Preconditions (*)
1. Magento 2.3-develop branch, I tested with commit 58600419a766eabcf180781aa80b6bfd12daedb3
2. PHP 7.2.20

### Steps to reproduce (*)
1. Setup 2.3-develop installation
2. Make sure it's in developer mode
3. Run `bin/magento setup:static-content:deploy`

### Expected result (*)
1. Getting useful error:
[code]

### Actual result (*)
1. Getting very obscure error:
[code]

### F

[2019-09-20 20:35] engcom-Bravo commented on #24666
Ok @hostep, I'll recheck it.

[2019-09-20 20:44] shkodasv commented on #24666
@hostep Thanks for your reply. You are right "Disable module output" is deprecated. I didn't know it. But in case of disabling the module the same logic should work IMHO - no css should be included.

[2019-09-21 01:46] mahsn commented on #24565
Hi @ageffray  I think this shouldn't be a bug , because there is another option 'Click to change shipping method' to change method of carrier , this option was added by magento especially for solve this problem of carrier selected.

[2019-09-21 07:42] quocthai795vn commented on #24669
Hi @ajijshekh123

+ Step 1: Access URL ....../quickorder
 => This is the image: [https://prnt.sc/p9039n](url)
+ Step 2: Enter 24-WB03, 24-WB04 SKU in: *Enter Multiple SKUs* and click Add to list, Even though the SKUs does exist, the system reported an error
[https://prnt.sc/p90493](url)
+ Step 3: Continue Enter 24-WB03, 24-WB04 SKU in: *Enter Multiple SKUs* and click Add to list, The system just h

[2019-09-21 08:15] cscd98 opened #24681 "webapi returns variables in JSON using snake case and I need camelCase"
### Precondition (*)
Magento 2.3.x

### Summary (*)
I want to return JSON in camelCase in my custom webapi.xml and interface that I have created.
There is no way to configure in webapi.xml the format that you wish to use.

By default M2 will return data like so: server_transaction_id but my third party JavaScript is expecting serverTransactionId for example.

Secondly, It is also rather annoying t

[2019-09-21 10:09] georgebabarus commented on #24667
I guess you should use one of it's implementation or use your own instead using interface preferences.
\Magento\Framework\Filesystem\Driver\File
\Magento\Framework\Filesystem\Driver\Http
\Magento\Framework\Filesystem\Driver\Https
\Magento\Framework\Filesystem\Driver\Zlib

The idea is that on setup it is clear that the process is dependent on single/local file system. And that's why it is defined a

[2019-09-21 12:18] visualwebs opened #24683 "Slow product edit page on large product site"
### Preconditions (*)

1. Tested in 2.2.5 & current 2.3.2 Open source.

### Steps to reproduce (*)

1. We have a system with > 50.000 products and 6000 attributes, all caches enabled, using Redis for both caches and session, indexes set to scheduled mode and ready.
2. When editing the product in the backend it takes long time to be ready to operate. We tried to disable all the commercial modules,

[2019-09-21 13:03] xpoback commented on #24667
It it is suggested to use [a factory ](https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/Filesystem/Directory/ReadFactory.php) for instantiation of Read or Write. It'll inject the needed driver.
There is no preference because there is no "preferred" driver. I guess, Magento are'n going to change anything at this place.

[2019-09-21 13:57] georgebabarus commented on #24667
Hi, Setup application is definitively dependent and implemented on local file-system since its only purpose is to install the application and so it is right to assume that the DriverInterface is always this type \Magento\Framework\Filesystem\Driver\File.

There are multiple implementation of file-system drivers, and for your purpose you should use
\Magento\Framework\Filesystem\Directory\ReadFactor

[2019-09-21 14:27] georgebabarus commented on #24238
You should mock the getEntityAttributes method because it is used

    public function testSomeCustomAttributesTest()
    {
        $this->eavConfig->expects($this->once())
                        ->method('getEntityAttributes')
                        ->willReturn([]);

        $this->model->setCustomAttributes([]);

        $this->model->getCustomAttributes();
    }

[2019-09-21 15:11] pratikhmehta commented on #22407
You need to add a cache key that is unique per search query.

Create a plugin for the topmenu block in `di.xml`:

    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="topmenu_searchbar" type="Vendor\Package\Plugin\Block\Topmenu" />
    </type>

Then use the `getAfterCacheKeyInfo()` method:

    <?php

    namespace Vendor\Package\Plugin\Block;

    class Topmenu
    {
        /

[2019-09-21 18:50] gwharton commented on #24573
perhaps cancancel() should return false for online creditmemos, and should return true to offline credit memos. And then the implementation to cancel an offline memo should be written. If I make a mistake producing an offline credit memo, which I have on several occasions, then the only way to correct it is to get dirty with mysql which shouldnt be the way. Magento allows me to cancel invoices tha

[2019-09-21 19:58] magefan commented on #13504
Removing "generated\metadata\global.php" it is just a temporary fix. You will get the error again when will run  setup:di:compile. The solution for us was one from FaTe from [stackoverflow](https://stackoverflow.com/questions/48549840/magento-2-developer-mode-working-production-mode-not/48563278#48563278)
To fix the issue try to run
`composer install`
in M2 root directory.
You can think that this

[2019-09-21 23:33] GDauer opened #24687 "Contact us: Form doesn't render the cms page"
### Summary
I'm working on the issue **Captcha not shown on contact form #24564** when found this bug. Would like to fix this one first before keeping my work on the captcha stuff. I think they are related somehow, however would like to keep things separated.

### Preconditions (*)

1. Magento version: 2.3
2. PHP version: 7.2.22
3. MySQL version: 5.7.27

### Steps to reproduce (*)

1. Install Mage

[2019-09-21 23:35] GDauer commented on #24687
@magento give me 2.3-develop instance

[2019-09-21 23:35] magento-engcom-team commented on #24687
Hi @GDauer. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-21 23:35] magento-engcom-team commented on #24687
Hi @GDauer, here is your [Magento instance](https://i-24687-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24687-2-3-develop.instances.magento-community.engineering/admin](https://i-24687-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-22 00:13] magento-engcom-team commented on #24687
@GDauer Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-22 04:28] racing-cars opened #24688 "Customer access denied in Magento Admin after Upgrade to 2.3.2"
Version bevor: 2.2.6 community
Version after upgarde: 2.3.2 community
.
All things worked. Frontend ok, Admin so far all things works.
Customer in Admin only shown first letter from customer(c********) and can not edit.

Customer are hidden in all customer view, with full admin rights in Magento Admin
![customer hidden](https://user-images.githubusercontent.com/55644681/65381965-3aed2480-dcfc-11e9

[2019-09-22 08:27] rani-webkul commented on #24571
@ihor-sviziev can we work on this issue?

[2019-09-22 08:59] MagePsycho commented on #10594
Same case for Magento 2.1.1.
Had to fix with php.ini
[code]

[2019-09-22 09:13] RomanKrut opened #24689 "A"

[2019-09-22 09:19] ihor-sviziev commented on #24571
Hi @rani-webkul,
Currently it’s not clear what is expected result, @akaplya should define it

[2019-09-22 09:25] racing-cars commented on #24688
Have now solution. Maybe should read documentation bevor create issue:).
After create Special user with right role recourses, it works. The admin with "all role recourses" have the customer view/edit Rights not automatically included. Close issue.

[2019-09-22 09:25] #24688 closed, assigned to nobody

[2019-09-22 09:31] engcom-Bravo commented on #24689
Hello @krutkoroma79911. Thanks for applying. You see, factory classes are not the ones that exist at the very beginning. They are not created by the developers and are not supposed to be created by the developers. Factory classes are generated by Magento itself and are put into the appropriate folder by the path starting with generated/code/... (in early versions generation/...) I hope this [artic

[2019-09-22 09:31] #24689 closed, assigned to nobody

[2019-09-22 12:57] #22596 closed, assigned to Nazar65

[2019-09-22 12:57] #21768 closed, assigned to Nazar65

[2019-09-22 19:42] orlangur commented on #8276
@valugi is shouldn't. Error message is logged but does not cause `503 error`.

[2019-09-22 19:44] orlangur commented on #24683
@visualwebs so why are there almost `7000` calls to `getAttribute`? Can you determine some attributes which could not be loaded for a particular product editing?

[2019-09-23 04:42] ajijshekh123 commented on #24669
Hi @quocthai795vn,

I can't see the below image URL. It is displaying 'No results matched your search.' error.
Please send the proper screenshot.

Thanks.

[2019-09-23 06:01] magento-engcom-team commented on #24391
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20324` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-23 06:03] magento-engcom-team commented on #24646
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20325` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-23 06:26] dinesh6686 commented on #24023
@milindsingh Any update on this issue

[2019-09-23 06:53] danci1973 commented on #15427
I think this would be the correct patch for 2.3.0 (all credits to @olgaiskra):

[code]

[2019-09-23 07:09] magento-engcom-team commented on #24678
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20327` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-23 07:11] magento-engcom-team commented on #24681
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20328` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-23 07:14] danci1973 commented on #24672
I think this would be the correct patch for 2.3.0 (all credits to @olgaiskra):

[code]

[2019-09-23 07:35] engcom-Charlie commented on #15043
Hello @devhelp37

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https

[2019-09-23 07:35] #15043 closed, assigned to nobody

[2019-09-23 07:45] engcom-Charlie commented on #17072
Hello @crtl

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://de

[2019-09-23 07:45] #17072 closed, assigned to nobody

[2019-09-23 08:04] engcom-Charlie commented on #24666
Hello @shkodasv !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/), for advice or general discussion about this issue.

[2019-09-23 08:18] engcom-Bravo commented on #24666
@hostep I reproduced the behavior following the steps You have provided. But I still better question my Lead on it before confirming the issue. Hopefully tomorrow I'll be back with the result.

[2019-09-23 08:31] rahulvrm16 opened #24695 "After updation Magento 2 to 2.3 file validation failed while uploading images in proucts and some products not appear on front end."
After updating magento 2 to 2.3 some products not visible on front end but visible in backend and I am not able to upload images in products section.

[2019-09-23 08:41] macrodesignuk commented on #13126
@magento-engcom-team
Why has this fix not been applied to the official Magento release yet? The fix works.

I recently updated to 2.3.2 which caused Magento to revert back to the old broken version and overridden my manual file fix.

[2019-09-23 08:49] klict commented on #24584
Hey,
For now, I am gonna close this issue because I can't seem to solve it. In the future it may be reopened  by my colleagues when they work on this.

Thank you for your help and time. I appreciate it allots.

[2019-09-23 08:49] #24584 closed, assigned to luanalves

[2019-09-23 09:16] engcom-Charlie commented on #24231
Hello @sjb9774 @JoshVahl
I can't reproduce this issue on a fresh Magento 2.3-develop.
**Manual testing scenario:**
**Case 1:**

1. Go to Catalog->Products page
2. Add Status filter of "Disabled"
3. Apply filters

**Case 2:**

1. Create a new Product Attribute that is Yes/No
2. Assign Yes and No values to products
3. From the catalog page, filter the products by either Yes or No on the created attr

[2019-09-23 09:16] #24231 closed, assigned to engcom-Charlie

[2019-09-23 09:37] hostep commented on #13126
@macrodesignuk, or somebody else: can you create a pull request with the suggested fixes, it will be much quicker integrated in Magento that way than endlessly waiting for Magento core devs to finally take a look at this. Thanks! 🙂

[2019-09-23 10:17] macrodesignuk commented on #13126
Thanks Pieter, I just tried to fork it and the related file is completely different in the fork copy to that of the official release. It looks like somebody has rewritten the fix, but it is significantly different. Not sure what to do in this case.

[2019-09-23 10:33] andy17612 opened #24696 "Invalid input datetime format of value in Others locale 2.3.2"
### Preconditions (*)

1.Magento 2.3.2 & 2.3-develop
2.Japen or China locale in admin
* Backend-> Admin -> change the Backend admin panel language to Chinese

### Steps to reproduce (*)

1.Create or edit product
2.Change date field for new from to anything
3.Click Save

### Expected result (*)

1. Product Saves with new from date

### Actual result (*)

1.Error occurs stating "Invalid input dateti

[2019-09-23 10:49] angelo983 commented on #5956
Reproduced in 2.1.18

[2019-09-23 11:07] rahulvrm16 commented on #24695
I am new to github

[2019-09-23 11:58] magentoman2009 commented on #24391
No problem. I created the fix here: Major Quote Bugfix #24685

Thanks!

[2019-09-23 12:24] gaiterjones commented on #23958
Until this problem gets fixed how can I manually remove the stuck bulk update task? The admin notification bar with the task info is very annoying as until the task completes the notification message cannot be dismissed and it hides other more important system notifications.

![task-screenshot1](https://user-images.githubusercontent.com/3909886/65425267-dfab5700-de0d-11e9-908b-fd17d9003595.jpg)

[2019-09-23 12:26] mikaelmattsson commented on #23405
Didn't try kanduvisla solution but this works for me with php 7.2
[code]

[2019-09-23 12:44] rani-priya opened #24697 "bundle summary should be sticky on product view page but it's not working.."
### Preconditions (*)

1. Magento 2.3.2
2.

### Steps to reproduce (*)

create a bundle product with around 4-5 options
then navigate to frontent
open created product page
 https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/widgets/widget_sticky.html
 https://github.com/magento/magento2/blob/2.3/app/code/Magento/Bundle/view/frontend/templates/catalog/product/view/summary.phtml

### Expec

[2019-09-23 12:52] arushibansal013 opened #24698 "getOptionId() - parameter input is not specific to option value or option label"
### Preconditions (*)

1. Magento 2.3.x
2. Have any select type attribute of product with options in below mannner
3. Have an option with label as "09" and suppose its value assigned by magento is "60".
Now later another option has label "60" whose value assigned is any value by magento.
![image](https://user-images.githubusercontent.com/53007383/65427103-412fed80-de2f-11e9-8501-d3cd5af94083.png)

[2019-09-23 13:08] TNWINTERNATIONAL opened #24699 "Punched Order Issuse"
Even though the Payment is confirmed in the Payment Gateway Portal we are still getting the orders marked as "Order Punched". same problem is explained to my gateway portal still no solution has been found,
![Screenshot (17)](https://user-images.githubusercontent.com/55585251/65428063-4beb8200-de31-11e9-826f-0a3dc2eedd09.png)
![Screenshot (18)](https://user-images.githubusercontent.com/55585251/65

[2019-09-23 13:41] josiahglassone commented on #7497
I also have this problem in v2.3.1

[2019-09-23 13:45] wcladesh commented on #10083
Hi @jimains ,I found the solution and develop a custom module for it.

[2019-09-23 14:17] sjb9774 commented on #24231
@magento give me 2.3-develop instance

[2019-09-23 14:18] magento-engcom-team commented on #24231
Hi @sjb9774. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-23 14:18] magento-engcom-team commented on #24231
Hi @sjb9774, here is your [Magento instance](https://i-24231-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24231-2-3-develop.instances.magento-community.engineering/admin](https://i-24231-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-23 14:40] magento-engcom-team commented on #24697
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20331` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-23 14:40] guilhermengler commented on #21495
Hi, where is the htmlRemoveTags option?

[2019-09-23 14:50] Totem4ik opened #24701 "Magento/Multishipping: Setting wrong back url on creation New Customer Shipping Address Page"
### Preconditions (*)
1. Magento 2.3.2
2. Sample data installed

### Steps to reproduce (*)
1. Create new customer (customer should not have addresses).
2. Add some product to cart.
3. Open cart.
4. Click "Check Out with Multiple Addresses".
5. On "Create shipping address" page click "Back button".

### Expected result (*)
1. Url in Back button : `https://example.com/checkout/cart/`.
2. Back on ch

[2019-09-23 15:11] emanueledibella opened #24702 "Errors after installation"
Hi,

I've installed Bicomart theme some day ago on my Magento 2.3.2, but when I activated the theme, It deleted my menu and my footer that I had imported by Magento 1.9.3. So I tried to create a new menu thanks to theme's option, but when I try to save the menu, it doesn't save: in fact I click on save button, but it doesn't do anything.

I hope you can help me,

[2019-09-23 16:19] maderlock commented on #22842
Referring to the last point - customers seeing data from another customer(!), we have seen this on a couple of 2.3.2 sites - one Open Source and the other commerce.

We also cannot reproduce this as it is a very rare event. However, even a few data breaches like this over 10000 orders is too many.

One thing we've seen is that this appears to be correlated with PayPal quotes, even if the guest/cus

[2019-09-23 17:02] magento-engcom-team commented on #14642
Hi @AleksLi.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [c1b7ba0b1fa7e1737a94d9307a9a40d115f42e09](https://github.com/magento/magento2/commit/c1b7ba0b1fa7e1737a94d9307a9a40d115f42e09)
 - [e01d260bb49313b3cc2ecbc993c4a16dd29e3856](https://github.com/magento/magento2/c

[2019-09-23 17:02] #14642 closed, assigned to nobody

[2019-09-23 17:13] webusat commented on #23908
@sbrendtro I had the same issue and changing customer_is_guest to a 0 solved it for me.  Seems to be very sporadic and happened to two users.  It also seems related to the persistent cart settings.

[2019-09-23 17:14] magento-engcom-team commented on #24426
@sdzhepa, thank you for your report.
The issue has been fixed in magento/magento2# 2092 by @ orlangur in 2.3-develop branch
Related commit(s):
-

[2019-09-23 17:17] magento-engcom-team commented on #5453
@francisrod01, thank you for your report.
The issue has been fixed in magento/magento2#2092 by @orlangur in 2.3-develop branch
Related commit(s):
- fff51bcb00aa7daf99e703570db2ba193c7e427f

[2019-09-23 17:17] #5453 closed, assigned to orlangur

[2019-09-23 17:26] webusat commented on #23618
@arnoutvreugdenhil I have the same problem and setting customer_is_guest to 0 fixes it.  It is sporadic and seems to be related to the persistent cart.

[2019-09-23 17:44] rani-webkul commented on #24571
@akaplya we need your point of view, please check this issue and confirm us what to do

[2019-09-23 18:11] hostep commented on #13126
Hi @macrodesignuk, I just created a PR for this at https://github.com/magento/magento2/pull/24703

It wasn't very difficult, just cherry-picked the two commits mentioned above on the 2.3-develop branch, which applied cleanly, had no conflicts to solve.

[2019-09-23 18:25] hostep commented on #24695
This sounds like a duplicate of https://github.com/magento/magento2/issues/16531 & https://github.com/magento/magento2/issues/24332

@rahulvrm16: for a quick fix, I would suggest you install the php extension `fileinfo`.

A proper fix for the issue is being worked at https://github.com/magento/magento2/pull/24455

[2019-09-23 18:25] #24695 closed, assigned to nobody

[2019-09-23 18:44] requix commented on #12502
@ask694, for me it works only with filled Custom Admin Path. but you can use 'admin' value for this field. Tested on Magento 2.2.9

<img width="906" alt="Screenshot 2019-09-23 at 20 41 24" src="https://user-images.githubusercontent.com/5894713/65453090-cb358180-de42-11e9-8644-060ecec37bdc.png">

[2019-09-23 18:45] Jilco commented on #22842
I also didn't find the rootcause for 2 weeks, and NGINX micro caching was the problem. I was able to reporduce with 2 iphones
________________________________
Van: Rob Egginton <notifications@github.com>
Verzonden: maandag 23 september 2019 18:20
Aan: magento/magento2 <magento2@noreply.github.com>
CC: Jilco <jilcotigchelaar@hotmail.com>; Mention <mention@noreply.github.com>
Onderwerp: Re: [magento

[2019-09-23 19:21] magento-engcom-team commented on #22491
Hi @sigismund, @GovindaSharma, @ashutoshwebkul.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-99427` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the

[2019-09-23 19:57] magento-engcom-team commented on #24426
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-23 19:58] magento-engcom-team commented on #24426
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20356` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-23 20:00] visualwebs commented on #24683
We use icecat module to autofill product info.

https://marketplace.magento.com/iceshop-icecatlive.html

that uses hundred of custom attributes starting with "i_"

See image.

![icecat_custom_attributes](https://user-images.githubusercontent.com/6909746/65457398-c88b5a00-de4b-11e9-93a5-58064219178a.png)

If I modify \Magento\Catalog\Model\Attribute\ScopeOverriddenValue, method ->getAttributes only

[2019-09-23 20:01] magento-engcom-team commented on #24426
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-09-23 20:22] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-09-23 20:22] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-23 20:23] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-23 20:39] MagentoSeba commented on #22491
@magento-engcom-team  @sigismund @GovindaSharma and @ashutoshwebkul  did you take into account that is a different version of ElasticSearch as of 2.3.2.
This issue is applicable to 2.3.0 and 2.3.1.

[2019-09-23 20:52] sidolov commented on #22491
@MagentoSeba we will check once again, thank you for the input! Maybe you have more information about it, it would be great to add it here. Thank you!

[2019-09-23 21:11] MagentoSeba commented on #22491
sure @sidolov !

The main error is :

[code]

The query in our case is :
![image](https://user-images.githubusercontent.com/8442395/65463101-05cff780-de0c-11e9-939b-77b58e310708.png)

If query modified by removing "in", Elasticsearch works as expected.

[2019-09-23 21:46] magento-engcom-team commented on #22491
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-23 21:46] magento-engcom-team commented on #22491
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20360` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-23 22:03] sdzhepa commented on #22491
Hello @MagentoSeba

Thank you for the input and collaboration!

The issue was closed by mistake - were used not accurate steps to reproduce/preconditions.
Now internal team has confirmed that issue can be reproduced by provided steps. The issue will be resolved in the scope of internal Jira ticket `MAGETWO-99427` by Magento team

As soon as it will be delivered into `2.3-develop`, we provide a lis

[2019-09-24 02:18] shikhamis11 commented on #10180
I am closing this issue as it is not reproducible

[2019-09-24 02:18] #10180 closed, assigned to shikhamis11

[2019-09-24 04:29] adarshkhatri opened #24704 "Saving CMS Page Title from REST web API makes content empty"
I am not sure if this is a bug or feature. I am trying to update the CMS Page title from POSTMAN. It updates title but also makes content and other fields empty.

### Preconditions (*)

1. At least 1 CMS page
2. Web API auth key

### Steps to reproduce (*)

1. Go to the [postman](https://www.getpostman.com/) and use this URL and body content with PUT method
URL: `http://www.example.com/rest/all/V1

[2019-09-24 04:31] adarshkhatri commented on #24704
@magento give me 2.3-develop instance

[2019-09-24 04:31] magento-engcom-team commented on #24704
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-24 04:32] magento-engcom-team commented on #24704
Hi @adarshkhatri, here is your [Magento instance](https://i-24704-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24704-2-3-develop.instances.magento-community.engineering/admin](https://i-24704-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-24 05:00] ajijshekh123 commented on #24701
Give me @magento give me 2.3-develop instance

[2019-09-24 05:00] magento-engcom-team commented on #24701
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-24 05:00] magento-engcom-team commented on #24701
Hi @ajijshekh123, here is your [Magento instance](https://i-24701-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24701-2-3-develop.instances.magento-community.engineering/admin](https://i-24701-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-24 05:27] ajijshekh123 commented on #24701
@Totem4ik - I have reproduced this issue as per your steps and scenario. Back functionality is working fine in the latest Magento 2.3 instance.
Please review attach the video:

![Backbutton Issue](https://user-images.githubusercontent.com/24711761/65483487-00c98180-deba-11e9-899c-89574dd1bfd3.gif)

[2019-09-24 05:44] ask694 commented on #12502
Did you tried a custom domain url  / subdomain url for a admin panel?  I had already known custom admin path working good but problem is on custom admin url.

[2019-09-24 06:42] Khungersumit commented on #12975
This issue is still persisting,I did all the essential steps but not able to succeed yet. Can anyone help me out please.

[2019-09-24 06:45] Khungersumit commented on #9762
This issue is still persisting,I did all the essential steps but not able to succeed yet. Can anyone help me out please.

[2019-09-24 06:45] Khungersumit commented on #9762
This issue is still persisting,I did all the essential steps but not able to succeed yet. Can anyone help me out please. It is quite frustrating

[2019-09-24 06:50] DnyaneshwarJ commented on #12330
Solved!!! Thanks

[2019-09-24 07:02] rahulvrm16 commented on #24695
Thank you @hostep.  How to install phpfileinfo extension ?

[2019-09-24 07:12] engcom-Bravo commented on #24520
Hi @magedevel. The contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-24 07:12] #24520 closed, assigned to nobody

[2019-09-24 07:14] hostep commented on #24695
@rahulvrm16: I would suggest you use some search engine and try to figure it out for your situation. It all depends on how your php is installed and what packages are available. There are too many ways to do this for me to be able to list them all.
If this is on a server which a hosting company maintains for you, you could ask them to install it.

Good luck! 🙂

[2019-09-24 07:15] mertgokceimam commented on #5321
@magento-engcom-team You also need to release a patch for Magento 2.2.9 EE as this effects us enterprise customers also...

[2019-09-24 07:15] rahulvrm16 commented on #24695
@hostep Thank you

[2019-09-24 07:16] rahulvrm16 commented on #24695
@hostep and also some products not appear on front end but visible in backend.

[2019-09-24 07:24] magento-engcom-team commented on #24687
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20369` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-24 07:31] Sendurrr commented on #23958
i did it with deleting the entries in the `magento_bulk` table. Also facing this problem. Cannot bulk edit anything.

[2019-09-24 07:32] engcom-Bravo commented on #16456
Hello @jitendra-cedcoss.

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported cod

[2019-09-24 07:32] #16456 closed, assigned to Manwanigaurav

[2019-09-24 07:52] iphigenie commented on #2547
Now that official opinion is that Luma can be inherited from, is there a plan to make the styles and blocks of luma easier to access or deploy in a theme without installing the sample data.
For example the tiles css used in luma are not in less but just static css that I could see - is that something that would be worth engineering?

[2019-09-24 07:54] Totem4ik commented on #24701
@ajijshekh123 Hi! Thank you! One more detail what i missed. "Back Button" hide on this theme, but if you make a visible this block, you'll see that problem.
I attach two images to show you what i mean
![magento_bug](https://user-images.githubusercontent.com/17617628/65492312-5cdfd600-deb9-11e9-817e-a046c7e3f46c.png)
![magento_bug_3](https://user-images.githubusercontent.com/17617628/65492453-a4666

[2019-09-24 07:59] magento-engcom-team commented on #24701
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20370` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-24 08:20] ask694 commented on #12502
Hi, I had tried in Magento 2.3.1 Still  it getting redirected to base url.   I had set  https://admin.domain.com/customadminpath   but it is getting redirected to https://www.domain.com/customadminpath.  Why this happens for me?  i'm using memcache / varnish  also. But i had cleared the cache. still not working.

[2019-09-24 08:36] macrodesignuk commented on #13126
@hostep Thanks,

The reason I didn't do it was because the version that they give on the released version of Magento is not the same as in that development branch. Therefore its not patching the same file and could cause a problem. Hopefully it all works out though, thank you for your help

[2019-09-24 08:46] onepack commented on #23958
Same here. Bulk edit has actually never worked. I'm following all issues but they all get closed without solution. I now fix these thing by working with database queries but this should not be necessary.

[2019-09-24 09:02] engcom-Bravo commented on #14567
Hello @C0D31GN1T3R. Unfortunately we acknowledged this issue by mistake. Rounding 0.0049 to 0.01 instead of 0.00 (when You need to round to the second decimal place) would be against Math convention on the rules of rounding. When one wants to round a number to some N place (not necessarily a place after the decimal point) one considers **only** N + 1 place. If the digit occupying that place is les

[2019-09-24 09:04] engcom-Charlie commented on #24696
Hello @andy17612
I cannot reproduce this issue on a fresh Magento 2.3-develop & 2.3.2
**Manual testing scenario:**

1. Set Chinese locale
![image](https://user-images.githubusercontent.com/51680850/65497745-61a98780-dec3-11e9-9702-039dbd332b25.png)
2. Create or edit product
3. Change date field for new from to anything
4. Click Save

**Actual result:**
Product saved
![image](https://user-images.gi

[2019-09-24 09:17] magento-engcom-team commented on #24704
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20371` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-24 09:21] ajijshekh123 commented on #24669
@quocthai795vn - Now I have close this issue, Please add proper details, steps, actual and expected result as per the Magento policy.
See the link: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

Thanks.

[2019-09-24 09:21] #24669 closed, assigned to ajijshekh123

[2019-09-24 09:25] engcom-Charlie commented on #24702
Hello @mrwebdesign
The Bicomart theme is not supported on Magento 2.3.2 .
![image](https://user-images.githubusercontent.com/51680850/65499203-edbcae80-dec5-11e9-90b6-77df695565c8.png)
You can read it in [ this page](https://themeforest.net/item/bicomart-powerful-magento-2-theme-for-marketplace/22610207).
So i close this issue.
Thanks for your report!

[2019-09-24 09:25] #24702 closed, assigned to engcom-Charlie

[2019-09-24 10:06] termos008 commented on #7056
i have some issue.
Please, check all files in app/etc/ folder.
In my case I didn't have any di.xml in app/etc

[2019-09-24 10:19] engcom-Charlie commented on #16737
Hello @duckchip

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https:

[2019-09-24 10:19] #16737 closed, assigned to nobody

[2019-09-24 10:19] engcom-Charlie commented on #15056
Hello @ghost

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://d

[2019-09-24 10:19] #15056 closed, assigned to nobody

[2019-09-24 10:50] engcom-Charlie commented on #17134
Hello @adamlavery

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](http

[2019-09-24 10:50] #17134 closed, assigned to nobody

[2019-09-24 10:52] srahmel commented on #22094
We have solved it. There was an entry missing in cataloginventory_stock

INSERT INTO `cataloginventory_stock` (`stock_id`, `website_id`, `stock_name`) VALUES ('1', '1', 'default');

[2019-09-24 11:00] nileshpgosai opened #24706 "While Enabling the Disabled Products from Product Grid (Catalog -> Products) "cataloginventory_stock_cl" table does not get the entries"
### Preconditions (*)
1. Ensure that all magento indexers are set to "update on schedule"

### Steps to reproduce (*)
1. Go to Admin->Catalog->Products
2. Filter for disabled products
3. Select one or more disabled products using the checkbox on the right and Note the entity IDs of the selected products.
4. From the actions dropdown on top, select "change status"->Enable
5. Inspect contents of **c

[2019-09-24 11:03] nileshpgosai commented on #24706
This issue is reproducible in 2.3.0,2.3.1 and 2.32

[2019-09-24 11:14] grosoasap opened #24707 "Magento 2 Payment Failed Email Not Working"
### Preconditions (*)

1. Magento CE 2.3.1
2. PHP 7.1.3

### Steps to reproduce (*)

1.Enable Paycorp Credit Card Payment Method (or any other that require configuration) without configuring it
2.Add a product to cart and proceed to checkout
3.select Paycorp and input fake credit card information
get return to shopping cart with error " Transaction Failed with transaction id. No Email is send to m

[2019-09-24 11:25] andy17612 commented on #24696
Hi @engcom-Charlie.

Not a local options,
Please follow this step ;
Backend-> Admin -> change the Backend admin panel language to Chinese (Taiwan,hongkong,China) or Japanese and then go to product > add or edit product > add a “special price or new product”date time, it will be showing “xxxx年xx月xx日” not a xxxx/xx/xx.

Thank you

[2019-09-24 11:35] Tjab commented on #11768
Again a few months later; can we get an update?

[2019-09-24 11:44] nemke82 opened #24708 "Module Analytics ExportDataHandler.php"
Any reason why module-analytics/Model/ExportDataHandler.php line 92 is using

**$tmpDirectory = $this->filesystem->getDirectoryWrite(DirectoryList::SYS_TMP);**

instead:
**$tmpDirectory = $this->filesystem->getDirectoryWrite(DirectoryList::VAR_DIR);**

### Preconditions (*)
Current one is a wrapper to sys_get_tmp_dir() I think. Whoever wrote that extension violated the Magento spec for this stuff

[2019-09-24 12:04] jorgb90 opened #24710 "Update countries list / CLDR to version 36"
### Preconditions (*)
1. Magento 2.3.2 & 2.3-develop

### Steps to reproduce (*)
1. Go to stores -> configuration -> General -> General -> Countries list.

### Expected result (*)
1. All existing countries available.

### Actual result (*)
1. Missing countries. For example Curacao, Sint Maarten are missing and there are also 3 Municipalities (Bonaire, Sint Eustasius and Saba) which form the Caribb

[2019-09-24 12:34] underser commented on #21904
I'm not sure what is wrong but after applied patch from commit above
I can't spawn a new process for queue
When I do (just for ex.) `./bin/magento queue:consumers:start exportProcessor &` - it spawns a new process for about 3sec, and then this process stops.
So just keep in mind when applyng patch.

[2019-09-24 12:53] magento-engcom-team commented on #24696
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20372` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-24 12:55] erfanimani commented on #21904
@underser

(excerpt from my post https://erfanimani.com/using-magento-2-mysql-queue-for-order-post-processing)

Hope that helps

[2019-09-24 13:01] salvatorepandolfi commented on #21367
Same issue

[2019-09-24 13:17] PascalBrouwers commented on #22427
@lyusya-nnn I case you are wondering this is because of `vendor/magento/module-catalog-import-export/Model/Import/Product.php` function `_saveProductWebsites`'s code:
[code]

Apparently no websites are removed during append action. I think this is totally illogical too, but you need to use `BEHAVIOR_ADD_UPDATE` (add_update).

[2019-09-24 13:49] hostep commented on #21367
Yes, this problem existed in Magento 2.3.0 but was fixed again in 2.3.1, see this duplicated issue: https://github.com/magento/magento2/issues/21204

[2019-09-24 13:59] nileshpgosai commented on #24706
I agreed but when  we have indexers set update on schedule and it will not create entry here and those products are not re-index.

[2019-09-24 14:07] engcom-Bravo commented on #24706
@nialltiernan, I think it creates entry(is) in some other so to say cron table(s) ending in _cl. And as far as I checked after cron has run statuses are updated. Could You please check it too. Thank You.

[2019-09-24 14:08] ravi-chandra3197 commented on #24696
@magento give me 2.3-develop instance

[2019-09-24 14:08] magento-engcom-team commented on #24696
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-24 14:09] magento-engcom-team commented on #24696
Hi @ravi-chandra3197, here is your [Magento instance](https://i-24696-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24696-2-3-develop.instances.magento-community.engineering/admin](https://i-24696-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-24 15:48] TomashKhamlai commented on #24151
:thinking:

[2019-09-24 15:51] niners52 commented on #23958
Also having this issue

[2019-09-24 16:47] maderlock commented on #18547
In an effort to focus on quality by allocating attention, can I please point out that we are still facing this on 2.3 and feel that closing this ticket will hide the fact that this issue still exists, so others will find it harder to find this information.

[2019-09-24 17:39] hostep commented on #21367
By upgrading to Magento 2.3.1 or 2.3.2? 😉

Unfortunately the commit which fixed this wasn't found yet, so if you want to spend the time and effort for finding that commit, feel free to do so, but you can also spend this time in looking at upgrading to a newer version of Magento.

[2019-09-24 17:45] hostep commented on #23958
Ok guys, can anybody who has "this issue" please open a new ticket with exact steps to reproduce?

"This issue" here was created for writing your own custom bulk schedule jobs for which the documentation wasn't very clear. It was closed by the author because the solution was found for this custom implementation.

"This issue" was not for running into default Magento bulk job problems.
So if somebo

[2019-09-24 18:21] JPinkstonSaatva commented on #12584
Any update on this issue? This is a blocker for the ability to set a different price per currency for bundle items.

[2019-09-24 19:04] AkhilRamani1797 commented on #20333
On this path of doc. htdocs\eyfee\vendor\zendframework\zend-stdlib\src\ArrayObject.php on line 426

Simply replace this line 426 from Continue to Break.
All Problem has been resolve.

[2019-09-24 22:06] MichaelThessel commented on #22379
Seems like this is still an issue. If you are not going to fix this can you please answer:

[2019-09-24 22:28] MichaelThessel commented on #22379
NM, figured it out. For anyone having the same issue:

see: `vendor/magento/module-configurable-product/Model/Product/Type/Configurable.php` `getUsedProductCollection()`

[code]
getUsedProductCollection is labeled incorrectly/confusingly in source.

`Retrieve related products collection `

Related products collection in this case refers to the simple products.

[2019-09-25 00:18] thurow commented on #15060
following what @sidolov commented on my pull request, i'm closing this issue because:
"I have reviewed PR once again and I'm not sure that we can safely remove mixins from the lib. Someone in his own theme implementation was able to use removed mixins and the theme will be broken after such changes. Probably we should leave such styles even they are not used in Magento itself. Also, we have a sect

[2019-09-25 00:18] #15060 closed, assigned to nobody

[2019-09-25 01:56] loid345 opened #24713 "Symbol of the Belarusian currency BYR is outdated"
### Preconditions (*)
**Magento 2.3.x**
Symbol of the Belarusian currency BYR is outdated.
Since 2016, the symbol of the Belarusian currency BYR has become obsolete and is no longer used.
![image](https://user-images.githubusercontent.com/51680850/65577593-c07f0780-df7c-11e9-89b3-8722accec5ed.png)
![image](https://user-images.githubusercontent.com/51680850/65577670-ed331f00-df7c-11e9-90dd-c3e75e3c

[2019-09-25 02:33] olivercastro commented on #24713
@volanar

This is somewhat related to @johnny-longneck issue wherein the default symbol for Singapore dollar is $ instead of SGD. This seems to be an issue caused by an outdated Zend Framework library.

You can create an "after plugin" to modify the currency symbol.
`<type name="Magento\Framework\Locale\Currency">
<plugin disabled="false" name="Sample_Module::customcurrency" sortOrder="1" type="Sa

[2019-09-25 02:54] simonworkhouse commented on #17584
@magento-engcom-team Please re-open this issue, it is still a problem and what @ravi-chandra3197 said was completely irrelevant.

[2019-09-25 04:14] andy17612 commented on #24696
I'm looking forward to your fix. thank you @engcom-Charlie

[2019-09-25 06:15] sangeetajain commented on #11008
How to set Rest API oAuth token expire in minutes or seconds in admin. Currently it's showing hours and it will not accept like 0.5(for 30 minute etc) magento2. Any One know about this, please help me asap.
![hvUMl](https://user-images.githubusercontent.com/4272871/65574050-faa2d600-df89-11e9-8e88-5e8d4b7fcc2e.png)

[2019-09-25 06:17] sangeetajain opened #24715 "Not Able to set Rest API oAuth admin token expire in minutes or seconds"
How to set Rest API oAuth token expire in minutes or seconds in admin. Currently it's showing hours and it will not accept like 0.5(for 30 minute etc) magento2. Any One know about this, please help me asap.
![hvUMl](https://user-images.githubusercontent.com/4272871/65574113-2faf2880-df8a-11e9-9292-67cd5d42e16e.png)

[2019-09-25 06:19] engcom-Bravo commented on #24715
Hello @sangeetajain. The GitHub issue tracker is intended for Magento Core technical issues only. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-09-25 06:19] #24715 closed, assigned to nobody

[2019-09-25 06:21] sangeetajain opened #24716 "Not Able to set Rest API oAuth admin token expire in minutes or seconds."
### Summary (*)
Not Able to set Rest API oAuth token expire in minutes or seconds in admin. Currently it's showing hours and it will not accept like 0.5(for 30 minute etc)
### Preconditions (*)
1. Magento 2.3-develop

### Steps to reproduce (*)

1. Login to Admin
2. Go to the Stores-->Configuration-->Services-->OAuth
3. Change values in Customer Token Lifetime (hours) & in Admin Token Lifetime (ho

[2019-09-25 06:47] mlindholm opened #24717 "Unable to set native session handler that is different from the one define in php.ini after update to Magento 2.3"
### Preconditions (*)

2.4-develop

### Steps to reproduce (*)

1. Configure env.php to use memcached as save_handler as[ instructed in the documentation](https://devdocs.magento.com/guides/v2.3/config-guide/memcache/memcache_magento.html).

### Expected result (*)

1. SessionManager should be setting memcached as used save handler in initOptions function.

### Actual result (*)

1. SessionManager

[2019-09-25 06:53] grosoasap commented on #24707
yes

[2019-09-25 07:09] engcom-Charlie commented on #24713
Hello @volanar
You are right. I will update the description and confirm it.

[2019-09-25 07:17] tzyganu opened #24718 "Missing unique key on eav_attribute_option_value table"
This is similar to #24581 but for the table `eav_attribute_option_value`
### Summary (*)
The table `eav_attribute_option_value` does not have a unique index on the column pair (`option_id`, `store_id`).
There is no reason for an option to have 2 values for the same store so this should be restricted.

_Also layered navigation disappears on frontend._

**Relates issues:**
https://github.com/magento

[2019-09-25 07:27] magento-engcom-team commented on #24713
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20407` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-25 07:31] magento-engcom-team commented on #24718
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20408` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-25 07:33] salvatorepandolfi commented on #21367
Thank you @hostep. I've upgraded at 2.3.1 and the issue is disappeared :-)
I've also spent some hours to looking into the files but didn't get a clue on where is the fix...

[2019-09-25 07:47] engcom-Bravo commented on #19724
Hello @UKRogue.

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.
![swatches](https://user-images.githubusercontent.com/51680745/65580145-c88d7600-df81-11e9-92fc-dda0de2c367f.gif)

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the

[2019-09-25 07:47] #19724 closed, assigned to nobody

[2019-09-25 07:51] engcom-Charlie commented on #16173
Hello @FreekVandeursen

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code]

[2019-09-25 07:51] #16173 closed, assigned to nobody

[2019-09-25 08:30] engcom-Charlie commented on #16073
Hello @leoquijano

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](http

[2019-09-25 08:30] #16073 closed, assigned to suryakant-krish

[2019-09-25 08:39] magento-engcom-team commented on #24710
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20433` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-25 08:42] jigneshkhunt opened #24719 "API catalog product render list response missing search criteria and total count"
### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Go to the [postman](https://www.getpostman.com/) and use this URL and param with the GET method
URL: http://www.example.com/rest/V1/products-render-info
2. Param:

[code]

### Expected result (*)

1. As per the getList method code, the response should contain items with data, Search criteria with filters and sort options and t

[2019-09-25 08:45] jigneshkhunt commented on #24704
@magento give me 2.3-develop instance

[2019-09-25 08:46] magento-engcom-team commented on #24704
Hi @jigneshkhunt. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-25 08:46] magento-engcom-team commented on #24704
Hi @jigneshkhunt, here is your [Magento instance](https://i-24704-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24704-2-3-develop.instances.magento-community.engineering/admin](https://i-24704-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-25 08:46] jigneshkhunt commented on #24719
@magento give me 2.3-develop instance

[2019-09-25 08:46] magento-engcom-team commented on #24719
Hi @jigneshkhunt. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-25 08:47] magento-engcom-team commented on #24719
Hi @jigneshkhunt, here is your [Magento instance](https://i-24719-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24719-2-3-develop.instances.magento-community.engineering/admin](https://i-24719-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-25 08:54] jigneshkhunt commented on #24719
Reproduced on 2.3.x

[2019-09-25 09:06] jigneshkhunt commented on #24719
Yes, i am able to reproduce the issue on vanilla Magento instance using given steps.

[2019-09-25 09:06] magento-engcom-team commented on #24719
Hi @jigneshkhunt. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-09-25 09:07] jigneshkhunt commented on #24719
Yes, I am able to reproduce the issue on vanilla Magento instance using given steps.

[2019-09-25 09:08] jigneshkhunt commented on #24719
Yes, I am able to reproduce the issue on vanilla Magento instance using given steps.

[2019-09-25 09:08] magento-engcom-team commented on #24719
Hi @jigneshkhunt. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-25 09:08] magento-engcom-team commented on #24719
Hi @jigneshkhunt, here is your [Magento instance](https://i-24719-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24719-2-3-develop.instances.magento-community.engineering/admin](https://i-24719-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-25 09:42] taintedstephen commented on #19710
Experienced this issue on 2.3.2 as well. Tried everything as described above and it didn't work for us. We eventually solved it by changing the indexer mode for Product Flat Data and Product EAV. They were set to schedule but we changed them to update on save.

[2019-09-25 09:53] magento-engcom-team commented on #24719
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20444` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-25 09:56] andy17612 opened #24721 "Backend comment translate 2.3.2"
### Preconditions (*)

1.magento 2.3.2

### Steps to reproduce (*)

1. Login admin panel
2. Configuration > Web
3. XML Comment

### Expected result (*)

1. "Specify URL or {{base_url}} placeholder.","test123 <--it can translate

### Actual result (*)

1. magento2/app/code/Magento/Backend/etc/adminhtml/system.xml
2.<comment>Specify URL or {{base_url}} placeholder.</comment>
3. It will be showing "S

[2019-09-25 10:09] jigneshkhunt commented on #24719
I am working on it.

[2019-09-25 10:49] pavru opened #24722 "Advanced price export file is empty"
### Preconditions (*)

1. Magento 2.3.x
2. Create a lot of products more than export page size in my case it's 5000 products.
3. Assign tier price to a product with the lowest ID.

### Steps to reproduce (*)

1. Try to export advanced price.

### Expected result (*)

1. CSV file with one row of tier price should be created.

### Actual result (*)

1. Export error, the file is not created.

### Pos

[2019-09-25 10:51] pavru commented on #24722
Workaround path:
[code]

[2019-09-25 11:00] lano-vargas opened #24723 "Catalog Images Resizes not fetching width and height from Luma view.xml"
### Preconditions (*)

1. Magento2.2.2 fresh install Lume theme
2.

### Steps to reproduce (*)

1.Create a product and add at least one image at size 700X900
2. NOTE load product page in frontend after all the bellow Further Debug has been completed.

### Expected result (*)

1. [Screenshots, logs or description]
2. I expected the image to be resized as specified in path `.../vendor/magento/theme-

[2019-09-25 11:50] Anantkprajapati commented on #19795
Hopefully this will work for temporary solution with php7.2 and magento2.3.x

For avoiding the error: Deprecated Functionality add error_reporting(E_ALL ^ E_DEPRECATED); into bootstrap.php so email are works

[2019-09-25 12:00] nileshti opened #24725 "Elasticsearch 6+ not working with SplitDB"
### Preconditions (*)

1. Magento Commerce 2.3.2
2. Split DB
3. Elasticsearch 6.8.3

### Steps to reproduce (*)

1. Setup Fresh Magento Commerce 2.3.2 with SampleData
2. SplitDB setup - https://devdocs.magento.com/guides/v2.3/config-guide/multi-master/multi-master_masterdb.html
3. Install/setup Elasticsearch (6.8.3) (CentOS and Apache)- confirmed - Elasticsearch services running and active ( https

[2019-09-25 12:08] mattyl commented on #16069
This cant be right - as it is duplicate of  https://github.com/magento/magento2/issues/23196
My owners expect that out of stock options are visible but grey out and not accesible - this is pretty standard eCommerce experience adn has been available in previous versions of magento

[2019-09-25 12:30] engcom-Bravo commented on #14713
Hello @ankursachdeva11

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code]

[2019-09-25 12:30] #14713 closed, assigned to nobody

[2019-09-25 12:35] tzyganu opened #24726 "Custom option type factory is bound to a folder"
### Summary (*)
Method `Magento\Catalog\Model\Product\Option::groupFactory` binds all accessory types with to the `Magento\Catalog\Model\Product\Option\Type` namespace.

### Examples (*)
Let's say I want to create a new type of custom option (let's call it `Accessory`).
This will be rendered different and will behave differently from the other option types (select, text, ...)
So I need another gro

[2019-09-25 12:58] nileshpgosai commented on #24706
I got the solution from magento support team.
diff --git a/vendor/magento/module-catalog-inventory/etc/mview.xml b/vendor/magento/module-catalog-inventory/etc/mview.xml
index 72dda16e8b5..d989aa395db 100644
--- a/vendor/magento/module-catalog-inventory/etc/mview.xml
+++ b/vendor/magento/module-catalog-inventory/etc/mview.xml
@@ -9,6 +9,8 @@
     <view id="cataloginventory_stock" class="Magento\Cat

[2019-09-25 12:58] #24706 closed, assigned to nobody

[2019-09-25 13:00] engcom-Bravo commented on #15655
Hello @mattiasorgato

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](h

[2019-09-25 13:00] #15655 closed, assigned to nobody

[2019-09-25 14:02] engcom-Bravo commented on #24540
@est1986ad, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-25 14:02] #24540 closed, assigned to edenduong

[2019-09-25 14:14] orozcodiaz opened #24727 "Can't export Fixed Product Tax"
### Preconditions (*)
1. Valet+ 1.0.27, MacOS and also Ubuntu 16.04 and 18.04
2. Nginx
3. Magento Commerce 2.3.1

### Steps to reproduce (*)
1. Create an attribute with type "Fixed Product Tax" and add it to "Default" attribute set
<img width="1792" alt="Screenshot 2019-09-25 10 11 12" src="https://user-images.githubusercontent.com/24477165/65608881-dc82a900-df7c-11e9-8f83-b4a2add1da88.png">
2. Ad

[2019-09-25 14:15] oroskodias commented on #24727
@magento give me 2.3-develop instance

[2019-09-25 14:15] magento-engcom-team commented on #24727
Hi @oroskodias. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-25 14:16] magento-engcom-team commented on #24727
Hi @oroskodias, here is your [Magento instance](https://i-24727-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24727-2-3-develop.instances.magento-community.engineering/admin](https://i-24727-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-25 14:27] oroskodias commented on #24727
Can't test on your instance due to the file couldn't be generated. I'm getting this:
<img width="1792" alt="Screenshot 2019-09-25 10 27 31" src="https://user-images.githubusercontent.com/24477165/65610262-16ed4580-df7f-11e9-9804-dd97dad52aa1.png">

[2019-09-25 15:16] dayfinder commented on #12876
Always stay up to date when MageExchange releases new modules, updates to our current modules, exclusive offers only for our current subscribers and so much more! MageExchange hates spam as much as you do so you never have to worry about being flooded with emails! We also respect our customer's privacy and therefore we will never sell your information to anyone. Click Here [magento 2 disable newsl

[2019-09-25 16:00] magento-engcom-team commented on #24704
Hi @lfolco, here is your [Magento instance](https://i-24704-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24704-2-3-develop.instances.magento-community.engineering/admin](https://i-24704-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-25 16:34] 0x15f commented on #8451
Having the same issue as @ebofi

[2019-09-25 17:01] DigitalStartupUK commented on #23339
@acashley Were you ever able to apply a "workaround" for this? Short of assigning my CDN Domain (https://assets.cdn-domain.com) to a Custom Domain (https://assets.my-domain.com) via DNS, I can't think of another solution. And I'd rather avoiding buying another SSL Certificate to try this.

[2019-09-25 17:15] jigar48 opened #24730 "Invoice PDF on frontend does not use configured logo image"
I have installed the Magento 2.3.2.

I have uploaded custom logo on Stores -> Configuration -> Sales -> Sales ->Invoice and Packaging Slip Design.
https://prnt.sc/pawmig

I have placed test order and created invoice for that order.

I have print the invoice from the front end customer account page under the My orders and this is what I am getting.
https://prnt.sc/pawngp

I have print the same invo

[2019-09-25 18:13] acashley commented on #23339
@DigitalStartupUK No, I was not able to implement any workaround for this. Still waiting for some progress/update from @shikhamis11

I don't actually think it will work wether you use assets.my-domain.com or assets.cdn-domain.com.

[2019-09-25 20:05] magento-engcom-team commented on #881
Hi @jameswithers. Thank you for your report.
The issue has been fixed in magento/graphql-ce#953 by @pmclain in 2.3-develop branch
Related commit(s):
 - [17ea0876fb2092231924bbdc0aee7846a4f59429](https://github.com/magento/magento2/commit/17ea0876fb2092231924bbdc0aee7846a4f59429)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-25 20:05] magento-engcom-team commented on #926
Hi @snky1987. Thank you for your report.
The issue has been fixed in magento/graphql-ce#952 by @pmclain in 2.3-develop branch
Related commit(s):
 - [5b32e8ec8d18abddbfe63a1b9bc7482e7a23cb9c](https://github.com/magento/magento2/commit/5b32e8ec8d18abddbfe63a1b9bc7482e7a23cb9c)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-25 20:05] magento-engcom-team commented on #878
Hi @shivkumarsingh7. Thank you for your report.
The issue has been fixed in magento/graphql-ce#951 by @strell in 2.3-develop branch
Related commit(s):
 - [746038efe9fd49d0eb2c1f0349100d80f9ac4d10](https://github.com/magento/magento2/commit/746038efe9fd49d0eb2c1f0349100d80f9ac4d10)
 - [225c9f720d28c1d1ce077c333042a112dac0dd51](https://github.com/magento/magento2/commit/225c9f720d28c1d1ce077c333042a

[2019-09-25 20:05] magento-engcom-team commented on #948
Hi @robfico. Thank you for your report.
The issue has been fixed in magento/graphql-ce#949 by @vpodorozh in 2.3-develop branch
Related commit(s):
 - [fda524e2d299e0f325ef70adf72c9a0cfdf4bd1b](https://github.com/magento/magento2/commit/fda524e2d299e0f325ef70adf72c9a0cfdf4bd1b)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-25 20:58] lfolco commented on #24704
I'm wondering if this is by design; some entities allow a patch-style update (products) while others do a replace-style update (customers and, apparently, CMS pages). Not sure if making such a change is in the scope of this ticket? It involves changing code that touches quite a bit outside of the CMS system. Would love some clarification on this.

[2019-09-25 21:39] rafaelstz opened #24731 "Error message "This element is not expected" with no element."
### Preconditions (*)

Magento 2.3.x

### Steps to reproduce (*)

Insert via database this code below in the **cms_page** table in the **custom_layout_update_xml** column.

[code]

### Expected result (*)

It should be rendered in the CMS Page via admin panel to be removed or edited following the new syntax.

### Actual result (*)

Today, it's not rendered but when I try to save the page shows the

[2019-09-25 23:48] chadwixk commented on #9762
Similar to bundles...configurable items sort of have a similar issue. You can't post the order_item_id of the simple product, you have to post the order_item_id of it's parent, the configurable item. This also seems a bit off as its not truly what you are shipping. The configurable item is just a high level grouping item, not a true sku. i.e. a Denver Broncos T-Shirt is the configurable item, the

[2019-09-26 01:15] magento-engcom-team commented on #23279
Hi @yuriichayka. Thank you for your report.
The issue has been fixed in magento/magento2#24291 by @yuriichayka in 2.3-develop branch
Related commit(s):
 - [b089cc2088fc68a8424561b3585d5ff49d0d020b](https://github.com/magento/magento2/commit/b089cc2088fc68a8424561b3585d5ff49d0d020b)
 - [36c00d2d7f0b1992ab84ed7df961959dca76de8c](https://github.com/magento/magento2/commit/36c00d2d7f0b1992ab84ed7df961

[2019-09-26 01:15] #23279 closed, assigned to Nazar65, yuriichayka

[2019-09-26 01:15] magento-engcom-team commented on #24511
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24602 by @vinidziuba in 2.3-develop branch
Related commit(s):
 - [056b9ea0d5b808b51dd9f9dcf508dac25ae6b0e7](https://github.com/magento/magento2/commit/056b9ea0d5b808b51dd9f9dcf508dac25ae6b0e7)
 - [407649f82883b00e619b3c1dc81387328121c374](https://github.com/magento/magento2/commit/407649f82883b00e619b3c1dc813873

[2019-09-26 01:15] #24511 closed, assigned to edenduong

[2019-09-26 01:15] magento-engcom-team commented on #23846
Hi @krzysztofkuzniar. Thank you for your report.
The issue has been fixed in magento/magento2#24590 by @brunoroeder in 2.3-develop branch
Related commit(s):
 - [b63fd5e10d2f2dde7e73697c1d2247926a22d35e](https://github.com/magento/magento2/commit/b63fd5e10d2f2dde7e73697c1d2247926a22d35e)
 - [42b914147aef35512c3edc29dcc391dfb69b421f](https://github.com/magento/magento2/commit/42b914147aef35512c3edc2

[2019-09-26 01:15] #23846 closed, assigned to brunoroeder

[2019-09-26 01:15] magento-engcom-team commented on #24430
Hi @rani-webkul. Thank you for your report.
The issue has been fixed in magento/magento2#24431 by @rani-webkul in 2.3-develop branch
Related commit(s):
 - [6b8c7eeae020a2c11f44e9237b1213ec8993a95b](https://github.com/magento/magento2/commit/6b8c7eeae020a2c11f44e9237b1213ec8993a95b)
 - [d8e82332ccc4309480e6d9f65c17eed0679a5afd](https://github.com/magento/magento2/commit/d8e82332ccc4309480e6d9f65c17

[2019-09-26 01:15] #24430 closed, assigned to rani-priya

[2019-09-26 01:15] magento-engcom-team commented on #3594
Hi @parekhreena. Thank you for your report.
The issue has been fixed in magento/magento2#24595 by @MaxSouza in 2.3-develop branch
Related commit(s):
 - [23382ed8053e515a57561e5cb78173a52320b4cb](https://github.com/magento/magento2/commit/23382ed8053e515a57561e5cb78173a52320b4cb)
 - [217ab79e66e240f06d49dc1cc9413f4aea46a4ce](https://github.com/magento/magento2/commit/217ab79e66e240f06d49dc1cc9413f4

[2019-09-26 01:15] #3594 closed, assigned to MaxSouza

[2019-09-26 01:15] magento-engcom-team commented on #24623
Hi @Hailong. Thank you for your report.
The issue has been fixed in magento/magento2#24675 by @Hailong in 2.3-develop branch
Related commit(s):
 - [3adb1eb96d6427e4d4c91aad65eac38aea77b8f5](https://github.com/magento/magento2/commit/3adb1eb96d6427e4d4c91aad65eac38aea77b8f5)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-26 01:15] #24623 closed, assigned to Hailong

[2019-09-26 02:49] adam-roger commented on #22353
Same Error show after upgrade Magento 2.1.18 to 2.3.2.

SQLSTATE[HY000]: General error: 1025 Error on rename of './mulondon_dev/#sql-908b1_21b758' to './mulondon_dev/customer_group' (errno: 150 "Foreign key constraint is incorrectly formed"), query was: ALTER TABLE `customer_group` MODIFY COLUMN `customer_group_id` int(10) UNSIGNED NOT NULL  AUTO_INCREMENT

[2019-09-26 04:29] andy17612 commented on #24721
@magento give me 2.3-develop instance

[2019-09-26 04:30] magento-engcom-team commented on #24721
Hi @andy17612. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-26 04:30] magento-engcom-team commented on #24721
Hi @andy17612, here is your [Magento instance](https://i-24721-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24721-2-3-develop.instances.magento-community.engineering/admin](https://i-24721-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-26 04:39] andy17612 commented on #24721
<img width="586" alt="2019-09-26" src="https://user-images.githubusercontent.com/32366935/65658471-808e5200-e05a-11e9-9911-84ecb40331e1.png">

@magento-engcom-team
Confirm can not translate, in the system.xml have {{XX}} but backend have not showing this too

[2019-09-26 04:45] WinstonN commented on #12390
@magento-engcom-team We are seeing this on 2.2.9 any update on this issue?

[2019-09-26 05:58] evilprophet commented on #24422
I found that it was intentionally removed in version 2.2.9 and 2.3.2
Here is a related commit: https://github.com/magento/magento2/commit/1b6d64c316251604228c32667235b1df9467e0b8
It is a chance to restore this possibility in the future?

[2019-09-26 06:53] magento-engcom-team commented on #24727
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20482` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-26 06:55] skybreaker85 opened #24732 "MassAction: Grid's "Select All" feature is not transferring the correct list of selected IDs into the controller"
### Preconditions (*)
1. Magento Version 2.3.2 CE
2. ~10 Products you can add a Grid/Listing Filter on (e.g. by name)

### Steps to reproduce (*)

1. Have a clean magento Instance
2. Go to product Grid/Listing
3. Add some products (e.g. i added 5 with the name "product 1" (to ...5)  and 5 with the name "paper 1" (to ...5)
4. Filter products by name (e.g. "product")
5. Set the pagination to 2
6. Ch

[2019-09-26 06:56] skybreaker85 commented on #24732
@magento give me 2.3-develop instance

[2019-09-26 06:56] magento-engcom-team commented on #24732
Hi @skybreaker85. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-26 06:56] magento-engcom-team commented on #24732
Hi @skybreaker85, here is your [Magento instance](https://i-24732-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24732-2-3-develop.instances.magento-community.engineering/admin](https://i-24732-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-26 07:06] skybreaker85 commented on #24732
Does work on your system, but not with a fresh checked out instance (over composer create-project --repository=https://repo.magento.com/ magento/project-community-edition) on our side. will try to reproduce this on another system of ours.

[2019-09-26 07:06] #24732 closed, assigned to nobody

[2019-09-26 07:39] engcom-Charlie commented on #24723
Hello @lano-vargas

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

If you still faced this

[2019-09-26 07:39] #24723 closed, assigned to engcom-Charlie

[2019-09-26 07:41] skybreaker85 commented on #24732
@magento give me 2.3.2 instance

[2019-09-26 07:42] magento-engcom-team commented on #24732
Hi @skybreaker85. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-09-26 07:42] magento-engcom-team commented on #24732
Hi @skybreaker85, here is your [Magento instance](https://i-24732-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-24732-2-3-2.instances.magento-community.engineering/admin](https://i-24732-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-26 07:47] engcom-Bravo commented on #24730
Hello @jigar48. Thanks for reporting. Backend and Frontend invoice pdfs use quite different templates so they look quit differently as it is logically supposed to be. The invoice available on Frontend is shop styled and is just an acknowledgement for a customer that his or her order has been invoiced while the invoice printed out from backend is business styled and is designed  to be used in a com

[2019-09-26 07:55] engcom-Bravo commented on #24433
@vishnunath-krs, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-26 07:55] #24433 closed, assigned to nobody

[2019-09-26 07:56] skybreaker85 commented on #24732
Ah well, so i found out why i could not reproducte this issue.
On the 2.3.2 instance, i could successfully reproduce this issue.
On the 2.3-develop instance, i could not, anymore. So it seems, it is already solved, although i previously have not found an issue where this was solved.

Sorry for the inconvenience.

[2019-09-26 07:58] engcom-Bravo commented on #24570
@grosoasap, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-26 07:58] #24570 closed, assigned to nobody

[2019-09-26 08:02] engcom-Bravo commented on #24732
@skybreaker85 You are welcome. Really I met at least two similar issues reported for the earlier versions, so I hope they have already been fixed.

[2019-09-26 08:18] engcom-Bravo commented on #24653
Hello again @itwebdev2. Sorry for delay. I haven't  found the fixing PR. It could be the issue was fixed based on some Magento's internal ticket(s) I have no access to or it was fixed automatically while fixing some other issue(s). With that I'm closing this issue as I'm supposed to due to the issue is no more reproducible on the latest develop version. But please feel free to reopen it any time i

[2019-09-26 08:18] #24653 closed, assigned to nobody

[2019-09-26 08:29] magento-engcom-team commented on #24722
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20483` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-26 08:30] drabikowy commented on #24422
Please give me more details regarding why this specific combination was disabled.
In mentioned commit there is just a note:
` // Shouldn't be proceed according to MAGETWO-96403` but I believe this is an internal ticket.
I would like to know what issues I can expect when I will restore this option or if it will be fixed with the next release.