[2017-10-04 09:07] robbiefowler commented on #6126
has this been fixed in post 2.1.5?

[2017-10-04 09:14] bjoern-flagbit commented on #10972
After that problem that the file is missing under pub/static i had a javascript error occuring in the backend:
`Uncaught TypeError: utils.convertToMomentFormat is not a function`
This is happening because the file under _src/pub/static/adminhtml/Magento/backend/en_US/mage/utils/misc.js_ was not updated or the same like _src/vendor/magento/magento2-base/lib/web/mage/utils/misc.js_
I just leave this

[2017-10-04 09:15] sasilinux opened #11209 "Wishlist Add grouped product Error"
**Preconditions**
Magento version 2.1.8,2.1.9 and 2.2.0.

**Steps to reproduce**

1. Add grouped product from the product list with the qty of 3. For ex. added product A to the wishlist.
2. After adding the product, once again add the same product A to the wishlist with the qty of 4.

**Expected result:**
The qty of product A should be updated to 7.

**Actual result:**
But it has been added as two

[2017-10-04 09:23] amorcian commented on #6608
What was the problem?

[2017-10-04 09:30] magento-engcom-team commented on #9342
@barryvdh, thank you for your report.
We've created internal ticket(s) MAGETWO-70390 to track progress on the issue.

[2017-10-04 09:30] magento-engcom-team commented on #9449
@nbennett25, thank you for your report.
We've created internal ticket(s) MAGETWO-80824 to track progress on the issue.

[2017-10-04 09:30] magento-engcom-team commented on #6948
@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-70462 to track progress on the issue.

[2017-10-04 09:30] magento-engcom-team commented on #9307
@vishveskrish, thank you for your report.
We've created internal ticket(s) MAGETWO-70321 to track progress on the issue.

[2017-10-04 09:30] magento-engcom-team commented on #9468
@feelinc, thank you for your report.
We've created internal ticket(s) MAGETWO-80820 to track progress on the issue.

[2017-10-04 09:38] ghost opened #11210 "Magento 2.1.9 wizard upgrade to 2.2"
### Preconditions

1. Magento 2.1.9 (including security patches)
2. Multistore configuration (4 Stores)
3. Upgrade via Web Interface

### Steps to reproduce

1. Magento 2.1.9 installation
2. PHP 7
3. Upgrade via web interface in Magento 2 backend

### Expected result

1. Working Magento 2.2 Store

### Actual result

1. console log:

2017-10-04 07:24:02 UTC] Job "maintenance_mode {"enable":true}" h

[2017-10-04 09:56] magento-engcom-team commented on #11163
@Tomasz-Silpion Thank you for the Pull Request.

[2017-10-04 10:21] latypatil opened #11211 "Store View switcher not working on front-end and it throws an error"
If we select any store then site will go to that store and again we select another store then it throws an error because the url is wrong.

### Preconditions

1. Magento ver. 2.2.0
2. PHP 7.0.24, mysql Ver 14.14

### Steps to reproduce

1. Create different store view from admin panel and all will appear on front-end
2. Select any store view (No error)
3. Again select another store view(error will

[2017-10-04 10:30] magento-engcom-team commented on #9464
@rbostan, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-04 10:30] #9464 closed, assigned to nobody

[2017-10-04 10:30] magento-engcom-team commented on #7372
@candia, thank you for your report.
We've created internal ticket(s) MAGETWO-60919 to track progress on the issue.

[2017-10-04 10:30] magento-engcom-team commented on #11209
@sasilinux, thank you for your report.
We've created internal ticket(s) MAGETWO-80833 to track progress on the issue.

[2017-10-04 10:30] magento-engcom-team commented on #8624
@oroskodias, thank you for your report.
We've created internal ticket(s) MAGETWO-70370 to track progress on the issue.

[2017-10-04 10:30] magento-engcom-team commented on #9037
@josealgardataborges, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-04 10:30] #9037 closed, assigned to nobody

[2017-10-04 10:36] slackerzz opened #11212 "knockout.js debug version"
### Preconditions

1. every Magento 2 version

In ```lib/web/knockoutjs/knockout.js``` we have knockout.js version [3.3.0](https://github.com/knockout/knockout/releases/tag/v3.3.0) (quite old) and if you check you can see that we are using in production the `debug` release. Is there a reason for that?

- [knockout-3.3.0.debug.js](https://github.com/knockout/knockout/releases/download/v3.3.0/knocko

[2017-10-04 10:39] OnkelTem opened #11213 "Do you care or not that Downloadable products don't work?"
Sorry for a duplicate but I'm out if ideas how else can I draw your attention to this issue:
https://github.com/magento/magento2/issues/7413

The issue is: if you sell a real product with its e-copy for example, then customers won't get the latter. It basically doesn't work. In our case this is a blocker.

The linked issue pretends to fix the issue but there is no information *where* or *how* it h

[2017-10-04 10:54] AbdulKadir-Agoliya opened #11214 "Magento2.2.0 Migration Column not found: 1054 Unknown column 'created_at' in 'field list'"
I am attempting to migrate from 1.9.3.6 to 2.2.0 Opensource to opensource using the data migration tool.
using command : php bin/magento migrate:setting   /path-to/vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.3.6/config.xml

1.  start migration setting and there is one error source docuement is
     Source fields are not mapped. Document: core_website. Fields: mf_guid,create

[2017-10-04 11:30] magento-engcom-team commented on #9684
@wigman, thank you for your report.
We've created internal ticket(s) MAGETWO-70222 to track progress on the issue.

[2017-10-04 11:30] magento-engcom-team commented on #8236
@magemash, thank you for your report.
We've created internal ticket(s) MAGETWO-69931 to track progress on the issue.

[2017-10-04 11:30] magento-engcom-team commented on #4301
@daniel-ifrim, thank you for your report.
We've created internal ticket(s) MAGETWO-80855 to track progress on the issue.

[2017-10-04 11:30] magento-engcom-team commented on #7522
@axthor, thank you for your report.
We've created internal ticket(s) MAGETWO-61355 to track progress on the issue.

[2017-10-04 11:30] magento-engcom-team commented on #9434
@daniel-ifrim, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 11:30] #9434 closed, assigned to nobody

[2017-10-04 11:30] magento-engcom-team commented on #9272
@thdoan, thank you for your report.
We've created internal ticket(s) MAGETWO-70234 to track progress on the issue.

[2017-10-04 11:30] magento-engcom-team commented on #7718
@frostshoxx, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-04 11:30] #7718 closed, assigned to nobody

[2017-10-04 11:30] magento-engcom-team commented on #5724
@PierAlex, thank you for your report.
We've created internal ticket(s) MAGETWO-58253 to track progress on the issue.

[2017-10-04 11:30] magento-engcom-team commented on #6867
@flipflap, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-04 11:30] #6867 closed, assigned to nobody

[2017-10-04 11:30] magento-engcom-team commented on #11211
@latypatil, thank you for your report.
We've created internal ticket(s) MAGETWO-80840 to track progress on the issue.

[2017-10-04 11:30] magento-engcom-team commented on #7861
@spyrule, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-04 11:30] magento-engcom-team commented on #9340
@giano574, thank you for your report.
We've created internal ticket(s) MAGETWO-70224 to track progress on the issue.

[2017-10-04 11:30] magento-engcom-team commented on #6841
@Serhiy-Nazarov, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-04 11:30] #6841 closed, assigned to nobody

[2017-10-04 11:30] magento-engcom-team commented on #9451
@brobie, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 11:30] #9451 closed, assigned to nobody

[2017-10-04 11:30] magento-engcom-team commented on #7363
@gabs77, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-04 11:30] #7363 closed, assigned to nobody

[2017-10-04 11:39] latypatil commented on #11211
The issue is in /vendor/magento/module-store/Block/Switcher.php  with function getTargetStorePostData ()   where $store->getCurrentUrl(false) , Current url has been passed there and It should be $this->getUrl('stores/store/switch').

[2017-10-04 11:48] maderlock commented on #8296
I get a similar issue without the hack on 2.1.9.

The problem is a warning, but we develop with these turned on. On attempting to place the order, returning from PayPa successfully:

[2017-10-04 11:33:56] main.CRITICAL: Exception message: Warning: array_key_exists(): The first argument should be either a string or an integer in .../web-root/vendor/magento/module-sales/Model/Order/Payment.php on li

[2017-10-04 11:57] hostep commented on #10838
We seem to be running into the same issue, but this already happens during the database migration scripts when upgrading from 2.1.9 to 2.2.0 (Magento Cloud project):

[code]

The workaround mentioned by @jhruehl by adding the `addAttributeToSelect` method to the `Magento\Customer\Model\Indexer\Source` class seems to fix the issue so it might be the correct solution.

@okorshenko: I don't think it'

[2017-10-04 11:59] sasilinux commented on #11209
Still the issue is not resolved. But my previous ticket was closed. https://github.com/magento/magento2/issues/9612.

Without solving the issue, then how it was closed?

[2017-10-04 12:05] jhruehl commented on #10838
@hostep Yes. I reproduced it already in a vanilla store 2.2.0rc3 installation with demo data as mentioned above somewhere :) . The culprit is a customer EAV attribute with 'is_used_in_grid' set to yes. Adjusted the attribute in the database directly to pin point the cause. With 'is_used_in_grid' set to no, there are no problems.

The patch I posted here, is actually derived from the MDVA-4538_EE_2

[2017-10-04 12:11] TheFrankman opened #11215 "Magento 2.1.9 Firefox : Adding product to cart and refreshing the basket empties cart when sessions are stored in file system"
### Preconditions
1. Magento Version 2.1.9
2. PHP 7.X
3. Nginx
4. Centos
5. env.php set session storage to 'files'
6. Browser Firefox

### Steps to reproduce
1. Open site in latest Firefox
2. Navigate to a product
3. Add to Cart
4. From Mini Cart proceed to view basket
5. When on basket page refresh

### Expected result
1. Care page refreshes and all products remain in session

### Actual result
1

[2017-10-04 12:18] katculbert commented on #11194
Thank you for your help :)

I tried to update the extension afterwards to resolve this. When this didn't work - i created a fresh install rolling back to previous backups (so to version 2.1.8) and this time updated the extension at the same time as upgrading magento (to v2.1.9) and it worked.

Shall try to upgrade to 2.2 another day when I'm less scared!!

[2017-10-04 12:18] #11194 closed, assigned to magento-engcom-team

[2017-10-04 12:30] magento-engcom-team commented on #10812
@s3rj1k, thank you for your report.
We've created internal ticket(s) MAGETWO-80865 to track progress on the issue.

[2017-10-04 12:30] magento-engcom-team commented on #7677
@slackerzz, thank you for your report.
We've created internal ticket(s) MAGETWO-69937 to track progress on the issue.

[2017-10-04 12:30] magento-engcom-team commented on #9374
@redelschaap, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 12:30] #9374 closed, assigned to nobody

[2017-10-04 12:30] magento-engcom-team commented on #9899
@ulftietze, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 12:30] #9899 closed, assigned to nobody

[2017-10-04 12:30] magento-engcom-team commented on #9219
@mhauri, thank you for your report.
We've created internal ticket(s) MAGETWO-80862 to track progress on the issue.

[2017-10-04 12:45] magento-engcom-team commented on #11215
@TheFrankman , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-04 12:47] jzahedieh opened #11216 "Admin order does not fill customer data due to unescaped street"
### Preconditions

1.  Magento EE 2.1.9
2. PHP 7.0.9

### Steps to reproduce

1. Create new test customer
2. Add default billing/shipping address with street address with quote i.e 101 rue d'andigne
3. Create order from customer view

### Expected result

1. All customers information against account is pulled into correct areas and previous order history is displayed on left hand side

### Actual

[2017-10-04 12:48] BenTen1701 opened #11218 "Tablerate problem"
Hey i use a fresh 2.2 mage installation.

I setup table rates as usual but frontend still say
`This shipping method is not available. To use this shipping method, please contact us.`
i imported a tablerate.csv with ~20rows and mage say no erro while upload it.

If i wanna export the csv i got a empty one.

So i checked the DB entry "shipping_tablerate" and this is also empty.

So there is a proble

[2017-10-04 12:55] tprocter-ldg commented on #10567
Hi @okorshenko

PR has now been posted in https://github.com/magento/magento2/pulls.

Thank you

[2017-10-04 12:55] renttek commented on #11089
Hi, there is already an "accepted" pull request from me for this issue. You can see the link right above your comment.
(I think, the existing pull requests are pretty bad to spot. Solved an Issue with existing PR last week too)

[2017-10-04 13:00] magento-engcom-team commented on #9249
Hi @AlexanderRakov
Why do you mean that keys must be in $label variable and values must be in $value variable?
If you do it, than letter will send without replacing variables.

[2017-10-04 13:11] asrar7787 commented on #6522
@korostii

The issue still persists in EE 2.1.6.

I will not be verbose again as other members already did earlier, it's a waste of time, if you do not really appreciate others time!

Anyway, debug this class in multi-store installation for admin orders
`vendor/magento/module-quote/Model/QuoteRepository.php` on line 192 and you will see that `$shardeStoreIds` at one point will be having no array e

[2017-10-04 13:13] asrar7787 commented on #6522
And do not just tag `can not reproduce`.

I would not mind screen cast with you tbh!

[2017-10-04 13:15] magento-engcom-team commented on #9612
@sasilinux May you please let us know, do you add to wishlist your grouped product  from Catalog page or from Product page?  In your previous comment you wrote about catalog page - but we could not add different qty of product to wishlist from there - this why your ticket was closed .

[2017-10-04 13:18] magento-engcom-team commented on #9411
@romainruaud Thanks for reporting this issue.
Di.xml used for Object Manager configuration to create objects. It should not be used for translation of any kind. Therefore since Magento 2.2.0 attribute 'translate' was removed from di.xml.
Logic for translation should be on presentation layer, not configuration one. Therefore, if You want translation occur, You should move translation logic in templ

[2017-10-04 13:18] #9411 closed, assigned to magento-engcom-team

[2017-10-04 13:19] asrar7787 commented on #6522
M2 guys, if you don't acknowledge this issue and fix that asap, here in Github, I will take it forward tbh.

This is crazy!

[2017-10-04 13:30] magento-engcom-team commented on #6890
@htmyheart, thank you for your report.
We've created internal ticket(s) MAGETWO-59462 to track progress on the issue.

[2017-10-04 13:30] magento-engcom-team commented on #10810
@s3rj1k, thank you for your report.
We've created internal ticket(s) MAGETWO-80868 to track progress on the issue.

[2017-10-04 13:30] magento-engcom-team commented on #8614
@i95devdivya, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 13:30] #8614 closed, assigned to nobody

[2017-10-04 13:30] magento-engcom-team commented on #8652
@siven76, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 13:30] #8652 closed, assigned to nobody

[2017-10-04 13:30] magento-engcom-team commented on #9289
@crdt, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-04 13:30] #9289 closed, assigned to nobody

[2017-10-04 13:30] magento-engcom-team commented on #9223
@magentomaniac, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-04 13:30] #9223 closed, assigned to magento-engcom-team

[2017-10-04 13:30] magento-engcom-team commented on #8702
@tsmith1985, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-04 13:30] #8702 closed, assigned to nobody

[2017-10-04 13:49] filipepiressemait commented on #11202
It still doesn't work.

If i use the authentication method instead of integration with keys, it gives me the access token but when i make the request the answer is the same: Consumer is not authorized

[2017-10-04 13:50] heyepic opened #11220 "Magento 2.1.9 Create Account Refreshes Page"
### Preconditions

1. 2.1.9
2. PHP 7 / CentOS

### Steps to reproduce

1. Go to Create Account
2. Fill in valid data
3. Click Button to Create Account

### Expected result

1. Account created, email is sent to verify account?

### Actual result

1. Page refreshes. No errors in console log.

[2017-10-04 13:56] magento-engcom-team commented on #9410
@herveguetin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-04 14:04] xudongli113 opened #11221 "content->element->pages is not loading"
### Preconditions

1. I am install porto 2 with magento 2.0.15
2. after I install the demo it all works and website shows correctly, but when I am click content->element->pages its keep loading for while and  gives me error
3. I tried flush the cache and try different browser as well

### Expected result

1.

### Actual result

1. [Screenshot, logs]
![image](https://user-images.githubusercontent.c

[2017-10-04 14:09] alexpoletaev commented on #11197
I agree, @magento-engcom-team could you please provide a link to commit with the fix? I didn't find any changes in the ```vendor/magento/module-checkout/view/frontend/web/js/model/step-navigator.js``` file and I want to know how it was fixed. Thanks.

[2017-10-04 14:24] heyepic commented on #10298
@magento-engcom-team Are you guys going to roll this into a future update?

[2017-10-04 14:30] barryvdh commented on #10838
I've also encountered this issue using 2.2.0, after upgrading from 2.1.9 (in my case using https://marketplace.magento.com/commerceextensions-module-hide-product-price.html )

It's doing this in it's setup:

[code]

Which gives the following error with indexing:

[code]

Setting the `is_used_in_grid` option to false in the database makes the indexer run again, but obviously doesn't include the att

[2017-10-04 14:30] magento-engcom-team commented on #8976
@springimport, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-04 14:30] #8976 closed, assigned to magento-engcom-team

[2017-10-04 14:30] magento-engcom-team commented on #6272
@bartek9007, thank you for your report.
We've created internal ticket(s) MAGETWO-57817 to track progress on the issue.

[2017-10-04 14:30] magento-engcom-team commented on #7904
@ziiljuks, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 14:30] #7904 closed, assigned to nobody

[2017-10-04 14:30] magento-engcom-team commented on #8788
@cykirsch, thank you for your report.
We've created internal ticket(s) MAGETWO-80880 to track progress on the issue.

[2017-10-04 14:30] magento-engcom-team commented on #9214
@giano574, thank you for your report.
We've created internal ticket(s) MAGETWO-70428 to track progress on the issue.

[2017-10-04 14:30] magento-engcom-team commented on #7990
@edelepine, thank you for your report.
We've created internal ticket(s) MAGETWO-70597 to track progress on the issue.

[2017-10-04 14:35] okorshenko commented on #9900
The issue needs to be assigned to @convenient

[2017-10-04 14:52] craignelson commented on #5728
hello

[2017-10-04 14:54] leedave commented on #7734
This is clearly references to the Bugs **#9066** and **#5590** if not many other tickets here.
A search feature that cannot filter by relevance or change the wording operator from OR to AND is a serious Problem for an online shop. I'm searching for a temporary workaround myself, but can't find any legit method of doing this

-Plugins don't work because of a protected method
-Events don't work, bec

[2017-10-04 14:57] laurci opened #11224 "Magento fails after upgrading from 2.1.7 to 2.2.0"
### Preconditions
Before:
1. PHP 5.3
2. Magento 2.1.7
After:
1. PHP 7.1.10

### Steps to reproduce
1. replace magento version 2.1.7 to 2.2.0 in the composer.json file
2. run composer update
3. run bin/magento setup:upgrade
4. run bin/magento setup:static-content:deploy -f
5. run bin/magento setup:di:compile

### Expected result
1. To run the bin/magento --version and to see that the upgrade was a

[2017-10-04 14:57] willfrombrazil commented on #8980
@KrystynaKabannyk, I believe this is a bug. The validation script should focus the 1st invalid field. See what happens when a customer misspell their email address during checkout: https://youtu.be/7DA-qGrwlt8
Really bad for conversions!

[2017-10-04 15:00] v0gler opened #11225 "Unable to set custom price in manual order in backend"
### Preconditions

1. Magento 2.1.9  (Not working with any previous tested version), PHP 7

### Steps to reproduce

1. Create a new order in backend
2. Apply a product to order
3. Set custom price for product and click Update Items and Quantities

### Expected result

1. New custom price should be applied to the product

### Actual result

1. After click on update custom price disappears.
![update

[2017-10-04 15:03] okorshenko commented on #9900
@convenient is working on it #SQUASHTOBERFEST

[2017-10-04 15:04] okorshenko commented on #10425
@jonashrem please accept the invite from magento-team on the GitHub

[2017-10-04 15:24] convenient commented on #10611
@okorshenko Should this one be a straight port of #10921 or the full fix as described by https://github.com/magento/magento2/pull/10921#discussion_r141584859 ?

If its the port i'll pick it up.

[2017-10-04 15:27] PascalBrouwers commented on #10583
@mbijnsdorp you still have this issue or do you have a fix?

[2017-10-04 15:30] magento-engcom-team commented on #9389
@redelschaap, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-04 15:30] #9389 closed, assigned to nobody

[2017-10-04 15:30] magento-engcom-team commented on #8238
@joost-florijn-kega, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 15:30] #8238 closed, assigned to nobody

[2017-10-04 15:30] andidhouse commented on #11224
Upgrading from 2.1.7 to 2.2.0 is a complete disaster here.
Once again not tested by the magento team - in no way!

Every update costs us thousands of dollars... in a long term we will cancel magento as one of our preferred systems.

[2017-10-04 15:33] andidhouse commented on #11224
We expected to be 2.2 to have fixed major and minor bugs - instead you implement new functions and do not care about over 1000 reported bugs... this speaks for itself.

[2017-10-04 15:33] jzahedieh commented on #11224
@andidhouse it's a major upgrade so it would be expected to face some issues.

[2017-10-04 15:34] andidhouse commented on #11224
@jzahedieh no - we work with about 3 major systems here - and magento is the only one which has major problems with any updates.
I can not confirm your reply on shopware, oxid or even larger systems at all.

[2017-10-04 15:43] leedave commented on #7734
@joachimVT

There is a solution, that changes to search operand from OR to AND, you need to create a Module for this

yourVendor/yourmodule/etc/search_request.xml
`<?xml version="1.0"?>
<requests xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="urn:magento:framework:Search/etc/search_request.xsd">
    <request query="quick_search_container" index="cata

[2017-10-04 15:45] magento-engcom-team commented on #11225
@SirElectro, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-04 15:53] maghamed commented on #7734
Hey, @leedave I would not say that bugs you mentioned are related to Search Customization.
Also, we don't expect that it's a business case to filter by relevance, because *relevance* is a service value, which we use under the hood, and for different engines, it will have a different value for the same *search term* given. For example, it could be 0.99 for MySQL and 435 for ElasticSearch. Thus, we

[2017-10-04 15:56] andidhouse opened #11227 "Update 2.1.7 to 2.2.0 --> No Developer Tab any more in the backend"
### Preconditions

1. Version 2.1.7 to 2.2.0 Update

### Steps to reproduce

1. Update magento from 2.1.7 to 2.2.0 via composer command

### Expected result

1. There is the tab "developer" under Stores -> Configuration -> Advanced -> Developer -> to set the Javascript Settings

### Actual result

1. There is no tab Developer any more see screen attached.
This is no caching problem and reproduced

[2017-10-04 16:00] jonashrem commented on #10425
@okobchenko

Thanks for the invite. I've accepted it.

[2017-10-04 16:12] andidhouse opened #11228 "Update 2.1.7 to 2.2.0 --> Indexing error"
### Preconditions

1. Update from a 2.1.7 to 2.2.0 system via command line

### Steps to reproduce

1. Update from a 2.1.7 to 2.2.0 system via command line

### Expected result

1. The system reindexes without an error

### Actual result

1. The indexer shows this error message:

Catalog Search indexer process unknown error:
Decoding failed: Syntax error

[2017-10-04 16:15] okorshenko commented on #10565
Hi @gilbertsohal can we close this issue?

[2017-10-04 16:19] IAmTheVex commented on #11224
@andidhouse It's the first time i'm using Magento because i heard from friends that is "the best e-commerce platform around"... But man.. I must say that my experience 'till now was a complete disaster! I need a fix to this! And i kinda' need it fast! (tomorrow a client shows up to check progress and his store is not working anymore) If anyone can help me... i would be very glad!

[2017-10-04 16:20] okorshenko commented on #5196
we will retest this again

[2017-10-04 16:23] andidhouse commented on #11224
@IAmTheVex i am not shure you get any help here.
Did you try to reset the rights completely for all folders and files after update.
I would suggest to present the 2.1.7 system you are using. We also tried the update from 2.1.7 and there are far more then 10 major issues we are facing - there is no way to use this on productive in any way at the moment.

[2017-10-04 16:26] IAmTheVex commented on #11224
@andidhouse i have drwxr-xr-x on everything... tho' now that i think.. public_html is a symlink to /var/www

[2017-10-04 16:29] andidhouse commented on #11224
Not shure if this is ok - try this (adapt it for your system):

chown -R :www-data . && find . -type d -exec chmod 770 {} \; && find . -type f -exec chmod 660 {} \; && chmod u+x bin/magento && chmod -R 777 var && chmod -R 777 app/etc && chmod -R 777 pub

[2017-10-04 16:29] andidhouse commented on #11224
run it in the magento2 root folder of course

[2017-10-04 16:31] andidhouse commented on #11224
maybe also clear this folders as well and compile and deploy again:

rm -rf /var/www/html/magento2/pub/static/*
rm -rf /var/www/html/magento2/var/view_preprocessed/*
rm -rf /var/www/html/magento2/var/di/*
rm -rf /var/www/html/magento2/var/cache/*
rm -rf /var/www/html/magento2/var/page_cache/*

[2017-10-04 16:35] IAmTheVex commented on #11224
already tried removing those :( and i followed the steps you provided only got me with an error "unknown group www-data"... is kinda' logic as i don't have that group :))

[2017-10-04 16:37] andidhouse commented on #11224
sry i could not help. i suggest to present an older version to your client. The problem with magento is that every new version is full of bugs - since the beginning. so never ever try to update for a live or important system.

[2017-10-04 16:42] okorshenko commented on #10611
Hi @convenient
We can accept a backport, but it would be great if you can provide full solution

[2017-10-04 16:43] bnymn opened #11230 "Unit test fails after fresh installation"
I have freshly installed Magento 2.2. The first thing I do is running unit tests. I have got one error.

### Preconditions
1. Magento 2.2
2. PHP 7.0
3. MySQL 5.7.19, for Linux (x86_64)

### Steps to reproduce
1. Install Magento with composer
2. Run this command `vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist`
3. You get the error

### Expected result
1. To pass all the unit tests

### Actua

[2017-10-04 16:45] BenGlassAtlas opened #11231 "Can't close mobile search bar once typed"
### Preconditions
1. Magento 2.1.9 using the Luma theme (no customisations)

### Steps to reproduce
1. Load the homepage on a mobile device
2. Tap on the search icon to access the search input
3. Start typing (but do not submit)
4. Now tap on the search icon again to close the search bar

Sometimes it will close, but if you open it again it will not close.

### Expected result
1. Search bar closes

[2017-10-04 16:51] BenGlassAtlas opened #11232 "Luma demo homepage has horizontal scrolling"
### Preconditions
1. Magento 2.1.9 using the Luma theme (no customisations)

### Steps to reproduce
1. Ensure you have the sample data
2. Load the homepage on a mobile device
3.

### Expected result
1. There should not be any horizontal scrolling

### Actual result
1. there is horizontal scrolling

![scrolling](https://user-images.githubusercontent.com/8895777/31188383-9bc448ac-a92c-11e7-811d-938a

[2017-10-04 16:53] piotrekkaminski commented on #3897
More relevant internal ticket: MAGETWO-45239

[2017-10-04 16:53] playbacktri commented on #6710
Also what is annoying about pagination is that you can only organize options in any kind of order ONLY on the page they are on - you can't drag an option back or forward through pages. That means if I have products that I want to list alphabetically and end up inserting a new options 2 months later that needs to be in the "A"s, I can't add a new option in the A page because a new option adds to th

[2017-10-04 17:07] osrecio commented on #5439
@okorshenko Can you assign me this issue?

[2017-10-04 17:30] magento-engcom-team commented on #8827
@careys7, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-04 17:30] #8827 closed, assigned to nobody

[2017-10-04 17:30] magento-engcom-team commented on #9297
@gionkoch, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 17:30] #9297 closed, assigned to nobody

[2017-10-04 17:30] magento-engcom-team commented on #8807
@treestonemedia, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-04 17:30] #8807 closed, assigned to nobody

[2017-10-04 17:30] magento-engcom-team commented on #10180
@lemmel, thank you for your report.
We've created internal ticket(s) MAGETWO-80891 to track progress on the issue.

[2017-10-04 17:45] nelero opened #11233 "Can't have some media and static url different from base url (CDN like)"
Hi,
if we want to serve media and skin files from different URLS as base url, all resources return 404.
### Preconditions
Magento CE 2.1.9
PHP 7.0.3
only 1 Website / 1 store / 1 storeview

### Steps to reproduce
1. configure unsecure base_url with http://www.domain.com/ and secure_base_url with the same : http://www.domain.com/
2. configure unsecure and secure static url and media url with http://

[2017-10-04 17:52] hostep commented on #11227
@andidhouse: it's expected behaviour, de Developer tab is gone in production mode. It is mentioned somewhere on http://devdocs.magento.com/, but I can't find it anymore...
Magento now picks the "best" configuration for those settings automatically and doesn't allow you to tweak it anymore from what I understand.

@jfrontain: I think major changes in the backend configuration should be mentioned on

[2017-10-04 18:00] peltiereffects commented on #11190
I have the same issue.
Ugraded from 2.1.5 to 2.2

[2017-10-04 18:32] magento-engcom-team commented on #8532
@snez, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-04 18:32] #8532 closed, assigned to nobody

[2017-10-04 18:36] okorshenko commented on #5439
#SQUASHTOBERFEST

[2017-10-04 19:13] andidhouse commented on #11110
@craigcarnell how did you fix this one?
I think we have the same as you did.

Many thanks!

1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'move', attribute 'after': [facet 'pattern'] The value '' is not accepted by the pattern '[a-zA-Z][a-zA-Z\d\-_\.]*|-'.
Line: 739

Element 'move', attribute 'after': '' is not a valid value of the atomic type 'elementPos

[2017-10-04 19:36] andidhouse commented on #11227
Hi @hostep - thanks for the info.

Do you mean this is present in developer mode or magento completly removed it?

This is really a bad way to update a system. As you mentioned we saw this on earlier versions as well. It would be better to first make a solid concept and then not change the concept in the versions.

[2017-10-04 19:47] joachimVT commented on #10489
This issue also happens when you set 'Date of Birth' to be a required field.

[2017-10-04 20:18] igrybkov commented on #9066
Hi,

I see that the issue was fixed in the ticket [MAGETWO-58964](https://github.com/magento/magento2/search?q=MAGETWO-58964&type=Commits&utf8=✓), but the fix wasn't backported into 2.1.x.

@AirmanAJK and @asrar7787, can you check if the fix working for you on 2.2?

[2017-10-04 20:20] brandontamm commented on #11224
if you tried to upgrade to 2.2, there are significant differences in codes, commands, deployment, caching, indexing, etc ... just check bin/magento and you'll see all sorts of commands are now missing.

[2017-10-04 20:21] brandontamm commented on #11224
also you can't just switch the version in composer file. there are many changes to composer file alone... ;)

[2017-10-04 20:22] brandontamm commented on #11224
I'd suggest you switch back to 2.1.7 and work in a development and staging environment until you get comfortable with how PHP development works..

[2017-10-04 20:45] hostep commented on #11227
Yes indeed, in developer mode the tab is there, in production mode it isn't there.

[2017-10-04 20:54] hostep commented on #11227
@andidhouse: I've just found the aforementioned devdocs page again:
http://devdocs.magento.com/guides/v2.2/config-guide/deployment/pipeline/technical-details.html#config-deploy-admin

Best to read through that whole pipeline deployment section, because there are more surprises hiding in there.

I'd advise you to wait with upgrading to version 2.2.x until you completely understand all the things wh

[2017-10-04 21:08] okorshenko commented on #7356
@kanduvisla thank you for your report. The issue is already fixed in 2.2-develop branch (PR: #11200 by @osrecio) and will be available in the Magento 2.2.2 release

[2017-10-04 21:08] #7356 closed, assigned to nobody

[2017-10-04 21:11] okorshenko commented on #9877
@Styopchik thank you for your report. The issue is already fixed in 2.2-develop branch (PR: #11154 by @denysbabenko) and will be available in the Magento 2.2.2 release

[2017-10-04 21:11] #9877 closed, assigned to denysbabenko

[2017-10-04 21:13] okorshenko commented on #10803
@ekuusela thank you for your report. The issue is already fixed in 2.2-develop branch (PR: #11160 by @strell) and will be available in the Magento 2.2.2 release

[2017-10-04 21:13] #10803 closed, assigned to nobody

[2017-10-04 21:16] #11109 closed, assigned to nobody

[2017-10-04 21:18] okorshenko commented on #10697
@Alex-James17, thank you for your report. The issue is already fixed in 2.2-develop branch (PR: #11049 by @avdb) and will be available in the Magento 2.2.2 release

[2017-10-04 21:18] #10697 closed, assigned to avdb

[2017-10-04 21:21] okorshenko commented on #10474
@Kivike thank you for your report. The issue is already fixed in 2.2-develop branch (PR: #11069 by @Echron) and will be available in the Magento 2.2.2 release

[2017-10-04 21:21] #10474 closed, assigned to nobody

[2017-10-04 21:24] magento-team commented on #9877
Internal ticket to track issue progress: MAGETWO-80511

[2017-10-04 21:25] magento-team commented on #10474
Internal ticket to track issue progress: MAGETWO-80224

[2017-10-04 21:25] magento-team commented on #10697
Internal ticket to track issue progress: MAGETWO-80229

[2017-10-04 21:25] magento-team commented on #10417
Internal ticket to track issue progress: MAGETWO-80230

[2017-10-04 21:39] mbrzuzy commented on #10704
Also running into this issue. Free shipping method does not seem to be working for UPS through cart rules or through shipping configuration.

[2017-10-04 21:48] gilbertsohal commented on #10565
@okobchenko Yes, Its working fine on my end.

[2017-10-04 22:10] #10565 closed, assigned to nobody

[2017-10-04 22:16] magento-engcom-team commented on #11221
Hi @xudongli113  Could you please provide more details about your installation and logs?

[2017-10-04 22:17] magento-engcom-team commented on #11218
@BenTen1701 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2017-10-04 22:18] magento-engcom-team commented on #11214
@AbdulKadir-Agoliya please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only. Also you can report an issue to [migration tool](https://github.com/magento/data-migration-tool)

[2017-10-04 22:18] #11214 closed, assigned to nobody

[2017-10-04 22:19] magento-engcom-team commented on #11213
@OnkelTem thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps t

[2017-10-04 22:20] magento-engcom-team commented on #11212
@slackerzz please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-04 22:20] #11212 closed, assigned to nobody

[2017-10-04 22:23] magento-engcom-team commented on #11202
@filipepiressemait thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [

[2017-10-04 22:26] magento-engcom-team commented on #10872
Hi @rbur0425 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento 2 Core technical issues only.

[2017-10-04 22:26] #10872 closed, assigned to nobody

[2017-10-04 22:27] magento-engcom-team commented on #10872
@rbur0425 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-04 22:32] magento-engcom-team commented on #9768
Hi @poojawebkul could you please let us know if the issue still exists on latest 2.2.0 release?

[2017-10-04 22:35] magento-engcom-team commented on #9604
Hi @Ramzzzz could you please let us know if the issue still exists on latest 2.2.0 release?

[2017-10-04 22:36] magento-engcom-team commented on #9550
@antofebin2636 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-04 22:36] #9550 closed, assigned to nobody

[2017-10-04 22:37] magento-engcom-team commented on #9536
@synpatic thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps t

[2017-10-04 22:38] henk-hypershop commented on #7040
Still issue is still not fixed in Magento 2.1.9. Seems like a very important one. If stores are indexed by Google with a trailing slash, one cannot simply migrate and contain the URL structure. This will be killing for rankings. Why has this not been fixed yet? We are now forced to change this in the vendor file with the risk that this will be overwritten on any update.

[2017-10-04 22:43] okorshenko commented on #10611
@kanduvisla thank you for your report. The issue is already fixed in 2.2-develop branch (PR: #11229  by @convenient ) and will be available in the Magento 2.2.2 release

[2017-10-04 22:43] #10611 closed, assigned to convenient

[2017-10-04 22:45] magento-team commented on #9900
Internal ticket to track issue progress: MAGETWO-80885

[2017-10-04 22:45] magento-team commented on #10738
Internal ticket to track issue progress: MAGETWO-80884

[2017-10-04 22:46] okorshenko commented on #9900
@StefanErakovic thank you for your report. The issue is already fixed in 2.2-develop branch (PR: #11223  by @convenient ) and will be available in the Magento 2.2.2 release

[2017-10-04 22:46] #9900 closed, assigned to convenient

[2017-10-04 22:47] okorshenko commented on #10738
@nowszy thank you for your report. The issue is already fixed in 2.2-develop branch (PR: #11168  by @maksek ) and will be available in the Magento 2.2.2 release

[2017-10-04 22:47] #10738 closed, assigned to maksek

[2017-10-04 23:00] steros commented on #10972
Yeah you need to update all folders except vendor manually.

[2017-10-04 23:50] mbahar commented on #5157
The same issue; in DEVELOPER MODE my controller preferences for adminhtml was neglected by di.xml, so they stopped working. After a successful  setup:di:compile, the interceptors in var/generation were created successfully, but those are never executed in runtime.

Here is a workaround that worked for me;
- remove var/di

everything is up an running again!

I think this is not a bug, but a confusi

[2017-10-05 00:13] barbazul commented on #8508
@slackerzz that fix is currently not working in 2.1.8+

Current workaround we are using is compile js-translation.json in a dev environment, deploy it to production with the rest of the code and use a RewriteRule to serve the compiled json instead of the empty one in pub.

[2017-10-05 02:23] peltiereffects commented on #11190
I have the same issue.
Ugraded from 2.1.5 to 2.2

[2017-10-05 05:38] ihor-sviziev commented on #11233
@nelero but for static URL you need to use following url: http://www.cdndomain.com/static/, and for media - http://www.cdndomain.com/media/

[2017-10-05 06:30] magento-engcom-team commented on #5549
@Sanfam, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-05 06:30] #5549 closed, assigned to nobody

[2017-10-05 06:30] magento-engcom-team commented on #6313
@ShubhSikarwar, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-05 06:30] #6313 closed, assigned to nobody

[2017-10-05 06:30] magento-engcom-team commented on #8181
@lisamych, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-05 06:30] magento-engcom-team commented on #8213
@PiimegaOy, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-05 06:30] #8213 closed, assigned to nobody

[2017-10-05 06:44] nick-iFactory commented on #6522
I think I am receiving this error.
I get this error whenever I try to edit an order in the backend that is not part of the default shop. (by edit I mean the cancel/reorder edit where you add extra products change shipping methods etc.)

[2017-10-05 07:19] nelero commented on #11233
@ihor-sviziev Yes you're right.
But if i change them, still 404 errors. (in Admin and in front office).
For example :
http://www.cdndomain.com/static/adminhtml/Magento/backend/fr_FR/extjs/resources/css/ext-all.css
(css loaded in admin pages) still 404 errors.

[2017-10-05 07:30] magento-engcom-team commented on #5675
@maderlock, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-05 07:30] #5675 closed, assigned to nobody

[2017-10-05 07:30] magento-engcom-team commented on #9921
@nikolaybaychenko, thank you for your report.
We've created internal ticket(s) MAGETWO-69850 to track progress on the issue.

[2017-10-05 07:30] magento-engcom-team commented on #8198
@Bartlomiejsz, thank you for your report.
We've created internal ticket(s) MAGETWO-70275 to track progress on the issue.

[2017-10-05 07:30] magento-engcom-team commented on #11216
@jzahedieh, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 07:30] #11216 closed, assigned to nobody

[2017-10-05 07:32] Franzld opened #11236 "Web Setup Wizard Icon Inconsistency"
The Icons for "Extension Manager" and "Module Manager" are inconsistent in the main content area and left-hand menu of the Web Setup Wizard.

### Preconditions
1. Install Magento 2.2.0 Open Source using Composer and the web setup

### Steps to reproduce
1. Log into the backend and open "Web Setup Wizard"

### Expected result
1. The same icon is used for "Extension Manager" in the left-hand menu an

[2017-10-05 07:46] osrecio commented on #10485
Maybe this issue is Related with issue #10580 cc @orlangur

[2017-10-05 07:59] osrecio commented on #10301
Assign to me

[2017-10-05 08:17] vkublytskyi commented on #11098
Described behavior is not a bug but expected behavior. `_extend.less` should be able to override all other styles so it is placed at the bottom of the `styles-m.less` and `styles-l.less`.

[2017-10-05 08:30] magento-engcom-team commented on #7390
@JananiKrishnan, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-05 08:30] #7390 closed, assigned to nobody

[2017-10-05 08:30] magento-engcom-team commented on #7559
@ooples, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 08:30] #7559 closed, assigned to nobody

[2017-10-05 08:30] magento-engcom-team commented on #7735
@PascalBrouwers, thank you for your report.
We've created internal ticket(s) MAGETWO-62411 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #6055
@springimport, thank you for your report.
We've created internal ticket(s) MAGETWO-70855 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #9360
@WaPoNe, thank you for your report.
We've created internal ticket(s) MAGETWO-80952 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #7333
@WaterSlide, thank you for your report.
We've created internal ticket(s) MAGETWO-60573 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #7013
@sneha-sukumaran, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 08:30] #7013 closed, assigned to nobody

[2017-10-05 08:30] magento-engcom-team commented on #5416
@Krapulat, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 08:30] #5416 closed, assigned to nobody

[2017-10-05 08:30] magento-engcom-team commented on #7765
@andidhouse, thank you for your report.
We've created internal ticket(s) MAGETWO-70347 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #5723
@RUjmiak, thank you for your report.
We've created internal ticket(s) MAGETWO-70508 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #6991
@harsh-persistent, thank you for your report.
We've created internal ticket(s) MAGETWO-70422 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #7419
@flipflap, thank you for your report.
We've created internal ticket(s) MAGETWO-62278 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #9397
@DarylForza, thank you for your report.
We've created internal ticket(s) MAGETWO-80945 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #4942
@densen45, thank you for your report.
We've created internal ticket(s) MAGETWO-69959 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #8520
@dunarri, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-05 08:30] magento-engcom-team commented on #8503
@anebi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-05 08:30] #8503 closed, assigned to magento-engcom-team

[2017-10-05 08:30] magento-engcom-team commented on #7369
@wenpingguo, thank you for your report.
We've created internal ticket(s) MAGETWO-60956 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #7433
@fchalet69, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 08:30] #7433 closed, assigned to nobody

[2017-10-05 08:30] magento-engcom-team commented on #8570
@asadyar, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 08:30] #8570 closed, assigned to nobody

[2017-10-05 08:30] magento-engcom-team commented on #8817
@giano574, thank you for your report.
We've created internal ticket(s) MAGETWO-70450 to track progress on the issue.

[2017-10-05 08:30] magento-engcom-team commented on #10267
@lfritsche, thank you for your report.
The issue is already fixed in develop branch, 2.1.9

[2017-10-05 08:30] #10267 closed, assigned to nobody

[2017-10-05 08:33] andidhouse commented on #7765
@magento-engcom-team thanks for this.
But to be honest creating a internal ticket to track the issue after 10 month is kind of senseless for us.
It now takes another 3-6 month to fix this? So we are one year later with a small fix - this is not a timeline we can live with to be honest.

[2017-10-05 08:35] andidhouse commented on #11227
Thanks @hostep - i am not shure what sense this makes.
So magento is putting effort in such wired things instead of fixing the major bugs. Hmmmm....

[2017-10-05 08:46] s00071609 commented on #9497
Same issue here in 2.1.6

[2017-10-05 08:59] sarah-magentech commented on #7392
Let's disable **Google Analytic** in the **SALES** tab, you will be able to edit page. For more information, please check this [blog post](https://www.magentech.com/case-studies/item/789-how-to-fix-magento-220-pages-showing-error) :)

[2017-10-05 09:22] Loxzibit commented on #7367
I've just added the fix into a module for anyone interested https://github.com/WeareJH/m2-core-bug-configurable-prices

[2017-10-05 09:25] ihor-sviziev commented on #11233
@nelero usually CDN providers just forward all requests in case they don't have any cache, so might be your CDN isn't configured correctly. Is this file exists if you will change domain to www.domain.com?

[2017-10-05 09:30] magento-engcom-team commented on #7495
@Nym77, thank you for your report.
We've created internal ticket(s) MAGETWO-70803 to track progress on the issue.

[2017-10-05 09:30] magento-engcom-team commented on #8470
@mitcht, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-05 09:30] #8470 closed, assigned to nobody

[2017-10-05 09:30] magento-engcom-team commented on #9349
@mattcoz, thank you for your report.
We've created internal ticket(s) MAGETWO-80962 to track progress on the issue.

[2017-10-05 09:30] magento-engcom-team commented on #5416
@Krapulat, thank you for your report.
We've created internal ticket(s) MAGETWO-70726 to track progress on the issue.

[2017-10-05 09:30] magento-engcom-team commented on #7954
@alen9788, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-05 09:30] #7954 closed, assigned to nobody

[2017-10-05 09:30] magento-engcom-team commented on #8530
@raisaev, thank you for your report.
We've created internal ticket(s) MAGETWO-80961 to track progress on the issue.

[2017-10-05 09:32] minimit commented on #11098
You should respect css specificity, but it's broken using your media queries mixins. Those media queries mixins also can't be used inside nested css selectors, and make the less code much more scattered and complicated, only to save some kb on mobile separating the styles-l.css

I think responsive media queries should be revisited, they should work inside nested selectors and they should respect c

[2017-10-05 10:00] magento-team commented on #8554
Internal ticket to track issue progress: MAGETWO-80647

[2017-10-05 10:00] magento-team commented on #9050
Internal ticket to track issue progress: MAGETWO-80647

[2017-10-05 10:00] magento-team commented on #10738
Internal ticket to track issue progress: MAGETWO-80770

[2017-10-05 10:05] SirElectro commented on #11225
@magento-engcom-team  thanks for fast reply. I set up a fresh installation of 2.1.9 and couldn't reproduce this issue. But i can't easily switch the production one to a new installation.
I'll have some further investigation by myself an will give you an update about it.

[2017-10-05 10:13] sasilinux opened #11238 "After Enabling Varnish Cache unable to get customer session in product view page"
### Preconditions
1. Enable Varnish Cache in Magento 2.2.0

### Steps to reproduce

1.  After enabling varnish, I have checked the customersession to show wishlist link only if the customer is login.
2.  After Logged into the page, Still the content is not visible.
3. Once i put cacheable="false" in the block, then the content is visible.

### Expected result

1.  After logged in, the needed conte

[2017-10-05 10:21] jorgediezprada opened #11239 "Backend automatically logs out when editing a page Magento 2.2.0"
Any time I´m trying to edit anything on a page, I get log out from Magento. I cannot save anything. I cannot not even open the multimedia librery without been log out.

Preconditions

1. Magento 2.2.0
2. PHP 7.0.23
3. MySQL 5.6

Steps to reproduce

1. Log In >content > page > Home >edit
2. Content
3. Click on an image > edit img > multimedia library

 Expected result

1. Open Multimedia library >

[2017-10-05 10:23] asrar7787 commented on #6522
@alexpoletaev

Hi mate, would you mind sharing/explaining how you were able to implement your workaround please?

Thanks

Asrar

[2017-10-05 10:30] magento-engcom-team commented on #9109
@cduperron, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 10:30] #9109 closed, assigned to nobody

[2017-10-05 10:30] magento-engcom-team commented on #6764
@lexbeelen, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 10:30] #6764 closed, assigned to nobody

[2017-10-05 10:30] magento-engcom-team commented on #11227
@andidhouse, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-05 10:32] Prad2703 opened #11241 "CartId is missing during checkout while select online payment"
### Preconditions

1.  Magento 2.1.7, PHP version 5.6.4, Mysql

### Steps to reproduce

1. Login to the site https://www.craftnshop.com/customer/account/login/
2. Login Credentials
Email: rajarshi.bhattacharjee@infoway.us
​Password: ​e!!ip$$is007
3. Add to cart any in stock product.
4. Go for checkout
5. Select online payment method
6. Click on place Order Button

### Expected result

1.  It shoul

[2017-10-05 10:37] DaimPiek commented on #6866
This problem still occurs in Magento 2.1.7. Both in sidebar as on the 'My account' page.

I managed to pinpoint the problem in the following function:
\Magento\Wishlist\Pricing\ConfiguredPrice\ConfigurableProduct::getValue

Which checks if a configurable product has an option selected. If that is not the case it just returns 0.0.

I wrote a plugin for this function returning the Minimum price inst

[2017-10-05 11:18] magento-engcom-team commented on #11228
Hi @andidhouse
Unfortunately, I could not reproduce the issue as you described it.
I try upgrade from 2.1.4 to 2.2.0 with sample data

[2017-10-05 11:22] Tantuss commented on #10705
Preconditions: Magento version: 2.2 and older version

Steps to reproduce:
Create an attribute with a multiselect and do not add any options to select.
It is not needed to assign it to an attribute set, even if it is not assigned, it will give the error.

Expected result
Possibility to add new products with another Attribute set then default.

 Actual result
Only the default product set will work

[2017-10-05 11:30] nelero commented on #11233
@ihor-sviziev : thanks for your reply. In fact it's not a cdn provider : cdndomain.com is a domain i own and manage and i pointed it like www.domain.com on the magento root folder. if i go to www.cdndomain.com, i see the magento website, like www.domain.com

If i put http://www.domain.com/static/ and http://www.domain.com/media/ => KO the files returned 404.
But you got me on the right way !
If i

[2017-10-05 11:30] magento-engcom-team commented on #7051
@sma09sjb, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 11:30] #7051 closed, assigned to odubovyk

[2017-10-05 11:30] magento-engcom-team commented on #7368
@ghost, thank you for your report.
We've created internal ticket(s) MAGETWO-60900 to track progress on the issue.

[2017-10-05 11:30] magento-engcom-team commented on #4641
@afavata, thank you for your report.
We've created internal ticket(s) MAGETWO-70040 to track progress on the issue.

[2017-10-05 11:30] magento-engcom-team commented on #7099
@thdoan, thank you for your report.
We've created internal ticket(s) MAGETWO-60691 to track progress on the issue.

[2017-10-05 11:30] magento-engcom-team commented on #6126
@Stylish015, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 11:30] #6126 closed, assigned to nobody

[2017-10-05 11:30] magento-engcom-team commented on #9055
@reztierk, thank you for your report.
We've created internal ticket(s) MAGETWO-80977 to track progress on the issue.

[2017-10-05 11:30] magento-engcom-team commented on #8957
@MarcoGrecoBitbull, thank you for your report.
We've created internal ticket(s) MAGETWO-70831, MAGETWO-73010 to track progress on the issue.

[2017-10-05 11:30] magento-engcom-team commented on #6434
@jwittorf, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 11:30] #6434 closed, assigned to nobody

[2017-10-05 11:30] magento-engcom-team commented on #7514
@skynixukraine, thank you for your report.
We've created internal ticket(s) MAGETWO-70566, MAGETWO-73054 to track progress on the issue.

[2017-10-05 11:30] magento-engcom-team commented on #4479
@ruby10, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-05 11:30] magento-engcom-team commented on #7515
@edelepine, thank you for your report.
We've created internal ticket(s) MAGETWO-61436 to track progress on the issue.

[2017-10-05 11:30] magento-engcom-team commented on #11228
@andidhouse, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-10-05 11:30] #11228 closed, assigned to nobody

[2017-10-05 11:30] magento-engcom-team commented on #11232
@BenSpace48, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-05 11:30] #11232 closed, assigned to nobody

[2017-10-05 11:30] magento-engcom-team commented on #11230
@bnymn, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-10-05 11:30] #11230 closed, assigned to magento-engcom-team

[2017-10-05 11:30] magento-engcom-team commented on #8592
@quagerty, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 11:30] #8592 closed, assigned to nobody

[2017-10-05 11:30] magento-engcom-team commented on #8621
@ajaysinghrana23, thank you for your report.
We've created internal ticket(s) MAGETWO-70378 to track progress on the issue.

[2017-10-05 11:30] magento-engcom-team commented on #8810
@radosdesign, thank you for your report.
We've created internal ticket(s) MAGETWO-70363 to track progress on the issue.

[2017-10-05 11:30] magento-engcom-team commented on #10412
@er453r, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 11:30] #10412 closed, assigned to nobody

[2017-10-05 11:31] NimishPawar commented on #5449
Thanks @manish10188

[2017-10-05 11:34] orlangur commented on #11227
And also a duplicate of https://github.com/magento/magento2/issues/11191#issuecomment-333818461. Please check release notes before reporting some changed behavior as a bug.

[2017-10-05 11:34] #11227 closed, assigned to nobody

[2017-10-05 11:35] andidhouse commented on #11228
@magento-engcom-team thank you for testing.

Did you test an updated version as well from 2.1.7 to 2.2.0 or just the 2.2.0 version?
I think it is important to test and updated version right?

Thanks!

[2017-10-05 11:37] alexpoletaev commented on #6522
Hi @asrar7787, we had this issue with the 3rd party module, but the problem is that magento always retrieves a quote (if the QuoteRepository was used) from the admin area for the **default** store, so you need to find the place where you catch this exception and provide a store id like this:

```$quote = $this->quoteRepository->get($quoteId, [$order->getStoreId()]);```

or, at least, like this:

`

[2017-10-05 11:38] lalitkumarjeengar opened #11244 "Shipping address not set. error in get shipping method rest api in magento2"
### Preconditions

1. Magento Version 2.1.5
2.  PHP 7.0
3. MySQL

### Steps to reproduce

1.  Create Cart Using /rest/V1/customers/{Customer_id}/carts
2.  Add Item into Cart Using /rest/V1/carts/mine/items
3.  Add Billing Address Using /rest/V1/carts/{Cart_Id}/billing-address
4. Get Shipping Method Using rest/V1/carts/{Cart_Id}/shipping-methods/

### Expected result

1.  List of available shipping

[2017-10-05 11:40] JeroenVanLeusden commented on #11241
Similar message as #9744, maybe related?

[2017-10-05 11:41] IAmTheVex commented on #11224
If this is how PHP developement works, then it sucks! I dont think that an update should destroy the old stores built with old APIs! This is horrible!

[2017-10-05 11:46] IAmTheVex commented on #11224
Something more... 2.1.7 to 2.2 is not.. in theory....  a "major" update

[2017-10-05 11:57] wintermute-84 opened #11247 "Shipping address missing after canceled payment redirect to checkout/#payment"
This issue was reported multiple times and every ticket is closed.
Like #5959

### Preconditions
1. Latest Magento 2.2.0
2. Payment method that uses redirected payment page
3. Ability to cancel payment to get back to checkout

### Steps to reproduce

1. Add product
2. Go to checkout, fill shipping address, go to the next step
3. Click pay with 3rd party payment provider
4. Cancel payment to get ba

[2017-10-05 12:06] Prad2703 commented on #11241
Dear Team,

This is not the similar issue. So please look after it.

​========================================​

Regards,

*Pradipta Sarkar* *Team Leader(Open Source), Production*
Infoway Technology Solution Limited
Module 301, 3rd Floor, 61/C G.T Road,
Serampore, WB - 712203, India.
------------------------------------------
IVR: 0.903.811.5400 | E: pradipta.sarkar@infoway.us <email@infoway.us>
w

[2017-10-05 12:12] orlangur commented on #8530
Steps to reproduce are invalid, `$store` model obviously cannot be passed to `\Magento\Framework\App\Config\ScopeCodeResolver::resolve`:

[code]

Other issues mentioned in discussion are bugs in third-party code which seem to be already fixed. Thanks for collaboration and help in sorting this out!

[2017-10-05 12:12] #8530 closed, assigned to magento-engcom-team

[2017-10-05 12:13] farhadfrz commented on #7199
Almost one year no fix?

[2017-10-05 12:24] EmilyPepperman commented on #9497
Similar issue with our site... still saw it in 2.1.8 and also think we still have it in 2.1.9  It is intermittent for our site though doesn't happen every single order.

[2017-10-05 12:30] magento-engcom-team commented on #7241
@spyrule, thank you for your report.
We've created internal ticket(s) MAGETWO-60288 to track progress on the issue.

[2017-10-05 12:30] magento-engcom-team commented on #11239
@jorgediezprada, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 12:30] #11239 closed, assigned to nobody

[2017-10-05 12:30] magento-engcom-team commented on #6507
@LordHansolo, thank you for your report.
We've created internal ticket(s) MAGETWO-58219 to track progress on the issue.

[2017-10-05 12:33] romainruaud commented on #10275
I'm working on it #SQUASHTOBERFEST

[2017-10-05 12:46] brandontamm commented on #11224
You can’t blame “destruction” of an old store on a software update. The human destroyed the store by not isolating new code in a dev environment and fully testing with the testing framework prior to releasing to production. Maybe I stated that wrong..roll back the update until you understand how core version control and deployment workflows.. can’t blame the gun for the human that pulled the trigg

[2017-10-05 12:47] JerVoo commented on #11224
@IAmTheVex actually, 2.1.7 to 2.2.0 is in fact a major update, just not in the Magento version itself. The framework has been upgrade from version 100.x.x to version 101.0.0, making this in fact a major upgrade.

On the other hand, there's a documentation about Magento's versioning strategy available, which clearly states this should be treate as a major update. See http://devdocs.magento.com/guid

[2017-10-05 12:47] brandontamm commented on #11224
And clearly you didn’t read the release notes even so how would you know what to test 😂

It is a major update - you should also brush up on your hit versioning knowledge as well.

Brandon Tamm
Sent from Mobile

[2017-10-05 12:49] andkirby opened #11248 "Hardcoded attributes list in Type\Grouped::getAssociatedProducts() method"
### Preconditions
**Magento version:** 2.2.

### Steps to Reproduce
It looks like there are hardcoded attributes in simple products list of the grouped one.
`\Magento\GroupedProduct\Model\Product\Type\Grouped::getAssociatedProducts()`
[code]

**Actual Result:** Child products of a *grouped* product have only mentioned attributes.

**Expected Result:** Child products of a *grouped* product have the

[2017-10-05 12:53] andidhouse commented on #11224
It is not relevant if this is a major or minor upate.

For us as a company it is just relevant how much time and stress an update is causing.
And this one, again - causes massive problems meaning massive financial effort on our side.
Everyone has to decide if this is worth it in a future perspective - we saw no clean update so far from the magento2 team.

All in all we just updated an orocommerce

[2017-10-05 13:04] JerVoo commented on #11224
@andidhouse I must say, this is the first update since 2.1.6 I've seen that is causing issues. Updating from 2.1.6 to 2.1.7 to 2.1.8 to 2.1.9 I have had no issues. It was a simple as running a composer update, cleaning the caches and the generated files (var/cache, var/page_cache, var/generation, var/di, pub/static/frontend, pub/static/adminhtml, pub/static/_cache and pub/static/_requirejs), runni

[2017-10-05 13:09] nmallepally commented on #9497
Still a issue in Magento 2.1.8 very critical, happens randomly on orders.
Any work around or a fix available ?. as we are losing sales and won't even show as a pending order on the backend.

[2017-10-05 09:42:07] main.CRITICAL: Exception message: We can't initialize Express Checkout.
[2017-10-03 09:27:02] main.CRITICAL: Exception message: We can't initialize Express Checkout.
[2017-10-02 13:02:54]

[2017-10-05 13:10] brandontamm commented on #11224
I agree that:
- There should have been better communication in release notes
- This is a major upgrade and will require major effort

But sometimes life on the other side of the hurdle is pretty great, right? I mean, you chose Magento because of the features and in order to keep up with technological enhancements of Magento's competitors (just like yours) you have to keep up and better yourselves

[2017-10-05 13:14] andidhouse commented on #11224
@JerVoo we can not confirm smooth updates here with extensions installed.
Maybe on a clean system it is easier but the plus of magento and magento2 where and are the extensions that are available - and you can ask companies like amasty, aheadworks or name all the other big ones... updates of magento cause problems on the row with every update.

In my mind to put 90% functions in magento2 instead o

[2017-10-05 13:22] brandontamm commented on #11224
So you're truly referencing that the extensions are breaking code? Which 9 times out of 10 is the case.

First, you shouldn't be upgrading Magento until your extension developers have released and verified the code compatible with each new release.

Second, you should be updating the code and reintroducing each extension and full unit testing in each case.

Third, you should be developing your own

[2017-10-05 13:30] magento-engcom-team commented on #8954
@rendyep, thank you for your report.
We've created internal ticket(s) MAGETWO-80999 to track progress on the issue.

[2017-10-05 13:30] magento-engcom-team commented on #7167
@dmcmillin, thank you for your report.
We've created internal ticket(s) MAGETWO-69962 to track progress on the issue.

[2017-10-05 13:30] magento-engcom-team commented on #7973
@sbw92, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 13:30] #7973 closed, assigned to nobody

[2017-10-05 13:30] magento-engcom-team commented on #9028
@jameshalsall, thank you for your report.
We've created internal ticket(s) MAGETWO-80996 to track progress on the issue.

[2017-10-05 13:30] magento-engcom-team commented on #9787
@msawyers, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-05 13:30] #9787 closed, assigned to nobody

[2017-10-05 13:30] magento-engcom-team commented on #4177
@AlexanderVekerik, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-05 13:30] #4177 closed, assigned to nobody

[2017-10-05 13:30] magento-engcom-team commented on #7304
@deepak-netwin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 13:30] #7304 closed, assigned to nobody

[2017-10-05 13:30] magento-engcom-team commented on #9054
@cykirsch, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 13:30] #9054 closed, assigned to nobody

[2017-10-05 13:30] magento-engcom-team commented on #7493
@minhluan259, thank you for your report.
We've created internal ticket(s) MAGETWO-70058 to track progress on the issue.

[2017-10-05 13:31] ihorkalaida commented on #11110
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'block', attribute 'class': [facet 'pattern'] The value '\Magento\Framework\View\Element\Template' is not accepted by the pattern '[A-Z][a-zA-Z\d](\[A-Z][a-zA-Z\d])*'.

\Magento\Framework\View\Element\Template -> Magento\Framework\View\Element\Template

In layout, the attribute class should be specified without "\"

<block cl

[2017-10-05 13:31] tadhgbowe commented on #8508
Hi @barbazul. Thanks for the update. The workaround mentioned from June 1st works fine in 2.1.7. If I get a chance here I will try it out on a fresh 2.1.8. install. Shame.
Please Note: if you have multiple locales (i.e. many store views with different languages) the deployment to production will most likely corrupt your js-translation.json file. Problem has been reported on 2.2.0. But it also exis

[2017-10-05 13:32] magento-engcom-team commented on #8754
it is a duplicate #11026

[2017-10-05 13:32] #8754 closed, assigned to magento-engcom-team

[2017-10-05 13:34] orlangur commented on #11248
You can easily customize `\Magento\GroupedProduct\Model\Product\Type\Grouped::getAssociatedProductCollection` as far as I see.

Please clarify exact methods to look into to compare with grouped.

[2017-10-05 13:38] andidhouse commented on #11224
@brandontamm - i have no idea what your comment should solve here?

In fact you see that M2 has major problems right?
Or why in your opinion are close to 2.000 open bugreports here and hundreds of closed ones but not fixed?

Every software has bugs - that is true. But nothing comes close to the M2 release since day one and i am not talking about small bugs which do not influence the sales at an ec

[2017-10-05 13:41] orlangur commented on #11110
@andidhouse all errors you mentioned looks pretty straightforward to me, please point out which of them seems vague to you.

Basically it seems like XSD schemas were not changed but somehow validation didn't work properly before.

For example, this means that `before` attribute is useless for `<referenceContainer`, you should use it only with `<container`.

[2017-10-05 13:41] IAmTheVex commented on #11224
@brandontamm we have a very good development workflow.. no need to reevaluate that! the problem here is that we are a company that develops and deploys software for others! every minute spent on doing anything else than coding means lost time, so lost money! the fact that i had to tell my client that the job is not done today, even if this should have been, caused a lost of trust... also, the comm

[2017-10-05 13:44] peltiereffects commented on #11190
I think I found the issue and the solution.  In Magento 2.2 the file does not exist - vendor/magento/module-backend/Model/View/Layout/GeneratorPool.php  .  So a clean install of 2.2 does not have any issues.  But when you upgrade from Magento 2.1 to Magento 2.2 this file is left in the folder but it should not be there.  If you delete the file Magento 2.2 upgrade works

[2017-10-05 13:53] surfer190 commented on #8754
Semantics, but it can't be a duplicate.
If this issue was reported on 2 March and the apparent duplicate in late September.
But whatev's

[2017-10-05 14:20] okorshenko commented on #10275
@romainruaud could you please accept the invitation to magento/magento2 on the GitHub?

[2017-10-05 14:22] romainruaud commented on #10275
@okorshenko done !

[2017-10-05 14:23] ihor-sviziev commented on #9599
@okorshenko how it was fixed? How can I find fix for this issue?

[2017-10-05 14:30] magento-engcom-team commented on #8890
@phoenix128, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-05 14:30] #8890 closed, assigned to nobody

[2017-10-05 14:30] magento-engcom-team commented on #6713
@mgomez-dgt, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-05 14:30] magento-engcom-team commented on #6720
@TClilMouse, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-05 14:30] #6720 closed, assigned to nobody

[2017-10-05 14:30] #8588 closed, assigned to madotto, magento-engcom-team

[2017-10-05 14:30] magento-engcom-team commented on #6554
@senthilengg, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 14:30] #6554 closed, assigned to nobody

[2017-10-05 14:30] magento-engcom-team commented on #6610
@ludwig-gramberg, thank you for your report.
We've created internal ticket(s) MAGETWO-59126, MAGETWO-81006 to track progress on the issue.

[2017-10-05 14:30] magento-engcom-team commented on #5196
@toweringmedia, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-05 14:30] jorgediezprada commented on #11239
I can give you access to cpanel if you want. That way you will see the error.

[2017-10-05 14:37] justenpeters commented on #2904
We're experiencing this with 2.1.9 as well. When looking in the sales_order table it looks like the customer is emailed. We've yet to confirm with a customer, but everything in the DB suggests that they have. We were also set to receive a copy of the order confirmation email, but never received them.

[2017-10-05 14:39] nickbartlett commented on #9848
OK, we will test it again shortly.  Please do not close this issue.

[2017-10-05 14:47] twain83 opened #11251 "Maento 2.1 don't switch language after switch by language picker"
Site address: http://booking.dev-efresh.pl

I've got problem with language translations to english, polsih and gernam.

### Preconditions
Magento Running TemplateMonster Framework
1.  1 website, 1 store, 3 storeview (polish default, english, german)

### Steps to reproduce

1. Go to site http://booking.dev-efresh.pl
2. Change language pickerlanguage to another (default is english)

### Expected re

[2017-10-05 14:48] am2008 commented on #7367
Why topic closed?

[2017-10-05 14:50] orlangur commented on #11224
@IAmTheVex

Well, I don't know why root cause of this problem is not clear after 20+ hours since it was reported.

To investigate what exactly is going on you just need to set conditional breakpoint in `\Magento\Framework\View\Page\Config\Generator\Head::processAssets` with condition `!isset($data['src'])`. Hope you have developers familiar with xdebug?

On the first glance it looks like some of y

[2017-10-05 14:51] joni-jones commented on #11241
Magento does not provide support for custom payment integrations, please, confirm if this issue reproducible with out of box payment solutions.

[2017-10-05 14:53] am2008 commented on #10531
Before 2.2 release price indexing was "invisible". In 2.2 it takes very long time.

[2017-10-05 14:59] magento-engcom-team commented on #11244
@lalitkumarjeengar As message suggests, try adding a shipping address.
For additional guidance you may refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-05 14:59] #11244 closed, assigned to nobody

[2017-10-05 15:00] magento-engcom-team commented on #11189
@palo Thanks for the feedback.
Unfortunately, we can not fix issue until it will be reproduced. And currently we can not reproduce this issue on clean Magento installation.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is inte

[2017-10-05 15:00] #11189 closed, assigned to magento-engcom-team

[2017-10-05 15:13] romainruaud commented on #10317
I'm working on it #SQUASHTOBERFEST

[2017-10-05 15:14] manuelson commented on #11220
Hello,
Can you detail if you use any template? Or if you have any console error ?
Thanks

[2017-10-05 15:16] stevenlavine opened #11252 "Custom attribute - File not allowing uploads"
### Preconditions

1. Magento 2.1.9
2. PHP 7.0.2
3. MySQL 5.7

### Steps to reproduce

1. Create a customer file upload attribute
2. View the customer information in the CMS
3. upload a file - in my case a PDF

### Expected result

1. the uploaded file appears in the customer form

### Actual result

1. Popup appears stating something went wrong with saving the file
2. In the apache error log the

[2017-10-05 15:17] heyepic commented on #11220
No console error I'm noticing: https://shop.precisionturbo.net/customer/account/create/
This theme: https://themeforest.net/item/orson-ultimate-magento-2-1-theme/16798772

Worked fine prior to 2.2 upgrade. Looks like the account creation wasn't really customized by the theme so nothing is sticking out to me. Thanks for responding.

[2017-10-05 15:19] sambalay opened #11253 "Failed to read 'localstorage' property"
### Preconditions

1. Magneto 2.1.8
2. PHP 7.0

We are getting localstorage errors and unable to proceed to cart /checkout

QuotaExceededError: Failed to execute 'setItem' on 'Storage': Setting the value of 'mage-cache-storage' exceeded the quota - chrome
NS_ERROR_DOM_QUOTA_REACHED: Persistent storage maximum size reached - firefox

Raw stack traceclose

r@https://xyz.com/static/frontend/Newlu/new

[2017-10-05 15:23] manuelson commented on #11220
Request URL:https://shop.precisionturbo.net/customer/account/createpost/
Request Method:POST
**Status Code:302**
Remote Address: {security reasons}.221:443

You modify the .htaccess or any directive from apache?

[2017-10-05 15:27] heyepic commented on #11220
No modifications to .htaccess or anything dealing with apache. Simply did the upgrade to 2.1.9 using the web setup wizard. User account registration worked fine on 2.1.5 (what it was on prior to upgrade).

Copy of .htaccess in root mag2 folder:
`# All explanations you could find in .htaccess.sample file
DirectoryIndex index.php
<IfModule mod_php5.c>
    php_value memory_limit 768M
    php_value ma

[2017-10-05 15:30] magento-engcom-team commented on #8855
@pisc-software, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-05 15:30] #8855 closed, assigned to nobody

[2017-10-05 15:30] magento-engcom-team commented on #7947
@flnative, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 15:30] #7947 closed, assigned to alena-marchenko, dyushkin

[2017-10-05 15:30] magento-engcom-team commented on #4495
@icenero, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-05 15:30] #4495 closed, assigned to nobody

[2017-10-05 15:32] manuelson commented on #11220
I'll check the issue. Keep in touch
Thanks

[2017-10-05 15:40] orlangur commented on #11224
@andidhouse, I feel like I'm banging my head against the wall but anyway...

Once again not tested by the magento team - in no way!

It is tested. Magento cannot test third-party extensions or customizations done for particular stores.

It depends on quality of extensions you use and on quality of customizations performed by your team mostly. Fragile code produces broken updates while in vanilla M

[2017-10-05 15:41] elektrozitrone opened #11255 "APS package deinstallation with table prefixes purges whole database"
This bug is about the packaging at:
https://dev.apsstandard.org/apps/1.2/www.magentocommerce.com/magento/Plesk/

I did not find a source repository of the APS package installation logic nor any issue tracker more fitting than this one. I guess the packaging was on behalf of magento.com but I wasn't able to evoke some response on https://magento.com/contact-us
Neither was I able to report this on p

[2017-10-05 15:41] manuelson commented on #11220
I was checking your issue and I think the problem is the theme version. You need include in your register form this line:
<input name="form_key" type="hidden" value="{the key value}">
(Check Luma theme)

This input is included for security reasons in the lastest revisions.
Check and tell me if it is work.

[2017-10-05 15:50] manuelson commented on #11220
I will check in your personal page this issue. I take your form_key from the cookies info and i modify by console the HTML to include the form_key. This is a result:

https://ibb.co/hhPK8w

[2017-10-05 15:55] heyepic commented on #11220
Brilliant - works with:
`<input name="form_key" type="hidden" value="<?php echo $block->getFormKey();?>">`

Thanks so much Manu!

[2017-10-05 15:55] #11220 closed, assigned to nobody

[2017-10-05 15:55] egomez16 opened #11256 "Image doesnt upload when draging or selecting it into the box."
When trying to put a image for a product it doesnt upload. It loads for a few seconds and then ends up saying drag into box or select image again. Need urgent help :) please and thank you!¡!¡!¡!¡!

[2017-10-05 16:17] andidhouse commented on #11224
@orlangur this is exactly what the magento team is doing for close to 1.5 years - you state all is perfect and nothing is a problem and the software works fine without any major problems.

I think this is really the problem - instead of self reflecting that the m2 system was put out way to early as a stable version with 2.0.0 on the market (in fact 2.0.0 is far away from stable) you guys always ke

[2017-10-05 16:18] brandontamm commented on #11224
@orlangur - Nothing is missing except for the clarity. For instance, highlights could include something so people stop and think before doing something silly like upgrading production directly ;) Adding some verbiage like below examples to http://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.0CE.html  would be helpful to avoid these scenarios:
- Please view backwards compatibility

[2017-10-05 16:20] okorshenko commented on #11224
Hi All, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion.  The GitHub issue tracker is intended for Magento Core technical issues only, but not for general discussion of eCommerce market.

[2017-10-05 16:30] magento-engcom-team commented on #8811
@ksz2013, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-05 16:30] #8811 closed, assigned to nobody

[2017-10-05 16:30] mokanfar commented on #1726
My only recommendation after looking for solutions other than developing with M2 on localhost is to create an expensive droplet, develop on it and when you are done make a snapshot, and destroy the droplet so you won't pay. It's a pain but it's the cheapest solution. Droplet snapshots are 5 cents per gigabyte monthly.

[2017-10-05 16:49] PhiIipp commented on #10821
Hello,
installed xdebug and debugged a bit.  Looks like its an issue with a class path it cant find EmailAddress.php validator..

**EmailAddress.php validator can be found here**
`tarnava-ro@mail:/opt/plesk/php/7.0/share/pear$ locate EmailAddress.php|grep tarnava.ro

/var/www/vhosts/tarnava.ro/httpdocs/vendor/magento/framework/Validator/EmailAddress.php
/var/www/vhosts/tarnava.ro/httpdocs/vendor/m

[2017-10-05 16:53] PhiIipp commented on #10821
Hello All,
good news !! found the root cause :-)

Prolem with the PLESK PHP seetings. Plesk includes per default some wired zend directories ..
In the option "include_path"

![plesk](https://user-images.githubusercontent.com/1408012/31239618-53314ad6-aa30-11e7-877e-d64c10482ceb.PNG)

![before](https://user-images.githubusercontent.com/1408012/31239624-5949f59e-aa30-11e7-858d-87f171c29597.PNG)

![a

[2017-10-05 17:00] kimVinqueur opened #11257 "Order date discrepancy on printing order"
### Preconditions

1. Magento 2.1.5 CE
2. PHP 7.0.18 and MySQL 14.14

### Steps to reproduce

1. Print Invoice
2. var_dump($order->getCreatedAt()) in function **insertOrder** (vendor/magento-sales/Model/Order/Pdf/AbstractPdf)

### Expected result

2017-10-04 17:40:40 (Timezone : America/New-York)

### Actual result

**Screenshot Admin :**
![screen shot 2017-10-04 at 6 14 20 pm](https://user-images

[2017-10-05 17:02] orlangur commented on #10821
@PhiIipp great finding! But after https://github.com/magento/magento2/commit/0b659d2613eeb53360c73108f7d71b808d4bbf28#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780L220 Magento is not using `include_path` at all, why ZF1 was not found in `vendor` with regenerated composer autoloader? Maybe some manual changes needed in `composer.json` to make 2.2 upgrade seamless on Plesk?

@ravibhoraniya please check if i

[2017-10-05 17:04] magento-engcom-team commented on #10631
@Aggreyluts we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 17:04] #10631 closed, assigned to magento-engcom-team

[2017-10-05 17:05] orlangur commented on #11253
Please check contents of localStorage in Chrome Dev Tools. Is it filled with some core-specific data or there is some extension storing too much information?

[2017-10-05 17:06] magento-engcom-team commented on #10533
@thienphucvx we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 17:06] #10533 closed, assigned to magento-engcom-team

[2017-10-05 17:07] magento-engcom-team commented on #10447
@synpatic we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 17:07] #10447 closed, assigned to magento-engcom-team

[2017-10-05 17:07] orlangur commented on #1726
M2 is quite fine even in developer mode and all caches disabled under PHP7. So, if local environment is slow, it should be investigated and fixed. Usually it happens due to slow NFS/Samba file operations.

[2017-10-05 17:09] am2008 commented on #11170
And again...
**1. Same problems on local WAMP.**
I'm successufully installed Magento 2.2 CE on local env(OpenServer) there no file permission related problems and got same result - all static content gives 404. **In static folders again - only one requirejs-config.js**
![image](https://user-images.githubusercontent.com/14186132/31239731-c8257684-aa06-11e7-9518-380baff7d687.png)
Note - it is clean

[2017-10-05 17:10] magento-engcom-team commented on #9993
@DavidLambauer we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue. Feel free submit PR.

[2017-10-05 17:10] #9993 closed, assigned to magento-engcom-team

[2017-10-05 17:12] magento-engcom-team commented on #9175
@surajsanchit we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 17:12] #9175 closed, assigned to magento-engcom-team

[2017-10-05 17:14] GBeushausen commented on #1726
@orlangur Why do you keep telling people that Magento 2 is not slow in development mode? This is not true, we already had this discussion months ago. The whole Internet is full of people complaining about how slow Magento 2 is. Page reload in Magento 2 takes 40 seconds, even on the fastest MAC SSD which dies more than 1200 MB / sec.

[2017-10-05 17:26] orlangur commented on #1726
This is not true, I'm using such MacBook as well. Try tuning your env maybe or https://github.com/weprovide/valet-plus, which I already mentioned.

[2017-10-05 17:30] GBeushausen commented on #1726
Sorry, but Magento 1 does run fine in any environment. It runs finde with all caches turned off using either Apache on localhost, VMWare, VirtualBox, Docker, NFS Volume even in Windows with XAMPP it works totally fine. But with Magento 2 the only option to get it to accaptable speed is using valet-plus? I think Magento 2 is just a huge ill designed software.

[2017-10-05 17:35] orlangur commented on #11224
Stopping as well.

I didn't mean that core code was changed improperly during customization, just that upgrade issues are usually caused by core customizations in extensions or `/app/code` (sometimes developer has to rely on core internals if there is no suitable `@api` marked extension code, breakage of such logic is expectable and needs to be monitored during upgrades as core implementation may

[2017-10-05 17:38] smartakshay commented on #11221
We are also facing the same issue.

[2017-10-05 17:44] orlangur commented on #1726
It would be really nice if you raise such topic in [Community Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests), it will bring more attention and collectively we = Community can investigate every such case and bring all recipes into some HOWTO.

Magento 2 is not supposed to be faster than Magento 1 in developer mode, it is much more flexible, contains

[2017-10-05 17:48] georgios-2317 commented on #1726
@GBeushausen I am not saying M2 is fast in terms of development but your reported speeds here suggest you may have a problem. I am running M2 on both laptop MacBook Pro and iMac, with SSD on laptop and hybrid on iMac and I am definitely getting better speeds. That is with 5K+ categories and 17K products. Could it be that you have too many things in terms of caching switched off? If you have all di

[2017-10-05 17:55] GBeushausen commented on #1726
Thanks for you help. I just lost hope by seeing that the whole Internet is full of people having the same problems like me and all the solutions they ever got was to turn on the cashes. But how can you develop a theme when caches are turned on? https://www.google.de/search?q=magento+2+development+very+slow&ie=utf-8&oe=utf-8&client=firefox-b&gfe_rd=cr&dcr=0&ei=THDWWcabO6yDX_jRoZgE

@georgios-2317 I

[2017-10-05 17:57] magento-engcom-team commented on #8866
Hi @Parakoopa if there is an issue with documentation, please, report an issue to devdocs repository as @korostii suggested

[2017-10-05 17:57] #8866 closed, assigned to magento-engcom-team

[2017-10-05 17:58] magento-engcom-team commented on #6865
@mattcoz we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:01] hostep commented on #11228
@andidhouse: if you can provide a simple reproducible case of how it fails it will help tremendously. Right now your report is too vague to make anything of it (I'd search your database for incorrectly [serialized](http://php.net/manual/en/function.serialize.php) or [json encoded](http://php.net/manual/en/function.json-encode.php) data, it sounds like a problem in that area).

And yes there are up

[2017-10-05 18:03] magento-engcom-team commented on #4379
@viktor-zhuromskyy we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:03] #4379 closed

[2017-10-05 18:04] magento-engcom-team commented on #2816
@ci2014 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:04] #2816 closed, assigned to magento-engcom-team

[2017-10-05 18:06] georgios-2317 commented on #1726
@GBeushausen not to tire you, just sharing my strategy here. Depending on the type of module I am working on and the area it is effecting I switch off page_cache and maybe blocks cache. If I am not developing anything effecting the front-end I switch off only the cache that will trigger my call again. Usually page_cache. I do not switch any of the other caches off (again unless I am effecting them

[2017-10-05 18:07] magento-engcom-team commented on #9535
@Rockfordgun we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:07] #9535 closed, assigned to magento-engcom-team

[2017-10-05 18:07] magento-engcom-team commented on #3913
@pynej we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:07] #3913 closed, assigned to magento-engcom-team

[2017-10-05 18:07] orlangur commented on #1726
This is quite a different story, the best approach according to my knowledge is using client side compilation: http://devdocs.magento.com/guides/v2.2/frontend-dev-guide/css-topics/css_debug.html

That is way far from normal. Please stick to this particular environment we want to fix, create a topic in Community Forum describing all the details and post a link here.

[2017-10-05 18:08] magento-engcom-team commented on #10478
@jobsmartdesigner1507 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:08] #10478 closed, assigned to magento-engcom-team

[2017-10-05 18:08] magento-engcom-team commented on #10492
@Filsborne we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:08] #10492 closed, assigned to magento-engcom-team

[2017-10-05 18:09] magento-engcom-team commented on #10911
@Cristalline we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:09] #10911 closed, assigned to magento-engcom-team

[2017-10-05 18:09] magento-engcom-team commented on #10468
@jessp855 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:09] #10468 closed, assigned to magento-engcom-team

[2017-10-05 18:10] magento-engcom-team commented on #10928
@lbajsarowicz we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:10] #10928 closed, assigned to magento-engcom-team

[2017-10-05 18:10] georgios-2317 commented on #1726
Why would you ever need to have *all* caches turned off? Even for theme I cannot see the need for config to be off (for example).

[2017-10-05 18:10] magento-engcom-team commented on #1386
@Opticcenter we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:10] #1386 closed

[2017-10-05 18:12] magento-engcom-team commented on #5141
@paales we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:12] #5141 closed, assigned to magento-engcom-team

[2017-10-05 18:12] magento-engcom-team commented on #10906
@reihaan we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:12] #10906 closed, assigned to nobody

[2017-10-05 18:12] marinagociu commented on #10477
I'm working on it #SQUASHTOBERFEST

[2017-10-05 18:14] magento-engcom-team commented on #10912
Hi @IlnitskiyArtem unfortunately, we can not reproduce the issue on 2.1.9, 2.2.0. Please, try your flow on clean magento installation and supported OS

[2017-10-05 18:14] #10912 closed, assigned to nobody

[2017-10-05 18:16] #10938 closed, assigned to nobody

[2017-10-05 18:16] magento-engcom-team commented on #10944
@tomnyson we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:16] #10944 closed, assigned to nobody

[2017-10-05 18:17] magento-engcom-team commented on #7219
@carfantasy we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:17] #7219 closed, assigned to magento-engcom-team

[2017-10-05 18:17] magento-engcom-team commented on #7427
@fxdegroot we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:17] #7427 closed, assigned to magento-engcom-team

[2017-10-05 18:17] magento-engcom-team commented on #7654
@erik-augustin we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:17] #7654 closed, assigned to magento-engcom-team

[2017-10-05 18:17] magento-engcom-team commented on #7801
@zhulak we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:18] magento-engcom-team commented on #7884
@alen9788 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:18] #7884 closed, assigned to magento-engcom-team

[2017-10-05 18:18] shaunepm commented on #9345
@magento-engcom-team I don't understand why you would say it "seems to be correct Magento behavior." Is there a reason that you know of that it should behave this way? Perhaps there is some feature we don't grok that is obvious to you. jmonsche's example of an order being placed just before an admin user clicks the save button on the admin product page is an extremely worrisome behavior.

Or perha

[2017-10-05 18:18] magento-engcom-team commented on #8218
@Strangerida we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:18] #8218 closed, assigned to magento-engcom-team

[2017-10-05 18:18] magento-engcom-team commented on #8461
@iprabhakar we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:18] #8461 closed, assigned to nobody

[2017-10-05 18:18] magento-engcom-team commented on #8979
@pisc-software we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:18] #8979 closed, assigned to nobody

[2017-10-05 18:18] magento-engcom-team commented on #9425
@jigar48 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:18] #9425 closed, assigned to nobody

[2017-10-05 18:19] magento-engcom-team commented on #9883
@irinikp thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to

[2017-10-05 18:19] #9883 closed, assigned to nobody

[2017-10-05 18:20] magento-engcom-team commented on #10443
@karthi5053 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:20] #10443 closed, assigned to magento-engcom-team

[2017-10-05 18:20] magento-engcom-team commented on #10849
@mohsinleads we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:20] #10849 closed, assigned to nobody

[2017-10-05 18:20] magento-engcom-team commented on #10851
@Wettons we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:20] #10851 closed, assigned to nobody

[2017-10-05 18:20] magento-engcom-team commented on #10878
@webmak we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:20] #10878 closed, assigned to nobody

[2017-10-05 18:21] magento-engcom-team commented on #10879
@Amelia- we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:21] #10879 closed, assigned to nobody

[2017-10-05 18:21] magento-engcom-team commented on #10895
@angelflorida we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-05 18:21] #10895 closed, assigned to nobody

[2017-10-05 18:25] magento-engcom-team commented on #10477
Hi @minosss could you please accept the invitation to magento/magento2 repository ?

[2017-10-05 18:27] sbwcws opened #11258 "Missing /var/di folder in Magento 2.2"
I ran php bin/magento setup:di:compile

I am missing /var/di folder

[2017-10-05 18:30] hostep commented on #11258
Check your `generated/` directory, it has been moved over there in Magento 2.2

Please close this issue and next time, please discuss this over at https://magento.stackexchange.com/, Github isn't really meant for questions like these :)

[2017-10-05 18:31] magento-engcom-team commented on #7168
@ewallkrishnaprakash, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-05 18:31] #7168 closed, assigned to nobody

[2017-10-05 18:37] sbwcws commented on #11258
Thanks & Sorry ...

[2017-10-05 18:50] orlangur commented on #11258
No problem, biggest surprises may be avoided if one get familiar with https://devdocs.magento.com/guides/v2.2/release-notes/backward-incompatible-changes.html before upgrade 😉

[2017-10-05 18:50] #11258 closed, assigned to nobody

[2017-10-05 18:51] marinagociu commented on #10477
Hi @okorshenko can you please assign the task to me? @minosss is the reporter.

[2017-10-05 18:59] coleHafner opened #11259 "Coupon code is not valid error when using REST API - Magento CE 2.17, 2.1.8 2.1.9"
### Summary
When applying a coupon code to a qualifying cart (ie cart that has the items in it to which the specific coupon code applies), the coupon code is denied. The system returns a 500 error "Coupon code is not valid".

### Preconditions
1. Magento Open Source version 2.1.9 (also experienced this error on 2.1.7 and 2.1.8) - No plugins/modules enabled.
2. Ubuntu version 14.04.5
3. Nginx versi

[2017-10-05 19:05] orlangur commented on #11170
@am2008 don't use WAMP, don't use XAMPP, don't use OpenServer - Windows is not supported and obviously there will be bugs.

[2017-10-05 19:08] orlangur commented on #11228
Similar error was already reported and successfully solved by cache clearing.

Another possible reason is some custom serialized data in database, check https://devdocs.magento.com/guides/v2.2/release-notes/backward-incompatible-changes.html#database-data-format-changes section.

[2017-10-05 19:18] coleHafner opened #11260 "Invalid form key while paginating products in category - Magento CE 2.1.7"
### Summary
While managing products in a category, I cannot paginate to the next page or (sometimes) change the items per page without receiving an 'invalid form key' error.

### Preconditions
1. Magento Open Source version 2.1.7, no plugins/modules enabled.
2. Ubuntu version 14.04.5
3. Nginx version 1.10.2
4. PHP version 7.0.14
5. Mysql version 14.14

### Preconditions
1. Magento Open Source vers

[2017-10-05 19:46] okorshenko commented on #10477
Fixed

[2017-10-05 20:00] orlangur commented on #11181
Could you please remove `vendor/*` and execute `composer clear-cache`?

[2017-10-05 20:09] marinagociu commented on #10477
Thanks @okorshenko!

What I found investigating the issue is that for products subselections only the items that are visible in cart are checked against the specified conditions.
In the case described by the reporter, a configurable product was added to cart, and the condition specified on the subselection was based on the color attribute.
The rule was not applied because the configurable product

[2017-10-05 20:12] okorshenko commented on #11224
Hi @IAmTheVex
Unfortunately, we can not reproduce the issue on our side. All Upgrade Tests successfully passed + we retested the upgrade process one more time manually.  On clean Magento installation upgrade works well.
As I see from the log you have installed `TemplateMonster_SiteMaintenance` and `TemplateMonster_LayoutSwitcher`. We can not test upgrade process with 3rd party extensions that you

[2017-10-05 20:12] #11224 closed, assigned to nobody

[2017-10-05 20:17] osrecio commented on #9968
Created 2.2-develop Backport @okorshenko

[2017-10-05 20:25] am2008 commented on #11170
@orlangur ok, but LAMP have same issue as WAMP(by the way, magento works well local environment, as example - Bitnami Magento Stack).
I write again: **sometimes magento refuses to generate static content, only requirejs-config.js file appears**. I have two magento 2.2 installation in one container(prod+dev). Dev worked two days and was broken(see first post), after reassambling he's ok. Prod is cl

[2017-10-05 20:31] okorshenko commented on #11256
@egomez16 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps t

[2017-10-05 21:16] jasonevans1 commented on #10411
I'm working on it #SQUASHTOBERFEST

[2017-10-05 22:05] magento-engcom-team commented on #7772
@rbostan, thank you for your report.
We've created internal ticket(s) MAGETWO-81038 to track progress on the issue.

[2017-10-05 22:07] okorshenko commented on #10411
Hi @jasonevans1 could you please accept an invitation from magento/magento2 ?

[2017-10-05 22:39] pemacviper opened #11262 "TinyMCE (WYSIWYG) is not showing up in form field in Adminhtml DynamicRows container when more than one instance of row is called"
### Summary (*)
Hi all,
I'm developing a module where I need in Adminhtml form in a dynamicRows UI component a WYSIWYG (TinyMCE) form field. I made it work so far...but...first some facts:

### Preconditions (*)
Magento 2.3.x & 2.4-develop

**Envelopment:**
DEV
- OS: OSX
- LAMP: MAMP Pro V 4.2
- Magento2 V.2.1.9
- PHP: 7.0.20
- mySQL: 5.6.35
- Several WYSIWYG editors in Adminhtml Form - outside an

[2017-10-06 00:08] nick-iFactory commented on #6522
I was having trouble finding the correct place to place the code mentioned above. I was eventually able to work out a slightly hacky way of doing this (do it at the start of all order saves in admin). I'm still testing this for any possible issues it might cause so use at your own risk

/vendor/magento/module-sales/Controller/Adminhtml/Order/Create/Save.php
try {
    // hack to let it save in mult

[2017-10-06 03:25] eharvest opened #11263 "Error when adding custom attributes: "The value of Admin scope can't be empty.""
### Preconditions

1. Magento 2.2.0
2. Linux VPS Ubunut 16.0.4, PHP7

### Steps to reproduce

1. Add new custom attributes and choose drop down
2. Add attribute value
3. Add more than one empty fields then delete the empty fields
3. Save Attribute

### Expected result

1. Attribute saved successfully

### Actual result

1. Unable to save attribute, error message: The value of Admin scope can't be

[2017-10-06 05:45] orlangur commented on #6522
@alexpoletaev probably fixed in https://github.com/magento/magento2/commit/e93c44e66d256836c18e6a5e7e9f24623f05e25b (`2.2.x` branch only).

[2017-10-06 05:52] orlangur commented on #9883
Hi @irinikp, it is absent intentionally, please check https://magento.stackexchange.com/a/98966/40869 for more details.

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2017-10-06 06:10] raumatbel commented on #10485
Assign to me

[2017-10-06 06:10] raumatbel commented on #10580
Assign to me

[2017-10-06 06:30] magento-engcom-team commented on #5813
@connectjames, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-06 06:30] #5813 closed, assigned to nobody

[2017-10-06 06:30] magento-engcom-team commented on #7321
@tgsergiu, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-06 06:30] #7321 closed, assigned to nobody

[2017-10-06 06:30] magento-engcom-team commented on #11231
@BenSpace48, thank you for your report.
We've created internal ticket(s) MAGETWO-81048 to track progress on the issue.

[2017-10-06 06:41] patrikpihlstrom commented on #10893
I can take a look at this later today if nobody else has claimed it.

[2017-10-06 06:44] ThisIsRuddy commented on #7199
Ridiculous 😭😂

On Thu, 5 Oct 2017, 13:14 farhadfrz, <notifications@github.com> wrote:

[2017-10-06 06:49] esimov opened #11264 "Magento 2.2.0 does not support nullable return types on PHP 7.0.24"
### Preconditions

1. Magento 2.2.0
2. PHP 7.0.24

### Steps to reproduce

Checking the system requirements for Magento 2.2.0 on http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html#php it shows that PHP 7.0 is supported, however the VarTag.php file under vendor/zendframework/zend-code/src/Reflection/DocBlock/Tag/ contains a few methods which returns nullable return typ

[2017-10-06 07:11] bondimedical3 opened #11265 "M2.2 Magento Social becoming reset by extensions"
Whenever I install an extension the status of Magento Social changes from "Inactive" to "Reset"

### Preconditions
1.  Magento 2.2
2.  PHP 7.1.10

### Steps to reproduce
1.  Unzip extension with command "unzip"
2.  Issue command php bin/magento setup:upgrade
3.  Issue command php bin/magento cache:flush
4. Installed extension works as expected

### Expected result
1.  No errors should appear in Ad

[2017-10-06 07:13] orlangur commented on #11264
Strange that it wasn't revealed by integration tests. Is this code actually used in Magento 2? Could you provide some scenario?

Looks like `3.1.0` release of `Zend_Code` didn't support PHP 7.1: https://github.com/zendframework/zend-code/blob/release-3.1.0/composer.json#L16
While `3.2.0` release does not support PHP 7.0: https://github.com/zendframework/zend-code/blob/release-3.2.0/composer.json#L

[2017-10-06 07:24] yosefkurniawan commented on #9505
hi, I also looking for a solution on this. Is there any patch that we can apply on Magento version 2.1.x without upgrading to 2.2.0. ?

[2017-10-06 07:30] magento-engcom-team commented on #6681
@gajjardhara, thank you for your report.
We've created internal ticket(s) MAGETWO-58764 to track progress on the issue.

[2017-10-06 07:30] magento-engcom-team commented on #8280
@fvschie, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-06 07:30] #8280 closed, assigned to nobody

[2017-10-06 07:30] magento-engcom-team commented on #4136
@devhn, thank you for your report.
We've created internal ticket(s) MAGETWO-53440 to track progress on the issue.

[2017-10-06 07:30] magento-engcom-team commented on #7219
@carfantasy, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 07:45] guvra commented on #9910
Same, we need the commit reference to backport the fix into a website running on Magento 2.1.

[2017-10-06 07:50] darinda opened #11266 "Unable to create product with same name as already existing via REST api: URL key for specified store already exists."
### Preconditions

1. Magento v2.2.0
2. PHP v7.0.20
3. MySQL v5.6.34

### Steps to reproduce

1. Create some product in admin interface or rest api or whatever

"product": {
        "sku": "product-1-sku,
        "name": "Product Name",
        "attribute_set_id": 4,
        "price": 120,
        "status": 1,
        "visibility": 4,
        "type_id": simple
}

2. Try to create another product **

[2017-10-06 08:03] magento-engcom-team commented on #10220
@MagePsycho Thanks for reporting this issue.
Unfortunately, I could not reproduce the issue as you described it.
Please provide more detailed steps and description. Your store configuration, currency configuration and code example will be very helpful.

[2017-10-06 08:09] osrecio commented on #9926
After investigating the problem in this case that you remove Block "content" `<referenceContainer name="content" remove="true"/>` if you see the generated xml of layout:

[code]

In the first line you have your design custom layout:

[code]
In the lasts lines you have the render for page:

[code]

If you go to file: `app/code/Magento/Cms/Block/Page.php` [here](https://github.com/magento/magento2/b

[2017-10-06 08:16] orlangur commented on #11266
Hi @darinda, thanks for the well-formed report. Closing as a duplicate of https://github.com/magento/magento2/issues/8188#issuecomment-331110066.

Yeah, and another possible way could to to customize internal Magento behavior by implementing plugin-interceptor.

It is a known limitation that there is no way to interact directly with URL Rewrites in current API, some developers overcame this by cre

[2017-10-06 08:16] #11266 closed, assigned to nobody

[2017-10-06 08:23] orlangur commented on #11265
Hi @bondimedical3, GitHub is intended for bug reports in Magento 2 core modules. I believe extension developer should be contacted in your case.

[2017-10-06 08:29] fsw commented on #11252
This issue seems to be introduced with this line:
https://github.com/magento/magento2/commit/09d662e2a163049d7d09c8e23e60a547a4b0400a#diff-cd95dedce531a403edab860781af87aeR232

[2017-10-06 08:30] bondimedical3 commented on #11265
I have contacted the extension developer and he does not know why this occurs.

[2017-10-06 08:30] magento-engcom-team commented on #6364
@TWarszawski, thank you for your report.
We've created internal ticket(s) MAGETWO-70156 to track progress on the issue.

[2017-10-06 08:30] magento-engcom-team commented on #9746
@keiant25, thank you for your report.
We've created internal ticket(s) MAGETWO-69504, MAGETWO-73287 to track progress on the issue.

[2017-10-06 08:30] magento-engcom-team commented on #6960
@schnappenberger, thank you for your report.
We've created internal ticket(s) MAGETWO-59636 to track progress on the issue.

[2017-10-06 08:30] magento-engcom-team commented on #6428
@shashanksatpute, thank you for your report.
We've created internal ticket(s) MAGETWO-81073 to track progress on the issue.

[2017-10-06 08:30] magento-engcom-team commented on #7402
@janeblonde, thank you for your report.
We've created internal ticket(s) MAGETWO-70023 to track progress on the issue.

[2017-10-06 08:30] magento-engcom-team commented on #7543
@ovsokolov, thank you for your report.
We've created internal ticket(s) MAGETWO-61422 to track progress on the issue.

[2017-10-06 08:30] magento-engcom-team commented on #5967
@Nerogee, thank you for your report.
We've created internal ticket(s) MAGETWO-70599 to track progress on the issue.

[2017-10-06 08:30] magento-engcom-team commented on #7098
@pdanzinger, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-06 08:30] #7098 closed, assigned to nobody

[2017-10-06 08:30] magento-engcom-team commented on #7909
@tinxit, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-06 08:30] magento-engcom-team commented on #8540
@michaeldyl520, thank you for your report.
We've created internal ticket(s) MAGETWO-81074 to track progress on the issue.

[2017-10-06 08:30] magento-engcom-team commented on #6558
@magentodevleper, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-06 08:30] magento-engcom-team commented on #10862
@aboritskiy, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 08:30] #10862 closed, assigned to nobody

[2017-10-06 08:30] magento-engcom-team commented on #7427
@fxdegroot, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 08:30] magento-engcom-team commented on #7654
@erik-augustin, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 08:30] magento-engcom-team commented on #8979
@pisc-software, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 08:33] orlangur commented on #11265
But he is the one who is supposed to solve any incompatibilities of his extension with 2.2, isn't it?

Only if investigation will show the problematic code in core, such bug report would be valid for this repo.

[2017-10-06 08:42] orlangur commented on #8979
Please check the contract of `\Magento\Framework\Api\CustomAttributesDataInterface::getCustomAttribute` method. It may return `null` and your code should take it into account.

SImilar to the `\Magento\Catalog\Model\Product::getExtensionAttributes` logic - you may load necessary custom attributes by yourself.

[2017-10-06 08:46] bondimedical3 commented on #11265
This is occurring for all extensions?

[2017-10-06 08:48] orlangur commented on #7199
Anybody understand this? Isn't all we need is just having a BIG GLOBAL SWITCH saying whether layered navigation includes tax or not? Or the problem is that tax may vary from region to region and thus we would have to keep NxX compared to X size of original index?

[2017-10-06 08:50] orlangur commented on #11265
Have no idea. If similar problem would occur for few other extensions with integrations, it could indicate there is a problem on core side.

[2017-10-06 08:52] magento-engcom-team commented on #11252
Hi @stevenlavine
How did you create file upload attribute? Please share install script that add the attribute.
And please could you share a code, that introduce this attribute in to CMS (xml or/and phtml files)

[2017-10-06 08:53] snez commented on #1726
Magento 2 performance is not affected by just SSD speed and Memory. Magento 2 is also CPU BOUND. I'm on a 2013 Mac Air with 8Gb memory, PCIe SSD, dual core 1.7Ghz Intel i7 processor and the CPU is the bottleneck. When I have all caches enabled except FPC, each page reload is 16s.

I use Magento 1 every time which can do the job perfectly well.

[2017-10-06 08:57] bondimedical3 commented on #11265
That is what I am saying. I have installed 3 extensions and it has occured on all of them.

[2017-10-06 08:59] janeblonde commented on #7402
Wow, that was nearly a year ago! Thanks for looking at this all the same

[2017-10-06 09:25] orlangur commented on #11264
According to @ytorbyk we can observe problem with following scenario:

1. Use PHP 7.1
2. Create new Magento project via Composer
3. Try performing DI compilation
4. Exception observed due to Magento compiler not supported nullable `?string` notation

If we compile using PHP 7.0, it will work just fine under PHP 7.1 then.

[2017-10-06 09:30] magento-engcom-team commented on #3430
@thomasnordkvist, thank you for your report.
We've created internal ticket(s) MAGETWO-64315 to track progress on the issue.

[2017-10-06 09:30] magento-engcom-team commented on #6058
@dnadle, thank you for your report.
We've created internal ticket(s) MAGETWO-57657 to track progress on the issue.

[2017-10-06 09:30] magento-engcom-team commented on #11263
@eharvest, thank you for your report.
We've created internal ticket(s) MAGETWO-81081 to track progress on the issue.

[2017-10-06 09:30] magento-engcom-team commented on #6891
@thdoan, thank you for your report.
We've created internal ticket(s) MAGETWO-59540 to track progress on the issue.

[2017-10-06 09:33] orlangur commented on #11264
Just found out Magento is using `3.1.0` version of `zend-code`: https://github.com/magento/magento2/blob/2.2/composer.lock#L2022

So, there is no problem with PHP 7.0 compatibility, just that this component does not officially support PHP 7.1 but maybe it does not affect Magento.

Those who somehow installed `3.2.0` version of `zend-code` seems to be in trouble though.

[2017-10-06 09:35] xudongli113 commented on #11221
thanks for replying back, could you tell me how can I access the installation log?

[2017-10-06 09:46] orlangur commented on #11265
Following link from message are you able to enable affected integrations back?

[2017-10-06 09:46] esimov commented on #11264
Then this means there is an error on zend-code `composer.json`, because officially does not support PHP 7.1, however they are using a PHP feature which exists only on PHP 7.1.

[2017-10-06 09:48] orlangur commented on #11264
Nope, `zend-code` is fine: nullable types are only used in `3.2.0` release I believe (didn't check though).

[2017-10-06 09:49] avoelkl commented on #1726
I can recommend this blogpost by @yireo: https://www.yireo.com/blog/1842-best-performance-for-magento-2-development regarding Magento 2 development performance.

[2017-10-06 09:50] bondimedical3 commented on #11265
Yes. But after a few days the message reappears.

[2017-10-06 09:58] orlangur commented on #11265
Ok, let's leave it open for now as I'm not aware how this feature is supposed to work.

[2017-10-06 10:07] yogisfunda commented on #11113
@jhruehl thanks for the solutions, it worked. However after upgrade I'm facing a new issue, everything is working good excepts the product page is totally unseen, on product page it says:
This page isn’t working
website is currently unable to handle this request.
HTTP ERROR 500

[2017-10-06 10:10] korostii commented on #10206
Hi @magento-engcom-team , could you please be a little bit more specific regarding the "soon" part?
Do you mean the upcoming `2.1.10` version?

[2017-10-06 10:17] andkirby commented on #11248
Sure. And in this case I'll be pushed to implement the same method  `getAssociatedProducts()`.
I don't say there is no completely way to make it. It's just expected being flexible.

So, configurable one has following method:
[code]
Bundle one this one:
[code]

By the way, it would really good to have single API for those associated products.
Abstract class declared it, and only Grouped uses it.
[c

[2017-10-06 10:22] magento-engcom-team commented on #11259
@coleHafner Thanks for reporting this issue.
Unfortunately, I could not reproduce the issue as you described it.
Steps I did:
1. Create Categories:
![categoriees](https://user-images.githubusercontent.com/31669971/31273758-ba2a1926-aa98-11e7-8aeb-320587a7011d.png)
2. Create simple product "s1" and assign it to category Child Category 1
3. Create Cart Price Rule with coupon = 'test' and conditions

[2017-10-06 10:30] magento-engcom-team commented on #10573
@Jalondhara, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-06 10:30] #10573 closed, assigned to nobody

[2017-10-06 10:30] magento-engcom-team commented on #6879
@wujashek, thank you for your report.
We've created internal ticket(s) MAGETWO-59882 to track progress on the issue.

[2017-10-06 10:30] magento-engcom-team commented on #6212
@lgarridoj, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-06 10:30] #6212 closed, assigned to victor-v-rad

[2017-10-06 10:30] magento-engcom-team commented on #7270
@dhx2, thank you for your report.
We've created internal ticket(s) MAGETWO-60597 to track progress on the issue.

[2017-10-06 10:30] magento-engcom-team commented on #10096
@klakovskiy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-06 10:30] #10096 closed, assigned to nobody

[2017-10-06 10:33] orlangur commented on #11248
Why? Just add attributes you need in customized `getAssociatedProductCollection` and use default implementation.

I don't think it's a good idea as they are all different and have slightly different semantics. Inheritance from `\Magento\Catalog\Model\Product\Type\AbstractType` is misused for many of those custom methods, it would be better to have them as independent classes.

[2017-10-06 10:50] tr33m4n opened #11268 "testCreateObjectManagerFactoryCouldBeOverridden unit test failing v2.1.9"
The test `Magento\Framework\App\Test\Unit\ObjectManagerFactoryTest::testCreateObjectManagerFactoryCouldBeOverridden` is failing due to the test expecting a `BadMethodCallException` when calling `$factory->create`.

As PHP can accept any number of arguments beyond what's defined within the function, this test will not pass

### Preconditions
1. Magento 2.1.9
2. PHP 7.0.14
3. PHPUnit 4.1.0

### Step

[2017-10-06 11:08] andkirby commented on #11248
I can't do this in a module where I'm working in. It provides some feature which requires some base development.
Frankly speaking, I can move building this collection into a module, but it's not a good idea to make this module responsible for that.

If you are talking about setting customized collection into `\Magento\GroupedProduct\Model\Product\Type\Grouped::getAssociatedProducts` - no way. `get

[2017-10-06 11:16] orlangur commented on #11248
Frankly speaking, I can move building this collection into a module, but it's not a good idea to make this module responsible for that.

Still don't get it. There is no need to build collection in your module, just create an `after` plugin for `Magento\GroupedProduct\Model\Product\Type\Grouped::getAssociatedProductCollection` and add necessary attributes with `addAttributeToSelect`.

[2017-10-06 11:25] orlangur commented on #11268
Passes on my local and on CI. Maybe `var` folder is not writable in your case or something?

[2017-10-06 11:30] asrar7787 commented on #6522
I had to create a 'before' plugin for order `Magento\Sales\Controller\Adminhtml\Order\Create\Save`
so no core hack necessary, a Magento 2 way fix ;-)

see below:

the etc/adminhtml/di.xml for declaring the plugin:

`<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name=

[2017-10-06 11:30] magento-engcom-team commented on #8385
Hi @CatherineLearmonth
The subject calls "Unable to delete an attribute on a product through the API", but API does not use in
steps description.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2017-10-06 11:30] magento-engcom-team commented on #5933
@arthursp, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-06 11:30] #5933 closed, assigned to nobody

[2017-10-06 11:30] magento-engcom-team commented on #6665
@antonlazarchenko, thank you for your report.
We've created internal ticket(s) MAGETWO-58953 to track progress on the issue.

[2017-10-06 11:30] magento-engcom-team commented on #6682
@magexo, thank you for your report.
We've created internal ticket(s) MAGETWO-69957 to track progress on the issue.

[2017-10-06 11:30] magento-engcom-team commented on #8444
@flipflap, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-06 11:30] #8444 closed, assigned to magento-engcom-team

[2017-10-06 11:30] magento-engcom-team commented on #5999
@orbitrod, thank you for your report.
We've created internal ticket(s) MAGETWO-58212 to track progress on the issue.

[2017-10-06 11:30] magento-engcom-team commented on #8486
@tal-girit, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-06 11:30] #8486 closed, assigned to magento-engcom-team

[2017-10-06 11:30] magento-engcom-team commented on #6274
@bartek9007, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-06 11:30] #6274 closed, assigned to nobody

[2017-10-06 11:30] magento-engcom-team commented on #10207
@stephan-cream, thank you for your report.
We've created internal ticket(s) MAGETWO-81118 to track progress on the issue.

[2017-10-06 11:30] magento-engcom-team commented on #6712
@crtsl, thank you for your report.
We've created internal ticket(s) MAGETWO-58224 to track progress on the issue.

[2017-10-06 11:30] magento-engcom-team commented on #6916
@magecodenet, thank you for your report.
We've created internal ticket(s) MAGETWO-70162 to track progress on the issue.

[2017-10-06 11:30] magento-engcom-team commented on #6770
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-59153 to track progress on the issue.

[2017-10-06 11:30] magento-engcom-team commented on #11257
@kimVinqueur, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-06 11:30] magento-engcom-team commented on #6300
@dnadle, thank you for your report.
We've created internal ticket(s) MAGETWO-57585 to track progress on the issue.

[2017-10-06 11:30] magento-engcom-team commented on #6573
@ytorbyk, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-06 11:30] #6573 closed, assigned to nobody

[2017-10-06 11:30] magento-engcom-team commented on #9146
@giano574, thank you for your report.
We've created internal ticket(s) MAGETWO-81103 to track progress on the issue.

[2017-10-06 11:30] magento-engcom-team commented on #9153
@nilesh2jcommerce, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-06 11:30] #9153 closed, assigned to nobody

[2017-10-06 11:30] magento-engcom-team commented on #8553
@azeemism, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-06 11:30] #8553 closed, assigned to nobody

[2017-10-06 11:30] magento-engcom-team commented on #7801
@ivanweiler, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 11:48] orlangur commented on #11034
I believe https://github.com/composer/composer/issues/3542#issuecomment-67623002 should do the trick.

[2017-10-06 11:54] manuelson commented on #10479
Hello, can i contribute in this issue?

Thanks

[2017-10-06 12:08] Ramzzzz commented on #9604
Nope.. issue doesn't exist anymore in 2.2.0 release. Thanks.

[2017-10-06 12:10] vincentwinkel commented on #9597
What about magento 2.0 ?

[2017-10-06 12:29] CatherineLearmonth commented on #8385
I've updated the issue pre-conditions to have:
Use the PHP api rather than the json one.

Step 2 of the steps to reproduce references the API as follows:
I want to remove one or more of those custom attributes from the product through the PHP API. I set the attribute I want to remove to have a null value.
Step 3 indicates the method in the API that I am calling. (saveAttribute)

If there is more i

[2017-10-06 12:30] magento-engcom-team commented on #4462
@wittness87, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-06 12:30] #4462 closed, assigned to antboiko

[2017-10-06 12:30] magento-engcom-team commented on #7626
@oluijks, thank you for your report.
We've created internal ticket(s) MAGETWO-70769 to track progress on the issue.

[2017-10-06 12:30] magento-engcom-team commented on #6305
@bachlee89, thank you for your report.
We've created internal ticket(s) MAGETWO-57705 to track progress on the issue.

[2017-10-06 12:30] magento-engcom-team commented on #6585
@springimport, thank you for your report.
We've created internal ticket(s) MAGETWO-70558 to track progress on the issue.

[2017-10-06 12:35] larsroettig commented on #10772
@okorshenko in which repo I can find the bugfix?

[2017-10-06 12:37] hollow020 commented on #11265
I observed the same behavior after updating from CE to EE by composer on clean 2.2.0.

[2017-10-06 12:53] roma-glushko commented on #10605
I would like to leave an update here.
I have investigated this issue and create  PR https://github.com/magento/magento2/pull/11270 to fix it.

Looking forward to your review.

Thanks.

[2017-10-06 12:55] jasonevans1 commented on #10411
@okorshenko I have accepted the invitation.

[2017-10-06 13:06] tr33m4n commented on #11268
@orlangur Var folder is writable, I can see the test creates the required `_files` folder under `vendor/magento/framework/App/Test/Unit/`, so I doubt it's a permissions problem. What PHP/Magento/PHPUnit versions did you use to test?

[2017-10-06 13:10] tr33m4n commented on #11268
The expected exception `BadMethodCallException` is commonly used with

[2017-10-06 13:10] tkacheva commented on #10477
Hi @marinagociu,
For configurable product option attributes need to be checked on both parent and child products with the priority to the child values.
For Bundle it depends on Bundle type.

I tested the scenario and found that only product sub-selection condition doesn't work properly with colors. Product attribute combination condition works correct.

[2017-10-06 13:21] syedsaleem086 opened #11271 "Layered navigation issue with custom attribute set"
Layered navigation is not working with custom attribute set

### Preconditions
1. Magento 2.1.7
2. PHP 7.0.22

### Steps to reproduce
1. create attribute and associate with default attribute set, now create product with this attribute set -> layered navigation will work
2. create attribute and associate with custom attribute set, now create product with this attribute set -> layered navigation wil

[2017-10-06 13:30] magento-engcom-team commented on #8176
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-81151 to track progress on the issue.

[2017-10-06 13:30] magento-engcom-team commented on #8194
@ziliquas, thank you for your report.
We've created internal ticket(s) MAGETWO-81147 to track progress on the issue.

[2017-10-06 13:30] magento-engcom-team commented on #8237
@detco-monacor, thank you for your report.
We've created internal ticket(s) MAGETWO-64315 to track progress on the issue.

[2017-10-06 13:30] magento-engcom-team commented on #6659
@JacobDrummond, thank you for your report.
We've created internal ticket(s) MAGETWO-58963 to track progress on the issue.

[2017-10-06 13:30] magento-engcom-team commented on #8260
@olgaimproove, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-06 13:30] #8260 closed, assigned to nobody

[2017-10-06 13:30] magento-engcom-team commented on #6098
@vasuscoin, thank you for your report.
We've created internal ticket(s) MAGETWO-46160 to track progress on the issue.

[2017-10-06 13:30] magento-engcom-team commented on #8777
@ddeppner, thank you for your report.
We've created internal ticket(s) MAGETWO-70996 to track progress on the issue.

[2017-10-06 13:30] magento-engcom-team commented on #6363
@TWarszawski, thank you for your report.
We've created internal ticket(s) MAGETWO-69701 to track progress on the issue.

[2017-10-06 13:30] magento-engcom-team commented on #8381
@i95devdivya, thank you for your report.
We've created internal ticket(s) MAGETWO-81150 to track progress on the issue.

[2017-10-06 13:30] magento-engcom-team commented on #5599
@amarroni, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-06 13:30] #5599 closed, assigned to nobody

[2017-10-06 13:30] magento-engcom-team commented on #5774
@yangsystem, thank you for your report.
We've created internal ticket(s) MAGETWO-70082 to track progress on the issue.

[2017-10-06 13:30] magento-engcom-team commented on #9437
@Tonop, thank you for your report.
We've created internal ticket(s) MAGETWO-70330 to track progress on the issue.

[2017-10-06 13:33] marinagociu commented on #10477
Hi @tkacheva,
I also encountered this issue only for the sub-selection condition. I will add a PR with a proposed solution.

[2017-10-06 13:48] TomashKhamlai commented on #10780
@arthurlataks, could you be so kind to provide the full module archived in zip file where those code extracts are used? Everything is fine, I just ask you to provide code for testing.

[2017-10-06 13:52] kingshukdeb opened #11272 "Magento adding blank rows to attribute options while trying to update through REST API"
### Preconditions
----------------------
Magento version - 2.1.7 community and enterprise both
PHP - 5.6.25 and 7.0.2 both
MySql -  5.7.14 for community, not sure about the mysql version for EE

### Steps to reproduce

1.  First get the token from admin using REST call using this http://domain.com/rest/default/V1/integration/admin/token
2. Then using the token send another REST call to add/update

[2017-10-06 14:05] ishakhsuvarov commented on #8531
@PascalBrouwers, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-06 14:05] #8531 closed, assigned to magento-engcom-team

[2017-10-06 14:11] PascalBrouwers commented on #8531
Again: I know the correct way to save the product. I just want to let other people know about this behaviour so they can get their issue resolved, since the first place will be the issue tracker of this github repository.

[2017-10-06 14:30] magento-engcom-team commented on #6238
@Ctucker9233, thank you for your report.
We've created internal ticket(s) MAGETWO-3254 to track progress on the issue.

[2017-10-06 14:30] magento-engcom-team commented on #6158
@senthilengg, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-06 14:30] #6158 closed, assigned to nobody

[2017-10-06 14:42] magento-engcom-team commented on #8385
@CatherineLearmonth
What do yo mean "PHP API"?
Magento shall provide [API](http://devdocs.magento.com/swagger/index_21.html).
Method "saveAttribute" is not present in that list.
Which exactly API method do you use?

[2017-10-06 14:53] franckgarnier21 commented on #4454
Any news about this issue ? Is it solved in Magento 2.2 ?

[2017-10-06 15:07] magento-engcom-team commented on #11271
@syedsaleem086, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-06 15:07] #11271 closed, assigned to nobody

[2017-10-06 15:07] magento-engcom-team commented on #5968
@nldudok1, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-06 15:10] magento-engcom-team commented on #8098
@technoquo, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-06 15:10] #8098 closed, assigned to nobody

[2017-10-06 15:11] CatherineLearmonth commented on #8385
You can call saveAttribute on a Magento object.

1) Create or get an existing Magento product using \Magento\Catalog\Api\ProductRepositoryInterface. See (https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Api/ProductRepositoryInterface.php) for details of the code - this is what I mean by the PHP API, and it is provided by Magento as an alternative to the JSON API which you

[2017-10-06 15:15] magento-engcom-team commented on #10993
@amberarpatech we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 15:15] #10993 closed, assigned to magento-engcom-team

[2017-10-06 15:15] magento-engcom-team commented on #10968
@alen9788 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 15:15] #10968 closed, assigned to magento-engcom-team

[2017-10-06 15:16] magento-engcom-team commented on #10692
@gormatevosyan123 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 15:16] #10692 closed, assigned to magento-engcom-team

[2017-10-06 15:16] magento-engcom-team commented on #10683
@KishorkumarKar we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 15:16] #10683 closed, assigned to nobody

[2017-10-06 15:17] magento-engcom-team commented on #10365
@alainstout we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 15:17] #10365 closed, assigned to magento-engcom-team

[2017-10-06 15:17] magento-engcom-team commented on #10173
@bjedrikz we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 15:17] #10173 closed, assigned to magento-engcom-team

[2017-10-06 15:18] krasilich commented on #10499
The issue here is with updated PaymentVaultConfigurationProcess (can't say exactly in which version it was changed) plugin in Vault module.
It checks if there are any enabled methods in paypal-payments layout item and if they all are disabled - just drops whole group from jsLayout variable.

https://github.com/magento/magento2/blob/2.1.9/app/code/Magento/Vault/Plugin/PaymentVaultConfigurationProce

[2017-10-06 15:19] magento-engcom-team commented on #7366
@GuidoHub we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 15:19] #7366 closed, assigned to magento-engcom-team

[2017-10-06 15:19] andkirby commented on #11248
I know how to make it right. It should be right from the box.

[2017-10-06 15:20] #7551 closed, assigned to magento-engcom-team

[2017-10-06 15:23] magento-engcom-team commented on #9392
@xpoback thank you for report. We will consider your suggestion. Also, feel free submit a pull request if this is a critical issue for you

[2017-10-06 15:23] #9392 closed, assigned to magento-engcom-team

[2017-10-06 15:24] magento-engcom-team commented on #10029
@niranjanleanswift we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-06 15:24] #10029 closed, assigned to magento-engcom-team

[2017-10-06 15:25] #10144 closed, assigned to magento-engcom-team

[2017-10-06 15:31] magento-engcom-team commented on #9743
Hi @vjacquemin-sqli the issue has been fixed in https://github.com/magento/magento2/pull/11067 by @joachimVT
The fix will be available in 2.2.1

[2017-10-06 15:31] #9743 closed, assigned to nobody

[2017-10-06 15:32] erikhansen commented on #8777
For what it's worth, Classy Llama implemented a custom extension to auto-select the default billing address. I've attached the extension to this comment. Use at your own risk.
[ClassyLlama_DefaultBillingAddress.zip](https://github.com/magento/magento2/files/1363162/ClassyLlama_DefaultBillingAddress.zip)

@Magento - Feel free to reference this code as you're working on the MAGETWO-70996 ticket.

[2017-10-06 15:33] magento-engcom-team commented on #6350
Hi @heldchen the issue has been fixed in https://github.com/magento/magento2/pull/11067 by @joachimVT . The fix will be available in 2.2.1

[2017-10-06 15:33] #6350 closed, assigned to joachimVT

[2017-10-06 15:35] magento-engcom-team commented on #6712
Hi @crtsl the issue has been fixed in https://github.com/magento/magento2/pull/11063 by @fragdochkarl

[2017-10-06 15:35] #6712 closed, assigned to nobody

[2017-10-06 15:37] magento-engcom-team commented on #6831
Hi @Nerogee the issue has been fixed in https://github.com/magento/magento2/pull/11067 by @joachimVT. The fix will be available in 2.2.1

[2017-10-06 15:37] #6831 closed, assigned to nobody

[2017-10-06 15:37] magento-engcom-team commented on #6858
Hi @qubaji the issue has been fixed in https://github.com/magento/magento2/pull/11067 by @joachimVT. The fix will be available in 2.2.1

[2017-10-06 15:37] #6858 closed, assigned to nobody

[2017-10-06 15:38] magento-engcom-team commented on #9981
Hi @chickenland the issue has been fixed in https://github.com/magento/magento2/pull/11064 by @schmengler . The fix will be available in 2.2.1

[2017-10-06 15:38] #9981 closed, assigned to nobody

[2017-10-06 15:40] magento-engcom-team commented on #10524
The issue should be fixed in https://github.com/magento/magento2/pull/11222

[2017-10-06 15:43] magento-engcom-team commented on #3066
Hi @tdgroot the issued has been fixed in 2.1.8. Please, let us know if you still have the issue

[2017-10-06 15:43] #3066 closed, assigned to nobody

[2017-10-06 15:43] magento-engcom-team commented on #11260
Hello @coleHafner . We were not able to reproduce this issue by following the steps you provided on clean Magento installation(v2.1.9). We are attaching a video. Please, let know whether everything is done correctly. Probably some steps are missed in description.
[#11260.zip](https://github.com/magento/magento2/files/1363192/11260.zip)

[2017-10-06 15:45] magento-engcom-team commented on #5444
The issue has been fixed in 2.1.8
@hugh-optoma please let us know if you still have an issue

[2017-10-06 15:45] #5444 closed, assigned to nobody

[2017-10-06 15:55] magento-engcom-team commented on #5820
Hi @bjoern-quast the issue already fixed in 2.1.10 and will be available soon.

[2017-10-06 15:55] #5820 closed, assigned to nobody

[2017-10-06 15:57] magento-engcom-team commented on #6999
@paales the issue already fixed in 2.1.10 and will be available soon

[2017-10-06 15:57] #6999 closed, assigned to nobody

[2017-10-06 16:02] lano-vargas opened #11275 "Call to a member function addCrumb()"
I have encounter a small issue on new installation of Magento 2.1.7 regards to breadcrumbs.

step to recreate the issue is simple once install is susccesfull:

1- create custom Theme
2- create default.xml
3- add `<referenceBlock name="breadcrumbs" remove="true" />`
4- navigate to your Magento installation root url .../sales/guest/form/

5- error: 500

Log:
`PHP Fatal error:  Call to a member funct

[2017-10-06 16:09] magento-engcom-team commented on #7306
@ferrarinim the issue has been fixed in 2.1.8

[2017-10-06 16:09] #7306 closed, assigned to nobody

[2017-10-06 16:10] magento-engcom-team commented on #7311
Hi @rhodimus the issue is already fixed in 2.1.100 and will be available soon

[2017-10-06 16:10] #7311 closed, assigned to nobody

[2017-10-06 16:12] magento-engcom-team commented on #7525
Hi @grazianodimaio the issue has been fixed in 2.1.10 and will be available soon

[2017-10-06 16:12] #7525 closed, assigned to nobody

[2017-10-06 16:13] magento-engcom-team commented on #7569
Hi @davidverholen the issue has been fixed in 2.1.10 and will be available soon

[2017-10-06 16:13] #7569 closed, assigned to nobody

[2017-10-06 16:15] magento-engcom-team commented on #8023
Hi @ochnygosch the internal ticket has been closed as Not a Bug (based on PO decision)
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue or if you would like to change some business flow or feature

[2017-10-06 16:15] #8023 closed, assigned to nobody

[2017-10-06 16:18] magento-engcom-team commented on #8468
@vlauria thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-06 16:18] #8468 closed, assigned to nobody

[2017-10-06 16:21] magento-engcom-team commented on #8494
HI @pbologna the issue has been fixed in 2.2.0 . Could you please let us know if you still have an issue

[2017-10-06 16:21] #8494 closed, assigned to nobody

[2017-10-06 16:22] LucienC commented on #6382
@magento-engcom-team What's the fix?

[2017-10-06 16:23] magento-engcom-team commented on #8497
Hi @tzsolti could you please let us know if you still have an issue on 2.2.0?

[2017-10-06 16:24] magento-engcom-team commented on #8574
Hi @pioneerathletics the issue has been fixed in 2.1.10 and will be available soon

[2017-10-06 16:24] #8574 closed, assigned to nobody

[2017-10-06 16:27] magento-engcom-team commented on #10527
Hi @ekuusela the issue is already fixed in 2.2.1 and will be available soon

[2017-10-06 16:27] #10527 closed, assigned to nobody

[2017-10-06 16:29] ThisIsRuddy commented on #7199
Only time it can identify region is when the user is logged in with saved
address anyway so the hooks are there either way...

On Fri, 6 Oct 2017, 09:49 Vlad Veselov, <notifications@github.com> wrote:

[2017-10-06 16:29] magento-engcom-team commented on #6497
HI @schmengler the fix has been backported to 2.2.1 and will be available soon

[2017-10-06 16:29] #6497 closed, assigned to nobody

[2017-10-06 16:30] magento-engcom-team commented on #10440
@cykirsch, thank you for your report.
We've created internal ticket(s) MAGETWO-81170 to track progress on the issue.

[2017-10-06 16:30] magento-engcom-team commented on #10009
@maderlock, thank you for your report.
We've created internal ticket(s) MAGETWO-70131 to track progress on the issue.

[2017-10-06 16:30] magento-engcom-team commented on #8211
@ziliquas, thank you for your report.
We've created internal ticket(s) MAGETWO-81168 to track progress on the issue.

[2017-10-06 16:36] magento-engcom-team commented on #9967
Hi @angelo983 the issue is already fixed in 2.1.10 and will be available soon

[2017-10-06 16:36] #9967 closed, assigned to nobody

[2017-10-06 16:51] magento-engcom-team commented on #11275
Hi @lano-vargas
thank you for the report. Would like submit a pull request with the fix? By this, you can participate in [#SQUASHTOBERFEST](https://github.com/magento/magento2/wiki/%23SQUASHTOBERFEST-2017)

[2017-10-06 16:52] magento-engcom-team commented on #11275
The fix looks simple

[2017-10-06 16:55] qaziatif786 commented on #6817
i have updated my magento version from 2.1.1 to 2.1.9 but still the same issue.

[2017-10-06 17:10] jayankaghosh commented on #10976
Any updates on this?

[2017-10-06 17:30] mzeis commented on #11264
We have had this problem before. Depending on the PHP version of your system, a `composer update` might install different packages if `composer.json` doesn't define a target platform (= "main" PHP version). See [platform](https://getcomposer.org/doc/06-config.md#platform). It might be a good idea to add this to Magento's `composer.json`.

[2017-10-06 17:36] mzeis commented on #11251
Thanks for creating this issue!

I'm sorry but bugs in 3rd party themes are out of the scope for the Magento issue tracker. Please let us know if/how we can re-produce this problem in a fresh 2.2 installation without extensions and custom themes and I'll try to re-produce.

[2017-10-06 17:36] #11251 closed, assigned to mzeis

[2017-10-06 17:43] mzeis commented on #11236
Hi, thanks for creating this issue!

Please can you update your issue by adding information in the format that is proposed when creating a new issue? Important information would be which version of Magento 2 you are using and [which way](http://devdocs.magento.com/guides/v2.2/install-gde/bk-install-guide.html) you were getting the code.

[2017-10-06 17:56] markalston commented on #8815
@Vedrillan Thanks! I have been having this problem forever and still have it with 2.1.9.  Your patch seems like the obvious fix. No tags are lost and simply sent in batches.  Hopefully it will be added to 2.2.

[2017-10-06 18:22] dfelton opened #11277 "ElasticSearch Aggregation Bucket Size Parameter Not Passed"
Elastic Search defaults its bucket size to `10` if not specified in the query. `Magento\Elasticsearch\SearchAdapter\Query\Builder\Aggregation::buildBucket()` omits this parameter. Because of this, it is possible for ElastiSearch to omit results if more there are more than 10 possible results. This drastically impacts the Layered Navigation block in a negative way if any of the attribute filters ar

[2017-10-06 18:24] rratinov opened #11278 "Site not open correctly"
### Preconditions

1. magento 2.1.8
2. php 7.0.14-1~dotdeb+8.1
3. MySQL - Ver 15.1 Distrib 10.0.27-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
4. apache - 2.4.10

### Steps to reproduce

1. Go to https://www.ecomarkt.nl/

### Expected result

1. You should visit the page https://prnt.sc/gu54at

### Actual result

1. But sometimes when my colleague use FF (http://prntscr.com/gudp2g) o

[2017-10-06 19:05] orlangur commented on #11248
I don't see an issue here yet. Could you format description according to template so that actual/expected result is clear?

Plugin-interceptor is an easy way to change this list in code. I don't think it's worth moving to constructor so that it can be modified via `di.xml`.

[2017-10-06 19:07] fooman commented on #11264
@esimov do you mind confirming how you installed Magento 2.2.0

[2017-10-06 19:08] orlangur commented on #11264
No, no, no, hell no :) Just like `--ignore-platform-reqs` it's just a way of faking and get some headache. We need to have a list of really compatible packages for every PHP version.

[2017-10-06 19:13] orlangur commented on #11268
I used your steps so it's `4.1.0` from `vendor`. Please debug your local env, looks like the issue is env-specific.

[2017-10-06 19:21] lano-vargas commented on #11275
@magento-engcom-team I can't promise but will try and work on it this weekend.
I'm working on it #SQUASHTOBERFEST.
Thanks.

[2017-10-06 19:21] orlangur commented on #11278
Looks like the issue is browser-specific: https://www.magestore.com/magento-2-tutorial/fix-issue-no-region-found-within-locale-magento-2/

Not sure if it should be suppressed on Magento side somehow though.

[2017-10-06 19:24] mzeis commented on #11264
How do you release one version Magento 2.x.y for different PHP versions? Or make sure that every dev uses the correct PHP version for updating packages? :)

[2017-10-06 19:30] orlangur commented on #11264
It is already tested on CICD. If some combinations are missing in matrix yet, they should be added :)

That's basically exactly what Composer is intended for - produce list of packages compatible with each other and the platform.

@fooman could you please try `composer create-project --repository-url="https://repo.magento.com/" magento/project-community-edition m2zendcode` under PHP 7.1? I don't h

[2017-10-06 19:33] esimov commented on #11264
@fooman it was an upgrade from Magento 2.1.8 via `composer.json`, so not with `composer require`.

[2017-10-06 20:14] tr33m4n commented on #11268
@orlangur Most likely yep, or rather project/company specific as we all seem to hit the same error, I'll update when I know more

[2017-10-06 20:25] okorshenko commented on #11278
Hi @rratinov we can not debug you site, please, provide detailed preconditions and steps to reproduce on clean Magento installation so that we can reproduce it on our side

[2017-10-06 20:26] okorshenko commented on #11277
Hi @dfelton looks like you already have a solution. Would like to submit PR?

[2017-10-06 20:33] magento-engcom-team commented on #11231
Hi @BenSpace48
the issue has been fixed in 2.2.1 and will be available soon
https://github.com/magento/magento2/pull/11246

[2017-10-06 20:33] #11231 closed, assigned to crissanclick

[2017-10-06 20:34] magento-engcom-team commented on #10317
Hi @nei the issue has been fixed in 2.2.1 (#11254) and will be available soon

[2017-10-06 20:34] #10317 closed, assigned to romainruaud

[2017-10-06 20:35] magento-engcom-team commented on #10775
Hi @irinikp the issue has been fixed in 2.2.1 and will be available soon (#11134)

[2017-10-06 20:35] #10775 closed, assigned to Zifius, magento-engcom-team

[2017-10-06 20:36] magento-engcom-team commented on #11044
Hi @schmengler the issue has been fixed in 2.2.1 and will be available soon (#11050)

[2017-10-06 20:36] #11044 closed, assigned to schmengler

[2017-10-06 20:37] magento-engcom-team commented on #9920
Hi @bap14 the issue has been fixed in 2.2.1 and will be available soon  (#11084)

[2017-10-06 20:37] #9920 closed, assigned to nobody

[2017-10-06 20:38] bap14 commented on #9920
That's fantastic news!! Thank you!

[2017-10-06 20:39] dfelton commented on #11277
@okorshenko Yes I could certainly do that.

Would the Magento team prefer to use a value of `0` (deprecated in ElasticSearch 2.4, but still works), or a hard set large value for the bucket size?

[2017-10-06 20:40] magento-engcom-team commented on #9570
No activity. Closing the issue

[2017-10-06 20:40] #9570 closed, assigned to bpicho

[2017-10-06 20:41] magento-engcom-team commented on #9850
No activity. Closing the issue

[2017-10-06 20:41] #9850 closed, assigned to nobody

[2017-10-06 20:42] magento-engcom-team commented on #7764
Hi @tzyganu Thank you for investigation. We are looking for PRs from you! Closing the issue

[2017-10-06 20:42] #7764 closed, assigned to nobody

[2017-10-06 20:44] dfelton commented on #11277
@okorshenko

Actually I just noticed that ElasticSearch doesn't seem to be included in the Community Edition of Magento. Therefore I wouldn't know how to create a pull request for this particular issue as it is a EE specific problem.

[2017-10-06 20:45] magento-engcom-team commented on #10523
Hi @ADDISON74 thank you for investigation. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2017-10-06 20:45] #10523 closed, assigned to nobody

[2017-10-06 20:45] magento-engcom-team commented on #9582
Hi @mcspronko do you have any progress on this?

[2017-10-06 20:47] magento-engcom-team commented on #9233
Hi @davidverholen thank you for working on this. We are looking for PRs from you 👍
Closing this issue

[2017-10-06 20:47] #9233 closed, assigned to nobody

[2017-10-06 20:48] magento-engcom-team commented on #9041
Hi @DariuszMaciejewski thank you for working on this. Closing the issue.

[2017-10-06 20:48] #9041 closed

[2017-10-06 20:49] magento-engcom-team commented on #10414
Hi @damiantomczak thank you for working on this. Closing the issue

[2017-10-06 20:49] #10414 closed, assigned to damiantomczak

[2017-10-06 20:51] magento-engcom-team commented on #10045
Hi @avoelkl
Can we close this issue or there are some tasks TODO?

[2017-10-06 20:52] #9020 closed, assigned to nobody

[2017-10-06 20:57] orlangur commented on #11233
Seems like a misconfiguration to me: you should never have `/pub/` in URLs. Web server configuration should point to `pub` folder in Magento root, not to Magento root itself.

Closing as it looks like nothing to fix from Magento side. @nelero @ihor-sviziev thanks for collaboration and helping each other.

[2017-10-06 20:57] #11233 closed, assigned to nobody

[2017-10-06 21:00] magento-team commented on #10317
Internal ticket to track issue progress: MAGETWO-81019

[2017-10-06 21:00] magento-team commented on #11231
Internal ticket to track issue progress: MAGETWO-81020

[2017-10-06 21:00] magento-team commented on #10775
Internal ticket to track issue progress: MAGETWO-80515

[2017-10-06 21:00] magento-team commented on #11044
Internal ticket to track issue progress: MAGETWO-80228

[2017-10-06 21:30] jasonevans1 commented on #10411
I will work on changing the customer create in the admin so the welcome email options will be restricted based on the website chosen.

[2017-10-06 21:31] okorshenko commented on #9243
Hi @dverkade
Since this is `@api` interface we cannot remove any methods from the contract.
We need to modify doc blocks for the following methods:

[code]

1. Remove `Magento\Framework\Locale\CurrencyInterface` from setService method and add align it with `\Zend_Currency` signatures
2. Remove `\Zend_Service` from getService method and add align it with `\Zend_Currency` signatures
3. Add `@depreca

[2017-10-06 21:39] magento-engcom-team commented on #11151
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-06 21:39] #11151 closed, assigned to nobody

[2017-10-06 21:41] magento-engcom-team commented on #9206
Closing the issue due to inactivity

[2017-10-06 21:41] #9206 closed, assigned to nobody

[2017-10-06 21:42] mcspronko commented on #9582
Hi @magento-engcom-team

I am working on the action items shared by @antonkril and this will be committed very soon.

[2017-10-06 21:43] magento-engcom-team commented on #9341
Pull Request has been merge. Closing the issue

[2017-10-06 21:43] #9341 closed, assigned to nobody

[2017-10-06 22:19] fooman commented on #11264
@mzeis agree with @orlangur Magento itself should not add platform to the distributed `composer.json`. However any developer/agency that is installing and working in a mixed php version environment should add platform to their _own_ copy of `composer.json` to avoid exactly this type of issue.

The issue that we do have is that Magento pre-generates a zip download available here
https://magento.com

[2017-10-06 22:25] fooman opened #11279 "Zip downloads of 2.2.0 are php 7.0 only"
Follow up on the discussion in #11264
### Preconditions

1. Magento 2.2.0

### Steps to reproduce

1. Head to https://magento.com/tech-resources/download
2. Download Magento 2.2.0 as a zip file
3. Notice php version compatibility of vendor/zendframework/zend-code/composer.json

### Expected result

1. Due to php version differences a composer install will choose a different version of zend-code ba

[2017-10-06 22:41] Franzld commented on #11236
Hallo Herr Zeis,
Das ist wirklich nur ein falsches Icon am falschen Platz.
Ich habe magento 2.2.0 neu insalliert und wenn man den WebSetupWizzard auruft, sind halt die Icons nicht richtig gesetzt.
Also nichts wichtiges...
Übrigens vielen Dank für Ihre Toutorials, die mir als newby mit rudimentären autodidaktischen Programmierkenntnissen sehr geholfen haben.

[2017-10-06 22:47] jeffreytu commented on #6176
Migrated from 2.0.7 to 2.1.0 and receive this error on specific existing product categories when trying to save changes.

[2017-10-07 00:39] ozziel commented on #7869
I must have erased the .htaccess file in /pub/static by accident...I've been looking for the answer for 3 hours!

[2017-10-07 01:27] moderncodes opened #11280 "Magento 2.2.0: SALES > ORDERS [Status] not updating, all new orders stuck at "Processing" status"
After migrating from 2.1.8 to 2.2.0, SALES > ORDERS grid does not update order statuses.
It does updates the status on the invoice, but not on the sales order grid. Now, we are unable to do accurate sort or filter by status.

This issue is not cache related, I unsuccessfully tried to clear, flush, re-indexed, restart the server.
Also, I looked in database and found sales_order table has "complete"

[2017-10-07 05:10] shuaiZend commented on #8348
This issue is still there in version 2.1.9

[2017-10-07 05:19] DariuszMaciejewski commented on #9041
@magento-engcom-team what's the reason of this decision?

[2017-10-07 05:50] NAVEEN456 commented on #5064
Hi Everyone,
                   I am using magento 1.9, i have created the configurable product which has simple products with the combinations of size and color. i have added the tier price to configurable product which is working fine. But My concern is i am not able to display tier price on the product page.
Can anyone suggest me how to solve this problem?

[2017-10-07 06:21] robert-schmidt opened #11282 "Magento 2.2 - Cannot save imported products"
### Preconditions

1. Magento 2.2
2. Apache2.4 + PHP 7.0.6
3. MariaDB 10.1.3

### Steps to reproduce
1. Go to System > Data Transfer > Import, select Products, click on "Download Sample File".
2. Delete last two rows from the file (shipment_type empty error otherwise).
3. Import the sample file.
4. Go to Catalog > Products, click on one of the imported products.
5. Try to save the product.

### Ex

[2017-10-07 06:31] orlangur commented on #11282
Oh, that was exactly what we are looking for in https://github.com/magento/magento2/issues/11264.

Could you please provide more details on the way you installed the Magento?

For example, it could happen if you use `composer.lock` generated on PHP 7.1 or did `composer update` with `--ignore-platform-reqs` switch.

[2017-10-07 06:46] orlangur commented on #2296
@dmitry-fedyuk thanks for your suggestion!

I wouldn't call identical string literals used a code duplication, especially in context of `lib/internal/Magento/Framework/Console/Cli.php` where it is only a part of error message. However, I've got a fancy idea out of your report: it would be nice to have a static test which forbids string literal usage if there is constant with such content. All thos

[2017-10-07 06:46] #2296 closed

[2017-10-07 06:55] NAVEEN456 commented on #3759
Hi Everyone
                 I am using magento 1.9 version. i have created configurable product and added few tier price to it, But i am not able to display it on the product page.

Can any1 suggest me how to solve this issue?

[2017-10-07 06:58] orlangur commented on #2366
@dmitry-fedyuk thanks for bug report! This issue is already covered in https://github.com/magento/magento2/issues/10863 together with the way it should be fixed.

[2017-10-07 06:58] #2366 closed

[2017-10-07 07:04] orlangur commented on #2390
Hi @dmitry-fedyuk,

I don't know what was the reason for such naming 8 years ago, now some models do appear on frontend in fact with KnockoutJS and such :)

Anyway this is something pretty hard to fix after 2.0 GA release due to backward compatibility constraints. Technically it is possible but the value of such renaming looks doubtful to me considering efforts needed to get this done.

[2017-10-07 07:04] #2390 closed

[2017-10-07 07:06] robert-schmidt commented on #11282
You're right. I used composer to install magento and composer.lock was generated using php 7.1, which I use on the CL, but did't bother to make apache use it as well.

Do you have any idea on how to fix this?

Should I re-install magento?

Thanks!

[2017-10-07 07:15] orlangur commented on #2426
@dmitry-fedyuk thanks for the suggestion!

Such feature does not seem to be useful in core and desired behavior can be easily achieved with custom implementation.  However, if you prepare a pull request I believe there is a high chance it could be merged.

[2017-10-07 07:15] #2426 closed, assigned to nobody

[2017-10-07 07:18] orlangur commented on #11282
Yeah, you can switch Apache to PHP 7.1, also you can simply regenerate `composer.lock` on a platform with PHP 7.0 (there is no need to reinstall Magento I believe).

Closing as it does not seem to be a Magento issue. Thanks for quick response!

[2017-10-07 07:18] #11282 closed, assigned to nobody

[2017-10-07 07:30] phpworld opened #11283 "MAGENTO 2.2.x : Class Magento\Framework\Session\SaveHandler contains 1 abstract method"
I FOUND AFTER FRESH INSTALLATION :

Fatal error: Class Magento\Framework\Session\SaveHandler contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (SessionHandlerInterface::) in E:\xampp\htdocs\jespertest\vendor\magento\framework\Session\SaveHandler.php on line 16

[2017-10-07 07:30] orlangur commented on #9041
@DariuszMaciejewski probably it's just enough to get PR finished, no need in separate issue for tracking.

[2017-10-07 07:34] orlangur commented on #11283
Which method is not implemented? Note that XAMPP is not a valid environment and you may face with some oddities.

[2017-10-07 07:40] mritu19 commented on #9568
Hi @magento-engcom-team

I am working on M2.2.0 and have successfully migrated M1.9.1.0 data. But Unfortunately I have the same Problem, I am not able to see any product under category. However, I am able to search the all migrated products and respected product detail page.

I have around 84.5K products and the product is configurable and simple.

The Problem is below ::
1) I am not able to see a

[2017-10-07 07:54] mritu19 opened #11284 "Magento2.2.0 :: Category Not Showing products in frontend after migration"
Hi @magento-engcom-team

I am working on M2.2.0 and have successfully migrated M1.9.1.0 data. But Unfortunately I have the same Problem, I am not able to see any product under category. However, I am able to search the all migrated products and respected product detail page.

Preconditions

Magento 2.2.0

Steps to reproduce

Products assigned to category

Visit category page on front end

Expected

[2017-10-07 07:58] zaheerbadi opened #11285 "Reorder not working from admin environment"
When i tried to reorder from specific customer it redirect to page where css was not loaded and give php error like `Argument 1 passed to Magento\Sales\Block\Adminhtml\Order\Create\Sidebar\Wishlist\Interceptor::getItemPrice() must be an instance of Magento\Catalog\Model\Product, instance of Magento\Wishlist\Model\Item given, called in C:\wamp64\www\mage220\vendor\magento\module-sales\view\adminhtm

[2017-10-07 08:03] Franzld commented on #11236
![unbenannt-1](https://user-images.githubusercontent.com/15966766/31306000-ca6041d6-ab46-11e7-94f6-c48a0ca8ac9b.jpg)

[2017-10-07 09:05] mzeis commented on #11236
@Franzld Thanks for the kind words (I'll continue in English as the Magento team communicates in English :-)).

I wanted to follow up on this - does you closing mean I shouldn't do so?

[2017-10-07 09:09] Franzld commented on #11236
I think, i've done wrong by pushing the closing-button.
I'm sorry.

[2017-10-07 09:12] Franzld commented on #11236
The Icon e.g. "Module Manager" in the center of the Page and on the left Menuebar are different.

[2017-10-07 09:28] rogyar commented on #10869
I've addressed the issue in my PR (https://github.com/magento/magento2/pull/11286). Checked the issued fields and found that it makes sense to extend the following fields:
- telephone. Has been already discussed.
- fax. Same issue as with telephone
- region
- city

As for the region and city, there are some really long names  (https://en.wikipedia.org/wiki/List_of_long_place_names). So, it doesn't

[2017-10-07 09:32] hostep commented on #10605
Nice job @roma-glushko!

But since in Magento 2.2.0, the developer tab is no longer available in production mode, should effort still be put into fixing this bug? Unless you can still manipulate these settings from the config.php file? (which I haven't verified yet)

[2017-10-07 10:15] Webroju opened #11287 "Password Reset does not work in Magento 2.2.0 in Front- an Backend"
You can't reset your passwort in Magento 2.2.0, it does not work in front- and backend.

Server: NGINX,
PHP:  7.0.9,
Magento:  2.2.0 Fresh Install without sample data

### Steps to reproduce
1.  Install a new Magento 2.2.0 Version

Backend
2. Create a Backend user (e.g. the normal admin, that you have access to the backend)
3. Login, Logout,
4. use Password forgot function, type in your backend us

[2017-10-07 10:41] Kronmose opened #11288 "Minimal price is calculated wrong when custom options is set."
### Preconditions
Base install with theme.
1.  PHP 5.6
2.  Magento 2.1.7

### Steps to reproduce
After creating a bundle product with necessary attributes etc. we have extra features you can add to the product however not required.

I have set the base price to 50 USD.
Then add ADD 3 custom options with extra fees or free..
     Option 0: no custom option seleceted only base price.
     Option 1:

[2017-10-07 10:48] yuvraj993 commented on #6135
Same problem     "message": "You need to choose options for your item.",
{
  "cartItem": {
  	"quote_id": 14,
    "sku": "MH01",
    "qty": 1,
    "product_option":{
        "extension_attributes":{
            "configurable_item_options":[
	          {
	            "option_id": "93",
	            "option_value": 52
 	          },
	          {
	            "option_id": "147",
	            "option_

[2017-10-07 11:09] mzeis commented on #11236
@Franzld I updated the issue description for you and could reproduce the problem.

[2017-10-07 11:23] yuvraj993 commented on #8807
**This is on magento official document**

http://devdocs.magento.com/guides/v2.2/get-started/order-tutorial/order-add-items.html

**magento-host/rest/default/V1/carts/mine/items**

**parameters**
[code]

**Show response "message": "You need to choose options for your item.",**

[2017-10-07 11:32] mzeis commented on #10893
@patrikpihlstrom Looks like the issue is yours!

[2017-10-07 12:08] pepijnblom commented on #11055
This has been a problem since magento 1. We were using Rackspace HA database setup and it broke the checkout. This was 3 years ago already and now I read it still exists in the latest versions. So basically magento does not support proper HA on the biggest clouds, because they ALL use GTID and it can't be turned off.

[2017-10-07 12:30] pepijnblom commented on #9455
Magento hasn't supported GTID replication since v1. Guess who uses GTID in their HA database setups? Amazon, Google, Azure, Rackspace, and the list goes on.

[2017-10-07 14:33] GBeushausen commented on #1726
@snez: I can confirm that. Latest and Greatest iMac 2017, just load Magento 2 Admin Panel and CPU Usage 100%. Can hardly enter text. System behaves like it's a C64. I've never ever experiened that kind of slowness from any other PHP Software in my whole carreer. Unbelievable.

[2017-10-07 15:37] daniel-ifrim commented on #4921
@veloraven
This bug is very hard to reproduce. Sorry, I can't provide step by step.

By default, this issue is caused by one of the API request on the cart page.
Most likely is http://example.com/rest/default/V1/carts/mine/estimate-shipping-methods
Usually it shows if you add a simple link on the checkout page back to cart page.
You click fast on the link and land on cart page and than click fast

[2017-10-07 15:43] rratinov commented on #11278
hi, @okorshenko .
Thank you for your attention.

The only thing which I can provide - this is the version of FF (http://prntscr.com/gudp2g).
I added all needful preconditions and steps to reproduce. So the problem that from the same PC site opened and not opened in different browsers.

Unfortunately, that`s all.
I'm not sure if on clean Magento we will have the same, but I don't have the possibili

[2017-10-07 15:56] kytan91 opened #11289 "Issue on UI of admin panel and not able to run compilation"
Magento 2.1.9 version
![2017-10-07_23-47-31](https://user-images.githubusercontent.com/30074078/31309559-a0a1f352-abba-11e7-8eef-a59cf17e6e48.jpg)
![2017-10-07_23-48-40](https://user-images.githubusercontent.com/30074078/31309560-a25e85ca-abba-11e7-8f0e-cae701514395.jpg)
![2017-10-07_23-54-46](https://user-images.githubusercontent.com/30074078/31309582-ee59ac2a-abba-11e7-9a5a-1780580884c7.jpg)

Do

[2017-10-07 16:05] Franzld commented on #11236
**@mzeis** Thanks for your kindly support. Now I've learnt, how to report an issue.

[2017-10-07 17:25] michielgerritsen commented on #7075
I can reproduce this problem on a 2.1.9 installation, but in 2.2.0 it works as expected. You get an .csv of .xml file.

[2017-10-07 18:22] dverkade commented on #1779
I will pickup this issue.

[2017-10-07 19:43] addison74 opened #11292 "Magento is no refreshing the cart page if you delete a product from cart side block"
### Preconditions

1.  Magento CE 2.1.8
2.  Apache 2.4.10, PHP 7.0.23 w/ opcache, Percona MySQL 5.3.37-82-2

### Steps to reproduce

1. Add a product to cart
2.  Go to cart page
3.  Delete the product from cart side block

### Expected result

1.  Cart page should be refreshed partially via AJAX showing no products

### Actual result

1. Cart page still shows the product in cart, even the cart sid

[2017-10-08 00:10] terrybakshi opened #11294 "Magento 2.2 Variant Products Shipping and Advanced Pricing issue"
**Preconditions**

Base install with theme.

1. PHP 5.6
2. Magento 2.2

**Steps to reproduce**

- When adding a variant products the advanced pricing option is not shown in main product in admin side and special pricing is not showing in frontend.

- When adding the variant product in cart and going to checkout page no shipping method or customer detail form is visible.

- Upon adding non variant

[2017-10-08 01:24] LuisChaves commented on #10908
In addition to changing the line of code suggested by hostep, to also remove "?___ store". Change line 228 "$store->getCurrentUrl(false)," to "$this->getUrl ('stores/store/switch' ), "from the file" module-store \ Block \ Switcher.php "

[2017-10-08 06:07] AntonEvers opened #11295 "The following requested cache types are not supported: 'compiled_config'."
`compiled_config` is the only subclass of `\Magento\Framework\Cache\Frontend\Decorator\TagScope` that does not appear in any `cache.xml` file. Thus the `bin/magento cache:...` commands do not know about it. You cannot flush or clean it, neither can you enable/disable the `compiled_config` cache. However it does appear in `app/etc/env.php` as seen in https://github.com/magento/magento2/issues/4556#

[2017-10-08 07:48] storepeinture commented on #11096
I get the same issue when upgrading from Magento 2.1.9 to 2.2.0:

[code]

After following orlangurs advice:
`composer require tedivm/jshrink ~1.1.0 --no-update`
And then `composer update`.

I receive the error again.

Is there a way to upgrade all packages and dependencies?

[2017-10-08 09:00] inetmaster commented on #11228
Hi

I am also having the same error after upgrading the Magento from 2.1.9 to 2.2.0.  If it is a data inconsistency issue, how can we check that?

Regards
TD

[2017-10-08 10:17] arielmorry commented on #11107
This error in M2.2 is coming from Magento Social Integration. When trying to update DB the code searches for the (integration) role and ACL but since you haven't setup Magento Social integration this user and role do not exist yet.
So either set it up before using setup:upgrade OR as a workaround you can change:
magento/module-integration/Model/ConfigBasedIntegrationManager.php (processConfigBased

[2017-10-08 10:35] orlangur commented on #11096
Please try `composer why-not tedivm/jshrink 1.1.0`. You can upgrade multiple packages but you cannot ignore constraint if some of them require older jshrink version.

[2017-10-08 11:06] storepeinture commented on #11096
Thank you! I ran
`composer why-not tedivm/jshrink 1.1.0`
Composer Feedback
[code]
So it looks like magento 2.1.9 doesn't let me upgrade to jshrink 1.1.0? But magento 2.2.0 requires it?

[2017-10-08 11:09] dverkade commented on #10979
I will look into this issue and try to fix it. #SQUASHTOBERFEST

[2017-10-08 11:28] orlangur commented on #11096
Yes, but after `composer require magento/product-community-edition 2.2 --no-update` you normally shouldn't see `2.1.9` blocking update.

[2017-10-08 11:29] orlangur commented on #11278
@rratinov did you try steps from link I posted? Seems to be improper locale set in browser.

[2017-10-08 12:50] springerin commented on #11032
I am preparing a PR for this one so if you can assign it to me please #SQUASHTOBERFEST

[2017-10-08 13:52] fwolfst opened #11298 "Single "Cart Price Rule" view hangs (spinning wheel), JS Error: 'data.some is not a function'"
### Preconditions
1. `uname -a`
`Linux XXX 4.4.0-96-generic #119-Ubuntu SMP Tue Sep 12 14:59:54 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
2. DISTRIB_DESCRIPTION="Ubuntu 16.04.3 LTS"
3. magento 2.1.9 without sample data, migrated data from 1.5 -> 1.9 -> 2.x
4. mysql-server-5.7 (5.7.19-0ubuntu0.16.04.1) from ubuntu repository
5. php7.0 (7.0.24-1+ubuntu14.04.1+deb.sury.org+1)
6. (client firefox 54, bu

[2017-10-08 14:16] mustdobetter commented on #10009
@magento-engcom-team, does your last message indicate that you are planning to release a fix for 2.1?

[2017-10-08 14:21] fwolfst commented on #11298
Seems to have been caused by another, not correctly updated plugin. Closing.

[2017-10-08 14:21] #11298 closed, assigned to nobody

[2017-10-08 14:51] orlangur commented on #1726
Guys, with "bug" reports like "everything is slow" others really cannot do anything. For many of us who made a proper local environment setup Magento 2 is pretty fast in fact.

The more layers your setup use, like vagrant/docker etc, the bigger chance something is configured wrong and makes the system unacceptably slow.

Closing conversation as it didn't bring _any_ value for possible Magento prob

[2017-10-08 15:41] orlangur commented on #11031
@ed007m there is nothing to fix here, functionality works as expected in fact.

With 70-80 in URL actual interval is 70.00 - 79.99 so that next interval may start from a whole number 80.

When you specify 70-77 the interval is 70.00 - 76.99.

[2017-10-08 16:36] orlangur commented on #11292
Observed system behavior is correct. Asynchronous actions performed via AJAX, like removing item in cart sidebar, must not cause a full page reload. Are there any pages behaving like this in core currently?

Shopping cart page may be AJAXified though using some extension or your custom implementation, for your particular store you may even implement full page reload as you suggest, but this is not

[2017-10-08 16:40] orlangur commented on #11264
@fooman, thanks for testing! @ytorbyk confirmed he cannot reproduce this issue anymore so I suppose the problem was with mixed PHP environment as well.

Waiting for feedback from @esimov.

[2017-10-08 16:47] orlangur commented on #10406
Did you manage to reproduce it reliably after all? I doubt it can be reproduced by anyone else without additional info.

[2017-10-08 16:51] orlangur commented on #8658
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

Short answer is - just use whatever syntax is supported by `less.php`, JS version was added just to make development more convenient.

[2017-10-08 16:51] #8658 closed, assigned to orlangur

[2017-10-08 16:54] ADDISON74 commented on #11292
Please check Magento 1.9.3.6 behavior related to this issue. Removing the item from cart side block the page will update according to your action, without any reloading.

This is a bug and creates confusion. Once you delete the product from cart side block AJAX should do the job removing that product from cart page. If you consider this a correct behavior just hide cart side block if the current p

[2017-10-08 17:01] orlangur commented on #8650
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

Initial question seem to be answered to me, StackOverflow is the best place for exact snippets of code.

[2017-10-08 17:01] #8650 closed, assigned to orlangur

[2017-10-08 17:07] orlangur commented on #8635
@ajpevers, thanks for reporting, issues seems to be fixed on 2.2.0 branch.

[2017-10-08 17:07] #8635 closed, assigned to orlangur

[2017-10-08 17:10] orlangur commented on #8619
Closing as the fix for this issue is already available on Magento 2.2.0 branch.

@hostep thanks for your finding 👍

[2017-10-08 17:10] #8619 closed, assigned to orlangur

[2017-10-08 17:16] orlangur commented on #11292
Is sidebar updated via AJAX in 1.9.x? Is main content area of shopping cart page updated via AJAX as well?

What would be really confusing to user is full page reload when he interacts with cart sidebar block.

[2017-10-08 17:42] esimov commented on #11264
@orlangur @fooman yes, it happened on a mixed PHP environment, but with PHP 7.1 this issue has gone. Once i switched to PHP 7.1 the `composer update` ran successfully, without to ignore platform reqs, but the syntax error for nullable types thrown by PHP 7.0 however was not the case for PHP 7.1, because the lately however supports the nullable types.

[2017-10-08 18:04] orlangur commented on #11264
@esimov thanks! Looks like Composer does it job well and `zend-code` is installed with version compatible with platform you use for both PHP 7.0 and 7.1.

However, if you do `composer update` under PHP 7.1 and then try to use same package versions under 7.0, it will lead to troubles but it is quite expectable.

[2017-10-08 18:04] #11264 closed, assigned to orlangur

[2017-10-08 18:17] crissanclick commented on #10679
Can i work on this issue?  thanks

[2017-10-08 19:01] slackerzz commented on #10501
This issue affects also static blocks.
The problem here is that the string `${` is used in [template.js#L15](https://github.com/magento/magento2/blob/2.2-develop/lib/web/mage/utils/template.js#L15) as template syntax starting tag.
When `isTemplate` is called with the cms page/block content as arguments it returns a non zero value and the `render` function is called against it at [template.js#L174]

[2017-10-08 22:10] scholtz opened #11300 "zend-code/src/Reflection/DocBlock/Tag/VarTag.php is 7.1 only"
### Preconditions
1. PHP 7.0 or less
2. Tested on Magento 2.3.0-dev
3. any webserver & any browser

### Steps to reproduce
1. Add a product
2. Select second store view
3. set description for second store

### Expected result
1. Magento should not return Error 500
2. Magento should warn user if he is using unsupported PHP in admin area

### Actual result
1. [08-Oct-2017 21:32:14 UTC] PHP Parse erro

[2017-10-08 22:16] orlangur commented on #11300
Did you run `composer update` under PHP 7.1 maybe? Seems to be a duplicate of https://github.com/magento/magento2/issues/11264.

[2017-10-09 06:04] mritu19 commented on #11284
Hi @orlangur

Can you please help me regarding the above mentioned issue. Any solution ?

[2017-10-09 06:14] dodiya-divyarajsinh commented on #4028
we have issue when we install this module. This will create log file on API call.

Next Exception: Report ID: webapi-59db0fd84dadb; Message: Class "array" does not exist. Please note that namespace must be specified. in /var/www/html/magento_2/vendor/magento/framework/Webapi/ErrorProcessor.php:195
Stack trace:
#0 /var/www/html/magento_2/vendor/magento/framework/Webapi/ErrorProcessor.php(139): Mage

[2017-10-09 06:20] avoelkl commented on #10045
Hi @magento-engcom-team, sorry I missed the notification. This issue can be closed.

[2017-10-09 06:30] magento-engcom-team commented on #6299
@sbernaldev, thank you for your report.
We've created internal ticket(s) MAGETWO-53913 to track progress on the issue.

[2017-10-09 06:57] jarnorai commented on #10829
Seems that you have removed the is scheduled check in 2.2 and that solves the issue when saving customer from the admin. (https://github.com/magento/magento2/commit/8c465937d22043039c317e03a07a4bf760124724#diff-b825af2e6d0add2867a20213c97c9635) That does not still add the similar database trigger based support for customer grid indexing that is there for other entities. The indexing is then basica

[2017-10-09 07:14] JerVoo commented on #11196
After even further investigation I can say that my cronjob is in fact not the problem. It seems like it has something to do with the cookie.

If the customer uses a cookie which has expired on the Magento side (apparently this happens), the customer is not assigned a new cookie, but instead can't log in anymore. As a side effect it seems that adding product to the cart sometimes becomes impossible

[2017-10-09 07:27] rratinov commented on #11278
@orlangur No, we thought it's not our case. but we will try it today. Thank you very much.

[2017-10-09 07:30] magento-engcom-team commented on #7120
@sneha-sukumaran, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 07:30] #7120 closed, assigned to nobody

[2017-10-09 07:38] rbostan commented on #5730
@pravalitera if you are using configurable products, issue may be related about the way that Magento getting lowest price. You may check [https://github.com/magento/magento2/issues/8428#issuecomment-278328632](https://github.com/magento/magento2/issues/8428#issuecomment-278328632)

[2017-10-09 08:08] jwohlfeil commented on #11095
Same Problem here, JoostWan's and friimaind's tipps fixed it.

[2017-10-09 08:10] xpoback commented on #9392
The task, I was working on, has been finished long ago even with the problem described.
Since it wasn't a critical issue (just another plugin was needed), no PR will be created (cuz I'm lazy to look up what I did in April).
Thanks for your time and have a good day.

[2017-10-09 08:21] scholtz commented on #11300
yes, exactly.. my server have PHP5.6, PHP7.0, and PHP7.1 using PHP-FPM.. the CLI is under 7.1, so the issue is that it has installed 7.1 composer package, and under PHP-FPM i did switch for http to 7.1 but not for https version.. therefore i got to unstable state where it used the 7.1 zend package..

however i believe, you should add a warning to the admin area that the php version is obsolete and

[2017-10-09 08:30] magento-engcom-team commented on #11285
@zaheerbadi, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-09 08:30] #11285 closed, assigned to nobody

[2017-10-09 08:30] magento-engcom-team commented on #7678
@DariuszMaciejewski, thank you for your report.
We've created internal ticket(s) MAGETWO-81245 to track progress on the issue.

[2017-10-09 08:30] magento-engcom-team commented on #6123
@TClilMouse, thank you for your report.
We've created internal ticket(s) MAGETWO-57934 to track progress on the issue.

[2017-10-09 08:30] magento-engcom-team commented on #9951
@mrIntegrator, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-09 08:30] #9951 closed, assigned to nobody

[2017-10-09 08:30] magento-engcom-team commented on #8168
@anebi, thank you for your report.
We've created internal ticket(s) MAGETWO-8709 to track progress on the issue.

[2017-10-09 08:30] magento-engcom-team commented on #7775
@kanduvisla, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9