[2021-06-02 14:34] 4ctobias commented on #32468
Hi,

I am fully able to reproduce this with the upcoming 2.4-develop as well. It depends on the following settings (its a typical European set up - as we have to provide gross prices for products, services and shipping for customers B2C):

- Shop-Configuration, Tax, Tax Classes => Tax Class for Shipping set to "Taxable Goods"
- Shop-Configuration, Tax, Tax Classes => Set "Catalog Prices","Shipping

[2021-06-02 14:38] ihor-sviziev commented on #13746
@joshdavenport, are there any steps to reproduce that we can check on the 2.4-develop branch? If so - could you create a new issue for verifying it?

[2021-06-02 14:41] thomas-kl1 commented on #14373
nop

[2021-06-02 16:28] eloom commented on #32942
Hi @engcom-Lima,

we cannot provide the payment module causing the conflict.

[2021-06-02 16:49] jmonrove commented on #33101
Having the same issue on 2.4.2, Chrome 91.0.4472.77. @refueledinc's solution worked, but instead of doing it on the core file I added a section to my custom CSP extension

[2021-06-02 16:59] codingbrains50 opened #33129 "Braintree Payment gateway issue"
I am facing this issue in Magento 2.4.2 on the checkout page.

"PayPal Checkout could not be initialized. Please contact the store owner."

Please let me know how I can resolve this.

[2021-06-02 17:01] matteolavaggi commented on #32934
So it's ok that For remove sample data need to manual clean database,
delete product and change settings, and also remove call to CSS added from
the install procedure?

Il Mer 2 Giu 2021, 16:03 Magento Community Engineering <
***@***.***> ha scritto:

[2021-06-02 17:20] sdzhepa commented on #33038
@magento give me 2.4-develop instance

[2021-06-02 17:59] davirs commented on #29797
Hi guys. I solved this problem editing the file env.php. I don't know why my magento had this parameters:

`    'cron_consumers_runner' => [
        'cron_run' => true,
        'max_messages' => 20000,
        'consumers' => [
            'consumer1',
            'consumer2'
        ]
    ]`

I removed this code and all catalog updates worked pretty.

I hope it helps somebody

[2021-06-02 18:36] joshdavenport commented on #13746
To be honest, I'd forgotten this issue was a thing. I remember it being a real pain back when I commented in 2018 but since that period, i.e. over the last couple of years I don't recall seeing this issue manifest in any meaningful way.

My instinct is that the issue has been resolved and we're seeing the benefit of that but it could also be due to Magento just being much faster. I certainly don't

[2021-06-02 20:26] fernando-sa commented on #32677
@magento give me 2.4-develop instance

[2021-06-02 20:30] heerdt commented on #33123
Duplicated: https://github.com/magento/magento2/issues/32590

[2021-06-02 20:32] heerdt commented on #33123
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-06-02 21:26] sprankhub commented on #29734
Still relevant AFAIK.

[2021-06-03 01:05] cha80 opened #33131 "when i create shippment it's display created but it's not display but invoice can see"
### Preconditions (*)
magento 2.2.11 bug
1.
![image](https://user-images.githubusercontent.com/56351661/120570461-c9f78d00-c44a-11eb-8865-76a54f7b7ebf.png)

![image](https://user-images.githubusercontent.com/56351661/120570368-8ef55980-c44a-11eb-93d9-e3c7971b9259.png)
![image](https://user-images.githubusercontent.com/56351661/120570396-a3395680-c44a-11eb-9cfc-3da36f8a004c.png)

2.

### Steps to r

[2021-06-03 01:52] mrtuvn commented on #33131
Since magento not deliver patch/fix for 2.2 anymore . So in your case you have to manually fix with your patch or upgrade current magento version to higher version

[2021-06-03 03:24] reevelau opened #33132 "Catalog Placeholder doesn't support remote storage"
### Preconditions (*)

1. Magento 2.4.2
2. [Config remote storage](https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage.html)
3. [Config placeholder images](https://docs.magento.com/user-guide/catalog/product-image-placeholders.html)

### Steps to reproduce (*)

1. curl -v http://localhost:8080/media/catalog/test.jpg

### Expected result (*)

1. Placeholder ima

[2021-06-03 03:26] reevelau commented on #33132
@magento give me 2.4-develop instance

[2021-06-03 03:40] reevelau commented on #33132
I cannot config AwsS3 remote storage in the dev instance...

[2021-06-03 04:25] hugozang commented on #31007
same thing happen to me, any updates on this issue?

[2021-06-03 04:27] cha80 commented on #33131
![image](https://user-images.githubusercontent.com/56351661/120586986-18b32000-c467-11eb-9bf5-6ca82c4eaab1.png)

[2021-06-03 04:28] cha80 commented on #33131
magento shipping is not active

[2021-06-03 04:29] cha80 commented on #33131
i use lampp enviroment it's hard to update

[2021-06-03 04:46] cha80 commented on #33131
![image](https://user-images.githubusercontent.com/56351661/120588366-a4c64700-c469-11eb-9e45-1f6b32f64226.png)

[2021-06-03 05:01] cha80 commented on #33131
why i can't change the value

[2021-06-03 05:22] engcom-Alfa commented on #32618
Since there is no update last ~15 days, this issue is getting closed. Kindly create a new ticket with updated reproducible steps in the latest version, in case if you are facing the same issue again.

[2021-06-03 05:22] #32618 closed, assigned to engcom-Alfa

[2021-06-03 05:31] wandyyd opened #33133 "Checkout - Shipping Address - Firstname field is missing"
### Preconditions (*)

1. Magento 2.4.2-p1 upgrade from Magento 2.4.2
2. PHP 7.4.16

### Steps to reproduce (*)

1. Setup theme, to use Magento Luma
2. Follow order/purchase process until checkout

### Expected result (*)

1. Expecting Firstname field to be there

### Actual result (*)

1. Firstname field is missing, hence it stops order process
![image](https://user-images.githubusercontent.com/3

[2021-06-03 05:32] wandyyd commented on #33133
@magento give me 2.4.2-p1 instance

[2021-06-03 05:47] wandyyd commented on #33133
I check against that instance, and it seems fine
![image](https://user-images.githubusercontent.com/30722472/120593453-bc9dcb00-c469-11eb-9170-7c7c91aba41d.png)

Is there any possibility on where the issue comes from?
I did try to disable some modules (currently have some modules running), but none affecting my issue

[2021-06-03 05:51] cha80 commented on #33110
magento 2.2.11 ce vesion
it's all detail

[2021-06-03 05:53] engcom-Echo commented on #33121
Hi @Shashank-Bhatt1 ,

We are not able to re-produce the issue based on given inputs. Kindly elaborate the steps to re-produce and expected/actual results.

Thanks

[2021-06-03 05:56] sodobean commented on #13746
Install Linux, (Centos7 ), install apache and all dependencies, install
Magento, try to add an item to the cart, you will be unable to.

On Thu, Jun 3, 2021, 3:36 AM Josh Davenport ***@***.***>
wrote:

[2021-06-03 05:59] engcom-Echo commented on #33109
Hi @chequille ,

Based on your recent comments, it looks it was an issue due to mis-configuration and everything is working fine now.
Thus we are closing this issue .

Thanks

[2021-06-03 05:59] #33109 closed, assigned to engcom-Echo

[2021-06-03 06:30] magento-engcom-team commented on #31393
Hi @lbajsarowicz.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40256` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-06-03 07:35] engcom-Alfa commented on #26880
Hi @rigroweb
Kindly please upgrade to the latest version and reproduce the same issue. Kindly let me know if you again face the same issue with latest version.

[2021-06-03 08:33] tschifftner commented on #30385
I also had issues importing images with proper roles. I figured out the product must be loaded again after it was saved with the ProductRepositoryInterface - otherwise the image is saved but the roles are set to "no_selection":

[code]

Hope this helps someone.

[2021-06-03 08:42] ticaje opened #33134 "Multi-Currency not working when setting Custom Prices on adding product to Cart. This occurs on version 2.4.2 and previous versions as well"
### Preconditions (*)

1. Magento version 2.4.2.
2. Clean instance of Magento.
3. Sample products has been imported.
4. Two currencies have been defined: dollar and euro.
5. Dollar is default currency.
6. One website has been defined with two stores: English(default one) and Spanish store.
7. A custom module that catches __checkout_cart_product_add_after__ event to set Custom Price according to so

[2021-06-03 09:41] hubertus2017 commented on #30635
After six months now the problem still persists.

Customers fill in their addresses in magento checkout, then check out with PayPal and wonder, why address has changed afterwards.
The default PayPal address is always overwriting the provided address in the shop. The PayPal address is mostly faulty. People do not see it and we sent out packets to wrong addresses.
This happens very often. 4-5 wrong

[2021-06-03 10:38] i95devdivya commented on #33134
@ticahe: Try this once vendor/magento/module-tax/Model/Sales/Total/Quote/CommonTaxCollector.php:692

$quoteItem->setCustomPrice($baseItemTaxDetails->getPrice());

should be:

$quoteItem->setCustomPrice($itemTaxDetails->getPrice());

[2021-06-03 10:47] engcom-Alfa commented on #29710
Hi @engcom-Delta
Getting logged in as customer successfully to the default website without any issues, based on the given steps successfully.

[2021-06-03 10:50] ticaje commented on #33134
@i95devdivya That's already what core class has defined.
![image](https://user-images.githubusercontent.com/1042962/120633269-3e8df400-c46a-11eb-8e2c-e3bba0614f7a.png)

[2021-06-03 10:57] engcom-Alfa commented on #29710
Since it is an internal reporter's ticket and being not reproducible, the issue is being closed!

[2021-06-03 10:57] #29710 closed, assigned to engcom-Alfa

[2021-06-03 11:02] engcom-Echo commented on #32470
Hi @adamlavery,

We were not able to re-produce with the steps given . We followed the steps in our case the changes that we did to our module_.less file was reflected after flushing cache, static page and full page without requiring to manually delete var/pre_processed files.
Requesting you to kindly test the same on latest branch i.e. 2.4-develop and let us with detailed input if you were able t

[2021-06-03 11:39] Den4ik opened #33137 "[Ui] Refactoring ui mass action filter component"
### Description (*)

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Ui/Component/MassAction/Filter.php

Current filter component used for grid mass actions implement logic that could be improved:
1. provide logic with 2 db requests:
1.1. calculate ids based on filters and select/exclude params
1.2. apply ids from 1.1. to main collection
2. don't implement service contract
3.

[2021-06-03 12:15] engcom-Alfa commented on #33085
The issue is reproducible in the commerce edition 2.4.2 as I tested. It is going to replicate in case we are working with multi sources. Below is the reproducible recorded video has been attached for reference.

https://user-images.githubusercontent.com/51679138/120643148-6c3b6300-c493-11eb-9f8a-88604788e0fc.mp4

Hence confirming the issue.

[2021-06-03 12:15] magento-engcom-team commented on #33085
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-03 12:15] magento-engcom-team commented on #33085
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-03 12:16] engcom-Alfa commented on #33085
Hello @intheshallow

Thank you for contribution and collaboration!

The issue should be moved into [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aime

[2021-06-03 12:17] magento-engcom-team commented on #33085
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42550` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-03 12:28] Den4ik commented on #32469
@madonzy Described issue don't reproduced on 2.4-develop branch.

I followed next steps:
1. Create decorator for CustomerRepository
2. Create preference for decorator
3. Create plugin for original class with `aroundGet` method
4. Make object via ObjectManager for decorator class
5. Call `get` method

**Actual Result**
![2021-06-03-15-24-12@2x](https://user-images.githubusercontent.com/1129623/1206

[2021-06-03 12:46] engcom-Lima commented on #32892
Hi @bampisSyk ,

Unfortunately, Can't reproduce the issue.

I configured price/special price different for each website, It is working as expected. Please find the screenshots, both the screenshots are from different website.
<img width="975" alt="Screenshot 2021-06-03 at 6 13 54 PM" src="https://user-images.githubusercontent.com/60198022/120646798-81b28c00-c497-11eb-9145-0ae021b6bb2b.png">

<img

[2021-06-03 12:46] #32892 closed, assigned to engcom-Lima

[2021-06-03 12:54] homecoded opened #33138 "Rest API and Magento backend use different validation methods for attribute_code when creating new attributes"
### Preconditions (*)

1. Magento 2.4.2
2. Nothing else needs to be installed

### Steps to reproduce (*)
1. Go to backend
2. Open Stores -> Attribute -> Product
3. Click "Add New Attribute"
4. Enter arbitrary value in "Default Label"
5. Under "Advanced Attribute Properties" enter an "Attribute Code" that contains an upper case letter, e.g. "Test_Attribute"
6. Hit save (works!)
7. Setup Rest-API a

[2021-06-03 12:55] homecoded commented on #33138
@magento I'm working on this

[2021-06-03 12:55] homecoded commented on #33138
@magento add to contributors team

[2021-06-03 12:56] homecoded commented on #33138
@magento I'm working on this

[2021-06-03 13:03] engcom-Alfa commented on #23889
HI tried to reproduce in the 2.4-develop version and able to successfully reproduce it.
Below is the screen record in which it shows that able to reproduce. (I was able to reproduce, after a few attempts. It is not consistently reproducible)

https://user-images.githubusercontent.com/51679138/120649119-07cfd200-c49a-11eb-8b16-8e3269ab18f2.mp4

Hence confirming the issue.

[2021-06-03 13:04] magento-engcom-team commented on #23889
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23895` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-03 13:17] engcom-Alfa commented on #33115
Hi @gwharton
The above link is forbidden to me again.

[2021-06-03 13:19] gwharton commented on #33115
Yeah, I think the deployed images from the bot only last a certain time. If you deploy your own image and use the instructions https://github.com/magento/magento2/issues/33115#issuecomment-852984284 to form your own URL.

[2021-06-03 13:31] galanis-a opened #33140 "Tier Prices are filtered before adjustments"
### Preconditions (*)

1. Magento version 2.4.2
2. PHP 7.4.11

### Steps to reproduce (*)

1. Create a price adjustment calculator for Magento\Catalog\Pricing\Price\TierPrice

### Expected result (*)

1. The $priceList should be filtered, against the finalPrice, after the adjustments.

### Actual result (*)

1. The $priceList is filtered before the adjustments of the calculator. If a tier prices h

[2021-06-03 13:37] engcom-Lima commented on #32341
Hi @Dutch77

I saw your issue, it is looking configuration settings related. Can you please provide me some screenshots and more steps to investigate this in details.

[2021-06-03 13:49] engcom-Echo commented on #31952
Hi @Eddcapone ,

Can you please elaborate the steps to re-produce and actual/expected result so that we can try to re-produce the same.
If this is a a feature request , then kindly mention the same.

Thanks

[2021-06-03 13:57] TonyMerlin commented on #32202
Hi for anyone else struggling with this i've found the fix.

In Magento 2.4.1 the protect_code is generated only for new orders... so as before if we put just entityId and extension attributes in POST body protect_code is inserted after SET in SQL query so therefore the query has valid syntax.

In Magento 2.4.2 it isn’t possible anymore to update extensions attributes without passing another attri

[2021-06-03 14:43] george-vlahakis commented on #33140
Having the same issue here.

[2021-06-03 14:45] Spamer111 commented on #32292
![image](https://user-images.githubusercontent.com/19145646/120663775-0058fa80-c493-11eb-8a25-ac27eb9e00b4.png)
I confirm that the error is still valid. All magento 2.4.2 stores have this bug when going to Report->Braintree Settlement grid.

[2021-06-03 14:51] engcom-Lima commented on #30805
Hi @victortodoran,

Can you please provide us more details to reproduce your issue?

Preconditions,
Steps to reproduce
Expected result
Actual result

if possible provide the screenshots as well.

Thanks

[2021-06-03 16:15] m2-assistant[bot] opened #33142 "[Issue] Update CategorySetup.php"
This issue is automatically created based on existing pull request: magento/magento2#33126: Update CategorySetup.php

---------
landing_page attribute is used under Admin Panel: Catalog->Categories->Content section with a purpose to add cms block in Categories. So here I am changing Attribute Group to Content from Display Settings.

### Description (*)

### Related Pull Requests

### Fixed Issues

[2021-06-03 16:16] m2-assistant[bot] opened #33143 "[Issue] Update CONTRIBUTING.md"
This issue is automatically created based on existing pull request: magento/magento2#33130: Update CONTRIBUTING.md

---------
Updated Link for 'Magento Pull Request Template' from https://github.com/magento/magento2/blob/2.3-develop/.github/PULL_REQUEST_TEMPLATE.md  to https://github.com/magento/magento2/blob/2.4-develop/.github/PULL_REQUEST_TEMPLATE.md as it was showing 404-Page Not Found.

### D

[2021-06-03 16:26] ProxiBlue commented on #30577
@hussainbaig34

From the supplied link to the fix, you can create a diff, by adding .diff to the PR URL.

[code]

You can apply the patch.

Most of that involves tests, so in a pinch, if you are using composer patching, below is the part that makes teh site work again:

[code]

applied via composer patch :

[code]

[2021-06-03 16:41] m2-assistant[bot] opened #33144 "[Issue] Update zip_codes.xml patterns for Guernsey"
This issue is automatically created based on existing pull request: magento/magento2#33128: Update zip_codes.xml patterns for Guernsey

---------
Update zip_codes.xml patterns for Guernsey to support GY10 postcodes for the Island of Sark e.g. https://en.wikipedia.org/wiki/GY_postcode_area

### Description (*)

Guernsey postcodes for the island of Sark start with GY10 e.g. "GY10 1PB" which the prev

[2021-06-03 16:53] kunzi commented on #33101
Could you share your file as I could not get this fix to work in my custom module's config.xml?

[2021-06-03 17:06] aurel5542 commented on #9497
Hello, why is this closed? I still have this issue on 2.3.6-p2 several times a week

[2021-06-03 17:07] Shashank-Bhatt1 commented on #33121
Hi @engcom-echo, please find these steps to reproduce.

- Add font via newly added font node in default_head_blocks.xml file in the head of the page.
- Keep src of the font node with some querystring for version number i.e. ?abcdef
- Try to see actually generated link element in the head

Expected result
- Newly generated link should have preload attribute with other attributes like `crossorigin=a

[2021-06-03 17:13] goldcattle commented on #9497
Why are you still on magneto? We already moved to Shopify years! lol.

On Thu, Jun 3, 2021 at 10:06 AM aurel5542 ***@***.***> wrote:

[2021-06-03 18:32] jmonrove commented on #33101
This is how mine looks:

<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_uri>https://yoururl.com/</report_uri>
                </storefront>
                <admin>

[2021-06-03 21:05] magento-engcom-team commented on #33144
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42558` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-03 23:20] leoquijano opened #33145 "Duplicate product collection items when loading category positions in the default store"
### Preconditions (*)

1. Magento v2.4.2.
2. A catalog with one parent anchor category and a few subcategories for it.
3. Products assigned to both the parent category and to its subcategories.
4. Different product positions in each category the product is in.

### Steps to reproduce (*)

1. Set up a small catalog with the conditions mentioned above: one or more products that are present in the pa

[2021-06-04 02:05] #24736 closed, assigned to nobody

[2021-06-04 02:05] #30211 closed, assigned to nobody

[2021-06-04 02:05] #32276 closed, assigned to nobody

[2021-06-04 02:07] magento-engcom-team commented on #22627
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-06-04 02:07] magento-engcom-team commented on #31278
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-06-04 02:52] magento-engcom-team commented on #22627
:white_check_mark: Confirmed by @mrtuvn
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-25105` were created

**Issue Available**: @mrtuvn, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-04 04:22] frankhdz commented on #30722
Definitely tired of all the dependencies on modules we don't use. I ran into this issue with the reviews module not long ago. Magento is definitely bloated and while it served my purpose on getting a store up and running quickly it has slowly degraded into a hellish nightmare of a project with things constantly breaking for no reason whatsoever! We don't touch the site and bam the site breaks.

Ou

[2021-06-04 04:43] krishprakash commented on #33114
Hi @homefieldandstream. Kindly refer magento stack exchange Or Community forum to discuss about this topic

[2021-06-04 04:43] #33114 closed, assigned to nobody

[2021-06-04 05:00] mrtuvn commented on #28984
Any reason we change type data from array|object to mixed ? So we can pass any kind type for data in publisher queue

[2021-06-04 06:19] hostep commented on #31428
Leaving a comment to prevent the stalebot from closing this automatically

[2021-06-04 06:53] prashantvictory commented on #29113
When we remove it from "There is an option in Shop -> Configuration -> Customer -> Login as Customer" it starts giving error on the front-end register form, see attached.
<img width="608" alt="Screenshot 2021-06-04 at 12 20 19" src="https://user-images.githubusercontent.com/297915/120758504-8fb3eb80-c52f-11eb-8ed0-969a77c9a466.png">

In this theme file: /static/version1622786918/theme/frontend/en_

[2021-06-04 07:33] engcom-Echo commented on #29681
Hi @robsch ,

We have followed the steps provided by you , but we were not able to re-produce the issue . The result output on catalog search and elastic search seems to match.
Attaching screenshot for the same
Result on elastic search
<img width="616" alt="Screenshot 2021-06-04 at 1 01 59 PM" src="https://user-images.githubusercontent.com/51681435/120763668-13bca200-c535-11eb-8dfc-65307fac6a4b.pn

[2021-06-04 08:08] vermarajesh60 opened #33146 "Magento ver. 2.4.0 Cart Price Rules not working on selection of multiple product in cart"
We are trying to create Cart Price Rules 5% discount on every product only for prepaid orders.

![image](https://user-images.githubusercontent.com/85337619/120767722-14efce00-c539-11eb-9999-65bdd9d710a2.png)
![image](https://user-images.githubusercontent.com/85337619/120767820-32bd3300-c539-11eb-9f81-7d3178ffe3ab.png)
![image](https://user-images.githubusercontent.com/85337619/120768490-d4dd1b00-c

[2021-06-04 08:13] vermarajesh60 opened #33147 "Magento ver. 2.4.0 Cron scheduler not working XML site map."
I have setup cron scheduler to create dynamic sitemap.xml over the website it's not working manual is working.

### Preconditions (*)

1. Magento 2.4-develop
2. Setup cron over the server

### Steps to reproduce (*)

1. Admin - Enable Sitemap (Stores - Configuration - Catalog - XML Sitemap)
2. Generate sitemap (Marketing - Seo & Search - Sitemap - Add Site map and Generate) - Sitemap is generated

[2021-06-04 08:52] madonzyaccenture commented on #32469
@Den4ik first of all, the Magento version is 2.3.3. Could you please the code that you tested on?

[2021-06-04 09:36] engcom-Lima commented on #28193
Hi @pointia,

We are happy to work on your ticket. Currently provided details are not enough to reproduce the issue. Can you please provide us some screenshots where you made changes and custom modules A and B code screenshots etc. Also mention where you are checking the $data array isn't empty

[2021-06-04 09:57] craig-bartlett commented on #33145
I've also been investigating this issue and can confirm it exists in Magento 2.4.1-p1 too.

[2021-06-04 10:19] iphigenie commented on #32285
@shiftedreality I got rid of the subfolders but I can't help but notice that the installation instructions https://devdocs.magento.com/guides/v2.4/install-gde/composer.html are STILL GIVING EXAMPLES THAT LEAD TO GENERAL 404

These need to be modified to something that works on 2.4.2

Because people are following these instructions and you can find them on stack exchange "fresh install doesnt work"

[2021-06-04 10:24] 4ctobias commented on #32468
For a quick/hot fix I have overriden the Magento\SalesRule\Model\Validator (with a preference-for in a di.xml). Within the processShippingAmount() I changed the processing within the \Magento\SalesRule\Model\Rule::CART_FIXED_ACTION-handling in the switch. I changed from

[code]

to

[code]

Its not a clean solution:

- Doing a preference for replacement for a Magento-Base-class is bad
- The code a

[2021-06-04 10:31] Nuranto commented on #32739
Hello,

Having same issue here.
It seems linked to `ReindexQuoteInventoryObserver` observer (problem solved when removing it).

I will dig deeper, I'll let you know if I found more details.

[2021-06-04 10:53] LucScu commented on #30798
@qsolutions-pl thx for your investigation, i was in same scenario and now i know how to fix it.

[2021-06-04 12:15] SilinMykola commented on #33073
@magento give me 2.4-develop instance

[2021-06-04 12:49] SilinMykola commented on #33073
@engcom-Alfa issue is not reproducible and can be closed.
I created multiselect product attribute in admin panel and import test product.
I created product with one option and added new option depend on previous option option_id
![admin_create_multiselect_attribute](https://user-images.githubusercontent.com/15772032/120803487-445c0600-c54c-11eb-9df4-c3feeb26d769.jpg)
I imported new product with cu

[2021-06-04 13:23] engcom-Lima commented on #31423
Hi @hershkoy ,

Unfortunately, Can't reproduce the issue.

We have verify this issue in Magento current release (2.4.2) and this is not reproducible. You can find the screenshot of order shipment from backend and the name of the product in frontend is showing correctly.

Please find attachments regarding this.

![FrontEnd](https://user-images.githubusercontent.com/60198022/120807489-a117ea80-c565-

[2021-06-04 13:31] engcom-Lima commented on #32791
Hi @rani-priya,

Unfortunately, can't reproduce the issue.

I tested in magento-2.4.2-develop version. Please find the attached Screenshot for your reference.
<img width="1365" alt="Screenshot 2021-06-04 at 6 58 07 PM" src="https://user-images.githubusercontent.com/60198022/120808717-f7395d80-c566-11eb-9fd4-aefb3c774bff.png">

Hence, closing this ticket. Please feel free to open or create the new

[2021-06-04 13:31] #32791 closed, assigned to engcom-Lima

[2021-06-04 13:48] engcom-Echo commented on #33140
Hi @galanis-a ,

We are not able to re-produce the issue based on your input, can you please specify the steps along with screenshot of your custom code/configuration.

Also request you to test the same on Magento latest version i.e. 2.4-develop

Thanks

[2021-06-04 13:50] engcom-Echo commented on #33147
Hi @vermarajesh60 ,

Can you please elaborate the steps to reproduce and expected/actual result so that we can re-produce the same.

Thanks

[2021-06-04 14:19] magento-engcom-team commented on #30870
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42279` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-04 14:26] giancarlo-morales-formax commented on #8285
I resolve copy & paste this lines on app/etc/env.php

'cache' => [
        'frontend' => [
            'default' => [
                'id_prefix' => '69d_',
                'backend' => 'Magento\\Framework\\Cache\\Backend\\Redis',
                'backend_options' => [
                    'server' => 'redis-cache',
                    'database' => '0',
                    'port' => '6379',

[2021-06-04 14:40] magento-engcom-team commented on #31278
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42561` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-04 14:40] sdzhepa commented on #31278
reponed

Still waiting decision from Product Managers team

[2021-06-04 14:59] #29775 closed, assigned to mauragcyrus

[2021-06-04 15:04] Nuranto commented on #31795
If someone else struggle with this, here is a patch : https://github.com/magento/magento2/pull/33150
You can use it through composer patch system.

[2021-06-04 15:44] michal-balut-accenture opened #33151 "Error after admin login with user that was changed and has incorrect password hash"
### Preconditions (*)
1. Reproduced on clean Magento 2.4.2 installation, production mode, PHP 7.4.16
2. admin_user account with both reload_acl_flag = 1 AND password with previous hash version (can be manually achieved by changing last password part 3 -> 2)

### Steps to reproduce (*)
1. Attempt to login with with admin_user with reload_acl_flag = 1 AND password with previous hash version (3 -> 2)

[2021-06-05 02:13] cha80 commented on #33131
@engcom-Alfa. how to fix this problem

[2021-06-05 03:32] cnukwas commented on #32153
Ran into same issue with 2.4.2 CE and Minify HTML option enabled. For now removed the comments from the .phtml file I was seeing this error.

[2021-06-05 06:21] ajijshekh123 commented on #33146
@magento give me 2.4-develop instance

[2021-06-05 07:06] ajijshekh123 commented on #33146
Hello @vermarajesh60,
I have verified this issue as per steps and attached the screenshot. Coupon code is applied on all prepaid payment method except the Cash on delivery payment method.

See attached the screenshot:
![image](https://user-images.githubusercontent.com/24711761/120883354-48466180-c5fa-11eb-8ce4-c05d36cbae7c.png)

![image](https://user-images.githubusercontent.com/24711761/120883378

[2021-06-05 07:59] Skyfly2021 opened #33153 "Magento 2.4.2-p1 multi-attribute products and single-attribute products have an error at the checkout of the shopping cart"
### Preconditions (*)

1.Magento 2.4.2-p1
2.Php 7.4
3.mysql 8.0
4.centos 8.0

### Steps to reproduce (*)

1.When you first add multiple products without attributes to the shopping cart, and then add a product with multiple attributes (color, size, style, etc.) to the shopping cart, click on the checkout, and an error like the attached picture will appear. Add products in this order. There will be

[2021-06-05 08:36] niku0911 opened #33154 "Miinicart empty after Currency Switcher"
### Preconditions (*)
1. Magento 2.3.6
2. PHP 7.2

### Steps to reproduce (*)
1. Create Multiple Currency Switcher in backend
2. Frontend add product in cart
3.  Change currency switcher
4. Minicart showing emtu results
5.  after add another product in cart than show 2 items

### Expected result (*)
1.  need to show 1st item when currency changed

### Actual result (*)
1. Minicart showing emty res

[2021-06-05 09:55] #29216 closed, assigned to sandy6666

[2021-06-05 10:43] pathakkrunal commented on #33101
this help for me too
Thank you.

[2021-06-05 14:29] amitmaurya191 commented on #29568
Did anyone get the solution?

[2021-06-05 21:33] IbrahimS2 commented on #32440
I applied the patch, but the problem never went away!?

[2021-06-06 06:20] vermarajesh60 commented on #33146
Hi Ajij,

Thanks for your support.

Just add one more product in the cart and you will see the problem, in the
below screen discount should be  139.73.
[image: image.png]
.

On Sat, Jun 5, 2021 at 12:36 PM Ajij Shekh ***@***.***> wrote:

[2021-06-06 06:31] vermarajesh60 commented on #33147
Hi Anirban,

Thank you for your reply.

I have just configured the xml sitemap setting in the admin section and
manually generated the sitemap, after that i have set up the magento cron
over the server but the sitemap was not updated from cron. I have watched
sitemp after 2 -3 day but still the sitemap is not updated.

Even in the cron table there is no scheduler to update the sitemap.

Let me kno

[2021-06-06 09:00] CFA2021 commented on #25098
Hi,
I am having a similar issue with the Megaplaza store pickup extension, I choose Free shipping, but free shipping is not applied (it does work with all other shipping methods.
I have another issue regarding coupons in magneto - I tried to create a coupon that will give the customer 100% discount on his order, when trying to place an order with this coupon, the cart shows the correct prices but

[2021-06-06 09:22] CFA2021 opened #33155 "100% discount Coupon in magento 2"
Preconditions (*)
1. Magento ver. 2.3.4
2.

Steps to reproduce (*)

I am trying to create a coupon that will give the customer a free order. We use Cardknox payment option.
1. New coupon
2. Percent of product price discount
3. Discount amount: 100%
![image](https://user-images.githubusercontent.com/85434022/120919116-9faf0500-c6c0-11eb-9243-cbfd60e875c9.png)
Hi,
I am having an issue regarding coup

[2021-06-06 10:30] danilkrasnorudskyi commented on #12750
Hello, could you help me with issue in stripe module, because I have probably the same issue.

[2021-06-06 13:37] everestkid commented on #25294
same issue
Unable to apply data patch Magento\CatalogSampleData\Setup\Patch\Data\InstallCatalogSampleData for module Magento_CatalogSampleData. Original exception message: Rolled back transaction has not been completed correctly.

[2021-06-06 13:40] ioweb-gr commented on #27829
Not stale

[2021-06-06 16:44] ymssrikanth commented on #32350
This issue exits

[2021-06-06 19:41] bartoszkubicki commented on #26969
Still an issue

[2021-06-06 22:21] VENDORDOM opened #33156 "How do sellers upload their products themselves on my Magento 2 Multivendor marketplace?"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2021-06-07 00:32] davirs commented on #33101
@jmonrove  what is the solution? I think the repository not exists anymore..
Can you share the solution, please

[2021-06-07 03:18] hawkcraw opened #33157 "paypal-express-checkout is not work in graphql api"
### Preconditions (*)

1. Magento ver. 2.4.0-p1
2. Ubuntu 18.04.3
3. PHP 7.3.27

### Steps to reproduce (*)
1. Follow this API step：https://devdocs.magento.com/guides/v2.4/graphql/payment-methods/paypal-express-checkout.html
2. createEmptyCart
3. addSimpleProductsToCart
4. createPaypalExpressToken
5. setPaymentMethodOnCart
  This step shows an error : The shipping address is missing. Set the addre

[2021-06-07 04:16] krishprakash commented on #33156
Hi @VENDORDOM. GitHub issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this problem.

[2021-06-07 04:16] #33156 closed, assigned to krishprakash

[2021-06-07 06:09] norgeindian commented on #27474
@sdzhepa , great, thanks a lot.
It would be awesome if this could be fixed, as this is a pretty important information for a shop owner....

[2021-06-07 06:12] norgeindian commented on #29734
Definitely, still no solution here as far as I see.

[2021-06-07 06:22] ihor-sviziev commented on #24736
It looks like this issue duplicates https://github.com/magento/magento2/issues/23908 that has P1 priority, so I don't think we should re-open this one.

[2021-06-07 06:29] LaurensGoedel commented on #26675
Just updated to 2.3.7 and issue still extists

[2021-06-07 06:49] ihor-sviziev commented on #27039
@gabrieldagama,
Could you review the following issue? It's already confirmed with p3 prio, but I still think it has to be fixed as it might cause email sending to all existing orders and that's absolutely not expected.

[2021-06-07 07:17] manan-india opened #33158 "Image role issue with different store view"
### Preconditions (*)

Magento-2.4.2

### Steps to reproduce (*)

1. Create a product with single image in admin
2. Change the store view to default store, delete that image and add new image with assigning all the role to that image
3. Save the product

### Expected result (*)

1. New image should only be there with all the assigned roles and old image should be deleted.

### Actual result (*)

2

[2021-06-07 07:17] hostep commented on #26675
@LaurensGoedel: the issue got fix in Magento 2.4.0 and above, it looks like Magento core devs didn't seem to think it was necessary to backport this fix to the 2.3.x release line. If you still need a fix for 2.3.x,  please read through the entire thread, there are plenty of comments that tell you how to apply patches to resolve this issue.

[2021-06-07 07:19] Eddcapone commented on #31952
@engcom-Echo, I think it is a feature request, since it does not seem to work with magento out of the box.

[2021-06-07 07:22] clernoc commented on #25294
Magento2 is still a whole issue, I can't remember if anything I have tried to do worked as it should. Perhaps they simply do not know what they do, or do not have enough people to cover all work necessary, but you as an user or a developer will suffer because of that. Magento1 earned status of being reliable and predictable system, when Magento2 ruined all of that. I managed to make it work after

[2021-06-07 07:27] engcom-Alfa commented on #33115
Hi @gwharton
I am unable to view the popups.html in my view source code.
Can you please tell me from where to enable the popups or how you have done it.
You may please inform me if it is for any particular UI pages.
It will be very helpful if you are going to describe the step by step reproducible steps.

[2021-06-07 07:31] JeroenVanLeusden commented on #31063
@magento-engcom-team Do you know the commit where this is fixed?

[2021-06-07 08:56] Eddcapone opened #33159 "Override Mixin with another Mixin"
### Summary (*)

I need to disable a third party mixin and replace it with my own. But there are no informations on how to disable a mixin and it seems to be impossible to replace it with another one.

### Examples (*)

https://magento.stackexchange.com/questions/338137/magento-2-override-mixin-with-another-mixin/339319#339319

### Proposed solution

---
Please provide [Severity](https://devdocs.m

[2021-06-07 08:59] ihor-sviziev commented on #32440
Just note the fix also available in the quality patches tool as MC-41359.

[2021-06-07 09:06] martasiewierska opened #33160 "Element translations per module do not work"
### Preconditions (*)

1. Magento 2.4.2
2.

### Steps to reproduce (*)

According to documentation: _You can translate the same element in different ways for different modules:_
https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/translations/theme_dictionary.html

1. Create store view and set locale
2. Create translation file
3. Add:
[code]

### Expected result (*)

1. 'Add to cart' string

[2021-06-07 09:15] gwharton commented on #33115
- Deploy Magento 2.4-develop
- Go to home page
- View Source
- Extract the static base url from the source code. In the below screenshot it is the boxed url
![image](https://user-images.githubusercontent.com/30697781/120991082-2f17ef00-c779-11eb-8795-486d59332d03.png)
- Append "/css/docs/popups.html" to the url
- Browse to this url for the example documents for the UI Popup Component.

In my examp

[2021-06-07 09:37] krishprakash commented on #33154
@magento give me 2.4-develop instance

[2021-06-07 09:41] ticaje commented on #33134
@i95devdivya That's already what core class has defined.
![image](https://user-images.githubusercontent.com/1042962/120633269-3e8df400-c46a-11eb-8e2c-e3bba0614f7a.png)

I'd really like to add the labels you require in previous answer but I cant' find a way to do that over here

[2021-06-07 09:53] krishprakash commented on #33154
Hi @niku0911. Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
Looks like you miss some important preconditions, steps so may you please recheck and update description?

[2021-06-07 09:55] ticaje commented on #33134
I have just reported the issue, I don't have the knowledge to solve it, that's why I'm heading to you so you can take care of it since the problems comes out of a pretty common use case that is Setting Custom prices when adding to cart.

[2021-06-07 10:09] engcom-Alfa commented on #32882
HI @Webalpha97
Issue is not reproducible, it works fine in Magento 2.4 Develop.

[2021-06-07 10:14] braders commented on #25003
I am experiencing this issue in Magento 2.4.1. The attached pull request (#31907) looks good, has anyone had success with applying this as a patch in a production environment?

Is there anything that can be done to push this ticket forward?

[2021-06-07 10:23] renard123 opened #33162 "Trademark ^TM not show proper at Recently Ordered and My Wish List"
Trademark ^TM not show proper at Recently Ordered and My Wish List

### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Login into account
2. Add Minerva LumaTech™ V-Tee product to add to wishlist OR place order with this product
3. Check the product name at left side Recently Ordered  and My Wish List section

### Expected result (*)
It should show properly as Minerva LumaTech

[2021-06-07 10:25] magento-engcom-team commented on #33162
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42573` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-07 10:50] engcom-Lima commented on #32907
Hi @lagunacellar,

Waited since 2 week about the updates, Hence closing this ticket as of now. If you have any issue or query then you can raise the new ticket or reopen.

Thanks for understanding!

[2021-06-07 10:50] #32907 closed, assigned to engcom-Lima

[2021-06-07 10:52] engcom-Lima commented on #30720
Hi @qsolutions-pl ,

Waited since 2 week about the updates, Hence closing this ticket as of now. If you have any issue or query then you can raise the new ticket or reopen.

Thanks for understanding!

[2021-06-07 10:52] #30720 closed, assigned to engcom-Lima

[2021-06-07 10:59] uisuru commented on #33101
@refueledinc and @jmonrove solution is working.
@davirs
1. Create a new module or use an existing one.
2. Create a file called config.xml in the etc folder
3. put the following content to the file

[code]
4. Delete static folder and clean cache

[2021-06-07 11:15] engcom-Alfa commented on #28337
Hi @Techytt
I have tried to reproduce it. Choosing the FedEx and switching between the tickets actually performing faster. Kindly give me step by step procedure exactly at which point we are expecting no delay at all (As per description reproducible steps- there is no option to edit the zip code in the shipping cart page).
Possibly please do the screen record and update here.

Below is the screen

[2021-06-07 11:38] sheepfy commented on #10725
4 years later, issue is still present

[2021-06-07 11:44] hostep commented on #30720
This issue seems to be closed for the incorrect reasons.

The offending code referred to in the opening comment is still not passing on the merchant VAT data on the `2.4-develop` branch: https://github.com/magento/magento2/blob/ed2ffad8f227e253c0aa50393f40478b02310b65/app/code/Magento/Customer/Observer/AfterAddressSaveObserver.php#L152-L155

I'll try to provide more info about how to reproduce thi

[2021-06-07 11:45] hostep commented on #29373
This stalebot is getting a bit annoying...

[2021-06-07 11:48] engcom-Golf commented on #31414
@niksjethva I tried to reproduce this issue, but can't reproduce. It is working as expected. I can successfully run the **setup:upgrade** command. So considering this, I am closing this Issue.

[2021-06-07 11:48] #31414 closed, assigned to engcom-Golf

[2021-06-07 12:15] engcom-Lima commented on #28424
Hi @kemexyz

I debug your issue and i followed all the steps, Unfortunately can't reproduce an issue.

I tested your issue on Magento ver. 2.4.2. Please find the attachment.
<img width="1440" alt="Screenshot 2021-06-07 at 5 35 04 PM" src="https://user-images.githubusercontent.com/60198022/121014597-c7cd5f80-c7b7-11eb-87f2-0e9921d0ee7b.png">

Please provide the reproducible steps and details.

[2021-06-07 12:19] engcom-Echo commented on #32292
Hi @zaximus84 ,

On step 3 , Can you please specify which collection you used for the data provider.

Thanks

[2021-06-07 13:12] #32745 closed, assigned to engcom-Golf

[2021-06-07 13:37] abhishekc3 opened #33164 "Magento 2 Paypal payflow mobile redirect"
**Preconditions (*)**

1. Magento CE 2.3.4 without Sample Data
2. Apache (PHP 7.2.34)

**Steps to reproduce (*)**

1. Enable only Paypal Payflow payment method from configuration
2. Add any product and navigation to checkout page.
3. Add the billing address and click on submit button.
4. Click on continue button on payment page.

**Expected result (*)**
Iframe should be open in mobile view. Page s

[2021-06-07 13:39] kassner opened #33165 "Cannot disable shipment update emails"
### Preconditions

1. Magento 2.4.2;

### Steps to reproduce

1. In the admin panel, go to Stores > Configuration > Sales > Sales Emails and disable the Shipment comments;
2. Open a shipment view in the admin panel;

### Expected result

1. No `Notify Customer by Email` checkbox;

### Actual result (*)

1. Checkbox is still there:

![Screenshot from 2021-06-07 15-36-36](https://user-images.githubu

[2021-06-07 13:44] kassner commented on #33165
@magento give me 2.4-develop instance

[2021-06-07 13:53] engcom-Golf commented on #32978
@maxlussier  I tried to reproduce this issue, but can't reproduce on Magento 2.4.2. It is working as expected. So considering this, I am closing this Issue.

[2021-06-07 13:53] #32978 closed, assigned to engcom-Golf

[2021-06-07 13:58] engcom-Lima commented on #28543
Hi @palomamtnez

Can you please create a sections.xml file to invalidate cache after Post and Pull request that would help update his mini cart.

Also please share the reproducible steps and details.

[2021-06-07 14:02] engcom-Alfa commented on #33151
Hi @michal-balut-accenture
Steps followed to reproduce:
1. Created an admin_user
2. Copy the password hash of this user from the admin_user table in database (referred as old password)
3. Update the password for this user from the admin panel(CMS) of Magento (referred as new password)
4. Also update reload_acl_flag field value to 1 for that user
5. Opened admin_user table in database and updated t

[2021-06-07 14:06] engcom-Lima commented on #30893
Hi @forcecodema

Unfortunately can't reproduce issue.

Please find the screenshot.
<img width="1054" alt="Screenshot 2021-06-07 at 6 38 48 PM" src="https://user-images.githubusercontent.com/60198022/121030943-8fce1880-c7c7-11eb-804a-eca81930933b.png">

Hence, closing this ticket. please feel free to raise the new ticket or reopen the existing ticket if you have any concern.

Thanks

[2021-06-07 14:06] #30893 closed, assigned to engcom-Lima

[2021-06-07 14:09] chalov-anton commented on #30339
Can we please reopen this issue?

[2021-06-07 14:14] engcom-Golf commented on #33068
@arhmart Tested on mobile version of a website by using Dev tools. Issue is not reproducible. So considering this, I am closing this Issue.  If still issue persist, please re-open the same ticket with more updates. For ex. mobile model etc.

[2021-06-07 14:15] #33068 closed, assigned to engcom-Golf

[2021-06-07 14:22] engcom-Alfa commented on #33134
HI @ticaje
Tried on Magento 2.4-develop Magento, we can see the price differences after changing the currency ( from Dollar to Euro).

[2021-06-07 14:27] engcom-Golf commented on #29018
@LiamKarlMitchell I tried to reproduce this issue, but can't reproduce. It is working as expected.  So considering this, I am closing this Issue.

[2021-06-07 14:27] #29018 closed, assigned to engcom-Golf

[2021-06-07 14:29] davirs commented on #32573
This problem takes a LOT of product registration time. I will keep following this issue

[2021-06-07 14:40] kassner commented on #33165
Looks reproducible on 2.4-develop.

![Screenshot from 2021-06-07 16-40-02](https://user-images.githubusercontent.com/301255/121036437-0c083200-c7af-11eb-8d2a-6aa2b4d47537.png)
![Screenshot from 2021-06-07 16-39-55](https://user-images.githubusercontent.com/301255/121036443-0ca0c880-c7af-11eb-8acb-75a729b8467a.png)

[2021-06-07 15:54] ticaje commented on #33134
Hi @engcom-Alfa please provide link to such environment so I can see it in action online.

[2021-06-07 15:59] michal-balut-accenture commented on #33151
Hi @engcom-Alfa

Firstly i would like to add that i was only able to reproduce this bug on production deploy mode. Furthermore, after switching from developer mode to production, i would still not encounter this error. Probably something from developer mode has to cleared for this to happen.

Also, it was maybe unclear in my initial post, but by hash version i referred to hashing algorithm key ver

[2021-06-07 16:13] magento-engcom-team commented on #33165
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42577` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-07 19:49] #33164 closed, assigned to nobody

[2021-06-07 20:49] philippeaellig commented on #32202
is this issue related to this issue? #32907 https://github.com/magento/magento2/issues/32907

i have an issue with magento 2.4.2 and quote extension attributes. i am not able to checkout.

this is the error message on place order: rest/default/V1/carts/mine/payment-information
`#0 vendor/magento/framework/Interception/Interceptor.php(58): Magento\Checkout\Model\PaymentInformationManagement->savePa

[2021-06-07 21:30] abhishekc3 opened #33170 "Magento 2 Paypal payflow mobile redirect"
**Preconditions (*)**

1. Magento CE 2.3.4 without Sample Data
2. Apache (PHP 7.2.34)

**Steps to reproduce (*)**

1. Enable only Paypal Payflow payment method from configuration
2. Add any product and navigation to checkout page.
3. Add the billing address and click on submit button.
4. Click on continue button on payment page.

**Expected result (*)**
 Iframe should be open in mobile view being

[2021-06-07 21:48] hostep commented on #32292
Hi @engcom-Echo

If you need an easy way to reproduce: install [version 1.2.0 of this open source module](https://github.com/baldwin-agency/magento2-module-url-data-integrity-checker/releases) on Magento 2.4.1.
Then in the backoffice of Magento, go to Catalog > Data Integrity Checker and click on one of the 4 submenu's and notice that the page doesn't crash.
Now do the same on Magento 2.4.2 and no

[2021-06-08 00:51] vermarajesh60 commented on #33147
Hi Anirban,

Have you checked anything on the above problem ?. Let me know if there is
anything required from my side.

On Sun, Jun 6, 2021 at 12:01 PM Rajesh Verma ***@***.***>
wrote:

[2021-06-08 05:02] ihor-sviziev commented on #30168
Please keep it open.

[2021-06-08 05:04] ihor-sviziev commented on #30168
@sdzhepa could you re-triage this issue? JS errors usually causing some not obvious issues. It's better to fix them.

[2021-06-08 06:17] engcom-Alfa commented on #33133
Hi @wandyyd
I tried to reproduce this issue, but can't reproduce it on Magento 2.4.2-p1. It is working as expected. So considering this, I am closing this Issue.
![image](https://user-images.githubusercontent.com/51679138/121132547-e7639700-c84e-11eb-9af1-95cdc1fb554e.png)

[2021-06-08 06:17] #33133 closed, assigned to engcom-Alfa

[2021-06-08 06:30] kassner commented on #28100
Bump

[2021-06-08 07:24] engcom-Lima commented on #32627
Hi @ia-gaurav

I hope your issue get fixed  and please confirm to us about the same.

is it resolved?

[2021-06-08 07:25] ia-gaurav commented on #32627
@engcom-Alfa  it was resolved

[2021-06-08 07:36] engcom-Lima commented on #32687
Hi @marvinhinz,

I don't think this issue is exist. Can you please provide me the few reproducible steps and details with screenshots.

So, it will be help in reproduce the issue.

[2021-06-08 07:37] tranhoangthien1990 opened #33173 "[Magento Enterprise][Catalog Price Rule] Magento didn't trigger reindex catalog price rule after disable a rule."
Hi team, we're facing an issue with the catalog price rule. With Update on Save index mode, after disabling the catalog price rule, Magento didn't trigger a reindex. I need to reindex it by manually (Active it again will be the same, reindex doesn't trigger again like the first time to create a rule.)

Preconditions (*)
1. Magento 2.4.2 Enterprise Edition (with sample data)
2. Set the index mode t

[2021-06-08 07:55] marvinhinz commented on #32687
Ill prepare a testcase when i can find some spare time

[2021-06-08 08:11] tranhoangthien1990 opened #33174 "[Magento Enterprise][Catalog Import] Magento still create URL rewrite record for "Not Visible Individually" product."
Hi team. We're facing an issue with Product import flow. Magento still generates the URL rewrite record for the product with the "Not Visible Individually" state.

Preconditions (*)
1. Magento Enterprise 2.4.2 (with sample data)

Steps to reproduce (*)
1. Create another store view for the Default website, for example, a new store view website code will be fr.
2.  Create import file for this store

[2021-06-08 09:37] eduard13 commented on #11450
@magento give me 2.4-develop instance

[2021-06-08 09:49] eduard13 commented on #11450
Hi @gizmocn, I wasn't able to reproduce this issue on the latest Magento version.
![image](https://user-images.githubusercontent.com/15868188/121163728-b340a400-c857-11eb-9f70-40af4db21f52.png)

Please, feel free to reopen it if you're still able to reproduce it on the latest version.

Thank you.

[2021-06-08 09:49] #11450 closed, assigned to nobody

[2021-06-08 10:08] Hexmage opened #33176 "[2.3.5-p2 GraphQL] Aggrigation attribute options are not sorted in the same order as the product attribute options are in the backend"
### Preconditions (*)

1. Magento 2.3.5-p2

### Steps to reproduce (*)

1. Create a select attribute with a couple of options and make it filterable.
2. Change the order of these options in the backend.
3. Add a product with each of these options to a category.
4. Do a products graphql query for the aggregations. eg:
[code]

### Expected result (*)

1. I expect the aggregation options to be return

[2021-06-08 10:08] engcom-Alfa commented on #33131
Hi @cha80
Kindly update to the latest version and give a try on this. It should have been fixed. If you still face issue on the latest version, kindly raise a new issue with proper steps on this.

[2021-06-08 10:08] #33131 closed, assigned to engcom-Alfa

[2021-06-08 10:10] Hexmage commented on #33176
@magento give me 2.4-develop instance

[2021-06-08 10:19] engcom-Lima commented on #28207
Hi @ioweb-gr

Unfortunately can't reproduce the issue.

Can you please provide me the reproducible steps and details with screenshots.?

It would be very helpful in this.

[2021-06-08 10:25] Hexmage commented on #33176
Works as intended on 2.4

[2021-06-08 10:42] engcom-Alfa commented on #32718
Hi @chequille
As I checked with PHP 7.4.19, the Magento 2.4.2 is compatible and it is working well. You may have to upgrade to PHP 7.4.latest and the composer update.
You can find the Magento 2.4.2 here -> composer create-project --repository=https://repo.magento.com/ magento/project-community-edition=2.4.2 _project_directory_

[2021-06-08 10:46] engcom-Alfa commented on #31219
Hi @davidandersson1 ,
Well, Yes there is a delay in re indexing when we have large number of data (ex-50k-100k products as such). So, what is the expected criteria about the re indexing performance delay in such cases

[2021-06-08 11:25] Hexmage commented on #33176
I'm now trying to figure out what change caused this to work, where it previously didn't

[2021-06-08 11:44] engcom-Alfa commented on #33115
As I re tested in the 2.4-develop using above commented reproducible steps.
Once after navigating to the _http://local.magento.com/static/version1623145471/frontend/Magento/luma/en_US/css/docs/popups.html_ (link as per mhy local configuration), Show popup link is not responsive.
We have many buttons that are being not responsive. Hence confirming the issue.

[2021-06-08 11:44] magento-engcom-team commented on #33115
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42585` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-08 12:34] ajijshekh123 commented on #33155
Hello @CFA2021,

If Your Order Total Amount would be 0, In Checkout, None of the Payment method would be displayed and Only "No Payment Information Required" payment options would be displayed.

![image](https://user-images.githubusercontent.com/24711761/121184668-f19f8880-c882-11eb-9767-e475d802f505.png)

![image](https://user-images.githubusercontent.com/24711761/121185578-d3865800-c883-11eb-885

[2021-06-08 12:36] ajijshekh123 commented on #33146
Okay, Let me see again this issue and Update it @vermarajesh60

[2021-06-08 12:47] engcom-Alfa commented on #29248
@magento give me 2.4-develop instance

[2021-06-08 13:15] lortizcompegps commented on #9274
I'm using Magento 2.4.2 with bundle with 1000 o 6000 subproducts... browser, mysql and php are at 100% of cpu.

Is there a solution or workaround?

[2021-06-08 13:38] viniciusbord9 commented on #20004
@magento I am working on this

[2021-06-08 13:38] viniciusbord9 commented on #20004
@magento add to contributors team

[2021-06-08 13:39] viniciusbord9 commented on #20004
@magento I am working on this

[2021-06-08 14:23] m2-assistant[bot] opened #33180 "[Issue] Changes on Region/State"
This issue is automatically created based on existing pull request: magento/magento2#33175: Changes on Region/State

---------

### Description (*)
Changed **Region/State** to **Region/State/Province** As User is able to select **Province** Along with **State** and **Region**.
At Admin-panel : `General->General->Store Information` and `Sales->Shipping Settings->Origin`  **Region/State** Field is t

[2021-06-08 14:25] Den4ik commented on #33180
@gabrieldagama could you assist please. I think changes for labels should be approved by Product Owner

[2021-06-08 14:33] basvanpoppel commented on #32822
Hi! I ran into this issue as well. The cause of the issue described is that a script tag without content is being rendered as a self-closing tag.

I had a look at this function
Magento\Framework\View\Helper\SecureHtmlRender\HtmlRenderer::renderTag(TagData $tagData): string

It will look for content in the tag, and if empty it will render the tag with a closing tag like this:
`<script type="text/ja

[2021-06-08 14:46] rmp135 opened #33181 "Updating source quantity with an incorrect source code case causes UI failure"
### Preconditions (*)

Magento 2.3.4

### Steps to reproduce (*)

1. Create an inventory source e.g. code "testsource".
2. Using the POST `/V1/inventory/source-items` API call, send a source item with a source code that does not match the case of the code created above e.g. "TestSource". This will return successfully.
3. Attempt to open the catalogue products screen.

### Expected result (*)
1. Th

[2021-06-08 14:54] ValeSauer commented on #11141
This is still not working in Magento ver. 2.4.2-p1, please open.

[2021-06-08 14:54] ValeSauer commented on #8251
Still not working in Magento ver. 2.4.2-p1

[2021-06-08 15:12] DaliTheCat commented on #9326
Any news on this? Both the orders/{order_id} and the orders/items/{item_id} return a list of option_values but they are keys to another table. It would be ideal to get the option string.

"product_option": {
    "extension_attributes": {
        "custom_options": [
            {
                "option_id": "491",
                "option_value": "3057" // This should be the option string to show.

[2021-06-08 15:58] lbajsarowicz commented on #2703
It's 2021, using Magento 2.4.2 and the issue is still there.

ℹ️  Context: We have a few Product Attributes required for a Simple product. There are no custom Attributes required for the Configurable one.

1. Administrator clicks New Configurable Product button
2. They fill the form, except the available configurations of a Product
3. They click "Save"

❗   No warning or error is displayed, notify

[2021-06-08 16:07] mkidon opened #33184 "setup:static-content:deploy exit code 0 when there are ParseErrors"
### Preconditions (*)

1. Magento 2.4.2
2. Clean up var/view_preprocessed and pub/static/frontend dirs
3. Make some error in one of the less files. For example remove semicolon from https://github.com/magento/magento2/blob/2.4-develop/app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less#L13

### Steps to reproduce (*)

1. Run bin/magento setup:static-content:deploy -f
2. Chec

[2021-06-08 16:20] cdbessig commented on #2703
@lbajsarowicz I would open a new issue as this one is closed.

[2021-06-08 17:21] lbajsarowicz commented on #2703
There already is - the original author @tadhgbowe created a new one: https://github.com/magento/magento2/issues/30809

[2021-06-08 17:21] lbajsarowicz commented on #30809
Copy from #2703:

It's 2021, using Magento 2.4.2 and the issue is still there.

ℹ️  Context: We have a few Product Attributes required for a Simple product. There are no custom Attributes required for the Configurable one.

1. Administrator clicks New Configurable Product button
2. They fill the form, except the available configurations of a Product
3. They click "Save"

❗   No warning or error is

[2021-06-08 18:39] daniloab opened #33188 "Checkout error "Current customer does not have an active cart." and dont go to checkout success page"
### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
Hi, I'm implementing a new payment method into Magento2.

I'm implementing using the AbstracMethod being extended into my PaymentModel.

As expect, I have a function called `order`. This function does the following:

- retrieve order information
- prepare a `Payload` object to be passed to our API
- creates an order on our side
- r

[2021-06-08 18:42] lbajsarowicz commented on #2703
@ihor-sviziev  Can you reopen that one for me, as it's still not resolved?

[2021-06-08 19:30] ihor-sviziev commented on #2703
@sdzhepa @sivaschenko @gabrieldagama, could you triage this issue? It feels really important to fix it.

[2021-06-08 20:35] wesleyguirra commented on #10009
Why this issue is closed as it seems that bugs still exists?

@sdzhepa

[2021-06-08 20:48] dchaykas commented on #13952
Issue still exists in 2.4.1. The customer was able to place 4 orders using the same quote ID, the first 3 orders were created less than a minute apart. A slow response from the payment provider was flagged.

[2021-06-08 20:54] hostep commented on #30720
Hmm, I just tried to reproduce and it turns out that VIES validation does work without passing the requester member state country and number. Even on [their own form](https://ec.europa.eu/taxation_customs/vies/vatRequest.html) those last two fields can remain empty and it still works.

So the issue is not valid (or at least not until VIES makes this a hard requirement one day in the future).

@qso

[2021-06-08 21:35] ledian-hymetllari commented on #30794
hi @Axel29, based on your code, looks like one line of code has been changed
        $storeId = $this->storeManager->getStore()->getId();
to
        $storeId = $customer->getStoreId();

Have you tried to revert this change and create a PR with Magento?

[2021-06-08 22:22] magento-engcom-team commented on #2703
@bgorski Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-08 22:23] magento-engcom-team commented on #2703
:white_check_mark: Confirmed by @bgorski
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42594` were created

**Issue Available**: @bgorski, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-08 22:23] bgorski commented on #2703
I can confirm that this behavior is still there.

[2021-06-09 01:49] LogicalBaphomet opened #33190 "Currency is not updating [Magento 2]"
Hi everyone,

I have a trouble with my website in magento 2, I have changed the currency for a MXN Pesos and I can see the change in my local, but when I reboot the server to update the website it shows always the currency in dollars.

Do you know what is happening? I have days trying to fix it.

Thank you!

[2021-06-09 03:12] mparrSaatva commented on #32994
@ajijshekh123 Are you able to see this issue i'm able to replicate?

[2021-06-09 04:32] krishprakash commented on #33154
Hi @niku0911. Thanks for your confirmation
We will proceed the ticket if its fixed in latest version so closing this ticket

[2021-06-09 04:32] #33154 closed, assigned to krishprakash

[2021-06-09 04:41] cha80 commented on #33131
it 's hard to upgrade 2.4

[2021-06-09 05:35] vermarajesh60 commented on #33146
Hi Ajij,

Have you found this ?.

On Tue, Jun 8, 2021 at 6:06 PM Ajij Shekh ***@***.***> wrote:

[2021-06-09 06:07] engcom-Alfa commented on #32956
I have rested in 4.2-develop version and updated the description with more information. Since it is reproducible, confirming the issue.

[2021-06-09 06:09] magento-engcom-team commented on #32956
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42599` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-09 06:45] engcom-Alfa commented on #32750
Since there is no response till ~14 days, closing the issue. Kindly report a newly in case of any issues you face in the latest versions.

[2021-06-09 06:45] #32750 closed, assigned to engcom-Alfa

[2021-06-09 06:49] engcom-Echo commented on #33190
Hi @LogicalBaphomet ,

Kindly provide few more details like what all steps you did to change the currency along with expected/actual behaviour , if possible kindly provide screenshots as well. Also request you to check whether you have set Currency Rates ( Admin => Stores => Currency Rate ) properly and also try flushing the cache and check if that resolves the issue.

Thanks

[2021-06-09 06:55] engcom-Lima commented on #32627
@ia-gaurav Okay Thanks for confirmations. Hence, closing this ticket.

[2021-06-09 06:55] #32627 closed, assigned to engcom-Lima

[2021-06-09 07:08] engcom-Golf commented on #32557
@damienwebdev Please share correct Request Payload with example. on using this, getting error:
![image](https://user-images.githubusercontent.com/51681547/121308268-7986a080-c91e-11eb-827f-664be0cf46d1.png)

so I modified my request payload & configure the attribute_code against Product from Admin Panel.
![image](https://user-images.githubusercontent.com/51681547/121309062-5ad4d980-c91f-11eb-8adc-

[2021-06-09 07:30] Aquive commented on #6858
Still present in M2.4.0

[2021-06-09 08:10] ihor-sviziev commented on #31125
@sivaschenko @gabrieldagama @sdzhepa, the priority for this issue should be set to P1.

[2021-06-09 08:24] engcom-Alfa commented on #33153
Hi @yanhaiwen2019
As per the first step, I have added simple products first and then added multi-attribute products. Hope it is correct.
Not able to reproduce the issue in 4.2-develop version.

https://user-images.githubusercontent.com/51679138/121319712-18fd6080-c92a-11eb-8a56-527c939e3d89.mp4

Kindly try reproducing in 4.2 latest and possibly share us the screen record of the reproducible steps.

[2021-06-09 09:06] vidyli opened #33197 "upload file via graphql"
can we implement  file upload  feature to graphql APIs?

A practical way

[graphql-multipart-request-specc](https://github.com/jaydenseric/graphql-multipart-request-spec) to upload file via graphql.

[2021-06-09 09:27] ZhovnirMaria opened #33198 "The order amount is displayed according to the old catalog price rule in the cart if the catalog price rule is updated."
### Preconditions (*)
Magento ver. 2.4.2

### Steps to reproduce (*)
1. Go to the Marketing > Catalog Price Rule
2. Add a new catalog price rule (for example, with a percentage discount of 15%)
3. Add item to cart with the current catalog price rule
4. Back to the catalog price rule page, and edit the rule ( for example set percentage value to 5%)
5. Go to the PDP to check updates

Don't forget to

[2021-06-09 09:35] bfrozema commented on #3923
Still an issue in 2.4.1. Please fix this.

[2021-06-09 09:55] engcom-Echo commented on #33173
Hi @tranhoangthien1990 ,

Unfortunately we have to close this issue , as it seems to be intended behaviour at this moment.
You can refer to this [https://github.com/magento/magento2/pull/11580#issuecomment-342506544](url).

Thanks

[2021-06-09 09:55] #33173 closed, assigned to engcom-Echo

[2021-06-09 10:17] engcom-Echo commented on #33188
Hi @daniloab ,

Request you to kindly provide screenshots/snapshots of your implementation for custom payment method.
Also , I would suggest to change your implementation as Magento\Payment\Model\Method\AbstractMethod has been deprecated, try to follow the new guidelines for custom payment method creation here at [https://devdocs.magento.com/guides/v2.4/howdoi/checkout/checkout_payment.html](url)

[2021-06-09 10:22] Den4ik commented on #32469
@madonzyaccenture Same result on 2.3.3

[Magenius_Decorator.tar.gz](https://github.com/magento/magento2/files/6622998/Magenius_Decorator.tar.gz)

[2021-06-09 10:24] krishprakash commented on #33198
@magento give me 2.4-develop instance

[2021-06-09 10:25] mayankzalavadia commented on #30277
Thank @antoniocarboni Your answer is helpful for me. Its solve my issue.

[2021-06-09 10:28] hostep commented on #33184
This might get fixed by https://github.com/magento/magento2/commit/d4f83c84340d6210adbff722fb306b96bf53ddbd#diff-345c262926556e221869005ce905bd890ab0a5e46bb3e2afe20c3ea9e8695772 (which is part of [MC-42026: [Cloud] Custom theme is not applied and the default LUMA theme is used.](https://github.com/magento/magento2/search?q=MC-42026&type=commits), sorry I can't find a clean merge commit, they merge

[2021-06-09 10:37] engcom-Alfa commented on #31832
Hi @thongbui62-developer
We have checked this issue with Magento version 2.4.2. The issue is not reproducible at our end. We have followed your "steps to reproduce" as follows:
1. Merchant Country: US
2. Default Country: US
3. Currency: Euro
4. Klarna configured and enabled (Klarna North America)
5. Klarna debug log enabled
6. Checkout as guest
The order is placed successfully. Please find attache

[2021-06-09 10:48] magento-engcom-team commented on #33198
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42604` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-09 10:58] engcom-Echo commented on #27011
Hi Ghost,

Can you please specify the version of Magento on which this issue is reported.

Thanks

[2021-06-09 10:59] engcom-Alfa commented on #33063
HI @martasiewierska
I have tried reproducing it in 2.4-develop and unable to reproduce, it is working perfect.
**
https://user-images.githubusercontent.com/51679138/121342883-ba42e180-c93f-11eb-8512-e441385802fe.mp4
**
**Kindly try to reproduce in the latest version and possibly share a screen record for better understanding of reproducible steps.**

[2021-06-09 11:33] MaddatiNishitha commented on #32933
Hi Team,
A gentle reminder on the above comment. Please provide us more information

[2021-06-09 11:56] daniloab commented on #33188
My problem at really it was on the checkout success page. When trying to get there something broke and try to return to checkout

as the order have been already done, does not exist a customer cart active anymore

so, when checkout success break how is the best way to debug there?

more specific into `phtml` files. I cant found anything in the log files.

[2021-06-09 11:56] magento-engcom-team commented on #33170
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42605` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-09 12:02] damienwebdev commented on #32557
@engcom-Golf the sample request provided expects you to use GraphQl variables, please do so -- my current request payload is correct.

Regardless, the issue isn't an admin attribute, it is the category_uid attribute introduced by the GraphQl team in v2.4.2.

This isn't an attribute configurable in the admin panel.

@cpartica can explain if there is any confusion.

[2021-06-09 12:18] magento-engcom-team commented on #31146
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42607` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-09 12:40] #32857 closed, assigned to mrtuvn

[2021-06-09 12:46] sivaschenko commented on #32332
Hi @AndreyChorniy would you like to work on this issue or it can be unassigned?

[2021-06-09 13:01] engcom-Lima commented on #33157
Hi @hawkcraw

I am working on the ticket, I need some more details regarding the "createPaypalExpressToken"

What payload you are using, Can you please provide me?

[2021-06-09 13:27] engcom-Lima commented on #31837
Hi @Eddcapone

Unfortunately, Can't reproduce the issue.

Can you please provide me more details about the ticket and reproducible steps?

[2021-06-09 13:39] gabrieldagama commented on #30501
Hi @ericmorand, as currently described, this issue is too broad. Ideally, the reported issues aim to one specific problem that can be solved in one pull request, which is not the case described here.

We acknowledge the modularity problem from several core modules, but I would recommend you to create an issue
specifically for a module like the Downloadable one.

Such issues will be triage and prio

[2021-06-09 13:39] #30501 closed, assigned to engcom-Echo

[2021-06-09 13:49] engcom-Lima commented on #30582
Issue has been confirmed

Find the attached screenshot.
<img width="1440" alt="Screenshot 2021-06-09 at 7 07 29 PM" src="https://user-images.githubusercontent.com/60198022/121367086-a014fd80-c957-11eb-818e-ed540f0f568e.png">

[2021-06-09 13:50] magento-engcom-team commented on #30582
@engcom-Lima Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-09 13:58] magento-engcom-team commented on #33143
@engcom-Lima Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-09 13:59] magento-engcom-team commented on #33143
@engcom-Lima Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-09 14:01] magento-engcom-team commented on #33143
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42608` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-09 14:41] engcom-Golf commented on #32557
@damienwebdev Thanks for quick reply. Please find the snapshot for reference

[2021-06-09 15:13] engcom-November commented on #32951
Hi @JR2Media

I verified this issue on latest Magento version 2.4.2 and is not reproducible. Can you please provide the details - on which Magento Version and PHP version this issue is reproduced.
Also please try to rerun Magento step upgrade and clean cache to check if the issue is still reproducible.

Thanks and regards,
@engcom-November.

[2021-06-09 15:48] cpartica commented on #32834
@magento export issue to Jira project PWA as Bug

[2021-06-09 15:48] cpartica commented on #32834
@magento export issue to Jira project MC as Bug

[2021-06-09 16:45] willboudle commented on #13952
So I see above, @rauberdaniel suggested making `quote_id ` unique and @DependencyHell said we cannot because there are instances where a quote id can be re-used, given the circumstance where an order is cancelled due to a failure and a new order is generated based on the quote. I suspect 'editing' an order may do the same thing.

However, what about creating a UNIQUE constant on `state `and `quote

[2021-06-09 21:26] lfolco commented on #27217
It's still relevant, you need the headings there.

[2021-06-10 01:57] mrtuvn commented on #32579
i think this thing still valid

[2021-06-10 02:04] hawkcraw commented on #33157
4. createPaypalExpressToken
`mutation {
  createPaypalExpressToken(
    input: {
      cart_id: "RDSkwThOiADqqmn5xojNXZCcA48EuWnQ"
      code: "paypal_express"
      express_button: true
      urls: {
        return_url: "paypal/action/return.html"
        cancel_url: "paypal/action/cancel.html"
      }
    }
  ) {
    token
    paypal_urls {
      start
      edit
    }
  }
}`

5.setPaymentMethod

[2021-06-10 05:24] kcam6690 opened #33201 "MP3 download"
### Preconditions (*)

1.Magento ver. 2.4.0
2.

### Steps to reproduce (*)

1. download new product
2.downloadable product
3.upload MP3 file and a alert comes up saying true. but MP3 doesnt show onscreen

### Expected result (*)

1. [Screenshots, logs or description]
![image](https://user-images.githubusercontent.com/85662157/121469521-a5d80680-c98a-11eb-9d80-ce1468162c9a.png)

2.

### Actual resu

[2021-06-10 07:35] huykon commented on #32205
I having same issue in magento 2.4.2 version. I created custom payment offline then after place order I go to order detail on admin dashboard then I see this error

[2021-06-10 07:52] orlangur commented on #31125
@stormbyte @ihor-sviziev I doubt this issue is valid.

What if we need _DIFFERENT_ products with the _SAME_ SKU on different websites?

[2021-06-10 08:11] HenKun commented on #32603
Not solved yet but does not seem to be important to filter on extension attributes

[2021-06-10 08:50] jorgb90 commented on #33089
@engcom-Alfa Can you maybe help me get in the right direction by pointing what piece of code should be responsible to make this work at the frontend?

[2021-06-10 09:10] stormbyte commented on #31125
@orlangur In the php Magento base code there is a unique constraint on SKU.
Products and Websites are linked by `entity_id`
The Uniqueness of the SKU is forced on by the php code but not by mysql database.
Resulting in errors in functions like `getProductBySku`

magento/vendor/magento/module-catalog/Model/ResourceModel/Product.php:267

There can only be one

[2021-06-10 09:44] madonzyaccenture commented on #32469
@Den4ik what you've done is not the decorator, but generalization...

You can learn this pattern here: https://designpatternsphp.readthedocs.io/en/latest/Structural/Decorator/README.html

[2021-06-10 09:47] alitopaloglu commented on #26589
Same issue happened to me today, found a

$state->setAreaCode(Area::AREA_ADMINHTML);

in one of my custom commands constructor.

Moved that code from constructor to the execute method and issue is fixed.

[2021-06-10 10:39] madonzyaccenture commented on #32469
@Den4ik please reopen issue

[2021-06-10 10:42] engcom-November commented on #32536
Hi @smartsanjay,

Verified the issue on Magento Version 2.4.2 and FedEx configuration is working fine for US shipping with Home Delivery option.
Unable to select FedEx Shipping method if Origin Country is china and shipping address is US.
**Steps performed:**
1. Magento Admin - Configured FedEx: Stores - Configuration - Sales - Delivery Methods - FedEx (Set Allowed methods to any - International m

[2021-06-10 10:46] engcom-Alfa commented on #33201
Hi @kcam6690
Tried on Magento 2.4 Develop but it works fine.

[2021-06-10 10:55] devchris79 commented on #31745
Its not been our understanding that we must register with an EU VAT office from July, the VAT exemption of low value shipments (22€ or less) is removed at that point, but they importer will be contacted by the courier for fee collection (and probably apply a handling charge).

We ship worldwide and everything was pretty straightforward,  unfortunately the changes in shipping have added a huge amou

[2021-06-10 11:00] AartiJogiya opened #33204 "Reset button in User form doesn't work when 2FA enabled"
This issue is related to "Reset" button functionality of user form at admin panel. By default, this "Reset" button reloads page and navigate to "User Info" tab, but it stops working when two-factor authentication module(Magento_TwoFactorAuth) is enabled.

### Preconditions (*)
1. Installed magento 2.4, 2.4-develop
2. Two-Factor Authentication (2FA) must be enabled.

### Steps to reproduce (*)
1. G

[2021-06-10 11:43] Den4ik commented on #32469
Described situation reproduced with next module [Magenius_Decorator.tar.gz](https://github.com/magento/magento2/files/6630826/Magenius_Decorator.tar.gz). For reproducing just open `{base_url}/magenius`

Plugin called twice because it's assigned to interface and we have 2 objects that implement same interface

After discussing in slack with @madonzyaccenture his main goal (if I understood correctly

[2021-06-10 11:44] magento-engcom-team commented on #32469
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42615` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-10 11:50] Den4ik commented on #32469
In my opinion it make since, but could faced with unexpected behaviour when we have decorator and another custom module with injection of direct class

@gabrieldagama Could you please assist forward this question to discuss with other developers and architects?

**cc** @ihor-sviziev

[2021-06-10 11:54] engcom-Lima commented on #33157
Hi @hawkcraw

It is not an issue. before setPaymentMethodOnCart you should has to setShippingAddressesOnCart first. it is behaviour of system. it is not related to graphql.

Hence, closing this ticket. Please feel free to raise a new ticket or reopen the same ticket if you have any issue.

Thanks

[2021-06-10 11:54] #33157 closed, assigned to engcom-Lima

[2021-06-10 12:42] engcom-Bravo commented on #33151
Hi @michal-balut-accenture,

Thanks for the detailed steps. It is not expected to force the hashing version(algorithm) manually through database in magento. Closing this ticket as non-issue. Kindly re-open the ticket for any concerns.

[2021-06-10 12:42] #33151 closed, assigned to engcom-Alfa

[2021-06-10 12:43] engcom-Alfa commented on #33181
HI @ rmp135
Unable to reproduce step 2 (from reproducible steps). Kindly provide sample API call with response.

[2021-06-10 12:44] Abhay-Agrawal opened #33205 "Pagination not working after adding the product to Group product"
This issue is related to group product add time. After selecting the 20 products for the group product then apply the filtering.

### Preconditions (*)

1.  Magento 2.4.2 version
2. Sample data installed
3. the same issue exists on the 2.3.5-p2 version

### Steps to reproduce (*)

1. Go to Admin.
2. Navigate to Catalog > Products > Click on Add Product button -> Select Grouped Product
3. Add Produ

[2021-06-10 12:52] engcom-Echo commented on #32836
Hi @webtekindo ,

Can you please provide the varnish version that you are using , also please provide the response screenshot so that we can understand the issue.

Thanks

[2021-06-10 12:55] magento-engcom-team commented on #33145
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42616` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-10 12:57] engcom-Alfa commented on #13952
Hi @amitvishvakarma ,
As I have tried in 2.4-develop environment, I am not seeing the duplicated Quote_id.
Well I am referring to the **sales_order_item table with quote_item_id** column. **Kindly let me know if it is from specific table name.** I have used check/money order payment option and hope the payment method should not be dependent for this issue.
So, kindly check the below screen record

[2021-06-10 13:00] engcom-Lima commented on #32985
Hi @ia-gaurav,

This issue still exist. If Yes then Can you please tell some details regarding this ticket?

Have you reproduce this issue magento 2.4-develop or 2.4.2? If yes can you please provide me some reproducible steps and screenshots? that would be helpful.

Thanks for the understanding!

[2021-06-10 13:01] rmp135 commented on #33181
Sure thing. Create a product with SKU "productsku" and a source with code "test" (all lowercase).

Then send the following to /V1/inventory/source-items (note the uppercase source_code).

[code]
The request will succeed but attempting to view the product catalogue page will show an error.

[2021-06-10 13:19] engcom-November commented on #30906
Hi @aversalle

Verified the issue on latest Magento version 2.4.2 and no warnings are triggered after running the command: php bin/magento cron:run.
Ran jobs by schedule.
Can you please check the issue on latest Magento version 2.4-develop and confirm.

Thanks and regards.
@engcom-November.

[2021-06-10 13:50] magento-engcom-team commented on #29975
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-10 13:50] magento-engcom-team commented on #29975
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-10 14:49] olivermontes commented on #12512
Problem is still there in 2.4.2

[2021-06-10 15:02] engcom-Hotel commented on #31428
Hi @rubenpurple,

We have checked this issue in Magento CLI 2.4.2-p1 with steps mentioned in the portal (https://devdocs.magento.com/guides/v2.4/config-guide/deployment/pipeline/technical-details.html). But the issue is not reproducible. We are going through with below steps:
1. Start maintenance mode
2. bin/magento app:config:import to import configuration changes.
3. bin/magento setup:upgrade --

[2021-06-10 15:04] sivaschenko opened #33206 "Eliminate es6-collections.js"
**Depends on MutationObserver.js elimination**: https://github.com/magento/magento2/issues/33207

Remove `lib/web/es6-collections.js` and replace usages with native JS.

The es6-collections are providing the following polyfills:
- **WeakMap** - ✔ supported https://caniuse.com/mdn-javascript_builtins_weakmap
https://github.com/magento/magento2/blob/7c6b6365a3c099509d6f6e6c306cb1821910aab0/lib/web/e

[2021-06-10 15:07] sivaschenko opened #33207 "Eliminate MutationObserver.js"
Remove `lib/web/MutationObserver.js` and replace usages with native JS MutationObserver.

Following the investigation: https://github.com/magento/magento2/issues/32856

[2021-06-10 15:08] #32856 closed, assigned to ihor-sviziev

[2021-06-10 15:09] sivaschenko commented on #32851
@ihor-sviziev thanks for the investigation and detailed results, the issue to eliminate the library was created: https://github.com/magento/magento2/issues/33206

[2021-06-10 15:09] #32851 closed, assigned to ihor-sviziev

[2021-06-10 15:11] engcom-Hotel commented on #31468
Hi @schmengler ,

We have tried to reproduce this issue in both Magento CLI 2.4.2-p1 and Magento CLI dev-2.4-develop but unable to reproduce this issue with below steps:

Step 1: Create a new module
Step 2: Create di.xml with blockVariables like below:
             <argument name="blockVariables" xsi:type="array">
                <item name="bravo" xsi:type="object">Learning\FirstUnit\Variable\Tes

[2021-06-10 15:14] sivaschenko commented on #32844
Thanks for the investigation @mrtuvn !

[2021-06-10 15:14] #32844 closed, assigned to nobody

[2021-06-10 15:57] sivaschenko opened #33208 "Eliminate laminas/laminas-crypt composer dependency"
laminas/laminas-crypt has released it's PHP 8 compatible version in February 2021, in order to accelerate future PHP compatibility work this dependency should be eliminated.

Laminas crypt is currently only used in `\Magento\Framework\Encryption\Helper\Security` for a single static function call of `\Laminas\Crypt\Utils::compareStrings`.

Compare strings implementation should be done in `\Magento\

[2021-06-10 16:14] sivaschenko opened #33209 "Eliminate laminas/laminas-db composer dependency"
laminas/laminas-db has released it's PHP 8 compatible version in February 2021, in order to accelerate future PHP compatibility work this dependency should be eliminated.

Laminas DB usage should be replaced, laminas/laminas-db dependency should be removed from composer.

[2021-06-10 16:17] magento-engcom-team commented on #29975
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-10 16:17] magento-engcom-team commented on #29975
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-10 16:17] magento-engcom-team commented on #29975
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-10 16:19] magento-engcom-team commented on #29975
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42618` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-10 17:41] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-06-10 20:56] thamyrisgregorio commented on #33180
@magento i m working it

[2021-06-10 20:57] thamyrisgregorio commented on #33180
@magento I'm working on it

[2021-06-10 20:57] thamyrisgregorio commented on #33180
@magento add to contributors team

[2021-06-10 21:03] luanwebjump commented on #33198
@magento i'm work on it

[2021-06-10 21:03] jonatasavila commented on #33100
@magento i'm work on it

[2021-06-10 21:06] thamyrisgregorio commented on #33205
@magento I'm working on it

[2021-06-10 21:06] thamyrisgregorio commented on #33205
@magento give me 2.4-develop instance

[2021-06-10 21:07] jonataswebjump commented on #33100
@magento I'm working on it

[2021-06-10 21:07] #33180 closed, assigned to nobody

[2021-06-10 21:08] jonataswebjump commented on #33100
@magento add to contributors team

[2021-06-10 21:08] jonataswebjump commented on #33100
@magento I'm working on it

[2021-06-10 21:28] #24125 closed, assigned to nobody

[2021-06-10 21:28] #14297 closed, assigned to nobody

[2021-06-10 21:28] #32428 closed, assigned to nobody

[2021-06-10 21:28] #32430 closed, assigned to nobody

[2021-06-10 21:28] #32409 closed, assigned to nobody

[2021-06-10 21:28] #32458 closed, assigned to nobody

[2021-06-10 21:31] magento-engcom-team commented on #24125
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-06-10 21:52] thamyrisgregorio commented on #33205
@magento give me 2.4.2-develop instance

[2021-06-10 22:01] thamyrisgregorio commented on #33205
@magento give me 2.4.2-develop instance

[2021-06-10 22:07] jonataswebjump commented on #33100
@magento give me 2.4-develop instance

[2021-06-10 22:09] thamyrisgregorio commented on #33205
It was tested on version 2.4 and reproduced the steps to make this problem happen, but the error did not happen. Could you give more information?

https://user-images.githubusercontent.com/75129444/121603182-c356b000-ca1e-11eb-8c75-8d187858a714.mp4
is the video of my test.

Thanks

[2021-06-10 22:34] thamyrisgregorio commented on #33158
@magento I'm working on it

[2021-06-10 22:40] magento-engcom-team commented on #33158
@thamyrisgregorio Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-10 22:40] thamyrisgregorio commented on #33158
Manual verification of the issue description and reproduction steps was confirmed.

https://user-images.githubusercontent.com/75129444/121605922-9d7fda00-ca23-11eb-882f-f4c5026f61bb.mp4

[2021-06-10 22:46] magento-engcom-team commented on #33158
@thamyrisgregorio Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-10 22:46] magento-engcom-team commented on #33158
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-10 22:49] magento-engcom-team commented on #33158
:white_check_mark: Confirmed by @thamyrisgregorio
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42619` were created

**Issue Available**: @thamyrisgregorio, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-10 23:01] GDauer commented on #27039
@magento I am working on this

[2021-06-10 23:43] mrtuvn commented on #22627
https://github.com/wikimedia/less.php/pull/13
Maybe lessphp lib not support relative path import yet! Let' spend time for investigate this

[2021-06-11 00:02] thamyrisgregorio opened #33213 "Combobox at "Default Store" dont working"
Magento version (2.4)

1.When you create new Website
2.After create, acess you website and click in "Default Store" (nothing happen, dont has options)

### Steps to reproduce (*)

1. in Backoffice (Magento Admin) click in Stores -> Settings : All Stores
2. Create a new Website
3. Access your website and click in "Default Store"  (Admin -> Stores -> All Stores -> Open newly created Website)
![image

[2021-06-11 00:09] mrtuvn commented on #33213
Because we don't create any store related with that website so selection will empty right ? Is it correct logic

[2021-06-11 04:52] Abhay-Agrawal commented on #33205
I am still getting the same issue on the Magento2.4.2 version and your instance Link is not working to test the issue

[2021-06-11 04:52] onlinebizsoft commented on #32751
@engcom-Echo will this be available for 2.4.3 please? :)

[2021-06-11 05:31] engcom-Alfa commented on #32796
As there is no response last ~14 days, the issue is being closed. If you face issue on this again in the latest magento version, kindly raise a new ticket.
Thanks

[2021-06-11 05:31] #32796 closed, assigned to engcom-Alfa

[2021-06-11 05:33] engcom-Alfa commented on #33062
As there is no response in last ~14 days, the issue is being closed.
If you face issue on this again in the latest Magento version, kindly raise a new ticket.
Thanks

[2021-06-11 05:34] engcom-Alfa commented on #33049
As there is no response in last ~14 days, the issue is being closed.
If you face issue on this again in the latest Magento version, kindly raise a new ticket.
Thanks

[2021-06-11 05:34] #33049 closed, assigned to engcom-Alfa

[2021-06-11 05:35] #33062 closed, assigned to engcom-Alfa

[2021-06-11 06:24] konarshankar07 commented on #32332
@magento I am working on this

[2021-06-11 06:43] vermarajesh60 commented on #33146
Hi Ajij,

Have you found anything to solve this problem.

On Wed, Jun 9, 2021 at 11:04 AM Rajesh Verma ***@***.***>
wrote:

[2021-06-11 06:43] vermarajesh60 commented on #33147
Hi Anirban,

Have you found anything to solve this problem?.

On Tue, Jun 8, 2021 at 6:21 AM Rajesh Verma ***@***.***> wrote:

[2021-06-11 07:10] engcom-Alfa commented on #31847
HI @alexsmith2709
I tried to reproduce it in Magento 4.2-develop version, and haven't noticed price difference as such. Below are the screenshots.
Kindly give a try to reproduce it in latest version and let me know. If you find the same issue again, please give a complete reproducible steps including the products configurations and the tax configurations you have done, and any other information th

[2021-06-11 07:13] engcom-Lima commented on #33132
Hi @reevelau

What problem you are facing while config AwsS3 remote storage in the dev instance. It is not environment specific. Please follow the below document.

https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage-aws-s3.html

[2021-06-11 07:39] engcom-Alfa commented on #32487
Hi @ebofi
I have tried indexing with more data in Magento 4.2-develop version, and able to re index successfully without any issues. Kindly upgrade to the latest version and give a try. In case if you find issue in the latest version, kindly let us know the information relate to the what type of data you have saved in your data, and let us know if it is specific in case of adding/updating any part

[2021-06-11 07:40] ioweb-gr commented on #28119
@magento give me 2.3.1 instance

[2021-06-11 07:54] DeLuuk commented on #12836
This problem is still there, anyone know a fix?

[2021-06-11 08:02] alexsmith2709 commented on #31847
@engcom-Alfa Your test is using different amounts and tax to my test so its not an accurate reproduction of the issue, you are also only using a quantity of 1 for the product.
I have just tested on 2.4.2 and I get the same results as my initial post. If you use the same product amount (or any ex VAT amount that does not round (like 3.33 or 6.67) and then use 20% VAT.
Using my example of an excludi

[2021-06-11 08:26] jpietruszewski commented on #30582
Quick fix:

[code]

[2021-06-11 08:38] barryvdh commented on #24926
This is understandable from a technical point of view, but I would say this is wildly dangerous behaviour. I think you would usually almost never want to drop actual tables/columns on an upgrade, especially with automated deployments. Examples:

 - A module is conflicting, so you disable modules one by one to find a solution -> your settings and data will now be dropped after deploying
 - For some

[2021-06-11 08:39] hostep commented on #32464
This shouldn't have been closed, it sounds valid at first sight. @Den4ik or @ihor-sviziev, can we get somebody to verify this first before it gets closed without any attention? Thanks!

[2021-06-11 08:43] hostep commented on #32461
Sounds valid and sounds dangerous, this shouldn't have been closed without any attention. @Den4ik or @ihor-sviziev could we get somebody to review this first please? Thanks!

[2021-06-11 08:46] gexxx05 opened #33215 "Category with url_key "publication" getting 404"
### Preconditions (*)
Vanilla Magento 2.4.2

### Steps to reproduce (*)
1. Go to Catalog > Categories > Add new subcategory > Name it "Publication" > Save
2. Go to frontend and open newly created category "Publication"

### Expected result (*)
You can see the newly created category and get a 200 OK.

### Actual result (*)
You will get a 404 Not found.
![screen01](https://user-images.githubusercont

[2021-06-11 09:10] engcom-Echo commented on #33215
Hi @gexxx05 ,

I have followed the steps provided but was not able to reproduce the issue. Please find the attached screenshot
<img width="1305" alt="Screenshot 2021-06-11 at 2 38 43 PM" src="https://user-images.githubusercontent.com/51681435/121662268-c1dec380-cac2-11eb-8c8e-9936edb16f7c.png">

<img width="1014" alt="Screenshot 2021-06-11 at 2 37 39 PM" src="https://user-images.githubusercontent.

[2021-06-11 09:47] ihor-sviziev commented on #32464
@gabrieldagama, feels like it should be prioritized as P1 or P2

[2021-06-11 09:52] gexxx05 commented on #33215
Hi @engcom-Echo,

I have installed M2.4.2 with composer.
Here are some screenshots of debugging the function getBaseUrl() in \vendor\magento\framework\HTTP\PhpEnvironment\Request.php.

![screen01](https://user-images.githubusercontent.com/16879037/121667484-9d76ed00-caaa-11eb-9e40-aadd3debeeeb.jpg)

With category url_key "publication":
 `$this->getRequestUri()` is `/publication`
`$url` is `/pub`
!

[2021-06-11 10:04] reshadzazai commented on #32181
any update?

[2021-06-11 10:17] gjportegies commented on #32542
Issue still persist in Magento 2.4.2-p1

[2021-06-11 10:18] engcom-Lima commented on #33176
Hi @Hexmage

I tried to reproduce the issue on Magento v-2.4.2, Unfortunately can't reproduce the issue.

Graphql is not provide sorting on aggrigation attributes. Only can be sort product attributes using below attributes-

- Product Name (name)
- Sort by the position assigned to each product.(position)
- Price (price)
- relevance SortEnum

It is not an issue. Hence closing this ticket. If you ha

[2021-06-11 10:18] #33176 closed, assigned to engcom-Lima

[2021-06-11 10:30] mrtuvn commented on #33215
what server that you used ? nginx, apache
Check .htaccess in magento root (It's should point to pub folder)
since magento updated root to pub. So i think lot of server infra not update it's follow magento approach
Some links for your reference
https://devdocs.magento.com/guides/v2.4/install-gde/tutorials/change-docroot-to-pub.html
https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2

[2021-06-11 10:42] engcom-Golf commented on #32785
@shahriar-vdc I have tried to reproduce the issue by following steps. Issue is not reproducible.
**Case 1. As Guest user:**
      1. Create a guest cart
      2. Add Product using addSimpleProductsToCart mutation.

**Case 2: As a Login User**
      1. Create Customer Token using generateCustomerToken mutation.
      2. Create a customer cart. You must specify Customer Token in the headers of the c

[2021-06-11 10:44] Abhay-Agrawal commented on #33205
It should be work like as default sorting and the custom option should be there
http://i.prntscr.com/NQfeeC8jQfidEaUFv0rBsg.png

[2021-06-11 10:51] robbie-thompson commented on #30046
Still relevant

[2021-06-11 10:51] mad-develop commented on #29034
@slavvka is a backport coming? Issue is still present in 2.3.7

[2021-06-11 10:56] #32785 closed, assigned to engcom-Golf

[2021-06-11 11:01] 0xdeb opened #33220 "search result sorting broken when "Remember Category Pagination" is enabled"
### Preconditions (*)

1. Magento 2.4.2-p1 with sample data

### Steps to reproduce (*)

1. Go to Stores > Configuration > Catalog > Catalog > Storefront
2. Enable "Remember Category Pagination"
3. Go to frontend and search for something (e.g. "bag")
4. Sort defaults to "Relevance". Change to "Price".
5. Clicik the arrow to sort by price desc/asc.

### Expected result (*)

1. Search result should

[2021-06-11 11:33] engcom-Golf commented on #32670
@madonzyaccenture As suggested rabbitMQ is configured, Product asynchronous bulk API **/rest/async/bulk/V1/products** is called.
Consumer **async.operations.all** queue is processed successfully without any exception.

Please note that MessageLockException, ConnectionLostException, NotFoundException exceptions are already handled.

Can you please assist me to reproduce the 3rd Step. Your exception

[2021-06-11 11:35] engcom-Echo commented on #33220
Hi @fabis2000 ,

I have followed the steps given in description , however I was not able to re-produce the same . In my case the sort on price worked on both asc and desc and was not changing back to 'Relevance'. Please find the screenshots attached.

<img width="1087" alt="Screenshot 2021-06-11 at 5 02 41 PM" src="https://user-images.githubusercontent.com/51681435/121680283-fbb9c500-cad6-11eb-837

[2021-06-11 11:46] engcom-November commented on #29228
@sdzhepa Verified the issue on Latest Magento version 2.4.2 and the issue is reproducible.
Steps to reproduce:
1. Login to Magento Admin - Enable Login an Customer feature (Stores - Settings - Configuration - Customers - Login as Customer)
2. Navigate to Customers - All Customers - Edit customer - Login as Customer
3. Add a product to cart and purchase the product
4. Front End - My Account - My Or

[2021-06-11 11:47] gexxx05 commented on #33215
Yes, we have a nginx, apache server.
We changed the document root in virutal host to /pub and now it is working.

Thanks a lot.

[2021-06-11 11:47] #33215 closed, assigned to engcom-Echo

[2021-06-11 11:47] magento-engcom-team commented on #29228
@engcom-November Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-11 11:48] magento-engcom-team commented on #29228
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-11 11:55] engcom-Bravo commented on #32483
Hi @MajorKuprich,

Could you please elaborate on the steps to reproduce the issue along with screenshots if any?

[2021-06-11 11:57] engcom-Hotel commented on #31976
Hi @adam-webee

We have tried to reproduce this issue but stuck in 3rd step.We request you to please share a snapshot for the same.

[2021-06-11 12:15] madonzyaccenture commented on #32670
@engcom-Golf just throw an \Exception and see if the message is removed from the queue. Actual behavior is that message is removed, but it's an issue as message was not proceed properly.

[2021-06-11 12:48] engcom-Alfa commented on #29248
Hi @devsigh
I have tried to reproduce the issue in Magento 4.2-develop version and it is not reproducible.
Kindly upgrade to the latest version and try. Still if you find the same issue again in the latest version, kindly update with all the information relevant to it like- the configuration done and the saved procedure and/or anything relevant to the issue, that helps to reproduce. Possibly scree

[2021-06-11 13:06] hostep commented on #29034
@mad-develop: nope, Magento gave up on fixing "small bugs" for the 2.3.x release line when 2.4.0 became available if I remember correctly

Also, all following 2.3.7+ releases will only be security fixes (and maybe super high prio bug fixes?) as far as I know.

But to fix this problem on your 2.3.x installation, you can take [this patch](https://patch-diff.githubusercontent.com/raw/magento/magento2

[2021-06-11 13:10] #32016 closed, assigned to nobody

[2021-06-11 13:10] #32054 closed, assigned to gabrieldagama

[2021-06-11 13:10] #32019 closed, assigned to gabrieldagama

[2021-06-11 13:10] #32021 closed, assigned to gabrieldagama, AndreyChorniy

[2021-06-11 13:10] #32030 closed, assigned to gabrieldagama

[2021-06-11 13:10] #32039 closed, assigned to vlmed

[2021-06-11 13:10] #32056 closed, assigned to gabrieldagama

[2021-06-11 13:11] engcom-Golf commented on #32143
@f1-outsourcing Please note that Magento can be installed on Shared hosting as well.

Are you able to send other emails from Magento Project via Command line or PHP Script?
If No, there are many possibilities when emails are not sent

1. Problem with Email Server.

2. Make sure you have set up cron tasks from the Magento Admin panel under System > Configuration > Advanced > System > Cron

3. Need

[2021-06-11 13:28] sgeleon opened #33223 "Report shipment tracking bug to Magento"
### Preconditions
Magento version (2.4.1)

### Steps to reproduce
1. Create an order with multiple products
2. Ship one product with a tracking number
3. Ship another product without tracking number - the tracking number of the first shipment shows on the email

### Expected result
Showing all tracking numbers assigned to the order, not individual shipments.

e.g.
Shipment 1 with tracking number A

[2021-06-11 13:44] Anjalikumari987 commented on #14709
Please give solution of this error if anyone knows.
 [InvalidArgumentException] Could not find a matching version of package magento/extension-b2b. Check the package spelling, your version constraint and that the package is
available in a stability which matches your minimum-stability (alpha).

[2021-06-11 13:59] fabis2000 commented on #33220
@magento give me 2.4-develop instance

[2021-06-11 14:51] fabis2000 commented on #33220
Thanks @engcom-Echo for having a look at this.
I was able to reproduce it in the public 2.4-develop instance. I recorded a uncut video showing the problem and how I replicated it. The 3 minute video starts before first login, so all steps for reproducing can be seen.
Here is the link: https://youtu.be/BGNkilmG-2Q
The only thing I did different was flush the cache, I dont't know if that makes any d

[2021-06-11 14:56] bmelman commented on #24926
This is indeed very dangerous and unexpected behaviour.
Disabling a module is not the same as removing a module: for removal (using i.e. composer) the removing of related tables would be logical.
That said at least an option to prevent this table removal behaviour (from module source code/config instead of cli) would be enough to even consider this in production.

So for now regressing back to Ins

[2021-06-11 15:31] mamsincl commented on #32294
Can we get some progress report on this, please?

[2021-06-11 16:15] klaviyojad commented on #33013
@magento-engcom-team when is this fix going to be released?  what version of Magento will include it?

[2021-06-11 19:39] lfolco commented on #27217
This also occurs if you add an additional menu, making the total count three. For example, I have an additional menu under _Content_ where the subtitles do not show:

![image](https://user-images.githubusercontent.com/1709329/121740396-079f8a00-cacb-11eb-8d22-ded8bf3ad3ac.png)

But, when I add a forth grouping, it shows up:

![image](https://user-images.githubusercontent.com/1709329/121740467-200f

[2021-06-11 21:27] rafaelcalero commented on #3923
Same problem here.

[2021-06-12 07:00] engcom-Bravo commented on #33205
Hi @Abhay-Agrawal ,

I am able to reproduce this on 2.4.2. But the latest branch 2.4-develop does not have this issue. Could you please verify and confirm?

[2021-06-13 11:30] bgorski commented on #32376
There is no bug here. The `save_in_address_book` query argument has an effect on the address book - it's adding a value of 1 in the save_in_address_book column in the quote_address table when the quote address entry is created, which in turn creates a new customer address book entry when the quote is converted to order.
This behavior is consistent with how it works on the non-headless magento fron

[2021-06-13 11:30] #32376 closed, assigned to nobody

[2021-06-13 11:58] omerts commented on #6948
I still have this issue in magento 2.4.2

[2021-06-13 13:02] ihor-sviziev commented on #32461
Looks quite dangerous. Thank you @hostep
/cc @sdzhepa

[2021-06-13 14:14] hemendraajmera commented on #31125
Any one help me to make this sku unique, it saving duplicate sku as SKU-01 ,SKU-1-1. need SKU unique when adding new product.

[2021-06-13 18:46] drexlma commented on #10009
realy?

[2021-06-13 20:05] dr7oran opened #33228 "the whole website collapsed"
everything was perfect
i was forced to to change my password for admin login to the dashboard
change it
could not re log in
tried to unlock
on code lead to another the whole website collapsed front end and back end

help please

[2021-06-14 03:56] wandyyd commented on #33133
Hi @engcom-Alfa - thanks for looking on this. Seems an extension outside Magento default interfering this. I might need to look on it.

[2021-06-14 04:12] magento-engcom-team commented on #32452
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42626` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-14 04:15] engcom-Alfa commented on #32277
HI @nbennett25
Tried on Magento 2.4 develop , could not reproduce system.log with provided steps. Kindly update the reproducible steps in detail.

[2021-06-14 04:16] engcom-Alfa commented on #32452
Still we are getting error "The rollback file doesn't exist. Verify the file and try again."

[2021-06-14 05:41] #32482 closed, assigned to nobody

[2021-06-14 05:41] #32484 closed, assigned to nobody

[2021-06-14 05:53] greg-drozd commented on #26301
This still an issue. Maybe there should be a setting for that feature ?

[2021-06-14 06:17] onlinebizsoft commented on #29819
@ihor-sviziev 1. In your "deploy" phase, you have enabled the maintenance mode then disable it at the end of the process so I understand that "maintenance" mode is equal as downtime
2. I can't see the step where you do "setup:upgrade" ?

[2021-06-14 06:23] engcom-Alfa commented on #32677
Since there is no update to me in last ~14 days on my last comment, I am closing this ticket.
In case of any issue in future relevant to it in the latest versions, kindly report with a new ticket having all the reproducible information.
Thanks

[2021-06-14 06:23] #32677 closed, assigned to engcom-Alfa

[2021-06-14 06:23] engcom-Alfa commented on #33064
Since there is no update to me in last ~14 days on my last comment, I am closing this ticket.
In case of any issue in future relevant to it in the latest versions, kindly report with a new ticket having all the reproducible information.
Thanks

[2021-06-14 06:23] #33064 closed, assigned to engcom-Alfa

[2021-06-14 06:48] mrtuvn commented on #33228
maybe you should re-create second admin account for re-access your site again
Magento allow you create account from command line "bin/magento admin:user:create"

About collapse website feel weird to me! Have you revert your changes ? Any errors log or visible on screen. Please provide fullpage screenshot if possible

[2021-06-14 06:51] ihor-sviziev commented on #29819
@onlinebizsoft, basically setup upgrade (with keep generated flag) is running on the add/update configuration phase on production environment.
And yes, when the maintenance mode enabled - you will have downtime. As I said before, there is a way to skip setup upgrade when no changes in configuration and not data/schema upgrades. You can see example of such implementation in the deployer (I posted l

[2021-06-14 06:53] engcom-Alfa commented on #31316
HI @iphigenie
If its extension and after analysis from code perspective  it looks like problem with extension
please communicate with extension owner on marketplace
If fix should be applied in this extension that is NOT part of git magento/magento2 repo we are not able to fix it here
Well anyhow, if it is specific to Magento code, we need a detailed steps to reproduce. A step by step procedure rep

[2021-06-14 06:58] engcom-Alfa commented on #33129
Hi @codingbrains50
I have tried reproducing in the Magento 4.2-develop version and able to successfully without any issues.
Please try to reproduce in the latest version. If you are able to reproduce, kindly update me with all the detailed information like - Preconditions, Steps to reproduce, Expected result and Actual result. Possibly provide me the information with the screen shots / screen reco

[2021-06-14 07:29] DanieliMi commented on #27224
Still relevant, please don't close

[2021-06-14 07:39] gsa83 opened #33229 "Add a Swatches cache"
### Description (*)
In order to improve Magento 2 capacity to absorb a big amount of charge, I think one of the most important improvement to do is to add a new dedicated cache for the Swatches. Whatever the website that uses M2 swatches, PLP, and PDP displays is dependant on the async load of the JSON of the swatches. The calculation of the JSON is causing a big part of the server charge and limi

[2021-06-14 07:43] SilinMykola commented on #33204
@magento I am working on this

[2021-06-14 07:47] onlinebizsoft commented on #29819
@ihor-sviziev in my opinion, we can't call that as zero downtime which misleads to readers. I think we should have something like this installed in the system
https://github.com/zepgram/module-zero-downtime-deployment

Then we don't need enable/disable maintenance during "setup:upgrade".

[2021-06-14 07:51] gsa83 opened #33231 "Improve performance of customer/section/load"
### Description (*)
When a site scale-up, the customer/section/load can cause most of the server charge. On our website (Magento commerce cloud 2.3.x), it causes more than 85% of the server charge during some basic load test. Digging on the web, the only known solution is to use https://github.com/integer-net/magento2-session-unblocker according to https://www.integer-net.com/resolving-session-bot

[2021-06-14 08:06] engcom-Lima commented on #32427
Hi @paales ,

default query complexity and depth thresholds are configurable via the magento2/app/code/Magento/GraphQl/etc/di.xml file.
<argument name="queryDepth" xsi:type="number">20</argument>
<argument name="queryComplexity" xsi:type="number">300</argument>

So you are free to adjust these values as deemed fit for your environment. This is the current approach we advocate to users and will hav

[2021-06-14 08:17] plamenh commented on #32561
I am just making this comment to prevent the issue from going stale. I think this is quite valid, there should be consistency in amounts.

[2021-06-14 08:25] tzsolti commented on #22050
This happened to me when I had a CSV file with UTF-16 encoding. Convert your CSV to UTF-8 and then it will work.

[2021-06-14 08:35] engcom-Lima commented on #33047
Hi @marciomaciel,

We are waiting since 14 days, We did not get any response on this ticket. Hence we are closing this ticket.

Please feel free to raise the issue if you get into future.

Thanks for the understanding!

[2021-06-14 08:35] #33047 closed, assigned to engcom-Lima

[2021-06-14 09:00] engcom-Echo commented on #32396
Hi @Eddcapone ,

We are closing the issue as there has been no update on the same.

Thanks

[2021-06-14 09:00] #32396 closed, assigned to engcom-Echo

[2021-06-14 09:04] engcom-Alfa commented on #31847
@magento give me 2.4.2 instance

[2021-06-14 09:12] renard123 opened #33234 "Product details page - Review list section not expand when click on review count from wish list page"
Product details page - Review list section not expand when click on review count from wish list page

### Preconditions (*)

1. Magento 2.4.1
2.

### Steps to reproduce (*)

1. Login into account
2. Add to wish list which have more than 1 review
3. My wish list page -> Click on Review count
4. Refer the link: https://nimb.ws/tjVeIu

### Expected result (*)
User should see reviews

### Actual resul

[2021-06-14 09:13] krishprakash commented on #33234
@magento give me 2.4-develop instance

[2021-06-14 09:23] engcom-Lima commented on #32942
Hi @dholidev

As far as it is not an magento issue, it may be due to your payment module specific only. We had worked on the ticket and can't reproduce the issue so We need the reproducible steps. Hence we are closing this ticket.

Please feel free to raise the new ticket or reopen the existing ticket in case of any issue.

Thanks for the understanding !

[2021-06-14 09:23] #32942 closed, assigned to engcom-Lima

[2021-06-14 09:24] engcom-Lima commented on #32942
Hi @dholidev

As far as it is not an magento issue, it may be due to your payment module specific only. We had worked on the ticket and can't reproduce the issue so We need the reproducible steps. Hence we are closing this ticket.

Please feel free to raise the new ticket or reopen the existing ticket in case of any issue.

Thanks for the understanding !

[2021-06-14 09:25] magento-engcom-team commented on #33234
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42627` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-14 09:26] engcom-November commented on #32951
Verified this issue on latest Magento version 2.4.2 and the issue is reproducible when setup and run cron jobs but is resolved when disabled system alerts in the configuration (Stores > Settings > Configuration > dotdigital > Developer -> System Alerts) and clean cache or rerun Magento setup upgrade and clean cache.
Please let us know if the issue still exits or can be closed if resolved.

Thanks,

[2021-06-14 09:41] engcom-Bravo commented on #33174
Hi @tranhoangthien1990,

Could you please help us with some screenshots of the actual result to understand the issue better?

[2021-06-14 09:42] magento-engcom-team commented on #32599
@engcom-Hotel Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-14 09:42] magento-engcom-team commented on #32599
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-14 09:43] engcom-Alfa commented on #33089
As mentioned in the [AboveComment](https://github.com/magento/magento2/issues/33089#issuecomment-850258902) it is not actually a Magento issue. I tried reproducing and it is not reproducible as well in the 2.4-develop version.
You may please upgrade to current 4.2-develop version to come out of this issue.
Due to your custom theme, you might even required to re look into the configurations as well

[2021-06-14 09:43] #33089 closed, assigned to engcom-Alfa

[2021-06-14 09:44] ihor-sviziev commented on #29819
@onlinebizsoft in case when we don't have any config changes as data/schema upgrades - we shouldn't enable/disable maintenance as well as running setup upgrade. That means that your visitors will immediately see a new version w/o any interruptions.

This mechanism was introduced in order to prevent having not expected issues. I'm not recommend disabling it without really knowing what you're doing.

[2021-06-14 09:44] engcom-Hotel commented on #32599
Hi @dehaan-jeroen ,

This issue has been reproducible. After performing the steps mentioned in the ticket, we are getting following error in apache error_log:

<img width="920" alt="Screenshot 2021-06-14 at 3 09 31 PM" src="https://user-images.githubusercontent.com/51681618/121872740-42036400-cd23-11eb-9f57-c6432accf06d.png">

[2021-06-14 09:46] engcom-Echo commented on #31888
Hi @Ckaneriya @MackieeE ,

The issue is not producible based on steps given . Can you please try to test the issue on latest magento branch i.e. 2.4-develop or kindly provide more information regarding the issue so that we can verify the same at our end.

Thanks

[2021-06-14 09:56] engcom-Hotel commented on #26969
Hi @bartoszkubicki ,

We have checked this issue on Magento version 2.4-develop but this is not reproducible. The issues mentioned in the ticket has been already merged with 2.4-develop.

Please check the issue with the version 2.4-develop and let us know if you found any issue.

[2021-06-14 09:58] engcom-Hotel commented on #27904
Hi @bartoszkubicki ,

We have checked this issue on Magento version 2.4-develop but this is not reproducible. The issues mentioned in the ticket has been already merged with 2.4-develop.

Please check the issue with the version 2.4-develop and let us know if you found any issue.

[2021-06-14 10:01] magento-engcom-team commented on #32599
@engcom-Hotel Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-14 10:08] t-heuser opened #33236 "storeConfig query return full paths for images"
*As a developer I want the storeConfig query to return full media paths for images so that I don't have to assume the paths for images.*

The issue is that if I request for example the fields "head_shortcut_icon" (shop favicon) and "header_logo_src" (shop logo) from the query "storeConfig" I get the following values: "default/favicon.ico" and "default/logo.png". These are the values that are saved

[2021-06-14 10:14] engcom-Bravo commented on #32385
Hi @davidandersson1,

Glad to know the issue was fixed. Closing the ticket henceforth. Kindly re-open the ticket for any concerns.

[2021-06-14 10:14] #32385 closed, assigned to engcom-Bravo

[2021-06-14 10:33] engcom-Echo commented on #33053
Hi @olegosh ,

We are closing this issue as no update has been provided on the same.

Thanks

[2021-06-14 10:33] #33053 closed, assigned to engcom-Echo

[2021-06-14 10:41] mushketer888 opened #33237 "Can't create more than one credit memo if order's grand total is 0"
### Preconditions (*)
Magento 2.3.3

### Steps to reproduce (*)
1. Crete order with 100% discount on all items and shipping. (Cart rule promo code can be used for that) Grand total (including shipping) must be 0. Order must contain product's quantity atleast as 2
2. Create credit memo and refund order with "Qty to Refund" = 1. ("Return to stock" doesn't affect on this issue)
![2021-06-1413:35:50](

[2021-06-14 10:41] engcom-Echo commented on #33045
Hi @arhmart ,

We are closing this issue as no update has been given.

Thanks

[2021-06-14 10:41] #33045 closed, assigned to engcom-Alfa

[2021-06-14 10:43] sanjay-github opened #33238 "Move to Shopping Cart action not working in admin order."
### Preconditions (*)

1. Magento v2.4.1 Enterprise Edition
2.

### Steps to reproduce (*)

1. Go to the admin panel and start creating a new order.
2. Make sure you have added additional_options on the quote item via event or plugin. In my case, I have set using "**sales_quote_item_set_product**" event.
3. Now Move the product to the shopping cart using the "**Move to Shopping Cart**" option in *

[2021-06-14 10:49] engcom-Lima commented on #32799
Hi @matias7

We did not get any response from your side. Hope your problem will get resolved. Hence closing this ticket.

If you have any issue then you can raise the new ticket. Thanks

[2021-06-14 10:49] #32799 closed, assigned to engcom-Lima

[2021-06-14 10:52] mayankgchetu commented on #33170
@magento-engcom-team Can you please add priority label in this issue?

[2021-06-14 10:56] engcom-Alfa commented on #31847
Hi @alexsmith2709

I have tried multiple times to reproduce, Below is all my details investigation details.

**Try 1: Using Magento 2.4-develop version**
1. Set the tax percentage to 20% based on pin code range.
2. Set the Currency type to Euro.
3. Created a new product with the amount 6.667 (Once adding the new product, the price rounds up to 6.67 only)
4. Checked out a product in the front end w

[2021-06-14 11:30] jayachandraoggy commented on #33234
@magento give me 2.4-develop instance

[2021-06-14 11:37] engcom-Lima commented on #31496
@speedupmate I am working on your issue. I have created a fixed cart rule with a coupon code and apply the coupon code in cart page. Discount is showing as expected. As far as issue can't reproduce.

So, Can you please provide me the complete reproducible steps with screenshots? so it will be helpful in reproduce the issue.
And also tell me the example of extensions which you are using or clear th

[2021-06-14 11:41] speedupmate commented on #31496
@engcom-Lima Write a test that calls collectTotals multiple times in a row on quote object and you can replicate this. Otherwise you can let it go stale or close. I know how to fix but unfortunately  have no time for painting it red or provide samples. Will avoid making such reports also as I can understand its hard to replicate for you just based on description.

[2021-06-14 11:45] codingbrains50 commented on #33129
So, what should I do in order to get it to work? Can you please provide the
steps?

On Mon, Jun 14, 2021 at 12:28 PM Manjunath ***@***.***> wrote:

[2021-06-14 12:14] engcom-Lima commented on #32480
Hi @Eddcapone,  May know the issue status? If still you are facing the issue while including e-mail template then follow the below steps:

- create ’email_templates.xml’ file in folder ‘Tutorial/Math/etc’.
`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Email:etc/email_templates.xsd">
	<template id="math

[2021-06-14 12:17] engcom-Echo commented on #33237
Hi @mushketer888

We are not able to re-produce the issue based on steps provided. Can you please verify the same on latest magento instance that is 2.4-develop and let us know if you get this issue there.

Thanks

[2021-06-14 12:34] engcom-Echo commented on #32788
Hi @werfu ,

We are closing this issue as there has been no update on the same.

Thanks

[2021-06-14 12:34] #32788 closed, assigned to engcom-Echo

[2021-06-14 12:34] E-motive-Georgi opened #33239 "Hello, I have a question about Magento 2 about Amazon and eBay promotions in particular."
Is it possible to do an amazon or ebay Promotions from the marketing section on Magento 2(me2pro) as well. Should I do this through Cat price rules for both marketplaces?

Note: my amazon and ebay stores are properly connected to my magento 2. Is there any guide how should I create these promotions for ebay and amazon?

[2021-06-14 12:37] engcom-November commented on #31024
Hi,
Closing this issue as the solution - Changing custom theme is working fine (Magento 2.4.2) and Category Products are displayed in Category Listing page as expected.
Thank you.

[2021-06-14 12:42] #31024 closed, assigned to engcom-November

[2021-06-14 12:44] engcom-Echo commented on #32807
Hi @Eddcapone ,

We are closing the issue as there has been no-update on the same. Hopefully the link provided has helped you.

Thanks

[2021-06-14 12:44] #32807 closed, assigned to engcom-Echo

[2021-06-14 12:54] engcom-Lima commented on #33069
@bikalbasnet As we did not get any response since 19 days, Hence closing this ticket.

Please feel free to raise the new ticket if any issue is there

[2021-06-14 12:54] #33069 closed, assigned to engcom-Lima

[2021-06-14 13:15] engcom-Hotel commented on #26866
Hi @bartoszkubicki

The issue is not reproducible in version 2.4-develop. Please tell us how you created a consumer with type virtual.

[2021-06-14 13:16] engcom-Alfa commented on #32645
Hi @piotrusin
Kindly  provide Magento version and amazon sales channel version to reproduce the issue.

[2021-06-14 13:51] abhishekc3 commented on #33170
@magento-engcom-team Can you please add priority label in this issue?

[2021-06-14 14:09] engcom-Golf commented on #32461
@mattiteraslahti I tried reproducing this issue on Magneto 2.4.2 & 2.4-develop, but can't reproduce it. Kindly upgrade your version.  Snapshots attached for your reference.
Step 1: Product Inserted via Async Bulk Rest API
![image](https://user-images.githubusercontent.com/51681547/121904646-ff538300-cd46-11eb-9ec8-933848261725.png)
Step 2: Product Deleted
![image](https://user-images.githubusercon

[2021-06-14 14:37] mrtuvn commented on #33239
i think better ask question in slack channel. Github should be for report issue only

[2021-06-14 14:45] engcom-Hotel commented on #31871
Hi @NickdeK

I saw your ticket as far as it is not an issue. I think there is some misunderstanding while go through with the naming conventions. Hence we are closing this ticket.

Please feel free to raise the new ticket if you have any other issue.

Thanks for the understanding.

[2021-06-14 14:45] #31871 closed, assigned to engcom-Hotel

[2021-06-14 14:49] wishbone-productions commented on #25294
This helped me: http://www.zhishibo.com/articles/94429.html

[2021-06-14 14:52] yanhaiwen2019 commented on #33153
Hi:
   Please ensure that the multi-attribute products are ranked in the top1 position, you can try it on my website, www.ineffablegoods.com<http://www.ineffablegoods.com>
Ineffable Goods<http://www.ineffablegoods.com/>
Sell high-quality and low-cost products to improve the quality of life for everyone
www.ineffablegoods.com

________________________________
发件人: Manjunath ***@***.***>
发送时间: 2021年

[2021-06-14 14:54] yanhaiwen2019 commented on #33153
HI
[cid:f5f96935-40e3-466e-8cfc-9b84ff7aee29]
Please click the proceed to checkout button to get an error
________________________________
发件人: Manjunath ***@***.***>
发送时间: 2021年6月9日 16:24
收件人: magento/magento2 ***@***.***>
抄送: yanhaiwen2019 ***@***.***>; Mention ***@***.***>
主题: Re: [magento/magento2] Magento 2.4.2-p1 multi-attribute products and single-attribute products have an error at the che

[2021-06-14 14:56] paales commented on #32427
@engcom-Lima Thanks for the suggestion to modify those values! Changing the defaults would still make sense, right? Or is that what you mentioned for 2.4.3?

[2021-06-14 15:01] yanhaiwen2019 commented on #33153
hi

Sent from my iPhone

On 14 Jun 2021, at 10:52 PM, yan haiwen ***@***.***> wrote:

﻿
Hi:
   Please ensure that the multi-attribute products are ranked in the top1 position, you can try it on my website, www.ineffablegoods.com<http://www.ineffablegoods.com>
Ineffable Goods<http://www.ineffablegoods.com/>
Sell high-quality and low-cost products to improve the quality of life for everyone
www.inef

[2021-06-14 15:23] ia-gaurav opened #33240 "Magento Elasticsearch goes down frequently"
**Preconditions (*)**

1. - Magento 2.4.1
2. - I have around 10 K products - simple and confugurable
3. - VPS Server with 8 GB ram and 4 vCpus

**Issue**
Elasticsearch goes down frequently

**Indices Settings as below**
![image](https://user-images.githubusercontent.com/63009790/121917223-8b1edc80-cd52-11eb-8c7b-9e134aa6ca0b.png)

[2021-06-14 15:44] dholidev commented on #32942
Hi @engcom-Lima,

The problem lies in Magento's poorly written code logic when using the "indexOf()" method, reported in the first thead. It is not in the payment module.

We will provide this link to agencies and developers using our solution and they will know which side the problem is on.

Thanks for your attention.

[2021-06-14 22:00] toddliningerdesign commented on #23938
It is absurd that this has not been fixed yet. This is a huge issue that goes back to the beginning of Magento! It should not be closed until it is fixed, and it should have been fixed years ago!

[2021-06-14 22:08] eloom commented on #32942
@felipeSoulmkt,

conforme pode ver em 2 theads acima, o suporte do Magento finalizou o ticket informando que o problema não está no Magento porque não conseguiu reproduzir o erro em razão de não fornecemos o módulo de pagamento a eles, mesmo montando um ambiente e dando acessos para testarem.

Se analisar o primeira thead deste chamado em que reportamos o problema e com o mínimo conhecimento de ló

[2021-06-15 01:42] xeontcs commented on #28614
Hi,

What is the best solution for this issue so far? All of our websites are getting this attacked.

Thank you.

[2021-06-15 03:19] fidellakis commented on #33162
@magento I am working on this

[2021-06-15 03:20] fidellakis commented on #33162
@magento add to contributors team

[2021-06-15 03:21] fidellakis commented on #33162
@magento I am working on this

[2021-06-15 04:33] webtekindo commented on #23938
I have tried for years to open issues about it since Magento 1 and these always have been closed with no explanation. It makes no sense to me.

[2021-06-15 05:11] preeteshtavant opened #33241 "Unable to assigning role/types to images in multi website via Media API"
### Preconditions (*)

1.Magento ver. 2.4.1
2. Create multiple website ( For example website 1 with store abc, website 2 with store xyz)
3. Create a product which belongs to both the websites
4. API Method post
5. API :- products/{sku}/media
6. Documentation link :- https://magento.redoc.ly/2.4.2-admin/tag/productsskumedia#operation/catalogProductAttributeMediaGalleryManagementV1CreatePost
7. Samp

[2021-06-15 06:27] donatopirolo commented on #28132
Same issue on magento 2.4.2

main.ERROR: No such entity with quote_id = 104 {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): No such entity with quote_id = 104 at /srv/public_html/vendor/magento/framework/Exception/NoSuchEntityException.php:50)"} []

[2021-06-15 06:54] everestkid commented on #25294
Check for log in var/log/debug.log . There should be error message.

For me the error was due to problem in saving product. I tried saving product from admin panel but could not. I scheduled index update and product save worked from admin panel. After that sample data deploy also worked.

[2021-06-15 07:34] fabis2000 commented on #33220
@magento I am working on this

[2021-06-15 07:35] fabis2000 commented on #33220
@magento add to contributors team

[2021-06-15 07:36] fabis2000 commented on #33220
@magento I am working on this

[2021-06-15 07:51] fabis2000 commented on #33220
Hi @engcom-Echo. Have you had a chance to look at the video yet? Can you please have another look at this issue and update the tags so this can proceed? Thanks.

[2021-06-15 08:01] Jeeva-Rathinam opened #33243 "How to find what is the controller responsible?"
I am using the Amasty store locator module, in the backend, i am filled with all values and click the save button, how to find which controller is responsible for saving all the values.

After clicking the save button i want to do some customization, What is the controller responsible?

[2021-06-15 08:30] engcom-Alfa commented on #32631
Hi @webtekindo
I tried reproducing it in the 4.2-develop version and below is information about my investigation.

1. I didn't find the table name specific namely "cataloginventory_stock_cl", and so I noted all the relevant tables total record and the table names are - cataloginventory_stock , cataloginventory_stock_item , cataloginventory_stock_status , cataloginventory_stock_status_idx , catalog

[2021-06-15 08:42] engcom-Alfa commented on #22094
Hi @djixas
I have tried in the latest version and it is working fine with 4.2-develop version.
Kindly upgrade to the latest version yourself and try again. If you are going to find the same issue, kindly mention to me with the latest reproducible steps in detail to reproduce.

[2021-06-15 09:04] piotrusin commented on #32645
@engcom-Alfa this issue was confirmed by Magento customer support and occurs on module-amazon:4.2.0 and Magento 2.3.5-p2.

For anyone facing similar problems with this integration: we managed to fix that issue by creating a plugin over `\Magento\Amazon\Model\Amazon\Order` that set placeholders in `afterGetBuyerName`, `afterGetShipName`, `afterGetShipAddressOne`

[2021-06-15 09:08] engcom-Echo commented on #33240
Hi @ia-gaurav ,

Can you please provide more details to the issue like the steps to re-produce or attach logs so that we can verify the same at our end.

Thanks

[2021-06-15 09:17] engcom-Alfa commented on #33042
Tried on Magento 2.4 Develop .observed that we unable to switch the stores

[2021-06-15 09:18] alexsmith2709 commented on #31847
@engcom-Alfa where you using the unit price to calculate tax?
As stated above i believe this is where the issue lies. Changing to calculate the tax on unit price, only affects the front end, not the backend. I use unit price as i want the price to be rounded at unit level so the total would be £16 in this example, not £16.01 which happens when using row total.

[2021-06-15 09:27] magento-engcom-team commented on #33042
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42635` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-15 09:30] engcom-Echo commented on #33239
Hi @E-motive-Georgi ,

This can be done by configuring Cart Price Rules, also there are many extension available  for marketplace promotions , you can check them too as per your requirement.
As @mrtuvn has suggested you can also ask this query in slack channel (https://opensource.magento.com/slack#general)

We are closing this ticket as this is not a relevant issue.

Thanks

[2021-06-15 09:30] #33239 closed, assigned to engcom-Echo

[2021-06-15 09:42] engcom-Bravo commented on #32538
Hi @psydog-1101 ,

We are unable to reproduce this. Please add more details if you are facing this in a specific scenario. Screenshot added for reference.

![image](https://user-images.githubusercontent.com/51680745/122031113-041e4280-cdec-11eb-9027-2633ba3313b0.png)

[2021-06-15 09:49] engcom-Echo commented on #33220
Hi @fabis2000 ,

I tried to replicate the same issue on our vanilla instance , and the issue was reproducible there.

Thanks

[2021-06-15 09:51] amenk commented on #8508
We still have a problem in 2.3.5, that the translation "items" is not picked up and so not included into the `js-translation.json`
vendor/magento/module-checkout/view/frontend/templates/cart/minicart.phtml:20

Problem seems to be at least in that version *.phtml files are not scanned for JS translations. Not sure how it is with 2.4.2

[2021-06-15 09:59] engcom-Echo commented on #32969
Hi @vandijkstef ,

Were you able to test the same on 2.4-develop ?

Thanks

[2021-06-15 10:09] engcom-Hotel commented on #28617
Hi @janssensjelle

I have tried to reproduce this issue in 2.4-develop. The issue is reproducible if the same tier price for same group already exists.

[2021-06-15 10:10] magento-engcom-team commented on #28617
@engcom-Hotel Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-15 10:10] magento-engcom-team commented on #28617
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-15 10:16] codingbrains50 commented on #33129
I am not able to attach a screen record because of the size issue, can you
please give me another email where i can send the screen record video.

On Tue, Jun 15, 2021 at 12:36 AM Hasan Faraz Zaidi ***@***.***>
wrote:

[2021-06-15 10:29] engcom-Hotel commented on #30927
Hi @lbajsarowicz

We have tried the below command to run the data generator in version 2.4-develop:

bin/magento setup:performance:generate-fixtures <profile>

We have used small.xml as profile. But the whole process does not took much time. Please find below screenshot for the same:

<img width="613" alt="Screenshot 2021-06-15 at 3 56 45 PM" src="https://user-images.githubusercontent.com/51681618

[2021-06-15 10:31] NickdeK commented on #31871
@engcom-Hotel I'm not sure why this ticket is closed. The issue is that it's hard for developers to work with swatches and dropdowns on the configurable page because it's not clear which javascript files are used. How is this a misunderstanding of the naming conventions? And if it is; shouldn't it be solved?

[2021-06-15 10:42] tuyennn opened #33244 "AddressHtml template for additional Addresses from address book or address grid on customer_address_index layout cannot be extended"
### Preconditions (*)

1. Magento 2.4.x
2.

### Steps to reproduce (*)

1. Add a customer address attribute: Ex: foo_bar
2. Add this attribute to address template. Ex: {{var foo_bar}}

### Expected result (*)

1. From customer_address_index layout the address book and address grid, each address could be rendered with new attribute
2.

### Actual result (*)

1. From customer_address_index layout th

[2021-06-15 11:32] engcom-Lima commented on #29347
Hi @zhartaunik, I have been started working on the ticket. Can you please provide me the details reproducible steps and screenshots. I will be happy to work and resolve your issue.

As of now insufficient details are there. What error you getting while test cases ran.

I hope you will reproduce the issue on Magento V.2.4-develop and will provide the details steps for the same. Thanks

[2021-06-15 12:02] engcom-Lima commented on #32642
Hi @ilnytskyi

Can you please confirm about your query? is it got resolved?

[2021-06-15 12:07] AZiniukhin commented on #33158
@magento I am working on this

[2021-06-15 12:08] AZiniukhin commented on #33158
@magento add to contributors tea

[2021-06-15 12:09] engcom-Lima commented on #32561
Hi @plamenh,

I tested on magento 2.4-develop, I can't reproduce the issue.

And also all the required information(**Preconditions, Steps to reproduce, Expected result, Actual result**) is missing to reproduce the issue.
Can you please provide me the reproducible steps and screenshots.

[2021-06-15 12:11] engcom-Echo commented on #32705
Hi @jigar48 ,

The correct method to use is  _getAllowedExtensions() and not getAllowedExtensions().
Kindly check and let us know.

Thanks

[2021-06-15 12:12] nuzil commented on #32866
First review results:

* PhpAmqpLib\Wire\AMQPTable; - safe
* PhpAmqpLib\Exception\AMQPInvalidArgumentException - safe
* PhpAmqpLib\Connection\AbstractConnection - need to be checked
* PhpAmqpLib\Channel\AMQPChannel - need to be checked, BIC found
* PhpAmqpLib\Message\AMQPMessage - need to be checked, BIC found
* PhpAmqpLib\Connection\AMQPSSLConnection - safe
* PhpAmqpLib\Connection\AMQPStreamConne

[2021-06-15 12:14] engcom-Bravo commented on #32444
Hi @mtwegrzycki,

Could you please let us know the exact steps you are doing to set up the cron on clean Magento installation so that we can try to reproduce the issue?

[2021-06-15 12:15] AZiniukhin commented on #33158
@magento add to contributors team

[2021-06-15 12:16] AZiniukhin commented on #33158
@magento I am working on this

[2021-06-15 12:22] mushketer888 commented on #33237
@magento give me 2.4-develop instance

[2021-06-15 12:23] engcom-Bravo commented on #31915
Hi @bagbarn ,

Please let us know if in case you are still facing the issue after trying the possible solutions in this thread.

[2021-06-15 12:27] amenk opened #33245 "js-translation.json does not pick up strings in *.phtml files"
Follow up of https://github.com/magento/magento2/issues/8508#issuecomment-861357969

### Background

Magento automatically picks up strings which should be supplied for the frontend translation via component via js-translation.json. This misses some strings, leaving hard-to-debug problems with translations to other languages.

### Summary (*)

The process of fetching strings for js-translation.jso

[2021-06-15 12:29] amenk commented on #33245
As code changes are necessary / it's a developer experience issue, I do not know how to reproduce that by the way. But from looking at the code, the issues is pretty clear.

[2021-06-15 12:35] mushketer888 commented on #33237
I was able to replicate this issue:
![2021-06-1515:34:37](https://user-images.githubusercontent.com/2189038/122053223-39785f80-cdef-11eb-8f51-d64fa316d82a.png)
Order #000000004
Only one credit memo can be created!

[2021-06-15 12:50] dr7oran opened #33246 "front end & backend"
a problem started with forced password changing after logging in to the admin panel
changed it
tried to sign in again couldn't
tried to unlock user as per advice
one code to another error reports occurred
at the end website disappeared front end and back end

as a guy, he told me it is a composer, etc issue !!

need help

[2021-06-15 13:04] engcom-November commented on #32361
Verified the issue on latest Magento version 2.4.2 and the issue is reproducible.
Steps performed:
1. Configured UPS Delivery method from Magento Admin (Stores - Configuration - Sales - Delivery Methods - UPS)
2. Front-End - Add product to Cart
3. Checkout - US Shipping address - Select UPS shipping method and submit payment.
4. Verify Shipping.log in Magentofolder/var/log
Issue: Cannot able to tr

[2021-06-15 13:05] lbajsarowicz commented on #30927
If `small.xml` is the most Magento can handle, then you don't need to investigate further.

[2021-06-15 13:06] daniel100097 commented on #22753
I'm still getting this issue on 2.4.2

And https://github.com/magento-engcoom/msi goes to a 404....

[2021-06-15 13:08] engcom-Golf commented on #33056
@ronakchauhan Can you please share the requested Stores?

[2021-06-15 13:22] bgorski commented on #30927
I'm reopening this in order to confirm this myself. The issue here is allocation of a system resource (CPU), not the time of applying the small set of fixtures (the size should not matter here at all).

[2021-06-15 13:41] engcom-Golf commented on #32670
@madonzyaccenture This is not a issue, It is an expected behaviour for all the Exceptions. If any Exception occur, It will be removed from Queue, Also proper Error Message will be shown in the Magento Admin panel - **Bulk Log**

Let me Explain you with Example.
1. I tried to insert 2 Products, having different SKUs but same URL KEY via Bulk Async API
![image](https://user-images.githubusercontent.

[2021-06-15 13:42] bgorski commented on #30927
I can confirm that php bin/magento setup:performance:generate-fixtures [path to profile here] takes up to one thread, which can be a serious issue in case of bigger profiles.
Also, looking at the command's console output, there's no optional parameter to use more resources:
[code]
Nothing directly in profiles either.

[2021-06-15 13:42] magento-engcom-team commented on #30927
@bgorski Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-15 13:42] magento-engcom-team commented on #30927
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-15 13:45] magento-engcom-team commented on #30927
:white_check_mark: Confirmed by @bgorski
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42636` were created

**Issue Available**: @bgorski, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-15 13:50] vovsky commented on #33220
@magento give me 2.4-develop instance

[2021-06-15 14:45] m2-assistant[bot] opened #33247 "[Issue] Update README.md"
This issue is automatically created based on existing pull request: magento/magento2#33169: Update README.md

---------
- Added **" • "** before **Magento System Requirements** Link to give generalize look to : `Magento System Requirements`, `Install Magento`, `Learn About GraphQL in Magento 2` these all **3** sections.

- Removed **full stops**(.) from **Magento System Requirements** and **Instal

[2021-06-15 15:02] vovsky commented on #33220
@magento I am working on this

[2021-06-15 15:32] madonzyaccenture commented on #32670
@engcom-Golf nope, imagine that issue occurs not because of duplicated entity, but because we have some 3D party API that must be called before save, but currently is not responding, thus entity could not be saved. Developer need to decide to remove or requeue, currently we don't have such option. Messages will always be deleted.

[2021-06-15 17:36] krishprakash commented on #33246
Hi @dr7oran. GitHub issue tracker is intended for Magento core technical issues only
Kindly refer Community Forum Or Magento stack exchange to general discuss about this topic so any one can solve your problem and you will get answers about your problem.
Thank you!

[2021-06-15 17:36] #33246 closed, assigned to nobody

[2021-06-15 17:52] AZiniukhin commented on #32977
@magento I am working on this

[2021-06-15 18:33] codingbrains50 commented on #33129
Here is the issue.

https://www.loom.com/share/8dcbf8229c534b74a3feaa086ec5c0d0?sharedAppSource=personal_library

On Tue, Jun 15, 2021 at 3:46 PM Hasan Faraz Zaidi ***@***.***>
wrote:

[2021-06-15 20:10] TonyDeStefano opened #33250 "Redis data error in all of our environments as of yesterday"
### Preconditions (*)

1. Magento 2.2

### Steps to reproduce (*)

We can no longer deploy our magento instance in any of our environments. Even with unchanged code. We get this error every time:

php bin/magento
Warning: snappy_uncompress : data error in /var/www/html/magento/vendor/colinmollenhour/cache-backend-redis/Cm/Cache/Backend/Redis.php on line 1239

I tried changing from "snappy" to all

[2021-06-15 20:57] jeckojim commented on #28614
Hi,
Because this thread is now so long, to save you from having to read it 3 times like I did (last time is now! I won't come back ;P) I will try to resume what works the best (at less for us now since more than ~5 months):

### 1. Any payment gateways can be affected by carding attack (and not just Magento platform).
Don't ask if yours is mentioned...

### 2. We got rid of this attack mainly with

[2021-06-15 21:04] iphigenie commented on #31316
Hi @engcom-Alfa might be the case, so many extensions inject in URL rewrites - though for me disabling google optimizer removes the error. I can't reproduce it all that easily on vanilla with demo date - could be it needs a specific rewrite configuration and error configuration and cache etc.

Since disabling the module is a fix and i have no urgent need for that module I'll let it sit

[2021-06-15 21:13] adorobeleza opened #33251 "menu does not appear on some pages in version 2.4.2 sirena theme v2.1"
### Preconditions (*)

After upgrading from magento v2.3.6 to v.24.2 the menu is no longer visible on some pages, I've tried removing the ttl from the default.xml file, but it doesn't work

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2. (https://user-images.githubusercontent.com/8

[2021-06-15 23:45] YorkFeix commented on #19173
Hi, GitHub Team and those that are trying to solve the problem above. Not sure why this is taking so long?  But as per my read here you have not identified the problem correctly. It's mandatory that you do including fixing it now urgently. Google does not obey the robots txt file for a long time as most of you might know. so just taking an easy step does not work. Meta Robot Tags are a must and wr

[2021-06-16 00:01] adorobeleza commented on #33251
Olá

Consegui resolver o problema alterando as configurações no server nginx para

server {
	listen	80;
	server_name	website.com.br www.website.com.br;
	return 301	https://www.website.com.br;
}

server {
	listen 443 ssl http2;
	server_name website.com.br www.website.com.br;
        proxy_headers_hash_bucket_size 128;
        proxy_headers_hash_max_size 1024;
        ssl_certificate /etc/letsencryp

[2021-06-16 00:01] #33251 closed, assigned to nobody

[2021-06-16 00:22] adorobeleza opened #33252 "Magento 2.4.2 does not allow login Error 404 Page Login"
Hello friends, after upgrading from magento 2.3.6 to 2.4.2 I can't log in anymore, and as you can see there are errors in the email.php file

Website: https://www.adorobeleza.com.br/customer/account/login/

PHP 7.4.20 (cli) (built: Jun 4 2021 21:24:37) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
with Zend OPcache v7.4.20, Copyright (c), by Zend Technolog

[2021-06-16 01:32] mrtuvn commented on #33252
Seem problem not related with magento codebase! Have you double check from your customise code ? I don't found in the magento code around with isEnabled('google') like your console log error screenshot show

[2021-06-16 01:32] #26875 closed, assigned to nobody

[2021-06-16 01:32] #29084 closed, assigned to nobody

[2021-06-16 01:32] #26103 closed, assigned to nobody

[2021-06-16 01:32] #28237 closed, assigned to nobody

[2021-06-16 01:32] #27899 closed, assigned to nobody

[2021-06-16 01:32] #28225 closed, assigned to nobody

[2021-06-16 01:32] #31475 closed, assigned to nobody

[2021-06-16 01:32] #31494 closed, assigned to nobody

[2021-06-16 01:32] #31286 closed, assigned to nobody

[2021-06-16 01:32] #32466 closed, assigned to nobody

[2021-06-16 01:51] magento-engcom-team commented on #31333
:white_check_mark: Confirmed by @mrtuvn
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40020` were created

**Issue Available**: @mrtuvn, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-16 03:32] webtekindo commented on #32631
Hello @engcom-Alfa,

Those tables are related to MView from Magento 2. It's the indexer that runs in cron every minute by default. MView is used if you set the indexer mode to 'Index by Schedule'.

You have to set Inventory indexer on 'Index by Schedule'.

[2021-06-16 03:33] manugentoo commented on #30503
Experiencing this now +1 with @davirs following this thread.

[2021-06-16 03:44] webtekindo commented on #32836
The version of varnish is irrelevant, all the default magento VCL contains this line:

`unset resp.http.Link;`

You can test it by installing a module like:

https://github.com/yireo/Yireo_LinkPreload

See how the header is set:

https://github.com/yireo/Yireo_LinkPreload/blob/master/Plugin/ResponsePlugin.php#L145

example: Link: <link_to_magento_asset.js>; rel=preload;

On the frontend If you ins

[2021-06-16 03:54] DuySexy commented on #8933
temporary solution is truncate table **cron_schedule** , issue solved !

[2021-06-16 05:26] engcom-Alfa commented on #32478
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-16 05:26] #32478 closed, assigned to engcom-Alfa

[2021-06-16 05:27] engcom-Alfa commented on #28384
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-16 05:27] #28384 closed, assigned to engcom-Alfa

[2021-06-16 05:28] engcom-Alfa commented on #32879
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-16 05:28] #32879 closed, assigned to engcom-Alfa

[2021-06-16 05:29] engcom-Alfa commented on #32974
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-16 05:29] #32974 closed, assigned to engcom-Alfa

[2021-06-16 05:37] engcom-Bravo commented on #33228
Hi @dr7oran ,

Please let us know if you have tried the suggested solution in this ticket thread and if in case it is still not working kindly help us with more details of the issue with screenshots.

[2021-06-16 05:58] engcom-Echo commented on #32705
Hi @jigar48 ,

XML file type is configured as a protected file extension in Magento/Store/etc/config.xml , hence upload of xml file is restricted for security issues.

Thanks

[2021-06-16 06:12] engcom-Echo commented on #33116
Hi @hryvinskyi ,

We are closing this issue , as there has been not much update on it.
If you are still getting this issue please comment.

Thanks

[2021-06-16 06:12] #33116 closed, assigned to engcom-Echo

[2021-06-16 06:37] engcom-Alfa commented on #33129
Hi @codingbrains50

Thanks for the screen record and I have looked into your issue exactly. The issue must be because of your brain tree configurations that you have done in your admin side. We face this issue in the front end, because of invalid input values provided in the admin side (Admin>Configuration>Sales>Payment Methods>Recommended Solutions>Braintree-configure).

Kindly cross check your m

[2021-06-16 06:37] #33129 closed, assigned to engcom-Alfa

[2021-06-16 07:35] ralex78 commented on #23908
I can confirm this issue on CE 2.4.2. I'm hardly using any 3rd party extensions.

[2021-06-16 07:43] Ashraf-alkibsi commented on #23908
for me setting the default currency and country solved this issue.

[2021-06-16 07:51] ralex78 commented on #23908
Not working in my case. Default currency and country are both set.

[2021-06-16 07:52] mikamarkus commented on #32748
Actually our problem started after upgrade as well. Media Gallery content is just not showing up. Exactly the same problem which @john-rock has.

[2021-06-16 08:04] Ashraf-alkibsi commented on #23908
@ralex78 try checking the log files, I hope it can give you a hint of what causing the problem

[2021-06-16 08:11] ralex78 commented on #23908
Unfortunately, I am not a developer and not even quite tech-savvy, but I'll try this and see if it will give me any hints. Thanks.

[2021-06-16 08:11] mikamarkus opened #33254 "2.4.2: Unique constraint violation found after saving CMS Page (subpage)"
### Preconditions (*)

1. Magento Commerce Cloud v2.4.2

### Steps to reproduce (*)

1. Create and save a new CMS Page
2. Add page as other page's sub page in Page Hierarchy
3. Go edit the page you created and try to save - Error occurs

### Expected result (*)

1. User can save the page successfully without error

### Actual result (*)

Error message appears: "Unique constraint violation found"

[2021-06-16 08:34] engcom-Echo commented on #31742
Hi @HenKun ,

As per your screenshot , it looks the issue is a warning and this shouldn't crash the application .
Can you please specify what production issues are you getting because of this , also can you please elaborate the steps to re-produce so that we can try to re-produce the same at our end.

Thanks

[2021-06-16 08:40] ZhovnirMaria opened #33255 "An email “Welcome to the main website” is sent to inactive customers"
### Preconditions (*)
Magento version 2.4.2

### Steps to reproduce (*)
1. On the Admin sidebar, go to _Customers_ > _All Customers_.
2. Add new customer, click **Add New Customer**
3. Fill in all required fields and set **Customer Active** to **NO**
4. When complete, click **Save**

### Expected result (*)
The "Welcome to the main website" email is not sent to inactive customers.

### Actual resu

[2021-06-16 08:47] engcom-Echo commented on #32541
Hi @martinshawruroc ,

The total Collection process gets called after any cart update, it collects total for quote object . Can you please help me understand the use case that you are trying to achieve ( by making an intermediate call to TotalCollector) so that I can guide you more with this.

Thanks

[2021-06-16 09:08] engcom-Bravo commented on #30385
Hi @hm-harshit ,

Please let us know if you are still facing this issue.

[2021-06-16 09:09] codingbrains50 commented on #33129
Make all the changes but still getting the same error. Please check the
attached screenshot.

On Wed, Jun 16, 2021 at 12:07 PM Manjunath ***@***.***> wrote:

[2021-06-16 09:27] vandijkstef commented on #32969
Hi @engcom-Echo ,

Not yet. I've been moving houses in the last weeks, hence the delay.
Will have a look at it either tomorrow or saturday

[2021-06-16 09:32] engcom-Hotel commented on #31051
Hi @Scarbous

We need more information in order to reproduce this issue. So, please help us in providing following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2021-06-16 09:54] engcom-Lima commented on #30246
Hi @ravibhalodia,

I tried to reproduce the issue but no luck in Magento v.2.4-develop. When i ran - r.js -o build.js baseUrl=pub/static/frontend/Magento/luma/en_US_tmp dir=pub/static/frontend/Magento/luma/en_US

I got the error - "command not found: r.js"

Can you please provide the reproducible steps in magento 2.4-develop with screenshots or details?

[2021-06-16 09:57] engcom-Bravo commented on #29534
Hi @garihogar ,

Please let us know if you are still facing this issue.

[2021-06-16 10:52] MeeGz commented on #33065
@engcom-Lima this issue has not been confirmed yet

[2021-06-16 10:54] engcom-Alfa commented on #33042
HI @tuyennn
As per the description, I understood like you are switching between the stores, and hence I have followed below steps to reproduce.
Below steps followed as I understood :
1. Created 2 new stores with new URL local.magento.us and local.magento.eu (where I am local.magento.com is being a default one)
2. In the Admin > Dashboard page, Tried to change the scopes from one store to another,

[2021-06-16 10:57] gabrieldagama commented on #30870
Hi @aaronsilber. Thank you for your report.
The issue has been fixed in magento/magento2#30885 by @aaronsilber in 2.4-develop branch
Related commit(s):
 - [fde3fd7bc0964b60f841c9f6f484ba70f836f087](https://github.com/magento/magento2/commit/fde3fd7bc0964b60f841c9f6f484ba70f836f087)
 - [0d79d7d89730cc6ee557fb9893d90f822a3ec6e7](https://github.com/magento/magento2/commit/0d79d7d89730cc6ee557fb9893d9

[2021-06-16 10:57] #30870 closed, assigned to engcom-Delta

[2021-06-16 10:57] gabrieldagama commented on #31920
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#31940 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [240253770cf2c41430d494c17730fe6484cbc18f](https://github.com/magento/magento2/commit/240253770cf2c41430d494c17730fe6484cbc18f)
 - [43ed528974031bf41e8cf94b51566b8e1feb24a5](https://github.com/magento/magento2/commit/43ed528974031bf41e8cf94b51

[2021-06-16 10:57] gabrieldagama commented on #32497
Hi @rustavellyne. Thank you for your report.
The issue has been fixed in magento/magento2#33033 by @engcom-Kilo in 2.4-develop branch
Related commit(s):
 - [be3cb9c2382d4473dcc01d380cfaea25f92c4a1c](https://github.com/magento/magento2/commit/be3cb9c2382d4473dcc01d380cfaea25f92c4a1c)

The fix will be available with the upcoming 2.4.3 release.

[2021-06-16 10:57] #32497 closed, assigned to engcom-Kilo

[2021-06-16 10:57] gabrieldagama commented on #32913
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#33043 by @SilinMykola in 2.4-develop branch
Related commit(s):
 - [f41f4d48891a01e07d948152ffdf793f822169e8](https://github.com/magento/magento2/commit/f41f4d48891a01e07d948152ffdf793f822169e8)
 - [485ef768e6d76f44ba89a32aaf492f9fcee9f6ee](https://github.com/magento/magento2/commit/485ef768e6d76f44ba89a32aaf492f9

[2021-06-16 10:57] #32913 closed, assigned to SilinMykola

[2021-06-16 10:57] gabrieldagama commented on #32952
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32790 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [bac82cc344d01f369c3415cdb7ff308971da3bf3](https://github.com/magento/magento2/commit/bac82cc344d01f369c3415cdb7ff308971da3bf3)
 - [6817e68d6ea4cd4a133720793bb580d1f8a8e477](https://github.com/magento/magento2/commit/6817e68d6ea4cd4a13372

[2021-06-16 10:57] #32952 closed, assigned to ihor-sviziev

[2021-06-16 10:57] gabrieldagama commented on #32619
Hi @bentideswell. Thank you for your report.
The issue has been fixed in magento/magento2#32620 by @bentideswell in 2.4-develop branch
Related commit(s):
 - [a3b124a773061d59fbce5a4efb5cd7b3479f6db0](https://github.com/magento/magento2/commit/a3b124a773061d59fbce5a4efb5cd7b3479f6db0)
 - [e17a3e7fb9b26510a6102a654253bab0c0d0d072](https://github.com/magento/magento2/commit/e17a3e7fb9b26510a6102a6542

[2021-06-16 10:57] #32619 closed, assigned to bentideswell, engcom-Oscar

[2021-06-16 11:12] engcom-Lima commented on #29325
Hi @ericmorand, we analysed your ticket. it seems, it is not an issue. Whenever we do customisations then make sure new variable should be define based on scope and should not overwrite. Hence, we are closing this ticket.

If you have any doubts or query you can feel free to raise the new ticket with reproducible steps and required details.

Thanks for the understanding!

[2021-06-16 11:12] #29325 closed, assigned to engcom-Lima

[2021-06-16 11:25] khrystynastolbova commented on #30600
@magento I am working on this

[2021-06-16 11:25] tuyennn commented on #33042
@engcom-Alfa for sure we are talking about store switching or language switcher from frontend(user interface) not admin-side. You could see in the code line I mentioned above, the number 5 is hard coded as while my store has specific condition which a request response could be more than 5s on loading you will see the error message/
The question is why 5 but not 50 or 500? and when the hash value i

[2021-06-16 11:37] zhartaunik commented on #29347
Hi Rajesh,

Currently I'm unable to tell, because I'm on the vacation this week.

Please contact me next week if you face with any troubles while issue
reproducing.

вт, 15 июн. 2021 г., 13:32 Rajesh Kumar ***@***.***>:

[2021-06-16 11:55] NishaHublit opened #33257 "Magento Backend Not Working"
After Cache Clean my Magento backend not working..
how can I resolve this

[2021-06-16 11:55] rahulbarotk opened #33258 "B2B quick order not working with Gift Card product type"
B2B quick order add to cart throws error when gift card is added.

**Preconditions (*)**
- Magento 2.4.2 EE installed
- B2B modules are installed

**Steps to reproduce (*)**
- Enable Quick order in B2B configuration
- On frontend quick order page add gift card sku in **Enter SKU or Product Name** field
- Then click on Add to Cart

**Expected result (*)**
- It should redirect to cart page with warn

[2021-06-16 12:09] mbissonho commented on #28924
Is there any update on this?

[2021-06-16 12:14] SilinMykola commented on #32590
@magento I am working on this

[2021-06-16 12:18] engcom-Hotel commented on #31833
Hi @Eddcapone

As per the comment made by Viper9x, it seems that your doubt has been clear. I am closing this issue for now. If you still have any doubt related with this issue you can reopen it or create a new ticket in case of any other issue.

[2021-06-16 12:18] #31833 closed, assigned to engcom-Hotel

[2021-06-16 12:18] purvid0204 commented on #30741
Hello @Eddcapone ,

Have you got solution?

[2021-06-16 12:22] mrtuvn commented on #33257
Can you provide more information or fullpage screenshot show error ?
See log in folder magento_root_folder/var/*.log for more futher infor to investigate

[2021-06-16 12:46] heerdt commented on #32590
Hello @SilinMykola, Magento2 EE support already worked on this problem and sent me a solution. Attached the patch to fix this issue.
[MDVA-36713-EE_2.4.2.zip](https://github.com/magento/magento2/files/6663106/MDVA-36713-EE_2.4.2.zip)

[2021-06-16 12:52] SilinMykola commented on #32590
@heerdt Hi! Should I create PR from this patches or you you will do it yourself?

[2021-06-16 12:53] heerdt commented on #32590
hey @SilinMykola leave it to me, will send a MR later today! Thanks!

[2021-06-16 12:54] heerdt commented on #32590
@magento I am working on this

[2021-06-16 12:54] engcom-Lima commented on #32341
Hi @Dutch77 Can't reproduce the issue. I tested Magento ver. dev-2.4-develop. Hence closing this ticket.

Please find the attached Screenshots.
<img width="1292" alt="Screenshot 2021-06-16 at 6 21 50 PM" src="https://user-images.githubusercontent.com/60198022/122222509-f6da8400-cecf-11eb-9a31-6fa9258183fc.png">
<img width="1440" alt="Screenshot 2021-06-16 at 6 21 59 PM" src="https://user-images.gi

[2021-06-16 12:54] #32341 closed, assigned to engcom-Lima

[2021-06-16 12:55] heerdt commented on #32590
@magento I am working on this

[2021-06-16 13:17] engcom-Alfa commented on #31316
Well, Kindly test with the latest Magento version when you will be resuming back on this, and can report a fresh ticket in case of any issues relevant to Magento with all the Preconditions, Detailed steps to reproduce, expected and actual results.
So, I am closing this ticket for now.
Thanks

[2021-06-16 13:17] #31316 closed, assigned to engcom-Alfa

[2021-06-16 13:24] webgility-amazonapi opened #33259 "Rest api is not providing Rush Fee and Oversize fee within get order response"
### Summary (*)

We are downloading order through magento 2 rest API. but we are not getting additional fees within order response.
The additional fees are Rush Fee and Oversize fee

### Examples (*)

We are calling the api v1/orders.
In the response order we are not getting the additional fee those are Rush Fee and Oversize fee

### Proposed solution

These additional field must be downloaded wit

[2021-06-16 13:28] sunilit42 commented on #32978
@magento give me 2.4-develop instance

[2021-06-16 13:58] barryvdh commented on #26119
So why not add a parameter that either accepts height/width like the example in https://github.com/magento/magento2/issues/26119#issuecomment-612107396 or specify the image size from the view.xml

How else should you render images in good formats with PWA/headless?

[2021-06-16 13:59] engcom-Lima commented on #28424
Hi @kemexyz, Issue can't reproduce hence closing this ticket.

Please feel free to raise the new ticket or reopen the ticket if you have any issue

[2021-06-16 13:59] #28424 closed, assigned to engcom-Lima

[2021-06-16 14:11] engcom-November commented on #32769
Hi @ksaltik,
Can you please provide some more information about the ticket or specify steps to reproduce to verify the issue.
Thank you.

[2021-06-16 14:56] magento-engcom-team commented on #30582
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42646` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-16 14:56] engcom-Bravo commented on #33145
I am able to reproduce with the steps given by the Reporter and get the same error as mentioned in the ticket description when the call is made to the method using _applyZeroStoreProductLimitations():

![image](https://user-images.githubusercontent.com/51680745/122242381-e67ed500-cee0-11eb-9f29-29b966e41e38.png)

[2021-06-16 15:41] dudzio12 opened #33261 "Allow to add file attachments to email transport with TransportBuilder"
### Description (*)
There is no good way to add email attachment in Magento 2.2 onwards. There are tons of multiple code gists and micro modules that implement that feature. The worst part is that it's always same code over and over with the usage of `preference` to rewrite core `TransportBuilder` class. That feature should have been implemented years ago, but better late than never. :)

### Expec

[2021-06-16 15:57] hostep commented on #30246
@engcom-Lima: r.js can be downloaded here: https://requirejs.org/docs/download.html#rjs, maybe you should first read the documentation around advanced js bundling and download [the requirements for it](https://devdocs.magento.com/guides/v2.4/performance-best-practices/advanced-js-bundling.html#required-tools)?

[2021-06-16 16:03] dr7oran commented on #33228
a guy checked and told me it is s composer issue
wish anyone can help
both ended has collapsed front end and back end

[2021-06-16 17:34] WilliejanB opened #33263 "The bundle customizable option "FILE" returns empty array"
The bundle customizable option "FILE" returns an empty array after adding a product into the cart. As a result, cart is empty and we get a redirect issue to this product page.

### Preconditions (*)

1. Magento ver. 2.4.2
2. PHP 7.4
3. MySQL ver. 10.2.35-MariaDB
4.

### Steps to reproduce (*)
1. Go to this link: https://www.mirrorengraving.com/laser-engraved-mirrors
2. Click the "Customize and Add

[2021-06-16 17:51] sb-nick commented on #28614
Dovetailing on what jeckojim noted. Recaptcha enabled in checkout and in the API layer are critical along with rate limiting.

Also have fraud controls on with your payment gateway to ensure that the gateway blocks bad transactions as well.

Most importantly and I cannot stress this enough is put in a support ticket with Magento support and loop in your account reps about the severity of the issue

[2021-06-16 19:46] ZIPITRO commented on #32754
@GuiltyNL Indeed we use this also for long! No side effects :-)

[2021-06-16 20:42] OxCom commented on #32144
Any update on the issue?

[2021-06-17 03:09] kcam6690 commented on #33201
is there a way  i can show you what i am going through ?
I can not use my website for what it is needed for

    On Thursday, June 10, 2021, 6:46:31 AM EDT, Manjunath ***@***.***> wrote:

Hi @kcam6690
Tried on Magento 2.4 Develop but it works fine.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-17 04:18] engcom-Delta commented on #32452
Hi @AlldoGroup:

I tried on Magento 2.4. Develop & My SQL , it was not reproducible , i got success message like "DB rollback completed successfully". PFA screenshot for reference.

Followed below steps and observed that DB rollback successfully completed.
1.	Installed Magento 2.4 Develop
2.	Installed apache & my SQL by xampp and db tables created
3.	Run command “bin/magento setup:backup –db” ( in

[2021-06-17 04:26] m2-assistant[bot] opened #33266 "[Issue] Fixed notice if extension image is not found"
This issue is automatically created based on existing pull request: magento/magento2#33260: Fixed notice if extension image is not found

---------
### Description (*)
If you add a vimeo video on product, we get an image without extension and you match this video to another product, you will get the following error: Notice : Undefined index: extension in/vendor/magento/framework/File/Uploader on l

[2021-06-17 04:38] AlldoGroup commented on #32452
Hi @engcom-Delta

We use Maria DB 10.4.18 as our SQL Server, and not MySQL.
If that would make any difference?

https://mariadb.com/kb/en/delimiters/

[2021-06-17 05:10] engcom-Alfa commented on #26880
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-06-17 05:10] #26880 closed, assigned to engcom-Alfa

[2021-06-17 05:43] engcom-Alfa commented on #33153
Hi @yanhaiwen2019
Well, I should be able to reproduce the issue in the latest Magento version _2.4-develop_ in order to accept it and to fix it. Kindly help me with more and more detailed information about like what type of product you are trying to checkout and what is the sequence of product you are following in order to add to the cart etc.
Because as you said, I clicked on the "Proceed to Chec

[2021-06-17 06:18] engcom-Echo commented on #32245
Hi @gianstraf ,

We are closing this issue as there has been no update on the same.

Thanks

[2021-06-17 06:18] #32245 closed, assigned to engcom-Echo

[2021-06-17 06:20] engcom-Echo commented on #32470
Hi @adamlavery ,

We are closing this issue as there has been no update on the same.

Thanks

[2021-06-17 06:20] #32470 closed, assigned to engcom-Echo

[2021-06-17 06:45] engcom-Alfa commented on #31847
Hi @alexsmith2709
Answering to your question:
_where you using the unit price to calculate tax?_ >> In the step number 4 in my [last comment](https://github.com/magento/magento2/issues/31847#issuecomment-860593209)

_As stated above i believe this is where the issue lies. Changing to calculate the tax on unit price, only affects the front end, not the backend_ >> It is affecting both the front and

[2021-06-17 07:08] engcom-Delta commented on #32271
Hi @navarr,
Thanks for replying and confirm the issue once again.

Followed below steps to reproduce the issue on Magento 2.4 Develop.
1.	Log in to Magento admin backend
2.	Go to Sales Orders
3.	Try to rearrange the columns  on UI
4.	Observe that you should be able to rearrange the columns
5.	Press F12 from chrome browser , click on Dock side icon (3 dots) from right hand side
6.	Select Mobile ic

[2021-06-17 07:09] gianstraf opened #33267 "Master/Slave configuration and use of slave connection"
### Preconditions (*)
1. Magento Commerce Edition ver. 2.4.2
2. PHP 7.4.6
3. Master/slave configuration

### Steps to reproduce (*)
1. Add a slave connection with `bin/magento setup:db-schema:add-slave`

[code]

2. Navigate on FE or BE or run a cli command: three different scenariuos

### Expected result (*)

1. In case of CLI command, we expect that an export of products (for example), can work w

[2021-06-17 07:10] magento-engcom-team commented on #32271
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-17 07:10] magento-engcom-team commented on #32271
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-17 07:10] magento-engcom-team commented on #32271
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-17 07:10] magento-engcom-team commented on #32271
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-17 07:10] magento-engcom-team commented on #32271
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-17 07:10] magento-engcom-team commented on #32271
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-17 07:26] engcom-Echo commented on #32236
hi @ioweb-gr ,

Were you able to get the collection query. Let me know or else I will proceed with my analysis.

Thanks

[2021-06-17 07:32] E-motive-Georgi commented on #33239
Hello, could you please explain how to log in the following slack
channel: (https://opensource.magento.com/slack#general)
I have slack but when I click on this link it shows me the following
blank page:
what is the workspace of the slack channel in order to log in there?
Thanks, I would be really grateful if we can chat there!

Best Regards,

Georgi Georgiev
Inventory Specialist

------ Original M

[2021-06-17 07:46] mrtuvn commented on #33239
try this one
https://magentocommeng.slack.com/

[2021-06-17 07:54] yanhaiwen2019 commented on #33153
Hi:
    I first add a single attribute product, and finally add a multi-attribute product, and click the "proceed to checkout" button. You must follow this order to make an error,
You can try it directly on this website (www.ineffablegoods.com).
________________________________
发件人: Manjunath ***@***.***>
发送时间: 2021年6月17日 13:43
收件人: magento/magento2 ***@***.***>
抄送: yanhaiwen2019 ***@***.***>; Men

[2021-06-17 07:58] yanhaiwen2019 commented on #33153
Hi
   On the website you gave, this problem does not exist. The problematic version is Magento 2.4.2-p1, and the previous version did not have this problem.
________________________________
发件人: Manjunath ***@***.***>
发送时间: 2021年6月17日 13:43
收件人: magento/magento2 ***@***.***>
抄送: yanhaiwen2019 ***@***.***>; Mention ***@***.***>
主题: Re: [magento/magento2] Magento 2.4.2-p1 multi-attribute products an

[2021-06-17 08:01] JithinJay opened #33268 "Klarna payment not working in 2.4.2 as regionCode is missing in checkout."
**Preconditions**
1 Magneto 2.4.2.
2 Fresh Magneto installed without any custom plugins.
3 Klarna modules installed  :
- klarna/m2-payments                                                8.2.1
- klarna/module-core                                                  6.1.1
- klarna/module-kp                                                     7.2.1
- klarna/module-kp-graph-ql

[2021-06-17 08:02] JithinJay commented on #33268
@magento give me 2.4-develop instance

[2021-06-17 08:12] ioweb-gr commented on #32236
Unfortunately I wasn't able due to the customizations in place on the website to avoid all MSI issues :(

[2021-06-17 08:14] JithinJay commented on #33268
There is no klarna payment in this Instance so I was not able to replicet the issue there.

[2021-06-17 08:14] ioweb-gr commented on #32236
I do think that the code

[code]

Is pretty self-evident though that the conditions are processed as AND and not as an OR clause though if you read the code segment.

Because it's taking all filters in the groups and adding them with addFieldToFilter

This same use case has been refactored many times in the past issues in other areas.

[2021-06-17 08:20] t-heuser opened #33269 "Add Swatch Data to Aggregation Options"
*As a developer I want to be able to receive the swatch data for an AggregationOption so that I can show the customer images/colors for filters.*

The type "AggregationOption" currently only returns the value and a label. I want it to also to return" swatch_data" with the type "SwatchData".
Previously it was possible to reveive this data when searching for products as the type "Products" has the f

[2021-06-17 08:26] alexsmith2709 commented on #31847
@engcom-Alfa you dont mention anything about using unit price to calculate the tax, the calculations used look to be based on row total. In Stores > Configuration > Sales > Tax, "Tax Calculation Method Based On" should be set to "Unit Price".
For example using unit price it should be:
£6.67 * 1.2 (for UK VAT) = £8.004, magento rounds this to £8.00 * 2 for number of products  = £16.00. This is how

[2021-06-17 08:29] engcom-Alfa commented on #32631
Hi @webtekindo

Well I re tried to reproduce in Magento 2.4-develop version. Below are the steps I followed.

1. Set the indexing to Index by Schedule and noted the "cataloginventory_stock_cl" records count and it was 4.
2. Created a new simple product "xyz" and cross checked the "cataloginventory_stock_cl" records count, and that was updated to 8 records. (Re indexing was not yet done).
3. Later

[2021-06-17 08:30] engcom-Echo commented on #32586
Hi @timpea ,

We are unable to re-produce the issue based, Please find the below screenshot where list-inconsistencies have successfully executed.
<img width="512" alt="Screenshot 2021-06-17 at 1 57 00 PM" src="https://user-images.githubusercontent.com/51681435/122360586-204ceb80-cf74-11eb-915d-9c5aed7b1d73.png">

As per your description , it looks like the problem occurred during Step 2, also can

[2021-06-17 08:54] engcom-Golf commented on #33252
@adorobeleza This is not an issue due to Magento 2.4.2. It seems something wrong with your Codebase. I would suggest you to check error log as well. Are you getting **email.php** related console error on Login Screen or Login Action Screen.

I opened the link you shared for Login Screen, and have not found **email.php** related Console error.
![image](https://user-images.githubusercontent.com/5168

[2021-06-17 09:07] MarianNapi opened #33270 "After a validation error of a configurable product the variant table is not functional anymore"
### Preconditions (*)

1. Magento version 2.4.2
2. PHP 7.4

### Steps to reproduce (*)

1. Create new configurable product
2. add several child products
3. force the validator to fail
4. try to remove one child product

### Expected result (*)

1. the chosen child should be removed from the variation list

### Actual result (*)

1. every child get's removed

---
Please provide [Severity](https://d

[2021-06-17 09:09] MarianNapi commented on #33270
@magento give me 2.4-develop instance

[2021-06-17 09:12] engcom-Echo commented on #33099
hi @gabrieldagama ,

Yes, the user does get stuck in this page if he selects Visual Swatch as Attribute Type , and does not fills the Admin label ,no error message pop's up saying that 'Admin is required' , neither Admin label is mentioned as required field .If we check the response on network only then we can see api is throwing error stating 'Admin is required' . A happy flow would be to also fi

[2021-06-17 09:15] MarianNapi opened #33271 "thumbnail images aren't shown anymore after adding a new variation to an existing configurable product"
### Preconditions (*)

1. Magento version 2.4.2
2. PHP 7.4

### Steps to reproduce (*)

1. Create new configurable product
2. add several child products with thumbnail images
3. save the configurable product
4. add a new variation

### Expected result (*)

1. the thumbnail images of the old variations should be shown

### Actual result (*)

1. no thumbnail is shown
2. old image does NOT get replac