[2021-01-21 14:30] jtalel commented on #30677
I think this is still important. This has not been implemented yet as to what I know.

Is there a way I can follow ticket MC-38955 to see if this is being moving forward? @sivaschenko

[2021-01-21 14:36] vlmed commented on #31781
@magento I am working on this

[2021-01-21 14:39] madihamallick opened #31796 "Admin page in Magento not Loading"
### Summary (*)
cms and js not getting loaded in Admin page of a website in Magento of ver 2.1.3 and it is only showing html text.

### Examples (*)
https://movantechonline.com/admin/admin/index/index/key/91d10573d4aa03ab149f3ba8b5509d447731a94b51cff6284b4d055c0509c007/
![Capture (1)](https://user-images.githubusercontent.com/70858557/105365734-96972d00-5c24-11eb-90d0-55596f3af5c4.PNG)

### Propos

[2021-01-21 14:57] sivaschenko commented on #30677
@jtalel, unfortunately, there is no way to follow the internal ticket progress, except when the internal ticket is resolved or closed - this issue should be closed with appropriate comment by synchronization bot as well.

Considering the current priority of this issue I wouldn't expect it to be resolved soon.

I will add this issue to the agenda of our [public triage meeting](https://opensource.ma

[2021-01-21 15:16] dthampy commented on #31435
Since the screenshots of the errors mentioned for each of the issues in the description got lost while issue got migrated from jira , re-attaching them again below , just for reference.
<img width="1327" alt="country_id-GiftRegistryError" src="https://user-images.githubusercontent.com/19805283/105370399-2a3b1000-5bc9-11eb-903d-20f2c6884415.png">
<img width="896" alt="createGiftRegistry-empty creat

[2021-01-21 15:17] dthampy commented on #31435
@eduard13 , are there any updates on this one?  Thanks.

[2021-01-21 15:18] vlmed commented on #31781
@magento run all tests

[2021-01-21 15:28] vlmed commented on #31778
@magento I am working on this

[2021-01-21 15:42] diogoceribelli opened #31798 "Issue with one use limited coupon"
Magento 2.3.5-p1

### Steps to reproduce (*)
1. Administrator creates a new discount coupon, limited to one use;
2. Two or more users insert products into their shopping cart and apply the discount using the coupon;
3. Two or more users click on checkout at the same time.

### Expected result (*)
1. Even if pressing at the same time, some order must have been placed first;
2. This order will recei

[2021-01-21 15:50] PascalBrouwers opened #31799 "Product Views Report is incorrect when FPC / Varnish is enabled"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Enable Reports in Configuration -> General -> Reports.
2. Have FPC / Varnish cache cleared
3. visit product "A"
4. look in tabel `report_viewed_product_index` and see a record for product "A"
5. refresh the page (or better yet open a incognito tab to go to the page)

### Expected result (*)

1. Should have 2 records in t

[2021-01-21 15:52] PascalBrouwers commented on #31799
Yes, issue is reproducible on vanilla Magento.

[2021-01-21 16:00] nathanjosiah commented on #31734
Thank you for your submission!

The official relevant Q&A for this is:

Magento recommends all admin users to have 2FA enabled when loggin into their admin account. For webstores running on Magento 2.4 and higher, 2FA is enabled by default for every user.

Magento does not and will not provide an official mechanism to disable 2FA. If you do so it is at your own risk.

[2021-01-21 16:00] #31734 closed, assigned to nobody

[2021-01-21 16:02] magento-engcom-team commented on #31734
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-21 16:03] eduard13 commented on #31435
@dthampy thank you for the screenshots, much clear now.
I've finally got to this issue and investigating these problems. Will keep you posted.

[2021-01-21 16:22] barryvdh commented on #30853
@angelomaragna Thanks, I will try this patch. The solution in https://github.com/magento/magento2/pull/31556 does not work for us unfortunately.
The issue is indeed also present with other values then 100%, eg we had weird results with 99% also.

[2021-01-21 16:22] #31657 closed, assigned to krishprakash

[2021-01-21 16:39] zakdma commented on #22662
Need to reimplement

[2021-01-21 16:46] senders commented on #31541
@achatpc
Have they figured out the problem?
I have exactly the same problem.

[2021-01-21 16:47] m2-assistant[bot] opened #31801 "[Issue] Removed CliIndexerReindexActionGroup action group usage for Sales module"
This issue is automatically created based on existing pull request: magento/magento2#31788: Removed CliIndexerReindexActionGroup action group usage for Sales module

---------
### Description
Remove CliIndexerReindexActionGroup action group usage from tests to improve execution time for Sales, SalesRule, Search, Store and Swatches modules.

[2021-01-21 16:57] oviliz commented on #27447
I think the "Issue: ready for confirmation" together with "feature request" labels are not appropriate. This is a feature request.

[2021-01-21 17:39] in-session commented on #29797
The problem still exists even on Magento 2.4.1
Mentioned fix does not solve the problem: https://github.com/magento/magento2/pull/29814/files
The cron is running so far, even starting it via SSH did not help.

![Ashampoo_Snap_Donnerstag, 21  Januar 2021_18h26m49s_003_](https://user-images.githubusercontent.com/16542619/105387951-5df05700-5c16-11eb-9e64-0b11875e3239.png)

[2021-01-21 17:50] eduard13 commented on #31435
@dthampy the mentioned issues were fixed in the following commit https://github.com/magento/partners-magento2ee/pull/280/commits/462ef1a5588028a38e2e36aa5aa04c483d97e18d. Could you please check and let me know if I missed anything.
Thank you.

[2021-01-21 17:55] dthampy commented on #31435
Sure, Thank you for the quick turnaround. I will check and sure will let you know.

[2021-01-21 18:38] dwightc commented on #26482
I would also like to add some additional data to this issue. I can confirm that this happens with all shipping carriers on vanilla Magento 2.3.6.

I am managing a store that has USPS, UPS, FedEx, and DHL configured for shipping rates. Merely visiting the shopping cart page can cause several identical calls to each shipping API to be made.

Deleting an item from the cart while on the shopping cart

[2021-01-21 19:45] engcom-Delta commented on #31428
Hi @rubenpurple  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**

- Enable `error_reporting` in app/bootstrap.php:

[code]

- Add code into config.php:
[code]

- Run `bin/magento app:config:import`

**Result:**
:heavy_check_mark: Import is finished without errors
![image](https://user-images.githubusercontent.com/5

[2021-01-21 19:51] sprankhub commented on #26210
@sivaschenko @sidolov any news on this? Happy to send a PR and test this, but some feedback from you guys would be nice. Although I am not sure if it is possible to send a PR, because the `composer.json` seems to be generated by a secret repository... Thanks!

[2021-01-21 20:24] hostep commented on #11175
Hi @maksymz, feel free to open a pull request with your suggest fix. If that's not possible somehow, I'd recommend you to open a new issue instead of commenting on an old closed one which is considered fixed. Thanks! 🙂

[2021-01-21 22:36] dthampy commented on #31435
I want to point out couple of issues that were found:

1. **region is always retuning null in the CreateGiftRegistryOutput.shipping_address.region**. See the below screenshot.
<img width="1001" alt="createGiftRegistryOuput_address_Null_region" src="https://user-images.githubusercontent.com/19805283/105416944-7b1a2b00-5c00-11eb-9021-ee137ef798db.png">

2.  When you create a gift registry with dynam

[2021-01-22 00:34] dthampy commented on #31435
One more issue:
If you do not set any of the  optional giftregistry fields like "event_name", "privacy_settings', and or "status" for "updateGiftRegistry" mutation, "Undefined index error" for that field is returned.

Query below:

`mutation{
  updateGiftRegistry
  (
    giftRegistryUid:"Iuao2oaaPISktOouPlFBzUHs3RHv5Or4"
    giftRegistry:{
      # event_name:"16th birthday"
        message:"update

[2021-01-22 01:28] mauragcyrus opened #31803 "[GraphQL] UpdateGiftRegistry mutation throws error when optional input fields are not set"
### Preconditions (*)
Pre-req: Create a gift registry for a customer

run the updateGiftRegistry mutation as below and make sure to NOT set the optional giftregistry fields like "event_name", "privacy_settings', and or "status".

mutation{
  updateGiftRegistry
  (
    giftRegistryUid:"Iuao2oaaPISktOouPlFBzUHs3RHv5Or4"
    giftRegistry:{
      # event_name:"16th birthday"
        message:"update bi

[2021-01-22 06:36] konarshankar07 commented on #31783
Hello @sivaschenko  @bohdan-harniuk
I have been working on this issue and I have already upgraded in https://github.com/magento/magento2/pull/31383 PR
Thanks

[2021-01-22 06:53] bohdan-harniuk commented on #31783
Hello, @konarshankar07
Please, assign issues on yourself if you work on them.
Thanks

[2021-01-22 06:56] yvaliya commented on #31190
@magento You can close this issue as it's invalid

[2021-01-22 07:17] madihamallick commented on #31796
@magento give me 2.4-develop instance

[2021-01-22 07:20] konarshankar07 commented on #31783
Thanks @bohdan-harniuk
@magento I am working on this

[2021-01-22 07:35] engcom-Alfa commented on #31786
@magento give me 2.4-develop instance

[2021-01-22 07:45] ram10raj commented on #24350
@m2-community-projec Any update on above i'm also trying with custom fieldmapper my mapper class is not calling

[2021-01-22 07:45] ram10raj commented on #24350
@mariuscris  any update

[2021-01-22 08:09] magento-engcom-team commented on #31799
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40581` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-22 08:42] mariuscris commented on #24350
@ram10raj I not involved in this issue. Maybe you want to address it to another Marius :)

[2021-01-22 08:46] EspertoMagento commented on #30612
yes but my problem was that I have php7.4 and the message appeared the same. Today it works correctly.
I don't know. Thanks

[2021-01-22 08:58] engcom-Delta commented on #28556
@denissio777 Are you able to reproduce this issue on the Magento instance (command for deploy instance [here](https://github.com/magento/magento2/issues/28556#issuecomment-639472733)) ?

[2021-01-22 09:00] engcom-Delta commented on #31298
@@bojandavkov  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-01-22 09:00] #31298 closed, assigned to engcom-Delta

[2021-01-22 09:02] engcom-Delta commented on #29777
@cezard we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-01-22 09:02] #29777 closed, assigned to engcom-Delta

[2021-01-22 09:07] DanielIconate commented on #31190
@yvaliya

Hi, Thank you for your reply, i choosed the method as free shipping method but it in the frontend it shows a slightly different one so maybe that's the case.

example: in the backend, you can only choose "Domestic express 12:00" but in the frontend it shows "Domestic express"

![Bildschirmfoto 2021-01-22 um 09 57 16](https://user-images.githubusercontent.com/62563245/105470208-8e2d0980-5

[2021-01-22 09:08] esimov commented on #31758
Unfortunately this is not working for me. I have tried with an earlier version 2.3.2 where is still possible to use MySQL as a search engine. Using MySQL the sorting functionality is working correctly, not the case with Elasticsearch.

**MySQL**

![image](https://user-images.githubusercontent.com/883386/105470080-c8020e00-5ca1-11eb-86a0-377dfdd520fe.png)

![image](https://user-images.githubusercon

[2021-01-22 09:28] kilis commented on #26809
@kandy please check @ilnytskyi issue [here](https://github.com/magento/magento2/issues/25987)
Its exact the same problem mentioned by @ilnytskyi

[2021-01-22 09:36] engcom-Alfa commented on #31796
Hi @madihamallick . Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com/) for general discuss about this problem

[2021-01-22 09:36] #31796 closed, assigned to engcom-Alfa

[2021-01-22 09:44] engcom-Alfa commented on #31092
@DmitryFurs  The issue is reproducible on a fresh 2.4-develop.

![2021-01-21_16-21](https://user-images.githubusercontent.com/51679138/105474560-08b05600-5ca7-11eb-888a-adfd66f1588d.png)
If we change the order so that the <block is the last one, everything works as expected.
Thanks!

[2021-01-22 09:44] magento-engcom-team commented on #31092
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40583` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-22 10:01] engcom-Echo commented on #24055
Hi, @Crikey-Mikey. Unfortunately, I can't reproduce this issue.
![Peek 2021-01-22 11-57](https://user-images.githubusercontent.com/51681435/105476570-79587200-5ca9-11eb-89cf-d8e2d68a1a2b.gif)
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue o

[2021-01-22 10:01] #24055 closed, assigned to nobody

[2021-01-22 10:03] magento-engcom-team commented on #24055
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-22 10:28] gabrieldagama commented on #25299
This issue was reviewed by the internal product owner and I've transformed this issue on a feature request. The description was also updated to match the internal discussion.

[2021-01-22 10:33] JKetelaar commented on #31541
Same problem here...

[2021-01-22 10:35] peteandmad opened #31806 "Delete address by REST APIs with customer token not working"
### Preconditions (*)

1. Magento 2 REST APIs

### Steps to reproduce (*)

1. unable to delete address with customer token
2. DELETE http://{base url}/rest/V1/addresses/{18} with auth token
3. (with admin token it work fine)

### Expected result (*)

1. Selected address should be deleted from list

### Actual result (*)

1. 401 Unauthorized http://{base url}/rest/V1/addresses/18
{"message":"Consum

[2021-01-22 10:39] sushant2020 opened #31807 "Order is made and payment is done successfully but did not get an order notification neither can see this new order in the admin on the website"
### Preconditions (*)

1. Order is made and payment is done successfully but did not get an order
notification neither  can see this new order in the admin on the website.
2. OrderID  only exists in table hsf2_quote

But not there in hsf2_sales_invoice_grid, hsf2_sales_order, hsf2_sales_order_grid

### Expected result (*)

Order details should be shown in Magento admin panel. There should be order

[2021-01-22 10:46] niclashoyer commented on #25835
nothing to add, this is the correct way

[2021-01-22 10:53] engcom-Alfa commented on #31758
@magento give me 2.4-develop instance

[2021-01-22 10:58] TheRealHunzik commented on #31807
nearly Same Like #25708

[2021-01-22 11:16] achatpc commented on #31541
Hello all.

In my side issue was related with mirasvit seo extension.

I can solve it with changement in:

/var/www/html/vendor/magento/module-url-rewrite/Model/ResourceModel/UrlRewriteCollection.php :
$this->addFieldToFilter ('main_table.store_id', ['in' => $store]);

If you need i can send détails of file change.

[2021-01-22 11:17] JKetelaar commented on #31541
I dug into the problem and in my case, it's related to `amasty/module-fpc-warmer`.
If you disable the option "Auto-update Cache upon the Product Changes" everything seems to work again.

Please submit this issue to Amasty yourself as well, so they can dig into it instead of always asking for SSH access... They say they haven't had this issue yet...

[2021-01-22 11:22] achatpc commented on #31541
I use also amasty/module-fpc-warmer
Thank you for information. I can check it on my side.
Buy my issue wass solved with change in this file:

/var/www/html/vendor/magento/module-url-rewrite/Model/ResourceModel/UrlRewriteCollection.php :
$this->addFieldToFilter ('main_table.store_id', ['in' => $store]);

[2021-01-22 11:23] JKetelaar commented on #31541
That fix indeed seems to fix this issue where modules use the `addStoreFilter` function. Bad code from Magento's side... Good call @achatpc!

[2021-01-22 11:52] engcom-Alfa commented on #31758
@esimov On a 2.4-develop instance products sort by position works as expected (Elasticsearch). Looks like the problem has already been fixed.

**Actual Result:** :heavy_check_mark:
![2021-01-22_13-43](https://user-images.githubusercontent.com/51679138/105487518-e9222900-5cb8-11eb-8f95-2fa78aa28173.png)
![Screenshot from 2021-01-22 13-40-56](https://user-images.githubusercontent.com/51679138/105487

[2021-01-22 11:53] eduard13 commented on #31435
Hi @dthampy please find below my comments regarding the reported issues:
1. Region is always retuning null in the CreateGiftRegistryOutput.shipping_address.region - Should be fixed now ✅
2. This `role` attribute is specific to the registrant. So you should use it within registrant's dynamic_attributes.
[code]
3. ⏲️ In progress
4. One more issue: This is from "UpdateGiftRegistry" mutation - Should

[2021-01-22 12:23] hostep commented on #26809
@kilis: before people put more time in this, have you checked/tried [this comment](https://github.com/magento/magento2/pull/28007#issuecomment-764438546)?

[2021-01-22 12:27] ihor-sviziev commented on #31536
@f1-outsourcing, will you be able to update the issue according to the issue-reporting template?

[2021-01-22 13:53] metadan commented on #31428
I have this same issue whilst doing a site upgrade from 2.3.5 to 2.4

[2021-01-22 14:07] #18392 closed, assigned to engcom-Bravo

[2021-01-22 14:12] engcom-Bravo commented on #31554
We are closing this issue due to inactivity. Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2021-01-22 14:12] #31554 closed, assigned to engcom-Bravo

[2021-01-22 14:43] dthampy commented on #31435
Thank you @eduard13 , for clarifying some of the issues and fixing .  This should clear up any confusion when it comes to documentation. Really appreciate the quick response.

[2021-01-22 14:57] engcom-Bravo commented on #31806
Hello @peteandmad

Thank you for your report.

This is actually the expected behavior because the Customer token CANNOT access customerAddressRepositoryV1
Admin has access to delete the Customers address

We have to close this issue. Please feel free to comment or create new tickets according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2021-01-22 14:57] #31806 closed, assigned to engcom-Bravo

[2021-01-22 15:38] mauragcyrus commented on #31803
This will be fixed in the scope of another issue and PR.

[2021-01-22 15:38] #31803 closed, assigned to eduard13

[2021-01-22 16:05] msyhr commented on #26172
@magento-engcom-team also interested

[2021-01-22 16:12] ajijshekh123 commented on #31798
@magento give me 2.4-develop instance

[2021-01-22 18:04] perfpcs opened #31811 "Quantity per Source Column breaks Saved Views in Product Grid"
### Preconditions (*)

In the latest Magento 2.4.1 ythere is a bug where if you enable in the grid the column "Quantity per Source" and then enable this column and save it in any views, those views are never recoverable. Clicking on your saved view will bring a random assortment of columns and not anything like how you saved them.

### Steps to reproduce (*)

Our Developers did the following to de

[2021-01-22 18:13] o-iegorov commented on #29945
Internal team start working in the issue

[2021-01-22 20:30] PedroChagasGuerra opened #31812 "Category filter IN doesn't work in graphQL."
Steps to reproduce:
Create 2 categories, and add some products into.
Try to search with graphql for products filtering by category and put 2 categorys.

### Preconditions (*)
1. Sample data installed
2. Graphql

### Steps to reproduce (*)
1. Using this query try to search for your products:
`query {
  products(filter: { category_id: { in: ["ID", "ID"] } }) {
    total_count
    items {
      sku

[2021-01-22 21:00] engcom-Alfa commented on #31786
### Case 1.
 Check on version **`Magento 2.4-develop`**

**Manual testing scenario:**
1. Create customer with different default billing and default shipping address (2 different addresses in total);
_For example:_
![Screenshot from 2021-01-22 22-16-02](https://user-images.githubusercontent.com/51679138/105540798-738d7b80-5cff-11eb-8abe-5b1d3c32ff9f.png)
2. Go to Admin -> Sales -> Orders -> Create

[2021-01-22 21:13] dthampy commented on #31435
@eduard13  **One quick update on testing with the latest changes:**
When you run `UpdateGiftRegistry` mutation with shipping address and only set one of the optional fields, let's say  eithere"city" or "phone number", the result returns error saying that you have to set "firstname", and "lastname",  and "telephone", and "street" and "country_id " is required.

See the screenshot for better referen

[2021-01-23 00:59] scottsb commented on #21447
I do not have time to verify at the moment that this is still valid in 2.4; however, this is an important issue for WCAG compliance, so I don't want it to be closed automatically.

[2021-01-23 07:53] sodhancha commented on #31145
@rvitaliy **Master->Slave** concept is fundamentally different to **Writer->Reader** Configuration.
I dont think @magento-devops has any support for **Writer->Reader** type of Configuration.

[2021-01-23 13:51] kennylawrence opened #31813 "with template hints displayed, nav sections are set to display:none"
### Preconditions (*)

1. Magento version 2.3.6
2. Template hints enabled using /?templatehints=hints configured in admin

### Steps to reproduce (*)
1. Go to https://website.com/?templatehints=hints
2. Observe that top.menu is not displayed
3. Open code inspector and locate : <div> with id="store.menu", then look at it's child <div> and see that display:none;
4. Inspect styles-l.css and observe t

[2021-01-23 14:21] jorgb90 opened #31814 "Message: Item (Magento\Customer\Model\Customer\Interceptor) with the same ID "6827" already exists"
### Preconditions (*)
1. Magento 2.4.1

### Steps to reproduce (*)
1. Imported customer data with Magento tool from Magento 1 to Magento 2
2. Visit customer overview in new install Magento 2

### Expected result (*)
1. No webapi error

### Actual result (*)
1. Critical: Report ID: webapi-600ad6e880167; Message: Item (Magento\Customer\Model\Customer\Interceptor) with the same ID "6827" already exis

[2021-01-23 15:16] rvitaliy commented on #31145
@sodhancha yes, without results.

[2021-01-23 16:30] TheZyppi commented on #28067
Sorry do i miss understood everything here? Is it true that product export doesn't work since version 2.3.5 ?
And no one think this is a major bug?!

[2021-01-23 19:28] gabrieldagama commented on #31521
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31487 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [815ef7617724552ef795ccaac5bdf50b75933dae](https://github.com/magento/magento2/commit/815ef7617724552ef795ccaac5bdf50b75933dae)

The fix will be available with the upcoming 2.4.3 release.

[2021-01-23 19:28] #31521 closed, assigned to AnnaAPak

[2021-01-23 19:28] gabrieldagama commented on #31522
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31458 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [3bc048d8528eff0993999c584725a59e4c21a12a](https://github.com/magento/magento2/commit/3bc048d8528eff0993999c584725a59e4c21a12a)
 - [5488c9df429c506e733f085976f0391b1bc96dd9](https://github.com/magento/magento2/commit/5488c9df429c506e733f08597

[2021-01-23 19:28] #31522 closed, assigned to AnnaAPak

[2021-01-23 19:28] gabrieldagama commented on #31441
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31418 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [6ef6f5789dcfa43b9507bfd64070dbb96f09f2f4](https://github.com/magento/magento2/commit/6ef6f5789dcfa43b9507bfd64070dbb96f09f2f4)
 - [fa400a1a49275348992a0e975892bf442c386728](https://github.com/magento/magento2/commit/fa400a1a49275348992a0e975

[2021-01-23 19:28] #31441 closed, assigned to AnnaAPak

[2021-01-23 19:28] gabrieldagama commented on #31251
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31240 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [edab7db4816e971a8cdf43c8704f97765e12b49d](https://github.com/magento/magento2/commit/edab7db4816e971a8cdf43c8704f97765e12b49d)
 - [e93ac14f541dcf01585453c7921d68396be63e03](https://github.com/magento/magento2/commit/e93ac14f541dcf01585453c79

[2021-01-23 19:28] #31251 closed, assigned to AnnaAPak

[2021-01-23 19:29] magento-engcom-team commented on #31522
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-24 07:06] yvaliya commented on #31190
@DanielIconate "Domestic express 12:00" and "Domestic express" aren't the same methods. Please check the DHL config and set "Domestic express" as a free shipping method or share your full DHL configuration snapshots so that I can help.

[2021-01-24 09:49] achatpc commented on #31541
I confirm that issue is linked with amasty/module-fpc-warmer.
If you disable the option "Auto-update Cache upon the Product Changes" everything seems to work again without any change in UrlRewriteCollection.php

[2021-01-24 09:57] gabrieldagama commented on #31326
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31321 by @vovayatsyuk in 2.4-develop branch
Related commit(s):
 - [e5444ad190e86c06855006518fb9b32486ca2d0a](https://github.com/magento/magento2/commit/e5444ad190e86c06855006518fb9b32486ca2d0a)
 - [01f31854e750178280ec7b8ae92844e01e5204f9](https://github.com/magento/magento2/commit/01f31854e750178280ec7b

[2021-01-24 09:57] #31326 closed, assigned to vovayatsyuk

[2021-01-24 09:57] gabrieldagama commented on #31624
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31603 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [5d84e2a8e9ebe9e39b3a7f0a88f583758ff1ce30](https://github.com/magento/magento2/commit/5d84e2a8e9ebe9e39b3a7f0a88f583758ff1ce30)
 - [d7660168189332ac95e7390efda65eebb07f6d2e](https://github.com/magento/magento2/commit/d7660168189332ac95e7390ef

[2021-01-24 09:57] #31624 closed, assigned to AnnaAPak

[2021-01-24 09:57] gabrieldagama commented on #31626
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31601 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [0693f46deb01d05c17c1df4e7ddb4e23e02edd7f](https://github.com/magento/magento2/commit/0693f46deb01d05c17c1df4e7ddb4e23e02edd7f)

The fix will be available with the upcoming 2.4.3 release.

[2021-01-24 09:57] #31626 closed, assigned to AnnaAPak

[2021-01-24 09:57] gabrieldagama commented on #31403
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31394 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [cfa15e19f1d063e25b841178e33afe77606c5188](https://github.com/magento/magento2/commit/cfa15e19f1d063e25b841178e33afe77606c5188)

The fix will be available with the upcoming 2.4.3 release.

[2021-01-24 09:57] #31403 closed, assigned to AnnaAPak

[2021-01-24 09:58] magento-engcom-team commented on #31326
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-24 10:00] esimov commented on #31758
This means that it will be fixed on the next stable release which will be v2.4.2?

[2021-01-24 10:50] sergeynezbritskiy commented on #31777
@magento I am working on this

[2021-01-24 12:14] #31188 closed, assigned to saphaljha

[2021-01-24 12:14] #31248 closed, assigned to AnnaAPak

[2021-01-24 12:14] #31042 closed, assigned to aapokiiso

[2021-01-24 12:14] #21853 closed, assigned to nikunjkotecha

[2021-01-24 12:32] Leland commented on #27447
Here's a demo: https://crates.meilisearch.com/

This looks like a really powerful tool

[2021-01-24 12:52] magentoexpert opened #31816 "Magento 2.4.1 logo size will not resize from admin"
### Preconditions (*)

1. Magento 2.4.1
2.

### Steps to reproduce (*)

1. Install Magento software using composer
2. Install Magento 2.4.1 using composer
3. Install sample date using composer

### Expected result (*)

1. Go to Magento admin
2. Content / Configuration
3. Edit Default Website/Store/Store front them name
4. Header
5. Upload logo 371x65
6. Logo width 371
7. Logo height 65
8. Save
9.

[2021-01-24 14:01] qsolutions-pl commented on #19710
I believe this issue is related on to `apache` , not nginx
and I think this is a solutions
https://github.com/magento/magento2/pull/31817 - this only works if you point `DocumentRoot`  to `pub/` folder

[2021-01-24 14:12] Stepa4man commented on #24087
Hi @aleromano89

I'm closing this issue because it's not an issue.

If you still think it's an issue, please, provide all files that you implemented.
What I can see from the description and the error message is that you didn't create any component but try to request its template. I'm not aware that it should work as you did it. If you are sure it should -> please provide some link to documentation

[2021-01-24 14:12] #24087 closed, assigned to nobody

[2021-01-24 14:14] magento-engcom-team commented on #24087
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-24 14:44] sameh30185 commented on #8777
Any one get solution on this issue i have faced this issue on magento clould 2.4 too with city drop down module , but when disble this module it is working fine

[2021-01-24 15:47] magentoexpert commented on #31816
Please note that the folder structure on Magento 2.4.1 installed with composer is completely different.
ALL the proposals put forward on the forum refer to obsolete folder structure /app/design/frontend/magento
This is empty
The new structure includes /pub folder where most files are found
I can work out where the design templates and css are for the frontend and for admin

[2021-01-24 15:48] magentoexpert opened #31818 "Install Magento 2.4.1 on Centos 8"
### Summary (*)

### Examples (*)
The Installation Guide on the Magento website is misleading and in many respects plainly wrong because it disregards installing Magento 2.4.1 on a Linux server running Plesk and Centos 8.
You cannot create a "Magento User" and assign the user to the "apache" group or assign "root" privileges
Plesk does not allow this.

### Proposed solution

Plesk creates a "Syste

[2021-01-24 16:00] magentoexpert commented on #31818
I have tried to edit the Installation Guide through Github but the changes have not propogated

[2021-01-24 16:17] magentoexpert commented on #30377
This is not a solution and it does not work with Magento 2.4.1 installed with composer.  The folder structure is completely different
The /app/design/frontend/Magento is empty and obsolete
From Admin / Content/Configuration/<default theme>/head  you can set the width and height of the logo but this is not reflected on the front end.
Creating the .xml file as suggested above  has no effect whatsoev

[2021-01-24 16:18] qsolutions-pl commented on #20478
@larsroettig any update?

[2021-01-24 16:19] qsolutions-pl commented on #30720
has anyone confirmed the issue?

[2021-01-24 16:23] magentoexpert commented on #29721
This is not a fix for Magento 2.4.1 installed with composer. The new folder structure is completely different which includes /pub
The folder structure   /app/design/frontend/Magento/  referred to above is empty and obsolete

[2021-01-24 16:24] larsroettig commented on #20478
Hello, I have been dealing with PWA Repo since last year. I think we have found a solution for us, but I am not sure if the problem still exists in 2.4.  I don't know which project we had the same problem with and how we solved it, unfortunately there is hardly any possibility to find something in the many projects. Also I am out here unfortunately can not help

[2021-01-24 16:25] magentoexpert commented on #25042
This is not a solution for Magento 2.4.1 installed with composer
The new folder structure is completely different and includes /pub
The folder structure /app/design/frontend/Magento is empty and obsolete

[2021-01-24 18:26] stefanskotte commented on #16101
I just want to chime in here with my two cents - I was getting the same problems, but it was related to not specifying that I was using a guest to checkout:

[code]
ref: https://magento.stackexchange.com/questions/248637/how-to-create-guest-order-programmatically-for-guest-user

Maybe this helps someone :)

[2021-01-24 18:47] cyildirim commented on #25617
Bug is producable on a magento (2.4-develop) environment with a mail server.
![image](https://user-images.githubusercontent.com/1422426/105640156-82099d80-5e8d-11eb-9e7b-5d8c4d7379ac.png)

please reopen the issue. FYI @magento @arnoudhgz

[2021-01-24 19:24] sergeynezbritskiy commented on #31777
Currently updating this dependency is impossible due to magento2-functional-testing-framework which locks some dependencies.
Actually it locks ": "allure-framework/allure-php-api" at version "1.1.8", and this version of allure-php-api requires  "ramsey/uuid": "^3.0".
We need to update magento2-functional-testing-framework composer.lock file first. Here is the PR to mftf repo https://github.com/mag

[2021-01-24 20:55] cyildirim commented on #25617
Raised PR for this issue #31819

[2021-01-24 23:38] Gabriel-Bruno opened #31820 "page cache is invalidated after the "Category Products" index is reindexed"
### Preconditions (*)

1. magento 2.3.4 and 2.4-develop
2. PHP version 7.2
3. mysql  Ver 14.14 Distrib 5.7.33, for Linux (x86_64)
4. the cpanel cron job -> https://ibb.co/Wg9v2b1
5. there is no changes or updates to products, categories, catalog price rules, static blocks, 3rd party extensions, etc.
6. there is no visitor to website as its under construction
7. there is more than 100K product on w

[2021-01-25 03:51] tuyennn commented on #22587
What a pity Magento, closed due latest version doesn't support MySQL search, so what about stores which doesn't migrated to 2.4.x

[2021-01-25 06:43] sodhancha commented on #5332
@carlowens Can you confirm this on 2.4 EE as well ?

[2021-01-25 07:13] rubenpurple commented on #31428
Hello, i was talking with my partner, and the magento was 2.3.4 upgrade to 2.4.

Its possible that the error only happens when upgrade? but not with clean new installation of 2.4 version?

[2021-01-25 07:32] JKetelaar commented on #31541
Thanks @achatpc - I have mentioned it to them as well

[2021-01-25 08:02] engcom-Alfa commented on #31816
Duplicate of #29721

[2021-01-25 08:02] #31816 closed, assigned to engcom-Alfa

[2021-01-25 08:14] engcom-Delta commented on #31813
Hi @kennylawrence thank you for your report. Seems like it is not an issue on 2.4-develop as `.nav-sections-item-content>*{display:none}` if observe `styles-l.css`
**Result:**
:heavy_check_mark: Template hints work as expected
![image](https://user-images.githubusercontent.com/51681379/105678427-d0528700-5ef5-11eb-9425-29dadef3d875.png)
:heavy_check_mark: Element with `id="store.menu"` is not show

[2021-01-25 08:14] #31813 closed, assigned to nobody

[2021-01-25 08:55] engcom-Delta commented on #31105
Hi @brianrootways thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**

- Configure PayPal Express Checkout with Sandbox Mode = Yes
- Create customer
- Add product to cart
- Go to checkout page
- Select  PayPal Express Checkout
- Click on PayPal button

**Result:**
:heavy_check_mark: Modal window for login into paypal i

[2021-01-25 08:55] #31105 closed, assigned to nobody

[2021-01-25 09:00] ihor-sviziev commented on #8975
Hi @franckgarnier21,
I'm closing this issue due to inactivity. Feel free to drop here a comment if this issue still relevant

[2021-01-25 09:00] #8975 closed, assigned to ihor-sviziev

[2021-01-25 09:34] ihor-sviziev commented on #31136
Closing this issue for the same reason as linked PR https://github.com/magento/magento2/pull/31122#issuecomment-766683231

[2021-01-25 09:34] #31136 closed, assigned to ihor-sviziev

[2021-01-25 09:53] nuzil commented on #31818
@magentoexpert can you please provide a link for DevDocs?

[2021-01-25 10:00] sujith-cs commented on #4737
hello @Ravindrasinh  have you got any soulution? @JJBalso  Im getting the issue in production mode also

[2021-01-25 10:30] m2-assistant[bot] opened #31824 "[Issue] Update lessjs to v3.13.1"
This issue is automatically created based on existing pull request: magento/magento2#31618: Update lessjs to v3.13.1

---------

### Description (*)

Update old version to recently newer
2.3.1 to 3.13.1
Current magento used  lessjs v2.3.1.
Official version is https://cdn.jsdelivr.net/npm/less@3.13
https://www.jsdelivr.com/package/npm/less
For maintain compatible we can stay at v3 for a while!. Cur

[2021-01-25 10:33] engcom-Delta commented on #30984
Hi @madonzyaccenture  thank you for your report
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) for general discussion about this issue.

[2021-01-25 10:33] #30984 closed, assigned to nobody

[2021-01-25 10:34] vidyli opened #31825 "Mock graphql API"
Hi, I want to implement a feature like [graphql-faker](https://github.com/APIs-guru/graphql-faker), so that our devloper can mock API response more  easier.  any advice would be appreciated.

[code]

# Why

1. This feature is userful  for decopling the frontend and backend developer,  as long as they have some basic understandings, they can develop separately at the same time.

# What I investigat

[2021-01-25 10:50] rahulanand77 commented on #31775
Hi @magento-engcom-team,

Do we have any update on the patch to apply and fix this?

[2021-01-25 11:04] engcom-Bravo commented on #31812
Hello @PedroChagasGuerra

Thank you for your report

We have rechecked the reported issue on the latest 2.4-develop.
We have created two Categories and added two products to each
![4products](https://user-images.githubusercontent.com/51680745/105697608-6e058080-5f0d-11eb-8e2e-a05da258d629.png)
![4products](https://user-images.githubusercontent.com/51680745/105697622-72ca3480-5f0d-11eb-9ecb-17ec8e0

[2021-01-25 11:04] #31812 closed, assigned to engcom-Bravo

[2021-01-25 11:45] engcom-Bravo commented on #31798
Hello @diogoceribelli

Thank you for your report

This is an already known and Confirmed issue. Please follow all the updates at https://github.com/magento/magento2/issues/21952

We have to close this issue as Duplicate of #21952

[2021-01-25 11:45] #31798 closed, assigned to ajijshekh123, engcom-Bravo

[2021-01-25 11:47] oneserv-heuser commented on #31351
Having the same issue, can confirm for Magento 2.4.1.

[2021-01-25 12:09] oneserv-heuser commented on #31351
This works as a temporary solution: https://stackoverflow.com/questions/61770306/while-working-with-the-magento-2-graphql-it-seems-that-the-string-translation-do

[2021-01-25 12:11] engcom-Golf commented on #19043
Hi @AndrewPenry
I was not able to reproduce this issue on 2.4-develop branch. Looks like it was fixed by https://github.com/magento/magento2/commit/efb7c618a35cb59b392a09572595c26d73488521
I will close this issue for now.
Thanks.

[2021-01-25 12:11] #19043 closed, assigned to engcom-Golf

[2021-01-25 12:13] magento-engcom-team commented on #19043
Hi @AndrewPenry, @engcom-Golf.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24599` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-25 12:14] Eddcapone opened #31826 "Option for changing sort order in amazon pay is missing"
The sort order is missing from the amazon pay extension, probally intentional to make it order itself to the top.
I tried to implement one like seen here https://magento.stackexchange.com/a/309959/66769
But the Amazon Pay order does not react to the field.

### Preconditions (*)

Magento 2.4.1

### Steps to reproduce (*)

1. Login to Magento Backend
2. Go to Stores -> Settings: Configuration ->Sal

[2021-01-25 12:25] eduard13 commented on #31435
Hi @dthampy, this case has been fixed as well and covered by tests.

[2021-01-25 12:42] torhoehn commented on #31576
@magento give me 2.4-develop instance

[2021-01-25 13:44] ReggieTe commented on #31351
I'm experiencing the same issue on Magento 2.3.4   and the patch on https://stackoverflow.com/questions/61770306/while-working-with-the-magento-2-graphql-it-seems-that-the-string-translation-do seems not to be working

[2021-01-25 14:00] rupertbyers-ec commented on #18025
Any update on this yet? Please, Magento devs, please provide us with a hack until thsi is resolved properly!

[2021-01-25 14:06] Eddcapone commented on #31826
I found the issue [here](https://github.com/amzn/amazon-payments-magento-2-plugin/issues/440) so I close it.

[2021-01-25 14:06] #31826 closed, assigned to nobody

[2021-01-25 14:18] kassner commented on #21973
I bumped into my own ticket trying to run phpunit via a phar this time, and although I can understand the rationale of not having PHAR enabled in production, I believe this should be a responsability of the environment, not Magento's own code. It's feasible (and even safer) to disable PHAR via php.ini instead.

Alternatively, I managed to run the integration tests without much fuss once I applied

[2021-01-25 14:36] iphigenie opened #31828 "Grouped products without children not shown and pagination broken"
Pagination gets calculated incorrectly when there are grouped products without children.

### Investigation

Upon further investigation I have found the following

1. when calculating the number of products to show, the system will count all grouped products that match, as it should
2. when building the pages, the system then skips the grouped products that do not have a child product

This causes

[2021-01-25 14:37] iphigenie commented on #31828
@magento give me 2.4-develop instance

[2021-01-25 14:46] iphigenie commented on #28966
I have an opposite issue where grouped products without any children aren't shown in catalog lists, but they are counted in the pagination

[2021-01-25 14:54] iphigenie commented on #31828
Reproduced in 2.4-develop

- created duplicate of "sprite yoga straps" in stock, enabled, but no simple products in it, named "emptry sprite yoga straps"
- made category "gear" show products
- refresh page, sort by name, first page is now 1-11 instead of 1-12

[2021-01-25 14:58] yvaliya commented on #21361
#imagine2019

[2021-01-25 15:16] shikhamis11 commented on #29769
this issue is reproducible on 2.4-develop instance.
tried with query

[code]
variable : {"urlKey":"stellar-solar-jacket"}
response

[code]

[2021-01-25 15:44] engcom-Bravo commented on #31820
Hello @Gabriel-Bruno

Thank you for your report.

We Confirm that the issue is reproducible on the latest 2.4-develop. Additional info is added to description

[2021-01-25 15:44] magento-engcom-team commented on #31820
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40616` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-25 15:47] magento-engcom-team commented on #31828
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40617` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-25 16:50] #24517 closed, assigned to nobody

[2021-01-25 16:50] #24660 closed, assigned to nobody

[2021-01-25 16:52] magento-engcom-team commented on #24517
Hi @dannydamsky.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24073` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-25 16:52] magento-engcom-team commented on #24660
Hi @ValeSauer.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24222` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-25 17:28] github-jira-sync-bot opened #31829 "The issue is created by Bot"
The issue is created by Bot

[2021-01-25 17:50] #17934 closed, assigned to nobody

[2021-01-25 18:55] magento-engcom-team commented on #31641
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40622` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-25 19:09] #31829 closed, assigned to nobody

[2021-01-25 19:19] iphigenie commented on #31316
I have disabled the optimizer at the module:disable level but I still do not understand why it actively intercepts when not actually configured to be active in admin - that seems very badly coded

[2021-01-25 19:23] github-jira-sync-bot opened #31830 "The issue is created by Bot"
The issue is created by Bot

[2021-01-25 19:23] pemann commented on #18339
Is there any solution to this one?

[2021-01-25 19:26] #31830 closed, assigned to nobody

[2021-01-25 19:29] magento-engcom-team commented on #31830
Hi @github-jira-sync-bot.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40620` was closed as `Fixed`.

[2021-01-25 19:32] engcom-Alfa commented on #31758
@esimov The problem has already been solved in the 2.4.1 version.

**Actual Result:** :heavy_check_mark:
![Screenshot from 2021-01-25 21-30-51](https://user-images.githubusercontent.com/51679138/105755922-9fee0580-5f54-11eb-827b-60e97d0b9a38.png)
![Screenshot from 2021-01-25 21-16-35](https://user-images.githubusercontent.com/51679138/105755935-a3818c80-5f54-11eb-9efb-5389fa5383ae.png)
![Screensho

[2021-01-25 20:54] aliomattux commented on #760
Hello,
We are using Magento 2.3.3 and faced this behavior. IMO, this is a bug not an improvement. updated_at is a system feature that should reliably and accurately record the date and time an object is updated, assuming it is not done by an SQL query. By allowing either update attributes or update status features in the admin to not change this timestamp, it defeats the integrity of the data and

[2021-01-25 21:03] #29945 closed, assigned to nobody

[2021-01-25 21:05] magento-engcom-team commented on #29945
Hi @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37476` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-25 21:07] magento-engcom-team commented on #29945
Hi @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37476` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-25 21:13] magento-engcom-team commented on #29945
Hi @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37476` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-25 21:17] sreichel commented on #23938
It is sad that Magento fails to fix this serious bug in many years ... it should be fixed ASAP.

[2021-01-25 22:32] #31112 closed, assigned to sasha19957099

[2021-01-25 22:43] davirs commented on #27936
@duckchip I have exactly same issue at magento 2.4.0:
![image](https://user-images.githubusercontent.com/4355062/105775355-78437100-5f45-11eb-998d-06d9f9e8dcb1.png)

![image](https://user-images.githubusercontent.com/4355062/105775422-8beed780-5f45-11eb-9c66-b1be5038d6d3.png)

The issue is not finished...

[2021-01-26 03:41] thongbui62-developer opened #31832 "Can't checkout with Klarna payment method"
**Preconditions (*)**
Magento 2.3.6
Merchant country: US, default country: US, currency: EUR
Klarna configured and enabled (Klarna North America)
Klarna debug log enabled

**Steps to reproduce (*)**
As guest, go to checkout
Select klarna payment and place the order

**Expected result (*)**
Order is placed successfully

**Actual result (*)**
Order is not placed, an error message is shown "Unable to

[2021-01-26 03:44] thongbui62-developer commented on #31832
@magento give me 2.3.6 instance

[2021-01-26 03:50] thongbui62-developer commented on #31832
@magento give me 2.3.6 instance

[2021-01-26 06:39] sodhancha commented on #31145
@rvitaliy i've opened this issue on my ticket list with Magento Commerce Support as well.

[2021-01-26 06:43] Eddcapone opened #31833 "It is too hard and extremly time consuming to do simple modifications in checkout"
### Summary (*)

It is very hard to make changes in checkout and even very simple tasks are extremly time consuming.

  [1]: https://i.stack.imgur.com/nnXai.png
  [2]: https://i.stack.imgur.com/40855.png

### Examples (*)

I am using Amazon Pay. Currently it looks like this in the checkout:

[![Current State][1]][1]

I need to add a logo and a link pointing to the info page about amazon pay:

[![T

[2021-01-26 06:56] bineet-kumar commented on #23934
Hello,

Please provide any update on this issue?
We can't use authorize.net payment method in backend. Please provide a solution for Magento 2.3.2.
https://user-images.githubusercontent.com/1344077/62035656-51499900-b201-11e9-91fc-f965e367fe10.gif
I'm facing the similar issue.

Please update ASAP.

[2021-01-26 08:00] bineet-kumar opened #31834 "Authorize Net issue on the admin order creation page"
**Preconditions (*)**

1. Install Magento 2.3.2
2. Enable a few shipping methods, more than 1 method should be available in your store
3. Configure Authorize Net setting, only this payment should be available in your store

**Steps to reproduce (*)**

1. Go to the admin area
2. Start the order creation process: choose customer and products
3. Choose one of the shipping methods (few methods must be

[2021-01-26 08:19] #31244 closed, assigned to nobody

[2021-01-26 08:23] engcom-Bravo commented on #31832
This seems to be similar to https://github.com/magento/magento2/issues/26366 and to be the Expected behavior. Please see the comment https://github.com/magento/magento2/issues/26366#issuecomment-704461711

[2021-01-26 08:32] magento-engcom-team commented on #30882
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40628` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-26 08:36] esimov commented on #31758
@engcom-Alfa I'm afraid is not. I have tried with M2.4.1, but it's still not working, but it's working with the latest dev version. I have also tried with a previous version where it's still not working.

[2021-01-26 09:27] thongbui62-developer commented on #31832
Hi @engcom-Bravo,

Thank for your reply!
I have tried not enter company field and checkout with logged in but it not working.

[2021-01-26 09:36] engcom-Bravo commented on #29123
Hello @prabhakaran777

Thank you for your report.

Yes, it would probably make more sense if the `label` returned _Yes_ or _No_ instead of _1_ or _2_
We Confirm the issue is reproducible on 2.4-develop and move it to GraphQL team.

[2021-01-26 09:37] magento-engcom-team commented on #29123
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40629` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-26 09:46] cundd commented on #25076
Has this been fixed in Magento 2.4?

[2021-01-26 09:49] gwharton commented on #25076
No, I tried to get it moving with this issue raised on 2.4. It was reconfirmed 6 days ago, so maybe its about to gain some traction.

https://github.com/magento/magento2/issues/29258

[2021-01-26 09:56] magento-engcom-team commented on #27678
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40630` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-26 10:17] engcom-Hotel commented on #26896
This issue is fixed on MSI and it should be transferred to CE in the next minor release.

[2021-01-26 10:17] #26896 closed, assigned to engcom-Hotel

[2021-01-26 10:18] engcom-Alfa commented on #31834
Hello @bineet-kumar

Thank you for your report and collaboration!

Unfortunately, we are closing this Issue report because we are not able to process contribution to the `2.3.x` release line through this public repository. See details [Code Contributions: Accepted pull requests and ported code](https://devdocs.magento.com/contributor-guide/contributing.html#rules)

And starting from `2.4.0` releas

[2021-01-26 10:18] #31834 closed, assigned to engcom-Alfa

[2021-01-26 10:19] magento-engcom-team commented on #26896
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-26 11:00] engcom-Alfa commented on #30123
Hi @VZeroCool . Thank you for your report!
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop.
Everything works as expected.

**Manual testing scenario:**
1. Setup 2 store view with arabic and english
2. Set arabic view as default
3. Go to backend, Marketing > Email Templates > Add new Template
4. Load default New order template
5. Click on Preview template

**Actual Result

[2021-01-26 11:00] #30123 closed, assigned to engcom-Alfa

[2021-01-26 11:14] tim-breitenstein-it commented on #25209
Also facing to me!

- Magento 2.4.1 fresh installation
- Data Migration from 1.9.3.10

The image is also still uploading to `pub/media/catalog/tmp` folder only.

The `catalog_category_entity_varchar` is only the image name `phone.svg` and not the full path like: `/media/catalog/category/phone.svg`.

If I copy the image to `/media/catalog/category/` and save the correct path + image name `/media/ca

[2021-01-26 11:44] martinnguyen3005 commented on #27460
:( Please reopen this ticket and should have a patch for 2.3.*!

[2021-01-26 11:50] engcom-Delta commented on #27137
@hkvega01 @jesperbrejning @BassemN , we are closing this issue as not reproducible on 2.4-develop and same issue was created in appropriate repo: https://github.com/magento/data-migration-tool/issues/837

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing

[2021-01-26 11:50] #27137 closed, assigned to nobody

[2021-01-26 11:56] engcom-Delta commented on #28226
@magento give me 2.4-develop instance

[2021-01-26 12:07] Eddcapone opened #31837 "Can't figure out how to customize "new address" form in checkout"
### Summary (*)

I need to add a little text here (see screenshot):

![image](https://i.stack.imgur.com/ty6A9.png)

I can't figure out how this is done. I read through the section "Customize Checkout" in the documentation, but there is nothing helpful which points me in the right direction.

I know that the form can be addressed under this UiComponent path:

    checkout.steps.shipping-step.shippi

[2021-01-26 12:53] engcom-Delta commented on #28226
@Techytt I rechecked page load with 30 child products of configurable product but didn't get such perfomance degradation you mention in issue
**Manual testing scenario:**

- Create configurable product with two attributes (with 5 options and 6 options)
![image](https://user-images.githubusercontent.com/51681379/105847332-27378980-5fe6-11eb-9473-26e0bafdf7f1.png)

- Flush cache
- Open category page

[2021-01-26 12:59] ilnytskyi commented on #30151
Another problem with this is that method
[code]
tires to convert time on backend. Then module-ui/view/base/web/js/grid/columns/date.js would convert that time to UTC and apply the timezone, so we got wrong time on UI grids.

Workarounund to modify \Magento\Ui\Component\Listing\Columns\Date::prepareDataSource method

[code]

that would also fix problem in JS or just revert JS file to M2.3.4 version

[2021-01-26 13:17] engcom-Alfa commented on #28161
Hi @wilhelmpa . Thank you for your report!
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop. Looks like the problem has already been fixed.
Was checked the problem described in the description and from the comments and everything works as expected.
There are no errors in the process of creating an order using coupons.

@wilhelmpa Are you able to reproduce this issue on cl

[2021-01-26 13:44] sivaschenko commented on #26210
@sprankhub thanks for reporting this issue and for being ready to contribute!

This issue was prioritized as P3 so it's not likely that we will be able to focus on a pull request for it soon.

`composer.json` file from CE version is overridden by the copy from EE repository during the execution of the tests.

[2021-01-26 13:51] purpleprincemedialtd opened #31839 "Import - Does not remove crossell_products"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1. Create CSV with crossell_skus
2. Import File
3. Check products, products no longer linked on CSV should be removed.

### Expected result (*)

1. [Screenshots, logs or description]
2. Remove the products no longer linked on the CSV.

### Actual result (*)

1. [Screenshots, logs or description]
2. Adds new products, does not unlink old one

[2021-01-26 14:01] rhoerr commented on #28161
Please try this additional test case based on my [prior note](https://github.com/magento/magento2/issues/28161#issuecomment-665939397):

- Create a coupon with condition "Payment Method is Purchase Order"
- Go to frontend checkout
- Select 'Purchase Order' payment method
  - See that action initiates set-payment-information 400 request
  - See that the discount form displays "Purchase order number

[2021-01-26 14:38] zack6849 commented on #17934
I see this got marked as done, is there a commit for this that fixed it?

[2021-01-26 15:00] vrielsa opened #31840 "Bundle products limit in upsell collection on product detail page"
### Preconditions (*)
1. Magento version: 2.4.1
2. PHP version: 7.4

### Steps to reproduce (*)
1. Create a simple product, to be used in all bundle products
2. Create +60 bundles with the simple product as child
3. Visit the product detail of the simple products -> you'll notice that all bundles will be shown as upsell products

When taking _Magento\Catalog\Block\Product\ProductList\Upsell_ and l

[2021-01-26 15:03] victortodoran commented on #30805
Is there a policy to close down issues without fixing them after x amount of time?

[2021-01-26 15:07] Hassanshah12-del commented on #6410
kikjij

[2021-01-26 15:55] flamboy commented on #23729
I see the subscription model was totally refactored at 2.4.*
For those guys who still receive unsubscribe email -> here diff from 2.3.4
[magento_module-newsletter.diff.txt](https://github.com/magento/magento2/files/5874444/magento_module-newsletter.diff.txt)

FYI: if `Configuration > Customer Configuration > Create Account Options > Require Emails Confirmation` is set to `Yes` then subscription em

[2021-01-26 16:27] engcom-Bravo commented on #31839
Hello @purpleprincemedialtd

Thank you for your report

Can you please provide more details and screenshots, because it's not clear how to perform the step 3 _Check products, products no longer linked on CSV should be removed._ ?
And what Import Behaviour do you select?
![imp_behaviour](https://user-images.githubusercontent.com/51680745/105873363-13028500-6004-11eb-8dbd-107284d1c230.png)

Thank yo

[2021-01-26 17:11] m2-assistant[bot] opened #31842 "[Issue] Fixed wrong default value for links purchased separately in import"
This issue is automatically created based on existing pull request: magento/magento2#31835: Fixed wrong default value for links purchased separately in import

---------

### Description (*)
The 'Links can be purchased separately' option in the backend for a downloadable product link is off by default.
However when using the import functionality it's ON. This is unexpected behavior. This PR fixes

[2021-01-26 17:13] m2-assistant[bot] opened #31843 "[Issue] Update color code to lowercase follow less standards"
This issue is automatically created based on existing pull request: magento/magento2#31831: Update color code to lowercase follow less standards

---------

### Description (*)

https://devdocs.magento.com/guides/v2.4/coding-standards/code-standard-less.html#hexadecimal-notation
Small change in less code base in order to make code following magento less standards

In scope of this PR only change i

[2021-01-26 17:18] m2-assistant[bot] opened #31844 "[Issue] Refactoring StorefrontConfigurableProductBasicInfoTest"
This issue is automatically created based on existing pull request: magento/magento2#31827: Refactoring StorefrontConfigurableProductBasicInfoTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in the local environment and verified that

[2021-01-26 17:20] m2-assistant[bot] opened #31845 "[Issue] Update bundle price renderer docblock"
This issue is automatically created based on existing pull request: magento/magento2#31823: Update bundle price renderer docblock

---------
### Description

PHPStan fails when using the original block:

[code]

default.phtml line 25:

[code]

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios

1. Configure PHPStan to r

[2021-01-26 18:01] gwharton commented on #30481
Bump

[2021-01-26 18:03] github-jira-sync-bot opened #31846 "A saved VAT Number is not displayed when placing an order by Admin on a Customer behalf"
**Preconditions:**
* Magento EE 2.4.0, EE 2.4.1-beta1 is installed
* A Customer without Billing and Shipping addresses is created
* Go to ther Magento Admin panel > CUSTOMERS > All Customers
* Select the created Customer
* Click the “Edit” link
* Click the “Addresses” vertical tab
* Click the “Add New Address” button
 Default Billing Address = Yes
 Default Shipping Address = Yes
 Street Address =

[2021-01-26 18:14] hostep commented on #30879
This is still relevant, would be nice if somebody could verify.

[2021-01-26 18:44] TectonicKestrel opened #31847 "Incorrect VAT and prices - Frontend and backend different"
### Preconditions (*)
1. Magento 2.4.1
2. PHP 7.4.14
3. 5.7.32-35-log Percona Server
4. Using Unit price to calculate UK VAT of 20%

### Steps to reproduce (*)
1. Add two products to the basket with a non-round ex VAT price, such as £6.6667 (to 4dp)
2. Add the same two products when creating an order from the admin area

### Expected result (*)
1. Both frontend and backend to display the correct p

[2021-01-26 20:08] Eddcapone opened #31848 "Adding custom validation before order placement -"
### Preconditions (*)

1. Magento 2.4.1
2. I am using Amasty Single Step Checkout, I did not tested it on a fresh magento

### Steps to reproduce (*)

Implement custom error validation like described in the [documentation](https://devdocs.magento.com/guides/v2.4/howdoi/checkout/checkout_order.html).

Step 1:

[code]
Load Checkout. Open the browser console and notice that your console.log message a

[2021-01-26 20:13] engcom-Delta commented on #30935
Hi @perfpcs  thank you for your report. Looks like is not technical issue with visible wrong behavior but some points could be improve:
1. Parent:Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Alerts\Stock---->Rewrite:Magento\InventoryProductAlert\Block\Adminhtml\Product\Edit\Tab\Alerts\Stock
- Agree - rewrite conflict
2. Parent:Magento\Catalog\Model\Product\Option\Type\Date------>Rewrite:Magent

[2021-01-26 20:13] #30935 closed, assigned to nobody

[2021-01-26 20:57] hostep commented on #29363
Confirming that this issue still exists on Magento 2.4.2.
It only shows up the very first time you login to the Magento admin.

For the people trying to reproduce, this release notification window only shows up on real Magento releases. Not on some development version from the `2.4-develop` or `2.5-develop` branch.

[2021-01-26 21:16] sivaschenko commented on #31633
Updated description with the actual functional issue description. Increased priority to P2.

[2021-01-26 21:58] microdreamltd commented on #23761
Same with magento 2.4.1, suggested fix does not work.

[2021-01-26 21:59] dthampy commented on #31435
Thank you @eduard13 . I tested it out and it is working fine. Thanks!

[2021-01-26 23:47] rani-webkul commented on #30979
In my case I changed the value of **Price Navigation Step Calculation** to “Automatic (equalize price ranges)" then it is working..
![image](https://user-images.githubusercontent.com/44425160/105921371-c5ffcc80-605e-11eb-9b79-72a117d6c77c.png)

[2021-01-27 04:25] krishprakash commented on #31756
Closing this issue as similar issue #30099 as already added and verified

[2021-01-27 04:25] #31756 closed, assigned to krishprakash

[2021-01-27 04:44] mrtuvn commented on #30471
This issue still quite important at my pow

[2021-01-27 04:59] mrtuvn commented on #27912
Still may worth investigate on this case

[2021-01-27 05:01] mrtuvn commented on #27699
Is this related with wrong save store ? I'm aware maybe we have problem while save config theme relate store id

[2021-01-27 05:47] sodhancha commented on #8725
@asadyar did you manage to fix the issue ?

[2021-01-27 07:35] ProkopovVitaliy commented on #31600
@magento I am working on this

[2021-01-27 08:00] ihor-sviziev commented on #30471
@ericmorand @mrtuvn, could you explain the use cases when these values need to be changed/customized?

[2021-01-27 08:24] mrtuvn commented on #30471
Should `getPageLayouts` get all layout instead return fixed value array ? Example i create custom page layout somewhere else in theme Should magento update that too ?

[2021-01-27 09:01] jorgb90 commented on #31847
In the admin panel the subtotal is calculated as 13.34 when you take that 13.34 * 1.2 = 16.008 which is 16.01 rounded. The calculation shouldn't be different on front or back-end of course, but I can see where its coming from.

[2021-01-27 09:03] siimm opened #31849 "Some strings not translatable in M2.4.1"
### Preconditions (*)
1. Clean Magento 2.4.1 installation
1. 2.4-develop

### Steps to reproduce (*)
1. Add a product to cart
1. Navigate to cart page
1. Open admin interface, find the product, save it as "Out of Stock"
1. Refresh cart page, see error message: **There are no source items with the in stock status**
1. Find the translation for the message in <magento install dir>vendor/magento/modul

[2021-01-27 09:07] drdreamm commented on #28132
This issue persists on 2.3.6

[2021-01-27 09:14] MJTheOne commented on #26053
Why has this gone stale? This is a very annoying bump I'm also hitting. My import worked fine 5 minutes ago, added a custom_attribute to determine the url_key because I'm import products with same names. And boom an error which I can't debug because all it tells me is: "Product is unable to be saved"...

[2021-01-27 09:16] magento-engcom-team commented on #23156
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23734` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-27 09:21] alexsmith2709 commented on #31847
Ok, i get that, I thought the prices were now worked out using 4 decimal places to solve this issue, but am i wrong?
Is there anyway i can have the prices i want including VAT? How does anyone sell anything for £8.00 inc UK VAT when having catalog prices ex VAT? I use a price and stock import plugin so prices are all exc VAT.
I forgot to include this screenshot in my original post, but this is the

[2021-01-27 09:42] ihor-sviziev commented on #30471
@mrtuvn yeah. Make sense! I think it should be marked with S3 P2.
@sidolov @sivaschenko @gabrieldagama, what do you think?

Hi @ericmorand,
Could you create a pull request with suggested changes from the following comment https://github.com/magento/magento2/issues/30471#issuecomment-707374116 ?

[2021-01-27 09:49] ihor-sviziev commented on #31849
@sidolov @gabrieldagama, I believe this is a significant issue. Could you take a look at it and set priority on it?

[2021-01-27 10:00] m2-assistant[bot] opened #31852 "[Issue] Removed CliIndexerReindexActionGroup action group usage for modules (mix)"
This issue is automatically created based on existing pull request: magento/magento2#31851: Removed CliIndexerReindexActionGroup action group usage for modules (mix)

---------
### Description
Removed usage or changed value of CliIndexerReindexActionGroup action group for the following modules: Elasticsearch, Elasticsearch6, LayeredNavigation, LoginAsCustomer, Newsletter, UrlRewrite, Weee, Wishlis

[2021-01-27 10:13] gabrieldagama opened #31853 "UrlRewriteCollection store_id filter may be ambiguous"
### Summary (*)

The collection `app/code/Magento/UrlRewrite/Model/ResourceModel/UrlRewriteCollection.php` has a function `addStoreFilter`, the problem here is that the filter is being added without table reference on `store_id`.

That may be a problem on extensibility whenever a join is added to the collection on a table that also has a `store_id` column.

### Examples (*)
Add a plugin that adds

[2021-01-27 10:14] magento-engcom-team commented on #31853
@gabrieldagama Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-01-27 10:14] OvalMedia commented on #29797
The fix works as the bulk actions get executed via cron. But the message queue in magento_bulk does not get cleared.

[2021-01-27 10:14] gabrieldagama commented on #31541
@achatpc @JKetelaar created a new issue here https://github.com/magento/magento2/issues/31853

[2021-01-27 10:15] magento-engcom-team commented on #31853
@gabrieldagama Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-01-27 10:16] magento-engcom-team commented on #31853
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40650` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-27 11:04] SolsWebdesign commented on #5351
The only solution we found was using async.
This happened on a (new) Magento 2.3.6 version with MSI default source. Using REST API PUT .../rest/V1/products/[sku] and JSON. Function pushes about 20 products at a time, result: one goes fine, one deadlocks, etc.
We tried about everything without success.
So we decided to use async:  .../rest/async/V1/products/[sku] and it works, no more deadlocks.
Wo

[2021-01-27 11:19] ProkopovVitaliy commented on #31173
@magento I am working on this

[2021-01-27 11:26] ProkopovVitaliy commented on #31082
@magento i am working on this

[2021-01-27 11:43] ProkopovVitaliy commented on #31174
@magento i am working on this

[2021-01-27 12:02] mrtuvn commented on #30653
Let's check this

[2021-01-27 12:36] m2-assistant[bot] opened #31860 "[Issue] Removed CliCacheFlushActionGroup usage for CatalogRule"
This issue is automatically created based on existing pull request: magento/magento2#31859: Removed CliCacheFlushActionGroup usage for CatalogRule

---------
### Description
Removed usage or changed value of CliCacheFlushActionGroup action group for CatalogRule, Backend, Bundle and BundleImportExport modules.

[2021-01-27 12:42] ShafeelSha commented on #31312
![image (2)](https://user-images.githubusercontent.com/53746963/105992512-3b08eb80-60cb-11eb-8c9b-2f1366c52e1d.png)

Exception #0 (Magento\Framework\Exception\RuntimeException): Type Error occurred when creating object: Magento\Search\Model\EngineResolver, Argument 2 passed to Magento\Search\Model\EngineResolver::__construct() must be of the type array, null given, called in /var/www/html/magento/

[2021-01-27 13:21] engcom-Delta commented on #31848
Hi @Eddcapone thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: Validation method is called after button was pressed
![Peek 2021-01-27 15-18](https://user-images.githubusercontent.com/51681379/105996568-2fa9c600-60b3-11eb-9264-57d96a445e52.gif)

Are you able to reproduce issue on clean 2.4-develop?

[2021-01-27 13:42] engcom-Alfa commented on #31849
@siimm .
We are able to reproduce this issue on clean Magento 2.4-develop + **Inventory**

**Manual testing scenario:**

1. Add a product to cart
2. Navigate to cart page
3. Open admin interface, find the product, save it as "Out of Stock"
4. Refresh cart page, see error message: **There are no source items with the in stock status**
5. Find the translation for the message in <magento install dir>

[2021-01-27 13:51] siimm commented on #31849
hi @engcom-Alfa

The inventory message served as an example, what I wanted to highlight was a more general problem with the architectural design of the current solution.
I am convinced that if I go looking for next examples, I will find them.

A brief look into predispatch plugins already reveals bunch of points to check, not speaking of classes which are used in those plugins that also have trans

[2021-01-27 14:04] #31761 closed, assigned to mrtuvn

[2021-01-27 14:13] engcom-Hotel commented on #25516
Hello @iflairBhavin,
Checking the issue:
Magento version: 2.4-develop
PHP version: 7.4
ElasticSearch version: 7
MySQL version: 8.0
1. Configurable product with 2 attributes;
2. Stores >Configuration> Catalog > Inventory > Stock Options > Display Out of Stock Products is Set to No;
3. Set QTY equal 0 and out of stock for one of the created products;

Checking PDP and PLP and they have similar behav

[2021-01-27 14:20] sivaschenko commented on #30471
Added to [Public Triage Meeting](https://github.com/magento/magento2/wiki/Public-Triage-Meeting) agenda on Thursday.

[2021-01-27 14:30] iflairBhavin commented on #25516
@engcom-Hotel ,
As per my thinking if searched product was out of stock then that product means it's parent configurable product no more available in the search result on PLP page because user need that specific product (ie. blue color and a size) and we show him product which was out of stock already. Please share your thoughts. Thanks!

[2021-01-27 14:37] engcom-Bravo commented on #25617
Hello @cyildirim, which _mail server_ are you using on your local environment?

Thank you

[2021-01-27 14:55] mauragcyrus commented on #30176
Not reproducible

[2021-01-27 14:55] #30176 closed, assigned to shikhamis11

[2021-01-27 14:56] magento-engcom-team commented on #30176
Hi @magento-engcom-team, @shikhamis11.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-34586` was closed as `Fixed`.

The fix will be available with the upcoming `2.3.5` release.

[2021-01-27 15:04] sumeetmagento commented on #29797
Are you able to solve it because I am also getting in 2.3.5

[2021-01-27 15:20] sumeetmagento commented on #29797
This problem also arises in Magento 2.3.5
Does anyone know how to solve this?
![update_attributes](https://user-images.githubusercontent.com/42702943/106011770-c93b9c80-60e0-11eb-8772-f0233edfeda2.png)

Cron is working fine I cross-check with indexing and when run this command - `php bin/magento queue:consumers:start product_action_attribute.update ` then the problem is solved but it's not a good

[2021-01-27 15:25] sasha19957099 commented on #30915
To test on the cloud environment with Magento in vendor repository rename with .patch extension and change the file paths.
[Newrelic_for_GraphQL_transactions.txt](https://github.com/magento/magento2/files/5881173/Newrelic_for_GraphQL_transactions.txt)

[2021-01-27 15:46] thisfiore commented on #29254
Just to clarify:
In the current release, it's not possible to access ordered products data using REST API Seach calls.
Would be interesting to enable REST API to access correct ordering if is set up from the CMS, giving a parameter on current search call or different END POINT for REST API with VISUAL MERCHANDISING ORDERING

[2021-01-27 15:55] cyildirim commented on #25617
@engcom-Bravo I used mailhog to reproduce this. But i had the same issue with Mageplaza SMTP/ AWS SES as well. Also feel free to share your thoughts in my PR here please. https://github.com/magento/magento2/issues/25617

[2021-01-27 16:08] engcom-Hotel commented on #25447
Hello @wibbel,
Checking the issue:
Magento version: 2.4-develop
PHP version: 7.4
ElasticSearch version: 7
MySQL version: 8.0
1. Changed '.html' to '/' at
![25447_configuration](https://user-images.githubusercontent.com/51681618/106018538-4b6c9680-60ca-11eb-9b86-0cfd7e15c017.png)
2. Opened  'Men -> Tops -> Tees'
3. Filtered by colour
![25447_works_as_expected](https://user-images.githubusercontent.

[2021-01-27 16:10] gabrieldagama commented on #31764
Hi @DavaGordon, I couldn't reproduce this issue on 2.4, can you confirm the steps and how to reproduce such problem?

Thanks.

[2021-01-27 16:51] Eddcapone commented on #31848
@engcom-Delta, Thank you for testing it. Then the amasty extension is probaly interfering with it and messing it up.
I will test it on fresh installations before creating issues in the future. Sorry!

[2021-01-27 16:51] #31848 closed, assigned to engcom-Delta

[2021-01-27 17:42] m2-assistant[bot] opened #31865 "[Issue] Removed CliCacheFlushActionGroup usage for Catalog module"
This issue is automatically created based on existing pull request: magento/magento2#31864: Removed CliCacheFlushActionGroup usage for Catalog module

---------
### Description
Removed CliCacheFlushActionGroup usage for Catalog module

[2021-01-27 17:49] DavaGordon commented on #31764
Magneto 2 EE (2.3.6)  / B2B Module / Magneto Cloud

Steps
Admin Login > Customers

Filter by company name issue occurred reason for this is the reference of company name was coming from the company table which was not in the main table so when we filtered by company we received this issue. this was tested across 3 seperate websites all using similar environment specs and with all none standard mag

[2021-01-27 17:52] magento-engcom-team commented on #31849
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40654` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-27 17:53] m2-assistant[bot] opened #31866 "[Issue] Ensure that invoice comments are returned when requested by GraphQL queries"
This issue is automatically created based on existing pull request: magento/magento2#31606: Ensure that invoice comments are returned when requested by GraphQL queries

---------

### Description (*)

As part of the GraphQL schema for customer orders, invoices can be requested, along with their comments. However, the current implementation does not return any comments for invoices, resulting in a

[2021-01-27 17:54] magento-engcom-team commented on #31849
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40654` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-27 18:00] alexsmith2709 commented on #31847
From doing further research and talking with a payment processor, it seems magento does use row total to work out tax in the admin panel, the settings for unit based calculations only apply to the frontend. Is this correct and is this likely to be addressed?

[2021-01-27 18:12] #31176 closed, assigned to hostep

[2021-01-27 18:39] #3650 closed, assigned to nobody

[2021-01-27 18:54] stijnkuppens commented on #22753
You can have a search in the codebase for 'Magento\InventorySalesApi\Api\GetProductSalableQtyInterface' and find what module is trying to add this to their constructor. Then just disable that module also.
Probably a third party module still depending on this magento inventory sales api.

[2021-01-27 19:21] aversalle commented on #30906
This is not stale and is still relevant. This needs to be updated to be inline with the new Symfony contract.

[2021-01-27 19:57] github-jira-sync-bot opened #31868 "[TEST] DO NOT TOUCH THIS! TEST 203"
**Important**!
[code]

Showing extra spacing in top navigation sub menu 2.3.5 issue

### Preconditions (*)
Magento 2.3.5

### Steps to reproduce (*)
1. Review the top navigation menu sub menu

### Expected result (*)
Everything is good

### Actual result (*)
All is bad :)

The issue was exported from the internal JIRA. The link to the original JIRA issue:https://jira.corp.magento.com/browse/MC-325

[2021-01-27 19:57] #31868 closed, assigned to nobody

[2021-01-27 19:58] slavvka commented on #31868
@magento export issue to Jira

[2021-01-27 20:57] engcom-Delta commented on #31468
Hi @schmengler thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**

- Create custom module:
`Foo/Bar/etc/di.xml`
[code]

- Set breakpoint in `__construct` method of  `\Magento\Framework\View\TemplateEngine\Php`
- Go to Home Page/Catalog Page
- Check debug

**Result:**
:heavy_check_mark: Custom variable is added into ar

[2021-01-27 21:11] lingwooc commented on #31280
@techzilla I'm having the same issue with weltpixel theme and I suspected as much. Which class was it?

[2021-01-27 21:18] nwcasebolt opened #31869 "Downloadable Link Repository Returns Incorrect Download Links"
### Preconditions (*)

1. Magento 2.3.3-p1
2. PHP 7.2.34-8+ubuntu16.04.1

### Steps to reproduce (*)
1. Create a Downloadable Product with a URL for the "File" setting. In my case, the entity_id of the new product is 4714, and the row_id is 4951.
2. Load the new product from the product repository and pass it to \Magento\Downloadable\Api\LinkRepositoryInterface::getLinksByProduct().

### Expected

[2021-01-28 01:11] #30463 closed, assigned to sasha19957099

[2021-01-28 07:16] surelockrich commented on #26896
Hello,
I have test the same issue on 2.4.1 as well, more over i have seen website made on Magento 2 in which it doesn’t happen

Thanks & Regards

Sent from my iPhone
Please excuse typos and brevity

[2021-01-28 07:51] purna12 commented on #22773
Im also having the same issue. My application with 2.3.4-p2 version Error getting thrown after Module 'Magento_AMQP' in setup:upgrade.
![Screenshot from 2021-01-28 13-11-14](https://user-images.githubusercontent.com/2920246/106106503-a3a7a500-616b-11eb-864d-3a69ff9c4051.png)

I havent modified any code, which was working fine.
What is solution for this ..? i am slo got same issue and why ?

[2021-01-28 07:53] #22662 closed, assigned to engcom-Echo

[2021-01-28 08:10] engcom-Delta commented on #31814
Hi @jorgb90 thank you for your report. Seems like this issue related to Data Migration Tool
Could you create issue in appropriate [repo](https://github.com/magento/data-migration-tool/issues) and close this one once it will be done?

[2021-01-28 08:23] magento-engcom-team commented on #30149
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40663` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-28 08:30] thomas-kl1 commented on #14373
Stale does not mean resolved :unamused:

[2021-01-28 08:33] engcom-Charlie commented on #12581
Hello @pixmin, I'm closing this issue now due to inactivity.
Thank you for your collaboration.

[2021-01-28 08:33] #12581 closed, assigned to engcom-Charlie

[2021-01-28 08:35] magento-engcom-team commented on #12581
Hi @pixmin, @engcom-Charlie.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-30349` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-28 09:00] Quazz opened #31870 "ProductRepository $saveOptions"
### Preconditions (*)

1. 2.4.1 (possibly earlier versions too)

### Steps to reproduce (*)

1. [ProductRepositoryInterface](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/Api/ProductRepositoryInterface.php#L26) defines $saveOptions as a bool which mandates [ProductRepository](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/Model/Product

[2021-01-28 09:04] NickdeK opened #31871 "`Magento_ConfigurableProduct/js/configurable` should be renamed because it's not used when swatches are active"
### Summary (*)

The `Magento_ConfigurableProduct/js/configurable` file is not used when a swatch is active on a configurable product page, the `Magento_Swatches/js/swatch-renderer` seems to be the file that does all the configurable logic in that case. The `Magento_Swatches/js/swatch-renderer` is also used when there are dropdowns and swatches active on a configurable product.

The problem with t

[2021-01-28 09:25] mxpgmbh opened #31872 "Deprecated string access with curly braces in magento/zendframework1/library/Zend/Json/Encoder.php"
### Preconditions (*)

1. All Versions up to Magento 2.4.1

### Steps to reproduce (*)

1. Install a fresh Magento system with PHP 7.4
2. Encoder is used, e.g., by Amasty Push Notification (https://amasty.com/push-notifications-for-magento-2.html) in vendor/amasty/module-push-notification/view/frontend/templates/custom_prompt.phtml

### Expected result (*)

1. Everything works as expected

### Act

[2021-01-28 09:59] m2-assistant[bot] opened #31873 "[Issue] Fix #11175 - i18n:collect-phrases -m can't find many important Magento phrases - added parsing of the attr translations via `$t('Text')`"
This issue is automatically created based on existing pull request: magento/magento2#31804: Fix #11175 - i18n:collect-phrases -m can't find many important Magento phrases - added parsing of the attr translations via `$t('Text')`

---------
### Description (*)

According to the official Magento 2 documentations, there is a way to translate HTML attributes, but this is not covered as well. Here is a

[2021-01-28 10:00] magento-engcom-team commented on #31873
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40664` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-28 10:21] deepanshuyadav87 opened #31874 "Cart Item does not reflect the changes when the product get some changes"
### Preconditions (*)

1.Magento 2.3.4

### Steps to reproduce (*)

1. Add a product to the cart
2. Change the same product price or any other product attribute from the admin panel

### Expected result (*)

1. Item in the cart should get the changes according to the product changes

### Actual result (*)

1. Item in the cart have values that were set before the product changes initially when the

[2021-01-28 10:42] magento-engcom-team commented on #23297
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23756` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-28 10:48] engcom-Bravo commented on #25617
@cyildirim Thank you for the quick response.

We have tried to use _Send Mail_, _Mailhog_ and _Magento 2 SMTP - AVADA_ extension.

In all cases, the email has been sent successfully
See the screenshots from Mailhog for example

Creating Credit memo
![cre_me](https://user-images.githubusercontent.com/51680745/106126990-bff51300-6166-11eb-995d-69fe4475e775.png)

Send Email
![mail_sent](https://user-

[2021-01-28 11:02] cyildirim commented on #25617
@engcom-Bravo As far as i get it from screenshot you shared, you recieved email for order confirmation. You need to check creditmemo email. (you'll need to check "send copy of email" option while creating creditmemo). Also remember to disable async emails before to do that to see the exception right away.

[2021-01-28 11:06] engcom-Delta commented on #29052
Hi @Coosos , I checked issue on 2.4-develop according your steps and get next result:
**Manual testing scenario:**

- Clean magento install
- Configure varnish for magento
- [Code](https://github.com/magento/magento2/issues/29052#issuecomment-739526593) for check `cacheContext` is added
- Index mode is Update on Save. All indexers have Status=Ready
- Import file from [comment](https://github.com/m

[2021-01-28 11:14] engcom-Delta commented on #31872
Hi @mxpgmbh thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Looks like your issue is related to 3-rd party module.
All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketplace.magento.com/extensions.html) page

[2021-01-28 11:14] #31872 closed, assigned to nobody

[2021-01-28 11:20] chalov-anton commented on #25894
This is a low priority issue but still could be fixed. Plus the https://github.com/magento/magento2/pull/25945 has not been merged only because it missed test coverage

[2021-01-28 11:22] chalov-anton commented on #30165
The down scrolling, is an unpleasant behavior.

[2021-01-28 11:34] mxpgmbh commented on #31872
No, the issue is NOT related to a third party module. The Amasty module was just an example that uses a core Magento class which is not compatible with PHP 7.4.
The problem lies in `vendor/magento/zendframework1/library/Zend/Json/Encoder.php`, which is a core class

[2021-01-28 11:36] hubertus2017 commented on #25862
..lost 3% of payments…and tons of hours… will this fix be implemented in Magento 2.4.2?

[2021-01-28 11:40] mxpgmbh commented on #31872
@engcom-Delta Please reopen the issue again, the problem lies in the Zend framework fork of Magento.
Trying to overwrite the \Zend_Json_Encoder class with preference will break magento:di:compile with the exact same error

[2021-01-28 11:51] engcom-Bravo commented on #25617
@cyildirim Yes, we have Disabled _Asynchronous sending_ and checked the _Email copy of Credit Memo_ checkbox. Still no exception and the emails are received
![cre_memo](https://user-images.githubusercontent.com/51680745/106134723-9d1b2c80-616f-11eb-8a2a-7b8f7660528e.gif)

[2021-01-28 11:58] cyildirim commented on #25617
@engcom-Bravo your steps seem correct. I'll try it again with my local and will update here. Till then you may try to create new grouped product and try with that though. i don't expect that's the actual issue. Because i remember used a new grouped product.

[2021-01-28 12:09] engcom-Bravo commented on #25617
Yes, already tried with a newly created Grouped product with default quantity per product(not sure if the default quantity is important). Still no error.

Thank you for the collaboration

[2021-01-28 12:49] engcom-Golf commented on #26484
Can not reproduce on 2.4-develop. This issue has been fixed in #31083.
Will close this one.

[2021-01-28 12:49] #26484 closed, assigned to nobody

[2021-01-28 12:50] hostep commented on #30507
So that's why they now also removed it from 2.3.6-p1 (which will be released on 9 February)? Only to add it back in 2.3.7? 😛
This is kind of a silly move (even though I think I understand the underlying process which causes this).

[2021-01-28 12:52] magento-engcom-team commented on #26484
Hi @Zyles, @engcom-Golf.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-31118` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-28 12:52] engcom-Alfa commented on #31869
Hi @nwcasebolt . Thank you for your report!

Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop.
Everything works as expected.

**Steps to reproduce:**
1. Create a Downloadable Product with a URLs for the "File" setting. In my case, the entity_id of the new product is 2051

![2021-01-28_14-46](https://user-images.githubusercontent.com/51679138/106140931-16b71880-6178-11eb-9

[2021-01-28 12:55] atty31 commented on #22753
This is still an issue on Magento 2.3.4 :(

[2021-01-28 13:07] engcom-Alfa commented on #31758
@esimov If the problem is reproduced on the 2.4.1 version and not reproduced on the 2.4-develop version then most likely this problem should not be in the release 2.4.2.
Can we close this issue?
Thanks!

[2021-01-28 13:48] engcom-Charlie commented on #31120
Hello, @martinshawruroc we can't reproduce the issue on the latest 2.4-develop having order with simple and virtual products placed via PayPal.
![Peek 2021-01-28 15-39](https://user-images.githubusercontent.com/51680850/106146793-cc399a00-617f-11eb-93ba-bd8cdb89adaf.gif)
Could you please take a look?
Thank you.

[2021-01-28 13:55] engcom-Alfa commented on #28161
@rhoerr .
We tried to reproduce the problem on 2.4-develop, but without success. Everything works well.

**Manual testing scenario:**

1. Create a coupon with a condition "Payment Method is Purchase Order"
2. Go to frontend checkout
3. Select 'Purchase Order' payment method;

**Actual Result:** :heavy_check_mark: Discount form does not display "Purchase order number is a required field." and `set-

[2021-01-28 14:02] rhoerr commented on #28161
Removing validation from the payment method's `validate()` method is an interesting way of fixing it, but I can confirm that'll work around the issue at least as it relates to the Purchase Order payment method.

I still submit it's a design flaw that should not have been introduced in the first place, since it completely defeats payment methods' validation interface. But that's a battle I'm never

[2021-01-28 14:44] nwcasebolt commented on #31869
Hi @engcom-Alfa. I would expect these results in a case where the entity_id and row_id are identical. Can you test this in a case where the entity_id and row_id are divergent? This is my use case.

If you still get good results, is there a possibility that there is a difference here between 2.3.3-p1 and 2.4? Thank you.

[2021-01-28 15:10] github-jira-sync-bot opened #31880 "Test GJSS MC"
Test

[2021-01-28 15:11] #31880 closed, assigned to nobody

[2021-01-28 16:36] paulvandermeijs opened #31881 ""the requested qty is not available" error for virtual product with Zero Subtotal Checkout and Automatically Invoice All Items enabled"
### Preconditions (*)

1. Magento version 2.3.6
2. Using a virtual product with a _Price_ of 0, _Manage Stock_ "Yes", and _Quantity_ of 1
3. Having _Zero Subtotal Checkout_ enabled with _New Order Status_ "Processing" and _Automatically Invoice All Items_ "Yes"

### Steps to reproduce (*)

1. Add the virtual product to the cart with a quantity of 1
2. Continue to checkout
3. Place order using _Zer

[2021-01-28 16:40] m2-assistant[bot] opened #31882 "[Issue] add snake case param name"
This issue is automatically created based on existing pull request: magento/magento2#31658: add snake case param name

---------

### Description (*)
If we created service interface when have method `public function importQty(object $productQty)`
after send bulk request via url rest/async/bulk/V1/my_module/qtyUpdate include body
`[
    {
        "product_qty": {
            "template_id": 11831,

[2021-01-28 17:11] magento-engcom-team commented on #30471
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40669` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-28 17:37] mrtuvn commented on #30656
Maybe we should target on widget plugin ? Obviously that should get current theme instead singleton instance

[2021-01-28 17:45] github-jira-sync-bot opened #31883 "Test GJSS MC"
Test

[2021-01-28 17:45] #31883 closed, assigned to nobody

[2021-01-28 17:47] magento-engcom-team commented on #31883
Hi @github-jira-sync-bot.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40281` was closed as `Fixed`.

[2021-01-28 17:47] github-jira-sync-bot opened #31884 "Test GJSS MC"
Test

[2021-01-28 17:49] #31884 closed, assigned to nobody

[2021-01-28 18:03] code4 commented on #30942
Hi,
I have a fresh installation of 2.4.1 and i am facing the same issue as described here.

[2021-01-28 20:23] engcom-Alfa commented on #30655
Hi @Anantkprajapati .
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop instance.

**Manual testing scenario:**
1. Create Simple product;
![Screenshot from 2021-01-28 22-20-43](https://user-images.githubusercontent.com/51679138/106194112-15591080-61b7-11eb-8d87-e849c38487ea.png)

2. Create a customer with an address like this:
![Screenshot from 2021-01-28 21-40-04](https

[2021-01-28 21:18] speedupmate commented on #28161
@engcom-Alfa  not sure if any of your team here got the issue and forgive me on commeting this and I mean no harm no offence etc just commenting this from the merchant and end user perspective:

1. a rest endpoint (set-payment-information) is called after rest endpoint is called
1.1. the latter rest endpoint happens to validates data and expects actual parameters dependant of payment method struct

[2021-01-28 21:19] BreezeMaxWeb-NS commented on #27477
Meep.

[2021-01-28 21:43] engcom-Delta commented on #30656
Hi @ericmorand thank you for your report.
If set `Schedule Design Update->New Theme=Magento Luma` for product and `Design Package/Theme=Magento Luma` for widget withType=Catalog Product List, widget is correctly displayed on product page
![image](https://user-images.githubusercontent.com/51681379/106202424-9669d500-61c2-11eb-9a8e-549150eb4e26.png)

Could you clarify how you set specific theme for

[2021-01-28 21:47] yutv commented on #27504
I confirm the issue can be reproduced on vanilla Magento:
 - 2.4-develop branch
 - recent commit 2a4641bdab1f53ab03ab7f0ca60f277b9746c812 by Wed Jan 27 19:09:48 2021 -0600
![image](https://user-images.githubusercontent.com/1616522/106202544-c31dec80-61c2-11eb-8db9-30845b9ce9e2.png)

[2021-01-28 22:57] JakobKjoller commented on #30194
I am having the same issues on ver. 2.4.1 + Elastic 7.

[2021-01-28 23:08] damienwebdev commented on #29980
Not stale.

[2021-01-28 23:37] speedupmate commented on #28161
@engcom-Alfa  So maybe it helps if we explain again what happens or why this issue is so important to get right, lets pick the process apart:

<img width="773" alt="Screenshot 2021-01-29 at 01 31 01" src="https://user-images.githubusercontent.com/623004/106211784-f2882580-61d1-11eb-8800-de6022715a29.png">

### 1. by default selecting a payment method evokes

https://github.com/magento/magento2/blo

[2021-01-29 01:03] mrtuvn commented on #30656
Have you check the case specific product set for schedule update theme luma and widget set for all product display at blank theme for example.? Expected result widget should not visible

[2021-01-29 01:10] mrtuvn commented on #29358
Burn amasty modules with fires !

[2021-01-29 01:12] mrtuvn commented on #29696
This problem still not resolve at my point of view

[2021-01-29 03:36] magepow opened #31887 "Can't remove samples link product downloadable."
### Preconditions (*)

1. Magento 2.4.1

### Steps to reproduce (*)
1. When you create a product downloadable and create samples link or simples file then you can't remove the all sample it. This error in Magento 2.4.1. It works fine in Magento 2.4.0

### Expected result (*)
1.
![image](https://user-images.githubusercontent.com/49830061/106228288-9e0a9780-621d-11eb-800c-d95ad48495c7.png)

### Actu

[2021-01-29 04:07] ParimalSigma commented on #28337
@magento-engcom-team Please provide some update on this issue

[2021-01-29 04:30] PivitParkour94 commented on #28384
Not sure what is blocking this. It's not a high priority, so @magento-engcom-team probably just aren't putting the resources into fixing it.

I suppose the best solution is to remove specific catalog rule website ids during an M1-M2 migration as this isn't an issue that will be fixed in the foreseeable future

[2021-01-29 04:44] ihor-sviziev commented on #30241
I think we should keep this issue open

[2021-01-29 04:50] ihor-sviziev commented on #29806
Hi @dverkade,
I understand the issue you have, but usually, when some data in the index has changed - we have to clean FPC for affected categories or products.
Do you have any thoughts on how we can implement your suggestion?

[2021-01-29 04:54] ihor-sviziev commented on #29735
I think this still valid, and as it's related to performance - I think it would be s2 p2.
@sidolov @sivaschenko, what do you think?

[2021-01-29 04:57] ihor-sviziev commented on #29421
@sidolov @sdzhepa, could you confirm that this issue in the Klarna module and not in Magento?

[2021-01-29 04:59] ihor-sviziev commented on #29409
Still actual

[2021-01-29 06:05] amenk commented on #28395
The question if this is a bug or intended behavior is still open.

[2021-01-29 06:06] amenk commented on #28636
Still an issue

[2021-01-29 06:38] Ckaneriya opened #31888 "Invalid argument supplied for foreach() in vendor/magento/module-catalog/Model/Category/DataProvider.php on line 398"
### Preconditions (*)

1. Magento v 2.3.6
2. PHP version 7.2.30
3. Hosting Provider: Nexcess

we have multistore setup

### Steps to reproduce (*)

1. Upgrade the Magento version from 2.3.1 to 2.3.6
2. After upgrading the version go to admin and open the Category page. (Catalog -> Categories)

### Expected result (*)

1. Should be able to view all the categories in the admin

### Actual result (*)

[2021-01-29 06:41] haunguyen1989 commented on #30192
We are still facing this issue at version 2.4.1.
If there is any feedback about it, thank you

[2021-01-29 06:41] haunguyen1989 commented on #30212
We are still facing this issue at version 2.4.1.
If there is any feedback about it, thank you

[2021-01-29 06:42] haunguyen1989 commented on #30213
We are still facing this issue at version 2.4.1.
If there is any feedback about it, thank you

[2021-01-29 06:49] xi-ao commented on #28239
This issue is not solved and several proposals here should be considered for the main branch.

[2021-01-29 06:54] Notranslator commented on #27993
Problem is still there. I am now creating a new 2.4.1 site and then move all data to this shop. I have to find out if the problem is then still there.

[2021-01-29 06:54] ioweb-gr commented on #26783
This should be looked at. It's not stale

[2021-01-29 07:20] ioweb-gr commented on #28119
This is bug that still exists, it's not stale.

[2021-01-29 07:23] ioweb-gr commented on #28207
This is seriously affecting dev experience. We don't want to show out of stock products in lists, but we may want to use those in certain situations. Programmatically altering a query the developer is writing just because the area is frontend automatically is not expected or documented behaviour

[2021-01-29 07:25] magento2dev commented on #27341
The issue stills exist on Magento 2.4

[2021-01-29 07:31] Serializator commented on #29403
@magento-engcom-team, I do not believe this issue should be closed because it is "stale", as such a comment so that it won't be closed. I think all information necessary is in the description of the issue. Please let me know if you need any more information!

[2021-01-29 07:41] gwharton commented on #29574
Not stale

[2021-01-29 07:44] PascalBrouwers commented on #28161
@engcom-Alfa did you also try other payment methods that require user input like credit card?

[2021-01-29 07:47] gwharton commented on #29859
Not stale

[2021-01-29 07:58] girishanand commented on #28161
Hello @PascalBrouwers , Just updating here as we use Paymetric (iframe within the site) we have issue there as well since it requires customer input for card information submitted from the site.

[2021-01-29 08:02] rahulanand77 commented on #31775
Hi @engcom-Bravo,

Do you have any update on the reported issue?

[2021-01-29 08:02] tuyennn commented on #28609
What a shame for the bot @magento-engcom-team @sidolov

[2021-01-29 08:17] YiffyToys commented on #31746
Closed the community-features#317 I created as it's a duplicate of this issues/31746.

What happens after "ready for grooming"? Brexit was 1 month ago, so people ARE loosing money
by refusing any orders <135GBP already.

(If "community-features" is the right place to handle this, we should reopen that and close this.)

[2021-01-29 08:17] igorwulff commented on #27559
This issue is still relevant....  a suggestion to fix this was added by @mattijv and should be checked by Magento.

[2021-01-29 08:18] bartoszkubicki commented on #27904
It should not be stale. It's need reviewing from @magento-engcom-team and decision if and how it can be fixed. My proposal is not catching an exception, so user is informed in console that something went wrong, not only in logs.

[2021-01-29 08:20] bartoszkubicki commented on #26866
This issue is still a bug, but needs reviewing from @magento-engcom-team, before any fixing.

[2021-01-29 08:32] NiklasBr commented on #28021
Still relevant

[2021-01-29 08:34] magento-engcom-team commented on #29409
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40673` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-29 08:36] krishprakash commented on #31887
@magento give me 2.4-develop instance

[2021-01-29 08:40] textarea commented on #26582
Keep it live please

[2021-01-29 08:41] norgeindian commented on #27849
@chirag-d-wagento , any news regarding this issue?

[2021-01-29 08:42] norgeindian commented on #27474
@monikav-dckap , any news regarding this issue?

[2021-01-29 08:43] Swahjak commented on #27264
As far as I can see, nothing has changed

[2021-01-29 08:44] hostep commented on #31746
I've been stalking some people on Magento's Slack (@maghamed & @sidolov) to make this a super high priority, unfortunately nobody can or wants to tell me the status at this point...

@gwharton is also currently implementing a feature similar to this himself for his own needs, he might share what he has but has no obligations to do so.

[2021-01-29 08:50] gwharton commented on #31746
In the next couple of days I'll be upping a module to github with a view to getting some help collaborating and testing a module that can serve as an interim solution until Magento adopt/implement their own long term solution.

[2021-01-29 08:52] chirag-d-wagento commented on #27849
@norgeindian integration test is remaining but i never write an integration test.

[2021-01-29 08:52] dverkade commented on #27039
Posting a comment. Issues should not be automatically closed.

[2021-01-29 08:53] dverkade commented on #29457
Issues should not automatically close. Posting this comment to keep it active.

[2021-01-29 08:53] magento-engcom-team commented on #31530
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40674` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-29 08:53] dverkade commented on #29975
Issues should not be closed automatically. Posting comment to keep it active.

[2021-01-29 08:53] ihor-sviziev commented on #29275
I think we should keep this one

[2021-01-29 08:55] magento-engcom-team commented on #31887
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40675` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-29 09:00] dverkade commented on #29806
Flushing of the caches could only occur when the index is set to "Ready" again. If the index fails flushing the caches should not occur.

[2021-01-29 09:01] mattijv commented on #28740
As far as I can see, this issue remains unsolved in the 2.4-develop branch.

I also very much criticize the Dev.Experience label as the problematic method is obviously working incorrectly, and is causing issues when using Magento UI components with completely valid time formats. Why is the method only formatting the day and year part of the format string, but not the month, even though the format

[2021-01-29 09:05] engcom-Bravo commented on #29403
Hello @Serializator

Thank you for your report.

We Confirm that the issue is reproducible on the latest 2.4-develop. Additional info is added to the Description.

[2021-01-29 09:07] magento-engcom-team commented on #29403
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40676` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-29 09:11] lbajsarowicz commented on #27065
Can you verify if #26484 resolved the issue?

[2021-01-29 09:14] lbajsarowicz commented on #27119
💥  Boom!

[2021-01-29 09:25] lbajsarowicz commented on #28406
💥  Boom!

[2021-01-29 09:41] mlambley commented on #29275
I was asked to write integration tests in my PR but never got around to it.

[2021-01-29 09:48] sumitvgupta opened #31889 "Cart page subtotal shows wrong when we back from multishipping"
### Preconditions (*)
1. Magento V2.4.1
1. PHP 7.3.24

### Steps to reproduce (*)
1. Add 2 or more items to the basket then go to the Multiple Addresses selection page
Like I have added 5 qty on the same product and selected the 1st address for 3 qty and 2nd address for 2 qty.
1. From the Address selection page I'm going to the next step of the shipping method selection.
1. Now go to the back on t

[2021-01-29 09:49] sumitvgupta commented on #31889
Issue Video: https://drive.google.com/file/d/15Z4zSqHJJ772Py6t75NNPQ36MLPt-Set/view

[2021-01-29 09:50] ihor-sviziev commented on #29275
@mlambley if you still can cover your changes with automated tests - please add them and re-open your PR. I'll review it

[2021-01-29 09:52] engcom-Bravo commented on #25078
The issue is already fixed in the latest 2.4-develop. No _PayPal Credit_ button in MiniCart, Checkout, Select Payment Method
![paypal](https://user-images.githubusercontent.com/51680745/106259743-4a517b80-6228-11eb-9435-7135bf2b2e53.png)

We are closing this issue.

[2021-01-29 09:52] #25078 closed, assigned to engcom-Bravo

[2021-01-29 09:54] magento-engcom-team commented on #25078
Hi @MichaelThessel, @engcom-Bravo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24937` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-29 09:59] magento-engcom-team commented on #31889
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40678` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-29 10:07] LiamKarlMitchell commented on #28698
Yes still a problem stale bot.

[2021-01-29 10:08] LiamKarlMitchell commented on #26949
@magento give me 2.4-develop instance

[2021-01-29 10:16] engcom-Charlie commented on #23552
Hello @FreekVandeursen could you please clarify Step 4?
`Create tax rules so that store_2 has different tax percentage than default store, e.g. 21% for default store and 19% for store_2`
Thank you.

[2021-01-29 10:22] engcom-Charlie commented on #21372
Hello @Stoyvo the issue is already fixed in the latest 2.4-develop.
Please feel free to comment, reopen or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for your collaboration.

Thanks for your report!

[2021-01-29 10:22] #21372 closed, assigned to engcom-Charlie

[2021-01-29 10:24] magento-engcom-team commented on #21372
Hi @Stoyvo, @engcom-Charlie.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24395` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-29 10:30] sodhancha commented on #31145
Magneto Support Reply:
_This issue will not be fixed as it is reproduced with AWS aurora replicas only.

It is not reproducible with 2.4-develop/mysql 8.0 and replica with innodb_read_only or super_read_only ON.
With this being the case, it is recommended to switch lock provider from db to zookeeper, or file._

[2021-01-29 10:50] engcom-Bravo commented on #27065
Hello @lbajsarowicz
Can you please provide an example of a request changing the store url?

Thank you in advance

[2021-01-29 11:07] barbazul commented on #31644
I can confirm this is happening on Magento 2.4.1

[2021-01-29 11:11] engcom-Alfa commented on #29574
@gwharton . The issue is still reproducible on fresh 2.4-develop.

**Steps to reproduce:**

1.  Install test module [testdynamicrows.zip](https://github.com/magento/magento2/files/5083702/testdynamicrows.zip)
2.  Go to the following page `https://<host>/admin/testdynamicrows/test/index/entity_id/1`
![Screenshot from 2021-01-29 13-09-06](https://user-images.githubusercontent.com/51679138/106268032-

[2021-01-29 11:13] barbazul commented on #31644
It looks like everything started with this commit https://github.com/magento/magento2/commit/91d61bdc5e5b85dcc5b51f7b539055e187a16790 which was meant to allow the multiline custom attributes to be saved

[2021-01-29 11:17] magento-engcom-team commented on #29574
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40680` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-29 11:17] LiamKarlMitchell commented on #26949
There is no Decimal Product Attribute in 2.4 develop.
![image](https://user-images.githubusercontent.com/1968109/106268655-448f8080-6290-11eb-87cb-7f5f143c8084.png)

How can I modify the attribute in the database?
Should not have to modify it in the DB anyway decimal should be an option that can be selected in the Admin right?

Useful for all sorts of things...
Sizes, Voltage, Amperage other units

[2021-01-29 11:47] github-jira-sync-bot opened #31890 "There is no space between rating stars and a review text in the case of long rating name"
**Preconditions:**
* Magento EE 2.4.0, EE 2.4.1 is installed
* A Simple Product is created
* Go to Magento Admin > Stores > Attributes > Ratings
* Open “Price” rating
* Default Value = Default Store View Price
* Default Store View = Default Store View Price
* Select “Default Store View” in the “Rating Visibility“ section
* Click “Save Rating” button
* Repeat above-mentioned steps for all available

[2021-01-29 11:48] victorpetryk commented on #31890
@magento I am working on this

[2021-01-29 11:52] magento-engcom-team commented on #28698
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40681` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-29 12:17] schmengler commented on #31468
@engcom-Delta I can't test on 2.4-develop right now, will see how it is with 2.4.2. But if it works that means, the following lines in the core are redunant now: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Csp/etc/di.xml#L81-L82

@AlexMaxHorkun you might want to check this out

[2021-01-29 12:17] magento-engcom-team commented on #21364
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-24135` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-29 12:26] ziofonta commented on #6858
still having this issue in 2.3.3 in filters (i.e. sales order grid filter)

[2021-01-29 13:18] yogesh-valiya opened #31891 "Order currency is used instead of bas currency in the shipping label for form"
When the store has multiple currencies and order is placed in any other currency rather than the base currency then this issue happens. The shipping label form uses order currency amounts instead of base currency amounts.
I checked further how different shipping carriers (checked in DHL, UPS, and FedEx) handles submitted custom amount. All of them treats received a custom amount as a base amount.

[2021-01-29 13:21] yvaliya commented on #31891
@magento give me 2.4-develop instance

[2021-01-29 13:25] basvanpoppel commented on #31088
As far as i see (and tested) this was fixed here: https://github.com/magento/magento2/commit/69c26af51b38754144eedf1ad73b44e479f4f29a

[2021-01-29 13:29] omaxmo commented on #31887
@magento I am working on this

[2021-01-29 13:34] ihor-sviziev commented on #26880
This need to be reviewed

[2021-01-29 13:47] engcom-Bravo commented on #30213
Hello @haunguyen1989

Thank you for your report.

With the provided settings, it is Expected that the product query returns price 0. As the _bundle02_ is displayed with price of _0_ on the Storefront, it would be a bug if the GraphQL query returned a different value
![front_graph](https://user-images.githubusercontent.com/51680745/106282282-0cb11a80-6249-11eb-9f16-2ca0ecdac356.png)

We are closing

[2021-01-29 13:47] #30213 closed, assigned to engcom-Bravo

[2021-01-29 14:14] engcom-Delta commented on #31286
@AngelsDustz sorry for delay. I used php 7.4 and mysql 8.0.22:
![image](https://user-images.githubusercontent.com/51681379/106283391-8bf31e00-624a-11eb-9ba9-69d832cc70d8.png)
![image](https://user-images.githubusercontent.com/51681379/106283347-7e3d9880-624a-11eb-918c-6631c37cf343.png)

Also I install magento on Ubuntu locally and don't use docker
Seems like its specific issue connected with your

[2021-01-29 14:43] MagicLegend commented on #31286
Could be, but I've had this issue consistently using the official magento cloud containers. I could post my full `Dockerfile` if you want.

[2021-01-29 15:28] gwharton commented on #31746
https://github.com/gwharton/autocustomergroup

[2021-01-29 15:30] gwharton commented on #31746
Be Gentle please. Issues/PR's welcome. If you want to collaborate, I'd be more than happy to open the repo to you if you think you can improve it. I'm not expert on either PHP or magento, so if anything looks dodgy, feel free to point it out, or improve it yourself and feed the changes back.

[2021-01-29 15:44] YiffyToys commented on #31746
Dynamically changing the customer group for each order of that customer. Sounds like a temporary workaround that could actually work until this ticket gets assigned and worked on to create a proper solution.

[2021-01-29 15:48] ihor-sviziev opened #31893 "Customer data is missing when big cookie lifetime is set"
### Preconditions (*)

1. Magento 2.3.6

### Steps to reproduce (*)

1. In the admin set cookie lifetime to 30 days (Admin >> Stores >> Configuration >> General >> Web >> Default Cookie Session >> Cookie Lifetime change to `2592000`)
2. Go frontend and login as a customer
3. Check cookie lifetime for the `mage-cache-sessid` and `section_data_ids` cookies (for me they both have a lifetime 1 day)
4.

[2021-01-29 15:48] ihor-sviziev commented on #31893
@magento give me 2.4-develop instance

[2021-01-29 15:57] ihor-sviziev commented on #31893
Can't reproduce on 2.4-develop.

[2021-01-29 15:57] #31893 closed, assigned to nobody

[2021-01-29 16:03] ihor-sviziev commented on #31893
Seems like this issue was fixed in https://github.com/magento/magento2/commit/d46adea2c3c3145fe8bc1f4d8907063b477c1726

[2021-01-29 16:31] alex-james opened #31896 "Backend Config File Upload - Invalid parameter given. A valid $fileId[tmp_name] is expected"
### Preconditions (*)

1. PHP 7.1.33
2. Magento 2.3.3

### Steps to reproduce (*)

1. Within the PHP environment ensure the sys_tmp_dir and upload_tmp_dir values are different
2. Login to the backend and upload a file using a system setting that uses the Magento\Config\Model\Config\Backend\File class, in my case it was within the Mageplaza StoreLocator v1.4.5 module Content > Store Locator > Confi

[2021-01-29 16:46] bmitchell-ldg commented on #30128
I disabled all of our custom modules and any 3rd party ones and it was still happening, it seems to be down to a plugin called afterUpdateMview in vendor/magento/module-indexer/Model/Processor/CleanCache.php

`/**
     * Update indexer views
     *
     * @param \Magento\Indexer\Model\Processor $subject
     * @return void
     * @SuppressWarnings(PHPMD.UnusedFormalParameter)
     */
    public fu

[2021-01-29 16:58] sodhancha commented on #30864
We have resoled this issue.

[2021-01-29 16:58] #30864 closed, assigned to nobody

[2021-01-29 17:24] fkukus opened #31898 "GraphQL mutation uptdateCartItems on configurable product with customizable options impossible"
### Preconditions (*)

1. Magento 2.4.1
2. Setup with the Luma's sample data
3. Connect to the back office to edit an existing _configurable product_ (ie: WT08)
4. Add a new Customizable Option like this:
* Option Title: More information
* Option Type: Area
* Required: unchecked
* Price: 0.00
* Price Type: Fixed
* SKU: more-information
* Max Characters: 0
5. Use your preferred graphql tool to do t

[2021-01-29 17:48] ci2014 commented on #30385
Same problem here. Doesn't work.

[2021-01-29 17:50] sdzhepa commented on #29421
Hello @ihor-sviziev
cc: @sidolov @JannMulton @lfluvisotto

Thank you for reminding this issue!
At the moment when I posted this https://github.com/magento/magento2/issues/29421#issuecomment-719003342 was not clear the root cause of this bug. In the comments was the response from Klarna support https://github.com/magento/magento2/issues/29421#issuecomment-671829461 and also arguments why it's not r

[2021-01-29 17:50] #29421 closed, assigned to nobody

[2021-01-29 17:51] magento-engcom-team commented on #29421
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-29 17:57] github-jira-sync-bot opened #31900 "Test GJSS MC"
Test

[2021-01-29 17:58] #31900 closed, assigned to nobody

[2021-01-29 17:59] #11995 closed, assigned to engcom-Kilo

[2021-01-29 18:00] #31342 closed, assigned to konarshankar07

[2021-01-29 18:00] #31343 closed, assigned to konarshankar07

[2021-01-29 18:42] m2-assistant[bot] opened #31902 "[Issue] Removed CliCacheFlushActionGroup usage for Catalog module"
This issue is automatically created based on existing pull request: magento/magento2#31901: Removed CliCacheFlushActionGroup usage for Catalog module

---------
### Description
Removed CliCacheFlushActionGroup usage for Catalog module

[2021-01-29 19:20] JeffersonTeixeira commented on #30211
The issue stills present but I was not able to fix it. I someone want to... I won't work on it anymore.

[2021-01-29 20:18] zexperto commented on #30753
I confirm that this solution is working well, but I do not suggest to roll back Magento changes but it is better to fix the xml file by adding those two arguments , this is worked for me

[2021-01-29 20:24] igormatkovic commented on #30194
Same issue: 2.4.1 + Elastic 7

[2021-01-29 21:16] sdzhepa commented on #26172
Updates for this issue:

This public issue report was closed by an automated system- bot which synchronized public and internal backlog.
It happened because internal ticket `MC-38686` was closed with _Wont Fix_ resolution
`MC-38686` has a huge thread of comments and discussions and linked tickets
Summary and main statements:
-	Functionality described in the issue and attribute(quantity_and_stock_s

[2021-01-30 01:49] leeclemens commented on #30583
@tope316 I came across this after a similar result regarding the httpOnly flag on an XSRF cookie. Did you ever resolve this?

I submitted an Exception to my PCI ASV with similar reasoning as @gabrieldagama provided (e.g. not session/security, breaks JS functionality by design). I just wanted to leave this note and plan to follow up once my vendor responds for any future Internet travelers.

[2021-01-30 04:36] ansari-krish commented on #31849
@magento I am working on this

[2021-01-30 05:55] dhairya-shah commented on #31461
@magento I am working on it

[2021-01-30 05:56] dhairya-shah commented on #31461
@magento add to contributors team

[2021-01-30 05:57] dhairya-shah commented on #31461
@magento I am working on it

[2021-01-30 06:08] Patelcc commented on #31630
@magento I am working on it

[2021-01-30 06:08] Patelcc commented on #31630
@magento add to contributors team

[2021-01-30 06:41] krishprakash commented on #31890
@magento give me 2.4-develop instance

[2021-01-30 06:56] Vipul-Aniya commented on #31881
Hi @paulvandermeijs. Thank you for your report.

@magento give me 2.4-develop instance to verify this issue.

[2021-01-30 07:25] ajaykumar03 commented on #31874
Hi deepanshuyadav87
Thank you for your report.

@magento Please provide  me 2.4-develop instance to verify this issue.

[2021-01-30 07:47] ajaykumar03 commented on #31874
@magento give me 2.4-develop instance

[2021-01-30 09:03] atIOCrON commented on #27452
Yes, bot, this issue still persists. No one has looked into it. Please have someone fix the bug, thanks.

[2021-01-30 09:05] atIOCrON commented on #27453
Yes, bot, this issue still persists. No one has looked into it. Please have someone fix the bug, thanks.

[2021-01-30 09:07] atIOCrON commented on #28272
Yes, bot, this issue still persists. No one has looked into it. Please have someone fix the bug, thanks.

[2021-01-30 09:51] Vipul-Aniya commented on #31881
I'm unable to reproduce the issue as provided steps by you. Kindly provide more details to reproduce this issue and confirm the issue is on 2.4-develop instance

[2021-01-30 10:01] urvashikrish commented on #31890
![REWIEW_SPACE_RATING](https://user-images.githubusercontent.com/61613739/106353375-15205880-6310-11eb-8696-7e58e6871817.png)
I am able to reproduce the issue on 2.4-develop instance

[2021-01-30 10:02] mrtuvn commented on #31888
Have you try update your version php to 7.3+

[2021-01-30 10:12] ajaykumar03 commented on #31874
@deepanshuyadav87  I'm unable to reproduce the issue as provided steps by you. Kindly provide more details to reproduce this issue and confirm the issue is on 2.4-develop instance

[2021-01-30 10:31] magento-engcom-team commented on #31890
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37941` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-30 10:49] sergeynezbritskiy commented on #31177
@magento I am working on this

[2021-01-30 11:25] Ckaneriya commented on #31888
@mrtuvn  No, I haven't tried to update the PHP version. I thought 2.3.6 should work with 7.2. Should I change the version?

[2021-01-30 11:33] mrtuvn commented on #31888
I'm not sure. Maybe some data related with your category save before not work after upgrade.
You can see this repo for reference php version

[2021-01-30 11:49] sergeynezbritskiy commented on #31177
Hi @sivaschenko I checked the ability to upgrade league packages
Here is what I've found:
1. package [league/flysystem-cached-adapter](https://github.com/thephpleague/flysystem-cached-adapter) has the highest tag [1.1.0](https://github.com/thephpleague/flysystem-cached-adapter/releases/tag/1.1.0) at the moment, and this the version we use right now, so nothing to update here
2. at the same time th

[2021-01-30 12:58] sergeynezbritskiy commented on #31177
FYI: created internal issue for league/flysystem-cached-adapter to track the progress https://github.com/thephpleague/flysystem-cached-adapter/issues/41
cc: @sivaschenko

[2021-01-30 17:33] #27678 closed, assigned to navarr

[2021-01-30 17:33] #7231 closed, assigned to nobody

[2021-01-30 17:33] #31628 closed, assigned to sergiy-v

[2021-01-30 17:33] #31844 closed, assigned to kate-kyzyma

[2021-01-30 17:40] sergeynezbritskiy commented on #31175
@magento I am working on this

[2021-01-30 17:46] sergeynezbritskiy commented on #31175
Hi @sivaschenko I've created the PR to php8-develop branch, but it is impossible to run `composer install` with php8 as per the description to this issue.
Too many packages still require php7, so I'm getting errors like this:
[code]

[2021-01-30 19:27] cyildirim commented on #25617
I am still able to reproduce the issue. Shared screen recording below. Steps seem pretty much the same. @engcom-Bravo
![image](https://user-images.githubusercontent.com/1422426/106366018-3b62ea00-634a-11eb-8217-c1d1c5ba3c2d.png)

[2021-01-30 20:03] victortodoran commented on #31088
The fix looks legit.

[2021-01-30 20:04] victortodoran commented on #31644
@barbazul thanks for taking the time to confirm this.

[2021-01-30 20:24] dholidev opened #31910 ""Quote does not have Pickup Location assigned." in Instant Purchase with Pickup Store"
Hello guys,

we developed a payment module with the Vault feature(https://github.com/dholidev/module-payu). Instant Purchase worked perfectly well with the other shipping methods, however, when using the new **"Pickup Store"** feature of **Magento 2.4.0**, it is not possible to finalize the purchase on the product page. We are getting the message **"Quote does not have Pickup Location assigned."**

[2021-01-30 20:36] tony-sar opened #31911 "Navigation Menu Child opens in different location"
Hello.
I been developing my site using magento 2 ( CE.2.4).
I have added Category and subcategories and the 4 level child subcategory opens in different location and is not accessible to mouse click ..
![Screen Shot 2021-01-29 at 10 43 36 PM](https://user-images.githubusercontent.com/34463591/106367397-60d30200-6310-11eb-98a9-ff1fb8d4917d.jpg)

as you can see on screen shot . Accessories is a chil

[2021-01-30 21:59] JKetelaar commented on #27139
Still the case

[2021-01-30 23:09] chequille opened #31912 "Allow to Choose State if It is Optional for Country not working!!!!"
### Preconditions (*)

1. Version 2.4.1
2.

### Steps to reproduce (*)

1. Set "Allow to Choose State if It is Optional for Country" to NO in configuration
2. Try checkout as guest and the field to select the state is still there

### Expected result (*)

1. Selection field for state should not be there
2.

### Actual result (*)

1. Field to select is there but it should not
2. By the way, it work

[2021-01-31 07:28] V0RTX commented on #9537
Just letting this feed know that I have the same problem with Magento 2.4 CE

[2021-01-31 09:32] sergeynezbritskiy commented on #31081
@sivaschenko I've ran the next command `vendor/bin/phpcs -p --standard=PhpCompatibility --extensions=php,phtml --ignore=./vendor/* .`
Here is the list of issues, I've found:
[report.txt](https://github.com/magento/magento2/files/5899449/report.txt)
There are tones of `PHPCompatibility.Miscellaneous.RemovedAlternativePHPTags.MaybeASPOpenTagFound: Possible use of ASP style opening tags detected. ASP

[2021-01-31 10:19] sergeynezbritskiy commented on #31081
After applying the PR [#31913](https://github.com/magento/magento2/pull/31913) the report is much more clear
[report.txt](https://github.com/magento/magento2/files/5899516/report.txt)

[2021-01-31 10:54] gwharton commented on #31745
https://github.com/gwharton/autocustomergroup

Interim solution.

[2021-01-31 12:30] magejar commented on #26371
Does anyone have any specific solution for this?

[2021-01-31 16:23] #30506 closed, assigned to mrtuvn

[2021-01-31 16:23] #31516 closed, assigned to AnnaAPak

[2021-01-31 16:23] #31647 closed, assigned to sergiy-v

[2021-01-31 16:23] #31169 closed, assigned to nikolalardev

[2021-01-31 16:23] #31524 closed, assigned to AnnaAPak

[2021-02-01 01:08] leeclemens commented on #30583
The ASV put my response as an Exception/False Positive and marked it Passed.

[2021-02-01 03:33] perfpcs commented on #30596
So I spent many many hours testing things this weekend and trying every possible combination of fixes. What I finally determined was the problem for me was having both my static files and media files on 2 different AWS Cloudfront Distributions. Here is what I determined this weekend:

1. #30629 this pull does actually work properly with large amounts of images, In my case over 2 million images. Th

[2021-02-01 04:33] bagbarn opened #31915 "Dependencies Conflict upgrading from CE 2.4.0 to 2.4.1"
### Preconditions (*)

1.2.4.0
2.

### Steps to reproduce (*)

1.php7.3 -d memory_limit=4G -d allow_url_fopen=1 composer.phar require magento/product-community-edition 2.4.1 --no-update
2.php7.3 -d memory_limit=4G -d allow_url_fopen=1 composer.phar update

### Expected result (*)

1. [Screenshots, logs or description]
2.Expect Composer to update to M 2.4.1

### Actual result (*)

1. [Screenshots,

[2021-02-01 05:59] alexgao-tinyme opened #31916 "conflict between legacy-build.min.js and jquery"
### Preconditions (*)

1. jQuery v1.12.4
2. Magento 2.3.6
3. Bootstrap v4.3.1

### Steps to reproduce (*)

1.Turn on Google Analytics. (the js file causing the error, legacy-build.min.js, is called from file vendor/magento/module-google-tag-manager/view/frontend/web/js/google-analytics-universal.js)
2. paste any bootstrap dropdown example code in Magento frontend page
3. click the dropdown to open

[2021-02-01 07:41] engcom-Delta commented on #31911
@magento give me 2.4-develop instance

[2021-02-01 07:57] engcom-Delta commented on #31911
Hi @tony-sar thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: 4 level child subcategory could be opened
![Peek 2021-02-01 09-53](https://user-images.githubusercontent.com/51681379/106429876-bc69d080-6473-11eb-9179-a7a18e6f0593.gif)

If you'd like to update the issue, please reopen it.

[2021-02-01 07:57] #31911 closed, assigned to nobody

[2021-02-01 08:05] martinshawruroc commented on #31120
Hi @engcom-Charlie, I've just tried this out on the latest branch and you are correct it does seem to be fixed. I've confirmed that the issue is present in 2.4.1 so I assume we'll get it in the next release. I'll close the issue.

[2021-02-01 08:05] #31120 closed, assigned to engcom-Charlie

[2021-02-01 08:07] magento-engcom-team commented on #31120
Hi @martinshawruroc, @engcom-Charlie.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39544` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-01 08:27] Hexmage commented on #30316
Still relevant.

[2021-02-01 08:36] engcom-Charlie commented on #25872
I'm closing this issue now due to inactivity.
Please feel free to comment, reopen or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for your collaboration.

Thanks for your report!

[2021-02-01 08:36] #25872 closed, assigned to nobody

[2021-02-01 09:20] tony-sar commented on #31911
Thanks.
I have recently moved my Database from localhost to remote database server . everything that end seems to be working. however, in admin > catalog . i sorted the categories by dragging and dropping them in right order. current category structure is not the same in category selection in Add products section of magento .. select category shows the old structure , is this a issue ?
Only option

[2021-02-01 10:03] chequille opened #31917 "Different Checkout Logic for better guest checkouts"
### Description (*)

As a matter of facts, Magentos philosophy is to first ask for the shipping address and this is causing confusion if a customer wants to ship something to a different address.
If a customer did register to the system it is not a big problem, because billing address is already stored in his account. Starting with the shipping address in this case is OK and he can add a different

[2021-02-01 10:28] magento-engcom-team commented on #27039
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40699` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-01 10:48] gabrieldagama commented on #25617
Hi @cyildirim, I'm also not able to reproduce it locally but I've done some investigation on this. From what I could see locally with vanilla Magento installed we have the following scenario:

The Layout XML used when the email is sent is:
`app/code/Magento/GroupedProduct/view/frontend/layout/sales_email_order_creditmemo_renderers.xml`
[code]

In this case, the block above extends `Magento\Sales\B

[2021-02-01 11:10] robsch commented on #29681
Why stale? Do you need more information?

[2021-02-01 11:24] cyildirim commented on #25617
Hi @gabrieldagama ,

I've already raised a PR to solve this there is a discussion around that as well. I appriciate if you can share your ideas in there as well. https://github.com/magento/magento2/pull/31819.

As far as i can see in the code base it extends `\Magento\Sales\Block\Order\Email\Items\Order\DefaultOrder` not `Magento\Sales\Block\Order\Email\Items\DefaultItems`. Am i missing something

[2021-02-01 11:24] engcom-Bravo commented on #25617
Hello @cyildirim thank you for the provided attachment.

From what I can see is that you are using Magento 2.3.5.
We have rechecked this issue on Magento 2.3.5-p1 on the Turkish locale and indeed, the issue is reproducible. Please see the attachments
![mail_server_error_500](https://user-images.githubusercontent.com/51680745/106451582-74f13d80-648f-11eb-8e56-61989bf68655.png)
![mail_server_error_s

[2021-02-01 11:28] cyildirim commented on #25617
@engcom-Bravo ok my bad. i am using 2.3.5. I'll make sure it's not happening on 2.4 and will update here.
[code]

[2021-02-01 11:36] cyildirim commented on #25617
Sharing for referenece. this issue is already fixed in here https://github.com/magento/magento2/pull/26246

[2021-02-01 11:39] gabrieldagama commented on #25617
Thanks for following up on it @cyildirim! I will be closing this issue and the PR opened to fix it.

[2021-02-01 11:39] #25617 closed, assigned to arnoudhgz, engcom-Bravo

[2021-02-01 11:47] magento-engcom-team commented on #29365
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40700` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-01 12:17] #11374 closed, assigned to nobody

[2021-02-01 12:18] ilya-kush commented on #15609
Actually, I experiace this issue at 2.4 also.

[2021-02-01 12:40] ihor-sviziev opened #31920 "JS error in the customer data"
Originally this issue was reported in https://github.com/magento/magento2/commit/5983e1733d56b1b2f15fb4f0e64094a3a4f3145d#commitcomment-44080850 by @HenKun.

The following commit https://github.com/magento/magento2/commit/5983e1733d56b1b2f15fb4f0e64094a3a4f3145d leads to similar issues described in https://github.com/magento/magento2/pull/24847.

### Preconditions (*)

1. Magento 2.4.1, or 2.4-dev

[2021-02-01 12:42] #30708 closed, assigned to nobody

[2021-02-01 12:45] engcom-Alfa commented on #31735
Hi @atulcodex . This may be due to a problem with permissions. Please take a look for [File systems access permissions](https://devdocs.magento.com/guides/v2.4/config-guide/prod/prod_file-sys-perms.html)

[2021-02-01 12:50] engcom-Alfa commented on #31735
Hi @shariqshahab we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-01 12:50] #31735 closed, assigned to engcom-Alfa

[2021-02-01 12:55] zcuric commented on #25862
@hubertus2017 05.02.2020. is release day for 2.4.2. Hope this get's fixed, we are having a lot's of problems because of this.

[2021-02-01 12:56] msiewierska opened #31921 "Persistent shopping cart allow to use restricted coupons for not logged in users"
### Preconditions (*)

1. Magento 2.4.1
2. Enabled Persistent Shopping Cart

### Steps to reproduce (*)

1. In _Marketing -> Cart Price Rules_ add a coupon that applies only for logged in user (General customer group), for example 10% discount for the whole cart
2. In _Stores -> Configuration -> Customers -> Persistent shopping cart_ set the following configuration: Enable Persistence- Yes, Clear

[2021-02-01 13:00] vijay-prevaj commented on #31741
@engcom-Alfa  I able to replicate the issue in Magento fresh enterprise edition (2.4.1). Here is the operation status response.

`{
  "operations_list": [
    {
      "id": 1,
      "bulk_uuid": "b82119f4-4587-43a3-86be-e7faebb291a6",
      "topic_name": "async.magento.catalog.api.productrepositoryinterface.save.post",
      "serialized_data": "{\"entity_id\":null,\"entity_link\":\"\",\"meta_infor

[2021-02-01 13:15] prashantvictory commented on #31117
@magento-engcom-team could you please advise if this can be shipped with upcoming 2.4.2?

[2021-02-01 14:13] engcom-Bravo commented on #31921
Hello @msiewierska

Thank you for your report

When the _Clear Persistence on Sign Out_ is set to _No_ it means that the shopping cart is saved when a registered customer logs out. It is not going to be updated because the Customer Logged Out. The discount has been applied while the Customer was still Logged In.
This is the Expected behavior in this case.

We are closing this ticket. Please feel f

[2021-02-01 14:13] #31921 closed, assigned to engcom-Bravo

[2021-02-01 14:17] engcom-Alfa commented on #26557
Hi @monotheist . Thank you for your report!
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop instance. Everything works as expected.

**_Preconditions:_**

1. Magento 2.4-develop;
2. Varnish 6
3. Redis
![Screenshot from 2021-02-01 16-01-07](https://user-images.githubusercontent.com/51679138/106468849-218ae980-64a7-11eb-9409-63f2b22fa790.png)

**Manual testing scenario:*

[2021-02-01 14:17] #26557 closed, assigned to engcom-Alfa

[2021-02-01 14:37] engcom-Bravo commented on #31920
Hello @ihor-sviziev

Thank you for your report. We Confirm that the issue is reproducible on the latest 2.4-develop. Additional info is added to teh description.

[2021-02-01 14:39] magento-engcom-team commented on #31920
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40701` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-01 14:44] chequille opened #31923 "PayPal Express does not allow changing billing address"
### Preconditions (*)
1. Magento 2.4.1
1. h3. Steps to reproduce (*)
1. Reproducing is easy, just enable PayPal as Payment and try to make an order.
1. When selecintg PayPal as payment, there it is not possible to change the billing address as it is with other payment methods.

### Expected result (*)
1. Checkbox with billing address = shipping address should be there to be able to change the bill

[2021-02-01 14:46] convenient commented on #30915
@sasha19957099 How does this work for `Mutation` and `Query` types?

https://github.com/magento/magento2/blob/fbfac3e51730abe2b79c6072544bc9742fcf7606/app/code/Magento/CustomerGraphQl/etc/schema.graphqls#L17-L18

For example would the above show as `GraphQL-Mutation` or `GraphQL-generateCustomerToken`?

Thanks

[2021-02-01 15:04] chequille commented on #31923
Additional information:
I have this in my paypal-express.html:
        <div class="payment-method-billing-address">

        </div>
But it is not rendered.
Please check this and make it working. It is a mandatory feature!!!!!

[2021-02-01 15:19] sivaschenko commented on #31778
@magento run all tests

[2021-02-01 15:43] #13774 closed, assigned to nobody

[2021-02-01 15:45] magento-engcom-team commented on #13774
Hi @QKChris.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-30195` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-01 15:49] magento-engcom-team commented on #31891
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40702` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-01 16:24] MarksAfanasevics commented on #31758
@esimov we have similar problems with our 2.4.1 Magento, sorting by position works really weird way.
Can you tell which exactly variable is empty in you case, in module-elasticsearch-7/SearchAdapter/Adapter.php?

[2021-02-01 17:03] ajijshekh123 commented on #31923
@magento give me 2.4-develop instance

[2021-02-01 17:24] ajijshekh123 commented on #31923
Hello @chequille,
The issue has been reproduced on the latest Magento 2.4 Instance.
"My billing and shipping address are the same" options are not showing while the user selects the "PayPal Express Checkout" Payment method. But When the user selects the other payment method like "Check Money Order", "My billing and shipping address are the same" options are properly showing.

**See attached both s

[2021-02-01 17:26] magento-engcom-team commented on #31923
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40707` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-01 18:13] #31781 closed, assigned to vlmed

[2021-02-01 18:40] sivaschenko commented on #31177
Thanks for the detailed investigation @sergeynezbritskiy ! Yes, we have to wait until `league/flysystem-cached-adapter` version compatible with `league/flysystem:^2.0` will be released to update all 3 packages.

[2021-02-01 18:43] sivaschenko commented on #31175
Hi @sergeynezbritskiy thanks for the PR! We will not be able to test Magento on PHP 8 until all dependencies are updated, at the current stage we need to ensure the new package versions are functional on currently supported by Magento PHP versions `~7.3.0||~7.4.0`

[2021-02-01 18:46] sivaschenko commented on #31081
Thanks for the report @sergeynezbritskiy ! Added to the description

[2021-02-01 19:09] chequille commented on #31923
Solution:
adding the following code to paypal-express.html in modul-paypal/view/frontend/web/template/payment
[code]
                                                                        <item name="paypal_express" xsi:type="array">
                                                                            <item name="isBillingAddressRequired" xsi:type="boolean">**true**</item>

[2021-02-01 19:40] magento-engcom-team commented on #30316
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40710` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-01 19:48] #30765 closed, assigned to nobody

[2021-02-01 19:48] #23615 closed, assigned to nobody

[2021-02-01 19:48] #22859 closed, assigned to nobody

[2021-02-01 19:50] magento-engcom-team commented on #23615
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-01 19:50] magento-engcom-team commented on #22859
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-01 21:25] #31778 closed, assigned to vlmed

[2021-02-01 21:36] arzezniczak commented on #8538
I have the same issue on 2.2.8

Regards,
Adrian

[2021-02-01 21:52] nemke82 commented on #13225
And if a folder does not exist (pub/static/_cache), Magento creates _cache folder in var/tmp directory which grows unlimited.

var/tmp $ ls
**_cache**

Is fix only to create the folder manually or?

[2021-02-01 23:54] d-rowton opened #31927 "CAN NOT ACCESS OR PRINT SHIPPING LABEL"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2021-02-02 01:34] mrtuvn commented on #27738
not stale

[2021-02-02 03:37] mrtuvn commented on #27285
Not stale
I also can reproduced issue like description

[2021-02-02 03:54] vipinrv opened #31928 "Magento2.4 Plugin installation issue"
![Screenshot from 2021-02-02 09-23-04](https://user-images.githubusercontent.com/11312457/106550034-4da27b00-6538-11eb-9945-e326ab6622d5.png
php bin/magento module:enable Sparsh_EasyProductTabs : Comment did not run. Who to fix this

[2021-02-02 05:05] ajijshekh123 commented on #31927
Hello @d-rowton,
Please add proper issue steps, actual result, and expected result. I can't able to reproduce the issue without detailed information.
Thanks.

[2021-02-02 06:59] engcom-Alfa commented on #31928
Hi @vipinrv, thank you for your report.

The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2021-02-02 06:59] #31928 closed, assigned to engcom-Alfa

[2021-02-02 07:25] sactor commented on #26333
This issue is still relevant. I want to use the Finnish language pack, but there are a lot of translations in it that are non-translated (they are still English to English) and because they exist in the language pack, I can't override them in a module. I can override them in theme, but as mention earlier, API requests don't use translations from a theme.

I _could_ copy the language pack and modif

[2021-02-02 09:28] Coosos commented on #29052
Hello @engcom-Delta

I will watch as soon as I can

[2021-02-02 09:43] engcom-Bravo commented on #31912
Hello @chequille

Thank you for your report.

According to the [documentation](https://docs.magento.com/user-guide/stores/state-options.html#set-up-the-state-options) when  _Allow to Choose State if It is Optional for Country_ is set to _No_ it means that "In countries where the state field is not required, omits the State field."
For example, for the Countries like Albania, Australia, United Stat

[2021-02-02 09:43] #31912 closed, assigned to krishprakash

[2021-02-02 09:52] ihor-sviziev commented on #31893
@magento give me 2.4-develop instance

[2021-02-02 09:52] ihor-sviziev commented on #31893
@magento give me 2.4-develop instance

[2021-02-02 10:03] #30143 closed, assigned to nobody

[2021-02-02 10:03] #30772 closed, assigned to nobody

[2021-02-02 10:05] magento-engcom-team commented on #30143
Hi @wassuupp.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37950` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-02 10:05] magento-engcom-team commented on #30143
Hi @wassuupp.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37949` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-02 10:09] o0mohd0o opened #31932 "Configurable Product not showing in product page"
I have an issue with Configurable product are not showing in product page

I had look to system.log

I found this error

main.CRITICAL: Class Magento\Swatches\ViewModel\Product\Renderer\Configurable does not exist [] []

Actually I went to config.php to check if there are extension disabled.
'Magento_ConfigurableProduct' => 1,
'Magento_ConfigurableProductSales' => 1,
'Magento_InventoryConfigurable

[2021-02-02 10:36] tzyganu commented on #27354
Yes, this is still relevant. It's not very high priority as a work-around can be done fast, but it's still relevant.
No, there is nothing more I can do to help move forward. I reported the issue in a very clear way (in my opinion). That's the best I can do.

[2021-02-02 10:59] engcom-Delta commented on #31932
Hi @itc4u thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develo seems like this related to your custom modules. I didn't find plugin with name 'ddg_customer_sendNewAccountEmail_disabler' in magento core files
**Result:**
:heavy_check_mark: Configurable product page is opened without error
![image](https://user-images.githubusercontent.com/51681379/10

[2021-02-02 10:59] #31932 closed, assigned to nobody

[2021-02-02 11:11] engcom-Alfa commented on #31747
Hi @Alainvdz99  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-02-02 11:11] #31747 closed, assigned to engcom-Alfa

[2021-02-02 11:31] PascalBrouwers commented on #17378
Came here for the same issue, problem is when you import a product with a sku that is not lowercase. That product will get a new product_id and the whole `$this->deleteOldUrls($urls);` does not work then and you get the error.

[2021-02-02 11:32] cstergianos commented on #26377
@diazwatson @magento-engcom-team this issue breaks Magento 2.3.6-p1 upgrade on PHP 7.2 while it is supposed to be compatible. You cannot access the frontend at and I was able to confirm in two internal projects. The exception you get is:
`InvalidArgumentException: Failed to set ini option "session.cookie_samesite" to value "Lax".`

In order to resolve this, I switched to PHP 7.3 and used the verit

[2021-02-02 11:36] harrigo commented on #12679
For me this was similar to everyone with configurable products breaking the window.checkoutConfig json giving a unexpected token error. This was called in the shipping template as mentioned and uses the getSerializedCheckoutConfig function from Magento\Checkout\Block\Cart\Shipping class.

shipping.phtml
 window.checkoutConfig = <?= /* @escapeNotVerified */ $block->getSerializedCheckoutConfig() ?>;

[2021-02-02 11:45] sunilit42 commented on #31758
@MarksAfanasevics  i m faced similar issue and finally debug more than 1 day and found issue due to WeltPixel_GoogleTagManager

Hope it will help you

[2021-02-02 11:53] engcom-Bravo commented on #27993
Hello @Notranslator

Thank you for your report.

We have rechecked the reported issue on the latest 2.4-develop
The `catalog_inventory_stock_status` table contains 1 record with _Stock Status_ - 0 :heavy_check_mark:
![stock status](https://user-images.githubusercontent.com/51680745/106595551-63c23280-655c-11eb-8af2-cb96538e598b.png)

The `catalog_product_index_eav` contains one record, no matter w

[2021-02-02 11:53] #27993 closed, assigned to engcom-Bravo

[2021-02-02 12:11] DavidLambauer commented on #7084
As far as I can see, there is a REST Endpoint for getting at least the status of a particular order. Trying out this API leads to a 200 response with no body. Not sure what this does...

![image](https://user-images.githubusercontent.com/1841317/106598448-06c47d80-6558-11eb-8d9a-75a4cf1ac187.png)

[2021-02-02 12:18] engcom-Bravo commented on #30212
Hello @haunguyen1989

Thank you for your report.

We confirm that the issue is reproducible on the latest 2.4-develop. Additional info is added to the description.

[2021-02-02 12:26] engcom-Bravo commented on #28662
We are closing this issue as it is not reproducible on the latest 2.4-develop

[2021-02-02 12:26] #28662 closed, assigned to engcom-Bravo

[2021-02-02 12:39] MarksAfanasevics commented on #31758
@sunilit42, we don't use currently WeltPixel_GoogleTagManager, we removed it some time ago, but we still use WeltPixel_OwlCarouselSlider with WeltPixel_Backend, can you give me more technical information what was wrong and how you fixed it?

[2021-02-02 12:45] engcom-Bravo commented on #31163
Hello @rama-tm

As we can not deliver a fix into an already released version 2.3.4, and the issue is not reproducible on 2.4-develop - we have to close this ticket.
Thank you for your collaboration and quick responses.
Please feel free to comment and share any updates on the issue.

[2021-02-02 12:45] #31163 closed, assigned to krishprakash, engcom-Bravo

[2021-02-02 12:55] esimov commented on #31758
@MarksAfanasevics when sorting by the position attribute and printing out the query result from the SearchAdapter class (line 115) is resulting always in an empty array.

[2021-02-02 12:56] sunilit42 commented on #31758
@MarkADurham
in our case we are WeltPixel_GoogleTagManager and it is calling WeltPixel\GoogleTagManager\Block\Category.php and that create issue, but after upgrade it is fixed

So in your case may be some other module
go to this file Magento\Elasticsearch7\SearchAdapter\Adapter.php

`public function query(RequestInterface $request) : QueryResponse
    {
    	foreach(debug_backtrace() as $t) {

[2021-02-02 13:00] engcom-Delta commented on #31915
Hi @bagbarn thank you for your report, I'm not able to reproduce issue by steps you described.
**Result:**
:heavy_check_mark: `composer update` is end without errors while upgrading from 2.4.0 to 2.4.1 on php7.3
![Screenshot from 2021-02-02 14-51-35](https://user-images.githubusercontent.com/51681379/106603467-fd8edd00-6566-11eb-8f17-4aa63c8bec7a.png)
![image](https://user-images.githubusercontent

[2021-02-02 13:46] bagbarn commented on #31915
thanks for the help,  I have not installed the Composer update plug in and will install it before attempting again

    On Tuesday, February 2, 2021, 8:00:54 AM EST, Vasyl Shvorak <notifications@github.com> wrote:

Hi @bagbarn thank you for your report, I'm not able to reproduce issue by steps you described.
Result:
 ✔️ composer update is end without errors while upgrading from 2.4.0 to 2.4.1 on p

[2021-02-02 14:03] aleksandragozdek opened #31934 "order of variations"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2021-02-02 14:04] aleksandragozdek commented on #31934
Hi, how to change order of variations on Magento admin panel?

[2021-02-02 14:05] convenient commented on #28195
Just because an issue has not been fixed does not mean it does not exist?

[2021-02-02 14:19] engcom-Delta commented on #28272
Hi @atIOCrON thank you for your report.
Starting from `2.4.0` release, code related to this payment was removed from Magento code-base:
[Magento Open Source 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-open-source.html)

All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento

[2021-02-02 14:19] #28272 closed, assigned to nobody

[2021-02-02 14:22] engcom-Delta commented on #27452
Hi @atIOCrON thank you for your report.
Starting from `2.4.0` release, code related to this payment was removed from Magento code-base:
[Magento Open Source 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-open-source.html)

All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento

[2021-02-02 14:22] #27452 closed, assigned to nobody

[2021-02-02 14:32] github-jira-sync-bot opened #31935 "[Atwix] Products query filtering with url-key has issues with Grouped Product"
Issue with the `products` query when filtering strictly on `url*key`. The query below returns not only the SimpleProduct with the specified `url_key` but also the GroupedProduct (with different `url*key`) containing it.
{
  products(filter:\{url_key:{eq:"augusta-earrings"}})
  \{items{*_typename,sku,url*key,name}}
}
response:
{
  "data": {
    "products": {
      "items": <
        {
          "__

[2021-02-02 14:54] thomas-kl1 commented on #30596
Right now I don't see the correlation between the base_url of statics and media and the filesystem lookup. Do you have many environments where sometimes you have NAS or EFS?

[2021-02-02 14:56] m2-assistant[bot] opened #31937 "[Issue] Removed CliCacheFlushActionGroup usage for Sales module"
This issue is automatically created based on existing pull request: magento/magento2#31936: Removed CliCacheFlushActionGroup usage for Sales module

---------
### Description
Removed CliCacheFlushActionGroup usage for Sales, SalesRule, Search, Shipping and Store modules.

[2021-02-02 15:25] kanduvisla opened #31939 "Internal admin notifications are always stored"
The current way of how admin notifications are processed completely ignores if a message is internal or not. See the following code snippet that is used in `Magento\AdminNotification\Model\Inbox::add()`:

[code]
The above snippets sets `internal` to `true` or `false` (according to `$isInternal`). However, if you look at the implementation later on on how it's used:
[code]
It simply checks if the p

[2021-02-02 15:25] kanduvisla commented on #31939
@magento I am working on this

[2021-02-02 15:30] yvaliya commented on #31891
@magento I am working on this

[2021-02-02 16:44] Krielkip opened #31943 "Customer Register validation stops new submission form after error"
### Preconditions (*)
1. Use Clean Magento 2.4.1 installation

### Steps to reproduce (*)
1. Go to register page (customer/account/create/)
2. (OPTIONAL) Fill in all fields, but different passwords
3. Press on register
4. See error by validation
5. Try to fill in write
6. Send form again

### Expected result (*)
1. Possible to send the form

### Actual result (*)
1. Not possible to resend. Registe

[2021-02-02 16:47] engcom-Hotel commented on #30769
Closing the issue due to inactivity.
Feel free to reopen it if you can reproduce it.

[2021-02-02 16:47] #30769 closed, assigned to engcom-Hotel

[2021-02-02 16:49] magento-engcom-team commented on #30769
Hi @SalesFC, @engcom-Hotel.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39357` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-02 16:49] MarksAfanasevics commented on #31758
@esimov
![image](https://user-images.githubusercontent.com/62943480/106632647-a8fb5a00-6586-11eb-843d-cdf0ae1826f6.png)
In my case 115 line don't have any info. I checked $query variable, there is no order data, only sort data, which always is empty (other sorting works as desired).
`Array
(
    [index] => magento2_product_1
    [type] => document
    [body] => Array
        (
            [from] =

[2021-02-02 17:06] hostep commented on #3650
Untested, but you can probably remove the luma theme using a composer trick:

1. Add the following to your `composer.json` file, or merge it in the already existing `replace` section:
[code]
2. Run `composer update magento/theme-frontend-luma`
3. Run `bin/magento setup:upgrade`

This might work, but as mentioned above, I haven't actually tested this.

[2021-02-02 17:11] krishprakash commented on #31934
Hi @aleksandragozdek. Thank you for your report.
GitHub issue tracker is intended for Magento core technical issues only
Kindly refer community forum or Magento stack exchange for general discuss about this topic

[2021-02-02 17:11] #31934 closed, assigned to krishprakash

[2021-02-02 17:14] gabrieldagama commented on #29735
We were discussing this issue at our Public Community Triage meeting. @ihor-sviziev we agree on P2 as a priority. But we believe there is probably more discussion needed on the proposed solution.

[2021-02-02 17:16] sdzhepa opened #31945 "Test Confirmation and Create Jira ticket"
Test issue

 

test sync

[2021-02-02 17:22] krishprakash commented on #31943
@magento give me 2.4-develop instance

[2021-02-02 17:23] gabrieldagama commented on #28395
Hi @amenk, as described on the https://devdocs.magento.com/guides/v2.4/get-started/gs-web-api-request.html#endpoints when no store is provided the default store will be used, to have the API affecting all stores you should use the `all` keyword on your request, as you mentioned previously.

This is the desired behavior and not a bug. Thanks for reporting!

[2021-02-02 17:23] #28395 closed, assigned to engcom-Delta

[2021-02-02 17:31] hostep commented on #29235
@nathanjosiah: can we have somebody review this, and based on the findings figure out a fix or close the issue?
This sounds like quite an important issue in my opinion.

[2021-02-02 17:38] bkey88 opened #31946 "Images are not uploading."
### Preconditions (*)

1. I am experiencing an issue uploading new images to my directory.

### Steps to reproduce (*)

1. I tried to insert an image in a page I am updating and keep running into the same error.
2.  I have also tried to create a new page along with a new folder and have experienced the same error.

### Expected result (*)

1. I expected to have my image uploaded.

### Actual resul

[2021-02-02 17:47] m2-assistant[bot] opened #31947 "[Issue] Change description of NewRelic configuration"
This issue is automatically created based on existing pull request: magento/magento2#31944: Change description of NewRelic configuration

---------
### Description (*)
Change description of NewRelic configuration as it is not representing real feature.

Currently extension created own APP for each Area code if this option is enabled.

https://github.com/nuzil/magento2/blob/patch-1/app/code/Magento

[2021-02-02 17:57] m2-assistant[bot] opened #31948 "[Issue] Do not send an ajax request if there no affected sections"
This issue is automatically created based on existing pull request: magento/magento2#31933: Do not send an ajax request if there no affected sections

---------
### Description (*)
In the customer data, we have a handler for all ajax requests. If we have some custom JS that sends POST, PUT or DELETE request, it tries to send a request to the backend to reload affected sections. As we had such a re

[2021-02-02 18:29] #22939 closed, assigned to nobody

[2021-02-02 18:31] magento-engcom-team commented on #22939
Hi @navinbhudiya.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24406` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-02 18:49] caricell commented on #29964
Can anyone please verify that this issue is fixed in M 2.42 ?
We have 2.41 with this issue and have disabled CSP module, which seems to work so far.
However, I do not see in 2.42 release notes that this issue is permanently fixed.

Can anyone advise please?
Thanks!

[2021-02-02 19:15] sdzhepa commented on #31945
@magento confirm issue

[2021-02-02 19:16] sdzhepa commented on #31945
@magento confirm issue

[2021-02-02 19:25] thai2301 commented on #29540
still in Magento 2.4.1

[2021-02-02 19:50] hostep commented on #29964
@caricell: I have access to the pre-release of 2.4.2 and can confirm that the commit @gwharton [linked to before](https://github.com/magento/magento2/issues/29964#issuecomment-717546823) is included in there, but indeed it (`MC-37799`) doesn't appear to be included in the release notes of 2.4.2 which is strange.
I've alerted the person in charge of the release notes, hopefully she'll be able to fi

[2021-02-02 19:54] perfpcs commented on #30596
@thomas-kl1 I am not sure I really understand your question. But many shops use Cloundfront, Cloudflare, Fastly, etc for CDN of static and media. All I can report is that when changing the URLs in the General/Web Magento settings pointing to the CDN server vs the local server url's, for both my Magento 2.41 projects, the gallery does not work at all using your 2 files.  I don't know why though, so

[2021-02-02 19:59] caricell commented on #29964
Hello Pieter and thanks so much for your response!

This OOM issue has been plaguing myself and my developer since we upgraded to 2.41.

If you could let me know what you find out about why it was not included in the release notes, I would certainly appreciate it!!!

Thank you!

Larry

From: Pieter Hoste <notifications@github.com>
Sent: Tuesday, February 2, 2021 2:51 PM
To: magento/magento2 <magen

[2021-02-02 19:59] caricell commented on #29964
Thank you so much!
I look forward to hear your findings!

[2021-02-02 20:02] lagunacellar commented on #29964
We've been running 2.4.2.  Can confirm this issue is resolved.

[2021-02-02 20:09] caricell commented on #29964
Thank you as well, laguna. I guess they just missed it in the release notes.

[2021-02-02 20:12] hostep commented on #29964
I got confirmation that it will be included in the release notes soon 🙂

[2021-02-02 20:20] caricell commented on #29964
Thanks again!

Larry

From: Pieter Hoste <notifications@github.com>
Sent: Tuesday, February 2, 2021 3:13 PM
To: magento/magento2 <magento2@noreply.github.com>
Cc: caricell <larry@larryscohen.com>; Mention <mention@noreply.github.com>
Subject: Re: [magento/magento2] Magento 2.4 critical load of RAM triggering OOM killer due to CSP module 100.4.0 (#29964)

I got confirmation that it will be included

[2021-02-02 20:31] schensley commented on #30835
@magento-paas-bot give me 2.4.1 instance

[2021-02-02 20:54] thomas-kl1 commented on #30596
what is actually interesting is that you say the directory tree works (which the two PR tend to fix). So your issue is about filters and images when CDN is used, right?

[2021-02-02 20:57] fooman commented on #28161
👍

[2021-02-02 21:02] schensley commented on #30835
@magento-paas-bot give me 2.4.1 instance

[2021-02-02 21:02] schensley commented on #30835
@magento give me 2.4.1 instance

[2021-02-02 21:06] schensley commented on #30835
@magento give me 2.4.1 instance

[2021-02-02 21:22] schensley commented on #30835
@magento give me 2.4.1 instance

[2021-02-02 21:35] schensley commented on #30835
@magento give me 2.4.1 instance

[2021-02-02 21:48] chequille commented on #31912
@engcom-Bravo

Sorry, what you are telling me is not the truth.
As I said, in Magento 2.3.5 it is working as expected.
Let me explain a little bit more in detail.
My shop is located in Germany and here nobody cares about the so called "Bundesland".
**It is not necessary and I do not want to have it in the checkout nor in any address form.**

WIthin Magento 2.3.5 when I set the ""Allow to Choose St

[2021-02-02 22:27] VladimirZaets commented on #30835
@magento give me 2.4.1 instance

[2021-02-02 22:34] schensley commented on #30835
@magento give me 2.4.1 instance

[2021-02-02 22:40] VladimirZaets commented on #30835
@magento give me 2.4.1 instance

[2021-02-02 23:36] tommy1005 commented on #23054
Healthcare:
[20210202 2330 healthcare cron_schedule.dblog.txt](https://github.com/magento/magento2/files/5915056/20210202.2330.healthcare.cron_schedule.dblog.txt)

[code]

[2021-02-03 00:37] smileguitar opened #31949 "Graphql request placeOrder is pending but order is processed in admin"
*It's only occurred for Bundle product. As the order is requested using the magento 2 grahql interface(placeOrder mutation), the expected result is that it should return order id or error message.*

### Preconditions (*)
* Magento 2.3.5
### Steps to reproduce (*)
1. Call graphql create cart mutation
2. Call graphql add item to cart mutation (**bundle product**)
3. Call graphql add cart guest email

[2021-02-03 01:54] kimurabanyan opened #31950 "Email may not be sent if Magento has enabled asynchronous email sending on multiple websites"
### Preconditions (*)

1. Magento 2.4-develop;
1. Magento Open Source 2.4.0-p1  without sample data is installed;
2. There are two websites, each with one Store View;

### Steps to reproduce (*)

For convenience, I define two websites as follows:

A: Default Website
B: non-Default Website

1. Set "Stores > Configuration > Sales > Sales Emails > General Settings > Ansynchronous sending" to "**Enabl

[2021-02-03 03:16] kimurabanyan commented on #31950
@magento give me 2.4-develop instance

[2021-02-03 03:28] perfpcs commented on #30596
@thomas-kl1 yes Sir, the directory tree is now forming with large data amount with both PR. So the remaining issues is with CDN and active filters and using the folders.

[2021-02-03 05:09] kimurabanyan commented on #31950
@magento give me 2.4.0 instance

[2021-02-03 05:25] kimurabanyan commented on #31950
No emails are sent on Magento vanilla instance even if I enabled email sending in system settings. The reproduction procedure could not be confirmed.

[2021-02-03 06:11] LiamKarlMitchell commented on #26599
Bump.

[2021-02-03 07:06] engcom-Golf commented on #18088
Hi @jyoti217,
I will close this issue as it has been already fixed on 2.3 in https://github.com/magento/magento2/commit/63d33c5081068ca8253e52763fb8ab7d5ffe8a1a
Thank you for your report

[2021-02-03 07:06] #18088 closed, assigned to engcom-Golf

[2021-02-03 07:09] magento-engcom-team commented on #18088
Hi @jyoti217, @engcom-Golf.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24550` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-03 07:33] kanduvisla commented on #31939
I've create a fix and submitted a PR, but it states that some tests are failing; even though these tests are of parts of the code that I didn't even touch.

Also: it states that my unit tests fail, but if I look at the reports they pass for 100%.

[2021-02-03 07:47] magento-engcom-team commented on #31216
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40735` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-03 08:14] Eddcapone opened #31952 "There is no good handle for certain catalog category sites that I can use"
### Summary (*)

If you create a category then you can add a CMS block which shows on it.
I need to add a script to that specific category site which interacts with the CMS.
But there is no good layout handle which I can use to add my script from the theme by using a layout xml file.

![image](https://user-images.githubusercontent.com/16349349/106717318-d89a7880-65ff-11eb-9b7e-9a96b5ac669f.png)

T

[2021-02-03 08:15] Krielkip commented on #31943
I also tested it on http://devm2php74.tk/magento241/ (BBS Commerce example 2.4.1 store)

[2021-02-03 08:22] m2-assistant[bot] opened #31954 "[Issue] Removed CliCacheFlushActionGroup usage for ConfigurableProduct module"
This issue is automatically created based on existing pull request: magento/magento2#31953: Removed CliCacheFlushActionGroup usage for ConfigurableProduct module

---------
### Description
Removed CliCacheFlushActionGroup usage for ConfigurableProduct, CatalogUrlRewrite, Config, Contact and Cookie modules.

[2021-02-03 08:25] magento-engcom-team commented on #27285
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40736` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-03 08:31] ananth-iyer commented on #15609
@ilya-kush you can give the steps to reproduce the issue in Magento 2.4 so we will do try it

[2021-02-03 08:48] github-jira-sync-bot opened #31956 "Unexpected behavior after changing the quantity on one line of the shipping address and clicking the Back button in the browser"
**Preconditions:**
* Magento EE 2.4.2-beta2 is installed
* A Simple product is created (TEST SIMPLE 1, price = $10)
* Create Customer with Shipping address
* Flat Rate shipping method is configured

**Steps to Reproduce:**
* 1. Go to the Storefront as the created Customer
* 2. Add the created Product to the Shopping Cart (2Qty)
* 3. Open the mini-cart
* 4. Click the **View and Edit Cart** link
* 5

[2021-02-03 08:52] krishprakash commented on #31943
@magento give me 2.4-develop instance

[2021-02-03 09:07] krishprakash commented on #31943
Hi @Krielkip. Thank you for your report.
Not able to replicate the issue on latest 2.4-develop instance. It may be fixed
The related internal Jira ticket MC-38509 was closed as Fixed.
Related commits can be found by search [https://github.com/magento/magento2/search?q=MC-38509&type=commits](https://github.com/magento/magento2/search?q=MC-38509&type=commits)
You can refer issue #30513 for more clar

[2021-02-03 09:07] #31943 closed, assigned to krishprakash

[2021-02-03 09:32] engcom-Golf commented on #29698
Hi @shahriar-vdc
The latest Magento version as of now is 2.4.2 and moving forward we will be focusing on the 2.4 and 2.5 release lines. As a result of such an approach, we will be parking the delivery of bug fixes or features for the 2.3 line and only delivering security fixes to it.
More details on https://community.magento.com/t5/Magento-DevBlog/Let-s-Keep-the-Magento-2-Backlog-Clean-Part-2/ba-p

[2021-02-03 09:32] #29698 closed, assigned to nobody

[2021-02-03 09:33] Usik2203 commented on #31935
@magento I am working on this

[2021-02-03 09:34] magento-engcom-team commented on #29698
Hi @shahriar-vdc, @engcom-Golf.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-36990` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-02-03 09:34] engcom-Delta commented on #29696
Hi @mrtuvn  thank you for your report.
Do you have a case that leads to the issue with return value for function `getContext`?

[2021-02-03 09:38] Eddcapone opened #31958 "Magento removes end tag"
### Preconditions (*)

1. 2.4.1
2. Linux Server (we are hosted on Rackspeed)
3. Apache Webserver

### Steps to reproduce (*)

1. Create block:

**app\code\Company\Base\Block\Scripts\Filter.php**

[code]

2. Create Template:

**app\code\Company\Base\view\frontend\templates\scripts\filter.phtml**

[code]

3. Create new CMS Site with following content:

{{block class="Company\\Base\\Block\\Scripts\\F

[2021-02-03 09:45] ihor-sviziev commented on #31958
@Eddcapone do you have the same issue with default template class?

[2021-02-03 09:49] engcom-Bravo commented on #31946
Hello @bkey88

Thank you for your report

Are you experiencing this issue with particular images or any images?
Which version of Magento are you using? I'm asking about the Magento version in order to verify if it already contains New Media Gallery

[2021-02-03 09:53] mrtuvn commented on #29696
Maybe related with my reported issue here
https://github.com/magento/magento2/issues/27949

[2021-02-03 10:02] Eddcapone commented on #31958
@ihor-sviziev I just tested it again on a fresh Magento 2 (with sample data) and I get the same bug. As you can see the custom class, has nothing special in it, just a constructor. There is no plugins, since this is a fresh magento 2.

[2021-02-03 10:14] Eddcapone commented on #31958
@ihor-sviziev Oh, and I am using Magento 2 Enterprise, not sure if it makes a difference.

[2021-02-03 10:38] thai2301 commented on #31117
Up!

[2021-02-03 10:38] pathakkrunal commented on #28977
Hi,

We have magento 2.4.1, we are getting same error.

If any one login from any page and logout from any other page after that visit the page where he had logged in header shows he is "logged in" after Varnish Cache has been activated.

Thank you.
Krunal Pathak

[2021-02-03 10:58] sumeetmagento commented on #29797
@magecoders
are you able to solve on Magento 2.3.5 ?

[2021-02-03 11:32] engcom-Bravo commented on #30192
Hello @haunguyen1989

Thank you for your report

We have rechecked the reported issue with the provided steps.
- Product A - Out of Stock
- Product B - In Stock
- Bundle product containing two options, Option 1 - Product A; Option 2 - Product B
![bundle_03](https://user-images.githubusercontent.com/51680745/106740795-8e2af300-6623-11eb-98fc-76adb9702806.png)

The GraphQL query returns zero records

[2021-02-03 11:32] #30192 closed, assigned to engcom-Bravo

[2021-02-03 11:56] engcom-Delta commented on #31888
Hi @Ckaneriya  thank you for your report.
Do you try to upgrade according [docs](https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html)?

[2021-02-03 12:15] engcom-Bravo commented on #30494
Hello @cliddell97

Thank you for your report.

We have rechecked the reported issue on the latest 2.4-develop.
Exported a .csv file, edited the SKU, Quantity, Stock Status, and Imported the .csv file
The import success message is displayed with content, not empty, and there is a record in the `import_history` table in the database.
![msi](https://user-images.githubusercontent.com/51680745/10674545

[2021-02-03 12:15] #30494 closed, assigned to engcom-Bravo

[2021-02-03 12:35] paulvandermeijs commented on #31881
@Vipul-Aniya It seems that the issue was resolved in Magento 2.4 with [this commit](https://github.com/magento/inventory/commit/532b82b34b4cdef8c0ba318dae5ae0631f97376f) for [this issue](https://github.com/magento/inventory/pull/3046).

It is still in 2.3.6 though and I'm not sure what will happen with 2.3.6-p1 and 2.3.7 for that matter.

[2021-02-03 12:40] Ckaneriya commented on #31888
@engcom-Delta Yes, I have upgraded by following the mentioned doc.

[2021-02-03 12:52] tbaltissen commented on #15656
Does anyone have a solution for 2.3.6? Still facing this problem, but logic seems to have changed a lot and patches won't work anymore.

[2021-02-03 12:54] debuggeryang opened #31959 "Can't move the message queue inventory.reservations.updateSalabilityStatus from DB to RabbitMQ"
### Preconditions (*)

1. Magento 2.3.6 + MySQL
2. RabbitMQ 3.8

### Steps to reproduce (*)

1. Install and connect Magento to RabbitMQ, MariaDB
2. Move the inventory.reservations.updateSalabilityStatus message queue from the database to RabbitMQ by configuring it in the `app/env.php` file like the following:

[code]

3. run `bin/magento setup:upgrade` to update the change
4. run `bin/magento queu

[2021-02-03 13:22] jordanvector commented on #31959
Same exact issue on 2.3.6 EE.  All consumers except inventory.reservations.updateSalabilityStatus can be converted to rabbitmq. Converting inventory.reservations.updateSalabilityStatus throws this error

[2021-02-03 13:25] engcom-Delta commented on #31043
Hi @zigojacko  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop with [elasticsearch](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html#elasticsearch)
**Manual testing scenario:**
- Install magento with elasticsearch
- Set Price default sort order of products on category page
![image](https://user-images.githubusercont

[2021-02-03 13:33] an4rei commented on #30951
issue is still relevant

[2021-02-03 13:42] zigojacko commented on #31043
@engcom-Delta you haven't understood the problem and don't show the testing of it.

This has been confirmed in a fresh install of Magento 2 and the problem is apparent.

It is also reported across the other web by other users.

The issue is not that sorting by attribute is not working at all. It is that the default sorting is reversed. So by default, sort order will be in the order that the produc

[2021-02-03 13:49] engcom-Delta commented on #30989
Hi @aliomattux thank you for your report.
Looks like it is not an issue as you could  restrict access for URL Rewrites using User Roles
**Manual testing scenario:**
- Create new user role with unchecked URL Rewrites
![image](https://user-images.githubusercontent.com/51681379/106755295-a3f5e380-6636-11eb-98a1-a5a2d797bf36.png)
- Create new admin user and assign him to appropriate user role
![image]

[2021-02-03 14:04] bkey88 commented on #31946
Good morning!

I’m having trouble uploading all images of different sizes and dimensions. We are on Magento ver. 2.3.5-p1.

Thank you!

From: Anton Chalov <notifications@github.com>
Sent: Wednesday, February 3, 2021 4:49 AM
To: magento/magento2 <magento2@noreply.github.com>
Cc: Brian Key <bkey@amhertex.com>; Mention <mention@noreply.github.com>
Subject: Re: [magento/magento2] Images are not upload

[2021-02-03 14:12] m2-assistant[bot] opened #31962 "[Issue] Removed CliCacheFlushActionGroup usage for Wishlist module"
This issue is automatically created based on existing pull request: magento/magento2#31961: Removed CliCacheFlushActionGroup usage for Wishlist module

---------
### Description
Removed CliCacheFlushActionGroup usage (or changed value) for Wishlist, Swatches, Translation, UrlRewrite, Vault and Weee modules.

[2021-02-03 14:12] Eddcapone commented on #31958
I figured out, that you can write it as this as a workaround:

`console.log("<li id='option_"+ x + "' data-target='"+ x +"'>" + x + "<\/li>");`

Write `"<\/li>"` instead of` `"</li>"

I hope this gets fixed soon, since it causes many bugs which are hard to find, especially if you dont know this bug.

[2021-02-03 14:31] ihor-sviziev commented on #31958
@sidolov @sivaschenko seems like this should be P1. Could you check it?

[2021-02-03 15:05] zigojacko commented on #31043
As an example, see this demo store.

In this category, I just added a new product and set the same 'Position' for the product as all the others ('1').

You will see the product is at the end of the list. Even though it is newer than all the others.

If I then switch Elastic Search off and revert to the default MySQL, the newest product will switch to first in the list (as will the entire product l

[2021-02-03 15:28] engcom-Delta commented on #31043
@zigojacko I will check with updated information

[2021-02-03 15:55] magento-engcom-team commented on #31948
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40740` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-03 16:20] magento-engcom-team commented on #31945
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40741` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-02-03 16:21] Eddcapone opened #31964 "Backend Search not working properly"
### Preconditions (*)

1. 2.4.1

### Steps to reproduce (*)

1. Create a new CMS block named `Schiebetür einflüglig mit Rundumgriff`
2. Search for `Schiebetür`

### Expected result (*)

It should find the CMS block

### Actual result (*)

![image](https://user-images.githubusercontent.com/16349349/106776170-1caf6c80-6644-11eb-9331-c56cf2cce9bf.png)
-----------------
If you enter `Schiebet` then

[2021-02-03 16:21] gkhere98 commented on #10365
1 exception(s):
Exception #0 (InvalidArgumentException): Invalid scope type ''

Exception #0 (InvalidArgumentException): Invalid scope type ''
<pre>#1 Magento\Framework\App\Config\ScopeCodeResolver->resolve() called at [vendor/magento/framework/App/Config.php:69]
#2 Magento\Framework\App\Config->getValue() called at [vendor/magento/framework/App/MutableScopeConfig.php:36]
#3 Magento\Framework\App\

[2021-02-03 16:22] gkhere98 commented on #10365
im getting this error   how can i fix it

[2021-02-03 16:30] #28323 closed, assigned to nobody

[2021-02-03 16:55] schensley commented on #30835
@magento give me 2.4.1 instance

[2021-02-03 17:07] aliomattux commented on #30989
Hello,

You can go ahead and close the ticket, but to answer your question, no
permissions do not solve the issue. My feedback was Magento rewrite system
functionality is incompatible with how standard practice is carried out for
redirects. I believe the feature of redirect is mislabeled. See my original
post for details.

On Wed, Feb 3, 2021 at 7:49 AM Vasyl Shvorak <notifications@github.com>
wro

[2021-02-03 17:10] schensley commented on #30835
@magento give me 2.4.1 instance

[2021-02-03 18:58] engcom-Bravo commented on #31775
Hello @rahulanand77
We have started to fix the issue. The Pull Request will be linked to this ticket.

[2021-02-03 19:25] sdzhepa commented on #21456
Hello there,

I noticed that all internal Jira tickets related to this Issue report were closed with the resolution "Won't fix".
As I can see it had a huge comments thread and a lot of discussion, investigation.
I did not participate in any of these activities but want to share details and an explanation based on quotes from internal tickets

Result of investigation(quote)

Product Owner/Manager r

[2021-02-03 19:25] #21456 closed, assigned to nobody

[2021-02-03 19:32] sdzhepa commented on #31190
Hello @DanielIconate @yvaliya

Thank you for contributing and collaborating!

Based on comments and especially the last one https://github.com/magento/magento2/issues/31190#issuecomment-766303142
It is not a bug in Magento code but a configuration issue related to DHL.

The issue can be closed

[2021-02-03 19:32] #31190 closed, assigned to nobody

[2021-02-03 19:33] adeelmughal4u commented on #3545
Getting the same issue on Magento EE ver. 2.3.5-p2 any fix?

product custom attribute not saving empty, it always set 0, the field type is text.

[2021-02-03 19:35] adeelmughal4u commented on #4910
Any fix, I am facing same issue on Magento EE ver. 2.3.5-p2

Field type is Text - custom attribute not saving empty, and always 0

[2021-02-03 19:36] sdzhepa commented on #23552
Hello @FreekVandeursen
cc: @engcom-Charlie

Could you please provide more information about https://github.com/magento/magento2/issues/23552#issuecomment-769714538 and update issue description?

At this moment we are not able to reproduce and confirm this issue.
Without this information the issue cannot be processed and will be closed

[2021-02-03 20:12] #23133 closed, assigned to nobody

[2021-02-03 20:14] magento-engcom-team commented on #23133
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-02-03 20:49] #31082 closed, assigned to ProkopovVitaliy

[2021-02-04 02:48] haunguyen1989 commented on #30192
Do you **Enable Display out of stock product**: Yes ?

[2021-02-04 04:39] daiduongvo18 commented on #30213
Hello @engcom-Bravo

Thank you for your checking.

Although this issue mentions the GraphQl, the price display on the Storefront is not reasonable.

When the buyers see the zero price, they will expect to buy the product when it become in stock again. However, the price is changed when the product is in stock. This behavior might cause the buyer to think that the store is cheating on the price.

I

[2021-02-04 04:44] willwright commented on #16407
This should be escalated it causes a somewhat serious edge case bug when Gift Cards are considered.
If a customer enters a Gift Card and the resulting `quote.GrandTotal` < `quote.TaxAmount` then the GrantTotal is set to 0 and this causes the Payment Interface to update to "No Payment Required" when in fact there is still an outstanding balance.

[2021-02-04 05:00] ajijshekh123 commented on #31927
Hello @d-rowton,
Is there any update?

[2021-02-04 05:35] vijay-prevaj commented on #31741
@engcom-Alfa Are you able to reproduce the issue in Magento commerce edition.

[2021-02-04 05:50] wanghsingchuan commented on #9439
I'm facing same issue but have no idea to solve by this article
can somebody teach me step by step?
where the files under app/code/HQ?where events.xml module.xml addressFormat.php registration.php goes from?

[2021-02-04 06:23] hareshpatel commented on #31024
how can resolve same issue can you plz send code

[2021-02-04 07:51] thinksys-dev opened #31966 "URGENT: Expiring Digital Certificates for UPS® Developer Kit URL"
### Preconditions (*)

1.Magento ver - 2.3.5-p2
2.Production Environment

### Steps to reproduce (*)

1. Received an email for Module UPS that Digital Certificates for UPS Developer Kit URL will expire.
2.This can break the API call of UPS
3. The current Comodo Sectigo server certificate used for UPS Developer Kit transactions submitted to https://onlinetools.ups.com will expire on February 25, 20