[2017-09-22 10:13] sayan-gitkid commented on #10987
@orlangur Tested the same product, category files in Magento 2.1.9, and Magento 2.2.0 rc-3 and the url_rewrite performance has improved. The category save is working fine.

[2017-09-22 10:13] magento-engcom-team commented on #9942
@DavidLambauer Thanks for reporting this issue. Please check BASE_URL/swagger. Also You can check 'Magento\Quote\Api\GuestCartManagementInterface::createEmptyCart()', which is called upon BASE_URL/rest/V1/guest-carts. There You can see, that return type is string. Therefore "9cdb1f51fdc3bfa2313dae65eb231271" - is correct result.
Please reopen this issue as needed.

[2017-09-22 10:13] #9942 closed, assigned to magento-engcom-team

[2017-09-22 10:15] magento-engcom-team commented on #10144
Hi @haydencarlson
`\Magento\Quote\Api\CartTotalRepositoryInterface` is supposed to be used to obtain totals.

[2017-09-22 10:22] magento-engcom-team commented on #9551
@korostii Even better way would be not using the implementation of `CategoryRepository` directly but the `\Magento\Catalog\Api\CategoryRepositoryInterface`

[2017-09-22 10:26] orlangur commented on #10987
@sayan-gitkid thanks for testing! Closing as the fix for this issue is already available on Magento 2.2.0 branch which will be released really soon.

Not sure if needed changes could be backported at all due to BC constraints.

[2017-09-22 10:26] #10987 closed, assigned to nobody

[2017-09-22 10:27] magento-engcom-team commented on #9551
@parasarora, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

If you think this is a core issue anyway please reopen and edit issue description to include the preconditions, th

[2017-09-22 10:27] #9551 closed, assigned to nobody

[2017-09-22 10:29] magento-engcom-team commented on #7512
@viktor-zhuromskyy, hi, The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-09-22 10:31] niko7869 commented on #7367
@surabhinsi it didnt work for me :(, can you tell me what exactly you did to make it work

[2017-09-22 10:31] magento-engcom-team commented on #9402
@wingsoul Closing per comment @korostii. If you think this is a bug in Magento 2 Core please reopen and edit issue description to include the preconditions, the steps required to reproduce, the actual result, and the expected result.

Thank you

[2017-09-22 10:31] #9402 closed, assigned to nobody

[2017-09-22 10:37] maksymcherevko commented on #10955
`Do you have any URL building customization?`

@orlangur, I don't think that any customization of URL could affect, since when processing routers they already contain backend classes...

Not compiled:
![selection_001](https://user-images.githubusercontent.com/16465396/30740748-e8686224-9f9a-11e7-94b8-cbe917e992f3.jpg)

Compiled:
![selection_002](https://user-images.githubusercontent.com/16465396/3

[2017-09-22 10:40] binnykumar opened #10998 "We can't add this item to your shopping cart right now"
![error](https://user-images.githubusercontent.com/29915861/30741526-beb81858-9fb2-11e7-88e7-18730d15615c.png)
When i am trying to add product to cart, it is showing "We can't add this item to your shopping cart right now".

This is my exception.log file output.

#44 /mnt/thebodyshoplive/vendor/magento/module-page-cache/Model/App/FrontController/VarnishPlugin.php(55): Magento\Framework\Interceptio

[2017-09-22 10:54] magento-engcom-team commented on #10876
@harshvardhanmalpani thank you for your report. We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue. In addition, identify the web server you are running  and any other information needed to reproduce your issue.

[2017-09-22 10:55] binnykumar commented on #10998
![error](https://user-images.githubusercontent.com/29915861/30741511-abe13dae-9fb2-11e7-84d9-ed9c7b0b7e44.png)

[2017-09-22 11:06] ramindas opened #10999 "Magento CE 2.1.9 SVG Logo Upload"
Cannot upload .SVG image as Magento 2.1.9 Logo

Did a fresh installation of Magento CE 2.1.9 tried to upload .SVG file as logo image and it says "Attention - We don't recognize or support this file extension type"
Magento 2.1.9 PHP 7.0.23 MySQL 5.6.37

Content > Configuration > Edit > Header > Logo Iamge

 Expected result
Need to upload .SVG as logo image

Actual result
![image](https://user-image

[2017-09-22 11:11] magento-engcom-team commented on #10960
Dear @MirkoHuf. We can't reproduce Your issue on fresh downloaded instance. Therefore the problem is most probably caused by some of Your third-party applications.

[2017-09-22 11:12] orlangur commented on #10955
Well, that's exactly what could happen due to customization: some preference for class or class argument in `di.xml`.

Try to dump the resulting merged DI configuration XML within compilation.

All such declarations cannot come from nowhere, either default declaration from constructor signature is used or it is overridden in some `di.xml`.

[2017-09-22 11:17] orlangur commented on #10999
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

Here is an example of such customization: https://magento.stackexchange.com/a/186976/40869

[2017-09-22 11:17] #10999 closed, assigned to nobody

[2017-09-22 11:19] maksymcherevko commented on #10955
@orlangur, thanks for helping, I'll try.

[2017-09-22 11:22] kanduvisla opened #11000 "Magento_Tax module has double discount_tax node in config.xml"
The `config.xml` of the `Magento_Tax` module has a double node of `discount_tax`. This disallows other modules to override this configuration setting using their own `config.xml`.

### Preconditions

1. Magento 2.1.9 (and other versions probably as well)

### Steps to reproduce

Create a new module and add a `config.xml` with the following:

[code]

### Expected result

The configuration setting "

[2017-09-22 11:24] orlangur commented on #10876
Bugs of "this particular project" cannot be fixed in Magento core. You need to find out what's going wrong on your side, ideally reproduce a bug on clean Magento installation.

Of course, there is always probability bug is in the core, just wasn't revealed on your other projects due to a different configuration. But you need to debug a problematic project to locate a problematic code.

[2017-09-22 11:26] cdnilanga commented on #10580
I'm having the same issue. I just updated "module-ui/Component/Form/Element/DataType/Date.php" prepare() method to set timeOffset only which seems to have fixed it. However need to do a full test to make sure it has not affected other modules that might be relying on storeTimeZone, storeTimeZone & storeLocale.

[2017-09-22 11:31] ramindas commented on #10999
Hi,

Added to the XML but is is not working. CE 2.1.8 allowing to upload and extension was there.

 <argument name="extensions" xsi:type="array">
                <item name="allowed" xsi:type="array">
                    <item name="jpg" xsi:type="number">1</item>
                    <item name="jpeg" xsi:type="number">1</item>
                    <item name="png" xsi:type="number">1</item>

[2017-09-22 11:32] ramindas commented on #10999
<----<item name="svg" xsi:type="number">1</item>---->>>

[2017-09-22 11:43] korostii commented on #3759
Hi @orlangur
How do you wrap your head around closing an issue and encourage pull requests to fix it _in the same comment_?

Why would you close it, if the issue is still present on the latest stable release and you admit yourself that there's still work to be done? If you're following some kind of a guideline, I'd like to see it.

I mean, this is a total mess: http://take.ms/s6eB0
What the heck?

[2017-09-22 11:49] korostii commented on #7000
@orlangur that sounds rather vague. Is there some kind of guideline in writing or something like that?

The label guide [here](https://github.com/magento/magento2/blob/develop/README.md) seems pretty much obsolete.

[2017-09-22 11:54] gwharton opened #11002 "[2.2.0-*] cron_schedule forever increasing in size. Lots of pending jobs never cleared"
### Preconditions
1. Magento 2.2.0-rc30 running on Ubunti 16.04
2. Deployed initially from zip, but updated to 2.2.0-rc30 using composer

### Steps to reproduce
1. Nothing, just look at the cron_schedule table

### Expected result
1. On 2.1.9 my cron_schedule table is around 180 items in size. Its size is pretty much static. A snapshot shows the vast majority of jobs are in the success state, with

[2017-09-22 11:55] orlangur commented on #10999
You are right, `svg` was intentionally removed due to security reasons: https://magento.com/security/patches/magento-2016-and-219-security-update `APPSEC-1673: Stored xss using svg images in Favicon`.

You can get the idea how enable it back in your custom module by searching "svg" in https://github.com/magento/magento2/compare/2.1.8...2.1.9.

Still, such question falls out this GitHub which is in

[2017-09-22 11:55] magento-engcom-team commented on #10984
@Atsiat  thank you for your bug report.
We cannot reproduce this issue as described.
My steps are here:
1. I have clean Magento 2.1.9
2. Create "Store View 2" with code "store_view_2"
![stores](https://user-images.githubusercontent.com/31669971/30743067-b9e71b98-9fa4-11e7-9be3-2e8970b9b694.png)
3. Send post
`/rest/store_view_2/V1/categories`
with data:
`{"category": {"name": "Category in store_vie

[2017-09-22 11:58] wigman commented on #8863
"already"

[2017-09-22 11:58] saeohioalpha commented on #3759
going on @korostii's comment, This is very frustrating, Unless a branch is a security only release at this point, a fix for a feature, to be accepted, should have to apply to all actively developed branches. A new feature should go into the next version once a feature freeze is in place, but fixes to existing features should be in all branches not at a security only maintenance point. Is 2.1.x sec

[2017-09-22 11:58] ramindas commented on #10999
Hi,

Thanks for your reply I'm talking about Logo image cannot upload .SVG sa a logo too..

Thanks & Regards,

[2017-09-22 11:59] magento-engcom-team commented on #10979
@sydekumf, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Tested on 2.1.9.

1. In Magento\Framework\DB\AbstractMapper::map()
call_user_func_array([$this, $mapperMethod], $value) is called, where :
- $this = it is class "Magento\CatalogInventory\Model\ResourceModel\Stock\Item\StockItemCriteriaMapper";
- $mappeMethod = "mapProductsFilter";
-

[2017-09-22 12:00] orlangur commented on #7000
Yeah, I already reported that in Slack, there is a separate doc https://github.com/magento/magento2/wiki/Magento-Issue-Gates which is not integrated with README yet. I remember it was announced in some comments processes will be clarified with 2.2 release.

[2017-09-22 12:02] orlangur commented on #10999
From changeset it looks like `svg` was completely disallowed as same vector attack could be possible with logo and any other image.

[2017-09-22 12:09] ramindas commented on #10999
Thanks for your Reply

[2017-09-22 12:10] jhruehl commented on #10766
@ennostuurman Your shabby workaround solution with adding the logo to web/i18n/[area code]/images/ folder actually works. And though you still cannot specify the area and language of the deployment, you can exclude them with the --exclude-area and --exclude-language option.

But this definitely needs to be fixed before the release von Magento 2.2.

[2017-09-22 12:16] orlangur commented on #3759
Just because a `2.1-develop` backport PR will be processed for sure while there is no guarantee every bugfix will be backported to `2.1-develop` internally.

There is no guideline as far as I know, I was surprised as well when noticed this process thus asked Magento guys immediately. You may notice a lot of such activity on issues verification during few previous days. The answer is simple: 2.2.0

[2017-09-22 12:21] orlangur commented on #11000
Thanks for bug report! Yeah, all versions affected: https://github.com/magento/magento2/blob/develop/app/code/Magento/Tax/etc/config.xml#L19

[2017-09-22 12:22] orlangur commented on #10852
@leonhelmus thanks for bug report! Closing it in favor of https://github.com/magento/magento2/issues/11000 which contains more detailed steps and PR with bugfix.

[2017-09-22 12:22] #10852 closed, assigned to nobody

[2017-09-22 12:24] Atsiat commented on #10984
Thanks for the feedback.
As far as I can tell by now the only difference between your steps and mine are that I used two different category trees with own category_ids in our system.
I didn't create a category in StoreView1 and updated the same category with "id" parameter in StoreView2. I created two single standalone categories with different IDs (one in StoreView1 and one in StoreView2).

I'll

[2017-09-22 12:27] magento-engcom-team commented on #10692
Hi @gormatevosyan123 . Please add more details to your description of the steps you followed when identifying this issue.

[2017-09-22 12:28] gwharton commented on #11002
I've emptied the cron_schedule table to check from scratch again. All entries are now being marked as run successfully, however, the table is still increasing in size. Old entries are never removed.

[2017-09-22 12:31] orlangur commented on #6680
@bartlubbersen thanks for bug report! Closing it in favor of #11000 which contains more detailed steps and PR with bugfix.

[2017-09-22 12:31] #6680 closed, assigned to nobody

[2017-09-22 12:40] magento-engcom-team commented on #10683
Please add more details to your description of what changes you made to the configuration, and any other information needed to reproduce your issue.

[2017-09-22 12:44] jhruehl commented on #10766
@ennostuurman So I deleted my last comment, because it lead to nowhere.

There is a much better tempory solution than adding logos to some specific folders, which just induces all languages set in that way to be compiled is to specify the theme you want to deploy with the wanted language. It's not perfect, but a working solution, which needs no adjustments.

Just run
'bin/magento setup:static-cont

[2017-09-22 12:50] woakley commented on #10485
Same problem here.

[2017-09-22 13:05] jordanbrauer commented on #10941
I have this as well @magento-engcom-team. Did you test it on an _Android Device_ like he specified?

Version **2.1.5**

[2017-09-22 13:20] joni-jones commented on #10990
Hi, @zack6849, I've tried to reproduce the described issue with different variations (another store view for the same or different store) the orders were placed successfully. Please, provide more details, like `exception.log` details.

[2017-09-22 13:20] rishabhchd19 commented on #10941
You can please visit the website at [Error](catalogue.yogdiagnostics.com) and can check yourself. I am getting the problem on each n every mobile device except iPad, iPhone(i didn't check), Laptop and Desktop.

[2017-09-22 13:41] gwharton commented on #11002
I'm not convinced on this issue anymore now I have looked at it again. My cron_schedule table was certainly massive before, but now it would appear to be clearing itself of old entries. One thing to note is that on Magento 2.1.9 the times in the database table are UTC+2 for some reason. My timezone is UTC+1.

In Magento 2.2.0 the times in the database are UTC+1 and my timezone is set to UTC+1.

In

[2017-09-22 13:48] shiva-050865 commented on #1864
But not finding information how to call parent component method from extended method.

[2017-09-22 13:51] magento-engcom-team commented on #9707
Hello @martinhetschel. Could You without any harm to Your business or other deals reproduce Your issue on 2.1.9?

[2017-09-22 13:52] magento-engcom-team commented on #9707
@martinhetschel  If so, please try. Thanks.

[2017-09-22 13:59] muhammadshakeel opened #11005 "Catalog Search Sort by Relevance not working"
### Preconditions

1. Magento Open Source (CE) 2.1.9 with sample data
2. PHP 7.0.22
3. MySQL 5.7.19

### Steps to reproduce

1. Goto Catalog->Catalog->Catalog Search and make sure your Search Engine is selected as MySQL
2. Browse to Store front and search for any term like 'yoga' and see the result sorting. (It is not sorted by relevance).
3. Now update https://github.com/magento/magento2/blob/2.1

[2017-09-22 14:02] erfanimani commented on #8640
Also have the same issue as @JackNorm. Fix of @SKovbel works for single-currency stores.

[2017-09-22 14:04] erfanimani commented on #8640
Actually, I fixed it:

Instead of

`$price = $price ?: $product->getData('price');`

try

`$price = $price ?: $this->priceCurrency->convert($product->getData('price'));`

CC @sebfie @JackNorm

[2017-09-22 14:21] giacmir commented on #9410
Found this issue while trying to add swatches options in an import procedure. I ended up writing direct queries on the involved tables...

Actually all the swatches module is a pile of weird things outside of Magento standards and needs to be extensively refactored.

[2017-09-22 14:45] martinhetschel commented on #9707
Same issue on 2.1.9
![image](https://user-images.githubusercontent.com/17616012/30749897-21eb69e6-9fb5-11e7-9fb1-57ba8dde8eb7.png)
![image](https://user-images.githubusercontent.com/17616012/30749948-556cd03e-9fb5-11e7-9d04-8aba897b9d79.png)
If you need any further info, just let me hear!

[2017-09-22 15:08] maksymcherevko commented on #10955
@orlangur, for example i took class `Magento\Framework\UrlInterface` and added the next line:

`echo PHP_EOL . $areaCode . ' <=> ' . $areaConfig->getPreference('Magento\Framework\UrlInterface') . PHP_EOL;`

in the method `Magento\Setup\Module\Di\Compiler\Config->generateCachePerScope()` to check, what preference is taken for UrlInterface class. Result:

![selection_006](https://user-images.githubu

[2017-09-22 15:46] magento-engcom-team commented on #7366
@GuidoHub, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more information how did you create multiple websites that use the same store.

[2017-09-22 15:58] antoinekociuba opened #11007 "Set-Cookie response header on static assets, during generation, when Magento is behind Varnish (non port 80)"
When Magento, in developer mode, generates static assets on the fly, and when used port is not 80/443 (8080 with Varnish for example), we can see that a Set-Cookie PHPSESSID is returned, and so, session is lost... After the file is generated on pub/static directory, no more issue, and no more Set-Cookie response header.

When switching back to 80 port, after clearing static directory, I can't see

[2017-09-22 16:17] magento-engcom-team commented on #10505
@gitbiorobert, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-22 16:17] #10505 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10217
@shabanriaz, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-22 16:17] #10217 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10499
@gewaechshaus, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-22 16:17] magento-engcom-team commented on #8215
@hbprincepatel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-22 16:17] #8215 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10874
@NoorulBhoelai, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-22 16:17] #10874 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #9929
@lfritsche, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-22 16:17] #9929 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10984
@Atsiat, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-22 16:17] #10984 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10992
@nikonratm, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-22 16:17] magento-engcom-team commented on #10171
@gilbertsohal, thank you for your report.
The issue is already fixed in 2.1.9

[2017-09-22 16:17] #10171 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10876
@harshvardhanmalpani, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-22 16:17] #10876 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10990
@zack6849, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-22 16:17] #10990 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #7586
@devonto, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-22 16:17] #7586 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #7793
@lifemaxlimited, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-22 16:17] #7793 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10897
@archonkulis, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-22 16:17] #10897 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10889
@gwharton, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-09-22 16:17] magento-engcom-team commented on #7554
@sigismund, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-22 16:17] #7554 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10191
@coachdesign, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-22 16:17] #10191 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10758
@zzvara, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-22 16:17] #10758 closed, assigned to magento-engcom-team

[2017-09-22 16:17] magento-engcom-team commented on #10960
@MirkoHuf, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-22 16:17] #10960 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10513
@storepeinture, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-22 16:17] #10513 closed, assigned to nobody

[2017-09-22 16:17] magento-engcom-team commented on #10754
@gilbertsohal, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-22 16:17] magento-engcom-team commented on #10793
@toshz, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-22 16:17] #10793 closed, assigned to nobody

[2017-09-22 16:18] lifemaxlimited commented on #7793
I am out of the office until Tuesday 2nd October with limited access to email. If your enquiry is urgent, please contact orders@lifemaxuk.co.uk or call 01635874323.

[2017-09-22 16:20] gitbiorobert commented on #10505
http://www.foundmi.com/
scroll down to the bottom email signup.
input an email address and click subscribe
you will get the error

[2017-09-22 16:24] magento-engcom-team commented on #7951
@spyrule, thank you for your report.
We've created internal ticket(s) MAGETWO-75973 to track progress on the issue.

[2017-09-22 16:24] magento-engcom-team commented on #10291
@NagarajuKasa, thank you for your report.
We've created internal ticket(s) MAGETWO-70954 to track progress on the issue.

[2017-09-22 16:24] magento-engcom-team commented on #9920
@bap14, thank you for your report.
We've created internal ticket(s) MAGETWO-75838 to track progress on the issue.

[2017-09-22 16:24] magento-engcom-team commented on #5770
@lucas-santos-chaordic, thank you for your report.
We've created internal ticket(s) MAGETWO-76051 to track progress on the issue.

[2017-09-22 16:24] magento-engcom-team commented on #8851
@kevin-carroll-cl, thank you for your report.
We've created internal ticket(s) MAGETWO-70964 to track progress on the issue.

[2017-09-22 16:24] magento-engcom-team commented on #9918
@royvanos, thank you for your report.
We've created internal ticket(s) MAGETWO-75973 to track progress on the issue.

[2017-09-22 16:24] magento-engcom-team commented on #7392
@nmallepally, thank you for your report.
We've created internal ticket(s) MAGETWO-75796 to track progress on the issue.

[2017-09-22 16:24] magento-engcom-team commented on #7582
@Bartlomiejsz, thank you for your report.
We've created internal ticket(s) MAGETWO-70060, MAGETWO-73214 to track progress on the issue.

[2017-09-22 16:24] magento-engcom-team commented on #10988
@naydav, thank you for your report.
We've created internal ticket(s) MAGETWO-75648 to track progress on the issue.

[2017-09-22 16:25] magento-engcom-team commented on #9968
@redelschaap, thank you for your report.
We've created internal ticket(s) MAGETWO-75779 to track progress on the issue.

[2017-09-22 16:25] magento-engcom-team commented on #10438
@dankocherga, thank you for your report.
We've created internal ticket(s) MAGETWO-75789 to track progress on the issue.

[2017-09-22 16:25] magento-engcom-team commented on #10578
@terrybakshi, thank you for your report.
We've created internal ticket(s) MAGETWO-71936 to track progress on the issue.

[2017-09-22 16:25] magento-engcom-team commented on #10580
@gwharton, thank you for your report.
We've created internal ticket(s) MAGETWO-71936 to track progress on the issue.

[2017-09-22 16:27] magento-engcom-team commented on #10765
@bulbulagarwal896, thank you for your report.
We've created internal ticket(s) MAGETWO-76254 to track progress on the issue.

[2017-09-22 16:27] gewaechshaus commented on #10499
@magento-engcom-team - you seriously want to close this issue?
![Image of Yaktocat](https://octodex.github.com/images/yaktocat.png)
https://media.giphy.com/media/pfAKetMYidBjq/giphy.gif

[2017-09-22 16:57] maderlock opened #11008 "Admin OAuth Tokens never expire"
### Preconditions

1. Magento 2.1 with cron running

### Steps to reproduce

1. Create an admin auth token
2. Keep using it.
3. Keeeeeep using it.

### Expected result

1. It will expire

### Actual result

1. Nope. Never expires.

This page (http://devdocs.magento.com/guides/v2.0/get-started/authentication/gs-authentication-token.html#admin-and-customer-access-tokens) specifies that there is an o

[2017-09-22 17:45] orlangur commented on #5283
@PushEngineering thanks for bug report! Closing as duplicate in favor of another ticket with `G2 Passed`.

[2017-09-22 17:45] #5283 closed, assigned to nobody

[2017-09-22 17:50] new10ce opened #11009 "Magento 1.9 footer links disable"
I have already disabled RSS feed from admin panel. but it still displays RSS link in footer.

[2017-09-22 19:17] McDev814 commented on #10875
Thank you kervin,

I had tried that before posting this, though the problem still persisted.  We are having someone add Braintree error logging and are hoping it will be pulled upstream.  I know we're not the first ones who could have benefited from knowing what errors are occurring, and I'm sure we won't be the last.  I'll update this thread once that development is done and tested.

[2017-09-22 20:06] magento-engcom-team commented on #9874
@srinivasanithin thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-22 20:06] #9874 closed, assigned to nobody

[2017-09-22 20:12] magento-team commented on #10738
Internal ticket to track issue progress: MAGETWO-75315

[2017-09-22 20:12] magento-team commented on #10510
Internal ticket to track issue progress: MAGETWO-75311

[2017-09-22 20:24] alen9788 commented on #10499
It is the BIG bug from the MCE 2.1.8, you should solve it ASAP.

[2017-09-22 20:36] McDev814 opened #11010 "Unable to save product changes on products that were imported"
#
We imported 2000 simple products to our website, though when we make changes to those products we get varying results of success. Some changes can be made and successfully applied, such as adding an attribute set and attribute values.  However, when that is done we lose the product image. If the product was imported as disabled, we are unable to enable it through the product page. When we change

[2017-09-22 20:51] pboisvert commented on #11009
This repo is for Magento 2 issues. Closing at this issue is reported agains 1.9

[2017-09-22 20:51] #11009 closed, assigned to nobody

[2017-09-23 00:40] gwharton commented on #10889
Ubuntu 16.04.3 LTS up to date
Magento 2.2.0-rc30 installed with composer
setup run with all default options

On Admin Backend
[code]

Upload GW/frontend theme to app/design/frontend
Theme source can be downloaded from [here](http://grandstream.gwharton.me.uk/app.zip) or create your own theme with the Magento_Theme/layout/default.xml file as follows.
[code]

On Admin Backend
[code]

Using Browser g

[2017-09-23 00:42] gwharton commented on #10889
@magento-engcom-team I am unable to reopen this issue, but I have added more detailed steps to reproduce above. Could you assess and reopen if it can be reproduced at your end.

[2017-09-23 01:15] #11000 closed, assigned to nobody

[2017-09-23 01:22] magento-team commented on #11000
Internal ticket to track issue progress: MAGETWO-75865

[2017-09-23 01:22] magento-team commented on #10772
Internal ticket to track issue progress: MAGETWO-75329

[2017-09-23 01:22] magento-team commented on #10824
Internal ticket to track issue progress: MAGETWO-75321

[2017-09-23 01:22] magento-team commented on #10803
Internal ticket to track issue progress: MAGETWO-75327

[2017-09-23 02:46] new10ce commented on #11009
This is not for Magento 2.
I am working on Magento 1.9 framework. and i am facing this issue.

[2017-09-23 03:58] skynixukraine commented on #6826
Hello,
I confirm, the issue still exists, and it is a blocking issue. It makes impossible to use ecommerce solution where Place Order button does not work.

[2017-09-23 06:07] rahulthakral38 opened #11011 "Magento 2 - Trying to install an amazon payment module and In web setup widzard I got this exception"
I am trying to install amazon payment magento 2 extension and getting this issue while installation in web setup widzard. Can any one suggestion anything. Any help is appreciated.

Here is the error that I am facing.

Check Component Dependency We found conflicting component dependencies.

Command "update" failed: Loading composer repositories with package information Updating dependencies (includ

[2017-09-23 07:04] KishorkumarKar commented on #10683
I have not done any changes in Magento **Stores -> Configuration**. I just change my password and that mail came to me. But I have tried to change the mail format but there was no place to assign the custom mail format in **Stores -> Configuration -> Customer** which I have maid in **Marketing -> Email Template**

[2017-09-23 08:31] orlangur commented on #11011
According to https://amzn.github.io/amazon-payments-magento-2-plugin/installation.html#manual-composer-install-method the command should be
[code]

It worked for me.

Not sure why package is named `amzn/amazon-pay-and-login-magento-2-module` when you install via Web Wizard, extension developer should be contacted in such case according to my understanding.

[2017-09-23 08:31] #11011 closed, assigned to nobody

[2017-09-23 08:58] chetansanghani commented on #5183
I have resolved this by setting intl.error_level to 0.

[2017-09-23 09:27] sinamiandashti commented on #10660
same here
happening to me
not related to paypal
we dont know what is it

[2017-09-23 11:15] vishalpatel14 opened #11012 "Magento 2 After Upgrade from version 2.1.8 to 2.1.9 Theme Configurations are Missing"
Dear Team,

After upgrade of Magneto From Version 2.1.8 to 2.1.9 Theme Selection Menu in Admin Section is missing.

### Preconditions
1. windows 7
2. Wamp Server 3.0.6
3. Php 5.6.25
4. Mysql 5.7.14
5. Apache 2.4.23

### Steps to reproduce
1. Windows command prompt upgrade Magneto from 2.1.8 to 2.1.9. After completion of successfully update. Theme Configurations are missing

### Expected result
The

[2017-09-23 12:29] orlangur commented on #11012
Hi @vishalpatel14, this was changed much earlier than 2.1.8 actually, so, couldn't be caused by such upgrade.

See https://github.com/magento/magento2/issues/10269#issuecomment-316086522 to find out where such configuration is currently placed.

[2017-09-23 12:29] #11012 closed, assigned to nobody

[2017-09-23 13:45] joshuadegier commented on #6826
@skynixukraine it's a non-blocking issue, since the issue only occurs for users that have logged in to the admin panel of your webshop(s). For regular visitors of the website, this doesn't occur (luckily).

[2017-09-23 13:45] roma-glushko commented on #10605
I'll work on this one. Just to let you know. Thanks.

[2017-09-23 13:47] vishalpatel14 commented on #11012
ok thanks got your point. Location changed.

[2017-09-23 14:40] zhudanlin opened #11013 "magento2.1.9 can't add product"
### Preconditions

1. Magento2.1.9
2. PHP-5.6 +Apache-2.4+mysql-5.6;my website:www.amavaporizer.com

### Steps to reproduce

1. Method 'getExtensionAttributes' must be overridden in the interfaces which extend 'Magento\Framework\Api\ExtensibleDataInterface'. Concrete return type must be specified. Please fix :\Magento\Catalog\Api\Data\ProductInterface
2.
3.

### Expected result

1. when i add prod

[2017-09-23 14:57] siliconalchemy commented on #8018
I really, really hope that Magento 2.2 changes this workflow system to something that actually fixes bugs in patch releases.  If anyone involved in the engineering of this product think this is a reasonable and sane workflow currently, you're smacked out of your head.  I hit problem after problem in 2.1.x, including severe regressions in 2.1.8, and almost every single issue has been fixed for mont

[2017-09-23 15:15] mozenpo opened #11014 "empty currency drop down menu in magento2"
I have installed Magento CE 2.1.8 on my localhost and the currency option in stores->configuration->general->currency setup is working properly and I can see its options, but when I uploaded it on server, this dropdown menu is getting empty strangely...what is wrong with this?
<img width="1440" alt="screen shot 2017-09-23 at 18 42 01 copy" src="https://user-images.githubusercontent.com/32037091/30

[2017-09-23 15:25] ikrasnykh opened #11015 "Unit base price display is calculated from selected currency"
### Preconditions
1. Simple Product (Product A) - Price: $250.00
2. Euro & USD are available currencies
3. Euro rate is 0.7067

### Steps to reproduce
1. Change Currency to "Euro"
2. Create order, add "Product A" to cart w/ QTY = 1
3. Product price in Euro should be = 176.68
4. Check the checkbox "Custom Price"
5. Copy / Paste 176.68 into custom price field
6. click "Update items and Quantities"
7

[2017-09-23 15:35] ikrasnykh opened #11016 "Cart Row Total calculation discrepancy"
### Use Case
As a merchant, I would like to sell "Product A" for $350.00 for a single unit. I would also like to sell the same product for $1000.00 for 3 units.

### Preconditions

1. module-tax/Model/Calculation/AbstractAggregateCalculator method calculateWithTaxNotInPrice - in this method row total for tax calculation calculates like "price * qty" (line 105) and then sets to main row total for i

[2017-09-23 15:40] abovebar commented on #10531
@ashuston that worked great, i was able to reindex in less than 30 minutes :) thank you for sharing!!!

[2017-09-23 16:39] xtremeperf commented on #10700
@historylife  Notice the two different sets of permissions on files in your `var/cache/mage-tags` directory?  The files without read permission for "other" users cannot be read.  This is caused by improper initialization of construct variables in the class Cm_Cache_Backend_File.  This issue affects pretty much every fresh installation of Magento 2.  I'm working on submitting a permanent fix to the

[2017-09-23 16:50] asrar7787 commented on #9066
While this bug has now been finally added in TO-DO list for Magento Core team, I already found a feasible solution which doesn't require to override any core class as suggested in the first solution by @AirmanAJK.

In a custom module, I utilised plugin (which uses Interceptor Design Pattern) for _getCurrentOrder_ method in _Magento\Catalog\Block\Product\ProductList\Toolbar_.

For this example, I w

[2017-09-23 17:36] jayachandran1974 commented on #10998
Adding to the above issue, Find the server stack

Ubuntu 16.0.4 --> NGNIX --> PHP7.0 - FPM --> Redis Server
opcache has been disabled

[2017-09-23 21:28] ghost opened #11017 "Exporting Products and Importing them to another store fails on multiple levels"
### Preconditions

1. Magento 2.1.8 PHP 5.4.16 MySQL 5.6.37-82.2 Percona CentOS CentOS Linux release 7.4.1708 (Core)

### Steps to reproduce

1. Have a magento2 store working, clone it exactly.
2. Enter new products in Magento Store A.
3. Export products as csv from Magento Store A.
4. Copy Images from Magento Store A pub/media/catalog/product to Magento Store B pub/media/import/product
5. Use the

[2017-09-23 22:38] onepack commented on #8018
@magento-engcom-team

Please do me a favor and edit your message...
Using the word "already" is so out of place here.

I have upset clients due to this bug massive bug that has been around for months!
This bug has been around for too long so that, without a fix or a workaround, a serious webshop would have gone bankrupt.
Missing big parts of your collection online, prices and promotions not workin

[2017-09-23 22:43] onepack commented on #8018
@magento-engcom-team
And when will 2.2.0 be released?

[2017-09-24 01:59] okorshenko commented on #11016
Hi @technweb please, let us know what Magento versions are you running?

[2017-09-24 02:00] okorshenko commented on #11015
@technweb please provide magento version

[2017-09-24 02:11] okorshenko commented on #8018
in a few days. next week

[2017-09-24 03:20] itg-ddanielson commented on #8018
Completely agree with all of these comments. As an enterprise user I would expect a much greater level of support. We have implemented a workaround for this issue. We ran into another bug:  run your catalog product indexer while a page is uncached. visit the page while the indexer is running and if you hit it at the right time... boom! .. the page is cached with "sorry no products found" . We are

[2017-09-24 07:11] MMaKenZi commented on #7589
i think this issue is so important,
the meaning of this issue is this :
Show in stock products first and out of stock products last

i will explain by an example

it happened sometimes that whole products of a category are out of stock, by the only option provided by magento, they all will be hidden, so if a user try to browse site by categories menu, he will just see "no products found!" and say

[2017-09-24 07:59] skynixukraine commented on #6331
Hello,

Magento 2.1.7 Video still does not work on mobile

[2017-09-24 08:00] skynixukraine commented on #7311
Magento 2.1.7 Youtube video still does not play on mobiles

[2017-09-24 10:04] orlangur commented on #11017
That's really strange, such error could only occur on Store B if you have it on Store A due to product not created via UI but with some migration/generation script.

This is not a Magento issue, images should be copied with proper permissions - Magento do not change them.

Can you provide a reduced version of CSV which reveals such bugs? Not sure such scenario is checked frequently, probably some

[2017-09-24 12:16] Yosuatel commented on #10580
It also happens for es_ES this I am using magento 2.1.9, setup on clean, PHP version 7.0.23

[2017-09-24 15:43] plewandowski commented on #10660
I suggest making sure first that you did not override "customer-data.js" (you intentionally or indirectly via an extension that you are using).

If you are not sure you can compare contents of the file deployed in static folder with the one from github

[2017-09-24 16:53] versdivers opened #11018 "SetCountryID() not displaying for customer or admin."
### Preconditions
1. Magento 2.1.7
2. PHP 7

### Steps to reproduce
1. Create an address by code
code :

[code]

2. execute and check in the customer account and database if the addresses are created and if they have a value for CountryID in the `customer_address_entity` table

### Expected result
1.  Database has a Country ID set in the address table (for belgium 'BE')
2. Adminhtml and frontend u

[2017-09-24 17:28] php-cuong commented on #8181
@lisamych I got same this errors as you.

There are any updates for this issue?

Thanks!

[2017-09-24 17:39] siliconalchemy commented on #8018
@itg-ddanielson IMHO the problem is not with the software.  The software is very (perhaps overly) complex, but it is a large enterprise piece of software so is to be expected.  It's mostly well structured and coded, and for the most part does an excellent job.
However, when an issue is reported, it should stay open until it's committed or released in a useable format to fix what it's reported .  C

[2017-09-24 18:47] ahumphreys87 commented on #9290
@orlangur I understand that the new error messages in 2.2.0 inform the users which url keys are clashing. Is there any chance you could post am equivilent sql query so that people can correct this themselves. Im getting this issue pretty much every time I try to duplicate a product. I duplicate, try to edit name and url key and get this error. The new url key is definitely unique so Im wondering w

[2017-09-24 22:30] orlangur commented on #9290
Hi @ahumphreys87, applying some raw SQL queries manually does not seem to be a normal workflow to me, if you just remove some conflicting URL rewrites of previously created entities you will make them inaccessible with pretty URL in corresponding stores.

Please report duplication problem targeting `2.2.0` as it does not sound good to me that you have to edit some fields manually EACH time you dup

[2017-09-24 22:47] gilbertsohal commented on #10754
@magento-engcom-team ohh great, Could you please confirm when you have plan to release patch.

[2017-09-25 03:51] fooman commented on #11016
Have you tried using a bundle for this? From what you currently describe it does not sound like you would need custom code as you can set a fixed bundle price.

[2017-09-25 04:52] jerryvasoya338 commented on #5946
![untitled](https://user-images.githubusercontent.com/32189619/30792765-e94e265a-a171-11e7-9ca4-5063043a2c23.png)

Similar type of issue create new or old any type of magneto 2.0.16 new product not add to cart  but its directly 300 not found error generate in network indicate other wise Adding... button show in long time.
How To Solved This Time Of Problem ??????

[2017-09-25 05:51] jayachandrann opened #11019 "Magento 2 API integration is not working"
I have installed Magento on production server and configured Redis along with Varnish for cacheing purpose. Permission given as suggested in Magento2 installation document online,

I am facing 2 issues
1) Website has become slower takes about 21 secs for the website to load
2) The page Admin --> System --> Integration --> Edit or Add New Integration is not loading the form.

Server Details
=======

[2017-09-25 06:23] flancer64 commented on #7557
These are stack traces and secret sources for hashing in my case (Magento ver. 2.2.0-rc30).

Secret key generation for navigation links:
![secret_generate](https://user-images.githubusercontent.com/5052385/30794783-dff69bb2-a1d2-11e7-984e-6312951a9c0c.png)

Secret key validation on route action:
![secret_validate](https://user-images.githubusercontent.com/5052385/30794806-ffe821e8-a1d2-11e7-8db9-f

[2017-09-25 07:08] magento-engcom-team commented on #9900
We updated issue description:

[2017-09-25 07:18] tmotyl commented on #8018
@magento-engcom-team @okorshenko Can you please confirm that not fixing the issue in a stable release 2.1.x is the official statement from Magento core team.
Does it mean that once 2.2 version is released, version 2.0 and 2.1 will not be supported any more?

[2017-09-25 07:31] magento-engcom-team commented on #10941
@rishabhchd19, thank you for your answer.
We have reproduced this issue on the site you provided on a desktop browser by narrowing the browser window. But we cannot reproduce this issue on clean Magento installation even with a logo from your site.
It seems like you Magento theme is improperly configurated. Please provide more details in steps to reproduce, or try to reproduce this issue on a clea

[2017-09-25 07:35] magento-engcom-team commented on #11008
@maderlock, thank you for your report.
We checked it on 2.1.9. Looks like you missed something.
The configuration, that specifies admin session expiration is located in: Stores -> Configuration -> Services -> OAuth -> Access Token Expiration -> Admin Token Lifetime (hours).
Cron job is a class: Magento\Integration\Cron\CleanExpiredTokens::execute() which is configured in app/code/Magento/Integrati

[2017-09-25 08:16] korostii commented on #6709
Hi @magento-engcom-team

Considering that `develop` is now corresponding to 2.3.0 version which is at least one year from release, how closing this issue makes any sense right now?

Could you please publicly share your current guidelines regarding closing acknowledged\reproduced issues and github issue flow in general?
That would be most helpful in order to understand what's going on here.

Thanks

[2017-09-25 08:32] binnykumar commented on #7657
Hi All,

Anyone has fix for this issue ??
I am also getting this issue for both vernish and built-in cache.

Check this url:
http://beta.thebodyshop.in

[2017-09-25 08:37] magento-engcom-team commented on #8854
Hello, @QwertyZW. Unfortunately, we are not able to reproduce Your issue. We also tried to do it with a domain consisting of just a single segment, but the result is the same. Also please let us know if You can reproduce it on 2.1.9.

[2017-09-25 08:42] orlangur commented on #3759
@NAVEEN456, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2017-09-25 08:47] zhudanlin commented on #11013
this problem was solved,it is linux environment build problem,Now i choose bitnami's lamp and magento,it is working good.

[2017-09-25 08:47] #11013 closed, assigned to nobody

[2017-09-25 08:48] zhudanlin commented on #11013
hope Magento can open more message of linux environment build

[2017-09-25 08:50] ahumphreys87 commented on #9290
Hi @orlangur, I dont mean to remove the items in the DB. I just want to know which items are clashing so I can update them via admin.

I suspect my issues are due to data migration from v1.9. I will open a new issue for duplication.

[2017-09-25 08:56] magento-engcom-team commented on #10646
Unfortunately, I could not reproduce the issue as you described it. Please provide more information on this issue.

[2017-09-25 09:01] siliconalchemy commented on #10386
I had the same problem, which took days to track down because Magento doesn't log the problem anywhere.  In my case it was because I am using a two-user solution (ie a different OS user for files, cron etc than the webserver user), and the permissions in the pub/ directory somewhere weren't open enough.  Changing files to 664 and directories to 775 fixed the problem.

[2017-09-25 09:25] lhsatch opened #11021 "Magento 2 After Upgrade from version 2.1.8 to 2.1.9 cannot edit theme configurations"
### Preconditions

1. Upgraded from magento 2.1.8 to 2.1.9, php 5.6
2.

### Steps to reproduce

1. Log into the admin area
2. Goto Content ->Design->Configuration
3. Then select edit on the theme.

### Expected result

1. Theme Edit page appears

### Actual result

1. White screen appears, nothing is logged and no error message appears.

[2017-09-25 09:36] manhao-chen opened #11022 "GET v1/products/attribute-sets/sets/list inconsistent return result"
### Preconditions
currently i'm using the magento 2.1.9 clean fresh install

### Steps to reproduce
i call the REST api with the following
http://URL/magento-219/rest/v1/products/attribute-sets/sets/list

### Expected result
expect the full list of attribute-sets to be returned

### Actual result
[code]

### Steps to reproduce with search fieldname filled in
i call the REST api with the following

[2017-09-25 09:38] gergely-42droids commented on #5240
Could this doc be updated, please? It is very misleading... http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/theme-apply.html

[2017-09-25 09:44] maksymcherevko commented on #10955
Found a problem module... It works with the console commands and similar errors:

![selection_011](https://user-images.githubusercontent.com/16465396/30802249-800f8940-a1ee-11e7-8efc-a14cbf557fd8.jpg)

 which were solved by preset area:

`$state->setAreaCode(\Magento\Framework\App\Area::AREA_ADMINHTML);`

this was the reason for the problematic compilation. After temporary removal of the module, t

[2017-09-25 09:56] gwilliams01 opened #11023 "Configurable product displays price zero (£0.00) - Disabled in stock simple"
### Preconditions
1. Clean installation of Magento CE 2.1.7

### Steps to reproduce
1. Create configurable product and associate two simple products
2. Configure first simple product - Enabled, qty 0, Out of Stock
3. Configure second simple product - Enabled, qty 1, In Stock
4. Check product displays correctly on frontend - i.e. In Stock
5. Configure system to not display Out of Stock products (co

[2017-09-25 10:00] Atsiat commented on #10984
After examing the steps you did I came to the conclusion we tried two different things.
I tried to add two categories for two storeviews (so 4 categories in all).

This is my category tree before adding anything via REST API and the stores:
![magento_debug2](https://user-images.githubusercontent.com/32162427/30802636-7f1d0f64-a1e7-11e7-9eb4-cb74b570ce02.png)
![magento_debug1](https://user-images.g

[2017-09-25 10:01] magento-engcom-team commented on #10437
We update description:

[2017-09-25 10:16] patrick-bigbridge commented on #10754
@magento-engcom-team Please provide commit id of fix so that we can apply the change.

[2017-09-25 10:16] orlangur commented on #11021
Try turning on developer mode and uncommenting `ini_set('display_errors', 1);` in `app/bootstrap.php` to see an actual error instead of white screen.

[2017-09-25 10:20] orlangur commented on #11023
Did you assure that stock reindexing occurred?

[2017-09-25 10:25] Atsiat commented on #10984
UPDATE:
I modified my request a little and pushed the category to the second storeview with the id created from the first POST request and now it seems like it created the categories the way I wanted them to.

Couldn't find any information about this behaviour but now that I know I guess it's designed this way. The tracker can be closed then.

[2017-09-25 10:39] asrar7787 commented on #5730
Hi,

This issue somewhat relevant to https://github.com/magento/magento2/issues/6793.

I suggested a fix there for search by 'relevance'.

[2017-09-25 10:41] lhsatch commented on #11021
I normally see all errors on the frontend with the settings you have suggested but it seems strange that there is nothing showing for this instance

[2017-09-25 10:52] lhsatch commented on #11021
I think it might be to do with the CheckThemeIsAssignedObserver in the magento theme observer. The function is returning false for isThemeAssignedToStore.

[2017-09-25 11:19] magento-engcom-team commented on #9848
@nickbartlett, thank you for your report
We were not able to reproduce this issue by following the steps you provided. Please provide more details in steps to reproduce, or try to reproduce this issue on a clean installation or latest release.

[2017-09-25 11:27] grizwako commented on #10079
Hi, everyone!

Any updates on this?

[2017-09-25 11:27] elvin-vaimo commented on #6005
@Radio , did you ever got this improved?  With following approach I got on my machine from 140sec to 1sec.

[code]

[2017-09-25 11:40] orlangur commented on #10984
@Atsiat good to know problem is solved. I believe this is something self-evident for Magento ecosystem and probably not documented anywhere.

Categories are global, their relation to store views is many-to-many. So, you only create category once and then assign it to all needed store views.

[2017-09-25 12:06] gwilliams01 commented on #11023
Yes, reindex was done.

[2017-09-25 13:03] korostii commented on #9255
So we agree it's a bug?

That hasn't stop Magento core developers from "improving" URL key functionality, has it?

Anyway, there's plenty of ways around that.
You can always just create a new collection class with _sane_ behavior, deprecate the old one, and slowly move all the core code to use the newer one instead.

[2017-09-25 13:10] magento-engcom-team commented on #6799
Hello @staffrob. Your issue has been fixed in later versions. If You are still able to reproduce it on 2.1.9 please let us know.

[2017-09-25 13:23] lisamych commented on #8181
@php-cuong  No, we haven't heard anything back from Magento, though it appears that the issue has been acknowledged by them.  We ended up doing custom coding to fix this.

[2017-09-25 13:30] angelo983 commented on #9984
@orlangur I believe instead that the programmer who wrote that line of code made the one mistake as expressed in the link https://stackoverflow.com/a/5076962 (difference between null and undefined in JavaScript).
If you are not convinced of this, state in what scenario the position should be of undefined type since that case is handled in the code
Summary:

Why YES?
if (typeof position === 'undefi

[2017-09-25 13:37] gediminaskv opened #11026 "Importing: non-default multiple value separator can't be used in additional_images column"
### Preconditions

1. Mage 2.1.8 and earlier
2. PHP7

### Steps to reproduce

1. Generate CSV file for product images import with fields:  `sku` , `additional_images` etc.
2. Use different multiple values separator ie ;
3. Add some images to `additional_images` row.

### Expected result

1. Product images imports successfuly.

### Actual result

1. Get an error during importing process: `Wrong URL

[2017-09-25 13:50] orlangur commented on #9255
It's obviously a bug of controller, not collection.

URL key functionality was IMPROVED in fact, not "improved". URL Rewrites in M1 where causing troubles while I don't remember complaints about pagination. As far I see for now, naive customization may lead to unexpected page numbers, no more than that.

I find collection behavior perfectly valid. What I was saying is that we can have some class,

[2017-09-25 13:52] cerotti commented on #9703
I have the same problem with the "shipping country" condition, but in my case it happens without using coupons, we apply a 10% discount if the "shipping country" match the rule.
I noticed that in the second step of the checkout, if we go back to the first step (or do a refresh of the page) and then go to the second step, the discount appears.

[2017-09-25 13:54] MMaKenZi commented on #7589
Shouldn't be opened again?

[2017-09-25 13:55] angelo983 commented on #9984
@orlangur A scenario where this happens? Mine
Should be pretty easy too that you provide some scenario where typeof position === 'undefined'
But if you don't find it easy, I'll let you access my test platform. Let me know

[2017-09-25 13:57] stevenlavine opened #11027 "Updating any date field in admin results in 'Invalid input datetime format'"
### Preconditions

1. Existing install of Magento 2.17 updated to 2.1.9
2. PHP 7.1.x
3. MySQL 5.7

### Steps to reproduce

1. Go to Products > Catalog
2. Edit a product
3. Set the new from and to dates

### Expected result

1. Product updates with the new values

### Actual result

1. Error Returned: Invalid input datetime format of value '25/09/2017'
![image](https://user-images.githubusercontent

[2017-09-25 14:32] PieterCappelle commented on #10417
@hostep I think the bug is back in 2.1.9. We are having the same problem in CMS Pages / Blocks. When you insert image in 2.1.8, we get ```<p><img src="{{media url="wysiwyg/Hond.jpg"}}" width="1024" height="683" /></p>``` when we insert image in 2.1.9 ```<p><img src="http://local.magento/admin/cms/wysiwyg/directive/___directive/e3ttZWRpYSB1cmw9Ind5c2l3eWcvVmVsZC5qcGcifX0%2C/key/d3f89696a93152f6d352

[2017-09-25 14:38] Loxzibit opened #11028 "Enabling "Automatic (equalize product counts)" on Price Navigation Step Calculation causes "Undefined offset" Notice"
### Preconditions
1. Magento 2.1.9
2. PHP 7.0.20
3. MySQL 5.6.36
4. Use Flat Catalog Category (Yes) in `Stores > Config > Catalog > Storefront`
5. Use Flat Catalog Product (Yes) in `Stores > Config > Catalog > Storefront`
6. Search Engine **MySQL** in `Stores > Config > Catalog > Catalog Search`
7. Minimal Query Length **3** in `Stores > Config > Catalog > Catalog Search`
8. Maximum Query Length *

[2017-09-25 14:41] php-cuong commented on #8181
@lisamych You can put your codes here? :) thanks

[2017-09-25 14:43] orlangur commented on #6005
@elvin-vaimo I still don't see `vendor/magento/framework-foreign-key` as a part of Magento Open Source, please remove the code which is a part of Magento Commerce and ask your colleagues where such kind of improvement can be discussed.

[2017-09-25 14:47] orlangur commented on #7589
@MMaKenZi, nope, as far as I can say.

GitHub is intended for bug reports, please use [Community Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) for other suggestions like improvements or feature requests.

[2017-09-25 14:48] orlangur commented on #9984
Does it happen from time to time?

Based on

it looks like not so easy to reproduce...

[2017-09-25 14:51] orlangur commented on #11027
@stevenlavine, thanks for bug report! This is already tracked as https://github.com/magento/magento2/issues/10580.

[2017-09-25 14:51] #11027 closed, assigned to nobody

[2017-09-25 14:55] magento-engcom-team commented on #9036
We updated description:

### Short way to reproduce:
1. Magento CE 2.1.8
2. Create empty test trigger:
`mysql> CREATE TRIGGER test_trigger AFTER INSERT ON catalog_product_entity FOR EACH ROW BEGIN END;`
3. To make sure that trigger was created:
`mysql> SHOW TRIGGERS;`
4. create backup
`php bin/magento setup:backup --db.`
5. Create New DB:
`CREATE DATABASE magento_backup;`
6. import data form backu

[2017-09-25 14:55] angelo983 commented on #9984
In my scenario happens every time, my magento platform is at version 2.1.9 and started from 2.0.4
2.0.4 -> 2.0.7 -> 2.1.0 -> all subversion -> 2.1.9

[2017-09-25 14:59] maderlock commented on #11008
How strange. I am missing those settings. I can only assume this is an unexpected consequence of excluding the following modules:

        "magento/module-authorizenet": "*",
        "magento/module-braintree": "*",
        "magento/module-marketplace": "*",
        "magento/module-multishipping": "*",
        "magento/module-rss": "*",
        "magento/module-send-friend": "*",
        "magento/m

[2017-09-25 15:00] maderlock commented on #7619
Can anyone confirm if this is fixed in 2.1.9?

[2017-09-25 15:58] Geater opened #11030 "Magento 2.1.8: Unable to create subcategory"
### Preconditions
1. Magento 2.1.8, 2.1.9

### Steps to reproduce
1. Attempt to create new subcategory inside the "Default Category" (or any of its subcategories)

### Actual result
1. Error occurs
[code]

### Expected result
1. Subcategory is created.

### Additional Information

I am able to create new root categories (and sub-categories of those), but if I try to create a new subcategory in "De

[2017-09-25 16:23] ed007m opened #11031 "CatalogSearch by Price doesn't shows products with upper price."
### Preconditions

1. Magento CE 2.1.9 with sample data is installed.

### Steps to reproduce

1. Navigate to any category with products and set price filter(As example Woman->tops->Jackets).
2. Set price filter from $70 to $79.99.
3. Then filter results and change upper price for 77 in URL.

### Expected result

1. Products with price $77 should be visible.

### Actual result

1.
![screenshot at

[2017-09-25 17:08] MidnightDesign opened #11032 "Unable to add new options to swatch attribute"
`ProductAttributeOptionManagementInterface#add()` doesn't do anything.

### Preconditions
Magento 2.1.9
Create a product attribute named "color" and set its type to "Visual Swatch". Also make sure it has at least one option. Otherwise you'll run into [a different issue](https://github.com/magento/magento2/issues/9410).

### Steps to reproduce
Consider the following class:
[code]

### Expected resu

[2017-09-25 18:09] hostep commented on #10417
@PieterCappelle: that's weird, I can't really see anything at first sight in the [diff between 2.1.8 and 2.1.9](https://github.com/magento/magento2/compare/2.1.8...2.1.9) which can cause this bug to re-appear.

Can you reproduce it on a clean 2.1.9 installation?

[2017-09-25 18:16] rmevans1 opened #11033 "Images under a configurable product stop changing after updating the configurable product."
### Preconditions
1.  Magento 2.0.16
2.  Clean install

### Steps to reproduce
1. Create a visual swatch with images
2. Create a configurable product with that swatch.
3. Update configurable product

### Expected result
1. Images should continue to change after saving configurable product a second time.

### Actual result

1. Images stop changing.
2. The only way I have been able to solve this is

[2017-09-25 18:16] PieterCappelle commented on #10417
@hostep Tomorrow at MM17BE? Will show you my case.

[2017-09-25 18:21] hostep commented on #10417
Confirmed, tried it on a clean 2.1.8: no problem
Then on a clean 2.1.9: and the problem you describe appears. God damned, I hoped we were finally rid of this bug, but it came back :(

(See you tomorrow at MM17BE :))

[2017-09-25 18:24] PieterCappelle commented on #10417
You should join the Slack channel of Magento. Let's fix this in the contribution day :-)

[2017-09-25 18:33] miguelbalparda commented on #7356
There is a proposed fix for this #11029. Can you try it and report back?

[2017-09-25 19:10] rmevans1 commented on #11033
After further investigation it appears that when I click a swatch the gallery for the configurable product is being returned instead of the gallery for the product I want

[2017-09-25 19:47] Shade634 commented on #2732
@rafatriolo I have tried this without any result, my temporary solution:

Merge javascript files: Yes
Enable javascript bundling: Yes
Minify javascript files: No

It might have to do with other extensions as well even though it does not load a core backend script. (does not exist)
There is no need to keep this issue open for just me. :)
I think it would help if people that have this issue, would a

[2017-09-25 19:49] sammarcus commented on #4299
Hi, I can still reproduce this, same exact steps and version as @Parceti.

My environment is at least a m3.large AWS instance ([2 CPUs and 7+ GB of RAM](https://aws.amazon.com/ec2/instance-types/)).   If @Parceti is not able to share their catalog export I don't mind sending it to you @AlexWorking. Where can I find appropriate contact information?

[2017-09-25 20:14] atrixtech commented on #11017
I verified the permissions were right on the images, but it could be I'm missing something in that regard.

Unfortunately I can't provide you with example data as the data belongs my client who doesn't wish it shared.

I found my own fix, but it's a very situational fix as it depends on identical environments and Magento Store A being the one in which you want to keep the products and disregard an

[2017-09-25 21:12] spiegl opened #11034 "Web Setup Wizard can't handle git repositories"
### Preconditions
1. Magento 2.1.4 (also testet in Magento 2.1.7)
1. PHP 7.0.22
1. MySQL 5.7.19 (also testet with 10.2.8-MariaDB)
1. Apache 2.4.18
1. Ubuntu 16.04.2 LTS (also testet on macOS 10.12.5)
1. Git repositories in `composer.json` ([FireGento_FastSimpleImport2](https://github.com/firegento/FireGento_FastSimpleImport2) and [magento2-disable-customer-registration](https://github.com/deved-it

[2017-09-25 21:38] orlangur commented on #11017
@atrixtech thanks, of course I didn't mean production data sharing but some snippet after data anonymization.

Hope whoever will verify this issue will start from sample data and will be able to observe issues similar to yours. Otherwise it will be closed as nonreproducible.

[2017-09-25 21:51] speedupmate commented on #10639
I will report this again

it is just insane , for this line

checked: $parent.rates().length == 1

you have to rewrite whole template "Magento_Checkout/shipping" cause you can't deselect a radio cause it's not actually selected or rate accepted by customer

[2017-09-25 21:52] speedupmate opened #11035 "Checkout shipping method is preselected if only one rate available"
reporting this again, already did in #10639 but got closed, this is a real bug in 2.1.* series

When you reach checkout and you have more than one rate available in shipping options and choose a rate that suits you , then change shipping country (or whatever affects rate availability)  that limits the rates to one option available (disabling the one chosen before) you end up with preselected rate

[2017-09-25 22:00] magento-engcom-team commented on #7660
@deepak-netwin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #7660 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #9036
@domeglic, thank you for your report.
We've created internal ticket(s) MAGETWO-78619 to track progress on the issue.

[2017-09-25 22:00] magento-engcom-team commented on #3625
@ivanweiler, thank you for your report.
We've created internal ticket(s) MAGETWO-78706 to track progress on the issue.

[2017-09-25 22:00] magento-engcom-team commented on #6701
@paales, thank you for your report.
We've created internal ticket(s) MAGETWO-70354, MAGETWO-73121 to track progress on the issue.

[2017-09-25 22:00] magento-engcom-team commented on #6826
@melindash, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #6826 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #10767
@RJacksonm1, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] magento-engcom-team commented on #8862
@albertixcom, thank you for your report.
We've created internal ticket(s) MAGETWO-78406 to track progress on the issue.

[2017-09-25 22:00] magento-engcom-team commented on #7679
@vlauria, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] magento-engcom-team commented on #10402
@alessandroniciforo, thank you for your report.
We've created internal ticket(s) MAGETWO-78298 to track progress on the issue.

[2017-09-25 22:00] magento-engcom-team commented on #9059
@Alexgmin, thank you for your report.
We've created internal ticket(s) MAGETWO-78227 to track progress on the issue.

[2017-09-25 22:00] magento-engcom-team commented on #6799
@staffrob, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-25 22:00] #6799 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #8407
@torreytsui, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #8407 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #10581
@bondimedical3, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #10581 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #10673
@hostep, thank you for your report.
We've created internal ticket(s) MAGETWO-72301 to track progress on the issue.

[2017-09-25 22:00] magento-engcom-team commented on #5439
@ednacool, thank you for your report.
We've created internal ticket(s) MAGETWO-78293 to track progress on the issue.

[2017-09-25 22:00] magento-engcom-team commented on #9744
@sydekumf, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] magento-engcom-team commented on #5332
@carlowens, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #5332 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #5241
@RG-1, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-25 22:00] #5241 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #8854
@QwertyZW, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-25 22:00] magento-engcom-team commented on #10437
@poojawebkul, thank you for your report.
We've created internal ticket(s) MAGETWO-77713 to track progress on the issue.

[2017-09-25 22:00] magento-engcom-team commented on #10162
@nmallepally, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #10162 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #11005
@muhammadshakeel, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-25 22:00] #11005 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #8318
@peterhirn, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #8318 closed, assigned to antboiko

[2017-09-25 22:00] magento-engcom-team commented on #9833
@aasim110, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #9833 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #9420
@Danielc3, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #9420 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #11002
@gwharton, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-09-25 22:00] magento-engcom-team commented on #11008
@maderlock, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #11008 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #11010
@McDev814, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #11010 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #11013
@zhudanlin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] magento-engcom-team commented on #7225
@rendyep, thank you for your report.
We've created internal ticket(s) MAGETWO-77937 to track progress on the issue.

[2017-09-25 22:00] magento-engcom-team commented on #7336
@developer-vivacity, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-25 22:00] #7336 closed, assigned to nobody

[2017-09-25 22:00] magento-engcom-team commented on #9900
@StefanErakovic, thank you for your report.
We've created internal ticket(s) MAGETWO-77434 to track progress on the issue.

[2017-09-25 22:00] magento-engcom-team commented on #7356
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-77432 to track progress on the issue.

[2017-09-25 22:01] magento-engcom-team commented on #9685
@klein0r, thank you for your report.
We've created internal ticket(s) MAGETWO-78513 to track progress on the issue.

[2017-09-25 22:01] magento-engcom-team commented on #10790
@dankocherga, thank you for your report.
We've created internal ticket(s) MAGETWO-77433 to track progress on the issue.

[2017-09-25 22:01] magento-engcom-team commented on #10703
@Boolem, thank you for your report.
We've created internal ticket(s) MAGETWO-78400 to track progress on the issue.

[2017-09-25 23:16] gilbertsohal opened #11036 "Magento 2.1.8 - Mailchimp installation failed"
### Preconditions

1. Magento CE 2.1.8
2. PHP version: 7.0
3. MailChimp for Magento mc-magento2-1.0.24
4. Locale AU

### Steps to reproduce

1. Download "MailChimp For Magento2" in ebizmarts
2. Install "MailChimp for Magento2" with Semi-manual installation
3. extract the contents in app/code/Ebizmarts/MailChimp
4. run - composer -vvv require ebizmarts/mailchimp-lib

### Expected result

1. Install

[2017-09-26 04:58] muhammadshakeel commented on #11005
Following can be used as a temporary solution for 2.1.x (hopefully we will get a patch for 2.1.x):

Add following plugin in your di.xml

[code]
Add StorePlugin class as follows:

[code]
Execute `php bin/magento setup:di:compile` command and observe search results.

[2017-09-26 05:04] sasilinux opened #11039 "Varnish Cache Issue"
### Preconditions
1.  Magento 2.1.8 CE installed
2.  Varnish 4 Installed and configured in Magento2 Admin
3.  Set Varnish Cache under Admin -> Stores -> Configuration -> Advanced ->System -> Full Page Cache

### Steps to reproduce

1.  I have placed an order from the frontend.
2.  Order not showing under Admin -> Sales-> Orders.
3.  But in frontend order will be displayed in "My Account".
4. All t

[2017-09-26 06:32] keevitaja commented on #10162
Guys, This is not an bug. Magento just uses wrong event for sending out these emails.

The event we want it to use is `sales_order_payment_pay` but it is using something different

[2017-09-26 07:01] joni-jones commented on #10767
Closed by mistake.

[2017-09-26 07:54] Skullsneeze commented on #10501
I'm currently investigating the issue

[2017-09-26 07:58] joachimVT commented on #10860
I'm working on this ticket.

[2017-09-26 08:01] jissereitsma commented on #6015
I'm unable to locate the configuration option "Require Customer To Be Logged In To Checkout" which is mentioned here above. However, regardless of this setting, this issue is still there. I'm going to pick this up (MM17BE)

[2017-09-26 08:03] quienti commented on #6015
https://github.com/magento/magento2/issues/7848

[2017-09-26 08:06] magento-engcom-team commented on #10735
@netzkollektiv , thank you for your report.
From your steps to reproduce we cannot completely understand how to reproduce issue. Please, give us your code source to reproduce this issue.

[2017-09-26 08:09] magento-engcom-team commented on #11039
Hi @sasilinux
Did you apply varnish configuration (VCL) provided in Magento admin panel?

[2017-09-26 08:12] magento-engcom-team commented on #11036
Hi @gilbertsohal
This issue does not seem to be related to Magento but to the Mailchimp extension. Please report issues with third-party extensions directly to their vendors.

Thank you

[2017-09-26 08:12] #11036 closed, assigned to nobody

[2017-09-26 08:13] pboisvert commented on #10639
will review. Obviously our goal is not not have checkout be complex to modify but that doesn't make the issue a bug. The cart contents are displayed along with shipping rate so it is not hidden--just not as explicit as selecting each time. I can see an argument to make this configurable for merchants that are concerned. Just seems like an extreme use case when only one rate applies and the buyer i

[2017-09-26 08:20] schmengler opened #11044 "magento setup:upgrade prompts to run compilation, even in developer mode"
In developer mode, `setup:di:compile` is not necessary and should not be executed. The `setup:upgrade` command asks for it independent of the current mode, which is confusing and misleading, especially for developers new to the platform.

### Preconditions

1.  Any Magento version up to 2.2
2. Developer Mode

### Steps to reproduce

1. Run `bin/magento setup:upgrade`

### Expected result

1. Migra

[2017-09-26 08:21] magento-engcom-team commented on #10998
Hi @binnykumar
Please try reproducing on clean Magento installation, as the issue may be related to third-party customizations.
If the issue persists please provide detailed report following the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines). Please, edit issue description and include the preconditions, the steps required to reproduce, the actual

[2017-09-26 08:21] osrecio commented on #9968
Maybe Adding a Guard Clause in `\Magento\Sales\Model\Order\Invoice::cancel` with:

[code]
can Solve the problem.

If you accept this solution @okorshenko can proceed to create PR.

[2017-09-26 08:27] jissereitsma commented on #6015
Fix is on the way with changes in 2 files: `Magento_Customer/js/view/authentication-popup.js` and `vendor/magento/module-customer/Block/Account/AuthenticationPopup.php`. Prepping PR.

[2017-09-26 08:28] avdb commented on #10697
I would like to look into this issue

[2017-09-26 08:33] pboisvert commented on #11016
Don't even think you need bundle. You can use tier pricing to accomplish this:

http://docs.magento.com/m2/2.0/ce/user_guide/catalog/product-price-tier.html

Any use case not covered by that? If so please reopen and provide more details

[2017-09-26 08:33] #11016 closed, assigned to nobody

[2017-09-26 08:34] stevenvdp commented on #10415
I'll take a look at this

[2017-09-26 08:35] hervebackstage commented on #10922
I can work on this issue?

[2017-09-26 08:38] hervebackstage commented on #10824
I can give a go at this one

[2017-09-26 08:39] sasilinux commented on #11039
Yes. That's why the site is loading below 1 sec.

[2017-09-26 08:41] hatimeria-artur-jewula commented on #10824
It's already fixed and merged into develop branch

[2017-09-26 08:41] magento-engcom-team commented on #10614
@premgurung thank you for your report.
This issue not related with Redis.
I’m closing this issue because it is a duplicate #10588. Please reopen this issue as needed.

[2017-09-26 08:41] #10614 closed, assigned to nobody

[2017-09-26 08:46] Jens-S commented on #10209
I would like to work on this ticket.

[2017-09-26 08:48] okorshenko commented on #10697
@avdb  I've sent you an invite to join Magento Team on the GitHub. Please, accept the invite

[2017-09-26 08:51] okorshenko commented on #10824
@hervebackstage  it would be great to backport this fix to 2.2-develop branch

[2017-09-26 08:53] TomMeijnaerts commented on #8964
ill try to give it a go

[2017-09-26 08:54] avdb commented on #10697
@okorshenko done

[2017-09-26 08:59] Quinten commented on #9599
I will try this one.

[2017-09-26 09:00] schmengler commented on #9477
Here's a use case: I develop on Magento in a docker setup and have a shortcut to run `bin/magento` within the application container. I want to run the tests in the container as well without introducing new shortcuts.

I'll create a PR, don't see any reason not to have this feature

[2017-09-26 09:01] hatimeria-artur-jewula commented on #10824
@hervebackstage you can also try to find all places with missing name and add test to make sure no new blocks like that are added.

[2017-09-26 09:04] pboisvert commented on #11014
The build looks modified or otherwise corrupted as the navigation is appearing at right instead of left. Have you tried a clean reinstall?

[2017-09-26 09:07] okorshenko commented on #10417
Just for info: https://github.com/magento/magento2/compare/2.1.8...2.1.9#diff-92c32b12996a53a237ff51fa0d39d829R113

[2017-09-26 09:09] jokeputs commented on #9918
I'd like to work on this one. I hope I can solve it.

[2017-09-26 09:13] mozenpo commented on #11014
at first i had a clean install and then i have made it rtl cause my region language....

[2017-09-26 09:18] Skullsneeze commented on #10501
Bug confirmed (against 2.2-develop) . Currently looking into a fix to resolve the issue

[2017-09-26 09:20] Echron commented on #10661
I will try to reproduce it and see if i can fix it

[2017-09-26 09:31] prestashoppay commented on #10141
Hello ,

Any process on this issues ??

[2017-09-26 09:40] #10375 closed, assigned to nobody

[2017-09-26 09:40] magento-engcom-team commented on #10371
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-26 09:40] #10371 closed, assigned to nobody

[2017-09-26 09:42] eswolters commented on #10479
Can I pick up this ticket.

[2017-09-26 09:48] jissereitsma commented on #10661
I tried to reproduce this and can reproduce it with a cat image (PNG-8) and the GD adapter AND the ImageMagick adapter. When I encountered these issues before they actually depended on the version of GD and/or Imagick and/or PHP.

PS: I tried a transparent GIF as well and I ended up in a non-transparent watermark, so that's another fail.

[2017-09-26 09:49] okorshenko commented on #10479
@eswolters sure. Thank you

[2017-09-26 09:49] Quinten commented on #9599
I can't reproduce this in 2.2-develop branch. The thumbnails and the whole slider seem to be responsive. I can even swipe the thumbnails on my mobile phone and the container isn't sticking out of the page. The thumbnail container is scaling correct with the page.

[2017-09-26 09:52] okorshenko commented on #9599
@Quinten thank you for investigating the issue.
@ferrazzuk could you please confirm the there is no issue for you on 2.2.0 release?

[2017-09-26 09:53] adie1980 commented on #10754
@magento-engcom-team are you able to provide details of the fix? I have the same problem with Magento 2.1.9 and since upgrading, it won't let me save or amend any cart price rules, nor other extensions where a date has to be entered. "Please Enter A Valid Date". (although I am UK Locale)

[2017-09-26 09:53] magento-engcom-team commented on #10343
@MichaelJamesParsons, thank you for your report.
The fix for this issue is already available in the 2.1, 2.2 and develop branches.

[2017-09-26 09:53] #10343 closed, assigned to nobody

[2017-09-26 09:56] PieterCappelle commented on #10893
I'm working on it.

[2017-09-26 10:00] #10312 closed, assigned to nobody

[2017-09-26 10:01] udovicic commented on #3625
@magento-engcom-team Please see the second comment on the issue. I believe that your recently opened `MAGETWO-78706` is actually duplicate of `MAGETWO-43095` which has been opened for a year and half now...

[2017-09-26 10:01] cleggypdc commented on #1619
@dakira cheers that solved my issues with sourcemaps not showing up too

[2017-09-26 10:06] magento-engcom-team commented on #10256
@christophbee The GitHub issue tracker is intended for Magento Core technical issues only. Please contact appropriate extension vendors with issues regarding third-party extensions.

[2017-09-26 10:06] #10256 closed, assigned to nobody

[2017-09-26 10:14] andidhouse commented on #3625
omg really reported 3 Mar 2016 and not fixed... a big WOW to the magento2 team.
A major checkout issue lasting for over 1.5 years... could pls a magento management team member write a feedback here which internal processes are going totally wrong?

[2017-09-26 10:23] krutkoroma79911 commented on #11022
@manhao-chen Hello.
With request like http://URL/magento-219/rest/v1/products/attribute-sets/sets/list you must have some Search Criteria queries to get list of attribute sets, If you want to get only 1 attribute set from GET request use
/V1/products/attribute-sets/{attributeSetId}.
You can get more information here [Magento swagger](http://devdocs.magento.com/swagger/)

[2017-09-26 10:26] nkajic commented on #6916
Hi all, it seems problem is caused when we have two pages of product options and secund page it not loaded and therefore not filled with required fields. If you try to open secound page od product options and hit save product will be saved without problems.

https://i.imgur.com/TnamhJK.png

[2017-09-26 10:30] okorshenko commented on #10209
Hi @Jens-S
I've sent you an invitation to join Magento Team on public GitHub. Could you please accept the invitation?

[2017-09-26 10:32] okorshenko commented on #10415
Hi @stevenvdp could you please accept the invitation to join Magento team on the GitHub?

[2017-09-26 10:34] magento-engcom-team commented on #10588
@premgurung Thank you for your submission. The Magento 2 GitHub repository is used to capture code and documentation issues. Questions should be posted to a question and answer site, such as Stack Exchange and the Magento Forums, where Magento community members can quickly provide recommendations and advice.

[2017-09-26 10:34] #10588 closed, assigned to nobody

[2017-09-26 11:11] manhao-chen commented on #11022
I did provide some search criteria, but it appears to completely ignore them and return the full set of attributes-sets

[2017-09-26 11:23] krutkoroma79911 commented on #11022
Yes i think so too , i just try to search like
`?searchCriteria[filter_groups][0][filters][0][field]=attribute_set_name&searchCriteria[filter_groups][0][filters][0][value]=123`
but my response filter is always "filters":[
{
"field": "entity_type_code",
"value": "catalog_product",
"condition_type": "eq"
}

[2017-09-26 11:30] eswolters commented on #10479
@okorshenko  issue still exists 2.2 behavior has changed, now there is no error message, and the form field is reset.

[2017-09-26 11:30] vrootwoot commented on #10908
Apparently the issue only occurs from the homepage, starting working on it.

[2017-09-26 11:37] magento-engcom-team commented on #5160
Thank you for your submission. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](https://co

[2017-09-26 11:37] #5160 closed, assigned to vzabaznov

[2017-09-26 11:38] orlangur commented on #9477
@schmengler PRs are always welcomed! Especially if we are talking about Developer Experience, who else but developers can evaluate usability best, no PO approval needed like for functional improvements.

Do you plan it in a form of passing any PHPUnit option, right?

[2017-09-26 11:51] PieterCappelle commented on #10353
Should be fixed in #11053 .

[2017-09-26 11:52] stevenvdp commented on #7951
I'll take a look at this one

[2017-09-26 11:54] pareshpa opened #11055 "Something went wrong while saving the category in Magento 2.1.9"
### Preconditions

1. After upgrading the version Magento Version from 2.1.7 to 2.1.9

### Steps to reproduce

1. Create a new category and save

### Expected result

1. New Category Page should save without any error

### Actual result

1. I have upgraded my Magento 2.1.7 to Magento 2.1.9, while saving category it's throwing an error as  "Something went wrong". report.CRITICAL: PDOException: SQLS

[2017-09-26 11:57] schmengler commented on #9477
@orlangur yes, see PR above :)

[2017-09-26 11:57] okorshenko commented on #10673
Will be fixed in 2.2.1

[2017-09-26 12:01] okorshenko commented on #7862
They are not duplicates

[2017-09-26 12:42] anup4ranium commented on #9762
Looking forward to fix this asap :)

[2017-09-26 12:53] schmengler opened #11059 "92 usages of expectException() with ignored $message parameter"
It seems like during the transition to PHPUnit 6, `setExpectedException($class, $message)`  has been bulk replaced by `expectExcpeption($class, $message)`

But the new `expectException()` method only takes one parameter, namely the exception class. To check the message as well, a second method is needed: `expectExceptionMessage()`

### Preconditions
1. Magento 2.2

### Steps to reproduce
1. Change

[2017-09-26 12:54] avdb commented on #7392
I will look into this one

[2017-09-26 12:55] joachimVT commented on #6350
Working on this ticket.

[2017-09-26 12:57] hostep commented on #10682
@orlangur: because it causes the html to be larger in filesize then if the characters are outputted just as is, in utf-8 format.

In case anyone is interested, the entity encoding happens on this line:
https://github.com/magento/magento2/blob/4b56264/lib/internal/Magento/Framework/View/Page/Config.php#L229

I think the call to `htmlentities` should get removed here, it's not the task of this class

[2017-09-26 12:58] antonkril commented on #4506
More efficient r.js-based bundling solution: https://github.com/antonkril/magento-rjs-config

[2017-09-26 13:04] klarre1 commented on #11055
We have the same problems, it seems like it's due to GTID-based replication in MySQL.
We use some Google MySQL 2nd Gen instances that has GTID-based replication as default and not as an option, we have had this issue both on 2.1.8 and 2.1.9

MySQL cloud providers seems to use GTID enabled because it's best to protect against data loss during replica creation and failover, and it also makes replica

[2017-09-26 13:10] Echron commented on #10661
This should be fixed by @elzekool, we tested the solution

[2017-09-26 13:11] Echron commented on #10474
I will see if i can fix this one

[2017-09-26 13:22] ci2014 opened #11061 "Can't override widgets .phtml file"
Hello there, I experience a strange issue with Magento 2, while I am trying to override a widgets .phtml file. In this certain case it's the file "grid.phtml" of the Magento 2 module-catalog-widget.

While overriding the file by simply putting the grid.phtml file to the right path in a custom theme is working without any problems, trying to do that from a custom module is NOT working.

In the cust

[2017-09-26 13:25] BlackIkeEagle commented on #10908
@vrootwoot you still working on this? I have this issue too while I'm working on some other issue in the store switcher

[2017-09-26 13:33] lokeshrathore commented on #4145
Hi, I have spent lot of time for fixing issues above all solution but still i got issues.
But when change Magento Version ie 2.1.8 so its working properly.
So basically its version issues nothing else just change your Magento version with 2.1.8

[2017-09-26 13:36] sydekumf commented on #9744
Hi, I do not have any other steps to reproduce. Maybe ask the other guys who can reproduce it, if they can add any further information?
I also checked the code of 2.1.9: You still have the following in it:
[code]
I think there should be a better approach to this, not just hiding exceptions...

[2017-09-26 13:39] ajaitiwariitc commented on #11055
Hello, We are facing the exact issue for adding subcategories after upgrading from Magento EE2.1.6 to 2.1.9, we are able to add new root categories and sub categories inside but not to the old ones which we created in 2.1.6..

We are using Google Cloud MySql Second generation too, where we have verified that the GTID is enabled by default, and cannot be turned off.

What is the solution for this i

[2017-09-26 13:42] orlangur commented on #11061
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2017-09-26 13:42] #11061 closed, assigned to nobody

[2017-09-26 13:52] OnkelTem commented on #7413
@olysenko
Would you please provide some information in which commit it was fixed? There are no any mentions in git history of this issue either.

[2017-09-26 13:53] OnkelTem commented on #7413
@magento-engcom-team bump. The same question, see above.

[2017-09-26 14:06] coderiekelt opened #11065 "Magento 2.1.9 no filter results since update from 2.1.7 to 2.1.9"
### Preconditions

1.  PHP 5.6
2. MariaDB
3. Nginx (latest)
4. Magento 2.1.9

### Steps to reproduce

1. Add an attribute, follow the usual steps (filter with results, anchor the category etc.)
2. View the product list and select a filter
3. The filter will return no results

### Expected result

1. There should be an overview of all products matching the filter

### Actual result

1. The page sim

[2017-09-26 14:11] rizwan4317 opened #11066 "Checkout error for login customers that's have not saved shipping or billing information"
**Preconditions**

Magento 2.1.7 - PHP7

**Steps to reproduce**

Login in with existing customer or new customer that have not save shipping or billing address(fine working with customers who save shipping/billing address or gust users)
Add products to cart
Progress to cart and on checkout
**Expected result**

Checkout should successfully complete
**Actual result**

At the 'Reviews and Payments' s

[2017-09-26 14:11] vrootwoot commented on #10908
@BlackIkeEagle won't have the time to fix it.

Apparently correct way would be to add changes to getTargetStorePostData
in app/code/Magento/Store/Block/Switcher.php.
And also change the entry points in the Switcher Block as well.

[2017-09-26 14:12] joachimVT commented on #9743
Working on this issue.

[2017-09-26 14:26] sydekumf commented on #10979
This issue is independent from Magento, as you handle the PHP function `call_user_func_array()` wrong. Here is an example to reproduce, I stick to the function declarations from Magento:

[code]

The solution would be if you call it like this:
`$mapper->map([[1, 2, 3]]);`
But that is not according to the API declaration of the method:

[code]

You see `int[]`? Then it should be `int[][]`. So that

[2017-09-26 14:35] krutkoroma79911 commented on #10495
@ankursachdeva11 Hi. Thanks for your report. There is a work ground with it. When you start to create a product, The product is pre selected to Main Website automatically. The same is via Rest API, when you create a product he is assigned to Main Website.
Following [Swagger documentation](http://devdocs.magento.com/swagger) after creation a product you have to unassign it from website by command `

[2017-09-26 14:41] jissereitsma commented on #10675
I'm not sure if we should bump into a technical solution for this right away. As part of a hackathon at MeetMagento Belgium, we checked a few international shops (non-Magento based) to see how they approached this. And they all used the chosen language (so the locale) to represent the currency. So, I'm not sure this is actually a technical issue, or actually, a strategical change (a feature) that

[2017-09-26 14:47] ci2014 commented on #11061
@orlangur Thank you for the information. I thought it might be a bug. There are already conversations on StackOverflow about this certain case, which is not working.

[2017-09-26 14:54] Quinten commented on #10600
I can reproduce this in the 2.2-develop branch.

The calculation is handled in app/code/Magento/Tax/Model/Calculation/AbstractAggregateCalculator.php
around line 151

(but i have no idea what the best practice to fix it could be)

[2017-09-26 15:01] orlangur commented on #11061
In such case feel free to report an issue referring to SO discussion, of course. I can reopen this issue if you wish so that you can add SO link to description.

Generally it is not hard to understand why some `.phtml` is not applied in certain conditions. Usually there is some underlying `setTemplate` called explicitly which makes template attribute in layout XML noneffective.

[2017-09-26 15:10] avdb commented on #7392
I couldn't resolve this issue.

Reproduced on 2.2-develop branch.

This issue also occurs if you disable the single store mode.
It's also an issue for products, disable a product, visit the product page on the frontend (see a 404) and enables the product again. The 404 page is still visible on the frontend.

## Steps to reproduce

1. Disable product / page in the backend.
2. Visit product/page in

[2017-09-26 15:21] TomMeijnaerts commented on #8964
the issue is related with the setting at **Stores > Configuration > Sales > Tax**
<img width="650" alt="screen shot 2017-09-26 at 16 11 25" src="https://user-images.githubusercontent.com/7273436/30864953-7e7f56d6-a2d5-11e7-96aa-2140b76dcfad.png">

When do filling in the Tax class for shipping the calculations are correct

- i verified with the same tax class as the product
- i verified with a diff

[2017-09-26 15:25] technweb commented on #11016
@pboisvert thank you for the suggestion. Unfortunately, bundles do not solve the problem for us.

**Let me see if I can provide a more concrete example:**
As a merchant who sells magazine subscriptions, I want to be able to sell magazines based on a subscription term. Example: I can sell 1 magazine for $9.99, I can sell 3 magazines per quarter for $14.99, I can sell 6 for $49.99 and I can sell 12

[2017-09-26 15:28] technweb commented on #11015
@okorshenko the screenshot was from EE 2.2

[2017-09-26 15:48] magento-engcom-team commented on #10683
@KishorkumarKar We cannot reproduce this issue as described.
Please add  screenshorts:
1.Store->Configuration->Customer->Customer Configuration-> Account Information Options section.
2. Marketing->Email Templates->your custom email templates.

[2017-09-26 16:39] poochie2 commented on #9950
Just a note, my 2.1.5 installation has the same issue, but if I edit the Enabled flag right after using "Edit Configurations" and before saving, the issue does not persist and my dropdown values in frontend are correctly populated.

[2017-09-26 17:39] denisrpriebe commented on #8815
For anyone else experiencing this, I had to disabled "Full Page Caching" within cache management in the admin...or you can do it through the command line. Once I did that, I no longer received the notice.

[2017-09-26 17:55] phumlaninyati commented on #5129
Hi Guys

Has this issue been resolved by anyone, having the same issue?

Thanks

[2017-09-26 18:15] AirmanAJK commented on #8815
@denisrpriebe Simply not using the full page cache is hardly a solution. If CMS pages weren't loading, you surely wouldn't suggest deleting them all to fix the problem, right?

[2017-09-26 18:27] denisrpriebe commented on #8815
@AirmanAJK I understand your point. I'm not proposing a solution but rather an alternative for what worked for me. I think some documentation is better than none when it comes to a Magento issue.

[2017-09-26 19:04] qbo-tech commented on #2816
Solution is quite simple:

Comment the HTML line within the backoffice (`CONTENT > Design > Configuration > Edit > HTML Head`):

``

[2017-09-26 19:22] romeof1980 commented on #10424
hi there!
we've got a similar issue in 2.1.8 and 2.1.9
when DUPLICATING A PRODUCT (in "All store views") and trying to set "Use default value" on "URL key" of the "default store view" (in the "Search Engine Optimization" section) after hitting "save" the Use-default-value's checkbox of the Url_Key gets deselected and the related Url_key field gets blank.
we've experienced it since upgrading to 2.1

[2017-09-26 19:31] CNanninga opened #11078 "URL rewrites get wiped out for products w/ store-specific URL keys when saving categories"
### Preconditions
* Problem is evident on 2.1.9
* Magento install with two separate stores (Store A and Store B), with two separate catalog root categories (`Store A Root` and `Store B Root`)
* At least one top-level category under each root category (`Store A Root -> Category 1`, `Store B Root -> Category 2`)
* Store is configured not to include categories in product URL paths (uncertain whether

[2017-09-26 19:37] will-b opened #11079 "unused use statement in CustomOptionPrice class"
### Preconditions

1. Magento develop branch HEAD:0f71c20995421518176544204c79badcc8c42997

### Steps to reproduce

1. view app/code/Magento/Catalog/Pricing/Price/CustomOptionPrice.php

### Expected result

1. use statements should not be superfluous

### Actual result

1. Unused use statement for Magento\Catalog\Pricing\Price;

[2017-09-26 20:07] orlangur commented on #11079
Not an issue by itself as it does not have any noticeable negative impact.

[2017-09-26 20:07] #11079 closed, assigned to nobody

[2017-09-26 21:15] markalston commented on #5570
These fixes don't seem to solve the problem.  While the test suite might work, without adding the step="any" lines as noted in my earlier comment, end users will not be allowed to type decimal numbers into the qty boxes.

The following files still need step="any" added to work:

module-catalog/templates/product/view/addtocart.phtml
module-checkout/view/frontend/web/template/minicart/item/default.h

[2017-09-26 21:59] johnny-longneck commented on #10424
Found no solution so far - the bug is still valid in our shop.
The same problem is when we uncheck a website to take out the product there, and recheck it.
It will ask for "use Default VALUES" and copy them.
But I will not be able to set the checkmark then to "use default values" - instead it has the price copied from the default.

But I am sure it is already fixed in 2.3.0.
Sorry for the sarcasm.

[2017-09-26 22:00] magento-engcom-team commented on #11039
@sasilinux, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #11039 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #10471
@marionvdw, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #10471 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #10517
@carbide01, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #10517 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #11044
@schmengler, thank you for your report.
We've created internal ticket(s) MAGETWO-80082 to track progress on the issue.

[2017-09-26 22:00] magento-engcom-team commented on #7862
@hostep, thank you for your report.
We've created internal ticket(s) MAGETWO-62660 to track progress on the issue.

[2017-09-26 22:00] magento-engcom-team commented on #11035
@speedupmate, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #11035 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #7186
@miro91, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #7186 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #9751
@WilXP, thank you for your report.
We've created internal ticket(s) MAGETWO-80080 to track progress on the issue.

[2017-09-26 22:00] magento-engcom-team commented on #9435
@alainstout, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #9435 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #11022
@manhao-chen, thank you for your report.
We've created internal ticket(s) MAGETWO-80065 to track progress on the issue.

[2017-09-26 22:00] magento-engcom-team commented on #10385
@ymart, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #10385 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #11033
@rmevans1, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #11033 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #7088
@jk100magnys, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #7088 closed, assigned to magento-engcom-team

[2017-09-26 22:00] magento-engcom-team commented on #5985
@grasdaggel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #5985 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #9756
@ngoctruongbc, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] magento-engcom-team commented on #10175
@gewaechshaus, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #10175 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #8825
@flnative, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #8825 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #7055
@cylix99, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-26 22:00] #7055 closed, assigned to magento-engcom-team

[2017-09-26 22:00] magento-engcom-team commented on #10547
@feelinc, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-26 22:00] #10547 closed, assigned to alena-marchenko

[2017-09-26 22:00] magento-engcom-team commented on #4059
@jim5359, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #4059 closed, assigned to alena-marchenko

[2017-09-26 22:00] magento-engcom-team commented on #10576
@speedupmate, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-26 22:00] #10576 closed, assigned to nobody

[2017-09-26 22:00] magento-engcom-team commented on #2991
@degaray, thank you for your report.
We've created internal ticket(s) MAGETWO-48570 to track progress on the issue.

[2017-09-26 22:00] magento-engcom-team commented on #6729
@kandrejevs, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-26 22:00] magento-engcom-team commented on #1779
@joshpennington, thank you for your report.
We've created internal ticket(s) MAGETWO-42591 to track progress on the issue.

[2017-09-26 22:00] magento-engcom-team commented on #1673
@moleman, thank you for your report.
We've created internal ticket(s) MAGETWO-70242 to track progress on the issue.

[2017-09-26 22:00] magento-engcom-team commented on #1592
@vetalkab, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-26 22:00] #1592 closed

[2017-09-26 22:00] magento-engcom-team commented on #1515
@Pakkapao, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-09-26 22:00] #1515 closed

[2017-09-26 22:00] magento-engcom-team commented on #7972
@Nicelabsrl, thank you for your report.
We've created internal ticket(s) MAGETWO-80041 to track progress on the issue.

[2017-09-26 22:00] magento-engcom-team commented on #8095
@technoquo, thank you for your report.
We've created internal ticket(s) MAGETWO-80087 to track progress on the issue.

[2017-09-26 22:00] magento-engcom-team commented on #2045
@motorlesha, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:00] #2045 closed

[2017-09-26 22:01] magento-engcom-team commented on #9053
@calvintwr, thank you for your report.
We've created internal ticket(s) MAGETWO-80021 to track progress on the issue.

[2017-09-26 22:01] magento-engcom-team commented on #5568
@abdulsofts, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-26 22:01] #5568 closed, assigned to nobody

[2017-09-26 22:01] magento-engcom-team commented on #7679
@vlauria, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-26 22:01] magento-engcom-team commented on #7932
@claudiumitreaa, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-26 22:01] #7932 closed, assigned to nobody

[2017-09-26 22:01] #10997 closed, assigned to nobody

[2017-09-26 22:01] #9707 closed, assigned to magento-engcom-team

[2017-09-26 23:09] TiEul commented on #8070
Hey @orlangur, Magento 2.2 was just released but it looks like a lot of dependencies were not updated or only updated months ago while newer stable releases already exist. Do you have any clue if any plans were made or discussed some other place to get these updated more frequently? Going back to my example from March, is there a reason why `sjparkinson/static-review` is still in the `require` blo

[2017-09-27 01:01] BubblegumAnarchy commented on #10754
@magento-engcom-team Same problem in 2.1.9, also showing up for "Set as New" in add/modify products

[2017-09-27 02:22] magento-team commented on #6350
Internal ticket to track issue progress: MAGETWO-80096

[2017-09-27 02:22] magento-team commented on #9743
Internal ticket to track issue progress: MAGETWO-80096

[2017-09-27 02:22] magento-team commented on #6831
Internal ticket to track issue progress: MAGETWO-80096

[2017-09-27 02:22] magento-team commented on #6858
Internal ticket to track issue progress: MAGETWO-80096

[2017-09-27 02:22] magento-team commented on #4248
Internal ticket to track issue progress: MAGETWO-80096

[2017-09-27 04:40] r-martins commented on #5696
In 2.1.8 its not a problem. I think they've fixed on 2.1.0.
I compared vendor/magento/module-configurable-product/view/adminhtml/web/js/configurable-type-handler.js from 2.0.12 with 2.1.8 and realize they've made the required change there by commenting the entire _init method, and just added `this.show();` there.
[Take a look](https://github.com/magento/magento2/blob/909a2d7e8c2ac5ca55359827c22cea

[2017-09-27 06:30] pareshpa commented on #11055
Hi,

We are also facing the issue on Google Cloud Mysql.

can we use SET GLOBAL ENFORCE_GTID_CONSISTENCY = WARN; to fix the issue on Google Cloud Mysql?

Thanks.
Paresh

[2017-09-27 06:48] devqualwebs opened #11082 "Magento 2 : Set Shipping method handling fee using observer"
I was using an observer method to change shipping method handling fee in **magento v1.7.0.2** .

 The same thing I've to do with **magento 2**. The way which is using in **magento 1.7** is like this -

    $quote = $observer->getQuote();
    $store = Mage::app()->getStore($quote->getStoreId());
    $store->setConfig("carriers/{$carrierCode}/handling_type", 'F'); #F - Fixed, P -  Percentage
    $st

[2017-09-27 07:41] eInyzant commented on #10660
same problem here on magento 2.1.9

[2017-09-27 07:47] magento-engcom-team commented on #10070
@Sharlyll, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details in steps to reproduce, or try to reproduce this issue on a clean installation or latest release.

[2017-09-27 07:55] magento-engcom-team commented on #10495
@ankursachdeva11 thank you for report, but you need to check swagger documentation on Magento devdocs for correct using Web API. If you'd like to update it, please reopen the issue.

[2017-09-27 07:55] #10495 closed, assigned to magento-engcom-team

[2017-09-27 08:00] #10684 closed, assigned to nobody

[2017-09-27 08:09] krutkoroma79911 commented on #11023
I can confirm the issue.

[2017-09-27 08:10] magento-engcom-team commented on #8479
@scottsb Thank you for your submission.
We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](h

[2017-09-27 08:10] #8479 closed, assigned to nobody

[2017-09-27 08:15] sasilinux commented on #11039
Hi,

I have checked it even it magento 2.1.9. But still i am facing the issue.

Cache refresh also needs to be submitted two (or) three times.

[2017-09-27 08:21] sasilinux opened #11083 "Varnish Cache issue"
**Preconditions**

Magento 2.1.9 CE installed
Varnish 4 Installed and configured in Magento2 Admin
Set Varnish Cache under Admin -> Stores -> Configuration -> Advanced ->System -> Full Page Cache

**Steps to reproduce**

I have placed an order from the frontend.
Order not showing under Admin -> Sales-> Orders.
But in frontend order will be displayed in "My Account".
All the admin configurations no

[2017-09-27 08:47] magento-engcom-team commented on #11031
Hi @ed007m
Thank you for reporting this issue.

As of current Layered Navigation design – it is not intended to change filter prices in url, as only predefined values are supported. It is planned to improve this in future, however we can not provide any estimates yet.

[2017-09-27 08:48] #11031 closed, assigned to nobody

[2017-09-27 09:01] farhadfrz commented on #4828
We get the same issue after upgrading to 2.1.9!
Bundling and Minify JS are both enabled.

[2017-09-27 09:07] magento-engcom-team commented on #9916
@lfritsche Thanks for reporting this issue.
This is migration bug. You can use "Single Store Mode" = "Yes" after resave theme configuration: Content>Design>Configuration

[2017-09-27 09:33] joshdavenport commented on #11023
Yup, currently pulling my hair out because of this one. Just deployed 2.1.8 this morning and this appeared!

[2017-09-27 09:52] magento-engcom-team commented on #11023
@gwilliams01, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-27 09:52] #11023 closed, assigned to nobody

[2017-09-27 09:56] magento-engcom-team commented on #11023
Looks like the following commits were made to fix the issue: https://github.com/magento/magento2/commit/2a669078f54419a4756a4b86a037f5118cbfd16b https://github.com/magento/magento2/commit/1d0959d6d6afc423e32e40e832ef719bc657a517

[2017-09-27 10:04] MidnightDesign commented on #11032
This still doesn't work in Magento 2.2.0.

[2017-09-27 10:04] nzod commented on #4828
Have to say the handling of bugs is.. less than stellar. Your internal issues seem to be totally out of sync, things that are said to be fixed aren't, and important issues are dragged for months with no resolution in sight. Fixes that have been available for a long time and a few characters long can't for the love of deity be merged for some reason.
Not to mention Magento 2 is a mess to begin with

[2017-09-27 10:21] stevenlavine opened #11087 "Minicart and wishlist counters not clearing after session expiry"
### Preconditions

1. Magento version 2.1.9

### Steps to reproduce

1. Allow the current logged in session to expire
2. refresh the page or go to another page

### Expected result

1. Cart and wishlist counters should be cleared

### Actual result

1. Cart and Wishlist counters remain showing

![error](https://user-images.githubusercontent.com/910649/30908577-e5005afe-a375-11e7-9256-c91edc5bb71d.

[2017-09-27 10:22] MidnightDesign commented on #11032
I just fount the source of the problem: `Magento\Swatches\Model\Plugin\EavAttribute#setProperOptionsArray()` (called by `beforeBeforeSave()`) [overrides the `option` with the `optionvisual` key](https://github.com/magento/magento2/blob/304c734ae9044aaec6a450d94b7e7f7be69c8ea9/app/code/Magento/Swatches/Model/Plugin/EavAttribute.php#L124).

So it seems to me like options for visual (and text) swatch

[2017-09-27 10:37] magento-engcom-team commented on #9916
We update description:
### Problem:
If you have Magento 2.0.4
and use Single Store Mode = On
and set theme in Store>Configuration>Design>Design Theme
and update magento to 2.1.x,
then $theme not retrieve from config
in \Magento\Theme\Model\View\Design::getConfigurationDesignTheme
[code]

[2017-09-27 10:59] magento-engcom-team commented on #11087
@stevenlavine Thanks for reporting this issue.
We cannot reproduce this issue as described.
Steps we did(Chrome, Firefox):
1. Clean browser cache.
2. Clean installation 2.1.9 CE.
3. Create two simple products "s1" and "s2".
4. Create customer.
5. Add "s1" to wishlist.
6. Add "s2" to cart.
7. Set PHPSESSID "expiration" to current time.
8. Refresh the page.
Result: customer not logged in, wishlist i

[2017-09-27 11:28] magento-engcom-team commented on #10690
@bhagyarajallu From the attached exception log it is clearly visible that you have third-party extensions/customizations installed on your store. This might be the cause of the issue. Please attempt to reproduce the issue with the clean Magento 2 install.

Thank you.

[2017-09-27 11:28] #10690 closed, assigned to magento-engcom-team

[2017-09-27 11:40] josefbehr opened #11088 "Saving configurable product in command unsets required_options and has_options (but saving in backend doesn't)"
### Preconditions
1. MAMP Pro 4, MySQL 5.7, PHP 7.0.18, Magento 2.1.7 to 2.1.9
2. Have a catalog with configurable products that have assigned simple products for variants

### Steps to reproduce
1. Make sure that the association between configurable and simple still exists in the backend or db (to be sure, do a "save" in the backend)
2. Check that in the database (catalog_product_entity) the fiel

[2017-09-27 11:55] ju5t opened #11089 "setup:config:set --key append instead of replace"
### Preconditions
This particular container/server runs PHP 7.0.23 and Magento 2.1.9 which was downloaded from the website.

### Steps to reproduce

[code]

### Expected result

To replace the value in `crypt => array('key' => '')`.

### Actual result

It appends the value to `crypt => array('key' => '')`. This will result in:

[code]

[2017-09-27 12:43] magento-engcom-team commented on #10546
@devgoku, manual on this feature is present in the Magento Developer Documentation.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-27 12:43] #10546 closed, assigned to nobody

[2017-09-27 12:55] magento-engcom-team commented on #10873
Unfortunately we can't reproduce the issue with version  2.1.9. Could you provide us screenshots as you configure you Braintree payment methods if the issue exists on 2.1.9 version0?
Example of our settings are provided and with the setting all works well with 2.1.9:
![braintree3](https://user-images.githubusercontent.com/31669971/30914356-1c2c4b5c-a39c-11e7-88c5-e7f2fec63d1f.png)
![braintree2](ht

[2017-09-27 12:56] magento-engcom-team commented on #8838
@mfdj, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-09-27 13:05] magento-engcom-team commented on #11021
Unfortunately, I could not reproduce the issue as you described it.
Remove all static content and clear your browser cache maybe help for You .

[2017-09-27 13:06] ccasciotti commented on #10873
@okorshenko @magento-engcom-team sorry but you've asked to the wrong person, I think you should ask to @cckassis

[2017-09-27 13:09] lhsatch commented on #11021
Could you try setting the theme at store view level.

[2017-09-27 13:23] tblpraveen opened #11090 "Issue with magento basic module addition"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-09-27 13:24] #11090 closed, assigned to nobody

[2017-09-27 13:25] tblpraveen opened #11091 "Issue with model additon"
I am new to magento and added module but ended up with an error
1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'name': [facet 'pattern'] The value '' is not accepted by the pattern '[a-zA-Z0-9][a-zA-Z\d\-_\.]*'.
Line: 677

I cleard cache using magento cache:clean but no luck.

[2017-09-27 13:26] tblpraveen commented on #11091
I am new to magento and added module but ended up with an error
1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'name': [facet 'pattern'] The value '' is not accepted by the pattern '[a-zA-Z0-9][a-zA-Z\d-_.]*'.
Line: 677

I cleard cache using magento cache:clean but no luck.

[2017-09-27 13:34] grizwako commented on #10530
I am having the same issue on Magento 2.1.8.

Steps to reproduce:
Login as customer
Place order
Go to your customer page on frontend
Click on your order
Click "Print Order"

[2017-09-27 13:37] magento-engcom-team commented on #10530
Please follow the issue reporting [template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) for future reports.

[2017-09-27 13:38] rmevans1 commented on #11033
That's great that it is fine on 2.1.9. However, I am not using 2.1.9 I am using 2.0.16

[2017-09-27 13:41] grizwako commented on #10530
I am having the same issue on Magento 2.1.8.

Preconditions:
Magento 2.1.8 installed
Created configurable products manually in admin.

Steps to reproduce:
Login as customer
Place order using one of created products
Go to your customer page on frontend
Click on your order
Click "Print Order"

Expected Results:
Seeing "order details" in a print friendly render

Actual Results:
Exception (Magento\Fra

[2017-09-27 13:41] magento-engcom-team commented on #10530
@ionutdicu We have updated issue report to follow guidelines.

[2017-09-27 13:57] ankursachdeva11 commented on #10495
Hi, @krutkoroma79911, @magento-engcom-team
Have you guys read my previous comment "If we have linked some websites to any product then there is no API which will provide details what all websites linked to the single product.".

I have already know about swagger documentation as I am working on Magneto. If I am unable to find such kind of API that's why I have requested some information here.

[2017-09-27 13:59] ankursachdeva11 commented on #10495
@magento-engcom-team, please use some mind before closing all tickets.

[2017-09-27 14:11] magento-engcom-team commented on #11018
Unfortunately, I could not reproduce the issue as you described it.
Maybe i don't have all code context, but You should save address as that do in \Magento\Customer\Controller\Address\FormPost::execute

[2017-09-27 14:24] flat101 opened #11093 "Actions.js - JS error - Adminhtml grid (customers, orders, products...)"
### Preconditions

1. Ubuntu/Linux 16.04
2. PHP 7.0.16
3. MySQL: Ver 14.14 Distrib 5.6.33
4. Magento 2.1.4

### Steps to reproduce

Navigating the panel, access to customers, orders ...happens randomly, I can not reproduce it

### Expected result

Navigation is correct
Grid loads correctly

### Actual result

1. The grid does not load correctly, it stays with the loader
2. When update the page, it

[2017-09-27 14:45] friimaind opened #11095 "Magento_Tax "postcode is a required field" when upgrading from 2.1.9 to 2.2"
### Preconditions
Magento 2.1.9 CE
PHP 7.0.22-0ubuntu0.17.04.1
MySQL 5.7.19-0ubuntu0.17.04.1

### Steps to reproduce
Upgrade Magento 2.1.9 to 2.2 CE with composer

### Expected result
Magento 2.2 updated

### Actual result
php -f bin/magento setup:upgrade returns:

[2017-09-27 14:55] carylewis commented on #7500
Will this be backported into 2.1.x?

[2017-09-27 14:57] sunayan-das commented on #8098
i have faced same problem in my admin dashbord.

[2017-09-27 14:58] sunayan-das commented on #8098
i using Magento 2.1.6 version. i have faced same problem in my admin dashboard.

[2017-09-27 15:07] salelsol opened #11096 "I can´t finish updated to Magento 2.2 due to this issue: tedivm/jshrink version"
### Preconditions
Magento 2.1.9 CE
PHP 7.0.22-0ubuntu0.17.04.1
MySQL 5.7.19-0ubuntu0.17.04.1

### Steps to reproduce
Upgrade Magento 2.1.9 to 2.2 CE with composer

composer require magento/product-community-edition 2.2 --no-update
composer update
php -f bin/magento setup:upgrade
### Expected result

Magento 2.2 updated

### Actual result
I can´t finish updated to Magento 2.2 due to this issue:
 In

[2017-09-27 15:11] Yan-Studio-WEB opened #11097 "Re Index Command Is Not Working (Clean Installation 2.2)"
### Preconditions

1. After clean Installation I get Message: "One or more indexers are invalid. Make sure your Magento cron job is running".
I Tryed with Putty to Run The Reindex Command i get only error
2. PHP 7.1.9. Magento 2. 2.

### Steps to reproduce

1. Just Install the New Magento
2. Run with Putty ReIndex Command
3.

### Expected result

1. Re index to work

### Actual result

1. Re-Index

[2017-09-27 15:11] ed007m commented on #11031
Point of this issue is not feature functionality but that current functionality not works as aspected.
For example if I will create product with price $79.99 and than choose price filter $70 to $79.99
this product will not be visible. And my question is why is using this logic here in ```
Magento\CatalogSearch\Model\Layer\Filter\Price:18 this CONST is present?
Magento subtracks this const from toP

[2017-09-27 15:11] minimit opened #11098 "Mobile media query inside _extend.less, wrong order in styles-m.css and styles-l.css"
### Preconditions
1. Magento ver. 2.1.8
2. Custom theme with `<parent>Magento/luma</parent>`

### Steps to reproduce
When using media queries inside `_extend.less`:
[code]

### Expected result
1. Styles specificity order: compiled styles-m.css and styles-l.css "// normal" before media queries styles.

### Actual result
1. The media queries styles compiled inside styles-m.css and styles-l.css appea

[2017-09-27 15:20] CNanninga commented on #10424
This is behavior I am still experiencing on 2.1.9, in a clean install:

1. Create a product in the admin and set the URL key to "attr-value-test".  Save.
2. Switch a store scope other than the global scope for the product, uncheck "Use Default Value" for URL key, and enter the value "attr-value-test-override".  Save.
3. With the store scope that has the custom value still selected, re-check "Use D

[2017-09-27 15:49] nicolallias commented on #5536
Not fixed in 2.1.7

[2017-09-27 16:28] CNanninga commented on #8241
It's worth noting that I got a different solution from Magento Enterprise support, patch MDVA-4841, which contains core application code changes instead.  Is there a consensus on which of these is better?

[2017-09-27 17:08] minimit commented on #11098
Putting all the code inside `_extends.less`  with 's' intead works fine.

[2017-09-27 18:07] Brendonwbrown commented on #9312
I am having this issue on 2.1.9.
Role Resources is either All or Custom.
Selecting Custom displays the "Resources" title, but no further content/options.

[2017-09-27 18:09] Brendonwbrown commented on #5803
I have this issue after upgrade to 2.1.9.

[2017-09-27 19:06] joe-vortex commented on #8544
I got this error while inputting an email address with an invalid domain extension. Might be worth checking that.

[2017-09-27 19:29] pkm32 commented on #7186
This issue didn't start for me until I added shipping options (UPS/USPS). I was able to test for weeks using flat rate shipping, with no issues. Even after I added PayPal checkout, I still did not have the loader issue.

I added the CSS snippet Flipmediaco mentioned and it stopped the loader, now checkout loads in 2.5 seconds.

The only problem with this, is that now the success page doesn't have

[2017-09-27 19:37] rmevans1 opened #11100 "Images under a configurable product stop changing after updating the configurable product."
NOTE: In previous issue #11033 you tested it against magento 2.1.9. That is not the version I am using. I am using Magento 2.0.16

### Preconditions
1.  Magento 2.0.16
2.  Clean install

### Steps to reproduce
1. Create a visual swatch with images
2. Create a configurable product with that swatch.
3. Update configurable product

### Expected result
1. Images should continue to change after saving

[2017-09-27 19:45] nsid32 opened #11101 "Filter by attribute doesn't bring any products"
Hi,

### Preconditions

1. Magento version 2.1.9
2. PHP 7.0
3. MySQL 5.6

### Steps to reproduce
I have added an attribute (multi select) in a M2 site that I have. This attribute is called Occasion. I have linked some products with some attribute values, for example Birthday. I have also included the attribute in the layered navigation. I can see the number of products in the parenthesis (in the l

[2017-09-27 19:58] QwertyZW opened #11102 "2.2-develop: url_rewrite table out of sync with eav attribute url_key"
When the `url_rewrite` table goes out of sync with a given entity's `url_key` `Magento\CatalogUrlRewrite\Service\V1\StoreViewService::doesEntityHaveOverriddenUrlKeyForStore` Starts returing erroneous results, causing a bug where saving a SEO url on said entity (either programmatically or through the admin backend) would fail silently; The url_rewrite table would never get updated.

This happens be

[2017-09-27 20:06] cckassis commented on #10873
@okorshenko @magento-engcom-team Hi there, I haven't updated my Magento version yet so I don't know if the issue persists in 2.1.9/2.2.0. Since the issue wasn't solved, I have for now integrated PayPal outside of Braintree. Here are the screenshots for reference:

![screen shot 2017-09-27 at 4 02 24 pm](https://user-images.githubusercontent.com/31739622/30935082-8e377cc0-a39d-11e7-9fc6-dfb53ebcd7b

[2017-09-27 20:26] Jens-S commented on #10209
Sorry, but I want to pass this ticket back.

[2017-09-27 20:26] Jens-S commented on #10209
Sorry, but I want to pass this ticket back.

[2017-09-27 20:39] meezin opened #11103 "M2 2.1.9 : After migration, Reindex error - SQLSTATE[42000]: Syntax error or access violation: 1064"
### Preconditions

1. Magento CE 2.1.9 (PHP 7, **MySQL 5.6.37**)
2. Magento CE 1.9.1.0 (PHP 7, **MySQL 5.6.37** )

They are on same server domain anyway

### Steps to reproduce

1. Migration from 1.9.1.0 to 2.1.9
2. After migration is done, reindex
3. Only index categories related with Product/Catalog doesn't work at all

### Expected result

1. It should be re-indexed without any error message

#

[2017-09-27 20:47] wilzon008 commented on #9439
Issue still present in 2.1.9. Why has this not been corrected in the latest update?

[2017-09-27 21:16] choukalos opened #11104 "Need Autocomplete Preview Feature for Site Search"
### Card
**As a** customer I want an autocomplete / preview of suggested search terms and top products displayed to me as I'm typing in my search query **so that** I can find what I want to buy faster.

### Notes / Details
- Top suggested products should display product name, short description,product picture, product price
- Admin should be able to configure # of suggested search terms (default 3

[2017-09-27 21:18] rparsi-commer commented on #1812
@almarchenko Why is the internal mage ticket marked as done?
I don't see any update in the developer docs regarding this.

I have this in my knockoutjs html template:
[code]

What should it be so that the user can pick a date AND time?

[2017-09-27 22:00] magento-engcom-team commented on #10357
@ChristianWalker19, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-27 22:00] #10357 closed, assigned to nobody

[2017-09-27 22:00] magento-engcom-team commented on #10587
@id-graziano, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-27 22:00] #10587 closed, assigned to nobody

[2017-09-27 22:00] #10392 closed, assigned to nobody

[2017-09-27 22:00] magento-engcom-team commented on #11007
@antoinekociuba, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-27 22:00] #11007 closed, assigned to nobody

[2017-09-27 22:00] magento-engcom-team commented on #10530
@ionutdicu, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-27 22:00] magento-engcom-team commented on #10301
@mageprince, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-27 22:00] magento-engcom-team commented on #5628
@razoyodev, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-09-27 22:00] #5628 closed, assigned to nobody

[2017-09-27 22:00] magento-engcom-team commented on #10355
@cosmointeractive, thank you for your report.
We've created internal ticket(s) MAGETWO-80183 to track progress on the issue.

[2017-09-27 22:00] magento-engcom-team commented on #10362
@slayerbleast, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-09-27 22:00] #8055 closed, assigned to tkacheva

[2017-09-27 22:00] #8337 closed, assigned to nobody

[2017-09-27 22:00] magento-engcom-team commented on #11088
@josefbehr, thank you for your report.
We've created internal ticket(s) MAGETWO-80212 to track progress on the issue.

[2017-09-27 22:00] magento-engcom-team commented on #8554
@bka, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-27 22:00] #8554 closed, assigned to nobody

[2017-09-27 22:00] magento-engcom-team commented on #10552
@SitionDenBosch, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-27 22:00] magento-engcom-team commented on #11089
@ju5t, thank you for your report.
We've created internal ticket(s) MAGETWO-80169 to track progress on the issue.

[2017-09-27 22:00] magento-engcom-team commented on #11018
@versdivers, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-27 22:00] #11018 closed, assigned to magento-engcom-team

[2017-09-27 22:00] magento-engcom-team commented on #10565
@gilbertsohal, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-27 22:00] magento-engcom-team commented on #10417
@deadlyw1re, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-27 22:00] #10417 closed, assigned to PieterCappelle

[2017-09-27 22:00] magento-engcom-team commented on #11032
@MidnightDesign, thank you for your report.
We've created internal ticket(s) MAGETWO-80165 to track progress on the issue.

[2017-09-27 22:00] magento-engcom-team commented on #7876
@mike-happy, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-27 22:00] #7876 closed, assigned to nobody

[2017-09-27 22:00] magento-engcom-team commented on #10425
@sergeynezbritskiy, thank you for your report.
We've created internal ticket(s) MAGETWO-80219 to track progress on the issue.

[2017-09-27 22:00] magento-engcom-team commented on #11026
@gediminaskv, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-27 22:00] #11026 closed, assigned to magento-engcom-team

[2017-09-27 22:00] magento-engcom-team commented on #11021
@lhsatch, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-27 22:00] #11021 closed, assigned to magento-engcom-team

[2017-09-27 22:00] magento-engcom-team commented on #6034
@thagxt, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-27 22:00] #6034 closed, assigned to odubovyk

[2017-09-27 22:00] magento-engcom-team commented on #10691
@tripath, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-27 22:00] #10691 closed, assigned to magento-engcom-team

[2017-09-27 22:00] magento-engcom-team commented on #6603
@hvstudio, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-27 22:00] #6603 closed, assigned to nobody

[2017-09-27 22:00] magento-engcom-team commented on #11083
@sasilinux, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-27 22:00] #11083 closed, assigned to nobody

[2017-09-27 22:00] magento-engcom-team commented on #10456
@uniquedeveloper17, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-27 22:00] #10456 closed, assigned to nobody

[2017-09-27 22:00] magento-engcom-team commented on #4896
@webkulabhi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-27 22:00] #4896 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #5157
@jochhop, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-27 22:01] #5157 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #9605
@NanthiniMuralidaran, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-27 22:01] #9605 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #9439
@Joker2099, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-27 22:01] #9439 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #8742
@Fel1xx, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-27 22:01] #8742 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #4053
@samtay, thank you for your report.
We've created internal ticket(s) MAGETWO-53559 to track progress on the issue.

[2017-09-27 22:01] magento-engcom-team commented on #5948
@dapdx, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-27 22:01] #5948 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #3904
@jvpatel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-27 22:01] #3904 closed, assigned to rganin

[2017-09-27 22:01] magento-engcom-team commented on #11078
@CNanninga, thank you for your report.
We've created internal ticket(s) MAGETWO-80144 to track progress on the issue.

[2017-09-27 22:01] magento-engcom-team commented on #10455
@sylink, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-27 22:01] #10455 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #11015
@technweb, thank you for your report.
We've created internal ticket(s) MAGETWO-80153 to track progress on the issue.

[2017-09-27 22:01] magento-engcom-team commented on #7925
@tal-girit, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-27 22:01] #7925 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #9760
@mmenozzi, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-27 22:01] #9760 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #11028
@Loxzibit, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-27 22:01] #11028 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #9950
@Cyrus180, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-27 22:01] #9950 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #10070
@Sharlyll, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-27 22:01] magento-engcom-team commented on #7687
@Vinai, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-27 22:01] magento-engcom-team commented on #9043
@shahankitb997, thank you for your report.
We've created internal ticket(s) MAGETWO-80200 to track progress on the issue.

[2017-09-27 22:01] magento-engcom-team commented on #11031
@ed007m, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-09-27 22:01] magento-engcom-team commented on #11059
@schmengler, thank you for your report.
We've created internal ticket(s) MAGETWO-80128 to track progress on the issue.

[2017-09-27 22:01] magento-engcom-team commented on #11065
@coderiekelt, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-27 22:01] #11065 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #11066
@rizwan4317, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-27 22:01] #11066 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #7825
@rbairwell, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-27 22:01] magento-engcom-team commented on #8479
@scottsb, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-09-27 22:01] magento-engcom-team commented on #10275
@ihor-sviziev, thank you for your report.
We've created internal ticket(s) MAGETWO-70961 to track progress on the issue.

[2017-09-27 22:01] magento-engcom-team commented on #10387
@FerihumF, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-27 22:01] #10387 closed, assigned to nobody

[2017-09-27 22:01] magento-engcom-team commented on #10684
@brandontamm, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-09-27 22:01] magento-engcom-team commented on #9916
@lfritsche, thank you for your report.
We've created internal ticket(s) MAGETWO-80156 to track progress on the issue.

[2017-09-27 22:01] magento-engcom-team commented on #5196
@toweringmedia, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-09-27 22:01] magento-engcom-team commented on #8755
@luukschakenraad, thank you for your report.
We've created internal ticket(s) MAGETWO-80218 to track progress on the issue.

[2017-09-27 22:01] magento-engcom-team commented on #9891
@ashishrvtech, thank you for your report.
We've created internal ticket(s) MAGETWO-69825, MAGETWO-77448 to track progress on the issue.

[2017-09-27 22:01] magento-engcom-team commented on #5008
@michaelsalafia, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-27 22:01] #5008 closed, assigned to tkacheva, rgoncharuk

[2017-09-27 22:01] magento-engcom-team commented on #10477
@minosss, thank you for your report.
We've created internal ticket(s) MAGETWO-80211 to track progress on the issue.

[2017-09-27 22:01] magento-engcom-team commented on #10786
@latypatil, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-27 22:01] #10786 closed, assigned to astyczen

[2017-09-27 22:38] gwharton commented on #7822
I see this error on Magento 2.2.0 when there is only one store/website. If I create multiple stores it works as expected.

[2017-09-27 22:39] gilbertsohal commented on #10754
@magento-engcom-team Have you fix this issue in ver 2.2.0?

[2017-09-27 22:42] magento-team commented on #10595
Internal ticket to track issue progress: MAGETWO-75320

[2017-09-27 22:43] rparsi-commer opened #11105 "example for calendar widget usage in knockoutjs template, to allow date and time selection?"
The developer docs do not give concrete example of how to use the magento2 calendar widget.
I have searched this topic extensively, only found examples for the datepicker.
However in my case the user needs to be able to specify a date and time.
The observable for the value already exists.

### Preconditions
1. Magento 2 CE 2.1.7
2. PHP 7.1
3. In custom module create a knockoutjs template

In the h

[2017-09-27 22:49] nelero commented on #10754
Is this bug is fixed ? real problem with start/end date for catalog rules, set as new from/to dates, dob customer when locale is not en_US. (ie fr_FR)
really painfull for production websites....

[2017-09-27 23:14] #10330 closed, assigned to nobody

[2017-09-27 23:58] thdoan opened #11106 "Segmentation fault after successful clone"
### Preconditions

1. Apache/2.4.27 (Win32) OpenSSL/1.0.2l
2. MySQL 5.0.12-dev - 20150407
3. PHP 7.1.8
4. XAMPP for Windows 7.1.8
5. Git Bash for Windows (Git Portable 2.12.2)
6. Windows 10 Pro 64-bit (latest build)

### Steps to reproduce

1. `git clone git@github.com:magento/magento2.git`
2. `git status`

### Expected result

1. It should return the git status.

### Actual result

1. It returned

[2017-09-28 00:26] ghost opened #11107 "Magento 2.2 upgrade issue"
![issue](https://user-images.githubusercontent.com/17496183/30943883-76cb58b6-a3f4-11e7-8059-a47e0b1c3c5c.jpg)

### Preconditions

Magento 2.2
Php 7.0
Appache 2.4
Ubuntu 16
MySQL 5.7

1.
2.

### Steps to reproduce

1. composer require magento/product-community-edition 2.2 --no-update
2. composer update
3. php bin/magento setup:upgrade

### Expected result

1. complete upgrade

### Actual result

1

[2017-09-28 03:03] ChanhChua commented on #9724
Textarea doesn't have a name so i can't get value from it! Type input is ok.  Plz check.

[2017-09-28 05:04] amberarpatech commented on #7925
any progress i am facing this issue in 2.1.9 too

[2017-09-28 05:06] amberarpatech commented on #7925
My scenario is speical price date was set from 2017-09-26 to 2017-09-27 and today is 2017-09-28 and special price is still showing on prodyct listing and product detail page.

I am tired from resolving these kind of issues

[2017-09-28 05:16] santhoshnsscoe commented on #10530
We are also facing the same problem after update to 2.1.9.

If development mode is enabled then, on Print Order, giving the below error.
[code]

If production mode is enabled, then the items are missing in the print out. Below is the screenshot.
https://www.screencast.com/t/Trv5bZhQvl0q

[2017-09-28 05:40] archonkulis commented on #10897
@magento-engcom-team Thanks. Could you please give me a commit ID or better a link to where it is fixed? Or ticket nr.?

[2017-09-28 05:47] vishalpatel14 opened #11108 "Magento 2.2 Upgrade PHP Version Issue"
### Preconditions

1. Magento 2.2
2. Php 7.0.10
3. Appache 2.4.23
4. Wampserver 3.0.6
5. MySQL 5.7.14

### Steps to reproduce

1. composer require magento/product-community-edition 2.2 --no-update
2. composer update

### Expected result

1.  Upgrade Process should continue.

### Actual result

1.
![version](https://user-images.githubusercontent.com/16519746/30951070-8e3dc9bc-a43e-11e7-83ff-52cdcb5

[2017-09-28 06:11] hoektoe commented on #7536
@andidhouse did you find a fix? I see it is move to Done in develop branch. Where can I see what was done for this particular fix

[2017-09-28 06:21] smartstoremx opened #11109 "html editor"
![after update you get this](https://user-images.githubusercontent.com/30731883/30951969-acc182de-a3f3-11e7-8fed-68459f494ff0.jpg)
![writehtml](https://user-images.githubusercontent.com/30731883/30951970-acc235da-a3f3-11e7-90f9-236f8843a0ba.png)
![writehtml](https://user-images.githubusercontent.com/30731883/30951978-b31f3af4-a3f3-11e7-8c14-c20f464be8ce.png)
![after update you get this](https://us

[2017-09-28 06:24] smartstoremx commented on #11109
Magento 2.1.9 works fine but in Magento 2.2 it fails when you update any html in the block area. I hope it helps.

[2017-09-28 06:24] smartstoremx commented on #11109
I expected my html do not change when I save it.

[2017-09-28 06:42] FinBoWa commented on #11108
@vishalpatel14 not a magento issue but your environments.

The cli PHP under windows is 5.6  but Wampserver is running php 7 .. Run composer update with
`--ignore-platform-reqs` or run composer with the right php in the cli also.

[2017-09-28 07:09] cscd98 opened #11110 "Upgrade from Magento CE 2.1.9 to 2.2.0 - Element 'block', attribute 'class': [facet 'pattern'] The value '\Magento\Framework\View\Element\Template' is not accepted by the pattern '[A-Z][a-zA-Z\d]*(\\[A-Z][a-zA-Z\d]*)*'."
### Preconditions

1. PHP 7.0.23
2. mysql 5.7.19
3. OSX 10.12.6

### Steps to reproduce
1. bin/magento setup:upgrade
2. clear the cache
3. view the website

### Expected result
1. No errors!

### Actual result
1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'block', attribute 'class': [facet 'pattern'] The value '\Magento\Framework\View\Element\Template' is

[2017-09-28 07:11] mmenozzi commented on #9760
Hi @magento-engcom-team you're welcome.
I can confirm that the issue is now solved in the version 2.2.0.

[2017-09-28 07:16] magento-engcom-team commented on #6457
@heldchen, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-28 07:16] #6457 closed, assigned to nobody

[2017-09-28 07:16] magento-engcom-team commented on #5105
@srbarba, thank you for your report.
We've created internal ticket(s)  to track progress on the issue.

[2017-09-28 07:16] magento-engcom-team commented on #10067
@JacobDrummond, thank you for your report.
We've created internal ticket(s)  to track progress on the issue.

[2017-09-28 07:16] magento-engcom-team commented on #9760
@mmenozzi Thank you for the update.

[2017-09-28 07:20] steros commented on #9724
I was able to fix this by changing the component to:
`'component' => 'Magento_Ui/js/form/element/textarea'`

[2017-09-28 07:20] #9724 closed, assigned to nobody

[2017-09-28 07:53] am2008 commented on #7367
in 2.2 issue still present. @surabhinsi fix works

[2017-09-28 07:54] therool opened #11111 "Magento 2.2.0 Publication possible issue"
This has nothing to do with code vise but is there any specific reason why the version for the ["magento/framework" package was set from "100.2.0-dev" to "101.0.0" instead of "100.2.0"](https://github.com/magento/magento2/commit/07465f8ce879ff0bd0ba72a662c9e2473e49afe4#commitcomment-24620019)?

This kinda breaks some of third party extensions which added support to magento 2.2.0 by adding and expe

[2017-09-28 07:57] vishalpatel14 commented on #11108
@FinBoWa

Thank you for the quick support. Issue was my CLI version and its resolved now. You can close the ticket,

[2017-09-28 07:59] vishalpatel14 commented on #11108
After completion of update still its showing same version 2.1.9 not the 2.2.0. Please have a look.

[2017-09-28 08:00] pravalitera commented on #8018
It means they don't care about developpers that, for some on them, support
Magento for 8 years, and made the brand what it is today. Even the
"communty manager" on Twitter does not answer question about 2.0 and 2.1

The release note of 2.2 is incredible. Really, 2.0 and 2.1 should never
have never been sold like a "finished product".

@magento-engcom-team <https://github.com/magento-engcom-team> G

[2017-09-28 08:06] magento-engcom-team commented on #11108
@vishalpatel14 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.
Your problem seems to be related to the platform you are using.

[2017-09-28 08:06] #11108 closed, assigned to nobody

[2017-09-28 08:09] magento-engcom-team commented on #10228
@hmiao04, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.
If you are still experiencing this issue please provide clear preconditions, steps to reproduce, expected and actual result.
Thank you.

[2017-09-28 08:09] #10228 closed, assigned to nobody

[2017-09-28 08:11] vishalpatel14 commented on #11108
After Solving my environment problem this new error have came. Please have a look.

![error](https://user-images.githubusercontent.com/16519746/30955810-9a29d07c-a452-11e7-9946-4bd58c1f334c.jpg)

[2017-09-28 08:15] tomnyson opened #11112 "magento 2.2 after update composer can't run Cli"
### Preconditions

1.
2.

### Steps to reproduce

1. composer require magento/product-community-edition 2.2 --no-update
2. composer update
3.create file un_mask  in root folder with value 022
3. php bin/magento setup:upgrade

### Expected result

1. [InvalidArgumentException]
  Unable to unserialize value.

### Actual result

1. [Screenshot, logs]
![image](https://user-images.githubusercontent.com

[2017-09-28 08:15] magento-engcom-team commented on #10294
@pankajok @mvalenziano Products which have no weight are consider virtual and may not counted towards shipping. If all products in the cart are virtual – shipping step on checkout is not visible. This is a standard Magento behavior.

[2017-09-28 08:15] #10294 closed, assigned to nobody

[2017-09-28 08:16] vishalpatel14 opened #11113 "Magento 2.2 Upgrade Issue"
### Preconditions

1. Magento 2.2
2. Php 7.0.10
3. Appache 2.4.23
4. Wampserver 3.0.6
5. MySQL 5.7.14

### Steps to reproduce

1. composer require magento/product-community-edition 2.2 --no-update
2. composer update

### Expected result

1. Upgrade Process should continue.

### Actual result

1.
![error](https://user-images.githubusercontent.com/16519746/30956037-6967dfc8-a453-11e7-9b21-16fc967d48

[2017-09-28 08:19] magento-engcom-team commented on #10284
Hi @rzinnatullin
@korostii's suggestion is correct in this case. Please use hostname with a dot.

[2017-09-28 08:19] #10284 closed, assigned to nobody

[2017-09-28 08:19] magento-engcom-team commented on #10855
@Olek89 Unfortunately, I could not reproduce the issue as you described it.
Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-09-28 08:20] DarthFly commented on #7178
The part with incorrect url seems to be fixed in M2.2.

Although it's harder now hot reproduce an error, but by using some 'product_save_before' observer and throwing an error on the first save with image, the second save (without an error) works correctly and keep uploaded image assigned to the product.

[2017-09-28 08:27] magento-engcom-team commented on #11100
@userName, thank you for your report.
Please make more clear what do you mean by "Images should continue to change" expression.

[2017-09-28 08:29] roman204 opened #11114 "Class 'PHPUnit\Framework\TestCase' not found when execute UnitTests"
### Preconditions

1. Magento Open Source 2.2

### Steps to reproduce

1. Install Magento 2.2
2. enter Terminal in Document Root of Magento 2.2
3. execute `./vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist`

### Expected result

1. the tests are running

### Actual result

1.Class 'PHPUnit\Framework\TestCase' not found in /var/www/htdocs/setup/src/Magento/Setup/Test/Unit/Console/Command/Admi

[2017-09-28 08:36] ADDISON74 commented on #10742
**Magento Version**: 2.1.8
**Steps to reproduce**: Go visiting Products and Categories sections in backend
**Expected result**: In that attribute set there is a group called Product Content. It is not appearing as the others groups, with name and having the option to toggle it on/off. This missing feature creates an "always visible" area for product information.
**Actual results**: You cannot hide

[2017-09-28 08:36] ADDISON74 commented on #10742
More information you can find here:

[2017-09-28 08:49] magento-engcom-team commented on #10460
@deadlyw1re Thanks for reporting this issue.
We cannot reproduce this issue as described.
Steps we did(Chrome, Firefox):
1. Created three store and store view.
2. In Admin -> Stores -> Configuration -> General -> Web:
    - Set "Add Store Code to Urls" to "Yes" under "Url Options";
    - Set "Use SID on Storefront" to "Yes" under "Session Validation Settings";
3. Run indexer and clean cache.
4. In

[2017-09-28 09:11] hudson1998x commented on #10809
The problem seems to have been fixed, it was due to file permissions stopping a JS file loading. causing errors on the page.

[2017-09-28 09:16] matthiashamacher opened #11115 "Additional Fee isn't added to grand total in cart without choosing an shipping method"
### Preconditions

1. MAMP Pro 4, MySQL 5.6, PHP 7.0.20, Magento 2.1.8
2. Write a module that adds a Fee to the total (e.g. [https://github.com/mageprince/magento2-extrafee](url))

### Steps to reproduce

1. Add Products to cart
2. Go to cart
3. Observe Grand Total when choosing a shipping method in the sidebar

### Expected result

1. Fee is included in Grand Total

### Actual result

1. Fee is o

[2017-09-28 09:19] mvalenziano commented on #10294
Hi, i know that. The issue begin in that case scenario:
1. product with weight
2. move that product to configurable using the wizard
3. result -> all the child products of the configurable don't have the weight as the parent has

[2017-09-28 09:31] NisaKH commented on #8725
I found this issue in magento2 CE 2.1.7 too. (also in 2.1.5)

For my case, I found that when magento validate the categories condition, it will check from table 'catalog_category_product_index'. This issue happens because of wrong indexing in index id: 'catalog_category_product'. This index table excludes products which have set visibility to 'not visible individually'. You can see the query in **

[2017-09-28 09:33] orlangur commented on #10460
@deadlyw1re let me clarify something for you.

Does it work differently for you? Basically, this is the main purpose of SID - do not lose session when you go to another site.

There is a logic under the hood which checks whether SID needs to be added for particular link. For example, if there is cookie set for `domain.com` and root path, there is no need to add SID for any of `domain.com/store2/`

[2017-09-28 09:35] mayankzalavadia commented on #10209
Hello @okorshenko

I also would like to give my contribution on Magento. So, can you please send me an invitation to join Magento Team on public GitHub.

[2017-09-28 09:41] orlangur commented on #10869
Here is what needs to be done: https://github.com/magento/magento2/pull/10868#issuecomment-329762150

Similar issue existed for multiple fields, first/middle/lastname were fixed before but telephone (AND MAYBE other fields, this needs to be checked) are still affected.

[2017-09-28 10:00] itonomy commented on #10480
Hi, problem comes up when simple product (child of the bundle) has lower stock then asked for in the bundle option and manage stock is on (on bundled product).

Fix on line 572:
` ? ($this->_stockRegistry->getStockItem($selection->getId())->getBackorders() ? 1 : $selection->getSelectionQty() <= $this->_stockState->getStockQty($selection->getId()))`

In code vendor/magento/module-bundle/Model/Produ

[2017-09-28 10:07] yogisfunda commented on #11113
It also display following after running php bin/magento setup:upgrade i dont understand what is related to ?

Invalid Document
Element 'resource': The attribute 'title' is required but missing.
Line: 12
Element 'resource': The attribute 'title' is required but missing.
Line: 13

[2017-09-28 10:10] vishalpatel14 commented on #11113
Its coming after this  steps.
1. composer require magento/product-community-edition 2.2 --no-update
2. composer update (Over Here)

[2017-09-28 10:15] orlangur commented on #11114
Looks like you forgot to run `composer install`.

In `2.2.0` PHPUnit version was upgraded to `6.x` which introduced this new class.

[2017-09-28 10:15] mpont91 opened #11116 "Magento 2.2.0 issues with layouts"
### Preconditions

1. Magento 2.1.9
2. PHP 7.0.18
3. MySQL 5.7.18

### Steps to reproduce

1. Upgrade from 2.1.9 to 2.2.0
2. Browser front page

### Expected result

1. No errors!

### Actual result

Seems that some layouts are incorrect:

	Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'ifconfig': The attribute 'ifconfig' is not allowed.
	Line

[2017-09-28 10:21] orlangur commented on #11113
Probably update with sample data is not possible this way.

Please try something like http://devdocs.magento.com/guides/v2.2/comp-mgr/cli/cli-rc1-samp.html#command-line-upgrade-to-magento-21-with-sample-data

[2017-09-28 10:21] lhsatch commented on #11021
I have looked in the ChangeLog and there was an issue that was apparantly fixed:
    * Fixed an issue where a new custom theme added to the file system, was not accessible in Admin      [position 274:41]
This is the issue i am having now.

[2017-09-28 10:23] orlangur commented on #11110
Leading backslash in class name is not allowed. Please check if it works if you remove all such occurrences.

[2017-09-28 10:25] craigcarnell commented on #11110
@orlangur Where am I looking, XML, PHP or phtml files?

[2017-09-28 10:27] vishalpatel14 commented on #11113
So for updating Magento  to 2.2.0 I need to update sample data aswell. As I already have sample data on my store with current version.

[2017-09-28 10:30] magento-engcom-team commented on #9870
@amandamitchell, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-28 10:30] #9870 closed, assigned to nobody

[2017-09-28 10:30] magento-engcom-team commented on #7075
@cdbessig, thank you for your report.
We've created internal ticket(s) MAGETWO-62279 to track progress on the issue.

[2017-09-28 10:30] magento-engcom-team commented on #10231
@minesh0111, thank you for your report.
We've created internal ticket(s) MAGETWO-70997 to track progress on the issue.

[2017-09-28 10:30] magento-engcom-team commented on #9516
@astorm, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-09-28 10:30] magento-engcom-team commented on #9976
@codedge, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-28 10:30] #9976 closed, assigned to nobody

[2017-09-28 10:30] magento-engcom-team commented on #10458
@qsolutions-pl, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-28 10:30] #10458 closed, assigned to nobody

[2017-09-28 10:30] magento-engcom-team commented on #10398
@hostep, thank you for your report.
We've created internal ticket(s) MAGETWO-80274 to track progress on the issue.

[2017-09-28 10:30] magento-engcom-team commented on #10379
@ebubekirkaragol, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-28 10:30] #10379 closed, assigned to nobody

[2017-09-28 10:30] magento-engcom-team commented on #5846
@jameswithers, thank you for your report.
We've created internal ticket(s) MAGETWO-70963 to track progress on the issue.

[2017-09-28 10:30] magento-engcom-team commented on #6310
@hostep, thank you for your report.
We've created internal ticket(s) MAGETWO-45066, MAGETWO-80256 to track progress on the issue.

[2017-09-28 10:30] magento-engcom-team commented on #10301
@mageprince, thank you for your report.
We've created internal ticket(s) MAGETWO-70955 to track progress on the issue.

[2017-09-28 10:31] orlangur commented on #11111
Please check http://devdocs.magento.com/guides/v2.2/extension-dev-guide/versioning/dependencies.html.

No, it allows to NOT break third-party extensions. They needs to be thoroughly tested and only after that constraint may be expanded to indicate both `100.x` and `101.x` versions are supported.

Nope, there is no chance `101.x` will be changed to `100.3.x` some day and this is controlled automati

[2017-09-28 10:31] #11111 closed, assigned to nobody

[2017-09-28 10:33] orlangur commented on #11107
Well, error message is quite clear. Do you have `customer_group` table in fact?

[2017-09-28 10:35] naouibelgacem opened #11118 "category tree"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-09-28 10:35] #11118 closed, assigned to nobody

[2017-09-28 10:39] yogisfunda commented on #11113
I am trying to upgrade a website from Magento 2.1.8 to 2.2.0 when I run magento setup:upgrade its halt
on running schema and showing following note: pfa for more info.

Running schema recurring...Invalid Document
Element 'resource': The attribute 'title' is required but missing.
Line: 12

Element 'resource': The attribute 'title' is required but missing.
Line: 13

![upgrade_issue](https://user-ima

[2017-09-28 10:39] orlangur commented on #11106
This is clearly not Magento issue. Magento does not change `git` installation in any way as far as I know.

Just remove `index.lock` and try one more time. It is safe operation. If it does not work, try upgrading `git` or googling for solution for your particular environment.

Note that installing under Windows is not a good idea at all since it is not supported (see http://devdocs.magento.com/gui

[2017-09-28 10:39] #11106 closed, assigned to nobody

[2017-09-28 10:40] orlangur commented on #11105
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2017-09-28 10:40] #11105 closed, assigned to nobody

[2017-09-28 10:41] ihor-sviziev commented on #10174
I fixed this issue by sending request to support@travis-ci.com. For some reasons my account was marked as "abuse", so they removed this flag and now everything works good.

[2017-09-28 10:41] magento-engcom-team commented on #11101
@nsid32 We can't reproduce this issue. Please install clean Magento 2.1.9, and try reproduce this issue again.

[2017-09-28 10:42] orlangur commented on #11102
Please provide scenario how this can happen and format issue according to https://github.com/magento/magento2/blob/develop/.github/ISSUE_TEMPLATE.md

[2017-09-28 10:47] craigcarnell commented on #11110
OK I found it.. next one:

[code]

[2017-09-28 10:49] r0m30n commented on #9676
My solution, that works for me:
1. Open "vendor/magento/module-catalog/Model/Indexer/Category/Product/AbstractAction.php"
2) Search for function "isRangingNeeded"
3) Change Code from "return true;" to "return false;"

After reindexing all products are displayed in the category.

[2017-09-28 10:52] orlangur commented on #11110
That's strange, such issue should not appear in core files.

Please try remove `vendor/*` and then run `composer install` again.

[2017-09-28 10:55] orlangur commented on #11113
@vishalpatel14 yeah. The doc I mentioned is for 2.0 - > 2.1 upgrade but I'm unaware if upgrade to 2.2 should work without such steps but with simple `composer update`.

@yogisfunda please report a separate issue containing all necessary details according to template.

[2017-09-28 11:01] craigcarnell commented on #11110
@orlangur I don't think it does. I have it in my own extended widget.xsd

[2017-09-28 11:01] vishalpatel14 commented on #11113
@orlangur

I just check that aswell still have same error. I am upgrading from 2.1.9 to 2.0.

Same error coming again.

[2017-09-28 11:02] jhruehl commented on #10838
Here ist the patch that solves the problem. Though I don't really get why Magento did leave this function out. And if you look at the content of the MDVA-4538_EE_2.1.4_v2 patch, it seems that the 2.1.3 EE version of Magento already used the same indexer logic as CE 2.2 uses now.

It would be really interesting what the thought behind that different implementation was.

[fix_customer_grid_indexer_a

[2017-09-28 11:02] orlangur commented on #11110
Oh :) That was unexpected. Then you need to check the changes in original `widget.xsd` and do necessary changes in your custom scheme.

[2017-09-28 11:03] craigcarnell commented on #11110
@orlangur If only I was the original developer that changed it :)

[2017-09-28 11:09] orlangur commented on #11113
Looks like the main problem is related to `magento-wishlist` module constraint. Please check if your `composer.json` or such of any installed extension  does not introduce any additional constaints for it.

[2017-09-28 11:20] vishalpatel14 commented on #11113
I just have pure Magento with only 1 Theme. No Extensions are been installed.

I have previously migrated from 2.1.8 to 2.1.9 with same methods and not errors have came before.

Just Migration to 2.2 Error is coming.

[2017-09-28 11:30] magento-engcom-team commented on #8368
@lumiru, thank you for your report.
We've created internal ticket(s) MAGETWO-71178 to track progress on the issue.

[2017-09-28 11:30] magento-engcom-team commented on #9413
@joshfortyfour, thank you for your report.
We've created internal ticket(s) MAGETWO-80293 to track progress on the issue.

[2017-09-28 11:30] magento-engcom-team commented on #10223
@magentoprasad, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-28 11:30] #10223 closed, assigned to nobody

[2017-09-28 11:30] magento-engcom-team commented on #6627
@alexgoodey, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-28 11:30] #6627 closed, assigned to nobody

[2017-09-28 11:30] magento-engcom-team commented on #10101
@klakovskiy, thank you for your report.
We've created internal ticket(s) MAGETWO-70437 to track progress on the issue.

[2017-09-28 11:30] magento-engcom-team commented on #10669
@manhao-chen, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-28 11:30] #10669 closed, assigned to nobody

[2017-09-28 11:30] magento-engcom-team commented on #9961
@thomasnordkvist, thank you for your report.
We've created internal ticket(s) MAGETWO-69919 to track progress on the issue.

[2017-09-28 11:30] magento-engcom-team commented on #5845
@blizzardengle, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-28 11:30] #5845 closed, assigned to nobody

[2017-09-28 11:30] magento-engcom-team commented on #9597
@ferrazzuk, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-09-28 11:30] #9597 closed, assigned to nobody

[2017-09-28 11:30] magento-engcom-team commented on #9619
@oroskodias, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-28 11:30] #9619 closed, assigned to nobody

[2017-09-28 11:30] magento-engcom-team commented on #9640
@wojtekn, thank you for your report.
We've created internal ticket(s) MAGETWO-70238 to track progress on the issue.

[2017-09-28 11:30] magento-engcom-team commented on #5768
@dexterityzx, thank you for your report.
We've created internal ticket(s) MAGETWO-80284 to track progress on the issue.

[2017-09-28 11:35] arielmorry commented on #11116
This is not a bug, those attributes are not allowed when using referenceBlock and you should locate them in your code a remove them.

[2017-09-28 11:46] achatpc commented on #11107
Not table customer_group in my database

[2017-09-28 11:53] speedupmate commented on #9248
the conflict comes from

`Magento\Framework\Module\Dir\Reader.php `

where

`    /**
     * Go through all modules and find corresponding files of active modules
     *
     * @param string $filename
     * @param string $subDir
     * @return array
     */
    private function getFiles($filename, $subDir = '')
    {
        $result = [];
        foreach ($this->modulesList->getNames() as $moduleN

[2017-09-28 11:53] orlangur commented on #11107
Well, it should be there, I don't see this table was ever removed in `app/code/Magento/Customer/Setup`.

Try restoring database from your latest backup, check `customer_group` table is in place and perform an upgrade one more time.

[2017-09-28 12:02] roman204 commented on #11114
hmm did a `composer require magento/product-community-edition --no-update`
and after that a `composer update`...

2017-09-28 12:15 GMT+02:00 Vlad Veselov <notifications@github.com>:

[2017-09-28 12:04] dikshugoel786 commented on #6877
I have checked with Your solution but not working for me

[2017-09-28 12:09] achatpc commented on #11107
Thank you but whent i launch tollback db process, i have this error:

SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint, query was: CREATE TABLE IF NOT EXISTS `customer_group` (
  `customer_group_id` smallint UNSIGNED NOT NULL auto_increment COMMENT 'Customer Group Id' ,
  `customer_group_code` varchar(32) NOT NULL COMMENT 'Customer Group Code' ,
  `tax_class_id` int UNSIGNED

[2017-09-28 12:15] Tjitse-E commented on #10586
@jordanbrauer fix worked for me. Just delete the new attribute set and recreate it based on the default attribute set.

[2017-09-28 12:19] ravinders-121 commented on #11113
@vishalpatel14

Try executing below command before composer update

composer require magento/module-bundle-sample-data:100.2.* magento/module-widget-sample-data:100.2.* magento/module-theme-sample-data:100.2.* magento/module-catalog-sample-data:100.2.* magento/module-customer-sample-data:100.2.* magento/module-cms-sample-data:100.2.* magento/module-catalog-rule-sample-data:100.2.* magento/module-s

[2017-09-28 12:20] ghost opened #11119 "Update from 2.1.9 to version 2.2 Complete but some modules are not updated (composer)"
### Preconditions

 Current version (99%) Magento 2.2
Apache Version | 2.4.27
PHP Version | 7.0.23
MySQL Version | 5.6.36-cll-lve
Architecture | x86_64
Operating System | linux

### Steps to reproduce

1. if i run php bin/magento setup:upgrade --keep-generated
The outcome is good until it wants to update the Magento_Tax module.

### Expected result

1. All modules updated

### Actual result

This

[2017-09-28 12:20] achatpc commented on #11107
![error](https://user-images.githubusercontent.com/17496183/30966142-2b1f16b4-a458-11e7-8283-279e545c8016.jpg)

[2017-09-28 12:23] real34 commented on #8202
If it can help anyone, here is a SQL query to identify duplicates:

[code]

[2017-09-28 12:30] magento-engcom-team commented on #8271
@piuga, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-28 12:30] #8271 closed, assigned to nobody

[2017-09-28 12:30] magento-engcom-team commented on #10090
@RedEnzian, thank you for your report.
We've created internal ticket(s) MAGETWO-70448 to track progress on the issue.

[2017-09-28 12:30] magento-engcom-team commented on #11097
@iWEBproject, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-28 12:30] #11097 closed, assigned to nobody

[2017-09-28 12:30] magento-engcom-team commented on #10457
@careys7, thank you for your report.
We've created internal ticket(s) MAGETWO-80296 to track progress on the issue.

[2017-09-28 12:30] magento-engcom-team commented on #10527
@ekuusela, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-28 12:30] magento-engcom-team commented on #9631
@Ddcdom, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-28 12:30] #9631 closed, assigned to magento-engcom-team

[2017-09-28 12:32] orlangur commented on #11114
Just check that it removed `phpunit` package of version `4.1` and added a new one `6.x`. Probably autoload was not regenerated or something.

[2017-09-28 12:33] orlangur commented on #11107
Not sure what it means. Can you maybe just import an SQL dump of previously working version?

[2017-09-28 12:35] achatpc commented on #11107
yes but i have the same error with command

sudo cat  var/backups/1506547954_db.sql|mysql -u root magentodb -p

Not easy lol

[2017-09-28 12:56] versdivers commented on #11018
Well i want to reopen this issue because. I don't get it.. You ask people to provide code and all the information needed to reproduce , you reproduce it and you have a different result. So obviously you did something else. Can you explain what you did , what value you gave within that field and what is showing in your backend. Did you try with the value 'BE'?

[2017-09-28 12:59] pankajok commented on #10294
Thank you guys for identifying the issue and suggesting solution.
I hope Magento also listening and correct the issue.

For now I wouldn't try to add the weight to child products, as as soon as I Refresh Cache, my site & Magento panel crashes; and I need to restore from backup. :D
As way around I created another product Named "Quick Delivery" with zero price, no weight and added to Configurable pr

[2017-09-28 13:02] jehzlau commented on #11119
Same issue here, but for only 1 module. So weird. I recently upgraded from 2.1.9 to 2.2

[2017-09-28 13:02] magento-engcom-team commented on #11116
Hi @slayerbleast
Unfortunately, I could not reproduce the issue as you described it.
Please add more details to your description of the steps you followed when identifying this issue.
Layout file, where used attribute 'ifconfig' in element 'referenceBlock' would be helpful.

[2017-09-28 13:05] magento-engcom-team commented on #10294
We can not provide any guidance on third-party modules. Please contact their vendors for support.

[2017-09-28 13:06] iWEBproject commented on #11097
OK
Just read What i Get Fro Site Ground Technicians:

Hello Yan,

Thank you for contacting us.

I performed a few tests on my end as well and it looks like the Magento application you have installed is incomplete and/or corrupted, which results in the issue you are experiencing. In order to confirm that, I installed a new Magento version 2.1.9 in your account and managed to run the command without

[2017-09-28 13:09] magento-engcom-team commented on #8440
Closing due to inactivity.

[2017-09-28 13:09] #8440 closed, assigned to nobody

[2017-09-28 13:10] pmoreno1980 commented on #6818
Here is the solution https://github.com/magento/magento2/blob/4cd69b8/app/code/Magento/PageCache/view/frontend/web/js/page-cache.js#L40-L70 this works for me

[2017-09-28 13:16] jehzlau commented on #11119
Oh wait, I just follow these steps, and it's now working:

rm -rf app/code/Magento/ var/* vendor/*
chmod 777 -R *
composer update && composer install
php -f bin/magento setup:static-content:deploy
find . -type d -exec chmod 775 {}
find . -type f -exec chmod 660 {}
chmod u+x bin/magento
bin/magento maintenance:disable
bin/magento cache:clean

Credits to: https://magento.stackexchange.com/questions/

[2017-09-28 13:17] miguelbalparda commented on #10595
This should be fixed by #10935

[2017-09-28 13:17] #10595 closed, assigned to miguelbalparda

[2017-09-28 13:18] minimit commented on #11098
I've found a solution to extend magento2 less styles with available mixins and variables, with the right specificity of the media queries:

You have to copy the blank theme's `sources/_sources.less` inside `custom/web/css/sources/_sources.less`, and add import your custom .less here.

[code]

Inside `_custom.less` you can access all variables and mixins.
[code]

In the above code the styles specif

[2017-09-28 13:28] orlangur commented on #11107
Try https://stackoverflow.com/questions/15501673/how-to-temporarily-disable-a-foreign-key-constraint-in-mysql, I thought it was needed in Magento 1 only.

[2017-09-28 13:30] magento-engcom-team commented on #10032
@GuidoHub, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-28 13:30] magento-engcom-team commented on #9051
@NMills12, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-28 13:30] #9051 closed, assigned to alena-marchenko

[2017-09-28 13:30] magento-engcom-team commented on #10080
@pointia, thank you for your report.
We've created internal ticket(s) MAGETWO-70528 to track progress on the issue.

[2017-09-28 13:30] magento-engcom-team commented on #8202
@maximehuran, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-28 13:30] #8202 closed, assigned to nobody

[2017-09-28 13:30] magento-engcom-team commented on #9965
@erfanimani, thank you for your report.
The issue is already fixed in 2.1.9

[2017-09-28 13:30] #9965 closed, assigned to nobody

[2017-09-28 13:34] koopjesboom commented on #11119
Thanks for your input.
Now i get another error message.
 Problem 1
    - The requested package magento/product-community-edition 2.2.0 exists as magento/product-community-edition[0.42.0-beta7, 2.0.                     0, 2.0.1, 2.0.2, 2.0.3, 2.0.4, 2.0.5, 2.0.6, 2.0.7, 2.1.0-rc1, 2.1.0-rc2, 2.1.0-rc3, 2.1.0, 2.0.8, 2.0.9, 2.1.1, 2.0.10, 2.1.2, 2.                     1.3, 2.0.11, 2.1.4, 2.0.12, 2.1

[2017-09-28 13:43] orlangur commented on #10355
@maghamed you may be interested in reviewing this (similar to previous one https://github.com/magento/magento2/issues/10355#issuecomment-323312355).

[2017-09-28 13:56] orlangur commented on #11116
@slayerbleast are you using Windows?

[2017-09-28 14:12] jhruehl commented on #11113
@yogisfunda It's probably just a missing title tag in a <resource ..../> child (youngest) element in an acl.xml file of one or more of your modules. Just add title="blub" to those elements and the problems should be solved.

[2017-09-28 14:16] orlangur commented on #11116
@jhruehl nothing funny, there were a couple of issues with similar symptoms on Windows which I planned to close :)

[2017-09-28 14:18] orlangur commented on #11112
Without such step there will be no error?

[2017-09-28 14:18] magento-engcom-team commented on #10285
@experius-nl Thanks for reporting this issue.
Please take a look here http://devdocs.magento.com/swagger/ .
Also You can try to modify body of your request into something like:
{
  "entity": {
    "sku": "40067-1",
    "link_type": "related",
    "linked_product_sku": "40065",
    "linked_product_type": "simple",
    "position": 0,
    "extension_attributes": {
      "qty": 1
    }
  }
}
 and plea

[2017-09-28 14:20] juniox opened #11121 "Remove block from Magento 2.2"
Hi
I have a custom theme which was working fine until 2.1.9. Just upgraded to 2.2 and noticed some blocks I used to remove are now in place.

### Preconditions

1. Ubuntu 14.04
2. Apache 2.4.7
3. PHP 7.0.23
4. MySQL 14.14

### Steps to reproduce

app/design/frontend/MyThemes/custom1/Magento_Theme/layout/default.xml
`<?xml version="1.0"?>`
`<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance

[2017-09-28 14:30] magento-engcom-team commented on #10099
@alessandroniciforo, thank you for your report.
We've created internal ticket(s) , MAGETWO-80328 to track progress on the issue.

[2017-09-28 14:30] magento-engcom-team commented on #8992
@TommyKolkman, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-28 14:30] #8992 closed, assigned to nobody

[2017-09-28 14:30] magento-engcom-team commented on #10006
@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-70073 to track progress on the issue.

[2017-09-28 14:30] magento-engcom-team commented on #11095
@friimaind, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-28 14:30] magento-engcom-team commented on #10145
@tomnyson, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-28 14:30] #10145 closed, assigned to nobody

[2017-09-28 14:30] magento-engcom-team commented on #9573
@auroralabs, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-28 14:30] #9573 closed, assigned to nobody

[2017-09-28 14:30] magento-engcom-team commented on #9775
@inelukipg, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-09-28 14:30] magento-engcom-team commented on #9910
@DJ0815, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-28 14:30] #9910 closed, assigned to nobody

[2017-09-28 14:30] magento-engcom-team commented on #10287
@bertonha, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-28 14:30] #10287 closed, assigned to nobody

[2017-09-28 14:30] magento-engcom-team commented on #5956
@jernejh, thank you for your report.
We've created internal ticket(s) MAGETWO-80318 to track progress on the issue.

[2017-09-28 14:30] magento-engcom-team commented on #10518
@bondimedical3, thank you for your report.
We've created internal ticket(s) MAGETWO-80325 to track progress on the issue.

[2017-09-28 14:30] magento-engcom-team commented on #10591
@andidhouse, thank you for your report.
We've created internal ticket(s) MAGETWO-80323 to track progress on the issue.

[2017-09-28 14:36] magento-engcom-team commented on #9566
We updated description:

### Best way to reproduce:
1. Create order
2. Open edit order page in admin and note "Order Status"
3. Go to Admin: Stores>Settings>Order Status and edit row with status that has order
5. Change label for Default Store View = "Processing on store view"
6. Refresh order edit form
### Expected result
Status = "Processing"
### Actual result
Status = "Processing on store view"

[2017-09-28 14:39] versdivers commented on #6803
This is still a big issue withing Magento 2.1.8

[2017-09-28 15:00] arielmorry commented on #11116
My two cents for what is worth:
I had this issue after upgrading 2.1.8 >> 2.2.0 and after debugging it I saw the available attributes for "referenceBlock" tag in: /vendor/magento/framework/View/Layout/etc/elements.xsd

the attributes allowed are: (~ line 313)
        <xs:attribute type="elementNameType" name="name" use="required"/>
        <xs:attribute type="xs:string" name="template" use="option

[2017-09-28 15:09] vanpoppel commented on #11112
I have this problem as well. It happens without umask, adding a umask doesn't fix the problem for me.

[2017-09-28 15:14] orlangur commented on #11116
@arielmorry nice catch! However I checked this schema for `2.0.0`, `2.1.0` and `2.2.0` searching for `"as"`, it never changed and allowed for `<block`, `<container`, `<move` and `<uiComponent` only. Maybe validation didn't work properly before in some cases.

@slayerbleast please remove disallowed `"as"` attribute from all `<referenceBlock` and check if the issue disappear.

[2017-09-28 15:22] rmevans1 commented on #11100
I have a configurable product with multiple products inside it. When you click the swatch the image gallery should change. Instead after saving the image gallery remains the same for the base configurable product

[2017-09-28 15:26] orlangur commented on #11112
Do you have any third-party extensions or customizations?

Please check https://devdocs.magento.com/guides/v2.2/release-notes/backward-incompatible-changes.html#database-data-format-changes in order to adopt your instance.

[2017-09-28 15:30] magento-engcom-team commented on #10315
@JeroenVanLeusden, thank you for your report.
We've created internal ticket(s) MAGETWO-69145, MAGETWO-80341 to track progress on the issue.

[2017-09-28 15:30] magento-engcom-team commented on #8740
@deiserh, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-28 15:30] #8740 closed, assigned to nobody

[2017-09-28 15:30] magento-engcom-team commented on #10003
@Bartlomiejsz, thank you for your report.
We've created internal ticket(s) MAGETWO-70070 to track progress on the issue.

[2017-09-28 15:30] magento-engcom-team commented on #9566
@darkogoles1, thank you for your report.
We've created internal ticket(s) MAGETWO-80333 to track progress on the issue.

[2017-09-28 15:30] magento-engcom-team commented on #10358
@calabanzas, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-28 15:30] #10358 closed, assigned to nobody

[2017-09-28 15:30] magento-engcom-team commented on #7665
@alexgoodey, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-28 15:30] #7665 closed, assigned to nobody

[2017-09-28 15:30] magento-engcom-team commented on #10193
@sjhill-rwcc, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-28 15:30] #10193 closed, assigned to nobody

[2017-09-28 15:30] magento-engcom-team commented on #10394
@vishveskrish, thank you for your report.
We've created internal ticket(s) MAGETWO-80335 to track progress on the issue.

[2017-09-28 15:31] slayerbleast commented on #11116
Yep, for some reason before 2.2.0 we could set these attributes on referenceBlock...
Well the problem is there are so many extension from 3rd party vendors that will break in this new version... they'll need to release new versions.

[2017-09-28 15:41] andy17612 opened #11122 "Magento 2.2 installation stuck at 71%"
hello~
I installed many times but still installation stuck at 71%...have some one can help me?please and thank you~
and if dont install SampleData.ver will be Installation is incomplete.
and i using Web hosting so i cant use composer

Current PHP version:  7.1
allow_url_fopen On
date.timezone UTC
display_errors Off
error_reporting E_ALL
file_uploads On
include_path .:/opt/alt/php71/usr/share/pear

[2017-09-28 15:41] orlangur commented on #11116
Why anybody used `'as'` in the first place? Did it allow to override alias or was just a copy-paste error?

No extension should be allowed for use with `2.2.0` until tested by vendor. There was quite a bit of time to check extensions against 2.2 release candidates and be prepared for stable release.

[2017-09-28 15:41] #11116 closed, assigned to magento-engcom-team

[2017-09-28 15:42] vishalpatel14 commented on #11113
@ravinders-121

After using your commands error resolve. Can you tell me from where you got this commands and its for which use?

Also I got one error is for Package fabpot/php-cs-fixer is abandoned message.

I solved it using below commands and after that it all started working

composer remove fabpot/php-cs-fixer
composer require --dev friendsofphp/php-cs-fixer

[2017-09-28 15:44] magento-engcom-team commented on #10410
@hoangnm89, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source