[2021-05-17 08:27] Quazz commented on #31870
The plugin still does not follow Magento 2 guidelines as of yet.

[2021-05-17 08:57] drpayyne commented on #26209
This is reproducible in 2.4.2 on a headless storefront implementation. These are the steps to reproduce

- set shipping address to cart
- set shipping method to cart (anything but free, so we can see this happening)
- set billing address to cart
- add coupon code to cart (this triggers totals collecting)

What we're seeing here is, totals is re-collected after coupon code is added. If billing addr

[2021-05-17 08:58] drpayyne commented on #26209
@sidolov, since you've mentioned that this is a high risk bugfix, can the core team pick this up and get this fixed? This is very much a real bug and has been open for 1.5 years now.

CC/ @sivaschenko

[2021-05-17 09:17] magento-engcom-team commented on #32987
@mrtuvn Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-17 09:17] magento-engcom-team commented on #32987
:white_check_mark: Confirmed by @mrtuvn
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42316` were created

**Issue Available**: @mrtuvn, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-17 09:30] ia-gaurav opened #33026 "Need Sku length More than 64"
**Preconditions (*)**

- 1. Magento Version - 2.4.2
- 2. Default Magento Theme

**Current Issue (*)**
- SKU has Limit of 64 chars

**Expected result (*)**

- It should allow more than 64 - for some products we have sku more than 64 char

- It is not feasible to create new attribute and show same at every places like order , reports and all

[2021-05-17 09:38] magento-engcom-team commented on #32015
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42317` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-17 09:44] zakdma commented on #17591
@RomanMichak I'm closing this issue since it can be fixed using configuration
`Content -> Design -> Configuration -> Header -> Translate title => NO`
If you have any objections please describe it and reopen this issue. Thank you!

[2021-05-17 09:44] #17591 closed, assigned to nobody

[2021-05-17 09:46] magento-engcom-team commented on #17591
Hi @RomanMichak.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41071` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-17 09:46] engcom-Alfa commented on #32303
HI @Nuranto
We have followed the steps that you have provided and we are not able to reproduce the issue. The table was created successfully , please refer the attached screenshot
![image](https://user-images.githubusercontent.com/51679138/118468915-dc6f8800-b722-11eb-8d32-bf5dcf8076e8.png)

[2021-05-17 10:26] Nuranto commented on #32303
Just tested again on Magento 2.4.2, and I still got :
[code]

For some reason I don't understand, in your case, you probably didn't went through `\d+|null` (`vendor/magento/framework/Setup/Declaration/Schema/etc/types/integers/integer.xsd`) validation regexp, which do fail with negative value.

[2021-05-17 10:47] FrancescoTerreni commented on #15545
Is this error also present in magento version 2.4.x?
Thank you.

[2021-05-17 10:56] LIXMLN commented on #15545
Magento 2.4.x only support elasticsearch

[2021-05-17 10:57] bampisSyk commented on #15545
The best way to resolve the issue is to switch to ElasticSearch

[2021-05-17 11:06] ihor-sviziev commented on #33026
@ia-gaurav, could you provide some use case when we might need so long SKU?
Example: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
TBH in case of such a long SKU, you will also have different issues. For instance, we won't see the full SKU in the field in admin that might confuse.

[2021-05-17 11:21] engcom-Alfa commented on #32929
Hi @SteveReda
I have tested the issue in the Magento ver. 2.4.*, No issue reproduced as per the description.
Below is the working screen shot.
![image](https://user-images.githubusercontent.com/51679138/118480219-953bc400-b72f-11eb-8352-b2d25002953d.png)
In fact, tried to reproduce with different product types like Configurable, Bundle, Grouped as such. It is not reproducible.
Kindly upgrade to th

[2021-05-17 11:21] #32929 closed, assigned to engcom-Alfa

[2021-05-17 12:43] ia-gaurav commented on #33026
We have SKUs like ,also why it will not show in admin could not get same:

ZIVAME_WOMEN_SAREE_Monteverdi_TF_100_cotton_STRU_010_FSSC_CAC_Pink_19_38

[2021-05-17 12:46] clernoc commented on #25294
Same problem. I did not expect such famed CMS would have so many issues for that long time...

[2021-05-17 14:17] rb-ec commented on #28916
This still looks to be an issue in 2.3.6-p1. Duplicate orders created when customer uses PayPal Express.

[2021-05-17 14:45] navarr commented on #32974
@ninjacoder30 Investigating this is going to be a bit more in-depth than I can handle on a GitHub ticket alone.  Could you please open a support request with Vertex?

[2021-05-17 14:56] gabrieldagama commented on #32303
Hi @Nuranto, can you clarify on which action are you having the error? For example, I do get the XSD validation error on my PHPStorm, but if I try to run `php bin/magento setup:db-schema:upgrade` it does work and the column is added.

Maybe you can clarify and add more details on the step to reproduce the problem?

Thanks.

[2021-05-17 15:07] tyago343 opened #33028 "main.CRITICAL: Exception message: Class Magento\Customer\Model\Validator\Name does not exist"
### Preconditions (*)

1. Magento 2.4.2-p1
2.

### Steps to reproduce (*)

1. Create an user
2.

### Expected result (*)

1. User created

### Actual result (*)

1. Error, "we can't create a customer

main.CRITICAL: Exception message: Class Magento\Customer\Model\Validator\Name does not exist
Trace: <pre>#1 Magento\Framework\Code\Reader\ClassReader->getConstructor() called at [vendor/magento/frame

[2021-05-17 15:31] SilinMykola commented on #32913
@magento I am working on this

[2021-05-17 15:50] SilinMykola commented on #32911
@magento I am working on this

[2021-05-17 17:03] jesperbrejning commented on #32901
I have got the same issue

[2021-05-17 18:06] ia-gaurav commented on #32571
any update please

[2021-05-17 19:20] itg-ddanielson commented on #28161
I can confirm we are getting this issue as well using a custom payment module. Best workaround I can think of is to but different valiation logic in our modules validate() method or do disable the mixin. Any other suggestions?

[2021-05-17 20:30] magento-engcom-team commented on #31344
Hi @sivaschenko, @hws47a.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39654` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-17 20:31] magento-engcom-team commented on #31777
Hi @sivaschenko, @ihor-sviziev, @sergeynezbritskiy.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39648` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-17 22:41] LuigiLazzari commented on #32642
I want to help here, but I'm at a loss, should I just implement this:

On the core payment modules?

[2021-05-17 23:20] magento-engcom-team commented on #22005
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-18 03:45] MaddatiNishitha commented on #32933
Hi Team,

We are getting 404 page not found error for [magento/partners-magento2ee#537](url). So, could you please provide us more information regarding this.

[2021-05-18 03:49] onlinebizsoft commented on #32956
I would like to see the result and see how this being improved

[2021-05-18 04:07] #29125 closed, assigned to nobody

[2021-05-18 04:07] #28274 closed, assigned to nobody

[2021-05-18 04:07] #26949 closed, assigned to nobody

[2021-05-18 04:15] colyield commented on #32970
Instead of using composer, I downloaded the 2.4.2 version from the Magento website and overwrite the files on the server, and setup/compile, now the backend for the theme-view is different, but the tabs are still not working. When click the tabs, nothing happened.

![Screenshot 2021-05-18 001145](https://user-images.githubusercontent.com/18225064/118589288-1619b080-b76e-11eb-8e9d-45a9db764f63.jpg)

[2021-05-18 04:16] colyield commented on #32976
Instead of using composer, I downloaded the 2.4.2 version from the Magento website and overwrite the files on the server, and setup/compile, now the backend for the theme-view is different, but the tabs are still not working. When click the tabs, nothing happened.

![Screenshot 2021-05-18 001145](https://user-images.githubusercontent.com/18225064/118589379-482b1280-b76e-11eb-8ae0-1ff4f426319f.jpg)

[2021-05-18 05:31] engcom-Alfa commented on #32895
@harrigo
I am trying to reproduce in various aspects. Unable to do. Below is the sample screen record that I tried.

https://user-images.githubusercontent.com/51679138/118595209-442bde80-b7c8-11eb-84e1-c7daf380c2c2.mp4

So, kindly make a detailed reproducible steps and possibly a screen recoding as well since it is something related to improper UI response.

[2021-05-18 05:35] plastikschnitzer commented on #28092
Thank you @5m-solutions for the idea, I removed the email and the issue was still there.

Then checked all my paypal settings and disabled the method "Website Payment Standard" and enabled "PayPal Express" and the issue was gone! Not sure what Website Payment Standard is doing there because its handled by PayPal Express anyway as far as I can see.

So anyone who cannot solve it by simply removing

[2021-05-18 06:13] Nazar65 commented on #32901
@wandyyd  @jesperbrejning  could you please apply that changes directly ? as i can see this is not included in any release :(

[2021-05-18 06:43] Nuranto commented on #32303
I got it while running `setup:upgrade`.
I have obviously the same error when running `setup:db-schema:upgrade`, but with a trace. Here it is if that can helps :
[code]

Here is my db_schema.xml schema and table tags :

[code]

Is it the same as yours ?

I don't know what else could differs...

PHP version : 7.4.12, running on a Docker `php:7.4-apache` based image.

[2021-05-18 07:10] engcom-Alfa commented on #33028
@tyago343
I have tried to reproduce it. As the description says create a new **_user_**. Actual message is having Error in creating **_customer_**. So tried to create user and customer both. Worked well. Below is the successfully created screenshots.

<img width="936" alt="UserCreationWorking" src="https://user-images.githubusercontent.com/51679138/118607231-f7e79b00-b7d5-11eb-936e-6afe55727dce.PN

[2021-05-18 07:15] palviggi-flagbit commented on #32325
Yes

Nothing

Look at it

[2021-05-18 09:50] f1-outsourcing commented on #32696
So are you going to try with 2.3.6?

[2021-05-18 09:56] chdzma commented on #7560
The error persists in Magento 2.3.5, Timezone Europe/Madrid in php.ini and Magento configuration and the confirmation request emails are seen with a 2h delay

[2021-05-18 10:04] Iamwade commented on #33000
@magento I am working on this

[2021-05-18 10:05] ia-gaurav commented on #33026
@ihor-sviziev - any way to get around this

[2021-05-18 10:05] GuillaumeBrook opened #33030 "Bundle is bugged when a required option has a product not affected on a particular website"
### Preconditions (*)

1. Magento 2.4.2 with sample data

### Steps to reproduce (*)

1. Go in admin to the bundle Sprite Yoga Companion Kit
2. You can see that this bundle has 4 options, each options containing one or more products
3. Let's take the product "Sprite Foam Yoga Brick" which in is a **required option** and is a single product option
4. Go in admin on this product and remove it from t

[2021-05-18 10:13] Penchal-magento commented on #32918
@avgust1111 avgust1111 :
1. It is not an issue when product is out of stock  and option "Display Out of Stock Products" is set to YES-Product will be visible in front end with out of stock option.
2. It is not an issue when product is out of stock  and option "Display Out of Stock Products" is set to NO-Product will be invisible in front end.

This is the expected behavior ,kindly let me know if y

[2021-05-18 10:13] #32918 closed, assigned to engcom-Delta

[2021-05-18 10:25] Waldemar-Denke commented on #30094
I fixed it temporarily by adding
`<?php $ratesId = preg_replace("/[^a-zA-Z]+/", "", $rate['code']); ?>`
replaced Line 62 with
`<tr id="rate-<?= /* @noEscape */ $ratesId ?>"`
and replaced Line 77
`<?= /* @noEscape */ $secureRenderer->renderStyleAsTag("display:none;", 'tr#rate-' . $ratesId ) ?>`
in file: vendor/magento/module-sales/view/adminhtml/templates/order/totals/tax.phtml

print_r($_fullInfo)

[2021-05-18 11:02] avgust1111 commented on #32918
Hello, @Penchal-magento
Thank you for checking
I'd like to ask: did you check behavior for bundle option product qty, as I mentioned in detailed steps?
Or did you just change stock status for simple products? Unfortunately, it's not clear in your comment, what exactly have you checked

[2021-05-18 11:06] tim-breitenstein-it commented on #26960
I think the problen are the Upsell Products, We have some products with over 400 Upsell Products. I am trying to limit this and check again.

[2021-05-18 11:20] ihor-sviziev commented on #33026
@ia-gaurav I feel like the only fix would be using some abbreviates for the SKU, or you can do some own customization that would allow such long SKUs, as adding such an ability to Magento might cause additional issues, especially usability issues during editing such values in the admin.

[2021-05-18 11:28] ia-gaurav commented on #33026
Hi @ihor-sviziev , i still suggest it as needed for below reason

1.  Sku length was hardcoded at multiple places, overriding each will be much difficult - better we should add 255 char limit .
2:  usability issue should not be there - user can keep 2-3 column visible only in admin listing to view full sku as per need
3: ALso sku lenght user has option he might use small or larger one
4: it is muc

[2021-05-18 11:50] engcom-Alfa commented on #32663
@panoramik707
I have created a tax role and used that to purchase a product. If I see in the Admin end: Sales>Invoices (even after exporting) , there is tax applied properly as shown in the below screenshot.
![image](https://user-images.githubusercontent.com/51679138/118645814-07c6a580-b7fd-11eb-90e5-9e6fc9b49f38.png)

Kindly update reproducible steps in case if it in a specific case like Tax rule

[2021-05-18 11:56] Penchal-magento commented on #32918
Hi @avgust1111 : Yes , i have verified for bundle option product qty.
Thanks

[2021-05-18 11:57] nizarweb77 commented on #32981
i'am using godaddy shared hosting
the problem is only magneto 2.4.0 work successfully with godaddy but it came without elastic search,
so i decide to work with magento 2.3.5 because no elastic search in this version but many error in the backend

[2021-05-18 12:26] Bartlomiejsz commented on #23853
This is not stale issue

[2021-05-18 12:31] mrtuvn commented on #32981
V2.4 required elasticsearch must have. You should ask server support. Or change hosting brand. Nexcess may be a good one choice

[2021-05-18 12:49] nizarweb77 commented on #32981
thanks for your response i have even contact you in skype
as you know AWS is free and hi is good but really this problem take to much form my time

[2021-05-18 13:18] simonmaass commented on #32302
this is not fixed and should not be stale!

[2021-05-18 13:25] duckchip opened #33031 "Changing additional_images does not remove old images in csv import (Images not getting replaced)"
### Preconditions (*)
Trying to update a product with a different set of additional images does not remove old images.

1. 2.4.2-p1

### Steps to reproduce (*)

1. Create a csv file with 1 product, add the additional_images column with a path to an image in the var/import/images folder
2. Import the csv file using add/update profile
3. Navigate to the product edit page and confirm the image is ava

[2021-05-18 13:32] MackieeE commented on #29580
Is there a possible patch for this in the meantime? Or a workaround, such as POSTing my own Operation key to keep this unique?

[2021-05-18 14:01] mrtuvn commented on #30656
Seem issue fixed in this commit https://github.com/magento/magento2/commit/76ff97efcc6352019f3775e2e7f62260fb8b0679#diff-d036d544db88cf91738bb3b56dbe89e156d4043e4cb7062af1eda9d20911d672R196 (lastest recently merged 2.4-develop)
Can you verify it again ? @ericmorand

[2021-05-18 16:03] mrtuvn commented on #32956
Since details page magento have fotorama media image may cause adjustment when first time load (since image not have attr width height). Also i notices swatch opt load later also may cause cls problem too

[2021-05-18 16:15] ia-gaurav commented on #32981
@nizarweb77  - is it server related issue only not related to magento

[2021-05-18 16:16] m2-assistant[bot] opened #33034 "[Issue] Fixed #32983 Datetime custom attribute throws exception at mass attribute updates from admin product grid"
This issue is automatically created based on existing pull request: magento/magento2#33021: Fixed #32983 Datetime custom attribute throws exception at mass attribute updates from admin product grid

---------
**Preconditions (*)**
1.Magento version 2.4.1

**Steps to reproduce (*)**
Create a custom date and time attribute and assign it to an attribute set.
From admin panel go to Catalog -> Products

[2021-05-18 16:16] m2-assistant[bot] opened #33035 "[Issue] Support for multiple store views per group"
This issue is automatically created based on existing pull request: magento/magento2#33032: Support for multiple store views per group

---------
### Description (*)
At the moment only the first storeview from the group is supported to use for customer login. This commit will add all store views to the select options.

### Manual testing scenarios (*)
1. Set `Store View To Login To` to `Manual Sel

[2021-05-18 16:19] vivekcoder007 commented on #32981
@nizarweb77  - ur skype ?

[2021-05-18 16:20] vivekcoder007 commented on #32981
@magento I am working on this

[2021-05-18 16:21] vivekcoder007 commented on #32981
@magento add to contributors team

[2021-05-18 16:22] vivekcoder007 commented on #32981
@magento add to contributors team

[2021-05-18 16:23] vivekcoder007 commented on #32981
add me i will fix your issue

[2021-05-18 16:24] nizarweb77 commented on #32981
hi sir this is my skype live:.cid.f8a8efe212407e90
 contact me

[2021-05-18 16:35] vivekcoder007 commented on #32981
@magento add to contributors team

[2021-05-18 16:50] m2-assistant[bot] opened #33036 "[Issue] Sql Builder: Correctly handle multiselect value with negative conditions"
This issue is automatically created based on existing pull request: magento/magento2#32124: Sql Builder: Correctly handle multiselect value with negative conditions

---------

### Description (*)

This fixes building SQL for a multiselect attribute with a !() or !{} condition. While () and {} conditions correctly use FIND_IN_SET() (see the code immediately preceding this diff), no code was provid

[2021-05-18 16:55] m2-assistant[bot] opened #33037 "[Issue] Guest order, include customer middle name, prefix and suffix"
This issue is automatically created based on existing pull request: magento/magento2#32096: Guest order, include customer middle name, prefix and suffix

---------
### Description (*)
When a customer places a guest order and the quote has an empty first and last name Magento uses the name of the billing address to populate this quote data. But two years ago a bug was introduced that removed the mi

[2021-05-18 17:09] sdzhepa opened #33038 "test integration issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.
3.
---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation a

[2021-05-18 17:10] magento-engcom-team commented on #33038
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42339` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-18 17:11] #33038 closed, assigned to nobody

[2021-05-18 17:12] magento-engcom-team commented on #33038
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-18 20:11] harrigo commented on #32895
Thanks for taking a look.

Is this auto scroll you are trying as mouse icon normally changes to 2
arrows atleast on windows?

Auto scroll is what I believe it to be called and involves holding down
scroll wheel and dragging mouse in desired scroll direction and not
actually scrolling the scroll wheel.

On Tue, 18 May 2021, 06:31 Manjunath, ***@***.***> wrote:

[2021-05-18 20:26] sdzhepa commented on #23889
Issue was closed due to a mistake.
Reopened

[2021-05-18 21:37] Skullsneeze commented on #32993
After some further debugging it seemed that this was caused by a plugin which was setting the type instance's store filter, causing the product links to be disregarded.

[2021-05-18 21:37] #32993 closed, assigned to engcom-Oscar

[2021-05-19 01:57] #27264 closed, assigned to nobody

[2021-05-19 01:57] #22007 closed, assigned to nobody

[2021-05-19 01:57] #17836 closed, assigned to nobody

[2021-05-19 01:57] #13477 closed, assigned to nobody

[2021-05-19 01:57] #25344 closed, assigned to sudheers-kensium

[2021-05-19 01:57] #24656 closed, assigned to korostii

[2021-05-19 01:57] #21361 closed, assigned to nobody

[2021-05-19 01:58] #20973 closed, assigned to nobody

[2021-05-19 02:00] magento-engcom-team commented on #22007
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-19 02:00] magento-engcom-team commented on #13477
Hi @botwebdev.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24037` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-19 02:00] magento-engcom-team commented on #25344
Hi @sudheers-kensium, @sudheers-kensium.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-25056` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-19 02:00] magento-engcom-team commented on #21361
Hi @zimme.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24341` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-19 02:00] magento-engcom-team commented on #24656
Hi @berbua, @korostii.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24223` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-19 02:00] magento-engcom-team commented on #25344
Hi @sudheers-kensium, @sudheers-kensium.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-22201` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-19 02:57] #32207 closed, assigned to nobody

[2021-05-19 07:58] schmengler commented on #20068
@atrandafir

You already have this problem with all existing implementations that follow best practice and do cache the options. If you explicitly need it uncached, you can always create a new instance of the source model to have an empty `$_options` cache.

[2021-05-19 08:03] Eddcapone commented on #29113
There is an option in Shop -> Configuration -> Customer -> Login as Customer

[2021-05-19 08:10] khrystynastolbova commented on #32864
@magento I am working on this

[2021-05-19 08:11] stephansteiner opened #33040 "Newsletter Subscription does not check for newsletter/general/active (no effective check for disabled newsletter implemented)"
We found on our Magento2 Shops (Version 2.4.0 - 2.4.2) various successful attempts to subscribe to newsletter by posting to /newsletter/subscriber/new/. The newsletter functionality however is disabled, but still accepting new emails and sending confirmation mails out.

### Preconditions (*)
1. Magento installation version 2.4.0 to 2.4.2 is vulnerable

### Steps to reproduce (*)
1. In the admin ba

[2021-05-19 08:12] stephansteiner commented on #33040
@magento give me 2.4-develop instance

[2021-05-19 08:35] stephansteiner commented on #33040
Ok, I was able to recreate the bug on the test instance. To make it easy, I used the newsletter subscription form on the home page of the test instance. But you can inject any html form into the page or modify the search form.

The steps to recreate the bugs are:
1. Open frontend, the newsletter subscription in the page bottom should be visible
2. Open backend, disable the newsletter functionality

[2021-05-19 08:42] ihor-sviziev commented on #32833
@panwarsingh, as I said - it's strongly recommended to run the setup:di:compile and static content deploy on a separate build server (where you won't have any generated folder). From your screenshot, I see that you ran it on the "live" website, where some requests might happen, or some cron job might be running, or a message queue might be running.
All of these things potentially might cause such

[2021-05-19 08:50] DanBeckett commented on #32177
We've written a small plugin to intercept the Order Address Model and check the prefix against  `Magento\Customer\Model\Options::getNamePrefixOptions()` as it's loaded. If the prefix appears as a key in the getNamePrefixOptions array (the case when it's an integer), the prefix in the Model is updated to use the matching value from the options array. [https://github.com/DanBeckett/door4-customer-pr

[2021-05-19 09:15] tuyennn opened #33042 "The requested store cannot be found caused Validate Hash from Store Switcher get false even the hash equal with signature and input hashData"
### Preconditions (*)

1. Magento 2.4.x
2. Create 2 stores view

### Steps to reproduce (*)

1. Try to switch Stores from Frontend or you could call it language switcher user interface not admin side.
2. In specific condition the response time of the site could be more than 5s on load(API on load, or slow connection)

### Expected result (*)

1. Target store could be switched and no error found
2.

[2021-05-19 09:46] Ttzombor commented on #5979
Still facing that issue
https://github.com/magento/magento2/commit/375132a81b95fafa4a03a17b72dbacdc90afa745#diff-56d044692f579051647a8284ff39cc0eR165

[2021-05-19 10:19] Penchal-magento commented on #32761
Hi @pratikvs ,
Cross checked with @paras89  on this , in fact issue is not with magento open source , it is only applicable for EE/Commerce, request to raise a support ticket for this .

Thanks

[2021-05-19 10:34] web5exposure commented on #7589
Also not working for me in magento 2.4.2 with elasticsearch

[2021-05-19 11:48] engcom-Alfa commented on #32618
Hi @terolahtinen
I have tried to export the csv of products with 40k+ records. I could successfully get the file downloaded. Below is the screenshot of it.
<img width="925" alt="ExportWith40kProductsWorking" src="https://user-images.githubusercontent.com/51679138/118807318-be8e5880-b8c5-11eb-9dec-6204a8926e3d.PNG">
Kindly let me know if you are getting the same issue again.
Also please provide me

[2021-05-19 12:35] Timothy-V commented on #31814
Did not use any migration tool, but I found some duplicate email addresses within our newsletters subscribers. It seems the error also shows up when a duplicate email address exists, even though they are splitted by Website. So I deleted every duplicate and the error does not show up anymore!
I wonder what will happen now and how long it takes before another duplicate exists. Otherwise I will try

[2021-05-19 12:51] Mecalux-Developer commented on #32703
We have the same problem, with products from more than 400 children.

[2021-05-19 12:52] Penchal-magento commented on #32150
Hi @f1-outsourcing : It is not an issue , magneto no longer support wget url  and actually its customized logic.

[2021-05-19 13:04] Mathanagopal97 opened #33044 "Downloadable and bundle product custom option value not truncated properly"
### Preconditions
1. Magento 2.4.2
2. PHP 7.4
3. MySQL  Ver 14.14 Distrib 5.7.32

### Steps to reproduce

1. Create a downloadable product with one text field custom option.
2. Add the downloadable product to cart with the value of the custom option with length greater than 55 characters.
3. Checkout using any method and view the order in the admin panel
4. The same goes for a bundle product.

###

[2021-05-19 13:04] Mathanagopal97 commented on #33044
@magento give me 2.4-develop instance

[2021-05-19 13:06] Penchal-magento commented on #32761
Hi @pratikvs , I request you to raise a ticket as a feature.

[2021-05-19 13:06] #32761 closed, assigned to engcom-Alfa

[2021-05-19 13:13] Penchal-magento commented on #28916
Hi @bharaniko:Unfortunately, not able to reproduce  on Magento ver. dev-2.4-develop code. Probably it was already fixed.

[2021-05-19 13:14] arhmart opened #33045 "not display welcome message and customer name on mobile device after advanced js bundling"

[2021-05-19 13:24] magento-engcom-team commented on #33013
@engcom-Golf Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-19 13:24] magento-engcom-team commented on #33013
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-19 13:25] magento-engcom-team commented on #33013
:white_check_mark: Confirmed by @engcom-Golf
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42344` were created

**Issue Available**: @engcom-Golf, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-19 13:25] engcom-Alfa commented on #33045
Hi @arhmart
Kindly provide more details like steps to reproduce and expected/actual behaviour so that we can reproduce it

[2021-05-19 13:26] Mathanagopal97 commented on #33044
Issue is reproducible in the develop instance. Refer the below GIF.

![Screencast from 19-05-21 06_52_53 PM IST](https://user-images.githubusercontent.com/29875835/118820247-b89f7400-b8d3-11eb-98b0-c00b0a712a34.gif)

[2021-05-19 13:33] Swahjak commented on #13477
@magento-engcom-team commit's or it didn't happen https://github.com/magento/magento2/search?q=MC-24037&type=commits

[2021-05-19 13:35] Swahjak commented on #13477
@magento-engcom-team on as side note; Why is stale bot still closing issues when I clearly responded to this not being stale?

[2021-05-19 13:37] Swahjak commented on #27264
@magento-engcom-team Why is stale bot still closing issues when I clearly responded to this not being stale?

[2021-05-19 14:13] drinkingsouls commented on #13466
I also have an issue with Magento Invoice emails not being sent automatically. Manual sends fine. Asynchronous is enabled but stll doesn't send. Other emails send fine.

[2021-05-19 14:36] pmcnamaracpc commented on #33009
The relevant code was changed in https://github.com/magento/magento2/commit/acdefe469fbd242d66063a35f87aca202e884454 in LinksList.php lines 55-60 (changed to lines 65-70). The if ($bundledProductPrice <= 0) including 0 was related to this behavior.

This should only be an issue on 2.4.2 and 2.4.2-p1, and does not effect 2.4-develop

[2021-05-19 14:36] #33009 closed, assigned to krishprakash

[2021-05-19 15:10] huykon commented on #12868
@toledoroy I tried your guide but still show error. Do you have any idea?

[2021-05-19 16:47] gosavesg commented on #33017
@krishprakash Can you please let us know if you were able to reproduce this issue? We are having lot of problem regarding shipment due to this issue and the status is not getting updated in the shipment grid!

[2021-05-19 16:51] gosavesg commented on #33017
@magento I am working on this

[2021-05-19 16:59] arhmart commented on #33045
hi, the versionis magento 2.4.2-p1 luma theme.
All steps are according to the Magento advanced js bundling guide.
No other problems have been found for the time being. But in the account menu of the mobile device, the welcome message are not displayed, and the customer name and the qty number in the wishlist brackets are also not displayed after login.

I have this issue on magento 2.4.1 version,

[2021-05-19 19:13] eperezbanana opened #33046 "Graphql, As a logged-in user setShippingAddressesOnCart mutation returns error on a magento backend with Guest Checkout disabled"
While using the Graphql api, as a logged-in user the setShippingAddressesOnCart mutation returns error on a magento 2.4.2 backend with Guest Checkout disabled

### Preconditions (*)

1. Magento version 2.4.2
2. Set _Allow Guest Checkout_ to **No** on the admin page: **Stores -> Configuration -> Sales -> Checkout -> Checkout options**

### Steps to reproduce (*)

1. Create User
2. Log in
3. Create

[2021-05-19 19:44] marciomaciel opened #33047 "Composer package not updated to v2"
The composer package installed in _vendor/bin/composer_ not up-to-date to V2 and not available to upgrade with composer require` composer/composer ^2 `due to locked versions of semver package not compatible with Composer 2
### Preconditions (*)

1. Magento Open Source/Commerce 2.4.2-p1
2. Vanilla install

### Steps to reproduce (*)

1. Install Magento with `bin/magento setup:install`
2. Run `bin/m

[2021-05-19 19:46] marciomaciel commented on #32988
@magento give me 2.4.2-p1 instance

[2021-05-19 19:55] hostep commented on #33047
I'm pretty sure that this will be introduced in Magento 2.4.3 in August later this year, since it already happened in Magento 2.3.7 that got released last week:

[code]

Notice that the only package that blocks composer v2 in Magento 2.4.2-p1 is `magento/composer` that is [locked to version 1.6.0](https://github.com/magento/magento2/blob/2.4.2-p1/composer.json#L69).
In Magento 2.3.7, they allow [b

[2021-05-19 20:03] hostep commented on #33005
@Calvin495: my first guess would be that you also need to update `magento/data-migration-tool` to version 2.4.2 (or remove that module if you no longer need it)

[2021-05-19 20:39] ihor-sviziev commented on #33045
@arhmart i would recommend you to try https://github.com/magesuite/magepackfor advanced bundling

[2021-05-19 22:49] aligent-lturner commented on #31643
@magento give me 2.4-develop instance

[2021-05-20 00:44] arhmart commented on #33045
@ihor-sviziev i'll try it, thanks

[2021-05-20 04:28] magento-engcom-team commented on #33044
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42361` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-20 04:32] magento-engcom-team commented on #33035
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42362` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-20 04:35] krishprakash commented on #33034
This issue is already created #32983 so closing this as duplicate

[2021-05-20 04:35] #33034 closed, assigned to krishprakash, Rakhi161

[2021-05-20 04:43] krishprakash commented on #33023
@magento give me 2.4-develop instance

[2021-05-20 05:09] wandyyd commented on #32901
Hi @Nazar65 - thanks for confirming! 😄

I just tried to apply that changes manually (copy-paste the code/file & image), it kinda success, I can see images are registered on **Media Gallery** at **Magento Admin** view, but it seems has a another issues / errors(?) on other part, along with its stack of warnings.

Here's the warning messages
![image](https://user-images.githubusercontent.com/3072247

[2021-05-20 05:40] TheRealHunzik commented on #32988
@magento give me 2.4.2-p1 instance

[2021-05-20 05:46] engcom-Alfa commented on #32746
Hello @mikamarkus

Thank you for contribution and collaboration!

The issue should be moved into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed

[2021-05-20 06:44] krishprakash commented on #33023
Hi @ia-gaurav. This is already correct behavior as all simple child product are out of stock then there should be no product price appear for that configure product and this same in detail page, search result page
And magento shows price as per its child product

[2021-05-20 06:57] engcom-Alfa commented on #32150
Hi @f1-outsourcing
The suggested logic is customizable and Magento cron job doesn't support the wget-url. Hence it is not treated as issue.

[2021-05-20 06:59] engcom-Alfa commented on #32761
Hi @pratikvs
In fact issue is not with magento open source , it is only applicable for EE/Commerce, Therefore , I request you to raise a ticket as a feature.
.
Thanks

[2021-05-20 07:04] engcom-Alfa commented on #28916
Hi @bharaniko
Unfortunately, The issue is not reproducible in Magento ver. dev-2.4-develop code.
Kindly upgrade to the latest version, and process with it. Still if you find in the latest version you can report the new bug on the same.

[2021-05-20 07:04] #28916 closed, assigned to engcom-Alfa

[2021-05-20 07:12] magento-engcom-team commented on #32905
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42364` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-20 07:18] ia-gaurav commented on #33023
@krishprakash - i have not seen any ecommerce site where price does not show for out of stock products

[2021-05-20 07:25] magento-engcom-team commented on #33017
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42365` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-20 07:42] ia-gaurav commented on #33022
@magento give me 2.4.1-develop instance

[2021-05-20 08:45] engcom-Alfa commented on #32665
Hi @Giacomo420
I have rested the issue in the Magento 2.4-develop version and there is no issue noticed as such. Below is the screen shot on the same.
![image](https://user-images.githubusercontent.com/51679138/118948155-a544e500-b975-11eb-9e83-f3206501127c.png)

Kindly upgrade to latest version and give a try on the same. If you find the issue again, you may please report a new bug on this.

[2021-05-20 08:45] #32665 closed, assigned to engcom-Alfa

[2021-05-20 08:53] krishprakash commented on #32652
Hi @adhuerta. Feel free to reopen the ticket once you update all the details as per issue reporting guidelines
Thanks

[2021-05-20 08:53] #32652 closed, assigned to nobody

[2021-05-20 09:00] jurvi commented on #6126
Yea, I just bumped into this exact issue as well within pagebuilder. It's particularly nasty there because I can't modify/delete the broken content...

![image](https://user-images.githubusercontent.com/12542277/118950507-ec75aa80-b962-11eb-936a-8e003547e8a9.png)

[2021-05-20 09:23] kunzi commented on #7387
We have this issue in Magento 2.3.6. I guess core fix is the way then.

[2021-05-20 10:18] neddy236 commented on #32925
Please close this. We investigated a little bit more and we found out that the **"optimizer_search_depth"** on our mariaDB config was the issue here. After changing it to the value of 4 it got down to 27 seconds more or less.

[2021-05-20 10:18] #32925 closed, assigned to nobody

[2021-05-20 10:33] mateusz-is opened #33049 "Magento2: Import product not working. Stuck on Please Wait notice"
### Preconditions (*)

1. Magento 2.4.0

### Steps to reproduce (*)

1. When i try import csv file, importing stuck on "Please wait" and nothing more.
I choose Entity Type = Product
![image](https://user-images.githubusercontent.com/72963245/118963510-cb16bd80-b966-11eb-8028-d69b414771f1.png)

### Expected result (*)

1. I found error in exception.log but i have the same error in my staging versio

[2021-05-20 10:52] neddy236 commented on #31083
@hostep After trying the patch (https://github.com/magento/magento2/search?q=MC-39481&type=commits) to 2 magento instances. One 2.4.2 and one 2.3.5-p2 it creates a different problem.

The problem that @lano-vargas said was fixed but a new issue arised.

Let's say you have 1 website and 2 store views again.

You create a product via API and then you try to update the product via API -> PUT @ domain

[2021-05-20 11:14] vitmarks commented on #30194
same here

[2021-05-20 13:05] krishprakash commented on #32900
Hi @Wiesjames, Feel free to reopen the issue once you provide additional details to reproduces this issue
Thanks

[2021-05-20 13:05] #32900 closed, assigned to nobody

[2021-05-20 13:10] eBusinessAtlantique commented on #30094
I can repoduce this exact same issue on my site M2.4.2 if I set Display ull tax summary to YES.
Set to NO, there is no error.

Here is the error on the source page

                            <tr id="rate-Error: Call to a member function getId() on array in /home/m2/public_html/vendor/magento/module-sales/view/adminhtml/templates/order/totals/tax.phtml:62
Stack trace:
#0 /home/m2/public_html/vend

[2021-05-20 13:22] koenner01 opened #33050 "Submitting empty billing address form will skip validation when displaying on page (instead of methods)"
When displaying the billing address on page and submitting an empty billing address form in the checkout it will do an actual submit of the form and thus also triggering the controller action. This will result in an error message """%fieldName"" is required. Enter and try again." being returned where the fieldName is "address" which is an untranslatable string.

### Preconditions (*)
1. Magento 2.

[2021-05-20 13:24] marvincaspar opened #33051 "Captcha not working with remote storage"
I have setup remote storage for a magento shop and this works fine for nearly all media files excepts for the captcha images. They are generated and stored on the local filesystem and are not synced to the s3 bucket.

https://github.com/magento/magento2/blob/212d69a21e42581ed77ecde6de8200f2be89c6f0/app/code/Magento/Captcha/Helper/Data.php#L154)

Nginx than tries to find the image in the s3 bucket

[2021-05-20 13:28] engcom-Golf commented on #33040
@stephansteiner Thanks for reporting the Bug. We are working on it.

[2021-05-20 13:29] engcom-Oscar commented on #32397
@webgility-amazonapi   Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) if you are still facing this issue on the latest `2.4-develop` branch.
Thank you for collaboration.

[2021-05-20 13:29] #32397 closed, assigned to engcom-Oscar

[2021-05-20 13:30] magento-engcom-team commented on #33040
@engcom-Golf Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-20 13:30] magento-engcom-team commented on #33040
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-20 13:31] koenner01 commented on #33050
The issue is also present when you enter values in the form but still have invalid fields left.
The form is still being submitted and a request is done with an empty "address" parameter sent.

When omitting the weird displayBillingOnPaymentMethod check

[code]

Everything seems to work correctly.
But I have no idea why this functionality exists or what the reasoning behind it is

[2021-05-20 15:00] hostep commented on #31083
@neddy236: that sounds pretty bad.

Could you please open a new issue for this case? It will get picked up much faster that way.

[2021-05-20 15:37] neddy236 opened #33052 "[API] Product Repository Problem in upcoming 2.4.3 release -> MC-39481"
### Description

Original issue -> https://github.com/magento/magento2/issues/31083 (MAGENTO 2.3.5 /V1/products overwrite default values on multi-store site even when only one field is sent to update)

Related commit that will be released in 2.4.3 -> https://github.com/magento/magento2/commit/6a27b0ce155a418e05bf6a7753af5a947af5668e

Original problem is fixed but another one was created. Now the o

[2021-05-20 15:40] neddy236 commented on #31083
@hostep done. https://github.com/magento/magento2/issues/33052

Imagine updating 20k products in one day in spanish store view for example. Then the next day change a boolean attribute on this products.

You just lost all your spanish product names :)

[2021-05-20 16:21] gabrieldagama commented on #32980
Hi @robbamber, the configurable product has the price at first instance because that is required when the product is being created, but once you re-save it the price is not relevant anymore and the children's prices are the main ones.

As it looks now the behavior seems correct, can you provide more details if this has any functional impact? Like frontend prices being displayed incorrectly?

[2021-05-20 16:36] zahidintelligent commented on #2816
I have the same problem with sample data I tried all possible solutions mentioned here but did not work, and finally I replaced the media URL path in the backend and it is working fine for me.

I just replaced
<link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}styles.css" />
with
<link rel="stylesheet" type="text/css" media="all" href="http://mysite.com/pub/media/styles.css" />

[2021-05-20 17:30] braders commented on #28161
I'm also seeing this issue, and am amazed that it seems to be default behaviour in a platform like Magento - it's really not good.

I think I'm going to try disabling the mixin, which I assume will just mean that shopping cart rules cannot be set per payment method. Are there any other side-effects others on this thread have faced which we should be aware of? Thanks.

[2021-05-20 17:39] ia-gaurav commented on #31633
can it be pulled via some patch

[2021-05-20 18:47] SilinMykola commented on #33040
@magento I am working on this

[2021-05-20 19:21] josephrisner commented on #28153
This issue is affecting our store greatly.  We are unable to sort product attributes and those attribute options because of this.

[2021-05-20 20:48] #30085 closed, assigned to BrentRobert

[2021-05-20 20:48] #16419 closed, assigned to nobody

[2021-05-20 20:48] #32213 closed, assigned to nobody

[2021-05-20 20:48] #32214 closed, assigned to nobody

[2021-05-20 20:48] #32211 closed, assigned to nobody

[2021-05-20 20:50] dverkade commented on #22627
Open issues should not be closed automatically.

[2021-05-20 20:52] kassner commented on #31278
up

[2021-05-20 20:55] dverkade commented on #22627
Open issues should not be closed automatically.

[2021-05-20 20:56] dverkade commented on #32387
Issues waiting for confirmation should not be closed automatically.

[2021-05-20 21:23] neddy236 commented on #33052
@magento give me 2.4-develop instance

[2021-05-20 22:01] hostep commented on #32339
Not stale, somebody on Slack complained about this issue one day ago.
There's even a PR open for this: https://github.com/magento/magento2/pull/32366

@sidolov, @Den4ik, @gabrieldagama: can we have somebody verify this please? So that this stalebot monstrosity stops complaining.

[2021-05-20 22:09] neddy236 commented on #33052
Cannot Reproduce

Issue is fixed by this commit -> https://github.com/magento/magento2/commit/306f515d7a6b66d0dbfd0240d39f2d8e416b09ad

The commit I mentioned did not have this part of code.

[2021-05-20 22:09] #33052 closed, assigned to nobody

[2021-05-20 22:57] hussainbaig34 commented on #30577
Hi,

I just finished implementing Magento 2.4.2 on my website and I have migrated my website. During staging everything was great but in production things are not looking very good after cutover. In the last 2 days I have 71 orders declined do to this issue. For our website  which is located in Canada, this drop down issue is intermittent. I have been on a call with a customer trying to checkout a

[2021-05-20 23:22] olegosh opened #33053 "Uncaught TypeError: Argument 1 passed to Magento\\InventoryConfiguration\\Model\\IsSourceItemManagementAllowedForProductType\\Interceptor::execute() must be of the type string, null given"
### Preconditions (*)

When we try to delete a product by its sku, in version of magento 2.3.6 an error occurs.

It seems that problem might be in DB table with sku with values equal to null, the solution might be like this:

UPDATE catalog_product_entity SET sku='' WHERE sku IS NULL;

But I don't have a catalog_product_entity table and these products are generated and deleted on the fly by tests

[2021-05-21 04:07] #20689 closed, assigned to denchev

[2021-05-21 04:08] magento-engcom-team commented on #20689
Hi @arijit-codilar, @denchev.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24438` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-21 04:12] jpillai88 opened #33054 "Cart page show error after update magento 2.3.2 to 2.4.2"
After update magento  2.3.2 to 2.4.2  check out page show this error.

Error: Call to a member function isClearShoppingCartEnabled() on null in /home/magento/magento2_staging/vendor/magento/module-checkout/view/frontend/templates/cart/form.phtml:59 Stack trace: #0 /home/magento/magento2_staging/vendor/magento/framework/View/TemplateEngine/Php.php(71): include() #1 /home/magento/magento2_staging/ve

[2021-05-21 05:23] MTheProgrammer opened #33055 "Missing backend validation for attribute types"
### Preconditions (*)

1. Magento 2.4.2 Cloud
2. I guess it affects all version

### Steps to reproduce (*)

1. Create a text attribute (Catalog Input Type for Store Owner === Text Field)
2. Remove disabled="disabled" HTML attribute from Storefront Properties -> Use in Layered Navigation. (Should be able to disable using Chrome Inspector)
3. Set Use in Layered Navigation to Filterable and Save.
4.

[2021-05-21 05:24] MTheProgrammer commented on #33055
@magento give me 2.4-develop instance

[2021-05-21 06:33] jpillai88 commented on #33054
I cannot understand the previous comment

[2021-05-21 06:40] hostep commented on #33054
This is most likely an issue that appeared after https://github.com/magento/magento2/pull/28594/files#diff-fb9bd589d1af97eaeb16fb56abf8969ea6e49950c5fdcef5e8354d7dc09476ac got merged.

Can you try to search your custom theme for xml files where the template file `Magento_Checkout::cart/form.phtml` is being used and see if that `<block>` has the following argument?

[code]

If it doesn't have this

[2021-05-21 06:41] kamorana commented on #31758
Is there any progress on this issue? We are facing the same problem on 2.4.1-p1.

[2021-05-21 07:53] serzhik commented on #26501
Same issue with upgrade from 2.3.2 ee to 2.4.2-p1 ee

[2021-05-21 08:11] engcom-Alfa commented on #33055
HI @MTheProgrammer

I have tried to reproduce the issue and seems to reproducible steps are incorrect. can you please take a look and re update.
Because, as per the step 1: I created a new attribute with **Type == Text field**. If we choose text field type, then we can not enable the **Use in Layered Navigation** drop down at all. It is an expected behavior. Here is the video on the same.

https:/

[2021-05-21 08:19] MTheProgrammer commented on #33055
Hi, I meant to remove disabled validation in HTML with browser tools, e.g. Google Chrom Inspector.
Please remove this element circled in red
![edit_html](https://user-images.githubusercontent.com/6697660/119105847-5324c200-ba50-11eb-881b-ea5dc9dbdc83.png)

[2021-05-21 08:55] jpillai88 commented on #33054
This is block is present.
This is not theme related because ,in magento luma theme also show this error.

[2021-05-21 09:38] hostep commented on #33054
Hmm, and is some custom module adding this block through php code maybe?

You'll need to debug a bit, it sounds like the [`$block->getViewModel()` call](https://github.com/magento/magento2/blob/2.4.2-p1/app/code/Magento/Checkout/view/frontend/templates/cart/form.phtml#L59) returns `null` in your specific case, why that happens is up to you to figure out.

Pretty sure this works fine in a vanilla M

[2021-05-21 10:52] davidduong90 commented on #19710
Hello @johnny-longneck , Please update configure to:
Admin panel > Stores > Settings > Configuration > GENERAL > Web > Url Options > Catalog media URL format

[2021-05-21 10:54] Calvin495 commented on #23411
We are getting "No such entity with quote_id" when we are trying to place an order and not able to place the order at all. Magento version is 2.3.5-p1. I have checked "vendor/magento/module-checkout/Model/Session.php" and looks like the patch is already implemented in that file but still we are getting error.

[2021-05-21 10:57] johnny-longneck commented on #19710
Hello, In my answer, I said this was already my workaround.
Fact is, Catalog media url format with hash mechanism is not working, since it gives wrong hash path and
Catalog media url format with parameters is not optimal since you need a resize mechanism via CDN or webserver.

[2021-05-21 11:00] ronakchauhan opened #33056 "Magento 2.4.2 Wrong store in UpdateItemQty Controller"
### Preconditions (*)
1. Magento 2.4.2
2. PHP 7.3.24
3. SQL: mariadb:10.4
4. Nginx: 1.16

### Steps to reproduce (*)

1. Add items to cart
2. Update Item quantity
3. Press update quantity button
4. Ajax controller will be called (vendor/magento/module-checkout/Controller/Cart/UpdateItemQty.php)
5. Inject StoreManagerInterface to get current store value
6. Print current store using `echo $this->sto

[2021-05-21 11:12] stjohnkrog11 opened #33057 "Mailchimp module not working with Magento 2.4"
### Preconditions (*)

1. Magento 2.4
2. php 7.4

### Steps to reproduce (*)

1) I have downloaded Mailchimp for Magento 2.4 and manually installed it. I then run the command php bin/magento setup:upgrade and i am getting the following error in console(Shown below). I have removed it and it works fine.

I am new to this so if any more information is needed please let me know.

### Expected result

[2021-05-21 11:32] engcom-Alfa commented on #32895
Hi @harrigo,

As per my above commented attached screen record, Just expanded the visual swatch from the navigation and the screen auto-scrolled.
Well I have an other way attached here below.

https://user-images.githubusercontent.com/51679138/119130741-368b8880-ba56-11eb-8e40-54f15d111ef9.mp4

As per this screen record, I am just clicking on the scroller down arrow and the page is getting auto-sc

[2021-05-21 12:10] arhmart commented on #33045
### Summary of the issue
After advanced js bundling, the welcome message (customer name after login), and the item qty of wishlist on the menu not display on mobile device. But they work fine on PC and also work fine without advanced js bundling. The picture below shows the display of the mobile device, there are no welcome message before login, and the customer name and wishlist quantity is not d

[2021-05-21 12:47] zakdma commented on #21832
@magento i am working on it

[2021-05-21 12:59] m2-assistant[bot] opened #33059 "[Issue] ESI blocks should be internal links"
This issue is automatically created based on existing pull request: magento/magento2#33048: ESI blocks should be internal links

---------
Use the Base URL instead of the Base link URL when creating ESI links. Should be an internal reference.

### Description (*)
Magento default uses the `link` type which resolves the `base_link_url` which works when public facing urls, but not for internal refere

[2021-05-21 13:06] engcom-Alfa commented on #33054
Hi @jpillai88

I tried below documents to upgrade the magento 2.3.x to magento 2.4.2.
https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html

I can’t reproduce the issue.

[2021-05-21 13:12] engcom-Alfa commented on #32943
Hi @CelinaNguyen114

We followed the steps provided to reproduce the issue unfortunately we did not get any option to select payment method in admin while placing the order.

So, Can you please provide us more details regarding the payment method.

[2021-05-21 13:17] davidduong90 commented on #19710
Did you find any other solution?

[2021-05-21 13:23] jpillai88 commented on #33054
I updated the magento successfully,pages are loaded correctly.
I have issue with checkout page.

[2021-05-21 17:24] robbamber commented on #32980
Hi Gabriel,

Many thanks for looking at this. We have some custom functionality which allows customers to sort the product collection on category pages by biggest discount. This uses the price column to calculate the saving used in the sort. If prices are zero for configurable products, this functionality stops working.

[2021-05-21 18:20] harrigo commented on #32895
Ah no I don't mean that, it's nothing to do with clicking Swatches etc auto
scroll is a general method of scrolling on applications etc. Users can
click (and hold) middle scroll and drag mouse to scroll kinda like panning
pages with mouse.

https://superuser.com/questions/477168/is-there-a-name-for-scrolling-by-middle-click-rather-than-spinning-the-wheel#:~:text=%22auto%2Dscroll%22%2C,in%20most%20

[2021-05-21 19:53] f1-outsourcing commented on #32150
@engcom-Alfa

I do not get what you mean by this.

Magento 1.9 supported scheduled tasks to be ran via a wget request. Your developers threw that away for all the incorrect arguments, they created something that is less safe.

[2021-05-22 01:36] arhmart commented on #33045
@magento I am working on this

[2021-05-22 10:00] ihor-sviziev commented on #33026
@ia-gaurav, I think that too small amount of people might be affected by this issue so that the priority will be not so high and it's not worth fixing.

[2021-05-22 17:20] ia-gaurav commented on #33026
@ihor-sviziev -  priority can be low , but still we should try to get the same fixed

[2021-05-22 18:24] srsathish92 commented on #33044
@magento give me 2.4-develop instance

[2021-05-22 22:39] panoramik707 commented on #32663
ok- thanks- the issue is fixed as the tax rules was not being applied properly.

[2021-05-22 22:39] #32663 closed, assigned to engcom-Alfa

[2021-05-23 05:43] srsathish92 commented on #33044
@magento give me 2.4-develop instance

[2021-05-23 08:41] ajithkumar-maragathavel commented on #33017
@magento I am working on this

[2021-05-23 09:37] vshcheglov commented on #10978
Hi community.
I faced this issue too and created a temporary patch which divides magento eav cache per website.
[code]

[2021-05-23 10:01] vshcheglov commented on #10978
Hi community!
I faced this problem too and created a patch to divide eav cache per website.
[code]

[2021-05-23 13:08] bhupendravgroup commented on #26815
This is due to the permssion issue while connecting with rabbitmq
1) create a user in rabbitmq using below command
rabbitmqctl add_user username password
2) set this user as admin
rabbitmqctl set_user_tags username administrator
3) you will see that this user does not have any permission
rabbitmqctl list_user_permissions username
4) Assign this user all permssions
rabbitmqctl set_permissions -p /

[2021-05-23 13:18] bhupendra-mehra commented on #26815
This is due to the permssion issue while connecting with rabbitmq

create a user in rabbitmq using below command
rabbitmqctl add_user username password
set this user as admin
rabbitmqctl set_user_tags username administrator
you will see that this user does not have any permission
rabbitmqctl list_user_permissions username
Assign this user all permssions
rabbitmqctl set_permissions -p / username "^

[2021-05-23 16:44] #32238 closed, assigned to nobody

[2021-05-23 16:44] #32227 closed, assigned to krishprakash

[2021-05-23 16:44] #22053 closed, assigned to nobody

[2021-05-23 16:46] magento-engcom-team commented on #22053
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-23 20:22] yoritomoto commented on #26925
I am having this issue on 2.3.5, can anyone translate the following into simple terms?

from @maniramav : _The issue have been fixed. The issue cased be attributed created during magento update. The particular attribute was created using SQL. That was causing the issue. Once I deleted those attribute and recreated in magento admin page fixed the issue._

[2021-05-23 20:51] yoritomoto opened #33062 "Magento 2.3.5 Product Export Error | Missing Entity Attributes"
### Summary (*)

Issue: Entity attributes are not showing up for CSV product export.

General Information:
Currently going to System -> Data Transfer -> Export | Entity Type: Products, Export File Format: CSV.
I tried the Improved Export but ran into a different error: A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try agai

[2021-05-24 00:17] xt3r4m commented on #26815
Magento 2.4.0 Same issue , any workaround/solution to resolve this issue.

[2021-05-24 04:07] engcom-Alfa commented on #32907
Hi @lagunacellar
Need more information because we tried on Magento ver. dev-2.4-develop, we are able to place an order

[2021-05-24 04:08] engcom-Alfa commented on #30720
Hi @qsolutions-pl
Need more info , in fact Tried to reproduce it on Magento ver. dev-2.4-develop but i could not get the error provided for EU. Hence request to provide more test data used for this scenario like Zip code, Country and TAX VAT Number.

[2021-05-24 04:53] shikhamis11 commented on #33046
@magento give me 2.4-develop instance

[2021-05-24 05:06] webtekindo commented on #32836
Our hosting cloud provider is using the default varnish VCL of Magento and they don't want to make adjustments to the VCL unless this is adjusted by Magento.

So it will be nice if this fix is implement.

Thank you.

[2021-05-24 05:18] shikhamis11 commented on #33046
@magento give me 2.4.2 instance

[2021-05-24 06:09] shikhamis11 commented on #33046
Hi @eperezbanana
Thank you for reporting this issue.
I am able to reproduce this issue on 2.4.2 but not in the 2.4-develop instance. so it seems the issue is fixed in the 2.4-develop latest branch.
Can you also test on the 2.4-develop instance?
also I tried to find the patch for the fix. I am not sure but you can check commit [this](https://github.com/magento/magento2/commit/c26432f7582ad61542ba8d

[2021-05-24 06:54] Nuranto commented on #31795
(Note : Bug still there on 2.4.2)

[2021-05-24 07:09] martasiewierska opened #33063 ""Loading" attribute is not allowed on img tag in blocks Wysiwig editor"
### Preconditions (*)

1. Magento 2.4.2
2.

### Steps to reproduce (*)

1. Create a block and insert image in Wysiwyg editor.
2. Add manually loading="lazy"

### Expected result (*)

1. Block is saved without a warning as loading is a valid attribute on img HTML element. (https://developer.mozilla.org/en-US/docs/Web/Performance/Lazy_loading , https://html.spec.whatwg.org/multipage/urls-and-fetchin

[2021-05-24 07:24] engcom-Alfa commented on #32895
Thanks for the reply @harrigo
Updated the description and confirming the issue.

[2021-05-24 07:25] magento-engcom-team commented on #32895
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-24 07:25] magento-engcom-team commented on #32895
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-24 07:25] magento-engcom-team commented on #32895
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-24 07:26] magento-engcom-team commented on #32895
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-24 07:33] magento-engcom-team commented on #32895
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-24 07:33] magento-engcom-team commented on #32895
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-24 07:35] magento-engcom-team commented on #32895
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-24 07:35] magento-engcom-team commented on #32895
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-24 07:35] magento-engcom-team commented on #32895
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-24 07:36] magento-engcom-team commented on #32895
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42400` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-24 07:38] CelinaNguyen114 commented on #32943
*Hi Manjunath, Thanks for your feedback,We are using payflow from PayPal
for our website. Please let me know if you need  further
information,Best,Celina*

On Fri, May 21, 2021 at 8:12 PM Manjunath ***@***.***> wrote:

[2021-05-24 07:47] khrystynastolbova commented on #32460
@magento I am working on this

[2021-05-24 08:39] ihor-sviziev commented on #33007
@sivaschenko @sidolov @gabrieldagama, please add porting of https://github.com/magento/magento2/commit/c4ca054a7dbf1454a32bb256314958bac1ebd952 to the 2.3 release line.

[2021-05-24 09:04] netjordan commented on #32542
Hello,

I am facing the same issue as the original person described, and confirmed that their temporary fix does solve the issue. This is on the 2.4.2 release version.

Happy to provide further info etc if it helps with re-production?

Thanks,
Jordan

[2021-05-24 09:14] AGranitsas opened #33064 "Magento Persistent Cart Issue"
### Summary (*)

I am facing an issue while trying to make our Persistent Cart work.

### Examples (*)
 I specifically need the Cart Cookie to work on our e commerce platform and disable the Session cookie. I only see five options on the persistent cart to customize it, but I think they are not appropriate.
They are the following:
1. Persistence Lifetime (seconds)
2. Enable "Remember Me"
3. "Remem

[2021-05-24 10:20] Den4ik commented on #32456
Sorry, closed by mistake

[2021-05-24 10:20] magento-engcom-team commented on #32456
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42404` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-24 10:21] magento-engcom-team commented on #32456
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41301` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-24 10:22] magento-engcom-team commented on #32456
Hi @Zwernemann, @engcom-Foxtrot.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-42404` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-24 10:23] magento-engcom-team commented on #32456
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42404` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-24 10:24] magento-engcom-team commented on #32456
Hi @Zwernemann, @engcom-Foxtrot.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-42404` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-24 10:24] magento-engcom-team commented on #32456
Hi @Zwernemann, @engcom-Foxtrot.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41301` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-24 10:25] magento-engcom-team commented on #32456
@Den4ik Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-24 10:26] magento-engcom-team commented on #32456
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42404` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-24 10:52] magento-engcom-team commented on #33055
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42406` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-24 12:07] engcom-Alfa commented on #33057
HI @stjohnkrog11
Kindly specify what version of the Mailchimp extension are you trying

[2021-05-24 12:26] MeeGz opened #33065 "`categoryList` GraphQL query is not returning same categories backend order"
### Preconditions (*)

1. Magento Version 2.4.2 or Magento 2.4-develop without sample data
2. Create 2 categories (cat 1, cat 2) under default category
3. Create 1 category (cat child) under cat 2
<img width="231" alt="Screen Shot 2021-05-24 at 2 19 39 PM" src="https://user-images.githubusercontent.com/15185278/119347082-4ea01980-bc9b-11eb-82e8-e483f1a1cc98.png">

### Steps to reproduce (*)

1. ru

[2021-05-24 12:27] MeeGz commented on #33065
@magento give me 2.4-develop instance

[2021-05-24 12:34] stjohnkrog11 commented on #33057
it was

[2021-05-24 12:34] #33057 closed, assigned to engcom-Echo

[2021-05-24 12:54] MeeGz commented on #33065
It is working on develop instance.

But I have tried to install v2.4.2-p1 with no sample data and the issue reproduced locally again.

[2021-05-24 12:54] MeeGz commented on #33065
@magento give me 2.4.x

[2021-05-24 12:54] MeeGz commented on #33065
@magento give me 2.4.x instance

[2021-05-24 13:10] magento-engcom-team commented on #32934
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42407` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-24 13:14] engcom-Alfa commented on #33005
Hi @Calvin495
I checked and followed the provided steps, and it is working for me.
Can you please make sure your composer is pointing to correct PHP version 7.3?

As you mentioned you are upgrading Magento v2.3.3 to Magento v2.4.2 and Magento v2.4.2 is support composer v2.x.

Check all the Requirements for Magento v2.4.2 and if still you will get any issue then provide the reproducible steps on th

[2021-05-24 13:16] Den4ik commented on #33059
https://github.com/magento/magento2/pull/33048

[2021-05-24 13:22] magento-engcom-team commented on #33059
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42409` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-24 15:32] cpartica commented on #29775
in 2.4.1 we actually don't cache anything that has Authorization Bearer in the headers. so this issue is a problem prior to 2.4.1
We will have to cache customer queries in the future and take into account Authorization Bearer. but for now this issue is not a problem in the current version at the time of me writing this comment meaning 2.4.2

[2021-05-24 16:02] LucasCalazans commented on #33065
@magento give me 2.4-develop instance

[2021-05-24 17:00] Grumag commented on #15504
Yes, the issue is still relevant.  Switching tabs stops the admin page loading. This cannot be by design. This is not browser related.

[2021-05-24 19:36] paras89 commented on #32996
I am having trouble reproducing this issue on Magento 2.3.7, with the JP language pack installed.

Seeing the regions appear in checkout in the same order as they are in the database - sorted by ids.

I am seeing regions in ascending order from id 702 to 748
<img width="1056" alt="Screenshot 2021-05-24 at 20 31 26" src="https://user-images.githubusercontent.com/5895210/119398478-8628b900-bccf-11eb

[2021-05-25 00:10] JR2Media opened #33066 "Call to a member function getOptionsData() on null"
I'm attempting to extend `Magento\Catalog\view\frontend\templates\product\list.phtml` in my custom module.

I created a module, and copied the code from `Magento\Catalog\view\frontend\templates\product\list.phtml` to `app\code\company\module\Magento_Catalogue\templates\product\list.phtml`. I also have the following file: `catalog_category_view.xml`:

[code]

After adding the module I get the error

[2021-05-25 00:10] JR2Media commented on #33066
@magento give me 2.4-develop instance

[2021-05-25 00:22] JR2Media commented on #33066
@magento give me 2.4-develop instance with JR2Media/possible-magento2-bug

[2021-05-25 00:36] JR2Media commented on #33066
Can't reproduce.

[2021-05-25 00:36] #33066 closed, assigned to nobody

[2021-05-25 01:46] #28033 closed, assigned to nobody

[2021-05-25 02:45] mrtuvn commented on #33063
message throw from this one class
Magento\Framework\Validator\HTML\ConfigurableWYSIWYGValidator

I'm not sure why code base duplicated  twice declare `DefaultWYSIWYGValidator` in di.xml

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Cms/etc/di.xml#L261
https://github.com/magento/magento2/blob/2.4-develop/app/etc/di.xml#L1852

[2021-05-25 05:09] Calvin495 commented on #33005
I was able to solve this issue by changing the version of some of the plugins and the version of the migration tool in the composer.json file. I have successfully upgraded to 2.4.2

[2021-05-25 05:11] #23254 closed, assigned to engcom-Kilo

[2021-05-25 05:31] arhmart opened #33068 "Not show customer name, welcome message after enable advanced js bundling"
### Summary of the issue
After advanced js bundling, the **welcome message** (**customer name** after login), and the **item qty** of wishlist on the menu **not display on mobile device**. But they work fine on PC and also work fine without advanced js bundling. The picture below shows the display of the mobile device, there are no welcome message before login, and the customer name and wishlist q

[2021-05-25 05:59] #29263 closed, assigned to edenduong

[2021-05-25 06:00] mateusz-is commented on #33049
Hello, Guys do you have any ideas?

[2021-05-25 06:02] krishprakash commented on #33050
@magento give me 2.4-develop instance

[2021-05-25 06:14] ihor-sviziev commented on #32373
hey, we have an open PR for this issue. Let's keep it open!

[2021-05-25 07:07] vitalii0o commented on #32745
Hey @andrewb49.

This commit helped me to fix the same problem:
https://github.com/magento/magento2/commit/61cb299119dacdb5f5553cb1b46f038ca32a39fa

[2021-05-25 07:52] bikalbasnet opened #33069 "Return Type of guest cart's `getQuoteId` should be `int` instead of `string`"
### Preconditions (*)

1. Magento CE 2.x without sample data is installed.

### Steps to reproduce (*)

1. Call ` POST V1/guest-carts` API
2. Call `GET /rest/default/V1/guest-carts/{cartId}/totals` with the above cart Id

### Expected result (*)

1. Return type of `$quoteIdMask->getQuoteId()` should be `int` in [GuestCartTotalRepository.php](https://github.com/magento/magento2/blob/2.4-develop/app

[2021-05-25 07:56] magento-engcom-team commented on #32913
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42419` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-25 08:46] vrielsa commented on #16779
Still an issue 2.4.1

[2021-05-25 08:57] jpillai88 commented on #33054
Hi ran the setup:upgrade command
It show this message
Running data recurring...Reading /home/magento/magento2_staging/composer.json
Loading config file /home/magento/magento2_staging/var/composer_home/config.json
Loading config file /home/magento/magento2_staging/var/composer_home/auth.json
Loading config file /home/magento/magento2_staging/composer.json
Loading config file /home/magento/magento2_

[2021-05-25 09:52] vaso123 opened #33070 "getItemsByColumnValue wrong type declaration"
### Preconditions (*)

Magento 2.4.2

### Steps to reproduce (*)
Call `getItemsByColumnValue([string], [array])` on any collection.

### Expected result (*)
Get the collection

### Actual result (*)
Get `null`.

Component: magento-framework
File: vendor/magento/framework/Data/Collection.php

### Description

The problem is that the input parameter `$value` has defined as an `array` in the annotati

[2021-05-25 10:05] datacubed opened #33071 "Struggling to understand the magento api oauth process"
Im not sure where to post this, as I couldnt find a general support section. No email address or "contact us" anywhere inside the Magento admin section.

We've build a bunch of different oauth2 based API integrations into things like Google Adwords, Facebook, Doubleclick etc...

But we're struggling to understand what exact Magento wants/needs from us.

We have a client who's given us Admin access

[2021-05-25 10:23] datacubed commented on #33071
Im sorry I dont know what this means:
_Please make sure that the issue is reproducible on the vanilla Magento instance following Steps to reproduce. To deploy vanilla Magento instance on our environment, please, add a comment to the issue:_

[2021-05-25 10:57] CelinaNguyen114 commented on #32943
*Hi Manjunath, I just wanted to update some information. The public hash
happens when we create an order for customers who used to save the credit
card at least once on the front end.  After debugging the issue, at the
time we choose a payment method, we see,  it will have a public hash
key.  However, when I choose the shipping method for the order,  the public
hash key will disappear.Then, when

[2021-05-25 11:21] iphigenie commented on #32339
I've had confirmed issues closed on me so not sure it'd help

[2021-05-25 11:34] iphigenie commented on #33054
Hi @jpillai88 what you posted above looks normal

Do you have any extensions/modules involved in cart, minicart or checkout? especially one that is perhaps older?

[2021-05-25 11:37] shibinvr3 commented on #13952
Issue still exists with a free payment method in Magento 2.4.2. Any patch is available for this version?

[2021-05-25 11:38] jpillai88 commented on #33054
Now we fixed above error now show another error.

Error: Call to undefined method Magento\Catalog\Model\Layer\CategoryFactory::getState() in /home/magento/magento2_staging/app/code/Mirasvit/Seo/Service/StateService.php:132 Stack trace: #0 /home/magento/magento2_staging/app/code/Mirasvit/Seo/Observer/Canonical.php(211): Mirasvit\Seo\Service\StateService->isNavigationPage() #1 /home/magento/magento2

[2021-05-25 11:50] HenKun commented on #30214
@arsalanworld @tuanpt-0634 Is the issue solved for anyone? This is simply a bug. Should we reopen the issue or open a new one?

[2021-05-25 12:04] engcom-Alfa commented on #32270
Hi @HenKun

I have re tested it in the Magento ver. dev-2.4-develop, and it is worked as expected. Below are the screenshots of it.

![image](https://user-images.githubusercontent.com/51679138/119494266-bda26e80-bd7e-11eb-90ac-3a745ff18b1c.png)

![image](https://user-images.githubusercontent.com/51679138/119494302-c98e3080-bd7e-11eb-83ff-f5e5536dfa12.png)

![image](https://user-images.githubuserco

[2021-05-25 12:04] #32270 closed, assigned to engcom-Alfa

[2021-05-25 12:16] IbrahimS2 commented on #26758
@magento-engcom-team Why this still a problem in 2.3.6?

[2021-05-25 12:52] iphigenie commented on #33054
hi @jpillai88 I think you need to make sure your modules are updated, and it the error is still there a ticket with Mirasvit

[2021-05-25 13:19] engcom-Golf commented on #32894
@tuyennn I tried to reproduce the same issue with given below configurations:
![image](https://user-images.githubusercontent.com/51681547/119498264-0f4cf800-bd83-11eb-8ae6-d1cf89e8be6c.png)

I can successfully reindex via CLI.
**Note:** Reported error occur when elasticsearch is not Active.

[2021-05-25 13:28] magento-engcom-team commented on #32943
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42425` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-25 13:36] engcom-Golf commented on #32745
@andrewb49 I have tried to reproduced on Magento 2.4.2 version &  dev-2.4-develop. It is working as expected. Kindly upgrade your Magento version.

[2021-05-25 13:45] neddy236 commented on #7560
Random Fix that worked for our instance.

Make sure the app/bootstrap.php is UTC -> date_default_timezone_set('UTC');
Go to admin -> stores -> configuration -> general -> locale options
Change the timezone to something random and save.
Change it back to your original timezone.

Not really sure what went down, but that actually fixed it.

[2021-05-25 13:46] apachler opened #33072 "Importing table rates not working when using S3 storage adapter"
### Preconditions (*)
1. Magento 2.4.2
2. PHP 7.4
3. Activated S3 storage adapter in Magento

### Steps to reproduce (*)
1. Export the tablerates.csv in Backend
2. Import the exported tablerates.csv in Backend

### Expected result (*)
1. Uploaded tablesrates.csv file is processed.

### Actual result (*)
1. File "https://[bucket].s3.eu-central-1.amazonaws.com/[prefix]/tmp/phpLjGmHf" not found.

###

[2021-05-25 13:51] vovsky commented on #32968
@magento I am working on this

[2021-05-25 14:07] #32179 closed, assigned to nobody

[2021-05-25 14:08] iphigenie commented on #31828
@magento give me 2.4-develop instance

[2021-05-25 14:18] #32894 closed, assigned to engcom-Golf

[2021-05-25 14:49] iphigenie commented on #32805
So is the suggestion for dev to add an "is undefined" criteria to categories and multiselect?

[2021-05-25 14:52] iphigenie commented on #32734
Just keeping this one alive too - the existence of a "no category assigned" condition would solve this one just like the "no option selected" condition for a multiselect would solve my other bug  #32805

[2021-05-25 15:06] GearedByDesign commented on #4921
This is still a problem on Magento 2.4.2

If you check out as a guest then it works but as soon as you log in and checkout you get the validation error.

I have used the solution that @komsitr suggested and implemented it for both min and max fields as you will get the min error after you fix the max error.

You can find this in the vendor\magenot\module-ui\view\base\web\lib\validation\rules.js

a

[2021-05-25 15:16] iphigenie commented on #31739
Hi @sheepfy the issue I thought might be a cousin of this one, #32721 , is marked as fixed for 2.4.3 so there's hope yours might too, even though it is still not confirmed

[2021-05-25 15:26] aleksandrvaimo opened #33073 "Attribute option(with numeric value) cannot be added in case option with same option_id already exists"
### Preconditions (*)
1. Reproducible on Magento versions 2.4.1, 2.4.2
2. Issue was found during importing products but also is reproducible in Admin on product attribute page.
Attribute option(with numeric value) cannot be added in case option with same option_id already exists.

OptionManagement->add() methods call for AbstractSource->getOptionId() to find out if given option already exists for

[2021-05-25 15:43] aleksandrvaimo commented on #33073
@magento I am working on this

[2021-05-25 16:08] ivanaugustobd commented on #2619
I'm seriously starting to see M1 as better than M2 to develop for. Current Magento introduce a lot of unnecessary complexity (specially at front-end level, KnockoutJS + RequireJS absolutely sucks) and now even removes widely used features such as this.

I seriously hope that M3 with came and solve this issues, being a powerful e-commerce platform that the developers could actually developer for it

[2021-05-25 16:13] m2-assistant[bot] opened #33075 "[Issue] Add aria-label to page jump"
This issue is automatically created based on existing pull request: magento/magento2#33067: Add aria-label to page jump

---------

### Description (*)
Issue : 2.4.4 Link Purpose (In Context))

Summary: The same link text, `...` is used for links going to different page jumps. Users might not know the difference between each `...` if there is no explanation

Fix: Add an 'aria-label' which indicate

[2021-05-25 16:28] m2-assistant[bot] opened #33076 "[Issue] Remove codingStandardsIgnoreFile from all files"
This issue is automatically created based on existing pull request: magento/magento2#31965: Remove codingStandardsIgnoreFile from all files

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request

[2021-05-25 16:34] m2-assistant[bot] opened #33077 "[Issue] clean up unnecessary variable"
This issue is automatically created based on existing pull request: magento/magento2#31790: clean up unnecessary variable

---------

### Description (*)
clean up unnecessary variable 'tmp'

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits are accompanied by meaningful commit messages
 - [ ] All new or chan

[2021-05-25 16:36] m2-assistant[bot] opened #33078 "[Issue] Code cleanup"
This issue is automatically created based on existing pull request: magento/magento2#31773: Code cleanup

---------
### Description (*)
- Reduce early return usage
- Remove unused code
- Improve condition: replace substr/strlen by strpos

[2021-05-25 19:41] Jupagar77 commented on #33046
Hi @shikhamis11 , I am part of @eperezbanana team, yesterday we upgraded our magento version to 2.4.2-p1 and we are still seeing the issue, the commit you are pointing is from 26 days ago and that magento version was released 13 days ago so it seems that is not the solution :(

[2021-05-25 23:56] fooman commented on #33046
@Jupagar77 The commit is very likely not part of 2.4.2-p1 see https://github.com/magento/magento2/blob/2.4.2-p1/app/code/Magento/QuoteGraphQl/Model/Cart/MergeCarts/CartQuantityValidator.php

The cut off date for a release is usually quite some time prior to the release date.

[2021-05-26 04:17] vaso123 commented on #33070
Please check it now.

[2021-05-26 05:27] engcom-Alfa commented on #32703
I imported 480 configurable products and that implicitly generate 32640 simple products based on attributes configuration used.
Later, tried re indexing using elastic search 7.7 and I got an error as below:

_manjunath.ks@BLR1-LHP-N71760 MINGW64 /c/xampp/htdocs/magento2 (2.4-develop)
$ php bin/magento indexer:reindex
Design Config Grid index has been rebuilt successfully in 00:00:00
Customer Grid

[2021-05-26 05:29] magento-engcom-team commented on #32703
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42444` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-26 06:11] Eddcapone commented on #31337
This is still a good idea in my oppinion.

[2021-05-26 06:12] Eddcapone commented on #32396
Still relevant

[2021-05-26 06:16] Eddcapone commented on #2619
@ivanaugustobd I understand you, I was also at this point. Even extremly simple customisations can take hours and sometimes days because you have to figure everything out and the documentation is very bad and misses beginner examples. But the longer you work with it, the more you will understand its benefits.

[2021-05-26 06:56] karyna-tsymbal-atwix commented on #32556
Hi @damienwebdev  , I had the same behavior and I was able to successfully run the query when I replaced ID! with String:

[code]

[2021-05-26 07:13] Eddcapone commented on #29737
I still get the error on Magento 2.4.2 on scripts for example:

[code]

[2021-05-26 07:19] Eddcapone commented on #26547
Q2 2021 and Magento 2.4.2 still uses jQuery 1

[2021-05-26 07:46] ronakchauhan commented on #33056
Issue: Confirmed

[2021-05-26 08:16] engcom-Alfa commented on #32750
Hi @milltu

I am able to create a product without any issues. Kindly check this procedure to create a new product - https://docs.magento.com/user-guide/catalog/product-create-simple.html

Since now you are already locked from your admin account, you may follow the below screenshot command to create a new admin user

![image](https://user-images.githubusercontent.com/51679138/119626326-b6379f80-be2

[2021-05-26 08:23] onepack commented on #26547
Magento 2.4.2-p1. Quick Lighthouse scan:

Library Version | Vulnerability Count | Highest Severity
-- | -- | --
jQuery@1.12.4 | 4 | Medium
jQuery UI@1.10.4 | 1 | High

[2021-05-26 08:30] magento-engcom-team commented on #33077
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42446` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-26 08:36] onepack commented on #26547
Make it a core setting in the backend or env:
Required jQuery version: 1/ 2/ 3
Required jQuery UI version: etc.
New stores can go for the newer versions of jquery.
Older shops with older themes and functionality that would break keep it v1.

[2021-05-26 08:49] blmage commented on #28334
@magento I am working on this

[2021-05-26 09:03] #21832 closed, assigned to zakdma

[2021-05-26 09:04] #30290 closed, assigned to nobody

[2021-05-26 09:07] magento-engcom-team commented on #30290
Hi @magento-engcom-team.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-33705` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-26 09:40] engcom-Alfa commented on #32271
Hi @navarr
Tried on Magento 2.4-develop using Chrome 90 & on Windows system , Columns are able to move .Can not reproduce the issue.
![image](https://user-images.githubusercontent.com/51679138/119638651-7d052c80-be34-11eb-93a6-32d0c67e2611.png)

[2021-05-26 09:43] krishprakash commented on #32912
Hi @sanganb. Feel free to reopen the issue one confirm the issue reproduce on latest 2.4-develop instance
Thanks

[2021-05-26 09:43] #32912 closed, assigned to krishprakash

[2021-05-26 09:48] aleksandrvaimo commented on #33073
Patch for fixing this issue:
`Fix: Check if attribute exists with numeric option value

Issue was found during product import. Also is reproducible in Admin on product attribute page.

Before adding the attribute option \Magento\Eav\Model\Entity\Attribute\Source\AbstractSource::getOptionId()
searches for attribute value by value and label at the same time, so in case label exists error will be thr

[2021-05-26 10:07] DanielRuf commented on #26547
Lighthouse outputs these depending on the detected version number. It does not detect the manual changes in the jQuery files. Please check the files in the repo, in your projekt and see my last comments regarding the fixed problems.

[2021-05-26 10:28] engcom-Lima commented on #33005
Hi @Calvin495 Thanks for update, Hence i am closing this ticket.

[2021-05-26 10:28] #33005 closed, assigned to engcom-Lima

[2021-05-26 10:39] onepack commented on #26547
@DanielRuf Thanks. I will check.
Do you think this would affect SEO results as Google sees it as a high risk.
Their system doesn't notice the patches.

[2021-05-26 10:51] #33054 closed, assigned to engcom-Lima

[2021-05-26 11:05] taipt-0504 commented on #32717
@magento give me 2.4-develop instance

[2021-05-26 11:06] tschallacka commented on #19479
For those that find this via google, to help you find out which things cause issues, change vendor/magento/framework/Setup/Declaration/Schema/Db/DefinitionAggregator.php in the fromDefinition, to give a meaningfull error message in the sprintf.

[code]

it will then give a meaningful error message and a copy paste solution to find out which table is causing the issues.

![image](https://user-image

[2021-05-26 11:08] b-juszczyk opened #33079 "customer-data.js error after login and adding item to cart"
### Preconditions (*)

1. Magento 2.4.2 after update from 2.3.4
2.

### Steps to reproduce (*)

1. Login as customer
2. Go to category view
3. Add item to cart

### Expected result (*)

1. Item is added to cart
2. No errors in console
3. Message about adding product to cart

### Actual result (*)

1. Error in customer-data.js (after login)
![image](https://user-images.githubusercontent.com/2660545

[2021-05-26 11:08] darvin55 commented on #33079
@magento give me 2.4-develop instance

[2021-05-26 11:24] m2-assistant[bot] opened #33080 "[Issue] Replace repetitive actions with Action Groups in AdminDeleteConfigurableChildProductsTest"
This issue is automatically created based on existing pull request: magento/magento2#31791: Replace repetitive actions with Action Groups in AdminDeleteConfigurableChildProductsTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual

[2021-05-26 11:25] magento-engcom-team commented on #33080
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42449` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-26 12:00] engcom-Echo commented on #33057
Hi @stjohnkrog11 ,

We are not able to reproduce the issue based on your inputs . Can you kindly try to re-produce the issue on latest 2.4-develop branch . Also please specify some elaborate steps to re-produce the same like mailchimp version number etc.

[2021-05-26 12:01] DanielRuf commented on #26547
No, I don't think so. Security itself has nothing to do with offsite or onsite SEO and I am not aware of any penalties due to outdated and insecure libraries.

[2021-05-26 12:06] DanielRuf commented on #26547
Correct, because Lighthouse just checks library name + library version and compares it with a table of known vulnerable versions (from Snyk).

See:
https://github.com/GoogleChrome/lighthouse/blob/2511725963e8695c302095f68cc5f6a1bc393bd2/package.json#L170
https://www.npmjs.com/package/js-library-detector
https://github.com/GoogleChrome/lighthouse/issues/10412

[2021-05-26 12:17] darvin55 commented on #33079
It is strange that variable `sectionNames` in customer-data.js (line 80, 81) looks like this:
![image](https://user-images.githubusercontent.com/26605458/119658095-09135600-be2d-11eb-8574-2e192ca23078.png)

[2021-05-26 12:20] darvin55 commented on #33079
I am not able to re-produce it also, but I can give you all informations about it if you want.

[2021-05-26 12:22] engcom-Echo commented on #33079
Hi @darvin55 ,

If you are not able to reproduce the issue on latest 2.4-develop branch then it might have been fixed in interim releases. In that close we would be closing this issue . Let us know if you need any other details from us.

Thanks

[2021-05-26 12:28] GearedByDesign commented on #4921
Do not use this solution! it looked like it worked at first but it creates new issues.

[2021-05-26 13:08] renard123 opened #33081 "USD $ sign is missing for price after advance search with price"
USD $ sign is missing for price after advance search with price

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
1. Advanced Search page
2. Search with any price range

### Expected result (*)
![image](https://user-images.githubusercontent.com/50658701/119664422-eeeb6f00-be50-11eb-87d5-18891fe95769.png)

### Actual result (*)
![image](https://user-images.githubusercontent.com/5065

[2021-05-26 13:10] kerlama opened #33082 "Bundle option pricing issue"
### Preconditions (*)
1. Clean magento 2.4.2 with sample data
2. PHP 7.4.16

### Steps to reproduce (*)
1. Create a simple product with price, lets say $5
2. Create a bundle product with dynamic price off and add simple product to it, set selection price to 0, set bundle price to $10
3. Save
4. Selection price is reverted to original simple product price and when you re-save and dont notice that,

[2021-05-26 13:11] magento-engcom-team commented on #33081
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42450` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-26 13:12] kerlama commented on #33082
@magento give me 2.4-develop instance

[2021-05-26 13:14] engcom-Alfa commented on #33069
Hi
@bikalbasnet  , Tried reproducing this issue but getting different error 404 . Kindly help to provide more details.
{
    "message": "No such entity with %fieldName = %fieldValue",
    "parameters": {
        "fieldName": "cartId",
        "fieldValue": null
    },

[2021-05-26 13:31] JR2Media opened #33083 "Call to a member function getOptionsData() on null"
**Version:** 2.4.1

I'm attempting to add some data after the price on category listing pages. My module loads, but when it does I get this error under the product price:

`Error: Call to a member function getOptionsData() on null in /var/www/html/mage/app/code/jr2/payment-plan/view/frontend/templates/product/list.phtml:90 Stack trace: #0 /var/www/html/mage/vendor/magento/framework/View/TemplateEn

[2021-05-26 13:36] navarr commented on #32271
@engcom-Alfa: Are you using a touch-screen device?  If not, you'll need to follow the steps I outlined in "Touchscreen Emulation Instructions."  I've added a note to it that wasn't there before (namely that you have to refresh after placing the breakpoint, and why we're doing this in the console)

[2021-05-26 14:01] ihor-sviziev commented on #32150
Hi @f1-outsourcing,
Unfortunately, providing an ability to run the cron jobs using wget / curl might cause some additional issues due to the nature of running the cron jobs. Usually, they're running way longer than web requests.

For instance, with Magento 1 we had many issues when some running cron jobs were killed (which led to some issues) in the middle due to request timeout. From my perspecti

[2021-05-26 15:51] intheshallow opened #33085 "Configurable Product Stock Quantity Above 10 Does Not Work (2.4.1 & 2.4.2)"
### Preconditions (*)

1. 2.4.1
2. 2.4.2

### Steps to reproduce (*)

1. Create a configurable product.
2. Create an attribute (can be anything.)
3. Create the individual product with stock above 10. I chose 15 in my example.

### Expected result (*)

1. It should show there are only 15 left in stock on the frontend.

### Actual result (*)

1. It shows 0 in stock instead.

Example:
[https://www.le

[2021-05-26 18:26] elvis-zunde commented on #29997
See if you have similar config lines at the bottom of your composer.json file, that was causing us similar error

[InvalidArgumentException]
  Package is not installed: magento/project-community-edition-2.3.5.0

composer.json
`
...
"replace": {
        "magento/module-braintree": "*",
        "magento/module-braintree-graph-ql": "*"
}
...
`

[2021-05-26 19:54] Den4ik commented on #33083
@JR2Media Slack is more correct place for similar questions.

Please verify that view model described at layout and view model class exists on you installation

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/view/frontend/layout/catalog_category_view.xml#L57-L61

[2021-05-26 19:54] #33083 closed, assigned to nobody

[2021-05-26 20:03] magento-engcom-team commented on #32991
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42468` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-26 20:17] magento-engcom-team commented on #33075
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42469` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-26 20:38] oscarsanch commented on #30596
@Nazar65 Hello, I think this issue has already been fixed, **MC-41854: Page builder gallery load issue** (https://github.com/magento/magento2/commit/84e590c66b0fd3c3585bc50d784325f8dfcd81eb)
The issue was recursively reading directories(magento2.4.2)
`\Magento\Cms\Block\Adminhtml\Wysiwyg\Images\Tree::getTreeJson
line 79
$nestedDirectories = $this->getMediaDirectory()->readRecursively($item->getFil

[2021-05-26 22:05] JR2Media commented on #33083
Sorry, I was meant to close this. I initially thought it was a bug and thought it would replicate.

[2021-05-26 22:32] orionpt opened #33086 "Can't set Out of Stock Threshold to a negative value"
### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
1. Method 1:
2. In the Magento backend, go to Catalog -> Products and open a simple product
3. Go to General section and click "Advanced Inventory"
4. Set Backorders to allowed ("Allow Qty Below 0" or "Allow Qty Below 0 and Notify Customer")
5. Enter a negative value into the "Out of Stock Threshold" field (e.g. -20)
6. Save the pr

[2021-05-26 22:32] orionpt commented on #33086
@magento give me 2.4-develop instance

[2021-05-26 23:20] jonathansergio commented on #26461
Was some solution found for this issue?

[2021-05-26 23:30] cyildirim commented on #28318
This ticket can be closed as this issue is fixed on `2.3.6-p1` with following commit  https://github.com/magento/magento2/commit/851501e9435c95bc361794901a0f135a8974b6e7

[2021-05-27 01:22] devendrant commented on #22842
Our customers have raised the same issue on magento 2.3.2 commerce edition

[2021-05-27 02:31] jpillai88 commented on #33054
Issue still exist

[2021-05-27 03:52] eduard13 commented on #28318
Closing the issue. It seems to be fixed into the latest version https://github.com/magento/magento2/pull/32957#issuecomment-844120351

[2021-05-27 03:52] #28318 closed, assigned to nobody

[2021-05-27 05:15] AdminAngel commented on #522
I just upgraded from 2.4.1 to 2.4.2 and started to have the same problem...
On front end customers can't register, getting "We can't save the customer." Error...
Please help!

[2021-05-27 05:47] Den4ik commented on #33083
@JR2Media Issue is not reproduce on 2.4-develop branch. Please look at attached module.
Also could you use `setTemplate` method for updating template in layout.

[code]
[Magenius.tar.gz](https://github.com/magento/magento2/files/6551385/Magenius.tar.gz)

[2021-05-27 06:02] hostep commented on #33054
@jpillai88: as mentioned above by @iphigenie, it sounds like the Mirasvit_Seo module is now causing issues, try contacting them or updating their module to the latest version.

Unless you can proof that one of the issues you have is a core Magento bug, it's not necessary to keep commenting over here in github.
But if you want more help from others, it's probably better to use https://magento.stack

[2021-05-27 06:57] karyna-tsymbal-atwix commented on #33081
@magento I am working on this

[2021-05-27 07:14] engcom-Oscar commented on #33002
I have to close this ticket.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) if you are still facing this issue on the latest `2.4-develop` branch.
Thank you for collaboration.

[2021-05-27 07:14] #33002 closed, assigned to engcom-Oscar

[2021-05-27 07:17] engcom-Lima commented on #32150
Hi @f1-outsourcing,

Sorry to say, Magento ver. dev-2.4-develop does not support which you are looking. If you needed then you can customise the feature as per your requirements or check some open source module. Hence, closing this ticket if you have any other issue then you can raise the new ticket.

Thanks for the understanding!

[2021-05-27 07:17] #32150 closed, assigned to nobody

[2021-05-27 07:17] engcom-Oscar commented on #32958
I have to close this ticket.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) if you are still facing this issue on the latest `2.4-develop` branch.
Thank you for collaboration.

[2021-05-27 07:17] #32958 closed, assigned to engcom-Oscar

[2021-05-27 07:21] GuillaumeBrook commented on #33030
@magento give me 2.4-develop instance

[2021-05-27 07:31] AGranitsas commented on #33064
@magento give me 2.4-develop instance

[2021-05-27 07:33] GuillaumeBrook commented on #33030
I tried on this instance, the bug is reproducible.
I don't know how long the instance is live but if you go on the bundle page : https://b5fe58f5e9844aed91bd0ef876764931-2-4-develop.instances.magento-community.engineering/sprite-yoga-companion-kit.html

If you add to the cart, you will have a warning saying "Please select all required options.".
It's because I unassigned the "Sprite Foam Yoga Bric

[2021-05-27 09:03] engcom-Alfa commented on #33042
Hi @tuyennn ,
I have tried on Magento 2.4 develop but I am able to switch to other stores without facing error .PFA.
![image](https://user-images.githubusercontent.com/51679138/119798145-7dff9200-bef8-11eb-8780-4b357753d26b.png)

Kindly review your steps to reproduce.

[2021-05-27 09:04] MackieeE commented on #32925
If you don't mind me asking (I confess I've not researched this value) but what was the value before? Was this higher/lower than 4 once set?

[2021-05-27 09:07] indykoning opened #33087 "Check if headers already sent before setting cookie"
### Description (*)

Add a check if headers are already sent before setting the cookie in `checkAbilityToSendCookie`
### Expected behavior (*)

In `Magento\Framework\Stdlib\Cookie\PhpCookieManager@checkAbilityToSendCookie` there should be a check if (`headers_sent()`) headers are already sent. If that is the case throw an exception.

### Benefits

This way the chance of getting the very broad `The

[2021-05-27 09:23] engcom-Echo commented on #33071
Hi @datacubed ,

Please refer the REST API documentation here
https://magento.redoc.ly/

Hopefully this would answer all your queries regarding the same. Closing this issue.

Thanks

[2021-05-27 09:23] #33071 closed, assigned to engcom-Echo

[2021-05-27 09:33] sheepfy commented on #32721
Hi, so according to 2.4-develop branch, the issue is still there.
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Bundle/Model/LinkManagement.php

[2021-05-27 09:35] sheepfy commented on #31739
@iphigenie
I am not sure if it is a cousin of that one, logic related, "IF (0 = getPriceType()) { .. }" will never do the job inside the IF.
Also according to the 2.4-develop branch, the issue is still present
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Bundle/Model/LinkManagement.php

You can also check the other usage of getPriceType() to see it is compared strict to NU

[2021-05-27 10:26] tuyennn commented on #33042
@engcom-Alfa That's completely a disappointed answer as I mentioned while your page request time is more than 5s by any specific reason. Switch store from the frontend is ok but the dumb error message would shown.

[2021-05-27 10:38] craigfleming commented on #33082
@kerlama - I can confirm that I have the exact same issue in v2.4.2.

However, this bug is supposedly fixed and merged into v.2.4.3.

Please review the following other issues that relate to your issue:

1. https://github.com/magento/magento2/issues/32721
2. https://github.com/magento/magento2/issues/32383

[2021-05-27 10:41] kerlama commented on #33082
Hi @craigfleming
yes, you are right, those are the same issues. Will try with the fix suggested.

Thanks!

[2021-05-27 10:49] engcom-Oscar commented on #32222
We have to close this ticket.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) if you are still facing this issue on the latest `2.4-develop` branch.
Thank you for collaboration.

[2021-05-27 10:49] #32222 closed, assigned to engcom-Oscar

[2021-05-27 11:05] engcom-Alfa commented on #33062
Hi @yoritomoto
I have retried to export the CSV file with more big data where the products with 40k+ records.
I am not able to reproduce the issue with 4.2-develop. Kindly upgrade yourself to the latest version and let me know if you are able to reproduce.
Below is the working screenshot.
<img width="925" alt="ExportWith40kProductsWorking" src="https://user-images.githubusercontent.com/51679138/11

[2021-05-27 11:13] neddy236 commented on #31758
Problem still exists in 2.4.2

[2021-05-27 11:21] engcom-Oscar commented on #32945
Hi @CelinaNguyen114
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
**Actual Result:** :heavy_check_mark:
![Screenshot from 2021-05-27 14-19-13](https://user-images.githubusercontent.com/60198413/119817511-be5e1080-bef6-11eb-89b6-0249d25698af.png)

So, we have to close this ticket.
Please feel free to comment, reopen or create new t

[2021-05-27 11:21] #32945 closed, assigned to engcom-Oscar

[2021-05-27 11:40] Nazar65 commented on #30596
@oscarsanch  looks like, no bcs. this commit is for the default gallery, but also does not looks good at all :) it still go over all directories and files , which is very bad if you have a lot of images. My changes which magneto does not want accept is a performance fix which allows you to open new media gallery with large catalog, but still does not resolve issue when you have really a lot of fol

[2021-05-27 11:45] magento-engcom-team commented on #32901
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42473` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-27 11:53] jozwiakmichal commented on #25933
@magento add to contributors team

[2021-05-27 11:55] engcom-Lima commented on #33065
Hi @MeeGz,

 Unfortunately, I can't reproduce the issue. i followed the provided steps and preconditions. Please find the attached Screenshot for the same.
<img width="1440" alt="Screenshot 2021-05-27 at 5 16 36 PM" src="https://user-images.githubusercontent.com/60198022/119821389-22d99980-bf10-11eb-815c-2b62a9fc3551.png">

If you have still issue then provide me the reproducible steps. make sure

[2021-05-27 12:22] engcom-Alfa commented on #32796
Hi @MarcusSchwarz ,

I tried to reproduce the issue in 2.4-develop. Not able to reproduce as such. Kindly check the steps I followed below based on your given steps.

https://user-images.githubusercontent.com/51679138/119825070-34bd3b80-bf14-11eb-97e9-04f5514f397c.mp4

**Please give more information in what condition exactly the issue is reproducible.**

[2021-05-27 12:46] engcom-Alfa commented on #32302
Hi , Tried on Magento 2.4 Develop , issue is replicable , Hence request to look into it.

[2021-05-27 12:47] magento-engcom-team commented on #32302
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42474` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-27 12:52] jorgb90 commented on #30596
Damn I am glad this issue is fixed! Performance is terrible out of the box! #30629 did the trick for me.

Is there a way to make the wysiwyg directory as root for the gallery? No one needs access to the complete media dir..

[2021-05-27 12:53] engcom-Lima commented on #32942
Hi @dholidev,

Unfortunately can't reproduce, Can you please provide me more reproducible steps e.g. which module you are using?

It would be helpful for me in debugging if you can give me more details.

[2021-05-27 13:01] magento-engcom-team commented on #33030
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-27 13:04] jorgb90 opened #33089 "Allow Dynamic Media URL in Products and Categories setting gone?"
### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
1. Create category.
2. Add content to the category with an image.

### Expected result (*)
1. At the frontend image is visible for that category page.

### Actual result (*)
1. Dynamic media url is not generated, so image is broken.

There should be a setting in Stores -> Configuration -> Catalog which is called "Allow Dynamic Medi

[2021-05-27 13:09] engcom-Echo commented on #32982
Hi @Sammnyg2,

We are closing this issue as there has been no update on the same.

Thanks

[2021-05-27 13:09] #32982 closed, assigned to engcom-Echo

[2021-05-27 13:21] MarcusSchwarz commented on #32796
@engcom-Alfa, as far as I see in your browsers address bar you are on the same domain in the backend as well as in the frontend. This works. You must setup two different domains, like in the example given test1.test and test2.test, or, in other words:
my-fancy-shop.com
my-fancy-shop.de

Backend is on my-fancy-shop.com, the user is on my-fancy-shop.de; This breaks.

[2021-05-27 13:22] tangar76 commented on #32341
I think it has something to do with server settings.

When media image exists then server has to show it immediately. But for some reason handling this request is given to Magento `pub/get.php`.

I'm not good with server settings. It is quite hard for me to understand such behavior. But form PHP side I have found quick solution. Move Magento bootstrat initialization earlier in code. ObjectManager

[2021-05-27 13:26] Jilco commented on #22842
When i changed the micro caching in Nginx the problem was solved...

________________________________
Van: Devendra Nationalwala ***@***.***>
Verzonden: donderdag 27 mei 2021 03:22
Aan: magento/magento2 ***@***.***>
CC: Jilco ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [magento/magento2] Magento 2.2.8 and 2.3.1 customer sessions mixed (#22842)

Our customers have raised the same issue on mag

[2021-05-27 13:40] vitaliiyz opened #33091 "Magento v 2.4.2: Console errors occur when data attribute column is clicked in All Customers grid"
Preconditions:
1. User with birthday date is created

Steps to reproduce:
1. Go to admin > Customers > All Customers
2. Open browser console
3. Open Columns settings
4. Click Date of Birth column

Expected result: There are no errors in browser console

Actual result: Errors appear in browser console (![image](https://user-images.githubusercontent.com/70089162/119835967-00dd1880-bf0a-11eb-9e6d-f27

[2021-05-27 14:32] Dutch77 commented on #32341
That is the exact workaround we're currently using :D

[2021-05-27 15:15] khrystynastolbova commented on #32615
@magento I am working on this

[2021-05-27 15:16] thomas-kl1 commented on #30596
@jorgb90 you can exclude directories with the following file, in the etc folder of your module:

`directory.xml`

[code]

[2021-05-27 16:11] gabrieldagama commented on #32901
Hi @Nazar65, yeah I believe that will be delivered on the next patch release. If we are having another issue I suggest closing this one and open a new for the issue mentioned above.

Thanks!

[2021-05-27 16:11] jonathanribas commented on #13746
Unfortunately we still have this issue using https://github.com/magento/magento2/pull/30961 as a patch.
Any idea?

[2021-05-27 16:36] Jilco commented on #22842
https://magento.stackexchange.com/questions/272849/magento-2-products-in-cart-from-other-session
***@***.***?v=25680b5de058]<https://magento.stackexchange.com/questions/272849/magento-2-products-in-cart-from-other-session>
magento2 - Magento 2 products in cart from other session - Magento Stack Exchange<https://magento.stackexchange.com/questions/272849/magento-2-products-in-cart-from-other-sessio

[2021-05-27 16:49] nocturnalfrog commented on #19597
@magento-engcom-team Please reopen this issue.

[2021-05-27 16:56] celorodovalho commented on #27450
This should not be close. It's still a bug that should be fixed.
It's impossible with the current document to create a custom directive or a custom filter
[code]

[2021-05-27 17:57] eloom commented on #32942
Hi @engcom-Lima,

I cannot provide the module, but we have an assembled environment.

We have a Magento discount rule "Desconto (10 OFF)" and the discount that our payment module offers when the credit card purchase is made in a single payment "Desconto à vista".

Please enter this address "https://m2.eloom.com.br/customer/account/login/", with this access data "m2@eloom.com.br / Papa1mage2to", go

[2021-05-27 19:36] GuillaumeBrook commented on #33030
How comes "not enough information was provided to acknowledge ticket".
I can't add a label because I'm not a contributor I guess.
Just try to reproduce the step provided in the initial comment, it's easy to reproduce.

[2021-05-27 21:13] JorenRapini commented on #10467
Did you ever find a solution? We just ran into this exact same problem

[2021-05-27 21:21] #32267 closed, assigned to nobody

[2021-05-27 21:21] #32269 closed, assigned to nobody

[2021-05-27 21:21] #32108 closed, assigned to nobody

[2021-05-27 21:21] #31370 closed, assigned to nobody

[2021-05-27 21:21] #31993 closed, assigned to nobody

[2021-05-27 21:21] #32305 closed, assigned to nobody

[2021-05-27 21:21] #32306 closed, assigned to nobody

[2021-05-27 21:21] #31559 closed, assigned to nobody

[2021-05-27 21:21] #32289 closed, assigned to nobody

[2021-05-27 21:21] #31068 closed, assigned to nobody

[2021-05-27 21:21] #29696 closed, assigned to nobody

[2021-05-27 21:21] #30989 closed, assigned to nobody

[2021-05-27 21:21] #31416 closed, assigned to nobody

[2021-05-27 21:21] #30726 closed, assigned to nobody

[2021-05-27 21:21] #27401 closed, assigned to nobody

[2021-05-27 21:21] #31237 closed, assigned to nobody

[2021-05-27 21:21] #32281 closed, assigned to nobody

[2021-05-27 21:21] #5891 closed, assigned to nobody

[2021-05-27 21:21] #30958 closed, assigned to nobody

[2021-05-27 21:22] magento-engcom-team commented on #30726
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-27 21:22] magento-engcom-team commented on #27401
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-27 21:22] magento-engcom-team commented on #31237
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-27 21:22] magento-engcom-team commented on #30958
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-27 21:53] orionpt commented on #33086
The error found was due to not having MSI enabled, closing issue

[2021-05-27 21:53] #33086 closed, assigned to engcom-Alfa

[2021-05-28 04:06] mrtuvn commented on #30656
Hi @engcom-Echo can you help re-verify this case ?

[2021-05-28 04:06] mrtuvn commented on #30656
based on update from 2.4-develop as i mentioned previously above message

[2021-05-28 04:30] krishprakash commented on #33091
@magento give me 2.4-develop instance

[2021-05-28 04:33] krishprakash commented on #33082
Hi @kerlama. Thank you for your report.
Closing this issue as not able to reproduce on latest 2.4-develop instance

[2021-05-28 04:33] #33082 closed, assigned to krishprakash

[2021-05-28 04:50] magento-engcom-team commented on #33091
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42487` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-28 05:27] magento-engcom-team commented on #32302
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42474` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-28 05:39] #33079 closed, assigned to engcom-Echo

[2021-05-28 05:40] darvin55 commented on #33079
The problem was that when call `customerData.reload()` in custom JS, i was passing `messages` as a string, not as an array.

[2021-05-28 05:51] magento-engcom-team commented on #33030
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42488` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-28 06:42] #32296 closed, assigned to ihor-sviziev

[2021-05-28 06:42] #23881 closed, assigned to nobody

[2021-05-28 06:42] #20933 closed, assigned to nobody

[2021-05-28 06:42] #29317 closed, assigned to krishprakash

[2021-05-28 06:42] #30339 closed, assigned to nobody

[2021-05-28 06:44] magento-engcom-team commented on #23881
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-28 06:44] magento-engcom-team commented on #23881
Hi @gwharton.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37225` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-28 06:44] magento-engcom-team commented on #20933
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-05-28 06:44] magento-engcom-team commented on #23881
Hi @gwharton.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23892` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-28 06:44] magento-engcom-team commented on #23881
Hi @gwharton.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-18652` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-28 07:21] engcom-Golf commented on #522
@AdminAngel I have Created a Customer via Frontend on **Magento 2.4.2** & **2.4-develop branch**. Which successfully created and redirected me on the Dashboard Page.

[2021-05-28 07:27] jorgb90 commented on #33089
@magento give me 2.4-develop instance

[2021-05-28 07:51] jorgb90 commented on #33089
Option is indeed missing in newer versions:

![Schermafbeelding 2021-05-28 om 09 33 33](https://user-images.githubusercontent.com/7294081/119949221-f2d6d880-bf99-11eb-9b39-414356f4e8ad.png)

But media urls in category pages are working:

![Schermafbeelding 2021-05-28 om 09 35 52](https://user-images.githubusercontent.com/7294081/119949257-fec29a80-bf99-11eb-852b-90cd55bd7363.png)

![Schermafbeeldi

[2021-05-28 08:17] Alainvdz99 commented on #32177
What is the status of this issue?

[2021-05-28 08:30] jorgb90 commented on #33089
@magento give me 2.4.2 instance

[2021-05-28 08:33] khrystynastolbova commented on #32615
Hi @oneserv-heuser
` mergeCarts(source_cart_id: String!, destination_cart_id: String): Cart! @doc(description:"Merges the source cart into the destination cart") `

This mutation expects that:
-  'source_cart_id' - guest's cart
-  'destination_cart_id' - customer's cart
Then it just merge items from the guest cart to the customer's one and marks the guest cart as inactive.

It seems to me that the

[2021-05-28 08:43] gabrieldagama commented on #32980
Hi @robbamber, in this case, we would recommend using one of the prices @api classes, the behavior on the database level is correct from our application point of view.

As far as I understood, sorting products by the biggest discount, you may need to index this to Elasticsearch instead, this customization is possible and may be better than post-processing ES return, but that is just an idea and I

[2021-05-28 08:43] #32980 closed, assigned to nobody

[2021-05-28 08:47] jorgb90 commented on #33089
Doesn't seem to be a Magento issue. Now lets find out why it isn't working for me..

[2021-05-28 08:49] theodorhanu commented on #22629
@magento-engcom-team give me 2.4.1 instance

[2021-05-28 08:50] oneserv-heuser commented on #32615
@khrystynastolbova I guess it would be more distinct to create an extra mutation which executes the [GuestCartManagementInterface::assignCustomer() method](https://github.com/magento/magento2/blob/3de1d60e7eaeb551af15e38142fa08cd219e8603/app/code/Magento/Quote/Api/GuestCartManagementInterface.php#L33). The mutation would just need a cart_id as the other parameters can be obtained from the session.

[2021-05-28 08:50] lazanicol90 commented on #22629
@magento-engcom-team give me 2.4.1 instance

[2021-05-28 08:57] magento-engcom-team commented on #32741
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42490` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-28 09:02] khrystynastolbova commented on #32615
@oneserv-heuser Ok, I will create an extra mutation

[2021-05-28 09:16] chornobylskyi commented on #32956
@magento I am working on this

[2021-05-28 09:16] chornobylskyi commented on #32956
@magento add to contributors team

[2021-05-28 09:17] chornobylskyi commented on #32956
@magento I am working on this

[2021-05-28 09:28] karyna-tsymbal-atwix commented on #32793
@magento I am working on this

[2021-05-28 09:46] extroniks commented on #26295
This is still an issue for me also.

Here is a workaround I applied on our project as it was blocking development, it is a not so nice way of addressing the issue as I didn't have time to allocate more time into resolving the issue and it was easier to just bypass the issue.

Hopefully it helps someone here until a proper fix is made:
https://github.com/extroniks/module-catalog-theme-inherit-fix

[2021-05-28 09:46] gabrieldagama commented on #32048
All the classes are already marked as API.

[2021-05-28 09:46] #32048 closed, assigned to mrtuvn

[2021-05-28 09:48] magento-engcom-team commented on #32048
Hi @sivaschenko, @mrtuvn.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41769` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-28 09:57] atty31 commented on #27542
I'm getting the issue as @nitaipanda , just with another payment method. Any clue ? I have Magento  2.3.4

[2021-05-28 10:01] #32676 closed, assigned to nobody

[2021-05-28 10:14] real34 commented on #31599
This issue still seems to be here. If one wants to find a solution for it, see https://github.com/Adyen/adyen-magento2/pull/941

[2021-05-28 10:26] #32013 closed, assigned to nobody

[2021-05-28 10:36] Den4ik opened #33094 "Rename confusing store select labels at admin login as customers related config and modal window"
Due to discussion at https://github.com/magento/magento2/issues/29101 customer login work per Store.
Customer login modal window show **Store View** as label for select box with Stores list. Wrong title little bit confuse.

**What need to do:**
1. Rename **Store View** to **Store** at customer login modal window
2. Rename **Store View To Login To** to **Store To Login** at Stores -> Configuration

[2021-05-28 11:13] bartoszkubicki commented on #15155
Still a possible improvement

[2021-05-28 12:33] engcom-Alfa commented on #32796
HI @MarcusSchwarz
As you suggested in the previous comment. I have tested applying different domain as well. I could not reproduce the issue at all.
Below is the screen record on the same.

https://user-images.githubusercontent.com/51679138/119984262-d315d380-bfde-11eb-82c2-a8d149d8eb80.mp4

Please give more information in what condition exactly the issue is reproducible. Also check your any relev

[2021-05-28 12:37] sachinkhairnar commented on #20435
I have this same issue in my Magento 2.3 store. I also changed the UTF settings in postfix however the forgot password emails are still not getting sent. It shows the message to the customer that it has been sent but nothing.

Also all other order emails are getting sent with the same configuration.

[2021-05-28 12:47] magento-engcom-team commented on #33094
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42492` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-28 13:01] engcom-Alfa commented on #33049
I have tried importing the sample product data in the bulk with 10k records as such. Similarly tried with Configurable products also able to import with 10k records in the CSV file.
Tried with magento 2.4-develop and no issue found as such.
Kindly update me with more info like what type of records you are importing and what all content the file has.
Also please upgrade to the latest version and gi

[2021-05-28 13:20] engcom-Alfa commented on #32917
Hi @Eddcapone, Seems it is a permission issue in Admin, permission was not enabled. Kindly verify once again
Kindly confirm on this.

[2021-05-28 13:39] wahidnory opened #33096 "Unable to create user in backend with Magento_LoginAsCustomerAdminUi enabled and 'Store View To Login To' set to manual selection."
### Preconditions (*)

1. Magento 2.4.2 | Magento 2.4.2-p1
2. Sample data on both installed
3. Make sure site is set to developer mode
4. Make sure magento/module-login-as-customer-admin-ui is enabled
5. Set Store -> Configuration -> Customers -> Login as Customer -> Store View To Login To to "Manual Selection"
6. or `bin/magento` config:set login_as_customer/general/store_view_manual_choice_enabl

[2021-05-28 13:40] wahidnory commented on #33096
@magento give me 2.4-develop instance

[2021-05-28 13:50] wahidnory commented on #33096
Unable to reproduce on develop instance.

[2021-05-28 13:50] wahidnory commented on #33096
@magento give me 2.4.2-p1 instance

[2021-05-28 14:03] wahidnory commented on #33096
Unable to reproduce on 2.4.2-p1 instance.

Guess it's a conflict with something locally.

[2021-05-28 14:07] vovsky commented on #33094
@magento I am working on this

[2021-05-28 15:51] convenient commented on #19597
For what its worth on 2.4.2 this is working fine for me so long as I have this set on my mysql server, my php script then highlights / captures any crappy third party modules ahead of time

[code]

[2021-05-28 20:43] pmcnamaracpc commented on #31630
@Patelcc Did you still want to work on this issue?

[2021-05-28 22:35] AdminAngel commented on #522
What is the difference between 2.4.2 and 2.4.2-p1?

[2021-05-29 05:53] #18508 closed, assigned to nobody

[2021-05-29 05:54] #32897 closed, assigned to nobody

[2021-05-29 05:55] magento-engcom-team commented on #18508
Hi @rikterbeek.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24548` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-29 05:55] magento-engcom-team commented on #32897
Hi @Michael-073.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-42105` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-05-29 07:41] dangminh opened #33099 "Not showing error message when create attribute at product page"
Admin is a required field when create attribute with type is swatch but not showing message when click save button.
### Preconditions (*)

1. Magento 2.4.2EE
2.

### Steps to reproduce (*)

1. Admin -> Catalog -> Product -> Add new product -> Add Attribute -> Create New Attribute
2. Fill Attribute Label -> Choose  Catalog Input Type for Store Owner is Vitual Swatch -> Manage Swatch -> Add Swatch -

[2021-05-29 20:20] marciomaciel commented on #33047
magento@0047281fee66:/var/www/html$ composer require composer/composer ~2.0.0
./composer.json has been updated
Running composer update composer/composer
Gathering patches for root package.
Loading composer repositories with package information                                                                                                                                           In Laminas\Depende

[2021-05-29 21:02] fredden commented on #8971
This is still an issue that requires resolution.

[2021-05-29 21:22] jorgb90 commented on #31814
Sorry I didnt reply earlier, but this was exactly our problem as well. Remove the duplicate subscriptions and its fixed.

[2021-05-29 21:26] magento-engcom-team commented on #27240
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42502` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-30 12:11] paales commented on #32427
This isn't stale

[2021-05-30 13:09] MeeGz opened #33100 "Coupon Codes Usage Increases Although Placing Order Throws a Validation Error on Admin Dashboard"
### Preconditions (*)

1. Magento Version 2.4.2
3. Create a Cart Price Rule with coupon code: **Test** with **Use per customer** = 1 and **Uses per Coupon** = 1 with any off percentage on the whole cart
3. Create a simple product to create the order with
4. Create a new customer with this email: **email@email.com**

### Steps to reproduce (*)

1. Try to Create a new order (with creating new custom

[2021-05-30 13:10] MeeGz commented on #33100
@magento give me 2.4-develop instance

[2021-05-30 13:20] MeeGz commented on #33065
Hi there,
Kindly check this with a fresh instance of magento 2.4.2 without any sample data installed.

I have created this hypernode trial instance (you can use it for example for 14 days) without any third parties installed, Only disabled the `Magento_TwoFactorAuth` module to be able to login.
<img width="1103" alt="Screen Shot 2021-05-30 at 3 18 39 PM" src="https://user-images.githubusercontent.

[2021-05-30 13:44] MeeGz commented on #33100
Confirmed on the provided environment

Kindly check the screenshots below.

1. Created coupon code `robusta` with Use per customer = 1 and Uses per Coupon = 1
2. Tried to create an order as the screenshot below (with an existing email for another customer)
<img width="1374" alt="Screen Shot 2021-05-30 at 3 36 36 PM" src="https://user-images.githubusercontent.com/15185278/120106446-3fb6dc80-c15d-11

[2021-05-30 14:32] AstroniumGIT commented on #32285
Thank you all for colaboration!
I`m glad that DevDocs were updated.

[2021-05-30 14:32] #32285 closed, assigned to nobody

[2021-05-30 17:39] JamesX88 commented on #29454
@magento give me 2.4-develop instance

[2021-05-30 17:43] JamesX88 commented on #29454
@magento give me 2.4-develop instance

[2021-05-30 17:50] minhluan259 opened #33101 "The Content-Security-Policy directive 'frame-ancestors' does not support the source expression ''unsafe-inline''"
### Preconditions (*)

1. Magento 2.4.2-p1 with sample data
2. Chrome v91

### Steps to reproduce (*)

1. Open console in Google Chrome (F12)
2. Reload the homepage

### Expected result (*)

1. Console without error

### Actual result (*)

1. Console is displaying error:
The Content-Security-Policy directive 'frame-ancestors' does not support the source expression ''unsafe-inline''

How to solve '

[2021-05-30 18:34] bartoszkubicki commented on #30128
doesnt seem to be resolved

[2021-05-30 20:50] Leland commented on #28913
This is a confirmed issue, and should not ever be marked stale IMO… perhaps stale bot’s settings should be tweaked?

[2021-05-31 01:19] mrtuvn commented on #28913
Hi @Leland https://github.com/magento/magento2/pull/33084/files we already have PR for such case
@ihor-sviziev should we add exempt labels also for confirmed

[2021-05-31 03:43] #32242 closed, assigned to nobody

[2021-05-31 03:43] #32278 closed, assigned to nobody

[2021-05-31 03:43] #32127 closed, assigned to nobody

[2021-05-31 03:43] #31975 closed, assigned to nobody

[2021-05-31 03:56] wandyyd commented on #32901
Hi @gabrieldagama - thanks for confirming. But, I didn't see that on [**2.4.2-p1** on May 11](https://devdocs.magento.com/release/#release-schedule), would it be released on p2?

Cheers!

[2021-05-31 03:56] engcom-Echo commented on #32396
Hi @Eddcapone,

This is not an issue, as you are setting the Content theme to 'Custom Theme' and setting the product theme update to 'Default' theme , your customer theme has a template 'template/header/test.phtml' which is not present in default theme , when you are changing the product theme as 'Default' theme m system is expecting this theme will also have that template which you want to overri

[2021-05-31 04:02] engcom-Echo commented on #33053
Hi @olegosh,

Kindly elaborate the issue with screenshots and logs as the steps to re-produce are not clear.

Thanks

[2021-05-31 05:22] krishprakash commented on #33100
@magento give me 2.4-develop instance

[2021-05-31 05:31] engcom-Alfa commented on #33064
HI @AGranitsas

As per your reported description, seems to be no issue but you want to disable the session cookie and as per the UI content it is not being satisfied.
Well Kindly check the document link - https://docs.magento.com/user-guide/sales/cart-persistent.html?itm_source=merchdocs&itm_medium=quick_search&itm_campaign=federated_search&itm_term=pers

Also we have additional features with comm

[2021-05-31 05:33] mrtuvn commented on #33101
Seem you have add whitelist csp to your external resources. Otherwises browser will raise error like that
Ex: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Csp/etc/csp_whitelist.xml

[2021-05-31 05:44] ashvinimarwal commented on #26942
Same issue on 2.3.1
my findings
We are using 6 sources that are integrated from ERP. There is a mismatch in the inventory.

[2021-05-31 06:03] ihor-sviziev commented on #28913
@mrtuvn let's discuss it with other maintainers

[2021-05-31 06:25] magento-engcom-team commented on #33100
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42504` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-31 06:34] engcom-Lima commented on #32300
We can't see the any activity more than 14 days. Hence closing this ticket. In case of any new issue you can create the new ticket.

[2021-05-31 06:34] #32300 closed, assigned to engcom-Lima

[2021-05-31 07:30] engcom-Alfa commented on #32677
HI @vitaliy-golomoziy
I have tried reproducing the same issue in Magento 4.2-develop version and seems to be not reproducible.
Can you please provide the more information to reproduce.
Something like: which payment gateway you have used, and what are the product settings you had done.
Possibly please do a screen record and attached over here in the comment section.
Prior to that, kindly upgrade to

[2021-05-31 07:40] engcom-Lima commented on #32942
Hi @dholidev

I checked your instance and saw the response in console same which you mentioned in your ticket.

Can you confirm me one thing? your concern is label should be "Desconto (10 OFF)" instead of "Desconto à vista"? Am i right?

[2021-05-31 07:58] huykon commented on #6618
I tried to use this function but it will get empty array. It's not return the bundle parent id

[2021-05-31 08:07] engcom-Echo commented on #32236
Hi @ioweb-gr,

Can you kindly share the collection query.

Thanks

[2021-05-31 08:14] engcom-Echo commented on #29454
Hi JamesX88 ,

The issue was not reproduced. Request you to kindly try to reproduce the issue on latest Magento instance, or provide more details to the issue.

Attached is the screenshot

<img width="490" alt="Screenshot 2021-05-31 at 1 41 51 PM" src="https://user-images.githubusercontent.com/51681435/120162699-45bcc400-c216-11eb-8925-8db787989031.png">

Thanks,

[2021-05-31 08:15] engcom-Lima commented on #33047
Hi @marciomaciel

I saw your issue and It seems composer is not installed properly. Can you remove existing composer and reinstall composer in your machine?

You can check this https://getcomposer.org/doc/03-cli.md for installing and upgrading the composer.

Let me know if any query or issue.

[2021-05-31 08:24] hostep commented on #33047
@marciomaciel: you can ignore @engcom-Lima's remark (he's talking about a globally installed composer, not the `composer/composer` package in your Magento project).

Have you already tried [the workaround I mentioned earlier](https://github.com/magento/magento2/issues/33047#issuecomment-844423628)?

[2021-05-31 08:31] engcom-Lima commented on #32940
Hi @fel1p,

Unfortunately, I can't reproduce the issue.

Can you disable this flag first - set sql_require_primary_key = off? and
try to install again.

Let me know if you will get any issue again.

[2021-05-31 08:49] magento-engcom-team commented on #33070
@engcom-Golf Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 08:49] magento-engcom-team commented on #33070
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 08:51] magento-engcom-team commented on #33070
@engcom-Golf Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 08:51] magento-engcom-team commented on #33070
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 08:51] magento-engcom-team commented on #33070
@engcom-Golf Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 08:51] magento-engcom-team commented on #33070
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 08:53] magento-engcom-team commented on #33070
:white_check_mark: Confirmed by @engcom-Golf
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42509` were created

**Issue Available**: @engcom-Golf, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-31 08:57] TheRealHunzik commented on #33101
@magento give me 2.4-develop instance

[2021-05-31 09:06] shoaibgits commented on #25399
I am Having the same issue with Magento 2.3.6, when the Automatic Customer Group Assignment is Set to YES and trying checkout with the Paypal Express Checkout.

I cant disable the Customer Group Assignment because i need this for the Some VAT validation process, So how to resolve this with the current setup.

[2021-05-31 09:12] minhluan259 commented on #33101
@mrtuvn it's not about whitelist issue, because on default luma theme we do not have any iframe (object, embed, ... [https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors](url) ) tags.
the problem is '**unsafe-inline**' only support by '**script-src**'
and '**frame-ancestors**' does not support the source expression ''**unsafe-inline**''
https://content-

[2021-05-31 09:45] magento-engcom-team commented on #33099
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 09:46] magento-engcom-team commented on #33099
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 09:46] magento-engcom-team commented on #33099
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42510` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-31 10:11] engcom-Echo commented on #32468
Hi Romz ,

The issue is not getting re-produced as per the steps provided . Requested you to kindly test the issue on latest version i.e. 2.4-develop, or provide further clarification to help us reproduce the issue.

Thanks

[2021-05-31 10:28] f1-outsourcing commented on #32696
Or can you point me to a patch that I can apply? I currently have email order templates that have 4 digits and a . instead of a , as decimal separator.

[2021-05-31 10:49] ioweb-gr commented on #32236
Unfortunately I went with a different approach so I can't directly give the query. I have posted though the exact code used for a plugin to replicate the issue. If you need me to send you the query I'll have to do it this weekend when I get some free time to create the environment

[2021-05-31 11:00] engcom-Echo commented on #29681
hi Robsch,

Can you please provide more input to this issue, like Actual/Expected Results and elaborate steps to reproduce so that we can reproduce the issue at our end.

Thanks

[2021-05-31 11:05] engcom-Alfa commented on #33085
Hi @intheshallow
Kindly provide me the step by step procedure you have used to do the settings to get
![image](https://user-images.githubusercontent.com/51679138/120183976-0d28e480-c22e-11eb-9ba1-4c93704302cf.png) appear on the product page.
Looks like it is not a default/ black theme or luma. Kindly provide me the step by step procedure to reproduce the issue.

[2021-05-31 11:33] robsch commented on #29681
Sorry for the delay. Currently I'm not so involved in Magento stuff. I don't know if there has been further development regarding Elasticsearch and Magento search.

Is my request not obvious? Don't you see the same effect with each initial installation? A slow and strange to use search in the shop frontend. What should I provide more?

It seems to me that the search implementation of M2.4 is that

[2021-05-31 11:34] engcom-Alfa commented on #33089
Hi @jorgb90
Since it is not reproducible in our system, kindly give me more information- how you are getting it reproducible.
Your custom configurations and step by step procedure.
Else you may reset all your configurations to default and give a try once, it may help you solving your problem.
You may please refer below links as well:
https://docs.magento.com/user-guide/configuration/catalog/catalo

[2021-05-31 11:55] ChameleonDevil commented on #2856
This is **still an issue in 2021 on version 2.35**.  I came here to find the solution https://github.com/magento/magento2/issues/2856#issuecomment-317105933 provided.  Really disappointing to see this issue 'closed' because of 'upcoming 2.3 release' in 2018.  Its 2021 and I had _this exact situation happening to me_.

[2021-05-31 11:59] kiamet commented on #31600
PHP 8:Deprecated Functionality: Method ReflectionParameter::getClass() is deprecated in C:\wamp64\www\magento\vendor\magento\framework\Code\Reader\ClassReader.php on line 34

[2021-05-31 12:04] engcom-Echo commented on #32788
Hi Werfu,

Have you configured your store to integrate with New Relic. Can you share the snap shot of this configuration from store -> Configurations -> General -> New Relic Reporting.

Thanks

[2021-05-31 12:24] engcom-Echo commented on #32965
Hi @pitbulk ,

As per your comment, it looks like the issue is gone . We will be closing this issue then .

Thanks

[2021-05-31 12:24] #32965 closed, assigned to engcom-Echo

[2021-05-31 12:46] magento-engcom-team commented on #33073
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42512` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-05-31 12:46] engcom-Alfa commented on #33073
Tried on Magento 2.4 Develop able to replicate.

[2021-05-31 13:00] engcom-Alfa commented on #32478
Hi @stkrelax
Kindly try to reproduce upgrading to latest the version possibly and let me know if you are going to reproduce the same issue again.

[2021-05-31 13:01] engcom-Echo commented on #32807
Hi @Eddcapone ,

Can you please refer the link to understanding layout instructions

[2021-05-31 13:40] magento-engcom-team commented on #33065
@engcom-Lima Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 13:40] magento-engcom-team commented on #33065
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 13:42] magento-engcom-team commented on #33065
@engcom-Lima Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 13:42] magento-engcom-team commented on #33065
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 13:44] engcom-Lima commented on #33065
@MeeGz It is reproduced without sample data installed
![image-2](https://user-images.githubusercontent.com/60198022/120202639-761b5700-c244-11eb-8e62-461dbc0203d7.png)
![image](https://user-images.githubusercontent.com/60198022/120202665-7b78a180-c244-11eb-8a1a-1ede0679725d.png)

[2021-05-31 14:14] engcom-Echo commented on #33020
Hi @cha80 ,

We are closing the issue as no updates were provided on the same.

Thanks

[2021-05-31 14:14] #33020 closed, assigned to engcom-Alfa

[2021-05-31 14:16] engcom-Alfa commented on #33028
As waited for ~14 days; going to close the ticket.
If you find a issue in the future on it again, you may please report a new issue.
Thanks

[2021-05-31 14:16] #33028 closed, assigned to engcom-Alfa

[2021-05-31 14:19] engcom-Echo commented on #33045
Hi @arhmart ,

Can you please provide update on this.

Thanks

[2021-05-31 14:21] engcom-Golf commented on #32696
@f1-outsourcing I can't test on Magento 2.3.6. As many issues has already been fixed in the latest version. Patches currently are just provided via support channel for Magento Commerce & Cloud versions. So please get in touch with Support team.

[2021-05-31 15:17] magento-engcom-team commented on #32996
@paras89 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 15:17] magento-engcom-team commented on #32996
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 15:17] magento-engcom-team commented on #32996
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-05-31 15:40] eloom commented on #32942
Hi @engcom-Lima

Yes, "Desconto (10 OFF)".

If you change the javascript code I mentioned to "return segment.code == 'discount';", both discounts will be correct.

[2021-05-31 15:55] MeeGz commented on #33065
I think the issue has not been confirmed yet as it gets automatically unconfirmed.

Kindly confirm it to get it into Magento dev queue to implement the solution ASAP.

Thanks in advance.

[2021-05-31 16:24] #32696 closed, assigned to engcom-Golf

[2021-05-31 17:11] malikt commented on #33057
Faced the same issue, and found a typo in `Ebizmarts/MailChimp/etc/events.xml` in the observer name of the `'newsletter_subscriber_save_before'` event.
change the below set of lines:
`<event name="newsletter_subscriber_save_before">
        <observer name="'mailchimp_newsletter_subscriber_save_before" instance="\Ebizmarts\MailChimp\Observer\Subscriber\SaveBefore" />
    </event>`
with
[code]

[2021-05-31 21:38] radub commented on #30696
I also got this on 2.4.2 - CI/CD install with empty db

[code]

[2021-05-31 21:45] LiamKarlMitchell commented on #10863
Fix please.

[2021-05-31 21:47] LiamKarlMitchell commented on #9186
Fix please. Reopen.

[2021-05-31 22:38] mgarrido90 commented on #5709
Same error in Magento 2.3.4p-2 as @chrisputnam9 mentioned.

var/log/exception.log:[2021-05-31 22:28:56] report.CRITICAL: Could not save product "54559" with position 85 to category 5136 {"exception":"[object] (Magento\\Framework\\Exception\\CouldNotSaveException(code: 0): Could not save product \"54559\" with position 85 to category 5136 at /app/33idfz6fzbmmy_stg/vendor/magento/module-catalog/Mode

[2021-05-31 22:39] chequille opened #33109 "Update to 2.4.2-p1 not possible when running PHP 7.4.3"
### Preconditions (*)

1. Actual version Magento 2.4.2
2. PHP Version 7.4.3

### Steps to reproduce (*)

1. In command line: composer require magento/product-community-edition 2.4.2-p1 --no-update

### Expected result (*)

1. Getting no error to be able to update

### Actual result (*)

1. Error: Could not find a Magento project package matching "magento/product-community-edition 2.4.2-p1" for PHP

[2021-05-31 22:40] chequille commented on #33109
How to fix this?
Any ideas?

[2021-05-31 22:59] chequille commented on #33109
Just found, that "composer require magento/product-community-edition 2.4.2 --no-update" is as well not working.
Can it be, that it has something to do with github access changes? I got an email from them to change my access token.
But where is it defined. I do not see any part in the composer.json file of my magento installation.

Or am I now completly stupid, as the commands above to update to a

[2021-05-31 23:14] stu11262020 commented on #26599
For anyone getting this issue just create a patch from this PR https://github.com/magento/magento2/pull/26600

[2021-05-31 23:16] willtran commented on #26599
For anyone getting this issue the fix in this PR has been working for us https://github.com/magento/magento2/pull/26600/files so it worth creating a patch file manually.

[2021-06-01 05:30] SilinMykola commented on #33073
@magento I am working on this

[2021-06-01 05:38] cha80 opened #33110 "Uncaught TypeError: Cannot read property 'swatchImage' of undefined"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1.  Uncaught TypeError: Cannot read property 'swatchImage' of undefined
2.
![image](https://user-images.githubusercontent.com/56351661/120271816-97c91c80-c2de-11eb-9c91-19f50e765b0c.png)

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/56351661/120408314-5b9ac800-c381-11eb-9df3-ae

[2021-06-01 05:38] engcom-Echo commented on #33101
Hi Minhluan259,

Please refer the devdocs link - https://devdocs.magento.com/guides/v2.4/extension-dev-guide/security/content-security-policies.html
For CSP related information.

Hope this link will help you resolve this issue that you are getting.

Let me know , if the information does not suffice your query.

Thanks

[2021-06-01 05:40] cha80 commented on #33020
when i delete the order it's fix

[2021-06-01 05:42] cha80 commented on #33110
magento 2.2.11 version

[2021-06-01 06:43] engcom-Echo commented on #26599
Hi willtran ,

We are not able to re-produce the issue on 2.4-develop branch.
Requesting you,  kindly elaborate the steps to reproduce with screen shots.

Thanks

[2021-06-01 06:46] engcom-Alfa commented on #28384
Hi @PivitParkour94
Kindly try to re test by upgrading to latest version yourself and let me know if you are going to face the same issue again.

[2021-06-01 07:09] krishprakash commented on #33110
Hi @cha80. Kindly update all the necessary details as per issue reporting guidelines
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2021-06-01 07:43] engcom-Golf commented on #31795
@Nuranto You are creating a new attribute_code i.e **base_image** for Customer entity having Input Type as **Media Image**. As per Magento documentation,  **Media Image** is only associated with Product entity rather Customer.
![image](https://user-images.githubusercontent.com/51681547/120283975-6568f080-c2d9-11eb-9aa9-4fc22c51d676.png)

Note: As per existing Logic, getMediaAttributeCodes() will s

[2021-06-01 07:51] adamlavery commented on #32470
ping

[2021-06-01 07:52] Nuranto commented on #31795
Customer was only for testing purpose. My real goal is to use a media gallery for a custom entity type (Actually, It's already done - and working - on the Magento1 that I want to migrate). However, if someone want to add a media gallery to Customer entity type, I don't see the reason why he couldn't.

I don't understand why a media gallery input type should be hardly linked to product entity type

[2021-06-01 08:45] brucemead commented on #32294
Is there any update on the progress of this please?

[2021-06-01 09:02] engcom-Echo commented on #32969
Hi Vandijkstef,

We followed the steps to reproduce , but were not able to reproduce the issue. In our case email was sent with all attached style.
Please refer the below screenshot

<img width="1007" alt="Screenshot 2021-06-01 at 2 28 54 PM" src="https://user-images.githubusercontent.com/51681435/120296758-11b0d400-c2e6-11eb-85a9-39fdfc291c04.png">

Thanks

[2021-06-01 09:33] antonio-valdez-arce commented on #32177
Hello, is there any update on this issue? Thanks.

[2021-06-01 09:54] shoaibgits commented on #25399
For the Older Version I have created a patch to fix this issue please refer to this [Repository](https://github.com/shoaibgits/paypaexpress-patch ):

[2021-06-01 10:03] devchris79 opened #33112 "Composer 1.10.22 throwing error when updating"
### Preconditions (*)

1. Magento 2.4.2
2. Composer 1.10.22
3. Error triggers on laminas/laminas-dependency-plugin, although no legacy version of this is installed before update was called
4.
### Steps to reproduce (*)

1. Run a simple update procedure
2.

### Expected result (*)

1. Modules update to latest version
2.

### Actual result (*)

1. Composer reports an error with laminas/laminas-depen

[2021-06-01 10:09] gwharton opened #33113 "Sales Order Grid - Mass Action - Multi Page Select All not working"
Sales Order Grid - Mass Action - Multi Page Select All not working. Only the records on the page visible are affected.

### Preconditions (*)

1. Magento 2.4.2-p1

### Steps to reproduce (*)

1. Deploy fresh store
2. Create test product
3. Purchase test product 3 times to create 3 orders
4. Go to Sales Order Grid
5. Change pagination to Custom Value of 2
6. Select All. Verify that it says 3 select

[2021-06-01 10:34] #33112 closed, assigned to nobody

[2021-06-01 10:38] magento-engcom-team commented on #33113
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42517` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-01 10:40] homefieldandstream opened #33114 "Im trying to update attributes to not visible individually but it adds it to a queue and will not move from that queue. Any soloutions to this?"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-06-01 10:40] gwharton opened #33115 "UI Components - Popup broken"
### Preconditions (*)

1. Deploy 2.4.2-p1

### Steps to reproduce (*)

1. Go to home page from the front end
2. View Source in developer tool
3. Extract the static base url from the source code. In the below screenshot it is the boxed url
![image](https://user-images.githubusercontent.com/51679138/121185123-5d81f100-c883-11eb-8dde-2fee42fb4b13.png)
4. Append "/css/docs/popups.html" to the url (rep

[2021-06-01 10:42] magento-engcom-team commented on #27126
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42518` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-01 10:47] engcom-Alfa commented on #27126
Tested this issue again in 4.2-develop and noticed it is still reproducible.
Below are the screenshots of it.

![image](https://user-images.githubusercontent.com/51679138/120310856-76732b00-c2f4-11eb-940b-baccd2689846.png)

![image](https://user-images.githubusercontent.com/51679138/120311035-a8848d00-c2f4-11eb-8763-808bed86db54.png)

![image](https://user-images.githubusercontent.com/51679138/120

[2021-06-01 11:01] Den4ik commented on #33113
@magento I'm working on it

[2021-06-01 11:07] magento-engcom-team commented on #33031
:white_check_mark: Confirmed by @engcom-Golf
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42519` were created

**Issue Available**: @engcom-Golf, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-01 11:16] magento-engcom-team commented on #33072
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42520` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-01 11:21] engcom-Alfa commented on #23889
Hi @gwharton

As I have re tested in the 4.2-develop version, it is not reproducible. Below is the working screen record that I have tried today.

https://user-images.githubusercontent.com/51679138/120314914-63af2500-c2f9-11eb-89b4-1b86a46e8a6c.mp4

Kindly upgrade to the latest version possible and give a try. Let me know if you still face the same issue.

[2021-06-01 11:28] ihor-sviziev commented on #33115
@gwharton, could you provide some info on why you would have it working? AFAIK it designed to be shown locally only

[2021-06-01 11:41] engcom-Echo commented on #32541
@magento give me 2.4-develop instance

[2021-06-01 11:43] gwharton commented on #33115
Hi @ihor-sviziev Am I misunderstanding the component. Is it not there for us to use? What do you mean "shown locally only". I'm trying to implement a popup, where the shopper clicks on a link and a popup is displayed with some additional info.

[2021-06-01 11:59] krishprakash commented on #33114
Hi @homefieldandstream. Kindly update all the necessary details as per issue reporting guidelines
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2021-06-01 11:59] hryvinskyi opened #33116 "Rss Category not working"
### Preconditions (*)

1. Magento 2.4.2-p1
2. PHP 7.4.15

### Steps to reproduce (*)

1. Enable standard Rss Feed module.
2. Enable Rss Feed for Top Level Category
![image](https://user-images.githubusercontent.com/9294098/120318384-753c0100-c2e8-11eb-8e5d-7cd2459d71b7.png)
3. Go to category page -> click on Subscribe to RSS Feed link
![image](https://user-images.githubusercontent.com/9294098/1203

[2021-06-01 12:01] gwharton commented on #23889
![rNJnrBP0eM](https://user-images.githubusercontent.com/30697781/120319321-ca701680-c2d8-11eb-88a9-bcdfa68b23b4.gif)

I just deployed this version of 2.4.2-p1 as a test. It doesnt do it every time you move a column, but when it does do it, it is consistent. See the above video. I first move the Braintree Transaction Source column and then refresh. That one works fine. I then move the Allocated Sou

[2021-06-01 12:14] engcom-Alfa commented on #33051
Hi @marvincaspar
Tried reproducing the issue with provided steps but needs clarity on syncing the initial media files to S3 . Kindly provide more steps for syncing the files.

[2021-06-01 12:17] gwharton commented on #23889
![kYzimzyXrW](https://user-images.githubusercontent.com/30697781/120321850-afeb6c80-c2db-11eb-8a00-2389023580e6.gif)

And this is on 2.4-develop without MSI.

Notice I move the Grand Total Purchased to the right of the ID column. Refresh page and it works fine. Now move the status column to the right of the ID column and refresh page. The Grand Total Purchased has shifted right by one column and t

[2021-06-01 12:39] engcom-Alfa commented on #32478
As I have tested it today in 4.2-develop, there is no issue I found as such. Below are the screenshots on the same.
![image](https://user-images.githubusercontent.com/51679138/120324477-4d5a9680-c304-11eb-8140-49e2236e5f7c.png)
![image](https://user-images.githubusercontent.com/51679138/120324654-7d099e80-c304-11eb-949c-43f505a6c104.png)

[2021-06-01 12:52] Eddcapone commented on #32917
@engcom-Alfa , Unfortunately we decided to uninstall the extension again, since it was not working, so I cant test it.

[2021-06-01 12:58] staradzinau opened #33117 "Incorrect displaying of out of stock bundle product"
### Preconditions (*)

1. Magento 2.4.2 with sample data installed
2. Stores → Configuration → Catalog → Inventory → Stock Options → Display Out of Stock Products → set the option to NO
3. Simple product, in stock, but with limited qty. Example:
![image](https://user-images.githubusercontent.com/24728606/120326668-a4a33b80-c2f1-11eb-9dae-1f01672584e3.png)

### Steps to reproduce (*)

1. Create bun

[2021-06-01 13:00] #32015 closed, assigned to Usik2203

[2021-06-01 13:01] #32020 closed, assigned to mrtuvn

[2021-06-01 13:04] marvincaspar commented on #33051
Hi @engcom-Alfa,
I followed the steps from the documentation page https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage-aws-s3.html and than run `bin/magento remote-storage:sync`. After that I visit a page where the captcha enabled and the generated captcha is stored locally and is not synced to s3

[2021-06-01 13:18] engcom-Alfa commented on #32879
Hi @mikew-westlund
I have tried re producing in the 4.2-develop version and the issue is not reproducible as shown in the below screenshot.
![image](https://user-images.githubusercontent.com/51679138/120329680-b55fab80-c309-11eb-9b72-8d3400dba99e.png)
Kindly provide more reproducible steps and provide the actual resulted screenshot / screen record. Kindly upgrade to the latest version possibly and

[2021-06-01 13:50] engcom-Golf commented on #32978
@ajijshekh123 I have un-assigned this ticket from your name as It seems you are not working on it. I have assigned this to myself.

[2021-06-01 13:51] JosephLeedy commented on #32888
We've been using the solution that @hostep and @kassner suggested since 2.3 to prevent the `.editorconfig` file from being overwritten, but this broke as soon as we updated to 2.4.0. It also doesn't seem to work for the `.gitignore` file either, on 2.4.2-p1.

[code]

[2021-06-01 13:53] nkajic commented on #5172
2.4.2-p1 and problem still persists.

[2021-06-01 14:05] ihor-sviziev commented on #33115
@gwharton ah, sorry, you're right, seems like it's broken

[2021-06-01 14:31] Alainvdz99 commented on #32177
@antonio-valdez-arce Still not working in 2.4.2-p1. I used the solution of @DanBeckett for the admin and the emails and I used the patch from @Sental for in the frontend.

[2021-06-01 14:50] sdzhepa commented on #33019
@magento give me 2.4-develop instance

[2021-06-01 14:52] engcom-Lima commented on #32799
Hi @matias7

Unfortunately, Can't reproduce.

I tried export Customer/ Abandoned Carts
<img width="796" alt="Screenshot 2021-06-01 at 7 54 40 PM" src="https://user-images.githubusercontent.com/60198022/120343978-c9f67080-c316-11eb-897a-1c566414ff76.png">
<img width="961" alt="Screenshot 2021-06-01 at 7 59 24 PM" src="https://user-images.githubusercontent.com/60198022/120344067-dd094080-c316-11eb-8

[2021-06-01 15:10] ajijshekh123 commented on #32978
Sorry @engcom-Golf - I missed this ticket. Thanks for verified the issue.

[2021-06-01 15:15] ajijshekh123 commented on #32994
@magento give me 2.4-develop instance

[2021-06-01 15:25] engcom-Golf commented on #31795
@Nuranto As of now, Input type **Media Image** is only associated with Product entity rather Customer. If you want Customer Gallery then Please create Custom Column having Input Type as **Image File**.

Image File | **A field that allows an image to be uploaded to the gallery and associated with the customer attribute.**

[2021-06-01 15:37] minhluan259 commented on #33101
@engcom-Echo please read this:

[2021-06-01 15:43] antonio-valdez-arce commented on #32177
ok, thank you. I will try it.

[2021-06-01 15:44] intheshallow commented on #33085
Hello,

I can explain what to do. This is 100% a default Magento core issue.

1) Make sure you have In Store Pickup (only part of Magento 2.4+) setup as this is involved from what I can tell.
2) Create a product attribute that uses a dropdown. For example, create Ring Size. Create 2 options for said product attribute. For example, create sizes: 6.5 & 7. Also make sure to choose Scope - Global to g

[2021-06-01 15:52] PaulZSt opened #33118 "Issue wit cart price rules for bundle items"
**Preconditions:**
1.Magento ver. 2.3.5
2. Php 7.3

**Steps to reproduce:**
1.Go to magneto backend
2. Create cart price rule -
 **If total amount  greater than  500  for a subselection of items in cart matching ALL  of these conditions:
Color  is not black (here can be any)**
Actions: discount amount 90% (for example)
https://monosnap.com/direct/U1va0aiDq0MeSIS1lyD2Lnc6UBk0fb
3. Add bundle produc

[2021-06-01 16:05] Nuranto commented on #31795
I don't need an image attribute only, but a media gallery also.

But ok, I will do this differently..

[2021-06-01 16:17] refueledinc commented on #33101
I'm in agreement with @minhluan259 - the issue is happening because `frame-ancestors` does not support `unsafe-inline`.

The issue is reported as an error in console starting in Chrome v91.

[2021-06-01 16:29] gabrieldagama commented on #33099
Hi @engcom-Echo, can you provide/update the description with more details on the steps to reproduce? Especially if there is a happy path that the user will be able to create a new attribute.

Also, is the user stuck on this page? What does the user need to do in order to get back to the application?

Thanks!

[2021-06-01 16:50] yvaliya commented on #33070
@magento I'm working on it

[2021-06-01 16:51] refueledinc commented on #33101
I have not fully tested this, but changing line https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Csp/etc/config.xml#L109 to `<inline>0</inline>` appears to resolve the issue for me.

[2021-06-01 16:55] yvaliya commented on #32741
@magento I'm working on it

[2021-06-01 18:41] robolmos commented on #33109
Try including the equal sign like this: `magento/product-community-edition=2.4.2-p1`

Look in ~/.config/composer or ~/.composer for an auth.json file.
This command might work too: `composer config -g --unset github.oauth.github.com`

[2021-06-01 19:19] hostep commented on #33109
@chequille: over here your command works perfectly fine. Also if you provide the `--no-update` flag, I think that composer doesn't do any dependency resolving, so it's very weird that you get that error.

Maybe try including the `-vvv` flag in your command, maybe it gives some extra info that can show you were the problem is.
If that still doesn't work or gives not enough info, try manually changi

[2021-06-01 19:23] hostep commented on #33109
Ah wait, it might have something to do with the `magento/composer-root-update-plugin` composer plugin, since that error message is thrown over there:
https://github.com/magento/composer-root-update-plugin/blob/1.1.2/src/Magento/ComposerRootUpdatePlugin/Updater/RootPackageRetriever.php#L284

Maybe first try to update that package to the latest version and after that try to update Magento to the lat

[2021-06-01 20:21] chequille commented on #33109
Hi guys,
thanks for your replies :-)

I found the problem. For some reason (do not know why), in my composer file the section for repositories was not there.
I added these like:
[code]
and changed under sectio require magento version to 2.4.2-p1

After this change I run composer update and it works. It then asked as well for the new github access token which is afterwards stored in the auth.json f

[2021-06-01 21:54] hostep commented on #33109
Ah this makes sense if you have no repositories besides the default one from packagist.

Be aware, in the snippet you posted, you now have 2 times the same repo `repo.magento.com`, it's probably best to remove one of both (the one with the `/` at the end looks like the most correct one).

And about storing the github access token in your `auth.json` file, if this is the `auth.json` file in your pr

[2021-06-01 21:57] johebting commented on #31466
any updates on this ?

[2021-06-02 00:57] #30889 closed, assigned to nobody

[2021-06-02 00:57] #32247 closed, assigned to engcom-Alfa

[2021-06-02 00:57] #32291 closed, assigned to nobody

[2021-06-02 02:47] dreiren commented on #27039
We also experienced this using magento 2.3.6. The Asynchronous sending is already disabled but it still sends out old shipment email.
![image](https://user-images.githubusercontent.com/5633442/120416396-a8859b00-c38f-11eb-8bf1-628b87ed1959.png)

[2021-06-02 03:22] AlldoGroup commented on #30801
What's the status on this ticket @engcom-Bravo ?

[2021-06-02 04:13] anhnhan1997 opened #33119 "Braintree Settlement Report show error"
### Preconditions (*)

1. Error when go to the "Braintree Settlement Report"

### Steps to reproduce (*)

1. Go to the Admin -> Report -> Sales - > Braintree Settlement
![2222](https://user-images.githubusercontent.com/57820879/120422600-cc96ab80-c392-11eb-8615-2f48476e589b.png)

2. Click on the  Braintree Settlement -> the grid will show this error
![image](https://user-images.githubusercontent.c

[2021-06-02 04:50] ajijshekh123 commented on #32994
@magento give me 2.4-develop instance

[2021-06-02 05:11] ajijshekh123 commented on #32994
Hello @mparrSaatva,
I have verified this issue as per your pre-conditions, steps, actual result and expected result. I have create a cart price with your updated information and verified it. Label name is changed as per expected result.

![image](https://user-images.githubusercontent.com/24711761/120427109-f0f08900-c38e-11eb-81b7-cc950f158789.png)

Please give attached the screenshot create rule a

[2021-06-02 06:09] Shashank-Bhatt1 opened #33121 "<font> node not adding proper attributes when using css font with query string."
` <font src="fonts/customicons/icomoon.ttf?abcdef" />` in xml is not adding attributes like `as="font"` and `crossorigin` when font-face in css points to version font using query string  i.e. `?abcdef`.

[code]

and thus **preload** is not working as per psi google guidelines.

Thanks.

[2021-06-02 07:26] engcom-Golf commented on #33056
@ronakchauhan : Please share the requested snapshot for better clarity.
Magento Admin > Click Store > Settings > All Stores.

[2021-06-02 07:34] engcom-Golf commented on #32978
@maxlussier Please confirm your issue is fixed?

[2021-06-02 08:04] engcom-Alfa commented on #33117
Tried in 2.4-develop version today and it is reproducible. Below are the reproducible steps.

1. Set the Stores → Configuration → Catalog → Inventory → Stock Options → Display Out of Stock Products → set the option to NO
2. Created 2 simple products with quantity value 5 as shown in the below screenshots.
![image](https://user-images.githubusercontent.com/51679138/120444677-77b06080-c3a5-11eb-90e8

[2021-06-02 08:05] magento-engcom-team commented on #33117
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42530` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-06-02 08:14] convenient opened #33122 "No mechanism exists to clear all magento cache entries without flushing the storage"
### Preconditions (*)
1. Any version of magento, these tests ran on 2.4.2
2. Use redis as cache backend

## Summary

If you want to clean your whole magento cache and you have your redis cache on a database of its own, you should be fine to "flush cache storage" or `cache:flush`. The other options miss an appreciable portion of the cache entries.

- Admin "Flush Magento Cache" ⚠️
- CLI  `./bin/mag

[2021-06-02 09:13] #32097 closed, assigned to nobody

[2021-06-02 09:13] #32355 closed, assigned to nobody

[2021-06-02 09:13] #32357 closed, assigned to nobody

[2021-06-02 09:13] #32342 closed, assigned to nobody

[2021-06-02 09:13] #28226 closed, assigned to nobody

[2021-06-02 09:13] #32344 closed, assigned to nobody

[2021-06-02 09:17] convenient commented on #28195
Bad robot. Does my previous comment not count as activity?

[2021-06-02 10:10] engcom-Alfa commented on #33115
Hi @gwharton
The link you have provided to reproduce steps .- https://testmachine/static/versionxxxxxxxxxxxx/frontend/Magento/luma/en_US/css/docs/popups.html is not working. It is a broken link.
Can you please update the steps by step procedure to reproduce exactly along with expected and actual. If you have any pre conditions like settings/ configurations to be done, kindly mention that as well.

[2021-06-02 10:12] liquidia commented on #4159
Magento system is flawed ... its too complex and confused UX make it more difficult ... Magento developer should learn from Wordpress how to make easy to install and use.. i was hoping they would change the direction with magento 2 but they moved to totally different direction and making it harder and harder ..

[2021-06-02 10:30] #27661 closed, assigned to nobody

[2021-06-02 10:31] #26307 closed, assigned to nobody

[2021-06-02 10:31] #31393 closed, assigned to nobody

[2021-06-02 10:32] magento-engcom-team commented on #31393
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-06-02 10:47] laurentiumagureanu opened #33123 "[GraphQL] Adding a bundle product with multiple selection options via addProductsToCart doesn't work as expected"
### Preconditions (*)

1.  Magento version 2.4.2
2. Configure a bundle product to have multiple selection options

### Steps to reproduce (*)

1. use the addProductsToCart mutation
2. Try to add the bundle product to cart with at least 2 selections for checkbox or multiple selection options
3. Check the cart and see if the multi-selection option has all the sent selections
4. I use this mutation:

[2021-06-02 11:09] dverkade commented on #26307
@lbajsarowicz  why are you closing issues which are "ready for confirmation"?

[2021-06-02 11:10] lbajsarowicz commented on #26307
@dverkade  After 1,5 years, I'm no longer able to maintain the issue.

[2021-06-02 11:13] lbajsarowicz commented on #31393
@dverkade  - There's no progress in the PR for 6 months already.
The closed issue goes away, as it's no longer Adobe's problem.

[2021-06-02 11:16] dverkade commented on #27039
Posting a comment. Issues should not be automatically closed especially reproduced ones!

[2021-06-02 11:24] engcom-Alfa commented on #32974
Hi @ninjacoder30
Kindly update here about the vertex team response if you have got the issue resolved.

[2021-06-02 11:43] engcom-Lima commented on #32943
Hi @CelinaNguyen114 ,

I went through the magento document, There is no default component implementation for the Admin, so your component must implement all logic for validation and order placing. Please follow the documentation here.
https://devdocs.magento.com/guides/v2.4/payments-integrations/vault/admin-integration.html

So, here i have the question have you added vault component for the admin

[2021-06-02 11:55] hostep commented on #32469
Leaving comment so Stalebot doesn't auto close the issue.

This sounds like something that needs to be reviewed as it can be quite important. Maybe @Den4ik can help?

[2021-06-02 11:56] engcom-Echo commented on #33116
Hi @hryvinskyi

We are not able to re-produce the issue with the given steps. In our case Rss feeds is showing the products without commenting the code.

<img width="1364" alt="Screenshot 2021-06-02 at 5 23 23 PM" src="https://user-images.githubusercontent.com/51681435/120475853-8576dd80-c3c7-11eb-957b-bed8bee32c1c.png">

<img width="629" alt="Screenshot 2021-06-02 at 5 23 36 PM" src="https://user

[2021-06-02 12:05] engcom-Echo commented on #32245
HI @gianstraf ,

Can you please elaborate Step 2 , what exactly needs to be done in this step.

Thanks

[2021-06-02 12:27] gwharton commented on #33115
Hi there,

Sorry I wasn't clear what the url was. The example docs are installed in any Magento installation by default.

If you deploy Magento, then view source on the homepage.

Extract the static url base path, for example

https://www.example.com/static/version1622559438/frontend/Magento/luma/en_US

append /css/docs/popups.html  to this static path to get the url to the example pages/docs

for

[2021-06-02 12:27] gwharton commented on #33115
@magento give me 2.4-develop instance

[2021-06-02 12:41] frostblogNet commented on #31007
Same here. Quick fix is to disable this validator

`diff --git a/vendor/magento/module-cms/Model/PageRepository.php b/vendor/magento/module-cms/Model/PageRepository.php
index e0f50bd..8881534 100644
--- a/vendor/magento/module-cms/Model/PageRepository.php
+++ b/vendor/magento/module-cms/Model/PageRepository.php
@@ -168,7 +168,7 @@ class PageRepository implements PageRepositoryInterface
         }

[2021-06-02 12:45] gwharton commented on #33115
The link for the above instance being

https://a97eb0fc29611655cf02f423c4052910-2-4-develop.instances.magento-community.engineering/static/version1622637021/frontend/Magento/luma/en_US/css/docs/popups.html

[2021-06-02 12:57] hostep commented on #32292
Issue is definitely not stale, leaving a comment to not close it.

@Den4ik: can we get somebody to review this and propose a solution? I'm willing to create a PR for this if a good solution can be proposed, thanks!

[2021-06-02 13:04] radub commented on #30696
running the setup:install command results in the following:

[code]

[2021-06-02 13:42] vandijkstef commented on #32969
Hi @engcom-Echo ,

Thats unfortunate. Ill will indeed try to reproduce the issue on 2.4-develop myself.
Won't be able to dive into in the coming days, but it's on my list.

[2021-06-02 13:50] 4ctobias commented on #32468
@magento give me 2.4-develop instance

[2021-06-02 14:01] engcom-Lima commented on #32934
Hi @matteolavaggi,

Unfortunately, Can't reproduce the issue. As per magento documentation it is not an issue.
https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-sample-data-other.html#inst-sample-remove

"sampledata:remove" command does not remove sample data from the database.  Hence closing this issue. if you have any other issue raise as new ticket.

[2021-06-02 14:01] #32934 closed, assigned to engcom-Lima

[2021-06-02 14:03] magento-engcom-team commented on #32934
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-06-02 14:04] 4ctobias commented on #32468
@magento give me 2.4.2-p1 instance

[2021-06-02 14:09] mparrSaatva commented on #32994
hi @ajijshekh123, here are three screenshots showing each phase:
1. rule creation with label "Label One"
2. scheduled update with label "Label Two" (before saving)
3. scheduled update with label "Label One"  (after saving the update and the rule)

1.
![store-staging saatva com_index php_admin_asdf_sales_rule_promo_quote_edit_id_8025_key_b0065871ece29ff24beaf3fad13ed337bc0d1da09821fa63b80b1d7d109d8

[2021-06-02 14:13] engcom-Alfa commented on #32325
Hi @palviggi-flagbit
Could you please elaborate the steps to reproduce it on frontend?

[2021-06-02 14:21] palviggi-flagbit commented on #32325
mmm, this is from 3 months ago. I can search next week if I still have a POC around.

[2021-06-02 14:21] engcom-Lima commented on #32942
Hi @dholidev

One more thing please confirm, We have created magento discount rule "Discount (10 OFF)". It is applied as per expected. here i have one more question, it is necessary to install any payment offer module to reproduce this? if yes then tell me about the same so that i can install and try to reproduce for you.

[2021-06-02 14:24] magento-engcom-team commented on #33065
@engcom-Lima Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-06-02 14:24] magento-engcom-team commented on #33065
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!