[2020-05-20 09:50] amenk commented on #28294
@magento give me 2.4-develop instance

[2020-05-20 09:50] magento-engcom-team commented on #28294
Hi @amenk. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-20 09:51] AleksLi commented on #25115
@sprankhub Seems like the ElasticSearch is searching by the whole word not using the part of the word. I'm debugging this right now and trying different queries using PostMan.

I've created a couple products on my local instance and trying different things to make it work. Let's see.

I know for sure that the whole word matching is working perfectly.

[2020-05-20 09:51] magento-engcom-team commented on #28294
Hi @amenk, here is your [Magento instance](https://i-28294-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28294-2-4-develop.instances.magento-community.engineering/admin_19c8](https://i-28294-2-4-develop.instances.magento-community.engineering/admin_19c8)
Login: `6518c8e2` Password: `8cef1b9e5b3f`
Instance will be terminated in up to 3 hours.

[2020-05-20 10:00] chandru-199 commented on #28186
PR created for this issue.
https://github.com/magento/magento2/pull/28191

[2020-05-20 10:00] amenk commented on #28294
@magento give me 2.3.5 instance

[2020-05-20 10:00] magento-engcom-team commented on #28294
Hi @amenk. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-05-20 10:07] AleksLi commented on #25115
@sprankhub I just found out how to make it work from the perspective of ElasticSearch.
I have no idea yet how to implement this inside the Magento and maybe someone will tell me or give me the idea.

_I have created several products with part of the name "Hoodie". For example "Cotton Hoodie", "black hoodie" and others. I took the part of request from the Magento workflow calling elasticsearch for

[2020-05-20 10:08] m-vd-meer commented on #23363
Hi. I'm facing same issues with 2.2. Any idea when this could be fixed?

[2020-05-20 10:08] AleksLi commented on #25115
@magento I am working on it

[2020-05-20 10:16] amenk commented on #28294
Not reproduced on develop-2.4 will try on 2.3.5 . On the Splendid Demo shop I was able to reproduce.

[2020-05-20 10:44] krishprakash commented on #28275
@magento give me 2.4-develop instance

[2020-05-20 10:44] magento-engcom-team commented on #28275
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-20 10:45] magento-engcom-team commented on #28275
Hi @krishprakash, here is your [Magento instance](https://i-28275-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28275-2-4-develop.instances.magento-community.engineering/admin_4afb](https://i-28275-2-4-develop.instances.magento-community.engineering/admin_4afb)
Login: `deca245a` Password: `7f94ff64b1fd`
Instance will be terminated in up to 3 hours.

[2020-05-20 10:47] Ylmzef commented on #28158
Same issue on Magento ver. 2.3.4-p2

[2020-05-20 10:54] gwharton commented on #28158
This has been fixed in 2.4-develop in PR #26701. The bug exists in all 2.3 releases at the moment. Magento has stopped us targetting backports into 2.3 branch so whether this gets fixed in 2.3 at all is up to Magento and out of the hands of the community.

[2020-05-20 10:55] MarianMates opened #28295 "Incorrect item subtotal on partial invoice email"
The item subtotal on the email for a partial invoice is incorrect. It displays the value of the entire ordered quantity, not only the invoiced quantity.

### Preconditions (*)
1. Magento version 2.3.3

### Steps to reproduce (*)
1. Add a product to cart
2. Increase quantity (6 for example)
3. Place order
4. Go to admin, open the order and click invoice
5. Update the quantity to half
6. Check Email

[2020-05-20 10:59] krishprakash commented on #28275
Hi @adeelq.
Not able to reproduce the issue on latest vanilla instance as provided steps to by you
here it is working fine
![image](https://user-images.githubusercontent.com/46617848/82438659-0746e200-9ab7-11ea-9113-e172287dc6fb.png)

[2020-05-20 10:59] #28275 closed, assigned to krishprakash

[2020-05-20 11:19] sprankhub commented on #25115
Thanks @AleksLi!

[2020-05-20 11:38] shreelakshmi28 opened #28307 "Feedback on page: /mftf/docs/troubleshooting.html"
[Magento\FunctionalTestingFramework\Exceptions\TestReferenceException] Entity with a CreateDataKey of createProduct could not be found
### Preconditions

1. PHP 7.3(xampp)
2. selenium selenium-server-standalone-3.141.59
3.chrome  80.0.3987.163
4.Magento 2.3.4
5.MFTF version 2.5.3

### Steps to reproduce

1. i am trying to run the test case  "StorefrontOnePageCheckoutDataWhenChangeQtyTest" from mod

[2020-05-20 11:44] amenk commented on #28294
@magento give me 2.3.5 instance

[2020-05-20 11:44] magento-engcom-team commented on #28294
Hi @amenk. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-05-20 12:06] amenk commented on #28294
was an issue on our side, sorry for the noise

[2020-05-20 12:06] #28294 closed, assigned to krishprakash

[2020-05-20 12:14] CarmineDamore78 commented on #28100
@magento I am working on this

[2020-05-20 12:19] leroynas commented on #28253
Yes this issue is present on the magento 2.4-develop branch

[2020-05-20 12:34] ThakarshiSiddhiDev commented on #22029
Thank you so much brother

[2020-05-20 13:00] chandu-pinpoint commented on #25344
@magento I am working on this

[2020-05-20 13:20] amenk commented on #13552
I am still able to reproduce this with "automatically invoice all items" turned off ...

[2020-05-20 13:22] bernd-reindl commented on #28254
Hi.

Should be easy to solve. Add (string) before $attributeHtml. So Phrase is converted to string in preg_match().
[code]

[2020-05-20 13:26] johncarlson21 commented on #26724
@bruvinsky yep.. that fixed it.. thanks.. I must not have seen that above.

[2020-05-20 13:30] chandu-pinpoint commented on #25344
@magento I am working on this

[2020-05-20 13:47] CarmineDamore78 commented on #28251
@magento give me 2.3 instance

[2020-05-20 13:50] engcom-Delta opened #29114 "Admin is able to change "Allow remote shopping assistance" option without access to "Change customer opt-in preference""
### Preconditions (*)

1. Magento 2.4-develop
2. Login as Customer is enabled
3. Customer 'John Smith' is created

### Steps to reproduce (*)

1. Create admin with 'User A' role with unchecked  'Change Customer Opt-In Preference' checkbox
2. Log in as admin with role 'User A'
3. Go to Magento Admin -> Customers -> All Customers and open customer  'John Smith' account to edit
4. Click on Account In

[2020-05-20 13:52] daniDLL opened #28298 "[2.3.5] Unable to add Euro (€) and accent characters into widget text field inside a CMS Page."
### Preconditions (*)
1. Magento EE 2.3.5 (composer installation)

### Steps to reproduce (*)
1. Create a new CMS page (Content > Pages > Add New Page)
2. Inside "Content" tab insert an element of type "Text" (content-type) to add a new "Widget".
3. Hover this "Text" (content-type) element and wait until the tinymce show its dialog.
4. Click on "Insert Widget"
5. Select the widget "Catalog Product

[2020-05-20 13:56] daniDLL commented on #28298
@magento give me 2.3.5-p1 instance

[2020-05-20 13:56] magento-engcom-team commented on #28298
Hi @daniDLL. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-05-20 14:02] serhii-chernenko opened #28299 "[2.3.5] Changing sort order for checkout billing form via xml"
### Summary
I can change field's order for shipping form on checkout page via xml attribute but can't change it for billing form. I've gotten sortOrder as array instead of integer. And I should change it via plugin in a module now.

### Environment
Magento 2.3.5 Commerce Edition

### Steps to reproduce
1. Create a `checkout_index_index.xml` in `app/design/frontender/Vendor/theme/Magento_Checkout/l

[2020-05-20 14:47] magento-engcom-team commented on #28254
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34464` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-20 14:47] sdzhepa commented on #26370
hello @bernd-reindl  and @shikhamis11

Unfortunately, I am not able to reproduce this issue on the lates `2.4-develop` code.
Probably it was already fixed or some steps/preconditions are missed in the description

Could you please confirm that we can close it as fixed on `2.4-developer` or provide additional details/missed steps?

![issue_23670](https://user-images.githubusercontent.com/3409584/82

[2020-05-20 14:57] CarmineDamore78 commented on #28100
Hi @jkenneydaniel
Unfortunately I can not pull my fix on 2.3-develop
i live you here the link with my fix so you can create a patch and fix your issue
https://github.com/magento/magento2/pull/28296/commits/a39d19dcf59aed693d85e84f5685a54d8f4fb59a

[2020-05-20 15:00] s-oliver commented on #8004
The issue apparently still exists, we're also having problem with this

[2020-05-20 15:16] shamrox commented on #28224
Where are we with this issue. We are experiencing the same issue with AEM cif (react) and Magento 2?

[2020-05-20 15:18] sdzhepa commented on #26101
The Issue still reproducible on the lates `2.4-developer` code
![issue_26101](https://user-images.githubusercontent.com/3409584/82463978-1dd34600-9a83-11ea-91f1-29c3c617e38a.gif)

[2020-05-20 15:38] Serializator commented on #26101
Hi @sdzhepa,

I will resolve the conflict in my open pull request later tonight, this should resolve this issue.

Kind regards,
Julian

[2020-05-20 15:48] rafaelstz commented on #28286
@jorgb90 thank you for sharing it, yes it seems to be the same issue.

[2020-05-20 15:48] #28286 closed, assigned to nobody

[2020-05-20 16:10] an4rei commented on #27326
give me 2.4-develop instance

[2020-05-20 16:11] an4rei commented on #27326
@magento give me 2.4-develop instance

[2020-05-20 16:11] magento-engcom-team commented on #27326
Hi @an4rei. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-20 16:31] mrtuvn opened #28302 "Can't install magento with command cli in 2.4-develop branch"
Can't install magento via cli command
Got error:

Installing search configuration...

In SearchConfig.php line 81:

Could not validate a connection to Elasticsearch. No alive nodes found in y
  our cluster

php7.3.13

But i got success installl by web wizard install

### Summary (*)

### Examples (*)

### Proposed solution

[2020-05-20 16:54] ghost opened #28303 "[Issue] PHPStan add support of magic methods of Data Object."
This issue is automatically created based on existing pull request: magento/magento2#27905: PHPStan add support of magic methods of Data Object.

**Preconditions:**
---------
- Add extension to support of 'get/set/has/uns' 'magic' methods (with usage of __call) for DataObject;
- Add support for SessionManager (it forwards all calls to DataObject container);
- Add test coverage for extensions;
- fi

[2020-05-20 17:37] naydav commented on #28162
Guys,
Desire state should be
POST `carts/mine/items` - add item(s). If called several times - increment Qty
PUT  `carts/mine/items` - add item(s). If called several times - each time overwrite previously created item.

[2020-05-20 18:22] ericmorand commented on #4955
@ludwig-gramberg , I mostly agree and I would add that I don't understand how people commited to a framework that try to enforce deployment and exploitation workflows to their customers.

[2020-05-20 18:27] ghost opened #28305 "[Issue] [MFTF] Fixed file name violations"
This issue is automatically created based on existing pull request: magento/magento2#27839: [MFTF] Fixed file name violations

---------
### Description

Small file name fixes, based on MFTF conventions.

https://devdocs.magento.com/mftf/docs/best-practices.html#file-names

[2020-05-20 18:29] ghost opened #28306 "[Issue] Add ACL role ID to category tree cache id"
This issue is automatically created based on existing pull request: magento/magento2#27429: Add ACL role ID to category tree cache id

---------

### Preconditions: (*)

When an admin user views a product's category tree (by editing a product), the category tree is cached with an ID akin to `CATALOG_PRODUCT_CATEGORY_TREE_0_` (the `$filter` option is not used in the Magento codebase).

This is not

[2020-05-20 18:36] ghost opened #28308 "[Issue] replaced deprecated addWarning method with addWarningMessage method …"
This issue is automatically created based on existing pull request: magento/magento2#28264: replaced deprecated  addWarning method with addWarningMessage method …

---------
…in Security module

Replace deprecated  addWarning method with addWarningMessage method in Magento core security module

### Preconditions (*)

      addWarning method is deprecated, to replace the addWarning method with addW

[2020-05-20 19:02] ghost opened #28309 "[Issue] Introduce separate BlockByIdentifier class to get Layout Block based on CMS Block Identifier"
This issue is automatically created based on existing pull request: magento/magento2#28147: Introduce separate BlockByIdentifier class to get Layout Block based on CMS Block Identifier

---------
### Preconditions: (*)

The existing class is anti-pattern:
1. Uses `\Magento\Framework\Model\AbstractModel::load` to load Model
1. If `block_id` is identifier, the `getIdentities` method returns same ide

[2020-05-20 19:41] s-oliver commented on #5728
same here

[2020-05-20 20:54] lano-vargas commented on #7429
Anyone having issue @kapil-infobeans suggestion works for me using LayoutProcessor once I've change customScope to `shippingAddress.custom_attributes`  as I had before was `shippingAdditionalChildren.myCustomAtribute`

[2020-05-20 21:31] magento-engcom-team commented on #28202
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.
Tha

[2020-05-20 21:35] magento-engcom-team commented on #28202
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34478` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-20 21:38] Gabiunlock commented on #27655
hello, i have same problem in register customer "The Date of Birth should not be greater than today." u can solved this problem?

[2020-05-20 22:41] ghost opened #28311 "[Issue] Added translation fixes"
This issue is automatically created based on existing pull request: magento/magento2#26855: Added translation fixes

---------

### Description (*)
- Added translation for `<comment>` tag
- Fixed translation string issue inside `en_US.csv` file.

### Fixed Issues (if relevant)

1. N/A

### Manual testing scenarios (*)

1. N/A

### Questions or comments

### Preconditions (*)
### Steps to reproduce

[2020-05-20 22:43] magento-engcom-team commented on #28311
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34481` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-20 23:50] sdzhepa commented on #26101
@Serializator  thank you! I have linked this issue with your pr

[2020-05-21 00:01] slavvka commented on #28149
Hi @aleksinoleg. Thank you for your report.
The issue has been fixed in magento/magento2#28150 by @aleksinoleg in 2.4-develop branch
Related commit(s):
 - [64dca9cf2a8698c01f3844ce3bbd09ec08c96679](https://github.com/magento/magento2/commit/64dca9cf2a8698c01f3844ce3bbd09ec08c96679)
 - [c7efd91d16c46de0657f01b51b9af4faaa806050](https://github.com/magento/magento2/commit/c7efd91d16c46de0657f01b51b9a

[2020-05-21 00:01] #28149 closed, assigned to aleksinoleg, krishprakash

[2020-05-21 00:01] slavvka commented on #28215
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27957 by @nikolalardev in 2.4-develop branch
Related commit(s):
 - [b2547c808efed96edfa76a5d64173f006ce09e79](https://github.com/magento/magento2/commit/b2547c808efed96edfa76a5d64173f006ce09e79)
 - [9bced3584b6d193fbd716990959e28dd4cfd9ee9](https://github.com/magento/magento2/commit/9bced3584b6d193fbd71699

[2020-05-21 00:01] #28215 closed, assigned to nikolalardev

[2020-05-21 00:01] slavvka commented on #26550
Hi @marvinhinz. Thank you for your report.
The issue has been fixed in magento/magento2#26572 by @marvinhinz in 2.4-develop branch
Related commit(s):
 - [f2b46df5b6a681d63e4254abdb13b49733574db1](https://github.com/magento/magento2/commit/f2b46df5b6a681d63e4254abdb13b49733574db1)
 - [00971d065a6cc353b83ace91dd65f06efe2640fe](https://github.com/magento/magento2/commit/00971d065a6cc353b83ace91dd65f0

[2020-05-21 00:01] #26550 closed, assigned to marvinhinz, engcom-Hotel

[2020-05-21 00:01] slavvka commented on #28165
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28113 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [e483d0bf6a5ff2fef8f21325b3cb50be783fde9a](https://github.com/magento/magento2/commit/e483d0bf6a5ff2fef8f21325b3cb50be783fde9a)
 - [ff8d45c3703a287e0e45397517399c3166816d51](https://github.com/magento/magento2/commit/ff8d45c3703a287e0e453975

[2020-05-21 00:01] #28165 closed, assigned to srsathish92

[2020-05-21 00:11] adarshkhatri commented on #4567
It happened in 2.3.3-p1 too.

The order had invoice and the invoice was in pending mode. I could cancel the invoice then the "Cancel" button was populated for that order. Then I hit the cancel button then the above error thrown. In `exception.log` I see this:

Upon checking the `sales_order` table, I see that `applied_rule_ids` had 25. Upon checking in the system for any catalog rule or cart rule

[2020-05-21 00:12] adarshkhatri commented on #4567
It happened in 2.3.3-p1 too.

The order had invoice and the invoice was in pending mode. I could cancel the invoice then the "Cancel" button was populated for that order. Then I hit the cancel button then the above error thrown. In `exception.log` I see this:

Upon checking the `sales_order` table, I see that `applied_rule_ids` had 25. Upon checking in the system for any catalog rule or cart rule

[2020-05-21 00:55] portchris commented on #11899
Dunno if anyone will find this helpful but I found that I had a configuration issue in my `env.php` whereby I had 2 areas referencing different databases:
[code]

Had `my_db_1` in 1 and `my_db_2` in the other. Upon matching these I ran:
[code]
And the configuration was no longer greyed out / disabled / unchangeable.

[2020-05-21 01:05] smartcaeser commented on #25730
i have the same issue customer is automatically approved

[2020-05-21 02:05] slavvka commented on #28201
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28174 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [432e9e26a32b84f47d5aa8bcfaa0d33c474a2f13](https://github.com/magento/magento2/commit/432e9e26a32b84f47d5aa8bcfaa0d33c474a2f13)

The fix will be available with the upcoming 2.4.0 release.

[2020-05-21 02:05] #28201 closed, assigned to srsathish92

[2020-05-21 02:05] slavvka commented on #28202
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28112 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [5b094e6d552c4c39520657e30e2bf374a6967d6a](https://github.com/magento/magento2/commit/5b094e6d552c4c39520657e30e2bf374a6967d6a)
 - [a0f475b3f7a6e612f611b6d8467c573265a771df](https://github.com/magento/magento2/commit/a0f475b3f7a6e612f611b6

[2020-05-21 02:05] #28202 closed, assigned to DmitryTsymbal

[2020-05-21 02:05] slavvka commented on #27543
Hi @erfanimani. Thank you for your report.
The issue has been fixed in magento/magento2#27828 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [d7cf1881141fd855ff79f611a31ea2570726bdc3](https://github.com/magento/magento2/commit/d7cf1881141fd855ff79f611a31ea2570726bdc3)
 - [77a4e8c44e1ee901d77aa8d6680fcd5365cd376d](https://github.com/magento/magento2/commit/77a4e8c44e1ee901d77aa8d6680fcd5365

[2020-05-21 02:05] #27543 closed, assigned to mrtuvn

[2020-05-21 02:06] slavvka commented on #27633
Hi @sudheers-kensium. Thank you for your report.
The issue has been fixed in magento/magento2#27642 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [d7cf1881141fd855ff79f611a31ea2570726bdc3](https://github.com/magento/magento2/commit/d7cf1881141fd855ff79f611a31ea2570726bdc3)
 - [77a4e8c44e1ee901d77aa8d6680fcd5365cd376d](https://github.com/magento/magento2/commit/77a4e8c44e1ee901d77aa8d6680f

[2020-05-21 02:06] #27633 closed, assigned to mrtuvn

[2020-05-21 02:06] slavvka commented on #28167
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27134 by @alok0590 in 2.4-develop branch
Related commit(s):
 - [3658a1ba09b00111c7563471b23eb05fb2f75a9a](https://github.com/magento/magento2/commit/3658a1ba09b00111c7563471b23eb05fb2f75a9a)
 - [2ef402a91a88c098db11a1024940ada4c842d16e](https://github.com/magento/magento2/commit/2ef402a91a88c098db11a102494

[2020-05-21 02:06] #28167 closed, assigned to alok0590

[2020-05-21 02:06] slavvka commented on #5477
Hi @kanduvisla. Thank you for your report.
The issue has been fixed in magento/magento2#28108 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [f1e558cd2cf13a574b4853fa478c40fd00fb4cbb](https://github.com/magento/magento2/commit/f1e558cd2cf13a574b4853fa478c40fd00fb4cbb)
 - [f80fb3035e21b9978a4ad814e122188d4702a69e](https://github.com/magento/magento2/commit/f80fb3035e21b9978a4ad814e1

[2020-05-21 02:06] #5477 closed, assigned to engcom-Charlie

[2020-05-21 03:42] jaydeepvs opened #28312 "display full tax summary is not working"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-05-21 03:57] jaydeepvs opened #28313 "full tax summary not working"
display full tax summary is not working  i have opted Yes too but it did not work

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) asses

[2020-05-21 03:59] Ylmzef commented on #28158
Applied the patch https://github.com/magento/magento2/commit/2d31571f1bacd11aa2ec795180abf682e0e9aede.diff

It's now fixed!
thanks @gwharton

[2020-05-21 04:19] ajijshekh123 commented on #28312
@jaydeepvs - This is a duplicate issue.
https://github.com/magento/magento2/issues/28313
Let me close this issue.

Thanks.

[2020-05-21 04:19] #28312 closed, assigned to ajijshekh123

[2020-05-21 05:11] #13765 closed, assigned to swathishs

[2020-05-21 06:17] slavvka commented on #27095
Hi @dipeshrangani. Thank you for your report.
The issue has been fixed in magento/magento2#28083 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [d7cf1881141fd855ff79f611a31ea2570726bdc3](https://github.com/magento/magento2/commit/d7cf1881141fd855ff79f611a31ea2570726bdc3)
 - [77a4e8c44e1ee901d77aa8d6680fcd5365cd376d](https://github.com/magento/magento2/commit/77a4e8c44e1ee901d77aa8d6680fcd5

[2020-05-21 06:17] #27095 closed, assigned to mrtuvn, dipeshrangani

[2020-05-21 06:17] slavvka commented on #28059
Hi @gjportegies. Thank you for your report.
The issue has been fixed in magento/magento2#28084 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [d7cf1881141fd855ff79f611a31ea2570726bdc3](https://github.com/magento/magento2/commit/d7cf1881141fd855ff79f611a31ea2570726bdc3)
 - [77a4e8c44e1ee901d77aa8d6680fcd5365cd376d](https://github.com/magento/magento2/commit/77a4e8c44e1ee901d77aa8d6680fcd536

[2020-05-21 06:17] #28059 closed, assigned to mrtuvn

[2020-05-21 06:17] slavvka commented on #22702
Hi @nehaguptacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#28032 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [d7cf1881141fd855ff79f611a31ea2570726bdc3](https://github.com/magento/magento2/commit/d7cf1881141fd855ff79f611a31ea2570726bdc3)
 - [77a4e8c44e1ee901d77aa8d6680fcd5365cd376d](https://github.com/magento/magento2/commit/77a4e8c44e1ee901d77aa8d6680f

[2020-05-21 06:18] slavvka commented on #26022
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#28032 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [d7cf1881141fd855ff79f611a31ea2570726bdc3](https://github.com/magento/magento2/commit/d7cf1881141fd855ff79f611a31ea2570726bdc3)
 - [77a4e8c44e1ee901d77aa8d6680fcd5365cd376d](https://github.com/magento/magento2/commit/77a4e8c44e1ee901d77aa8d6680fcd5365c

[2020-05-21 06:18] #26022 closed, assigned to mrtuvn

[2020-05-21 06:57] rittukumar20016 opened #28314 "Magento1.9 | One Page Checkout Issue for Guest"
### Preconditions (*)
1. Version: Magento 1.9
2. Using OnePageCheckout. Enabled guest checkout.
3. Using Fortis Extension
4. Using iwd extension
5. Using Amasty Extension

### Steps to reproduce (*)
1. Open the website. Purchase a product without login.
2. Select the product from the category
3. Add the product to cart.
4. Continue to Checkout page
5. Enter the Billing address section:

[2020-05-21 07:53] mrtuvn commented on #28302
May not related with magento. Possible relate with setup enviroments

[2020-05-21 08:08] DominicWatts opened #28315 "SearchCriteriaBuilder SortOrder missing random sort"
### Summary (*)

When using SearchCriteriaBuilder to be able to apply random sort

This is particularly useful when working with product collections

### Examples (*)

At the moment we're restricted to sort by ASC, DESC.

### Proposed solution

Introduce a mechanism which works the same as MySQL ORDER BY
 rand()

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-gui

[2020-05-21 08:14] DominicWatts commented on #28315
Here is an example where I've used php to code a workaround but you can see how there is an issue when setting page size. Code becomes verbose.

[code]

[2020-05-21 08:29] engcom-Charlie commented on #23834
Hi @cdiacon-img,
I'm trying to reproduce, I've:

- Latest 2.4-develop Magento branch
- Elasticsearch 6
- Varnish cache
- Catalog of 20k products(1configurable with ~10child)

**Steps**:

1. Set Products per Page to _50_ in Magento Admin
![image](https://user-images.githubusercontent.com/51680850/82537712-285d1080-9b53-11ea-8e61-3d3de154806d.png)
2. Open catalog on the storefront

**AR**:
![image](

[2020-05-21 08:30] murali290987 commented on #3130
Try like this,
composer config --global http-basic.repo.magento.com {public key} {private key}.

It worked for me.

[2020-05-21 08:31] #27681 closed, assigned to nobody

[2020-05-21 08:34] hemendraajmera commented on #23196
Any updates on the solution Please

[2020-05-21 08:50] rittukumar20016 commented on #28314
Please go ahead

[2020-05-21 09:31] CarmineDamore78 commented on #28254
@magento give me 2.3.5 instance

[2020-05-21 09:32] magento-engcom-team commented on #28254
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-05-21 09:33] magento-engcom-team commented on #28254
Hi @CarmineDamore78, here is your [Magento instance](https://i-28254-2-3-5.instances.magento-community.engineering).
Admin access: [https://i-28254-2-3-5.instances.magento-community.engineering/admin_b603](https://i-28254-2-3-5.instances.magento-community.engineering/admin_b603)
Login: `55914a98` Password: `7dc37a2889a8`
Instance will be terminated in up to 3 hours.

[2020-05-21 09:57] CarmineDamore78 commented on #28254
@magento I reproduced the error on M2.3.5

[2020-05-21 09:59] CarmineDamore78 commented on #28254
@magento assign to me this

[2020-05-21 10:00] CarmineDamore78 commented on #28254
@magento I am working on this

[2020-05-21 10:01] prasannachelladurai90 commented on #28092
@magento give me 2.4-develop instance

[2020-05-21 10:01] magento-engcom-team commented on #28092
Hi @prasannachelladurai90. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-21 10:04] prasannachelladurai90 commented on #27235
@magento give me 2.4-develop instance

[2020-05-21 10:04] magento-engcom-team commented on #27235
Hi @prasannachelladurai90. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-21 10:05] magento-engcom-team commented on #27235
Hi @prasannachelladurai90, here is your [Magento instance](https://i-27235-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27235-2-4-develop.instances.magento-community.engineering/admin_fd2a](https://i-27235-2-4-develop.instances.magento-community.engineering/admin_fd2a)
Login: `b1fedf68` Password: `2c8b8e509aef`
Instance will be terminated in up to 3 hours.

[2020-05-21 10:24] CarmineDamore78 commented on #28096
@magento give me 2.3.5 instance

[2020-05-21 10:24] magento-engcom-team commented on #28096
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-05-21 10:25] magento-engcom-team commented on #28096
Hi @CarmineDamore78, here is your [Magento instance](https://i-28096-2-3-5.instances.magento-community.engineering).
Admin access: [https://i-28096-2-3-5.instances.magento-community.engineering/admin_4dfb](https://i-28096-2-3-5.instances.magento-community.engineering/admin_4dfb)
Login: `2211fd86` Password: `34e9714eb9b8`
Instance will be terminated in up to 3 hours.

[2020-05-21 10:52] archonkulis commented on #24654
Same issue happening onver. 2.3.4-p2

Inside checkout/#shipping URI when selecting existing address and clicking Continue, it makes a request to rest/default/V1/carts/mine/shipping-information

And inside here, the vendor/magento/module-checkout/Model/ShippingInformationManagement.php calls ->validateForCart

And that vendor/magento/module-quote/Model/QuoteAddressValidator.php $cart->getCustomerIs

[2020-05-21 10:56] engcom-Delta commented on #28041
Hi @srokatonie , thank you for your report, I'm not able to reproduce issue by steps you described on 2.4-develop+[security-package](https://github.com/magento/security-package)
**Case 1:** Magento CAPTCHA used
![captcha](https://user-images.githubusercontent.com/51681379/82552005-facf9180-9b69-11ea-9dac-3c9f6178bc4c.gif)

**Case 2:** reCAPTCHA v2 ("I am not a robot") is used with wrong Google API

[2020-05-21 11:01] VigneshVenkatesan154 commented on #27922
@ABDUL-RAQEEB Please provide more insights on this ticket

[2020-05-21 11:11] lano-vargas commented on #14118
Having same issue 2.3.5 with mixins **set-shipping-information** just followed this tutorial from magento docs. ref:https://devdocs.magento.com/guides/v2.3/howdoi/checkout/checkout_new_field.html

I can see the mixin file added to requirejs-config.js file and I can open in the browser but the mixin file doesn't load in the checkout page.  `map` loads fine but not `mixins`

[code]

[2020-05-21 11:15] CarmineDamore78 commented on #28254
@operator888
This issue is already fixed on M2.4-develop
Unfortunately we can not backlog our fixes on M.2.3.5
here the patch to apply on M2.3.5
https://github.com/CarmineDamore78/magento2/blob/bugfix-28254_fix_compare_page/0001-bugfix-28254-Fixed-issue-for-compare-page.patch

[2020-05-21 11:17] engcom-Echo commented on #28302
Hi @mrtuvn. Thank you for your report.

1. Could not validate a connection to Elasticsearch - it is well.

2. But I got success to install by web wizard install - it's weird - you were to get the following result :
![image](https://user-images.githubusercontent.com/51681435/82553721-43d51500-9b6d-11ea-9deb-fe873a5fb450.png)
I think this is a browser cache - accordingly, the check was not performed

[2020-05-21 11:18] CarmineDamore78 commented on #28254
@magento fixed on M2.3.5

[2020-05-21 11:22] engcom-Echo commented on #28277
Hi @r32rf. Thank you for your report.

Please provide more information to reproduce the issue.

[2020-05-21 11:47] balaji-pinpoint commented on #28208
@magento I am working on this

[2020-05-21 11:49] balaji-pinpoint commented on #28208
@magento I am working on this

[2020-05-21 11:49] engcom-Delta commented on #28269
Hi @uandiweb , thank you for your report. Please, create issue in [MSI repo](https://github.com/magento/inventory/issues) for further investigation

[2020-05-21 11:49] #28269 closed, assigned to engcom-Delta

[2020-05-21 12:08] rswitala commented on #28265
We have the same bug on versions 2.3.3, 2.3.4 and 2.3.5
On clean Magento installations

[2020-05-21 12:12] craig-bartlett commented on #12584
Hi @rain2o

I've been looking into a related issue which I think is the cause of your PR failing. The reason you get the 'The stock item was unable to be saved. Please try again' error is because the price indexer fails when you have rows in catalog_product_bundle_selection_price. Coincidentally we already had data in there from our M1 import, and upgrading to 2.3.5 from 2.3.3 caused the indexer t

[2020-05-21 12:52] swathishs commented on #28024
@magento give me 2.4-develop instance

[2020-05-21 12:52] magento-engcom-team commented on #28024
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-21 12:53] magento-engcom-team commented on #28024
Hi @swathishs, here is your [Magento instance](https://i-28024-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28024-2-4-develop.instances.magento-community.engineering/admin_430e](https://i-28024-2-4-develop.instances.magento-community.engineering/admin_430e)
Login: `a0b90463` Password: `cfe349d20033`
Instance will be terminated in up to 3 hours.

[2020-05-21 12:56] engcom-Alfa commented on #26599
Hi @willtran .

Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.

**Preconditions:**
1. Simple product with the price -> 5$ for ex.;
2. Fixed shipping price -> 5 $ for ex.;

**Manual testing scenario:**
1. Go to **Admin -> Stores -> Configuration -> Sales -> Tax** and set like this:

![Screenshot from 2020-05-21 15-31-18](https://user-images.githubusercontent.com/516791

[2020-05-21 12:57] StuartAndertonGM opened #28317 "Changing URL rewrite setting not reflected in admin interface"
### Preconditions (*)

1. 2.3.5-p1

### Steps to reproduce (*)

1. Go to /admin/system_config/edit/section/web/
2. Change Use Web Server Rewrites from No to Yes
3. Save

### Expected result (*)

1. Use Web Server Rewrites shows Yes

### Actual result (*)

1. Use Web Server Rewrites shows No
Howver looking in mySQL the values have been updated:
![image](https://user-images.githubusercontent.com/551

[2020-05-21 13:02] bmitchell-ldg commented on #6401
Hi @magento-engcom-team we would also like to see the related commits for 2.4.0 if you would be able to resolve those 404 links please?

[2020-05-21 13:21] achleitner commented on #28024
Hello,
whatever happened to the "salable quantitiy"? Is it deprecated in Magento 2.4?

[2020-05-21 13:38] sdzhepa commented on #26613
Hello @elmahone @Bartlomiejsz and @engcom-Echo

Could you please provide more details and exact configuration for

With the current description it is not clear is it master/slave or split-db or some other configuration type. Without this information, we are not able to triage and prioritize. accept and test it after.

Thank you in advance!

[2020-05-21 14:31] CarmineDamore78 commented on #28096
@magento issue not reproducible on M2.3.5
<img width="1920" alt="Screenshot 2020-05-21 at 15 29 43" src="https://user-images.githubusercontent.com/49639257/82569352-088c1380-9b78-11ea-8461-09f0b464e4d6.png">
<img width="1920" alt="Screenshot 2020-05-21 at 15 29 35" src="https://user-images.githubusercontent.com/49639257/82569379-117ce500-9b78-11ea-8a07-1d8eae80fb1e.png">

[2020-05-21 14:31] CarmineDamore78 commented on #28096
@magento give me 2.4-develop instance

[2020-05-21 14:32] magento-engcom-team commented on #28096
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-21 14:33] magento-engcom-team commented on #28096
Hi @CarmineDamore78, here is your [Magento instance](https://i-28096-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28096-2-4-develop.instances.magento-community.engineering/admin_9adc](https://i-28096-2-4-develop.instances.magento-community.engineering/admin_9adc)
Login: `32041c3c` Password: `03e2dfd2cc84`
Instance will be terminated in up to 3 hours.

[2020-05-21 15:03] CarmineDamore78 commented on #28096
@magento-admin  how can I run a reindex on the instance?

[2020-05-21 15:06] bencarlson commented on #27256
I'm having a similar issue, over 30 seconds on store.resolve. Were you able to find a resolution to this?
Thanks!

-Ben

[2020-05-21 15:06] CarmineDamore78 commented on #28096
@magento issue not reproducible on M2.4-develop
<img width="1920" alt="Screenshot 2020-05-21 at 16 05 54" src="https://user-images.githubusercontent.com/49639257/82572961-0d06fb00-9b7d-11ea-9965-3f0b9e19f251.png">
<img width="1920" alt="Screenshot 2020-05-21 at 16 06 01" src="https://user-images.githubusercontent.com/49639257/82572980-13957280-9b7d-11ea-8f83-5c83dc145ffd.png">

[2020-05-21 15:48] danielrenaud commented on #26111
@sdzhepa Regarding my previous comment. Does it make sense? Should we close this issue?

[2020-05-21 15:53] lenaorobei commented on #26111
@danielrenaud, yes, I've talked with product owner @nrkapoor and we agreed that this is not a bug.
Thank you.

[2020-05-21 15:53] #26111 closed, assigned to sedonik

[2020-05-21 16:06] leovaimo commented on #28096
It's reproducable only if row_id not equal entity_id
If you are using staing functionality

[2020-05-21 16:23] MadonnaRagu commented on #13229
Has this been fixed or not?

[2020-05-21 16:30] bneff84 opened #28318 "Magento_ProductAlert unsubscribe/stock controller does not accept GET requests"
https://github.com/magento/magento2/blob/56ae4d5bbf181c0b62aeddb893705f900a8d5cb1/app/code/Magento/ProductAlert/Controller/Unsubscribe/Stock.php#L27

The productalert/unsubscribe/stock controller route does not accept GET requests despite the implementation within the Magento_ProductAlert module only using GET requests against the endpoint. This causes unsubscribe URLs to redirect to a 404 route a

[2020-05-21 17:05] imtiaz0405 commented on #23630
Hi ,
I have the same issue with magneto 2.3.5. i found the module ImageMagick was missing .
i found this error in exception logs .

you can install this by ssh
yum -y install ImageMagick-devel ImageMagick-c++-devel ImageMagick-perl

[2020-05-21 17:28] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-05-21 17:28] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-21 17:31] sdzhepa commented on #28306
@magento give me 2.4-develop instance

[2020-05-21 17:31] magento-engcom-team commented on #28306
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-21 17:32] magento-engcom-team commented on #28306
Hi @sdzhepa, here is your [Magento instance](https://i-28306-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28306-2-4-develop.instances.magento-community.engineering/admin_4b6a](https://i-28306-2-4-develop.instances.magento-community.engineering/admin_4b6a)
Login: `27a7bf0e` Password: `163dd4f0776e`
Instance will be terminated in up to 3 hours.

[2020-05-21 18:19] ghost opened #28319 "[Issue] Static properties serialization fix."
This issue is automatically created based on existing pull request: magento/magento2#26175: Static properties serialization fix.

---------

### Preconditions(*)

When test cleanup is disabled, Magento\TestFramework\Workaround\Cleanup\StaticProperties is caching static variables before the integration test starts, and restoring them after the test run is finished (if some instance of \Magento\Test

[2020-05-21 19:05] AJHopper opened #28320 "2.3.5-p1 Contact Form No Longer Including ReplyTo address"
### Preconditions (*(

1. Running Magento 2.3.5-p1
2. Litespeed Web Server
3. PHP 7.2

### Steps to reproduce (*)

1. Upgrade from Magento 2.3.2 to 2.3.5-p1
2. fill in contact form and submit

### Expected result (*)

1. Prior to the upgrade an email would be submitted with a ReplyTo email address, would expect the same behavior

### Actual result (*)

1. email is submitted successfully but now on

[2020-05-21 20:36] EliuFlorez opened #28323 "Error TemplateRenderingPlugin - beforeRender"
Error TemplateRenderingPlugin - beforeRender
3 passes expected
In the template installation process: https://argentotheme.com/installation/

Magento version: 2.3.5-p1

Packages install:
-Marketplace Multi Vendor Module for Magento 2
-Multi Vendor PayPal Commerce for Magento 2
-Argento Responsive Template by Swissuplabscom

**Error:**
`PHP Fatal error:  Uncaught ArgumentCountError: Too few argument

[2020-05-21 20:37] sdzhepa commented on #26101
Based on Triage review, was verified additional case.
Can confirm this issue seems to affect only displaying price in Admin
If we open the Customer shopping cart = price will be correct(product+option)

![Issue_26101_part2](https://user-images.githubusercontent.com/3409584/82603842-f65ea500-9b78-11ea-8ba1-d2a0c6875689.gif)

[2020-05-21 20:57] ghost opened #28324 "[Issue] [MFTF] Cancel created orders after checks on frontend"
This issue is automatically created based on existing pull request: magento/magento2#27698: [MFTF] Cancel created orders after checks on frontend

---------
### Description
According to the isolation guidelines of Magento Functional Test Framework, all data created during tests have to be deleted. As we can't delete created orders - there's no way to delete an order neither via backend or webapi -

[2020-05-21 22:01] sdzhepa commented on #28215
Based on the provided information internal tickets MC-34528 were created

[2020-05-21 22:19] EliuFlorez commented on #28323
### Bugs Corrected
In Magento\Csp\Plugin\TemplateRenderingPlugin

### Variable Default
$fileName = ''
$dictionary = []

### Code
[code]

[2020-05-21 23:21] magento-engcom-team commented on #26550
Based on the provided information internal tickets `MC-34529` were created.

[2020-05-21 23:37] magento-engcom-team commented on #26550
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34529` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-21 23:38] magento-engcom-team commented on #28201
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once a

[2020-05-21 23:39] magento-engcom-team commented on #28201
Based on the provided information internal tickets `MC-34530` were created.

[2020-05-21 23:39] magento-engcom-team commented on #28201
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once a

[2020-05-21 23:49] magento-engcom-team commented on #24218
Hi @itwebdev2.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [93484e3fbdb9f26d222d9f42b77ed5a4e712269f](https://github.com/magento/magento2/commit/93484e3fbdb9f26d222d9f42b77ed5a4e712269f)
 - [ac86d278a13bdeae7df3425d5c9a92426d9d3814](https://github.com/magento/magento2

[2020-05-21 23:52] magento-engcom-team commented on #27543
Based on the provided information internal tickets `MC-34531` were created.

[2020-05-21 23:52] magento-engcom-team commented on #24218
Hi @itwebdev2.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [93484e3fbdb9f26d222d9f42b77ed5a4e712269f](https://github.com/magento/magento2/commit/93484e3fbdb9f26d222d9f42b77ed5a4e712269f)
 - [ac86d278a13bdeae7df3425d5c9a92426d9d3814](https://github.com/magento/magento2

[2020-05-22 00:14] magento-engcom-team commented on #28167
Based on the provided information internal tickets `MC-34532` were created.

[2020-05-22 00:42] magento-engcom-team commented on #22702
Based on the provided information internal tickets `MC-34534` for 2.4.x were created.

[2020-05-22 03:23] maharzan86 opened #28325 "Product having zero salable quantity results in stock in product list page and out of stock in view page."
Preconditions (*)

 1. Magento 2.3.5-p1(MSI enabled)

Steps to reproduce (*)

1. Create a simple product with qty = 1
2. Place an order that will cause the product to have 0 salable quantity
3. The Salable Quantity drops to zero, while the Quantity remains at 1.

Expected result (*)

1. The product, having Salable Quantity 0, should display out of stock label in both product list page and product

[2020-05-22 04:44] willtran commented on #26599
@engcom-Alfa  thanks for checking. I haven't test on 2.4. Have you play around with the number of qty and product prices?
This issue only happens to some small percentages of order because the delta calculated for product rounding were used for rounding shipping and only **sometimes** it is not correct (the delta becomes too small). I'm not that good at maths to reverse engineer the combination of

[2020-05-22 04:46] adarshkhatri commented on #3356
Doesn't work in 2.3.3-p1

[2020-05-22 05:18] thanhdv2811 opened #28326 "Attribute value was duplicated after upgrade magento from 2.1 to 2.3"
### Preconditions (*)

1. Our Database was migrated from magento 1 to magento 2.1 few years ago
2. All the site is running normally in the version 2.1

### Steps to reproduce (*)

1. Composer update from magento 2.1.17 to magento 2.3.4
2. Disable all the 3rd party extension
3. Run Magento command setup:upgrade

### Expected result (*)

1. The attribute value in the table catalog_product_entity_dat

[2020-05-22 05:30] ajijshekh123 commented on #28313
Hello @jaydeepvs,
I didn't get exactly this issue. Can you please elaborate on this issue in proper steps, actual result and the expected result?

Thanks.

[2020-05-22 05:32] ajijshekh123 commented on #28265
@magento give me 2.4-develop instance

[2020-05-22 05:32] magento-engcom-team commented on #28265
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-22 06:05] parag1810 opened #28327 "How to remove type="text/javascript attribute from script tag in magneto 2.3.1"
Hi,
I want to remove **type="text/javascript** attribute from script tag in magneto 2.3.1, as in w3 validator it is showing warning "The type attribute is unnecessary for JavaScript resources".
I go through when I search for this on google and I got one similar issue of it but that post was very old "https://github.com/magento/magento2/issues/2187"
Please can anyone help me out with it?

Thanks!!

[2020-05-22 06:45] CarmineDamore78 commented on #28320
@magento give me 2.4-develop

[2020-05-22 07:01] swathishs commented on #27219
@magento give me 2.4-develop instance

[2020-05-22 07:01] magento-engcom-team commented on #27219
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-22 07:02] magento-engcom-team commented on #27219
Hi @swathishs, here is your [Magento instance](https://i-27219-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27219-2-4-develop.instances.magento-community.engineering/admin_0f28](https://i-27219-2-4-develop.instances.magento-community.engineering/admin_0f28)
Login: `6192631f` Password: `2bf34a95993d`
Instance will be terminated in up to 3 hours.

[2020-05-22 07:14] CarmineDamore78 commented on #28320
@magento give me 2.4-develop instance

[2020-05-22 07:14] magento-engcom-team commented on #28320
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-22 07:15] magento-engcom-team commented on #28320
Hi @CarmineDamore78, here is your [Magento instance](https://i-28320-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28320-2-4-develop.instances.magento-community.engineering/admin_6167](https://i-28320-2-4-develop.instances.magento-community.engineering/admin_6167)
Login: `073c33ec` Password: `1307629bd077`
Instance will be terminated in up to 3 hours.

[2020-05-22 07:32] CarmineDamore78 commented on #28317
@mageento give me 2.4-develop instance

[2020-05-22 07:32] CarmineDamore78 commented on #28317
@magento give me 2.4-develop instance

[2020-05-22 07:32] magento-engcom-team commented on #28317
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-22 07:34] magento-engcom-team commented on #28317
Hi @CarmineDamore78, here is your [Magento instance](https://i-28317-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28317-2-4-develop.instances.magento-community.engineering/admin_a0a2](https://i-28317-2-4-develop.instances.magento-community.engineering/admin_a0a2)
Login: `5cb72824` Password: `d39e5725bd77`
Instance will be terminated in up to 3 hours.

[2020-05-22 07:51] skast96 commented on #22215
This is still an issue in 2.3.5, which is really annoying...

[2020-05-22 07:55] Lucky9821 opened #28328 "DHL Gateway URL"
Hello, I cannot find DHL gateway URL on Magento 2.3.2. Anyone found the same issue and how to solve?

![DHL Gateway URL](https://user-images.githubusercontent.com/65758090/82644905-43577f80-9c3c-11ea-97c3-ffc2675fa443.jpg)

[2020-05-22 08:07] CarmineDamore78 commented on #28317
@magento issue not reproducible on M2.4-develop

[2020-05-22 08:36] devchris79 commented on #28328
We use 2.3.4 and its not there despite it appearing in the [documentation](https://docs.magento.com/user-guide/shipping/dhl.html)

Its not been a problem for us though as we use the default gateway (you don't need to specify the default).

[2020-05-22 08:41] CarmineDamore78 commented on #26845
@magento I'm working on this

[2020-05-22 09:00] zhovnirigor opened #28329 "Order items repository getList() method doesn't process extension attributes"
\Magento\Sales\Model\Order\ItemRepository::getList() method doesn't have a call to \Magento\Framework\Api\ExtensionAttribute\JoinProcessor::process. Therefore it cannot join extension attributes defined for Magento\Sales\Api\Data\OrderItemInterface.
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.*

### Steps to reproduce (*)

1. Add any extension attribute to Magento\Sales\Api\Data\OrderItemInte

[2020-05-22 09:04] swathishs commented on #27219
@WinstonN: Issue is not reproducible in Magento 2.4 develop instance
Please find the attachments below for your reference:

[2020-05-22 09:17] swathishs commented on #27219
Hi @WinstonN, thank you for your report. According to contributor's guide Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop branch.
If you'd like to update the issue, please reopen it.

[2020-05-22 09:17] #27219 closed, assigned to swathishs

[2020-05-22 10:02] bernd-reindl commented on #26370
I can confirm.

Also solved in 2.3.5-p1

[2020-05-22 10:33] kumarshanu90 commented on #26647
Hi Folks ,
Can you let me know how to solve this??

   **<block name="customer.section.config" class="Magento\Customer\Block\SectionConfig"
                   template="Magento_Customer::js/section-config.phtml">
                <arguments>
                    <argument name="sectionNamesProvider" xsi:type="object">Magento\Customer\Block\SectionNamesProvider</argument>
                </arguments>

[2020-05-22 10:36] leroynas commented on #28224
@shikhamis11 Thank you for taking on this issue! Can you give me any indication when this issue will be worked on and be ready for release? We are working on a PWA and really need this feature. We want to be compatible with a clean magneto 2 installation so this is really important for us.

[2020-05-22 11:25] sergey-solo commented on #6092
@magento I am working on this

[2020-05-22 11:36] maheshWebkul721 commented on #28314
@rittukumar20016, you can only raise issues related to default Magento features, not third party modules issues.

[2020-05-22 12:21] hemendraajmera commented on #28068
any updates

[2020-05-22 12:22] zhovnirigor opened #28333 "Extension attributes are not copied for some fieldsets"
Some fieldsets (see \Magento\Quote\Model\Quote\Address\ToOrder::convert:82) are copied using \Magento\Framework\DataObject\Copy::copyFieldsetToTarget() method. Those are correct.

Others (see `\Magento\Quote\Model\Quote\Address\ToOrder::convert:65`) are copied with help of two methods: `\Magento\Framework\DataObject\Copy::getDataFromFieldset()` to get the data from the source object and `\Magento\

[2020-05-22 13:01] engcom-Alfa commented on #28251
Hi, @dmcmillin . Thank you for your report.

Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop

**Manual testing scenario:**

1. Followed exact directions from https://devdocs.magento.com/guides/v2.3/rest/tutorials/orders/order-create-customer.html
2. Sent request:
[code]
![Screenshot from 2020-05-22 15-49-32](https://user-images.githubusercontent.com/51679138/82670028-1a

[2020-05-22 13:01] #28251 closed, assigned to engcom-Alfa

[2020-05-22 13:07] scoops87 commented on #23196
Facing the same issue. It's absurd.

[2020-05-22 13:15] scoops87 commented on #23196
@hemendraajmera - what happens if you click the Greyed out item, as shown in your picture.
Does it allow you to click it?

[2020-05-22 13:18] engcom-Alfa commented on #28024
Hi @achleitner  thank you for your report. This is [MSI](https://github.com/magento/inventory) related issue.
Please refer to appropriate [repository](https://github.com/magento/inventory/issues) for further investigation

[2020-05-22 13:18] #28024 closed, assigned to engcom-Alfa

[2020-05-22 13:36] scoops87 commented on #23196
I see Amasty have an extension. Has anyone else tried this?

[2020-05-22 13:44] CarmineDamore78 commented on #28096
I'm sorry @leovaimo but what do you mean for row_id and entity_id?

[2020-05-22 13:47] maderlock commented on #18547
Still seeing this on 2.3.3pt2. Looking to upgrade to 2.3.5. I don't suppose this has been looked at in the meantime?

[2020-05-22 13:52] maderlock opened #28334 "Price filter ignores inclusion of tax"
### Preconditions
1.I have set Backend Catalog Price as a Excluding Tax And Front side Display Product Price in Catalog set as Including Tax.
2. Magento 2.3.3p2
3. Magento 2.4-develop

### Steps to reproduce
Magento 2.3.3p2
Go to Backend and set this Tax Calculation configuration
Stores -> Configuration -> Sales -> Tax
![46853224-19609900-ce1b-11e8-9d9a-c7043df60132](https://user-images.githubuser

[2020-05-22 13:59] maderlock commented on #26278
This is wrong on all counts!
Price is not global - it can be specified per website.
So base currency can differ between websites and therefore currency should change per website, if not store.

So you should not have done.

[2020-05-22 14:02] maderlock commented on #26278
@magento give me 2.3-develop instance

[2020-05-22 14:02] magento-engcom-team commented on #26278
Hi @maderlock. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-05-22 14:24] CarmineDamore78 commented on #26845
hi @magento-admin. I tried to replicate the issue on M2.4-develop without success
I followed the procedure and after the import I had the array populated
`Array ( [0] => Array ( [entity_id] => 45 [attribute_set_id] => 11 [type_id] => bundle [sku] => 24-WG080 [has_options] => 1 [required_options] => 1 [created_at] => 2020-05-22 12:59:22 [updated_at] => 2020-05-22 12:59:22 ) [1] => Array ( [entity_i

[2020-05-22 14:25] okorshenko opened #28335 "test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-05-22 14:27] #28335 closed

[2020-05-22 14:31] CarmineDamore78 commented on #25766
@magento give me 2.4-develop instance

[2020-05-22 14:31] magento-engcom-team commented on #25766
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-22 14:33] magento-engcom-team commented on #25766
Hi @CarmineDamore78, here is your [Magento instance](https://i-25766-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25766-2-4-develop.instances.magento-community.engineering/admin_012b](https://i-25766-2-4-develop.instances.magento-community.engineering/admin_012b)
Login: `25232d9a` Password: `04005903eab3`
Instance will be terminated in up to 3 hours.

[2020-05-22 14:49] CarmineDamore78 commented on #25766
@magento-admin issue not reproducible on Magento 2.4-develop
<img width="1920" alt="Screenshot 2020-05-22 at 15 46 41" src="https://user-images.githubusercontent.com/49639257/82680096-b6b0bf80-9c43-11ea-8913-50f6721f57ac.png">
<img width="1920" alt="Screenshot 2020-05-22 at 15 45 14" src="https://user-images.githubusercontent.com/49639257/82680111-bca6a080-9c43-11ea-9ac5-7fc2805c0078.png">
<img wi

[2020-05-22 14:52] okorshenko opened #28336 "test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-05-22 14:53] #28336 closed

[2020-05-22 15:10] Techytt opened #28337 "Critical FedEx Shipping Performance Issue"
We overviewed the vendor/magento/module-fedex/Model/Carrier.php and found that collectRates method makes excessive remote calls on collectTotals requests . The fact that fedex or dhl makes {n} requests to its api and because of this we are experiencing performance issue when we select diferent address after login, update zipcode etc

### Preconditions (*)
1. Magento Open Source 2.3.4
2. FedEx Ship

[2020-05-22 15:23] operator888 commented on #28254
Thank you for your help and your time @CarmineDamore78 !

[2020-05-22 15:54] sdzhepa opened #28338 "[TEST] Verify Magento Instance Deployer"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-05-22 15:55] sdzhepa commented on #28338
@magento give me 2.4-develop instance

[2020-05-22 15:55] magento-engcom-team commented on #28338
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-22 16:23] ghost opened #28339 "[Issue] Prevent product gallery elements from blinking when they load"
This issue is automatically created based on existing pull request: magento/magento2#27871: Prevent product gallery elements from blinking when they load

---------

### Description (*)
In this PR I would like to improve the loading experience of the gallery on product page. On the attached screenshot you can see that there are small periods of time when:
1. Product image disappears and there is a

[2020-05-22 16:32] magento-engcom-team commented on #28339
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.
Tha

[2020-05-22 16:33] magento-engcom-team commented on #28339
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34575` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-22 18:48] ghost opened #28340 "[Issue] Fix handling of mixins for modules with no dependencies defined"
This issue is automatically created based on existing pull request: magento/magento2#27690: Fix handling of mixins for modules with no dependencies defined

---------

### Description (*)
This PR addresses an issue that was outlined in https://github.com/magento/magento2/pull/25587#issuecomment-611074021 and investigated by me afterwards.

This is a regression I have introduced when refactoring mi

[2020-05-22 19:14] okorshenko opened #28341 "Test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-05-22 19:16] #28341 closed

[2020-05-22 19:16] magento-engcom-team commented on #28340
Based on the provided information internal tickets `` for 2.4.x were created.

[2020-05-22 19:20] magento-engcom-team commented on #28340
Based on the provided information internal tickets `MC-34579` for 2.4.x were created.

[2020-05-22 19:49] ghost opened #28342 "[Issue] Clean expired quotes - Fix out of memory on huge quotes list"
This issue is automatically created based on existing pull request: magento/magento2#27260: Clean expired quotes - Fix out of memory on huge quotes list

---------
### Description (*)
On production we had a lot of expired quotes, and during cron run we were getting fatal error:
[code]

Investigation found that cron job `sales_clean_quotes` fails with out of memory because it tries to load all quot

[2020-05-22 19:53] magento-engcom-team commented on #28342
Based on the provided information internal tickets `` for 2.4.x were created.

[2020-05-22 19:57] magento-engcom-team commented on #28342
Based on the provided information internal tickets `` for 2.4.x were created.

[2020-05-22 19:59] magento-engcom-team commented on #28342
Based on the provided information internal tickets `MC-34583` for 2.4.x were created.

[2020-05-23 01:28] mrtuvn commented on #28302
@engcom-Echo Why close this issue ?
I only got issue in cli mode ! No problem with web wizard install

When i recheck codebase i found  seem magento want to remove wizard install in 2.4.0
https://github.com/magento/magento2/blob/2.4-develop/setup/src/Magento/Setup/Model/SearchConfig.php
Above link is latest changed related with my issue

[2020-05-23 02:13] mrtuvn commented on #28302
Error because you put wrong elasticsearch hostname. This issue not happen with me. Only get issue in cli

[2020-05-23 04:13] MagePsycho commented on #26908
This is also reproduced in Magento 2.3.5, FYI.

[2020-05-23 09:24] #28227 closed

[2020-05-23 10:19] VZeroCool opened #28344 "Rest response translation"
### Preconditions (*)

1. Magento 2.3.3 CE

### Steps to reproduce (*)

1. Trigger {baseUrl}/rest/{store_code}//V1/carts/mine/items with customer token to add product to cart
2. Add "The requested qty is not available","الكمية المطلوبة غير متوفرة." to app/design/frontend/Vendor/ThemeName/ChildTheme/i18n/ar_SA.csv
"

### Expected result (*)

1. Response of API should be translated

### Actual resul

[2020-05-23 11:43] VZeroCool commented on #28344
Since it require custom theme I cant able to reproduce at develop instance.

[2020-05-23 12:59] Manak commented on #21264
I've found a way to reproduce this issue.

<domain>/catalog/product_compare/index/1,2

seems to create the broken entry.

[2020-05-23 13:11] hemendraajmera commented on #23196
@scoops87 can you please share URL of Amasty extension.

[2020-05-23 16:20] yavuz opened #28345 "Incorrect CSS selector in shipment page"
https://github.com/magento/magento2/blob/c9a246a100a0208ea156a3596864d638a2a0cfa3/app/code/Magento/Sales/view/frontend/templates/order/print/shipment.phtml#L64

I think this line should be like this.

`<div class="box box-order-billing-address">`

Am I wrong?

[2020-05-23 17:24] Thomas-gt3 commented on #28145
@magento give me 2.4-develop instance

[2020-05-23 17:24] magento-engcom-team commented on #28145
Hi @Thomas-gt3. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-23 17:25] magento-engcom-team commented on #28145
Hi @Thomas-gt3, here is your [Magento instance](https://i-28145-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28145-2-4-develop.instances.magento-community.engineering/admin_ce87](https://i-28145-2-4-develop.instances.magento-community.engineering/admin_ce87)
Login: `d2b45935` Password: `085f2a98de70`
Instance will be terminated in up to 3 hours.

[2020-05-23 17:46] Thomas-gt3 commented on #28145
I reproduced:

![Screenshot_2020-05-23 Shopping Cart](https://user-images.githubusercontent.com/57117461/82737004-0966a600-9d2e-11ea-8141-150e7e0abd5d.png)

If I refresh with F5, the value becomes correct again :

![Screenshot_2020-05-23 Shopping Cart(1)](https://user-images.githubusercontent.com/57117461/82737008-0f5c8700-9d2e-11ea-9fe0-9ff1505750ff.png)

[2020-05-23 18:22] Serializator commented on #28315
At first I was hesitant to agree with this but I looked a bit into the possible implementation and saw that `Magento\Framework\DB\Select` does support random sorting but it gets abstracted away.

Aside from the seeming support for it, achieving truly random sorting but at the same time be able to use the API (use the repositories and search criteria instead of collections directly) doesn't seem po

[2020-05-23 19:09] DominicWatts commented on #28315
You are correct

Factory collections have methods to support this

https://github.com/magento/magento2/blob/2.3/app/code/Magento/Sales/Model/ResourceModel/Order/Item/Collection.php#L75-L79

But completely overlooked in sortorder

[2020-05-23 19:52] Serializator commented on #28315
If this were to be added it'd impact the following classes, at least, the ones I've found till now.

- `Magento\Framework\Data\Collection\AbstractDb`
- `Magento\Eav\Model\Entity\Collection\AbstractCollection`
- `Magento\Catalog\Model\ResourceModel\Product\Collection`
- `Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection`
- `Magento\Reports\Model\ResourceModel\Review\ProductCollection`

[2020-05-23 20:49] Serializator commented on #28320
@magento give me 2.4-develop instance

[2020-05-23 20:49] magento-engcom-team commented on #28320
Hi @Serializator. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-23 21:36] Hanhan1989 opened #28346 "Magento 2 settings cannot be edited in admin when we have run magento app: config: dump in developer mode"
### Preconditions (*)

1. Magento 2.3.5-p1
2.  php7.3.x
3. mysql 5.7
4. Linux Ubuntu 20.x

### Steps to reproduce (*)

1. Set the Magento in developer mode.
2. Run the command `magento app: config: dump`
3. Go to admin, for example: Click Stores > Settings > Configuration > Advanced > System > Full Page Cache.
4. The options are desabled.

### Expected result (*)

1. The options should be editable

[2020-05-24 01:03] dmcmillin commented on #28251
some customers might not be using 2.4 but rather 2.3.5 which is what's available from both composer and https://magento.com/tech-resources/download

please advise.

[2020-05-24 08:06] atIOCrON opened #28347 "Braintree credit memo for partial invoice tax amount incorrect"
### Preconditions (*)

1. Magento CE 2.3.4 with sample data
2. Braintree payment method is set up with "Payment Action" set to "Authorize":

<img width="895" alt="Screen Shot 2020-05-24 at 6 02 36 pm" src="https://user-images.githubusercontent.com/19744729/82748889-c74e6a80-9de8-11ea-968a-62e7d2597fb7.png">

3. Stores > Configuration > Sales: Tax > Tax Classes setup like below:

<img width="1123"

[2020-05-24 11:07] vinaysikarwar opened #28348 "Error when installing version magento 2.4 on apache2"
### Preconditions (*)

  - Installing laminas/laminas-dependency-plugin (1.0.4): Downloading (100%)
PHP Fatal error:  Uncaught Error: Undefined class constant 'PRE_COMMAND_RUN' in /var/www/magento2/vendor/laminas/laminas-dependency-plugin/src/DependencyRewriterPlugin.php:63
Stack trace:
#0 /usr/share/php/Composer/EventDispatcher/EventDispatcher.php(378): Laminas\DependencyPlugin\DependencyRewriter

[2020-05-24 11:30] sudheers-kensium commented on #28145
@magento give me 2.4-develop instance

[2020-05-24 11:30] magento-engcom-team commented on #28145
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-24 12:26] lbajsarowicz commented on #28314
Magento 1 is not supported

[2020-05-24 12:26] #28314 closed, assigned to nobody

[2020-05-24 12:37] Serializator commented on #28348
Hi @vinaysikarwar,

I think this might be a duplicate of #27867, can you confirm?

[2020-05-24 13:01] vinaysikarwar commented on #28348
I got it fixed . it was a composer version issue.

[2020-05-24 13:01] #28348 closed, assigned to nobody

[2020-05-24 13:08] Serializator commented on #28347
@magento I'm working on this

[2020-05-24 13:11] Serializator commented on #28347
@magento I'm working on this

[2020-05-24 14:10] ProkopovVitaliy commented on #28291
I will work on this issue.

[2020-05-24 14:55] plastikschnitzer commented on #25177
@magento give me 2.4-develop instance

[2020-05-24 14:55] magento-engcom-team commented on #25177
Hi @plastikschnitzer. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-24 14:56] magento-engcom-team commented on #25177
Hi @plastikschnitzer, here is your [Magento instance](https://i-25177-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25177-2-4-develop.instances.magento-community.engineering/admin_6a5d](https://i-25177-2-4-develop.instances.magento-community.engineering/admin_6a5d)
Login: `fed670cf` Password: `d8a2e579f19c`
Instance will be terminated in up to 3 hours.

[2020-05-24 15:20] plastikschnitzer commented on #25177
Hi @magento I can confirm the issue still exists on the latest 2-4-dev instance.

[2020-05-24 16:00] damienwebdev commented on #8399
I've followed @misha-kotov concept here and added a CORS package for both the GraphQl and REST APIs: https://github.com/graycoreio/magento2-cors

[2020-05-24 18:47] cyildirim commented on #28124
I was able to reproduce and tested the solution that @Hexmage suggested. It works fine.

[2020-05-24 18:48] cyildirim commented on #28124
@magento I am working on this

[2020-05-24 18:49] cyildirim commented on #28124
accepted

[2020-05-24 19:39] yogeshkhasturi commented on #5873
Same issue in Magento 2.3.5 after migration from 1.8.1,
https://prnt.sc/smz8ii

have you fixed this issue?

[2020-05-24 20:01] cyberbloke opened #28353 "Check Component Dependency"
Hello All,
I have just installed Magento 2.3.5.p.l version.

I tried to install new component and theme and when doing that, the system gets an error:

Component Dependency Check Fails. Though I have tried to look around on google and did try few fixes on composer.json -- to no avail.

Can you help me with this one as its an urgent issue for us.

Thanksl
![Magento-Error](https://user-images.github

[2020-05-24 20:37] Serializator opened #28354 "`Magento\PageBuilder\Plugin\Filter\TemplatePlugin` mismatching strict type"
### Preconditions (*)
1. Magento 2.3.5-p1
2. Page Builder

### Steps to reproduce (*)
Invoke `Magento\Framework\Filter\Template->filter(...)` with `null` as value

### Expected result (*)
An empty string, at least not a type error if strict types aren't used for the invoked method

### Actual result (*)

### Cause
It is caused by the `Magento\PageBuilder\Plugin\Filter\TemplatePlugin` which uses st

[2020-05-24 20:49] patruvlad commented on #26963
@magento-engcom-team I checked the commits from the pull request , this issue is not fixed, Critical CSS should have a loader when activated and in the commits the only thing that happens is that the js needed for that loader is removed from requirejs-config when the file itself should be added for the loader to work

[2020-05-24 22:51] lbajsarowicz commented on #28317
The reported issue looks like the issue with config cache on user's instance. Please make sure that you have configured your caches

[2020-05-25 00:14] ssniranga commented on #27655
I am having the same issue on Register form

[2020-05-25 00:30] DanielRuf commented on #27655
https://github.com/magento/magento2/issues/27655#issuecomment-618378693
https://github.com/magento/magento2/issues/27655#issuecomment-618384385

[2020-05-25 03:33] Techytt commented on #28337
any further update on this @magento-engcom-team ?

[2020-05-25 04:45] Serializator commented on #28354
@lbajsarowicz, I don't have access to that repository

[2020-05-25 04:58] ecoprince commented on #6401
@magento-engcom-team All links goes to 404. Please update it.

[2020-05-25 04:58] ecoprince commented on #6401
@magento-engcom-team All links goes to 404. Please update it.

[2020-05-25 06:00] pacsylpz opened #28355 "Magento ver. 2.3.5-p1Invalid input datetime format of value '5/26/2020'"
### Preconditions (*)

1. Magento ver. 2.3.5-p1
2. PHP 7.3
3. LOCALE ENGLISH:
![image](https://user-images.githubusercontent.com/63178850/82782875-f5e93700-9e22-11ea-83cc-89fa9406635a.png)

### Steps to reproduce (*)

1. I am trying to set product as new
2. not working it says: Invalid input datetime format of value '5/26/2020'

### Expected result (*)

1. I do expect for the product to be saved.

[2020-05-25 06:03] krishprakash commented on #28347
Hi @atIOCrON. Issue is duplicate to #26284 and already in open state
so closing this issue
Thanks!!

[2020-05-25 06:03] #28347 closed, assigned to krishprakash

[2020-05-25 07:37] krishprakash commented on #28355
Hi @pacsylpz.
Not able to reproduce on 2.3.5-p1 instance as provided steps by you.
Kindly refer below screenshots for same:
![image](https://user-images.githubusercontent.com/46617848/82789761-7e4df300-9e88-11ea-8889-ee7e537e3da8.png)

![image](https://user-images.githubusercontent.com/46617848/82789844-a2113900-9e88-11ea-9d8d-7beaa7a1eedb.png)

Kindly provide more detailed steps to reproduce this

[2020-05-25 07:40] k4emic commented on #13765
Does this mean that no fix is planned for 2.3?

[2020-05-25 07:49] lbajsarowicz commented on #28354
@tkacheva Could you move the issue to PageBuilder repository, please?

[2020-05-25 07:58] chequille commented on #28092
@prasannachelladurai90
Could you reporduce it now?
Again the information: it does not happen in 2.3.4
Regards
Chequille

[2020-05-25 08:45] ssniranga commented on #27655
I added above to the JS file but still getting the issue mate

[2020-05-25 09:11] prasannachelladurai90 commented on #28092
@chequille Thanks for checking in. My magento instance seems to be down and i have requested for a new instance but haven't received one yet. Will get back to you once the instance is up.

[2020-05-25 09:11] prasannachelladurai90 commented on #28092
@magento give me 2.4-develop instance

[2020-05-25 09:11] magento-engcom-team commented on #28092
Hi @prasannachelladurai90. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-25 09:17] DanielRuf commented on #27655
Did you recompile everything?

https://github.com/magento/magento2/issues/27655#issuecomment-618391308

[2020-05-25 09:28] ssniranga commented on #27655
Yes. Did everything

[2020-05-25 09:46] gigulinu commented on #26896
Any update for this matter? Still exist in magento 2.3.5-p1

[2020-05-25 10:29] PascalBrouwers commented on #28271
Extended the \Magento\CatalogWidget\Block\Product\ProductsList class to include \Magento\Catalog\Api\CategoryRepositoryInterface in it's constructor. Getting the same error.

[2020-05-25 10:31] lbajsarowicz commented on #28271
Thanks for your report @PascalBrouwers , reopening the issue for further investigation and fix.

[2020-05-25 10:43] VigneshVenkatesan154 commented on #27632
@magento give me 2.4-develop instance

[2020-05-25 10:43] magento-engcom-team commented on #27632
Hi @VigneshVenkatesan154. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-25 10:45] magento-engcom-team commented on #27632
Hi @VigneshVenkatesan154, here is your [Magento instance](https://i-27632-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27632-2-4-develop.instances.magento-community.engineering/admin_3e87](https://i-27632-2-4-develop.instances.magento-community.engineering/admin_3e87)
Login: `40cfd4ec` Password: `32afa321e779`
Instance will be terminated in up to 3 hours.

[2020-05-25 10:50] engcom-Echo commented on #26749
The issue has been fixed: #27365

[2020-05-25 10:50] #26749 closed, assigned to nobody

[2020-05-25 10:57] engcom-Delta commented on #28267
Hi @muzzamal reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) if you are facing this issue on the latest `2.4-develop` branch.
Thank you for collaboration.

[2020-05-25 10:57] #28267 closed, assigned to engcom-Delta

[2020-05-25 11:06] jakwinkler opened #28356 "Webapi.xml - The consumer isn't authorized to access %resources in OAuth integration"
### Preconditions (*)

1. Magneto 2.3.x
2. Example module: https://www.mageplaza.com/magento-2-better-blog/

### Steps to reproduce (*)

1. Create a new module which adds new route to web API via `webapi.xml`
2. Create an ACL rule to control access to new route, `acl.xml`
3. Create new integration, OAuth, make sure you have working key paris. Allow new integration to have access to **ALL** resourc

[2020-05-25 11:12] gwharton commented on #28239
Looks like the change was made on purpose as an optimisation.

[2020-05-25 11:13] qsolutions-pl commented on #14626
Didn't work, same issue.

[2020-05-25 11:16] PascalBrouwers commented on #28271
Nevermind. I see now the CategoryRepositoryInterface was added to the \Magento\CatalogWidget\Block\Product\ProductsList constructor.

I did not update the parent::__construct call accordingly.

@lbajsarowicz  you can close the issue

[2020-05-25 11:26] stupachenko opened #28357 "Error when creating a store view if there are CMS pages with the same URL key"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Navigate to Admin Panel > Stores > All Stores and create 2 store views:
[code]
[code]
2. Navigate to Admin Panel > Content > Pages and create 2 pages:
[code]
[code]
3. Navigate to Admin Panel > Stores > All Stores and create store view
[code]

### Expected result (*)

1. Store view created successfully.

### Actual resul

[2020-05-25 11:35] kpitn commented on #28154
I confirm the bug, is anyone upgrade to 2.3.5 ?

When cart section reload url is :
http://xxx/customer/section/load/?sections=c%2Cu%2Cs%2Ct%2Co%2Cm%2Ce%2Cr&_=1590406308206

(decode = http://xxxx/customer/section/load/?sections=c,u,s,t,o,m,e,r&_=1590406308206

[2020-05-25 11:45] engcom-Echo commented on #28302
Hi @mrtuvn.
Unfortunately, I was not able to reproduce:
 ![image](https://user-images.githubusercontent.com/51681435/82810122-58c7e600-9e96-11ea-9dd4-9a05bcef6514.png)

This issue out occurs if Elasticsearch is configured incorrectly.:
![Uploading image.png…]()

[2020-05-25 11:47] engcom-Echo commented on #28302
Hi @mrtuvn.
Unfortunately, I was not able to reproduce:
![image](https://user-images.githubusercontent.com/51681435/82810216-93ca1980-9e96-11ea-98a0-846bc7b5407a.png)

[2020-05-25 11:47] engcom-Echo commented on #28302
This issue out occurs if Elasticsearch is configured incorrectly :
![image](https://user-images.githubusercontent.com/51681435/82810258-aa707080-9e96-11ea-8cf6-8050d3792c75.png)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest

[2020-05-25 11:47] #28302 closed, assigned to nobody

[2020-05-25 11:51] stupachenko opened #28358 "URL rewrites are not generated for categories with "Include in Menu=No" when creating a store view"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Navigate to Admin Panel > Catalog > Categories, select root category and add new subcategory:
[code]
2. Open created category on the frontend using direct URL /hidden-category.html
3. Navigate to Admin Panel > Stores > All Stores and create new store view:
[code]
4. Return to frontend, switch to German store view.
5. Ope

[2020-05-25 12:33] cenobitz commented on #10819
Has anyone managed to import CSV multiselect attributes to Magento 2.3/2.5? The funny thing is that when I export from Magento fully setuped product with attributes (multiselect) one or more no matter... and import the same file attributes are not imported. Also tried simple 2 columns CSV sku,additional_attributes without success. Am I blind?

[2020-05-25 12:34] mobmoss commented on #11577
I have the same issue with Magento 2.3.3 enterprise, and none engineers at adobe is able to help me with a premium support (cloud). Thank you adobe !

[2020-05-25 12:52] #28271 closed, assigned to nobody

[2020-05-25 13:02] VigneshVenkatesan154 commented on #27632
@vipin12117 The issue is not reproducing. Firstly I enabled the cash on delivery option and checked the full page cache is disabled and the warning message gets displayed. After 15 minutes I logged in back to admin checked the message and full-page cache both remains the same as before

[2020-05-25 14:19] amenk opened #28359 "New order status setting for Zero Subtotal Checkout does not have an effect"
### Preconditions
1. Add item with 0$ and free shipping to the catalog, so can check out for free
2. Configurage "Zero Subtotal checkout" to status "processing", do not invoice items

![step_001](https://user-images.githubusercontent.com/1087128/82821612-b4996b80-9ea4-11ea-9ec8-8cabbdb686d4.png)

### Steps to reproduce
1. buy this item

![step_002](https://user-images.githubusercontent.com/1087128

[2020-05-25 14:20] amenk commented on #28359
@magento give me 2.4-develop instance

[2020-05-25 14:21] magento-engcom-team commented on #28359
Hi @amenk. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-25 14:22] magento-engcom-team commented on #28359
Hi @amenk, here is your [Magento instance](https://i-28359-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28359-2-4-develop.instances.magento-community.engineering/admin_767e](https://i-28359-2-4-develop.instances.magento-community.engineering/admin_767e)
Login: `834a343e` Password: `51f3c1a26d50`
Instance will be terminated in up to 3 hours.

[2020-05-25 14:26] matthew99 opened #28360 "Warning: A non-numeric value encountered when adding 2nd price attribute and sorting in layered nav"
### Preconditions (*)
1. Magento 2.3.5
2. PHP error reporting DEV (show all)

### Steps to reproduce (*)
1. Create new attribute with input type  'price', called 'number'
2. Make it filterable with results
3. Create or edit product, enter a number  '12345' in newly created attribute 'number'
3. Reindex, refresh cache, go to frontend, category with product
4. Click in layered nav on attribute 'numb

[2020-05-25 14:27] matthew99 commented on #28360
@magento give me 2.4-develop instance

[2020-05-25 14:27] magento-engcom-team commented on #28360
Hi @matthew99. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-25 14:28] magento-engcom-team commented on #28360
Hi @matthew99, here is your [Magento instance](https://i-28360-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28360-2-4-develop.instances.magento-community.engineering/admin_29d9](https://i-28360-2-4-develop.instances.magento-community.engineering/admin_29d9)
Login: `2945f643` Password: `fdc8b332c5a4`
Instance will be terminated in up to 3 hours.

[2020-05-25 14:28] amenk commented on #28359
Confirmed on above test instance

[2020-05-25 14:44] engcom-Delta commented on #28239
HI @gwharton could you provide case where we can reuse same hidden image? Image uploaded for product cannot be used by media gallery and same image uploaded for another product has new name in database (name + increment index)
![image](https://user-images.githubusercontent.com/51681379/82822592-b5cf9600-9eae-11ea-907e-49ab3dba876c.png)

[2020-05-25 14:50] matthew99 commented on #28360
Changed product to attribute set 'default', did as above. First product is added to category 1-1 and has attribute test_number_price, '12345'
How can I force re-indexing on dev instance

[2020-05-25 15:00] gwharton commented on #28239
@engcom-Delta I have a separate custom written module that uploads product data to Google Shopping and Google My Business. I need to use different product images for Google feeds than on my front end, so when I create a product I upload two images, one for front end, and one hidden one for Google. My module then picks up this hidden image url and uses that on the google feeds.

The setting in Mage

[2020-05-25 15:04] gwharton commented on #28239
In my module I call

[code]

where `product_page_main_image_gmb` is a custom image type I have defined in my view.xml.

The url returned by this call returns a 404, when the image is "Hidden from product page" as the cached images were not processed by catalog:images:resize after a images cache clear.

[2020-05-25 15:18] gwharton commented on #28239
Perhaps there should be 2 settings, "hidden" and "disabled"

[2020-05-25 15:30] lbajsarowicz opened #28362 "Lack od "Duplicate" option for CMS Blocks and Pages"
### Description (*)
I was pretty convinced, that there is an option to duplicate the CMS Block and Page.

### Expected behavior (*)
On a CMS Block grid, I'd like to have an option to duplicate the block, then be redirected to the "New block" page with all the elements filled.

### Benefits
Easy way to create new blocks based on existing ones.
Eg. when you need to create one for a custom store or y

[2020-05-25 16:08] sedax90 commented on #28173
Magento's behavior is absolutely insane. it is unthinkable to recreate all the caches of an image especially when you have extremely large catalogs.

Why not just generate the image cache that serves as Drupal does? What did those who wrote this stuff think?

[2020-05-25 16:38] gwharton commented on #28173
[code]
Why reuse when you can define your own images. 👎

[2020-05-25 16:43] vincent-jacq opened #28363 "CSP customization through backend"
### Description (*)

The CSP implementation of Magento is great, but not easily changed by the admin users. Everytime a new domain needs to be whitelisted, we need to update the code and redeploy.
What I propose is to add something in the store configuration (ex: "Store > Configuration > Security > CSP") to add custom domain / other to be added for different policies. I think for security reason t

[2020-05-25 21:24] Bilbaukai commented on #5929
For anyone stuck on this issue, I'd be happy to share a solution that works with Magento 2.0 (and later with some minor tweaks) feel free to contact me

[2020-05-25 21:43] DanielRuf commented on #5929
Why not post it publicly? You would help many with this. Also 2.0 (and 2.1) is very old.

[2020-05-25 21:58] mrtuvn commented on #28302
@engcom-Echo i have checked my enviroment again
Everything fits with magento requirements
Elasticsearch 7.2
setup by warden enviroment warden.dev
php 7.4 nodejs 12
can you tell me why this set configured incorrectly ? My instance up and ready only the install step via cli failed caused by elasticsearch

[2020-05-25 22:05] mrtuvn commented on #28302
If i commented the line https://github.com/magento/magento2/blob/2.4-develop/setup/src/Magento/Setup/Model/SearchConfig.php#L69
The installation process success without throw exception.

[2020-05-25 23:35] adarshkhatri commented on #12612
In my 2.3.3-p1 I have a couple of incidents where customers were charged but Magento was not able to create order.

In the log I see this:

I can change the country just fine.

**My biggest problem is that I cannot reproduce this. Can anyone guide me in here?**

Customer explained that after hitting the place order button, the checkout page froze but then PayPal sent them a successful payment emai

[2020-05-26 01:15] pacsylpz commented on #28355
Hello, here is a recording I have made with the configuration I have:

https://drive.google.com/file/d/1bkPaDpABepiUexKaOBWp8LwQ-XfhV486/view

I have two websites under the same magento with different, domains:
![image](https://user-images.githubusercontent.com/63178850/82851136-6eec9b00-9ec4-11ea-8576-f7c5cab84bc4.png)

[2020-05-26 01:43] snowgy920 commented on #27942
@Krapulat I have same problem. Did you get any chance to solve this issue?

[2020-05-26 02:54] VivekShingala commented on #27002
Truncating cron_schedule table manually fixed the issue for me.

[2020-05-26 03:36] pacsylpz commented on #28355
Dear @krishprakash :
I have an update:

I have changed this from ENGLISH TO ESPAÑOL and it works now!
I just wonder, WHY?

![image](https://user-images.githubusercontent.com/63178850/82857956-19ba8480-9ed8-11ea-9647-401a981141da.png)

[2020-05-26 04:48] krishprakash commented on #28359
Hi @amenk.
Seems issue is already reported and in open status
You can track the conversation from [#12671](https://github.com/magento/magento2/issues/12671)
Thank you for your report !!

[2020-05-26 04:48] #28359 closed, assigned to krishprakash

[2020-05-26 05:12] sainialpana opened #28364 "Product save issue"
I am having issue when saving the product after import customizable options, the error comes "No such entity"

[2020-05-26 05:36] amenk commented on #12671
What is missing in the steps to reproduces is that "automatically invoice all items" has to be set to "no". If it is set to yes, the status becomes processing as expected after checkout.
Is also still reproducible in 2.4-develop (see the duplicate issue #28359)

[2020-05-26 05:42] MohitRane commented on #21738
Thank you @khasru for a fix. It's working in 2.3.4

[2020-05-26 06:15] silversil commented on #27942
Me too.. Anyone found a solution for this BUG?

How it's possible all these bugs on a platform?!

[2020-05-26 06:25] #28120 closed

[2020-05-26 06:31] swathishs commented on #28145
@magento give me 2.3.5p1

[2020-05-26 06:32] kate-kyzyma commented on #28291
I will cover it by MFTF test.

[2020-05-26 06:33] swathishs commented on #28236
@magento give me a 2.3.5-develop instance

[2020-05-26 06:34] krishprakash commented on #28355
@pacsylpz. Great :+1:  Thank you !! then I 'm closing this as this is only a configuration problem

[2020-05-26 06:34] #28355 closed, assigned to krishprakash

[2020-05-26 06:40] swathishs commented on #28358
@magento give me 2.4-develop instance

[2020-05-26 06:40] magento-engcom-team commented on #28358
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-26 06:42] magento-engcom-team commented on #28358
Hi @swathishs, here is your [Magento instance](https://i-28358-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28358-2-4-develop.instances.magento-community.engineering/admin_e44f](https://i-28358-2-4-develop.instances.magento-community.engineering/admin_e44f)
Login: `6694e8cb` Password: `a2565879f849`
Instance will be terminated in up to 3 hours.

[2020-05-26 06:49] CarmineDamore78 commented on #26908
@magento give me 2.4-develop instance

[2020-05-26 06:49] magento-engcom-team commented on #26908
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-26 06:50] magento-engcom-team commented on #26908
Hi @CarmineDamore78, here is your [Magento instance](https://i-26908-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26908-2-4-develop.instances.magento-community.engineering/admin_cc0f](https://i-26908-2-4-develop.instances.magento-community.engineering/admin_cc0f)
Login: `80035028` Password: `f3429e277c7c`
Instance will be terminated in up to 3 hours.

[2020-05-26 06:55] Sutharsan27 commented on #28092
@magento give me 2.4-develop instance

[2020-05-26 06:55] magento-engcom-team commented on #28092
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-26 06:59] swathishs commented on #28358
The issue is been reproduced on the 2.4-develop branch

Attachments:
1.**New subcategory:**
![image](https://user-images.githubusercontent.com/58288685/82869358-bec27500-9f4b-11ea-8a65-944d1e6af63f.png)

2.**Frontend with default view:**
![image](https://user-images.githubusercontent.com/58288685/82869533-0ba64b80-9f4c-11ea-81cb-788f41deaca3.png)

3. **New store view:**
![image](https://user-image

[2020-05-26 07:00] Sutharsan27 commented on #28334
@magento give me 2.4-develop instance

[2020-05-26 07:00] magento-engcom-team commented on #28334
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-26 07:02] magento-engcom-team commented on #28334
Hi @Sutharsan27, here is your [Magento instance](https://i-28334-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28334-2-4-develop.instances.magento-community.engineering/admin_7193](https://i-28334-2-4-develop.instances.magento-community.engineering/admin_7193)
Login: `13e7c30c` Password: `bbfe6f6fbab3`
Instance will be terminated in up to 3 hours.

[2020-05-26 07:03] magento-engcom-team commented on #28358
@swathishs Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-26 07:08] magento-engcom-team commented on #28358
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34622` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-26 07:11] prasannachelladurai90 commented on #27235
@magento give me 2.4-develop instance

[2020-05-26 07:11] magento-engcom-team commented on #27235
Hi @prasannachelladurai90. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-26 07:13] CarmineDamore78 commented on #26908
@magento, @magento-admin The issue is not reproducible on M2.4-develop

[2020-05-26 07:23] swathishs commented on #28357
@magento give me 2.4-develop instance

[2020-05-26 07:23] magento-engcom-team commented on #28357
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-26 07:25] magento-engcom-team commented on #28357
Hi @swathishs, here is your [Magento instance](https://i-28357-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28357-2-4-develop.instances.magento-community.engineering/admin_461c](https://i-28357-2-4-develop.instances.magento-community.engineering/admin_461c)
Login: `919b85fe` Password: `80634986853c`
Instance will be terminated in up to 3 hours.

[2020-05-26 07:33] john-dhm commented on #27942
I'm facing the same issue and I can't find the answer. This seems like a big deal and it would be nice if someone had the time to look into this issue.

**Summary of the issue**
Custom Layout Update dropdown in backend doesn't show custom layout.

 **Information on your environment**
Magento v2.3.5-p1
PHP 7.3.18

 **Steps to reproduce**
Created a file called "catalog_category_view_selectable_20_Wo

[2020-05-26 07:40] swathishs commented on #28357
The issue is been reproduced on the 2.4-develop branch
Please find the attachment below:
1. **Two store view:**
![image](https://user-images.githubusercontent.com/58288685/82873290-e61c4080-9f51-11ea-9879-b6d8af648ffc.png)

2. **Two Pages:**
![image](https://user-images.githubusercontent.com/58288685/82873402-149a1b80-9f52-11ea-8e51-9df3dc396117.png)

3. **Creating third store view (Error):**
![im

[2020-05-26 07:43] magento-engcom-team commented on #28357
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34637` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-26 08:12] prasannachelladurai90 commented on #28092
@chequille The issue is Reproduced on the  2.4-develop branch

Please refer to attachment https://drive.google.com/open?id=1_WgX9rifH5l_Ud6thz3MS-E_rPPQU5J1

and i have also edited the steps to Recreate. Thanks for the inputs

[2020-05-26 08:16] magento-engcom-team commented on #28092
:white_check_mark: Confirmed by @prasannachelladurai90
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34638` were created

**Issue Available**: @prasannachelladurai90, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-26 08:27] chandru-199 commented on #27901
@magento I am working on this

[2020-05-26 08:30] engcom-Delta commented on #28346
Hi @Hanhan1989 thank you for your report. After run `app:config:dump` any configuration settings in `config.ph`p or `env.php` are [locked](https://devdocs.magento.com/guides/v2.3/config-guide/deployment/pipeline/technical-details.html#configuration-settings-locked-in-the-magento-admin) in the Magento Admin - this is expected behavior. Here: [Recommended pipeline deployment workflow](https://devdoc

[2020-05-26 08:30] #28346 closed, assigned to engcom-Delta

[2020-05-26 08:40] Hanhan1989 commented on #28346
Can you create the functionality that all options are unlocked in a specific mode?
For example: all settings are unlocked when we run
` bin / magento deploy: mode: set developer`

Thanks

[2020-05-26 09:18] Hanhan1989 opened #28367 "Unlock settings in admin when Magento is in developer mode after we have run magento app: config: dump"
### Description (*)

I'm talking about the magento 2 pipeline deployment.
This way of deploying requires the command `magento app:config:dump`. After running this command, almost all admin settings are closed and to change any configuration in the development stage, we need to execute other commands such as `magento app:config:set`

### Expected behavior (*)

Unlock all settings in admin when Mage

[2020-05-26 09:22] #27449 closed

[2020-05-26 09:32] pradeeprcs opened #28368 "Queue consumers issue when we install multi website instance in same server"
### Preconditions (*)

1.  Version :- Magento 2.3.4
2.  Install two M2 website (not multi website). 2 different instance.
3.  Setup cron for both website (website1 and website2)
4.  in both website env.php consumer will run by cron
'cron_consumers_runner' => [
        'cron_run' => true
    ]
5. Nginx + Ubuntu

### Steps to reproduce (*)

1. Make sure cron is running for both website
2. Make sure

[2020-05-26 09:37] pradeeprcs commented on #28368
@magento I am working on this

[2020-05-26 09:39] pradeeprcs commented on #28368
issue is in the vanilla Magento

[2020-05-26 10:29] tellows commented on #4409
Currently working on a migration to Magento 2.3.5 and this translation bug is still happening. I am afraid that this and other bugs (wrong date on invoice) will never be solved. Being forced by PayPal to do a migration to an untested and rarely working shopsystem...

[2020-05-26 10:39] reynevan opened #28369 "Page is not loading from cache after removing cookies"
### Preconditions (*)

1. Magento version: 2.3.5
2. Create additional website with one store and one store view
3. Create two virtual hosts. One for each website (e.g. magento.local and one.magento.local)
3. Cache is enabled

![image](https://user-images.githubusercontent.com/6200427/82890949-465cb380-9f4d-11ea-84b0-a88de956431a.png)

### Steps to reproduce (*)

1. Open additional website in brows

[2020-05-26 10:45] pradeeprcs commented on #28368
@magento I am working on this

[2020-05-26 10:52] PiotrSiejczuk commented on #13961
@lenaorobei seems the issue is still there and valid. More details were provided. Is there a chance you can check internally the situation? Thank you in advance!

[2020-05-26 11:38] byjujohn commented on #22142
@giacmir I managed to import it after removing the below entries from the `app/etc/config.php` file temporarily. Please note that there are two set of entries for the `tablerate` remove both.
[code]

Then do a cache clean - `php bin/magento cache:clean`. Now if you try to import it, this should work.

[2020-05-26 11:54] Sherbieny commented on #21614
@magento-engcom-team I am running on Magento Enterprise 2.3.2 and I am able to reproduce the issue. When quickly adding consecutive items to cart via AJAX quote is dropped after first addition, new one created and assigned, then the old one is added back again with the third or fourth addition, and sometimes it just keeps jumping from one to another

[2020-05-26 12:10] engcom-Delta commented on #28346
@Hanhan1989 feel free to create issue in [community-features](https://github.com/magento/community-features/issues) repo for further discussion

[2020-05-26 12:13] flancer64 commented on #28066
@HirokazuNishi , I've created module to collect CSP reports and generate rules to eliminate error spam in console - https://github.com/flancer32/mage2_ext_csp You can try to use it.

[2020-05-26 12:30] hryvinskyi commented on #26882
I create patch for maegnto 2.3.4 https://gist.github.com/hryvinskyi/5313b25c30839edd82e7f3d295f00666

[2020-05-26 12:31] textarea commented on #27072
Hello @sdzhepa,

I'm sorry but I will not provide more details about the use cases and business value, or about improved dev experience this issue can bring.

When I build a database schema I use all the tools the RDBMS makes available according to my needs.

Magento 2.3 declarative schema misses some foreign key constraints that are supported by standards RDBMS.

Best regards

[2020-05-26 13:22] SzabKel opened #28370 "Updating CMS page via api should NOT remove related URL rewrites"
### Preconditions (*)

1. Magento ver. 2.3.3 (I tested this on two different environments, one is our hosted magento solution, other one is a [bitnami virtual machine.](https://bitnami.com/stack/magento/virtual-machine) )
3. Setup an integration for the rest api, allow CMS actions

### Steps to reproduce (*)

1. Add a new CMS Page, magento will automatically add a rewrite for each language (accord

[2020-05-26 13:29] webgility-amazonapi opened #28371 "Not able to sync products cost using api /rest/V1/products/cost"
Hi Magento,

We are using magento version 2.3.0 community edition.
We want to sync the cost but we are not able to sync cost.
API : rest/V1/products/cost
Request : {"prices":[{"cost":100.0,"store_id":0,"sku":"Test Prdouct-104"}]}
Response : []

We are getting empty body in response. how can we solve this ?

[2020-05-26 14:18] webgility-amazonapi opened #28372 "Not able to sync products cost using api /rest/V1/products/cost"
**Summary of the issue:**
Not able to sync products cost using the api /rest/V1/products/cost
Followed the Documentations https://devdocs.magento.com/redoc/2.3/admin-rest-api.html#operation/catalogCostStorageV1UpdatePost

**Information on your environment :**
Magento 2 Local environment.

**Steps to reproduce :**
A Configure the postman
B Make an API call using the below details
API : rest/V1/prod

[2020-05-26 14:21] lenaorobei commented on #13961
@qsolutions-pl @PiotrSiejczuk
Thank you for reporting. We will triage this issue with product organization and prioritize.
Hopefully you are able to use OAuth-based authentication following DevDocs with non-empty `Callback URL` and `Identity link` values.

[2020-05-26 14:26] webgility-amazonapi opened #28374 "Not able to sync products cost using api /rest/V1/products/cost"
### Preconditions (*)

1. Magento version 2.3.5

### Steps to reproduce (*)

1. Configure the postman
2. Make an API call using the below details
API : rest/V1/products/cost
Request : {"prices":[{"cost":100.0,"store_id":0,"sku":"Test Prdouct-104"}]}

### Expected result (*)

1. Expected Result
 [
    {
        "message": "string",
        "parameters": [
                                "string"

[2020-05-26 16:09] cenobitz commented on #14881
No matter what kind of separator U use CSV import is not working for me tested on fresh install PHP7.1/7.2 with new products manually added and imported demo store... I even exported 1 product from Magento store and imported it again and attributes are missing. I've tested even simple text attribute and this is not imported as well... I've wasted so much time for this...
I made also tests with one

[2020-05-26 16:24] medigeek commented on #26052
What's the status on this issue?

[2020-05-26 17:04] ghost opened #28376 "[Issue] Generated code is not consistent with Magento requirements and Coding Standard"
This issue is automatically created based on existing pull request: magento/magento2#28351: Generated code is not consistent with Magento requirements and Coding Standard

---------
### Preconditions:
If you generate Patch using Magento CLI tool and then check it against Coding Standard, several issues are going to be reported.

### Related Pull Requests

### Fixed Issues (if relevant)
N/A

### St

[2020-05-26 17:06] ghost opened #28377 "[Issue] MFTF: Share wishlist with not valid email address"
This issue is automatically created based on existing pull request: magento/magento2#28330: MFTF: Share wishlist with not valid email address

---------
This PR contains MFTF test for Customer's WishList sharing with not valid email addresses.
PR contains **refactoring** of existed test for wishlist sharing (`StorefrontShareWishlistEntityTest`)
**Deprecated** `StorefrontCustomerShareWishlistAction

[2020-05-26 20:03] Bartlomiejsz commented on #26613
Hi @sdzhepa, not sure about exact way to simulate approach mentioned in ticket, but you can simulate error itself by manually changing `entity_id` in `review_entity` table for `product`. Error is caused by hardcoded value of identifier - 1 - in code, while it also exists in database table.

[2020-05-26 20:04] magento-engcom-team commented on #26118
Hi @TomashKhamlai, @danielrenaud.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [04c698f79c9dad11b5880132657126b176b550ef](https://github.com/magento/magento2/commit/04c698f79c9dad11b5880132657126b176b550ef)
 - [d2bef485f2624705af236181b77cb0d2496196c6](https://github.c

[2020-05-26 20:04] #26118 closed, assigned to danielrenaud

[2020-05-26 20:06] magento-engcom-team commented on #26113
Hi @stijnbernards, @danielrenaud, @karyna-tsymbal-atwix.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [1b8dfb27053cf03e98c19a0b47a98dfeb5e54459](https://github.com/magento/magento2/commit/1b8dfb27053cf03e98c19a0b47a98dfeb5e54459)
 - [6666ea5aeef42c60564f9fc11a9e9b920fb

[2020-05-26 20:06] #26113 closed, assigned to danielrenaud, karyna-t

[2020-05-26 20:22] ccrothers commented on #25862
I've also seen (since at least 2.3.2, but likely in earlier versions too) deadlock wait timeouts on inventory_source_item under heavy loads. Not sure if that is related, but could be. Very likely a ticket somewhere for that already.

[2020-05-26 20:51] jajajaime commented on #26882
@hryvinskyi Thanks for the patch, but it seems to be failing in a few places to apply on 2.3.4. I am getting this in response

[code]

Most are just template location, as they should be on the vendor folder and easy to update, but I'm not sure about the Model classes.

[2020-05-26 21:20] jajajaime commented on #26882
I actually adapted it for my `ShipmentSender` class, but it still doesn't fix the issue for me.
This was my change anyway
[code]

[2020-05-27 00:37] ghost opened #28381 "[Issue] Load storage polyfill conditionally"
This one follows the approach from #27618 which let's us remove loading of storage polyfill so it is only applied for those rare cases when it is not supported. I also reformatted requirejs-config.js keys a bit so it is aligned with other configurations you can find in Magento codebase.

### Preconditions (*)

1. Magento version 2.3.5

### Steps to reproduce (*)

1. Storage polyfill is only loaded

[2020-05-27 00:44] magento-engcom-team commented on #28381
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-27 00:44] magento-engcom-team commented on #28381
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34671` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-27 01:05] ghost opened #28382 "[Issue] [PERF Improvements]Load polyfills for browsers that don't support certain features"
Here I'm using RequireJS configuration and the whole deps mechanism to conditionally load browser features polyfils only when needed. Changes in this PR include:

### Preconditions (*)

1. Magento version 2.3.5

### Steps to reproduce (*)

### Expected result (*)

UI components, e.g. in checkout or admin are still functional.
Polyfills for Map, WeakMap, FormData and MutationObserver are loaded onl

[2020-05-27 01:08] magento-engcom-team commented on #28382
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34672` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-27 01:19] ghost opened #28383 "[Issue] Improve Interceptor generator"
This issue is automatically created based on existing pull request: magento/magento2#27902: Improve Interceptor generator

---------
### Description (*)
1. Removed `} else {` from Interceptors
2. Replaced foreach with array_map

#### Performance difference
Running `setup:di:compile` before and after my changes compared.
![image](https://user-images.githubusercontent.com/1639941/79744690-1b0bf680-8

[2020-05-27 01:22] magento-engcom-team commented on #28383
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-27 01:22] magento-engcom-team commented on #28383
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34673` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-27 02:12] harishps commented on #5351
We are seeing this issue in  Magento 2.3.3, while updating the configurable product

[2020-05-27 03:11] CompactCodeEU commented on #17531
I can confirm this is still the case in 2.3.1

[2020-05-27 05:08] sambath1293 commented on #28145
@magento give me 2.4-develop instance

[2020-05-27 05:09] magento-engcom-team commented on #28145
Hi @sambath1293. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 05:19] swathishs commented on #28364
@sainialpana: Thank you for your report. Could you please update the step to reproduce and attach the actual result and expected result. So that I could able to validate the ticket.

[2020-05-27 05:29] swathishs commented on #26994
@magento give me 2.4-develop instance

[2020-05-27 05:29] magento-engcom-team commented on #26994
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 05:30] magento-engcom-team commented on #26994
Hi @swathishs, here is your [Magento instance](https://i-26994-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26994-2-4-develop.instances.magento-community.engineering/admin_7186](https://i-26994-2-4-develop.instances.magento-community.engineering/admin_7186)
Login: `2940c3e7` Password: `9c3a4ec78128`
Instance will be terminated in up to 3 hours.

[2020-05-27 06:06] PivitParkour94 opened #28384 "Active Website Specific Catalog Rule Fails Index"
### Preconditions (*)

1. Magento 2.3.5-p1
2. PHP7.3

### Steps to reproduce (*)

1. Create catalog rule with website id other than default
2. Ensure the timezone for that website config is set to Use Default (make sure there is no value in the database for that specific website scope)
3. Activate the catalog rule
4. Run `bin/magento indexer:reindex`

### Expected result (*)

1. Indexer runs witho

[2020-05-27 06:22] sambath1293 commented on #28145
@magento give me 2.4-develop instance

[2020-05-27 06:22] magento-engcom-team commented on #28145
Hi @sambath1293. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 06:23] swathishs commented on #28360
@magento give me 2.4-develop instance

[2020-05-27 06:23] magento-engcom-team commented on #28360
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 06:28] VZeroCool commented on #28344
@magento-engcom-team any update ?

[2020-05-27 06:32] ajijshekh123 commented on #28265
@magento give me 2.4-develop instance

[2020-05-27 06:32] magento-engcom-team commented on #28265
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 06:34] nayan88 commented on #25099
Updated this Image.php file in 2.3.4 version and its working fine, but after I upgraded to 2.3.5 then again issue reproduce, not the image is stored in tmp directory but not moved to actual media/catalog/category directory.

is anyone face this issue on 2.3.5 version ?

[2020-05-27 06:35] ajijshekh123 commented on #28313
Hi @jaydeepvs,
Nothing update from your end.
Let me close the issue. If you have reproduced this issue again. You can reopen the issue with proper description, Magento instance and steps.

Thanks.

[2020-05-27 06:35] #28313 closed, assigned to ajijshekh123

[2020-05-27 06:50] igorwulff commented on #27559
Hi @mflott do you know what the impact is of removing the `AND (num_results > 0)` part? Or do you have any other suggestion to improve this? We are seeing the same issues here with larger datasets.

[2020-05-27 07:00] leroynas commented on #28224
The same goes for logged in customers via graphql. On submitting the placeOrder method there is no confirmation email send to the customer email.

[2020-05-27 07:00] webtekindo commented on #23938
I totally agree, we works with Magento since it exists and there was never any solution for that problem. We cannot do legal accounting in current situation.

[2020-05-27 07:19] ajijshekh123 commented on #28265
Hello @majidiyan,
I have reviewed this issue as per your details.
**Scenario 1:**
When I have to Update the Pagination "20" to "200" products count My browser is stuck for few minutes and I can't able to any action for this page but after few seconds it works normally.
**Scenario 2:**
I have to change the Pagination "20" to "5" and review the product list. It's working fine on the latest Magento 2

[2020-05-27 07:25] ajijshekh123 commented on #28272
Hello @atIOCrON,
In Default Magento 2.4 Instance Braintree Payment method is not available so I can't able to review this issue in the Latest Magento Instance.

Thanks.

[2020-05-27 07:28] luisgsoft commented on #23938
I cannot understand how a bug of this importance can be on hold for a year.

[2020-05-27 08:28] support-smartebusiness opened #28386 "product rest api/bulk endpoint - SKU doesn't exist exception"
<h3>Preconditions (*)</h3>
Magento 2.3.3 CE</br>
PHP 7.2

### Summary (*)

I am attempting to use the magento product bulk endpoint rest service to import products into magento. I am following the guide as per: https://devdocs.magento.com/guides/v2.3/rest/tutorials/bulk-configurable-product/create-configurable-simple-products.html

When I call the endpoint (<host>/rest/default/async/bulk/V1/produc

[2020-05-27 08:35] chalov-anton opened #30163 "Add ability to search by multiple keywords in Media Gallery"
### Description (*)
Now, _Search by keywords_ in Media Gallery can only find images by one single word.
But what if I have a thousand images in the Media Gallery, and my search request by one word matches several images
![search_by_keywords](https://user-images.githubusercontent.com/45624059/82996229-589e2680-a00d-11ea-97ed-58e9be53bd28.png)

What if I would like to specify my search request simpl

[2020-05-27 08:49] ilnytskyi opened #28387 "AUTO_INCREMENT grows on every INSERT ... ON DUPLICATE on InnoDB tables"
### Preconditions (*)

1. any magento version, mysql or mariaDB database
2. Magento 2.4-develop
3. InnoDB tables
4. Magento uses queries like this to save new values or update existing in tables
see method `\Magento\Eav\Model\Entity\AbstractEntity::_processAttributeValues`
[code]

The problem causes that the table reaches max autoincrement value too fast that leads to errors.
Changing column type

[2020-05-27 09:04] jkg1996 commented on #27655
@ssniranga how you editing the core or patch?

[2020-05-27 09:05] jkg1996 commented on #27655
this fix worked for me I am not getting that error now. try to change the core first see if that works then create a patch.
The core file is located ->magento\module-ui\view\base\web\js\lib\validation\rules.js line 1071

[2020-05-27 09:06] ilnytskyi commented on #28387
At first growing auto_increment will cause the issue

Then devs might consider changing the column type to allocate bigger ints

but the value will be growing

It seems to be DB issue or db configuration issue, however It is not mentioned or documented by  Magento.

Additionally, magento does not chose between INSERT or UPDATE when add or modify values so the issue happens.

https://dev.mysql.com/

[2020-05-27 10:48] 0stone0 commented on #18091
Could you please share your jQuery and Fotoama versions? Experiencing the same issue after upgrading jQuery.

[2020-05-27 12:15] amenk commented on #28197
@magento give me 2.4-develop instance

[2020-05-27 12:15] magento-engcom-team commented on #28197
Hi @amenk. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 12:16] magento-engcom-team commented on #28197
Hi @amenk, here is your [Magento instance](https://i-28197-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28197-2-4-develop.instances.magento-community.engineering/admin_4875](https://i-28197-2-4-develop.instances.magento-community.engineering/admin_4875)
Login: `a4af1103` Password: `223e4d0d4bd1`
Instance will be terminated in up to 3 hours.

[2020-05-27 12:31] amenk commented on #28197
Reproduced in develop-2.4
	$ BEARER="91wi3rzds1wdlr75iohpso9v55v7d94o"
	$ BASEURL="https://i-28197-2-4-develop.instances.magento-community.engineering"
	$ echo '{"category":{"name":"Test","is_active":1,"parentId":2}}' > /tmp/datacreate.json
	$ curl -k -X POST $BASEURL/rest/V1/categories -H 'Content-Type: application/json' -H "Authorization: Bearer $BEARER" -d @/tmp/datacreate.json > /tmp/result.js

[2020-05-27 12:40] DanieliMi commented on #28197
As workaround we tried to pass `save_rewrites_history` without success.
Example payload:
[code]

[2020-05-27 12:47] nayan88 commented on #11995
Issue coming in 2.3.5 after magento version upgrade also as well in fresh installation of 2.3.5

[2020-05-27 13:20] YaninaPrudnikova opened #28388 "Downloadable product is available in My Download Products tab after it has been partially refunded"
### Preconditions (*)

1. Magento CE 2.3.5 wih sample data is installed.
2. Order with a download product and a product, requiring shipping, (e.g. simple product) is created.
3. The downloadable product is available in My Downloadable Products tab.

### Steps to reproduce (*)

1. Open this order page in Admin.
2. Perform a partial refund for the downloadable product (the other product is not refun

[2020-05-27 13:33] sdzhepa commented on #28092
@magento give me 2.4-develop instance

[2020-05-27 13:33] magento-engcom-team commented on #28092
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 13:35] sdzhepa commented on #28338
@magento give me 2.4-develop instance

[2020-05-27 13:36] magento-engcom-team commented on #28338
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 13:45] sdzhepa opened #28390 "TEST"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-05-27 13:46] sdzhepa commented on #28390
@magento give me 2.4-develop instance

[2020-05-27 13:46] magento-engcom-team commented on #28390
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 13:47] magento-engcom-team commented on #28390
Hi @sdzhepa, here is your [Magento instance](https://i-28390-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28390-2-4-develop.instances.magento-community.engineering/admin_8638](https://i-28390-2-4-develop.instances.magento-community.engineering/admin_8638)
Login: `8c687e6a` Password: `d72341f5b2af`
Instance will be terminated in up to 3 hours.

[2020-05-27 13:52] swathishs commented on #28360
@magento give me 2.4-develop instance

[2020-05-27 13:52] magento-engcom-team commented on #28360
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 13:56] gigulinu commented on #21885
2.3.5-p1 duplicate images - issue not fixed

[2020-05-27 14:01] Sutharsan27 commented on #28334
@magento give me 2.4-develop instance

[2020-05-27 14:01] magento-engcom-team commented on #28334
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 14:16] Digisha-97 commented on #28100
@magento give me 2.4-develop instance

[2020-05-27 14:16] magento-engcom-team commented on #28100
Hi @Digisha-97. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 14:18] magento-engcom-team commented on #28100
Hi @Digisha-97, here is your [Magento instance](https://i-28100-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28100-2-4-develop.instances.magento-community.engineering/admin_61d1](https://i-28100-2-4-develop.instances.magento-community.engineering/admin_61d1)
Login: `6e193aea` Password: `aa48c7a1512f`
Instance will be terminated in up to 3 hours.

[2020-05-27 14:29] sdzhepa commented on #26370
Thank you for confirmation @bernd-reindl
@fyi @shikhamis11

Seems it was already fixed in some other internal or external PRs
Close this issue and related PR https://github.com/magento/magento2/pull/26562

[2020-05-27 14:29] #26370 closed, assigned to shikhamis11

[2020-05-27 14:30] ChintanKaneriya commented on #23411
We habe Magento v2.3.2. we are facing same issue.

Most of our customer facing this issue, it's happening multiple times a day. it seems to be an issue with once they login, and then come back to the site.. not sure what's causing it.

they are seeing the "Invalid customer addres id" error in the checkout page in the front end.

Can someone give me the final patch to solve this issue?

[2020-05-27 14:37] lenaorobei commented on #26110
@magento give me 2.4-develop instance

[2020-05-27 14:37] magento-engcom-team commented on #26110
Hi @lenaorobei. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 14:38] magento-engcom-team commented on #26110
Hi @lenaorobei, here is your [Magento instance](https://i-26110-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26110-2-4-develop.instances.magento-community.engineering/admin_7b6b](https://i-26110-2-4-develop.instances.magento-community.engineering/admin_7b6b)
Login: `79ed051f` Password: `9a178b5c48e9`
Instance will be terminated in up to 3 hours.

[2020-05-27 14:39] swathishs commented on #28388
@magento give me 2.4-develop instance

[2020-05-27 14:39] magento-engcom-team commented on #28388
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-27 14:41] magento-engcom-team commented on #28388
Hi @swathishs, here is your [Magento instance](https://i-28388-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28388-2-4-develop.instances.magento-community.engineering/admin_2f57](https://i-28388-2-4-develop.instances.magento-community.engineering/admin_2f57)
Login: `834c9a5f` Password: `3933fe214544`
Instance will be terminated in up to 3 hours.

[2020-05-27 14:41] Digisha-97 commented on #28100
@magento I am working on this

[2020-05-27 15:07] ghost opened #28392 "[Issue] Action Groups for Check exist/not exist Category in Category list on Product Edit page."
This issue is automatically created based on existing pull request: magento/magento2#28287: Action Groups for Check exist/not exist Category in Category list on Product Edit page.

---------

### Description (*)
Action Group for MFTF tests:

**AdminProductFormCategoryExistInCategoryListActionGroup**
Check if exist Category Name in Categories list on Product edit page.

**AdminProductFormCategoryNo

[2020-05-27 15:07] ghost opened #28393 "[Issue] MFTF: Refactoring AdminUpdateCustomURLRewritesPermanentTest"
This issue is automatically created based on existing pull request: magento/magento2#28361: MFTF: Refactoring AdminUpdateCustomURLRewritesPermanentTest

---------

### Description (*)
AdminUpdateCustomURLRewritesPermanentTest is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

1. N/A

### Manual testing scenarios (*)

Run the

[2020-05-27 15:08] ghost opened #28394 "[Issue] magento/magento2#: Add additional test coverage to “updateCustomer” mutation"
This issue is automatically created based on existing pull request: magento/magento2#28304: magento/magento2#: Add additional test coverage to “updateCustomer” mutation

---------

### Description (*)

PR adds a test coverage for the next cases of `updateCustomer` mutation:
- Invalid date of birth
- Invalid email address
- Empty customer last name

### Related Pull Requests

### Fixed Issues (if r

[2020-05-27 15:19] swathishs commented on #28360
@matthew99: The issue is not reproducible on Magento 2.4 develop instance.

Please refer the attachment below:
1. **New attribute**:
![image](https://user-images.githubusercontent.com/58288685/83038461-9bd2b680-a05a-11ea-9aa2-52af9c9d091e.png)
2. **New product with number attribute**:
![image](https://user-images.githubusercontent.com/58288685/83038547-b7d65800-a05a-11ea-9363-17446d854623.png)
3.

[2020-05-27 15:21] amenk commented on #17583
Still able to reproduce, similar issue https://github.com/magento/magento2/issues/28197

Please reopen

[2020-05-27 15:21] ChintanKaneriya commented on #23411
Which Commit should I use to solve the issue?

[2020-05-27 15:28] amenk commented on #28197
The issue is a different one than originally reported.

Workaround here is: When supplying custom attribute url_key, the rewrite entry is generated.
This is consistent because via backend we also have to edit the URL key and not only the name.

The real problem is, that when we create the category, the URL rewrite table entry is only generated for the first store view.

[2020-05-27 15:33] amenk opened #28395 "When creating a new category via API, not all redirect entries are generated"
### Preconditions
1. develop-2.4
2. Create website austria_web, store austria_store, storeview "austria"

### Steps to reproduce
1.  Call this script

		BEARER=`n98-magerun2 admin:token:create admin` # or get a bearer via API
		BASEURL="http://put-your-magento-base-url-here"
		echo '{"category":{"name":"Test","is_active":1,"parentId":2}}' > /tmp/datacreate.json

		curl -k -X POST $BASEURL/rest/V1/

[2020-05-27 15:33] sambath1293 commented on #28372
Hi @webgility-amazonapi this is a duplicate of https://github.com/magento/magento2/issues/28374 so closing this bug.

[2020-05-27 15:34] #28372 closed, assigned to nobody

[2020-05-27 15:34] amenk commented on #28197
closed in favor of #28395

[2020-05-27 15:34] #28197 closed, assigned to nobody

[2020-05-27 15:34] sambath1293 commented on #28371
Hi @webgility-amazonapi this is a duplicate of #28374 so closing this bug.

[2020-05-27 15:34] #28371 closed, assigned to nobody

[2020-05-27 15:41] swathishs commented on #28360
Hi @matthew99, thank you for your report. According to the contributor's guide, Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop branch.
If you'd like to update the issue, please reopen it.

[2020-05-27 15:41] #28360 closed, assigned to swathishs

[2020-05-27 16:15] amenk commented on #28395
I was able to reproduce it on 2.4-develop

[2020-05-27 16:43] pixiemediaweb commented on #26908
For anyone looking for a quick fix to this;

File: Magento\Customer\Model\CustomerExtractor

Line 83'ish, change;

$isGroupIdEmpty = !isset($allowedAttributes['group_id']);

To;

$isGroupIdEmpty = !isset($customerData['group_id']);

[2020-05-27 18:15] slavvka commented on #28311
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#26855 by @yogeshsuhagiya in 2.4-develop branch
Related commit(s):
 - [b4c2cc5a1df3ff1b4dd5646db1f8125fd8c1fceb](https://github.com/magento/magento2/commit/b4c2cc5a1df3ff1b4dd5646db1f8125fd8c1fceb)
 - [bc48e67f7c91f388ad49b02a1c4a6f4aa01e34a9](https://github.com/magento/magento2/commit/bc48e67f7c91f388ad49b

[2020-05-27 18:15] #28311 closed, assigned to nobody

[2020-05-27 18:28] steved1982 commented on #28161
![image](https://user-images.githubusercontent.com/14214911/83058438-485b6b00-a050-11ea-996e-d62f9b55ba37.png)

[2020-05-27 19:26] 1coffeeman commented on #24113
I would appreciate understanding the fix?  We are experiencing similar issue with 2.2 on existing site that has been running for 4 yrs. Nothing has changed, but all of a sudden it will not take credit cards. We are using Braintree by PP.

[2020-05-27 20:25] 09eric09 opened #28396 "Table is not being saved correctly in Database after Installing an extension."
Hello,

I have an extension I am trying to install on Magento 2.3.4 and when I enable it via SSH, it seems the prefix is ignored in the database table. .

**Preconditions (*)**
Magento 2.3.4
Mage StoreReward Points Extension version 1.2.0.

**Steps to reproduce (*)**
I've tried manually adding the prefix, but it does not fix the issue.
I have also ran the command php bin/magento setup:upgrade

**E

[2020-05-27 21:56] carb0nknight commented on #14409
I realize this thread is closed and incredibly old, but I'm currently getting this error in a brand new 2.3.5-p1 environment
<img width="1678" alt="Screen Shot 2020-05-27 at 2 54 25 PM" src="https://user-images.githubusercontent.com/16326949/83076331-2fd85a00-a02a-11ea-83a8-3a3c903e09c6.png">
.

[2020-05-27 22:18] LiamKarlMitchell commented on #9850
```composer require experius/module-wysiwygdownloads```
Works by the way I'm using Magento 2.3.2 although thumbnails are not showing.

[2020-05-27 23:17] magento-engcom-team commented on #28166
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34700` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-28 02:47] slavvka commented on #1335
Hi @JamesAnelay. Thank you for your report.
The issue has been fixed in magento/magento2#28219 by @Nazar65 in 2.4.0-develop branch
Related commit(s):
 - [660eb755b8dcabac7e3ad093386923fa470f41de](https://github.com/magento/magento2/commit/660eb755b8dcabac7e3ad093386923fa470f41de)
 - [f434c972eea54f916a9b44e3051b94e094a46253](https://github.com/magento/magento2/commit/f434c972eea54f916a9b44e3051b94

[2020-05-28 02:47] slavvka commented on #1342
Hi @tobi-pb. Thank you for your report.
The issue has been fixed in magento/magento2#28220 by @gabrieldagama in 2.4.0-develop branch
Related commit(s):
 - [a99046895db46350951b5e0daa290f3dc189d525](https://github.com/magento/magento2/commit/a99046895db46350951b5e0daa290f3dc189d525)
 - [8f841a045f586e95308934dce32cbc1aeca3d621](https://github.com/magento/magento2/commit/8f841a045f586e95308934dce32c

[2020-05-28 02:47] slavvka commented on #28155
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28140 by @Neos2007 in 2.4.0-develop branch
Related commit(s):
 - [af42bcacaeff85862c44aeadd1369209a8b3279f](https://github.com/magento/magento2/commit/af42bcacaeff85862c44aeadd1369209a8b3279f)
 - [c7484f7c70403b1391b5ca7ba7d58881b9e49d5a](https://github.com/magento/magento2/commit/c7484f7c70403b1391b5ca7ba

[2020-05-28 02:47] #28155 closed, assigned to Neos2007

[2020-05-28 04:41] #28325 closed

[2020-05-28 05:25] Mohamed-Asar opened #28397 "Magento UI Dynamic rows validate only the current page input elements not all the pages."
### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)

1. Go to product edit page & click advanced pricing.
2. In customer group price dynamic rows, add 20 rows, fill all the inputs.
3. add one more row it will go to the next page, don't fill anything & then came back to the first page.
4. click done and save.

### Expected result (*)

1. It should validate all the inputs in the dynami

[2020-05-28 05:57] sambath1293 commented on #28145
@magento give me 2.4-develop instance

[2020-05-28 05:57] magento-engcom-team commented on #28145
Hi @sambath1293. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-28 06:00] patricksabado commented on #27431
@magento give me 2.4-develop instance

[2020-05-28 06:01] magento-engcom-team commented on #27431
Hi @patricksabado. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-28 06:02] magento-engcom-team commented on #27431
Hi @patricksabado, here is your [Magento instance](https://i-27431-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27431-2-4-develop.instances.magento-community.engineering/admin_ae7c](https://i-27431-2-4-develop.instances.magento-community.engineering/admin_ae7c)
Login: `b2ca5c18` Password: `70685336dcd4`
Instance will be terminated in up to 3 hours.

[2020-05-28 06:12] hostep commented on #23411
@ChintanKaneriya, you need them all, here they are combined: https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/25307.diff or alternatively:  https://github.com/magento/magento2/commit/2c43b82f624806d163ffc598cb6d2f8c3ea0c420

[2020-05-28 06:25] patricksabado commented on #27431
confirmed working on 2.4-develop

[2020-05-28 06:25] #27431 closed, assigned to nobody

[2020-05-28 06:36] mflott commented on #27559
Hi @igorwulff . I'm not sure if removing the num_results will have any impact, would have to check that part a bit deeper.

Instead of a patch for reverting the PR, we decided to override the execute function in Magento_CatalogSearch/Controller/Result/Index instead and changed it to only use the getNotCacheableResult part, and removed code for the getCacheableResult part. This pretty much changes

[2020-05-28 06:40] swathishs commented on #28388
@magento give me 2.4-develop instance

[2020-05-28 06:40] magento-engcom-team commented on #28388
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-28 06:43] swathishs commented on #28364
@magento give me 2.4-develop instance

[2020-05-28 06:43] magento-engcom-team commented on #28364
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-28 06:44] magento-engcom-team commented on #28364
Hi @swathishs, here is your [Magento instance](https://i-28364-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28364-2-4-develop.instances.magento-community.engineering/admin_7d92](https://i-28364-2-4-develop.instances.magento-community.engineering/admin_7d92)
Login: `49b5380a` Password: `366f4a1cb78e`
Instance will be terminated in up to 3 hours.

[2020-05-28 06:47] igorwulff commented on #12718
Hi @chohanbhagchand is there any progress on this issue? It is causing quite some issues with our client projects.

[2020-05-28 07:03] VigneshVenkatesan154 commented on #28397
@magento give me 2.4-develop instance

[2020-05-28 07:03] magento-engcom-team commented on #28397
Hi @VigneshVenkatesan154. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-28 07:05] magento-engcom-team commented on #28397
Hi @VigneshVenkatesan154, here is your [Magento instance](https://i-28397-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28397-2-4-develop.instances.magento-community.engineering/admin_87a5](https://i-28397-2-4-develop.instances.magento-community.engineering/admin_87a5)
Login: `f1cbfd81` Password: `ac8312300cdb`
Instance will be terminated in up to 3 hours.

[2020-05-28 07:14] VigneshVenkatesan154 commented on #28397
The issue is reproducible in magento2.4 instance.
![image](https://user-images.githubusercontent.com/60877551/83110600-f0b91000-a0e0-11ea-9077-0d0d7b02e116.png)

[2020-05-28 07:15] magento-engcom-team commented on #28397
:white_check_mark: Confirmed by @VigneshVenkatesan154
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34703` were created

**Issue Available**: @VigneshVenkatesan154, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-28 07:17] Mohamed-Asar commented on #28397
@magento I am working on this

[2020-05-28 07:55] JamesAnelay commented on #1335
Thanks for taking the time to update us here @slavvka :)

[2020-05-28 08:01] Nazar65 commented on #1335
Actually this is wrong issue number, the same number but in adobe-stock repository :)

[2020-05-28 08:08] muhannadalhariri commented on #2380
also faced in 2.3.5-p1

[2020-05-28 09:06] VigneshVenkatesan154 commented on #28122
@iamshy As per Magento the authorize .net integration will be removed in Magento 2.4.0 release and available as extension So the issue is not valid. Closing the issue.

Please go through the below link.
https://docs.magento.com/user-guide/payment/authorize-net-direct-post.html

[2020-05-28 09:06] #28122 closed, assigned to VigneshVenkatesan154

[2020-05-28 10:04] ihor-sviziev commented on #24047
Hi @engcom-Charlie,
Could you double check if the issue still there? We have a comments that it's already fixed in 2.4-develop.
https://github.com/magento/magento2/issues/24047#issuecomment-590399350

[2020-05-28 10:13] swathishs commented on #28388
@YaninaPrudnikova: Issue is reproducible in Magento 2.4-develop instance

Please find the attachment below:

1. Shopping cart:
![image](https://user-images.githubusercontent.com/58288685/83128784-882a5d00-a0f9-11ea-8639-1da09133044c.png)

2. Downloaded product before invoice:
![image](https://user-images.githubusercontent.com/58288685/83128904-ad1ed000-a0f9-11ea-8022-a55523b16c3d.png)

3. Order in

[2020-05-28 10:15] magento-engcom-team commented on #28388
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34710` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-28 10:17] tomster69 commented on #3946
I am getting the same issue with a new install of Magento 2.

[2020-05-28 10:20] ihor-sviziev commented on #26829
@engcom-Alfa we already migrated to phpunit 9, so issue should be fixed. Could you confirm that?

[2020-05-28 10:27] grossmann commented on #27874
@magento-engcom-team
Question: Is this going to be backported to Magento 2.3.x or do I have to upgrade to 2.4.0 when it is released? I could not find any documentation about how backports are handled in Magento 2.
Thanks for your reply.

[2020-05-28 10:34] zouhongzhao commented on #23623
This is a bug in the design, it is generally difficult to trigger, but I successfully triggered, the steps are as follows:
1. Create an order without creating an invoice
2. Create a ship, you will receive an email, open this tracking link, it is normal now
3. Create invoice, then refresh the tracking link above, and find 404.
Because protect_code is updated every time it is saved, the code is in
M

[2020-05-28 10:46] bhupendravgroup commented on #27239
I did run the setup:di:compile in production mode,still not working

[2020-05-28 10:51] xxorax commented on #25835
Why does not include `upload_tmp_dir` in the allowed directories ?
It think it's required unless `sys_get_temp_dir()  == get_cfg_var('upload_tmp_dir') `

This is (wrongly?) [stored in SYS_TMP](https://github.com/magento/magento2/blob/18ca553fd11e08349c49e61b72e8fa160bad8d5d/lib/internal/Magento/Framework/Filesystem/DirectoryList.php#L100) and it seems there no DirectoryList const key for it...

Ma

[2020-05-28 10:55] ProkopovVitaliy commented on #28358
I will work on this issue.

[2020-05-28 11:28] lbajsarowicz opened #28403 "No information about the patch that failed on setup:upgrade"
### Preconditions (*)
1. Magento 2.3.2

### Steps to reproduce (*)
1. Create multiple Data Patches
2. Trigger exception in one of them

### Expected result (*)
1. `setup:upgrade` displays which one failed

### Actual result (*)
1. Only the exception message is displayed without a brief information where the exception was caused (which data patch failed)

---
Please provide [Severity](https://devdo

[2020-05-28 11:34] lyusya-nnn opened #28404 "Bundle product import with multiple options"
### Preconditions (*)

Magento 2.3.4

### Steps to reproduce (*)

1. In backend go to System -> Import, select product import and import bundle product using the attached file (rename to csv)
[catalog_product.txt](https://github.com/magento/magento2/files/4695155/catalog_product.txt)
2. Check that product is created with 3 options:
![Sprite_Yoga_Strap_Fixed_Bundle_Products_Inventory_Catalog_Magent

[2020-05-28 11:38] ldc321 opened #28405 "/carts/mine/shipping-information rest Api subtotal error"
### Preconditions (*)

1.Magento 2.3.4 php 7.2.18
2.

### Steps to reproduce (*)

1.use discount code
2.set tax
3. call rest api /carts/mine/shipping-information

### Expected result (*)

1.  To get the correct subtotal

### Actual result (*)

1. subtotal error
2.
![image](https://user-images.githubusercontent.com/57743360/83137902-8625c580-a11c-11ea-935f-157b32e03f5a.png)

---
Please provide [Sev

[2020-05-28 11:52] lbajsarowicz opened #28406 "Cannot save just loaded CMS Block"
### Preconditions (*)
1. Magento 2.3.2
1. Having CMS Block attached to one store

### Steps to reproduce (*)
1. Create 2 modules (`A` and `B`)
2. Create 2 Data Patches in each module. (`A1`, `A2`, `B1, `B2`)
3. Use `A1` DataPatch to create CMS block, `A2` to modify the title, `B1` to modify the content.

Sample code of update Content:
[code]

### Expected result (*)
1. CMS Block contents updated

[2020-05-28 11:55] ProkopovVitaliy commented on #28388
I will work on this issue.

[2020-05-28 12:05] Hexmage commented on #28224
duplicate of https://github.com/magento/magento2/issues/28124

[2020-05-28 12:23] chalov-anton commented on #26110
Rechecked on the latest Magento 2.4-develop

The issue is still reproducible.
I can successfully perform the following queries and Place an order:
[code]
and Place order
[code]
The order is created in Admin Panel
![order_admin](https://user-images.githubusercontent.com/45624059/83140291-86ab6580-a0f6-11ea-9580-c6bdf73ff58d.png)

Admin can successfully:
1. Send Email
2. Invoice
3. Ship
and **Comple

[2020-05-28 12:41] engcom-Kilo commented on #28096
@leovaimo Can not reproduce with Magento ver. 2.3.5 / 2.4-develop

Please describe preconditions, products type, product visibility settings,  etc.

[2020-05-28 12:55] engcom-Alfa commented on #28354
@sdzhepa Could you move this issue to the [PageBuilder](https://github.com/magento/magento2-page-builder/issues) repo? Thanks!

[2020-05-28 13:25] hostep commented on #27874
@grossmann: the @magento-engcom-team user is just a bot, it never replies when you ask it something 🙂
If you need a fix, you'd best create a patch yourself and apply it to your shop somehow, that's usually the fastest approach.

@slavvka: can you answer the question above if this fix will be backported to 2.3.x? (maybe the bot can somehow automate its answers when a fix is being backported, that c

[2020-05-28 13:42] swathishs commented on #28404
@magento give me 2.4-develop instance

[2020-05-28 13:43] magento-engcom-team commented on #28404
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-28 13:44] magento-engcom-team commented on #28404
Hi @swathishs, here is your [Magento instance](https://i-28404-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28404-2-4-develop.instances.magento-community.engineering/admin_e0eb](https://i-28404-2-4-develop.instances.magento-community.engineering/admin_e0eb)
Login: `f825f3df` Password: `4c9ad6c38662`
Instance will be terminated in up to 3 hours.

[2020-05-28 14:02] AbdulRahmanAbouzaid commented on #26908
@magento give me 2.4-develop instance

[2020-05-28 14:03] magento-engcom-team commented on #26908
Hi @AbdulRahmanAbouzaid. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-28 14:12] VZeroCool opened #28409 "Cart price rule not working as expected"
### Preconditions (*)

1.   2.3.3 CE
2. AWS EC2 Nginx

### Steps to reproduce (*)

1. Create a product with amount 99, Add this to cart
2. Create cart price rule with flat 200 discount with coupon code when subtotal is equals or greater  than 10
3. Add 4 qty to cart and apply coupon code

### Expected result (*)

1. As cart total is 396 only 200 discount should given to customer

### Actual result

[2020-05-28 14:12] VZeroCool commented on #28409
@magento give me 2.4-develop instance

[2020-05-28 14:12] magento-engcom-team commented on #28409
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-28 14:14] magento-engcom-team commented on #28409
Hi @VZeroCool, here is your [Magento instance](https://i-28409-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28409-2-4-develop.instances.magento-community.engineering/admin_940e](https://i-28409-2-4-develop.instances.magento-community.engineering/admin_940e)
Login: `000aefee` Password: `c59892b94a35`
Instance will be terminated in up to 3 hours.

[2020-05-28 14:20] VZeroCool commented on #28409
Yes can able to reproduce this issue in 2.4 develop instance

I've created https://i-28409-2-4-develop.instances.magento-community.engineering/phone.html
Coupon Code is **SEASONSALE**

[2020-05-28 14:27] swathishs commented on #28404
@lyusya-nnn: The issue is not reproducible in the 2.4-develop instance

Please find the attachment below:
1. **Bundle product**:
![image](https://user-images.githubusercontent.com/58288685/83152868-ed8f4580-a11b-11ea-9d41-8f4761cebfc6.png)

2. **Frontend**:
![image](https://user-images.githubusercontent.com/58288685/83152954-07308d00-a11c-11ea-91c2-493e5c990db5.png)

3. **Second-time file imported

[2020-05-28 14:28] paul-gene commented on #23729
I am still getting this issue in 2.3.4

[2020-05-28 14:28] swathishs commented on #28404
@magento give me 2.3.5p1 instance

[2020-05-28 14:28] magento-engcom-team commented on #28404
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5p1 instance for you

[2020-05-28 15:13] swathishs commented on #28409
@VZeroCool: Tested the issue in 2.4 develop instances. I think the issue is invalid.

Since "Fixed amount discount" will be applied for each quantity

Example: If I keep the Fixed amount discount = 20 , 1 qty = 99 price
               If we add 4 qty means 4*40 = 80 will be the discount amount

Please find the attachments below:

1. **Coupon code with 20 off** :
![image](https://user-images.github

[2020-05-28 15:14] jsiefer commented on #26149
I just run into the same problem. Magento2 seems to fail to generate class `\Magento\Catalog\Api\Data\ProductExtensionInterfaceFactory`.

The Generator responsible for this class generates the files, but is unable to save it because the directory is not yet created.
[
`\Magento\Framework\Code\Generator\EntityAbstract::generate()` ](https://github.com/magento/magento2/blob/892dee45e4f80ae7df04b4ce5

[2020-05-28 16:02] mariojacobo opened #28410 "login page stops working - redis sessions"
### Summary (*)

We are running Magento2 on EKS and have been seeing some issues we just cannot explain. At rest, everything is working fine, no errors, no latency, lgin page works just fine. As soon as we start stress testing with 100s of users and the cluster scales up, we see some initial latency to REDIS and MySQL(which is pretty normal I'd say due to scaling time and what not). 15-20 min into

[2020-05-28 16:06] tushhan commented on #26675
I am using Magento 2.3.4

I have applied @edenduong' code to the file located in; /vendor/magento/framework/Stdlib/DateTime/Timezone.php (line 196)

###############

public function scopeDate($scope = null, $date = null, $includeTime = false)
    {
        $timezone = new \DateTimeZone(
            $this->_scopeConfig->getValue($this->getDefaultTimezonePath(), $this->_scopeType, $scope)
        );

[2020-05-28 16:06] VZeroCool commented on #28409
Ah I see. Good to know that we have solution for this. Thanks for explanation. Hence closing this one.

[2020-05-28 16:24] vDeggial opened #28411 "Magento 2.3.2-p2 upgrade to latest security patch"
Hi there,

We are currently running Magento 2.3.2-p2 on our client's live store. We have been holding off on upgrades to 2.3.3 and 2.3.4 as those had issues that would affect functionality of our client's store and that is not an option

Is there a way to upgrade our 2.3.2-p2 store to latest security patch 2.3.5-p1 without upgrading to the 2.3.5 functionality (essentially keeping it 2.3.2 but with

[2020-05-28 16:58] flakerimi commented on #28204
@magento give me 2.3-develop instance

[2020-05-28 16:58] magento-engcom-team commented on #28204
Hi @flakerimi. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-05-28 17:28] ilnytskyi commented on #20973
Time does not matter if merchant pays for amount of data transfered between redis and app.
e.g. 1 call = 10kb
100 calls = 1000kb

literally means merchant pays 10 times more

[2020-05-28 17:42] sdzhepa commented on #28397
![issue_28397](https://user-images.githubusercontent.com/3409584/83174815-915b0000-a0e0-11ea-9ae8-2cbe0e910c20.gif)

[2020-05-28 19:24] lbajsarowicz commented on #28403
Fixed in 2.4.0

[2020-05-28 19:24] #28403 closed, assigned to nobody

[2020-05-28 19:44] #28224 closed, assigned to dthampy, shikhamis11, danielrenaud

[2020-05-28 19:50] sdzhepa commented on #25173
Hello @rahulwebkul
fyi: @krishprakash, @KarthickSelvam

This report was considered as expected behavior but not an issue. From the merchant perspective, it also could be expected behavior.
After disabling Guest Checkout current customers should be able to complete checkout.

 Magento does not want to change the current result and the issue and related PR should be closed.

[2020-05-28 19:50] #25173 closed, assigned to nobody

[2020-05-28 19:57] sdzhepa commented on #25128
Hello @rahulwebkul
fyi: @krishprakash

This report was considered as expected behavior but not an issue or bug. From the merchant perspective, it also could be expected behavior.
It is not a problem that the merchant receives additional emails to sent e.g. promo info.
Otherwise, admin can remove emails from subscribers list and additionally communicate with a customer instead of showing 404 Magent

[2020-05-28 19:57] #25128 closed, assigned to nobody

[2020-05-28 20:02] sdzhepa commented on #25126
Hello @rahulwebkul
fyi: @krishprakash @AndreyChorniy

This issue has been reviewed on internal Triage meeting with Product Managers.
the same as for https://github.com/magento/magento2/issues/25128

This report was considered as expected behavior but not an issue or bug. From the merchant perspective, it also could be expected behavior.
It is not a problem that the merchant receives additional ema

[2020-05-28 20:02] #25126 closed, assigned to AndreyChorniy

[2020-05-28 20:20] lano-vargas commented on #28244
Same issue here, fresh installation 2.3.5 😒

[2020-05-28 20:45] davygxyz commented on #25099
@nayan88 This issue sucks and they broke it once more. I did however use what @alex-james posted and it seems to work okay.

https://github.com/magento/magento2/issues/25099#issuecomment-593993886

[2020-05-28 21:04] aliomattux commented on #25099
Don't want to deviate from the issue, but I learned quickly not to update
Magento as soon as a new version is released despite them advising you to
do so for these types of issues. When you do update, be sure to check
everything thoroughly. There has been several times in the past when
Magento has released a version that caused additional issues.

On Thu, May 28, 2020 at 3:45 PM davygxyz <notifica

[2020-05-28 21:32] SewHappy58 commented on #27252
Same problem on Magento 2.3.5-p1

[2020-05-28 21:57] SewHappy58 commented on #26687
I'm having the same issue on Magento 2.3.5-p1.  It's a clean install but I imported products

[2020-05-28 22:00] medigeek commented on #27867
If this happens on Ubuntu 18.04, you probably have an outdated version that doesn't even support self-update unfortunately.
So here's a oneliner to install the latest version in /usr/local/bin:

[code]

Check:
[code]

[2020-05-28 22:08] Gabiunlock commented on #27655
fix for me, in cloudflare clear cache clear all cache  and found fine.

[2020-05-28 22:40] tjorgensborg commented on #24199
@PivitParkour94 How did you do to make it work for Layered Navigation?

[2020-05-29 04:07] Digisha-97 commented on #28100
@magento I am working on this
But I am not able to push changes , evenrytime it shows Authentication failed.

[2020-05-29 04:15] Digisha-97 commented on #28100
@magento I am not able to push changes
Do I have permission for it ?

[2020-05-29 04:31] swathishs commented on #28409
As the issue is invalid . Hence closing the issue

[2020-05-29 04:31] #28409 closed, assigned to nobody

[2020-05-29 04:35] swathishs commented on #28404
Hi @lyusya-nnn, thank you for your report. According to the contributor's guide, Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop branch.
If you'd like to update the issue, please reopen it.

[2020-05-29 04:35] #28404 closed, assigned to swathishs

[2020-05-29 04:44] krishprakash commented on #28411
Hi @vDeggial,
GitHub issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com/) for general discussion about this. You will surely get any solution
Thank You !!

[2020-05-29 04:44] #28411 closed, assigned to krishprakash

[2020-05-29 05:13] swathishs commented on #28270
@magento give me 2.4-develop instance

[2020-05-29 05:13] magento-engcom-team commented on #28270
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-29 05:15] magento-engcom-team commented on #28270
Hi @swathishs, here is your [Magento instance](https://i-28270-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28270-2-4-develop.instances.magento-community.engineering/admin_bac1](https://i-28270-2-4-develop.instances.magento-community.engineering/admin_bac1)
Login: `9a4a9882` Password: `351d853ea175`
Instance will be terminated in up to 3 hours.

[2020-05-29 05:32] SzabKel commented on #28370
Update (and workaround):

Magento only deletes the URL Rewrite, if it is added using the "For CMS Page" menu. If I manually add a rewrite and I type in the target as "cms/page/view/page_id/<page_id>", the rewrite won't be deleted!

[2020-05-29 06:24] sunilit42 opened #28416 "collectTotals show down order place"
### Preconditions (*)

1. latest magento
2. add at least 10 product into the cart

### Steps to reproduce (*)

1. add 10 products into cart
2. order place is slow down

### Expected result (*)

1. it should not be called https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Quote/Model/Quote/Payment.php#L187

### Actual result (*)

1. it is calling https://github.com/magento/magent

[2020-05-29 06:41] altdovydas commented on #9136
You can't delete image if any of other store scope (your scope all is 0 store) use it as 'small_image', 'thumbnail' or 'image'.

[2020-05-29 08:48] AleksLi commented on #25115
### NEED HELP
I will need some help figuring out how to init Wildcard requests for the Catalogsearch Queries.

Here is what I have found. There is a type of query like "FilteredQuery" and there is a type called \Magento\Elasticsearch\SearchAdapter\Filter\Builder\Wildcard which is handling the filteredQuery. THere is the mapper to switch between the filters types \Magento\Framework\Search\Request\M

[2020-05-29 08:50] ghost opened #28419 "Customer incorrectly receives Newsletter Unsubscribe email when account confirmation is enabled and they check "Subscribe to newsletter""
### Preconditions (*)

1. Magento 2.3.4
2. "Require Emails Confirmation" configuration option set to "Yes"

### Steps to reproduce (*)

1. Go to register account page
2. Fill in details
3. Check "Subscribe to newsletter"

### Expected result (*)

1. Customer should receive "Please confirm your account" and "Newsletter Subscribe Success" emails

### Actual result (*)

1. Customer receives "Please c

[2020-05-29 08:51] paul-gene commented on #28419
https://github.com/magento/magento2/pull/23737 was supposed to fix an issue with multiple emails, but has apparently introduced the issue above.

I have tested on 2.3.3 and everything works as it should.

[2020-05-29 09:08] acampos1916 commented on #27485
Hey @elisei did you find a way to get the additional lines from the shipping/billing addresses? I'm also facing this issue trying to get those values from a `Magento\Payment\Gateway\Data\Order\AddressAdapter` object in a payment gateway.

[2020-05-29 09:22] grossmann commented on #27874
@hostep Thanks for the hint with the bot ;-).
Sure, I already fixed it on my local 2.3.4-p2 installation. But if I do an composer update in the future, say to 2.3.x then the fix gets lost as it is not back ported.
A release for 2.4.0 is not yet available.

[2020-05-29 09:31] acampos1916 commented on #27485
@elisei nevermind, I see you already fixed it in a PR, cheers!

[2020-05-29 09:33] mischabraam opened #28420 "Product CSV import error report file missing"
### Preconditions (*)
1. Magento 2.3.5-p1
2.

### Steps to reproduce (*)
1. Import a product CSV which will generate errors like a not existing path to an image.
2.

### Expected result (*)
1. An error_report.csv file with the errors generated in the import.
2.

### Actual result (*)
1. No file..... the file is generated, but will be removed after the application ends.
2.

The following causes thi

[2020-05-29 09:42] ajithkumar-maragathavel commented on #28419
@magento give me 2.4-develop instance

[2020-05-29 09:42] magento-engcom-team commented on #28419
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-29 09:43] magento-engcom-team commented on #28419
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-28419-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28419-2-4-develop.instances.magento-community.engineering/admin_8d8a](https://i-28419-2-4-develop.instances.magento-community.engineering/admin_8d8a)
Login: `0116bbb5` Password: `b20e2239b32e`
Instance will be terminated in up to 3 hours.

[2020-05-29 09:51] swathishs commented on #28420
@magento give me 2.4-develop instance

[2020-05-29 09:51] magento-engcom-team commented on #28420
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-29 09:53] magento-engcom-team commented on #28420
Hi @swathishs, here is your [Magento instance](https://i-28420-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28420-2-4-develop.instances.magento-community.engineering/admin_70b5](https://i-28420-2-4-develop.instances.magento-community.engineering/admin_70b5)
Login: `014ba51e` Password: `ccb37a638d04`
Instance will be terminated in up to 3 hours.

[2020-05-29 10:13] swathishs commented on #28420
@mischabraam: The issue is reproducible in Magento 2.4-develop instance

Please find the attachment below:

1.Check the data
![image](https://user-images.githubusercontent.com/58288685/83248061-1c5ff700-a1c2-11ea-982d-d3f8a31ed30c.png)
2. After import
![image](https://user-images.githubusercontent.com/58288685/83248111-313c8a80-a1c2-11ea-9d74-6079acf0c2e3.png)
3. Click on error file
![image](https

[2020-05-29 10:15] mischabraam commented on #28420
Yes, I saw the commit I mentioned is also in de 2.4-develop branch.

[2020-05-29 10:19] magento-engcom-team commented on #28420
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34741` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-29 10:19] gaganmagento commented on #25427
I face this issue in Magento 2.3.3. It works in chrome private window but not in normal browser. I found that it could be related to CsrfValidator or formKeyValidator, but unable to dig further. Any help will be appreciated.
Thanks

[2020-05-29 10:32] mischabraam commented on #28420
![Screenshot_2020-05-29_at_12_29_14](https://user-images.githubusercontent.com/19824986/83250397-57553100-a1a8-11ea-8652-b002d89cbd17.png)

Don't know if this helps or not, but see screenshot above.

[2020-05-29 10:42] paul-gene commented on #28419
@ajithkumar-maragathavel you have requested a 2.4 instance, but this is on 2.3.4, and I am not in a position to use 2.4.

[2020-05-29 10:55] VincentMarmiesse opened #28422 "Newsletter subscription confirmation email never sent again"
### Preconditions (*)
1. Magento 2.4-develop
### Steps to reproduce (*)
1. Enable newsletter subscription confirmation ("Need to Confirm" option)
2. Log in with an account which is not subscribed to the newsletter
3. Subscribe to the newsletter from My account > Newsletter Subscription
4. An email asking for subscription confirmation is received.
5. Imagine the user does not confirm, deletes the e

[2020-05-29 10:57] VincentMarmiesse commented on #28422
@magento give me 2.3.5-p1 instance

[2020-05-29 10:57] magento-engcom-team commented on #28422
Hi @VincentMarmiesse. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-05-29 10:59] magento-engcom-team commented on #28422
Hi @VincentMarmiesse, here is your [Magento instance](https://i-28422-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28422-2-3-5-p1.instances.magento-community.engineering/admin_0ac6](https://i-28422-2-3-5-p1.instances.magento-community.engineering/admin_0ac6)
Login: `a2fc3d31` Password: `07b624bcd9fb`
Instance will be terminated in up to 3 hours.

[2020-05-29 11:04] VincentMarmiesse commented on #28422
Test instance does not seem to send any email so I can't test it.

[2020-05-29 11:19] rickcj opened #28423 "$store.getFrontendName variable in Order Confirmation email wrong"
### Preconditions (*)
Magento 2.3.5
Just upgraded from 2.3.4 to 2.3.5 on staging site and noticed difference after placing test order.

The $store.getFrontendName is now getting the Store Name from the stores->store name not General Configuration -> Store Name:
{{trans "Thank you for your order from %store_name." store_name=$store.getFrontendName()}}

If I insert the Store Name variable in Email T

[2020-05-29 11:20] rickcj commented on #28423
@magento give me 2.3.5-develop instance

[2020-05-29 11:20] magento-engcom-team commented on #28423
Hi @rickcj. Thank you for your request. I'm working on Magento 2.3.5-develop instance for you

[2020-05-29 11:28] engcom-Alfa commented on #26829
Hi, @ihor-sviziev @mbrioski .
We are not able to reproduce this issue on a fresh 2.4-develop after migrated to PHPUnit 9.

**Preconditions:**
Php 7.3
PHPUnit 9.1.5

Run in console: `vendor/bin/phpunit -c /var/www/html/magento24/dev/tests/integration/phpunit.xml.dist
`

**Actual Result:** :heavy_check_mark:  Integration tests runs like expected

![Screenshot from 2020-05-29 14-27-51](https://user-i

[2020-05-29 11:49] ihor-sviziev commented on #26829
Cool. thx for confirming. I'm closing this issue.

[2020-05-29 11:49] #26829 closed, assigned to ihor-sviziev

[2020-05-29 12:07] karthickannan commented on #27460
@ronn0

This issue is appearing in bundle products also. If a simple product has salable quantity 0 and associated with a bundle product, the simple product should not be shown as an option in the frontend. But it is being shown as an option.

[2020-05-29 12:12] KM-HM opened #28424 "Missing Validaiton Class while open_basedir in effect"
Magento 2.4 throws an error about a missing validation class when saving general contact information email address which causes the new value to be discarded.

### Preconditions (*)

1. PHP 7.4
2. Set the "open_basedir" option for PHP via either php.ini or FPM pool configuration. Value should be the absolute path to magento 2 root directory. Make sure sys_temp_dir, upload_tmp_dir are set to be wit

[2020-05-29 12:20] sambath1293 commented on #28424
@magento give me 2.4-develop instance

[2020-05-29 12:20] magento-engcom-team commented on #28424
Hi @sambath1293. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-29 12:21] sambath1293 commented on #28422
@magento give me 2.4-develop instance

[2020-05-29 12:21] magento-engcom-team commented on #28422
Hi @sambath1293. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-29 12:22] magento-engcom-team commented on #28424
Hi @sambath1293, here is your [Magento instance](https://i-28424-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28424-2-4-develop.instances.magento-community.engineering/admin_7cba](https://i-28424-2-4-develop.instances.magento-community.engineering/admin_7cba)
Login: `57007d55` Password: `391e3a563b8e`
Instance will be terminated in up to 3 hours.

[2020-05-29 12:24] magento-engcom-team commented on #28422
Hi @sambath1293, here is your [Magento instance](https://i-28422-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28422-2-4-develop.instances.magento-community.engineering/admin_44da](https://i-28422-2-4-develop.instances.magento-community.engineering/admin_44da)
Login: `4430e10d` Password: `a648179ed92c`
Instance will be terminated in up to 3 hours.

[2020-05-29 12:44] sambath1293 commented on #28424
@kemexyz - I was tried to recreate this issue in Magento 2.4 develop as advised by Magento and I couldn't reproduce it.

See the reference screenshot below:
![IssueNotOccoursIn2 4develop](https://user-images.githubusercontent.com/60879885/83260933-360c3900-a1d8-11ea-8eda-753a8d23adb7.png)

Now I am going to test this again in Magento 2.3.5-p1.

[2020-05-29 12:54] sambath1293 commented on #28424
I confirm that issue is not reproducible on both the latest 2.4-develop and Magento 2.3.5-p1.
See the below screenshot:
![issue2](https://user-images.githubusercontent.com/60879885/83261812-951e7d80-a1d9-11ea-9798-ba8377f5cca8.png)

If you'd like to update the issue, please reopen it.

[2020-05-29 13:11] skapin commented on #5019
poke

[2020-05-29 13:19] luancschmitz commented on #27186
I have Same Problem in Magento Cloud Production Environmnet.

[2020-05-29 13:19] chandu-pinpoint commented on #16786
@magento-engcom-team It looks fine on 2.3.x

[2020-05-29 13:26] engcom-Charlie commented on #24047
Hello @tapantechno2007.

We are not able to reproduce this issue on the latest `2.4-develop` branch by provided steps, so we have to close it.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch.

Thank you fo

[2020-05-29 13:26] #24047 closed, assigned to nobody

[2020-05-29 13:29] elisei commented on #27485
Hi @acampos1916 ,

The operator in question ( @Stepa4man ) does not consider it pertinent to increase the Magento API and rejected my request. Apparently, the "payment / gateway" works only if you want to create an integration with paypal.

The solution only comes if implemented on your gateway/data/request/AddressAdapter

[2020-05-29 13:38] kemexyz commented on #28424
@magento give me 2.3 instance

[2020-05-29 13:48] adeptofvoltron opened #28425 "CategoryTree object breaks single responsibility principal"
### Summary (*)

The issue is that CategoryTree object is basically also a Category Model object. That totally breaks single responsibility. Quite often methods from category tree object use category model object methods, no matter what the state of object is. And it may follow in some mistakes, like one given in examples.

note: so far I checked it on Magento 2.3, have to confirm on Magento 2.4
#

[2020-05-29 14:08] acampos1916 commented on #27485
@elisei,

Yes, makes sense that APIs are not updated in minor releases so service contracts with external implementations are upheld. I will have to create a preference for that interface.

Thanks.

[2020-05-29 14:22] itwebdev2 commented on #24218
@magento-engcom-team Commits are 404?

[2020-05-29 14:25] ncompass commented on #27655
Experiencing the same issue here on Magento 2.3.4-p2 on the customer registration page.

Above fixes only work for the admin area.

[2020-05-29 14:25] ncompass commented on #27655
en_GB locale DD/MM/YYYY

[2020-05-29 14:32] bojandavkov commented on #6787
I have managed to reproduce this on the latest 2.3.5 version

[2020-05-29 14:52] ncompass commented on #27655
A better fix for magento\module-ui\view\base\web\js\lib\validation\rules.js is found here...

https://github.com/magento/magento2/issues/27027
https://github.com/magento/magento2/commit/8f81132dcf27bc1b09ba89a6e7002a2f3dd02ef2

Still trying to find a fix for vendor/magento/module-customer/view/frontend/web/js/validation.js for the frontend...

[2020-05-29 15:18] ncompass commented on #27655
Ok so I've fixed the front end/registration page..

@ssniranga - I can see you had the same issue.

"vendor/magento/module-customer/view/frontend/web/js/validation.js"
change the below line..
return moment(value).isBefore(moment());
to
return moment(value, ["YOUR DATE FORMAT HERE"]).isBefore(moment());

For us (enGB / UK format):-
return moment(value, ["DD.MM.YYYY"]).isBefore(moment());

Your welc

[2020-05-29 15:41] ghost opened #28427 "[Issue] magento/magento2#: GraphQl. Remove a redundant logic in “SetShippingMethodsOnCart” mutation resolver"
### Summary (*)

PR removes a redundant logic in the `SetShippingMethodsOnCart` mutation resolver because `Webonix` covers the next cases:
- `shipping_methods`.`carrier_code` does not exist

<img width="1010" alt="27349_01" src="https://user-images.githubusercontent.com/13585327/77020295-edd8cb00-698b-11ea-8dde-61a227f7ef3d.png">

- `shipping_methods`.`method_code` does not exist

<img width="999"

[2020-05-29 15:45] magento-engcom-team commented on #28427
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34755` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-29 16:08] pitbulk opened #28428 "Customer data not retrieved after executing a custom login controller"
### Description
I customized the routes for login flow because I have a SAML SSO extension,

I'm experiencing issues the first time I try to log the user in using the SSO flow. Customer data is not loaded.

### Preconditions
 - Magento 2.3.4 or 2.3.5
 - Custom Login controller

My login controller is similar than the [PostLogin](https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e0

[2020-05-29 16:50] hsmuhammad12 opened #28429 "Issue installing magento 2.3.5p1 on local server stuck at 51%"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-05-29 16:58] hsmuhammad12 opened #28430 "Issue installing magento 2.3.5p1 on local server stuck at 51%"
###
I'm stuck at 51% while installing magento 2.3.5p1
![magento error](https://user-images.githubusercontent.com/66122550/83285153-3831c000-a1f7-11ea-8401-ebdac2afdd70.png)``

Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magen

[2020-05-29 17:04] schizek commented on #25835
I agree with @xxorax.  The upload directory may be different than the directory called by `sys_get_temp_dir()`.  This is the case with my local install of MAMP and they can get set differently on other servers as well.  The `upload_tmp_dir` should definitely be added to the core as an allowed temp directory.

[2020-05-29 17:14] hsmuhammad12 commented on #28055
i did it but still facing errors blow:
Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magento_AdminAnalytics':

Module 'Magento_Store':

Module 'Magento_AdobeIms':

Module 'Magento_AdobeImsApi':

Module 'Magento_AdobeStockAdminU

[2020-05-29 18:54] Alexander-Pop commented on #27112
same error still appears in 2.3.5 magento/magento-cloud-metapackage. Above patch fixes it

[2020-05-29 19:36] jpratt commented on #13952
Seeing the same on our production on 2.3.5. Our orders are a minute or two apart with the same quote id. Using braintree for cc payments. Very random, and see the second order does not send a notification, that is the only difference I can see.

[2020-05-29 20:08] mack4hack opened #28431 "REST API Bundle Product Details Price Issue"
### Description
Bundle products have a price in the store and admin interface, but not in the Products Details REST API.

### Preconditions
1. Magento 2.3.3

### Steps to reproduce
1. Create a bundle product and assign simple products to it.
![image](https://user-images.githubusercontent.com/11089409/83320211-f63e6380-a262-11ea-972a-220b9e91635b.png)

2. Enable 'Allow Anonymous Guest Access'  from

[2020-05-29 21:32] perryholden commented on #27459
This is interesting. Per Magento DevDocs article [Enable profiling (MAGE_PROFILER)](https://devdocs.magento.com/guides/v2.3/config-guide/bootstrap/mage-profiler.html), the numeric options are still supported, but it has to be deprecated somehow. Basically, what is happening is that when this env variable is set to "2", the `\Magento\Framework\ObjectManager\Profiler\Code\Generator\Logger` ultimatel

[2020-05-29 22:33] kdjmonaghan opened #28432 "Magento 2.3.5-p1 - Discount Description, Coupon Codes on Invoices Broken"
### Preconditions (*)

1. Magento 2.4-develop
2. Magento 2.3.5-p1 Installation
3. Valid Coupon with a Description

### Steps to reproduce (*)

1. Create valid Coupon with Description Populated (fill the description with say 200 characters for emphasised issue)

![Screenshot from 2020-12-04 15-18-14](https://user-images.githubusercontent.com/51679138/101168942-e7d36900-3644-11eb-834e-1ee21df9d323.p

[2020-05-29 22:46] kdjmonaghan commented on #28432
For users who seek a fix until Magento merge this;

Your `discount_description` field is being populated with the Coupon's description now where as previously in older versions of Magento it was using `coupon_code` and never actually checked for the presence of the Coupon's description to populate this field.

In recent builds of Magento, Magento have 'fixed' this issue (causing your legacy orders

[2020-05-29 22:51] ghost opened #28433 "[Issue] Fix duplicated footer in Magento_Customer emails"
### Questions or comments

### Contribution checklist (*)
 - [x] Pull request has a meaningful description of its purpose
 - [x] All commits are accompanied by meaningful commit messages
 - [ ] All new or changed code is covered with unit/integration tests (if applicable)
 - [ ] All automated tests passed successfully (all builds are green)

Email templates for change email, change email and passw

[2020-05-29 22:58] magento-engcom-team commented on #28433
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34766` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-30 04:33] krishprakash commented on #28429
Hi @hsmuhammad12. Closing this issue as you already added same #28430

[2020-05-30 04:33] #28429 closed, assigned to nobody

[2020-05-30 04:58] krishprakash commented on #28430
Hi @hsmuhammad12.
Seems issue is already added and in open state #28055
You can track the conversation from above issue link
Thanks !!

[2020-05-30 04:58] #28430 closed, assigned to krishprakash

[2020-05-30 05:03] swathishs commented on #28431
@magento give me 2.4-develop instance

[2020-05-30 05:03] magento-engcom-team commented on #28431
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-30 05:04] magento-engcom-team commented on #28431
Hi @swathishs, here is your [Magento instance](https://i-28431-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28431-2-4-develop.instances.magento-community.engineering/admin_8912](https://i-28431-2-4-develop.instances.magento-community.engineering/admin_8912)
Login: `26be2afd` Password: `de534418de10`
Instance will be terminated in up to 3 hours.

[2020-05-30 05:12] krishprakash commented on #28432
@magento give me 2.4-develop instance

[2020-05-30 05:12] magento-engcom-team commented on #28432
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-30 05:14] magento-engcom-team commented on #28432
Hi @krishprakash, here is your [Magento instance](https://i-28432-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28432-2-4-develop.instances.magento-community.engineering/admin_043f](https://i-28432-2-4-develop.instances.magento-community.engineering/admin_043f)
Login: `4087a0e1` Password: `86b17b7cf138`
Instance will be terminated in up to 3 hours.

[2020-05-30 05:30] deep701 commented on #25476
@magento give me 2.3-develop instance

[2020-05-30 05:31] magento-engcom-team commented on #25476
Hi @deep701. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-05-30 06:39] ssniranga commented on #27655
@ncompass Legend. I added the fixed and it seems working now. :).

Thank you very much Guys.

[2020-05-30 07:29] deep701 commented on #25476
@magento give me 2.3-develop instance

[2020-05-30 07:29] magento-engcom-team commented on #25476
Hi @deep701. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-05-30 08:04] abrarpathan19 opened #28436 "UI experience improvement for Template Insert Variable popup"
### Summary (*)
Design update as per the Magento 2 standard UI experience improvement on Email template Insert Variable popup.

**To reach follow path :**
Admin - Marketing - Communications - Email Templates -  Add New Template - Template Information Section -  click on Insert Variable button.

### Examples (*)

Please follow current screenshot :
![image](https://user-images.githubusercontent.com/

[2020-05-30 08:33] muthu-ziffity opened #28438 "Implemented Varnish Customized 503 Error Page"
### Description
This new feature enables varnish to show a customized 503 error page instead of the Varnish default error message page.

The feature will provide an easy way to change and customize the error page of varnish. This page will show once the server gets down

In Magento admin under section ( **Stores --> Configuration --> Advanced --> System --> Full Page Cache** )

![screenshot-local

[2020-05-30 08:36] ajijshekh123 commented on #28436
@magento give me 2.4-develop instance

[2020-05-30 08:36] magento-engcom-team commented on #28436
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-30 08:38] magento-engcom-team commented on #28436
Hi @ajijshekh123, here is your [Magento instance](https://i-28436-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28436-2-4-develop.instances.magento-community.engineering/admin_4b4f](https://i-28436-2-4-develop.instances.magento-community.engineering/admin_4b4f)
Login: `791f1cf7` Password: `e3a51b28a828`
Instance will be terminated in up to 3 hours.

[2020-05-30 08:45] vrajesh-patel1993 commented on #28254
@magento I am working on this

[2020-05-30 08:47] ajijshekh123 commented on #28436
Hello @abrarpathan19,
I have verified the default Magento Email template Insert variable popup. It's looking fine But If you want to improve the popup UI. You can work on it and update the Popup UI as per the Magento Theme.

Thanks.

[2020-05-30 08:48] magento-engcom-team commented on #28436
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34769` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-30 09:07] bojandavkov opened #28439 "Magento 2.3.5 -Customer group changing to "General" if customer change password from My Account"
### Preconditions (*)

Magento CE 2.3.5 with sample data is installed.

### Steps to reproduce (*)

Register new customer by creating a new account (/customer/account/create/)
Go to the admin panel and change the customer group from general to retailer and save the changes
Login at storefront with newly created user
After login go to the edit account page at the dashboard. (/customer/account/edit/

[2020-05-30 09:24] muthu-ziffity commented on #28438
@magento I am working on this

[2020-05-30 09:29] #28438 closed, assigned to nobody

[2020-05-30 09:40] krishprakash commented on #28221
@magento give me 2.4-develop instance

[2020-05-30 09:40] magento-engcom-team commented on #28221
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-30 09:41] magento-engcom-team commented on #28221
Hi @krishprakash, here is your [Magento instance](https://i-28221-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28221-2-4-develop.instances.magento-community.engineering/admin_fc36](https://i-28221-2-4-develop.instances.magento-community.engineering/admin_fc36)
Login: `8cf1d4b6` Password: `8f7710200e4c`
Instance will be terminated in up to 3 hours.

[2020-05-30 09:58] krishprakash commented on #28221
Hi @AstoundJenkins.
Not able to reproduce the issue as provided steps by you
Kindly provide more detailed steps with video link if possible so It will help to reproduce issue here
Thanks

[2020-05-30 10:09] krishprakash commented on #28439
Hi @bojandavkov,
Seems issue is already added and still in Open state #26908
You can review the conversation from given issue id
So closing this as duplicate issue
Thank you for your report !!

[2020-05-30 10:09] #28439 closed, assigned to krishprakash

[2020-05-30 10:45] usman786cs commented on #22094
Thank you @djixas - It worked for me.

[2020-05-30 11:22] yogeshkarodiya commented on #28295
I am working into this issue.

[2020-05-30 12:37] iphigenie commented on #28183
@magento give me 2.4-develop instance

[2020-05-30 12:37] magento-engcom-team commented on #28183
Hi @iphigenie. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-30 12:39] magento-engcom-team commented on #28183
Hi @iphigenie, here is your [Magento instance](https://i-28183-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28183-2-4-develop.instances.magento-community.engineering/admin_b766](https://i-28183-2-4-develop.instances.magento-community.engineering/admin_b766)
Login: `b4d1313f` Password: `0e7191fc2817`
Instance will be terminated in up to 3 hours.

[2020-05-30 13:05] orlangur commented on #28055
@vipin12117,

It is always like this. Change just a single line. Then another one. Then more and more. While in fact it would be good to remove all Windows-specific hacks from the code.

Yeah, there are a lot of reasons. Cannot say what was thinking by Magento back then, just sharing my personal opinion.

First of all, there is no reason to support Windows _natively_. Developers using Windows does

[2020-05-30 13:05] #28055 closed

[2020-05-30 13:36] orlangur commented on #28307
@okolesnyk why?

[2020-05-30 14:24] hewgim commented on #28302
I also have this problem. I was just wanting to test something on the latest  2.4 development branch to see if the issue has been fixed. I don't have (or want) elastic search. The web setup wizard seems to be removed on the version I'm testing, so I'm forced to use the command line. The command line install gives the error mentioned above "Could not validate a connection to Elasticsearch. No alive

[2020-05-30 17:17] hsmuhammad12 opened #28447 "Parse error: syntax error, unexpected 'PDO' (T_STRING), expecting ',' or ')'"
i have facing this issue since magento is `installed, plz guide me how to fix it.
try {
            $this->_connection = new PDO(
                $dsn,
                $this->_config['username'],
                $this->_config['password'],
                $this->_config['driver_options']PDO->_construct('mysql:dbname=in...', 'root', '', Array)
            }

### Preconditions (*)

1.
2.

### Steps

[2020-05-30 20:00] amenk commented on #26308
@ioweb-gr which cleanup command did you use? And how long did it run?

[2020-05-30 20:02] amenk commented on #26308
Also each and every crawling attempt seems to open a new session - is that normal?

[2020-05-30 20:19] davidverholen commented on #23145
@tylerssn @lano-vargas I totally agree with you (maybe I did not really communicate that in my earlier comment :P )

I commented on an architecture issue to try to get it reopened, because I agree this change would make sense and bring much value to the core without breaking anything:
https://github.com/magento/architecture/issues/184

[2020-05-31 00:06] ShlokPurani commented on #1393
Basically I have been trying to add custom attribute in customer admin using upgrade data and customer setup. But here I can see in my db that my **new custom attribute have been added successfully** in **eav_attribute**,**customer_eav_attribute**,**eav_entity_attribute**,**customer_grid_flat**,**customer_form_attribute** also I am able to see that attribute in customer/admin/edit form in account

[2020-05-31 05:19] ioweb-gr commented on #26308
@amenk I think it was pretty straightforward.

I went to https://www.unixtimestamp.com/index.php to get the timestamp for the date before which I wanted to clear the sessions. For example anything that should have expired 15 days ago e.g. 15/5/2020 = 1589500800

I then executed

[code]

[2020-05-31 06:15] sanaeefar-saeed commented on #14720
https://github.com/magento/magento2/pull/27887/files

[2020-05-31 10:56] matthew99 commented on #13972
If it is any help this is my experience.
I use Mirasvit Elasticsearch module. In Mirasvit I can add a search index for any attribute (in my case 'writers'), which is a great feature.

My experience:
**Only first value of multiselect could be found by advanced search and layered nav**.
There is difference between /catalogsearch/results, advanced search and layered nav.

In my case I made an multi s

[2020-05-31 14:06] in-session commented on #26901
That would be great also the product layout should not be forgotten
[code]

[2020-05-31 14:32] madonzy opened #28448 "Not prepared data when exporting order grid"
# Preconditions (*)
Magento 2.3.4

### Steps to reproduce (*)
1. Go to Sales order grid
2. Export to xml/csv
3. Field value, for example, **Status** is represented exactly like in DB (ex. in the grid the value is **Pending Payment**, bun in exported document is **pending_payment**.)

### Expected result (*)
1. I expect that the exported document would be the same as the grid.

### Actual result (*

[2020-05-31 18:49] gwharton opened #28451 "uiComponent form - field's attribute formElement is required but PHPstorm's XSD validation tells me formElement="input" is redundant and can be removed"
### Summary (*)
In a uiComponent form, a `<field>`'s formElement attribute is required. However PHPStorm using the XSD's provided by Magento says that any element using formElement="input" matches the default value for field and can be removed. This is not true

We will use the new CMS Page Form to demonstrate the issue.

1. 2.4-develop
2. PHPStorm
3. Use PHP Storm and create new project pointing

[2020-05-31 18:52] rajansahota commented on #23511
delete your user entries in "admin_passwords" table DB then change your password again.

I have resolved same issue in Magento ver. 2.2.1

[2020-05-31 22:07] spurani opened #28452 "eav_attribute_option and eav_attribute_option_value not getting updated after adding custom attribute to customer admin"
### Preconditions (*)
1.) Basically I have been trying to add custom attribute in customer admin using upgrade data and customer setup. But here I can see in my db that my new custom attribute have been added successfully in **eav_attribute,customer_eav_attribute,eav_entity_attribute,customer_grid_flat,customer_form_attribute**
2) I am able to see that attribute in customer/admin/edit form in acco

[2020-05-31 22:08] mubasherahmed opened #28453 "Magento 2 Product Page Image Loading ever"
Hi,
First of all, I would like to tell you that I am new I Magento.
I am facing an issue and i have tried all the suggestions available on the internet aa far as i know.
I have uploaded some products but when I tried to click on the products, products page loading forever as well as I cant press add to cart button and any button on this page.
Attached you can see the images

![image](https://user-

[2020-06-01 04:48] orlangur commented on #3987
Page for maintenance mode must be independent from Magento itself, so, we would have to save such CMS page into filesystem which is not good.

[2020-06-01 05:41] kdebski opened #28454 "Wrong calculation of total fields limit for mapping for Elasticsearch"
In Elasticsearch for some Magento attributes there are created two fields (eg. for text attributes) - raw field to perform full text search and keyword field to perform aggregations and sorting.
Currently calculating number of fields in elastic search doesn't take this into consideration, but is rather simple (app/code/Magento/Elasticsearch/module-elasticsearch/Model/Adapter/Elasticsearch.php):

`

[2020-06-01 06:01] RanjitBShinde commented on #28431
@magento give me 2.3.3 instance

[2020-06-01 06:01] magento-engcom-team commented on #28431
Hi @RanjitBShinde. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-06-01 06:03] magento-engcom-team commented on #28431
Hi @RanjitBShinde, here is your [Magento instance](https://i-28431-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-28431-2-3-3.instances.magento-community.engineering/admin_3e16](https://i-28431-2-3-3.instances.magento-community.engineering/admin_3e16)
Login: `bcc08395` Password: `cb2c73841b16`
Instance will be terminated in up to 3 hours.

[2020-06-01 06:08] aunik opened #28455 "ElasticSearch storing admin value for Catalog Search index with cron job"
When a product attribute(Select Type / Visual Swatch) has different values for admin and store , and Catalog Search(fulltext) index is executed by cron job , ElasticSearch stores the admin option value instead of store value .  If you run the Catalog Search index from CLI (bin/magento indexer:reindex ) you got correct store value

### Preconditions (*)

1. Magento ver. 2.3.2-p2.
2.  ElasticSearch

[2020-06-01 06:27] RanjitBShinde commented on #28431
@magento-engcom-team @magento I am able to replicate this issue, see following response of rest api

API End Point(GET) : https://i-28431-2-3-3.instances.magento-community.engineering/rest/V1/products/PRHC0002

Response:

{
    "id": 1201,
    "sku": "PRHC0002",
    "name": "Rest API bundle product",
    "attribute_set_id": 4,
    "price": 0,
    "status": 1,
    "visibility": 4,
    "type_id": "b

[2020-06-01 06:55] iphigenie commented on #28183
@magento give me 2.4-develop instance

[2020-06-01 06:55] magento-engcom-team commented on #28183
Hi @iphigenie. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-01 06:55] RanjitBShinde commented on #28431
@magento I am working on this

[2020-06-01 06:58] RanjitBShinde commented on #28431
@magento-engcom-team @magento I am able to replicate this issue, see following response of rest api

API End Point(GET) : https://i-28431-2-3-3.instances.magento-community.engineering/rest/V1/products/PRHC0002

Response:

{
"id": 1201,
"sku": "PRHC0002",
"name": "Rest API bundle product",
"attribute_set_id": 4,
"price": 0,
"status": 1,
"visibility": 4,
"type_id": "bundle",
"created_at": "2020-06-0

[2020-06-01 07:01] RanjitBShinde commented on #28431
@magento I am working on this

[2020-06-01 07:14] mack4hack commented on #28448
@magento I am working on this

[2020-06-01 07:15] mack4hack commented on #28448
@magento I am working on this

[2020-06-01 07:15] sureshp1000 commented on #28453
Hi @mubasherahmed

I believe you have installed Porto theme and the issue you are facing seems theme related issue.
Please check with Luma theme first.

Below steps may resolve your issue:
1. Install all the patches available from Porto theme.
 - For example: 2.3.x patch from Porto theme to your Magento installation.
2. If you have latest version of Magento then you may need to install patch for 2