[2022-07-22 10:04] Eddcapone commented on #35684
@mrtuvn Yes, here is my code:

[issue_35684.zip](https://github.com/magento/magento2/files/9166767/issue_35684.zip)

@engcom-Echo , I forgot to add this step to the description, can you please check if the module is enabled?

I also added my compilation output.

[2022-07-22 10:38] engcom-Echo commented on #35735
Hello @Nuranto,

Currently I have below installed versions on my local machine and the issue is not reproducible.
Magento 2.4-develop
PHP 8.1.7

In order to reproduce the issue followed below steps.

1. Created a custom Module ‘Magento_CustomModule’
2. Created an Indexer ‘RH Custom Indexer’
 
![MicrosoftTeams-image](https://user-images.githubusercontent.com/51681435/180421738-f29e51da-3974-4662-8a

[2022-07-22 10:41] engcom-Delta commented on #35595
Hi @NickvdMeij ,
Thank you for your inputs. We have moved this ticket to 'On Hold' at this movement , we will update you after confirmation from product owner.

Regards,

[2022-07-22 10:59] engcom-November commented on #35072
Hi @sergiirepin ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue with below steps:
1. In app/etc/env.php file, changed default batch size to 3 (Since product update for 1000 times is tedious)
[code]
2. Updated the same product price and qty from Magento admin panel for more than 3 times.
3. Ran php bin/magento i

[2022-07-22 11:11] engcom-Echo commented on #35097
Hello @ioweb-gr,

Thanks for you contribution and collaboration.
We have tried to reproduce this issue on magento 2.4-develop branch but it is not able to reproduce.

followed steps.
1.Create a magento module.
2.app/code/Vendor/Module/view/frontend/requirejs-config.js

[code]
3. app/code/Vendor/Module/view/frontend/web/js/price-box-mixin.js

[code]
Please find the attached screen for your referenc

[2022-07-22 11:20] convenient commented on #35604
https://github.com/Seldaek/monolog/commit/3cba75ec0926eec177a4a2cd6c977ecddd0fc7c1

[code]

Updating to use a handler seems like the right thing to do.

[2022-07-22 11:20] engcom-November commented on #35793
@magento give me 2.4-develop instance

[2022-07-22 11:21] himanshusavranntz opened #35800 "Magento 2.4.2-p2 is showing empty attribute values after importing through csv"
### Summary (*)
We are facing an issue with product import via csv, below mentioned are the scenarios:
1- Product X has an attribute set as "migration_default".
2- we have another attribute set as "test_attribute_set" and this attribute set has a custom attribute assigned that is "test_attribute"(Text Type attribute).
3- We update this product X with attribute set as "test_attribute_set" in the cs

[2022-07-22 11:26] engcom-Lima commented on #35365
Hi @baatractive,
Thank you for the collaboration and reporting the issue.

Tried reproducing the issue on 2.4-develop instance however the issue is not reproducible.

Steps followed to reproduce the issue:

1. Install latest 2.4-develop instance
2. Create a custom module [ref](https://devdocs.magento.com/videos/fundamentals/create-a-new-module/)
3. Create a new ACL [ref](https://developer.adobe.co

[2022-07-22 11:30] engcom-November commented on #35767
@jorgehs91,
Thank you for the reporting and collaboration!
We have tried to reproduce the issue in Magento 2.4-develop branch and the issue is reproducible for us with the steps mentioned in the main description.
Hence confirming the issue.
Thanks

[2022-07-22 11:47] himanshusavranntz opened #35801 "Magento 2.4.2-p2 is showing empty attribute values after importing through csv"
### Preconditions and environment

Magento 2.4.2-p2

### Steps to reproduce

1. The latest Magento2.4 is installed
2. Create 2 attribute sets:- attributeset1 and attributeset2
3. Create a text type attribute: attribute1
4. Assign attribute1to attributeset2
5. Create a product with attribute set attributeset1.
6. Create CSV to update the attribute set of product to attributeset2 and assign the valu

[2022-07-22 11:48] #35800 closed, assigned to nobody

[2022-07-22 12:02] engcom-Echo commented on #35790
@Bartiema

Thanks for reporting the issue.

As you mentioned that "amqp module is not installed " so, could you please confirm if you uninstalled or disabled the module "module-amqp" in config.php file then run the cron manually from terminal so you got that exception.

Please provide the exact steps to reproduce the same and share the screenshots so we can try to reproduce the same at our end.

T

[2022-07-22 12:03] engcom-November commented on #35793
Hi @ldc321 ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop branch and is reproducible. But however this an expected behavior of Magento.
217 is not a valid search criteria to be used when searching for the products. If min search length required set is 3, then searching using 121 will give search results.
This behavior is present not only for numbers, but

[2022-07-22 12:24] engcom-November commented on #35789
Hi @engcom-Lima ,
Verified the issue on Magento 2.4-develop branch but however this behavior is due to default Attribute set configuration.
Default attribute set that is used as a template when creating a product includes a set of commonly-used attributes. System attributes are marked with a dot and cannot be removed from the Groups list. They can, however, be dragged to another Group in the attri

[2022-07-22 12:37] engcom-November commented on #35799
Hi @paales ,
Thank you for reporting and collaboration. As per the Magento [devdocs](https://devdocs.magento.com/guides/v2.4/graphql/queries/store-config.html) StoreConfig Graphql query can contain "root_category_uid" attribute which is an existing behavior of Magento. Hence changing this feature can be considered as a Feature request but not a bug. Hence labelling this is as Feature request.

[2022-07-22 12:52] engcom-November commented on #35285
Hi @yuriichayka
As per your explanation we can validate that getMaximalPrice Method is not exists for Configurable Final Price calculation in
\Magento\ConfigurableProduct\Pricing\Price\FinalPrice. Hence confirming this issue. If you want the get the Regular Maximum price of Configurable Product you can use \Magento\ConfigurableProduct\Pricing\Price\ConfigurableRegularPrice::getMaxRegularAmount()
T

[2022-07-22 12:55] engcom-November commented on #35422
Hi @andrewdaluz
As per your given steps issue is reproducible as we further investigated this issue is occurring from this plugin \Magento\Theme\Plugin\Data\Collection::afterGetCurPage
Hence confirming the issue.
Thanks.

[2022-07-22 12:55] engcom-Delta commented on #35726
Hi Kardeiz,
We tried to reproduce the issue on magento 2.4 develop , issue is reproducible , Hence issue has been confirmed.

followed steps:
1. Run below API

Endpoint----->. PUT -->   http://localhost/rest/default/V1/customers/password
Body:
{
  "email": "teslatester@gmail.com",
  "template": "email_reset"
}

Response:
true

2. Run below API
Endpoint----->. POST -->  http://localhost/rest/defaul

[2022-07-22 13:52] engcom-Lima commented on #35789
Hi @engcom-November

I have tested this functionality earlier in 2.4.1 and I was able to create a product without giving name.

The screenshot which you have shared is of product attribute set. Attribute set is the template for product creation. Attribute set is not for making any field mandatory or it will not decide functionality or behaviour.
It is Product attributes, which will decide behaviou

[2022-07-22 15:30] wyomind commented on #35714
Hey Magento/magento2,

Since we haven't heard from you on this issue in a while, we're marking
this ticket closed.

Feel free to contact us at any time if you need. To do so simply log into
your Wyomind account and go to 'My account > My tickets' to create a new
one.

Best Regards,
The Wyomind Team
{#HS:1937328362-522966#}
On Fri, Jul 1, 2022 at 4:06 PM CEST, Magento/magento2 <
***@***.***> wrote:

[2022-07-22 15:30] wyomind commented on #35714
Hey Magento/magento2,

Since we haven't heard from you on this issue in a while, we're marking
this ticket closed.

Feel free to contact us at any time if you need. To do so simply log into
your Wyomind account and go to 'My account > My tickets' to create a new
one.

Best Regards,
The Wyomind Team
{#HS:1937253212-522948#}
On Fri, Jul 1, 2022 at 2:55 PM CEST, Magento/magento2 <
***@***.***> wrote:

[2022-07-22 16:22] cptX commented on #20147
@raulsinapsis have you found a better solution? I'm thinking to implement the solution in nginx redirecting the non prefix url to the language prefix url. What is your opinion. I tried to do so but I have some difficulty. If you have a solution in nginx please tell.

[2022-07-22 18:14] rahulrave commented on #35761
@engcom-Lima After login in website from front end , In my account you will see BB Challenges , Custom Workout Subscription . Click into this any tab and then again refresh same tab , It will logout to user .
We don;t have vanilla instance for this , I will provide information once I will have.

[2022-07-22 18:15] rahulrave commented on #35761
How I can provide you DB etc in private ? I don't have staging ready for 2.4.3 to reproduce issue.

[2022-07-22 18:28] github-jira-sync-bot opened #35802 "GJSS TEST ISSUE 1"

[2022-07-22 19:23] VladimirZaets opened #35803 "GJSS TEST ISSUE 2"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality an

[2022-07-22 19:24] VladimirZaets commented on #35803
https://github.com/adobe export issue to Jira project AC

[2022-07-22 19:24] VladimirZaets commented on #35803
@adobe export issue to Jira project PB

[2022-07-22 19:25] VladimirZaets commented on #35803
@adobe export issue to Jira project AC

[2022-07-22 19:26] VladimirZaets opened #35804 "GJSS TEST ISSUE 3"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality an

[2022-07-22 19:30] #35804 closed, assigned to nobody

[2022-07-22 19:30] VladimirZaets opened #35805 "GJSS TEST ISSUE 4"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality an

[2022-07-23 04:06] manavluhar commented on #34155
@magento give me 2.4-develop instance

[2022-07-23 07:11] Nuranto commented on #35639
Hi @engcom-Lima,

1. Create a custom cron (default group) that just sleep for 30 minutes. Configure it for execution every minutes
2. Run crons

**Expected behaviour**

After a 30 minutes, Only one cron process is started/running

**Actual behaviour**

After 30 minutes, we have 30 cron processes running, possibly consuming all resources if sleep is being replaced by actual code.

[2022-07-23 07:15] cptX commented on #20147
Hi @irajneeshgupta can you please reopen this issue? I don't understand why it was closed in the first place!

[2022-07-23 10:12] alikhani97 commented on #35801
@magento give me 2.4-develop instance

[2022-07-23 10:56] marwan-corals commented on #34546
Thanks, @Hexmage the provided code is helpful; one more note here is to add to di.xml

[code]

[2022-07-23 10:56] youngcrush commented on #35761
@rahulrave you can mail me at choudharyamit664.ac@gmail.com to share info privately and take backup propely.

[2022-07-23 11:09] csvikram44 opened #35806 "The CSS used for the "Order and Return" widget is incorrect and due to that widget fields are hidden behind the products on frontend"
### Preconditions and environment

- **Magento Version** - I have seen and reproduced an issue in Magento versions 2.4.4 and 2.4.0
- **Orders and Returns Widget** - This is the default functionality of Magento that we are showing "Orders and Returns" widget on the front end. I set the admin configuration in my local system to show the "Orders and Returns" widget on the front end and its alignment

[2022-07-23 16:19] gulshankumar commented on #31117
Why this is closed?

[2022-07-24 06:16] chequille commented on #31117
I ask myself the same !!!!
Maybe nobody cares?

[2022-07-24 08:24] bka commented on #35616
Thank you @rob-gonz for sharing this. We have similar symptoms in one of our shops and I think we are experiencing the same issue here. I want to share some of my findings related to this issue.

TLDR: As already mentioned `catalog_product_index_price` should **never** have items reduced during reindexing, even if the time window is small, it may lead to missing products.

Occasionally, for no rea

[2022-07-24 12:46] Nuranto opened #35808 "PHP8.1 type bugfix"
### Summary (*)

There is an issue with types in `\Magento\GroupedProduct\Model\Product\Type\Grouped` class, in method `_prepareProduct`. A variable can be set as false, and is then used in a `foreach`.

[code]

### Examples (*)

[code]

### Proposed solution

[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for t

[2022-07-24 14:51] damienwebdev commented on #35604
Just a notification that a further update to Monolog versions occurred ~3 hours ago - `2.8.0` https://github.com/Seldaek/monolog/releases/tag/2.8.0.

I had code like:

[code]

Which I now changed to:

[code]

[2022-07-24 18:18] tales-desde-mileto opened #35809 "Guest cart/queue from store 1 does not works when logging in store 2 (share customer account=global)"
### Preconditions and environment

- Magento version :  Magento ver. 2.4.4
- 2 websites
- Conf. "Share Customer Accounts" : GLOBAL

### Steps to reproduce

1. Two websites: w1 and w2
2. As guest, add item1 in w1 to cart.
3. Change website to w2
4. Loggin in w2
5. Change website to w1
6. Checkout : "/checkout/#shipping" show always this error: "current customer does not have an active cart."
Quote

[2022-07-24 22:08] Finbayern commented on #35474
I have the same issue as the OP and I suppose this is a dup of https://github.com/magento/magento2/issues/35419 as you wrote above.
I have the sodium installed and I see the exact same section as in your screenshot when I run the phpinfo, so sodium should be ok.
This error only happens with php 8.1 and switching back to php 7.4. fixes the issues, but obviously this is not the long term solution.

[2022-07-25 05:28] engcom-Lima commented on #35749
Hi @richyarcaika ,

We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.

Thank you.

[2022-07-25 05:28] #35749 closed, assigned to engcom-Lima

[2022-07-25 06:07] engcom-November commented on #35750
Hi @NathanDayFE ,
We are closing this issue as there has been no latest update on the same. Kindly reopen/create new issue if you are still facing any issues.
Thank you.

[2022-07-25 06:07] #35750 closed, assigned to engcom-November

[2022-07-25 06:14] mrtuvn commented on #35806
you can add custom css like this
[code]

[2022-07-25 06:17] engcom-Hotel commented on #35628
Dear @irabattiakshay,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-07-25 06:17] #35628 closed, assigned to engcom-Hotel

[2022-07-25 06:18] engcom-Hotel commented on #35644
Dear @stormbyte,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-07-25 06:18] #35644 closed, assigned to engcom-Hotel

[2022-07-25 07:01] csvikram44 commented on #35806
Thanks, @mrtuvn for your reply and we have many solutions for this to fix it. But due to which this issue is coming up and it is not of any use, then it would be right to remove it.

[2022-07-25 07:35] artskirk commented on #35751
@magento I am working on this

[2022-07-25 07:58] paales commented on #35799
Investigating if the following is sufficient, this seems to be undocumented.

If the categories query is called without any arguments it seems it will return the categories from the store group's root:

[code]

[2022-07-25 08:07] engcom-Lima commented on #35806
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Overlap in the frontend between products && Orders and Returns widget.

**Pre-requisite:**
Fresh magento `2.4-develop` should be installed.
PHP 8.1

**Steps to reproduce:**

1. Navigate to the admin panel
2. Go to Content -> Elements -> Widgets and click on "Add Widget" button to create new widget

[2022-07-25 08:39] engcom-November commented on #35789
@magento give me 2.4-develop instance

[2022-07-25 09:42] engcom-November commented on #35789
Verified the issue again on Magento 2.4-develop branch and the issue is reproducible.
Unable to create Product without Product Name.
![image](https://user-images.githubusercontent.com/60198231/180747563-4bebb8a3-8d33-45fa-9ae7-ba7f5b18ac75.png)
But if a product is created with name and saved and edited the product without name and saved - User is able to save the product without product name.
Henc

[2022-07-25 09:57] Nuranto commented on #35735
Indeed, I can't reproduce on a fresh installation as well.
And I can't find the missing step to reproduce. I'll close this for now, and will reopen if I find the glitch.

[2022-07-25 09:59] amouri82 commented on #31219
Hello,
@davidandersson1  did you find a solution to rollback the Alter table ? I am facing the same problem!
Thank you

[2022-07-25 09:59] engcom-November opened #35810 "SQLSTATE[23000]: Integrity constraint violation error when saving product without sku"
### Preconditions and environment

2.4.4 and 2.4-develop

### Steps to reproduce

1. Admin - Stores - Attributes - Product - Search for sku - edit - set "Values Required" - No and save
2. Clear cache
3. Create product without sku - save. - Invalid error message displayed to the user.
**Error in 2.4-develop branch:**  SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'sku' cannot be null

[2022-07-25 10:08] engcom-November commented on #35789
https://github.com/magento/magento2/issues/35810

[2022-07-25 10:12] engcom-Lima commented on #35796
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Magento unable to reindex `catalog_product_price` for bundle prioduct when we are not selecting any websites.

**Pre-requisite:**
Fresh magento `2.4-develop` should be installed.

**Steps to reproduce:**

1. Create bundle product
2. In bundle product  go to tab "Product in Websites"  & uncheck the

[2022-07-25 10:13] engcom-Hotel commented on #35808
Hello @Nuranto,

Thanks for the report and collaboration!

I have checked the codebase of the Magento 2.4-develop branch and found that the issue can be reproducible. Hence confirming the issue based on the codebase.

Thanks

[2022-07-25 10:29] engcom-Lima commented on #35810
@magento give me 2.4-develop instance

[2022-07-25 10:30] engcom-Dash commented on #35803
Hi @VladimirZaets ,

Kindly update the all the mentioned information...

1.Preconditions
2.Step to reproduce
3.Expected Result
4.Actual result

Thanks!!!

[2022-07-25 10:56] engcom-Lima commented on #35810
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Getting `SQLSTATE[23000]: Integrity constraint violation` error when saving product without sku
**Pre-requisite:**
Fresh magento `2.4-develop` should be installed.

**Steps to reproduce:**

1. 1.Admin - Stores - Attributes - Product - Search for sku - edit - set "Values Required" - No and save
2.

[2022-07-25 11:25] engcom-Delta commented on #35798
Hi @devchris79 ,
Thank you for raising an issue . We would like to get more information on placing an order using api. Please confirm the steps for reproducing the issue like endpoint and request body .

Regards,

[2022-07-25 11:26] niekappartmedia commented on #34649
@veloraven Any news on this issue? Its now 25 of July.

[2022-07-25 11:36] devchris79 commented on #35798
Hi @engcom-Delta,

I am pretty sure that DHL Ecommerce is using the order rest API for there integration /V1/orders/{id}

Using curl I then retrieved like:

curl -X GET "http://mydomain.com/index.php/rest/V1/orders/176" -H "Authorization:
Bearer cm6r32nsyqa1vdr40a9udgpel2jp4zyp"

[2022-07-25 11:38] engcom-Delta commented on #35798
Hi @devchris79 ,

Thanks for your inputs . it would be more helpful , if you can share your request body .

Ex:
{
  "entity": {
    "adjustment_negative": 0,
    "adjustment_positive": 0,
    "applied_rule_ids": "string",
    "base_adjustment_negative": 0,
    "base_adjustment_positive": 0,
    "base_currency_code": "string",
    "base_discount_amount": 0,
    "base_discount_canceled": 0,
    "bas

[2022-07-25 11:42] engcom-Echo commented on #35684
@Eddcapone,

Thanks for sharing more information.
we have tried to reproduce this issue on 2.4-develop branch and now it is reproducible and below are the steps which i have follow [#35684](https://github.com/magento/magento2/issues/35684#issue-1285869144)

my code zip file.
[Issue35684.zip](https://github.com/magento/magento2/files/9180776/Issue35684.zip)(extract to root dir of the magento projec

[2022-07-25 11:58] devchris79 commented on #35798
Hi @engcom-Delta,

If you have a look at the sample data you have posted the items array contains no country of manufacture. Magento has this in the product attributes (as a system attribute), so surely it should be in that data? DHL for instance require the country of manufacture and the harmonised code (not supported by default Magento attributes).

[2022-07-25 13:37] engcom-Dash commented on #35803
Hi @VladimirZaets ,

I mistakenly added the comments here...Sorry for the inconvenience...

Thanks!!!

[2022-07-25 13:50] engcom-November commented on #35765
Hi @jamie-selesti ,
I verified the issue again on a fresh magento 2.4-develop vanila instance without any third party modules but still unable to reproduce the issue.
**Steps performed:**
1. Created Configurable product with 500 options
2. Assign category to the product from UI - Issue. Unable to assign
3. Assigned category to the product using POST rest API - rest/all/V1/categories/{id}/products

[2022-07-25 13:52] engcom-November opened #35811 "Unable to assign category to configurable product with more than 400 options from admin UI"
### Preconditions and environment

2.4-develop

### Steps to reproduce

1. Create configurable product with 400-500 child variants
2. Edit product from admin - Assign a category and save

### Expected result

User is able to save the product

### Actual result

![image](https://user-images.githubusercontent.com/60198231/180793859-38ecc889-a0f1-458a-bb80-cf4ee135cd56.png)

### Additional informatio

[2022-07-25 13:58] oneserv-heuser commented on #35811
Hi @engcom-November, this is the same issue as I reported in #35759 which you closed as duplicate of #35466

[2022-07-25 13:59] oneserv-heuser commented on #35765
https://github.com/magento give me 2.4-develop instance

[2022-07-25 14:12] engcom-Dash commented on #35811
@magento give me 2.4-develop instance

[2022-07-25 14:19] oneserv-heuser commented on #35765
@engcom-November I see 2 differences in our attempts and your attempt to reproduct the bug:
You didn't create a new category and assigned the product to it and you only made the product configurable via one attribute.

Please create a configurable product which can be configured via atleast two different attributes and add it to an existing category. Then verify whether the issue occurs.
Then crea

[2022-07-25 14:35] engcom-Dash commented on #35811
Hi @engcom-November ,

We are able to reproduce the issue...we are getting actual result....

Here i attached the Screenshot for your reference
![Screenshot from 2022-07-25 20-00-24](https://user-images.githubusercontent.com/60198592/180802500-3f8e3a07-f38e-4386-b3d8-9435db2aa804.png)

Steps we are Followed by...

1. Create config product with child variant
2. Edit the product and save
3. Getting

[2022-07-25 14:48] engcom-Hotel commented on #35810
@magento give me 2.4-develop instance

[2022-07-25 15:40] Hexmage opened #35812 "[2.4.4] Missing Frontend CacheInfo breaks bin/magento"
### Preconditions and environment

- Magento 2.4.4
- Upgrade from 2.3.2
- Website is a PWA so doesn't use regular frontend.

### Steps to reproduce

composer update --no-dev
Run bin/magento.

### Expected result

See a list of commands.

### Actual result

```Warning: Undefined array key "frontend" in ../vendor/magento/framework/App/Cache/Frontend/Pool.php on line 90```

### Additional information

[2022-07-25 16:25] abdulrj009 opened #35813 "Elasticsearch memory issues in jvm.options"
### Summary (*)

I have issue in elasticsearch memory I tried 100 times also increase that xms and xmx in jvm.options it work for a little bit and again the same issue because of this I am not able to  reindex the catalog and face many issues in websites please help me to resolve this
### Examples (*)

elasticsearch.service - Elasticsearch
     Loaded: loaded (/lib/systemd/system/elasticsearch.ser

[2022-07-25 18:12] rob-gonz commented on #35616
@bka, thank you for the work you did to provide even more evidence of the issue and provide detailed findings here for the community.

Cheers!

We'll see what we can come up with when we explore the issue again.

[2022-07-25 18:45] pmonosolo commented on #34783
Thanks for bringing this issue up!

This would definitely throw a wrench into upgrades if you have created a theme dependent on those fields.

[2022-07-25 23:45] GamesmenJordan commented on #35735
Also encountered this error (2.4.3-p2), not sure what triggered it but it occurred during a standard deployment.

Same codebase did not trigger the error when deploying to staging, re-running the production deployment with no changes completed successfully.

So seems like we have some kind of Schrodinger's bug.

[2022-07-26 00:04] kevinvuilleminskazy commented on #35366
Same for me. patch no working

[2022-07-26 01:23] Autobadges opened #35814 "Something went wrong with processing the default view and we have restored the filter to its original state"
### Preconditions and environment

- Magento version 2.3.4
When I log into admin panel > Product I get this error:

Something went wrong with processing the default view and we have restored the filter to its original state

And I cannot alter or view ANY products

### Steps to reproduce

Log in on backend
Go to products

### Expected result

I am able to alter current products

### Actual result

[2022-07-26 03:28] davidandersson1 commented on #31219
@amouri82 i just set INNODB_STRICT_MODE = OFF in order to resolve above index issue, except than this, I haven't found found any other solution.

[2022-07-26 04:43] rudracomputech commented on #34678
Hello! I am having same issue, after adding 50 associate products the admin product edit page shows time out. I am using Magento ver. 2.4.4.

Thanks
Rudra Computech
www.rudracomputech.com

[2022-07-26 04:46] rudracomputech commented on #6167
Hello! I am having same issue, after adding 50 associate products the admin product edit page shows time out. I am using Magento ver. 2.4.4.

Thanks
Rudra Computech
[www.rudracomputech.com](http://www.rudracomputech.com/)

[2022-07-26 04:55] engcom-Hotel commented on #35813
Hello @abdulrj009,

Thanks for the collaboration!

I suggest you to please go through with the below articles in order to resolve this issue:

- https://devdocs.magento.com/cloud/project/services-elastic.html
- https://devdocs.magento.com/guides/v2.4/install-gde/prereq/elasticsearch.html
- https://www.elastic.co/guide/en/cloud-enterprise/2.1/ece-prereqs.html

And also please let us know more about

[2022-07-26 05:04] engcom-Hotel commented on #35078
Hello @MagicLegend,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch, but for us, the issue is not reproducible. We have followed the below steps:

1. Created Plugin for under Magento\Sales\Model\Order under app/code/Magento/Sales/etc/di.xml
2. Plugin look like the below:
[code]
3. Placed an Order successfully via Paypal Payment method

[2022-07-26 05:09] engcom-Hotel commented on #35511
Hello @qsolutions-pl,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch and the issue seems reproducible for us via the below steps:

1. Created After Plugin for `Magento\Checkout\Block\Checkout\LayoutProcessor :: Process()` under `app/code/Magento/Checkout/etc/frontend/di.xml`.
2. Minifying JavaScript files:
`bin/magento config:set dev/j

[2022-07-26 05:56] engcom-Delta commented on #35809
Hi @tales-desde-mileto ,
Thank you for raising an issue . We tried to reproduce the issue on magento 2.4 develop , We can't share accounts to Global.Please provide further information.
 Refer the attached screenshot.
<img width="929" alt="25" src="https://user-images.githubusercontent.com/51681379/180933721-b5c48308-f18f-4a0a-a3a1-7dcd9698a38d.png">

[2022-07-26 06:06] engcom-Delta commented on #35309
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-07-26 06:06] #35309 closed, assigned to engcom-Delta

[2022-07-26 06:22] engcom-Charlie commented on #34038
Hi @shaughnlgh,

In order to reproduce the mentioned issue, I have followed all the mentioned steps and found that the issue is reproducible on magento 2.4-develop

Created a upgrade script and tried to delete the non-existing attribute group.
`   /**
     * Remove attribute group
     *
     * @return void
     */
    public function removeProductAttributeGroups()
    {

        $groups = [

[2022-07-26 06:46] tales-desde-mileto commented on #35809
Hi:
You can't share accounts like Global probably because in your environment you have the same email on both websites (you have the "per website" setting).
You will be able to change it if you have a clean Magento 2.4.4. Or if you have an environment without the same customer email registered on more than one website.
You can find these customers with this query:
select email, count(website_id) f

[2022-07-26 07:20] raulsinapsis commented on #20147
Check this https://magento.stackexchange.com/a/223513/3566

[2022-07-26 07:42] Hexmage commented on #35617
@engcom-Hotel
Your module is not doing what I described.

[code]

[2022-07-26 09:22] engcom-Hotel commented on #35676
Hello @adamlavery,

We have tried to reproduce the issue in Magento 2.4-develop and the issue seems reproducible for us via following the below steps:

- Edit `app/code/Magento/Catalog/etc/db_schema.xml` line number 17 and add a new column with name `Sku_1`
- Run `bin/magento setup:upgrade`. This will create a new column with name `Sku_1` in table `catalog_product_entity`.
- Try to upload the CSV

[2022-07-26 09:22] engcom-Alfa commented on #35326
HI @hemendraajmera
For time being, since there is no response to my last comment in last ~14 days, closing this issue currently.

Kindly upgrade to the latest version `2.4-develop` to re test this issue to re-verify.
Please provide me all the required details in the comment section here, so that I will cross check and re-open the ticket again.
Else, better you may report a new bug with all the inf

[2022-07-26 09:22] #35326 closed, assigned to engcom-Alfa

[2022-07-26 09:58] engcom-Dash commented on #35782
Hi @magentothings ,

We could not find the exact issue...You may check your logs and clean the cache then try.It may works.

Thanks!!!

[2022-07-26 10:21] bhennesAdv opened #35819 "[W3C HTML compliance] Bundle product page (Multi Option)"
### Preconditions and environment

Hi,

First of all, I'm not sure if you're interested in this kind of report (HTML compliance), feel free to close the issue if not.

I was checking W3C compliance of some of the magento 2 instances I'm working on using https://validator.w3.org/ and I noticed this.

- Magento version : from 2.3.5 CE (It appears that it still works the same on last version)

Report

[2022-07-26 11:08] drinkingsouls commented on #35603
I am seeing this error in my system.log too since upgrading to Magento 2.4.4

main.ERROR: Environment emulation nesting is not allowed. [] []

[2022-07-26 12:06] engcom-November commented on #35328
Hi @nwiegers01 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-07-26 12:06] #35328 closed, assigned to engcom-November

[2022-07-26 12:09] engcom-November commented on #35754
Hi @maheshwaran-1343 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-07-26 12:09] #35754 closed, assigned to engcom-November

[2022-07-26 12:19] engcom-November commented on #34787
Hi @kwojc , Thank you for reporting and collaboration. This feedback was relayed to the core team and since there are specific action items out of this report we are closing it.
Thank you.

[2022-07-26 12:19] #34787 closed, assigned to engcom-November

[2022-07-26 12:30] engcom-November commented on #35776
Hi @DeepShah2511 ,
I verified the issue again on Magento 2.4.4 project-community-edition by setting medium password(Not a strong password) but still unable to reproduce the issue.
User is able to login from emails and able to reset password from password reset link as well.
User is able to login to UI from account sign in page as well.
Can you please check if any 3rd party extensions/modules enabl

[2022-07-26 12:44] artskirk commented on #35796
@magento I am working on this

[2022-07-26 13:18] cptX commented on #20147
Hi @raulsinapsis,
I had seen this already but it's not working. Probably there is some syntax mistake or some characters are wrongly represented.

Anyway thanks!

[2022-07-26 13:21] nbennett25 commented on #35743
@engcom-Hotel have you been able to reproduce the issue?

[2022-07-26 13:30] engcom-Echo commented on #35444
Hello @johan-lindahl,

Thanks for contribution and collaboration.
We have tried to reproduce this issue on magento 2.4-develop branch and it is not able to reproduce.
Steps followed to reproduce issue:

1- Install the fresh magento instance.
2- Create multiple website(Stores->All Stores->create website)
3- Set the "price scope" = website (Stores->Configuration->Catalog->Catalog->Price->Catalog Pri

[2022-07-26 13:32] engcom-Dash commented on #34646
@magento give me 2.4-develop instance

[2022-07-26 14:22] Nuranto opened #35820 "Remote storage and cache - Huge amount of (useless ?) cache"
### Summary (*)

We have L2 caching enabled. But I guess you can reproduce the issue with just setting up the cache backend to Filesystem.
When a S3 remote system is configured, a file cache is created for each single image (with tags `flysystem` and `mage`).

The result is that we crashed one of our server by launching `bin/magento catalog:images:resize --async` and `bin/magento queue:consumers:s

[2022-07-26 14:23] csvikram44 opened #35821 "There is no preview button or link available to check content in admin page builder - Magento Open Source"
### Summary (*)

I set up the latest Magento open source 2.4.4 in my local system. I enabled page builder functionality from the admin as well as existing preview functionality. But when I want to check the preview by creating a static block then I am not getting any link or button from where I can see a preview of the content.

**Screenshots Proof for enabling admin functionality:**

![Annotate-a

[2022-07-26 15:00] Hexmage commented on #35500
Workaround:

change `vendor/magento/module-tax/Pricing/Render/Adjustment.php:188`

From
` : 'base' . ucfirst($this->amountRender->getPriceType());`
To
` : 'base' . ucfirst($this->amountRender->getPriceType() ?: '');`

[2022-07-26 15:16] craig-bartlett commented on #35500
Hi @Hexmage

Cheers - for a temporary solution my plugin above does the same. It could also be applied as a Composer patch until this is fixed in the core.

Thanks

[2022-07-26 15:36] engcom-Delta commented on #29884
Hi @johncollinseu ,
Thank you for the update and we tried to reproduce the issue on magento 2.4.4 EE , issue is reproducible . Hence marking the issue confirmed.

Please find the attached video for reference.
https://www.loom.com/share/83935c37aec643c49759e6c3b20a60d3

[2022-07-26 15:43] tuyennn commented on #29884
What a pity, marked Done for 3 times and now it's Open, I really appreciate yours quality control.

[2022-07-26 15:43] engcom-Delta commented on #35798
Hi @devchris79 ,
We had verified the response and observed that country of manufacture is missing in response. Here is dev doc url for reference. Hence we are marking it feature request.
https://magento.redoc.ly/2.4.4-admin/tag/orderscreate

Response:
{
  "adjustment_negative": 0,
  "adjustment_positive": 0,
  "applied_rule_ids": "string",
  "base_adjustment_negative": 0,
  "base_adjustment_positi

[2022-07-26 15:56] Zaahed commented on #35353
This only happens on my local environment if the current working directory `getcwd()` is not set to the Magento 2 root directory. See line 306 in the `Composer/Factory` class. If you set `$cwd` to the Magento 2 root directory, it will return the correct version, even after flushing the cache.

[2022-07-26 16:07] necrojan commented on #34325
Got the same problem.  Mine's fixed by following @n2diving-dgx instructions.

[2022-07-26 16:37] devchris79 commented on #35798
Hi @engcom-Delta

Thanks for that, would it be possible to also have a field hs_code (harmonized tariff code) within the product attributes that gets posted? DHL express commerce can also do with that.
If you look at the bottom of the page below they make specific note of Magento lacking those attributes:

https://support.dhlexpresscommerce.com/hc/en-gb/articles/360036285991-Set-up-Magento-2

[2022-07-26 16:54] johan-lindahl commented on #35444
The issue is with tier prices, the attached screen does not show tier price. Tier prices are found under "advanced pricing"

//Johan

[2022-07-26 17:34] engcom-Delta commented on #35791
Hi @nikkicheng93 ,
We tried to reproduce the issue on magento 2.4 instance and 2.4.4 instance ,but facing different error after successful installation of vertex module .
While landing on Stores-->configuration--> Sales--> Tax

<style>.highlighted { background-color: #DFF7FF!important; }</style>
<form action="http://local.magento244.com/index.php/admin/admin/system_config/save/key/b51705d1d45f802c

[2022-07-26 18:57] #35805 closed, assigned to nobody

[2022-07-26 18:58] #35803 closed, assigned to nobody

[2022-07-26 18:58] #35802 closed, assigned to nobody

[2022-07-26 18:59] VladimirZaets opened #35822 "GJSS TEST ISSUE #5"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality an

[2022-07-26 18:59] VladimirZaets commented on #35822
@adobe export issue to Jira project AC

[2022-07-26 19:03] #35822 closed, assigned to nobody

[2022-07-26 19:35] hostep commented on #29363
Confirming that this issue still exists on Magento 2.4.5.

@sidolov: if Adobe no longer plans on using the release notifications in the future in the backoffice, I would strongly suggest that the `magento/module-release-notification` package is removed in future versions of Magento, because it has been broken for the last 2 years ... 🙂

[2022-07-26 20:42] nikkicheng93 commented on #35791
Customer is on Magento version 2.4.3-p1, so we did not have to install the connector. It was already part of the Taxes screen. Vertex is part of Magento on version 2.4.3-p1, so I do not know why you are not seeing that screen.

[2022-07-26 20:46] nikkicheng93 commented on #35791
@engcom-Delta Here is the Vertex documentation install guide. But customer is on Magento version 2.4.3-p1, so we did not have to install the connector. It was already part of the Taxes screen. Vertex is part of Magento on version 2.4.3-p1, so I do not know why you are not seeing that screen.

[Integration Guide - Vertex Tax Links for Magento 2 - 4.2.0.pdf](https://github.com/magento/magento2/files

[2022-07-26 20:59] kardeiz opened #35824 "Custom currency symbol ignored in some Currency formatting"
### Preconditions and environment

- Magento version 2.4.3-p2

### Steps to reproduce

1. In Magento admin, set the base currency to some non-USD value (Stores -> Configuration -> General -> Currency Setup) .
2. In Magento admin, set a custom currency symbol for the base currency (Stores -> Currency -> Currency Symbols).
3. In Magento admin, refresh the cache as requested for the invalidated secti

[2022-07-26 21:00] kardeiz commented on #35824
@magento give me 2.4-develop instance

[2022-07-26 21:05] kardeiz commented on #35824
The issue seems introduced by these lines: https://github.com/magento/magento2/blob/2.4.3-p1/app/code/Magento/Directory/Model/Currency.php#L368-L370.

There seem to be other issues (now resolved) with the number formatter here: https://github.com/magento/magento2/issues/33856.

[2022-07-27 05:24] #35821 closed, assigned to nobody

[2022-07-27 05:44] engcom-Hotel commented on #34973
Hello @Hexmage,

Thanks for the reply!

For now, we are putting this issue on hold for PO confirmation.

Thanks

[2022-07-27 05:51] engcom-Hotel commented on #35743
Hello @nbennett25,

Still working on this. Will update you soon.

Thanks

[2022-07-27 06:18] engcom-Lima commented on #35765
@magento give me 2.4-develop instance

[2022-07-27 06:34] lbajsarowicz commented on #35616
Very well-known issue, sorry I haven't noticed that before.

You can easily fix it with the patch from @magento/creativestyle team:
https://github.com/magesuite/magento-patches/blob/master/essential/magento/module-catalog/m242-wrap-price-indexer-with-transaction.patch

[2022-07-27 06:38] bka commented on #35616
@lbajsarowicz thanks for that hint

[2022-07-27 06:43] diwipl commented on #35616
Honestly this is just the tip of the iceberg, most of the indexes have the same behavior (lack of transaction), there are much more patches we created for similar issues as yours:

https://github.com/magesuite/magento-patches/blob/master/essential/magento/module-inventory-indexer/wrap-inventory-indexer-with-transaction.patch
https://github.com/magesuite/magento-patches/blob/master/essential/magent

[2022-07-27 06:45] engcom-Delta commented on #35809
Hi @tales-desde-mileto ,
Thank you for reporting and collaboration, We have verified the issue on magento 2.4 dev instance , but  issue is not reproducible .

Please find the steps followed. correct me if i am wrong.

1. .share Accounts = Global

![Screenshot (354)](https://user-images.githubusercontent.com/51681379/181178823-379272da-4b05-405c-b6f4-356963e87783.png)

2. 2.Add a product as a guest

[2022-07-27 06:46] engcom-Delta commented on #35814
@magento give me 2.4-develop instance

[2022-07-27 07:20] engcom-Hotel commented on #35617
Hello @Hexmage,

Thanks for the reply!

We have made the changes as per your comment. Now we have called `$this->_scopeInterface->setCurrentScope(Area::AREA_ADMINHTML)` method in `app/code/Magento/Checkout/Model/Cart:addProduct()` line no. 390. And remove it from the plugin.

But still, we are unable to reproduce the issue. For us, the exception log is empty after adding a product to the cart.
let

[2022-07-27 07:30] Hexmage commented on #35617
@engcom-Hotel

I'm trying to think of an easy way to reproduce the issue, because the code that was executing setCurrentScope function was quite a bit more complicated. And the content of the pluginlist was suddenly emptied and not fully rebuild.

The scenario that has to be created is one where the pluginlist is first fully generated, then the currentScope switched which caused the pluginlist to

[2022-07-27 08:21] xdoctordog opened #35828 "Space is missed"
https://github.com/magento/magento2/blob/2e45de7acefbd665ffa90c5e24dda6a5286c36ee/app/code/Magento/Customer/Model/EmailNotification.php#L130

[2022-07-27 09:13] engcom-Hotel commented on #35617
Thanks @Hexmage

We will wait for your reply!

[2022-07-27 09:23] dphilipps commented on #35329
@magento give me 2.4-develop instance

[2022-07-27 09:38] engcom-Lima commented on #35765
@magento give me 2.4-develop instance

[2022-07-27 09:41] engcom-Hotel commented on #35743
Hello @nbennett25,

Thanks for the report and collaboration!

But I would like to tell you that from releasing of Magento 2.4.4, the Vertex extension is no longer bundled with the core release. Please have a look at the below article:

https://docs.magento.com/user-guide/tax/taxes.html11

So I suggest you please connect with the Vertex developers directly.

Thanks

[2022-07-27 09:43] engcom-Lima commented on #35632
Hi @cctorres  ,

We are closing this issue as there has been no latest update on the same. Kindly reopen/create new issue if you are still facing any issues.

Thank you

[2022-07-27 09:43] #35632 closed, assigned to engcom-Lima

[2022-07-27 09:44] engcom-Lima commented on #35737
Hi @BorisovskiP  ,

We are closing this issue as there has been no latest update on the same. Kindly reopen/create new issue if you are still facing any issues.

Thank you

[2022-07-27 09:44] #35737 closed, assigned to engcom-Lima

[2022-07-27 10:16] engcom-Delta commented on #34324
Hi @ihor-sviziev ,
We have verified this issue on Magento 2.4 develop instance , issue is not resolved , still we could not find out "Trust this device " check box.

Please find the attached video for reference.

https://www.loom.com/share/1650f815b4c5417eb5350335c1a79dbb

[2022-07-27 10:27] amouri82 commented on #31219
Hi @davidandersson1,
Thank you for your replay.
Do you know how to return to default tablespace value without turning off INNODB_STRICT_MODE ?

[2022-07-27 10:37] engcom-Delta commented on #35584
@magento give me 2.4.4 instance with edition ee

[2022-07-27 11:03] mzenner1 commented on #32943
I can confirm this is still an issue in 2.4.3-p1

Error - "Order saving error: Public hash should be defined"

[2022-07-27 11:45] engcom-Lima commented on #35765
Hi @jamie-selesti ,

I have tried to reproduce the issue in `2.4-develop`(on cloud instance as well) branch but issue is not reproducibile to me.

**Steps to reproduce:**

1. Created configurable product with more than 350+ options( 20 size options, 12 color options and 2 format options)
2. Assigned the category.
3. On frontend I have checked the category page.

**Expected result:** Product should

[2022-07-27 11:54] oneserv-heuser commented on #35765
@engcom-Lima I also cant't reproduce the issue anymore. Maybe there was a commit in the meantime which fixed the issue (accidentially)?

[2022-07-27 12:11] engcom-Delta commented on #35828
Hi @xdoctordog ,

Thank you for raising an issue , Please provide issue description, steps to reproduce , actual results , expected results and screenshots if required.

Regards,

[2022-07-27 12:17] engcom-November commented on #35794
@magento give me 2.4-develop instance

[2022-07-27 12:26] engcom-Echo commented on #26866
Hello @bartoszkubicki,

Thanks for contribution and collaboration.
We have tried to reproduce this issue on magento 2.4-develop branch and it is not able to reproduce.
Steps followed to reproduce issue:
Module Zip file :-
[Hidro.zip](https://github.com/magento/magento2/files/9198499/Hidro.zip)

1. Install the fresh magento instance.
2. Create Custom Module.
3. Create some service class
4. Create v

[2022-07-27 12:29] ihor-sviziev commented on #34324
Hey @engcom-Delta,
The issue was actually about the missing feature that was there, so you confirmed it.

[2022-07-27 12:40] engcom-Lima commented on #35824
@magento give me 2.4-develop instance

[2022-07-27 12:44] LucasVollebergh commented on #33749
I had this issue only on accounts without admin rights.
What helped me solve this issue was setting the **User Role permissions** of the 2FA module checked.
![image](https://user-images.githubusercontent.com/13552277/181249705-a46b1f7b-d0b6-4218-8e9b-7bf0fb8b02dd.png)

[2022-07-27 12:50] drinkingsouls commented on #33749
I believe you need both of these enabled for User Roles to work with 2FA correctly:

Stores > Settings > Configuration >Two Factor Auth
System > Permissions > Two Factor Auth

[2022-07-27 12:54] AymericJoubert opened #35829 ""We can't find products matching the selection." for categories without children"
### Preconditions and environment

- Magento 2.4.4
- Sample data deployed
- Elasticsearch 7.16.3

### Steps to reproduce

1. Deploy sample data
2. Reindex everything
3. On the frontend, go on a category without children (ex: Women -> Top -> Tees)

### Expected result

I see the products that are assigned to the category.

### Actual result

There is no products, the info message "We can't find pro

[2022-07-27 12:54] engcom-Lima commented on #35765
Hi @oneserv-heuser & @jamie-selesti ,

As the issue resolved in latest`2.4-develop` we are closing this issue. Kindly create new issue if you observe this issue in future
because waiting for 2.4.5 will take time.
Kindly create new issue if you observe this issue in future.

Thank you

[2022-07-27 12:54] #35765 closed, assigned to engcom-Lima

[2022-07-27 12:57] engcom-Bravo commented on #35819
It is Closed by mistake and i reopening this ticket

[2022-07-27 12:59] engcom-November commented on #35496
Hi @YiffyToys ,
Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue with below steps followed:
1. Stores - Settings - Order status - like below
![image](https://user-images.githubusercontent.com/60198231/181251531-066543c9-d8ef-4111-af85-98757755aa26.png)
2. Created orders in both the stores - Main website and german site
3. Changed order status for both the

[2022-07-27 13:02] engcom-Delta commented on #35584
@magento give me 2.4.4 instance

[2022-07-27 13:03] engcom-Bravo commented on #35819
@magento give me 2.4-develop instance

[2022-07-27 13:05] YiffyToys commented on #35496
Thanks.
We'll check again with 2.4.4 when there is a Debian package of OpenSearch and all our plugins support PHP8.1.

[2022-07-27 13:20] bhennesAdv commented on #35819
Hello,

Thank you for the new instance. I configured the product 24-WG080. Issue is still visible :
https://9f0b5cb5087f736d98545f14e723c41f.instances.magento-community.engineering/sprite-yoga-companion-kit.html
l. 576
view-source:https://9f0b5cb5087f736d98545f14e723c41f.instances.magento-community.engineering/sprite-yoga-companion-kit.html
[code]

[2022-07-27 13:44] engcom-Lima commented on #35824
Hi @kardeiz ,

I have tried to reproduce the issue in `2.4-develop` but unable to reproduce the issue.
I am able to see custom currency symbols in all the pages and in emails.

Below is the screenshot for your reference:
![image](https://user-images.githubusercontent.com/60198022/181260518-124a1101-802f-4fe4-87ab-41fc9061a81c.png)
![image](https://user-images.githubusercontent.com/60198022/1812613

[2022-07-27 13:53] Nuranto commented on #35783
We can confirm this issue too.

[2022-07-27 14:00] kardeiz commented on #35824
@magento give me 2.4.3-p2 instance with edition ee

[2022-07-27 14:28] engcom-Delta commented on #35814
Hi @Autobadges ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
1.we can able to alter current products

<img width="935" alt="50" src="https://user-images.githubusercontent.com/51681379/181272985-370fd140-0438-4249-9669-5f5bfcf60e15.png">

2. we can view all products

<img width="922" alt="51" src="https://use

[2022-07-27 15:12] dudzio12 commented on #35707
I can confirm the issue for sales rule which:
- is active
- have specified rule conditions
- have specified action conditions
- have stop_rules_processing flag

I'm working on this.

[2022-07-27 15:19] ghost opened #35830 "i"

[2022-07-27 15:30] engcom-Delta commented on #35830
Hi @shannonearley ,
Thank you for raising an issue , We are happy to assist you but Please provide more details like which version of Magento to replicate this issue.

Regards,

[2022-07-27 15:55] devchris79 commented on #35830
You are asking for trouble posting a customers address, phone number, who they ordered from etc on a public forum.

What is in the Sales->Orders page ? It may be that the customer checked out as a guest not realising they had an account or used another set of details.

[2022-07-27 16:03] engcom-Delta commented on #34324
Hello @ihor-sviziev ,
Thanks for confirming . We have added the label 'feature request' . is that fine?

Regards,

[2022-07-27 17:42] kardeiz commented on #35824
https://github.com/magento give me 2.4.3-p2 instance

[2022-07-27 17:42] kardeiz commented on #35824
@magento give me 2.4.3-p2 instance

[2022-07-27 18:10] ihor-sviziev commented on #34324
@engcom-Delta, I'm not sure if we can treat it as a feature request, as in past such feature was there, and now it was removed.

[2022-07-27 19:13] kardeiz commented on #35824
@magento give me 2.4.3 instance

[2022-07-27 20:15] thomas-kl1 commented on #32004
at least colon is now accepted :') https://github.com/magento/magento2/commit/34115de04273a88f88ed070609e6316ede643617

[2022-07-27 22:04] agaraban opened #35831 "Allow to translate texts in English in live search"
### Preconditions and environment

- Magento version 2.4.4
- Anything else that would help a developer reproduce the bug
-
Right now we are trying to translate "View All" and "Suggestions" in autocomplete, but we realized that this sec element is created by jaavscript and comes from an external magento service. We want to know if they are going to release a fix to solve this issue for multilanguag

[2022-07-28 03:49] kenit commented on #35791
I can fix this issue by adding a if/else check to the Vertex\Tax\Model\Calculator class, line 444 to 447.
If the value of config 'tax/calculation/price_includes_tax' is true, the code should be
[code]

[2022-07-28 05:48] engcom-Lima commented on #35715
Hi @emrahuyanik ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks!

[2022-07-28 05:48] #35715 closed, assigned to engcom-Lima

[2022-07-28 06:52] pankajchhatwani opened #35832 "Admin It's time to change your password Link Is Not Working and Admin login page url key is not added - Magento 2.4.3-p1"
### Preconditions and environment

- admin login page in link not added secure key
![link-not-proper](https://user-images.githubusercontent.com/76781896/181436501-443f90e5-6a7e-4dd9-b778-998a0ec3fc31.png)

- change password link is always redirect starting admin page with 'You entered an invalid Secret Key. Please refresh the page.'
![change-password](https://user-images.githubusercontent.com/7678

[2022-07-28 07:01] engcom-Lima commented on #35832
@magento give me 2.4-develop instance

[2022-07-28 07:23] m2-assistant[bot] opened #35833 "[Issue] Issue #13952 - Duplicate orders with same Quote Id at same time with few time difference."
This issue is automatically created based on existing pull request: magento/magento2#35139: Issue #13952 - Duplicate orders with same Quote Id at same time with few time difference.

---------
### Description (*)
Two different orders have been placed with very few seconds as time difference with same quote Id.

### Fixed Issues (if relevant)
1. Fixes magento/magento2#13952

### Manual testing scen

[2022-07-28 07:46] pankajchhatwani commented on #35832
Thanks for quick reply

i have changed the configuration for replicated issue : https://prnt.sc/zZUHVmEV6nDS

can you please check link https://prnt.sc/zpAtg35fhu5v

admin url issue image :
![url-issue](https://user-images.githubusercontent.com/76781896/181450481-264a0dc7-a8fa-4bc7-b55f-50b7c6f6d91e.png)

Thanks!

[2022-07-28 08:01] cloudflexdev opened #35834 "Styling bug in datepicker on Report pages"
### Preconditions and environment

- Magento 2.4.4

### Steps to reproduce

1. Login to Admin Dashboard
2. Go to the Reports -> Customers -> Order Total
3. Select any "from date" and any "to date"

### Expected result

The text shouldn't overlaps.
![image](https://user-images.githubusercontent.com/78548851/181445565-4148dca1-70b2-4b20-a69d-49718b069551.png)

### Actual result

When you select date

[2022-07-28 08:09] engcom-Alfa commented on #13952
This ticket had an internal Jira, and due to various reasons that Jira got processed and cancelled.
In order to further follow-up and take it forward, we have created a new issue - [35833](https://github.com/magento/magento2/issues/35833), and it has already created PR [35139](https://github.com/magento/magento2/pull/35139) linked.
Hence, we can refer these tickets for future updates.

Thanks for

[2022-07-28 08:13] engcom-Alfa commented on #35833
As tested and mentioned in the [PR_comment](https://github.com/magento/magento2/pull/35139#issuecomment-1197802247), confirming this issue!

[2022-07-28 08:21] adamlavery commented on #34324
The key issue here is that any security system must be acceptable form an end-users point of view. Blindly demanding end users enter a 2FA code every time they access their site from their own trusted devices is pointless. They'll just turn off this annoyance and in the process make their site less secure.

Same as demanding passwords are changed every x days. That has always been pointless, which

[2022-07-28 08:31] zepgram opened #35835 "[ja_jp] language package is not installable"
### Preconditions and environment

- Magento version 2.4.3-p2 enterprise edition
- Composer v2.3.10

### Steps to reproduce

1. Get a magento environment (community/enterprise)
2. Run `composer require community-engineering/language-ja_jp:1.0.19` (any tag, it will be the same result)
3. Composer will try to install a priority version "1.0.0" that doesn't exist on official repository: https://githu

[2022-07-28 08:38] HirokazuNishi commented on #35835
@zepgram as I commented on l10n repo, please use https://github.com/magentoj/language-ja_JP for 2.4.x .

[2022-07-28 08:39] engcom-Bravo commented on #35819
@magento give me 2.4-develop instance

[2022-07-28 09:26] glo11468 commented on #34324
Hi @ihor-sviziev @adamlavery ,

Thank you so much for your inputs and confirmation on this issue.

Regards,

[2022-07-28 09:29] engcom-Delta commented on #34324
Hi @ihor-sviziev @adamlavery ,
Thanks a lot for your inputs and confirmation.

Regards,

[2022-07-28 09:29] hostep commented on #35616
Great info here!

Why aren't these fixes being contributed back as pull requests to Magento? (I understand the PR process is a big pain in the ass here, but at least it would make the fixes more visible to the entire community)

[2022-07-28 09:35] engcom-Hotel commented on #34851
Hello @ioweb-gr,

Thanks for the report and collaboration!

We have tried to reproduce the issue with a small set of shipments from our instance and the issue seems reproducible if we have so many shipments.

Please have a look at the below screenshot for reference:

<img width="853" alt="image" src="https://user-images.githubusercontent.com/51681618/181473659-77236f52-dd2a-4375-9a8c-13acc5bc4e06.

[2022-07-28 09:40] engcom-Bravo commented on #35755
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-07-28 09:40] #35755 closed, assigned to engcom-Bravo

[2022-07-28 09:47] engcom-Lima commented on #35832
@magento give me 2.4.1 instance

[2022-07-28 09:49] H-Toine opened #35836 "Magento 2.4.4 does not support .webp upload"
### Preconditions and environment

- Magento 2.4.4

We currently have our own API set up to connect to Magento, and we provide content from this; including images. This includes various mime types, including webp.

Whenever we try to send that image through the Magento REST API, it says it does not support the mime type.

We have also tried uploading an image in the magento admin page for:
- Catal

[2022-07-28 09:49] engcom-Lima commented on #35832
https://github.com/magento give me 2.4.2 instance

[2022-07-28 09:51] engcom-November commented on #35794
Hi @kalvinder123 ,
Thank you for reporting and collaboration. Verified the issue on magento 2.4-develop branch with below steps but could not able to reproduce the issue.
Steps performed:
1. Setup multi store website with hyphen (-) in domain. Ex: http://gr-mg24ce-local/
2. Front-end  - Created customer account and logged in
3. Added product to cart and checkout
4. Placed order with Money order
No

[2022-07-28 10:04] engcom-Delta commented on #35791
Hi @nikkicheng93 ,
Thank you for your update and inputs . Starting with the 2.4.4 release, this extension is no longer bundled with the core release and must be installed and updated from the Commerce Marketplace or directly from the vendor. [Contact Vertex](https://marketplace.magento.com/partner/vertex_inc) for information about the extension and documentation.

Link  for reference # https://doc

[2022-07-28 10:18] snez opened #35837 "PHP 8 crash: TypeError: strtotime(): Argument #1 ($datetime) must be of type string, null given in vendor/magento/module-security/Model/AdminSessionInfo.php:136"
### Preconditions and environment

- Magento version 2.4.4
- PHP 8.x

### Steps to reproduce

Enabled and rolled db backup as per [Devdocs](https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-backup.html)
On running the command bin/magento setup:rollback [-c|--code-file="<name>"] [-m|--media-file="<name>"] [-d|--db-file="<name>"], below php error is getting displayed on bot

[2022-07-28 10:22] engcom-November commented on #35835
Hi @zepgram ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not reproduce the issue.
![image](https://user-images.githubusercontent.com/60198231/181481505-46f8cf22-7a7d-4c60-954f-7c5a7b425dff.png)
Also looks like this is not Magento related issue but the issue with 3rd party package: community-engineering/language-ja_jp:1.0.19. and code of th

[2022-07-28 10:38] sandy6666 commented on #29216
@magento-engcom-team please reopen this issue

[2022-07-28 10:42] zepgram commented on #35835
The repository is published by https://github.com/magento-l10n with an Adobe address [magento-l10n@adobe.com](mailto:magento-l10n@adobe.com) I don't think this is a marketplace issue. It's a community project.

Installation of the package probably worked for you because you installed Magento with GIT.
You may install the project with composer to be able to reproduce.

Steps to reproduce:
1. `compo

[2022-07-28 10:55] engcom-Lima commented on #35836
Hi @Toinehaaijer ,

As per M2 document only JPG & PNG file format is supported.And webp file format is not supported.
Kindly refer the [devdocs](https://developer.adobe.com/commerce/marketplace/guides/sellers/image-tips/) for your reference.

Thanks

[2022-07-28 11:02] Toinehaaijer commented on #35836
@engcom-Lima Thanks, I couldn't find that part of the docs. Is it possible to turn webp compatibility into a feature request?

[2022-07-28 11:05] engcom-Lima commented on #35836
@Toinehaaijer I will discuss internally for your query then, I will come back to you as soon as possible.

[2022-07-28 11:31] engcom-Lima commented on #35836
Hi @Toinehaaijer

We want to know your use case for using webp type format?
As I have seen some of the website not recommending that because some of the browser not suporting it, image thumbnail not was broken on there sites.

Thanks

[2022-07-28 11:33] engcom-November commented on #35837
Thank you for reporting and collaboration @snez . Verified the issue on both Magento 2.4-develop branch and 2.4.4 project-community edition as well, but I'm getting different exception when trying to restore DB backup.
**Steps performed:**
Enabled and rolled db backup as per [Devdocs](https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-backup.html)
On running the command `b

[2022-07-28 11:41] Toinehaaijer commented on #35836
Hi @engcom-Lima, our use case would be increasing performance/load times, as webp should be about 25%-34% smaller than a jpeg, and 26% smaller than a png. Also, it would increase flexibility for end users who don't really give file/mime types a second thought.

WEBP compatibility seems really good now, only IE doesn't support this: https://caniuse.com/webp

[2022-07-28 11:45] engcom-Lima commented on #35832
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** "_Change your password_" link redirecting to dashboard instead of password reset page.

**Pre-requisite:**
Fresh magento `2.4-develop` should be installed.

**Steps to reproduce:**

1. Login as admin.
2. Go to Stores --> Configurations --> Settings --> Advanced --> Admin --> Security --> Password

[2022-07-28 11:51] engcom-Bravo commented on #35829
Hi @AymericJoubert,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
![Screenshot (375)](https://user-images.githubusercontent.com/51680745/181497593-d8e9c596-a1e0-4608-9dd4-7c7638cea852.png)

Followed steps:
 1.Sample data Deployed
 2.Reindexing
 3.Go to Catalog page

Please Review the mentioned steps.

Regards,

[2022-07-28 11:51] engcom-Lima commented on #35836
Hi @Toinehaaijer ,

Thanks for your contribution and collaboration.
On basis of your use case marking this ticket as feature request.

Thanks

[2022-07-28 11:59] engcom-Hotel commented on #35085
Hello @GamesmenJordan,

We have tried to reproduce the issue in Magento 2.4-develop branch but it seems that the issue is not reproducible for us. We have followed below steps in order to reproduce the issue:

Steps:
1. Edit `web/cookie/cookie_domain` with incorrect value, for us it is `.magento2ce9.org`.
2. Set the correct value in env.php file as below:
[code]
3. Ran command `bin/magento app:con

[2022-07-28 12:04] engcom-Bravo commented on #35819
@magento give me 2.4-develop instance

[2022-07-28 12:13] diwipl commented on #35616
To be honest, nobody from our side had time to create PRs taking into account how long the process takes.

Since we are open source with our patches we are open for anyone to take those changes and prepare proper PRs based on them.

[2022-07-28 12:22] engcom-November commented on #35834
@magento give me 2.4-develop instance

[2022-07-28 12:24] engcom-November commented on #35834
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence updating the description and confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/181504252-0ff24ed5-be70-4f3f-bea7-fc3caca868e2.png)

[2022-07-28 12:51] engcom-Delta commented on #35723
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-07-28 12:51] #35723 closed, assigned to engcom-Dash

[2022-07-28 12:53] engcom-Delta commented on #35758
We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2022-07-28 12:53] #35758 closed, assigned to hryvinskyi, engcom-Dash

[2022-07-28 12:54] ananth-iyer opened #35838 "Customer is logged in but showing 404 error in frontend."
### Preconditions and environment
 - 2.3.x, 2.4.x CE and Adobe Commerce

![](https://user-images.githubusercontent.com/24892273/181508159-7dbdb063-347c-4391-a7b9-8931c4bd1b94.png)

Base64 - aHR0cDovL21hZ2VudG8yNDAubG9jYWwvY3VzdG9tZXIvYWNjb3VudC9sb2dpblBvc3Qv
Decoded Base64 - <http://magento240.local/customer/account/loginPost/>
### Steps to reproduce
1. Go to frontend.
1. Add `/customer/account/lo

[2022-07-28 12:54] ananth-iyer commented on #35838
@magento give me 2.4-develop instance

[2022-07-28 13:09] ananth-iyer commented on #35838
If you visit this link: https://70b0711c568e9cdf00416449ee01f393.instances.magento-community.engineering/customer/account/loginPost/
Click on Sign In on above link so will get better idea

[2022-07-28 13:15] engcom-Delta commented on #35746
Hi @ayushi011 ,
We have tried once again on Magento 2.4.4 EE on local , found that issue is not reproducible.
Here is attached reference.

https://www.loom.com/share/d971f911913141028a3e69c8417766b2

Kindly review and suggest us if we can close this issue.

[2022-07-28 13:49] engcom-Lima commented on #35838
Hi @ananth-iyer

Thanks for your contribution and collaboration.
I have tried to reproduce the issue but unable to reproduce it.
Kindly refer this [video](https://shared-assets.adobe.com/link/0175876c-b35c-4619-7534-3842343abe56) for your reference.
If possible can you send video of this issue.

Thanks

[2022-07-28 14:04] sandy6666 commented on #29216
@magento I am working on this

[2022-07-28 14:04] sandy6666 commented on #29216
@magento please reopen this issue

[2022-07-28 14:39] engcom-Echo commented on #35444
Hello @johan-lindahl ,

Thanks for contribution and collaboration.
We have tried to reproduce this issue on magento 2.4-develop branch and it is not able to reproduce.
Steps followed to reproduce issue:

1- Install the fresh magento instance.
2- Create multiple website(Stores->All Stores->create website)
3- Set the "price scope" = website (Stores->Configuration->Catalog->Catalog->Price->Catalog Pr

[2022-07-28 15:16] zepgram commented on #35313
I'm not sure that you realise it can break whole service using API integration: **this should be a P1** ticket

By launching a 2.4.3-p2 or 2.4.4 Magento on production you could break every API service.

Guys uou should atleast create a quality patch for this issue.

[2022-07-28 15:31] ananth-iyer commented on #35838
You did not click this link to replicate the issue - https://70b0711c568e9cdf00416449ee01f393.instances.magento-community.engineering/customer/account/loginPost/

It is clear, you don't want to fix the issue.

[2022-07-28 16:31] Nuranto opened #35839 "Consider support sentinel for redis cache"
### Summary (*)

History : https://github.com/magento/magento2/pull/11222

Since that PR has been closed, sentinel support has finally been added for session, but not for cache.

### Proposed solution

Add sentinel support for cache backend.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This

[2022-07-28 17:06] ihor-sviziev commented on #34324
@engcom-Delta, I think it should have P2 priority since it causing turning of of 2fa auth by many ppl.

[2022-07-28 17:12] magentoprasad commented on #29713
2.4.4 V also have same issue of cron missing

[2022-07-28 19:21] johan-lindahl commented on #35444
You should try to change scope on the product page in the scope drop down (top left) and then set different tier price for different scopes.

//Johan

Sent from my iPhone

[2022-07-28 19:33] gwharton opened #35840 "Backorder Warning does not take into account reservations"
### Preconditions and environment

- Magento 2.4.4

### Steps to reproduce

Create Test Product with 5 in stock.
Enable backorders with notify
Go to storefront and purchase 5 of the test product
Go to storefront and purchase another 1 of the test product
Go to storefront and purchase another 6 of the test product

### Expected result

During the checkout of the 1 item I would expect the backorder

[2022-07-28 19:33] gwharton commented on #35840
@magento give me 2.4-develop instance

[2022-07-28 19:42] gwharton commented on #35840
Unable to reproduce on vanilla.

[2022-07-28 19:42] #35840 closed, assigned to nobody

[2022-07-28 20:56] aliomattux opened #35841 "Site cannot handle Braintree API services being down"
### Preconditions and environment

- Magento version
- 2.4.4
- Production environment.
- PHP 7.4
- Braintree extension installed and configured
Nginx webserver + PHP-FPM
64 core physical server

### Steps to reproduce

Reproduction of this issue is only possible when Braintree API services are not available. Prerequisite to the test is ensuring the unavailability of the stated service.

As a test,

[2022-07-28 21:06] aliomattux commented on #35841
IMO, this is a critical problem. Magento must not depend on the availability of an external service in order to operate. Every website running Magento and using an external payment gateway is vulnerable to the site becoming entirely inoperable if any of the configured gateways are become unavailable for any reason.

[2022-07-29 04:40] ananth-iyer commented on #35838
@engcom-Lima ☝🏻

[2022-07-29 04:58] seak6adtn59v commented on #35724
This was the issue, somehow after updating to M2.4.4 some out of stock config products when we make them In Stock, they were still showing out of stock. Then I manually changed `stock_status` to 1 in `cataloginventory_stock_status` table for that config product and then it started showing all ok.

I think Magento team should look into it.

[2022-07-29 05:38] engcom-Hotel commented on #35541
Dear @Sanjay-100,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-07-29 05:38] #35541 closed, assigned to engcom-Hotel

[2022-07-29 05:39] devphoenix2404 commented on #30685
I'm getting the same issue for 2.4.0, 2.4.1, 2.4.2, 2.4.3 and i've tried with all mode (default, developer)
Can anyone help here 🙏🏻

[2022-07-29 05:59] engcom-Hotel commented on #33412
Dear @06romix,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-07-29 05:59] #33412 closed, assigned to nobody

[2022-07-29 06:15] engcom-Lima commented on #35838
@magento give me 2.4-develop instance

[2022-07-29 06:36] engcom-Charlie commented on #35694
Hi @FYvw,

As we have not received any reply on [comment](https://github.com/magento/magento2/issues/35694#issuecomment-1184453925) for a period more than 14 days hence because of the inactivity we are closing this issue.

Please raise a fresh issue or reopen this issue if you need more assistance on this.

Thank you!

[2022-07-29 06:36] #35694 closed, assigned to engcom-Charlie

[2022-07-29 06:37] ananth-iyer commented on #35836
@Toinehaaijer You should use Yireo plugin for webp support: https://www.yireo.com/software/magento-extensions/webp2

[2022-07-29 07:07] engcom-Lima commented on #35838
Hi @ananth-iyer ,

I had clicked on [above url](https://github.com/magento/magento2/issues/35838#issuecomment-1198314418) you have given and I got the 404 error as you described. Further I tried to investigate when we get this url appended with `/loginPost`.
Inorder to identify the specific scenario I had followed your steps to reproduce and recorded [above video](https://github.com/magento/magent

[2022-07-29 07:09] onlinebizsoft commented on #33685
This is not an issue to be reproducible. I advise you to get your team to look at and verify. There were quite many discussion in this thread to confirm the issue.

[2022-07-29 07:15] engcom-Hotel commented on #35066
Hello @madonzy,

We have tried to reproduce the issue in the Magento 2.4-develop branch via the below steps but the issue is not reproducible for us:
Steps:
1. Enable Redis cache for the Magento instance via following this [page](https://devdocs.magento.com/guides/v2.4/config-guide/redis/redis-pg-cache.html).
2. Run cache clear command `bin/magento c:c`
3. Make the changes in the env.php file as b

[2022-07-29 07:49] adamlavery commented on #34324
Agreed. My clients won't accept it as it is and as they are the boss it has been disabled.

[2022-07-29 07:51] engcom-Lima commented on #35771
Hi @nachosan2 ,

Since there is no update from 14 days. Hence, closing this issue if you are facing any issue you can reopen this ticket or log new issue.

Thanks

[2022-07-29 07:51] #35771 closed, assigned to engcom-Lima

[2022-07-29 07:59] reganhcf commented on #31758
maybe need to check exception.log,when exception occur on elasticearch,it will return null result

[2022-07-29 08:07] engcom-Bravo commented on #35819
Hi @bhennesAdv
Thanks for your contribution and collaboration.
On basis of your Concern marking this ticket as feature request.

[2022-07-29 08:22] #35793 closed, assigned to engcom-November

[2022-07-29 08:34] artskirk commented on #35808
@magento I am working on this

[2022-07-29 08:43] engcom-Delta commented on #35831
Hi @agaraban ,
Thank you for raising an issue , It seems actual results and expected are same in provided issue description. Hence kindly provide the expected results and actual results.

Regards,

[2022-07-29 08:55] engcom-Delta commented on #35812
Hi @Hexmage ,
Thank you for raising an issue , We tried to reproduce the issue on Magento PWA Venia instance and Magento 2.4.4 instance ,Issue is not reproducible. Hence review provided steps.

Please find the attached reference video.
https://www.loom.com/share/7e2490b4c3fc4f5ca6922c16c81d9e62

[2022-07-29 09:05] ananth-iyer commented on #35838
@engcom-Lima  It takes referer url `/loginPost`, encodes with base64 and adds in referer parameter of `/login`. So after success login, page is redirected to `/loginPost`

[2022-07-29 09:09] ananth-iyer commented on #35838
@magento give me 2.4-develop instance

[2022-07-29 09:12] Nuranto opened #35843 "Theme issue on setup:upgrade"
### Summary (*)

When performing a `setup:upgrade`, we get :

[code]

The issue is here :
[app/code/Magento/Theme/Model/Theme.php](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Theme/Model/Theme.php#L266)

[code]

The emulation of adminhtml is triggered in `setup:upgrade` by `/var/www/html/vendor/magento/module-deploy/Console/Command/App/ConfigImportCommand.php(106)`

### P

[2022-07-29 09:15] glo11468 commented on #34324
Ok Adam Lavery , Ihor Sviziev. Updated the priority accordingly.

Thanks,
Penchalaiah
________________________________
From: Adam Lavery ***@***.***>
Sent: Friday, July 29, 2022 1:19 PM
To: magento/magento2 ***@***.***>
Cc: Penchalaiah K ***@***.***>; Comment ***@***.***>
Subject: Re: [magento/magento2] 2FA - missing "Trust this device" checkbox (#34324)

EXTERNAL: Use caution when clicking on lin

[2022-07-29 09:17] artskirk commented on #35756
@magento I am working on this

[2022-07-29 09:19] madonzy commented on #35066
HI, @engcom-Hotel it looks like you did not configure redis properly. You have actually 0 connections, not 1. The one you see is your redis-cli connection (you can see by IP 127.0.0.1). Try out this config:

[2022-07-29 09:22] Nuranto commented on #35843
Here's a temporary patch, if it can helps someone :
[code]

[2022-07-29 09:33] ananth-iyer commented on #35838
@engcom-Lima check this screen recording
[Untitled_ Jul 29, 2022 3_00 PM.webm](https://user-images.githubusercontent.com/24892273/181730483-2e2f226d-7e83-4cf5-b101-49c7a7526ee1.webm)

[2022-07-29 10:16] Toinehaaijer commented on #35836
@ananth-iyer Thanks, I've already looked at this plugin and it does add webp compatibility, but in a different way. It generates webp images based on jpg and png images you've added to the site.

The problems I have with this plugin:
- Webp upload is not supported (Both REST API and upload via admin doesn't support webp), so no extra flexibility
- Doesn't seem to work on a 2.4.4 install (composer

[2022-07-29 10:21] engcom-Bravo commented on #35841
HI @aliomattux ,

Thanks for contribution and collaboration.

According to system requirement [document](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) of Magento we should use Php 8.1 for `2.4.x` version. Kindly refer the document.
Let us Know if you are facing any Issue.

Thanks.

[2022-07-29 10:57] engcom-Delta commented on #35595
Hi @NickvdMeij ,
We have got update from Product Owner like If we are trying to set different prices for bundle options for different storeviews of the same website, then we cannot do this since bundle options as well as their prices are the global level attributes and cannot be customized on storeview level, the only thing we can customize is the option’s title.

Thanks

[2022-07-29 11:11] engcom-Delta commented on #35177
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-07-29 11:11] #35177 closed, assigned to engcom-Dash

[2022-07-29 11:24] engcom-November commented on #35839
Hi @Nuranto ,
Thank you for reporting and collaboration. Sentinel support for redis cache is not mentioned in Magento [devdocs1](https://devdocs.magento.com/guides/v2.4/config-guide/redis/redis-pg-cache.html), [devdocs2](https://devdocs.magento.com/guides/v2.4/config-guide/redis/config-redis.html). Hence we considering this as feature request but not a bug.
Thank you.

[2022-07-29 12:01] engcom-Lima commented on #35838
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Customer is logged in but showing 404 error in the frontend.
**Pre-requisite:**
Fresh magento `2.4-develop` should be installed.

**Steps to reproduce:**

1. Go to frontend.
2. Add `/customer/account/loginPost/` in your magento url.
3. Now click on **sign In**
4. Give login id and password.

**Exp

[2022-07-29 12:12] Nuranto commented on #35836
We should add support for avif too, even if avif is not supported everywhere yet. Let's anticipate.
https://caniuse.com/?search=avif

[2022-07-29 12:15] artskirk commented on #35612
@magento I am working on this

[2022-07-29 12:59] engcom-Lima commented on #31656
Hi @YiffyToys ,

As per above [comment](https://github.com/magento/magento2/issues/31656#issuecomment-761296521) there will be no impact on Magento users .
Hence, marking this issue as non-issue. If you are facing any issue kindly create new ticket.

Thanks

[2022-07-29 12:59] #31656 closed, assigned to engcom-Lima

[2022-07-29 15:28] igorwulff commented on #35459
The change probably needs to be as following:

Index: vendor/magento/module-versions-cms/Model/CurrentNodeResolver.php
diff --git a/vendor/magento/module-versions-cms/Model/CurrentNodeResolver.php b/vendor/magento/module-versions-cms/Model/CurrentNodeResolver.php
--- a/vendor/magento/module-versions-cms/Model/CurrentNodeResolver.php
+++ b/vendor/magento/module-versions-cms/Model/CurrentNodeResolve

[2022-07-29 15:28] Quazz commented on #35814
I actually find this can happen for certain thumbnails. In my case the offending function was located here:

https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Image/Adapter/Gd2.php#L382

That problem is easily resolved by
`-            if ($transparentIndex >= 0) {
+            $palletSize = imagecolorstotal($imageResource);
+            if ($transparentIndex >= 0

[2022-07-29 16:43] josiahglassone commented on #35788
I had the same error after upgrading to Magento 2.4.4 using PHP 8.1. The error has to do with the first parameter in the trim() function returning null. As a temporary workaround you can add ?? '' after the $string parameter on line 151

[2022-07-29 17:09] YekaMX commented on #10556
Hi,
I'm not a developer, but i'm interested in change that behavior, can anyone try this?

https://www.youtube.com/watch?v=8_jthVC0a7s&ab_channel=RoelVandePaar

Thank you!

[2022-07-29 17:40] j-lloyd-slc commented on #35584
This continues to be an issue with Google Pay and 2.4.4. I have not been able to get a response from the developer.

[2022-07-29 19:53] Nuranto opened #35844 "Optimisation when placing a review with rating/vote"
### Summary (*)

In class `src/vendor/magento/module-review/Model/ResourceModel/Rating/Option.php`, method `aggregateEntityByRatingId`, we are filtering on `rating_id` and `entity_pk_value` for tables `rating_option_vote` and `rating_option_vote_aggregated`. This can be a bit slow in case of huge amount of products/votes.

Current indexes on those tables are on `rating_id` and `store_id`.

### Pro

[2022-07-30 01:54] mrtuvn commented on #35843
https://github.com/magento/magento2/pull/32142/files#diff-208947a432c650d2473cbf3fddba5e294553440d52c2c7e87f67f35085909ff7
Add some works here but i will consider your case too

[2022-07-30 02:37] rajesh-xcube opened #35845 "Magento 2.4.3 p2 - AWS S3 bucket not working without media folder"
I am using the AWS S3 bucket as a storage engine. Previous I have used the Thai S3 extension to sync images to S3 bucket. I do not want media folder in S3 bucket but Magento not working.

### Description (*)

I am using the AWS S3 bucket as a storage engine. Previous I have used the Thai S3 extension to sync images to S3 bucket. I am upgrading Magento 2.4.3 P2 without Thai S3 extension. From 2.4.3

[2022-07-30 11:28] Nuranto commented on #35843
Thanks @mrtuvn !

[2022-07-30 12:42] Nuranto commented on #35820
**Additional informations**

We tried to disable L2 cache, and use our dedicated-to-cache redis instead.

Here is what I can see after the `image.resize` is done :
[code]

64G of cache, for only 50K products and 229 869 entries in `catalog_product_entity_media_gallery`. With resizes, category and cms, multiple store views, we have a total of 5 663 932 files in our S3 instance.

I guess that's not

[2022-07-30 13:00] Nuranto commented on #33685
Hi @onlinebizsoft

Do you use remote storage (AWS S3, Minio, ..) ? If so, maybe a part of the issue is linked to https://github.com/magento/magento2/issues/35820

That could match to @Gelmo comment also, since remote cache module came with 2.4.2 cf https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage.html

[2022-07-30 21:47] rangerz commented on #33770
For my solution to rebuild `catalog_url_rewrite_product_category` table

1. SQL to run `TRUNCATE TABLE catalog_url_rewrite_product_category;`

2. Rebuild `catalog_url_rewrite_product_category` (May take a lot of time)
[code]

Ref: vendor/magento/module-catalog-url-rewrite/Observer/CategoryProcessUrlRewriteSavingObserver.php
https://github.com/magento/magento2/blob/2e45de7acefbd665ffa90c5e24dda6a52

[2022-07-31 01:06] onlinebizsoft commented on #33685
@Nuranto no, we dont use remote storage. We only use NFS and we have CDN in front

[2022-07-31 12:22] GamesmenJordan commented on #28200
Over 2 years and counting and still no good support for two entire fundamental attribute data types and the can continues to be kicked down the road.

[2022-08-01 02:51] vipin12117 commented on #31758
nothing working.

Please try solution from here https://www.ecomplugins.com/blog/how-to-fix-magento-2-4-x-sort-by-position-category-products-issue/

[2022-08-01 06:13] engcom-Echo commented on #35102
Hello @adamlavery,

Since there is no update from 14 days hence we are closing this issue if you are still facing same issue you can reopen this or   create a new issue.

Thanks

[2022-08-01 06:13] #35102 closed, assigned to engcom-Echo

[2022-08-01 06:46] engcom-Lima commented on #35788
@magento give me 2.4-develop with edition ee

[2022-08-01 06:48] engcom-Lima commented on #35788
@magento give me 2.4-develop instance with edition ee

[2022-08-01 07:15] engcom-Lima commented on #35788
Hi @josiahglassone  ,

Thank you for your contribution and collaboration.

I have tried to reproduce both in local as well in cloud but issue is not reproducible. Even logs doesn't contain any issues. I think this happening during upgrade to `2.4.4` version.
Please inform us from which version you have upgraded to M2.4.4?
One suggestion is while upgrading to Magento 2.4.4, kindly upgrade PHP versi

[2022-08-01 07:41] Nuranto commented on #33685
Ok, too bad, it could have explained this one.

[2022-08-01 07:53] adamlavery commented on #35102
Please reopen. Just because you didn't encounter an issue doesn't mean there isn't one. The key point of this ticket is that it IS failing on our install but with no information anywhere as to why. As demonstrated, our schema definition works elsewhere so why is it failing on our install?

That must be addressed. Basic 101 of coding practice: either something works as expected or it fails with an

[2022-08-01 07:55] engcom-Hotel commented on #35066
Hello @madonzy,

Please let us know if we missed anything in order to reproduce the issue. Actually, for us, both Magento and Redis are installed on the localhost.

Thanks

[2022-08-01 08:04] madonzy commented on #35066
@engcom-Hotel as I said before, your configuration in env.php is invalid. You are not connected at all or your persistence is not configured

[2022-08-01 08:13] duckchip commented on #8276
linking https://github.com/magento/magento2/issues/33611

[2022-08-01 08:21] Nuranto opened #35847 "Add optionnal parameter to cache:clean and cache:flush to exclude type(s)"
### Description (*)

In some occasions (deployment of a new version for instance), we may want to purge all cache except Full page cache.
This forces us to run `cache:clean` or `cache:flush` with the list of all types except `full_page`. Would be nicer to be able to exclude a type in those commands.

### Benefits

Simpler syntax, no need to change deployment code when a new type of cache is added

[2022-08-01 08:24] engcom-Echo commented on #35629
Hello @rkwadriga,
Thank you for reporting the issue .
Steps followed:

1. Installed rabbitmq
2. https://developer.adobe.com/commerce/php/development/components/message-queues/configuration/ this file there.i went through this file and checked while reproducing.

But to follow next procedures not got proper steps . So if you provide exact steps to reproducible we can check and try to reproduce the

[2022-08-01 08:37] engcom-Hotel commented on #35584
Hello @n2diving-dgx,

The Code of this extension is not part of the https://github.com/magento/magento2 git repository.

The community is not able to provide a fix in this repository, and we are not able to deliver such Pull Request

All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Marketplace](https://marketplace.mage

[2022-08-01 08:37] #35584 closed, assigned to engcom-Hotel

[2022-08-01 09:26] Nuranto commented on #33685
@onlinebizsoft Another possible cause is detailed here : https://github.com/magento/magento2/issues/34758 (The issue is not PWA-related only.)

Another read: https://www.integer-net.com/resolving-session-bottleneck-magento-ajax-requests/

We are seeing such issues in our projects for ajax calls such as search requests. In some of these, there are hundreds of calls to redis to see if it can get the

[2022-08-01 09:34] engcom-November commented on #35775
Hi @r1tt3r ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-08-01 09:34] #35775 closed, assigned to engcom-November

[2022-08-01 09:41] onlinebizsoft commented on #33685
@Nuranto our system is using "disable locking" already.

[2022-08-01 10:18] Nuranto opened #35849 "DI : "Always use proxy" feature"
### Summary (*)

I'm currently investigating performances issues, and more particulary about redis.
See https://github.com/magento/magento2/issues/34758 for example. @ihor-sviziev's part of solution is to use Proxies for session objects.

That's great, and that's fix some of the issue. However, I was wondering why we should go over the whole code to overwrite constructors arguments to replace all

[2022-08-01 10:20] preeteshtavant commented on #28278
Using Magento2.4.1, magento sending 2 request 1 for updateItemQty and another one is for updatePost.
why magento calling updateItemQty from cart. it seems it is not required

[2022-08-01 10:22] ihor-sviziev commented on #35849
I believe the regular rule should be - there shouldn't be any heavy constructors.
We should rewrite the session mechanism to avoid heavy operations in the constructor at some point.

[2022-08-01 10:40] Nuranto commented on #35849
I can't agree more, but I have doubt Magento's team will engage such refactoring.

[2022-08-01 10:53] engcom-Dash commented on #34646
@magento give me 2.4-develop instance

[2022-08-01 11:53] engcom-Lima commented on #35592
Mail has been sent to PO for his confirmation on the expected result. After his confirmation on the expected result we will proceed further.

Thanks

[2022-08-01 11:56] engcom-Bravo commented on #35301
Hi @jarnooravainen,
Thank you for logging an issue and kindly provide if you have any documentation that integration ID used for bulk API updates,and also how we can use Integration to import big number of entities via asynchronous API.

Regards.

[2022-08-01 12:00] pawan-mittal commented on #33802
Any updates on this issue? I can reproduce it in a pipeline on Magento 2.4.4.

[2022-08-01 12:09] engcom-November commented on #35835
Hi @zepgram , Thank you for the response.
[This](https://github.com/magento-l10n) is not part of our Magento [repositories.](https://github.com/orgs/magento/repositories) Only all questions, issue reports and fix related to https://github.com/magento/magento2 this git repository should be addressed here in this board. All questions / issue reports related to 3rd party package / extensions should b

[2022-08-01 12:22] engcom-November commented on #35801
@magento give me 2.4-develop instance

[2022-08-01 12:35] josiahglassone commented on #35788
@engcom-Lima I upgraded from Magento 2.4.3-p2 and PHP 7.4 to Magento 2.4.4 and PHP 8.1. The compatibility error came up when I was trying to open a link to a pdf on a product page. The link I was using was dynamically created by the [Sebwite/Magento2-Product-Downloads](https://github.com/Sebwite/Magento2-Product-Downloads) module

[2022-08-01 12:56] artskirk opened #35852 "GraphQl error in customerOrders query: "\"model\" value should be specified""
### Preconditions and environment
 - Magento 2.4.X

The following GraphQl error occurring in customerOrders query:

![](https://user-images.githubusercontent.com/57759456/182150391-791ad2cd-51a3-4da0-85e9-be77ce41452e.png)

This is the body of GraphQl:

``
[code]
*The issue occurring in module-sales-graph-ql/Model/Resolver/OrderItems.php:56. Undefined index $value<'model'> that should contains Ord

[2022-08-01 13:34] engcom-November commented on #35801
Hi @himanshusavranntz ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
**Steps performed:**
1. Created 2 attribute sets:- attributeset1 and attributeset2
2. Created a text type attribute: attribute1 (Admin - Stores - Attributes - Product)
3. Assigned attribute1to attributeset2
4. Created a product with attribut

[2022-08-01 14:06] engcom-Delta commented on #35843
Hi  @Nuranto ,
Is this issue resolved ?

Thanks

[2022-08-01 14:08] engcom-Delta commented on #35830
Hi @shannonearley ,

May I have update on this issue please ?

Thanks

[2022-08-01 14:24] engcom-Lima commented on #35852
@magento give me 2.4-develop instance

[2022-08-01 15:07] engcom-Lima commented on #35852
Hi @artskirk ,

Thanks for your contribution and collaboration.

Kindly use query given in [official documentation ](https://devdocs.magento.com/guides/v2.4/graphql/queries/customer.html
).As query used by you showing deprecated.

[code]
Below is the screenshot for your reference:
![image](https://user-images.githubusercontent.com/60198022/182180102-2aaa82cb-2134-46ff-8920-0a0a01fb288a.png)

Let u

[2022-08-01 15:15] Crashead commented on #22973
Hi everyone,
I had the same issue. Multiple websites, every website had different set of Allowed Countries for the checkout, and the user share account is set to Global.
The fix I did, is following. I overide the Magento\Directory\Model\AllowedCountries the getAllowedCountries method by setting the following:

`$scopeCode = [$storeManager->getStore()->getId()];`

Thanks

[2022-08-01 15:23] Nuranto commented on #35843
Hi @engcom-Delta,

If you mean "Is the issue still present on latest 2.4", then yes, the issue is still there.

But @mrtuvn added a fix in his existing PR : https://github.com/magento/magento2/pull/32142 https://github.com/magento/magento2/pull/32142/commits/cf423f3ab4341b977e085d32e263b899f3df1152
and I confirm this solve the issue.

[2022-08-01 15:45] nimbus2300 commented on #35313
Upgraded to 2.4.4 over the weekend. This bug has broken all my Royal Mail Click and Connect integrations.

[2022-08-01 15:56] engcom-Echo commented on #35444
Hello @johan-lindahl ,

Thanks for contribution and collaboration.
We have tried to reproduce this issue on magento 2.4-develop branch and it is not able to reproduce.
Steps followed to reproduce issue:

1- Install the fresh magento instance.
2- Create multiple website(Stores->All Stores->create website)
3- Set the "price scope" = website (Stores->Configuration->Catalog->Catalog->Price->Catalog Pr

[2022-08-01 18:02] #35830 closed, assigned to engcom-Delta

[2022-08-01 19:41] rmsundar1 opened #35854 "NewRelic Wrapper is not allowing to capture TypeError"
### Summary (*)
In the current newrelic wrapper class, we are can capture only the `\Exception` however when we try to capture any TypeError it's giving the below exception

NewRelic agent supports capturing any kind of Throwable errors ref: https://docs.newrelic.com/docs/apm/agents/php-agent/php-agent-api/newrelic_notice_error, so upgraded the NewRelicWrapper class to support any throwable type e

[2022-08-01 21:06] naomirobichaud commented on #30835
@magento give me 2.4.4 instance with edition b2b

[2022-08-02 05:50] engcom-Echo commented on #35718
Hello @qsolutions-pl,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-02 05:50] #35718 closed, assigned to engcom-Echo

[2022-08-02 06:04] malyoussef opened #35855 "the Rollback function in Magento 2.4.3 is not working, when I press the button nothing happens"
### Preconditions and environment

- Magento version 2.4.3
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

the Rollback function in Magento 2.4.3 is not working, when I press the button nothing happens

### Expected result

the Rollback function in Magento 2.4.3 is not working, when I press the button nothing happens

### Actual result

the Rollback function

[2022-08-02 06:33] engcom-Lima commented on #35855
@magento give me 2.4.3 instance

[2022-08-02 06:36] JamesFX2 commented on #35788
Yeah, same issue in Community 2.4.4

[28-Jul-2022 09:49:45 UTC] PHP Deprecated:  trim(): Passing null to parameter #1 ($string) of type string is deprecated in /home/cloudpanel/htdocs/www.oursite.com/releases/2022_07_28_5_00_32_branch_master_v2.4.4/vendor/magento/module-media-storage/App/Media.php on line 151

Obviously this is linked to the placeholder image, as mentioned, via pub/get.php - I've

[2022-08-02 06:38] JamesFX2 commented on #35788
Whatever generates that file fixes the above, thankfully.

[2022-08-02 06:41] himanshusavranntz commented on #35801
Hi @engcom-November
After creating a new product please check the attribute set of the product if it's not "attributeset1" then please update attribute set to "attributeset1" then upload the csv file.

[2022-08-02 06:45] engcom-Lima commented on #35788
Hi @JamesFX2  ,

Thanks for your contribution and collaboration.

I need your confirmation as in above comments they have mentioned issue came only when they have upgraded to 2.4.4.
Are you also facing this issue while upgrading only?

Thanks

[2022-08-02 06:47] engcom-Hotel commented on #33802
Hello @pawan-mittal,

The related PR https://github.com/magento/magento2/pull/33803 is in `Merge in progress` status.

Thanks

[2022-08-02 06:52] janssensjelle commented on #34325
Got the same issue here. The steps mentioned above didn't resolve it for me.

Magento 2.4.3-p2 - PHP 7.4.26 - composer 1.10.26

[2022-08-02 07:01] NickvdMeij commented on #35595
@engcom-Delta I honestly am very displeased with that answer. In versions prior to 2.4.3, this worked and was in use for many years and we as end consumers of the API count on this to work like it did before. This functionality now **broke** because of changes you guys made, without any documentation or clearification in the release logs. I report this bug and now you refuse to fix the thing you b

[2022-08-02 07:06] speller opened #35856 "EAV module may generate deprecation error under PHP 8.1"
### Preconditions and environment

- Magento version 2.4.4
- PHP 8.1

### Steps to reproduce

Not really sure about the exact steps, but I'm checking for an attribute uniqueness before saving the customer user:
[code]

### Expected result

Work fine under 2.4.3 + PHP 7.4

### Actual result

[code]

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

[2022-08-02 07:43] artskirk commented on #35852
Thank for your feedback! Anyway I would suggest to remove [this](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/SalesGraphQl/etc/schema.graphqls#L46) line from schema.graphqls  as deprecated functionality

[2022-08-02 07:48] artskirk commented on #35852
Even is deprecated functionality it should working without issues.
Thank you!

[2022-08-02 08:01] mrtuvn opened #35857 "@supports not working correctly at file less if nested inside another selector"
### Summary (*)

If we add @supports nested inside selector class the final css will broken

Example

[code]

Final output css will be

[code]

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triag

[2022-08-02 08:04] engcom-Hotel commented on #35066
Hello @madonzy,

Thanks for the clarification!

Now as per further investigation, I enable session storage with Redis via the below command:
`bin/magento setup:config:set --session-save=redis --session-save-redis-host=127.0.0.1 --session-save-redis-log-level=4 --session-save-redis-db=2 --session-save-redis-persistent-id=sess_id_abhi`

and then try to access the Magento instance. Now whenever I am

[2022-08-02 08:05] mrtuvn commented on #35857
Seem look likes a feature not a bug
@supports not work at less if nested

[2022-08-02 08:05] #35857 closed, assigned to nobody

[2022-08-02 08:18] jornwildenbeest commented on #35635
Hi @o7-sol,

Did you manage to fix this issue? I am having the same problem.

[2022-08-02 08:34] m2-assistant[bot] opened #35858 "[Issue] 32824-generated-associated-product-name"
This issue is automatically created based on existing pull request: magento/magento2#32889: 32824-generated-associated-product-name

---------
### Description (*)
I changed component for configurable product configuration variations app/code/Magento/ConfigurableProduct/view/adminhtml/web/js/components/dynamic-rows-configurable.js
I fixed error with special characters on Name field during configura

[2022-08-02 08:40] engcom-Echo commented on #35102
Hello @adamlavery,

We have close this issue because this window is not updated for more than 14 days.

Can you please help us in getting the actual steps to reproduce the issue, we are not able to reproduce issue by the mentioned steps in the main description.

Thanks

[2022-08-02 08:43] madonzy commented on #35066
@engcom-Hotel cool, now you are using Redis :) do the same for the default cache (not session) and make a simple curl to the home page, see how many connections you have

[2022-08-02 09:18] adamlavery commented on #35102
@engcom-Echo the issue is you cannot reproduce it but nevertheless it still happens on my install. It's quite common for issues to be unreproducible on a vanilla install. A vanilla install doesn't have any history whereas real-world sites do. Just because you can't reproduce on a vanilla install doesn't mean you can ignore it.

The core issue is that it fails to do anything **silently**. It must n

[2022-08-02 09:26] engcom-Lima commented on #35788
Hi @amarroni  @JamesFX2 @josiahglassone ,

I have tried to reproduce the issue but issue is not reproducible.
As suggested in above [comment](https://github.com/magento/magento2/issues/35788#issuecomment-1201144570) I have installed 2.4.3-p2 and upgraded to 2.4.4. But issue is not reproducible to me.
kindly provide more information in order to reproduce the issue.

Thanks

[2022-08-02 09:32] engcom-Delta commented on #34602
Hi @Viper9x ,

As suggested by above comments . Closing the issue.

[2022-08-02 09:32] #34602 closed, assigned to nobody

[2022-08-02 09:34] artskirk commented on #35676
@magento I am working on this

[2022-08-02 10:22] #35778 closed, assigned to engcom-November

[2022-08-02 10:26] engcom-November commented on #35774
Hi @leslilcp ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-08-02 10:26] #35774 closed, assigned to engcom-November

[2022-08-02 11:15] devchris79 commented on #35812
@Hexmage I just had this issue, I initially tried the fix you suggested but it still reported errors for me.

I got to the root for my instance, we use LiteSpeed cache and when I looked in the admin panel it had dropped back to built in cache (I commented out lines 89-91 of pool.php temporarily). The culprit was somehow our .htaccess was missing this:

[code]
When I added this the cache setting se

[2022-08-02 11:21] JamesFX2 commented on #35788
@engcom-Lima to repeat it in 2.4.4, you're going to need to delete var/resource_config.json - this won't exist after some deployments or after install.

I didn't check develop before I contributed but this seems to have been fixed on https://github.com/magento/magento2/commit/b0c8fb3fb740cc842963015d311539ec564f62a1 AC-3109 @amarroni

[2022-08-02 11:37] engcom-Bravo commented on #35855
Hi @malyoussef,
Thank you for raising an issue , It seems actual results and expected are same in provided issue description. Hence kindly provide the exact steps to reproduce, expected results ,actual results and screenshots if required.

Regards.

[2022-08-02 11:46] engcom-Lima commented on #35761
Hi @rahulrave,

Thank you for the reply however in order to verify if this is a core Magento issue or custom code issue we will need exact reproducible steps on vanilla Magento 2.4-develop instance.
Do let us know the exact steps and I will reverify

Thanks

[2022-08-02 11:59] engcom-Lima commented on #34090
Hi @onlinebizsoft

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-02 11:59] #34090 closed, assigned to engcom-Lima

[2022-08-02 12:00] engcom-Lima commented on #35661
Hi @OvalMedia ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-02 12:00] #35661 closed, assigned to engcom-Lima

[2022-08-02 12:01] engcom-November commented on #35835
Hi @zepgram ,
I verified the issue again on both composer based installation 2.4.4. and 2.4-develop git installation and the issue is reproducible on composer based installation 2.4.4 (project-community-edition) but not on 2.4-develop git installation. So this issue may got fixed and resolved in 2.4-develop branch and it will be available in the next Magento release version.
Thank you.

[2022-08-02 12:01] engcom-Lima commented on #35552
Hi @gelado ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-02 12:01] #35552 closed, assigned to engcom-Lima

[2022-08-02 12:12] engcom-Hotel commented on #35854
Hello @rmsundar1,

Thanks for the report and collaboration!

We need some more information on this issue in order to process it further as below:

- Steps to reproduce (with screenshot if possible)
- Your specific use case where this functionality is not working as expected

Thanks

[2022-08-02 12:17] MargreetMeijer opened #35860 "How to enable my onw disabled account (as only admin user) ? So I cannot login"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2022-08-02 12:23] MargreetMeijer commented on #35860
Hi there

I’m, trying to login, but it will not work.
I’m the only admin user at the moment, so the other (sales users) cannot do anything.
We are using Magento ver. 2.3.5-p2

The account sign-in was incorrect or your account is disabled temporarily. Please wait and try again later.

***@***.***
I tried all users I think it can be
Asked for new passwords
Captia problems…

I hope you can help to lo

[2022-08-02 12:26] zepgram commented on #35835
The issue is totally reproductible if you use composer.

This is related to composer metapackage installation.

If you really want to prove that you are right then, go on branch 2.3-develop from git: **if you can install the package then it means there is a composer issue with the metapackage installation. **

If you cannot install the package then you are right and it will be solved on next 2.4 r

[2022-08-02 12:47] codecodeio commented on #35724
I can confirm this issue on a vanilla install of Adobe Commerce Enterprise 2.4.4. Changing the configurable stock status from  "In Stock" to "Out of Stock" and back to "In Stock" leaves the configurable product showing as out of stock and will not appear in category pages even after full reindex and cache clearing.  I confirmed the issue occurs because cataloginventory_stock_status.stock_status re

[2022-08-02 12:58] engcom-Lima commented on #35852
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Graph ql error while running query to get details of customer orders.
**Pre-requisite:**
Fresh magento `2.4-develop` should be installed.

**Steps to reproduce:**
1. Use the following GraphQl query:
[code]
2. Check the response.

**Expected result:** GraphQl works with no errors in the response.
*

[2022-08-02 13:00] Hexmage commented on #35812
@devchris79 Then I probably know what it was. My staging and live environments run on Varnish. But my develop environment doesn't. But I had synced the config from my staging to my develop environment.

So the real issue is that if a caching method is selected in the configuration that can't work it throws a very awkward error.

[2022-08-02 13:01] devchris79 commented on #35860
Source: https://www.simicart.com/blog/reset-magento-admin-password/

Magento CLI does not support changing admin passwords with a command, you can create a new admin user with the following command, and then use the new admin account to change the password of your original user.

Go to your Magento directory and execute the following command to create a new admin user:
php bin/magento admin:user:c

[2022-08-02 13:12] amenk commented on #10978
Any update on this?

[2022-08-02 13:13] amenk commented on #35158
The problem still appears in 2.4.4 in our customized instance. I did not yet have the time to reproduce this in a vanilla instance.

As my repro steps locally involve cleaning the cache via CLI, this is quite hard to test in the vanilla cloud instances.

Is there anyone of the Magento team who can test this with CLI access? In the end of the day #10978 is still open anyways, so probably it's best

[2022-08-02 13:17] devchris79 commented on #35812
@Hexmage It would certainly seem that is the case. I am guessing the data provider function getConfigData isn't retrieving an intended null. Maybe the data array element is there but with invalid elements within the config.

[code]

[2022-08-02 13:20] rmsundar1 commented on #35854
@engcom-Hotel I was trying to capture the Graphql exceptions using the custom module in newrelic using the NewrelicReporting module.
And when I try to capture any TypeError exception using `\Magento\NewRelicReporting\Model\NewRelicWrapper::reportError` it's not allowed since it has the strict type in the function argument.

[2022-08-02 13:22] dtfdigital opened #35861 "graphql id_salt causing 500 server errors"
### Preconditions and environment

- Magento version: 2.4.4
- Anything else that would help a developer reproduce the bug:  Issue started after upgrade to 2.4.4 from 2.3.x. We've had this on multiple unconnected websites running 2.4.4.

### Steps to reproduce

The issue occurs *seemingly* at random. We've identified however that sending any request to the graphql endpoint e.g. https://<yoursite>/g

[2022-08-02 13:25] engcom-Bravo commented on #35860
Hi @MargreetMeijer

Thanks for contribution and collaboration.

Kindly refer above [comment](https://github.com/magento/magento2/issues/35860#issuecomment-1202497751) .
If you are still facing the issue please refer our Magento [documentation](https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-subcommands-admin.html)
Let us know if you are still facing any issue.

Thanks.

[2022-08-02 14:30] hostep commented on #35724
@engcom-November: can you re-test based on the recent comments? (maybe check both with the MSI module installed and not installed, since this module affects these things)

[2022-08-02 14:30] engcom-Delta commented on #35861
Hi @dpdesignthatfits ,
Thank you for raising an issue , we have tried to reproduce the issue on Magento 2.4 develop instance, Graphql results looks fine.
Please find below screenshot for reference. in fact when sending request graphql endpoint, there was no issues found from our end.

<img width="1371" alt="Screenshot 2022-08-02 at 7 58 58 PM" src="https://user-images.githubusercontent.com/5168137

[2022-08-02 14:37] dpdesignthatfits commented on #35861
Graphql worked fine in our tests, however it was the frontend that broke. Can you confirm if the env.php file was automatically modified to include the id_salt section after you sent a request to graphql?

[2022-08-02 14:57] devchris79 commented on #35812
@Hexmage Do you now have an additional entry in your env.php?
Something like:

,
‘cache’ => [
‘graphql’ => [
‘id_salt’ => ‘SALTHERE’
]
]

[2022-08-02 15:09] shikhamis11 commented on #35856
@magento give me 2.4-develop instance with edition ee

[2022-08-02 15:15] drinkingsouls commented on #32284
Apologies for reopening if this is not a vanilla Magento issue, however I also have this problem.

Magento 2.4.4, PHP8.1, Soap is installed.

I have the following request url in Vat.php:
https://ec.europa.eu/taxation_customs/vies/checkVatService.wsdl

Same issue as reported here. "Error during VAT number verification"
Tried with and without country code.

I have no logged errors.

@rodolfo2111 did

[2022-08-02 16:09] dpdesignthatfits commented on #35861
I wonder if the htaccess edit you made simply sidestepped the issue by moving the cache engine over to litespeed? (If you disable litespeed does the error re-appear)

[2022-08-02 17:11] codecodeio commented on #35724
@hostep Thanks but I don't know what the repercussions of disabling MSI would have on our site. I think the only acceptable solution is a patch or a version update. I did discover that a duplicate ticket exists for this same issue which was reproduced by Adobe, see the link below.  There is a ticket for it in the high-priority backlog. I am shocked this is not already being worked on as a priority

[2022-08-02 18:32] devchris79 commented on #35861
I can revert to the default built in cache from the backend flush the cache and everything works fine, then I removed the htaccess entry and it fell back to default cache with everything still being fine.

What I am now suspecting is when you select the default cache from the backend it initialises the appropriate config, where as when it falls back to the config it is either not initialised or in

[2022-08-02 23:01] AmyJZhao opened #35862 "GJSS TEST ISSUE (AMY) #1"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality an

[2022-08-02 23:04] AmyJZhao commented on #35862
[@adobe](https://github.com/adobe) export issue to Jira project ACP2E

[2022-08-02 23:04] AmyJZhao commented on #35862
@adobe export issue to Jira project ACP2E

[2022-08-03 01:18] andretsb commented on #31109
The PR to add 10.5 to the version check was rejected over a year ago. Maybe time to reconsider? 10.4 is getting rather ancient at this point, and mariadb.org already recommends 10.6 for production use.

As a hoster supporting Magento now requires us to operate multiple branches of MariaDB versions as some customers already require 10.5 or later for their applications to work properly. This creates

[2022-08-03 05:36] sagargopale1992 opened #35863 "Magento 2.4.3 SameSite Cookie None Issue"
### Summary (*)
I am developing third party payment gateway plugin for Magento version 2.4.3 and using PHP version 7.4 with ngnix server. Now I am facing problem after redirecting back from the payment gateway to Magento website.

Due to SameSite cookies issue my session getting lost after returning to the website.

I want to set SameSite Cookie value as None for all requests and for this I have t

[2022-08-03 06:25] engcom-Lima commented on #35787
Hi @MarcusWolschon,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-03 06:25] #35787 closed, assigned to engcom-Lima

[2022-08-03 06:25] engcom-Lima commented on #34754
Hi @PTuijtelaars-ISAAC ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-03 06:25] #34754 closed, assigned to engcom-Lima

[2022-08-03 06:26] engcom-Lima commented on #34989
Hi @MeCapron ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-03 06:33] engcom-Echo commented on #35102
Hello @adamlavery,

Thanks you for your reply.

I can understand your issue but we need more information in order to reproduce this issue. Can you please tell us from which version from M1 you have upgrade the Magento with version 2.4.3-p1.

It seems an upgrade issue for us so we will check in that way.

Thanks

[2022-08-03 07:10] engcom-Hotel commented on #35785
Dear @haroonrajpoot,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-03 07:10] #35785 closed, assigned to engcom-Hotel

[2022-08-03 07:11] engcom-Hotel commented on #35597
Dear @hemendraajmera,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-03 07:11] #35597 closed, assigned to engcom-Hotel

[2022-08-03 07:12] engcom-Hotel commented on #35106
Dear @wojtekn,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-03 07:12] #35106 closed, assigned to engcom-Hotel

[2022-08-03 07:13] engcom-Hotel commented on #35083
Dear @bjclark13,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-03 07:13] #35083 closed, assigned to engcom-Hotel

[2022-08-03 07:13] magenizr commented on #30596
Here you go https://github.com/magenizr/Magenizr_MediaGalleryFolder

[2022-08-03 07:39] engcom-Lima commented on #35788
Hi @amarroni ,

Issue is not reproducible in latest `2.4-develop` branch and also mentioned in above comment issue has been fixed on https://github.com/magento/magento2/commit/b0c8fb3fb740cc842963015d311539ec564f62a1 AC-3109. Also,verified in codebase.
Hence, closing the issue.

Thanks

[2022-08-03 08:01] adamlavery commented on #35102
From 1.9.3.6, but I don't expect that to shed any light. The M1 site has been upgraded multiple times through it's life and has a fair few 3rd party extensions. I encountered multiple issues during data migration due to faults in previous upgrade processes that left unwanted stuff behind that the migration scripts didn't deal with.

You are approaching this wrong, as did whoever was involved in de

[2022-08-03 08:33] dylanngo95 commented on #34182
These issues still on M 2.4.4 EE with PHP 7.4.28
Thanks.

[2022-08-03 09:09] artskirk commented on #35852
@magento I am working on this

[2022-08-03 10:18] iphigenie commented on #30596
this was on open source - from the release notes

[2022-08-03 10:37] engcom-November commented on #35680
Hi @qsolutions-pl ,
We are closing this issue as there has been  no latest update on the same. Kndly reopen/create new issue if you are still facing any issues.
Thank you.

[2022-08-03 10:37] #35680 closed, assigned to engcom-November

[2022-08-03 10:38] engcom-November commented on #35261
Hi @GamerHegi64 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-08-03 10:38] #35261 closed, assigned to engcom-November

[2022-08-03 11:27] engcom-Hotel commented on #35854
Hello @rmsundar1,

Thanks for the reply!

As per looking into the code https://github.com/magento/magento2/blob/2e45de7acefbd665ffa90c5e24dda6a5286c36ee/app/code/Magento/NewRelicReporting/Model/NewRelicWrapper.php#L39
, the `reportError` method is accepting only `Exception` types but, `newrelic_notice_error` can accept `Throwable` types as well. This is the documentation link : https://docs.newrel

[2022-08-03 11:27] mohitnavik opened #35864 "Missing jquery.mobile.custom.js in 2.4.4"
### Preconditions and environment

I have upgraded Magento from 2.4.3-p2 to 2.4.4. After upgrading the magento version, I am getting "Uncaught Error: Script error for jquery/jquery.mobile.custom" error in the console.

![image](https://user-images.githubusercontent.com/41897612/182595682-471ba388-ea25-4154-a9b2-99850569c071.png)

I have custom theme and added the following in requirejs-config.js

[2022-08-03 12:14] engcom-Dash commented on #35863
Hi @sagargopale1992 ,

Kindly Provide below information to speed up the process...

1.Summary of the issue
2.information on your environment
3.Steps to reproduce
4.Expected and actual results

Thanks!

[2022-08-03 12:35] kilis commented on #35746
Hey! What is the fix for this?
We have the same issue.
Thanks!

[2022-08-03 12:47] Finbayern opened #35866 "PayPal Express Checkout order confirmation email addressed to 'Guest' instead of customer name"
### Preconditions and environment

- Magento version 2.4.4 (was present at 2.3.5 already)
- php 7.4
- PayPal Express Checkout enabled
- Use standard `<p class="greeting">{{trans "%customer_name," customer_name=$order_data.customer_name}}</p>` in the order related email templates

### Steps to reproduce

1. Enable PayPal Express Checkout
2. Navigate to frontend
3. Add products in cart
4. Checkout u

[2022-08-03 13:13] mackieee commented on #33241
Has this been resolved in Magento 2.4.5 as per this Changelog line?

![image](https://user-images.githubusercontent.com/883702/182616593-cc7f8d81-e4ec-46a5-baf1-cb680cda925a.png)

[2022-08-03 13:41] engcom-Lima commented on #35098
Hi @Japharul ,

Thanks for your contribution and collaboration.

I have tried to reproduce the issue but unable to reproduce it.
Please provide more information regarding creation of the newest and oldest custom sorting options.
Also, check in latest `2.4-develop` .

Thanks

[2022-08-03 13:58] Nuranto opened #35867 "Feature request : Possibility to add label when adding an Image to a product."
### Summary (*)

In `Magento\Catalog\Model\Product\Gallery\Processor::addImage()`, for some reason, there is no `label` parameter. The label is set to empty string `'label' => '',`.

### Proposed solution

[code]
=>
[code]

And report the same change in `Magento\Catalog\Model\Product::addImageToMediaGallery()`

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide

[2022-08-03 14:06] adamlavery opened #35868 "Login session ending too early"
### Preconditions and environment

2.4.3-p1
Site migrated from 1.9.3.6

### Steps to reproduce

Configuration > Advanced > Admin > Security > Admin Session Lifetime (seconds) : 36000 (10hrs)
Configuration > Web > Default Cookie Settings : 86400 (24hrs)

### Expected result

Admins stay logged in for 10hrs
Customers stay logged in for 24hrs

### Actual result

Admins and customers are required to l

[2022-08-03 14:06] asim-blueprintprep commented on #35493
I believe this also happens on cloud commerce:
2.4.2-p2:
frontend/Blueprint/bpp-corporate/en_US/Magento_Theme/favicon.ico

2.4.4:
frontend/Blueprint/blueprint/en_US/Magento_Enterprise/favicon.ico

It looks like it's changed where it looks for favicon from Magento_Theme to Magento_Enterprise?

[2022-08-03 14:07] adamlavery commented on #35868
@magento give me 2.4-develop instance

[2022-08-03 14:17] devchris79 commented on #35868
Is it this one? #34863

[2022-08-03 14:37] engcom-Bravo commented on #11998
@magento give me 2.4-develop instance

[2022-08-03 14:37] MeCapron opened #35869 "Allow to use custom video in product gallery images"
### Summary (*)
Working on the customization of gallery images in the product page, I found a piece of code which allows to have custom video instead of Vimeo and YouTube ones.

However, the code is not well-written enough to allow extensibility, overriding or changes.

### Examples (*)

In the [fotorama-add-video-events.js](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Pro

[2022-08-03 14:46] adamlavery commented on #35868
Hi @devchris79, yes I think that's the one I was looking at but looking at it again now I'm not sure how it relates. I was clutching at straws back then as to why this was happening but had to get on with more important stuff so had live with short sessions. Now getting close to release so need to address this as client will not be so happy to live with it!

[2022-08-03 15:06] manikandan-karuppaiah-accenture opened #35870 "Company Graphql - Roles pagination is broken"
If the company user creates multiple roles for the company. While access that in graphql by passing pagesize "5" and current page "1" in the company query. The result it always shows total page as 1 but the total roles created is more than "7".

Please refer the screenshot attached.

{
    "data": {
        "company": {
            "roles": {
                "items": [
                    {

[2022-08-03 15:40] engcom-Echo commented on #35186
Hello @siddharth-cinovic,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-03 15:40] #35186 closed, assigned to engcom-Echo

[2022-08-03 16:12] adamlavery commented on #35868
Unable to reproduce on vanilla install. There I remain logged in for as long as expected.

[2022-08-03 16:27] AmyJZhao commented on #35862
@adobe export issue to Jira project ACP2E

[2022-08-03 16:35] #35862 closed, assigned to nobody

[2022-08-03 16:36] AmyJZhao opened #35871 "GJSS TEST ISSUE (AMY) #2"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality an

[2022-08-03 16:37] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-03 16:46] dineshkaswan5 commented on #35493
@magento i'm working on this

[2022-08-03 16:46] dineshkaswan5 commented on #35493
@magento add to contributors team

[2022-08-03 16:52] dineshkaswan5 commented on #35493
@magento i'm working on this

[2022-08-03 16:53] dineshkaswan5 commented on #35493
@magento give me 2.4-develop instance

[2022-08-03 17:00] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-03 17:24] perfpcs commented on #30596
@magenizr while I appreciate you trying to make an extension to help fix this ongoing issue that the Magento team refuses to fix, I think most all of us now are on M 2.4.4 and php 8.1. Unfortunately your extension does not work for this :(
Will you release a version for the latest Magento?

![image](https://user-images.githubusercontent.com/22109696/182670928-bb00d6d4-47c2-4223-a516-fdb673f8e531.p

[2022-08-03 18:03] AmyJZhao commented on #35871
@adobe export to Jira project AC

[2022-08-03 18:25] bruce-gemberling opened #35873 "Class Magento\Framework\File\Filesystem does not exist"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2022-08-03 18:28] bruce-gemberling commented on #35873
When trying to add a JPG image to a product I get the error:

Class Magento\Framework\File\Filesystem does not exist

How can i fix this in my Magento 2.3.6

<img width="778" alt="image" src="https://user-images.githubusercontent.com/395752/182682024-82a3a97c-c626-4236-9a02-d247e95fb110.png">

[2022-08-03 18:55] irenelagno commented on #35871
@adobe https://github.com/adobe export to Jira project AC

[2022-08-03 19:53] magenizr commented on #30596
Working on it and will keep you all posted.

[2022-08-03 20:28] perfpcs commented on #30596
@magenizr

"Working on it and will keep you all posted."

You deserve a medal if you can do this and it works! :)

[2022-08-03 23:54] nimbus2300 commented on #35313
I think the fix /might/ be to ensure that:

When the magento version is upgraded to the new secure version (>2.4.3-p2?):
   - Ensure that a one-time upgrade script/activity takes place, that:
        -  Crypts all existing stored integration keys, and rewrites them, now encrypted, to the same row in the database.

The new version of Magento would then be able decrypt the keys successfully (rather

[2022-08-04 00:54] earlelnar commented on #35604
Hello Everyone,

Encountered these issues as well.
Created a patch to temporary fix the issue of monolog. until there's an official fix from Magento to fix those issues

Patch file to fix the issue:
(This patch is created based on this one: https://github.com/magento/magento2/pull/35596/files )
https://gist.github.com/earlelnar/5321567ca4551a4da37761e7cbe41977

I hope that patch will help you out.

[2022-08-04 05:52] engcom-Bravo commented on #11998
@magento give me 2.4-develop instance

[2022-08-04 06:39] engcom-Hotel commented on #35471
Dear @BorisovskiP,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-04 06:39] #35471 closed, assigned to engcom-Hotel

[2022-08-04 06:42] engcom-Delta commented on #35861
Hi @dpdesignthatfits ,
We have verified the env.php file on magento 2.4 develop instance, we did not find out id_salt section. We will verify it on 2.4.4 instance after upgrading from 2.3.X and confirm you  .

Thanks

[2022-08-04 07:14] engcom-Bravo commented on #11998
Hi @VesnaS

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
Followed above [comment](https://github.com/magento/magento2/issues/11998#issuecomment-1015392569)

Kindly refer this [video,](https://shared-assets.adobe.com/link/8ef24e7d-0e44-4210-6fe3-954ce07c8dd6)If I am missing anything steps please provide inform

[2022-08-04 07:19] m2-amn opened #35875 "Magento 2.4.4 shows an error, not a warning when using deprecated functionality for PHP 8.1"
### Preconditions and environment

- Magento 2.4.4
- PHP 8.1
The release notes for Mangento 2.4.4 state that Magento 2.4.4 is compatible with PHP 8.1.

### Steps to reproduce

Using deprecated functionality for PHP 8.1

### Expected result

When using deprecated functionality for PHP 8.1, it's expected to be shown as a warning, not as an error.
It should be different from the update that doesn't h

[2022-08-04 07:25] dpdesignthatfits commented on #35861
Thank you for checking. Interesting that the id_salt section is missing for you. My understanding from looking at the code in Magento\GraphQlCache\Model\CacheId\CacheIdCalculator.php is that the  getSalt() method will always set a salt entry if one doesn't already exist.

`$salt = $this->deploymentConfig->get(self::SALT_CONFIG_PATH);
        if ($salt) {
            return $salt;
        }

[2022-08-04 07:57] engcom-Lima commented on #35866
@magento give me 2.4-develop instance

[2022-08-04 07:57] engcom-Hotel commented on #35869
Hello @MeCapron,

Thanks for the report and collaboration!

We have reviewed the code of the Magento 2.4-develop branch and it seems the issue is valid.

We have also checked the usages of `parseURL` method, and found it only in one place, which is here:

https://github.com/magento/magento2/blob/2e45de7acefbd665ffa90c5e24dda6a5286c36ee/app/code/Magento/ProductVideo/view/frontend/web/js/fotorama-ad

[2022-08-04 08:19] MeCapron commented on #34904
Hello,

Can you reopen this issue please? This is still an issue.

Thanks

[2022-08-04 08:29] MagicLegend commented on #35078
Hello @engcom-Hotel,

Thank you for taking a look at it. Have you verified your Paypal configuration to immediately invoice? It might be an interaction with one of the about 100 modules we have installed, I'm not 100% sure. I'd need to spin up a new instance myself to test it out. However, I'm afraid that I won't have time for that in the coming week or two.

But, even with just code analysis you

[2022-08-04 09:01] devchris79 commented on #35861
I appear to have some errors relating to when the issue occured in /pub/error_log (I didn't even know that file was there before now)

[code]

[2022-08-04 09:32] engcom-Bravo commented on #35873
@magento give me 2.4-develop instance

[2022-08-04 09:50] engcom-Bravo commented on #35868
@magento give me 2.4-develop instance

[2022-08-04 09:51] haroldclaus commented on #5502
I've noticed that this issue is still unfixed in 2.4.4... Any thoughts on when this will be finally resolved?

[2022-08-04 09:54] torhoehn commented on #34624
@mimou78 Is there a progress on this issue?

[2022-08-04 09:54] Nuranto commented on #26850
Hope we'll have a fix for this in 2.4.5 !

[2022-08-04 09:55] devchris79 commented on #35861
I think the fix from @Hexmage in #35812 would sort the issue.

[2022-08-04 10:00] devchris79 commented on #35812
@Hexmage I think your original fix is what's required, I think that I had two issues going on at the same time with Litespeed cache loss provoking your issue.

[2022-08-04 10:19] adamlavery commented on #35868
Hi @engcom-Bravo, thanks for looking into this so quickly but can you hold off for now? I think I've found the cause of this and if I'm right it's the hosting platform, not Magento. Have made changes and testing this now i.e. checking I'm not logged out; so far so good. Will confirm in a hour or so along with cause and resolution.

[2022-08-04 10:24] madbounce commented on #35847
@magento give me 2.4.2 instance

[2022-08-04 10:27] madbounce commented on #35847
@magento give me 2.4.2 instance

[2022-08-04 10:30] madbounce commented on #35847
@magento give me 2.4.3 instance

[2022-08-04 10:34] engcom-Lima commented on #35786
Hi @Laiba-Gillani ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-04 10:34] #35786 closed, assigned to engcom-Lima

[2022-08-04 10:35] engcom-Lima commented on #35450
Hi @Dren7755 ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-04 10:35] #35450 closed, assigned to engcom-Lima

[2022-08-04 10:40] engcom-Alfa commented on #15627
@magento give me 2.2.3 instance

[2022-08-04 10:40] engcom-Alfa commented on #15627
@magento give me 2.2.3 instance

[2022-08-04 10:50] maddumarala commented on #31112
Seems like same issue happening to Customer invoice totals.

[2022-08-04 11:26] madbounce commented on #35847
@magento give me 2.4.2 instance

[2022-08-04 11:58] adamlavery commented on #35868
**Issue resolved:** it was down to the hosting platform rather than Magento.

Site is hosted on Plesk server running Ubuntu with multiple PHP handlers installed. While session.gc_maxlifetime was set to 86400 for the M2 site PHP handler, it was still as default 1440 for other handlers. Magento default config was to use file based sessions stored in the default folder (session.save_path) i.e. no sav

[2022-08-04 11:58] #35868 closed, assigned to engcom-Bravo

[2022-08-04 12:12] #35695 closed, assigned to engcom-Charlie

[2022-08-04 12:43] phoenix-bjoern opened #35876 "Products In Cart Limit"
### Description (*)
The Site-Wide Analysis Tool (SWAT) gives a recommendation for "Products In Cart Limit". It claims "The current limit on products in a cart is 100." But actually there is no such limit in Magento2.
The SWAT recommendation reference the Knowledge Base article [Best practice for number of products in cart in Magento](https://support.magento.com/hc/en-us/articles/360048550332).
But

[2022-08-04 13:48] Dren7755 commented on #35450
Hi @engcom-Lima,

About problem use case:

Let's assume I have 2 different modules, that displays configurable's children on PDP twice

- The first module displays children with their default attribute values (using `$configurableType->getUsedProducts($configurableProduct)`)
- The second module creates custom product attribute `custom_attribute_1` and displays children with their 'custom_attribute

[2022-08-04 13:50] hirenkpatel0 commented on #34292
Hi Adobe,
Is there any solution for this ?

[2022-08-04 14:23] irenelagno commented on #35871
https://github.com/adobe https://github.com/adobe export to Jira project PB

[2022-08-04 14:23] irenelagno commented on #35871
@adobe https://github.com/adobe https://github.com/adobe export to Jira project AC

[2022-08-04 14:24] irenelagno commented on #35871
https://github.com/adobe https://github.com/adobe https://github.com/adobe export to Jira project PB

[2022-08-04 14:25] irenelagno commented on #35871
@adobe export to Jira project PB

[2022-08-04 14:27] irenelagno commented on #35871
@adobe export issue to Jira project PB

[2022-08-04 14:28] irenelagno commented on #35871
@adobe export issue to Jira project AC

[2022-08-04 14:33] irenelagno commented on #35871
https://github.com/adobe export issue to Jira project ACP2E as bug

[2022-08-04 14:34] irenelagno commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-04 14:34] irenelagno commented on #35871
@adobe export issue to Jira project ACP2E as bug

[2022-08-04 14:39] engcom-Echo commented on #35622
Hello @Morerice,

Thanks for the report and collaboration !

I have enable the Braintree in which i have enable Google Pay. But as we know that we don't have  VAULT feature to enable it.
Hence it is not coming in the Stored Payment Method.
Please find the attached screen for your reference.

Steps for reproduce
1. Install fresh Magento setup
2. Configure Braintree with Paypal
3. Create Category an

[2022-08-04 14:43] engcom-Echo commented on #35069
Hello @xtremevision,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-04 14:43] #35069 closed, assigned to engcom-Echo

[2022-08-04 14:45] engcom-Echo commented on #35195
Hello @densen45,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-04 14:45] #35195 closed, assigned to engcom-Echo

[2022-08-04 14:57] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-04 15:02] mikalaiprudnikau commented on #27504
I can confirm it is still reproducible. Please take action.

[2022-08-04 15:03] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E as bug

[2022-08-04 15:08] Amadeco commented on #28931
This issue is still reproducible on Magento 2.4.4. This issues must be reactivated !

[2022-08-04 15:19] OvalMedia opened #35877 "Shipping options sent to Paypal only if catalog prices are excl. taxes"
### Summary (*)
Even though the paypal configuration option "Transfer Shipping Options" is set to yes the options will not be sent to paypal unless the catalog prices exclude taxes.

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Paypal/Model/Express/Checkout.php#L561

[code]

Why is this?

This will render the set option in the configuration useless.

[2022-08-04 15:52] hopeseekr opened #35878 ".fail() and .always() not firing on this.getPlaceOrderDeferredObject() with HTTP 400 Errors"
### Preconditions and environment

- Magento v2.4.3-p2
- Magento v2.4.4

It works fine in Magento v2.4.0 through v2.4.2-p2.

### Steps to reproduce

1. Create a Magento extension.
2. Overload the `placeOrderAction`.
3. Write the following code for `placeOrder`:
[code]

### Expected result

**Expected:** For the `.done()` to fire on success, for `.fail()` to fire if there is an HTTP 400 on the AJAX

[2022-08-04 15:57] hopeseekr commented on #35878
@magento give me 2.4-develop instance

[2022-08-04 16:42] fm-cl commented on #9562
Thanks @hostep  I was going crazy with this issue, 2 months looking for a solucion and I find this ticket!

Thank you very much, this happend to me on magneto 2.4.2-p2

[2022-08-04 17:23] mohitnavik commented on #35864
Hi @engcom-Lima,

Thanks for your response

Is **"jquery.mobile.custom.js"**  file in the 2.4.4?

Did you try with new custom theme?

Thanks,

[2022-08-04 18:35] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E as bug

[2022-08-04 18:40] kardeiz commented on #35824
@magento give me 2.4.3 instance

[2022-08-04 18:57] ryanisn commented on #35837
Seem to be fixed in https://github.com/magento/magento2/issues/34531
Which is surprisingly not in 2.4.4 as the PR was merged back in Feb

[2022-08-04 19:26] AmyJZhao commented on #35871
@adobe export issue to Jira project AC as bug

[2022-08-04 19:28] AmyJZhao commented on #35871
@adobe export issue to Jira project AC

[2022-08-04 19:30] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-04 21:07] isaacdzca commented on #14881
Still in Magento 2.4.3

[2022-08-04 21:26] isaacdzca opened #35879 "Can't import additional_attributes 2.4.3"
### Preconditions and environment

Magento 2.4.3

### Steps to reproduce

Import CSV files to update product boolean attribute does not work if the attribute is present on "additional_attributes". If I use the column additional_attributes will not work; also if I use the Attribute code will not work too.

### Expected result

Additional attributes are updated

### Actual result

Import process end

[2022-08-04 21:40] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-04 21:42] tprocter1984 commented on #20010
This is still an issue with grouped products.

[2022-08-04 23:58] pixiemediaweb commented on #35500
found my way here with the same issue on a Cloud 2.4.4 upgrade - is there a patch planned?  @Pranav-242

[2022-08-05 04:19] davidduong90 commented on #30753
I found the issue is our theme. Our theme follows the old standard, they don't have an argument when they call the image.
https://prnt.sc/f9C5C5u6rQz5

Magento 2.4.4 try to add some arguments when they call the image in category pages.
https://prnt.sc/SnzLFqb827GY

So, I just change the code to call the image in the file app/design/frontend/Alothemes/default/Magento_Catalog/layout/catalog_category

[2022-08-05 04:22] davidduong90 commented on #33290
Hello @bibhuasish004,

Please check my comment at:
https://github.com/magento/magento2/issues/30753

[2022-08-05 05:35] mklooss commented on #35877
PSD2 (payment law does not allow "overcharge") and most european online shops filling the prices incl. tax.

More detailed information:
https://www.paypal.com/us/smarthelp/article/FAQ4645

- > Merchant sends the buyer to PayPal to authorize a transaction of 100.00 USD.
- > Consumer reviews and authorizes the transaction at PayPal for 100.00 USD.
- > Consumer returns to the merchant site where the

[2022-08-05 06:20] engcom-Lima commented on #35365
Hi @baatractive ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-05 06:20] #35365 closed, assigned to engcom-Lima

[2022-08-05 06:21] engcom-Lima commented on #35795
Hi @surajkurudiyar ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-05 06:21] #35795 closed, assigned to engcom-Lima

[2022-08-05 06:23] engcom-Lima commented on #33555
Hi @onlinebizsoft ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-05 06:23] #33555 closed, assigned to engcom-Lima

[2022-08-05 06:51] richardreen commented on #35861
I did what' s mentioned in #35812 (so change line 89 in Pool.php)  but that did not work.

I got

syntax error, unexpected '{'#0 /home/user222/domains/xxxxxx.xx/public_html/vendor/composer/ClassLoader.php(428): Composer\Autoload\includeFile('/home/u58658p55...')
#1 [internal function]: Composer\Autoload\ClassLoader->loadClass('Magento\\Framewo...')
#2 /home/user222/domains/xxxxxx.xx/public_html/ve

[2022-08-05 06:55] engcom-Delta commented on #35519
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-08-05 06:55] #35519 closed, assigned to engcom-Delta

[2022-08-05 06:59] Etje opened #35880 "URL key in hierarchy not updated after URL key update in CMS page"
### Preconditions and environment

Magento 2.4.4 Enterprise Edition

### Steps to reproduce

- Make a CMS page.
- Add the page to Hierarchy (Content -> Elements -> Hierarchy)
- Go back to the CMS page and change URL key
- Go back to hierarchy, and you will see that the URL key has not changed

### Expected result

Expected result is an updated URL key in the hierarchy

### Actual result

Actual re

[2022-08-05 07:10] engcom-Lima commented on #35880
@magento give me 2.4-develop instance with edition ee

[2022-08-05 07:24] richardreen commented on #35812
I did change the line in pool.php as described here .
But new error, syntax error....I can not find the error...

syntax error, unexpected '{'#0 /home/user222/domains/xxxxxx.xx/public_html/vendor/composer/ClassLoader.php(428): Composer\Autoload\includeFile('/home/u58658p55...')
#1 [internal function]: Composer\Autoload\ClassLoader->loadClass('Magento\\Framewo...')
#2 /home/user222/domains/xxxxxx.x

[2022-08-05 08:21] devchris79 commented on #35812
@richardreen, I think @Hexmage has a small error from his suggested fix below, he is missing a closing bracket from the if statement:

Try this instead:
 `if (null !== $cacheInfo && isset($cacheInfo[FrontendPool::KEY_FRONTEND_CACHE])) {`

[2022-08-05 08:23] Morerice commented on #35622
Hi @engcom-Echo,

Thanks for your response. My request wasn't related to the Braintree module. We at Adyen have our [Magento Module](https://github.com/Adyen/adyen-magento2) created to process payments. We are looking into using Magento Vault to store token details of payment methods that are not cards.

Hence, when these payment methods are stored in the `vault_payment_token` table with `type=acc

[2022-08-05 08:28] engcom-Bravo commented on #35879
@magento give me 2.4-develop instance

[2022-08-05 08:33] engcom-Echo commented on #35102
Hi

Thanks for raising your concern.

In order to proceed further with any community issue we first have to reproduce it and then we can proceed with the confirmation of the same.

We can see 2 different issues in your mentioned description.

1. Magento need to improve the logging feature: Agreed on this. May be we can consider this as feature request as a separate issue.
2. The .json is not getti

[2022-08-05 08:43] tprocter1984 opened #35881 "Final Price for grouped products does not include tax in the Recently Viewed Widget and Meta price"
### Preconditions and environment

- Magento version 2.4.0
- Magento sample data installed
- Taxable Goods has Tax Class configured (20%)
- Price Display is set to show both prices
- Create "Recently Viewed Widget" and add it to the home page
- Create "Catalog Product List Widget" and add it to the home page (for comparison), limit the visible SKU to "24-WG085_Group"

### Steps to reproduce

1. En

[2022-08-05 08:45] glo35082 commented on #35604
@magento give me 2.4-develop instance

[2022-08-05 08:50] richardreen commented on #35812
oke, corrected it and now it runs...no error about syntax error anymore.
Let's see if this is solving the graphql error.

[2022-08-05 08:51] artskirk commented on #35602
@magento I am working on this

[2022-08-05 08:55] engcom-Alfa commented on #34766
@magento give me 2.4-develop instance

[2022-08-05 08:57] richardreen commented on #35812
now presenting a new error:
Notice: Undefined index: query in /home/u222/domains/xxxxxx.xx/public_html/vendor/magento/module-graph-ql/Controller/GraphQl.php on line 208

and the salt entry still added to env.php

[2022-08-05 09:00] devchris79 commented on #35812
That issue with a fix is here: #35412

[2022-08-05 09:22] richardreen commented on #35812
after correcting that, the next error

{"errors":[{"message":"Syntax Error: Unexpected <EOF>","extensions":{"category":"graphql"},"locations":[{"line":1,"column":1}]}]}

and 500 error and salt...in the env.php..
still not solved!!

[2022-08-05 09:26] engcom-Hotel commented on #34759
Hello @cmtickle,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch and the issue is reproducible for us by following the below steps:

- Disable the Persistent Cart option from Admin Panel:
![image](https://user-images.githubusercontent.com/51681618/183047142-67724526-9bc3-4827-b43a-0093563b1d55.png)

- Add a debug point on the below posi

[2022-08-05 09:42] sukeshini-kot commented on #29263
Where can I find the commit for this fix?

[2022-08-05 09:43] engcom-Lima commented on #35867
Hi @Nuranto ,

Thanks for your contribution and collaboration.

As suggested by you I have applied the code changes but unable to see changes in the frontend.
Followed below steps:
**path :** `app/code/Magento/Catalog/Model/Product/Gallery/Processor.php`
[code]
And in
**Path:** `app/code/Magento/Catalog/Model/Product.php`
[code]

 Please provide us yours **use case** of your request.
Kindly provid

[2022-08-05 09:51] engcom-Lima commented on #35875
Hi @m2-amn ,

Thanks for your contribution and collaboration.

Kindly provide more information regarding the steps to reproduce the issue. So, that we can proceed further process.

Thanks

[2022-08-05 09:57] aurmil commented on #35617
hello

issue confirmed on M2.4.3.-p2

having an `afterApplyDataPatch` plugin on `\Magento\Framework\Setup\Patch\PatchApplier`

and a data patch doing

[code]

=>

`Notice: Undefined index: [...]PatchApplier in /app/vendor/magento/framework/Interception/PluginList/PluginList.php on line 174`

fixed by changing `\Magento\Backend\App\Area\FrontNameResolver::AREA_CODE` to `\Magento\Framework\App\Area:

[2022-08-05 09:57] engcom-Alfa commented on #34766
@magento give me 2.4.5-develop instance

[2022-08-05 10:07] engcom-Lima commented on #35880
Hi @Etje ,

I have tried to reproduce the issue in clean Magento `2.4-develop` with EE edition but unable to reproduce it.
Kindly refer my video if anything I am missing kindly provide me information.
Also try to test in latest  Magento `2.4-develop` & let us know if you are facing any issue.

Thanks

[2022-08-05 10:15] engcom-Bravo commented on #35881
@magento give me 2.4-develop instance

[2022-08-05 10:18] engcom-Delta commented on #35871
Hi @AmyJZhao ,
Thank you for raising an issue , Kindly provide issue clear description , steps to reproduce , actual results, expected results and screenshots if required.
Regards,

[2022-08-05 10:21] engcom-Bravo commented on #35879
Hi @isaacdzca

Thank you for raising an issue.

Please help us to provide exact steps to reproduce and screenshots if possible provide us video in order to replicate the issue.

Regards.

[2022-08-05 10:22] engcom-Alfa commented on #14881
@magento give me 2.4.3 instance

[2022-08-05 10:25] Nuranto commented on #35867
Hi @engcom-Lima,

In backend, you should see the `Alt text` field filled with `$label` value.
In frontend, you should see the `alt="..."` attribute filled with `$label` value on the added product image.

[2022-08-05 10:58] engcom-Alfa commented on #14881
As I cross checked again with `2.4-develop` magento code, the issue is still reproducible, hence I edited the description part of this ticket with all the information again in this ticket.
Also changing the priority to P1 from P2, since there are many people noticing this issue as per above comments.
Thanks for your patience!

[2022-08-05 11:12] hostep commented on #35616
I've noticed 2 commits that got merged here 11 hours ago, under the name "ACP2E-1028: Current Indexer implementation for large catalogs is causing items to not appear on site", that sounds related to this issue report. Unfortunately there is no clean merge commit, it part of a [huge merge commit](https://github.com/magento/magento2/commit/98068a6fc31392edbdfe2a805b7eb5038cf8569c) with a bunch of d

[2022-08-05 11:21] ananth-iyer commented on #35838
Hi @engcom-Lima are there any updates?

[2022-08-05 11:22] ananth-iyer commented on #13971
@jurvi can you share a screen video gif?

[2022-08-05 11:27] engcom-Lima commented on #35864
Hi @mohitnavik ,

Yes I have created custom theme as you can see my screeshot in above [comment](https://github.com/magento/magento2/issues/35864#issuecomment-1205318184). I have checked there is no `jquery.mobile.custom.js` file in latest `2.4-develop` branch.
Can you please test it in the latest `2.4-develop` if you are facing any issue let us know.

Thanks

[2022-08-05 11:51] pankajchhatwani commented on #35832
@sdzhepa  @engcom-Lima  Team,
Found a solution for it ?

Thanks!

[2022-08-05 12:14] engcom-Echo commented on #35622
Hello @Morerice,

Thanks for you response.

As per our discussion we are understanding the issue is that in future if we adds new different payment method with **Vault** feature then this payment method will come under the Stored Payment Method sections and then the table name **Account**  in place of **PayPal Account** have make more sense.

Hence we are taking this as **feature** request.

Thank

[2022-08-05 12:26] Morerice commented on #35622
Hi @engcom-Echo,

Thanks for the update. Since this seems to be quite a straight-forward label change, is it ok if I submit a pull request for it? Or do you have some structure that I have to follow for the Pull request to be accepted?

Thanks,
Jean
Adyen

[2022-08-05 12:26] Finbayern commented on #35474
Correction!
Phpinfo showed that libsodium was installed for php 8.0 and 7.4, but for 8.1 it was not.
EA4 showed that the extension was installed for 8.1 too, thus it was clear that something was broken in the installation.
Therefore I removed it and re-installed it, now it shows up in the phpinfo as well.

This fixed the issue, so the culprit was the missing/broken installation of libsodium.

[2022-08-05 12:39] hopeseekr commented on #35878
It seems that Braintree, for one instance, has had to reimplement `this.getPlaceOrderDeferredObject()` to get around this problem:

![image](https://user-images.githubusercontent.com/1125541/183078932-b56e525e-5c22-4a5f-9118-a9523495b448.png)

[2022-08-05 12:44] engcom-Lima commented on #35856
Hi @speller ,

Thanks for your contribution and collaboration.

Kindly provide us exact steps to reproduce the issue.
May be issue got fixed in the latest branch as this kind of error ` Deprecated Functionality: trim(): Passing null to parameter #1 ($string)` reported by many reporters.
Please test in latest `2.4-develop` of Magento and let us know if you are facing any issue.

Thanks

[2022-08-05 12:45] engcom-Lima commented on #35639
Hi @Nuranto

Thanks for the input,
I tried to reproduce this issue with latest 2.4-develop instance however the issue is still not reproducible

Steps followed to reproduce the issue

1. Install latest 2.4-develop instance
2. Create custom cron that will just sleep for sometime(tried with 5 mins) group=default
3. Configure group to run every minute and set **use_separate_process** to 1

Only one p

[2022-08-05 13:11] Nuranto commented on #35639
Hello @engcom-Lima

You need to set `use_separate_process` to 0 to reproduce the issue.

[2022-08-05 14:15] ziyaindia opened #35884 "Magento 2.4.4 Refused to apply style from 'http://gocustom.com/static/_cache/merged/source/stroke/helper.css' because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking is enabled."
### Preconditions and environment

- M2.4.4
- Upgrade from M 2.4.2 to M 2.4.4

### Steps to reproduce

Take script and database backup and uload it on liver server

### Expected result

Site should be running as it is localhost

### Actual result

Getting following error

Refused to apply style from 'http://gocustom.com/static/_cache/merged/source/stroke/helper.css' because its MIME type ('text/ht

[2022-08-05 14:52] m2-amn commented on #35875
Hello, @engcom-Lima,

Thank you for your support.

Here is more information about errors.
Magento 2.4.4 shows an error to pass null as an argument of a deprecated functionality  for PHP 8.1 other than that that explicitly allow null.
For instance:
strlen(), nl2br()

Thank you

[2022-08-05 15:55] #35163 closed, assigned to nobody

[2022-08-05 16:21] engcom-Delta commented on #35595
Hi @NickvdMeij ,
We are apologize for causing inconvenience, surely we will take a look into it once again and confirm you .
Thanks for understanding.

Regards,

[2022-08-05 16:44] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-05 17:06] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-05 17:08] maghamed commented on #35881
@magento give me 2.4-develop instance

[2022-08-06 01:04] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-06 01:32] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-06 11:22] Satishshaw97 commented on #8350
hi facing the same issue, is there any update on this fix?

[2022-08-06 11:43] Satishshaw97 commented on #12827
hi @dharmendra-wagento , could you please share the solution link here , I am using magento 2.1.7 and facing the same issue.

[2022-08-06 13:21] speller commented on #35856
@engcom-Lima I didn't test in the dev version yet. But I think the issue appears when the customer entity has a custom attribute but is saved without setting this attribute value.

I'm using the following code to add this attribute:

[code]

[2022-08-07 00:30] perfpcs commented on #30596
@magenizr  You emailed me and I replied but your email is broken:

Delivery incomplete
--
There was a temporary problem delivering your message to tobias@magenizr.com. Gmail will retry for 45 more hours. You'll be notified if the delivery fails permanently.

Here is what I sent:

-------------------------------
Are you using all stock files from 2.4.4? Because I have 1 or 2 files edited files to t

[2022-08-07 07:35] plastikschnitzer opened #35887 "Admin panel edit zip code with leading 0 not possible"
### Preconditions and environment

- Magento 2.4.4
- PHP8.1
- Mysql 8
- Ubuntu 20.04 LAMP-Stack

### Steps to reproduce

Go to an order in admin panel
Edit Shipping or Billing address
Change ZIP-Code and add a leading zero OR remove one 0 to correct zip code and save address

### Expected result

Zip code should be corrected

### Actual result

No matter if a leading 0 is added or removed, the cha

[2022-08-07 07:36] plastikschnitzer commented on #35887
@magento give me 2.4-develop instance

[2022-08-07 08:03] plastikschnitzer commented on #35887
I cannot reproduce the issue on the vanilla Magento-2.4-dev instance.

Maybe some 3rd party incompatibility? Environment issue?

No hints on my server in system.log, exception.log or debug.log.

[2022-08-08 00:15] #35380 closed, assigned to nazarklovanych

[2022-08-08 00:15] #35488 closed, assigned to pykettk

[2022-08-08 00:15] #35711 closed, assigned to fredden

[2022-08-08 00:15] #35719 closed, assigned to nobody

[2022-08-08 00:15] #30588 closed, assigned to niravkrish

[2022-08-08 00:15] #35858 closed, assigned to SilinMykola

[2022-08-08 03:42] carlitooo2022 opened #35888 "The value specified in the URL Key field would generate a URL that already exists"
### Preconditions and environment

Magento ver. 2.4.0

### Steps to reproduce

1. Go to Systems tab and click Import
2. In Entity type, select Products
3. Import behavior, select Add/Update
4. Validation Strategy, select Stop on error
5. Allowed error counts - 10
6. Select file to import and on the top right corner select Check Data
7. Click import

### Expected result

Be able to import the csv f

[2022-08-08 05:05] engcom-Hotel commented on #35746
@magento give me 2.4.4 instance with edition ee

[2022-08-08 05:08] engcom-Hotel commented on #35746
@magento give me 2.4.4 instance

[2022-08-08 05:55] norgeindian commented on #27474
@engcom-Hotel , what's the current status here?

[2022-08-08 05:56] norgeindian commented on #28153
@Team-MediaDivision , well, that is a workaround, but surely not the fix for the original issue.
@sdzhepa , any news reagrding this?

[2022-08-08 05:58] norgeindian commented on #29734
Any updates regarding this issue?

[2022-08-08 06:05] engcom-November commented on #35727
Hi @Citizen4our ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-08-08 06:05] #35727 closed, assigned to engcom-November

[2022-08-08 06:06] engcom-November commented on #35072
Hi @sergiirepin ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-08-08 06:06] #35072 closed, assigned to vzabaznov, ddzhura, engcom-November

[2022-08-08 06:06] engcom-November commented on #35285
Hi @yuriichayka ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-08-08 06:06] #35285 closed, assigned to engcom-November

[2022-08-08 06:23] engcom-Lima commented on #35639
Hi @Nuranto,
Thank you for the reply

Reverified with again and the issue is reproducible,

IMAGE UPLOAD
<img width="1431" alt="Screenshot 2022-08-08 at 11 37 42 AM" src="https://user-images.githubusercontent.com/60198022/183352619-46872403-8022-4cdb-9f94-ac097adbd9da.png">

Hence confirming the issue

Thanks

[2022-08-08 06:44] engcom-Hotel commented on #35715
@magento give me 2.4-develop instance with edition ee

[2022-08-08 07:02] snez commented on #22773
I got this error on 2.4.4 after creating a custom webapi.xml route. I forgot to declare the method param types in the docblock, which produced this non-intuitive error.

[2022-08-08 07:10] engcom-Charlie commented on #35448
Hi @anowave,

As we have not received any reply on [comment](https://github.com/magento/magento2/issues/35448#issuecomment-1191303794) for a period more than 14 days so we are closing this issue because of the inactivity .

Please raise a fresh issue or reopen this issue if you need more assistance on this.

Thank you!

[2022-08-08 07:10] #35448 closed, assigned to engcom-Charlie

[2022-08-08 08:16] engcom-Hotel commented on #27474
Hello @norgeindian,

The JIRA ticket is still in process. I will update on this further.

Thanks

[2022-08-08 08:47] engcom-Lima commented on #35867
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:**  In `Magento\Catalog\Model\Product\Gallery\Processor::addImage()`, for some reason, there is no label parameter. The label is set to empty string 'label' => ''
**Pre-requisite:** Fresh magento should be installed.
Fresh magento `2.4-develop` should be installed.

**Steps to reproduce:**
In `app/co

[2022-08-08 08:55] engcom-Bravo commented on #35888
@magento give me 2.4-develop instance

[2022-08-08 09:31] engcom-Echo commented on #35024
Hello @in-session,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-08 09:31] #35024 closed, assigned to engcom-Echo

[2022-08-08 09:33] engcom-Echo commented on #35406
Hello @MeCapron,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-08 09:33] #35406 closed, assigned to engcom-Echo

[2022-08-08 09:35] engcom-Echo commented on #35790
Hello @Bartiema,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-08 09:35] zigojacko commented on #29734
@norgeindian I think Adobe gave up caring about the countless bugs with Magento Open Source edition... 🤷‍♂️

[2022-08-08 09:38] engcom-Echo commented on #35097
Hello @ioweb-gr,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-08 09:38] #35097 closed, assigned to engcom-Echo

[2022-08-08 09:40] engcom-Echo commented on #35446
Hello @tschirmer,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-08 09:40] #35446 closed, assigned to engcom-Echo

[2022-08-08 09:45] artskirk commented on #34584
@magento I am working on this

[2022-08-08 10:12] engcom-November commented on #35764
Hi @Chrischapot ,
"TRUNCATE ui_bookmark; " is a sql query and should be run in any database sql editor. Please refer the screenshot of steps to switch to the DB and sql query ran.
![image](https://user-images.githubusercontent.com/60198231/183394707-9410823f-ef20-4a9f-99d9-47a4fe6fe5ac.png)
This issue has been confirmed here: https://github.com/magento/magento2/issues/35466. Kindly move onto this

[2022-08-08 10:58] engcom-Dash commented on #35884
Hello @ziyaindia ,

We have tried to reproduce the issue in Magento 2.4.4 branch the issue is not reproducible.
Please refer the below screenshot for the reference;
![Screenshot from 2022-08-08 16-26-18](https://user-images.githubusercontent.com/60198592/183402738-4023784b-6dc9-4c79-a20e-940cc1811080.png)

We have followed the below steps in order to reproduce the issue:
1.Install Magento 2.4.2 in

[2022-08-08 11:26] plastikschnitzer opened #35889 "Accessibility: WAI-ARIA roles nesting wrong in menu"
### Preconditions and environment

- Magento 2.4.4
- Blank theme, Luma theme

### Steps to reproduce

Navigate to storeview
analyze html code of menu for correct ARIA markup

### Expected result

Menu should be structured according to ARIA schema the following way:
[code]
### Actual result

[code]

As the `li` tag has no role, the child element for the menu role is missing and the parent element f

[2022-08-08 11:31] plastikschnitzer commented on #35889
@magento give me 2.4-develop instance

[2022-08-08 11:46] engcom-November commented on #35801
@magento give me 2.4-develop instance

[2022-08-08 11:47] plastikschnitzer commented on #35889
Yes, I can confirm the issue can be reproduced on Magento-2.4-develop

[2022-08-08 11:58] engcom-Bravo commented on #35888
Hi @carlitooo2022,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue. Kindly refer the screenshots.

steps followed:
1.Go to Systems tab and click Import
2.In Entity type, select Products
3.Import behavior, select Add/Update
4.Validation Strategy, select Stop on error
5.Allowed error counts - 10
6.Select file to i

[2022-08-08 12:01] nd1996 commented on #28924
Any Updates on this issue?

Or anyone has any quick fix

[2022-08-08 12:01] nd1996 commented on #31775
Any Updates on this issue?

Or anyone has any quick fix

[2022-08-08 13:56] engcom-Echo commented on #35078
Hello @MagicLegend,

We have tried to reproduce the issue in Magento 2.4-develop branch, but for us, the issue is not reproducible. We have followed the below steps:

1. Created Plugin for under Magento\Sales\Model\Order under app/code/Magento/Sales/etc/di.xml
2. Plugin look like the below:

[code]
4. Placed an Order successfully via Paypal Payment method
5. And click on invoice for particular ord

[2022-08-08 14:00] engcom-Hotel commented on #35617
Hello @aurmil,

Thanks for the contribution!

It seems your's and @Hexmage's steps are different in order to reproduce the issue. As per my understanding @Hexmage tries to call `setCurrentScope` in a public function and then make a plugin on that. But for you, facing some different issue.

So request you to please provide us more information, use cases etc.

Thanks

[2022-08-08 14:08] engcom-November commented on #35801
Thank you for the response @himanshusavranntz . Verified the issue again on Magento 2.4-develop branch but unable to import CSV. Getting below error even after updating the attribute values and import is unsuccessful.
![image](https://user-images.githubusercontent.com/60198231/183436939-6731e789-fbbd-4937-802d-e73ffa3871c7.png)
Please confirm whether same behavior is observed at your end to confir

[2022-08-08 14:09] pmzandbergen commented on #35160
Verified on 2.4.4, applying patch for `magento/module-customer` on our projects awaiting a fix in the Magento Core.

[code]

_PS Maybe `if (is_scalar($val) || $val === null) {` is a better option (depending on where this is being used)_

[2022-08-08 14:24] pmzandbergen commented on #35160
@Zaahed accidentally didn't spot your PR, which does the job (even with only `null` values). Maybe add a unit test to verify and keep future updates from breaking this again.

[2022-08-08 14:28] madonzy opened #35890 "Translations are not working within consumer instance"
### Preconditions and environment

- Magento version: 2.4.3-p1

### Steps to reproduce

1. Create consumer
2. Try to translate whatever by __()

### Expected result

Value is translated

### Actual result

Value is NOT translated

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [X] Severity: **S0** _- Affects critical data or functionality and

[2022-08-08 14:37] engcom-November commented on #35835
Hi @zepgram ,
We are able to install the package on both 2.3 git instance and 2.4-develop branch as well but cannot install the package on latest composer instance 2.4.4 project-community-edition. Hence we are confirming this issue.

[2022-08-08 14:47] howdyravi commented on #35207
@engcom-November The issue occurs when you run it for a different store.

Your current endpoint is :
`<host>/rest/default/V1/store/websites`
Which is currently looking for you default store.

And issue occurs when you run for a specific store.
`<host>/rest/<storeID>/V1/store/websites`

![image](https://user-images.githubusercontent.com/39335589/183445765-a2dc0ac9-93eb-4b41-81e1-6cb6497417e3.png)

[2022-08-08 14:53] isaacdzca commented on #35879
@magento give me a 2.4.-develop instance

[2022-08-08 15:15] Hexmage commented on #35861
Yes that seems to be a typo on my side sorry about that.

[2022-08-08 15:16] madonzy commented on #35890
here is the solution: https://www.atwix.com/magento-2/cli-scripts-translations/

why is it not loaded OOTB?

[2022-08-08 15:16] engcom-Lima commented on #35715
Hi @emrahuyanik ,

Thanks for your contribution.

We have tried to deep dive in the issue again.
I have checked in my order page . I have done partial refund for the product but both of my product is not getting removed.
Please find below screenshot for your reference:
![image](https://user-images.githubusercontent.com/60198022/183452177-0d8c9219-6772-4ab2-8e41-667831d059a6.png)

**Additionally ch

[2022-08-08 15:17] sdzhepa commented on #28153
Hello @norgeindian

I do not have any updates. I do not work on this task directly just can check and summarise public and internal information.
Priority for the issue was raised to P2. It is still Ready for Development in both backlogs - Community and Internal.
It means that the issue still waiting for developer(s) from Community Contributors or Adobe teams who start progress and propose PR with

[2022-08-08 16:52] Zaahed commented on #35160
@pmzandbergen Thx for the suggestion. I added a unit test to the PR.

[2022-08-08 17:05] slavvka commented on #35746
@magento give me 2.4.4 instance

[2022-08-08 18:55] surelockrich commented on #26896
@spraxis @enyceedanny Is this issue is solved or should i Reopen this issue.

[2022-08-08 19:44] #35093 closed, assigned to nobody

[2022-08-08 23:25] engcom-Delta commented on #35746
Hi @ayushi011 ,
We have tried to reproduce the issue on 2.4 develop (CE) and 2.4.4 EE  issue is not reproducible.
Could you please review the provided steps and pre-condition?

Thanks,

[2022-08-09 00:03] engcom-Delta commented on #35870
Hi @ManikandanKaruppaiah ,
Thank you for raising an issue and We are happy to assist to you . Kindly review the provided query it seems there is syntactical error  , please provide expectation results and actual results with screenshots if required.

Thanks

[2022-08-09 03:02] Jakhotiya commented on #34064
I think this issue should be reopened because it does slow down admin and https://github.com/magento/magento2/issues/33748 is not the same.
Huge session size can be caused by any amount of reasons, even custom implementation. https://github.com/magento/magento2/issues/33748 is just about having right warnings in the place.

This issue is about unnecessarily loading all roles in session and storing

[2022-08-09 05:24] engcom-Hotel commented on #35617
Hello @Hexmage,

Thanks for the clarification!

Can you please let us know a bit more in order to reproduce the issue as you mentioned here https://github.com/magento/magento2/issues/35617#issuecomment-1196364761?

Thanks

[2022-08-09 05:27] engcom-Hotel commented on #35813
Dear @abdulrj009,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-09 05:27] #35813 closed, assigned to engcom-Hotel

[2022-08-09 06:13] engcom-November commented on #35776
Hi @DeepShah2511 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-08-09 06:13] #35776 closed, assigned to engcom-November

[2022-08-09 06:41] NickvdMeij opened #35891 "Multistore categories return "URL key for specified store already exists." even though full URL's differ"
### Preconditions and environment

- Magento version 2.4.3-p1 / 2.4.4
- Multistore setup

### Steps to reproduce

1. Setup 2 website and stores
2. Make 2 "root" categories, 1 for each store
3.  Make 1 subcategory underneath each root category with different url keys (no problem here)
4. Make 1 subcategory underneath each root category's  with the same url key (error thrown: "URL key for specified

[2022-08-09 06:41] NickvdMeij commented on #35891
@magento give me 2.4-develop instance

[2022-08-09 06:58] engcom-Bravo commented on #35814
Hi @Autobadges

This is an intermittent issue which cannot be reproduced frequently on 2.4-develop branch. However  this has been confirmed [here:](https://github.com/magento/magento2/issues/35466)

 We are closing this issue as duplicate. Kindly move onto this issue for latest updates / solutions on the same

[2022-08-09 06:58] #35814 closed, assigned to engcom-Bravo

[2022-08-09 06:59] #35891 closed, assigned to nobody

[2022-08-09 07:00] NickvdMeij commented on #35891
Tested in clean magento install, works like intended. could not reproduce bug

[2022-08-09 07:24] vishalkumar007 opened #35892 "Registers an unload listener"
### Preconditions and environment

- Magento version 2.4.3
- The `unload` event does not fire reliably and listening for it can prevent browser optimizations like the Back-Forward Cache. Use `pagehide` or `visibilitychange` events instead.
- Source: lib/web/legacy-build.min.js

### Steps to reproduce

 1. install magento 2.4.3
 2. check on https://pagespeed.web.dev/ this or chrome lighthouse tool.

[2022-08-09 07:26] MagicLegend commented on #35078
Hi @engcom-Echo,

Let me repeat my previous message:

(Emphasis added for clarity)

[2022-08-09 07:50] engcom-Hotel commented on #33007
Hello @n2diving-dgx,

We have moved this ticket to on hold for the PO confirmation.

Thanks

[2022-08-09 08:44] engcom-Bravo commented on #35888
@magento give me 2.4-develop instance

[2022-08-09 08:52] engcom-Hotel commented on #35706
Hello @Nuranto,

Thanks for the report!

We have tried to reproduce the issue in Magento 2.4-develop branch and the issue is reproducible for us. We have followed the same steps as mentioned in the main description and getting the below error:

![image](https://user-images.githubusercontent.com/51681618/183607365-49c83dfa-4a0f-4a31-aa47-71ce1a9b00e2.png)

Hence confirming the issue.

Thanks

[2022-08-09 09:02] engcom-Hotel commented on #34997
Hello @Nuranto,

Thanks for the reporting!

We have tried to reproduce the issue in the Magento 2.4-develop branch but the issue is not reproducible for us. After deleting the image from S3 directly, we have an empty box instead of that image. Please have a look at the below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/183609498-96aad903-6dc1-4bac-88c0-ed5

[2022-08-09 09:10] engcom-Hotel commented on #35729
Hello @Nuranto @simonmaass,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop instance but the issue is not reproducible for us. We are able to upload the image while adding a product description. Please refer to the below screenshot:

![image](https://user-images.githubusercontent.com/51681618/183610953-c9652973-1cbd-4e2b-963d-ead192cf4882.png)

[2022-08-09 09:20] engcom-Hotel commented on #35534
Hello @tgreeve,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but the issue is not reproducible for us. We can see both images in the panel. Please refer to the below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/183613000-a136a431-2cfc-4404-91d9-4c7e214eadda.png)

Below is the screenshot from

[2022-08-09 09:25] engcom-Hotel commented on #35254
Hello @PauloPhagula,

Thanks for the reporting and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but the issue is not reproducible for us. We have S3 is enabled for media storage. We can successfully access the portal after disabling the maintenance mode by running the below command:

`bin/magento maintenance:disable`

Please let us know in case we have missed

[2022-08-09 09:27] engcom-Lima commented on #35892
@magento give me 2.4-develop instance

[2022-08-09 10:05] engcom-Lima commented on #35892
Hi @vishalkumar007 ,

Thanks for your contribution and collaboration.

I have tried to reproduce the issue but the issue is not reproducible to me on `2.4-develop`.
I did n't found any error in this section **`The unload event does not fire reliably and listening for it can prevent browser optimizations like the Back-Forward Cache. Use pagehide or visibilitychange events instead.`** on https://pag

[2022-08-09 10:06] engcom-November commented on #34055
@magento give me 2.4-develop instance

[2022-08-09 10:34] engcom-Lima commented on #35875
Hi m2-amn ,

I have tried to reproduce the issue but issue is not reproducible to me.
I have used strlen(),nl2br() in `index.php` but I didn't got any error in logs as well as on frontend.
Kindly provide more information, so , that issue can be reproducible.

Thanks

[2022-08-09 10:35] engcom-Dash commented on #35782
Dear @magentothings  ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks!

[2022-08-09 10:35] #35782 closed, assigned to engcom-Dash

[2022-08-09 10:44] hassanas opened #35893 "Loged in customer on add Wishlist occasionally facing this error. "Unique constraint violation found""
### Preconditions and environment

- 2.3.1
- I am facing this issue on production some time following error recorded into the logs when loged in user want to add product into wish list.
- **Unique constraint violation found**
- issue is on the following file _vendor/magento/module-wishlist/Model/Wishlist.php_ on function _loadByCustomerId_
- in this function when resource is loading by customer id

[2022-08-09 10:48] Flow09AT opened #35894 "Newsletter confirmation email is send twice"
### Preconditions and environment

- Magento version 2.4.1 & 2.4.2

### Steps to reproduce

1. Subscribe to newsletter as guest
2. Ignore the newsletter confirmation mail which you'll receive
3. Sign up as a new customer to the shop and leave "Sign up for newsletter" unchecked

### Expected result

Newsletter confirmation mail should just be send once (after subscribe as guest)

### Actual result

[2022-08-09 11:00] hostep commented on #34064
@nathanjosiah: what do you think about the remarks mentioned above?

[2022-08-09 11:21] MaksSum41 commented on #35832
@magento I am working on this

[2022-08-09 11:35] engcom-Bravo commented on #35893
@magento give me 2.4-develop instance

[2022-08-09 11:49] engcom-Bravo commented on #35893
Hi @hassanas,

Thank you for reporting and collaboration.

 Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue. Kindly refer the screenshots.

<img width="943" alt="wish" src="https://user-images.githubusercontent.com/51680745/183639766-f76f5c0c-c24e-44d1-a33e-fff901a53cf9.png">

Thanks.

[2022-08-09 11:54] engcom-Lima commented on #35894
Hi @Flow09AT ,

I have tried to reproduce the issue but issue is not reproducible.
After sign up, the mail I have received is of newsletter unsubscription mail which is valid.
Here, once you subscribe as newsletter as a guest, your email will be stored in the Magento. While signup if you give the email, Magento will detect the email and check the checkbox automatically. Once you unselect it subscr

[2022-08-09 11:57] pankajchhatwani commented on #35832
@MaksSum41  Thanks for solution, but actually

Go to Stores --> Configurations --> Settings --> Advanced --> Admin --> Security --> Password Change
set Recommended

So I think the password page should not be forcefully redirected to update.

@sdzhepa @engcom-Lima
Thanks!

[2022-08-09 12:01] hassanas commented on #35893
@engcom-Bravo its working on my site as well. But the issue I highlighted occured some times in the day in peak time.

[2022-08-09 12:02] engcom-November commented on #34055
Hi @onlinebizsoft ,
It is not possible to create an invoice with Pending status on latest Magento 2.4-develop instance. Ref [docs1](https://docs.magento.com/user-guide/v2.3/configuration/sales/payment-methods.html), [docs2](https://docs.magento.com/user-guide/sales/order-status-workflow.html) However this issue is reproducible with below steps performed:
1. Created an Order from front-end with Pay

[2022-08-09 12:16] engcom-Bravo commented on #35888
Hi @carlitooo2022,

we are tried about 500+ products to update product price. we are able to update the product price of 500+ products.

we are unable to reproduce the issue. Verified the issue on Magento 2.4-develop branch. Kindly refer the screenshots.

<img width="930" alt="products 1" src="https://user-images.githubusercontent.com/51680745/183643471-f06fee1d-f8a6-4bdb-ae38-dd7107673408.png">

[2022-08-09 12:24] asharjanjua01 opened #35896 "Catalog cache thumbnail images not generating if image name contains dot in its name."
### Preconditions and environment

Preconditions (*)
PHP 7.4
Magento 2.4.4 (installed via composer create-project)
No sample-data, all defaults.

### Steps to reproduce

1- In admin panel Go to Catalog->Products and create new Product.
2- Upload Two product images.
      i- Take any sample image and rename it to 0.20ct
      ii- Take any sample image and rename it to testimage
3- Save Product.
4-

[2022-08-09 12:25] asharjanjua01 commented on #35896
@magento give me 2.4-develop instance

[2022-08-09 12:49] engcom-Delta commented on #35812
Hi @Hexmage ,
Are you still facing the same issue ? . Kindly confirm.

Thanks

[2022-08-09 12:51] asharjanjua01 commented on #35896
@magento give me 2.4.4 instance

[2022-08-09 12:59] asharjanjua01 commented on #35896
@magento give me 2.4.4 instance

[2022-08-09 12:59] engcom-November commented on #35889
Hi @plastikschnitzer ,
Verified this on 2.4-develop instance but could not find the role: menu in "Accessibility Properties". Can you please elaborate which particular page and elements you are referring to check the issue.
Thank you.

[2022-08-09 13:03] Nuranto commented on #34997
Hello @engcom-Hotel

Just to be sure, have you tried to purge cache ? Because remote-storage metadatas are stored in cache. (Btw, I think they should not be cached, but that's another issue : https://github.com/magento/magento2/issues/35820 :)

[2022-08-09 13:03] asharjanjua01 commented on #35896
@magento give me 2.4.4 instance

[2022-08-09 13:08] engcom-November commented on #35837
As different exception/error is observed on Magento 2.4-develop branch as mentioned above [here,](https://github.com/magento/magento2/issues/35837#issuecomment-1198021676) confirming the issue by updating description with current behavior.

[2022-08-09 13:08] Flow09AT commented on #35894
@magento give me 2.4-develop instance

[2022-08-09 13:16] nukka opened #35897 "Admin product grid gets wrong amount of visible columns if custom view is created"
### Preconditions and environment

- Magento version 2.4.3

### Steps to reproduce

1. Create one product attribute with default properties from the admin panel. No matter what the input type is.
2. Open product grid from admin panel.
3. Choose columns you want to be visible in the grid and save the custom view.
4. Change to view back to “Default View”

### Expected result

The default view should

[2022-08-09 13:24] asharjanjua01 commented on #35896
@magento give me 2.4.4 instance

[2022-08-09 13:28] engcom-Echo commented on #35078
Hello @MagicLegend,

Thanks for raising your concern.

In order to proceed further with any community issue we first have to reproduce it and then we can proceed with the confirmation of the same.

We have tried to reproduce the issue in Magento 2.4-develop branch, but for us, the issue is not reproducible. We have followed the below steps:

1. Created Plugin for under Magento\Sales\Model\Order un

[2022-08-09 13:34] engcom-Dash commented on #35897
@magento give me 2.4-develop instance

[2022-08-09 13:40] engcom-November commented on #35889
@magento give me 2.4-develop instance

[2022-08-09 13:45] engcom-Delta commented on #35861
Hi @dpdesignthatfits ,
We have tried on Magento 2.4.4 instance to reproduce the issue after upgrading, We have found that after running graphql query , "id_salt" attribute is getting added in env.php file . It keeps adding when we run graphql query  but we did not find out any error on frontend. it works fine. Hence , please have look at the screenshots and confirm do i need to follow any specific

[2022-08-09 13:57] engcom-Lima commented on #35896
Hi @asharjanjua01 ,

Thanks for your contribution and collaboration.

I have tried to reproduce the issue but the issue is not reproducible to me .
Followed all the steps given in the [above](https://github.com/magento/magento2/issues/35896#issue-1333180543) but issue is not reproducible. I have checked by changing PHP version to 7.4 still not reproducible.
Below screenshot for your reference:
![i

[2022-08-09 13:58] Den4ik opened #35898 "Catalog shown as out of stock if show_of_stock_option enabled"
### Preconditions and environment

- 2.4-develop Vanila instance

### Steps to reproduce

1. take Vanila instance by `magento give me 2.4-develoop instance`
2. Go to Stores->Configuration->Catalog->Inventory and Enable `Display Out of Stock Products`
3. Clear cache
4. Got to catalog

### Expected result

Product shown in stock

### Actual result

Products show as out of stock
![2022-08-09-16-48-41

[2022-08-09 13:59] engcom-Lima commented on #35898
@magento give me 2.4-develoop instance

[2022-08-09 14:10] engcom-November commented on #35889
Hi @plastikschnitzer ,
Verified the behavior on Magento 2.4-develop branch and is reproducible. But however, Accessibility: WAI-ARIA  is not mentioned in Magento [docs](https://developer.adobe.com/commerce/php/coding-standards/html-style-guide/) instead mentioned as Web Content Accessibility Guidelines (WCAG) 2.0. Kindly refer the document and provide supporting docs/proofs to consider this as a v

[2022-08-09 14:11] engcom-Dash commented on #35897
Hi @nukka ,

We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible.

Please refer the below screenshot for the reference;
![Screenshot from 2022-08-09 19-38-01](https://user-images.githubusercontent.com/60198592/183670495-142bde23-fd5a-4d73-86a0-3d2cdbd4035f.png)

We have followed the below steps in order to reproduce the issue:

1. Create one product att

[2022-08-09 14:12] engcom-Lima commented on #35898
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Product is showing out of stock.
**Pre-requisite:** 2.4-develop Vanila instance

**Steps to reproduce:**

1. Take Vanila instance by `@magento give me 2.4-develoop instance`.
2. Go to Stores->Configuration->Catalog->Inventory and Enable Display Out of Stock Products
3. Clear cache
4. Go to catalog

[2022-08-09 14:13] pointia commented on #35520
@engcom-November please reopen the ticket since the problem is in M2.4.5 as well if you have Magento installed on an encrypted device.

Here is the explanation https://bugs.launchpad.net/ecryptfs/+bug/344878

The same problem already existed in an older version as well. Encrypting devices makes a lot of sense to me so this should work.

[2022-08-09 14:16] Den4ik opened #35899 "Catalog shown entire catalog items count if show_of_stock_option enabled"
### Preconditions and environment

- 2.4-develop Vanila instance

### Steps to reproduce

1. Take Vanila instance by magento give me 2.4-develoop instance
2. Go to Stores->Configuration->Catalog->Inventory and Enable Display Out of Stock Products
3. Clear cache
4. Go to catalog Women->Tops->Bras & Tanks
5. Apply Filter Style->Bra that show 5 items

### Expected result

Total catalog items should s

[2022-08-09 14:24] engcom-November commented on #35889
Hi @plastikschnitzer , Thank you for reporting and collaboration.
Verified the behavior on Magento 2.4-develop branch and is reproducible. But however, Accessibility: WAI-ARIA is not mentioned anywhere in Magento [docs](https://developer.adobe.com/commerce/php/coding-standards/html-style-guide/) instead mentioned as Web Content Accessibility Guidelines (WCAG) 2.0. Kindly refer the document and pro

[2022-08-09 15:16] #35494 closed, assigned to nobody

[2022-08-09 15:32] richardreen commented on #35861
After correcting the files used by module-graphql ( see https://github.com/magento/magento2/issues/35412) the errors are gone and all is working well. Can execute graphql queries and get result and the fronted is working well. And in env.php the mentioned salt… is present and no issues.

[2022-08-09 15:35] dpdesignthatfits commented on #35861
@richardreen Is is this commit that fixed it for you?

[https://github.com/magento/magento2/commit/562865aa95ca5916f3418da7d430a1c8018b5918#diff-47df49336d51af1eb4a02ab0c1b098aaab7d5ffc57b1f9d4a66446c2e414ce42R208]

[2022-08-09 15:41] richardreen commented on #35861
Yes that is the correct files …

[2022-08-09 15:46] dpdesignthatfits commented on #35861
@richardreen  It looks like 2.4.5 has been released a few hours back so hopefully an update to that will fix this then.

[2022-08-09 16:49] richardreen commented on #35861
I doubt that, just been looking at some code at GitHub with tag 2.4.5 and then these files are not corrected…so I suspect this file comes than back again.

[2022-08-09 17:09] gwharton opened #35900 "Catalog Page Empty if "Allow All Products Per Page" is set to "Yes""
### Preconditions and environment

- Magento 2.4.5

### Steps to reproduce

Deploy 2.4.5 vanilla
Create Test Category
Create Test Product in test category
Browse to test category page on frontend and ensure product is visible.
Set Allow All Products Per Page setting (Config -> Catalog -> Catalog) to Yes
![image](https://user-images.githubusercontent.com/30697781/183713911-36281be3-74d8-41fb-8a8a-4

[2022-08-09 17:11] gwharton commented on #35900
@magento give me 2.4-develop instance

[2022-08-09 17:18] gwharton commented on #35900
Confirmed on magento test instance.
![image](https://user-images.githubusercontent.com/30697781/183715886-d4a106c7-99e5-4045-b541-89348ab64cdb.png)

[2022-08-09 18:45] Flow09AT commented on #35894
@magento give me 2.4-develop instance

[2022-08-09 19:58] pmonosolo commented on #22773
Thanks! If anybody else needs a better hint after that, I recommend installing PHP Stan:
https://github.com/bitExpert/phpstan-magento

And then run:
vendor/bin/phpstan analyse --level 9 vendor/folder-of-the-class-with-issue

My issue was just misspelled return value for one of the functions.

[2022-08-09 21:01] ihor-sviziev commented on #35604
Looks like in Magento 2.4.5 we have a fix for this issue https://github.com/magento/magento2/commit/360fd1ba9d6e67185b7fbd3e00223cd948bb896e

[2022-08-09 21:49] celorodovalho commented on #35207
Any update about it?

[2022-08-09 23:31] pmonosolo opened #35901 "TypeError: explode(): Argument #2 ($string) must be of type string, null given in /var/www/php/folder/vendor/magento/module-config/ViewModel/CountryFilter.php:46"
### Preconditions and environment

- Magento version - 2.4.5 CE
- Visit Stores -> Configuration and see error
- Error reporting turned on
- Page shows an error
- PHP 8.1.9

### Steps to reproduce

1. Login into Admin Site
2. Go to Stores->Configuration

### Expected result

Configuration page visible

### Actual result

Error is thrown:

TypeError: explode(): Argument #2 ($string) must be of type