[2022-03-08 05:17] engcom-Delta commented on #34889
Hi @uandiweb ,
As per above comments , issue is not reproducible. Hence request to review the provided steps.
Thanks

[2022-03-08 05:18] engcom-November commented on #35028
Hi @thomas-harding,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-08 05:18] #35028 closed, assigned to engcom-November

[2022-03-08 05:21] engcom-November commented on #35087
Hi @laurazacatrus ,
We are closing this issue as there has been no latest update on the same
Thank you.

[2022-03-08 05:21] #35087 closed, assigned to engcom-November

[2022-03-08 05:22] engcom-November commented on #35008
Hi @camilomanzano-omni ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-08 05:22] #35008 closed, assigned to engcom-November

[2022-03-08 05:44] achatpc commented on #6826
Same issue. Any update about please?

Thank you.

[2022-03-08 05:45] engcom-Hotel commented on #35130
Hello @hostep,

Thanks for the confirmation.

Hello @thinksys-dev,

As this issue is already fixed and lined up for the next Magento release shall we close this issue?

Thanks

[2022-03-08 05:58] engcom-November commented on #35135
Thanks for the update @nathanjosiah. Confirming the issue.

[2022-03-08 07:35] Nuranto commented on #31959
If it can helps someone :

I had the same issue. It appears that one of a third part queue was misconfigured (missing queue.xml). So when a queue is misconfigured, every consumers of every queues won't work anymore..

[2022-03-08 07:41] engcom-Hotel commented on #35164
Hello @baatractive,

Thanks for posting this issue!

We have checked the codebase in Magento 2.4-develop branch and we are able to reproduce the issue. This functionality may impact the `shipping` cost.

We have checked the below files in order to reproduce the issue:

1. Calling from `collect` function from the below line:
https://github.com/magento/magento2/blob/81340cb1b7231e875ceb92c333f371fd3

[2022-03-08 07:42] engcom-November commented on #35171
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
![image](https://user-images.githubusercontent.com/60198231/157189709-ffed43be-a725-4964-9b03-11e8f2c24336.png)

[2022-03-08T07:40:00.078262+00:00] main.CRITICAL: TypeError: Argument 1 passed to Magento\InventoryConfiguration\Model\IsSourceItemManagementAllowedForProductType\Interceptor::execute() must be of the type s

[2022-03-08 08:06] engcom-November commented on #35023
Hi @MihaiComan90 ,
Its recommended to verify issues on Magento 2.4-develop branch only as it is the upcoming 2.4.x release and have latest code base. Hence verified the issue on Magento 2.4-develop branch by trying to install B2B Modules without installing Enterprise edition. But we are unable to do that and facing errors
![image](https://user-images.githubusercontent.com/60198231/157193019-b58dc7

[2022-03-08 09:49] engcom-Alfa commented on #35077
Hi @broeder Thanks for your contribution here.
As per above comments and our further investigation on this reported issue, we have to have Rabbitmq installed and configured. So that you will not notice this issue as such.

1. Have Magento latest instance installed.
2. Have rabbitmq installed and with its account
3. Execute the Magento CLI command from Magento root directory: **bin/magento setup:co

[2022-03-08 09:49] #35077 closed, assigned to nobody

[2022-03-08 10:12] Rickertje commented on #35168
@magento give me 2.4-develop instance

[2022-03-08 10:38] mrtuvn commented on #35126
should P2-P3 priority update

[2022-03-08 10:53] Rickertje commented on #35168
Hi @engcom-November. I tried develop. Things seemed to have changed since 2.4.0. In your test of case A at least a tablerate shipping methode for 811,88 should be applied. Agree? So why was it not applied?
Because of the changes since 2.4.0 the testcases like I originally described do not produce the problem in develop. But the problem is still here. I will change the problem description and then

[2022-03-08 11:02] engcom-November commented on #35169
@magento give me 2.4-develop instance

[2022-03-08 11:05] engcom-November commented on #35169
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
![image](https://user-images.githubusercontent.com/60198231/157226319-7d1e6084-3a9d-4733-bcc9-e3f4cc754e71.png)

[2022-03-08 11:07] Rickertje commented on #35168
@engcom-November: I changed the steps to reproduce the problem on develop. Can you take another look please?

[2022-03-08 11:30] engcom-November commented on #35086
Verified the behavior on Magento 2.4-develop branch and field "visibility" is not available for products query as per official magento [docs](https://devdocs.magento.com/guides/v2.4/graphql/queries/products.html). Hence labeling this as feature request

[2022-03-08 12:01] engcom-November commented on #23938
Reopening the ticket as Tax is not recalculated for credit-memo created with adjustment fee.

[2022-03-08 14:56] engcom-Delta commented on #35165
Hi @hcmlopes,
Thank you for raising an issue .We tried to reproduce the issue on magento 2.4 Develop but we could not find out the endpoint , we have referred dev doc # [[https://devdocs.magento.com/guides/v2.4/rest/tutorials/orders/order-add-items.html]()
unfortunately it was not available . Please help us to replicate the issue.

Thanks

[2022-03-08 16:29] amenk commented on #35158
@engcom-Delta is it possible to get a test instance with CLI ?

[2022-03-08 16:36] Melnychuk-Alexandr commented on #33437
@magento I am working on this

[2022-03-08 17:49] santosh-gaggle commented on #24063
Here a module i think which can help  you

https://github.com/santosh-gaggle/paypal-rest-api

[2022-03-08 18:07] #13952 closed, assigned to nobody

[2022-03-09 01:44] diamondavocado commented on #21231
How can this **still** be an issue after 3 years? This is **super basic** stuff and a severe bug which makes the API data totally unreliable.

[2022-03-09 10:45] engcom-November commented on #34994
Hi @quterorta ,
Verified the behavior on Magento 2.4-develop branch. Please find the observations below:
Product Created with Price: 500
Tier Price set up as below:
Catalog Price Rule Created: fixed amount: 50
![image](https://user-images.githubusercontent.com/60198231/157424346-d56d5eef-8fdf-4b85-9fb9-7af3c8525938.png)
Front- end behavior:
**Catalog Price Rule is not applied**
![image](https://us

[2022-03-09 11:40] engcom-November commented on #35168
@magento give me 2.4-develop instance

[2022-03-09 11:53] drinkingsouls commented on #28008
Magento 2.4.3-p1
The fix is packaged into code but I still get "Error during VAT Number verification."

[2022-03-09 12:23] engcom-November commented on #35168
Hi @Rickertje Thank you for updating the description. Verified the issue again on Magento 2.4-develop branch and the issue is reproducible. Hence confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/157441192-ac14b39c-ca72-4aea-b22f-923a4b4081c8.png)

[2022-03-09 12:39] adamlavery commented on #35161
Now getting somewhere establising why this is happening - I think! I believe it hinges around this obscure comment in the notes on InsertListing:

![image](https://user-images.githubusercontent.com/13659750/157425804-bb91790c-8ffe-4d51-ac67-4cb237cc220a.png)

Modifying the code to do as suggested results in even stranger behaviour:

[code]
That results in the following UI:

![image](https://user-i

[2022-03-09 12:42] adamlavery commented on #35161
Closing this because I suspect this issue is "by accidental design" that will/can never be fixed given the complexity of UI Components. Seems working with them is always going to be hit'n'miss.

[2022-03-09 12:42] #35161 closed, assigned to engcom-Delta

[2022-03-09 13:45] schnyadav161 commented on #21495
You can fix this using below url
https://magento.stackexchange.com/questions/335036/m2-tinymce4-javascript-disappear-after-switch-to-tinymce-and-back-to-html-edit/353841#353841
This will allow you show your script tag while editor mode

[2022-03-09 14:31] #33749 closed, assigned to nobody

[2022-03-09 17:07] elicru opened #35173 "Facebook Business Ext"
Facebook Business Extension not syncing properly

Facebook for Magento (App ID: 195311308289826) is “enabled to sync” but products are not updating properly in Facebook?

![Screen Shot 2022-03-10 at 1 03 49 AM](https://user-images.githubusercontent.com/101280751/157493320-be928bf8-3c2d-4e08-83a1-685d084c8b10.png)

![Screen Shot 2022-03-10 at 12 56 10 AM](https://user-images.githubusercontent.com/1

[2022-03-09 18:39] cmorrisonmvnt commented on #15504
Can we get some motion on this ticket? It's a total blocker to getting work done efficiently.

[2022-03-10 01:50] alexwijanarko commented on #33976
Hi, it's been a couple months.
Any update related this issue?

[2022-03-10 04:37] engcom-November commented on #35173
Hi @elicru
Thank you for reporting. However, Facebook Business is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Mage

[2022-03-10 04:37] #35173 closed, assigned to engcom-November

[2022-03-10 06:25] ponickkhan commented on #35138
tried this in fresh cloned repo and could not able to reproduce the issue
<img width="718" alt="Screenshot 2022-03-10 at 12 20 25 PM" src="https://user-images.githubusercontent.com/6341503/157601836-7440af74-4134-4ea7-bfa7-932fb63964b0.png">

[2022-03-10 06:37] engcom-Hotel commented on #34756
Hello @mageician3,

Thanks for posting this issue!

Are you still facing this issue? Please let us which docker image you have used.

Thanks

[2022-03-10 06:45] engcom-Delta commented on #34974
Hi @support-smartebusiness ,
We tried to reproduce the issue on magento 2.4 develop with provided module .Fortunately issue is reproducible .
<img width="1440" alt="Screenshot 2022-03-10 at 12 10 49 PM" src="https://user-images.githubusercontent.com/51681379/157604350-4fc1e7b6-8d5e-43d4-85f0-4eb75b822429.png">

Kindly suggest us how to replicate this issue without provided module?

Thanks

[2022-03-10 07:04] engcom-Delta commented on #33344
Hi @m2-assistant,
Thank you for raising an issue .We tried to reproduce the issue on Magento 2.4 Develop with latest branch code but issue is not able to reproduce . Please update expected and actual result.

Regards,

[2022-03-10 10:02] engcom-Delta commented on #35154
Hi @maconeto ,
Thank you for quick reply , screenshots are missing in your reply . Please share the screenshots.

[2022-03-10 10:42] MajorKuprich opened #35175 "Fedex domestic shipping for Poland not working"
### Steps to reproduce (*)

1. Configure Fedex in Magento 2.4.3.

### Expected result (*)

1. Fedex shipping methods displayed in checkout.

### Actual result (*)

1. Fedex shipping methods not displayed in checkout.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help du

[2022-03-10 10:47] maconeto commented on #35154
Sure. I uploaded screenshots to 3rd party services :

1.on store view 1 - the custom option price is 8.50 EUR

https://imgur.com/pOmnG1y

2. after switching to store 2, the price is now 850 NOK.  It should have
been 85 NOK only (8.5 x 10)

https://imgur.com/yInRNlk

On Thu, 10 Mar 2022 at 17:02, Penchalaiah K ***@***.***>
wrote:

--
Best Regards,

Anthony Nguyen

*Magento Certified Developer
<http

[2022-03-10 11:49] paales commented on #33278
Since Magento 2.4.3 (Released 10 Aug 2021) there is a new configured_variant available in the cart. Introduced here: https://github.com/magento/magento2/commit/7ca4158ecac89a1c1a7f4829a10fed637897f3b7#diff-6032b79b3087e50be3e6c58ea93634e2ad1d9f3fdcc5cf43e8adb94ea6eb2744R64

https://github.com/magento/magento2/blob/8de016a35bbd3d668f10046af1007ce69a9ee86f/app/code/Magento/ConfigurableProductGraphQl

[2022-03-10 12:07] haroonsulehri opened #35176 "My site backened take many time in loading please help me"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2022-03-10 12:30] pemann commented on #35154
@magento give me 2.4-develop instance

[2022-03-10 12:37] engcom-November commented on #35038
Hi @the-line ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-10 12:37] #35038 closed, assigned to engcom-November

[2022-03-10 12:39] #33278 closed, assigned to engcom-November

[2022-03-10 12:48] engcom-November commented on #35176
Hi @haroonsulehri ,
Thank you for reporting and collaboration. However provided summary is not enough for us to reproduce the issue. Kindly elaborate the issue and provide steps to reproduce the issue.
Thank you.

[2022-03-10 12:49] engcom-November commented on #35175
@magento give me 2.4-develop instance

[2022-03-10 13:45] vishalthakurit commented on #22187
Actually according to commit files... this is for product URL rewrite module. not for Categories.

[2022-03-10 15:40] mgoswamirave opened #35177 "Customer session setData return null if add to cart more than 30 products at a time."
Customer session setData return null if add to cart more than 30 products at a time.

### Preconditions (*)

Magento Version : 2.3.7-p2 EE (B2B)

Environment: Production

Third-party modules: No

### Steps to reproduce (*)

1. Login with the customer.
2. Add to cart more than 30 products and getData from customer session on the cart page which we set previously.
3. We get a null value from the cus

[2022-03-10 16:35] support-smartebusiness commented on #34974
Hi @engcom-Delta

To replicate the issue

- filter product collection on category page by entity_id (product id) in a way that product ids used for filtering the collection are not in first page of the collection.
- Example here - https://github.com/adiSmarte/filter-products/blob/master/Smart/Test/Plugin/Model/LayerPlugin.php

Thanks

[2022-03-10 17:14] shuaiZend opened #35178 "Magento2.4.3 install sampledata Bug"
[code]

1. install Magento 2.4.3-p1 need composer ver 1.x
2. but use magento 2.4.3 run 'sampledata:deploy' need composer ver 2.x
so, we need two composer ver????
i think this is bug.

[2022-03-10 20:12] mathus13 commented on #27447
Highly desired

[2022-03-10 21:58] leslilcp opened #35179 "Pricing changing in chart and other areas"
### Summary (*)
 The pricing of products are changing to pricing I did not put in. I check the products in Magento and all the pricing is correct and no discounts were added. The pricing shows it correct when you click on the item from the check but as soon as you add it to the chart it changes. The total of the chart says the correct pricing as well so I have no idea what is going on.  It is doin

[2022-03-10 23:04] hcmlopes commented on #35165
@magento give me 2.4-develop instance

[2022-03-11 00:07] hcmlopes commented on #35165
@engcom-Delta
Steps to reproduce
1. Request Magento instance
2. Generate a new guest cart by making a POST request to `/rest/default/V1/guest-carts`
3. Use Cart ID received and make POST request to `/rest/default/V1/guest-carts/:cartId/items`
##### Payload
[code]
4. Use Cart ID received and make POST request to `/rest/default/V1/guest-carts/:cartId/items`
##### Payload
Make sure to replace {{cartI

[2022-03-11 08:01] sumeetmagento commented on #6793
@sma09sjb are you able to solve this?

[2022-03-11 08:03] sumeetmagento commented on #6793
@samanaveen
vendor/magento/module-catalog-search/Model/ResourceModel/Fulltext/Collection.php
in this file where we have to write that code which you mentioned.
please help i am also getting this issue.

[2022-03-11 08:26] m2-assistant[bot] opened #35180 "[Issue] Update PaypalExpressToken resolver to use correct input from GraphQL Schema."
This issue is automatically created based on existing pull request: magento/magento2#35050: Update PaypalExpressToken resolver to use correct input from GraphQL Schema.

---------
### Description (*)

Update PaypalExpressToken resolver to use correct input from GraphQL Schema. Currently, adding the `use_paypal_credit` input defined in `etc/schema.graphqls` to `createPaypalExpressToken` requests do

[2022-03-11 08:35] manhtranisobar opened #35181 "Page Builder Error When Add Product List With Admin User Scope Limitation"
### Preconditions (*)

1. Magento 2.4.1-p1

### Steps to reproduce (*)
1. Create multiple websites
2. Create new admin user role with Role Scopes only single website
3. Logout and login with new admin user
4. Go to edit a CMS page
5. Edit by PageBuilder and add Products to content
6. Filter products by select a category
![image](https://user-images.githubusercontent.com/88669934/157831388-5081463f

[2022-03-11 08:50] engcom-Alfa commented on #34766
https://github.com/magento give me 2.4.2 instance with edition ee

[2022-03-11 08:50] engcom-Alfa commented on #34766
@magento give me 2.4-develop instance with edition ee

[2022-03-11 10:00] hostep commented on #35176
We've noticed such behavior as well in recent Magento versions after they've introduced a session size limit.

So if you run into the same problem, I would suggest you look into your `var/log/system.log` file and see if it mentions something along these lines:

[code]

If that's the case, you'll need to increase the max session limit value for the admin:

[code]

(where `yyyyyy` is a number higher

[2022-03-11 10:03] hostep commented on #35178
This is a duplicate of https://github.com/magento/magento2/issues/33047, can you try the workaround mentioned in https://github.com/magento/magento2/issues/33047#issuecomment-844423628 to see if that solves your issue?

You can also wait until Magento 2.4.4 is [released](https://devdocs.magento.com/release/) and then try again ...

[2022-03-11 10:12] engcom-November commented on #34863
Thank you for the update @PromInc .
Re-verified the issue again on Magento 2.4-develop branch and the issue is reproducible.
On the front-end, After clearing the cache in the admin, and then the cookies on the frontend - added a product to the cart - cookie domain doesn't match across all of the cookies. Some have the leading . (period) and others don't. Hence confirming the issue.

[2022-03-11 10:28] engcom-November commented on #35179
Hi @leslilcp ,
Thank you for reporting and collaboration. However we are unable to reproduce the issue on Magento 2.4-develop branch:
![image](https://user-images.githubusercontent.com/60198231/157848093-45886d23-fef4-4c4a-8200-36292232892d.png)

Also looks like this issue is a duplicate of https://github.com/magento/magento2/issues/33798. Kindly check the updates on this: https://github.com/magen

[2022-03-11 10:29] engcom-Alfa commented on #33263
Hi @WilliejanB Thanks for your contribution
Tried to reproduce the issue once again in the latest _Magento 2.4-develop_ instance, not able to reproduce at all.
1. Created a product with custom options as shown in the [above screenshot](https://github.com/magento/magento2/issues/33263#issuecomment-874512664).
2. In the front end, added the same product to cart selecting multiple custom options.
The

[2022-03-11 10:29] #33263 closed, assigned to mmezhensky

[2022-03-11 10:33] dphilipps opened #35182 ""Not you?" link not shown in header with persistence enabled in 2.4.3-p1"
### Preconditions (*)

1. Magento 2.4.3-p1 or dev-develop
2. Customers->Persistent Shopping Cart->Enable Persistence must be set to YES and all other options below set to YES
3. When logging into front end the checkbox "Remember Me What's this?" must be ticked

### Steps to reproduce (*)

1. Set Customers->Persistent Shopping Cart->Enable Persistence to YES and all other options below set to YES
2

[2022-03-11 10:33] dphilipps commented on #35182
@magento give me 2.4-develop instance

[2022-03-11 11:26] dphilipps opened #35183 "Persistent cart contents empty until new product added to cart"
### Preconditions (*)

1. Magento 2.4.3-p1 or dev-develop
2. Customers->Persistent Shopping Cart->Enable Persistence must be set to YES and all other options below set to YES
3. When logging into front end the checkbox "Remember Me What's this?" must be ticked

### Steps to reproduce (*)

1. Set Customers->Persistent Shopping Cart->Enable Persistence to YES and all other options below set to YES
2

[2022-03-11 11:35] simonmaass opened #35184 "Wrong customer_firstname in sales_order table after re-order"
### Preconditions (*)

1. Magento 2.4.3-p1
2. php7.4

### Steps to reproduce (*)

1. Create guest order
2. Create an account with the same email from the guest order
3. Click on "Reorder" in the created guest order (From step 1) and just save order

### Expected result (*)

1. Correct customer_firstname and customer_lastname fields

### Actual result (*)

1. Both the first and lastname are concati

[2022-03-11 12:49] kylep1984 commented on #13254
Hello - This is an issue for one of our clients. It causes their site to crash. it seems to me this should considered much more of a severe issue than it seems to be categorized as. Why has this not been fixed? It is my hope my comment reopens this.

[2022-03-11 13:44] engcom-Alfa commented on #32361
Hi @sm7297 Thanks for your contribution
Tried to reproduce the issue once again in the latest _Magento 2.4-develop_ instance, not able to reproduce at all.
1. Admin side: Configured UPS details at via Stores->Configuration->Sales->Shipping Methods->UPS.
2. Placed an order for a product successfully via UPS shipping method.
3. Cross checked **_shipping.log_** file inside **_var/log/_** folder.

We

[2022-03-11 13:44] #32361 closed, assigned to rmsundar1

[2022-03-11 13:50] engcom-Delta commented on #35184
Hi @simonmaass ,
Thank you for raising an issue , We tried to reproduce the issue on Magento 2.4 Develop with latest branch.
Unfortunately issue is not reproducible.Hence request to review the provided steps.
<img width="1440" alt="Screenshot 2022-03-11 at 6 54 18 PM" src="https://user-images.githubusercontent.com/51681379/157880387-bca30b4e-59e0-422a-87dc-1fb46f3d6fd5.png">

[2022-03-11 14:15] shuaiZend commented on #35178
not duplicate.
i only wanto to use Magento2.4.3, Not 2.4.4 :(
becus 2.4.4 need php8.
so, i only wait Magento 2.4.3-p2 :)

[2022-03-11 14:28] simonmaass commented on #35184
@engcom-Delta unfortunately you didnt quite reproduce the steps as provided...

1. Create guest order
**2. Create an account with the same email from the guest order**
3. Click on "Reorder" in the created guest order (From step 1) and just save order

Also your screenshot is showing the "sales_order_address" table while i am talking about the **"sales_order"** table... if you make the 3 steps and

[2022-03-11 14:39] oneserv-heuser commented on #7879
Love it. Just stumbled upon this issue. Using Magento 2.4.3 this is still an issue and it's definitly not a duplicate of https://github.com/magento/magento2/issues/7720.

This issue should be reopened and the bug fixed. Maybe a new ticket should be raised but I'm really too tired of creating new issues here which are closed for completely bs reasons.

[2022-03-11 14:43] OvalMedia opened #35185 "Shipping costs not calculated correctly with table rates and virtual/physical products in cart"
### Preconditions (*)
1. Magento 2.4.3-p1

Tables rates is configured to allow 0 shipping costs once the cart total reaches a threshold value. It fails when the cart contains both virtual and physical products even though the configuration "Include Virtual Products in Price Calculation" is set to "No".

### Steps to reproduce (*)
1. Table rates shipping table is set to zero shipping cost once you

[2022-03-11 14:46] OvalMedia commented on #35185
@magento give me 2.4-develop instance

[2022-03-11 14:52] leslilcp commented on #35179
How do I do that? Trying to get this fixed asap.

[2022-03-11 14:59] OvalMedia commented on #35185
Same thing in the latest dev version.

[2022-03-11 15:04] siddharth-cinovic opened #35186 "Not able to add extension attribute in Magento\Sales\Api\InvoiceItemRepositoryInterface"
I'm trying to add a custom field in the invoice_item array in the fetch invoices API

API endpoint: rest/default/V1/invoices/{invoice_id}

Response:
{
    "base_currency_code": "INR",
    .
    .
    .
    "items": [
        {
              .....extension attribute that i want
        },
        {
              .....extension attribute that i want
        }
    ]
}

Eg: below is the code that I ha

[2022-03-11 15:23] engcom-Hotel commented on #31145
Hello @rvitaliy,

We have tried to reproduce the issue in Magento 2.4-develop branch with the EE module installed on Aurora cluster DB. But for us, the issue is not reproducible.

We have followed the exact same steps as mentioned in the main description. There might a case that the issue is already been addressed and fixed in the current development branch. We request you to please try to reprodu

[2022-03-11 22:02] jonathanribas commented on #23618
2.4.3-p1 still happening too :(

[2022-03-12 04:14] engcom-Delta commented on #35034
Hi @in-session ,
Thank you for reporting the issue. We have verified the issue on Magento 2.4.3 P1 and the issue is reproducible.
Hence confirming the issue.

**Steps Performed:**

1. Install Magento 2.4.3-p1
2. Go to – Stores>Configration>Sales>Payment methods>Klarna (Configure it)
3. Try ordering a product from frontend

Result – Not getting an option to pay from Klarna.
<img width="758" alt="Sc

[2022-03-12 10:02] in-session commented on #35024
Hi @engcom-Delta
The main problem is simply that canonical is not suitable for the multistore. Therefore, it would be useful here for the canonical to give the possibility to output this relative and then add the storefronturl. For example by:
`<link rel="canonical" src="customer/account/login/" src_type="storeurl"/>`

In that case, the example here would be necessary: https://github.com/magento/m

[2022-03-12 19:41] hostep commented on #35178
I'm afraid it won't, but who knows, we will only be able to tell in a couple of weeks ... 🙂
Have you tried the workaround? Maybe that can help you further in the meantime?

[2022-03-13 12:17] PiskaManojkumar commented on #6583
hi guys,
where can i get that module @maqlec mentioned above.

[2022-03-13 18:44] pranav7870 commented on #35115
Hello @aliomattux i've try to reproduce issue in magento 2.4.3-p1. If you have cms page with url key like "shipping, cart, checkout" you will not be able to save it after migration because the validator of url key will find that there is frontend route "shipping, cart, checkout" defined from modules.
if you want to remove this validator then remove line from

diff --git a/vendor/magento/module-cms

[2022-03-13 19:02] pranav7870 commented on #35115
Hello @aliomattux i've try to reproduce issue in magento 2.4.3-p1. If you have cms page with url key like "shipping, cart, checkout" you will not be able to save it after migration because the validator of url key will find that there is frontend route "shipping, cart, checkout" defined from modules.
if you want to remove this validator then remove line from

diff --git a/vendor/magento/module-cms

[2022-03-14 05:45] pranav7870 commented on #35169
@magento I am working on this

[2022-03-14 05:52] pranav7870 commented on #35169
Hello @chriswatt, i've try to reproduce issue in magento 2.3, and issue is replicable. Magento is not allow to use any special characters , but if you want to use this i've fix this Admin - Custom Admin Path - Underscore characters not allowed https://github.com/pranav7870/magento2/pull/2
![image](https://user-images.githubusercontent.com/68107622/158112990-28979259-1a3d-45da-8831-2cae7a4fde8c.png

[2022-03-14 05:53] pranav7870 commented on #35169
@magento add to contributors team

[2022-03-14 07:51] m2-assistant[bot] opened #35187 "[Issue] Add regions for Ukraine"
This issue is automatically created based on existing pull request: magento/magento2#33841: Add regions for Ukraine

---------

### Description (*)
Add regions for Ukraine

### Manual testing scenarios (*)

1. Install Magento
2. Check table directory_country_region for Ukraine regions.

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of it

[2022-03-14 09:44] superdav42 opened #35188 "Get get product image size when using S3"
### Preconditions (*)
1. With Magento  2.4-dev or earlier and S3 enabled

https://github.com/magento/magento2/blame/2.4-develop/app/code/Magento/Catalog/Model/Product/Image.php#L955

### Steps to reproduce (*)
This code in a theme template used to work but does not with S3 enabled.
[code]
The try/catch block catches \Magento\Catalog\Model\Product\Image\NotLoadInfoImageException so it does not fail

[2022-03-14 10:17] chris-mccabe opened #35189 "Magento defaults to todays date when adding a custom date product attribute when value is null in the db"
### Preconditions (*)

version 2.4.2-p2

### Steps to reproduce (*)

1. Add a custom date attribute programmically to products and the product has a null date in the db
2. View the product page, the attribute will have a default of todays date as the value passed in the html is null or invalid

### Expected result (*)

1. The field should be empty

### Actual result (*)

1. The value is set to tod

[2022-03-14 10:24] BB-000 commented on #5497
This is still happening in 2.3.4..?!

[2022-03-14 10:40] MajorKuprich commented on #35175
@engcom-November hello, how are You

Could I get any information about reproduce this issue on Magento instance, please?

[2022-03-14 11:07] vass30 commented on #34466
@magento I am working on this

[2022-03-14 11:18] dphilipps commented on #35183
Thanks @engcom-Delta good news.

FYI Another bug I have raised may be related https://github.com/magento/magento2/issues/35182

[2022-03-14 11:19] hostep commented on #35177
This is just a guess, but Magento 2.3.7-p1 (and 2.4.3) introduced (as a security feature) two fields to limit the session size, both in admin & frontend. Maybe you run against this limit? You should be able to find violations against this limit in the `var/log/system.log` file.
You can increase these limits in the backoffice via: Stores > Configuration > Advanced > System > Security

Also this unr

[2022-03-14 11:26] norgeindian commented on #27474
@engcom-Hotel , thanks for your feedback. What's the current status of this issue?

[2022-03-14 11:27] norgeindian commented on #28153
Any update here?

[2022-03-14 11:29] engcom-November commented on #35147
Hi @FrankRATB ,
We are closing this issue as there has been no latest update on the same.

[2022-03-14 11:29] #35147 closed, assigned to engcom-November

[2022-03-14 11:31] engcom-November commented on #35094
Hi @broeder ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-14 11:31] #35094 closed, assigned to engcom-November

[2022-03-14 12:33] mvisd commented on #34318
Just leaving this here. In our case, the invoices get sent out automatically, this happens in the cronjobs based on a flag in the invoices table. So if one invoice is blocking your entire email sending because of this issue, set the column `send_email` to NULL on the problematic invoice. Probably the same for orders.

This doesn't solve the issue though.

[2022-03-14 12:47] markshust commented on #34748
@ihor-sviziev I just noticed this issue is still closed, it should have been re-opened as a feature request?

[2022-03-14 12:56] engcom-November commented on #35179
Hi @leslilcp ,
You can try applying the changes from the commit https://github.com/magento/magento2/commit/ae304d43cd36322b1ff8145d70c9b2e9aeb0cde and check if the workaround is working in your environment.
To check the issue on Magento 2.4-develop branch, please comment on this ticket writing "@magento give me 2.4-develop instance". Kindly provide missing steps if any if the issue is still reprod

[2022-03-14 13:44] #34944 closed, assigned to shikhamis11, engcom-Echo

[2022-03-14 14:19] engcom-Hotel commented on #34944
Hello @alexmtch,

As confirmed by PO this is not an issue & the feature is working as expected. Hence closing this issue.

Thanks

[2022-03-14 14:39] Minirock opened #35190 "Property "Prop" does not have accessor method "getProp" in class "Magento\Quote\Api\Data\PaymentInterface"."
### Preconditions (*)

1. Magento version 2.4.3

### Steps to reproduce (*)

1. Create a custom payment method

- src/app/code/Cpy/PaymentLcr/etc/config.xml
[code]

- src/app/code/Cpy/PaymentLcr/Model/PaymentMethod.php
[code]

2. Create an extension attribute to the  payment method in checkout

- src/app/code/Cpy/PaymentLcr/etc/extension_attributes.xml
[code]

- src/app/code/Cpy/PaymentLcr/view/fr

[2022-03-14 16:34] ioweb-gr opened #35191 "Cannot translate meta descriptions added via XML instructions."
### Preconditions (*)

1. 2.4.3-p1
2. A custom controller
3. A custom layout.xml with a meta description content
4. 2 store views

### Steps to reproduce (*)

In your layout.xml add a meta description like this

[code]

In your `i18n/el_GR` file for example add a translation for the content.

Incidentally I've tried adding the description like this

[code]

Neither way seems to work to make it tra

[2022-03-14 16:50] ngorupaha commented on #33590
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-03-14 17:06] ngorupaha commented on #33590
magento give me 2.4-develop instance

[2022-03-14 17:15] pranav7870 commented on #35115
@magento I am working on this

[2022-03-14 17:16] pranav7870 commented on #35115
Hello @aliomattux i've try to reproduce issue in magento 2.4.3-p1. If you have cms page with url key like "shipping, cart, checkout" you will not be able to save it after migration because the validator of url key will find that there is frontend route "shipping, cart, checkout" defined from modules.
if you want to remove this validator then remove line from

diff --git a/vendor/magento/module-cms

[2022-03-14 17:17] pranav7870 commented on #35169
@magento I am working on this

[2022-03-14 17:30] chardwick99 commented on #35115
@pranav7870 Will this fix also fix the problem for *ANY* url key, not just "shipping, cart, checkout"? @engcom-November verified this as a bug further upthread. This happens when *any* CMS Page's url key matches another. (e.g "home", "distributors", "XYZ", etc.

[2022-03-14 17:31] pranav7870 commented on #35125
@magento I am working on this

[2022-03-14 17:35] jakwinkler opened #35192 "Unsecured URLs returned for product images"
### Preconditions (*)

1. Magento 2.4.2 / 2.4.3
2. Magento 2.3.x
3. Multistore installation with following setup:
-- store nr 1 has different URLs for media
-- store nr 2 has only secured URL for media different
4. set secure URLs to be used in frontend

### Steps to reproduce (*)

1. create a CLI method to iterate through all the stores and try to fetch main product image for each store
[code]
2.

[2022-03-14 17:46] ngorupaha commented on #33590
@magento I am working on this

[2022-03-14 19:55] aliomattux commented on #35115
@pranav7870 I already know about the proposed "fix". This fix requires me to modify the core code. I reported this as a bug because of the industry standard use of the url key "shipping". As stated in my initial post, many popular ecommerce websites use the url. Additionally, Magento 2 has been operational for years and many ecommerce stores already make use of the url key shipping. Creating the r

[2022-03-15 02:59] claudioxu commented on #24149
We are facing the same problem on 2.3.5-P1 (CE)

[2022-03-15 03:07] claudioxu opened #35193 "Double Credit Memo problem for paypal payflow order"
Hello,

We are facing the same problem with https://github.com/magento/magento2/issues/24149,  we are using 2.3.5-P1(CE), seems the problem still exists on 2.3.5.

Thanks,
Claudio

[2022-03-15 03:15] claudioxu commented on #35193
@magento give me a patch for this

[2022-03-15 03:17] claudioxu commented on #35193
@aredridel @jaywilliams @alepane21 @dthomas

[2022-03-15 05:47] engcom-Delta commented on #35193
Hi @claudioxu ,
Thank you for raising an issue. Kindly provide more clear issue discerption, actual results and expected results and appropriate screenshots if required.
Hence added 'Needs Update' label.

[2022-03-15 05:53] engcom-Delta commented on #35189
Hi @adulion2 ,
Thank you for raising an issue and happy to assist you .We are not clear on step# 1 , Hence request to  provide details on which file we should refer the custom date please?
Regards,

[2022-03-15 05:53] engcom-Alfa commented on #34508
Hi @stupachenko ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/search?q=AC-1705&type=commits).
Thanks!

[2022-03-15 05:53] #34508 closed, assigned to nobody

[2022-03-15 05:57] engcom-Alfa commented on #34717
Hi @larsroettig ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/search?q=AC-1881&type=commits).
Thanks!

[2022-03-15 05:57] #34717 closed, assigned to engcom-Hotel

[2022-03-15 06:38] #34963 closed, assigned to nobody

[2022-03-15 06:59] claudioxu commented on #35193
There are two duplicated refund records, one is from online refund, another one is from offline, we just submit one online refund, but got an offline refund as well, which we expected  should be one online refund record.

![2022-03-15_14-54](https://user-images.githubusercontent.com/226139/158323181-a947f3ab-c2d1-49ff-bda2-be1d8344df94.png)
![2022-03-15_14-53](https://user-images.githubusercontent

[2022-03-15 07:04] engcom-Delta commented on #35145
We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2022-03-15 07:04] #35145 closed, assigned to engcom-Delta

[2022-03-15 07:06] engcom-Alfa commented on #34963
Hi @sevka @Den4ik @andrewbess and @ihor-sviziev Thanks for your contribution and collaboration!
The internal team has fixed and delivered this issue successfully. Please find related commits also [HERE](https://github.com/magento/magento2/commit/258303670eda705214aad82004ff7828e539c3b1) along with other.
Thanks!

[2022-03-15 07:20] engcom-Hotel commented on #35151
Dear @DipaliMarade,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-15 07:20] #35151 closed, assigned to engcom-Hotel

[2022-03-15 07:28] dzdaniel commented on #34678
I'm facing the same issue on 2.4.3-p1

[2022-03-15 08:39] engcom-Hotel commented on #35158
@magento give me 2.4-develop instance with extensions magefan/module-cli

[2022-03-15 09:08] amenk commented on #35158
@engcom-Hotel Thanks, but still the instance does not seem to have the CLI module - so I believe either something is broken or that does not work to add extensions?

Will probably try to reproduce it in another way

[2022-03-15 11:11] engcom-November commented on #35175
Hi @MajorKuprich Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch and Fedex shipping methods are displayed as expected for US domestic Shipping:
![image](https://user-images.githubusercontent.com/60198231/158364871-f78f6547-db7d-4279-9e45-3765e49ea543.png)
But are not displayed for Poland shipping Address:
![image](https://user-images.githubusercontent.co

[2022-03-15 11:28] engcom-Hotel commented on #35056
Hello @speller,

We have tried to reproduce this issue in Magento 2.4-develop branch but for us, the issue is not reproducible. We have followed below steps:

1. Configure S3 in Magento by following this [article](https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage-aws-s3.html).
2. Create a product from the admin panel with an image.
3. Verify that image has b

[2022-03-15 11:38] engcom-Hotel commented on #35188
Hello @superdav42,

Hello @superdav42,

Thank you for your reporting the issue.

To speed up the processing of this issue, please provide us with the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2022-03-15 11:49] densen45 opened #35195 "Custom page layout change through XML has no effect (after 2.4.2-p2 to 2.4.3-p1 upgrade)"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

Goal: Change the default page layout from 2columns-left to 3columns.

1. Create a custom theme
2. Create a `catalog_category_view.xml` file in the `app/design/frontend/<Vendor>/<Custom_Theme>/Magento_Catalog/layout` directory
3. Add the following content to the file
[code]
Please note `layout="3columns"`, the default in e.g. `

[2022-03-15 11:53] densen45 commented on #35195
The reproduction on a Magento instance, which can be provided here, is not possible for me, because I can not edit files there.

[2022-03-15 11:56] speller commented on #35056
@engcom-Hotel Did you configure the prefix? What was its value? Do you see the issue in the code I've highlighted that the prefix value is concatenated to the bucket URL without the delimiter?

[2022-03-15 12:10] superdav42 commented on #35188
@engcom-Hotel Everything you need is included above.

[2022-03-15 12:19] engcom-Hotel commented on #35034
Hello @engcom-Delta,

As per the discussion in the triage call, we need to reconfirm this issue.

Thanks

[2022-03-15 16:25] ia-gaurav opened #35197 "Magento layered navigation filter showing not showing proper result for out of stock variant"
**Preconditions (*)**
Magento 2.4.1

**Steps to reproduce (*)**
1: Create Attribute say size - M , L ,X and use it in layered navigation
2: Create configurable product with stock of M and X
3: From Admin set : do not disable out of stock products
4: Apply filter of L on listing pages it will show configurable product with no stock of L

**Expected result (*)**
1: If product do not have stock of ap

[2022-03-15 16:26] ia-gaurav commented on #35197
@magento give me 2.4-develop instance

[2022-03-15 16:26] igi8819 commented on #19230
This issue still exist on Magento 2.4.3-p1

[code]

[2022-03-15 16:28] amenk commented on #35158
I cannot reproduce the issue anymore in 2.4-develop

I configured as follows
![1-website-settings](https://user-images.githubusercontent.com/1087128/158425316-f0a7c661-5efd-4a27-b3b2-dd7e7656622b.png)
![2-config-default](https://user-images.githubusercontent.com/1087128/158425324-28b83d64-9fd7-4186-9e4d-994fae95cb40.png)
![3-config-second](https://user-images.githubusercontent.com/1087128/15842533

[2022-03-15 16:29] amenk commented on #35158
@magento give me 2.3.4-p2 instance

[2022-03-15 16:50] amenk commented on #35158
@magento give me 2.3.4-p2 instance

[2022-03-15 21:37] C4rter commented on #28132
Can confirm that. We are having the same issue coming up in the exceptions logs.

[2022-03-16 06:30] engcom-Hotel commented on #34627
Dear @tommi-martin,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-16 06:30] #34627 closed, assigned to engcom-Hotel

[2022-03-16 06:31] engcom-Hotel commented on #34594
Dear @emrahuyanik,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-16 06:31] #34594 closed, assigned to engcom-Hotel

[2022-03-16 06:39] engcom-Hotel commented on #35056
Hello @speller,

Yes, I have used the prefix. Please refer to the configuration below related to S3 from `env.php` file:
[code]
Also checked the code. But the issue is still not reproducible for us. Please let us know in case we have missed anything.

Thanks

[2022-03-16 06:42] engcom-Hotel commented on #35188
Hello @superdav42,

Thanks for your reply!

Can you please tell us your use case, it will help us in the reproduction of the issue?

Thanks

[2022-03-16 07:31] amiyoghoshstar commented on #12811
Still occurring in magento .2.4.1

[2022-03-16 07:43] engcom-Hotel commented on #35192
Hello @qsolutions-pl,

Thanks for reporting the issue!

We request you to please elaborate below on the point from the main description. Screenshot will also help us in reproduction:

Thanks

[2022-03-16 08:33] amenk commented on #35158
@magento give me 2.3.4 instance

[2022-03-16 08:35] amenk commented on #35158
I wanted to verify my repro steps in 2.3.4 but that does not seem to work. Closing this.

[2022-03-16 08:40] simonmaass commented on #35184
@engcom-Delta would you mind trying again :)

[2022-03-16 09:19] tuyennn commented on #15461
Is anyone working on this?

[2022-03-16 09:49] HenKun opened #35199 "URL rewrites use default url_key when products are imported in default scope"
### Preconditions (*)
1. Magento 2.4.1

### Steps to reproduce (*)
1. Create a product with `url_key` set to `key_default` on default scope
2. Override `url_key` to `key_store` in store view scope
3. Import a csv with the product
   a) `store_view_code` column is empty, so that it applies for default scope
   b) `url_key` is set to default key `key_default`

### Expected result (*)
1. URL rewrites

[2022-03-16 09:56] anvanza opened #35200 "Product customizable options incorrect after "import options""
### Preconditions (*)
1. Have an instance with Magento 2.4.3-p1
2. Create 2 storeviews with 2 languages

### Steps to reproduce (*)
1. Create a product A with 25 customizable options and manage their order.
2. Translate the title for each option for both storeviews.
3. Make sure that each option has a different sku
4. Save product A
5. Create a product B, import options and select product A
6. Sav

[2022-03-16 09:56] anvanza commented on #35200
@magento give me 2.4-develop instance

[2022-03-16 10:25] anvanza commented on #35200
Reproduced this on the magento instance.
Created Product A with 25 options.
<img width="1371" alt="Screenshot 2022-03-16 at 11 18 31" src="https://user-images.githubusercontent.com/2848347/158569165-72ef10b8-bfd2-47bb-a4a6-32baba19cc3e.png">
Changed the titles on storeview 1
<img width="1367" alt="Screenshot 2022-03-16 at 11 19 14" src="https://user-images.githubusercontent.com/2848347/158569243-f

[2022-03-16 11:39] engcom-November commented on #35200
Hi @anvanza ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop above instance but cannot able to reproduce the issue.
1. Created prodx with 25 options.
![image](https://user-images.githubusercontent.com/60198231/158581557-2a2682c5-b77b-4d7c-8c86-65f949075bfc.png)

2. Changed all titles of options in both store views (Default and other store)
3. Created prody by

[2022-03-16 12:08] anvanza commented on #35200
Hi @engcom-November ,

Thank you for the collaboration. Verified the issue on Magento 2.4-develop above instance and **I am able** to reproduce the issue. See screenshots created in my last comment. Both products are on that same instance.

Option titles are dropped like shown on your screenshot.
The option order is screwed, look at product with SKU product_b.
I verified this on a local instance w

[2022-03-16 12:20] MajorKuprich commented on #35175
Hello @engcom-November,

How are You doing?

I've completed the data for Poland on provided environment:
- shipping origin
- shipping address

The result hasn't changed.

![](https://i.imgur.com/g1yfS56.png)
![](https://i.imgur.com/h4pgfEw.png)

Have You got any idea what I'm doing wrong? :(

[2022-03-16 12:49] templatetuners commented on #4028
still no rest api for wishlist? :(

[2022-03-16 13:15] engcom-Hotel commented on #35093
Hello @nthurston,

Thanks for posting the issue!

We have tried to reproduce the issue in the latest stable version of Magento and the issue is reproducible for us. We have followed below steps in order to reproduce the issue:

1. Enable Recaptcha V3 invisible for the store on the checkout/order page.
2. Add a product to the cart.
3. On the checkout page fill in all the required details like CC de

[2022-03-16 15:18] ray-moncada commented on #13594
@ERajkumar @RiteshSrivastava90 @Digiraf

If anyone comes across the freeshipping issue. Carefully review any cart price rules or catalog price rules and make sure that the free shipping is **not** set to "No"

[2022-03-16 17:07] engcom-Hotel commented on #35190
Hello @Minirock,

We have tried to reproduce the issue in Magento 2.4-develop branch but for us, the issue is not reproducible. We are attaching the module made by us in order to reproduce the issue.

[SamplePaymentGateway.zip](https://github.com/magento/magento2/files/8266690/SamplePaymentGateway.zip)

We are able to make orders. Please have a look at below screenshots:

**Order Page**
<img width

[2022-03-16 20:30] qsolutions-pl commented on #35192
I'll provide some screenshots, but the error is clear in the file I've listed.

[2022-03-17 00:49] claudioxu commented on #35193
Hello,

any updates?

[2022-03-17 04:25] speller commented on #35056
@engcom-Hotel Actually in my code I'm uploading a custom image. Maybe the flow is different in my case and in the sample you're using? In your case, is the `AwsS3Factory::createConfigured()` method used in the execution flow? Could you use a debugger, stop on the line I've mentioned and check how it works?
In my code, I'm using `Magento\MediaStorage\Model\File\UploaderFactory->create()->save()` an

[2022-03-17 05:45] engcom-November commented on #35199
@magento give me 2.4-develop instance

[2022-03-17 05:46] engcom-November commented on #34982
Hi @aapokiiso ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-17 05:46] #34982 closed, assigned to aapokiiso, engcom-November

[2022-03-17 05:47] engcom-November commented on #35071
Hi @akangithub ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-17 05:47] #35071 closed, assigned to engcom-November

[2022-03-17 05:48] engcom-November commented on #35159
Hi @Manjula-kalyan ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-17 05:48] #35159 closed, assigned to engcom-November

[2022-03-17 05:53] ajijshekh123 commented on #35197
@magento give me 2.4-develop instance

[2022-03-17 09:42] engcom-November commented on #35199
@magento give me 2.4-develop instance

[2022-03-17 09:43] engcom-November commented on #35199
@magento give me 2.4-develop instance

[2022-03-17 10:00] k4emic commented on #32888
Overriding the .gitignore file also affects the `auto-append-gitignore` option.

I can't fully wrap my head around exactly why; my guess is that the magento2-base/.gitignore file is copied after the root .gitignore has been updated.

The auto-append-gitignore will append the copied filenames to your .gitignore file

[code]

[code]

[code]

But currently, the .gitignore file is simply being reset t

[2022-03-17 10:21] ZIPITRO commented on #27847
Anyone can move this issue to the drawing table please?

[2022-03-17 12:14] asyadav5 opened #35203 "Category Product mapping"
### Summary (*)

I have added a simple product in the Magento database from the backend which is coming on UI also when I am searching with the name but I am not able to add in category search, can anyone help me that in which table we need to create a mapping for the same
Magento ver. 2.4.3

I am new to Magento, I tried to find some solution on google but I did not get any relevant details, if an

[2022-03-17 13:46] julien-gillot commented on #34851
I think there is a problem at this level, I see the same thing on our setup (magento 2.4.3-p1, 140k+ orders)
So I hope with my comment to bring my stone to the building

Example with an indexer from a third-party module that I recently modified to avoid the problem!
I disabled all third-party modules to keep only the bare minimum for testing

Batch size: 10k

without comment registerSnapshot metho

[2022-03-17 13:50] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-03-17 15:35] breakerh commented on #13383
Same here on Magento 2.4.x
It's a bug that the error isn't clear enough.. For example visibility changes per language.. English magento it should be `Catalog, Search` while if have magento with Dutch locale it's `Catalogus, zoeken`.

[2022-03-17 16:59] badisdib commented on #9703
Hello, I have the same problem even connected to magento 2.3.5, the conditions on the shipping country are not taken into account. Any idea please?

[2022-03-17 18:52] rhoerr opened #35204 "Google Universal Analytics will be EOL July 2023"
### Summary (*)

Per https://support.google.com/analytics/answer/11583528 (at time of writing):

Magento_GoogleAnalytics currently implements `analytics.js` and its associated `ga(...)` function calls. Based on the info above, starting 2023-07-01, that will become completely nonfunctional (no longer collecting data). Continuing to use Google Analytics services will require implementing Google Anal

[2022-03-17 19:20] bartoszkubicki commented on #35115
I have the same issue with route "klarna"

[2022-03-18 07:09] nomuprive opened #35205 ".htaccess Issues"
Magento only loads when .htaccess file is disabled. I have tried tracking the issue in vain. Any suggestion? Anyone had this issue before? How did you resolve that?

[2022-03-18 07:18] justin17757 opened #35206 "Newsletter Queue Start Date is always set to GMT"
Queue Start Date always take GMT+0 time after save.

### Preconditions (*)

1. Magento version 2.4.2

### Steps to reproduce (*)

1. Magento admin login -> Marketing -> Create newsletter template
2. Select dropbox on the right of a newsletter -> Add newsletter to queue -> Page will change to Queue edit page.
3. Select date/time for field the Queue Start Date -> Save Queue
4. You will see the Start

[2022-03-18 08:33] ispasvalentin22 opened #35207 ""The specified request cannot be processed" when retrieving store websites"
### Preconditions (*)

1. Magento version 2.4.2

### Steps to reproduce (*)

1. Use store endpoint: /rest/default/V1/store/websites

### Expected result (*)

1. Retrieve the store websites

### Actual result (*)

1. I get an error saying "The specified request cannot be processed" without any further information

What could be the reason for this error?

[2022-03-18 09:34] Garde85 commented on #8276
me too!

[2022-03-18 11:02] vladyslav-sikailo-decima commented on #35187
@magento give me 2.4.3 instance

[2022-03-18 11:02] vladyslav-sikailo-decima commented on #35180
https://github.com/magento give me 2.4.3 instance

[2022-03-18 11:03] vladyslav-sikailo-decima commented on #35180
@magento give me 2.4.3 instance

[2022-03-18 11:03] vladyslav-sikailo-decima commented on #35187
@magento give me instance

[2022-03-18 11:04] vladyslav-sikailo-decima commented on #35187
@magento give me 2.4 instance

[2022-03-18 14:47] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-03-18 16:21] slavvka commented on #35006
https://github.com/magento give me 2.4-develop instance

[2022-03-18 16:23] slavvka commented on #35006
@magento give me 2.4-develop instance

[2022-03-18 16:32] slavvka commented on #35006
@magento give me 2.4-develop instance without extensions magento-commerce/magento2-sample-data, magento-commerce/magento2-sample-data-ee

[2022-03-18 17:26] sdzhepa opened #35208 "Not possible to install Sample Data on the latest git `2.4-develop` branch"
### Steps to reproduce (*)
1. Clone the latest Magento OS codebase. e.g.
`git clone https://github.com/magento/magento2.git .`
3. Install Sample data as described in the instruction [Deploy Sample Data from GitHub Repository](https://github.com/magento/magento2-sample-data#deploy-sample-data-from-github-repository) :
4. Clone sample data from 'https://github.com/magento/magento2-sample-data' (by d

[2022-03-18 17:41] sdzhepa commented on #35208
@magento export issue to Jira project AC

[2022-03-18 17:47] kylep1984 commented on #34678
Hello! Any update on this item? This issue is also severely affecting our clients new to Magento 2 who seek to create configurable with many variations. A fix for this is urgently needed to meet the needs of clients who have very little experience in CSV importing and who sell products with many different variations. It is a severe blocker for them and gives them a very negative view of the platfo

[2022-03-18 17:52] AngelBS commented on #26333
Any update on this one? we are having the same issue on 2.4.2, two years with the same issue....

[2022-03-18 18:25] wmtkc commented on #14605
I was hung up on this issue for a while. The correct way to handle a zero-total checkout with a purchase order is to set your purchase order method's Minimum Order Total (at Stores > Configuration > Sales > Payment Methods > Purchase Order) as `0.01`. That way, when a zero-total checkout is encountered, it will switch methods to Zero Subtotal Checkout, which will be handled properly by the zero-to

[2022-03-19 00:25] neddy236 commented on #35133
@magento I am working on this

[2022-03-19 00:25] neddy236 commented on #35133
@magento add to contributors team

[2022-03-19 00:26] neddy236 commented on #35133
https://github.com/magento I am working on this

[2022-03-19 00:26] neddy236 commented on #35133
@magento I am working on this

[2022-03-19 00:38] neddy236 commented on #35133
Issue is found on `app/code/Magento/CatalogUrlRewrite/Observer/ProductProcessUrlRewriteSavingObserver.php` line:107

` if ((int)$product->getVisibility() === Visibility::VISIBILITY_NOT_VISIBLE) {
            $isGlobalScope = $product->getStoreId() == Store::DEFAULT_STORE_ID;
            $storesToRemove[] = $isGlobalScope ? $product->getStoreIds() : $product->getStoreId();
        }`

basicly `$sto

[2022-03-19 23:41] williambize commented on #35205
Magento only loads when .htaccess file is disabled. I have tried tracking the issue in vain. Any suggestion? Anyone had this issue before? How did you resolve that?

[2022-03-20 14:58] mageician3 commented on #34756
@engcom-Hotel I'm using `magento/magento-cloud-docker-php:7.2-fpm-1.0` image

[2022-03-21 08:06] engcom-Hotel commented on #35192
Hi @qsolutions-pl,

Thanks for your reply!

We are waiting for your reply.

Thanks

[2022-03-21 08:09] engcom-Hotel commented on #35129
Dear @Sanjay-100,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-21 08:09] #35129 closed, assigned to engcom-Hotel

[2022-03-21 08:10] engcom-Hotel commented on #35138
Dear @Sanjay-100,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-21 08:10] #35138 closed, assigned to engcom-Hotel

[2022-03-21 08:10] engcom-Hotel commented on #34126
Dear @mrtuvn,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-21 08:10] #34126 closed, assigned to engcom-Hotel

[2022-03-21 08:56] MTheProgrammer commented on #26301
The problem lies within `Magento\Catalog\Model\Category\Attribute\Backend\Image::fileResidesOutsideCategoryDir`
Base media url is retrieved from the filesystem as 'media` string and then it is compared to custom url path:

[code]

The `strpos` function is then called with these parameters:

- https://magento2.domain/custom/path/catalog/category/category-image.jpg
- media

This code always evaluate

[2022-03-21 09:38] engcom-Delta commented on #35141
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-03-21 09:38] #35141 closed, assigned to engcom-Delta

[2022-03-21 09:41] #24654 closed, assigned to engcom-Delta

[2022-03-21 09:43] engcom-Delta commented on #34975
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-03-21 09:45] engcom-Delta commented on #35136
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-03-21 09:45] #35136 closed, assigned to engcom-Delta

[2022-03-21 10:11] thompalstra commented on #24654
@engcom-Delta what are you talking about? This has been an issue since 2019 so that's been 3 years now and suddenly you "get the urge" to close this ticket?

[2022-03-21 10:39] kanevbg commented on #34531
Magento version 2.3.7-p2 has the same issue.

[2022-03-21 10:40] kanevbg commented on #34415
Magento version 2.3.7-p2 has the same issue.

[2022-03-21 10:40] engcom-Hotel commented on #35056
Hello @speller,

Thanks for your response!

We have tried to debug the code and by looking into the code and debugging, the issue has been reproducible. Please have a look at the screenshot for reference:

![1](https://user-images.githubusercontent.com/51681618/159245136-63b1168d-ca07-4a77-8c00-9cb3095524c6.jpg)

But still, the functionality is working fine of uploading the images from Admin. Can

[2022-03-21 11:03] engcom-Hotel commented on #35146
Hello @nicolasddev,

Thanks for your response!

We have checked the PR stated in the above comment and checked the existing functionality as well.

Can you please tell us the impacted area and your use case for this? Actually, this will help us in the reproduction of this issue.

Thanks

[2022-03-21 11:06] engcom-November commented on #35206
@magento give me 2.4-develop instance

[2022-03-21 11:37] engcom-Delta commented on #35193
Hi @claudioxu ,
We tried to reproduce the issue on Magento 2.4 Develop with local setup.In fact i am able to place offline refund successfully . there is no duplication issue .But we are not able to place online refund due to 'Refund' button is missing as below:

[2022-03-21 11:46] engcom-November commented on #35199
@magento give me 2.4-develop instance

[2022-03-21 12:27] engcom-November commented on #23908
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue due to below issue:;
https://github.com/magento/magento2/issues/35182 - "Not You?" link is not getting displayed after customer session is expired to verify this issue.

[2022-03-21 13:36] engcom-Lima commented on #34199
Hi @carloricci84, I tried to reproduce the issue on 2.4-develop, however the issue is not reproducible.

Steps followed to reproduce the issue:-

1. Created 2 store views
2. Added simple product from **one** store view in GraphQl
3. Changed the header to set the **second** store view
4. Proceeded with Checkout

I was able to complete the checkout without any error

Please let me know if this issue

[2022-03-21 14:30] adamkarnowka commented on #34705
This bug occurs for all async/bulk operations, for example creating shipments for orders, because params added in GET (f.e `byOrderId/ship`) are parsed to request data, and this part cannot be resolved by service input processor.

Patch added by @lykciv does the trick though.

[2022-03-21 15:13] Skullsneeze opened #35210 "Customizable option labels, and customizble option titles cannot be saved when a user's role is limited to a certain scope"
### Preconditions (*)

1. Magento version: 2.4.2, PHP 7.4
2. Multiple storeviews
3. A user role with limited access to resources (storeviews)
4. A user assigned to the above user role

### Steps to reproduce (*)

1. As an admin, create a simple product, and add a customizable option (type dropdown) with several values
2. Make the product available in all, or at least 2, of your websites
5. Save th

[2022-03-21 15:15] Skullsneeze commented on #35210
I've already done some digging, and found that when the product is initialized and the options are prefilled (see: `\Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper::fillProductOptions()`) the product has the options_readonly flag set to true when the user has limited access to storeviews. This causes the original option values to be used, instead of the updated values

[2022-03-21 15:15] Skullsneeze commented on #35210
@magento give me 2.4-develop instance

[2022-03-21 16:16] jakwinkler opened #35211 "Controller extending AccountInterface breaks in Production mode"
### Preconditions (*)

1. Magento 2.4.2  / 2.4.3-p1

### Steps to reproduce (*)

1. Create a new module, route and controller which implements `AccountInterface` , as customer modules do
2. Implement the controller like this:
[code]
3. Enable production mode

### Expected result (*)

1. User is redirected to the customer login page

### Actual result (*)

1. Here is the error when you try to acces

[2022-03-22 01:31] benjaminv commented on #25063
The more Magento2 way of doing this is to `override` the core template on the targeted page. In this case,
1. copy `vendor/magento/module-catalog/view/frontend/templates/product/compare/list.phtml` to
2. `app/design/frontend/THEME_VENDOR/THEME/Magento_Catalog/templates/product/list.phtml` and make the change here and leave all other lines unchanged
3. compile and deploy to take effects by
[code]

[2022-03-22 05:19] engcom-November commented on #35207
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
![image](https://user-images.githubusercontent.com/60198231/159412987-b5034a93-8a94-4967-a3f4-38cf5ca3edc4.png)
@ispasvalentin22 kindly recheck the issue on Magento 2.4-develop branch as it is the upcoming 2.4.x release and have latest code base. Provide missing steps if any if the issue is still reproducible.

[2022-03-22 05:21] engcom-November commented on #35023
Hi @MihaiComan90 ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-22 05:21] #35023 closed, assigned to engcom-November

[2022-03-22 05:30] engcom-Delta commented on #34889
Hi @uandiweb ,
We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.
Thanks

[2022-03-22 05:30] #34889 closed, assigned to engcom-Delta

[2022-03-22 05:49] engcom-November commented on #35200
Verified the issue on Magento 2.4-develop branch again and the issue is reproducible.
Hence confirming the issue.
New Product B created by importing Product A options - Sorting order is changed before save and after save
Updated description of steps to reproduce.
![image](https://user-images.githubusercontent.com/60198231/159416086-f848d441-e576-42f0-9835-b64e0f352422.png)

![image](https://user-i

[2022-03-22 07:08] engcom-Hotel commented on #35130
Dear @thinksys-dev,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-22 07:08] #35130 closed, assigned to engcom-Hotel

[2022-03-22 07:12] engcom-Hotel commented on #35205
Hello @williambize,

Thanks for posting the issue!

But we need more information in order to reproduce the issue. Normally with Apache server if mod_rewrite is enabled the Magento instance is working fine. Please tell us more about the following:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2022-03-22 07:20] engcom-Delta commented on #35165
Hi @hcmlopes ,

Thanks for providing detailed steps to replicate , after following the steps issue is reproducible. Hence issue is confirming .
Results:
<img width="1440" alt="Screenshot 2022-03-22 at 12 45 29 PM" src="https://user-images.githubusercontent.com/51681379/159427932-efa18495-380b-48b0-925a-4e5ffc81882d.png">
<img width="1440" alt="Screenshot 2022-03-22 at 12 43 38 PM" src="https://use

[2022-03-22 07:21] reshadzazai opened #35212 "Magento2 REST APIs Quote Currency Issue"
I have a single website, with 2 stores and 2 store-views, one store-view for each store:
![image](https://user-images.githubusercontent.com/60198231/161557864-d1d68076-b4c1-4aea-bf1d-a3a0ae1a1b2c.png)

Admin - Stores - Configuration - General - Currency Setup - Currency Options - US
Change scope to Australian English - set Currency to Australian Dollar and Save
Change scope to American English - s

[2022-03-22 07:49] williambize commented on #35205
Hi @engcom-Hotel

Thanks for the reply.

I have finished updating Magento to version 2.4.0, successfully. But when I tried to access the webstore, it was giving 500 error. I troubleshoot so many things, including...

- Making sure that "mod_rewrite" is enabled on the server
- Runn commands to make sure the files and folders have the right permissions
- Flushed cache
- Compiled...

But nothing chan

[2022-03-22 07:55] ailovan opened #35213 "Reindexing price takes hours when having many bundle products"
### Preconditions (*)
1. Magento version: 2.4.3
2. 84K products, of which 44K bundle products, each bundle with about 4-5 options (very small bundles)
3. VPS with 4 cores, 16 GB RAM, SSD
4. All third-party extensions disabled.
5. Search engine: ElasticSearch
6. MSI enabled
7. Smile ElasticSuite is used (but disabled for testing purposes for this issue)

### Steps to reproduce (*)
1. Reindex pricin

[2022-03-22 08:38] i6media commented on #8276
Same here, Magento 2.4.3-p1:

"Unable to send the cookie. Size of 'mage-messages' is 4136 bytes."

[2022-03-22 08:43] claudioxu commented on #35193
Hello @engcom-Delta ,

Thanks for your updates. This just happened on PayPay Payflow orders, and we are using 2.3.5-P1(CE).

Claudio

[2022-03-22 08:44] claudioxu commented on #35193
that's the same case with https://github.com/magento/magento2/issues/24149.

[2022-03-22 10:46] mgarciaebo commented on #34576
@magento give me 2.4-develop instance

[2022-03-22 11:26] engcom-Hotel commented on #35184
Hi @engcom-Delta,

As per our discussion in the Triage call, we need to recheck this issue for the Actual result mentioned in the main description.

Thanks

[2022-03-22 12:08] timpea opened #35214 "Bulk Update Attributes - datetime doesn't extend \Magento\Framework\Data\Form\Element\AbstractElement"
### Preconditions (*)
1. Magento 2.4.3

### Steps to reproduce (*)
1. Add a datetime product attribute
2. Assign attribute to Default attribute set.
3. Catalog>Products: Update Attributes on 1 or more products

### Expected result (*)

1. Ability to update product attributes

### Actual result (*)
1. Update attributes page fails to load
1. [2022-03-22 12:04:34] main.CRITICAL: datetime doesn't exte

[2022-03-22 12:09] timpea commented on #35214
@magento give me 2.4-develop instance

[2022-03-22 12:10] timpea commented on #35214
@magento give me 2.4-develop instance

[2022-03-22 12:33] engcom-Delta commented on #35214
Hi @timpea ,
We tried to reproduce the issue on Magento 2.4 Develop with latest branch , unfortunately issue is not reproducible.
Hence request to review the provided steps.

steps followed:
1. Add a datetime product attribute
<img width="1440" alt="Screenshot 2022-03-22 at 5 49 20 PM" src="https://user-images.githubusercontent.com/51681379/159482382-7cd8302a-30c4-455b-b2a5-ac84219a27e9.png">
2. A

[2022-03-22 12:55] timpea commented on #35214
@magento give me 2.4-develop instance

[2022-03-22 12:58] timpea commented on #35214
@engcom-Delta try the bulk update attributes page:
![Screenshot 2022-03-22 at 12 56 51](https://user-images.githubusercontent.com/4026115/159487254-e1e8d123-2982-4b45-ad18-c1b2154ad3e5.png)

[2022-03-22 12:59] MTheProgrammer commented on #8276
This won't be fixed. At least the size limit can't be increased due to RFC specification, section 6.1
http://www.ietf.org/rfc/rfc6265.txt

One solution which I have in mind is to trim mage-messages and log its content when it overflows the limit of 4096b.

[2022-03-22 13:11] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-03-22 14:27] mrtuvn commented on #35130
why this ticket closed ? I think it's should valid till we got information of fix

[2022-03-22 14:50] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-03-22 14:52] cpartica commented on #34195
GraphQL and Luma was never intended to be synced but if it would then Luma as it's a multi page application would have to be refreshed in order to reflect summary as it doesn't contain a subscription mechanism.
We should close this ticket as not supported behavior

[2022-03-22 15:22] #35208 closed, assigned to nobody

[2022-03-22 17:07] LeoNun commented on #35130
Hello,
applied the patchs last month for CVE-2022-24086 and CVE-2022-24087 and have the same problem, no styles in the newsletter template.

Best Regards,
Leonel Nunes

[2022-03-22 19:57] jakwinkler opened #35215 "Cannot upload files if observer is located in frontend/events.xml"
### Preconditions (*)

1. Magento 2.4.2 / 2.4.3-p1

### Steps to reproduce (*)

1. Add an upload field on customer registration form
2. change form type to accept `multipart/data`
3. An observer to `customer_register_success` file in `frontend/events.xml`
4. Try to save the uploaded file

[code]

### Expected result (*)

1. File is saved in the desired location

### Actual result (*)

1. System re

[2022-03-22 23:11] cpartica commented on #34929
let me reiterate the problem here, as this this not a problem of system attributes collision but a schema stitching type collision based on dynamically generated schema originated from custom attributes:
1.`RoutableInterface` contains `type: UrlRewriteEntityTypeEnum`
2. `ProductInterface` inherits `RoutableInterface` and `RoutableInterface.type:UrlRewriteEntityTypeEnum`
3. ProductInterface injects

[2022-03-23 03:15] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-03-23 05:08] engcom-November commented on #35212
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
For any Store view set - currency codes and values are changed only when Base Currency is changed but not display currency in both UI and API as well.
![image](https://user-images.githubusercontent.com/60198231/159627615-57991a55-846a-4c86-89ea-bed79e24ad97.png)
![image](https://user-images.githubusercontent.c

[2022-03-23 05:26] engcom-November commented on #35206
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Stores - Configuration - General - Locale options - Timezone set to Korean Standard Time (GMT +9)
Marketing  - Add news template
Queue NewsLetter
Select Queue Start date and save
No issue: Queue start date is displayed as what ever selected before save and after save
![image](https://user-images.githubusercont

[2022-03-23 05:38] engcom-Hotel commented on #35205
Hello @williambize,

The content of .htaccess seems fine to me. Can you please check the Apache logs when .htaccess is enabled?

Thanks

[2022-03-23 06:07] engcom-November commented on #34994
Hi @quterorta ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-23 06:07] #34994 closed, assigned to engcom-November

[2022-03-23 06:49] williambize commented on #35205
@engcom-Hotel below the content of the Web Server Error

`

[Wed Mar 23 06:20:57.013140 2022] [core:alert] [pid 5670] [client 192.241.223.177:60610] /home/cpanelaccountuser/public_html/.htaccess: Invalid command 'SetEnv', perhaps misspelled or defined by a module not included in the server configuration
[Wed Mar 23 06:20:57.012912 2022] [core:alert] [pid 5670] [client 192.241.223.177:60610] /home/

[2022-03-23 09:08] snez commented on #34375
@engcom-Delta everyone in the thread is confirming the issue on the **Magento 2.4.3-p1** yet you are testing on the develop branch. Noone is using the develop branch of Magento on production sites. This should be tested on the **reported** version, planned for 2.4.3-p2 internally, update the community on internal plans and temporary workaround, and move on.

[2022-03-23 09:41] engcom-Hotel commented on #35211
Hello @qsolutions-pl,

Thanks for posting this issue!

We have tried to reproduce the issue in Magento 2.4-develop branch and the issue is reproducible for us. Please find the below screencast for reference:

**In Development Mode**

https://user-images.githubusercontent.com/51681618/159668458-1c94f893-ab75-43c6-81b6-b1ab5748d167.mov

**In Production Mode**

https://user-images.githubusercontent.c

[2022-03-23 10:13] engcom-November commented on #35210
Verified the issue on Magento 2.4-develop branch with enterprise edition module installed and the issue is reproducible.
![image](https://user-images.githubusercontent.com/60198231/159675865-3d652c62-0312-410d-9013-eade6dcdd3c2.png)
After saving the product, Option title is reverted to previous value
![image](https://user-images.githubusercontent.com/60198231/159675761-dc4680cb-298c-42aa-9a27-2997

[2022-03-23 10:26] engcom-Hotel commented on #35204
Hello @rhoerr,

Thanks for posting the issue!

We have tried to reproduce the issue in Magento 2.4-develop branch and found that currently, Magento uses **Google Universal Analytics**, please refer to the below:

https://github.com/magento/magento2/blob/bbaa5284414191fafafe26acbc97186ff7ed93d1/app/code/Magento/GoogleAnalytics/view/frontend/web/js/google-analytics.js#L36

Hence confirming the issue

[2022-03-23 11:50] Sanjay-100 opened #35217 "All the cookies should be in secure mode"
**Description**
All the cookies on browser should be in secure mode.

### Preconditions (*)

1**. Magento version 2.4**

### Steps to reproduce (*)

1. setup the new magneto store and check the cookies are secured set or not in client end browser -> application -> cookies
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.  i want to create more secure cookies from magento side
!

[2022-03-23 11:53] Sanjay-100 commented on #35217
Summary of the issue  : i want to add more cookies to batter user UX
Information on your environment : magneto 2  php 7.4 xammp and LEMP stack
Steps to reproduce ; create new magneto instance
Expected and actual results : same as above screenshot admin secured cookies created.

[2022-03-23 11:53] engcom-November commented on #34294
We are moving this ticket to on hold as this is dependent on https://github.com/magento/magento2/issues/35162 to reproduce. This needs to be verified once #35162 is fixed.

[2022-03-23 13:39] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-03-23 15:33] michaelcallahan27 opened #35218 "Issue accessing ScopeOverriddenValue->containsValue from a loop"
### Preconditions (*)

1.  2.4.3-p1
2. Reproducible in any environment

### Steps to reproduce (*)

1. When calling the containsValue of this class, vendor/magento/module-catalog/Model/Attribute/ScopeOverriddenValue.php from within a loop of products, invalid results are returned.
2. ex....
        $store = $this->storeManager->getStore(STORE::DEFAULT_STORE_ID);
        $this->storeManager->setCur

[2022-03-23 15:47] engcom-Delta commented on #35154
Hi @maconeto ,
We have double checked this issue and confirming it .
**Pre-Conditions:**
Install clean Magento 2.4-develop
PHP 7.4

**Manual Steps Executed:**
1. Login into the Admin
2. Setup fresh Magento website with 1 website, 1 store and 2 store views
3. Set currency for first store view; currency = EUR
4. Set currency for first store view; currency = NOK
5. Setup currency rate 1 EUR = 10 NOK

[2022-03-23 16:00] engcom-Delta commented on #35217
Hi @Sanjay-100 ,
Thank you for raising an issue . Kindly can you elaborate on actual results what you have got.
Screenshots are more helpful for actual results if possible .
Hence added label 'Needs Update'

[2022-03-23 16:03] michaelcallahan27 commented on #35218
I tested with the latest version in the 2.4.dev branch and the issue no longer exists...
https://github.com/magento/magento2/blob/d1eea4f34df13f7af467ec8c9ae10a5ec509ed80/app/code/Magento/Catalog/Model/Attribute/ScopeOverriddenValue.php

[2022-03-23 17:14] shikhamis11 commented on #34195
https://github.com/magento give me 2.4-develop instance

[2022-03-23 17:49] shikhamis11 commented on #34195
I was able to reproduce this with an older version but It seems working fine on the latest 2.4-develop instance.
Probably the fix is in the commit https://github.com/magento/magento2/commit/10ffde7f6d7603c589767c9eb06ccaaedb4de0b1

[2022-03-23 19:05] rymanACM opened #35219 "405 Error on Network"
### Preconditions (*)

1. Magento ver. 2.3.2
2. Error on Front end site

### Steps to reproduce (*)

1. Open web site on newtork
2. 405 error appears

### Expected result (*)

1. Website appears
2.

### Actual result (*)

1.  405 Error shows instead of website
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the I

[2022-03-23 21:15] Sabrina-tahir commented on #3463
can u share the full url ?
i wan to list all the products Sku i have tries this rest/V1/products?fields=items[sku] butit throws error

[2022-03-24 04:30] engcom-November commented on #35219
Hi @rymanACM ,
Thank you for reporting and collaboration. However provided steps are not enough for us to reproduce the issue on Magento 2.4-develop branch.
Please check below possible workarounds which may help to resolve your issue in your environment.

1. /etc/apache2/sites-available/elasticsearch.conf

=> paste this code
<VirtualHost *:8080>
ProxyPass "/" "http://localhost:9200/"
ProxyPassReve

[2022-03-24 04:37] engcom-November commented on #35176
Hi @haroonsulehri ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-24 04:37] #35176 closed, assigned to engcom-November

[2022-03-24 05:00] engcom-November commented on #35175
Hi @MajorKuprich ,
Re-verified the issue again on Magento 2.4-develop branch and cannot reproduce the issue for Poland Shipping as well.
Please check the below configuration used:
Admin - Stores - Configuration - General - Store Information: US Address
Shipping origin:
![image](https://user-images.githubusercontent.com/60198231/159845412-d95c71c3-7f75-4a25-a77d-68a44813ecfd.png)
Fedex Shipping met

[2022-03-24 05:21] engcom-November commented on #35199
@magento give me 2.4-develop instance

[2022-03-24 05:41] engcom-November commented on #34898
Verified this issue on Magento 2.4-develop branch but cannot able to reproduce the issue even after saving CMS page multiple times with page builder content (Rows, columns and elements added). Its recommended to verify the issues on Magento 2.4-develop branch as the issue might have got fixed and it the upcoming 2.4.x release having latest code base.
@ZephyrDogma , kindly recheck the issue on Mage

[2022-03-24 05:57] reshadzazai commented on #35212
Can I get an instance with Magento 2.4-develop branch and I will do the necessary configurations in the admin panel and write down the step to reproduce the issue?

[2022-03-24 06:11] vmishra341 opened #35220 "GraphQl getProductFiltersByCategory return wrong category_id"
### Preconditions (*)

1. Magento CE and EE version 2.4.3-p1

### Steps to reproduce (*)

1. get the products details filter by category
2. use below Graphql Queries both return wrong result.

query getProductFiltersByCategory($categoryIdFilter: FilterEqualTypeInput!) {
    products(filter: { category_id: $categoryIdFilter }) {
      aggregations {
          attribute_code
          count

[2022-03-24 06:23] engcom-November commented on #34195
Verified the issue again on latest magento version 2.4-develop branch but cannot able to reproduce the issue anymore. Hence closing the issue.
:

[2022-03-24 06:23] #34195 closed, assigned to nobody

[2022-03-24 06:52] engcom-Hotel commented on #35205
Hello @williambize,

As per looking into the logs, this issue may be due to the below line from the .htaccess file:

This may be due to mod_env not being installed on the server. Please try to install this Apache module and check if the issue has been resolved.

Thanks

[2022-03-24 08:11] williambize commented on #35205
Hi @engcom-Hotel Thanks for the support.

Unfortunately, installing `mod_env` did not resolve the issue.

Thanks

[2022-03-24 08:21] bselimbuyukelcibemeir commented on #28068
Since someone came up with a custom module, Magento team would not give a fuck and bother themselves to fix a very important issue.

[2022-03-24 08:21] ajijshekh123 commented on #35197
@magento give me 2.4-develop instance

[2022-03-24 09:00] devphoenix2404 opened #35221 "How I can view the magento store system information?"
Hi team,

I want to know, how I can view the Magento store system information from the Magento back-end like which mysql version is used by the store?

Thanks

[2022-03-24 10:01] dariovranjkovic opened #35222 "Magento 2 rest api (catalogProductAttributeRepositoryV1 POST METHOD)"
### Preconditions (*)

1. Magento 2.4.3 CE
2. Apache, PHP version 7.4.14, mysql  Ver 8.0.28-0ubuntu0.20.04.3 for Linux on x86_64

### Steps to reproduce (*)

1. Create custom attribute for magento product:
[code]

### Expected result (*)

1. Expected correct response
2.

[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) asses

[2022-03-24 10:05] engcom-November commented on #35199
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Created product with url_key: key-default
Edit product - Changed the scope - Default Store view - url_key changed to: key-store
Save
Access Front-end product using yourstore.com/key-store.html - User is able to access the page
![image](https://user-images.githubusercontent.com/60198231/159892329-b4aa6333-6c6c-4214-9da2

[2022-03-24 10:08] dariovranjkovic opened #35223 "Magento 2 rest api (catalogProductAttributeOptionManagementV1 POST METHOD)"
### Preconditions (*)

1. Magento 2.4.3 CE
2. Apache, PHP version 7.4.14, mysql Ver 8.0.28-0ubuntu0.20.04.3 for Linux on x86_64

### Steps to reproduce (*)

1. Create custom option for custom attribute of magento product:

[code]

### Expected result (*)

1. Expected result: "100", I can't setup custom value for options, system always create increment value for options

### Actual result (*)

1. A

[2022-03-24 10:27] engcom-November commented on #35221
Hi @devphoenix2404 ,
Thank you for reporting and collaboration. All 2.4.x versions of Magento require Mysql 8 version. Kindly refer the [System requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) of all compatible versions that is required for specific magento version.
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/prereq-overview.html
Thank you.

[2022-03-24 10:45] engcom-November commented on #35222
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the iissue with same payload:
No issue: Response retrieved as expected:
![image](https://user-images.githubusercontent.com/60198231/159899512-7c08c081-ced8-4739-9451-5fe9e33d648e.png)

![image](https://user-images.githubusercontent.com/60198231/159899250-6919787b-17a3-4ae6-a0ee-ab3a248e5020.png)
@dariovranjkovic kindly r

[2022-03-24 11:04] davidandersson1 commented on #27559
Hello,

We have below query which is continuous recorded as slow query with magento version 2.4.1

SELECT COUNT(*) FROM (SELECT DISTINCT `main_table`.`query_text` FROM `search_query` AS `main_table` WHERE (main_table.store_id IN (1)) AND (num_results > 0) ORDER BY `popularity` desc
LIMIT 100) AS `result` WHERE (result.query_text = 'test')

so we have to apply https://github.com/magento/magento2/co

[2022-03-24 12:11] Sanjay-100 commented on #35217
Hi magneto admin dashboard  cookies creating the secure without the SSL certificate
you see the my screenshot from magneto dashboard.   i can see the magneto admin site magneto create secure cookies  i want the all fronted cookies also as secure cookies.

does this can done use of magneto admin settings ?

![image](https://user-images.githubusercontent.com/98302784/159913452-b623bf6f-a669-4659-a6d

[2022-03-24 12:11] engcom-Delta commented on #35065
Hi @bartoszkubicki ,
Thank you for raising an issue . We have verified the issue on Magento 2.4.3 p1 ,it works fine .We could see that Klarna payment presents during checkout.
<img width="1440" alt="Screenshot 2022-03-24 at 3 01 26 PM" src="https://user-images.githubusercontent.com/51681379/159897650-988f9ff2-142d-4894-ab55-91454ce5443d.png">

[2022-03-24 12:15] Sanjay-100 commented on #35217
@engcom-Delta
if i do the  NO
**Use HTTP Only** | Yes No Warning: Do not set to "No". User security could be compromised.
-- | --

what can be effect ?

i want to read the some cookies for analytics propose.

I think batter way to create modules and make custom cookies that was batter option ?

[2022-03-24 12:32] engcom-November commented on #35223
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Unable to set option value for custom attributes using POST: /rest/all/V1/products/attributes/attribute-code/options
![image](https://user-images.githubusercontent.com/60198231/159905091-abeb6687-4a91-44ca-8223-7af4f5421181.png)
![image](https://user-images.githubusercontent.com/60198231/159905163-221c1807-30a4-4f4c-a3

[2022-03-24 13:40] #35162 closed, assigned to nobody

[2022-03-24 13:51] engcom-November commented on #35197
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Steps performed:
Admin - Stores - Configuration - Catalog - Catalog - Enabled Layered Navigation
Admin - Stores - Configuration - Catalog - Inventory - Display Out of Stock Products - Set to Yes and save
enable product attribute - Size - With options : S, M, L and use in layered navigation
Created Configurable

[2022-03-24 13:54] jordanvector commented on #34887
@hostep that PR does actually indeed solve the issue for us at least and also this issue is easily reproducible if there is a gap larger than 500 between salable entity ids of the products, we had the same issue where indexers were coming back saying they completed successfully but we were only seeing 90 products in one of our stores than had 1000s of products in it.  After applying the changes ht

[2022-03-24 14:04] engcom-November commented on #35212
Hi @reshadzazai ,
Please write a comment to this issue: "@magento give me 2.4-develop instance" to get  magento 2.4-develop instance. Please note that it has limited access. Try again after sometime if you are unable to get the instance at that moment.
Thank you.

[2022-03-24 14:21] mlarsonbrianstoys opened #35224 "Ability to manually change the Salable Quantity"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2022-03-24 14:23] mlarsonbrianstoys opened #35225 "Our stock quantities and salable quantities are not matching up"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2022-03-24 14:28] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-03-24 14:29] mlarsonbrianstoys commented on #35225
Not able to change the Salable/Default Stock. Can't really take pictures of the problem

[2022-03-24 14:42] engcom-Delta commented on #35034
Hi @in-session ,
We tried to reproduce the issue on Magento 2.4.3.p1 branch , it works fine , During checkout we could see that Klarna payments displayed. Please find the screenshots for reference.
<img width="1440" alt="Screenshot 2022-03-24 at 3 01 26 PM" src="https://user-images.githubusercontent.com/51681379/159941441-d17b659d-a97a-4a8b-bba5-6595e662f1b0.png">
<img width="1440" alt="Screenshot

[2022-03-24 14:49] rymanACM commented on #35219
Hi,
It seems that We can access our site on a public network but not on our company’s network.

Thanks,

Anna Cate Myers
E-Commerce Content Coordinator | Opry Entertainment Group
One Gaylord Drive • Nashville, TN 37214
Email: ***@***.*** ***@***.***>  Office: 615.316.6053<tel:6153166053> Mobile: 334.819.6336<tel:3348196336>

[A close up of a sign  Description automatically generated]

From: Girija

[2022-03-24 14:50] engcom-Delta commented on #35065
Hi @oliverde8 ,

Many thanks for quick turn around, Would like to clarify once again , do i need to have 32767 Klarna orders in the DB ? or are you referring issue # 32767? .Kindly confirm.
Regards,

[2022-03-24 15:01] oliverde8 commented on #35065
Hello,

Yes to the DB. You need 32767 entries in the klarna_logs table. The klarna_logs table is using tinyint so the number of logs it can store is quite limited. That's the main problem.

By default the cleanup process keeps 90 days of logs in that table, I doubt we had 32K orders in 3 month (default config).  But we didn't check so it might be correct. The patch Klarna provides on their website

[2022-03-24 17:17] Danieleeffe1 opened #35226 "Problem front page Bundle product"
### Prerequisites (*)
<! ---
Magento 2.4.3-p1
->
1.
2.

### Steps to reproduce (*)
<! ---
Important: Provide a clear set of steps to reproduce this bug. We cannot provide support without clear instructions on how to reproduce.
->
1. I have created a product bundle

### Expected result (*)
<! --- Tell us what you expect to happen. ->
1. See The product bundle on the front page

### Current result (

[2022-03-24 22:24] feling07 commented on #35214
I have the same issue. Any update?

[2022-03-24 23:50] Gelmo opened #35227 "The Varnish configs do not strip Klaviyo marketing parameter"
### Preconditions (*)
1. Any Magento version that includes a suggested Varnish VCL config.
2. Using Varnish along with a VCL that is included with Magento.
3. Usage of Klaviyo's marketing email services/modules.

### Steps to reproduce (*)
1. Use a VCL that is included with Magento.
2. Send a marketing email via Klaviyo.
3. Watch varnishlog.
4. Visit the site using a link that is included in a Kla

[2022-03-24 23:50] Gelmo commented on #35227
@magento I am working on this

[2022-03-25 00:11] Gelmo commented on #35227
@magento add to contributors team

[2022-03-25 00:13] Gelmo commented on #35227
@magento I am working on this

[2022-03-25 01:34] engcom-Delta commented on #35214
Hi @timpea ,
Thanks for quick turn around. tried again in Magento 2.4 Develop. We are able to do Bulk update attributes.
Not getting any errors the page. Hence request to review the provided steps.
<img width="1440" alt="Screenshot 2022-03-25 at 6 37 54 AM" src="https://user-images.githubusercontent.com/51681379/160036796-69a6c27e-5fc0-4300-9a92-97e6e8450b2f.png">
<img width="1440" alt="Screenshot

[2022-03-25 05:44] Sanjay-100 opened #35229 "magento 2 catalog search full text programmatically"
### Summary (*)
 magento 2 catalog search full text programmatically

### Examples (*)
 i want to tracker the search result for every customer who do the search. and magento search result i wan to capture all the search data  i already did the custom plugin

### Proposed solution

 i build the custom modules -  i used the event observer i am getting the user search query

 `<?php

namespace Sanjay

[2022-03-25 05:49] Sanjay-100 commented on #35229
**Summary of the issue**  : need to store the all search event data into database i am using the custom modules for that with magento event and observers
**Information on your environment** : magento 2.4 LEMP stack
Steps to reproduce : use any magneto in instance
Expected and actual results : need the complete search result then store to database.

[2022-03-25 06:08] engcom-Hotel commented on #31145
Dear @rvitaliy,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-25 06:08] #31145 closed, assigned to engcom-Hotel

[2022-03-25 06:55] imeechan opened #35230 "Cannot Navigate Magento 2 after logging in"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2022-03-25 07:57] Ahmet-Djedovic commented on #31270
@magento give me 2.4-develop instance

[2022-03-25 09:25] engcom-November commented on #35226
Hi @Danieleeffe1 ,
Thank you for reporting and collaboration. However this issue looks like a duplicate of https://github.com/magento/magento2/issues/33935. Issue is reproducible for bundle products with same exception stack trace when Catalog - "Use Flat Catalog Product" set to 'Yes'. Kindly recheck and elaborate steps if different issue/steps to reproduce.
Thank you

[2022-03-25 09:26] Danieleeffe1 opened #35231 "Problem price in bundle production page"
Magento 2.4.3-p1

I have created a bundle product

I have entered 4 product options (checkbox)
Each option has a specific product selected as the default

On the frontpage:
The product is displayed with the total price, but when the customer clicks on the button "customize and add to cart"
and the product options are opened, the cloned price is 0

see live problem

[link demo]( https://m2.vetrinis

[2022-03-25 09:41] timpea commented on #35214
@magento give me 2.4-develop instance

[2022-03-25 09:56] timpea commented on #35214
@engcom-Delta It looks like you are updating a Date field, it is the DateTime attribute that is causing the error for us.  I haven't tested it on a fresh install of 2.4.3-p1, but we are getting this error on our live and staging sites running 2.4.3-p1.

I have just tested it in the Develop version and it is working as expected.

[2022-03-25 10:15] engcom-November commented on #35230
Hi @imeechan ,
Thank you for reporting and collaboration. However, provided steps are not enough for us to reproduce the issue on Magento 2.4-develop branch. Kindly elaborate the issue and steps to reproduce.
Please check if magento setup is done as per the the [System requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) and [prerequisiteshttps](https://devdo

[2022-03-25 10:30] engcom-November commented on #35220
@magento give me 2.4-develop instance

[2022-03-25 11:11] emastyle commented on #26482
Posting a comment to not automatically closed this issue.

[2022-03-25 11:19] Sanjay-100 commented on #17825
@[engcom-Echo](https://github.com/engcom-Echo)

can you the the code you there is no issue.

i try with block i am not getting the expected result.

[2022-03-25 11:30] engcom-November commented on #35220
@magento give me 2.4-develop instance

[2022-03-25 12:09] engcom-November commented on #35220
Verified the issue on  Magento 2.4-develop branch but cannot able to reproduce the issue:
On applying filter category Id, ID specific Category is retrieved in the response.
![image](https://user-images.githubusercontent.com/60198231/160118039-ed9e1df0-5d8c-4d7e-9ea7-f59876b06afa.png)
@vmishra341 kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if any if the issue is

[2022-03-25 12:28] vmishra341 commented on #35220
Hi @engcom-November ,

Please check the below attached screenshot and check category id 3 on both GraphQL and Luma frontend.

![image](https://user-images.githubusercontent.com/56992673/160120473-a2664401-9cec-4c39-829c-c1c35b4640ad.png)
![image](https://user-images.githubusercontent.com/56992673/160120604-f84c3d70-0c0f-4263-8562-257b54c3347c.png)

There are additional categories showing in GraphQ

[2022-03-25 12:29] maaarghk commented on #33575
@engcom-Hotel @Nuranto this issue occurred for me, the proposed patch in #32796 seems like it will resolve it.

the problem is probably on the other end - i.e. what is the specificity of the "store" cookie vs MAGE_RUN_CODE server variables vs the URL being parsed to work out what store to view?

is having multi store configured with two stores with same base URL but NO usage of MAGE_RUN_CODE actua

[2022-03-25 13:51] schizek commented on #3650
This is still an issue in Magento 2.4.3-p1

[2022-03-25 14:10] DarekTw commented on #35132
Hi @engcom-November

I can confirm that this problem only occurs on Magento Entrprice, I am currently using version 2.4.3-p1.

The code responsible for this is the plugin `vendor/magento/module-checkout-staging/Plugin/PaymentInformationManagementPlugin.php` and the `beforeSavePaymentInformationAndPlaceOrder` method that call `checkIfShippingNullOrNotSameAsBillingAddress`.

This plugin is responsib

[2022-03-25 14:49] github-jira-sync-bot opened #35232 "[TEST] Test story!"
Hi @magento-engcom-team. Thank you for your report.
To help us process this issue please make sure that you provided sufficient information.

Please, add a comment to [assign the issue](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#assigning-an-issue): `@magento I am working on this`

##
-  Join [Magento Community Engineering Slack](https://opensource.magento.com/slac

[2022-03-25 14:49] #35232 closed, assigned to nobody

[2022-03-25 14:53] GuillaumeBrook commented on #33982
I can confirm that this issue is still present.

[2022-03-25 15:02] feling07 commented on #35214
Hi Timpea, I checked all the data in eav_attribute and found the one using backend_type datetime and frontend_input datetime. After updating the frontend input to date the error is gone and it seems all working fine. I'm not sure if yours would be similar but in frontend there's no element for the type of datetime that's why it throws the error for me. Hope this helps.

[2022-03-25 15:12] timpea commented on #35214
@feling07 thank you, I was able to get around it by using the Date attribute, we didn't really need DateTime, it was only for a last_stock_checked field so we could record when we last checked the stock levels of each product.

[2022-03-25 16:21] pawel-siejba opened #35233 "Customer Account Registration Email Confirmation Flow"
*As a customer I want to confirm my account registration so that I can login to my account when confirmation is required.*

Not having this essentially breaks GraphQL customer registration flow when the "Require Emails Confirmation" option is turned on. https://docs.magento.com/user-guide/customers/account-options-new.html
Seems pretty urgent since nobody wants anybody to be able to create an acco

[2022-03-25 17:53] xtremevision commented on #5172
2.4.3-p1 and having the same issue. created simple, and trying to create configurable but the add products link is missing.

[2022-03-25 21:01] bartoszkubicki commented on #35065
I confirm what @oliverde8 has written. Anyway it is described in Klarna article I've posted in initial post.

[2022-03-26 05:19] reshadzazai commented on #35212
@magento give me 2.4-develop instance

[2022-03-26 06:14] reshadzazai commented on #35212
Step 1. Create a cart in en_us store-view
![Screenshot_1](https://user-images.githubusercontent.com/20941245/160226983-c3d7dac9-0e38-4e15-9301-488d100b0306.jpg)

Step 2. Add a product to the cart in en_us store-view
![Screenshot_2](https://user-images.githubusercontent.com/20941245/160227000-d3871407-fb00-4d9b-8fac-7655538487c9.jpg)

Step 3. Get Payment Information in en_us store-view: Everything

[2022-03-26 06:18] reshadzazai commented on #35212
**My configurations**

![Screenshot_7](https://user-images.githubusercontent.com/20941245/160227391-ec568c26-adb6-44db-addb-e72e49b4bf60.jpg)

![Screenshot_8](https://user-images.githubusercontent.com/20941245/160227394-1397f866-8689-446f-a235-055e72f9f8ae.jpg)

![Screenshot_9](https://user-images.githubusercontent.com/20941245/160227397-2fb34249-36c9-4c0d-aa46-4e9cdbf266aa.jpg)

![Screenshot_10](

[2022-03-26 12:58] hassanas opened #35235 "Uncaught Exception: Warning: fwrite(): SSL operation failed with code 1."
Magento 2.4 is using this module facinf error while sending success email:

`error:1420C0CF:SSL routines:ssl_write_internal:protocol is shutdown in /app/vendor/laminas/laminas-mail/src/Protocol/AbstractProtocol.php on line 253 in
 /app/vendor/magento/framework/App/ErrorHandler.php:61`

Stack trace:
[code]

[2022-03-26 14:14] mtjweb opened #35236 "EU VAT not calculated corectly in frontend"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Configure Magento for EU Tax rules
2. Checkout with a valid EU VAT-number

### Expected result (*)

1. No tax should be calculated at checkout
2.

### Actual result (*)

1. Tax is still being calculated in frontend
2. When you manually created the order in the backend and validate the VAT-number, no tax is being calculated.

[2022-03-27 22:24] jlenzstaysafe commented on #30596
Still an issue- How's this make it to production?

[2022-03-28 04:36] lytesaber commented on #34375
Experiencing reported issue on current Magento 2.4.3-p1 release.

Both currency symbol and prefix causing issues with processing / creating a credit memo on invoice.

<img width="635" alt="image" src="https://user-images.githubusercontent.com/16328255/160327119-b7daac0a-cf78-42e2-8215-4b53a6eb17b0.png">

[2022-03-28 05:55] engcom-November commented on #35179
Hi @leslilcp ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-03-28 05:55] #35179 closed, assigned to engcom-November

[2022-03-28 06:57] vmishra341 commented on #35220
@engcom-November is there any update from your end for my last response on this?

[2022-03-28 06:59] deepeshjain2011 opened #35237 ""Discount" string is not translating on cart on theme locale file"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Create one 'Cart Price Rules' for discount.
2. In theme Magento Blank create specific language file (like for Danish (da_DK.csv), for Swedish (Sweden) (sv_SE.csv) etc) and add translation for string "Discount (%1)".
![laudrup dk_25_03_2022_(4)](https://user-images.githubusercontent.com/84851863/160330374-08172465-7d05-4ec9-

[2022-03-28 08:51] wahidnory commented on #33096
Done.

[2022-03-28 08:59] MyroslavDobra commented on #10079
@magento give me 2.4-develop instance

[2022-03-28 10:32] pagesailor commented on #30801
Any status update on this issue @magento-engcom-team @engcom-Bravo ?

[2022-03-28 10:35] reshadzazai commented on #35212
@engcom-November You have not checked the issue base on my description.

[2022-03-28 11:07] engcom-November commented on #33096
@magento give me 2.4-develop instance

[2022-03-28 11:10] mad-develop opened #35238 "Logout doesn't destroy session after account edit."
After account edit, logout doesn't destroy the session. The issue seems to be related to the account edit action.
I tried to find the root cause but couldn't. It seems to be related to some DI plugin or event listener.

#### Sidenotes:
1. The issue was not reproducible on Magento 2.3
2. There is also another weird thing, that is maybe related to this issue.
If you save newsletter subscription afte

[2022-03-28 11:28] engcom-Delta commented on #35214
Hi @timpea ,
Kindly try on fresh instance of 2.4.3-p1 and confirm.

Thanks

[2022-03-28 11:31] Organizer21 commented on #34375
@engcom-Delta Just ran into this issue on Magento 2.4.3-p1 having it confirmed if a patch is being rolled into whatever the next version is would be helpful a already pointed out... this does not seem to be a "localized issue" but a general one.

That aside, I am new your GITHUB work and M2, but are issues often closed without a fix being implemented into the next versions? This must be the third

[2022-03-28 11:31] engcom-Delta commented on #35189
Hi @adulion2 ,
We have noticed that this issue has not been updated for a period of 13 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-03-28 11:31] #35189 closed, assigned to engcom-Delta

[2022-03-28 11:33] timpea commented on #35214
@magento give me 2.4.3-p1 instance

[2022-03-28 11:45] engcom-November commented on #35220
Verified the issue on Vanilla Magento 2.4-develop instance with sample data and the issue is reproducible:
Other categories are retrieved in the response:
![image](https://user-images.githubusercontent.com/60198231/160391036-0bc95630-8080-49ef-a8aa-2dd451a1cba0.png)
![image](https://user-images.githubusercontent.com/60198231/160391077-d0be9e3e-b1c4-4ede-be5a-f22365e7a7ae.png)
![image](https://user

[2022-03-28 12:00] mad-develop commented on #35238
@magento give me 2.4-develop instance

[2022-03-28 12:02] johnulecan opened #35239 "VAT field can't be disabled in customer registration form"
### Preconditions (*)

1. 2.4.x
2. 2.3.x

### Steps to reproduce (*)

1. Go to Admin->Store->Configuration->Customer and set Show Tax/VAT Number either Optional or Required in the Name and Address Options section
2. Set Show VAT Number on Storefront to No in Admin->Store->Configuration->Customer Create New Account Options section

### Expected result (*)

1. VAT field shouldn't be displayed in the

[2022-03-28 12:04] timpea commented on #35214
@magento give me 2.4.3-p1 instance

[2022-03-28 12:08] mad-develop commented on #35238
Verified on 2.4-develop instance.

[2022-03-28 12:26] adnanahmed-ki5 commented on #33523
@engcom-Echo I am also facing that issue!
how can i get rid of it?

[2022-03-28 12:46] IanFiretoys opened #35241 "admin login failure message too vague re: locked accounts"
### Description (*)

change
`The account sign-in was incorrect or your account is disabled temporarily. Please wait and try again later.`
to 2 messages,

```The account sign-in was incorrect, please try again```

and on lockout

```Your account is disabled temporarily. Please wait or contact an administrator.```

### Expected behavior (*)

this way the customer knows how to proceed in either situa

[2022-03-28 12:47] engcom-November commented on #35238
Verified the issue on Magento 2.4-develop branch and the issue is reproducible only when Customer - My Account data is edited. - **Issue.**
If the customer account data is not edited and saved, user is not able to use old cookie value. User is displayed with login page. - **No issue**
Steps:
Front-end - Create Account - Login - My Account - Edit - 1st name and last name and save
Inspect element -

[2022-03-28 13:01] engcom-November commented on #35163
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Install Product Recommendations Module
Go in the admin panel : Marketing > Product Recommendations
Open the browser's console > refresh the page and java script error is thrown.
![image](https://user-images.githubusercontent.com/60198231/160403299-0bce37cf-c9b8-4301-bd2b-779be1ffa9d2.png)

[2022-03-28 13:16] nataliefox-288 commented on #35163
The Product Recommendations module blocks override the admin template. I experienced a similar issue and contacted Product Recommendations's support who supplied me with an xml file which removed 2 offending blocks in their template. The error has disappeared since adding the file.

[2022-03-28 13:18] engcom-November commented on #33096
Unable to reproduce the issue on Magento 2.4-develop branch. Its recommended to verify issues on Magento 2.4-develop branch as it is the upcoming 2.4.x release and have latest code base. @wahidnory / @JeroenVanLeusden kindly recheck the issue on 2.4-develop instance or elaborate steps/configuration details if the issue occurred to upgrades (specify versions) / or any 3rd party modules if any.
Than

[2022-03-28 13:18] timpea commented on #35214
@magento give me 2.4.3-p1 instance

[2022-03-28 13:41] #35190 closed, assigned to engcom-Hotel

[2022-03-28 13:47] sdzhepa commented on #35006
@magento give me 2.4-develop instance

[2022-03-28 13:53] vernard commented on #23938
I made a quickfix for this. It's not a solution for everyone, but it's something that works for us. Hopefully it works for your case too.

What I did is create a plugin on Credit Memo's Grand Total Collector class, and if it detects that there's only a single tax rate used in that order (non-zero), it will use that tax rate on the adjustment amounts.

Here's the code for that plugin.

[code]

And

[2022-03-28 14:38] haroonsulahri opened #35242 "The Stripe PHP library has not been installed."
Hi,
i install a stripe extension.But admin panel show error msg.Please help me..
![image](https://user-images.githubusercontent.com/102534997/160422518-dd9a41d2-5332-4344-85fc-df926316d79c.png)
thank you
sincerly
Haroon S.

[2022-03-28 14:42] haroonrajpoot commented on #35242
My site frontend checkout page show error masg
Could not initialize Stripe.js: Please call Stripe() with your publishable key. You used an empty string.
![image](https://user-images.githubusercontent.com/102534997/160423456-364744ee-34df-4492-b1f6-d96e8638198e.png)

[2022-03-28 15:10] timpea commented on #35214
@magento give me 2.4.3-p1 instance

[2022-03-28 16:04] twosg commented on #35239
Hi, `taxvat` and `vat_id` are different fields. `taxvat` belongs to the customer entity, `vat_id` is for the customer address entity. The settings should not depend on each other and work correctly as intended.

The setting `Show VAT Number on Storefront` won't have any effect on the registration page until you enable the address fields to show on that page.

[2022-03-28 16:29] chazzs commented on #34898
I am having this problem as well. however, this is only happening to me when i use an added "appearance" to the Banner component.  I followed documentation (https://devdocs.magento.com/page-builder/docs/content-types/extend/add-appearances.html) to add a new appearance.  i am able to select the appearance, and it renders correctly in the preview as well. when i go to save the CMS page, that is whe

[2022-03-29 02:38] engcom-Delta commented on #35235
Hi @hassanas ,
Thank you for raising an issue. Kindly provide steps to reproduce , actual results , expected results and screenshots for reference. Hence added 'Needs update' Label

Regards,

[2022-03-29 02:40] engcom-Delta commented on #35242
Hi @haroonrajpoot ,
Thank you raising an issue. Kindly provide steps to reproduce, actual results, expected results and screenshots for reference.
Hence added the label 'Needs update'.
Regards,

[2022-03-29 04:32] engcom-Delta commented on #35237
Hi @deepeshjain2011 ,
Thank you for raising an issue , We tried to reproduce it on Magento 2.4.3-p1 but as per step#2 we could not find the way to add Language in Theme section. Hence request to review the provided steps.
Please find below screenshots for reference.
<img width="1440" alt="Screenshot 2022-03-29 at 9 44 18 AM" src="https://user-images.githubusercontent.com/51681379/160533585-3c55b05

[2022-03-29 04:56] deepeshjain2011 commented on #35237
Hi @engcom-Delta,
As i had mentioned i was tested this translation issue on 'Magento Blank' theme so i provide here way to add language file in 'Magento Blank' theme. When i was tested this translation issue, my theme language is 'Danish (da_DK)'.
Use following steps for add translation file in theme.

	1. Create the translation file (in my case - da_DK.csv) at vendor/magento/theme-frontend-blank/

[2022-03-29 05:54] koushikch7 commented on #29572
@shyopat  I tried the above snippet as well earlier but it was the same issue, but anyhow as per the ticket update I see the issue is fixed with the PR [#29349](https://github.com/magento/magento2/pull/29349#issuecomment-684757994) please check this from your end as well.

[2022-03-29 06:45] riversy opened #35243 "Price including Tax and Row Total Including Tax are incorrect after the Discount appliance"
### Preconditions (*)

1. Vanilla Magento Community 2.4.3-p1 with Sample Data
2. The following settings are applied:
[code]
![image](https://user-images.githubusercontent.com/60198231/161052460-43172367-1d6f-4386-9900-5dbc14282e78.png)

![image](https://user-images.githubusercontent.com/773002/160548193-dba097d8-07a1-4357-84bb-88aad6f90933.png)

### Steps to reproduce (*)

1. Set Default Tax appli

[2022-03-29 06:46] riversy commented on #35243
@magento give me 2.4-develop instance

[2022-03-29 07:25] riversy commented on #35243
Trying to replicate the issue on the https://9202dc350ac6ddc7308a4c44cefb2813.instances.magento-community.engineering/ instance.

### Preconditions

(1) Applied the following settings to the instance:
![image](https://user-images.githubusercontent.com/773002/160555257-c76c09e4-6f0c-4a3f-bb65-972406e945ff.png)

(2) Applied tax rule
![image](https://user-images.githubusercontent.com/773002/160555380

[2022-03-29 07:32] johnulecan commented on #35239
Hey @twosg Thank you for the feedback. It makes sense for customer address forms, but, on registration form you should be able to remove the taxvat field without editing register.phtml. `Show Tax/VAT Number` settings are located in the `Address Options` section. In the `Create New Account Options` section we should be able to set `taxvat` visibility on registration form. At this point, if you enab

[2022-03-29 08:06] amitmaurya1024 commented on #33145
Any update on this ?

[2022-03-29 08:55] engcom-Alfa commented on #34766
@magento give me 2.4-develop instance

[2022-03-29 09:07] Tjitse-E opened #35244 "Adding tier_price to product comparison will crash the page"
### Preconditions (*)

1. Magento 2.4.2-p1
2. PHP 7.4

### Steps to reproduce (*)

1. Go to the Magento 2 admin panel
2. Go to stores > attributes > product
3. Search for 'tier_price'
4. Open the tier price attribute and go to the 'Storefront properties' tab.
5. Set 'Comparable on storefront' on 'yes'
6. Go to the frontend
7. Add two products to the products comparison
8. View the product comparis

[2022-03-29 09:13] timpea commented on #35214
@magento give me 2.4.3-p1 instance

[2022-03-29 09:14] engcom-Delta commented on #35184
Hi @simonmaass ,
We tried to reproduce it on magento 2.4 develop & 2.4.3-p1 instance ,found that lastname is not concatenated in firstname column .instead of it found that NULL is showing in firstname ,lastname columns. Hence request to review the steps provided.

Please find the attached screenshots for reference.
<img width="1440" alt="Screenshot 2022-03-29 at 2 34 01 PM" src="https://user-image

[2022-03-29 09:33] twosg commented on #35239
I am not against improvements on this but:

You are able to hide the field in the `register.phtml` by setting `Name and Address Options -> Show Tax/VAT Number` to  `No`. This will generally hide the field, if you want to hide it only for the register.phtml then you need to touch the template. I agree that a bit more fine-tunable settings would be preferrable, but the setting at `Create new account

[2022-03-29 09:52] WebKenth commented on #27969
It is the year 2022 and this bug is still present

[2022-03-29 09:59] apelixi commented on #23618
We have same problem, version 2.4.3-p1

[2022-03-29 10:21] engcom-November commented on #35244
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Issue: Compare Products page is empty.
User have to click again on Compare Products link to display the products.
![image](https://user-images.githubusercontent.com/60198231/160590636-302339de-1217-4133-89e3-e9f7e2b3ff53.png)

Exeption stacktrace:
`
[2022-03-29T10:19:03.325092+00:00] main.CRITICAL: Exception: Notice: A

[2022-03-29 10:47] ioweb-gr opened #35245 "Best seller report does not include configurable products"
### Preconditions (*)

1. 2.4.3-p1

### Steps to reproduce (*)

1. Try to order a few configurable items in Magento 2
2. Refresh statistics for the best seller report
3. Execute this query in the database
[code]
You will notice no configurables are being added in the best seller table.
While this may be desirable as only real products are being sold (in this case the variations), it actually cause

[2022-03-29 10:58] engcom-November commented on #35243
Hi @riversy , Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance and is reproducible.
But as per [Magento docs](https://docs.magento.com/user-guide/tax/warning-messages.html) for tax configuration -  Catalog Price: Excluding tax, Display settings: "Including and Excluding tax" & Tax calculation method based on  "Total" , can result in rounding errors b

[2022-03-29 11:52] engcom-November commented on #35245
Hi @ioweb-gr , Thank you for reporting and collaboration. Verified this on Magento 2.4-develop branch
Bestsellers Report includes the product name, price, and quantity ordered in both UI and DB table. Since configurable products can be ordered with simple product configurations only and cant be ordered alone, simple products are displayed in both UI and DB . Please refer the magento [docs](https:/

[2022-03-29 12:39] miraclebg commented on #30958
Experiencing the same thing - so far i am able to find out it is caused by javascript - if you disable it temporarily it shows just fine.

[2022-03-29 12:47] riversy commented on #35243
Hi @engcom-November,
Thank you for your clarification of this problem and the provided documentation reference.

According to the document ([Magento Docs](https://docs.magento.com/user-guide/tax/warning-messages.html)), the following combination of the settings shouldn't lead to any warnings and confusion, as I understand:
- Tax Calculation Method Based On => "Row Total"
- Price Display => "Includ

[2022-03-29 13:01] ioweb-gr commented on #35245
From a technical scope I would agree this is a missing functionality that should be added.

From a user's point of view though, this is something that's not working correctly.

The user expects to see which products he sold most.

My customer's complaint was `I'm trying to list my best selling products but no products appear` . He doesn't understand the technical reason behind it, although I could

[2022-03-29 13:42] Smpatidar opened #35246 "klarna payment receive error "Unable to release authorization for the token" in graphql"
**Preconditions (*)**
    1. Magento CE version 2.4.3-p1
**Steps to reproduce (*)**
    1.  following "https://devdocs.magento.com/guides/v2.4/graphql/payment-methods/klarna.html"  link
    2.  **"createKlarnaPaymentsSession"**  mutation run successfully and received **"client_token"** and **"payment_categories"**
    3.  now **widget rendering** is successfully run and receive **authorization_tok

[2022-03-29 13:58] #34397 closed, assigned to nobody

[2022-03-29 14:10] Smpatidar commented on #35246
i am attach some screen shoot please have a look
![Altair-1](https://user-images.githubusercontent.com/102517004/160630821-61851a65-1bf4-4294-8a85-50c08eca2822.png)
![Altair-2](https://user-images.githubusercontent.com/102517004/160630832-413d52c2-b010-43cb-b7ac-688a8e852c0c.png)
![Altair-3](https://user-images.githubusercontent.com/102517004/160630836-c9ae4da1-d347-432d-a92d-cbd948cf7297.png)

[2022-03-29 14:49] miraclebg commented on #30958
Issue seems to be coming from magento/zendframework1/library/Zend/Locale/Data/bg.xml, <pattern>#,##0.00 ¤</pattern>

I've overriden the \Magento\Framework\Locale\Format class like this - which fixes the problem for me:

[code]

[2022-03-29 15:27] vandijkstef commented on #34325
As this issue bothered me again, I went and tried to find something more:

I can confirm this issue using the steps in the original issue, using 'composer require picqer/php-barcode-generator' on both OSX (PHP 7.4.21 / composer 1.10.25) and WSL Ubuntu (PHP 7.4.27 / composer 1.10.23) using a fresh Magento 2.4.3.

I can also confirm that you have to delete both 'composer.lock' and 'vendor/' dir to b

[2022-03-29 16:22] #34680 closed, assigned to nobody

[2022-03-29 18:12] Bashev commented on #35204
This is already in development on this issue #32623

[2022-03-29 19:54] #33586 closed, assigned to korovitskyi

[2022-03-29 19:54] #34210 closed, assigned to amenk

[2022-03-29 19:54] #34847 closed, assigned to in-session

[2022-03-29 19:54] #34857 closed, assigned to densen45

[2022-03-29 19:54] #30281 closed, assigned to hostep

[2022-03-29 19:54] #34941 closed, assigned to fredden

[2022-03-29 19:55] #34951 closed, assigned to vlmed

[2022-03-29 19:55] #30220 closed, assigned to sergiy-v

[2022-03-29 20:00] HarishSTOnline commented on #22344
+1

[2022-03-30 04:00] amitmaurya1024 commented on #6126
this issue also exist in magento 2.4.3-p1. Guys, any resolution for this issue ?

[2022-03-30 05:17] LiamKarlMitchell commented on #22344
There is an eav attribute cleaner for n98-magerun2
https://github.com/magento-hackathon/module-eavcleaner-m2

It could be ran on a cron schedule to reset to default.

[2022-03-30 06:03] Sanjay-100 commented on #35229
@engcom-Hotel

Summary of the issue  : i want to store the all search query with result data into database.
Information on your environment : Magneto 2 with elastic search
Steps to reproduce : setup new magneto assistance from GitHub.
Expected and actual results : same as Magneto store  front search result i need to capture into the  modules log.

here is the modules code  you can test on your end

[2022-03-30 06:50] engcom-Hotel commented on #35188
Dear @superdav42,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-03-30 06:50] #35188 closed, assigned to engcom-Hotel

[2022-03-30 06:50] HirokazuNishi opened #35247 "Region select doesn't apply default selected region id"
On Magento2.4.4 or github latest version has new region-updater.js, but this script has serious bug. Region dropdown cannot set region by region_id on customer address edit page.

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Directory/view/frontend/web/js/region-updater.js
Line 112 compares defaultRegion and key but these 2 values type are not same.

### Preconditions (*)

[2022-03-30 07:02] sgigliotti commented on #27909
I had the same problem.

I have noticed that all the custom attributes with a default value were being reset.
Setting the default value to NULL solved the problem for me.

[2022-03-30 07:02] engcom-Hotel commented on #35218
Hello @michaelcallahan27,

Thanks for the confirmation that the issue is not there now. In that case, we are closing this issue.

Thanks

[2022-03-30 07:02] #35218 closed, assigned to engcom-Hotel

[2022-03-30 07:43] simonmaass commented on #35184
@magento give me 2.4-develop instance

[2022-03-30 08:23] sunilit42 commented on #34702
@dankhrapiyush have you find fix for that?

[2022-03-30 10:59] pkarsai commented on #17310
After reading through this thread multiple times and looking into the relevant Magento code, I think that the following is going on:
- Magento can fall back to file based session handling, when Redis is not available at all (see `\Magento\Framework\Session\SaveHandler::callSafely`), but cannot handle the situation when the session is already created in Redis, but it can't be read from, due to a co

[2022-03-30 11:20] engcom-November commented on #35247
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue with provided steps:
![image](https://user-images.githubusercontent.com/60198231/160822871-418ef7aa-2d69-418c-b1ec-2a2311d00aef.png)

![image](https://user-images.githubusercontent.com/60198231/160822825-4a5057e4-90cc-4dc9-92d7-8c4a39b9e6fa.png)
@HirokazuNishi kindly recheck the issue on Magento 2.4-develop bra

[2022-03-30 11:34] justpeeet commented on #35239
That's not right. If you are using Magento 2 as headless system I am relying on the address settings. So If I am not able to disable this I will get an additional field for the customer address which shouldn't be there cause the setting is not working correctly. Changing the template won't help at this point cause the possibility to disable the field in the customer address settings should work as

[2022-03-30 11:50] oneserv-heuser commented on #23540
Any news on this? We're also experiencing this issue. Pretty annoying to have no magento way to stop the consumers.

[2022-03-30 12:18] engcom-Hotel commented on #35215
Hello @qsolutions-pl,

We have tried to reproduce the issue in Magento 2.4-develop branch but for us, the issue is not reproducible. We have followed the steps mentioned in your description.

For reference, we are attaching the module:

[Hashcrypt.zip](https://github.com/magento/magento2/files/8380331/Hashcrypt.zip)

Please review and let us know in case of a query.

Thanks

[2022-03-30 13:07] yvaliya commented on #31353
@magento give me 2.4-develop instance

[2022-03-30 13:12] yvaliya commented on #35200
No problem, thanks anyway.

[2022-03-30 14:26] mackieee commented on #20481
I've encountered this on Magento 2.4.2 today. Shocked to find I'll be needing to unset this everytime if need be!

[2022-03-30 15:18] michaelcallahan27 commented on #35218
@engcom-Hotel is the only way to have this working to wait for the next version of magento to be released and upgrade to it?

[2022-03-30 15:44] evolbug commented on #14495
This is still an issue in Magento 2.4.3-p1, please reopen

[2022-03-30 15:50] hostep commented on #23540
@oneserv-heuser: there is a PR open for this: https://github.com/magento/magento2/pull/31495

However, as mentioned by @giacmir above:

So even after you call `bin/magento queue:consumers:restart` from the PR mentioned above, the consumer process will not stop if no new messages come in. Only when one new message comes in, it will stop itself and than the cron will start it up again next time it r

[2022-03-30 21:23] nthurston commented on #34887
@jordanvector Did you apply that whole commit or just the changes in Model/Indexer/FilterProductByStock.php and Plugin/CatalogSearch/Model/Indexer/ChildProductFilterByInventoryStockPlugin.php?

It seems like it's doing some other things and I'm struggling to parse if the rest of it is needed to fix this issue.

Need to fix on a production instance, but don't particularly want to run more untested

[2022-03-30 21:49] hostep commented on #34887
@nthurston: I linked that particular commit, because it was the only merge commit I was able to find.
Unfortunately it consists of 3 different ticket (=fixes) instead of only one, so if you only need the fix for this gap problem, you'll probably want to combine all the separate [MC-42791](https://github.com/magento/inventory/search?q=MC-42791&type=commits) commits yourself.
Or do the opposite and

[2022-03-31 00:08] HirokazuNishi commented on #35247
@engcom-November I could reproduce on 2.4.4 from composer install. Please see attached sc.

![mismatch-variable-type](https://user-images.githubusercontent.com/124136/160950624-71d9645c-95f4-41e4-9912-50f122f84771.png)
![region-not-selected](https://user-images.githubusercontent.com/124136/160950628-4a51fc29-347e-4743-98c4-8ecb7b550a3a.png)

[2022-03-31 00:26] tiagosampaio opened #35248 "Products Randomly Disappear from Category View on Storefront When Partial Indexation is Running"
While the Catalog Search indexer is running, when it's set to run by a schedule by using the Mview architecture, there's a time when the products randomly disappear from the category pages. After a deeper investigation, I found out that the issue is on the ElasticSearch indexation by batch implementation.

Check the line:
https://github.com/magento/magento2/blob/a96f0f76c05778fd9400c04a0bdb9d31166

[2022-03-31 01:08] claudioxu commented on #35193
Hello,

any updates?

[2022-03-31 05:54] vijay-prevaj commented on #34937
Patch to resolve this issue..

`diff --git a/Model/Products/AdaptUrlRewritesToVisibilityAttribute.php b/Model/Products/AdaptUrlRewritesToVisibilityAttribute.php
index f5851cf..a816285 100644
--- a/Model/Products/AdaptUrlRewritesToVisibilityAttribute.php
+++ b/Model/Products/AdaptUrlRewritesToVisibilityAttribute.php
@@ -65,21 +65,21 @@ public function __construct(
      *
      * @param array $prod

[2022-03-31 08:52] hemendraajmera opened #35251 "Unable to migrate magento1.9.3.2 into magento 2.4.3"
Magento 1.9.3.2
Magento 2.4.3
Data migation tool installed on magento 2.3.4
All configuration are good, when  i am run migration:data command it will working and around 53% it stucked and say that
In Mysql.php line 599:

  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'sales_flat_qoute' doesn't exist, query was: SELECT DISTINCT
  `child`.`quote_id` FROM `justselling_projectrequest` AS

[2022-03-31 09:39] MarinaBonbonRose commented on #26951
Same bug on  Magento ver. 2.3.7-p2

[2022-03-31 09:53] engcom-November commented on #35247
Hi @HirokazuNishi ,
Its recommended to verify issues on Magento 2.4-develop instance as it is having latest code base and upcoming 2.4.x release. kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if any / address details used if the issue is still reproducible.
Thank you.

[2022-03-31 10:16] engcom-November commented on #35245
Hi @ioweb-gr ,
Thank you for your inputs. Considering this as feature request since this is an existing default behavior of Magento (Configurable products alone are not displayed in best sellers list).
There are some 3rd party extensions available which may serve your purpose for now. Considering this an enhancement and adding Feature request label.
Ex: https://www.proxiblue.com.au/premium-modules

[2022-03-31 10:21] hostep commented on #35247
@engcom-November: we've seen in the past that code for a freshly released Magento version is only merged in 2.4-develop a couple of weeks after the release, which means that the code in 2.4-develop currently is missing a bunch of code that's in 2.4.4.

So if people are reporting problems with Magento 2.4.4 in the next coming days or weeks, it's probably best not to test on 2.4-develop itself, beca

[2022-03-31 11:07] engcom-November commented on #35243
@magento give me 2.4-develop instance

[2022-03-31 11:19] clicks-kodet commented on #6069
Same issue on 2.3.5

[2022-03-31 11:40] DmitryFurs opened #35252 "Proxy code generation does not generate classes"
### Preconditions (*)

1. Magento Commerce 2.4.3-p1
2. PRODUCTION mode (!important)

### Steps to reproduce (*)

1. Create a new module
2. Add the file `etc/adminhtml/di.xml` with content in which the proxy arguments have line breaks at the end
[code]
3. Set production mode
4. run the **`setup:di:compile`** command
5. Check the generated/code folder for `Amasty\Oaction\Model\Action\Modifier\OrderA

[2022-03-31 12:11] engcom-November commented on #35243
Verified the issue again on Magento 2.4-develop branch with above mentioned [configuration](https://github.com/magento/magento2/issues/35243#issuecomment-1081828691) and the issue is reproducible.
Cart Subtotal Incl. Tax to be $119.00 but displayed $120
![image](https://user-images.githubusercontent.com/60198231/161051096-8e1f0a1a-0bf7-4b56-a219-088750089fe2.png)
Also as per [Magento docs](https:/

[2022-03-31 12:16] jamiroph opened #35253 "All current admin Sessions set to status 3 in AdminSessionsManager meaning user is logged out."
### Preconditions (*)

1. 2.4.3-p1
2.

### Steps to reproduce (*)

1. The issue is intermittent in nature when using admin area. It occurs when Magento\Security\Model\AdminSessionsManager->getCurrentSession() is called but Magento\Security\Model\AdminSessionsManager-currentSession is falsy

### Expected result (*)

1.  current session is set to class property currentSession or is loaded from auth

[2022-03-31 12:17] sunilit42 commented on #18229
Hello,

I have similar issue , any one solution for that?

[2022-03-31 14:28] PauloPhagula opened #35254 "Maintenance mode disabling while using AWS S3 for media storage does not work"
### Preconditions (*)

1. Be running Magento v2.4.3-p1
2. Be using AWS S3 for media storage

### Steps to reproduce (*)

1. Enter maintenance mode: `bin/magento maintenance:enable`
2. Leave maintenance mode:  `bin/magento maintenance:disable`
3. The site will still be in maintenance mode until you go manually delete the `.maintenance.flag` file in the S3 bucket

*For whoever is going to debug this

[2022-03-31 15:56] jamiroph commented on #35253
Identified a module "Amasty Admin Audit Logs" that was setting the status erroniously.
Closing issue for now as I don't believe its related to core

[2022-03-31 15:56] #35253 closed, assigned to nobody

[2022-03-31 16:22] Dragonsupplies opened #35255 "POS Error Code No such Enterty CustomerID 2295"
### Preconditions (*)

1.  2.3.3
2. POS front end main till

### Steps to reproduce (*)

1. Placing a sale trough the POS -Adding goods to cart, going to checkout, clicking Pay, error Code appears No such Enterty CustomerID 2295 POS now has a missing identity.
2. POS not syncing with backend
3.

### Expected result (*)

1. POS to Sync with back end and complete transaction. Stock removed from back

[2022-03-31 18:28] rz-balaji commented on #27505
Hi Team,
i have the updated code. Even Am also facing same issue. Kindly provide the Fix.

[2022-04-01 04:08] engcom-Delta commented on #35239
Hi @johnulecan ,
We tried to reproduce the issue on Magento 2.4 Develop & 2.4.3p1 instance. As per provided steps issue is reproducible in below test scenarios.

Scenario1:
1. Set 'Optional' to  "Show Tax/VAT Number" field in Customer name & address options.
2. Set 'NO' to field "Show VAT Number on Storefront" in Create new Account options
3. Save
4. Go to frontend and click on customer registrati

[2022-04-01 06:36] sunilit42 commented on #28035
@magento-engcom-team why this ticket close
for me happen same thing

[2022-04-01 06:48] engcom-Hotel commented on #35205
Hello @williambize,

Actually I suggested you the solution according to the logs. Can you please check your error logs for any other error?

Thanks

[2022-04-01 07:17] engcom-Alfa commented on #34766
@magento give me 2.4.3 instance with edition ee

[2022-04-01 09:00] engcom-November commented on #35219
Hi @rymanACM ,
405 Error is generally observed when web browser can't access the requested web page. Looks like your company's network is restricting / not allowing to access this e-commerce website. Can you please check your VPN Settings / network Settings and grant permissions if required.
This is not a Magento issue as we can able to access it using both Public network and VPN aswell.
Thank you

[2022-04-01 09:00] IanFiretoys opened #35257 "special characters should be filtered from the SKU field as they break secondary functionality"
### Preconditions (*)

1. 2.4.x
2.

### Steps to reproduce (*)

1. create a new product with an ampersand or slash in the `name` field
2. allow the `sku` field to autopopulate from the name
3. save the product
4. try and call the product's data with any REST GET api, or change the SKU

### Expected result (*)

1. information is called, or sku is successfully changed upon save
2.

### Actual result

[2022-04-01 09:13] engcom-November commented on #35212
@magento give me 2.4-develop instance

[2022-04-01 09:19] engcom-Hotel commented on #35192
Hello @qsolutions-pl,

Thanks for your reply!

We have tried to reproduce the issue, below steps we have followed:
Steps

1. Create multistore:

<img width="1310" alt="image" src="https://user-images.githubusercontent.com/51681618/161233358-0089e121-7d12-4158-bc2b-a446a13ff44e.png">

2. Setup different base url for main and another store:
**Main Store**
![image](https://user-images.githubuserconte

[2022-04-01 09:39] SerhiiMandrykin opened #35258 "Unable to send order confirmation email to users with specific emails"
### Preconditions (*)

1. Magento ^2.4.3

### Steps to reproduce (*)

1. Create an order with email like `test-1-@example.com` (important to have - character)
2. Try to send order confirmation email

### Expected result (*)

1. The email is sent

### Actual result (*)

1. The email is not sent

### Additional info
It looks like the issue comes from `\Magento\Framework\Mail\AddressConverter::conver

[2022-04-01 09:45] admintools commented on #23133
Hello, the same issue here:

[root@whm-1001 public_html]# php bin/magento setup:di:compile
Compilation was started.
Plugin list generation... 9/9 [============================] 100% 52 secs 438.0 MiB
Generated code and dependency injection configuration successfully.
[root@whm-1001 public_html]#
[root@whm-1001 public_html]# php bin/magento cache:disable compiled_config
Changed cache status:

[2022-04-01 09:45] SerhiiMandrykin commented on #35258
@magento give me 2.4-develop instance

[2022-04-01 09:55] engcom-November commented on #33096
Verified again with below steps in Magento 2.4-develop branch with Sample data:
Enabled Production mode from terminal: > php bin/magento deploy:mode:set production
enabled Login as Customer with default values selected."Store view to login to : Auto Detection"
Run from terminal > php bin/magento config:set login_as_customer/general/store_view_manual_choice_enabled 1
Clear cache.
Go to Customers -

[2022-04-01 09:56] SerhiiMandrykin commented on #35258
Is reproducing on Magento Instance

[2022-04-01 09:59] gaganmagento commented on #35257
@magento I am working on this

[2022-04-01 10:00] gaganmagento commented on #35257
@magento add to contributors tea

[2022-04-01 10:00] JeroenVanLeusden commented on #33096
@engcom-November

I believe the exception is shown when you put the site in developer mode.

[2022-04-01 10:00] gaganmagento commented on #35257
@magento add to contributors team

[2022-04-01 10:08] gaganmagento commented on #25933
@magento give me 2.4-develop instance

[2022-04-01 10:24] qsolutions-pl commented on #35192
So you have reproduced the issue :-)
The problem is that with such settings `Use Secure URL in Frontend` you should get `HTTPS` link not `HTTP`

[2022-04-01 10:57] jxn0326 opened #35259 "Translated catalog names from second store view appear in category dropdown list when creating/editing new products in All Store Views"
**Preconditions (*)**

1. Magento 2.2.5
2. Multiple store views

**Steps to reproduce (*)**

1. Create a second Website
2. Go to catalog category edit screen & translate the attribute "Category Name" to a different language in the store view of the second website
3. Create a new product that is only in the second store & assign a category
4. Create a new product that is only in the first website &

[2022-04-01 11:10] Smpatidar commented on #35246
Thank you so much @klarna support   and  @magento  support

please use  this line of code

module-kp/Observer/AssignData.php
`
         try {
             /** @var QuoteInterface $klarnaQuote */
             $klarnaQuote = $this->klarnaQuoteRepository->getActiveByQuote($quote);
-            $klarnaQuote->setAuthorizationToken($additionalData->getData('authorization_token'));
+            if (!$kla

[2022-04-01 11:10] #35246 closed, assigned to nobody

[2022-04-01 11:14] sanganinamrata commented on #35192
@qsolutions-pl I recently got the same issue. Fixed temporary by changing baseurl to be a secure one. But using "Use Secure URL in Frontend" to detect the URL is a better solution.

[2022-04-01 11:47] kassner commented on #35258
I have a patch for it, although not very well tested in production yet: https://gist.github.com/kassner/808f13e1263108fdde7b12ebdfdb0fca

[2022-04-01 11:59] pawel-siejba commented on #26111
Given that the medium-blue shirt is the only medium and the only blue shirt available, when it is disabled, then both of those options should disappear. If there are any other blue shirts available - you still should display the colour, same for the sizes.

It really does not seem like this is an expected behaviour. Disabling a product in Magento should mean that the customer has no way of seeing

[2022-04-01 17:30] cdbessig commented on #28183
This issue is affecting us on 2.4.3

[2022-04-02 12:15] agorbulin commented on #34325
I confirm the problem on Magento Cloud 2.4.4 + composer 1.10.22
After switching to composer 2.3.2, problem solved. After switching back to composer 1.10.22, problem comes back.

[2022-04-03 09:34] yuriichayka commented on #34325
Seems the issue appears only when you specify the exact version when requiring some module, for example - `composer require amasty/meta:1.3.2`

My STR:
        1. Have Magento 2.4.3 EE installed with PHP 7.4.28 and composer 1.10.22.
        2. composer require magento/product-enterprise-edition:2.4.4 --no-update
        3. composer update
        4. composer require amasty/meta:1.3.2

And a workar

[2022-04-04 05:59] HirokazuNishi commented on #35247
@engcom-November @hostep: I checked some codes on my local env, and found some localization module caused this issue. Now it could fix on our side. Thanks and sorry to bother with you. Please close this ticket.

[2022-04-04 06:16] engcom-Hotel commented on #35056
Dear @speller,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-04-04 06:16] #35056 closed, assigned to engcom-Hotel

[2022-04-04 06:17] engcom-Hotel commented on #35146
Dear @nicolasddev,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-04-04 06:17] #35146 closed, assigned to nicolasddev, engcom-Hotel

[2022-04-04 06:17] hostep commented on #35258
This is a duplicate of https://github.com/magento/magento2/issues/34318 btw 🙂

[2022-04-04 06:17] sunilit42 commented on #31219
@engcom-Alfa any solution for that

For me price reindex not complete  any more

@cdekkers  have you did any change to fix it?

[2022-04-04 07:07] schmengler commented on #26111
@lenaorobei @engcom-Bravo Seems like this went unnoticed. Is @nrkapoor still the product owner?

[2022-04-04 07:30] SerhiiMandrykin commented on #35258
@hostep yes, thank you!

[2022-04-04 07:30] #35258 closed, assigned to engcom-November

[2022-04-04 07:36] engcom-Hotel commented on #35192
Hello @qsolutions-pl,

But as per the main description, the issue can be fix, if the store configuration is proper:

And As per my comment [here](https://github.com/magento/magento2/issues/35192#issuecomment-1085666413), the configuration is proper but still we are getting `http` link instead of `https`. Am I missed anything or we can edit the main description that even if with the proper configur

[2022-04-04 08:02] engcom-November commented on #35181
Verified the issue on Magento 2.4-develop instance with Enterprise edition modules enabled but cannot able to reproduce the issue.
Steps performed:
1. Admin - Stores - Configuration - Content Management - Advanced Content Tools - Enable Page Builder
2. Multi store setup
3. Create New User Role - System - User Roles - Add New Role - set Role scope as below:
![image](https://user-images.githubuserco

[2022-04-04 08:38] crabnomad commented on #35251
This is a typo. The table name “sales_flat_qoute” is spelled incorrectly. It should have been “sales_flat_quote”. Please check the data migration tool you are using, find and correct this table name in it

[2022-04-04 09:32] manhtranisobar commented on #35181
Hi @engcom-November

Thanks for your testing,
Sorry because I have missing at Step to reproduce and have updated again. Please help to check again with updates:
- The first website have two store views
Thank you!

[2022-04-04 09:51] engcom-November commented on #35222
@magento give me 2.4-develop instance

[2022-04-04 09:54] kassner commented on #34318
@mvisd if you can test it, please have a look at the patch mentioned in #35258.

[2022-04-04 10:12] engcom-November commented on #35222
This issue is not reproducible on clean vanilla 2.4-develop instance but is reproducible when Enterprise edition modules are enabled. Hence transferring this issue to partners-magento2ee repository.
`[2022-04-04T10:08:54.329042+00:00] report.CRITICAL: PDOException: SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`magce`.`eav_a

[2022-04-04 10:21] engcom-November commented on #35207
Hi @ispasvalentin22 ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-04-04 10:21] #35207 closed, assigned to engcom-November

[2022-04-04 10:40] cdekkers commented on #31219
We took some time to identify the cause of the issue, but were unable to pinpoint anything specific. At one point we just decided to live with the issue and schedule the indexing processes during the night. I just pulled up the logs and they show that the price index took 4 hours and 13 minutes last night.

@engcom-Alfa this issue really should not be closed due to inactivity.

[2022-04-04 10:46] sunilit42 commented on #31219
@cdekkers for we work some time with 4-5 hours but some time give us temp table issue

any idea on that?

[2022-04-04 10:54] cdekkers commented on #31219
@sunilit42 Can you share the details of the temp table issue?

[2022-04-04 10:57] engcom-Hotel commented on #35257
@magento give me 2.4-develop instance

[2022-04-04 11:08] sunilit42 commented on #31219
Hey @cdekkers `Child process failed with message: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'db_71nvz5t4t72.catalog_product_index_price_temp' doesn't exist, query was: UPDATE `catalog_product_index_price_temp` AS `i`
 INNER JOIN `catalog_product_index_price_cfg_opt_temp` AS `io` ON i.entity_id = io.entity_id AND i.customer_group_id = io.customer_group_id AND i.website_id = io.websi

[2022-04-04 11:12] sunilit42 commented on #31219
One more thing while debuging i see

Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\CustomOptionPriceModifier=>85.012804031372
Taking more time

i change simple product price bunch only 3000 product then debuging time

Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\BasePriceModifier.php
`public function modifyPrice(IndexTableStructure $priceTable, array $entityIds = []) : voi

[2022-04-04 11:21] sunilit42 commented on #30315
I found same issue

price reindex with mysql 8 taking huge time and some time temp issue

and then i switch to mysql 5.7 reindex time only 30 mins wow!!!

so something issue with mysql 8 , i already applied patch of temp create table

[2022-04-04 11:28] sunilit42 commented on #30315
@hostep @davidandersson1 do you have solution with mysql 8?

[2022-04-04 11:34] engcom-Hotel commented on #35257
Hello @IanFiretoys,

We have tried to reproduce the issue in Magento 2.4-develop branch but for us the issue is not reproducible. Please have a look into the below screenshots for reference:

**Product create with Ampersand(&) and Dash(-)**
![Previous-1](https://user-images.githubusercontent.com/51681618/161534972-85efc7a9-0972-4008-9790-8dc88f0f7bcd.jpg)

**Edit with REST API (​/V1​/products​/{sk

[2022-04-04 11:48] cdekkers commented on #31219
@sunilit42 Thanks for the update. You might want to redact your table name and the full path to your Magento installation for security reasons.

I cannot pinpoint the cause of the ```Base table or view not found``` issue, but I suspect that the abnormally long running time of the indexer process causes abnormal database resource usage that, depending on your database settings in your setup, will a

[2022-04-04 11:52] sunilit42 commented on #31219
@cdekkers
as for debugging i just doing reindex for simple product and it is taking aroung 1 hour and 30 min and max time into custom option price

then i move to mysql version 5.7 then i see my price reindex taking only 30 mins

[2022-04-04 12:05] cdekkers commented on #31219
@sunilit42 Thank you. Whenever I find the time I can delve deeper into this issue, but this might take a while.

[2022-04-04 12:09] jonathanribas commented on #33685
Hi @theozzz, unfortunately we don't had time to test L2 cache again.
Are you experiencing same issue on hight data transfer?

[2022-04-04 12:13] theozzz commented on #33685
@jonathanribas thanks for your answer.

We are experiencing aswell some issues on Redis transfer slowness (we notified it on NewRelic), especially when traffic is high. The platform got 32 stores and 22 websites.

Preload keys seems not to have any "big" impact for us.

[2022-04-04 12:15] hegi64 opened #35261 "Integration Test DataFixture Creating Simple Product with Options not saved correctly into test database"
### Preconditions (*)

1. 2.4.3-p1

### Steps to reproduce (*)

1. Create Integration Test in Extension

Test Function

[code]

The Testfunction call a Controller. In the Controller this lines are executed

[code]

The Helper class Function.
[code]

DataFixture File

[code]

### Expected result (*)

1. The var dumps in Controller should show the same result as the var dumps in the test function an

[2022-04-04 12:26] IanFiretoys commented on #35257
it was /rest/V1/inventory/get-product-salable-quantity/

[2022-04-04 12:29] alexmtch commented on #34944
Hello @engcom-Hotel Have you tester in 2.3.6 version of Magento ? As i see in 2.4.3 this is resolved as i see you've done excactly what i've done and submitted on the post description

[code]

[2022-04-04 13:44] engcom-November commented on #35212
Thanks for your inputs @reshadzazai ,
Verified the issue again on Magento 2.4-develop branch and the issue is reproducible. Hence updating the description and confirming the issue.

[2022-04-04 14:10] MargoKep opened #35262 "SQL error on 2.4.4 prerelease when saving a product with new source and stock"
Preconditions (*)
1. Magento 2.4.4 prerelease
2. PHP 8.1
3. Magento with prefix in DB

Steps to reproduce (*)
1.Create new source
2.Create new stock and assign for new source
4. Going to: Catalog-->Product--> Open random product, Assigning for new Source, add Q-ty
5. Push the Save button

Expected result (*)
1. Success  after save wtihout error, and  seeing on the Products Greed Q-ty >0 in column

[2022-04-04 16:20] akovtun opened #35263 "The validation of the "Attribute Code" field does not match the documentation"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Stores -> Attributes -> Product
2. Click "Add New Attribute" button
3. Enter text with uppercase characters.

### Expected result (*)

1. The validation of the "Attribute Code" field does not match the documentation [https://docs.magento.com/user-guide/stores/attributes-product.html#advanced-attribute-properties](https://do

[2022-04-04 17:37] OlorinBW opened #35264 "Stopped loading on Edge"
### Preconditions (*)

1. Magneto ver 2.3.7-p2
2.

### Steps to reproduce (*)

1. Log into using MS Edge, select customer, watch the wheel spin forever
2. Log into using Chrome, select customer, it works
![Magneto Edge Issues](https://user-images.githubusercontent.com/102988794/161599467-a6833313-7a2b-49a6-ba00-1ba312a1278c.jpg)

### Expected result (*)

1. [Screenshots, logs or description] I att

[2022-04-04 21:26] ivanaugustobd commented on #10661
Here we "solved" it by using 99% opacity instead

[2022-04-04 23:38] nicolasddev commented on #35146
Hi @engcom-Hotel,

The Cost value is set by Magento built-in shipping carrier modules such as UPS, DHL and USPS, as it can be seen below.

**UPS Module:**
[https://github.com/magento/magento2/blob/2a774fc107e8b42d61b1ee0853c5c1b5bfd9f248/app/code/Magento/Ups/Model/Carrier.php#L966](https://github.com/magento/magento2/blob/2a774fc107e8b42d61b1ee0853c5c1b5bfd9f248/app/code/Magento/Ups/Model/Carrier.

[2022-04-05 02:18] Adel-Magebinary commented on #32118
This still happens in Magento ver. 2.4.2. The cache grows to 20G in 2 - 3 hours.

[2022-04-05 03:00] engcom-Delta commented on #35259
Hi @jxn0326 ,
Thank you for raising an issue . We tried to reproduce the issue on Magento 2.4 Develop but confused with Step# 2 .
Could you please elaborate on "translate the attribute "Category Name" to a different language "?. I could not find out different language option in the application.Hence request to help in this step.

Please find below screenshot for reference.
<img width="1440" alt="S

[2022-04-05 04:00] davidandersson1 commented on #30315
@sunilit42 nope, i haven't found any specific reason behind it, but in my case, huge time due to dynamic bundle products, so if your catalog including bundle then I would suggest that temporary disabled all bundle products and perform price reindex with mysql 8.x.x so you will get more idea.

[2022-04-05 05:55] sunilit42 commented on #30315
@davidandersson1
https://github.com/magento/magento2/issues/31219#issuecomment-1087471280

[2022-04-05 06:24] engcom-Delta commented on #35255
Hi @Dragonsupplies ,
POS is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketplace.

[2022-04-05 06:24] #35255 closed, assigned to engcom-Delta

[2022-04-05 07:12] websecureNL opened #35265 "Invalid from_date / to_date salesRules rest response"
### Preconditions (*)

1. Magento ver. 2.4.3

### Steps to reproduce (*)

1. Create a new Cart Price Rule through API - endpoint: /rest/V1/salesRules/
2. Enter sample date and from_date / to_date to a YYYY-MM-DD format in the request. Like:

"from_date":"2022-06-01",
"to_date":"2022-06-10"

3. Send request and inspect response.

### Expected result (*)

1. Would like a new Cart Price Rule to have

[2022-04-05 07:18] websecureNL commented on #35265
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-04-05 07:20] jxn0326 commented on #35259
What I really meant with step 2 was that in the store view that you're currently viewing, simply overwrite "What's New" with a different text & make sure that the "Use default value" box is blank when you save.

My recreation instructions are a bit biased because we use different languages in every store view. So from one store view to another, the category name is different.

[2022-04-05 07:28] janisverins commented on #13229
Still praying for this to be implemented.

[2022-04-05 07:34] engcom-Hotel commented on #35257
Hello @IanFiretoys,

We have tried with the above mentioned API response as well but still the issue is not reproducible for us. Please have a look into the below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/161702488-2f35642d-18ee-4c55-b4e4-9759a3e8ae10.png)

Thanks

[2022-04-05 09:00] Adel-Magebinary commented on #32118
guys, you might want to see this (https://blackfire.io/profiles/ade93317-f0a4-409d-980d-8bc5f59121da/graph?settings%5Bdimension%5D=timeline&settings%5Bdisplay%5D=focused&settings%5BtabPane%5D=&selected=Magento%5CFramework%5CCache%5CLockGuardedCacheLoader%3A%3AlockedLoadData&callname=Magento%5CFramework%5CCache%5CLockGuardedCacheLoader%3A%3AlockedLoadData&constraintDoc=)

This is simple luma loadin

[2022-04-05 09:39] engcom-Hotel commented on #35251
Hello @hemendraajmera,

Thanks for posting the issue!

Currently, Magento supports 2.3+ versions. And such transitions may not be possible in one step, you need to follow several upgrades before the application can be upgraded to 2.4.x.

Please try once with upgrades and let us know in case of any query.

Thanks

[2022-04-05 09:58] engcom-November commented on #35264
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Microsoft edge browser version used: 100.0.1185.29
Ubuntu: 20.04.4 LTS
![image](https://user-images.githubusercontent.com/60198231/161727273-118edf4e-e1a4-4480-8b19-01865516e3dc.png)
@OlorinBW , FYI.. please check below workaround that may help to resolve your issue
Inspect the page and check whether any js is

[2022-04-05 10:18] Surya2211 opened #35266 "Unable to change Magento Favicon for add product & edit product pages"
Preconditions (*)
1. Open magento admin panel
1. Login with valid credentials
1. Dashboard page will be opened

### Steps to reproduce (*)
1. Navigate to Catalog - Products -> Add product/Edit product
1. verify whether user is unable to change magento favicon for add product & edit product pages

Expected result (*)
1. Application owner should able to change the favicon for add product & Edit prod

[2022-04-05 10:20] engcom-Hotel commented on #35203
Hello @asyadav5,

You can map Category to a product from Admin Panel. Please have a look to the below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/161733085-048559ed-4696-4241-9bd7-0110b44d5912.png)

Let us know in case we have missed anything.

Thanks

[2022-04-05 10:42] Adel-Magebinary commented on #32118
Update:

The issue seems to be from "PayPal\Braintree\Plugin\ProductDetailsBlockPlugin::aroundGetProductDetailsHtml"

This plugin somehow triggers the cache to regenerate for every product load from the code level. We had to disable the Paypal plugin to go back to the original state.

[2022-04-05 10:55] dphilipps commented on #33819
Hi @tgreeve
I agree with your assessment about the indexer ruining the stock status.  I raised this very issue in September 2021 https://github.com/magento/magento2/issues/34127 and it was eventually closed as a duplicate issue when it isn't - frustrating!  With properly configured consumers products are correctly listed as out of stock when the saleable quantity hits 0 (there was an issue previou

[2022-04-05 11:26] ralbin commented on #34236
I have a brand new Adobe commerce cloud project version 2.4.3 that shows the exact same errors.  When I review the structure of the table `klarna_logs` it is missing the column store_id.
`MariaDB [main]> DESCRIBE klarna_logs;
+--------------+--------------+------+-----+---------------------+----------------+
| Field        | Type         | Null | Key | Default             | Extra          |
+-----

[2022-04-05 11:31] engcom-November commented on #35266
Verified the issue on Magento 2.4-develop branch and the issue is reproducible on existing product edit page:
![image](https://user-images.githubusercontent.com/60198231/161744628-012acd29-c836-40d9-8c93-8bf5c19ca4ed.png)
There is no issue on add new product page:
![image](https://user-images.githubusercontent.com/60198231/161744734-bb8ee6d0-58f4-441e-8860-c770929e8c5f.png)

[2022-04-05 11:37] hostep commented on #35264
@engcom-November: you have given extremely bad advise:

- `rm -rf var/*` => this is very dangerous, the `var` directory contains many different things, so you should defintely not delete everything inside it as it might break your shop
- `chmod -R 777` => this might introduce security vulnerabilities by allowing the webserver to write inside these directories, you really don't want this
- `sudo ph

[2022-04-05 12:23] engcom-Alfa commented on #34199
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2022-04-05 12:23] #34199 closed, assigned to nobody

[2022-04-05 12:41] IanFiretoys commented on #35257
testing the direct REST calls on our environment, i can see that those requests are working ok. in this case it might be a 3rd party extension that is interfering with the calls and causing them to fail when loaded along with the rest of the product page.

[code]

[2022-04-05 12:50] jordanvector commented on #34887
@nthurston correct on the changes made on the indexers matter to solve this issue at least in our case.

I made composer patches for this

[code]

[2022-04-05 13:35] engcom-November commented on #35181
Verified the issue again on Magento 2.4-develop branch with Enterprise edition module enabled and the issue is reproducible.
Hence confirming the issue
![image](https://user-images.githubusercontent.com/60198231/161765507-d6661ee3-94c1-47de-ab7a-fec027b28867.png)

`
[2022-04-05T13:31:10.192945+00:00] report.CRITICAL: PDOException: SQLSTATE[21000]: Cardinality violation: 1241 Operand should contain

[2022-04-05 13:46] MaximGns opened #35267 "AWS Aurora mysql 8 support"
### Description (*)
AWS Aurora supports MySQL 8 now. (https://aws.amazon.com/about-aws/whats-new/2021/11/amazon-aurora-mysql-8-0/) But this is not yet supported as stated in the system requirements: https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

### Expected behavior (*)
Working magento 2 instance with aurora mysql 8

### Benefits
Mysql improvements

### Additional i

[2022-04-05 13:52] sdzhepa commented on #35264
hello @hostep

Thank you for raising this.

@engcom-Hotel pls address additional investigation for this issue and provide sufficient communication.

The recommendation provided by @engcom-November could be some kind OK for local debugging during development or testing. But it is absolutely not OK for any kind of production env, it contradicts best practices and official recommendation

[2022-04-05 14:12] engcom-Hotel commented on #35264
@magento give me 2.4-develop instance

[2022-04-05 18:39] #34631 closed, assigned to kate-kyzyma

[2022-04-05 18:39] #33344 closed, assigned to DmitryTsymbal, engcom-Delta

[2022-04-05 18:39] #32378 closed, assigned to kate-kyzyma

[2022-04-05 18:39] #30607 closed, assigned to nobody

[2022-04-06 05:42] hemendraajmera opened #35268 "Unable to migrate data from m1 to m2"
Magento 2.4.3-p1
using data migration tool
it running and suddenly this issue occurs
 Notice: unserialize(): Error at offset 334 of 373 bytes in vendor\magento\data-migration-tool\src\Migration\Handler\Rule\
  SerializedData.php on line 36

[2022-04-06 06:30] engcom-Hotel commented on #35257
Hello @IanFiretoys,

Thanks for the reply!

As the functionality is working fine and the issue is due to some third party extension, we are closing this issue for now.

Thanks

[2022-04-06 06:30] #35257 closed, assigned to engcom-Hotel

[2022-04-06 06:42] engcom-Hotel commented on #35229
Hello @Sanjay-100,

This is the the General issue board for Magento. As per your comment in the main description, it seems its a new feature which is required by any specific merchant but not for all.

Please let us know your thoughts on it.

Thanks

[2022-04-06 07:01] MargoKep commented on #35262
Update Precondition:
3. Magento with prefix in DB

[2022-04-06 07:04] leonhelmus commented on #34937
This patch i applied for apis, sorry for the delay.

[code]

[2022-04-06 07:29] awkomarov commented on #35262
The issue was caused by DB prefix. Temporary table "reservations_temp_for_stock_" created without DB prefix. As a soultion I created solution, see attached diff/
[fix.txt](https://github.com/magento/magento2/files/8424584/fix.txt)

[2022-04-06 07:32] Veorirac opened #35269 "Issue with displaying products in order"
### Preconditions (*)
Magento 2.4.3-p1
1. To be logged in

### Steps to reproduce (*)
1. Add 11 or more different products to the cart
2. Make an order
3. Go to My account
4. Go to My orders page
5. Open the created order

### Expected result (*)
It is expected that when pagination appears, no more than 10 products should be displayed on each pagination page without duplicate products on each page

[2022-04-06 07:35] Sanjay-100 commented on #35229
@engcom-Hotel   I am not talking about the new feature I want to use the same Magento 2. X search in my custom modules.
I need to use the search feature same as the frontend to my custom programming method.

[2022-04-06 07:36] Veorirac commented on #35269
@magento give me 2.4-develop instance

[2022-04-06 07:44] MartynasKasp commented on #35056
@engcom-Hotel yes, image uploads are working fine with S3 bucket, but the issue occurs when trying to upload tablerates import file in "Sales / Delivery Methods / Table rates" section. It gives an error which says `"The "https://*.s3.eu-west-2.amazonaws.comuat/tmp/phpCWCyKY" file doesn't exist."` As you can see there is definitely a slash missing after `.com`

[2022-04-06 07:45] engcom-November commented on #35247
Thanks for the update @HirokazuNishi , We are closing the issue.

[2022-04-06 07:45] #35247 closed, assigned to engcom-November

[2022-04-06 07:47] yuriichayka opened #35270 "Configurable option swatch image cache not updated when changing image for simple product"
Configurable swatch option images aren't updated in the cache if you change them for simple products only. Looks like there is simply no logic for this in Magento - by immediate cache invalidation by tag, or by some indexer.
So, image uploading for child products invalidates cache only for such particular products, without checking parent configurables.

### Preconditions (*)

1. Magento 2.4.3 CE/

[2022-04-06 07:47] schnere opened #35271 "Magento 2.4 Bundles MSI stock problems"
### Preconditions (*)
* Magento 2.4.3-p1
* PHP 7.4
* MariaDB 10.3.34

### Steps to reproduce (*)
1. Create an inventory source and assign it to a stock with the main website selected
2. Add a simple product, add stock quantity > 2 for it
3. Add a bundle product, assign the simple product with amount 2
4. Visit the product page of the bundle product

### Expected result (*)
The bundle product shoul

[2022-04-06 07:54] engcom-November commented on #35197
Hi @ia-gaurav ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-04-06 07:54] #35197 closed, assigned to ajijshekh123, engcom-November

[2022-04-06 07:56] engcom-November commented on #35206
Hi @justin17757 ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-04-06 07:56] #35206 closed, assigned to engcom-November

[2022-04-06 08:04] engcom-Alfa commented on #29057
Hi @TimonVS ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/commit/5c97ea79ab68dbb1ff0a7182f82abaa79374722d).

Kindly upgrade to the latest 2.4-develop to retest the case.
In case of any Magento related issues, you may please report a new bug with all the information like Preco

[2022-04-06 08:04] #29057 closed, assigned to nobody

[2022-04-06 08:07] engcom-Alfa commented on #33615
Hi @capkafitz ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/commit/5c97ea79ab68dbb1ff0a7182f82abaa79374722d).

Kindly upgrade to the latest 2.4-develop to retest the case.
In case of any Magento related issues, you may please report a new bug with all the information like Pre

[2022-04-06 08:07] #33615 closed, assigned to yogesh-valiya

[2022-04-06 08:11] engcom-Alfa commented on #34266
Hi @Reporter ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/commit/5c97ea79ab68dbb1ff0a7182f82abaa79374722d).

Kindly upgrade to the latest 2.4-develop to retest the case.

In case of any Magento related issues found in 2.4-develop, you may report a new bug with all the inform

[2022-04-06 08:11] #34266 closed, assigned to iba-1

[2022-04-06 08:13] engcom-Alfa commented on #33756
Hi @gwharton ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/commit/5c97ea79ab68dbb1ff0a7182f82abaa79374722d).

Kindly upgrade to the latest 2.4-develop to retest the case.

In case of any Magento related issues found in 2.4-develop, you may report a new bug with all the inform

[2022-04-06 08:13] #33756 closed, assigned to nobody

[2022-04-06 08:15] #34036 closed

[2022-04-06 08:16] engcom-Alfa commented on #34783
Hi @oneserv-heuser ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/commit/5c97ea79ab68dbb1ff0a7182f82abaa79374722d).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report a n

[2022-04-06 08:16] #34783 closed, assigned to engcom-November

[2022-04-06 08:16] engcom-Delta commented on #35217
Hi @Sanjay-100 ,

Thank you for providing the required information. We tried to reproduce the issue on Magento 2.4 Develop & 2.4.3-p1 instance. We could not find out secure cookies on admin page and frontend page. Hence confirming the issue.
in Admin Page "Use HTTP only "field settings to 'YES':
<img width="1440" alt="Screenshot 2022-04-06 at 1 03 35 PM" src="https://user-images.githubusercontent.

[2022-04-06 08:17] engcom-Alfa commented on #35010
Hi @damienwebdev  ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/commit/5c97ea79ab68dbb1ff0a7182f82abaa79374722d).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report a ne

[2022-04-06 08:17] #35010 closed, assigned to nobody

[2022-04-06 08:17] engcom-Alfa commented on #31180
Hi @laurentiumagureanu ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/commit/5c97ea79ab68dbb1ff0a7182f82abaa79374722d).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report

[2022-04-06 08:17] #31180 closed, assigned to shikhamis11, korovitskyi

[2022-04-06 08:18] engcom-Alfa commented on #32557
Hi @damienwebdev ,
Thanks for your reported bug, the internal team has fixed and delivered this issue successfully.
Please find related commits [HERE](https://github.com/magento/magento2/commit/5c97ea79ab68dbb1ff0a7182f82abaa79374722d).

Kindly upgrade to the latest Magento version `2.4-develop` to retest the case.

In case of any Magento related issues found in `2.4-develop`, you may report a new

[2022-04-06 08:18] #32557 closed, assigned to nobody

[2022-04-06 08:23] engcom-Delta commented on #35178
Dear @shuaiZend ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2022-04-06 08:23] #35178 closed, assigned to engcom-Delta

[2022-04-06 08:26] #35034 closed, assigned to engcom-Delta

[2022-04-06 08:29] gwharton commented on #33756
Unless there are additional commits in MSI, this will remain broken. This is a problem when using multiple source/stocks on MSI.

[2022-04-06 08:34] gwharton commented on #33756
Create test product, test stock and test source.

Assign test product to test source and set stock to 10. Set stock to 5 in default source.

Purchase test product on website linked to test source.

Backorder should be 10. It is not, it will be 15 as it always uses default stock for backorder calcs.

[2022-04-06 08:52] #35269 closed, assigned to nobody

[2022-04-06 08:53] Veorirac commented on #35269
Not reproduced on instance

[2022-04-06 09:07] Sanjay-100 commented on #35217
@engcom-Delta I need all the cookies are secured need all cookies are secured. ticks.

You can see my expected result with some cookies are secured some of now secured but I want all of them secured.

[2022-04-06 09:43] engcom-Hotel commented on #35065
@magento give me 2.4.3-p1 instance

[2022-04-06 09:54] #32556 closed, assigned to nobody

[2022-04-06 09:59] koenner01 commented on #35199
I can append an additional problem to this ticket; We are running into a similar issue but for us it's caused by the `_populateForUrlGeneration` function in the observer mentioned by @HenKun

We are running multiple imports right after each other but they don't all contain the "vital fields" required for the observer.
[code]

If you ommit the url_key and/or name in the import data, faulty rewrites

[2022-04-06 10:03] Sanjay-100 opened #35273 "checkout_cart_add_product_complete magneto 2 events not trigger"
### Preconditions (*)

1.  mangeto 2.3.0
2.

### Steps to reproduce (*)

1. fresh new magento 2.3 instance
2. add this module's code  here is code  https://github.com/Sanjay-100/m2eventobserver

### Expected result (*)

1. when add to a cart button press on store front event should call and run the observer code

### Actual result (*)

1. when adding to cart button press need to run custom code on

[2022-04-06 10:03] plastikschnitzer commented on #8276
Same here, error is back in Magento 2.4.3-p1 …

[2022-04-06 10:07] Sanjay-100 commented on #35273
Summary of the issue: magneto 3 default evet\nt not able to use that
Information on your environment: magneto 2.3
Steps to reproduce : add the test modules code  https://github.com/Sanjay-100/m2eventobserver
Expected and actual results :  when adding to cart button press need to run custom code on that function.
page should be not reloaded. when I try to use *checkout_cart_add_product_complete * t

[2022-04-06 11:11] rpriya-sinha commented on #35273
@magento give me 2.4-develop instance

[2022-04-06 12:34] engcom-Delta commented on #35262
Hi @MargoKep ,
Thank you for raising an issue , We tried to reproduce the issue on Magento 2.4.3-p1 instance , in fact we are not able to reproduce same error , getting different error. Hence request to review the provided steps.
Actual results: "The stock item was unable to be saved. Please try again."

Test Results screenshots:
<img width="1440" alt="Screenshot 2022-04-06 at 5 35 39 PM" src="htt

[2022-04-06 12:40] MargoKep commented on #35262
Precondition: Version Magento-2.4.4 prerelease!!!  NOT 2.4.3
@engcom-Delta [engcom-Delta](https://github.com/engcom-Delta)

[2022-04-06 13:22] giacmir commented on #25142
@dvershinin I'm pretty sure that this is not the case, I'm seeing this across multiple environments.

[2022-04-06 13:48] nuzil commented on #35268
Hi @hemendraajmera
Can you please raise the issue on respective project?
https://github.com/magento/data-migration-tool/

also more detailes about the issue to reproduce will be great.

Closing here

[2022-04-06 13:48] #35268 closed, assigned to nobody

[2022-04-06 15:12] nthurston commented on #34887
@jordanvector @hostep Thank you, appreciate it.  We ended up just futzing around with the entity ids a bit to solve for that client, but I'll probably try patching next time around.

[2022-04-06 17:49] ashishc2503 commented on #2713
Hi, was anyone able to find a solution here? I'm hitting POST /carts/{cart}/items/{itemId} to add an item to the cart for a logged-in user with quote Id and qty in the request body. But I get a `"message": "Request does not match any route."` response.

[2022-04-06 19:54] amjadm61 commented on #34391
@magento give me 2.4-develop instance

[2022-04-06 20:49] leonhelmus opened #35274 "Async issue with store urls that are generated for sales mails wrong url"
### Preconditions (*)

1. Magento 2.4.3-p1
2. php 7.4
3. composer 2
4. mysql 8.0

### Steps to reproduce (*)

1. Create two store views
2. assing different urls to the created store views
3. Make sure sales_email/general/async_sending is enabled
4. Create orders in both store views (these should be created at the same time which means they are sending mails in the same queue of async sending)
5. u

[2022-04-07 01:27] engcom-Delta commented on #35271
Hi @schnere ,
Thank you for logging an issue , we tried to reproduce the issue on Magento 2.4.3-p1 instance , we could not reproduce it unfortunately .hence request to review the provided steps.
Followed steps:
1. Create an inventory source and assign it to a stock with the main website selected

<img width="1440" alt="Screenshot 2022-04-07 at 5 56 11 AM" src="https://user-images.githubusercontent

[2022-04-07 01:36] engcom-Delta commented on #34055
Hi @hostep ,

We have noticed that this issue has not been updated for a period of more than 14 Days and it was over as per last comment.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-04-07 01:43] engcom-Delta commented on #35175
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-04-07 01:43] #35175 closed, assigned to engcom-November

[2022-04-07 01:45] engcom-Delta commented on #35221
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-04-07 01:45] #35221 closed, assigned to engcom-November

[2022-04-07 01:47] engcom-Delta commented on #35230
We have noticed that this issue has not been updated for a period of more than 13 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-04-07 01:47] #35230 closed, assigned to engcom-November

[2022-04-07 04:22] vmishra341 commented on #35220
any update on this issue? any patch which we can use to resolve it?

[2022-04-07 05:36] Sanjay-100 commented on #35273
@rpriya-sinha.  the add to cart event not working with Magento modules  add this module's code here is code https://github.com/Sanjay-100/m2eventobserver you can use this one or your can try your code and share that code with me

[2022-04-07 05:48] engcom-Hotel commented on #35229
Hello @Sanjay-100,

Sorry but we are not able to get the comment you made [here](https://github.com/magento/magento2/issues/35229#issuecomment-1089926184). Can you please elaborate this?

Thanks

[2022-04-07 05:49] engcom-November commented on #35225
Hi @mlarsonbrianstoys ,
Thank you for reporting and collaboration. However we are not able to reproduce the issue on Magento 2.4-develop branch with provided steps. Kindly recheck the issue on Magento 2.4-develop branch as it is the upcoming 2.4.x release and elaborate steps to reproduce if the issue is still reproducible.
Thank you.

[2022-04-07 05:55] sunilit42 commented on #31219
@cdekkers
finally i found with mysql 8 , that is issue with /*!50100 TABLESPACE `innodb_system` */ ENGINE=InnoDB DEFAULT CHARSET=utf8

Table space should be :- innodb_file_per_table

If i convert table space with innodb_file_per_table then works fine and price reindex is also quick

Hope it will help you

[2022-04-07 06:00] hostep commented on #34055
@engcom-Delta: how did you not see my last comment? 😛

[2022-04-07 06:14] Sanjay-100 commented on #35229
@engcom-Hotel   Summary of the issue: I have to use the same search feature as of now storefront need to add into Magento modules  I added my code in a git repo https://github.com/Sanjay-100/magento2_search
Information on your environment: Magneto 2 with elastic search
Steps to reproduce : set up new magneto assistance from GitHub.
Expected and actual results: same as Magneto store front search re

[2022-04-07 06:25] bhargavsynoptek commented on #34576
I have the same issue in Magento 2.4.3 instance, once apply filter and then refresh the page, the filtered data shows wrong. any update on this issue?

[2022-04-07 06:30] csvikram44 opened #35275 "Minicart thumbnail image showing wrong size in frontend which is half of image size in XML file"
After upgrading Magento version from 2.3.5-p1 to 2.4.3-p1, I am facing the problem of minicart thumbnail size. I found that in the view.xml file, the width and height of half the size set for the minicart thumbnail shows in the frontend minicart.

**Note:** It works fine in my old Magento version that the size which is in view.xml file shows the width and height of the size in the frontend.

### P

[2022-04-07 07:14] Sanjay-100 commented on #34566
@engcom-Hotel   I am getting the same Error on Magento 2.3  with new setup installation

[2022-04-07 07:22] amanverma52555 commented on #30492
I have checked the same but now it works fine. Instead of being unassigned from parent composite products, it shows warning that Required custom options cannot be added to a simple product that is a part of a composite product"

[2022-04-07 07:23] amanverma52555 commented on #30492
I have checked the same but now it works fine. Instead of being unassigned from parent composite products, it shows warning that "Required custom options cannot be added to a simple product that is a part of a composite product"

[2022-04-07 07:45] engcom-Delta commented on #35259
Hi @jxn0326 ,

Thank your quick turn around, we tried to reproduce the issue as per provided steps , we found that issue is reproducible on magento 2.4 Develop with latest branch. Hence confirming it.

Steps followed:

1. Create a second Website
<img width="1440" alt="Screenshot 2022-04-07 at 1 06 20 PM" src="https://user-images.githubusercontent.com/51681379/162146139-32a3e2be-4d9b-40e4-a6bc-0c88

[2022-04-07 08:02] csvikram44 commented on #35275
@magento give me a 2.4-develop instance.

[2022-04-07 08:25] csvikram44 commented on #35275
@magento When will I get the update from your side?

[2022-04-07 08:43] csvikram44 commented on #35275
@magento give me a 2.4-develop instance.

[2022-04-07 09:01] yuriichayka commented on #34325
Hi @engcom-Bravo
Can you please try reproducing it again by the steps provided above?

[2022-04-07 09:05] engcom-Hotel commented on #34974
Hello @support-smartebusiness,

Thanks for reporting this issue!

We have tried to reproduce the issue in Magento 2.4-develop branch via making a plugin on Product collection. The issue is reproducible for us.

Hence confirming the issue.

Thanks

[2022-04-07 09:19] williambize commented on #35205
@engcom-Hotel

1. There was a problem in the .htaccess file... there was a `</IfModule>`   without `<IfModule>` . So I had to remove "</IfModule>" from one of the lines in the .htaccess file.

2. It appeared also that the cPanel account was not owning the folders and the files, so I ran the following command to make the user own the account, folders and files `chown -Rv username:username /home/use

[2022-04-07 09:22] justpeeet commented on #34318
We got the same issue. #35258 is not a fix for this issue

[2022-04-07 11:11] ArunRackron commented on #27949
php bin/magento deploy:mode:set production -s

php bin/magento setup:static-content:deploy -f

its working for me

[2022-04-07 11:22] ArunRackron commented on #27949
after that set developer mode :
php bin/magento deploy:mode:set developer

[2022-04-07 11:26] anki7d commented on #34472
Any Update on This Issue ?

[2022-04-07 12:29] ArunRackron commented on #27949
php bin/magento config:set dev/css/merge_css_files 0

its working for me

[2022-04-07 12:38] engcom-November commented on #35226
Hi @Danieleeffe1 ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2022-04-07 12:38] #35226 closed, assigned to engcom-November

[2022-04-07 13:08] ihor-sviziev commented on #35275
Hi @csvikram44,
That was a fix for the issue https://github.com/magento/magento2/issues/24735, so I believe everything is right there.

[2022-04-07 13:22] yaroslav-qlicks commented on #32554
@engcom-Hotel This is so stupid politics to close issue when no long reply. Devs are give you info how to improve and instead of making software better to just close issue. It means work of this guy gone. Never understand it

[2022-04-07 13:49] csvikram44 commented on #35275
@ihor-sviziev My problem is not with the blurry image. In MiniCart, a thumbnail image of half the size of the image entered in the XML file appears in the MiniCart.

**File path:**
`app/design/frontend/{Vendor}/{theme-name}/etc/view.xml`

`<image id="mini_cart_product_thumbnail" type="thumbnail">
                <width>75</width>
                <height>75</height>
            </image>`

**See bel

[2022-04-07 14:03] csvikram44 commented on #35275
@ihor-sviziev But why do I need to load a double-size thumbnail image? If I add 10 items to the mini cart then the page load will increase because it loads twice the size of images which is not correct. Also, it was running fine in the old version.

Is there any other reason behind doubling the image size?
**Note:** A developer will enter the size in view.xml that he wants to display on the fronte

[2022-04-07 14:07] csvikram44 commented on #35275
@ihor-sviziev I hope you understand my point properly. In my view, this is an issue and because of this, all developers will have to face this problem whenever they upgrade from the lower to the latest Magento version.

[2022-04-07 14:51] thijs-kuipers commented on #8251
Still broken

[2022-04-07 15:15] spraxis commented on #26896
Why is this closed? I'm still getting 0 left for configurable products on Magento 2.4.3-p1.

[2022-04-07 16:07] csvikram44 commented on #35275
@ihor-sviziev Thanks for the update.

I checked by uploading different images, and none of the images are getting blurred. But there are a lot of chances of loading issues increasing in speed on mobile when multiple product items are added. Please think about it one more time and update me.

[2022-04-07 16:24] ludo-mon-key opened #35279 "Catalog price rule not applied when customer adds VAT number at checkout"
We have noticed that if the "Configuring VAT ID Validation" is activated when a user adds a product to the cart to which a catalog rule is applied and enters a VAT number at checkout, the system disapplies the catalog rule.

### Preconditions (*)
Magento version 2.4.3-p1

### Steps to reproduce (*)
Important: By the way, this is the default issue in both Blank and Luma themes with sample data

1.

[2022-04-07 19:59] mbitson opened #35280 "Migration Tool conflict with 2.4.4 (Monolog)"
Unable to install the prerelease of Magento 2.4.4 while the Data Migration Tool is installed due to conflicting Monolog packages.

### Preconditions (*)

1.  Magento 2.4.3 installed
2. magento/data-migration-tool (latest, 2.4.3) installed
3. composer access to prerelease of 2.4.4

### Steps to reproduce (*)

1. composer require-commerce magento/product-community-edition 2.4.4 --no-update --interac

[2022-04-08 06:34] albsa commented on #34531
@kanevbg did you find any solution for it?

[2022-04-08 06:34] albsa commented on #34531
@kanevbg did you find any solution for it?

[2022-04-08 06:55] kanhaiya5590 commented on #34531
Hi @albsa and @kanevbg,

https://github.com/magento/magento2/pull/34606/files

do have look on solution which added for 2.3.7 version

[2022-04-08 07:26] kanevbg commented on #34531
@albsa since than I created patch and already using on production. Let me help you
[HD-MDVA-42269-1.zip](https://github.com/magento/magento2/files/8449566/HD-MDVA-42269-1.zip)

[2022-04-08 07:46] albsa commented on #34531
@kanhaiya5590 i tried multiple times yesterdya with that patch, but composer kept failing with applying the patch. @kanevbg I am trying your hotfix right now, hoping it works.

[2022-04-08 07:46] albsa commented on #34531
@kanhaiya5590 i tried multiple times yesterdya with that patch, but composer kept failing with applying the patch. @kanevbg I am trying your hotfix right now, hoping it works.

[2022-04-08 07:54] albsa commented on #34531
@kanhaiya5590 @kanevbg Now I keep getting that the You current session has expired when signing in. Cleared cache, history cookies, etc. Did you guys also had this issue?

[2022-04-08 07:54] albsa commented on #34531
@kanhaiya5590 @kanevbg Now I keep getting that the You current session has expired when signing in. Cleared cache, history cookies, etc. Did you guys also had this issue?

[2022-04-08 08:10] ludo-mon-key commented on #35279
@magento give me 2.4-develop instance

[2022-04-08 08:15] tux-rampage opened #35281 "Prices"
### Preconditions (*)
Magento version: 2.4.3-p1
Applied Patches:
 - MDVA-43395
 - MDVA-43443

1. Define a store Locale like de_DE
2. Define a **different** store currency than the locale's default (like CHF)

### Steps to reproduce (*)

1. Add products with actual prices to the catalog
2. Clear all caches
3. View a product in the store frontend
4. Add the product to the cart

### Expected result (

[2022-04-08 08:28] tux-rampage commented on #35281
This may be fixed with Commit 57a9adfd85dfe1a1235d91380f8d7580d5c49ec0

[2022-04-08 08:35] engcom-Hotel commented on #35229
Hello @Sanjay-100,

It seems that you need to create a new module in magento and implement the above functionality. For this please refer this [article](https://devdocs.magento.com/videos/fundamentals/create-a-new-module/).

Thanks

[2022-04-08 08:50] tux-rampage commented on #35281
It seems also be dependant on the system's `intl` library:

* php 7.4 on alpine (Docker-Image) is affected
* php 7.4 on Ubuntu 20.04 is not affected

[2022-04-08 09:27] numan201 commented on #34055
Running into same issue. Added `&& (int) $order->getTotalDue() == 0` to line 33 of [State.php linked by hostep](https://github.com/magento/magento2/blob/c901f760818228faaf72177a0601bb4258aa9eec/app/code/Magento/Sales/Model/ResourceModel/Order/Handler/State.php#L33-L45).

Just a temporary fix for our store. I think my int cast is not necessary. Thanks for pointing to the code snippet @hostep!

[2022-04-08 09:46] engcom-November commented on #35281
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible:
@tux-rampage  ,
This issue is a duplicate of https://github.com/magento/magento2/issues/33798. Similar https://github.com/magento/magento2/issues/33856 was fixed in the 2.4-develop branch in [ae304d4,](https://github.com/magento/magento2/commit/ae304d43cd36322b1ff8145d70c9b2e9aeb0cde) As a workaround, you could app

[2022-04-08 10:50] engcom-Hotel commented on #35065
Hello @bartoszkubicki,

We have tried to reproduce this issue in latest stable version of Magento i.e. 2.4.3-p1. We have also gone through with the link provided in the main description. The issue seems reproducible by looking into the code base as well as database structure.

Please have a look into the below screenshot of the `klarna_logs` table:
![image](https://user-images.githubusercontent.co

[2022-04-08 11:56] engcom-Alfa commented on #30264
Closing the issue based on the [comments here](https://github.com/magento/magento2/pull/30398#issuecomment-1092780083).

[2022-04-08 11:56] #30264 closed, assigned to nobody

[2022-04-08 11:57] NathanDayFE commented on #34318
Surely the issue here is that [`idn_to_ascii`](https://www.php.net/manual/en/function.idn-to-ascii.php) is the wrong function to use here as it is designed to convert domain names, not parts of an email address. would switching to [`iconv('UTF-8', 'ASCII', $user)`](https://www.php.net/manual/en/function.iconv.php) not be a better solution

[2022-04-08 12:09] Sanjay-100 commented on #35229
@engcom-Hotel   Yes I already build the modules but still, I am not able to perform the search into a plugin  can you please  see this code or provide me an article there has working search operation

https://github.com/Sanjay-100/magento2_search/blob/main/Observer/Searchdispatch.php

here demo modules code I build you can test this one  https://github.com/Sanjay-100/magento2_search

[2022-04-08 12:35] engcom-November commented on #35270
@magento give me 2.4-develop instance

[2022-04-08 12:48] engcom-Delta commented on #35070
Hi @jeremycharron ,
We tried to reproduce the  issue on Magento 2.4 Develop but we could not reproduce the issue .
Hence , It would be great help if you can make a video for reproducing it.

Test results :
<img width="1440" alt="Screenshot 2022-04-08 at 3 24 56 PM" src="https://user-images.githubusercontent.com/51681379/162438431-6cd02553-d51a-4383-8a23-d4e245e938be.png">
<img width="1440" alt="Sc

[2022-04-08 13:01] engcom-November commented on #35236
Hi @mtjweb ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue with provided steps.
As per [Magento docs](https://docs.magento.com/user-guide/tax/vat-validation.html)
VAT is charged if the merchant and customer are located in the same EU country.
VAT is not charged if the merchant and customer are located in different

[2022-04-08 13:09] MrJoshFisher opened #35282 "Subtotal on invoice not correct"
### Preconditions (*)
1. Magento Version: 2.4.0

### Steps to reproduce (*)
1. Add items to cart,
2. Subtotal does not match the total when items are added together.

### Expected result (*)

1. Subtotal to match the cost of the items

### Actual result (*)

1. When adding the subtotals of the items in screenshot the total is £790.87 but the subtotal states £659.06

---
![Screenshot 2022-04-08 140

[2022-04-08 13:41] Sanjay-100 commented on #26501
@seattletechworks Thanks a lot this will work for me.

I try to use that module but it was not working

[2022-04-08 14:41] jeremycharron commented on #35070
Hello @engcom-Delta ,

Here's a video with steps to reproduce. Thank you.
![block-identifier](https://user-images.githubusercontent.com/25036022/162459968-9060edd9-808e-4c3e-9eb5-4cdce942ac66.gif)

[2022-04-08 14:54] ludo-mon-key commented on #35279
https://github.com/magento give me 2.4-develop instance

[2022-04-08 15:06] plastikschnitzer commented on #35115
If certain page identifiers should be "reserved", their error message should be adapted and not direct in a direction of page identifier duplicates – which is also correct in some way but it won't help you finding the duplicate in your cms pages.