[2016-07-25 02:12] moloughlin commented on #5350
Updating the value suggested by @jasonyip2014 corrects my product editing issue as well, but I'm still trying to understand why this is necessary. The InstallData.php script for the catalog-staging module explicitly sets the created_in value of all existing products to `0`. As we've seen this destroys the ability to update products that existed prior to the 2.1 update, but is there a reason why th

[2016-07-25 05:00] Stylish015 opened #5786 "Importing products via the Magento Importer csv doesn't create path url's correctly"
Using Magento 2.1.0

Uploaded new products using the Magento Importer:
System -> Import

All products are uploaded correctly with no errors shown.

It doesn't generate the url paths correctly, for example the url from a category (on the frontend) is:
www.website-url.com//catalog/product/view/id/2154/s/product-name/category/5/

I expect the url path to be:
www.website-url.com/main-cateory/sub-categ

[2016-07-25 06:24] rcbharath opened #5787 "Cart item price and total mismatch issue"
Magento2.1 cart price mismatch issue
### Preconditions

1. Magento 2.1 community edition
2.
### Steps to reproduce

1. Add configurable product item to cart
2. Goto magento2 admin and change simple product(which is in cart) price
3. Now refresh frontend cart page. Item price updated to new price But total is not updated.
### Expected result

1. Porudtc price and total price should be same
### Actu

[2016-07-25 06:34] torayeff opened #5788 "REST API PayPal does not call setExpressCheckout method"
When making orders through REST API and selecting payment method **paypal_express** there is issue with invalid token.
### Preconditions

1. Magento 2.0.7
2. PHP 5.6.24
### Steps to reproduce

1) Create guest cart through REST API:
`Send POST request to http://example.com/index.php/rest/V1/guest-carts`

2) Add some product to cart:

[code]

3) Set shipping information:

[code]

4) Make payment:

[

[2016-07-25 07:35] zolthan commented on #5509
A fix would be highly appreciated!

[2016-07-25 08:09] prabhumano opened #5789 "Magento2.1 Setup Compile Error"
### Preconditions

Magento version : 2.1.0
Server : Ubuntu 14.04.4 LTS
### Steps to reproduce

 I felt Magento2 runs dead slow so i decided to check the mode, which has been set as default while installation itself. I tried to change production mode by entering the command
php bin/magento deploy:mode:set production
### Expected result

Mode should set as production.
### Actual result

Getting run

[2016-07-25 08:26] #5698 closed, assigned to almarchenko

[2016-07-25 08:32] victorgugo commented on #3293
@astorm sorry for misunderstanding. Tests were also delivered to main develop branch by DOD. Unit tests that reflected changes:

Magento/Developer/Test/Unit/Model/View/Asset/PreProcessor/FrontendCompilationTest.php
Magento/Developer/Test/Unit/Model/Config/Backend/WorkflowTypeTest.php
Magento/Developer/Test/Unit/Block/Adminhtml/System/Config/WorkflowTypeTest.php
Magento/Framework/App/Test/Unit/Conf

[2016-07-25 08:51] juanmrad commented on #5771
I have the same problem.

I am using:

[code]

[2016-07-25 08:58] kweij commented on #5698
Thanks, this confirms I did it right :)

[2016-07-25 08:59] NZLNick commented on #2966
Thanks Polyperformance.  Hadn't thought of the obvious and asking the host !!

[2016-07-25 09:04] ovedmo commented on #2966
וi try different host, it act the same!!

On Jul 25, 2016 12:00 PM, "NZLNick" notifications@github.com wrote:

[2016-07-25 09:08] Onkovat commented on #5706
Maybe those missing files do not belong to the real static content like the require_js- folder in pub/static? It does not get deleted when deleting static content cache so maybe those files would not be created by deploying and the error lies in the engine that handles code files?

[2016-07-25 09:12] antonkril commented on #5777
Good catch, @jacquesbh.

The bigger issue we're moving from is that we're loading customer session. We did couple code modifications that bring us closer to the state when we will be able to not load customer session on generic data requests (not private data) at all.

We will investigate your scenario of customer loading.

[2016-07-25 09:42] andimov commented on #5260
According to contributor guide, tickets without response for two weeks should be closed.

[2016-07-25 09:50] irenelagno commented on #4133
@BorysMiller . I don't have an ability to reproduce this issue on current develop branch. I created 3 files: registration.php, composer.json, and etc/module.xml. Could you provide more details about your issue?

[2016-07-25 09:56] anton-huz commented on #2697
Hi @bonsdawende,
please investigate your issue more deeply. Magento app should works well with Cloudflare CDN.
Check your setting in Cloudflare account [`https://www.cloudflare.com/a/performance/google.com`](https://www.cloudflare.com/a/performance/google.com):
`Speed > Auto Minify >[ ] HTML` should be unchecked.

[2016-07-25 10:30] bartoszkubicki commented on #4896
same here on 2.1, disapperas when var/di is deleted manually.

[2016-07-25 10:49] nmallepally commented on #5099
Hi ,
Sorry for delay, i was trying to update to magento 2.1 it freezes again and i rolled back to 2.0.7 due to incomplete upgrade, when i click on web setup wizard , it still shows me a freezed output page.(attaching an image for reference)
![freezes websetup wizard](https://cloud.githubusercontent.com/assets/19605497/17099047/c674a802-525d-11e6-8cf3-c03d0fa62afa.png)

I ran crontab, here is the r

[2016-07-25 11:01] kanduvisla commented on #4394
This still occurs in 2.1

[2016-07-25 11:03] onakonechna commented on #5679
Description and Short Description are inside of Content collapsible panel

[2016-07-25 11:04] antboiko commented on #5509
Hi @rorteg , thanks for reporting. We've created internal ticket MAGETWO-55900 to fix this.

Best,
Anton.

[2016-07-25 11:07] adnan-jamil opened #5790 "Issue with response of getting Shipping Method"
http://www.example.com/rest/default/V1/carts/mine/estimate-shipping-methods-by-address-id

from this Webapi, i'm getting response null, if there is permission issue you can guide me.

thanks

[2016-07-25 11:22] zolthan commented on #5596
Same here. The Analytics Code is just missing in the source code of the rendered page.

 A fix would be highly apperciated!

[2016-07-25 11:31] onakonechna commented on #5615
'Reset' button resets input fields values, not reloads the page. Change any field, then press 'Reset' - it must return value to its saved state

[2016-07-25 11:56] atIOCrON commented on #5565
@antboiko Am I correct in assuming that you followed the steps and were unable to reproduce?

[2016-07-25 12:02] duhon commented on #5709
Thanks for reporting @vipin-eglobeits

Unfortunately, I was not able to reproduce the issue you described.
Could you please provide more information? Like versions of PHP, MySQL and web server.
Also, it can be helpful if you describe settings of your Magento instance: was it a fresh install or upgrade from the previous version?
Do you have many store views? Maybe some other settings.

[2016-07-25 12:23] kanduvisla commented on #4795
I have this issue as well in 2.1

[2016-07-25 12:26] SerhiyShkolyarenko commented on #5747
@springimport to declare custom attribute to interface please look through http://devdocs.magento.com/guides/v2.0/extension-dev-guide/attributes.html
You can find examples at code/Magento/GiftCardAccount/etc/extension_attributes.xml and code/Magento/Quote/etc/extension_attributes.xml

For examples of payload please refer to http://devdocs.magento.com/swagger/index.html =>
salesOrderRepositoryV1 =>

[2016-07-25 12:30] duhon commented on #5707
Thanks for reporting this issue.

We've created internal ticket MAGETWO-55910 to fix it.

[2016-07-25 12:32] jacquesbh commented on #5777
Here a simple `if` should do the job I think.

[code]

It seems that this simple condition should do the job because in the case we load a customer with an id `null`, it should result as the same customer without loading… right?

[2016-07-25 12:35] nomuprive opened #5792 "Categories Moving Error, Magento 2"
We been having issue moving and re-arranging Magento 2 categories. Each time we try to move a category we get the error, "There was a category move error. URL key for specified store already exists." Please check error screenshot here... http://prntscr.com/bx8zir

Thanks!

[2016-07-25 12:56] lhsatch commented on #5183
I have inspected the Code in the Format.php file and the $localeData isn't returning anything/
$localeData = (new DataBundle())->get($localeCode); //$localeData is empty

[2016-07-25 13:05] hostep commented on #5596
A quick fix is to copy the file:
`vendor/magento/module-google-analytics/view/frontend/templates/ga.phtml`
to your own theme:
`app/design/frontend/{Vendor}/{theme}/Magento_GoogleAnalytics/templates/ga.phtml`

And then replace this line:

[code]

with:

[code]

Watch out, this will _always_ output the GA code, even if the user hasn't accepted the cookie message. I'm ok with this, but you should pro

[2016-07-25 13:33] Part-A commented on #5430
I to am having this same problem. Additionally, because the Customer Group is not stored, special pricing and tiered pricing is not applied appropriately.

[2016-07-25 13:33] lucas-santos-chaordic commented on #5770
Yes... It only happens on "Catalog Rule Product" index. The others are working properly....

[2016-07-25 13:36] duhon commented on #5565
Thanks for reporting this issue.
Unfortunately, I was not able to reproduce the issue you described.
Could you please provide more information? Like versions of PHP, MySQL and web server.
Also, it can be helpful if you describe settings of your Magento instance: was it the fresh install or upgrade from the previous version?
Do you have many store views? Maybe some other settings.

[2016-07-25 13:50] j1nx3d commented on #5645
@malaiselvan did you added an attribute to the Advanced Pricing Group?,
You can do it from the attribute set admin panel. I think you need at least one attribute, I left on that group `special_price`, `special_from_date` and `special_to_date`.

I also added the group from the admin panel, did you create the Advanced Pricing from the panel or directly on the database?

FYI on my database the `tab_g

[2016-07-25 13:52] lhsatch commented on #5183
If I set $defaultset to self::$defaultNumberSet; then it works.

[2016-07-25 14:01] duhon commented on #5705
Thanks for reporting this issue.
Unfortunately, I was not able to reproduce the issue you described.
Could you please provide more information? Like versions of PHP, MySQL and web server.
Also, it can be helpful if you describe settings of your Magento instance: was it the fresh install or upgrade from the previous version?
Do you have many store views? Maybe some other settings.

[2016-07-25 14:09] duhon commented on #4439
Hello @davidwalsh

Please create a separate ticket for other issues and provide detailed steps

[2016-07-25 14:17] senthilengg commented on #4795
Have the same issue with 2.1 fixed with a `'Vendor_TempSetupDiCompileFix'`

[2016-07-25 14:48] springimport commented on #5747
I have `Vendor\OrderAttributes\etc\extension_attributes.xml`

[code]

[code]

[2016-07-25 14:58] jacquesbh opened #5793 "Unnecessary load of product in the product page"
On a product page, the product should be loaded once. Right? ;)

But the product's ID is given as argument instead of the product itself (the interceptor in that case). Which results in a new load of the product (already done on the product page…).

The problem is there: https://github.com/magento/magento2/blob/2db9e0f17f54368945/app/code/Magento/CatalogInventory/Block/Stockqty/AbstractStockqty.ph

[2016-07-25 15:29] j1nx3d commented on #1549
I received the same error when use `$this->_objectManager` on a Custom Model.
I instantiate the `ObjectManagerInterface `on the construct, something like this:

[code]

This solves my issue **We're sorry, an error has occurred while generating this email**, I don't know if is ok to do it like this.

FYI:
I'm using a fresh Magento 2.1 Installation by composer, nginx 1.10.1 and php fpm 7.0.6

[2016-07-25 15:40] saadjawaid opened #5794 "Magento dataflow profiles import isnt working"
Hi Im trying to import products to magento store by dataflow profile, import all products. For safe side, I exported all products from dataflow profile, and than I edited that exported sheet, so that no fields are misplaced. When I import all products from dataflow profile, it stays on 0% process and doesnt increase. Im using magento 1.8.1.
After this, I installed magento on my localhost, and inst

[2016-07-25 16:06] astorm commented on #3293
@victorgugo Thank you!  What's DOD?

[2016-07-25 16:10] BenGlassAtlas commented on #3293
@astorm According to the docs it's 'definition of done' - http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing_dod.html

[2016-07-25 16:13] astorm commented on #3293
@BenSpace48 Thanks!  That's the first time I'd heard the term.

/cc @piotrekkaminski w/r/t developer experience, seeing/knowing the "DoD" for a closed ticket would be super useful, and go a long way towards understanding how particular issues were solved.

[2016-07-25 16:15] RUjmiak commented on #4795
@mazhalai do you have sollution for this?

[2016-07-25 16:52] kandy commented on #5777
I believe that it is error when getCustomer method called when getCustomerId == null

[2016-07-25 16:57] jacquesbh commented on #5777
Sorry @kandy but I don't see where the error is. Can you enlight me?

[2016-07-25 17:05] YevSent commented on #5735
Each payment has `Debug` option.

[2016-07-25 17:12] Laura021 commented on #4172
Using **sampledata:deploy** & **setup:upgrade** is not a real solution.

I am using the sample data from ZIP  because I need to add my own custom sample data.

I followed the instructions from [devdocs](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-sample-data.html)  and during the  **setup:upgrade** I get the same error:

`
  [ReflectionException]
  Class Magento\Cata

[2016-07-25 17:20] piotrekkaminski commented on #5777
cc @choukalos

[2016-07-25 17:22] wert2all commented on #5350
Thank you for response, internal ticket MAGETWO-55944 was created.

[2016-07-25 17:22] wert2all commented on #5350
Thank you for response, internal ticket MAGETWO-55944 was created.

[2016-07-25 17:37] piotrekkaminski commented on #3293
@astorm this is for contributors: http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing_dod.html
The internal one is pretty much same just reviews are done within or across teams.

[2016-07-25 18:16] choukalos commented on #5793
Tracking internally as MAGETWO-55946

[2016-07-25 18:19] choukalos commented on #5785
Tracked as (MAGETWO-36855) internally when we apply the new enhanced data grid to products.  Sales, Customer and CMS are the new enhanced data grids.

[2016-07-25 18:29] choukalos commented on #5739
Hi @MrSena,

What product creation api response time are you looking for?
How many products are you trying to sync at one time (assume initial sync)?
Have you used the scheduled import/export function in Enterprise edition?  If that could be defined via XML for an extension would that address your need?

Thanks,
Chuck

CC'ing @mbrinton01

[2016-07-25 18:47] choukalos commented on #5676
Why are you asking for this - is the primary purpose to improve performance?  Or is there another purpose?

If performance and we can save significant time by not re-compiling something, shouldn't we just automatically detect and skip if at all possible?  Would that work or as mentioned above there's another reason for keeping exclude patterns?

I'm tracking improvements in compiler performance in

[2016-07-25 18:52] astorm commented on #3293
Thank @piotrekkaminski -- did you miss my questions/suggestion that the DoD artifacts (tests, etc.) should be shared when a ticket was closed? Or was no response a response :)

[2016-07-25 18:58] piotrekkaminski commented on #3293
@astorm oh i just misunderstood your question then. So you would like to get links to not only commit but also artifacts when task is closed?

[2016-07-25 19:01] davidalger commented on #4172
@Laura021 Please do not comment on closed issues. If you are encountering a bug, please open a new issue with a complete description and steps to reproduce following the format of the example. You can do this by clicking "New Issue" above on the right.

[2016-07-25 19:02] davidalger commented on #5794
The GitHub issue tracker is intended for technical issues with Magento 2 only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions or issues with Magento 1.

[2016-07-25 19:02] #5794 closed, assigned to nobody

[2016-07-25 19:03] Whaaaaat opened #5796 "FedEx shipping message "Sorry, no quotes are available for this order at this time""
I'm using Magento 2.1, and have configured Fedex shipping method.
When checkout whatever address I enter I get the following message:
"Sorry, no quotes are available for this order at this time"
I have inspected the checkout page and I found the following error:

https://www.mymagento2.1.com/rest/default/V1/guest-carts/e80a7c5c6a5671c5e5375fbd587e8012/estimate-shipping-methods 500 (Internal Server

[2016-07-25 19:16] hostep opened #5797 "[2.1.0] module:uninstall can remove code it uses itself"
### Preconditions
1. Figure out a way to travel back and forth in time (I added some _hints_)
2. We use `composer` version 1.1.3 by adding this to our composer.json file: `"composer/composer": "1.1.3 as 1.0.0-beta1",`, due to [another bug](https://github.com/magento/magento2/issues/4359#issuecomment-225115951), but I think it won't really matter which version is being used
3. PHP 7.0.9
4. Magento

[2016-07-25 19:23] juanmrad commented on #5462
I have the same problem and it is when the user is login.

[2016-07-25 20:10] EugeneVdovenko commented on #5309
I have same trouble after updare. Change php-settings and value in db work for me

[2016-07-25 20:22] flnative commented on #5020
Same issue for me.

[2016-07-25 22:17] Ctucker9233 commented on #5762
@etessari correct me if I'm wrong, but configurable products are meant to have sub-products (aka Child). So what you are describing is not a bug, just the program letting you know that a configurable product must have sub-products.

[2016-07-25 22:22] ntoombs19 opened #5798 "Configurable product price changes affect all elements with the class 'priceBox'"
### Preconditions

Magento version 2.0.6 CE
### Steps to reproduce
1. Create a configurable product with options that, when selected, can change the final price.
2. Set upsell/crossell/related products on this configurable product. The idea is to get several elements on the page that have the class 'priceBox'.
3. Navigate to that product on the frontend and review all the prices on the page.
4. Se

[2016-07-25 22:24] malaiselvan opened #5799 "Upgraded from 2.0.7 to 2.1.0 - Saving Customer goes blank"
Upgraded Magento 2.0.7 to 2.1.0.  Clean the cache and index has been rebuilt.  After upgrade, I just edited a customer and tried to save and blank page appears.  No problem for adding a new customer.  The problem is only for editing and saving an existing customer.
### Preconditions
1. Upgrade from 2.0.7 to 2.1.0
2. fyi, it was migrated using data migration tool from 1.9.0.1 to 2.0.2
### Steps to

[2016-07-25 22:37] malaiselvan opened #5800 "Upgraded from 2.0.7 to 2.1.0 - Frontend Product goes to 404 error with CRITICAL: exception 'ReflectionException'"
Upgraded Magento from 2.0.7 to 2.1.0.   When the product is clicked on the front-end, the detail pages goes to 404 page not found.  In the exception it got the below error

[code]
### Preconditions
1. Upgraded Magento from 2.0.7 to 2.1.0
2. fyi, it was originally migrated from 1.9.0.1 to 2.0.3 and to 2.0.7 and now 2.1.0
3. PHP 5.6.23 (cli) (built: Jun 24 2016 07:07:36)
### Steps to reproduce
1. Cl

[2016-07-25 22:50] malaiselvan opened #5801 "Upgraded from 2.0.7 to 2.1.0 - View Order - Exception occurred during order load"
Magento 2.1.0 throws error `Exception occurred during order load` when trying to view a single order from admin side.

[code]
### Preconditions
1.  Magento 2.1.0, PHP 5.6.23
2. Upgraded from 2.0.7 to 2.1.0
3. fyi,  it was originally migrated from 1.9.0 to 2.0.3 using data migration tool
### Steps to reproduce
1.  Upgrade 2.0.7 to 2.1.0 using command line
2.  Click on Sales -> Orders
3.  Click on s

[2016-07-25 23:02] malaiselvan opened #5802 "Upgraded from 2.0.7 to 2.1.0 - Exception while editing a migrated product"
Migrated the Magento from 2.0.7 to 2.1.0 using command line.  When a product is edited from the back-end it thows the below exception

[code]
### Preconditions
1. Magento 2.1.0, PHP 5.6.23
2. Upgraded from 2.0.7 to 2.1.0
3. fyi, it was originally migrated from 1.9.0.1 to 2.0.3 and then migrated to 2.0.7
### Steps to reproduce
1. Migrate from 2.0.7 to 2.1.0
2. Click on Catalog and Products
3. Click

[2016-07-25 23:13] docus commented on #4795
@hostep fix works, thanks a lot.
Magenta 2.1 CE

[2016-07-25 23:21] bonsdawende commented on #2697
Hi @Anton,
Thanks for you reply. I have already done it, but nothing changes. It
doesn't work unfortunately.

​
Do you have other ways ?

2016-07-25 11:56 GMT+02:00 Anton Guz notifications@github.com:

[2016-07-26 00:00] ghost opened #5803 "[2.1.0-ce] Role Resources not selectable"
### Preconditions
1. CE 2.1.0, php 7.07, ubuntu 14.04, either Firefox or Safari latest stable version.
### Steps to reproduce

1. Login to Admin
2. Create and save a new user role.
3. Attempt to select appropriate resources for that role
### Expected result
1. Role resources should be displayed and selectable and savable.
### Actual result
1. No role resources are shown, selectable, or savable.

!

[2016-07-26 02:47] spencerthayer commented on #5234
Same problem here.

[2016-07-26 03:27] kubjnit commented on #5539
@Ctucker9233 I used Magento version 2.0.9. I try reference to Block "category.products.list" to add custom block but in template no support calling renderer children blocks.

[2016-07-26 03:37] acidreian666 commented on #1823
+1 @rklerck I have been attempting to add 180,000 products via Csv.. only success is to break up the file into 60k products in each csv file. Then to remove them via select All products then "Delete" Takes like you said almost days.. the Feature for importing Products for Magento2 is a Fail. Magmi was there to save the day for Magento 1.9 and you would think they would have Fixed the Product Add/R

[2016-07-26 06:01] wangyonglin opened #5804 "magento2 Catalog not showing in Frontend"
Magento2 Catalog not showing in Frontend？

[2016-07-26 06:19] coolocean commented on #5763
<img width="393" alt="screen shot 2016-07-26 at 11 47 54 am" src="https://cloud.githubusercontent.com/assets/13269053/17127940/d8bee8d2-5326-11e6-9c68-f4037f6e0d33.png">

As can be seen in the screenshot. Cart shows 1 item but there are 2 items added to the cart.

[2016-07-26 07:59] 4DallasC commented on #3650
Hello @MomotenkoNatalia

While you're at it. When we select the site language in the "Locale Options" in the system configurations to Locale "English (Australia)", it changes the site language to en_AU in the frontend but the admin is still in en_US. This means we need to deploy both en_AU and en_US, the en_AU for the frontend and the en_US for the backend. This takes along time, and if we can't c

[2016-07-26 08:01] basselalaraaj opened #5805 "The possibility to use html in the translations"
The translation module is converting special characters to HTML entities when saving the translations. By moving the converting method to a separate public function, it will be possible to create a plugin, if someone wants to use html code in the translations.

[2016-07-26 08:24] 4DallasC commented on #3650
Hello @slavvka

Also as a side note, the upgrade/deployment/compilation process can take considerable time. For production systems that also compile the code, it's taking nearly/over an hour to complete.

Can you make the deployment process to enter the developer mode rather than the maintenance mode, where the site can operated with the raw css/less and without the generated/compiled files while

[2016-07-26 08:35] flipflap commented on #5568
Hi, I do have the same issue while installing an Extension on Magento 2.0.7.  I checked my permissions and it should be correct. error_log doesn't show anything. Where can I find system.log and debug.log??

I found the log files in var/log, but there is nothing logged about this error.

Backups are stored in var/backups and it stops at around 220 MB

[2016-07-26 08:37] peec opened #5808 "[2.1.0] Problem on mobile when catalog gallery allowfullscreen is false"
This is repost of #2818 since that one got closed due to incorrect bug report guidelines. I have the same issue.
### Preconditions
1. Magento 2.1.0 GA
2. PHP 7.0.3
3. MySQL 5.6
4. Linux Mint
5. Tested in browser: Chrome latest ( mobile view )
### Steps to reproduce
1. In theme's view.xml, set gallery's allowfullscreen variable to false.
2. Flush cache and static files.
3. Go to a product page with

[2016-07-26 08:41] thanh-taro commented on #4767
In my case, the solution is make a plugin for `Magento\Framework\Data\Collection\AbstractDd::getSize`

[code]

[2016-07-26 08:56] tecjam opened #5809 "[2.1.0] underscore in site url breaks admin redirect - The page isn't redirecting properly"
### Preconditions

My test system:

[code]
### Steps to reproduce

Create a local url `local.magento2_test` in /etc/hosts:

`127.0.0.1       local.magento2_test`

and create a  `/etc/apache2/sites-available/magento2_test.conf` with the following contents:

[code]

Enable the site with `sudo a2ensite magento2_test.conf` and restart apache2 `sudo service apache2 restart`.

Now go to your web root di

[2016-07-26 08:59] farior opened #5810 "Admin new order: 'Recently Viewed Products' has 0 price value"
### Preconditions

1. Magento 2.0.7 with sample data
### Steps to reproduce

1. Create customer
2. View products
3. Go to admin area > Sales > Orders > Create New Order > Choose Customer > Choose Store
4. Recently Viewed Products in sidebar has 0 price
### Expected result

1. Recently Viewed Products will display correct prices
### Actual result

1. ![5060d7b27a](https://cloud.githubusercontent.co

[2016-07-26 09:10] sumihiro commented on #5101
Facing the same problem with Magento 2.1.
And solved @hostep's PR. thx.

[2016-07-26 09:15] krejcif opened #5811 "wysiwyg is destroying inline styles"
### Preconditions

1. M2.1 CE & EE
### Steps to reproduce

1. Create CMS block or CMS page
2. Disable Editor
3. Insert content

[code]
1. Enable editor
### Expected result

`<div style="background: url('{{media url="whatever.jpg"}}');">&nbsp;</div>`
### Actual result
1. `<div style="background: url('{{media url=;">&nbsp;</div>`
2. It can destroy look of all page in some conditions

### Note

If yo

[2016-07-26 09:47] danslo opened #5812 "Shipping address observable isn't complete for guests."
In checkout, we can subscribe to shippingAddress observable. Something like:

[code]

This works fine for logged in users, but the `address` object will be very incomplete for guests.
### Preconditions
1. Magento 2.1, likely lower versions affected too
### Steps to reproduce
1. Create a component that subscribes to shippingAddress observable as seen above.
2. Go through checkout process as a Guest

[2016-07-26 09:48] connectjames opened #5813 "Grouped Products - VAT included not working"
### Preconditions

Environnement developer

1. Magento 2.1
2. PHP 7.0.6
3. Ubuntu
### Steps to reproduce

1. Create a grouped product
2. Select in config/tax, display price excl and incl VAT
3. When looking in the frontend both excl and incl price are the same
4. When looking a simple product the VAT excl and incl works
5. Example on this page: http://www.longstonetest.xyz/pneumatici-auto-d-epoca/

[2016-07-26 09:49] tadhgbowe commented on #5764
Issue resolved. For some reason it was not picking up the correct mappings for some of the tables. I cleared all the databases to begin again, restarted the data migration process, carefully adjusted the config.xml file to take on board only what I need to migrate - and it worked. So all is well.

Please ignore. Case closed.

[2016-07-26 09:49] #5764 closed, assigned to nobody

[2016-07-26 09:55] danslo commented on #5812
Another thing worth mentioning is that these values _do_ get properly set when page is refreshed.

[2016-07-26 10:02] belovanton commented on #5309
I have same trouble after update.

[2016-07-26 10:06] stevewinni commented on #3616
I also only have Flat rate shipping turned on, and we are experiencing the same issue. debug.log and exception.log throw no insights.

Anyone got any ideas how to debug this one....
![screen shot 2016-07-26 at 11 05 51](https://cloud.githubusercontent.com/assets/2544348/17134150/efce8542-5320-11e6-85be-f584bde30e16.png)

[2016-07-26 10:06] robinhuy commented on #4994
About Quick Edit, I found that it does not check user's permission like Edit page.
Example, I don't have **Magento_Cms::save** permission but I can Edit the page in Quick Edit.

[2016-07-26 10:08] ghost commented on #5608
I am also facing same issue in table rate shipping.
It is working fine with registered customer but only with guest user it is not updating shipping methods based on address and zip code changes.

[2016-07-26 11:08] danslo opened #5814 "Shipping method subscriber callbacks are called twice"
In checkout, we can subscribe to shippingAddress observable. Something like:

[code]

However, this callback is executed twice when selecting a shipping method. This can cause issues with double AJAX calls for custom components.
### Steps to reproduce
1. Create a component that subscribes to shippingMethod observable as seen above.
2. Go to the checkout and click on a shipping method.
### Expected

[2016-07-26 11:09] flipflap opened #5815 "Click on Backup fails (Magento 2.0.8)"
### Preconditions
1.  Magento 2.0.8
### Steps to reproduce
1.  Klick on System Backups
### Expected result
1. Page to do Backups will open
### Actual result
1. Error Message
   Item (Magento\Framework\DataObject) with the same id "1469529628_db" already exist

[code]

[2016-07-26 11:19] orlangur commented on #5793
There is no need to pass product model anywhere actually, just product repository should be used to obtain product model instead of legacy `load` call.

[2016-07-26 11:27] ninex opened #5816 "Unable to void an order due to not using the payment method instance to check canVoid."
### Preconditions

1. Magento 2.0.7
2. PHP 7
3. MySQL 5.6
### Steps to reproduce

1. Create payment method with $_canVoid = true;
2. Place order
3. Navigate to Sales order grid and open order
4. Notice void button is not present
### Expected result

1. When $_canVoid is set to true you should be able to void an order.
   <img width="1123" alt="screen shot 2016-07-26 at 13 22 10" src="https://cloud

[2016-07-26 11:29] Styopchik commented on #5705
php version: PHP 5.6.22-0+deb8u1
mysql  Ver 14.14 Distrib 5.6.31, for Linux (x86_64)
Server version: Apache/2.4.10 (Debian)
Magento install from zip archive, downloaded from magento site.
There is only one store view. That's all

[2016-07-26 11:48] nmallepally opened #5817 "Errors on updating to magento 2.1 from 2.0.7"
changed the fabpot/php-cs-fixer to friendsofphp/php-cs-fixer
composer  require magento/product-community-edition 2.1.0 –no-update
composer update
rm -rf ./var/cache ./var/generation ./var/page_cache
php bin/magento setup:upgrade

Then i see a list of errors, when i login into admin (attached an image for reference)
It knocked off all products, widgets and static blocks i added on the website. Give

[2016-07-26 12:33] nmohanan opened #5818 "Magento contact form not showing success message in front end"
please fill the details with the contact form and submit it. it will successfully submit but the success message wont be shown in frontend.

[2016-07-26 12:46] ghost commented on #5750
Well, now I feel stupid. If you are running OPCache on your server, please be sure to set the opcache.save_comments to 1 in your opcache.ini file, otherwise (if you were keen to optimize when installing and set it to 0) comments are stripped that Magento 2 requires, as shown in the generated ExtensionAttributesFactory file (checks against getDocComment()).

I hope that points anyone else in the ri

[2016-07-26 12:46] #5750 closed, assigned to nobody

[2016-07-26 13:02] abdulsofts commented on #5568
Hi @flipflap,

You can instead find some error logs in the web server log file location i.e., var/log/apache2...

Also, to resolve this issue:
1. Manually backup the code base files and database.
2. Uncheck the database backup and code backup while installing the theme.

Your upgrade should succeed now.

Thanks,
Abdul

[2016-07-26 13:08] skovalenk commented on #3697
We cannot reproduce Issue MAGETWO-52817 on last mainline commit

[2016-07-26 13:08] #3697 closed, assigned to choukalos

[2016-07-26 13:23] saurabhjain929 commented on #2340
<field id="connection_settings_header" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Connection Settings</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
</field>

Hello,
Your Field type is wrong you can change this code.

Change type="label" to

[2016-07-26 13:31] rikterbeek opened #5819 "Add 3D secure command or make executeCommand protected"
Hi,

For an 3D secure payment(creditcard) on Adyen (payment provider) you first do a Authorization call to authorize the card. If the card is enrolled for 3D secure the shopper is redirected to the bank page where he can authentication himself. After authentication the shopper comes back to the shop and a second API call needs to be done to validate the 3D secure payment. The nicest way to do this

[2016-07-26 13:54] bjoern-quast opened #5820 "js validation messages translation not working in customer account"
### Preconditions
1. Magento CE 2.1.0 without sample data is installed.
2. Splendit Internet's mage2-locale-de-de is installed
3. A custom language pack is installed for de_DE
### Steps to reproduce
1. Add translation to custom language pack:

1. Log in as customer in the German store
2. Under "change password", enter fewer than the required symbols
### Expected result
1. Message that appears:

##

[2016-07-26 14:07] antonlazarchenko commented on #3025
I confirm that Peter Japp's solution doesn't works for me too.
I have two custom blocks and one custom widget at home content page.
Sendmail is fake.

[2016-07-26 14:10] ClaudiuCreanga commented on #3650
@4DallasC  you can change the locale of the admin theme quite easily with a module. I think it is desired to have a default locale for backend. I don't know why it would take that much for you, but for us it takes 10 minutes to run tests and deploy.

[2016-07-26 14:28] ludwig-gramberg opened #5821 "Documentation-Issue: How to configure Cronjob when running magento2 on multiple Frontends"
Hi, this is more of a question, but i could not find answers on the net.

When running Magento 2 on multiple frontend nodes is it enough to have one node run the magento-cron? or do all nodes have to do that?

imho, anything in cron that affects the database only, can run on one node, but stuff that involves local files, for instance synching media to disk from the db (does cron even do that?) wou

[2016-07-26 15:07] joebusby commented on #5735
Okay.  Thanks.  In looking for the Debug option, I found "Transfer Cart Line Items" and disabling that made the problem go away.  When I get some time I will enable it and post the debug log.  It seems checkout is faster with out the line items transfer anyway.

[2016-07-26 15:16] pboisvert commented on #5804
@wangyonglin Please provide more details following the template for reporting issues including the version you are using, how installed, and what steps are needed to reproduce the issue.

[2016-07-26 15:21] choukalos commented on #1823
Hi @rklerck

What version of Magento are you using?
Did you use REST API to delete the entire catalog ( i.e. all 85k products )?
Is your use case the need to delete the entire catalog quickly - for what reason?  Is this a merchant use case, why?
Do you have merchant use cases where you'd only want to delete portions of the catalog?  What time to do so would you expect?

Thanks,
Chuck

[2016-07-26 15:35] springimport commented on #5747
I solved this problem upgraded magento to 2.1.0.

[2016-07-26 18:27] liquidia commented on #5479
Same issue with stripe extension http://store.cryozonic.com/magento-2/stripe-payments.html(only tested in tested mode)

Though stripe account shows successful transaction
**Firebug errors:**
`failed to load resource: the server responded with a status of 400 ()`
`rest/default/V1/guest-carts/85347343e5e98bfd2b34353439f01/payment-information 400 ()`
`.../rest/default/V1/guest-carts/854453794533s061d

[2016-07-26 19:31] rashidio commented on #4921
Where is this store configuration? Can't find in 2.1 ee backend.

[2016-07-26 19:44] skhell opened #5822 "Cannot edit BLOCKS - Class BlockGridDataProvider does not exist"
### Preconditions

1. PHP 7.0.6
2. MySQL CE 5.6.30
3. Magento 2.1.0
### Steps to reproduce

1. Login to the backend
2. Click on Content --> Blocks from sidebar
### Expected result

1. Open the block page
### Actual result

![screen shot 2016-07-26 at 23 17 45](https://cloud.githubusercontent.com/assets/20488700/17155874/3d4ad6d4-5387-11e6-9ced-de90994918a3.png)
### Things I have tried to solve the

[2016-07-26 20:46] sharath-kumar commented on #5418
I ran into the exact same issue, when running an product image bulk import.

![image](https://cloud.githubusercontent.com/assets/5579315/17154816/338ea236-5348-11e6-903e-75cf1d35e986.png)

**Here's how I went about resolving it:**

-- Identify if there are any duplicate product entries in the cataloginventory_stock_item table
_select product_id , count(1) from cataloginventory_stock_item
group by

[2016-07-26 20:52] m0zziter commented on #4966
Wanted to chime in here and say we were experiencing the exact symptoms and in our case it was a third party module.

Specifically this one: https://github.com/YotpoLtd/magento2-plugin

Long story short [this line](https://github.com/YotpoLtd/magento2-plugin/blob/master/Yotpo/Yotpo/view/frontend/layout/default.xml#L29) was the issue. When cacheable is set to false Magento sent `X-Magento-Cache-Con

[2016-07-26 20:57] srenon opened #5823 "Copying custom fields from quote to order table using sales_convert_quote in fieldset.xml"
### Preconditions

1. Magento 2.1
### Steps to reproduce

1. Create a custom module that add a field to quote and sales_order table
2. Update the field in quote table and then place an order
### Expected result

1. The field value will get copied to the order table
### Actual result

1. The field does not get copy over to sales_order table

The issue seem to be cause by :
/vendor/magento/framework

[2016-07-26 22:16] m0zziter commented on #4755
@joni-jones I was playing around with 2.1 today (we're still using 2.0.7 in production) and experienced the same issue. Were you able to replicate? Do you need additional information?

Honestly this issue is a huge drag and is preventing us from using multiple webnodes so we'd like to get it resolved. Let me know if there's anything I can do to help that process along I'd be happy to oblige.

[2016-07-26 23:27] acidreian666 commented on #1823
@choukalos
Having similar issues with my large product database also. Magento 2.1 is unable to import more then 95000 products at a time if it don't fail already because it says the "URL already exists" and it ends with importing 66k of the 95k list of products then breaks the indexing ability.

Then like @rklerck says Mass Delete function for me i have let run for 3 days to delete over 85k produc

[2016-07-26 23:51] acidreian666 commented on #1471
Same issue using 2.1 importing 183,000 products.
All have Unique Sku's; Unique; Names Unique urls;
Says Valid 183k rows then throws "URL key for specified store already exists"
it only imports 66000 of the 183,000 products with missing information Qty ect..

[2016-07-27 02:24] pantaoran commented on #3572
Just to report back on my current status for everyone: I've upgraded to Magento 2.1.0 pretty much right after it came out, but I still see these session problems.

It's tricky because even after all this time I don't know a reliable way to always reproduce it. Not all users of my system see the problem, but some do.

[2016-07-27 02:28] pantaoran commented on #5708
This is a very serious problem for us, because due to this we cannot allow our client to edit the home page of their own website since they would inevitably break it. This is hard to explain to our clients.

[2016-07-27 02:35] coyhom opened #5824 "magento2.1/Can't find the “add to cart“ button in English storeview"
Hi ,everyone! I can' t find the "add to cart" button in English storeview after I upgrade system from magento2.0 to magento2.1 , but it's normal in other storeview like Chinese . I don'n know why......I didn‘t change any system code. When I use the system theme---blank theme, the problem same!
It is the setting problem in adminPanel? Please tell me what should I do. Thanks
### Preconditions

1.  V

[2016-07-27 02:46] sky4git opened #5825 "customer_save_after_data_object event dispatching on customer login and login error"
### Preconditions

1. Magento CE 2.1.0
### Steps to reproduce

1. Setup an observer for **customer_save_after_data_object** event in custom module.
2. Try to do your stuff in the observer. For example, in my case, I am sending email to customer on account update.
3. Now try to login as any customer from fontend. Also try to login with wrong password.
### Expected result

1. The observer for **cust

[2016-07-27 03:11] techguysourav commented on #2834
I made text field attribute to backend customer form. The Field is showing is ok but value is not saving in tables. Attribute is showing in eav_attribute , customer_eav_attribute tables.

[2016-07-27 05:01] parthviroja commented on #5428
I have resolve this issue.

### open below file

### find below line around 273 line number

`if ($widget.productForm) {
                $widget.productForm.append(input);
                 input = '';
         }
`

### modify

`$widget.productForm.append(input);  ->  container.append(input);`

### after modification code look like this

`if ($widget.productForm) {
                    container.app

[2016-07-27 05:49] sky4git commented on #3572
Problem of reading customer name still exists in Magento CE 2.1.0. It works in firefox[notrmal mode] but not in chrome[latest version].

[2016-07-27 05:53] irenelagno commented on #4921
@rashidio You can find store configuration: STORES->Settings->All Stores

[2016-07-27 06:22] bartoszkubicki commented on #5784
Same here, for me it's just button save freezing for good without any message.

[2016-07-27 06:44] roshimon commented on #1456
Thank you @buskamuza :+1:

[2016-07-27 06:53] kilis opened #5826 "Cannot change cms block values"
### Preconditions

1. Magento 2.1
2. PHP 7
3. MYSQL 5.7.13
### Steps to reproduce

1. Load cms block by title
2. Set new store id
3. Save it

`foreach ($cmsBlocks as $cmsBlockItems) {`
 `$block = clone $this->_blockResource;`
 `$block->load($cmsBlockItems, 'title')`
 `->setStoreId([$storeId])`
 `->save();`
 `}`
### Expected result

1. Change block store id
### Actual result

1. [Mysql error](http:

[2016-07-27 07:21] johnhughes1984 commented on #4159
Same issue here, clean install of CE 2.1 using composer and CLI install.

Switching web root to Magento root worked, thanks!

Look forward to the 'full fix' as don't want to use this workaround in production.

[2016-07-27 07:32] nanda1990 commented on #5666
i want to add wordpress blog in magento-2 sub folder but it is showing 404 not found error. I am using nginx web server and also define location bt still not showing. and my nginx confile is nginx.sample.conf file

[2016-07-27 07:32] sevos1984 commented on #4457
@jim5359 We can't reproduce this issue. Is it still actual?

[2016-07-27 07:45] CodeGlitcher commented on #3430
Any news on this?
Not fixed in 2.10

[2016-07-27 07:53] kandy commented on #3430
Do you try to use it in format /rest/{store_code}/V1/products/attributes/{attribute_code}/? It return for me labels for store.

[2016-07-27 07:53] radhagobinda opened #5827 "Problem in Product Add Edit using REST API"
I cannot add or edit product using REST Api . Its always through message "<b>Consumer is not authorized to access %resources</b>". I have checked several times but i con't. Access token is fine.
### Share my code

$adminUrl="http://192.168.1.23/magento2/index.php/rest/V1/integration/admin/token";
    $ch = curl_init();
        $data = array("username" => "super_admin", "password" =>"admin123");

[2016-07-27 08:00] stamster commented on #5666
You have't configured nginx then to route url to your wp phy path.
Pay attention to `php` location blocks as well.

[2016-07-27 08:01] veloraven commented on #5513
@qwerty7869 You can use '/V1/store/websites' REST API command to get the list of all your websites with their ids.
Also without using API, you can open an existing website in backend (Stores -> Settings -> All Stores -> Website) and you will the its id in the URL.
Please let me know if you have any additional questions with this issue.

[2016-07-27 08:08] kandrejevs commented on #5476
with 200 000 products I get this error when trying to access admin/catalog/product.

Fatal error: Allowed memory size of 268435456 bytes exhausted (tried to allocate 20480 bytes) in /usr/local/var/www/topankovo-magento-2/vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php on line 291

Fatal error: Allowed memory size of 268435456 bytes exhausted (tried to allocate 24576 bytes) in /usr/

[2016-07-27 08:09] CodeGlitcher commented on #3430
on all storecodes frontend_labels remain null.
is there also a store view for admin labels?
once a translation is set for an option is seems impossible to get the admin label
i tryd
/rest/admin/V1/products/attributes/{attribute_code} < no route
/rest/default/V1/products/attributes/{attribute_code} < options label are translated to default
/rest/{store_code}/V1/products/attributes/{attribute_code}

[2016-07-27 08:23] CodeGlitcher commented on #5827
try adding the following header:
Content-Type: application/json

I have not problems with creating or updating products. (Magento 2.1.0)

[2016-07-27 08:49] bartoszkubicki opened #5829 "Asymetric Transaction Rollback exception"
Hello,  I use Magento 2.1.
Steps to reproduce:
1.I have custom data migration module, as I have to transfer all staff from non-magento staff. The point in which Exception occurs is loop, where I am addding, using `ProductFactory` products to new store, using parsed data. After some amount of time, always on the same product, exception occurs:

`Exception: Asymmetric transaction rollback. in /var/w

[2016-07-27 08:52] SchumacherFM commented on #5426
We ran into the same issue. Pretty annoying.

Some one at Magento forgot to put that column base_grand_total into the Upgrade Schema script.

Do you guys run tests?

At least please fix it with the 2.1.1 release.

Edit: already in the [dev](https://github.com/magento/magento2/blob/develop/app/code/Magento/Sales/Setup/UpgradeSchema.php#L67) branch. Thanks guys!

[2016-07-27 08:56] pantaoran commented on #3572
It is not browser-dependent. I did some more debugging on 2.1.0 just now and it looks like it's all about the presence/absence of a cookie with name(key)="section_data_ids". When the cookie is there, everything works fine. When I delete all cookies in my browser then the problem appears; even after customer login I cannot go to the checkout. That cookie does not get recreated, or at least not alwa

[2016-07-27 09:11] tkacheva commented on #4232
@pantaoran Issue is fixed in https://github.com/magento/magento2/commit/54df23a2cddd92d6961dfda3b80e480c6d7c822e. I checked it's not reproachable any more.
![coding](https://cloud.githubusercontent.com/assets/5603216/17170065/26812f36-53f3-11e6-9aeb-7fdfffa463af.png)

Let me know if it works for you

[2016-07-27 09:12] tkacheva commented on #5708
@pantaoran Issue is fixed in https://github.com/magento/magento2/commit/54df23a2cddd92d6961dfda3b80e480c6d7c822e. I checked it's not reproachable any more.
![coding](https://cloud.githubusercontent.com/assets/5603216/17170065/26812f36-53f3-11e6-9aeb-7fdfffa463af.png)

[2016-07-27 09:15] oserediuk commented on #5818
Hello @nmohanan ! Please, provide the used version. Also format this issue according to the template: with steps to reproduce, actual result and expected result.

[2016-07-27 09:15] radhagobinda commented on #5827
I have already put it in options array.

$options = array(
    //CURLOPT_URL=>$requestUrl,
    CURLOPT_HTTPHEADER=>array(
    'Content-Type: application/json',
    'Content-Length: ' . strlen($post)),
    CURLOPT_VERBOSE=>0,
    CURLOPT_RETURNTRANSFER=>true,
    CURLOPT_USERAGENT=>"Mozilla/4.0 (compatible;)",
    CURLOPT_POST=>true,
    CURLOPT_POSTFIELDS=>$post,

);

This is not working.

[2016-07-27 09:19] nmohanan commented on #5818
_ I am using Firefox browser, when i submit the magento default contact us form the success message and error message not appearing in the front end, used magento version is 2.0.7_

[2016-07-27 09:27] KevinMace commented on #5459
I can confirm this issue exists when trying to save a single product with a multiselect element using 2.1 EE, the patch from @wardcapp resolved the issue for me, thank you.

[2016-07-27 09:28] CodeGlitcher commented on #5827
I did not see that but then I  think you are setting the headers twice. Overriding the first.
try it like this
`CURLOPT_HTTPHEADER=>array(
'Content-Type: application/json',
Authorization: Bearer $token
'Content-Length: ' . strlen($post))`

[2016-07-27 09:32] mktudock opened #5830 "Cannot set attribute value to empty/null on configurable products"
### Preconditions
1. Have Magento 2.1 with a configurable product and an attribute set with some optional attributes
### Steps to reproduce
1. Edit the product and set the values of the optional attributes to empty/null
### Expected result
1. The values are empty or null after save
### Actual result
1. The values get set to some kind of default

I tested this on Magento 2.1 "vanilla" with sample d

[2016-07-27 09:42] skhell opened #5831 "Product import skip on error entries not working"
### Preconditions

1. PHP 7.0.6
2. MySQL CE 5.6.30
3. Magento 2.1.0
### Steps to reproduce

1. Login to the backend
2. Click on sidebar System --> Import
3. Select as entity type Products
4. Select as a Import Behavior Add or Update or Delete
5. Select skip error entries
### Expected result

1. Magento should ignore errors and execute the import
### Actual result

![screen shot 2016-07-27 at 11 38

[2016-07-27 09:47] antboiko commented on #5660
Hi @farior , thanks for reporting this. We've created internal ticket MAGETWO-56014.

Thanks,
Anton.

[2016-07-27 09:49] radhagobinda commented on #5827
Thank you @robg66  now it's working. I have removed the **CURLOPT_HTTPHEADER** from $options array. Thank you so much.

[2016-07-27 09:49] #5827 closed, assigned to nobody

[2016-07-27 10:18] Serhiy-Nazarov commented on #5739
Hi @mbrinton01
I am use Community Edition.
Now I have a directory with more than 20,000 products
put /V1/products /{sku} for about 1 second for each item
In my case, the price update for all products takes more than 5 hours.
If I use CSV import from admin, the import time is a few seconds, but I can not initiate this process remotely.
Initial sync I can run manually. But regular update need automa

[2016-07-27 10:48] YevSent commented on #4755
Hi @m0zziter, previously, I have tried to reproduce this issue. I had upgraded Magento from 2.0.4 to 2.0.7 and 2.1, the configuration doesn't disappear.
I hadn't enough time to use you docker-compose and suppose will have time only after current sprint will be finished.

[2016-07-27 10:53] YevSent commented on #5816
Hi @ninex, if you open [Payment::canVoid](https://github.com/magento/magento2/blob/develop/app/code/Magento/Sales/Model/Order/Payment.php#L545) method, you will see that method already checks `canVoid` for payment implementation, also it checks a status of authorization transaction.
Try to debug this code for your payment, this could be useful to find a reason why the `canVoidPayment()` return fal

[2016-07-27 11:00] grasdaggel opened #5832 "Cannot copy "web/template" files to local theme -> no result"
On the checkout theres a out put for the responsive version of the checkout.

File:  `vendor/magento/module-checkout/view/frontend/web/template/estimation.html`

If I copy this file to `app/design/frontend/Vendor/Name/Magento_Checkout/web/template/estimation.html` changes have no effect on the output. Deleting the cache or whatsoever does not proc a change as well.

Since those files are in the vi

[2016-07-27 11:05] GordonLesti commented on #5426
@davidbilly One of your problem `Attention Something went wrong.` is https://github.com/magento/magento2/issues/5323

[2016-07-27 11:18] veloraven commented on #5573
@Nerogee thank you for additional details.
I was able to reproduce this issue now. I created an internal ticket - MAGETWO-56018 and linked it to this one.

[2016-07-27 11:23] grasdaggel opened #5833 "Cannot place order due to duplicate key in database"
We are currently experiencing a weird bug where we do get a error msg from Magento that a specific Key would already exists. We are using different shipping methods (Table Rates, Free of Charge and basic shipping for domestics).

![bildschirmfoto 2016-07-27 um 13 21 21](https://cloud.githubusercontent.com/assets/13021579/17173786/20d367e8-53fd-11e6-8974-1f7338c10523.png)

We are currently using Ma

[2016-07-27 11:28] davidbilly commented on #5426
@GordonLesti Thanks Mate! After enable Review Module the infinite loop loading for review gone.
Refer : https://github.com/magento/magento2/issues/5426#issuecomment-230376103

Now i still have one serious issue, that after add item to cart on front-end, not updating the cart list/notification. It's blank :(
Refer : https://github.com/magento/magento2/issues/5426#issuecomment-231778311

Update : Mi

[2016-07-27 11:29] davidbilly commented on #5323
@GordonLesti Yeah, It's seem Magento System force us to us review module.  Should be fix it :(

[2016-07-27 11:31] rashidio commented on #4921
Looking for _Stores > Configuration > Customer > Customer Configuration > Name and Address Options: Number of Lines in a Street Address_
Here's customer settings
![image](https://cloud.githubusercontent.com/assets/20215603/17173941/8326e0b0-5406-11e6-9def-382ab777465b.png)
Stores:
![image](https://cloud.githubusercontent.com/assets/20215603/17173970/b7ed8830-5406-11e6-83f4-4eae968ce155.png)

[2016-07-27 11:31] GordonLesti commented on #5323
https://github.com/magento/magento2/pull/5663 fixes this

[2016-07-27 11:31] devonto commented on #1471
Also occurring on 2.1 when creating products by code.

In this instance, there are many product with the same name within the same category, however they have unique SKUs.

When generating the URL from the product name, the check to find out if it exists already should also then be able to append (or prepend) the URL with a sequential number - in the same way the image management facility will not

[2016-07-27 11:36] davidbilly commented on #5323
@GordonLesti Thanks for your hard work mate :D

[2016-07-27 11:43] sintsov commented on #4767
@sereban thx for you answer!
if i try add (only for test) in method _renderFiltersBefore code, example

[code]

result 15 records, filter not working

if i make `$this->getSelect()->where('type_id = \'simple\'');` or `$this->getSelect()->where('price = 0');`
result 4 records, it true, but count of elements 15, probably because  `$this->_totalRecords = $this->searchResult->getTotalCount();`

How fi

[2016-07-27 11:46] oserediuk commented on #5586
Hello @PierAlex ! Could your provide your code base version?

[2016-07-27 11:47] davidbilly commented on #5144
@Zaylril Hi, May i know where this _bindSubmit: function() { code locate? Thanks :D

Never mind, i found it : ./vendor/magento/module-catalog/view/frontend/web/js/catalog-add-to-cart.js

[code]

After that, do bin/magento setup:static-content:deploy and clean web browser cache.
The mini cart still show empty :(

Please help on this https://github.com/magento/magento2/issues/5426#issuecomment-23177

[2016-07-27 11:49] Arkyden opened #5834 "Magento 2 Configurable Products Improvements"
I want to first congratulate the developers on the new variations within configurable products.

However there are 2 huge improvements that could be made.

Firstly, you cannot edit quantities on the parent product on existing variations and it would be nice to see a customise columns on this grid. Whilst on the subject, it would be nice if we customise SKU formatting (I have all Sku's in capital l

[2016-07-27 11:50] oserediuk commented on #5833
Hello @grasdaggel ! Could you provide more details: with steps to reproduce, actual result and expected result.

[2016-07-27 11:51] skovalenk commented on #4767
@sintsov Can you chow me an example you filter you have added. And are you sure this filter was applied. You can make sure, that your filter was applied by calling: $this->getSelect()->__toString() - and finding your filter there

[2016-07-27 11:51] skhell commented on #5822
Was a problem related with the template

[2016-07-27 11:51] #5822 closed, assigned to nobody

[2016-07-27 11:52] grasdaggel commented on #5833
Well, I try to place an order. I get this error message instead of the actual redirect to the payment page.

We configured the shipping settings. 2 Shipping settings are for germany, table rates are for EU countries (if you want the table rate file, just tell me).
1. put something in cart
2. register or login in checkout (or proceed as guest)
3. select payment method from third party payment vendo

[2016-07-27 12:01] oserediuk commented on #5829
Hello! Please, provide more details: your code version, more clear steps to reproduce. Also, your can use our template to report issue. https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2016-07-27 12:04] YevSent commented on #5819
Hi, @rikterbeek.

For now, we aren't planning to extend payment adapter, but we want to reduce a count of methods in the adapter. In future, we plan to decouple `\Magento\Payment\Model\MethodInterface`, but I'm not sure about a separate 3D secure method in the adapter. Because each payment method supports own
3D secure implementation, for example, the Braintree shows 3D secure confirmation popup w

[2016-07-27 12:09] oserediuk commented on #5830
Thanks for the report! This issue is duplicate of https://github.com/magento/magento2/issues/4910. I'm closed this one. Feel free to reopen if you have any additional questions about theme selection.

[2016-07-27 12:09] #5830 closed, assigned to nobody

[2016-07-27 12:11] BigBri41 commented on #5426
I think we were getting this error too.  If I remember right, it was some type of javascript error.  I used internet explorer to figure out where the problem was.  If you go to tools, internet options, then click on the advanced tab and uncheck Disable Script debugging (other) and uncheck Disable script Debugging (Internet Explorer), then refresh the page, it should pop up any javascript errors.

[2016-07-27 12:12] oserediuk commented on #5833
It is enough to try to reproduce! Thanks!

[2016-07-27 12:14] ninex commented on #5816
@joni-jones thanks. It was because I created an Order transaction instead of an Auth.

[2016-07-27 12:14] #5816 closed, assigned to nobody

[2016-07-27 12:20] exreplay opened #5835 "Minify JavaScript files / .min added to paypal file"
When "Minify JavaScript Files" is turned on, Magento does add .min to the external paypal script. You can enable merge or bundling, both don't affect the file or in general external files.
### Preconditions
1. Magento 2.1.0
2. PHP-FPM 7.0.8
3. 10.1.16-MariaDB-1~jessie
### Steps to reproduce
1. Login to Backend
2. Shops -> Configuration ->Advanced -> Developer -> JavaScript Settings
3. Put "Minify

[2016-07-27 12:27] grasdaggel commented on #5833
Disabling Table Rates does not solve this problem, maybe the shipping module isn't a problem here. Third Party Module does not trigger this error, since Magento built in payment functions getting the same error (Money Order/Check).

[2016-07-27 12:39] PierAlex commented on #5586
Hello @oserediuk,
maybe i need some instructions on how to do it.
I have done only InstallData.php.
I created, before that, an attribute for customer:
$customerSetup->addAttribute('customer', 'attr_code'...
and only with installdata and 'used in forms' it appears in customer registration form during the checkout process. I Thought it should be the same for a 'customer_address' attribute and used i

[2016-07-27 12:50] ghost opened #5836 "Cron not Reindexing Index"
The indexes are not being reindexed with the standard cron:run cron job. This is particularly noticeable when making a change to a category and it not being updated on the front end. I can add a static block or description to a category and save it in the backend and the updates will not appear on the frontend until the indexers have been manually reindexed. This could possibly be related to #2855

[2016-07-27 12:56] Cornoud opened #5837 "Backoffice freeze on large number of customer groups"
Backoffice freeze on large number of customer groups
this happend when editing products and within the customer grid.
### Preconditions

Magento 2.1, CE, PHP 7, MYSQL 5.6, Firefox latest version on Ubuntu 16.04
### Steps to reproduce
1.  Create 2400 customer groups
2.  Goto the backoffice customer grid, the browser shows a javascript error as processing the javascript takes too long.
3. Goto the b

[2016-07-27 13:03] oserediuk commented on #5824
Hello! Could your provide which Magento version you upgrade?

[2016-07-27 13:08] skovalenk commented on #4350
Hi. You can do this in way represented in devdocs: http://devdocs.magento.com/guides/v2.0/get-started/product-categry-filter.html

[2016-07-27 13:09] #4350 closed, assigned to mbrinton01

[2016-07-27 13:10] davidbilly commented on #5003
@bh-ref i have same issue : https://github.com/magento/magento2/issues/5426#issuecomment-231778311

This fixed after remove ' from welcome message. Thanks!

[2016-07-27 13:21] mcjwsk opened #5838 "Text strings difficult to translate properly"
There is a bunch of text strings difficult to translate.
### 1. records found

**Problem**: The text string doesn't contain the value, so it's very difficult to translate it correctly in some languages.
**Solution**: It should be changed to `%1 records found` in this case (include the value).
**Location**: All admin grids
![2016-07-27_1436](https://cloud.githubusercontent.com/assets/284649/1717552

[2016-07-27 13:26] bonsdawende opened #5839 "Magento 2: Module "mage/utils/arrays" has not been loaded yet for context"
I have installed a Magento 2.0.7 website. The issue is some admin pages are not loading correctly. For example, catalog management page cannot load products list, user management page cannot load user list. Other admin pages work OK. I get this error message :

Error: Module name "mage/utils/arrays" has not been loaded yet for context: _
http://requirejs.org/docs/errors.html#notloaded
var e = new

[2016-07-27 13:27] nkalinovich commented on #2697
Hi @bonsdawende ,
Have you flushed cache after applying this setting? Seems this this setting works for @suzannealdrich.

[2016-07-27 13:27] sintsov commented on #4767
@sereban In method `_renderFiltersBefore()` add

[code]

In code:

[code]

[code]

Not add my condition.
If i make `$this->getSelect()->where('type_id = \'simple\'');;`

[code]

Result:

[code]

It's good, but not correct result count elements on page. I think get total calculate how `$this->_totalRecords = $this->searchResult->getTotalCount();`

May be exist other method get all product by type_i

[2016-07-27 13:29] bonsdawende commented on #2697
Hi,
I did all (flush, reindex,...) but nothing changed unfortunately.

Ferdinand

2016-07-27 15:27 GMT+02:00 Nadia Kalinovich notifications@github.com:

##

Ferdinand KABORE

*Engineer in Salesforce & Web *

Port : 06 59 11 27 56

[2016-07-27 13:31] veloraven commented on #5205
Internal ticket MAGETWO-54781.

[2016-07-27 13:32] oserediuk commented on #5744
Hello! Please, provide your code base version and clarify steps to reproduce.

[2016-07-27 13:35] oserediuk commented on #5746
Hello! Could you provide more details? I cannot reproduce this issue on the fresh installed instance version 2.1

[2016-07-27 13:38] flipflap commented on #5568
Hi @abdulsofts
How can I uncheck backup when installing extensions?

[2016-07-27 13:44] HRR1337 commented on #5328
Hi there. Does it mean i have to install m2 dev. version to see the result? Thanks!

[2016-07-27 13:46] oserediuk commented on #5832
Do you try to create custom theme? If yes, look to this guide http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-create.html

Did you use this guide during your changes?

[2016-07-27 13:47] antboiko commented on #5834
Hi @Arkyden , thanks for your feedback.

For the first item, you can edit quantities from inside the Wizzard by clicking Edit Configurations.

For the second item, I was able to reproduce this issue. I've created internal ticket MAGETWO-56029 to fix it.

Best,
Anton.

[2016-07-27 13:48] veloraven commented on #5250
@ideirj  please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please also provide description according to the template: with steps, actual result and expected result.

[2016-07-27 13:50] veloraven commented on #5251
@ideirj thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please also provide description according to the template: with steps, actual result and expected result.

[2016-07-27 13:53] grasdaggel commented on #5832
Yes, we are using our custom theme, as you might see from the folder names. Magento_Checkout has to be used if you want to modify parents phtml files. Registered parent for our theme is Luma.

[2016-07-27 13:54] veloraven commented on #5264
@ideirj thank you for this report.
Please also provide description according to the template: with steps, actual result and expected result.

[2016-07-27 14:00] veloraven commented on #5274
@dmcmillin thank you for your report.
But if this issue is specific to migration process, please, create a ticket in corresponding repository: https://github.com/magento/data-migration-tool/issues.

[2016-07-27 14:02] oserediuk commented on #5832
Did you create you custom theme according to guide from previous comment?

[2016-07-27 14:09] grasdaggel commented on #5832
Yes. By the way, are there any other possibilities to use a custom theme? As far as I know all steps are absolutely mandatory in order to use a custom theme... :P

[2016-07-27 14:18] oserediuk commented on #5832
Yes, you are rignt

[2016-07-27 14:20] jacquesbh commented on #5793
@orlangur You're probably right. My point is that a load can be avoided here.

👍

[2016-07-27 14:21] daniel-ifrim opened #5840 "News From Date attribute auto set to non empty value if special price is greater than 0"
### Preconditions

1. Develop branch or other Magento version. I'm on Magento 2.0.7
### Steps to reproduce

1. See https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Model/Attribute/Backend/Startdate.php
### Expected result

1. News From Date should not be related with Special Price
### Actual result

1. There should not be a link between news_from_date attribute and special

[2016-07-27 14:23] oserediuk commented on #5730
Hello! Please, provide your code base version

[2016-07-27 14:31] grasdaggel commented on #5832
Thanks for taking care of that! Would be great if you could sort that out. Bug is reproduceable by simply copying the desired .html templates into the corresponding Theme-folders.

[2016-07-27 14:44] oserediuk commented on #5728
Hello! Please, clarify expected result, looks like 'not' is extra here)

[2016-07-27 14:47] oserediuk commented on #5720
Please, provide description according to the template.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2016-07-27 14:50] oserediuk commented on #5774
Hello! Please, provide your code base version

[2016-07-27 14:53] oserediuk commented on #5776
Hello! Please, update your description, it looks like not full enough. Also, please, provide your code base version

[2016-07-27 14:54] abdulsofts commented on #5568
You can do so if you are upgrading from the Component Manager. After the
readiness check, you will be asked to select options for Backup. Please
uncheck the database option from there.

Regards,
Abdul

On Wednesday 27 July 2016, Oliver notifications@github.com wrote:

[2016-07-27 14:55] yangsystem commented on #5774
2.1.0

![image](https://cloud.githubusercontent.com/assets/6049104/17179820/352532e6-5423-11e6-8c71-78b348510b73.png)

[2016-07-27 14:58] grasdaggel commented on #5833
Error is not reproduceable if you are _not a logged in cusotmer_

[2016-07-27 15:20] chris-huffman opened #5842 "list function in prepareColumnsLIst in PHP 7"
### Preconditions

1. Magento 2.0.7
2. PHP 7
### Steps to reproduce

1. call prepareColumnsList() in Magento\Framework\DB\Helper line 199.

`list($correlationName, $column, $alias) = $columnEntry;`
### Expected result

1. In PHP 7, calling list() starts with the left-most parameter (as stated in the [php manual](http://php.net/manual/en/function.list.php))
### Actual result

1. The method still wo

[2016-07-27 15:29] oserediuk commented on #5765
Hello! What do you change exactly?

[2016-07-27 15:36] nmallepally opened #5843 "Invoice error on Magento 2.1 v"
Hello,

I am using product community 2.1 v, the invoices does not work.
i know there are lot of issues reported on this but, its appearing on product addition.
we are using this version for production. can some one suggest the fix for it

does not allow me to submit invoice.
![invoice error](https://cloud.githubusercontent.com/assets/19605497/17181508/4b0d7e48-5418-11e6-8f9a-84512f55939f.png)

[2016-07-27 15:40] #5817 closed, assigned to nobody

[2016-07-27 15:54] oserediuk commented on #5766
Hello! Please, clarify steps to reproduce.

[2016-07-27 16:14] debreak commented on #5765
Hi,
the update to magento 2.1 solved the problem! thanks
i think the problem comes from the theme which is installed! this one makes one failure after another ...

[2016-07-27 16:16] heldchen opened #5844 "Magento 2.1.0: An quote item of a grouped product does not have the correct tax class applied after it was added to the quote"
when adding a **child product of a grouped produc**t into the empty cart, the resulting Magento\Quote\Model\Quote\Item has wrong tax and price informations. after the quote is edited/saved (f.e. by adding another item) both tax and prices are correct, even for the first product.

simple and configurable products are not affected from this bug.
### Preconditions
1. magento 2.1.0 (official package)

[2016-07-27 16:23] oserediuk commented on #5765
Great! I closed this issue. Feel free if you have questions

[2016-07-27 16:23] #5765 closed, assigned to nobody

[2016-07-27 16:29] zaoky commented on #4873
please, any news ??

[2016-07-27 16:31] crantron commented on #5766
Just make a `lib` folder with .less files within the `css` folder of the Theme. When you do that Magento 2 Base vendor css source `lib` folder gets overridden not inherited or extended.

[2016-07-27 16:34] jpreed2 commented on #4457
Yes, this is fixed in the current version.  It now warns you if you have a popup blocker enabled.

[2016-07-27 16:34] heldchen commented on #5844
some additional information on this:
- the database record in `quote_item` has wrong values in the fields `tax_percent`, `tax_amount`, `base_tax_amount` (and possibly more) for the **last** item added to the cart if this item has `product_type` of `grouped`
- as such, preliminary probing shows the bug might also affecting at least parts of the later checkout process
- when two different products o

[2016-07-27 16:40] blizzardengle opened #5845 "Magento 2.1 does not allow adding product images after a product is created"
Magento 2.1 will only allow me to upload pictures of a product when I initially create them. If I make a new product and choose to leave out pictures I can not go back in to add pictures later. If I edit the product and attempt to add images I get the following error:

_**Attention: We don't recognize or support this file extension type.**_

This was tested with simple product and configurable pro

[2016-07-27 18:41] hostep commented on #5836
We also see this using CE 2.1.0 - PHP 7.0.8 - Mysql 5.7.13

When adding products, they don't appear on the frontend, until we manually run a `bin/magento indexer:reindex` every time.

Cronjobs are setup correctly and indexers are set to 'Update by Schedule'.

Sounds like a pretty important bug.

[2016-07-27 19:04] hostep commented on #5838
I also ran into problem nr 3. a couple of weeks ago.
After a bit of researching, this looked to me like a limitation of the knockout.js system.
I didn't spend a lot of time trying to fix it (maybe an hour) and haven't found a solution.
I'm curious to see if Magento or somebody else can come up with some kind of solution to this.

[2016-07-27 19:17] kandy commented on #5835
Thanks for reporting, but https://www.paypalobjects.com/api/checkout.min.js return 404. Looks like expected result are wrong so I am closing this issue, as fixed. Feel free to reopen issue if we missed anything.

[2016-07-27 19:33] hostep commented on #5835
@kandy: the expected result is without the `.min` in the filename, I think you switched expected with actual results?

Maybe best to reopen and confirm if this is an actual problem (it does sounds like a possible bug).

[2016-07-27 19:35] kandy commented on #5835
oh, sorry, my miss

[2016-07-27 20:49] plentyhappy commented on #2904
Could we re-open this issue?  We are using 2.0.7 with php 7.  We get pending orders at random times - perhaps 5 a week...so authorize.net has no record of the auth only transaction.

It does not look like the customer is e-mailed because we don't get the e-mail.  I have set to send us the same confirm e-mail and we don't get an e-mail copy.  However, the order does show up in our system under pend

[2016-07-27 21:06] dthampy commented on #5810
Internal jira ticket MAGETWO-56054 has been created

[2016-07-27 21:37] jameswithers opened #5846 "Product import doesn't import all products, but still gives success message"
### Preconditions

1. Magento default product importer
2. Simple products in a Magento-format CSV
### Steps to reproduce

1. Run Check Data on product CSV.  Check Data returns valid
2. Import products. Magento shows success
### Expected result

1. Products are imported
### Actual result

1. Not all products are imported

When `Check Data` is run, it parses and batches product data into groups of 1

[2016-07-27 21:40] alexbartsch commented on #4331
@srqdeveloper For me, the query from @ntoombs19 also didn't work. I figured out, that this is because there is no row with `path = 'admin/security/password_is_forced'`.

Run this query instead:

[code]

[2016-07-27 22:11] buskamuza commented on #5262
Internal ticket MAGETWO-52095

[2016-07-27 22:27] anherrera commented on #3071
@bentideswell Thank you so much! That worked for me.

[2016-07-27 22:55] dthampy commented on #5843
@nmallepally ,

Couple of questions.

(i) Did you upgrade to CE 2.1.0? if so what was the upgrade path?
(ii) Do you have sample data installed with it?
(iii) Also can you details the steps to reproduce the issue?

I can't seem to reproduce the problem in the screenshot in CE version 2.1.0.

[2016-07-28 00:40] saderra opened #5847 "No Such Entity With Cart ID"
### Preconditions

1. Magento 2.1, upgraded from 2.0.7 Droplet on Digital Ocean
### Steps to reproduce

1. Add products to cart
2. Proceed to checkout, using Authorize.net DPM (Verified Settings)
3. Click Checkout
### Expected result

1. Transaction processes, order is created
### Actual result

1. The card is charged, and the response comes back from authorize.net. The charge is verified. However

[2016-07-28 01:12] billcornell commented on #2876
This is still a bug.  When you create a multi-select attribute and add values, then save the product, the attribute values do not appear afterwards.  They're hidden.

[2016-07-28 01:13] billcornell commented on #2876
I see the JS code below in the source.  Why are these attribute option values not appearing in the page?

<script type="text/x-magento-init">
        {
            "*": {
                "Magento_Catalog/js/options": {
                    "attributesData": [{"checked":"","intype":"checkbox","id":"4","sort_order":"0","store1":"Billerica","store0":"Billerica"},{"checked":"","intype":"checkbox","id":

[2016-07-28 01:13] billcornell commented on #2876
<pre>
<script type="text/x-magento-init">
        {
            "*": {
                "Magento_Catalog/js/options": {
                    "attributesData": [{"checked":"","intype":"checkbox","id":"4","sort_order":"0","store1":"Billerica","store0":"Billerica"},{"checked":"","intype":"checkbox","id":"5","sort_order":"0","store1":"Chelsea","store0":"Chelsea"},{"checked":"","intype":"checkbox","id":"

[2016-07-28 01:50] pboisvert commented on #2876
@billcornell if this issue is still present as described in the original description please re-open the bug. If a new issue please file a new issue with steps needed to reproduce the error. thanks

[2016-07-28 01:53] sky4git commented on #3572
# My Debug

I think it comes down to this comment. https://github.com/magento/magento2/issues/3357#issuecomment-225969037
The problem is described in the issue https://github.com/magento/magento2/issues/3357 is actually related to the cookie **'private_content_version'**. This cookie doesn't set for some reason unless we enable full page cache[FPC]  as mentioned in the comment.

Once we set FPC, e

[2016-07-28 02:26] MisterPat opened #5848 "Encountered end of file Magento Marketplace"
Hello, for some reason i'm unable to use the marketplace when entering my public & private key I get the error message: Encountered end of file in a red box. (actualy it does not matter what I enter, message appears before keys are verified)

![image](https://cloud.githubusercontent.com/assets/20693836/17198933/6caa66ae-5479-11e6-9c21-9de7100fcabd.png)

I'm using a shared server running Directadmi

[2016-07-28 05:55] 100php commented on #3572
Hey Guys,

I have found a temporary solution:

To solve cart count/content update issue modify below file:
vendor/magento/module-customer/view/frontend/web/js/customer-data.js

find this line: `privateContent = $.cookieStorage.get('private_content_version');`

and add below code :

`// To load all msg & cart update ajax on page load
            var reloadsections = ['cart','messages'];

[2016-07-28 06:09] parthviroja opened #5849 "Checkout : sortOrder not work in Billing / Shipping address"
### Preconditions (*)

1.  Magento 2.2.3
2.  Make sure Check Money Order method is enabled

### Steps to reproduce (*)

1. Create a module that depends on Magento_Checkout
2. Inside your module, create the following layout

[code]
3. Flush caches and delete the content of pub/static/frontend/*
4. Add a product to the cart and go to the checkout

### Expected result (*)

- You should see the `postc

[2016-07-28 06:14] rikterbeek commented on #5819
Hi @joni-jones,

So for Adyen Payment provider I am doing the authorize flow to first authorize the payment. Then I redirect the shopper to 3D secure page and after that I need to do a 3D secure call. Now I am calling this: https://github.com/Adyen/adyen-magento2/blob/develop/Model/Api/PaymentRequest.php#L262-L289 But would be better if I can do the request through the DI in the same way as the au

[2016-07-28 06:58] bartoszkubicki commented on #5829
Hello, I have updated my answer.

[2016-07-28 07:07] hostep commented on #5843
This is a really well known issue in version 2.1.0 (@dthampy: why aren't you aware of this ?)

Is already fixed on the develop branch: https://github.com/magento/magento2/issues/4785

We are eagerly awaiting version 2.1.1 which will most likely fix this, but we have been waiting on this for over a month now ...

For a quick fix, see: https://github.com/magento/magento2/issues/5324

[2016-07-28 07:08] tbenny opened #5850 "Add to cart not working for Configurable product in product listing page"
The add to cart  is not working  for Configurable product in product listing page

### Preconditions

1. Magento version is 2.0.7 , php 7.0.4 and mysql 5.6
### Steps to reproduce

1. Go to the product listing page in magento2.0.7 and try to add a configurable product
2. select the configurable product options and try to add to cart
3. the cart is not updated and when click on the mini cart icon it

[2016-07-28 07:16] YevSent commented on #5819
Hi, Rik.

New `customCommand` won't be backward compatible and can be added in backward incompatible Magento release (in some critical cases it can be earlier), as I know it will be 2.4.

As I said in the previous comment, we need to investigate all use cases and decide how we should provide more flexibility for 3-td party developers, now we have some things how we want to do it and your purposes

[2016-07-28 07:45] veloraven commented on #5292
@elieobeid7 could you please copy problem's description to this ticket following template (steps, expected result, actual result)? It will be much easier for other users who may have the same issue to find it.

[2016-07-28 07:50] andidhouse commented on #4110
hi there,
in version 2.1 this bug is present? Is this not fixed?

[2016-07-28 07:55] veloraven commented on #5298
@thangnhpk thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please also provide description according to the template: with steps, actual result and expected result.

[2016-07-28 08:09] matthew-muscat commented on #4972
Not sure why this was closed - confirming this affects v2.1.0 (CE / EE).

As @fooman mentioned, this breaks extensions which used "container" to add massactions to the sales order grid, which works in the 2.0.x release, but now requires "listingToolbar" in 2.1.x

[2016-07-28 08:11] nmallepally commented on #5843
@dthampy its an upgrade from 2.0.7 to 2.1.
@hostep , after running the query it fixed the invoice issue, but i'm unable to pay using paypal.
after going to paypal payment gateway, and then clicking on continue, it redirects to website and gives me an error,  cannot place order.
![paypal 1](https://cloud.githubusercontent.com/assets/19605497/17205493/436d98a4-54a3-11e6-9365-a3f7af54690d.png)
![payp

[2016-07-28 08:26] klein0r opened #5851 ""State is required" is ignored in backend / admin"
### Preconditions
1. Install 2.0.7 from composer
2. Add a customer
### Steps to reproduce
1. Go to Configuration / General / General
2. Uncheck ALL items (nothing selected) in "State is Required for"
3. Set "Allow to Choose State if It is Optional for Country" to NO
4. Go to a customer of your choice and add a new address / edit an existing address
5. Choose "Germany" or "United States" as country

[2016-07-28 08:29] grasdaggel commented on #5836
We are experiencing the same problem on lower Mage2 versions (2.0.4 and 2.0.6). So far we haven't found a solution for that.

[2016-07-28 08:31] andidhouse commented on #5845
Can not reproduce this on a 2.1 with php7.

--> Create simple product and save without image
--> Navigate around in the backend
--> Go back to product und upload and save pictures works

[2016-07-28 08:35] zin-mi commented on #4110
Yes @andidhouse.
It Still and No one tells me the Solution and Reply about it.
Best Regards,
Ziven.

[2016-07-28 08:36] slavvka commented on #4457
Thank you, closing

[2016-07-28 08:36] #4457 closed, assigned to mbrinton01

[2016-07-28 08:44] andidhouse commented on #4110
@MomotenkoNatalia

Why is this issue closed if it is not fixed in a newer release.
It is now over 3.5 month... Can someone pls point out a workaround or when this issue will be fixed?

Thanks!

[2016-07-28 08:51] ghost opened #5852 "[2.1] Font family not imported from template in transactional emails"
### Preconditions
1. Magento 2.1
### Steps to reproduce
1. Uncomment lines 10-39 in _typography.less (that sets Open Sans as font-family for @font-family-name__base)
2. Set @font-family-name__base to 'Arial' in _variables.less
### Expected result
1. Transactional email should use the same font as the template
### Actual result
1. Transactional email still uses Open Sans from base template

<img wi

[2016-07-28 08:56] peec opened #5853 "[2.1.0] Fotorama gallery touch devices - scrolling up/down does not work"
When in mobile view and you try to scroll down, and is on a product page you normally put the finger on the large image of the product and swipe down/up to scroll on mobile devices. This does not work. When trying to drag from the fotorama gallery, nothing happens / it does not scroll. Since the image takes roughly 60% of the screen on mobile devices, this issue is very critical.

See the screensh

[2016-07-28 09:22] quienti commented on #5843
@nmallepally , do you have any error in system.log or exception.log, or maybe a crash report ?

[2016-07-28 09:36] juelghosh1 opened #5855 "Checkout button not displayed when "One Page Checkout" option selected as "No""
Check out option is not available in Magento Customer Website for setting "One Page Checkout" as No in Magento admin.

Version: Magento 1.9

Steps:
1. Login to Magento 1.9 Admin
2. Click on "System" from top menu bar and Select "Configuration"
3. Select "Checkout" setting option from the left menu bar under "SALES"
4. Select "Enable Onepage Checkout" option as "No"
5. Now launch Magento customer w

[2016-07-28 09:41] Imaginaerum commented on #5843
Can you set language to english. Flush all caches. Disable caches... And try PayPal order ?

[2016-07-28 09:42] nmallepally commented on #5843
@quienti this is what it showed on exception log,

] main.CRITICAL: Exception: Wrong order ID: "000000129". in /var/www/vhosts/edwia.eu/httpdocs/vendor/magento/module-paypal/Model/Ipn.php:140
Stack trace:
#0 /var/www/vhosts/edwia.eu/httpdocs/vendor/magento/module-paypal/Model/Ipn.php(106): Magento\Paypal\Model\Ipn->_getOrder()
#1 /var/www/vhosts/edwia.eu/httpdocs/vendor/magento/module-paypal/Model

[2016-07-28 09:42] Imaginaerum commented on #5843
@quienti Merci l'aide... Il faut voir si il s'agit de problèmes js car c'est une plaie... je vais voir pour remplacer les ' par un caractère spécial.

[2016-07-28 09:43] fooman commented on #4972
@matthew-muscat I closed this since the release went ahead with the change in there. So if this was reverted this would only be in 2.1.1 which would make compatibility even worse going forward.

[2016-07-28 09:43] Imaginaerum commented on #5843
It seem there is a closure problem...

[2016-07-28 09:46] mitul69 opened #5856 "New theme does not show in "Stores > Configuration > Design"
Desing page show me the Search Engine Robots  instead of the design settings
![admin-desgin-option](https://cloud.githubusercontent.com/assets/612252/17208409/3ee94426-54d6-11e6-8fb6-25fc234ddb5b.png)

[2016-07-28 09:50] mktudock commented on #5533
I can confirm this with 2.1.

[2016-07-28 09:52] nmallepally commented on #5843
@Imaginaerum @quienti  i did try to change the locale to english and try to do the paypal, when i clicked on paypal, without going to the gateway, it returned me a
![error paypal](https://cloud.githubusercontent.com/assets/19605497/17208628/6409c0ac-54b1-11e6-8fed-ff963325ba2e.png)
PayPal gateway has rejected request. Payment has already been made for this InvoiceID (#10412: Duplicate invoice).

[2016-07-28 09:54] YevSent commented on #5855
Hi @juelghosh1 , this repo only for Magento 2.x versions. That's why I'm close this issue.

[2016-07-28 09:54] #5855 closed, assigned to nobody

[2016-07-28 09:56] Imaginaerum commented on #5843
@nmallepally This order already exists.
Please, create a new test order.
@quienti I create a translation test with no single quote. I've create an issue on french language pack

[2016-07-28 10:00] quienti commented on #5843
@nmallepally , yes, try with a new order
@Imaginaerum Okay, I will try to simulate an order with Paypal with french pack in the day.

[2016-07-28 10:03] Imaginaerum commented on #5843
@nmallepally @quienti can you try with this [Dictionary](https://raw.githubusercontent.com/Imaginaerum/magento2-language-fr-fr/master/dictionary.csv) ?

[2016-07-28 10:03] nmallepally commented on #5843
@Imaginaerum @quienti this is what i found
![paypal error 2 1](https://cloud.githubusercontent.com/assets/19605497/17208987/e626be2c-54b2-11e6-8fad-cac9bb660ccd.png)

[2016-07-28 10:10] oserediuk commented on #5762
Hello @etessari ! I cannot reproduce your issue. If I create configurable product without sub-product, it is saved successfully as simple without exception.  It is normal behavior. Configurable product without sub-product becomes a simple product.

Could you clarify steps to reproduce or add some details?

[2016-07-28 10:11] Imaginaerum commented on #5843
@nmallepally same bug into english.

[2016-07-28 10:13] nmallepally commented on #5843
@Imaginaerum Yes,

we can't place the order

[2016-07-28 10:23] ytorbyk opened #5857 "Impossible to configure custom availability gateway validator"
### Preconditions

Magento 2.1.0 is used
### Steps to reproduce

I try to add custom availability validator to gateway validator pool
`
<virtualType name="MyPaymentValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="availability" xsi:type="string">Vendor\Name\Gateway\Validat

[2016-07-28 10:42] oserediuk commented on #5724
Hello @PierAlex ! I cannot reproduce your issue. I have same format of all my date control which you mentioned on the Front-end and Beck-end. Please, provide more details.

[2016-07-28 10:51] pantaoran commented on #5708
Sorry but I cannot confirm this.

I made the changes from the commit that you pointed to:

The problem that I described in my first post here is not fixed. If I add Chinese to the widget I still end up with meaningless Latin characters instead.

The problem described in my second post is also not fixed: if I add Chinese to the source without using the wysiwyg and save it still breaks my page like

[2016-07-28 11:01] anton-huz commented on #2697
@bonsdawende

So in both cases, Magento app works on the separate domain. But in the first case, it is a top level domain. Otherwise, it is a subdomain. Do I correctly understand? What is exact issue: does it completely broken or missed some parts of application?

[2016-07-28 11:02] slavvka commented on #4493
Hi all, the fix has been delivered to mainline.

[2016-07-28 11:02] slavvka commented on #3792
Hi all, the fix has been delivered to mainline.

[2016-07-28 11:05] quienti commented on #5843
So, this is a bug from Magento, you need to wait a response from a Magento members, sorry @nmallepally

[2016-07-28 11:06] pantaoran commented on #3572
The comment from @sky4git is interesting and helped me a little bit. Enabling FPC allowed me to not be blocked from going to the checkout anymore. Before this I would login, add a product to cart but when I wanted to go to the checkout (through minicart) it would show the login popup as if I wasn't logged in. This doesn't happen anymore even after clearing cookies.

But I still have another proble

[2016-07-28 11:17] webspeaks commented on #2933
Exists in 2.0.7. Doesn't get resolved when I set Tax destination country to same as Only allowed country.

[2016-07-28 11:23] quienti commented on #5856
Not a bug, read here => https://github.com/magento/magento2/issues/5307

[2016-07-28 11:27] nmallepally commented on #5843
@quienti thanks for your time, so the errors from log above are normal? is there a way to fix them?

[2016-07-28 11:33] quienti commented on #5843
No, this is not normal, but this error can help Magento members to resolve this problem.

[2016-07-28 11:36] charleskj commented on #4506
This issue resolved in 2.1 ?

[2016-07-28 11:37] nmallepally commented on #5843
@quienti yeah i just found that there are plenty of similar issues being reported , there is no solution for it at the moment i suppose its better to stop paypal payments. i found its being fixed on MAGETWO-54787 internally.

[2016-07-28 11:49] quienti commented on #5843
Good, so if there are another issue like you, you can close this issue, and you can click on the button "subcribe" in this issue related, and when a person add comment on this issue, you are notified!

[2016-07-28 11:50] flancer64 commented on #4585
Probably I had the same issue - wrong tax when shipping discount is used. Magento v 2.1.0 is still affected. My fix is in https://github.com/magento/magento2/pull/5858

[2016-07-28 12:17] veloraven commented on #5337
@SidneyBilliet thank you for your report.
Please, provide the used version of Magento. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please provide description according to the template: with steps, actual result and expected result.  It will help other users to find this issue in case when they have the same one.

[2016-07-28 12:21] hiephm opened #5860 "New Order Status config in payment method is useless"
### Preconditions

Magento CE 2.1.0
### Problem

In payment module that is gateway (support authorize, capture command), setting New Order Status config does not have any effect, new orders still have default status of processing state.
### Reason

In `\Magento\Sales\Model\Order\Payment::place`, the status is get from config:

[code]

which is assumed to be set to order later:

[code]

but in curr

[2016-07-28 12:21] vjacquemin-sqli opened #5861 "[Magento 2.1.0] Translation"
Dynamic translations does not work in customer registration page (password strength indicator)

[2016-07-28 12:26] SidneyBilliet commented on #5337
@veloraven, @stevenvdp  The used version of Magento is 2.0.7 as vissible in the video ;)
The issue occurs when "minify css" is active.
This issue is probably related to or the same as https://github.com/magento/magento2/issues/3170

Kind regards,

[2016-07-28 12:28] quienti opened #5862 "Braintree are broken in French Language"
### Preconditions
1. Magento 2.1.0
2. PHP 5.6
### Steps to reproduce
1. Admin in French language
2. Go to System => Config => Sales => Payement => Braintree
3. Error in payment_fr_braintree_section_braintree_braintree_country_specific_specificcountry
### Expected result
1. No error in JS
### Actual result
1. SyntaxError: missing ) after argument list
   2.

`
<select name="groups[braintree_section

[2016-07-28 12:28] oserediuk commented on #5850
Hello! Please, update your description, it looks like not full

[2016-07-28 12:30] kayintveen opened #5863 "URL Rewrite issues occur very often /catalog/product/view/id/711/s/product-name/category/16/"
### Summary (*)
For a long time we are struggling with URL Rewrites. When adding products and categories very often we get url structures like these. /catalog/product/view/id/711/s/product-name/category/16/

We had it with 2.0.0 and we even did a clean install of 2.1 and re-added (via import csv) the 360 products. We added the products to the categories by hand.

We noticed there is a solution by

[2016-07-28 12:30] kayintveen commented on #4850
Still no news on this issue??

[2016-07-28 12:30] 100php commented on #3572
@pantaoran is your full page cache on?

[2016-07-28 12:32] peec commented on #5178
Cam accross this issue.

Magento: 2.1.0 GA

### Reproduce:
1. Create a configurable product. That generates products A and B.
2. On product B - set in stock status to Out of stock and stock level to 0.

### Actual result:

In frontend, when changing to configurable product B , it still says "In Stock".

### Expected result:

In frontend, when chaging to configurable product B, it should display "O

[2016-07-28 12:37] tbenny commented on #5850
we have updated the steps to reproduce @oserediuk

[2016-07-28 12:41] rlaa opened #5864 "Custom chekcout field"
### Preconditions

1. I installed this module https://github.com/rlaa/custom-checkout-fields/blob/master/Test_attr.zip
### Steps to reproduce

1. php bin/magento setup:upgrade
2. php bin/magento cache:clean
3.  php bin/magento cache:flush
### Expected result

1.The custom checkout field is installed in table eav_attribute and it is assigned to necessary forms.
2.The custom checkout field shows up

[2016-07-28 12:41] ilol commented on #5417
MDVA-764

[2016-07-28 12:42] oserediuk commented on #5846
Hello! Please, add your code base version

[2016-07-28 12:44] elieobeid7 commented on #5292
@veloraven  my client did not pay me and I have left the project, you can close the ticket or delete it, if he ever pays and if i work for him again I'll create a new ticket or open this one.

[2016-07-28 12:46] garpik opened #5865 "Product import"
### Preconditions

Magento ver. 2.1.0, php 7.0.6
### Steps to reproduce

Import product with name 'Bonus'.
### Expected result

Product was created properly.
### Actual result

Error without description:
Maximum error count has been reached or system error is occurred!
### Additional

Possible magento can't create url 'bonus', because it reserved somewhere.

[2016-07-28 12:46] andimov commented on #5422
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-28 12:46] #5422 closed, assigned to nobody

[2016-07-28 12:46] oserediuk commented on #5840
Hello! Could you provide steps to reproduce more clear?

[2016-07-28 12:47] andimov commented on #5179
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-28 12:47] #5179 closed, assigned to andimov

[2016-07-28 12:47] jameswithers commented on #5846
Enterprise 2.1.0

[2016-07-28 12:48] andimov commented on #5474
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-28 12:48] #5474 closed, assigned to nobody

[2016-07-28 12:49] andimov commented on #5215
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-28 12:49] #5215 closed, assigned to andimov

[2016-07-28 12:50] veloraven commented on #5347
@webartistse thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-07-28 12:51] jernejh commented on #4883
I am facing the same issue in Magneto 2.1.0.

I have the following line in sl_SI.csv:

"Please enter a valid email address (Ex: johndoe@domain.com).","Prosimo vnesite veljaven elektronski naslov (Primer: janez.novak@domena.si).",module,Magento_Ui

Magento is still not translating the string, despite I removed pub/static, var/cache, var/generation, var/page_cache, var/view_preprocessed folders and

[2016-07-28 12:55] andidhouse commented on #5861
It also does not work in some other parts of the checkout as well. Also some codes are used more then once. If you change it on one place it is also changed at another place - for example step 1 checkout title is used at the cart page totals as well which makes no sense at all.

Also: The translation (inline frontend) does not work for the checkout user data? street address/city/zip code etc.

The

[2016-07-28 12:56] andimov commented on #5223
@Krapulat
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.
@anyone
Please create a separate ticket for other issues and provide detailed steps according to the template. This will help us to process issues. I'm closing this one.

[2016-07-28 12:56] #5223 closed, assigned to andimov

[2016-07-28 12:56] andimov commented on #5229
@klict
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

@anyone
Please create a separate ticket for other issues and provide detailed steps according to the template. This will help us to process issues. I'm closing this one.

[2016-07-28 12:58] andidhouse commented on #5853
hi @peec

i think this is a duplicate of:
https://github.com/magento/magento2/issues/5302

I also totally agree with you that this is a very very important bug as mobile users will get stuck!

Really important to fix this not in month but days i think!

[2016-07-28 13:00] OLTC-fperrin opened #5867 "Serializable fields not unserialized when getting model from collection"
### Preconditions
1. Magento 2.0.8
2. MariaDB 10.0.24 & PHP 5.6.20
### Steps to reproduce
1. Create an order (any way you want)
2. Create a credit memo for that order
3. Check DB for serialized field `product_options` in table `sales_order_item`
### Expected result
1. Field `product_options` of the `Magento\Sales\Model\Order\Item` model  should be unserialized on collection load (before it's seria

[2016-07-28 13:02] YevSent commented on #5857
Hi @ytorbyk, please, post DI configuration for virtual type of your custom payment adapter.

[2016-07-28 13:05] ludwig-gramberg opened #5868 "wysiqyg-media subdirectories are created wrong when database as media storage is used"
when using the database as media storage, magento checks wether or not the directories found in the database exist. unfortunately this checks goes wrong and it ends up creating folders just like the absolute path inside the wysiwyg folder.
### Preconditions
1.  magento 2.0.7
### Steps to reproduce
1. enable database media storage
2. bring up a cms page
3. click insert image
### Expected result
1.

[2016-07-28 13:05] tools-utrecht-hh opened #5869 "Webpage goes blank when scrolling up and down quickly"
### Preconditions

1.  PHP 7.0.9-1+deb.sury.org~xenial+1
2.  Magento 2.1
3.  MySQL 14.14 Distrib 5.7.13,
4.  Google Chrome
### Steps to reproduce

1. Go to any page on the front-end (home page will do) and scroll quickly up and down with mousewheel
2. Before long, the page suddenly goes completely blank. Moving the mouse about makes it return.
### Expected result

1.  The page should just scroll u

[2016-07-28 13:07] orlangur commented on #5868
Does it cause any other problem than creating one redundant empty folder?

[2016-07-28 13:08] ytorbyk commented on #5857
Here it is:
`<virtualType name="MyPaymentAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Vendor\Name\Gateway\Config\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Vendor\Name\

[2016-07-28 13:14] #5869 closed, assigned to nobody

[2016-07-28 13:15] ludwig-gramberg commented on #5868
i just deleted my whole wysiwyg folder and now magento is unable to synch the files back from the database because the folders are missing, so its not just obsolete wrong folders but actually the ones magento needs are missing (what else would be the point of creating them in the first place)

tl;dr yes it breaks the media synch for cms/wysiwyg

[2016-07-28 13:18] southerncomputer commented on #4506
Nope! Still 3.5meg bundled javascript!

[2016-07-28 13:18] YevSent commented on #5857
Looks like configuration is correct. We will investigate this issue, but strange behaviour because on the latest develop branch the `getInfoInstance` in the `\Magento\Payment\Model\Method\Adapter::isAvailable` method returns Payment object.

[2016-07-28 13:19] tools-utrecht-hh commented on #5869
Appears to be largely a Chrome bug; occurs on many websites, though in Magento 2 it only occurs on frontend. Likely an incompatibility between chrome and certain types of html elements.

[2016-07-28 13:22] ClaudiuCreanga opened #5870 "<script type="text/x-magento-init"> [data-gallery-role=gallery-placeholder] ... -> too broad"
On the product page you include this script near product image:

`<script type="text/x-magento-init"> [data-gallery-role=gallery-placeholder] ...`
and then when `mage.apply()` runs those scripts are evaluated. At this point you run `document.querySelectorAll("[data-gallery-role=gallery-placeholder]") ..`

This will make magento re-evaluate all `[data-gallery-role=gallery-placeholder]` elements on

[2016-07-28 13:23] MauroNigrele commented on #5823
Same for quote_item > order_item

[2016-07-28 13:26] PierAlex commented on #5724
Hello @oserediuk,
Can you please help me to understand which details can I provide you more? Is there any place where I can look for configuration settings?
Ale

[2016-07-28 13:26] ytorbyk commented on #5857
I tested locally on the latest commit on the develop branch with the same result.
`db9e0f Alexander Akimov on 7/21/16 at 12:55 (committed by GitHub)
Merge pull request #165 from magento-qmt/PR`

https://dl.dropboxusercontent.com/u/2008499/Screen%20Shot%202016-07-28%20at%2016.21.50.png
https://dl.dropboxusercontent.com/u/2008499/Screen%20Shot%202016-07-28%20at%2016.24.13.png

Thank for quick respon

[2016-07-28 13:29] davidbilly commented on #5705
@duhon i faced same issue on CE 2.1, it's expose my admin console url.

Faced this after i update from 2.0.4 CE to 2.1.0 CE.
More details : #5426

<img width="1550" alt="screen shot 2016-07-28 at 9 24 01 pm" src="https://cloud.githubusercontent.com/assets/3938103/17214165/36c8e48e-550a-11e6-8d9a-3f33e8255801.png">

[2016-07-28 13:32] veloraven commented on #5286
@kilis thank you for your report.
Could you please clarify what exactly you do at Step 5?

[2016-07-28 13:32] spipu opened #5871 "[CE 2.1.0] Fatal issue on BO edit page if a media has been directly deleted on the server"
Hi,

The steps are :
- Create a product and add a media in the "Images and Videos" tab.
- Go on the product view page in BO : it works
- Delete the image **directly** on the server to simulate a accidental lost of data
- Go on the product view page in BO : the following error occurs without the possibility to edit the product :

It is because there is no protection here:

https://github.com/magent

[2016-07-28 13:32] peec commented on #5853
Hi,

Ah I did not find this bug when searching for fotorama. I guess we don't need two reports for this.

[2016-07-28 13:33] oserediuk commented on #5724
@PierAlex , I observed all control which you mentioned here and didn't see difference of format date on the fresh installation Magento 2.1.0 I cannot reproduce you issue. If you could add some more information, it would be useful to reproduce this case. It could be some non-default setting or special commit code base.

[2016-07-28 13:33] kandrejevs commented on #4522
let me know, if you need code example

[2016-07-28 13:37] springimport commented on #5747
I still don't understand how to add attributes. In your link "orders" do not participate in EAV attributes.

I guess I need to use an interface, but how?

[2016-07-28 13:37] veloraven commented on #5326
@astorm thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-07-28 13:40] ludwig-gramberg commented on #5868
my fix is this:
replace:
`$fullPath = rtrim($path, '/') . '/' . $directory['name'];
$this->_directory->create($fullPath);`
with:
`$this->_directory->create($directory['path'].'/'.$directory['name']);`

[2016-07-28 13:41] YevSent commented on #5857
Could you check the same behaviour for one of Magento payments, for example, Braintree? Just to check `$this->getInfoInstance()` won't be empty in `isAvailable` method. Even don't need to specify `availability validator.
PS. Links to screenshots are broken.
Thanks.

[2016-07-28 13:45] veloraven commented on #5294
Closed as seems to be not Magento issue.
@sheldonli999 if you still experience this problem please reopen the ticket with corresponding comment.

[2016-07-28 13:45] #5294 closed, assigned to nobody

[2016-07-28 13:47] davidbilly commented on #5868
@ludwig-gramberg is it this issue? #5705

[2016-07-28 13:49] ludwig-gramberg commented on #5868
nope, this is something different

[2016-07-28 13:49] ytorbyk commented on #5857
Yes, I have checked on Braintree payment method. The result on the those screenshots, `$this->getInfoInstance()` is empty.

[2016-07-28 13:54] ludwig-gramberg opened #5872 "database media storage: cms-images are not being loaded on demand (but product images are)"
when using the database as the media storage one can adhoc fetch product-images from the database when they are requested for the first time and they dont exist on disk. it would be fair to assume this is also true for images of the cms.
### Preconditions
1. magento 2.0.7
2. caches disabled
### Steps to reproduce
1. enable database media storage
2. upload an image to the cms/wysiwyg
3. remove your

[2016-07-28 13:56] ludwig-gramberg commented on #5872
i know that there is a cron involved, but scaling magento, the question how the images are being synchronized is important, and even though the cron might eventually synch these images, for products it works in a better way, so why not for the cms?

[2016-07-28 14:03] exreplay commented on #5835
No problem.
The main problem is, when PayPal is integrated and you turn on the minification, sites break because of that.
![paypal_minify_bug](https://cloud.githubusercontent.com/assets/4998475/17215425/15a7a66e-54dd-11e6-9dda-5872a2f5e139.jpg)

[2016-07-28 14:05] veloraven commented on #5282
Hi @mcspronko !
I was able to reproduce your issue. I have created an internal ticket MAGETWO-56077.

[2016-07-28 14:08] ComputerNorth opened #5873 "Address Information not showing"
### Preconditions

Magento 2.1
### Steps to reproduce

In the admin panel go to Sales --> Orders --> select an order
### Expected result

In both the Billing Address  and Shipping Address I expect to see the address details of the customer. However the actual result is:

Address Information
Billing Address

{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var mid

[2016-07-28 14:15] veloraven commented on #5351
@deepanshu27193 thank you for your report.
Could you please specify exact version?
Also, please provide description according to the template: with actual result, expected result and exact steps, as it's not clear what do you mean as 'saved multiple product at same time'.

[2016-07-28 14:24] PierAlex commented on #5724
@oserediuk
It also happens on a fresh installation. I'm expecting to manage dates in my locale format (dd/mm/yyyy).

![image](https://cloud.githubusercontent.com/assets/17165819/17215086/070bd11c-54dc-11e6-8617-1dac65bf7361.png)

To set date input format in my locale format, I set Timezone in stores->configuration->General Tab. Is this the right place? It does not take effects for date fields. Inp

[2016-07-28 14:34] veloraven commented on #5398
@kandrejevs thank you for your report.
Could you please provide description according to the template: with steps, actual result and expected result? For easier information perceiving.

[2016-07-28 14:35] rossluk commented on #3533
It's not only PHP 7 problem. I've had the same with PHP 5.6.17 (but with Zend Opcache v7.0.6-dev). "tearDown" is good solution, thanks.

[2016-07-28 14:39] kaieleshop opened #5874 ""Send Welcome Email From" : storeview doesnt change in multisite"
I've got a multisite installation: 2 websites: "Europe" and "Asia". Europe has 2 stores: "France" and "Germany". And "Asia" has only one store: "China". "France" store as one storeview: "French". "Germany" has one storeview: "German". And "China" has 2 storviews: "Chinese" and "English".

The problem is when a new customer account is created in frontend in "Chinese" storeview, I've got in the back

[2016-07-28 14:50] veloraven commented on #5369
Closed as not an issue.

[2016-07-28 14:50] #5369 closed, assigned to nobody

[2016-07-28 14:51] veloraven commented on #5374
@Whaaaaat , thank you for your report.
Please provide description according to the template: with steps, actual result and expected result.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-07-28 15:01] techverx commented on #4813
@mverstraete , Hi I am facing the same problem I read all conversation and tried everything but still on payment spin is showing did you find any solution. Help much appreciated. :)

[2016-07-28 15:04] toddliningerdesign commented on #5460
@kalpeshchavada Can you please share what fixed it? I am experiencing the same problem.

[2016-07-28 15:04] ludwig-gramberg commented on #5872
was on the wrong track but still the same problem
magento evaluates catalog images server-side while rendering, however wysiwyg images are being fetched on demand via .htaccess mod_rewrite and get.php
but this is also not working because the wrong path is being evaluated:

so it tries to determine if the request media/wysiwyg/Bildschirmfoto_2016-07-27_um_14.32.10.png can be fulfilled but it expect

[2016-07-28 15:05] mverstraete commented on #4813
@techverx , Updating the database as described here worked for me:

https://github.com/magento/magento2/issues/4785

ALTER TABLE sales_invoice_grid ADD base_grand_total decimal(12,4) AFTER grand_total;

[2016-07-28 15:06] kalpeshchavada commented on #5460
I have restore Magento 2's file.

And that was working fine.

Thanks
On 28 Jul 2016 20:35, "toddliningerdesign" notifications@github.com wrote:

[2016-07-28 15:17] ludwig-gramberg commented on #5872
my fix was this:
in get.php drop the media/ from the relative path by adding:
`$relativePath = preg_replace('/^media\//', '', $relativePath);`

[2016-07-28 15:22] zolthan commented on #5633
Same problem here...

[2016-07-28 15:26] flnative commented on #5430
I have the same issue with 2.1. This is very important. Please provide an update on this as I cannot proceed to sell to my wholesale customers.

You cannot update customer group from the Customer tab or from the option of changing the group when doing an ADMIN order. What is the permission for the Var folder?

[2016-07-28 15:28] techverx commented on #4813
@mverstraete , Added base_grand_total but did not solve  my problem still screen is spinning.

[2016-07-28 15:41] mverstraete opened #5875 "Can't checkout with product that has a File custom option."
### Preconditions

Magento 2.1
PHP 5.6.22
### Steps to reproduce
1.  Checkout with a product that has an attached file as part of a custom option.
### Expected result
1. Checkout functions as normal
### Actual result
1. Server returns 500 error.
2. PHP error log contains: PHP Fatal error:  Call to a member function isFile() on null in .../vendor/magento/module-catalog/Model/Product/Option/Type/Fil

[2016-07-28 15:44] nmallepally commented on #4785
I have a paypal error,  we can't place the order.
Magento 2.1 v CE.

![paypal error 2 1](https://cloud.githubusercontent.com/assets/19605497/17219222/86c42d9a-54e2-11e6-90e5-b449f1f11e76.png)

[2016-07-28 15:50] nmallepally commented on #5843
@quienti I'm not sure, where to track the fix as well, paypal is our main payment method.
we have less time to fix, before we go live. It works well with authipay payment method.
Paypal does not work, gives me this error every time.

[2016-07-28 16:35] quienti commented on #5843
@nmallepally , I understand, but I can not help you for this problem, you need to wait a response from Magento members :/

[2016-07-28 16:36] daniel-ifrim commented on #5840
There is:

[code]

here:
https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Model/Attribute/Backend/Startdate.php

Attribute with `attribute_code` "news_from_date" has in 'backend' column in `eav_attribute` table
"Magento/Catalog/Model/Attribute/Backend/Startdate"

The snippet of code for news_to_date attribute will do:
- if the value of this attribute from product is empty

[2016-07-28 17:06] blizzardengle commented on #5845
Try PHP 5.6.

I did a fresh install on CentOS and on my local Windows machine using Magento 2.1 and PHP 5.6 and it happened both times. This could be caused by something else but I have found nothing in the logs to warn me that some other error is happening.

[2016-07-28 17:50] dthampy commented on #5848
An internal Jira Ticket ->MAGETWO-54717 exists for this issue.

[2016-07-28 18:04] dapdx commented on #5746
I was able to fix this issue. It was caused by an incorrect line in the
view.xml file in a custom theme.

Thank you

On 7/27/2016 6:35 AM, Oleksii Serediuk wrote:

[2016-07-28 18:07] Ctucker9233 commented on #5539
@kubjnit Then it's different than the problem I was having. In my issue it had to do with Magento core code in 2.1.0.

[2016-07-28 19:43] dthampy commented on #5851
Internal jira ticket MAGETWO-56056 created

[2016-07-28 19:59] famousTM commented on #4795
Hello guys, do you have the fix? I'd rather not use a hack.

[2016-07-28 20:16] skhell opened #5876 "Configurable products import doesn't work configurable_variations not imported"
### Preconditions

1. PHP 7.0.6
2. MySQL CE 5.6.30
3. Magento 2.1.0
### Steps to reproduce

Create a CSV with 3 virtual products and one configurable product.
The only attribute configurable is COLOR.
Add to the CSV (screenshot attached) the additional_attributes field, as well as configurable_variations and configurable_variation_lables.
### Expected result

The import procedure should create thr

[2016-07-28 20:17] choukalos commented on #4060
Thanks @SamTay for the insight.  We're tracking internally.

For those on this thread, a change to search criteria would be a breaking change; how big of an impact would this be for you all?

[2016-07-28 20:47] milkolori commented on #4921
Number of Lines in a Street Address changed to 1 works for me! Thanks!

[2016-07-28 20:52] nomuprive commented on #2368
I'm having the same issue and posted for help, but have not received any answer yet. I just don't understand why Magento 2 cannot not be programmed to automatically create a different "Category" or "Product" "URL Key" when the default "URL Key" matches an existing "URL Key", and if a different URL key has not been added manually by user? This is well done by even some basic ecommerce and CMS platf

[2016-07-28 21:20] billcornell opened #5877 "Multi-select option attribute values do not appear in admin"
A multi-select attribute with option values does not show any of the values in the product page in admin.

### Preconditions

1.   Magento 2.1, PHP 5.6.23
### Steps to reproduce

1.  Products -> Catalog, then Add Product (simple)
2.  Add product and save it
3.  Add Attribute.  " Catalog Input Type for Store Owner" value is "Multiple Select"
4.  Add 2 or more attribute values.  Save the attribute a

[2016-07-28 21:59] paales opened #5878 "URL Indexer doesn't honor catalog/seo/product_use_categories"
### Preconditions

1. Magento 2.1
### Steps to reproduce

1. Set 'Use Categories Path for Product URLs' to No (Default value)
2. Save a category with products.
### Expected result

1. No category specific url keys are made
### Actual result

1. Category specific url keys are made.

[2016-07-28 22:18] dthampy commented on #5849
@parthviroja , please specify the changes that you made in checkout_index_index.xml?

[2016-07-28 22:20] paales commented on #5878
This line should be conditional (or somewhere deeper, because it doesn't take storeId in account)
https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogUrlRewrite/Observer/AfterImportDataObserver.php#L266

This should also be conditional depending on the config:
https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogUrlRewrite/Model/ProductUrlRewriteGenerator.p

[2016-07-28 23:12] zgggzrzx commented on #2470
Hi,i got the same issue for web installation.
Finally i modified this php file ( i use community edition and directory structure like this)
Magento\setup\src\Magento\Setup\Model\Installer.php
There is a const variable here :const MYSQL_VERSION_REQUIRED = '5.6.0';
You can set it =''; Then the installation will igonre the mysql version check.

[2016-07-29 00:19] kaieleshop opened #5879 "Welcome email is sent to customer in wrong language"
### Preconditions

1. MAGENTO 2.1
2. PHP 7.0.9
### Steps to reproduce

1. New storeview ----> With other language then the default storeview (of course the new language has been installed)
2. Customer/ New customer / Send welcome email from "new storeview"
3.
### Expected result

1. Welcome email sent to customer in new storeview language
### Actual result

1. In Customer info / Account info: no c

[2016-07-29 00:25] kaieleshop commented on #5879
Same problem occurs with multi websites. The storeview for "Send welcome email from" is always the  first storeview in term of alphabetical order of the default website. Result : welcome message always sent in the same language whatever the storeview or the website in which the customer has been registered. In my case the welcome email is always sent in German language even if my customer is regis

[2016-07-29 00:39] #5874 closed, assigned to nobody

[2016-07-29 00:58] vutrankien commented on #4767
Hi @sereban
To now i still not have best solution
The solution i using is :
In class

[code]

Change

`return $this->getCollection()->getSize();`

to this

`return count($this->getCollection());`

[2016-07-29 01:13] sengaigibon commented on #3572
It's weird... Same problem as @pantaoran.
With all cache enabled, I'm using  `$this->session->getCustomerId()` to know if the customer is logged in or not, then render the name in the top op header and enable other features.
`$this->session` is a `Magento\Customer\Model\Session` object.
After login I can see the customer's name on top, but it disappear in CMS pages, product overview page, product

[2016-07-29 01:25] markshust commented on #2470
It appears you are using a web installer? I've been installing from CLI.

[2016-07-29 01:29] zgggzrzx commented on #2470
Ye, web installer maybe not support marian,  so need to modify something.

On Jul 28, 2016 6:25 PM, "Mark Shust" notifications@github.com wrote:

[2016-07-29 01:47] HirokazuNishi commented on #5356
This is not Magento's bug, but same in Japanese & Korean.
It's caused by libICU and PHP.
Please read [my gist](https://gist.github.com/HirokazuNishi/f5586b3710e25e487a8667969a47c369).

If you can change your Linux distribution from RHEL clones to Ubuntu, this issue will be resolved.

[2016-07-29 02:35] pantaoran commented on #3572
@100php my last sentence specifically answered your question. I said "now I have all caches enabled".

[2016-07-29 02:58] hiephm commented on #5860
Here is a work around using around plugin for \Magento\Sales\Model\Order\Payment\State\CommandInterface:

[code]

[2016-07-29 03:41] markshust commented on #2470
Ok, this should in fact be a bug then. I would expect the web interface should work exactly like the CLI. Whatever is happening in CLI should be the correct/default method, looks like web interface is doing some additional MySQL checks it shouldn't be doing.

[2016-07-29 03:52] acidreian666 opened #5880 "Magento 2.1 php7.1 will not be supported due to mcrypt deprecation"
Been testing Ubuntu & PHP7.1

Dev Docs say php7.1 will be supported on Magento 2.x CE
http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html
7.0.2 up to 7.1.0, except for 7.0.5

Ubuntu 16.04; PHP7.1; Magento2.1; Nginx; Mysql5.7

Steps to reproduce
1. I previously installed Magento2.1 (using support php7.0.8 via Ubuntu)
2. Install add-apt-repository ppa:ondrej/php
3. Sudo apt-g

[2016-07-29 04:01] luantmindarc commented on #5803
You can check file acl.xml in your module

[2016-07-29 04:12] parthviroja commented on #5849
i don't made any changes in checkout_index_index.xml
also i have found this issue in default luma theme also

when i have change sortOrder of company field in DB that time this issue raise.

default sortOrder of company field : 60

i have set 160 , as per previous comment.

[2016-07-29 05:09] 100php commented on #3572
@pantaoran  Thank you for confirmation. As we see in the admin pf Magento 2.0.7 built-in caching is not recommended for Production Use(check the image below).

![image](https://cloud.githubusercontent.com/assets/8121471/17238291/2d46ce8a-5578-11e6-9bf4-e48ba4c4f73a.png)

There are two parts to this issue ::
1. **Minicart**  -  Minicart do not work when full page cache(FPC) is disabled. But it work

[2016-07-29 05:23] sky4git commented on #3572
@pantaoran @sengaigibon  For me, everything working fine after I enable FPC. I know its not recommended to use in Dev mode, but that is the solution for now.

For your mincart issue, I recommend to check any broken layout issue in related XML files in system log. Sometimes even if everything is right, it can make stop things working properly. This would be the case if your working on custom theme

[2016-07-29 05:29] 100php commented on #3572
@sky4git this is totally dependent on your environment and requirement. We needed on session messages and cart(minicart) you can add other sections also. This will load all these section on every action ex. pageload, add to cart, remove from cart etc...

[2016-07-29 06:06] oserediuk commented on #5746
You are welcome!

[2016-07-29 06:06] #5746 closed, assigned to nobody

[2016-07-29 06:32] zgggzrzx commented on #2470
Hi,yes,just I continue installing magneto, it reported some error when
creating database tables.

On Jul 28, 2016 8:42 PM, "Mark Shust" notifications@github.com wrote:

[2016-07-29 06:38] bonsdawende commented on #5839
I guessed that I got this message when I used Nginx. But it's works when I used Apache.  Anyone has already encountered this kind of error with Nginx ?

[2016-07-29 07:47] basselalaraaj commented on #4648
This seems already fixed in:
https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Code/Generator/EntityAbstract.php::328 / 330

[2016-07-29 08:03] tbenny opened #5881 "Admin Login issue in Magento 2.1.0- "You did not sign in correctly or your account is temporarily disabled""
### Preconditions

1. Magento version - magento 2.1.0 CE, PHP 7.0.8 ,Mysql 5.6
### Steps to reproduce

1. Install magento  2.1.0 with sample data
2. Give admin password as 'admin123' it wont validate for alphanumeric and it will successfully create an admin with the above password.
3. After installation when we go to admin login , it will show an error "You did not sign in correctly or your accoun

[2016-07-29 08:09] tbenny commented on #5881
The only solution we get inorder  to recover from this is go to command line ,location is magento root folder and type command php bin/magento admin:user:create --admin-user="tony" --admin-password="1123**a" --admin-email="tonybenny2004@gmail.com" --admin-firstname="Admin" --admin-lastname="Admin"  and create an admin named "tony and login with that username and access the admin Dashboard and go t

[2016-07-29 08:11] Hawk30100 commented on #4953
Same problem for me with CE 2.1.0. Ordering a item with options lead to the text "You need to ..."

[2016-07-29 08:14] tbenny commented on #5850
This issue is handled well in magento 2.1.0

[2016-07-29 08:18] dengfan commented on #5734
I have upgrade magento 2.0.6 to Magento 2.1.0, and i have the same problem.
When I clean caches and batch execute  update attributes action for products, It's be OK.
But a few days later, it again errors!

`a:4:{i:0;s:99:"The configuration parameter "componentType" is a required for "advanced_inventory_modal" component.";i:1;s:7487:"#0 /var/www/magento2206/vendor/magento/framework/View/Element/UiC

[2016-07-29 08:18] tbenny commented on #5880
PHP 7.1 still in beta stage may be a stable version handles the issue.

[2016-07-29 08:23] Hawk30100 opened #5882 "[2.1.0][2.1.2][2.1.3] Adding a Configurable Product with options to cart leads to "You need to choose options for your item.""
Adding a Configurable Product with options to cart leads to error message: "You need to choose options for your item.".
### Preconditions
1. Magento version CE 2.1.0 or CE 2.1.2
2. PHP 7.0.6
### Steps to reproduce
1. Create a Configurable Product
2. Add some products to Configurations
3. Create Options for the Configurable Product
4. Open Configurable Product in Browser
5. Choose Options and e.g.

[2016-07-29 08:27] nmallepally commented on #5843
@quienti Yeah, sure. thanks.  I even did try to do the real payment, it returns me the same error.
will wait for the magento guys to come back. Thanks again for the support.

[2016-07-29 08:30] nmallepally commented on #5836
Yes, it is a important bug. I am experiencing the same issue as well, Magento 2.1 v, The cron is setup properly, but does not show products until it is re indexed.

[2016-07-29 08:50] mktudock commented on #5833
We can reproduce this issue in Magento 2.1. I can also confirm that this happens for built in payment methods.

[2016-07-29 09:05] TKlement commented on #5833
Same problem with Magento 2.1. No matter if you are in developer or production mode.

[2016-07-29 09:07] perry3181 commented on #3364
Hi @NadiyaS

My project running 2.0.7 also have this issue, could you let me know which files / folders need to be replaced?
I can find the fixed files / folders in current develop branch?
Thanks!

[2016-07-29 09:09] ErvinLlojku commented on #2916
Hello,

Please kindfully consider updating the error messages for the swatch elements. It is the same usability issue as described above. Should be reconsidered the way the styles are applyied to the swatch inputs.

Thank you!

[2016-07-29 09:14] kanduvisla commented on #4953
Is this solved in 2.0.8?

[2016-07-29 09:15] mktudock commented on #5833
An update:
We had the issue because a module used a deprecated PHP functionality which threw an exception AFTER the order was placed but still displayed the "Unable to place order message".

When trying to place the order again the issue described in this ticket happens - Magento tries to create another order with the same ID.
At least that's what we think happened after debugging both exceptions.

[2016-07-29 09:20] jernejh commented on #5509
same problem here!

[2016-07-29 09:23] oserediuk commented on #5882
Hello! Looks like you created product with required options. Could you check it? If yes, this is correct system behavior

[2016-07-29 09:24] andimov commented on #5873
@ComputerNorth
Thanks for reporting!

Try to clear browser cache or open this page in another browser.
If this does not help, add a screenshot of the page with the open console.

[2016-07-29 09:27] oserediuk commented on #5881
Hello! Do you mean that you set admin password during installation by web interface?

[2016-07-29 09:29] tbenny commented on #5881
yes we set admin password during installation by web interface.During Installation we can easily set passwords like "admin123" and no validation occurs

[2016-07-29 09:31] Hawk30100 commented on #5882
Yes, we did create a product with required options.

If I try to add the product to cart without choosing an option i will get the message "This is a required field." for every option that was not set.

If I choose a entry for all required options and click on "Add to Cart" I will get the message "You need to choose options for your item.".
I did choose options for this item... all required option

[2016-07-29 09:34] jernejh opened #5883 "Untranslatable string "Minimum length of this field must be equal...""
### Preconditions

1. Version: _Magento 2.1_
### Steps to reproduce

1. Use a _magento i18n:collect-phrases_ tool to collect all phrases.
2. Go to page: _my-domain/customer/account/create/_
3. There is a _"Minimum length of this field must be equal or greater than 8 symbols. Leading and trailing spaces will be ignored."_ string, which I can not find in a csv file, produced by _collect-phrases_ too

[2016-07-29 09:34] kanduvisla commented on #5719
Confirmed in 2.0.8. Adding a comment changes the dates of all comments. It's not updated in the database though, so it looks like a templating issue

[2016-07-29 09:43] mktudock commented on #2908
Is this issue still not fixed?

[2016-07-29 09:47] kanduvisla commented on #5719
The problem seems to be in line 75-76 of `vendor/magento/module-sales/view/adminhtml/templates/order/view/history.phtml`.

This uses `$_item->getCreatedAtDate()` but this should be `$_item->getCreatedAt()`.

Changing this line fixes the issue. The same seems to be happening on line 56-57 of `vendor/magento/module-sales/view/adminhtml/templates/order/comments/view.phtml`, with the comments.

[2016-07-29 09:49] antboiko commented on #5883
Hi @jernejh , we have already created ticket MAGETWO-55900 to fix this.

https://github.com/magento/magento2/issues/5509

Thanks,
Anton.

[2016-07-29 09:54] YevSent commented on #5857
Hi, @ytorbyk.
I more detailed investigated this issue and found follow things:
1. The `$this->getInfoInstance()` will return `null` if `setInfoInstance` not called yet, for example, `\Magento\Payment\Model\MethodList::getAvailableMethods`.
2. `\Magento\Payment\Model\Method\Adapter::isAvailable` should try to get payment instance only when payment already set to quote.

I've created internal ticket

[2016-07-29 09:54] mktudock opened #5885 "Unable to set different custom option labels for multiple store views"
### Preconditions
1. Have Magento 2.1. (with PHP 7)
2. Install the sample data and create a new store view
3. Go to any product and create a custom option as a dropdown with some options (for global)
### Steps to reproduce

1. Switch to another store view
2. Change the name of the custom option and the name of the values
3. Save
### Expected result
1. The global scope and the store view should hav

[2016-07-29 10:01] ytorbyk commented on #5857
Yes, thank you.

One more thing, availability validator should be called even if payment isn't set to quote yet, shouldn't it? Moreover, quote has to be always passed to the validator if it is already created. Is it correct?

[2016-07-29 10:10] YevSent commented on #5857
In the current implementation - no, because `\Magento\Payment\Gateway\Data\PaymentDataObjectFactory` expects `InfoInterface` not `null`.

Not quote, but payment.

[2016-07-29 10:14] ndlinh-celtic commented on #4263
@NadiyaS

The problem is in `Magento\Sales\Model\Order\Payment::isCaptureFinal`

[code]

The `$amountToCapture` is in Base Currency but the `$total = $this->getOrder()->getTotalDue();` is return the value of Store Currency.
I think that function should be like this:

[code]

[2016-07-29 10:21] YevSent commented on #5862
Hi, @quienti, could you attach your localization file? Do this issue is reproducible on the latest develop?

[2016-07-29 10:22] YevSent commented on #5511
Closing this issue due to no response, please reopen when you have an update.

[2016-07-29 10:22] #5511 closed, assigned to alena-marchenko

[2016-07-29 10:22] YevSent commented on #5577
Closing this issue due to no response, please reopen when you have an update.

[2016-07-29 10:22] #5577 closed, assigned to alena-marchenko

[2016-07-29 10:33] ytorbyk commented on #5857
So if payment is not set to quote the validator cannot reach quote, correct?

If yes.
What about case when availability depends on quote/quote items? Payment method shouldn't be (in some cases) in result of \Magento\Payment\Model\MethodList::getAvailableMethods method.

[2016-07-29 10:34] andimov commented on #5863
@kayintveen
Thank you for reporting!
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-07-29 10:35] sengaigibon commented on #2010
I think this issue is directly related to #3572

[2016-07-29 10:36] sengaigibon commented on #3294
Related to #3572

[2016-07-29 10:36] kayintveen commented on #5863
@andimov Thank you, i just entered the steps to reproduce.

[2016-07-29 10:37] andimov commented on #5861
@vjacquemin-sqli
Thank you for reporting!
To allow us to research the issue, please, provide description according to the template.

[2016-07-29 10:40] YevSent commented on #5857
Validator works with quote payment, not with a quote https://github.com/magento/magento2/blob/develop/app/code/Magento/Payment/Model/Method/Adapter.php#L274.

This logic should be specified in the quote module, not in payment. Payment shouldn't depend on quote details.

[2016-07-29 10:44] antboiko commented on #5885
Hi @mktudock , thanks for reporting this. We already have internal ticket MAGETWO-47698 to fix this issue.

Best,
Anton.

[2016-07-29 10:45] andimov commented on #5856
@mitul69
Thank you for reporting!
@quienti
Thank you for the assistance!

This is a duplicate of closed issue. I'm closing this one too.

[2016-07-29 10:45] #5856 closed, assigned to nobody

[2016-07-29 10:46] ghost opened #5886 "[2.1] "none" is not meant to be translated?"
If one translates the word "none" to anything else, the product page attribute titles are printed although they should be hidden, because of the following line of code: `<?php if ($_attributeLabel != 'none'): ?>`.

https://github.com/magento/magento2/blob/2.1/app/code/Magento/Catalog/view/frontend/templates/product/view/attribute.phtml#L37
### Preconditions
1. Magento 2.1
### Steps to reproduce
1.

[2016-07-29 10:59] quienti commented on #5862
Hi @joni-jones , where I can find this file ?
And, I do not know if is reproducible on develop branch and I can not test :/

[2016-07-29 11:00] andimov commented on #5772
@love1106
Thanks for reporting!

Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-07-29 11:18] andimov commented on #5865
@garpik
Thank you for reporting!

I have reproduced this issue. We will investigate it further.

[2016-07-29 11:30] andimov commented on #5306
@hgpit
Thank you for reporting!
datastore.mydomain.local is a weird domain for importing. Try to use local paths.

[2016-07-29 11:35] andimov commented on #5236
@richardreen
According to contributor guide, tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.
@anyone
Please create a separate ticket for other issues and provide detailed steps according to the template. This will help us to process issues. I'm closing this one.

[2016-07-29 11:35] #5236 closed, assigned to nobody

[2016-07-29 11:50] paales commented on #5886
👍  Experienced this as well

[2016-07-29 11:56] veloraven commented on #5492
@klein0r thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-07-29 12:02] veloraven commented on #5486
@sasilinux thank you for your report.
Could you please provide more detailed steps?

[2016-07-29 12:03] tbenny commented on #5880
php 7.1 is in beta stage now .In future  release of magento 2.1.0 it needs to be taken care anyway

[2016-07-29 12:09] RemcoShopCommerce commented on #1702
'kgs' is not a weight unit - 'kg' is.

[2016-07-29 12:09] hgpit commented on #5306
@andimov
"Try to use local paths.". What kind of answer/suggestion is that? Magento 2 provides the facility to import from URLs but because I'm reporting an issue with it, you're suggesting not to use the feature?

Also, how is "datastore.mydomain.local" a weird domain for importing? Aside from the fact I have blatantly replaced the domain name with a generic one for the purpose of example; we hav

[2016-07-29 12:25] oserediuk commented on #5792
Hello! Please, add code base version which you use

[2016-07-29 12:27] paales opened #5887 "ImportExport: performance problem with multi store setup, inventory item reindex"
### Preconditions

1. Magento 2.1.0
### Steps to reproduce

1. Setup 50 stores, with 50 seperate root categories with each their own subcategories.
2. Import products using the importer, 200 should be enough
### Expected result

1. It does a little bit less than 14000 queries for 200 products ;)
### Actual result

1. [Screenshot, logs]

![schermafbeelding 2016-07-29 om 14 26 32](https://cloud.gith

[2016-07-29 12:43] kanduvisla commented on #5719
I've created a pull request for the 2.0 branch that addresses this issue.

[2016-07-29 12:45] kanduvisla commented on #5719
On a sidenote: this problem only seems to exist on the 2.0 branch. 2.1 and develop were already fixed

[2016-07-29 12:47] boldhedgehog commented on #5836
Works for me if I set 'Use Separate Process' to 'No' for the **index** CRON group.

[2016-07-29 13:05] Hawk30100 commented on #5882
Just changed the title and the problem description. I found out that my problem only happens with configurable products with options.

[2016-07-29 13:12] hostep commented on #5836
@boldhedgehog: tnx, but unfortunately it doesn't seem to fix our issue :(

[2016-07-29 13:17] kassner opened #5889 "Update composer dependency"
Hi!

Can we have composer update to the latest stable version? Currently we're depending on `1.0.0-beta1`, even on the `develop` branch.

Thanks!

[2016-07-29 13:18] nomuprive commented on #5792
Hello @oserediuk is Magento 2, Version 2.1

[2016-07-29 13:19] ghost commented on #5836
Setting 'Use Separate Process' to 'No' for the index CRON group does not work for me either.

[2016-07-29 13:28] hostep commented on #5889
Duplicate: https://github.com/magento/magento2/issues/4359

[2016-07-29 13:37] lucscu commented on #3364
@perry3181 have you upgrade to 2.0.8?

[2016-07-29 13:44] NadiyaS commented on #3364
Hi @perry3181 ,
if you do not want to do upgrade to 2.1 version you can upgrade your code to 2.0.8. It is the best way to fix this problem, and not to change files separately.

[2016-07-29 13:44] boldhedgehog commented on #5836
@hostep I had to wait a little and after 5-10 runs of cron:run Magento had added indexer tasks to cron_schedule:

| schedule_id | job_code | status | messages | created_at | scheduled_at | executed_at | finished_at |
| --- | --- | --- | --- | --- | --- | --- | --- |
| 1106 | indexer_update_all_views | success | NULL | 2016-07-29 15:34:45 | 2016-07-29 15:34:00 | 2016-07-29 15:34:47 | 2016-07-29 15:

[2016-07-29 13:57] hostep commented on #5836
@boldhedgehog: yes, I see them too, even with 'Use separate process' on 'Yes'. So this means the indexers are correctly executed through the cron, but something in the execution itself goes wrong I guess...

If I find some time in the coming days, I'll debug and try figure out what exactly goes wrong.

Tnx for the hints!

[2016-07-29 14:01] kanduvisla commented on #5502
Is there any update on this? I can confirm this in 2.0.8. Has this been addressed in 2.1?

[2016-07-29 14:07] YevSent commented on #5862
If translation related to Braintree module this file should in the corresponded folder.

[2016-07-29 14:13] veloraven commented on #5814
@danslo thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-07-29 14:14] veloraven commented on #5773
@arijit-insync thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-07-29 14:16] veloraven commented on #5754
@ILinKI thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-07-29 14:19] veloraven commented on #5738
@flancer64 thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-07-29 14:20] perry3181 commented on #3364
Hi @LucScu and @NadiyaS,

I not yet upgrade to 2.0.8. Actually, I want to upgrade to 2.1 few weeks ago, but not success. Due to the below error. Then I spent much time to restore the system to 2.0.7. So that I give up to upgrade to 2.1 until I find the solution.

Do you guys know if upgrade from 2.0.7 to 2.0.8 will have the same issue "Webapi does not exist"?
I remember that I upgraded 2 times, fr

[2016-07-29 14:24] perry3181 commented on #3364
Hi @LucScu and @NadiyaS,

I just go to the system upgrade page, it still stick with the console log and can't be exit :(

![screen shot 2016-07-29 at 10 21 45 pm](https://cloud.githubusercontent.com/assets/20721447/17251335/e7bbc772-55da-11e6-9ea4-4b9dc1c7379f.png)

[2016-07-29 14:30] oserediuk commented on #5752
Hello @angelorgoc ! Did you resolve your issue?

[2016-07-29 14:31] danslo commented on #5814
@veloraven

This is on Magento 2.1.0.

[2016-07-29 14:35] sergei-sss opened #5891 "UI listing drop-down value issue."
### Preconditions

Magento 2.1 + sample data
### Steps to reproduce
1. Add to options array value with comma, for example:
   Magento\Cms\Model\Page\Source\PageLayout

[code]
1. For any CMS Page change "Page Layout" value to "test".
### Expected result
1. You can see "test" on the CMS page grid
### Actual result
1. Label "test" on the CMS page grid is missing.
   https://www.dropbox.com/s/tzyl3wta

[2016-07-29 14:38] mrkhoa99 commented on #5887
Hello @paales ,
I'm interesting in your tool? Which tool you use to check the performance?

[2016-07-29 14:40] ComputerNorth commented on #5873
![magento-scr](https://cloud.githubusercontent.com/assets/20295644/17251953/048167c0-55ab-11e6-980c-b1cf0c2bf417.jpg)

It happens in FireFox, IE and Chrome, clear browser cache doesn't help

[2016-07-29 14:45] grasdaggel opened #5892 "Minicart KnockoutJS-Template not loading on iOS Safari and IE11"
Currently we are experiencing a bug on Magento 2.0.6 where IE11 and iOS Safari are unable to load knockoutJS templates, for example the minicart.
### Preconditions
- Magento Version used: Magento 2.0.6.
- PHP Version: PHP7
- Problem: Minicart-Wrapper-DOM not loading via KnockoutJS on IE11 and iOS Safari
### Steps to reproduce
- Use IE or Safari and click on the Minicart Icon
### Expected result
-

[2016-07-29 14:49] nomuprive commented on #5792
@oserediuk is that a fix? Couldn't find it? A little explanation would help. Thanks!

[2016-07-29 14:50] paales commented on #5887
@mrkhoa99 We're using https://blackfire.io/, works pretty great

[2016-07-29 14:52] grasdaggel opened #5893 "Unable to translate strings that come from JS"
There are several strings in Magento that are not coded properly, see those two examples. You also can't clone the corresponding template files to your theme files and modify them, the changes are non functional.

Here are two examples:
- in Checkout, when using an e-mail adress that is already registered -> password string.
  ![bildschirmfoto 2016-07-29 um 16 50 34](https://cloud.githubuserconten

[2016-07-29 14:53] oserediuk commented on #5792
@williambize What do you mean?

[2016-07-29 14:54] ktruehl commented on #5502
It's still a problem in Magento 2.1. Just checked.

[2016-07-29 14:56] nomuprive commented on #5792
@oserediuk I meant did you find a fix for the issue?

[2016-07-29 14:58] ghost commented on #5836
This is the same behaviour for me as well. The cron_schedule table says success for the status but the frontend does not update.

[2016-07-29 15:01] boldhedgehog commented on #5836
It has rebuilt my Elasticsearch index. This can be an index/caching issue, not a CRON/index issue you have now, in addition.

[2016-07-29 15:01] oserediuk commented on #5792
@williambize This issue reproduce on CE or EE version?

[2016-07-29 15:04] nomuprive commented on #5792
@oserediuk CE version (2.1) Error Screenshot here http://prnt.sc/bx8zir

[2016-07-29 15:18] flancer64 commented on #5738
Magento ver. 2.1.0

[2016-07-29 15:37] antboiko commented on #5843
Hi @nmallepally , let me inform you that the fix is already in develop branch and will be available in 2.1.1 patch.

Best,
Anton.

[2016-07-29 15:39] ghost opened #5895 "WYSIWYG editor does not update styles of image set in dialog"
### Precondition
1. CMS page with image in content is present in system
### Steps to reproduce

1. Log in to admin panel
2. Go to Content -> Pages
3. Edit page from preconditions
4. Select image (from preconditions)
5. Open Edit image dialog (using wysiwyg toolbar button)
6. Change any styles on "Appearance" tab of dialog
7. Update image and save page
8. Reopen page
### Expected result

1. Styles

[2016-07-29 15:55] lucscu commented on #3364
there is an error like everywhere, you have to find how to fix it by yourself.

[2016-07-29 15:56] nomuprive commented on #5792
@oserediuk I have tried using the fix here but not working. :) https://github.com/magento/magento2/commit/8b2eb5e387d2272cf25baeb7647f88f5fadc10c5

[2016-07-29 16:22] Cacasapo commented on #2732
On 2.0.8, this just happened to me.
`SELECT * FROM core_config_data WHERE path LIKE '%js%' LIMIT 0 , 30` worked for me. Changed the values and emptied var/cache to regain access to admin interface.

I'm spending more time tracking down Magento bugs than working on the site.

[2016-07-29 16:56] pboisvert commented on #3364
@perry3181 This issue has been closed as the original issue reported has been resolved. If you wish to report an upgrade issue please file a new issue and provide all steps to reproduce the error you are seeing.

[2016-07-29 17:11] svines commented on #5760
I'm seeing the same thing in 2.0.7.  To me, it appears to occur when you associate an old attribute with an attribute set.  For example, consider the following attributes and the versions in which they existed:
color -> 2.0.1
new_attr -> 2.0.7

Assuming Default attribute set does not contain either attribute, adding "new_attr" to it works fine, but adding "color" to it produces the symptoms descri

[2016-07-29 17:17] mbrinton01 commented on #3921
Closing this issue as no feedback has been provided.

[2016-07-29 17:17] #3921 closed, assigned to mbrinton01

[2016-07-29 17:42] crantron commented on #5766
Im closing this due to the docs.

`css/source/lib: Contains view files that override the UI library files stored in lib/web/css/source/lib.`

[2016-07-29 17:42] #5766 closed, assigned to nobody

[2016-07-29 19:06] Ctucker9233 commented on #4060
@choukalos What do you mean by breaking change? If it breaks the search criteria so it doesn't work that would have a very negative impact. But maybe I don't fully understand the question you are asking.

[2016-07-29 19:33] atvvarna commented on #5382
Actually in 2.1 it is still the same.

[2016-07-29 19:49] AirmanAJK opened #5896 "Web API missing services/corrupt product updates"
The issue does not occur in a fresh setup of CE 2.0.8, and does occur in a fresh setup of CE 2.1.0.

To reproduce:
Set Stores > Configuration > Services > Web API > Web API Security > Allow Anonymous Guest Access = Yes

Visit {store url}/swagger
In CE 2.0.8, catalogProductRepositoryV1 would have several verb types shown (post, put, delete). In CE 2.1.0, only two GET methods are available. The same

[2016-07-29 20:35] hostep opened #5897 "FPC: Upsells & Related product list bug - getIdentities gets called while the block doesn't render and then crashes"
### Preconditions
1. Magento CE 2.1.0
2. PHP 7.0.9
3. MariaDB 10.0.25
4. A lot of time to setup everything properly ;)
### Steps to reproduce
1. Install Magento CE 2.1.0 using composer
2. Go to the backend
3. Create 2 simple products: 'Product 1' & 'Product 2', set a name, a price, make sure they have a possitive qty and are in stock and make sure you can see them on the frontend
4. Create 2 confi

[2016-07-29 20:39] hostep commented on #3362
@jusemjo: you ever figured out what causes this, because I believe it's a core Magento bug:
https://github.com/magento/magento2/issues/5897

[2016-07-29 20:45] dexterityzx opened #5898 "Magento 2.0.7 - Newsletter Email not sent out"
### Preconditions
1. Magento 2.0.7
### Steps to reproduce
1. Setup the newsletter queue and wait for the cron job to sent out the newsletter.
### Expected result
1. Newsletter is sent out.
### Actual result
1. Newsletter are not sent out.

In the cron_schedule table, I can see newsletter_send_all task is schedule, but with messages:

**Validation error: {"message":{"from_email":"An email address m

[2016-07-29 20:51] AirmanAJK commented on #5896
UPDATE
The missing url_rewrite records seem to be caused by a product POST update in REST to set visibility = 1. When 2, 3 or 4 is used, the change doesn't happen, but at least the url_rewrite rows are left untouched. When only sku and visibility are provided for the update call, and visibility = 1, the url_rewrite rows go missing and the visibility is still left untouched in Magento.

[2016-07-29 21:33] nickmarx12345678 opened #5899 "Route listing command/debugger"
I've encountered repeated difficulty creating and debugging new routes on custom modules, especially as a newcomer to Magento and Magento 2, where documentation is very limited.

One example of problems faced was deciphering the url matching scheme, especially for adminhtml routes, because of the number of problems thats can cause a redirect to the homepage with no logging or feedback to revise fr

[2016-07-29 21:54] dthampy commented on #5849
Can you send the result of this query?
select  customer_eav_attribute.sort_order,eav_attribute.attribute_id , eav_attribute.attribute_code, eav_attribute.frontend_label from eav_attribute  join customer_eav_attribute on eav_attribute.attribute_id = customer_eav_attribute.attribute_id;

[2016-07-29 22:15] mombrea commented on #4359
For anyone else stuck here after upgrading to 2.1, @hostep solution to

works great but required a `composer update` afterward. I also ran `composer selfupdate` but I'm not sure that was necessary.

[2016-07-29 22:31] acidreian666 opened #5900 "Magneto 2.1.0 Indexing PHP "Segmentation fault (core dumped)" (Fix Me!)"
Having a Large product database pushes the limits of Magento 2.
My full database is over 183,000 Products.
Importing 30,000 products at a time and Indexing issue become relevant.
Anything > then 30,000 products creates this error.
### As noted at the bottom this issue does not occur on Magento 2.0.8 I have not been able to recreate this error. It only exists on Magento 2.1 & 2.2-dev.
### Precondit

[2016-07-29 22:52] mikeweis commented on #4873
@zaoky ... thank you for reporting.  I have created internal ticket MAGETWO-56156 to track this issue.

[2016-07-29 22:57] mikeweis commented on #4873
@zaoky ... a _possible_ work-around:
- the database table (tax_calculation_rate) that holds the Tax Rate "rate" column is set to 4 digits after the decimal place
- using the Tax Rate API, send in a rate of 0.00001 (as an example)
- the rate stored in the database table will be 0.0000 (zero)
- note that the API response will claim that the rate is 0.00001 however  :(

[2016-07-29 23:34] heldchen opened #5901 ""update" in category custom layout xml is ignored"
I'm trying to add a custom handle through `<update handle="my_shiny_handle" />` inside the custom layout xml of a category.
### Preconditions
1. magento 2.1.0
### Steps to reproduce
1. add a custom handle in app/code/Myname/Myext/view/frontend/layout/my_shiny_handle.xml:

[code]
1. edit a category and set the following layout update xml:
   `<update handle="my_shiny_handle" />`
2. cache clean
3. l

[2016-07-30 05:41] flecxie opened #5902 "Braintree doesn't work on Magento CE 2.1.0 when using table prefixing (HTTP/1.1 400 Bad Request)"
The Magento CE 2.1.0 Braintree module seems to be broken when using table prefixing during installation. When setting up 2 stores (1 without table prefixing and 1 with table prefixing) then payments from the site with table prefixing fail.
### Steps to reproduce
1. Install Magento-CE-2.1.0_sample_data-2016-06-23-02-34-56 twice, once with sql table prefixing & once without
2. Create a Braintree San

[2016-07-30 05:44] flecxie commented on #5409
@Nerogee: are you using table prefixing?
If so see https://github.com/magento/magento2/issues/5902.

[2016-07-30 06:28] flecxie opened #5903 "Braintree javascript error on Chrome: Uncaught TypeError: FormNapper requires an HTMLFormElement element or the id string of one"
On a regular basis I am not able to enter Braintree (sandbox) credit card details in the checkout form when using Chrome, it also shows the following javascript error:

`js.braintreegateway.com/js/braintree-2.17.6.min.js:4 Uncaught TypeError: FormNapper requires an HTMLFormElement element or the id string of one.`

Just confirmed that I also get this error in a fresh vanilla installation of Magent

[2016-07-30 07:31] abhilashlohar commented on #5881
Go to this file path and \vendor\zendframework\zend-crypt\src\Utils.php and echo $expected and $actual variable and check both are same or not if both variable are not match then change line no 35

**if (function_exists('hash_equals')) { return hash_equals($expected, $actual); }**

To

**if (function_exists('hash_equals')) { return true; }**

for direct access to magento admin with any password an

[2016-07-30 07:43] ghost commented on #5633
Same issue here...
logo saved in directory /pub/media/logo/websites/1/email_logo.png
but this should be save in /pub/media/email/logo/stores/1/email_logo.png

seems its bug in Magento 2.1

[2016-07-30 08:03] flecxie commented on #5902
Related to https://github.com/magento/magento2/issues/5714

[2016-07-30 09:16] saiyadsalma opened #5904 "Cart is not clearing after new registration"
### Preconditions

1. Magento version 2.0.7
2. PHP 5.4
### Steps to reproduce

1. One time need to complete whole checkout cycle. Now logout and create new account
2. One product automatically added to cart
3. Now clear cart.
### Expected result

1. Cart should be empty
### Actual result

1. [Screenshot, logs] Cart added one item automatically. I have used everything premium theme and customized t

[2016-07-30 10:03] hostep commented on #5633
Isn't this a duplicate of https://github.com/magento/magento2/issues/5352 which already got fixed on the develop branch?

[2016-07-30 10:53] liquidia commented on #5711
not just single store with multi store too have same issue.

[2016-07-30 11:18] #5889 closed, assigned to nobody

[2016-07-30 12:04] heldchen opened #5905 "Admin Backend: Categories: the field Content: Description cannot be emptied"
when a category contains some text in Content: Description, this text cannot be removed anymore. emptying the textarea field and saving the category will keep the previous field value. chaging the value and saving works.
### Preconditions
1.  magento 2.1.0
### Steps to reproduce
1. edit a category; enter "test" into "Content: Description"; save
2. edit same category again; remove everything from "

[2016-07-30 12:18] heldchen commented on #5905
user error, sorry. :)

[2016-07-30 12:18] #5905 closed, assigned to nobody

[2016-07-30 12:23] Vinai opened #5906 "UI Components are painful"
Whenever I try to use a custom or core UI component the experience is frustrating, time consuming and painful.
It would be great to see the components either made simpler (to use and understand how they work) or to be replaced with something simpler altogether :tada:.
There is so much JS "magic" and conventions and poor documentation I find the developer experience severely lacking. Much of the XM

[2016-07-30 12:25] Vinai commented on #5906
I understand this is not a proper bug report, but if I understood correctly github is also meant as a feedback channel. As such I'm posting this here. Please feel free to close if you don't think it's constructive enough. Also, I though about creating some kind of proof-of-concept PR, but to be honest, I draw a blank at the moment. The UI Components have been ingrained so deeply into the system th

[2016-07-30 12:47] cizgidekiadam opened #5907 "Can not save attribute"
### Preconditions

1. Magento v2.1
2. PHP 5.6.14
3. MySQL 5.6.31-77.0-log Percona Server
### Steps to reproduce

1. Add options an dropdown attribute which is used in configurable products or change any other storefront options
2. Save
3. It says saved.
### Expected result

1. Attribute options added
### Actual result

1. Nothing changed

[2016-07-30 13:53] matrixbegins opened #5908 "Unable to Install Magento 2.1:: Cannot instantiate interface Magento\Framework\App\Config\Scope\ReaderPoolInterface"
Using composer created project. When tried to access the browser I got following error:

[code]

Here are system level details:

[code]
### Steps to reproduce

Created project as:

[code]

After that cerated vhost and pointed browser and got this error:
Please see the screenshot attached.
<img width="830" alt="screen shot 2016-07-30 at 7 14 50 pm" src="https://cloud.githubusercontent.com/assets/34

[2016-07-30 14:51] ruudniew commented on #4896
Same here. When recompiling the error appears again. Will update when I find the solution to this.

[2016-07-30 15:09] cizgidekiadam commented on #5907
An addition, trying save adding empty option rows. If i try three times save (even adding option or not) at last refresh, seems like here: http://prntscr.com/bzhgi0

[2016-07-30 17:08] southerncomputer commented on #5900
You should use https://github.com/Smile-SA/elasticsuite or EE elastic search method for that many products! Seriously stuffing that many products into mysql's full text table is murder on storage/speed!

How much ram do you have? I've had large category/catalogs eat up 2-3 MEGS of php ram - if you can afford it, raise your ram up to 3GB for php (both in nginx/php.ini) (also check your /etc/php-fpm

[2016-07-30 17:28] southerncomputer commented on #5880
You can hide the deprecated warnings! The main problem is padding differences between mcrypt and openssl - so the question is - will a quickie switch to openssl_encrypt cause inability to decrypt the mcrypted data! This would not be serious if you weren't going online and will have 20K Customers who will have to re-key their passwords once PHP drops mcrypt completely and we need to choose between

[2016-07-30 17:42] hostep commented on #5880
Duplicate: https://github.com/magento/magento2/issues/5701

[2016-07-30 17:48] southerncomputer commented on #5837
In general that spinner AJAX junk doesn't work well for large # of anything (products w/lots of attributes) , it is slow for customers (when you don't even have that many).

Any ideas why the spinner takes so long to work (2.1.0 in production mode with bundling/minifying deployed)?

[2016-07-30 17:58] southerncomputer commented on #5823
Does not work for Magento 2 like magento 1 - probably due to the 3 separate databases for EE edition.

http://magento.stackexchange.com/questions/77016/copy-custom-data-from-quote-to-order-and-order-item-once-order-is-placed-in-mage?rq=1

Are a few solutions!

[2016-07-30 18:47] Ctucker9233 commented on #5600
@magento-team @magento-cicd2 @magento-admin
Is this a reasonable feature request? Feel free to close it if it is not possible. Thanks.

[2016-07-30 20:21] MagePsycho opened #5909 "Error: Call to a member function getValues() on null (adminhtml event - adminhtml_block_salesrule_actions_prepareform)"
In Magento 2.1, `adminhtml_block_salesrule_actions_prepareform` event is not working

[code]

which results in

This used to work in prior to 2.1 and similar approach in Magento 1 as well.
Have Magento2 team changed the way of injecting custom form fields for Cart Rules?

[2016-07-30 21:01] acidreian666 commented on #5900
@southerncomputer Looking into ElasticSuite looks like it has some great advantages.
But before trying to switch from my current lane.. This is Issue with the Magento 2.1 & 2.2 indexer I'm not over doing the amount of index-able products via Sql because on versions 2.0.2-2.0.8 of Magento have had no issues indexing via CLI that many products. Something has changed from the older versions Where i h

[2016-07-31 01:38] pboisvert commented on #5904
@saiyadsalma unless you have a typo your version of PHP does not meet the system requirements of 5.5.22 or greater--http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html

please try to reproduce using a valid PHP version and update the system info if you are able to do so

[2016-07-31 01:39] pboisvert commented on #5902
@asemenenko can you have the team check into this one?

[2016-07-31 03:19] baltechies commented on #5781
I don't think so. Its seems the issue of magento 2.1. Is magento 2 is not stable yet? or Do you have any documentation of magento 2.1?

[2016-07-31 04:05] pboisvert commented on #5893
@antboiko passing to Anton. Think the JS strings may be a duplicate but please check the other issue mentioned

[2016-07-31 04:41] zengoma commented on #5618
+1
The issue occurred after I rolled back my database and media.

[2016-07-31 05:22] pboisvert commented on #5895
@spinestalker can you provide which version you are using?

[2016-07-31 05:37] pboisvert commented on #5865
@garpik have you tried creating the product manually? Do you get the same error? Have you tried the same import with a different product name? Any errors?

[2016-07-31 05:40] flecxie commented on #5902
WAR for now is to get rid of table prefixing, to do this in an existing store:
1. Rename all SQL tables
2. Update table references in the sales_sequence_meta table (otherwise all orders will fail)

I used a simple bash script to rename all SQL tables.
To update the tables references in sales_sequence_meta I ran the following SQL:

`update sales_sequence_meta set sequence_table = replace(sequence_t

[2016-07-31 08:05] #5781 closed, assigned to nobody

[2016-07-31 08:23] ktomk commented on #4359
@mombrea: Thanks for sharing, especially as it looks like this ticket is getting really slow and late.

@alankent Can you weight in and progress this a little? That would be wonderful.

[2016-07-31 10:52] flecxie opened #5910 "Braintree sandbox errors when using alternative Merchant Account ID on Magento CE 2.1.0"
When using an alternative Merchant Account ID on a vanilla Magento CE 2.1.0 payments are unsuccessful and Braintree responds with error id 91584 (Merchant account must match the 3D Secure authorization merchant account.).
### Steps to reproduce
1. Install Magento-CE-2.1.0_sample_data-2016-06-23-02-34-56
2. Create a Braintree Sandbox account & configure in Magento BE (make sure to enable debug)
3.

[2016-07-31 11:35] grasdaggel commented on #5893
By the way, I've grepped all occourences of those strings via "$ grep -rl "string" *" and found only 2 appearances. One in a i18n-CSV and one in the JS Files.

[2016-07-31 11:48] paales opened #5911 "Product visibility helper column in Category / Product overview"
In an effort to improve the usability of the system and greatly improve the merchant experience, context aware hints are crucial. Explain what is going on and how should the merchant fix their 'mistakes'.

The idea is to add a visibility-helper-icon to product grids so that it is clear why products aren't shown and suggestions how to fix this.

With this, we can collapse the Visibility, Status and

[2016-07-31 13:01] atIOCrON commented on #5565
@duhon please find PHP Info here:

https://dl.dropboxusercontent.com/u/5781539/php-info.pdf

Let me know if there is any other info needed. I replaced the real site value with "example.com".

There are very few changed settings as this was a demo instance. No new store views, not many new products. Only a few things changed in admin panel. I found the same bug in the Magento 2.1 demo as in our Mag

[2016-07-31 14:52] benmarks commented on #5906
Noted, and please know that we are focusing heavily on this and other framework-level concerns - because we have too.

[2016-07-31 16:45] senthilengg opened #5912 "403 forbidden error while try to access homepage."
### Preconditions

1. Cent 0s, PHP-Fpm & nginx
2. Mysql 5.6 (Percona)
### Steps to reproduce

1. Not able to access the home page after install via cli. Its throwing 403 Forbidden error.
2. Its happening with the mode developer as well as production.
3. Using the nginx.conf.sample as virtual host conf.
### Expected result

1. Home page should have displayed without any error.
### Actual result

1.

[2016-07-31 16:53] ytorbyk opened #5913 "\Magento\Quote\Model\QuoteManagement::createEmptyCartForCustomer return not Empty Cart"
There is expected to receive an empty Cart (or Quote) due calling "createEmptyCartForCustomer" method. It says the method name. But it's not always true.

### Preconditions (*)
Magento 2.4-develop

### Steps to reproduce (*)
1. Call the API method /V1/customers/:customerId/carts
   `<route url="/V1/customers/:customerId/carts" method="POST">
       <service class="Magento\Quote\Api\CartManagementI

[2016-07-31 17:02] pboisvert commented on #5911
Thanks for the feature request/improvement.  Will pass to the UX team for review

[2016-07-31 17:36] ytorbyk opened #5914 "\Magento\Quote\Api\CartItemRepositoryInterface::save method doesn't save passed cartItem"
### Preconditions

Magento 2.1
### Steps to reproduce
1. Create extension_attribute for \Magento\Quote\Api\Data\CartItemInterface - my_attribute
2. Create \Magento\Quote\Api\Data\CartItemInterface $cartItem
3. Assign my_attribute to $cartItem with any value
4. Pass the $cartItem to  \Magento\Quote\Api\CartItemRepositoryInterface::save method
### Expected result
1. The cartItem is added to the cart

[2016-07-31 18:37] dthampy commented on #5846
can you send the data file( the batch which has the invalid data) ?
you can send it to dthampy@magento.com.
Also it'd be great if you could scramble any sensitive information.

[2016-07-31 19:50] liquidia commented on #5906
Magento team had a chance to re write and make it less cluttery .should have followed wp architecture .. less code is always better "as you do not have to worry about debugging code you never wrote" ~ some wise programer

[2016-07-31 20:32] acidreian666 commented on #5912
Hopefully you attempted to `Sudo php -f bin/magento setup:static-content:deploy`
then
`cd /var/www/html/magento2 && find var vendor pub/static pub/media app/etc -type f -exec chmod g+w {} \; && find var vendor pub/static pub/media app/etc -type d -exec chmod g+w {} \; && chmod u+x bin/magento`

This was taken directly from [Official dev Doc's](http://devdocs.magento.com/guides/v2.0/install-gde/pre

[2016-08-01 02:15] sengaigibon commented on #3572
Updating my status here...
I added `var reloadsections = ['cart','messages', 'customer'];` to my own copy of `customer-data.js` and so far, after I log in, it solves the number of products in the mini cart of my previous sessions and I can go directly to the checkout without prompting the popup authentication form.
As I read in #2010 , I made my header block `cachable=false` and it solves my probl

[2016-08-01 04:07] saiyadsalma commented on #5904
Hi @pboisvert , Sorry its PHP Version 5.6.11.

[2016-08-01 04:08] AirmanAJK commented on #5906
This was great to read. You and I both know how frustrating it is trying to figure out how something like the "Compare Products" block on category pages gets updated.

It's simple really: A module includes a layout update that adds a block to a sidebar of catalog_category_view.xml which has a plugin that loads a javascript file which uses knockout to dynamically get configuration data from a file

[2016-08-01 04:57] ghost opened #5916 "Magento 2.1 transactional email uploaded logo not showing in admin."
**In Magento 2.1**  when I upload a logo in admin , After a save image, it is not showing there.

I have upload logo in admin below path and after a save date, showing no image icon.

`Admin > Content > Design > Configuration > Edit any record -> Transactional Emails`

When inspect element is showing

 but currently email logo saved in directory

how to fixed it.

[2016-08-01 05:54] PavanKumarCh commented on #5031
Thanks a lot... This solution worked for me too. In my case, config.php is missing.. After taking the same from colleague, it started working fine.

[2016-08-01 06:15] alexander-kozlyuk-ism opened #5917 "getLastViewedUrl() always returns null"
Hi,

I've tried to reuse getLastViewedUrl() method (vendor/magento/module-catalog/Helper/Data.php) and found that it doesn't return last viewed category URL.

Possible fix:
![selection_019](https://cloud.githubusercontent.com/assets/14270279/17581428/7581c246-5fae-11e6-80c7-7c598c463992.png)

Thanks!

[2016-08-01 06:24] arijit-de93 commented on #5773
Hello @veloraven

Thanks for looking into it. I am using magento 2.1.0.

[2016-08-01 06:25] sneha-sukumaran commented on #5730
I am using magento 2.0.7

[2016-08-01 07:12] CodeGlitcher commented on #5896
When visibility is set to 1 the url_rewrite are removed. (I think because the product is no longer visible on the website)
But attribute value is updated, only on the page for a storeview.
If you have selected **Store View:  All Store Views** the value for visibility stays the same.
If you select your default store view the value is changed.
Even if you only have 1 storeview. Attributes with scope

[2016-08-01 07:18] Nerogee commented on #5409
@flecxie.  I don't use table prefixing

[2016-08-01 07:22] ryantfowler commented on #5906
@xcomSteveJohnson @benmarks It would be really valuable if the key core engineers (either individuals or team(s) ) that implemented the new major features in M2 were given some time in a sprint to communicate the critical information about said features to the documentation team. This goes beyond just UI components. I know that the documentation team has done a great job so far for M2 (WAAAAY bett

[2016-08-01 07:51] flecxie commented on #5409
@Nerogee: Do you have debugging enabled / do you see anything in var/report/debug.log?

I have tried setting up a Braintree account on a vanilla Magento CE 2.1.0 installation (without table prefixing) and it did work for me (see #5902). The "400 Bad Request" can be caused by a large variety of reasons, you will probably have to debug with Xdebug (see https://www.fontis.com.au/blog/debugging-magent

[2016-08-01 07:58] hostep commented on #5916
This has reported a couple of times before, so please first try searching for an issue instead of creating a new one :)

Duplicate: https://github.com/magento/magento2/issues/5352 (has been fixed on the develop branch and will probably be released in an upcoming update I hope)

[2016-08-01 08:00] oserediuk commented on #5917
Hello! Please, add your code base version

[2016-08-01 08:04] oserediuk commented on #5916
Hello @hiteshvaghasiya83 ! I closed this one as a duplicate. Free to reopen if you have any additional questions about theme selection.

[2016-08-01 08:04] #5916 closed, assigned to nobody

[2016-08-01 08:31] YevSent commented on #5910
Hi, @flecxie. Perhaps a problem related to created merchant account.
[91584](https://developers.braintreepayments.com/reference/general/validation-errors/all/php) this error says - merchant account should support 3D secure verification.

We have 3 different merchant account for testing and works with/without 3D secure.

I suppose you need to contact with Braintree support and ask to enable 3D secu

[2016-08-01 08:37] YevSent commented on #5903
Hi, @flecxie, could you reproduce it on the latest develop?

[2016-08-01 09:11] gahehe commented on #5873
Pump. Need urgent fix for it.

[2016-08-01 09:15] andimov commented on #3828
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-01 09:15] #3828 closed, assigned to piotrekkaminski

[2016-08-01 09:17] andimov commented on #5014
@snswap828
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-01 09:17] #5014 closed, assigned to NadiyaS

[2016-08-01 09:17] andimov commented on #5167
@alex-koepke
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-01 09:17] #5167 closed, assigned to MomotenkoNatalia

[2016-08-01 09:18] andimov commented on #5201
@elieobeid7
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-01 09:18] #5201 closed, assigned to veloraven

[2016-08-01 09:19] andimov commented on #5275
@zhiyicai
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-01 09:19] #5275 closed, assigned to tanya-soroka

[2016-08-01 09:19] andimov commented on #5393
@Bakhtawar7
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-01 09:19] #5393 closed, assigned to nobody

[2016-08-01 09:20] andimov commented on #5578
@loomdecor
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-01 09:20] #5578 closed, assigned to nobody

[2016-08-01 09:25] andimov commented on #4180
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-01 09:25] #4180 closed, assigned to guz-anton

[2016-08-01 09:29] andimov commented on #5909
@MagePsycho
Thank you for reporting!
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-01 09:43] CodeGlitcher commented on #3430
if you use
/rest/all/V1... you can get the labels used on the admin view
To bad it is not documented how you use storeviews in the rest api.

/1/store/storeView says:

[code]

But to get admin you need to use all :-1:

[2016-08-01 09:47] Hawk30100 opened #5918 "[2.0.7] Configurable Product - Wrong image order when changing swatches"
When using a configurable product, the image order changes when clicking on swatches.
### Preconditions
1. Magento CE 2.0.7 OR Magento CE 2.0.8
2. PHP 7.0.6
### Steps to reproduce
1. Create Simple Product (necessary workaround to set attribute_set) and fill out informations and upload many images (e.g. 6 images)
2. Create configuration for this simple product and upload many images (e.g. 6 images)

[2016-08-01 09:53] andimov commented on #5873
@gahehe
Do you have such view for all orders?
Have you tried to change data in order?
Please add screenshot with opened dev console, it's can consists some js errors.

[2016-08-01 09:55] Arkyden opened #5919 "Category ID's"
Hi,

In Magento 2.1 Category ID's on Category Pages have been removed :+1: wasn't sure if it was intentional but some people need this for various reasons and many people dont have time to access the database ever time they need to know the id for a certain category :)

[2016-08-01 09:56] andimov commented on #5899
@nickmarx12345678
Thanks for reporting this issue!

To allow us to research the issue, please, provide description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-01 09:57] garpik commented on #5865
@pboisvert I tried to import a product with a different name and it's works.
If I'm trying to create a product with the name 'Bonus' and a different SKU(like 'Bonus_1') I get this error:'URL key for specified store already exists.'

[2016-08-01 09:58] andimov commented on #5892
@grasdaggel
Thanks for reporting this issue!
To allow us to research the issue, please, provide description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-08-01 09:58] gahehe commented on #5873
Hi @andimov,

This is not only in order view, but also everywhere that displayed the customer address by template and calling the \Magento\Customer\Block\Address\Book::getAddressHtml() method.
For example, in the Customer Address Book:
![untitled](https://cloud.githubusercontent.com/assets/9212416/17290541/2c486f46-5809-11e6-804a-d567a7404ae1.png)

Tried to var_dump what this function returned, an

[2016-08-01 10:01] tkacheva commented on #5469
@paales Less->Sass is community driven project and Magento doesn't process requests related to that. Closing the ticket

[2016-08-01 10:01] #5469 closed, assigned to eug123

[2016-08-01 10:01] Hawk30100 commented on #5919
+1

Instead of looking for id in database you could do:
Admin Backend -> Products -> Categories; choose a category; have a look at the end of the URL
example: https://domain.com/admin_83k87ndm/catalog/category/index/key/3520cd00d234123ea994856a0ba25f47f2cf47abddfff194123b4b9e944083e7c/id/17/

[2016-08-01 10:10] alexander-kozlyuk-ism commented on #5917
Hi,
M2 CE 2.1.

[2016-08-01 10:22] martiGIT commented on #5319
same issue at Magento 2.1 with memcached 1.4.21-1.1 at debian 8. Also changing memcached.sess_lock_wait_min to 250
`memcached.sess_lock_wait_min = 250`
does not resolve this issue.

`a:4:{i:0;s:167:"Warning: SessionHandler::read(): Unable to clear session lock record in (...)/magento/framework/Session/SaveHandler/Native.php on line 22";i:1;s:5977:"#0 [internal function]: Magento\Framework\App\Erro

[2016-08-01 10:29] Arkyden commented on #5919
Hi,

Yeah just realised this as I was looking around.

Thanks for the help anyways :+1:

[2016-08-01 10:29] #5919 closed, assigned to nobody

[2016-08-01 10:35] Corefix opened #5920 "Media attributes scope settings (use default)"
### Preconditions

1. Magento 2.1
### Steps to reproduce

1. Go to Admin
2. Go to Products > Catalog
3. Select a Product
4. Go to Images And Videos
5. From here their is no way setting use default for images
### Expected result

1. Their should be a use default for images, otherwise it is hard for admins to see if an image is associated on store view or not.
### Actual result

1. No use default se

[2016-08-01 10:49] bonsdawende commented on #2697
Hi @guz-anton,

Yesterday, I guessed that the problem didn't due to Cloudflare but the problem is tied to Nginx.

When I changed my webserver by Apache, all works like a charm.

Have you tested Magento 2 with Nginx ? When you went to your catalog, could you see the differents products ?

[2016-08-01 10:59] grasdaggel commented on #5892
@andimov Seems like the formatting of my ticket makes things unclear, however, any information I could give is already given?
- Used Version: Magento 2.0.6
- How to reproduce: Use IE11 or any iPhone to reproduce the Bug
- expected Result: DOM for Cart is there
- actual result: no DOM (or Templates) for Cart is there/gets loaded
- actual problem: DOM is not loaded in IE11, IE10 and Safari on iOS

I

[2016-08-01 11:33] liquidia commented on #5324
Hi,  @mauromm, this fix worked for me too .. but my developer told me this might cause issue with magneto core updates in future(db integrity or corruption of db and or inability to upgrade ). i could not wait for the 2.1.1 as site is up should i be worried about this fix?

Thanks

[2016-08-01 11:34] veloraven commented on #5221
@Dayssam thank you for your report.
Please provide information about your environment: including versions of PHP, MySQL, web server.
Was it clear install or upgrade from previous version?
Does the error reproduce after page reload?

[2016-08-01 11:41] veloraven commented on #5359
@markalston thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please also provide description according to the template: with steps, actual result and expected result.

[2016-08-01 11:46] veloraven commented on #5206
@SolPin thank you for your report.
This issue was connected with browser cache: it should be cleaned.
To avoid the same issue in future you can turn on the following option in admin area:
_Stores -> Configuration -> Advanced -> Developer -> Static Files Settings -> **Sign Static Files = Yes**_

[2016-08-01 11:47] veloraven commented on #5150
@dmcmillin thank you for your report.
This issue was connected with browser cache: it should be cleaned.
To avoid the same issue in future you can turn on the following option in admin area:
_Stores -> Configuration -> Advanced -> Developer -> Static Files Settings -> **Sign Static Files = Yes**_

[2016-08-01 11:55] tzyganu commented on #5906
@liquidia You made me laugh. The words "wp", "architecture" and "code" in the same sentence. When you know only one system you think it's the greatest, when you know more of them you realize they all suck.
But that is not the point here.
The idea is that each system has it's own way of handling thinks, depending on what the purpose of the system is.
I agree this can be frustrating at the beginning

[2016-08-01 11:57] veloraven commented on #5452
@Krapulat thank you for your report.
Could you please provide more detailed steps? Your price rule options, typed of product added to the cart, etc.
Also please provide information about your environment: PHP, MySQL, web server versions, with browser do you use.

[2016-08-01 12:15] devonto commented on #4731
Is there any update on this issue?

[2016-08-01 12:18] veloraven commented on #5442
@qwerty7869 thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please also provide more detailed steps, with full header and body of your request, and actual result as well.

[2016-08-01 12:22] veloraven commented on #5415
@ksz2013 thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please also provide description according to the template: with steps, actual result and expected result.

[2016-08-01 12:28] veloraven commented on #5382
@werdlv thank you for your report.
Please provide description according to the template: with steps, actual result and expected result.
It will help other users to find this issue in case when they have the same one.

[2016-08-01 12:40] kandrejevs opened #5921 "Javascript workflow is way too slow"
When rewriting or adding new javascript files work in them is way too slow. After each change I have to delete var and pub static folders and then run setup:static-content:deploy to see my changes in frontend. This results in a lot of time wasted for waiting when static content deployment finishes.
### Steps to reproduce
1.  add new javascript file in custom theme folder or rewrite existing
2.  ed

[2016-08-01 13:08] AirmanAJK commented on #5896
Deleting url_rewrite records appears to be a bug rather than intended for the following reasons.
1) It doesn't happen when changing visibility on the backend directly (only REST updates).
2) It doesn't reinsert the url_rewrite rows when the product is set back to visible. Visiting the product page will forever after have a nasty url similar to "/catalog/product/entity/8/categoryid/20"
3) Deleting

[2016-08-01 13:30] liquidia commented on #5633
here is easy fix .create a folder and put image with same name :) until it fixed officially

[2016-08-01 13:41] jsakars commented on #5382
@veloraven all the steps are already given in referenced issue which was closed even though it hasn't been fixed

[2016-08-01 13:58] slavvka commented on #4287
Hi all. The fix for CMS Pages and Blocks Repositories has been merged to mainline.

[2016-08-01 13:59] tweetyx commented on #5577
Go to your Back office, and active Enable Magento_Vault in your component manager.

[2016-08-01 14:11] anton-huz commented on #5921
@kandrejevs please describe how you install Magento.

[2016-08-01 14:19] kandrejevs commented on #5921
I install magento via composer.

the environment is OS X with nginx/php7/mysql installed from brew

[2016-08-01 14:19] anton-huz commented on #5921
Common workflow with Magento in _Default_, _Developer_ modes:
1. You add a JavaScript file
2. You make a request from the page: in any way. Magento will create symlink to real file.

That's all.

When you need to edit file:
1. Make changes.
2. Refresh page (or do direct request from browser).

That's all.
Your experience is unusual. So I'm trying to understand where is a pitfall.

[2016-08-01 14:30] kandrejevs commented on #5921
Thanks, this resolved issue with editing files, I was not aware magento creates simlinks only if you delete pub/static and refresh page without static content deployment.

what happens if I change requirejs-config.js? I have to delete pub/static and refresh page?

[2016-08-01 14:40] pboisvert commented on #5865
@garpik Did you try manually to eliminate the possibility that the product exists already or narrow down the problem to import with that name vs any product creation with that name. if so then should be easy enough to reproduce.

[2016-08-01 14:44] andimov commented on #5912
@senthilengg
Do you have any updates?

[2016-08-01 14:46] veloraven commented on #5475
@yssource thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please also provide description according to the template: with steps, actual result and expected result.

[2016-08-01 14:47] AirmanAJK commented on #5896
Another Update.
When taking Magento out of Single Store Mode, the url_rewrite rows do disappear when changing visibility. If Single Store Mode is set to true, the records don't get changed, but they also don't get updated when the url key is changed in Search Engine Optimization section. This seems to be a pretty nasty bug.

[2016-08-01 14:49] ruudniew commented on #4896
The solution for me was not using Setup classes outside of the setup. I tried to implement the code given in the following articles / questions:
http://magento.stackexchange.com/questions/103934/magento2-programmatically-add-product-attribute-options
https://webkul.com/blog/programmatically-add-options-attribute-magento2/
https://www.atwix.com/magento/adding-attribute-programatically-magento2/

Th

[2016-08-01 14:53] krejcif opened #5922 "missing sales_invoice_grid.base_grand_total in upgradeschema to 2.1"
Column isn't in CE 2.0.8 in magento sale installscheme.php
But is in CE 2.1 in magento sale installscheme.php

It is missing in upgradescheme.php to 2.1 and it fails when creating any invoice from order in admin.

[2016-08-01 14:55] andimov commented on #5892
@grasdaggel
Please, format the description (your first message in this issue) in accordance with the [template](https://github.com/magento/magento2/issues/new)
It will allow us to process it.

[2016-08-01 14:55] veloraven commented on #5476
@narcisipopescu please create a new issue for the second problem, but be sure to check if similar issue is not created yet. Please provide description according to the template: with steps, actual result and expected result.

[2016-08-01 14:57] veloraven commented on #5476
@kandrejevs your problem seems to be different than the original one. Please check if an issue is already exists for the same problem as yours and if no, create a separate issue. Please provide description according to the template: with steps, actual result and expected result. Please also specify used version.

[2016-08-01 14:59] veloraven commented on #5484
@salelsol thank you for your report.
Please provide description according to the template: with steps, actual result and expected result.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-08-01 15:04] plentyhappy commented on #5178
Using 2.0.7 - often our products come back to saying "in stock" when we set to "out of stock" - happens out of the blue

[2016-08-01 15:05] garpik commented on #5865
Oh, I've found where the problem is.
The store already has a category with name "Bonus" and the product 'Bonus" is a child of this category. There is a conflict  between the category and the product urls.

[2016-08-01 15:05] #5865 closed, assigned to nobody

[2016-08-01 15:05] andimov commented on #5875
@mverstraete
Thank you for reporting!
Please, check your permissions or run commands in magento dir:
`find var vendor pub/static pub/media app/etc -type f -exec chmod g+w {} \; && find var vendor pub/static pub/media app/etc -type d -exec chmod g+ws {} \; && chown -R :apache . && chmod u+x bin/magento`

[2016-08-01 15:10] ajones16 commented on #2947
I also have this issue with over 300 products with 90% having multiple options, we use Tiered Pricing for everything.
It would be great if there was a way on the main configurable product to enter the base price for the product and then on the configurable options use an option of either a +/- pricing structure for attributes OR setting a base price for the attribute that uses the same percentage

[2016-08-01 15:15] andimov commented on #5922
@magexo
Thanks for reporting.
To allow us to research the issue, please, provide description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-01 15:20] AirmanAJK commented on #5896
Okay. I've found a way to get this to work.

To get url_rewrites to properly update/disappear/appear when dealing with single store mode, you must set the scope of both "visiblity" and "url_key" attributes to global, and edit the product attributes in "Default Store View" (NOT "All Store Views").

If you edit these now global attributes for the product with "All Store Views", the url_rewrite recor

[2016-08-01 15:22] sivaschenko commented on #5906
As for me, main reason why UI Components are so painful to use is:
1. Not enough documentation and examples
2. !! Almost no error reporting !!

[2016-08-01 15:28] andimov commented on #2586
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-01 15:30] andimov commented on #2763
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-01 15:30] andimov commented on #2857
Could you please add the description of steps, actual result and expected result to this ticket?
It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-01 15:33] krejcif commented on #5922
### Preconditions

1. CE or EE 2.0.8

### Steps to reproduce

1. upgrade to 2.1
2. create invoice from order in admin

### Expected result

1. invoice should be created

### Actual result

1. It says: "We can't save the invoice right now"  - http://prnt.sc/by6suo

Fix upgradescheme to 2.1

[2016-08-01 15:33] andimov commented on #5166
@JDavidVR
Thank you for reporting!
Increasing values for max_input_vars is normal for this issue.
I'm closing this issue. Please feel free to reopen if you need.

[2016-08-01 15:33] #5166 closed, assigned to nobody

[2016-08-01 15:37] andimov commented on #5137
@JananiKrishnan
Thank you for reporting!

This is a duplicate issue. I'm closing this one. Please feel free to reopen if you have any additional questions about theme selection.

[2016-08-01 15:37] #5137 closed, assigned to nobody

[2016-08-01 15:41] andimov commented on #2895
@tigerx7
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-01 15:41] #2895 closed, assigned to buskamuza

[2016-08-01 15:42] andimov commented on #2877
@vesan-83
Thank you for reporting!
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-01 15:42] andimov commented on #2875
Could you please add the description of steps, actual result and expected result to this ticket? It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-01 15:44] andimov commented on #2949
Could you please add the description of steps, actual result and expected result to this ticket? It will help other community members to find this problem when they use GitHub, which is, unfortunately, impossible when the full description is placed on the external resource.

[2016-08-01 15:46] andimov commented on #2840
@prejauw

Thank you for reporting!
To allow us to research the issue, please, provide description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.