[2020-07-01 01:58] PsmIndia commented on #23450
There any way to export product csv without run commands ? my magento ver 2.3.4
`Running the command manually works as a temporary fix:
php bin/magento queue:consumers:start exportProcessor`

[2020-07-01 06:00] nitininerun opened #28945 "ZMW Currency option"
### Description (*)
We are using Magento 2.3.4 version. While configuring currency for Zambia its picks up ZMK (1968-2012).

### Expected behavior (*)
Magento can send ZMW instead of ZMK to payment gateway.
### Benefits
However in order to integrate the payment gateway, we need ZMW as an additional drop-down, so magento can send ZMW instead of ZMK to payment gateway.

### Additional information
![

[2020-07-01 06:13] Emanuel-23 commented on #28244
I also confirm the issue and i am able to fix it by setting the composer alias as described by @sta1r for now.

although this seems not right to me, instead we should update the version in all packages that currently depend on dotmailer prior to `dotmailer/dotmailer-magento2-extension` in version `4.5.1` (i.e. `magento/product-community-edition`)...

[2020-07-01 06:49] anujeetphj commented on #24566
@vseager, were you able to resolve the issue?

Thanks

[2020-07-01 06:55] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-07-01 06:55] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-01 06:56] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_ba36](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_ba36)
Login: `e4ebcf05` Password: `abe02f8a656c`
Instance will be terminated in up to 3 hours.

[2020-07-01 07:35] stkrelax opened #28946 "Billingaddress gets renewed on every set-payment-information call. Thus Vat Validation on Billing address gets called multiple times"
### Summary (*)

- After Upgrade from 2.3.3 now using magento 2.3.5-p1
- Vat Validation based on billing
- viv valiate on each transaction off
- OnestepCheckout

I came accross this when i was searching why our VatValidation Service is blocking calls from our side.
i figured out that there is an explicit deleting of quote billing addresses at

https://github.com/magento/magento2/blob/ba25897c151b4

[2020-07-01 07:47] ryanfern86goa commented on #28912
Hi @swathishs, any update ?

[2020-07-01 07:49] gwharton commented on #28824
1. I overrode this functionality in my store to display how many physical I have in stock on the product page. So if I have 5 in stock, and the threshold is -20, my salable qty is 25, but I still output a message on the frontend saying only 5 left. Once the salable quantity gets down to 20, i.e 0 in stock and more orders would be backordered, then I change the button to say "Backorder" instead of

[2020-07-01 07:51] ihor-sviziev commented on #28937
Hi @rani-webkul,
Sorry, but I don't have expertise in GraphQL, someone else could help you

[2020-07-01 07:51] gwharton commented on #28758
I concur that the backorder message appears on the shopping cart, does NOT appear on the minicart, does NOT appear in checkout and does NOT appear on the product page add to cart confirmation message. I had to add these bits myself for my store.

[2020-07-01 08:24] WebKenth commented on #20045
The year is 2020 and we just encountered this bug however, we found a solution!
To the unfortunate souls wandering finding this thread here is what we did ;)
SOLUTION:
[code]
where `$this->url`  = `Magento\Framework\UrlInterface`;

If you are loading it via the collection object (`\Magento\Catalog\Model\ResourceModel\Category\Collection`) remember to add `->joinUrlRewrite();`
And remember to selec

[2020-07-01 08:42] renard123 opened #28947 "Scope not reset on New Synonym Group form"
Scope not reset on New Synonym Group form

### Preconditions (*)
Magento 2.3.4

### Steps to reproduce (*)

1. Admin - Marketing - SEO & Search
2. Click on New Synonym Group
3. Select scope different then default
4. Enter other details
5. Click on Reset

### Expected result (*)
All values should be reset

### Actual result (*)
![image](https://user-images.githubusercontent.com/50658701/86222577-12

[2020-07-01 08:44] krishprakash commented on #28947
@magento give me 2.4-develop instance

[2020-07-01 08:45] magento-engcom-team commented on #28947
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-01 08:46] magento-engcom-team commented on #28947
Hi @krishprakash, here is your [Magento instance](https://i-28947-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28947-2-4-develop.instances.magento-community.engineering/admin_5c89](https://i-28947-2-4-develop.instances.magento-community.engineering/admin_5c89)
Login: `6a754886` Password: `dd7ec2158718`
Instance will be terminated in up to 3 hours.

[2020-07-01 08:50] magento-engcom-team commented on #28947
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35578` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-01 09:04] JMLucas96 commented on #12830
@swleighton solution not working for me...
I have
`httpdocs/app/design/frontend/Alothemes/digitalworld4/Magento_Theme/layout/default_head_blocks.xml`
`<?xml version="1.0"?>

<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
	<body>
		<referenceBlock name="head.additional">
			<meta name="viewpor

[2020-07-01 09:07] engcom-Lima commented on #28853
Hello @jamie-selesti
Could you provide more details for reproduce this issue?
Please add steps to reproduce.

Thank you!

[2020-07-01 09:16] pkarsai commented on #28428
As a temporary workaround, I created a custom block that invalidates any sections that have no entry in mage-cache-storage, so they are automatically loaded:

[code]

Put this in a phtml, include it in the default.xml of the Magento_Customer module using the Magento\Customer\Block\SectionConfig as block class and you should be all set.

[2020-07-01 09:17] swathishs commented on #28912
@ryanfern86goa : The instance which we get from Magento community edition I cant able to recreate the issue. We should set up a local instance and add the eav attribute and try to recreate it. Since I am not having the local instance cannot do it from my end. And the issue is specific for Enterprise edition
The best way is you can transfer this issue to EE repository-
https://github.com/magento/pa

[2020-07-01 09:18] seansan commented on #28824
Ok just to be clear to magento2 team

Many messages and situations are not correct and need to be fixed. Correct?

On Wed, 1 Jul 2020 at 09:49, Graham Wharton <notifications@github.com>
wrote:

[2020-07-01 09:26] robertbaum opened #28949 "Magento 2 doesn't flush the default home page cache that contains the store code"
### Preconditions (*)

1. Magento 2.3
2. bug at the full page cache flush

### Steps to reproduce (*)

1. add to store view (de and fr)
2. add the store code to the URL (for the General -> Web -> Url Options -> )
3. activate all caches and the build-in as well
4. change something at the home page content
5. open the default store view with the code
6. open the default store view without the code j

[2020-07-01 09:43] robertbaum commented on #28949
this happens at one Magento and at another one not

[2020-07-01 09:47] websecureNL commented on #6401
Any way to get this fixed on 2.3.5? I understand the fix is made for 2.4 develop but for our production store we are using 2.3.5-p1 and having this problem.

[2020-07-01 10:01] ihor-sviziev commented on #6401
@websecureNL you could try to create patch and apply on top of 2.3.5.
You can use https://devdocs.magento.com/guides/v2.4/comp-mgr/patching.html or https://github.com/vaimo/composer-patches

[2020-07-01 10:05] bst2002git commented on #25483
Hello, my be it is better to provide an Input-Field for Credit Card-Holder Name (see Example Image)

![CC_name_input_field](https://user-images.githubusercontent.com/10232785/86231582-12e7f700-bb93-11ea-9dee-35fa50ecf6ef.jpg)

[2020-07-01 10:14] gwharton commented on #28824
Yes. It's not that they are broken, they just don't exist.

[2020-07-01 10:21] seansan commented on #28824
Haha I call this a broken process

Sorry. Closed loop processes. Only
Logical and complete.

On Wed, 1 Jul 2020 at 12:15, Graham Wharton <notifications@github.com>
wrote:

[2020-07-01 10:34] kledy commented on #13149
It seems to me that the problem with the incomplete address in Magento 2.3.5 still exists. Does anyone have a solution for it?

[2020-07-01 10:34] Aungyetun991990 opened #28951 "API Issue"
{
    "message": "Consumer is not authorized to access %resources",
    "parameters": {
        "resources": "Magento_Customer::customer"
    }
}

How to solve this issue during Call API

[2020-07-01 10:36] vseager commented on #24566
@anujeetphj it wasn't reproducible on 2.3-develop. What version of Magento are you using?

[2020-07-01 10:39] Aungyetun991990 opened #28952 "Consumer is not authorized to access %resources during Call API"
### Summary (*)
can't able to  call Magento API
I always got response "Consumer is not authorized to access %resources"
### Examples (*)

![image](https://user-images.githubusercontent.com/47961353/86234885-9b7b8d00-bbbd-11ea-97dd-2be8dcc6ae34.png)

Pls give advice to me how to solve it
Thanks

[2020-07-01 11:00] engcom-Charlie commented on #20148
Hi @raulsinapsis,

Thank you for your contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

Could You take a look?

[2020-07-01 11:13] krishprakash commented on #28951
Hi @Aungyetun991990. You have already added the same issue here #28952 so considering this as duplicate
Closing this issue

[2020-07-01 11:13] #28951 closed, assigned to krishprakash

[2020-07-01 11:16] swathishs commented on #28952
@magento give me 2.4-develop instance

[2020-07-01 11:16] magento-engcom-team commented on #28952
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-01 11:17] magento-engcom-team commented on #28952
Hi @swathishs, here is your [Magento instance](https://i-28952-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28952-2-4-develop.instances.magento-community.engineering/admin_634d](https://i-28952-2-4-develop.instances.magento-community.engineering/admin_634d)
Login: `a46770c6` Password: `658abf6f7dac`
Instance will be terminated in up to 3 hours.

[2020-07-01 11:27] swathishs commented on #28952
@Aungyetun991990 : You can try this and check.

**First, u need to get an admin token :**
 Method: Post
 Url: {Baseurl}/rest/V1/integration/admin/token
 Body: {"username":"", "password":""}

Response : We will get token id
![image](https://user-images.githubusercontent.com/58288685/86238501-3cb51400-bbbb-11ea-92b2-6f9ad364482f.png)

If u need to call any API u should put the token id in Authorizat

[2020-07-01 11:27] #28952 closed, assigned to swathishs

[2020-07-01 11:43] vipin12117 commented on #24190
proper way to fix in your custom plugin.
1. di.xml

<type name="Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection">
       <plugin name="techApplyPagination" type="Techgroup\AjaxAdvanceSearch\Plugin\ApplyPaginationPlugin"/>
   </type>

2. ApplyPaginationPlugin.php
<?php
namespace Techgroup\AjaxAdvanceSearch\Plugin;
use Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection;

/**

[2020-07-01 12:07] isydorenko opened #28953 "Multi-store GraphQL functionality doesn't follow Magento storefront logic"
### Preconditions (*)

1. Magento 2.3.5 without the sample date is installed.
2. Single website with a single store and two store views is configured.

### Steps to reproduce (*)

1. Set the first store view code to the "Store" request header.
2. Initialize an empty cart via createEmptyCart mutation.
3. Add a simple product to cart via addSimpleProductsToCart mutation
4. Set the second store view

[2020-07-01 12:32] fredden commented on #25076
`laminas/laminas-mail` v2.11.0 includes a fix for this. See https://github.com/laminas/laminas-mail/pull/31#issuecomment-652012322

[2020-07-01 12:33] Anantkprajapati commented on #28102
Hello  guys
You can use this module to fix this issue.
https://github.com/Anantkprajapati/AKP_CSP
Let me know if you required more information

[2020-07-01 12:53] m2-assistant[bot] opened #28954 "[Issue] Allow to get currect redirect url of Result/Redirect"
This issue is automatically created based on existing pull request: magento/magento2#28293: Allow to get currect redirect url of Result/Redirect

---------
### Summary (*)

During my development I created some plugins to change the redirects of the Controllers:

- `Magento\Customer\Controller\Account\EditPost`
- `Magento\Customer\Controller\Address\FormPost`
- `Magento\Newsletter\Controller\Manage

[2020-07-01 12:56] magento-engcom-team commented on #28954
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35584` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-01 13:28] websecureNL commented on #6401
@ihor-sviziev, I tried this and it seems to work properly. We will do some further testing. Since making patches was new to me a quick hint for other users. We used [this file](https://github.com/magento/magento2/commit/3b611a7cc0040c9e5731cbc8e2080c2adb205d86.diff) (based on merge commit 3b611a7) to patch using instructions https://devdocs.magento.com/guides/v2.4/comp-mgr/patching.html

[2020-07-01 13:54] atwixfirster opened #28957 "GraphQl. Mutation: customerOrders query and gift_message attribute"
### Preconditions (*)

Error `Can't load gift message for order` is returned when order does not have a `gift_message`:

<img width="1114" alt="001" src="https://user-images.githubusercontent.com/13585327/86249206-a03d4280-bbb7-11ea-80ec-2faa89caeb28.png">

### Steps to reproduce (*)

1. Magento (2.4-develop) with a sample data
1. Generate customer token:

[code]

1. Retrieve customer orders:

[co

[2020-07-01 13:56] robertbaum commented on #28949
@magento give me 2.3-develop instance

[2020-07-01 13:56] magento-engcom-team commented on #28949
Hi @robertbaum. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-07-01 14:08] magento-engcom-team commented on #7213
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35585` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-01 15:02] Karlasa commented on #28910
search is already available as 3rd party module
https://marketplace.magento.com/magehelper-menusearch.html

[2020-07-01 15:30] Sartoric opened #28960 "Weight not refreshed for updated product already in cart"
### Preconditions (*)

1. Magento 2.3.5-p1
2. Test Product created with specific weight (eg. 2)
3. Plugin set on afterProcess for class \Magento\Checkout\Block\Checkout\LayoutProcessor
4. Magento\Checkout\Model\Session  injected in plugin's constructor
5. set  $cartProducts = $this->checkoutSession->getQuote()->getAllItems();
6. set
            foreach ($cartProducts as $cartProduct) {

[2020-07-01 15:57] anujeetphj commented on #24566
I am using @magento2.3.3
And the issue reproduces when
Dynamic price = off
Bundle contains 1 simple and 1 virtual product

Were you able to resolve this in your application @vseager ?

[2020-07-01 16:05] AndyP1965 opened #28961 "undefined function xdebug_disable()"
Script: magento setup:install ..db-name=....... --db-user=.... ---and --and

PHP:7.3.19

OS: 4.4.0-19041-Microsoft #1-Microsoft Fri Dec 06 14:06:00 PST 2019 x86_64 x86_64 x86_64 GNU/Linux (Ubuntu from microsoft store)

XDebug: 3.0.0-dev Support Xdebug on Patreon, GitHub, or as a business: https://xdebug.org/support
(compiled by phpize/configue ..../make.....)

PHP Fatal error:  Uncaught Error: Cal

[2020-07-01 16:28] Mkennethsmith commented on #28692
I too am finding this error.

[2020-07-01 16:51] engcom-Lima commented on #28753
Hello @Eddcapone
Could you provide more details for reproduce this issue?
Do you use [this](https://devdocs.magento.com/guides/v2.4/install-gde/tutorials/change-docroot-to-pub.html) instruction to configure the magento 2 root directory - pub / folder?

Thank you!

[2020-07-01 18:30] auteyrose opened #28962 "Email Preview is Glitched.."
### Preconditions (*)

1. Magento 2.3.2
2. Email Template:  New Template -> Preview Template

### Steps to reproduce (*)

1. Email Templates: "add new template":  New Template -> Preview Template (any email preview will reproduce this glitch)
2. Couldn't send screenshot because there is not an attachment icon.

### Expected result (*)

1. Click [here](https://averyaustin.com/ashdon/admin/email_tem

[2020-07-01 18:34] auteyrose commented on #28962
@magento what information do you need?
<img width="1324" alt="Screen Shot 2020-07-01 at 12 39 05 PM" src="https://user-images.githubusercontent.com/67702380/86279373-898af180-bb9f-11ea-9150-502c001d10bf.png">

[2020-07-01 18:34] auteyrose commented on #28962
There is more to this test email that cannot be seen unless you scroll down inside of the tiny preview window. This is not optimal.

[2020-07-01 20:06] palomaEcommistry commented on #12870
Any update on this?

[2020-07-01 20:20] engcom-Lima commented on #27367
Hello @AndreyChorniy @perffectolt
Could you provide more details for reproduce this issue?

I checked this case on Magento 2.4

1. Enable checkout as guest
2. Enable persistent shopping cart
3. Create customer account
4. Login to customer account
5. Add product to cart (Simple product)
6. Go to checkout
7. Edit or delete PHPSESID cookie
8. Refresh page

Result:
After edited PHPSESID cookie and set

[2020-07-01 20:32] ryanfern86goa commented on #28912
@swathishs did u try with eav cache on ?

The link 404's (https://github.com/magento/partners-magento2ee/issues)

[2020-07-01 20:52] seansan commented on #28910
Please remove these adverts. This Magento core.

On Wed, 1 Jul 2020 at 17:02, Karla Saaremäe <notifications@github.com>
wrote:

[2020-07-01 21:29] websecureNL commented on #6401
The problem also occurs when using catalogsearch. No idea if this also impacts 2.4 but since the patch did not fix this it could be.

[2020-07-01 23:55] Josko73 commented on #26882
Hello There
I have the same isseu with the magento 2.3.4.
Can someone please give me instructions how I can update is_legacy to 1 in the email_template table?

Thanks for your support.
Best Wishes
Josko

[2020-07-02 00:27] gilbertsohal opened #28964 "Magneto 2.3.4 - order increment id is not continuous"
### Preconditions (*)

1. Magneto 2.3.4
2. PHP 7.3

### Steps to reproduce (*)

1. Order increment id is not continuous on my live website
2.

### Expected result (*)

1. Screenhot 1 - https://prnt.sc/ta4dpm
2.

### Actual result (*)

1. Order increment id should be continuous
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) ass

[2020-07-02 02:34] Aungyetun991990 commented on #28952
hello Morning
I tried and follow your instructions but I'm not Ok yet
Pls help me how to solve it
![image](https://user-images.githubusercontent.com/47961353/86309971-fb684700-bc42-11ea-8e66-771b533425d0.png)
thanks

[2020-07-02 03:01] Aungyetun991990 opened #28965 "Consumer is not authorized to access %resources during Call API"
Refer Ticket 28952

### Summary (*)
I followed and tried your instructions in Ticket 28952  But I'm Not Ok yet.
I get same issue.Pls give me advice how to solve it
### Examples (*)
![image](https://user-images.githubusercontent.com/47961353/86311535-9d3d6300-bc46-11ea-8fb7-9850f92aa603.png)

### Proposed solution
Do I Need to settle setting in Magento Admin Panel ?

[2020-07-02 04:22] krishprakash commented on #28965
Hi @Aungyetun991990. Thank you for your report !!
GitHub issue tracker is intended for magento core technical issues only
Kindly refer [magento stock exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this
Also refer the link below:
https://devdocs.magento.com/guides/v2.3/get-started/authentication/gs-authentication-token.ht

[2020-07-02 04:22] #28965 closed, assigned to krishprakash

[2020-07-02 04:27] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-07-02 04:27] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-02 04:29] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_54a3](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_54a3)
Login: `4649d97b` Password: `f230739022ab`
Instance will be terminated in up to 3 hours.

[2020-07-02 04:29] krishprakash commented on #28964
@magento give me 2.4-develop instance

[2020-07-02 04:29] magento-engcom-team commented on #28964
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-02 04:31] magento-engcom-team commented on #28964
Hi @krishprakash, here is your [Magento instance](https://i-28964-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28964-2-4-develop.instances.magento-community.engineering/admin_e882](https://i-28964-2-4-develop.instances.magento-community.engineering/admin_e882)
Login: `ec7ad287` Password: `5dbc081d638a`
Instance will be terminated in up to 3 hours.

[2020-07-02 05:08] pics124 opened #28966 "Elasticsearch 7.0+ - 2.3.5- missing filters and products on Frontend"
### Preconditions (*)

1.Magento Version:2.3.5-p1
2. Elastic search 7.0

### Steps to reproduce (*)

1. Create attribute filterable attributes for the products to be seen in search as well
2. Setup and configure Elastic search 7.0+. In our case both Magento and Elastic search are configured on the same server.
3.Test successful configuration done in the Magento Admin for Elastic Search
4.Run reind

[2020-07-02 05:26] swathishs commented on #28912
@ryanfern86goa : The instance which we get from Magento community edition in that eav attribute is not there and eav cache. If you want to check in this 2.4 develop instance.
You can put this in the comment and you will get the instance - "@magento give me 2.4-develop instance"
Or else you have transferred the issue so it will take care of the EE repository.

[2020-07-02 05:26] magento-engcom-team commented on #28912
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-02 05:27] krishprakash commented on #28964
Hi @gilbertsohal.
Not able to reproduce the issue as you mentioned, It should be any of your custom module issue
So kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this
Thank you !!

[2020-07-02 05:27] #28964 closed, assigned to krishprakash

[2020-07-02 05:28] magento-engcom-team commented on #28912
Hi @swathishs, here is your [Magento instance](https://i-28912-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28912-2-4-develop.instances.magento-community.engineering/admin_4d1e](https://i-28912-2-4-develop.instances.magento-community.engineering/admin_4d1e)
Login: `473b72a5` Password: `b2c6d70aa2ee`
Instance will be terminated in up to 3 hours.

[2020-07-02 05:52] iovistainc opened #28967 "Magento 2.3.5 - Configurable product showing all associate product in configuration grid"
### Preconditions (*)

1. Magento Version:2.3.5-p1
2. MySQL 5.7

### Steps to reproduce (*)

1. Create Configurable Product and add more then 60+ associate simple/virtual products.
2. Edit newly created Configurable Product and go to the Configuration section
3. Click on the next page to see other products.
4. You will see all the product in second page instead of total of 20 product

### Expected

[2020-07-02 05:55] swathishs commented on #28967
@magento give me 2.4-develop instance

[2020-07-02 05:55] magento-engcom-team commented on #28967
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-02 05:56] magento-engcom-team commented on #28967
Hi @swathishs, here is your [Magento instance](https://i-28967-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28967-2-4-develop.instances.magento-community.engineering/admin_8c82](https://i-28967-2-4-develop.instances.magento-community.engineering/admin_8c82)
Login: `7ee3859e` Password: `66d2c49418a1`
Instance will be terminated in up to 3 hours.

[2020-07-02 06:13] swathishs commented on #28952
HI, In URL why you are adding index.php?

[2020-07-02 06:19] AndreyChorniy commented on #27367
@magento give me 2.4-develop instance

[2020-07-02 06:19] magento-engcom-team commented on #27367
Hi @AndreyChorniy. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-02 06:20] magento-engcom-team commented on #27367
Hi @AndreyChorniy, here is your [Magento instance](https://i-27367-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27367-2-4-develop.instances.magento-community.engineering/admin_e4eb](https://i-27367-2-4-develop.instances.magento-community.engineering/admin_e4eb)
Login: `a78057c6` Password: `7c064dc5803c`
Instance will be terminated in up to 3 hours.

[2020-07-02 06:58] swathishs commented on #28967
@iovistainc : Issue is not reproducible in Magento 2.4 develop instance
Elastic cache 7+
Please find the attachment below:
![kKi9JkeNb7](https://user-images.githubusercontent.com/58288685/86326356-37110a00-bc5f-11ea-8896-d986b8517370.gif)

[2020-07-02 07:11] swathishs commented on #28967
@magento give me 2.3.5-p1 instance

[2020-07-02 07:11] magento-engcom-team commented on #28967
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-02 07:13] m2-assistant[bot] opened #28968 "[Issue] Scoped identity at product alert email"
This issue is automatically created based on existing pull request: magento/magento2#26534: Scoped identity at product alert email

---------

### Summary (*)
Magento 2.4-develop
Price/stock alert email was always sended with identity from default store. I fixed that identity sets from store where alert is subscribed

### Examples (*)
1. Subscribe to price/stock alert on other store than default
2

[2020-07-02 07:16] magento-engcom-team commented on #28968
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35590` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-02 07:21] AndreyChorniy commented on #27367
Hello @engcom-Lima,
I have provided possible steps to reproduce which worked for me on Magento 2.3.*. But I have checked this on  Magento 2.4-develop and it seems that this is already fixed.

[2020-07-02 07:42] m2-assistant[bot] opened #28969 "[Issue] MFTF: Sharing Wishlist with more than allowed Text Length Limit"
This issue is automatically created based on existing pull request: magento/magento2#28812: MFTF: Sharing Wishlist with more than allowed Text Length Limit

---------
### Preconditions (*)
Magento 2.4-develop
This PR contains a test for sharing customer's wishlist with more than allowed Text Length Limit

### Steps to reproduce (*)
1 - Set maximum allowed Text Length Limit for sharing
2 - Login as

[2020-07-02 07:43] engcom-Lima commented on #28945
Hello @nitininerun, thank you for your report.
Please, create issue in community-features [repo](https://github.com/magento/community-features/issues) for further discussion.

[2020-07-02 07:43] #28945 closed, assigned to nobody

[2020-07-02 07:45] ihor-sviziev commented on #6401
Could you check on empty 2.4-develop installation, and if issue there -
report it with exact steps to reproduce?

On Thu, 2 Jul 2020 at 00:29, websecureNL <notifications@github.com> wrote:

[2020-07-02 07:45] swathishs commented on #28962
@auteyrose : Tested in 2.4 develop instance. I am getting preview correctly.
Please find the attachment below :
![image](https://user-images.githubusercontent.com/58288685/86330937-01bbea80-bc66-11ea-85fc-8c33881e7c86.png)

Email preview:
![image](https://user-images.githubusercontent.com/58288685/86330970-0ed8d980-bc66-11ea-8b53-bad322bdb85c.png)

If I am wrong to let me know the steps to reprodu

[2020-07-02 07:47] swathishs commented on #28966
@magento give me 2.3.5-p1 instance

[2020-07-02 07:47] magento-engcom-team commented on #28966
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-02 07:48] magento-engcom-team commented on #28966
Hi @swathishs, here is your [Magento instance](https://i-28966-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28966-2-3-5-p1.instances.magento-community.engineering/admin_edf1](https://i-28966-2-3-5-p1.instances.magento-community.engineering/admin_edf1)
Login: `74fbe3e0` Password: `9b84f4fa71ab`
Instance will be terminated in up to 3 hours.

[2020-07-02 07:49] engcom-Lima commented on #28939
Hello @rvitaliy, thank you for your report.
Please, create issue in community-features [repo](https://github.com/magento/community-features/issues) for further discussion.

[2020-07-02 07:49] #28939 closed, assigned to nobody

[2020-07-02 07:59] websecureNL commented on #6401
@ihor-sviziev. Of course I can do this but isn't this originated from Magento 2.3? We are having problems with 2.3.5 and would like to get it fixed there. I will check 2.4-develop asap.

[2020-07-02 08:02] iovistainc commented on #28967
@swathishs Issue is also available on Magento 2.3.3.

[2020-07-02 08:11] engcom-Lima commented on #28918
Hello @seansan, thank you for your report.
Please, create issue in community-features [repo](https://github.com/magento/community-features/issues) for further discussion.

[2020-07-02 08:11] #28918 closed, assigned to nobody

[2020-07-02 08:21] swathishs commented on #28967
@iovistainc  : You can check in this instance -here is your Magento instance.
Admin access: https://i-28966-2-3-5-p1.instances.magento-community.engineering/admin_edf1
Login: 74fbe3e0 Password: 9b84f4fa71ab
Instance will be terminated in up to 3 hours.

The issue is not reproducible in Magento 2.3.5-p1 instance
![image](https://user-images.githubusercontent.com/58288685/86334289-a809ef00-bc6a-11ea

[2020-07-02 08:31] iovistainc commented on #28967
@swathishs I have checked the Magento 2.3.5-p1 instance and the issue is there.
Once you open the product grid will show 20 Products but when you click on the next page it display all product but it should have display 20 product as we have set 20 products per page. You can count the product once you click on the next page. It will load 50 products.

[2020-07-02 08:44] swathishs commented on #28967
Did you check in above instance

[2020-07-02 08:44] Karlasa commented on #28910
Please use https://github.com/magento/architecture repository for discussion and suggestion for future improvements.
This ticket does not fit into issue format.

[2020-07-02 08:45] iovistainc commented on #28967
Yes, I have checked in above 2.3.5-p1 instance. You can also count the product on the next page of the grid.

[2020-07-02 08:47] swathishs commented on #28967
Could send me the config product URL of the product and put some screenshot or video

[2020-07-02 08:53] iovistainc commented on #28967
@swathishs
Config product SKU: new
Here is the screencast: https://www.loom.com/share/f9cbd31c460c4bf888b716a2fc04c1a3

[2020-07-02 08:54] swathishs commented on #28967
Sorry I have just clicked the next arrow but didn't see the total product.
The issue is reproducible in 2.3.5p1
![dDlLGkecAa](https://user-images.githubusercontent.com/58288685/86338217-ad1d6d00-bc6f-11ea-9833-cc4b36f3037a.gif)

[2020-07-02 08:56] iovistainc commented on #28967
@swathishs  Is it reproducible for you on 2.3.5-p1 or not?

[2020-07-02 08:56] swathishs commented on #28967
Ya it's reproducible in 2.3.5-p1

[2020-07-02 09:05] swathishs commented on #28967
The issue can be reproduced only on 2.3.5p1 but not on 2.4 develop instance

[2020-07-02 09:06] iovistainc commented on #28967
@swathishs  Could you please help me with how to solve this issue for a 2.3.5-p1 instance?

[2020-07-02 09:06] iovistainc commented on #28967
This issue can be reproduced on 2.3.3 also.

[2020-07-02 09:09] swathishs commented on #28967
@iovistainc : Sorry I am tester I validate the ticket and approve whether the issue is recreated on Magento develop instance.

[2020-07-02 09:12] magento-engcom-team commented on #28967
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35592).

[2020-07-02 09:12] magento-engcom-team commented on #28967
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35592` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-02 09:12] magento-engcom-team commented on #28967
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35592).

[2020-07-02 09:13] magento-engcom-team commented on #28967
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35592).

[2020-07-02 09:13] magento-engcom-team commented on #28967
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35592).

[2020-07-02 09:14] magento-engcom-team commented on #28967
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35592).

[2020-07-02 09:14] magento-engcom-team commented on #28967
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35592).

[2020-07-02 09:19] rvitaliy opened #33192 "Upgrade vendors to latest versions for magento 2.4 release"
Hi community!
I want to report current state of vendors in `2.4-develop` branch.
For details see https://github.com/magento/magento2/issues/28939

This work allow us to use the latest versions of vendors in our code base.
example: in my own code i want to use `monolog/monolog: v2.*` but it's incompatible with magento.
same for other vendors.

[2020-07-02 09:20] rsidhaarth opened #28970 "NDB Cluster 7.4.* Support"
Hi Team,

I am trying to migrate the mysqldump data to NDB cluster 7.4 and I am getting error with Fulltext.

As I can see that, M2 support NDB Cluster 7.4 but when trying to create a table on NDB cluster it fails as they dont support FULLTEXT.

So whats the solution here?

`CREATE TABLE catalogsearch_fulltext_scope1(entity_idint(10) unsigned NOT NULL COMMENT 'Entity ID',attribute_idint(10) unsign

[2020-07-02 09:24] seansan commented on #28910
This is Magento. We are logging it here. All formats are used.

UX is not architecture

If you want the ticket also there then you can copy it.

Let's refrain from discussions about formats, which repo, who to tag etc..It is not M1 anymore where tickets were also always lost.

I think the OP goal is clear. And easily accomplishable for a UX team.

Please give PRIO

[2020-07-02 09:25] ruthgeridema commented on #28472
Also having this issue. Reproduced on 2.3.5-p1.

Temporary workaround is:
$amount / 1,{$taxrate}. So in NL (21%) with 20$ MOQ:
20/1,21 = 16,53. If you fill this in your good.

[2020-07-02 09:27] seansan commented on #28918
This feels like M1 again ... everybody off-managing tickets ...

THe request is for Magento and every type of MAgento

[2020-07-02 09:28] krishprakash commented on #28970
Hi @rsidhaarth. Thank you for your report !!
GitHub issue tracker is intended for magento core technical issues only
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this

[2020-07-02 09:28] #28970 closed, assigned to krishprakash

[2020-07-02 10:23] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-07-02 10:23] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-02 10:37] MohitRane commented on #27239
Did anyone found a solution?

[2020-07-02 10:38] rogyar commented on #28953
I would propose adding a separate mutation for changing cart store ID for such cases. In that way, we will handle this behavior explicitly without introducing side-effects for queries.

[2020-07-02 10:47] engcom-Lima commented on #28943
Hello @pocallaghan

Could you confirm that the result will be the same as when using the CLI?
`php bin/magento setup:config:set --backend-frontname="newadminpath"`
Where `newadminpath` - new Custom Admin URL
I checked on the Magento 2.4 using CLI and cannot reproduce the issue

[2020-07-02 10:56] engcom-Lima commented on #28870
Hello @michael-bouvy, thank you for your report.
Please, create issue in community-features [repo](https://github.com/magento/community-features/issues) for further discussion.

[2020-07-02 10:56] #28870 closed, assigned to nobody

[2020-07-02 10:58] michael-bouvy commented on #28870
Done, thanks @engcom-Lima: https://github.com/magento/community-features/issues/280

[2020-07-02 10:58] TheRealHunzik commented on #27239
@MohitRane  in My Case `StoreManagerInterface` is not Injecting in `Custom\Module\Model\ResourceModel\Module\Collection` Class and i was passing to `StoreManagerInterface` to   Constructor  of `Grid COllection` which is causing problem when I  removed it started working Fine

[2020-07-02 11:07] engcom-Lima commented on #28849
Hello @seansan, thank you for your report.
Please, create issue in community-features [repo](https://github.com/magento/community-features/issues) for further discussion.

[2020-07-02 11:07] #28849 closed, assigned to nobody

[2020-07-02 11:17] engcom-Lima commented on #28844
Hello @seansan, thank you for your report.
Please, create issue in community-features [repo](https://github.com/magento/community-features/issues) for further discussion.

[2020-07-02 11:17] #28844 closed, assigned to nobody

[2020-07-02 11:27] puntable commented on #26882
First you need to connect to the database. Use either phpMyAdmin or other SQL workbench.
Then you need to edit the column called `is_legacy` in the table `email_template`. Change the value from `0` to `1` for the templates, you are experimenting problems with.
If there are no rows in this table, you need to create new template from Magento backend first.

[2020-07-02 11:41] hostep commented on #26700
Looks like this is the commit which fixed it: [MC-31117](https://github.com/magento/magento2/commit/4ecae3093cfc04c0a7d66045e0b54b30c73112b3)

[2020-07-02 11:51] hostep commented on #28482
I think this got fixed in 2.4-develop with [MC-31117](https://github.com/magento/magento2/commit/4ecae3093cfc04c0a7d66045e0b54b30c73112b3) in scope of https://github.com/magento/magento2/issues/26700, but might be wrong about this.

[2020-07-02 11:55] hostep commented on #27265
I think this got fixed in 2.4-develop with [MC-31117](https://github.com/magento/magento2/commit/4ecae3093cfc04c0a7d66045e0b54b30c73112b3) in scope of https://github.com/magento/magento2/issues/26700, but might be wrong about this.

[2020-07-02 12:20] r32rf opened #28971 "please do an add of how to css sass add bootstrap code devdocs?"
helo today i want to ask you do an add of how to use the bootstrap framework in the magento 2 dcoumentation it is currently not of the clear how to use the bootstrap css  sass code in magento 2 docs on css empty please do an add of how to use the container css sass and code in the magento 2 framwork?

[2020-07-02 12:21] r32rf commented on #28971
@m2-assistant ??

[2020-07-02 12:30] engcom-Charlie commented on #25616
Hi @luckyraul,
We are not able to reproduce this issue on the latest 2.4-develop branch by followed scenario:
* 2 _stores_ with one _store view_ per each
* Magento in a subfolder;
1. Login as customer
2. Click on the link to switch store,

**AR**: I'm on the second store view. [200 OK]

![Peek 2020-07-02 15-19](https://user-images.githubusercontent.com/51680850/86358700-992a3900-bc78-11ea-93ed-a3f

[2020-07-02 12:30] #25616 closed, assigned to nobody

[2020-07-02 12:39] krishprakash commented on #28971
Hi @r32rf. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-07-02 12:39] #28971 closed, assigned to krishprakash

[2020-07-02 13:28] NeilofSteel commented on #27265
To fix my issue I changed the line

`return moment(value).isBefore(moment());`
to
`return moment(value, ["D.MM.Y"]).isBefore(moment());`

in /vendor/magento/module-customer/view/frontend/web/js/validation.js

but you should only do that if you use that format too :)

[2020-07-02 13:59] seansan commented on #28849
Please don’t understand not close feature requests. What’s the use of this
process other ways?

Customer feedback please take it more serious.

On Thu, 2 Jul 2020 at 13:07, Viktoriia Sekeresh <notifications@github.com>
wrote:

[2020-07-02 13:59] seansan commented on #28844
Please take this More serious

On Thu, 2 Jul 2020 at 13:18, Viktoriia Sekeresh <notifications@github.com>
wrote:

[2020-07-02 13:59] engcom-Lima commented on #28919
Hello @06romix

I am not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**
Magento 2.4
Elasticsearch 7.0+

**Steps to reproduce:**

1. Insert `<h1><?php echo $_productCollection->getMaxPrice() ?></h1>` into
 `app/code/Magento/Catalog/view/frontend/templates/product/list.phtml:24`
3. Flush cache
4. Go to store view and open a

[2020-07-02 13:59] #28919 closed, assigned to nobody

[2020-07-02 14:16] Josko73 commented on #26882
Thank you! It works!

[2020-07-02 15:21] TerrapinSoftware commented on #28511
OK. I see that this bug is very, very difficult to fix. Here is the fix.

In file `vendor/magento/module-sales/Controller/Adminhtml/Order/Invoice/Save.php`, line 216, replace

[code]

with

[code]

Change `||` to `&&`.

[2020-07-02 16:36] engcom-Lima commented on #27891
Hello @ktleach
I am not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

### Steps to reproduce (*)
1. Run `php bin/magento catalog:images:resize`
2. Click on Flush Catalog Images  (deleted /pub/media/catalog/products/cache)
3. Click on Flush Magento Cache
4. Refresh browser for front end

**Result**: Images in product grid and product page to show as normal.
![Scr

[2020-07-02 17:56] anujeetphj opened #28976 "Invoice generation error with bundle product"
### Preconditions (*)
Magento 2.3.3

### Steps to reproduce (*)
1. Create a bundle product which has one simple product and one virtual product as child products.
2. Keep Dynamic Price = off
3. Keep Dynamic SKU = on
4. Keep Dynamic weight = on
5. Add this product to cart
6. Complete checkout with Cash on delievery
7. In the admin panel, go to
Orders -> Edit Order
8. Click on ‘Invoice’ in header
9.

[2020-07-02 18:01] anujeetphj commented on #28976
@magento give me 2.3.3 instance

[2020-07-02 18:01] magento-engcom-team commented on #28976
Hi @anujeetphj. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-07-02 18:03] magento-engcom-team commented on #28976
Hi @anujeetphj, here is your [Magento instance](https://i-28976-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-28976-2-3-3.instances.magento-community.engineering/admin_a258](https://i-28976-2-3-3.instances.magento-community.engineering/admin_a258)
Login: `fa101186` Password: `4a60e3c528d5`
Instance will be terminated in up to 3 hours.

[2020-07-02 18:15] anujeetphj opened #28977 "User session active in header after logout with Varnish"
### Preconditions (*)

1. Magento 2.3.5
2. Varnish 6
3. Docker containers:
    - php-apache
    - varnish
    - mysql

### Steps to reproduce (*)
1.  In the admin panel click Stores > Settings > Configuration > Advanced > System > Full Page Cache.
 Select "Varnish(recommended)" from the "Caching Application" drop down
2. Download the Vcl configuration file for version 6 and change

[code]
Where ‘p

[2020-07-02 18:39] aliejaz55 commented on #28977
@magento give me 2.4-develop instance

[2020-07-02 18:40] magento-engcom-team commented on #28977
Hi @aliejaz55. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-02 18:55] christian-walker commented on #12271
Number 5 worked for me 👍

[2020-07-02 19:03] mohamedalichelbi commented on #28817
any updates on the issue please ??

[2020-07-02 19:31] pocallaghan commented on #28943
That is not the same setting, you're setting the "frontname", not the domain name.

[2020-07-02 19:38] rommelfreddy commented on #26757
@magento give me 2.3-develop instance

[2020-07-02 19:39] magento-engcom-team commented on #26757
Hi @rommelfreddy. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-07-02 21:01] chittik27 commented on #19838
Please change _Public Function_ in **Failure.php.** Below is the code,

public function execute()
    {

        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $_checkoutSession = $objectManager->create('\Magento\Checkout\Model\Session');
        $_quoteFactory = $objectManager->create('\Magento\Quote\Model\QuoteFactory');

        $order = $_checkoutSession->getLast

[2020-07-02 21:20] davidalger commented on #28729
Update: tried this on the `2.4.0-beta1` and the issue is present there as well

[2020-07-02 23:46] aligent-lturner commented on #25222
We're also seeing this happen on 2.3.5-p1
One successful order, and then one (or more) failed payment attempts also resulting in orders in Magento, each without a transaction ID.

[2020-07-03 01:28] indunil15 opened #28978 "Thems are saving for every Admin Request | Developer and Default modes (Not for Production Mode)"
### Summary (*)

Magento Themes are saving for each and every Magento Admin request for non Production modes. This may affect on developers while using the Magento Admin. Is there are multiple themes then it will slow down the Admin as well as the DB. Normally for developments are docker or limited resources environments, then this issue may have a considerable amount of performance impact on the

[2020-07-03 01:45] viduranishantha commented on #25221
I also faced the same issue for shipping email tracking number for Mangento 2.3.4 update. Unfortunatly AndyJAllen fix to the track.phtml  didn't work for me . I thinks this because my version is 2.3.4.

But when i change the "is_legacy = 1" for the specific template in the databse in the table  "email_template" it worked.
**Table** : email_template
**Sql** : update email_template set is_legacy = 1

[2020-07-03 03:55] colyield commented on #25221
There's an easy fix. The problem is caused by your previous modified email
template. You can change back to the default template on the
store->configuration->sales->sales emails page. Maybe you can delete the
modified email template on Marketing->Email Templates page first, and
modify the template again using the current default template. But right now
I am just using the default one. Problem solv

[2020-07-03 04:42] pics124 commented on #28966
Hi @swathishs

Please reply. Is the issue resolved?

[2020-07-03 05:26] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-07-03 05:26] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-03 06:39] LiamKarlMitchell opened #28979 "Query enabled and disabled categories with Graphql."
### Description (*)
Would like to be able to get disabled categories using Graphql.
Either by default (Could be a breaking change for some) or a filter to allow disabled categories to come through.
E.g. ```filter: { status: { in: [1,2] } }``` could default to enabled to retain current behaviour.

Example Query:
[code]

### Expected behavior (*)
Return all categories even disabled ones.
A separate

[2020-07-03 06:40] engcom-Foxtrot opened #29120 "Move frontend-specific code (such as session-related) to LoginAsCustomerFrontendUi module."
### Summary (*)

Move frontend-specific code (such as session-related) to LoginAsCustomerFrontendUi module.

### Examples (*)

### Proposed solution

[2020-07-03 06:42] engcom-Foxtrot opened #29121 "Introduce Login as Customer "is enabled" check extensibility."
### Summary (*)

Introduce Login as Customer "is enabled" check extensibility.

### Examples (*)

### Proposed solution

[2020-07-03 07:10] swathishs commented on #28976
@magento give me 2.4-develop instance

[2020-07-03 07:10] magento-engcom-team commented on #28976
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-03 07:40] swathishs commented on #28966
@magento give me 2.3.5-p1 instance

[2020-07-03 07:40] magento-engcom-team commented on #28966
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-03 07:51] onepack commented on #25378
I have a customer now on M2.3.5-p1 and they are now having this issue. Can I still use the 2.3.3 patch for M.2.3.5-p1 ??

[2020-07-03 08:36] 06romix commented on #28919
Hello @engcom-Lima

Thanks for detailed report)

But there's one thing to discuss, Expected result was:
Method getMaxPrice () returns the price of the **most expensive product in category** as it do for mysql engine.

Maybe current logic is correct, but for one case (Price Slider) it's bad

Magento has ranges
0-100
100-200
200 and above

For price slider we need to crate range 11 - 245

So it was

[2020-07-03 09:01] engcom-Delta opened #29122 "No order comments are created when admin is logged in as customer and place order with Multiple Addresses"
### Preconditions (*)

1. Magento 2.4-develop(branch module-login-as-customer)
2. Login as Customer is enabled
3. Customer is created with two addresses
4. Simple product is created

### Steps to reproduce (*)

1. Go to Magento Admin -> Customers -> All Customers and open customer account to edit
2. Click Login as Customer link
3. Click Login as Customer button in pop-up window
4. Add simple produ

[2020-07-03 09:12] aveevan opened #28980 "Magento 2.3 - Multi-website CSS unknown error - LEMP (Centos 7 - Nginx)"
After configuring multi-website using https://magento.stackexchange.com/a/117930/57334 CSS not loading.

Screenshot : https://snipboard.io/FgDdeB.jpg

Note: My main website working, multi Website only getting this error.

[2020-07-03 10:26] pocallaghan commented on #28633
@hostep #26784 partly fixes it by ensuring that the url_path should end up right for all stores. #28676 as linked by @BarnyShergold fixes a related issue whereby saving a category in a scope with an overloaded url_key, uses that categories url_path from the current store when generating the URL of products for all stores that don't have an overloaded url_key. I've composer patched this slightly di

[2020-07-03 10:41] m2-assistant[bot] opened #28981 "[Issue] Fixed 'Undefined class constant' error when interceptor is generated."
This issue is automatically created based on existing pull request: magento/magento2#28797: Fixed 'Undefined class constant' error when interceptor is generated.

---------
### Summary (*)
1. Magento 2.4-develop
2. Since constant is [declared as private](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Theme/Block/Html/Title.php#L27) it's not accessible from parent classes.
3.

[2020-07-03 10:44] engcom-Lima commented on #28943
Hello @pocallaghan
Could you show how are you configure Custom admin domain under Stores > Configuration > Advanced > Admin > Admin Base Url > Custom Admin Url?
It would be great if you attached the GIF file.

[2020-07-03 10:45] magento-engcom-team commented on #28981
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35619` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-03 10:48] magento-engcom-team commented on #28957
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35620` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-03 10:51] m2-assistant[bot] opened #28982 "[Issue] Fix shipping address id getter misspelling"
This issue is automatically created based on existing pull request: magento/magento2#28810: Fix shipping address id getter misspelling

---------

### Summary (*)

Magento 2.4-develop
Fixed a shipping address id getter misspelling in the sales order address save handler. Misspelt getter caused unneeded requests to the database on each order save which might create deadlocks.

### Examples (*)
This

[2020-07-03 10:53] magento-engcom-team commented on #28982
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35621` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-03 10:55] engcom-Lima commented on #27367
Hello @AndreyChorniy @perffectolt
Can this problem be closed since it has already been fixed?

[2020-07-03 11:08] engcom-Lima commented on #28919
Hello @06romix this description looks like a feature request.
Please, create issue in community-features [repo](https://github.com/magento/community-features/issues) for further discussion.

[2020-07-03 11:18] engcom-Lima commented on #28849
Hello @seansan
I am serious as never. [This](https://github.com/magento/community-features/issues) repo was created especially for cases like this. Please create issue there.
Thanks

[2020-07-03 11:29] Rishabh-e-Zest opened #28983 "Filters option is not working for "Color""
When using core API to filter product in magento as per the filter option showed in below image.
![image-2020-01-13-17-31-41-941](https://user-images.githubusercontent.com/67787398/86464800-eaf0c300-bd4d-11ea-8a56-c9b77692722a.png)
 Unable to find any product even that product exsist in Magento.
Filter works fine on web but not on mobile.

I am using this criteria:
http://127.0.0.1/local-setup/res

[2020-07-03 11:33] megabike commented on #26461
I am able to reproduce it with 2.3.5p1
- Create an attribute with type: visual text swatch
- DONT create any options
- Save the attribute
- Add attribute to default attribute-set

go to Catalog -> Products
- create new product -> error message

I recognized it, while programming an import-extension. My InstallSchema.php creates the attribute and I am also able to import products - the options are

[2020-07-03 11:36] swathishs commented on #28983
@Rishabh-e-Zest  : Could you please update step to reproduce to recreate the issue and if any screenshot available

[2020-07-03 12:18] Rishabh-e-Zest commented on #28983
I run the api to filter configurable product depends on their attribute:
http://127.0.0.1/local-setup/rest/V1/products/?searchCriteria[filterGroups][0][filters][0][field]=category_id&searchCriteria[filterGroups][0][filters][0][value]=172&searchCriteria[filterGroups][2][filters][0][field]=salon_id&searchCriteria[filterGroups][2][filters][0][value]=1&searchCriteria[filterGroups][2][filters][0][condi

[2020-07-03 12:47] sunel commented on #28943
@engcom-Lima

This is long pending issue https://github.com/magento/magento2/issues/12354

[2020-07-03 13:04] ajijshekh123 commented on #28929
@magento give me 2.4-develop instance

[2020-07-03 13:04] magento-engcom-team commented on #28929
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-03 13:04] swathishs commented on #28983
@magento give me 2.4-develop instance

[2020-07-03 13:04] magento-engcom-team commented on #28983
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-03 14:12] engcom-Lima commented on #28949
Hello @robertbaum
I am not able to reproduce this issue on the latest 2.4-develop branch by provided steps.
Could you confirm that my steps are correct?

**Testing scenario:**

**Preconditions:**
Magento 2.4

**Steps to reproduce:**
1. Add 2 store view (de and fr) to the Main site
2. Go to General -> Web -> Url Options
3. Set "Yes" to "Add Store Code to Urls"
4. Run `php bin/magento cron:run` and

[2020-07-03 14:14] rvitaliy opened #28984 "Cannot publish an associative array to a configured queue"
### Preconditions (*)
Magento EE 2.3.5-p1
PHP: 7.3.18

### Steps to reproduce (*)
1 configure queue like:

file: communication.xml
[code]

file: queue_consumer.xml
[code]
file: queue_publisher.xml
[code]
file: queue_topology.xml
[code]
### Expected result (*)
try to publish a message:

[code]
### Actual result (*)
call `MyPublisher::execute(123);`
this generate error `"Notice: Undefined offset: 0

[2020-07-03 14:31] robertbaum commented on #28949
hello @engcom-Lima
thanks for your check
it's strange, I don't know why this happens
could you please, tell me where I can find the issue source, if possible

[2020-07-03 15:18] salehawal opened #28985 "Catalog | Product | Weight is always zero when adding in grams ( 0.2 )"
### Preconditions (*)

1. magento 2.3
2. ubuntu lamp php 7.2

### Steps to reproduce (*)

1. Edit Product
2. change weight to 0.1

### Expected result (*)

1. weight to remain the entered value

### Actual result (*)

1. weight is changed to 0

[2020-07-03 15:23] salehawal commented on #28985
yes i can confirm it is valid in booth production and development versions booth are magento 2.3

[2020-07-03 15:26] swathishs commented on #28985
@salehawal : Okay we will be testing in both 2.3.5 p1 instance and 2.4 develop instances to check whether the issue is reproduced

[2020-07-03 15:29] swathishs commented on #28985
@magento give me 2.4-develop instance

[2020-07-03 15:29] magento-engcom-team commented on #28985
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-03 15:35] salehawal commented on #28985
just tried to enter 1.2, it rounds it to 1

[2020-07-03 15:45] Vanitha-bujjinga opened #28986 "Magento 2.3.4 - 404 error When click ''add to cart" from shared wishlist"
Magento Version - 2.3.4

### Steps to reproduce (*)

1. Login to a customer account and Add a product to wishlist.
2. Go to "wishlist" and click "Share wishlist".
3. Enter email id, message and send.
4. Logout from customer account.
5. Open a shared wishlist email, Click on "View Product" from email.
6. It landed on the shared wishlist products, Click the "Add to Cart" button from any product.

##

[2020-07-03 16:16] giantdev opened #28987 "Text Swatch doesn't save 0 (zero) value."
### Preconditions (*)

1. Magento version 2.3.3

### Steps to reproduce (*)

1. Go to Admin > Attributes > Product and click one of text swatch attribute.
2. Try to add new swatch with zero(0) value.

### Expected result (*)

1. [Screenshots, logs or description]
2. zero(0) value should be saved

### Actual result (*)

1. [Screenshots, logs or description]
2. No error messages and issues, but it j

[2020-07-03 16:33] giantdev commented on #28987
I found this:

module-swatches/Model/Plugin/EavAttribute.php

Method: processTextualSwatch
Line: 345

I think
if (!$value) {
     $value = $defaultSwatchValue;
}
Should be
if (!isset($value) || $value != "") {
     $value = $defaultSwatchValue;
}

[2020-07-03 16:43] zichicc opened #28988 "Password prompt shows for unregistered user"
### Preconditions (*)

1. Magento 2.3.5
2. Magento 2.4.0
3. Luma template

### Steps to reproduce (*)

1. Put item into the cart and proceed to checkout
2. fill in email address and shipping address forms at Shipping step and go to Review & Payment page
3. go back to shipping address step either by clicking on "Shipping" or using "Back" navigation button of the browser
4. reload the page

### Expe

[2020-07-03 16:56] pocallaghan commented on #28943
@engcom-Lima you're likely to be unable to replicate in what ever environment you're trying it in. Changing the domain name of the admin panel requires DNS entries to be added so that the domain name you enter points at the same location as the main stores domain and potentially updates to the server hosting configuration so that the domain loads the right VirtualHost. @sunel it is indeed the same

[2020-07-03 17:00] Grumag commented on #15504
This poor design or a bug is still happening in 2.3.5-p1. Even more time is wasted when you do tracking on Sales > Orders page.

I will give you an example.
1. Open an order to enter tracking information, once done click on Back button, page starts loading
2. Switch to another tab to, for example, get tracking for another order
3. Go make a coffee and get back after 15 minutes
4. Open the tab show

[2020-07-03 19:18] JAG007 commented on #23729
This issue has not been ressoved.
I am using a clean copy of 2.3.5p1
It only happens if in Configuration > Customer Configuration > Create Account Options > Require Emails Confirmation is set to Yes

[2020-07-04 00:25] BassemN commented on #28982
@magento give me 2.4-develop instance

[2020-07-04 00:25] magento-engcom-team commented on #28982
Hi @BassemN. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-04 01:05] engcom-Lima commented on #28712
Hello @justinwatkins
I am not able to reproduce this issue on the latest 2.4-develop branch by provided steps.
**Testing scenario:**

**Steps to reproduce:**

1. Create a cart price rule, set any condition, it's not relevant.
2. Save the rule
3. Open for editing this price rule
4. Setup to use dynamic coupon codes
5. Generate 2 million coupon codes using the Admin UI
6. Wait approximately 6 hours

[2020-07-04 01:05] #28712 closed, assigned to nobody

[2020-07-04 04:07] mrtuvn commented on #28988
duplicate with this https://github.com/magento/magento2/issues/26903

[2020-07-04 04:25] swathishs commented on #28988
@christianzichichi : Since this issue is duplicate .Hence closing the issue. You can refer this ticket for further details.
Ticket ID: #26903

[2020-07-04 04:25] #28988 closed, assigned to swathishs

[2020-07-04 04:46] swathishs commented on #28986
@magento give me 2.4-develop instance

[2020-07-04 04:46] magento-engcom-team commented on #28986
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-04 11:41] ajijshekh123 commented on #28987
@magento give me 2.4-develop instance

[2020-07-04 11:41] magento-engcom-team commented on #28987
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-04 14:12] ashish-madankar-born commented on #14667
This is not working now can you please check @PiroozMB

[2020-07-04 14:42] anujeetphj commented on #28976
@magento give me 2.3.3 instance

[2020-07-04 14:42] magento-engcom-team commented on #28976
Hi @anujeetphj. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-07-04 14:47] anujeetphj commented on #28976
@magento-admin, did you get anything for this issue? The issue is having the same status from quite some days. I am facing issues with my payment.
Please take a look at my report.

Thanks

[2020-07-04 14:53] gwharton commented on #28985
I can't reproduce this in either 2.3.5-p1 or 2.4-develop

[2020-07-04 15:57] oviliz opened #28994 "There are no sensitive configurations to fill"
### Preconditions (*)
1. Magento 2.4-develop

### Steps to reproduce (*)
Unable to use `config:sensitive:set` at all. Works fine with `config:set`. E.g.:
[code]
[code]

### Expected result (*)
The command should return:
`There are no sensitive configurations to fill. The config:sensitive:set command is applicable only after app:config:dump command has been applied.`

### Actual result (*)
The comm

[2020-07-04 19:15] deepakwsofi opened #28996 "Royalmail Click & Drop Integrations Magento 2"
The attempt to post data to consumer failed due to an unexpected error. Please try again later.

### Preconditions (*)

1. Magento 2.4-develop
2.

### Steps to reproduce (*)

1. ![image](https://user-images.githubusercontent.com/11625124/87167140-24937200-c2ea-11ea-84d5-40ee617513f8.png)
2. ![image](https://user-images.githubusercontent.com/11625124/87167222-455bc780-c2ea-11ea-8c03-be5ea88ba102.pn

[2020-07-05 00:21] BassemN commented on #27137
I'm facing the same issue

[2020-07-05 04:56] krishprakash commented on #28996
Hi @deepakwsofi.
Kindly update all required information to reproduce the issue
Precondition
Steps to reproduce
Expected and actual result

[2020-07-05 08:59] nordcomputer opened #28997 "Rollback function for database not working (terminal&backend)"
### Preconditions (*)

1. Docker Environment with Magento ver. 2.3.5-p1
2. MariaDB 10.0 (container image: mariadb:10)
3. PHP 7.1 Apache (container image: webdevops/php-apache:7.1)

### Steps to reproduce (*)
1. Create Database backup (doesnt matter if from backend or from terminal)
2. Backup gets listed (in backend and in terminal with `bin/magento info:backups:list`)
2. Rollback Database Backup

[2020-07-05 11:35] swathishs commented on #28986
@magento give me 2.4-develop instance

[2020-07-05 11:36] magento-engcom-team commented on #28986
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-06 04:14] swathishs commented on #28908
@magento give me 2.4-develop instance

[2020-07-06 04:14] magento-engcom-team commented on #28908
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-06 05:15] Rishabh-e-Zest commented on #28983
Hi @swathishs , do you find any solutions for this?

[2020-07-06 05:34] VZeroCool commented on #28997
@magento give me 2.4-develop instance

[2020-07-06 05:34] magento-engcom-team commented on #28997
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-06 06:28] swathishs commented on #28983
@Rishabh-e-Zest : Hi I am a tester I will be testing your issue in 2.4 develop instances and if it's recreated then I will approve the ticket. Since there is issue in the Magento instance so still pending to recreate the issue.

[2020-07-06 07:25] engcom-Lima commented on #28949
Hello @robertbaum
Do you use 2 WEBSITES and added two store view to the second website?
Or are you just adding it to the Main site?

[2020-07-06 07:54] robertbaum commented on #28949
I have  two websites (staging and prod)
the staging started with 2.3.1 and had an update to 2.3.3 after finished I installed an m2.3.3 fresh at the prod website and I copied the theme and the modules and the core_config table from the staging
now this issue happens on the prod just.

[2020-07-06 09:15] anujeetphj commented on #28977
Why is this issue closed?

[2020-07-06 09:40] engcom-Lima commented on #28657
Hello @nidhy-gupta
Could you provide more details for reproduce this issue?
It would be great if you show your code.

Thank you!

[2020-07-06 10:30] shyam100379 opened #29003 "Paypal Credit popup not disabling - issue"
### Preconditions (*)

1. Magento ver. 2.2.9
2. paypal for UK configured

### Steps to reproduce (*)

1. When going to homepage, showing paypal credit popup. See: https://prnt.sc/tcn8hi

### Expected result (*)

1. Paypal credit option shouldnt be showing as we are not using it. Also in UK we dont have enable/disable option in admin..

### Actual result (*)

1. https://prnt.sc/tcn8hi its showing i

[2020-07-06 10:31] shyam100379 commented on #29003
I have tried changing to US, disable paypal credit option and changed back to UK. Still its showing.

[2020-07-06 10:31] Rishabh-e-Zest commented on #28983
@swathishs  ok

[2020-07-06 10:42] engcom-Lima commented on #28961
Hello @AndyP1965
Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of magento.

Thank you!

[2020-07-06 11:42] chequille opened #29005 "Cannot insert widgets in CMS page or static block"
Do not know if it is a bug or not, but I kindlly ask you for help on that, because it is a backend issue and therefore could not be a problem of my theme development.

Using: Version 2.3.5-p1
PHP: 7.2.x

Problem:
Editiing a static block and trying to insert a widget by pressing "Insert Widget" Button is not showing the window to insert a widget but the 404 error page of the backend!!!
![grafik](ht

[2020-07-06 11:44] chequille commented on #29005
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-07-06 11:44] magento-engcom-team commented on #29005
Hi @chequille. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-06 12:18] lucasapoena commented on #28614
Hello, is there any news about this problem?
Will a security patch be released?

[2020-07-06 12:41] Prunecreation commented on #26295
Hi,
i had the same problem, (changing theme design in category or product doesn't apply the new theme layout for the product page).
I succeed in making this work using a before plugin on the execute function of  Catalog\Product\View controller .
Here is my code:
`<?php

namespace Vendor\Module\Plugin\Catalog\Product;

use \Magento\Framework\App\Action\Context;
/**
 * Disable customer email dependi

[2020-07-06 13:09] magento-engcom-team commented on #28802
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35642` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-06 13:26] Sankarant commented on #6868
Found this issue present in Magento 2.3.1.  Please share the patch for this issue.
Fix from @OvalMedia works great.

[2020-07-06 13:31] m2-assistant[bot] opened #29009 "[Issue] Remove redundant init method"
This issue is automatically created based on existing pull request: magento/magento2#28650: Remove redundant  init method

---------

### Summary (*)

Magento 2.4-develop
This PR removes redundant init method in
`app/code/Magento/AdvancedPricingImportExport/Model/Import/AdvancedPricing/Validator/Website.php` and `app/code/Magento/AdvancedPricingImportExport/Model/Import/AdvancedPricing/Validator/T

[2020-07-06 13:33] magento-engcom-team commented on #29009
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35643` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-06 14:10] engcom-Lima commented on #28949
@robertbaum
I double-checked and still could not reproduce this issue on the latest 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**
Magento 2.4

**Steps to reproduce:**

1. Create second site
2. Add 2 store view (de and fr) to the Second site
3. Go to General -> Web -> Url Options
4. Set "Yes" to "Add Store Code to Urls"
5. Run `php bin/magento cron:run` and `php b

[2020-07-06 14:11] magento-engcom-team commented on #28969
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35645` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-06 14:21] engcom-Lima commented on #28610
Hello @joinso

Could this issue be closed since it has been fixed?

[2020-07-06 14:25] joinso commented on #28610
Yes!

[2020-07-06 14:41] danielrenaud commented on #26830
@DrewML that is the case that @sasha19957099 demonstrated is now working as expected. The fix in #27015 fixed the CartItems resolver to handle errors (like product out of stock) in a better way.

[2020-07-06 15:07] tiffanylw opened #29011 "Issue with quick cart view"
Hi, I have been having an issue with items with attirbutes that appear on the Quick cart option on the actual home page.
We imported many menu combo items onto the magento inventory list and all of the items appear to be working fine with their attrivutes and selection besides one combo.
![image](https://user-images.githubusercontent.com/67914666/86608306-f1f71b80-bf6f-11ea-8860-114913700c1b.png)

[2020-07-06 15:35] m2-assistant[bot] opened #29012 "[Issue] Removed unused class imports"
This issue is automatically created based on existing pull request: magento/magento2#28696: Removed unused class imports

---------

### Summary (*)

Magento 2.4-develop
This PR removes redundand class imports for some classes

### Examples (*)

### Proposed solution

[2020-07-06 15:40] sunilit42 opened #29013 "Multiple order issue Paypal"
### Preconditions (*)

1. Magento 2.4
2. configure Paypal method with authorizing setting
Can be related to [28916](https://github.com/magento/magento2/issues/28916)

### Steps to reproduce (*)

- Add Product in Cart
- Go to the checkout page
- Place an order with PayPal Express
- It will redirect to paypal/express/review/ page
- Place order
- Redirecting to Success pae
- Now go back to PayPal/exp

[2020-07-06 16:19] Zyles opened #29014 "Unable to issue refund"
### Preconditions (*)

Magento 2.3.3

### Steps to reproduce (*)

1. Create order with two items
2. Invoice the order
3. Create credit memo, enter a sum in "Adjustment refund" box
4. Hit "Refund"

### Expected result (*)

Able to refund.

### Actual result (*)

The most money available to refund is XXX.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contri

[2020-07-06 18:19] gwharton commented on #28996
RM C&D working fine for me on 2.3.5-p1

[2020-07-06 18:19] ajijshekh123 commented on #29014
@magento give me 2.4-develop instance

[2020-07-06 18:19] magento-engcom-team commented on #29014
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-06 19:08] drc0 opened #29017 "Product Attribute Repository do not respect attribute_code max length"
### Preconditions (*)
on magento 2.4 a product attribute code with attribute_code of value A_12345678_9123_4567_890a_BCDEF123456 is saved through the admin ui but not from the repository. Here Magento\Eav\Model\Entity\Attribute::ATTRIBUTE_CODE_MAX_LENGTH should be respected.

### Steps to reproduce (*)

Here is a code example:
[code]
### Expected result (*)

1. attribute is saved

### Actual resul

[2020-07-06 19:10] auteyrose commented on #28962
This is great if it would work that way on my end and my other staffs. Can you tell me what to do if it continues to not be a full screen preview like yours above?

[2020-07-06 21:58] fascinosum commented on #28729
@davidalger, thank you for you contribution. Could you help narrow down the  issue? Were you able to reproduce it with any other development environment?
You can even [request a test environment](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#vanilla-pr) here
Please review the services you use, they should meet [system requirements](https://devdocs.magento.com/guides/v

[2020-07-06 22:12] magento-engcom-team commented on #28901
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35674).

[2020-07-06 22:12] magento-engcom-team commented on #28901
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35674` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-06 22:12] magento-engcom-team commented on #28901
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35674).

[2020-07-06 23:33] mrtuvn commented on #28686
Can you reproduce issue in latest branch code ?
Tested in both 2.3.4 and 2.4-develop branch (git) Working
varnish enabled + all caches magento enabled
Add exit code in first line of execute method show exactly what i expected

[2020-07-07 01:41] DavidEu000 commented on #27484
I am also facing this issues as I have tried to place order with built-in or 3rd payment gateway, which are received the email confirmation twice with the same content.

Anyone could help me to fix?

[2020-07-07 02:21] davidalger commented on #28729
@fascinosum I have not tried any other dev environments, and no I did not ask for a test environment since to my knowledge I cannot specify the PHP version to use when requesting one.

The system I'm running meets all the requirements, and is based on the same base OS and packages I've been running Magento 2 on since it's inception. The reason I mentioned the specific dev environment used is _beca

[2020-07-07 03:58] swathishs commented on #28962
@magento give me 2.3.5-p1 instance

[2020-07-07 03:58] magento-engcom-team commented on #28962
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-07 03:59] magento-engcom-team commented on #28962
Hi @swathishs, here is your [Magento instance](https://i-28962-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28962-2-3-5-p1.instances.magento-community.engineering/admin_5eb2](https://i-28962-2-3-5-p1.instances.magento-community.engineering/admin_5eb2)
Login: `a17e6bb4` Password: `7e8eb06120c0`
Instance will be terminated in up to 3 hours.

[2020-07-07 04:51] chequille commented on #29005
@krishprakash
Hi,
are you testing this or why did I not get an instance yet?
BR
Chequille

[2020-07-07 06:03] swathishs commented on #28962
Issue is not reproducible in magento 2.3.5p1 instance
![image](https://user-images.githubusercontent.com/58288685/86723408-7f586f80-c045-11ea-9543-ea41258fe3e4.png)

[2020-07-07 06:07] LiamKarlMitchell commented on #8897
This also impacts the bulk api... even when using all/ it adds store id 1 when my site is single store. How frustrating, so I can't use the bulk api.

[2020-07-07 06:08] swathishs commented on #28962
@auteyrose : Since the issue is not reproducible in Magento 2.4 and 2.3.5p1 develop instance. Hence closing the ticket.

I am tester I will verify the issue in Magento 2.4 and 2.3.5p1 to develop an instance.

[2020-07-07 06:08] #28962 closed, assigned to swathishs

[2020-07-07 06:09] swathishs commented on #28976
@magento give me 2.4-develop instance

[2020-07-07 06:09] magento-engcom-team commented on #28976
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-07 06:20] LiamKarlMitchell opened #29018 "Bulk API Store ID Product Attribute Update adds Store ID 1 does not update / set Store ID 0."
Related to / duplicate of #7720 #28274 #26484 #9186

### Preconditions (*)
Magento 2.3.2 (Doesn't matter).
1. Magento 2 store single store mode, rest api integration set up to get the access key to do updates from a third party script/program etc.
2. Rabbit MQ message queue configured with consumer running.
[code]

### Steps to reproduce (*)
1. Send bulk api request to update a product with name:

[2020-07-07 06:23] swathishs commented on #28916
@magento give me 2.4-develop instance

[2020-07-07 06:23] magento-engcom-team commented on #28916
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-07 06:49] bryanveIoso commented on #28897
I think Magento LTS (OpenMage) will support PHP 8 first as it's more active. Or just use WooCommerce instead. M2 updates is kinda slow and until today PHP 7.4.4 is still not supported. O___O

[2020-07-07 07:07] swathishs commented on #28976
@magento give me 2.3.5-p1 instance

[2020-07-07 07:07] magento-engcom-team commented on #28976
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-07 07:09] magento-engcom-team commented on #28976
Hi @swathishs, here is your [Magento instance](https://i-28976-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28976-2-3-5-p1.instances.magento-community.engineering/admin_f46c](https://i-28976-2-3-5-p1.instances.magento-community.engineering/admin_f46c)
Login: `21250323` Password: `b33521560c69`
Instance will be terminated in up to 3 hours.

[2020-07-07 08:00] swathishs commented on #28976
@anujeetphj : Issue is not reproducible on Magento 2.3.5 p1 instance

Please find the attachment below:
1. **Bundle product:**
![image](https://user-images.githubusercontent.com/58288685/86741331-eaf60900-c054-11ea-95a4-ef78a002b625.png)

2. **Virtual product and simple product:**
![image](https://user-images.githubusercontent.com/58288685/86741520-124cd600-c055-11ea-8957-521c8abd1b04.png)

3. **C

[2020-07-07 08:03] Eddcapone commented on #28753
Hello @engcom-Lima, we are hosted on www.rackspeed.de and I set the root directory via the cPanel to the pub folder.

[2020-07-07 08:16] mobweb commented on #12870
To anyone finding this via Google, have a look at this issue: https://github.com/magento/data-migration-tool/issues/436

Basically you have to check your error message for some entity attribute that is shown, such as "mailchimp_sync_delta" in my case. What you then want to do is either delete this attribute manually from the EAV table in Magento 2 or use your "eav-attribute-groups.xml" file to exc

[2020-07-07 08:27] swathishs commented on #28985
@salehawal: Issue is not reproducible in Magento 2.3.5p1

Please find the attachment below:
![image](https://user-images.githubusercontent.com/58288685/86748011-c8b2ba00-c059-11ea-89f4-b89835588ddb.png)

[2020-07-07 08:28] BarnyShergold commented on #28633
@pocallaghan I originally had a similar fix - however if you just have that returning zero then one of the Integration Tests fails due to the way category data is handled when MOVE is executed. The  fix on #28676 solves the bug and allows the tests to pass

[2020-07-07 08:37] iphigenie commented on #28183
@magento give me 2.4-develop instance

[2020-07-07 08:37] magento-engcom-team commented on #28183
Hi @iphigenie. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-07 08:40] Taku-Yamashita opened #29019 "The spinner keeps showing up in the pagination of the related product list"
### Preconditions (*)

1. Magento2.3.5-p1
2. Clean Install

### Steps to reproduce (*)

1. Create a product with about 50 related products.
2. Click on the Related Products tab and set the pagination to 5.
3. Select the second page of pagination.

### Expected result (*)

1. The spinner disappears and the second page of products appears.

### Actual result (*)

1. The spinner keeps showing up on t

[2020-07-07 08:51] sudheers-kensium commented on #29019
@magento give me 2.4-develop instance

[2020-07-07 08:51] magento-engcom-team commented on #29019
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-07 09:18] thorrrr opened #29020 "Orders Page Date Search not working for none US date format"
### Preconditions (*)

1.2.3.5 p1
2.

### Steps to reproduce (*)

1. The date selection in the orders page only does USA format. Whatever you have set in the backend all mine is the UK but M2 orders page does not change to sys date. So any search you try gives you wrong results for the dates you pick, as my orders have a UK format but search return date month swapped round
2.

### Expected result

[2020-07-07 09:29] thorrrr opened #29021 "Ability to Reset All Filters in Orders Page"
### Description (*)

We use the order screen all day and apply filters. For some reason this page does not have a reset all filters option!
But you other search areas do!
We have to click each filter individually to remove it which results in a full page refresh.
Having just moved from M1 i feel like i have gone back 10 years with the speed its painfully slow to refresh.
But if i have 3 to 5 filte

[2020-07-07 09:31] Eddcapone opened #29022 "Files not writable after following documentation to setup permissions"
### Preconditions (*)

Version: 2.3.5-p1 Enterprise

### Steps to reproduce (*)

1. Put magento in production mode
2. Execute: `find app/code var/view_preprocessed vendor pub/static app/etc generated/code generated/metadata \( -type f -or -type d \) -exec chmod u-w {} + && chmod o-rwx app/etc/env.php && chmod u+x bin/magento`

like described in the [official documentation](https://devdocs.magento.

[2020-07-07 09:45] verdde commented on #28482
Was not fixed. 2.3.5-p1 The patch made by chandu-pinpoint is temporary fixing the issue.
For 2.4 there is an opened issue #26443

[2020-07-07 10:23] thorrrr commented on #28698
HI Guys not sure if this helps i past in code for a sales template which i always used in M1 no issue.
But in M2 50 lines are stripped out which screws up my listing template
[Actual Script Pasted into Policy.txt](https://github.com/magento/magento2/files/4884174/Actual.Script.Pasted.into.Policy.txt)
[M2E Stripped Out from Policy.txt](https://github.com/magento/magento2/files/4884175/M2E.Stripped.

[2020-07-07 10:33] iphigenie commented on #28183
@magento-engcom-team I can hope :)

[2020-07-07 10:36] magento-engcom-team commented on #28943
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35680` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-07 10:54] sudheers-kensium commented on #29019
I am able to reproduced this issue in Magento2.3.5-p1 instance.
![image](https://user-images.githubusercontent.com/50358141/86770373-3bc62b80-c06e-11ea-80d1-cc7b731654f4.png)

[2020-07-07 10:55] magento-engcom-team commented on #29019
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35683` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-07 10:55] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 10:56] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 10:56] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 10:57] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 10:57] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 10:58] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 10:58] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 10:59] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 10:59] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:07] pocallaghan commented on #28633
@BarnyShergold yer, I  have since moved the change due to an issue caused elsewhere. I have to say URL handling in M2 is a bit of a tire fire if you have more than one store. I've ran in to so many different issues.

[2020-07-07 11:27] hostep commented on #28633
@pocallaghan, exactly! Feel free to checkout the module we wrote for detecting various issues with incorrect url data in the database: https://github.com/baldwin-agency/magento2-module-url-data-integrity-checker (incorrect url rewrite detection isn't part of it yet, because it's pretty complex and also because I have not that much free time to work on it)

[2020-07-07 11:44] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:45] krishprakash commented on #29019
Hi @Taku-Yamashita. Thank you for your report.
Seems issue is duplicate to #28967

[2020-07-07 11:45] #29019 closed, assigned to krishprakash

[2020-07-07 11:45] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:45] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:46] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:46] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:47] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:47] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:48] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:48] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:49] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:49] krishprakash commented on #29021
Hi @thorrrr. Thank you for your report.
Please, create issue in [community-features repo](https://github.com/magento/community-features/issues) for further discussion.

[2020-07-07 11:49] #29021 closed, assigned to krishprakash

[2020-07-07 11:49] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:50] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:50] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:51] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 11:51] magento-engcom-team commented on #29019
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35683).

[2020-07-07 12:06] krishprakash commented on #29005
Hi @chequille. Sorry for inconvenience, There is some issue with automated instance. will be sort out soon.
Thanks !!

[2020-07-07 12:46] magento-engcom-team commented on #29012
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35689` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-07 13:19] abude commented on #19712
@magento-engcom-team this is still happening on M2.3.5-p1

Is it or not safe to use this workaround to skip csrf validation?

[2020-07-07 13:25] elisei commented on #22488
Hi

@magento-engcom-team give me 2.3-5 instance

[2020-07-07 13:25] magento-engcom-team commented on #22488
Hi @elisei. Thank you for your request. I'm working on Magento 2.3-5 instance for you

[2020-07-07 13:55] ihor-sviziev commented on #29022
@Eddcapone could you explain why do you need to have writable files? All files should be RO if possible on production environment due to security reasons

[2020-07-07 14:23] auteyrose commented on #28962
<img width="1430" alt="Screen Shot 2020-07-07 at 9 22 34 AM" src="https://user-images.githubusercontent.com/67702380/86795704-72cb1b80-c033-11ea-9e5c-8e0cf5d521db.png">

[2020-07-07 14:23] auteyrose commented on #28962
@swathishs today it looks like this.

[2020-07-07 14:30] swathishs commented on #28962
@auteyrose : I think you should upgrade to 2.3.5 p1  or You can Kindly refer https://community.magento.com/ or https://magento.stackexchange.com/

[2020-07-07 15:10] johnyoy commented on #28946
having same issue in my site[VAT CALCULATOR](https://techcal.net/)

[2020-07-07 15:30] danielrenaud commented on #28868
@nrkapoor Closing this ticket because there are no mutations for company credit (confirmed with @paliarush)

[2020-07-07 15:30] #28868 closed, assigned to nobody

[2020-07-07 16:41] Berman59 commented on #22187
Was this ever fixed?

[2020-07-07 16:53] rparsi-boxycharm commented on #28933
The sorting can be done in elasticsearch via `"sort"` included in the request along side `"query"`, ie
[code]

There's no point in doing the sorting in php.

[2020-07-07 17:41] jacekl commented on #27638
Good job @lbajsarowicz !

I have the same issue upgrading from 2.3.3. to 2.3.5... One thing to mention:
* it happens after you run `setup:di:compile` command before running unit tests,
* if you remove `generated/code` directory contents and run unit tests without `setup:di:compile` - tests are execuring correctly.

At least for me.

[2020-07-07 19:25] mtjweb opened #29025 "Product images not showing after upgrade"
### Preconditions (*)

1. Magento 2.3.5-p1

### Steps to reproduce (*)

1. Products and images were importe in Magento 2.3.4
2. Productimages were showing correctly in Magento 2.3.4
3. I upgraded magento to 2.3.5-p1
4. Poductimages are not showing of products that are not manually saved before.
5. When I check the databasetable catalog_product_entity_media_gallery_value it is missing entries for a

[2020-07-07 19:49] EustaceCS opened #29026 "Unsupported platform is mentioned in 'backup successful' message"
### Preconditions (*)
Install Magento by any supported means suitable.

### Steps to reproduce (*)
Make a backup through CLI successfully.

### Expected result (*)
Unsupported platforms (see #28055 for the 'why') are not mentioned.

### Actual result (*)
![Capture](https://user-images.githubusercontent.com/29461793/86834744-dc830e00-c0a3-11ea-9093-667f0b93fde7.PNG)
I believe, it's from https://git

[2020-07-07 21:19] fascinosum commented on #28729
@davidalger thank you for this in-depth investigation. You are absolutely right that the current implementation in some places is based on the assumption that we have ICU library with version >= 51.x (or even >= 52.x). `fields` value in the current position has been added to ICU 51.1 (Release Date: 2013-03-22).
Due to the fact that we don't use these block variables (`today` and `week`) and never

[2020-07-07 21:51] agrohs commented on #23069
Any update on here???

[2020-07-07 23:18] erikhansen commented on #8933
@magento-engcom-team Can you provide working links to the commits in 2.3.5 that fix this issue, as the commits you posted in [your April 24th comment](https://github.com/magento/magento2/issues/8933#issuecomment-619209731) no longer work?

[2020-07-08 00:26] abhinavaggarwal8 opened #29027 "Trying Magento2.4.0 Could not install"
I was trying to install latest magento2.4.0
![ss](https://user-images.githubusercontent.com/10917770/86859202-c7c46b80-c0df-11ea-8cc4-7a0e078b3b43.jpg)

composer create-project --repository-url=https://repo.magento.com/ magento/project-enterprise-edition=2.4.0 html

Could not find package magento/project-enterprise-edition with version 2.4.0

[2020-07-08 04:26] swathishs commented on #29027
@abhinavaggarwal8 : Thank you for your report. For GitHub issue tracker is for Magento core technical issues only
Kindly refer https://community.magento.com/ or https://magento.stackexchange.com/ or https://github.com/magento/community-features/issues  for general discussion & feature request

[2020-07-08 04:26] #29027 closed, assigned to swathishs

[2020-07-08 04:29] swathishs commented on #28985
@magento give me 2.4-develop instance

[2020-07-08 04:29] magento-engcom-team commented on #28985
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-08 06:44] Eddcapone commented on #29022
@ihor-sviziev , if magento 2 doesn't need writable files, then why do I get the error? Can you explain that?

[2020-07-08 07:23] alexgao-tinyme opened #29028 "Gift Card Get "Please specify a gift card amount" Error"
### Preconditions (*)

1. Magento Commerce 2.3.5
2. Set Gift card as "invoiced" type and only enable gift card's open amount. do not set predefined amount for gift card product in admin

### Steps to reproduce (*)

1. purchase a gift card with custom amount you put in the input field
2. use adyen or credit card checkout checkout payment method, do not use paypal.

### Expected result (*)

1. Users

[2020-07-08 07:24] MasudIslam commented on #27137
I'm facing the same issue. Is there any update on this?

[2020-07-08 07:25] engcom-Lima commented on #28610
Closed as it was fixed

[2020-07-08 07:25] #28610 closed, assigned to nobody

[2020-07-08 08:44] mdy9888 opened #29030 "how to disable the tooltip on the navigation bar Magento 2"
### Summary (*)
I want to disable tooltip show out in navigation bar and anywhere. How to do it?

### Examples (*)
I try to go Stores ->Configuration ->Catalog ->Catalog ->Storefront ->Show Swatch Tooltip then I selected "NO" but still show.

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the

[2020-07-08 08:56] iovistainc commented on #28967
This commit has fixed the issue.
https://github.com/magento/magento2/commit/76493a97c457fbf368e5ee53dcf62a7d64437f2d

[2020-07-08 09:08] krishprakash commented on #29030
Hi @mdy9888 . Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-07-08 09:08] #29030 closed, assigned to krishprakash

[2020-07-08 09:09] Veorirac opened #29031 "Adding a decimal quantity product"
### Preconditions (*)

 Magento 2.3.5
1. Need to create configurable product with available qty

### Steps to reproduce (*)

1. Open site
2. Open configurable product page
3. Choose configuration product
4. Enter in qty field 1.1
5. Click on the button **Add to bag**
6. Open mini cart

### Expected result (*)

1. When adding product with decimal qty, must be validation for decimal qty with notific

[2020-07-08 09:10] m2-assistant[bot] opened #29032 "[Issue] MFTF: Admin Delete Newsletter Subscriber"
This issue is automatically created based on existing pull request: magento/magento2#28972: MFTF: Admin Delete Newsletter Subscriber

---------
**Preconditions:**

This PR contains a test for deleting newsletter subscriber as Admin User

**Steps to reproduce:**

1 - Subscribe a customer for newsletter

2 - Navigate as Admin User to Admin>Marketing>Newsletter Subscribers

3 - Find subscriber on gri

[2020-07-08 09:19] magento-engcom-team commented on #29032
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35718` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-08 09:34] jvinzens opened #29033 "Product attribute: Storefront Properties Tab is disappearing while editing attributes"
### Preconditions (*)

1. Magento 2.4-develop
2. Disable/enable product attributes to use in search

### Steps to reproduce (*)

1. Navigate to Stores -> Attributes ->Product in Backend
2. Try to edit the "image" attribute for example;
3. After a few seconds, the "Storefront Properties" tab is disappearing

### Expected result (*)

1. When editing existing product attributes, the Storefront Proper

[2020-07-08 09:45] swathishs commented on #29031
@magento give me 2.4-develop instance

[2020-07-08 09:45] magento-engcom-team commented on #29031
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-08 09:52] hostep opened #29034 "Missing return value in Magento\CmsUrlRewrite\Plugin\Cms\Model\Store\View::afterSave can cause saving a storeview to crash"
### Preconditions (*)
1. Tested on a vanilla Magento 2.3.5 and 2.4-develop (commit 735579d8aa14f7275d92818848f4a405191e7cb2) instance

### Steps to reproduce (*)
1. Setup a vanilla Magento installation
2. In the backend, go to Stores > All Stores
3. Open the 'Default Store View'
4. Save the storeview, no need to change anything, notice that this works fine
5. Now simulate we installed a bunch of c

[2020-07-08 09:55] swathishs commented on #29031
@magento give me 2.3.5-p1 instance

[2020-07-08 09:55] magento-engcom-team commented on #29031
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-08 09:56] magento-engcom-team commented on #29031
Hi @swathishs, here is your [Magento instance](https://i-29031-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-29031-2-3-5-p1.instances.magento-community.engineering/admin_5d9c](https://i-29031-2-3-5-p1.instances.magento-community.engineering/admin_5d9c)
Login: `4acbec8d` Password: `879400b8f7f2`
Instance will be terminated in up to 3 hours.

[2020-07-08 10:36] cpini opened #29036 "Unable to run unit tests on Alpine PHP 7.3 / 7.4 - errors thrown"
### Preconditions (*)
1. Magento 2.3.5 (and 2.4-develop)
2. Docker image: php:7.3-fpm-alpine (also tested on php:7.4-fpm-alpine)
3. Default composer install > allure-framework/allure-phpunit:~1.2.0  (installs 1.2.4)
4. Also Manually upgraded to allure-framework/allure-phpunit:~1.3.0 (installs 1.3.1)

### Steps to reproduce (*)
/usr/local/bin/php -d memory_limit=2048M /var/www/html/./vendor/phpunit

[2020-07-08 10:44] joshdavenport commented on #18382
@magento-engcom-team give me 2.3.5 instance

[2020-07-08 10:45] magento-engcom-team commented on #18382
Hi @joshdavenport. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-07-08 10:46] magento-engcom-team commented on #18382
Hi @joshdavenport, here is your [Magento instance](https://i-18382-2-3-5.instances.magento-community.engineering).
Admin access: [https://i-18382-2-3-5.instances.magento-community.engineering/admin_13a6](https://i-18382-2-3-5.instances.magento-community.engineering/admin_13a6)
Login: `99142256` Password: `bfbace26e9c4`
Instance will be terminated in up to 3 hours.

[2020-07-08 11:20] swathishs commented on #29031
@Veorirac : Cant understand the issue could you please elaborate the issue.

Since cart subtotal will be calculated with the quantity
![image](https://user-images.githubusercontent.com/58288685/86912479-b78daa00-c13a-11ea-999f-c774564bba9f.png)

[2020-07-08 11:28] swathishs commented on #29028
Hi @alexgao-tinyme , all issue specific for Magento EE should be reported in the EE repo

@sdzhepa - It seems this issue specific for Magento EE and should be fixed in the EE repository.

EngCom team, please confirm and transfer this issue too-
https://github.com/magento/partners-magento2ee/issues

Closing this issue

[2020-07-08 11:28] #29028 closed

[2020-07-08 11:31] Veorirac commented on #29031
@swathishs This amount of product should not be added to the cart, customer can overpay for the product, but in the end will receive only 1 product, not 1.1, so I think there must be validation for the field quantity, like for negative quantity (For example -2 displayed error message **Please enter a quantity greater than 0**.

[2020-07-08 11:53] joshdavenport commented on #18382
Just checked this in the 2.3.5 instance.

The validation step catches that your import is trying to import an attribute value that doesn't exist. From that perspective there is no issue.

From the perspective of users doing large imports with attributes that have values that don't already exist in the system, there is absolutely a huge issue here. In other words, OPs original report is saying that

[2020-07-08 13:15] mohitka commented on #27137
I am also having the same issue. Any update on this?

[2020-07-08 13:46] m2-assistant[bot] opened #29039 "[Issue] MFTF: Newsletter Guest Subscription With Disallowed Option Test"
This issue is automatically created based on existing pull request: magento/magento2#28872: MFTF: Newsletter Guest Subscription With Disallowed Option Test

---------
This PR contains MFTF test for guest newsletter subscription with disallowed option in configs
**Deprecated** `VerifyRegistredLinkDisplayedForGuestSubscriptionNoTest` due to inconsistency with the best practices
**Deprecated** `Store

[2020-07-08 13:48] magento-engcom-team commented on #29039
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35727` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-08 13:56] JKetelaar commented on #27564
Same issue here

[2020-07-08 13:57] theCapypara opened #29040 "Catalog Import: Product Links for skipped rows get always deleted"
### Preconditions (*)
1. Have a catalog import file and prepare it to be imported with a behaviour that is not "append".
2. Make sure that this import file contains at least one critical error, that will cause all other rows of the import to be skipped, such as a duplicate URL key
3. Make sure that other rows in the import file have product links and that those products also already have links in

[2020-07-08 14:07] JKetelaar commented on #27564
@xtremevision could you provide some more information about your debug and what seems to be the issue with "empty carts"?

[2020-07-08 14:16] JKetelaar commented on #27564
Are you talking about the result of:
[code]

[2020-07-08 14:19] leroynas opened #29041 "GraphQL cart items price currency"
The currency of the Money object in the cart query are not corresponding to the either Content-Currency and base currency. The value of the price is updated but the currency is not.

### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Setup a Magento store with multiple currencies on the default store view
2. Create cart (graphql)
3. Add product to cart (graphql)
4. Get c

[2020-07-08 14:19] leroynas commented on #29041
@magento give me 2.4-develop instance

[2020-07-08 14:19] magento-engcom-team commented on #29041
Hi @leroynas. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-08 14:42] Eddcapone opened #29043 "Add product attribute type "integer""
### Description (*)

Magento 2.3.5-p1 Enterprise

We need attributes with type integer for products with a certain length, e.g. 100 centimeters,
but Magento 2 does not even have such a type. I found a price type, but thats not what we want.
We need it to be type integer, because otherwise we can't use conditions like "smaller than", "greater than" etc. in sections
where you can define rules or in

[2020-07-08 15:09] 0m3r commented on #22792
Fixed in 2.4-develop

https://github.com/magento/magento2/commit/db69693bd929bd8665015ff6d9b6a3845584aa0b

[2020-07-08 15:10] 0m3r commented on #6625
Fixed in 2.4-develop

https://github.com/magento/magento2/commit/db69693bd929bd8665015ff6d9b6a3845584aa0b

[2020-07-08 16:05] hostep commented on #29026
Why shouldn't you be able to uncompress an archive file on Windows? Not sure if this has anything to do with Magento not being supported on Windows, this is about uncompressing an archived file, not about Magento itself, no? 😛

[2020-07-08 16:11] hostep commented on #29022
The documentation says to remove write permissions **after** executing `bin/magento deploy:mode:set production` which happens to execute `bin/magento setup:static-content:deploy` automatically as well.

So you should reverse your commands, first run `bin/magento setup:static-content:deploy`, then remove write permissions. Be aware that every time you need to run `bin/magento setup:static-content:d

[2020-07-08 16:26] rani-priya opened #29046 "Catalog price rule scheduled changes end date not working properly"
### Preconditions (*)

1. Magento enterprise edition : 2.3.4

### Steps to reproduce (*)

1. create a price rule
2. then create scheduled changes with start date and end date
3. then check for end date of price rule at fronend it's ending after 24 hrs of end date

### Expected result (*)

1. It should end at the end of scheduled date

### Actual result (*)

1. it's ending after 24 hrs of scheduled

[2020-07-08 16:37] davidalger commented on #28729
@fascinosum Sounds good to me! As long as the notice doesn't happen, I"ll be happy. Thanks. :)

[2020-07-08 20:25] Christianl2004 opened #29048 "Problem with products page"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-07-08 20:59] carlos-reynosa commented on #25099
I was having an issue with 2.3.3-p1 where i created an additional category image but when i would upload the new category image it would delete any other category image. @alex-james 's fix removed the issue.

[2020-07-08 22:10] theloveofcode opened #29049 "Braintree 3D Secure verification assumes address has region code"
### Preconditions (*)

1. Magento Open Source or Commerce version 2.3.5 p-1

### Steps to reproduce (*)

1. Checkout using an address for which there is no state/province dropdown, such as Papua New Guinea
2. Use Braintree Credit Card with 3D Secure enables as the payment method

### Expected result (*)

1. In app/code/Magento/Braintree/view/frontend/web/js/view/payment/3d-secure.js the property o

[2020-07-08 23:30] kevinvuillemin commented on #7199
Up please ?

[2020-07-09 03:10] magento-engcom-team commented on #29032
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28972 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [aeba2c4d96851429d5a39e8104caadab339b8ad5](https://github.com/magento/magento2/commit/aeba2c4d96851429d5a39e8104caadab339b8ad5)

The fix will be available with the upcoming 2.4.1 release.

[2020-07-09 03:10] #29032 closed, assigned to DmitryTsymbal

[2020-07-09 03:10] magento-engcom-team commented on #28982
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28810 by @kodubovik in 2.4-develop branch
Related commit(s):
 - [4793b6ece1caa04e080de877494452f4a400daa0](https://github.com/magento/magento2/commit/4793b6ece1caa04e080de877494452f4a400daa0)
 - [e2933a9b78d8c5c8b21e8d4b46cef413fed5f7c2](https://github.com/magento/magento2/commit/e2933a9b78d8c5c8b21e8d4b

[2020-07-09 03:10] #28982 closed, assigned to nobody

[2020-07-09 03:10] magento-engcom-team commented on #29012
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28696 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [e5ab51f5e6b5c26f08c17760a99c166bb128e95e](https://github.com/magento/magento2/commit/e5ab51f5e6b5c26f08c17760a99c166bb128e95e)
 - [d0e0605c03b33862d95c085e29b0eb8c365189c2](https://github.com/magento/magento2/commit/d0e0605c03b33862d95c085e2

[2020-07-09 03:10] #29012 closed, assigned to Usik2203

[2020-07-09 04:21] krishprakash commented on #29048
Hi @Christianl2004.
Kindly provide all the details to reproduce the issue
Preconditions
Steps to Reproduce
Expected and Actual Result

[2020-07-09 04:41] swathishs commented on #29031
@magento give me 2.4-develop instance

[2020-07-09 04:41] magento-engcom-team commented on #29031
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-09 04:42] ajijshekh123 commented on #29043
@magento give me 2.4-develop instance

[2020-07-09 04:43] magento-engcom-team commented on #29043
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-09 04:45] ajijshekh123 commented on #29043
@magento give me 2.4-develop instance

[2020-07-09 04:46] magento-engcom-team commented on #29043
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-09 04:52] swathishs commented on #27278
@ioweb-gr : Thank you for your contribution and collaboration!
This issue is like a feature request.
So it is not for this tracker. for fast processing of this issue please create this on Community feature repository.
https://github.com/magento/community-features

[2020-07-09 04:52] #27278 closed, assigned to swathishs

[2020-07-09 04:54] #28448 closed, assigned to swathishs

[2020-07-09 04:58] swathishs commented on #28924
@magento give me 2.3.5-p1 instance

[2020-07-09 04:58] magento-engcom-team commented on #28924
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-09 04:59] magento-engcom-team commented on #28924
Hi @swathishs, here is your [Magento instance](https://i-28924-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28924-2-3-5-p1.instances.magento-community.engineering/admin_a72f](https://i-28924-2-3-5-p1.instances.magento-community.engineering/admin_a72f)
Login: `91398503` Password: `b36fbc3d9300`
Instance will be terminated in up to 3 hours.

[2020-07-09 05:44] rani-webkul commented on #29046
@ajijshekh123 did you checked the issue?

[2020-07-09 06:01] ajijshekh123 commented on #29046
@magento give me 2.4-develop instance

[2020-07-09 06:01] magento-engcom-team commented on #29046
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-09 06:14] hostep commented on #29046
Even if this is considered a bug, it might be not a good idea to change this, since a lot of Magento users will be used to this behavior and if this changes all of the sudden in a new version that might be very unexpected and cause a lot of harm.

Maybe a Product Owner should decide here first if this can be tackled or not?

Just my 2 cents 🙂

[2020-07-09 06:21] rani-webkul commented on #29046
@hostep did you mean it's not a bug right?

[2020-07-09 07:41] ajijshekh123 commented on #29046
@rani-webkul - I can't able to verify this issue right now because of there is some issue on Magento Instance.

[2020-07-09 08:14] IanFiretoys opened #29050 "Ability/checkbox to "use default value" for image attributes"
### Description (*)

As image attributes are rarely set to global scopes, they can become split off from default storeviews very easily (and for good reason, translation issues between multi-language sites, imperial vs metric measurements on swatches etc.) however once they are split there is no way to put them back short of deleting the row for certain attribute IDs from the database directly. th

[2020-07-09 08:47] raindropsinfotech opened #29051 "upload gif image for product"
### Preconditions (*)
Magento 2.4

### Steps to reproduce (*)

1. Create a product
2. Add some gif as an image to the created product
3. Fill in all required fields -> Save

### Expected result (*)
Gif is shown with animation not as an image not only in admin but in store view also

### Actual result (*)
Gif is shown as an image without animation
![Peek 2020-07-14 13-55](https://user-images.github

[2020-07-09 09:30] Parakoopa commented on #29040
Upon digging into this a bit more, it seems that my initial observations were incorrect. I also can't get this issue to reproduce anymore, I'll put some more testing into this and re-open if I find proper steps to reproduce.

[2020-07-09 09:30] #29040 closed, assigned to nobody

[2020-07-09 09:32] hostep commented on #29046
@rani-webkul, it might be a bug, I'm not sure. But if it's considered a bug we should be very careful to change this behavior as Magento users might rely on their previous knowledge about how it behaved. Therefore the opinion of the product owner would be appreciated here.

[2020-07-09 09:34] orbisunom commented on #18763
Just a quick input. on this problem and help others .. we are using amasty editor too so we try to install newly Magento 2.3.5 and migrate all product., order(Order, Invoice, Shipping)
the problem here is that Magento 1 have the same order, invoice, shipping number you need to update the sequence of

Magento 2

20200809 - any number or last order number from your Magento 1 site.
ALTER TABLE sequen

[2020-07-09 09:42] tropilex commented on #23938
Why is this not fixed yet? It's quite important that we/everyone send the legal credit invoices.

[2020-07-09 09:57] homecoded commented on #22344
@arnoutvreugdenhil  has done a good job and provided us with some mySQL queries to help us analyze the inconsistencies in the database that occurred when switching to single-store mode. In my DB I noticed that the most recent data in table  `catalog_product_entity_varchar` was stored in scope_id "1", while the data in the frontend came from scope_id "0". With table `catalog_product_entity_int` it

[2020-07-09 10:14] Coosos opened #29052 "Mass import - Bunch additional tag to cache context (too many / big requests varnish)"
### Preconditions (*)
1. Magento 2.3 (since 2.1.13) *Update: reproduced on 2.4*
2. Change re-index mode to save instead of schedule
3. Have an import file with more than 200 products

### Steps to reproduce (*)
1. In admin, import product file

### Expected result (*)
1. Invalidate the cache once of a product

### Actual result (*)
1. Addition of new products to invalidate in the cache context whi

[2020-07-09 10:41] Eddcapone commented on #29022
Why do I need to remove write permissions if my root folder is set to pub and we are not on shared hosting?

[2020-07-09 10:42] chrom commented on #29043
Will this functionality be in CE 2.4?

[2020-07-09 10:43] ihor-sviziev commented on #29022
@Eddcapone this is security recommendation, you could not follow it. The idea behind it - in case if in any installed extension will be found some remote code execution vulnerability - such code will not be able to write new php files in your file system.

[2020-07-09 10:51] krishprakash commented on #29048
Hi @Christianl2004. Feel free to reopen once you update all the necessary details to reproduce the issue
Thanks !!

[2020-07-09 10:51] #29048 closed, assigned to krishprakash

[2020-07-09 10:53] Christianl2004 commented on #29048
Hi Prakash, my dev team have just fixed the issue somehow but thank-you so
much for following up. Appreciate it.

On Thu, Jul 9, 2020 at 11:51 AM Prakash Prajapati <notifications@github.com>
wrote:

--
*Kind Regards,*
*Christian Louzado*
StockScamp
Founder & Managing Director
T: +44 (0)7908 646754

[2020-07-09 11:27] HenKun commented on #28943
This issue also arises, when the default store domain has a subfolder like `https://www.example.com/en-us/`.
Then in `_isUrlInternal()` the check fails because `https://www.example.com/admin/...` does not contain `https://www.example.com/en-us/`. It's the same reason.

[2020-07-09 11:28] dverkade opened #29055 "Create configurations: not all configurable attributes are visible"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-07-09 11:29] dverkade commented on #29055
@magento give me 2.3-develop instance

[2020-07-09 11:29] magento-engcom-team commented on #29055
Hi @dverkade. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-07-09 11:39] m2-assistant[bot] opened #29056 "[Issue] README > Removing extra space"
This issue is automatically created based on existing pull request: magento/magento2#28891: README > Removing extra space

---------
### Preconditions: (*)

I removed the extra space between the new logo and the badges, and I changed the logo alt from Magento to Magento Commerce as it's represented in the new logo.

**Steps to reproduce:**

Go to Readme.md

**Actual Result:** :heavy_multiplication

[2020-07-09 11:41] magento-engcom-team commented on #26676
Hi @salehawal, @odubovyk.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [76e011a981d2ab38e6d23763e55dd53c2859fbcf](https://github.com/magento/magento2/commit/76e011a981d2ab38e6d23763e55dd53c2859fbcf)

The fix will be available with the upcoming `2.4.1` release.

[2020-07-09 11:41] #26676 closed, assigned to odubovyk

[2020-07-09 11:51] krishprakash commented on #29055
Hi @dverkade.
Kindly provide all the details to reproduce the issue
Preconditions
Steps to Reproduce
Expected and Actual Result

[2020-07-09 11:58] joe5250 commented on #28102
Hello Guys,
already working on this issue.
Try following module; rules for CSP  are stored in DB
https://github.com/flancer32/mage2_ext_csp

[2020-07-09 12:03] TimonVS opened #29057 "Add price including tax to `CartItemPrices` in GraphQL API"
### Description (*)

I'd like to be able to show the price of an individual item including taxes. Currently, you can only retrieve the row total including tax or the price of an individual item excluding tax.

### Expected behavior (*)

Add a field `price_including_tax` to `CartItemPrices`:

[code]

### Benefits

Shopping carts usually show the price of an individual item including taxes, even the

[2020-07-09 12:16] dverkade commented on #29055
Hi @krishprakash

I created this ticket and assigned it to me so that I can check that this is reproducible on a clean Magento 2.3 instance. Please don't assign tickets to yourself which are assigned to someone else. Thanks!

[2020-07-09 12:27] krishprakash commented on #29055
Hi @dverkade. Thank you for your response !!
All details are necessary to verify any issue and as Quality Maintainer of community engineering that's my duty to follow the community guidelines

[2020-07-09 12:34] dverkade commented on #29055
Yeah, that's why it's assigned to me, because I need to verify it myself and create the description of it. Once I've verified and describe the issue it will be unassigned.

[2020-07-09 12:34] dverkade commented on #29055
@magento give me 2.3-develop instance

[2020-07-09 12:34] magento-engcom-team commented on #29055
Hi @dverkade. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-07-09 12:46] amandeep-singh9 commented on #10310
This was exactly the problem I was facing, Products were enabled but not for specific website which I added later on. Thank you so much.

[2020-07-09 13:00] arnoutvreugdenhil commented on #22344
@nadroj467 @homecoded

I found the cause for this in my particular case. This might prevent future occurence of this issue for you.

It was a CLI command that updates some product attributes.
Even if all your data in the database has store_id=0, an update through cli apparently defaults to store_id=1 and any update to a product added store_id=1 copies for the attributes.

I fixed it by adding `\Ma

[2020-07-09 13:06] homecoded commented on #22344
@arnoutvreugdenhil Interesting! Thanks for sharing.

Im my case it was silghtly different: We were doing initial product imports while in multi-store mode, and switched later to single-store mode. After the switch we did some last imports and then the customer took over and tried to edit everything in backend, which failed for some products. About a third of the 3000+ products were affected.

[2020-07-09 13:34] vnsinfo commented on #21385
Hi GuiltyNL
Did you find a solution to this ?

thanks

[2020-07-09 13:43] lionalex commented on #28211
in my magento 2.3.4 can I fixed the bug?

[2020-07-09 14:23] victortodoran opened #29059 "Error at reorder for order with no longer existing customer group id."
### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)

1. Fresh install
2. Create customer (via Admin Panel)
3. Create customer group
4. Associate customer (step 2) with recently created customer group (step3)
5. Place order for customer (step 2) (via Admin Panel)
6. Delete customer group (step 3)
7. Reorder order (step 5) (via Admin Panel)

### Expected result (*)

1. After deleting c

[2020-07-09 15:08] vasusundar opened #29060 "PaymentMethod If Discount cancel. When Discount Applies, No Payment"
### Preconditions (*)

1. Install Magento 2.3.5
2. Configure Cart Rule to apply discount in checkout page.
3. Enable Free Shipping Method and any 2 Payment Method.(COD, Check & Money Order)

### Steps to reproduce (*)

1. Product Total amount is $100. Shipping Method is Free. $0.00
2. Apply Discount coupon, then No Payment method will display, because total amount is $0.00
3. Cancel Discount coupo

[2020-07-09 15:24] GuiltyNL commented on #21385
Yes, our developers wrote a fix, it has something to do with the anchors in the 'Top Menu' because of that everything was chained together and everything was flushed.

[2020-07-09 17:22] TheTangro commented on #16107
@magento-engcom-team Problem is caused by the bug in Magento_Reviews (\Magento\Review\Block\Product\View\ListView::_prepareLayout). The code written in the given method depends on the Registry item. This method is called whenever the block is rendered or not; when the Registry item is missing, it causes an error when esi tags are not processed. Error persist on last github magento version

[2020-07-09 17:41] lbajsarowicz commented on #13128
@onlinebizsoft please submit Feature Request instead just like @magento-engcom-team mentioned.

[2020-07-09 18:18] ajijshekh123 commented on #29060
@magento give me 2.4-develop instance

[2020-07-09 18:18] magento-engcom-team commented on #29060
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-09 19:40] hostep commented on #13128
I don't think it's a feature request because I can confirm that backtraces were logged in the `exception.log` file in Magento 2.1.x shops. In 2.2.x and 2.3.x shops this no longer seems to happen.
So either this was changed on purpose or either it was broken due to a bug.

Can somebody else confirm this and does somebody else know what happened here?
We should probably re-open this ticket?

[2020-07-09 20:51] #29055 closed, assigned to krishprakash

[2020-07-09 20:59] dverkade opened #29063 "Create configurations: not all configurable attributes are visible"
### Preconditions
1. Magento 2.4-develop
2. Demo content should be installed.

### Steps to reproduce
1. Have a Magento store up and running with the demo store.
2. Create a new simple product and save it.
3. Click on the "Create configurations" button.
4. By default it will show 20 attributes per page and there are 6 records found. See screenshot below
5. Change the number of results per page to

[2020-07-09 21:21] vnsinfo commented on #21385
Hi There

Thanks for getting back. It would be a great help if you could point me to your developers as we have a similar problem and we are at a total loss about this.

Your help is much appreciated.

Kind Regards
Hemant

From: GuiltyNL <notifications@github.com>
Sent: Friday, 10 July 2020 1:25 AM
To: magento/magento2 <magento2@noreply.github.com>
Cc: vnsinfo <hemant@vnsinfo.com.au>; Comment <com

[2020-07-09 21:35] juanremi commented on #8957
i think the problem continue in Magento ver. 2.3.4

[2020-07-09 23:29] adityag186 opened #29065 "Magento 2.3.4 Advance Reporting Giving 404 Error"
### Preconditions (*)

    - Summary - Magento 2.3.4. Advance reporting is not working. It is enabled from the configuration. When I open the advance reporting tab it gives a 404 error. I have satisfied all requirements of advance reporting like public domain, memory, SSL, etc.
     - Magento 2.3.4, Nginx, MySQL 5.6
     - Login to Admin, Click on Advance Reporting
     - Expected Results - Advanc

[2020-07-10 01:26] jhonathan93 commented on #27655
@ncompass thank you my friend

[2020-07-10 07:18] thorrrr commented on #29020
Hi Guys
Mine is a vanilla install brand new M2 just moved over from M1 and saw the issue. I am amazed it has never been picked up before

[2020-07-10 07:25] m2-assistant[bot] opened #29067 "[Issue] Added missing aclResource attribute to Backend Header AdminNotification Toolbar Block"
This issue is automatically created based on existing pull request: magento/magento2#28343: Added missing aclResource attribute to Backend Header AdminNotification Toolbar Block

---------
### Preconditions: (*)
Admin notification toolbar entry (bell) is visible despite admin user does not have role resource permissions to see it.

### Steps to reproduce (*)
1. Create Admin Role with Resource Acce

[2020-07-10 08:08] robertbaum commented on #7967
yes I saw that the issue caused by the cache when someone opens the product from the search or from a custom widget the product page will be opened without category breadcrumbs and as well will be cached as it

[2020-07-10 08:58] YaninaPrudnikova opened #29068 "Impossible to purchase a downloadable/virtual product via multishipping checkout"
### Preconditions (*)

1. Magento CE/EE 2.3.5 with sample data is installed.

### Steps to reproduce (*)

1. Add a downloadable/virtual product and any product, requiring shipping (e.g. simple product) to cart
2. Check out with multiple addresses
3. Place the order
4. View the order in My Orders on Storefront

### Expected result (*)

1. The order contains all the details, the product without ship

[2020-07-10 10:48] matthew99 opened #29070 "catalogrule_apply_all locks indexer_reindex_all_invalid and keeps catalogsearch_fulltext constantly processing, hanging Cron Job"
### Preconditions (*)

1. Magento 2.3.5 in developer mode
2. php 7.2 elasticsearch 6.5, mysql 5.6, varnish, redis (also for sessions)(cloudways/digital ocean instance 4GB/2Core)
3. Mirasvit Elasticsearch Ultimate module
4. Crons configured correctly
5. 2 websites, total of 5 store views, about 1800 products

### Steps to reproduce (*)

1. Everyday at 0:00 catalogrule_apply_all is run (default). Or

[2020-07-10 10:53] ihor-sviziev commented on #29022
Hi @Eddcapone,

Thank you for your report. Looks like this issue already resolved, so I'm closing it. Feel free to ask questions if you have any

[2020-07-10 10:53] #29022 closed, assigned to ihor-sviziev

[2020-07-10 11:08] matthew99 commented on #29070
I can't test this on an instance because I can't install extension. Any hint or help is appreciated, as I have no clue what the initial cause is (be it a bug, or not).

[2020-07-10 12:00] cproboscht commented on #28472
Also having this issue in 2.3.5-p1.
Got second problem  which is according to this one: we have the issue, that free shipping is also calculated without tax #13392
we did not have this in 2.3.4-p2 and so we investigated changes:

found this:
vendor\magento\module-tax\Model\Sales\Total\Quote\CommonTaxCollector.php Line 596FF
       $address = $shippingAssignment->getShipping()->getAddress();

[2020-07-10 12:09] salehawal commented on #28985
well still the issue is present .. any idea where i should look for to fix it?

[2020-07-10 12:14] salehawal opened #29072 "Cart | Freezing for some customers"
### Preconditions (*)

1. magento 2.3
2. php 7.2

### Steps to reproduce (*)

1. login
2. add to cart or view cart

### Expected result (*)

1. item to be added to cart
2. cart to ve viewed

### Actual result (*)

1. app or web freez due to no response from server request

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment

[2020-07-10 12:16] salehawal commented on #29072
i did found a fix for this problem using the below SQL:

`UPDATE quote set is_active = 1 where is_active = 0;`

it works but the issue comes again and i keep fixing it forever, i can do this as a cron job to be run everyday but looking for more professional solution

[2020-07-10 12:23] gwharton commented on #28985
If you are a coder, then debug and step through the controller that is saving the value. If you aren't a coder, then perhaps you can setup a temporary copy of your website for testing purposes, and disable all third party modules and see if it then works. Re-enable them either one by one, or by group, until you find which module is stopping it from working. Do you have any modules installed that o

[2020-07-10 12:33] stupachenko opened #29073 "The default value for EAV attributes is not honored for existing products"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Navigate to Admin Panel > Catalog > Products and create a new simple product:
[code]
2. Navigate to Admin Panel > Stores > Attributes > Product and create a new attribute:
[code]
3. Navigate to Admin Panel > Stores > Attributes > Attribute Sets and add attribute to Default attribute set.
4. Navigate to Admin Panel > Cata

[2020-07-10 13:39] magento-engcom-team commented on #28693
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35787` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-10 13:44] rain2o commented on #12584
@craig-bartlett Thanks for the details you provided! I used the changes in the commit you linked to and pushed to my pull request. When testing in my local it seemed to work great. I'm going to do some more testing to make sure it still works in multiple environments.

[2020-07-10 14:13] vseager commented on #27490
We also have this issue on v2.3.4-p2

[2020-07-10 14:22] patrickpeng2091 commented on #4895
Mageplaza SMTP Plugin couldn't create any creditmemo.

[2020-07-10 14:35] patrickpeng2091 commented on #8309
Some email related plugins will cause this problem。

[2020-07-10 15:00] deepakwsofi commented on #28996
Hi @m2-assistant @krishprakash
![image](https://user-images.githubusercontent.com/11625124/87167046-09c0fd80-c2ea-11ea-9993-1b538ecea5f9.png)
![image](https://user-images.githubusercontent.com/11625124/87167140-24937200-c2ea-11ea-84d5-40ee617513f8.png)
![image](https://user-images.githubusercontent.com/11625124/87167222-455bc780-c2ea-11ea-8c03-be5ea88ba102.png)
![image](https://user-images.githubu

[2020-07-10 15:07] sushantvishwas1990 commented on #27309
Hi, @ajijshekh123  I was able to solve this issue you can follow what I have done.
1. Created a plugin that will override Magento core function by using etc/di.xml your di.xml looks like as following code.
`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\

[2020-07-10 15:07] munkhulzii opened #29074 "B2B Company Mutations - Create and Update Company"
### Description (*)
Partially solves https://github.com/magento/magento2/issues/28867

**Company mutations for B2B Company**
It should be possible to create and update company account via GraphQl.

**- createCompany**

Example query:
`mutation {
  createCompany(
    input: {
      company_name: "Company name"
      company_email: "company_email@example.com"
      legal_name: "Legal name"
      vat

[2020-07-10 15:13] munkhulzii commented on #28867
Company mutations will be splited into smaller parts.
I have created an issue for "Create and Update Company Mutation":  https://github.com/magento/magento2/issues/29074

[2020-07-10 15:14] munkhulzii commented on #29074
original ticket is: https://github.com/magento/magento2/issues/28867

[2020-07-10 15:55] munkhulzii commented on #29074
Current Development is pushed in branch: https://github.com/magento/partners-magento2b2b/tree/28867_graphql_company_mutations

[2020-07-10 16:35] pfdcdigital commented on #28614
Exactly the same issue re-produce on live site multi-website EE 2.3.2-p2,  is there any security patch?

[2020-07-10 17:04] VladimirZaets commented on #28871
Hi @TheRealHunzik. You tried to resolve the issue in the wrong way. The correct way it's set the plugin to Grid dataprovider, not for the controller. In that case, you will not need to check what the action type is and check is it OrderCollection.
The second mistake is that you write after plugin. In this case, you should set before plugin and add a condition to loading collection. In your case yo

[2020-07-10 17:04] #28871 closed, assigned to nobody

[2020-07-10 17:26] ajijshekh123 commented on #27309
Thanks for the Update @sushantvishwas1990 and Solution about the issue.

[2020-07-10 17:27] #27309 closed, assigned to edenduong

[2020-07-10 17:28] ajijshekh123 commented on #29060
@magento give me 2.4-develop instance

[2020-07-10 17:28] magento-engcom-team commented on #29060
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-10 19:26] Januszpl opened #29075 "Minicart product name - not covered cases"
### Preconditions (*)
Magento 2.3.5, 2.4

Related to: https://github.com/magento/magento2/pull/13802

### Steps to reproduce (*)

1. Add product with special characters to cart
2. remove ifnot condition (or trigger usage of it in other way) in template https://github.com/magento/magento2/blob/024625e61887a252df56f027e42347d20860b253/app/code/Magento/Checkout/view/frontend/web/template/minicart/ite

[2020-07-10 20:37] GrimLink opened #29076 "Gallery inside magnifier moves blocky"
### Preconditions (*)

The magnifier moves only when the cursor is leaving the magnifier area.
Causing a blocky movement.
This behavior only happens to the magnifier when the mode option is set to inside.

_Tested on a clean Magento 2.3.5 version._

### Steps to reproduce (*)

In the view.xml for any theme.
Enable the magnifier and set the mode to inside.

[code]

### Expected result (*)

A smooth

[2020-07-10 23:39] magento-engcom-team opened #29078 "[TEST] DO NOT TOUCH"

[2020-07-10 23:39] magento-engcom-team commented on #29078
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/B2B-708

[2020-07-11 04:36] salehawal commented on #28985
ok i will try this approach .. thanks

[2020-07-11 11:58] eakenbor opened #29079 "Magento 2.3.3 - freshly installed admin page is disabled and showing a spinner forever"
### Preconditions (*)

1.  Magento 2.3.3
2.  PHP 7.1
3. XAMPP on Windows 10 localhost

### Steps to reproduce (*)

After a fresh Magento 2.3.3 install, login to the admin dashboard.
I have tried the following workarounds but all failed:
[code]

[code]

### Expected result (*)

 I expect the admin page to be accessible and not disabled.

### Actual result (*)

There is a spinning element that appea

[2020-07-11 13:08] BTL-UG commented on #26333
Just a workaround but you can force the theme translations by using the frontend store emulation with the force param set to true. This way the translations are reloaded with the respective theme.

`$this->emulation->startEnvironmentEmulation($store, 'frontend', **true**);`

[2020-07-11 15:07] gwharton commented on #29079
Check browser developer tools console for error message and failed Ajax calls.

[2020-07-11 17:20] magento-engcom-team commented on #28829
Hi @pgrimaud. Thank you for your report.
The issue has been fixed in magento/magento2#28832 by @pgrimaud in 2.4-develop branch
Related commit(s):
 - [ae076d67f481df6093ccd603809de5c1b99c09eb](https://github.com/magento/magento2/commit/ae076d67f481df6093ccd603809de5c1b99c09eb)

The fix will be available with the upcoming 2.4.1 release.

[2020-07-11 17:20] #28829 closed, assigned to pgrimaud

[2020-07-11 17:20] magento-engcom-team commented on #29039
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28872 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [2ac710d04e4953c1c850567daa88a5e6d9e7cdb7](https://github.com/magento/magento2/commit/2ac710d04e4953c1c850567daa88a5e6d9e7cdb7)
 - [3deb545952d45c8b3f6f2c8948a537550a4fdb99](https://github.com/magento/magento2/commit/3deb545952d45c8b3f6f

[2020-07-11 17:20] #29039 closed, assigned to DmitryTsymbal

[2020-07-11 17:20] magento-engcom-team commented on #28968
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#26534 by @maqlec in 2.4-develop branch
Related commit(s):
 - [da04422fc81933c90a2769ecc47cf8cfb0a6d231](https://github.com/magento/magento2/commit/da04422fc81933c90a2769ecc47cf8cfb0a6d231)
 - [d88c8d8748b28b8cd4a4435435795be93a907ef6](https://github.com/magento/magento2/commit/d88c8d8748b28b8cd4a44354357

[2020-07-11 17:20] #28968 closed, assigned to nobody

[2020-07-11 19:20] magento-engcom-team commented on #23638
Hi @samuel-reinhardt. Thank you for your report.
The issue has been fixed in magento/magento2#28898 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [f9d4e0abb7d019b1745f9d85fd20927af1c22c42](https://github.com/magento/magento2/commit/f9d4e0abb7d019b1745f9d85fd20927af1c22c42)
 - [0ea00f04b8dab17c396d8248280fed9ab08e5230](https://github.com/magento/magento2/commit/0ea00f04b8dab17c396d

[2020-07-11 19:20] #23638 closed, assigned to engcom-Charlie

[2020-07-11 19:20] magento-engcom-team commented on #28969
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28812 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [fcb60426aa34cd92b88cbd2e994e52dc1adba7b3](https://github.com/magento/magento2/commit/fcb60426aa34cd92b88cbd2e994e52dc1adba7b3)
 - [03253e32852d298c7b5858f2d196d113246d0a3f](https://github.com/magento/magento2/commit/03253e32852d298c7b58

[2020-07-11 19:20] #28969 closed, assigned to DmitryTsymbal

[2020-07-11 19:20] magento-engcom-team commented on #29009
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28650 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [9104cb571ef4a41bd03cfaa8dc68b487ccb8946f](https://github.com/magento/magento2/commit/9104cb571ef4a41bd03cfaa8dc68b487ccb8946f)
 - [f1516ba52826d8b9a3c1c83538d8fa5bac90cb09](https://github.com/magento/magento2/commit/f1516ba52826d8b9a3c1c8353

[2020-07-11 19:20] #29009 closed, assigned to Usik2203

[2020-07-12 10:00] Appmerce commented on #27942
Same issue.

If I place a cms_page_view_selectable_home_LayeredNavigation.xml file under /vendor/magento/theme-frontend-luma/Magento_Catalog/layout/ -- the Custom Layout Update works. But if I place it under my custom theme (with luma as the parent theme), then it doesn't show up in Magento admin.

The select dropdown remains empty. Only "No update" visible. The file isn't recognized when I put it

[2020-07-12 22:26] jonaschen623 commented on #28154
confirm bug, with version 2.3.5-p1

http://***/customer/section/load/?sections=w%2Ci%2Cs%2Ch%2Cl%2Ci%2Cs%2Ct&_=1594592363309

decode = http://***/customer/section/load/?sections=wishlist&_=1594592363309

[2020-07-13 01:22] robocrax commented on #27244
SQL Table `eav_attribute` remove entries starting with `ts_` (or search for Temando)

https://magento.stackexchange.com/a/301103

[2020-07-13 04:16] ezzyloud commented on #28092
Any updates on this guys? It's the only thing stopping my new store.  Thank you

[2020-07-13 04:34] swathishs commented on #28985
Hi @salehawal, thank you for your report. I confirm that issue is not reproducible on the latest 2.4-develop branch and  Magento 2.3.5p1.
Hence closing the issue

[2020-07-13 04:34] #28985 closed, assigned to swathishs

[2020-07-13 04:53] siju-corra commented on #25933
@magento give me 2.4-develop instance

[2020-07-13 04:53] magento-engcom-team commented on #25933
Hi @siju-corra. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 05:53] swathishs commented on #29065
@adityag186 -Since the  issue is a duplicate of #24180
Hence moving this ticket to closed.

[2020-07-13 05:53] #29065 closed, assigned to swathishs

[2020-07-13 05:56] willtran opened #29082 "sales rule - incorrect discount_description when there are rules without label"
### Preconditions (*)
1. Magento 2.3.5-p1 and `2.4-develop`

### Steps to reproduce (*)
1. Add shopping cart price rule with Coupon code - with or without label. Example: Rule A - $25 off with coupon SAVE25
2. Add shopping cart price rules without coupon code - without label. Example: Rule B - $10 off entire site

### Expected result (*)
1. The order discount_description should show correct inform

[2020-07-13 06:00] nix0x00 opened #29083 "Magento 2.3.5-p1 Admin (Product/category/Pages etc) is BROKEN"
I just installed Magento 2.3.5-p1 with Sampledata and everything seems fine until I go to admin panel and view products page or category or pages etc. I get a blank page and errors in the log files. I am also unable to add new product and I see nothing but a blank as shown in the screenshots.

#### System.log

[code]

### Preconditions (*)

1. Magento 2.3.5-p1
2. Mysql  Ver 15.1 Distrib 10.2.32-Ma

[2020-07-13 06:04] willtran commented on #29082
The issue is at \Magento\SalesRule\Model\RulesApplier::addDiscountDescription

[code]
When a rule does not have label set for the current store. Magento will then check for description (only in 2.3.5). But if description field is also not set then it will use the addresss coupon code (which are not guaranteed to be from the rule being applied).

Since both `label` and `description` are non-require

[2020-07-13 06:31] drabikowy commented on #28742
@navarr regarding the patch you provided, will **let** actually work in ie11? 🤔  I think it should be **var** instead.
[code]

[2020-07-13 08:13] magento-engcom-team commented on #29059
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35806` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-13 08:24] zeekinfodev commented on #23950
Hi

anyone  how to fix this problem The invoice can't be saved at this time. Please try again later.

[2020-07-13 08:31] ghost opened #29084 "Magento not loading layout XML updates added to a subtheme of a global parent theme"
I have a Main Theme based on Magento/luma. It is correctly recognized. I configure it to be 'global' under the Admin > Content > Design > Configuration. I have created two websites. I want each website to have its own subtheme based on my Main Theme. I created subtheme1 and subtheme2. They are correctly recognized and I configure them for each website respectively under Admin > Content > Design Co

[2020-07-13 08:35] nordcomputer commented on #16069
I just created a small module to show the price of out-of-stock items based on [this answer](https://magento.stackexchange.com/a/298250/84488) at stackexchange.  Feel free to fork:
https://github.com/nordcomputer/magento2-showoutofstockprice

Composer install should work, if you add the repo to your dependencies. Be aware, that I set the required php version to "^7.1" - you may need to reconfigure

[2020-07-13 08:36] m2-assistant[bot] opened #29085 "[Issue] MFTF: Storefront Contact Us Form Submitting"
This issue is automatically created based on existing pull request: magento/magento2#29037: MFTF: Storefront Contact Us Form Submitting

---------
**Preconditions:**
This PR contains two MFTF tests for submitting "Contact Us" form on storefront.

**Steps to reproduce:**

1 - Navigate to "Contact Us" page

2 - Fill in all required fields with valid data

3 - Submit the form

**Expected Result:** Us

[2020-07-13 08:37] nordcomputer commented on #28068
I just created a small module to show the price of out-of-stock items based on [this answer](https://magento.stackexchange.com/a/298250/84488) at stackexchange.  Feel free to fork:
https://github.com/nordcomputer/magento2-showoutofstockprice

Composer install should work, if you add the repo to your dependencies. Be aware, that I set the required php version to "^7.1" - you may need to reconfigure

[2020-07-13 08:43] achleitner opened #29086 "Magento 2.4 instance"
Hello,
sorry if I'm not following the rules here but how can I get a dev instance to test something?

give me 2.4-develop instance

[2020-07-13 08:43] achleitner commented on #29086
@magento give me 2.4-develop instance

[2020-07-13 08:43] magento-engcom-team commented on #29086
Hi @achleitner. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 08:44] achleitner commented on #29086
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-07-13 08:44] magento-engcom-team commented on #29086
Hi @achleitner. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 08:56] magento-engcom-team commented on #29085
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35807` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-13 09:13] m2-assistant[bot] opened #29087 "[Issue] Remove duplicated var customer.name from email template"
This issue is automatically created based on existing pull request: magento/magento2#29054: Remove duplicated var customer.name from email template

---------

### Preconditions(*)

There are two customer.name variables (second is in line 13). One can be removed. I removed the first one as the same pattern appears in other email templates.
`/var/www/html/magento24/app/code/Magento/Customer/view/fr

[2020-07-13 09:20] achleitner commented on #29086
give me 2.4-develop instance

[2020-07-13 09:21] #29086 closed, assigned to nobody

[2020-07-13 09:22] oxochenxa opened #29088 "File js-translation.json is loaded slower or later than other javascript file which contains some texts need to translate so at this time translated texts still not push to storage."
Hello,

File js-translation.json is loaded slower or later than other javascript file which contains some texts need to translate so at this time translated texts still not push to storage. When the a.js is loaded it will be parsed and call translate function. translate function will look into storage then find text to translate. Because the translation text still not push to storage so translate

[2020-07-13 09:27] mhaack opened #29089 "GraphQL: category & categoryList query return wrong image url"
The `category` & `categoryList` query return wrong image URL on an upgraded instance (from 2.3.4 to 2.3.5).

For example - GraphQl result:

[code]
URL is wrong and resolves into 404. Correct URL should be without `/index.php` like `https://cif-enablement-s4n4tla-o24f6fbtz7p34.demo.magentosite.cloud/media/catalog/category/timeless.jpg`

### Preconditions (*)

1. Magento 2.3.5, upgraded from 2.3.4
2

[2020-07-13 09:28] achleitner commented on #29089
give me 2.4-develop instance

[2020-07-13 09:29] achleitner commented on #29089
@magento give me 2.4-develop instance

[2020-07-13 09:29] magento-engcom-team commented on #29089
Hi @achleitner. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 09:34] krishprakash commented on #29088
Hi @oxochenxa. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-07-13 09:34] #29088 closed, assigned to krishprakash

[2020-07-13 09:34] krzksz commented on #28742
@navarr The patch you posted is not correct and excessive. After analyzing the code, it would be sufficient to replace all `Object.entries` with `Object.keys` because we are only trying to figure out if said object is empty or not so the outcome would be the same.

[2020-07-13 09:52] 7865fug commented on #29060
@magento give me 2.4-develop instance

[2020-07-13 09:53] magento-engcom-team commented on #29060
Hi @7865fug. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 10:03] magento-engcom-team commented on #29087
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35809` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-13 12:13] complexthings commented on #28428
@pitbulk had this problem too, found the issue and created a PR: https://github.com/magento/magento2/pull/29081
`*` section reloading has been broken for a while.

[2020-07-13 12:22] complexthings commented on #28154
Fixed in PR: https://github.com/magento/magento2/pull/29081

[2020-07-13 12:25] complexthings commented on #28154
This happens when you get bad data in `mage-cache-storage-section-invalidation` in localStorage, usually triggered by a wildcard reload, which tries to load `*` as a section.  I have a PR that kinda of addresses this: https://github.com/magento/magento2/pull/29081

[2020-07-13 12:32] nadroj467 opened #29090 "Magento 2.3.5-p1 Stock import does not update stock status on frontend"
A configurable product with all its associated simple products marked as out of stock with 0 quantity. If stock is imported with just fields 'sku & qty' to bring all associated simple products in stock. The configurable product still shows out of stock on frontend.

### Preconditions (*)

1. Magento 2.3.5-p1
2. PHP 7.3.1
3. Varnish 6
4. Use Flat Catalog Category > No
5. Use Flat Catalog Product >

[2020-07-13 12:33] nadroj467 commented on #29090
@magento give me 2.3.5-p1 instance

[2020-07-13 12:33] magento-engcom-team commented on #29090
Hi @nadroj467. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-13 12:35] magento-engcom-team commented on #29090
Hi @nadroj467, here is your [Magento instance](https://i-29090-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-29090-2-3-5-p1.instances.magento-community.engineering/admin_b1ea](https://i-29090-2-3-5-p1.instances.magento-community.engineering/admin_b1ea)
Login: `e56803d5` Password: `3f5e48b423f3`
Instance will be terminated in up to 3 hours.

[2020-07-13 12:41] nadroj467 commented on #29090
I am able to replicate the issue on provided Magento 2.3.5-p1 instance

[2020-07-13 12:46] engcom-Delta commented on #29079
Hello @eakenbor
According to the [Magento requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements-tech.html)
Also Magento recommends using PHP 7.3

But you can use a [Virtual Machine](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/build/optimal-dev-environment.html) and then use Magento as usual.
So I close it.
Thanks for your report!

[2020-07-13 12:46] #29079 closed, assigned to engcom-Delta

[2020-07-13 13:09] magento-engcom-team commented on #26693
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35812` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-13 13:37] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-07-13 13:37] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 13:44] engcom-Delta commented on #29052
Hello @Coosos
Could you provide more details for reproduce this issue?
Please add a screenshot with error and an import file with more than 200 products
Thank you!

[2020-07-13 14:10] engcom-Delta commented on #28837
Hello @paul-gene
Thank you for contribution and collaboration!

This is related with Braintree is third party extension and not included in magento EE by default.
Please refer to the [Braintree support](https://help.braintreepayments.com/), for advice or general discussion about this issue.

So I have to close this issue.
Thanks for your report!

[2020-07-13 14:10] #28837 closed, assigned to engcom-Delta

[2020-07-13 14:18] AndreyChorniy commented on #26880
Hey @rigroweb,
Are you have any progress with this issue?
I have a similar problem with Klarna payment.
The customer receives an email about the success order, and the transaction is created on Klarna side (I can see this one in Klarna merchant account), but the order is absent in Magento.

[2020-07-13 14:31] engcom-Delta commented on #28671
Hello @smoi
Thank you for contribution and collaboration!

This is related with Braintree is third party extension and not included in Magento by default.
Please refer to the [Braintree support](https://help.braintreepayments.com/), for advice or general discussion about this issue.

So I have to close this issue.
Thanks for your report!

[2020-07-13 14:56] engcom-Delta commented on #28574
Hello @vini1996
Have you tried switching to php 2.3 version and reinstall Magento?
The result is the same?

[2020-07-13 14:57] pmarjan opened #29092 "B2B Company Mutations - Create, Update and Delete Team"
### Description (*)
Partially solves https://github.com/magento/magento2/issues/28867

**B2B Company Mutations - Create, Update and Delete Team**

### Linked Pull Request(s)
Outdated PR: https://github.com/magento/partners-magento2b2b/pull/177

Curent PR https://github.com/magento/partners-magento2b2b/pull/229

### Expected behavior (*)

### Benefits

### Additional information

[2020-07-13 15:01] chequille commented on #29005
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-07-13 15:01] magento-engcom-team commented on #29005
Hi @chequille. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 15:05] pmarjan opened #29093 "B2B Company Mutations - Create, Update and Delete Company User"
### Description (*)
Partially solves https://github.com/magento/magento2/issues/28867

Create, Update and Delete Company User

### Expected behavior (*)

### Benefits

### Additional information

[2020-07-13 15:07] pmarjan opened #29094 "B2B Company mutations - Create, Update and Delete Company Role"
### Description (*)
Partially solves https://github.com/magento/magento2/issues/28867

### Linked PR
https://github.com/magento/partners-magento2b2b/pull/195

Create, Update and Delete Company Role

### Expected behavior (*)

### Benefits

### Additional information

[2020-07-13 15:08] pmarjan opened #29095 "B2B Company mutations - Update company hierarchy"
### Description (*)
Partially solves https://github.com/magento/magento2/issues/28867

Update company hierarchy

### Expected behavior (*)

### Benefits

### Additional information

[2020-07-13 15:11] chequille opened #29096 "Contact Email not send to the store email address"
### Preconditions (*)

1. Magento 2.3.5-p1

### Steps to reproduce (*)

1. Using contact standard form to send a email to the store owner from frontend
2. URL: domain/contact

### Expected result (*)

1. The email should be sent to store owner (EMail address set in General Email Address I think)

### Actual result (*)

1. Email is only sent to the email address customer is giving in the contact fo

[2020-07-13 15:12] engcom-Delta commented on #29072
Hi @salehawal
Unfortunately, I'm not able to reproduce issue by steps you described on clean 2.4-develop

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch.
Thank you for collaboration.

[2020-07-13 15:12] #29072 closed, assigned to engcom-Delta

[2020-07-13 15:38] m2-assistant[bot] opened #29097 "[Issue] Complex message added for add to cart success message"
This issue is automatically created based on existing pull request: magento/magento2#27977: Complex message added for add to cart success message

---------

**Preconditions:**

1. Have at least 1 simple product;
2. Create a new customer;
3. One created order;

**Steps to reproduce:**

1. Add the product to cart from the customer account sidebar (**_Recently ordered product)_**

**Actual Resut:**

[2020-07-13 15:39] m2-assistant[bot] opened #29098 "[Issue] ui select list visible even though it is disabled"
This issue is automatically created based on existing pull request: magento/magento2#27896: ui select list visible even though it is disabled

---------

**Preconditions:**

Magento 2.4-develop

This PR fixes the following bug,
If we disable the UI select component by using this.disabled(true). still its options are visible when we click it. please see the below image for reference.

**Steps to re

[2020-07-13 15:53] Serializator commented on #29096
Hi @chequille,

I wasn't able to reproduce the issue.

I locally used an empty Magento 2.3.5-p1 installation to try and reproduce the issue. I did this locally so that I could use MailHog to verify the e-mail was sent.

When I submitted the contact form and checked MailHog I saw that the e-mail was successfully sent from Magento.

**To:** hello@example.com ("Stores > Configuration > General > Cont

[2020-07-13 17:06] chequille commented on #29096
Hi,
yes this is correct, it is sent to the email address which you type in the contact form, but it is not sent to custom2@example.com.

The contact form is a requiry to the shop and of course the shop should get this inquiry as well and not only the visitor on the webpage.

Is it clear now?

[2020-07-13 17:08] chequille commented on #29096
WIth other words.
Two emails must be sent by this.

One as a kind of confirmation to the user filling the form with his request and the second one must go the the shop people to be able to take care about this request.

And exactly the second email to the shop stuff is not sent.

[2020-07-13 17:31] adityag186 commented on #29065
Hi @swathishs ,

This issue has not been resolved. I have tried it in Magento 2.3.5 according to magento documentation for advance reporting but it still does not work. We have a single currency store on a public url, we have waited several days, cron is running. We have satisfied all documentation for advance reporting but it still does not work
Please assist.

[2020-07-13 17:50] Serializator commented on #29096
Hi @chequille,

"it is sent to the email address which you type in the contact form", this is false. "hello@example.com" is the e-mail configured under "Stores > Configuration > General > Contacts > Send Emails To", not the e-mail which was submitted by the user.

Looking at the implementation of the form submission I can't say that it is expected to send two e-mails (the e-mail to the store owner

[2020-07-13 18:29] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-07-13 18:29] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 18:34] VladimirZaets commented on #12225
Hi @erjenrijnders . Thanks for collaboration. This issue was reviewed on Community Contribution Triage meeting. The recording of the meeting you can look by the [link](https://www.youtube.com/watch?v=ce2JOgB2NbQ&list=PLDvMskiz68Q2BLkj0-xzjuFl7ZVti9Quj&index=3&t=0s)

[2020-07-13 18:35] VladimirZaets commented on #29097
Hi @ajithkumar-maragathavel . Thanks for collaboration. This issue was reviewed on Community Contribution Triage meeting. The recording of the meeting you can look by the [link](https://www.youtube.com/watch?v=ce2JOgB2NbQ&list=PLDvMskiz68Q2BLkj0-xzjuFl7ZVti9Quj&index=3&t=0s)

[2020-07-13 18:36] VladimirZaets commented on #29098
Hi @Mohamed-Asar  . Thanks for collaboration. This issue was reviewed on Community Contribution Triage meeting. The recording of the meeting you can look by the [link](https://www.youtube.com/watch?v=ce2JOgB2NbQ&list=PLDvMskiz68Q2BLkj0-xzjuFl7ZVti9Quj&index=3&t=0s)

[2020-07-13 18:36] VladimirZaets commented on #26214
Hi @lbajsarowicz  . Thanks for collaboration. This issue was reviewed on Community Contribution Triage meeting. The recording of the meeting you can look by the [link](https://www.youtube.com/watch?v=ce2JOgB2NbQ&list=PLDvMskiz68Q2BLkj0-xzjuFl7ZVti9Quj&index=3&t=0s)

[2020-07-13 18:37] VladimirZaets commented on #26976
Hi @prashantbarot  . Thanks for collaboration. This issue was reviewed on Community Contribution Triage meeting. The recording of the meeting you can look by the [link](https://www.youtube.com/watch?v=ce2JOgB2NbQ&list=PLDvMskiz68Q2BLkj0-xzjuFl7ZVti9Quj&index=3&t=0s)

[2020-07-13 19:16] mtjweb opened #29099 "Assigned categories not showing"
### Preconditions (*)

1. Magento 2.3.5-p1, also showed in 2.3.5 but upgraded to be sure it didn't solve the problem.

### Steps to reproduce (*)

1. Catalog => Products
2. Open an existing product

### Expected result (*)

1. Showing assigned categaries in field Category ID

### Actual result (*)

1. Field Category ID is empty
2. When I check the assigned category under Catalog => Categories, the

[2020-07-13 19:42] m2-assistant[bot] opened #29100 "[Issue] [Forwardport] Fix "Required parameter 'theme_dir' was not passed" error when emulating an environment inside an emulated area"
This issue is automatically created based on existing pull request: magento/magento2#19287: [Forwardport] Fix "Required parameter 'theme_dir' was not passed" error when emulating an environment inside an emulated area

---------
### Original pull request
#17344

### Description
Environment emulation inside an area emulation returns the error "Required parameter 'theme_dir' was not passed". The cla

[2020-07-13 20:30] sdzhepa commented on #19241
Hello @vajadharmesh
fyi: @mautz-et-tong

The internal team is working on this issue right now. In the scope of `MC-35707`.
Fix will be delivered through internal Pull Request

[2020-07-13 20:55] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-07-13 20:55] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 21:00] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-07-13 21:00] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 21:05] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-07-13 21:05] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 21:11] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-07-13 21:11] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-13 21:13] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_9e47](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_9e47)
Login: `06d2546c` Password: `2fc4174245cc`
Instance will be terminated in up to 3 hours.

[2020-07-13 22:26] sdzhepa opened #29118 "[B2B] Admin should not be able Login as Customer, if customer has status= inactive"
it is B2B specific issue see more in [DOC](https://docs.magento.com/user-guide/customers/customer-account-manage.html#set-activeinactive)

### Preconditions (*)
1. Use b2b functionality and create a customer with status = Inactive. e.g Company Admin

### Steps to reproduce (*)
1. Login to Admin Panel
2. Open Customer->All Customers
3. Open test customer edit page
4. Click "Login as Customer" butto

[2020-07-13 22:31] nadroj467 commented on #26692
Hi,

Having some trouble applying this patch in Magento 2.3.5-p1

We have only one file in this directory
**public_html/lib/internal**/Magento/Framework/DB/Adapter/TableNotFoundException.php

We have the remainder of the files in the below directory (vendor)

**public_html/vendor**/magento/framework/DB/Adapter

In Pdo/Mysql.php as per patch
There is addition of path to
use Magento\Framework\DB\Ada

[2020-07-14 02:47] nix0x00 commented on #29083
@magento give me 2.2.5-p1-develop instance

[2020-07-14 02:47] magento-engcom-team commented on #29083
Hi @nix0x00. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` and `2.4` release line

[2020-07-14 02:47] nix0x00 commented on #29083
@magento give me 2.3.5-p1-develop instance

[2020-07-14 02:48] magento-engcom-team commented on #29083
Hi @nix0x00. Thank you for your request. I'm working on Magento 2.3.5-p1-develop instance for you

[2020-07-14 04:26] prabhakaran777 opened #29123 "Not getting correct label value of yes or no (Boolean) type attribute in aggregations data of products GraphQl response"
### Preconditions (*)

1.Magento 2.3.4 and 2.4-develop
2.Product attribute Yes or No (Boolean)

### Steps to reproduce (*)

1.Product attribute Yes or No (Boolean)
2.Create product with Yes or No attribute
3.Run Product query with aggregations

### Expected result (*)

1. Expected Result with aggregation that attribute label

{
          "attribute_code": "yes_no",
          "label": "Yes or no",

[2020-07-14 05:01] nix0x00 commented on #29083
@magento give me 2.3.5-p1-develop instance

[2020-07-14 05:01] magento-engcom-team commented on #29083
Hi @nix0x00. Thank you for your request. I'm working on Magento 2.3.5-p1-develop instance for you

[2020-07-14 07:03] muthu-ziffity commented on #25933
@lbajsarowicz Thanks for reviewing my PR( https://github.com/magento/magento2/pull/29091 ). I will update those mentioned changes and let you know to check again

[2020-07-14 07:18] leo-leung commented on #22554
You can update option, but you need to mention the "option id" which has the field key "value".

Endpoint:   PUT /rest/all/V1/products/attributes/[your attribute code]

....[in your body json]
"options": [
        {
          "label": "Easy to detach",
          "value": "19013",
}]

After called, go back to your Magento backend, you will see the option is updated but not created.

[2020-07-14 07:53] engcom-Delta commented on #29104
:heavy_check_mark: Done
PR https://github.com/magento/magento2-login-as-customer/pull/107

[2020-07-14 07:53] #29104 closed, assigned to nobody

[2020-07-14 08:14] engcom-Delta commented on #29103
:heavy_check_mark: Done
PR https://github.com/magento/magento2-login-as-customer/pull/107

[2020-07-14 08:14] #29103 closed, assigned to engcom-Delta

[2020-07-14 10:09] iovistainc opened #29124 "Magento 2.3.5 - Configurable product detail page showing blank page on frontend if product have 1000+ associate products."
### Preconditions (*)

1. Magento Version:2.3.5-p1
2. MySQL 5.7
3. Apache Webserver
4. Elasticsearch engine 7.x

### Steps to reproduce (*)

1. Create Configurable Product and add more then 1000+ associate simple/virtual products.
2. Go to Product detail page for that product.

### Expected result (*)

1. Product details page showing properly with all options.

### Actual result (*)

1. Blank prod

[2020-07-14 10:37] speedupmate opened #29125 "js-translation.json only digests phrases that are set on $|jQuery as jquery variable and not when requirejs defines something else for jquery"
### Preconditions (*)

1. affected version  2.3 , 2.4

### Steps to reproduce (*)

1. add any localisation to a js file where jquery is assigned to any other variable named $ or jQuery (for example jquery or any random string developers imagine) . For example  change  $.mage.__('phrase to localise'),  jquery.mage.__('phrase to localise'),
2. add a string to locale file either in module or in theme

[2020-07-14 10:46] mack4hack opened #29126 "REST API : Search Criteria Filters not working for Product Repository GetList"
### Description
SearchCriteria filters not working on a Product Attribute which is used while creating a Configurable Product.
Visibility filter applied to show only Visible products in product list.

### Preconditions (*)
1. Magento 2.4
2. Enable 'Allow Anonymous Guest Access' from Store -> Configuration -> Services -> Magento Web API

### Steps to reproduce (*)
1. **Create a Configurable Product

[2020-07-14 11:02] engcom-Lima commented on #29051
Hello @raindropsinfotech @sdzhepa
This issue looks like a feature request.
@sdzhepa could you transfer this issue to the Feature requests repository?
Thanks for your collaboration!

[2020-07-14 11:04] RanjitBShinde commented on #29126
@magento give me 2.4-develop instance

[2020-07-14 11:04] magento-engcom-team commented on #29126
Hi @RanjitBShinde. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-14 11:06] magento-engcom-team commented on #29126
Hi @RanjitBShinde, here is your [Magento instance](https://i-29126-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29126-2-4-develop.instances.magento-community.engineering/admin_aba9](https://i-29126-2-4-develop.instances.magento-community.engineering/admin_aba9)
Login: `095533f1` Password: `1fafce6de901`
Instance will be terminated in up to 3 hours.

[2020-07-14 12:51] RanjitBShinde commented on #29126
The issue is reproducible in Magento 2.4 develop instance

Please find the attachment below

![Screenshot from 2020-07-14 17-45-41-1](https://user-images.githubusercontent.com/16210367/87427661-c2df4a80-c5fe-11ea-8d39-d34cec29a4e1.png)
![Screenshot from 2020-07-14 17-45-54](https://user-images.githubusercontent.com/16210367/87427664-c4a90e00-c5fe-11ea-8edd-63409e17fe12.png)
![Screenshot from 2020-

[2020-07-14 13:19] adeptofvoltron opened #29128 "Magento\Authorization\Model\ResourceModel\Rules missing update method"
Basically in [Rules Model](https://github.com/magento/magento2/blob/fa6d291646b1ca0ebc0ebd3798ec8aaae634d486/app/code/Magento/Authorization/Model/Rules.php#L61) is used "update" method from the resouceModel. However it was never declared in [Rules Resource Model](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Authorization/Model/ResourceModel/Rules.php)

### Preconditions (*

[2020-07-14 13:20] adeptofvoltron commented on #29128
Easiest way to remove an issue? remove `\Magento\Authorization\Model\Rules::update`, probably no module use it as far as it is broken anyway.

[2020-07-14 13:46] engcom-Lima commented on #28025
Hello @orbisunom
Unfortunately, I'm not able to reproduce issue by steps you described. I use Php 7.3

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-07-14 13:46] #28025 closed, assigned to engcom-Lima

[2020-07-14 13:51] Sartoric opened #29129 "Guest cart - can't populate street fields with custom address"
### Summary (*)

I'm trying to programmatically set the address values for a guest cart, in order to proceed to the billing step.
Unfortunately it seems that street address is not refreshed even if the data are there.

Maybe I'm missing something, maybe it's a bug

### Examples (*)

In my custom component

[code]

**addressData** is something like

let addressData = {
                        regio

[2020-07-14 13:55] engcom-Lima commented on #27056
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-07-14 13:55] magento-engcom-team commented on #27056
Hi @engcom-Lima. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-14 13:57] magento-engcom-team commented on #27056
Hi @engcom-Lima, here is your [Magento instance](https://i-27056-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27056-2-4-develop.instances.magento-community.engineering/admin_21bd](https://i-27056-2-4-develop.instances.magento-community.engineering/admin_21bd)
Login: `6ab59db0` Password: `395c3f20e735`
Instance will be terminated in up to 3 hours.

[2020-07-14 14:06] engcom-Lima commented on #27056
Hello @SmooreMB
Have you change the Base Url recently?
After starting cron the issue remains?

[2020-07-14 14:45] sasha19957099 commented on #29094
@magento I'm working on this

[2020-07-14 14:47] sasha19957099 commented on #28867
@magento I'm working on this

[2020-07-14 14:59] xmav commented on #13961
DevDocs updated with examples on when to use different authorization methods: https://devdocs.magento.com/guides/v2.3/get-started/authentication/gs-authentication.html#web-api-clients-and-authentication-methods

[2020-07-14 14:59] #13961 closed, assigned to nobody

[2020-07-14 15:06] lbajsarowicz opened #29130 "DataPatch / SchemaPatch - Missing dependencies / aliases validation"
### Summary (*)
Magento 2.4-develop

When you forget to implement `return []` for your dependencies of a patch, you receive generic error message that actually does not provide any specific information about the issue you encountered.
[code]

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) a

[2020-07-14 15:27] agrohs commented on #1365
What is the endpoint for it??

[2020-07-14 15:39] sportmma opened #29131 "Integrated Magento xml/csv"
How better to send products to magento 2? By using the API through a external application that only sends parameters that have changed when updating products to magento? Or by xml/csv? My xml file updates every 15 minutes. Is Magento more overloaded when updating via xml/csv than with an external application? Are the parameters that have changed only updated? Ultimately, Magento will be connected

[2020-07-14 16:51] engcom-Lima commented on #27995
Hello @ShelburneCountryStore
Unfortunately, I'm not able to reproduce issue by steps you described on 2.4-develop and 2.3.5-p1.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-07-14 16:51] #27995 closed, assigned to engcom-Lima

[2020-07-14 16:54] davidalger commented on #28729
The `2.4.0-beta2` release resolves this issue. Doesn't look like the commit is published, but the change was as follows:

[code]

[2020-07-14 16:56] engcom-Lima commented on #28759
@Ibensh ,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-07-14 16:56] #28759 closed, assigned to engcom-Lima

[2020-07-14 17:05] nix0x00 commented on #17310
I confirm, this issue exists in **Magento 2.3.5-p1**.

[2020-07-14 17:24] bas24 opened #29132 "404 error getting product"
### Summary (*)

Hi,
Have some lines in stripe logs which have problems to debug.

200 OK    POST   /v1/products   7/14/20, 12:50:06
200 OK    DELETE    /v1/products/prod_He9d4RyWqaIzLX    7/14/20, 12:50:06 PM
404   GET /v1/products/prod_He9d4RyWqaIzLX  7/14/20, 12:50:07 PM

As I understand plugin creates temporaly the product for cart, but delete it in a moment, than trying to get created product

[2020-07-14 17:28] sdzhepa commented on #28967
Hello @iovistainc
fyi: @swathishs

After review in the internal Jira I found next
1. This issue has been fixed for the 2.3.x release line in the scope of `MC-33502`. The fix has been tested and delivered into `2.3-develop` branch (not available on a public, its private/internal branch). Target release line for this fix is **2.3.6**
2. The fix has been ported for 2.3.x release line in the scope of

[2020-07-14 17:28] #28967 closed, assigned to nobody

[2020-07-14 17:36] ajijshekh123 commented on #29060
@magento give me 2.4-develop instance

[2020-07-14 17:36] magento-engcom-team commented on #29060
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-14 17:38] magento-engcom-team commented on #29060
Hi @ajijshekh123, here is your [Magento instance](https://i-29060-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29060-2-4-develop.instances.magento-community.engineering/admin_5753](https://i-29060-2-4-develop.instances.magento-community.engineering/admin_5753)
Login: `cf90c5ca` Password: `69eff9871329`
Instance will be terminated in up to 3 hours.

[2020-07-14 17:49] engcom-Lima commented on #28753
Hello @Eddcapone
Do you have access to the Command Line?
If don't than refer to your host support.

According to the [magento documentation](https://docs.magento.com/user-guide/system/web-setup-wizard.html):

[2020-07-14 18:01] engcom-Lima commented on #27302
Hello @lionelbui
Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of magento. Because I checked on 2.3.4 and 2.3.5-p1 and cannot reproduce the issue.
Besides the Web Setup Wizard is being deprecated in Magento 2.3.6 and will be removed in Magento 2.4.0.

Thank you!

[2020-07-14 18:01] daweedco commented on #7298
still have the issue also , magento 2.3.3

[2020-07-14 18:06] ajijshekh123 commented on #29060
Hello @vasusundar,
I have followed your steps to be reproduced, actual result and expected result but not able to reproduce this issue on Default Magento 2.4 Instance.
It is stuck for a few seconds but after a few seconds its working fine.
See attached the video and screenshot:

![Checkout](https://user-images.githubusercontent.com/24711761/87460553-abb65200-c62a-11ea-96c7-4265f1381dcf.png)

![Unt

[2020-07-14 18:20] ajijshekh123 commented on #29046
@rani-webkul - I have verified this issue as per your steps, expected result and actual result. After 24 hours, The code is not accepted and it's showing an error like "The coupon code isn't valid. Verify the code and try again."
@rani-webkul - Can you please update me about the cart rule details?

Thanks

[2020-07-14 18:32] magento-engcom-team commented on #29014
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35858` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-14 19:01] ajijshekh123 commented on #28987
Hello @giantdev,
I have verified this issue with Steps to be reproduced, Actual result and Expected result.
Not reproduce this issue.
Please provide me video if you have.

Thanks.

[2020-07-14 19:36] magento-engcom-team commented on #26852
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35859` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-14 21:21] maghamed commented on #26184
hey @nagrgk,
the main reason why we have dynamically generated `search_tmp` table is the way how Magento search works right now, and in particular that internally our Search API returns the only IDs of matched documents, but not documents by themselves.

The simplified algorithm is quite simple.

1. User makes request specifying needed filters and providing search phrase
2. Magento builds either M

[2020-07-14 21:26] cpartica commented on #26108
@TomashKhamlai I am afraid we have to close this issue as not a bug, You have to read locale from the storeConfig and convert the data, as we don't format the date anywhere in GQL

[2020-07-14 21:26] #26108 closed, assigned to nobody

[2020-07-14 21:59] sdzhepa commented on #28246
It seems the issue is not actual anymore and was a reason of miss configuration.

[2020-07-14 21:59] #28246 closed, assigned to nobody

[2020-07-14 22:46] sarjangautam commented on #13952
Hi,
We are getting this issue in our production with Magento2 Enterprise 233. After investigating the issue we were able to replicate this in our local and this is happening in below scenarios:
1. Customer clicks place order order button in checkout page.
2. Payment is accepted/taken by payment providers (Cybersource, Paypal etc)
3. Once response is received from payment provider, magento quote ma

[2020-07-15 02:33] Lach1222 opened #29136 "Magento 2 query piling up"
I'm not sure if this error is only related to our site and configuration, but our site currently crashes once maintenance mode is disabled as a result of 1 query piling up and using all available php-fpm children processes until the site is unreachable

The query is the following

`SELECT COUNT(DISTINCT e.entity_id) FROM `catalog_product_entity` AS `e`
 INNER JOIN `catalog_category_product_index_s

[2020-07-15 03:49] huykon commented on #26119
@tdgroot  @sanjay-github  I tried your code but the images response are placeholder image

[2020-07-15 04:19] sarbjeet-cmsDev commented on #24571
I had same issue(on category page, on click swatch images were not changing )
I found my custom theme etc/view.xml was missing
<image id="product_swatch_image_large" type="image">
                <width>320</width>
                <height>270</height>
            </image>
            <image id="product_swatch_image_medium" type="thumbnail">
                <width>320</width>
                <heigh

[2020-07-15 04:45] krishprakash commented on #29132
Hi @bas24. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-07-15 04:45] #29132 closed, assigned to krishprakash

[2020-07-15 04:48] krishprakash commented on #29131
Hi @sportmma. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-07-15 04:48] #29131 closed, assigned to krishprakash

[2020-07-15 05:37] iphigenie commented on #28183
@magento give me 2.4-develop instance

[2020-07-15 05:37] magento-engcom-team commented on #28183
Hi @iphigenie. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-15 05:39] magento-engcom-team commented on #28183
Hi @iphigenie, here is your [Magento instance](https://i-28183-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28183-2-4-develop.instances.magento-community.engineering/admin_bfb2](https://i-28183-2-4-develop.instances.magento-community.engineering/admin_bfb2)
Login: `895943ce` Password: `10a6cdd548f8`
Instance will be terminated in up to 3 hours.

[2020-07-15 06:06] rostyslav-hymon commented on #13114
The issue caused by the limit in php variable "max_input_vars" and can be
resolved through increment it. For example current issue is fixing by adding
the line in node <IfModule mod_php7.c> in .htaccess:
php_value max_input_vars=10000

[2020-07-15 06:25] iphigenie commented on #28183
Reproduced using the "my color" attribute

Different attribute option label values:

![documenting1](https://user-images.githubusercontent.com/1055826/87510618-ce1c8f80-c66b-11ea-8c4a-6ff4fad1ce07.PNG)

Product admin correctly uses the admin value:

![documenting3](https://user-images.githubusercontent.com/1055826/87510687-ef7d7b80-c66b-11ea-9ba0-cff6c0b2db05.PNG)

Grid uses default site view valu

[2020-07-15 06:33] magento-engcom-team commented on #28183
Hi @iphigenie. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-15 06:34] magento-engcom-team commented on #28183
Hi @iphigenie, here is your [Magento instance](https://i-28183-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28183-2-4-develop.instances.magento-community.engineering/admin_fcf2](https://i-28183-2-4-develop.instances.magento-community.engineering/admin_fcf2)
Login: `70ca139b` Password: `3cbafb5fb1aa`
Instance will be terminated in up to 3 hours.

[2020-07-15 06:58] dev-ajaysaini opened #29138 "Unable to synchronize all media files because sync process run only of 5 minutes."
Unable to sync. media files if media directory contain very much media files (checked with 5GB media contains approx 30,000 files).

It is working fine with less media.

When sync start it runs exactly for 5 minutes because of Flag Time https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/MediaStorage/Model/File/Storage/Flag.php#L43

https://github.com/magento/magento2/blob/2.4-de

[2020-07-15 08:02] Appmerce commented on #29084
Additional info: this presumably has something to do with a multi-domain setup. When I install a new site with all websites on a single domain, there's no problem. But if I split the websites accross separate domain (single Magento install), I get the aforementioned problem.

[2020-07-15 08:22] Garusch opened #29141 "Magento 2.2.3 Bundle Product SOAP catalogProductRepositoryV1GetList Parsing Error"
### Preconditions (*)

1. Magento 2.2.3
2. Create Bundle Product with Dynamic Pricing

### Steps to reproduce (*)

1. Do SOAP Request "catalogProductRepositoryV1GetList", to get all Products

### Expected result (*)

1. I would expect to get all products as a result

### Actual result (*)

1. I get an error in deserializing body of reply message for operation "catalogProductRepositoryV1GetList"
2.

[2020-07-15 09:32] Eddcapone commented on #29022
@ihor-sviziev I don't see any change, can you reference to the issue which resolved this?

[2020-07-15 09:33] Eddcapone commented on #28753
Yes I have access to the command line.

[2020-07-15 09:52] ihor-sviziev commented on #29022
I mean that it’s not an issue as it’s security recommendation, you could
just not follow it. We could update docs if it’s not clearly described in
docs, but it have to be reported in devdocs repo

On Wed, 15 Jul 2020 at 12:32, Eddcapone <notifications@github.com> wrote:

[2020-07-15 10:28] m2-assistant[bot] opened #29145 "[Issue] MFTF: Enabling Email To Friend Functionality. Assert Options"
This issue is automatically created based on existing pull request: magento/magento2#29042: MFTF: Enabling Email To Friend Functionality. Assert Options

---------
**Preconditions:**
This PR with a test that Enables Email To A Friend Functionality in Admin Panel

**Steps to reproduce:**

1 - Login to admin
2 - Enable Email To A Friend Functionality
3 - Navigate to Stores->Configuration->Catalog->E

[2020-07-15 11:16] magento-engcom-team commented on #29145
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35894` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-15 11:31] engcom-Lima commented on #28671
Hello @smoi
Could you provide more details for reproduce this issue?
What mode and Payment Action do you use?

Thank you!

[2020-07-15 12:25] magento-engcom-team commented on #28753
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35897` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-15 12:34] lotar commented on #24353
Hey everyone, while following does solve the problem, it doesn't solve the problem when you have distributed deployment with multiple FE instances:

Problem happens when you add / remove backends to varnish.vcl and reload varnish service (emphasis on reload, not restart - to keep everything in cache and just reconfigure) - backend fetch fail happens for short interval (was 10ish seconds for us) -

[2020-07-15 12:34] Eddcapone opened #29150 "Show custom maintenance site instead of exception"
### Description (*)

Enterprise 2.3.5-p1

If I change my store to maintenance mode, then this message is showing:

[code]

### Expected behavior (*)

Show custom Site instead which I can configure in the backend.

### Benefits

1. You won't expose to anyone that you are using magento = more security.

2. Adding a custom maintenance site will make your site look more professional.

### Additional i

[2020-07-15 12:54] agorbulin commented on #28912
Hello.
I confirm bug on 2.3.5-p1 with more easier STR:
1. Create 2 websites
2. Set customer attribute gender is_required=false for 1 website and is_required=true for 2 website
3. Flush caches

Expected result:
gender is NOT required on 1 website and required on 2 website

Actual result:
gender is required on both (or not required on both depend on what website saves cache first)

I've made quick p

[2020-07-15 13:09] motorlesha commented on #28981
we have the same issue. Please fix it

[2020-07-15 13:10] amenk commented on #13440
What is the status of the fix?

[2020-07-15 13:15] Eddcapone opened #29151 "Delta Migration not transfering CMS sites/blocks"
### Preconditions (*)

1. M2 Enterprise 2.3.5-p1
2. M1 Open Source 1.9.9.4
3. Linux Server (same on both server)

### Steps to reproduce (*)

1. Create fresh Magento 2

2. Migrate settings from M1 by using the official migration tool
`php bin/magento migrate:settings vendor/magento/data-migration-tool/etc/opensource-to-commerce/1.9.4.4/config.xml`

3. Migrate data from M1 by using the official mig

[2020-07-15 13:39] sppascha commented on #22539
We're encountering this problem in 2.3.5 Enterprise more than a year after it was identified. This was _just_ shifted to the Community backlog in March of this year?

Seeing as Braintree is a major payment processing gateway and this module's part of the standard package, I'm a little stunned that this hasn't received higher priority.

[2020-07-15 14:18] engcom-Lima commented on #26981
Hello @AnemosGroup  @sdzhepa
This issue looks like a feature request.
@sdzhepa could you transfer this issue to the Feature requests repository?
Thanks for your collaboration!

[2020-07-15 14:21] alecx15 commented on #28158
How can we apply the patch to fix the issue?

[2020-07-15 14:41] bohdan-berezhniy opened #29155 "issue with translate-inline"
### Preconditions (*)
1. Magento 2.4-develop
2. Disable all shipping methods
3. Create simple product
### Steps to reproduce (*)
1. Go to the Stores -> Configuration -> ADVANCED -> Developer -> Translate Inline -> Enabled for Storefront = Yes
2. Create a new (not English) store view (or use another one if exists)
3. Add simple product to cart
4. Change the store view to the one created in step 2
5

[2020-07-15 15:08] taras-GA commented on #10049
for those who found this page with this issue.
I fixed this problem by adding this configuration to **/etc/nginx/nginx.conf**:
[code]
(from [stack overflow](https://stackoverflow.com/a/23845727))

[2020-07-15 15:31] magento-engcom-team commented on #28569
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#28794 by @gallyamov in 2.4-develop branch
Related commit(s):
 - [0b577a309a97a56cbd031201d635ae4672e25659](https://github.com/magento/magento2/commit/0b577a309a97a56cbd031201d635ae4672e25659)
 - [1973c2695edeb80d65f82ac973488ac7f88da47d](https://github.com/magento/magento2/commit/1973c2695edeb80d65f82a

[2020-07-15 15:31] #28569 closed, assigned to gallyamov