[2019-06-21 05:17] kapil-infobeans commented on #15935
@youphp As I have explained above. You just need to restore deleted products same entity_id. ou just have to do below steps.

Put snapshot of old correct database, that you can get from hosting providers if scheduled backup's are there.

Put corrupted database on same mysql server.

Find casecade in mysql for catalog_product_entity table, So you will get to know which tables data you need to copy

[2019-06-21 05:27] ajijshekh123 commented on #23348
@bbaulos - I have verified this issue in latest Chrome, Firefox and Opera browser with Magento 2.3 and Magneto 2.2 Instance. I am not finding any issue related to your attached screenshot.
@bbaulos - This issue is related to any code customization, third-party extensions, Caching or Browser issues which you are using it.

**See attached screenshot:**

![2019-06-21 (3)](https://user-images.githubus

[2019-06-21 05:37] magento-engcom-team commented on #23342
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17673`, `MC-17674` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-21 05:44] bbaulos commented on #23348
let me check on my end

[2019-06-21 05:52] convenient commented on #15427
Wow. @magento-engcom-team I know this is hard to reproduce but didn't my steps at least provide something for you to work with ?

[2019-06-21 06:01] mmenozzi commented on #15864
@magento-engcom-team I experienced/reproduced this issue many times with Magento 2.2. The steps described by @hostep are very clear. Please try again.

[2019-06-21 06:09] bbaulos commented on #23348
Hello sir.
I've tried accessing magento 2.2.5 using newly installed chrome with no third party extensions, cleared caches, stable connection but still the same issue persist. here's the link: https://www.screencast.com/t/6xYg6rLOy
Is it possible that my Internet's IP has been black listed by this site?

[2019-06-21 06:23] ajijshekh123 commented on #23348
Hi @bbaulos,
It may be possible.
So can you please access a different site with Magento 2.2.5 Instance?

[2019-06-21 06:32] bbaulos commented on #23348
let me ask my client about this. I'll get back to you on this one

[2019-06-21 06:52] krishprakash commented on #23349
Hi @VjIntesols.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the Community Forums or the Magento Stack Exchange, for advice or general discussion about this issue.
Thank You.

[2019-06-21 06:52] #23349 closed, assigned to krishprakash

[2019-06-21 06:58] zolthan commented on #23262
Thank you @hostep you did it. Some automated deployment processes removed the additional htaccess files in pub.

So I'm out here. Everything is working fine now.

[2019-06-21 07:04] slackerzz commented on #19469
@magento-engcom-team so you are asserting that https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Customer/Setup/RecurringData.php is not run on every setup:upgrade?
This is a big problem for a real store, probably not noticeable in a dev box with sample data.

[2019-06-21 07:09] ajijshekh123 commented on #23348
@bbaulos - Have you resolve this issue?

[2019-06-21 07:14] bbaulos commented on #23348
hello sir. the issue is not anymore related to Magento instance please close and delete the screenshots you provided in this ticket. thank you so much

[2019-06-21 07:15] ajijshekh123 commented on #23348
Okay @bbaulos

[2019-06-21 07:15] #23348 closed, assigned to nobody

[2019-06-21 07:58] hostep commented on #15864
@mmenozzi: I just tested again to verify their claims, and issue can stay closed.

I'm noticing that it is broken in Magento 2.2.7, but fixed in 2.2.8 and also fixed on the `2.2-develop` branch. So all is good!

[2019-06-21 07:59] #15864 closed, assigned to nobody

[2019-06-21 08:02] hostep commented on #23262
Excellent!

@29sunil: you might have the same problem then? Did this discussion above help you as well?

[2019-06-21 08:05] CD0001 commented on #18263
Yes - it was fixed about 8 months ago on both the 2.2.x and 2.3.x branches.

[2019-06-21 08:18] LucianMihalache commented on #15215
Why is this still not fixed?
There is a problem when you want to send/sync categories on some site via api.
The store used is only the default store, but if I have multiple stores? Thats imposible.
Let's say that I have a single store only. When I update the category via api, the backend does not see the changes because the admin is on store view 0, while my default store view (the frontend) is 1.

[2019-06-21 08:21] DuckThom opened #23350 "Add support for catching throwables in App/Bootstrap"
### Summary (*)
I noticed that the inner try/catch in the `run` method in `lib/internal/App/Bootstrap.php` does not catch throwables. I was wondering if there is any downside in adding a catch for a `\Throwable`.

### Examples (*)
If an error is thrown (for example, a TypeError) it currently shows a browser generic 500 error.

### Proposed solution
I would suggest adding the following catch block

[2019-06-21 08:32] engcom-Charlie commented on #14495
Hello @nans !
I can not reproduce your issue. The GitHub issue tracker is intended for Magento Core technical issues only. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-06-21 08:32] #14495 closed, assigned to nobody

[2019-06-21 08:40] engcom-Charlie commented on #23334
Hello @bart42functions !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-06-21 08:40] #23334 closed, assigned to engcom-Charlie

[2019-06-21 08:45] TonyRutherford1 commented on #15427
@magento-engcom-team Has this been closed due to a fix in 2.3.2?

[2019-06-21 08:47] Vbak commented on #16536
If someone has a similar problem for me the problem was the json_encode.
vendor/magento/zendframework1/library/Zend/Json.php

function encode line 154: $encodedResult = json_encode($valueToEncode);
I added the json_last_error and I saw that it was giving me an error with utf-8 encoding. That error wasn't showing anywhere until I managed to debug the REST API session.

I hope it will help someone.

[2019-06-21 08:52] malwis commented on #5836
Hello, i need  your Help:
Magento 2.3.1
php /var/www/webroot/ROOT/bin/magento indexer:reindex

Results:
Design Config Grid index has been rebuilt successfully in 00:00:00
Customer Grid index has been rebuilt successfully in 00:00:00

I can't reindex following Position:
catalog_category_product
catalog_product_category

Please tell my what i can to reindex this 2 Position. Thanks

[2019-06-21 09:08] DuckThom commented on #23350
For quick reference, it's about this line: https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/App/Bootstrap.php#L269

[2019-06-21 09:40] craigcarnell commented on #15427
@magento-engcom-team Also seeing this in 2.3.1, can I get an update ASAP please?

[2019-06-21 10:23] magento-engcom-team commented on #23346
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17678`, `MC-17679` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-21 10:25] DanielRiezebos commented on #22743
I would like to thank @mystix for providing the fix I needed to solve this issue! Hopefully Magento can come out with a patch or update soon to properly resolve this problem.

[2019-06-21 10:28] bhavik43 opened #23354 "Data saving problem error showing when leave blank qty and update it"
Data saving problem error showing when leave blank qty and update it

### Preconditions (*)
Magento 2.3

### Steps to reproduce (*)
1) Front end -> Login into account
2) Add more than 2 products to the cart
3) From cart go to checkout with multiple addresses
4) Qty leave blank and click on Update Qty & Addresses

### Expected result (*)
Appropriate error message should display.

### Actual result

[2019-06-21 10:31] krishprakash commented on #23354
@magento give me 2.3-develop instance

[2019-06-21 10:31] magento-engcom-team commented on #23354
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-21 10:32] magento-engcom-team commented on #23354
Hi @krishprakash, here is your [Magento instance](https://i-23354-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23354-2-3-develop.instances.magento-community.engineering/admin](https://i-23354-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-21 10:37] krishprakash commented on #23354
@magento give me 2.2-develop instance

[2019-06-21 10:37] magento-engcom-team commented on #23354
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-21 10:38] magento-engcom-team commented on #23354
Hi @krishprakash, here is your [Magento instance](https://i-23354-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23354-2-2-develop.instances.magento-community.engineering/admin](https://i-23354-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-21 10:52] magento-engcom-team commented on #23354
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17681`, `MC-17682` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-21 11:23] sanjay-github opened #23355 "Product price on cart is not displayed proper with tax when custom price is applied."
### Preconditions (*)

1. Magento 2.3.0- Community edition

### Steps to reproduce (*)

1. Please configure tax settings and tax rules as seen in screenshots.
2. Now login in storefront using Demo Customer Access provided by Magento (roni_cost@example.com).
3. Please integrate the below code to apply custom price.

**Observer** :

namespace Vendor\MyModule\Observer;

use Magento\Framework\Event\Ob

[2019-06-21 11:26] toddca commented on #15427
@magento-engcom-team Clearly there is an issue here. Very disappointed too see you punting this issue b/c you cannot get a solid repro even after all the time and feedback that has been invested by the community.

[2019-06-21 11:30] sanjay-github commented on #23355
Sorry , for some reason was not able to add code.
I am still not able to format code and add screenshots.
Observer :
<?php
namespace Vendor\MyModule\Observer;

use Magento\Framework\Event\ObserverInterface;

class BindPriceToCart implements ObserverInterface
{

    public function execute(\Magento\Framework\Event\Observer $observer)
    {
            $price = 50;
            $event = $observer->ge

[2019-06-21 11:31] sanjay-github commented on #23355
Observer :

namespace Vendor\MyModule\Observer;

use Magento\Framework\Event\ObserverInterface;

class BindPriceToCart implements ObserverInterface
{

    public function execute(\Magento\Framework\Event\Observer $observer)
    {
            $price = 50;
            $event = $observer->getEvent();
            $item = $event->getQuoteItem();
            $item->setCustomPrice($price);
            $i

[2019-06-21 11:32] sanjay-github commented on #23355
Observer :

namespace Vendor\MyModule\Observer;

use Magento\Framework\Event\ObserverInterface;

class BindPriceToCart implements ObserverInterface
{

    public function execute(\Magento\Framework\Event\Observer $observer)
    {
            $price = 50;
            $event = $observer->getEvent();
            $item = $event->getQuoteItem();
            $item->setCustomPrice($price);
            $i

[2019-06-21 11:33] sanjay-github commented on #23355
Sorry, for some reason I was not able to upload the code.
Still could not upload the screenshots.

Observer :

namespace Vendor\MyModule\Observer;

use Magento\Framework\Event\ObserverInterface;

class BindPriceToCart implements ObserverInterface
{

    public function execute(\Magento\Framework\Event\Observer $observer)
    {
            $price = 50;
            $event = $observer->getEvent();

[2019-06-21 11:39] krishprakash commented on #23355
Hi @sanjay-github.
Can you please upload the screenshot so it will help to reproduce this issue.
Thanks.

[2019-06-21 11:52] virani06 commented on #23284
How it will be a done?

[2019-06-21 12:05] engcom-Charlie commented on #23341
Hi @pietrogalassi ! Thank you for your report . Seems like you are using custom code there .
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-06-21 12:05] #23341 closed, assigned to nobody

[2019-06-21 12:21] sarootua commented on #14952
fix ok only sales email, but not working in reset password or new customer or new user store

[2019-06-21 12:25] gwharton commented on #14952
Please raise new issue to cover those bugs.

[2019-06-21 12:30] robert-schmidt commented on #23336
I confirm.

[2019-06-21 12:30] magento-engcom-team commented on #23336
Hi @robert-schmidt. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-21 12:31] magento-engcom-team commented on #23336
Hi @robert-schmidt, here is your [Magento instance](https://i-23336-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23336-2-3-develop.instances.magento-community.engineering/admin](https://i-23336-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-21 12:31] magento-engcom-team commented on #23345
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17684` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-21 12:32] xiaolinwuu opened #23356 "Chinese product description utf error"
### Preconditions (*)

1. Magento 2.3.1 version

### Steps to reproduce (*)

1. Add product and write a description in Chinese characters (66+ characters) less than 66, it works
2. Go to product page in the Chinese locale store view

### Expected result (*)

1. Product page and Description should be displayed

### Actual result (*)

1.```
 1 exception(s):
Exception #0 (InvalidArgumentException): U

[2019-06-21 12:38] xiaolinwuu commented on #23356
@magento give me 2.3-develop instance

[2019-06-21 12:38] magento-engcom-team commented on #23356
Hi @xiaolinwuu. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-21 12:39] magento-engcom-team commented on #23356
Hi @xiaolinwuu, here is your [Magento instance](https://i-23356-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23356-2-3-develop.instances.magento-community.engineering/admin](https://i-23356-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-21 12:40] engcom-Charlie commented on #23356
@xiaolinwuu can you send an example of description you used ?

[2019-06-21 12:41] daniel-ifrim opened #23357 "getRewriteByProductStore does not return product URL rewrite"
### Preconditions (*)

1. Magento 2.2.7 but I think it's on all version Magento 2.3-develop branch too
2. MySQL 5.7.26

### Steps to reproduce (*)

1. Not much to test unless you make a code construct like this:
[code]
2.

### Expected result (*)

1. It should return an array with product slug like this:
[code]
### Actual result (*)

1. It returns product category URL in some cases:
[code]

It hap

[2019-06-21 12:50] msawyers commented on #14952
[See issue #23199](https://github.com/magento/magento2/issues/23199)

[2019-06-21 12:55] DigitalStartupUK commented on #15115
I've been plagued with this issue since we launched M2.2 last year. Our setup was a migration from M1 > M2. The issue appears in the `system.log` a few times a day. However, no customers or admins have ever reported it. Based on my migration experience so far, I always assumed it only affected customers created in M1, but this isn't actually the case.

Anyway, I was finally able to reproduce the i

[2019-06-21 13:00] engcom-Charlie commented on #23356
I can`t reproduce your issue due the steps your provided. Please update description.

[2019-06-21 13:01] xiaolinwuu commented on #23356
this is the link https://www.italianleathermarket.com/cn/asdf.html
do you need to access to admin?

[2019-06-21 13:04] engcom-Charlie commented on #23356
@xiaolinwuu can you confirm that you can reproduce this issue on Vanilla Magneto ?

[2019-06-21 13:38] sta1r opened #23359 "Timezone scopeDate method does not respect interface"
### Preconditions (*)

1. 2.3-develop

### Steps to reproduce (*)

1. Start with a class similar to this:
[code]
2. Run the code

### Expected result (*)

1. `scopeDate()` returns a DateTime scoped to the store 1 locale.
2. The [method](https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php#L196-L205) should work according to signature in t

[2019-06-21 13:50] engcom-Charlie commented on #23356
Feel free to reopen if you can confirm that issue is reproducible on Vanilla Magento .

[2019-06-21 13:50] #23356 closed, assigned to engcom-Charlie

[2019-06-21 14:01] engcom-Bravo commented on #23344
Hello @razvang10. Thanks for applying. The behavior You described is correct. In reality Configurable product itself does not exist. There exist its variations (as You call them "childs"). For example You can create a Configurable Product called "Pencil" which has two variations "Red-Pencil" (price=1$) and "Blue-Pencil" (price=2$). Pencil itself will not exist It'll be only Red-Pencil and Blue-Pen

[2019-06-21 14:02] magento-engcom-team commented on #23284
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again

[2019-06-21 14:10] ci2014 commented on #15427
I can confirm this issue in 2.3

[2019-06-21 14:12] magento-engcom-team commented on #23284
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17689`, `MC-17690` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-21 14:42] jbalca commented on #12512
Hi @sdzhepa is it possible to know what is the pull request where that fix is? We are running 2.3.1 and we would like to patch it now, instead of waiting for 2.3.3 release.

[2019-06-21 14:50] konarshankar07 opened #23361 "Controller 404 error for multishipping/checkout/checkItems"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1.Login from the frontend
2. Add a product in the cart and go to cart page
3. click on checkout with multiple addresses
4. Update the qty field and click update qty and addresses button

### Expected result (*)

1. No JS should display and validation should be executed

### Actual result (*)

1. JS error with the controller

[2019-06-21 15:02] konarshankar07 commented on #23361
@magento give me 2.3-develop instance

[2019-06-21 15:02] magento-engcom-team commented on #23361
Hi @konarshankar07. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-21 15:03] magento-engcom-team commented on #23361
Hi @konarshankar07, here is your [Magento instance](https://i-23361-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23361-2-3-develop.instances.magento-community.engineering/admin](https://i-23361-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-21 15:06] engcom-Bravo commented on #23333
Hello @alexeya-ven. Would You please tell us what exactly You did in order to get "Check / Money Order" translated to "Chèque / Argent". Thank You.

[2019-06-21 15:07] hackronshins commented on #12707
Is this bug fixed yet, Still I am also facing this issue for paypal orders in back-end on billing information it is displaying prefix variables as template.
**Replication steps:**
1. Add product to the cart
2. Proceed to checkout
3. Using Paypal express payment method
4. Place the order
5. Lets check in backend in admin
6. Open Sales -> Orders
7. Open recent order with order id
8. See the billing

[2019-06-21 15:09] goutamfulcrum commented on #5873
I am also facing same issue after upgrading magento to 2.3.1.

Anyone found solution for this?

[2019-06-21 15:11] konarshankar07 commented on #23361
@magento give me 2.2-develop instance

[2019-06-21 15:11] magento-engcom-team commented on #23361
Hi @konarshankar07. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-21 15:12] eshwilk commented on #23319
The problem seems to be introduced with this fix: https://github.com/magento/magento2/issues/18477

[2019-06-21 15:12] magento-engcom-team commented on #23361
Hi @konarshankar07, here is your [Magento instance](https://i-23361-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23361-2-2-develop.instances.magento-community.engineering/admin](https://i-23361-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-21 15:17] engcom-Bravo commented on #23361
Hello @konarshankar07. Thanks for reporting. We've been not able to reproduce Your issue on the latest 2.3-develop instance. Could You please confirm You remain able to do that?

[2019-06-21 15:19] konarshankar07 commented on #23361
Hello @engcom-Bravo ,
I'm also not able to reproduce this issue in Magento instance So I'm closing this issue

[2019-06-21 15:19] #23361 closed, assigned to konarshankar07, engcom-Bravo

[2019-06-21 15:26] pavdan opened #23362 "Refreshing statistic for Coupon report fails: Table 'm231_main.salesrule_coupon_aggregated' doesn't exist"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. In admin panel open `Reports > Refresh Statistic`
2. Click checkbox near **Coupons** row
3. Click `Refresh Statistics for the Last Day` and `Submit`

### Expected result (*)

1. Report is updated

### Actual result (*)

1. Error message: `We can't refresh recent statistics.`

Problem is caused by SQL exception: `Base table or

[2019-06-21 15:34] engcom-Bravo commented on #23333
@alexeya-ven You did it via Configuration right?

[2019-06-21 15:43] hostep commented on #14674
This was probably fixed by https://github.com/magento/magento2/pull/21140, which should be included in Magento 2.2.9 next week.
And it looks like it was already fixed in 2.3.1 by https://github.com/magento/magento2/pull/19798

So we can probably close this issue?

[2019-06-21 15:43] sjb9774 commented on #22952
Is there any update on this issue? I'm seeing this problem as well.

[2019-06-21 15:44] engcom-Bravo commented on #23362
Hello @pavdan. We've been not able to reproduce Your issue on the latest 2.3-develop version instance. Could You please try to reproduce it Yourself asking a bot for an instance as You are advised above:
![Advised](https://user-images.githubusercontent.com/51680745/59934609-9a653b00-9454-11e9-9958-f3e2263bb210.png)
Thank You.

[2019-06-21 16:07] sta1r commented on #23359
Should it take a DateTime or not? Happy to submit a fix either way.

[2019-06-21 16:20] engcom-Bravo commented on #23333
Also @alexeya-ven, it is most likely You mean You were creating those shipments and credit memos wile the default site was not that one with fr_FR locale. Please tell us is it so or not, as in Your Steps to Reproduce all of these things are not reflected or are called somewhat incorrectly (for example to change the name of the payment method in the Configuration for a particular website or store v

[2019-06-21 16:37] hostep opened #23363 "New issues with product url's in sitemap.xml generation after PR 23129 got merged."
### Preconditions (*)
1. Magento `2.3-develop` branch after https://github.com/magento/magento2/pull/23129 got merged, I've used commit 51773443eae to test this again

### Steps to reproduce (*)
1. Create a category with url key 'category'
2. Create a product with url key 'product' and assign it to the category you created in step 1
3. Go to Stores > Configuration > Catalog > Catalog > Search Engi

[2019-06-21 17:02] hackronshins commented on #13508
Is this bug fixed yet? Still I am also facing this issue for paypal orders in back-end on billing information it is displaying prefix variables as template.

**Replication steps:**

1. Add product to the cart
2. Proceed to checkout
3. Using Paypal express payment method
4. Place the order
5. Lets check in backend in admin
6. Open Sales -> Orders
7. Open recent order with order id
8. See the billin

[2019-06-21 17:12] hackronshins commented on #5873
I followed some solutions in git which they commented but no luck. I will
update if I got any solution for this issue. If you know please let me know.
Thanks & Regards
jd prasad

On Fri, Jun 21, 2019 at 8:40 PM goutamfulcrum <notifications@github.com>
wrote:

--
*VJD Prasad*
Director | Team Lead
#102, Siri Sampada Hitex Building
Kavuri Hills, Madhapur, Hyd - 33
Contact No.: +91 9160310256
Facebook

[2019-06-21 17:26] shikhamis11 commented on #23339
Hello @acashley
This issue is not due Magento for this you need to make changes in Apache or nginx configuration file. You can contact your server provider for this

[2019-06-21 17:41] sdzhepa commented on #12512
Hello @jbalca

Unfortunately, I do not have exact commits/PR with fixes.
I investigated and tried to find related tasks in internal Jira and through delivered PR based on keywords but without results.
I think it was fixed in the scope of another task(s).

We closed this issue based on several re-testing on the latest code bases. But if there are additional flows/cases that lead to the same problem

[2019-06-21 22:24] magento-engcom-team commented on #20038
Hi @bharanikonda. Thank you for your report.
The issue has been fixed in magento/magento2#22675 by @kunal-rtpl in 2.3-develop branch
Related commit(s):
 - [1a62a1094829fc4d00b68466d365aaf1d32deadf](https://github.com/magento/magento2/commit/1a62a1094829fc4d00b68466d365aaf1d32deadf)
 - [c1a2bd712f726112d2005b5475656e017808b14b](https://github.com/magento/magento2/commit/c1a2bd712f726112d2005b547565

[2019-06-21 22:24] #20038 closed, assigned to nobody

[2019-06-21 22:24] magento-engcom-team commented on #23074
Hi @Vishrootways. Thank you for your report.
The issue has been fixed in magento/magento2#23309 by @sta1r in 2.3-develop branch
Related commit(s):
 - [8fe7c88bf68c7eec7eb761f7b7690d73a9bb2ec1](https://github.com/magento/magento2/commit/8fe7c88bf68c7eec7eb761f7b7690d73a9bb2ec1)
 - [60b577e3fa998ab9b4b85b0fb486cf542d626168](https://github.com/magento/magento2/commit/60b577e3fa998ab9b4b85b0fb486cf542

[2019-06-21 22:24] #23074 closed, assigned to sta1r

[2019-06-22 04:38] oviliz commented on #23199
This is likely the result of a recent fix (?) as per https://github.com/magento/magento2/issues/14952 after a too long struggle...

[2019-06-22 04:41] msawyers commented on #23199
The issue only exist on 2.3.1 can be replicated on vanilla instance

[2019-06-22 08:49] rleshchenko commented on #23342
#kharkiv2019

[2019-06-22 08:49] magento-engcom-team commented on #23342
@rleshchenko thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-06-22 09:53] artbychenko commented on #3356
Solution:
<pre>
if ($block->hasData('template')) {
    // set template agrument
    $block->setTemplate($block->getData('template'));
} else {
    if (!empty($attributes['template'])) {
        $block->setTemplate($attributes['template']);
    }
}
if (!empty($attributes['ttl'])) {
    $ttl = (int)$attributes['ttl'];
    $block->setTtl($ttl);
}
return $block;
</pre>

[2019-06-22 11:54] orlangur commented on #23324
@ihor-sviziev I see, just some class list in order of collecting. Did it ever cause any issue?

My understanding is that we need to fix underlying bugs in case order matters in some cases but generally list sorting each time looks like an overkill and can slowdown significantly as well.

Is there a way to put files and directories in pre-determined order into filesystem maybe?

[2019-06-22 13:33] orlangur commented on #23346
Thanks @TomashKhamlai! Such observations can be suggested directly as PRs.

[2019-06-22 17:50] magento-engcom-team commented on #22396
Hi @MichaelThessel. Thank you for your report.
The issue has been fixed in magento/magento2#23277 by @shikhamis11 in 2.2-develop branch
Related commit(s):
 - [6c46ed078f3896071c69704f1b206436924fa2e7](https://github.com/magento/magento2/commit/6c46ed078f3896071c69704f1b206436924fa2e7)

The fix will be available with the upcoming 2.2.10 release.

[2019-06-22 17:50] magento-engcom-team commented on #22087
Hi @nicholasscottfish. Thank you for your report.
The issue has been fixed in magento/magento2#23252 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [446f0c0e6a7183328a8065e00aa843871c749e03](https://github.com/magento/magento2/commit/446f0c0e6a7183328a8065e00aa843871c749e03)
 - [c60aab5bad451da8b79e1c77f20cb24043a1b93e](https://github.com/magento/magento2/commit/c60aab5bad451da8b79e1

[2019-06-23 03:02] magento-engcom-team commented on #23288
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17754`, `MC-17755` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-23 03:21] msawyers commented on #23199
Any assistance with this?

[2019-06-23 08:39] gigadesign1 commented on #8815
I have the same issue and can confirm that the issue was not properly fixed.

We were experiencing the varnish cache to be fully flushed every time our warehouse updated the stocks of a larger number of products.

After some debugging I found this in the varnish log:
`ReqHeader      X-Magento-Tags-Pattern: $))|((^|,)cat_p_769(,|$))|((^|,)cat_p_776(,|$))|((^|,)cat_p_768(,|$))|((^|,)cat_p_891(,|$))|

[2019-06-23 11:05] ebofi commented on #5863
We are also face same issue after migrating from 1.9.x to 2.2.x.

This is a complete head ache for us

[2019-06-23 12:21] acashley commented on #23339
@shikhamis11 Respectfully, I disagree that this issue is not due to Magento.
Please see: https://developer.chrome.com/apps/xhr

"Regular web pages can use the XMLHttpRequest object to send and receive data from remote servers, but they're limited by the same origin policy (and since Chrome 73 content scripts are also subject to the same restrictions as the web page they are injected into)."

I thi

[2019-06-24 00:25] wenpingguo commented on #7687
I cannot find the fix.
Can we have a patch for the fixes?
Many thanks

[2019-06-24 02:07] brideo commented on #15427
I'm seeing this in 2.3

[2019-06-24 04:42] joshuaadickerson commented on #21770
This is not a feature request. This is implementing the backwards compatibility that was promised.

[2019-06-24 04:55] jigar48 commented on #23271
Thanks @engcom-Bravo. I have checked with the "%2B" and It showing the result
"message":"Account already active"

so Its working. Thanks for checking.

I just concern about that end user will dont know how "+" character will be parsed to  API end points.

[2019-06-24 05:01] sanjay-github commented on #23355
/home/sanjay/Pictures/Screenshot from 2019-06-21 16:40:58.png

[2019-06-24 05:17] sanjay-github commented on #23355
Hi @krishprakash, I will soon upload images. For some reason I am not able to upload images, may be I need to update my browser.

[2019-06-24 05:19] ihor-sviziev commented on #23324
I’m not sure if it ever created issues there, but you even can’t test it because result even on single machine might be different now, you can’t say that this version is correct and this is not.
Look at my PR - it adds one very simple sorting when we already get all paths to the modules. During my tests it’s not slowed down DI compile step, so it’s not a big deal

[2019-06-24 06:19] manaftryzens commented on #18264
We also have the same issue in 2.2.7 even after applying the patches mentioned here

[2019-06-24 07:27] pavdan commented on #23362
@magento give me 2.3-develop instance

[2019-06-24 07:27] magento-engcom-team commented on #23362
Hi @pavdan. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-24 07:28] magento-engcom-team commented on #23362
Hi @pavdan, here is your [Magento instance](https://i-23362-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23362-2-3-develop.instances.magento-community.engineering/admin](https://i-23362-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-24 07:33] subhrajyotiw5rtc opened #23370 "Not getting any value while searching the products using REST API"
**Preconditions**
1. Magento CE 2.3
2. Rest API
3. Simple product

I am searching product as per product ```sku and name``` using the end point API of magento2 but for some search text no value is coming. I am explaining my code below.

**Steps to reproduce**
When I am searching this product using the following code its returning null as output.

$stext='Cake';
$searchText='%'.$stext.'%';
$ch = cu

[2019-06-24 07:52] kapil-infobeans opened #23371 "Incomplete core zipcode validation database"
### Preconditions (*)

1. Magento EE 2.2.5 with sample data is installed.
2.  Use core class "\Magento\Directory\Model\Country\Postcode\ValidatorInterface" for validation of postcode by countryId
3. Only 94 countries validation database exist in file "app/code/Magento/Directory/etc/zip_codes.xml" out of 246 countries from database table "directory_country"

### Steps to reproduce (*)
1.Incomplete

[2019-06-24 07:55] engcom-Charlie commented on #23276
Hello @Adrift ! Thank you for your report !
Can you confirm that you are able reproduce your issue on Vanilla Magneto CE 2.3.1 ?

[2019-06-24 08:18] alexeya-ven commented on #23333
Hi @engcom-Bravo
The issue is happens when you have two websites with different locales - en_US (which is default) and fr_FR, and creating credit memo / shipment / invoice in orders which is placed in fr_FR website. In this cases Magento didn't emulate order store view, but uses default. Thats why payment method block in order email didn't translates correctly.

[2019-06-24 08:25] pavdan commented on #23362
I couldn't reproduce, but I'm sure it's caused by
vendor/magento/module-reports/Model/ResourceModel/Report/AbstractReport.php:182
`$this->getConnection()->delete($table, $deleteCondition);`

[2019-06-24 09:30] subhrajyotiw5rtc commented on #23370
Hi @engcom-Charlie. Regarding this issue I can just search for other products name or sku but one part of one product which is present also throwing this king of issue.

[2019-06-24 09:48] magento-engcom-team commented on #23370
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` aga

[2019-06-24 09:54] sanjay-github commented on #23355
Hi @krishprakash :+1:
I have attached all the necessary screenshots.

[2019-06-24 09:56] magento-engcom-team commented on #23370
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17756`, `MC-17757` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-24 10:11] lykang opened #23373 "magento2.0.15 product detail page 404 after delete all product & add"
### Preconditions (*)

1. Magento 2.0.15 Community

### Steps to reproduce (*)

1. admin panel -> select all product & delete
2. admin panel -> add product

### Expected result (*)

1. product detail page -> 200

### Actual result (*)

1.  product list page is showed, but detail page not found 404

[2019-06-24 10:14] engcom-Charlie commented on #23373
Hello @lykang ! Thank you for your report !
This issue is not reproducible on Vanilla Magento 2.3.x

[2019-06-24 10:15] #23373 closed, assigned to engcom-Charlie

[2019-06-24 10:41] orlangur commented on #23324
Sorry, my bad, if we just sort paths and not full list of files sorting may be negligible. Will double check.

I meant real bugs caused by nondeterministic order of items in list.

Does Symfony enforce SB with some build?

[2019-06-24 10:44] emedia91 commented on #21666
Is this fixed? I have the issue, I've got all products ready and this is all I need to have my site ready.  Anyone have a temporary solution please????

[2019-06-24 10:56] ihor-sviziev commented on #23324
I didn't saw any real bugs caused by this issue. I think just because this issue is not persistent.

I reviewed all PRs linked to https://github.com/symfony/symfony/issues/25958 - found only one check - https://github.com/symfony/symfony/pull/26176/files#diff-f410485b2fdabe90d3c911496fbe9ea9R64
Not sure if we can do similar check

[2019-06-24 11:14] hackronshins opened #23374 "Paypal orders - billing address displaying incorrect format in admin side"
Hi team, We upgraded from 2.3.0 to 2.3.1, when we placed an order using paypal payment method that particular orders billing address displaying incorrect format or template prefix variables and curly braces.

### Preconditions (*)
1. Magento CE 2.3.1
2. Simple product ordered
3. Using Paypal payment method (card payment)
4. Billing address in paypal orders (Note down the order id and check in admi

[2019-06-24 11:18] gwharton commented on #23199
If the emails are plain text then there is another bug where plain text emails are no longer sent as valid MIME emails so email clients may refuse to handle utf-8 encoding as that is only valid in MIME emails.

[2019-06-24 11:19] engcom-Bravo commented on #23271
Yes, @jigar48, I agree with You there is a problem: most of the end users will not know this thing with plus sign encoding. But unfortunately we can do nothing with it becouse it's not a thing invented by Magento. It's one of the common rules URLs behavior is submitted to. You may test it even through a browser. Here is an example with the random active currency-converting website. If You enter a

[2019-06-24 11:19] #23271 closed, assigned to engcom-Bravo

[2019-06-24 11:41] engcom-Bravo commented on #23362
Thanks for Your reply, @pavdan. If You are not able to reproduce the issue on a vanilla instance it means that most likely Your issue has alresdy been fixed or has been caused by some not native code. We are suuposed to close an issue in such cases. You can see it in details to point 4 of our [workflow](https://github.com/magento/magento2/issues/23362#issuecomment-504471989)
So we are closing the

[2019-06-24 11:41] #23362 closed, assigned to engcom-Bravo

[2019-06-24 11:42] engcom-Charlie commented on #23355
Hello @sanjay-github ! Thank you for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-06-24 11:42] #23355 closed, assigned to engcom-Charlie

[2019-06-24 12:08] engcom-Bravo commented on #23333
Thank You @alexeya-ven for Your reply. Then it seems everything is just as we think. But could You please confirm that You made the name of "Check / Money" look like "Chèque / Argent" in the following way:
![ChMO](https://user-images.githubusercontent.com/51680745/60017570-b570be80-9691-11e9-8629-e83bd2708ce0.png)
Thank You.

[2019-06-24 12:34] hostep commented on #11568
Hmm, I just ran into this problem on a Magento 2.3.1 store. Let me re-open this and I'll try to find exact steps to reproduce a bit later on.

[2019-06-24 12:36] LovelySetia commented on #6819
I have same issue. Please guide me to solve it.

[2019-06-24 12:41] stephan-cream opened #23376 "Category A image replaced by uploading to Category B"
### Preconditions (*)
1. Magento version: 2.3.*
2. PHP version: Any
3. SQL version: Any

### Steps to reproduce (*)
1. Add an image with the name 'test.jpg' to Category A
2. Check the image (should be uploaded properly).
3. Add a different image with the same name 'test.jpg' to Category B.
4. Check the image (should be uploaded properly).
5. Go back to check the image of Category A (image replaced

[2019-06-24 12:51] hostep commented on #11568
Ok, exact steps to reproduce on a vanilla 2.3-develop instance:
1. Have a frontend theme, you only need these files:
[code]
2. Clear your static content files: `rm -R var/view_preprocessed/* pub/static/*`
Now first run using the default strategy `quick`

[2019-06-24 12:51] iamckdev opened #23377 "Mini cart loader not working first time magento2"
### Preconditions (*)

1. Magento Version 2.3.1

### Steps to reproduce (*)

1. Clear browser cache and open website when click on add to cart see on the mini cart.
2. First time mini cart loader not showing, click second time then loader will be visible.

### Expected result (*)

1. Should always will be visible when you add to cart product.

### Actual result (*)

1. Refer the video.

Video: htt

[2019-06-24 12:59] engcom-Charlie commented on #23377
Hello @iamckindia ! Thank you for your report !
Seems like i need special permission to check video you linked.

[2019-06-24 13:06] alexeya-ven commented on #23333
@engcom-Bravo yes, we're talking about exactly the same case.

[2019-06-24 13:18] iamckindia commented on #23377
Please find the updated link: https://drive.google.com/file/d/1AlfqCl64VmgoKaQISRAI1WWw-CmZbIPt/view?usp=sharing

[2019-06-24 13:19] JoaoOlsenTecnico opened #23378 "Email error"
### Preconditions (*)
Magento was installed by Bitnami, is version 2.3.0 and is allocated on an AWS server

### Steps to Reproduce (*)
Make the connection to the Email using the MagePal (Free Email module).

### Expected result (*)
By receiving the "welcome" e-mail and registration in the "newsletter", the name of the sender to come as configured in the "Store Emails"
![image](https://user-images.

[2019-06-24 13:23] aqidul opened #23379 "Notice: Undefined index: mg_vss_mp_seller_reviews in /home/b0jqdi25k02i/public_html/vendor/magento/framework/Setup/Declaration/Schema/Db/SchemaBuilder.php on line 152"
### Summary (*)

### Examples (*)

### Proposed solution

[2019-06-24 13:24] aqidul commented on #23379
Please solve this issue
my whatsapp number is +918604261683

[2019-06-24 13:26] engcom-Charlie commented on #23379
Hello @aqidul !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-06-24 13:26] #23379 closed, assigned to nobody

[2019-06-24 13:32] hostep commented on #11568
Sorry, I'm mistaken. We took over some shop which has code which references images like this in php code:
[code]

That is wrong, it should have been:
[code]

Using this new code, PHP is able to resolve the correct image file from that `default` locale which gets generated by the `compact` strategy.

So everything does work as expected.

Sorry for the noise! (But hopefully my comments are helpful f

[2019-06-24 13:32] #11568 closed, assigned to nobody

[2019-06-24 13:32] engcom-Bravo commented on #23333
Making different locales for different sites are redundant.

[2019-06-24 13:33] magento-engcom-team commented on #23333
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17759`, `MC-17760` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-24 13:34] JoaoOlsenTecnico opened #23380 "Email Error"
**Summary**
When the user creates an account in my store, the "Welcome" email that he receives does not have the sender's name, and transactional emails, such as purchase emails, correctly contain the sender's name set in the "Addresses store email ". I use the MagePal Email Module to make the connection to the mail server but upon contacting them I was told that it is not a module error.

**Examp

[2019-06-24 13:35] JoaoOlsenTecnico commented on #23380
yes

[2019-06-24 13:39] MeetKamal opened #23381 "Re: Magento 2.3.1 Site loading issue with Multiple stores"
Hello Dear,

We have migrated one Magento site with multiple stores  from 2.2.4 to 2.3.1 and then facing so many issues with site loading.  One thing we have 300+ Stores and sub domain configured at server end.

### Summary (*)
Our site works fine with Magento 2.2.4 but to upgrade security and improve Indexing mechanism we tried to go on Magento 2.3.1,  When we upgrade site on M 2.3.1 it becomes r

[2019-06-24 13:51] magento-engcom-team commented on #23377
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-06-24 13:55] magento-engcom-team commented on #23377
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17762`, `MC-17763` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-24 13:57] engcom-Charlie commented on #23198
Feel free to reopen this issue when you will update it .

[2019-06-24 13:57] #23198 closed, assigned to engcom-Charlie

[2019-06-24 14:02] thlassche commented on #12856
@ishakhsuvarov @sergiypop Will this be in 2.3.2?

[2019-06-24 14:03] hackronshins commented on #5873
This render code file is for frontend, we are having an issue in backend admin side on sales->orders ->order details -> billing address. ( Billing address is showing in incorrect format like prefix variables with curly braces etc...!

[2019-06-24 14:14] engcom-Bravo commented on #23374
@magento give me 2.3-develop instance

[2019-06-24 14:14] magento-engcom-team commented on #23374
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-24 14:14] magento-engcom-team commented on #23374
Hi @engcom-Bravo, here is your [Magento instance](https://i-23374-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23374-2-3-develop.instances.magento-community.engineering/admin](https://i-23374-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-24 14:44] Adrift commented on #23276
Hey @engcom-Charlie I was not able to reproduce on Vanilla CE 2.3.1 so it's something related to the theme I developed. I'm still trying to pinpoint the cause, will update you if I find something.

[2019-06-24 14:46] kozie opened #23382 "form_key parameter gets added to all forms"
### Preconditions (*)

1. Magento 2.3.X CE && EE

### Steps to reproduce (*)

1. Add a form to the site without form_key with method="post" and (for example) an external URL
2. Submit the form (while inspecting for example)
3. form_key gets added and it posted along the rest of the form data

### Expected result (*)

1. No form_key is added to forms i don't need or even want them to be

### Actual

[2019-06-24 14:48] kozie commented on #23382
yes

[2019-06-24 14:48] engcom-Bravo commented on #23374
Hello @hackronshins. We've been not able to reproduce Your issue on a clear Magento installation:
![BillingAddres](https://user-images.githubusercontent.com/51680745/60027759-b8c27500-96a6-11e9-8bdd-83d9915e016c.png)
Could You please try to do the same - to reproduce it on theMagento's  vanilla instance of the latest develop version and tell us wether You'll have a success. Thank You.

[2019-06-24 14:50] magento-engcom-team commented on #23376
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17764`, `MC-17765` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-24 14:52] hackronshins commented on #23374
Okay sure, I will check and update you.

[2019-06-24 15:13] diamondavocado opened #23383 "Products which are not assigned to any store are automatically being force-assigned a store ID after being saved"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Find a product in your store which is not currently assigned to any store/websites.

In my case, I achieved this by deleting several old websites (store views) which left a bunch of products "orphaned" without a store ID.

For testing purposes you could also un-tick all of the boxes under the "Product in websites" section in t

[2019-06-24 15:14] diamondavocado commented on #23383
@magento give me 2.3-develop instance

[2019-06-24 15:14] magento-engcom-team commented on #23383
Hi @diamondavocado. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-24 15:14] magento-engcom-team commented on #23383
Hi @diamondavocado, here is your [Magento instance](https://i-23383-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23383-2-3-develop.instances.magento-community.engineering/admin](https://i-23383-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-24 15:22] diamondavocado commented on #23383
I was able to reproduce this on 2.3-develop instance.

I created a product but made sure to **assign it to no stores**:

![image](https://user-images.githubusercontent.com/32345083/60030772-7d6e7900-969b-11e9-8b80-1fa158b789f2.png)

The products grid shows that no stores/websites have been associated with this product:

![image](https://user-images.githubusercontent.com/32345083/60030912-b4448f00-

[2019-06-24 15:29] AndyJAllen opened #23384 "Magento 2.3.1 AdminOrder Illegal string offset 'options'"
### Preconditions (*)

1.Magento 2.3.1 (Upgraded from 2.2.6 with existing products)

### Steps to reproduce (*)

1. Attempt to manually create order from Admin (I tried multiple payment/shipping methods to test)

### Expected result (*)

1. Order gets created after clicking Submit Order

### Actual result (*)

1. Receive error:

![image](https://user-images.githubusercontent.com/19735797/60045654-

[2019-06-24 15:47] manaftryzens commented on #18264
I got it working when I applied the fix mentioned by gavinlimely at https://github.com/magento/magento2/issues/7367

[2019-06-24 15:48] manaftryzens commented on #7367
I had also the same issue and I think the above mentioned fix has resolved the issue

[2019-06-24 16:19] ci2014 commented on #19303
I have the same issue with Magento 2.3.0. In which file has this been solved? Thank you.

[2019-06-24 16:20] ron-jomashop commented on #23159
@davidverholen The Magento fix will only works on one parentheses. If you search "((((", it will break even on latest version of the Magento 2.

[2019-06-24 16:30] victortodoran opened #23385 "Magento Calculate Handling Fee with Percent Value does not work."
### Preconditions (*)
1. Magento 2.3.1 with sample data

### Steps to reproduce (*)
1. Configure Flat Rate > Custom Handling Fee  with Percent Value
2. Enter percentage in Flat Rate > Handling Fee as instructed in the user guide

### Expected result (*)
1. A Custom Handling Fee as percentage of something (either the product price or the the shipping fee itself, the docs do not state a percentage o

[2019-06-24 16:31] victortodoran commented on #23385
@magento give me 2.3-develop instance

[2019-06-24 16:31] magento-engcom-team commented on #23385
Hi @victortodoran. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-24 16:32] ray-moncada commented on #14856
We are using CE 2.2.5 and are experiencing this issue. Can anyone point to the correction?

[2019-06-24 16:32] magento-engcom-team commented on #23385
Hi @victortodoran, here is your [Magento instance](https://i-23385-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23385-2-3-develop.instances.magento-community.engineering/admin](https://i-23385-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-24 16:40] victortodoran commented on #23385
@magento yes

![DevelopAdmin](https://user-images.githubusercontent.com/25669334/60036418-dea44580-96b7-11e9-8256-415c5d7016e1.png)
![DevelopCart](https://user-images.githubusercontent.com/25669334/60036419-e06e0900-96b7-11e9-976c-2fd8ea3c29b6.png)
![DevelopCheckout](https://user-images.githubusercontent.com/25669334/60036429-e4019000-96b7-11e9-93e3-bcbb5b629296.png)

[2019-06-24 17:10] piotrekkaminski commented on #23363
hey @hostep do you have any supporting docs or more people that have the same point of view on this one? I'm a little bit confused what is the right behavior in this case and we are somewhat reluctant to fiddle with SEO related stuff.

[2019-06-24 17:37] chernenm commented on #19604
Hello everyone!

We are currently working on this. We plan to release PHP 7.3 support in 2.3.3.

[2019-06-24 17:38] hostep commented on #23363
Hi @piotrekkaminski

The following is only for the **First problem** mentioned above.

As usual with SEO related stuff, if you start searching the web, you'll find all kind of opinions, one says it should be this way, then another says the complete opposite and then yet another one says it doesn't really matter at all. And then you always have the problem of dealing with outdated information, sinc

[2019-06-24 17:45] robbie-thompson commented on #20154
This also seems to be an issue on 2.2.8

[2019-06-24 18:09] sdzhepa commented on #8815
Hello @joaolisboa, @gigadesign1  @erikhansen

Thank you for the feedback!

I updated description with your comments and reopen the issue as "was not properly fixed"

[2019-06-24 18:44] davidverholen commented on #23159
@ron-jomashop thx for investigating. Could you maybe update the preconditions then we can reopen it for confirmation (I'm currently not on my work machine and cannot reproduce it here)

[2019-06-24 19:12] ron-jomashop commented on #23159
Steps to reproduce (*)
Enable Elastic Search
append '/catalogsearch/result/?q=%28%28%28%28' to url. Ex: site.com/catalogsearch/result/?q=%28%28%28%28
The site will return a error.

The reason why Magento2.3.2 works is because it skips the search when it is less than 3 characters.

[2019-06-24 19:17] dkyosev9 commented on #22431
Same issue here. Seems like very major/important issue. It works good with Simple but not with Bundle products.

Preconditions (*)
Magento Version 2.3.1

Steps to reproduce (*)
    Place an order with a bundle product with custom options
    On the order item in the database the custom options are stored in the product_options column in the info_buyRequest as "key": "value" pair.
    Ship the orde

[2019-06-24 19:46] swnsma opened #23386 "Copy Service does not works properly for Entities which extends Data Object and implements ExtensibleDataInterface"
### Summary (*)
There is no way to use Extension Attributes in Copy Service if you are using entity class which extends DataObject

### Examples (*)
https://github.com/magento/magento2/blob/1e58f70fc0474d66e052c92f849baa9c390599e9/lib/internal/Magento/Framework/Model/AbstractModel.php#L18

1. Create Extension Attribute for Quote Address.
2. Create Extension Attribute for Order.
3. Try to copy Exte

[2019-06-24 21:54] MichaelThessel opened #23388 "Admin date field decrements UTC offset on each save"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

system.xml

[code]

Date.php

[code]

### Expected result (*)

When entering a date in the field, the date should be stored in the db in UTC (which it does) and the date should be displayed in the admin in the local time zone.

### Actual result (*)

The date is saved in the db in UTC. When the page is loaded the date is shown in UTC in

[2019-06-24 23:09] pmathbliss commented on #15545
This is still a problem.
If the first select is changed to a distinct sub query, everything is fixed. I am working on fixing the select in
vendor/magento/module-catalog-search/Model/Adapter/Mysql/BaseSelectStrategy/BaseSelectFullTextSearchStrategy.php

Otherwise the sub query on this  site gets 350k records and then mysql sorts it and returns the top 10000(which is actually just 35.)

`SELECT
  `m

[2019-06-24 23:50] pmathbliss commented on #15545
The fix worked perfectly. I had the wrong file.
After the fix, I no longer see queries waiting to insert into the temp. I think this has been a performance issue for a while.

module-catalog-search/Model/Adapter/Mysql/BaseSelectStrategy/BaseSelectAttributesSearchStrategy.php

Replace the following method:

[code]

[2019-06-25 03:42] ahdee commented on #10878
this was the only method that worked for me

[2019-06-25 04:57] ajijshekh123 commented on #23384
Give me @magento give me 2.3-develop instance

[2019-06-25 04:57] magento-engcom-team commented on #23384
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-25 04:57] magento-engcom-team commented on #23384
Hi @ajijshekh123, here is your [Magento instance](https://i-23384-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23384-2-3-develop.instances.magento-community.engineering/admin](https://i-23384-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-25 05:17] himanitayal010 commented on #22094
**Magento Team** Please provide the solution of this issue, otheriwse just guide us, we will find the solution.

[2019-06-25 05:33] ajijshekh123 commented on #23384
Hi @AndyJAllen,
In Magento 2.3 Instance, I have Placed the order using a different Payment method like.. Braintree, Check money order and Cash on delivery.
**See attached the screenshot:**

![2019-06-25 (2)](https://user-images.githubusercontent.com/24711761/60071659-8d886600-9738-11e9-8af7-5e349224c540.png)

![2019-06-25](https://user-images.githubusercontent.com/24711761/60071660-8d886600-9738-1

[2019-06-25 05:45] swatts7777777 commented on #17320
The links to the fix above do not work.  Can anybody help me with the correct URL please?

[2019-06-25 06:31] magento-engcom-team commented on #23159
:white_check_mark: Confirmed by @davidverholen
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17777` were created

**Issue Available**: @davidverholen, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-25 06:56] engcom-Charlie commented on #23276
Hello @Adrift !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-06-25 06:56] #23276 closed, assigned to engcom-Charlie

[2019-06-25 07:34] mshoaibqureshi opened #23391 "Unable to edit/update Magento2.3.0 Admin login page copyright notice except from core."
### Summary (*)

I am experiencing an issue in Magento2.3.0 admin end login page. I need to change the copyright text below the login credentials field box. I am unable to update it from anywhere, except the core file from vendor folder. i.e..
/vendor/magento/module-backend/view/adminhtml/templates/page/copyright.phtml

### Proposed solution

Should be able to extend the copyright section so that

[2019-06-25 07:34] engcom-Charlie commented on #23381
Hello @MeetKamal ! Thank you for report !
We are not able to reproduce your issue , feel free to reopen it in case you can provide steps to reproduce it .

[2019-06-25 07:34] #23381 closed, assigned to nobody

[2019-06-25 08:05] engcom-Charlie commented on #23391
Hello @mshoaibqureshi ! Thank you for your report !
Seems like you are trying to run custom code. The GitHub issue tracker is intended for Magento Core technical issues only. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-06-25 08:05] #23391 closed, assigned to engcom-Charlie

[2019-06-25 08:07] evs-xsarus commented on #10241
I've fixed this by adding a custom router which needs to be run after the urlrewrite but before the cmspages router. In it, I perform a getList on \Magento\VersionsCms\Api\HierarchyNodeRepositoryInterface with a searchCriteria where I filter on page_id. A redirect is performed if the request_url from the node differs from the request->getOriginalPath.

[2019-06-25 08:07] LovelySetia opened #23392 "M2.2.7 : REST API V1 - PUT /V1/guest-carts/{cartId} gives 401 authorization error."
I try to assign a customer to a quote using the REST API.
This is a guest-endpoint so it should not require authentication. However, when I try to use it, the API tells me I am not allowed to do so

### Preconditions (*)

1.Magento 2.2.7

### Steps to reproduce (*)

1.Setup a quote as a guest and get it's masked ID (in this example it's Ai6z71bxdK3igp04qLBujM7RErkrhem6
2.Create a customer and get

[2019-06-25 08:23] LovelySetia commented on #23392
@magento give me 2.2.3 instance.

[2019-06-25 08:23] magento-engcom-team commented on #23392
Hi @LovelySetia. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2019-06-25 08:24] magento-engcom-team commented on #23392
Hi @LovelySetia, here is your [Magento instance](https://i-23392-2-2-3.instances.magento-community.engineering).
Admin access: [https://i-23392-2-2-3.instances.magento-community.engineering/admin](https://i-23392-2-2-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-25 08:28] tiacocstoe commented on #21264
Also experiencing the same thing in one of my magento stores so the problem is real. Somehow entries with visitor_id=0 appears and them shows to all visitors on site. Fix needed.

[2019-06-25 08:56] stoopman commented on #20045
@sergei-sss I've just encountered the same issue. It looks like an issue in the Category Model where the Url is loaded for a different store.

I ended up by setting the storeId on the UrlInstance before loading the url:
[code]

But I think this still should be fixed in the core model `Category::getUrl()`

[2019-06-25 09:03] LovelySetia commented on #23392
This issue is also in Magento-2.2.3.

[2019-06-25 10:01] magento-engcom-team commented on #23392
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17778`, `MC-17779` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-25 10:11] hackronshins commented on #23374
My environment is upgrade version from 2.3.0 to 2.3.1, Can you give a try on this upgrade from 2.3.0 to 2.3.1 and try to reproduce using paypal. and also try on virtual products. Please confirm me if anything required

[2019-06-25 10:19] magento-engcom-team commented on #23383
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17780`, `MC-17781` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-25 10:51] jakwinkler opened #23395 "Product prices: not caluclated based on exchange rates"
### Preconditions (*)

1. Magento 2.2.x CE
2. Multistore, 2 websites (for testing)
3. Prices per website, each website different currency, 1 USD, 1 EUR
4. Exchange rates set manually to reflect different exchange rates, for example USD/EUR = 1.5 (just for testing)

### Steps to reproduce (*)

1. Set different base currency for each website
2. Set only display currency for each website (different),

[2019-06-25 10:58] snoroozi commented on #17634
I see @adrian-martinez-interactiv4  has identified it, but I'm unclear what the 'fix' is. Can someone please put the fix plainly for others that land here too?

[2019-06-25 11:00] wdhrudra commented on #21666
I am facing the same problem with M2.3.1

[2019-06-25 11:15] AndyJAllen commented on #23384
I used

I used Paypal Payflow -- but I also experienced the error with Purchase Order payment method.

[2019-06-25 11:48] engcom-Bravo commented on #23385
Hello @victortodoran. Thanks for applying. The essence of this issue lies in the very [docs](https://docs.magento.com/m2/ce/user_guide/shipping/shipping-flat-rate.html) You most likely used. In fact this part
![Incorrect](https://user-images.githubusercontent.com/51680745/60094305-6049b100-9754-11e9-9a11-ecfedd433f13.png)
is incorrect and simply redundant. [Here](https://www.mageplaza.com/kb/how-t

[2019-06-25 11:53] victortodoran commented on #23385
Hi. Yes you are correct.
Found it in Shipping/AbstractCarrier::_getPrepackagePrice(), forgot to update the issue.

[2019-06-25 12:00] AndyJAllen commented on #23384
I played around with the code in Create.php and got it to work by adding an isset() check. So I changed Create.php function from
`    protected function _prepareQuoteItems()
    {
        foreach ($this->getQuote()->getAllItems() as $item) {
            $options = [];
            $productOptions = $item->getProduct()->getTypeInstance()->getOrderOptions($item->getProduct());
            if ($produc

[2019-06-25 12:13] Wirson commented on #22964
In Greek locale date format is dd/mm/yyyy. In English is mm/dd/yyyy.
Exactly [here](https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php#L186) the new DateTime() is called.
Try new DateTime('25/06/2019'). Fatal error occurs, but with new DateTime('06/25/2019') works.

[2019-06-25 12:18] engcom-Charlie commented on #23384
Hello @AndyJAllen !
You used custom code here , am i right ?

[2019-06-25 12:26] AndyJAllen commented on #23384
Hello Charlie,

All the code is from "magento/product-community-edition": "2.3.1" as of 5/31

I just bypassed the line of code in question to test-- the isset() addition probably doesn't make sense when attempting to set a value.

[2019-06-25 12:30] nimeshdolphin commented on #22269
The issue doesn't seems resolved yet?

As a workaround in 2.3.1,
/vendor/magento/module-catalog/Model/Product/Type/FrontSpecialPrice.php
from
private function isSuitableSpecialPrice($product, array $price): bool

I have replaced line
if (($priceStoreId == Store::DEFAULT_STORE_ID || $product->getStoreId() == $priceStoreId)
with
if (($product->getStoreId() == $priceStoreId)

[2019-06-25 12:31] rohit-prjpt commented on #22269
The issue doesn't seems resolved yet?

As a workaround in 2.3.1,
/vendor/magento/module-catalog/Model/Product/Type/FrontSpecialPrice.php
from
private function isSuitableSpecialPrice($product, array $price): bool

I have replaced line
if (($priceStoreId == Store::DEFAULT_STORE_ID || $product->getStoreId() == $priceStoreId)
with
if (($product->getStoreId() == $priceStoreId)

[2019-06-25 12:34] engcom-Bravo commented on #23385
@victortodoran we are glad for the mutual understanding on this issue reached between us. So with that let us close the issue.

[2019-06-25 12:34] #23385 closed, assigned to nobody

[2019-06-25 12:50] manezaf8 commented on #10878
I am asking this for magento one I did flush cache many times from the backend but that has never worked I had this warning on my logs for over 4 years now.

[2019-06-25 12:56] AndyJAllen commented on #22960
A little more information here.

When overriding vendor/magento/module-sales/Model/Order/Item.php
with function:

[code]

It will fix the problem indicated here however I am now suspecting this implementation of causing new problem here https://github.com/magento/magento2/issues/23384

[2019-06-25 13:10] kirtinariya1 commented on #15215
Still issue reproduce in Magento 2.3.1 while importing categories.

[2019-06-25 13:27] jammy-git commented on #23305
Thank you @engcom-Bravo, that is exactly what was needed and I can confirm that this works. Just for future reference, how would one know that the `cost` field should be under `additional_attributes` rather than as a separate column in the import file?

[2019-06-25 13:39] engcom-Alfa commented on #23380
Hi @JoaoOlsenTecnico ! Thank you for your collaboration!

I'm not able to reproduce the issue on latest 2.3-develop and 2.3.1 release.

**Steps to reproduce:**

1. Go to Storefront;
2. Create an Account;

**Actual Result:**
We received correct email content with sender's name

![screen](https://user-images.githubusercontent.com/51679138/60102610-b32c6400-9766-11e9-907e-357711d5b034.png)

[2019-06-25 13:39] #23380 closed, assigned to engcom-Alfa

[2019-06-25 13:39] danrcoull commented on #7495
for anyone coming across this issue, for me it was caused by having \" in any of the columns that are text based for example description and short_description

[2019-06-25 13:46] engcom-Alfa commented on #23378
Hi @JoaoOlsenTecnico !  thank you for you report, i'm closing this as duplicate to this -> #23380

[2019-06-25 13:46] #23378 closed, assigned to engcom-Alfa

[2019-06-25 13:49] engcom-Delta commented on #23096
Hi @huzanf
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-06-25 13:49] #23096 closed, assigned to engcom-Delta

[2019-06-25 13:58] okorshenko opened #23396 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-06-25 13:58] okorshenko commented on #23396
I'm working on it

[2019-06-25 14:06] okorshenko commented on #23396
@magento I'm working on this

[2019-06-25 14:12] okorshenko commented on #23396
@magento I'm working on this

[2019-06-25 14:14] okorshenko commented on #23396
@magento I'm working on this

[2019-06-25 14:14] okorshenko commented on #23396
@magento I am working on it

[2019-06-25 14:15] Kulvinderjatt commented on #14818
vtransy: Thanks, your comment helped me!! :-)

[2019-06-25 14:17] engcom-Charlie commented on #23384
Hello @AndyJAllen ! I can`t reproduce this issue after migrating from Magento 2.2.6 to Magento 2.3.1 .

[2019-06-25 14:17] #23384 closed, assigned to engcom-Charlie

[2019-06-25 14:26] #23396 closed, assigned to okorshenko

[2019-06-25 14:32] JoaoOlsenTecnico opened #23398 "Email Error"
Summary
When the user creates an account in my store, the "Welcome" email does not have the sender's name and transactional emails, such as purchase emails, correctly contain the sender's name defined in "E- mail address store ". I used Bitnami to install my Magento 2.3.0 and it is allocating on an AWS Ubuntu machine, I also use the MagePal Mail Module to connect to the mail server, but when I con

[2019-06-25 14:46] manuelcanepa opened #23399 "Label for custom attributes on checkout"
I have three custom attributes for customer address that not show the label on checkout

### Preconditions (*)
1. Magento 2.3.0
2. PHP 7.1+

### Steps to reproduce (*)
1. Create custom customer address attribute
2. Set label
3. Go to checkout
4. Fill attribute
5. Go to payment

### Expected result (*)
1. Show the label of attribute and value
![image](https://user-images.githubusercontent.com/10290

[2019-06-25 14:50] manuelcanepa commented on #23399
@magento give me 2.3-develop instance

[2019-06-25 14:50] magento-engcom-team commented on #23399
Hi @manuelcanepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-25 14:50] magento-engcom-team commented on #23399
Hi @manuelcanepa, here is your [Magento instance](https://i-23399-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23399-2-3-develop.instances.magento-community.engineering/admin](https://i-23399-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-25 14:55] manuelcanepa commented on #23399
Is an EE issue.

[2019-06-25 14:57] manuelcanepa commented on #23399
The issue is confirmed on CE

[2019-06-25 14:58] #23399 closed, assigned to nobody

[2019-06-25 14:59] manuelcanepa opened #23400 "Label for custom attributes on checkout"
I have three custom attributes for customer address that not show the label on checkout

### Preconditions (*)
1. Magento 2.3.0
2. PHP 7.1+

### Steps to reproduce (*)
1. Create custom customer address attribute
2. Set label
3. Go to checkout
4. Fill attribute
5. Go to payment

### Expected result (*)
1. Show the label of attribute and value
![image](https://user-images.githubusercontent.com/10290

[2019-06-25 15:01] manuelcanepa commented on #23400
Issue is confirmed. In EE you can create a custom attribute from backend, in CE you need to create a custom attribute from module, but once create, the label does not shown: https://github.com/magento/magento2/blob/c7c66ad979e6bd2ee9e268e1d5d071772737944f/app/code/Magento/Checkout/view/frontend/web/js/model/address-converter.js#L61-L69 is not mapped on array

[2019-06-25 15:03] manuelcanepa commented on #23400
@magento give me 2.3-develop instance

[2019-06-25 15:03] magento-engcom-team commented on #23400
Hi @manuelcanepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-25 15:03] magento-engcom-team commented on #23400
Hi @manuelcanepa, here is your [Magento instance](https://i-23400-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23400-2-3-develop.instances.magento-community.engineering/admin](https://i-23400-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-25 15:05] manuelcanepa commented on #23400
Issue is confirmed. In EE you can create a custom attribute from backend, in CE you need to create a custom attribute from module, but once create, the label does not shown: https://github.com/magento/magento2/blob/c7c66ad979e6bd2ee9e268e1d5d071772737944f/app/code/Magento/Checkout/view/frontend/web/js/model/address-converter.js#L61-L69 is not mapped on array

[2019-06-25 15:17] engcom-Bravo commented on #23305
@jammy-git, please take a note of this link on the Import page:
![import](https://user-images.githubusercontent.com/51680745/60108681-b37e2c80-9771-11e9-89e5-6cf7fcf6d5ff.png)
Here You can download a sample file with all the fields that are available for import with the current import Entity Type.
Also [here](https://docs.magento.com/m2/ce/user_guide/system/data-attributes-product.html) You can fi

[2019-06-25 15:17] #23305 closed, assigned to engcom-Bravo

[2019-06-25 15:34] chdzma opened #23401 "Bad display of product names in the minicart"
In the minicart the quotes are replaced by "& quot;", this happens with all the products.

### Preconditions (*)

1. Magento 2.2.8
2. PHP 7.1.24

### Steps to reproduce (*)

1. Create a new product where your name is between quotation marks. Ex: My "Product"
2. Go to page of this product.
3. Add this product in the checkout.

### Expected result (*)

![Selection_010](https://user-images.githubuser

[2019-06-25 15:45] pisc-software opened #23402 "Magento 2.3.1: Downloadable Purchased Link Items not added due to list result bug in SaveDownloadableOrderItemObserver"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.2

### Steps to reproduce (*)

1. Add Downloadable Product with minimum 1 Downloadable Link
2. Create new order in Backend with the Downloadable Product

### Expected result (*)

1. Table "downloadable_purchased_link_item" is filled with the downloadable links from the product.

### Actual result (*)

1. Only "downloadable_purchased_link" receives d

[2019-06-25 15:47] nathanjosiah commented on #22373
Magento 2.3.2 has been released and the fix for this issue is included.

[2019-06-25 15:47] jaywilliams commented on #18229
Here is a patch file, you can use if you're interested:

[code]

[2019-06-25 16:06] BradMorrisAlly commented on #16779
We ran into the same problem, and wasted a day coming up with the same patch.  This is a clear bug with a straight forward solution.  I don't understand why this was automatically closed.  Note also this affects 2.3.X as well, but the code has been moved to SalesOrderAfterPlaceObserver.php.

[2019-06-25 16:22] JoaoOlsenTecnico opened #23404 "Integration error"
Summary
When doing the integration with an ERP called Bling, I tried to import my products but the code "EAN / GTI" of the products is not being sent to the platform, when contacting them I was informed that it was the responsibility of Magento to do the mapping of fields.

Examples
I deployed the EAN field as a product attribute and individually registered it on each product.
![image](https://use

[2019-06-25 16:39] shikhamis11 commented on #23404
Hello @JoaoOlsenTecnico
GitHub is intended for bug reports. Please use Stack Overflow or [Magento Forum](https://community.magento.com/) for questions.

[2019-06-25 16:39] #23404 closed, assigned to shikhamis11

[2019-06-25 16:48] JoaoOlsenTecnico commented on #23404
Isso não é uma pergunta, é um erro

[2019-06-25 16:53] kirkmadera commented on #8504
Agreed that this should be able to be removed by setting it to null. Users may prefer to manage this at the server level. If Magento outputs this, it is not possible to manage server level because it ends up outputting the header twice.

[2019-06-25 16:57] shikhamis11 commented on #23404
Hello @JoaoOlsenTecnico
can you provide more information about the issue ? and also please share a example in more clear way to reproduce the issue

[2019-06-25 17:47] Karlasa commented on #23205
@moloughlin Thanks for well-formed issue report.
I agree that this exact config is not valid solution. Instead it should be something more generic setting in admin instead of braintree setting to still be able to disable link if needed.

Cheers,
Karla

[2019-06-25 18:19] magento-engcom-team commented on #23205
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17790` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-25 18:50] pmsteil opened #23405 "2.3.2 installed and bin/magento setup:upgrade not working"
### Preconditions (*)

1. Version 2.3.1 upgraded to Version 2.3.2

### Steps to reproduce (*)

1. I had 2.3.1 installed and working for last couple months
2. I did composer update  - all was still well
3. I ran composer to update to version 2.3.2
``` composer require magento/product-community-edition:~2.3.2 --no-update```
4. I then tried to fun my flush.sh which does:

bin/magento setup:upgrade
bi

[2019-06-25 19:27] hostep commented on #23405
@pmsteil: you'll probably need to [install the sodium php extension](https://www.php.net/manual/en/sodium.installation.php)

It's a bit annoying they haven't added it to the [dependencies in the `composer.json` file](https://github.com/magento/magento2/blob/2.3.2/composer.json#L15-L30).

[2019-06-25 19:32] Userr017 opened #23408 "Upgrading Magento 2.3.1 to 2.3.2 Issue"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.2

### Steps to reproduce (*)

1. Update Magento 2.3.1 to 2.3.2 using composer.
2. Run command: `composer require magento/product-community-edition 2.3.2 --no-update`

### Expected result (*)

1. Run command: `composer require magento/product-community-edition 2.3.2 --no-update`
2. Command run without error notification:

### Actual result (*)

1. R

[2019-06-25 19:38] pmsteil commented on #23405
@hostep thanks!  Any clues as to how to install these two from the command line?  Thanks!

[2019-06-25 19:44] hostep commented on #23405
I'm afraid you'll have to figure this out yourself as it depends on which package manager you are using.

I personally am using Macports on macOS as package manager, and over there that extension is available with the name `php72-sodium` or `php73-sodium`.

[2019-06-25 19:51] j0e1an opened #23409 "missing folder /lib/internal/Magento in 2.1.18"
**### Summary of the issue (*)**
Updated my magento 2.1.16 to 2.1.18 and could not get past setup:upgrade, saying missing serialize. Look for it and found out that the whole folder is missing. Download the zip file from https://magento.com/tech-resources/download also has no such folder but it exists in the github. Any ideas??
**### Preconditions (*)**
no
**### Expected result (*)**
Successfully r

[2019-06-25 19:57] pmsteil commented on #23405
Ok.  I am actually using docker if anyone can provide some help, it would be appreciated, thanks.

[2019-06-25 19:58] magento-engcom-team commented on #23315
Hi @slavvka.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-06-25 20:01] xmav commented on #23408
@Userr017 Could you please share result of this command:
`composer show magento/product-community-edition --all`

[2019-06-25 20:06] Userr017 commented on #23408
`composer show magento/product-community-edition --all`
[code]

[2019-06-25 20:21] xmav commented on #23408
Thats strange that you have only one version listed
`versions : * 2.3.1`. It should list all versions.
Do you have repo.magento.com in your root composer.json ?

[2019-06-25 20:22] magento-engcom-team commented on #23315
Hi @slavvka, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-06-25 20:30] Userr017 commented on #23408
No, i don't know whyt not. I add this?

[code]

[2019-06-25 20:32] xmav commented on #23408
Yes. Please add it  and try to update again

[2019-06-25 20:35] andrewhowdencom commented on #23405
Probably something like:

[code]

(Thanks MageMojo Fam)

[2019-06-25 20:44] msawyers commented on #23199
Yes, thats whats happening, issue still exist on Magento 2.3.2

[2019-06-25 20:55] Userr017 commented on #23408
Thanks! It works so solved.

[2019-06-25 20:55] #23408 closed, assigned to nobody

[2019-06-25 20:56] xmav commented on #23409
@jaycccca
You may locate framework related code under vendor/magento/framework folder.
Could you please share full exception message with trace ?

[2019-06-25 21:04] jcdennen commented on #21666
Hopefully this helps someone else, but I've been able to work around this issue by updating the following line https://github.com/magento/magento2/blob/2.3.1/lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php#L332

from `" 0:00am"` to `" 00:00"`

[2019-06-25 21:28] Userr017 opened #23410 "Magento 2 deploy - Error notifications"
### Preconditions (*)

1. Magento 2.3.1 and 2.3.2
2. PHP 7.2

### Steps to reproduce (*)

1. Run commands:
[code]

### Expected result (*)

1. Run command:`php bin/magento setup:static-content:deploy -f`
2. Without error notifications.

### Actual result (*)

1. Run command: `php bin/magento setup:static-content:deploy -f`
2. Error notifications:

Deploy using quick strategy
frontend/Magento/blank

[2019-06-25 21:41] ahdee commented on #10878
@manezaf8 perhaps is better to post this issue in a magento ver 1 forum as a new request?  For magento two you could try to manually delete the cache?  sorry my knowledge of magento is at its limit!

[2019-06-25 22:11] chequille opened #23411 "After upgrading to new version - No such entity with customerId critical logs"
### Summary
Sorry to say this, but as usually, after upgrading Magento versions something is wrong at the end.
I did have no exceptions and no errors before.
Now upgrading to 2.3.2 I get exceptions like:
`[2019-06-25 21:46:34] main.CRITICAL: Keine Eintrag mit customerId = 1 {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): Keine Eintrag mit customerId = 1 at /v

[2019-06-25 22:49] xmav commented on #23410
@Userr017
Could you please try to reproduce issue on clean Magento installation ?
(I could not reproduce it with "Minify JavaScript Files=Yes" on clean Magento installation. You might have broken js file in your theme)

[2019-06-25 22:59] robyerevan opened #23412 "Sub-category disabled in global scope not indexed in store scope"
### Preconditions (*)

1.  Multistore Magento 2.3.1 with sample data
2. Category hierarchy with minimum 3 levels and products within category
3. Enabled Layered Navigation

### Steps to reproduce (*)

1. Disable sub-category in global scope
2. Enable same category in store scope
3. Reindex catalog_category_product

### Expected result (*)

1. Category left navigation is showing correct number of i

[2019-06-25 22:59] robyerevan commented on #23412
@magento give me 2.3-develop instance

[2019-06-25 22:59] magento-engcom-team commented on #23412
Hi @robyerevan. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-25 23:00] magento-engcom-team commented on #23412
Hi @robyerevan, here is your [Magento instance](https://i-23412-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23412-2-3-develop.instances.magento-community.engineering/admin](https://i-23412-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-25 23:13] aligent-lturner commented on #6668
This issue is still present in 2.2.5, so it was either fixed and reintroduced, or it was not fixed.

[2019-06-26 00:52] shilpambb commented on #22366
+1, I'm seeing it after upgrading to 2.2.9 from 2.2.7

[2019-06-26 04:49] 4quaternion opened #23413 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-06-26 04:49] 4quaternion commented on #23413
@magento I am working on this

[2019-06-26 04:51] 4quaternion commented on #23413
@magento I am working on this

[2019-06-26 04:54] 4quaternion commented on #23413
@magento I am working on this

[2019-06-26 04:55] 4quaternion commented on #23413
@magento I'm working on this

[2019-06-26 05:02] ajijshekh123 commented on #23413
@4quaternion - Why you are close to this issue? Why you are not fill up the details?

[2019-06-26 05:03] ajijshekh123 commented on #23413
@4quaternion - If this issue you are prepared for testing purpose to let me know so I will close this issue.

[2019-06-26 05:03] 4quaternion commented on #23413
yes, we are testing new feature

[2019-06-26 05:03] 4quaternion commented on #23413
please don't close

[2019-06-26 05:04] ajijshekh123 commented on #23413
Okay, @4quaternion.

[2019-06-26 05:04] #23413 closed, assigned to nobody

[2019-06-26 05:05] 4quaternion commented on #22038
@magento I'm working on this

[2019-06-26 05:14] 4quaternion commented on #22038
@magento I'm working on this

[2019-06-26 05:15] #22038 closed, assigned to nobody

[2019-06-26 07:07] chdzma commented on #23401
@magento give me 2.2.8 instance

[2019-06-26 07:07] magento-engcom-team commented on #23401
Hi @chdzma. Thank you for your request. I'm working on Magento 2.2.8 instance for you

[2019-06-26 07:08] magento-engcom-team commented on #23401
Hi @chdzma, here is your [Magento instance](https://i-23401-2-2-8.instances.magento-community.engineering).
Admin access: [https://i-23401-2-2-8.instances.magento-community.engineering/admin](https://i-23401-2-2-8.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-26 07:14] chohanbhagchand commented on #23411
I am working on this at #dmcdindia19”

[2019-06-26 07:22] chdzma commented on #23401
Not reproduce on magento 2.2.8. The bug comes from a third party extension. The issue can be closed

[2019-06-26 07:23] #23401 closed, assigned to nobody

[2019-06-26 07:33] Flowlance commented on #19597
Same issue in a clean Magento 2 enterprise and MySql 5.7.

[2019-06-26 08:00] Userr017 commented on #23410
@xmav

I installed now clean Magento 2.3.2 with sample data and works without issues (Minify JavaScript Files="Yes").

I disabled Minify JavaScript Files for my website (Minify JavaScript Files="No"). So this is my theme or extension issue. This issue come after updates to latest Magento 2.3.1 files using command "composer update". Same issue is with Magento 2.3.2.

[2019-06-26 08:02] #23410 closed, assigned to nobody

[2019-06-26 08:03] engcom-Charlie commented on #23410
Hello @Userr017 ! Thank you for your report !
If you can confirm that this issue appears just because of your custom theme or 3rd party extension then i`m closing this one.

[2019-06-26 08:39] matei commented on #23405
Apparently if you disable the libsodium php extension, it will fallback on SHA-256 and won't break Magento.
In the Docker php-fpm image you can comment it out in _/usr/local/etc/php/conf.d/docker-php-ext-sodium.ini_:
` ;extension=sodium.so`

[2019-06-26 08:59] olivianicholls commented on #9857
I figured out a work around for this issue, if anyone else is also experiencing this issue. It might be a bit hacky but it's better than having to reupload every GIF every time the cache is flushed.

What I had to do was override Magento\Catalog\Model\View\Asset\Image, copy everything from that file, and change just getUrl() from:

`    public function getUrl()
    {
        return $this->context-

[2019-06-26 09:00] tudn9x opened #23414 "Generate coupon code with code length"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Create new Cart Price Rule
![image](https://user-images.githubusercontent.com/51681379/85837618-eb62ea00-b7a0-11ea-97c1-73c0b8fdaa7b.png)
![image](https://user-images.githubusercontent.com/51681379/85837645-f7e74280-b7a0-11ea-96de-d8f69638e5bf.png)
2. Click on Save and Continue Edit button
3. Open Manage Coupon Codes tab

[2019-06-26 09:01] marcusirgens opened #23415 "MAGETWO-95294 commit breaks backwards compatibility"
In commit 021a953482e06a622d1508fe35aa4e744d636493 [lib/internal/Magento/Framework/Search/Adapter/Mysql/ResponseFactory.php](lib/internal/Magento/Framework/Search/Adapter/Mysql/ResponseFactory.php) was changed in a non-backward compatible way that breaks the API of the class (`\Magento\Framework\Search\Adapter\Mysql\ResponseFactory::create` now requires a third array element named "total").

### P

[2019-06-26 09:05] atomixstar opened #23416 "Exception #0 (Exception): Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "#" already exists."
Hello, I know there are a lot of issues posted related to this problem but I cannot find the solution.

After migrate products from 1.9 to 2.x I am getting the following error on some products "Exception #0 (Exception): Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "#" already exists."

Frontpage, Category, Compare etc, I deleted some products manually but I need to fix it in m

[2019-06-26 09:08] engcom-Bravo commented on #23416
Hello @atomixstar. Problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository. We are supposed to close this issue here. Please reopen it there. Thank You for applying.

[2019-06-26 09:08] #23416 closed, assigned to nobody

[2019-06-26 09:21] Vinai opened #23417 "Declarative Schema: referential constraint rule updates not applied"
Changes of foreign key constraint rules in `db_schema.xml` from `onUpdate="CASCADE" to `onUpdate="SET NULL" or the other way are ignored.

# Preconditions (*)
1. Magento 2.3 or later

### Steps to reproduce (*)
1. Create a table using declarative schema with a column that has a foreign key constraint rule `onUpdate="CASCADE"`
2. Run `bin/magento setup:upgrade` to create the table
3. Change the con

[2019-06-26 09:38] cows-magento commented on #23405
Hi guys

same issue but sodium is installed. Any ideas?

**root@95c980598c59:/var/www/live# php -i | grep sodium**
Configure Command =>  './configure'  '--build=x86_64-linux-gnu' '--with-config-file-path=/usr/local/etc/php' '--with-config-file-scan-dir=/usr/local/etc/php/conf.d' '--enable-option-checking=fatal' '--with-mhash' '--enable-ftp' '--enable-mbstring' '--enable-mysqlnd' '--with-password-a

[2019-06-26 09:39] hostep commented on #23405
@cows-magento: according to the release notes I quotes above, you need at least version 1.0.13 of libsodium. So that might be the problem here.

[2019-06-26 09:42] hostep commented on #23405
@matei: indeed, good point, didn't notice that before!

But the check they implemented in https://github.com/magento/magento2/blob/2.3.2/lib/internal/Magento/Framework/Encryption/Encryptor.php#L165-L167 should probably be changed so it also checks the libsodium version, or check if that constant `SODIUM_CRYPTO_PWHASH_ALG_ARGON2ID13` exists or not.

[2019-06-26 09:53] dennisderoo commented on #13392
Is this fixed in 2.3.2 ?

[2019-06-26 10:13] thepratikpatel opened #23418 "Product Page Meta Title & Description are Not Changing"
Product Page's Meta Title And Description is not changing from the Search Engine Optimization Section.

It is Showing by Default Meta Title "Create New Customer Account"

I haven't install any extension for that

Don't Know Why Such error occurs in **Magento ver. 2.2.4**

[2019-06-26 10:14] thepratikpatel commented on #23418
Ok Trying Second Time

[2019-06-26 10:16] cows-magento commented on #23405
@hostep I am running docker on latest php7.2.19 and it installas version 1.0.11 by default
https://github.com/docker-library/php/blob/a9f19e9df5f7a5b74d72a97439ca5b77b87faa35/7.2/stretch/fpm/Dockerfile

do you have any idea how to force an update by default?

[2019-06-26 10:20] thepratikpatel opened #23419 "Meta Title & Product Description Not Changing through SEO section"
### Summary (Meta Title & Product Description Not Changing through SEO section)

### Examples (Search engine optimization section is not working for products information)

### Proposed solution - It should change in real-time

[2019-06-26 10:22] engcom-Charlie commented on #23418
Duplicate of #23419

[2019-06-26 10:22] #23418 closed, assigned to nobody

[2019-06-26 10:33] engcom-Charlie commented on #23412
Hello @robyerevan ! Thank you for your report !
I`m not able to reproduce your issue on Vanilla Magento 2.3-develop with sample data.

[2019-06-26 10:33] #23412 closed, assigned to engcom-Charlie

[2019-06-26 10:52] mareckigit commented on #21548
Try something like this:
`customer.subscribe(function (_customer) {
	console.log(_customer);
}, this);`

[2019-06-26 11:07] snez commented on #23405
The following docker snippet has worked for me:

[code]

[2019-06-26 11:46] engcom-Charlie commented on #23419
Hello @thepratikpatel ! Thank you for your report !
Could you provide more information about this issue ?

[2019-06-26 11:46] engcom-Bravo commented on #23395
Hello @qsolutions-pl. Thanks for applying. The current behavior is expected and necessary. Catalog Price for the product is 100. It is nether 100$ nor 100€ or any other currency. The price, so to say, gains its currency and its display value in a concrete situation depending on such things as Catalog Price Scope, Base Currency and Display Currency. For a better demonstration assume we have one mor

[2019-06-26 11:59] qb90 opened #23421 "Ship is not working on Firefox"
### Preconditions (*)
1. Magento 2.3.1
2. Firefox 67.0.4 ( 64bit on Windows10 )
3. Chrome 75.0.0

### Steps to reproduce (*)
1. Create order on store as user
2. Log in to magento panel as admin on Firefox
3. Select **Sales** -> **Orders** from main menu
4. Select order and go to details
5. Go to **Better Ship** tab - custom modification of Ship
DEV info : Print Shipping Label problem
Shipping with

[2019-06-26 12:13] clivewalkden commented on #23410
@Userr017 the issue is with an update to a depedency [tedivm/jshrink](https://github.com/tedious/JShrink) version 1.3.2

I've had the same issue with a third party module calling in moment.js and failing.

If you `composer require tedivm/jshrink:1.3.1` in you magento directory, and retry the static-content deploy it should work again. Could you confirm?

[2019-06-26 12:15] JoaoOlsenTecnico commented on #23404
Of course, according to the ERP, who should do the mapping and targeting of
the items for an API is Magento itself, I'd like to know what's going on.

Em ter, 25 de jun de 2019 às 13:58, Shikha Mishra <notifications@github.com>
escreveu:

[2019-06-26 12:18] Deathrezen opened #23422 "Usage of non-numeric value for "Number of Products to Display" setting in "Catalog Products List" widget leads to an exception"
### Preconditions
1. Magento 2.3.1 EE with sample data installed
2. PHP 7.2

### Steps to reproduce
1. Open any CMS page
2. In "Content" field add a Catalog Products List widget with settings:
Title = title
Number of Products to Display = azaza (or any other non-numeric value)
Display Page Control = No
Other settings have default values
3. Save the widget
4. Save the CMS page
5. Go to the CMS page

[2019-06-26 12:21] engcom-Charlie commented on #23405
Hello @pmsteil ! Thank you for your report !
I've successfully upgraded my Vanilla Magento 2.3.1 to Magento 2.3.2 without errors.
![Screenshot from 2019-06-26 15-12-15 (1)](https://user-images.githubusercontent.com/51680850/60179275-00bbd600-9826-11e9-88ee-19cf51151dde.png)

[2019-06-26 12:22] sergei-sss commented on #22094
I got this bug in 2.3.2 on
`bun/magento sampledata:deploy`
after installation.

I deleted the search engine setting (Elastic Search was early set)
`DELETE FROM core_config_data WHERE path='catalog/search/engine';`

and now it's ok, sample data was successfully installed.

[2019-06-26 12:25] engcom-Charlie commented on #23410
Hello @clivewalkden !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-06-26 12:27] hostep commented on #23405
Re-opening because @engcom-Charlie doesn't seem to be reading all the comments :)

@engcom-Charlie: try to run Magento 2.3.2 where php-sodium extension is installed but libsodium's verison is < 1.0.13

[2019-06-26 12:29] engcom-Charlie commented on #23421
Hello @qb90 ! Thank you for your report !
Can you confirm that this issue is reproducible on Vanilla Magento 2.3.1 ? Because as i can see , you are using some custom extensions here .

[2019-06-26 12:31] matei commented on #23405
**Manual testing scenarios**

- Have a docker-compose.yml with a DB container with a 2.3.1 database and a FPM container based on php:7.2.4-fpm
- On the FPM container , create a composer.json depending on Magento 2.3.2 (tested with magento/product-enterprise-edition but probably community has the same issue)
- Ensure you have an env.php file with appropriate configuration for connectivity to the DB

[2019-06-26 12:31] hostep commented on #23410
@clivewalkden or @Userr017: can you open an issue at https://github.com/tedious/JShrink with the exact problem you are having with minifying js files, maybe it was a new bug in their recent 1.3.2 release?

[2019-06-26 12:32] matei commented on #23405
I've prepared a PR, once 2.3-develop is updated with 2.3.2 I will submit it

[2019-06-26 12:35] magento-engcom-team commented on #23405
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17799` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-26 12:43] JoaoOlsenTecnico commented on #23398
@magento-devops some news??

[2019-06-26 12:46] engcom-Bravo commented on #23402
Hello @pisc-software. Thanks for reporting. We used as we are supposed to the latest 2.3-develop version when trying to reproduce Your issue. And here is what we've got:
![download](https://user-images.githubusercontent.com/51680745/60180643-2e564e80-9829-11e9-86e1-82811cc340fc.png)
Is there still some expected information missing in downloadable_link_purchased_item table?

[2019-06-26 13:02] Userr017 commented on #23410
@clivewalkden Yes, you are right.

I have this issue come when updated tedivm/jshrink:1.3.1 to version 1.3.2.

[2019-06-26 13:03] engcom-Charlie commented on #23411
Hello @chequille ! Thank you for report !
Any 3rd party modules/extensions installed ?

[2019-06-26 13:19] cows-magento commented on #22189
Hello

I am getting same issue after upgrade to magento 2.3.2

Cleaned var/ and generated/*. Cleaned Redis, flushed cache in Admin Panel

[code]

[2019-06-26 13:24] mattijv opened #23423 "Dynamically created config fields filtered out in the save controller (M2.3.2)"
### Summary

We have a module that adds config fields dynamically to the admin shipping method page. When testing the module in M2.3.2 we ran into an issue where saving any values via the admin page was impossible. The reason is the filter in the save controller added in this commit https://github.com/magento/magento2/commit/8089bd741cd3521943c1b33b6d80c74df8a49667 that strips out all fields not d

[2019-06-26 13:27] mattijv commented on #23423
Since there seems to be no label for it, I want to stress that this is strictly a developer experience issue.

[2019-06-26 13:30] engcom-Golf opened #23424 "Search by keyword didn't work properly with "0" value"
### Preconditions
1. Magento 2.3
2. Add 4 simple products (simple 1, simple 2, simple 0 and simple 4)
![image](https://user-images.githubusercontent.com/51681547/60183578-3dd89600-982f-11e9-90f7-440ec3f3413e.png)

3. set 2 products per page

### Steps to reproduce (*)
1. In field "search by keyword" set 0 and click search

### Expected result (*)
1.  Product "simple 0" will be found

### Actual re

[2019-06-26 13:35] magento-engcom-team commented on #23414
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17800`, `MC-17801` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-26 14:12] asshumski opened #23426 "Payment methods not visible on checkout"
### Preconditions (*)

1. Magento 2.2.8
2. Magento Cloud

### Steps to reproduce (*)

1. Add item to cart and Go to checkout
2. On the first step fill in required data and click next to proceed to the second step (notice that 'next' button is disabled after the first click)
3. Go back to the first step and click 'next' button multiple times, after that 'payment methods' on the second step will bli

[2019-06-26 14:16] rickschippers commented on #22587
I have a patch available that reverts back to the previous behaviour by re-adding the removed join condition:

https://bitbucket.org/muntzamersfoort/magento2-patches/raw/0ac032f30a6ab8b3f56b63d06db4c1649923f499/layered-navigation-performance.patch

I use https://github.com/cweagans/composer-patches to apply it. To use it just composer require cweagans/composer-patches. And add the patch in the ext

[2019-06-26 14:23] engcom-Charlie commented on #23426
Hello @asshumski ! Thank you for your report !
I`m not able to reproduce this issue. Feel free to reopen it in case you can confirm that it`s reproducible on Vanilla Magento instance.

[2019-06-26 14:23] #23426 closed, assigned to engcom-Charlie

[2019-06-26 15:16] magento-engcom-team commented on #23400
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17809`, `MC-17810` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-26 15:32] magento-engcom-team commented on #23424
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17811`, `MC-17812` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-26 16:22] shikhamis11 commented on #23230
Hello @OleksiiBulba
Thanks for your report
this issue seems to be duplicate of #22614 so closing this one

[2019-06-26 16:22] #23230 closed, assigned to shikhamis11, konarshankar07

[2019-06-26 16:29] jadrew1 commented on #10594
Was this an issue that you as a single user @storepeinture were facing, or were there multiple admins who had the same issue?

I am having this issue now and my webmaster insists that if it were caused by the PHP settings, everyone would be having the issue and not just me.

[2019-06-26 16:35] magento-engcom-team commented on #22638
Hi @magesanjay. Thank you for your report.
The issue has been fixed in magento/magento2#22800 by @sanjaychouhan-webkul in 2.3-develop branch
Related commit(s):
 - [4eab52881a5fd646a4283dbe5e0df2c147b25564](https://github.com/magento/magento2/commit/4eab52881a5fd646a4283dbe5e0df2c147b25564)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-26 16:35] #22638 closed, assigned to shubhamkhandelwalrtpl

[2019-06-26 16:35] magento-engcom-team commented on #23346
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#23367 by @konarshankar07 in 2.3-develop branch
Related commit(s):
 - [e915796a0e75b67f9290d23352588a0d272e1629](https://github.com/magento/magento2/commit/e915796a0e75b67f9290d23352588a0d272e1629)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-26 16:35] #23346 closed, assigned to konarshankar07

[2019-06-26 16:35] magento-engcom-team commented on #23333
Hi @alexeya-ven. Thank you for your report.
The issue has been fixed in magento/magento2#23338 by @alexeya-ven in 2.3-develop branch
Related commit(s):
 - [292fa21391f15055480542f22d3588641ba5f069](https://github.com/magento/magento2/commit/292fa21391f15055480542f22d3588641ba5f069)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-26 16:35] #23333 closed, assigned to arendarenko

[2019-06-26 16:35] magento-engcom-team commented on #23230
Hi @OleksiiBulba. Thank you for your report.
The issue has been fixed in magento/magento2#23247 by @konarshankar07 in 2.3-develop branch
Related commit(s):
 - [ce56c70e90172d8cb936c12232bf66532ea8b32c](https://github.com/magento/magento2/commit/ce56c70e90172d8cb936c12232bf66532ea8b32c)
 - [f5a93b779a41a5cb14830814e553876ccb7cdbcb](https://github.com/magento/magento2/commit/f5a93b779a41a5cb14830814

[2019-06-26 16:35] magento-engcom-team commented on #13227
Hi @novakivskiy. Thank you for your report.
The issue has been fixed in magento/magento2#22650 by @atishgoswami in 2.3-develop branch
Related commit(s):
 - [50d8546617115c3daedeff78af318849acb9c1cf](https://github.com/magento/magento2/commit/50d8546617115c3daedeff78af318849acb9c1cf)
 - [d254b9f1b8bd4ae557d0dc2308aa9f79af96289b](https://github.com/magento/magento2/commit/d254b9f1b8bd4ae557d0dc2308a

[2019-06-26 16:35] #13227 closed, assigned to atishgoswami

[2019-06-26 16:35] magento-engcom-team commented on #22266
Hi @ilnytskyi. Thank you for your report.
The issue has been fixed in magento/magento2#23218 by @ArjenMiedema in 2.3-develop branch
Related commit(s):
 - [361965b1c874f096d0758782ed7539e53460dc19](https://github.com/magento/magento2/commit/361965b1c874f096d0758782ed7539e53460dc19)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-26 16:35] #22266 closed, assigned to ilnytskyi, ArjenMiedema

[2019-06-26 16:56] debrarhogan commented on #22094
I had the same problem (not being able to add a stock item).  It worked fine with only one website, but when I added a second, the problem started (deleting the second website and it worked fine again).  After a lot of research, I would that the second website was not listed in the following table:
inventory_stock_sales_channel
I added the website and it works just fine (also makes sense why it di

[2019-06-26 17:57] engcom-tester commented on #23314
@magento I am working on it

[2019-06-26 17:58] engcom-tester commented on #23314
@magento I am working on it

[2019-06-26 17:59] sdzhepa commented on #23314
@magento I am working on it

[2019-06-26 17:59] engcom-tester commented on #23314
@magento I am working on it

[2019-06-26 18:07] ilnytskyi opened #23429 "Url Rewrites are lost if an exception thrown or deadlock during regeneration"
Magento 2.3.x probably 2.2 and 2.1 as well
### Preconditions (*)
In some cases when the `url_rewrite` has a lock and e.g. after the product saving - M2 regenerates URL and leaves the product without readable urls and affected URL lead to 404 page since they had not been generated again.

1.
2.

### Steps to reproduce (*)

1. Save product to trigger url regenerate
2. Simulate lock on `url_rewrite`

[2019-06-26 18:17] jaywilliams commented on #5321
Another workaround for those who still are looking for a solution for this is to create a dummy pub symlink in the pub directory, like so:

    $ ln -s . pub

[2019-06-26 18:25] magento-engcom-team commented on #23238
Hi @renard123. Thank you for your report.
The issue has been fixed in magento/magento2#23332 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [a9406b5da9f0e9315b161be358205075a42a12bd](https://github.com/magento/magento2/commit/a9406b5da9f0e9315b161be358205075a42a12bd)
 - [aa497280c88608e5a969558db0ef4d421413f49c](https://github.com/magento/magento2/commit/aa497280c88608e5a969558db0ef4

[2019-06-26 18:25] magento-engcom-team commented on #18337
Hi @BezV8. Thank you for your report.
The issue has been fixed in magento/magento2#23331 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [83a9c9b16a9d00590491a64684de65702e7d7956](https://github.com/magento/magento2/commit/83a9c9b16a9d00590491a64684de65702e7d7956)
 - [39e7c2cbda322b7aac524fca6fa7566436bf143d](https://github.com/magento/magento2/commit/39e7c2cbda322b7aac524fca6fa7566

[2019-06-26 18:25] magento-engcom-team commented on #22736
Hi @bhavik43. Thank you for your report.
The issue has been fixed in magento/magento2#23352 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [c068886d876c2fc76f6600ba515bc2e125f58697](https://github.com/magento/magento2/commit/c068886d876c2fc76f6600ba515bc2e125f58697)
 - [525396ac328f058dcfd9ad740976ce1d8d8e2aa7](https://github.com/magento/magento2/commit/525396ac328f058dcfd9ad740976ce

[2019-06-26 18:25] magento-engcom-team commented on #22767
Hi @Sharkozp. Thank you for your report.
The issue has been fixed in magento/magento2#23149 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [70d0992d84a9fe149550ca2a22de54e0f2e7b068](https://github.com/magento/magento2/commit/70d0992d84a9fe149550ca2a22de54e0f2e7b068)
 - [70aacf1090f7b8269f71a6be883bbfab2ba9d262](https://github.com/magento/magento2/commit/70aacf1090f7b8269f71a6be883bbf

[2019-06-26 18:25] magento-engcom-team commented on #22636
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#23150 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [f1e8d055cbe9b7890afa675d35d25f3c175672b5](https://github.com/magento/magento2/commit/f1e8d055cbe9b7890afa675d35d25f3c175672b5)
 - [f4653b1997ad523bd69046e5854477643b9f285a](https://github.com/magento/magento2/commit/f4653b1997ad523bd69046e58544

[2019-06-26 19:26] Supplement commented on #10290
I've put in a ticket with magento but is there any updates here on getting the secure check on the browser side. I'm running https on both the frontend and backend.

[2019-06-26 19:27] navarr commented on #19846
Of particular harshness is that I need access to the Custom Options of a Cart Item for a quote in the admin panel while it is being placed.

As far as I can tell, these are only instantiated in the CartItemOptionsProcessor, which is not API and is only used by the Quote\Item\Repository, of which the only way to get cart items is if the quote is active.

To work around this will require me to depen

[2019-06-26 20:25] chequille commented on #23411
Yes, of course some third party modules.
And as well own stuff.
Ok, my own stuff does not access customer classes. So I guess these are not the reason for this exception.

Regarding German Law regulations and privacy I am using "mageplaza module-gdpr". This is some customer related stuff.

How can I find out which extension is causing the exception?

Is there a way to find out?

[2019-06-26 20:48] xmav commented on #23370
@subhrajyotiw5rtc
It seems that `%` should be encoded in query.
Could you try following update to your script?

[code]
Please check https://devdocs.magento.com/guides/v2.3/rest/performing-searches.html for more information

[2019-06-26 21:45] engcom-Bravo commented on #23374
Hi again @hackronshins. We've done what You asked us to do and we have got no bug again. We installed a vanilla instance of 2.3.0
![230](https://user-images.githubusercontent.com/51680745/60216631-3804a400-9873-11e9-9907-d96a13dc79d0.png)
Created a Simple and a Virtual products there and upgraded it to 2.3.1
![upgraded](https://user-images.githubusercontent.com/51680745/60216676-5ff40780-9873-11e9

[2019-06-26 21:45] #23374 closed, assigned to engcom-Bravo

[2019-06-26 22:01] magento-engcom-team commented on #21380
Hi @udovicic. Thank you for your report.
The issue has been fixed in magento/magento2#23312 by @chickenland in 2.3-develop branch
Related commit(s):
 - [7859a2fafe944d0001f663b8502143202dea0216](https://github.com/magento/magento2/commit/7859a2fafe944d0001f663b8502143202dea0216)
 - [dd5af3d8daf095642839ab0af3e716e3e6d93be9](https://github.com/magento/magento2/commit/dd5af3d8daf095642839ab0af3e716e

[2019-06-26 22:01] #21380 closed, assigned to chickenland

[2019-06-26 23:10] barrakoot43 opened #23431 "Magento Admin Panel not loading properly."
Hey Everyone,

Just wondering if anyone can help me, all of a sudden i cannot view the Magento Admin Panel, it seems as if the page isn't loading properly or restricted. Any help would be greatly appreciated.

![Screen Shot 2019-06-26 at 4 48 15 pm](https://user-images.githubusercontent.com/52262550/60221000-53939d00-98bb-11e9-8284-d4f340971e59.png)

Magento ver. 2.3.0

### Preconditions (*)

1.
2

[2019-06-27 00:22] LeonardoRossetti commented on #12975
In my case, first attempt to create the shipment it worked well, but if I send it again I am having this message:
{
    "message": "Shipment Document Validation Error(s):\nThe order does not allow a shipment to be created.\nYou can't create a shipment without products."
}

[2019-06-27 01:16] SamB-GB opened #23432 "When viewing product only the image shows"
Upgraded to 2.3.2 and now when viewing a product only the product image shows and the following PHP error is generated.

[27-Jun-2019 01:14:57 UTC] PHP Fatal error:  Uncaught Error: Call to a member function getOptionsJson() on null in /chroot/home/a06150d0/magento_root/vendor/magento/module-catalog/view/frontend/templates/product/view/gallery.phtml:48
Stack trace:
#0 /chroot/home/a06150d0/magento

[2019-06-27 02:46] albertusatria commented on #23408
@Userr017,

could you help me how you got the upgrade worked using Composer from 2.3.1 to 2.3.2 ?
(PHP version of mine: 7.2)

Here's what I tried:
1. Cloned the Magento Community repository
2. Switched into **2.3.1** tags: `git checkout tags/2.3.1`
2. run command: `composer install` (download required vendor's dependencies)
3. adding codes into composer.json per @xmav confirmation above :
[code]

[2019-06-27 03:23] konarshankar07 commented on #22614
Hello,
I've fixed this issue here [#23247](https://github.com/magento/magento2/pull/23247). So I'm closing this issue.
Thanks

[2019-06-27 03:23] #22614 closed, assigned to nobody

[2019-06-27 04:36] ajijshekh123 commented on #23431
Hi @barrakoot43,
This issue related to Default Magento caching or Any config the JS error or Custom module.
If you have found this issue in Magento instance please add Preconditions, Steps to reproduce and Actual result.
If you are not fill up all the details properly I will close this issue shortly.

[2019-06-27 04:51] barrakoot43 commented on #23431
Preconditions:
-I am working with a website developer to build a new Magento based website for our business
-When i login to the Admin Panel the page does not display CSS properly, appears to be broken.
-The website developer is in another country and does not experience this issue, the issue only arises on our end.
![Screen Shot 2019-06-26 at 4 48 15 pm](https://user-images.githubusercontent.com/

[2019-06-27 04:53] ebofi opened #23433 "URL issue on Magento 2.2.8 Multi-store"
### Summary of the issue
The site was migrated from Magento 1.9.8 to Magento 2.2.5 and later updated to 2.2.8
We have a issue when creating multi-store website on magento 2

We have 3 multi stores one for English language, Spanish and Italy. And among this English is our main site with domain example.com

I had created a new website using magento store and changed the URL of newly created store to

[2019-06-27 05:05] ajijshekh123 commented on #23431
@barrakoot43 - It seems that the static resources are giving 404 errors while browsing Magento backend. If this Magento instance is working well at developers end then probably the issue in the network in which you are currently browsing the site and blocks static resources to get rendered.

This doesn't seem Magento's default issue. Please communicate your website developer for the same.

[2019-06-27 05:11] mattegalli commented on #11657
I fix the problem just updating _system_config_snapshot_ flag_path to NULL in flag table.
Then re-run app:config:import

[2019-06-27 05:16] barrakoot43 commented on #23431
Thank you for the reply @ajijshekh123, what would be the possible resolution for this?

[2019-06-27 05:36] Flyiii commented on #2634
nginx的解决方法

[2019-06-27 05:40] ajijshekh123 commented on #23431
@barrakoot43 - As I have mentioned earlier, this is not Magento's default issue and I am afraid we won't be able to help in such cases. For now, I am closing this issue, if you have any further concerns, please feel free to reopen issue again and I will try best to respond to your concern.

[2019-06-27 05:40] #23431 closed, assigned to nobody

[2019-06-27 05:56] sanjay-github opened #23434 "getImageUploadConfigData method is not defined in block and hence throwing undefined method issue."
### Preconditions (*)

1. Magento 2.3.2 CE

### Steps to reproduce (*)

1. Have not found specific area where it would show this error but I have used the core code in my application so listing out the files that needs to be checked.

2. Please refer this files
1.` /var/www/html/magento2/vendor/magento/module-backend/view/adminhtml/templates/media/uploader.phtml.`

2.` /var/www/html/magento2/vendo

[2019-06-27 06:07] barrakoot43 commented on #23431
I think this is absolutely a Magento issue. Magento was working fine, and now it is not. I have tried everything to rectify it outside of Magento but nothing is working which clearly shows this is an issue within Magento. I have searched other issues on this forum and found other people have had similar issues as well and it has been Magento related.

[2019-06-27 06:51] Userr017 commented on #23408
Magento 2.3.1 package is root file composer.json. Check it.

[2019-06-27 06:52] salelsol commented on #14952
Has someone upgraded and verified if the error continues in version 2.2.9?

[2019-06-27 07:33] magento-engcom-team commented on #23434
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17842` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-27 07:45] bst2002git opened #23435 "Catalog Products Filter in 2.3.2"
Preconditions (*)

Magento 2.3.2

Steps to reproduce (*)

Catalog -> Products set Filters: Status "Enabled" is not honored in 2.3.2 and vice versa
in 2.3-develop

Reproduced on 2.3.x, 2.3-develop

Expected result (*)

Show only products where Status=Enabled or vice versa

Actual result (*)

Products with status either "Enabled" or "Disabled" are displayed in grid

[2019-06-27 07:48] bst2002git commented on #23435
@magento give me 2.3.2 instance

[2019-06-27 07:48] magento-engcom-team commented on #23435
Hi @bst2002git. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-06-27 07:48] magento-engcom-team commented on #23435
Hi @bst2002git, here is your [Magento instance](https://i-23435-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-23435-2-3-2.instances.magento-community.engineering/admin](https://i-23435-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-27 08:05] bst2002git commented on #23435
@magento give me 2.3-develop instance

[2019-06-27 08:06] magento-engcom-team commented on #23435
Hi @bst2002git. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-27 08:06] magento-engcom-team commented on #23435
Hi @bst2002git, here is your [Magento instance](https://i-23435-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23435-2-3-develop.instances.magento-community.engineering/admin](https://i-23435-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-27 08:17] Parakoopa commented on #4955
We now also encountered this issue when upgrading to Magento 2.2.3, but with a different message:
In PathValidator.php line 65:

  Path "/src/app/etc/" cannot be used with directory "/src/app/etc/"

Tests confirmed, that it is the same issue (production mode). When env.php is writable, the issue doesn't happen.

This is a big issue for us, because we are using Kubernetes and the env.php is coming

[2019-06-27 08:24] engcom-Charlie commented on #23411
Hello @chequille !
Please provide more information about this issue , some steps to reproduce it . Also did you try to reproduce this issue on Vanilla Magento instance ?

[2019-06-27 08:32] johnspostsalotfishing commented on #15115
@engcom-backlog-nazar it is ridiculous that the status of this issue is closed when it is so clearly happening in every version of Magento 2.2 and from reports Magento 2.3, wayy after you've said it's been "fixed" and therefore closed. Do you have any updates on this at all?

[2019-06-27 08:56] tvanriel commented on #22789
bump?

[2019-06-27 09:04] Parakoopa commented on #4955
The reason for this is the new Observer page_cache_switcher_for_maintenance that tries to disable the PageCache in Magento 2.3.2 when enabling maintenance mode.

[2019-06-27 09:04] sanjay-github commented on #23434
@engcom-Charlie: I am working on this issue.

[2019-06-27 09:09] MarcusWolschon commented on #20033
2.3.2 is releases.
While it may or may not have solved the email issue for order emails,
the broken contact-form still does not work.
(Will look if a ticket for that already exits)

[2019-06-27 09:11] engcom-Charlie commented on #23421
Feel free to reopen it in case you can confirm that you are able to reproduce this issue on Vanilla Magento instance.

[2019-06-27 09:11] #23421 closed, assigned to engcom-Charlie

[2019-06-27 09:30] vasuscoin commented on #23414
@magento-engcom-team  @engcom-Bravo
I'm working on this issue.

[2019-06-27 09:40] cieslix commented on #23421
@engcom-Charlie it is related to Printing Shipping Label, it happens when you start Ship process and you are using shipping carrier which provides PDF Label service. On vanilla Magento this is impossible to check, because lack of credentials to any Shipping Label service. But anyway after you create shipment with PDF Label you should be redirected to Sales Order View. It is correctly handled on Ch

[2019-06-27 09:45] supportnubix opened #23437 "Incorrect shipment amount after credit memo."
### Preconditions (*)
1. Magento 2.2.8 clean install.

### Steps to reproduce (*)
1. Create a new order
2. Add 4 different products to order.
3. Submit the order.
4. Open the newly created order
5. Invoice the order.
6. Create a credit memo.
7. For 2 products set the number to credit on 1 and for 2 products on 0, so you're refunding 2 products.
![image](https://user-images.githubusercontent.com/32

[2019-06-27 09:47] qb90 commented on #23421
@engcom-Charlie please reopen this issue

[2019-06-27 09:48] supportnubix commented on #23437
@magento give me 2.2.8-develop instance

[2019-06-27 09:48] magento-engcom-team commented on #23437
Hi @supportnubix. Thank you for your request. I'm working on Magento 2.2.8-develop instance for you

[2019-06-27 10:03] engcom-Charlie commented on #23421
Hello @cieslix , @qb90 !
We`ve tested this issue and we can`t not reproduce it our Magento instance . Probably you have that kind of Error because you are using Windows OS ( here is a link with requirements https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html) . Try to reproduce it using Linux, Ubuntu and similar OS .

[2019-06-27 10:04] chakravarthykalyan90 commented on #14113
We are running 2.3.1 the bug is still there. Looks like the print is called before the complete page load. If we try to print for the second time then it is working.

[2019-06-27 10:33] sanjay-github commented on #23434
Just figured out that it is not actually a issue but a different approach to call a method.
This method is not actually defined in the block but added dynamically this way.

[code]

[2019-06-27 10:40] #23434 closed, assigned to nobody

[2019-06-27 11:02] asshumski commented on #23426
It is reproducible
[magento_2_checkout.zip](https://github.com/magento/magento2/files/3334280/magento_2_checkout.zip)

[2019-06-27 11:20] engcom-Charlie commented on #23437
Hello @supportnubix ! Thank you for report !
I`m not able to reproduce this issue on Vanilla Magento instance.
![Screenshot from 2019-06-27 14-16-12](https://user-images.githubusercontent.com/51680850/60262404-bfd7c600-98e6-11e9-814f-0aa71419b712.png)

[2019-06-27 11:22] gewaechshaus commented on #15427
Hey @all, Hey @convenient ,

we are currently facing this issue on every order in a customers MOS 2.2.8 system, as soon as we configure the action to "sale" instead of "authorization". Hard to debug, any hints are welcome.

[2019-06-27 11:29] simonmaass opened #23440 "Refund for bundle product without receiving product back"
### Preconditions (*)

1. 2.3.1
2. php7.2

### Steps to reproduce (*)

1. Create bundle product with at least 2 products
2. Create order with bundle product (eg. 50€)
3. Invoice Order
4. Shop Order
5. Create Credit Memo without taking the product back in stock and only refund amount (eg. 10€)
![Unbenannt](https://user-images.githubusercontent.com/32599710/60262811-661fcd80-98df-11e9-9e83-693f3bbd0

[2019-06-27 11:30] simonmaass commented on #23440
@magento give me 2.3-develop instance

[2019-06-27 11:30] magento-engcom-team commented on #23440
Hi @simonmaass. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-27 11:31] magento-engcom-team commented on #23440
Hi @simonmaass, here is your [Magento instance](https://i-23440-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23440-2-3-develop.instances.magento-community.engineering/admin](https://i-23440-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-27 11:33] BlackRhinoMedia commented on #23432
I have the same issue:

Basically the code for some reason in the product/view/gallery.phtml expects $block->getGalleryOptions() to always be an object - in this instance it returns null and the result call of getOptionsJson() is causing an exception which kills the script from continuing hence just the image which is return above the snippet is displayed.

`<script type="text/x-magento-init">

[2019-06-27 11:34] engcom-Charlie commented on #23437
@supportnubix Okay , i found a way to reproduce it on Magento 2.2.9-develop

[2019-06-27 11:36] #23437 closed, assigned to engcom-Charlie

[2019-06-27 11:38] dakira commented on #10594
@jadrew1 Magento uses PHPs default settings. If they can't be changed, then yes, everyone will have this issue with Magento. Setting `session.gc_maxlifetime = 86400` is the correct solution.

[2019-06-27 11:41] magento-engcom-team commented on #17492
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17845`, `MC-17846` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-27 11:46] DaimPiek commented on #16171
I recently encountered this issue as well. This time working on a Magento 2.1.X store.

We recently **removed all command output** in favour of logging. This caused the aforementioned "Area code not set: Area code must be set before starting a session." exception to be thrown.

We fixed this by ensuring the command has output by writing a line to the console. ($output->writeln()).

The issue is th

[2019-06-27 11:47] mrtuvn opened #23441 "allow implement wysiwyg for frontend ?"
### Description (*)
From frontend user can interactive with wysiwyg editor with less action than admin

### Expected behavior (*)
No implements yet in frontend with wysiwyg

### Benefits
possible provide convention way for 3rd-party extension provider can intergrate wysiwyg in frontend

### Additional information

[2019-06-27 11:51] avenicus commented on #23432
A temporary workaround is to override module-catalog/view/frontend/templates/product/view/gallery.phtml file on your theme from Magento 2.3.1. Works for me.

[2019-06-27 11:51] magento-engcom-team commented on #23440
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17848`, `MC-17849` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-27 12:07] ak00537479 commented on #13504
g

[2019-06-27 12:09] SamB-GB commented on #23432
Thing is it was working fine in 2.3.1 with no changes required this end.

[2019-06-27 12:33] craigcarnell commented on #19604
@chernenm Really surpised this was not included in 2.3.2???

[2019-06-27 12:37] govereem opened #23442 "Array to string conversion in 2.3.1 value.php"
### Preconditions (*)
Magento 2.3.1
Set default setting in env.php, something like.
[code]

### Steps to reproduce (*)
When env.php file is set with some values run `bin/magento  app:config:import`

### Expected result (*)
Processing configurations data from configuration file...
System config was processed

Process finished with exit code 0

### Actual result (*)
The change in app/code/Magento/St

[2019-06-27 12:43] shikhamis11 commented on #23441
hello @mrtuvn
This repo is for magento core functionality bugs for new features you can create issue at [Feature Request](https://github.com/magento/community-features)

[2019-06-27 12:43] #23441 closed, assigned to shikhamis11

[2019-06-27 12:48] hostep commented on #23441
@mrtuvn: since you were also commenting in https://github.com/magento/magento2/issues/21766, does this mean that exposing that `wysiwygAdapter` thingy on the frontend isn't enough to get the wysiwyg working? And does that also mean that issue #21766 is actually valid and we can remove it from the frontend entirely then?

[2019-06-27 13:13] qrider commented on #17310
Did this not fix the issue? What 2.3 release was this in?

[2019-06-27 13:20] qrider commented on #17310
Answered my own question. Looks like it is in at least 2.3.1. We are getting the error with the above patch. Bumped max_concurrency to 20 from 6 to see what happens.

[2019-06-27 13:23] DanielRuf commented on #19604
@craigcarnell releases are cut and planned much earlier as changelogs and more gave to be created and so on.

If you need it earlier you can use the .patch/diff version of the PR then and apply it with composer-patches.

[2019-06-27 13:26] TommyKolkman opened #23443 "Unable to setup upgrade in developer mode of Magento 2.3.2, db_schema.xml invalid"
### Preconditions (*)

Updating from Magento 2.2.9 to 2.3.2 in developer mode.
[code]
`Server version: 10.3.12-MariaDB Homebrew`

### Steps to reproduce (*)

1. Run `pre_composer_update_2.3.php` on M2.2.9 - finishes without error.
2. Clear all caches and generated code.
3. Clear redis.
4. Run setup:upgrade.

### Expected result (*)

1. Setup:upgrade should finish without problems, updated all modu

[2019-06-27 13:28] craigcarnell commented on #19604
@DanielRuf Do you have a PR or diff to use? It must be quite big to update composer.json of most modules?

[2019-06-27 13:39] jadrew1 commented on #10594
Thank you @dakira. I should have added that I'm the only person at my workplace having this issue, which is why the webmaster doesn't believe it has to do with the PHP.

[2019-06-27 13:43] mattijv commented on #23435
Can confirm. The issue is caused by the new `addAttributeToFilterAllStores` method [here](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Ui/DataProvider/Product/ProductCollection.php#L81).

Unfortunately the sql generated by that method forgets to add an attribute_id condition, which means any attribute of the same type with the same value will match. In the sample d

[2019-06-27 13:48] melaxon opened #23445 "Unable to set sliders to No to unselect components during upgrade to 2.3.2"
### Preconditions (*)

1. 2.3.1
2. Developer mode

### Steps to reproduce (*)

1. Proceed to Web Setup Wizard
2. Insert the keys and proceed to system upgrade
3. Set Other components to Yes
4. Wait while the system checks for new versions and try to unselect some components.

### Expected result (*)

1. The sliders must move left and right to select/unselect components
2.

### Actual result (*)

1

[2019-06-27 14:05] magento-engcom-team commented on #21974
Hi @AndreasMueller75. Thank you for your report.
The issue has been fixed in magento/magento2#23393 by @geet07 in 2.3-develop branch
Related commit(s):
 - [eb28f14cc4a1d8b5c3d5ac5bff037a3b5661b833](https://github.com/magento/magento2/commit/eb28f14cc4a1d8b5c3d5ac5bff037a3b5661b833)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-27 14:05] #21974 closed, assigned to geet07

[2019-06-27 14:05] magento-engcom-team commented on #23377
Hi @iamckindia. Thank you for your report.
The issue has been fixed in magento/magento2#23394 by @geet07 in 2.3-develop branch
Related commit(s):
 - [3d6b783324abb7415206fe66402d0bdcb44f8fbd](https://github.com/magento/magento2/commit/3d6b783324abb7415206fe66402d0bdcb44f8fbd)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-27 14:05] #23377 closed, assigned to geet07

[2019-06-27 14:05] magento-engcom-team commented on #23233
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#23234 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [0c402aedc254ca85864008f54d5d4b2545b605d0](https://github.com/magento/magento2/commit/0c402aedc254ca85864008f54d5d4b2545b605d0)
 - [10c89f7cab704d239ad666a01d0538bcfdfd812f](https://github.com/magento/magento2/commit/10c89f7cab704d239ad666a01d0538bcfd

[2019-06-27 14:05] magento-engcom-team commented on #21136
Hi @oleksii-lisovyi. Thank you for your report.
The issue has been fixed in magento/magento2#22116 by @oleksii-lisovyi in 2.3-develop branch
Related commit(s):
 - [2c91e5a431fc3fe6aab36b29205ec2e487993f96](https://github.com/magento/magento2/commit/2c91e5a431fc3fe6aab36b29205ec2e487993f96)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-27 14:05] #21136 closed, assigned to oleksii-lisovyi

[2019-06-27 14:05] magento-engcom-team commented on #23435
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17852`, `MC-17853` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-27 14:17] andrey-legayev commented on #6942
As I see the fix has been included into v2.2.9 and v2.3.2, but pull requests weren't actually merged.

[2019-06-27 14:28] #6942 closed, assigned to nobody

[2019-06-27 14:29] arramaswamy opened #23446 "Cannot create an invoice. 2.3.2"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-06-27 14:52] bst2002git commented on #23435
I've applied the patch and it seems to work for me

[2019-06-27 15:06] mpurish opened #23447 "Quick search by SKU in XX-XX not working correctly"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Create a product with SKU in XX-XX format, for example 00-01, and reindex.
2. Search for 00-01 in Quick search.

### Expected result (*)

1. Search would return product with SKU from search field.

### Actual result (*)

1. Quick search returns no results:
<img width="1551" alt="Screenshot 2019-06-27 at 15 53 18" src="https://

[2019-06-27 15:07] KooTjoo opened #23448 "VAT Issues on Checkout after updating to Magento 2.3.2"
After updating to Magento 2.3.2. I sell goods from withinh EU and therefore EU Countries should get a 0% VAT when VAT ID is correct. This doesn't work poperly for existing customers who created an account earlier. It seems that the VAT Group is not updated properly in the checkout.

### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2

### Steps to reproduce (*)

1. Create customer account with corr

[2019-06-27 15:22] mesnitu opened #23450 "Product export gets "Message is added to queue, wait to get your file soon""
Just updated magento from 2.3.1 to 2.3.2, all looked fine until I wanted to export a csv file for products, etc... Is this a new featured, or how can I simple download / export the products as it was doing a couple hours ago?
The only thing I get is "Message is added to queue, wait to get your file soon".

### Preconditions (*)

1. version 2.3.2
2.

### Steps to reproduce (*)

1. update from 2.3.1

[2019-06-27 15:26] krishprakash commented on #23446
Hi @arramaswamy
Feel free to reopen once you fill all the necessary details with proper issue format.

[2019-06-27 15:27] #23446 closed, assigned to krishprakash

[2019-06-27 15:27] engcom-Bravo commented on #23450
Hello @mesnitu. Thanks for applying. To get those files now You need Your cron jobs be running. Will You try please to execute php bin/magento cron:run.

[2019-06-27 15:30] krishprakash commented on #23447
@magento give me 2.3-develop instance

[2019-06-27 15:30] magento-engcom-team commented on #23447
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-27 15:30] arramaswamy commented on #23446
cash on delivery order
magento 2.3.2

getting error when creating invoice..

And error is

Broken reference: the 'payment_surcharge_invoice' element cannot be added
as child to 'invoice_totals', because the latter doesn't exist [] []

On Thu, Jun 27, 2019 at 8:58 PM Prakash Prajapati <notifications@github.com>
wrote:

--
Regards,
*RM.Mahalakshmi*
Mobile: +91-9444347701
Chettinad Thari

[2019-06-27 15:31] magento-engcom-team commented on #23447
Hi @krishprakash, here is your [Magento instance](https://i-23447-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23447-2-3-develop.instances.magento-community.engineering/admin](https://i-23447-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-27 15:34] thomas-kl1 opened #23451 "MAGETWO-96957 introduce a new bug"
### Preconditions (*)

- Magento 2.2.9
- or apply this commit: https://github.com/magento/magento2/commit/bd3fcb00f44def21b6d45b2908dd33e7d75efa3a

### Steps to reproduce (*)

1. Implement new grid `Magento\Backend\Block\Widget\Grid` (I know it's deprecated)
2. The gris MUST use an EAV collection type
3. Add following massaction block: `Magento\Backend\Block\Widget\Grid\Massaction`

### Expected r

[2019-06-27 15:41] krishprakash commented on #23447
@magento give me 2.2-develop instance

[2019-06-27 15:41] magento-engcom-team commented on #23447
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-27 15:41] mesnitu commented on #23450
ok, I'm still waiting for the cron to end ( 5 minutes now...) , so, meanwhile, how can I disable this? I didn't do anything, except the update. This csv export, is a operation that expects a immediate conclusion to get the work done.

[2019-06-27 15:41] magento-engcom-team commented on #23447
Hi @krishprakash, here is your [Magento instance](https://i-23447-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23447-2-2-develop.instances.magento-community.engineering/admin](https://i-23447-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-27 15:53] magento-engcom-team commented on #23447
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17856`, `MC-17857` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-27 15:56] jgahn-xom commented on #23415
Just ran in to this as well, it's broken my development right now as 2.3.2 is required for our Branch Staging deploys. Any idea when that PR will see a release? This is critical for us as I'm trying to put together a proposal for using Algolia on our site (soon to be 100,000+ skus this week). Thanks

[2019-06-27 16:08] krishprakash commented on #23446
I'm not able to reproduce this issue in clean venilla magento instace.

[2019-06-27 16:13] mesnitu commented on #23450
Nothing.
If I clear the cron_schedule table, and try to export, I get the same message, but there's no schedule job or id created at that table. Not sure how this works...

[2019-06-27 16:38] DanielRuf commented on #19604
@chernenm cam probably answer this.

[2019-06-27 16:38] DanielRuf commented on #19604
@chernenm can probably answer this.

[2019-06-27 16:46] arramaswamy commented on #23446
Thanks for your immediate support..

On Thu, Jun 27, 2019, 9:40 PM Prakash Prajapati <notifications@github.com>
wrote:

[2019-06-27 19:04] gwharton commented on #23398
Fixed in 2.3-develop

**Test case**

[code]

**2.3.0 (ERROR)**
Email 1 = From: ownerwebsite1@domain.com
Email 2 = From: ownerwebsite2@domain.com

**2.3-develop (FIXED)**
Email 1 = From: =?utf-8?Q?ownerwebsite1?= <ownerwebsite1@domain.com>
Email 2 = From: =?utf-8?Q?ownerwebsite2?= <ownerwebsite2@domain.com>

[2019-06-27 19:04] #23398 closed, assigned to nobody

[2019-06-27 19:23] centipedexv opened #23453 "REST API attribute delete lets you delete system attributes"
### Preconditions (*)

1. Magento version 2.3.1
2. MariaDB 10.3.15
3. PHP 7.2.19

### Steps to reproduce (*)

1. example URL: /rest/all/V1/products/attributes/77
2. request type DELETE

### Expected result (*)

1. have some type of error saying you can not delete system defined attributes

### Actual result (*)

1. lets you delete with no error

[2019-06-27 20:20] jtalel opened #23455 "Pending Payment Order Lifetime doesn't expire or cancel orders"
### Preconditions (*)

1. Magento Open Source version 2.2.8
2.PHP 7.1.29, MySQL 5.6, Apache 2.4.
3. Clean install. No extensions or themes installed.

### Steps to reproduce (*)

1. Go to Stores -> Configuration -> Sales -> Sales -> Orders Cron Settings -> Pending Payment Order Lifetime (minutes)
2. Set "Pending Payment Order Lifetime" to 1 minute.
3. Create a order using a offline payment method

[2019-06-27 20:21] ycancio commented on #23432
Same issue here...
Uncaught Error: Call to a member function getOptionsJson() on null in /app/vendor/magento/module-catalog/view/frontend/templates/product/view/gallery.phtml:48
Stack trace:
#0 /app/vendor/magento/framework/View/TemplateEngine/Php.php(59): include()
#1 /app/vendor/magento/framework/View/Element/Template.php(271): Magento\Framework\View\TemplateEngine\Php-&gt;render(Object(Magento\

[2019-06-27 20:22] centipedexv commented on #23453
yes I was using vanilla Magento

[2019-06-27 20:27] jtalel commented on #23455
@magento give me 2.3-develop instance

[2019-06-27 20:27] magento-engcom-team commented on #23455
Hi @jtalel. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-27 20:27] magento-engcom-team commented on #23455
Hi @jtalel, here is your [Magento instance](https://i-23455-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23455-2-3-develop.instances.magento-community.engineering/admin](https://i-23455-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-27 20:28] chequille commented on #23411
Hello,
sorry, but I do not relly know what to do with vanilla instance, because I do not know how to install a third party or my own modules.
I thougth this is a test environment for Magento stuff only.

Therefor, I cannot provide more information on this issue.

But what about my question: is there a way to find which module is causing the exception?

[2019-06-27 20:42] jtalel commented on #23455
Can't test since this instance doesn't have a cron job running.

[2019-06-27 21:08] chequille commented on #23411
More information:
I found the point after the exception occurs. It is after placing the order.
Strange is, that the order is placed, but the error in exception.log

I activated my backup of all files and installed my database backup. So, I am again on 2.3.1.
THe exception does not occur as it is in 2.3.2

No extension was change, everything the same except Magento version.

Maybe this help you to

[2019-06-27 21:30] hzubyrss opened #23456 "MSRP price not showing on magento 2.3.2"
i upgrade magento 1 to magento 2.3.2 and migration complete data of 1000+ products and pages CMS static block, website working perfectly fine, but one issue  I enabled MSRP price from admin its loading on product page under attributes values but not showing correctly under price box, with price note popup ,

any help would be highly appropriated

[2019-06-27 21:39] Ctucker9233 commented on #23411
@chequille Have you reached out to mageplaza to see if they have an updated version of that module for 2.3.2? It could be that something has changed between 2.3.1 and 2.3.2 that breaks the extension.

[2019-06-27 22:02] chequille commented on #23411
Hi Ctucker,
the problem is, that it seems everything is working. Order is placed etc. Everything is fine in the frontend.
Nothing visible.
But in the exception.log there is the error.
Mageplaza-gdpr module was just a guess. The module does not influence the checkout process, so I really do not believe, that this is the reason for.

So, if there is no other way to find out which part of the system

[2019-06-27 22:20] Ctucker9233 commented on #23411
@chequille That's exactly what Magento documentation recommends is to disable extensions one by one. A pain in the neck to be sure. you could also try running CLI Commands:
php bin/magento indexer:reset
php bin/magento indexer:reindex
php bin/magento cache:clean

Was there any kind of stack trace that followed after the error in the log?

[2019-06-28 00:21] agbdxb commented on #23450
I had the same issue.
1. Got a sample csv for import >>System>>Import>>select Products>>click "Download Sample File",
2. Created 10 records of data for my products and imported successfully >> System >> Import
3. Triggered the cron run on command line
4. Guess what! that triggered all the exports of my past multiple attempts which had no movements despite several cron runs on command line. I could

[2019-06-28 01:34] mrtuvn commented on #23441
@hostep magento plan to make wysiwyg for frontend ? or only make it work for backend
From backend wysiwyg working without problem. But from frontend i have tried to make wysiwyg work but it's very tricky and also not available docs related to make editor in frontend

[2019-06-28 04:56] msawyers commented on #14952
Yes, it continues and got worse on 2.3.1 and 2.3.2 @salelsol

[2019-06-28 05:16] DanielRuf commented on #14952
https://github.com/magento/magento2/issues/14952#issuecomment-504406880

[2019-06-28 05:48] rakeshdonga commented on #7298
@sadeeshmca

in latest magento 2.3 code totally change in this function

[code]

Then how can replace this function ?

[2019-06-28 06:29] camslice commented on #6688
@charultyagi18 & @ThakurPradeep 's solution worked for me. Magento 2.3.1, nginx 1.17 (alpine)

@Tarek-Adra depending on your OS environment, you might not need the `php` at the start of that command, try just running it as `bin/magento setup:static-content:deploy -f`

[2019-06-28 06:58] ebofi commented on #23433
any help on thos

[2019-06-28 07:01] chohanbhagchand opened #23458 "Search are not working according to SKU in frontend"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Create a product with SKU in XX-XX format, for example MK-2222, and reindex.
2. Search for MK-2222 in Quick search.

### Expected result (*)

1. Their is no results in search page

### Actual result (*)

1. Product with SKU will be in result

[2019-06-28 07:06] lhall-adexos commented on #14952
I upgraded a store from 2.2.7 to 2.2.9 an the issue is fixed for me.

[2019-06-28 07:13] robert-schmidt commented on #23336
This is a bug in the code. Don't know what am I supposed to do with a running instance :)

[2019-06-28 08:25] krishprakash commented on #23458
Hi @chohanbhagchand. Thank you for your report.
Issue is duplicate to #23447

[2019-06-28 08:25] #23458 closed, assigned to shikhamis11

[2019-06-28 08:43] lupett commented on #22366
+1 2.2.8 -> 2.2.9

[2019-06-28 10:02] albertusatria commented on #23408
Tried again today by downloading the Magento 2.3.1 from .zip package with following result:

1. Unzip the package
2. adding codes into composer.json per @xmav confirmation above :
[code]

[2019-06-28 10:35] rendyep commented on #23408
@albertusatria you are currently using Magento 2 EE but trying to upgrade the wrong package.
Magento 2 EE uses `magento/product-enterprise-edition` instead of `magento/product-community-edition`.

[2019-06-28 10:56] raghuiamsingh commented on #23432
Getting the same error. Help Needed ASAP.

[2019-06-28 10:58] ravi-chandra3197 commented on #23447
@magento give me 2.3-develop instance

[2019-06-28 10:58] magento-engcom-team commented on #23447
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-28 10:59] magento-engcom-team commented on #23447
Hi @ravi-chandra3197, here is your [Magento instance](https://i-23447-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23447-2-3-develop.instances.magento-community.engineering/admin](https://i-23447-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-28 11:05] onlinebizsoft commented on #22438
I have some sites in 2.2.6 and look like same issue :(

[2019-06-28 11:05] onlinebizsoft commented on #8933
I have some sites in 2.2.6 and look like same issue :(

[2019-06-28 11:15] raghuiamsingh commented on #23432
To solve this you can override `Magento\Catalog\Block\Product\View\Gallery` and add a new function `getGalleryOptions()`. This function should return an instance of `Magento\Catalog\Block\Product\View\GalleryOptions`, the instance should be injected to the overridden class file.

[2019-06-28 11:19] amenk commented on #8099
Had the same problem, changed my client...
https://magento.stackexchange.com/questions/280052/catalog-rest-api-paging-not-working/280076#280076

[2019-06-28 11:25] Stepa4man opened #23460 "Region doesn't updates after changing country and leaving region select unselected"
### Preconditions
1. Create user
2. Create user address with country "_United States_" and region "_Alabama_"

### Steps to reproduce
1. Go to created customer page
2. Go to address customer address tab
3. Hit edit action for the created address at the addresses grid
4. Change the country to France
5. Don't choose any region
6. Save address
7. Run in browser console `jQuery('[data-index="region_id

[2019-06-28 11:31] Stepa4man commented on #23460
@magento give me 2.2-develop instance

[2019-06-28 11:31] magento-engcom-team commented on #23460
Hi @Stepa4man. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-28 11:32] fritzmg commented on #8933
You need to update to Magento 2.3 and check if the same issue still occurs there. Then report back in this ticket.

[2019-06-28 11:32] magento-engcom-team commented on #23460
Hi @Stepa4man, here is your [Magento instance](https://i-23460-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23460-2-2-develop.instances.magento-community.engineering/admin](https://i-23460-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-28 11:34] matthewhaworth commented on #21456
Turns out the issue I was having may be unrelated. We have a weird setup whereby simple products are in categories that their configurable is not. This messed up cart price rules based on categories.

[2019-06-28 11:36] Stepa4man commented on #23460
@magento give me 2.1-develop instance

[2019-06-28 11:37] magento-engcom-team commented on #23460
Hi @Stepa4man. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2019-06-28 11:38] magento-engcom-team commented on #23460
:white_check_mark: Confirmed by @Stepa4man
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17873`, `MC-17874` were created

**Issue Available**: @Stepa4man, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-28 11:51] mwr commented on #23440
The root cause of the Problem seems to be in ``\Magento\Sales\Model\Order\CreditmemoFactory::createByOrder``.

[code]

Either ``canRefundItem`` should return false but does not or ``getQtyToRefund`` should return 0 but does not either.

I have tried fixing it with a check of the qtyList containing an empty array in this scenario (bundle with 0 items refunded).
[code]

This works fine except when t

[2019-06-28 11:55] marvinhinz commented on #4952
I think you are right that this behaviour is ok with POST, although a bit confusing. But i still have reproduced this with two identical PUT requests. The first time, a single product in the admin store is created, the second time a copy is created in the default "de" store, with only some fields being moved over. This is pretty unexpected behaviour, as its not idempotent. Is there a reason why at

[2019-06-28 11:55] mesnitu commented on #23450
Still no luck here. I'm on windows 10.
I'm doing a upgrade from 1.9.2 to 2.3.1 , all went more or less ok. I've working on 2.3.1 for about a month. So I saw the update msg, and I thought from 2.3.1 to 3.2 it's a piece of cake.
@agbdxb following your first step I found a error realated to the update:

So I did the setup:upgrade
But I get no results doing the next steps. ( except the I can actually

[2019-06-28 11:59] lpouwelse commented on #9798
Option in not loaded, so a duplicate entry is created. Patch attached based on 2.3.1.
[9798.txt](https://github.com/magento/magento2/files/3339060/9798.txt)

.

[2019-06-28 13:03] markshust commented on #23405
Note that there is a more "official" way to get the updated `libsodium-dev` package on debian.

Docker steps:

- Add the backports repo to source.list:

[code]

- Update the repo sources and install that package from the backports repo:

[code]

- Then install the sodium PHP extension:

[code]

[2019-06-28 13:29] hostep commented on #23432
If you've instantiated the `Magento\Catalog\Block\Product\View\Gallery` block in your custom theme in some xml file, make sure you add that new `gallery_options` argument.
See here for how it was changed in 2.3.2: https://github.com/magento/magento2/pull/18440/files#diff-85a7317671ca24ca85af5cb5808b676e (`app/code/Magento/Catalog/view/frontend/layout/catalog_product_view.xml` file)

Not sure if th

[2019-06-28 13:34] zapateroremendon commented on #16073
Hi guys, any news about this? I am facing same issue.
Regards,

[2019-06-28 13:42] kozie commented on #20382
Why did you add an `if` statement to the following line https://github.com/magento/magento2/blob/f77ac3c8ce55a52be143f18073106c5de68adc35/app/code/Magento/Checkout/view/frontend/web/template/minicart/content.html#L100? It doens't make sense seeing the current issue and it's causing my widgets to not show up anymore.

[2019-06-28 13:45] chohanbhagchand commented on #22479
![Screenshot from 2019-06-28 19-11-28](https://user-images.githubusercontent.com/43440703/60346570-06a5e880-99d9-11e9-9019-6528a0e79f3f.png)
Working fine in Magento 2.3.3

[2019-06-28 15:02] mesnitu commented on #23450
Reverting to 2.3.1 there's no such issue.

[2019-06-28 15:18] xmav commented on #23408
@albertusatria there are different installation types: git, composer, zip archives. Each has his own upgrade procedure. For more information refer to https://devdocs.magento.com/guides/v2.3/comp-mgr/bk-compman-upgrade-guide.html

[2019-06-28 15:21] cscd98 opened #23462 "2.3.2 - Product Flat Data index taking long time to reindex?"
### Preconditions (*)
1. Magento 2.3.2
2. PHP 7.2.x

### Steps to reproduce (*)
1. bin/magento index:reindex
2. Product Flat/Categories enabled in back end.

### Expected result (*)
Re-index to be completed in timely fashion.

### Actual result (*)
[code]

[2019-06-28 16:22] bvboas opened #23463 "Quote and Order records being deleted from database"
### Preconditions (*)
Magento 2.2.6 but also verified on Magento 2.2.9
1. MySQL 5.7
2. PHP 7.1.26
3. Page cache - Redis Cache
4. Session files

### Steps to reproduce (*)
1. Add products to cart
2. Go trough Checkout
3. Click "Submit Order"

### Expected result (*)
1. Order Success page

### Actual result (*)
1. Flux is the same as an order has been placed successfully, but the customer won't rece

[2019-06-28 17:04] Ctucker9233 commented on #22438
Same issue here on 2.2.8.

[2019-06-28 17:06] Ctucker9233 commented on #8933
@magento-engcom-team This was reported on 2.3.1 and was closed as a duplicate of this issue #22438. Please reinvestigate.

[2019-06-28 17:23] shikhamis11 commented on #23453
@magento give me 2.2-develop instance

[2019-06-28 17:23] magento-engcom-team commented on #23453
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-28 17:24] shikhamis11 commented on #23453
@magento give me 2.2-develop instance

[2019-06-28 17:24] magento-engcom-team commented on #23453
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-28 17:24] magento-engcom-team commented on #23453
Hi @shikhamis11, here is your [Magento instance](https://i-23453-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23453-2-2-develop.instances.magento-community.engineering/admin](https://i-23453-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-28 17:29] magento-engcom-team commented on #23453
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17877`, `MC-17878` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-28 18:09] hostep commented on #23441
Well, I don't know the plans of Magento to make it available on the frontend. That's why there is no progress in https://github.com/magento/magento2/issues/21766. I assumed it was a bug to make it available in the frontend and would like to see it being removed honestly.

But you want the exact opposite 🙂. What is your particular use case for wanting it to be available in the frontend?

[2019-06-28 18:15] tedivm commented on #23410
I've released JShrink 1.3.3 which removes the regression introduced in 1.3.2.

[2019-06-28 18:52] sdzhepa commented on #23415
Hello @marcusirgens and @jgahn-xom

As I can see from the internal Jira ticket `MAGETWO-95294` this change was made intentionally by the Magento team.
And backward incompatible changes were approved
The main reason is perfromance improvement.

Information about it should be on DevDocs:
- [Backward incompatible changes reference](https://devdocs.magento.com/guides/v2.3/release-notes/backward-incomp

[2019-06-28 18:59] simonlandry0 commented on #23415
@jgahn-xom This would be more of an issue for the Aloglia extension side to fix. If you need to fix it now, you can try replicating the changes to the plugin made in this pull request that addresses the issue:
https://github.com/algolia/algoliasearch-magento-2/pull/806

Alternatively you can wait until they release a new stable version shortly and you'll be able to update to it.

[2019-06-28 19:33] magento-engcom-team commented on #12970
Hi @kirillvidyuk.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-17573` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you s

[2019-06-28 19:33] #12970 closed, assigned to nobody

[2019-06-28 20:50] dkyosev9 commented on #12594
Magento 2.3.1 - When "Select All" rows from the grid, then the grid filter doesn't read all rows but only those on the first grid page.
The expected result is to get all rows not only those on first page.
This is shame that such a simple thing is an issue in a few Magento releases and not fixed yet.
Please, fix it as this is very important for the admin area. Literally an admin can't select all ro

[2019-06-28 20:51] mugua commented on #22778
@tuyennn  I met the same issue using chinese words, how do you fix it ?
Mine: Magento 2.3.2+SMTP:Amasty
Thanks very much.

[2019-06-28 20:56] Den4ik commented on #23455
@magento give me 2.3-develop instance

[2019-06-28 20:56] magento-engcom-team commented on #23455
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-28 20:57] magento-engcom-team commented on #23455
Hi @Den4ik, here is your [Magento instance](https://i-23455-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23455-2-3-develop.instances.magento-community.engineering/admin](https://i-23455-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-28 20:59] jtalel commented on #23455
Hello @Den4ik, how do you test a cron related issue on those instances? I tried but couldn't get the expected result. Tought it might be related with a cron not running.

[2019-06-28 20:59] magento-engcom-team commented on #23455
Hi @jtalel. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-28 21:00] magento-engcom-team commented on #23455
Hi @jtalel, here is your [Magento instance](https://i-23455-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23455-2-3-develop.instances.magento-community.engineering/admin](https://i-23455-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-28 21:42] Ctucker9233 commented on #17320
@p-bystritsky ditto on what @swatts7777777 said.

[2019-06-28 23:58] marcusirgens commented on #23415
Does Magento ship with any guarantees about what kind of content will be protected from backwards-incompatible changes? This file is part of the framework package, which I am surprised does not enforce any BC-guarantees.

[2019-06-29 01:25] tuyennn commented on #22778
@mugua see ref issue and fix on above #22103

[2019-06-29 03:15] mrtuvn commented on #23441
i have seen and also work with some extension in frontend use wysiwyg as content editor in modules. After 2.3 release with new implement editor. This is major changed also make some extension break .So  will be great if magento can bring wysiwyg to frontend allow convention official way to implement editor in frontend . This is my thought about this. Maybe this idea not neccessary for magento righ

[2019-06-29 04:52] sanjay-github commented on #23376
@engcom-Bravo : I am working on this issue.

[2019-06-29 04:57] rdudhara commented on #23295
I am working on it.

[2019-06-29 04:57] Priya-Panchal commented on #22952
I am working on this issue. Let you know soon.

[2019-06-29 05:13] meetvora69 opened #23465 "Display double quote in order id field in order CSV export time"
Display double quote in order id field in order CSV export time

### Preconditions (*)
1. Magento 2.3.2

### Steps to reproduce (*)
1. Go to admin panel
2. Select sales ->Order
3. Export the order CSV

### Expected result (*)
1. Double quote's should not be display in CSV field title

### Actual result (*)
1.
![image_2019_06_29T05_10_32_105Z](https://user-images.githubusercontent.com/19776194/6037

[2019-06-29 05:16] krishprakash commented on #23465
@magento give me 2.3-develop instance

[2019-06-29 05:16] magento-engcom-team commented on #23465
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-29 05:16] magento-engcom-team commented on #23465
Hi @krishprakash, here is your [Magento instance](https://i-23465-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23465-2-3-develop.instances.magento-community.engineering/admin](https://i-23465-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-29 05:18] magecp commented on #22946
I am working on ir.

[2019-06-29 05:22] krishprakash commented on #23465
@magento give me 2.2-develop instance

[2019-06-29 05:22] magento-engcom-team commented on #23465
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-29 05:23] magento-engcom-team commented on #23465
Hi @krishprakash, here is your [Magento instance](https://i-23465-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23465-2-2-develop.instances.magento-community.engineering/admin](https://i-23465-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-29 05:27] magento-engcom-team commented on #23465
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17884`, `MC-17885` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-29 05:32] jignesh26 commented on #23414
@vasuscoin  are you still working?

[2019-06-29 05:33] RonakParmar commented on #23447
@magento-engcom-team I am working on this issue.

[2019-06-29 05:38] nirmalraval18 opened #23466 "Cart empty after update qty with -1 and change address."
### Description (*)
Cart empty after update qty with -1 and change address.

### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Front end >> Login into account
2. Add 1 product with 4 qty to the cart
3. Cart >> Go to checkout with multiple addresses
4. Change address for 1st product and update qty with -1
5. Click on Update qty & addresses
6. It will clear the shopping cart

#

[2019-06-29 05:53] Rutvee123 commented on #23442
i am working on it

[2019-06-29 05:54] magento-engcom-team commented on #23466
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17886`, `MC-17887` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-29 06:01] vrajesh-patel1993 opened #23467 "Phone and Zip not update if customer have no saved address"
### Preconditions (*)

1. Magento 2.2.x
2. Magento 2.3.x

### Steps to reproduce (*)

1. Go to Admin
2. Customers >> All Customers
3. From customer grid Add Phone number and zip code
4. Click on save
5. Display success message like "You have successfully saved your edits"but it does not saved.

### Expected result (*)

Text fields should not be display for Phone and zip code if customer not saved

[2019-06-29 06:01] manishgoswamij commented on #23383
I am working on this issue.

[2019-06-29 06:11] magento-engcom-team commented on #23467
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17888`, `MC-17889` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-29 06:14] kirtinariya1 commented on #9979
@magento-engcom-team  Please provide Magento 2.3.1 CE test instance.

[2019-06-29 06:15] mugua commented on #22778
@tuyennn , still can't find which is the right fix method on #22103
Could you show me on this post, Thanks.

[2019-06-29 06:31] kirtinariya1 commented on #14486
@magento-engcom-team Please provide Magento 2.3.1 CE test instance.

[2019-06-29 06:55] kirtinariya1 commented on #16171
@magento-engcom-team Please provide Magento 2.3.1 CE test instance.

[2019-06-29 06:58] Rutvee123 commented on #23442
It's not reproduced in Magento2.3.1

[2019-06-29 07:00] chequille commented on #23411
Hi Guys,
deactivated all third party extensions/modules and it still happens.
To answer the question: no stack trace following the error in the log file. It is only the line with saying "No entry for CustomerID = 1"
Of course, if I am logged in with another customer, it says "No entry for CustomerID = 44" f.e.

What I did not try is using a standard Magento Theme like Luma. WIll do that later.

An

[2019-06-29 07:18] himanshu8dev commented on #23281
The issue is not reproducing as I have checked in Magento2.3

[2019-06-29 07:21] dipeshrangani opened #23471 "Tooltip missing at store view lable in Cms page and Cms block"
Tooltip missing at store view lable in Cms page and Cms block

### Preconditions (*)

1. Magento2.3-develop

### Steps to reproduce (*)

1. Magento Admin -> Content - > Pages / Block -> Page in Websites -> Store View

### Expected result (*)

1. ![admin-cms-storeview](https://user-images.githubusercontent.com/20924623/60381055-58e41980-9a6c-11e9-8fdc-d951f83f8c15.png)

### Actual result (*)

1. ![

[2019-06-29 07:25] magento-engcom-team commented on #23471
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17890`, `MC-17891` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-29 07:26] abrarpathan19 opened #23473 "Notification counter design issue"
### Preconditions (*)

1. Magento 2.2
2. Magento 2.3

### Steps to reproduce (*)

1. Login to Magento admin dashboard.
2. Please review the attached screenshots.
3. Getting issue while counter number in two digits.

### Expected result (*)

![image](https://user-images.githubusercontent.com/43603387/60381025-ec691a80-9a6b-11e9-9584-abc73c66079a.png)

### Actual result (*)

![image](https://user-im

[2019-06-29 07:40] magento-engcom-team commented on #23473
@abrarpathan19 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2019-06-29 07:41] magento-engcom-team commented on #23473
@abrarpathan19 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-06-29 08:31] dipeshrangani commented on #23471
I have already fixed it and this is my PR :
https://github.com/magento/magento2/pull/23474

[2019-06-29 08:46] Kush2507 opened #23481 "Billing/Shipping Address edit form design update from order backend"
### Preconditions (*)

1.Magento 2.2
2.Magento 2.3

### Steps to reproduce (*)

1. Admin -> Sales -> Invoices -> Click on View -> Address Information section -> Billing Address/Shipping Address click on Edit

### Expected result (*)

1. Structure format plan design ought to be consistency according to other Magento structure.
2. Please review link: https://imgur.com/RUALt3B

### Actual result (*)

[2019-06-29 08:48] Userr017 commented on #19710
Same issue with Magento 2.3.2.

This solve issue

@rdeelstra

But not ?
[code]

[2019-06-29 08:49] krishprakash commented on #23481
@magento give me 2.3-develop instance

[2019-06-29 08:50] magento-engcom-team commented on #23481
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-29 08:50] magento-engcom-team commented on #23481
Hi @krishprakash, here is your [Magento instance](https://i-23481-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23481-2-3-develop.instances.magento-community.engineering/admin](https://i-23481-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-29 08:51] magento-engcom-team commented on #23473
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17892`, `MC-17893` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-29 09:13] mesnitu commented on #13604
Same issue on 2.3.1. Makes it completely impossible to update products via csv

[2019-06-29 09:26] GrishmaNayee opened #23486 "(Landscape Mode - iPhoneXS) Listing & Search result page_Shop By_Click on Shopping options & Close icon, It is not working."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Open Home Page > Select any of the Category Or Search any of the product.
2. Open the Listing page Or Search result page.
3. Change the device mode Portrait To Landscape.
4. Click on Up and down icon & Close icon

### Expected result (*)

Shopping options (Size, Price, Color) should be Open and Close and Close icon should be wor

[2019-06-29 09:28] rammohan-krish commented on #23486
@magento give me 2.3-develop instance

[2019-06-29 09:28] magento-engcom-team commented on #23486
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-29 09:28] magento-engcom-team commented on #23486
Hi @rammohan-krish, here is your [Magento instance](https://i-23486-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23486-2-3-develop.instances.magento-community.engineering/admin](https://i-23486-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-29 09:36] meetvora69 opened #23487 "First name and Last name field must not allow to enter URL and Special character's"
### Description (*)
It must not allow to enter URL details for First name and Last name field

### Preconditions (*)

1. Magento 2.2.x
2. Magento 2.3.x

### Steps to reproduce (*)

1. Go to Admin
2. Customers > All customers > Add New Customer
3. Enter URL details for First name Last name field

### Expected result (*)

1. It must not allow user to enter URL, Special character details for first na

[2019-06-29 09:38] rammohan-krish commented on #23486
Give me @magento give me 2.2-develop instance.

[2019-06-29 09:38] magento-engcom-team commented on #23486
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-29 09:39] magento-engcom-team commented on #23486
Hi @rammohan-krish, here is your [Magento instance](https://i-23486-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23486-2-2-develop.instances.magento-community.engineering/admin](https://i-23486-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-29 09:41] magento-engcom-team commented on #23481
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17894`, `MC-17895` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-29 09:43] magento-engcom-team commented on #23487
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17896`, `MC-17897` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-29 09:49] rammohan-krish commented on #23486
Issue reproduced in Magento 2.3 Instance and In Magento 2.2 Instance issue is not reproduced.

[2019-06-29 09:49] magento-engcom-team commented on #23486
:white_check_mark: Confirmed by @rammohan-krish
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17898` were created

**Issue Available**: @rammohan-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-29 10:22] kirtinariya1 commented on #19865
@magento-engcom-team Please provide Magento 2.3.1 CE test instance.

[2019-06-29 10:51] kirtinariya1 commented on #9979
@magento-engcom-team give me 2.3-develop instance

[2019-06-29 10:51] magento-engcom-team commented on #9979
Hi @kirtinariya1. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-29 10:51] magesanjay commented on #23245
Hello @Axel29,
I have review your script.
There is no relation between media image and Group.
You have remove `'group' => 'Images'` from your InstallData script no any error at code side.

[2019-06-29 10:52] magento-engcom-team commented on #9979
Hi @kirtinariya1, here is your [Magento instance](https://i-9979-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-9979-2-3-develop.instances.magento-community.engineering/admin](https://i-9979-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-29 11:08] kirtinariya1 commented on #9979
Can't reproduces the issue.

[2019-06-29 11:10] kirtinariya1 commented on #14486
Can't reproduce the issue.

[2019-06-29 11:12] dverkade commented on #14486
@kirtinariya1 no need to reproduce this issue, because it's already verified by Magento. The ticket als has the label "Ready for work" and it can be expected to have someone supply a PR for this.

[2019-06-29 11:16] kirtinariya1 commented on #19865
Can't reproduce the issue as of now.

[2019-06-29 11:23] suryakant-krish opened #23493 "Backed Store View Specific Labels and Manage Coupon Codes label and input not aligned properly."
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Login into admin panel > Marketing >Cart Price Rules >  Add/Edit any cart rule.

### Expected result (*)

1. ![Expected-result](https://user-images.githubusercontent.com/43638601/60383441-3b27ac00-9a8e-11e9-8cfe-89345e042756.jpg)

### Actual result (*)

1. ![actual-result](https://user-images.githubusercontent.com/43638601/603

[2019-06-29 11:32] magento-engcom-team commented on #23493
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17899` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-29 11:34] krishprakash commented on #23493
Labels cut issue already solved in related PR #23496
Need to do proper alignment for consistency.

[2019-06-29 12:04] chequille commented on #23411
Hi Everybody,
just made a fresh new installation on my local computer. Installed the sample data and created a new customer and placed an order.
The exception is as well in the exception.log
[2019-06-29 11:59:31] main.CRITICAL: No such entity with customerId = 2 {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): No such entity with customerId = 2 at D:\\Internet

[2019-06-29 12:28] anerishah1 opened #23501 "Additional addresses disappears after select upper limit from 2nd pagination."
### Preconditions
magento 2.3

### Steps to reproduce
1. Go to My account >> Address book
2. Add more than 10 additional addresses
3.  Go to Addresses on 2nd pagination
4. Now select uper limit (20,50) from pagination drop-down
5. It will disappears all the additional addresses

### Expected result
All addresses should display in the list.

### Actual result
![image](https://user-images.githubuser

[2019-06-29 12:45] abrarpathan19 opened #23502 "Help tooltip icon extra space issue"
### Preconditions (*)

1. Magento 2.2
2. Magento 2.3

### Steps to reproduce (*)

1. Login to Magento admin
2. Where help tooltip available in Magento admin
3. Please review the attached screenshots.

### Expected result (*)

I would like to remove/reduce extra space from the left side which is not proper as per Magento standard.

![image](https://user-images.githubusercontent.com/43603387/6038426

[2019-06-29 12:48] vrajesh-patel1993 opened #23503 "City,Fax,VAT Number,Company,Billing Firstname and Billing Lastname not update if customer have no saved address"
### Preconditions (*)

1.Magento 2.2.x
2.Magento 2.3.x

### Steps to reproduce (*)

1. Go to Admin
2. Customers >> All Customers
3. From customer grid Add City,Fax,VAT Number,Company,Billing Firstname and Billing Lastname
4. Click on save
5. Display success message like "You have successfully saved your edits"but it does not saved.

### Expected result (*)

1. https://prnt.sc/o8ahi5

### Actual re

[2019-06-29 12:55] magento-engcom-team commented on #23502
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17900`, `MC-17901` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-29 13:00] krishprakash commented on #23503
Hi @vrajesh-patel1993. Thank you for your report.
Isuse is already added and duplicated to #23467

[2019-06-29 13:00] #23503 closed, assigned to krishprakash

[2019-06-29 13:20] rammohan-krish commented on #23501
Issue is duplicate to #21396

[2019-06-29 13:20] #23501 closed, assigned to rammohan-krish

[2019-06-29 13:27] rszczepaniec opened #23507 "2.3.1 cannot upgrade database after sample data installation"
Preconditions:
1. Clean Magento 2.3.1 community edition installation without sample data
2. PHP 7.2.12
3. mysql  Ver 15.1 Distrib 10.1.37-MariaDB

Steps to reproduce:
1. Install clean Magento 2.3.1 via composer
2. Enable developer mode
php bin/magento deploy:mode:set developer
3. Enable all modules
php bin/magento module:enable --all
4. Upgrade database, compile files, delopy static content, clear

[2019-06-29 13:40] fohnbit opened #23508 "Image "Hide from product page" with API not working"
### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1. Upload new product via API Rest Endpoint with 3 images:
`{
  "product": {
    "attribute_set_id": 4,
    "custom_attributes": [
      {
        "attribute_code": "description",
        "value": ""
      },
      {
        "attribute_code": "short_description",
        "value": "Fingerprint"
      },
      {
        "attribute_co

[2019-06-29 13:42] fohnbit commented on #23508
@magento give me 2.3-develop instance

[2019-06-29 13:42] magento-engcom-team commented on #23508
Hi @fohnbit. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-29 13:43] magento-engcom-team commented on #23508
Hi @fohnbit, here is your [Magento instance](https://i-23508-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23508-2-3-develop.instances.magento-community.engineering/admin](https://i-23508-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-29 13:49] fohnbit commented on #23508
Tested with a new upload ... "hide from Product Page" is not selected! But in the json I set it to true!

[2019-06-29 14:06] maheshWebkul721 commented on #23392
Hi @LovelySetia, I don't think this is an issue.
For example:
1. Create a Guest checkout : `http://magento2-dev4.com/rest/V1/guest-carts`
2. You will receive quoteId.
3. Now if you want to assign this guest checkout to customer then you need to get the customer token first, because we want to convert quest quote to customer quote.

4. get customer token:
`curl -X POST \
  http://magento2-dev4.com/

[2019-06-29 14:42] hostep commented on #23411
@chequille: thanks for the effort to keep testing this problem! I was able to very easily reproduce the problem based on your comments:

1. Setup vanilla Magento 2.3.2 using composer (no sample data is needed)
2. In the backend, create a category and a product
3. In the frontend, register as a new customer
4. Put the product in your cart and go to the checkout
5. Enter your shipping address and us

[2019-06-29 14:47] SpaceWhite commented on #23281
@himanshu8dev The issue could only be reproduced on magento 2.3-develop branch

[2019-06-29 14:48] #23463 closed, assigned to nobody

[2019-06-29 16:55] rdeelstra commented on #19710
@Userr017 The large images are by default disabled except it you have defined them in your theme's etc/view.xml as stated in my comment, so you have to check your etc/view.xml else it might throw an error

[2019-06-29 21:31] Axel29 commented on #23245
@magesanjay I'm sorry but I don't understand what you mean?
The purpose of this issue is that the `'group' => 'Images'` breaks the script due to the database value in `attribute_group_code` as validated by Magento.

[2019-06-29 23:33] vDeggial opened #23510 "Product customizable options of Area type render issue in Dashboard"
### Preconditions (*)

Magento CE 2.2.9

### Steps to reproduce (*)

1. Create a product with a customizable option field of type Area
2. When placing an order for that product fill that Area type field with multiple lines of text
3. Look at the new order in Admin Dashboard

### Expected result (*)

The text of the field value of Area type is rendered with respect of each line (each line of next i

[2019-06-29 23:41] shinoamakusa commented on #23510
@magento give me 2.2-develop instance

[2019-06-29 23:41] magento-engcom-team commented on #23510
Hi @shinoamakusa. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-29 23:42] magento-engcom-team commented on #23510
Hi @shinoamakusa, here is your [Magento instance](https://i-23510-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23510-2-2-develop.instances.magento-community.engineering/admin](https://i-23510-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-29 23:49] shinoamakusa commented on #23510
This is on dev instance:
![screenshot-i-23510-2-2-develop instances magento-community engineering-2019 06 29-16-48-46](https://user-images.githubusercontent.com/9992759/60390544-d9ffd880-9a8d-11e9-96a3-524e78d90d4e.png)

[2019-06-30 00:20] zhiyicai opened #23511 "Magento 2.3.2 Undefined offset Encryptor.php"
#22849 # Preconditions (*)

1. Magento 2.3.2 community edition
2. nginx 1.16
3. php 7.2.19

### Steps to reproduce (*)

1.login magento store admin

### Expected result (*)

1. {"0":"Notice: Undefined offset: 2 in \/www\/web\/demo\/vendor\/magento\/framework\/Encryption\/Encryptor.php on line 588"
### Actual result (*)

1. {"0":"Notice: Undefined offset: 2 in \/www\/web\/demo\/vendor\/magento\/fra

[2019-06-30 02:12] krishprakash commented on #23510
@magento give me 2.3-develop instance

[2019-06-30 02:12] magento-engcom-team commented on #23510
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-30 02:13] magento-engcom-team commented on #23510
Hi @krishprakash, here is your [Magento instance](https://i-23510-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23510-2-3-develop.instances.magento-community.engineering/admin](https://i-23510-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-30 02:22] magento-engcom-team commented on #23510
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17903`, `MC-17904` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-30 09:02] jurpro commented on #23405
Hello. I just extract Magento 2.3.2 to my web, expected could upgrade to 2.3.2 from 2.3.1
But when I hit php bin/magento setup:upgrade, it's not working.
Any ideas how to solve this issue?

Thanks

[2019-06-30 10:56] bobemoe commented on #8298
Almost fixed by that commit! Although this is better, there is still a 1px gap where this happens.

- At 767 main nav is hidden and mobile/burger menu is visible (GOOD)
- At 768 main nav is visible and mobile/burger menu is visible hidden (GOOD)  but dropdowns don't work on hover and the "All *" items is present. (BROKEN)
- At 769 main nav is visible and mobile/burger menu is visible hidden (GOOD)

[2019-06-30 11:12] bobemoe commented on #8298
Fixed for me by:

[code]

[2019-06-30 11:19] bobemoe commented on #8298
@veloraven not sure preferred workflow, should I create new issue?

[2019-06-30 11:38] konarshankar07 commented on #23297
Hello @gulshan-streammarket ,

I fix the issue with deleting disabled category leads to Category Flat Data and Catalog search Re-index required. Do we need to do the same when new category creation?

Thanks

[2019-06-30 11:39] joomi commented on #10737
This is completely ridiculous!!
If the REST API is not supporting the creation of Visual Swatches with swatch options, you should write it down here!

[2019-06-30 12:49] AigarsMurins commented on #23511
I was encountering the same issue on a fresh 2.3.2, but I was using php 7.1.3. Haven't done much investigation, but what I noticed was that it was selecting ARGON2ID13 instead of SHA256 for hashing in \Magento\Framework\Encryption\Encryptor::getLatestHashVersion because I had 'sodium' extension. I decided switching to php 7.2.19 and this resolved this issue for me.

[2019-06-30 13:49] hostep commented on #8298
@bobemoe: can you send in a Pull Request with your suggested fix? That is probably the easiest to get it resolved quickly. Thanks! 🙂

[2019-06-30 14:50] tuyennn commented on #22778
@mugua
Use 2 ref here to create your own patch.
https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Email/Model/Transport.php#L90
https://github.com/magento/magento2/issues/22103#issuecomment-491280738

For Amasty, please try to contact them for support. Or you could try to fix by yourself while adding
[code]
To their own mail and transporter

[2019-06-30 19:00] bytes-max opened #23512 "Varnish Validation incorrect - Subnets are allowed in varnish VCL"
### Preconditions (*)
1. Install PHP 7.2, MariaDB 5.7, Varnish 5.2.1
2. Install Magento 2.3.2

### Steps to reproduce (*)
1. Modify configuration node `system/full_page_cache/varnish/access_list` in Backend manually
2. add a ip incl. subnet notation (x.x.x.x/16)
3. press "Generate Config for v5+"

### Expected result (*)
1. Magento should validate the string correctly as IP with subnet notation.
2

[2019-06-30 22:28] vivianCollins11 opened #23513 "Cache management won't refresh at all & stays on disabled."
### Summary (*)

### Examples (*)

### Proposed solution

[2019-06-30 22:42] vivianCollins11 commented on #23513
my website was working fine up till last Tuesday, My private servers hosting company reduced my ram from 4GB to 2GB without realising that I was paid for until 19-September-2019. This resulted in my website going completely down and all buyers could see is "HTTP ERROR 500"..
A potential customer saw this and called my number which in turn I called my server hosting support team who rectified their

[2019-07-01 01:09] petardozet opened #23514 "search link cannot be removed or hidden"
I cannot find a way to remove or hide "Search Terms" link from the Magento 2 page footer

[2019-07-01 01:10] petardozet commented on #23514
The Magento 2 is running on Nexcess server.

[2019-07-01 03:31] jordantran93 opened #23515 "The display watermark size is incorrect compared to the original watermark images on list product,product page on magento2.3.2"
### Preconditions (*)

1.Magento 2.3.2 community edition
2. Fresh installation, no third party modules
### Steps to reproduce (*)

1. Go to Content -> Design->Configuration -> Edit Theme Luma
https://prnt.sc/o8u05g
2.set  watermark image opacity to 99, image size to 255x68, image position to Bottom/Left, and saved configuration. https://prnt.sc/o8u1py
3.set small watermark image opacity to 99, ima