[2019-10-22 11:44] chris-pook commented on #25213
Can't replicate the issue on the provided 2.3-develop instance so I'll close this for now. I assume the Vertex module has been updated.

[2019-10-22 11:44] #25213 closed, assigned to vikalps4

[2019-10-22 11:48] paul-blundell commented on #25099
Any inidication on when this will be fixed by Magento?

Until then, with thanks to the above 2 comments, [here is a small extension](https://github.com/FutureActivities/Magento-Fix-Category-Images) that fixes it.

[2019-10-22 12:21] AndyJAllen commented on #25076
On a related note I am also experiencing an issue sending tracking emails from admin.
![image](https://user-images.githubusercontent.com/19735797/67285098-f0023080-f4a4-11e9-9b9b-b0deafb8450f.png)
Click "Send Tracking Information" and it just displays the following:
![image](https://user-images.githubusercontent.com/19735797/67284967-a285c380-f4a4-11e9-9f1b-6e1e7aa46201.png)

Anyone else not able

[2019-10-22 12:30] priyanka795 commented on #11182
I am having the same issue in Magento 2.3.2 version. cleared browser cache, F5, hard reload but still no luck. Issue is still as it is.
Any solution, please!!!!

[2019-10-22 12:33] engcom-Charlie commented on #25192
Hello @maddyBoy
Could you explain what do you want to see in Non-Document Allowed Methods section?
And could you give me any links that confirm this information?

[2019-10-22 12:33] adamrandazzo commented on #22999
@kriswen I unfortunately did not find a good solution. I had to modify the schema file to remove the addition of the FK constraint and run the setup:upgrade command. Total hack to get around it =( We have since upgraded to 2.3.2 and it is working correctly.

[2019-10-22 12:59] ghost opened #25214 "Garbage code issue"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

Unnecessary closing span tag is written in the getHintHtml function in \Magento\Backend\Block\Store\Switcher.php

### Steps to reproduce (*)

### Expected result (*)

![image](https://user-images.githubusercontent.com/56463897/67288402-8876d000-f4fa-11e9-8542-3e34ac621c8f.png)

### Actual result (*)

![image](https://user-images.

[2019-10-22 13:04] shubhajay commented on #10304
Backorders not in magento2.3.2 it does't show add to cart button it was working in magento 2.3.1

[2019-10-22 13:12] magento-engcom-team commented on #25119
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21973` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-22 13:16] engcom-Delta commented on #25116
Hi @Aiweline thank you for your report. Unfortunately, we are able to process issue only on English and according [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

If you'd like to update the issue, please reopen it.

[2019-10-22 13:16] #25116 closed, assigned to engcom-Delta

[2019-10-22 13:21] Serializator commented on #5322
@drpayyne, `Magento\Framework\UrlInterface` has two preferences, one in `/vendor/magento/magento2-base/app/etc/di.xml` and the other in `/vendor/magento/module-backend/etc/adminhtml/di.xml`

When you're in the `adminhtml` area, it uses the preference from `magento/module-backend`, causing it to become a `Magento\Backend\Model\UrlInterface` and giving you an unexpected result.

**Product URL**
I ha

[2019-10-22 13:31] krisdante commented on #24128
This issue is caused by POST payload larger than post_max_size for PHP.
This causes to truncate POST data and also Form Key is truncated.
Missing Form Key executes the exception that it is missing and JSON response that is not compatible with the current implementation of javascript uploader:
The response is:
{"error":true,"message":"Invalid Form Key. Please refresh the page."}
while JS Uploader e

[2019-10-22 13:52] CristianTEH opened #25217 "Multiple Wishlist triggers all modals twice, and upon saving a new wishlist nothing happens ."
In some instances when you try to do any action that triggers a modal on the wish list page, related to wish list actions, two modals will open, in some cases any action taken in the modal will not take effect, which has big effect on adding a new wihslist.

### Preconditions (*)

1. Magento 2.3.2 EE

### Steps to reproduce (*)

1. Login  on store front
2. Go to category/product page
3. Add a prod

[2019-10-22 14:16] bernd-reindl opened #25218 "Customer Address Country Options"
### Triage Note
- The issue is reproducible on `2.3.3` release version
- The issue is NOT reproducible on `2.3-develop`
- `2.3.3` is not merged into `2.3-develop` at this moment

Preconditions (*)

1. 2.3.3

### Steps to reproduce (*)

1. Install new Magento 2.3.3
2. Set "Default Country" to Austria
3. Set "Allow Countries" to Austria and Germany
4. Add new customer in admin view and save
5. Click

[2019-10-22 14:17] chris-pook opened #25219 "Custom attributes of images generated by Block\Product\ImageFactory don't render correctly"
###### (i) This ticket is created automatically based on a verified GitHub issue.
{panel}
***If you are starting to work on this Jira ticket, please notify issue reporter and authors of related community pull requests (if any) that you are going to work on this issue:***
  1.  *Assign [#25219](https://github.com/magento/magento2/issues/25219) issue to yourself on Magento GitHub*
  2.  *Add comment

[2019-10-22 14:19] bernd-reindl commented on #25218
https://fresh23.2mountain-group.com/phpinfo.php

[2019-10-22 14:20] engcom-Charlie commented on #17112
Hello @vishalverma279
We are not able to reproduce this issue on the lates 2.3-develop branch.
So i have to close this issue.

[2019-10-22 14:20] #17112 closed, assigned to engcom-Charlie

[2019-10-22 14:56] maddyBoy commented on #25192
Hey @engcom-Charlie
I would like to have the option of normal Domestic Express in Non-Document panel. As the one we've is restricted till the delivery of 12 PM due to which it's charging more cost from the client.

I had a word with DHL about this and they've mentioned this specifically.

![Screenshot_4](https://user-images.githubusercontent.com/26545067/67299224-0098c200-f50a-11e9-999d-4ef11b7d84

[2019-10-22 15:02] AndyJAllen opened #25221 "2.3.3 - "Send Tracking Information" not working."
### Preconditions (*)

1. Magento 2.3.3, upgraded from 2.3.2
2. Shipment created with Fedex packaging

### Steps to reproduce (*)

1. Click the Send Tracking Information button.
![image](https://user-images.githubusercontent.com/19735797/67285098-f0023080-f4a4-11e9-9b9b-b0deafb8450f.png)
2.

### Expected result (*)

1. Tracking email is sent with confirmation notification
2.

### Actual result (*)

[2019-10-22 15:28] rparsi-boxycharm commented on #25218
I'm getting same issue with magento 2.3.3; in my case default country is US, allowed countries are US, CA but in admin customer address add/edit form the countries list has Albania, Afghanistan

[2019-10-22 15:35] magento-engcom-team commented on #761
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/graphql-ce#804 by @sedonik in 2.3-develop branch
Related commit(s):
 - [439830da50d2e54e112cd5583cae5bbd4752dfa4](https://github.com/magento/graphql-ce/commit/439830da50d2e54e112cd5583cae5bbd4752dfa4)
 - [80b848a36567deb2540f4cfd6c3d005dfa0bf25e](https://github.com/magento/graphql-ce/commit/80b848a36567deb2540f4cfd6c3d005d

[2019-10-22 15:35] magento-engcom-team commented on #823
Hi @askwhyweb. Thank you for your report.
The issue has been fixed in magento/graphql-ce#1002 by @TomashKhamlai in 2.3-develop branch
Related commit(s):
 - [7dc9e6469c34221aabec3ca9083ed62239e0554b](https://github.com/magento/graphql-ce/commit/7dc9e6469c34221aabec3ca9083ed62239e0554b)
 - [f45a6728e44f0e7b347072d77755f166dc953816](https://github.com/magento/graphql-ce/commit/f45a6728e44f0e7b347072d

[2019-10-22 15:35] magento-engcom-team commented on #993
Hi @newbie1. Thank you for your report.
The issue has been fixed in magento/graphql-ce#994 by @TomashKhamlai in 2.3-develop branch
Related commit(s):
 - [95f2c640402c7cec553c9563272a11633fa97524](https://github.com/magento/graphql-ce/commit/95f2c640402c7cec553c9563272a11633fa97524)
 - [b52c14e601dedc4ece9512d64ad6741c3f3089cc](https://github.com/magento/graphql-ce/commit/b52c14e601dedc4ece9512d64a

[2019-10-22 16:24] richardreen opened #25222 "Paypall trx is refused because of double, order is processed as if it was succesfull"
Preconditions (*)

Magento 2.3.3
Php 7.3

Steps to reproduce (*)

Customer wants to pay a order with Paypall. Customer sees an succesfull booking and order.
In the backend we see now two succesfull orders  which are equal. Both have the status processing.
On our paypal account we see only 1 booking. Customer is also having 1 correct booking in their account
Talking to paypall about this, they have

[2019-10-22 16:37] kriswen commented on #22999
@adamrandazzo Can you share where/how to modify the schema file for this case? I might have to do the same if i can't find a solution. Thanks.

[2019-10-22 16:38] quantumAV commented on #18148
do we need to create a new issue for this?

[2019-10-22 16:49] adamrandazzo commented on #22999
Sure thing.. it was in vendor/magento/module-customer/etc/db_schema.xml

If you scroll down to the table with the error, you will see a contraint tag that you can comment out.

[2019-10-22 16:56] AndyJAllen commented on #23384
Some more information here. I'm still experiencing this on 2.3.3. Here is what gets dropped into system.log:

`[2019-10-22 16:47:34] main.CRITICAL: Exception message: Warning: Illegal string offset 'options' in .../public_html/vendor/magento/module-sales/Model/AdminOrder/Create.php on line 1912
Trace: <pre>#1 Magento\Sales\Model\AdminOrder\Create->_prepareQuoteItems() called at [vendor/magento/mod

[2019-10-22 17:01] Bohorques15 opened #25224 "I can't install extensions with the extension manager"
### Preconditions (*)

2. Instal Magento 2.3.2
1. Try to install an extension with the extension manager

### Steps to reproduce (*)

1. In the magento admin, enter system > web setup wizard
2. Enter the extension manager, then review and install. select an extension and click to install it

I have looked around at several solutions and have tried the following:

Checked permissions for the /var f

[2019-10-22 17:32] sdzhepa commented on #25217
Hello @CristianTEH

Thank you for contribution and collaboration!

I moved this issue into Magento Commerce private repository where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is commu

[2019-10-22 17:34] magento-engcom-team commented on #25150
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-21985` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-22 17:36] AndyJAllen commented on #25221
This is what the page source looks like:
![image](https://user-images.githubusercontent.com/19735797/67313431-f3131600-f4d0-11e9-892b-df393a4a3e9a.png)

[2019-10-22 17:48] dmytro-ch commented on #25214
Hello @vishesh-webkul, could you please provide Steps to reproduce to simplify the testing process for quality assurance team?
Thank you!

[2019-10-22 17:54] jaminion commented on #25076
@AndyJAllen we are not having that particular problem - did you by chance apply the "EmailMessageInterface backward compatibility issue patch"? If you haven't seen that, it might be worthwhile to review, although I have not applied that patch as I haven't found any affected code. A link to it:

https://magento.com/tech-resources/download#download2333

They changed the function signature (interface

[2019-10-22 17:59] kriswen commented on #22999
thanks man! For my case, it was 'catalog_product_entity_text' table. For the reference, I think it was due to import the data using CSV import in the past, all the data in the same .csv file got assigned to the same value_id, which is 0.

[2019-10-22 18:11] diamondavocado commented on #10454
@magento This is an extremely basic requirement for any e-commerce platform. How has this bug been allowed to remain unresolved for over **two years**? This is seriously worrying; if something this fundamental isn't fixed, what other problems might be lurking within the platform?

[2019-10-22 19:13] AndyJAllen commented on #25221
I worked around this problem by just replacing \vendor\magento\module-sales\view\frontend\templates\email\shipment\track.phtml with the 2.3.2 version.

[2019-10-22 19:35] ArthurSCD commented on #24619
On Magento 2.3.2, encountered this issue and more - pagination was missing completely.

On Magento 2.3.3, issue remains, even after the patch has been applied. Not only that, category sorting does not work at all, both with the sort and the category ordering set in the backend.

[2019-10-22 19:43] chrisperver commented on #16958
I also have this issue in 2.3.3 Community Edition. I have not yet tried to disable Temando Shipping as suggested by others. When I try to view a couple of orders on our system, we get the message...

"Information Changes have been made to this section that have not been saved. This tab contains invalid data. Please resolve this before saving."

Viewing the source html does not list any specific er

[2019-10-22 19:45] atwixfirster commented on #25150
Pretty good question. We discussed this problem with @shrielenee in https://github.com/magento/devdocs/issues/3200.

Per my debug I've detected the next plugins sequence :

For this method we have 2 plugins:
- `Plugin A` (sortOrder = 10)
  - `aroundExecute` method
  - `afterExecute` method
- `Plugin B` (sortOrder = 20)
  - `beforeExecute` method
  - `aroundExecute` method
  - `afterExecute` method

[2019-10-22 20:07] LucasCalazans commented on #25218
@krishprakash Are you working on this issue?

[2019-10-22 20:27] TomR5 commented on #25098
Hi, @itsPranith, did you get that Magento 2.3.2 dev instance from the eng-com team?  I have not gotten one yet myself.  Thank you.

[2019-10-22 20:46] ArthurSCD commented on #24619
I can confirm that even with the patch in #25107 on Vanilla sample data 2.3.3, issue remains on ONE COLUMN layout. Note that it seems to work fine if the category is accessed through Layered Navigation.

![ss (2019-10-22 at 03 36 20)](https://user-images.githubusercontent.com/13160340/67330892-a9cbc200-f4e2-11e9-8d2c-d36abf5ee8c3.png)

Surprisingly sorting does seem to work 1 column, Elasticsearch

[2019-10-22 20:50] magento-engcom-team commented on #23465
Hi @meetvora69. Thank you for your report.
The issue has been fixed in magento/magento2#24969 by @sashas777 in 2.3-develop branch
Related commit(s):
 - [f38ceaf98e3935c4b17419114bb108bef4e43b47](https://github.com/magento/magento2/commit/f38ceaf98e3935c4b17419114bb108bef4e43b47)
 - [b32c65e7c0f046866823025088c18b52d7a19787](https://github.com/magento/magento2/commit/b32c65e7c0f046866823025088c18b5

[2019-10-22 20:50] #23465 closed, assigned to sashas777

[2019-10-22 20:50] magento-engcom-team commented on #24311
Hi @gaurangpadhiyar007. Thank you for your report.
The issue has been fixed in magento/magento2#24954 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [9d4530d89831be96b717509780baedad8be2d5bf](https://github.com/magento/magento2/commit/9d4530d89831be96b717509780baedad8be2d5bf)
 - [5078e7788945a3bdd5d1a70a59500d8380b988c9](https://github.com/magento/magento2/commit/5078e7788945a3bdd5d1a70a

[2019-10-22 20:50] #24311 closed, assigned to eduard13, mahesh-rajawat

[2019-10-22 20:50] magento-engcom-team commented on #24652
Hi @Emanuel-23. Thank you for your report.
The issue has been fixed in magento/magento2#25015 by @anujwebkul in 2.3-develop branch
Related commit(s):
 - [36712c1e7167427acece84ed318d5609d28c5222](https://github.com/magento/magento2/commit/36712c1e7167427acece84ed318d5609d28c5222)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-22 20:50] #24652 closed, assigned to anujwebkul

[2019-10-22 21:46] MerikMag commented on #8276
Kervin, can you explain, what was your issue? We are facing the same on 2.3.2

[2019-10-22 22:49] ghost opened #25227 "Issue with Product Review when disabled from admin"
There is no proper check in controller if product review is disabled from admin

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Open Product page from frontend and go to add review section
2. Now login into Admin.
3. Disable Product Review from admin. Navigate to **Store > Configuration** then **Catalog > Catalog** now disable **Product Reviews**
4. Now go to opened produc

[2019-10-22 22:51] rahulwebkul commented on #25227
@magento give me 2.3-develop instance

[2019-10-22 22:51] magento-engcom-team commented on #25227
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-22 22:51] magento-engcom-team commented on #25227
Hi @rahulwebkul, here is your [Magento instance](https://i-25227-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25227-2-3-develop.instances.magento-community.engineering/admin](https://i-25227-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-22 22:57] rahulwebkul commented on #25227
I am able to reproduce this issue on Magento vanilla instance

[2019-10-23 04:38] ajijshekh123 commented on #25050
Give me @magento give me 2.3-develop instance

[2019-10-23 04:38] magento-engcom-team commented on #25050
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-23 04:38] krishprakash commented on #25218
@magento give me 2.3.3 instance

[2019-10-23 04:38] magento-engcom-team commented on #25218
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-23 04:38] magento-engcom-team commented on #25050
Hi @ajijshekh123, here is your [Magento instance](https://i-25050-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25050-2-3-develop.instances.magento-community.engineering/admin](https://i-25050-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 04:40] magento-engcom-team commented on #25218
Hi @krishprakash, here is your [Magento instance](https://i-25218-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25218-2-3-3.instances.magento-community.engineering/admin](https://i-25218-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 04:51] ajijshekh123 commented on #25050
The issue has been reproduced as defined by the steps and details.
@itwebdev2 - Thanks for the Update.
**See attached screenshot:**

![2019-10-23](https://user-images.githubusercontent.com/24711761/67358670-c9182d00-f57e-11e9-8f0d-e8e22f03dc80.png)

[2019-10-23 04:51] magento-engcom-team commented on #25050
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-23 04:53] magento-engcom-team commented on #25050
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22022` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-23 04:53] krishprakash commented on #25218
@magento give me 2.3-develop instance

[2019-10-23 04:53] magento-engcom-team commented on #25218
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-23 04:54] magento-engcom-team commented on #25218
Hi @krishprakash, here is your [Magento instance](https://i-25218-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25218-2-3-develop.instances.magento-community.engineering/admin](https://i-25218-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 05:00] magento-engcom-team commented on #25218
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22023` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-23 05:09] mageonio commented on #25026
@shikhamis11 can you confirm this issue to make possible start working on it?

[2019-10-23 05:21] magento-engcom-team commented on #25227
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22024` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-23 05:50] dmytro-ch commented on #25214
@vishesh-webkul, please provide proper manual testing scenarios.

[2019-10-23 06:00] ihor-sviziev commented on #25068
Hi @shikhamis11,
Now 2.3.3 release was merged, could you double check it again?

[2019-10-23 06:01] dmytro-ch commented on #25214
The issue is related to the tooltip block for the store switcher widget on Admin Dashboard.
![Screenshot 2019-10-23 at 08 56 46](https://user-images.githubusercontent.com/11693779/67362398-94eb3f00-f573-11e9-84a6-622e588ede8c.png)
![Screenshot 2019-10-23 at 08 58 47](https://user-images.githubusercontent.com/11693779/67362399-94eb3f00-f573-11e9-9cd0-af8744d1ed70.png)

[2019-10-23 06:02] magento-engcom-team commented on #25214
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22026` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-23 06:20] sshymko commented on #19882
As @simonspoerri correctly pointed out, the issue is reproducible when non-existing store code is specified in a web server configuration.

<img width="987" alt="magento2_install_store_not_found" src="https://user-images.githubusercontent.com/1231423/67363164-9f7ce880-f521-11e9-842d-7db9a2009b73.png">

You may have something like this in the Nginx config:
[code]

The issue is the Nginx misconfigur

[2019-10-23 06:23] kervin commented on #8276
It was a module throwing a large error message on add to cart.

An error message larger than the MAX_COOKIE_SIZE.

[2019-10-23 06:54] itsPranith commented on #25098
Hi TomR5,

I did not received Magento 2.3.2 dev instance from the eng-com team.

From: TomR5 [mailto:notifications@github.com]
Sent: Wednesday, October 23, 2019 1:59 AM
To: magento/magento2
Cc: Pranith Bethi; Mention
Subject: Re: [magento/magento2] 2.3.2 Cart Price Rule for Free Shipping does not apply to matching items only when using Table Rates (#25098)

Hi, @itsPranith <https://github.com/itsP

[2019-10-23 07:13] engcom-Charlie commented on #23384
Hello @AndyJAllen
So could you create new issue with new steps to reproduce and additional info?

[2019-10-23 07:27] magulin commented on #12446
I have the same problem on Magento 2.3.1, "https://domain.com/" is missing from sitemap.xml
@duffner Do you remember what workaround you found?

[2019-10-23 07:39] krzksz opened #25231 "Fullscreen gallery not swiping on touch devices"
### Preconditions (*)

1. Magento 2.3.x with sample data but older version may also be affected.

### Steps to reproduce (*)

1. Use touch device or enable touch events emulation in Chrome by choosing any mobile device.
2. Open fullscreen product gallery.
3. Try to change to another photo by swiping over image (`img`) element - almost always nothing happens.
4. Try to change to another photo by sw

[2019-10-23 07:39] krzksz commented on #25231
@magento give me 2.3-develop instance

[2019-10-23 07:39] magento-engcom-team commented on #25231
Hi @krzksz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-23 07:40] magento-engcom-team commented on #25231
Hi @krzksz, here is your [Magento instance](https://i-25231-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25231-2-3-develop.instances.magento-community.engineering/admin](https://i-25231-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 08:20] #25187 closed, assigned to engcom-Charlie

[2019-10-23 08:21] operations1 commented on #23667
Hello @engcom-Bravo,

Fair enough, but where should we post it? Its a core bug and we need a solution/workaround please.

[2019-10-23 08:27] engcom-Charlie commented on #25187
Hello @terrybakshi

Thank you for contribution and collaboration!

If you still faced this issue on `2.3` please create a new Issue with all required details according to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thanks for your report!

[2019-10-23 08:28] magento-engcom-team commented on #25211
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22027` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-23 09:03] engcom-Delta commented on #24488
Hi @llapgoch thank you for your report.  I am not able to reproduce issue by steps you described on 2.3-develop
My attribute `source` class contains two more methods:
- `getFlatColumns`
- `getFlatUpdateSelect`

![#24488Issue](https://user-images.githubusercontent.com/51681379/67376561-097ea780-f58d-11e9-8b28-2dbc039a739c.gif)

If you'd like to update the issue, please reopen it.

[2019-10-23 09:03] #24488 closed, assigned to engcom-Delta

[2019-10-23 09:05] BenItt commented on #23908
@hostep we are facing the same strange problem here. Unfortunately your Patch Link is leading to an empty page. Could you possibly repost your patch? That would be great. Thanks so much in advance

[2019-10-23 09:26] vishalverma279 commented on #25192
@maddyBoy will adding the mentioned option of Domestic Express in Non-Document panel will resolve this issue?

[2019-10-23 10:09] engcom-Bravo commented on #23667
Hello @operations1. As You've mentioned You are facing the issue on 2.2.8. Unfortunately
branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

If you still face this issue on `2.3` and it is reproducible on 2.3-develop (what means it is still not fixed), please create a

[2019-10-23 10:16] engcom-Bravo commented on #24912
Hi @mybathgreg. The contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-10-23 10:16] #24912 closed, assigned to nobody

[2019-10-23 10:18] engcom-Bravo commented on #24879
Hi @shkaib.  The contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-10-23 10:18] #24879 closed, assigned to nobody

[2019-10-23 10:20] engcom-Bravo commented on #24798
Hi @wilfriedwolf. The contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-10-23 10:20] #24798 closed, assigned to nobody

[2019-10-23 10:49] cedarvinda opened #25240 "Other PayPal Payment Solutions Title Not design like other and alignment not proper"
Other PayPal Payment Solutions Title Not design like other and alignment not proper

### Preconditions (*)
1. Magento 2.3.x
2. php 7.2

### Steps to reproduce (*)
1. Login admin panel
2. Redirect to Store > Configuration
3. Collapse the Sales tab and click in Payment Methods links
4. Then refer the screenshot

### Expected result (*)
![solution](https://user-images.githubusercontent.com/26018716/6

[2019-10-23 10:50] shikhamis11 commented on #25240
@magento give me 2.3-develop instance

[2019-10-23 10:50] magento-engcom-team commented on #25240
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-23 10:51] magento-engcom-team commented on #25240
Hi @shikhamis11, here is your [Magento instance](https://i-25240-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25240-2-3-develop.instances.magento-community.engineering/admin](https://i-25240-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 10:52] magento-engcom-team commented on #25240
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22028` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-23 10:56] jorgb90 commented on #25218
Same issue here on our 2.3.3 installation.

![Schermafbeelding 2019-10-23 om 12 56 35](https://user-images.githubusercontent.com/7294081/67386070-95480200-f594-11e9-9f46-4772e4cb658a.png)

[2019-10-23 10:59] engcom-Delta commented on #25190
Hi @paul-blundell thank you for your report. Unfortunately, I am not able to reproduce issue by steps you described on clean 2.3-develop.
![#25190issue](https://user-images.githubusercontent.com/51681379/67386267-4c487b80-f59d-11e9-8715-0bf3f4259e85.gif)

If you'd like to update the issue, please reopen it.

[2019-10-23 10:59] #25190 closed, assigned to engcom-Delta

[2019-10-23 11:22] paul-blundell commented on #25190
@engcom-Delta Did you do step 4? With Single-Store mode set to No, did you change the scope to the store view, then edit & save the product. This is the critical step to reproducing this.

[2019-10-23 11:28] magento-engcom-team commented on #25186
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22029` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-23 11:36] ajijshekh123 commented on #25201
@Orstio - Till now, You haven't updated me about this issue. If you have found again this issue you can open it.

[2019-10-23 11:36] #25201 closed, assigned to ajijshekh123

[2019-10-23 11:41] vitcra opened #25243 "Numerical placeholder count in Phrase starts with %1, however js code assumes 0%"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Check this code: https://github.com/magento/magento2/blob/2.3.3/lib/internal/Magento/Framework/Phrase/Renderer/Placeholder.php#L43

2. Compare to: https://github.com/magento/magento2/blob/2.3.3/app/code/Magento/Ui/view/frontend/web/js/model/messages.js#L52

### Expected result (*)

Js version of __('Carrier with such method no

[2019-10-23 11:50] soopermouse commented on #19491
this is still not fixed.
Why are issues closed when they are still not solved?

[2019-10-23 12:00] Naitaes commented on #22270
This was not included in the 2.2.9 release.

https://github.com/magento/magento2/blob/2.2.9/app/code/Magento/ConfigurableProduct/view/frontend/web/js/configurable.js#L376

[2019-10-23 12:02] mybathgreg commented on #24912
Thanks for the help... turns out it was a plugin causing the table to disappear.

Greg Walker
Manager
Cannavape.com
(844) 827-3266 [tel:(844)%20827-3266] | (607) 242-8965 [tel:(607)%20242-8965]
greg@cannavape.com [mailto:greg@cannavape.com]
www.cannavape.com
311 Mount View Lane Colorado Springs, CO 80907
[facebook] [https://www.facebook.com/cannavape]
[twitter] [https://www.twitter.com/cannavape]

[2019-10-23 12:03] engcom-Delta commented on #25155
Hi @mrossh thank you for your report. I am not able to reproduce issue by steps you described on clean 2.3-develop
Inside `for` loop `allowedTypes[i].type` returns sting.
![#25155Issue](https://user-images.githubusercontent.com/51681379/67390804-02b05e80-f5a6-11e9-894f-e3e6f372d746.png)

![#25155issue_2](https://user-images.githubusercontent.com/51681379/67390808-05ab4f00-f5a6-11e9-8faa-39a0ad0cb9

[2019-10-23 12:03] #25155 closed, assigned to engcom-Delta

[2019-10-23 12:09] BrentRobert commented on #25218
This is the commit that fixed the issue for me.
https://github.com/magento/magento2/commit/7211d50998f786dce0628346439649ac8d196c46

[2019-10-23 12:15] swaibar commented on #9214
I am facing this issue on 2.3.2, entering "Apply “Maximum Qty Discount is Applied to” to 1 should apply the discount to only one product in the basket - but instead applies to all products.  The goal is "When you buy one product, then you get x% off the second".

Why remove tag for 2.3? Why close due "it did not get much attention from both Magento Community and Core developers for an extended per

[2019-10-23 12:16] soopermouse commented on #20684
that didn't work for me.
The fact the error message doesn't give any useful information IS the issue.
Why are we still using Magento?

[2019-10-23 12:21] ravi-chandra3197 commented on #25059
@magento give me 2.3-develop instance

[2019-10-23 12:21] magento-engcom-team commented on #25059
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-23 12:22] magento-engcom-team commented on #25059
Hi @ravi-chandra3197, here is your [Magento instance](https://i-25059-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25059-2-3-develop.instances.magento-community.engineering/admin](https://i-25059-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 12:24] jorgb90 commented on #25218
@BrentRobert Thanks! Works perfectly :)

[2019-10-23 12:26] dmytro-ch commented on #25240
Hi @cedarvinda, please create the pull requests with minor fixes and obvious improvements without opening the issues.
Thank you!

[2019-10-23 13:13] maddyBoy commented on #25192
@vishalverma279 Yeah, that would resolve the issue. Possible to share some timeframe over this?

[2019-10-23 13:19] #13278 closed, assigned to Bartlomiejsz

[2019-10-23 13:19] #25108 closed, assigned to edenduong

[2019-10-23 13:19] #25057 closed, assigned to edenduong

[2019-10-23 13:20] #22346 closed, assigned to tdgroot

[2019-10-23 13:23] vishalverma279 commented on #25192
@maddyBoy will this work:
![image](https://user-images.githubusercontent.com/38008540/67397180-706c8280-f5c6-11e9-8158-9fea2b5c7d11.png)

[2019-10-23 13:23] vijay-prevaj commented on #23908
Hi @engcom-Bravo I tried it, but doesn't reproduce the issue in our magento instance.

Thank you

[2019-10-23 13:59] maddyBoy commented on #25192
Yeah, that should work, @vishalverma279

[2019-10-23 14:00] magento-engcom-team commented on #25231
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22033` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-23 14:03] engcom-Charlie commented on #25221
Hello @AndyJAllen

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.
Magento 2.3-develop has this code too:
![image](https://user-images.githubusercontent.com/51680850/67374362-bf47f700-f589-11e9-8e68-d4a598422be1.png)

**Manual testing scenario:**

1. Place order with Fedex shipment
2. Create a shipment for th

[2019-10-23 14:03] #25221 closed, assigned to nobody

[2019-10-23 15:25] ghost opened #25245 "Warning when Search Terms page is opened by clicking option at the footer"
### Preconditions (*)
1. Fresh Magento installation with magento 2.3-develop

### Steps to reproduce (*)
1. Setup vanilla 2.3-develop
2. Create a product in the backend, give it the name "test"
3. On the frontend, perform a search query, search for "test"
4. Notice that it finds the product
5. If you now go to the Search Terms page in the frontend, it will show the search term "test" => **good**
6

[2019-10-23 15:26] vishalverma279 commented on #25245
@magento provide me an instance

[2019-10-23 15:46] IanFiretoys opened #25247 "filter by date in order grid still filters by US date when user locale is set to international"
### Preconditions (*)

1. Magento 2.3.2
2. Magento/backend adminhtml
3. Default store locale set to English (United Kingdom)

### Steps to reproduce (*)

1. change your admin user's locale to english (united kingdom), or any locale that uses the DD/MM/YYYY date format (most places outside the USA)
2. go to order grid and open filters
3. using the calendar, choose a from date, it will successfully

[2019-10-23 15:48] DominicWatts commented on #7550
On 2.3.0 I came across this issue via google

Not visible individually items were missing from minicart

It is fixed with this commit https://github.com/magento/magento2/commit/341abe5bf09a5d7a1a3578121c38fe56d96474b6

Hopefully this will save someone a couple of hours debugging

[2019-10-23 16:02] IanFiretoys commented on #25247
@magento give me 2.3-develop instance

[2019-10-23 16:02] magento-engcom-team commented on #25247
Hi @IanFiretoys. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-23 16:03] magento-engcom-team commented on #25247
Hi @IanFiretoys, here is your [Magento instance](https://i-25247-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25247-2-3-develop.instances.magento-community.engineering/admin](https://i-25247-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 16:13] IanFiretoys commented on #25247
@magento give me 2.3.3 instance

[2019-10-23 16:13] magento-engcom-team commented on #25247
Hi @IanFiretoys. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-23 16:13] krishprakash commented on #25245
@magento give me 2.3-develop instance

[2019-10-23 16:13] magento-engcom-team commented on #25245
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-23 16:14] magento-engcom-team commented on #25247
Hi @IanFiretoys, here is your [Magento instance](https://i-25247-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25247-2-3-3.instances.magento-community.engineering/admin](https://i-25247-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 16:15] magento-engcom-team commented on #25245
Hi @krishprakash, here is your [Magento instance](https://i-25245-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25245-2-3-develop.instances.magento-community.engineering/admin](https://i-25245-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 16:19] krishprakash commented on #25245
Hi @vishalverma279. Thank you for your report.
Not able to reproduce this issue as provided steps by you.
Please provide more details and confirm that issue is reproduced on venilla magento instance.
Thanks

[2019-10-23 16:25] magento-engcom-team commented on #25247
Hi @IanFiretoys. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-23 16:26] magento-engcom-team commented on #25247
Hi @IanFiretoys, here is your [Magento instance](https://i-25247-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25247-2-3-develop.instances.magento-community.engineering/admin](https://i-25247-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 16:31] IanFiretoys commented on #25247
appears to be fixed in 2.3-develop

[2019-10-23 16:35] timelam commented on #25221
I had the same problem after upgrading from 2.2.8 to 2.3.3. Your workaround worked for me. Thanks!

[2019-10-23 16:36] korostii commented on #21193
Hi @magento-engcom-team , considering that both #20891 and #21796 pull requests got closed, is there an acceptable approach to tackling this issue in 2.3, at all?

Or perhaps this is just something that should be done in 2.4 as a breaking change?

[2019-10-23 16:42] vishalverma279 commented on #25245
@krishprakash possibly warnigs are disabled at the docker instance of magento. can you please check by cloning the same at your locals server
https://drive.google.com/file/d/1rysG1boY1TobKhajeuHoBK5IgoL47zXL/view

[2019-10-23 16:48] MaksymGrom commented on #21193
Hi @korostii, I recomend you to replace \ before className in all di.xml. Script take both with \ and without \ as separate nodes. So you should follow magento way and avoid \

<type name="\Magento\Cms\Block\Block"/> must be replaced on <type name="Magento\Cms\Block\Block"/>

[2019-10-23 16:56] cannycookie commented on #7497
Still an issue in 2.3.3.  @devs to replicate we have to enable bandwidth throttling to simulate slow connections. On the cart If you re-edit the postcode WHILST the subtotals are still calculating then the radios stayed disabled.

[2019-10-23 17:08] robyerevan commented on #13269
not fixed.
Reproduced in 2.3.1

[2019-10-23 18:06] sdzhepa commented on #24788
Hello @augrinovska and @webkul-ratnesh
fyi: @engcom-Bravo

Thank you for contribution and collaboration!

After several meetings and discussions of this issue with internal Magento specialists(related and owners of these modules/functionality) we have next results:

1. The described issue is feature request actually because Magento works as was intended(the attribute should be global by design).
2

[2019-10-23 18:06] #24788 closed, assigned to webkul-ratnesh, sdzhepa

[2019-10-23 18:28] sdzhepa commented on #15935
Hello @patrick-bigbridge

FYI: Internal PR has been merged.
Links with commits from  https://github.com/magento/magento2/issues/15935#issuecomment-543987670 are available now

[2019-10-23 19:09] farhad2019 commented on #7932
I still have the same issue. Fatal error: Uncaught Error: Cannot instantiate interface Magento\Framework\Cache\FrontendInterface in E:\wamp64\www\update\vendor\magento\framework\ObjectManager\Factory\Dynamic\Developer.php:50 Stack trace: #0

[2019-10-23 19:57] rahulwebkul commented on #15273
@magento give me 2.3-develop instance

[2019-10-23 19:57] magento-engcom-team commented on #15273
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-23 19:58] magento-engcom-team commented on #15273
Hi @rahulwebkul, here is your [Magento instance](https://i-15273-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-15273-2-3-develop.instances.magento-community.engineering/admin](https://i-15273-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 19:59] hostep commented on #24951
It looks like the 2.3.3 release branch was finally merged in 2.3-develop some hours ago: https://github.com/magento/magento2/commit/0583fc3a88c948b2e95c6874c6dda1caaa4f9442

It would still be great if there could be some kind of explanation why it takes this long to get this merged and if this period could be shortened for the next release somehow.

[2019-10-23 20:00] magento-engcom-team commented on #970
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/graphql-ce#1013 by @lenaorobei in 2.3-develop branch
Related commit(s):
 - [a18b0e194ba8520d1898ebb0827d0bee5a188290](https://github.com/magento/graphql-ce/commit/a18b0e194ba8520d1898ebb0827d0bee5a188290)
 - [39042ac2e2afa306730134d35bde9a4c33e12340](https://github.com/magento/graphql-ce/commit/39042ac2e2afa306730134d35bde

[2019-10-23 20:00] magento-engcom-team commented on #977
Hi @mattisbusycom. Thank you for your report.
The issue has been fixed in magento/graphql-ce#996 by @atwixfirster in 2.3-develop branch
Related commit(s):
 - [90557f9c2a0c1720792d4747c9473bd2647a2ec9](https://github.com/magento/graphql-ce/commit/90557f9c2a0c1720792d4747c9473bd2647a2ec9)
 - [5bf67e58f7836eca821643c269557196cf4d5569](https://github.com/magento/graphql-ce/commit/5bf67e58f7836eca82164

[2019-10-23 20:10] rahulwebkul commented on #15273
I am able to reproduce this issue on magento vanilla instance. issue exist in 2.3-develop branch

[2019-10-23 20:43] neddy236 commented on #19710
I've also encountered this on clean magento with sample data 2.3.2
catalog:image:resize fixed the issue ofcourse. There was one image missing from catalog_product_entity_media_gallery. Once deleted re-run the catalog:image:resize command and solved the problem.

Although this is of course "a fix" I agree that images that do not resolve to anything should be regenerated on the fly.

To summarize. I

[2019-10-23 21:40] ejsexton82 commented on #24946
This issue is occurring in Magento Cloud Commerce, as well. The sitemaps generate fine from the Magento Admin, but they are incorrect when generated from the cron.

[2019-10-23 22:21] ghost opened #25254 "Validation issue for configuable product in cart"
There is no proper validation for configurable product in cart. If we add configurable product in cart and then remove associated product from configurable product in admin then there is no error on cart page and guest/customer is able to place order.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Create a configurable product. Here i am creating configurable product usin

[2019-10-23 22:22] rahulwebkul commented on #25254
@magento give me 2.3-develop instance

[2019-10-23 22:22] magento-engcom-team commented on #25254
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-23 22:23] magento-engcom-team commented on #25254
Hi @rahulwebkul, here is your [Magento instance](https://i-25254-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25254-2-3-develop.instances.magento-community.engineering/admin](https://i-25254-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-23 22:23] aliomattux commented on #5645
I experience the same issue on migrated database from 1.9.2.3 to 2.3.3.
I have a lot of trouble with this kind of issue. The reason being because the error is not clear in explaining the problem, and because in my opinion the problem is stupid. An uncaught programming exception happens because specific attributes are not a part of a specific attribute group. The application freely allows you to mo

[2019-10-23 22:26] rip057 commented on #5645
You have an attribute that is not defined somewhere.  If you read this
entire thread there is a how to to fix this issue.

On Wed, Oct 23, 2019, 5:25 PM Kyle Waid <notifications@github.com> wrote:

[2019-10-23 22:28] rahulwebkul commented on #25254
I am able to reproduce the issue on vanilla Magento instance

[2019-10-23 22:30] aliomattux commented on #5645
If you see in my post, I did fix the issue myself and I no longer face the issue. The exact resolution for me was to ensure that all attributes that were in the default attribute set advanced pricing group were also in my custom attribute group. During migration the attribute set is Migrated_Pricing. I renamed it to Advanced Pricing. I verified that the attribute group code in the table others men

[2019-10-23 22:31] sdzhepa commented on #24037
Hello @TysvdHeuvel and @maheshWebkul721

Related internal jira ticket `MC-19028` has been closed as a duplicate of https://github.com/magento/magento2/issues/24639

This fix for this issue currently in development by internal Magento team and should be delivered in the scope of internal Jira ticket `MC-20259` - internal ticket for magento/magento2/issues/24639

[2019-10-23 22:31] #24037 closed, assigned to mahesh-rajawat

[2019-10-23 22:35] rip057 commented on #5645
My bad, I inherently did what I was accusing you of doing... Not reading.
This error has to do with migration, and you may or may not have migrated
that database from an earlier version of 1.9 or earlier as this is what I
did.  I also am pretty sure I had used an external migrator at first, and
am pretty sure this caused the issue.

On Wed, Oct 23, 2019, 5:31 PM Kyle Waid <notifications@github.com

[2019-10-23 22:52] AndyJAllen commented on #25221
I'm glad I was able to help someone. Good luck to you sir.

[2019-10-23 23:01] sdzhepa commented on #24639
Hello @philippsander and @shikhamis11

The fix for this issue is in progress by the internal Magento team.
It will be delivered in the scope of `MC-20259`.
At this moment development is done and `MC-20259` in code-review stage

[2019-10-23 23:07] rip057 commented on #5645
Might I also add that while learning the Magento table structure and it's
foreign keys and/or dependencies can be a chore, understanding the finer
points of it however, makes fixing issues like this one ezpz.

On Wed, Oct 23, 2019, 5:35 PM Chris Clark <rip057@gmail.com> wrote:

[2019-10-23 23:24] sdzhepa commented on #24323
Can be closed ad fixed and delivered in https://github.com/magento/magento2/pull/24324

[2019-10-23 23:24] #24323 closed, assigned to nobody

[2019-10-23 23:25] sdzhepa commented on #23042
Can be closed as fixed and delivered https://github.com/magento/magento2/pull/24053

[2019-10-23 23:25] #23042 closed, assigned to nobody

[2019-10-23 23:29] sdzhepa commented on #12202
Is it still actual for the current `2.3-develop` or we can close it?

[2019-10-23 23:30] sdzhepa commented on #23055
Can be closed as fixed and delivered https://github.com/magento/magento2/pull/23059

[2019-10-24 03:29] portchris commented on #4119
# For anyone else still experiencing this issue.
I believe this is strictly a theme issue, not a problem with a vanilla install of Magento 2.
### The problem
I have seen this issue when:
- jQuery is loaded twice
- Custom theme JS files are calling "$" without defining it

### Reproducing the error
I have experienced this problem intermittently but I believe it can be replicated by throttling your

[2019-10-24 04:45] krishprakash commented on #25245
@vishalverma279. checked at local 2.3-develop and 2.3.3  instances but could not reproduce this issue.
https://www.screencast.com/t/MHbrrq3Chd

[2019-10-24 05:52] vijay-prevaj opened #25258 "Price Filter not showing when using elastic search 6+"
### Preconditions (*)

1. Magento 2.3.2
2. Elasticsearch 6+

### Steps to reproduce (*)

1. Enable Elasticsearch 6+
2. See Category page layered navigation

### Expected result (*)

1. Price filter must show

### Actual result (*)

1. Price filter is missing

[2019-10-24 07:07] BenItt commented on #23908
@sbrendtro thank you for this additional information. We are facing the same problem and hope that Magento can fix this problem the soonest as it is really a very annoying bug.

[2019-10-24 07:14] garry191091 opened #25260 "blank page after new install"
I am using this given magento version and i have installed it on window os. After installation, now i am getting a blank page on click on admin URL.

And on front-end I am facing this issue.
#There has been an error processing your request
Exception printing is disabled by default for security reasons.

[2019-10-24 07:22] patrick-bigbridge commented on #15935
Thanks!

[2019-10-24 07:31] patrick-bigbridge commented on #19588
@engcom-backlog-nazar Can you give me a commit for this fix? Upgrading to 2.3 is not an option for our client just now.

[2019-10-24 08:04] tuyennn commented on #8181
@magento-engcom-team Please specific which commit related to the fixes

[2019-10-24 08:08] hafizjee commented on #7367
![screenshot-localhost-2019 10 24-13_06_28](https://user-images.githubusercontent.com/43178443/67465799-4fa43b80-f65f-11e9-96bf-3d105823669b.png)

I remove all Negative price manually. After that layered navigation filter shows the correct range and doesn't show the negative price range . But after running the commands :
sudo php bin/magento setup:upgrade
sudo php bin/magento setup:di:compile
sudo

[2019-10-24 08:24] patrick-bigbridge commented on #19588
The problem we had occurred in a third party extension, so we don't need this commit anymore.

[2019-10-24 08:24] fritzmg commented on #25199
We are noticing this problem too with MariaDB `10.3.18`. We notice that most INSERT queries of the indexer take waaaay longer than expected and especially the following query takes up to **8 hours**!

[code]

We cannot even do a `indexer:reindex` because once it arrives at the categories index, the following error will happen after 8 hours:

[code]

So apparently it takes so long, that the tempora

[2019-10-24 08:36] engcom-Charlie commented on #25142
Hello @duyetbv
I can reproduce this issue only with bad configuration `env.php`. No way to configure the async.operations.all queue to use mysql.
As I understand your problem is solved.
So i can close this issue.
Thanks for your report!

[2019-10-24 08:36] #25142 closed, assigned to engcom-Charlie

[2019-10-24 08:54] pietervanuhm commented on #22591
Just a quick update: This issue is still remaining on 2.3.2

[2019-10-24 09:04] Karlasa commented on #25144
PR #25145 fixed the issue, Will close it for now.

[2019-10-24 09:04] #25144 closed, assigned to drpayyne

[2019-10-24 09:10] domeglic commented on #15984
As @Clud7 explained, this problem occurs when at least 1000 products of the same type are being reindex.
This problem will not be visible unless you have enough products. Here is an easy way to reproduce:
- Set `cataloginventory_stock` index to mode `scheduled`
- Simulate products getting changed:
`INSERT INTO cataloginventory_stock_cl(entity_id) SELECT a.entity_id FROM catalog_product_entity a IN

[2019-10-24 11:03] engcom-Charlie commented on #10726
Hello @ulftietze
We are not able to reproduce this issue on the latest Magento 2.3-develop(merged code from 2.3.3).

**Manual testing scenario:**
1. Create a module with api interface
(i used your code):
[code]

but i change method from "POST" to "PUT"
[code]
2. Send a request

**Actual result:**
response = void
![image](https://user-images.githubusercontent.com/51680850/67467270-21b7fa80-f651-11e

[2019-10-24 11:16] engcom-Delta commented on #25074
Hi @mamsincl Unfortunately, I am not able to reproduce issue by steps you described on clean 2.3-develop(git version) and  2.3.3 (composer version)

**Testing scenario:**

- Install magento
- Run `php bin/magento setup:di:compile`
- Run `php bin/magento setup:static-content:deploy -f`
- Run `php bin/magento setup:upgrade --keep-generated`

**Result:**
:heavy_check_mark: Upgrade complete successful

[2019-10-24 11:26] dev-Z-Apx commented on #24948
@vinay-chhabra  can you please tell me when this issue will be fixed, any idea?
and will it be available in this release as a fix or it will be provided in new release ?

[2019-10-24 11:28] magento-engcom-team commented on #23031
@korostii Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is ad

[2019-10-24 11:32] amenk commented on #25199
@fritzmg Feel free to try my https://github.com/magento/magento2/pull/25212

[2019-10-24 11:34] amenk commented on #25199
@fritzmg Which MariaDB version were you on before it became so slow?

[2019-10-24 11:38] fritzmg commented on #25199
Before it was actually MySQL `5.7.27`. Since this is happening in a live system (hoster had to switch DB server due to other troubles) we can't unfortunately test your fix (yet) and thus our hoster is in the process of downgrading the MariaDB version again.

[2019-10-24 11:44] robhuijben opened #25266 "Unable to edit product because of an error in catalog adminhtml gallery.phtml"
I was trying to edit a product in an existing environment recently updated to Magento 2.2.10 when I stumbled upon an error when opening the product in the backend. It seems that the constant *formName* in magento/module-catalog/view/adminhtml/templates/catalog/product/helper/gallery.phtml should be *$formName*.

### Preconditions (*)
1. Magento version 2.2.10, clean install

### Steps to reproduce

[2019-10-24 11:45] amenk commented on #25199
What I did it to locally setup 10.3.18 in docker to reproduce the bug and test the fix.

[2019-10-24 11:45] sunilit42 opened #25267 "Static block should be cache store wise"
### Preconditions (*)

1. latest Magento 2.3.*
2. Multiple web store

### Steps to reproduce (*)

1. multiple store
2. add static block using cache lifetime

### Expected result (*)

1. it should be cache block for that lifetime per store wise

### Actual result (*)

1. it is caching globally

e.g
[code]

In backend, i created promo block per store wise.

Store 1 :-  if i am visiting first then it

[2019-10-24 11:46] robhuijben commented on #25266
@magento give me 2.2.10 instance

[2019-10-24 11:46] magento-engcom-team commented on #25266
Hi @robhuijben. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-10-24 11:51] engcom-Charlie commented on #22484
Hello @DmitryPirvu
Please create a new issue for advice or general discussion about this issue.
This issue should be closed.
Thanks for your report!

[2019-10-24 11:51] #22484 closed, assigned to engcom-Charlie

[2019-10-24 11:54] fritzmg commented on #25199
Yes, I've seen that on Stackoverflow :). When we get around to it, we will try the same.

[2019-10-24 12:05] sunilit42 commented on #25267
I see already fixed into new 2.3.3
https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Cms/Block/Block.php#L99

Thanks for your time :)

[2019-10-24 12:05] #25267 closed, assigned to nobody

[2019-10-24 12:14] engcom-Delta commented on #24290
Issue is reproducible on 2.3-develop:
![#24290issue](https://user-images.githubusercontent.com/51681379/67484527-f3e2ae00-f670-11e9-8b78-17ca38440200.jpg)

![#24290issue_2](https://user-images.githubusercontent.com/51681379/67484535-f6dd9e80-f670-11e9-9c50-0edf754418a0.jpg)

[2019-10-24 12:15] magento-engcom-team commented on #24290
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22090` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-24 12:18] jakwinkler opened #25268 "$order->getCustomer() returns NULL for registered customer"
### Preconditions (*)

1. Magento 2.3.2 & 2.4-develop, community edition

### Steps to reproduce (*)

1. Create customer account and make an order
2. Create a module with an observer to `sales_order_save_after` event
[code]
3. Try to access Customer object from order object

[code]

### Expected result (*)

1. Method `getCustomer` should return customer object, as defined in phpdoc block **OR** ph

[2019-10-24 12:46] ocadmin81 commented on #5847
kingavi26, What is the 3rd party Authorize.net payment module you used?
Thanks

[2019-10-24 13:14] materi opened #25269 "REST get categories for store "all" missing data"
REST get categories for store "all" missing data (/rest/all/V1/categories).
Important properties like `name`,`is_active` are null.
Using a specific store, for example "default" still works and we get working data.

I have not tried to reproduce the issue on fresh install, noticed after upgrade from 2.3.x to 2.3.3.

### Preconditions (*)

1. Magento 2.3.3 CE

### Steps to reproduce (*)

1. Call GET

[2019-10-24 13:27] engcom-Charlie commented on #25222
Hello @richardreen

We are not able to reproduce this issue on the latest 2.3-develop(2.3.3 code is merged) branch by following **steps:**

1. Place order via PayPal
2. Check order in backend for duplicates
3. Check `system.log`

**Result:**
No duplicates and no errors in `system.log`

So i have to close this issue.
Thanks for your report!

[2019-10-24 13:27] #25222 closed, assigned to engcom-Charlie

[2019-10-24 13:46] bmartus commented on #19597
Seeing this on Magento Commerce 2.3.3, also.

[2019-10-24 13:50] ksz2013 opened #25271 "Multiple Address Checkout - Products Parent Item not updated properly"
### Preconditions (*)
1. Clean Magento 2.3.3, or previous version as well
2. Enable Allow Shipping to Multiple Addresses option to Yes

### Steps to reproduce (*)
1. Place configurable or bundle product to the basket
2. On Checkout Select Multiple Address Checkout
3. Place the order, go through all the steps

### Expected result (*)
1. The configurable product under my account should appear as con

[2019-10-24 14:04] krisdante commented on #22375
@magento I am working on it

[2019-10-24 14:12] rav-redchamps commented on #778
Anyone having similar problem might use a pre-built extension

https://redchamps.com/payment-methods-for-backend-magento2-extension.html

This doesn't have the ability to enable existing payment methods for backend only but it offers

-  9 offline payment methods which can be used for backend orders only
- It allows you to add payment handling fees(flat/percentage) for these payment methods

P.S.

[2019-10-24 14:13] anujwebkul commented on #25271
@magento give me 2.3-develop instance

[2019-10-24 14:14] magento-engcom-team commented on #25271
Hi @anujwebkul, here is your [Magento instance](https://i-25271-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25271-2-3-develop.instances.magento-community.engineering/admin](https://i-25271-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-24 14:25] anujwebkul commented on #25271
@ksz2013 issue not found in the 2.3-develop instance.

[2019-10-24 14:43] AndyJAllen opened #25274 "Ampersands '&' break credit card transactions; Paypal Payflow Pro"
### Preconditions (*)

1. Magento 2.x
2. Paypal Payflow Pro

### Steps to reproduce (*)

1. Enter an ampersand in one of the name field of address fields.
2. Attempt to checkout with embedded CC form

### Expected result (*)

1. Successful checkout and payment
2.

### Actual result (*)

1. Receive [paypal error code  -6](https://www.paypalobjects.com/en_US/vhelp/paypalmanager_help/result_values_fo

[2019-10-24 15:26] #25088 closed, assigned to eduard13

[2019-10-24 15:27] #24745 closed, assigned to eduard13

[2019-10-24 15:32] sdzhepa commented on #24725
Hello @nileshti

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magen

[2019-10-24 16:00] sdzhepa commented on #23908
Hello @mehmetuygun  and @ffalkone

I just got a notification that the current issue has been fixed by the internal Magento team and in the scope of `MC-21568`.
At this moment `MC-21568` has passed code-review and now in the QA stage. I expect it will be delivered during the first part of the next week.

FYI: @sbrendtro @onepack @gilesbennett @ron-jomashop @hostep @BenItt

[2019-10-24 16:19] sdzhepa commented on #25147
After discussion and investigation, I believe this issue is not specific only for Magento Commerce(EE) and the same problem should be in Open Source(CE) as well. It could be not possible to reproduce it by provided steps without buying the `Amasty Conditions module` but from a code perspective, we see the bug.

Confirmed

[2019-10-24 16:21] magento-engcom-team commented on #25147
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22098` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-24 16:22] krishprakash commented on #25245
Hi @vishalverma279 feel free to reopen the if you confirm that issue is reproduced on venilla magento instance.
Thanks

[2019-10-24 16:24] nadroj467 opened #25275 "require.js: Fallback to JQueryUI Compat activated"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Visit a category page through browser

### Expected result (*)

1. No console warnings

### Actual result (*)

1. Console warining: Fallback to JQueryUI Compat activated. Your store is missing a dependency for a jQueryUI widget. Identifying and addressing the dependency will drastically improve the performance of your site.

[2019-10-24 16:25] nadroj467 commented on #25275
@magento give me 2.3.3 instance

[2019-10-24 16:25] magento-engcom-team commented on #25275
Hi @nadroj467. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-24 16:26] magento-engcom-team commented on #25275
Hi @nadroj467, here is your [Magento instance](https://i-25275-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25275-2-3-3.instances.magento-community.engineering/admin](https://i-25275-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-24 16:30] #25275 closed, assigned to nobody

[2019-10-24 16:40] jefflenz commented on #19407
Happening on 2.3.2-p2 enterprise

[2019-10-24 17:25] rahulwebkul commented on #25254
@krishprakash - Please verify the issue. let me know if anything is not clear.

[2019-10-24 17:40] hostep commented on #12202
@sdzhepa: not tested yet, but I think https://github.com/magento/magento2/pull/15383 fixed it and that was delivered in Magento 2.3.3
Maybe @kanduvisla can confirm? It also fixed his very similar sounding issue https://github.com/magento/magento2/issues/8258

[2019-10-24 18:10] danemacmillan opened #25276 "Magento_Contact module MUST NOT include any design-level LESS styling"
### Preconditions (*)
Magento 2.3.x & 2.3-develop
The `Magento_Contact` module, under the `code` directory, includes its own `_module.less` file at: https://github.com/magento/magento2/tree/2.3-develop/app/code/Magento/Contact/view/frontend/web/css/source

### Steps to reproduce (*)
No other module under the `code` directory includes LESS of any kind. The Contact module is in violation of the divi

[2019-10-24 18:23] Userr017 commented on #25221
I have same issue when upgrade magento 2.3.2 to 2.3.3. Shipping created with Carrier: Custom value.

[2019-10-24 18:47] hostep commented on #15984
Let's reopen this one based on the last of comments and on https://github.com/magento/magento2/issues/12205#issuecomment-524744517, maybe somebody from Magento can try to reproduce this.

Would it be enough to forward port https://github.com/magento/magento2/commit/20d7afbe75fed9b8f45e3231848aae40b1c06a3a to 2.3-develop?

[2019-10-24 18:49] jojotjebaby commented on #24942
@shikhamis11 , are you currently working on this issue ? I would be okay to work on this issue but I would like to know which solution to do:

1. Change the position of the elements in the $this->storeSwitchers array in order to assure that the hashGenerator always is the last switcher to be applied.

2. Rewrite the switch method of the rewriteUrl switcher in order to be able to change the encoded

[2019-10-24 19:01] hostep commented on #23908
Thanks @sdzhepa !

Is something like this being considered as well: https://github.com/magento/magento2/pull/24917#issuecomment-539666218 (which was based on @sbrendtro's comments above)?

Because fixing the bug in itself is not enough, incorrect data on the current quotes in the database needs to get fixed as well I think?

[2019-10-24 19:15] hostep commented on #24376
@o-iegorov: it looks like a new issue was opened for select queries some days ago: https://github.com/magento/magento2/issues/25199

[2019-10-24 19:29] Stepa4man commented on #25269
@magento give me 2.3-develop instance

[2019-10-24 19:29] magento-engcom-team commented on #25269
Hi @Stepa4man. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-24 19:29] magento-engcom-team commented on #25269
Hi @Stepa4man, here is your [Magento instance](https://i-25269-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25269-2-3-develop.instances.magento-community.engineering/admin](https://i-25269-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-24 19:33] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-10-24 19:33] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-24 19:34] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-24 19:56] AndyJAllen commented on #25221
I wonder what we did different than what @engcom-Charlie did do for different behavior? I copied all the framework, fedex, sales, and shipping modules from 2.3-develop and still had the issue. No custom modules that would have anything to do with the functionality.

@engcom-Charlie one thing I can tell you that is different in my scenario is I use smartpost which consists of two tracking numbers.

[2019-10-24 20:25] krisdante commented on #15596
I do not consider this as a bug. It is rather functioning as desired.
After restarting your system you still log in to the same account of Yours. So the browser local settings are yours. If you want to wipe out everything about you on browser/system restart - then enable such option in the browser (clear storage and history on exit)

[2019-10-24 20:27] hostep commented on #22270
Good point @Naitaes. Sometimes the version mentioned in those automated comments is not correct unfortunately.
However it looks like it got included in Magento 2.2.10: https://github.com/magento/magento2/blob/2.2.10/app/code/Magento/ConfigurableProduct/view/frontend/web/js/configurable.js#L376

[2019-10-24 20:36] SR71Mach3 commented on #22354
I want to validate the comment by The-Kang on 27 April above based on my own experience trying to adapt Magento 2.3.3 just after it came out.   The fresh installation did not download digital files.  As my first troubleshooting step, I looked into the code change on the web page at https://github.com/magento/magento2/issues/22545 recommended by  saeohioalpha,, Jul 3, and specifically checked the c

[2019-10-24 21:16] sdzhepa commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Magento CLI commands and logs :  [https://i-24426-2-3-develop.instances.magento-commu

[2019-10-24 21:17] pedrodim opened #25278 "Incorrect @return type at getSourceModel in Eav\Attribute"
### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Check DocBlock of `\Magento\Catalog\Model\ResourceModel\Eav\Attribute::getSourceModel()` in file `vendor/magento/module-catalog/Model/ResourceModel/Eav/Attribute.php`.

### Expected result (*)

1. `getSourceModel` DocBlock should say it returns `string|null`.

[code]

### Actual result (*)

1. `getSourceModel` DocBlock return

[2019-10-24 21:17] sdzhepa commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Simple Magento CLI commands and logs :  [Use this link](https://i-24426-2-3-develop.i

[2019-10-24 21:29] a2xchip commented on #10377
:hankey:

[2019-10-24 21:30] The-Krang commented on #22354
@SR71Mach3, If you can see this e-mail, I'm glad that my post helped you.

Also, Thank You for letting the rest us know that version 2.3.3 has the same problem in it that version 2.3.1 had.

I'm sorry that I can't help with your Authorize.net problem (I use paypal and braintree), but I hope you get it sorted out soon so that you can launch.
________________________________
From: SR71Mach3 <notific

[2019-10-24 21:37] LiamKarlMitchell commented on #19578
Hey @evs-xsarus , Yes I stopped using Owebia and ended up writing my own shipping/carrier module with the custom logic for the customer(s) as needed...

For example: Free shipping within X distance of their stores.
Shipping via heavier/larger items via Truck, removing other shipping options if too large/heavy to go in them.

[2019-10-25 01:46] jpbazinet commented on #12366
Has anything been done about this yet? I'm still having this same problem...

[2019-10-25 02:11] clish1 commented on #12366
I am not sure, but I have switched to Braintree, which is integrated into
Magento and even that provides terrible error code communication.  Magento
provides poor support on these things.

From:   jpbazinet <notifications@github.com>
To:     magento/magento2 <magento2@noreply.github.com>
Cc:     clish1 <gclisham@southco.com>, Comment
<comment@noreply.github.com>
Date:   10/24/2019 09:48 PM
Subject

[2019-10-25 04:23] mugua commented on #25177
any feedback?

[2019-10-25 04:33] krishprakash commented on #25254
@magento give me 2.3-develop instance

[2019-10-25 04:33] magento-engcom-team commented on #25254
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-25 04:43] krishprakash commented on #25254
@magento give me 2.3-develop instance

[2019-10-25 04:43] magento-engcom-team commented on #25254
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-25 04:54] aasim110 opened #25282 "Magento 2.3.3 category image remove if change another category image"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Go to Admin > Catalog > Category > edit any category
2. Select any image (if multiple image option available in category) and save it

### Expected result (*)

1. In case of multiple image options in category page If the previously selected image already there and when uploading a new image then the previous image stay as it i

[2019-10-25 04:56] magento-engcom-team commented on #25254
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22121` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-25 05:04] krishprakash commented on #25282
Hi @aasim110. Thank you for your report.
Seems similar issue is already open
Please check #25099

[2019-10-25 05:04] #25282 closed, assigned to krishprakash

[2019-10-25 05:18] renard123 opened #25284 "Some error display while add/update product after enable elastic search 6.0+"
Some error display while add/update product after enable elastic search 6.0+

### Preconditions (*)
Magento : 2.3.3

### Steps to reproduce (*)
1. Admin -> Catalog product
2. Add New Product
3. After added product successfully
4. Enable elastic search from configuration
5. Now edit and update the added product OR Add new product and save

### Expected result (*)
Product should added/Updated succes

[2019-10-25 05:19] krishprakash commented on #25284
@magento give me 2.3-develop instance

[2019-10-25 05:19] magento-engcom-team commented on #25284
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-25 05:27] magento-engcom-team commented on #25284
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22122` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-25 05:59] itsPranith commented on #25269
@magento give me 2.3-develop instance

[2019-10-25 05:59] magento-engcom-team commented on #25269
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-25 06:30] onlinebizsoft commented on #22438
@engcom-Charlie maybe they has relation and high CPU can cause deadlock. If so do we have a fix/MR for high CPU?

[2019-10-25 06:57] sjayjay005 commented on #11577
`composer require pavelleonidov/module-tinymce4
php bin/magento setup:upgrade && php bin/magento setup:di:compile
# in production context:
php bin/magento setup:static-content:deploy `

[2019-10-25 07:09] engcom-Delta commented on #25243
Issue is reproducible on 2.3-develop.
Modify string to `__('Carrier with such method not found: %1, %2', "one test", "two test")`
![#25243issue_2](https://user-images.githubusercontent.com/51681379/67550546-6efaa180-f70f-11e9-8db5-b3acdc5d3c34.jpg)

**Result:**
![#25243issue](https://user-images.githubusercontent.com/51681379/67550579-7de15400-f70f-11e9-99fb-94919100c52e.jpg)

[2019-10-25 07:33] magento-engcom-team commented on #25059
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22130` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-25 07:38] engcom-Charlie commented on #22438
@onlinebizsoft
when I tried to reproduce this issue my CPU was 100% loaded

[2019-10-25 09:43] engcom-Charlie commented on #25221
@AndyJAllen i tried again with smart post and two tracking numbers. Result is same:
![image](https://user-images.githubusercontent.com/51680850/67561123-f1419080-f724-11e9-9c21-e2929f8d908c.png)

[2019-10-25 09:44] joshdavenport commented on #1619
For anybody still experiencing this issue, making changes suggested by @Tyrianad [here](https://github.com/magento/magento2/issues/1619#issuecomment-310709324) fixes the issue. This is still happening but can be "worked around" by including LESS files consistently in this way.

[2019-10-25 10:26] princefishthrower opened #25287 "LinkManagement::getChildren() returns only children products which are in stock"
### Preconditions (*)
1. Version 2.3.x & 2.3-develop
2. Class `Magento\ConfigurableProduct\Mode\LinkManagement`

### Steps to reproduce (*)
1. Inject LinkManagement into any custom code.
2. Call getChildren() with an SKU of a given configurable product (for example let's say it has 5 child simple products, where 3 are in stock and 2 are out of stock.)

[code]

### Expected result (*)
The children

[2019-10-25 13:06] engcom-Charlie commented on #22438
@onlinebizsoft it is not fixed yet. Please create a new issue for this bug. I can't confirm this issue because it's about deadlocks.

[2019-10-25 13:30] engcom-Delta commented on #24707
Hi @grosoasap thank you for your report. I am not able to reproduce issue by steps you described on clean 2.3-develop, seems like this related to your custom modules.
I used Braintree and get email after transaction was interrupted.
![#24707issue](https://user-images.githubusercontent.com/51681379/67575159-9ddf3a80-f744-11e9-85d3-e1ad0895da57.png)

If you'd like to update the issue, please reopen

[2019-10-25 13:30] #24707 closed, assigned to engcom-Delta

[2019-10-25 13:37] engcom-Charlie commented on #25258
Hello @vijay-prevaj
We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

**Manual testing scenario:**
1. Enable Elasticsearch 6+
![image](https://user-images.githubusercontent.com/51680850/67575250-cc5d1580-f744-11e9-8386-62a8ae70ba8a.png)
2. Create some products with different prices and assign it to one category
3. Go to the frontend at category page
4. Che

[2019-10-25 13:37] #25258 closed, assigned to engcom-Charlie

[2019-10-25 13:37] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-10-25 13:37] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-25 13:46] onepack commented on #24941
Confirmed here as well on Magento 2.3.3.

[2019-10-25 14:07] onlinebizsoft commented on #22438
@manish3m

[2019-10-25 14:07] shauldover commented on #15427
yes, this is a painful one. I also facing it on a 2.3.3 version.
1. disable Magento_PaypalReCaptcha  and it might solve the issue. For me it solve the issue for credit card processing, but the PayPal express is still a problem.
2. To "remove" temporarily paypal express just select "no Countries" in Admin set up of PayPal Pro / express.

[2019-10-25 14:11] ihor-sviziev commented on #25068
@magento give me 2.3-develop instance

[2019-10-25 14:11] magento-engcom-team commented on #25068
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-25 14:23] ihor-sviziev commented on #24781
This issue was fixed in https://github.com/magento/magento2/pull/24974 and fix will be available in Magento 2.3.4.

[2019-10-25 14:23] #24781 closed, assigned to p-bystritsky

[2019-10-25 14:42] engcom-Charlie commented on #25269
Hello @materi

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.3-develop branch(after upgrade from 2.3.2).

**Manual testing scenario:**

1. Upgrade from 2.3.2 to 2.3-develop
2. Call `GET /rest/all/V1/categories`

**Actual result:**
Response as expected:
![image](https://user-images.githubusercontent.com/51680850/67580271-bc4a3380-f74e-11e9-84

[2019-10-25 14:42] #25269 closed, assigned to engcom-Charlie

[2019-10-25 15:22] joe-vortex commented on #25147
thanks @sdzhepa , are you happy for me to make a PR?

[2019-10-25 15:23] engcom-Charlie commented on #25274
Hello @AndyJAllen
I can't reproduce this issue on a fresh Magento 2.3-develop by provided steps.
Could you test it on a Magento test instance? Write "@magento give me 2.3-develop instance" for it.

[2019-10-25 15:23] magento-engcom-team commented on #25274
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-25 18:15] aimiliano commented on #19407
hello,
we experience the same issue exactly as you describe it in m2 ee 2.3.2. have you found any solution in the problem?

[2019-10-25 18:16] AndyJAllen commented on #25221
Oh well; not going to grind my gears over it since I worked around it. Thanks for looking into it @engcom-Charlie

If I hit this again on 2.3.4 I'll dig deeper and report my findings.

[2019-10-25 19:10] Bartlomiejsz commented on #23627
Hi @magento-engcom-team, shouldn't this be closed since #24746 is merged?

[2019-10-25 19:34] magento-engcom-team commented on #24426
@sdzhepa, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-10-25 19:34] magento-engcom-team commented on #15968
@speedupmate, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-10-25 19:34] #15968 closed, assigned to nobody

[2019-10-25 19:46] pierzakp commented on #24930
Faced this issue as well, anyone knows any ETA when it will be solved?

[2019-10-25 19:58] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-10-25 19:59] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-25 19:59] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-25 20:16] sdzhepa commented on #24487
Hello @Andreabont

Any updates?

[2019-10-25 20:47] coquito696 commented on #25171
I am having the same exact situation. Email becomes an attachment and email itself is empty. What resolved the problem? Removed extension?

[2019-10-25 21:34] sdzhepa commented on #22995
Hello @DrewML @adifucan @serge-kaimin

As I can see all planed for on this Issue has been done in the scope of internal JIRA ticket `MC-16887` and merged into `2.3-develop`
All related commits: https://github.com/magento/magento2/search?q=MC-17868&type=Commits

I suppose we can close this issue.
Please let me know if I missed something and we need to reopen it or/and move into [Magento Feature Req

[2019-10-25 21:34] #22995 closed, assigned to engcom-Charlie

[2019-10-25 21:38] vkublytskyi commented on #24930
@pierzakp, unfortunately, we cannot modify code after it was released and the extension bundling mechanism does not allow change version of the bundled extension. Therefore, the best way, for now, is applying a patch provided by @navarr. For sure, Magento 2.3.4 release will have fixed this issue.

Magento recently also released a [security patch](https://community.magento.com/t5/Magento-DevBlog/In

[2019-10-25 21:46] cralls opened #25293 "setCustomDiscount on quote maxes out at single cost of each item"
# Preconditions (*)
1. Magento version 2.2.6

### Steps to reproduce (*)
1. Add a product to the order with a quantity greater than 1
2. Add a shipping amount and a tax amount to the grand total
3. Use \Magento\Backend\Model\Session\Quote:setCustomDiscount method to create a discount that is greater than the price of the product but less than the grand total which includes shipping and tax

### Ex

[2019-10-26 09:48] TomashKhamlai opened #25294 "Unable to apply data patch Magento\CatalogSearch\Setup\Patch\Data\SetInitialSearchWeightForAttributes for module Magento_CatalogSearch."
### Preconditions (*)

1. Apache 2.4
2. PHP 7.2
3. MYSQL 8.0 from [Mysql Apt Repo](https://dev.mysql.com/doc/mysql-apt-repo-quick-guide/en/)

### Steps to reproduce (*)

1. Clone and install Magento

### Expected result (*)

1. Magento installs

### Actual result (*)

1. Error:
[code]
![image](https://user-images.githubusercontent.com/11827230/67617715-ba37b180-f7ee-11e9-9451-dd598c6cc66f.png)

[2019-10-26 11:15] C0olmonkey opened #25295 "Magento 2.1.0 problem with country options."
### Summary (*)

Hi!
I have e problem with checkout page. More exactly with country options. In backend is set all for "Romania" but in frontend is showing another countries.

I use Magento 2.1.0 and i linked 2 image to show my problem.
### Examples (*)

Country settings:
https://i.imgur.com/APN0AK3.jpg

Frontend:
https://i.imgur.com/YYsZYkb.jpg

Please help me to solve this issue
### Proposed sol

[2019-10-26 13:43] Jilco commented on #25029
Is there a work around or do i have to wait for 2.3.4 release? Because now i can't edit products...

[2019-10-26 14:18] adarshkhatri opened #25299 "Custom option (Required type) price is not included in product display price"
I just noticed, by default required custom option's price is not added to product display price.

For example:
Product Price: $100 (config item's min price)
Custom Option 1: Required: $10

Product price displayed as $100 in the category as well as the view page.

Because Custom Option is required, the customer will need to pay min of $110 to buy this item.

But displaying only $100 is misleading.

[2019-10-26 14:20] adarshkhatri commented on #25299
@magento give me 2.3-develop instance

[2019-10-26 14:20] magento-engcom-team commented on #25299
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-26 14:20] magento-engcom-team commented on #25299
Hi @adarshkhatri, here is your [Magento instance](https://i-25299-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25299-2-3-develop.instances.magento-community.engineering/admin](https://i-25299-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-26 16:35] 80Cube commented on #18148
Just had to redo numans fix in 2.3.2.

can anyone confirm if the fix still works in 2.3.3?

[2019-10-26 18:44] jerrydkingx commented on #22350
@pocallaghan Have you got any chance to revert it back ?

[2019-10-26 18:59] rahulwebkul commented on #25293
@magento give me 2.3-develop instance

[2019-10-26 18:59] magento-engcom-team commented on #25293
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-26 18:59] magento-engcom-team commented on #25293
Hi @rahulwebkul, here is your [Magento instance](https://i-25293-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25293-2-3-develop.instances.magento-community.engineering/admin](https://i-25293-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-26 19:21] Jilco commented on #25052
Is there a sollution or work-around? Because categorie menu is dissapearing because of the jumping op the page (to top)

[2019-10-26 21:29] ghost opened #25300 "Mobile view issue on category page - Sort By label overlaps with Shop By button"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Create one category
2. Assign 2, 3 products in category.
3 . Now in mobile view open category page on frontend

Note -
1. View category page on less than 330px screen size.
2. If shop by option is not appearing on category page then try to add more product and attribute in products to activate the layered navigation.

### Expe

[2019-10-26 21:30] rahulwebkul commented on #25300
@magento give me 2.3-develop instance

[2019-10-26 21:30] magento-engcom-team commented on #25300
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-26 21:30] magento-engcom-team commented on #25300
Hi @rahulwebkul, here is your [Magento instance](https://i-25300-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25300-2-3-develop.instances.magento-community.engineering/admin](https://i-25300-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-26 21:42] rahulwebkul commented on #25300
I am able to reproduce the issue on vanilla Magento instance.

[2019-10-26 22:52] #25231 closed, assigned to krzksz, krishprakash

[2019-10-26 22:53] #23031 closed, assigned to korostii

[2019-10-26 22:54] #25036 closed, assigned to edenduong

[2019-10-27 01:31] jrodriguez1018 opened #25303 "I cant upload images on backend magento 2"
Well, my selected problem is reduced in the icon to upload images allows me to select the element I want to upload, however it does not upload.
Anyone know how to solve it?
Please be very grateful with your help.

[2019-10-27 04:23] krishprakash commented on #25300
@magento give me 2.3-develop instance

[2019-10-27 04:23] magento-engcom-team commented on #25300
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-27 04:23] magento-engcom-team commented on #25300
Hi @krishprakash, here is your [Magento instance](https://i-25300-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25300-2-3-develop.instances.magento-community.engineering/admin](https://i-25300-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-27 04:36] magento-engcom-team commented on #25300
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22157` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-27 08:13] Userr017 commented on #25052
@Jilco This works for me. https://github.com/magento/magento2/pull/25239/files

[2019-10-27 09:08] hostep commented on #15984
@domeglic: thanks for listing those steps to reproduce, that was really helpful!

I was able to reproduce this problem and forward ported 20d7afb in this [new PR](https://github.com/magento/magento2/pull/25306) to 2.3-develop.
This seems to fix the problem!

[2019-10-27 09:09] hostep commented on #12205
@avstudnitz: thanks for your comment! I created a new PR to get this change included in 2.3-develop: https://github.com/magento/magento2/pull/25306, let's hope it makes it in 2.3.4 now ...

[2019-10-27 09:16] hostep commented on #15939
I have the feeling this issue might have been solved by [MC-19407: Number of the rows increase very fast in changelog table](https://github.com/magento/magento2/commit/eec9c26a44f3a62ef426f9ac326ff36269a77d7b), but I'm not sure.

Could somebody try to test this?

[2019-10-27 09:18] Jilco commented on #25052
@Userr017 thanks, that did the trick!

[2019-10-27 10:38] oalvarezI4 commented on #20100
I am working on this issue.

[2019-10-27 11:04] crissanclick commented on #25146
Can't reproduced

[2019-10-27 11:07] dmytro-ch commented on #25081
Please note, the issue has already been fixed by #25206
Thank you!

[2019-10-27 11:07] #25081 closed, assigned to dmytro-ch

[2019-10-27 11:11] luismiguelyangehuaman commented on #23414
@mage

[2019-10-27 11:25] luismiguelyangehuaman commented on #23414
@magento-engcom-team I'm working this issue

[2019-10-27 11:36] angelgonzalezi4 commented on #18687
@Magento I am working on it

[2019-10-27 11:42] mrodespin commented on #23340
I have been checking this issue and i founded that the problem is that events are been triggered with the following names instead the ones that are informed on the ticket
`sales_order_item_resource_save_commit_after `
`sales_order_resource_save_commit_after `

That is provoked because the **$_eventPrefix** is been declared on the following files:
`app/code/Magento/Sales/Model/ResourceModel/Order.p

[2019-10-27 11:55] magudelo62 commented on #20379
@magento I am working on it

[2019-10-27 12:01] mrodespin commented on #23340
After continue the debugging i am able to reproduce the events, as you can see on then images:

<img width="965" alt="Captura de pantalla 2019-10-27 a las 13 00 59" src="https://user-images.githubusercontent.com/31536387/67634264-d8b6af00-f8b9-11e9-9ae6-0cdbd96fdca8.png">

<img width="934" alt="Captura de pantalla 2019-10-27 a las 13 01 27" src="https://user-images.githubusercontent.com/31536387/6

[2019-10-27 12:11] anabsotomayor commented on #25146
This isues doesn't posible, scope the attribute enable/disable is for website not for store view.

[2019-10-27 12:12] mrodespin commented on #23340
This issue is not happening on magento 2.3 as you can see on the following captures

<img width="1178" alt="Captura de pantalla 2019-10-27 a las 13 12 23" src="https://user-images.githubusercontent.com/31536387/67634390-752d8100-f8bb-11e9-9e25-a40280ef572f.png">
<img width="1053" alt="Captura de pantalla 2019-10-27 a las 13 11 50" src="https://user-images.githubusercontent.com/31536387/67634391-75

[2019-10-27 12:17] #25146 closed, assigned to nobody

[2019-10-27 12:18] raulvOnestic91 commented on #20463
@magento i am working on  it

[2019-10-27 12:30] adrianadi commented on #24576
Hi @mlambley , @magento-engcom-team (cc @osrecio) trying to help you out as part of MM19ES

The reason why this happens is that the applier ultimately makes use of `\Magento\Framework\Data\Collection::addFieldToFilter()` who expects a certain format for getting an OR condition concatenation.

Therefore, a simple workaround, which would ultimately help out towards a solution would be to merge toget

[2019-10-27 12:43] mrodespin commented on #23340
@magento I can't reproduce the error on 2.3 branch

[2019-10-27 12:43] #23340 closed, assigned to mrodespin

[2019-10-27 12:43] raumatbel commented on #25059
The behavior in version 2.3 is correct. In Magento 2.2 it was wrong and the preview of the main image always changed without doing any kind of check.

**Magento2.2** `Swatches/view/frontend/web/js/swatch-renderer.js`
[code]

**Magento 2.3** `Swatches/view/frontend/web/js/swatch-renderer.js`
[code]
You can notice the call.
**$widget._loadMedia();**

In Magento 2.3 to make the image reload it makes

[2019-10-27 12:43] #25059 closed, assigned to raumatbel

[2019-10-27 13:03] raumatbel commented on #23627
Now is merged in the branch 2.3-develop.

[2019-10-27 13:03] #23627 closed, assigned to raumatbel

[2019-10-27 13:06] magudelo62 opened #25312 "Add Colombian regions"
### Summary of the issue
Magento does have some country regions by default and they are showing in dropdown when you select a country.
However, if your country does not have regions defined, then you will see just a text field.

In particularly, Colombian regions are missed.

### Description (*)
Add Colombia Regions

### Preconditions
Magento 2.2.X
Magento 2.3.X

### Steps to reproduce
Add product

[2019-10-27 13:13] magudelo62 commented on #25312
@magento I am working on it

[2019-10-27 13:27] gomencal commented on #22391
@magento I am working on it

[2019-10-27 15:14] hostep commented on #25245
I'm reopening this, here are the steps to reproduce:

1. Setup vanilla 2.3-develop
2. Create a product in the backend, give it the name "test"
3. On the frontend, perform a search query, search for "test"
4. Notice that it finds the product
5. If you now go to the Search Terms page in the frontend, it will show the search term "test" => **good**
6. Now in the backend, go to Marketing > SEO & Searc

[2019-10-27 15:27] mrodespin commented on #23778
I have been checking this issue i am not able to reproduce it. In a clean Magento 2.3 the result of the commented steps are the expected ones, as you can see in the following pictures

Case 1:
<img width="1061" alt="Captura de pantalla 2019-10-27 a las 16 25 43" src="https://user-images.githubusercontent.com/31536387/67637011-a5364d80-f8d6-11e9-9bf0-f396fdfdc751.png">

Case 2:
<img width="1044" al

[2019-10-27 15:27] #23778 closed, assigned to mrodespin

[2019-10-27 15:40] adrianadi commented on #24576
Otherwise, a cleaner solution (which at this point I don't know how to make it BC) would be passing the entire `FilterGroup` to a supposedly new `FilterGroupApplierInterface::apply()`.

[2019-10-27 15:52] raulvOnestic91 commented on #13865
@magento i am working on it

[2019-10-27 15:55] angelgonzalezi4 commented on #24785
I try to reproduce this task, but i can't do it. If i add to cart all the options that it has a downloadable product, I can click the link "select all" or "unselect all" without problems...

[2019-10-27 15:55] #24785 closed, assigned to nobody

[2019-10-27 16:13] drpayyne commented on #24785
@angelgonzalezi4 Hi, this was fixed by me in the above mentioned PR. Not sure why this issue wasn’t auto closed.

@sidolov @VladimirZaets any idea why?

[2019-10-27 16:49] janmech commented on #22545
i came up with a very simple fix (though) it probably needs further testing. I figured that the problem is that changes/new entries in  downloadable_link_purchased are not yet committed when SaveDownloadableOrderItemObserver is executed.

my 1-line fix/proposition is changing the module-downloadable/etc/events.xml:
FROM:

<event name="sales_order_save_after">
        <observer name="downloadable_o

[2019-10-27 22:42] aibean commented on #25221
@engcom-Charlie I am having the same issue with 2.3.3. I've done a search on the 2.3 repo, [Magento 2.3 repo search](https://github.com/magento/magento2/search?q=getTrackingUrl&unscoped_q=getTrackingUrl) and can't find any reference to where the method getTrackingUrl is created?

[2019-10-27 23:02] mlambley commented on #24576
@adrianadi From my experience with Magento they're not afraid to make breaking changes so fixing it properly, even if it means waiting until 2.4, would be better.

I was thinking to add a second property `$filterAppliers` to `FilterPool`, then the `applyFilters` function could check both $appliers and $filterAppliers in a backwards compatible manner. Then the breaking change would be to remove $ap

[2019-10-28 02:57] kandy commented on #24035
Issue caused by unproper configuration.
Instead of servers, the sentinel_servers option should be used

[2019-10-28 02:57] #24035 closed, assigned to nobody

[2019-10-28 04:55] ksaho2 commented on #24635
For future reference here is a solution:
vendor/allure-framework/allure-phpunit/src/Yandex/Allure/Adapter/AllureAdapter.php@74
[code]

Comment out this code, or replace it with:
[code]

[2019-10-28 07:02] elvinristi commented on #25076
Confirming also issue when mail server is Kerio version 9.2.5 patch 3 (3336)  and Outlook 2016 as email client.

[2019-10-28 07:22] engcom-Delta commented on #25266
HI @robhuijben thank you for your report. I cannot reproduce issue by steps you described on 2.3-develop.
https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/view/adminhtml/templates/catalog/product/helper/gallery.phtml#L64
It should not be replicated in the future released versions
If you'd like to update the issue, please reopen it.

[2019-10-28 07:22] #25266 closed, assigned to engcom-Delta

[2019-10-28 08:15] magento-engcom-team commented on #25278
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22158` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-28 08:37] engcom-Delta commented on #25260
Hi @garry191091 thank you for your report. I am not able to reproduce issue by steps you described on clean 2.3-develop.
Please see magento OS [requirements](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html)
You could check log with error in `magento_dir/var/log/` or `magento_dir/var/report/`

[2019-10-28 08:37] #25260 closed, assigned to engcom-Delta

[2019-10-28 08:40] engcom-Charlie commented on #25295
Hello @C0olmonkey

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch `2.1-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

If you still faced this i

[2019-10-28 08:40] #25295 closed, assigned to engcom-Charlie

[2019-10-28 08:42] #25294 closed, assigned to engcom-Delta

[2019-10-28 08:46] engcom-Delta commented on #25303
Hi @jrodriguez1018
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-10-28 08:46] #25303 closed, assigned to engcom-Delta

[2019-10-28 08:59] engcom-Charlie commented on #25221
Hello @aibean
You can find it in `module-shipping/Helper/Data.php`
![image](https://user-images.githubusercontent.com/51680850/67663306-db72dc00-f96d-11e9-92b9-e7b414e9934b.png)

[2019-10-28 09:28] janmyszkier opened #25330 "API doesn't reflect admin panel image order in media_gallery_entries node from /rest/V1/products"
### Preconditions (*)

1. Magento version 2.3.2
2. Two websites, one storeview in each.

### Steps to reproduce (*)
1. Create a configurable product
2. Add multiple children to it
3. upload images
4. reorder images by using drag and drop
5. query API `/rest/V1/products?searchCriteria[pageSize]=1000` to find your product

### Expected result (*)
1. The API JSON reponse should have the same position

[2019-10-28 10:07] mpingu commented on #25199
@amenk can you try it with MariaDB 10.3.17 also, i got a case where it was in 10.3.18 slow and in 10.3.17 fast.  My currently suspect is a regession because of https://jira.mariadb.org/browse/MDEV-20109, see the other Reports linked there.

[2019-10-28 10:16] mtwegrzycki commented on #24941
I also confirmed this bug on Magento 2.3.3. For Magneto 2.3.2 it works fine.
We found, that new field 'general/file/import_images_base_dir' was added to config and maybe this change causes this bug.

[2019-10-28 10:22] engcom-Charlie commented on #25293
Hello @cralls

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

If you still faced this issue

[2019-10-28 10:22] #25293 closed, assigned to engcom-Charlie

[2019-10-28 10:26] pemann commented on #24571
@magento give me 2.3-develop instance

[2019-10-28 10:26] magento-engcom-team commented on #24571
Hi @pemann. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-28 10:26] magento-engcom-team commented on #24571
Hi @pemann, here is your [Magento instance](https://i-24571-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24571-2-3-develop.instances.magento-community.engineering/admin](https://i-24571-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-28 10:54] martinmaterzok commented on #24963
Hi, Could anynone help me with this issue?

[2019-10-28 11:19] MarcusWolschon commented on #24930
So... why not release a 2.3.3-p1 ?

[2019-10-28 11:28] JamesAllwood commented on #6126
I've also experienced this, again, down to a duplicate, but for me, it was actually an attribute that was assigned to an attribute set twice. Not sure how it happened, but wanted to record it here for reference. Table concerned was `eav_entity_attribute` for anyone that's having similar issues

[2019-10-28 11:34] shahbaztariq commented on #24930
Can we not have a patch similar to the patches described here: https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-3-open-source.html

* Apply the Catalog pagination issue on Elasticsearch 6.x patch to resolve a critical search result pagination issue
* Apply the EmailMessageInterface backward compatibility issue patch to resolve an email interface backward-incompatibility issu

[2019-10-28 11:38] ihor-sviziev commented on #25068
@magento give me 2.3-develop instance

[2019-10-28 11:38] magento-engcom-team commented on #25068
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-28 11:39] magento-engcom-team commented on #25068
Hi @ihor-sviziev, here is your [Magento instance](https://i-25068-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25068-2-3-develop.instances.magento-community.engineering/admin](https://i-25068-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-28 11:52] ihor-sviziev commented on #25068
@shikhamis11 just updated steps to reproduce, we have to have production mode, while on test instance we don't have production mode :(

[2019-10-28 12:04] elvinristi commented on #25076
@jaminion did you something similar to this?

[code]

[2019-10-28 12:12] shikhamis11 commented on #25068
Hello @ihor-sviziev you can have production mode in test instance
Just add pub/testing in instance url

[2019-10-28 12:16] ihor-sviziev commented on #25068
@magento give me 2.3-develop instance

[2019-10-28 12:16] magento-engcom-team commented on #25068
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-28 12:20] ihor-sviziev commented on #25068
@magento give me 2.3-develop instance

[2019-10-28 12:20] magento-engcom-team commented on #25068
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-28 12:21] magento-engcom-team commented on #25068
Hi @ihor-sviziev, here is your [Magento instance](https://i-25068-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25068-2-3-develop.instances.magento-community.engineering/admin](https://i-25068-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-28 12:49] magento-engcom-team commented on #25299
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22162` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-28 12:58] qsolutions-pl commented on #25268
Any update on this?

[2019-10-28 12:59] engcom-Delta commented on #25214
Issue is fixed by [#25215](https://github.com/magento/magento2/pull/25215)
Change status to **Closed**

[2019-10-28 12:59] #25214 closed, assigned to nobody

[2019-10-28 13:13] jakwinkler opened #25332 "Customer save issue."
### Preconditions (*)

1. Magento 2.3.2 & 2.3.3 Community Edition
2. No 3rd party extensions which modify anything related to customer model
3. Create a script that will install new customer attribute "some_attribute", varchar
4. Create 2 customer accounts
5. Create an order as registered customer
6. Purpose of my code was to assign customer attribute value based on another customer settings.

###

[2019-10-28 13:24] ihor-sviziev commented on #25068
I was able to reproduce this issue on test instance.

Just updated issue description with exact steps to reproduce and screenshots of actual result.

[2019-10-28 13:29] magento-engcom-team commented on #25068
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22163` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-28 13:54] davidalger commented on #24930
@janmyszkier

Adding to what @vkublytskyi already said, the issue is definitely more complicated than the case-sensitivity of a file system. As long as the FS on a docker containers (yes, even on Docker for macOS!) is not mounted into the container from the host, the FS is actually case-sensitive since the FS is case-sensitive inside the VM which Docker Desktop runs within. Yet, the DI compilation

[2019-10-28 13:56] davidalger commented on #24930
@vkublytskyi @navarr If Vertex could publish a dot release fixing the namespace, it would be super simple to use the correct version on 2.3.3 allowing DI to compile for those affected:

[code]

The above command would result in composer installing (the currently unreleased) version 3.2.1 instead of 3.2.0 overriding the sub-package dependencies. Simple, no patches, and it would work if a version 3.

[2019-10-28 14:36] jaminion commented on #25076
@elvinristi yes, that's exactly what I did - it's unfortunate that a full override of that file was necessary due to the use private members for all of the important bits.

Following the example from some of the other plugins registered for the ZF2 mail header loader, I also registered the MyCustomContentDisposition for "contentdisposition", "content_disposition" and "content-disposition".

In the

[2019-10-28 15:29] magento-engcom-team commented on #25287
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22167` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-28 15:36] ivankristic commented on #5322
Same problem on 2.3.1

Trying to fetch frontend route depending on the store scope from admin
`$storeManager->getStore($storeCode)->getUrl($route, $params)` also returns route from admin scope, even if `$params['_scope']` is set to specific store, resulting in even base url being admin one, and not website in which store is defined.

One viable way for fetching frontend route is to set scope direc

[2019-10-28 15:39] giacmir commented on #23540
There are two problems with the current PoisonPill implementation:

1. the current poisonpill version is invalidated only when config is saved or a new website/store/store-view is added,it could happen that a new deploy doesn't trigger one of these two events.
2. the consumer check for the poisonpill only when it receives a message, so if your messages aren't very frequent (let say in a test envir

[2019-10-28 15:41] anemitoff commented on #25027
I discovered one problem was that resets.less was causing a `max-height: 100%` rule to be applied erroneously to the `.magnifier-preview img` element. Once I fixed that, I realized that the mapping was not quite correct in that the preview was not revealing the content covered by the lens.  The `object-fit: scale-down` css property appears to be the cause of that problem.

Updating my _extend.less

[2019-10-28 16:00] sdzhepa commented on #25245
@magento give me 2.3-develop instance

[2019-10-28 16:00] magento-engcom-team commented on #25245
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-28 16:01] magento-engcom-team commented on #25245
Hi @sdzhepa, here is your [Magento instance](https://i-25245-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25245-2-3-develop.instances.magento-community.engineering/admin](https://i-25245-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-28 16:09] hostep commented on #23540
@giacmir indeed!

See https://github.com/magento/architecture/pull/232/files?short_path=81c5aa0#diff-81c5aa0b55a519b20c0ffd8b3f57b21b for a proposal for some new functionality in Magento for how to handle those. Especially "Problem 2" is relevant here.

[2019-10-28 16:10] sdzhepa commented on #25245
The issue can be reproduced by steps from https://github.com/magento/magento2/issues/25245#issuecomment-546703776

`Warning: natcasesort() expects parameter 1 to be array, null given in /var/www/html/deployer/instances/i-25245-2-3-develop/app/code/Magento/Search/Block/Term.php on line 102 [] []`

Is shown on the Search Terms page in Developer mode, in default mode, such error can be found in `syst

[2019-10-28 16:15] magento-engcom-team commented on #25245
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22170` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-28 17:04] magento-engcom-team commented on #23414
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17801` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-28 17:59] TomashKhamlai opened #26109 "If bundle item is OUT_OF_STOCK then it should not show at all"
### Preconditions (*)

1. Import [Uploading export_catalog_product.tar.gz…]()

### Steps to reproduce (*)

1. Filter products
[code]

### Expected result (*)

1. 2 items in multiselect
![image (1)](https://user-images.githubusercontent.com/11827230/67703930-e9038280-f9bc-11e9-82aa-9b93052fe409.png)

### Actual result (*)

1. 2 items + 1 empty item for any Product that is out of stock
[code]

[2019-10-28 19:03] ncaballerobol commented on #13803
Having same issue on 2.3.1

[2019-10-28 19:06] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-10-28 19:06] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-28 19:10] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-10-28 19:10] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-28 19:10] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-28 19:11] sdzhepa commented on #24426
@magento give me 2.3.3 instance

[2019-10-28 19:11] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-28 19:12] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-3.instances.magento-community.engineering/admin](https://i-24426-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-28 19:16] stoya42 commented on #20771
Getting this same error for this table in same conditions. What did you notice was not setup correctly?

[2019-10-28 19:27] andrzejwp opened #25334 "Galera cluster exits abruptly during reindex immediately after upgrade to Magento 2.3.3"
### Preconditions (*)

1. Magento 2.3.3
2. Galera cluster (3 nodes), reproducible at least in 2 different versions

### Steps to reproduce (*)

### Identified problem
Because of [this commit](https://github.com/magento/magento2/commit/0dcb19e498e3563307a511a42933d37cb9af54ca) the reindex that happens immediately after upgrade to Magento 2.3.3 causes Galera clusters to exit abruptly. The problem is

[2019-10-28 19:51] ukguy commented on #22587
Do we have a confirmed working patch for this yet? It keeps crashing the database

[2019-10-28 20:15] sdzhepa commented on #18248
As I can see from the latest comments it seems was kind of configuration issue.

I am closing this Issue for now but feel free to open a new one if the problem still occurs on the latest Magento code `2.3.x`

[2019-10-28 20:15] #18248 closed, assigned to nobody

[2019-10-28 21:35] ammarabdulsalam commented on #24963
I think this is because of RLM character. Unfortunately, I have to change Magento core class DateTime under Magento\Framework\Stdlib\DateTime\Filter to fix this.
try to debug this class to fix your issue.
note: There must be a better solution for this.

[2019-10-28 22:01] #20386 closed, assigned to nobody

[2019-10-28 22:09] sdzhepa commented on #24426
- 22c4ee1413212f4b55cff5014d48966c26582fe5
- db7a3a1369d0c76422c56af179ab61f5b5d679e5

[2019-10-28 22:10] magento-engcom-team commented on #23400
@manuelcanepa ,

Thank you for your report and collaboration!

The issue has been fixed by Magento team in the scope of internal Jira tickets `MC-19152` and `MC-19894`
The fix has been delivered into `2.3-develop` branch

Related commit(s):
- 22c4ee1413212f4b55cff5014d48966c26582fe5
- db7a3a1369d0c76422c56af179ab61f5b5d679e5

[2019-10-28 22:10] #23400 closed, assigned to sdzhepa

[2019-10-28 23:39] ukguy commented on #22587
It seems from early tests that this does not happen when using elasticsearch

[2019-10-29 00:03] Thomas-gt3 opened #25338 "Email not send after upgrade to Magento 2.3.3"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.2
3. PLESK 18

### Steps to reproduce (*)

1. Since update 2.2.8 --> 2.3.3 email not send automatically and not send manually.
2. I tried several modules SMTP and SendInBlue module, but the problem is always present.

### Expected result (*)

1. All Email Send (order, invoice, etc...)

### Actual result (*)

1.
![1](https://user-images.githubusercon

[2019-10-29 00:19] IanOzwashroom opened #25339 "Magento 2 - no image available on website"
### Preconditions (*)
 . See .
1.       Its 2.3.2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.
![Magento no image available 29-10-19](https://user-images.githubusercontent.com/57118721/67727540-e6953d00-fa3d-11e9-8213-49cea5620096.png)

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-10-29 02:40] vishalverma279 commented on #25339
@magento give me 2.3-develop instance

[2019-10-29 02:40] magento-engcom-team commented on #25339
Hi @vishalverma279. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-29 02:45] vishalverma279 commented on #25339
issue not found in magento vanila. Please check again or share some more info to regenerate the issue: https://prnt.sc/ppfth5

[2019-10-29 02:45] #25339 closed, assigned to nobody

[2019-10-29 02:45] vishalverma279 commented on #25339
feel free to open the issue if it is still present

[2019-10-29 04:38] PivitParkour94 commented on #22240
I am able to replicate this, but it is manifesting in a confusing admin panel with no menu items loading. The error was being thrown in the log and changing to developer mode threw the error and it would seem it is because my database schema name is 40 characters long, so when the Database lock is loaded, when the prefix is added, the length is greater than 64 and the error is being thrown.
see `\

[2019-10-29 05:44] vijay-prevaj commented on #25258
Sorry for the inconvenience, the issue occur when "Price Navigation Step Calculation" is set to "Automatic (equalize product counts)" please see the screenshot below :

![Configuration   Settings   Stores   Magento Admin   World of Watches](https://user-images.githubusercontent.com/34272427/67740743-e3e61800-fa3c-11e9-8103-477073d00d00.jpg)

![Configuration   Settings   Stores   Magento Admin   Wo

[2019-10-29 05:56] vijay-prevaj commented on #25258
@engcom-Charlie Please also change the status ones it reproduce in magento instance.

Thank You.

[2019-10-29 05:58] vijay-prevaj opened #25341 "Price Filter not showing when using elastic search 6+"
### Preconditions (*)

1. Magento 2.3.2
2. Elasticsearch 6+
3. Set "Price Navigation Step Calculation" to "Automatic (equalize product counts)" please see the screenshot below :

![Configuration   Settings   Stores   Magento Admin   World of Watches](https://user-images.githubusercontent.com/34272427/67741440-24469580-fa3f-11e9-8010-e7103e7848c1.jpg)

### Steps to reproduce (*)

1. Enable Elastics

[2019-10-29 06:02] vijay-prevaj commented on #25341
Yes, i able to reproduce the issue in vanilla magento instance.

[2019-10-29 06:02] magento-engcom-team commented on #25341
Hi @vijay-prevaj. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-29 06:03] magento-engcom-team commented on #25341
Hi @vijay-prevaj, here is your [Magento instance](https://i-25341-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25341-2-3-develop.instances.magento-community.engineering/admin](https://i-25341-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-29 06:06] vijay-prevaj commented on #25341
I need the Elasticsearch to test in your instance.

please see :

![Configuration   Settings   Stores   Magento Admin](https://user-images.githubusercontent.com/34272427/67741825-48ef3d00-fa40-11e9-9372-a280b1c07562.jpg)

[2019-10-29 06:20] magento-engcom-team commented on #25268
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22188` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-29 06:23] magento-engcom-team commented on #25312
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-29 06:27] magento-engcom-team commented on #25312
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22189` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-29 06:56] ihor-sviziev commented on #25338
@Thomas-gt3 there was included backward incompatible change. Please apply the patch listed in release notes for fixing it

https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-3-open-source.html#apply-the-emailmessageinterface-backward-compatibility-issue-patch-to-resolve-an-email-interface-backward-incompatibility-issue

[2019-10-29 07:54] Den4ik commented on #25271
@magento give me 2.3-develop instance

[2019-10-29 07:54] magento-engcom-team commented on #25271
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-29 07:54] magento-engcom-team commented on #25271
Hi @Den4ik, here is your [Magento instance](https://i-25271-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25271-2-3-develop.instances.magento-community.engineering/admin](https://i-25271-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-29 08:01] farhansaid127 commented on #22737
But we are still not able to find if product available in stock or not, there is no parameter in search result that shows whether the product available in stock or out of stock

[2019-10-29 08:02] farhansaid127 commented on #22737
But we are still not able to find if product available in stock or not, there is no parameter in search result that shows whether the product available in stock or out of stock.

[2019-10-29 08:29] coderimus commented on #22774
@engcom-Charlie I think that the issue is still present and I have to reopen it. Please, check my description below.

The current Magento 2.3.3 version does not contain the Update total button. I checked this not only on the 2.3.3 instance but also in the codebase.

For example, here, at the block class, the lastest commit has the next description: ["MC-19061: Revert ticket MC-17003"](https://gith

[2019-10-29 08:33] Den4ik commented on #25271
Confirm @anujwebkul, described issue not reproduced on 2.3-develop

[2019-10-29 08:33] #25271 closed, assigned to nobody

[2019-10-29 08:38] engcom-Delta commented on #12202
@hostep @sdzhepa I am able to reproduce issue on 2.3-develop.
[Case 1:](Magento_Customer/templates/address/edit.phtml)
Add `required-entry` class to additional address fields in `Magento_Customer/templates/address/edit.phtml`
![#12202issue](https://user-images.githubusercontent.com/51681379/67750153-4cca9180-fa37-11e9-8623-859a1f005d23.png)

[Case 2:](Magento_Customer/templates/address/edit.phtml)

[2019-10-29 08:39] magento-engcom-team commented on #12202
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22197` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-29 08:56] taoufiqaitali commented on #25341
we have same issue,

[2019-10-29 09:02] LouNik1984 commented on #25084
"one thing you want to verify is that the product is associated with the other stores and it has generated the URLs"

I'm not sure I understand correctly, but when I open the backend I can see that the website is correctly flagged for all store views, so apparently everything is right but if I check the rewrite table in database then the rows corrisponding to the other stores are missing (only the

[2019-10-29 09:05] jayd59 commented on #13143
Hello,

Did you forget this issue? Can you please work on it ?
Thanks, and best regards
Jérémy

[2019-10-29 09:23] euriskotech commented on #22587
@ukguy Still not found a working solution and no patch for CE issued yet, very frustrating

[2019-10-29 09:25] engcom-Delta commented on #24823
Hi @jclark0 thank you for your report. I am not able to reproduce issue by steps you described on clean 2.3-develop, seems like this related to your custom modules.

If you'd like to update the issue, please reopen it.

[2019-10-29 09:25] #24823 closed, assigned to engcom-Delta

[2019-10-29 09:43] rickschippers commented on #22587
@euriskotech @ukguy see my comment from June 26th. It's not a perfect solution, but it'll keep your server from breaking. Or switch to elasticsearch, that also fixes it.

[2019-10-29 09:54] engcom-Charlie commented on #25219
Hello @chris-pook
`ImageBuilder` class is deprecated(will be deleted at next release).
![image](https://user-images.githubusercontent.com/51680850/67691037-97e89400-f9a6-11e9-9cc7-e7a6a48a6909.png)

Please use `ImageFactory` for your actions.
![image](https://user-images.githubusercontent.com/51680850/67690214-2a883380-f9a5-11e9-8323-b8dea39e5ef8.png)

So i have to close this issue.
Thanks for you

[2019-10-29 10:02] koenner01 commented on #6868
I can confirm this issue is still present in 2.3.3

[2019-10-29 10:43] ihor-sviziev opened #25343 "[Performance] Braintree - Request access token only when it's needed"
From https://github.com/magento/magento2/pull/25223#issuecomment-546616818:
Requesting of Access token takes ~200ms -> it's significantly slowing down the cart/checkout page.  On cart page for instance we don't really need this access token because we're not working with Braintree there at all, but it's still requesting it.

### Preconditions (*)
1. Magento 2.3.3 & 2.3-develop
2. Configured Braint

[2019-10-29 10:47] magento-engcom-team commented on #22774
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22200` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-29 11:00] vpashovski commented on #8933
@mslabko I have same issue when Product Import and Indexes (Run by Schedule) are running simultaneously.
Here is part of the result from `SHOW ENGINE INNODB STATUS` command:

[code]

[code]

[2019-10-29 11:13] Axel29 commented on #20771
Did you try getting "setup" directory from Magento's repo (at your version)?
For me the problem was that many files from there (and "lib" from memory) were deleted by the upgrade when they shouldn't have been.
Updating the sources from Magento's repo fixed the issue for me.

[2019-10-29 11:14] Axel29 commented on #20771
@stoya42

Did you try getting "setup" directory from Magento's repo (at your version)?
For me the problem was that many files from there (and "lib" from memory) were deleted by the upgrade when they shouldn't have been.
Updating the sources from Magento's repo fixed the issue for me.

[2019-10-29 11:18] sudheers-kensium opened #25344 "My Wish List items should not display in left side bar from Customer Dashboard My Wish List page"
### Preconditions (*)

1. Magento 2.3.3
2.

### Steps to reproduce (*)

1. Login customer in front-end.
2. Add products to wish-list
3. Go to Customer My Account -> My Wish List.

### Expected result (*)

1. My Wish List items should not display in left side bar.
![image](https://user-images.githubusercontent.com/50358141/67759996-7c44c280-fa66-11e9-8e58-11eb90ec6e52.png)

### Actual result (*)

1

[2019-10-29 11:18] magento-engcom-team commented on #25344
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22201` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-29 11:20] chris-pook commented on #25219
Fair enough. Thanks.

[2019-10-29 11:22] LouNik1984 commented on #25084
I noticed something else, this time during the update of the product:

if I try to update a field for a specific store view (eg: the description field on the german store view), the new value is correctly saved but all the "use default value" checkboxes gets unchecked. I think that only the edited field should have the box unchecked

[2019-10-29 11:30] syedkawish opened #25346 "I have enabled extension on My site which is on Magento 2.3 and getting this error"
Can't download file. Please try again! RecursiveDirectoryIterator::__construct(): Unable to find the wrapper "phar" - did you forget to enable it when you configured PHP?

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-10-29 11:33] maderlock commented on #23625
Interesting. I cannot upgrade to 2.3.3 at this point of the project, but I had come to the conclusion that the PID logic was incorrect - it was referring to the parent PID not that of the spun up consumers. Interesting to see that a different mechanism is being used now.

[2019-10-29 11:36] n2diving-dgx commented on #23908
This appears to be a related cause https://github.com/magento/magento2/pull/25307

[2019-10-29 11:55] Thomas-gt3 commented on #25338
Thanks, I download patch on my server and when I run it it does not find the files yet I paste the file path :

[code]

[2019-10-29 12:05] engcom-Charlie commented on #25258
Hello @vijay-prevaj
I am still can't reproduce this issue with this configuration:
![image](https://user-images.githubusercontent.com/51680850/67753879-1ba18f80-fa3e-11e9-80f2-919470074ea1.png)
**Result:**
![image](https://user-images.githubusercontent.com/51680850/67753904-265c2480-fa3e-11e9-9468-451e6eb36ffd.png)

You can try to change value of `Interval Division Limit`(if you have less than 9 p

[2019-10-29 12:12] itsPranith commented on #25346
@syedkawish

Can you please the below details.

 Summary of the issue
 Information on your environment
 Steps to reproduce
 Expected and actual results

Thank You,
Pranith

[2019-10-29 12:20] #25095 closed, assigned to itsPranith

[2019-10-29 12:36] RaphaelBronsveld commented on #25076
Is there any update on this? I'd like to apply a composer patch, or is a complete overwrite via a preference the the only way to fix this?

Thanks in advance.

[2019-10-29 12:45] dufrygrant commented on #16779
@engcom-backlog-pb +1 for seeing this on Magento 2.2.9

[2019-10-29 12:59] martinmaterzok commented on #24963
Thank for answer. I debugged this class and functions, unfortunately it doesn't used in datetime filter in the UI Component.

[2019-10-29 12:59] gondas33 opened #25347 "Missing Countries from Google Shopping Ads"
### Preconditions (*)

1.Magento 2.3.3 CE (composer installation)

### Description (*)

Adding the same countries for the Content API Feed like on the google merchants page.
(There are about 40 countries on their system while in your module you only have about 14 countries)

### Expected result (*)

I wanted to mass-import products into their API for the 'Romania' country but failed as I didn't ha

[2019-10-29 13:00] elvinristi commented on #25076
my current hotfix patch was to patch `vendor/zendframework/zend-mail/src/Headers.php`

[code]

Haven't got yet confirmation from customer if it solved but at least I see header difference.

Header before:
`Content-Disposition: =?utf-8?Q?inline?=`

Header after:
`Content-Disposition: inline`

[2019-10-29 13:01] an4rei commented on #25347
@magento give me 2.3-develop instance

[2019-10-29 13:01] magento-engcom-team commented on #25347
Hi @an4rei. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-29 13:01] magento-engcom-team commented on #25347
Hi @an4rei, here is your [Magento instance](https://i-25347-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25347-2-3-develop.instances.magento-community.engineering/admin](https://i-25347-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-29 13:10] TomashKhamlai opened #25348 "Problems with cache when Merchant configure state for United States as not required"
### Preconditions (*)

Magento 2.3-develop
1. Create Customer
2. In Address Book add an address (I suggest to choose Uruguay or United Kingdom because they are close to the United States option)
3. Save address.
4. Log out

### Steps to reproduce (*)

1. Navigate to Store -> Settings -> Configuration -> General -> General -> State Options: **State is Required for**
2. Find **United States** on the

[2019-10-29 13:13] samgranger commented on #25346
Phar gets unregistered in `app/bootstrap.php` for security reasons.

[2019-10-29 13:21] TomashKhamlai opened #25350 "Some JS removes State/Province field for United Kingdom for example"
### Preconditions (*)

Magento 2.3-develop and 2.4-develop
1. Create Customer

### Steps to reproduce (*)

1. Click Address Book
2. Select the United Kingdom as a country
3. Set Postcode to AB12 3CD
4. Set State/Province to Greater London
5. Set City to London
6. Save address.
7. Verify that you see "Greater London" in Default Shipping and Default Billing address
8. Click Change Billing Address

#

[2019-10-29 13:22] an4rei commented on #25347
magento/google-shopping-ads is not available on the dev instance.

[2019-10-29 13:34] an4rei commented on #25341
probably related with #23793

[2019-10-29 13:37] engcom-Delta commented on #23363
Confirmation issue is based on devdocs [Canonical Meta Tag](https://docs.magento.com/m2/ce/user_guide/marketing/meta-canonical.html) article and related to **First problem**  from main [description](https://github.com/magento/magento2/issues/23363#issue-459281574)
**Testing scenario:**

- Magento fresh install
- Create a category with url key `mycategory`
- Create a product with url key `myproduct

[2019-10-29 13:38] magento-engcom-team commented on #23363
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22204` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-29 13:44] engcom-Delta commented on #23363
**In addition:**
Not sure about **Second problem**  from main [description](https://github.com/magento/magento2/issues/23363#issue-459281574) as `Generate "category/product" URL Rewrites: No` remove category/product URL rewrites and left separate url keys for categories and products

https://docs.magento.com/m2/ce/user_guide/marketing/url-redirect-product-automatic.html
https://docs.magento.com/m2

[2019-10-29 14:10] elsdeniep commented on #19737
As a remark: single quotes should be used. Which is not a solution for this issue, however.

From Magento docs: [](https://docs.magento.com/m2/ee/user_guide/marketing/markup-tags-links.html)

Example WITH forward slash at the end, so additional references can be appended as a path:
`<a href="{{store url='apparel/shoes'}}">Shoe Sale</a>`

Example resulting in frontend url WITHOUT trailing slash:
`<

[2019-10-29 14:11] magento-engcom-team commented on #25276
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22205` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-29 14:49] hatimeria-artur-jewula opened #25353 "Magento\Email\Model\Transport does not correctly implement Magento\Framework\Mail\TransportInterface"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
Consider the following code:
[code]

### Expected result (*)
1. `$mesage` variable value should implement `Magento\Framework\Mail\MessageInterface` (according to phpdoc of `Magento\Framework\Mail\TransportInterface`)

### Actual result (*)
1. Returned value is an instance of `Magento\Framework\Mail\EmailMessageInterface`

[2019-10-29 15:11] magento-engcom-team commented on #7231
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22208` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-29 16:09] alzhr commented on #25245
Hi

[2019-10-29 16:24] fritzmg commented on #25199
We are noticing similar problems with MariaDB `10.2.27` - just not with the queries of the indexer. Certain selects take up to 60 seconds while they should only last milliseconds.

[2019-10-29 16:27] ptylek commented on #25276
@magento I am working on it

[2019-10-29 17:34] chris-pook commented on #25219
This still seems to be an issue with ImageFactory. The same template vendor/magento/module-catalog/view/frontend/templates/product/image_with_borders.phtml will render the image and this is where the escaping issue is happening.

[2019-10-29 19:34] mwhembree commented on #20684
Raising memory limits always works for me. However, every upgrade overwrites the .htaccess and .user.ini files with the old 756M value and I have to change the memory limits again to install any extensions. Since 756M is no good, why not change the default to 2G?

[2019-10-29 20:03] hostep commented on #23908
@n2diving-dgx: hmm, I don't agree, those are two separate issues in my opinion.

[2019-10-29 20:10] hostep commented on #23363
@engcom-Delta, thanks for testing!

As for the second problem, have you tested that as well? Those url's with category paths in them are still working with that setting disabled. They just aren't getting stored in the `url_rewrite` table, they are calculated on the fly on the frontend.

[2019-10-29 20:11] krzksz commented on #25027
Hey @anemitoff thanks for the hint, I was working on a PR but I was missing this `object-fix: cover` part 👍 Anyway you can find the fix under https://github.com/magento/magento2/pull/25358 and lets hope it's going to be merged soon.

[2019-10-29 21:33] facetimer commented on #13983
Still here with version 2.3.3...

[2019-10-29 21:35] sdzhepa commented on #25137
fixed and delivered in https://github.com/magento/magento2/pull/25206

[2019-10-29 21:35] #25137 closed, assigned to webkul-ratnesh, drpayyne, krishprakash

[2019-10-29 22:40] 24rtj commented on #25245
I’m

[2019-10-29 23:22] korostii commented on #25332
Except model's `load()` method is, in fact, deprecated:
https://github.com/magento/magento2/blob/7aa94564d85e408baea01abc5315a0441401c375/lib/internal/Magento/Framework/Model/AbstractModel.php#L528-L542

`CustomerRepository::getById()` is the way to go.

[2019-10-30 00:07] 24rtj commented on #4395
fc497da

[2019-10-30 01:31] sdzhepa commented on #22297
fixed in https://github.com/magento/magento2/pull/24636

[2019-10-30 01:31] #22297 closed, assigned to nobody

[2019-10-30 03:33] LiamKarlMitchell commented on #1011
Why are there no PHP class documentations available with the source.
It's nearly impossible to know what methods are available.

[2019-10-30 04:57] andy17612 commented on #24721
Hi @hostep

Thanks your helpful.

[2019-10-30 06:12] onlinejitu opened #25362 "Login pop up link overlap the minicart button on magento 2 checkout page"
'Sign In' popup link overlapping the Minicart button overlapping on the checkout page

**Preconditions (*)**
Magento 2.3.2
PHP 7.1.19

**Steps to reproduce (*)**
Steps to reproduce
**NOTE**: Please make sure frontend theme should be set to LUMA theme, before proceed to reproduce the layout issue
Step 1: Go to frontend
Step 2: Add any product to cart and go to checkout page
Step 3: See top right co

[2019-10-30 06:29] sudheers-kensium commented on #25362
@magento give me 2.3-develop instance

[2019-10-30 06:29] magento-engcom-team commented on #25362
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-30 06:29] magento-engcom-team commented on #25362
Hi @sudheers-kensium, here is your [Magento instance](https://i-25362-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25362-2-3-develop.instances.magento-community.engineering/admin](https://i-25362-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-30 06:37] sudheers-kensium commented on #25362
@onlinejitu I am not able to reproduced on Magento 2.3-develop instance
![image](https://user-images.githubusercontent.com/50358141/67834600-d056b200-fb0d-11e9-98ee-2809101b21c7.png)

[2019-10-30 06:44] onlinejitu commented on #25362
@sudheers-kensium thanks for looking into the issue, let me provide you more detail on this.

[2019-10-30 06:49] onlinejitu commented on #25362
FYI, I am working on Magento-CE-2.3.2-2019-06-13-03-19-34

Are you also checking in this version?

[2019-10-30 06:53] sudheers-kensium commented on #25362
@magento give me 2.3.2 instance

[2019-10-30 06:53] magento-engcom-team commented on #25362
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-10-30 06:55] onlinejitu commented on #25362
@magento please provide 2.3.2 instance that was released on 2019-06-13-03-19-34, thanks

[2019-10-30 07:10] onlinejitu commented on #25362
@sudheers-kensium & @magento
I found one difference that: In Magento-CE-2.3.2-p2-2019-10-09-01-20-50 , minicart and top navigation are hidden, so that you can not reproduce the issue.

If you use Magento-CE-2.3.2-2019-06-13-03-19-34 then you will find it.

For now, my problem has resolved by upgrading Magento to latest version.

Thanks for looking into the issue.

[2019-10-30 07:15] sudheers-kensium commented on #25362
@onlinejitu Maybe this issue is resolved in latest version, so I am closing this issue.

[2019-10-30 07:15] #25362 closed, assigned to sudheers-kensium

[2019-10-30 08:09] magento-engcom-team commented on #25098
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22561` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-30 08:18] magento-engcom-team commented on #25348
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22562` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-30 08:25] magento-engcom-team commented on #25350
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22563` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-30 08:29] qsolutions-pl commented on #25332
The same issue is with the customer repository.

[2019-10-30 08:41] VZeroCool commented on #25347
@magento-engcom-team give me 2.3-develop instance

[2019-10-30 08:41] magento-engcom-team commented on #25347
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-30 08:42] magento-engcom-team commented on #25347
Hi @VZeroCool, here is your [Magento instance](https://i-25347-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25347-2-3-develop.instances.magento-community.engineering/admin](https://i-25347-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-30 09:26] MiomenteMUC opened #25364 "Catalog Price Rule only applicable on original price, not on special price"
### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1. Give a product an original price i.e. 500€
2. Give this product a special price i.e. 400€
3. Create catalog price rule which reduces the price of products in a special category around 50€.

### Expected result (*)
1. Special price (my price for selling) is reduced by 50€ and is now 350€
2. Original price (strikethrough) stays 50

[2019-10-30 09:36] engcom-Charlie commented on #25219
@chris-pook could you update the description of issue and add new steps?

[2019-10-30 10:03] Jilco commented on #12986
Bug is back in 2.3.3! Never had the problem and after upgrade it's there....

[2019-10-30 10:04] Jilco commented on #11941
Problem is back in 2.3.3! Never had the problem, but after upgrade from 2.3.2 to 2.3.3 it was there...

[2019-10-30 10:42] cedarvinda opened #25366 "View details toggle arrow not in single line for config product checkout page > minicart"
View details toggle arrow not in single line for config product checkout page > mini cart (Cart summary link)

### Preconditions (*)
1. Magento2.3.x
2. php 7.2

### Steps to reproduce (*)
1. Open Frontend
2. Add to cart any configurable product
3. Go to mini cart and click in Proceed to Checkout button
4. Now resize the page the window to 320 and click cart summary link
and now refer screenshot

#

[2019-10-30 10:43] shikhamis11 commented on #25366
@magento give me 2.3-develop

[2019-10-30 10:45] magento-engcom-team commented on #25366
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-10-30 10:46] snoroozi commented on #21326
Has this been fixed yet? Some customers with outdated Macs are unable to checkout for us as well. Infinite loader. Also I'm running 2.3.0

[2019-10-30 10:47] vijay-prevaj commented on #25341
This patch resolve the issue but i don't know it a correct way.

[code]

[2019-10-30 10:48] Jilco opened #25367 "Invoice quantity round to whole integer"
### Preconditions (*)

1. Magento Open Source 2.3.3

### Steps to reproduce (*)

1. Place order with qty of eg. 1.5 of product

### Expected result (*)

1. In the invoice the qty has to be 1.5 of the product
2. When making a credit if can select the 1.5 and put it back to stock and on the invoice

### Actual result (*)

![Naamloos](https://user-images.githubusercontent.com/23727130/67851623-2118db

[2019-10-30 10:48] magento-engcom-team commented on #25366
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22568` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-30 10:49] Jilco commented on #25367
@magento give me 2.3-develop instance

[2019-10-30 10:49] magento-engcom-team commented on #25367
Hi @Jilco. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-30 10:49] magento-engcom-team commented on #25367
Hi @Jilco, here is your [Magento instance](https://i-25367-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25367-2-3-develop.instances.magento-community.engineering/admin](https://i-25367-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-30 11:06] Jilco commented on #25367
@magento give me 2.3.3

[2019-10-30 11:07] Jilco commented on #25367
@magento give me 2.3.3 instance

[2019-10-30 11:07] magento-engcom-team commented on #25367
Hi @Jilco. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-30 11:08] magento-engcom-team commented on #25367
Hi @Jilco, here is your [Magento instance](https://i-25367-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25367-2-3-3.instances.magento-community.engineering/admin](https://i-25367-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-30 11:14] Jilco commented on #25367
I was able to reproduce in 2.3.3 instance

![Naamloos](https://user-images.githubusercontent.com/23727130/67853379-b8cbf900-fb0e-11e9-9d0c-df1a85327de1.jpg)

[2019-10-30 11:14] Jilco commented on #25367
Any idea about a work around? Because i now can't credit and invoices are incorrect

[2019-10-30 11:30] engcom-Charlie commented on #25330
Hello @janmyszkier
We are not able to reproduce this issue on the lates 2.3-develop branch.

**Manual testing scenario:**

1. Set Two websites to one storeview
2. Create a configurable product
3. Add multiple children to it
4. upload images
5. reorder images by using drag and drop
6. query API `GET /rest/V1/products?searchCriteria[pageSize]=1000` to find your product

**Actual result:**
The API JS

[2019-10-30 11:30] #25330 closed, assigned to engcom-Charlie

[2019-10-30 11:46] gaiterjones opened #25369 "Catalog search pagination issue on Elasticsearch 6.x"
### Preconditions (*)

1. Magento 2.3.3
2. Hotfix Catalog pagination issue on Elasticsearch 6.x patch for Magento 2.3.3 applied
2. Elasticsearch 6.6.2
3. PHP 7.1

### Steps to reproduce (*)

1. Upgrade from 2.3.2 to 2.3.3
2. Perform frontend keyword search
3. First page of multi page results are returned
4. Click next page of results
5. no search results are returned.

![image](https://user-images

[2019-10-30 11:51] sudheers-kensium commented on #25364
@magento give me 2.3-develop instance

[2019-10-30 11:51] magento-engcom-team commented on #25364
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-30 11:52] magento-engcom-team commented on #25364
Hi @sudheers-kensium, here is your [Magento instance](https://i-25364-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25364-2-3-develop.instances.magento-community.engineering/admin](https://i-25364-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-30 12:14] jakwinkler opened #25370 "Customer Attribute gets nulled"
### Preconditions (*)

1. Magento 2.3.3 & 2.3.2 Community Edition

### Steps to reproduce (*)

1. Add **2** new customer attributes via InstallData script
(part of the code)
[code]

2. Add a new block to customer dashboard account information via XML to this reference container `<referenceContainer name="form.additional.info">`
3. Assign that block a custom template file with new form element that

[2019-10-30 12:30] WalterNu opened #25371 "Bulk Action Logs in backend missing if integration_id != user_id"
### Preconditions (*)

1. Magento Commerce 2.3.2

### Steps to reproduce (*)

1. Create an integration for REST API usage
2. Do a bulk product update or any other bulk action
3. Check the "Bulk Actions" page in magento backend

### Expected result (*)

1. Log entries are in db table magento_bulk
2. Log entries show up in backend

### Actual result (*)

1. Log entries are in db table magento_bulk
2

[2019-10-30 12:49] itsPranith commented on #25332
@qsolutions-pl

As per the Factory pattern you can use the "CustomerFactory" class to load the customer instead of "Customer" class, as factory pattern is for creation of new instance every time you use the particular class object.

For example:

Inject the class \Magento\Customer\Model\CustomerFactory and use it like below
$customer = $this->customer->create()->load(2);

Thank You,
Pranith

[2019-10-30 12:53] #25332 closed, assigned to itsPranith

[2019-10-30 12:55] dandelionred commented on #20684
@mwharron Just prepare a patch for those two files and apply it manually right after upgrading.

Because it is the community edition I guess.

[2019-10-30 13:23] #25120 closed, assigned to androshchuk

[2019-10-30 13:23] #25060 closed, assigned to edenduong

[2019-10-30 13:37] mattijv opened #25373 "The 'promotion' region of the minicart is never rendered"
### Preconditions (*)
1. M2.3.1 or later (and possibly some later M2.2 versions too)

### Steps to reproduce (*)
1. Add a component to the 'promotion' region of the minicart jsLayout

### Expected result (*)
1. Component is rendered

### Actual result (*)
1. Component is not rendered

### Cause
The issue was introduced in https://github.com/magento/magento2/pull/20383 where an if-binding was added

[2019-10-30 13:42] engcom-Charlie commented on #24965
Hello @gonzaloebiz

I am closing this issue as not actual.
Checked on Magento 2.2.10
![image](https://user-images.githubusercontent.com/51680850/67853552-79ee7100-fb17-11e9-8e00-c89e5f55d783.png)

Thanks for your report!

[2019-10-30 13:42] #24965 closed, assigned to engcom-Charlie

[2019-10-30 13:54] hostep commented on #24965
@engcom-Charlie: can you confirm that version 1.2.2 is now available on repo.magento.com as that is the real issue here? Thanks!

[2019-10-30 13:56] ptylek commented on #23502
Issue is not reproducible

[2019-10-30 13:56] #23502 closed, assigned to ptylek

[2019-10-30 14:19] Thomas-gt3 commented on #25338
Result is identical :

[code]

[2019-10-30 14:28] ptylek opened #25376 "Tooltip is not aligned properly"
### Preconditions (*)

1. Magento version 2.3.2

### Steps to reproduce (*)

1. Go to Admin Panel -> Stores -> Settings -> Order Status -> Click any order status
2. Tooltip is not aligned properly

### Expected result (*)

![image](https://user-images.githubusercontent.com/34317830/67866889-e4a8a800-fb29-11e9-93f4-b554a1b93d6f.png)

### Actual result (*)

![image](https://user-images.githubusercon

[2019-10-30 14:32] magento-engcom-team commented on #25376
Hi @ptylek, here is your [Magento instance](https://i-25376-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25376-2-3-develop.instances.magento-community.engineering/admin](https://i-25376-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-30 14:34] #25376 closed, assigned to ptylek

[2019-10-30 14:42] ptylek commented on #24352
Not reproducible on Magento 2.3. I checked browsers below:
- Chrome Version 78.0.3904.70
- Firefox Browser 70.0
- Safari Version 12.1.2

[2019-10-30 14:42] #24352 closed, assigned to nobody

[2019-10-30 14:42] kanduvisla commented on #23808
I have this problem as well. I've updated the templates, but now I only have this problem in Firefox when the inspector is closed. That's right: if the inspector is open, everything works as expected, if the inspector is closed, I get these errors and the "place order" buttons does not have any text :-(

Anyone else experienced this issue?

[2019-10-30 15:18] bchatard commented on #23517
Hello @magento-engcom-team

Any update on this?
We are facing the same issue when migrating from M1.9 CE to M2.3 EE. The issue seems easy to fix

[code]

We need to hash "hashed password" against all hash version to mimic `customer:hash:upgrade` logic

[2019-10-30 15:28] engcom-Charlie commented on #25341
Hello @vijay-prevaj

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

You can read info about `Price Navigation Step Calculation` in [this topic](https://docs.magento.com/m2/ce/user_guide/catalog/navigation-layered-price.html).
![image](https://user-images.githubusercontent.com/51680850/67849651-a605f400-fb0f-11e9-99e1-c5ad23b3016f.png)
As I offered in [t

[2019-10-30 15:28] #25341 closed, assigned to engcom-Charlie

[2019-10-30 15:37] magento-engcom-team commented on #23920
Hi @YiffyToys. Thank you for your report.
The issue has been fixed in magento/magento2#25317 by @crissanclick in 2.3-develop branch
Related commit(s):
 - [d0f1e500034cfa4e2b8fea2817579401288ba03d](https://github.com/magento/magento2/commit/d0f1e500034cfa4e2b8fea2817579401288ba03d)
 - [4f520851d43bf96ddc6456161bf1ac86c84a5d31](https://github.com/magento/magento2/commit/4f520851d43bf96ddc6456161bf1a

[2019-10-30 15:37] #23920 closed, assigned to crissanclick

[2019-10-30 15:37] #21592 closed, assigned to cstergianos

[2019-10-30 15:57] pierzakp opened #25378 "No results on other than first search pages when using elasticsearch"
### Preconditions (*)

1. Magento 2.3.3 CE & EE, 2.3-develop
2. Elastic Search 6

### Steps to reproduce (*)

1. Let's assume that our page limit is configured to 10.
2. Search products using some phrase where you're sure that there are more results than the configured limit on a page which is 10.

### Expected result (*)

1. Expect that will have results on each page rendered in the pagination.
2

[2019-10-30 16:04] SoloDevAtrix commented on #25199
I'm also running mariadb 10.3.18 and having these issues.  Indexers just never stop being triggered now even after tripling our hardware speed.

Attempting to clone a server then upgrade to 10.4 on it and test indexing on it.

[2019-10-30 16:15] itsPranith commented on #25370
@magento give me 2.3-develop instance

[2019-10-30 16:15] magento-engcom-team commented on #25370
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-30 16:15] magento-engcom-team commented on #25370
Hi @itsPranith, here is your [Magento instance](https://i-25370-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25370-2-3-develop.instances.magento-community.engineering/admin](https://i-25370-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-30 16:46] zhartaunik commented on #24726
The issue is still open after the PR merge. Does it require sth from my side?

[2019-10-30 17:18] gonzaloebiz commented on #24965
OK, for me work OK now

Thanks

[2019-10-30 17:51] pmathbliss commented on #13504
This is still broken.

[2019-10-30 18:58] mitcht commented on #21663
This is still a problem.

[code]

[2019-10-30 18:58] magento-engcom-team commented on #25343
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#25223 by @andrey-legayev in 2.3-develop branch
Related commit(s):
 - [0fe0cdcc30a925422756452224bebdd667542e9c](https://github.com/magento/magento2/commit/0fe0cdcc30a925422756452224bebdd667542e9c)
 - [fb31ed9096a249a3f47e38000878b913829a44ed](https://github.com/magento/magento2/commit/fb31ed9096a249a3f47e3800

[2019-10-30 18:59] magento-engcom-team commented on #25167
Hi @rahulwebkul. Thank you for your report.
The issue has been fixed in magento/magento2#25168 by @rahulwebkul in 2.3-develop branch
Related commit(s):
 - [a9d641617a5d384136b56a23d7fcdef54a24df87](https://github.com/magento/magento2/commit/a9d641617a5d384136b56a23d7fcdef54a24df87)
 - [66613c8ef36ff6ff6110e4665d96a56df7280cca](https://github.com/magento/magento2/commit/66613c8ef36ff6ff6110e4665d96

[2019-10-30 18:59] #25167 closed, assigned to nobody

[2019-10-30 18:59] magento-engcom-team commented on #25207
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#25208 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [e28fa66447c96198dec9cc3603f30b940f1f067e](https://github.com/magento/magento2/commit/e28fa66447c96198dec9cc3603f30b940f1f067e)
 - [824ed399323d49815592e2975a0cadf821d77ade](https://github.com/magento/magento2/commit/824ed399323d49815592e2975a0cad

[2019-10-30 18:59] #25207 closed, assigned to cedarvinda

[2019-10-30 19:00] magento-engcom-team commented on #24726
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/magento2#25055 by @zhartaunik in 2.3-develop branch
Related commit(s):
 - [de97b0ae727ed009ac2707e4be979366c565a333](https://github.com/magento/magento2/commit/de97b0ae727ed009ac2707e4be979366c565a333)
 - [4a1f3ab77f8d0dbbb7fc4d8c6dbb6ec70c400e74](https://github.com/magento/magento2/commit/4a1f3ab77f8d0dbbb7fc4d8c6dbb6ec70

[2019-10-30 19:00] #24726 closed, assigned to nobody

[2019-10-30 19:00] #24483 closed, assigned to lfolco

[2019-10-30 19:00] magento-engcom-team commented on #25240
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#25241 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [07040480b673c09284e47072288d7176aa9e06dc](https://github.com/magento/magento2/commit/07040480b673c09284e47072288d7176aa9e06dc)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-30 19:00] #25240 closed, assigned to cedarvinda

[2019-10-30 19:00] magento-engcom-team commented on #24808
Hi @sangeetajain. Thank you for your report.
The issue has been fixed in magento/magento2#24862 by @ivan-koliadynskyy in 2.3-develop branch
Related commit(s):
 - [2a6dc66bbeab6179a717f31c988ed0a4eee8ec4d](https://github.com/magento/magento2/commit/2a6dc66bbeab6179a717f31c988ed0a4eee8ec4d)
 - [dc460c817b810553c3a037f9ae65985a07efb975](https://github.com/magento/magento2/commit/dc460c817b810553c3a03

[2019-10-30 19:00] #24808 closed, assigned to nobody

[2019-10-30 19:00] magento-engcom-team commented on #23170
Hi @Emanuel-23. Thank you for your report.
The issue has been fixed in magento/magento2#25176 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [93034ab3569dde8cf2f6889b7c4ac3e786845866](https://github.com/magento/magento2/commit/93034ab3569dde8cf2f6889b7c4ac3e786845866)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-30 19:00] #23170 closed, assigned to mahesh-rajawat

[2019-10-30 19:00] magento-engcom-team commented on #17634
Hi @bruno-serfe. Thank you for your report.
The issue has been fixed in magento/magento2#24892 by @adrian-martinez-interactiv4 in 2.3-develop branch
Related commit(s):
 - [af9ca675f2102aacf4003afa4d8fa779cf0b5e4e](https://github.com/magento/magento2/commit/af9ca675f2102aacf4003afa4d8fa779cf0b5e4e)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-30 19:00] #17634 closed, assigned to nobody

[2019-10-30 19:05] ihor-sviziev commented on #25343
Hi @sdzhepa,
You linked this issue. The issue is related, but it’s different.
#25223 fixes issue when module is disabled, but this issue for not requesting this token until it’s not needed at all. For instance on cart page it’s not really needed in both cases - when module is enabled or disabled

[2019-10-30 19:23] magento-engcom-team commented on #25039
Hi @weeliem. Thank you for your report.
The issue has been fixed in magento/magento2#25051 by @gauravagarwal1001 in 2.3-develop branch
Related commit(s):
 - [0e02b40eb1b9d20c170328e1028e16857d7473e5](https://github.com/magento/magento2/commit/0e02b40eb1b9d20c170328e1028e16857d7473e5)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-30 19:23] #25039 closed, assigned to shikhamis11, gauravagarwal1001

[2019-10-30 19:23] magento-engcom-team commented on #12371
Hi @quisse. Thank you for your report.
The issue has been fixed in magento/magento2#24405 by @thomas-kl1 in 2.3-develop branch
Related commit(s):
 - [029acac9341a3052196464da63740c458fa33cd0](https://github.com/magento/magento2/commit/029acac9341a3052196464da63740c458fa33cd0)
 - [26bff4f9c5363e4f9b609d16785671809fa2ece6](https://github.com/magento/magento2/commit/26bff4f9c5363e4f9b609d16785671809f

[2019-10-30 19:23] #12371 closed, assigned to nobody

[2019-10-30 19:23] magento-engcom-team commented on #22692
Hi @ghost. Thank you for your report.
The issue has been fixed in magento/magento2#24588 by @tiagooctp in 2.3-develop branch
Related commit(s):
 - [c18a2ed64af40909f8c38c5cfd5c55621b497a20](https://github.com/magento/magento2/commit/c18a2ed64af40909f8c38c5cfd5c55621b497a20)
 - [5163a0518069e078e5b0920c57f5fa216b216272](https://github.com/magento/magento2/commit/5163a0518069e078e5b0920c57f5fa216b21

[2019-10-30 19:23] #22692 closed, assigned to tiagooctp

[2019-10-30 19:23] magento-engcom-team commented on #12855
Hi @david-gorecki. Thank you for your report.
The issue has been fixed in magento/magento2#24913 by @drpayyne in 2.3-develop branch
Related commit(s):
 - [94512cf73f1e2bd4652676565988d4c430b438ba](https://github.com/magento/magento2/commit/94512cf73f1e2bd4652676565988d4c430b438ba)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-30 19:23] #12855 closed, assigned to drpayyne

[2019-10-30 19:23] magento-engcom-team commented on #23754
Hi @vincent2090311. Thank you for your report.
The issue has been fixed in magento/magento2#24881 by @BrentRobert in 2.3-develop branch
Related commit(s):
 - [3374a5a9d11ee3a5577fd5f25a600852a9875039](https://github.com/magento/magento2/commit/3374a5a9d11ee3a5577fd5f25a600852a9875039)

The fix will be available with the upcoming 2.3.4 release.

[2019-10-30 19:23] #23754 closed, assigned to nobody

[2019-10-30 19:47] SoloDevAtrix commented on #25199
10.4 latest made zero difference.
@amenk patch reduced it from 45 mins to 40 seconds for the query he posted.
Removing IN for entity_id altogether reduces query time to 0.0013 seconds

M2 mview and indexer system are once again trash and once again costing my client money and me time.

[2019-10-30 19:49] amenk commented on #25199
How did you remove "IN" for entity_id altogether? Did you still select the same rows? Via a JOIN?

Please maintain a constructive tone ;-)

[2019-10-30 19:57] SoloDevAtrix commented on #25199
I just manually changed the query for testing, I'm researching now if the entity_id's are do to a batch or handed off from a prior query.  If it's just the mview batching, then it's 30,000 faster to not batch than to do it.

[2019-10-30 20:34] sdzhepa commented on #25284
Hello @renard123 and @krishprakash

FYI: @xmav

Internal Magento team took this issue in progress `MC-22122` but we cannot reproduce this issue.
Only one case when we received such error was when Elasticsearch is enabled in Magento System Configuration but NOT INSTALLED on the server.

Could you please double-check it?
Share please your configuration for Elasticserach and what result if click **Te

[2019-10-30 20:39] TomR5 commented on #25098
Thank you @itsPranith and @webkul-ratnesh.

[2019-10-30 20:54] fascinosum commented on #24708
@nemke82

- in most cases, the system **/tmp/** directory is better protected than any web instance directory
- the analytics system can collect a lot of data and this may be a problem if customer has limits on the **var/** directory

[2019-10-30 21:03] SoloDevAtrix commented on #25199
It does select all products and then batch them for a root category full reindex.
Here's my result after removing batching entirely for that:
`Category Products index has been rebuilt successfully in 00:00:14`

Before it was 5 hours.

Will test some more then release a module to override default m2 behavior.  Honestly, should probably just write a module to overwrite all indexers at some point the

[2019-10-30 21:28] webkul-ratnesh commented on #25367
@magento give me 2.3-develop

[2019-10-30 21:29] rafalcao commented on #25091
@magento give me 2.3-develop instance

[2019-10-30 21:29] magento-engcom-team commented on #25091
Hi @rafalcao. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-30 21:32] betooliveirame commented on #25369
@magento give me 2.3-develop instance

[2019-10-30 21:32] magento-engcom-team commented on #25369
Hi @betooliveirame. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-30 21:33] magento-engcom-team commented on #25369
Hi @betooliveirame, here is your [Magento instance](https://i-25369-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25369-2-3-develop.instances.magento-community.engineering/admin](https://i-25369-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-30 21:43] mahsn commented on #22085
@magento give me 2.3-develop instance

[2019-10-30 21:43] magento-engcom-team commented on #22085
Hi @mahsn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-30 21:43] rafalcao commented on #25091
@magento give me 2.3-develop instance

[2019-10-30 21:43] magento-engcom-team commented on #25091
Hi @rafalcao. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-30 21:43] magento-engcom-team commented on #22085
Hi @mahsn, here is your [Magento instance](https://i-22085-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22085-2-3-develop.instances.magento-community.engineering/admin](https://i-22085-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-30 21:45] magento-engcom-team commented on #25091
Hi @rafalcao, here is your [Magento instance](https://i-25091-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25091-2-3-develop.instances.magento-community.engineering/admin](https://i-25091-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-30 23:37] betooliveirame commented on #25369
fixed on #25378

[2019-10-31 01:52] rbostan commented on #15979
Same in 2.2.9
Please reopen this issue.

[2019-10-31 02:29] GDauer commented on #25150
Just have tried the same example as the [documentation](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/plugins.html) and seems we have a bug. Apparently the problem is in the last two **after Plugins**:

![Plugin](https://user-images.githubusercontent.com/48294687/67913537-2bb78d00-fb6c-11e9-8400-e260ef6d6f2a.png)

[2019-10-31 03:16] nambsscommerce opened #25389 "Persistent Shopping Cart in magento 2.3.x"
Magento 2.3.x

1. Config
1.1 Persistent Shopping Cart config: https://drive.google.com/file/d/1lDhGke_wf02xbekUXa3W4rumjbmE0LIU/view?usp=sharing
1.2. config cart price rule for wholesale customer group: discount 10$

2. Bug
You can see this video: https://www.loom.com/share/bc9ab26d3c4245a49aa8e90a078d2cd0

3. Expected result
Clear all cart price rule

4. Actual result
https://www.loom.com/share/b

[2019-10-31 04:05] KilalaPhu commented on #5873
@mak0605 can you give me email: i send my database. could you fix this error help me. can fix it for 3 week i had search to fix it a lot. but i can not

[2019-10-31 04:47] PivitParkour94 commented on #4620
Is clearing the ui_bookmark table supposed to be built into a cache type or something in the future? It seems a little bit too devvy for someone who's just testing a new version of a ui_component...

[2019-10-31 04:51] Bhavik-kumar opened #25390 "UPS carrier model getting error when create plugin in to Magento 2.3.3 compatibility"
### Preconditions (*)
Magento 2.3.3 & 2.3-develop
with Developer mode.

### Steps to reproduce (*)
1. create plugin for `Magento\Ups\Model\Carrier` with custom di.xml
`app/code/<vender>/<module>/etc/di.xml`

[code]

2. create class as below mention
[code]
### Expected result (*)
Plugin should work properly with developer mode

### Actual result (*)
Getting below error
[code]

As my understand issu

[2019-10-31 06:59] jerome-zhang commented on #17860
Hi @magento-engcom-team , we still having this issue on 2.3, is there an official fixing for it?
Our developer provided a fixing, would you please help to review and see if that is the best way to solve the in correct store filter.
[fixing_store_filter.zip](https://github.com/magento/magento2/files/3792500/fixing_store_filter.zip)

[2019-10-31 07:05] jerome-zhang opened #25391 "Configurable product is showing options for simple products not assigned to the current store"
Reopen for https://github.com/magento/magento2/issues/17860#issue-355316051

**Summary**

When different simple products are available to a configurable product in different stores, the store filter is not being added to the collection on the category view page.

EXAMPLE
ConfigurableProduct
SimpleProduct1 (only available in StoreA)
SimpleProduct2 (available in StoreA and StoreB)
SimpleProduct3 (on

[2019-10-31 07:06] jerome-zhang commented on #25391
Hi @magento-engcom-team , we still having this issue on 2.3, is there an official fixing for it?
Our developer provided a fixing, would you please help to review and see if that is the best way to solve the in correct store filter.

![2019-10-31_1459](https://user-images.githubusercontent.com/12635165/67925725-1df71b80-fbef-11e9-8aae-5a0c583baf4f.png)

[fixing_store_filter.zip](https://github.com/

[2019-10-31 07:15] itsPranith commented on #25389
@magento give me 2.3-develop instance

[2019-10-31 07:15] magento-engcom-team commented on #25389
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-31 07:15] magento-engcom-team commented on #25389
Hi @itsPranith, here is your [Magento instance](https://i-25389-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25389-2-3-develop.instances.magento-community.engineering/admin](https://i-25389-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-31 07:17] gaiterjones commented on #25369
@betooliveirame what is the fix?

[2019-10-31 07:26] Jilco commented on #25367
@webkul-ratnesh in develop the problem was not there in 2.3.3. it is. Any idea wich files i can replace to solve the problem?

[2019-10-31 07:34] engcom-Delta commented on #25103
Hi @maheshWebkul721 thank you for your report. Issue was fixed by commit:

- [2957f7782e01c7050b7dcf8562c5a19033bc0972](https://github.com/magento/magento2/commit/2957f7782e01c7050b7dcf8562c5a19033bc0972)

[2019-10-31 07:34] #25103 closed, assigned to engcom-Delta

[2019-10-31 07:37] magento-engcom-team commented on #25389
@itsPranith Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2019-10-31 07:42] itsPranith commented on #25389
@nambsscommerce  Please update the issue as per guidelines.

https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-10-31 07:43] torhoehn opened #25392 "Product Additional Options Tooltip not fully visible"
### Preconditions (*)

1. Magento 2.3.3
2. Product with additionalOptions populated

### Steps to reproduce (*)

1. Create a product that includes an additionalOption value that is over 55 characters
2. Place order for product
3. View shipment for order in customer dashboard

### Expected result (*)

1. <img width="705" alt="Screenshot 2019-10-31 at 08 39 21" src="https://user-images.githubusercon

[2019-10-31 07:46] magento-engcom-team commented on #25392
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22612` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-31 07:52] haiwera-silk-cd commented on #13961
The issue still exists, is there any PR or patch for it? a whole year has elapsed

[2019-10-31 07:57] gaiterjones commented on #25369
I applied @pierzakp changes to Magento\Elasticsearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplier::Apply and the problem still exists.

[2019-10-31 08:22] engcom-Delta commented on #25124
@juharintanen thank you for your report. This this known issue and PR for it is already created.
@hostep I mark this issue as duplicate and close it.  You could reopen it if PR won't be merged or issue will appears in the future

Duplicate of [#11615](https://github.com/magento/magento2/issues/11615)

[2019-10-31 08:22] #25124 closed, assigned to engcom-Delta

[2019-10-31 08:30] stylidev commented on #15201
Hi Magento2 Support team,

Do we have a patch for this available, we are on 2.3.1 and the issue still persists as you can see in the screenshots:

<img width="1318" alt="Screen Shot 2019-10-31 at 12 23 57 PM" src="https://user-images.githubusercontent.com/55081667/67930849-1b3dfb80-fbda-11e9-924d-3b9e9002ed21.png">
<img width="1275" alt="Screen Shot 2019-10-31 at 12 24 21 PM" src="https://user-ima

[2019-10-31 08:58] sudheers-kensium commented on #25389
@nambsscommerce I am not able to reproduced on Magento 2.3-development instance. If we logout the customer then cart will clear automatically.

[2019-10-31 08:58] magento-engcom-team commented on #24332
Hi @krisdante. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-31 08:59] magento-engcom-team commented on #24332
Hi @krisdante, here is your [Magento instance](https://i-24332-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24332-2-3-develop.instances.magento-community.engineering/admin](https://i-24332-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-31 09:14] Jesper-nordico opened #25394 "General country allow bug"
When you setup what countries is allowed the dropdown in admin customer edit address will not work as expected. If I just use 1 country none will show up if you chose more then it will just take countries from the top.

[2019-10-31 09:22] CronoxAU opened #25395 "Checkbox Customizable Options saved to database incorrectly when editing orders"
I apoligise if I get this wrong, I have not submitted an issue here before.

### Preconditions (*)

1. We have verified this behavior in Magento 2.3.3 and 2.3.2
2. A product with at least one Customizable Option of the checkbox type. it does not matter if it is set to required or not.

### Steps to reproduce (*)

1. Create a new order via the admin interface with the product in question and at lea

[2019-10-31 09:35] engcom-Delta commented on #22819
Hi @Naberdz thank you for your report. Unfortunately,  I am not able to reproduce issue by steps you described on clean 2.3-develop
![22819issue](https://user-images.githubusercontent.com/51681379/67935424-71a73c00-fbd2-11e9-90d8-a88f65205428.gif)

If you'd like to update the issue, please reopen it.

[2019-10-31 09:53] magento-engcom-team commented on #25390
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22614` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-31 10:20] gaiterjones commented on #25369
@pierzakp if I log $query in \Magento\Eav\Model\Entity\Collection\AbstractCollection::_loadEntities there are many queries per search page reload to know which one you want. If I var_dump $this-`>searchResult->getItems() from \Magento\Elasticsearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplier::apply on the second page of search results (../catalogsearch/result/index/?p=2&q=blue) I s

[2019-10-31 10:23] magento-engcom-team commented on #25343
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22615` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-31 10:26] pierzakp commented on #25369
@gaiterjones you are testing it in your local environment? Are you using xdebug? If yes please put a breakpoint in line 1119 in method `\Magento\Eav\Model\Entity\Collection\AbstractCollection::_loadEntities` or some logger, please check value of `$this->_pageSize`. Please check also that before 1119 line is executed if
you check `$this->getSelect()->__toString()` there is no limit/offset in the qu

[2019-10-31 10:27] magento-engcom-team commented on #25378
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22616` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-31 10:28] xylodev opened #25399 "Unable to place a guest order with PayPal Express when Enable Automatic Assignment to Customer Group is enabled"
### Preconditions (*)

1. Magento 2.4-develop
2. PayPal Express payment method is enabled and configured
3. Option "Enable Automatic Assignment to Customer Group" is set to "Yes" in the Customers > Customer configuration settings section

### Steps to reproduce (*)
1. Make sure you are logged off from your Magento customer account
2. Put anything to the cart
3. Go to the cart and click "Checkout w

[2019-10-31 10:29] xylodev commented on #25399
@magento give me 2.3-develop instance

[2019-10-31 10:29] magento-engcom-team commented on #25399
Hi @xylodev. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-31 10:29] engcom-Charlie commented on #25369
Hello @gaiterjones
We are able to reproduce this issue on the lates 2.3-develop branch by provided steps.
But i have to close this issue as a duplicate of #25378 , because PR for this bug are in progress now.

Thanks for your report!

[2019-10-31 10:29] #25369 closed, assigned to engcom-Charlie

[2019-10-31 10:29] pierzakp commented on #25378
There is already [PR](https://github.com/magento/magento2/pull/25379).

[2019-10-31 10:29] magento-engcom-team commented on #25399
Hi @xylodev, here is your [Magento instance](https://i-25399-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25399-2-3-develop.instances.magento-community.engineering/admin](https://i-25399-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-31 10:35] paul-gene commented on #17798
@RostislavS looks like Braintree nows supports partial settlements

https://developers.braintreepayments.com/reference/request/transaction/submit-for-partial-settlement/php

[2019-10-31 10:35] webkul-ratnesh opened #25400 "Order creation from admin won't allow product quantity in decimal."
# Preconditions (*)

### Steps to reproduce (*)

1. Allow any simple product " Qty Uses Decimals", so that customer can purchase items in decimal qty(s) also.
2. Go to Sales->Order and try to create order for that products.
3. Add product to quote.
4. Update qty from integer to any of the decimal value.

### Expected result (*)

1. Quantity should be updated to decimal value.

### Actual result (*

[2019-10-31 10:36] webkul-ratnesh commented on #25400
@magento give me 2.3-develop instance

[2019-10-31 10:36] magento-engcom-team commented on #25400
Hi @webkul-ratnesh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-31 10:37] magento-engcom-team commented on #25400
Hi @webkul-ratnesh, here is your [Magento instance](https://i-25400-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25400-2-3-develop.instances.magento-community.engineering/admin](https://i-25400-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-31 10:43] xylodev commented on #25399
I could reproduce the issue on vanilla Magento from 2.3-develop branch

<img width="1266" alt="paypal_error_on_magento_test_instance" src="https://user-images.githubusercontent.com/6035963/67940241-96e87a00-fbd3-11e9-84fd-b4929a631af0.png">

[2019-10-31 11:18] rojin-eglobeits commented on #18969
@jorgb90 We also faced this issue, Could you please check for `\Magento\Config\Model\Config\Structure` in your custom modules or extensions as a class dependency, if so then check for the usage of the class in any console command class.
In our case, one of our extension had a dependency on the above class and the dependent class directly injected into a command class. So while running `deploy:mode

[2019-10-31 11:23] webkul-ratnesh commented on #25400
Not reproduced in 2.3-develop

[2019-10-31 11:23] #25400 closed, assigned to webkul-ratnesh

[2019-10-31 11:32] vikalps4 opened #25401 "Website Label is not properly visible in Advance pricing pop-up."
Website Label is not properly visible in Advance pricing pop-up.

### Preconditions (*)
1. Magento 2.3.x
2. PHP 7.2

### Steps to reproduce (*)

1.Login to Admin panel.
2. Navigate to Catalog->Products
3. Create/Edit a product.
4. Click on Advance Pricing link and check the section marked in screenshot.

### Expected result (*)
![screenshot-192 168 0 98-2019 10 31-16_45_14](https://user-images.git

[2019-10-31 11:33] shikhamis11 commented on #25401
@magento give me 2.3-develop instance

[2019-10-31 11:34] magento-engcom-team commented on #25401
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-31 11:34] magento-engcom-team commented on #25401
Hi @shikhamis11, here is your [Magento instance](https://i-25401-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25401-2-3-develop.instances.magento-community.engineering/admin](https://i-25401-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-31 11:39] sudheers-kensium commented on #25389
@nambsscommerce I am closing this issue.

[2019-10-31 11:39] #25389 closed, assigned to nobody

[2019-10-31 11:39] shikhamis11 commented on #25401
hello @vikalps4
thank for reporting this issue . It seems this issue is already fixed .

[2019-10-31 11:39] #25401 closed, assigned to shikhamis11

[2019-10-31 11:41] shikhamis11 commented on #25394
hello @Jesper-nordico
Please correct issue report format , you can take help from below link
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-10-31 11:45] dmytro-ch commented on #23956
After clarification with Community Engineering Team, the issue was considered as incorrect usage of collection loading. The collection's `load` method is not responsible for returning items itself, thus it's not a good idea to affect collection items results in `afterLoad` plugin.
It should be possible to add an observer on *_after_load event or even plugin on the `getItems` method if you want to

[2019-10-31 11:45] #23956 closed, assigned to akaplya, mahesh-rajawat

[2019-10-31 11:55] webkul-ratnesh commented on #25399
Not able to replicate this issue, I think the issue you are facing is with the address saved in your paypal account.

[2019-10-31 12:01] AndyJAllen commented on #22960
@xnhinzkyx did you ever find the solution to this issue without impacting order creation in admin or affecting the ability to add configurable products with swatches to your cart? do you use a modified version of Serializer/Json.php?

[2019-10-31 12:15] xylodev commented on #25399
@webkul-ratnesh thanks for your insights, but I cannot agree that it's related to the Paypal account address. It's actually a huge issue for one of our shops, it's not possible to place a guest order with PayPal, I was also able to reproduce it on vanilla Magento 2.3-develop instance with different PayPal accounts.

Did you follow all the steps carefully? Especially, were you logged off from your

[2019-10-31 12:18] engcom-Charlie commented on #24951
Hello @jojotjebaby

I am closing this issue as not actual.
2.3.3 release branch was finally merged in 2.3-develop and `ConfigurableObject.php` is updated now.

Thanks for your report!

[2019-10-31 12:18] #24951 closed, assigned to engcom-Charlie

[2019-10-31 12:26] engcom-Delta commented on #22819
@Naberdz thanks for update.
Issue is reproducible on 2.3-develop if add `Accordion widget` to `Tabs widget`
![#20819issue_2](https://user-images.githubusercontent.com/51681379/67946512-344ea880-fbea-11e9-919a-70e3d35d1dd7.gif)

[2019-10-31 12:28] magento-engcom-team commented on #22819
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22619` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-31 12:43] magento-engcom-team commented on #25099
Hi @davygxyz, @vivekkumar-webkul.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-21893` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other task

[2019-10-31 12:43] #25099 closed, assigned to nobody

[2019-10-31 12:49] MrAmbro opened #25403 "Vertex: Magento 2.3.3. - Error on Store -> Sales -> Tax"
I have a problem with my magento 2.3.3. installation. When i try to access the Store -> Sales -> Tax I receive this error:

**Fatal error:** Uncaught TypeError: Argument 1 passed to Vertex\Tax\Model\FlexField\FlexFieldProcessableAttribute::setLabel() must be of the type string, null given, called in /home/shopmon0/public_html/vendor/vertex/module-tax/Model/FlexField/Extractor/EavAttributeExtractor

[2019-10-31 12:50] MrAmbro commented on #25403
I have a problem with my magento 2.3.3. installation. When i try to access the Store -> Sales -> Tax I receive thi error:

Uncaught TypeError: Argument 1 passed to Vertex\Tax\Model\FlexField\FlexFieldProcessableAttribute::setLabel() must be of the type string

[2019-10-31 13:20] Khushbu-Webkul-QA opened #25404 "For configurable product, select the colour swatches but the colour of the image not change accordingly"
### Preconditions (*)

1. Magento version: 2.3.3 with Sample Data
2. PHP Version: 7.2

### Steps to reproduce (*)

1. At category page and at product detail page go to configurable product
2. Select the color swatch

### Expected result (*)

The color of the product image changes depending on the selected color
![color2](https://user-images.githubusercontent.com/51681435/69714498-2a4b9700-110f-11e