[2021-08-10 09:41] leeroybrun opened #33736 "Found SalesRule condition is ignoring the attribute scope ("Children only"/"Parent only")"
### Preconditions (*)

1. Magento 2.4.2
2. In our case the problem occurred with Amasty Shipping Restrictions module, which is using SalesRules.
3. The problem will occurs with every module using the sales rules.

### Steps to reproduce (*)

1. Define a rule using the "Found" condition and an attribute scope ("Children only"/"Parent only").
<img width="615" alt="Capture d’écran 2021-08-10 à 11 2

[2021-08-10 10:02] engcom-November commented on #33721
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
We are able to save the values/configurations at website level. In Single Store Setup, all the values saved are getting displayed as expected.
Unable to find Configuration - Service Base URL fields in Magento 2.4-develop branch. Kindly recheck the issue on Magento 2.4-develop and provide 3rd party extension/module

[2021-08-10 10:24] leeroybrun commented on #33736
For anyone interested, here is a patch you can apply while waiting for the pull request to be merged :

[code]

[2021-08-10 11:52] bertterheide commented on #31461
I looked into this issue today, and I found out that the SalesRule module adds the mixin `Magento_SalesRule/js/action/select-payment-method-mixin` to `Magento_Checkout/js/action/select-payment-method`, and then calls the `Magento_Checkout/js/action/set-payment-information-extended` component using the wrong `Magento_SalesRule/js/model/payment/discount-messages` message container. This component is

[2021-08-10 12:01] kestraly commented on #32708
Argh, I was hoping for some resolve on this with ElasticSearch.

In the past I was able to sort by the sort_order of the attribute by using the following code

[code]

[2021-08-10 12:05] engcom-Delta commented on #33634
Hi @StuartLBG,
Verified on Magento 2.4.2 Frontend but could see the body tag with values. Please find the attached snapshots for reference.
![bodyTag_collapsed](https://user-images.githubusercontent.com/51681379/128863625-f3ba78e3-09f6-463a-968b-2478b256d91f.JPG)
![bodytag_expansed](https://user-images.githubusercontent.com/51681379/128863656-004f7790-fe45-4fce-922c-8fe402372d54.JPG)

[2021-08-10 12:16] rsalmon42 commented on #31994
Hi @saphaljha,
Could you share any progress on this issue ?
Thanks

[2021-08-10 12:19] kweij commented on #31461
@bertterheide seems spot on the cause of the misplacement of the checkout billing validation message.

[2021-08-10 12:20] engcom-November commented on #33734
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
Steps performed:
1. Generate Admin access token using POST request: /rest/default/V1/integration/admin/token
2. Send POST request to /rest/V1/products/base-prices using below payload:
{
  "prices": [
    {
      "price": 72.29,
      "store_id": 1,
      "sku": "frrrfrerrrrr"
    }
  ]
}
3. Send POST request to /re

[2021-08-10 12:24] webgility-amazonapi commented on #33734
Hello engcom-November,

Have you tried several times? As this issue is sometimes not updating price and sometimes it is updating. Please try several times and this issue will be reproduced.

Thanks
Webgility

[2021-08-10 12:26] Sharmilasrini95 commented on #6144
Hello, according to your description, I was able to reproduce this issue on Magento 2.4.0.

Logged in as a customer Add a product to the cart Logged out Change any data of the added product from the admin end Do a reindex and cache clean Again try to login as a customer login It keeps loading and gets to 504 page

Expected Outcome: Account dashboard with expected data should be accessed.

[2021-08-10 12:52] karyna-tsymbal-atwix commented on #33733
@magento I am working on this

[2021-08-10 12:53] Muhamann commented on #6144
Same problem should occure, if customer tries a normal login with any access of pages, which include cart-data. => keeps loading and ends in error page.

[2021-08-10 13:00] magento-engcom-team commented on #33042
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42635` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-10 13:00] sumjoekin commented on #33724
@magento give me 2.4-develop instance

[2021-08-10 13:06] engcom-Hotel commented on #33238
Hello @sanjay-github,

Please keep the events.xml file from outside of adminhtml folder. and then try again.

Thanks

[2021-08-10 13:37] onlinebizsoft commented on #25343
@gabrieldagama in this document
 https://docs.magento.com/user-guide/payment/braintree.html?_ga=2.106970375.409298059.1628601884-833781139.1615374538

It says "Beginning with Magento 2.4.0, the Braintree extension is included in the release" but you said it was removed from your repository?

[2021-08-10 13:42] engcom-November commented on #32645
@peter-rusin ,
This issue related to bundle extension is not part of this repository. Please contact the extension owner support on the [marketplace](https://marketplace.magento.com/extensions.html) page.
Thank you.

[2021-08-10 13:42] #32645 closed, assigned to engcom-November

[2021-08-10 13:44] engcom-November commented on #32776
@joemstar , This issue related to bundle extension is not part of this repository. Please contact the extension owner support on the [marketplace](https://marketplace.magento.com/extensions.html) page.
Thank you.

[2021-08-10 13:44] #32776 closed, assigned to engcom-November

[2021-08-10 13:47] marinalovatooo opened #33739 "Unable to generate invoices "/var/www/html/var/log/test.log" cannot be opened with mode "a""
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-10 13:56] engcom-Delta commented on #33665
Hi @reihaan,

Kindly confirm @hostep comments.

Thanks

[2021-08-10 13:59] leebellabarista commented on #33739
Pretty sure this will be a server permissions error and not a Magento bug.

[2021-08-10 14:04] marinalovatooo commented on #33739
Thank you for your reply! Do you know who should I contact to get it fixed?

[2021-08-10 14:14] ihor-sviziev commented on #25343
@onlinebizsoft, it is a mistake in the docs.
I created PR for fixing it https://github.com/magento/merchdocs/pull/1429

[2021-08-10 14:46] ericerway commented on #30835
@magento give me 2.4.2 instance with edition b2b

[2021-08-10 15:14] ericerway commented on #30835
@magento give me 2.4.0 instance with edition b2b

[2021-08-10 16:29] SilinMykola commented on #33518
It happens because Magento cuts 'pub' from request url as default_url. I can't change this behavior.

[2021-08-10 17:44] mrtuvn commented on #32118
2.4.3 released i don't see this patch available in code. Still available in 2.4-develop. Not sure how impact with the latest fix here https://github.com/magento/magento2/commit/68f6aa7e6d02c1edc09a76abf758a882f5741db2

[2021-08-10 18:05] tropilex commented on #23938
Why is this closed? The issue is still there.

[2021-08-10 18:15] LeoNun commented on #33310
Hello,
is this solved in magento 2.4.3 ?

Best regards,
Leonel Nunes

[2021-08-10 18:48] mrtuvn commented on #32118
After some search i found growing cache already reported and update fix last years
https://github.com/magento/magento2/pull/25488
But i'm not sure why problem still able to reproduce at 2.4

[2021-08-10 19:18] hostep commented on #33739
Try your hosting provider. Or the person that setup your Magento installation.

[2021-08-10 20:17] basvanpoppel opened #33741 "JS error in console on checkout when recaptcha for checkout/placing order is not enabled"
### Preconditions (*)

1. Magento 2.4.3
2. 'Stores > Configuration > Security > Google reCAPTCHA Storefront > Storefront > Enable for Checkout/Placing Order' set to 'No' (that's the default config)

### Steps to reproduce (*)

1. Add a product to cart
2. Go to checkout
3. Open element inspector, see the JS error

### Expected result (*)

1. No JS errors on checkout
2. Besides not wanting to run in

[2021-08-10 21:50] Morgy93 commented on #31461
This seems to be fixed with today released 2.4.3 if you check release notes:

https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-3.html#cart-and-checkout

[2021-08-10 23:42] engcom-Delta commented on #33687
Hi @thedigitalkern,

Please find the attached video for reference which customer creation is successful.
https://user-images.githubusercontent.com/51681379/128948639-aa9d0715-022d-4a9b-a52e-17691a929910.mp4

Kindly have a look into it.

Thanks

[2021-08-11 00:59] mrtuvn commented on #33741
Can you proceed checkout with this js error?

[2021-08-11 01:52] mrtuvn commented on #33741
Not actually blocker but turn out even you not enable settings but code base still show it by default

[2021-08-11 02:39] zhukant commented on #31814
Same issue for us and this fix worked for us as well, although we did not use any migration tool, either.

[2021-08-11 02:54] onlinebizsoft commented on #33741
bug reported too fast :)

[2021-08-11 03:26] magento-engcom-team commented on #33741
:white_check_mark: Confirmed by @mrtuvn
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43053` were created

**Issue Available**: @mrtuvn, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-11 03:28] mrtuvn commented on #33741
Hi @basvanpoppel  Is P3 priority correct for such case ?

[2021-08-11 03:59] mrtuvn commented on #33741
Component: Recaptcha

[2021-08-11 04:06] IbrahimS2 commented on #33685
@onlinebizsoft Have you configured FPC to utilise redis?

[2021-08-11 04:09] onlinebizsoft commented on #33685
@IbrahimS2 no, we end up with using single zone for the system now so all EC2 and elasticache instances are on same zone (cut down 50%-60% the bill)

[2021-08-11 04:11] IbrahimS2 commented on #33679
@engcom-November You are missing the point entirely here, the grand total should simply subtract the cancelled/refunded value, and if the product is refunded/cancelled it should not be visible in the invoices/shipping labels etc...

Long story short, grand total must be moved right at the very bottom of the order totals, as it is the final value.

[2021-08-11 04:15] eikoncode commented on #33721
Hi @magento-engcom-team The issue is when I have field  that has show in website option only
![image](https://user-images.githubusercontent.com/75497880/128968685-d9d43661-5ade-4b75-8784-b587fe63234c.png)

so lets say I save this field and it saves at websites level in core config data. Then I switch to single scope mode and then I came to configuration page again the values saves for this field w

[2021-08-11 04:18] IbrahimS2 commented on #33685
@onlinebizsoft Please share the Redis configuration section from your env.php.

[2021-08-11 04:19] mrtuvn commented on #32118
this cache tag 'FINAL_PRICE_LIST_CATEGORY_PAGE' come from pricebox block https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/Pricing/Render/FinalPriceBox.php#L186

[2021-08-11 04:44] andrewbess commented on #33294
PR has been merged to MFTF repo

[2021-08-11 04:44] #33294 closed, assigned to SilinMykola

[2021-08-11 05:02] bigbadbaz commented on #15273
Did you find a way of removing old categories during CSV import? I'm trying to do it with configurable products that have a lot of configurable options and a lot of categories, so I really don't want to remove old categories at the expense of losing the configurations, eg by creating a new product. Your help much appreciated.

[2021-08-11 06:30] engcom-November commented on #33606
@jokeputs, we are closing this issue as there has been no latest update on the same.
Thank you.

[2021-08-11 06:30] #33606 closed, assigned to engcom-November

[2021-08-11 06:36] engcom-November commented on #33592
@jorgb90, we are closing this issue as there has been no latest update on the same.
Thank you.

[2021-08-11 06:36] #33592 closed, assigned to engcom-November

[2021-08-11 06:41] basvanpoppel commented on #33741
Hi @mrtuvn I would give it P2: Checkout doesn't break (the recaptcha component isn't used, so the JS error doesn't actually hurt) it's not critical and no work-around is needed, which follows P3 description.

But this is awful for developers working on checkout: I have several custom ui components, layout processors and mixins on any checkout i work on. If there's an issue after upgrading, I will

[2021-08-11 07:02] onlinebizsoft commented on #33685
@IbrahimS2
............
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'production',
    'cache' => [
        'frontend' => [
            'default' => [
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => [
                    'server' => 'xxxxxxxxxxxxxxxxxxxxxxxxx',
                    'port' => '6379',
                    'persistent' => '',

[2021-08-11 07:04] basvanpoppel commented on #33741
I'm working on a PR for this.

[2021-08-11 07:36] bertterheide commented on #31461
I think I found the relevant commit: https://github.com/magento/magento2/commit/9cc436f1723c643e676ec73d9bd2c6f97424806e#diff-6945d6c5613728418ab6761e7105838484fb91fb5c60dd019b76f392d4f5ba6e. This seems to only fix an issue where this error was thrown on saving the payment information, where it is now thrown when placing the order. I cannot find a fix for the placement of the error message. This s

[2021-08-11 07:45] magento-engcom-team commented on #32381
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-08-11 07:45] magento-engcom-team commented on #32381
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43054` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-11 08:28] Morgy93 opened #33743 "ext-sodium requirement for 2.4.3 missing in system requirements and backwards incompatibility not mentioned in release notes"
[code]

But `ext-sodium` is not mentioned here: https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

![image](https://user-images.githubusercontent.com/7961978/128995496-726da9df-4d30-4d48-809e-76b8d6923899.png)

Also it is not mentioned on the release notes: https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-3.html

I have no clue if this backwards inco

[2021-08-11 08:29] anzin commented on #33562
@magento I am working on this

[2021-08-11 08:53] t-heuser opened #33744 "Adminhtml: After a validation error of a configurable product the variant table is not functional anymore"
### Preconditions (*)

1. Magento version 2.4.2
2. PHP 7.4

### Steps to reproduce (*)

1. Create new configurable product
2. add several child products
3. force the validator to fail
 4. try to remove one child product

### Expected result (*)

1. the chosen child should be removed from the variation list
2. the variant table should be functional

### Actual result (*)

1. every child get's remov

[2021-08-11 08:53] oneserv-heuser commented on #33270
Created new issue: https://github.com/magento/magento2/issues/33744

[2021-08-11 08:54] oneserv-heuser commented on #33744
Error is reproducible on local instanfce, impossible to reproduce on remote instance as I have no code access and don't know how to force the validation to fail via adminhtml.

[2021-08-11 09:10] vincent2090311 opened #33745 "REST API error when enable Persistent Shopping Cart"
### Preconditions (*)

1. Magento 2.4.2 fresh installation with sample data
2.

### Steps to reproduce (*)

1. Enable Persistent Shopping Cart under Stores > Configuration > Customer > Persistent Shopping Cart > General Options > Enable Persistence
2. Reindex and clear cache
3. Get Customer Token via url /rest/V1/integration/customer/token
4. Try to get customer data via url /rest/V1/customers/me

[2021-08-11 09:46] engcom-November commented on #33729
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible in DB as well:
Steps performed:
Stores - Configuration - Customers - Customer Configuration - Show Company - Set to Optional and Save
Reindex and clear cache
Create Customer Account from front end and signin
Added different Shipping Address and Billing Address for the customer from fronend with Company name and save

[2021-08-11 11:13] m2-assistant[bot] opened #33747 "[Issue] [MFTF] Adding AdminCheckOrderStatusInGridActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#33727: [MFTF] Adding AdminCheckOrderStatusInGridActionGroup

---------
### Description (*)

New ActionGroup AdminCheckOrderStatusInGridActionGroup has been introduced  (existing tests have been updated as well)

[2021-08-11 11:14] magento-engcom-team commented on #33747
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43056` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-11 11:38] groomershop-mt opened #33748 "Session size of 276672 exceeded allowed session max size of 256000 - but in Magento 2.4.3 backend"
**UPDATE**: as per discussion, we agreed that is ok to have a low limit for session size to prevent DDOS attacks, value can be changed via the admin panel if needed.
Another problem that should be addressed is - suppressed problem, without any error notification to the user and solution for the issue should be provided.

After upgrading to Magento 2.4.3, when we log into backend (admin panel), eve

[2021-08-11 11:49] alitopaloglu opened #33749 "Error on dashboard login: Invalid security or form key. Please refresh the page."
### Preconditions (*)

1. v2.4.3

### Steps to reproduce (*)

1. Install magento v2.4.3 by using composer
2. Go to /admin_XXXXXX which is a unique admin url that generated by magento
3. Login with your admin credentials

### Expected result (*)

1. If login successful, it should show dashboard without any error

### Actual result (*)

1. Dashboard loads with an error -> Invalid security or form ke

[2021-08-11 12:06] jorgb90 commented on #33748
Confirmed! Exact same issue here after upgrade to Magento 2.4.3!

[2021-08-11 12:15] groomershop-mt commented on #33748
From https://devdocs.magento.com/guides/v2.4/release-notes/backward-incompatible-changes/reference.html
We have found that a field/setting  e.g. system/security/max_session_size_admin has been added.
It's default value is 256000. After increasing it, the problem is solved.

Now the sesssion record is being saved - it has size over 256000. We have check this record and there is a lot of date with p

[2021-08-11 12:26] Muhamann commented on #6144
Hello @engcom-Oscar
could you please re-open this really important issue?
Please look at @Sharmilasrini95 Posts, she also could reproduce it.

Thank you

[2021-08-11 12:34] jorgb90 commented on #33748
Yes thats it. Why not set it as "0" to disable it? What can go wrong?

[2021-08-11 12:47] groomershop-mt commented on #33749
No, this is not the same issue. After exceeding session size (solving issue #33748), the warning is still being diplayed:

Invalid security or form key. Please refresh the page.

[2021-08-11 12:49] andreif23 commented on #33744
@magento give me 2.4.2-p1 instance

[2021-08-11 13:04] achatpc commented on #33748
Hello,

Same issue,

I have edit:

/vendor/magento/module-security/etc/config.xml

....
        <system>
            <security>
                <max_session_size_admin>512000</max_session_size_admin>
                <max_session_size_storefront>512000</max_session_size_storefront>
            </security>
        </system>
....

[2021-08-11 13:06] achatpc commented on #33749
@magento give me 2.4-develop instance

[2021-08-11 13:12] jorgb90 commented on #33749
Mm for me it went away after exceeding the session size (I disabled it with "0").

[2021-08-11 13:15] nuzil commented on #33739
Thats not really a Magento issue, please contact your hosting provider for that.

[2021-08-11 13:15] #33739 closed, assigned to nobody

[2021-08-11 13:16] nuzil commented on #33722
Hi @sridharpatil55
Can you please provide any steps how to reproduce this issue?

[2021-08-11 13:23] nuzil commented on #33720
Hi  @UppalaBasava

1) Please never paste your Login/Password into Issue description, somebody can get a full access to your system.

2) I assume its Upper/Lower case issue:
This this call:

curl --location --request POST 'https://www.dme-medical.com/rest/V1/integration/admin/token' \
--header 'Content-Type: application/json' \
--data-raw '{"username":"USERNAME", "password":"PASSWORD"}'

[2021-08-11 13:23] #33720 closed, assigned to nobody

[2021-08-11 13:31] devchris79 commented on #33749
We also see this, the error appears on first entry to the admin panel but after a page refresh or navigating away from the initial screen it disappears.

[2021-08-11 13:38] Hexmage commented on #33176
Did some more research and it appears that this does happen in 2.4. The issue is that Elasticsearch always returns the aggregations sorted by count desc followed by option_value_id asc. Apparently the develop instance does not do this, I'm guessing either it's not using elastic or it's elastic instance is configured differently.

So the issue has changed to not being able to determine what the ela

[2021-08-11 13:58] sergiy-v commented on #32602
@magento I am working on this

[2021-08-11 14:15] in-session opened #33751 "Magento Update 2.4.2 > 2.4.3 - User Deprecated Functionality: Class Laminas\Hydrator\Reflection is deprecated, please use Laminas\Hydrator\ReflectionHydrator instead in magento/vendor/laminas/laminas-hydrator/src/Reflection.php on line 17"
After update from 2.4.2 to Magento 2.4.3 we get an error when running setup:di:compile

![image](https://user-images.githubusercontent.com/16542619/129044935-2a8ae808-7bf5-4ea2-be49-9c3b0b21300e.png)

[code]

[2021-08-11 14:17] in-session commented on #33748
Had this morning also the same problem, the value should be set in any case high or to 0

[2021-08-11 14:18] #33308 closed, assigned to anzin

[2021-08-11 14:42] b-juszczyk opened #33752 "404 erroe after typing wrong password and replace to correct one"
### Preconditions (*)

1. Magento: 2.4.2-p1
2. PHP: 7.4

### Steps to reproduce (*)

1. Type wrong password for user
2. Try to login
3. Change password to correct
4. Try to login

### Expected result (*)

1. Customer is logged in and redirect to "My Account"

### Actual result (*)

1. Customer is logged in and 404 page is showed with path /customer/account/loginPost

[2021-08-11 14:42] darvin55 commented on #33752
@magento give me 2.4-develop instance

[2021-08-11 14:49] #33752 closed, assigned to nobody

[2021-08-11 15:00] achatpc commented on #33748
You can also change this in your /app/etc/env.php for avoid lock issues:

'disable_locking' => '0', to 'disable_locking' => '1' in your redis session settings section

[2021-08-11 15:08] moranotcsos commented on #33729
@engcom-November

I realized my mistake. For Step 7, it should be:

Login as Customer - Add a product to Cart - Checkout **- Go to Payment Step - Go Back to Shipping Step -** Add different Shipping Address and placed Order.

I was able to reproduce this on 2.4.3. Let me know if you are able to reproduce this now.

[2021-08-11 15:34] intheshallow opened #33754 "Magento 2.4.2 to 2.4.3 Upgrade Issue"
### Preconditions (*)

1. 2.4.2 upgrading to 2.4.3

### Steps to reproduce (*)

1. Start on 2.4.2. Run composer require magento/product-community-edition 2.4.3 --no-update
2. Run composer update
3. Run php bin/magento setup:upgrade && php bin/magento setup:di:compile

### Expected result (*)

1. Successfully upgrading to 2.4.3

### Actual result (*)

1. Getting this error instead: Unable to apply

[2021-08-11 15:51] #33584 closed, assigned to anzin

[2021-08-11 15:52] andrewbess commented on #33583
Pull request has been merged

[2021-08-11 15:52] #33583 closed, assigned to bohdan-harniuk

[2021-08-11 15:56] magedevel opened #33755 "Magento 2.4.2 to 2.4.3 Upgrade Issue use php 8 function"
### Preconditions (*)

1. Try to upgrade from version 2.4.2-p1 to 2.4.3
2. MSI modules are disabled using a replace on composer.

### Steps to reproduce (*)
1. execute: composer require magento/product-community-edition=2.4.3 --no-update
3. execute : composer update

### Expected result (*)

1. Magento was updated to version 2.4.3

### Actual result (*)

1. Has got an error :
`Fatal error: Uncaugh

[2021-08-11 15:59] gwharton opened #33756 "Backorder (qty backordered recorded in database for order) is broken on multi source/stock systems."
### Preconditions (*)

1.Magento 2.4.3

### Steps to reproduce (*)

1. Create Test Stock
2. Create Test Source
3. Assign Default Website to Test Stock and assign Test Source
4. Create Test Product, allow backorders with notify, In Stock. Default Source Qty = 10, Test Source Qty = 0
5. Frontend, Add to cart test Product. Observe the backorder warning on checkout indicating product is coming from te

[2021-08-11 16:29] tufahu commented on #32608
Do you mind if i send a pr for this ? I'm working on a project where it cause problem.

[2021-08-11 16:54] EmperorKonstantin opened #33757 "Upgrade to 2.4.3 - Unable to apply data patch Magento\Paypal\Setup\Patch\Data\UpdateBmltoPayLater"
### Preconditions (*)

1. Magento 2.4.2
2. PHP 7.4

### Steps to reproduce (*)

1. Upgrade 2.4.2 to 2.4.3
2. composer update
3. bin/magento setup:upgrade

### Expected result (*)

1. bin/magento setup:upgrade
2. Finishes with:
3. Nothing to import.

### Actual result (*)

1. bin/magento setup:upgrade
2. Unable to apply data patch Magento\Paypal\Setup\Patch\Data\UpdateBmltoPayLater for module Magen

[2021-08-11 17:11] xpoback commented on #21005
This is indeed an issue. I've been working with Magento since 8 years and must unfortunately admit that it's hardly getting better.

[2021-08-11 17:27] #21637 closed, assigned to nobody

[2021-08-11 18:18] hostep commented on #33757
Duplicate of https://github.com/magento/magento2/issues/33678, hopefully the advise in there can help you further.

[2021-08-11 18:19] hostep commented on #33754
Duplicate of https://github.com/magento/magento2/issues/33678, hopefully the advise in there can help you further.

[2021-08-11 18:20] hostep commented on #33755
Is a duplicate of https://github.com/magento/magento2/issues/33680, hopefully [this comment](https://github.com/magento/magento2/issues/33680#issuecomment-894580187) can help you further

[2021-08-11 18:26] hostep commented on #33751
@in-session: a vanilla Magento OS 2.4.3 project contains the following Laminas modules:
[code]

Notice that the Hydrator component is not part of this. So I'd assume this one got installed by some customisation done to the shop, you should be able to figure out how it gets installed by running:
[code]

After that hopefully you can try to figure out how to solve this by looking at the customisation

[2021-08-11 18:33] hostep commented on #33743
The devdocs team is working on improving a script to automatically determine the php extensions a Magento shop requires: https://github.com/magento/devdocs/issues/7960

Once they are done with this, you should find the `sodium` extension as part of the required extensions on devdocs.

It strongly recommended to use the sodium extension anyway to profit from improved password hashing security which

[2021-08-11 19:10] EmperorKonstantin commented on #33678
@ericclaeren Can you let me know how you diagnosed this bug?

[2021-08-11 19:21] EmperorKonstantin commented on #33757
@hostep Worked flawlessly, thanks.

[2021-08-11 19:21] #33757 closed, assigned to nobody

[2021-08-11 19:23] chequille opened #33758 "What the hell is happening here?"
I've been waiting for this update for over 6 months now so that I can finally get started on my VServer with Magento 2.4. But the Update to 2.4.3 does not fix my main problem. As before, a product is only shown as not in stock in the frontend when all orders have been processed and stock quantity is 0. So it is still not the salable quantity that is used but the quantity in the warehouse. Accordin

[2021-08-11 19:28] shane-clickingmad commented on #33310
Doesn't appear so no

[2021-08-11 19:33] kestraly commented on #32708
Can we reopen this?

It would be good if the sortby toolbar with ElasticSearch would sort by either the sort_order / position you've dragged the attribute to, or at the very least the attribute value name.

At the moment it sorts by attribute value id - this relies entirely on you adding the attribute to the catalog in one go and not adding additional attributes later on, which will go to the end

[2021-08-11 19:43] chequille commented on #33741
New version new bug. I would sugest to set it P1 or better P -100 !?!?!?!?!
Facing the same probllem and it is ugly to have errors even if they do not break the checkout process.

My opinion
Chequille

[2021-08-11 19:57] hostep commented on #30094
It looks like core Magento devs have finally seen the light even though the community had a PR open for this for almost a year now. So they just publised a fix in: MC-42332, [part 1](https://github.com/magento/magento2/commit/d648bdc238ba6b59890694251655f725ad1b5d88), [part 2](https://github.com/magento/magento2/commit/3ae814c5ba423124ba44ed8be35787bc266a9752)

I'm guessing it will be released in

[2021-08-11 20:11] oriolauge commented on #33749
Hi, I see the same error after upgrade my magento 2.4.2-p1 to 2.4.3. The error happens after admin login as @devchris79 said

[2021-08-11 21:08] chequille commented on #31117
Unfortunately, this issue is not solved for configurable products.
The options are still not crossed if salable quantity is 0.
This is very very very bad.
Sorry guys, what is going on here. Are you not able to fix this? It is a mandatory feature and prevents my shop to go online with magento 2.4.
THe strange thing is, that with 2.3 it is working as it should.
Come on and solve this and let us know

[2021-08-11 21:23] EliminatorRC-Christian opened #33760 "Magento 2.4.2 composer upgrade broke after 2.4.3 released"
I am currently in the process of upgrading Magento 2.2.6 to 2.4.2. I had a stable upgrade working prior to 2.4.3 being released. After Tuesday, August 10 when 2.4.3 was released, when I composer upgrade our installation with:

`composer require magento/product-community-edition 2.4.2 --no-update`
`composer require --dev phpunit/phpunit:^9 friendsofphp/php-cs-fixer:~2.16.0 lusitanian/oauth:~0.8.10

[2021-08-11 23:25] fooman opened #33761 "Integration tests are broken after composer update (phpunit 9.5.0)"
### Preconditions (*)

1. Magento 2.4.3 (but I suspect earlier versions as well due to the phpunit constraint ^9.0

### Steps to reproduce (*)
1. install Magento 2.4.3
2. run composer update (happens during a Magento upgrade)

### Expected result (*)

1. integration tests run

### Actual result (*)

1. Integration tests fail with error like `Call to undefined method Magento\Checkout\Api\GuestShipp

[2021-08-11 23:36] fooman commented on #33761
`composer require phpunit/phpunit:'^9.0 <9.5.0'`

[2021-08-12 00:49] mrtuvn commented on #33751
interesting that you used composer update -W mean updated with all dependencies too. Maybe require with laminas hydrator. Maybe broken from 3rd-package

[2021-08-12 04:16] fascinosum commented on #33678
@magento export issue to Jira project AC as Bug

[2021-08-12 04:27] fascinosum commented on #33678
hi @arjunadobe,
thank you for reporting this issue.
The internal team will work to fix this, internal Jira ticket linked to the GitHub issue, and the status will be updated accordingly

@ericclaeren thank you for the workaround

[2021-08-12 04:53] eduard13 commented on #33730
The `jQuery.metadata` is currently [deprecated](https://blog.jquery.com/2011/04/16/official-plugins-a-change-in-the-roadmap/), so we can't update nor remove it, since it's an important library used by the current `jquery.validate` version:
https://github.com/magento/magento2/blob/d1ba944d00a2c1cbe4ba3ca9157850273cce7b0c/lib/web/jquery/jquery.validate.js#L17
The purpose of this library, is to give

[2021-08-12 05:05] krishprakash commented on #33756
@magento give me 2.4-develop instance

[2021-08-12 05:29] magento-engcom-team commented on #33756
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43064` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-12 06:28] bohdan-harniuk commented on #33707
This issue should stay open till all related PRs merged.

[2021-08-12 06:34] webgility-amazonapi commented on #33734
Hello engcom-November,

What I have found is that you have tested this with latest version and the issue does not exists in "Magento 2.4". Please test and reproduce the issue in version "CE 2.2.2 - 2.2.3".

Thanks
Webgility.

[2021-08-12 06:53] YiffyToys commented on #33751
laminas/laminas-hydrator replaces Zend/hydrator but (with the latest version) the class Reflection  is not/no longer 100% compatible with the Reflection class of Zend/hydrator that it replaces-
Some 3rd party modules depend on  Zend/hydrator

[2021-08-12 07:15] engcom-Hotel commented on #32780
Hello @antoinekociuba,

We are able to reproduce the issue in the 2.4-develop branch with the following steps, hence we are confirming the issue:

1. Set up a fresh installation of Magento 2.4-develop.
2. Create a custom log file in the instance under var/log/ eg: var/log/clean_cahe.log
3. Add a logger in Magento\PageCache\Observer\FlushCacheByTags class to log the cache tags getting cleaned onto

[2021-08-12 07:15] magento-engcom-team commented on #32780
@engcom-Hotel Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-08-12 07:18] jorgb90 commented on #33758
Just disable MSI modules and its working fine? Dont like MSI at all.. bad replacement at the moment.

[2021-08-12 07:19] magento-engcom-team commented on #32780
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43065` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-12 07:27] mrtuvn commented on #32780
@Vinai seem this is private fix . Can we able deliver to repo

[2021-08-12 07:30] Thundar commented on #33749
I had the same error on upgrading from 2.4.2-p1 to 2.4.3.
Solved with the following queries, as default values are too strict and I couldn't modify them from admin panel, before setting them higher.
`insert into core_config_data set scope="default", scope_id=0, path="system/security/max_session_size_admin", value=NULL;
insert into core_config_data set scope="default", scope_id=0, path="system/secu

[2021-08-12 07:31] karyna-tsymbal-atwix commented on #33673
@magento I am working on this

[2021-08-12 07:33] engcom-Hotel commented on #28406
Hello @lbajsarowicz,

We have tried to reproduce this issue in the 2.4-develop branch but are unable to do so. We have followed below steps:

1. Create 2 modules - Module A & Module B
2. Create Data Patches - CreateCmsPage & UpdateCmsPageTile in Module A
3. Create Data Patch - UpdateCmsPageContent in Module B.
4. Run php bin/magento s:up
5. Run php bin/magento s:s:d -f
6. Run php bin/magento c:c
7

[2021-08-12 07:36] magedevel commented on #33755
I can confirm that the work around works.

[2021-08-12 07:37] engcom-November commented on #33734
Hi @webgility-amazonapi,

Its recommended to verify the issues on Magento 2.4-develop branch only. Kindly upgrade your Magento version and recheck the issue. Closing this issue as "Price" is getting updated as expected in the API even after trying several times on Magento 2.4-develop branch.
Thank you.

[2021-08-12 07:37] #33734 closed, assigned to engcom-November

[2021-08-12 07:39] engcom-Hotel commented on #33575
Hello @Nuranto,

We have tried again to reproduce the issue on the 2.4-develop branch but were unable to do so. And as per your comment, this issue is not reproducible in the 2.4-develop branch. So we are closing this issue for now.

If you still facing the issue either you can create a new ticket or reopen this.

Thanks

[2021-08-12 07:39] #33575 closed, assigned to engcom-Hotel

[2021-08-12 07:44] ihor-sviziev commented on #30094
Hi @pjayramkumar,
As @hostep mentioned, looks like the issue was fixed in the 2.4-develop branch with the following commits:
- https://github.com/magento/magento2/commit/d648bdc238ba6b59890694251655f725ad1b5d88
- https://github.com/magento/magento2/commit/3ae814c5ba423124ba44ed8be35787bc266a9752

Could you confirm that?

[2021-08-12 07:46] engcom-Hotel commented on #33705
Hello @vseager,

We have tried to reproduce the issue in the 2.4-develop branch but are unable to do so. We have tried the steps mentioned in the attached document. Please have a look and let us know if we missed anything.

[ISSUE - 33705 -Date attribute import timezone bug.docx](https://github.com/magento/magento2/files/6973640/ISSUE.-.33705.-Date.attribute.import.timezone.bug.docx)

Thanks

[2021-08-12 07:54] ashumisra commented on #31146
Hi,
We are facing same issue, can you please share release version for internal ticket: MC-42607
Thanks

[2021-08-12 08:01] ericclaeren commented on #33678
I have upgraded a Adobe Commerce (F.K.A Magento EE) from version 2.3.5-p1 to 2.4.3. And got stuck during setup upgrade.

[2021-08-12 08:05] onlinebizsoft commented on #33756
@krishprakash label as Reported on 2.4.3 please

[2021-08-12 08:14] karyna-tsymbal-atwix commented on #33733
1. The library is used in Magento (mostly adminhtml)
app/code/Magento/Backend/view/adminhtml/web/js/media-uploader.js
app/code/Magento/Catalog/view/adminhtml/web/catalog/base-image-uploader.js
app/code/Magento/ConfigurableProduct/view/adminhtml/web/js/variations/steps/bulk.js
app/code/Magento/Downloadable/view/adminhtml/templates/product/edit/downloadable/links.phtml
app/code/Magento/Downloadable/

[2021-08-12 08:22] memen45 commented on #25987
Is this fixed now? And if so, from which version onwards is it safe to remove the flock from cron without flooding the memory?

[2021-08-12 08:22] ihor-sviziev commented on #33755
Hi @magedevel,
I'm closing this issue as duplicate of https://github.com/magento/magento2/issues/33680

[2021-08-12 08:22] #33755 closed, assigned to ihor-sviziev

[2021-08-12 08:34] eduard13 commented on #33733
Closing as we are already using the latest library's version.

[2021-08-12 08:34] #33733 closed, assigned to karyna-t

[2021-08-12 08:35] samy-m-dev opened #33763 "Price indexer slow for configurable BaseStockStatusSelectProcessor"
### Preconditions (*)

1. Magento 2.4.2
2. Catalog with lot of configurable products

### Steps to reproduce (*)

1. Reindex catalog_product_price

### Expected result (*)

1. Fast

### Actual result (*)

1. Slow (in my case it never ends)

While monitoring the queries while reindexing, I notice these queries took long time:

`SELECT
	le.entity_id,
	i.customer_group_id,
	i.website_id,
	MIN( final_

[2021-08-12 08:38] MikeD-J opened #33764 "PHP Error instead of 404/getting redirected when accessing any directory in <root>/catalog/product/compare/"
### Preconditions (*)
1. Magento 2.4.2-p2 (but presumably more versions).
2. Also reproducible on Magento 2.4-develop having B2B and EE Modules
3. Issue also observed in 2.4.3

### Steps to reproduce (*)
1. Redirect to any directory within <root>/catalog/product/compare/ (e.g. https://www.quooker.nl/catalog/product/compare/)

### Expected result (*)
1. Getting 404 error page result (or getting red

[2021-08-12 08:41] syba786 opened #33765 "the shipping information was unable to be saved. verify the input data and try again"
Preconditions (*)
Magento 2.3.4

Steps to reproduce (*)
Create a customer account
Go to my account, and add a shipping address

Add any product and go to the checkout

Select a shipping method and click next button

Expected result (*)
Payment page should show up

[2021-08-12 08:42] davidandersson1 commented on #33760
After finished, composer update of 2.4.3, I am facing same error "Area code is not set" with command "setup:upgrade".

Also klarna checkout installation (through command: composer require klarna/m2-checkout) not working with 2.4.3 and its throw Conclusion: don't install klarna/m2-checkout 9.2.4|install ramsey/uuid 3.9.4

Please help if any body faced same issue and got any solution for same!

[2021-08-12 08:42] Rohaty opened #33766 "Payment model name is not provided in config!"
### Preconditions (*)

1.Magento Community edition version 2.4.3
2.Install Amasty reward_points extension (or other extension, where call function: getMethodInstance($code))

### Steps to reproduce (*)

1.Backend admin:  SALES-Orders
2.

### Expected result (*)

1.When in admin panel: SALES-Orders then shows Orders
2.
![image](https://user-images.githubusercontent.com/29813291/129164948-8203664b-9

[2021-08-12 08:45] andrewbess commented on #33761
This issue is closed as duplicate magento/magento2#33596

[2021-08-12 08:45] #33761 closed, assigned to nobody

[2021-08-12 08:49] vseager commented on #33705
@engcom-Hotel In your screenshot the timezone is set to Central Standard Time. Can you test again with this set to GMT (London).

[2021-08-12 09:14] in-session commented on #33751
Thanks for the info, have found the problem and indeed comes from a module: dhl/shipping-m2

![Ashampoo_Snap_Donnerstag, 12  August 2021_07h58m13s_001_](https://user-images.githubusercontent.com/16542619/129171277-3d864a78-2208-454d-8053-532f65b48095.png)
![Ashampoo_Snap_Donnerstag, 12  August 2021_10h57m52s_002_](https://user-images.githubusercontent.com/16542619/129171286-f721b064-de46-45ce-b683

[2021-08-12 09:14] #33751 closed, assigned to nobody

[2021-08-12 09:20] gwharton commented on #33756
Original issue reported last year
Fixes magento/inventory#3180

Also fixes this issue
Fixes magento/inventory#3181

Old Pull Requests that fix all the above issues, that I got bored of waiting to get traction. Probably because they require simultaneous updates to both core and inventory.
https://github.com/magento/magento2/pull/29881
https://github.com/magento/inventory/pull/3182

Someone else wil

[2021-08-12 09:32] YiffyToys commented on #33751
For the record (and anyone arriving here due to the error message):
Same issue exists in GLS shipping. I already created a ticket there and linked the  dhl/shipping-m2 issue.

[2021-08-12 09:40] in-session commented on #33751
@YiffyToys well noted thanks

As I have seen is already a patch proposal published, I just tested it and runs now:

https://github.com/netresearch/dhl-module-carrier-paket/issues/3

[2021-08-12 09:45] hostep commented on #25987
@memen45: `flock` was our workaround before Magento 2.2.5. Since https://github.com/magento/magento2/pull/12497 got included in Magento 2.2.5, `flock` was no longer needed in my experience.
I would recommend to [change the lock provider](https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-subcommands-lock.html#instgde-cli-lockconfig) that Magento uses by default (`db`) to `

[2021-08-12 09:49] hostep commented on #33760
@davidandersson1: you should report that problem to Klarna, Magento increased the dependency on `ramsey/uuid` from v3 to v4 and probably that Klarna module only supports v3 at the moment.

[2021-08-12 09:56] davidandersson1 commented on #33760
@hostep thanks for you quick reponse, we already reported to klarna for same. is there any update regarding one more issue related "Area code is not set" with command "setup:upgrade"?

[2021-08-12 10:03] engcom-November opened #33767 "Product price updated using Manage Base Price API is not updating in Store front Catalog Search Results page and Admin panel"
### Preconditions (*)
1. Magento 2.4-develop

### Steps to reproduce (*)

1. Generate Admin access token using POST request:  storeurl/rest/default/V1/integration/admin/token
2. Send POST API request for sync product: storeurl/rest/V1/products/base-prices. (Update Price using below Payload):
**Payload:**
[code]

3. Reindex and clear cache
4. Navigate to Front-end -> Verify Price in Search Results

[2021-08-12 10:05] hostep commented on #33760
There is a PR that fixes one such issue: https://github.com/magento/magento2/pull/33726, but I'm not sure if that is the same as your issue.
Would be great if you could try to debug somehow and figure out what sets the area in your specific case (probably in some constructor of some class that is called by a magento command somewhere)

[2021-08-12 10:22] sgeleon opened #33768 "Updating Magento from version. 2.4.2-p1 to 2.4.3"
I updated Magento from the version. 2.4.2-p1 to 2.4.3

### Preconditions
1) Update Magento to version 2.4.3
2) Generate DI configuration by command "bin/magento setup:di:compile"

### Expected result
Get a successful message.

### Actual result
Fatal error: Interface 'Magento\QuoteGraphQl\Model\Cart\MergeCarts\CartQuantityValidatorInterface' not found in /var/www/html/vendor/magento/module-invento

[2021-08-12 10:58] timpea commented on #33748
Same problem here, when trying to create an order in the admin, could add the 1st product fine, adding any additional products to the order would cause it to hang.  @achatpc fix above worked

[2021-08-12 11:16] TheRealHunzik commented on #33749
@magento give me 2.4-develop instance

[2021-08-12 11:29] magento-engcom-team commented on #33767
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43069` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-12 11:30] magento-engcom-team commented on #33767
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43069` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-12 11:46] mrtuvn commented on #33768
Have you clear code generated folders

[2021-08-12 11:47] mrtuvn commented on #33768
i would try rm -rf generated/code/*

[2021-08-12 11:50] burgh8wp opened #33770 "Database Error Updating Magento to version 2.4.3 on setup:upgrade"
After updating Magento from the version. 2.4.2-p1 to 2.4.3 during setup:upgrade command we see below error:

SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '106852' for key 'PRIMARY', query was: ALTER TABLE `catalog_url_rewrite_product_category` ADD CONSTRAINT  PRIMARY KEY (`url_rewrite_id`)

The problem is this table holds around 20,000 records, and looks to be hundreds, po

[2021-08-12 11:54] engcom-November commented on #33765
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
Steps performed:
1. Created a customer account from fron-end
2. Go to my account, and added a shipping address
3. Add any product and go to the checkout
4. Select a shipping method and click next button - No issue: Payment methods displayed as expected. Also able to place Order
Note: This issue is not reproduced wh

[2021-08-12 11:57] burgh8wp commented on #33538
@engcom-November

You haven't tested on a site with large volume of media files, hence inability to replicate the issue. It is definitely present in version 2.4.2 and 2.4.2-p1 we have yet to test on 2.4.3 but have created the below workaround:

/app/code/ImageFix/PatchMedia/Block/Adminhtml/Wysiwyg/Images/tree.php

Contents of above file as below:

[code]

[2021-08-12 12:16] vertic4l opened #33772 "Incomplete translations in Backend and Frontend - Magento 2.4.3"
### Preconditions (*)
1. Upgraded from Magento 2.4.1 to 2.4.3

### Steps to reproduce (*)
1. set admin user locale to german

### Expected result (*)

1. Backend is fully translated as it was with Magento 2.4.1

### Actual result (*)

1. Backend is partially translated

---

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users without workaround._
- [ ] Severity: **S1*

[2021-08-12 12:35] anzin commented on #33518
@magento I am working on this

[2021-08-12 12:53] m2-assistant[bot] opened #33773 "[Issue] [MFTF] Add StorefrontSelectFirstShippingMethodActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30526: [MFTF] Add StorefrontSelectFirstShippingMethodActionGroup

---------
This PR add `StorefrontSelectFirstShippingMethodActionGroup`

[2021-08-12 12:53] magento-engcom-team commented on #33773
@eduard13 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-08-12 12:54] magento-engcom-team commented on #33773
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43070` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-12 12:56] m2-assistant[bot] opened #33774 "[Issue] Replace repetitive actions with Action Groups in AdminUpdateTopCategoryUrlWithNoRedirectTest and AdminUpdateTopCategoryUrlWithRedirectTest"
This issue is automatically created based on existing pull request: magento/magento2#30562: Replace repetitive actions with Action Groups in AdminUpdateTopCategoryUrlWithNoRedirectTest and AdminUpdateTopCategoryUrlWithRedirectTest

---------

### Description (*)
The tests are refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

1.

[2021-08-12 13:09] m2-assistant[bot] opened #33775 "[Issue] Replace repetitive actions with AdminCreateConfigurableProductWithDisabledChildrenProductsTest"
This issue is automatically created based on existing pull request: magento/magento2#32112: Replace repetitive actions with AdminCreateConfigurableProductWithDisabledChildrenProductsTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in

[2021-08-12 13:09] magento-engcom-team commented on #33775
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43072` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-12 13:55] #33582 closed, assigned to anzin

[2021-08-12 14:02] mrtuvn commented on #33766
in my opinions I think need fixes from amasty module first

[2021-08-12 14:27] mrtuvn commented on #33768
https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html

[2021-08-12 14:45] mrtuvn commented on #33766
If problem exist i think resolve this issue just need update missing parts to paypal module as your solutions! Can you create PR for this

[2021-08-12 14:59] shikhamis11 commented on #33629
@magento give me 2.4-develop instance

[2021-08-12 15:06] JesKingDev commented on #28387
@JelleGe I created a gist for getting the database table back in shape if you've maxed out the auto_increment.
https://gist.github.com/JesKingDev/af70e92740215009ab1bebe5a2cdc17f
It's very thorough and has a lot of checkpoints to ensure you know what's being done.

This isn't a long-term solution, but should definitely buy you back some time while the root cause is fixed.

[2021-08-12 16:06] mrtuvn commented on #33748
Weird thing i still got admin work without any hang  or loading long
Setup redis session and cache frontend as default. All caches enabled in developer mode

preconditions
bin/magento config:set web/secure/offloader_header X-Forwarded-Proto
bin/magento config:set web/secure/use_in_frontend 1
bin/magento config:set web/secure/use_in_adminhtml 1
bin/magento config:set web/seo/use_rewrites 1

Updated

[2021-08-12 16:15] mrtuvn commented on #33748
Look likes updates in this commit
https://github.com/magento/magento2/commit/c2a591c4b5e382057260ee2199d133e094762ed8

[2021-08-12 16:19] EmperorKonstantin commented on #33678
@ericclaeren  During setup:upgrade what steps did you take that lead you to find the mysql entry that was causing the hangup?

[2021-08-12 16:27] magento-engcom-team commented on #33629
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43075` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-12 16:33] sims-smith-corona commented on #33678
In my case, I stumbled upon it by looking at the file/line number referenced in the console error during setup:upgrade:
vendor/magento/module-paypal/Setup/Patch/Data/UpdateBmltoPayLater.php on line 138

In that section of the file, UpdateBmltoPayLater.php is just grabbing all rows from the core_config_data table whose path begins with "payment/paypal_express_bml/". It is anticipating that all of t

[2021-08-12 16:49] vertic4l commented on #33772
<img width="1559" alt="Bildschirmfoto 2021-08-12 um 18 47 52" src="https://user-images.githubusercontent.com/1771763/129236294-c5f1f46f-96d7-4757-881b-01a96488fed2.png">

[2021-08-12 16:53] vertic4l commented on #33772
Current js-translation.json for the backend with Magento 2.4.3

<img width="901" alt="Bildschirmfoto 2021-08-12 um 18 51 05" src="https://user-images.githubusercontent.com/1771763/129236804-dc82ef42-697d-4107-a774-2038123a0615.png">

and here the old js-translation.json from Magento 2.4.1
<img width="1083" alt="Bildschirmfoto 2021-08-12 um 18 52 13" src="https://user-images.githubusercontent.com/1

[2021-08-12 16:59] vertic4l commented on #33772
@mrtuvn Same issue exists for the frontend. there are also just a few translations instead of 200+

[2021-08-12 17:01] DavaGordon commented on #31183
Just a fyi for anyone getting this issue. i had this same issue after upgrading from 2.4.2-p1 to 2.4.3 turned out it was an issue with redis and the simple enough fix was just to flush the redis

`redis-cli FLUSHALL`

[2021-08-12 18:54] mrtuvn commented on #33685
cc: @vzabaznov may know better at this section

[2021-08-12 20:11] lucianopeluso10 commented on #29215
reproduced in 2.3.5-p1

[2021-08-12 20:30] batmike opened #33776 "Upgrade to 2.4.3 causes continual two factor auth code page refresh"
After upgrading to 2.4.3 from 2.4.2-p1, in our several testing environements, the two-factor code entry would simply refresh and keep asking for a code when trying to login into the admin.

After looking through the changes, it appears that the default of 256000 bytes for the newly added maximum session size was not enough. Whether this is something specific to our environment, I'm not sure.

In t

[2021-08-12 20:31] batmike commented on #33776
@magento give me 2.4.3 instance

[2021-08-12 20:44] batmike commented on #33776
@magento give me 2.4.3 instance with extensions magento/module-two-factor-auth

[2021-08-12 20:46] batmike commented on #33776
@magento give me 2.4.3 instance with edition ee

[2021-08-12 21:27] batmike commented on #33776
Since I had several issues with a test environement (as illustrated above), I did install a vanilla 2.4.3 Commerce edition locally and was not able to reproduce the issue. It would appear that it must have something to do specifically with our environment and some of the other modules we have or a combination of all of that.

[2021-08-12 21:27] #33776 closed, assigned to nobody

[2021-08-12 21:28] ericerway commented on #30835
@magento give me 2.4.3 instance

[2021-08-12 22:34] github-jira-sync-bot opened #33777 "[MFTF] Remove usage of array_key_exists() with objects"
Reference PHP 8 Backward Incompatible Changes
 - <https://www.php.net/manual/en/migration80.incompatible.php>
 - <https://wiki.corp.magento.com/pages/viewpage.action?spaceKey=QMT&title=%5BSpike%5D<ins>MFTF</ins>PHP<ins>8</ins>Compatibility>

Project: <https://github.com/magento/magento2-functional-testing-framework>

AC:
 - Fix the following PHP 8 compatibility issue (if exists): removed ability t

[2021-08-12 22:39] github-jira-sync-bot opened #33778 "[MFTF] Investigate and fix usages of arithmetic and bitwise operators with array as operand"
Reference PHP 8 Backward Incompatible Changes
 - <https://www.php.net/manual/en/migration80.incompatible.php>
 - <https://wiki.corp.magento.com/pages/viewpage.action?spaceKey=QMT&title=%5BSpike%5D<ins>MFTF</ins>PHP<ins>8</ins>Compatibility>

Project: <https://github.com/magento/magento2-functional-testing-framework>

AC:
 - Arithmetic and bitwise operators <ins>, -, **, /, ***, %, <<, >>, &, |, ^,

[2021-08-12 22:42] github-jira-sync-bot opened #33779 "[MFTF] Investigate and fix the concatenation operator precedence change relative to bitshifts, addition and subtraction."
Reference PHP 8 Backward Incompatible Changes
 - <https://www.php.net/manual/en/migration80.incompatible.php>
 - <https://wiki.corp.magento.com/pages/viewpage.action?spaceKey=QMT&title=%5BSpike%5D<ins>MFTF</ins>PHP<ins>8</ins>Compatibility>

Project: <https://github.com/magento/magento2-functional-testing-framework>

AC:
 - The precedence of the concatenation operator has changed relative to bitsh

[2021-08-12 22:44] github-jira-sync-bot opened #33780 "[MFTF] Investigate and fix code affected by saner string to number comparisons"
Reference PHP 8 Backward Incompatible Changes
 - <https://www.php.net/manual/en/migration80.incompatible.php>
 - <https://wiki.corp.magento.com/pages/viewpage.action?spaceKey=QMT&title=%5BSpike%5D<ins>MFTF</ins>PHP<ins>8</ins>Compatibility>

Project: <https://github.com/magento/magento2-functional-testing-framework>

AC:
 - Non-strict comparisons between numbers and non-numeric strings now work by

[2021-08-12 22:46] github-jira-sync-bot opened #33781 "[MFTF] Investigate and fix code related to changes in CURL"
Reference PHP 8 Backward Incompatible Changes
 - <https://www.php.net/manual/en/migration80.incompatible.php>
 - <https://wiki.corp.magento.com/pages/viewpage.action?spaceKey=QMT&title=%5BSpike%5D<ins>MFTF</ins>PHP<ins>8</ins>Compatibility>

Project: <https://github.com/magento/magento2-functional-testing-framework>

AC:
 - CURLOPT_POSTFIELDS no longer accepts objects as arrays. To interpret an ob

[2021-08-12 22:49] github-jira-sync-bot opened #33782 "[MFTF] Investigate and fix code related to changes in parse_url()"
Reference PHP 8 Backward Incompatible Changes
 - <https://www.php.net/manual/en/migration80.incompatible.php>
 - <https://wiki.corp.magento.com/pages/viewpage.action?spaceKey=QMT&title=%5BSpike%5D<ins>MFTF</ins>PHP<ins>8</ins>Compatibility>

Project: <https://github.com/magento/magento2-functional-testing-framework>

AC:
 - parse_url() will now distinguish absent and empty queries and fragments:
[

[2021-08-13 03:02] onlinebizsoft commented on #27151
This is a real issue and it is still valid, please reopen @sdzhepa @sidolov @ilnytskyi

Either update lib or provide a fix in Magento

[2021-08-13 03:33] onlinebizsoft commented on #33685
Please keep in mind that data transfer between EC2 and Redis it is much much bigger than response data to traffic (from both nginx and varnish)

I'm thinking it can be possible that some private data ajax action could cause data transfer? So these ajax actions might serve very small data but it still request and transfer big data from redis?

[2021-08-13 03:40] mrtuvn commented on #33685
about ajax request seem we have fixed this case here
https://github.com/magento/magento2/pull/31933

[2021-08-13 03:49] onlinebizsoft commented on #33685
@mrtuvn not really, it may help a bit but not fix whole the problem. Also there are more cases with Ajax on any customized system. The root of the problem is with how/which Magento 2 cache and fetch cache
(in my case, it is a big system multiple store, multiple languages, many products, not sure if any every cache component are spitted correctly for each store,........ our Redis instance reaches 6

[2021-08-13 03:56] mrtuvn commented on #33685
Yeap that's why i have tagged a guy above previous reply. He is lead performance team

[2021-08-13 05:15] m2-assistant[bot] opened #33783 "[Issue] Replace repetitive actions with Action Groups in AdminDeleteSimpleProductTest"
This issue is automatically created based on existing pull request: magento/magento2#31963: Replace repetitive actions with Action Groups in AdminDeleteSimpleProductTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in the local enviro

[2021-08-13 05:15] magento-engcom-team commented on #33783
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43078` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-13 05:17] m2-assistant[bot] opened #33784 "[Issue] Replace repetitive actions with Action Groups in StorefrontConfigurableProductCanAddToCartTest"
This issue is automatically created based on existing pull request: magento/magento2#32117: Replace repetitive actions with Action Groups in StorefrontConfigurableProductCanAddToCartTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)

Run the test i

[2021-08-13 05:17] magento-engcom-team commented on #33784
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43079` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-13 05:18] m2-assistant[bot] opened #33785 "[Issue] Replace repetitive actions with Action Groups in StorefrontConfigurableProductOptionsTest"
This issue is automatically created based on existing pull request: magento/magento2#32133: Replace repetitive actions with Action Groups in StorefrontConfigurableProductOptionsTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.
### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in the l

[2021-08-13 05:19] magento-engcom-team commented on #33785
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43080` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-13 05:20] m2-assistant[bot] opened #33786 "[Issue] Replace repetitive actions with Action Groups in StorefrontConfigurableProductCantAddToCartTest"
This issue is automatically created based on existing pull request: magento/magento2#32139: Replace repetitive actions with Action Groups in StorefrontConfigurableProductCantAddToCartTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test i

[2021-08-13 05:21] magento-engcom-team commented on #33786
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43081` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-13 05:56] Thundar commented on #33770
I had the same issue and tried to remove the duplicated entries. I have the issue again after saving a category in store scope: eg:
`SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '174976976' for key 'PRIMARY', query was: INSERT  INTO `catalog_url_rewrite_product_category` (`url_rewrite_id`,`category_id`,`product_id`) VALUES (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?,

[2021-08-13 06:12] hostep commented on #27151
@onlinebizsoft: I believe this was done in: https://github.com/magento/magento2/pull/33364, I'm just not sure when this change will get delivered, in which Magento version ...

[2021-08-13 06:28] engcom-November commented on #33223
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
**Steps performed:**
1. Login to the Front-end as Customer
2. Front-end - Add multiple Products to Cart
3. Proceed to Checkout and place Order
4. Navigate to Admin - Sales - Orders - View Order - Click On Ship
5. Ship Only one product with Tracking Number (Update Quantity to 0 to one of the Products) and Submit
**No is

[2021-08-13 06:29] magento-engcom-team commented on #33223
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43082` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-13 07:00] sumjoekin commented on #33724
@magento give me 2.4-develop instance

[2021-08-13 07:16] m2-assistant[bot] opened #33788 "[Issue] Replace repetitive actions with Action Groups in AdminSimpleProductTypeSwitchingToConfigurableProductTest and AdminConfigurableProductTypeSwitchingToVirtualProductTest"
This issue is automatically created based on existing pull request: magento/magento2#32282: Replace repetitive actions with Action Groups in AdminSimpleProductTypeSwitchingToConfigurableProductTest and AdminConfigurableProductTypeSwitchingToVirtualProductTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fix

[2021-08-13 07:17] magento-engcom-team commented on #33788
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43083` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-13 07:22] engcom-November commented on #33764
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
On searching using the URL - /catalog/product/compare/  , User is redirected to URL: /catalog/product_compare/ and the page is accessible:
![image](https://user-images.githubusercontent.com/60198231/129319832-67bbfc95-471c-44c3-8fc6-126a76616667.png)
![image](https://user-images.githubusercontent.com/60198231/12931

[2021-08-13 07:31] onlinebizsoft commented on #27151
@hostep you are right. it is bad when this was pointed out since March 2020 and until now, it is not included in 2.4.3

[2021-08-13 07:47] karyna-tsymbal-atwix commented on #33781
@magento I am working on this

[2021-08-13 07:59] chequille commented on #33758
Hi jorgb90,
I tried this now to disable all Magento/Inventory modules and on frontend it is working regarding out of stock and crossed swatches etc.
Infortunately, in backend, i cannot edit a product, as it is throwing an error because of missing InventoryApi

Do I have to set something else in the config?
Could you tell me the steps which I would have to do to get it working without Inventory mod

[2021-08-13 09:13] zhartaunik commented on #33680
@leonhelmus could you clarify your idea with the replacement inventory-composer-installer? I have disabled MSI as well, but it's not clear what to do.

I did:
[code]
then ```rm -rf vendor/*```

then ```composer upgrade``` and still
[code]

The main question is why all of the Magento specialists tested this on an unsupported PHP version.

[2021-08-13 09:21] mrtuvn commented on #33680
Have you check composer.json have require package "magento/composer-dependency-version-audit-plugin". See this available at 2.4.3

[2021-08-13 09:26] zhartaunik commented on #33680
Added, does not help

[2021-08-13 10:02] toonvd commented on #6401
I just landed on this issue, a more complete solution would be to implement https://github.com/magento/magento2/issues/6401#issuecomment-325510002. And create an observer on product save that gets parents on simple products and invalidates those too.

[2021-08-13 10:05] alex-james commented on #33352
In Magento\Tax\Model\Sales\Total\Quote\Subtotal::collect() when Magento\Tax\Model\TaxCalculation::calculateTax() is called, the third argument ($round) is not specified and therefore the default of true is used, this results in rounding occurring in Magento\Tax\Model\Calculation\UnitBaseCalculator::calculateWithTaxNotInPrice() which means the tax calculation is something like:

ROUND(UNIT PRICE *

[2021-08-13 10:08] engcom-November commented on #33768
Unable to reproduce this issue while upgrading Magento version from 2.4.2-p1 to 2.4.3
**Steps performed:**
On Magento 2.4.2-p1 Magento Instance Root Folder:
Run: > composer require magento/product-community-edition 2.4.3 --no-update
composer update
php bin/magento setup:upgrade - **No issue**
php bin/magento setup:di:compile - **No Issue**
sudo php bin/magento setup:static-content:deploy -f
sudo p

[2021-08-13 10:15] engcom-November commented on #33749
Verified the issue on Magento 2.4.3 version after upgrading from 2.4.2-p1 to 2.4.3 and the issue is reproducible:
**Steps to reproduce:**
 Upgrade Magento version from 2.4.2-p1 to 2.4.3
Login to Magento Admin using admin credentials
Issue: Invalid security or form key. Please refresh the page. Error message is getting displayed on Admin Dashboard
User have to refresh the page to remove the error m

[2021-08-13 10:17] magento-engcom-team commented on #33749
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43085` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-13 10:38] ihor-sviziev commented on #33770
Hi @burgh8wp @Thundar,
You should remove duplications in the catalog_url_rewrite_product_category table before doing an upgrade to 2.4.3.

[2021-08-13 10:44] Thundar commented on #33770
@ihor-sviziev done, but that's not enough (unfortunately). I could upgrade removing the duplicates, but I couldn't update the category url in a store scope later, as from the INSERT query above.

[2021-08-13 10:49] Thundar commented on #33770
@magento give me 2.4-develop instance

[2021-08-13 10:50] leonhelmus commented on #33680
Make sure that when you replace it and upate with composer that you removed your vendor directory. Otherwise the inventory composer plugin will still be called.

[2021-08-13 10:54] ihor-sviziev commented on #9581
@zakdma @joanhe, please check the https://github.com/magento/magento2/issues/33770 that was caused by the fix https://github.com/magento/magento2/commit/ece2528a6f09da1486d63ddd794f746501984413, maybe you could provide some workaround?

[2021-08-13 11:09] JKair opened #33791 "paypal pay later lose a param"
### Preconditions (*)

1.magento 2.4.3 the module-paypal
2.

### Steps to reproduce (*)

1. set the pay later support and will display a undefinded message on the paypal button
![image](https://user-images.githubusercontent.com/5440088/129347909-cbfba4e5-a22a-4fe1-9da9-17f8c657d851.png)

### Expected result (*)

1. ![image](https://user-images.githubusercontent.com/5440088/129348634-20d1475b-96e1-

[2021-08-13 11:18] JKair commented on #33791
I fix this bug through add a param in `module-paypal\view\frontend\web\template\paylater.html`
`'data-pp-buyerCountry':'US'`
but the admin panel dont support this setting.

this bug will appear in the paypal later message.

[2021-08-13 11:21] Thundar commented on #33770
I'm investigating the second problem (the insert) as I'm not being able to reproduce it in a fresh installation.

[2021-08-13 11:25] davidwindell commented on #33705
Possible duplicate of #25700 ?

[2021-08-13 11:31] vseager commented on #33705
I have retested and can confirm that the issue is related to locale settings on the admin user. When I set my admin user locale to "English (United States)" I can import the date, when it's set to "English (United Kingdom)" the issue occurs.

[2021-08-13 11:32] burgh8wp commented on #33770
Did you create a script to remove the duplicates? If so, how did you handle the ID number change or did you just delete them?

[2021-08-13 11:35] engcom-November commented on #33764
Verified the issue again on Magento 2.4-develop having EE and B2B Modules and the issue is reproducible.
**Note: Issue is not reproducible on Magento 2.4-develop clean instance.**
Issue is reproducible on Magento 2.4-develop having EE and B2B modules enabled and 2.4.3 Magento version as well.
**Steps to reproduce:**
Magento frontend - Navigate to URL:  http://magento.local/index.php/catalog/produc

[2021-08-13 11:39] zhartaunik commented on #33680
@leonhelmus
Yes, I did the following:
[code]
my composer.json:
[code]

[2021-08-13 11:40] magento-engcom-team commented on #33764
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43086` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-13 12:13] leonhelmus commented on #33680
Hmmm it should work. For me it does atleast.

[2021-08-13 12:26] ihor-sviziev commented on #33770
@burgh8wp, sorry, I don't have this issue, can't help you with fixing that :(

[2021-08-13 12:48] nuzil commented on #33767
Hi @engcom-November
I have a strong feeling issue is connected with this changes:
https://github.com/magento/magento2/pull/32371

Can you please try with patch from this PR and tell if its still exists?

Or try directly on PR test Magento instance

[2021-08-13 12:55] nuzil commented on #33758
Hi @chequille
did you try to report an issue with detailed problem explanation?
Cause based on your description its impossible to reproduce it normally.
Issue creation may support in defining correct priority and fixing it ASAP

[2021-08-13 14:21] mrtuvn commented on #33766
assign to @rvanwilgen

[2021-08-13 14:22] mrtuvn commented on #33766
@magento rvanwilgen working on this

[2021-08-13 14:41] nvncbl commented on #30979
I am finding this is not the case.  The file vendor/magento/module-elasticsearch-7/etc/di.xml.  The argument "elasticsearch7" to "intervals" is the Elasticsearch5 class

<item name="elasticsearch7" xsi:type="string">Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Aggregation\Interval</item>

[2021-08-13 14:46] VZeroCool opened #33794 "Removing 'Remote Shopping assistant' fails to client side validation"
### Preconditions (*)

1. Adobe Commerce Cloud 2.4.2
2.

### Steps to reproduce (*)

1. Disable Remote Shopping Assistant from admin Stores > Configurations > Customer > Login as Customer
2. Make it disable

### Expected result (*)

1. It should remove checkbox on registration page - Working as expected
2. Without filling form if we click on submit it should error message per field

### Actual res

[2021-08-13 14:50] VZeroCool commented on #33794
@magento give me 2.4-develop instance

[2021-08-13 15:00] VZeroCool commented on #33794
So it's not reproducing in this develop instance, Can you help me with commit which fixed this issue ?

[2021-08-13 15:03] Thundar commented on #33770
@burgh8wp i strongly suggest NOT to do this in a production environment.
` BEGIN TRANSACTION;
CREATE TABLE catalog_url_rewrite_product_category_temp SELECT DISTINCT * FROM catalog_url_rewrite_product_category;
 ALTER TABLE catalog_url_rewrite_product_category RENAME junk;
 ALTER TABLE catalog_url_rewrite_product_category_temp RENAME catalog_url_rewrite_product_category;
 COMMIT;`

[2021-08-13 15:41] mrtuvn commented on #33794
seem fixed in 2.4-develop

[2021-08-13 15:42] mrtuvn commented on #33794
Same ticket here https://github.com/magento/magento2/issues/33597

[2021-08-13 18:13] moranotcsos commented on #33729
@engcom-November

I just wanted to follow up and confirm you received my previous response.

I realized my mistake and for Step 7, it should be:

Login as Customer -> Add a product to Cart -> Checkout -> Go to Payment Step -> Go Back to Shipping Step -> Add different Shipping Address and place order.

I was able to reproduce this on 2.4.3. Let me know if you are able to reproduce this now.

[2021-08-13 19:44] chequille commented on #33758
@nuzil

Yes I did long time ago as it is part of ticket #31117 which seems to be solved for simple products.
But configurable products do show the swatches not crossed out or grayed if the according product does have a salable quantity of 0.
There are as well other tickets claiming this: #32924
And the most frustrating is, that it is working in Magento 2.3.x !?!?!?!?!?!?!?!?!?!

Nobody cares as I

[2021-08-14 00:43] n2diving-dgx commented on #33748
Upon upgrading from 2.3.7 to 2.4.3 I was unable to complete an admin login, the MFA would succeed and then loop back to asking for the MFA again.  Chased this for hours thinking it was a MFA issue.   Simply disabling Two Factor Authentication would allow a successful login and all looked good.    The looping on MFA was apparently related to the session limit issue.   The default value for 'session

[2021-08-14 00:51] n2diving-dgx opened #33796 "The store will not work correctly in the case when cookies are disabled."
Upon upgrading from M2.3.7 to M2.4.3 the following banner appears at the top of the page...

"The store will not work correctly in the case when cookies are disabled."

Tried all the suggestions found in the forums, and found a few people complaining specifically that it appeared upon M2.4.3 upgrade.   Does not appear in a clean 2.4.3 install, only with upgrade.  Twiddled all settings obviously re

[2021-08-14 02:42] mrtuvn commented on #33796
have you disable cookies in your browser ? Can you check config in clientside( browser preferences )

[2021-08-14 05:11] mathanagopaloxsoftwares opened #33797 "PayPal express checkout popup not working as expected in Dual Monitor setup"
### Summary (*)
When trigger PayPal from the second monitor in dual monitor setup, the popup goes out of the second monitor and gets itself attached to the first monitor and in a very odd way

### Examples (*)
Please refer to the bellow screenshot:
![1628915781273](https://user-images.githubusercontent.com/76041988/129434824-239417a8-c748-460c-87cb-4453fb3af911.JPEG)

### Steps to reproduce
Open a

[2021-08-14 05:59] fahu commented on #33678
I experience the same issue on update of Magento 2.3.5 to 2.4.3. The solution suggested by @arjunadobe fixed the issue for us.

[2021-08-14 07:01] zlep opened #33798 "Price on product view page becomes 0,00 after page has finished loading"
### Preconditions (*)

1. Magento 2.4.3
2. PHP 7.4
3. Country Options is set to US
4. Locale Options (Local) is set to Germany
5. Base Currency: Euro
6. Default Display Currency: Euro
7. Allowed Currencies: Euro
8. 3 different StoreViews are set up

### Steps to reproduce (*)

1. Create new product (price doesn't matter)
2. Go to product list page (categorie view page)
3. Go to product details pag

[2021-08-14 07:11] chequille opened #33799 "Swatches are not crossed out if salable quantity is 0"
### Preconditions (*)

1. Magento 2,4,3
2.

### Steps to reproduce (*)

1. Make a configurable product with f.e. 3 options
2. ![grafik](https://user-images.githubusercontent.com/15807794/129438093-70ab92fc-28e8-4f12-92bd-21e47d24abad.png)
3. Place an order for this product with one of the options so salable quantity is 0 after the order is placed. In the sample of the screenshot it is the product

[2021-08-14 07:14] chequille commented on #33758
@nuzil
I made now again a new ticket describing the bug.
#33799

[2021-08-14 07:54] n2diving-dgx commented on #33796
Tested (with cookies enabled) in Chrome, Edge, IE, Safari, Opera.... Win10, MacOs, iOS, Android,  all the same message...

"The store will not work correctly in the case when cookies are disabled."   Yet they are enabled.  Rolling back to 2.4.2 resolves the issue.

[2021-08-14 08:09] zlep commented on #33798
Ok, did some further testing. This is actually an issue with **Local Options** set in _"Stores -> Configuration -> General -> Local Options -> Local -> German (Germany)"_.

If this option is set to "English (United States)", price on product page is shown correctly. If it is set to "German (Germany)" price becomes "0,00 €" as described as above.

[2021-08-14 08:16] onlinebizsoft commented on #33797
@mathanagopaloxsoftwares I dont think it is a Magento bug, I guess the OS remember the possition where the window would appear next time so it happened

[2021-08-14 10:12] mrtuvn commented on #33796
This message only show if you disable cookie from client-side. Is there another case do i missed

[2021-08-14 14:21] chequille commented on #33799
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-08-14 15:22] chequille commented on #33799
Reproduced on 2.4.develop instance.
Ordered 100 Chaz Kangeroo Hoodie XS black but in frontend XS is still selectable
![grafik](https://user-images.githubusercontent.com/15807794/129451018-1a663b94-e726-4826-a53d-40e51af9c238.png)

If I select it and add it to cart, than it is crossed and the error message comme up that I have to selet an option.
![grafik](https://user-images.githubusercontent.com/

[2021-08-14 15:49] magento-engcom-team commented on #33799
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43089` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-14 18:08] minhluan259 opened #33800 "Issue with print invoice"
### Preconditions (*)

1. Magento 2.3, 2.4

### Steps to reproduce (*)

1. Login by user account
2. Create new order by checkout (order id 11)
3. Go to https://domain.com/sales/order/printInvoice/invoice_id/11/

### Expected result (*)

1. If the invoice doesn't exist, Error handling should be done for better user experience.
### Actual result (*)

1. Showing error:
[code]
Var/log/exception.log:
[

[2021-08-14 19:15] bgorski commented on #32252
@magento I'm working on this

[2021-08-15 09:52] sergiynezbritskiy opened #33802 "Integration tests failing during Magento setup"
### Preconditions (*)
1. Fresh Magento 2.4.3 installation
2. PHP 7.3 or PHP 7.4
3. Composer version 2.1.5 (also tried with the highest composer 1 version
4. no RabbitMQ

### Steps to reproduce (*)
1. Basically I follow the steps in this doc https://devdocs.magento.com/guides/v2.4/test/integration/integration_test_execution.html
2. `composer create-project --repository-url=https://repo.magento.com/

[2021-08-15 09:57] sergeynezbritskiy commented on #33802
Additional information regarding this issue:
1. The issue is not reproducible on current 2.4-develop branch
2. If I run integration tests second time and TESTS_CLEANUP config in phpunit.xml is set to `disabled`, the tests are running fine, so currently as a workaround I wrapped this command in try/catch in my Jenkinsfiles and run tests second time in catch
[code]

[2021-08-15 10:39] arjunadobe commented on #33766
This looks like a problem in the amasty module.
Fix:
Add the below code in ur customer module config.xml
`<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paypal_paylater>
                <title>Paypal PayLater</title>
            </paypa

[2021-08-15 12:19] groomershop-mt commented on #13225
The solution for this is to run static-content:deploy with option "-s standard" - set deployment strategy to standard. In this case the pub/_cache/merged/... files are being generated during static-content:deploy

More informations:
https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-static-view.html

By the way: It would be useful if this documentation mentioned that s

[2021-08-15 12:45] bgorski commented on #32252
I'm unassigning myself from this after all as it requires a bit more effort to fix it the right way than I can currently commit to.

The part of the functionality that's failing here - the custom test suite loader PHPUnit functionality is actually deprecated (https://github.com/sebastianbergmann/phpunit/issues/4039) and marked with a `@internal This class is not covered by the backward compatibili

[2021-08-15 13:50] likearocket commented on #33796
I also have this issue, upgrading from 2.4.2-p1 to 2.4.3.

[2021-08-15 14:30] sergeynezbritskiy commented on #33802
During the investigation I've found few issues:
1. Some objects, which should be cached in object manager and shared btw objects, are not actually shared and there are multiple instances of the same class:
- \Magento\Framework\App\ResourceConnection
- \Magento\Framework\App\DeploymentConfig

When object manager first creates ResourceCollection object, it has a dependency DeploymentConfig $deployme

[2021-08-15 15:21] n2diving-dgx commented on #33796
Yes this message is now showing as of M2.4.3 upon upgrade even when client side cookies are ENABLED.

[2021-08-15 19:18] moazzama opened #33804 "Please Add the webp extension for uploading the product images"
Hi Magento,
I request you to please add the webp extension for uploading the magento 2 prroduct images and category ,that feature will be boost the magento 2 speed
Please support the webp extension on Magento 2

[2021-08-16 00:59] mrtuvn commented on #33766
Hi @engcom-Alfa Can we able verify issue with module from amasty ? From the info of author i see module used Amasty_AdvancedConditions

[2021-08-16 05:24] m2-assistant[bot] opened #33806 "[Issue] Replace repetitive actions with Action Groups in StorefrontProductNameWithHTMLEntitiesTest"
This issue is automatically created based on existing pull request: magento/magento2#33214: Replace repetitive actions with Action Groups in StorefrontProductNameWithHTMLEntitiesTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in the

[2021-08-16 07:11] IbrahimS2 opened #33807 "Partial Refunds is not subtracted from the order grand total"
### Preconditions (*)

1. Magento 2.4.3
2. PHP 7.4
3. MySQL 8

### Steps to reproduce (*)

1. Create an order with two or more items
2. Issue an invoice
3. Issue a credit memo for one item
4. Order Grand Total does not get updated it is meant to be.

### Expected result (*)

1. Grand total gets updated and the grand total is going to be XYZ minus Refunded Value.
2. PDF Invoice does not include the

[2021-08-16 07:12] IbrahimS2 commented on #33807
@magento give me 2.4-develop instance

[2021-08-16 07:26] Morgy93 commented on #33743
Luckily this was just missing for the latest https://github.com/magento/magento-cloud-docker 7.2-cli-1.2.4 on my end.

I'll leave this open for the docs to original Magento and will open up another issue for the docker image.

[2021-08-16 07:29] IbrahimS2 commented on #33807
Here I am creating a credit memo, please notice how much I refunding:
![image](https://user-images.githubusercontent.com/19901858/129526517-d98a218e-8ce3-4c19-a495-980839b7c7a6.png)

And hereafter issuing the credit memo, the order grand total remains intact:
![image](https://user-images.githubusercontent.com/19901858/129526627-b0d700f7-a484-486d-905a-ad544f4cec05.png)

What should happen here the

[2021-08-16 07:32] chrisbadley commented on #33749
Not isolated to upgrading from 2.4.2-p1 to 2.4.3. This has also occured for me when upgrading from 2.3.6 P-1

[2021-08-16 07:47] magento-engcom-team commented on #32283
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43094` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-16 08:04] webkul-deepak commented on #33096
@magento give me 2.4-develop instance

[2021-08-16 08:08] webkul-deepak commented on #33096
@magento give me 2.4.2-p1 instance

[2021-08-16 08:34] JKair commented on #33749
I meet this issues,too.
When I upgrade 2.4.2 --> 2.4.3.

[2021-08-16 08:38] mrtuvn commented on #33766
@Rohaty I believe module that mentioned work for enterprise version case. Have you check in opensource version of magento ?

[2021-08-16 08:43] bohdan-harniuk commented on #33782
@magento I am working on this

[2021-08-16 08:47] engcom-November commented on #33679
@IbrahimS2, I verified the issue again on Magento 2.4-develop branch with 2 scenarios. Please find the steps followed below:

Scenario 1: Order a product with 2 Quantity - Generate Invoice for 2 Product Quantity - Refund for One Product Quantity (Credit Memo)
Front-end **Screenshots:**

Items Ordered section: Since the Order Quantity is 2 - Grand Total displayed here is for 2 Products
![image](htt

[2021-08-16 08:48] anzin commented on #33777
@magento I am working on this

[2021-08-16 08:49] chequille commented on #33799
HI Guys,
saw that you put this on P2
I would like to have this at least P1

I am paying since more than 9 month now for a VServer to be able to switch to 2.4.x and cannot because of this bug.
Please consider to put this on highest priority as it is a mandatory feature and many other installation wil have this problem as well.
I would like to get a patch as soon as you found the problem. I definete

[2021-08-16 09:36] m2-assistant[bot] opened #33809 "[Issue] Generator matching optimization"
This issue is automatically created based on existing pull request: magento/magento2#31613: Generator matching optimization

---------

### Description (*)

Changed implementation to be more transparent, and easy to read.
Plus using one strlen with explicit variable, rather than 3 implicit (via php internals for each strlen and minus operation).

### Related Pull Requests

### Fixed Issues (if rel

[2021-08-16 10:15] kestraly opened #33810 "Custom Attributes - Used for Sorting in Product Listing - ElasticSearch Sort Order Incorrect"
1. Magento 2.3x - 2.4x
1. ElasticSearch 7
1. Using custom attributes to sort catalog

### Steps to reproduce (*)

1. Enable "Used for Sorting in Product Listing" for attribute "color" - Dropdown
1. Add color to attribute set default
1. Populate attribute color option values in no specific order, such as grey, black, blue, orange, green, yellow
1. Assign products to use attribute color
1. Reindex b

[2021-08-16 10:17] kestraly commented on #33810
@magento give me 2.4.3 instance

[2021-08-16 10:22] dino6213221 commented on #33446
Hi @engcom-Bravo
Is there any news about this issue?

[2021-08-16 10:23] magento-engcom-team commented on #33809
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43096` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-16 10:31] kestraly commented on #33810
Reproduced in 2.4.3

https://e930fff37bbf67bbd049302464383cfb-2-4-3.instances.magento-community.engineering/color-sorting.html?product_list_order=color

@magento give me 2.4-develop instance

[2021-08-16 10:33] onlinebizsoft commented on #33807
@IbrahimS2 I think this is not a bug, it is an expected behavior

[2021-08-16 10:38] IbrahimS2 commented on #33807
@onlinebizsoft But it is wrong, when you issue a partial refund, it should reflect in the order view and the invoices that I am attaching with the shipment where it should exclude what is been refunded, and the grand total should tell me what is the total amount after the refund.

[2021-08-16 10:44] kestraly commented on #33810
Reproduce in 2.4-develop instance

https://e930fff37bbf67bbd049302464383cfb-2-4-develop.instances.magento-community.engineering/color-sorting.html?product_list_order=color

[2021-08-16 11:02] devchris79 opened #33811 "Cookie acceptance still displays message in header"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Switch on cookie restriction mode, settings as below:
![image](https://user-images.githubusercontent.com/43850303/129553194-c77091ee-450f-4614-a3d6-08c0e7f44341.png)

### Expected result (*)

1. Message for cookies acceptance presented, upon acceptance all messages should be removed.

### Actual result (*)

1. At the top of ou

[2021-08-16 11:04] #33446 closed, assigned to nobody

[2021-08-16 11:09] devchris79 commented on #33810
The category sort order has been awful since Elasticsearch and there is a few issues around it:
#31758 #32522 #31043

Even the most basic sort by position doesn't work...

[2021-08-16 11:10] chrisastley commented on #33811
I have the same issue although Cookie Restriction Mode has always been disabled, but after updating from 2.4.2-p1 to 2.4.3 I have the 'The store will not work correctly in the case when cookies are disabled.' message showing although cookies/sessions are working fine.

[2021-08-16 11:33] zhulak commented on #33031
This has been the default behaviour for quite some time. The PR you are referring to will not create duplicates if the images have the same name defined in the CSV import. If the images have different names, they will be added to the product.

One solution would adding a column to the CSV import which Magento can read during import and decide if existing images should be removed or just added to,

[2021-08-16 11:37] engcom-Echo commented on #33744
@magento give me 2.4.develop instance

[2021-08-16 11:41] marvinhinz commented on #26960
@engcom-Delta Please re-open this issue, it still persists in magento 2.4.2-p1. Will retest in latest magento, once we have updated the customer.

Debug changes in magento/vendor/magento/framework/App/Http.php
![image](https://user-images.githubusercontent.com/35603466/129557859-e10d6107-5d34-4ac8-94a7-3958f563eaad.png)

Result:
![image](https://user-images.githubusercontent.com/35603466/129557927

[2021-08-16 11:45] engcom-November commented on #33729
Verified the issue again on Magento 2.4-develop branch with missing steps provided and the issue is reproducible now:
**Steps to reproduce:**
1. Stores - Configuration - Customers - Customer Configuration - Show Company - Set to Optional and Save
 2. Reindex and clear cache
 3. Create Customer Account from front end and sign in
 4. Added different Shipping Address and Billing Address for the custo

[2021-08-16 11:51] magento-engcom-team commented on #33729
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43097` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-16 11:51] kestraly commented on #33810
@devchris79  - It's been driving me crazy. But all my attempts to resolve have come up blank and no resolve in 2.4.3

[2021-08-16 12:10] engcom-November commented on #33800
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps to reproduce:
1. Create an Order from front-end
2. View Order from Front-end
3. Print Order - No issue  http://magento2.4.local/default/sales/order/print/order_id/37/ - User is able to print Order and save
4. Access below Print invoice URL before the invoice is generated (using any new ID)
/sales/order/printInvoi

[2021-08-16 12:15] magento-engcom-team commented on #33800
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43098` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-16 12:25] ihor-sviziev opened #33812 "Notice or user deprecation causing report page"
This is a follow-up on https://github.com/magento/magento2/pull/31985. That issue caused such big issue due to handling notices, deprecation, or user deprecation as an exception.

According to https://www.php.net/manual/en/errorfunc.constants.php, it feels like we should treat the following types as a non-critical issue and just add a log message to the log file:
- E_NOTICE
- E_USER_NOTICE
- E_DEP

[2021-08-16 12:40] engcom-Echo commented on #33744
I have verified this issue on 2.4-develop branch & the issue is reproducible.
Steps to reproduce
1. Create a fresh instance of 2.4-develop branch
2. Create a  Configurable product, add considerable number of child products to it & save it
3. Edit the product again, remove a child product & without saving refresh the page
4. Once the page is reloaded, imitate a validation failure
5. For which, On a

[2021-08-16 12:40] Rohaty commented on #33766
Hi @mrtuvn, the solution I mentioned is done in open source magento.
The solution is exactly as stated by @arjunadobe, and the fix must be done in the module-paypal/etc/config.xml.

Amasty, since I bought the rewards module from them, has already sent me a patch, which consists only in the fact that they made the call to getMethodInstance () via try-catch.

In any case, each payment module should

[2021-08-16 12:47] Den4ik commented on #19710
@carolineboivin @Nuranto Please follow comment https://github.com/magento/magento2/pull/33439#issuecomment-899480688

If you still able reproduce issue on fresh 2.4-develop installation please provide step by step instruction

[2021-08-16 12:47] #19710 closed, assigned to nobody

[2021-08-16 12:59] BorisovskiP commented on #33768
@sgeleon if you are using [Yireo Replace GraphQL](https://github.com/yireo/magento2-replace-graphql) in your project, you can see that the [module]( https://github.com/yireo/magento2-replace-graphql/blob/54685bee71d7fc8ad851b5b1c926d60cf52516fb/composer.json#L44) is added to be replaced/removed. So naturally this will throw the error.

[2021-08-16 13:24] rajubytes opened #33813 "Paypal express was not working with cancel discount code in cart/basket page."
**Preconditions**
Paypal express was not working with cancel discount code in cart page.

**Steps to reproduce**
Step 1. Set UK as merchant country
Step 2. Configure Paypal express with sandbox account.
Step 3. Added to cart 1 product with without login customer.
Step 4. Apply discount code from cart page.
Step 5. Remove discount code
Step 6. Click on Paypal express button.

**Expected result**

[2021-08-16 13:26] mrtuvn commented on #33811
Seem looks same behavior with this issue https://github.com/magento/magento2/issues/33796

[2021-08-16 13:33] mrtuvn commented on #33811
Can you share screenshot and record maybe make easier to QC team can check ? I don't see any messages cookie at the top

[2021-08-16 13:33] marvinhinz commented on #33748
Having the same issue after upgrading to 2.4.3

[2021-08-16 13:34] mrtuvn commented on #33811
![cookie](https://user-images.githubusercontent.com/1908873/129572080-f708b8cf-4cf4-474e-8d71-b289ffd6742a.png)

[2021-08-16 13:36] engcom-Lima commented on #33807
Hi @IbrahimS2,

This is not wrong. Let me clarify, when the order is created Grand Total is the final amount which will always be same since the order was placed with that amount and the customer paid/will pay same amount for those products. Invoice is also generated on the same price value.

Now, if any customer returns any number of items from that order, he/she will be issued Credit Memo which

[2021-08-16 13:36] #33807 closed, assigned to krishprakash, engcom-Lima

[2021-08-16 13:44] mrtuvn commented on #33748
Yes problem still exist but curiously if we put value to something does magento will got session size go beyound of that ??

[2021-08-16 13:51] waldroot commented on #23908
If someone still struggles with this issue I fixed it by modifying the class \Magento\Quote\Model\Quote. Maybe it's not the best but it works.

`--- vendor/magento/module-quote/Model/Quote.php
+++ vendor/magento/module-quote/Model/Quote.php
@@ -853,8 +853,11 @@
             $this->setIsChanged(0);
         }

-        if ($this->_customer) {
+        if ($this->_customer && $this->_customer->getId

[2021-08-16 13:58] devchris79 commented on #33811
![image](https://user-images.githubusercontent.com/43850303/129575581-b251e687-d682-4a9e-9eb6-78a3525871a5.png)

[2021-08-16 14:03] speedupmate commented on #33741
In addition to this:

* adds a global place order mixin . what this does is that even if functionality is not configured , mixins are added in all cases
* mixin has a hardcoded dependency to Magento_ReCaptchaWebapiUi not mentioned in module.xml
* adds a afterRender call to template forcing to init this functionality even if not configured or needed or each time the template is rendered , bad pract

[2021-08-16 14:05] devchris79 commented on #33811
I think this commit has probably broken it: MC-41474

[2021-08-16 14:07] mrtuvn commented on #33811
i think your case may similar https://github.com/magento/magento2/issues/33796
but i don't know how to reproduce at the clean install 2.4.3

[2021-08-16 14:09] chrisastley commented on #33811
@devchris79 I notice you are using the Porto theme, both sites I have the issue on are also using Porto. Not sure if it's related though.

[2021-08-16 14:10] marvinhinz commented on #33748
@mrtuvn it seems its the write call is only executed when the size is not exceeded yet or the max size is null.

https://github.com/magento/magento2/blob/c2a591c4b5e382057260ee2199d133e094762ed8/lib/internal/Magento/Framework/Session/SaveHandler.php#L130

If the max size is exceeded, the current session data is retrieved and saved again, this seems to create a loop thats constantly locking the ses

[2021-08-16 14:11] mrtuvn commented on #33811
Have you check what theme that use template cookie status ? Maybe that template override current magento template. That make that block always show

[2021-08-16 14:14] speedupmate commented on #33741
@basvanpoppel ?  install a clean instance of m2 you can't checkout cause of those issues without reCaptcha configuration being enabled and valid means Magento2 does not work out of the box.

By default if extension is in system and is not configured to be used should mean no assets are included in storefront at all. Aim for this in your PR, thanks.

[2021-08-16 14:22] dudzio12 commented on #33741
Fix for the impatient (Magento composer installations).

 @basvanpoppel -this implements your suggested PR changes :)

`/patches/composer/github-issue-33741.diff`

[code]

`composer.json`

[code]

[2021-08-16 14:28] IbrahimS2 commented on #33807
@engcom-Lima Okay, what about the PDF invoice?

[2021-08-16 14:34] #33812 closed, assigned to nobody

[2021-08-16 14:35] ihor-sviziev commented on #33812
It's better to have strict error checking, than having some random issues

[2021-08-16 14:35] chrisastley commented on #33811
On a site running version 2.4.2-p1 I can see this in the source.
<script type="text/javascript">document.querySelector("#cookie-status").style.display="none";</script>

But it isn't in the source code of 2.4.3, when I look at the changes introduced in #33796 there is an added css/less rule in the base  theme Magento_Theme/web/css/source/_module.less

The Porto theme has it's own Magento_Theme/web/

[2021-08-16 14:38] devchris79 commented on #33811
OK, I have fixed this now. It appears that any theme now needs to turn the message off due to MC-41474. Porto doesn't make any attempt so its always displayed.

You need to add app/design/frontend/Smartwave/porto/Magento_Theme/web/css/source/_module.less:

.cookie-status-message {
        display: none;
    }

I put this on line 234 for Porto

[2021-08-16 14:39] devchris79 commented on #33811
The message shouldn't have changed to default on though...

[2021-08-16 14:40] devchris79 commented on #33796
OK, I have fixed this now for Porto. It appears that any theme now needs to turn the message off due to MC-41474. Porto doesn't make any attempt so its always displayed.

You need to add app/design/frontend/Smartwave/porto/Magento_Theme/web/css/source/_module.less:

.cookie-status-message {
display: none;
}

I put this on line 234 for Porto

[2021-08-16 14:51] speedupmate commented on #33741
@basvanpoppel @dudzio12 although good effort it does not free you from all the loaded reCaptcha mixins defined in following files, those will still wrap what they wrap enabled/disabled layout nodes included or not

[code]

[2021-08-16 14:58] bohdan-harniuk commented on #33780
@magento I am working on this

[2021-08-16 15:00] #33811 closed, assigned to ajijshekh123, engcom-Bravo

[2021-08-16 15:03] engcom-Echo commented on #32994
@magento give me 2.4-develop instance

[2021-08-16 15:23] ihor-sviziev commented on #31984
@alucardatem, just checked, looks like this code is never gets called due to the following code, which is removes category id:
https://github.com/magento/magento2/blob/c0ab1d9c7a3ee84b1c880ee3fb2d16793a7edb9d/app/code/Magento/Catalog/Model/Product/Url.php#L160-L161

[2021-08-16 15:30] dudzio12 commented on #33741
@basvanpoppel That's understandable of course, I needed patch to kickstart my project's upgrades, so it is what it is.

I'm still looking forward for you to complete the PR :)

Then I will prepare another patch to fix the issue.

@mrtuvn What is the politics on P2 bug fixes? It will be released as separate patch, next patch release `-p1` or in the next minor release?

[2021-08-16 15:41] engcom-Delta commented on #33684
Hi @homefieldandstream,

Kindly provide the steps to install for GiftRegistry , What u followed?. in addition please give issue descriptions , steps to follow , actual , expected results.

Thanks

[2021-08-16 15:43] engcom-Delta commented on #33693
Hi @jadebaileywowcher,
screenshots are missing , Kindly attach the screenshots, issue description, steps to follow , actual results & expected results.

Thanks

[2021-08-16 15:46] mrtuvn commented on #33741
p2 label is lower priority than p1. It's depend on specific case of ticket. It's not related with fix deliver to next release
Seem dev team not aware the case user not use captcha
I got see pull request related in the case owner disabled captcha from backend but captcha js files till request from server. But we already have PR for that here
Put here for anyone interesting https://github.com/magent

[2021-08-16 15:52] n2diving-dgx commented on #33796
To sum up discussioin from several contributors, this issue is caused by a change in M2.4.3 and how it handles the cookie status message.

https://github.com/magento/magento2/search?q=41474&type=commits

Starting with M2.4.0, but prior to M2.4.3 the cookie status message was hidden by default using a bit of inline js that was injected in the theme by /view/frontend/templates/js/cookie_status.phtml

[2021-08-16 17:26] michaelyu0123 commented on #33748
@marvinhinz It is as you said, the original intention was just to set the session content to what is already stored. However this was a missed case in which if the session size prior to upgrade is already above our default session size limitation. A bug is opened internally to resolve this issue. Thank you.

[2021-08-16 17:32] michaelyu0123 commented on #33748
@marvinhinz It is as you said, the original intention was just to set the session content to what is already stored.
@groomershop-mt, could you please provide the steps to reproduce this issue? Thank you.

[2021-08-16 17:45] marvinhinz commented on #33748
@michaelyu0123 wouldnt it be sufficent to just discard the "to-be-saved" data and throw an exception when the limit is reached?

[2021-08-16 18:12] michaelyu0123 commented on #33748
@marvinhinz, that is something that will be looked into once we are able to fully reproduce the issue internally. Thanks.

[2021-08-16 18:29] aaronsilber commented on #33748
We are experiencing what look to be very similar symptoms to the bug described here, but on Magento 2.3.7-p1. It looks like the changes to SaveHandler.php are also present in this security-only release.

[2021-08-16 18:53] chandru-199 opened #33814 "Order by sku template broken in homepage"
### Preconditions (*)

1. Magento EE 2.3.2

### Steps to reproduce (*)

1. In Admin Content -> widgets -> create widget
2. create widget and and set display layout settings as homepage.

### Expected result (*)

1. Order by sku widget should be display properly

### Actual result (*)

1. ![TwStx](https://user-images.githubusercontent.com/51230988/129614842-ed776cdf-4110-4638-8823-d7cc7bdecd6f.png)

[2021-08-16 19:48] ihor-sviziev commented on #25343
@onlinebizsoft, according to https://github.com/magento/merchdocs/pull/1429#discussion_r689712158, since Magento 2.4.0, we have bundled official extension from the marketplace, it's not a part of Magento anymore

[2021-08-16 19:58] pmonosolo commented on #33748
My issue was showing up as a different error:
A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.

^^^ this would pop up on every admin page.

The URL that was failing:
http://magento.test/admin/mui/index/render/key/479b831574442521ca469efdc376886fde3c57d23eebbaced4a6a7f65a44bf10/?namespace=notification_area&sor

[2021-08-16 20:26] ntoombs19 commented on #33678
I experienced this issue upgrading from 2.4.2-p1 to 2.4.3

[2021-08-16 20:51] ericerway commented on #30835
@magento give me 2.4.3 instance

[2021-08-16 21:34] speedupmate opened #33815 "Vertex_AddressValidation breaks checkout on billing-validation-mixin.js"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1.  if Vertex_AddressValidation is in system but not configured to be used from config
2.  if this mixin is initiated or loaded before quote billing address object is initiated or filled with valid data
2.  it is possible to replicate this by requiring billing-validation-mixin.js before billing address is set, for example requiri

[2021-08-16 21:54] QA1980 commented on #32837
I have resolved  reference message hello@example.com. Go to Store > Configuration > General > Contacts > Email options then enter your preferred email in the send email to field

[2021-08-17 00:42] PivitParkour94 commented on #23251
So it seems like using the built in optimiser for composer is unsupported for M2.4.2 at least? Yet this isn't a confirmed bug? Just wondering what further information is needed, other than what @lbajsarowicz has referenced in the commit?

The fact that the response to using a command outside of the standard M2 process to setup a store is shut down as "As you know, composer dump-autoload -o is not

[2021-08-17 03:45] ihor-sviziev commented on #33815
@magento/ext-vertex, could you take a look?

[2021-08-17 04:00] onlinebizsoft commented on #25343
@ihor-sviziev I'm not sure how I should understand this
1. So since 2.4.0, Braintree is included or not included in a default installation? Or we still need to update composer to install it separately?
2. Which is the correct one recommended to use?
https://marketplace.magento.com/paypal-module-braintree.html -> I see it is maintained by Gene but there is no update since long time, bad feedback
ht

[2021-08-17 05:05] mrtuvn opened #33816 "Static content compile time seem not correct as docs describe"
Preconditions
2.4.3 + sample data
Production mode

Default mode (quick strategy) . In the devdocs said it's deploy quicker but it's may not true with test.
https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-static-view.html

But it's seem consume more time when compare with compact mode

![deploy-time](https://user-images.githubusercontent.com/1908873/129666485-7b6ccc3

[2021-08-17 06:05] ihor-sviziev commented on #25343
@onlinebizsoft, I asked for explanation in https://github.com/magento/merchdocs/pull/1429.

[2021-08-17 06:07] engcom-November commented on #33619
@AMishchan, we are closing this issue as there has been no latest update on the same.
Thank you.

[2021-08-17 06:07] #33619 closed, assigned to engcom-November

[2021-08-17 06:34] cha80 opened #33817 "does magento 2.3.5-p2 not surpport PR country code Puerto Rico"
![image](https://user-images.githubusercontent.com/56351661/129675541-d95a272a-3813-4436-9959-8bb480da5b2c.png)

[2021-08-17 06:37] WebHostingAce opened #33818 ""Invalid security or form key. Please refresh the page." on admin panel when logged in."
### Preconditions (*)

1.  Fresh Magento 2.4.3 (No Extensions or Modification)
2.  PHP 7.4.22
3. PHP max_input_vars=5000

### Steps to reproduce (*)

With Magento_TwoFactorAuth Enabled
1. Login to Admin Panel
2. Error Message "Invalid security or form key. Please refresh the page." appears on the 2FA Form

With Magento_TwoFactorAuth Disabled
1.  Login to Admin Panel
2.  Error Message "Invalid secu

[2021-08-17 06:40] chequille opened #33819 "Still shows Add to cart even if salable quantity is 0"
### Preconditions (*)

1. Magento 2.4.3
2.

### Steps to reproduce (*)

1. Set "Display out of stock products" to Yes
2. Place order with a product so salable qty is going to 0

### Expected result (*)

1. After placing order, add to cart should not be displayed anymore for product qith salable quantity 0
2.

### Actual result (*)

1. Add to cart button is still shown
2.

---
Please provide [Sever

[2021-08-17 06:40] chequille commented on #33819
@magento give me 2.4-develop instance

[2021-08-17 06:43] cha80 commented on #33110
when i upgrade magento it's disppear

[2021-08-17 06:47] WebHostingAce commented on #33818
Sorry, Duplicate of https://github.com/magento/magento2/issues/33749

I'm closing this and move into 33749

[2021-08-17 06:47] #33818 closed, assigned to nobody

[2021-08-17 06:48] WebHostingAce commented on #33749
Same issue. Fresh Installation of 2.4.3

[2021-08-17 07:13] chequille commented on #33819
Unbelievable, products where salable qty is 0 are still showing ADD TO CART button.
I reproduced this in the Magento instance.
Release notes of 2.4.3 says this is fixed, but it looks like it is not fixed.

What are you going to do on this?

[2021-08-17 07:45] harizyusoff commented on #32484
@hsb1007 how did you solve this issue ? I'm having same error for this

[2021-08-17 07:57] atIOCrON commented on #15967
Any update on this? A deleted user said it was added to the backlog in 2018. What's going on with this in 2021?

[2021-08-17 08:14] Quazz commented on #32118
If so, this PR https://github.com/magento/magento2/pull/19897 is relevant.

As you can see, a few people were not happy with it being merged, but nothing has been done since to address the concerns.

[2021-08-17 08:27] devchris79 commented on #33817
The screenshot is for currencies, Puerto Rico uses the United States Dollar.

[2021-08-17 08:28] dudzio12 opened #33820 "Lonely <br> tags in payment.html template"
### Summary (*)
When checkout reCaptcha is not visible or visible and configured to use invisible reCaptcha, there are two lonely `<br>` tags inside `payment.html` file:
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Checkout/view/frontend/web/template/payment.html

### Examples (*)

[code]

### Proposed solution

I suggest to remove them completely or move them to reCaptcha

[2021-08-17 08:30] mrtuvn commented on #32118
i don't know that. Maybe we miss/lack of information in details explain why that implemented
Seem this issue quite large and current we don't know what is root cause of problem. It's hard to tell exactly and provide correct solution

[2021-08-17 08:31] sebek222 opened #33821 "Magento2 Automatic group change according billing address and VIES/VAT Validation"
### Preconditions (*)

1. Magento 2.4.2-p1

### Steps to reproduce (*)

1. Adding product to cart.
2. Go to shipping address step and select address without VAT ID
3. On next step, select different billing address (create new with TAX ID)
4. Confirm order

### Expected result (*)

1. When new billing address is created, it should be included in Tax in cart based on VAT ID
2. Updated prices should

[2021-08-17 08:38] jadebaileywowcher commented on #33693
***@***.***

***@***.***

***@***.***

The screen does not change from this and the whirring circle. I click sales, click orders and the above happens

From: Penchalaiah K ***@***.***>
Sent: 16 August 2021 16:44
To: magento/magento2 ***@***.***>
Cc: Jade Bailey ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2] Magento Order issue (#33693)

External Sender~~

Hi @jadebaileywowcher<

[2021-08-17 08:49] #33796 closed, assigned to engcom-Lima

[2021-08-17 08:49] marius-balteanu commented on #32118
Hi!  We have the same issue on Magento CE 2.4.2 with `FINAL_PRICE_LIST_CATEGORY_PAGE` cache tag that makes our Redis cache instance size very big (20GB in some circumstances - we stop the increase with a cron if Redis fails to keep the size at maxmemory - otherwise the server stucks). Should we consider the quality patch mentioned earlier a solution to fix this? (MDVA-36833)? Or other any workarou

[2021-08-17 08:54] moazzama commented on #33804
Hi Magento,
are you working on my issue

[2021-08-17 08:56] sych74 opened #33822 "queue_poison_pill table missing PK"
The **queue_poison_pill** table is missing a PK. Because of this, it cannot be replicated reliably in Galera based systems (eg. MariaDB, Percona XtradbCluster).

### Preconditions (*)
Magento 2.4.3

### Steps to reproduce (*)
1. Open database table **queue_poison_pill**
2. Check if the table has a Primary Key

### Expected result (*)
The database table **queue_poison_pill** has Primary Key

### Ac

[2021-08-17 09:07] hostep commented on #33816
This has been a bug since the strategies were added in Magento 2.2.0

See this duplicated bug report that was closed incorrectly: https://github.com/magento/magento2/issues/10674 😉

[2021-08-17 09:10] mrtuvn commented on #32118
price box seem one small piece of this issue but imho i think we don't need cache for this block. Just only this block not entire all page

[2021-08-17 09:15] speedupmate commented on #15967
@sivaschenko  this issue reported from 2018 bites hard today and 2.4.3 is extra plagued with this , see last referenced issues .

If there was a way to validate mixins against config values or coded conditions like layout nodes can would be great . Even if mistakes are continued to be made there would be a way for others to suggest or code  and PR a proper solution for customers without bashing th

[2021-08-17 09:23] mrtuvn commented on #33749
Not only 2.4.3. I see this issue sometimes after login to admin from version 2.3.3

[2021-08-17 09:34] 19681217 commented on #33134
We are retailer company and we are also going through the same issues. We are in the midst of a platform migration from 1.9 to 2.3 and we have stumbled upon this issue where switching from currency immediately after adding product to basket, with calculated prices on the fly, the amounts are not calculated properly.
We also implemented the solution to set custom prices you provided here by the way

[2021-08-17 10:53] #33695 closed, assigned to ihor-sviziev

[2021-08-17 11:10] engcom-Hotel commented on #33702
Hello @engcom-November,

Can you please confirm if that exception is reproducible in the 2.4-develop branch?

Thanks

[2021-08-17 11:11] #32850 closed, assigned to mrtuvn, andrewbess

[2021-08-17 11:45] engcom-November commented on #33519
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
**Steps performed:**
Setup Multiple Stores/websites [Ref link](https://devdocs.magento.com/guides/v2.4/config-guide/multi-site/ms_websites.html)
Create 2 different templates in each store for the template (Marketing - Communications - Email Templates - Add New Template)
Enable Product Alerts and Apply the newly cre

[2021-08-17 12:17] engcom-November commented on #33798
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
Steps performed:
3 Different Store Views are setup [(Ref link)](https://devdocs.magento.com/guides/v2.4/config-guide/multi-site/ms_websites.html)
Stores - Configuration - General -  Country Options is set to US
Locale Options (Local) is set to Germany
Stores - Configuration - Currency Setup - Base Currency: Euro, D

[2021-08-17 12:22] VladyslavSikailo opened #33823 "API requests without storecode lead to infinity loop"
### Preconditions (*)
1. Magento 2.4.3

### Steps to reproduce (*)
1. Create website-store-storeview structure like this
![image](https://user-images.githubusercontent.com/19759530/129723438-0c9b282a-a0b9-48b3-9c2f-2f5d794c0316.png)
The main idea to have different websites
2. Set BO->Stores->Configuration->General->Web->Url Option->Add Store Code to Urls: **Yes**
3. Run REST API request to create

[2021-08-17 12:30] mpatel015 commented on #33766
Thank you!
Patch suggested by @arjunadobe arjunadobe worked for me, Exact Patch https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/33792.patch was not working so I re created it and it solved the problem.
Here is the patch I used
 vendor/magento/module-paypal/etc/config.xml | 1 +
 1 file changed, 1 insertion(+)

diff --git a/vendor/magento/module-paypal/etc/config.xml b/vendor/mage

[2021-08-17 12:34] engcom-November commented on #33718
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

1. Magento 2 with multiple websites With sample data or should have some products
2. Set the price scope to "Website" in your Magento root/app/etc/config.php
3. Run bin/magento app:config:import
4. Set the price scope to "Global" in your Magento root/app/etc/config.php
5. bin/magento app:config:import
**Issue:** Index

[2021-08-17 12:35] magento-engcom-team commented on #33718
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43103` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-17 12:57] engcom-Lima commented on #33440
Hi @AartiJogiya

We tried to reproduce the issue on 2.4-develop but were not able to reproduce it.

Here is what we did:
1. We disabled Magento Analytics from Admin Panel: Stores > Configuration page under the General > Advanced Reporting tab.
2. We ran cron as suggested.
3. Checked cron_schedule table for any errors but couldn’t find any scheduled crons for cron jobs analytics_subscribe or analyt

[2021-08-17 13:19] maksymz commented on #33772
Hi, @vertic4l !

Don't think this issue is directly related to #31804. I've just checked the translation in clean Magento 2.4.3 without language packs. I have added a translation for one of the phrases from your previous file and it was successfully added to the `js-translation.json` file. After that I added the following phrases:
- `jQuery.mage.__('You have item changes')`
- `jQuery.mage.__("Test

[2021-08-17 13:44] jaykobi commented on #8181
Hi @ni-bschmitt

in the screenrecord you do something that is not related to the question. What you do is:  Create another address with different information. That address is saved correctly.

But the problem is something different. When you select the address form the dropdown and do not change anything, the address also gets saved and then there are **two identical entries** in the address grid.

[2021-08-17 14:08] speedupmate commented on #33815
false alarm, only issue left is that its included when not configured but that is not critical

this is what actually causes the issue and due this mixing being the first entry point I missed the details on template change

https://github.com/magento/magento2/commit/53b85cce1e95a5cfb60db6dc029e551d053e1f14#diff-e4dcdf0e20375ec650339c4cc63147ff8156a5eb9d2e82e2927d744599d157b5

created a new issue f

[2021-08-17 14:08] #33815 closed, assigned to nobody

[2021-08-17 14:19] speedupmate opened #33826 "Checkout/view/frontend/web/template/billing-address/details.html tries to join street address fields on undefined value"
### Preconditions (*)

1. 2.4.3

### Steps to reproduce (*)

1. reach checkout payment step with billing address missing street fields or street field is not a array

### Expected result (*)

1. no errors displayed , checkout working

### Actual result (*)

1. error logged, all script execution broken

`Uncaught TypeError: Unable to process binding "text: function(){return currentBillingAddress().

[2021-08-17 14:20] engcom-Echo commented on #33644
@magento give me 2.4-develop instance

[2021-08-17 14:22] vertic4l commented on #33772
Hi @maksymz,

u are right, while upgrading to 2.4.3, i've lost the language pack within the composer.json somehow.
Thanks for pointing me in the right direction.

[2021-08-17 14:22] #33772 closed, assigned to engcom-November

[2021-08-17 14:44] engcom-Echo commented on #33644
Hi @vmalyk

We tried to reproduce this issue on 2.4-develop & were unable to do so.
Here are the Steps we followed,
1. Created multiple stores and set different Order status labels for each store.
<img width="1273" alt="Screenshot 2021-08-17 at 19 58 46" src="https://user-images.githubusercontent.com/51681435/129745513-51b72fb9-2b5e-4c79-bb0e-ab70687109ba.png">
2. Placed orders from these stores t

[2021-08-17 14:49] tahiryasin commented on #4572
give it a try

`$_product->getPriceInfo()->getPrice('final_price')->getValue()`

[2021-08-17 15:03] bohdan-harniuk commented on #33780
Hello, team!

I reviewed the code for String to Number Comparison. I have not found any place that can be considered critical and in which we need to make any changes. We should postpone this task until MFTF framework is able to be run on the PHP 8.

Thanks, Bohdan.

cc. @fascinosum

[2021-08-17 15:17] lenaorobei opened #33827 "Test confirmation"
Test confirmation

[2021-08-17 15:31] zlep commented on #33798
@engcom-November

I set up vanilla Magento 2 instance. Here are the exact steps to reproduce:

1.) `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition .`
2.) `magento setup:install --admin-firstname=Admin --admin-lastname=Admin --admin-email=MYMAIL --admin-user=admin --admin-password=MYPASSWORD --base-url=MYURL --db-host=localhost --db-name=MYDB --

[2021-08-17 15:39] #33827 closed, assigned to lenaorobei

[2021-08-17 15:39] lenaorobei opened #33828 "Test confirmation"
Test confirmation

[2021-08-17 15:40] engcom-Echo commented on #33758
Hi @chequille ,
It seems you have created a new ticket ([https://github.com/magento/magento2/issues/33758](url)), with detailed description & steps to reproduce the issue. Hence we are closing this ticket.
Thank you.

[2021-08-17 15:40] #33758 closed, assigned to engcom-Echo

[2021-08-17 15:46] zlep commented on #33798
Here's a video, showing the issue:

https://user-images.githubusercontent.com/10477541/129758144-577042e9-6d3c-432c-8d24-0022b85e2444.mov

[2021-08-17 15:49] engcom-Echo commented on #28636
Hi @amenk
We tried to reproduce this issue on **2.4-develop** & was unable to do so.
Here are the Steps we followed,
1. Set up a fresh instance on 2.4-develop branch
2. **Stores** -> **Configuration** -> **General** -> **Web** - Set the secure base URL & Enable use secure Base URLs on Storefront & Admin.
3. Save the Config & Reindex & flush cache.
4. Set up the SSL Certificate for the website
5. A

[2021-08-17 15:59] engcom-Echo commented on #33802
Hi @sergeynezbritskiy
We tried to reproduce this issue on **2.4-develop** & were unable to do so.
Also as per your comments, you have confirmed that issue is not reproducible on 2.4-develop, Hence we are closing this issue.
We request you to create separate issues for any new issues identified during development/debugging.
Thank you.

[2021-08-17 16:03] engcom-Echo commented on #33823
@magento give me 2.4-develop instance

[2021-08-17 16:04] amenk commented on #28636
While I understand that all issues are tried to be reproduced, I still suggest the exit is removed, as this is bad practice - even this is not 100% reproducible in current Magento versions.
Is the exit() still there?

[2021-08-17 16:10] #33828 closed, assigned to nobody

[2021-08-17 16:13] MajorKuprich commented on #33770
@Thundar fix unfortunately didn't resolve issue for me.
But I've found solution which rollback changes from https://github.com/magento/magento2/commit/ece2528a6f09da1486d63ddd794f746501984413 by remove primary constraint.

**etc/db_schema.xml**
[code]
Next generate whitelist: `bin/magento setup:db-declaration:generate-whitelist`
Finally command `bin/magento setup:db-data:upgrade` should be execute

[2021-08-17 16:18] engcom-Echo commented on #33819
@magento give me 2.4-develop instance

[2021-08-17 16:48] engcom-Echo commented on #33819
Hi @chequille
We tried to reproduce this issue on 2.4-develop & was unable to do so.
Here are the Steps we followed,
1. **Stores** > **Configuration** > **Catalog** > **Inventory** > **Stock Options**. Display Out of Stock Products: Choose **Yes** to enable displaying Magento out of stock products in the frontend
2. Create / Edit a product such that its quantity is 1 & place an order for the produ

[2021-08-17 17:30] chequille commented on #33819
Made another try with "Impulse duffle"
![grafik](https://user-images.githubusercontent.com/15807794/129772632-db41bb1a-6dc0-4449-a1c8-7b4b81fba649.png)
Bought 100 pieces for product going to salable 0

![grafik](https://user-images.githubusercontent.com/15807794/129772862-47f076de-0c76-45d9-80d4-50c860c3bf78.png)
Going to the product page after order was placed.
And Add to cart button is there as

[2021-08-17 17:41] lenaorobei opened #33829 "Test confirmation"
Test confirmation

[2021-08-17 17:45] inovation-inertia commented on #30593
Rest API also be a part of Magento . Using GraphQL is not the solution of this Problem . So i request you please do not close this close

[2021-08-17 17:46] chequille commented on #33819
Hi @engcom-Echo,

now I found the problem. As I mentioned before, you changed the inventory from 100 to 1 which I did not. I bought the 100 piece. I tried now to first edit the prodcut and save it and than making an order for 100 pieces. When I do so, add to cart button is nt shown anymore.

But this means, that the saving of a product does change something somewhere in the database.
Of course, I

[2021-08-17 17:57] #33829 closed, assigned to nobody

[2021-08-17 18:04] anzin commented on #33777
Hello, I investigated of this issue and found:
The function **array_key_exists()** used in **53** files, but problems with PHP 8 compatibility not found.

Files where **array_key_exists()** is used :

1. \Magento\FunctionalTestingFramework\Allure\Adapter\MagentoAllureAdapter
2. \Magento\FunctionalTestingFramework\Codeception\Subscriber\Console
3. \Magento\FunctionalTestingFramework\Config\Data
4.

[2021-08-17 18:09] lenaorobei opened #33830 "Test confirmation"
Test confirmation

[2021-08-17 18:27] hunainaslam commented on #28067
@magento has this issue fixed in 2.3.6? I'm still facing this issue? Thanks

[2021-08-17 19:08] #33830 closed, assigned to nobody

[2021-08-17 20:43] basvanpoppel commented on #33741
@mrtuvn this issue still has 'ready for dev' status, while this pr should be in the review process: https://github.com/magento/security-package/pull/302

@speedupmate  This PR just fixes this specific issue. Preventing other modules from adding wrappers isn't my goal here. If you know of a better way to fix this issue, please share it.

I hope new features in the future will have more test coverag

[2021-08-17 20:44] hostep commented on #28067
@hunainaslam: this has never been a bug as far as I know. It's most likely that your installation is somehow not able to run the the `exportProcessor` consumer that is responsible for handling the export.

This consumer gets started up via one of the cronjobs in Magento, so make sure the `bin/magento cron:run` executes every minute.
If that doesn't help, then check your `app/etc/env.php` file and

[2021-08-17 21:56] github-jira-sync-bot opened #33832 "Update squizlabs/php_codesniffer, ramsey/uuid, elasticsearch/elasticsearch composer dependencies to the latest versions"
Update the following composer dependencies to the latest versions:
* squizlabs/php_codesniffer (<sub>3.6.0)
* ramsey/uuid (</sub>4.2.0)
* elasticsearch/elasticsearch (~7.14.0)

What needs to be done:
 - Review and list the backwards-incompatible changes of the new version (link the migration guide if available)
 - Update the dependency constraint
 - Perform the testing of affected areas after upda

[2021-08-17 22:27] sdzhepa opened #33833 "[TEST] testing new confirmation flow 001"
### Preconditions (*)

1.
2.

- [ ] Point 1
- [ ] Point 2
- [ ] Point 3

{  )(*&^%$#<?

[code]

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Iss

[2021-08-17 22:43] chequille commented on #33819
Hi @engcom-Echo
unfortunately, on my site even the editing and saving a product again does not change something. On my site add to cart is shown.

but something must be wrong in any case, Try not to change the product and place an order with the quantity which is in the database of a fresh magento instance (I think they are all set to 100) and you will see, that Add to cart is shown.

What else co

[2021-08-17 22:51] #33833 closed, assigned to nobody

[2021-08-17 22:52] sdzhepa opened #33834 "[TEST] testing new confirmation flow 002"
UPDATED DESCRIPTION AFTER REOPEN

[2021-08-17 23:48] sdzhepa opened #33835 "[TEST] testing new confirmation flow 003"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-17 23:48] #33834 closed, assigned to nobody

[2021-08-18 00:04] #33835 closed, assigned to nobody

[2021-08-18 00:05] sdzhepa opened #33836 "[TEST] testing new confirmation flow 004"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-18 00:33] sdzhepa opened #33837 "[TEST] Triage Test Issue 01"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-18 00:33] sdzhepa opened #33838 "[TEST] Triage Test Issue 02"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-18 02:19] engcom-Alfa opened #33839 "Fixed invalid method call"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1. https://github.com/magento/magento2/pull/33658#issue-701397597
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue

[2021-08-18 03:45] mrtuvn commented on #33826
Is there any solutions for such case ? Highly interesting this issue

[2021-08-18 03:50] engcom-Echo commented on #32994
@magento give me 2.4-develop instance

[2021-08-18 03:58] mrtuvn commented on #33826
Seem in magento requirejs default use async mode for request scripts

[2021-08-18 04:04] engcom-Echo commented on #33523
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-08-18 05:01] vk44295 opened #33840 "Custom Option selection regular price should remain same only special price should change accordingly Magento 2"
### Summary (*)
I want to change the special price only when custom option select by any customer currently both regular price and special price changed on selection. I am using Magento 2.4.2

### Examples (*)
https://myimaginecom.hyperx.cloud/mac/macbook-air/13-inch-macbook-air-512gb-space-grey-m1-2020

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/c

[2021-08-18 05:42] mrtuvn commented on #33820
It's self closing tag but must be a reason we have that tag in that template. I assume they want add new line for the captcha. But it's still valid html

[2021-08-18 05:58] engcom-Lima commented on #33046
Hi @eperezbanana,

We tried to reproduce this on 2.4-develop version but everything worked as expected.

Here is what we did on 2.4-develop instance:
1. We created user and logged in using Graphql.
2. We created cart and created shipping address as suggested in 'Steps to reproduce’.
3. Tried to call setShippingAddressesOnCart graphql mutation but instead of errors shown, we got expected result.

S

[2021-08-18 06:05] dudzio12 commented on #33820
@mrtuvn There are the other ways to achieve that html-less. With two `<br>` we end up with 2 line breaks, when captcha is disabled or invisible. That's why I think it should be removed completely and moved to stylesheet shoulders, which will implement basic margin on captcha element itself, only when `place-order-captcha` region is not empty.

[2021-08-18 06:14] megancooper commented on #32785
@shahriar-vdc Where you able to solve this problem? I'm facing something similar

[2021-08-18 06:15] ihor-sviziev commented on #33802
@engcom-Echo, please double-check on 2.4.3, as this release wasn't yet merged to 2.4-develop branch

[2021-08-18 06:19] ihor-sviziev commented on #33826
@sivaschenko @sidolov @gabrieldagama, this issue should have p1 prio

[2021-08-18 06:32] engcom-Lima commented on #30246
Hi,

We have tried with all the required steps as provided in the documentation for Advanced JS Bundling and were able to generate bundles as expected.

For more detailed explanation, please refer:
https://github.com/magento/magento2/issues/30246#issuecomment-863325213

Due to inactivity from the contributor after the explanation, closing this ticket.

[2021-08-18 06:32] #30246 closed, assigned to engcom-Lima

[2021-08-18 06:34] engcom-Echo commented on #33819
@magento give me 2.4-develop instance

[2021-08-18 06:34] speedupmate commented on #33826
yes, rewrite/revert in theme scope

[2021-08-18 06:40] speedupmate commented on #33741
Part of this is the layoutprocessor style config you are trying to add but with a plugin to requirejs-config  collection class to just exclude non-configured extension files on matching conditions (like enabled/disabled , auth failing etc).

Even better would be stopping popularising mixins as a main go to weapon in devdocs for editing/wrapping component functionality as this is really a sledgeham

[2021-08-18 06:53] engcom-Echo commented on #33523
Hi @vseager
We tried to reproduce this issue on 2.4-develop & was unable to do so.
Here are the Steps we followed,
1. Choose a product  from admin panel & add related products, upsells and cross-sells to that product
2. Create an import file which just removes upsells from the product and has no other columns ( We used the sample CSV shared by you)
3. Go to **System** > **Data Transfer** > **Impor

[2021-08-18 07:09] engcom-November commented on #33702
Hi @engcom-Hotel ,
Exception is not reproducible on 2.4-develop branch but difference in "Purchase Date" and "Order Date" columns has been observed for GMT (America/Nuuk) Timezone.
Thank you.

[2021-08-18 07:18] shahriar-vdc commented on #32785
@megancooper We are still facing the issue as Magento acknowledged it as `non-reproducible`.

However, I was able to fix it temporarily. Please see my commit: https://github.com/shahriar-vdc/magento2/commit/d79fcc190e1d55a36794af7d2443e241d19311fc

[2021-08-18 07:31] anzin commented on #33778
@magento I am working on this

[2021-08-18 07:32] engcom-Lima commented on #33807
@IbrahimS2,

Sorry your question is not clear about PDF.

Invoices are created with the items/price values which are received when the order was created. Generally invoices does not contain any information about returns/refunded amount.

Credit Memos are created when any/all item from the original order was returned. A credit memo is a document that shows the amount that is due the customer for a

[2021-08-18 07:33] anzin commented on #33778
@magento I am working on this

[2021-08-18 07:39] engcom-November commented on #33813
Hi @rajubytes,
This is the duplicate of https://github.com/magento/magento2/issues/33445 for which PR is in Progress. Hence closing this issue.
Thank you.

[2021-08-18 07:39] #33813 closed, assigned to engcom-November

[2021-08-18 07:45] engcom-Lima commented on #33245
Hi @amenk,

Since this issue is originally 3 years old and were probably testedon old versions of Magento. So can you please check whether this issue still exists on 2.4-develop instance ?

If yes, please provide steps to reproduce on 2.4-develop instance.

For checking the issue thoroughly, it is very important that the issue should be reproducible. Then only we’ll be able to find a solution to t

[2021-08-18 07:46] SomayaAbdo opened #33842 "Invalid Captcha"
Hello,

I changed my password account a week ago but since then I'm trying to enter my account. every time it requires a captcha and I write it but it keeps says "Invalid Captcha" I've tried to reach any support from Magento it self but non helps. I'm working with ver 2.3.1

[2021-08-18 07:56] amenk commented on #33245
@engcom-Lima No, this issue is not 3 years old. We tested on 2.3.5 and it seems a general problem.
Can you provide the commits where this was fixed?

I am pretty sure the issue is still there, as in https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Translation/Model/Js/DataProvider.php#L97 also .phtml files are left out from the string collection
and in https://github.com/magen

[2021-08-18 08:06] SomayaAbdo commented on #33842
@magento-admin

[2021-08-18 08:14] bartoszkubicki commented on #5709
Still an issue in 2.3.5 (Commerce Edition)

[2021-08-18 08:30] gowrizrh opened #33843 "Unable to remove parameter override for a webapi route"
I stumbled upon the necessity to remove a parameter override which is defined in a `webapi.xml`

[code]

My initial though was setting `force="false"` should remove the paramter being overwritten by the `\Magento\Framework\Webapi\Rest\Request\ParamOverriderInterface`, however that was not the case.

Upon closer look into the schema converter `\Magento\Webapi\Model\Config\Converter` that's responsi

[2021-08-18 08:31] engcom-Lima commented on #29373
Hi,

Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
1. Found static path **$subdirectoryPath = 'analytics/';** in dir magento2/app/code/Magento/Analytics/Model/ExportDataHandler.php
2. We used Magento 1st instance and made some minor code changes in CollectData.php and ExportDataHandler.php respectively to print the dir /private/tmp/analytics/tmp/.
3. We used Magen

[2021-08-18 08:45] gowrizrh commented on #33843
@magento I am working on this

[2021-08-18 08:54] gowrizrh commented on #33843
I will create a PR to fix this.

[2021-08-18 09:10] engcom-Echo commented on #33823
@magento give me 2.4-develop instance

[2021-08-18 09:18] mrtuvn commented on #33245
https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/translations/translate_theory.html
Seem knockout not support translate from phtml if you see this document. I don't see any mention in this doc

[2021-08-18 09:25] amenk commented on #33245
Interesting catch, yeah, so it is having a flaw by design.
I believe the problem is not in https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Ui/view/base/web/js/lib/knockout/bindings/i18n.js but in the collection of the strings in the backend-code.

[2021-08-18 09:56] engcom-November commented on #33281
Hi @niklaswolf / @theshreyas ,
Same behavior is present on 2.4-develop when tried to reproduce this manually on front end.
On reloading Shopping Cart page, error "The requested qty is not available" is displayed to the user if the quantity is not available. Also, product Quantity is not reduced but "Proceed to Checkout" button is not displayed to the user as quantity is no longer available which i

[2021-08-18 10:16] engcom-November opened #33845 "Two error messages: "The requested qty is not available" are displayed on reloading Shopping Cart page when requested product quantity is no longer available"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Admin - Create a product with Quantity more than 1. Say ex: 10  (Catalog - Products - Add New Product)
2. Front-end - Login as Customer - Add the Product to Cart with Quantity say ex: 8
3. Admin - Edit the Product - Update the Quantity  say ex: 5 and save. Or purchase the Product using other customer Id's so that the sto

[2021-08-18 10:20] eduard13 commented on #33779
We weren't able to find any occurrence that uses concatenation together with addition/subtraction operation. From this point of view, we should be fine here.

Closing the ticket.

Thank you.

[2021-08-18 10:20] #33779 closed, assigned to eduard13

[2021-08-18 10:33] engcom-Echo commented on #32603
Hi @HenKun. Thank you for your report.
To help us process this issue please provide the issue description in the following format

Summary of the issue
Information of your environment, Preconditions (*)
Steps to reproduce
Expected and actual results
Thank you

[2021-08-18 10:39] speedupmate commented on #33101
2.4.3 affected

`The Content-Security-Policy directive 'frame-ancestors' does not support the source expression ''unsafe-inline'' logged in every page to console `

[2021-08-18 10:56] mattdifferentdog opened #33846 "Security warning from company"
Hi there

We received the following email from a security company regarding our shop in which they claim we have major security flaws with our Magento shop which is concerning. I've attached the full report
[shop.differentdog.com.pdf](https://github.com/magento/magento2/files/7006622/shop.differentdog.com.pdf)

This is Kent from the cyber security unit at Camowhite based in Coventry. I would like

[2021-08-18 11:10] kemexyz commented on #33819
I habe a magento 2.4.2 now updated to Magento 2.4.3 affected by the same issue.

Got a simple product with
qty 1
salable qty 0
reservation for qty 1 form an order

Add to cart button still showing after reindex, cache.

All salabe check functions report the product is salable and in stock which is not correct.

[2021-08-18 11:13] engcom-November commented on #33817
Hi @cha80,
Current Magento 2.4-develop branch behavior is - "Puerto Rico" is provided as a State Option for Country "United States" and currency "US Dollar" can be used.
![image](https://user-images.githubusercontent.com/60198231/129888222-d0353a60-2140-4aaa-8e1a-6f195c28c455.png)
Kindly recheck under State Options by Selecting "United States" Country and confirm back.
Thank you.

[2021-08-18 11:36] chequille commented on #33819
Oh, somebody else also has this problem. In some point of view I am very happy about this :-) I am not the only one.

In the meantime I disabled all third party modules which I am using in my setup, but still wrong!!!!

[2021-08-18 11:54] kemexyz commented on #33819
@chequille Did you do a data migration from m1 ?

This issue does not happen with all of the products for me.

[2021-08-18 11:57] engcom-November commented on #33798
Hi @zlep
Its recommended to verify the issues on Magento 2.4-develop branch only as the issues in 2.4.2-p1/ 2.4.3 are fixed in 2.4-develop branch. I'm not able to reproduce this issue on Magento 2.4-develop branch with provided steps. Kindly recheck the issue on 2.4-develop and provide missing steps if any if the issue is still reproducible.
Thank you.

[2021-08-18 12:21] chequille commented on #33819
@kemexyz
No, I did not data migration.
I am using database dump from my working 2.3.x installation and change of course the urls in core_config_data table and run magento setup:upgrade

This works pretty good, but maybe not regarding this issue.
What I tried is to make a new product and did have a look with this new product. On my site, it still have the same behaviour.

So, no idea whats happenin

[2021-08-18 12:26] chequille commented on #33819
@kemexyz
By the way, I remember now, that I did a data migration when I switch from M1 to M2 last year in June.
Do you think this can be a problem?

[2021-08-18 12:26] paales opened #33848 "GraphQL Cart tax improvements for cart"
*As a visitor I want to see prices in my cart with the proper tax formatting so that I can accurately view my prices.*

### AC

* `Discount` should include `price_incl_tax` and `price_excl_tax` and amount _should_ probably be deprecated?
* `SelectedShippingMethod` should include `price_incl_tax` and `price_excl_tax` and `amount` should probably be deprecated?
- `CartItemPrices` should include `pri

[2021-08-18 12:30] kemexyz commented on #33819
@chequille I was thinking about it after testing a product that did not have the issue. But on a second test it was salable again even when salable qty was 0.

Just seems strange that we would be the only 2 people seeing this. I'm gonna try to test this on a clean M2.4.3 tonight.

[2021-08-18 12:45] engcom-November commented on #33791
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible for both Signedin user and public user.
**Steps performed:**
Setup Paypal Express Checkout from Admin - Stores - Configuration - Sales - Payment Methods and enable PayPal Pay Later and Save
Reindex and Clear cache
Navigate to Front-end
Add a Product to Cart and Checkout - **No issue**: PayPal Pay Later text is displ

[2021-08-18 13:38] glo80326 commented on #33502
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-08-18 13:40] engcom-Echo commented on #33502
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-08-18 13:41] engcom-Echo commented on #33502
@magento give me 2.4-develop instance

[2021-08-18 13:42] engcom-Echo commented on #33502
@magento give me 2.4-develop instance

[2021-08-18 13:42] zlep commented on #33798
@engcom-November
I'd love to check on develop-branch and really hope the issue is fixed, because it would be a major bug for localization. Unfortunately I'm not sure how to install develop-branch. Can you help?

[2021-08-18 13:45] DuckThom commented on #33748
I was running into the same issue on the admin panel on a couple of projects. I noticed that Magento dumps the entire admin user model + relations (namely, all the ACL permissions) into the session, which is a lot of data. Currently our average admin session size seems to be around 543000 without any special modifications to the admin panel. If this is also the case on clean installations (in our

[2021-08-18 13:46] engcom-Echo commented on #33502
@magento give me 2.4-develop instance

[2021-08-18 13:51] sergiy-v commented on #33615
@magento I am working on this

[2021-08-18 13:57] engcom-Lima commented on #33810
Hi @kestraly,

Thank you for reporting this issue.

Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
1. Enabled "Used for Sorting in Product Listing" for attribute "color" doom Dropdown.
2. Added color in default Attribute Set.
3. Created new products with different colors assigned to each one of them.
4. Did reindexed using bin/magento index:reindex
5. Checked on fr

[2021-08-18 14:01] #33732 closed, assigned to eduard13

[2021-08-18 14:16] engcom-Echo commented on #33502
Hi @ankithg03
We tried to reproduce this issue on 2.4-develop & were unable to do so.
Here are the Steps we followed,
1. On a clean instance of magento, Login as Customer on frontend.
2. Add couple of products to wishlist.
3. Send Request to GraphQL wishlist query & check if all the items added to wishlist are retrieved successfully.
4. Then delete a Product which was included in the wishlist, Sen

[2021-08-18 14:43] engcom-Echo commented on #33657
@magento give me 2.4-develop instance

[2021-08-18 14:50] mrtuvn commented on #33657
Admin > Config
Use Custom Admin Url => YES
Fill custom url path
"The Admin URL must be in the same Magento installation, and have the same document root as the storefront."
I think we can't change total url here seem it's related with entire infras configuration

[2021-08-18 14:59] mrtuvn commented on #33657
[code]

[2021-08-18 15:00] engcom-Echo commented on #33657
Hi @sravanigogineni89
We tried to reproduce this issue on **2.4-develop** & were unable to do so.
Here are the Steps we followed,
1. Login into admin panel
2. Go to **Stores** -> **Settings** -> **Configurations** - > **Advanced** -> **Admin**
3. Set **Use Custom Admin URL** to **Yes**.
Enter the Custom Admin URL - **The Admin URL must be in the **same** Magento installation, and have the same doc

[2021-08-18 15:06] lilbumblebear commented on #31180
I do not think this issue has been resolved.  Please see
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/ConfigurableProductGraphQl/etc/schema.graphqls
Line 65

customizable_options: [SelectedCustomizbleOption] (without !)

This causes the same error initially described when running the query

[2021-08-18 15:11] lenaorobei opened #33852 "Test"
Test

[2021-08-18 15:17] #33852 closed, assigned to nobody

[2021-08-18 17:14] github-jira-sync-bot opened #33853 "Update Third Party library: jquery-validate"
* Update Third Party libraries: lib/web/jquery/jquery-validate
* Check which is the latest version available and replace the current one.
* Adjust Magento code to work with new version

 

[2021-08-18 18:34] vertic4l opened #33854 "broken setup of configurable products"
### Preconditions (*)
Magento 2.4.3

### Steps to reproduce (*)
1. add configurable product
2. add price and set a category where u want to find it later
3. save it
4. set advanced pricing (now you are able to do it, lol)
5. set special price
6. save it
7. index + cache is updated due to cronjob etc.
8. look in frontend, you find the product with special price and it's buyable
9. now associate pro

[2021-08-18 19:10] basvanpoppel commented on #33741
@speedupmate I think you haven't seen the PR, as I'm not adding config - i fixed a missing part in what's already there.

For the rest I totally agree with you.

[2021-08-18 19:41] vertic4l commented on #33820
using <br> tags to create space is such a bad idea

[2021-08-18 20:03] birdman002 commented on #33749
When we upgraded to 2.4.3 this also happened. Put in a ticket from support they said they couldnt replicate it. Nice to see others are having the same issue

[2021-08-18 20:10] birdman002 commented on #33748
This issue took me a week to figure out when we got access to it in July (Commerce) finally realizing like DuckThom said it dumps literally all the ACL permissions into the session. Default 256000 seems like a lot but when its all the ACL info then it renders TFA useless as well we can't edit order because of this issue. You can replicate this issue by assigning like 7-9 admin user roles to one pe

[2021-08-18 20:21] hostep commented on #33743
Hi @Morgy93: https://github.com/magento/devdocs/issues/7960 was solved today and now `ext-sodium` is documented as a required extension on https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html

I believe we can close this issue now?

[2021-08-18 20:29] hostep commented on #33748
@nathanjosiah: tagging you in here, you might be interested in this, especially in the previous comment.

[2021-08-18 21:50] vertic4l commented on #33854
@magento give me 2.4-develop instance

[2021-08-18 22:02] vertic4l commented on #33854
![image](https://user-images.githubusercontent.com/1771763/129977934-e897e98e-8f5e-463f-a138-2a9df5b85d06.png)

![image](https://user-images.githubusercontent.com/1771763/129977975-aecdf8b9-bdcb-4e2d-a469-d68ef4f3bb8e.png)

Tested in magento instance

[2021-08-18 22:15] github-jira-sync-bot opened #33855 "Investigate the removal/replacement of Fotorama"
What needs to be done:
 - Analyze and list the usages of the library in the codebase (affected areas)
 - Analyze the possible removal of this dependency
 - Analyze the possible replacement for this abandoned library if needed
 - Describe the impact of these operations
 - Perform removal/replacement if possible
 - Perform the testing of affected areas (use automated tests if available)
 - Provide u

[2021-08-18 22:22] nopenopenope commented on #16349
The issue appears in Magento 2.4.3 as well. I use this code to generate Configurable products, where the configurable attributes are always different:
[code]

Inside `$data['child_products]` I pass Interceptor Classes of previously generated Simples. The simples do always have *different* attributes assigned for the Attribute that is also being passed to the configurable as being the configurable

[2021-08-18 22:50] #33117 closed, assigned to nobody

[2021-08-18 23:03] #33509 closed, assigned to karyna-t

[2021-08-18 23:10] #33782 closed, assigned to bohdan-harniuk

[2021-08-18 23:24] maxvelikodnev commented on #11754
I had the same problem. I confirm the bug is fixed with this css: **gallery-placeholder {width: 100%; }**

Perhaps the bug takes place only in templates where bootstrap 4 is used.  The image on the product page disappears (set to 1 pixel) when exiting full screen mode or when the browser is resized

[2021-08-18 23:32] nathanjosiah commented on #33748
@hostep thanks for the heads up. Looking into this

[2021-08-18 23:34] chequille commented on #33819
@engcom-Echo
Cannot belileve that you set this issue to "cannot reproduce"
DID YOU READ WHAT I WROTE?

Once again: change Display Out of Stock Products to Yes and than place an order for a bag with qty 100 and have a look at this product. It is showing the Add to cart button as I said.
Do not change anything else. Do not edit the product and change qty, just place the order with qty 100 and you wi

[2021-08-19 00:10] #33678 closed, assigned to nobody

[2021-08-19 03:44] engcom-Bravo commented on #33586
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps to reproduce:
Step 1:  Go to {your_domain}/catalogsearch/advanced/result/?name[]=error

Step 2: Below error is shown
<img width="1315" alt="catalogsearch" src="https://user-images.githubusercontent.com/51680745/130004135-cb701d19-8a4d-45c2-a84b-345c389d1369.png">

Magento exception log

main.CRITICAL: Warning: tr

[2021-08-19 04:10] Guru-pwc commented on #31277
How to use this magento patch file

[2021-08-19 04:33] engcom-Bravo commented on #33617
Hi @Veorirac

we tried to reproduced this issue on 2.4.develop but were unable to do so

Below are the steps we followed
  1.As the customer add two different products to the cart
  2.Open Shopping Cart page
  3.Click on Check Out with Multiple Addresses Link
  4.Select different addresses for products
  5.Click Update Qty & Addresses button
  6.Click Back to Shopping Cart button
  7.Change qty fo

[2021-08-19 04:55] engcom-Lima commented on #32572
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
1. Found class ‘action-remind’ added in authentication template  Path: app/code/Magento/Checkout/view/frontend/web/template/authentication.html
2. Other all related files have class ‘remind’ instead.
**Issue:** Inaccurate class name added in authentication template

[2021-08-19 05:20] engcom-Echo commented on #33576
Hi @mrtuvn
To help us process this issue please share with us additional details regarding the issue under the requested heads as below.
Summary of the issue
Information on your environment, Prerequisites
Steps to reproduce
Expected and actual results

Thank you.

[2021-08-19 05:30] engcom-Echo commented on #33819
@magento give me 2.4-develop instance

[2021-08-19 05:37] engcom-Lima commented on #32446
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
1. Found $this->_fileName to be written while trying to log exception.
File: lib/internal/Magento/Framework/Image/Adapter/Gd2.php
2. Filepath is empty in exception log file.

[2021-08-19 05:59] #33743 closed, assigned to nobody

[2021-08-19 06:06] engcom-Echo commented on #33819
Hi @chequille,
First of all thank you for providing additional details for reproducing the issue, though we were unable to reproduce the issue at first instance with the steps you had provided, however with the new details we are able to reproduce the issue.
But even with the new steps the issues doesnt seems to reiterate every item, I was able to reproduce the issue only for the first time on a c

[2021-08-19 06:12] WebHostingAce opened #33856 "Currency Symbol Disappear on Product View Page (After Fully Loaded)"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Visit any product page
2. Currency symbol appears eg - $1.00
3. Wait untill page fully load.
4. Currency symbol disappear eg - 1.00

### Expected result (*)

1. Currency Symbol to remain displayed.

### Actual result (*)

1. Currency symbol disappear

Tried with a freshly installed Magento 2.4.3. I can confirm this is a bug.
-

[2021-08-19 06:27] engcom-Bravo commented on #33743
Issue closed by reporter.

[2021-08-19 06:43] DinkoIlicic commented on #33749
This is happening on 2.4.2-p2 as well. The issue seems to be tied to https://github.com/magento/magento2/compare/2.4.2-p1...2.4.2-p2#diff-b2a114335ec9a934a79cf70838fa7920ef5beb6f588fa353b58561c18ddceacbR229

$baseUrlPath = trim(parse_url($this->backendUrl->getBaseUrl(), PHP_URL_PATH), '/');
This function is returning an empty string instead of the base URL because PHP_URL_PATH is specified instead

[2021-08-19 06:54] yogicse commented on #33856
@WebHostingAce

I tried to replicate the issue on my local setup with Magento 2.4.3 Open Source. But Issue not replicate. it shows the price with currency symbol after fully page load as well.

**System Configuration**
Ubuntu 18, PHP 7.4, Apache

**Tested In Both Mode of Application**
Magento 2.4.3 with Production mode
Magento 2.4.3 with Developer mode

**Step Followed**

Visit any product page
Cu

[2021-08-19 06:54] DinkoIlicic commented on #33749
The issue seems to be tied to the following change https://github.com/magento/magento2/compare/2.4.2-p1...2.4.2-p2#diff-b2a114335ec9a934a79cf70838fa7920ef5beb6f588fa353b58561c18ddceacbR229

$baseUrlPath = trim(parse_url($this->backendUrl->getBaseUrl(), PHP_URL_PATH), '/');
This is returning an empty string, which then creates the wrong admin login requestUri.

[2021-08-19 06:57] engcom-Echo commented on #33856
@magento give me 2.4-develop instance

[2021-08-19 07:02] WebHostingAce commented on #33856
@yogicse Thank you for your reply.

Ive installed on a fresh copy. The currency is A$.

Tried on Mozilla, Chrome and Edge. Same result.

https://www.fmbdev.xyz/test2.html

[2021-08-19 07:32] WebHostingAce commented on #33856
Cart page Cart Summary and Checkout page Order Summary also missing the currency symbol.

[2021-08-19 07:37] himanshusavranntz opened #33857 "Magento 2.4.2-p2 Window10 localhost Xampp broken static content"
I am trying to setup Magento 2.4.2-p2 on local with Xampp with php7.4. Website is trying to fetch the css and js files from folder _view in place of theme like following url.

http://abc.local/static/version1629289186/frontend/_view/en_US/requirejs/require.js

so css and js files are redirecting to 404 page. Please let me know if anyone has solution to fix this issue.
![error](https://user-images.

[2021-08-19 07:42] engcom-November commented on #33768
Hi @sgeleon, are you using [Yireo Replace GraphQL](https://github.com/yireo/magento2-replace-graphql) in your project? If yes, try removing it and upgrade to 2.4.3. Kindly elaborate the steps if issue still exist.
Thank you.

[2021-08-19 07:44] himanshusavranntz commented on #33857
**Summary of the issue:**
I am trying to setup Magento 2.4.2-p2 on local with Xampp with php7.4. Website is trying to fetch the css and js files from folder _view in place of theme like following url.

http://abc.local/static/version1629289186/frontend/_view/en_US/requirejs/require.js

so css and js files are redirecting to 404 page. Please let me know if anyone has solution to fix this issue.
Inf

[2021-08-19 07:56] engcom-November commented on #33798
Hi @zlep,
To deploy vanilla Magento instance, please add a comment to this issue: "@magento give me 2.4-develop instance" to reproduce the issue on 2.4-develop branch.
Please find the example screenshot for your reference.
![image](https://user-images.githubusercontent.com/60198231/130030189-0af2c02c-aff7-4b9e-b71d-db2e4d116022.png)
Thank you.

[2021-08-19 08:08] engcom-Lima commented on #33724
Hi @horwengliang95,

As far as documentation for OAuth based Authentication is concerned, you should be able to generate Authentication as per the steps provided in it. Request and Response descriptions are provided which are enough to get Access Token(oauth_token and oauth_token_secret). Furthermore, you can get the list of error codes for your reference from https://devdocs.magento.com/guides/v2

[2021-08-19 08:08] anzin commented on #33778
Hello, , team!
I investigated of this issue and found:

**The operator + used in 22 files, but problems with PHP 8 compatibility not found.**

1. \Magento\Sniffs\Commenting\FunctionCommentSniff
2. \Magento\Sniffs\Commenting\VariableCommentSniff
3. \Magento\Sniffs\LiteralNamespaces\LiteralNamespacesSniff
4. \Magento\Sniffs\NamingConventions\ReservedWordsSniff
5. \tests\unit\Magento\FunctionalTestFr

[2021-08-19 08:30] chequille commented on #33819
Hi @engcom-Echo

I saw your video but on my 2.4.3 installation it does not behave the same. ADD to Cart button only dissapears if I made the shippment. So here is my video and I guess, that something went wrong with updating the inventory_stock_1 view or the tables for this view.
Video is a google drive link: https://drive.google.com/file/d/1WuwoxL4LD8rHjYyIK6wbPODntsE0cSSn/view?usp=sharing

[2021-08-19 09:19] engcom-Echo commented on #33856
Hi @WebHostingAce
We tried to reproduce the issue on **2.4-develop** branch & were unable to do so.
Here are the Steps we followed,
1. Create a fresh installation of magento (2.4-develop branch) with parameters **--language=en_AU --currency=AUD --timezone=Australia/Melbourne**
2. Created a New Product & Visited the product on frontend.
The Currency symbol is displayed properly on the product page

[2021-08-19 09:38] Thundar commented on #33770
@MajorKuprich i suggest you not to remove the constraint. Instead, you should find out what is blocking your table, and the cause of the id duplicates.
My query removes duplicates only where a rewrite_id is associated to the same category_id and product_id in different rows. If it doesn't work for you, maybe you have one rewrite_id related to two different categories and/or products: that could be

[2021-08-19 09:59] ihor-sviziev commented on #33857
Hi @himanshusavranntz,
The windows OS isn't supported by Magento.
As a workaround, you could run Magento inside the WSL2 or using Virtualbox with Linux.

[2021-08-19 09:59] #33857 closed, assigned to ihor-sviziev

[2021-08-19 10:08] ihor-sviziev commented on #26295
Hi @PaulWatt,
According to https://github.com/magento/magento2/pull/33825#issuecomment-901738129, it looks like internal team already fixed this issue in the 2.4-develop branch, related commits:
- https://github.com/magento/magento2/commit/7f6e9a842c3ca0d1971920c44d2e84f51b8bb5f8
- https://github.com/magento/magento2/commit/1391203bb31ce6ee1fba91aa9c89ceecddd5c621
- https://github.com/magento/mage

[2021-08-19 10:11] engcom-November commented on #33721
Hi @eikoncode, verified system.xml files for all Admin configurations and all the fields having showInWebsite='"1" have showInDefault="1" option as well.  Couldn't find "Service Base URL" on Magento 2.4-develop branch and any other field having showInWebsite="1" only. Kindly recheck the issue on clean Magento 2.4-develop instance and elaborate steps to reproduce / Configuration details if the issu

[2021-08-19 10:19] ihor-sviziev commented on #33856
@engcom-Echo, the 2.4.3 release still NOT merged to 2.4-develop. Could you double-check the issue on 2.4.3 release OR on 2.4-develop branch AFTER merging

[2021-08-19 10:47] oneserv-heuser commented on #33802
I can confirm that this issue exists. I just updated to magento 2.4.3 and then tried to run integration tests. I get the exact same error as @sergeynezbritskiy stated in the issue.

The same bug also appears when trying to install magento with the file ``app/etc/config.php`` present.
To reproduce try the following:

- Install magento from scratch
- Drop and recreate the magento database
- remove t

[2021-08-19 10:48] ihor-sviziev commented on #33802
No need to create a separate issue. I reopened this one

[2021-08-19 10:57] WebHostingAce commented on #33856
@engcom-Echo  I can reproduce this issue on a upgrade from 2.3.5 to 2.4.3 as well

[2021-08-19 11:10] ihor-sviziev commented on #33730
wow... it was deprecated in 2011...

[2021-08-19 11:13] WebHostingAce commented on #33856
Could you please share the command line for the installation you followed?

[2021-08-19 11:20] yogicse commented on #33856
@WebHostingAce

`/usr/local/bin/composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition:2.4.3`

`php bin/magento setup:install --base-url=http://magentodev.com/ --db-host=localhost --db-name=magento --db-user=root --db-password=admin123 --admin-firstname=Magento --admin-lastname=User --admin-email=user@example.com --admin-user=admin --admin-password=adm

[2021-08-19 11:33] zlep commented on #33798
@magento give me 2.4-develop instance

[2021-08-19 11:34] zlep commented on #33856
This issue is related to https://github.com/magento/magento2/issues/33798

[2021-08-19 11:35] engcom-November commented on #24233
Verified the issue on Magento 2.4-develop branch and the issue is reproducible with Japanese Currency setup.
**Steps to reproduce:**
1. Admin - Stores - Settings - Configuration - General - Currency Setup - Set the currency options to Japanese Yen and Save
2. Stores - Tax zones and Rates - Create Tax rate of 9.5%
3. Stores - Tax Rules - Add New Tax Rule - Apply tax rate and Save
4. Create a Simple

[2021-08-19 11:48] drinkingsouls commented on #33678
I also have this issue after upgrade from 2.4.2 to 2.4.3.

[2021-08-19 11:51] zlep commented on #33798
@engcom-November Thanks, I cannot reproduce on this Magento 2.4-develop branch. So seems like it's fixed already? But when will this fix be available for the official release which we install via `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition .`

Because there it's definitly a bug!

[2021-08-19 11:53] WebHostingAce commented on #33856
@yogicse I tried with your command line.. same issue. https://www.fmbdev.xyz/test2.html

@zlep I get the price correctly. The issue is $ symbol disappear after the page fully load.

[2021-08-19 12:07] engcom-Lima commented on #33513
Hi @Sartoric,

We are not able to reproduce this since the information is not enough.

In order to help you with this, we need some below additional information so that we can have further analysis:
1. Please confirm if you attached any event with the modal which will run once the page is initiated ?
2. Do you have your modal code handy and if yes, would you be able to share with us ?

[2021-08-19 12:17] WebHostingAce commented on #33748
I was having the same issue. 2.4.3 admin hangs randomly. I will try the session "Max Session Size in Admin" set to 0. Thank you everyone who involved in this.

[2021-08-19 12:29] zlep commented on #33856
@WebHostingAce Set it to Euro and Local German and you will loose the actual price. When I set it to Dollar and anything else than Local English, I will loose the currency symbol as well.

[2021-08-19 12:30] cha80 commented on #33817
thanks

[2021-08-19 12:33] refueledinc commented on #33748
I'm having the same issue with M2.4.3 and admin taking 30 seconds and Redis showing locking happening.

Any chance you guys have Amasty and Mirasvit extensions? If so, could you share which ones? I've been debugging this issue for over 20 hours and see some oddities in Redis monitor especially with mirasvit.

[2021-08-19 12:34] engcom-Echo commented on #33856
Hi @ihor-sviziev
Its recommended to verify the issues on Magento 2.4-develop branch only as the issues in 2.4.2-p1/ 2.4.3 are fixed in 2.4-develop branch.
@WebHostingAce Sorry but I'm not able to reproduce this issue on Magento 2.4-develop branch with provided steps.
Kindly recheck the issue on 2.4-develop and provide missing steps if any if the issue is still reproducible.
Thank you.

[2021-08-19 12:36] WebHostingAce commented on #33856
@zlep Thank you for the update. Now I know I'm not the only one who is facing this issue.

[2021-08-19 12:37] ihor-sviziev commented on #33856
@engcom-Echo, I've asked @sdzhepa to explain a bit more about releases and branches.

[2021-08-19 12:38] engcom-Echo commented on #33814
Hi @chandru-199
We tried to reproduce this issue & were unable to do so.
According to your issue description, we added a widget (**Order by SKU**) onto **Home page**.
The Order by SKU widget was displayed properly on Home Page.
Please find the attached screenshot of the same.

<img width="1088" alt="Screenshot 2021-08-19 at 17 44 15" src="https://user-images.githubusercontent.com/51681435/13006796

[2021-08-19 13:32] yogicse opened #33861 "Unit Test Case Failing in default Magento 2.4.3"
### Summary (*)

Unit Test Case Failing in default Magento 2.4.3

1. Navigate to magento root folder
2. Run the command below ` php -f vendor/bin/phpunit -- -c dev/tests/unit/phpunit.xml.dist`

### Examples (*)

`................................................ 16958 / 23201 ( 73%)
...............................PHP Fatal error:  Class Mock_ContextExtensionInterface_9d86d6ca contains 2 abstract me

[2021-08-19 14:07] engcom-Lima commented on #33711
Hi @leeroybrun,

We have tried to reproduce this translation Issue on 2.4-develop instance, but not able to.

We need some more information for further analysis. So please reply with below asked queries:
1. Did you install Magento Language translation Pack?
2. Path of Translation csv file?
3. Are you using any third party js extension on which you have provided the javascript snapshot ?

Any other

[2021-08-19 14:16] onlinebizsoft commented on #33856
Oh is this release 2.4.3 that bad? Quite few major issues.

[2021-08-19 14:17] hostep commented on #33678
The issue got closed, I assume that's because the following fix landed on `2.4-develop`: https://github.com/magento/magento2/commit/a30173520979f4fd79668dc6d7adb0e8cab6dc60

[2021-08-19 14:25] onlinebizsoft commented on #33685
@vzabaznov

https://aws.amazon.com/blogs/database/reduce-cost-and-boost-throughput-with-global-datastore-for-amazon-elasticache-for-redis/

This approach doesnt work because it has only write on the primary instance and only read on all instances.

So Im thinking we could have a work around if we separate read and write redis connection in env.php.

What do you think?

[2021-08-19 14:40] tahiryasin commented on #13055
Run this query and confirm if varnish config is already there in the DB

then `DELETE `the rows returned by the above query and it will fix the problem.

[2021-08-19 14:40] tahiryasin commented on #13224
Run this query and confirm if varnish config is already there in the DB

then `DELETE `the rows returned by the above query and it will fix the problem.

[2021-08-19 16:01] melissahtp opened #33862 "Integration Issue-Amazon"
We've had a handful of addresses coming over yesterday & today that are coming over with n/a in the name field and the street address field.  The city, state & zip come over fine.  Any idea what would be causing this?  Its not all which leads me to believe its an issue with Amazon's API but wondering if you've had reports of it. Magento ver. 2.3.4-p2

### Preconditions (*)

1.
2.

### Steps to rep

[2021-08-19 16:05] in-session opened #33863 "Page builder loses links on content text"
Links are only accepted with copy + paste by the page builder if it was opened as modal.
I think this is a bit complicated and confusing when handling the content.

Magento CE 2.4.3

https://user-images.githubusercontent.com/16542619/130104190-a7088661-bdd6-48b9-a393-7971464a3fcd.mp4

[2021-08-19 16:25] in-session commented on #33863
https://user-images.githubusercontent.com/16542619/130104190-a7088661-bdd6-48b9-a393-7971464a3fcd.mp4

[2021-08-19 16:36] in-session opened #33864 "Page builder should be deactivatable for the categories description"
I think most people will not fill in the category description field with the page builder, but only with text. So it would be handy here to make the field deactivatable for the page builder.

Magento CE 2.4.3

![Ashampoo_Snap_Donnerstag, 19  August 2021_18h28m19s_016_](https://user-images.githubusercontent.com/16542619/130107948-a54c45fe-034a-4adb-ba8c-0dd37cb832cb.png)
![Ashampoo_Snap_Donnerstag,

[2021-08-19 18:11] o-dubovyk commented on #30094
This issue was fixed  with the following commits: `d648bdc`, `3ae814c`. Closing this issue

[2021-08-19 18:18] #30094 closed, assigned to nobody

[2021-08-19 18:26] birdman002 commented on #33748
@refueledinc we do have amasty extensions, but this issue can be replicated on a vanilla instance of 2.4.3. Take a look at your ACL permissions if you have a lot of user roles that will cause this issue to happen. Magento is storing all the ACL role resources in the session data. I have no tried any of the above solutions of changing the session size

[2021-08-19 18:48] sdzhepa commented on #33678
Hello

Let me try to bring some light on this issue.
Right not in internal Jira, there are two tickets linked with this issue

1. **AC-493**
- Status: Fixed/Done
- Target version: 2.4.4 (means should be available in 2.4.4 release)
- related commits can be found by search using  `AC-493` in commits: [EXAMPLE](https://github.com/magento/magento2/search?q=AC-493&type=commits)

2. **AC-507**
-  Status

[2021-08-19 20:00] ihor-sviziev commented on #33861
Hi @yogicse,
Could you check if you have such issue on the 2.4-develop branch? I have feeling that this issue already fixed

[2021-08-19 20:02] ihor-sviziev commented on #33856
Hi @engcom-Echo, could you double check this issue on 2.4-develop branch again? The 2.4.3 is release just was merged to it

[2021-08-19 20:09] github-jira-sync-bot opened #33865 "Investigate the removal of MatchMedia.js"
What needs to be done:
 - Analyze and list the usages of the library in the codebase (affected areas)
 - Analyze the possible removal of this dependency and describe the impact of this operation
 - Perform removal if possible
 - Perform the testing of affected areas (use automated tests if available)
 - Provide upgrade recommendations

[2021-08-19 23:59] mrtuvn commented on #33865
why we need remove this ?? What if other js component from other require such as define(['matchMedia'])

[2021-08-20 03:04] Joshua-Ye opened #33867 "Wrong ratings at second Catalog Product List"
### Preconditions (*)

1.Magento 2.4.3

### Steps to reproduce (*)

1.Insert two Catalog Product List on homepage.

### Expected result (*)

1.The product ratings should be correct at second Catalog Product List.

### Actual result (*)

1.![20210820103125](https://user-images.githubusercontent.com/73095214/130169939-b0a052cd-b388-4391-ba83-0bc5ef90e708.png)
2.The product ratings display incorrect

[2021-08-20 04:39] engcom-Echo commented on #32994
Hi @mparrSaatva
We tried to reproduce the issue on  Magento **2.4-develop** branch but were unable to do so.
Here are the steps we followed.
1. Created a cart price rule with details & conditions as you have mentioned under preconditions
2. Created a Scheduled update by giving the following details Update Name, description, start and end date, a new rule name, new description, and a new label.
3.

[2021-08-20 05:10] engcom-Lima commented on #32777
Verified the inconsistency in file Magento/Catalog/view/frontend/templates/product/list/items.phtml on Magento 2.4-develop instance.

[2021-08-20 05:13] webtekindo commented on #30514
I can confirm that we have the same issue on Magento 2.4.2 for very large configurable products. The fix provide works.

[2021-08-20 05:17] engcom-Echo commented on #32994
Hi @mparrSaatva
We tried to reproduce the issue on Magento **2.4-develop** branch.
Here are the steps we followed.

1. Created a cart price rule with details & conditions as you have mentioned under preconditions
2. Created a Scheduled update by giving the following details Update Name, description, start and end date, a new rule name, new description, and a new label.
3. Saved the Scheduled updat

[2021-08-20 05:31] engcom-Lima commented on #33862
Hi @melissahtp,

The information provided is not enough for us to check the issue.

In order to check this issue, please update below information:
1. Is issue reproducible on 2.4-develop instance ? If yes, please provide the ‘Steps to reproduce’ same.
2. Which specific API functionality or module is in question ?

[2021-08-20 05:47] engcom-Echo commented on #33840
Hi @vk44295
Thanks for reporting the issue.
However the information provided is not enough for us to check the issue.
In order to check this issue, please update below information:
Detailed Steps that you have taken to reproduce the issue.
Expected and actual results
Is issue reproducible on **2.4-develop** instance ?

Thank you.

[2021-08-20 05:56] vk44295 commented on #33840
@engcom-Echo  Thanks for the support.

My issue is suppose we have a product with custom options like Mobile with some earphones or laptop with some accessories.

Issue :
Laptop Product
Price 5000
Selling Price: 3000

Custom Option:
1. Mouse - +300
2. Keyboard- +200

When i select currently from custom options like mouse or keyboard then custom price added to both price like below:
if select mouse

[2021-08-20 06:07] ajijshekh123 commented on #33867
@magento give me 2.4-develop instance

[2021-08-20 06:36] ajijshekh123 commented on #33867
Hi @Joshua-Ye,
I have tried 4 different products with 2 different columns. Rating is showing as expected.
See attached screenshot:

![image](https://user-images.githubusercontent.com/24711761/130190640-197b78d2-ad2d-48e6-9d7e-9571711de914.png)

![image](https://user-images.githubusercontent.com/24711761/130190684-8308fbe9-f562-4cb7-852d-d44d23211fe8.png)

![image](https://user-images.githubusercon

[2021-08-20 06:58] engcom-Lima commented on #33722
Hi @sridharpatil55,

In order to reproduce this exception, can you please provide below information:

1. Migration is done from which version of Magento to which version ?
2. On which command run, did you exactly got the exception ?

[2021-08-20 07:06] davidandersson1 commented on #33760
Hi @hostep its same issue(app/code/Magento/Payment/Helper/Data.php) for us, so is there any patch to resolve the bug or how?

[2021-08-20 07:10] ericclaeren commented on #33678
Just an idea, maybe it could be helpful to include a Magento Quality Patch for this issue, so people don't have to manually find and apply a patch for this issue? Lot's of people will be upgrading and possible run into this issue.

[2021-08-20 07:12] ihor-sviziev commented on #33678
@ericclaeren, definitely a good idea! Will you be able to create a PR to the https://github.com/magento/quality-patches?

[2021-08-20 07:13] paresh6002 opened #33868 "wysiwyg editor remains editable even if use system value or use default value is selected."
###  Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Open admin panel
2. Open any product in admin panel
3. Change all store view to Default store view
4. check short_description/description attribute’s editor. It is disabled but we can editable content here
[
![screenshort-issue-1](https://user-images.githubusercontent.com/59193951/130188516-a6e3705b-31ab-465f-a453-b988cb4c1fa

[2021-08-20 07:16] ericclaeren commented on #33678
@ihor-sviziev Sure, not today, but might be able to look into this mid-next week.

[2021-08-20 07:18] Kannakiraj123 commented on #33799
@magento assign this to me

[2021-08-20 07:23] blmage commented on #33846
Neither the company, nor the manager, nor the addresses seem to exist, and the description of the alleged vulnerabilities is off - this is most definitely a scam, and you can safely ignore it.

[2021-08-20 07:35] reense commented on #33856
Hi! I've been digging into this issue. So far, I've found the following:

The problem is caused by `Magento_Catalog/js/price-box.js` in the function `reloadPrice: function reDrawPrices()`, specifically this:
[code]

This explains why it takes a couple of seconds.

the `price` variable in the snippet above is created by this line (price-box.js:153):
[code]
It uses the `priceFormat` variable. `price

[2021-08-20 08:12] reense commented on #33856
Hello,

I've found the issue. It is caused by this commit: https://github.com/magento/magento2/commit/ba2ae68a55c6e571a58c749e2a96f366d6a05745#diff-09a839078aa6453eb8fb437430724140207e2aa7214c3bb98bc7ced29fe39927

More specifically, line 369 through 370 in `Magento\Directory\Model\Currency` causes this issue:
[code]

canUseNumberFormatter results to true, causing the price to be improperly returne

[2021-08-20 09:00] t-heuser opened #33869 "Custom payment methods are always available when using new Payment Provider Gateway"
### Preconditions (*)

1. Magento 2.3.4
2. A custom payment method created according to the [instructions](https://devdocs.magento.com/guides/v2.4/payments-integrations/bk-payments-integrations.html)
3. The payment method must have an [availability validator](https://devdocs.magento.com/guides/v2.4/payments-integrations/base-integration/facade-configuration.html#validators_pool) which always retur

[2021-08-20 09:00] oneserv-heuser commented on #33869
I can confirm that this issue exists, but not on an vanilla instance because of the nature of the problem.

[2021-08-20 09:13] zlep commented on #33856
@reense Could you please look into https://github.com/magento/magento2/issues/33798 because as I said, these two issues are related. But as fas as I tested with the develop-branch are fixed.

[2021-08-20 09:15] ihor-sviziev commented on #33798
Hi @zlep,
The 2.4.3 release was merged just recently to the 2.4-develop branch in https://github.com/magento/magento2/commit/ed5c06d68ec4bf77ad6c03e0af28a133b1193b66. Could you double-check the issue again?

[2021-08-20 09:17] JKair commented on #27126
It's this issues in processing?

[2021-08-20 09:18] ihor-sviziev commented on #33856
Hi @reense,
Is the issue reproducing on the 2.4-develop branch?

[2021-08-20 09:18] WebHostingAce commented on #33856
Thanks to @reense I changed the formatTxt function with 2.4.2. It worked.
`    public function formatTxt($price, $options = [])
    {
        if (!is_numeric($price)) {
            $price = $this->_localeFormat->getNumber($price);
        }
        /**
         * Fix problem with 12 000 000, 1 200 000
         *
         * %f - the argument is treated as a float, and presented as a floating-point

[2021-08-20 09:19] refueledinc commented on #33748
@birdman002 I wasn't able to replicate on vanilla magento despite having 8 roles. However, the issue does happen when I start enabling amasty/mirasvit modules. I do agree it appears to be ACL and session related. For now, increasing the value of "Max Session Size in Admin" fixed the problem for me.

[2021-08-20 09:24] reense commented on #33856
@ihor-sviziev  sorry, I do not have enough time to check if it's reproducable on a 'standard' Magento 2.4.3 instance. I have, however, selected 'Luma' as design theme and this issue was still occurring. I have no plugins installed that are interfering with the named classes (checked via `dev:di:info`). I also disabled the all the custom extensions. I have, however, disabled all Magento MSI modules

[2021-08-20 09:31] rykiplov commented on #31461
Any updates on this error message placement?
@bertterheide instead of disabling mixin you can also try to change message container inside mixin. In your `select-payment-method-mixin` in `define` section change:

`'Magento_SalesRule/js/model/payment/discount-messages' `

to

`'Magento_Ui/js/model/messages',`

and then pass it as observable variable, so whole file will looks like this:

`define([

[2021-08-20 09:49] engcom-Echo commented on #33856
@ihor-sviziev
I again tried to reproduce the issue with a fresh installation of magento (2.4-develop branch) with parameters
**--language=en_AU --currency=AUD --timezone=Australia/Melbourne** but wasnt able to reproduce it. Currency Symbol was displayed properly on Product page, cart & checkout.

[2021-08-20 10:00] engcom-Bravo commented on #33599
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.

Preconditions (*)
1. At least 2 websites setup
https://devdocs.magento.com/guides/v2.4/config-guide/multi-site/ms_websites.html
2. Customer Global accounts enabled
https://docs.magento.com/user-guide/customers/account-scope.html

Steps To Reproduce
1. Create customer account in the 1st website
<img width="1315" alt="C

[2021-08-20 10:29] anvanza commented on #33749
I might have found an actual issue (besides the annoying red message).

In the admin go to Categories and Select a category, in the "content" tab, click on "select from gallery", click any folder and upload an image there.
![Screenshot 2021-08-20 at 12 28 17](https://user-images.githubusercontent.com/2848347/130220236-c2e7045b-582e-4810-a6aa-d47fecdb4caf.png)
![Screenshot 2021-08-20 at 12 28 24](h

[2021-08-20 11:00] karyna-t opened #33870 "Get rid of 'money_format' function in lib/internal/Magento/Framework/Filter/Money.php"
lib/internal/Magento/Framework/Filter/Money.php  class contains 1 public function that uses php function [money_format](https://www.php.net/manual/en/function.money-format.php) , which is deprecated in PHP 7.4 and removed in PHP 8.0.

According to the documentation, we should use _NumberFormatter::formatCurrency()_ instead.

However, in our case, Money.php accepts 'format' property in the construc

[2021-08-20 11:01] mrtuvn commented on #33749
image path seem not related with this issue. Maybe something else from another component

[2021-08-20 11:07] mrtuvn commented on #33749
@DinkoIlicic https://github.com/magento/magento2/pull/32099 changes made here

[2021-08-20 11:08] engcom-Delta commented on #33842
Hi @SomayaAbdo,

Kindly provide issue description, steps to reproduce, actual results & expected results.

Thanks

[2021-08-20 11:21] engcom-Delta commented on #33870
Hi @karyna-tsymbal-atwix,

Kindly provide issue description, steps to reproduce, actual results, expected results.

Thanks

[2021-08-20 11:22] engcom-Bravo commented on #33586
Closing this issue as it is duplicate issue [33589](https://github.com/magento/magento2/issues/33589)

[2021-08-20 11:26] kovalchukVM commented on #33748
faced the same issue on Magento commerce `v.2.3.7-p1` and Redis used for session, as @marvinhinz wrote above the issue is in `write` function in file
[lib/internal/Magento/Framework/Session/SaveHandler.php](https://github.com/magento/magento2/blob/c2a591c4b5e382057260ee2199d133e094762ed8/lib/internal/Magento/Framework/Session/SaveHandler.php)
[code]
at the moment when Magento calls `write($session

[2021-08-20 11:29] engcom-Lima commented on #33273
Hi @sabareesh-warlock,

We tried to reproduce this issue but we are getting "We couldn't find any records." and not same error as you are getting.

Attached screenshot of the same:
<img width="1440" alt="Product Screen" src="https://user-images.githubusercontent.com/60198022/130222159-c9ebe57e-8dac-416c-b70b-d3d4edea37e1.png">

Please update if this issue is resolved ? Or advise if you did anythin

[2021-08-20 11:50] chequille commented on #33819
Hi Guys,
I do not know if this helps to find why on my site inventory stock still have the value 1 for the status, but I provide the traces and sql queries. Maybe somebody sees what is going wrong.
The traces are from an order for roduct with ID 84 and 17 ieces were available before the order.

## 2021-08-20 10:34:01
## 2807 ## QUERY
SQL: INSERT  INTO `cataloginventory_stock_status` (`product_id`,

[2021-08-20 11:57] kovalchukVM commented on #33748
the issue can be simply reproduced even for the frontend:

- go to admin panel Stores -> Configuration -> Advanced -> System -> Security
- set `Max Session Size in Storefront` to some small number like `100`
- clear the case
- visit e.g. `/checkout/cart/` page
- it load time is increased ~30 seconds.

I'm pretty sure that `Max Session Size` was intended to let devs know that session size has incre

[2021-08-20 12:09] praful-crisol commented on #13838
Facing same issue while import downloadable products
Added following values for field "**downloadable_links**"

title=BookName,price=1,number_of_downloads=100,is_shareable=2,link_type=file,link_file=test.epub,group_title=Download Title

[2021-08-20 12:10] t-heuser opened #33872 "Method Magento\Payment\Gateway\Data\Quote\QuoteAdapter::getGrandTotalAmount() always returns null"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Call [Magento\Payment\Gateway\Data\Quote\QuoteAdapter::getGrandTotalAmount()](https://github.com/magento/magento2/blob/ed5c06d68ec4bf77ad6c03e0af28a133b1193b66/app/code/Magento/Payment/Gateway/Data/Quote/QuoteAdapter.php#L129)

### Expected result (*)

1. The grand total amount of the quote gets returned.

### Actual result (*

[2021-08-20 12:11] oneserv-heuser commented on #33872
I can confirm this issue exists on a vanilla magento instance.

[2021-08-20 12:12] #33622 closed, assigned to andrewbess

[2021-08-20 12:19] oneserv-heuser commented on #33872
For everyone interested here is a patch to fix this issue temporary:
[code]

Just copy it to a .patch file and follow instructions here: https://github.com/cweagans/composer-patches

[2021-08-20 12:21] engcom-Echo commented on #33868
This is issue is **reproducible** on 2.4-develop branch with the given steps to reproduce. When **Default store view** is selected, the wysiwyg editor content is editable despite the **use system value** option is **checked**
<img width="1223" alt="Screenshot 2021-08-20 at 17 42 33" src="https://user-images.githubusercontent.com/51681435/130232162-96b1eb8d-253b-4f66-832c-d31d26ef559c.png">
<img wi

[2021-08-20 12:25] engcom-Lima commented on #33654
Hi @manjalsupermarket,

The information provided is not enough for us to reproduce this issue.

Can you please provide the below information so that we can analyse further:
1. 'Steps to reproduce' along with Expected and Actual Results.
2. If you are using any extension please provide details and if it is open-source.

[2021-08-20 12:26] zlep commented on #33798
@ihor-sviziev
When I install via `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition .` the issue is still there.