[2021-09-08 12:01] engcom-November commented on #34026
Verified the issue on Magento 2.4.3 version and the issue is not reproducible:
On running the command: composer show magento/product-community-edition 2.4.* --all | grep -m 1 versions
version 2.4.3 is returned.
![image](https://user-images.githubusercontent.com/60198231/132504908-0022b1ed-c005-4f99-aab9-635beb79a508.png)

@Sartoric We can able to upgrade Magento version from 2.4.2-p1 to 2.4.3 usin

[2021-09-08 12:48] engcom-Hotel commented on #34025
@magento give me 2.4-develop instance

[2021-09-08 13:36] nathanjosiah commented on #28614
@pmonosolo That comment does not mention the payload of the most important step of setting the payment information. The comment only has the following:
* Create an empty cart
* Add one or more products to the cart
* Set the billing address
* Set the shipping address
* ~Set the shipping method~ (mentioned but missing)
* ~Set the payment method~ (mentioned but missing)
* ~For guest customers, assign

[2021-09-08 14:15] Sartoric commented on #34026
@devchris79
Well, that's strange.

I had the suspicion that it wasn't loading the json from repo.magento so I did some additional test
I've found that the machine I was working on was using composer 2.0.9, so i tried the same with the latest version (2.1.6) in verbose mode (removing the auth.json just to be sure)

I'm getting this

[code]

[2021-09-08 14:21] engcom-Lima commented on #33980
Verified the issue and reproducible on 2.4-develop instance.

Below are the steps that I did to reproduce:

1. Added module provided by the reporter.
2. Did setup:upgrade
2. Deleted files in the generated folder and executed command bin/magento setup:di:compile
3. Executed test command bin/magento test:plugin:calculate as per code
Result came as **2**
4. Removed files in the generated and execute

[2021-09-08 14:57] baljinderimpinge commented on #33988
Any update please?

[2021-09-08 15:05] nwcasebolt commented on #30247
I can confirm this is still an issue in 2.4.2-p2, and I don't see any reference to a fix in the release notes for 2.4.3.

To see a core example of this, review the two entries in vendor/magento/module-gift-card-account/etc/crontab.xml:

- magento_giftcardaccount_update_states is scheduled to run at `0 1 * * *`, and has no entries in cron_schedule.

- magento_giftcardaccount_generage_codes_pool is

[2021-09-08 15:48] Alirazadar opened #34027 "Better popup not working/showing"
### Preconditions (*)

1. Magento ver. 2.3.3
2. On extensions page

### Steps to reproduce (*)

1. I have installed better popup extension, but it is not showing on the page https://oliq.ch/
2.

### Expected result (*)

1. A popup to show for newsletter subscription
2.

### Actual result (*)

1. Nothing, it does not show anything.
2.

---
Please provide [Severity](https://devdocs.magento.com/guide

[2021-09-08 16:54] marvinhinz opened #34028 "Missing classes required by DI in commands are not reported & logs are misleading"
### Summary (*)
When a class requested in the constructor of a Command does not exist, a misleading error is shown instead of the actual source of the problem. When running bin/magento the output is just "Class Vendor\SomeModule\Console\Command\SomeCommand\Interceptor does not exist".
To fix the problem the developer is forced to open the logfiles.

### Examples (*)
Create a new module with a comm

[2021-09-08 18:20] drpayyne opened #34029 "magento/composer is locked to 1.6.0"
### Preconditions (*)
1. Install Magento 2.4.3 EE using composer

### Steps to reproduce (*)
1. Run `composer why magento/composer`

### Expected result (*)
1. `magento/composer` should not be locked to `1.6.0`, but rather be constraint to `^1.7`, for example.

### Actual result (*)
1. `magento/composer` is locked to `1.6.0`, which is locking `composer/composer` to `1` instead of `2` available in

[2021-09-08 18:23] drpayyne commented on #34029
This issue prevents `1.7.0` of https://github.com/magento/composer from being installed in Magento 2.4.3 EE. @fascinosum, could you please look into this? I see that you're the one who upgraded `composer/composer` to `2` in this commit - https://github.com/magento/composer/commit/3bd4b3115f8f39671af10e7ec30b335b9742645d

[2021-09-08 18:36] fascinosum commented on #34029
hi @drpayyne,
thank you for you report, I think this is a duplicate of https://github.com/magento/magento2/issues/33681

[2021-09-08 20:16] hostep commented on #30247
@nwcasebolt: I can't confirm this problem on Magento 2.4.2-p2

I took a look at the `backend_clean_cache` cronjob (because Magento OS doesn't come with that giftcard module) which has a cron schedule set as: `30 2 * * *`.
Grepping the `var/log/cron.log` file gives me expected results:
[code]

(notice that the log's timestamps are in UTC while we are in CEST which is 2 hours ahead)

Your testing mi

[2021-09-09 02:55] pmonosolo commented on #33856
I have the same issue on production server with 2.4.3. The Currency sign disappears on product page after full load.(CA$100 then 2 seconds later 100)

On catalog page, the currency sign just shows up even though it's not set to CA in the configuration on backend. All prices have this sign.

Also if you try to change the currency sign it has no effect.

[2021-09-09 03:35] pmonosolo commented on #33856
Are you running Apache as your backend?

I have this issue too - Production server = Apache (does not work), Local Machine = NGINX (works correctly)

[2021-09-09 04:27] pmonosolo commented on #33856
Looks like this might be the solution to the currency showing up on the Catalog page even though its disabled within configuration:
https://github.com/magento/magento2/pull/33966/commits/82c1a4d1137f747b9551e7d4d87106bf2c726b9e

[2021-09-09 04:34] engcom-Lima commented on #34027
Hi @Alirazadar,

This does not seem to be Magento Dev issue. This section is for reporting Dev related issues.

For the solution to your problem, you can check with Magento Support or report on various Magento Forums. Also please check with third party vendor from where you got the extension.

If you have Dev related issue, please update the description with relevant details. If not, we'll have to

[2021-09-09 05:12] engcom-November commented on #33930
Thanks for your confirmation @jorgb90. We are closing this issue as your issue is resolved now.

[2021-09-09 05:12] #33930 closed, assigned to engcom-November

[2021-09-09 05:39] ihor-sviziev commented on #33856
@pmonosolo, the solution from https://github.com/magento/magento2/pull/33966 still doesn't work fine on all installations.
Here is workaround that you can use in the meanwhile https://github.com/magento/magento2/issues/33856#issuecomment-904606945

[2021-09-09 05:47] ihor-sviziev commented on #34029
This is duplicated of https://github.com/magento/magento2/issues/33681.
The issue was already fixed in 2.4-develop, but unfortunately, it wasn't added to the 2.4.3 release.
Here you can find all details + link to workaround that you can use in the meanwhile https://github.com/magento/magento2/issues/33681#issuecomment-892819485.

[2021-09-09 05:47] #34029 closed, assigned to ihor-sviziev, engcom-Delta

[2021-09-09 05:49] ihor-sviziev commented on #34028
Hi @marvinhinz,
Good catch! Could you create a pull request with a suggested solution? It would be easier to review it with test results ;)

[2021-09-09 05:51] engcom-Delta commented on #33946
Hi @fascinosum,

Kindly help us on this issue.

Thanks

[2021-09-09 06:43] tahir-unioncoop commented on #4796
This solution worked for me

https://magento.stackexchange.com/questions/110404/how-to-make-the-fields-of-the-fieldset-multidependable

[2021-09-09 07:00] pmonosolo commented on #33856
Yup, looks like that one is finally starting to work on Catalog pages. I think it was probably propagating through the redis cache or something like that because some products would get correct symbol and some would still have the broken one.

Thanks for letting me know! Easy patch then!

[2021-09-09 07:09] anzin commented on #33391
@magento I am working on this

[2021-09-09 07:11] marvinhinz commented on #34028
Sure, can do. But i just realized the comment of the method says: "According to PSR-4 section 2.4 an autoloader MUST NOT throw an exception and SHOULD NOT return a value.". I guess thats the reason why there is no throw. Then i'm not sure how to fix this. 🤔

[2021-09-09 08:37] engcom-November commented on #33971
Hi @harizyusoff ,

Clear/Vanilla installation of Magento instance from bot has very limited access, email sending is not configured etc. so its ok only for very basic issue reports. Please refer for more details about this tool: [Deploy Vannila Magento Instance](https://devdocs.magento.com/contributor-guide/contributing.html#vanilla-pr)

I verified this issue on Magento 2.4.2-P1 version but cannot

[2021-09-09 09:17] anzin commented on #33391
**Hello team, this is dependency tree for laminas-mvc:**

**laminas-mvc** required in the next  laminas libraries:

- **laminas/laminas-modulemanager** _required in the next  laminas libraries:_
    - **laminas/laminas-hydrator** _required in the next  laminas libraries:_
         - **laminas/laminas-db**
    - **laminas/laminas-mvc**
    - **laminas/laminas-view**

- **laminas/laminas-view** _req

[2021-09-09 09:19] harizyusoff commented on #33971
@magento give me 2.4.2 instance

[2021-09-09 09:20] andrewbess commented on #33391
Hello @anzin
Thank you for your research here.
Great job.

[2021-09-09 09:20] #33391 closed, assigned to anzin

[2021-09-09 09:25] engcom-Delta commented on #33842
Hi @SomayaAbdo,

Thanks for reverting on the issue. it would be great if you can share the screenshots of this issue.so that we can try to replicate it.

Regards,

[2021-09-09 09:38] engcom-November commented on #28406
Hi @lbajsarowicz ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-09 09:38] #28406 closed, assigned to engcom-Hotel

[2021-09-09 09:38] engcom-Hotel commented on #33238
Dear @sanjay-github,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-09 09:38] #33238 closed, assigned to engcom-Hotel

[2021-09-09 09:40] harizyusoff commented on #33971
Hi @engcom-November just found out that section is added up from theme installed in my website. Will check this with theme support about this. Thanks !

[2021-09-09 09:42] engcom-November commented on #32603
Hi @HenKun ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-09 09:42] #32603 closed, assigned to engcom-Echo

[2021-09-09 09:42] engcom-Lima commented on #33046
Closing this issue as there has been no update from the reporter on the same.

[2021-09-09 09:42] #33046 closed, assigned to shikhamis11, engcom-Lima

[2021-09-09 09:44] engcom-Lima commented on #33440
Closing this issue as there has been no update from the reporter on the same.

[2021-09-09 09:44] #33440 closed, assigned to engcom-Lima

[2021-09-09 09:45] engcom-Delta commented on #32994
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-09 09:45] #32994 closed, assigned to ajijshekh123, engcom-Echo

[2021-09-09 09:46] engcom-Delta commented on #33576
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-09 09:46] #33576 closed, assigned to engcom-Echo

[2021-09-09 09:48] engcom-Hotel commented on #33600
Dear @sydekumf,

We have noticed that this issue has not been updated for a long time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-09 09:48] #33600 closed, assigned to engcom-Echo

[2021-09-09 09:49] engcom-November commented on #33617
Hi @Veorirac ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-09 09:49] #33617 closed, assigned to engcom-Bravo

[2021-09-09 09:51] engcom-Hotel commented on #33822
Dear @sych74,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-09 09:51] #33822 closed, assigned to engcom-Echo

[2021-09-09 09:53] engcom-Lima commented on #33123
Closing as there has been no update from the reporter on the same.

[2021-09-09 09:53] engcom-Delta commented on #33846
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-09 09:53] #33846 closed, assigned to engcom-Delta

[2021-09-09 09:53] engcom-Hotel commented on #33496
Dear @cse00241,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-09 09:53] #33496 closed, assigned to engcom-Lima

[2021-09-09 09:55] engcom-Hotel commented on #33736
Dear @leeroybrun,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-09 09:55] #33736 closed, assigned to leeroybrun, engcom-Lima

[2021-09-09 09:55] engcom-Lima commented on #33881
Closing this issue as there has been no update from the reporter on the same.

[2021-09-09 09:55] #33881 closed, assigned to engcom-Lima

[2021-09-09 09:57] thlassche opened #34031 "Remove the `Magento\Framework\` entry from the psr4 autoload section"
### Summary (*)
By default, Magento's composer.json file contains a lib/Framework autoloader line: https://github.com/magento/magento2/blob/2.4-develop/composer.json#L355

This makes autoloading every framework file with a non-optimized Composer autoloader 50% slower, as first the file is checked for existince in`lib/internal/Magento/Framework/` and then in `vendor/magento/framework`. This leads t

[2021-09-09 09:58] engcom-Delta commented on #33760
Looks like patch is working fine . We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-09 09:59] engcom-Delta commented on #33821
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-09 09:59] #33821 closed, assigned to engcom-Delta

[2021-09-09 10:01] engcom-Delta commented on #33613
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-09 10:01] #33613 closed, assigned to engcom-Lima

[2021-09-09 10:02] engcom-Delta commented on #33891
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-09 10:02] #33891 closed, assigned to engcom-Lima

[2021-09-09 10:02] engcom-Delta commented on #33893
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-09 10:04] #33668 closed, assigned to engcom-Lima

[2021-09-09 10:05] thlassche commented on #34031
@hostep @ihor-sviziev @barryvdh @qsolutions-pl You guys might also find this interesting

[2021-09-09 10:06] engcom-Hotel commented on #32554
Dear @webtekindo,

We have noticed that this issue has not been updated for a long time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-09 10:35] onlinebizsoft commented on #31999
@engcom-Alfa can you make an update? Is this solved in 2.4.3 or recent 2.4-develop updates?

[2021-09-09 11:21] lbajsarowicz commented on #34027
@Alirazadar How is that issue related to the Magento core?

[2021-09-09 11:25] TheRealHunzik commented on #34025
@magento give me 2.4-develop instance

[2021-09-09 11:26] engcom-Lima commented on #33267
HI @gianstraf,

I understand your query but magento automatically regulates the connections to master or slave db & makes decisions based on the type of request and the required resources. Please read the info from documentation:

<img width="980" alt="Screenshot 2021-09-09 at 4 46 03 PM" src="https://user-images.githubusercontent.com/60198022/132676784-dfdfeb72-364e-498c-ad26-84899f836e60.png">

[2021-09-09 11:33] ihor-sviziev commented on #34031
@thlassche, will it work with GitHub-based installation?

[2021-09-09 11:33] hostep commented on #33440
@engcom-Lima: I think the issue does exist, I've seen it happening with other modules as well.

Therefore, could you please try the following instead of what you tried before:
- Install Magento with Analytics module enabled
- Configure the cron settings for this module and verify that the following 2 entries exist in the `core_config_data` table as was explained in the OP:
    - crontab/default/jo

[2021-09-09 11:37] thlassche commented on #34031
My suggestion would be to change it in the meta package only. I.e. the one you get when you run

[code]

[2021-09-09 11:39] hostep commented on #34031
That sounds like a really good idea to me!

@fascinosum: is something like this possible in the packaging of the meta package?

[2021-09-09 11:51] engcom-Lima commented on #33724
Hi @sumjoekin,

I think your code might be trying to use same nonce-timestamp combination again and triggering the error which you are getting. Please check the error code also which you are getting for specific error details.

<img width="1062" alt="Screenshot 2021-09-09 at 5 13 09 PM" src="https://user-images.githubusercontent.com/60198022/132680031-b4d45582-0392-49a2-bc46-9d636134a2a6.png">

Pl

[2021-09-09 11:55] thlassche commented on #34031
Agreed!

[2021-09-09 11:55] wstnbrg opened #34033 "Shipping price including/excluding tax not working"
### Preconditions (*)

1. Magento Version 2.4.3
2. Setup shipping method (e.g. flat rate with 5$ price)
3. Set tax/calculation/shipping_includes_tax to "Including Tax"
4. Set tax/cart/display_shipping to "Including and Excluding Tax"
5. Set tax/classes_shipping/tax_class to your configured tax rate (in my case Germany - 19%)

### Steps to reproduce (*)

1. add product to cart
2. estimate shipping

[2021-09-09 11:55] wstnbrg commented on #34033
This topic might be related to: https://github.com/magento/magento2/issues/33947

[2021-09-09 12:09] wstnbrg commented on #34033
This one might also be related: https://github.com/magento/magento2/issues/31206

[2021-09-09 12:09] engcom-Lima commented on #33986
Hi @nopenopenope,

I have followed the thread and I think @mrtuvn has a point.

Why not pass data from Block Class instead of passing data from controller to block class ?

I think there will be too many dependencies if you follow this approach. It's not the responsibility of the controller to set variables for the view. Controller set values for Models and block retrieves values from that model.

[2021-09-09 12:12] nopenopenope commented on #33986
Hi @engcom-Lima
I think you have misread my previous statements. They are simply not applicable because setup in XML is a static definition of a Views Title, and I have the need to have dynamic Titles, depending on the entity loaded.
Also, you cannot set title in view itself, only when `_prepareLayout()` is called. After that, Title is *not* changed anymore.

I have also explained why Controller i

[2021-09-09 12:15] mrtuvn commented on #33986
Cc: @kandy @ihor-sviziev maybe have more experiences than me at this areas. Can you guys follow up and share some thoughts

[2021-09-09 12:19] gianstraf commented on #33267
Hi @engcom-Lima,
thank you for the answer.

that's is clear.

Ok, it could be a "feature" mostly for the CLI commands and the BE context, where massive operations (i.e. data export or use of backoffice grids) could be create problems to database (db locks, etc..), causing performance problems in the frontend context also. In the backoffice for example, I don't understand because a update query on

[2021-09-09 12:23] mikkelsiggaard opened #34034 "Keep consistent naming - Product Attributes"
### Preconditions (*)
1. Magento 2.4.3

### Steps to reproduce (*)
1. Access backend and open "Stores" menu

### Expected result (*)
1. My suggestion is that is should be called "Product Attribute"
![image](https://user-images.githubusercontent.com/23178730/132684618-b6cb2d66-854c-4857-9f80-223faf23ebe9.png)

### Actual result (*)
1. It is simply called "Attributes"
![image](https://user-images.gi

[2021-09-09 12:44] engcom-November commented on #34033
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**

 1. Stores - Configuration > Sales > Tax > Calculation Settings > Shipping Prices set to 'Including Tax'
 2. Stores - Configuration > Sales > Tax > Price Display Settings > Display Shipping Prices set to 'Including Tax and Excluding Tax'
 3.  Stores - Configuration > Sales > Tax > Shopping Cart

[2021-09-09 13:21] devchris79 commented on #34026
@engcom-November Doesn't the screenshot you have posted also show the issue that @Sartoric has seen?
The command `composer show magento/product-community-edition 2.4.* --all | grep -m 1 versions` should show all available 2.4.x versions, not just one like in your screenshot that shows only 2.4.3.

I am running composer 1.10.22, so I would suggest that the package list isn't working correctly with

[2021-09-09 13:34] engcom-Echo commented on #33644
Hi @vmalyk
Since we didn't get any updates from you & since we couldn't reproduce the issue being reported, we are closing this issue.
If this issue is still reproducible for you on magento **2.4-develop**, please feel free to reopen this issue & provide more details or additional/missing steps regarding the same.

Thank you

[2021-09-09 13:38] engcom-Echo commented on #33879
Hi @vini1996
I hope your issue is resolved now, so I am closing this ticket. If you still face the same issue please feel free to reopen the ticket & write back to us.
Thank you

[2021-09-09 13:38] #33879 closed, assigned to engcom-Echo

[2021-09-09 13:46] amenk commented on #25616
@engcom-Charlie *bump*
Does anyone know the commit IDs of the fix?

[2021-09-09 13:50] amenk commented on #25616
I think I found something: https://github.com/magento/magento2/commit/c942a64405d9db9665b436ccafa955bd6b08f811

[2021-09-09 13:58] #32865 closed, assigned to andrewbess, drpayyne

[2021-09-09 13:58] #32864 closed, assigned to drpayyne

[2021-09-09 14:04] Sartoric commented on #34026
Exactly, it seems it just show the current one
Maybe there is some strange constraints I'm just missing

[2021-09-09 14:56] #34027 closed, assigned to engcom-Lima

[2021-09-09 15:04] giedriusmarkevicius opened #34035 "Garbage tags and no error messages In multishipping"
If we do the multishipping order with two failed payments, in "Failed to Order" section we will see garbage tags instead of an address and no error messages.
We can get this error in production if we use a credit card with insufficient funds. For example we can authorize two products, but get an error message for the rest of the products. But this will happen with any payment error. In this exampl

[2021-09-09 15:07] Hexmage opened #34036 "[GraphQl 2.4.2] All active payment methods are returned for "free" orders"
### Preconditions (*)

1. Magento 2.4.2
2. Enable zero subtotal checkout
3. Enable Check / Money order

### Steps to reproduce (*)

1. Create a product with price 0
2. Add free product to cart
3. Set a shipping and billing address
4. Set freeshipping_freeshipping shipping method.
5. Run graphql query:
[code]
### Expected result (*)

1.
[code]

### Actual result (*)

1.
[code]

### The Issue
If the

[2021-09-09 15:29] schensley commented on #30835
@magento give me 2.4.3 instance

[2021-09-09 15:40] fascinosum commented on #34031
hi @thlassche, @hostep, I think it makes sense to remove these 2 namespace declarations from the project metapackage
@hostep, it is possible, but it needs to be implemented :)
As everyone knows, this change, if implemented, will take effect only on new installations as a project. `magento/composer-root-update-plugin` should help apply this change for updated projects
Each project that uses only `m

[2021-09-09 15:54] github-jira-sync-bot opened #34037 "Remove grunt-autoprefixer NPM depedendency"
What needs to be done:
 - Analyze and list the usages of the library in the codebase (affected areas)
 - Analyze the possible removal of this dependency
 - Analyze the possible replacement for this abandoned library if needed
 - Describe the impact of these operations
 - Perform removal/replacement if possible
 - Perform the testing of affected areas (use automated tests if available)
 - Provide u

[2021-09-09 16:09] shankar35619 commented on #30835
@magento give me a 2.4.3 instance

[2021-09-09 16:39] pdohogne-magento commented on #34031
One clarification: `magento/composer-root-update-plugin` does work for Cloud projects that require `magento/magento-cloud-metapackage` instead of `magento/product-<edition>-edition` (the plugin specifically looks for either a `magento/product-*` or cloud metapackage requirement, see [the documentation](https://github.com/magento/composer-root-update-plugin/blob/1.1/src/Magento/ComposerRootUpdatePl

[2021-09-09 16:47] shaughnlgh opened #34038 "Bug - Magento_Eav - Removing an attribute group"
There is a potential issue in the EAV setup model where the default attribute group can be deleted. In the event that you try to remove a non-existent attribute group, the system will check if the attribute group exists and if not use the default group ID. When this happens, the default group will be removed and any attributes assigned to that group will no longer be associated.

For entities like

[2021-09-09 17:28] nbennett25 opened #34039 "Product Display Page: Error: Call to a member function getId() on bool in vendor/magento/module-catalog/Block/Product/ListProduct.php:464"
### Preconditions (*)

1. Magento 2.4.2-p2

### Steps to reproduce (*)

1. Go to Product Display page with product assigned to at least one category

### Expected result (*)

1. Product display page is rendered

### Actual result (*)

1. Error is thrown (developer mode)

Stack trace:
`Error: Call to a member function getId() on bool in /var/www/html/vendor/magento/module-catalog/Block/Product/List

[2021-09-09 17:32] nbennett25 commented on #34039
@magento give me 2.4-develop instance

[2021-09-09 18:08] blakebauman commented on #21885
@arunu MDVA-31021 patch does not fix this issue

[2021-09-09 18:10] slavvka opened #34040 "Test!!!"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-09-09 18:11] slavvka commented on #34040
@magento give me 2.3.7 instance

[2021-09-09 18:11] slavvka opened #34041 "Test!!!"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-09-09 18:12] slavvka commented on #34041
@magento give me 2.3.7-develop instance

[2021-09-09 18:13] #34041 closed, assigned to nobody

[2021-09-09 18:15] #34040 closed, assigned to nobody

[2021-09-09 18:45] nathanjosiah commented on #28614
For how many participants are complaining about this I'm surprised there isn't any more feedback about it to answer my question above.
If I don't receive any feedback in the next few days then I have to assume that the payloads are attacking non-secure third-party payment extensions as I described and there is nothing more that we can do for the core Magento code.

[2021-09-09 18:51] cdbessig commented on #28614
@nathanjosiah how does one capture the payload your looking for?

Our three heaviest hit sites utilize braintree, so I can confirm they were not using insecure third-party payment extensions.

A further complicating factor for at least myself in getting data, is that our client received warnings from braintree and we had to put in strict mitigating measures into place (we added ip ranges of countr

[2021-09-09 18:58] birdman002 commented on #28614
We have noticed that these carding attacks come from all over the world. They will user different user agents within the miliseconds using the same IP address, then come back using a different IP address and start all over again. Some of these will get 429'd by our rate limiting via Fastly. We have written a module to help block them via fastly acl, but then again when they rotate IP's through the

[2021-09-09 18:59] nathanjosiah commented on #28614
@cdbessig To over-simplify, the malicious user would send the payment info to Braintree and get a token in return. This token would then be used to a request to `POST /rest/V1/guest-carts/<cart>/payment-information` or the related `setPaymentMethodOnCart` GraphQl mutation which would trigger an order to be placed assuming there is an item/shipping/etc set on the cart.

As far as Magento can see, t

[2021-09-09 19:00] nathanjosiah commented on #28614
@birdman002 We understand there are attacks. We are trying to determine what action Magento can/should take that the payment gateway isn't already supposed to be taking. Are you seeing payloads that are directly exploiting Magento functionality or are you seeing requests that are using valid tokens from your payment gateway?

[2021-09-09 19:08] BooyaDirect commented on #28614
Absolutely the same for us. We are using PayPal Payments Pro. What it appeared they were doiong was simply testing authorizations on multiple cards to find valid card numbers. The never charged anytrhing on our store. They were just using us for 100's of authorizations. I think once they got the token, they used it over and over on multiple card numbers for authorization purposes.

[2021-09-09 19:15] sb-nick commented on #28614
@cdbessig where can I find the genakers rate limiting plugin? Google is failing me.

[2021-09-09 19:18] cdbessig commented on #28614
I'll take your word on how payments work, I am not experienced on that module preferring out of the box solutions for our merchants on that side.

From what we see if a high variety of requests on the same guest cart id that will cause a bunch of declines or successful orders based on whether the card is actually valid or not.  Our clients use authorize & capture maybe that's why @BooyaDirect has

[2021-09-09 19:19] cdbessig commented on #28614
https://github.com/Genaker/Magento2_Payment_Bot_Block/tree/master/Genaker/BlockPaymentBot

Note: Dependency, you must be running redis for caching.

[2021-09-09 19:28] BooyaDirect commented on #28614
@cdbessig you bring up a good point. Yes Booya was set up as an "authorize" payment action and not a "sale", so maybe authorizations were their only option?

[2021-09-09 20:59] hostep commented on #34026
@Sartoric: it's a change in behavior of the `show --all` flag in composer v1 vs composer v2. I noticed it as well half a year ago or so. Maybe you can consider it a bug in composer v2?
But what you can do and what will fix your problem, is to use the `--available` flag instead of the `--all` flag. That one will give you the info you need and as a bonus also works on composer v1.

So this is defini

[2021-09-09 21:05] hostep commented on #34039
It appears there is already a fix for this problem: https://github.com/magento/magento2/pull/32389 and it looks like this fix is included in Magento 2.4.3

[2021-09-10 00:06] JeffersonTeixeira commented on #33893
The issue is not fixed.

### Steps to reproduce (*)
Any configurable product (swatch) which has some configuration (simple product) with different image each one.

### Actual result (*)
When there is no option selected, it shows only the configurable product's image.
Bellow, screenshot using swatch with dropdown which is the most annoying example in my opinion:
![image](https://user-images.githubu

[2021-09-10 01:36] Den4ik commented on #34031
Interested optimization

[2021-09-10 02:29] mkawachi commented on #32996
Hi all, multiple Japanese customer using 2.3.x and 2.4.x are wating this fix. So, could you also include this fix into the next quality patch ?

[2021-09-10 02:52] JKair commented on #15427
I miss this issues,too.

[2021-09-10 03:38] portchris commented on #33926
Hey @engcom-Lima

Thanks for your response. I'm not too sure how else I can explain this issue since this is an problem at arises only when trying to implement a Dynamic Row UI Component. So in order to demonstrate, I will have to use an example extension.

# Steps to Reproduce

1. Install latest version of Magento.
2. Install [this example extension](https://github.com/portchris/widget-does-not-s

[2021-09-10 03:51] rahulanand77 commented on #33000
Is this issue fixed in 2.4.3?

[2021-09-10 03:53] rahulanand77 commented on #31775
Hi @magento-engcom-team,

Any update on the issue? we are still waiting for the update

Thanks

[2021-09-10 04:23] intheshallow commented on #33000
It is not. I tested it.

On Thu, Sep 9, 2021 at 11:51 PM Rahul Anand ***@***.***>
wrote:

[2021-09-10 05:20] engcom-Lima commented on #33913
Hi @vk44295,

I think you should contact cpanel support with your env info for resolution on this. Since this issue is not related to Magento Dev specifically, please update if we can close this issue.

[2021-09-10 05:43] engcom-Lima commented on #31382
Hi @chequille,

Since this issue was reported long back. I just wanted to check if your issue is resolved ?

If not, please update your description with more detailed following points:
1. Steps to reproduce.
2. Expected and Actual Results.

Also, please refer the below documentation having all info about Coupon Codes and update accordingly:
https://docs.magento.com/user-guide/marketing/price-rules

[2021-09-10 05:45] jonathanribas commented on #33685
Hi there, we finally feel not alone anymore in this scenario! Thanks for opening an issue!

As we have decided to be resilient, we run Adobe Commerce on AWS EC2 several regions for a zone. We have seen a huge impact on the famous Data Transfer (intra regional) AWS cost line.

We have 20 store views (and growing), run FPC with Redis.

We have decided to dig into the topic checking for improvements:

[2021-09-10 07:42] koushikch7 commented on #34023
@cha80 You can check the repository https://github.com/koushikch7/magento2-productSoldCount

[2021-09-10 07:45] engcom-Lima commented on #33854
Hi @vertic4l,

Have you got the solution to your issues relating to virtual products ?

As for issue relating to out of stock configurable products, I think it is safe to assume that issue is not there on 2.4-develop or 2.4.3. If you are still able to find the issue relating to stockout while configuring products, please update with some more details on how I can reproduce it at my end.

Thanks

[2021-09-10 07:49] harizyusoff commented on #33971
@magento give me 2.4.2 instance

[2021-09-10 07:59] mrtuvn commented on #33685
Not sure but magento already update redis dependencies in composer.json. Not sure how much affected
"colinmollenhour/cache-backend-file": "~1.4.1",
        "colinmollenhour/cache-backend-redis": "^1.14",
        "colinmollenhour/credis": "1.12.1",
        "colinmollenhour/php-redis-session-abstract": "~1.4.0",

[2021-09-10 08:19] Sartoric commented on #34026
Well, I'm not saying it is a Magento bug, but if what you say about -all / -available it's correct (I mean, it is what it is supposed to do now with v2) for sure Magento's docs need to be updated

https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html

as well as composer one : https://getcomposer.org/doc/03-cli.md#show
[code]
So yes, maybe it's due to a composer bug, not to the way

[2021-09-10 08:38] anvanza opened #34044 "Unable to edit or create widgets in admin"
### Preconditions (*)

1. Magento 2.4.3 with Pagebuilder enabled
2.

### Steps to reproduce (*)

1. Go to Content > Widgets > Add Widget
2.

### Expected result (*)

1. Be able to edit/create a widget
2.

### Actual result (*)

1. A blank page appears
2.
![Screenshot 2021-09-10 at 10 34 58](https://user-images.githubusercontent.com/2848347/132825532-cb4b3059-1062-49c6-bb34-eda0f88dcb1f.png)

---
P

[2021-09-10 08:38] anvanza commented on #34044
@magento give me 2.4-develop instance

[2021-09-10 08:45] engcom-Lima commented on #32236
Hi @ioweb-gr,

I understand your concern but with your use case, I can't confirm the issue based on code only. I'll have to reproduce the actual issue in order to understand fully how it is affecting the search result.

So, that's what I was asking, can you please try to reproduce this based on your plugin code and share the relevant screenshot of unexpected behaviour for the filters ? If you can

[2021-09-10 08:48] anvanza commented on #34044
@magento give me 2.4.3 instance

[2021-09-10 09:07] anvanza commented on #34044
Could not reproduce

[2021-09-10 09:07] #34044 closed, assigned to nobody

[2021-09-10 09:13] engcom-November commented on #33927
Hi @jlenzstaysafe ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-10 09:13] #33927 closed, assigned to engcom-November

[2021-09-10 09:16] engcom-November commented on #33436
Hi @davidhiendl ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-10 09:16] #33436 closed, assigned to engcom-Echo

[2021-09-10 09:22] K1mMar1tz opened #34046 "spam mails sent to company website as customers"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2021-09-10 09:35] engcom-November commented on #34039
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
**Steps performed:**
Magento Operation mode is set to developer - bin/magento deploy:mode:set developer
Front-end - Catalog Search Results page - Click on Product - Product Details page is displayed as expected
Assigned Product to multiple categories from Admin and saved
Reindex and clear cache
Front-end - Product

[2021-09-10 10:19] engcom-November commented on #34036
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**
Stores - Configuration - Sales - Payment Methods - Enable zero subtotal checkout
Enable Check / Money order
Create a product with price 0
Enable Free Shipping from Stores - Configuration - Sales - Delivery Methods
Reindex and clear cache
Generate Customer token using GraphQL request
Get Cart ID

[2021-09-10 10:32] yohanespradono commented on #6281
this happens in our v2.1.9 intermittently. When saving a product, some attributes has ->getAttributeSetInfo() returns null and some returns empty array. This causes \Magento\Eav\Model\Entity\Attribute\AbstractAttribute::isInSet($setId) to return different values regarding whether getAttributeSetInfo is null or an empty array.
I am proposing on of this patch

in function \Magento\Framework\DataObje

[2021-09-10 10:40] beechyrb commented on #28614
We use "authorize" as well and if the authorization is successful then the order is placed otherwise it declines. The part that doesn't make any sense is why Braintree would return a token for invalid payment details and allow that token to be used over and over. @AidanThreadgold @ladonenko can you tell us?

[2021-09-10 11:20] hostep commented on #34026
@Sartoric: ah I wasn't aware of that documentation page.

I've opened [an issue](https://github.com/magento/devdocs/issues/9132) with them to change their recommendation to suggest using the `--available` flag:

[2021-09-10 11:59] engcom-November commented on #34046
Hi @K1mMar1tz ,
We are unable to reproduce this issue on Magento 2.4-develop branch.
**Steps performed:**
New Customer account emails are triggered to Customer only - **No issue**
New Company account email - sent to customer - **No issue**
Approval email sent to Website Owner - **No issue**
Order confirmation emails are sent to Customer only - **No issue**

Kindly recheck the issue on Magento 2.4-

[2021-09-10 12:08] shubham-cedcoss opened #34048 "Advance reporting not working"
### Preconditions (*)

1. Magento open source 2.4.0 and 2.4.2 without sample data is installed.
2.

### Steps to reproduce (*)

1. Configure Advanced reporting (https://docs.magento.com/user-guide/reports/advanced-reporting.html)
2.
![Screenshot_2021-09-10 Configuration Settings Stores Magento Admin](https://user-images.githubusercontent.com/54471172/132859350-f0762528-25cc-4b63-abf8-cdd4e8b021b9.

[2021-09-10 12:09] carolinerenul opened #34049 "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-09-10 12:25] andrewbess commented on #33391
The Laminas dependencies on which the `laminas/laminas-mvc` depends and incompatible with PHP 8.0
- `laminas/laminas-stratigility` 2.1.1 (in require >2.0.1 && <=2.2) requires php (^5.6 || ^7.0) - can be updated to 3.4.0

The Laminas dependencies on which the `laminas/laminas-mvc` depends and incompatible with PHP 8.1
- `laminas/laminas-config` 3.6.0 requires php (^7.3 || ~8.0.0)
- `laminas/laminas

[2021-09-10 12:43] cdbessig commented on #28614
@nathanjosiah to be clear, these are carding attacks, a bulk run of hundreds or thousands of cards to test which are still valid are not valid for sale on the black market or use by cyber criminals.  They have no intention of receiving the goods our merchants are selling.  I just want to make sure we're clear that the 100s of orders are each different cards being ran, not the same card several tim

[2021-09-10 12:45] engcom-Lima commented on #34048
Hi @shubham-cedcoss,

It looks like you have not enabled Advanced Reporting from Configurations. Steps are given on the same link which you mentioned(https://docs.magento.com/user-guide/reports/advanced-reporting.html)

Also check pre-requisites on below given link:
https://devdocs.magento.com/guides/v2.4/advanced-reporting/overview.html

You can also raise queries like this on various Magento For

[2021-09-10 12:57] stephan-cream commented on #33565
@engcom-Delta See the above.

[2021-09-10 13:01] trilokthinksys commented on #31842
I am facing this issue same

[2021-09-10 13:02] Eddcapone opened #34050 "\Magento\Framework\Exception\LocalizedException does not translate text"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Add article to your cart
2. Create Theme
3. Add file i18n/de_DE.csv to your Theme
3.1. Add this translation and clear cache afterwards :

    "The product has required options. Enter the options and try again.", "Tut uns Leid, irgendetwas ist schief gelaufen. Bitte konfigurieren Sie das Produkt neu und versuchen es erneut."

4

[2021-09-10 13:20] shubham-cedcoss commented on #34048
Hi @engcom-Lima,

I had enabled Advanced Reporting from Configurations. As I updated screenshots

[2021-09-10 13:37] cha80 commented on #34023
OK

[2021-09-10 13:42] anzin commented on #34020
@magento I am working on this

[2021-09-10 14:18] lilbumblebear opened #34052 "GraphQL: Retrieve a simple product when querying for a url_key of a simple product that has a parent configurable product"
*As a developer, when I use the products query for url_key and search for a simple product with a parent configurable product, I want to get back the simple product (if it is available in the website) not the configurable product.*

Ex: In default Magento, if I have a simple product that is a part of a configurable product, and the simple product is set to "Search, Catalog or Catalog/Search" visib

[2021-09-10 14:24] lilbumblebear opened #34053 "GraphQL: Configurable product returns disabled products as variants"
### Preconditions (*)
1. Magento 2.4.3

### Steps to reproduce (*)
1.  Create a configurable product
2. Create variants
3. Make one variant disabled
4. Configurable product returns the disabled variant in graphql response

### Expected result (*)

I expect to only get variants that are enabled and available in the given website

### Actual result (*)

1. disabled product was included in the varian

[2021-09-10 15:07] magenx commented on #33685
is this issue related to single redis instance or cluster?
any tried to connect redis auditor/profiler to see whats inside its doing?

https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-5-open-source.html#performance-boosts
https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-open-source.html#performance-improvements

[2021-09-10 15:37] DmitrySamushchenko opened #34054 "Method \Magento\Framework\Stdlib\DateTime::formatDate don't work with timezones"
Hello, i'm developer from Amasty.

### Preconditions (*)
Magento version 2.4.2

### Steps to reproduce (*)
1. Create `Catalog Price Rule` and specify the start and end date - https://screens.amasty.com/911_dim_2021-09-10_18.25.36.png
2. Apply this Catalog Price Rule, Cache Flush and run full reindex.
3. Open database and find table `catalogrule` and see column `from_date` - https://screens.amasty.

[2021-09-10 16:21] jonathanribas commented on #33685
I have also noticed that `SYSTEM` Redis cache key for 16 websites weights 10MB. After serialize and encrypt it (M2 core), it weights 14MB! Core source code about this: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Config/App/Config/Type/System.php#L338

If we suppose custom configurations for passwords are already encrypted (payments ...), I don't understand why we encrypt

[2021-09-10 16:55] mweaver-inmusic commented on #8538
This is still an issue in magento ver. 2.3.6

[2021-09-10 17:22] DmitrySamushchenko commented on #34054
@magento I am working on this

[2021-09-10 22:33] hanxiangwu commented on #28200
Hi there, is there a patch or solusion for this now? Thanks

[2021-09-10 22:40] chernenm commented on #28617
@magento give me 2.3.4 instance

[2021-09-10 22:42] chernenm commented on #28617
@magento give me 2.3-develop instance

[2021-09-10 22:43] chernenm commented on #28617
@magento give me 2.4-develop instance

[2021-09-10 23:14] chernenm commented on #33840
hello @vk44295,

Thank you for reporting this issue to us. But it is actually expected out of the box behavior of Magento 2, whenever custom option is selected its price is being added to the base product price.

[2021-09-10 23:14] #33840 closed, assigned to nobody

[2021-09-11 02:06] onlinebizsoft opened #34055 "order with invoice status pending get closed after shipping"
Magento has a check canCreditMemo canInvoice canShip to decide to close the order. This sounds good but Magento also offer status for Invoice (pending/paid) and status for Credit memo (pending/refunded)

The problem happen when we have a module or have a customization which can create an invoice with status Pending -> the order will get closed after shipping because all above conditions are met. I

[2021-09-11 02:51] github-jira-sync-bot opened #34056 "Fix static errors for previously delivered code"
False positive static tests build resulted in delivery of code with errors. Those errors must be fixed

Please use attached reports\files for the list of errors and affected files.

AC:
* Errors corrected
* Static tests build is successful 

[2021-09-11 02:55] xmav commented on #34056
[phpstan_report.txt](https://github.com/magento/magento2/files/7147101/phpstan_report.txt)
[phpmd_report.txt](https://github.com/magento/magento2/files/7147102/phpmd_report.txt)
[phpcs_report.txt](https://github.com/magento/magento2/files/7147103/phpcs_report.txt)
[b2b-legacy-console-log.txt](https://github.com/magento/magento2/files/7147104/b2b-legacy-console-log.txt)

[2021-09-11 03:09] github-jira-sync-bot opened #34057 "Check tests build status"
As magento developer\vendor I want to be able to run all kind of tests with PHP 8

AC:
* all kind of test could be started on test env with PHP8 (FT, Unit, Integration,Static, SampleData,SVC, WebApi, MHI, DatabaseCompare)
* test build may fail but must have build report\results

[2021-09-11 06:35] mitraj-adorncommerce commented on #34050
@magento I am working on this

[2021-09-11 06:35] mitraj-adorncommerce commented on #34050
@magento add to contributors team

[2021-09-11 06:36] mitraj-adorncommerce commented on #34050
@magento I am working on this

[2021-09-11 07:22] mitraj-adorncommerce commented on #34050
Could not reproduce

[2021-09-11 11:26] venkivenkatesh opened #34058 "Magento Graph QL : Unable to Apply Coupon as its marked as applied even before placing an order"
We are using Magento ver. 2.4.2-p1 as backend admin while frontend is running on PWA which uses graphql mutations.
I am facing the below problem. Please find the below steps

**Steps to Reproduce:**

1. I have a Welcome coupon configuration where a customer can use the coupon only once
2. Apply that coupon in the cart
3. Navigate to the last step of checkout page
4. Then make any of the product in

[2021-09-11 13:53] n2diving-dgx opened #34059 "Ordering with Venmo payment method FAIL, but customer Venmo account is CHARGED"
Upon upgrading from M2.3.7-p1 to M2.4.3, customers attempting to checkout and place orders using the Braintree Venmo payment method fail with Error message "Something went wrong with your request. Please try again later."  There is no order received by Magento.

However, most IMPORTANTLY, **the customer Venmo account is charged even though no order is successfully placed.**

Steps to reproduce....

[2021-09-11 14:09] shikhamis11 commented on #34053
@magento give me 2.4-develop instance

[2021-09-11 14:44] shikhamis11 commented on #34053
@lilbumblebear thank you for opening this issue. I am able to reproduce this issue on Magento 2.4.3 but not able to reproduce it on the 2.4-develop instance. seems it is already fixed by the internal team.
Please check commits
[f3f73ab6b8caf1796dc5b5dcf40bf076b1c2ecd1](https://github.com/magento/magento2/commit/f3f73ab6b8caf1796dc5b5dcf40bf076b1c2ecd1
)
[d81e4852c1d201a1ef355af68eca8947e8260895](h

[2021-09-11 14:44] #34053 closed, assigned to shikhamis11

[2021-09-11 15:48] #32869 closed, assigned to andrewbess, eduard13, drpayyne

[2021-09-12 09:44] mrtuvn commented on #27912
Lol! We are approaching year anniversary of issue

[2021-09-12 09:57] locopump commented on #31478
just disable two factor authentication with: php bin/magento mo:di Magento_TwoFactorAuth

[2021-09-12 10:14] euchenhofer commented on #27367
^ This did not work for 2.3.3

I used https://github.com/magento/magento2/commit/27a1299b501f6a15f9758148d17b53edfc51504d which fixed it for 2.3.3.

[2021-09-12 20:38] sprankhub commented on #26210
This is still relevant.

[2021-09-13 05:36] oneserv-heuser commented on #18025
And again, still an issue which needs to be fixed.

[2021-09-13 05:52] engcom-November commented on #33940
Hi @devops724 ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-13 05:52] #33940 closed, assigned to engcom-November

[2021-09-13 06:02] #10263 closed, assigned to nobody

[2021-09-13 06:42] ragboy commented on #28614
I have seen this issue for months, but I just noticed this in the latest braintree module:

https://github.com/genecommerce/module-braintree-magento2/releases

Look at new features for 4.0.7. It says it now has reCAPTCHA in the payment module? Was this silently added? Has anyone had any success with this and this issue?

[2021-09-13 06:48] engcom-Lima commented on #33763
Hi @webtekindo,

The issue which I referred also didn't have MSI installed. And I tried reindexing the price by printing the query which you referred in last comment but not able to get the same query as you have provided.

Anyways, in order to do some further analysis please provide the below details also:
1. Your server configurations.
2. How much time your server spent on reindexing 30000+ conf

[2021-09-13 06:49] #34037 closed, assigned to eduard13

[2021-09-13 07:15] engcom-November commented on #34049
Hi @carolinerenul
Thank you for reporting. However, the provided information is not enough for us to reproduce this issue. Kindly recheck the issue on Magento 2.4-develop branch and provide clear description of the issue if its still reproducible. Please update your issue description with below details:
1. Steps to reproduce.
2. Expected and Actual Results.
Thank you.

[2021-09-13 07:27] rb-ec commented on #18025
Yes, still an issue.

[2021-09-13 07:34] engcom-Hotel commented on #33268
Dear @JithinJay,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-09-13 07:34] #33268 closed, assigned to engcom-Hotel

[2021-09-13 07:37] engcom-Hotel commented on #33274
Dear @iamcoolbuddy,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-09-13 07:37] #33274 closed, assigned to engcom-Golf, engcom-Hotel

[2021-09-13 07:40] engcom-Hotel commented on #33349
Dear @achatpc,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-09-13 07:40] #33349 closed, assigned to engcom-Hotel

[2021-09-13 07:42] engcom-Hotel commented on #33313
Dear @indykoning,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket if you need more assistance on this.

Regards

[2021-09-13 07:42] #33313 closed, assigned to engcom-Hotel

[2021-09-13 08:08] engcom-Lima commented on #33245
Hi @amenk,

I tried to reproduce this issue but did not find any problems in translating ‘foo bar 123’ into any language that I wish.

Here is what I did:

1. I created a new module to test it out.
2. I kept a string "foo bar 123" in the .phtml file. As per documentation kept it like __('Testing - foo bar 123') so that it can be translated properly. I have not added translation for 'Testing - ' so

[2021-09-13 08:18] IanFiretoys commented on #29050
still definitely relevant, I'm having to reset images through the database on a regular basis still, which is not ideal. I get several emails a month from our non technical staff saying that they can't change/delete an image because it's got a tag selected in another storeview.

[2021-09-13 08:30] engcom-Hotel commented on #33705
Hello @vseager,

We have tried to reproduce the issue after making changes as per the above comment. It has been observed that, if we are passing date with format "YYYY/MM/DD" then no error has been occurs but in case of "DD/MM/YYYY" format, the issue is occurs.

Please have a look into below screenshot:

With Date Format YYYY/MM/DD:

![image](https://user-images.githubusercontent.com/51681618/133

[2021-09-13 08:53] mrtuvn commented on #33245
@engcom-Lima you have to translate in file phtml use knockout syntax instead. That is correct case author try to mention here

[2021-09-13 08:53] hewgim opened #34063 "Related Products Block Breaks Rich Snippets Price on Product View"
### Preconditions (*)
We are running on Magento 2.3.5-p1

When the product view related products block is generated after a cache clean, it appears that it generates cached price blocks for each of the related products (without any schema.org offer price rich snippets). If you then click on one of these products and go to the product view for that product, the main price field is loaded from cache

[2021-09-13 09:02] amenk commented on #33245
Yes, normal .phtml translation on PHP level with the `__()` function of course works, knockout translation in `.html` also works. The problem is about the knockout translation in `.phtml` files.

[2021-09-13 09:04] onlinebizsoft opened #34064 "admin session size become too big for a site with many modules/permissions"
In my case the session size is 13MB which is unacceptable and add extra 1-2 seconds on top of every backend request and sometime cause session reading timeout

In the session data, I see it fills 90-95% data by these
![image](https://user-images.githubusercontent.com/22501570/133055925-feeddeae-9b3f-4256-8c04-58d665ca958f.png)
![image](https://user-images.githubusercontent.com/22501570/133055989-7

[2021-09-13 09:13] onlinebizsoft commented on #34064
@groomershop-mt @jorgb90 @achatpc @in-session @marvinhinz @kovalchukVM any one had met similar situation?

[2021-09-13 09:53] engcom-Lima commented on #32943
Dear @CelinaNguyen114,

We have noticed that this issue has not been updated for a long time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-13 09:53] #32943 closed, assigned to engcom-Lima

[2021-09-13 10:08] baljinderimpinge commented on #33988
@engcom-Delta Please reply, looking for your response.

[2021-09-13 10:28] engcom-November opened #34065 "Cart Price Rules - Uses per Coupon / Uses per Customer not working"
### Preconditions (*)

1. Magento 2.4-develop, 2.4.3
### Steps to reproduce (*)

1. Admin - Marketing - Cart Price Rules - Add New Rule - Create Specific Coupon , Customer Groups - Select All options except "Not Logged In" (exclude "Not Logged In")
Set Uses per Coupon  ,  Uses per Customer to 1
Actions - Enter discount amount and Save
2. Reindex and clear cache
3. Front-end - Login using Customer

[2021-09-13 10:49] netdesign commented on #15772
Hello to all, please check this Pull Request commit https://github.com/magento/magento2/commit/27cd977546cce4b973e9d578b6816b43295d9ab8

It should fix the issue

[2021-09-13 11:22] eduard13 commented on #33972
### Overview

- grunt-contrib-jasmine - from the next 2.0.0, the library has switched from PhantomJS to Chrome Headless via puppeteer, and requires reconfiguring the extension.
- grunt-contrib-less - version 3.0.0 and higher, are failing on Github builds without an explicitly reason
- grunt-eslint - from the next 21.0.0 we're started getting the Warning: must provide pattern
- imagemin-svgo - vers

[2021-09-13 11:31] IanFiretoys commented on #33819
just wanted to chime in and say that we're experiencing this as well on 2.4.2 and 2.4.3 (we are using a database that was migrated from magento 1.9.3 in 2019 if that helps narrow it down).

we're having this issue in simples and configs where there's a saleable qty of 0 but a stock qty of >0 and a reservation for an order that hasn't been shipped yet. once the order gets shipped the logic of setti

[2021-09-13 11:33] engcom-Hotel commented on #32202
Hello @mtwegrzycki,

We have tried to reproduce the issue in Magento 2.4-develop branch. But we are unable to reproduce it. We have tried both ways to create the order, which means frontend and graphql. We have followed the below steps in order to reproduce it:

1. Create an extension attribute with the name "order_comment".
2. Place an order via GraphQL and frontend.
3. Tried to update the extens

[2021-09-13 12:12] tuyennn commented on #33593
@denis-g Your workaround #8 save my day, but probably this should have a completely fix for all.

[2021-09-13 12:12] engcom-November commented on #34058
We are blocked to test this issue on Magento 2.4-develop branch due to https://github.com/magento/magento2/issues/34065.
(Note: Issue also exists on 2.4.3 Composer version)

This ticket needs to be verified once the above issue is resolved as this is reproducible on 2.4.2-p1 version.

**Steps to reproduce:**
1. Admin - Marketing - Cart Price Rules - Add New Rule - Create Specific Coupon , Customer

[2021-09-13 12:36] Thundar commented on #33770
@jsyvanne you are right. I'll edit my snippet to drop that table then.

[2021-09-13 12:39] engcom-Lima commented on #33245
Hi @amenk, @mrtuvn,

Thank you for the clarification.

Verified the issue and issue is reproducible on 2.4-develop branch.

I added string `` in the same module which I created earlier and in same `.phtml` file but the translation did not worked with ko syntax.

Language Translation is working with php tag and with knockout translation with `.html` also but not working with ko syntax. Based on it,

[2021-09-13 13:15] engcom-Lima commented on #34048
Hi @shubham-cedcoss,

As I said earlier, this issue is not related to Magento Dev. There can be multiple reasons for getting this 404 error like it may be due to incorrect configurations at your end or maybe you need to reauthorise your integration properly.

Please check on the below link for a possible solution:
https://community.magento.com/t5/Magento-2-x-Technical-Issues/Advanced-Reporting-doe

[2021-09-13 13:19] Ealuad commented on #28706
Issue can still be replicated on EE M2.3.4-p2.

[2021-09-13 15:28] RomanKrut opened #34066 "Magento resource model can not rollback transactions if error happend"
We are using magento 2.3 instance on production and we have faced issue with transactions while saving some model to database. But when error happens we can`t log that to database because of transaction level.
### Examples (*)
Lets look at https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Model/ResourceModel/Db/AbstractDb.php save function
At line 402 we have begi

[2021-09-13 15:32] MatthijsBreed commented on #15187
For those that want a short term solution/patch, you can edit the following lines in vendor/magento/module-catalog/Model/ResourceModel/Category/Collection.php

[code]

[2021-09-13 15:59] m2-assistant[bot] opened #34067 "[Issue] Fixed customertoken not generating after configured failure in a row"
This issue is automatically created based on existing pull request: magento/magento2#34001: Fixed customertoken not generating after configured failure in a row

---------

### Description (*)
This pull request solves the issue when a customer has tried too many fail attempt (i.e more no of times than in the configuration)for generating the customer token via graphql or rest api. Then the customer

[2021-09-13 19:32] hewgim commented on #34063
@magento give me 2.4-develop instance

[2021-09-13 20:13] torhoehn commented on #34031
@hostep So you will force to implement own modules as composer requirement? Maybe this needs custom infrastructure on integrator side.

[2021-09-13 20:18] hewgim commented on #34063
I can confirm that this issue exists on the 2.4-develop instance. Not quite sure how this process works. I see that @engcom-November has self assigned this, so I'm not sure if there is anything else I need to do. I did run the 2.3.5-p1 code through a debugger and it looks to me like getCacheKeyInfo() in Magento/Catalog/Pricing/Render/FinalPriceBox.php needs to include a flag that indicates whether

[2021-09-13 20:46] pmonosolo commented on #24946
Did this issue come back in 2.4.3? 2.3.3 it worked fine, but for some reason 2.4.3 its broken again.

[2021-09-14 04:01] engcom-Lima commented on #28195
Hi @liamjtoohey,

We have noticed that this issue has not been updated for a long time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2021-09-14 04:01] #28195 closed, assigned to engcom-Lima

[2021-09-14 04:07] engcom-Lima commented on #33650
Hi @hasnatme,

This ticket is duplicate to #30128 hence we are closing this one. Please follow up on other issue for the update.

[2021-09-14 04:07] #33650 closed, assigned to engcom-Lima

[2021-09-14 05:28] engcom-Echo commented on #33618
Hi @a4deel
Since we didn't get any updates from you & since we couldn't reproduce the issue being reported on 2.4-develop, we are closing this issue.
If this issue is still reproducible for you on magento **2.4-develop**, please feel free to reopen this issue & provide more details or additional/missing steps regarding the same.

Thank you

[2021-09-14 05:28] #33618 closed, assigned to Den4ik, engcom-Echo

[2021-09-14 05:30] engcom-Echo commented on #33953
Hi @scooby09
Since we didn't get any updates from you & since we couldn't reproduce the issue being reported on **2.4-develop**, we are closing this issue.
If this issue is still reproducible for you on magento **2.4-develop**, please feel free to reopen this issue & provide more details or additional/missing steps regarding the same.

Thank you

[2021-09-14 05:30] #33953 closed, assigned to krishprakash, engcom-Echo

[2021-09-14 05:30] mrtuvn commented on #30128
@bmitchell-ldg can you have time for check in 2.4 develop code

[2021-09-14 05:37] webtekindo commented on #33763
Hi @engcom-Lima,

Very strange you don't get the same query as it's literally what is standing here:

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/ConfigurableProduct/Model/ResourceModel/Product/Indexer/Price/BaseStockStatusSelectProcessor.php#L63

Did you enable show out of stock?

Our server configuration is 32 CPU cores and 42G of RAM, we have more than 30.000 configura

[2021-09-14 05:38] engcom-Echo commented on #33873
Hi @webgility-amazonapi
First and foremost apologies for the delayed response.
We have checked the aforementioned issue on **2.4-develop** branch, wherein its working perfectly fine (can be inferred from my previous comment). There can be a possibility that it might have been an issue in some previous versions & might have got fixed by some PR merges. However as this is not a reproducible issue on

[2021-09-14 05:56] evs-xsarus commented on #32743
@mrtuvn I don't have experience with it, could you guide me?

[2021-09-14 05:58] mrtuvn commented on #32743
https://devdocs.magento.com/contributor-guide/contributing.html
here is the guide

[2021-09-14 06:13] webgility-amazonapi opened #34071 "All categories are not getting downloaded in single API call"
### Preconditions (*)

1. Magento version CE 2.4.
2.

### Steps to reproduce (*)

1. Call the api URL for Product Category download : https://www.impressionslast.com/rest/V1/categories/list?searchCriteria=al

Header :
Authorization:Bearer e8elwp2vjc9hg1vvfvdykc1uq3ch4wvy
Content-Type:application/json
Response :
[Magento Response.txt](https://github.com/magento/magento2/files/7159236/Magento.Respon

[2021-09-14 06:17] ameysar commented on #34066
Hi @krutkoroma79911. I agree with you. As far as M2 moved to PHP 7+ it would be very good to replace all catch(\Exception){} with catch(\Throwable){}, as far as from PHP 7  [\Throwable](https://www.php.net/manual/en/class.throwable.php) become the basic interface for catching exceptions/errors.

[2021-09-14 07:22] engcom-Lima commented on #33674
Hi @JohnAyling1979, @DaddyDomi,

Can you please update the answers for questions asked in https://github.com/magento/magento2/issues/33674#issuecomment-911326216 ?

Also can you share the whole code which you guys are using so that I can try to reproduce this on 2.4-dev instance ?

[2021-09-14 07:32] engcom-November commented on #34026
Hi @Sartoric ,
We are closing this issue as this is not a Magento bug and [new issue](https://github.com/magento/devdocs/issues/9132) has been created to update the devdocs.
Thank you.

[2021-09-14 07:32] #34026 closed, assigned to engcom-November

[2021-09-14 08:07] engcom-November commented on #34071
Verified the issue on Magento 2.4-develop branch and cannot able to reproduce the issue
Steps performed:
Generate Admin access token using POST: /rest/default/V1/integration/admin/token
Hit the Get Request: /rest/V1/categories/list?searchCriteria=al
No issue: All Categories list is retrieved.
In my case 42
![image](https://user-images.githubusercontent.com/60198231/133219927-2cfeb252-26eb-47ab-81a

[2021-09-14 08:16] engcom-Lima commented on #33031
I have re-evaluated this issue and verified the same. Issue is reproducible on 2.4-develop.

[2021-09-14 08:50] engcom-November commented on #33910
Hi @StruggleSnuggl3 ,

Did you get a chance to reproduce this issue?
Thanks in advance.

[2021-09-14 09:18] Quazz commented on #34071
@engcom-November In your own test you can see it is only returning 20 categories (by way of page_size 20).

Compare how much data is returned with when you manually specify pagesize (?searchCriteria[pageSize]=42)

For some reason there is a hardcoded default of 20 pagesize on categories API call

[2021-09-14 09:25] marcatos commented on #19479
I stumbled upon the same error today, I share my experience to whom who could resolve in the same way.
In my case the error was thrown because I accidentally imported non M2 tables on M2 database, it seems that Magento checks every table present on its database.

[2021-09-14 09:28] engcom-Lima commented on #34065
I have re-evaluated this issue and verified the same. Issue is reproducible on 2.4-develop.

Currently Coupon can be used n number of times per customer.

[2021-09-14 09:53] StruggleSnuggl3 commented on #33910
@engcom-November The issue is still present; and I am unable to resolve it.

[2021-09-14 10:02] engcom-Alfa commented on #33819
@magento give me 2.4-develop instance

[2021-09-14 10:23] hostep commented on #34031
@torhoehn: this is only for modules that are using the Magento namespace. And all of those get installed via composer, right?

[2021-09-14 10:29] engcom-November opened #34074 "Price mismatch in frontend product search and product details pages"
### Summary (*)
There is a price mismatch issue happening in Product search and detail page on frontend with multiple stores and Catalogue Price Scope is changed from Website to Global. Issue is specific to existing products before switching the scope.

### Preconditions (*)

1. Magento 2.4-develop
2. Multiple Websites/Stores are setup

### Steps to reproduce (*)

1. Setup multiple Magento Stores

[2021-09-14 10:35] daiduongvo18 commented on #14495
I can reproduce the issue on **Magento 2.4.1** as @nans mentioned.

Steps to reproduce:
1. Add new customer attribute whose code is `varchar_attribute`, Input Type => Text Field, Add to Column Options => Yes, Use in Filter Options => Yes.
2. Define the `varchar_attribute` in the `customer_listing.xml` as in this sample module
[TestCompany.zip](https://github.com/magento/magento2/files/7161076/Test

[2021-09-14 11:03] engcom-Lima commented on #34066
Hi @krutkoroma79911,

Can you please elaborate on the errors that you are getting while dealing with db transactions ? It would be helpful for further analysis if we can replicate the same errors at our end.

Thanks

[2021-09-14 11:04] torhoehn commented on #34031
@hostep Ah sorry, you're absolutely right!

[2021-09-14 11:40] krutkoroma79911 commented on #34066
Hi @engcom-Lima . It happened with our customization of order address model, not with magento core functionality.
We have an observer on beforeSave event witch validates data of shipping address.
All files of validators starts with declare(strict_types=1); https://i.imgur.com/JLClVFI.png
In one of validators we have validate function with code
` public function validate($innNumber)
  {
      retur

[2021-09-14 12:30] webgility-amazonapi commented on #34071
@engcom-November In your result set total count is 42 but its returning page size 20 as default, and is returning only first 20 records.

Please check once again.
Also what does the "CE" in magento version defines. Is that a minor version?

Thanks
Webgility team

[2021-09-14 12:48] SundarAkula opened #34077 "USPS shipping methods not showing for Canada country selection with correct address details."
I have enabled all USPS methods at the backend and allowed countries for the United States and Canada in configuration. But USPS shipping methods only showing for the United States only. For Canada, no shipping methods showing.

Please check the below screenshots:
https://prnt.sc/1s5zgdc
https://prnt.sc/1s5zltp

Response file:

[2021-09-14 12:09:14] main.DEBUG: Sorry, something went wrong. Please

[2021-09-14 13:16] engcom-November commented on #34063
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

**Steps to reproduce:**
Create a Simple Product A from admin and Save
Create another simple product B and add Simple A as Related Product to it and Save
Front-end - Open Simple Product B
Clear the cache - > bin/magento cache:flush
Refresh product B's product view
Inspect Element - Look in your web inspector tools at t

[2021-09-14 13:39] ameysar commented on #34066
https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Model/ResourceModel/Db/AbstractDb.php
[code]

and call model save() for example product, category, etc.

[2021-09-14 14:04] dooblem commented on #13048
Some permissions are still wrong with a create project for magento v2.4.3.

This is a security issue.

[code]

[2021-09-14 14:10] engcom-Lima commented on #34054
Hi @DmitrySamushchenko,

Thank you for the detailed issue explanation. I tried to reproduce with the steps given but I was not able to reproduce it on 2.4-develop instance.

For your reference, please check code in file`\Magento\CatalogRule\Model\Indexer\ReindexRuleProductPrice` and method `getDateInterval()`, you’ll notice formatting of time using website timezone only. As per your use case `late

[2021-09-14 14:21] pisarkov commented on #13929
Fixed by increasing session size values (Configuration -> System -> Security).
![image](https://user-images.githubusercontent.com/39527698/133275214-c327df68-eb9d-44fd-b2a0-fe5cc8099952.png)

[2021-09-14 14:24] jonathanribas opened #34078 "Cache lock issue"
### Preconditions (*)
1. Adobe Commerce 2.3.7 / 2.4.3

This one relates to the famous https://github.com/magento/magento2/pull/22829

### Steps to reproduce (*)
1. After a deployment, Adobe Commerce cache is emptied, having some concurrency on cache generation, it can lead to long running time saving keys.
2.  I've tested to kill PHP-FPM master process when SYSTEM CONFIG key was being generated on

[2021-09-14 14:24] ihor-sviziev commented on #33910
@engcom-November, the issue IS reproducing with different ICU library versions. You can see more details in the https://github.com/magento/magento2/pull/33966

[2021-09-14 14:54] kandy commented on #34078
@jonathanribas  W We don't recommend using `\Magento\Framework\Lock\Backend\Cache` implementation due to described problem.
Can you check if this issue is reproduced with `\Magento\Framework\Lock\Backend\Database`?

[2021-09-14 14:58] shuffless commented on #5847
Having the same issue in 2.4.3.

I have created a multistore setup on a website (2.3.5-p1 with php 7.3) and I get errors in checkout.

The order is placed but the customer still receives the error and then they place it 2-3 times
the checkout requests look like this https://domain.com/en/rest/en/V1/guest-carts/hHibRsXvKrTKfUkRMsLKfhVH0XegQmWk/payment-information but the status returns 404

If you

[2021-09-14 15:04] github-jira-sync-bot opened #34079 "PHP 8 support for magento-infrastructure codebase"
### Description 

We are adding PHP 8 support and removing PHP 7.3 support for Magento 2.4 release line
### What should be done

1. Fix issues reported by dev-develop PHPCompatibility check:
[code]
2. Check and fix the areas not yet covered by PHPCompatibility on develop branch:

<https://github.com/PHPCompatibility/PHPCompatibility/issues/809>

3. Update PHP version in composer.json from "<sub>7.

[2021-09-14 15:12] jonathanribas commented on #34078
@kandy thanks for your help!

I've just tested `\Magento\Framework\Lock\Backend\Database` and now we have the following error on some homepage blocks (Page Builder):
`Error filtering template: Current connection is already holding lock for 9af174cd8e68c0ec0d719dd1cd00434, only single lock allowed`

[2021-09-14 16:42] kandy commented on #34078
@jonathanribas Yes, by default composer will overwrite the di.xml file
You also can specify adapter in env.php file. see https://github.com/magento/magento2/blob/2.3.7/lib/internal/Magento/Framework/Lock/LockBackendFactory.php#L98

if you think that there is no issue in 2.4.3 feel free to close the ticket ;)

[2021-09-14 18:12] jonathanribas commented on #34078
@kandy, great to know, thank you!

Closing this one at the moment, will reopen if we still have issues.

Thanks again.

[2021-09-14 18:12] #34078 closed, assigned to nobody

[2021-09-14 18:58] alexvais commented on #13823
@Georgian did you find a solution?

[2021-09-14 20:01] Georgian commented on #13823
@alexvais Here -> https://magento.stackexchange.com/a/327010/92896

[2021-09-14 20:24] bloodf commented on #32427
This needs to be put in the core, we can have the configuration as it is. Doing an integration or consuming the GraphQL right now, makes the usage of the API totally worthless.

[2021-09-14 20:27] codedge opened #34080 "Cannot add product to order in admin"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Login to admin
2. Go to order and create a new order
3. Select a customer
4. Add a product to the order
5. Click "Add selected product(s) to order" and 💣 .. nothing happened

<img width="2169" alt="grafik" src="https://user-images.githubusercontent.com/4409904/133328898-ce28d88c-1b2b-4256-a300-e0e351a6ee4c.png">

<img width="2

[2021-09-14 20:28] codedge commented on #34080
@magento give me 2.4-develop instance

[2021-09-14 20:59] codedge commented on #34080
This issue occurs when the "Max Session Size in Admin" is set to low - see issue #33748

[2021-09-14 20:59] #34080 closed, assigned to nobody

[2021-09-14 21:32] chernenm commented on #33845
@magento give me 2.4-develop instance

[2021-09-14 21:58] #33845 closed, assigned to nobody

[2021-09-14 22:01] Any-Documentation-Would-be-Great opened #34081 "Retry Failed Send sits there and does nothing."
### Preconditions (*)

1. Ver. 2.3.6
2. ERP Order Information

### Steps to reproduce (*)

1. Have an Order set to 'ERP Error' by your system failing to send
2. Manually change that to 'Error - Retry Attempt Failure'
3. Refresh for an hour waiting for Magento to do literally anything with this new information

### Expected result (*)

1.  RETRY SENDING THE ORDER MAYBE?

### Actual result (*)

1. O

[2021-09-14 23:02] Flyingmana commented on #30315
@davidandersson1 probably not much of help, but have you checked in MySql Performance Schemas if there appears any notable difference between using this two mysql versions?

The first bigger difference which comes to mind, is the Query Cache, which is removed in MySql 8, which is easy to validate, by disabling it in 5.7 and checking, if the performance now matches what you see in MySql 8.

[2021-09-14 23:57] The-Tool-Room opened #34082 ""Something went wrong with processing the default view and we have restored the filter to its original state.""
### Preconditions (*)

### Steps to reproduce (*)
On loading Admin - Catalog - Products, below error message is getting displayed on UI.
Something went wrong with processing the default view and we have restored the filter to its original state.

I've tried logging out, refreshing I can't seem to remove this error.
Restart elastic search, reindex and clear cache - No luck. Error message is display

[2021-09-14 23:58] The-Tool-Room commented on #34082
@magento give me 2.4-develop instance

[2021-09-15 04:01] magenest-dev commented on #33770
This issue can happen if the instance previously used the Data migration tool to import M1 data. Duplicate `url_rewrite_id` rows under `catalog_url_rewrite_product_category` but only one row has matching `product_id` with `entity_id` on `url_rewrite` table.

Irrelevant duplicated rows can be removed from `catalog_url_rewrite_product_category` with the following (backup this table first) :

`DELETE

[2021-09-15 04:11] WebHostingAce commented on #33770
I simply emptied this table `catalog_url_rewrite_product_category` .

Then you can simply re-generate this table by disabling and enabling Anchor for the category.

If you have many categories. This might not be the solution.

[2021-09-15 06:15] hostep commented on #33770
@victor-v-rad: could you have a look at the remark from @magenest-dev above? Thanks! 🙂

[2021-09-15 06:48] pppwu commented on #5847
Hi @shuffless
I found that if the SMTP setting is not completed, it will cause the same error as above mentioned, please check the POST request (rest/it/V1/guest-carts/(cartid)/payment-information) instead of GET, you will found that there is still an error in the response even if it returns HTTP200, in my case:

Request URL: {mydomain}/V1/guest-carts/K7bDWOgP5B7bRMyM2dcBmcxTPiyGIyts/payment-infor

[2021-09-15 06:52] pppwu commented on #27542
@atty31
please check my comment here https://github.com/magento/magento2/issues/5847#issuecomment-919747038
hope this will help.

[2021-09-15 07:38] engcom-November commented on #34082
Hi @The-Tool-Room ,

This issue is not reproducible on Magento 2.4-develop branch and also on latest Magento open source version: 2.4.3.
If you are using older Magento version, please check below possible cases that may help you resolve the issue:

1. If any of the products have null as SKU value (Or SKU number deleted), there may be possibility of this error. Update 'sku' in "catalog_product_enti

[2021-09-15 07:57] engcom-Lima commented on #28119
Hi @ioweb-gr,

We have noticed that this issue has not been updated for a long time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-15 07:57] #28119 closed, assigned to engcom-Lima

[2021-09-15 08:33] mrtuvn commented on #32697
Can you recheck with latest code ? 2.4.3 if you have
Feel free create pull request for missing parts at
https://github.com/magento/inventory

[2021-09-15 08:38] Eddcapone opened #34083 "Magento is still caching, even when cache is disabled"
### Preconditions (*)

1. 2.4.2

### Steps to reproduce (*)

1. Disable Cache
2. Change something in a checkout template
3. Disable Browser Cache (network tab in chrome dev tools) and reload checkout

### Expected result (*)

1. Changes should show

### Actual result (*)

1. Changes not showing
2. Flush Cache
3. Changes are showing now.
Why do I need to flush the cache, even though it is disabled?

[2021-09-15 09:19] engcom-Lima commented on #34055
Hi @onlinebizsoft,

I tried to reproduce this but the description needs some more info.

From the look, it could be an expected behaviour. General behaviour is once Invoice is created and order is shipped it can be considered as 'Complete'. So if you are changing values directly in DB after invoicing, it could affect the order. Anyways, will do further analysis once you provide some more info.

Ca

[2021-09-15 09:27] engcom-Delta commented on #33493
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-15 09:27] #33493 closed, assigned to engcom-Delta

[2021-09-15 09:28] engcom-Delta commented on #33693
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-15 09:28] #33693 closed, assigned to engcom-Delta

[2021-09-15 09:31] engcom-Delta commented on #33181
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-15 09:31] #33181 closed, assigned to engcom-November

[2021-09-15 09:56] shuffless commented on #5847
Indeed this was the case on my end as well. Thank you for the hint. I believe the debugging on this is really problematic since I lost so many hours trying to figure out what was the issue.

So, the troubleshooting for anyone getting this would be to disable all non-standard modules and try to reactivate and test one by one.

The logs do not provide any hint about the SMTP ... completely unintuiti

[2021-09-15 10:06] engcom-Lima commented on #34066
Hi @krutkoroma79911, @ameysar,

Thank you for the reply.

As you said, this error is from the customised code's side which can be handles there itself and not from the Magento Implementation.

I asked for the errors you are getting so that I can understand the situation better. What I think is, If we replace `catch (\Exception $e) with catch (\Throwable $e)`, it will not only catch all exceptions;

[2021-09-15 10:31] jorgb90 commented on #33758
@chequille Sorry I missed your question completely! I disabled the following modules to get everything working without MSI:

Magento_Inventory
Magento_InventoryAdminUi
Magento_InventoryAdvancedCheckout
Magento_InventoryApi
Magento_InventoryBundleImportExport
Magento_InventoryBundleProduct
Magento_InventoryBundleProductAdminUi
Magento_InventoryBundleProductIndexer
Magento_InventoryCatalog
Magento_I

[2021-09-15 11:16] ihor-sviziev commented on #15461
I'm re-opening this issue since it's high prior issue

[2021-09-15 11:21] mrtuvn commented on #34083
from my exp magento have many levels of cache. Cache also come from server, opcache/php
Depends on what you want to change while development. If i working with phtml (disable block_html cache) may help. Same approach with xml (layout cache). After work done i re-enable again

[2021-09-15 11:38] engcom-November commented on #34071
Hi @webgility-amazonapi ,

Just FYI.. List of all categories can be retrieved using GET API call: **/rest/all/V1/categories** - In my case all 42 categories are retrieved in the response.

But when trying to retrieve the data using Query Param - searchCriteria - for any other string/value entered - by default the response we get is for "page_size": 20 - **This is the current Magento behavior for a

[2021-09-15 11:42] ihor-sviziev commented on #15461
Hi @Vossie1975,

I just checked - it looks like the listed above get request is NOT applying a filter by Website ID or Store ID.

Example:
**Categories:**
[code]

✔ Listed the only categories for the selected store (store code is `mysecondstore`)

**Products:**
[code]
❌ Listed products NOT only from the selected store (store code is `mysecondstore`)

But, here is a workaround - we can apply filter

[2021-09-15 11:43] ihor-sviziev commented on #15461
@magento give me 2.4-develop instance

[2021-09-15 12:07] ihor-sviziev commented on #15461
I can confirm that the issue still reproducing on 2.4-develop branch.
1. created website, store and store view:
![image](https://user-images.githubusercontent.com/1873745/133429682-5d769adc-a807-4edf-91b7-8aacc4dc023a.png)
2. created new root category and sub-category for 2nd store
![image](https://user-images.githubusercontent.com/1873745/133429899-7e13d95d-bb41-4d0b-966f-996ad535aaf0.png)
3. cre

[2021-09-15 12:08] krutkoroma79911 commented on #34066
@engcom-Lima
Thank you for the reply.
Ofcourse we understand that wif we replace \Exception with catch \Throwable we will catch all errors. That is exaclty the point.
But in catch \Exception block after rollback is `throw $e;` presented, so I don`t see any problem if we catch \Throwable instance, rollback the transactions and throw \Throwable again.
Can you explain why it is bad practice?

[2021-09-15 12:34] OkropNick commented on #12512
Problem still exists in 2.4.2-p2. I have 4 webstores and each of them has chosen 1 delivery country:

Belgium -> Belgium
Belgique -> Belgium
France -> France
Netherlands -> Netherlands

When I am on checkout, I have all 3 countries on select list. I will try to figure it out and in case of success I will share my solution here.

[2021-09-15 12:37] Vossie1975 commented on #15461
wowww after only 3 1/2 years already a response.....
but never mind, fortunately within 1 and 2 months finally got rid of magento and to completely different software!

[2021-09-15 12:37] engcom-Lima commented on #33965
Hi @JamesFX2,

Thank you for reporting the issue. But the information provided is not enough for me to reproduce this.

I think you were explaining the inner functionality of how errors might be coming but it is unclear about how I can replicate this issue on 2.4-develop instance. Can you be more specific with the details like if you are facing this issue on Admin Panel or Frontend ? Update the 'S

[2021-09-15 12:45] vandijkstef opened #34084 "Replace `</br>` with a valid version of `<br />`"
### Preconditions (*)

1. 2.3.7

### Steps to reproduce (*)

1. Search the codebase for `</br>`

### Expected result (*)

1. No results, as `</br>` isn't a valid HTML tag. Its deprecated XHTML and basically a stray closing tag.

### Actual result (*)

1. Quite some references to `</br>` in various (magento) modules.

I'd opt for using `<br />` over `<br>` as it follows the guidelines for self-clos

[2021-09-15 12:47] engcom-November commented on #34077
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
**Steps performed:**
Admin - Stores - Configuration - Sales - Delivery methods - Enable USPS and configure
Ship to Applicable Countries - Specific Countries
Ship to Specific Countries - Selected US and Canada
Save config
Reindex and clear cache
Front-end - Login using Customer or public user - Add product to Cart -

[2021-09-15 12:47] ihor-sviziev commented on #15461
@Vossie1975,
Sorry, I completely understand that your issue wasn't noticed for a huge amount of time.
I prefer re-opening this issue as it's still not fixed yet.

[2021-09-15 13:03] Eddcapone commented on #34083
Yes, but I disabled all magento caches. It has nothing to do with server cache, but with magento cache, because it only works after I flush the magento cache.

[2021-09-15 13:12] lbajsarowicz commented on #33493
After update to the very latest version of Magento, it works as expected.
We can consider this issue resolved.

[2021-09-15 13:18] Hani-token commented on #33770
Hi, (sorry for my frenglish)

I've solved the problem in 2 step.
Step one remove all the duplicate.
Step two : overide the db_shema.xml.
`<column xsi:type="int" name="url_rewrite_id"  unsigned="true" nullable="false" identity="false" comment="url_rewrite_id"/>`
into
`<column xsi:type="int" name="url_rewrite_id"  unsigned="true" nullable="false" identity="true" comment="url_rewrite_id"/>`

This way

[2021-09-15 13:31] andrewbess opened #34085 "The problem with sprintf(Magento\Framwork\Phrase()) construction in PHP >= 8"
### Description (*)
We found a problem with `sprintf(__())` and `sprintf(Magento\Framwork\Phrase())` construction in PHP >= 8.
The error looks like "Expected parameter of type 'string', 'Magento\Framework\Phrase' provided".
This problem should be found and fixed in Magento codebase.
Currently, there are about 20 problems with provided constructions.

We need to change constructions to `sprintf(__(

[2021-09-15 13:35] gcampedelli commented on #33970
@magento give me 2.4-develop instance

[2021-09-15 13:40] engcom-Hotel commented on #32635
Hello @Eddcapone,

We have tried to reproduce this issue in Magento 2.4-develop branch with the mentioned steps. But unable to reproduce the issue. Please have a look at the below screenshots and let us know in case we missed anything:

**In Admin Panel (with Pagebuilder):**

![image](https://user-images.githubusercontent.com/51681618/133443796-2c29a7bd-132a-4d2f-bb13-21542eac67e9.png)

**In Front

[2021-09-15 15:17] indykoning commented on #33952
Hi @goranhorvathr,
Have you been able to fix this issue? we are experiencing this as well right now

[2021-09-15 16:51] nbennett25 commented on #34039
thx @engcom-November - a deeper dive into the stack trace on our end indicates that this issue stems from the `Smartwave_FilteredProducts` module. Thanks for investigating!

[2021-09-15 17:21] goranhorvathr commented on #33952
Yes we did @indykoning. We are going to release this as part of a certain project we are doing. So it will be available to you open source with 4 prebuilt widgets it requires a set of changes & plugins. I got several hits also directly on my email too regarding this so i can see that this is starting to be an issue slowly for frontend devs. I will prepare a short blog post on the fixes however in

[2021-09-15 17:23] #34009 closed, assigned to andrewbess

[2021-09-15 17:25] #34039 closed, assigned to engcom-November

[2021-09-15 17:25] nbennett25 commented on #34039
Issue related to Porto theme

[2021-09-15 18:08] sheepfy opened #34086 "Configurable products price indexer not working"
On vanilla magento with sample data, no multiinventory, config set to display out of stock products and global config of manage_stock = 0 (all products from sample data have use config for manage_stock).

Reindex catalog_product_price - notice that we have price = 0, final_price = 0, min_price = X, max_price = Y

Go to a configurable product -> pick all of his children then set manage stock = 1 ->

[2021-09-15 18:36] sprankhub commented on #27341
This is still relevant.

[2021-09-15 18:54] luisseidel opened #34087 "Magento Swatches uses real stock instead of default stock to show red crossed in storefront"
### Preconditions (*)

1. Magento 2.4.2 and 2.4.3 version.
2. Enable the option in Stores -> Configuration -> Catalog -> Inventory -> Stock Options -> Display Out of Stock Products.
3. Create a configurable product with a visual swatch or text swatch.

### Steps to reproduce (*)

1. Create a configurable product with a visual swatch or text swatch.
2. Put a quantity of 1 unit in any of the simple

[2021-09-15 20:44] JeffersonTeixeira opened #34088 "Please reopen issue 33893"
how can I reopen an issue? I want to reopen that one:
[https://github.com/magento/magento2/issues/33893](https://github.com/magento/magento2/issues/33893)

[2021-09-15 21:17] DaddyDomi commented on #33674
I prepared an example module DaddyDomi_Example so that you can see the wrong effect exactly. I overwrite the grid "products in category" (Catalog-> Categories -> (select category with products) -> Products in Category). In this grid, I added a "Test" column containing a link to edit the product, but with additional parameters.
In the DaddyDomi\Example\Block\Adminhtml\Category\Tab\Product.php file,

[2021-09-15 21:34] chernenm commented on #33343
@magento give me 2.3-develop instance

[2021-09-15 21:37] chernenm commented on #33343
@magento give me 2.3.7 instance

[2021-09-15 23:21] MeCapron opened #34089 "Inconsistent quote item isVirtual value"
### Preconditions (*)

1. Magento 2.4.2 (but on all versions)

### Steps to reproduce (*)

1. Have a quote of 2 items
2. Save only ONE specific product
3. Look at isVirtual value from the 2 products, the saved quote item will have a boolean value, the other one will have a string ('1'/'0') value

### Expected result (*)

1. Quote items should have the same value in all cases

### Actual result (*)

[2021-09-16 00:14] ioweb-gr commented on #18787
@magento-engcom-team Hi, could you let us know the PR that fixed this?

[2021-09-16 02:37] onlinebizsoft commented on #34064
@engcom-November any news?

[2021-09-16 03:15] onlinebizsoft opened #34090 "Database gets full locking/deadlock when use READ COMMITTED"
We have a site (multiple websites) running with much traffic all time.
On a day, we changed the tx isolation mode to READ COMMITTED, everything was still working fine.
On next day the problem seems to happen when we deploy new version, the database start getting locking and deadlock very fast (we tried multiple times and same problem happened)

So we had to change back to the default mode.

### Pr

[2021-09-16 04:21] engcom-Lima commented on #33630
Hi @alicedfisheye,

We have noticed that this issue has not been updated for a long time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-16 04:21] #33630 closed, assigned to engcom-Lima

[2021-09-16 05:31] ajijshekh123 commented on #34087
@magento give me 2.4-develop instance

[2021-09-16 05:36] chequille commented on #34087
@luisseidel
Hi,
do have the same problem.
There is already a pull request #33799

Here you can find a solution for the moment. It is not merged yet but it is working on my site.
Mayjor problem in 2.4.3 is, the function isSaleable is returning true if real stock is > 0 and not default qty > 0
This was solved with the change of class Magento/InventoryIndexer/Model/IsProductSalable.php
For configurab

[2021-09-16 05:37] engcom-Lima commented on #34088
Hi @JeffersonTeixeira,

We have reopened #33893. Please follow up on that thread only and we are closing this one.

[2021-09-16 05:37] #34088 closed, assigned to engcom-Lima

[2021-09-16 05:43] ajijshekh123 commented on #34087
Yes @chequille You are right. This issue is related to https://github.com/magento/magento2/issues/33799 your issue.
@luisseidel - Can you please integrate the above code and let me know this issue is fixed or not and it's working as expected or not?

[2021-09-16 06:00] chequille commented on #34087
Hi Guys, just to say it again because it is important:

it is working as long as the page is not cached !!!!!!!!!
I made one block in catalog_view.xml layout file cachable="false"

If done so, it works for me.

Best regards,
Chequille

[2021-09-16 06:24] mrtuvn commented on #34083
You changed file html in folder web ?

[2021-09-16 06:48] engcom-Lima commented on #33579
Hi @f1-outsourcing,

Is this issue fixed now for you ? I am asking as there is no update in the latest comments on the original issue that you were not able to connect Magento to elasticsearch.

If you have any other queries, please update your description accordingly so that I can try to reproduce accordingly.

Thanks

[2021-09-16 06:50] sheepfy commented on #23180
Why is this issue closed?
This is still wrong in latest magento version

[2021-09-16 06:50] sheepfy commented on #23180
It was not fixed in 2.3-develop :|

[2021-09-16 06:52] sheepfy commented on #23180
@ilnytskyi in latest magento version, you will get min_price and max_price = 0 after price reindex for configurable products.
You just missed the case, see more details in here https://github.com/magento/magento2/issues/21720

[2021-09-16 07:09] nicolai-hoeks commented on #29050
Still very relevant
It is a nightmare to manage images once a single change on images has been made to an image on a store-view

[2021-09-16 07:24] Eddcapone commented on #34083
I updated it in my theme folder or in app/code

[2021-09-16 07:25] Eddcapone commented on #32635
Hello, then you guys seem to have fixed it. Well done!

[2021-09-16 08:01] Bhavik-kumar opened #34091 "UPS XML type shipping log missing even debug is enable"
UPS shipping method with XML Type,
missing shipping request and response debug on shipping.log
### Preconditions (*)
1. Version 2.4.*
2. UPS shipping method be Enable
3. UPS type: United Parcel Service XML
4. Debug: yes

### Steps to reproduce (*)
1. Add any products to cart
2. Go to shipping page
3. Make sure you can able to view any UPS shipping method

### Expected result (*)
1. shipping.log sh

[2021-09-16 08:01] engcom-Lima commented on #33893
Hi @JeffersonTeixeira,

So if I understood correctly, what you want is 'If any configurable product is added with multiple Simple Products under Swatch behaviour, all the images of the Simple products should also show in a sidebar but currently only default Configurable product image is being displayed.'

I think you can directly add all the images you are using for Simple products in Configurable

[2021-09-16 08:13] engcom-November commented on #33640
Verified the issue on Magento 2.4-develop branch having EE modules enabled but unable to reproduce the issue:
Steps performed:
Created Multiple Orders, Invoiced, shipped so that Order status is Complete
Created Returns for all the Orders - Status is Pending
Admin - sales -> returns
select more than 3 items
select action close and click submit
No issue: User is able to Submit and returns status is

[2021-09-16 08:36] indykoning commented on #33952
Thank you!
Yeah i do think it's an issue introduced in one of the Magento updates.
What i've noticed when looking in the database is that before the content of a wysiwyg widget in the database would be htmlencoded
[code]
And now when saving even the htmlencoded version it saves it as
[code]
Which makes it clear that it would close the content variable after encountering the first `title=` making t

[2021-09-16 08:42] engcom-November commented on #34091
Hi @Bhavik-kumar ,
We are closing this issue as this is the duplicate of https://github.com/magento/magento2/issues/32361.
Please move into this ticket for latest updates on the same.
Thank you.

[2021-09-16 08:42] #34091 closed, assigned to engcom-November

[2021-09-16 08:46] indykoning commented on #33952
I believe this is the exact commit that broke the encoding: https://github.com/magento/magento2/commit/ae3d3df4752dfcac5256ddb5014ce02b19e8a529

[2021-09-16 09:02] cjohansson commented on #28994
Is it possible to set sensitive configuration via terminal and store it in database? It seems impossible at the moment. bin/magento app:config:dump will force storage of configuration into files.

[2021-09-16 09:22] dudzio12 commented on #33910
@StruggleSnuggl3 - what are your totals when adding broken products to cart?

[2021-09-16 09:38] JKair commented on #15427
It even through happening in Magento 2.4.3.

[2021-09-16 09:39] JKair commented on #15427
It even happening in Magento 2.4.3.

[2021-09-16 09:46] StruggleSnuggl3 commented on #33910
Hi

0.00.

I’ll post a screenshot a little later to confirm.

[2021-09-16 09:46] AZiniukhin commented on #33160
@magento I am working on this

[2021-09-16 09:49] dudzio12 commented on #33910
@StruggleSnuggl3 That is what I was afraid of.
![image](https://user-images.githubusercontent.com/6281733/133590724-2b12c66d-c5e9-4434-aed5-92659e726113.png)

[2021-09-16 09:50] StruggleSnuggl3 commented on #33910
On a positive - yay free stuff?

[2021-09-16 09:55] adamphh commented on #29439
I got the same problem after upgrading from Magento 2.3.2 to 2.4.2. I tried the code of @mlaurense above but it's not working. I plugin function query() instead and it works for me.

di.xml:
[code]

Plugin/Elasticsearch.php:
[code]

[2021-09-16 10:11] ihor-sviziev commented on #33910
@StruggleSnuggl3 @dudzio12,
As a temporary workaround, you can apply the following patch: https://github.com/magento/magento2/issues/33856#issuecomment-904606945

[2021-09-16 10:31] StruggleSnuggl3 commented on #33910
I just saw this on the ICU git

[ICU Upgrade](https://github.com/unicode-org/icu/releases/tag/cldr%2F2021-09-15)

Do you think this will fix the issue?

[2021-09-16 10:36] engcom-Hotel commented on #33282
Hello @craig-bartlett,

I have tried to reproduce the issue with the above-mentioned steps in Magento 2.4-develop branch. But still I am able to update the product from the admin panel in milliseconds.

I request you to please try this in Magento 2.4 develop branch and let us know in case you are still able to reproduce it.

Thanks

[2021-09-16 10:41] engcom-November commented on #34084
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
"</br> " is being used in some of the Magento Modules
As per the [devdocs](https://devdocs.magento.com/guides/v2.4/coding-standards/code-standard-html.html) its recommended to use <br /> but not <br>

Ex: Some files reference where </br> and <br> is being used:
app/code/Magento/Newsletter/Test/Unit/Block/Adminhtml/Temp

[2021-09-16 11:18] ihor-sviziev commented on #33910
@StruggleSnuggl3, sorry, I don't have a fully working solution yet. But I think that should be fixed on the Magento side, not in the ICU library

[2021-09-16 11:22] engcom-Hotel commented on #33381
Hello @apachler,

I have tried to reproduce the issue in Magento 2.4-develop branch with mentioned steps. To enable S3 storage we have followed this [devdocs link](https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage.html) and [this link](https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage-aws-s3.html).

After enabling, tri

[2021-09-16 11:22] StruggleSnuggl3 commented on #33910
I can hold out a little longer for a permanent solution - will build the store around the issue for now

[2021-09-16 11:29] dudzio12 commented on #33910
It's working :) Thanks!

@StruggleSnuggl3 if you are using composer to maintain Magento you can easily apply patch in it using `cweagans/composer-patches` package.

[2021-09-16 11:36] engcom-Lima commented on #34087
Hi @luisseidel,

This issue is duplicate to #33799 and so we are closing it. Please follow up on the other thread for issue's solution. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

You can also check @chequille's comment and see if helps.

Regards

[2021-09-16 11:36] #34087 closed, assigned to ajijshekh123, engcom-Lima

[2021-09-16 11:49] stukev commented on #32805
I have this same issue on a shop running 2.4.2-p2.

[2021-09-16 12:28] engcom-Hotel commented on #33051
Hello @marvincaspar,

I have tried to reproduce the issue in Magento 2.4-develop branch with mentioned steps. To enable S3 storage we have followed this [devdocs link](https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage-aws-s3.html) and [this link](https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage.html).

After enabling,

[2021-09-16 12:52] andrewbess opened #34096 "Update `phpgt/dom` composer dependency for `magento/magento2-page-builder` extension"
We checked fatal errors with environment PHP 8.
One of the problems is incompatible composer dependency - `phpgt/dom` in `magento/magento2-page-builder` extension.
We need to upgrade `phpgt/dom` composer dependency to the next versions `"~2.2.1||~3.0.0"` and check it again.

### Expected result (*)

1. The system has no fatal errors

### Actual result (*)

1. Declaration of Gt\Dom\ChildNode::befor

[2021-09-16 13:02] goranhorvathr commented on #33952
Exactly @indykoning. Could possibly be the change occurred between m2 2.3.7 & 2.4.0 which could be the https://github.com/magento/magento2/commit/ae3d3df4752dfcac5256ddb5014ce02b19e8a529

[2021-09-16 13:03] #33961 closed, assigned to engcom-Echo

[2021-09-16 13:43] digitalbricklayer opened #34098 "UPS shipping module fails to retrieve package pricing information"
Whilst the error would not appear to be one caused by magento 2 software, the UPS module is included as part of the magento software. I have talked to UPS support and they say that they don't support the built-in UPS module and therefore I should go elsewhere for support.

### Preconditions (*)

1. Magento 2.3.7
2. UPS shipping needs to be configured with valid account information.

### Steps to r

[2021-09-16 14:12] norgeindian commented on #27474
Why is this ticket closed @sdzhepa ?
In version 2.4.3 this is still not fixed.

[2021-09-16 14:12] xmav commented on #34085
@magento export issue to Jira project AC as Story

[2021-09-16 14:32] JeffersonTeixeira commented on #33893
You understood correctly. I could do this workaround to have it working and change the swatch's behaviour to replace instead merge, right?
But this way becomes a little "boring" add images 2x. And what happens to image loading this way? Will it load from server 2x once it is the same image but its in two different product? 1x for configurable once again when I select a option? (I just want underst

[2021-09-16 15:10] AZiniukhin commented on #34084
@magento I am working on this

[2021-09-16 15:12] hostep commented on #28994
@cjohansson: could you try the `config:store:set --encrypt <path> <value>` command from [magerun2](https://github.com/netz98/n98-magerun2/#set-store-config)? It sounds like that might be the way to do it.

[2021-09-16 15:19] hostep commented on #24946
Part of those code changes referenced above got changed again in https://github.com/magento/magento2/commit/5ae32934cda53256c35eabcce27d92cb516a7411 in Magento 2.4.0 and higher. Might be related ...

@pmonosolo: could you open a new issue for this with steps of how to reproduce? Thanks!

[2021-09-16 15:39] hostep commented on #34064
This issue could be a duplicate of https://github.com/magento/magento2/issues/33748 where a similar issue was found with ACL roles and too large session sizes in these comments: https://github.com/magento/magento2/issues/33748#issuecomment-901128470

[2021-09-16 15:50] Nazar65 commented on #34098
@magento give me 2.4-develop instance

[2021-09-16 15:56] onlinebizsoft commented on #34064
Sorry, I'm on 2.4.3. I think it is same issue for every version. 13MB is too big and it is unacceptable for session.

[2021-09-16 15:58] github-jira-sync-bot opened #34100 "[2.4.x] Update donatj/phpuseragentparser dependency to the latest version"
Update donatj/phpuseragentparser composer dependency to the latest major/minor version for the [security-package](https://github.com/magento/security-package/blob/develop/TwoFactorAuth/composer.json)

Test security-package functionality with PHP 8.0 and PHP 7.4 versions

[2021-09-16 15:58] github-jira-sync-bot opened #34101 "[2.4.x] Update endroid/qr-code dependency to the latest version"
Update endroid/qr-code composer dependency to the latest major/minor version for the [security-package](https://github.com/magento/security-package/blob/develop/TwoFactorAuth/composer.json)

Test security-package functionality with PHP 8.0 and PHP 7.4 versions

[2021-09-16 16:04] onlinebizsoft commented on #34064
@hostep I have checked some last discussion there and look like some mentioned about ACL. Not sure if you have some inside information but let me ask a few questions
- does this also happen with 2.4.2 or only 2.4.3? I'm not notice a loading change after upgrading to 2.4.3 however I was noticed this issue because Magento provided the session size setting
- are there some changes between 2.4.2 and 2

[2021-09-16 16:05] onlinebizsoft commented on #34090
@hostep you may hear about this ever?

[2021-09-16 16:10] #34065 closed, assigned to nobody

[2021-09-16 16:13] glo05363 commented on #34065
In analysis with 2.4-develop i found out that sales.rule.update.coupon.usage is introduced under consumer queue to avoid deadlock under high load when a lot of concurrent orders are placed at the same time.
Follow all the steps to place order and run following consumer command:

bin/magento queue:consumers:start sales.rule.update.coupon.usage
The "salesrule_coupon_usage" table will get updated.

N

[2021-09-16 16:36] onlinebizsoft commented on #34055
I do agree and if it works that way then it would be good as well.

Since I don't have a way to create the invoice with pending status in a standard installation but maybe you can do it if a payment method which support "not capture", see the document https://docs.magento.com/user-guide/v2.3/sales/invoice-create.html
"if the method of payment is a purchase order, the order can be invoiced and ship

[2021-09-16 17:49] xmav commented on #34096
@magento export issue to Jira project AC as Story

[2021-09-16 17:52] dinesh6686 opened #34102 "Database Error while creating Bundle products in community2.4.3 instance"
After updating the Magento2 community edition from the version. 2.4.2-p1 to 2.4.3, while creating a bundle item( which includes single/multiple simple items that are already present in the instance catalog) we see the below error:

**SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'selection_price_type' cannot be null, query was: INSERT  INTO `catalog_product_bundle_selection_price` (

[2021-09-16 18:50] hostep commented on #34090
Sorry, I have no experience with these different mysql transaction isolation levels. If it's not working, it probably means Magento was not tested or designed with that in mind...

[2021-09-16 19:03] hostep commented on #34064
From what I can tell by looking through the git logs is that this change was introduced in [MC-36034: Session size configuration](https://github.com/magento/magento2/search?q=MC-36034&type=commits).

As far as I understand it, it's a new security thing that probably exists to counters some potential security issue in Magento.
It was released both in Magento 2.3.7-p1 and 2.4.3 but not in 2.4.2-p2,

[2021-09-16 19:07] DiegoSana opened #34103 "Special Price REST API - Seconds difference"
The issue is when i try to set several special prices (via rest API) for different skus, that start and/or end at the same time.
The first price_from and price_to is being correctly set.
But in the next one, Magento is adding a second to price_from and/or price_to. And so on with the following.

### Preconditions (*)

1. Magento 2.4.2
2. Rest API access

### Steps to reproduce (*)

1. Create 3 spe

[2021-09-17 00:49] onlinebizsoft commented on #34064
@hostep we already increased the setting and we dont have any problem with funtionality. Im reporting this issue as a general performance issue. You can imagine when you have concurrent 30-40 admin users with 13MB session for every one, it adds extra time to load every requests and very slow redis query

[2021-09-17 05:05] engcom-Lima commented on #33872
Hi @oneserv-heuser,

I have gone through your comments and agrees that hardcoded null should not be there in getGrandTotalAmount() of class `QuoteAdapter`. Also found that in the interface `OrderAdapterInterface` which is implemented by `QuoteAdapter` class, there is a function getGrandTotalAmount() which has the return type float and is inaccurate in that respect also. So confirming this issue.

[2021-09-17 05:21] engcom-Lima commented on #33970
Hi @gcampedelli,

Since this is not an issue related to Magento Dev, we are closing this. Please raise a fresh ticket or reopen this ticket if you think the issue is related to Magento Development with updated **Issue Description** and **'Steps to reproduce'**.

Regards

[2021-09-17 05:21] #33970 closed, assigned to engcom-Lima

[2021-09-17 05:22] engcom-Lima commented on #32749
Hi @Naberdz,

We have noticed that this issue has not been updated for a long time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-17 05:22] #32749 closed, assigned to engcom-Lima

[2021-09-17 05:54] charanjitvision commented on #34059
This following issue is only happening with Venmo.

When a customer places an order using Venmo:

1.) They are not brought to the order success screen that provides them with an order number.

2.) They are not emailed an order confirmation.

3.) The order does not show up in Magento. We (GPS Nation) is not notified of the order.

4.) The payment IS taken/received and it shows up correctly in Brain

[2021-09-17 06:14] shopaalogics commented on #34098
Go for [product scraper magento 2 extension](https://shop.aalogics.com/product-scraper-magento-2-extension) this might help you in retrieve  the product/package price information.

[2021-09-17 06:23] engcom-Lima commented on #33267
Hi @gianstraf.

Thank you for the input.
I am confirming this issue on the basis that we'll evaluate it further as a feature request and take action accordingly.

Thanks

[2021-09-17 06:28] cjohansson commented on #28994
@hostep I tried this in Magento 2.4.3 but it says
[code]

Is it a Commerce-only feature perhaps? I'm using Community Edition

[2021-09-17 06:28] cjohansson commented on #28994
Aha you mean from magerun, missed that part :+1:

[2021-09-17 06:31] SundarAkula commented on #34077
Hi,

Thanks for reaching out.
I tried in fresh Magento 2.4.1
Enable USPS with below webtool credentials
Your Username is 209BARON3785
Your Password is 800UH64JT284

Followed Steps:
Enable USPS
Added above user and password
Allow methods: Priority Mail International & Media mail
Allowed Specific Countries: United States & Canada
Save the configuration
Run reindex & Clear cache.
But I am not able an

[2021-09-17 06:33] SundarAkula commented on #34077
Please check screenshots.

[2021-09-17 06:43] mobweb commented on #27126
Would also really like to see this fixed. 👍

[2021-09-17 06:51] engcom-November commented on #34077
Hi @SundarAkula ,
Its recommended to verify the issues on Magento 2.4-develop branch only as it has the latest code base and this issue is not reproducible on 2.4-develop branch and 2.4.3 composer version as well. Can you please recheck the issue on Magento 2.4-develop branch and provide below details if its still reproducible on 2.4-develop:
1. Please check if this is reproducible for particular

[2021-09-17 07:02] SundarAkula commented on #34077
I am using the below address in shipping settings
Country: United States
State: California
Zipcode: 90034

In frontend, I am using
Country: Canada
State:   Quebec
Zip code: G8B 2W5

On Fri, Sep 17, 2021 at 12:21 PM Girija Bhavani Kudupudi <
***@***.***> wrote:

[2021-09-17 07:46] engcom-Delta commented on #33386
Hi @ioweb-gr ,
We could not notice that during setup upgrade triggers are dropped & recreated.
Thanks

[2021-09-17 07:50] engcom-Lima commented on #34050
Hi @Eddcapone,

Thank you for reporting the issue.
In order to reproduce this, we need some more info so please update below queries so that we can continue with our analysis:
1. Can you please update if this issue is reproducible on 2.4-develop instance also ?
2. Is this issue happening with new created theme or happening with Magento Default themes also ?

Thanks

[2021-09-17 08:19] ioweb-gr commented on #33386
@engcom-Delta

I see. Here's how to guarantee that you'll see triggers are dropped and recreated.

Step 1: Put all indexers in scheduled mode.
Step 2: Modify database table mview_state and add the following check

`CHECK (mode = 'enabled')`

Step 3: Execute setup upgrade

How does this guarantee you'll notice the issue?

First of all when indexers change mode from save to schedule and vice versa,

[2021-09-17 08:37] dphilipps opened #34107 "Product saleability status incorrect after reindex"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-09-17 08:37] dphilipps commented on #34107
@magento give me 2.4-develop instance

[2021-09-17 09:03] jellesiderius commented on #30257
Patch fix can be done like this: https://magento.stackexchange.com/a/347147/7855

[2021-09-17 09:04] #31081 closed, assigned to andrewbess, karyna-t

[2021-09-17 09:18] convenient opened #34108 "Magento discards most New Relic cron transactions"
# Summary

Magento is discarding all new relic transaction logging/runtime information/errors for every cron job after the first one executed per process.

For example if you had three pending jobs `job1`, `job2`, and `job3` you would only have a transaction for `job1` and no info at all in new relic for `job2` and `job3`.

This is a critical issue IMO as it reduces the effectiveness of our abilit

[2021-09-17 09:36] Eddcapone commented on #34050
Hi, sorry  I don't have time to test this. I was reproducing this in my custom installation.

[2021-09-17 09:37] dphilipps commented on #34107
@magento give me 2.4-develop instance

[2021-09-17 09:57] engcom-November commented on #34077
I verified again with above Shipping Origin and address details but the issue is not reproducible on 2.4-develop branch:
![image](https://user-images.githubusercontent.com/60198231/133764184-44e5fba4-167a-4963-a758-fa4254bab01c.png)

![image](https://user-images.githubusercontent.com/60198231/133763942-a7ec8234-5c91-4da0-af57-c5200d918772.png)
Kindly recheck the issue on Magento 2.4-develop branch

[2021-09-17 10:08] Nuranto opened #34109 "Bug on category count (performance issue)"
In src/vendor/magento/module-catalog/Model/ResourceModel/Category/Collection.php

Line 330-333 :

[code]

should be

[code]

( categoriesProductsCount instead of categoryProductsCount )

This is causing performance issue on backend category page especially when having a big amount of categories/products.

[2021-09-17 10:15] engcom-November commented on #34098
Hi @digitalbricklayer ,

Verified the issue on Magento 2.4-develop branch but the issue is not reproducible for different Shipping Address Countries verified:
Shipping Origin Country: US
Front-end - Checkout - Shipping Address
UK:
![image](https://user-images.githubusercontent.com/60198231/133766366-a07f3e46-0029-4e69-9e1a-64e4c595397e.png)

Germany:
![image](https://user-images.githubusercontent.

[2021-09-17 10:16] hostep commented on #34084
Maybe go with `<br/>` instead of `<br />` to save a couple of bytes in the output?

I seem to remember from a very long time ago, that the extra space was only needed for some very old version of the Internet Explorer browser (version 5 or 6 probably). So this problem no longer needs to be circumvented in these modern days.

[2021-09-17 10:19] andrewbess commented on #34079
Changes have been delivered

[2021-09-17 10:19] #34079 closed, assigned to nobody

[2021-09-17 10:26] ihor-sviziev commented on #34109
Hi @Nuranto,
Could you create a PR with suggested changes and add a bit more info on how to reproduce it?

[2021-09-17 10:40] engcom-November commented on #34103
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible:
The price_from and price_to are the same that we sent in the /rest/<store_code>/V1/products/special-price
![image](https://user-images.githubusercontent.com/60198231/133769267-dc1bdbd8-aa2e-4acb-935f-a7b0b86edc5e.png)
@DiegoSana , kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if a

[2021-09-17 10:48] digitalbricklayer commented on #34098
The issue happens prior to the customer entering their address. I believe the problem is not with the customer post code but with the shop post code. In the `shipping.log` there is no post code apart from the store post code. The customer post code hasn't been entered by this point.

[2021-09-17 10:57] digitalbricklayer commented on #34098
Here is an excerpt from `shipping.log`: [ups pricing interface error.txt](https://github.com/magento/magento2/files/7185042/ups.pricing.interface.error.txt)

[2021-09-17 11:02] engcom-Lima commented on #33896
Hi @bernd-reindl,

It seems this functionality of ‘Refresh Lifetime Statistics’ is working as expected. If you don’t want to destroy ‘Most Viewed’ data, you can deselect that option and select others. You can go through the documentation for same on below link:
https://docs.magento.com/user-guide/reports/statistics.html

Now, what I don’t understand is the context of your problem. So in order to u

[2021-09-17 11:08] n2diving-dgx commented on #34059
Support at Gene Commerce, the ultimate maintainer of this component has advised "The team confirmed that ​this issue will be fixed with the next Magento release which will roll out on the 12th of October. " I assume they mean M2.4.3-p1

[2021-09-17 11:08] #34059 closed, assigned to engcom-November

[2021-09-17 11:17] dphilipps commented on #33799
I too have been waiting patiently for this fix and very disappointed to find such a crucial feature is still not working properly.  What is the point of maintaining a salable_quantity if the store still shows unsalable products as in stock?!!

I've spent many hours going around in circles on this issue but I have established the following facts:

- When all indexers are set to 'Scheduled' and cron

[2021-09-17 11:29] DiegoSana commented on #34103
@magento give me 2.4.3 instance

[2021-09-17 11:42] Hexmage commented on #34036
In the frontend the hiding of the other payment methods is done by javascript in the checkout. I assume it's done because the other payment methods do not know if the free payment method is available. In my opinion the best solution would be to move this logic from the javascript to the php code. Because the free payment method is only available when all the other payment methods should be hidden.

[2021-09-17 11:44] engcom-November commented on #34107
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Product salability is same before and after reindex.
Verified the same using Get API calls:
/rest/V1/inventory/is-product-salable/salableproduct/3
/rest/V1/inventory/get-product-salable-quantity/salableproduct/3
@dphilipps kindly recheck the issue on Magento 2.4-develop branch and elaborate the steps to reprod

[2021-09-17 11:52] DiegoSana commented on #34103
I have just checked in the Magento instance and works fine.
But i have a Magento Enterprice 2.4.3 hosted in Magento Cloud, and it doesnt wotk there. :thinking:

We are working on a site launch, so is a fresh installation, we have no customizations.

[2021-09-17 11:54] mikkelsiggaard commented on #34034
@magento give me 2.4-develop instance

[2021-09-17 12:00] dphilipps commented on #34107
Hi
The issues occurs after reindexing in the following scenario:

Purchase all salable stock for a product (e.g. all 100), then stock_status column is correctly automatically set to 0 in the cataloginventory_stock_status table. The view inventory_stock_1 reflects this accordingly in the 'is_salable' column.  The product (in the case of a configurable) then shows this option as crossed out (or miss

[2021-09-17 12:00] mikkelsiggaard commented on #34034
Reproduced on 2.4.x
Issue: Confirmed

[2021-09-17 12:03] Nuranto commented on #34109
There is nothing to reproduce since it is just a performance issue.

Actually, I did more tests and it seems the table `catalog_category_product_index` is used for fetching pairs, but that table seems deprecated, so that fix doesn't fix performance issue after all by its own. It's quite difficult to use it since there is no index for admin store. But I will make a PR for this.

[2021-09-17 12:29] N445 opened #34112 "Fotorama swip open fullscreen mode"
### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
1. Install a new magento project
2. Create a product with multiple pictures
3. Go on product page in front
4. Slide the product slider for few pixels

### Expected result (*)
1. Slider stop moving
2. Not open the fullscreenmode

### Actual result (*)
1. The fullscreenmode is opened

---
Please provide [Severity](https://devdocs.magen

[2021-09-17 12:50] engcom-Lima commented on #34074
I re-evaluated the issue and verified the same. Issue is reproducible on 2.4-develop instance.

[2021-09-17 13:12] haydave commented on #1929
Seems that the issue is related to elasticsearch service, which is stopped.

[2021-09-17 14:07] SundarAkula commented on #34077
Hi, Thanks clarification.

I will check on Magento 2.4-develop branch, But before can you please check
the shipping log once?

Areas Served: All</ExpressMail><AreasServed>Please reference Express Mail
for Areas Served.</AreasServed><AdditionalRestrictions>No Additional
Restrictions Data found.</AdditionalRestrictions><Service
ID="12"><Pounds>0</Pounds><Ounces>1.76000000</Ounces><MailType>All</Mail

[2021-09-17 14:26] andrewbess commented on #34096
Changes have been delivered

[2021-09-17 14:26] #34096 closed, assigned to nobody

[2021-09-17 14:40] jonathanribas commented on #6126
We also have this issue on 2.3.7, we use Page Builder too and have several websites / customer groups.

We reproduce this issue when we use a Products widget on Page Builder. The query that is causing this issue is the following one as it returns several times the same SKU:

`SELECT DISTINCT  `e`.*, `at_visibility`.`value` AS `visibility`, `price_index`.`price`, `price_index`.`tax_class_id`, `pric

[2021-09-17 16:16] sandip5678 commented on #26371
This can be easily reproducible in the Elastic search 7 as well.

[2021-09-17 17:35] eduard13 commented on #33865
Since we reverted it back, as an alternative we can simply remove the MatchMedia polyfill from `lib/web/matchMedia.js` and simply keep the current version of mediaCheck polyfill.

[2021-09-17 17:56] esteban-serfe opened #34119 "CSP Module and different CDN domain"
### Preconditions (*)
1. Magento 2.4.2
2. Configure an URl for the BaseUrl value (example.com)
3. CDN fields (base_static_url & base_media_url) poiting to the CDN (outside the main domain: cdn-2dd2-do.cloudcdnexample.com)
4. Magento_Csp module is enabled

### Steps to reproduce (*)
1. Open the homepage

### Expected result (*)
1. Webpage should render completelly and whith styles.
2. CSP module sh

[2021-09-17 18:14] themew commented on #33988
@baljinderimpinge Did you solve this?  I don't see the error in your demo anymore.  We haven't seen it on our M2 install but are concerned if it exists in 2.4.2-p2.

[2021-09-17 18:50] memen45 opened #34120 "Slow loading/Exception and incorrect permission in var/cache/mage-tags"
### Preconditions (*)
Magento 2.4.3

### Steps to reproduce (*)
Enabling the following developer options
- Minify HTML
- Minify JavaScript
- Merge CSS
- Minify CSS
- Use CSS critical path

crontab is setup for user `deploy`

### Expected result (*)
Faster page loads.
In case cache is created from the cron (not sure why cron would create this btw), the files should have `deploy:www-data` ideally, a

[2021-09-17 23:35] chanforix opened #34121 "Magento Graph QL : router query cms-page caching issue"
Steps to Reproduce:

1. http://{{base_url}}/graphql?query={route(url: "cms-page-identifier") {__typename relative_url redirect_code type ... on CmsPage { identifier url_key title content content_heading page_layout meta_title meta_description meta_keywords}}}
2. Call this graphql again. But caching not working.

Expected result (*) :

1. The second call. The content should get in caching.

Also, i

[2021-09-18 07:15] swleighton commented on #34107
@magento give me 2.4.3 instance with edition ee

[2021-09-18 07:23] swleighton commented on #34107
@magento give me 2.4.3 instance with edition ee

[2021-09-18 07:30] swleighton commented on #34107
@magento give me 2.4.3 instance

[2021-09-18 21:21] nopenopenope commented on #7730
Experiencing a similar issue in Magento 2.4.3. I have a collection with a group filter, and if I debug the query it adds a `AND (NULL)` to the query, so ->getSize() remains 0.

[2021-09-18 23:01] bytes-max opened #34122 "ElasticSearch7 Bug when ElasticSearch modules are disabled"
### Preconditions (*)

1. Use M2.4.3
2. have ES7 instance up and running with 1 node

### Steps to reproduce (*)

1. disable all ES modules in config.php or with php bin/magento
2. create 20 products in a browsable category

### Expected result (*)

1. when you browse the category, Toolbar is being shown on top and footer just as well as pagination

### Actual result (*)

1. Toolbar and Sorting fi

[2021-09-19 00:36] xtremevision commented on #27112
Can you specify the path to etc/di.xml? Thanks.

[2021-09-19 06:14] asrindayananda commented on #31763
Still relevant

[2021-09-19 07:02] ihor-sviziev commented on #29275
Keep it open

[2021-09-19 12:23] ayoubelabassi commented on #29713
is there any updates about this issue i'm facing the same problem

[2021-09-19 13:18] HarishSTOnline commented on #27112
@xtremevision I think you can create a module and place the config in its di.xml. It will override the arguments in Magento\Elasticsearch\SearchAdapter\Query\Builder\Sort class.

[2021-09-19 16:29] david-garcia-garcia commented on #29439
The actual right solution for this is to REBUILD you attributes using a different storage type (such as options). But, if you really need to keep things as they are, the solution proposed by @mlaurense is the way to go. Only that his code is **not a generic approach** and deals with specific hardcoded fields.

I did this to automatically deal with this:

`<?php

namespace MODULE\xx\Plugin\Magento\

[2021-09-19 17:37] webstraxt-ben commented on #33937
We're seeing this same issue. Using previously working code to create configurable products. This has only started to occur in 2.4.3.

It looks like in Magento\ConfigurableProduct\Model\Plugin\ProductRepositorySave::validateProductLinks() the $attributeCodes array is empty.

[2021-09-20 03:59] engcom-Lima commented on #32591
Hi @subhadeep-webkul,

We have noticed that this issue has not been updated for a long time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2021-09-20 03:59] #32591 closed, assigned to engcom-Lima

[2021-09-20 04:01] engcom-Lima commented on #33441
Hi @Eddcapone,

We have noticed that this issue has not been updated for some time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-20 04:01] #33441 closed, assigned to engcom-Lima

[2021-09-20 06:37] MahamMubashir opened #34123 "Exporting-Products"
**Exporting products via Stock Inventory**

In my Magento 2.4.2 environment, I have deleted a product. Then I exported the CSV with entity type Stock Sources, I am still getting the product in my next CSV Export.
Is this a BUG or any other issue,

Can anyone help, please?

[2021-09-20 06:45] webgility-amazonapi commented on #34071
Hello

I wanted to understand what does this version indicates "CE 2.4." ? How is "CE 2.4." different from "2.4" version?

Webgility

[2021-09-20 07:16] LouNik1984 opened #34124 "Print Action missing for Returns in frontend"
### Preconditions (*)
1. Magento 2.4.2 with no customization and at least one return visibile from frontend

### Steps to reproduce (*)

Stores - Configuration - Sales - Sales - Enable RMA Settings
Create a product with RMA enabled
Create an Order from Admin/Frontend
Create Invoice and shipment
Create Returns for the Completed Order
Navigate to Front-end - Sign in as Customer
Go to My Returns Page

[2021-09-20 07:17] LouNik1984 commented on #34124
@magento give me 2.4-develop instance

[2021-09-20 07:32] LouNik1984 commented on #34124
Returns are available only in the commerce version, I cannot reproduce it on the community version

[2021-09-20 07:35] engcom-Lima commented on #33926
Hi @portchris,

Thank you for the detailed explanation.

However, similar issue was raised earlier on #19909 and got fixed by PR #21008 for 2.3-develop instance. Can you please check if there is a similarity in the issue that you are facing ?

Please let us know how your issue is different from the one that is already fixed. We'll do further analysis accordingly.

[2021-09-20 08:00] engcom-Lima commented on #33869
Hi @oneserv-heuser,

Thank you for reporting the issue.
Can you please provide more detailed **'Steps to reproduce'** so that I can try to reproduce it ? If you can provide graphql steps to get the issue result, that would be helpful as well.

Also please update below information:

1. Is this issue reproducible on 2.4-develop instance also or is it specific to 2.3.4 ?
2. With which Payment Gateway

[2021-09-20 08:19] engcom-Hotel commented on #32635
Hello @Eddcapone,

As this issue has been fixed. We are closing this issue.

Thanks

[2021-09-20 08:19] #32635 closed, assigned to engcom-Hotel

[2021-09-20 08:21] engcom-November commented on #34124
Verified the issue on Magento 2.4-develop branch having Enterprise edition modules enabled and the issue is reproducible:
**Steps to reproduce:**
Create a product with RMA enabled
1. Create an Order from Admin/Frontend
2. Create Invoice and shipment
3. Create Returns for the Completed Order
4. Navigate to Front-end - Sign in as Customer
5. Go to My Returns Page - View Return
**Issue:  Print button

[2021-09-20 09:30] vseager commented on #33705
@magento give me 2.4.3 instance

[2021-09-20 09:43] sgeleon opened #34125 "Updated Magento to the 2.4.3 version. Error on begin process checkout of goods."
Hi.

======== Preconditions =========
1) Magento 2.4.3
2) Onestepcheckout/iosc 1.2.051

======== Steps to reproduce =====
1) Add goods in cart by click on 'Add to cart'
2) Come in into checkout

======== Expected result ========
Begin checkout and see list of goods

======== Actual result ==========
Get error: Type error occurred when creating object: Magento\ReCaptchaUi\Model\CaptchaTypeResolver.

[2021-09-20 09:52] engcom-November commented on #34103
Verified the issue again using Enterprise edition and the issue is reproducible:

Steps to reproduce:

Magento 2.4-develop having Enterprise edition modules enabled
Generate Admin access token using POST API: /rest/V1/integration/admin/token
Send POST request to /rest/V1/products/special-price with below sample payload to set Special price for different products
`
{
  "prices": [
    {
      "pric

[2021-09-20 10:25] dphilipps commented on #34107
@magento give me 2.4-develop instance

[2021-09-20 10:40] engcom-Delta commented on #33899
@magento give me 2.4.2 instance

[2021-09-20 10:58] engcom-November commented on #34058
Verified the issue again on Magento 2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**
1. Admin - Marketing - Cart Price Rules - Add New Rule - Create Specific Coupon , Customer Groups - All except "Not Logged In" (exclude "Not Logged In")
2. Set Uses per Coupon , Uses per Customer to 1
3. Actions - Enter discount amount and Save
4. Reindex and clear cache
5. Front-end - Log

[2021-09-20 11:00] mrtuvn opened #34126 "Theme type changed after switch code branch"
### Summary (*)

Got this issue when i change local code base. Not sure underneath why code base do such behavior
Here is my use case
Example i have some theme in mainline code.
==main-line ===> theme A B C
when new requirements create new theme D i switch branch from main-line to develop

==develop ==== theme A B C D (still good work here) => type theme D =  0

but sometimes i work with code/task

[2021-09-20 11:23] vseager commented on #33705
@engcom-Hotel

I have tested this again both on the provided Magento 2.4.3 instance and our local environment.

The test on the provided Magento instance didn't work at all, although I don't know if this could be an indexing issue (is there a way to run indexes on the develop instances?).

Here is a screencast from the test:
![screencast-nimbus-capture-2021 09 20-11_28_10](https://user-images.gith

[2021-09-20 11:29] dphilipps opened #34127 "Swatches no longer crossed out after indexes invalidated and reindexed"
### Preconditions (*)

1. Magento 2.4.3-develop
2. Issue also exists in official 2.4.3 release

### Steps to reproduce (*)

1. In admin, go to System->Index Management
2. Select all indexes, followed by Actions->Update by Schedule->Submit
3. On front end, go to product /juno-jacket.html
4. Add 100 of XL/Green to basket and proceed to checkout and place order to ensure stock becomes fully sold out

[2021-09-20 11:30] dphilipps commented on #34127
@magento give me 2.4-develop instance

[2021-09-20 11:30] #34107 closed, assigned to engcom-November

[2021-09-20 11:45] dphilipps commented on #34127
Occasionally the sold-out product is not initially crossed-out after placing an order as expected.  There is another ticket open which covers this #33799 however I assume it is actually a manifestation of the issue described in this ticket and caused by indexing and the inconsistency caused by the timing of the index update after purchase (only a guess though).

[2021-09-20 11:46] dphilipps commented on #34127
I have verified the reproduction steps with the above instance.

[2021-09-20 11:56] dphilipps commented on #34127
Issue: Clear Description

[2021-09-20 12:01] engcom-November commented on #34112
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
**Steps performed:**
Magento Admin - Created a new Simple Product with multiple images and saved
Reindex and clear cache
Front end - Navigate to Product Details page - No issue: User is able to view all images.  < Previoud/Next > buttons working as expected
Click on any image - Image opened in Full screen mode - No

[2021-09-20 12:22] engcom-Delta commented on #33899
Hi @abude ,
Issue is reproducible on Magento 2.4.2 instance. Hence adding the label 'Issue confirmed'.
Kindly find the attached screenshots for reference.

1. Go to admin -> store -> config -> sales -> checkout and set Display Billing Address On to Payment Page
![Payment_Page_Saved](https://user-images.githubusercontent.com/51681379/134000654-b2230834-6c64-4b07-aec4-15afc273aeb6.JPG)
2. Go to fron

[2021-09-20 12:30] engcom-Delta commented on #33982
Hi @magedevel,

As per the screenshot provided default size gets added . Hence added the 'issue confirmed'.
Thanks

[2021-09-20 12:33] engcom-November commented on #34071
Hi @webgility-amazonapi ,

Magento CE 2.4 represents Community edition which can be used in Production environment. This software can be installed using composer.
Magento 2.4-develop is for Magento Open Source developers and is not production ready. This version can be installed using GIT
For more information about releases, kindly refer this [link](https://magento.com/tech-resources/download)
Tha

[2021-09-20 12:34] engcom-Lima commented on #33696
Hi @baatractive,

Thank you for reporting the issue.

I have gone through the issue description and related comments with @gwharton. I tried to replicate this issue on 2.4-develop instance with the provided steps but I was not able to reproduce it.

So for further analysis, can you please update on the below queries:

1. If this issue is happening with WSL specifically ?
2. Can you guys please che

[2021-09-20 12:45] bernd-reindl commented on #33896
Ho @engcom-Lima,

The refresh works correct. But with wrong (damaged) data.

I try to explain.

Every time a user request a product detail page, a entry in table 'report_event' is created. This entry consists of the event_type_id (1 for catalog_product_view), an logged_at timestamp, an object_id (the product ID), an subject_id (Visitor ID or Customer ID), an subtype (0 = customer; 1 = visitor) and

[2021-09-20 12:49] norgeindian commented on #27849
In general, it seems so, but this PR has never been merged. So it still persists in my eyes

[2021-09-20 14:56] tuna2smc commented on #30656
https://github.com/magento/magento2/issues/30656#issuecomment-717084883
@ericmorand can you re-verify your use cases one more time ?

[2021-09-20 14:56] tuna2smc commented on #30656
At latest 2.4-develop branch

[2021-09-20 15:00] mrtuvn commented on #30656
#30656 (comment)
@ericmorand can you re-verify your use cases one more time ? At latest 2.4-develop branch. Or add new test case that you believe can reproduce problem

[2021-09-20 15:07] mrtuvn opened #34129 "widget block title seem not update as expected with low lifetime cache"
### Summary (*)

My test case

Step 1
Default theme set to luma
Create widget show products list type for theme and display only in product detail for "Joust Duffle Bag"
1.1 Type: Catalog Products List
1.2 Design Package/Theme: Luma theme
1.3 Assign to Store Views: All Store Views
1.4 Layout Updates: All product types
Specific Products: choose "Joust Duffle Bag"
Container: Main Container Bottom
Wi

[2021-09-20 15:48] mohammedTBB opened #34130 "Error DOB field with Locale PT"
### Preconditions (*)

1. Fresh Magento 2.4.3
2. Set store-view locale to Portuguese(Portugal)

### Steps to reproduce (*)
Admin - Stores - Configuration - General - Locale Options - Set Locale to Portuguese(Portugal) and Save
Reindex and clear cache
Fornt-end - Create Account
Add DOB in customer create
GO to customer/account/create/

Expected result (*)

![magento-DOB](https://user-images.githubu

[2021-09-20 16:04] tyago343 commented on #34130
Im still got this error in magento 2.4.3

[2021-09-20 16:27] marceldekoning commented on #32589
Is there any news on this issue, since it's still reproducible in 2.4.3?

[2021-09-20 17:05] github-jira-sync-bot opened #34131 "Make PageBuilder compatible with PHP8"
Goal of this task to make PageBuilder compatible with PHP8. In scope of this ticket PHP8 compatibility issues should be detected and resolved.

One of the known problems at the moment is a dependency to phpgt/dom library. This library does not have version compatible with both PHP versions (7.4 & 8). At the same time phpgt/dom 3.x(compatible with PHP8) has significant difference from v2.2.x(compat

[2021-09-20 17:10] engcom-Hotel commented on #30514
Hello @thlassche,

We are able to reproduce the issue in Magento 2.4-develop branch. We have updated the product with SKU `24-WG080`.

With the given steps the issue is reproducible. After adding all the products as a bundle in the above product, the product is not searchable in or listed in the frontend. Please have a look into below screenshots for reference:

**Admin Panel**

![image](https://u

[2021-09-20 17:11] github-jira-sync-bot opened #34132 "Upgrade dependencies in ece-tools(PHP8 support)"
With adding support of PHP8 to core magento some libraries were upgraded to the latest compatible version.

Library versions between Magento core and ece-tools need to be in sync to make it work

 

AC:
* ece-tools dependencies upgraded to match versions from Magento
* Magento could be successfully deployed to Cloud with PHP 7.4 and PHP 8

[2021-09-20 17:18] onlinebizsoft commented on #34003
The issue is very clear and it is quite bad, I think not many people are using customizable option with additional price so no one raised it. Can you please confirm the issue again @engcom-Delta @engcom-November ?

[2021-09-20 17:21] github-jira-sync-bot opened #34133 "Update dependencies for infra-tools and mchi"
Dependencies version for infra-tools and mchi need to be updated to the latest compatible version and be in sync with root composer.json

 

AC:
* dependencies for infra-tools and mchi updated to latest version and in sync with root composer.jsom
* Static tests and MHCI works as expected with PHP7.4 and PHP8

[2021-09-20 17:26] engcom-Hotel commented on #33705
Hello @vseager,

Thanks for the reply!

Indexing is not required here after updating.

Please refer the below screenshot with correct date:

![image](https://user-images.githubusercontent.com/51681618/134046442-454a9392-677a-4a26-b8e0-c4176492dae5.png)

We have tried to reproduce the issue in Magento 2.4-develop branch and the issue is not reproducible. Please try to reproduce the issue in Magento

[2021-09-20 20:17] hostep commented on #19737
Issue was confirmed, stalebot shouldn't close those kind of issues. @sidolov, @sdzhepa

[2021-09-21 04:04] trungto3t opened #34135 "Shipping method don't reload by default country when first reload page"
### Preconditions (*)
1.Magento 2.4.2 with sample data (replicate on Magento 2.4.3)
2.PHP 7.4
3. Local enviroment.

### Steps to reproduce (*)
1.Set United Kingdom to default country General->general->Country Options -> default country
2.Set shipping method free shipping for special countries United Kingdom
3.Add any product to cart.
4.Go to checkout page (Guest checkout,just open the checkout pag

[2021-09-21 04:06] trungto3t commented on #34135
@magento give me 2.4-develop instance

[2021-09-21 04:10] trungto3t commented on #34135
@magento I am working on this

[2021-09-21 04:16] trungto3t commented on #34135
@magento i replicate issue 2.4-develop instance  https://www.loom.com/share/b8001e439def4505bcd1f4d375080c0e

[2021-09-21 04:39] engcom-Lima commented on #34006
Hi @vibhavankhade,

We have noticed that this issue has not been updated for a some time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-21 04:39] #34006 closed, assigned to engcom-Lima

[2021-09-21 05:36] ajijshekh123 commented on #34135
Hi @trungto3t,
The issue is reproduced to the below steps:
1.  Set up the default country "United Kingdom" on Admin > Stores > General > Country Options > United Kingdom

![image](https://user-images.githubusercontent.com/24711761/134116555-a7de3823-cb11-471f-aab2-d085c0f18860.png)

![image](https://user-images.githubusercontent.com/24711761/134116565-d616992a-66e9-44ea-be19-171114a7d74f.png)

2.

[2021-09-21 06:10] engcom-November commented on #33993
Hi @Ylmzef ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-21 06:10] #33993 closed, assigned to engcom-November

[2021-09-21 07:56] engcom-Lima commented on #33674
Hi @DaddyDomi,

I tried with your example code and code seems to be working fine. I was able to edit product from the grid option as expected.

In order to do further analysis on the same, please update on the below queries:

1. Can you please state what is the issue that you are facing with the current url composition ? Perhaps a clear issue description would be helpful in understand as to why yo

[2021-09-21 08:25] dphilipps commented on #34107
@engcom-November Thank you for trying to reproduce this issue.  I've now spent further time looking into the issue and have closed this issue written up a complete bug report in a new ticket.  I'm confident you'll be able to reproduce the problem in the current branch following the steps I've provided.  Would you be able to look at this ticket please as the issue has been affecting our customers f

[2021-09-21 08:35] engcom-November commented on #34130
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps to reproduce:
Admin - Stores - Configuration - General - Locale Options - Set Locale to Portuguese(Portugal) and Save
Reindex and clear cache
Fornt-end - Create Account
**Issue: UI page is broken**
![image](https://user-images.githubusercontent.com/60198231/134138877-bda873a4-7130-4d16-acf5-1dad8a95c621.png)

var

[2021-09-21 09:05] sarron93 commented on #19220
@marius-balteanu , Hi I think that this solution will be support to you.

[code]
And di.xml
    <preference for="Magento\Indexer\Setup\RecurringData" type="YourVendor\IndexerExtended\Setup\OverrideRecurringData"/>

[2021-09-21 09:30] engcom-Alfa commented on #33935
Lowered the priority to P3 because the feature _"Use Flat Catalog Product"=Yes_ can be used but still it is not recommended by Magento. Here is the [RefLink](https://docs.magento.com/user-guide/catalog/catalog-flat.html) .

[2021-09-21 09:47] giacmir commented on #9063
Had this same issue today on an AWS hosted Magento 2.4.2. Turned out it was a WAF rule blocking the request.

The rule was called `sqli-body-001`. We reported the issue to the rule provider.

[2021-09-21 10:21] apachler commented on #33381
Thanks for giving it a shot.
You are right, i am also not able to reproduce that with the Magento 2.4-develop branch.

[2021-09-21 11:11] AZiniukhin commented on #34130
@magento I am working on this

[2021-09-21 11:39] AartiJogiya commented on #33204
@magento run Functional Tests CE,Functional Tests EE,Functional Tests B2B

[2021-09-21 12:15] engcom-Lima commented on #33593
Hi @denis-g,

Thank you for reporting the issue with detailed description. Verified the issue on 2.4-develop and issue is reproducible.

Here is what I did to reproduce:
1. As per reporter’s issue description creates new theme with parent luma. Created all files with provided code in newly created theme.
2. Disabled Cache in Dev Tools.
3. Tried with multiple scenarios as provided by the reporter i

[2021-09-21 12:25] engcom-Hotel commented on #32752
Hello @denis-zyk,

We have tried to reproduce the issue in Magento 2.4-develop, but we are unable to do the same. We have followed the above-mentioned steps and tried to edit the project name and we are able to edit the project.

Please have a look at the below screenshot for reference:

**Before Edit**

![image](https://user-images.githubusercontent.com/51681618/134169734-256fac56-7166-486d-ba66-

[2021-09-21 12:54] sippsolutions commented on #22883
@viniciusbordinhao-blueacorn any news on this topic?

[2021-09-21 12:58] engcom-November commented on #34102
Verified the issue on Magento 2.4.3 version after upgrading from 2.4.2-P1 and unable to reproduce the issue:

**Steps performed:**
Upgraded Magento 2.4.2-P1 version to 2.4.3 using composer
`composer require magento/product-community-edition 2.4.3 --no-update`
`composer update`
`php bin/magento setup:upgrade`
Rest API - generate Admin access token using /rest/default/V1/integration/admin/token
Send

[2021-09-21 13:11] engcom-November opened #34137 "Issue with allure-framework/allure-phpunit while upgrading from Magento 2.4.2-P1 to 2.4.3"
### Preconditions (*)

1. New installation of Magento 2.4.2-P1
2. Composer version 2.1.6
3. PHP 7.4.23

### Steps to reproduce (*)

1. Install Magento 2.4.2-P1 using composer
`composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition="2.4.2"`
`sudo php bin/magento setup:install --base-url=http://storeurl --db-host=localhost --db-name=dbname --db-user=user

[2021-09-21 13:24] engcom-Lima commented on #34050
Hi @Eddcapone,

Based on the provided issue description, we are not able to reproduce this so unless you help us with more info requested in my last comment, we won't be able to confirm this.

[2021-09-21 13:40] ihor-sviziev commented on #22883
I unassigned him, since no updates for a long time

[2021-09-21 14:44] engcom-Hotel commented on #33381
Hello @apachler,

Thanks for the confirmation!

As per the feedback, we are closing this issue.

Thanks

[2021-09-21 14:44] #33381 closed, assigned to engcom-Hotel

[2021-09-21 15:26] vseager commented on #33705
@magento give me 2.4.3 instance

[2021-09-21 15:45] vseager commented on #33705
Can no longer reproduce on 2.4.3 or 2.4-develop

[2021-09-21 17:03] hostep commented on #33993
Just for completeness sake, the issue that @Ylmzef tried to describe has to do withthe url on the logo in the footer of the backoffice of Magento. But I don't think it's a big problem, a fix would be very easy.

<img width="1020" alt="Screenshot 2021-09-21 at 19 01 54" src="https://user-images.githubusercontent.com/85479/134215420-d9f94122-35a3-49dc-9bf7-92ec0f5cc0db.png">

[2021-09-21 17:14] hostep commented on #22883
@ihor-sviziev: this issue rang a bell in the back of my head, I believe it was mentioned in [the release notes of Magento 2.4.1](https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-1.html#installation-upgrade-deployment):

It appears that this problem might have been fixed by [MC-36231: setup:static-content:deploy exits with success exit code even if not all themes are deployed](

[2021-09-21 17:23] sdzhepa commented on #13048
reopen this issue due to the last two comments
- https://github.com/magento/magento2/issues/13048#issuecomment-704892408
- https://github.com/magento/magento2/issues/13048#issuecomment-919184011

@engcom-Alfa  Could you please re-check it one more time considering new comments?

[2021-09-21 18:36] hostep commented on #34137
@pdohogne-magento: shouldn't this be automatically handled by the https://github.com/magento/composer-root-update-plugin?

[2021-09-21 19:15] DaddyDomi commented on #33674
Module DaddyDomi DaddyDomi_Example is just a simple example of problem.
I need a URL with extraparams in custom module (with using method addColumn()) as :
/admin/something/item/edit/myparam/9/myparam2/25/id/2046

On Magento 2.2.7 everything is correct and URL contains extraparams but not on Magento 2.4.2

DaddyDomi_Example  on Magento 2.2.7 builds URL as (magento227_url.jpg):
/admin/catalog/produ

[2021-09-21 21:52] pdohogne-magento commented on #34137
@hostep It should be, but I'm able to reproduce the issue.  I'm looking into it now.

[2021-09-21 22:06] pdohogne-magento commented on #34137
This looks to be caused by an incompatibility with recent versions of composer.  I'm opening a ticket for it and will make sure it gets addressed soon.  In the meantime, this requirement can either be adjusted manually as above or composer can be rolled back to pre-2.1.

[2021-09-21 22:29] ihor-sviziev commented on #22883
@hostep, I will double-check it

[2021-09-22 00:03] alexvais commented on #2121
i think that this issue is related to "isOptionReducesResults" method.

I had the same issue when you have a parent category, for example "furniture" and inside "chairs" and "tables"

If all searched items are inside "furniture", this option is not showed because for Magento 2 have no sense show an option to filter where all the products are inside.

BUT this also do not allow the customer to filt

[2021-09-22 01:36] CoutoDev commented on #1929
@haydave I have to disagree with you, I have the same issue every time even with elasticsearch enabled

[2021-09-22 05:24] engcom-November commented on #34012
Hi @alexdonald22 , we are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-22 05:24] #34012 closed, assigned to engcom-November

[2021-09-22 06:23] #33170 closed, assigned to nobody

[2021-09-22 07:39] OvalMedia commented on #26280
Unstaling

[2021-09-22 08:36] mohammadzahwy2017 opened #34139 "Frontend Prices is 0 After upgrading from 2.4.2 to 2.4.3"
### Preconditions (*)

1. Magento Version 2.4.3
2. Upgrade My Application from Version 2.4.2 to 2.4.3 Using Composer

### Steps to reproduce (*)

1. Upgrade Magento Version from 2.4.2 to 2.4.3
2. When open and product page the price appears normal then when the page completely loaded the price transferred to 0
3. When open checkout all shipping prices and product prices appears 0

Note : I install

[2021-09-22 08:41] engcom-Lima commented on #33896
Hi @bernd-reindl,

Thank you for the detailed explanation.

What I understood from the explanation is that there is discrepancy in the data of tables `report_viewed_product_index` and `report_event` as visitor_clean cron is clearing the logs of `report_event` table so when we run 'Refresh Lifetime Statistics', system is providing inaccurate Statistics data. Please update if I understood your issue

[2021-09-22 08:47] mohammadzahwy2017 commented on #34139
@magento give me 2.4-develop instance

[2021-09-22 08:58] #34139 closed, assigned to ihor-sviziev

[2021-09-22 09:46] engcom-November commented on #34089
Verified the issue on Magento 2.4-develop branch having B2B modules enabled but cannot able to reproduce the issue:

Steps performed:
Logged into frontend using Company Account
Added 2 products to cart
Clicked on Request a Quote
Commented and sent request
Verified "is_virtual" value in quote_item value - Value is 0 for both the products
Admin - Sales - Quotes - View Quote - deleted one product and

[2021-09-22 09:49] engcom-Hotel commented on #31271
Hello @sodhancha,

Have you tried to reproduce the issue in Magento 2.4-develop. It seems that this issue is not reproducible in this branch.

Please try to reproduce it and let us know in case you are able to reproduce it.

Thanks

[2021-09-22 09:52] MeCapron commented on #34089
Hello @engcom-November,

thanks for your help. Sorry for not being that specific, the issue will NOT be reproduced inside the database.

It will only be reproduced inside the PHP because values will be cast when sent to database.

I don't know how to reproduce it clearly on a Vanilla instance without tweaking the files.

The problem is :

- Access /checkout/cart URL
- Save the quote at the very be

[2021-09-22 09:58] engcom-Lima commented on #33763
Hi @webtekindo,

Thank you for your input but I won't be able to confirm this issue until I reproduce this on my system.

Please check below screenshot of the query which I am getting after I am printing the query in `BaseStockStatusSelectProcessor` class as you suggested. In the below screenshot you can see I am not getting AND condition as you are getting.

<img width="943" alt="Screenshot 2021-

[2021-09-22 10:15] orlangur commented on #34086
@sheepfy

This is not a valid setup as old inventory is deprecated.

[2021-09-22 10:33] sheepfy commented on #34086
@orlangur if that so, then why this was developed https://github.com/ magento/magento2/commit/a22010091673e485be42a2bd8097488d241da254 exactly 1 year - 2 days ago, when old inventory was deprecated at that time too ?

[2021-09-22 10:44] sheepfy commented on #34086
Also here https://github.com/magento/magento2/commit/7ee934df7e141f0b9285fc8ec3f1532e6f8f95ef last year.

[2021-09-22 10:48] engcom-Lima commented on #33681
Hi @michalrostek,

Thank you for updating. We are closing this issue on the basis that there is nothing pending left to do except wait for patch or future release. In future release if you still face similar problem, feel free to re-open this issue or creating a new one.

Regards

[2021-09-22 10:48] #33681 closed, assigned to engcom-Lima

[2021-09-22 10:52] bernd-reindl commented on #33896
@engcom-Lima that's correct, because after running the `visitor_clean` cron, the entries in `report_event` are missing. But 'Refresh Lifetime Statistics' uses `report_event ` to aggregate the reports. Not `report_viewed_product_index`.

[2021-09-22 11:05] Quazz commented on #30906
The only reason it doesn't give an error is due to using a specific version of Symfony console where this behavior is merely 'deprecated'.

I still think the original issue is valid, an int value should be returned in cron commands.

Presumably Magento will want to update those symfony packages at some point anyway.

[2021-09-22 11:12] sivaschenko commented on #26210
@svera @eliseacornejo please consider this proposition during the next update of magneto-coding-standard in magento2 repo

[2021-09-22 11:12] #34102 closed, assigned to engcom-November

[2021-09-22 11:22] Thundar commented on #33770
I have yet the same issue in production. When adding or removing products from certain categories, using csv import or category smart rules, it gives me `Integrity constraint violation: 1062 Duplicate entry 'xxxxx' for key 'PRIMARY`

There is a missing flag on the insert model:
\Magento\Framework\DB\Adapter\Pdo\Mysql, line +2068 is:
`return $this->insertArray($table, $cols, $insertArray);`
while I

[2021-09-22 11:23] engcom-November commented on #33347
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

**Steps to reproduce:**
Admin - System - Extensions - Integrations - Add new Integration/edit existing integration
API - Resource Access - custom and Give it limited right (catalog -> inventory -> products)
Do not give it access to "Update Attributes" and Save
Reindex and clear cache
Generate Admin access token  using

[2021-09-22 12:27] engcom-November commented on #34122
Hi @nopenopenope ,

On disabling all ES modules, we cannot able to load Magento UI. Expected behavior.
On disabling all other ES modules except sudo php bin/magento module:disable Magento_Elasticsearch - Category page is not loaded at all as the lower elastic search version is not compatible with Magento 2.4.x
As per devdocs system requirements, Magento 2.4.2 required Elastic Search version 7.x
Ho

[2021-09-22 12:47] t-eichmann commented on #18652
Still happening in 2.4.2-p2. When will this be fixed?

[2021-09-22 12:52] magentoTraining opened #34141 "Fixed Product Price added twice in cart cart subtotal."
Fixed Product Price added twice in cart cart subtotal.

### Preconditions (*)
1. Magento version 2.3.5
2.

### Steps to reproduce (*)
1. Enable Fixed Product Tax from backend Admin >> configuration >> Sales >> Tax
![FPT Enable](https://user-images.githubusercontent.com/78601937/134343073-13e838e3-ae27-49b0-b186-b1dd8b0a674d.png)

2. Create an product attribute  for Fixed Product Tax Catalog Type
3

[2021-09-22 12:55] krishprakash commented on #34141
@magento give me 2.4-develop instance

[2021-09-22 13:04] snez commented on #27864
@bnymn how do you find the problem dependency? If I look at the stack trace, there doesn't seem to be a dependency module in there:

[code]

[2021-09-22 13:12] engcom-Hotel commented on #33952
Hello @goranhorvathr,

We have tried to reproduce the issue in Magento 2.4-develop branch with the above-mentioned steps. The issue is not reproducible for us.

Please find attached the screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/134349093-be2925f4-f4b2-45d6-827b-9c777525b9c7.png)

Please find attached my block class:

[Editor.php.txt](https://github.com/

[2021-09-22 13:16] snez commented on #27864
It turns out in my case I had to change from:

    <const name="TESTS_CLEANUP" value="true"/>

to:

    <const name="TESTS_CLEANUP" value="enabled"/>

I also deleted all database tables, deleted the caches from dev/tests/integration/tmp/*, and ran phpunit once with no parameters:

[code]

This rebuilt a clean database.

[2021-09-22 13:20] goranhorvathr commented on #33952
Hello @engcom-Hotel thank you i will test it thoroughly our code is practically the same but we have two different results. Im positive there is an issue there it depends in the difference in the testing environments because  2.3.7 we could not replicate this either. So i will take the clean branch this weekend and retest it and come back to you guys.

[2021-09-22 13:24] engcom-Hotel commented on #31644
@magento give me 2.4-develop instance

[2021-09-22 13:39] engcom-Delta commented on #13952
Hi @willboudle,
Tried to reproduce the issue but in second order getting error like "Current Customer does not have active cart". Hence we are unable to place second order .

Added the label "Needs Update
<img width="960" alt="PlaceOrder_2_error" src="https://user-images.githubusercontent.com/51681379/134354421-cc42d215-1017-4298-8cf6-0feabb0d632f.png">
"

[2021-09-22 14:08] adrianalin89 opened #34143 "Page builder setup form not working"
### Summary (*)

In a new xml form i've added the same field as in cms block form. But in the backend when i add any element to the screen and try to click on the setup button it dos not do anything. Other buttons like hide delete duplicate work except the setup one. This is only for my new form and work fine for cms page or blocks. I'm not getting any errors in the console or logs and don't know

[2021-09-22 14:09] engcom-Lima commented on #34129
Hi @mrtuvn,

Thank you for reporting the issue.

Although I understand the issue expected and actual results which you might be getting but some of the steps to reproduce the issue are not clear.

Would you be willing to share widget code of your test case ? Maybe I'll get more clarity then.

Thanks

[2021-09-22 14:11] mrtuvn commented on #34129
No need code here you can add widget if you have installed sample data

[2021-09-22 14:23] Aquive commented on #26194
Any updates on this?

[2021-09-22 15:17] cpartica commented on #33123
re-opening this issue as this is a known use case for AEM

[2021-09-22 15:31] engcom-Delta commented on #34023
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-22 15:31] #34023 closed, assigned to engcom-Delta

[2021-09-22 17:30] SilinMykola commented on #33954
@magento I am working on this

[2021-09-22 18:31] TheObiOne commented on #5863
Any updates on this?

We're also experiencing this on 2.4.1-p1

Very inconsistent and can't pick up a trend.

[2021-09-22 19:02] liquidia opened #34144 "Option to refund partial amount from the invoice total without adjusting quantity"
### Description (*)

Looking for an option/feature that allow to issue a partial refund without returning product or  adjusting quantity

### Expected behavior (*)

currently its not possible. sometimes customers may ask for partial refund for the excess amount they paid for the product for whatever reason.

### Benefits

It will make refund system practical

### Additional information

[2021-09-22 20:21] mrbig commented on #11372
A stumbled into this issue today. In my case it was caused by the css preprocessor when it accidentally tried to process the same file twice. In this case imports like `@import url("{{base_url_path}}frontend/_view/{{locale}}...")` were resolved again ending in an incorrect file path.

There could be two casues for this to happen:
 - in my case there was a .css file named the same as one that was g

[2021-09-22 23:10] #34085 closed, assigned to eduard13

[2021-09-23 04:44] engcom-Lima commented on #33724
Hi @sumjoekin,

We have noticed that this issue has not been updated for some time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-23 04:44] #33724 closed, assigned to engcom-Lima

[2021-09-23 04:55] florin221123432211 opened #34145 "issue"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2021-09-23 04:56] florin221123432211 commented on #34145
One or more indexers are invalid. Make sure your Magento cron job is running.

[2021-09-23 04:58] MahamMubashir commented on #34123
**Summary of the issue**
While exporting the products via stock inventory the deleted products are also shown in the exported CSV.

**Information on your environment**
Magneto 2.4.2
Php 7.4

**Steps to reproduce**

**Expected results**
The exported file must not include deleted products.

**Actual results**
The exported file also includes the deleted products

Can anyone help me with it, please?

[2021-09-23 05:01] MahamMubashir opened #34146 "Exporting Products"
**Summary of the issue**
While exporting the products via stock inventory the deleted products are also shown in the exported CSV.

**Information on your environment**
Magneto 2.4.2
Php 7.4

**Steps to reproduce**

- Add a dummy product in Catalog->Products->Add Product
- Export the products via Stock Inventory System->DataTransfer->Export (Entity Type-> Stock Inventory)-> Continue (It includes th

[2021-09-23 05:29] engcom-Delta commented on #33842
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-09-23 05:29] #33842 closed, assigned to engcom-Delta

[2021-09-23 05:34] #34144 closed, assigned to nobody

[2021-09-23 05:45] engcom-November commented on #33971
Hi @harizyusoff ,

We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-23 05:45] #33971 closed, assigned to engcom-November

[2021-09-23 05:45] Hawksama commented on #29777
I can confirm @rahulks16 fix works in my Magento 2.4.2 instance!

[2021-09-23 05:59] engcom-November commented on #34064
Hi @onlinebizsoft ,

We are closing this issue as this is related to https://github.com/magento/magento2/issues/33748. Please move into this ticket for latest updates on the same.
Thank you.

[2021-09-23 06:04] onlinebizsoft commented on #34064
@engcom-November oh NO, they are not same, we have explained above, they are different issues.
@hostep can you please get this opened? The main purpose of this ticket is reducing the session size needed for a stores having many permissions.

[2021-09-23 06:14] engcom-Hotel commented on #31644
@magento give me 2.4-develop instance

[2021-09-23 06:14] hostep commented on #34064
I kind of agree with @engcom-November that this is strongly related with #33748

I'm not sure if it's an exact duplicate though. @nathanjosiah: what do you think? Should we re-open this one here or should we expect a fix for this issue as well in scope of #33748 ?

[2021-09-23 06:16] engcom-Hotel commented on #33952
Hello @goranhorvathr,

Thanks for the update. We will wait for your reply.

Thanks

[2021-09-23 06:22] engcom-Delta commented on #34083
Hi @Eddcapone,
Issue is not reproducible on Magento 2.4 Develop after we made changes in checkout template & save it .
Please find the attached snapshots. added 'Needs Update' label.
![disabled_cache](https://user-images.githubusercontent.com/51681379/134462460-c93aec3f-63b8-462b-ab59-95c0ce5452ad.JPG)
![checkout_template_changed](https://user-images.githubusercontent.com/51681379/134462480-4b57cc

[2021-09-23 06:44] ajijshekh123 commented on #34146
@magento give me 2.4-develop instance

[2021-09-23 07:25] Morgy93 commented on #33586
@engcom-Bravo Any reaction?
Bots/Spammers/Hackers are still flooding our shops with this issue with latest Magento 2.4.3

![image](https://user-images.githubusercontent.com/7961978/134467898-940d3847-f11b-4a00-904d-bbceebedbd17.png)

[2021-09-23 07:26] ajijshekh123 commented on #34146
Hi @MahamMubashir,
Once I have export the Stock Inventory, Default Magento doesn't provide the Export the CSV file. So Not able to verify the issue on Default Magento 2.4 Instance.
Thanks.

[2021-09-23 07:26] engcom-Hotel commented on #31644
Hello @victortodoran,

We have tried to reproduce the issue in Magento 2.4-develop branch with the steps mentioned in [comment](https://github.com/magento/magento2/issues/31644#issuecomment-789300004). But the issue is not reproducible. Please have a look into below screenshots for reference:

**Customer Attribute** page

![image](https://user-images.githubusercontent.com/51681618/134468809-7e4a23

[2021-09-23 07:33] onlinebizsoft commented on #34064
@hostep @nathanjosiah what exactly do you plan to fix in #33748 ? I'm not sure why people are getting slow loading up to 30 seconds, in my case it is not same but the admin session size is very big and it make a general slower for every page and sometime may cause blocking.

Otherwise someone should edit the information to cover all possible issues in that ticket.
Plus the admin size session is a

[2021-09-23 07:58] webgility-amazonapi opened #34147 "Price and special price are not syncing"
### Preconditions (*)

1. Magento version 2.3.1
2.

### Steps to reproduce (*)

1. Call the API url for sync price and special price  http://php72.webgility.com/magento231_ext3/rest/V1/products/base-prices, http://php72.webgility.com/magento231_ext3/rest/V1/products/special-price respectively
2. API does not sync price and special price.
3.  But when in same request we pass "storeid=0", the price

[2021-09-23 08:13] engcom-Hotel commented on #33798
@magento give me 2.4-develop instance

[2021-09-23 08:23] barryvdh commented on #27484
I'm facing the same issue with Klarna (from Stripe), but not from any other payments. Any ideas how you solved this?

[2021-09-23 08:44] orlangur commented on #34086
See here about deprecation https://devdocs.magento.com/guides/v2.4/inventory/inventory-api-reference.html#deprecated-modules.

However, logic you mentioned does not really seem to be related whether you use old inventory or a new one.

[2021-09-23 08:54] Eddcapone commented on #34083
You need to change something in a template not in the config, to see the difference.

[2021-09-23 09:01] #34086 closed, assigned to engcom-November

[2021-09-23 09:04] ilnytskyi commented on #23618
2.4.2 still happening.
Probably if quote was created before customer was logged in the flag does not change after the customer is logged in.

If someone faced this issue, additional workaround can be just to change is_guest flag when the customer_id is set.
[code]

[2021-09-23 10:34] adrianalin89 commented on #34143
in Vendor\Module\view\adminhtml\layout\vendor_module_path_edit.xml there was a handle missing <update handle="editor"/>

[2021-09-23 10:34] #34143 closed, assigned to nobody

[2021-09-23 10:35] engcom-November commented on #33651
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible:
Paypal Express Checkout payment is working fine for Greece Shipping.
Kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if any if the issue is still reproducible.
[2021-09-23 07:38:58] main.DEBUG: array (
  'url' => 'https://api-3t.sandbox.paypal.com/nvp',
  'DoExpressCheckoutPayment'

[2021-09-23 10:43] przmak commented on #33101
So why this is closed while this error occurs ? :) I just checked a random site with magento 2.4.2 demo and it seems the error appears there
https://demo-m2.bird.eu/

[2021-09-23 10:51] engcom-Lima commented on #34129
Hi @mrtuvn,

Thanks for the update.

However I tried to reproduce same on 2.4-develop but text got updated on frontend once I edited the widget title and cache lifetime also without cache flush as you suggested. Please find the below screenshots of the changed title.

<img width="1324" alt="Screenshot 2021-09-23 at 3 59 44 PM" src="https://user-images.githubusercontent.com/60198022/134494554-dc460

[2021-09-23 11:06] markshust commented on #33101
Per the last comment, a fix was merged in with PR #33202 into the
2.4-develop branch. This means that it was fixed upstream (in a release
branch) so it is resolved in all future versions of M2. To pull this into
an older version like 2.4.2, you can create a diff patch to apply it to
your store.

On Thu, Sep 23, 2021 at 6:43 AM Chris ***@***.***> wrote:

[2021-09-23 11:11] fd-sturniolo commented on #10533
To add to this, [Ho_Templatehints](https://github.com/ho-nl/magento2-Ho_Templatehints) is another module that lets you inspect layout via DevTools in a somewhat unobtrusive way.

[2021-09-23 11:29] engcom-November commented on #34147
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:

**Steps performed:**
Admin - Stores - Configuration - Catalog - Catalog - Price Scope is set to Global
Reindex and clear cache
Generate Admin access token using POST: /rest/default/V1/integration/admin/token
Send POST request to /rest/V1/products/base-prices to update Base Price of other store
In my case: Store id

[2021-09-23 11:33] engcom-Hotel commented on #33798
@magento give me 2.4-develop instance

[2021-09-23 11:57] engcom-Delta commented on #26960
Hi @ marvinhinz ,
Tried to reproduce it on Magento 2.4 Develop. in fact it is not reproducible with more than 2000 products. Please find the attached screenshots for reference.
![2016_products](https://user-images.githubusercontent.com/51681379/134502527-f777777c-005a-4cb7-8bf0-9b42de59970d.jpg)
![Catagory_1_MagentoTags](https://user-images.githubusercontent.com/51681379/134502593-2bcabe98-e455-41

[2021-09-23 12:01] tim-breitenstein-it commented on #26960
We only have this problem with simple porducts which are included in more than abaout 250 bundle products.

[2021-09-23 12:04] marvinhinz commented on #26960
@engcom-Delta could you try with catalogsearch results > 1000?

[2021-09-23 12:06] krishprakash commented on #34145
@florin221123432211
Feel free to reopen the issue once you update all necessary details as per [issue reporting guidelines ](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Thanks

[2021-09-23 12:06] #34145 closed, assigned to krishprakash

[2021-09-23 12:08] krishprakash commented on #34141
Hi @magentoTraining. Thank you for your report.
Not able to replicate the issue as provided steps by you
Feel free to reopen the issue once you confirm issue reproduce in latest magento instance
Thanks

[2021-09-23 12:08] #34141 closed, assigned to krishprakash

[2021-09-23 12:19] loneken79 commented on #23047
Hi,
For those who are stil searching for info on this issue for Magento prior 2.4.3
This have been resolved in 2.4.3 with this PR https://github.com/magento/magento2/pull/32326

For those who can't upgrade but wan't make this work (even if it meens changing `vendor` code) you can reproduce this change whit this commit https://github.com/magento/magento2/pull/32326/commits/14558892cc0aa06629e0e7b0a

[2021-09-23 12:29] engcom-Lima commented on #33170
Hi @abhishekc3,

As per the current implementation in Magento, it is an expected behaviour that a new window opens for payment and after paypal payment is completed, the control is back to original window. Hence closing this ticket as non-issue. Kindly re-open the ticket if you have any concerns or create a new one.

Regards

[2021-09-23 12:43] mropanen commented on #34083
I don't understand what engcom-Delta is trying to demonstrate in those screenshots, but anyway.

Most likely when you're editing checkout templates, you're dealing with .html files, which are considered static content (their URI is something like domain.tld/**static/version1632380873**/frontend/..../template/meh.html)
The versionXXXX is what needs to change in the URI so that the template gets rel

[2021-09-23 12:54] engcom-Delta commented on #34125
Hi @sgeleon ,
Kindly provide the steps to reproduce, issue description, actual results and expected results.

Thanks

[2021-09-23 12:59] mrtuvn commented on #34083
The faster way you enable network tab in browser and reload that file modified

[2021-09-23 12:59] engcom-November commented on #34127
Verified the issue on Magento 2.4-develop branch and the behavior is different:

Steps performed:

1. Created a configurable product with options. (used color attribute - visual swatch)
2. Front-end - Selected one option with all quantity and placed order - No issue
3. Front-end - Product Details page - Red Swatch is not crossed out
4. Click on Red Swatch and Add to Cart
Error: "The requested qty

[2021-09-23 13:02] codecodeio commented on #10107
I also still have the issue in Magento 2.4.2-p1 Enterprise. The solution provided by @talalus worked for me.
https://github.com/magento/magento2/issues/5301#issuecomment-476387899

[2021-09-23 13:14] mropanen commented on #34083
You're right, I was thinking of CSS development with LESS, which is a bit different :)

[2021-09-23 13:37] dphilipps commented on #34127
It looks as though you didn't complete steps 1 & 2 according to your write up?
1) In admin, go to System->Index Management
2) Select all indexes, followed by Actions->Update by Schedule->Submit

The challenge with this issue is that there seems to possibly be a different bug which is preventing the swatch being crossed out initially (after purchasing all).  This bug (the state of the swatch revert

[2021-09-23 13:37] mohammedceil commented on #8777
I traced down the billing address listing js & found a solution with a code change. It works fine for me. I copied the following  file into my theme - `vendor/magento/module-customer/view/frontend/web/js/model/customer-addresses.js` & updated the function `getAddressItems: function () {` with the following code

`var items = [],
                customerData = window.customerData;

            if (

[2021-09-23 13:38] engcom-Lima commented on #34055
Hi @onlinebizsoft,

Yes exactly, if you are going with option 'Not Capture', please make sure you read the below notice from the documentation:

`Do not select the Not Capture option unless you are certain that you are going to capture the payment through Magento at a later date. You cannot create a credit memo until the payment has been captured using the Capture button.`

From your last comment,

[2021-09-23 14:15] dphilipps commented on #34127
@magento give me 2.4-develop instance

[2021-09-23 14:42] craig-bartlett commented on #33282
Hi @engcom-Hotel ,

I'll test this as soon as I get the chance and update you.

Thanks

[2021-09-23 14:43] dphilipps commented on #34127
Hi @engcom-November
To confirm, I have followed my reproduction steps again on a new instance at at step 6, I needed to repeat the purchased for a second option.  After the second purchase (same colour in different size) but swatches became crossed out correctly.  I then repeated a third purchase which worked as well.

Following the steps from 7 then reproduced the issue.

PLEASE NOTE After the in

[2021-09-23 15:45] hostep commented on #34123
@MahamMubashir: could you close this ticket please? Because it's a duplicate of https://github.com/magento/magento2/issues/34146

Thanks!

[2021-09-23 15:53] sidolov commented on #34067
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34001 by @sagar2009kumar in 2.4-develop branch
Related commit(s):
 - [c1290c586653f01bfd14bd429335aa841841e394](https://github.com/magento/magento2/commit/c1290c586653f01bfd14bd429335aa841841e394)
 - [c76bbe666609f4aa3a1f9f54af9c2f6d3e888514](https://github.com/magento/magento2/commit/c76bbe666609f4aa3a1

[2021-09-23 15:53] #34067 closed, assigned to sagar2009kumar

[2021-09-23 15:53] sidolov commented on #33996
Hi @pawan. Thank you for your report.
The issue has been fixed in magento/magento2#34000 by @Bashev in 2.4-develop branch
Related commit(s):
 - [22b5f382e0ee00107a99e92cb405e3bf01ee1134](https://github.com/magento/magento2/commit/22b5f382e0ee00107a99e92cb405e3bf01ee1134)
 - [8801961bccde5a38fa4439adad48c9f5fc69139c](https://github.com/magento/magento2/commit/8801961bccde5a38fa4439adad48c9f5fc69139

[2021-09-23 15:53] #33996 closed, assigned to Bashev

[2021-09-23 15:53] sidolov commented on #33924
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33922 by @DmitryFurs in 2.4-develop branch
Related commit(s):
 - [f0c7eeaa69f2cea198fb62889e8ad28d8d7e0872](https://github.com/magento/magento2/commit/f0c7eeaa69f2cea198fb62889e8ad28d8d7e0872)
 - [9d4178068a8ca1aafda737b67a68cdfcfb1ce889](https://github.com/magento/magento2/commit/9d4178068a8ca1aafda737b

[2021-09-23 15:53] #33924 closed, assigned to DmitryFurs

[2021-09-23 15:53] sidolov commented on #23324
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#33903 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [6cf5ee9cef9078f88172182d50e968d2231a24a1](https://github.com/magento/magento2/commit/6cf5ee9cef9078f88172182d50e968d2231a24a1)

The fix will be available with the upcoming 2.4.3 release.

[2021-09-23 15:53] sidolov commented on #33928
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33903 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [6cf5ee9cef9078f88172182d50e968d2231a24a1](https://github.com/magento/magento2/commit/6cf5ee9cef9078f88172182d50e968d2231a24a1)

The fix will be available with the upcoming 2.4.3 release.

[2021-09-23 15:53] #33928 closed, assigned to ihor-sviziev

[2021-09-23 15:53] sidolov commented on #33589
Hi @Morgy93. Thank you for your report.
The issue has been fixed in magento/magento2#33682 by @SilinMykola in 2.4-develop branch
Related commit(s):
 - [58adfbf9c846014403f2f37d75ffab02f1b38662](https://github.com/magento/magento2/commit/58adfbf9c846014403f2f37d75ffab02f1b38662)
 - [0c72905cdfeb5181a81470002a16d1b50ba36a28](https://github.com/magento/magento2/commit/0c72905cdfeb5181a81470002a16d1b5

[2021-09-23 15:53] #33589 closed, assigned to SilinMykola

[2021-09-23 15:53] sidolov commented on #34008
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33874 by @NetStorm84 in 2.4-develop branch
Related commit(s):
 - [cba2411bde3d8313f1ed810b7dec70c51ba4c29f](https://github.com/magento/magento2/commit/cba2411bde3d8313f1ed810b7dec70c51ba4c29f)
 - [f68d0d9c8087e5e5c3df19992a00bb3ad0c96ff5](https://github.com/magento/magento2/commit/f68d0d9c8087e5e5c3df199

[2021-09-23 15:53] #34008 closed, assigned to NetStorm84

[2021-09-23 15:53] sidolov commented on #33334
Hi @Qikerz. Thank you for your report.
The issue has been fixed in magento/magento2#33449 by @monteshot in 2.4-develop branch
Related commit(s):
 - [f649582fcefe166fc20d365a017d3cb7edc22aa9](https://github.com/magento/magento2/commit/f649582fcefe166fc20d365a017d3cb7edc22aa9)
 - [a1575f70569a14012c1146aa832f3572963e3497](https://github.com/magento/magento2/commit/a1575f70569a14012c1146aa832f3572963

[2021-09-23 15:53] #33334 closed, assigned to monteshot

[2021-09-23 15:53] sidolov commented on #32819
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32814 by @MJTheOne in 2.4-develop branch
Related commit(s):
 - [42ae72ee01f25880d1356e553d9605c3fdebfe65](https://github.com/magento/magento2/commit/42ae72ee01f25880d1356e553d9605c3fdebfe65)
 - [f6aacc1fee99f588b67e69e3787f7b309dd79a3e](https://github.com/magento/magento2/commit/f6aacc1fee99f588b67e69e37

[2021-09-23 15:53] #32819 closed, assigned to nobody

[2021-09-23 15:53] sidolov commented on #33075
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33067 by @bradleybrecher in 2.4-develop branch
Related commit(s):
 - [4400de6a9c479ae7a8822a1a49dc72ddbdd52c42](https://github.com/magento/magento2/commit/4400de6a9c479ae7a8822a1a49dc72ddbdd52c42)
 - [0430a80262c1595627260e4aca01510efe248a6e](https://github.com/magento/magento2/commit/0430a80262c15956272

[2021-09-23 15:53] #33075 closed, assigned to bradleybrecher

[2021-09-23 15:55] Grumag commented on #15427
Getting an average of 1 per day per site of these errors on 2.3.5-p2. So no one has any sort of a solution?

[2021-09-23 15:47:30] main.CRITICAL: Placing an order with quote_id 17ephb7mJnLdfcnwpvPzqkHGoRFd3mpc is failed: Something wrong. Please try again. [] []

[2021-09-23 16:33] onlinebizsoft commented on #34055
@engcom-Lima no, we cant close. I have read that line and it has no relation this ticket. I am NOT going to create credit memo. Im shipping the order then the order get closed -> this is wrong.

Do not ask to close the issue when you dont read carefully.
@hostep you may have some ideas?

[2021-09-23 17:14] chittima commented on #33741
Looks like issue is already fixed. The issue is not reproducible on the latest 2.4-develop

[2021-09-23 18:30] hostep commented on #34055
Hmm, so:

- You have an order
- You have an invoice that's not paid yet (payment happens after shipment arrived with the customer I guess?)
- You have a shipment

And the order gets status 'Closed', but you expect it to be in 'Processing' until the invoice is paid or just be 'Completed'.
Is this a correct summary?

I think the status 'Closed' is then not correct here. But I'm not sure what status

[2021-09-23 18:35] hostep commented on #33741
@chittima: could you leave some more detailed info please? Like providing commits that fixed this. Just closing an issue with so little explanation is a bit rude ...

[2021-09-23 19:59] sdzhepa commented on #33741
Hello @hostep @mrtuvn @glevhen

Let me try to shade more lite on the issue based on communication and collaboration in the internal Jira ticket.

- recently Jira ticket related to this public report was taken into the sprint scope by one of the internal teams
- But on the initial phase, a QA engineer was not able to reproduce this issue on the latest `2.4-develop` branch with `security-package` in

[2021-09-23 20:09] chernenm commented on #33947
@magento give me 2.3.7 instance

[2021-09-23 20:11] chernenm commented on #33947
@magento give me 2.3-develop instance

[2021-09-23 20:12] chernenm commented on #33947
@magento give me 2.4-develop instance

[2021-09-23 20:51] chequille commented on #33741
Unbelievable !!!!
we need the information what is finally be done to fix this issue.
We do not want to wait till 2.4.3-p1 is out as it could take a few weeks/months till it is released.

[2021-09-23 20:58] orlangur commented on #26949
@LiamKarlMitchell what kind of input type do you expect for decimal attribute? Do you see specific input type for integer attribute here? :)

Hint: check existing in the system integer and decimal attributes.

[2021-09-23 21:04] LiamKarlMitchell commented on #26949
Range search in product catalog.

A decimal input is letting you write numbers like 5.234 in the admin for
product and to import such numbers using rest api or bulk importer.

Maybe a way to set precision and length.

On Fri, 24 Sep 2021, 8:59 am Vlad Veselov, ***@***.***> wrote:

[2021-09-23 21:41] hostep commented on #33741
It's actually pretty close, the [release of 2.4.3-p1](https://devdocs.magento.com/release/) 😉

Thanks @sdzhepa for the extra info, however it would still be nice if somebody could figure out how it got fixed.

[2021-09-24 04:23] engcom-Lima commented on #33913
Hi @vk44295,

We have noticed that this issue has not been updated for some time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-24 04:23] #33913 closed, assigned to engcom-Lima

[2021-09-24 04:25] engcom-Lima commented on #31382
Hi @chequille,

We have noticed that this issue has not been updated for some time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-24 04:25] #31382 closed, assigned to engcom-Lima

[2021-09-24 04:26] engcom-Lima commented on #33854
Hi @vertic4l,

We have noticed that this issue has not been updated for some time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-24 04:26] #33854 closed, assigned to engcom-Lima

[2021-09-24 04:27] engcom-Lima commented on #32236
Hi @ioweb-gr,

We have noticed that this issue has not been updated for some time. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-09-24 04:27] #32236 closed, assigned to engcom-Lima

[2021-09-24 04:45] lwunguyen opened #34151 "Create New Order in Admin: Items Ordered do not update and without key magento 2.4.3"
Hello,
After upgrading to magento 2.4.3, i am facing this problem:
Here are the steps:
1. Go to Sales > Orders
2. Click on 'Create new order' button
3. Search for the customer by filtering the email address by the term 'shivraj'
4. click on the record with an account
5. Select 'Chrome battery' store.
6. Click on 'Add products' button
7. Add just one product
8. Click on the button 'Add selected pro

[2021-09-24 06:10] onlinebizsoft commented on #34055
@hostep yes thats correct. I wrote it clearly at the begining I think

[2021-09-24 06:54] engcom-November commented on #29754
Verified the issue on Magento 2.4-develop branch having EE modules enabled and is reproducible.
But since Share Customer Accounts is set to "Per Website", user is not able to select other store views which is expected behavior regardless of whether the store is disabled/enabled - Same behavior is present
Since the customer is created on other website - Regardless of whether the website is enabled/

[2021-09-24 07:24] MahamMubashir commented on #34146
@ajijshekh123

- Add a dummy product in Catalog->Products->Add Product
- Export the products via Stock Inventory System->DataTransfer->Export (Entity Type-> Stock Inventory)-> Continue (It includes the new product)
- Delete the product
- Again export the products via Stock Inventory System->DataTransfer->Export (Entity Type-> Stock Inventory)-> Continue (It includes the deleted product)
- Run cron

[2021-09-24 07:32] engcom-November commented on #34046
Hi @K1mMar1tz ,

We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-09-24 07:32] #34046 closed, assigned to engcom-November

[2021-09-24 07:37] #32469 closed, assigned to nobody

[2021-09-24 07:44] ihor-sviziev commented on #32469
@gabrieldagama @sidolov @sivaschenko, why this issue was closed w/o any comments?

[2021-09-24 07:48] ihor-sviziev commented on #34139
Hi @mohammadzahwy2017,
This is a duplicate of https://github.com/magento/magento2/issues/33798 which still not fixed yet.

As a temporary workaround, you can apply the following patch: https://github.com/magento/magento2/issues/33856#issuecomment-904606945

[2021-09-24 07:48] WilliejanB commented on #20352
This issue still occurs in Magento ver 2.4.3
In Magento backend admin, in order confirmation emails and PDF documents.

![Sales _ Magento Admin](https://user-images.githubusercontent.com/67437750/134638102-bed16417-d679-47a8-b3e1-0326b059eac2.png)

[2021-09-24 07:49] ihor-sviziev commented on #33798
Hi,
For those who are getting this issue - the issue still not fixed.
As a temporary workaround, you can apply the following patch: https://github.com/magento/magento2/issues/33856#issuecomment-904606945

[2021-09-24 07:49] Den4ik commented on #32469
Is it fixed?

[2021-09-24 07:59] engcom-Lima commented on #32469
Hi @ madonzy,

In the module magenius used to reproduce the issue, method 'get' is called twice (1 by CustomerRepositoryDecorate.php class and another by Magento/Customer/Model/ResourceModel/CustomerRepository.php class).
Hence, as plugins are attached to methods it is getting called twice. Once we removed 'get' call to CustomerRepository from CustomerRepositoryDecorate.php 'get' method, plugin wa