[2018-08-08 08:05] engcom-backlog-pb commented on #17429
@tuushay, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-08 08:06] engcom-backlog-nickolas commented on #15165
Hello @Alex1844, thank you for your report. I cannot reproduce this issue. Could you please add more details?

[2018-08-08 08:11] engcom-backlog-nickolas commented on #17433
Hello @DanielRuf, thank you for your report. Could you please add more clear steps to reproduce, expected and actual results? Also, please specify magento version.

[2018-08-08 08:13] engcom-backlog-pb commented on #17436
@michaelrachlitz, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-08 08:13] engcom-backlog-andrii commented on #17425
@navarr , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-08 08:16] engcom-backlog-andrii commented on #17427
@patrickcavalheiro , please refer to the [Community Forums](https://community.magento.com/)or the [Magento Stack Exchange](https://magento.stackexchange.com/) site foradvice or general discussion about this issue. The GitHub issue tracker isintended for Magento Core technical issues only.

[2018-08-08 08:16] #17427 closed, assigned to nobody

[2018-08-08 08:22] #14986 closed, assigned to nobody

[2018-08-08 08:26] engcom-backlog-pb commented on #14947
@tomekjordan, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-08 08:26] #14947 closed, assigned to nobody

[2018-08-08 08:28] engcom-backlog-pb commented on #14551
@sabarivenkat, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-08 08:28] #14551 closed, assigned to nobody

[2018-08-08 08:33] michaelrachlitz commented on #17436
I found the error on vanilla.

1. Add configurations
2. Before saving the parent product, make sure that at least one configuration has a SKU that is longer than allowed.
3. Save and the validation will complain about the length exceeding 64 characters
4. Korrekt the SKU and make sure the length is shorter than the limit of 64 characters
5. Save the product. The error is now reproduced.

[2018-08-08 08:34] michaelrachlitz commented on #17436
@magento-engcom-team give me 2.2.5 instance

[2018-08-08 08:34] magento-engcom-team commented on #17436
Hi @michaelrachlitz. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-08 08:35] magento-engcom-team commented on #17436
Hi @michaelrachlitz, here is your [Magento instance](https://i-17436-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17436-2-2-5.engcom.dev.magento.com/admin](https://i-17436-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-08 08:38] michaelrachlitz commented on #17436
Error reproduced in test instance:
`There has been an error processing your request
Exception printing is disabled by default for security reasons.

Error log record number: 306743500556`

[2018-08-08 08:39] engcom-backlog-nickolas commented on #17434
Hello @daniel-ifrim, thank you for your report.
We've acknowledged the issue and added to our backlog.
Will be fixed in https://github.com/magento/magento2/pull/16570

[2018-08-08 08:39] michaelrachlitz commented on #17436
@magento-engcom-team Error reproduced Yes 306743500556

[2018-08-08 08:41] engcom-backlog-nickolas commented on #14521
@erichagz, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-08 08:41] #14521 closed, assigned to nobody

[2018-08-08 08:42] engcom-backlog-nickolas commented on #15486
@mtjweb, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-08 08:42] #15486 closed, assigned to nobody

[2018-08-08 08:43] engcom-backlog-nickolas commented on #15544
@gwharton, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-08 08:43] #15544 closed, assigned to nobody

[2018-08-08 08:55] DanielRuf commented on #17433
It is a feature request. The information is all there, I added some more.

[2018-08-08 09:32] engcom-backlog-pb commented on #14357
@cannycookie, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-08 09:36] DanielRuf commented on #14357
Afaik this is part of login and others things which use it for calculating the password strength.

You should be able to remove the js file according to the docs.

[2018-08-08 10:18] vegangirlthatcodes commented on #16789
Any update on this issue? We have to manually create the redirects since this is causing a lot of SEO problems.

Thank you!

[2018-08-08 10:19] engcom-backlog-nickolas commented on #17433
@DanielRuf, thanks for reply. Please use https://github.com/magento/community-features for suggestions like improvements or feature requests.

[2018-08-08 10:42] DanielRuf commented on #17433
This issue was meant for me as contributor and possible future maintainer to create a PR. I will reopen it for me.

[2018-08-08 10:43] engcom-backlog-pb commented on #15490
@pini-girit, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-08 10:43] #15490 closed, assigned to nobody

[2018-08-08 10:50] magento-engcom-team commented on #13480
Hi @VincentMarmiesse. Thank you for your report.
The issue has been fixed in magento/magento2#15335 by @jayankaghosh in 2.2-develop branch
Related commit(s):
 - [540917e54db5490f411beb6cbbe8715502de5b1a](https://github.com/magento/magento2/commit/540917e54db5490f411beb6cbbe8715502de5b1a)
 - [c6aabf8f6b88b9b54a5022eb2163718af270b7a8](https://github.com/magento/magento2/commit/c6aabf8f6b88b9b54a5022

[2018-08-08 10:50] #13480 closed, assigned to jayankaghosh

[2018-08-08 10:50] magento-engcom-team commented on #10687
Hi @boxyman. Thank you for your report.
The issue has been fixed in magento/magento2#15606 by @Scarraban in 2.2-develop branch
Related commit(s):
 - [a99e97e1ebbb3fd8b09e3a7236813831a76c7cef](https://github.com/magento/magento2/commit/a99e97e1ebbb3fd8b09e3a7236813831a76c7cef)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-08 10:50] #10687 closed, assigned to sunilit42

[2018-08-08 10:50] magento-engcom-team commented on #15028
Hi @yspeedwicked. Thank you for your report.
The issue has been fixed in magento/magento2#15720 by @zamboten in 2.2-develop branch
Related commit(s):
 - [03298b3b2f322ca0bebc423f906428718b31809a](https://github.com/magento/magento2/commit/03298b3b2f322ca0bebc423f906428718b31809a)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-08 10:50] magento-engcom-team commented on #7372
Hi @candia. Thank you for your report.
The issue has been fixed in magento/magento2#16597 by @swnsma in 2.2-develop branch
Related commit(s):
 - [d866b18757ca50bc97df4038a874a4bddf465a4c](https://github.com/magento/magento2/commit/d866b18757ca50bc97df4038a874a4bddf465a4c)
 - [bc00d8e059ba168694962249d09cd82f99e9ef46](https://github.com/magento/magento2/commit/bc00d8e059ba168694962249d09cd82f99e9ef

[2018-08-08 10:50] magento-engcom-team commented on #13177
Hi @bambamboole. Thank you for your report.
The issue has been fixed in magento/magento2#16597 by @swnsma in 2.2-develop branch
Related commit(s):
 - [d866b18757ca50bc97df4038a874a4bddf465a4c](https://github.com/magento/magento2/commit/d866b18757ca50bc97df4038a874a4bddf465a4c)
 - [bc00d8e059ba168694962249d09cd82f99e9ef46](https://github.com/magento/magento2/commit/bc00d8e059ba168694962249d09cd82f9

[2018-08-08 10:50] magento-engcom-team commented on #12250
Hi @quisse. Thank you for your report.
The issue has been fixed in magento/magento2#14537 by @quisse in 2.2-develop branch
Related commit(s):
 - [ca47981c00d1a4d1803520108d5a152d7b3d584a](https://github.com/magento/magento2/commit/ca47981c00d1a4d1803520108d5a152d7b3d584a)
 - [951d5e8bcad09fec5619ad5da582b67025f6e914](https://github.com/magento/magento2/commit/951d5e8bcad09fec5619ad5da582b67025f6e9

[2018-08-08 10:50] #12250 closed, assigned to nobody

[2018-08-08 10:50] magento-engcom-team commented on #4803
Hi @samtay. Thank you for your report.
The issue has been fixed in magento/magento2#15691 by @cream-julian in 2.2-develop branch
Related commit(s):
 - [4c1989ee90e2cde19cb71445f4c07dd19f8f7b3a](https://github.com/magento/magento2/commit/4c1989ee90e2cde19cb71445f4c07dd19f8f7b3a)
 - [215be5a9d10ec81d243b3a2225c45264632176ef](https://github.com/magento/magento2/commit/215be5a9d10ec81d243b3a2225c45264

[2018-08-08 10:50] #4803 closed, assigned to julian-van-drielen

[2018-08-08 10:50] magento-engcom-team commented on #16544
Hi @VitaliyBoyko. Thank you for your report.
The issue has been fixed in magento/magento2#16724 by @VitaliyBoyko in 2.2-develop branch
Related commit(s):
 - [e189fc97873278be4e4358565f022bd15276d64e](https://github.com/magento/magento2/commit/e189fc97873278be4e4358565f022bd15276d64e)
 - [2ed9af37dee0e223b2cae2d22659564a3b472a74](https://github.com/magento/magento2/commit/2ed9af37dee0e223b2cae2d226

[2018-08-08 10:50] #16544 closed, assigned to VitaliyBoyko

[2018-08-08 11:02] rogyar commented on #16555
I'm able to reproduce this issue on the `2.2-develop` branch.

[2018-08-08 11:03] engcom-backlog-pb commented on #13505
Duplicate of #17323

[2018-08-08 11:03] #13505 closed, assigned to nobody

[2018-08-08 11:17] sidolov commented on #16653
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#17413 by @dverkade in 2.1-develop branch
Related commit(s):
 - [db166c748957a161d9cdc79d0c110caa609857c7](https://github.com/magento/magento2/commit/db166c748957a161d9cdc79d0c110caa609857c7)

The fix will be available with the upcoming 2.1.16 release.

[2018-08-08 11:17] sidolov commented on #16655
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#17413 by @dverkade in 2.1-develop branch
Related commit(s):
 - [db166c748957a161d9cdc79d0c110caa609857c7](https://github.com/magento/magento2/commit/db166c748957a161d9cdc79d0c110caa609857c7)

The fix will be available with the upcoming 2.1.16 release.

[2018-08-08 11:20] #13054 closed, assigned to nobody

[2018-08-08 11:24] #12176 closed, assigned to nobody

[2018-08-08 11:24] Kyle12340 opened #17440 "When trying to send a test email to myself it says theres a technical issue why is that?"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-08-08 11:25] magento-engcom-team commented on #17440
Hi @Kyle12340. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-08 11:30] #17440 closed, assigned to nobody

[2018-08-08 11:58] saurastra-developer opened #17441 "issue on product"
i have created program from admin then modified programatically to status disable then i cant able to enable it. it show in admin enabled but in listing status show disabled.

[2018-08-08 11:58] magento-engcom-team commented on #17441
Hi @saurastra-developer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-08-08 12:04] engcom-backlog-pb commented on #17441
@saurastra-developer, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-08 12:04] #17441 closed

[2018-08-08 12:30] daaannorris commented on #8854
I remember having this issue with M1 - and also recently encountered it with M2.
Simply change the domain of your docker instance from localhost:8080 to local.theme:8080 and add the appropriate line within your /etc/hosts file.

[2018-08-08 12:34] patoch14 opened #17442 "Order getCreatedAtFormatted has bad params"
### Preconditions

1. Magento CE 2.2.5

### Steps to reproduce

1. On any order, call getCreatedAtFormatted($format)
2. Set string format as expected (short|medium|long|full)

### Expected result

1. It should return order's createAt formated

### Actual result

1. PHP Fatal error:  Uncaught TypeError: IntlDateFormatter::__construct() expects parameter 2 to be integer, string given in  vendor/mage

[2018-08-08 12:35] magento-engcom-team commented on #17442
Hi @patoch14. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-08 12:37] Kyle12340 commented on #17440
Preconditions
1.Made an email template and wanted to test it but when I try and send it it was a technical issue

Steps to reproduce
1.Cleared cache and used a different browser still no luck

Expected result-
I expected the email to send to me
Actual result
It didnt

That better

[2018-08-08 12:53] engcom-backlog-nickolas commented on #15044
Hello @outoftheboxsol, thank you for your report. I cannot reproduce this issue by following described steps. Could you please add more details?

[2018-08-08 13:36] breg-13 commented on #15419
Hi @engcom-backlog-pb,

Updated. Please check.

[2018-08-08 13:39] engcom-backlog-pb commented on #13122
@wolfuma, thank you for your report.
This is an expected behavior.

[2018-08-08 13:39] #13122 closed, assigned to nobody

[2018-08-08 13:46] MateuszRybak opened #17445 "Add new tab to product bundle edit page not working - tab with knockout component"
Hi!

I have a problem with adding new tab to admin product bundle edit page.

I create a new file with tab in path: MyModule/Testing/Block/Adminhtml/Catalog/Product/Edit/Tab/MyTab

Content this file:
`<?php

namespace TradeGecko\Integration\Block\Adminhtml\Catalog\Product\Edit\Tab;

use Magento\Backend\Block\Template\Context;
use Magento\Framework\Registry;
use Magento\Backend\Block\Widget;
use Ma

[2018-08-08 13:46] magento-engcom-team commented on #17445
Hi @MateuszRybak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-08 14:21] #17445 closed, assigned to nobody

[2018-08-08 14:26] craigcarnell commented on #3174
@tkn98 it makes no sense.. streamOpen does not exist, but streamWrite does..

[2018-08-08 14:54] magento-engcom-team commented on #16479
Hi @Sathishkumar8731. Thank you for your report.
The issue has been fixed in magento/magento2#17395 by @sreichel in 2.2-develop branch
Related commit(s):
 - [0fc15747f05571cd6b164c01e1f1b6168e37a468](https://github.com/magento/magento2/commit/0fc15747f05571cd6b164c01e1f1b6168e37a468)
 - [11feca496215abb017d464b5bdefa6a67ed36144](https://github.com/magento/magento2/commit/11feca496215abb017d464b5bd

[2018-08-08 14:55] robbatt commented on #8700
also waiting for this to be able to query out of stock items via api, if anyone's got an idea for a workaround please let me know

[2018-08-08 15:03] dtrilsbeek commented on #9762
Any updates regarding this?

[2018-08-08 15:07] ryan-copeland opened #17447 "Configurable Product Pricing Updating Incorrectly"
### Summary

When configuring a configurable product that has 2 configurable attributes the from price does not update when the first attribute is configured.

### Preconditions
1. Magento Commerce 2.2.5 / Magento Open Source 2.2.5
2. Create a configurable product that is configurable by 2 attributes e.g. colour and size. Let's say for this instance that the product is available in the colours Red

[2018-08-08 15:07] magento-engcom-team commented on #17447
Hi @ryan-copeland. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-08 15:10] ryan-copeland commented on #17447
@magento-engcom-team give me 2.2.5 instance

[2018-08-08 15:10] magento-engcom-team commented on #17447
Hi @ryan-copeland. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-08 15:10] magento-engcom-team commented on #17447
Hi @ryan-copeland, here is your [Magento instance](https://i-17447-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17447-2-2-5.engcom.dev.magento.com/admin](https://i-17447-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-08 15:14] robbatt commented on #8700
is this related to the fix for the single product query? https://github.com/magento/magento2/issues/6781

[2018-08-08 16:10] chris-pook commented on #14952
This DI in the Amzn module looks like a pretty major violation of the Magento code API to me. You can't just change the core behavior like that to suit your needs on a module that's going to be force installed on every instance of the framework.

We've hit a number of bugs in M2 recently that have lead back in some way to these third party vendor modules that are now being included in the core pro

[2018-08-08 16:38] gwharton commented on #14952
I run from github, where you don't seem to get any of those "optional" modules installed by default. I certainly don't even have temando or any amazon modules installed, let alone disabled.

I know previous to these modules causing issues, I ran from composer, which did seem to install both Temando and Amazon modules by default.

It does seem rather odd that the majority of testing on magento, inc

[2018-08-08 16:55] Orstio commented on #16201
Definitely NOT fixed in 2.2.5.

Original image:

![2612-mens-crew-neck](https://user-images.githubusercontent.com/6753949/43852063-ea5cd322-9b01-11e8-999e-b9a4c017a61b.png)

Resized in Magento 2.2.5:

![2612-mens-crew-neck](https://user-images.githubusercontent.com/6753949/43852085-f7d3d87a-9b01-11e8-9542-2e6d74dc7ca0.png)

Again, yes, there is a completely transparent image there.

[2018-08-08 17:04] Orstio opened #17450 "PNG with transparency resized to completely transparent image"
### Preconditions

I've created this ticket again since it was indicated that it was fixed in 2.2.5, and it was not.

1. Upload a PNG image with a transparency. (Original image attached)
![americana steel front](https://user-images.githubusercontent.com/6753949/41509580-eaedb388-721b-11e8-966b-fffb529b2ea9.png)

2. All of the resized images are blank, completely filled with transparency. (resized

[2018-08-08 17:04] magento-engcom-team commented on #17450
Hi @Orstio. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-08 17:07] Orstio commented on #17450
Yes, it is reproducable on a vanilla Magento instance.

It is exactly the same as this:

https://github.com/magento/magento2/issues/16201

The issue was not actually fixed in 2.2.5 as indicated.

[2018-08-08 17:53] sidolov commented on #4803
Hi @samtay. Thank you for your report.
The issue has been fixed in magento/magento2#15688 by @cream-julian in 2.1-develop branch
Related commit(s):
 - [d409248d850d2118370e1d8f102c60dda10f3e64](https://github.com/magento/magento2/commit/d409248d850d2118370e1d8f102c60dda10f3e64)
 - [90f37dce6c35d17537ed4efc73e3bbb3b8901967](https://github.com/magento/magento2/commit/90f37dce6c35d17537ed4efc73e3bbb3

[2018-08-08 17:53] sidolov commented on #12250
Hi @quisse. Thank you for your report.
The issue has been fixed in magento/magento2#17439 by @quisse in 2.1-develop branch
Related commit(s):
 - [715d31e4e0507c34fcf91a2c64d9d306e76f070d](https://github.com/magento/magento2/commit/715d31e4e0507c34fcf91a2c64d9d306e76f070d)
 - [9c0d84f3819dbbd2d5669abb4477b52feb2b52ec](https://github.com/magento/magento2/commit/9c0d84f3819dbbd2d5669abb4477b52feb2b52

[2018-08-08 18:25] hostep commented on #14952
@chris-pook: for all shops we maintain which run on Magento 2.2.4 and higher, we have this part added to our `composer.json` file (was already mentioned above by @SamB-GB).

[code]

It makes sure none of these CBE's (Core Bundled Extensions) get installed. They are by no means tied to the core, so you can safely ignore them.

I agree with everyone in here which thinks they should either:
a) be dis

[2018-08-08 19:07] rodioncatargiu opened #17451 "sortOrder XML config attribute not working as intended for custom admin form fields appended to vendor provided form fields"
After attempting to add a custom select form element to the 'New Cart Price Rule' page, I noticed that my custom form field always ends up at the top of the fieldset, regardless of which sortOrder value I set up in the configuration XML for this new field.

I think this problem would present further complications if the desired placement would be in the middle of the form, say between 'Rule Name'

[2018-08-08 19:07] magento-engcom-team commented on #17451
Hi @rodioncatargiu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-08 19:13] rodioncatargiu commented on #17451
@magento-engcom-team give me 2.2.5 instance

[2018-08-08 19:13] magento-engcom-team commented on #17451
Hi @rodioncatargiu. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-08 19:13] magento-engcom-team commented on #17451
Hi @rodioncatargiu, here is your [Magento instance](https://i-17451-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17451-2-2-5.engcom.dev.magento.com/admin](https://i-17451-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-08 19:25] #17451 closed, assigned to nobody

[2018-08-08 19:44] Orstio opened #17452 "Customer non-default addresses' post codes do not change on leading zero"
### Preconditions

1. Magento 2.2.4
2. Create a customer with at least 3 addresses.  The non-default address should have a post code that is only 4 numbers.

### Steps to reproduce

1. Edit the customer addresses in the admin panel, and add a leading zero to the post code of the address that is not a default billing or shipping address.
2. Save the customer.
3. Look at the address to confirm the p

[2018-08-08 19:44] magento-engcom-team commented on #17452
Hi @Orstio. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-08 20:35] magento-engcom-team commented on #15457
Hi @harleen-mann. Thank you for your report.
The issue has been fixed in magento/magento2#15535 by @phoenix128 in 2.2-develop branch
Related commit(s):
 - [ca6e479731182a28509082685af7849e78400781](https://github.com/magento/magento2/commit/ca6e479731182a28509082685af7849e78400781)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-08 20:35] #15457 closed, assigned to phoenix128

[2018-08-08 20:43] adolfobushi opened #17453 "2 Checkout doesn't work with terms and conditions"
The payment method 2checkout doesn't work when terms and conditions is enabled.

### Preconditions

   Magento 2.2.5
   PHP 7.0 or 7.1
   2 checkout Express enabled in-checkout payment methods
   Checkout Agreements created and required

### Steps to reproduce
 Attempt to check out with 2checkout  with the agreements box checked

### Expected result
 Proceed to 2checkout checkout as normal

### Ac

[2018-08-08 20:43] magento-engcom-team commented on #17453
Hi @adolfobushi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-08 23:05] ttmuangkeo opened #17455 "Maximum execution time of 300 seconds exceeded while upgrade from 2.2.2 to 2.2.5"
I am upgrading a website from Magento 2.2 to 2.5 and running into an error. I read through a lot of threads and forums but nothing is working. This includes adding

max_execution_time 60000, set_time_limit(0) in my php.ini

I am using Cloudways and they said any PHP directives defined in a .htaccess will not be used. To use PHP-FPM Settings.
### Preconditions

1. Magento 2.2.2
2. PHP 7.0
3. SQL 5.

[2018-08-08 23:06] magento-engcom-team commented on #17455
Hi @ttmuangkeo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-08 23:11] ttmuangkeo commented on #17455
@magento-engcom-team give me 2.2.2 instance

[2018-08-08 23:12] magento-engcom-team commented on #17455
Hi @ttmuangkeo. Thank you for your request. I'm working on Magento 2.2.2 instance for you

[2018-08-08 23:12] magento-engcom-team commented on #17455
Hi @ttmuangkeo, here is your [Magento instance](https://i-17455-2-2-2.engcom.dev.magento.com).
Admin access: [https://i-17455-2-2-2.engcom.dev.magento.com/admin](https://i-17455-2-2-2.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-08 23:18] ttmuangkeo commented on #17455
@magento-engcom-team yes

[2018-08-08 23:43] orlangur commented on #17455
@ttmuangkeo,

You need to change PHP settings properly in `php.ini` corresponding to PHP CLI, Magento cannot do anything about such misconfiguration.

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2018-08-08 23:43] #17455 closed, assigned to nobody

[2018-08-08 23:46] orlangur commented on #17378
@simonworkhouse,

There is nothing wrong with that, method names should not be mixed up with underlying SQL.

Please provide an isolated test case which reproduces a problem on a clean Magento installation.

[2018-08-08 23:49] orlangur commented on #17397
@enviengine Magento `2.2.x` should not be used with PHP 7.2: https://github.com/magento/magento2/blob/2.2-develop/composer.json#L11

@simonworkhouse thanks for a quick investigation!

[2018-08-08 23:49] #17397 closed, assigned to nobody

[2018-08-09 00:14] JeremyPlease commented on #9916
I am experiencing this issue in Magento CE 2.2.5.

Debugging the code, I see that from cron jobs, the following code returns nothing for the theme id:

[code]

However, the same code not triggered by a cronjob gets the theme id correctly.

@serhii-balko and @magento-engcom-team Was this fixed in Magento 2.2.x? Can you link to the commit that has the fix?

Thanks!

[2018-08-09 00:37] sylink commented on #16235
The benchmarks in general don't work out of the box from what I can tell. They fail on many assertions and on inspection some of the values are non-sense or hardcoded when they shouldn't be. I have a lot of doubt that Magento themselves have ever used those despite updating them.

[2018-08-09 00:42] sylink commented on #12866
Is this module taking data from stores regardless if you have a paid BI account at all ?

[2018-08-09 03:53] tzy1992 commented on #13952
@buituanbg I am still getting duplicated order after apply the fix, both order created at the exact date and time.

@magento-engcom-team Any update regarding this issue?

[2018-08-09 06:10] engcom-backlog-nickolas commented on #17442
Hello @patoch14, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-09 06:32] engcom-backlog-nickolas commented on #14626
Hello @lano-vargas, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-09 06:35] engcom-backlog-nickolas commented on #17452
Hello @Orstio, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-09 06:41] buituanbg commented on #13952
it seems you got other case. Let me know if you need support to debug.

[2018-08-09 06:54] engcom-backlog-nickolas commented on #17450
Hello @Orstio, thank you for your report. I cannot reproduce this issue.
![peek 2018-08-09 10-00](https://user-images.githubusercontent.com/40755810/43882961-3bbad09e-9bba-11e8-99d5-c57e86e76133.gif)

Could you please correct steps I did, or add more details?

[2018-08-09 07:21] #17453 closed, assigned to nobody

[2018-08-09 07:35] joost-heijden commented on #10454
someone find the issue?

[2018-08-09 07:43] kanduvisla opened #17458 "CMS module does not implement extension attributes"
Currently the entities provided by the CMS module do not allow the use of extension attributes. Is there a reason for this? Or is it on the roadmap to add this functionality?

### Preconditions

1. Magento 2.x

### Steps to reproduce

1. Try to add an extension attribute to `Magento\Cms\Model\Page`.

### Expected result

1. Extension attributes should be added / registered to the model.

### Actua

[2018-08-09 07:43] magento-engcom-team commented on #17458
Hi @kanduvisla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-09 07:46] engcom-backlog-nickolas commented on #14142
Hello @EliasZ, thank you for your report. Could you please provide more detailed steps to reproduce? code snippets will be very useful.

[2018-08-09 07:50] engcom-backlog-nickolas commented on #13502
Hello @kanduvisla, thank you for your report. Do you have any updates on this issue? Like, more detailed steps to reproduce?

[2018-08-09 07:52] kumarbikash411 commented on #11924
same issue i was getting, i used
GRANT ALL * TO 'root'@'localhost' WITH MAX_USER_CONNECTIONS 1000;

using this querry will resolve the issue

[2018-08-09 08:11] Rutvee123 opened #17459 "wishlist product already remove from account page still display in wishlist on product page when FPC is on"
### Summary of the issue
when product remove from wishlist on the my wishlist page still displayed on wishlist on product detail page when FPC is on

### Information on your environment
php version: 7.0.29
mysql:mysqlnd 5.0.12
magento 2.2.3

### Steps to reproduce:
any product add to wishlist:
go to my wishlist page
remove product from the wishlist
now go to this product detail page
product still

[2018-08-09 08:11] magento-engcom-team commented on #17459
Hi @Rutvee123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-09 08:15] Rutvee123 commented on #17459
I have set with code format and yes is  reproducible on vanila  2.2.3

[2018-08-09 08:29] simonworkhouse commented on #17378
@orlangur

I do realise that, but the problem is due to the fact it is actually trying to perform the action of a replace with an insert. There doesn't appear to be any protection to prevent duplicates in the batch update either, so batches will fail if there are ever any duplicates. Additionally, the exception that is supposed to be thrown on duplicates doesn't ever appear to be thrown. MySQL log

[2018-08-09 08:43] engcom-backlog-pb commented on #15419
@breg-13, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-09 08:44] prakashpatel07 commented on #16069
#prakashpatel07

[2018-08-09 08:45] engcom-backlog-nickolas commented on #12913
Hello @Naturegreen, thank you for your report. This issue already has been fixed in 2.2.5 - which is current release version.

[2018-08-09 08:45] #12913 closed, assigned to nobody

[2018-08-09 09:01] bery commented on #14357
I did some testing and I was not able to remove the file as it is merged via require js config. When merging is disabled, all works fine, yet when merging is enabled, the library is included on all pages.

[2018-08-09 09:03] engcom-backlog-pb commented on #17459
@Rutvee123, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Step "product still display with red symbol" clearly marks you are using some custom modules. If you'd like to update it, please reopen the issue.

[2018-08-09 09:03] #17459 closed, assigned to nobody

[2018-08-09 09:09] wcladesh commented on #10083
Hello @victor-v-rad,
I have the same issue in Magento Version 2.2.4 which is migrated from Magento 1.9.1.0.
I have already run command "php -f bin/magento customer:hash:upgrade"
but this is not helping me. Please suggest me.

Can I Truncate table as suggested @likhamahudda
 **customer_entity_varchar**

is this solution is ok and will not harm for other functionality.

Please help me.

[2018-08-09 09:10] leovaimo opened #17460 "Add to cart ajax not working on Simple product page with custom option type - date"
### Preconditions
Magento 2.2.5 **Updated(09/19/2019):** Still actual on `2.3-develop`

### Steps to reproduce
Create simple product.
Add custom option with option type Date > Date
Add price (Price Type Fixed) and option sku.
Go to product page and try to add to cart.

### Expected result
Page should not be refreshed.

### Actual result
Page is refreshed.

[2018-08-09 09:10] magento-engcom-team commented on #17460
Hi @leovaimo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-09 09:13] ryan-copeland commented on #17447
Yes, this is on a vanilla Magento.

[2018-08-09 09:25] Rutvee123 commented on #17459
Please check in this demo
http://demo-acm2.bird.eu/
is still remain also in demo version and vanila too

[2018-08-09 09:30] engcom-backlog-pb commented on #17460
@leovaimo, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-09 09:36] DanielRuf commented on #14357
Mh, maybe because it is not bound to a specific selector?
https://github.com/magento/magento2/blob/19eeeb99f350c05ab416344f5e997ffb64822e09/app/code/Magento/Customer/view/frontend/requirejs-config.js

At least it is excluded in the default themes:
https://github.com/magento/magento2/blob/c896f2c07c4bf61481aad75bab2467832594b546/app/design/frontend/Magento/blank/etc/view.xml

Did you test it with a

[2018-08-09 09:38] DanielRuf commented on #14357
You have to explicitely exclude it from bundling (which is done with all files which are loaded with requireJS):

https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/themes/js-bundling.html

See https://github.com/magento/magento2/blob/c896f2c07c4bf61481aad75bab2467832594b546/app/design/frontend/Magento/blank/etc/view.xml for reference.

[2018-08-09 09:52] ihor-sviziev commented on #12218
Hi @engcom-backlog-pb,
could you re-check, we have request that this issue still reproducting in 2.2.
https://github.com/magento/magento2/pull/12219#issuecomment-393842726

[2018-08-09 10:10] CompactCodeEU commented on #12970
I am having the same issue. When there is 1 assoc product with no stock then it just returns 'please specify quantities of product(s)"

[2018-08-09 10:15] bhavikapatelgm opened #17461 "Magento 2 : Product Price on website does not change"
### Preconditions

1. Magento version 2.2.4

### Steps to reproduce

1. Add 1 configurable product
2. While adding the product add 2 new configurable attributes  (Model , Thickness both of type Textual Swatch)
3. Add 3 simple products for this configurable product
4. Each product has 3 Swatches color, Thickness and model.
5. Price of product different for three different model whereas color and th

[2018-08-09 10:15] magento-engcom-team commented on #17461
Hi @bhavikapatelgm. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-09 10:33] bhavikapatelgm commented on #10676
Facing same issue. anyone had any solution

[2018-08-09 11:24] engcom-backlog-pb commented on #17459
@Rutvee123, can't reproduce your issue on demo store. Please record a video.

[2018-08-09 11:28] orlangur commented on #17378
@simonworkhouse because old URL rewrites are removed prior to inserting:

[code]

Feel free to reopen issue whenever you find out exact steps.

[2018-08-09 11:31] zajecvolk opened #17463 "Mobile product page image jumps to bottom"
When you using mobile device and scroll down holding your finger longer on the product page and you are about half way of the product image the page jumps to the bottom. There is no error with a quick scroll.

### Preconditions

1. Magento 2.1.8
2. PHP 7.0.3

### Steps to reproduce

1.  Open a product page.
2. Hold your finger on the screen longer Fotorama area and try to scroll page to bottom.

#

[2018-08-09 11:31] magento-engcom-team commented on #17463
Hi @mishunia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-09 11:34] dwaynebartels commented on #12881
Please update or better yet solve the issue.

We use the API to update products and have the same issues.

[2018-08-09 11:34] arnoudhgz commented on #17436
@michaelrachlitz I have digged into this, it only seems to break when you click the **Save** button when there is still an error message visible. Somewhere in the Knockout / Javscript the form values get messed up.
After that the values in PHP are not available anymore.

I will try to pinpoint the actual issue and than trying to solve it.

[2018-08-09 11:43] mgbilodeau opened #17464 "My filter in Mage plaza- manage post have an error because of the filter name and won't stop researching. I can't use the manage post section for now"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-08-09 11:43] magento-engcom-team commented on #17464
Hi @mgbilodeau. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-09 11:45] mgbilodeau commented on #17464
![capture](https://user-images.githubusercontent.com/42240111/43896833-27703d7a-9ba8-11e8-835d-48d273452791.PNG)

[2018-08-09 11:54] engcom-backlog-pb commented on #17461
@bhavikapatelgm, thank you for your report.
Please provide more clear steps to reproduce, expected and actual results, or record a video.

[2018-08-09 11:55] engcom-backlog-pb commented on #17464
@mgbilodeau, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Step

[2018-08-09 11:55] #17464 closed, assigned to nobody

[2018-08-09 12:27] bhavikapatelgm commented on #17461
http://techrack.graymatrix.com/index.php/ipad-pro-supreme-glass-screen-protector.html

Above is the link of my development website.

Hhere : ipad pro 9.7 prie is 1999, ipad 10.5 is 2199 and ipad 12.9 is 2399.

Unless i select color (Crystal), model and thickness it wont change the
price.

On 8/9/2018 5:24 PM, engcom-backlog-pb wrote:

[2018-08-09 12:30] wcladesh commented on #10083
Hello @victor-v-rad,
Please give any solution to that issue, I have more than 1.4 million customers but after migration old password is not working.

Please help me.

[2018-08-09 12:40] simonworkhouse commented on #17378
@orlangur

Yes, I had noticed that. However; it's not necessarily the conflict with the existing URLs that is the issue, it appears that it might be the data that it's trying to insert that contains the duplicates.

[2018-08-09 12:48] bharat-elsner opened #17465 "Not able to set bundle product option title value store wise in magento 2"
i have multi store website and i am trying to add bundle product with two option. Option 1 and Option 2. after created this product i switch my store to other store view and change  title Option 1 to Optizon 1 but it is reflecting to all store. i want to change only this particular store view. not for all.

**Preconditions**

Magento 2.2.4
PHP 7.0.3

**Steps to reproduce**

Create multi store.
tha

[2018-08-09 12:48] magento-engcom-team commented on #17465
Hi @Mrjain13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-09 13:12] engcom-backlog-pb commented on #17463
@mishunia, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-09 13:19] manaftryzens opened #17466 ""We can't delete the address right now" Error while deleting address from Customer account"
### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. Login as a customer
2. Add new addresses
3. Click on "Delete Address" Link at Manage Address page

### Expected result

1. It should remove the additional address whcih  belongs to that "delete address" link

### Actual result

1. Error message which says "We can't delete the address right now"

The issue is because, at file Magento\C

[2018-08-09 13:31] engcom-backlog-pb commented on #17465
@Mrjain13, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-09 13:35] engcom-backlog-pb commented on #17466
@manaftryzens, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![1](https://user-images.githubusercontent.com/40756187/43902235-30e5d334-9bf2-11e8-82b2-74ef84f84db9.gif)

[2018-08-09 13:37] Tereta commented on #15984
code/vendor/magento/module-catalog-inventory/Model/ResourceModel/Indexer/Stock/DefaultStock.php : _updateIndex
 $this->deleteOldRecords($entityIds) should be before $this->_updateIndexTable($data) where update by bunch and select "while ($row = $query->fetch(\PDO::FETCH_ASSOC)) {"

The magento developers forget about bunch update by 1000 thus it's insert update to table and after it clean the data

[2018-08-09 13:42] engcom-backlog-pb commented on #15092
@agata-maksymiuk, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-09 13:42] #15092 closed, assigned to nobody

[2018-08-09 13:42] pserrer opened #17467 "$block->escapeHtml doesn't create valid json"
The main problem is inside the file module-catalog/view/frontend/templates/product/breadcrumbs.phtml, but I guess, there are many other files, which have this as well.

    "product": "<?= $block->escapeHtml($viewModel->getProductName()); ?>"

In our example, the product name contains a tab character, which results in

    "product": "Product	Name"

The javascript frontend now tries to parse this

[2018-08-09 13:42] magento-engcom-team commented on #17467
Hi @pserrer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-09 13:42] engcom-backlog-pb commented on #16313
@angika, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-09 13:42] #16313 closed, assigned to nobody

[2018-08-09 13:43] engcom-backlog-pb commented on #17115
@DanielRuf, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-09 13:43] pserrer commented on #17467
@magento-engcom-team give me 2.2.5 instance

[2018-08-09 13:44] magento-engcom-team commented on #17467
Hi @pserrer. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-09 13:44] engcom-backlog-pb commented on #17121
@manojVivek, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-09 13:44] #17121 closed, assigned to nobody

[2018-08-09 13:44] Orstio commented on #17450
Is it necessary to run bin/magento catalog:images:resize after adding images to a product?  I have certainly not been doing that.

[2018-08-09 13:44] magento-engcom-team commented on #17467
Hi @pserrer, here is your [Magento instance](https://i-17467-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17467-2-2-5.engcom.dev.magento.com/admin](https://i-17467-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-09 14:01] engcom-backlog-nickolas commented on #17450
@Orstio, no, it's not necessary, I did both, with and without resize. Results are the same.

[2018-08-09 14:03] pserrer commented on #17467
@magento-engcom-team I was able to reproduce the issue on vanilla Magento instance

[2018-08-09 14:07] georgios-2317 commented on #15005
Hello @engcom-backlog-pb , thank you for responding but I feel I have given as much info as I can possibly give to allow you to replicate. If you have specific questions fire away, but I cannot guess what you mean by detailed instructions. I believe I mentioned 400+ rules running on 20.000+ products will whilst processing will cause memory to keep growing in each pass (and each pass stores 20K pro

[2018-08-09 14:21] IIxauII commented on #14952
Same issue.
Updated to 2.2.5 → All Emails where getting sent from my www-data user instead of the correct emailadress.
Disabled amazon modules and ran bin/magento s:d:c → worked, using correct emailadress now

[2018-08-09 14:29] orlangur commented on #17467
@pserrer is there any use for tab character in product name? Workaround like https://stackoverflow.com/a/34486456 looks a bit overkilling to me.

[2018-08-09 14:49] orlangur commented on #17467
@pserrer this is already fixed in `2.2-develop` https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/view/frontend/templates/product/breadcrumbs.phtml#L10 and will be released in `2.2.6`.

[2018-08-09 14:49] #17467 closed, assigned to nobody

[2018-08-09 15:18] Orstio commented on #17450
Are there any differences in your test environment?

    Environment: PHP 7.1.17, Linux 3.10.0 #1 SMP Fri Apr 20 17:42:34 MSK 2018 x86_64

GD Support => enabled
GD headers Version => 2.2.5
GD library Version => 2.2.5
FreeType Support => enabled
FreeType Linkage => with freetype
FreeType Version => 2.4.11
GIF Read Support => enabled
GIF Create Support => enabled
JPEG Support => enabled
libJPEG Vers

[2018-08-09 15:30] sidolov commented on #13429
Hi @zukovasmartynas. Thank you for your report.
The issue has been fixed in magento/magento2#17290 by @jignesh-baldha in 2.1-develop branch
Related commit(s):
 - [58280acaf8b411dd94ab2fc39785f35be8ea1ed0](https://github.com/magento/magento2/commit/58280acaf8b411dd94ab2fc39785f35be8ea1ed0)
 - [74e3a12de6c3b7e9cda12972b2c850eb41416cad](https://github.com/magento/magento2/commit/74e3a12de6c3b7e9cda12

[2018-08-09 15:40] magento-engcom-team commented on #16555
Hi @p-bystritsky. Thank you for your report.
The issue has been fixed in magento/magento2#16753 by @dmytro-ch in 2.2-develop branch
Related commit(s):
 - [def9a8220117de04bc50628d3e9abfcc06d8cffc](https://github.com/magento/magento2/commit/def9a8220117de04bc50628d3e9abfcc06d8cffc)
 - [4268a7579a9c4de63a21578cd6735bb61535310e](https://github.com/magento/magento2/commit/4268a7579a9c4de63a21578cd6735

[2018-08-09 15:40] #16555 closed, assigned to dmytro-ch

[2018-08-09 15:54] engcom-backlog-nickolas commented on #17450
@Orstio, here is mine:

Environment: PHP 7.1.20, Linux 4.4.0-131-generic #1 SMP Thu Jul 12 15:51:36 UTC 2018 x86_64

GD Support => enabled
GD headers Version => 2.2.5
GD library Version => 2.2.5
FreeType Support => enabled
FreeType Linkage => with freetype
FreeType Version => 2.6.1
GIF Read Support => enabled
GIF Create Support => enabled
JPEG Support => enabled
libJPEG Version => 8
PNG Support =>

[2018-08-09 15:57] Orstio commented on #17450
The only major difference I see is this one:

libPNG Version => 1.2.54

Let me see if I can downgrade libPNG and I'll get back to you.

[2018-08-09 16:29] ibecmattb commented on #6710
Having the same issue in 2.2.3 with less than 20 options (no pagination) need to click save and then save again to save a product.

[2018-08-09 16:41] sumitvgupta commented on #6710
Hey. @ibecmattb,
Can you please upload the video for that issue.
So I can see the exect issue. Because I have checked as per your comment and it's working fine.

[2018-08-09 16:42] Grumag commented on #7977
Tested 2.2.5 in Single Store mode, Canadian store and PayPal, still charging USD.

Don't bother..

[2018-08-09 16:43] simonmaass commented on #9088
had the same problem and had to delete them manually...

[2018-08-09 16:49] Orstio commented on #17450
Downgrading libpng does not appear to be an option.

Is there a way I can switch Magento to use ImageMagick instead of GD2?

[2018-08-09 16:49] amanuni commented on #7977
Try to change default tax destination in Admin->Store->Configuration->Sales->Tax->Default Tax Destination->Default Country

To Canada

[2018-08-09 16:49] ibecmattb commented on #6710
Here is screen recording:

Looks like you need to open the custom options tab and then re-save.

[m2.mov.zip](https://github.com/magento/magento2/files/2275053/m2.mov.zip)

[2018-08-09 16:52] Orstio commented on #17450
Found it.  ImageMagick appears to work, while GD2 does not.

[2018-08-09 16:53] Grumag commented on #7977
Hi amauni, it is already Canada. If you require screenshots, videos, settings, $$$ let me know I will send.

[2018-08-09 18:30] JoshuaFlood commented on #14803
I worked out the problem, but it might be a duplicate issue. The problem is that I had used a database from a previous installation, where my custom theme was active, but I had not include the custom theme in the fresh magento install, so `design/theme/theme_id` in `core_config_data` referenced a theme which did not exist in the `theme` table. I simply had to revert the value of `design/theme/them

[2018-08-09 18:30] JoshuaFlood commented on #14803
Just battling to get a stable production environment at the minute. Once that's done I'll give it a go writing something if there are no obvious drawbacks I've overlooked.

[2018-08-09 18:39] JoshuaFlood commented on #15206
@engcom-backlog-nickolas As far as I can tell, this is still an issue for 2.2.5.

I need to do a bit of testing once I've got more time but, as far as I remember, everything works as expected when styles are written within a _module.less file, but the breakpoints fail wherever a custom file is included as per magento's documentation.

[2018-08-09 19:53] rparsi commented on #7977
@Grumag For science, would you mind testing in multi store mode?  I expect the same result but want to verify. Thanks.

[2018-08-09 20:09] muckee opened #17480 "Magento 2.2.5: Categories aren't displayed in top menu when adding a custom theme to a fresh installation. esi:include"
### Preconditions

1. Ubuntu 18.04 LTS
2. Nginx 1.14
3. MariaDB Ver 15.1 Distrib 10.1.34
4. PHP 7.1.20 w/ Zend OPCache v7.1.20
5. Redis
### Steps to reproduce
1. Magento 2.2.5 installed via composer, running in developer mode
2. Magento setup command issued via command line using existing database from functioning server.
3. Custom theme files added manually from functioning server using rsync.
4.

[2018-08-09 20:09] magento-engcom-team commented on #17480
Hi @JoshuaFlood. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-09 21:50] Grumag commented on #7977
didn't change anything, still USD

[2018-08-09 21:54] leek commented on #10636
Does anyone know what exactly was changed in 2.3.x to fix this issue? If it is possible to temporarily port that change into 2.2.x, that would be wonderful.

[2018-08-09 22:11] arnoudhgz commented on #5906
@linden2015 this topic I was talking about :)

[2018-08-09 22:16] rparsi commented on #7977
@Grumag Thanks for trying.  I'll be working on a manual fix for this, hopefully have solution by next week.

[2018-08-09 22:37] JoshuaFlood commented on #17480
@magento-engcom-team give me 2.2.5 instance

[2018-08-09 22:37] magento-engcom-team commented on #17480
Hi @JoshuaFlood. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-09 22:46] rparsi commented on #17434
@engcom-backlog-nickolas I believe this issue is related to [https://github.com/magento/magento2/issues/14964](https://github.com/magento/magento2/issues/14964)

see the last 2 comments.

[2018-08-09 22:56] JoshuaFlood commented on #17480
@magento-engcom-team is there any way I can add themes to this or alter the database? If I can't emulate the process of migrating a database then I'm not going to be able to replicate it, though I don't see that this should matter too much because migrating databases is a feature which Magento is supposed to possess.

[2018-08-09 22:59] JoshuaFlood commented on #17480
Never mind. I had simply forgotten to switch the previous config from using varnish cache to default, because I have not yet installed varnish on the server.

[2018-08-09 22:59] #17480 closed, assigned to nobody

[2018-08-09 23:00] rparsi commented on #7977
@amanuni Anyone in magento team going to fix this?

[2018-08-09 23:05] Grumag commented on #7977
Short answer - No
Longer answer - No they will not

No one even acknowledged the problem. I am guessing it is specific for Canada which is a small market.

@amanuni is just a user

I think @alena-marchenko was assigned to do something here.. but it has been such a long time, I would  use some other payment solution

[2018-08-10 01:43] troston commented on #17373
I was able to resolve this issue by clearing the static file folder. I
dont know if this is a long term fix yet or just a bug. Thank you for your
response

On Mon, Aug 6, 2018 at 3:29 AM, engcom-backlog-pb <notifications@github.com>
wrote:

--

INET, Corp, Motagistics and Cannabis Business Opportunities agrees, to hold
in strictest confidence, and not to use, except for the benefit of the
Supplier

[2018-08-10 02:10] simonworkhouse commented on #17378
@orlangur Well it certainly is an issue and isn't limited to our instance, just see the other bug reports. It may not be related to the data going in, it might be the call to $this->deleteOldUrls($urls); not working correctly or possibly something else.

Like I said, I was only able to get so far with debugging, located the query that was failing and reported a general gist of the code path. I can

[2018-08-10 03:45] forwells commented on #8377
In general, this happens when you start a custom theme, so you need to run the command php magento setup:upgrade to ensure that you have cleared the static content, and then the deployer will run correctly.

[2018-08-10 06:09] engcom-backlog-nickolas commented on #15206
Hello @JoshuaFlood, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-10 06:17] amanuni commented on #7977
@Grumag to overcome from this issue i developed my own paypal pro payment method based magento paypal pro API however it will just work like m1.  :)

[2018-08-10 07:18] engcom-backlog-nickolas commented on #11268
Hello @tr33m4n, thank you for your report. Unfortunately I wasn't able to reproduce this issue.
![peek 2018-08-10 09-57](https://user-images.githubusercontent.com/40755810/43944156-a66221e6-9c86-11e8-9981-764257a7c809.gif)
If you'd like to update it, please reopen the issue.

[2018-08-10 07:34] engcom-backlog-pb commented on #17458
@kanduvisla, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-10 07:42] wittyvishwas opened #17485 "Adding billing information via mine API expects costumer id"
Preconditions

- Magento 2.2.5 installed with sample data , PHP 7.1 and MYSQL 5.6 With Ngnix
- Create Customer token and a quote with items that would be used to add shipping and billing information
- A saved customer address .

Steps to reproduce

Hit the products REST api rest/V1/carts/mine/billing-address  with generated customer token in above state with a similar body as below
[code]
Check th

[2018-08-10 07:42] magento-engcom-team commented on #17485
Hi @wittyvishwas. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-10 07:54] engcom-backlog-nickolas commented on #10205
Hello @sazzle2611, thank you for report. Unfortunately I wasn't able to reproduce this issue.
![peek 2018-08-10 10-59](https://user-images.githubusercontent.com/40755810/43945728-bd40322c-9c8b-11e8-99bb-56c953cbb720.gif)
If you'd like to update it, please reopen the issue.

@tkotosz it's correct behaviour. You have to specify entity type id, because is_visible_on_front property related to product

[2018-08-10 08:05] magento-engcom-team commented on #4803
Hi @samtay. Thank you for your report.
The issue has been fixed in magento/magento2#15723 by @cream-julian in 2.3-develop branch
Related commit(s):
 - [19ca0905ae81d9d32ae5aa1f56e38b31b1bf7cd0](https://github.com/magento/magento2/commit/19ca0905ae81d9d32ae5aa1f56e38b31b1bf7cd0)
 - [4e51e9c056f29318564dd50ce293a9cedc84bbf1](https://github.com/magento/magento2/commit/4e51e9c056f29318564dd50ce293a9ce

[2018-08-10 08:05] magento-engcom-team commented on #17416
Hi @dannynimmo. Thank you for your report.
The issue has been fixed in magento/magento2#17426 by @dannynimmo in 2.3-develop branch
Related commit(s):
 - [5994832f6c1e5cbfc228390c846f7b6ec7beca21](https://github.com/magento/magento2/commit/5994832f6c1e5cbfc228390c846f7b6ec7beca21)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-10 08:05] magento-engcom-team commented on #16653
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#17414 by @dverkade in 2.3-develop branch
Related commit(s):
 - [1fe125161c3e9a4b94b8b9ae8c1dd46ed10b4ed4](https://github.com/magento/magento2/commit/1fe125161c3e9a4b94b8b9ae8c1dd46ed10b4ed4)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-10 08:05] magento-engcom-team commented on #16655
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#17414 by @dverkade in 2.3-develop branch
Related commit(s):
 - [1fe125161c3e9a4b94b8b9ae8c1dd46ed10b4ed4](https://github.com/magento/magento2/commit/1fe125161c3e9a4b94b8b9ae8c1dd46ed10b4ed4)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-10 08:05] magento-engcom-team commented on #10411
Hi @cykirsch. Thank you for your report.
The issue has been fixed in magento/magento2#17375 by @jasonevans1 in 2.3-develop branch
Related commit(s):
 - [cfc77b08986dc1707476e17a762f40f83013f6dc](https://github.com/magento/magento2/commit/cfc77b08986dc1707476e17a762f40f83013f6dc)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-10 08:05] magento-engcom-team commented on #15588
Hi @dvershinin. Thank you for your report.
The issue has been fixed in magento/magento2#16813 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [04d4bb07328e4b145d80e0c008cbd131a1ed300f](https://github.com/magento/magento2/commit/04d4bb07328e4b145d80e0c008cbd131a1ed300f)
 - [d845518d5a2cb0053b62420e975921ab66ac09ae](https://github.com/magento/magento2/commit/d845518d5a2cb0053b62420e97592

[2018-08-10 08:05] magento-engcom-team commented on #3535
Hi @quienti. Thank you for your report.
The issue has been fixed in magento/magento2#17280 by @tiagosampaio in 2.3-develop branch
Related commit(s):
 - [b358932812325776ca46824aaf15f8795d990984](https://github.com/magento/magento2/commit/b358932812325776ca46824aaf15f8795d990984)
 - [d3a7b9729405842e680fd5fafb09285de09ce30b](https://github.com/magento/magento2/commit/d3a7b9729405842e680fd5fafb09285

[2018-08-10 08:05] magento-engcom-team commented on #14517
Hi @erichagz. Thank you for your report.
The issue has been fixed in magento/magento2#17280 by @tiagosampaio in 2.3-develop branch
Related commit(s):
 - [b358932812325776ca46824aaf15f8795d990984](https://github.com/magento/magento2/commit/b358932812325776ca46824aaf15f8795d990984)
 - [d3a7b9729405842e680fd5fafb09285de09ce30b](https://github.com/magento/magento2/commit/d3a7b9729405842e680fd5fafb0928

[2018-08-10 08:05] magento-engcom-team commented on #15218
Hi @densen45. Thank you for your report.
The issue has been fixed in magento/magento2#16995 by @ihor-sviziev in 2.3-develop branch
Related commit(s):
 - [ffa036de7266d1982655d521315ef3f5d2851425](https://github.com/magento/magento2/commit/ffa036de7266d1982655d521315ef3f5d2851425)
 - [a36f791ec3ac99d2706c08f969fed608c0b63e0f](https://github.com/magento/magento2/commit/a36f791ec3ac99d2706c08f969fed6

[2018-08-10 08:05] magento-engcom-team commented on #10790
Hi @dankocherga. Thank you for your report.
The issue has been fixed in magento/magento2#14468 by @ilnytskyi in 2.3-develop branch
Related commit(s):
 - [24163073edde6d7cec9382d5ce994d0d0e3481d5](https://github.com/magento/magento2/commit/24163073edde6d7cec9382d5ce994d0d0e3481d5)
 - [32c51d492176762acd841740d7f415e60bd4ad26](https://github.com/magento/magento2/commit/32c51d492176762acd841740d7f415

[2018-08-10 08:08] engcom-backlog-pb commented on #17485
@wittyvishwas, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![default](https://user-images.githubusercontent.com/40756187/43946327-a338c32e-9c8d-11e8-9b15-6def142f2aad.png)

[2018-08-10 08:15] wittyvishwas commented on #17485
So the catch is if you have put in a random id that doesn't not exists it works , i am assuming that address_id that you passed '65' is just copy pasted from my report does not actually exists . As mentioned in prerequisite you must have a saved address for the customer and pass that address id in above response

[2018-08-10 08:34] SebastianKlett opened #17486 "Adding a valid product by SKU in lowercase in admin order throws an error exception"
Summary:
When creating a new order in Admin and adding a product by SKU, entering a valid product SKU in lowercase throws an exception error.
### Preconditions

1. Magento 2.2.5
2. PHP 7.1
3. mySQL 5.6

### Steps to reproduce

1. Admin
2. Sales
3. Orders
4. Create New Order
5. Select Customer (store view level)
6. Select associated store view
7. Add product by SKU
8. Enter a valid SKU (must match

[2018-08-10 08:34] magento-engcom-team commented on #17486
Hi @SebastianKlett. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-10 08:43] dv-denda commented on #17298
Thank you so much @joostvanveen

[2018-08-10 08:48] chris-pook commented on #14952
Thanks @hostep @gwharton @SamB-GB , good to see the community is hot on this sort of thing.

Great shout removing these via composer. I wonder if we could perhaps start a movement for this to be the de facto install method, forcing the hand of Magento to incorporate these vendors in core somewhat? Most importantly then having to include them in testing. I appreciate that this is a free software pr

[2018-08-10 08:52] sidolov commented on #15028
Hi @yspeedwicked. Thank you for your report.
The issue has been fixed in magento/magento2#17476 by @mage2pratik in 2.1-develop branch
Related commit(s):
 - [4ac06edeb66cd4327ce5a6323d7f6a4b2b9860b4](https://github.com/magento/magento2/commit/4ac06edeb66cd4327ce5a6323d7f6a4b2b9860b4)

The fix will be available with the upcoming 2.1.16 release.

[2018-08-10 09:09] engcom-backlog-andrii commented on #17447
@ryan-copeland , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-10 09:18] paul-blundell opened #17488 "Authenticating a customer via REST API does not update the last logged in data"
### Preconditions
1. Magento 2.2.5
2. PHP 7.0
3. MySQL 5.7

### Steps to reproduce
1. Create a new customer account
2. Login with that customer using the default Magento frontend
3. View the customer in the Magento admin area, and note that the Last Logged In value has been updated
4. Request a customer token via this API endpoint: `/rest/V1/integration/customer/token`

### Expected result
Request

[2018-08-10 09:36] engcom-backlog-pb commented on #17486
@SebastianKlett, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open So

[2018-08-10 09:36] #17486 closed, assigned to nobody

[2018-08-10 09:36] thomas-villagers opened #17490 "cronjob fails with .gitignore-errors"
### Preconditions

1. Magento 2.2.3
2.

### Steps to reproduce

1. setup cron jobs
2.
3.

### Expected result

cronjobs should work

### Actual result

var/log/update.log:

[2018-08-10 11:17:02] update-cron.ERROR: Cron readiness check failure! Found non-writable paths:        /var/www/html/magento/dev/tests/api-functional/.gitignore       /var/www/html/magento/dev/tests/functional/.gitignore   /va

[2018-08-10 09:36] magento-engcom-team commented on #17490
Hi @thomas-villagers. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-08-10 09:37] engcom-backlog-pb commented on #17490
@thomas-villagers, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-10 09:37] #17490 closed, assigned to nobody

[2018-08-10 09:45] SebastianKlett commented on #17486
This is in the Magento backend and also an issue in the Magento Open Source version.

[2018-08-10 10:01] Vinai commented on #5906
Maybe this is helpful, too, in case someone else stumbles over this thread in future:
https://www.mage2.tv/content/javascript/frontend-ui-components/

[2018-08-10 10:07] engcom-backlog-pb commented on #10992
@nikonratm, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![default](https://user-images.githubusercontent.com/40756187/43952331-4f7669b0-9c9e-11e8-8b61-a3fef40fa045.png)

[2018-08-10 10:07] thomas-villagers commented on #17490
hm, ok, thanks for closing this issue ... and thank you for the information where I should look for a solution (which did not help, by the way). I was able to fix it myself: I just CREATED a bunch of empty .gitignore-files (touch .gitignore) in those folders.
Don't get mad at me, but I'm still convinced this is some sort of bug -- why does cron complain about non writable files that do not exist?

[2018-08-10 10:11] #16377 closed, assigned to nobody

[2018-08-10 10:15] engcom-backlog-pb commented on #15957
@JoshuaFlood , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-10 10:15] #15957 closed, assigned to nobody

[2018-08-10 10:32] josh-carter commented on #10454
@jeffb1a5 @maierb @JoshuaSpeechleyRS @joost-heijden @Rann1 @emreozandac Give the comments on this PR a read https://github.com/magento/magento2/pull/12936

I've been discussing with the author of the PR the problem which relates to this issue.

I started writing a small extension yesterday which will render all out of stock swatches/options/children - putting the finishing touches on it today, i'l

[2018-08-10 10:38] engcom-backlog-nickolas commented on #14803
@JoshuaFlood, thank you for detailed explanation. I'm closing this issue, as it's not reproducible on clean magento installation.

I may create issue here:  https://github.com/magento/community-features

[2018-08-10 10:38] #14803 closed, assigned to nobody

[2018-08-10 11:04] magento-engcom-team commented on #17289
Hi @JoshuaFlood. Thank you for your report.
The issue has been fixed in magento/magento2#17383 by @teddysie in 2.2-develop branch
Related commit(s):
 - [2c64c16e352c9b52b70432dd4ac631a56ed5e2d4](https://github.com/magento/magento2/commit/2c64c16e352c9b52b70432dd4ac631a56ed5e2d4)
 - [5e847c4d43507eb46ff7f0746ffb6cf7c29b024d](https://github.com/magento/magento2/commit/5e847c4d43507eb46ff7f0746ffb6cf

[2018-08-10 11:04] #17289 closed, assigned to nobody

[2018-08-10 11:10] peterlagerstrom commented on #12776
Hi, w3school is not really credible on what is correct. According to the newest "HTML Living Standard" it is a valid attribute.
https://html.spec.whatwg.org/multipage/semantics.html#the-link-element

[2018-08-10 11:30] engcom-backlog-nickolas commented on #12218
@AntonEvers, @ihor-sviziev I'm not able to reproduce this issue on current 2.2-develop
![peek 2018-08-10 14-32](https://user-images.githubusercontent.com/40755810/43955624-b5089fcc-9ca9-11e8-9c4e-a2ccc2147991.gif)

@AntonEvers, could you please correct my steps, or add more details?

[2018-08-10 11:39] tig-daanvandenbergh commented on #12517
@tigerx, I can still reproduce this issue in 2.2.5. removing `.column.main` from line 327, result in `gallery = $('[data-gallery-role=gallery-placeholder]', ''),` removes the error. However, the gallery of the selected product still isn't loaded.

[2018-08-10 11:50] engcom-backlog-nickolas commented on #17450
@Orstio, thanks for details. But, I've tested with GD2, In fact, I even have no 'Imagick' PHP extension installed.

[2018-08-10 12:17] engcom-backlog-nazar commented on #15303
@christophe29222 , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-10 12:17] #15303 closed, assigned to nobody

[2018-08-10 12:18] engcom-backlog-nazar commented on #15149
@woshka,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-10 12:18] #15149 closed, assigned to nobody

[2018-08-10 12:18] engcom-backlog-nazar commented on #15139
@elock37, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-10 12:18] #15139 closed, assigned to nobody

[2018-08-10 12:19] engcom-backlog-nazar commented on #14921
@georgios-2317, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-10 12:20] #14817 closed, assigned to nobody

[2018-08-10 12:20] #14767 closed, assigned to nobody

[2018-08-10 12:21] #14638 closed, assigned to nobody

[2018-08-10 12:22] #14620 closed, assigned to nobody

[2018-08-10 12:22] #14575 closed, assigned to nobody

[2018-08-10 12:23] #14561 closed, assigned to nobody

[2018-08-10 12:23] #14491 closed, assigned to nobody

[2018-08-10 12:24] #14490 closed, assigned to nobody

[2018-08-10 12:24] #14477 closed, assigned to nobody

[2018-08-10 12:28] wcladesh commented on #10083
Hello @victor-v-rad,
This is Magento Migration issue,Magento2 is not proper encrypt/decrypt password same as per Magento.

this Issue is still in 2.2.4 version, please provide either any patch or help to resolve that issue.

Thanks.

[2018-08-10 12:33] engcom-backlog-pb commented on #9466
@qbixx, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-10 12:43] krzksz opened #17492 ""- undefined" displayed in checkout summary when shipping method name is not set"
Sometimes it is the case that setting both `Carrier title` and `Method name` for a shipping method is redundant and having only the first one set it totally enough. Sadly, in the case of leaving `Method name` field blank there is a small visual bug displayed in checkout summary box.
### Preconditions

1. Magento 2.2.x, but any version may be affected
2. Shipping method with empty `Method Name` set

[2018-08-10 12:43] magento-engcom-team commented on #17492
Hi @krzksz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-10 12:44] krzksz commented on #17492
@magento-engcom-team give me 2.2-develop instance

[2018-08-10 12:44] magento-engcom-team commented on #17492
Hi @krzksz. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-08-10 12:45] magento-engcom-team commented on #17492
Hi @krzksz, here is your [Magento instance](https://i-17492-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-17492-2-2-develop.engcom.dev.magento.com/admin](https://i-17492-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-10 12:45] engcom-backlog-pb commented on #17115
@DanielRuf, please update Steps to Reproduce.

[2018-08-10 12:47] #17373 closed, assigned to nobody

[2018-08-10 12:48] sandsax commented on #10071
Hehe the same trouble with this issue:

Action create new product in catalog in magento 2.2.5
Change the Attribute group
The error message is displayed
in debug of Chrome I see that te following address apper error 404:

https://www.mywebsite.com/admin_101010/catalog/product/reload/type/simple/store/0/popup/1/componentJson/1/prev_set_id/9/key/3e2204fe5a8e2f43889649e5f47bc3cba6c13a9281da182a9b537c8

[2018-08-10 12:50] engcom-backlog-andrii commented on #17488
@paul-blundell , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-10 12:50] engcom-backlog-pb commented on #17486
@SebastianKlett, you cannot have this issue on Magento Open Source version because it does not support adding Product to Order by SKU.

[2018-08-10 12:53] engcom-backlog-pb commented on #15005
@georgios-2317 I have only near 300 Mb max memory consumption when reindexing with 20000 simple products and 500 Catalog Rules.

[2018-08-10 13:14] DanielRuf commented on #17115
Will do so then when I find the time. Will have to check / test it on the weekend.

[2018-08-10 13:22] U12358 opened #17493 "Catalog Rule & Selected Categories with level > 3"
### Preconditions
1. M 2.1,4

### Steps to reproduce
1. Open form for create new Catalog Rule
2. In Condition Select^ Product Attribute -> Category
3. Open Categories Chooser
4. Select one Category with level = 1, 2 or 3
5. Select one Category with level > 3 (4, 5, ...)
6. Click ok & close Category Chooser
5. Open again Category Chooser and see
   that only categories with level <= 3 are selected

[2018-08-10 13:33] engcom-backlog-pb commented on #17485
@wittyvishwas, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-10 13:37] tig-daanvandenbergh commented on #3149
@tigerx, I managed to fix this issue by replacing the updateBaseImage-function with the following code in swatch-renderer.js:

        updateBaseImage: function (images, context, isInProductView, eventName) {
            var self = this;

            $('[data-gallery-role=gallery-placeholder]').on('gallery:loaded', function() {
                var gallery = context.find(self.options.mediaGallerySe

[2018-08-10 13:38] Orstio commented on #17450
Yes, I think it has to do with the libPNG version.  You're using 1.2, and I'm using 1.5

[2018-08-10 13:51] engcom-backlog-pb commented on #17461
@bhavikapatelgm, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-10 13:52] engcom-backlog-nickolas commented on #17450
@Orstio, thank you for feedback. So, I'm closing this issue, as there is nothing to fix in magento, and Github is intended to core magento modules and components.
If you'd like to update it, please reopen the issue.

[2018-08-10 13:52] #17450 closed, assigned to nobody

[2018-08-10 13:55] tig-daanvandenbergh commented on #12517
@tigerx, @czettnersandor, @TonyDeplanque,

I managed to fix this issue by replacing the updateBaseImage-function with the following code in swatch-renderer.js:

        updateBaseImage: function (images, context, isInProductView, eventName) {
            var self = this;

            $('[data-gallery-role=gallery-placeholder]').on('gallery:loaded', function() {
                var gallery = contex

[2018-08-10 13:59] engcom-backlog-nickolas commented on #17493
Hello @SKovbel, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-10 13:59] mlindholm opened #17494 "Valid PHP class names containing number not accepted in indexer.xsd and mview.xsd schemas"
### Preconditions
1. Magento 2.2.4
2. PHP 7.1
3. MySQL 5.6

### Steps to reproduce
1. Create indexer class with number on the class name. Example _Vendor\ModuleB2B\Model\Indexer_
2. Create table _moduleb2b_index_ table.
3. Create indexer configuration for the indexer class.
4. Create mview configuration for indexer class and table.

### Expected result
1. indexer.xml should be accepted as valid co

[2018-08-10 14:00] magento-engcom-team commented on #17494
Hi @Tuuhea. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-10 14:16] engcom-backlog-pb commented on #17494
Duplicate of #9985

[2018-08-10 14:16] #17494 closed, assigned to nobody

[2018-08-10 14:50] PiroozMB commented on #4409
@BlitzInternet your solution doesn't work. Any update on this?

[2018-08-10 15:12] engcom-backlog-nazar commented on #14394
Hi @romainruaud The fix for this issue has already been fixed in 2.3-develop branch

[2018-08-10 15:12] #14394 closed, assigned to nobody

[2018-08-10 15:34] danslo commented on #16149
This appears to be the fix, by the way:
https://github.com/magento/magento2/commit/bcffc4161e4960713922506870e1a4b711c5ca9e

[2018-08-10 16:02] engcom-backlog-andrii commented on #17492
@krzksz , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-10 16:29] cpjeanpaul commented on #11925
@KenioJunio is right. Try using an incognito tab or clean browser cache

[2018-08-10 18:43] evolbug commented on #17187
Fixed in #17305

[2018-08-10 18:43] #17187 closed, assigned to jignesh-baldha

[2018-08-10 18:56] georgios-2317 commented on #15005
What can I say @engcom-backlog-pb ... that was definitely not the case in 4 setups I had trying this out. I think I gave all versions related here.

As an observation 300Mb is rather low if you are indeed running the rules indexers because at very minimum each rule will load all product ids into memory and parse them and quickly go to the next rule. So I am guessing you should at very minimum be s

[2018-08-10 18:59] georgios-2317 commented on #14921
@engcom-backlog-nazar you are closing the ticket due to inactivity from whom? I do not see any comments or requests for information from anyone. The ticket content provides the info for the issue yet has had little to no response.

[2018-08-10 19:09] arnoudhgz commented on #17436
@magento-engcom-team , @michaelrachlitz  I could not pinpoint it exactly. My knowledge of the UI Components is not good enough and the code is poorly documented on this part which it makes tough to understand.

What I did find out was that after clicking the **Save** button when you have an error message visible (not necessarily the SKU of the configurable product, can also be the price of the sim

[2018-08-10 19:23] #12742 closed, assigned to nobody

[2018-08-10 20:17] Jason-Truman commented on #10071
Just try asking your hosting provider to whitelist your site for modsecurity or if you have access directly perhaps use your cpanel to do this, or temporarily disable it etc... Likely modsecurity (or another application firewall style system) is blocking the file, which causes issues.  The longer written solution describes this in more details.

[2018-08-10 20:19] troublediehard commented on #11482
I've created a custom API endpoint for this purpose https://github.com/troublediehard/mma-customapi

[2018-08-10 20:34] scottw-finao opened #17508 "Response/Redirect referring to wrong interface layer?"
This is a little thing, but I was trying to trace code and was having some difficulty as a result of the phpdoc in the file:

vendor/magento/module-store/App/Response/Redirect.php
lines 187-199
[code]
What caused the problem is that 'setRedirect()' is not specified in \Magento\Framework\App\ResponseInterface but is instead not available until the next level of inheritance (for example: Magento\Fra

[2018-08-10 20:34] magento-engcom-team commented on #17508
Hi @scottw-finao. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-10 21:38] arnoudhgz commented on #11450
@j-plou  did you make any progress? Are you still working on this?

[2018-08-10 21:40] CNanninga opened #17510 "On separate admin domain, reviews are not saved with correct store ID"
### Preconditions
1. Magento 2.2.5
1. Have only a single store configured on the install
1. VERY IMPORTANT:  Admin is on a different domain than the front-end store.  e.g., front-end is www.example.com, but admin.example.com is a domain that's been configured to load the admin view.
1. Set the value of MAGE*RUN_TYPE to "store" and the value of MAGE_RUN*CODE to "admin" via server configuration

###

[2018-08-10 21:40] magento-engcom-team commented on #17510
Hi @CNanninga. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-11 00:00] pavelshulga commented on #12070
I'm working on #cd-balance

[2018-08-11 00:00] magento-engcom-team commented on #12070
@pavelshulga thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-08-11 00:02] thanura-bi commented on #3795
I'm working on #cd-balance

[2018-08-11 00:02] magento-engcom-team commented on #3795
@thanura-bi thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-08-11 00:02] adjogic commented on #13971
I'm working on #cd-balance

[2018-08-11 00:02] magento-engcom-team commented on #13971
@adjogic thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-08-11 01:25] pavelshulga commented on #13226
I'm working on #cd-balance

[2018-08-11 02:39] pavelshulga commented on #13226
The reported issue was extensively tested on vanilla Magento versions 2.2.4, 2.2.5 and 2.2-develop (2.2.6).
As per investigation, the issue is resolved. The fix was to explicitly trigger required DOM event for mobile devices:
[https://github.com/magento/magento2/blob/2.2.4/lib/web/fotorama/fotorama.js#L1221](https://github.com/magento/magento2/blob/2.2.4/lib/web/fotorama/fotorama.js#L1221)

The ve

[2018-08-11 02:39] #13226 closed, assigned to pavelshulgabi

[2018-08-11 02:41] maximbaibakov commented on #13929
Just tested this on 2.2-develop branch and it has been fixed there already.
Tested this on 2.2.5 and it has been fixed there.

There is a commit for a reference: https://github.com/magento/magento2/commit/a6afb598e57ec11df51396ef2acadf4ec996da30

If someone still experience the issue, please provide more details

[2018-08-11 02:41] #13929 closed, assigned to nobody

[2018-08-11 03:02] maximbaibakov commented on #11726
Hi @miguelbalparda

Just tested this on 2.2.5 and 2.2-develop branch - can't reproduce the issue.

Also, can't see the reason, why do we need to cache a page based on User-Agent. Ideally, the cache should not be depended on User-Agent.

Is it still reproducible for anyone? Or we can close it?

Regards,
Maxim

[2018-08-11 03:33] pavelshulga commented on #17416
@dannynimmo

Can you please advise on how were you testing the issue (any custom theme magnifier specific customisations)? I was trying to reproduce the problem reported using 2.2-develop (2.2.6) using Luma theme with enabled magnifier (Safari 11.1.2).

[2018-08-11 03:56] pavelshulga commented on #17388
I'm working on #cd-balance

[2018-08-11 03:59] maximbaibakov opened #17514 "Add Australian regions"
**Summary of the issue**
Magento does have some country regions by default and they are showing in dropdown when you select a country.
However, if your country does not have regions defined, then you will see just a text field.

In particularly, Australian regions are missed.

### Preconditions
1. Magento 2.2.5

### Steps to reproduce
1. Add product to cart
2. Go to checkout
3. Select Australia as

[2018-08-11 03:59] magento-engcom-team commented on #17514
Hi @maximbaibakov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-11 04:57] pavelshulga commented on #17388
The issue reported was extensively investigated using 2.2-develop (2.2.6), successfully reproduced.
In terms of user expectation, the behaviour is weird but it aligns with the source code.

The import/export functionality is delivered via Magento_ImportExport module which consists of all basic models with common logic and attribute filtering.
Magento also has entity specific modules for all major

[2018-08-11 05:58] prakashsaran commented on #3909
hi any body sugest me how to fix out this error
Your Magento instance replied with an error when we tried to connect: 'SOAP-ERROR: Parsing WSDL: Couldn't load from 'https://www.romoch.com/index.php/api/v2_soap/index/?wsdl=1'.

[2018-08-11 06:01] pavelshulga commented on #2228
I'm working on #cd-balance

[2018-08-11 06:47] joshirohit100 opened #17522 "Dispatch event once catalog price rule indexer finishes."
For the catalog price rule indexer, there should be a way for the user/dev to hook into when indexing is done.

Right now  **\Magento\CatalogRule\Model\Indexer\IndexBuilder::saveRuleProductPrices()** is the place when catalog price rule indexing is complete and price is updated in DB.

There are few scenarios where info required once indexing is done.
**Example** - send the product price info to t

[2018-08-11 06:47] magento-engcom-team commented on #17522
Hi @joshirohit100. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-11 07:01] maximbaibakov opened #17523 "Unable to send the cookie. Maximum number of cookies would be exceeded"
### Preconditions
1. Magento 2.2.5

### Steps to reproduce
1. Open desktop browser Firefox
2. Navigate to about:config
3. Find "dom.storage.enabled" option and change to "false"
4. Navigate to Magento 2.2.5 (frontend), open developer tools >> Storage >> Cookies and look at list (there are 33 cookies)
5. Duplicate tab (open the same page in another page) - you will have 43 cookies.
6. Try to duplic

[2018-08-11 07:01] magento-engcom-team commented on #17523
Hi @maximbaibakov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-11 07:10] magento-engcom-team commented on #15028
Hi @yspeedwicked. Thank you for your report.
The issue has been fixed in magento/magento2#17475 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [51456f73b359fb519ece91c17449c50aa085dd23](https://github.com/magento/magento2/commit/51456f73b359fb519ece91c17449c50aa085dd23)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-11 07:52] akashkarev commented on #16069
Looks like the problem is caused by vendor/magento/module-configurable-product/Plugin/Model/ResourceModel/Attribute/InStockOptionSelectBuilder.php

Especially by the condition below
`$select->joinInner(
            ['stock' => $this->stockStatusResource->getMainTable()],
            'stock.product_id = entity.entity_id',
            []
        )->where(
            'stock.stock_status = ?',

[2018-08-11 10:15] orlangur commented on #17523
50 cookies limit is totally fine and RFC-compliant. The real issue which needs to be fixed is https://github.com/magento/magento2/issues/17195.

[2018-08-11 10:15] #17523 closed, assigned to nobody

[2018-08-11 10:33] gelanivishal commented on #17452
@Orstio I didn't replicate this issue while placing order and save a new address on address book, Please check screenshot.
Please try again and If possible then please create a video.

![2018-08-11_16-01-17](https://user-images.githubusercontent.com/12389799/43990902-ddf342f8-9d7f-11e8-8228-8facbce93178.jpg)
![2018-08-11_16-00-43](https://user-images.githubusercontent.com/12389799/43990903-dea91aa

[2018-08-11 10:55] adjogic commented on #13971
I was working on this issue but didn't finish.
The issue is not limited to the grid but is on the filter as well.

I think this should be changed in a way that there is a different source for select on filter and then take the same approach for grid. I was trying to update UI Component for customer listing but had some issues with it.

### Problems
There is another thing to think about here, what

[2018-08-11 11:38] Yogeshks commented on #17442
Hi @patoch14,
Do not pass the string value to `getCreatedAtFormatted` method like `short`, `medium`, `long` and `full`  because it takes integer value like 0,1,2,3.

Use constant of PHP's `IntlDateFormatter` class to pass value.
For example,
`$order->getCreatedAtFormatted(\IntlDateFormatter::SHORT);`

http://php.net/manual/en/class.intldateformatter.php

**IntlDateFormatter::FULL (integer)**
- Com

[2018-08-11 12:50] csimby opened #17531 "Attributes from previous attribute set remain "attached" to the product after attribute set is changed."
1. Magento 2.2.5
2. PHP 7.2

### Steps to reproduce
1. Set up a few attribute sets with some dropdown attributes for layered navigation with Values requierd set to YES.
2. Create a simple product with an attribute set, other then default.
3. After the product is saved change the attribute set to default. Save the changes.
4. Checking the front-end you will notice that the filters are still present

[2018-08-11 12:50] magento-engcom-team commented on #17531
Hi @csimby. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-11 13:15] csimby commented on #17531
@magento-engcom-team give me 2.2.5 instance

[2018-08-11 13:15] magento-engcom-team commented on #17531
Hi @csimby. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-11 13:16] magento-engcom-team commented on #17531
Hi @csimby, here is your [Magento instance](https://i-17531-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17531-2-2-5.engcom.dev.magento.com/admin](https://i-17531-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-11 13:18] scoops87 opened #17535 "Order status CANCELLED, but payment received normally Sagepay"
<!---
**Summary**
     -  A guest customer paid through sagepay successfully, but when we checked in backend it shows order status as Cancelled. We use Ebizmarts Sage Pay Suite 1.2.2.  The customer hasn't contacted us for any issues.
     - **Information on your environment**
Magento  2.2.3,
     **- Steps to reproduce**
We tried with a test order to make payment and see what would happen, but whe

[2018-08-11 13:19] scoops87 opened #17536 "Order status incorrect"
<!---
**Summary**
     -  A guest customer paid through sagepay successfully, but when we checked in backend it shows order status as Cancelled. We use Ebizmarts Sage Pay Suite 1.2.2.  The customer hasn't contacted us for any issues.
     - **Information on your environment**
Magento  2.2.3,
     **- Steps to reproduce**
We tried with a test order to make payment and see what would happen, but whe

[2018-08-11 13:22] scoops87 opened #17537 "Magento order status incorrect after successful payment"
### Preconditions

1. magento 2.2.3
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-08-11 13:23] #17535 closed, assigned to nobody

[2018-08-11 13:23] #17536 closed, assigned to nobody

[2018-08-11 13:26] csimby commented on #17531
I can confirm, that the issue can be reproduced on vanilla Magento instance .

[2018-08-11 13:49] Orstio commented on #17452
Oh, I see, you did it on the frontend, and I didn't specify it's in the admin panel.

[2018-08-11 14:02] melnikovi commented on #15245
Thank you for trying reproduce this issue on 2.2.5 and confirming that it's fixed @hostep.

[2018-08-11 17:38] prakashpatel07 commented on #17465
Issue is not available into 2.2-develop and 2.3-develop but for the quick fix in 2.2.4 and 2.2.5 Magento version please find below code.

/vendor/magento/module-bundle/Model/ResourceModel/Option.php

Replace with below function

protected function _afterSave(\Magento\Framework\Model\AbstractModel $object)
    {
        parent::_afterSave($object);

        $condition = [
            'option_id = ?

[2018-08-11 17:49] Cristalline opened #17541 "unstalling somethig from github and afterwards removing gives huge problems"
I was in search for a banner slider and found : emizentech/magento2-banner-slider.
After installing I saw this was far from ideal.
So I did install this item.

Afterwards when I now want to install something else i do get this error:
Command "update" failed: Loading composer repositories with package information
Failed to clone the git@github.com:emizentech/magento2-banner-slider.git repository, t

[2018-08-11 17:49] magento-engcom-team commented on #17541
Hi @Cristalline. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-11 18:39] mygovernance commented on #6179
sudo php magento/bin/magento setup:di:compile -vvv
Compilation was started.
Application code generator... 3/7 [============>---------------]  42% 5 secs 168.0 MiB

  [ReflectionException]
  Class \kuber\utility\KuberPaymentTransactionCallback does not exist

Exception trace:
 () at /var/www/html/merakuber/magento/setup/src/Magento/Setup/Module/Di/Code/Scanner/PhpScanner.php:177
 ReflectionClass->_

[2018-08-11 21:08] arnoudhgz commented on #13948
@magento-engcom-team give me 2.2.5 instance.

[2018-08-11 21:08] magento-engcom-team commented on #13948
Hi @arnoudhgz. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-11 21:09] magento-engcom-team commented on #13948
Hi @arnoudhgz, here is your [Magento instance](https://i-13948-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-13948-2-2-5.engcom.dev.magento.com/admin](https://i-13948-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-11 21:10] arnoudhgz commented on #11726
I second @maximbaibakov on this, you should not want page cache per user-agent. Can this ticket be closed?

[2018-08-11 21:50] wgohier opened #17544 "No delete button to delete an attribute set"
### Preconditions
1. Magento 2.2.5 CE
2. PHP 7.1.9
3. MySQL : MariaDB  10.0.32-MariaDB-0+deb8u1 - (Debian)
4. Data migration from 1.9.3.6 to 2.2.5 using data-migration plugin

### Steps to reproduce
1. Go in administration
2. Edit an existing attribute set (it does happen for only one attribute set, otherwise everything is OK)
3. No delete button display (if i try to sneak using an delete url hand

[2018-08-11 21:50] magento-engcom-team commented on #17544
Hi @wgohier. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-11 22:04] skilar commented on #10454
@josh-carter Would love to see the extension if you have a chance to upload it. It would relieve so much headache with this small but significant issue.

[2018-08-11 23:08] zexperto opened #17545 "Search Synonyms [Cannot edit the row after you add long text to the ' Synonyms' field]"
### Preconditions

1. You can not edit the Synonyms group if you add more that 400 chars

### Steps to reproduce

1. Add new Synonyms Group
2. Add more that 400 chars in the Synonyms field
3. Click on save.
4. Go back to the Grid.
5. click on the "select" in Action column.
6. No menu will appear

### Expected result

1. When you click on "select" in the action column you have to see a menu

### Ac

[2018-08-11 23:08] magento-engcom-team commented on #17545
Hi @zexperto. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-11 23:29] #17544 closed, assigned to nobody

[2018-08-12 05:09] vtransy commented on #13940
You can follow this post to avoid permission denied
http://mrvts.wordpress.com/2018/08/11/how-to-develop-magento-2-with-nginx-without-sudo-chmod-777-for-var-pub-and-generation-directory/

[2018-08-12 07:12] brekz opened #17546 "In Bundle product order “item status” doesn't show"
Anybody know, why in Bundle Product order, simple products doesn't has "item status" information/status? It's quite essential to know if this product is ordered, or backordered.

Here is screenshot: https://www.dropbox.com/s/t4hbfkwqd72ebbt/Screenshot%202018-08-12%2010.01.40.png?dl=0

[2018-08-12 07:12] magento-engcom-team commented on #17546
Hi @brekz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-08-12 12:07] troublediehard commented on #16427
Any workarounds until Magento 2.3 release?

[2018-08-12 13:34] rajputbbs commented on #17465
Above code gives duplicate entry for store id 0
Better to overwrite the Resource Model
i.e
1. app/code/<NameSpace>/<ExtensionName>/etc/adminhtml/di.xml
<pre>
<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Bundle\Model\ResourceModel\Option" type="<Nam

[2018-08-12 14:15] brekz commented on #14667
Yes, problem is with browser session/cache.

When you (browser) having long session of that page, gallery struggles a lot: https://www.dropbox.com/s/uu62u8aj28dysaa/galleryissuee.mov?dl=0 and you can see when I opening with incognito - gallery loads faster.

[2018-08-12 15:39] arnoudhgz commented on #15059
@TomashKhamlai the re-order part, you did this from the back-end, I assume?

I noticed that after clicking the reorder button the items in the cart are not complete, amount is set, but no price and subtotal....

![image](https://user-images.githubusercontent.com/10864061/44003661-9f162f46-9e56-11e8-90a7-6d29c16331af.png)

[2018-08-12 19:26] zexperto commented on #17545
@magento-engcom-team give me 2.2.5 instance

[2018-08-12 19:26] magento-engcom-team commented on #17545
Hi @zexperto. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-12 19:27] magento-engcom-team commented on #17545
Hi @zexperto, here is your [Magento instance](https://i-17545-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17545-2-2-5.engcom.dev.magento.com/admin](https://i-17545-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-12 19:31] zexperto commented on #17545
Hi @magento-engcom-team, Yes i confirm that i could reproduce the issue on the vanilla Magento instance

![image](https://user-images.githubusercontent.com/2926032/44005648-a2582568-9e44-11e8-926f-c834129053a7.png)

[2018-08-12 20:17] muckee opened #17556 "2.2.5: Admin page stuck in 301/302 redirect loop when HTTPS is enabled, using SSL certificate from Comodo"
### Preconditions
1. Ubuntu 18.04 DigitalOcean droplet
2. Nginx 1.1.4
3. MariaDB 10.1.34 (MySQL 15.1)
4. PHP 7.1 (Using FPM)
5. Redis server 4.0.11

### Steps to reproduce
1. Download Magento 2.2.5 via Composer
2. Install Magento 2.2.5 via CLI using existing database
3. Install SSL certificate.
4. (At this point the website is functioning properly).
5. Enable https on magento frontend and admin.
6

[2018-08-12 20:17] magento-engcom-team commented on #17556
Hi @JoshuaFlood. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-12 20:18] JoshuaFlood commented on #17556
Sorry but I can't reproduce the issue as I don't know how you configure your servers and would not be able to re-configure them if I did.

[2018-08-12 20:34] JoshuaFlood commented on #17556
Also here #10113

But based on their comments, my experience and the age of the post I won't hold out much hope. Perhaps it is best to close this issue and I'll continue stabbing blindly in the dark.

[2018-08-12 20:35] JoshuaFlood commented on #17556
Or, maybe, you could provide an proper explanation of how you create all these vanilla instances for testing, in order that people can replicate them and won't face such tremendous disappointment when attempting to manouver your current docs and build on systems which magento is clearly not fit for.

[2018-08-12 21:41] Shiriaev opened #17559 "Shipping method returns zero amount"
When I get price data from Quote extension attributes and then set this price to method price, getRates returns 0 for this shipping method instead price.

**Preconditions**
Magento CE 2.2.3

**Steps to reproduce**

1. Setup extension attributes:

extension_attributes.xml

[code]

2. Save extension attribute

[code]

3. Get extension attribute in collectRates method:

[code]

**Expected result**

S

[2018-08-12 21:42] magento-engcom-team commented on #17559
Hi @Shiriaev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-12 21:45] chattertech commented on #14667
brekz, I would say the problem exists even in incognito but is made much worse by cache/session storage issue. The same images in an M1 site open instantly, no spinner at all in a fresh browser or not.
I am seriously considering moving back to Magento 1 or to Shopify. Besides annoying customers,  this effects SEO ranking.

[2018-08-12 21:45] Shiriaev commented on #17559
@magento-engcom-team give me {2.2.3} instance

[2018-08-12 21:53] troublediehard commented on #16427
I've described my workaround on the StackExchange https://magento.stackexchange.com/a/238101/28975

[2018-08-12 22:00] snoroozi commented on #14667
Just install the module in this thread.

On Sun, Aug 12, 2018, 5:45 PM chattertech <notifications@github.com> wrote:

[2018-08-12 22:27] chattertech commented on #14667
Thanks for the suggestion snoroozi. I have installed it and the first image loads much more quickly but the rest of the page still stalls by the same amount as the spinner takes to complete loading pre-module. (Cannot scroll on page etc until the loading finishes)

It does not solve the problem but at least does make it appear better.

It is really a strange issue with product pages only because c

[2018-08-12 22:33] AirmanAJK commented on #14667
It isn't "strange". The gallery is based off of a javascript extension that needs to be initialized through RequireJS along with a million other dependencies queued up on the page.

The category page just has plain image tags. Nothing special has to load.

[2018-08-12 23:07] chattertech commented on #14667
OK i get that AirmanAJK.  But why was the same exact page in M1 fully loaded instantly?

[2018-08-12 23:15] AirmanAJK commented on #14667
Magento 1 didn't use RequireJS. I've found it very powerful, but wow does it slow things down client-side. All of the init scripts need to be loaded and executed and there's so many of them. It's done in order as well, so the gallery init script is probably far down.

I understand why they did it from a design perspective, but it came with a hefty penalty.

[2018-08-13 00:33] AirmanAJK commented on #14667
Varnish is irrelevant here as that's only server-side delivery. And any decent computer is going to chug through all that JS very quickly. It's mostly noticeable on mobile. Your site did seem fine on my phone though.

One unrelated small suggestion: use the "redirect to cart page after adding product" option. Our conversions had a noticeable increase after we used that. Some people find the minica

[2018-08-13 00:50] chattertech commented on #12412
@expedicion

Is it just a matter of creating those files in the folders you mentioned?

I am not having any module show after adding the files and folders.

Am i missing something?

Thanks
Jacob

[2018-08-13 00:51] orlangur commented on #16728
This is correct behavior so that static group code may be used in setup scripts or tab templates.

[2018-08-13 00:57] sashas777 commented on #16728
@orlangur

This causes the issue for upgrade scripts when you assign an attribute to attribute group.  Basically you cannot use attribute groups in the setup scripts.

[2018-08-13 01:32] snoroozi commented on #14667
I wasn't implying varnish was loading js, only that the initial site loads
quickly because of cache.

We have used both settings over the years in regards to cart, but to me it
seems more current to not redirect to cart... amazon, etc.  Wish there was
a way to A/B test that reliably.

On Sun, Aug 12, 2018 at 8:34 PM AirmanAJK <notifications@github.com> wrote:

[2018-08-13 06:18] #17537 closed, assigned to nobody

[2018-08-13 06:25] engcom-backlog-nickolas commented on #17541
Hello @Cristalline, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-13 06:25] #17541 closed, assigned to nobody

[2018-08-13 06:36] engcom-backlog-nickolas commented on #17522
Hello @joshirohit100, thank you for your report. You can create plugin for CatalogRule\Model\Indexer\RuleProductPricesPersistor::execute() which called in  \Magento\CatalogRule\Model\Indexer\IndexBuilder::saveRuleProductPrices(). https://devdocs.magento.com/guides/v2.2/extension-dev-guide/plugins.html
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exch

[2018-08-13 06:36] #17522 closed, assigned to nobody

[2018-08-13 06:44] routbiplab commented on #17559
@Shiriaev Did you saved the quote after setting the values

[2018-08-13 06:50] engcom-backlog-nickolas commented on #17508
Hello @scottw-finao, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-13 06:51] dv-denda commented on #16938
I have the same problem with version 2.2.5, I tried with #16461 but it does not work, does anyone have a different view

[2018-08-13 07:00] routbiplab commented on #17461
Since you have made that product using 3 different attributes and hence all are mandatory so you need to select at least one value from each of the attribute which will make a product.

[2018-08-13 08:06] Rutvee123 opened #17564 "Magento 2 inline edit date issues in admin grid with Ui Component"
In magento2 Inline Edit date issues while i edit the record it display current date instead of database date

### Preconditions

Magento version 2.2.3
php 7.0.29
mysqli mysqlnd 5.0.12

### Steps to reproduce

1. So please make any date filed
<column name="date" class="Magento\Ui\Component\Listing\Columns\Date"> <argument name="data" xsi:type="array"> <item name="config" xsi:type="array"> <item nam

[2018-08-13 08:06] magento-engcom-team commented on #17564
Hi @Rutvee123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-13 08:07] Kyle12340 commented on #17440
I have redone the steps yet this is still closed please re-open this

On 8 August 2018 at 12:30, engcom-backlog-andrii <notifications@github.com>
wrote:

--
*Kyle Hunter*
Technical Executive
*T: *01462 262020
*A: *Fairclough Hall // Halls Green // Hertfordshire // SG4 7DP
*W:* www.focus7international.com

[image: Focus7 International.png] <http://www.focus7international.com/>

<http://www.focus7in

[2018-08-13 08:27] rognales commented on #12777
thxxxxx. Spend a day on this.

[2018-08-13 08:29] engcom-backlog-pb commented on #17559
@Shiriaev, you are using Extension Attributes in an incorrect way. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-13 08:29] #17559 closed, assigned to nobody

[2018-08-13 08:57] engcom-backlog-pb commented on #17564
@Rutvee123, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-13 09:04] Rutvee123 commented on #17564
In Magento2.2.4 none any admin grid inline editable date filed exit .

So please make any date filed 👍
`     <column name="date" class="Magento\Ui\Component\Listing\Columns\Date">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="filter" xsi:type="string">dateRange</item>
                    <item name="compone

[2018-08-13 09:13] ghost opened #17565 "Catalog price is not being updated after changes of customer group from admin"
If I am logged in the front area and my <br/>

    customer group is :-  [general]

After that, I create a new customer group [vendor] and create new catalog price rule for vendor type customer and assign 10% discount to vendor group customer.<br/>

Now if I change my customer group from admin <br/> ` general to vendor ` then I am unable to find 10% discount on product price.

I did this action to

[2018-08-13 09:13] magento-engcom-team commented on #17565
Hi @manishg0. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-13 09:24] 2base opened #17566 "Mini cart is not refreshing when user switch the store from one store to another"
### Preconditions

1. Magento2 version 2.1.1
2. I have added a product from Store A and mini cart showing the correct number of items, then I have switched to Store B mini cart is empty. But when I go to https://www.valleyspice.com/checkout/cart and refresh this page, the mini cart is not empty

### Steps to reproduce

1. Add a product from Store A
2. Check the mini cart
3. Switch the store from s

[2018-08-13 09:25] magento-engcom-team commented on #17566
Hi @2base. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-08-13 09:27] sivaschenko opened #17567 "Currency symbol cannot be changed back to default value from admin panel in Single-store mode"
### Preconditions
Set "Enable Single-Store Mode" to Yes" in Stores -> Configuration -> General -> Single-Store Mode fieldset

### Steps to reproduce
1. Login to Admin Panel
2. Go to Stores -> Currency Symbols
3. Change any currency symbol value
4. Save Currency Symbols
5. Change currency symbol back to the default value (or check "Use Standard" checkbox)
6. Save Currency Symbols

### Expected resu

[2018-08-13 09:27] magento-engcom-team commented on #17567
Hi @sivaschenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-13 09:27] angelomaragna commented on #16074
From my investigation, it looks like at the moment the theme is changed, the "custom_design_from" and "custom_design_to" are not updated, so the "POST" content, provides invalid dates.

Once the \Magento\Catalog\Helper\Product\View.php initialise the product layout, it fetches the "design settings".
It calls \Magento\Catalog\Model\Design::getDesignSettings() and then \Magento\Catalog\Model\Design:

[2018-08-13 09:37] simonworkhouse commented on #17378
@orlangur I have been able to determine the cause of the issues that we were experiencing, but updating the query to a REPLACE will not resolve the core issues with the way that the data in the url_rewrite table is managed. It is my opinion that the whole rewrite system is in need of a bit of an overhaul and needs to be thoroughly tested.

Changing the configuration values of "catalog/seo/product_

[2018-08-13 09:37] #17378 closed, assigned to nobody

[2018-08-13 09:43] ihor-sviziev commented on #17556
Hi @JoshuaFlood.
Looks like you implemented 301 redirect by nginx conf, but didn't updated Base URLs for Admin and frontend. As result - Magento tries to redirect to http protocol, and ngins - to https.

Try to remove following line in nginx.conf:
[code]
 and go to admin, change secure URLs to https protocol both for frontend and admin

[2018-08-13 09:50] Nolwennig commented on #12524
Hi @thomashery the PR https://github.com/magento/magento2/pull/13291 is rejected as it, because of a couple of conceptional issues. See the https://github.com/magento/magento2/pull/13291#issuecomment-359743607

[2018-08-13 09:55] engcom-backlog-pb commented on #17567
@sivaschenko, thank you for your report.
You just need to flush cache.

[2018-08-13 10:09] ghost opened #17568 "Embedded translation strategy breaks JS files"
After selecting "Embedded (Translation on Admin side)" as translation strategy and set magento mode in production, customer face an issue of java-script errors on Front side & Admin side.

### Preconditions

1. Magento Version 2.2.* with sample data
2. PHP 7.0

### Steps to reproduce

1. Stores >> Configuration >> Advanced >> Developer Under “JavaScript Settings” Enable “Translation Strategy”.
2.

[2018-08-13 10:09] magento-engcom-team commented on #17568
Hi @emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-13 10:09] mcspronko commented on #17567
@engcom-backlog-pb I wonder, who stands behind the answer about the cache.

[2018-08-13 10:15] engcom-backlog-nickolas commented on #17546
Hello @brekz, thank you for your report. This issue not reproducible on 2.2-develop nor 2.3-develop.
If you'd like to update it, please reopen the issue.

[2018-08-13 10:15] #17546 closed, assigned to nobody

[2018-08-13 10:18] Kyle12340 opened #17569 "Test emails not working"
### Preconditions

1. Using a Mac on Chrome
2. Magento 2 (I think)

### Steps to reproduce

1. Go to content settings
2. abandon cart email
3. Send email

### Expected result

Expected- the emails send's,

1. [Screenshots, logs or description]

### Actual result

Actual- the email doesn't send

1. [Screenshots, logs or description]

[2018-08-13 10:19] magento-engcom-team commented on #17569
Hi @Kyle12340. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-13 10:36] hapdes opened #17570 "1 exception(s): Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceContainer', attribute 'htmlTag': [facet 'enumeration'] The value '' is not an element of the set {'aside', 'dd', 'div', 'dl', 'fieldset', 'main', 'nav', 'header', 'footer', 'ol', 'p', 'section', 'table', 'tfoot', 'ul'}. Line: 1306"
### Preconditions
1. PHP 7.1
2. mysql 5.6.40
3. CENTOS 7.5 standard

### Steps to reproduce
Upgrade magento 2.1 to 2.2.5
goto product page

### Expected result
1. No errors!

### Actual result
1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceContainer', attribute 'htmlTag': [facet 'enumeration'] The value '' is not an element of the set {'aside', '

[2018-08-13 10:36] magento-engcom-team commented on #17570
Hi @hapdes. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-13 10:37] engcom-backlog-pb commented on #17565
@manishg0, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-13 10:40] engcom-backlog-pb commented on #17570
@hapdes , thank you for your report.
Seems like your problem is caused by custom module. Please reopen the issue if it is reproducible on clean Magento 2 installation.

[2018-08-13 10:40] #17570 closed, assigned to nobody

[2018-08-13 10:51] archonkulis commented on #4495
@magento-engcom-team

I'm still able to reproduce the issue. The exact steps from the initial author of the ticket. Create quote through API using /carts/mine POST endpoint passing customer id.

To reproduce it, set some store as a default one. And create the quote for the customer who is assigned to different store.

In the end you will see that it ends up in the following place:

`vendor/magento

[2018-08-13 10:55] engcom-backlog-nickolas commented on #17510
Hello @CNanninga, thank you for your report. I cannot reproduce this issue.
![peek 2018-08-13 13-54](https://user-images.githubusercontent.com/40755810/44027838-8d9fac9c-9f00-11e8-986d-a60b8283d89c.gif)
Could you please correct my steps, or add more details?

[2018-08-13 11:04] xpedicion commented on #12412
@chattertech
Yes, indeed. You will need more files to have a complete module. I'll attach a full one here. You need to extract the zip to app/code or upload the content there, respectively. It includes the needed subfolders. You should delete the files and folders that you created, though.
[UrlPathFix.zip](https://github.com/magento/magento2/files/2282697/UrlPathFix.zip)

[2018-08-13 11:12] engcom-backlog-nickolas commented on #17569
@Kyle12340, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-08-13 11:12] #17569 closed, assigned to nobody

[2018-08-13 11:18] prakashsaran commented on #10048
hi guys
anybody tell me how to magento 2 admin  in create text field with default value ?

i try with following code but its doesn't work
$fieldset->addField(
		'current_admin',
		'hidden',
		['name' => 'current_admin', 'values' => $current_admin]
		);

[2018-08-13 11:22] #16168 closed, assigned to nobody

[2018-08-13 11:26] Kyle12340 commented on #17569
Why is this being closed! you havnt done anything

On 13 August 2018 at 12:12, engcom-backlog-nickolas <
notifications@github.com> wrote:

--
*Kyle Hunter*
Technical Executive
*T: *01462 262020
*A: *Fairclough Hall // Halls Green // Hertfordshire // SG4 7DP
*W:* www.focus7international.com

[image: Focus7 International.png] <http://www.focus7international.com/>

<http://www.focus7international.com

[2018-08-13 11:30] magento-engcom-team commented on #13535
@ivoinov, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-13 11:32] hapdes commented on #17570
@engcom-backlog-pb
all custom modules are disabled now getting below Exception

1 exception(s):
Exception #0 (LogicException): Front controller reached 100 router match iterations

Exception #0 (LogicException): Front controller reached 100 router match iterations
#0 /home/km2ca05/public_html/firearmsoutlet/vendor/magento/framework/Interception/Interceptor.php(58): Magento\Framework\App\FrontContr

[2018-08-13 11:33] gwharton commented on #12273
Any idea when we are going to get a release of Magento that supports PHP 7.2

Ubuntu 17.10 is now end of life, so no more updates without upgrading to Ubuntu 18.xx which comes with 7.2 so people running Magento on Ubuntu 17.10 are stuck without any security patches until Magento supporting php 7.2 is released.

[2018-08-13 11:34] sidolov commented on #17289
Hi @JoshuaFlood. Thank you for your report.
The issue has been fixed in magento/magento2#17496 by @ronak2ram in 2.1-develop branch
Related commit(s):
 - [80b41cf73f2b5cd46ef9bdc28874e0334344e0c6](https://github.com/magento/magento2/commit/80b41cf73f2b5cd46ef9bdc28874e0334344e0c6)
 - [a19df73c6ea89c6806d9413fee65882ba8e824c6](https://github.com/magento/magento2/commit/a19df73c6ea89c6806d9413fee6588

[2018-08-13 11:57] engcom-backlog-pb commented on #17566
@2base , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-13 11:57] #17566 closed, assigned to nobody

[2018-08-13 12:00] engcom-backlog-andrii commented on #17545
@zexperto , thank you for your report.The fix for this issue is already available in the develop branch. See screenshot

![synonym_group](https://user-images.githubusercontent.com/41946904/44030476-99343114-9f09-11e8-881e-e0110b49f0d2.png)

[2018-08-13 12:00] 2base commented on #17566
Hi,

You can check this url https://www.valleyspice.com/
Add a product from this store
Check the mini cart
Switch the store from Farmspice store to Wholesale store
Check the mini cart, it is empty

[2018-08-13 12:15] #17545 closed, assigned to nobody

[2018-08-13 12:26] crtl opened #17576 "Cannot create preference for \Magento\Rule\Model\Condition\AbstractCondition"
### Preconditions
1. Magento 2.2.4

### Steps to reproduce
1. in the di.xml create a preference for \Magento\Rule\Model\Condition\AbstractCondition
2. Run setup:di:compile

### Expected result
1. Preferenced class should be used

### Actual result
1. \Magento\Rule\Model\Condition\AbstractCondition is used instead.

[2018-08-13 12:26] magento-engcom-team commented on #17576
Hi @crtl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-08-13 12:33] oleksandr-butenko commented on #13269
hi
We have the same issue with comments in order.
The version of Magento is 2.2.5
Admin user can write a comment with & for example.
Then, during load of the order page, we will have errors about using &.

Have you fixed this issue in one the next releases?
Maybe there is a patch to fix it?

Thanks.

[2018-08-13 12:41] engcom-backlog-pb commented on #8640
We were not able to reproduce this issue. If you'd like to reopen it, please provide obvious steps to reproduce.
![1](https://user-images.githubusercontent.com/40756187/44032279-556a6cd6-9f0f-11e8-8f4e-fd960c736ded.gif)

[2018-08-13 12:41] #8640 closed, assigned to nobody

[2018-08-13 12:42] joost-heijden commented on #10454
@josh-carter, yea looking forward to use your extension.

[2018-08-13 12:51] engcom-backlog-pb commented on #17576
@crt, thank you for your report.
You can determine preferences only for Interfaces. Please refer to [Magento 2 documentation](https://devdocs.magento.com/guides/v2.2/extension-dev-guide/build/di-xml-file.html#abstraction-implementation-mappings).

[2018-08-13 12:51] #17576 closed, assigned to nobody

[2018-08-13 12:54] JoshuaFlood commented on #17556
Nope. Still the same problem.
Deleted that line in my nginx config.
Set URLs to https on both secure and unsecure (which I don't want to do, because magento should be able to handle its own default configuration).
Cleared caches of all browsers and executed CCleaner to be safe.
Tested on both firefox and chrome, incognito mode with code inspector open and disable caching set to true.
Still getting

[2018-08-13 12:56] JoshuaFlood commented on #17556
I mean, I already configured magento itself to redirect to HTTPS before you said that... and I can tell from the frontend that the logic I applied to the configuration makes sense, but magento is doing something with it that does not make sense, else I should see the same result on the frontend as the admin panel.

[2018-08-13 13:00] JoshuaFlood commented on #17556
For future reference, I have added this issue as a [question on stackexchange](https://magento.stackexchange.com/questions/238105/magento-2-2-5-admin-login-page-redirect-loop-301-302-after-installing-ssl-and-e).

[2018-08-13 13:08] crtl commented on #17576
Ive replaced it with a plugin but it still doesnt work.

vendor/module/etc/di.xml
<type name="Magento\CatalogRule\Model\Rule\Condition\Product">
        <plugin
                name="Vendor_Module_Plugin_CatalogRule_ProductCondition"
                type="Vendor\Module\Plugin\CatalogRule\ProductCondition" />
    </type>

[2018-08-13 13:12] bal0gtibi commented on #16722
Hi,
Did you manage to solve this? I'm having the same issue:
- Magento CE 2.2.3
- Apache 2.4
- Mysql 5,7
- PHP 7.0

Thanks.

[2018-08-13 13:13] arnoudhgz commented on #7627
@magento-engcom-team @sidolov  Am I correct that this is solved in (at least) 2.2.5? I don't have this issue, when browsing the catalog pages the cookie gets updated properly.

[2018-08-13 13:30] bal0gtibi commented on #16722
Hi DigiBlooD,
No, mine is a vps I'm renting for production, and there is a virtualized one with almost the same config at my home PC, where I can try a few things out. It seems to me that the error is either on FB side or something with the FB app itself. It would be good to have some developer attention on this, I've seen that some folks want this module to be removed by default in newer installa

[2018-08-13 13:48] orlangur commented on #16728
@sashas777 what kind of issue?

[2018-08-13 13:52] DigiBlooD commented on #16722
I read somewhere else that one could try to delete the consumer key and secret so it regenerates since the keys dont work manually ether but I haven't had the time to test that yet.

Keep me update if you find a solution! I'll do the same.

[2018-08-13 14:04] crtl opened #17578 "Products stock status is not updated 2.2.4"
### Preconditions
1. Magento 2.2.4

### Steps to reproduce
1. Decrease product quantity to 0
2. Save product, Stock is now changed to `Out of Stock`
3. Set quantity to smth. higher than 0
4. Save

### Expected result
1. Product should be shown as "In Stock" in the frontend

### Actual result
1. Product is still shown as out of stock
2. Even after multiple days product is not shown in stock

The pr

[2018-08-13 14:04] magento-engcom-team commented on #17578
Hi @crtl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-08-13 14:08] JoshuaFlood commented on #17556
@ihor-sviziev why is it a 'non-issue'? Surely the fact that the standard configuration does not work means that it is more of an issue?

[2018-08-13 14:12] JoshuaFlood commented on #17556
Do you know the reason that frontend and admin pages behave differently? They are served from the same location so I don't see why one would loop and the other wouldn't. Perhaps if you could point me in the right direction, i.e. explain what you understand about the problem I'm having, then I can work out more specifically what I am actually having problems with, then we can troubleshoot more effe

[2018-08-13 14:24] #17565 closed, assigned to nobody

[2018-08-13 14:34] sivaschenko commented on #17567
Thank you! @miguelbalparda

[2018-08-13 14:35] engcom-backlog-pb commented on #17567
@sivaschenko, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![1](https://user-images.githubusercontent.com/40756187/44038304-2f70b48a-9f1f-11e8-92f1-c772bc2af8b2.gif)

[2018-08-13 14:37] stephansteiner commented on #13866
Still an issue in 2.2.5 - still no patch available?

[2018-08-13 14:54] ghost opened #17579 "Typo in vendor/magento/module-catalog/Block/Adminhtml/Product/Helper/Form/Gallery.php"
Typo in file vendor/magento/module-catalog/Block/Adminhtml/Product/Helper/Form/Gallery.php
setMegiaGallery should be setMediaGallery on line 122

### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. Observe vendor/magento/module-catalog/Block/Adminhtml/Product/Helper/Form/Gallery.php

### Expected result

1. setMediaGallery method called in line 122

### Actual result

1. setMe**g**iaGa

[2018-08-13 14:54] magento-engcom-team commented on #17579
Hi @adamkingfisher. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-13 14:54] AirmanAJK commented on #13866
I wouldn't expect anything anytime soon. I used di.xml to override the Match.php file to replace the loop near the bottom of the prepareQuery function with the following:

[code]

The elseif statement will give increased relevance to exact matches, while decreasing relevance for partial matches. As always, test it like crazy if put into production.

[2018-08-13 14:58] sivaschenko commented on #17567
Sorry, I missed one important precondition: this is **single-store mode** issue. Title and description updated accordingly.

[2018-08-13 15:05] sivaschenko commented on #17567
Here is a screen recording of what acvtually happens:
![save-currency-symbol](https://user-images.githubusercontent.com/2028541/44040216-a04ad530-9f12-11e8-9755-aaf07cc7917a.gif)

[2018-08-13 15:08] JoshuaFlood commented on #17556
@ihor-sviziev do you have some prior understanding of this issue? Do you know if there is any change that can be made to the nginx sample config?

This problem didn't occur until I actually installed an SSL certificate. I've also noticed that removing the 301 redirect seems to make the connection more volatile. Firefox seems to reload the page intermittently and redirect another 20 or so times if

[2018-08-13 15:09] engcom-backlog-pb commented on #17578
@crtl, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![1](https://user-images.githubusercontent.com/40756187/44040448-fea137e4-9f23-11e8-9ea2-c85da67ffacb.gif)

[2018-08-13 15:10] adi3009 commented on #13751
@adampmoss thanks for your suggestion, extending from Magento\Eav\Model\Entity\Attribute\Source\Table solves thus issue, however the attribute is not filterable, i.e. does not appear in layered navigation when mysql backend is used for search.

[2018-08-13 15:15] engcom-backlog-pb commented on #17567
@sivaschenko, thank you for an update.
We've acknowledged the issue and added to our backlog.

[2018-08-13 15:19] josh-carter commented on #10454
@joost-heijden @skilar Apologies for the delay - the extension is at https://github.com/interjar/configurable-child-visibility

Now, its not going to do absolutely everything you might need but it will do the majority of things. Also, it does rely on the Display out of Stock Products to be set to Yes.

If you want to show stuff like strikethroughs through swatches etc. You'll need to (or get you'r

[2018-08-13 15:25] xpedicion commented on #15201
Also, the stock status column should not be labeled "Quantity".

[2018-08-13 16:04] JoshuaFlood commented on #17556
I've just noticed that http simply isn't redirecting to https. When I type either url into the address bar I still get the redirect loop. I've just checked all the settings in core_config_data and they are correct. I executed all the commands to re-deploy magento again and rebooted my server, just to be sure. Cleared all the browser caches again, ran in incognito mode with caching disabled and sti

[2018-08-13 16:30] ScoFoUK commented on #15433
@bedroomathletics - I had this problem when changing attribute sets too. I'm using 2.2.5. It turns out it only happens when changing to an attribute set that has attributes in a different group to the attribute set on which it was based.

**Steps to reproduce:**
Create attribute set 'new attribute set' based on 'default'.
Within 'new attribute set' I can create a new group 'new group'
Within 'new

[2018-08-13 17:54] zexperto commented on #17545
That's perfect , Thank you

[2018-08-13 18:18] JoshuaFlood commented on #12298
@al1357 can you confirm whether this will impact the braintree module's functionality at all? I use it in my setup so don't want to try this if it's going to disable use of the module. TIA!

[2018-08-13 18:39] JoshuaFlood commented on #17556
@ihor-sviziev

I have just got it working, but there's a problem.

I looked at app/etc/env.php and noticed that, alongside the usual base, media, static etc. entries that are found within system>web>... in env.php, there was another entry at the bottom of the file with just the base urls, both set to http.

Although they are duplicate entries, I didn't want to delete them because I'm not sure why

[2018-08-13 18:47] JoshuaFlood commented on #17556
Ok I just inserted the line `return 301 https://$server_name$request_uri;` back into my nginx config for port 80 and everything is working as it should. Accessing 'http://www.example.com/' redirects to 'https://www.example.com/' and 'http://www.example.com/admin/' redirects to https://www.example.com/admin' without any loops. There is obviously still an issue with the magento software, but my own

[2018-08-13 19:05] DrewML commented on #15156
Hey all. I'd like to see us land a fix for this to mitigate the current risks. Some comments:

1. We're not quite ready to upgrade to jQuery 3.x yet. This upgrade will likely break a decent number of custom themes and extensions, and we'd like to plan a migration strategy to eliminate as much pain as possible.

2. We should avoid getting into the habit of modifying any vendored files, as it become

[2018-08-13 19:39] kirmorozov commented on #15156
@DrewML Oh come one, you told me that back in Milan, in April.
PR for jQuery 3 https://github.com/magento/magento2/pull/15531 is open almost 3 months.
There are 3 patches in total to make Magento compatible with jQuery 3, all mentioned as part of https://github.com/magento/magento2/issues/13685

P.S. 3 months is enough time for vendors to patch code, if you give notice.
Production systems will be

[2018-08-13 20:09] DrewML commented on #15156
@kirmorozov I'm not strictly against an eventual upgrade to jQuery 3, but for a security fix I want the minimal amount of changes necessary so it can be shoved into a release and moved along.

I'm not involved in the current processing of those 3 PRs you have mentioned, but it's likely there are higher priority items that are being addressed at the moment.

[2018-08-13 20:10] rqsakai opened #17580 "Error on Multi-store checkout success page"
### Preconditions
1. Magento 2.2.5
2. Multistore (more than 2 stores in the same website)

### Steps to reproduce
1. Make an order on store A with user A
2. Make an order on store B with user B
3. Make an order on Store C with user C
*Make sure carts are different products  (to make easier to see the error)

### Expected result
In this case, you should see you order information on your custom succ

[2018-08-13 20:10] magento-engcom-team commented on #17580
Hi @rqsakai. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-13 20:59] cloverbox commented on #12298
I can tell you that it should not, but if you have a test suite to run
against it I would. I have not had any problems with it but have often and
mysteriously had to manually reconfigure the brain tree settings.

On Mon, Aug 13, 2018 at 2:19 PM, Joshua Flood <notifications@github.com>
wrote:

[2018-08-13 21:00] cadencelabs-master commented on #15156
@DrewML I like your idea - only concern would be that the preFilter code should run immediately after jQuery is included without the possibility of any other code running before it. I assume you've done the research to ensure that base file is the right location?

[2018-08-13 21:13] al1357 commented on #12298
@JoshuaFlood sorry, the module is not is use on our installation so I can't tell.

[2018-08-13 22:43] DrewML commented on #15156
@cadencelabs-master Yeah, so the order of execution is roughly:

1. `require.js` runtime loads (sync)
2. `mixins.js` loads (sync)
3. `requirejs-config.js` loads (sync)
	a. First call to `require.config()` in `requirejs-config.js` executes (which, because of the merging, will be the theme module's `requirejs-config.js` first)

Everything happens synchronously so it should be the correct order unles

[2018-08-14 01:21] simonworkhouse opened #17582 "./bin/magento config:show fails with a fatal error"
The ./bin/magento config:show command fails with a fatal error after running ./bin/magento app:config:dump
Similar issue reported previously https://github.com/magento/magento2/issues/16654

### Preconditions

1. Magento 2.2.5
2. PHP 7.1.20
3. MySQL 5.7.23

### Steps to reproduce

1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition {install dir}

[2018-08-14 02:07] simonworkhouse opened #17583 "Category URL rewrites not generated for new stores"
When a new website/store is created URL rewrites are only generated for the new store if a category's url_key is updated.
There doesn't appear to be any mechanism to re-generate these URL rewrites for a store, and they also don't take into account any changes to the "catalog/seo/category_url_suffix" configuration value.

### Preconditions

1. Magento 2.2.5
2. PHP 7.1.20
3. MySQL 5.7.23

### Steps

[2018-08-14 02:07] magento-engcom-team commented on #17583
Hi @simonworkhouse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-14 02:22] simonworkhouse opened #17584 "Exporting product data generates a CSV that doesn't pass the import check process"
From an clean install with sample data deployed, if you export product data via "System/Data Transfer/Export" then immdediately try to import it using "System/Data Transfer/Import" it fails to pass the initial data validation checks.
The error received is:
1. Options for downloadable products not found in row(s): 46, 47, 48, 49, 50, 51

### Preconditions

1. Magento 2.2.5
2. PHP 7.1.20
3. MySQL 5.

[2018-08-14 04:14] simonworkhouse opened #17585 "Category URL rewrites not generated after changes to "catalog/seo/category_url_suffix", "catalog/seo/product_url_suffix" or "catalog/seo/product_use_categories""
When updating the values of "catalog/seo/category_url_suffix", "catalog/seo/product_url_suffix" or "catalog/seo/product_use_categories" the entries in the url_rewrite table aren't generated except when a categories url_key is updated.
There doesn't appear to be any mechanism to re-generate these URL rewrites when these configuration values change.

### Preconditions

1. Magento 2.2.5
2. PHP 7.1.20

[2018-08-14 04:14] magento-engcom-team commented on #17585
Hi @simonworkhouse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-14 04:24] simonworkhouse opened #17586 "URL rewrite generation has a number of significant issues"
There are a number of conditions where the entries in the url_rewrite table can conflict sometimes silently failing to update the rewrites, sometimes showing links to unexpected conflicts and sometimes linking to conflicts that do not exist.

### Preconditions

1. Magento 2.2.5
2. PHP 7.1.20
3. MySQL 5.7.23

### Steps to reproduce

#### Initial setup
1. composer create-project --repository-url=htt

[2018-08-14 04:30] simonworkhouse opened #17587 "Typo in Magento\Cms\Model\Wysiwyg\Images\Storage function resizeFile($source, $keepRation = true)"
The parameter $keepRation should be called $keepRatio

### Preconditions

1. Magento 2.2.5

### Steps to reproduce

Look at the resizeFile function on line 572 of the Magento\Cms\Model\Wysiwyg\Images\Storage class.

### Expected result

The parameter $keepRation should be $keepRatio

### Actual result

The parameter is called $keepRation

[2018-08-14 04:30] magento-engcom-team commented on #17587
Hi @simonworkhouse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-14 04:47] DanielRuf commented on #15156
I thought there was no upstream patch? Also wouldn't break this some things.

And I guess this should be done with `patch`, `patch-package` or any other patch solution - these tools are meant for this.

This here is just some "workaround" to fix it somehow.
And didn't we change jquery.js so this vendored is already different from the original one?

[2018-08-14 04:49] DanielRuf commented on #15156
Also I think this can only land in 2.3 as it will break many things.

[2018-08-14 04:51] archonkulis commented on #16758
I can also reproduce the same issue. At first, I thought the issue is because I had set different URLs for different store views ( although even this worked on 2.2.3 ), but I tried also with the same URLs for different store views and still was redirected to the homepage. The client says it wasn't like this on 2.2.3.. c'mon, guys. Minor upgrade and he reported a few bugs already.

[2018-08-14 04:53] simonworkhouse opened #17588 "Magento\CatalogImportExport\Model\Import\Product\CategoryProcessor Failed categories aren't removed from the categories returned by upsertCategories"
The function upsertCategories may return a category id that is no longer present in the DB as upsertCategory on line 138 of Magento\CatalogImportExport\Model\Import\Product\CategoryProcessor fetches the category id from the local class cache ($this->categories) of the available categories.
This causes the import to fail if the category was inserted, added to the cache and then removed from the DB

[2018-08-14 04:53] magento-engcom-team commented on #17588
Hi @simonworkhouse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-14 05:15] simonworkhouse commented on #17378
@orlangur See https://github.com/magento/magento2/issues/17586 for the outline of a number of scenarios where the URL rewrite generation has issues.

[2018-08-14 05:17] archonkulis commented on #2786
Same on 2.2.5

[2018-08-14 05:39] simonworkhouse opened #17589 "CMS block search doesn't do partial matches"
When searching for blocks in the admin panel under "Content/Blocks" no results are displayed for partial matches for either the block title or identifier.
Although title will match for whole word matches.

### Preconditions

1. Magento 2.2.5
2. PHP 7.1.20
3. MySQL 5.7.23

### Steps to reproduce

1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition

[2018-08-14 05:39] magento-engcom-team commented on #17589
Hi @simonworkhouse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-14 07:09] engcom-backlog-andrii commented on #14542
@ferrazzuk , we are closing this issue due to inactivity.
If you'd like to updated, please reopen the issue.

[2018-08-14 07:09] #14542 closed, assigned to nobody

[2018-08-14 07:53] PitzyRo commented on #15490
@CompactCodeEU thanks. your module works great! is there any solutions to show full product path (from home). Now is show Home > Product name. instead Home > Category > Product Name.

[2018-08-14 08:08] ihor-sviziev commented on #17556
@JoshuaFlood I see that it was your configuration issue. Wasn't it?

[2018-08-14 08:14] TomashKhamlai commented on #15059
@arnoudhgz, yes, I did it from the back-end.
The problem with zero prices is also present in the checkout when Customer adds products to the Cart using Web API.

[code]
Login as customer "username":"yhiteca@gmail.com","password":"SuperPassword1" and check it out.

[2018-08-14 08:30] CompactCodeEU commented on #15490
@PitzyRo Do you have this problem also when you navigate to a product trough your category?

[2018-08-14 08:41] engcom-backlog-nickolas commented on #16289
Hello @EBotha1, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-14 08:41] PitzyRo commented on #15490
@CompactCodeEU No. Only when i click on product from homepage (like new products or featured products).  Thank you!

[2018-08-14 08:46] engcom-backlog-pb commented on #17585
@simonworkhouse, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-14 08:57] engcom-backlog-andrii commented on #17531
@csimby , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-14 09:02] jokeputs commented on #15245
@melnikovi, yes the upgrade to 2.2.5 fixed the issue I had with the home pages.

[2018-08-14 09:03] RomanMichak opened #17591 "Category name translated twice"
Category title which has translations for every store, translated one more time from I18n files on category view page. So in situation when we have similar words in different language it could be translated twice.
Example:
en_US | nn_NO
------- | --------
Moped | Scooter
Scooter | Sparkesykkel

So category "Moped" on store nn_NO displayed as "Sparkesykkel" on category view page. Because it alredy

[2018-08-14 09:04] magento-engcom-team commented on #17591
Hi @RomanMichak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-14 09:13] sabl0r opened #17592 "Mass attribute update fails with E_WARNING"
### Preconditions
Magento 2.2.5
PHP 7.1.20

### Steps to reproduce.
1. Add some values to «Catalog» → «Inventory» → «Product Stock Options» → «Minimum Qty Allowed in Shopping Cart».
2. Flush cache.
3. Go to the Catalog => Products
4. Select some products in the list
5. Select "Update attributes" in the action dropdown

### Expected result
The form to update all available attributes should be shown

[2018-08-14 09:13] magento-engcom-team commented on #17592
Hi @sabl0r. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-14 09:16] engcom-backlog-pb commented on #17592
@sabl0r, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2018-08-14 09:46] magento2dev commented on #9186
Does anyone developed a fix for this ?
Thanks !

[2018-08-14 09:49] ndlinh commented on #8631
This problem can be reproduced by using a proxy to modify input value (eg: burp suite) that make the address validation failed. Technically, the method `AccountManagement.createAccountWithPasswordHash(...)` has code like this:

[code]

I has a plugin on `AbstractAddress.validate()` to add custom validation on address base on my customer requirements. When the validation return errors `InputExcepti

[2018-08-14 09:53] eduard13 commented on #14819
I'm going to work on it.

[2018-08-14 09:54] magento2dev commented on #8897
Still an issue on last Magento 2 version.

[2018-08-14 10:10] Rutvee123 commented on #17564
Have any update?

[2018-08-14 10:16] chris-pook commented on #16249
This is indeed still happening in 2.2.5. Re-opening until resolved.

[2018-08-14 10:40] sidolov commented on #15541
Hi @HirokazuNishi. Thank you for your report.
The issue has been fixed in magento/magento2#15542 by @HirokazuNishi in 2.3-develop branch
Related commit(s):
 - [5e664042c3023253e62231e0b51c5934a9842634](https://github.com/magento/magento2/commit/5e664042c3023253e62231e0b51c5934a9842634)
 - [d682eadfad9c02d7cfbf0a883a06fb5eb12ba976](https://github.com/magento/magento2/commit/d682eadfad9c02d7cfbf0a88

[2018-08-14 10:40] sidolov commented on #17289
Hi @JoshuaFlood. Thank you for your report.
The issue has been fixed in magento/magento2#17495 by @ronak2ram in 2.3-develop branch
Related commit(s):
 - [cea62ecf191f706b6cdef82973ac794989bb80de](https://github.com/magento/magento2/commit/cea62ecf191f706b6cdef82973ac794989bb80de)
 - [1c70659dc409ba6a369a23542dd2a9fe2be7b683](https://github.com/magento/magento2/commit/1c70659dc409ba6a369a23542dd2a9

[2018-08-14 10:42] sidolov commented on #16555
Hi @p-bystritsky. Thank you for your report.
The issue has been fixed in magento/magento2#16783 by @dmytro-ch in 2.1-develop branch
Related commit(s):
 - [1e730753da331d3b5a3181211fa47c9ab5accb55](https://github.com/magento/magento2/commit/1e730753da331d3b5a3181211fa47c9ab5accb55)
 - [197f1eba3931819d2a098c5748498c120aaffa06](https://github.com/magento/magento2/commit/197f1eba3931819d2a098c5748498

[2018-08-14 11:08] ankit-sf commented on #13995
@andkirby how did you solve this elasticsearch issue?
Thanks in advance

[2018-08-14 11:34] engcom-backlog-andrii commented on #17582
@simonworkhouse , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-14 11:45] engcom-backlog-pb commented on #17591
@RomanMichak, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-14 12:10] engcom-backlog-pb commented on #17181
@agavshinde, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-14 12:10] #17181 closed, assigned to nobody

[2018-08-14 12:11] engcom-backlog-pb commented on #16912
@Tofandel, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-14 12:11] #16912 closed, assigned to nobody

[2018-08-14 12:12] engcom-backlog-pb commented on #16249
@chris-pook, please provide obvious steps to reproduce.

[2018-08-14 12:31] engcom-backlog-pb commented on #17586
@simonworkhouse, thank you for your report.
What is a purpose of running 'bin/magento app:config:import' in this case?

[2018-08-14 12:35] engcom-backlog-pb commented on #17586
@simonworkhouse, please split report into 3 different issues.

[2018-08-14 12:39] engcom-backlog-pb commented on #17588
@simonworkhouse, thank you for your report.
Please update Steps to Reproduce to be more obvious and self-sufficient, without any references to other existing issues.

[2018-08-14 12:44] engcom-backlog-nickolas commented on #17589
Hello @simonworkhouse, thank you for your report. This issue already has been fixed in 2.2-develop, and will be available in upcoming 2.2.7 release.

[2018-08-14 12:44] #17589 closed, assigned to nobody

[2018-08-14 12:46] engcom-backlog-nickolas commented on #17587
Hello @simonworkhouse, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-14 13:06] noahm96 opened #17595 "Widget.xml <depends> on parameter "template" throws error in adminhtml_widget_instance_edit"
If a widget defined in widget.xml has a "template" parameter and another parameter that <depends> on template having a certain value, the widget instance edit area of the admin will throw an error. This error does not occur when adding widgets via the WYSIWYG editor, and behaves as one would expect, where if the template parameter is set to the <depends> value, the dependent parameter will show an

[2018-08-14 13:06] magento-engcom-team commented on #17595
Hi @noahm96. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-14 13:31] engcom-backlog-nickolas commented on #17584
Hello @simonworkhouse, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-14 14:01] engcom-backlog-pb commented on #15005
@georgios-2317, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-14 14:02] arcanumbridge opened #17597 "custom_options Import doesn't correctly handle '=' and multi-value separators in fields"
The import function in System -> Import doesn't correctly handle custom_options with the multi-value separator field in a value as well as the '='.  A simplistic patch attached.  Also attached sample data.

eg. name=EN = #10 Envelope

Expected:
EN = #10 Envelope

Actual:
EN

eg. option_title=10,000

Expected:
10,000

Actual:
10

Tested on version 2.2.3, the code hasn't changed based on what I saw

[2018-08-14 14:02] magento-engcom-team commented on #17597
Hi @arcanumbridge. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-14 14:04] DrewML commented on #15156
There is not. However, the CVE is due to bad defaults. A "fix" is to correct those defaults so you have to explicitly opt-in to dangerous behavior - this is what the snippet above addresses.

It will break any code that is making a request with `$.ajax` (or its friend `$.get`) for an asset with a content type of `text/javascript` or `text/ecmascript` from a different hostname from the document, an

[2018-08-14 14:15] magento-engcom-team commented on #15041
Hi @leoquijano. Thank you for your report.
The issue has been fixed in magento/magento2#17540 by @vasilii-b in 2.2-develop branch
Related commit(s):
 - [1e1647a936d4bbeb75b44ecf07eb380dbfc53d97](https://github.com/magento/magento2/commit/1e1647a936d4bbeb75b44ecf07eb380dbfc53d97)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-14 14:15] #15041 closed, assigned to nobody

[2018-08-14 14:15] magento-engcom-team commented on #17492
Hi @krzksz. Thank you for your report.
The issue has been fixed in magento/magento2#17526 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [c789fb2813a74d5333fbcddca7f92b0a0c245162](https://github.com/magento/magento2/commit/c789fb2813a74d5333fbcddca7f92b0a0c245162)
 - [7aecb1f3c73e9af00375deabdfdc2bc78186e735](https://github.com/magento/magento2/commit/7aecb1f3c73e9af00375deabdfdc2bc7

[2018-08-14 14:15] magento-engcom-team commented on #17416
Hi @dannynimmo. Thank you for your report.
The issue has been fixed in magento/magento2#17491 by @dannynimmo in 2.2-develop branch
Related commit(s):
 - [0f591515b5efbe71665b32220d74384a1efd667e](https://github.com/magento/magento2/commit/0f591515b5efbe71665b32220d74384a1efd667e)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-14 14:15] #17416 closed, assigned to nobody

[2018-08-14 14:15] magento-engcom-team commented on #13102
Hi @ruthger92. Thank you for your report.
The issue has been fixed in magento/magento2#15369 by @Ananth747 in 2.2-develop branch
Related commit(s):
 - [a1d0e3b2b421881aecb288f91b0399a63796ec73](https://github.com/magento/magento2/commit/a1d0e3b2b421881aecb288f91b0399a63796ec73)
 - [b81bf6751f8fd736087d309136eb77b57a1a35e1](https://github.com/magento/magento2/commit/b81bf6751f8fd736087d309136eb77b5

[2018-08-14 14:15] #13102 closed, assigned to ananth-iyer

[2018-08-14 14:15] magento-engcom-team commented on #6305
Hi @bachlee89. Thank you for your report.
The issue has been fixed in magento/magento2#15357 by @Madhumalak in 2.2-develop branch
Related commit(s):
 - [474946c0b8997aa6636ad19a06729339c668948c](https://github.com/magento/magento2/commit/474946c0b8997aa6636ad19a06729339c668948c)
 - [9dd89455549fc6bcf4d10af9dd874d1610dc525b](https://github.com/magento/magento2/commit/9dd89455549fc6bcf4d10af9dd874d1

[2018-08-14 14:15] #6305 closed, assigned to Madhumalak

[2018-08-14 14:15] magento-engcom-team commented on #12362
Hi @minlare. Thank you for your report.
The issue has been fixed in magento/magento2#14973 by @elioermini in 2.2-develop branch
Related commit(s):
 - [5e66f1b21b8741f9a4d54c6a31c7372e44780551](https://github.com/magento/magento2/commit/5e66f1b21b8741f9a4d54c6a31c7372e44780551)
 - [8f033ac342d8343e931a2104f0e2ba8f21156469](https://github.com/magento/magento2/commit/8f033ac342d8343e931a2104f0e2ba8f2

[2018-08-14 14:17] sidolov commented on #14056
Hi @gnanasekaranl. Thank you for your report.
The issue has been fixed in magento/magento2#16782 by @gelanivishal in 2.1-develop branch
Related commit(s):
 - [03b7b5ec2b03cf6e48628d44083a385006bbf61d](https://github.com/magento/magento2/commit/03b7b5ec2b03cf6e48628d44083a385006bbf61d)
 - [bc749b0b7045ea1e275940f80cc164a53755988f](https://github.com/magento/magento2/commit/bc749b0b7045ea1e275940f80

[2018-08-14 14:18] sashas777 commented on #16728
@orlangur

You may not always have access to database or have the same exact version  of it.  Also, there may be case when it has been modified at the admin while another component were in development.

Also if you look at the code it seems suppose to work by attribute_group_name but it takes into account attribute_group_code.

`
$eavSetup->addAttributeGroup($entityTypeId, $attributeSetId, $groupN

[2018-08-14 14:35] JoshuaFlood commented on #17556
No. I replaced the configuration with the one I originally posted, then followed all of the other steps that you suggested.. so I only actually altered the magento configuration.

The problem here, though, is that magento should redirect to 'https' without a 301 redirect written in the nginx configuration, as you said... particularly when no 'http' record exists in the magento configuration.

To r

[2018-08-14 14:37] JoshuaFlood commented on #17556
Or, rather, there is a problem with magento which can only be fixed by applying an improper configuration to nginx.

[2018-08-14 14:45] JoshuaFlood commented on #9984
@orlangur the magento team is unable to reproduce the majority of commonly-occuring issues. That doesn't mean they don't happen often. I've had this problem with multiple installations of multiple versions of Magento 2. Currently experiencing it with Magento 2.2.5.

As I keep suggesting, Magento should release a guide on how to build a system the same as their ineffable 'vanilla' instances... beca

[2018-08-14 14:46] jaivintricore opened #17599 "Magento 2 use product name instead of img alt text on product grid."
### Preconditions

[2018-08-14 14:46] magento-engcom-team commented on #17599
Hi @jaivintricore. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-14 14:53] Harshadtricore commented on #12437
Preconditions

Magento 2.1.8
OS Ubuntu 16.04 LTS

Steps to reproduce

Set the alt text for product image
Run reindex + flush cache
Look at alt tag for product image on product page - it is display alt text.
Look at alt tag for product image on category page - it can't update and take the product name

I have checked your comment and you told that it is resolved in Latest version.I cant upgrade my

[2018-08-14 14:56] engcom-backlog-pb commented on #17597
@arcanumbridge , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-14 15:49] N1ghtfl0w opened #17600 "updating product clears all pages from varnish? Magento 2.2.4"
Hi There!

Im really struggling with the last bit off the website, caching... and i was wondering if anyone has/had the same problem we have now:

If i browse on my website for the first time the ttfb is around 2.5s, then it get chached by varnish and the second time the ttfb is around 0.3s AMAZING! But when i'm changing for example a price of one of my products, it clears all off the cached pages

[2018-08-14 15:49] magento-engcom-team commented on #17600
Hi @N1ghtfl0w. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-14 18:35] chattertech commented on #5491
Same issue here. CE 2.2.3. It happens with an Adjustment Refund when issuing either an Online Refund or Offline Refund. Also for the Refund button to be available a quantity of zero must be added to the items to refund (although it does not work in the end).

I think it would be better to have zero items selected by default and then have to choose which items to refund. Less chance of refunding th

[2018-08-14 18:50] magento-engcom-team commented on #13948
Hi @doctormess. Thank you for your report.
The issue has been fixed in magento/magento2#17543 by @arnoudhgz in 2.2-develop branch
Related commit(s):
 - [d10de87796e51c2f21edbc0f73aea25d455e3a40](https://github.com/magento/magento2/commit/d10de87796e51c2f21edbc0f73aea25d455e3a40)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-14 18:50] #13948 closed, assigned to arnoudhgz

[2018-08-14 21:18] bal0gtibi commented on #16722
Hey,
It seems I've sorted it out finally. I have a varnish with nginx reverse proxy (for https) before my magento backend, and I've set my unsecure base url to https too, in order to avoid redirect loops... this seemed to be a mistake.

Here is what I did so far to fix it:
- upgraded php from 7.0 to 7.1
- picked out varnish from the picture completely
- set back the unsecure url to http
- deleted

[2018-08-14 22:08] piotrekkaminski commented on #13685
@zetlen any update on this one? It is too risky to get into a patch release but it would be super helpful for 2.4 branch as it helps us address major security questions.

[2018-08-15 00:50] gfxguru commented on #3923
How many years and this is still an issue? Really? Yes I can confirm this is still an issues with 2.2.5

[2018-08-15 02:09] simonworkhouse opened #17614 "Updating the value of "catalog/seo/category_url_suffix" or "catalog/seo/product_url_suffix" can cause Magento to silently fail to update URL rewrites"
After updating the value of either "catalog/seo/category_url_suffix" or "catalog/seo/product_url_suffix" it is possible to create another product or category that matches the same expected URL rewrite path as conflicts won't be reported due to the difference in URL keys.
If a common parent category of these conflicting entities has it's URL key changed, both entities may have their URL rewrites up

[2018-08-15 02:09] magento-engcom-team commented on #17614
Hi @simonworkhouse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-15 02:15] KSaho commented on #5929
Thank you JacobDrummond. Your solution works. It has been an issue for a while. Running Mage 2.2.5.

[2018-08-15 02:17] simonworkhouse opened #17615 "Updating the values of "catalog/seo/category_url_suffix", "catalog/seo/product_url_suffix" and "catalog/seo/product_use_categories" can cause Magento to report on URL rewrite conflicts that don't exist in the url_rewrite table"
Updating the values of "catalog/seo/product_url_suffix", "catalog/seo/category_url_suffix" and "catalog/seo/product_use_categories" can cause Magento to fail to update the entries in the url_rewrite table while showing an error with a link to a non-existent rewrite.

### Preconditions

1. Magento 2.2.5
2. PHP 7.1.20
3. MySQL 5.7.23

### Steps to reproduce

1. composer create-project --repository-u

[2018-08-15 05:09] nntoan commented on #17486
@SebastianKlett @engcom-backlog-pb This issue fixed in 2.3-develop, internal ticket logged as MAGETWO-91807.

https://github.com/magento/magento2/commit/45da02260c989f088b4645307e4af42d9b944b00

[2018-08-15 06:03] zetlen commented on #13685
@piotrekkaminski Nobody has sent me a jQuery upgrade PR to review, but I also haven't looked for one. The things we are looking for are still the same:

- an upgrade to current-state jQuery 3
- "Migration" plugins as necessary to cover breaking changes
- Refactoring where any regressions occur
- No visible test regression
- Some kind of safeguard to prevent a downstream theme from loading more tha

[2018-08-15 06:20] simonworkhouse opened #17616 "Importer fails when updating an existing product with custom options"
The importer fails when trying to update products which have a fixed price custom option with a price of zero.
This probably won't happen in production mode as notices would likely be disabled.

It looks like this error might be due to a record for price is expected to exist in the catalog_product_option_type_price table. Is it possible that this record wasn't created due to the zero price?

### P

[2018-08-15 06:39] engcom-backlog-nickolas commented on #17614
Hello @simonworkhouse, thank you for your report. I'm not able to reproduce this issue. On step 12:

I've got error message:
![url_rewrite](https://user-images.githubusercontent.com/40755810/44134768-f6e12158-a06e-11e8-93fa-a2e0eda93c7a.png)

Could you please add more details?

[2018-08-15 06:45] engcom-backlog-nickolas commented on #17615
Hello @simonworkhouse, thank you for your report. I'm not able to reproduce this issue. On step 11:

I've got an error:
![url_rewrite](https://user-images.githubusercontent.com/40755810/44135032-f1cb25e6-a06f-11e8-89b0-d5d3b627f0a7.png)

[2018-08-15 06:49] simonworkhouse commented on #17614
@engcom-backlog-nickolas Is your cache disabled? Try a "./bin/magento cache:flush" as the final URL should end in ".test" not ".php"

[2018-08-15 07:15] simonworkhouse commented on #17615
@engcom-backlog-nickolas Try again. Be careful to follow the instructions in the exact order that they have been provided and monitor the changes to the url_rewrite table as you step through the process. I have just run through the process again myself.

After step 9 you should only have similar entries to the following in the url_rewrite table:
- '5', 'category', '3', 'sale.html', 'catalog/catego

[2018-08-15 07:26] simonworkhouse commented on #17614
@engcom-backlog-nickolas Yes, try monitoring changes to the url_rewrite as you proceed through the steps. I'll have someone re-check the instructions.

[2018-08-15 07:51] engcom-backlog-andrii commented on #16740
@wedob13 , we are closing this issue due to inactivity.
If you'd like to updateit, please reopen the issue.

[2018-08-15 07:51] #16740 closed, assigned to nobody

[2018-08-15 07:53] engcom-backlog-andrii commented on #17161
@shinesoftware , thank you for your report.We were not able to reproduce this issue by following the steps you provided.Please provide more detailed steps to reproduce or try to reproduce this issue ona clean installation or latest release.

[2018-08-15 07:58] itonomycompany commented on #5911
Little late, but hey, maybe still relevant:

This module will give you insights about why/if a product is showing https://github.com/Itonomy/magento2-product-visibillitygrid. Its still work in progress but might help.

[2018-08-15 08:00] engcom-backlog-pb commented on #17599
@jaivintricore, thank you for your report.
This issue is already fixed. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-15 08:00] #17599 closed, assigned to nobody

[2018-08-15 08:07] simonworkhouse commented on #17614
@engcom-backlog-nickolas I have had others independently run through the process and they were able to replicate the issue as described. Also, you won't be able to test this issue and the other related issues that have been reported at the same time, you will have to start from a fresh install for each.

[2018-08-15 08:31] keyurshah070 opened #17618 "user can change the form_key cookie value"
### Preconditions

1. Fresh Magento 2.2.5 with sample data

### Steps to reproduce

1. Go to frontend
2. Add some product into the cart
3. Now go to shopping cart page
4. On cart page open chrome developer toolbar(or firebug) so you can inspect the element(I am using the chrome so it is based on this)
5. On the Application tab of chrome, developer toolbar open the cookies section
6. On the form_ke

[2018-08-15 08:31] magento-engcom-team commented on #17618
Hi @keyurshah070. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-15 08:39] engcom-backlog-nickolas commented on #17600
Hello @N1ghtfl0w, thank you for your report. I'm not able to reproduce this issue. Also, I've checked tags for varnish purge request on product update. They all related to given product and categories for this product.
Could you please add more details?

[2018-08-15 08:45] N1ghtfl0w commented on #17600
Thank you for looking in to it!

I checked the varnish log what happends when i update a product:

<< Request  >> 5318281
-   Begin          req 5318280 rxreq
-   Timestamp      Start: 1534320174.817462 0.000000 0.000000
-   Timestamp      Req: 1534320174.817462 0.000000 0.000000
-   ReqStart       2a00:f10:305:0:4e1:f0ff:fe00:44d 41106
-   ReqMethod      PURGE
-   ReqURL         /
-   ReqProtocol

[2018-08-15 08:51] engcom-backlog-nickolas commented on #16649
Hello @Akif-dev, thank you for your report. Could you please edit steps to reproduce in a way they become more like steps, user should do to get actual result? It's needed in order to others be able to reproduce this issue and potentially fix it.

Best regards!

[2018-08-15 09:07] simonrl commented on #13993
Also interested in the commits for a backport. Thanks!

[2018-08-15 09:10] engcom-backlog-pb commented on #17618
@keyurshah070, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-15 09:42] engcom-backlog-pb commented on #17570
@hapdes, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-15 09:45] engcom-backlog-pb commented on #17566
@2base, please try to reproduce this issue on a clean Magento installation. Your problem may be caused by custom modules or themes.

[2018-08-15 09:49] engcom-backlog-pb commented on #17586
@simonworkhouse, thank you. No, there is no need in this issue anymore.

[2018-08-15 09:49] #17586 closed, assigned to nobody

[2018-08-15 09:53] engcom-backlog-pb commented on #16276
@Axel29, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-15 09:53] #16276 closed, assigned to nobody

[2018-08-15 09:53] engcom-backlog-pb commented on #16950
@Ctucker9233, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-15 09:53] #16950 closed, assigned to nobody

[2018-08-15 09:58] engcom-backlog-pb commented on #14404
@lillockey, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-15 10:26] tuyennn commented on #5445
@magento-engcom-team Any update or bug fix on this ticket?

[2018-08-15 10:45] magento-engcom-team commented on #14819
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#17593 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [8739f8ef2ebedbf0b1e7c61cb607864f81507556](https://github.com/magento/magento2/commit/8739f8ef2ebedbf0b1e7c61cb607864f81507556)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-15 10:45] #14819 closed, assigned to nobody

[2018-08-15 10:45] magento-engcom-team commented on #16929
Hi @chizhov13. Thank you for your report.
The issue has been fixed in magento/magento2#17013 by @ronak2ram in 2.2-develop branch
Related commit(s):
 - [3259f5afae915ced2e4cb74a7ea595d9a1959b5f](https://github.com/magento/magento2/commit/3259f5afae915ced2e4cb74a7ea595d9a1959b5f)
 - [ae24b01152cbd8744957a7f59080030d7882affe](https://github.com/magento/magento2/commit/ae24b01152cbd8744957a7f59080030d

[2018-08-15 10:45] #16929 closed, assigned to nobody

[2018-08-15 10:48] msq2018 commented on #16958
@bedroomathletics  disables modules  Temando_Shipping  can be solved

[2018-08-15 10:58] engcom-backlog-andrii commented on #17616
@simonworkhouse , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-15 11:02] szreka opened #17621 "Shipment doesn't show on orders"
### Preconditions

1. Magento EE 2.2.2

### Steps to reproduce

1. Checkout with Braintree used as Payment (using Check / Money order will work as expected.)
2. Create a shipment in the admin
3. Shipment successfully created

### Expected result

Shipment will show up in the Sales > Shipment grid and also on the Order edit page Shipment tab.

### Actual result

It only shows up in the Sales > Ship

[2018-08-15 11:02] magento-engcom-team commented on #17621
Hi @szreka. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-15 11:28] sidolov commented on #6305
Hi @bachlee89. Thank you for your report.
The issue has been fixed in magento/magento2#17609 by @jignesh-baldha in 2.1-develop branch
Related commit(s):
 - [cd9ba043a806f857790e1a68972634fa9dca6eb3](https://github.com/magento/magento2/commit/cd9ba043a806f857790e1a68972634fa9dca6eb3)
 - [1bcd7dc8802c88c060b90d517803547b3a1019e1](https://github.com/magento/magento2/commit/1bcd7dc8802c88c060b90d51780

[2018-08-15 11:28] engcom-backlog-nickolas commented on #12218
@elvinristi, @ihor-sviziev I've tried to reproduce with tax 5% and coupon with discount amount 99.9%. Still cannot get actual result from steps to reproduce.
![peek 2018-08-15 14-23](https://user-images.githubusercontent.com/40755810/44146257-7bf75718-a097-11e8-804f-98e5dd6bbf7f.gif)

[2018-08-15 11:32] elvinristi commented on #12218
@ihor-sviziev , in short - couldn't replicate with latest 2.2.6-dev CE.

### Preconditions:
- use magento 2 sample data:
  - https://github.com/magento/magento2-sample-data/tree/2.2-develop
- configre online payment, i.e. "Braintree"
  - https://docs.magento.com/m2/ce/user_guide/payment/braintree.html
  - Payment Action: Authorize and Capture
- Make sure tax is configured (using Magento's sample d

[2018-08-15 11:33] chefbuitenhuis opened #17625 "Translations done within a theme that's enabled through a category Design change aren't used"
When having an additional theme, which is activated for a certain category, and with certain translations, they are not picked up by Magento. Magento seems to only collect the translation files for the active main theme, which results in the inability to use different translations within the additional theme.

(Jesse Buitenhuis)
### Preconditions

1. Magento 2.2.x
2. PHP 7.x

### Steps to reproduc

[2018-08-15 11:33] magento-engcom-team commented on #17625
Hi @chefbuitenhuis. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-15 11:37] jspoe commented on #12594
@magento-engcom-team @okorshenko Do you agree with this approach? If that is the case, I will continue to work on this solution.

[2018-08-15 11:53] engcom-backlog-nickolas commented on #17600
@N1ghtfl0w, thanks for feedback. cat_c_1 it's "Root Catalog" category. It exists but doesn't show up in admin area. I've double checked on different versions magento 2.2.x and still not able to reproduce this issue.

[2018-08-15 11:57] engcom-backlog-pb commented on #17625
@chefbuitenhuis, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-15 12:33] peterjaap commented on #3406
@magento-engcom-team is there a commit reference available for this fix in the 2.3-develop branch?

[2018-08-15 12:33] ka4a commented on #10314
add this in to nginx - fastcgi_param  PHP_VALUE "memory_limit=768M \n max_execution_time=600";
and edit your limit, reload nginx and try.

[2018-08-15 12:54] engcom-backlog-andrii commented on #17621
@szreka , thank you for your report.We were not able to reproduce this issue by following the steps you provided.Please provide more detailed steps to reproduce or try to reproduce this issue ona clean installation or latest release.

![shipments](https://user-images.githubusercontent.com/41946904/44149090-6bda6f1c-a0a3-11e8-88ef-2c1272925aec.png)

![shipment1](https://user-images.githubuserconten

[2018-08-15 13:15] engcom-backlog-nickolas commented on #17614
@simonworkhouse
![peek 2018-08-15 16-04](https://user-images.githubusercontent.com/40755810/44149751-dad9a4b2-a0a5-11e8-8ddf-7c4de9da5f51.gif)

Please correct my steps, or add more details.

[2018-08-15 13:46] engcom-backlog-pb commented on #4112
This issue is already fixed in Magento 2.2.5 and 2.3-dev version.
![default](https://user-images.githubusercontent.com/40756187/44150103-ef783f18-a0a6-11e8-93c5-68be03e959a4.png)

[2018-08-15 13:46] #4112 closed, assigned to nobody

[2018-08-15 13:48] snoroozi commented on #15969
What the hell, post a solutions, don't just close....

[2018-08-15 13:55] DigiBlooD commented on #16722
Hi

Fixed on the test store.
I cleaned  oaut_consumer for the keys, then it removed the facebook integration from integration itself from the db. Ran ./bin/magneto setup:upgrade… and it poped back up under the activation page. Reactivated it and now its working. :)

Just as extra info i tried disabling and enabling it again this weekend but that didn't work.
Disable the module
1. ./bin/magento mod

[2018-08-15 14:04] engcom-backlog-nickolas commented on #14690
Hello @jokeputs, thank you for your report. Unfortunately I wasn't able to reproduce this issue.
![peek 2018-08-15 17-02](https://user-images.githubusercontent.com/40755810/44152103-3d795ade-a0ad-11e8-850a-2b6ebb24ec64.gif)

If you'd like to update it, please reopen the issue.

[2018-08-15 14:04] #14690 closed, assigned to KaushikChavda

[2018-08-15 14:35] engcom-backlog-pb commented on #15679
@GoogleYY, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-15 14:46] rqsakai commented on #17580
Ok so here it goes:

Create 2 websites with 4 stores in each one of them.

Your website needs to have a custom success page using the order id (provided by the default Magento block) and load the allVisibleItems for that order to show the customer.

Important information: Since upgrade 2.2.5 Magento creates a different sales_sequence for each store view.

Make different orders with different custo

[2018-08-15 14:49] engcom-backlog-nickolas commented on #17600
@N1ghtfl0w, I've tested with your vcl, still have no problems.

[2018-08-15 14:50] jamieparkes commented on #14406
Have a similar issue in Magento ver. 2.2.5.

When using a Mass Order Actions extension to process multiple orders, pressing ship creates shipments but status change is delayed by 5-10 minutes.

Can anyone offer any advice on how to resolve this issue?

[2018-08-15 14:53] dmytro-ch commented on #17591
I will handle this issue. Thank you!

[2018-08-15 15:00] N1ghtfl0w commented on #17600
So if you update a product, the cache remains with the categories that are not associated with that product?

if so im losing it...

[2018-08-15 15:03] N1ghtfl0w commented on #17600
ow wait! i forgot to comment that we are using hitch for handling SSL!

[2018-08-15 15:10] jeffb1a5 commented on #10454
This is just what I need. How would you add strikethroughs through swatches?

[2018-08-15 15:46] VladimirZaets commented on #12594
Hi @jspoe. I agree that this issue should be fixed only in the ui-component grid, no sense to fix it in the old grids.
The correct fix for this issue is replacing the old grid with ui-component grid.
@jspoe As I see the ui-component grid works correctly (screenshots are attached. We can select items per page or all items in all pages), so I don't fully understand the solution in the ui-component g

[2018-08-15 15:57] engcom-backlog-nickolas commented on #17580
![peek 2018-08-15 18-53](https://user-images.githubusercontent.com/40755810/44158313-0ea8b280-a0bd-11e8-99ba-eb8e68eb21b7.gif)
@rqsakai, could you please correct my steps?

[2018-08-15 15:58] zetlen commented on #13685
@piotrekkaminski It may satisfy the following, too:

- Refactoring where any regressions occur
- No visible test regression

But without seeing the output of an end to end test, we can't be sure!

[2018-08-15 16:06] williankeller commented on #7570
Hey guys, do we have any updated on this? We still facing this issue

[2018-08-15 16:17] josephmcdermott commented on #3993
This issue still occurs on Magento 2.2.5. It is very easy to replicate, following the original poster's instructions. Flat catalog on, drag a category to a new position, and check the Flat Category table.

Only the category updated has its position updated, so you end up with a number of categories with the same position. The only remedy currently is a full flat catalog category reindex, which is

[2018-08-15 16:39] williankeller commented on #7570
Hi @benyanke, no, is it working to EE as well?

[2018-08-15 16:42] engcom-backlog-andrii commented on #17583
@simonworkhouse, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-15 16:46] engcom-backlog-andrii commented on #15493
@tim-bezhashvyly ,  thank you for your report. RMA is releteted for Magento EE version.Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source u

[2018-08-15 16:46] #15493 closed, assigned to nobody

[2018-08-15 16:53] daniel-ifrim commented on #17434
@rparsi This issue is related to what it describes. It's not related to email address or nullable columns.
The fix for this issue is in the pull request provided, see the comment from engcom.

[2018-08-15 16:58] benyanke commented on #7570
Yes, we're EE.

[2018-08-15 17:02] DavidLambauer commented on #8162
I just searched for a similar issue and opened three Github issues in a row. All of them were closed with no result because the issue itself was not well formatted or the person who submitted the issue didn't answer in time. IMHO this is just kind of a ticket burning, that helps no one but the KPI's...

[2018-08-15 17:19] ghost opened #17634 "Cache disabled after run "composer update" command"
@magento-engcom-team give me 2.2.3 instance

I'm not sure if that is an expected behavior but, after trying to execute:

`composer update`

all caches are being disabled.

Happened every time I had to run composer update since I'm working with Magento 2. First time it took me around 1 complete day debugging.
Caches being disabled was the last thing I thought of when I did not enter **"bin/magento

[2018-08-15 17:19] magento-engcom-team commented on #17634
Hi @bruno-serfe. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-15 18:12] RDXSportsCom commented on #5984
I installed 2.2.2 ee and can't find special from/to date in advanced pricing, only special price field is available. with a cost field, this is happening for all products.

Any solution guys?

[2018-08-15 19:00] CompactCodeEU commented on #15490
@PitzyRo The reason why it does not show the category is because there is none. As you know products can be placed in multiple categories or even in none at all. There is no way to know for sure what category the customer wants there. If you click from the home page you clicked on the url without a category in it.

Let's say you have Product A in Category B and Category C.
Then Magento creates 3 u