[2018-12-11 08:52] #19688 closed, assigned to nobody

[2018-12-11 08:54] magento-engcom-team commented on #19691
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-11 09:15] engcom-backlog-nazar commented on #19701
Hi @Rjgoolsby Tax rules available only on EE version.
@Rjgoolsby , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open S

[2018-12-11 09:16] magento-engcom-team commented on #19692
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-11 09:39] craigcarnell commented on #14952
When will this bug be fixed? I am getting this in 2.3.0.

[2018-12-11 09:55] gwharton commented on #14952
According to the PR. Should be in 2.3.1

[2018-12-11 09:58] engcom-backlog-nazar commented on #19692
Hi @domeglic thank you for you report i'm not able to reproduce following steps you described.
Please look at attachments
![download](https://user-images.githubusercontent.com/40756439/49792613-df891180-fd3b-11e8-8567-ff07a3a3cafa.png)

[2018-12-11 09:58] #19692 closed, assigned to mahesh-rajawat

[2018-12-11 10:06] engcom-backlog-nazar commented on #19691
Hi @Raizer96 thank you for you report, i'm not able to reproduce following steps you described.
This may be related to your configuration with paypal account.

[2018-12-11 10:06] #19691 closed, assigned to nobody

[2018-12-11 10:41] woshka commented on #8285
me too
I created a plugin for Http and after that I have issues running bin/magento
on 2.3.0

[2018-12-11 11:23] TomashKhamlai commented on #18755
@albsa previously I thought that this report describes behavior on Magento instance that has 2 websites on different domains, but according to your last comment now I understand that you were reporting about one store with two Store Views for different languages.

The first step in report processing is to identify whether problem is still is the latest code that is under development. I posted the

[2018-12-11 11:36] korostii commented on #14885
Ran into this, as well.
FYI it seems that for some reason the `../Shipment/Sender/EmailSender.php` gets invoked when a shipment is created via API (so, both classes are used by Magento).
This can be a rather nasty surprise if you attempt to modify the corresponding behaviour using a di.xml plugin as you'll need to declare two plugins at once.

[2018-12-11 11:39] snoroozi commented on #19688
@engcom-backlog-nazar thanks for your comments. However I see nowhere to set the width as you suggest. Can you point me to it?

As I've mentioned, I've tried bundled themes, and I don't see this setting in there configuration.

[2018-12-11 11:55] rvanchinathan opened #19704 "Magento Marketplace uploaded my custom extension and got Technical Review Failed on: deploy:mode:set production"
### Summary (*)

On magento Marketplace i have uploaded my custom extension and submitted for technical review, after some time i got fail on review and shows  following.

**Installation & Varnish Test Results**

**First**
Environment: PHP 7.0.31 Magento 2.2 CE
php bin/magento deploy:mode:set production
Enabling maintenance mode
Starting compilation
Something went wrong while compiling generated c

[2018-12-11 11:55] magento-engcom-team commented on #19704
Hi @rvanchinathan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-11 12:03] magento-engcom-team commented on #19704
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-11 12:11] warrior7789 commented on #9486
hi @BenSpace48  did you get any solution ? i found issue that is will not send use_default value while you submit the form

[2018-12-11 12:17] engcom-backlog-nazar commented on #19704
Hi @rvanchinathan   thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-11 12:17] #19704 closed, assigned to nobody

[2018-12-11 12:34] engcom-backlog-nazar commented on #19671
Hi @bentideswell thank you for you report,  `__ function is not customizable and you was never able actually customize it.`
There no issue here for core magento functional.
You can report here -> https://github.com/magento/community-features

[2018-12-11 12:34] #19671 closed, assigned to nobody

[2018-12-11 12:35] magento-engcom-team commented on #19699
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-11 12:55] orlangur commented on #19671
@bentideswell,

System should be the same, components should be written in such a way that system behavior does not depend on their order of loading.

@Vinai good point, I don't remember why lazy evaluation was considered the benefit, probably inline translation is quite slow or something. Will raise this question in `#appdesign`.

[2018-12-11 13:16] onepack commented on #13690
I have noticed the same bug. I was logged in as a client in a demo environment in two browsers at the same time. After I returned from a lunch I refreshed the page and in firefox an empty collection was returned on all pages.
So I went to the same account in Internet Explorer and there on the same account the collections became empty as well after a refresh. (FPC on a customer group?)
On a second

[2018-12-11 13:35] magento-engcom-team commented on #19658
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-11 13:39] TomashKhamlai commented on #19658
According to [devdocs](https://devdocs.magento.com/guides/v2.3/pattern-library/containers/slideouts-modals-overlays/slideouts-modals-overalys.html) it is placed in the right position.

[2018-12-11 13:40] #19658 closed, assigned to TomashKhamlai, abrarpathan19

[2018-12-11 13:51] magento-engcom-team commented on #19481
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-11 13:56] magento-engcom-team commented on #19481
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97056` were created

[2018-12-11 14:01] torreytsui commented on #16020
FYI, we have also replicated the same issue on 2.1.15

[2018-12-11 14:08] mfickers opened #19705 "Javascript translation issue on modal buttons when removing items from product compare page"
### Preconditions

1. Magento 2.3.0 Open Source
2. At least one product available in store
3. A translation file for the luma theme and storefront locale containing the phrase `"Cancel","Test"`
4. Static Content is deployed for the right locale and the translation cache is cleaned

### Steps to reproduce

1. Add an item to product compare list
2. Go to product compare page
3. Click on the remove i

[2018-12-11 14:08] magento-engcom-team commented on #19705
Hi @mfickers. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-11 14:10] magento-engcom-team commented on #19705
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-11 14:10] magento-engcom-team commented on #19446
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-11 14:28] textarea opened #19706 "PaymentTokenRepositoryInterface: missing setTotalCount in getList() method"
### Preconditions (*)

1. Magento version 2.3.0

### Steps to reproduce (*)

/** @var \Magento\Vault\Api\PaymentTokenRepositoryInterface */
echo $this->paymentTokenRepository->getList(
    $this->searchCriteriaBuilder->create()
)->getTotalCount();

### Expected result (*)

1. returned the vault data total count

### Actual result (*)

1. null

[2018-12-11 14:43] magento-engcom-team commented on #19706
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-11 14:49] DannyStr commented on #14038
@siliconalchemy To remove a product mapping to a category
catalogCategoryLinkRepositoryV1 can be used.
Which can then be controlled via operation delete and the path /V1/categories/{categoryId}/products/{sku}

[2018-12-11 14:50] textarea commented on #19706
Issue: Confirmed

[2018-12-11 14:53] textarea commented on #19706
Hello, have this pull request #19707

[2018-12-11 15:00] magento-engcom-team commented on #19705
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97061` were created

[2018-12-11 15:14] TomashKhamlai commented on #19446
Workaround described in https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html#upgrade-cli-script realy helps but this breakes the well known scenario.

[2018-12-11 15:15] magento-engcom-team commented on #19446
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97062` were created

[2018-12-11 15:27] cscd98 opened #19708 "Qty per website or possibly store view, not global"
### Description (*)
On different stores in the same instance of Magento 2, it would be useful to manage stock per website or per store view, and not globally.

### Expected behavior (*)
additional table cataloginventory_stock_item_store table to maintain different levels
cataloginventory_stock_status already contains website_id
ability to edit this in Manage Products level.
Update stock via API

#

[2018-12-11 15:47] carolineboivin opened #19710 "Magento 2.3 images cache generation generates wrong hash for some images with a custom theme that has the keep_frame var set to 0"
### Summary (*)
I just upgrade my Magento 2 project from 2.2.6 to 2.3. After the upgrade, some images in the catalog are showing placeholders instead of the images. I have regenerated the images cache with the catalog:images:resize but some images are still missing (swatch images in category pages and image thumbnail in category pages).

After some investigation, it seems that is it a problem with

[2018-12-11 15:47] magento-engcom-team commented on #19710
Hi @carolineboivin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-11 15:48] carolineboivin commented on #19710
@magento-engcom-team give me 2.3.0 instance

[2018-12-11 15:48] magento-engcom-team commented on #19710
Hi @carolineboivin. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-11 15:49] magento-engcom-team commented on #19710
Hi @carolineboivin, here is your [Magento instance](https://i-19710-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19710-2-3-0.instances.magento-community.engineering/admin](https://i-19710-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-11 15:55] amilaudana commented on #17285
This is a compatibility issue with php 7.0.x and 7.1.x. New version is using "?" where it does not support in php previous versions. We want to install Magento on php7.0.32 and not to install php7.2 for Magento.

[2018-12-11 15:56] TomashKhamlai commented on #6419
Keeping in mind that the script https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html#upgrade-cli-script is for upgrading to 2.3.0, I will add reproduced on 2.3-develop, because release line 2.3.x is the reason for creating this script

[2018-12-11 15:57] DanielRuf commented on #17285
7.0.x is not supported.

[2018-12-11 15:57] magento-engcom-team commented on #6419
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97063`, `MAGETWO-97064` were created

[2018-12-11 15:57] DanielRuf commented on #17285
See https://github.com/magento/magento2/issues/17285#issuecomment-442792234 and the screenshot after it.

Also 7.0 has reached its EOL.

[2018-12-11 15:58] DanielRuf commented on #17285
See http://php.net/supported-versions.php

[2018-12-11 15:59] amilaudana commented on #17285
ok see this too https://devdocs.magento.com/guides/v2.0/install-gde/system-requirements-tech.html

[2018-12-11 16:00] DanielRuf commented on #17285
Wrong link, there is a version selector for 2.1, 2,2, 2.3.

[2018-12-11 16:01] DanielRuf commented on #17285
Wrong link, there is a version selector for 2.1, 2.2, 2.3.

[2018-12-11 16:01] amilaudana commented on #17285
https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html
correct

[2018-12-11 16:01] DanielRuf commented on #17285
Also this only affects 2.3.

[2018-12-11 16:03] DanielRuf commented on #17285
As you should not use PHP 7.0 and the docs clearly say which PHP versions are supported, this is not a problem and resolved.

Please use a newer PHP version, also regarding security.

[2018-12-11 16:07] snoroozi commented on #19688
Actually, this is a CORE bug as the setting that triggers this is to use product image as swatch if possible.  Confirmed by Mirasvit as well:

"Locally we have switched the attribute option "Use Product Image for Swatch if Possible" to "Yes" and we get the same error in the browser console, saying "Uncaught TypeError: Cannot read property 'swatchImage' of undefined". This error happens only on cat

[2018-12-11 16:10] josefbehr commented on #18256
Seems to also be fixed in 2.2-develop already, but not in 2.2.7

[2018-12-11 16:14] orlangur commented on #19481
@mbiberhofer,

Exactly. We cannot do anything about irreproducible bugs and this is absolutely okay. What's the problem in reopening bug when it can be actually reproduced?

Thanks @dverkade for figuring out a real cause and exact steps to reproduce. Would you mind to create a PR maybe?

[2018-12-11 16:16] dverkade commented on #19481
@orlangur in my opinion checking if the file app/code/Magento/SampleData/composer.json exists would be the way to check it it's installed with composer or not? If that would be the way to go I can create a PR for this.

[2018-12-11 16:23] orlangur commented on #19481
@dverkade how to distinguish when we have a fresh installation and there is no `app/code/Magento/SampleData/composer.json` yet?

[2018-12-11 16:35] Rjgoolsby commented on #19701
I'm using Magento Community Edition. What do you mean Tax Rules are only in EE. I have screen shots showing it's available in the community edition. Please re-open ticket

[2018-12-11 16:37] orlangur commented on #19142
Just received an approval from @ericerway on this.

[2018-12-11 16:42] Rjgoolsby commented on #19701
@engcom-backlog-nazar Is this a bot or a real person?
Here's proof that Tax Rules aren't a EE feature

https://docs.magento.com/m2/ce/user_guide/tax/tax-rules.html

These are the CE (Community Edition) User Docs. Please re-open ticket or specify whether this is desired behavior or a bug.

[2018-12-11 17:03] cscd98 opened #19712 "2.3.0 - Custom Payment Method - Invalid Form Key. Please refresh the page."
### Summary (*)
I have a custom payment method that uses the cc-form to take debit/credit card payments.

After the user has entered their card details, they are re-directed to my controller with a hidden form, then to the 3dsecure page. After 3dsecure, they are re-directed to the same controller and various logic is checked.

After the logic is valid, they are re-directed to the checkout success

[2018-12-11 17:03] magento-engcom-team commented on #19712
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-11 17:52] pravinagham commented on #19712
Hi Team, @orlangur @magento-engcom-team
 I am facing the same issue after upgrade to Magento 2.3. I am using the Moneris Payment Method provided by [collinsharper ](http://www.collinsharper.com/modules/payment-modules/magento-2-moneris-payment.html) which was working fine on Magento 2.2.

Steps to reproduce-
1- After choose Moneris Payment method it redirect to Moneris Hosted payment website
2- Do

[2018-12-11 17:55] stephenbori commented on #7560
For anybody who is having a timezone construct admin error on their magento 2.3.0 admin once logging in post upgrade from Magento 2.2.6 (similar to this)

**Http error**
`magento Stdlib/DateTime/Timezone.php(199): DateTimeZone->__construct('')`

**Magento_log**
`[2018-12-11 16:42:46] main.ERROR: DateTimeZone::__construct(): Unknown or bad timezone () [] []`

The easiest workaround is to check that

[2018-12-11 18:12] wrossier commented on #6624
thanks a lot :)

[2018-12-11 18:18] ls-greg-roughton commented on #10424
I can't find this code in the core magento module-catalog, what versrion of magento are you building on?
 Also it looks like you're fixing changes you've already made in an overridden file, if that's the case can you provide more context on what you were originally fixing and what this new code change means for a default installation?

[2018-12-11 18:47] orlangur commented on #19712
@pravinagham, this GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions/themes their respective vendors should be contacted instead.

[2018-12-11 19:11] carolineboivin commented on #19710
Seems to be a duplicate of https://github.com/magento/magento2/issues/4622 after all

[2018-12-11 19:35] leoquijano commented on #19699
Thanks.

Here it is: magento/community-features/issues/103.

[2018-12-11 19:51] nathanjosiah commented on #19685
This is a duplicate of internal issue `MC-5461`. This issue will be fixed in 2.3.1

[2018-12-11 19:53] nickpiro commented on #18134
Anyone fix this in 2.2.6? I'm seeing a lot of errors in 2.2.6. Should I update to 2.2.7? I'm not sure, but a lot of people use manufacturer attribute!

[2018-12-11 19:54] eduard13 commented on #19685
@nathanjosiah thank you for letting me know, I won't continue with this one then.

[2018-12-11 19:57] nathanjosiah commented on #19685
No problem, we have a fix that should be merged into 2.3-develop within the next week

[2018-12-11 20:43] sreichel opened #19714 "Store switcher doesn't work multistore setup with different product urls"
### Preconditions (*)

1. any version
2. +1 storeview

### Steps to reproduce (*)

1. goadmin product edit page
2. switch to second storeview
3. set another URL in seo section
3.1. default URL: `some-name.html`
3.2 storeview URL: `some-localized-name.html`
4. check product on frontend
5. use storeswitcher more then once

Tested on https://pr-18895.instances.magento-community.engineering (2.3-dev)

[2018-12-11 20:43] magento-engcom-team commented on #19714
Hi @sreichel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-11 20:58] hostep commented on #18134
@nickpiro: this issue hasn't been fixed in 2.2.7, but there is a pending PR which should fix it over here: https://github.com/magento/magento2/pull/19551.

Btw: this issue is not for people who **use** the manufacturer attribute, but for people who **removed** it.

[2018-12-11 21:08] hostep commented on #19714
This is related to https://github.com/magento/magento2/issues/14674 I believe, but I'm not sure if it's an exact duplicate.

There is however [a comment](https://github.com/magento/magento2/issues/14674#issuecomment-442120476) in there, which might solve your problem (untested).

[2018-12-11 21:18] nickpiro commented on #18134
@hostep we use the manufacturer attribute, we never removed it. Updated from 2.2.5 to 2.2.6 and now the attribute is not visible on the product edit page in the backend. The manufacturer attribute is still there, the manufacturers are still being associated to the original products that had them associated, but when you go into edit or add a product, the manufacturer attribute is no longer visible

[2018-12-11 21:24] hostep commented on #18134
@nickpiro: aha, I wasn't aware of this other bug. It might be best if you open a new issue then. This issue here is for when people remove the manufacturer attribute, that the database migrations crash, because they expect the attribute to exist.

[2018-12-11 21:34] sreichel commented on #19714
@hostep it is maybe relatet, but not the same.

I've default setup, w/o changing anything in config - see test instance.

For the comment ... not tested, but i guess it doesnt solve it, since target pathes uses same store id there ...

            $currentRewrites = $this->urlFinder->findAllByData([
                UrlRewrite::TARGET_PATH => $oldRewrite->getTargetPath(),
                UrlRewrite

[2018-12-11 21:34] nickpiro opened #19716 "Magento 2.2.6 Update Removes Manufacturer Attribute from Product Edit Page"
### **Preconditions**
Magento 2.2.5 - Manufacturer Attribute visible in product edit page on Magento backend!
### **Steps to reproduce**
Upgrade to Magento 2.2.6
### **Expected result**
Manufacturer attribute still visible in product edit page on Magento backend!
### **Actual result**
No Manufacturer attribute on product edit page on Magento backend!
- manufacturer attribute is visible in Attribut

[2018-12-11 21:34] magento-engcom-team commented on #19716
Hi @nickpiro. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-11 21:42] sreichel commented on #6624
@kanduvisla Should be added to documention!

[2018-12-11 22:16] #17849 closed, assigned to nobody

[2018-12-12 05:21] devqualwebs commented on #12837
Is there any way to do it? Even I'm trying to achieve the same behavior.

[2018-12-12 05:46] bilalyounus opened #19717 "Order purchase date filter range not showing expected results."
### Preconditions

1. Magento 2.2.2, Nginx, Redis.
2. Magento local timezone AEDT,
3. server time AEDT
4. mysql SELECT CURRENT_TIMESTAMP(); returns AEDT time
5. SELECT @@global.time_zone, @@session.time_zone; returns SYSTEM.

### Steps to reproduce

1. Go to Sales order grid
2. Apply purchase date range it should be a week or more in my case it's from 5-12-2018 to 12-12-2018 (7 days).

### Expecte

[2018-12-12 05:46] magento-engcom-team commented on #19717
Hi @bilalyounus. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-12 06:16] jignesh-baldha commented on #19685
@nathanjosiah I've got a fix which solved this issue, May I create PR now?

[2018-12-12 06:22] magento-engcom-team commented on #19685
Hi @jignesh-baldha. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-12-12 06:45] avgust1111 commented on #10527
Please, note: the issue is still reproduced on the 2.3.0, because of incorrect merge of modifications!

[2018-12-12 06:51] woshka commented on #19549
same issue
how to fix this?

[2018-12-12 06:58] staradzinau opened #19718 "On Magento 2.3, form_key cookie expires immediately if cookie lifetime is set to 0"
### Preconditions (*)

1. Magento 2.3.0
2. Steps for reproduce are exactly the same as mentioned in https://github.com/magento/magento2/issues/10527

### Additional information
Commit https://github.com/magento/magento2/commit/99a3c012fd86cd1a4709413db48993f86e115549 wasn't correctly merged to the actual 2.3.0 brach. Please, compare computeExpirationTime() function:
https://github.com/magento/mage

[2018-12-12 06:58] magento-engcom-team commented on #19718
Hi @avgust1111. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-12 07:16] engcom-backlog-nazar commented on #19701
@Rjgoolsby Create Tax Rules with at **least TWO rules.**
I'm tolking about tax rules on Configuration, how you apply 2 tax rules on 1 product ?

[2018-12-12 07:50] wakar opened #19720 "Integrating Magicsearch(autosearch) plugin into Magento 2 but getting Magicsearch JS error in console"
I'm integrating "jQuery Magicsearch" plugin into Magento 2,**you can get Magicsearch plugin from here:-**

[https://www.jqueryscript.net/form/Dynamic-Autocomplete-Multi-select-Plugin-With-jQuery-magicsearch.html][1]

After downloading the above plugin,you can get the JS file in the directory**"dist\js\jquery.magicsearch.js"**

For using it,i've created a simple Magento 2 module and included it's h

[2018-12-12 07:50] magento-engcom-team commented on #19720
Hi @wakar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-12-12 07:52] magento-engcom-team commented on #19720
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-12 07:53] engcom-backlog-nazar commented on #19720
Hi @wakar  thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-12 07:53] #19720 closed, assigned to nobody

[2018-12-12 08:01] magento-engcom-team commented on #19714
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-12 08:56] magento-engcom-team commented on #19714
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97088`, `MAGETWO-97089` were created

[2018-12-12 09:01] engcom-backlog-nazar commented on #19712
Hi @craigcarnell   thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-12 09:01] #19712 closed, assigned to nobody

[2018-12-12 09:02] craigcarnell commented on #19712
@orlangur This appears to be a backwards incompatible change, not noted anywhere in the release notes. I will try and do some digging.

[2018-12-12 09:49] engcom-backlog-nazar commented on #19701
hi @Rjgoolsby sorry for i misunderstood how apply 2 taxes from your description, now i'm able to reproduce it.
![selection_234](https://user-images.githubusercontent.com/40756439/49861202-03178f00-fe04-11e8-9279-6685baaf0986.png)

[2018-12-12 10:02] magento-engcom-team commented on #19718
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-12 10:02] magento-engcom-team commented on #10527
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-12 10:03] magento-engcom-team commented on #19716
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-12 10:04] TomashKhamlai commented on #19716
@magento-engcom-team give me 2.2.5 instance

[2018-12-12 10:04] magento-engcom-team commented on #19716
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-12-12 10:04] magento-engcom-team commented on #19716
Hi @TomashKhamlai, here is your [Magento instance](https://i-19716-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-19716-2-2-5.instances.magento-community.engineering/admin](https://i-19716-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-12 10:06] TomashKhamlai commented on #19716
@magento-engcom-team give me 2.2.6 instance

[2018-12-12 10:06] magento-engcom-team commented on #19716
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-12 10:06] magento-engcom-team commented on #19716
Hi @TomashKhamlai, here is your [Magento instance](https://i-19716-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19716-2-2-6.instances.magento-community.engineering/admin](https://i-19716-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-12 10:18] magento-engcom-team commented on #19701
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97092`, `MAGETWO-97093` were created

[2018-12-12 10:22] dharam1987 commented on #2531
I had the same issue, it is mostly to do with .PHP  version 7.0.x. It is working perfectly fine with PHP 7.2.0

Ensure to edit path variable for windows environment vairable and set the correct PHP path.

[2018-12-12 10:27] Delwin444 opened #19721 "Typo in SalesRule/Model/ResourceModel/Coupon/Usage.php"
### Summary (*)
There is a typo in SalesRule/Model/ResourceModel/Coupon/Usage.php file.

### Examples (*)
L:76 'customer_id =:customet_id'
L:80 $data = $connection->fetchRow($select, [':coupon_id' => $couponId, ':customet_id' => $customerId]);

### Proposed solution
"customet_id" should be "customer_id".

[2018-12-12 10:32] dharam1987 commented on #18146
I had the same issue, it is mostly to do with .PHP  version 7.0.x. It is working perfectly fine with PHP 7.2.0

Ensure to edit path variable for windows environment variable and set the correct PHP path.

![image](https://user-images.githubusercontent.com/966748/49863401-3a973300-fe26-11e8-9b01-6d046250e994.png)

![image](https://user-images.githubusercontent.com/966748/49863460-5995c500-fe26-11e8

[2018-12-12 10:43] magento-engcom-team commented on #19721
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-12 11:06] patvdleer opened #19722 "404 on attribute set select"
I've created a CSV for all the attributes and sets that need to be added and a script to import them. After doing so I'm unable to load the attribute sets in the admin while creating a new product. They (attribute sets) do show up in the list but once selected it returns a 404.

### Preconditions (*)

1. Magento CE 2.2.6 without sample data

### Steps to reproduce (*)

1. Added attributes and set

[2018-12-12 11:06] magento-engcom-team commented on #19722
Hi @patvdleer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-12 11:09] warrior7789 commented on #9486
finally i got the solution by adding new code in form.js  this is temporary solution for right now.
1) /vendor/magento/module-ui/view/base/web/js/form/form.js
    code we add

  submit: function (redirect) {
            var additional = collectData(this.additionalFields),
                source = this.source;

            _.each(additional, function (value, name) {
                source.set('data

[2018-12-12 11:19] craigcarnell commented on #19712
@pravinagham have you contacted the original author? interested in what the fix is.

[2018-12-12 11:36] craigcarnell commented on #19712
OK I found the "bodge" that other core payment methods are using.

Controller must implement CsrfAwareActionInterface

[code]

[2018-12-12 11:55] JamesP81 commented on #14952
When will 2.3.1 be available? Looking to get this fixed in a month or so.

[2018-12-12 12:02] engcom-backlog-nazar commented on #19710
Hi @carolineboivin thank you for you report. I'm trying reproduce this on clean magento instance but unsuccessful. Can you provide more detail, or maybe this related to some custom modules ?

[2018-12-12 12:32] patvdleer commented on #19722
@magento-engcom-team give me 2.2.6 instance

[2018-12-12 12:32] magento-engcom-team commented on #19722
Hi @patvdleer. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-12 12:33] magento-engcom-team commented on #19722
Hi @patvdleer, here is your [Magento instance](https://i-19722-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19722-2-2-6.instances.magento-community.engineering/admin](https://i-19722-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-12 12:36] sandeep570 commented on #7153
@0-Sony I have used your solution but when i upload video then my custom image roles were deleted.Could you please help me out>

[2018-12-12 12:37] patvdleer commented on #19722
Started digging, before the 404 request the following happens:
`/admin_/catalog/product/reload/type/simple/store/0/popup/1/componentJson/1/prev_set_id/9/key/XXX/?set=undefined&isAjax=true`

[code]

[2018-12-12 12:43] patvdleer commented on #19722
[code]

the `$name` in this case is `configurableExistingAttributeSetId`

[2018-12-12 12:48] sandeep570 opened #19723 "Using media API to upload video deletes custom image roles"
### Preconditions (*)

1. Magento 2.1.9
2. PHP 5.6.3

### Steps to reproduce (*)

1. Go to swagger or call rest API through script
2. Try updating a product with a video_url, video_title etc. with media type "external-video".
$dataset = [
		  'entry' => [
		      'id' => null,
		      'media_type' => 'external-video',
		      'position' => 0,
		      'label' => test,
		      'disabled' => 0,

[2018-12-12 12:48] magento-engcom-team commented on #19723
Hi @sandeep570. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-12 12:49] patvdleer commented on #19722
Issues seems related to:
* https://github.com/magento/magento2/issues/15117
* https://github.com/magento/magento2/issues/7825

[2018-12-12 12:49] carolineboivin commented on #19710
I could not reproduce on the provided vanilla Magento instance, since it happens when you have a custom theme with a view.xml file setting the "product_image_white_borders" to 0 and then regenerating the images with the CLI.
Although, I was able to circumvent the issue by adding a "<frame>0</frame>" value to all my problematic images types in my view.xml file. Although, this is redundant and I bel

[2018-12-12 12:50] sandeep570 commented on #19723
Yes, I can reproduce the issue in Magento 2.1.9.

[2018-12-12 12:55] engcom-backlog-nazar commented on #19710
@carolineboivin I was debugging on custom theme, and actually i set break point, and the value of product_image white borders always be set to 1, but in my config files it was 0.

[2018-12-12 12:57] magento-engcom-team commented on #19710
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97097` were created

[2018-12-12 13:03] orlangur commented on #19712
@craigcarnell,

Not really. Before using any extension with 2.3 it should be thoroughly tested by its vendor first.

[2018-12-12 13:20] magento-engcom-team commented on #19721
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97098`, `MAGETWO-97099` were created

[2018-12-12 13:34] UKRogue opened #19724 "Magento not actioning all url parameters on Product Page if a swatch/color option is included"
### Preconditions (*)
Magento 2.2.6 or Magento 2.2.3
PHP 7
Porto or Magento Blank theme

### Steps to reproduce (*)
1. Create 2 product attributes 1 for a swatch color, the other a height attribute, add a minimum of 2 options for each. ie Color Red and Blue, Height 2mm and 4mm.
2. Create 4 simple products with differant images and prices
a) product 1 with options Red, 2mm price: £2
b) product 2 wi

[2018-12-12 13:34] magento-engcom-team commented on #19724
Hi @UKRogue. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-12 13:35] orlangur commented on #19722
@patvdleer same as https://github.com/magento/magento2/issues/15117#issuecomment-394355268 - please provide clear steps to reproduce using Admin UI and not some custom scripts.

[2018-12-12 13:38] patvdleer commented on #19722
@orlangur when I use the Magento admin UI it does work but when I use a script, based on eavSetup, to install the 400+ attributes over 30 attribute sets it fails. I currently can't upgrade to Magento 2.3.0 due to https://github.com/tig-nl/postnl-magento2/issues/78

[2018-12-12 13:47] orlangur commented on #19722
@patvdleer then you should figure out how your code is different from one involved when you create entity via Admin UI instead of reporting a "bug".

[2018-12-12 13:52] magento-engcom-team commented on #19724
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-12 13:52] engcom-backlog-nazar commented on #19724
HI @UKRogue looks like this is duplicate to this one -> https://github.com/magento/magento2/issues/18017

[2018-12-12 14:00] UKRogue commented on #19724
https://github.com/magento/magento2/issues/18017 was concerning the changing of the image and the gallery loading at the wrong time to facilitate it. This issue, although similar is reference to the swatch parameter being actioned correctly, but then ignoring any additional parameters. The simple product image loads correctly, but seems to stop after that and not continue with anything else.

[2018-12-12 14:01] magento-engcom-team commented on #19723
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-12 14:17] dyron opened #19725 "Number of Lines in a Street Address can't edited through admin"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Go to the Customer Configuration section
2. Change "Number of Lines in a Street Address" to anything else then 3.
3. Save config and clear cache.

### Expected result (*)

1. The customer address edit form should contain "Number of Lines in a Street Address" street fields.

### Actual result (*)

1. The form contains always 3

[2018-12-12 14:17] magento-engcom-team commented on #19725
Hi @dyron. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-12-12 14:18] dyron commented on #19725
@magento-engcom-team give me 2.3.0 instance

[2018-12-12 14:18] magento-engcom-team commented on #19725
Hi @dyron. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-12 14:19] magento-engcom-team commented on #19725
Hi @dyron, here is your [Magento instance](https://i-19725-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19725-2-3-0.instances.magento-community.engineering/admin](https://i-19725-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-12 14:22] magento-engcom-team commented on #19721
Hi @milindsingh1. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-12-12 14:27] #19723 closed, assigned to nobody

[2018-12-12 14:29] niallttdcu commented on #19689
@magento-engcom-team give me 2.3.0 instance

[2018-12-12 14:29] #19689 closed, assigned to nobody

[2018-12-12 14:30] magento-engcom-team commented on #19689
Hi @niallttdcu. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-12 14:30] magento-engcom-team commented on #19689
Hi @niallttdcu, here is your [Magento instance](https://i-19689-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19689-2-3-0.instances.magento-community.engineering/admin](https://i-19689-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-12 14:35] sezio commented on #16171
In one year of development under m2, I ran into this issue at least 3 or 4 times on different projects that were using different magento 2 versions (2.0,2.1,2.2.2,2.2.5).
And so far, I never found a clear explanation of what means "Area code not set" or "Area code already set" as sometimes it works and sometimes it does not...
Depending of the environment, I sometimes had to include the framework

[2018-12-12 14:45] Rjgoolsby commented on #19701
@engcom-backlog-nazar. Thanks. No worries. I know you all get a lot of these and it has to be hard to sort through them all. We're just upgrading to 2.3 so I figured I would help by posting things we encounter to help. Again thanks!!!

[2018-12-12 15:35] orlangur commented on #19718
@avgust1111 such observations may be created directly as pull request ;) Thanks for your report.

[2018-12-12 15:39] sezio opened #19728 "Strings not translated in all email templates, keep curly braces around string"
Hello

In our mails, some strings are not translated and included with the curly brackets around it.
But if magento send the same mail again to an other customer, it will probably be translated fine without the curly brackets around the string.
We can't understand why the same string in the same mail templates, in the same language, are sometimes translated and sometimes not.

### Preconditions (*

[2018-12-12 15:39] magento-engcom-team commented on #19728
Hi @sezio. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-12-12 15:43] sezio commented on #19728
@magento-engcom-team give me 2.2.5 instance

[2018-12-12 15:43] magento-engcom-team commented on #19728
Hi @sezio. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-12-12 15:44] magento-engcom-team commented on #19728
Hi @sezio, here is your [Magento instance](https://i-19728-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-19728-2-2-5.instances.magento-community.engineering/admin](https://i-19728-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-12 15:51] sezio commented on #19728
Can't reproduce it on the vanilla instance because there's no possibility to install a language pack

[2018-12-12 16:00] navarr opened #19729 "Invalid "No Payment Method Needed" message in admin"
When re-ordering an order that contains only virtual products, the message "No Payment Information Required" is erroneously displayed unless you update the order

### Preconditions (*)

1. Magento 2.3.0 installed with sampledata

### Steps to reproduce (*)

1. Navigate to instance homepage
2. Login as sampledata user (Veronica Costello)
3. Enter "Solo Power Circuit" into search bar and hit enter
4

[2018-12-12 16:00] magento-engcom-team commented on #19729
Hi @navarr. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-12-12 16:00] cscd98 opened #19730 "What’s new for Magento 2.3.0 appears every time I login"
### Preconditions (*)
1. Magento 2.3.0
2. PHP 7.2.13
3. MySQL 5.7.24

### Steps to reproduce (*)
1. Install Magento 2.3.0
2. Convert settings/data using data migration tool
3. Login to admin

### Expected result (*)
1. What’s new for Magento 2.3.0 appears once. You then click on it. It never comes back.

### Actual result (*)
1. What’s new for Magento 2.3.0 light box appears
2. Close it
3. You are

[2018-12-12 16:00] magento-engcom-team commented on #19730
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-12 16:01] navarr commented on #19729
@magento-engcom-team give me 2.3.0 instance

[2018-12-12 16:01] magento-engcom-team commented on #19729
Hi @navarr. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-12 16:02] magento-engcom-team commented on #19729
Hi @navarr, here is your [Magento instance](https://i-19729-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19729-2-3-0.instances.magento-community.engineering/admin](https://i-19729-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-12 16:14] magento-engcom-team commented on #19729
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-12 16:15] nathancasebolt commented on #16171
I've triggered this error when building custom console commands. To get past it, I had to try to set the area code explicitly and catch a LocalizedException:

[code]

I'm not getting this error with vanilla Magento, so I can't test or guarantee a solution. That said, the `setup:upgrade` class instantiates and runs an `app:config:import` object like so:

[code]
(From _/ vendor / magento / magento2-

[2018-12-12 16:16] magento-engcom-team commented on #19725
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-12 17:17] AppSimone commented on #11577
If someone is looking for a quick fix I've added into .htaccess file these rewrite urls and it's working

RewriteRule ^[admin]/(.*)/key/(.*)/plugins/(.*)$ /pub/static/adminhtml/Magento/backend/en_US/tiny_mce/plugins/$3 [R=302,NC,L]

RewriteRule ^[admin]/(.*)/key/(.*)/langs/(.*)$ /pub/static/adminhtml/Magento/backend/en_US/tiny_mce/langs/$3 [R=302,NC,L]

RewriteRule ^[admin]/(.*)/key/(.*)/themes/ad

[2018-12-12 17:20] devmag1 opened #19731 "Cart Items are deleted after fail checkout"
### Preconditions (*)

1. Magento v2.1.7
2. Products should be added in the cart
3. Payment Gateway that accepts online transaction

### Steps to reproduce (*)

1. Add products to cart
2. Go to the checkout page
3. Fill out all the information
4. let's say I select PayUMoney payment gateway
5. Next, I click PLACE ORDER button (on click of this button the order gets placed as pending in the Magento

[2018-12-12 17:20] magento-engcom-team commented on #19731
Hi @devmag1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-12 17:41] nathanjosiah commented on #19685
@jignesh-baldha Thank you for investigating this issue. We have a fix internally that will be merged into 2.3-develop within the next few business days.

[2018-12-12 17:52] hryksbt commented on #13177
I faced similar error when I try to add a new configurable product.
My magento is CE 2.2.6.

If I put price for accociated child priducts such as 10000.00, this error will be occurred.
So I tried to put price such as 10000, I could skip this error.

My currency setting is JPY. JPY doesn't have decimal point price.

I think Magento 2 has price operation issue, especially "," mark or "." mark. Also,

[2018-12-12 18:08] tomekjordan commented on #19708
Confirming. Thats real disadvantage when you have 2 or more websites. Still cannot understand while Inventory tab mostyl works with global values (min/max qty allowed in the cart, increments etc).
Since Magento is multistore it should be configurable at website/store scope.
Probably you will get answer - to ask #msi to add this as "feature" :) and you ticket will be closed with no ETA

[2018-12-12 19:02] vo1 opened #19732 "Bundle Selection not loading ExtensionAttributes data"
### Preconditions (*)

1. Magento 2.3 (and possibly below)

### Steps to reproduce (*)

1. Define new extension attribute for Magento\Bundle\Api\Data\LinkInterface (bundle selection item)
[code]
2. Try reading it via $selection->getExtensionAttributes()->getSelectionSapId()

### Expected result (*)

1. Field taken from external table via join

### Actual result (*)

1. Field is not present in _dat

[2018-12-12 19:02] magento-engcom-team commented on #19732
Hi @vo1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instanc

[2018-12-12 19:05] vasilii-b opened #19733 "[Frontend] Modal content in admin area is under the close button"
Modal content in admin area is under the close button.

### Preconditions (*)

1. Magento 2.3, Magento 2.3-develop
2. Any kind of product
3. Website with one store and 2 store views (at least) OR Website with 2 stores (and each of it with one store view)
4. Access to admin area

### Steps to reproduce (*)

1. Login to admin area
2. Open any product to edit
3. Where it says "Store View: All Store V

[2018-12-12 19:05] magento-engcom-team commented on #19733
Hi @vasilii-b. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-12 19:08] magento-engcom-team commented on #19733
Hi @eduard13. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-12-12 19:10] eduard13 commented on #19733
@magento-engcom-team give me 2.3-develop instance

[2018-12-12 19:10] magento-engcom-team commented on #19733
Hi @eduard13. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-12 19:11] magento-engcom-team commented on #19733
Hi @eduard13, here is your [Magento instance](https://i-19733-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19733-2-3-develop.instances.magento-community.engineering/admin](https://i-19733-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-12 19:24] magento-engcom-team commented on #15059
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-12 19:38] shikhamis11 commented on #19729
please check #15059

[2018-12-12 20:07] navarr commented on #19729
Yeah, this looks like a duplicate. Thanks

[2018-12-12 20:07] #19729 closed, assigned to nobody

[2018-12-12 20:41] magento-engcom-team commented on #19142
Hi @tomekjordan. Thank you for your report.
The issue has been fixed in magento/magento2#19198 by @gwharton in 2.3-develop branch
Related commit(s):
 - [f6a6d11bc0219bc4847745d264f8991d04d5372e](https://github.com/magento/magento2/commit/f6a6d11bc0219bc4847745d264f8991d04d5372e)
 - [99c4d0080bde4201a1e3bce5367eb46bcd320ca7](https://github.com/magento/magento2/commit/99c4d0080bde4201a1e3bce5367eb46

[2018-12-12 20:41] #19142 closed, assigned to orlangur

[2018-12-12 20:41] magento-engcom-team commented on #19492
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#19493 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [f63ed8949f2eefec7a2513bc1c19b074f3dbe3fa](https://github.com/magento/magento2/commit/f63ed8949f2eefec7a2513bc1c19b074f3dbe3fa)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-12 20:41] #19492 closed, assigned to SyntaxKay

[2018-12-12 20:41] magento-engcom-team commented on #19607
Hi @Rjgoolsby. Thank you for your report.
The issue has been fixed in magento/magento2#19633 by @cedcommerce in 2.3-develop branch
Related commit(s):
 - [144b0288805d1c31fb412fd573785f639bf134c8](https://github.com/magento/magento2/commit/144b0288805d1c31fb412fd573785f639bf134c8)
 - [21f7afa72d490a39c59505cfe93da2cdea3c3c7e](https://github.com/magento/magento2/commit/21f7afa72d490a39c59505cfe93da2

[2018-12-12 20:41] #19607 closed, assigned to jignesh26, GovindaSharma

[2018-12-12 20:41] magento-engcom-team commented on #19639
Hi @suryakant-krish. Thank you for your report.
The issue has been fixed in magento/magento2#19640 by @suryakant-krish in 2.3-develop branch
Related commit(s):
 - [e5675102f15f7344fdef4fc49d3619351099acc2](https://github.com/magento/magento2/commit/e5675102f15f7344fdef4fc49d3619351099acc2)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-12 20:41] magento-engcom-team commented on #18990
Hi @DanieliMi. Thank you for your report.
The issue has been fixed in magento/magento2#19038 by @StasKozar in 2.3-develop branch
Related commit(s):
 - [43e2c4dae51a62e169eed7ae6761f565d6780692](https://github.com/magento/magento2/commit/43e2c4dae51a62e169eed7ae6761f565d6780692)
 - [b545997c49beec86291b4a28741c43d01c53c41e](https://github.com/magento/magento2/commit/b545997c49beec86291b4a28741c43d0

[2018-12-12 20:41] #19639 closed, assigned to suryakant-krish

[2018-12-12 20:41] #18990 closed, assigned to StasKozar

[2018-12-12 23:28] InishowenLabs opened #19737 "WYSIWYG editor inserting &quot; instead of correct " in 2.3.0 when inserting image"
### Preconditions (*)

1. Magento CE 2.3.x & 2.4-develop

### Steps to reproduce (*)

1. Content --> Block --> Insert Image... --> [select image to insert] --> WYSIWYG editor inserts: `<img src="{{media url=&quot;wysiwyg/filename.png&quot;}}" alt="" />`

### Expected result (*)

1. Should instead look like `<img src="{{media url="wysiwyg/filename.png"}}" alt="" />`

### Actual result (*)

1. The f

[2018-12-12 23:30] InishowenLabs commented on #19737
@magento-engcom-team give me 2.3.0 instance

[2018-12-12 23:30] magento-engcom-team commented on #19737
Hi @InishowenLabs. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-12 23:30] magento-engcom-team commented on #19737
Hi @InishowenLabs, here is your [Magento instance](https://i-19737-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19737-2-3-0.instances.magento-community.engineering/admin](https://i-19737-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-12 23:44] InishowenLabs commented on #19737
Verified issue exists in vanilla instance.

`<img src="{{media url=&quot;3475_2phase.png&quot;}}" alt="" />`

<img width="1352" alt="image" src="https://user-images.githubusercontent.com/17254518/49905844-72f63b80-fe3d-11e8-84f5-31269c53f98f.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/17254518/49905876-8b665600-fe3d-11e8-824f-a2ce0cd663c8.png">

Correcting t

[2018-12-13 02:02] joshuaadickerson opened #19738 "Cannot add <link rel=preconnect>"
### Preconditions (*)

1. 2.2.6
2.

### Steps to reproduce (*)

1.Create a layout file for default_head_blocks
2.Add the following:

`<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <head>
        <link rel="preconnect" href="https://example.com" crossorigin="crossori

[2018-12-13 02:02] magento-engcom-team commented on #19738
Hi @joshuaadickerson. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-12-13 02:08] joshuaadickerson commented on #19738
Also, crossorigin needs to be added

[2018-12-13 03:04] Yamaha32088 opened #19739 "Error in Magento_ConfigurableProduct upgrade step"
### Preconditions (*)

1. Magento 2.2.2
2. Latest stable PHP 7.2
3. Latest stable composer
4. Ubuntu 16.04

### Steps to reproduce (*)

1. Follow upgrade instructions on this page https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html

### Expected result (*)

1. Upgraded Magento version

### Actual result (*)

1. An exception when executing the `php bin/magento setup:upgrade` step

[2018-12-13 03:04] magento-engcom-team commented on #19739
Hi @Yamaha32088. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-13 03:29] #19739 closed, assigned to nobody

[2018-12-13 03:33] magento-engcom-team commented on #19738
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-13 03:40] milindsingh commented on #19738
@joshuaadickerson I think it's a feature request. Resource Prioritization is still missing in Magento.

[2018-12-13 03:53] Yamaha32088 commented on #19739
@milindsingh That was a typo I meant to say PHP 7.2

[2018-12-13 03:55] Yamaha32088 commented on #19739
Please reopen.

[2018-12-13 04:03] gilbertsohal opened #19740 "2.2.6 to 2.2.7 Upgrade - Create New Customer Account DOB calendar not showing"
### Preconditions (*)

1. Magento 2.2.7
2. PHP 7.1

### Steps to reproduce (*)

1. Upgrade Magento 2.2.6 to 2.2.7
2. Add Dob field optional or mandatory
3. Check Create New Customer Account Page

### Expected result (*)

1. Create New Customer Account Page work as normal with DOB calendar icon field
2. Click on DOB Calendar icon show DOB calendar to select DOB
3. No JS errors showing in console

S

[2018-12-13 04:03] magento-engcom-team commented on #19740
Hi @gilbertsohal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-13 04:50] NiteshKuyate commented on #3917
Same issue here also, tried reindexing after reset also.

[2018-12-13 06:36] kunj1988 commented on #19737
Is anyone has resolved it?

[2018-12-13 06:49] Jeeva-Rathinam commented on #19480
@vincent-bosche  Did you solve in windows platform?

[2018-12-13 07:10] magento-engcom-team commented on #19737
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-13 07:10] magento-engcom-team commented on #19740
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-13 07:14] kunj1988 commented on #19737
@engcom-backlog-andrii I have resolved this issue can you assign this task to me?

[2018-12-13 07:30] PathToLife commented on #19480
@Jeeva-Rathinam No

[2018-12-13 07:39] magento-engcom-team commented on #19731
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-13 07:40] magento-engcom-team commented on #19730
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-13 07:43] engcom-backlog-nazar commented on #19730
Hi @craigcarnell   thank you for your report,  problems with data migration  must be reported in https://github.com/magento/data-migration-tool repository.

[2018-12-13 07:43] #19730 closed, assigned to nobody

[2018-12-13 07:59] engcom-backlog-nazar commented on #19733
Hi @vasilii-b thank you for you report,  this issue has already fixed on 2.3-develop branch.

[2018-12-13 07:59] #19733 closed, assigned to vasilii-b

[2018-12-13 08:00] magento-engcom-team commented on #19728
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-13 08:02] engcom-backlog-nazar commented on #19731
Hi @devmag1  i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2018-12-13 08:02] #19731 closed, assigned to nobody

[2018-12-13 08:05] magento-engcom-team commented on #19724
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97126`, `MAGETWO-97127` were created

[2018-12-13 08:06] magento-engcom-team commented on #19722
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-13 08:11] engcom-backlog-nazar commented on #19708
HI @craigcarnell @tomekjordan this opportunity available on MSI module look -> https://github.com/magento-engcom/msi

[2018-12-13 08:11] #19708 closed, assigned to nobody

[2018-12-13 08:18] engcom-backlog-andrii commented on #19725
Hi @dyron. Thank you for your report. I'm not able to reproduce following steps you described. Please see attachment of screen:
![street_address](https://user-images.githubusercontent.com/41946904/49924986-59e29e80-fec0-11e8-9a07-fb8790eaed10.png)

[2018-12-13 08:18] #19725 closed, assigned to nobody

[2018-12-13 08:19] engcom-backlog-nazar commented on #19722
Hi @patvdleer thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.
If you like to update this, please reopen the issue.

[2018-12-13 08:19] #19722 closed, assigned to nobody

[2018-12-13 08:33] engcom-backlog-nazar commented on #19738
HI @joshuaadickerson thank you for report you can add your links in ->
1. In the Admin panel on the left click Content > Configuration and edit the third Design
2. Configuration record, which edits the Default Store View
3. Scroll down and find the HTML Head Settings. When you open up these settings you should see a text area for “Scripts and Style Sheets.”
4. Add the following tags after the CSS:

[2018-12-13 08:33] #19738 closed, assigned to nobody

[2018-12-13 08:37] gitgiangalbe commented on #18504
@DanielRuf: Solution seem correct. Sys Admin block their network using CIDIR notation. Issue rise from early Magento 2 installation where form is not under captcha security. This Issue born from one new Magento 2 installation where input forms is not under captcha security and, for my forgetfulness i didn't block all ip except just one of mine.

[2018-12-13 08:53] magento-engcom-team commented on #19737
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97128` were created

[2018-12-13 08:54] peterlembke opened #19741 "Customer import do not reindex customer grid"
Customers that have been imported with the Magento importer do not show up in the admin customer grid.

### Preconditions (*)
Magento CE 2.2.5
Magento CE 2.3-develop branch

### Steps to reproduce (*)
Use Admin >> System >> Import >> "Customers main file" and import a customer file.

### Expected result (*)
Expect new customers to be visible in the admin customers grid.

### Actual result (*)
New

[2018-12-13 08:54] magento-engcom-team commented on #19741
Hi @peterlembke. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-13 08:55] magento-engcom-team commented on #19741
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-13 08:57] engcom-backlog-nazar commented on #19732
Hi @vo1 thank you for you report, i'm not able to reproduce following steps you described, Please try create extension attributes correctly.
[code]
In the following example, an attribute named stock_item of type Magento\CatalogInventory\Api\Data\StockItemInterface added to the Magento\Catalog\Api\Data\ProductInterface.
If you like to update this please reopen the issue.

[2018-12-13 08:57] #19732 closed, assigned to nobody

[2018-12-13 08:58] rauberdaniel commented on #13952
General question: What would happen if there would be a `UNIQUE` constraint set to the `quote_id` column of the `sales_order` table. That would prohibit the creation of duplicate orders for the same quote in any case, however, I’m not sure if it has any problematic side effects or what the result on customer side would be in such a case.

(But in general I feel like this constraint should be set a

[2018-12-13 09:04] gitgiangalbe commented on #18504
@TomashKhamlai : actually your example demonstrate that in not simple to hack magento 2 but probably technique used by the spammer is different or your example lack some variable.
I suspect the attack indicated in the initial post becouse i found multiple request in access log ie identical pairs of requests.

[2018-12-13 09:14] molovo opened #19742 "Widgets with a WYSIWYG parameter fail when inserting them into a WYSIWYG in a form."
### Preconditions (*)

This is occurring for me in two separate Magento 2 projects, using the following versions.

1. Magento Enterprise Edition v2.2.5
2. Magento Community Edition v2.2.5

### Steps to reproduce (*)

(Code examples in [this gist](https://gist.github.com/molovo/051e3882b802fa383a9b1b1b7e4f81c0))

1. Create a WYSIWYG block as shown in [Wysiwyg.php](https://gist.github.com/molovo/051

[2018-12-13 09:14] magento-engcom-team commented on #19742
Hi @molovo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-12-13 09:15] magento-engcom-team commented on #19742
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-13 09:16] molovo commented on #19742
@magento-engcom-team give me 2.2.6 instance

[2018-12-13 09:16] magento-engcom-team commented on #19742
Hi @molovo. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-13 09:17] magento-engcom-team commented on #19742
Hi @molovo, here is your [Magento instance](https://i-19742-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19742-2-2-6.instances.magento-community.engineering/admin](https://i-19742-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-13 09:20] patvdleer commented on #19722
Question moved to StackOverflow https://stackoverflow.com/questions/53758429/magento-ce-2-2-x-unable-to-set-attribute-set-for-new-product

[2018-12-13 09:46] engcom-backlog-nazar commented on #19742
Hi @molovo it looks like duplicate to -> https://github.com/magento/magento2/issues/13409. isn't ?

[2018-12-13 09:52] yaroslav-zenin commented on #16237
@engcom-backlog-nazar

any URL to commit?

[2018-12-13 10:01] mfickers commented on #19705
There is already [this pull request](https://github.com/magento/magento2/pull/17275) which fixed the same issue in 2.2, the fix was ported to 2.3, but does not seem to work anymore.

[2018-12-13 10:03] yaroslav-zenin commented on #16237
Found that issue was caused by commit https://github.com/magento/magento2/commit/377668493512c25d6ba94c2fdff1a9f6a35e3530#diff-25b137703a62acb5686fb2e5ab17ec5a

[2018-12-13 10:03] yaroslav-zenin commented on #16686
Found that issue was caused by commit https://github.com/magento/magento2/commit/377668493512c25d6ba94c2fdff1a9f6a35e3530#diff-25b137703a62acb5686fb2e5ab17ec5a

[2018-12-13 10:04] molovo commented on #19742
@engcom-backlog-nazar technically yes, but that issue seems abandoned - there has been no update other than acknowledgement and nofurther information for almost a year.

[2018-12-13 10:06] sfsf7ob opened #19743 "magento 2.1 upgrade to 2.2.7 error css not loading backend and frontend"
### Summary (*)

### Examples (*)

### Proposed solution

[2018-12-13 10:06] magento-engcom-team commented on #19743
Hi @sfsf7ob. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-13 10:08] sfsf7ob commented on #19743
i have upgrade from 2.1.9 to 2.2.7 and error show in css : refused to apply style from mime type angular
so i try flush cache and deploy also but nothing change

[2018-12-13 10:08] engcom-backlog-nazar commented on #19742
@molovo ok we can close an older issue and leave this one open ?

[2018-12-13 10:11] wojtekn commented on #13153
I also spot this issue. Fix backported from 2.3 to 2.2 seems to fix it, however, only in CE code. Use case in EE is still broken due to \Magento\CustomerBalance\Plugin\CreditMemoResolver::afterCanCreditmemo method behavior.

Also, it looks that after applying the fix "Credit Memo" button appears on order page but it's still not visible on the invoice page. It's caused by different conditions check

[2018-12-13 10:12] magento-engcom-team commented on #19743
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-13 10:12] sibhis commented on #19618
We face similar issue in customer registration page. Sometime, customer account is created successfully without captcha even if it enabled in admin configuration and sometime shows error message like 'Incorrect Captcha'

[2018-12-13 10:13] engcom-backlog-nazar commented on #19743
Hi @sfsf7ob     thank you for you report, i'm not able to reproduce following steps you described
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-13 10:13] #19743 closed, assigned to nobody

[2018-12-13 10:15] magento-engcom-team commented on #19741
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97133`, `MAGETWO-97134` were created

[2018-12-13 10:18] molovo commented on #19742
@engcom-backlog-nazar 👍 sounds good to me

[2018-12-13 10:22] engcom-backlog-nazar commented on #13409
Hello everyone, we close this ticket and postpone the discussion to the new one ->https://github.com/magento/magento2/issues/19742

[2018-12-13 10:22] #13409 closed, assigned to nobody

[2018-12-13 10:29] pjw345 opened #19744 "Magento 2.3.0 - Flush Static Files Cache"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1.25

Site has a digital certificate
Stores -> Configuration -> Web -> Base URLs (secure) -> Use Secure URLs in Admin -> Yes

### Steps to reproduce (*)

1. System -> Cache Management -> Flush Static Files Cache

### Expected result (*)

1. Should flush the static files cache

### Actual result (*)

1. Flushes the static files cache
2a. On next acti

[2018-12-13 10:35] engcom-backlog-nazar commented on #19741
Hi @peterlembke this is expected behavior, to do the reindex after you import the customers, you can configure cron job to reindex your customers.
https://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-index.html

[2018-12-13 10:35] #19741 closed, assigned to nobody

[2018-12-13 10:48] pjw345 commented on #19744
I can confirm this happens on a vanilla Magento 2.3.0 version

[2018-12-13 10:55] engcom-backlog-andrii commented on #19740
Hi @gilbertsohal. Thanks for the report. I'm not able to reproduce following steps you described. Please see attachment of screen.
![dob](https://user-images.githubusercontent.com/41946904/49934187-5a862f80-fed6-11e8-91ed-cb93a5c62c9a.png)

[2018-12-13 10:55] #19740 closed, assigned to nobody

[2018-12-13 10:57] zukovasmartynas commented on #12298
Does any one knows if this was fixed in further releases ( < 2.2.5) ?
We have the same issue with 2.2.5 version

[Fix by manually removing quotes](https://github.com/magento/magento2/issues/12298#issuecomment-377306496)
Fix by manually removing quotes has worked for us, but we are not going to do that everytime.

[2018-12-13 10:58] Shubham988 opened #19745 "module fedex"
Module FedEx is not updated according to the latest version of FedEx and due to this it is generating old shipment label which FedEx is not approving.

[2018-12-13 10:58] magento-engcom-team commented on #19745
Hi @Shubham988. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-13 11:04] mshafique101 opened #19746 "magento 2.26 Product description is missing in few product pages"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.php 7.1
2.upgrade magento 2.2.2 to 2.2.5 and then 2.2.6

### Expected result (*)

1. Product description is missing in few products
2.

### Actual result (*)

1. Description must be visible at front end
2.

[2018-12-13 11:04] magento-engcom-team commented on #19746
Hi @mshafique101. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-13 11:06] magento-engcom-team commented on #19746
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-13 11:07] engcom-backlog-nazar commented on #19746
Hi @mshafique101. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Then reopen the issue.

[2018-12-13 11:07] #19746 closed, assigned to nobody

[2018-12-13 11:09] barryvdh commented on #10469
We're still having this same issue. Is there a fix for this yet?

[2018-12-13 11:11] mshafique101 commented on #19746
product description is missing in few product after upgrading magento 2.2.2 to 2.2.5 and then 2.2.6
Php 7.1
Reporduce on vanilla magento
Product description must be visible at front end

[2018-12-13 11:12] magento-engcom-team commented on #19746
Hi @mshafique101. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2018-12-13 11:12] mshafique101 commented on #19746
ok looking forward

[2018-12-13 11:15] lyusya-nnn opened #19747 "Can not delete address from address book"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Create an account
2. Add additional addresses to address book
3. Click on ' Delete Address' link in address book

### Expected result (*)

Additional address is removed from address book

### Actual result (*)

Customer is redirected to 404 not found page

![desktop screenshot](https://user-images.githubusercontent.com/8502721/4

[2018-12-13 11:15] magento-engcom-team commented on #19747
Hi @lyusya-nnn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-13 11:17] magento-engcom-team commented on #19747
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-13 11:32] namratavora opened #19748 "Wishlist button issue"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Add product into Wishlist
2. Go to my Wishlist

### Expected result (*)

**Add to cart** and **Share wishlist** button should be primary color.
![2018-12-05_14-58-28](https://user-images.githubusercontent.com/24732024/49935964-84504e00-fef8-11e8-868d-5b887e2af248.jpg)

### Actual result (*)

Currently, All buttons have same colo

[2018-12-13 11:32] magento-engcom-team commented on #19748
Hi @namratavora. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-13 11:34] namratavora commented on #19748
@magento-engcom-team give me 2.3-develop instance

[2018-12-13 11:35] magento-engcom-team commented on #19748
Hi @namratavora. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-13 11:35] magento-engcom-team commented on #19748
Hi @namratavora, here is your [Magento instance](https://i-19748-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19748-2-3-develop.instances.magento-community.engineering/admin](https://i-19748-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-13 11:38] namratavora commented on #19748
I can reproduce issue on 2.3-develop instance.

[2018-12-13 11:53] magento-engcom-team commented on #19748
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-13 11:57] engcom-backlog-nazar commented on #19748
Hi @namratavora .  We cannot consider it as an "issue" since the mentioned buttons have "action" class without "primary" class. It's done for a purpose like on the shopping cart page (update, clear, apply coupon). It does not mean that the buttons style is wrong somehow, it's just different. The design idea did not highlight these buttons as primary.

[2018-12-13 11:57] #19748 closed, assigned to nobody

[2018-12-13 11:58] namratavora commented on #19748
I have checked those button color different on Magento 1's rwd theme so I have recommended to you.

[2018-12-13 12:02] engcom-backlog-nazar commented on #19748
@namratavora  this is new theme and new standards, this is not  `RWD` theme.

[2018-12-13 12:09] engcom-backlog-andrii commented on #19747
Hi @lyusya-nnn. Thanks for the report. I'm not able to reproduce following steps you described. Please see attachment of screen.
![delete_address](https://user-images.githubusercontent.com/41946904/49937818-a9d15d80-fee0-11e8-98da-b244370ce40c.png)

[2018-12-13 12:09] #19747 closed, assigned to nobody

[2018-12-13 12:19] craigcarnell commented on #19730
How do you know it's a problem with data migration? :P

[2018-12-13 13:04] TomashKhamlai commented on #19716
I cannot reproduce this issue.

### Steps to reproduce:
1. Get Magento Metapackage
`composer create-project --repository=https://repo.magento.com/ magento/project-community-edition:2.2.5 .`
2. Install Magento. I prefer to do this from the CLI:
[code]
3. Login to Admin
4. Navigate to **Stores > Attributes > Product**
5. Add 2 options to the attribute
6. Navigate to **Stores > Attributes > Attribute

[2018-12-13 13:05] #19716 closed, assigned to TomashKhamlai

[2018-12-13 13:06] mvenghaus opened #19753 "mage/translate - window context / checkout missing translations"
### Summary (*
In every Magento 2.x version I had the problem that sometimes the translations in the checkout were missing .. but after pressing STRG+F5 they are suddenly correct.

After some digging I found out that there is a conflict between mage/translate and the wirecard datastorage js. The problem is that both files have a function called "add". Both files have this function i the context of

[2018-12-13 13:06] magento-engcom-team commented on #19753
Hi @mvenghaus. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-13 13:09] lyusya-nnn commented on #19747
Please make sure you are using the latest version - 2.3.0

Delete request is sent as GET request in magento2/app/code/Magento/Customer/view/frontend/web/js/address.js

 confirm({
                content: this.options.deleteConfirmMessage,
                actions: {

                    /** @inheritdoc */
                    confirm: function () {
                        if (typeof $(e.target).pare

[2018-12-13 13:44] cscd98 opened #19754 "Update folder and should it be included in own github repo?"
### Summary (*)
When installing via composer a folder called update is added.
Do this need adding to my own github repo for the project, or is it best to omit it by adding to .gitignore?

### Examples (*)
When I clone my repo down again, update is not installed when I run composer install.

Should update/ folder be added to my own github repo?

### Proposed solution

[2018-12-13 13:44] magento-engcom-team commented on #19754
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-13 13:51] magento-engcom-team commented on #19742
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97136`, `MAGETWO-97137` were created

[2018-12-13 14:18] magento-engcom-team commented on #19745
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-13 14:23] engcom-backlog-nazar commented on #19745
Hi @Shubham988   thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-13 14:23] #19745 closed, assigned to nobody

[2018-12-13 14:26] #19728 closed, assigned to nobody

[2018-12-13 14:44] frostblogNet opened #19755 "telefonnumber is a required filed in admin backend when it is set to optional in customer configuration"
### Summary (*)

If the telefonnumber is set to optional (store -> configuration -> customer -> customer configuration -> Name and Address Options -> Show Telephone) and you go to the admin section customer. If you try to change the address of an existing user the telefonnumber is marked as required.

### Preconditions (*)
.

    Magento Enterprise Edition v2.2.7
    Magento Community Edition v2.2

[2018-12-13 14:44] magento-engcom-team commented on #19755
Hi @frostblogNet. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-13 14:47] magento-engcom-team commented on #19755
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-13 14:55] lyusya-nnn commented on #19747
thanks!

[2018-12-13 14:56] frostblogNet commented on #19755
@magento-engcom-team give me 2.3-develop

[2018-12-13 15:11] TomashKhamlai commented on #6367
@amenk, thank you for reporting this issue. I reproduced your issue.
Here is the output:
[code]

I do not see any `app/design/frontend/*` so it is still the issue.

[2018-12-13 15:12] magento-engcom-team commented on #19755
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97138` were created

[2018-12-13 15:16] kanduvisla commented on #5499
I'm stumbling on this issue now. The `PHPSESSID` cookie gets removed as soon as I am redirected to the payment page of my PSP, and when I return the cookie is gone. Magento does not create a new one at this point, resulting in an infinite amount of sessions being created and nothing works (cannot add products to cart and stuff because of the missing session ID link).

I'm running Magento 2.2.6

[2018-12-13 15:19] engcom-backlog-andrii commented on #19755
Hi @frostblogNet, thank for you report the fix for this issue has already avaible on 2.3-develop branch, and will be avaible on next 2.3.1 release

[2018-12-13 15:19] #19755 closed, assigned to nobody

[2018-12-13 15:23] orlangur commented on #19084
@williankeller no, third party libraries are updated from time to time by core team, then Magento is thoroughly tested and all observed bugs are fixed before such update is released.

Just that there is no need to use fresher version of some library unless there is a crucial feature for your project or some critical fix.

[2018-12-13 15:30] granthony commented on #14451
@engcom-backlog-nazar I am able to replicate this issue on a Magento 2.2.6 install.  Can you please advise what commits were made to resolve it?

[2018-12-13 15:30] nickpiro commented on #19716
This shouldn't be closed. I installed a vanilla version of 2.2.5 and upgraded to 2.2.6 and also had the error.

[2018-12-13 15:34] Yamaha32088 commented on #19739
@milindsingh  @engcom-backlog-nazar please reopen this issue

[2018-12-13 15:38] TomashKhamlai commented on #19744
@pjw345, thank you for reporting this issue.
I will post here a recording where everything works.
The possible reasons:
 - as you mentioned `php bin/magento setup:upgrade` can be the problem if upgrade wasperformed with errors.
 - there is an issue with logging off but this issue exissts regardless of the web protocol or static cache

[2018-12-13 15:45] engcom-backlog-nazar commented on #19739
@Yamaha32088 i'm will retest

[2018-12-13 15:51] TomashKhamlai commented on #19744
I was able to reproduce this twice in a row, so I changed my mind.

[2018-12-13 16:10] Userr017 commented on #14952
Someone quick fix for Magento 2.2.7?

[2018-12-13 16:17] magento-engcom-team commented on #19744
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97141` were created

[2018-12-13 16:36] TomashKhamlai commented on #19716
As I can see you already know about #18134. It is hard to imagine that there is a problem that one cannot upgrade because of an attribute and other get Magento upgraded but an attribute doesn't exist after upgrade.

[2018-12-13 16:47] magento-engcom-team commented on #6367
@TomashKhamlai Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-12-13 16:49] DanielRuf commented on #14952
@Userr017 see https://github.com/gwharton

[2018-12-13 16:50] magento-engcom-team commented on #6367
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-13 17:19] bentideswell commented on #19671
I understand that this isn't a bug and not even an issue but if it was possible to allow a custom translation function to be defined without breaking any Magento functionality, would that be an issue?

I have created a simple [pull request](https://github.com/magento/magento2/pull/19756) that does exactly this. It delays the loading of the __ function to after the app/autoload.php file has finishe

[2018-12-13 17:23] fguerret commented on #6484
I have exactly the same technical issue. The steps are what is written: create the code above and compile. Expected result is the name of the integration (here "TestIntegration") showing in the admin panel under system / integrations, as the documentation says. But the result is that nothing is showing. The feature seems just not to be implemented. As for the version it looks like anarbayramov use

[2018-12-13 18:12] duffner commented on #14586
@slavvka, what you're saying is correct, however that's the bug.  The feature is not consistent as there are two locations for item cart count in the "mini cart" once in the header display, the other within the minicart itself.

[2018-12-13 18:13] duffner commented on #14586
Please ask questions before "closing" if you do not understand.

[2018-12-13 18:14] duffner commented on #14586
If it's not a bug, please answer the following question . "How can you have 5 items and 2 items in the cart at the same time?"  This makes absolutely no sense.

[2018-12-13 18:17] duffner commented on #16383
@orlangur , "This is intended system behavior. Parent product setting takes precedence over child product one"

I believe this to be incorrect as pricing, tiered pricing, and basic inventory features of the child take precedence. Why would one random feature be the opposite?

[2018-12-13 18:19] duffner commented on #16383
Magento 1 followed what you believe as "expected" however, Magento 2, redesigned this to take the child products as priority.

[2018-12-13 18:36] orlangur commented on #16383
@duffner I have no idea whether it was revised in M2 or unintentionally changed.

You can describe such feature as you see it in https://github.com/magento/community-features. Looks like it would be nice to have some generic way to give priority to child or parent product.

[2018-12-13 18:40] jojotjebaby commented on #13269
I just did some testing and the problem seems to come from the \Magento\Framework\Escaper::escapeHtml.

The line 74 should convert the data to htmlentities

[code]

But the & are not escaped. When adding a htmlentities() on $string, the & signs are escaped.
Why does mb_convert_encoding doesn't escape & ?!

[2018-12-13 19:51] gclift commented on #16419
Hey @Prizm4all,

The _patch_ command on linux can be used for one off patches. Using composer will always apply the patch on updates which is the best practice if you are going to use patches. Note, the patch file jordanbernadel submit was applied to line 444 but on our 2.2.6 instance, the starting line was 450.

Here is a good article on using composer to add the patch. https://support.magento.co

[2018-12-13 21:13] tkacheva commented on #14586
@duffner thanks for catching that. In Luma theme we have "items" label hidden with CSS so didn't see the inconsistency.
The correct behavior would be:
1. Update the labels under **Sales -> Checkout -> My Cart Link ** to be
Number of products in cart
Total number of items in cart

![screen shot 2018-12-13 at 2 30 40 pm](https://user-images.githubusercontent.com/5603216/49967319-1bf97080-fee8-11e8-8

[2018-12-13 21:31] dverkade commented on #19481
@orlangur the Magento_SampleData module is part of the Magento core. It holds the console commands to install the sample data. So if we check if the file in this location is present: `app/code/Magento/SampleData/composer.json` We can be sure that Magento was installed doing a git clone.

[2018-12-14 01:03] TheExplorerMO commented on #9884
@Celoain quick fix works but on Magento 2.2.6, you need to change:
`$images[$product->getId()][$image->getPositionDefault()] =`
to
`$images[$product->getId()][$image->getPositionDefault() -1] =`

[2018-12-14 01:04] barbazul commented on #8508
For all of you still struggling with this issue (like myself) here is the fix proposed in module format:

https://github.com/SemExpert/SemExpert_TranslationsFix

[2018-12-14 03:10] Yamaha32088 commented on #7967
The problem appears to be a typo in this file https://github.com/magento/magento2/blob/0eb8677b0b4e35606032e856cc1ef7c80e68829f/app/code/Magento/Catalog/ViewModel/Product/Breadcrumbs.php#L108 it should be `useCategoryPathInUrl` instead because https://github.com/magento/magento2/blob/0d9962302eb40c402c4080338fce45efa2744f93/app/code/Magento/Catalog/view/frontend/web/js/product/breadcrumbs.js#L17 i

[2018-12-14 03:44] mikeguy commented on #19549
Same issue here. No fix for this yet?

[2018-12-14 05:05] jaimin-ktpl opened #19761 "Custom import adapter data validation issue"
### Preconditions (*)

1. Magento 2.3
2. PHP 7.1.22

### Steps to reproduce (*)

1. Create a custom import adapter extending `Magento\ImportExport\Model\Import\Entity\AbstractEntity`
2. Add valid columns in `getValidColumnNames()` function.
    e.g. ['column1', 'column2', 'column3']
3. Create CSV file with columns stated above and add data.
4. Go to System > Import
5. Select your adapter from "Ent

[2018-12-14 05:05] magento-engcom-team commented on #19761
Hi @jaimin-ktpl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-14 05:14] pmclain opened #19763 "Admin Sales Order Create Fails with PayflowPro"
### Preconditions (*)
1. Magento 2.3.0
2. Configure Paypal PayFlow Pro for credit card payment method

### Steps to reproduce (*)
1. Create new order in admin panel
2. Select credit card payment method for PayFlow Pro

### Expected result (*)
1. Order placement succeeds

### Actual result (*)
1. Order creation fails with error `Invalid account number`

The order creation fails because `Magento_Pay

[2018-12-14 05:14] magento-engcom-team commented on #19763
Hi @pmclain. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-14 06:36] ssmadsen commented on #14409
@magento-engcom-team
I reproduced this issue in Magento 2.3.0.

Saving my configurations in my Configurable Products throws the "Sku is longer than 64......" error.

[2018-12-14 06:56] magento-engcom-team commented on #19763
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-14 07:00] magento-engcom-team commented on #19761
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-14 07:01] magento-engcom-team commented on #19754
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-14 07:02] magento-engcom-team commented on #19623
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-14 07:32] engcom-backlog-nazar commented on #19754
Hi @craigcarnell thank you for you report,
In some cases, you might need to update the updater application, which is responsible for updating components and the Magento application. You should do this only if instructed to do so.
 you can just delete update folder and run "composer create-project magento/updater --repository-url=https://repo.magento.com/ update" to have new version of Updater.

[2018-12-14 07:32] #19754 closed, assigned to nobody

[2018-12-14 07:33] magento-engcom-team commented on #19753
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-14 07:58] magento-engcom-team commented on #19761
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97146`, `MAGETWO-97147` were created

[2018-12-14 08:18] engcom-backlog-nazar commented on #19753
HI @mvenghaus  thank you for you report **wirecard**
the GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-14 08:30] mvenghaus commented on #19753
@engcom-backlog-nazar i know, but the problem is caused because of the wrong context of mage/translate. I think it's s.th. you should optimize. If you google this type of error there are a lot of people who have this problem with different 3rd party modules.

mage/translate lives in the context of window:
window.add()
window.translate()

It should only live in:
$.mage.translate.XXX

![image](https

[2018-12-14 08:30] engcom-backlog-nazar commented on #19717
Hi @bilalyounus Thank you for you report, this issue has already fixed in 2.3-develop branch , and available on 2.3.0 release.

[2018-12-14 08:30] #19717 closed, assigned to nobody

[2018-12-14 08:40] magento-engcom-team commented on #19753
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97148`, `MAGETWO-97149` were created

[2018-12-14 08:42] Vladwww2015 opened #19771 "Bag inventory after place order bellow 0"
### Preconditions (*)

1. 2.1.x
2. 2.2.x
3. 2.3

### Steps to reproduce (*)

1. We set the quantity of product 4 (in stock)
2. Two browser tabs (incognito and simple)
3. In different tabs add 3 products to the cart
4. Go to checkout and fill in all fields
5. We try to place orders as quickly as possible and at the same time.
6. Orders are made and the quantity decreases less than 0
see screencast

[2018-12-14 08:42] magento-engcom-team commented on #19771
Hi @Vladwww2015. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-14 08:43] magento-engcom-team commented on #19771
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-14 09:20] engcom-backlog-nazar commented on #19771
HI @Vladwww2015 how you can reproduce this, becouse i tru several times but no have actual result.
![invertory](https://user-images.githubusercontent.com/40756439/49994471-4273e600-ff92-11e8-864b-43b8f44b40a5.gif)

[2018-12-14 09:29] ecling opened #19772 "main.CRITICAL: Invalid template file"
### Preconditions (*)

1.  windows
2.  PHP 7.1.9
3. Apache 2.4.27
4. Mysql 5.7.19
5. Magento-CE-2.3.0

### Steps to reproduce (*)

 Invalid template file for every module

### Expected result (*)

![image](https://user-images.githubusercontent.com/8486364/49995651-bb416500-ffc7-11e8-9b0d-1ac422a81445.png)

### Actual result (*)

1. admin login page
![image](https://user-images.githubusercontent.co

[2018-12-14 09:30] engcom-backlog-nazar commented on #19772
Hi @ecling. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Then reopen this issue.

[2018-12-14 09:30] #19772 closed, assigned to nobody

[2018-12-14 09:31] magento-engcom-team commented on #19772
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-14 09:39] zulus commented on #18253
Knock knock? Is this part of 2.2.7 or I have to upgrade to 2.3.0?

[2018-12-14 09:51] ecling opened #19774 "Invalid template file all module"
### Preconditions (*)

1.  windows
2.  PHP 7.1.9
3. Apache 2.4.27
4. Mysql 5.7.19
5. Magento-CE-2.3.0

### Steps to reproduce (*)

 Invalid template file for every module

### Expected result (*)

![image](https://user-images.githubusercontent.com/8486364/49995651-bb416500-ffc7-11e8-9b0d-1ac422a81445.png)

### Actual result (*)

1. admin login page
![image](https://user-images.githubusercontent.co

[2018-12-14 09:51] magento-engcom-team commented on #19774
Hi @ecling. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-12-14 10:01] LouNik1984 opened #19775 "2.2.5 wrong swatch admin value when adding value via php"
### Preconditions (*)
 - Magento 2.2.5 with php 7
 - Have a product attribute set as text attribute

### Steps to reproduce (*)
 - add a new option via php code

### Expected result (*)
After the code has run, I can see the new option correctly under the list of options with all values and labels under their right column

### Actual result (*)
New option is added and labels for both admin and stor

[2018-12-14 10:01] magento-engcom-team commented on #19775
Hi @LouNik1984. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-14 10:10] magento-engcom-team commented on #19774
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-14 10:13] engcom-backlog-nazar commented on #19774
Hi @ecling **Windows**
This is not a valid environment, please check https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2018-12-14 10:13] #19774 closed, assigned to nobody

[2018-12-14 10:21] simonmaass commented on #18253
I am still having this issue in 2.2.7

[2018-12-14 10:36] priti2jcommerce commented on #19748
Hi @engcom-backlog-nazar ,
I have seen the white space at top of the button, is this proper or  issue?

![2018-12-14_16-01_d1342480-fef8-11e8-8a](https://user-images.githubusercontent.com/18118695/49998314-fd63aa00-ffb9-11e8-8701-3640529d4f9c.jpg)

Please check the attach.

[2018-12-14 11:13] LouNik1984 commented on #19775
do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

How can I reproduce the issue on a given istance? Php code needs to run and I have no way of accessing the files to run the script

[2018-12-14 11:18] milindsingh commented on #19775
@LouNik1984 I don't think its a Magento issue so I am closing it as it cannot be reproduce in the vanilla Magento instance.

[2018-12-14 11:18] #19775 closed, assigned to nobody

[2018-12-14 11:45] SoCix commented on #14952
I am on 2.3 and still having this, any solution without additional modules please.

[2018-12-14 11:47] gwharton commented on #14952
As previously stated

#18471 is fix for 2.3 approved but not merged yet

#18472 is fix for 2.2 currently on hold, would imagine will be merged once 2.3 fix is applied.

You can manually apply these PR's to your install and they will get overwritten on the next release (which will hopefully have the fix)

[2018-12-14 11:58] magento-engcom-team commented on #19763
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97154` were created

[2018-12-14 11:59] afavata commented on #19549
Just upgraded to 2.3 and Design Configuration - Global or Website or View page do keep loading infinitively.
Is there a patch to quickly resolve this issue???
Thanks

[2018-12-14 12:22] michelecanal commented on #19549
Look at andy17612 solution

[2018-12-14 12:27] cedarvinda opened #19777 "Footer is not aligned fine in admin panel"
In admin panel footer is not aligned fine and extra spacing bellow the text
Magento 2.3-develop

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Steps to reproduce
Step 1: Go to admin panel url
Step 2: Login as admin user in admin panel
Step 3: and look the footer

### Expected result (*)

![screenshot-192 168 0 206-2018 12 14-17-41-52](https://user-images.githubuse

[2018-12-14 12:35] shikhamis11 commented on #19777
@magento-engcom-team give me 2.3 develope instance

[2018-12-14 12:35] magento-engcom-team commented on #19777
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3 develope instance for you

[2018-12-14 12:43] engcom-backlog-nazar commented on #19777
Hi @cedarvinda this is not a bug, look at this commit -> https://github.com/magento/magento2/pull/18538

[2018-12-14 12:43] #19777 closed, assigned to nobody

[2018-12-14 12:48] cedarvinda commented on #19777
@magento-engcom-team Ok, got it

[2018-12-14 13:09] SoCix commented on #14952
I am on 2.3 I disables all Amazon modules but still having this problem,

`php bin/magento module:disable Amazon_Core Amazon_Login Amazon_Payment
`

[2018-12-14 13:16] rishabhchd19 commented on #14952
@Socix, i have tried making changes with PR as stated above by gwharton but not the Patches to see if this resolve the problem or not. Whoooola! it worked. Now i am going to revert back the changes and apply patches with .diff. I hope 2.3.1 will release soon.

[2018-12-14 13:24] avi88 opened #19779 "Installed Module successfuly but getBlock layout not genrated"
When I open module in backend .
Fatal error: Uncaught Error: Call to a member function setActive() on boolean in /home/gadget/www/buy/vendor/magento/module-backend/Model/View/Result/Page.php:27 Stack trace:

Block is not generated for module . I have done everything carefully .
If I delete global.php from /generated/metadata then its working fine but this file is generating auto so gain problem ra

[2018-12-14 13:27] denis-g opened #19780 "Incorrect class name on Orders and returns page."
### Summary (*)
On 'Orders and returns' page `legend` tag has class `admin__legend` as on admin area.

### Examples (*)
[app/code/Magento/Sales/view/frontend/templates/guest/form.phtml](https://github.com/magento/magento2/blob/2.3/app/code/Magento/Sales/view/frontend/templates/guest/form.phtml)
`<legend class="admin__legend"><span><?= /* @escapeNotVerified */ __('Order Information') ?></span></leg

[2018-12-14 13:35] SoCix commented on #14952
@rishabhchd19 thank You, I'm going to try it now

[2018-12-14 13:37] SoCix commented on #19549
Open those files

[code]

search for

`formElement="fileUploader"`

replace with

`formElement="imageUploader"
`
in all files

clear cache and reload.

[2018-12-14 13:44] rishabhchd19 commented on #14952
@SoCix, there are 7 files related to this issue. Better you apply patches rather making changes directly to core files. Your composer need to update to work with Patches.

[2018-12-14 13:45] EstebanSerfe commented on #9408
Hi, I've been able to reproduce this on 2.2.4 Enterprise.

Using the fix from PR [#14705](https://github.com/magento/magento2/pull/14705) were able to fix the issue.

Is there a plan to have this merged into next release?

[2018-12-14 13:59] lorenaramonda commented on #18091
hi guys, i'm having the same problem but need to find a solution because customer is the king.
so I:

overwritten fotorama.js into my theme `<theme-folder>/web/fotorama/fotorama.js` and changed as follows:

line 2035: var _noMove = (size < 2 **&& !opts.enableifsingleframe**) || $videoPlaying;
line 2090: if (size > 1 **|| opts.enableifsingleframe**) {

than overwritten module-catalog/view/frontend/

[2018-12-14 14:03] TomashKhamlai commented on #19718
@avgust1111, thank you for report. I saw a label Fixed in 2.3.0 and also I was not able to reproduce issue by steps given.

[2018-12-14 14:07] magento-engcom-team commented on #19780
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97156`, `MAGETWO-97157` were created

[2018-12-14 14:09] magento-engcom-team commented on #19779
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-14 14:16] orlangur commented on #19780
@denis-g nice catch! Such observations may be proposed directly as pull requests.

[2018-12-14 14:18] TomashKhamlai commented on #19779
It looks like you use the function call on argument of wrong type. Anyway the given amount of details doesn't allow us to create a ticket. Stack trace and the single line of code that cause an error would help us to process this ticket in other way.

The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) o

[2018-12-14 14:18] #19779 closed, assigned to nobody

[2018-12-14 14:31] mikeguy commented on #19549
Actually now I can't access the Design Configuration - Global View page as well just like @afavata. It sits there spinning that icon like something's loading but it's just stuck.

@SoCix didn't try your suggestion as it seems the issue is different, page just doesn't load^
@michelecanal same, seems I have a different issue really.

I can't find something relating to this.
![screenshot_26](https://

[2018-12-14 14:36] avgust1111 commented on #19718
@TomashKhamlai , please, note: I'm talking specifically about the commit 99a3c01 and its changes, which was merged into the 2.2.X branch, but it wasn't merged correctly into the 2.3.X branch.
Because of this problem with the commit, we still have to hardcode a logic of the cookie expiration settings in order to make it work both on 2.2.X and 2.3.X.
The bug from the old issue (#10527) cannot be rep

[2018-12-14 14:39] measureddesigns commented on #19549
Having eaxactly the same issue on 2.3.0, so can't change the theme. Spinner never goes away. Base64 is not defined -  file-uploader.js

[2018-12-14 14:43] verma-ankur commented on #19744
I was also facing same issue.
But after correcting the permission of pub/static folder.
Everything just start working properly. So it can be permission issue.

[2018-12-14 14:57] mikeguy commented on #19549
@engcom-backlog-nazar seems this issue is trending.

[2018-12-14 14:59] pjw345 commented on #19744
I've just checked the permissions on pub/static - directories are 775 and files are 664

[2018-12-14 15:02] engcom-backlog-nazar commented on #19549
@mikeguy this will be available on 2.3.1 release. and already fixed in 2.3-dev.

[2018-12-14 15:04] magento-engcom-team commented on #19780
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-14 15:04] #19771 closed, assigned to nobody

[2018-12-14 15:04] mikeguy commented on #19549
@engcom-backlog-nazar thank you for super fast response.
I take it no workaround until then?

[2018-12-14 15:05] engcom-backlog-nazar commented on #19771
@Vladwww2015  Seems like this fixed on 2.3-dev branch.

[2018-12-14 15:07] robbie-thompson opened #19783 "Can't add product attribute to Images group programatically"
### Preconditions (*)
1. Magento 2.2.6 (haven't tested on 2.2.7 or 2.3)

### Steps to reproduce (*)
1. Create custom attribute programatically, which is to be added to the 'Images' group e.g.:
[code]

### Expected result (*)
1. The attribute is created and added to the Images group

### Actual result (*)
1. SQL duplication error:
![image](https://user-images.githubusercontent.com/9678552/50009804-

[2018-12-14 15:07] magento-engcom-team commented on #19783
Hi @robbie-thompson. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-12-14 15:10] TomashKhamlai commented on #19718
We will check it again.

[2018-12-14 15:10] engcom-backlog-nazar commented on #19549
@andy17612 this bug not fixed yet ( -> https://github.com/magento/magento2/issues/19581

[2018-12-14 15:11] avgust1111 commented on #19718
@TomashKhamlai , thanks, I will be waiting for updates

[2018-12-14 15:15] magento-engcom-team commented on #14166
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-14 15:15] engcom-backlog-nazar commented on #19549
@mikeguy seems like no :(

[2018-12-14 15:15] TomashKhamlai commented on #14166
JMeter 5 is not supported. Use JMeter 3.1

[2018-12-14 15:15] #14166 closed, assigned to TomashKhamlai

[2018-12-14 15:18] magento-engcom-team commented on #13415
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-14 15:19] TomashKhamlai commented on #13415
@magento-engcom-team give me 2.3.0 instance

[2018-12-14 15:19] magento-engcom-team commented on #13415
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-14 15:19] magento-engcom-team commented on #13415
Hi @TomashKhamlai, here is your [Magento instance](https://i-13415-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-13415-2-3-0.instances.magento-community.engineering/admin](https://i-13415-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-14 15:20] mfickers commented on #19705
@magento-engcom-team give me 2.3.0 instance

[2018-12-14 15:20] magento-engcom-team commented on #19705
Hi @mfickers. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-14 15:21] magento-engcom-team commented on #19705
Hi @mfickers, here is your [Magento instance](https://i-19705-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19705-2-3-0.instances.magento-community.engineering/admin](https://i-19705-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-14 15:21] magento-engcom-team commented on #10674
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-14 15:32] Kiboihemdan opened #19785 "Interceptor does not exist"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.
![errror_category upload](https://user-images.githubusercontent.com/29058499/50011992-8a186300-ffce-11e8-90b5-c7d0462c7614.PNG)
![errror_category upload](https://user-images.githubusercontent.com/29058499

[2018-12-14 15:32] magento-engcom-team commented on #19785
Hi @Kiboihemdan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-14 15:33] TomashKhamlai commented on #13415
@magento-engcom-team give me 2.2.7 instance

[2018-12-14 15:33] magento-engcom-team commented on #13415
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2018-12-14 15:34] magento-engcom-team commented on #13415
Hi @TomashKhamlai, here is your [Magento instance](https://i-13415-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-13415-2-2-7.instances.magento-community.engineering/admin](https://i-13415-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-14 15:37] TomashKhamlai commented on #13415
On 2.3.0 gift-message-whole-to-giftOptionsCartItem-1
![screenshot_20181214_153556](https://user-images.githubusercontent.com/11827230/50012247-0fdbe480-ffb6-11e8-9346-ad37e80a5e22.png)

[2018-12-14 15:42] marvinhuebner commented on #18091
@lorenaramonda i've done the same, but it has took me quite some time to find the issue, why this does not work out of the box and i first had to patch `fotorama.js`.

I find it really annoying that there are third party libraries which are patched and there is no hint or something else in the code. Even the version number was never adjusted  .

[2018-12-14 15:45] lorenaramonda commented on #18091
you're surely right about this @marvinhuebner and I totally agree

[2018-12-14 15:51] magento-engcom-team commented on #19785
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-14 15:51] engcom-backlog-nazar commented on #19785
Hi @Kiboihemdan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results
Then reopen the issue

[2018-12-14 15:51] #19785 closed, assigned to nobody

[2018-12-14 15:56] TomashKhamlai commented on #13415
The same on 2.2.7
Also it looks like it needs some cosmetic repair too.

[2018-12-14 15:56] magento-engcom-team commented on #13415
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97159`, `MAGETWO-97160` were created

[2018-12-14 16:17] DanielRuf commented on #14952
There are solutions like composer-patches and you can add .patch to a commit link.

[2018-12-14 16:21] DanielRuf commented on #14952
There are solutions like composer-patches and you can add .patch to a commit or PR URL.

https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/18471.patch is what you get when you go to https://github.com/magento/magento2/pull/18471.patch

[2018-12-14 16:42] SoCix commented on #19549
@mikeguy I had the same problem and this was the right solution
Once you make those changes you’ll be able to access the page again

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-14 17:55] orlangur commented on #19783
@robbie-thompson well, I believe there are some builtin attributes added to Images group, isn't it?

[2018-12-14 18:15] robbie-thompson commented on #19783
@orlangur There are a few created in CategorySetup.php: https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Setup/CategorySetup.php#L603-L613

I've tried creating them the exact same way as shown, but the same errors occurs.

[2018-12-14 19:05] gavinlimely commented on #7367
Why has this been closed? It's still an issue?

[2018-12-14 19:07] pskigen commented on #15115
Can confirm this issue is not resolved in Magento 2.3.0. The database query provided updates zero entries for my installation.

`[2018-12-14 18:52:44] main.WARNING: No such entity with addressId =
#0 /Users/patricskigen/sites/mg/peruvianlink/public/vendor/magento/module-customer/Model/AddressRegistry.php(49): Magento\Framework\Exception\NoSuchEntityException::singleField('addressId', NULL)
#1 /Use

[2018-12-14 21:31] toweringmedia commented on #14423
I finally got past this by hunting down all the files that it says it was missing. This was an early mageto build I think we will ultimately rebuild the site from scratch. I think it is a problem from an early 2x version that carried over.. not sure but we here able to find those files in an older github copy and uploaded them, then gave them  674 permissions to just those files. So weird...

[2018-12-15 03:59] Yuwei9291 opened #19786 "Can only export default store view items when upgrade to 2.3.0"
Component: ImportExport
### Preconditions (*)

1.Nginx 1.14.0  + PHP 7.1.24 + MySQL5.7.19
2.Clean install Magento 2.2.6 and upgrade to 2.3.0 by command.
3.
### Steps to reproduce (*)

1.Clean install Magento 2.2.6 without any unnecessary module.
2.Creat a new Website with a new store and a new store view "storeview2".
3.Upload a item with different price in different store view. Now the product ex

[2018-12-15 04:00] magento-engcom-team commented on #19786
Hi @Yuwei9291. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-15 05:36] suryakant-krish opened #19789 "Asterisk sign misaligned Admin forgot password."
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1. Hit magento admin login url > click on forgot password link.

### Expected result (*)

1.  ![expected-result](https://user-images.githubusercontent.com/43638601/50039493-7534e180-0059-11e9-9af4-82856b09d02e.png)

### Actual result (*)

1. ![actual-result](https://user-images.githubusercontent.com/43638601/50039495-7e25b300-00

[2018-12-15 05:36] magento-engcom-team commented on #19789
Hi @suryakant-krish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-12-15 06:05] magento-engcom-team commented on #19786
Hi @developerarun. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-15 06:06] magento-engcom-team commented on #19783
Hi @developerarun. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-15 06:10] magento-engcom-team commented on #19714
Hi @janakbhimani. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-12-15 06:15] ansari-krish commented on #17711
@magento-engcom-team give me 2.3 instance

[2018-12-15 06:23] suryakant-krish opened #19791 "Logo vertical misalignment."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Login into admin panel > Look at left top corner logo alignment vertical align not centerd.

### Expected result (*)

1. ![expected-result](https://user-images.githubusercontent.com/43638601/50039886-fd1dea00-005f-11e9-9065-d670f7808901.png)

### Actual result (*)

1. ![actual-result](https://user-images.githubusercontent.com/43

[2018-12-15 06:52] suryakant-krish opened #19793 "Area Frontend: Reload Captcha button misaligned."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Go to frontend > Click on signin link top right corner >  Click on forgot password link.
Reload Captcha buttong vertical misaligned.

### Expected result (*)

![expected-result](https://user-images.githubusercontent.com/43638601/50040144-027d3380-0064-11e9-865b-f71791b0debb.png)

### Actual result (*)

![actual-result](https://u

[2018-12-15 06:52] magento-engcom-team commented on #19793
Hi @suryakant-krish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-12-15 07:03] Abdulkadiragoliya opened #19795 "Magento2.3 Email not sending anymore"
### Preconditions (*)

1. Magento version #:Magento2.3.0
2. Php version #: 7.2.13

### Steps to reproduce (*)

1. when contact form , create account or order placed happen email should send to customer and/or admin

### Expected result (*)

1. when contact form , create account or order placed happen email should send to customer and/or admin
2. email should send to customer

### Actual result (*)

[2018-12-15 07:03] magento-engcom-team commented on #19795
Hi @Abdulkadiragoliya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-12-15 07:05] magento-engcom-team commented on #15963
Hi @krnshah. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-12-15 07:07] webcitz commented on #19549
@SoCix is correct, but you might find and need to update 3 instances of fileUploader in the 2nd file and 2 instances of fileUploader in the 5th file.

[2018-12-15 07:13] SyntaxKay opened #19796 "Sales Order invoice Update Qty's Button is misaligned"
### Preconditions (*)

1.Magento 2.2-develop
2.Magento 2.3-develop

### Steps to reproduce (*)

1.Login to backend-> Order -> View order
2.Generate Invoice -> Items to Invoice -> Check Update Qty's Button

### Expected result (*)

1.https://prnt.sc/lv7z6n

### Actual result (*)

1.https://prnt.sc/lv7yxk

[2018-12-15 07:13] magento-engcom-team commented on #19796
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-15 07:55] Anantkprajapati commented on #5377
Hello Team,

Already tried all the option but still facing same issue.

is there any other solution ??

[2018-12-15 08:13] magento-engcom-team commented on #17764
Hi @Dharmeshvaja91. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-12-15 08:18] rogyar commented on #19791
@magento-engcom-team give me 2.2-develop instance

[2018-12-15 08:18] magento-engcom-team commented on #19791
Hi @rogyar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-12-15 08:18] magento-engcom-team commented on #19791
Hi @rogyar, here is your [Magento instance](https://i-19791-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19791-2-2-develop.instances.magento-community.engineering/admin](https://i-19791-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-15 08:57] magento-engcom-team commented on #19796
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97176`, `MAGETWO-97177` were created

[2018-12-15 08:59] magento-engcom-team commented on #19647
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97178` were created

[2018-12-15 09:28] suryakant-krish opened #19800 "Contact us : design improvement"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Go to frontend > choose to contact us link from footer link.

### Expected result (*)

![expected-result](https://user-images.githubusercontent.com/43638601/50041370-d40a5300-0079-11e9-91be-09f22ec89db5.png)

### Actual result (*)

![actual-result-1](https://user-images.githubusercontent.com/43638601/50041373-da003400-0079-11e9-

[2018-12-15 10:17] abrarpathan19 opened #19805 "Sales order Address Information edit form layout design improvement."
### Preconditions (*)

1.Magento 2.2
2.Magento 2.3

### Steps to reproduce (*)

1. Magento admin -> Sales ->Invoices ->View any order  -> Under Address Information tab ->  Billing Address/Shipping Address  click on Edit to open form layout design

### Expected result (*)

1. Form layout design layout should be consistance as per other magento form.
2. Please review link :  http://prntscr.com/lv91z

[2018-12-15 10:17] magento-engcom-team commented on #19805
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-15 10:34] suryakant-krish opened #19808 "File upload Field alignment issue."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Login into admin panel > Catalog > Products > choose any product > Images And Videos  > Click on "Add video" Button.

### Expected result (*)

 ![expected-result](https://user-images.githubusercontent.com/43638601/50041962-f6549e80-0082-11e9-8fb0-2a940739d499.png)

### Actual result (*)

 ![actual-result-1](https://user-images.g

[2018-12-15 10:34] magento-engcom-team commented on #19808
Hi @suryakant-krish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-12-15 11:07] devqualwebs commented on #12837
@mageprince @magento-engcom-team @viral-wagento How can I modify this behavior?

[2018-12-15 11:14] magento-engcom-team commented on #19701
Hi @suryakant-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-12-15 11:31] magento-engcom-team commented on #19139
Hi @suryakant-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-12-15 12:03] ansari-krish commented on #17711
@magento-engcom-team give me 2.3-develop instant

[2018-12-15 12:15] ansari-krish commented on #17711
@magento-engcom-team give me 2.3-develop instance

[2018-12-15 12:16] magento-engcom-team commented on #17711
Hi @ansari-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-15 12:16] magento-engcom-team commented on #17711
Hi @ansari-krish, here is your [Magento instance](https://i-17711-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-17711-2-3-develop.instances.magento-community.engineering/admin](https://i-17711-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-15 12:19] gulatipriyanka commented on #10873
@magento-engcom-team We are using magento version 2.2.7. When we checkout with paypal, popup is blocked on chrome browser. We click on continue button, it asks to unblock popup and when we unblock popup and again click on continue button. Continue button does not works. We need to close that paypal popup window and go to checkout page and again click on continue to paypal button then popup window

[2018-12-15 12:26] suryakant-krish opened #19814 "Admin Forgot password captcha Icon misaligned."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Hit magento admin url > Click on Forgot password > Check captcha refresh icon alignment.

### Expected result (*)

1. http://prntscr.com/lva9md

### Actual result (*)

1. http://prntscr.com/lva8hx

[2018-12-15 12:40] abrarpathan19 opened #19816 "Catalog category merchandiser product list missing move cursor in tile view"
### Preconditions (*)

1.Magento 2.3
2.Magento 2.2.

### Steps to reproduce (*)

1. Magentoadmin ->  Catalog -> Category (Default Category) -> Products in Category -> Select tile view for product design view.
2. Please review link : http://prntscr.com/lvaddv

### Expected result (*)

1. Default cursor on hover product item it should be move cursor on move icon And pointer cursor on close icon
2. h

[2018-12-15 12:40] magento-engcom-team commented on #19816
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-15 13:08] gulatipriyanka opened #19821 "Magento version 2.2.7 braintree paypal popup block issue on chrome browser"
**Magento version 2.2.7 braintree paypal popup block issue on chrome browser**

**Preconditions**

Magento 2.2.7
PHP 7

**Steps to reproduce**

1. Block popup on chrome browser.
2. Checkout with paypal and click on "Continue to paypal" button. After that click on "continue" button, it will ask to unblock popup.
3. When we unblock popup and again click on "continue" button, Continue button does not

[2018-12-15 13:09] magento-engcom-team commented on #19821
Hi @gulatipriyanka. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-15 13:33] gulatipriyanka commented on #10873
Any help would be appreciated??

[2018-12-15 13:47] magento-engcom-team commented on #19795
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-12-15 14:33] gulatipriyanka commented on #19821
@magento-engcom-team give me 2.2.7 instance

[2018-12-15 14:33] magento-engcom-team commented on #19821
Hi @gulatipriyanka. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2018-12-15 14:34] magento-engcom-team commented on #19821
Hi @gulatipriyanka, here is your [Magento instance](https://i-19821-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-19821-2-2-7.instances.magento-community.engineering/admin](https://i-19821-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-15 15:05] gulatipriyanka commented on #19821
We are able to reproduce this issue on above environment.

**Steps to reproduce**

1. Firstly, block popup on chrome browser when user visits first time.
2. Add product to cart and click on proceed to checkout button.
3. Enter the required details and checkout with paypal. Select Paypal ( with braintree ) and click on "Continue to paypal" button. After that click on "continue" button, it will ask

[2018-12-15 15:10] gulatipriyanka commented on #19821
Sorry, issue was closed by mistake. So, i have reopened the issue.

[2018-12-15 18:47] nexrobr opened #19825 "Magento 2.3.0: Backup tool not correctly detecting .maintenance.flag"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1, 7.2
3. Apache/2.2.34
4. CentOS release 6.10 (Final)

### Steps to reproduce (*)

1. Dashboard -> System -> Tools -> Backups -> Database Backup
2. Enter backup name, check "Maintenance mode", click OK.

### Expected result (*)

1. var/.maintenance.flag is created.
2. Backup proceeds.

### Actual result (*)

1. var/.maintenance.flag is created.
2.

[2018-12-15 18:47] magento-engcom-team commented on #19825
Hi @nexrobr. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-15 18:53] nexrobr commented on #19825
Yes, I can reproduce with a fresh 2.3.0 install.

[2018-12-16 01:36] magento-engcom-team commented on #19825
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-16 03:41] modkore commented on #18716
**Preconditions (*)**
Magento 2.2.5
Paypal won't appear during checkout.

**Steps to reproduce after installation of magento 2.2.5 website**
1. Configured recommended solutions Paypal Express Checkout
2. Applied allow guest checkout
3. Made paypal only appear to checkout
4. Add product in front end and proceed to checkout.

**Expected result (*)**
After input of billing address and shipping addres

[2018-12-16 03:47] modkore opened #19827 "Paypal Does Not Appear in Magento 2.2.5 Checkout"
### Preconditions (*)

Magento 2.2.5

### Steps to reproduce (*)

1. Configured recommended solutions Paypal Express Checkout
2. Applied allow guest checkout
3. Made paypal only appear to checkout
4. Add product in front end and proceed to checkout.

Verification if it is an issue of the theme.
1. We tried to activate default theme from core
2. Same issue occured

### Expected result (*)

After in

[2018-12-16 03:48] magento-engcom-team commented on #19827
Hi @modkore. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-16 08:57] Jilco opened #19828 "Put product in cart to get odd invoice amount and log in - subtotal goes to zero and payment methods disappear"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Put product in Cart to get an odd invoice amount, eg 1,7 x 16,95 (product price per meter)
2. Total price is now 28.815 (te last digit is the problem i think)
3. Login
4. Cart subtotal (in minicart) goed to zero (also strange)
5. Go to next step (payment)
6. Payment methods disappear in step 2 (so order can't be finished)

###

[2018-12-16 08:57] magento-engcom-team commented on #19828
Hi @Jilco. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-12-16 08:58] Jilco commented on #19828
@magento-engcom-team give me 2.2.6 instance

[2018-12-16 08:59] magento-engcom-team commented on #19828
Hi @Jilco. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-16 08:59] magento-engcom-team commented on #19828
Hi @Jilco, here is your [Magento instance](https://i-19828-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19828-2-2-6.instances.magento-community.engineering/admin](https://i-19828-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-16 09:39] Jilco commented on #19828
I'm not sure if it's related, but it looks a lot like it is. Sometimes this error in exeptions.log

[2018-12-15 23:46:40] main.CRITICAL: Report ID: webapi-5c159260f1b14; Message: Warning: Division by zero in vendor/magento/module-tax/Model/Calculation/AbstractAggregateCalculator.php on line 41 {"exception":"[object] (Exception(code: 0): Report ID: webapi-5c159260f1b14; Message: Warning: Division b

[2018-12-16 10:00] simonmaass commented on #19821
i am having the same problem in my magento 2 instance!
magento 2.2.7
php 7.1

[2018-12-16 10:31] kasalgado commented on #1321
Hello,
I know, it is a old post but I experience same problem after to install Magento 2.3. As before the problem happens only with xampp on Windows 10. Vs. 2.2 works fine. Was found a solution for this problem?
Regards.

[2018-12-16 11:08] DanielRuf commented on #1321
Windows is not officially supported. Please open a new issue with all relevant details.

[2018-12-16 11:15] Jilco commented on #19828
Some extra testing and the problem gets bigger, it is not only with 3 digit prices but also with normal prices. Add product to cart, login in cart screen, prices go to zero.

![naamloo222s](https://user-images.githubusercontent.com/23727130/50052910-4cc9e780-012c-11e9-840d-f04c97f997ac.png)

[2018-12-16 11:16] Jilco commented on #19828
Payment methods drop away because they get a zero amount (and they don't like that and i also dont :-))

[2018-12-16 11:02:21] Mollie.ERROR: error: Function: getActiveMethods: Error executing API call (400: Bad Request): The amount is lower than the minimum. Field: amount. Documentation: https://docs.mollie.com/guides/handling-errors [] []

[2018-12-16 11:59] orlangur commented on #15963
Hi @CNanninga,

I'm not sure this is correct behavior, should be consistent with manual product creation.

This is intended system behavior, there is nothing to fix here.

I don't really get this. Product will become configurable when it gains some configurations, what data may be lost?

Adding configurations should work in this scenario.

Please report such scenario as separate issue. This should

[2018-12-16 13:52] milindsingh commented on #19825
@magento-engcom-team give me 2.3-develop instance

[2018-12-16 13:52] magento-engcom-team commented on #19825
Hi @milindsingh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-16 13:52] magento-engcom-team commented on #19825
Hi @milindsingh, here is your [Magento instance](https://i-19825-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19825-2-3-develop.instances.magento-community.engineering/admin](https://i-19825-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-16 16:33] magento-engcom-team commented on #19789
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-12-16 16:34] magento-engcom-team commented on #19789
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97180`, `MAGETWO-97181` were created

[2018-12-16 16:41] magento-engcom-team commented on #19800
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-12-16 16:41] dmytro-ch commented on #19800
@magento-engcom-team give me 2.3 instance

[2018-12-16 16:44] dmytro-ch commented on #19800
@magento-engcom-team give me 2.2.6 instance

[2018-12-16 16:44] magento-engcom-team commented on #19800
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-16 16:45] magento-engcom-team commented on #19800
Hi @dmytro-ch, here is your [Magento instance](https://i-19800-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19800-2-2-6.instances.magento-community.engineering/admin](https://i-19800-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-16 16:46] dmytro-ch commented on #19800
@magento-engcom-team give me 2.3-develop instance

[2018-12-16 16:46] magento-engcom-team commented on #19800
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-16 16:47] magento-engcom-team commented on #19800
Hi @dmytro-ch, here is your [Magento instance](https://i-19800-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19800-2-3-develop.instances.magento-community.engineering/admin](https://i-19800-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-16 17:00] magento-engcom-team commented on #19800
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97182`, `MAGETWO-97183` were created

[2018-12-16 17:01] dmytro-ch commented on #19800
Please note, the issue can be reproduced on the vanilla Magento instance with *sample data* only.

[2018-12-16 17:04] magento-engcom-team commented on #19808
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97184`, `MAGETWO-97185` were created

[2018-12-16 20:49] kasalgado commented on #1321
I tried following solution. It seems to work:
https://stackoverflow.com/questions/53551878/blank-admin-page-on-magento-2-3-0-ce-in-localhost

[2018-12-16 22:50] salelsol commented on #14952
Just migrate from M2.2.7 to M2.3.0 at issue continue, but I don't find file: vendor/magento/module-sales-Model/Order/SenderBuilder.php and change that I was working correctly in version 2.2.7:

 protected function configureEmailTemplate()
{
$this->transportBuilder->setTemplateIdentifier($this->templateContainer->getTemplateId());
$this->transportBuilder->setTemplateOptions($this->templateContainer

[2018-12-16 22:55] salelsol commented on #14952
Sorry, found.

[2018-12-16 23:20] ladle3000 opened #19830 "Category Swatches Product Image Fallback Issue on M 2.3"
### Preconditions (*)

1. Magento 2.3
2. 3rd Party Themes & Modules disabled
3. Running in developer mode.

### Steps to reproduce (*)

1. **Make setting to show product image as swatch if possible** http://nimb.ws/hfcAso
2. Visit a category page where swatches would properly show on magento 2.2.5 (upgraded directly from this) and ran recreate catalog images requirement that were listed in 2.2.6 r

[2018-12-16 23:20] magento-engcom-team commented on #19830
Hi @snoroozi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-17 03:16] pklingenberg opened #19832 "Can't create admin user Magento 2.3"
### Steps to reproduce (*)
1. Login to backend and create a new admin user.
2. the password for the user contains an exclamation point "!"

### Expected result (*)
Admin user is created

### Actual result (*)
It acts like a user is created and then nothing happens.

SOLUTION:
Avoid using an exclamation within the password and the user is created perfectly.

[2018-12-17 03:16] magento-engcom-team commented on #19832
Hi @pklingenberg. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-17 03:18] pklingenberg commented on #19832
This was a vanilla install, no additional settings, and the theme Ultimo installed with no additional settings changed.

[2018-12-17 03:42] CuongPhi commented on #18346
I created custom module with incorrect name and got this issue.
Sr, bad english

[2018-12-17 05:35] bilalyounus commented on #19717
It would be better if you provide me the path for that.

[2018-12-17 06:19] sufyaniksula opened #19834 "Cannot cancel multiple invoices using custom mass action."
### Preconditions (*)

1. Magento version 2.2.5 is installed

### Steps to reproduce (*)

1. Added a custom mass action in Sales->Invoice grid.
2. Defined a controller which takes the invoice id from the grid.
3. Using invoice id, invoice object is loaded using \Magento\Sales\Model\Order\Invoice model.
4. All the selected ids are canceled using $invoice->cancel().
5. Canceled invoice is saved usin

[2018-12-17 06:19] magento-engcom-team commented on #19834
Hi @sufyaniksula. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-17 06:41] milindsingh opened #19835 "Admin grid button flicker issue after page load due to re-ordering"
### Preconditions (*)

1. Magento 2.2, 2.3, 2.3-develop

### Steps to reproduce (*)

1. For Example: Goto: **Admin -> System -> Backups** and reload the page and see the buttons above the grid are moving after page load.
3. Applicable on all the Admin Grid Buttons.

### Expected result (*)

1. The buttons are in the same order as specified and do not change order after page load.

### Actual resul

[2018-12-17 06:41] magento-engcom-team commented on #19835
Hi @milindsingh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-17 06:51] magento-engcom-team commented on #19835
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-17 06:52] shikhamis11 commented on #19835
@magento-engcom-team give me 2.3 develop instance

[2018-12-17 06:53] magento-engcom-team commented on #19835
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3 develop instance for you

[2018-12-17 07:01] magento-engcom-team commented on #19830
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-17 07:03] milindsingh commented on #19830
@magento-engcom-team give me 2.3-develop instance

[2018-12-17 07:04] magento-engcom-team commented on #19830
Hi @milindsingh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-17 07:04] shikhamis11 commented on #19835
@magento-engcom-team give me 2.3-develop instance

[2018-12-17 07:04] magento-engcom-team commented on #19835
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-17 07:04] magento-engcom-team commented on #19830
Hi @milindsingh, here is your [Magento instance](https://i-19830-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19830-2-3-develop.instances.magento-community.engineering/admin](https://i-19830-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-17 07:05] magento-engcom-team commented on #19835
Hi @shikhamis11, here is your [Magento instance](https://i-19835-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19835-2-3-develop.instances.magento-community.engineering/admin](https://i-19835-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-17 07:13] magento-engcom-team commented on #19835
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-12-17 07:14] shikhamis11 commented on #19835
@magento-engcom-team I am able to reproduce this issue on 2.3 and 2.2 magento versions

[2018-12-17 07:15] magento-engcom-team commented on #19835
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97186`, `MAGETWO-97187` were created

[2018-12-17 07:18] LuciferStrome commented on #19832
Can not reproduce this issue in 2.3

[2018-12-17 07:21] milindsingh commented on #19832
@magento-engcom-team give me 2.3-develop instance

[2018-12-17 07:21] magento-engcom-team commented on #19832
Hi @milindsingh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-17 07:21] magento-engcom-team commented on #19832
Hi @milindsingh, here is your [Magento instance](https://i-19832-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19832-2-3-develop.instances.magento-community.engineering/admin](https://i-19832-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-17 07:46] UKRogue commented on #19724
I still have issue in 2.2.6 (My Test site). I will turn off all extensions and try again just to be sure. Is it possible it's due to the amount of swatches available in product attributes? It's the only other thing that's hard to emulate. I have over 200 options. Is there anyway you can add 200 options (Mix of images and colors) for test without manually entering each one? Or perhaps I could do a

[2018-12-17 07:46] milindsingh commented on #19832
Not able to reproduce in  2.3-develop

[2018-12-17 07:46] #19832 closed, assigned to nobody

[2018-12-17 08:07] UKRogue commented on #19724
Additional. If I change the product attribute to dropdown instead of visual swatch, flush and clean cache, static and javascript files **it works properly**. As soon as I change back to swatches it stops working. Trouble is it deletes all uploaded swatches and selected colours . However, all swatches being blank and still not working does mean its not an uploaded image issue or mix of colour/image

[2018-12-17 08:16] cedarvinda opened #19836 "Minicart cancel button area overlapping to cart subtotal label"
Minicart cancel button area overlapping to cart subtotal label

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Go to base url (frontend)
Step 2: add any product in cart fron catagory page aor any sigle product
Step 3: click to minicart icon in header
Step 4: Move mouse over the close button and see area (Take ref from screenshot)

### Expected result (*)

!

[2018-12-17 08:16] magento-engcom-team commented on #19836
Hi @cedarvinda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-17 08:20] magento-engcom-team commented on #19836
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-17 08:21] GovindaSharma commented on #19836
@magento-engcom-team give me 2.3 develop instance.

[2018-12-17 08:21] magento-engcom-team commented on #19836
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3 develop instance for you

[2018-12-17 08:51] tawfekov commented on #9466
I was affected by this issue , the team depends on duplicate action , they filled up a disk of 440G completely with images

cleaning up the extra images was very hard to do , the only way I've found is :  I had to remember the items they duplicated and delete their images from disk

I'm sharing my solution here to help the others , hopefully I could save someone's time

[2018-12-17 09:11] magento-engcom-team commented on #19827
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-17 09:14] magento-engcom-team commented on #19821
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-17 09:14] devmag1 opened #19838 "Cart Items are deleted after fail checkout magento2.2.1"
### Preconditions (*)

1. Magento v2.2.1
2. Products should be added in the cart
3. Payment Gateway that accepts online transaction

### Steps to reproduce (*)

1. Add products to cart
2. Go to the checkout page
3. Fill out all the information
4. let's say I select PayUMoney payment gateway
5. Next, I click PLACE ORDER button (on click of this button the order gets placed as pending in the
    Mag

[2018-12-17 09:14] magento-engcom-team commented on #19838
Hi @devmag1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-17 09:17] magento-engcom-team commented on #19838
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-17 09:49] vtransy commented on #17556
please set: web/secure/use_in_frontend  and web/secure/use_in_adminhtml to 0

Please read here for more detail:
https://mrvts.wordpress.com/2018/12/17/magento-2-nginx-varnish-full-page-cache-backend-admin-redirect-loop-why-and-how-to-fix/

[2018-12-17 09:50] vtransy commented on #9424
please set: **web/secure/use_in_frontend  and web/secure/use_in_adminhtml to 0**

Please read here for more detail:
https://mrvts.wordpress.com/2018/12/17/magento-2-nginx-varnish-full-page-cache-backend-admin-redirect-loop-why-and-how-to-fix/

[2018-12-17 09:50] vtransy commented on #7544
please set: **web/secure/use_in_frontend**  and **web/secure/use_in_adminhtml to 0**

Please read here for more detail:
https://mrvts.wordpress.com/2018/12/17/magento-2-nginx-varnish-full-page-cache-backend-admin-redirect-loop-why-and-how-to-fix/

[2018-12-17 09:52] magento-engcom-team commented on #19836
@GovindaSharma Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required informa

[2018-12-17 09:59] orlangur commented on #19834
Hi @sufyaniksula,

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-12-17 09:59] #19834 closed, assigned to orlangur, GovindaSharma

[2018-12-17 10:00] magento-engcom-team commented on #19834
Hi @orlangur. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-12-17 10:00] magento-engcom-team commented on #19836
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97189`, `MAGETWO-97190` were created

[2018-12-17 10:16] orlangur commented on #19618
@michelecanal is `msp/reCAPTCHA` a core module?

[2018-12-17 10:18] engcom-backlog-andrii commented on #19827
@magento-engcom-team give me 2.3.0 instance

[2018-12-17 10:18] magento-engcom-team commented on #19827
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-17 10:18] magento-engcom-team commented on #19827
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-19827-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19827-2-3-0.instances.magento-community.engineering/admin](https://i-19827-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-17 10:19] magento-engcom-team commented on #6942
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-17 10:23] sufyaniksula commented on #19834
There isn't any problem in implementation. The error is due to the call of a method which is getting null value as a parameter on multiple calls which is weird.

[2018-12-17 10:35] michelecanal commented on #19618
@orlangur from 2.3 yes

https://devdocs.magento.com/guides/v2.3/release-notes/ReleaseNotes2.3.0OpenSource.html

[2018-12-17 10:39] ihor-sviziev commented on #17556
Hi @vtransy,
In such configuration both variables web/secure/use_in_frontend and web/secure/use_in_adminhtml should be set to 1.
You need to check if your nginx proxy sets X-Forwarded-Proto header. For https requests value for this header should be "https".

You can see how to setup it correctly here: https://www.digitalocean.com/community/tutorials/how-to-set-up-nginx-load-balancing-with-ssl-term

[2018-12-17 11:00] engcom-backlog-andrii commented on #19827
Hi @modkore. Thank you for you report, i'm not able to reproduce following steps your described.
If you like to update, please reopen the issue.

[2018-12-17 11:00] #19827 closed, assigned to nobody

[2018-12-17 11:32] michelecanal commented on #19618
have you installed a fresh install of magento 2.3 via composer?

[2018-12-17 11:35] orlangur commented on #19618
@michelecanal I'm asking to which sentence of release notes you are referring to. Looks like it is a new bundled extension not mentioned in release notes.

Seems like the latter should be fixed but it is not placed in this repo.

[2018-12-17 11:38] ParagBhargav commented on #4855
Same kind of issue I am facing as well. But this issue occurred randomly. Sometimes its fire the ajax request but sometimes it fails. I don't understand why this issue happens. Is anybody have any idea about it?

[2018-12-17 11:39] michelecanal commented on #19618
https://github.com/magespecialist/m2-MSP_ReCaptcha

[2018-12-17 11:44] orlangur commented on #19618
@michelecanal thanks, now it's clear!

Then this issue must be reported in https://github.com/magento/magespecialist_ReCaptcha/ which you already did.

[2018-12-17 11:44] #19618 closed, assigned to hiren0241

[2018-12-17 12:00] ivankakurov commented on #10675
Why this issue is close ?
Magento return very strange price formatting.
For example in every place when use price, magento set a different format: look in product grid, cart, checkout administration and admin.  Every price (product, shipping, tax, etc)  have own price format. This is very very strange.

You can't close issue.

[2018-12-17 12:11] avgust1111 commented on #19718
Hello, @sivaschenko
In fact, I didn't face with such an issue in the native Magento workflow. During extension developing, I've reproduced an impossibility to set a cookie which expires at the end of session time on 2.3.X programmatically in the correct way, without hardcoded logic.
Here are exact details.
- Create an instance of `Magento\Framework\Stdlib\Cookie\PublicCookieMetadata` class
- Set a

[2018-12-17 12:12] heldchen opened #19842 ""Fatal error: Uncaught TypeError" in Cart when Flat Catalog is enabled and Quote contains disabled Configurable product"
if persistent cart is enabled, a user's quote might contain a product that is now disabled in the catalog. if this happens when Flat Product Catalog is enabled, the cart page will throw a Fatal Error, and the entire cart functionality will not be usable for this customer until the quote is manually deleted from the database.

### Preconditions (*)
1. 2.2.7 CE

### Steps to reproduce (*)
backend:
1

[2018-12-17 12:12] magento-engcom-team commented on #19842
Hi @heldchen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-17 12:17] magento-engcom-team commented on #19842
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-17 12:31] heldchen commented on #19842
@magento-engcom-team give me 2.2.7 instance

[2018-12-17 12:32] magento-engcom-team commented on #19842
Hi @heldchen. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2018-12-17 12:32] magento-engcom-team commented on #19842
Hi @heldchen, here is your [Magento instance](https://i-19842-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-19842-2-2-7.instances.magento-community.engineering/admin](https://i-19842-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-17 12:33] orlangur commented on #19842
@heldchen could you post a PR maybe? Just changing return type to `?Product` should be sufficient.

[2018-12-17 12:35] heldchen commented on #19842
@orlangur I've tried that, it is not sufficient. the ItemResolverInterface requires a non-null class implementing ProductInterface as well, and then a bunch of other places start to fail...

[2018-12-17 12:37] tvynograd commented on #14509
Any updates related to this issue?

[2018-12-17 12:48] heldchen commented on #19842
disclaimer: the engcom temp instance cannot be used to properly demonstrate the error in full, due to the lack of cli access required for reindexing / error logging. it still shows the problem tho as the cart and checkout is unusable even in the encom instance after the outlined steps.

[2018-12-17 12:55] andy17612 commented on #18150
Hi @magento-engcom-team @maheshWebkul721
This code not working on 2.3 now.

[2018-12-17 13:11] sarfarazbheda commented on #4567
Also facing the same issue.
Order status: Processing
Cart price rule was applied while placing an order.

When tried to cancel the order from the Mass action, Magento throws below error:

-- SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`production`.`salesrule_customer`, CONSTRAINT `SALESRULE_CUSTOMER_RULE_ID_SEQUENCE_SALESR

[2018-12-17 13:11] mallikaverma commented on #19842
@heldchen This issue is resolved in Magento 2.3

[2018-12-17 13:22] heldchen commented on #19842
@mallikaverma good to know. looking forward to a 2.2 backport as our customers want to see 2.3 mature a bit first...

[2018-12-17 14:14] engcom-backlog-andrii commented on #19842
HI @heldchen. Thanks for the report. This problem has already been fixed on 2.3 develop

[2018-12-17 14:16] heldchen commented on #19842
@engcom-backlog-andrii why is this closed now? 2.2 is still a supported version and thus the problem should be fixed for this branch as well.

[2018-12-17 14:38] stephan-cream commented on #14236
The 'fixes' provided in all of the respective tickets/commits linked within the current issue don't actually solve the issue or address the actual issue.

I will briefly explain the issue that occurs as concise as possible.
When framework\Mail\Template\TransportBuilder is instantiated it will fetch a singleton instance of \Magento\Framework\Mail\Message, having `MessageInterface $message,` in the

[2018-12-17 14:48] orlangur commented on #19842
@heldchen only issues for the most relevant stable Magento vesion should remain open.

@engcom-backlog-andrii maybe it would be good to have `Reproduced in 2.2.x` label for this closed issue?

[2018-12-17 14:51] heldchen commented on #19842
maybe I'm not understanding the details of magento's issue handling, but that reads to me as: "this checkout-breaking issue will not be fixed for 2.2, tough luck for anyone not upgrading"

[2018-12-17 14:58] TomashKhamlai commented on #13398
@magento-engcom-team give me 2.3.0 instance

[2018-12-17 15:00] #13398 closed, assigned to nobody

[2018-12-17 15:07] engcom-backlog-andrii commented on #19838
Hi @devmag1  Thanks for the report, i'm not able to reproduce following steps your described.

[2018-12-17 15:07] #19838 closed, assigned to nobody

[2018-12-17 15:09] JoostWan commented on #19739
@Yamaha32088. Search in the database in table _eav_attribute_ for attribute **manufacturer** and copy the ID. With this id search in _catalog_eav_attribute_. Now enter the following in column _apply_to_

`simple, virtual, bundle, downloadable, configurable`

Now setup:upgrade is working.

[2018-12-17 15:24] #10469 closed, assigned to nobody

[2018-12-17 15:57] orlangur commented on #19842
@heldchen,

Such assumption is not based on anything as to me.

[2018-12-17 16:00] Khartir opened #19843 "Bulk product insert with multiple consumers creates errors"
### Preconditions (*)
1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)
1. Have multiple instances of the "async.operations.all" consumer running
2. Send bulk request to create multiple new products

### Expected result (*)
According to https://devdocs.magento.com/guides/v2.3/config-guide/mq/manage-mysql.html it should be possible to run multiple instances of a consumer:

This should therefo

[2018-12-17 16:03] magento-engcom-team commented on #13398
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-17 16:03] magento-engcom-team commented on #19816
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-17 16:03] magento-engcom-team commented on #19795
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-17 16:03] magento-engcom-team commented on #19795
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-17 16:03] magento-engcom-team commented on #19816
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-17 16:03] magento-engcom-team commented on #13398
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a