[2018-12-17 16:03] magento-engcom-team commented on #13398
Hi @TomashKhamlai, here is your [Magento instance](https://i-13398-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-13398-2-3-0.instances.magento-community.engineering/admin](https://i-13398-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-17 16:07] magento-engcom-team commented on #10469
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-17 16:11] magento-engcom-team commented on #7165
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-17 16:11] magento-engcom-team commented on #15910
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-17 16:11] magento-engcom-team commented on #15910
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-17 16:34] drew7721 commented on #7367
This issue is not fixed. The cause for the negative pricing is because data imported from M1 probably has prices set on configurable products in the `catalog_product_entity_decimal` table. That is what causes the negative prices. You need to remove pricing for all configurable products from that table and then reindex. In M2 you can't set prices on configurable products, you could do that in M1.

[2018-12-17 16:44] andy17612 commented on #14952
Hi @rishabhchd19 ,can i ask you what file you changed?thank you!

[2018-12-17 16:51] rishabhchd19 commented on #14952
h3y @andy17612, as already stated above "there are 7 files related to this issue as mentioned in the PR by gwharton. Better you apply patches rather making changes directly to core files. "
With a work to patch, you have a procedure to apply .patch file.

I had made changes directly to core files by making a backup before just to test the resolution provided in PR. The files have now revert back t

[2018-12-17 16:57] andy17612 commented on #14952
Hi @rishabhchd19 are you meaning there? https://github.com/magento/magento2/pull/18471/files thank you!

[2018-12-17 17:01] rishabhchd19 commented on #14952
as per previous response by gwharton "As previously stated

#18471 is fix for 2.3 approved but not merged yet

#18472 is fix for 2.2 currently on hold, would imagine will be merged once 2.3 fix is applied."

if you are required for 2.3  #18471  is the resolution.

[2018-12-17 17:05] maheshWebkul721 commented on #19828
@magento-engcom-team give me 2.2-develop instance

[2018-12-17 17:05] magento-engcom-team commented on #19828
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-12-17 17:05] andy17612 commented on #14952
@rishabhchd19 thank you!
And do you have this bug on 2.3 , i am getting this bug again https://github.com/magento/magento2/issues/18150

[2018-12-17 17:05] magento-engcom-team commented on #19828
Hi @maheshWebkul721, here is your [Magento instance](https://i-19828-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19828-2-2-develop.instances.magento-community.engineering/admin](https://i-19828-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-17 17:06] gavinlimely commented on #7367
This is still an issue in 2.3.0.

Even after removing pricing from the catalog_product_entity_decimal table, the reindex that occurs every few minutes powered by the catalog_product_price_cl table still wrongly sets the min_price to 0 in the price index.

As a hotfix I've changed line 221 of Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\Query\BaseFinalPrice from :

`$select->where(spri

[2018-12-17 17:12] maheshWebkul721 commented on #19828
@magento-engcom-team give me 2.2.6 instance

[2018-12-17 17:12] magento-engcom-team commented on #19828
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-17 17:13] magento-engcom-team commented on #19828
Hi @maheshWebkul721, here is your [Magento instance](https://i-19828-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19828-2-2-6.instances.magento-community.engineering/admin](https://i-19828-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-17 17:17] srenon commented on #6382
Still having this issue in 2.2.7. However, 2.3.0 seem to be fixed.

[2018-12-17 17:23] maheshWebkul721 commented on #19828
Hi @Jilco , i am not able to reproduce with steps you provided. check the below screenshots.

![screenshot1](https://user-images.githubusercontent.com/32479280/50103700-416edd00-024e-11e9-85c3-d648afae44b3.png)

Payment Page:

![screenshot2](https://user-images.githubusercontent.com/32479280/50103770-682d1380-024e-11e9-988a-5242d71ce276.png)

[2018-12-17 17:33] Jilco commented on #19828
Have jou logged in after adding product?

Verzonden vanaf mijn Samsung Galaxy-smartphone.

-------- Oorspronkelijk bericht --------
Van: Mahesh Singh <notifications@github.com>
Datum: 17-12-18 18:23 (GMT+01:00)
Aan: magento/magento2 <magento2@noreply.github.com>
Cc: Jilco <jilcotigchelaar@hotmail.com>, Mention <mention@noreply.github.com>
Onderwerp: Re: [magento/magento2] Put product in cart to ge

[2018-12-17 17:34] Jilco commented on #19828
Also add a tax class to the product

Verzonden vanaf mijn Samsung Galaxy-smartphone.

-------- Oorspronkelijk bericht --------
Van: Mahesh Singh <notifications@github.com>
Datum: 17-12-18 18:23 (GMT+01:00)
Aan: magento/magento2 <magento2@noreply.github.com>
Cc: Jilco <jilcotigchelaar@hotmail.com>, Mention <mention@noreply.github.com>
Onderwerp: Re: [magento/magento2] Put product in cart to get odd

[2018-12-17 18:23] magento-engcom-team commented on #16806
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-17 18:46] rhoerr opened #19846 "REST API does not return items for inactive quotes"
### Summary (*)
QuoteRepository and API quote requests do not return items or extension attributes for quotes that are not active. More specifically, QuoteRepository and API quote requests return all quote information **except** items and extension attributes, for quotes that are not active. The data should be returned whether the quote is active or not.

Verified on Magento 2.1.15; all versions 2

[2018-12-17 18:46] magento-engcom-team commented on #19846
Hi @rhoerr. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-12-17 20:00] modkore opened #19847 "I am reopening this issue to work on it asap"
If you like to update, please reopen the issue.

_Originally posted by @engcom-backlog-andrii in https://github.com/magento/magento2/issues/19827#issuecomment-447805925_

[2018-12-17 20:00] magento-engcom-team commented on #19847
Hi @modkore. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-17 20:00] #19847 closed, assigned to nobody

[2018-12-17 20:02] modkore commented on #19827
This case is not yet solved

[2018-12-17 20:04] modkore opened #19848 "Error in Magento 2.2.5 Paypal Does not Appear in the Checkout"
### Preconditions (*)
Magento 2.2.5

### Steps to reproduce (*)

1. Configured recommended solutions Paypal Express Checkout
2. Installed Paypal API using NVP/SOAP API integration (Classic)
3. Applied allow guest checkout
4. Made paypal only appear to checkout
5. Add product in front end and proceed to checkout.
6. Activated Luma Theme and Verified if it is an issue of the theme.

### We tried to

[2018-12-17 20:04] magento-engcom-team commented on #19848
Hi @modkore. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-17 20:05] modkore commented on #19848
Please create new instance...

[2018-12-17 20:07] modkore commented on #19827
![image](https://user-images.githubusercontent.com/40972882/50112585-798c1500-027a-11e9-86b3-2879e76d50d8.png)

[2018-12-17 20:51] modkore commented on #19848
@magento-engcom-team give me $VERSION 2.2.5

[2018-12-17 22:15] DevEpic opened #19849 "Ability to disable or "police" Newsletter signups"
### Description (*)
Make it possible to disable the newsletter functionality entirely via the admin backend for those who do not want/need it and add optional CAPTCHA integration to the signup for those who do but also require some security.

### Expected behavior (*)
An on/off toggle in the Stores/Configuration/Newsletter section of the admin backend would allow site owners to disable or enable n

[2018-12-17 22:15] magento-engcom-team commented on #19849
Hi @DevEpic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-17 22:17] davidverholen commented on #19694
@giuliano72 sry for the late answer, just as an update, so far I wasn't able to reproduce it on my local system

[2018-12-18 02:40] modkore commented on #19848
![image](https://user-images.githubusercontent.com/40972882/50128758-5af54080-02b1-11e9-8082-94495c4f2d8d.png)

[2018-12-18 03:59] zeeshan2523806 commented on #18497
For me vertex/sdk was missing after upgrading the magento. Althrough the module was exist in my vendor directory but it was not part of the composer.json, running ` composer require vertex/sdk` solve the problem for me.

[2018-12-18 04:59] mrtuvn opened #19850 "How to debug composer conflicting component dependencies"
**Description (*)**

Issue i got when install third-party package via composer use wizard ui browser. I got issue but i can't find where to see details of issue (log, reports)

![screenshot from 2018-12-18 11-54-38](https://user-images.githubusercontent.com/1908873/50133231-428b2300-02bd-11e9-9df3-6f41e918478d.png)

Using magento 2.3.0 stable version with composer version 1.8.0

[2018-12-18 04:59] magento-engcom-team commented on #19850
Hi @mrtuvn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-12-18 05:19] leelawcpd commented on #8644
Issue persists in 2.2.6. Was this supposed to be resolved?

[2018-12-18 05:36] gelanivishal commented on #19850
@magento-engcom-team give me 2.3-develop instance

[2018-12-18 05:37] magento-engcom-team commented on #19850
Hi @gelanivishal. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-18 06:38] icreativetechnology commented on #2195
hello I am changed change upload_tmp_dir = "E:/wamp/tmp" to upload_tmp_dir = "C:/Windows/Temp" in php.ini  but there are also getting error.

[2018-12-18 07:09] orlangur commented on #19850
@mrtuvn GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

@gelanivishal how did you plan to reproduce it with lack of information? :)

[2018-12-18 07:09] #19850 closed, assigned to nobody

[2018-12-18 07:14] orlangur commented on #19849
If `Magento_Newsletter` module can be disabled, there is nothing to add here, we should not duplicate existing functionality in Admin UI. It sounds exactly like a deprecated feature `Disable Module Output` which led to a lot of bugs when condition like `if (isModuleEnabled('Magento_Review'))` was forgotten.

Captcha addition looks like a reasonable feature request to me.

[2018-12-18 07:14] #19849 closed, assigned to nobody

[2018-12-18 07:41] Jilco commented on #19828
@maheshWebkul721 mahes are you able to reproduce with a tax class added?

[2018-12-18 08:00] andy17612 opened #19852 "Backups error from User Roles Permission 2.3"
### Preconditions

1. ver 2.3
2. php72

### Steps to reproduce

1. System -> Permission -> User Roles -> Setting
2. Login other user
3. Backups

### Expected result

1. Fix it can use other user backup
2. Old post https://github.com/magento/magento2/issues/18150 , fixed before but the code not working in **2.3**.
`app/code/Magento/Backup/Controller/Adminhtml/Index.php`
`const ADMIN_RESOURCE = 'Mag

[2018-12-18 08:00] magento-engcom-team commented on #19852
Hi @andy17612. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-18 08:02] andy17612 commented on #19852
@magento-engcom-team give me 2.3 instance

[2018-12-18 08:16] namratavora opened #19853 "Shipping method undefined issue"
### Preconditions (*)

1. Magento 2.3
2. Shipping method with empty Method Name set.

### Steps to reproduce (*)

1. Add new or edit any existing shipping methods with Method name field left as a blank field.
2. Add any product to the cart and go through the checkout to the last step.

### Expected result (*)

![2018-12-18_12-43-01](https://user-images.githubusercontent.com/24732024/50137843-7fa5e

[2018-12-18 08:16] magento-engcom-team commented on #19853
Hi @namratavora. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-18 08:21] magento-engcom-team commented on #19853
Hi @gelanivishal. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-12-18 08:30] engcom-backlog-nazar commented on #19795
Hi @Abdulkadiragoliya thank you for you report, i'm, not able to reproduce following steps you described on clean magento 2.3 instance, this may be related to your custom code, or environment.

[2018-12-18 08:32] magento-engcom-team commented on #19828
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-18 08:32] engcom-backlog-nazar commented on #19828
HI @Jilco thank you for you report, this issue has already fixed on 2.3-develop branch and will be available on 2.3.1 release.

[2018-12-18 08:32] #19828 closed, assigned to mahesh-rajawat

[2018-12-18 08:33] magento-engcom-team commented on #19825
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-18 08:34] Jilco commented on #19828
@engcom-backlog-nazar so i have to upgrade to get rid of this problem? Than some of my modules will go into stress i think :-)

[2018-12-18 08:34] magento-engcom-team commented on #19825
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97204` were created

[2018-12-18 08:34] #13730 closed, assigned to nobody

[2018-12-18 08:36] magento-engcom-team commented on #19852
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-18 08:37] engcom-backlog-nazar commented on #19852
hi @andy17612 thank you for you report, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/18150

[2018-12-18 08:37] #19852 closed, assigned to nobody

[2018-12-18 08:38] magento-engcom-team commented on #13881
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-18 08:40] magento-engcom-team commented on #19830
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-18 08:41] TomashKhamlai commented on #13881
@magento-engcom-team give me 2.3.0 instance

[2018-12-18 08:41] magento-engcom-team commented on #13881
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-18 08:58] devmag1 commented on #19838
Hii @engcom-backlog-andrii  When I try to place an order with all the required information filled in and choose the mode of payment as PayUmoney payment Gateway then post click of Place order button, it redirects me to Payumoney popup. If I cancel the transaction on reaching this stage then in Magento Admin Panel it shows in ordered list with the order payment status as"pending payment"which shoul

[2018-12-18 09:00] engcom-backlog-nazar commented on #19830
Hi @snoroozi thank you for you report, i'm not able to reproduce following steps you described, I try several times but have not this error after upgrading from 2.2.5 to 2.3.0 or 2.2.6 to 2.3.0.
![selection_239](https://user-images.githubusercontent.com/40756439/50143026-2b940300-02b4-11e9-8e08-6dd1c2dbd9de.png)

[2018-12-18 09:00] #19830 closed, assigned to milindsingh

[2018-12-18 09:04] engcom-backlog-nazar commented on #19821
Hi @gulatipriyanka thank you for you report, this is not magento 2 core issue please look at this link ->
https://support.google.com/chrome/answer/95472?co=GENIE.Platform%3DDesktop&hl=en
thank you.

[2018-12-18 09:17] progreg commented on #19117
Hey @orlangur. Can you give me any feedback, is my solution may be good? Or I should add PR first?

[2018-12-18 09:28] vini1996 opened #19856 "how to delete attribute set in magento2"
### Summary (*)

### Examples (*)

### Proposed solution

[2018-12-18 09:28] magento-engcom-team commented on #19856
Hi @vini1996. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-18 09:28] haibo5 opened #19857 "Security api create fronend customer question."
In magento v2.2.5
Now our servers are under a lot of attack.

sample:
------------------
94.130.39.119 - \xFBbk\x09qu\x84\x7F\xFF\xDF+\x88\x86Z\xC4\xE9M*@q\xAAri\xF1 [17/Dec/2018:06:25:04 +0100] "POST /api/v1/push HTTP/1.1" 302 5 "-" "-"
------------------

Because we used this module: 'bitexpert/magento2-force-customer-login' so response 302, but
it's still creating a lot of frontend users.

We c

[2018-12-18 09:28] magento-engcom-team commented on #19857
Hi @haibo5. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-12-18 09:31] magento-engcom-team commented on #19856
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-18 09:31] engcom-backlog-nazar commented on #19856
Hi @vini1996   thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-18 09:31] #19856 closed, assigned to nobody

[2018-12-18 09:32] magento-engcom-team commented on #19857
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-18 09:32] engcom-backlog-nazar commented on #19857
Hi @haibo5    thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-18 09:32] #19857 closed, assigned to nobody

[2018-12-18 10:05] stephan-cream opened #19858 "A catalog price rule doesn't save the discount in sales_order_item"
### Preconditions (*)
1. Magento 2.3.* and 2.2.*.
2. Catalog price rule which is enabled.
3. A visible and enabled product.

### Steps to reproduce (*)
1. Create a product with the sku 'A'.
2. Create a catalog price rule for the product with the sku 'A' with a percentage discount or a fixed discount.
3. Apply and save the catalog price rule.
4. Run the command `bin/magento index:reindex`.
5. Place

[2018-12-18 10:05] magento-engcom-team commented on #19858
Hi @stephan-cream. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-18 10:07] MuneebMagenticians commented on #12994
You can easily create sitemap in Magento 2.

 Go to Stores -> Configuration and then click on XML Sitemap under the CATALOG where you can easily configure your sitemap. Here's a complete guide: [How to generate Magento 2 Sitemap](https://magenticians.com/generate-magento-sitemap/)

[2018-12-18 10:16] Stoux commented on #18819
@uandiweb Did you manage to find a (temp-)fix?
We're experiencing the same issue. As soon as the other attribute filter [is added](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/LayeredNavigation/Block/Navigation.php#L67) the results dwindle to to 0.

[2018-12-18 10:30] onepack commented on #13766
I have M2.3.0 installed. And now try to change an address in the backend after I changed the system setting that a customer can have 1 address line in the settings.
It cannot be done/ properly saved with the message from Magento that the address cannot contain more than 1 lines. "Street Address" cannot contain more than 1 lines.
After hitting the save it gets saved however and in the frontend rend

[2018-12-18 10:40] onepack commented on #13766
I changed the seting back to "system default" that is "2". After that I went back to the customer address and saw "3" address lines. So one more than the system value. All filled in with the same value.
There seems to be something wrong in the count of the lines.
At least I can save the address again now but his seems a bug.
![customers-magento-admin2](https://user-images.githubusercontent.com/475

[2018-12-18 10:43] magento-engcom-team commented on #19858
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97207`, `MAGETWO-97208` were created

[2018-12-18 10:48] vivekbrahmbhatt28 opened #19860 "Magento 2.2.6 "Clear Shopping Cart" button not working on cart page"
I have encountered that in Magento 2.2.6 "Clear Shopping Cart" button is not working on cart page.

I have found out that in vendor/magento/module-checkout/view/frontend/templates/cart/form.phtml -line 27, Magento Team seems missed to put a dot for the 'action' classname.

[code]

Replace above code with below code:

[code]

It's a small bug that creates a big problem.

Hopefully this will be fixe

[2018-12-18 10:48] magento-engcom-team commented on #19860
Hi @vivekbrahmbhatt28. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-12-18 10:49] magento-engcom-team commented on #19860
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-18 10:50] engcom-backlog-nazar commented on #19860
Hi @vivekbrahmbhatt28 thank you for you report, this issue has already fixed in 2.2-develop branch and will be available on 2.2.8 release.

[2018-12-18 10:50] #19860 closed, assigned to nobody

[2018-12-18 10:55] vivekbrahmbhatt28 commented on #19860
I just encountered this issue so have submitted this to you. May be helpful for next release.
Thanks for your quickest respond Team.

[2018-12-18 10:56] magento-engcom-team commented on #19848
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-18 10:59] engcom-backlog-nazar commented on #19848
HI @modkore thank you for you report, i'm not bale to reproduce following steps you described on clean magento instance, this may be related to your configuration or custom modules.

[2018-12-18 10:59] #19848 closed, assigned to nobody

[2018-12-18 11:01] magento-engcom-team commented on #19846
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-18 11:49] wget commented on #9466
@tawfekov `cleaning up the extra images was very hard to do`. However, several solutions (and tools) have been described above to solve this easily. Reading this whole thread could have you saved a lot of time :)

[2018-12-18 11:57] RaFr commented on #19207
i have this random  "Failed to read session data" error too in 2.2.7 with php 7.1 and Redis for sessions. it randomly happens when opening frontend pages. almost no traffic on the server.
![screenshot_2018-12-18 https dv](https://user-images.githubusercontent.com/26621446/50152481-03ac9b80-02c4-11e9-8ac1-7c729eb1e41b.png)

[2018-12-18 12:09] tawfekov commented on #9466
@wget these won't work out for me since I had custom module generating custom images that aren't saved in media tables

Thanks for willing to help 😀

P.s n98 has a similar addon that can clean it up too https://github.com/magento-hackathon/EAVCleaner#eav-cleaner-magerun-addon

[2018-12-18 12:18] convenient commented on #19207
@RaFr This issue is more about the symptom being garbled and displayed as "area code not set" for session concurrency errors. You're definitely getting a `session_start` error clearly displayed.

Possibly you're experiencing https://github.com/magento/magento2/issues/12362 which seems to have had a resurgence?

[2018-12-18 12:21] wget commented on #9466
@tawfekov Didn't know this was also impacting custom modules; I only though  `magento-` core modules were impacted. Thanks for the clarification. :)

[2018-12-18 12:36] RaFr commented on #19207
@convenient i am sorry. there is so many threads about session errors and redis, each thread points to the other, that i got lost between all of them. i saw an error report similar to mine few posts above, so i posted here.

[2018-12-18 12:36] magento-engcom-team commented on #19814
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-18 12:43] convenient commented on #19207
@RaFr no worries, i hope the other thread helps as there won't be much more in this issue to help you out I think :)

[2018-12-18 12:56] engcom-backlog-nazar commented on #19808
HI @suryakant-krish, thank you for you report, for simple code changes, like this one, please propose a PR directly. Thanks for collaboration!

[2018-12-18 12:56] #19808 closed, assigned to suryakant-krish

[2018-12-18 12:56] jahicDario commented on #12256
When I added mentioned patches, in dropdown menu I got two locales with same name but different code. Is there a another file where name should be changed for sr_Latn_RS to be for example Serbian Latn?

[2018-12-18 13:12] magento-engcom-team commented on #12543
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-18 13:21] TomashKhamlai commented on #11693
Magento 2.3.0 has been released! The problem is fixed there and for this reason we are closing this issue.

[2018-12-18 13:21] #11693 closed, assigned to nobody

[2018-12-18 13:32] magento-engcom-team commented on #13823
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-18 13:37] TomashKhamlai commented on #13823
We tested on Magento 2.3.0 with Sample Data running on docker with powered by PHP 7.1 and there was no such error in var/log/system.log`

![image](https://user-images.githubusercontent.com/11827230/50157505-7e2bea00-02c9-11e9-925b-4c27b75d91a5.png)

[2018-12-18 13:37] #13823 closed, assigned to nobody

[2018-12-18 13:52] stephan-cream commented on #19432
Please watch the screencapture movie that i uploaded https://takeafile.com/?f=virurajuhu.
It displays all the steps and the situations.
This was tested with 2.3.0 (just in case) and is still existing there.

[2018-12-18 13:53] engcom-backlog-nazar commented on #19814
HI @suryakant-krish, thank you for you report, for simple code changes, like this one, please propose a PR directly. Thanks for collaboration!

[2018-12-18 13:53] #19814 closed, assigned to nobody

[2018-12-18 13:56] lhall-adexos commented on #19283
I started my project with the 2.3 beta and just had the checksum mismatch happen to me. It was fixed by deleting the vendor/vertex/sdk which somehow forced composer to re-download the actual package and update with the correct checksum. The `composer update vertex/sdk` did not seem to update my checksum because it was using the old one.

The @MichaelThessel trick is also a good one to check if eve

[2018-12-18 14:14] magento-engcom-team commented on #19843
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-18 14:51] magento-engcom-team commented on #7862
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-18 15:13] ansari-krish commented on #18847
#19344

[2018-12-18 15:16] ansari-krish commented on #18847
#19431

[2018-12-18 15:19] TomashKhamlai commented on #10674
@hostep, thank you for reporting this issue. We are closing this issue because it not reproducible anymore on 2.3.0. Here is what we have now on Magento 2.3.0 with Sample Data running inside docker.
[code]

[2018-12-18 15:20] justinpfister commented on #18134
We saw this issue on 2.2.6 where we could not edit manufacturer_id in the backend AND we used manufacturer id.. any talk of deleting the attribute didn't sound like a great idea. We went with the upgrade to 2.2.7 and it immediately fixed out issue. We can now edit manufacturer on the product pages. Thank you everyone on this thread.

[2018-12-18 15:30] TomashKhamlai commented on #13881
![image](https://user-images.githubusercontent.com/11827230/50164134-c94df900-02d9-11e9-9002-f76bfe025a2c.png)

[2018-12-18 15:35] TomashKhamlai commented on #13881
@mihaifaget, thank you for reporting this issue. We are closing this because it is not reproducible on the latest Magento release.

[2018-12-18 15:35] #13881 closed, assigned to nobody

[2018-12-18 15:37] orlangur commented on #19846
@ishakhsuvarov do you maybe remember why it was implemented this way? https://github.com/magento/magento2/blame/2.3/app/code/Magento/Quote/Model/QuoteRepository/LoadHandler.php#L42

[2018-12-18 15:41] sidolov commented on #19858
@magento-engcom-team give me 2.3 instance

[2018-12-18 15:43] hostep commented on #10674
@TomashKhamlai: thanks for re-testing, I'll try to do it as well when I find some time.
Just out of curiosity: you removed the contents of the `var/view_preprocessed/` and `pub/static/` directory in between the runs? (I forgot to add that to my initial post) Otherwise the second run will always be much faster.

[2018-12-18 15:47] sidolov commented on #19858
@magento-engcom-team give me 2.3-develop instance

[2018-12-18 15:47] magento-engcom-team commented on #19858
Hi @sidolov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-18 15:49] SamB-GB commented on #19230
Does anyone know if this is an issue in 2.2.3?

[2018-12-18 15:51] dan-ding commented on #13269
change:
`$string = mb_convert_encoding($data, 'HTML-ENTITIES', 'UTF-8');`
to:
`$string = mb_convert_encoding(preg_replace('/&/', '&amp;', html_entity_decode($data)), 'HTML-ENTITIES', 'UTF-8');`

in 2.3: https://github.com/magento/magento2/blob/b1d3061537951f5442c2c185947795544aa8d57d/lib/internal/Magento/Framework/Escaper.php#L94

in 2.2:
https://github.com/magento/magento2/blob/d8267c249fdf82bfdf

[2018-12-18 16:00] rbjns commented on #3123
Hello. Came across this issue which I had too. If you the issue is still not solved, check out this article https://onilab.com/blog/magento-admin-back-end-slow/
It's up-to-date and helped me a lot.

[2018-12-18 16:48] jojotjebaby commented on #13269
I think the regex should be &(?!amp;)
in order to select all the & that aren't escaped and replace them with &amp;

I will do a PR for this.

[2018-12-18 16:49] jojotjebaby commented on #13269
I think the regex should be &(?!amp;)
in order to select all the & that aren't escaped and replace them with &

I will do a PR for this.

[2018-12-18 17:07] cscd98 opened #19862 "Argument 1 passed to Magento\InventoryShipping\Model\GetSourceSelectionResultFromInvoice::getSelectionRequestItems() must implement interface Traversable, array given"
### Preconditions (*)
1. Magento 2.3.0 EE
2. PHP 7.2.13
3. MySQL 5.7.24

### Steps to reproduce (*)
1. Add to basket a simple product and a virtual product
2. Proceed to checkout
3. In code, the invoice is captured and saved in my own controller after 3dsecure has completed. This code works perfectly when payment for a simple sku on it's own.

[code]

After save, VirtualSourceDeductionProcessor is

[2018-12-18 17:07] magento-engcom-team commented on #19862
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-18 17:43] lpetri-orion commented on #19542
Same error::

Static analysis:

1 errors were found during analysis.

Unrecognized statement type. (near "LOCK" at position 53)
SQL query:

-- -- Dumping data for table `inventory_stock_1` -- LOCK TABLES `inventory_stock_1` WRITE

MySQL said: Documentation

#1146 - Table 'magento.inventory_stock_1' doesn't exist

[2018-12-18 18:03] magento-engcom-team commented on #19853
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-18 18:06] magento-engcom-team commented on #19853
@milindsingh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97218` were created

[2018-12-18 18:14] magento-engcom-team commented on #19783
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-18 18:17] magento-engcom-team commented on #19783
@milindsingh Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-12-18 18:19] magento-engcom-team commented on #19783
@milindsingh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97219` were created

[2018-12-18 18:39] hostep commented on #13881
Just for completeness sake, in case somebody is still interested in this, it looks like this got properly fixed in Magento 2.2.6 by:
- https://github.com/magento/magento2/commit/aa4b734aa9b - MAGETWO-74021: "Catalog Products List" widget does not displays on frontend

[2018-12-18 19:08] magento-engcom-team commented on #19791
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97220` were created

[2018-12-18 19:38] SunilKrishnan commented on #18088
I tested this Fix on 2.2.7 and its is not working.

[2018-12-18 19:48] DrewML commented on #19605
Slightly related: https://github.com/magento/magento2/issues/15967

[2018-12-18 19:49] DrewML commented on #15967
Possibly fixed by https://github.com/magento/magento2/pull/19751

[2018-12-18 20:35] snoroozi commented on #19688
@joebordo I even opened another ticket with the added prerequisites and they say it doesn't happen on clean.  What all extensions do you use?

[2018-12-18 20:41] joebordo commented on #19688
@snoroozi

No extensions, just clean install of 2.3. I use now ultimo theme, but even on luma theme it's same.
The fix didn't seem to help me. The gallery did not load after i replaces that string. (on product page)
 Going to Switch back to Luma  just to test it again.

[2018-12-18 20:54] joebordo commented on #19688
this is how my renderer looks like. I see the string is already there.

`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
//"swatchRenderer": {
?>
<?php /** @var $block \Magento\Swatches\Block\Product\Renderer\Configurable */ ?>
<div class="swatch-opt" data-role="swatch-options"></div>

<script type="text/x-magent

[2018-12-18 21:31] snoroozi commented on #19830
@engcom-backlog-nazar are you sure you followed the steps right? Because even @joebordo confirmed on the original report https://github.com/magento/magento2/issues/19688

[2018-12-18 21:31] joebordo commented on #19830
Why did you close this? I have the same Issue on a fresh 2.3 install.

[2018-12-18 21:36] joebordo commented on #19688
@snoroozi

I have a clean install of magento 2.3 with no extensions on php7.2 all required extensions.

I just created a new attribute "Color" Added 3 Color Types". Same thing i did on 2.2.x...without problem.

After adding the above fix, swatches show up and there is no error in console log.

[2018-12-18 22:09] kpitn commented on #6578
More than two year this error reported and still no solution ... we use M2.3.0 and still face this error. Please do something..

@ndslindia

[2018-12-18 22:18] joebordo opened #19865 "Magento 2.3 : Undefined index: is_in_stock in //vendor/magento/module-configurable-product/Model/Product/VariationHandler.php on line 206"
### Preconditions (*)

1. FRESH Magento 2.3 Install
2. PHP 7.2 WITH ALL Extensions.
3. NO 3rd Party Theme or Extensions (Tested both on LUMA en ULTIMO)

### Steps to reproduce (*)

1. Create a new Color2 Attribute with predefined colors (images as swatches) and set the Global scope in Advanced Attribute Properties
2. Create New Attribute Set And add the created Color2 Attribute to the set.
3. Clic

[2018-12-18 22:18] magento-engcom-team commented on #19865
Hi @joebordo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-18 22:30] joebordo commented on #19865
@magento-engcom-team give me 2.3.0 instance

[2018-12-18 22:30] magento-engcom-team commented on #19865
Hi @joebordo. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-18 22:31] magento-engcom-team commented on #19865
Hi @joebordo, here is your [Magento instance](https://i-19865-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19865-2-3-0.instances.magento-community.engineering/admin](https://i-19865-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-18 22:38] gfxguru commented on #17320
I'm having the same issue. 2.2.7

[2018-12-18 22:40] LiamKarlMitchell commented on #18504
The bots are unrelenting they exhaust CPU on php-fpm and mysql and cripple the server...

Blocking them via linux's IP Tables seems appropriate, cloud flare attack mode can help.
A cloud flare firewall filter can also be great against this say if you serve a target audience in specific countries.

The spam attack somehow eats all CPU...
I've put a Google Invisible recapatcha on the site as well bu

[2018-12-18 22:45] joebordo commented on #19865
@magento-engcom-team After I create Attibute, i need access to command line to be able to index it.
Now i can't run indexer to be able to use the attribute.

[2018-12-19 03:14] andrewhowdencom commented on #12318
Hola all;

These tables are created during the event dispatch:

[code]

If you find them missing (or need to repair them), that's where you need to look!

[2018-12-19 04:03] vetshopdeveloper commented on #19821
@engcom-backlog-nazar surely any issue that prevents a sale being made in the browser with the largest market share is a **CORE** issue. It is up to Magento to respond to ensure out the box functionality works in Chrome, Firefox and Edge.

[2018-12-19 04:55] zuber11 commented on #9156
Open app/etc/env.php

and paste below code. This would allow you to fix everything.

'session' =>
			array (
			  'save' => 'redis', // this should be radis instead of FILE
			  'redis' =>
			  array (
				'host' => '', // Define correct host over here
				'port' => '', // Define correct port over here
				'password' => '', // Define correct password over here
				'timeout' => '2.5',
				'persiste

[2018-12-19 06:15] LiamKarlMitchell commented on #18504
@DanielRuf Blackfire hmm, thanks for telling me of this tool it seems very nice, not sure about sending data to third party for profiling but I suppose if it strips sensitive info I guess it's okay.

[2018-12-19 06:19] DanielRuf commented on #18504
https://blackfire.io/integrations

Magento is an official partner.

[2018-12-19 06:39] rougiain commented on #19821
Hi, we are aware of that module. It is currently not an option unfortunately as it is a great module and fully approved by Braintree.

The main issue is if Magento includes a module they need to ensure that they respond to changes in browsers that break the functionality of the included module or issues in modules that get included in the default code base that cause issues regarding the completio

[2018-12-19 06:45] magento-engcom-team commented on #19865
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-19 07:08] engcom-backlog-nazar commented on #19830
HI @snoroozi can yo confirm on vanilla instance ?

[2018-12-19 07:09] aldf commented on #19795
in magento: 2.3, php: 7.2 I got same error: Deprecated Functionality: idn_to_ascii(): INTL_IDNA_VARIANT_2003 is deprecated ..

so I downgrade php version to 7.1 then its work. http://php.net/manual/en/migration72.deprecated.php

or another solution is to upgrade icu to ICU 4.6 http://www.linuxfromscratch.org/blfs/view/8.3/general/icu.html

to check icu current vesion uconv -V

**INTL_IDNA_VARIANT_

[2018-12-19 07:17] magento-engcom-team commented on #19862
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-19 07:28] magentopits opened #19867 "Shipping address is missing after payment is failed and redirected to cart"
**Preconditions**
Magento 2.2.6

**Steps to reproduce**

1. Go to checkout as guest user after adding a product to cart.
2. Fill in the form and go to Payment page.
3. Select any online payment method (eg: visa)
4. Give incorrect payment information and submit.
5. Payment is failed and is redirected to cart page.
6. Proceed to checkout page.

**Expected result**
The Shipping Address will be pre-fi

[2018-12-19 07:32] magento-engcom-team commented on #19867
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-19 07:47] engcom-backlog-nazar commented on #19867
Hi @magentopits thank you for you report this, issue has already fixed in 2.2 and 2.3 develop branch and will be available on 2.3.1 release. commit -> f40d22b0ce60d4959d0a7027d50f75d4f956a0cb

[2018-12-19 07:47] #19867 closed, assigned to nobody

[2018-12-19 08:13] magentopits commented on #19867
Thank you for the information. So this issue is fixed in magento 2.2.7 version.
Could you please tell me which all files have the change, so that i can apply the fixes in my magento 2.2.6 installation.

[2018-12-19 08:16] faisal2010 opened #19869 "Unable to update images in design configuration form"
### Preconditions
1. Download & install a fresh copy of magento CE 2.3.0 without sample data either through composer or archive package from Magento download page.
2. Did not make any change in database and files.

### Steps to reproduce
1. Login to admin
2. Click on Content form left menu and click Configuration under Design.
3. Click Edit in Action column on any of the three default record from

[2018-12-19 08:16] magento-engcom-team commented on #19869
Hi @faisal2010. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-19 08:16] engcom-backlog-nazar commented on #19862
HI @craigcarnell thank you for you report please open your issue here -> https://github.com/magento-engcom/msi

[2018-12-19 08:17] magento-engcom-team commented on #19869
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-19 08:18] engcom-backlog-nazar commented on #19869
Hi @faisal2010 thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release

[2018-12-19 08:18] #19869 closed, assigned to nobody

[2018-12-19 08:19] engcom-backlog-nazar commented on #19869
@faisal2010 -> https://github.com/magento/magento2/pull/18851

[2018-12-19 08:21] engcom-backlog-nazar commented on #19867
@magentopits this issue fixed in private repository, and will be available on 2.2.8 release.

[2018-12-19 08:45] hostep commented on #19795
Thanks for the info @aldf

Could it be that https://github.com/magento/zf1/blob/1.14.1/library/Zend/Validate/EmailAddress.php#L455-L457 needs to be patched, the same way the `zendframework/zend-mail` package got fixed over here: https://github.com/zendframework/zend-mail/pull/189/files#diff-39993f6a028e96e169779688acedbfdc ?

In that case, this ticket should probably be re-opened.

And just add an

[2018-12-19 08:48] engcom-backlog-nazar commented on #19795
Hi @aldf thank you for explanation, i upgrade to 7.2.13. and "welcome email" not comes, but have no exceptions.

[2018-12-19 08:51] magento-engcom-team commented on #19795
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97229` were created

[2018-12-19 08:56] engcom-backlog-nazar commented on #19821
@vetshopdeveloper thank you, i'm able to reproduce only on live instance, but not local, on local instances have no this issue.

[2018-12-19 08:57] magento-engcom-team commented on #19821
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97230`, `MAGETWO-97231` were created

[2018-12-19 08:59] vetshopdeveloper commented on #19821
Thank you @engcom-backlog-nazar

[2018-12-19 09:42] aasim110 opened #19872 "Magento 2.3 category edit page "Select from gallery" button not working."
### Preconditions (*)

1. Magento 2.3
2. PHP 7.1.x

### Steps to reproduce (*)

1.1 Set docroot to **pub**
1. Go to Admin >> Catalog >> Categories >> Select any category
2. Now select any category image using **"Select from gallery"** button
3. Selected image showing on image preview block
4. After save image is not showing on image preview block

### Expected result (*)

1. When we save any categ

[2018-12-19 09:42] magento-engcom-team commented on #19872
Hi @aasim110. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-19 09:53] gulatipriyanka commented on #19821
Thank you @vetshopdeveloper @engcom-backlog-nazar

[2018-12-19 09:53] magento-engcom-team commented on #19872
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-19 09:53] magento-engcom-team commented on #19872
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-19 09:54] GovindaSharma commented on #19872
@magento-engcom-team  give me 2.3-develop instance

[2018-12-19 10:07] craigcarnell commented on #19862
https://github.com/magento-engcom/msi/issues/1952

[2018-12-19 10:07] #19862 closed, assigned to nobody

[2018-12-19 10:09] engcom-backlog-nazar commented on #19872
Hi @aasim110 thank you for you report, this issue has already fixed in 2.3-develop branch and will be avaible on 2.3.1 release
![selection_242](https://user-images.githubusercontent.com/40756439/50213681-f9070a80-0386-11e9-8f2f-f360686a9f4d.png)

[2018-12-19 10:22] magento-engcom-team commented on #19865
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-19 11:14] orlangur commented on #8612
Regression occurred. Looks like `Magento\Test\Php\LiveCodeTest` is now broken and does not check against the full codebase.

### Steps to reproduce
Run `./vendor/bin/phpcs --standard=dev/tests/static/framework/Magento/ruleset.xml {app,dev,lib/internal} -n --extensions=php,phtml --report=json | less`

### Expected result
PHPCS-based tests are green

### Actual result
`{"totals":{"errors":21638,"war

[2018-12-19 11:16] magento-engcom-team commented on #8612
@orlangur Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-12-19 11:17] magento-engcom-team commented on #8612
@orlangur Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97233` were created

[2018-12-19 11:39] speedupmate commented on #18154
any insight on this issue , especially on part @reijervano pointed out , why is this condition there and what does it affect. Pretty huge issue when your site can't save items

[2018-12-19 11:41] peterlembke opened #19873 "catalogrule_product and catalogrule_product_price tables repopulation causes auto_increment value out of range"
### Summary (*)
Magento CE 2.1.10

Can no longer reindex catalog rules because the table catalogrule_product have reached the top increment value possible to store in an int(10).

### Why does this happen
During reindex the old items are removed and the same items are added to the table.
We reindex a lot to get the new rules active.

### Examples (*)
Here is an example. The site have been running

[2018-12-19 11:41] magento-engcom-team commented on #19873
Hi @peterlembke. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-19 11:46] RedAtRareCandy opened #19874 "Unable to change theme in Magento 2.3.0"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2.13

### Steps to reproduce (*)

1. Upgrade to 2.3.0
2. Log in to Admin
3. Go to Stores > Configuration
4. Click Edit on your store

### Expected result (*)

1. Page should load and transparent layer and spinning loading icon should disappear.

### Actual result (*)

1. Transparent layer and spinning loading icon do not disappear.
2. Developer Tool

[2018-12-19 11:47] magento-engcom-team commented on #19874
Hi @RedAtRareCandy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-19 11:48] magento-engcom-team commented on #19873
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-19 11:48] magento-engcom-team commented on #19873
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-19 11:49] RedAtRareCandy commented on #19874
@magento-engcom-team give me 2.3.0 instance

[2018-12-19 11:49] magento-engcom-team commented on #19874
Hi @RedAtRareCandy. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-19 11:50] magento-engcom-team commented on #19874
Hi @RedAtRareCandy, here is your [Magento instance](https://i-19874-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19874-2-3-0.instances.magento-community.engineering/admin](https://i-19874-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-19 11:50] magento-engcom-team commented on #19874
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-19 11:53] engcom-backlog-nazar commented on #19874
Hi @RedAtRareCandy  thank you for you report, i;m not able to reproduce following steps you described on clean magento 2.3-develop instance. this may be related to your custom modules or themes.

[2018-12-19 11:53] #19874 closed, assigned to nobody

[2018-12-19 11:54] magento-engcom-team commented on #19793
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-19 12:07] Fredwak commented on #16016
@engcom-backlog-pb i need this too. is it planed to be added again?

[2018-12-19 12:37] engcom-backlog-andrii commented on #19873
It looks like the proposed solution or very similar is already implemented in 2.3.0. As I can see the `rule_product_id` is recalculated even without reindex. It is just enough to create the rule and apply it.

We are closing this issue as it was fixed on the latest release.

[2018-12-19 12:37] engcom-backlog-nazar commented on #19843
Hi @Khartir thank you for you report o'm not able to reproduce following steps you described,  this may be related to your custom code.
Error in your screen says that magento unable to save StockItem.
![selection_243](https://user-images.githubusercontent.com/40756439/50220656-9b30ed80-039b-11e9-88c4-73d1665b4486.png)

[2018-12-19 12:37] #19843 closed, assigned to nobody

[2018-12-19 12:38] #19873 closed, assigned to nobody

[2018-12-19 12:51] hostep commented on #19688
Hi guys

I was able to reproduce this on a vanilla 2.3.0 installation after trying to figure out how these swatches work and then it was very easy to reproduce (don't understand how @engcom-backlog-nazar was not able to reproduce, but whatever).
I'm not going to add the exact steps to reproduce here, because the bug is already fixed on the `2.3-develop` branch, so I'm not going to put more effort

[2018-12-19 12:56] engcom-backlog-nazar commented on #19688
@hostep Hi, In our new workflow we try to reproduce first in 2.3-develop branch, and in precondition -> Magento 2.3 not a 2.3.0 :)

[2018-12-19 13:08] engcom-backlog-nazar commented on #19793
HI @suryakant-krish, thank you for you report, for simple code changes, like this one, please propose a PR directly. Thanks for collaboration!

[2018-12-19 13:08] #19793 closed, assigned to nobody

[2018-12-19 13:36] craigcarnell commented on #19718
Can confirm this bug in 2.3.0..

[2018-12-19 13:40] snoroozi commented on #19688
Glad to see some responses here finally @engcom-backlog-nazar - you must have not been able to reproduce on the other ticket because you started with develop branch.

So you going to reopen and merge issues?

[2018-12-19 13:44] engcom-backlog-andrii commented on #19718
@craigcarnell, did you reproduced the issue on clean Magento 2.3.0 or on Magento 2.3.0 upgrade from 2.2.x?

[2018-12-19 13:47] craigcarnell commented on #19718
Upgraded, I don't have time to install Magento for every single bug I find :)

[2018-12-19 13:49] hostep commented on #19688
@snoroozi: the issue is already fixed by the core Magento team and will be rolled out in one of the upcoming releases, so it makes no sense to re-open the issue I think. Thanks for the report though!

[2018-12-19 13:53] magento-engcom-team commented on #19718
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-19 13:55] dubeyshiv opened #19875 "On credit memo save errro came "no such entity""
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2018-12-19 13:56] magento-engcom-team commented on #19875
Hi @dubeyshiv. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-19 13:58] engcom-backlog-nazar commented on #19688
@hostep but who then close this one ? :)

[2018-12-19 13:59] magento-engcom-team commented on #19875
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-19 14:00] engcom-backlog-nazar commented on #19875
Hi @dubeyshiv. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Then reopen the issue, thank you.

[2018-12-19 14:00] #19875 closed, assigned to nobody

[2018-12-19 14:21] snoroozi commented on #19688
@hostep I guess I mean moreso to add acknowledgment and reference the fix for those that run across the issue on github.

[2018-12-19 14:27] 0m3r opened #19876 "\Magento\Mail\Message is to closed in 2.3"
### Summary
In Magento 2.3
[\Magento\Mail\Message](https://github.com/magento/magento2/blob/2.3/lib/internal/Magento/Framework/Mail/Message.php) is to close.

It does not allow you to change headers, encoding, add attachments.
[\Magento\Mail\Message](https://github.com/magento/magento2/blob/2.3/lib/internal/Magento/Framework/Mail/Message.php) don't support setSender, addHeader, setMimeBoundary, [s

[2018-12-19 14:46] tim-reynolds-visionet commented on #12602
Is there confirmation from anyone that this was fixed in 2.2.7? We are affected by this presently and would very much like to have it stop.

[2018-12-19 14:47] alepane21 opened #19877 "Wrong partial price reindex with two or more products"
### Preconditions (*)

1. Magento Community 2.2.6
2. PHP 7.0.32

### Steps to reproduce (*)

1. put two or more products to be re-indexed in the catalog_product_price_cl, without contiguous ids

### Expected result (*)

1. final_price, min_price and max_price correctly set, for simple, configurable and all the other products

### Actual result (*)

1. final_price, min_price and max_price of produc

[2018-12-19 14:47] magento-engcom-team commented on #19877
Hi @alepane21. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-19 15:00] alepane21 commented on #19877
@magento-engcom-team give me 2.2.6 instance

[2018-12-19 15:00] magento-engcom-team commented on #19877
Hi @alepane21. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-19 15:00] magento-engcom-team commented on #19877
Hi @alepane21, here is your [Magento instance](https://i-19877-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19877-2-2-6.instances.magento-community.engineering/admin](https://i-19877-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-19 15:03] alepane21 commented on #19877
There are no products in the test instance, it would be too much complex to test there.
Could you just trust me?
I already tried it and fixed the problem in local and the fix is going in production in something like one hour :D

[2018-12-19 15:16] Khartir commented on #19843
@engcom-backlog-nazar: I did a couple more checks. This is a runtime error. Reproducing it is not easy and probably depends on the system it is running on.
This is what I found out:
The actual exception is due to a deadlock.
[code]
The error is more likely to occur, the more instances of the consumer are running. I tested with packages of 100.
With 1 instance there were no errors (as expected)
Wit

[2018-12-19 15:30] magento-engcom-team commented on #19718
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-19718-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19718-2-3-develop.instances.magento-community.engineering/admin](https://i-19718-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-19 15:37] engcom-backlog-andrii commented on #19718
@magento-engcom-team give me 2.3.0 instance

[2018-12-19 15:37] magento-engcom-team commented on #19718
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-19 15:37] magento-engcom-team commented on #19718
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-19718-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19718-2-3-0.instances.magento-community.engineering/admin](https://i-19718-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-19 15:47] engcom-backlog-andrii commented on #19718
@avgust1111, @craigcarnell could you please copy the whole function `function updateCookieFormKey` from `app/code/Magento/PageCache/Plugin/RegisterFormKeyFromCookie.php` or `vendor/magento/module-page-cache/Plugin/RegisterFormKeyFromCookie.php` and paste it to the comment?

[2018-12-19 15:48] godvsdeity commented on #2939
the issue is still present on 2.1, there is no backport from 2.2 to 2.1

[2018-12-19 15:48] magento-engcom-team commented on #19718
@engcom-backlog-andrii Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Con

[2018-12-19 15:50] engcom-backlog-andrii commented on #19718
@avgust1111, please update the issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2018-12-19 16:04] 0m3r commented on #19876
No, I mean 3rd party modules.
We need to send multipart mail.  We can't do that in Magento 2.3 but that option was available in earlier 2.2.x.

[2018-12-19 16:19] hostep commented on #12602
@tim-reynolds-visionet : most big cron related issues should have been fixed in 2.2.5, if you still run against such issues in 2.2.5 or 2.2.6 or 2.2.7, can you open a new issue describing what you are experiencing, thanks! :)

[2018-12-19 16:39] carloricci84 commented on #10205
On 2.2.3 i made a plugin like this to fix the issue since we can't upgrade to 2.3 yet :

Vendor\Module\di.xml
[code]

Vendor\ModulePlugin\AttributeRepositoryPlugin.php

[code]

[2018-12-19 16:52] chickenland commented on #9466
Just ran into this.  Is https://github.com/magento/magento2/commit/50592b4fb359b1daba9de7b554c9c8afa1d8d160 the best solution, or should it actually regenerate the url_path alongside the url_key?

[2018-12-19 16:56] Sunshine4209 opened #19881 "getRatio fails when passing null values."
failing to call `getImage` with an image type.

### Preconditions (*)

1. Magento version 2.3.0 with sample data.
2. php-nginx set up on mac.

### Steps to reproduce (*)

1. call `getImage` method on `Magento\Catalog\Block\Product\ListProduct`.
` /** @var ListProduct $imageBlock */
   $imageBlock = $this->blockFactory->createBlock(ListProduct::class);
   $productImage = $imageBlock->getImage($prod

[2018-12-19 16:56] magento-engcom-team commented on #19881
Hi @Sunshine4209. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-19 17:24] #18941 closed, assigned to Nazar65

[2018-12-19 17:24] #19285 closed, assigned to magento-engcom-team

[2018-12-19 17:24] #18038 closed, assigned to progreg

[2018-12-19 17:24] #14861 closed, assigned to nobody

[2018-12-19 17:24] #19836 closed, assigned to gelanivishal, GovindaSharma

[2018-12-19 17:24] #17442 closed, assigned to jaimin-ktpl

[2018-12-19 17:24] #19721 closed, assigned to nobody

[2018-12-19 17:24] #13309 closed, assigned to ssp58bleuciel

[2018-12-19 17:24] #19099 closed, assigned to eduard13

[2018-12-19 17:50] magento-engcom-team commented on #19858
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-12-19 18:04] alex4allofyou opened #19882 "Install Magento 2.3.0 : Install fail with unchecked some modules"
### Preconditions (*)

1. Magento 2.3.0
2. Wampserver 3.1.6 / Windows 10
3. PHP 7.2.13
4. Apache 2.4.35
5. MySQL 5.7.23

### Steps to reproduce (*)
1. Download magento 2.3.0 with Composer and open browser to get setup wizard page
2. Readiness Check approved
3. Add DB
4. Use normal settings, Magento generated key
5. Uncheck some or all additional modules, or check them all, tried every variation
6.

[2018-12-19 18:05] magento-engcom-team commented on #19882
Hi @alex4allofyou. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-19 18:09] raazrazik opened #19883 "When trying to upload a favicon and logo image in M2.3 this message is showing "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.""
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2018-12-19 18:09] magento-engcom-team commented on #19883
Hi @raazrazik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-19 18:11] saktib commented on #19480
For Windows Modify this below file {Magento_Dir}\vendor\magento\framework\View\Element\Template\File\Validator.php

Comment the existing $realpath around line 138 and add the new $realPath
[code]

[2018-12-19 18:17] dv-denda commented on #19084
With my bug I used redis cache, I fixed the problem by reset nginx, redis cache. May be helpful

[2018-12-19 18:23] alex4allofyou commented on #19882
@magento-engcom-team give me 2.3.0 instance

[2018-12-19 18:23] magento-engcom-team commented on #19882
Hi @alex4allofyou. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-19 18:23] magento-engcom-team commented on #19882
Hi @alex4allofyou, here is your [Magento instance](https://i-19882-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19882-2-3-0.instances.magento-community.engineering/admin](https://i-19882-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-19 18:50] magento-engcom-team commented on #19883
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-19 18:50] milindsingh commented on #19883
Insufficient information

[2018-12-19 18:50] #19883 closed, assigned to nobody

[2018-12-19 19:04] hostep commented on #9466
@chickenland: The `url_path` attribute for products is always empty in M2, the attribute is a left over from the M1 days. If somehow it is filled in (by migrating from M1 to M2 for example) then it should be fine to delete the values (which can only be done directly in the database), but test it first before doing this on a production environment.

[2018-12-19 22:29] #19876 closed, assigned to nobody

[2018-12-19 22:31] orlangur commented on #19882
@alex4allofyou,

Can you reproduce an issue using a supported operating system: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html? Reopen then. Note that Windows is not in the list.

[2018-12-20 00:57] monotheist opened #19885 "Customer addressed as Guest in transactional emails"
### Preconditions (*)

1.Magento 2.3
2.PHP 7.1

### Steps to reproduce (*)

1.Place order as Guest and then immediately on the order confirmation page signup as customer.
2.Click to resend order confirmation email again or any other follow up email from admin order grid

### Expected result (*)

1. In the followup transaction emails customer should be addressed with the billing name entered during

[2018-12-20 00:57] magento-engcom-team commented on #19885
Hi @ethniccode. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-20 01:00] monotheist opened #19886 "Make transactional emails responsive in mobile devices"
### Description (*)

Make transactional emails templates responsive in mobile devices.

### Expected behavior (*)

Email templates should be responsive in mobile devices.
### Benefits

Better customer experience
### Additional information

[2018-12-20 01:01] magento-engcom-team commented on #19886
Hi @ethniccode. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-20 01:59] duffner commented on #14586
@tkacheva, thanks for providing the additional information!  I test off of base, not Luma, I guess I need to specify this in future tickets.  Once again, thank you

[2018-12-20 03:11] magento-engcom-team commented on #19877
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-20 03:52] aldf opened #19887 "creating new shipment: gettting all trackers. after this commit 2307e16"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. After I pulled 2.3-dev brunch to my code, this [commit ](https://github.com/magento/magento2/commit/2307e16105e031c0826d218cf81ffe7949191a0b) effected creating new order shipment.
2. after creating new shipment and exec $_shipment->getAllTracks()
in https://example.com/admin_xxxxx/admin/order_shipment/view/shipment_id/38

[2018-12-20 03:52] magento-engcom-team commented on #19887
Hi @aldf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-12-20 04:14] aldf commented on #19887
@magento-engcom-team give me 2.3-develop instance

[2018-12-20 04:14] magento-engcom-team commented on #19887
Hi @aldf. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-20 04:15] magento-engcom-team commented on #19887
Hi @aldf, here is your [Magento instance](https://i-19887-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19887-2-3-develop.instances.magento-community.engineering/admin](https://i-19887-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-20 04:50] aldf commented on #19887
i created test order
I didn't receive the email
so I can't use this is instance

[2018-12-20 05:39] Longgutou commented on #13604
1.  set 'visibility' as 'Not Visible Individually' while trying to import via CSV .
2.  update attribute 'Visibility' at adminhtml page.

Hope it helps.

[2018-12-20 06:01] pptyasar commented on #10824
How to make as first column in table @theodorhanu

[2018-12-20 07:11] iamckdev opened #19890 "Customer my account navigation link css class(adding icons)"
### Description (*)

In the customer my account section if we want to add icon to nagigation link. How we can add there is no unique selector(css class) to add icon.

Here should be add sperate unique css class to easy to set icon.

![navigation-list-without-icons](https://user-images.githubusercontent.com/15726245/50269389-2077d900-0454-11e9-8a95-12030fd677ef.png)

![screenshot-1](https://user-im

[2018-12-20 07:11] magento-engcom-team commented on #19890
Hi @iamckindia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-20 07:23] surabhisrivastava09 opened #19891 "product_type attribute contains incorrect value in mass import export csv after creating custom type_id attribute. actual type_id value in database gets change with newly created attribute type_id."
### Preconditions (*)
1. magento 2.2.4
2. PHP 7.0.15

### Steps to reproduce (*)
1. Create dropdown type product attribute with attribute code "type_id" and assign the product attribute to attribute set.
2. Create new product using that attribute and save it.
3. Export the product.
4. Import using the same csv.

### Expected result (*)
1. Magento shouldn't allows to create attribute with attribute

[2018-12-20 07:25] #19890 closed, assigned to milindsingh

[2018-12-20 07:34] Retap-Simon opened #19892 "2.2.7 - Backend menu is frosen"
### Preconditions (*)

1. Magento2
2.

### Steps to reproduce (*)

1. I have updated from 2.2.3 to 2.2.7 and now the menu in backend is frosen. I can't use any of the menu in the left side. I can click on my account and it shows up, but I can't save anything.
2.

### Expected result (*)

1. I expected the backend to work.
2.

### Actual result (*)

1. There are no error message, just frosen menu.

[2018-12-20 07:34] magento-engcom-team commented on #19892
Hi @Retap-Simon. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-20 07:36] magento-engcom-team commented on #19891
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97253`, `MAGETWO-97254` were created

[2018-12-20 07:37] magento-engcom-team commented on #19881
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-20 07:37] magento-engcom-team commented on #19885
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-20 07:38] magento-engcom-team commented on #19886
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-20 07:41] magento-engcom-team commented on #19892
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-20 07:42] magento-engcom-team commented on #19887
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-20 07:42] shikhamis11 commented on #19892
@Retap-Simon can you please specify more steps to reproduce the issue
did you tried deploy and set correct permissions ?

[2018-12-20 07:43] #19886 closed, assigned to nobody

[2018-12-20 07:47] engcom-backlog-nazar commented on #19846
Hi @rhoerr thank you for you report, this is expected behavior, if you remove this condition it will break performance.

[2018-12-20 07:59] engcom-backlog-nazar commented on #19885
Hi @ethniccode thank you for you report this issue will be fixed by this PR -> https://github.com/magento/magento2/pull/19191

[2018-12-20 07:59] #19885 closed, assigned to nobody

[2018-12-20 08:18] djfordz opened #19894 "Advanced Reports Not valid cipher method."
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2.10
3. MariaDB 10.1.37

### Steps to reproduce (*)

1. Set cron to generate advanced reports.
2. or Run advanced reports cron manually

### Expected result (*)

1. [Screenshots, logs or description]
2. advanced reports csv is generated

### Actual result (*)

1. [Screenshots, logs or description]
2. Get output "Not valid cipher method."

The issue

[2018-12-20 08:18] magento-engcom-team commented on #19894
Hi @djfordz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-20 08:33] Retap-Simon commented on #19892
@shikhamis11 It should be deployed and have the same permissions as before the update. It was working fine at 2.2.3. Or can you explain if I should do something special when I update the from 2.2.3-2.2.7? I'm not able to do much, when everything is frosen.

[2018-12-20 08:38] djfordz commented on #19894
@magento-engcom-team give me 2.3 instance

[2018-12-20 08:45] erfanimani opened #19895 ""Only X left" message ignores "Display Products Availability in Stock on Storefront" option"
### Preconditions (*)

1. Magento 2.3.0 (clean install)
2. Luma theme (no modifications)

### Steps to reproduce (*)
1. Set "Display Products Availability in Stock on Storefront" to "No"
2. Set "Manage Stock" to "No"
3. Create product without specifying quantity

### Expected result (*)
1. "IN STOCK" or "OUT OF STOCK" message disappears.
2. "Only 0 left" message does not appear.

### Actual result

[2018-12-20 08:45] magento-engcom-team commented on #19895
Hi @erfanimani. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-20 08:54] djfordz commented on #19894
@magento-engcom-team give me 2.3.0 instance

[2018-12-20 08:54] magento-engcom-team commented on #19894
Hi @djfordz. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-20 08:54] magento-engcom-team commented on #19894
Hi @djfordz, here is your [Magento instance](https://i-19894-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19894-2-3-0.instances.magento-community.engineering/admin](https://i-19894-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-20 08:55] magento-engcom-team commented on #19895
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-20 09:00] shikhamis11 commented on #19892
you can try redeploy and then check in web developer tool for any js issue in console

[2018-12-20 09:01] magento-engcom-team commented on #19895
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-20 09:03] shikhamis11 commented on #19895
@magento-engcom-team give me 2.3-develop instance

[2018-12-20 09:03] magento-engcom-team commented on #19895
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-20 09:03] magento-engcom-team commented on #19895
Hi @shikhamis11, here is your [Magento instance](https://i-19895-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19895-2-3-develop.instances.magento-community.engineering/admin](https://i-19895-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-20 09:08] erfanimani commented on #19895
At the same time, the AtstractStockQty class could be refactored to use `\Magento\CatalogInventory\Model\Configuration`

[2018-12-20 09:11] monotheist opened #19896 "Magento 2.3 search results relevance with elasticsearch?"
### Preconditions (*)

1.Magento 2.3
2.Elasticsearch 5.2

### Steps to reproduce (*)

1.Search for a random keyword with elasticsearch as search engine and also then reconfigure and try the same with mysql.
2.

### Expected result (*)

1. Magento 2.3 integrated with Elasticsearch 5.2 provides search results similar to Mysql search in terms of relevance. For example a keyword Pink, search output is

[2018-12-20 09:11] magento-engcom-team commented on #19896
Hi @ethniccode. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-20 09:17] engcom-backlog-andrii commented on #19718
@magento-engcom-team give me 2.2-develop instance

[2018-12-20 09:18] magento-engcom-team commented on #19718
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-12-20 09:18] magento-engcom-team commented on #19718
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-19718-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19718-2-2-develop.instances.magento-community.engineering/admin](https://i-19718-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-20 09:19] engcom-backlog-andrii commented on #19718
@magento-engcom-team give me 2.2.7 instance

[2018-12-20 09:19] magento-engcom-team commented on #19718
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2018-12-20 09:19] magento-engcom-team commented on #19718
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-19718-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-19718-2-2-7.instances.magento-community.engineering/admin](https://i-19718-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-20 09:33] erfanimani commented on #19895
Sorry, you're right..

`&& $this->getStockQtyLeft() > 0` was added in 2.3-develop, and I tested it on 2.3.0. That must have fixed it — my bad, will try to reproduce on 2.3-develop next time.

[2018-12-20 09:33] #19895 closed, assigned to nobody

[2018-12-20 10:07] Rutvee123 commented on #13451
i also have same issue..Has anyone found the solution?

[2018-12-20 10:23] engcom-backlog-nazar commented on #19881
Hi @Sunshine4209 thank you for you report, i'm not able to reproduce following steps you described please use the code below
[code]

[2018-12-20 10:23] #19881 closed, assigned to nobody

[2018-12-20 10:29] wojtekn opened #19899 "Credit memo for $0 order without refunded shipping produces negative credit memo"
### Preconditions

1. Clean 2.3.0
2. No sample data

### Steps to reproduce

1. Create Cart Price Rule with 100% discount, applied to shipping, available for everyone
2. Create simple product with positive stock and price = $100
3. Place order in backend for the created product with qty =1 and flat rate shipping ($5 by default).
4. Invoice order (but don't create shipment)
5. Navigate to Credit Me

[2018-12-20 10:31] engcom-backlog-nazar commented on #19895
HI @erfanimani   please open your issue here -> https://github.com/magento-engcom/msi

[2018-12-20 10:33] magento-engcom-team commented on #19899
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-20 10:51] magento-engcom-team commented on #19783
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-20 11:05] orlangur commented on #19896
@ethniccode please provide more details playing with a vanilla Magento instance using sample data.

Are some of those irrelevant to your query?

[2018-12-20 11:34] orlangur commented on #19894
Hi @djfordz, this is already fixed in https://github.com/magento/magento2/pull/19104

[2018-12-20 11:38] djfordz commented on #19894
@orlangur

thanks, I searched for open issues similar and did not find any. guess I didn't look hard enough.

[2018-12-20 11:38] #19894 closed, assigned to nobody

[2018-12-20 12:04] magento-engcom-team commented on #19899
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97257`, `MAGETWO-97258` were created

[2018-12-20 12:06] iget-esoares commented on #14952
@DanielRuf Using composer patch is not a option here... there's any release date for the 2.3.1?

[2018-12-20 12:08] PascalBrouwers commented on #18154
@Detzler can you make a pull request for that backport voor 2.2?

[2018-12-20 12:13] DanielRuf commented on #14952
Why not?
And normal patches? It's just a patch file in both cases, just the path is different.

[2018-12-20 12:13] magento-engcom-team commented on #19896
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-20 12:28] #19694 closed, assigned to davidverholen

[2018-12-20 12:31] engcom-backlog-nazar commented on #19843
@Khartir please look this -> https://github.com/magento/magento2/issues/8933

[2018-12-20 12:32] ethniccode commented on #19896
@orlangur Yes. It is irrelevant. I am not sure how to reproduce this on vanilla instance. I am seeing this on a production store. My skype id is my user id. I can provide the production store URL which now configured to elasticsearch and 100% reproducible.

[2018-12-20 12:35] speedupmate commented on #18154
@hostep searched this out for us and  here's a commit that solves this https://github.com/magento/magento2/commit/9240974c8c7

[2018-12-20 12:41] Userr017 opened #19901 "SQLSTATE[42S02]: Base table or view not found: 1146 issue"
Table not found issue after updating magento 2.2.7 to 2.3.0. How fix this issue?

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1
3. No sample data

### Steps to reproduce (*)
1. Updated magento 2.2.7 to 2.3.0.
2. Run command bin/magento setup:upgrade
3. It stop before the command operation is completed.

![error_3](https://user-images.githubusercontent.com/26794034/50289232-e1a44c00-0470-11e9-

[2018-12-20 12:41] magento-engcom-team commented on #19901
Hi @Userr017. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-20 12:41] orlangur commented on #19896
@ethniccode this is not the way core bugs are supposed to be reproduced.

[2018-12-20 12:45] ethniccode commented on #19896
Okay give me 2.3 instance with elasticserver 5.2

[2018-12-20 12:46] 0m3r commented on #19876
One  problem with MultipartMailMessage

Dotdigitalgroup\Email\Plugin\MessagePlugin::afterSetBody() strong require Magento\Framework\Mail\Message

So for 2.3 all MessageInterface implements must extend \Magento\Framework\Mail\Message and cannot extend \Zend\Mail\Message
[code]
That was fixed in dotmailer/dotmailer-magento2-extension https://github.com/dotmailer/dotmailer-magento2-extension/commit/6

[2018-12-20 12:48] orlangur commented on #19894
@djfordz no problem, as you can see there were no issue, just a pull request :) By the way, you can do the same when code change is obvious.

Thanks for your report! The fix should be available with 2.3.1, until then patch from mentioned PR may be used.

[2018-12-20 12:48] magento-engcom-team commented on #19901
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-20 13:06] rhoerr commented on #19846
Uh, could you clarify? In what way would it 'break performance'?

As far as I can tell it would only affect loading of individual inactive quotes, which core does not even do on its own. Am I mistaken?

[2018-12-20 13:07] magento-engcom-team commented on #19887
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97260` were created

[2018-12-20 13:09] orlangur commented on #19876
I don't see a problem with this - use `\Zend\Mail\Message` the same way `\Magento\Framework\Mail\Message` uses it. Extending classes in general is discouraged.

[2018-12-20 13:10] orlangur commented on #19896
@ethniccode I'm not a bot (at least I hope so :)).

Please check https://github.com/magento/magento2/issues/19896#issuecomment-448926351 on deploy command.

[2018-12-20 13:15] stephenbori commented on #13440
Can confirm this still exists in 2.3

[2018-12-20 13:16] RedAtRareCandy commented on #19874
Hi,

Turns out the Base64 error was just a symptom of not being able to upload logo or favicon on the page. This commit fixed my issue entirely. Happy days!

https://github.com/magento/magento2/pull/18851/commits/ba69bfec127bed8c39c7d9e7b73d10b54449b158

[2018-12-20 13:22] jigar48 commented on #4432
This problem still exist on the Magento 2.2.7

[2018-12-20 13:23] SyntaxKay opened #19902 "Store View label and Dropdown misaligned"
### Preconditions (*)

1.Magento 2.2-Develop
2.Magento 2.3-Develop

### Steps to reproduce (*)

1.Login to backend
2.On the top store view label and Dropdown is misaligned

### Expected result (*)

1. http://prntscr.com/lxgjmd

### Actual result (*)

1. http://prntscr.com/lxgja4

[2018-12-20 13:23] magento-engcom-team commented on #19902
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-20 13:30] engcom-backlog-nazar commented on #19902
HI @speedy008 , thank you for you report, for simple code changes, like this one, please propose a PR directly. Thanks for collaboration!

[2018-12-20 13:30] #19902 closed, assigned to nobody

[2018-12-20 13:30] simon-letch commented on #19876
@0m3r you can upgrade to dotmailer 3.0.3 by using the following composer command:

`composer require dotmailer/dotmailer-magento2-extension:"3.0.3 as 3.0.1"`

[2018-12-20 13:49] engcom-backlog-nazar commented on #19896
Hi @ethniccode     thank you for you report,
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-20 13:49] #19896 closed, assigned to nobody

[2018-12-20 13:56] engcom-backlog-andrii commented on #19432
@magento-engcom-team give me 2.2-develop instance

[2018-12-20 13:56] magento-engcom-team commented on #19432
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-12-20 13:57] magento-engcom-team commented on #19432
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-19432-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19432-2-2-develop.instances.magento-community.engineering/admin](https://i-19432-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-20 13:59] cedarvinda opened #19905 "Subscribed to Newsletter label and checkbox not aligned proper in admin panel while any customer editing"
**Subscribed to Newsletter** label and **checkbox** not aligned proper in admin panel while any customer editing

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

 Step 1: Go to admin url
 Step 2: login to admin panel
 Step 3: click on **Customers** link from left side and under customers click on **all customers**
 Step 4: You see all registered customer grid now yo

[2018-12-20 13:59] magento-engcom-team commented on #19905
Hi @cedarvinda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-20 13:59] magento-engcom-team commented on #19905
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-20 14:01] GovindaSharma commented on #19905
@magento-engcom-team give me 2.3-develop instance

[2018-12-20 14:01] magento-engcom-team commented on #19905
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-20 14:01] magento-engcom-team commented on #19905
Hi @GovindaSharma, here is your [Magento instance](https://i-19905-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19905-2-3-develop.instances.magento-community.engineering/admin](https://i-19905-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-20 14:06] magento-engcom-team commented on #19432
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97262`, `MAGETWO-97263` were created

[2018-12-20 14:07] magento-engcom-team commented on #19905
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97264`, `MAGETWO-97265` were created

[2018-12-20 14:08] shikhamis11 commented on #19892
@Retap-Simon I am not able to reproduce this issue so I am closing this issue If u think this is relevant  elaborate about this issue with screenshot and request to reopen this issue

[2018-12-20 14:08] #19892 closed, assigned to nobody

[2018-12-20 14:40] magento-engcom-team commented on #10529
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-20 14:41] jwundrak opened #19908 "REST-API locale is always default scope"
### Preconditions (*)

1. Error occourds in 2.1.14, but I can reproduce this also in 2.3-develop
2. at least two store views. Default store-view locale != second store view
3. It doesn't matter, if you have one or multiple stores

### Steps to reproduce (*)
1. Configure stores. I use Store-View "default" with locale en_US and StoreView "second" with locale de_DE
2. Use something, that returns mage

[2018-12-20 14:41] magento-engcom-team commented on #19908
Hi @jwundrak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-20 14:46] engcom-backlog-andrii commented on #10529
@keharper, can you help us by providing information about https://github.com/magento-obsessive-owls/devdocs_internal/pull/1?
The merge was probably made somewhere between 20/Sep/18 25/Sep/18.

[2018-12-20 14:47] mikewhitby commented on #16171
Whilst you may have gotten "Area code not set" as far back as 2.0 and 2.1, this particular issue relates to the pipeline deploy system introduced in 2.2, the issue (as the OP mentions) occurs when you have a `base_url` in `env.php`, import it with `app:config:import`, change it and import again.

I mention this because there are valid reasons for "area code not set" in CLI commands, but that messa

[2018-12-20 14:48] magento-engcom-team commented on #10263
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-20 14:48] mikewhitby commented on #16171
This fixed it for me, cheers.

[2018-12-20 14:56] jwundrak commented on #19908
do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

* [x]  yes
* [ ]  no

[2018-12-20 14:57] ilnytskyi opened #19909 "Not possible to use multidimensional arrays in widget parameters"
### Summary (*)

Magento
2.2.*, 2.2.5, 2.2.6, 2.2.7

Not possible to use multidimensional arrays in widget parameters
When add custom field set as a **block** parameter type to **widget.xml**

### Examples (*)

Add custom parameter type (in my case it is an options panel)
![selection_007](https://user-images.githubusercontent.com/3192770/50291012-a3f1f400-046d-11e9-9f35-4fe2a9bc1f67.png)

Use para

[2018-12-20 14:57] magento-engcom-team commented on #19909
Hi @ilnytskyi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-20 15:30] magento-engcom-team commented on #10146
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-20 15:32] engcom-backlog-andrii commented on #10146
[code]

[2018-12-20 15:33] #10146 closed, assigned to nobody

[2018-12-20 15:37] #19718 closed, assigned to nobody

[2018-12-20 15:41] magento-engcom-team commented on #19908
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-20 15:43] shikhamis11 commented on #19908
@jwundrak I tried the  same at magento 2.2 and 2.3 got the 2nd store locale

[2018-12-20 15:45] erikhansen commented on #18154
@Detzler Thanks for your tip on using the [`SaveHandler.php`](https://raw.githubusercontent.com/magento/magento2/2.3-develop/app/code/Magento/Catalog/Model/Product/Attribute/Backend/TierPrice/SaveHandler.php) and [`UpdateHandler.php`](https://raw.githubusercontent.com/magento/magento2/2.3-develop/app/code/Magento/Catalog/Model/Product/Attribute/Backend/TierPrice/UpdateHandler.php) from 2.3-develop

[2018-12-20 15:49] magento-engcom-team commented on #19908
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97267`, `MAGETWO-97268` were created

[2018-12-20 16:02] jwundrak commented on #19908
@shikhamis11 the expected and actual result was mixed up. I edit the description

[2018-12-20 16:36] magento-engcom-team commented on #19909
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-12-20 16:46] jwundrak commented on #19908
@shikhamis11 what's with the patch in the gist. This resolves the error, but I don't know, if this way is good.
If so, I can prepare a pull request and write some tests

[2018-12-20 17:06] shikhamis11 commented on #19908
@jwundark I am not completely sure about the patch but if it fix the issue go for pull request

[2018-12-20 17:17] jellcreative-dev commented on #14211
We were encountering this error on Configurable Product Detail pages when priceBox was being used by other elements on the page, such as related products, and priceBox was not used by the product.

We resolved it by making the selector used to initialize the price box in magento/module-configurable-product/view/frontend/web/js/configurable.js specific to the product's price box. Since this harms n

[2018-12-20 17:25] misha-kotov commented on #19647
@speedy008 @dmytro-ch which browser was used for testing?

[2018-12-20 18:01] magento-engcom-team commented on #19642
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97269` were created

[2018-12-20 18:09] Sunshine4209 commented on #19881
Hello @engcom-backlog-nazar ,
Thanks for responding quickly. I think if you allow width and height to be null then a few lines down call `getRatio` that requires width and height to be ints, this will keep causing issues. Your method signature is `getRatio(int width, int height)` in my opinion it should be `getRatio(?int width, ?int height)` besides, you are still checking if those value are null

[2018-12-20 18:10] magento-engcom-team commented on #19630
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-20 18:11] magento-engcom-team commented on #19630
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97270` were created

[2018-12-20 19:02] hostep commented on #16171
We had to run an extra query (but maybe that is Magento Cloud specific, in our case when moving a database from one environment to the other). And we are just clearing the flag data instead of deleting them entirely, this probably doesn't make a difference, but I'm not entirely sure.
Anyway, maybe it helps:
[code]

[2018-12-20 20:17] justinharris1986 commented on #19515
so I'm probably a bit impatient, so loaded this patch up in to our 2.2.7 dev instance. However, it still looks like it is saving the cards in the adminhtml area.

sorry for me being so impatient, but I just want to make sure were on the same page, and everything is fixed. I appreciate all the help!

[2018-12-20 20:47] zach-allgood opened #19912 "Wrong Created Date for Giftcard Accounts"
### Preconditions (*)

1.  Magento Enterprise 2.2.6

### Steps to reproduce (*)

1. Create a Giftcard product
2. In Stores -> Configuration -> Sales -> Gift Cards -> Gift Card General Settings, set Lifetime to 365
3. Save configuration and create a new order with the Giftcard product
4. Go to Marketing -> Gift Card Accounts

### Expected result (*)

1. New gift card account should show current dat

[2018-12-20 20:47] magento-engcom-team commented on #19912
Hi @zach-allgood. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-20 22:18] Sergio-Taddeo commented on #4953
@magento-engcom-team I'm having the same issue.
Magento Version 2.1.6. I saw a reply saying the bug persists even on newest versions such as 2.2.6.
This is what I'm getting when trying to reorder through the admin:

![image](https://user-images.githubusercontent.com/46035402/50314000-14931380-0462-11e9-9e28-499e99bb8a0a.png)

Looking forward to hearing from you soon.

[2018-12-20 22:37] justinharris1986 commented on #19515
Just so were on the same page - I see the save credit cards when going to place another order in the adminhtml. I dont see them on the Customer account page.

[2018-12-21 00:22] justinharris1986 opened #19915 "Incorrect index pricing when "Special Price from" is specified, but not "special price""
### Preconditions
1. Magento 2.2.7 (and 2.2.6)
2. A product configured with a "Special Price from" is specified, but not "special price", under advanced pricing
![image](https://user-images.githubusercontent.com/7268384/50317763-4c628100-048b-11e9-9607-3f61c3b70a0a.png)

### Steps to reproduce
1. Navigate in admin html
2. catalog -> Product
3. create a product
4. fill in all required values
5. Cli

[2018-12-21 00:22] magento-engcom-team commented on #19915
Hi @justinharris1986. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-12-21 00:44] tomekjordan opened #19916 "Configurable - created variants missing all info on products grid at admin area"
### Preconditions (*)

1. Magento 2.3 CE
2. PHP 7.2

### Steps to reproduce (*)

1. Create Configurable
2. Add Variants with custom created attribute (I added dropdown type with just "dose"
3. Magento will create variants but all of them are missing any info on product's grid - no name, no product type, no custom attribute value
http://prntscr.com/lxpfdb
http://prntscr.com/lxpfi3
4. Checked and wh

[2018-12-21 00:44] magento-engcom-team commented on #19916
Hi @tomekjordan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-21 01:07] tomekjordan commented on #19916
please close this issue, I need to investigate it more. since there were some other extensions installed

[2018-12-21 02:00] magento-engcom-team commented on #19632
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97272` were created

[2018-12-21 03:19] #19916 closed, assigned to nobody

[2018-12-21 04:38] bartspiering opened #19917 "allowDrug? ;-)"
### Summary (*)
This file contains an argument called 'allowDrug': vendor/magento/module-catalog/view/adminhtml/templates/catalog/product/attribute/set/main.phtml

### Examples (*)
Check this file: vendor/magento/module-catalog/view/adminhtml/templates/catalog/product/attribute/set/main.phtml

### Proposed solution
I would assume it should be 'allowDrag'

[2018-12-21 04:38] magento-engcom-team commented on #19917
Hi @bartspiering. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-21 04:39] bartspiering commented on #19917
Found in Magento 2.3

[2018-12-21 04:41] magento-engcom-team commented on #19917
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-21 04:49] magento-engcom-team commented on #19917
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97273`, `MAGETWO-97274` were created

[2018-12-21 05:38] Jeeva-Rathinam commented on #19480
@saktib  Still getting same error after update  $realPath = str_replace('\\', '/', $this->fileDriver->getRealPath($path));
Anything else shall i need to focus?

[2018-12-21 06:00] PathToLife commented on #19480
@Jeeva-Rathinam aur koshish karo. or stop using windows

[2018-12-21 07:44] hackrat opened #19921 "ACL incorrect for Advance in system configuration"
### Preconditions
1.  Magento 2.2.6

### Steps to reproduce
1. Create a new role in the backend
2. Give the role access to the resource 'Advanced Section'
3. Create a new account
4. Give the account the new role
5. Login with the new account and go to Stores -> Configuration -> Advanced -> Advanced

### Expected result
1. User should be able to go to 'Advanced Section'

### Actual result
1. User c

[2018-12-21 07:45] magento-engcom-team commented on #19921
Hi @hackrat. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-21 07:48] babybeddingdesign commented on #17813
Hi,
i have the same problem on product pages on Magento 2.3 and i dotn see how to solve it? can please someone help me?
https://babybeddingdesign.com/

[2018-12-21 07:49] magento-engcom-team commented on #19915
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-21 07:49] magento-engcom-team commented on #19912
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-21 07:50] magento-engcom-team commented on #19877
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-21 07:51] magento-engcom-team commented on #19921
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-21 08:13] jamesryanbell opened #19923 "Magento composer install - Your requirements could not be resolved to an installable set of packages"
### Preconditions (*)

1.  magento/product-community-edition 2.2.6
2. PHP 7.1.17
3. ubuntu-17.10

### Steps to reproduce (*)

1. composer install

### Expected result (*)

1. Magento packages downloaded

### Actual result (*)

1. I get the following error:

[code]

PHP -m
[code]

composer.json
[code]

[2018-12-21 08:13] magento-engcom-team commented on #19923
Hi @jamesryanbell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-21 08:15] magento-engcom-team commented on #19921
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97276`, `MAGETWO-97277` were created

[2018-12-21 08:15] magento-engcom-team commented on #19923
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-21 08:33] engcom-backlog-nazar commented on #19923
Hi @jamesryanbell   thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-21 08:33] #19923 closed, assigned to nobody

[2018-12-21 08:48] engcom-backlog-nazar commented on #19915
Hi @justinharris1986 thank you for you report, This is the expected behavior, the final price is not used if it is 0, for this case there is a minimum price and a maximum price.

[2018-12-21 08:50] engcom-backlog-nazar commented on #19912
Hi @zach-allgood , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open

[2018-12-21 08:50] #19912 closed, assigned to nobody

[2018-12-21 09:39] engcom-backlog-nazar commented on #19901
Hi @Userr017 thank you for you report, i'm not able to reproduce following steps you described, this may be related to your custom modules.

[2018-12-21 09:39] #19901 closed, assigned to nobody

[2018-12-21 09:39] cotiga commented on #19681
### Preconditions
same problem on 2.3.0 clean install
Ubuntu 18.04
Nginx 1.14
PHP 7.2.13
Mysql 5.7
### Steps to reproduce
In Content > Configuration > Edit (Luma)
### Result
Not possible to upload favicon, logo...
JQMIGRATE: deferred.pipe() is deprecated

[2018-12-21 10:48] engcom-backlog-nazar commented on #19881
@Sunshine4209  this one ? ->
[code]

[2018-12-21 10:59] magento-engcom-team commented on #19816
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-21 11:03] Winfle commented on #19230
@SamB-GB Hello. It doesn't throw exception, however expected behaviour is not valid, because after making an account, it doesn't increase coupon usage for newly created customer.
So, I think, that make reverse bugs, however, if you you're interested only in canceling order, you won't have a bug, described here.

[2018-12-21 11:26] cedarvinda opened #19925 "Close button overlapping in shipping address label whenever any user adding new shipping address in mobile view in checkout"
Close button overlapping in shipping address label whenever any user adding new shipping address in mobile view in checkout

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Steps to reproduce
_**Note : testing should be in tab view or mobile view**_
    Step 1: Go to frontend
    Step 2: login as customer
    Step 3: now add any product to cart and go to checkout

[2018-12-21 11:31] engcom-backlog-andrii commented on #19816
@abrarpathan19, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
- You can use the Support portal associated with your account

or

- If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Op

[2018-12-21 11:31] #19816 closed, assigned to abrarpathan19

[2018-12-21 11:41] magento-engcom-team commented on #19925
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97283`, `MAGETWO-97284` were created

[2018-12-21 12:09] magento-engcom-team commented on #19168
@lisovyievhenii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97287`, `MAGETWO-97288` were created

[2018-12-21 12:38] hostep commented on #7739
@gwharton: just ran into this problem on Magento 2.2.5 shop (without amazon modules), and can not confirm that 9a7c9e5 fixes the "From Header set twice" problem. In fact, it makes the email system even more unstable, by causing the From email address to be incorrect.
Also when async sending of emails is enabled, the order emails weren't getting marked as sent anymore, so they got send every single

[2018-12-21 12:59] magento-engcom-team commented on #19909
Hi @eduard13. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-12-21 13:02] magento-engcom-team commented on #19909
@eduard13 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97290` were created

[2018-12-21 13:04] eduard13 commented on #19909
Hi @ilnytskyi, these days I have also encountered the same issue while adding a dynamic rows field to a custom widget.

[2018-12-21 13:35] magento-engcom-team commented on #18953
@lisovyievhenii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97291` were created

[2018-12-21 13:42] engcom-backlog-nazar commented on #19877
@alepane21 thank you for you report, in wich cases you have this result ->
` final_price, min_price and max_price of products with id between min(indexed_ids) and max(indexed_ids) but not in indexed_ids will be set to 0`
I can't se any reason why this prices wiil be set to 0.
I tested several times every product in this range have prices.

[2018-12-21 13:51] saktib commented on #19480
@Jeeva-Rathinam
From your comment I can see you are missing one backslash, it should be like below.
`$realPath = str_replace('\\', '/', $this->fileDriver->getRealPath($path));`

[2018-12-21 14:11] engcom-backlog-andrii commented on #7231
It is not an issue the difference between rendered css is:
 - grunt uses shorthand colors where possible instead of full-length hexa-colors. There is css-comb library in npm that can solve this, because grunt-contrib-less doesn't provide such options, look here https://github.com/csscomb/csscomb.js/blob/dev/doc/configuration.md

- grunt doesn't prettifies the output so we rules order is defined by

[2018-12-21 14:15] TomashKhamlai commented on #10674
@hostep, thank you for update, we will check it.

[2018-12-21 14:16] magento-engcom-team commented on #10674
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-21 14:18] joshdavenport commented on #7231
That statement seems to directly contradict what everybody has found in this issue, especially https://github.com/magento/magento2/issues/7231#issuecomment-431164523

I personally originally brought this up when I saw legitimately different appearances (due to missing styles) in the cart

[2018-12-21 14:33] rubnsbarbosa commented on #12117
I observed that if you to use image like that => "media_type": "**Image**" with capital latter, you don't make a POST. You need to use like that => "media_type": "**image**"

[2018-12-21 14:47] magento-engcom-team commented on #19877
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97292`, `MAGETWO-97293` were created

[2018-12-21 14:54] magento-engcom-team commented on #19275
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-21 14:55] alepane21 commented on #19877
Hi @engcom-backlog-nazar,
so you verified the problem?

[2018-12-21 14:55] engcom-backlog-nazar commented on #19275
@samuelecarpene , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-12-21 14:55] #19275 closed, assigned to hitesh-wagento

[2018-12-21 14:58] engcom-backlog-nazar commented on #19877
Hi @alepane21 yes, this very difficult to test.

[2018-12-21 15:13] slackerzz commented on #7231
Looking at the [diff](https://www.diffchecker.com/E5pxAVfW#right-7) that i linked 2 years ago you can see that both **php and grunt compile the same set of rules**, but the order is different.

In the diff the css in the left comes from php, the right one from grunt.
Take this random css rule, that comes from https://github.com/magento/magento2/blob/2.3-develop/app/design/frontend/Magento/luma/web

[2018-12-21 15:15] magento-engcom-team commented on #19853
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-21 15:16] engcom-backlog-andrii commented on #19853
@magento-engcom-team give me 2.2-develop instance

[2018-12-21 15:16] magento-engcom-team commented on #19853
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-12-21 15:17] magento-engcom-team commented on #19853
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-19853-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19853-2-2-develop.instances.magento-community.engineering/admin](https://i-19853-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-21 15:19] magento-engcom-team commented on #7170
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-21 15:19] engcom-backlog-andrii commented on #7170
@magento-engcom-team give me 2.3.0 instance

[2018-12-21 15:19] magento-engcom-team commented on #7170
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-21 15:20] magento-engcom-team commented on #7170
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-7170-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-7170-2-3-0.instances.magento-community.engineering/admin](https://i-7170-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-21 15:26] #7170 closed, assigned to magento-engcom-team

[2018-12-21 15:30] giacmir commented on #7231
@engcom-backlog-andrii Even if the example reported do not have "impact on page rendering" this does not mean that there is no issue here.

Having two compile systems that produce different ordered rules is a BIG problem in css, where rule position is important (let's remember that the first C of CSS is for "cascading").

In my opinion this issue should be reopened and treated as bug.

[2018-12-21 15:31] slackerzz commented on #7231
@mverstraete the fact the order of css rules is different between PHP and Grunt is the issue i pointed out, could an issue itself be the solution too?

[2018-12-21 15:34] DanielRuf commented on #7231
The difference is because of different compilers and different behaviors in the implementations that we use.

Can anybody reproduce this with a simple reproducable setup without Magento but the same dependencies (+ versions)?

[2018-12-21 15:36] DanielRuf commented on #7231
`oyejorge/less.php` and `grunt-contrib-less`

[2018-12-21 15:38] magento-engcom-team commented on #18812
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-21 15:39] engcom-backlog-andrii commented on #18812
@magento-engcom-team give me 2.3.0 instance

[2018-12-21 15:39] magento-engcom-team commented on #18812
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-21 15:39] magento-engcom-team commented on #18812
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-18812-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-18812-2-3-0.instances.magento-community.engineering/admin](https://i-18812-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-21 15:43] DanielRuf commented on #7231
https://github.com/oyejorge/less.php/issues/340

https://github.com/oyejorge/less.php/issues

I propose to switch to another library (for ths PHP stack, probably the official one). We shall not fix a thirdparty dependency which seems to be incomplete.

[2018-12-21 15:45] magento-engcom-team commented on #19645
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-12-21 15:45] magento-engcom-team commented on #19645
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97295` were created

[2018-12-21 15:46] DanielRuf commented on #7231
https://github.com/oyejorge/less.php/issues/340

https://github.com/oyejorge/less.php/issues

I propose to switch to another library (for the PHP stack). We shall not fix a thirdparty dependency which seems to be incomplete.

[2018-12-21 15:46] bordeo commented on #17436
A fast fix is to remove the "delete" statement.
Here you can find patch
* 2.1.x: https://github.com/Hevelop/magento2-patches/blob/master/Patch-Magento_ConfigurableProduct-M2.1.10-delete-simple-products-on-validation.patch
* 2.2.6: https://github.com/Hevelop/magento2-patches/blob/master/Patch-Magento_ConfigurableProduct-M2.2.6-delete-simple-products-on-validation.patch

[2018-12-21 15:47] DanielRuf commented on #7231
http://lessphp.typesettercms.com

[2018-12-21 15:48] magento-engcom-team commented on #19529
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97296` were created

[2018-12-21 15:48] ihor-sviziev commented on #18154
Hi @davidverholen. Thank you for your report.
The issue has been fixed in 2.2-develop branch
Related commit(s):
 - [1c7b6ccd4db558539da93509828230fd4992fbdf](https://github.com/magento/magento2/commit/1c7b6ccd4db558539da93509828230fd4992fbdf)

The fix will be available with the upcoming 2.2.8 release.

[2018-12-21 15:48] #18154 closed, assigned to ketan-krish

[2018-12-21 15:49] DanielRuf commented on #7231
https://packagist.org/packages/leafo/lessphp
https://github.com/leafo/lessphp
http://leafo.net/lessphp/

[2018-12-21 15:54] engcom-backlog-andrii commented on #18812
Refresh

[2018-12-21 15:56] magento-engcom-team commented on #10881
Hi @engcom-backlog-andrii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2018-12-21 15:58] DanielRuf commented on #7231
But it's probably easier to use another pure and single solution instead of having two frontend stacks.

[2018-12-21 16:02] drew7721 opened #19931 "Product init core registration."
### Preconditions
1. Magento version : 2.2.7

### Steps to reproduce
1.  See https://github.com/magento/magento2/blob/a8097646c6f621964fa333262704bf38fe7c265c/app/code/Magento/Catalog/Helper/Product.php#L460
2. Note that an event is thrown after. That event will be used to probably alter the product data or add product data.

### Expected result
1. The product should be saved in the registry after

[2018-12-21 16:02] magento-engcom-team commented on #19931
Hi @drew7721. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-21 16:09] ihor-sviziev commented on #19931
Hi @drew7721,
It's not an issue, as objects are passed by reference, so the same product will be in registry.

[2018-12-21 16:09] DanielRuf commented on #7231
https://github.com/gruntjs/grunt-contrib-less/compare/v1.4.1...master

The issue is that no one uses the Grunt version and we just use the PHP version in projects.

Would an upgrade to grunt-contrib-less@2.0.0 fix the issue with the order?

[2018-12-21 16:09] magento-engcom-team commented on #19931
Hi @ihor-sviziev. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-12-21 16:16] ihor-sviziev commented on #19931
@drew7721 I'll close this issue. If you have any questions - feel free to re-open it or just write comments here

[2018-12-21 16:16] #19931 closed, assigned to ihor-sviziev

[2018-12-21 16:17] dan-ding commented on #15404
i think this is covered by https://github.com/magento/magento2/issues/13269 ;
solution should be similar for 2.1 for anyone looking

[2018-12-21 16:40] ronniereid commented on #15441
I also received this error. What is the workaround?

Thanks in advance.

...

[2018-12-21 17:13] sdzhepa commented on #19699
Hello @leoquijano
Thank you for creating a Feature Request!
To avoid duplication I am closing this one.
Please continue tracking the process  by this reference:  https://github.com/magento/community-features/issues/103

Thank you for collaboration

[2018-12-21 17:13] #19699 closed, assigned to nobody

[2018-12-21 17:47] kirkmadera commented on #15441
The fix was to edit my composer.json and replace the numerically indexed repositories array with a string indexed one.

[2018-12-21 18:12] sdzhepa commented on #19446
Hi @abcpremium

I have checked that corresponding documentation was fixed based on this issue
- PR: https://github.com/magento/devdocs/pull/3401/files
- DevDoc:  https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html#upgrade-cli-script

I think we can close this ticket.

Thank you for your effort

[2018-12-21 18:12] #19446 closed, assigned to nobody

[2018-12-21 18:55] okorshenko commented on #8612
Hi @orlangur
Thank you for working on this. We are looking for your PR

[2018-12-21 19:33] magento-engcom-team commented on #18944
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-21 20:00] sergiomendonca commented on #3123
Years later and magento 2 continues extremally slowly on localhost. Docker, varnish, Mac...
Nothing make magento 2 fast.

[2018-12-21 20:14] andyjv commented on #18248
I asked Magento Enterprise support what to do in this situation (Where you have composer modules that are a higher version than what future versions of Magento require). Their workaround was do update the `setup_module` table with the expected versions before upgrading, like some of the posts here tried.

Of course, right now we don't know what, if any, problems this may introduce. Regardless of w

[2018-12-21 20:33] pmclain commented on #19521
This looks more like UPS saying the service is not available instead of the request being incorrect. Doing a quick test with two valid US addresses against the UPS sandbox API on 2.3-develop produced a success response when requesting signature.

URL: `https://wwwcie.ups.com/ups.app/xml/ShipConfirm`
Request Body:
[code]

Response:
[code]

[2018-12-21 20:39] rbayet commented on #19915
Hi @engcom-backlog-nazar,

Can you clarifiy your point of view when you say :

In @justinharris1986 exemple, you can see that minimum and maximum price are also affected and set to 0 in the index table.

**Expected**
[code]

**Actual**

[code]

Regards,

[2018-12-21 21:29] rommelfreddy opened #19934 "checksum verification failed for vertex/module-tax"
### Preconditions (*)
1. Magento CE 2.2.3

### Steps to reproduce (*)
1. Upgrade with composer (guided by devdocs)

### Expected result (*)
1. upgraded magento

### Actual result (*)
1. The checksum verification of the file failed for module vertex/module-tax

### Comment
The same issue happended with a other module. (https://github.com/magento/magento2/issues/16129)
I have tried the same things b

[2018-12-21 21:58] CajuCLC commented on #19934
Having same issue. On Magento Commerce 2.2.2, tried to update using composer and getting error:

[code]

composer.json updated:

"magento/product-enterprise-edition": "2.3",
mcom to latest version.
module-avatax to latest version.
Added the zend\\mvc\\controller.
Ran composer update and the vertex error happens.

I tried deleting vendor/vertex, but same error.

[2018-12-21 23:40] magento-engcom-team commented on #14712
Hi @raymond62. Thank you for your report.
The issue has been fixed in magento/magento2#19788 by @ssp58bleuciel in 2.3-develop branch
Related commit(s):
 - [0e8ffeb450abcc1b08fe7db532dd3ff1e3346746](https://github.com/magento/magento2/commit/0e8ffeb450abcc1b08fe7db532dd3ff1e3346746)
 - [a39039097b5abb807b2b552a606de19256865dfb](https://github.com/magento/magento2/commit/a39039097b5abb807b2b552a606d

[2018-12-21 23:40] #14712 closed, assigned to ssp58bleuciel

[2018-12-21 23:40] magento-engcom-team commented on #19605
Hi @joshuaadickerson. Thank you for your report.
The issue has been fixed in magento/magento2#19751 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [83f8e98ae9749841ff808952e04f0ddd5bc15e35](https://github.com/magento/magento2/commit/83f8e98ae9749841ff808952e04f0ddd5bc15e35)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-21 23:40] #19605 closed, assigned to nobody

[2018-12-21 23:40] magento-engcom-team commented on #19780
Hi @denis-g. Thank you for your report.
The issue has been fixed in magento/magento2#19784 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [05f335f51004180a293222c94f9680848e9462f4](https://github.com/magento/magento2/commit/05f335f51004180a293222c94f9680848e9462f4)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-21 23:40] #19780 closed, assigned to nobody

[2018-12-21 23:40] magento-engcom-team commented on #19763
Hi @pmclain. Thank you for your report.
The issue has been fixed in magento/magento2#19764 by @pmclain in 2.3-develop branch
Related commit(s):
 - [8e5c631f2b0360117e29f0b8c720589ea37a2714](https://github.com/magento/magento2/commit/8e5c631f2b0360117e29f0b8c720589ea37a2714)
 - [fd2200a45bf6970fd053c7d70ca346bd372d980d](https://github.com/magento/magento2/commit/fd2200a45bf6970fd053c7d70ca346bd372d

[2018-12-21 23:40] #19763 closed, assigned to nobody

[2018-12-21 23:40] magento-engcom-team commented on #19706
Hi @textarea. Thank you for your report.
The issue has been fixed in magento/magento2#19707 by @textarea in 2.3-develop branch
Related commit(s):
 - [0a2330a78de2aa7b2f752f05b7a055352100103e](https://github.com/magento/magento2/commit/0a2330a78de2aa7b2f752f05b7a055352100103e)
 - [eb62681291b73d80ffae7adbe2cdb28260059256](https://github.com/magento/magento2/commit/eb62681291b73d80ffae7adbe2cdb28260

[2018-12-21 23:40] #19706 closed, assigned to nobody

[2018-12-21 23:40] magento-engcom-team commented on #14510
Hi @victortodoran. Thank you for your report.
The issue has been fixed in magento/magento2#19341 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [fb19f3f587f8af49cf2171a381eeff4acf9e44e3](https://github.com/magento/magento2/commit/fb19f3f587f8af49cf2171a381eeff4acf9e44e3)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-21 23:40] magento-engcom-team commented on #15922
Hi @michaeldyl520. Thank you for your report.
The issue has been fixed in magento/magento2#19663 by @ravi-chandra3197 in 2.3-develop branch
Related commit(s):
 - [f0738591c91ef676b7924f0988c7664fdacdf8d1](https://github.com/magento/magento2/commit/f0738591c91ef676b7924f0988c7664fdacdf8d1)
 - [d116aeca06e7671cea95b818f1d7927a2d2b7bd6](https://github.com/magento/magento2/commit/d116aeca06e7671cea95b

[2018-12-21 23:40] #15922 closed, assigned to yosefkurniawan

[2018-12-21 23:40] magento-engcom-team commented on #16684
Hi @Detzler. Thank you for your report.
The issue has been fixed in magento/magento2#19387 by @ssp58bleuciel in 2.3-develop branch
Related commit(s):
 - [350b56cd23ebbecebdaf27c30193a48a732b33a4](https://github.com/magento/magento2/commit/350b56cd23ebbecebdaf27c30193a48a732b33a4)
 - [2854a1e5cc5e705633c04b16e6865e89e5250b77](https://github.com/magento/magento2/commit/2854a1e5cc5e705633c04b16e6865e

[2018-12-21 23:40] magento-engcom-team commented on #19085
Hi @DanieliMi. Thank you for your report.
The issue has been fixed in magento/magento2#19094 by @agorbulin in 2.3-develop branch
Related commit(s):
 - [425514bcf49e3adb2d0516d70d27dedf11b65345](https://github.com/magento/magento2/commit/425514bcf49e3adb2d0516d70d27dedf11b65345)
 - [345393d13c42fdcaeb4897fbbb6e3dfae23209ce](https://github.com/magento/magento2/commit/345393d13c42fdcaeb4897fbbb6e3dfa

[2018-12-21 23:40] #19085 closed, assigned to agorbulin

[2018-12-21 23:40] magento-engcom-team commented on #7503
Hi @pascaladriaansen. Thank you for your report.
The issue has been fixed in magento/magento2#19124 by @drew7721 in 2.3-develop branch
Related commit(s):
 - [1becee9bb4114318c89f54b45c10b6b60cdc9cee](https://github.com/magento/magento2/commit/1becee9bb4114318c89f54b45c10b6b60cdc9cee)
 - [b8940db9514c672c9e191bbb33172884a524a993](https://github.com/magento/magento2/commit/b8940db9514c672c9e191bbb33

[2018-12-21 23:40] #7503 closed, assigned to nobody

[2018-12-21 23:40] magento-engcom-team commented on #7710
Hi @chickenland. Thank you for your report.
The issue has been fixed in magento/magento2#19124 by @drew7721 in 2.3-develop branch
Related commit(s):
 - [1becee9bb4114318c89f54b45c10b6b60cdc9cee](https://github.com/magento/magento2/commit/1becee9bb4114318c89f54b45c10b6b60cdc9cee)
 - [b8940db9514c672c9e191bbb33172884a524a993](https://github.com/magento/magento2/commit/b8940db9514c672c9e191bbb3317288

[2018-12-21 23:40] #7710 closed, assigned to nobody

[2018-12-21 23:40] magento-engcom-team commented on #8333
Hi @ChevCheusov. Thank you for your report.
The issue has been fixed in magento/magento2#19124 by @drew7721 in 2.3-develop branch
Related commit(s):
 - [1becee9bb4114318c89f54b45c10b6b60cdc9cee](https://github.com/magento/magento2/commit/1becee9bb4114318c89f54b45c10b6b60cdc9cee)
 - [b8940db9514c672c9e191bbb33172884a524a993](https://github.com/magento/magento2/commit/b8940db9514c672c9e191bbb3317288

[2018-12-21 23:40] #8333 closed, assigned to nobody

[2018-12-21 23:40] magento-engcom-team commented on #14932
Hi @C0D31GN1T3R. Thank you for your report.
The issue has been fixed in magento/magento2#19124 by @drew7721 in 2.3-develop branch
Related commit(s):
 - [1becee9bb4114318c89f54b45c10b6b60cdc9cee](https://github.com/magento/magento2/commit/1becee9bb4114318c89f54b45c10b6b60cdc9cee)
 - [b8940db9514c672c9e191bbb33172884a524a993](https://github.com/magento/magento2/commit/b8940db9514c672c9e191bbb3317288

[2018-12-21 23:40] magento-engcom-team commented on #16074
Hi @drew7721. Thank you for your report.
The issue has been fixed in magento/magento2#19124 by @drew7721 in 2.3-develop branch
Related commit(s):
 - [1becee9bb4114318c89f54b45c10b6b60cdc9cee](https://github.com/magento/magento2/commit/1becee9bb4114318c89f54b45c10b6b60cdc9cee)
 - [b8940db9514c672c9e191bbb33172884a524a993](https://github.com/magento/magento2/commit/b8940db9514c672c9e191bbb33172884a5

[2018-12-21 23:40] #16074 closed, assigned to drew7721

[2018-12-21 23:40] magento-engcom-team commented on #18170
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#18179 by @dmytro-ch in 2.3-develop branch
Related commit(s):
 - [030b223efa3c7e5811ccddbf064d33fb7224c888](https://github.com/magento/magento2/commit/030b223efa3c7e5811ccddbf064d33fb7224c888)
 - [54b6382b4b8c142e99afa62382c6adc729e82adb](https://github.com/magento/magento2/commit/54b6382b4b8c142e99afa62382c6a

[2018-12-21 23:40] #18170 closed, assigned to dmytro-ch

[2018-12-22 00:05] allen-infante opened #19935 "Non UTF-8/Unicode characters"
### Preconditions
1. Magento 2.3

### Steps to reproduce
1. Check file; https://github.com/magento/magento2/blob/f4c1d7526f05bdfb1327b0701cc345f94aadcaed/app/code/Magento/Tinymce3/view/base/web/tiny_mce/plugins/spellchecker/editor_plugin_src.js#L170

### Expected result
1. UTF-8/unicode characters

### Actual result
1. `var re = '', i, str = this.editor.getParam('spellchecker_word_separator_chars'

[2018-12-22 00:05] magento-engcom-team commented on #19935
Hi @allen-infante. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-22 04:55] magento-engcom-team commented on #19935
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-22 06:32] haresh1211 commented on #10591
Also this bug on 2.2.6. Any Solution?

[2018-12-22 06:34] XxXgeoXxX commented on #19935
This problem also reproduced in old Magento versions.
Checked on develpoer branch
Magento 2.2
file lib/web/tiny_mce/plugins/spellchecker/editor_plugin_src.js:170
Commit - 215c077c2187ccc70703823978182f861cedd58a
also preset in Magento 2.1.x
lib/web/tiny_mce/plugins/spellchecker/editor_plugin_src.js:170

In this string used default Chinese symbols for plugin_spellchecker.

[2018-12-22 06:36] magento-engcom-team commented on #19825
Hi @hiren0241. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-12-22 06:37] hiren0241 commented on #19825
@magento-engcom-team give me 2.3-develop instance

[2018-12-22 06:37] magento-engcom-team commented on #19825
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-22 06:37] magento-engcom-team commented on #19825
Hi @hiren0241, here is your [Magento instance](https://i-19825-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19825-2-3-develop.instances.magento-community.engineering/admin](https://i-19825-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-22 06:43] hiren0241 commented on #19825
Hi @magento-engcom-team Please allow access of backup in admin.
As of now, I am getting this notification : Backup functionality is disabled
Backup functionality is currently disabled. Please use other means for backups.

Will you please fire this command on console:php bin/magento config:set system/backup/functionality_enabled 1.

So, that I can test further.

Thanks.

[2018-12-22 06:46] orlangur commented on #19935
@allen-infante so what is the actual problem? Which bugs are produced by this string?

[2018-12-22 06:46] magento-engcom-team commented on #19934
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-12-22 06:55] hiren0241 commented on #19825
HI @magento-engcom-team ,

I am to reproduce this on my local instance. I am working upon it.

[2018-12-22 08:04] Nazar65 commented on #19915
Hi @rbayet maybe related : https://github.com/magento/magento2/issues/19877

[2018-12-22 08:35] mohammadzakir opened #19940 "Exception undefined variable itemsOrderItemId while creating shipment through MSI"
### Preconditions (*)

1. Magento 2.3.0
2. Php version 7.2
3. Developer mode should be enable

### Steps to reproduce (*)

1. Login to Admin Panel
2. On left navigation goto Stores-> Inventory->sources
3. Create two source
4. Now goto left navigation Stores-> Inventory->stocks
5. Create stock with Sales Channels : Main website , and add source created above to the stock
6. Go to Catalog->products

[2018-12-22 08:35] magento-engcom-team commented on #19940
Hi @mohammadzakir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-22 08:35] magento-engcom-team commented on #19940
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-22 08:36] GovindaSharma commented on #19940
@magento-engcom-team give me 2.3-develop instance

[2018-12-22 08:36] magento-engcom-team commented on #19940
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-22 08:37] magento-engcom-team commented on #19940
Hi @GovindaSharma, here is your [Magento instance](https://i-19940-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19940-2-3-develop.instances.magento-community.engineering/admin](https://i-19940-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-22 08:41] magento-engcom-team commented on #19915
Hi @XxXgeoXxX. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-12-22 08:59] vladsh91 commented on #19934
the same problem. i can reproduce this bug with the following commands:

[code]

[2018-12-22 09:03] GovindaSharma commented on #19940
@mohammadzakir nice catch...Since it is related to MSI and in develop branch MSI feature not present,but its look like issue is there so created a pull request for this as the same file is present in develop branch

[2018-12-22 10:17] surabhisrivastava09 opened #19942 "Success message is not showing when creating invoice & shipment simultaniously"
### Preconditions (*)
1. Magento 2.3
2. PHP 7.1.3

### Steps to reproduce (*)
1. Create order from admin panel.
2. View order at admin panel and Click "create invoice".
3. Check the checkbox "create shipment" and "Email copy of invoice" while generating invoice. and click submit invoice button.

### Expected result (*)
1. Success message should show as "You created the invoice and shipment."

###

[2018-12-22 10:18] magento-engcom-team commented on #19942
Hi @Surabhi-Cedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-12-22 10:18] magento-engcom-team commented on #19942
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-22 10:19] GovindaSharma commented on #19942
@magento-engcom-team give me 2.3-develop instance

[2018-12-22 10:19] magento-engcom-team commented on #19942
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-22 10:19] magento-engcom-team commented on #19942
Hi @GovindaSharma, here is your [Magento instance](https://i-19942-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19942-2-3-develop.instances.magento-community.engineering/admin](https://i-19942-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-22 12:36] magento-engcom-team commented on #18724
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97301` were created

[2018-12-22 13:31] ilnytskyi commented on #19909
@eduard13 thanks for this suggestion. I tired conditions but in my case I want to to group them and give them different titles or other attributes.

[2018-12-22 13:54] magento-engcom-team commented on #19835
Hi @hiren0241. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-12-22 16:11] maierb commented on #4330
Bump for 2.2.x release fix?

[2018-12-22 18:01] magento-engcom-team commented on #19940
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-12-22 18:01] magento-engcom-team commented on #19940
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97303` were created

[2018-12-22 18:40] magento-engcom-team commented on #19786
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-12-22 18:40] magento-engcom-team commented on #19887
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-12-22 18:40] Nazar65 commented on #19887
I'm will work on this

[2018-12-22 21:06] alex4allofyou commented on #19882
Yes I have the same issue with Apache/2.4.6 CentOS with PHP 7.2.13. Hangs at Magento_InventorySales. Have tried many times.

[2018-12-22 21:12] alex4allofyou commented on #19882
I have tested it.
Yes I have the same issue with Apache/2.4.6 CentOS with PHP 7.2.13. Hangs at Magento_InventorySales. Have tried many times.

[2018-12-22 22:17] bartoszkubicki commented on #18144
@cpartica I think all question you've asked have been already resolved while describing the issue:
- I think level doesn't matter as long as this category has a lot of products (thousands to see the effect)
- I do it on product page
- I have it tested only on product page, but I believe it can be a problem throughut other entry points, as it is caused by massive rewrites operations, which are trig

[2018-12-22 22:53] Tom-T commented on #19934
I'm having the same issue installing magneto using both create project as well as using a composer.json file with this module in the remove section.

[2018-12-22 23:10] alex4allofyou commented on #19934
Yeah, have it too.

`  [UnexpectedValueException]
  The checksum verification of the file failed (downloaded from https://repo.
  magento.com/archives/vertex/module-tax/vertex-module-tax-3.0.0.0.zip)`

And when I did replace, later during install of Magento2 says it cannot find it and aborts install, even though I did not select it.

[2018-12-22 23:40] magento-engcom-team commented on #19917
Hi @bartspiering. Thank you for your report.
The issue has been fixed in magento/magento2#19918 by @GovindaSharma in 2.3-develop branch
Related commit(s):
 - [f2383b84b4fca2c3bc8d112a62a9599377363334](https://github.com/magento/magento2/commit/f2383b84b4fca2c3bc8d112a62a9599377363334)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-22 23:40] #19917 closed, assigned to GovindaSharma

[2018-12-22 23:40] magento-engcom-team commented on #19507
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#19508 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [edc9a5cf882103c7c1417e89f6b4b7fd7df50789](https://github.com/magento/magento2/commit/edc9a5cf882103c7c1417e89f6b4b7fd7df50789)
 - [17ad0dfb23bd692da2cf96828f5019dca411fa4a](https://github.com/magento/magento2/commit/17ad0dfb23bd692da2cf96828f5019dc

[2018-12-22 23:40] #19507 closed, assigned to SyntaxKay

[2018-12-22 23:40] magento-engcom-team commented on #17819
Hi @OleksiiBulba. Thank you for your report.
The issue has been fixed in magento/magento2#19232 by @ErikPel in 2.3-develop branch
Related commit(s):
 - [a5dd6dc4c34d25a468b51ee383049a5ef0fc44f6](https://github.com/magento/magento2/commit/a5dd6dc4c34d25a468b51ee383049a5ef0fc44f6)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-22 23:40] #17819 closed, assigned to vaibhavahalpara

[2018-12-23 03:11] DrewML commented on #17813
@babybeddingdesign I'm not seeing this bug on your product pages.

[2018-12-23 08:36] magento-engcom-team commented on #19380
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97304` were created

[2018-12-23 08:45] magento-engcom-team commented on #19934
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-12-23 08:47] magento-engcom-team commented on #19934
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97305` were created

[2018-12-23 09:14] dmytro-ch commented on #18470
@magento-engcom-team give me 2.2.6 instance

[2018-12-23 09:15] magento-engcom-team commented on #18470
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-23 09:15] magento-engcom-team commented on #18470
Hi @dmytro-ch, here is your [Magento instance](https://i-18470-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-18470-2-2-6.instances.magento-community.engineering/admin](https://i-18470-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-23 09:48] magento-engcom-team commented on #18470
@dmytro-ch Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-12-23 09:49] magento-engcom-team commented on #18470
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97306`, `MAGETWO-97307` were created

[2018-12-23 09:52] magento-engcom-team commented on #19283
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-12-23 09:53] magento-engcom-team commented on #19283
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97308` were created

[2018-12-23 12:55] qqil commented on #19934
Same error:
[code]

[2018-12-23 13:33] magento-engcom-team commented on #19940
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-12-23 13:35] magento-engcom-team commented on #19909
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-12-23 14:01] HEALTHYHOOKAHCA opened #19948 "Out of Stock products does not display on 2.2.3 also"
### Preconditions (*)

1. Magento 2.2.4

### Steps to reproduce (*)

1. Go to Admin side .. from left menu..  Stores >> Configuration >> Catalog >> Inventory
In that, check "Stock Options" tab, in which I've set "Display Out of Stock Products" to "Yes", for all my views, website view, in default settings.
2. on Customer side, I can not see my all the products(Configurable Products). "Out-of-stock"

[2018-12-23 14:01] magento-engcom-team commented on #19948
Hi @HEALTHYHOOKAHCA. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-12-23 15:11] magento-engcom-team commented on #18493
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-12-23 15:12] magento-engcom-team commented on #18493
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97309`, `MAGETWO-97310` were created

[2018-12-23 15:18] arshaim39 opened #19950 "CLI command is giving fatal error (Out of Memory)"
### Summary (*)
I have some issue in Magento 2 CLI. Whenever I try to run a command in CLI, it generates an error and does not proceed any command.

### Examples (*)
I am running following command to reindex the website.

**ea-php70 magento indexer:reindex**

It generates following error in CLI:

**mmap() failed: [12] Cannot allocate memory

Fatal error: Out of memory (allocated 2097152) (tried to

[2018-12-23 15:18] magento-engcom-team commented on #19950
Hi @arshaim39. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-23 15:20] arshaim39 commented on #19950
@magento-engcom-team give me $VERSION instance

[2018-12-23 15:21] arshaim39 commented on #19950
Yes

[2018-12-23 15:48] maheshWebkul721 commented on #19950
@arshaim39 please use command as `php -d memory_limit=2G bin/magento indexer:reindex`

[2018-12-23 15:52] arshaim39 commented on #19950
Not working. Please see following screenshot.

![cpanel terminal 1](https://user-images.githubusercontent.com/46088426/50385264-d8c5ab80-06f8-11e9-86bd-d0e3b0b9a77c.png)

[2018-12-23 17:19] milindsingh commented on #19950
@arshaim39 What is your total memory?

[2018-12-23 17:33] milindsingh commented on #19934
I think it's similar  #19283

[2018-12-23 18:20] magento-engcom-team commented on #18392
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97311` were created

[2018-12-23 20:00] amustci065 commented on #2942
Im very new to Magento, Would really appreciate everyones here. been trying to install for the past 2 days now.  Installation stops at 69%
![installation issue](https://user-images.githubusercontent.com/33057348/50387154-b9794f00-06f5-11e9-90a4-4ec5bbebca3f.png)

[2018-12-24 03:34] arshaim39 commented on #19950
![screenshot_2018-12-24-08-56-24](https://user-images.githubusercontent.com/46088426/50390234-a8165e00-075a-11e9-85bc-c46357fdda39.png)

As I cannot see total memory in my cpanel section but I found this in terminal by 'top' command.

[2018-12-24 04:10] seyuf commented on #19479
Similar error encountered on aurora dump to mysql rds aws.
magento2 2.3 error at setup upgrade:
[code]
`Column_priv` is an aws generate table.

[2018-12-24 04:42] thakurakhilesh commented on #19540
Change customer module table column definition type

On Mon, Dec 24, 2018, 9:58 AM Coulibaly <notifications@github.com wrote:

[2018-12-24 04:43] thakurakhilesh commented on #19540
Sorry custom not customer.

On Mon, Dec 24, 2018, 10:12 AM Akhilesh Thakur <
akhilesh.thakur@sourcefuse.com wrote:

[2018-12-24 06:45] magento-engcom-team commented on #19948
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-24 06:45] magento-engcom-team commented on #19950
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-24 06:45] magento-engcom-team commented on #19935
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-24 06:56] DanielRuf commented on #19950
Well it's already using the swap. Ask your hoster to increase the available memory or stop other processes to free up some memory.

[2018-12-24 06:56] #19950 closed, assigned to nobody

[2018-12-24 07:29] ratnesh-kadam opened #19952 "Magento 1 - Patch SUPEE-10415 is not applied"
I have tried to apply path SUPEE-10415 to magento 1.9.1.0, but its won't succedeed.

Please find the report below. Checking if patch can be applied/reverted successfully.

ERROR: Patch can't be applied/reverted successfully.

checking file app/Mage.php checking file app/code/core/Mage/Adminhtml/Block/Report/Review/Detail.php checking file app/code/core/Mage/Adminhtml/Block/Report/Tag/Product/Detai

[2018-12-24 07:32] magento-engcom-team commented on #19952
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-24 08:01] engcom-backlog-nazar commented on #19952
Hi @ratnesh-kadam  i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2018-12-24 08:01] #19952 closed, assigned to nobody

[2018-12-24 08:06] DanielRuf commented on #14952
@hazzan3li with composer-patches or `patch -p0 18471.patch`.

[2018-12-24 08:07] engcom-backlog-nazar commented on #19948
Hi @HEALTHYHOOKAHCA thank you for you report, this issue has already fixed on 2.2-develop and 2.3-develop branch and available on 2.2.7 release and 2.3.0 release.

[2018-12-24 08:07] #19948 closed, assigned to nobody

[2018-12-24 08:08] DanielRuf commented on #14952
Or search for "how to apply patch file" + your OS (should be some Linux) at Google.

[2018-12-24 08:14] hazzan3li commented on #14952
Thank you
I applied the patch with patch.php method but I don't know if it's applied or not

[2018-12-24 08:34] DanielRuf commented on #14952
Not sure what you mean with patch.php. You have to check the files if they contain what you see in the patch file (the changes with `+` at the beginning).

[2018-12-24 08:43] hazzan3li commented on #14952
patch.php method to patch magento
Make one file with the name of patch.php, write the following code in it,
php print("&lt;PRE&gt;"); passthru("/bin/bash abcd.patch"); print("&lt;/PRE&gt;"); echo "Done";

replace the file name in it, upload it in the root and run the file from the browser.
Name should be abcd.patch
You should receive following screen once you run patch.php from the browser,

[2018-12-24 08:53] gouravsyscraft opened #19953 "1823 Failed to add the foreign key constraint 'EAV_ATTRIBUTE_OPTION_SWATCH_STORE_ID_STORE_STORE_ID' to system tables,"
******Summary** of the issue:****

Hello Team,

I am trying to update magento from 2.2 to 2.3 but when  i am running below command.
php bin/magento setup:upgrade

then i am getting this error.

SQLSTATE[HY000]: General error:

1823 Failed to add the foreign key constraint 'devphoto_pmtest/EAV_ATTRIBUTE_OPTION_SWATCH_STORE_ID_STORE_STORE_ID' to system tables, query was: ALTER TABLE `eav_attribute_o

[2018-12-24 08:53] magento-engcom-team commented on #19953
Hi @gouravsyscraft. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-24 08:56] magento-engcom-team commented on #19953
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-24 08:58] engcom-backlog-nazar commented on #19953
Hi @gouravsyscraft, thank you for you report,  this problem related to your custom module.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-24 08:58] #19953 closed, assigned to nobody

[2018-12-24 08:59] DanielRuf commented on #14952
This is not needed. You can do the same with SSH. In this case rename the file to abcd.patch or similar.

Where is this from? Our official docs?
`passthru()` is often disabled as this is not a secure way.

[2018-12-24 09:04] hazzan3li commented on #14952
https://magento.stackexchange.com/questions/174964/magento2-how-to-install-patch-ce-magetwo-67805-patch

the last answer with 6 steps

[2018-12-24 09:04] hostep commented on #14952
@hazzan3li : this sound like how patches are applied for Magento 1 shops. Those were bash scripts, but the patches for Magento 2 shops are pure git diff files which won't work if you execute them with bash.

If you use composer to install Magento, it's best to follow something like mentioned in this article: https://support.magento.com/hc/en-us/articles/360005484154-Create-a-patch-for-a-Magento-2-

[2018-12-24 09:09] hazzan3li commented on #14952
it is too hard  to understand all of these complex thinges I am **begginer**

[2018-12-24 09:21] DanielRuf commented on #19934
It's a duplicate issue imo. I think we can close the other issue.

[2018-12-24 09:55] engcom-backlog-nazar commented on #19935
Hi @allen-infante thank you for you report, We can not accept the issue only because code quality tool returns error, please provide a specific example of the problem with this code.
Then please reopen the issue.

[2018-12-24 09:55] #19935 closed, assigned to XxXgeoXxX

[2018-12-24 10:10] engcom-backlog-andrii commented on #4567
@sarfarazbheda, could you provide more details? Which Magento version do you use? How did you set up  cart price rules? Please provide verbal description or at least screenshots.

[2018-12-24 10:12] magento-engcom-team commented on #2939
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-24 10:17] magento-engcom-team commented on #4567
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-24 10:29] vivekjha25 opened #19955 "Discount amount is not getting removed from Order total after removing Coupon on Payment Page."
**Preconditions (*)**
1. Magento version 2.2.6

 **Steps to reproduce (*)**
1. Add any product on cart.
2. Proceed to Checkout .
3. Apply Coupon code on Payment Page and verify Order Summary.
4. After that remove Coupon code and verify Order Summary.

**Expected result (*)**

1. After removing coupon code, order summary should get updated and discount amount should get
removed.
2. Applied promo co

[2018-12-24 10:31] magento-engcom-team commented on #19955
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-24 10:43] mirzasahaab commented on #18395
Can you provide me the code of this file?
vendor/magento/module-customer/view/frontend/templates/address/edit.phtml

[2018-12-24 10:47] GovindaSharma commented on #19955
hI @vivekjha25 , i am not able to reproduce this issue in 2.2.6 version ,may be there is some customization in your site which causing this issue,but in clean magento there is no such type of issue.

[2018-12-24 10:48] #19955 closed, assigned to GovindaSharma

[2018-12-24 10:49] magento-engcom-team commented on #19529
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-12-24 10:55] hazzan3li commented on #14952
what changes I have to make in json file
**Module**: ??
**Title**: ??
_Path to patch_: "patches/composer/18471.diff"  +1:

[2018-12-24 10:57] engcom-backlog-andrii commented on #4567
@magento-engcom-team give me 2.3.0 instance

[2018-12-24 10:57] magento-engcom-team commented on #4567
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-24 10:57] magento-engcom-team commented on #4567
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-4567-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-4567-2-3-0.instances.magento-community.engineering/admin](https://i-4567-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.