[2016-06-30 05:36] stevekem commented on #5364
Not sure if it matters but cache was flushed through SSH. It appears in all browsers (latest versions)

[2016-06-30 05:48] stevekem commented on #5364
Server is Debian GNU/Linux 8 and it happens on fresh install of 2.1.0 for us and for our developer on their server too.

[2016-06-30 06:00] MindConflicts commented on #2951
Same for me on develop branch (pl_PL). Magento CLI version 2.2.0-dev

`php bin/magento i18n:pack pl_PL.csv -d pl_PL`

https://s32.postimg.org/pz2pplgg5/translations_bug.gif

[2016-06-30 06:04] RG-1 commented on #5241
I think that this issue is related to "Collections Data" cache.
Dropdown is always displayed, after I disabled "Collections Data" and flushed cache.

Please, have a look at the issue.

[2016-06-30 06:21] Styopchik opened #5369 "Wrong content in admin Stores->Configuration->Desig"
## Steps to reproduce
1. Install Magento from downloaded zip.
2. Go to admin pannel Stores->Configuration->Design.
## Expected result
1. To see design configuration
## Actual result
1. Search engine robots configuration.
2.
   ![image](https://cloud.githubusercontent.com/assets/884525/16478692/ff262d6a-3ea3-11e6-9f60-a6c5a69353fc.png)

[2016-06-30 06:37] mayankspatel commented on #2531
[InvalidArgumentException]
There are no commands defined in the "setup" namespace.
its windows localhost on wamp server

[2016-06-30 07:02] hostep commented on #5369
Duplicate of #5240

@Styopchik: it has been moved to Content => Configuration

Please try to search for an issue first before creating a new one, this has been reported like 7 times already.

[2016-06-30 07:07] YevSent commented on #5304
Hi @hungpvdev, yes, it still should works.
According to a second question, it depends on your implementation. If it will work with 2.0.7 it also should work with 2.1, but, really, before 2.1 release, were fixed a lot of bugs for checkout module also.

[2016-06-30 07:19] Styopchik commented on #5369
sorry :)

[2016-06-30 07:26] kanduvisla opened #5370 "2.0.7 : Product attributes (also names and stuff) get missing"
I don't know if anyone encountered this too, and I'm still not sure if it has something to do with some custom code of ours but ...

Sometimes, and it seems completely at random, products get erased of all their attributes. This also includes things like name, visibility, status, etc. Prices and some other attributes are kept. I looked at all the processes that our custom code has (events, cronjob

[2016-06-30 07:33] philipburrell opened #5371 "Magento 2.1 Rest API configurableProductOptionRepositoryV1 Post"
This is not updating the values
I send this as the body
{"option":{"attribute_id": "140","label": "Dropdown1", "position": 0,"values": [ { "value_index": 9}, {"value_index": 10 } ],"product_id": 7}}

And it returns 9
The get method returns
[  {    "id": 9,    "attribute_id": "140",    "label": "Dropdown1",    "position": 0,    "values": [],
"product_id": 7  }]

See values is empty

[2016-06-30 08:21] Asitis opened #5373 "Magento keeps pinging NewRelic faulty?"
## Steps to reproduce

Installed two Magento 2.1 installations via Composer on a dev server (Apache, PHP 7.0.7)
## Actual result

The server overloads sporadically and without reason. On little to no action on the server at night, it manages to choke and overload. I've been sparring with our hostingpartner to find the cause and a possible solution, and next to obvious things like memory-limits we

[2016-06-30 08:28] SerhiyShkolyarenko commented on #3937
@POleszkiewicz, it's fixed in 2.1 release and unfortunately it's not backportable to 2.0.x branch.

[2016-06-30 08:31] philipburrell commented on #5371
I can confirm that this works in version 2.0.7

[2016-06-30 09:11] Whaaaaat opened #5374 "<lastmod> in sitemap is not being updated when any modification on product or category"
If you do any changes on a product or category like changing the meta data or the description, then go and regenerate the sitemap from the Marketing tab, after that check the sitemap you will still find the date of creation of that product or category

[2016-06-30 09:49] Onkovat opened #5375 "Are typos considered bugs too?"
In case typos in function names are considered bugs then www.example.com\vendor\magento\module-catalog\Model\Product.php contains a function getFormatedPrice() on line 1130 though Formatted is written with 2 t.

[2016-06-30 10:09] antboiko commented on #5370
Hi @kanduvisla , the GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most approp

[2016-06-30 10:09] #5370 closed, assigned to nobody

[2016-06-30 10:19] LiliSpace48 commented on #4324
@shiftedreality @elenleonova H,  is there any update about this issue please? thanks

[2016-06-30 10:22] nileshpatelifuturz commented on #5312
Can you please help me ?
How I can resolve it ?

[2016-06-30 10:38] undefined-olha commented on #5328
Thank you! Internal issue MAGETWO-54218.

[2016-06-30 10:53] stamster commented on #5375
If it works, I guess not. In any case refactor of entire code base is needed to change method name.

[2016-06-30 10:55] tkacheva commented on #3172
@vkorotun please take a look

[2016-06-30 11:02] jsakars opened #5376 "Flash message appears everywhere with Varnish"
## Steps to reproduce
1. Install Magento 2.0.7
2. Setup Varnish4
3. Add product to the cart or perform any other action that triggers flash message
## Expected result
1. Each flash message is shown only once
## Actual result
1. The same flash message is shown in all pages when I continue to navigate through site

This issue is present only when Varnish is enabled. This bug was mentioned 2 month ag

[2016-06-30 11:03] bh-ref commented on #4312
@KrystynaKabannyk could you please reopen the issue? It seems that I am not able to do it.

[2016-06-30 11:46] mverstraete commented on #4813
The "No such entity with cartId" happens when an api call is made to /rest/default/V1/guest-carts/050...2fc/payment-information.  A 404 is returned and the error displays briefly behind the loading screen.

The response from the API call contains a stack trace:

[code]

It happens because its calling QuoteRepository->getActive('56').  The quote exists, but its not active so it throws a NoSuchEntit

[2016-06-30 11:51] mverstraete commented on #5312
Does it flash an error that says "No such entity with cartId = ##" briefly above the Payment heading?  If so, it may be related to this:  https://github.com/magento/magento2/issues/4813

[2016-06-30 12:05] samuellinde opened #5377 ""No items" in minicart in 2.1"
## Steps to reproduce
1. Add product to cart
2. Click minicart icon
## Expected result
1. Display content of cart
## Actual result
1. ![screen shot on 2016-06-30 at 14-02-10](https://cloud.githubusercontent.com/assets/57992/16487468/65b9efb8-3ecb-11e6-9c84-69fe3bef72d7.png)

No Javascript errors of any kind. Navigating to /checkout/cart/ displays the content properly.

[2016-06-30 12:13] hesamy opened #5378 "Installation is incomplete. Need help"
Hello,
I'm completely new to coding and my boss has asked me to affiliate myself with Magento for future work. I was installing Magento when it stopped at 51% and told me to check the error log before restarting. I have no idea what the log is saying so I was hoping someone could help me out.
Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenan

[2016-06-30 12:28] orlangur commented on #5378
Did you try to install over clean database? Looks like something is present in `customer_group` table.

[2016-06-30 12:38] punkstar commented on #4784
@wert2all Yes, that was my work around for the issue.

[2016-06-30 12:38] navarr commented on #5138
This was more a feature request so I wasn't sure it would read right, but I've updated the issue with the template.

[2016-06-30 12:43] hesamy commented on #5378
@orlangur I didn't really touch anything. I just downloaded the file and followed the steps. Is there a way for me to clear that table?

[2016-06-30 12:47] alena-marchenko commented on #5327
Hi @s00071609

Please specify what Payment Action do you use for PayPal (Sale or Authorization) ?

[2016-06-30 12:50] alena-marchenko commented on #5186
Hi @shijiang

Is this issue still reproducible for you on 2.1.0 version or on latest develop branch?

[2016-06-30 12:52] tzyganu opened #5379 "view.xsd image type restrictions should not be there"
**Description**
There is a validation in [view.xsd](https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Config/etc/view.xsd#L69)  that prohibits users from creating configurations for newly added media image attributes.

**Steps to reproduce**
1. Create a module that adds a new media image to the product.
2. Try to set in that module in the `etc/view.xml` the default se

[2016-06-30 12:56] rou9e commented on #5236
Hey there,
I did the update suggested by @Protazy21 :

`'config' => ['componentType'=>'container',$visibilityConfig],`

But now I get this error :

`The configuration parameter "componentType" is a required for "" component.`

Any clue ?

[2016-06-30 12:59] 11mb opened #5380 "When creating / updating a link the mediabrowser opens"
## Steps to reproduce
1. Install Magento 2.1
2. Login to admin
3. Goto Content >> Pages
4. Click Edit button for homepage
5. Edit content
6. Select text and click insert link
7. Click browse
## Expected result
1. A list of links to cms pages, categories and products
## Actual result
1. The mediabrowser opens

[2016-06-30 13:00] s00071609 commented on #5327
I am using Sale as Payment Action at the moment. Either way they go through same steps. I am using exactly same setting as in the 2.1 version in another site with 2.0.7.
Please let me know if there is any fix for it - as its crucial to have working paypal checkout

[2016-06-30 13:03] mhabou commented on #5378
@hesamy

Delete the database,& recreate it & launch the setup again
Don't use database table prefix

[2016-06-30 13:04] magenx commented on #4547
version 2.1 - this crap just still not fixed ... wtf?????

[2016-06-30 13:07] YevSent commented on #4813
Yes, the repository tries to get an active quote. Per one time only one quote can be active for customer.

[2016-06-30 13:12] andidhouse commented on #4795
same problem here!

[2016-06-30 13:16] andidhouse commented on #5302
I think this is really an important bug stopping users to shop mobile at all so it needs to be reviewed here pls.

[2016-06-30 13:23] alena-marchenko commented on #4580
Hi @SidneyBilliet

This issue can occur in case when you use/used your PayPal account on different Magento instances, so there has been already created transaction with such invoice id on PayPal side.

[2016-06-30 13:27] tzyganu opened #5381 "Cannot create a `etc/view.xml` file with an `images` tag with an attribute `module` other than `Magento_Catalog`"
**Description**
I've been trying to create an extension with an entity that has an image attribute. I want to show on frontend the resized image similar to how the product image is resized in the product list page.
For this I've created image model and helper and the builder block.
The resize works perfectly if I specify the width and height (and other attributes) in the template file when calling

[2016-06-30 13:48] mverstraete commented on #4813
I deleted **all** of the quotes out of the database.  I place an item in my cart and go to checkout.  When I get to the checkout page, I see my quote in the database and it is active.  Once I click "Place Order", the quote turns to inactive and I get the "No such entity with cartId" error mentioned above.  It stays on the loading screen forever.  Customers are unable to complete checkout.

[2016-06-30 13:56] YevSent commented on #4813
Could you attach response from Authorize.net and your request log?

[2016-06-30 14:04] mcspronko commented on #1146
Hi @tanya-soroka

Do  you have any update for this issue?
Thanks,
Max

[2016-06-30 14:15] veloraven commented on #5273
@andidhouse , please find description how to uninstall theme here: http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-theme-uninstall.html

If you still experience problems because of database corruption due to your previous actions, please refer to the [Community Forums](https://community.magento.com/) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for

[2016-06-30 14:29] veloraven commented on #5201
@elieobeid7 thank you very much for your efforts, but could you please add description of steps, actual result and expected result to this ticket? It will help other community members to find this problem when they use GitHub, which is unfortunately impossible when full description is placed on the external resource.

[2016-06-30 14:30] jsakars opened #5382 "Cronjobs defined in group "default" still not running properly"
Original issue #2672 was closed so I'm opening a new one to raise awareness. This issue is still present using version 2.0.7

In fact not only custom cronjobs are affected. E.g. [magento_newrelicreporting_cron](https://github.com/magento/magento2/blob/2.0/app/code/Magento/NewRelicReporting/etc/crontab.xml#L9-L13) which should run every 2 minutes acts the same.

[2016-06-30 14:32] philippsander commented on #1931
anything new?

[2016-06-30 14:34] mverstraete commented on #4813
The transaction goes though to authorize.net just fine, payment is processed and everything. Its as if the quote is being marked as inactive prematurely in the checkout process.  I did see in the DirectPost class on the authorizenet module at the end of the processOrder method, the quote is marked as inactive.  It seems like after this happens, the API call is made to  /rest/default/V1/guest-carts

[2016-06-30 14:38] maderlock commented on #5346
1. It's worth noting that mysql has a minimum word length when doing fulltext indexing. It certainly used to default to 3, which no amount of Magento 2 settings will change. If this is the issue then have a look at http://dev.mysql.com/doc/refman/5.6/en/fulltext-fine-tuning.html for how to adjust this.

[2016-06-30 14:39] maderlock commented on #5146
Reproduced in 2.1.0 using php 7.0.7 with xdebug enabled. Disabling xdebug means that the re-indexer works as expected.

[2016-06-30 14:47] bh-ref opened #5383 "timestamp() of \Magento\Framework\Stdlib\DateTime\DateTime is not localized"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Call method timestamp() (without parameter) of \Magento\Framework\Stdlib\DateTime\DateTime which says it will give back a localized timestamp.
## Expected result
1. A localized timestamp.
## Actual result
1. A GMT timestamp.

The problem is the line in https://github.com/magento/magento2/blob/2.1/lib/internal/Magento/Framework/Stdl

[2016-06-30 15:11] YevSent commented on #4813
Actually an Authorize.net return response with error:

[code]

Looks like this is a problem.

The Authorize.net [response codes docs](https://developer.authorize.net/api/reference/responseCodes.html) .

[2016-06-30 15:15] jsakars commented on #5305
Turns out to get translations working You need to deploy static content all over. Otherwise translations in Knockout templates won't work.
With all that there are still translations that do not work:
- `Pleasespecify a shipping method`
- `Provided Zip/Postal Code seems to be invalid. Example: 1234. If you believe it is the right one you can ignore this notice.`
- http://screencast.com/t/J1jCsyTB2P

[2016-06-30 15:16] wert2all commented on #5363
@crantron Please, provide the used version. If the problem is actual for a specific branch, please, specify it and be sure that the latest update was used.

[2016-06-30 15:18] orlangur commented on #5375
Of course typos in method or class names are bugs, even more annoying than in comments, not so easy to fix though and not of big priority/severity.

Method cannot be just renamed though to not break backward compatibility. The new method/class with proper name should be added and mistaken one marked as `@deprecated` to be removed with major version bump.

[2016-06-30 15:20] rob1256 commented on #4795
Having this issue as well on the release of 2.1.

Is there a way to have a production server without the need for some sort of build server to compile on?  Ideally I'd like to for example:
Upgrade Magento/Install a new module
Push up to production
Compile & Run setup to run migrations

With no down-time on the production server.

[2016-06-30 15:22] wert2all commented on #5301
To allow us research the issue, please, provide description according to the template and
very accurate steps for reproduce.

[2016-06-30 15:24] orlangur commented on #5201
@elieobeid7 for me such issue appeared from time to time on 2.0.x without any custom module, was related to `/var/generation` permissions (something like Magento generated some files on the fly which it was not able to read then).

[2016-06-30 15:27] salelsol opened #5384 "Products with Custom Options crash afther upgrading from M2.0.7 to M2.1-rc3"
Upgrading it´s all O.K. but when go to a product with custom options then frontend crash:
1 exception(s):
Exception #0 (Exception): Warning: Invalid argument supplied for foreach() in /home/39552-42818.cloudwaysapps.com/tmhajncrvn/public_html/vendor/magento/module-catalog/Block/Product/View/Options.php on line 213

Exception #0 (Exception): Warning: Invalid argument supplied for foreach() in /home

[2016-06-30 15:28] elieobeid7 commented on #5201
@veloraven will do so tomorrow i promise

[2016-06-30 15:29] wert2all commented on #5295
I cannot reproduce this issue. Can You click to "Edit HTML source" into content editor and show this code?

[2016-06-30 15:29] elieobeid7 commented on #5201
@orlangur are you suggesting `chmod 777 -R /var/generation`?

but var is already 777 -R so I don't know, but if that what you suggest then i'll have to give it another go

[2016-06-30 15:45] heldchen opened #5385 "Magento 2.1.0: db fields with mysql default value CURRENT_TIMESTAMP cannot be updated through the EntityManager"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. load a CMS Page through `$model = $pageRepository->getById(1);`
3. modify the last update timestamp: `$model->setUpdateTime('2016-09-01 00:00:00');`
4. save through `$pageRepository->save($model);`
## Expected result
1. the `cms_page`database column `update_time` of entity 1 contains `2016-09-01 00:00:00`
## Actual result
1. the da

[2016-06-30 15:56] alena-marchenko commented on #5312
Hi @nileshpatelifuturz

Do you use Authorize.net test mode with test or production account credentials?

[2016-06-30 15:57] choukalos commented on #5371
Hi @philipburrell what version did you have the original issue in?

[2016-06-30 16:06] hostep commented on #4795
@rob1256: When they fix this issue, it will be possible :)
Or you can use my temporary fix.

We've been using it for a couple of days, and deploys work again.

They take around 8 minutes (way too long in my opinion), with only about 10 seconds of downtime (also too long), while we put the shop in maintenance mode just before running `bin/magento setup:upgrade  --keep-generated` and disable the mai

[2016-06-30 16:06] RG-1 opened #5386 "Typo in Developer Documentation"
I think that there is a small mistake in Developer Documentation.
## Steps to reproduce
1. Go to http://devdocs.magento.com/guides/v2.0/config-guide/prod/prod_file-sys-perms.html
2. Find "Tasks for one Magento file system owner" and reveal "Click to show/hide content"
3. Find "Make files and directories writable:"

## Expected result
1. `chmod -R u+w .`
## Actual result
1. `chmod -R u+x .`

[2016-06-30 16:17] philipburrell commented on #5371
2.1 (it worked on 2.0.7)

[2016-06-30 16:22] tkacheva commented on #4468
@palamar I had the same issue - MAGETWO-54911 please check

[2016-06-30 16:35] navarr opened #5387 "Sitemap.xml file not generating"
## Steps to reproduce
1. Create new directory for housing Magento 2.1 installation
2. Install Magento 2.1 through Composer Create-Project and bin/magento setup:install (setup permissions as written in documentation)
3. Setup bin/magento cron:run to run every minute
4. Login to the admin panel and, in General settings, set the timezone to your local timezone
5. In Catalog > XML Sitemap, enable the

[2016-06-30 16:41] mverstraete commented on #4813
Thats not the problem.  That was because I had the production API url instead of the sandbox API url.  I changed it, and the API call succeeds, and it still has the same problem.  Its related to the quote being marked as inactive during the authorize.net payment process.

Here is the debug log after changing the API url to the sandbox url.

[code]

[2016-06-30 16:42] tkacheva commented on #5308
@PieterCappelle, @fchalet69  Thanks for reporting. Managed to reproduce MAGETWO-54913

[2016-06-30 16:44] salelsol commented on #5384
Confict with installed extension not upgraded to Magento 2.1.

[2016-06-30 16:44] #5384 closed, assigned to nobody

[2016-06-30 17:00] orlangur commented on #5386
Thanks for the report, @RG-1! It should be reported in https://github.com/magento/devdocs I believe, or even as a pull request with changed https://github.com/magento/devdocs/blob/develop/guides/v2.0/config-guide/prod/prod_file-sys-perms.md file.

[2016-06-30 17:02] antboiko commented on #5387
Hi @navarr , did you create sitemap.xml first using Add Sitemap in Marketing > SEO & Search > Site Map?

Thanks,
Anton.

[2016-06-30 17:03] orlangur commented on #5201
First of all please try to spot reproducible steps. As for me this issue was quite occasional.

[2016-06-30 17:41] navarr commented on #5387
Nope, that's my problem.  Thank you.

[2016-06-30 17:41] #5387 closed, assigned to nobody

[2016-06-30 17:49] navarr commented on #2802
A good work around for this would be to create a symbolic link pointing to the root sitemap.xml from pub, but if you are creating multiple sitemaps that will get unwieldy fast.

[2016-06-30 18:14] hostep commented on #2802
Duplicate - https://github.com/magento/magento2/issues/1146

[2016-06-30 18:21] hostep commented on #5305
Informational: as an alternative for flushing the knockout templates cache, you can also remove the files in:
- var/view_preprocessed/...
- pub/static/frontend/...

It works a bit faster then doing the whole static deploy dance. Although you'll still have to sit and wait for a minute or so until everything gets regenerated when you refresh your page in the browser.

[2016-06-30 18:45] plentyhappy commented on #5301
Version: 2.0.7

1) Click add to cart on home page for any product that shows
2) click on category OR click on another product nothing shows
3) click a home page link and the success message occurs again
4) then I click on category page or product page again and now the success message keeps following me everywhere and won't go away.

I cleared chrome browser cache and tried again click add to cart

[2016-06-30 18:45] jsakars commented on #5305
@hostep I believe that does not apply for production environment though

[2016-06-30 18:55] hostep commented on #5305
Yes that's correct, only for local development mode. Sorry, I should have made that more clear.

[2016-06-30 19:00] pboisvert commented on #1931
@tkacheva can you ask the team to investigate this one?

[2016-06-30 19:16] develpr commented on #5281
Sorry @MidnightDesign I may have led the discussion on a wild goose chase / off course! I was referring to the admin interface, not code / API.

[2016-06-30 19:22] jfern01 commented on #5225
I can confirm this issue is present in 2.1.0.

[2016-06-30 19:29] digitalredefined commented on #3977
Following - have same issue.

[2016-06-30 20:10] RG-1 commented on #5386
Thank you @orlangur , I moved it.
Sorry for creating an issue in the wrong place.

[2016-06-30 20:10] #5386 closed, assigned to nobody

[2016-06-30 21:44] stamster commented on #5375
Annoying - yes, but typos = bugs? If it doesn't break any functionallity I don't see how could it be defined as a bug. Nevertheless, @orlangur , good comment regarding backward compatibility and marking it @deprecated.

[2016-06-30 21:52] mbrinton01 commented on #3921
@ankursachdeva11 do you have any update?  Please provide more detail on the use case for this request.

[2016-06-30 21:54] sIiiS commented on #5309
I am in localhost with windows 10, AMPPS and php 5.6 with Apache
Is there any solution ?

[2016-06-30 22:38] bondimedical3 opened #5388 "M2.1 Excessive processes every day"
Every day at around 4am I am receiving a warning message from my server "Excessive processes running under extende"

User:extende PID:24285 PPID:24266 Run Time:255(secs) Memory:4300(kb) exe:/usr/local/cpanel/bin/jailshell cmd:jailshell (extende) [init] hell -c /usr/local/bin/php -c /usr/local/lib/php.ini /home/extende/public_html/bin/magento cron:run > /dev/null
User:extende PID:24290 PPID:24285 R

[2016-06-30 22:59] forgeonline commented on #5131
Although Tech requirement is

PHP

5.6.x
7.0.6 up to 7.1

Our servers are cloud containers with PHP 7.0

[code]

We still have to Error in both Archive and Composer download

[code]

[code]

[2016-07-01 02:09] phuc128t commented on #5361
I think with new update, we can't call swatch helper in template file. You have to include it in block constructor and use it in a custom function.

[2016-07-01 02:28] phuc128t opened #5389 "If current connection is https, all links are under https. There is no way to get out."
## Steps to reproduce
1. Install Magento EE 2.1
2. Setup https and use secure URLs on storefront
3. Click shopping cart or any https connection
## Expected result
1. The secure connection links works fine and should don't have https connection for menu items, product/caterory links,...
## Actual result
1. All links are under https and there is no way to get out including menu items, product/catego

[2016-07-01 03:32] tanberry commented on #5239
Thanks all, we have published a Technical Bulletin to address this issue.

http://devdocs.magento.com/guides/v2.1/release-notes/tech_bull_tls-repo.html

[2016-07-01 04:15] nileshpatelifuturz commented on #5312
Hi **@alena-marchenko**

Yes, I have used Authorize.net test mode with test account credentials.

[2016-07-01 04:28] tobias-forkel commented on #5389
If **Secure URLs** are enabled, Magento will use it for menu, category, product links, form actions (post, get), ajax requests etc. to prevent [mixed content](https://developers.google.com/web/fundamentals/security/prevent-mixed-content/what-is-mixed-content?hl=en). What is the technical reason to go back from **https** to **http**?

[2016-07-01 04:54] tobias-forkel commented on #5377
What are your cookie domain settings? The reason could be a wrong cookie domain. In most cases it should match with the base url. For example `.yourserver.com`.

[2016-07-01 05:24] rameshpushparaj opened #5390 "Magento 2 EE Cybersource Module Bug in "Declined Payment""
## Steps to reproduce
1. Install Magento 2.0.7 Enterprise Edition
2. Configure the Cybersource payment credentials (sandbox credentials)
3. Do a Cybersource Test Credit Card Payment
## Expected result
1.  For Positive scenario once the order is placed the success page with Thank you message will be displayed
2. For Failure Scenario (Say the Credit Card is declined) the error message has to be disp

[2016-07-01 05:28] lukeconvertdigital commented on #5376
Where are you terminating SSL?

[2016-07-01 05:53] praful-rajput opened #5391 "M2.1 Marketing >> Reviews >> New Review - Sorting & Filters not functioning."
## Steps to reproduce
1. Install Magento from "Full Release with Sample Data (ZIP with sample data)" from official page.
2. Logged into admin panel
3. Go to Marketing >> Reviews
4. Click on "New Review" button.
5. It's opening product list grid to select and review it.
6. Grid sorting & Filtering is not working.
## Expected result
1. Sorting & Filter should be work over there.
## Actual result

1.

[2016-07-01 05:56] jsakars commented on #5376
@helloitsluke nowhere - we don't have SSL currently

[2016-07-01 05:58] juuce opened #5392 "Magento 2.1 Installation - Missing resources"
NOTE: Install on xampp 1.8.2, PHP 5.6.15, (MySQL) Server type: MariaDB, Server version: 10.1.9-MariaDB
Possible issue with Windows...?
## Steps to reproduce
1. Install Magento from 2.1 from zip file in apache virtual host environment (magento-21.localtest.me)
2. Navigate to admin login
3. notice 404 on resources (images/css/js) (see below)
4. Login
5. Notice 404 on resources (images/css/js)
## Exp

[2016-07-01 06:37] phuc128t commented on #5389
I think you are not correct. Mixed content only an issue with resources (images, css, js,...), ajax requests, form action,.. not link. When "use secure URLs on storefront" is enabled, it should only affect to some pages like login, register, cart, checkout, ... the other pages like menu, category, product links,... still should be http. I meant when go to https from http page, it should have a way

[2016-07-01 06:37] YevSent commented on #5094
This issue is closed because public Github only for CE version of Magento. As said my colleague, to resolve your problem, please, report via [EE Support](https://magento.com/support/enterprise-edition) this issue.

[2016-07-01 06:39] YevSent commented on #5390
The public Github is only for CE version of Magento. To solve your problem, please, create a ticket via [EE support](https://magento.com/support/enterprise-edition), thanks, for your reporting.

[2016-07-01 06:39] #5390 closed, assigned to alena-marchenko

[2016-07-01 06:47] phuc128t commented on #5389
I think the previous image is not clear. Here is another one.
![2016-07-01_13-45-38](https://cloud.githubusercontent.com/assets/1607243/16513884/691d5f88-3f92-11e6-82ce-b69c38919780.jpg)

[2016-07-01 06:57] maityutpal commented on #3727
Hi all,
Any update on this issue. And I set the content type right.

[2016-07-01 07:01] Ankitase35 opened #5393 "Client less compilation not working"
I am trying to set workflow to Client less compilation mode .After that when I execute static content deploy command, I get errors for syles-m.css,stylse-l.css on fronteend & styles.css & styles-old.css in backend.
Can anyone help me with this?

[2016-07-01 07:03] PierAlex commented on #5225
Yes,it is already present as confirmed by jfern01 (thanks).

[2016-07-01 07:14] bartek9007 commented on #5300
Is it really necessary to disable possiblity to create and fill custom attributes' groups for categories? It was really working well.

[2016-07-01 07:43] webkulabhi commented on #4896
i used magento version 2.0.7
i did not find this issues in magento2.1.0

[2016-07-01 07:43] bartoszkubicki opened #5394 "Product save page in admin does not scroll down to attribute containing wrong data"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Adding products programatically
3. Trying to edit added product and save it.
4. One of required attribute is null
## Expected result
1. If I try to save product with required attribute Magento should abort it and point out which attribute is empty.
2. If it is not visible on menu it should automatically scroll down to its group.
##

[2016-07-01 07:52] bartoszkubicki opened #5395 "Error while adding some products programatically"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Adding some products programatically
## Expected result
1. As the same script has worked in 2.05 it should add product.
2. No errors
## Actual result
1. I get such an error
   1 exception(s):
   Exception #0 (Exception): Notice: Undefined offset: 1 in /var/www/magento/vendor/magento/module-catalog-url-rewrite/Model/ProductUrlRewrit

[2016-07-01 07:56] werdlv commented on #4362
I wonder how such a mainline functionality has been missed. After all - M2 is using Monolog by default.

[2016-07-01 08:25] jsakars opened #5396 "Translations not working in product view"
## Steps to reproduce
1. Install Magento 2.0.7
2. Have some translations for corresponding store view - Latvian in this case
## Expected result
1. Translations are working properly after adding product to the cart from **category** view
2. Translations are working properly after adding product to the cart from **product** view
## Actual result
1. Translations are working properly after adding prod

[2016-07-01 08:28] adragus-inviqa commented on #4362
Sorry, peeps. Not much time to do this. Consider it "up for grabs".

[2016-07-01 08:34] rob1256 commented on #4795
@hostep: Thanks for your help :)
Hopefully we'll get some information on the order of commands to run in the docs and potential pitfalls to look out for.  Slowly gearing up to get an M2 instance into production so hopefully this issue will be sorted before then.

[2016-07-01 08:34] NadiyaS commented on #4632
Hi @quienti , @Vinai
 thanks for reporting this issue. It is already being tracked by MAGETWO-54787 ticket and fix will be delivered soon.
This issue will be closed as duplicate of #4785.

[2016-07-01 08:34] #4632 closed, assigned to rgoncharuk

[2016-07-01 08:35] NadiyaS commented on #5340
Hi @bondimedical3 ,
thanks for reporting this issue. It is already being tracked by MAGETWO-54787 ticket and fix will be delivered soon.
This issue will be closed as duplicate of #4785.

[2016-07-01 08:35] #5340 closed, assigned to NadiyaS

[2016-07-01 08:40] didineedthis opened #5397 "Can Not View / Edit product added to the shopping cart"
## Steps to reproduce
1. Install Magento 2.0.7 I upgrade to 2.1.0
2. Add Products to the cart.
3. Click the View/Edit product added to the shopping cart.
## Expected result

1.View/Edit product added to the shopping cart
![screenshot 20](https://cloud.githubusercontent.com/assets/10882960/16516383/afdb0240-3f6f-11e6-9909-47bcc5a85991.png)
## Actual result

1.Summary box is empty
![screenshot 21](h

[2016-07-01 08:43] kandrejevs opened #5398 "Product list widget not working in cms block or cms page"
I have cms block in which I have product list widget, conditions are a just category.
The block is on the page, additional text is there, but the product list is blank. no errors were given or anything. If I modify serialised data, it shows error, meaning that block is being parsed, but no output.

Issue occurs on multi store setup on non default store.

having this issue on versions 2.1.0 and 2.0

[2016-07-01 08:48] NadiyaS commented on #5324
Hi @mauromm ,
thanks for reporting this issue. It is already being tracked by MAGETWO-54787 ticket and fix will be delivered soon.
This issue will be closed as duplicate of #4785.

[2016-07-01 08:48] #5324 closed, assigned to NadiyaS

[2016-07-01 08:48] kandrejevs commented on #5398
And conditions are not being parsed in widget edit view. They are in serialized string but when you open widget editing interface, all conditions are blank again.

[2016-07-01 08:55] alena-marchenko commented on #5327
Hi @s00071609 ,

thanks for reporting this issue. It is already being tracked by MAGETWO-54787 ticket and fix will be delivered soon.
This issue will be closed as duplicate of #4785.

[2016-07-01 08:55] #5327 closed, assigned to alena-marchenko

[2016-07-01 09:09] YevSent commented on #4813
Could you change payment action to `Authorize only` instead `Authorize and Capture` and try to place an order? Now, we have an issue related to updates from 2.0.7 to 2.1.0 for all payments with capture transactions.
Possible related issue https://github.com/magento/magento2/issues/5324.

[2016-07-01 09:30] alena-marchenko commented on #5312
Hi @nileshpatelifuturz

Please set Test Mode to "No" and try to place order. Test Mode in Authorize.net is intended for testing with production credentials.

[2016-07-01 09:32] 5zymon opened #5399 "M2.1 API product import, "Requested product does not support images" error"
Trying to import product through API. In version 2.0.7 it was working fine, here is what I POST (of course in the base64 part there is a properly encoded image, now I've truncated it):

array (size=1)
  'product' =>
    array (size=11)
      'sku' => string 'SOMESKU_C001' (length=13)
      'name' => string 'Some Product' (length=58)
      'attributeSetId' => int 10
      'price' => string '509.990

[2016-07-01 09:40] hostep commented on #2518
We also run into this with Magento 2.1.0

This is caused by the setting: General => Web => Default Cookie Settings => Cookie Restriction Mode => Yes

While it's questionable if this setting should disable outputting the Google Analytics code, you would expect that when you accept the cookie message, the GA code appears on the page. But that isn't the case.

@vzabaznov: I think you should reopen th

[2016-07-01 09:42] tkacheva commented on #1931
@eug123 please take a look MAGETWO-54935

[2016-07-01 09:42] davidnguyen2205 commented on #2666
It's still not working in 2.1.0 GA

[2016-07-01 09:53] Korniow commented on #2951
I've created a patch for "Privacy and Cookie Policy" translation in pull request https://github.com/magento/magento2/pull/5400

[2016-07-01 09:56] Bartlomiejsz commented on #2312
Not only for the thumbnails. When you add .png image to wysiwyg attribute using '{{media url="..."}}', it is generated with white background, this is definitely wrong.

[2016-07-01 09:57] #5399 closed, assigned to nobody

[2016-07-01 09:57] 5zymon commented on #5399
Suddenly started to work after ten times cache flush :-).

[2016-07-01 09:59] nileshpatelifuturz commented on #5312
Hi **@alena-marchenko**

I have setup Authorize.net Test Mode to "No" and checked then one error alert like "Please enter a transaction ID to authorize this payment".

Also please see screenshot for the same.
![authorize_error](https://cloud.githubusercontent.com/assets/18419009/16518463/8c2137a8-3fa0-11e6-855a-04801ed4b9a9.png)

[2016-07-01 10:00] Bartlomiejsz opened #5401 "Transparency of .png image gone"
Similar issue to #2312
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add new attribute with 'wysiwyg_enabled' and 'is_html_allowed_on_front' set to true
3. Add .png image with transparent background.
## Expected result
1. Image shows in front with background same as in original (transparent)
## Actual result
1. Image shows with white background

[2016-07-01 10:02] tkacheva commented on #4170
The issue is fixed and waiting the PR to be merged.

[2016-07-01 10:11] mcspronko opened #5402 "Menu does not work when you change from Mobile to Desktop mode"
## Preconditions
Magento 2
## Steps to reproduce
1. Create Parent category, and sub-category as part of the parent in Admin
2. Navigate to frontend.
3. Observe newly created category on desktop browser.
4. Resize browser to be mobile (width < 760px)
5. Resize browser back to be show full menu.
6. Click on any of the top level category links from the menu.
## Expected result
1. User should be redir

[2016-07-01 10:14] svossen opened #5403 "Luma theme meta viewport tag contains maximum-scale=1.0, user-scalable=no"
The Luma theme viewport meta tag contains `maximum-scale=1.0, user-scalable=no`. This is a really bad practise and is really harmful for the accessibility of the interface! Developers should not decide how a user should interact with the interface. This should be up to the user.

Fortunately the blank theme contains the correct meta viewport tag. But some shops will probably use
Luma as main theme

[2016-07-01 10:17] davidnguyen2205 commented on #5359
So what is a solution? I got the same problem in 2.1.0 GA

[2016-07-01 10:22] antboiko commented on #5396
Hi @werdlv , this has been fixed in 2.1. The fix will be also available in one of the future patches.

https://github.com/magento/magento2/issues/4181

Best,
Anton.

[2016-07-01 10:38] jessetaverne commented on #5339
I experience the same issue after upgrading to M2.1

edit:
My temp fix is to just disable the EAV caching type
I'm running Community Edition

[2016-07-01 10:45] stamster commented on #5389
If you enable HTTPS on storefront, it is expected to be all HTTPS links, I don't see an issue there.

[2016-07-01 10:49] eug123 commented on #5315
Hi @grasdaggel,

There is a button `Flush Static Files Cache` in the bottom of the Admin -> System -> Cache Management page.

Thank you

[2016-07-01 10:52] NadiyaS commented on #5314
Hi @alexgoodey ,
thanks for reporting this issue. It is already being tracked by MAGETWO-54787 ticket and fix will be delivered soon.
This issue will be closed as duplicate of #4785.

[2016-07-01 10:52] #5314 closed, assigned to nobody

[2016-07-01 10:54] PascalBrouwers commented on #4170
@tkacheva Nice, what is the Mage issue nr?

[2016-07-01 10:55] afavata commented on #4312
Normally only who closed the issue can reopen. @KrystynaKabannyk is up to you.

[2016-07-01 11:10] qwerty7869 opened #5404 "Rest Api - GET /V1/carts/mine/items not giving product row total and image in response"
## Steps to reproduce
1. Add products in cart
2. Hit api GET /V1/carts/mine/items
3. Response will be

[
  {
    "item_id": 244,
    "sku": "24-WB04",
    "qty": 2,
    "name": "Push It Messenger Bag",
    "price": 45,
    "product_type": "simple",
    "quote_id": "202"
  },
  {
    "item_id": 245,
    "sku": "MSH03-33-Black",
    "qty": 1,
    "name": "Meteor Workout Short",
    "price": 32.5,

[2016-07-01 11:23] maderlock commented on #5223
No problems when updating composer - manually changed to 2.1.0 from 2.0.7. However, when I try to run setup:upgrade I get the same exception:

  [ReflectionException]
  Class Magento\Framework\App\Cache\Type\Webapi does not exist

 I'm using php 7.0.7.

[2016-07-01 11:24] ghost commented on #5402
### Synopsis
- File affected `/lib/web/mage/menu.js`
- The issue is that the `_on` event  binded in `_toggleMobileMode`is never unbinded.

### Possible fix

Unsubscribe `_off` event in `_toggleDesktopMode` method as follows:

[code]

[2016-07-01 11:29] hostep commented on #5403
There used to be a discussion about this a while ago, see: https://github.com/magento/magento2/pull/1733

[2016-07-01 11:30] maderlock commented on #5223
Comparing my installation to a fresh install, there was an extra line in env.php. I added this and the issue went away:

`compiled_config' => 1,`

This gets added at the end of the following list:

[code]

[2016-07-01 11:50] jessetaverne commented on #5357
I experience a similar issue after upgrading to M2.1, specifically while @importing _dropdowns.less and _rating.less (default Magento lib files)

In my custom theme i override the web/css/source/_sources.less set by Magento/blank.
The 2 extra files i add here (dropdowns and rating) to import are causing these issues:

and

The only real cause i can think of is that these files aren't in my own the

[2016-07-01 11:50] svossen commented on #5403
Missed that one. Thank you.

[2016-07-01 11:50] #5403 closed, assigned to nobody

[2016-07-01 12:05] 5zymon opened #5405 "M2.1 "Invalid Form Key" when saving configurable product with multiple configurations"
When I try to create or edit configurable product that has multiple simple products in configurations, Magento returns "Invalid Form Key. Please refresh the page." error. Of course refreshing the page, clearing cookies, cache, nothing works. When I limit number of configurations to a lot less (for example 4) same form comes trough just fine. This issue was not present on 2.0.7 I was able to save c

[2016-07-01 12:07] arijit-de93 commented on #4826
Hello @oserediuk thanks for giving time on this.

What I observer in the latest build 2.1 is that if it gets region_code for that region, it will give  the value of region_code and if not it will return region name.

But can please tell why you are returning region name when region_code not found? Is there any particular reason for that?

Thanks

[2016-07-01 12:14] PierAlex commented on #5037
Same problem on Magento 2.1.0.

[2016-07-01 12:25] tanya-soroka commented on #5275
@zhiyicai Please see the possible solutions under the http://devdocs.magento.com/guides/v2.1/release-notes/tech_bull_tls-repo.html

[2016-07-01 12:27] tanya-soroka commented on #4756
All could you please tell us if the increasing memory_limit has resolved this problem for you?

[2016-07-01 12:28] andimov commented on #5223
@maderlock
Thank you a lot for solution!

[2016-07-01 12:29] tanya-soroka commented on #5271
@zhiyicai Could you please check the proposed solution under the published a Technical Bulletin to address this issue.

http://devdocs.magento.com/guides/v2.1/release-notes/tech_bull_tls-repo.html

[2016-07-01 12:46] Krapulat commented on #2630
For example, the strings in Checkout like "Shipping", "Review & Payments", "Order Summary", "You can create an account after checkout." and many others can't be translated.

Thanks.

[2016-07-01 13:06] mverstraete commented on #4813
@joni-jones , changing the payment action to Authorize Only works!  I'm taken to the Success Page without any errors!

[2016-07-01 13:17] buskamuza commented on #5392
@juuce , please, ensure you have rewrites enabled (see http://devdocs.magento.com/guides/v2.1/install-gde/prereq/apache.html#apache-help-rewrite)

[2016-07-01 13:20] gewaechshaus commented on #5309
Can be temporary fixed by setting the

[code]

so this issue should be related to localization/time...

[2016-07-01 13:22] mverstraete commented on #4813
@joni-jones , After the customer checks out with Authorize Only, if I try to capture the payment from the Invoice tab of the order, it gives an error that says: We can't save the invoice right now.

Then if I try to capture it again it gives an error that says Gateway error: This transaction has already been captured.

Also, the items never get removed from the Mini-Cart.  If I press the delete ic

[2016-07-01 13:36] veloraven commented on #5242
@duffner thank you for reporting the issue.
We already have internal ticket MAGETWO-51772 with the same problem, so I mentioned your report in that ticket.

[2016-07-01 13:37] rgoncharuk commented on #5373
Internal issue MAGETWO-54946

[2016-07-01 13:41] 5zymon commented on #5405
The solution is to increase max_input_vars in php.ini file. not a Magento 2 issue.

[2016-07-01 13:42] #5405 closed, assigned to nobody

[2016-07-01 13:47] YevSent commented on #4813
For now `capture` payment action is not available when customers update to 2.1.0, but if install fresh Magento it should work. This problem relates to upgrade scripts in the Sales module.
Internal ticket already in progress.
Thanks for your reporting.
This issue is close as duplicate https://github.com/magento/magento2/issues/4785

[2016-07-01 13:47] #4813 closed, assigned to alena-marchenko

[2016-07-01 14:01] sIiiS commented on #5309
@gewaechshaus, this solution doesn't work for me!

[2016-07-01 14:08] springimport commented on #5198
I have a "version": "2.0.7" of Magento.
`http://domain.net/rest/V1/orders?searchCriteria[pageSize]=100&searchCriteria[currentPage]=1&searchCriteria[sortOrders][0][field]=increment_id&searchCriteria[sortOrders][0][direction]=ASC`

no difference

`http://domain.net/rest/V1/orders?searchCriteria[pageSize]=100&searchCriteria[currentPage]=1&searchCriteria[sortOrders][0][field]=increment_id&searchCriter

[2016-07-01 14:09] springimport commented on #5134
Any news?

[2016-07-01 14:11] kitsor commented on #5131
7.0.4 with Xenial must be in the list of supported PHP versions.
Could someone convert this issue from a question to critical bug which need a hotfix ASAP?
In case of Composer it's blocker. And not only for me. IMHO.

[2016-07-01 14:14] gewaechshaus commented on #5309
@sIiiS - https://alankent.me/2015/04/25/use-of-localhost-when-installing-magento-2-quick-note/

[2016-07-01 14:19] veloraven commented on #5269
@sheldonli999 could you please provide some more information on this issue? For example, exact address which you have problem with, or some additional settings. As I was not able to reproduce it: I tried with different addresses (US and non-US), and I always get full info including street, city, telephone number.

[2016-07-01 14:45] jzahedieh commented on #5377
We have noticed the same issue whilst upgrading from 2.0.7 to 2.1

A lot seems to have changed in 2.1 regarding the checkout, disabling our theme seems to resolve the issue but still haven't fixed the issue.

We also found that going to /checkout/cart then clicking the back button would populate the javascript cart object and the mini cart would then work.

[2016-07-01 14:52] maksek commented on #5131
Testing in progress...

[2016-07-01 15:04] palamar commented on #5373
@Asitis
According to New Relic [documentattion ](https://docs.newrelic.com/docs/alerts/alert-policies/downtime-alerts/availability-monitoring), this is a feature that allows monitor accessibility of a website for customers.
Do you have New Relic account configured to monitor your server?

[2016-07-01 15:06] Asitis commented on #5373
I know what New Relic is and does (I do use it for other projects), but no, as I said: "I checked the NewRelic settings on two dev-installations and both are disabled and never used. I wonder why NewRelic keeps pinging if it's disabled"

[2016-07-01 15:20] bordeo opened #5406 "Query insert on duplicate update won't work"
After update magento to 2.1 and making a fresh db install, i try to update and create product programmatically.
All query "insert on duplicate update" remain stuck for certain time with no error.
An example is in Magento\Eav\Model\Entity\AbstractEntity on method _processAttributeValues.

For create product i'm using productRepository
`
$product = $this->_productFactory->create();
$product->setData

[2016-07-01 15:30] pboisvert commented on #5401
Can you provide version where observed? Also providing the png image may also help with troubleshooting.

[2016-07-01 15:37] pboisvert commented on #5397
Not an answer to this specific issue but have you tried with a fresh install and if so do you see the same?

[2016-07-01 15:37] mcspronko commented on #5289
Hi @asemenenko and @ishakhsuvarov

Do you have any update regarding this Critical issue?

Thanks,
Max

[2016-07-01 15:41] mcspronko commented on #5289
Some investigation:

Quote Shipping address is not updated when user changes Country/State/Postcode on Your Shopping Cart page.

estimate-service.js file, information passed to estimate totals is outdated.

[code]

[2016-07-01 15:46] didineedthis commented on #5397
Hi,
I have just done a fresh install on local and imported my categories and products and all seems ok so far. i will upload the site to my server tomorrow after i do some more testing . i will update this thread with my findings but it looks like it maybe a corrupt upgrade from 2.0.7 to 2.1

regards

[2016-07-01 15:50] maderlock commented on #5357
That appeared to be the case in 2.0

[2016-07-01 15:54] maghamed commented on #5346
This bug has already been fixed in mainline internal ticket number - MAGETWO-50704
Fix exists in 2.1.\* branch
But fix didn't get into any patch release in 2.0.\* branch yet.
@choukalos seems we could  deliver current fix in nearest patch release

[2016-07-01 15:56] maderlock opened #5408 "2.1 catalog filter displaying below grid"
## Steps to reproduce
1. 2.0.7 upgraded to 2.1.0 running on PHP 7.0.7
2. Plenty of products added
3. Visit admin product catalog page
## Expected result
1. In 2.0.7 the filters were above the grid
## Actual result
1. They are now displaying below the grid. Screenshot:
   ![screenshot 2016-07-01 16 43 11](https://cloud.githubusercontent.com/assets/630320/16527048/624ad8b0-3fac-11e6-83f6-99ca7af0613

[2016-07-01 16:02] pboisvert commented on #5397
thanks for checking and do let us know if same or different results as this greatly narrows scope of the issue.

[2016-07-01 16:05] palamar commented on #5373
It's a feature of New Relic server and according to [doc](https://docs.newrelic.com/docs/synthetics/new-relic-synthetics/using-monitors/add-edit-monitors#monitor-type-ping), it configured on the server side.
Magento's extension doesn't have any relation to this configuration.
You can disable pinging from New Relic settings page or configure your firewall to drop requests from IPs listed on this [p

[2016-07-01 16:10] Asitis commented on #5373
I think you don't understand me, I think. I **never** configured it, on the installations nor on the servers they are on, I **never** made a NewRelic account and never set **any** settings whatsoever **_everrrrr_** - and still it pings, out of the box on a fresh server.

I never did anything at all to configure it whatsoever.

[2016-07-01 16:25] pboisvert commented on #5389
This is not an issue. If you select to use secure urls on storefront then all urls will use HTTPS--not just cart, checkout, or login pages. Google has already signaled they will use all HTTPS as a ranking signal and this is the setting that allows for such configuration. We will make sure this is clear in documentation that this is the expected behavior for the setting. Closing issue.

[2016-07-01 16:25] #5389 closed, assigned to nobody

[2016-07-01 16:43] stevewinni opened #5409 "Braintree and Custom Payment Method Product 400 Bad Request on purchase"
## Steps to reproduce
1. Install Magento 2.1.0.
2. Enable Braintree and /or build custom payment method
3. Add product to cart
4. Complete credit card details
5. Submit
## Expected result
1. Puchase completed and Transaction recorded in PSP
## Actual result
1. Ajax 400 Bad Request, Unable to place order.
2. Debug.log - [2016-07-01 16:07:41] main.DEBUG: cache_invalidate:  {"method":"POST","url":"ht

[2016-07-01 17:16] didineedthis commented on #5397
deleted comment wrong post

[2016-07-01 17:56] pboisvert commented on #5391
Not able to reproduce this issue on 2.1 build.

Screenshot of Marketing > Reviews with default sort on created
![reviews-original](https://cloud.githubusercontent.com/assets/5807369/16529851/f858598c-3f79-11e6-8f9f-54a1a918459b.png)

Screenshot of Marketing > Reviews with sort by Nickname (shows different order--now alphabetical)
![review-sorted-nickname](https://cloud.githubusercontent.com/assets

[2016-07-01 17:58] aaronsturm commented on #4458
For future reference, in case anyone else has the same issue, I had to delete all of the rows in the `theme`table that weren't default Magento themes. Meaning, I left `Magento/blank`, `Magento/luma`, and `Magento/backend` and deleted the others. Once I did that, it started working as expected again.

[2016-07-01 18:19] Protazy21 commented on #5236
@nowayyy36 sorry it doesn't say for which element so no clue, however the exception is thrown from class Magento\Framework\View\Element\UiComponentFactory Line 341

<pre>
if (!isset($data['arguments']['data']['config']['componentType'])) {
                    throw new LocalizedException(new Phrase(
                        'The configuration parameter "componentType" is a required for "%1" compone

[2016-07-01 19:22] samuellinde commented on #5377
@jzahedieh Yep, and occasionally messages would get stuck so you end up with two or three "You added x to the card." at the same time.

[2016-07-01 19:24] stevekem commented on #5364
@pboisvert Installed a fresh copy of 2.1.0 on a new server at nexcess and same issue is happening with cache enabled.  This server is:

CentOS 6.7
PHP 5.6.20

Are you able to reproduce it yet?

[2016-07-01 19:38] pboisvert commented on #5364
@stevekem i was not able to reproduce in 2.1 with my account yet. Will pass along

[2016-07-01 19:38] emoruzzi opened #5410 "Database privilege issues for System Upgrade Readiness Check"
## Steps to reproduce

Using Version 2.0.0 (seems to be the same for 2.1) . In the admin panel, navigate to  System > Tools > Web Setup Wizard > System Upgrade > Choose any CE newer version > Next > Start Readiness Check. Continue (Next) to Readiness Check
## Expected result

Assuming everything is setup properly, all passes.
## Actual result

Everything passes except for "Check Cron Scripts". I'm

[2016-07-01 19:49] southerncomputer commented on #5336
Yes! Should use 2.1.0 though!

[2016-07-01 20:11] elieobeid7 commented on #5201
@veloraven done, as promised

[2016-07-01 20:11] elieobeid7 commented on #5201
@orlangur tried to chmod it, didn't fix it

[2016-07-01 20:35] erikhansen commented on #5285
@kanduvisla Thanks for sharing your solution. I just upgraded a client's site to 2.1 and ran into the same issue. Interestingly enough, it was also caused by the area code being set in the `__construct` method of a custom CLI command.

[2016-07-01 20:44] davidalger commented on #4795
@pboisvert It's been seven days since this was moved to P0, but no communication regarding timeline of fix, so I figured I'd check back in on this. Can you comment on about how soon we can expect a patch release which resolves this?

[2016-07-01 20:46] gewaechshaus commented on #5309
https://github.com/magento/magento2/issues/5383

[2016-07-01 21:51] samuellinde opened #5412 "Product grid not loading in admin, only error about ID already existing (2.1.0)"
## Steps to reproduce
1. Export products as csv (around 1500 products).
2. Re-import products, no major changes.
3. Load product catalog in admin.
## Expected result
1. Should display the product grid as usual.
## Actual result
1. No product grid loaded, only the following error message `Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "1487" already exists.`
2. <img width="1496"

[2016-07-01 22:31] orbitrod commented on #5323
There are several stack exchange posts about this, but no solution so far.
http://magento.stackexchange.com/questions/123022/attention-something-went-wrong-on-backend-product-page
http://magento.stackexchange.com/questions/109224/magento-2-attention-something-went-wrong-clicking-contentblocks-page-doesnt/111218
http://magento.stackexchange.com/questions/109224/magento-2-attention-something-went-wr

[2016-07-01 23:35] mbrinton01 commented on #5198
@springimport can you check against `develop` branch?

[2016-07-02 02:02] mbrinton01 commented on #5404
@qwerty7869 totals can be found using other calls such as `GET /V1/carts/{cartId}/totals`.  `GET /V1/carts/mine/items` does not return images.  Are you making a feature request for images in this call?

[2016-07-02 02:14] mbrinton01 commented on #5134
What is the result for `[GET] http://springimport.net/rest/V1/carts/59/shipping-methods`?

[2016-07-02 02:19] mbrinton01 commented on #4495
Please provide the call you are using in Step 4 to help us troubleshoot your issue.

[2016-07-02 02:55] ln8711 opened #5413 "issue with get active payment methods (getActiveMethods) - Magento CE 2.1"
## Steps to reproduce
1. Enable Braintree
2. run the functions getActiveMethods from vendor/magento/module-payment/Model/Config.php in somewhere
## Expected result
1. Show list of active payment methods
## Actual result
1. Exception Call to undefined method Magento\Payment\Model\Method\Adapter::setId() in vendor/magento/module-payment/Model/Config.php on line 98

when $data['model'] is BraintreeFa

[2016-07-02 03:16] stevekem commented on #5364
Can anyone instruct me how to make just the price block on category and product details page non-cacheable until a fix for this bug is done?  This is really preventing us from using this version since the minimal price keeps disappearing on category page when cache is enabled.  I would pay for this fix if anyone can help.  Thanks!

[2016-07-02 03:17] davidalger commented on #4358
@KrystynaKabannyk Unfortunately this is not resolved (at least not from my perspective...). There is a .gitignore included now, yes, but it is different than it was before and not appropriate for use in setting up a project.

The .gitignore which create-project outputs should create should be one ready to manage the source code of a version controlled project with all dependencies managed by compo

[2016-07-02 03:21] stevekem commented on #4945
@cpartica @katmoon Can this issue I posted be related to this issue? https://github.com/magento/magento2/issues/5364

[2016-07-02 04:22] qrider commented on #3906
You might update the documentation here => http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-apply.html
It still references the old location.

[2016-07-02 05:03] phuc128t commented on #5389
Ok, this is a different from previous versions (from magento 2.0.7 and magento 1.x).

[2016-07-02 05:10] brianramseyau commented on #2540
I have followed every step and still getting the original error posted here, it says nothing about using the Verifier in the linked documentation to get the Request token? I have added it to my string anyway and still getting the same failure response?

[2016-07-02 06:39] sIiiS commented on #5309
@gewaechshaus, when I talk about localhost it doesn't mean that I use http://localhost in my brower.
I use http://192.168.1.10 in browser
and thank you it seems the solution #5383 worked for me

[2016-07-02 06:45] samuellinde commented on #5398
Having the same issue with 2.1.0 CE.

[2016-07-02 08:38] developer-lindner opened #5414 "Can't update products attribute in CLI"
## Steps to reproduce
1. Install Magento from `2.1` branch.
2. Have some product data (sample data for example)
3. Run CLI Command (code below)

[code]
## Expected result
1. Product Attribute gets updated & saved
## Actual result
1. Error message appears:
   " [Magento\Framework\Exception\CouldNotSaveException]
   Unable to save product "
## Furthermore

IF AreaCode is set as state the command "wo

[2016-07-02 09:13] brianramseyau commented on #2540
UPDATE: this error occurs if you already have a request token created in Magento DB table oauth_token (if you're like me and developing an app and raising multiple requests), clear this table of its entries (request and verify) before retrying and this error disappears...

I feel that if you ask for another request token magento should create another not get upset that there is already a request t

[2016-07-02 09:56] hesamy commented on #5378
@Dayssam  I did that but when i typed localhost/magento into my browser it just goes to a blank page that just writes "An error has happened during application run. See exception log for details.". I'm guessing I shouldnt have left the installation page?

[2016-07-02 11:02] praful-rajput commented on #5391
It was clean install.

Please do not hesitate to reach out with any additional questions or
concerns that you might have.

_Regards,_

_Praful Rajput_

On Fri, Jul 1, 2016 at 11:26 PM, Paul Boisvert notifications@github.com
wrote:

[2016-07-02 12:12] ksz2013 opened #5415 "Tax calculated wrongly when Atomatic group assignment of users is used"
Hi,

There seems to be a problem with Magento when the utomatic Assignemnt to Groups is enabled.
Tax Calculation is set on Billling Address here and at tax calculation section as well, and user is having the proper billing address assigned and VAT number.
-> The user is assigned to proper Customer group based on its VAT number but the tax seems to be calculated all the time only when the shipping

[2016-07-02 12:44] Krapulat opened #5416 "[2.1] Store View Language switch leads to 404 on some cases"
In Magento 2.1, when you are in a top category, for example: example.com/fashion and you switch to another language, it works ok.

But when you are inside a child category, like: example.com/fashion/men and you switch to another language, it leads to 404 not found.

In child category, the url becomes: example.es/fashion/fashion/men (main category duplicated in url) so it returns a 404.

[2016-07-02 13:48] bgkavinga opened #5417 "Cache tags does not get created for widgets."
Since Magento\Cms\Block\Widget\Block class does not implement from Magento\Framework\DataObject\IdentityInterface, X-Magento-Tags related to widgets does not get created. This will effect to widgets & static blocks created from admin panel. Once you update static block contents or widgets, the changes will not get effected in the front end because of the missing cache tags.
Refer: Magento\PageCach

[2016-07-02 14:20] Crossmotion commented on #3053
I can confirm the problem still exists on version 2.1.0. I have max_input_vars set to 10000 and have 100 grouped products. Error I get while trying to save an existing product is:

Notice: Undefined index: position in .../www/vendor/magento/module-grouped-product/Model/Product/Initialization/Helper/ProductLinks/Plugin/Grouped.php on line 99

[2016-07-02 15:09] markalston commented on #1146
Still broken in 2.1.0

[2016-07-02 15:33] nevvermind commented on #4068
You're still doing it: https://github.com/magento/magento2/commit/3be18f35a8a7c7a7a52d228d67eddbd903430419#diff-35047a76fe781049c19099b882f4d183R11

I've seen loads of snippets in magento SO site using strings, because I assume that's what they see in the codebase.

[2016-07-02 16:07] webspeaks opened #5418 "Unable to Import data in 2.1.0 - "Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "xxx" already exists.""
## Steps to reproduce
1. Upgrade to magento 2.1.0
2. Go to System -> Import
3. Select following options - http://joxi.ru/DmBNnDRuNM3Eem
## Expected result
1. The product details should get updated.
2. Product should be available in admin and frontend
## Actual result
1. Get this error in var/reports:
   `a:4:{i:0;s:87:"Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "145" already

[2016-07-02 16:48] zhiyicai opened #5419 "I cannot find the Web Setup Wizard"
I installed the magento 2.1.0
I cannot find the Web Setup Wizard

![123](https://cloud.githubusercontent.com/assets/13891311/16541518/8d1ccab0-4085-11e6-89d7-17bd67294914.PNG)

[2016-07-02 17:07] Protazy21 commented on #5236
Fix for showing products in category
Magento\CatalogInventory\Model\Configuration
function getDefaultScopeId() always returns 0 (admin id)
converting to this helps:
public function getDefaultScopeId()
    {
        // TODO: should be fixed in MAGETWO-46043
        // "0" is id of admin website, which is used in backend during save entity
        $scopeId = $this->storeManager->getWebsite()->getId(

[2016-07-02 17:14] nhp commented on #4470
Would be fixed by PR #5420

[2016-07-02 17:29] amanuni opened #5421 "After upgrade from 2.0.7 to 2.1.0 admin grids are not displaying."
I have recently upgraded magento 2.0.7 to 2.1.0 from terminal using below mentions commands.

[code]

After success full upgraded and after running successful setup upgrade i have checked frontend looks good but in backend grids are not loading i have checked product grid and sales order grid its not loading. I have checked console and seen below mentioned error.

[code]

Please look into this.

[2016-07-02 17:43] Ctucker9233 commented on #5236
After updating to Magento 2.1 from 2.0.7 I can't see my catalog navigation anymore. Anyone experience this issue? If not, I'll open a new issue. I know my products are still there and I can search and find products in the frontend. Anyone have a fix for this?

[2016-07-02 18:43] Ctucker9233 commented on #2666
I can confirm that.

[2016-07-02 19:10] RG-1 opened #5422 "Mixed images order [Magento 2.1.0]"
## Steps to reproduce
1. I am using Magento 2.1.0 (updated form Magento 2.0.7).
2. Before the update I imported products from csv file.
3. After the update base image position in a gallery of thumbnails is mixed.
4. Base images are also marked as "thumbnail" and "small".
5. Images order on the backend is set up right.
## Expected result
1. Base image should be first one in a gallery of thumbnails.

[2016-07-02 20:03] jldmn commented on #5223
For me, the
`compiled_config' => 1,`
has already been there and the error persists.

[2016-07-02 20:05] amenk commented on #5309
`admin/security/session_lifetime` -> 86400 worked for me. Before this change, the key was empty. Maybe this is (no longer) supported?

[2016-07-02 20:53] davidbilly commented on #5421
@amanuni just upgrade to 2.1.0 CE from 2.0.4 CE. And have same exactly issue as you.
1) Missing all the Filter function.
2) Go to Product detail page forever loading.
3) Go to invoice , show Notice: Undefined index: base_grand_total in /vendor/magento/module-sales/Ui/Component/Listing/Column/Price.php on line 55
4) And more

<img width="1913" alt="screen shot 2016-07-03 at 5 21 40 am" src="https:/

[2016-07-02 21:26] davidbilly commented on #5236
@Ctucker9233 , we're same boat :( upgraded from 2.0.4 CE

<img width="1915" alt="screen shot 2016-07-03 at 5 24 43 am" src="https://cloud.githubusercontent.com/assets/3938103/16542522/ae367a26-40de-11e6-9a77-869c20db51f6.png">

[2016-07-02 21:35] Ctucker9233 commented on #5236
@davidbilly I can see all my products in the backend just fine. In the frontend, it's missing the nav bar that the customer would use to browse through products. It's strange though that the products show up when a customer searches for something. That's the only way products can be viewed on the frontend right now. I'm currently reverting to 2.0.7. :(

[2016-07-02 21:44] davidbilly commented on #5236
@Ctucker9233  It's weird, my front-end look good. Just back-end screw up :(  The reason I upgrade to 2.1.0 because it has fix for sub-product set price 0 issue lol

Is it composer require magento/product-community-edition 2.0.7 --no-update Can reverse back?

[2016-07-02 21:52] amanuni commented on #5421
Thanks @davidbilly i have gone through this but no luck. I had observed that repose are returning in data but not displaying it admin grid.

`VM2699:1 Uncaught TypeError: Cannot read property 'provider' of undefined`

[2016-07-02 21:55] Ctucker9233 commented on #5092
I apologize for the delay in answering. This will be closed as I have solved the problem although I would like to suggest that the document be updated to ore clearly reflect that the "add options" portion is for adding the simple products that are part of the bundle. Only after "options" are added will the bundled product show up on the frontend I had to search quite a few places before I found th

[2016-07-02 21:55] #5092 closed, assigned to andimov

[2016-07-02 22:50] Ctucker9233 commented on #5236
I'm afraid that doesn't work. I just tried it. Looks like I'm stuck with 2.1 for now. The old magento had a way to roll it back. _Feature Request: version rollback_

[2016-07-02 23:40] Ctucker9233 commented on #5262
I second this. It saves valuable space.

[2016-07-03 00:59] suthzy commented on #2885
Thank you. Setting the SELinux to permissive mode fixed this for me. I'm installing Magento 2.1 on PHP 7.0.6 on OpenLogic centos 7 all running on Windows Azure. I suggest the docs at http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html#perms-private get updated. Thanks once again @anaxmedia. took me a while to find out what I was doing wrong.

[2016-07-03 03:47] davidbilly commented on #5421
@amanuni i fix the Error parsing header X-XSS-Protection: 1; mode=block, 1; mode=block: expected semicolon at character position 14. The default protections will be applied.

Just go ur nginx config and remove add_header 'X-XSS-Protection' '1; mode=block';

They did change some code on nginx.conf.sample for V2.1.0

anyway, i still have those JS error :(

[2016-07-03 04:56] mscd commented on #3572
This is issue is now taking way too long, it has been more then 6 months ago that this occurred, still we did not find the key angle why the session file issue exists and comes back to part of the community.

@slavvka @sengaigibon @pantaoran @devhn @sevos1984 @moe-kayali @100php @sevos1984 @OgreMHDW @carmelomtb @sunilit42 @davidnguyen2205 @Pigau , can every one of you share it's local and test ser

[2016-07-03 05:45] Ctucker9233 commented on #5236
Well, at least i'm back to where I was. Magento, why doesn't the catalog nav bar show up in the frontend any more? WTH?

[2016-07-03 05:54] Ctucker9233 opened #5423 "[Magento 2.1.0] Catalog nav bar is missing in 2.1.0"
## Steps to reproduce
1. Put store in maitenance mode
2. Install Magento 2.1.0 from .zip folder per magento documentation
3. run setup:upgrade and setup:di:compile commands
4. Navigate to front end
## Expected result

Store page displays normally with catalog navigation
## Actual result

Store page displays without catalog navigation

Note: Multi-store setup
![backend](https://cloud.githubusercont

[2016-07-03 06:19] omdeshpande opened #5424 "Adding functionality to Plugin AOP"
AOP implemented by the Plugins in Magento2 a good framework feature.

Currently, these AOP overrides work on the basis of one class at a time. What could be a great addition to this, is to have Spring (Java) like 'Pointcut patterns'. Pointcut patterns will make it possible to inject 'before', 'after' and 'around' to multiple functions and classes through a single statement. It will make plugin def

[2016-07-03 06:27] davidbilly commented on #5236
@Ctucker9233 using 2.1.0 DB data? Mine 2.1.0 after add cart not updating checkout.

[2016-07-03 07:03] elmosgot opened #5425 "Sampledata forced upon database with own data"
## I upgraded from 2.0.7 to 2.1RC3
1. Install Magento from `2.0.7` branch without sampledata
2. Add some custom data
3. Upgrade Magento to `2.1.0 RC3` using the web setup wizard
## Expected result
1. Not install sampledata during upgrade or when data exists in the database
## Actual result
1. Custom data gets overwritten by sampledata during upgrade

[2016-07-03 07:22] davidbilly opened #5426 "Error occur after upgraded to 2.1.0 CE from 2.0.4 CE"
## Steps to reproduce
1. Install 2.0.4 CE
2. Upgrade to 2.1.0 CE by composer update
3. rm -rf var/cache/\* var/page_cache/\* var/generation/*
4. php bin/magento setup:upgrade
5. chown -R www-data:www-data .
6. find . -type d -exec chmod 770 {} \; && find . -type f -exec chmod 660 {} \; && chmod u+x bin/magento
## Expected result
1. Get stable 2.1.0 CE system
## Actual result
1. Front-end : after a

[2016-07-03 10:37] YevSent commented on #5409
What type of payment action (`Authorization` or `Authorize and Capture`) did you use? Also, you use fresh Magento installation or upgrade version from some previous release?

[2016-07-03 11:28] acidreian666 commented on #5423
what did you upgrade from?
is your Storefront using SSL aka (https://)
Are you running Varnish?
Theres simular issues going around.

[2016-07-03 12:14] davidnguyen2205 commented on #3572
After I tested with many versions (2.0.0 - 2.0.2 - 2.0.6 - 2.0.7 -2.1.0dev-branch - 2.1.0 GA) in the same way with Ubuntu 14.04 + PHP 7 + MySQL 5.6, I got this problem with some versions ( 2.0.0 - 2.0.2 - 2.0.7 - 2.1.0dev-branch ). I don't know how the versions (2.0.6 + 2.1.0 GA) worked well...

[2016-07-03 12:14] JDavidVR commented on #5423
I have same problem upgrading from 2.0.7 to 2.1 I don't know why, probably its an issue with changes to the settings, before 2.1 it was on store>configuration>design, now it is on content > theme(or something like that)

[2016-07-03 13:55] lucasng13 opened #5427 "Adding Product To Compare not working"
## Steps to reproduce
1. Install Magento 2.0.x or 2.1.
2. Add a product to compare.
## Expected result
1. Product should be added to compare.
## Actual result
1. Product can't be added to compare.
2. Compare button only works after adding any product to cart
3. If you test this bug, you should clear all cookies on Magento site.

[2016-07-03 13:55] paales commented on #5393
@Bakhtawar7 Please note that GitHub is not a support forum to ask for help. If you are actually running into bugs you can report them here, but for help, ask the question here: http://magento.stackexchange.com/

[2016-07-03 13:58] lucasng13 opened #5428 "Poor error message placement for Configurable products required swatch selection on Product page"
## Steps to reproduce
1. Install Magento 2.1.
2. Go to a Configurable Product page.
3. Don't select any options and click "Add to cart"
## Expected result

 Message "This is a required field." should display below options.
## Actual result

 Message "This is a required field." displays at the bottom of form.

![required_field](https://cloud.githubusercontent.com/assets/19704072/16550473/22cfb0a4-4

[2016-07-03 14:21] Ctucker9233 commented on #5423
@acidreian666 I upgraded from 2.0.7 and it uses SSL. I don't use varnish.

[2016-07-03 14:28] Ctucker9233 commented on #5423
@JDavidVR It would seem that my theme is working ok. I didn't manipulate anything having to do with that nav bar.

[2016-07-03 14:31] Ctucker9233 commented on #5423
If themes can't transfer from 2.0.7 to 2.1, that is a critical oversight.

[2016-07-03 14:52] Ctucker9233 commented on #5236
@davidbilly Not sure what you mean. I went through the documented method for upgrading so I would assume i'm using the upgraded DB.

[2016-07-03 15:38] Nerogee opened #5429 "Magento 2.1 no table rates upload button"
## Steps to reproduce
1. magento 2.1
2. go to shipping method -> table rates
## Expected result
1. a function to upload table rates
## Actual result
1. there is no such a function / button to upload the table rates file

[2016-07-03 17:02] pboisvert commented on #5429
Check that you have the right store view scope selected. I am not able to reproduce this error as the Import button is shown in my version of 2.1
<img width="1321" alt="screen shot 2016-07-03 at 10 07 38 am" src="https://cloud.githubusercontent.com/assets/5807369/16546619/251b6ca2-4105-11e6-8f23-058cf2feedc2.png">

[2016-07-03 17:23] pboisvert commented on #5427
Not able to reproduce. Using 2.1 build with sample data i added 3 products from one of the product listing pages to "compare" using the compare icon when hovering over a specific products. All products were added to the "Compare Products" list as seen here:

<img width="521" alt="screen shot 2016-07-03 at 10 25 22 am" src="https://cloud.githubusercontent.com/assets/5807369/16546697/aa898c28-4107-1

[2016-07-03 17:26] stevewinni commented on #5409
It's using Sandbox with Authorize and Capture. The install is originally a 2.0.6 that has been upgraded on each point step to 2.1.0. It is also using the demo data and Luma Theme.

Platform: CentOS7, PHP7.0.7, FastCGI

Any Ideas on were to start debugging this one? Apart from following the Interceptor Class back up the tree.... Hope you've got a solution as I only had three days left to solve this

[2016-07-03 17:48] sheldonli999 commented on #5269
The address is US address.  However, I set the default country to China.  Please see the attached.
Also see the request and response:
magento url: http://121.41.108.11/index.php/rest/V1/customers/me/shippingAddress
2016-07-03 10:43:34.659 Tour[464:127348] {
    "Accept-Language" = "en_US";
    Authorization = "Bearer 09t2ge3b4k8ttexf23urj5hf57yg0d0m";
    "Content-Type" = "application/json; charse

[2016-07-03 17:52] commcad commented on #5419
Having the same issue here. Upgraded from 2.0.7 archive to 2.1.0 GA

Web Setup Wizard does not appear under System > Tools. It's gone, literally loll

I've tried to re-installed a clean Magento 2.1.0 GA installation but had the same results.

Ubuntu 16.04
NGINX 10
PHP 7.0.7 (using 3rd party PPA)
MariaDB
Redis 3

[2016-07-03 18:45] didineedthis commented on #4911
My crons dont seem to be working either. file paths are set correct also checked by my hosts

php -c /usr/local/lib/php.ini /home/xxxxxxxx/public_html/bin/magento cron:run | grep -v "Ran jobs by schedule" >> /home/xxxxxxxx/public_html/var/log/magento.cron.log
php -c /usr/local/lib/php.ini /home/xxxxxxxx/public_html/update/cron.php >> /home/xxxxxxxx/public_html/var/log/update.cron.log
php -c /usr/l

[2016-07-03 18:46] didineedthis commented on #5397
Problem resolved with fresh install. More than likely upgrade error !
Thanks for your imput, appreciated.
Regards

[2016-07-03 18:46] #5397 closed, assigned to nobody

[2016-07-03 18:55] sheldonli999 opened #5430 "2.1 Can't change customer group"
## Steps to reproduce
1. Install Magento 2.1
2. Select a customer
3. Edit the customer
4. Change the customer group from Retailer to something else
## Expected result
1. The customer new group info is saved
2. ...
## Actual result
1. The customer is saved and redirected to the customer list page
2. Click the edit on the customer
3. The group is NOT changed, back to Retailer

[2016-07-03 19:23] Ctucker9233 commented on #5423
If I clear /var/cache, /var/page_cache and /var/generation according to the documentation, http://devdocs.magento.com/guides/v2.1/comp-mgr/cli/cli-upgrade.html, this happens:

Warning: ltrim() expects parameter 1 to be string, object given in /home/tuckersf/public_html/vendor/magento/framework/Code/Generator/EntityAbstract.php on line 152

Notice: Uninitialized string offset: 0 in /home/tuckersf/p

[2016-07-03 19:33] didineedthis commented on #5352
how do i find the file to update? i just copied the missing image location and added the folder there? but i would like to fix the issue

[2016-07-03 19:36] mattquest opened #5431 "Creating too many product variations causes unpredictable results, appears to have cut data off in submission."
## Steps to reproduce

Try creating product variations with 20 colors and 6 sizes each.
## Expected result
1. Creates the product variations and leaves the main configurable product alone.
2. ...
## Actual result
1. creates some of the configurable products and strips data out of the main products, like the name, sku, url key, etc all become blank.

[2016-07-03 22:22] ruud3007 commented on #5236
After upgrading I still have the following error:
Notice: Undefined offset: 88 in /home/tm/public_html/vendor/magento/module-eav/Model/ResourceModel/ReadHandler.php on line 166

I checked in the database, but this attribute does exist... In fact it is Media Gallery

![screen shot 2016-07-04 at 00 22 30](https://cloud.githubusercontent.com/assets/20240863/16547929/6cd52664-417d-11e6-9e98-0568e32601

[2016-07-03 22:32] acidreian666 commented on #5423
So I been trying to Replicate the original problem my tests have been as fallowed.
Test 1
Install magento on Ubuntu 16.04 server w/ Nginx php7.0-fpm varnish mysql
installed magento2 to html dir
via
sudo wget magento2.1.zip (from official magento website)
then installed m2.1 via website installer http://localhost/setup/
no issues.

Finished install = Functional 2.1 with _NO_ menu on Homepage no mat

[2016-07-03 22:47] tobias-forkel commented on #5431
I had similar issues with Bundle Products in M1 before. The amount of data for each POST is limited and managed by PHP. So it could be related with your hosting and the values such as `post_max_size=20M` and `max_input_vars=1000`. Can you increase the values and try again?

Source: http://magento.stackexchange.com/questions/48241/magento-bundle-products-problem-with-the-option-to-add-new

[2016-07-03 23:09] JDavidVR commented on #5423
@Ctucker9233 I did more tests, trying to change configuration on backend and I agree with you this is a critical issue, for sites that are already build on 2.0.x and want to upgrade to 2.1

In logs I have this error:
[2016-07-03 23:08:39] main.INFO: Cache file with merged layout: LAYOUT_frontend_STORE1_2c7461af04bb11fe209659d7147d2c579 and handles default, cms_index_index, cms_page_view, cms_index

[2016-07-03 23:23] JDavidVR commented on #5166
thankyou @piatrouski, I have similar issue with magento 1 and increasing values for max_input_vars, solved my problem on both, magento 1 and 2

My main doubt is if this is normal?

[2016-07-03 23:24] Ctucker9233 commented on #5423
@JDavidVR Thanks for testing this out. So am I screwed and just need to do a clean install of 2.0.7?

[2016-07-04 00:13] Ctucker9233 commented on #5423
@JDavidVR where did you find that log? Do you think there is a way to programatically fixing this?
@magento-team please investigate this.

[2016-07-04 00:27] mscd commented on #3572
@davidnguyen2205 thanks David, did you use Apache or NginX - which versions?

[2016-07-04 00:54] Nerogee commented on #5429
yes, change the scope to **Main Website** (only this one) solve my problem. Thanks

[2016-07-04 01:06] Nerogee commented on #5429
@pboisvert I got error message **Something went wrong while importing table rates**. Do you have any idea about this? thanks

[2016-07-04 01:06] dmcmillin opened #5433 "static cms blocks not displaying when added to default.xml under theme"
## Steps to reproduce
1. Install Magento from 2.0.7 branch.
2. find luma theme or any theme and modify it
3. modify it with the following additions.

`<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
        <referenceContainer name="header.panel">
            <block class="Magento\F

[2016-07-04 01:11] Nerogee commented on #5429
@pboisvert forget it. I found out the reason already.

[2016-07-04 01:59] JDavidVR commented on #5430
@sheldonli999  I'm using the 2.1 with sample data, and I changed customer group as your instructions, but I'm not having the issue you mentioned. maybe is an issue with file permission on var folder

[2016-07-04 02:32] centerax opened #5434 "[QUESTION] Where does _rootDirectory come from?"
here https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Model/Product/Option/Type/File.php#L452 who fills $this->_rootDirectory?

[2016-07-04 03:22] gtaylor44 commented on #760
Any updates on this issue? The `updated_at` column should get updated if you change details about a product, etc. Surely this is an oversight?

[2016-07-04 03:30] Thommas commented on #3759
I implemented a custom quickfix for now.

If anyone is interested you can contact me.

[2016-07-04 03:35] #5433 closed, assigned to nobody

[2016-07-04 03:36] davidnguyen2205 commented on #3572
I am using Nginx 1.10.1

[2016-07-04 03:48] lucasng13 commented on #5427
I installed clean Magento 2.0.7 with sample data. Then, I add a product to compare (on category page or on homepage Luma theme)
![compare](https://cloud.githubusercontent.com/assets/19704072/16550393/44db46dc-41d4-11e6-970e-c6f050e8fad5.png)

As I said, compare product only works after I add a product to cart. Otherwise, I only see message "You added product Breathe-Easy Tank to the comparison lis

[2016-07-04 03:51] kapilsinghathia opened #5435 "Paypal order confermation email not sent by customer associated with website but sent to paypal account holder (Paye)."
1. Add a product to cart and place order with paypal.
2. It will redirect you to paypal website, login with paypal and click pay now.
3. It will redirect you to order success screen and new order email is sent to paypal paye not to the customer email filled in checkout shipping step...
4. I have enabled cron jobs but still not working.

[2016-07-04 04:01] Ankitase35 commented on #5393
Hello Paul,
              I already raised this question on stackexchange but I didn't
get any help so I asked the question on github.

On Sun, Jul 3, 2016 at 7:25 PM, Paul Hachmang notifications@github.com
wrote:

##

Regards,
Bakhtawar Khan.

[2016-07-04 04:29] amanuni commented on #5421
I am still having issue with grid even i have same issue with new installation also. I have tried it in my local on my test server but same issue.

[2016-07-04 05:57] qwerty7869 commented on #5404
@mbrinton01 Thanks for the reply.
I checked cart totals api and getting itemwise row total in response so that is resolved. But require images for the cart page and I think this is not a fetaure but a basic functionality which will be required in all the sites.

[2016-07-04 06:29] bhaveshsurani commented on #5127
i am using php 5.6.21

[2016-07-04 06:55] YevSent commented on #5409
@stevewinni, this is known issue and related to incorrect upgrade scripts for Sales module. On the fresh install, it should work.
Closed as duplicate for https://github.com/magento/magento2/issues/4785 .

[2016-07-04 06:56] #5409 closed, assigned to alena-marchenko

[2016-07-04 07:05] YevSent commented on #5435
Hi @kapilsinghathia, to help us investigate your issue, please, follow to [the reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) , it will significantly decrease our time for investigation.

[2016-07-04 07:17] Tjmstudios opened #5436 "Order by SKU products not showing in Minicart drop down"
## Steps to reproduce
1. Fresh install Magento 2.1.0. (sample products)
2. Login on front-end.
3. Go to "Order by SKU"
4. Upload valid CSV with multiple products and qty's
   ![image](https://cloud.githubusercontent.com/assets/11372070/16553169/056644a8-420a-11e6-9237-4de575f94dc4.png)
5. Select "add to cart"
6. Select minicart to show drop down
## Expected result
1. The same products in cart are

[2016-07-04 07:29] GianniPDF commented on #4796
Not even acknowledged? Maybe this isn't a bug but definitely it is a feature Magento 2 should have (Given the case that Magento 1 has it)

[2016-07-04 07:30] tukhoi commented on #4432
Hello,

I got the same issue. After few successful times (in which I could get token), it starts return above message.

[2016-07-04 07:31] martinboy opened #5437 "CMS page Data Upgrade failed"
In the reference to this commit https://github.com/magento/magento2/commit/3b9511f682522f9b6dd99634f46a1604323925b0
## Steps to reproduce
1. Migrate data from Magento 1.x to 2.0.7 using Magento data migration tool version 2.0.7
2. There is no CMS page with ID 4 in database. In some cases the page with the ID 4 may contain the  data not the one that supposed to be seen, i.e. absolutely different pa

[2016-07-04 07:37] nirajketan opened #5438 "Magento CE 2.1 Not able to add attribute to category"
Magento CE 2.1 Not able to add Custom attribute to category dynamically like Magento 1 or Magento 2.0 version

I had to go to here to add xml part to get the fields
/vendor/magento/module-catalog/view/adminhtml/ui_component/category_form.xml

I don't think its good idea to add xml code everytime you add new attribute

Even after adding xml code.. there is an issue for custom image attribute.  On A

[2016-07-04 08:01] nobodypb commented on #5247
Try entering "setup/" into the addressbar manually. In my case the admin cookie is lost between step 2 and 3

[2016-07-04 08:07] paales commented on #5393
@Bakhtawar7 If you'd like to get help. Please post your errors and detailed steps otherwise no one can help.

[2016-07-04 08:11] sevos1984 commented on #5352
What file you mean? You can find the fix here https://github.com/magento/magento2/commit/23103c03c527fe1ed3e1a3be691436818b7963fe

[2016-07-04 08:19] ednacool opened #5439 "Newsletter subscription"
## Preconditions
1. Magento 2.1

## Steps to reproduce
1. Create customer
2. Subscribe customer to a Newsletter
3. Verify that customer is subscribed to the newsletter and received email notification about subscription.
4. Subscribe same customer to the same email again.

## Expected result
1. Customer does not receive another email on subscribing to newsletter

## Actual result
1 Customer keeps r

[2016-07-04 08:25] stevewinni commented on #5409
Opppss.... OK for those who come after the fix is;

ALTER TABLE sales_invoice_grid ADD base_grand_total decimal(12,4) AFTER grand_total;

[2016-07-04 08:40] YevSent commented on #5409
For now, there is no workaround, because problem is related to db schema changes between upgrades.

[2016-07-04 08:42] didineedthis commented on #5352
Cheers sorted, Thanks for the link. appreciated :)
You said "This issue was fixed in MAGETWO-53010"

I didn't know how to find the fix "MAGETWO-53010" i still dont . i see lots of people stating this was fixed in MAGETWO-XXXX But i have no idea how to find it?

Regards

[2016-07-04 08:43] AntonEvers commented on #5339
I'm running Magento EE 2.1.0 and I have the same issue since the upgrade with `addAttributeToSelect('*')` on custom entity collections.

[2016-07-04 08:43] ednacool opened #5440 "Wishlist Comment Box"
Wishlist comment box displaying but unable to add a comment would anyone let me know how this feature get work

[2016-07-04 08:45] stevewinni commented on #5409
Thank Joni... Looks like the DB amend listed in #4785 works.... I have success payment posts via Braintree after I amend DB..

[2016-07-04 08:54] sevos1984 commented on #5352
When issue is closed link should be attached, but since this one is open you can search MAGETWO-XXXX in pull requests and then find attached commits in it.

[2016-07-04 08:57] didineedthis commented on #5352
Ok thanks for your help, appreciated.
Regards

[2016-07-04 09:00] slavvka commented on #5352
@Nerogee the issue has been fixed and delivered to mainline. Please see 23103c0, 2f32aed and  cb603ff

[2016-07-04 09:17] 0m3r commented on #5266
In order to restore old behavior (ajax add product to cart without page reload), I found and used the old code :
https://github.com/magento/magento2/blob/a5fa3af3b16bb03dcc01068aed0c58d8993fd092/app/code/Magento/Catalog/view/frontend/templates/product/view/addtocart.phtml#L54-L76

that code was removed in commit MAGETWO-53439: [Github][PR] Removed inline JavaScript from template d608f9eb3ff35d60a9

[2016-07-04 09:25] marekyggdrasil opened #5441 "2.1.0 - Check Updater Application Availability fails because of obsolete tool"
## Steps to reproduce
1. Install Magento 2.1.0
2. Open Web Setup Wizard
3. Synchronise with your Magento Marketplace account
4. Launch the installation of new modules.
## Expected result
1. Readiness check should not fail on `Updater Application Availability` as [this reference](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/prereq_updater.html) suggests it is obsolete.
## Actual result

[2016-07-04 09:30] qwerty7869 opened #5442 "Rest Api - GET /V1/products not giving color hash code in response"
## Steps to reproduce
1. Use /V1/products api which will give products with its attribute of a specific category.
## Expected result
1. Api should also give color hash code in response which is the basic functionality as Magento 2 desktop site provide this functionality.

[2016-07-04 09:36] AntonEvers commented on #5236
@uinique-ruud I have the same problem, but all attributes that have this problem are missing from `catalog_eav_attribute` while they are product/category attributes. They are indeed present in `eav_attribute`

[2016-07-04 09:39] ruud3007 commented on #5236
@ajpevers in my case it is even in that table...
![screen shot 2016-07-04 at 11 38 51](https://cloud.githubusercontent.com/assets/20240863/16556743/f9ef076e-41db-11e6-9bc7-f8f0c16bb75a.png)

[2016-07-04 09:42] mhabou commented on #5378
@hesamy you have to finish the installation then go to magento home page

[2016-07-04 09:45] hesamy commented on #5378
@Dayssam  the issue is that I can't access the installation page to complete it. localhost/magento takes me to a blank page that says "An error has happened during application run. See exception log for details.".

[2016-07-04 09:48] AntonEvers commented on #5236
Can you find it in the backend in the product attribute management? I couldn't find mine there either.

[2016-07-04 09:49] mhabou commented on #5378
delete the folder of magento code source then download it again or paste it in the server folder if you had it already

[2016-07-04 09:50] Ankitase35 commented on #5393
I have followed all the steps from this tutorial:
http://www.thienphucvx.com/magento-2-frontend-development/

[2016-07-04 09:51] ruud3007 commented on #5236
Yes I can also find it there...

![screen shot 2016-07-04 at 11 50 15](https://cloud.githubusercontent.com/assets/20240863/16557008/933ad730-41dd-11e6-86f7-29c182b14044.png)

But when I open a product page in the admin:

![screen shot 2016-07-04 at 11 51 16](https://cloud.githubusercontent.com/assets/20240863/16557026/a8779692-41dd-11e6-9dfc-3410d42bbaa2.png)

[2016-07-04 10:00] elioermini commented on #3901
Hello,
I've also encountered the same problem with PHPUnit 4.1.0, PHP 7.0.7 and Magento 2.0.7 Enterprise.
The fix suggested by @srqdeveloper lets the tests pass.

[2016-07-04 10:10] AntonEvers commented on #5350
Same problem here. Also with Magento 2.1.0 EE upgraded from 2.0.7

[2016-07-04 10:11] AntonEvers commented on #5236
I think we can then conclude we have different problems with the same outcome. I added a row to `catalog_eav_attribute` for the faulty attribute id and with all the default column values, reindexed, flushed cache and the error went away in my case.

[2016-07-04 10:20] zhiyicai commented on #5377
vendor\magento\module-catalog\view\frontend\templates\product\view\addtocart.phtml

Here the fix:

[code]

Change to

[code]

#5144

[2016-07-04 10:22] Zaylril commented on #5144
@EugeneAinstainer @asemenenko @minhluan259

vendor\magento\module-catalog\view\frontend\templates\product\view\addtocart.phtml

You simply need to change

`"bindSubmit": false`

to

`"bindSubmit": true`

The initial value in the old code was overridden by the code in the inline script. However if you actually look at the widget itself you will see nothing happens if bind is set to false. NOTHING i

[2016-07-04 10:22] ruud3007 commented on #5236
I think there is only one solution for me, which is install version 2.0.7 again...
Do a new data migration and start over.

What I know for sure is that I am not happy at all with Magento 2, which is causing way more issues than it did with Magento 1. Also I hate them awefull frontend framework. I have to look for another platform in the future.

[2016-07-04 10:25] Zaylril commented on #5266
@0m3r @andidhouse @Raysharr As i posted in another thread on this issue.

vendor\magento\module-catalog\view\frontend\templates\product\view\addtocart.phtml

You simply need to change

`"bindSubmit": false`

to

`"bindSubmit": true`

The initial value in the old code was overridden by the code in the inline script. However if you actually look at the widget itself you will see nothing happens if b

[2016-07-04 10:27] GianniPDF opened #5443 "Field Depedency does not hides label of field when field has “after_element_html” in its $config"
## Preconditions
Install Magento 2.0.7

## Steps to reproduce
1. Install Magento 2.0.7
2. Create a custom module with a form (Magento\Backend\Block\Widget\Form\Generic)
3. Create a depedency to a field with "after_element_html" in its $config
## Expected result
1. The entire div of the field should be set to display:none; (div with class admin__field field FIELDNAME)
## Actual result
1. It only hi

[2016-07-04 10:32] hugh-optoma opened #5444 "Magento CE 2.1 Catalog Admin Page cannot parse media url in html content"
Magento CE 2.1 + PHP 56 + nginx + varnish
## Steps to reproduce
1. Product -> Catalog -> Select a catalog to edit
2. Content -> Description -> Raw html mode
3. Input the html content: &lt;img src="{{media url="wysiwyg/LOGO.png"}}" alt="" /&gt;
4. Save
5. View the raw html shown in the page
## Expected result

&lt;img src="{{media url="wysiwyg/LOGO.png"}}" alt="" /&gt;
## Actual result

&lt;p>&lt;i

[2016-07-04 10:34] antboiko commented on #5422
Hello @RG-1 , please provide more details basing on any of imported products. What was the order of images before the update and how were labels assigned?

Thanks,
Anton.

[2016-07-04 10:52] minhluan259 commented on #5144
@Zaylril
`"bindSubmit": true`
only work for simple product (hasn't option).
If product has an option required, it need validate before send request ajax.

[2016-07-04 10:59] Zaylril commented on #5144
@minhluan259 yes you are correct because the validation is not called. So this needs to be factored into the addToCart Widget.

So a quick 2 liner update to the widget, need to modify the bindSubmit function

[code]

[2016-07-04 11:01] Zaylril commented on #5266
Just a quick update as well (for validation)

So a quick 2 liner update to the widget:

[code]

[2016-07-04 11:06] sintsov commented on #1934
@4DallasC Thanks, it helped me

[2016-07-04 11:11] sma09sjb opened #5445 "Magento 2.1 product multiselect EAV not loading saved data"
Having a similar issue to this  https://github.com/magento/magento2/issues/4822
## Steps to reproduce
1. Install Magento from `develop` branch.
2. add multiselect as follows:

[code]
1. Select and save an option against the attribute
## Expected result
1. Multiselect field retrieves selected value.
## Actual result
1. selected value is saved the first time in the db table  catalog_product_entity_v

[2016-07-04 11:14] kandrejevs commented on #4522
@palamar issue is still present in 2.1.0 and 2.0.7 versions.

[2016-07-04 11:14] alena-marchenko commented on #5312
Hi @nileshpatelifuturz

Please provide us with screenshot of Authorize.net payment method configuration in Magento for us to be able to assist further.

[2016-07-04 11:23] nileshpatelifuturz commented on #5312
Hi @alena-marchenko

Actually I have setup Authorize.net Gateway Url with live site url that's why it was return transaction id empty. Now I have setup Test Mode gateway url and it was work.

[2016-07-04 11:23] #5312 closed, assigned to alena-marchenko

[2016-07-04 12:28] duhon commented on #3053
Hello @Crossmotion
Please create a separate issue with other steps, because you have another error.

[2016-07-04 12:30] apurv-anand commented on #1785
What is the progress on this? We are looking forward for this to be part of Magento.

[2016-07-04 12:34] veloraven commented on #5181
Hi @mcspronko !
Could you please confirm that issue is still present for ver. 2.1.0?
As I was not able to reproduce it.
As soon as I change country, the Next button disappears as well as shipping method itself.
And if some other shipping method is enabled, I can finish order using it.

[2016-07-04 12:45] leechilli commented on #5181
Hi, Thank you for your email.

I'm currently out of the office until Monday 11th July. Where I'll be able to pick up your email on my return.

If you have any urgent support requests please contact the office on 02392822377

[2016-07-04 12:59] veloraven commented on #5183
Hi @bhaveshsurani !
Thank you for your report.
Unfortunately I was not able to reproduce this issue.
Could you please:
1. Provide us with detailed information about your environment: PHP version, MySQL version and web server version.
2. Tell us if it was clear Magento installation or upgrade from some other version?
3. Provide us with full steps how to reproduce this issue including type of the pr

[2016-07-04 13:03] antboiko commented on #5440
Hi @ednacool , click Update Wish List after you added the comment.

I'm closing this issue as the GitHub issue tracker is intended for technical issues only.

Best,
Anton.

[2016-07-04 13:03] #5440 closed, assigned to nobody

[2016-07-04 13:07] sintsov commented on #5033
My case for this bug Magento 2.1.

website 1: domain.com (default)
website 2: domain2.com

1 base, the same code.
For website 1 `web/unsecure/base_url`, `web/secure/base_url`, `web/unsecure/base_link_url`, `web/secure/base_link_url` set **domain.com**
For website 2  `web/unsecure/base_url`, `web/secure/base_url`, `web/unsecure/base_link_url`, `web/secure/base_link_url` set  **domain2.com**

In _do

[2016-07-04 13:13] antboiko commented on #5439
Hi @ednacool , please provide detailed steps to reproduce the issue in an appropriate format with Expected and Actual results. What Magento version are you running?

Best,
Anton.

[2016-07-04 13:17] stevenvdp commented on #4580
@alena-marchenko Hi, I'm a colleague of @SidneyBilliet and I have to tell that the issue still isn't resolved. This because the problem is not related to PayPal on it's own.

This ticket also describes the problem: #4474

So the steps to reproduce:
- Place order and try to pay with paypal (or other method)
- Cancel the payment
- Try again to pay, this will throw an error.

When you're a guest user

[2016-07-04 13:23] antboiko commented on #5436
Hi @Tjmstudios , you data in .csv file should be comma separated, i.e.:
sku,qty
SKU-1,5
SKU-2,7

Please try this way and close this issue if it helps.

Thanks,
Anton.

[2016-07-04 13:51] Crossmotion opened #5447 "2.1.0 Updating Grouped product with 100 grouped products gives error Undefined index: position"
## Preconditions
Magento 2.0.1
## Steps to reproduce
1. Add Grouped product by code via the \Magento\Catalog\Api\ProductRepositoryInterface
2. Add +/- 100 Simple products (my last test had 97 products) via the \Magento\Catalog\Api\ProductRepositoryInterface
3. Add the Simple products to the Grouped product (In my case I did it by adding a record to the catalog_product_link table:
   //Create new l

[2016-07-04 13:53] Crossmotion commented on #5447
While writing this and testing I noticed that when I refresh the product after trying and then saving it again, it does save... so the problem only occurs the first time you try it...

[2016-07-04 14:04] bhaveshsurani commented on #5183
1. Provide us with detailed information about your environment: PHP version, MySQL version and   web server version.
   - here is version of php/mysql/web
     mysqlnd 5.0.11-dev
     Apache/2.4.17
     PHP/5.6.21
2. Tell us if it was clear Magento installation or upgrade from some other version?
   - i have installed 2.1.0 then upgrade to 2.1.0-rc3 and then do upgrade to 2.2.0-dev.
3. Provide us

[2016-07-04 14:10] TanguyBusschaert opened #5448 "Magento2 REST API not adding new products"
I try to add a new product trough the M2 REST API, but I somehow can't seem to get it to work.

Here are SS from my code and from the error:

CODE:

![ps1](https://cloud.githubusercontent.com/assets/18099315/16563334/b50d191c-4201-11e6-9a49-99ad6e823fc4.PNG)

ERROR:

![ps2](https://cloud.githubusercontent.com/assets/18099315/16563338/b92aff14-4201-11e6-97d1-047f05969871.PNG)

Thanks !

[2016-07-04 14:12] wert2all commented on #5428
Thanks for reporting. Internal ticket MAGETWO-55042 was created.

[2016-07-04 14:27] wert2all commented on #5430
@sheldonli999  I cannot reproduce this issue. To allow us research the issue, please, provide more concrete steps for reproducing.

[2016-07-04 14:47] hvohra opened #5449 "SQLSTATE[42S22]: Column not found: 1054 Unknown column 'e.lock_expires'"
Steps to reproduce
when I do reindex as below, I get the following error.  Everythign else works except customer is not getting re-indexed.   So the in admin I cannot see any customers either although customers are there.

 php -f bin/magento indexer:reindex
Design Config Grid index has been rebuilt successfully in 00:00:00
SELECT `e`._, `e`.`entity_id`, TRIM(CONCAT_WS(' ', IF(`e`.`prefix` <> '',

[2016-07-04 14:55] hvohra commented on #5449
BTW, I am using magento 2.1.0
Ubuntu 15
mysql

[2016-07-04 15:13] orlangur commented on #5439
@antboiko provided steps are sufficient. At least I don't see any obscurity.

This is correct behavior. Same as for registering or password recovery - system should not reveal excessive information about emails to avoid their grabbing for spam or something.

And this does not seem OK. Basically, you should not receive more than one email until you confirm subscription I believe. So that you cannot

[2016-07-04 15:24] wozniakm commented on #5448
You should check logs, exceptions in Magento contains lack of informations. I bet that you are trying to insert product with SKU or URL_KEY which already exists. Try with different data and let's see what happens.

[2016-07-04 15:33] mhabou commented on #5313
@NadiyaS i didn't receive any response

[2016-07-04 15:34] danslo opened #5450 "Coupon not marked as used when used to apply free shipping"
## Steps to reproduce
1. Install Magento from develop branch.
2. Go to Marketing > Cart Price Rules
3. Create a new rule with a Coupon
4. Set Uses per Coupon to '1'.
5. Enable 'Use Auto Generation'.
6. Under 'Actions', enable free shipping.
7. Go through normal checkout process and submit an order.
## Expected result
1. The coupon code is marked as used.
2. The number of times used is increased.

[2016-07-04 16:01] Ctucker9233 commented on #5236
@magento-team Someone please check this stuff out

[2016-07-04 16:18] chicgeek opened #5451 "Rating titles with whitespace results in broken ID attributes"
The review form uses the rating labels to output element attributes in the FE [form.phtml](https://github.com/magento/magento2/blob/develop/app/code/Magento/Review/view/frontend/templates/form.phtml) template. These attribute values include IDs that should not include whitespace - this whitespace should be stripped out (likely with `str_replace`) for all (but one) instances of:

[code]

The _only_

[2016-07-04 16:18] Danielc3 commented on #5438
I am having similar issues in CE 2.1. I've had issues with the same controller. It seems to have a hardcoded reference to 'image'. Is there some other controller we should be using when adding additional image attributes to categories?

I am also having problems when trying to add attributes that have custom source models. Could you please provide some documentation on how this should be done? Is

[2016-07-04 16:24] PascalBrouwers commented on #1471
I have an issue when importing products where 2 stores have the same category name.
eg.
site1/category/subcategory
site2/category/extra/subcategory

Looking at the import query it inserts into url_rewrite this info 2x with only a different target_path, but the constraint is on request_path + store_id (URL_REWRITE_REQUEST_PATH_STORE_ID)

[2016-07-04 16:30] nirajketan commented on #5438
Yes right.. anyhow I figured it out and you are right I got to extend
Dataprovider.php as well.

But it should me something dynamic that it adds the attribute direct in
fieldset.
On Jul 4, 2016 9:49 PM, "Danielc3" notifications@github.com wrote:

[2016-07-04 16:45] andimov commented on #5223
@jldmn
What error persists in your case?

[2016-07-04 16:48] jldmn commented on #5223
The "[Reflection Exception] Class Magento\Framework\App\Cache\Webapi does not exist" error

[2016-07-04 16:49] andimov commented on #5223
@jldmn
Did you clear the var/cache, var/page_cache, and var/generation directories?
A sample command follows:
rm -rf var/cache/\* var/page_cache/\* var/generation/*

Then run:
php bin/magento setup:upgrade

[2016-07-04 16:57] andimov commented on #5236
@Ctucker9233 @davidbilly
Did you clean all kind of cache from server and browsers?
If you have varnish you need to restart it to.
@richardreen
Did you check permissions as @paales adviced?

[2016-07-04 16:59] ruud3007 commented on #5236
@andimov and what about my issue?
I did everything you said above...

[2016-07-04 17:02] andimov commented on #5235
@rbostan
Thank you for reporting!
Looks like upgrade is already started.
This issue is still actual?

[2016-07-04 17:15] jldmn commented on #5223
Did the trick for me! Thanks a lot!

[2016-07-04 17:15] Ctucker9233 commented on #5236
@andimov I cleared var/view_preprocessed, var/page_cache, var/cache and pub/static/frontend. I cleared my siteground (web host) caches as well. Am I missing anything?

[2016-07-04 17:18] Ctucker9233 commented on #5236
Also browser caches

[2016-07-04 17:18] andimov commented on #5236
@uinique-ruud
Thank you for reporting! You have different issue, so it would be correct to create a new issue according to the template to allow us investigate and process it with more attention.
For first look it seems to broken db data structure.

[2016-07-04 17:18] erikhansen commented on #5423
I'm also experiencing this issue. I upgraded Magento Enterprise 2.0.7 to 2.1. I changed the theme to the Magento/luma theme and am still not seeing the main navigation. I _am_ using Varnish. I logged a similar issue for 2.0.x, but it was marked as fixed in 2.1: https://github.com/magento/magento2/issues/3897#issuecomment-219215906

[2016-07-04 17:21] pboisvert commented on #5423
Olena--can you have the team check this scenario?

[2016-07-04 17:23] Ctucker9233 commented on #5236
@andimov See also Issue #5423 for more information on my particular issue.

[2016-07-04 17:24] pboisvert commented on #5419
@zhiyicai was this also an upgrade from 2.0.7 to 2.1 for your case?

[2016-07-04 17:24] andimov commented on #5208
@arvind07
Thank you for reporting!
Please check:
- logs for errors
- cron is running
- timeout and memory limits (biggest value can fix this issue).

Also try to upgrade Magento through CLI.

[2016-07-04 17:25] ghost commented on #5419
Is your Magento docroot the `pub` subdirectory?

[2016-07-04 17:27] andimov commented on #5426
@davidbilly
Did you clean all kind of cache from server and browsers?
If you have varnish you need to restart it to.

[2016-07-04 17:30] Ctucker9233 commented on #5423
@tkacheva In my scenario, I am not using varnish unless it got switched on without me knowing. It wouldn't surprise me at this point. How would I make sure that varnish is not running?

[2016-07-04 17:37] zhiyicai commented on #5419
@pboisvert
Upgrade from 2.0.7 archive to 2.1.0 GA , Web Setup Wizard does not appear under System > Tools. It's gone
I've tried to re-installed a clean Magento 2.1.0 GA installation but had the same

[2016-07-04 17:57] ghost commented on #5349
You say you added your keys but the symptoms you're describing can be explained by not adding the keys.

The error **Sorry, we can't take that action right now** during System Upgrade usually means you haven't added your [authentication keys](http://devdocs.magento.com/guides/v2.1/comp-mgr/trouble/cman/were-sorry.html). Try these suggestions and let us know if they work.

[2016-07-04 17:58] Ctucker9233 commented on #5421
I get this error also...

Error parsing header X-XSS-Protection: 1; mode=block, 1; mode=block: expected semicolon at character position 14. The default protections will be applied.

I'm using apache, so how to fix for this?

[2016-07-04 17:58] ghost commented on #5336
I think PHP 7.0.5 doesn't work, the rest should work.

[2016-07-04 18:00] pboisvert commented on #5419
thanks for confirmation. Should help to troubleshoot this as an upgrade issue

[2016-07-04 18:06] southerncomputer commented on #5426
yeah i'd wipe rm -rf var/view\* var/di va/rcache var/page_cache
rm  -rf  pub/adminhtml  pub/_cache  pub/deployed_version.txt  pub/frontend  pub/_requirejs
then php bin/magento deploy:mode:set developer
then do php bin/magento setup:di:compile
php bin/magento setup:static-content:deploy

service php-fpm restart
service httpd restart
service varnish restart

clear browser cache and reload the page!

[2016-07-04 18:17] amanuni commented on #5421
@Ctucker9233 unfortunately their is not a good fix i have fixed X-XSS-Protection issue by commenting some lines  and modifying some lines.
`vendor/magento/framework/App/Response/HeaderProvider/XssProtection.php`

Commented line 14

`//protected $headerName = 'X-XSS-Protection';`

Modified line line 20

`const HEADER_ENABLED = '1; mode=block';`

to

`const HEADER_ENABLED = '1';`

And also commented

[2016-07-04 18:17] amanuni commented on #5421
However my grid problem still not resolved.

[2016-07-04 18:24] jldmn commented on #5223
Ok, but now i got
`Magento supports PHP 5.6, 7.0.2, and 7.0.6 or later. Please read Magento System Requirements.`
on both Store and Admin Page.

My Server runs Ubuntu 14.04 with php 5.6.23

[2016-07-04 19:22] SantoDE commented on #4795
We now have the same problem, which keeps us blocked from upgrading to 2.1. Is there any eta available?

[2016-07-04 19:23] protok commented on #4795
Same problem here, this really is an issue.

[2016-07-04 19:45] ghost commented on #5229
I am experiencing the same issue here just like #4359 . Manually adding the '@' before is_dir at line 914 of the file /vendor/composer/composer/src/Composer/Util/RemoteFilesystem.php did make it work. Without this modification I was unable to update or access the admin.

[2016-07-04 20:13] AeroBob93 commented on #4828
I have the same error, it seems really 50/50. When it doesnt show the show/hide button doesnt work (and no js errors), but when the editor shows the button does work. First I thought it was a browser issue but switching didnt seem to help.

It happens not only with CMS, but with adding/editing products as well.

Using Chrome and Safari latest version, PHP 7.0.7, Magento in dev mode and cache off.

[2016-07-04 20:48] kayintveen commented on #1471
Still have this issue after 2.1 import. no duplicated urls in the db or empty urls.
only got this issue on categories!

[2016-07-04 20:55] Krapulat opened #5452 "[M 2.1] Coupon Code doesn't work sometimes"
In Magento 2.1.0, sometimes the coupon code doesn't work.

Not always, it happens sometimes when I open a new private browser. I apply the coupon and I get: "The coupon code "XXX" is not valid." And without private browser the same coupon and same products on cart, the coupon works perfectly.

Maybe something with sessions or varnish?

Thanks.

[2016-07-04 21:07] commcad commented on #5419
@xcomSteveJohnson
1. Using: root $MAGE_ROOT/pub;
2. Copying my nginx environment below. Runs fully on TLS1.2 only over http2 (i.e. https only).
3. Haven't tried on Apache.

[deleted]

[2016-07-04 21:24] maderlock commented on #5223
The check should pass for php 5.6 as the relevant part of the condition in bootstrap is: PHP_VERSION_ID >= 50600 && PHP_VERSION_ID < 50700. It also fails if PHP for some reason fails to report its version number.

I would first use phpinfo() to check that the version of PHP used to serve your pages is the one you think it is.

[2016-07-04 21:40] Ctucker9233 commented on #5452
You said with a private browser it says "not valid" and without private browser the coupon is "valid". Is that correct? It could be something to do with your browser cookies as well.

[2016-07-04 21:44] Ctucker9233 commented on #5423
I've created my own menu as a sort of work around. Just buttons with straight links. I would still like to see this fixed as soon as possible. If it is a glitch with the upgrade procedure, the official documentation needs to change. That's what I used to arrive at this point. I can't continue to use Magento if I need to do a wipe, install new version and reimport data every time there is an upgrad

[2016-07-04 21:49] ghost commented on #5223
@jldmn Do you have >1 version of PHP installed? What does `php -v` report?

[2016-07-04 21:54] ghost commented on #5419
@commcad Because `pub` and `setup` are at the same level, you won't be able to run the Web Setup Wizard if `pub` is your root. It's designed that way so that if you use `pub` as your docroot in production, no one can access the Web Setup Wizard.

Here's what we advise: "create another subdomain or docroot that uses the Magento installation directory as its root."

If you've done that already, hope

[2016-07-04 22:43] francisrod01 opened #5453 "Magento has many errors in the framework of the tests"
## Output dev:tests:run

I run dev:tests:run and final log is:

FAILURES!
Tests: 367, Assertions: 23858, Failures: 3, Errors: 2, Incomplete: 1, Skipped: 238.

Some lines of debug:

`...........PHP Notice:  Object of class Magento\Framework\Phrase could not be converted to int in /home/vagrant/projects/web/magento/mymagento/vendor/phpunit/phpunit/src/Framework/Constraint/StringContains.php on line

[2016-07-04 23:14] orlangur commented on #5378
Check `/var/log` and `/var/report` for errors.

[2016-07-04 23:41] Ctucker9233 commented on #5378
@hesamy  You should be able to finish the installation with a Command Line Interface (CLI). Like Putty, for example. I don't know if you found a solution yet, but if you need the steps to do this, just ask.

[2016-07-05 02:05] seanvandermolen commented on #5150
Upgraded Magento 2.0.5 to 2.1 using the Web Setup Wizard.  Having this same problem with the products, catalog, customer ... basically all the views.  Just getting a spinning wheel.

...Updated, read through 4635 and clearing the cache fixed the problem.

[2016-07-05 02:33] davidbilly commented on #5426
@andimov
Hi Thanks for reply.  I dint install varnish cache on my server.
I able to solve problem 3) and 4)
Solution :
Step 1 : Enable dev mode on cloudflare & clear cloudflare cache.
Step 2 : clear Browser cache.

The problem 1) and 2) still occur.

After above problem solved, i encounter another few problem.
On product detail page :
- Product images that i uploaded are missing on edit product de

[2016-07-05 02:41] acidreian666 commented on #5423
Alright guys i have like 10 Magento 2 servers running on google cloud.
I figured out where the menu bar went well actually idk what code is stoping it from loading but...
ssh'd to my website root Dir
sudo cd /var/www/html/
run
sudo find . -type d -exec chmod 777 {} \;
&
sudo find . -type f -exec chmod 777 {} \;

Now menu is back and all permissions are messed up but its back and functional..

so w

[2016-07-05 03:00] brobie commented on #5350
Same - Upgraded Magento 2.0 to 2.1.

[2016-07-05 04:07] webspeaks commented on #5208
@andimov
Upgrade only works through cli. It never goes through web wizard. I have been observing this since 2.0.1.

Thanks

[2016-07-05 05:15] pboisvert commented on #5336
closing issue as the question has been answered

[2016-07-05 05:15] #5336 closed, assigned to nobody

[2016-07-05 05:15] kishanpatadia commented on #5323
May be following can help. But not sure.
http://magento.stackexchange.com/questions/123022/attention-something-went-wrong-on-backend-product-page

Let me know if it works.
Thanks

[2016-07-05 05:30] commcad commented on #5419
@xcomSteveJohnson
@pboisvert

Silly, didn't realized how well designed this Magento was - rather new to Magento, apologies.

Confirmed, it works beautifully when a sub domain is created using nginx >
1. set $MAGE_MODE developer;
2. root $MAGE_ROOT/;
3. refresh page cache, redis flushall, logout/login

The Web Setup Wizard is now accessible and shows up as it used too in the admin backend under sys

[2016-07-05 05:31] kitsor commented on #5131
Test works as expected.

![image](https://cloud.githubusercontent.com/assets/1086722/16574677/8dec4080-424f-11e6-96a0-bcc12f8e7b96.png)

[2016-07-05 05:58] didineedthis commented on #5294
Same error here unable to upload an image to my product or change the configuration. even tried by ticking the box and selectin update attributes NEW THEME that doesn't
 work either.
Required parameter 'theme_dir' was not passed
![screenshot 24](https://cloud.githubusercontent.com/assets/10882960/16575127/7c6558be-427d-11e6-8cfc-b0e4660bd038.png)

I tried deleting the product and adding a new and

[2016-07-05 06:05] didineedthis opened #5454 "Crons dont seem to be running"
## Steps to reproduce
1. Install Magento from `develop` branch.
   2.My hosts set up crons as per documentation.
## Expected result
1. crons to run.
## Actual result

1.No crons are updating.

File paths are set correct also checked by my hosts

php -c /usr/local/lib/php.ini /home/xxxxxxxx/public_html/bin/magento cron:run | grep -v "Ran jobs by schedule" >> /home/xxxxxxxx/public_html/var/log/magen

[2016-07-05 06:11] commcad commented on #5454
Give it your php cli path and see if it helps. For instance, mine are setup like;

*/1 \* \* \* \* php -c /etc/php/7.0/cli/php.ini /var/www/mydomain.com/bin/magento cron:run >/dev/null
*/1 \* \* \* \* php -c /etc/php/7.0/cli/php.ini /var/www/mydomain.com/update/cron.php >/dev/null
*/1 \* \* \* \* php -c /etc/php/7.0/cli/php.ini /var/www/mydomain.com/bin/magento setup:cron:run >/dev/null

[2016-07-05 06:19] mayankspatel commented on #762
I have this same issue. i have cleared cache and `var/generation` directory. but it not works

[2016-07-05 06:43] didineedthis commented on #5454
I Ran this command and it shows my php path

# php -i |grep php.ini

Configuration File (php.ini) Path => /usr/local/lib
Loaded Configuration File => /usr/local/lib/php.ini

does not mention cli?

[2016-07-05 06:51] Tjmstudios commented on #5436
@antboiko my file is in the correct format see https://www.dropbox.com/s/kpg6eumy7hse7do/productsm2.csv?dl=0
And I still see this issue.

[2016-07-05 06:53] kodmaskinen commented on #5323
We had disabled the output of the review module (Configuration -> Advanced -> Advanced), when we enabled it again, the problem went away.

[2016-07-05 06:55] kishanpatadia commented on #5323
Thanks a lot. I will try it.

[2016-07-05 07:06] danslo commented on #5450
The reason for this is the following part of SalesRule observer:

[code]

In my view, an applied coupon code is used, regardless of whether or not a discount was placed on the main order, since it can apply to other things (like free shipping). Is there a specific reason for checking discount amount?

[2016-07-05 07:07] phuc128t commented on #5438
For "Custom Source Model", we do not need to extend DataProvider. Just do as sample xml below:

![2016-07-05_14-10-27](https://cloud.githubusercontent.com/assets/1607243/16576584/4f445e9c-42ba-11e6-8ab8-503425fa00c9.jpg)

I'm having same issue with adding image attribute to category. Seems we have to create a custom controller. Not sure why you guys made things more complex. How was easy in magent

[2016-07-05 07:11] Nerogee commented on #5409
@joni-jones On the fresh install, it still doesn't work.

[2016-07-05 07:13] wert2all commented on #5454
@didineedthis Thanks for report.
Please provide output of command here
`echo "<?php echo PHP_SAPI .\"\n\";" | php -c /usr/local/lib/php.ini`

[2016-07-05 07:15] antboiko commented on #5436
@Tjmstudios the file is not reachable for me. Was that screenshot with sku/qty list taken from that file you shared?

Thanks,
Anton.

[2016-07-05 07:16] didineedthis commented on #5454
# echo "<?php echo PHP_SAPI .\"\n\";" | php -c /usr/local/lib/php.ini

cli

[2016-07-05 07:17] sonimanthan228 opened #5455 "Magento 2.1 Theme option not available in Store > Configuration > Design"
I installed Magento 2.1 successfully.But When I go Store > Configuration > Design,theme option not avaiable.I tried pub deploy and flush cache and reindex command but theme option not available in Magento 2.1.

Regards,
Manthan Soni

[2016-07-05 07:21] veloraven commented on #5196
@toweringmedia , thank you for your report.
Unfortunately I was not able to reproduce this issue.
Could you please provide us details about your environment: versions of PHP, MySQL and web server?
Please also describe all steps you have done in more detailed way.
And if you can attach screenshot or some logs it may help as well.

[2016-07-05 07:28] captainkallaje commented on #4804
I do not know whether it is a specific hhvm issue, but I got around it by using a env.php, which has the values that I enter in the web, except for the install date...

After installations I have had no problems running magento on hhvm.

I am running latest hhvm version HipHop VM 3.14.2 (rel)

[2016-07-05 07:30] wert2all commented on #5454
@didineedthis Can You update Magento because I cannot find class Magento/Update/CronReadinessCheck.php in current develop.

[2016-07-05 07:32] didineedthis commented on #5454
what version should i update to? i am running 2.1 from github

[2016-07-05 07:34] ghost opened #5456 "[2.1] New theme does not appear in Content > Design > Themes"
## Steps to reproduce
1. Create new theme with corresponding composer.json, registration.php and theme.xml
## Expected result
1. New theme appears in list in Content > Design > Themes
## Actual result
1. Theme does not appear
##

I tried adding the same theme/code to an instance of Magento 2.0.7 and it appeared without problems.

Checked both Magento and PHP logs, but they don't show any errors re

[2016-07-05 07:40] quienti commented on #5455
https://github.com/magento/magento2/issues/5310

[2016-07-05 07:40] quienti commented on #5456
https://github.com/magento/magento2/issues/5310

[2016-07-05 07:43] ghost commented on #5456
Not a duplicate, this is a separate issue.

[2016-07-05 07:47] didineedthis commented on #5454
can i just upload the update folder?  from
Magento-CE-2.1.0.zip

[2016-07-05 07:50] ComputerNorth commented on #5426
I have the same error as you point out in problem 2, after upgrading from 2.0.6 CE to 2.1.0 CE:

Back-end : Sales --> Invoices shows Notice: Undefined index: base_grand_total in /vendor/magento/module-sales/Ui/Component/Listing/Column/Price.php on line 55

[2016-07-05 07:53] Nerogee commented on #4785
I used fresh installed magento2.1 and still having **unable to place order** issue.  column **base_grand_total** is there in sales_invoice_grid table.

[2016-07-05 07:56] sonimanthan228 opened #5457 "Magento 2.1 admin session expired for logged in user when another user login in admin"
I installed magento 2.1 successfully.one arise issue in magento 2.1.suppose one user logged in admin it means that if another user try to login by another browser in admin and when second user logged in then first user who is logged in it will automatically logout and throw message "Someone logged into this account from another device or browser. Your current session is terminated."

[2016-07-05 07:59] wert2all commented on #5454
You need to install Magento to a clean folder from Magento-CE-2.1.0.zip for the purity of the experiment.

[2016-07-05 08:01] didineedthis commented on #5454
Then i will loose my website and all products?

[2016-07-05 08:04] srinivasanithin commented on #5338
Error messages needs to enhanced otherwise much time is getting wasting in these troubleshoot this cause for failure.

[2016-07-05 08:07] quienti commented on #5456
I have created my own custom theme on Magento 2.1.0 and It works well

![sans titre 1](https://cloud.githubusercontent.com/assets/7326954/16577941/39f1554e-4298-11e6-9def-5e4b35e33e2e.jpg)

I think you have a error somewhere...

[2016-07-05 08:13] spipu opened #5458 "[CE 2.1.0] Security Issue in some blocks that use an on_click action."
example here :

https://github.com/magento/magento2/blob/2.1/app/code/Magento/Cms/Block/Adminhtml/Block/Edit/DeleteButton.php#L26

The message given to the deleteConfirm function is not protected with a method like escapeHtml

lots of blocks have this issue, this is not the only one.

Laurent

[2016-07-05 08:14] Tjmstudios commented on #5436
@antboiko It was just a proof that the file I was using has the correct structure.

[2016-07-05 08:15] wert2all commented on #5454
1. Create a backup of magento database
2. Create new database, m2second example.
3. Import dump from first step to new database ( m2second )
4. unpack Magento-CE-2.1.0.zip to another folder, /home/XXXXXX/public_html/m2test example
5. Install Magento from /home/XXXXXX/public_html/m2test folder and use m2second database during installation  for this instance
6. reproduce this issue in /home/XXXXXX/p

[2016-07-05 08:26] bh-ref opened #5459 "Multiselect EAV Product Attribute not working in Mass Action"
## Steps to reproduce
1. Install Magento 2.1
2. Create a product attribute with frontend input "multiselect" (and assign it to the necessary attribute sets).
## Expected result
1. You can set values via mass action.
## Actual result
1. If you want to use it via mass action from the grid, it does not set the selected values on the product(s).

[2016-07-05 08:27] bh-ref commented on #4312
@KrystynaKabannyk @afavata I created a new ticket https://github.com/magento/magento2/issues/5459, so you can keep this ticket closed.

[2016-07-05 08:28] ghost commented on #5456
Installing a fresh copy of 2.1 fixed the issue, I had upgraded from 2.0.7.

[2016-07-05 08:31] didineedthis commented on #5454
Ok thanks for the info, appreciated.
 I will update shortly

[2016-07-05 08:35] oshmyheliuk commented on #5244
Please, try return to magento version 2.0.6 (or 2.0.7 - last installed version)

`composer require magento/product-community-edition 2.0.6 --no-update`

And then remove data migration tool

`composer remove magento/data-migration-tool`

After that you can upgrade to 2.1.0

[code]

[2016-07-05 08:46] davidbilly commented on #5421
@amanuni you may try my solution? refer #5426

[2016-07-05 08:50] lucscu commented on #5236
Why do you continue to release bugged software? I'm working to magento2 from january and every day and every update new issues.
Do you like this?

[2016-07-05 09:05] tkacheva commented on #4170
Issue MAGETWO-53766 is merged into mainline. PR #127

[2016-07-05 09:05] #4170 closed, assigned to tkacheva

[2016-07-05 09:11] developer-lindner commented on #5236
@LucScu Same here. Code Quality suffers hardly...

[2016-07-05 09:12] nobodypb commented on #3805
@srbarba is right, but make sure to also change the constructor of
`Magento\Email\Model\BackendTemplate`
since `Magento\Email\Model\Template::__construct` is called there

[2016-07-05 09:16] tkacheva commented on #5364
@stevekem you are right. Product page should contain _Buy 2 for $__._ each and save _%_
Bug is reported MAGETWO-55055
@antboiko could you confirm?

[2016-07-05 09:19] kalpeshchavada opened #5460 "Cart Price Rule saving not work."
## Steps to reproduce
1. Go to Marketing->Cart Price Rules->Add New Cart Price Rule
2. Fill All the form details and Click on Save or Save and Edit.
3. It will show this error in console of browser: form.js:144 Uncaught TypeError: $.validator.validateSingleElement is not a function
## Expected result
1. It should save that new rule
## Actual result
1. It showing this error in consol: form.js:144 U

[2016-07-05 09:23] ruud3007 commented on #5236
@LucScu I totally agree. Even I want to add the following. Coding in Magento 2 became much harder than with the old version. Specially the frontend is a big disaster. I am scared what the future will bring.

[2016-07-05 09:24] kalpeshchavada opened #5461 "Product Edit showing error"
## Steps to reproduce
1. Go to Products->Catalog
2. Edit any Product
## Expected result
1. Product form should be open.
## Actual result
1. It showing error as shown in snapshot.

![unnamed image](https://cloud.githubusercontent.com/assets/5496615/16580075/66bbea30-42c0-11e6-8e48-a7ec1b444516.png)

[2016-07-05 09:25] alena-marchenko commented on #5027
Closing this issue due to no response, please reopen when you have an update.

[2016-07-05 09:25] #5027 closed, assigned to alena-marchenko

[2016-07-05 09:29] tkacheva commented on #5423
@eug123 Could you look into it?

[2016-07-05 09:36] tkacheva commented on #5455
it's been moved to Content => Configuration

[2016-07-05 09:36] #5455 closed, assigned to nobody

[2016-07-05 09:38] developer-lindner commented on #5236
@uinique-ruud frontend is fine, the backend is the big problem obviously...

[2016-07-05 09:38] ln8711 opened #5462 "Can't checkout with Braintree on Magento 2.1"
## Steps to reproduce
1. Install Magento 2.1
2. Configure and enable Braintree payment method
3. Create a new order in frontend (using Visa card)
## Expected result
1. The order should be created
## Actual result
1. Error message: Unable to place order. Please try again later

[2016-07-05 09:39] antboiko commented on #5436
@Tjmstudios the structure should be like this:
![sku-qty](https://cloud.githubusercontent.com/assets/15442705/16580500/7bf3307e-42ad-11e6-8a63-55c7bbb193ac.png)

[2016-07-05 09:39] tkacheva commented on #5461
@kalpeshchavada please report the issue following the guideline https://github.com/magento/magento2/wiki/Issue-reporting-guidelines.

What is magento configuration you are using? is this happened after upgrade...? We need more details to replicate the issue you are facing

[2016-07-05 09:44] tkacheva commented on #5460
@guz-anton please check is this issue with js validation? I didn't manage to reproduce it

[2016-07-05 09:46] maderlock opened #5463 "The ability to store passwords using different hashing algorithms is limited"
## Precondtions
Magento `develop` branch

## Steps to reproduce
1. Create passwords for users hashed using different hashing algorithms (e.g. md5 and sha256)
2. Attempt to login against these
## Expected result
1. Both would log in
## Actual result

1.Those created with sha256 work
2. Those created with anything else (e.g. md5) fail incorrectly

The reason for this is that although the version of

[2016-07-05 09:49] kalpeshchavada commented on #5460
@tkacheva I am sorry for this.

I was using Magento 2.0.7 and after that i upgraded version to 2.1.0

I can send you senp shot if you want.

THakn you

[2016-07-05 09:49] tkacheva commented on #5438
@guz-anton please check if it has something to do with ui components

[2016-07-05 09:50] kalpeshchavada commented on #5461
@tkacheva Hello,

I am facing this issue after upgrade from 2.0.7 to 2.1.0

Thank you

[2016-07-05 09:51] kandrejevs opened #5464 "i18n lacks option to collect only frontend phrases"
# We have developed store with 3 languages- sk_SK, hu_HU, cs_CZ. Problem is that `i18n:collect-phrases` from root collects over 8000 strings including ones from adminhtml. We want only to translate frontend strings and leave backend in en_US locale. This can be achieved by creating csv file for every single module running command only on `view/frontend` directory. But that is time consuming.

Prop

[2016-07-05 09:56] Tjmstudios commented on #5436
@antboiko This issues has nothing to do with the CSV structure.
If you add the product using the form provided by Magento in /customer_order/sku/ then you will still replicate my original issue
**Upload via form**
![upload by sku](https://cloud.githubusercontent.com/assets/11372070/16580925/353a6566-42ea-11e6-9dce-98f865bd770a.PNG)
**= Same issue**
![image](https://cloud.githubusercontent.com/asse

[2016-07-05 09:57] mscd commented on #3572
@slavvka @sengaigibon @pantaoran @devhn @sevos1984 @moe-kayali @100php @sevos1984 @OgreMHDW @carmelomtb @sunilit42 @davidnguyen2205 @Pigau , are you all using NginX?

[2016-07-05 09:59] ruud3007 commented on #5236
@developer-lindner than you are the first one I hear that the overload of XML in the frontend is fine...

[2016-07-05 10:00] devhn commented on #3572
Yes, nginx 1.8.0

[2016-07-05 10:02] 100php commented on #3572
Yes

[2016-07-05 10:07] mhabou commented on #5457
Yes this is for Security Proposed if one user login than other User Login with same id than your current session is terminated.

[Reference](http://magento.stackexchange.com/questions/124264/magento-2-1-admin-logged-in-issue-in-session)

[2016-07-05 10:09] antboiko commented on #5281
Hi @MidnightDesign , please check this https://github.com/magento/magento2/blob/develop/dev/tests/integration/testsuite/Magento/ConfigurableProduct/_files/product_configurable.php and let me know if it helps.

Thanks,
Anton.

[2016-07-05 10:14] dkvashninbay commented on #5413
Created internal ticket MAGETWO-55057
Probable solution - call to MethodInterface::setId(...) will be eliminated with a high probability as it's obsolete, due to MethodInterface objects are instantiated with payment code and there is no need to set it from client code.

[2016-07-05 10:15] developer-lindner commented on #5236
@uinique-ruud well, you did not mention what exactly is wrong with the frontend. could you give some more detail?

[2016-07-05 10:15] Pigau commented on #3572
Nop, I'm using Apache/2.4.10 on a debian in a LXC.

[2016-07-05 10:19] hitumca opened #5466 "Backend system configuration Design tab"
Steps to reproduce
--Magento 2.1.0
1. Login Backed admin part.
2. Click on Stores ->Configuration->General->Design tab
3. ...
![design tab issue](https://cloud.githubusercontent.com/assets/5170946/16581580/dc4f4ff6-42c7-11e6-9227-7ad942ce76dd.png)
## Expected result
1. Its should be Theme selection option there.

[2016-07-05 10:22] ruud3007 commented on #5236
@developer-lindner as I said above, the overload of XML is really hard to work with. I am working as a frontend dev since 1994, but what I see here is the worst I ever worked with.
Since mage 2 I need 3 x more time than with mage 2. Even simple tasks are hard to do.

A frontend developer wants more control in direct html/php files.

Als the AJAX cart resolves in a lot of JS errors.

[2016-07-05 10:24] ruud3007 commented on #5236
@developer-lindner and also, the power of Magento 1 was that rookies could also install a Mage shop. This is why the mage community has grown so huge. With this big community you attracted a lot of developers, which concludes in more modules for a reasonable price.

With Mage2 it is impossible for a beginner to install his own webshop.

[2016-07-05 10:27] duongquyet opened #5467 "Can't find category id in category page."
I don't see category id in category page.

Do you have any idea?

[2016-07-05 10:27] darragh1001 commented on #5462
If you enable cash on delivery do you also get this error? I am on Magento 2.1 but I get this error on all payment options

[2016-07-05 10:47] samc2810 opened #5468 "base_url - something like app/etc/local.xml in M2?"
I asked this question in the community already but no one seems to know the solution. so I ll try my luck here:
Magento 1 had a very cool feature that one could configure store-config in the app/etc/local.xml instaed of the DB. e.g.

[code]

is there any way to achieve this in M2? The reason is that we want to use the same DB for our dev and local systems. but, it seems that one can save the base_

[2016-07-05 10:52] maderlock commented on #4785
Do we have visibility on these MAGETWO-54787 tickets? They keep being mentioned, so I assume they can be viewed somewhere?

[2016-07-05 10:55] developer-lindner commented on #5236
@uinique-ruud mage community has grown so huge because of the professional, open-source base, the features it has, it's extensibility and the money one can earn with it.

In my opinion Magento 1 or 2 was never meant to be used by bloody rookies.
It's a professional e-commerce system for professional companies / users / developers.
If it's too hard for you, you may have to improve your skills first

[2016-07-05 10:55] antboiko commented on #5436
@Tjmstudios thanks for the clarification, I could reproduce this issue with Sample Data products, however, it works correctly with products which I created myself. Internal ticket MAGETWO-55059 was created to investigate this issue.

Thanks,
Anton.

[2016-07-05 10:58] paales opened #5469 "Feature request: Implement cssnext.io and other frontend requests."
I know efforts are already set in motion to make the Magento 2 frontend sass compatible, but wanted to mention this. Hope it doesn't turn out to be just `less2sass _variables.less _variables.scss`.

After the browser implementation of CSS3 in browsers the css-preprocessors started to arise Less, Sass, Stylus and what have you. The preprocessors serve a great purpose to extend the css language to s

[2016-07-05 11:03] Tjitse-E commented on #5236
I have the same problem as Protazy21 (no products on the frontend + unable to edit products  in the backend), although his fix doesn't work for me. I've used the data migration tool on Magento 2.0.4 and upgraded to 2.0.7 and 2.1 afterwards.

New error, after applying the fix from @Protazy21:
Notice: Undefined offset: 118 in /vendor/magento/module-eav/Model/ResourceModel/ReadHandler.php on line 166

[2016-07-05 11:09] quienti commented on #5466
https://github.com/magento/magento2/issues/5455

[2016-07-05 11:35] Protazy21 commented on #5236
@Tjitse-E

I’ve solved all my problems and all is working for me OK.

Undefined offset: 118 means that you have attributes that either need to be deleted or if you don’t want to delete anything then add them to correct tables - can't tell you which one atm.

Problematic attributes for me as far as I remember were msrp_default, for second one don’t remember the label but value was index,follow, thi

[2016-07-05 11:40] ghost commented on #5239
I had the same issue and got it downloading by installing the LIIP package.

Unfortunately the problem persists when running `php bin/magento sampledata:deploy`. Does anyone know if there are differences between running `composer` and `php bin/magento`?

[2016-07-05 11:43] ruud3007 commented on #5236
@developer-lindner I don't think this is the place to discuss my qualities and knowledge, but saying that a developer with 8 year Magento experience and 20 year frontend development is not good enough is not up to you. The only thing I notice is that simple changes take way more time than before...

I agree with you that they have a meaning with this, but it doesn't make me agree with them. But fu

[2016-07-05 12:03] developer-lindner commented on #5236
@uinique-ruud True, what i've wanted to say is that we, as developer, have to develop as the system develops and rookies have to do the same. I also don't agree with everything which is introduced by now, like Less + server-side compilation of it for example...

[2016-07-05 12:05] ComputerNorth opened #5471 "Reviews by Customers - customer_entity - exceptions"
## Steps to reproduce
1. Install 2.0.6 CE
2. Upgrade to 2.1.0 CE by composer update
## Expected result
1. In magento 2.0.6 when you go in the backend to Reports --> Reviews by Customers, you see a table with all the reviews per customer, I expected the same result in 2.1.0.
## Actual result
1. 2 exception(s):
   Exception #0 (Zend_Db_Statement_Exception): SQLSTATE[42S02]: Base table or view not fo

[2016-07-05 12:08] Tjitse-E commented on #5236
@Protazy21, thanks for you help! This solved my issue.

Steps that i've taken:
1. Appy pull request #5411
2. Try to edit a product and correct the database if necessary
`DELETE FROM catalog_product_entity_varchar WHERE attribute_id = xxxx ;`
3. Apply the fix for showing products in category (Magento\CatalogInventory\Model\Configuration)
4. Reindex and clean cache.

[2016-07-05 12:09] ruud3007 commented on #5236
@developer-lindner with less I can live, with the service side compilation I can live as well (although I don't really like it, there are solutions for the developers), but for me the biggest issue is de XML templating... I know it is best practice regarding the designer guides, but that is not always reallity.

If they wanted to create a better frontend, I would have chosen something different. I

[2016-07-05 12:10] joates-ldg commented on #5294
I'm seeing this error regardless of weather I have an image or not. I also get "Update with id "0" does not exist." whenever I try and save a product.

[2016-07-05 12:12] developer-lindner commented on #5236
@uinique-ruud well, but than you need a solution for SEO. And AngularJS is even harder for some people if you go for version 2 of it.

[2016-07-05 12:19] YevSent commented on #5462
@hoanglan87, could you attach debug log? Also, do you have any errors in browser console? Is fresh Magento installation or upgrade from some previous release?

[2016-07-05 12:22] innoppl-developers opened #5472 "Add Js/Css in default.xml in custom module"

[2016-07-05 12:23] #5472 closed, assigned to nobody

[2016-07-05 12:23] ghost commented on #5239
Do you mean `composer update` and `php bin/magento setup:upgrade`? Those are completely different. `setup:upgrade` updates the database schema and data.

[2016-07-05 12:25] SasiKiranK opened #5473 "Add Js/Css in default.xml in custom module"
Steps to reproduce
If i add  css/js file in default.xml in my custom module
< head >
        < css src="xx::css/xx.css" / >
        < script src="xx::js/xx.js" /  >
    < /head >
Expected result
new js file should render after the require js.
Actual result
but it is rendering before require js or at the top the head files

Thanks

[2016-07-05 12:27] ghost commented on #5419
Glad it worked!

[2016-07-05 12:27] commcad commented on #4785
@maderlock MAGETWO-54787 **internal** ticket.

Let's hope for this to be included in the upcoming release. In a meantime the ALTER table fix works like a charm. I haven't had any complications amending the column name (both dev & prod).

[2016-07-05 12:31] ghost commented on #5239
No, I mean `php bin/magento sampledata:deploy`.

More specifically I was wondering if there are differences in how the `php bin/magento` command handles the current bash environment in comparison to `composer`.

I've added `/usr/local/php5/bin` to `PATH` in my `~/.bash_profile` and running `which php` produces `/usr/local/php5/bin/php`, so at least running `php` should use the LIIP package.

[2016-07-05 12:43] andidhouse opened #5474 "Category image can be uploaded with the same name without error"
## Steps to reproduce
1. Magento 2.1 via download
2. Upload a category image in one category
3. Upload the same image in another category
## Expected result
1. There is an error shown saying that the same image is already uploaded
## Actual result
1. There is no error shown and the new picture with the same nam uploaded after the first picture is not taken into account.

[2016-07-05 12:51] didineedthis commented on #5454
i have followed the steps outlined but the installation is

 failing at 49%
Installation is incomplete.
Check the console log for errors before trying again.

`<span class="text-info">Starting Magento installation:</span><br><span class="text-info">File permissions check...</span><br><span class="hidden">[Progress: 1 / 421]</span><br><span class="text-info">Required extensions check...</span><br><

[2016-07-05 12:56] chicgeek commented on #3148
@palamar This bug is still present in the latest release. Do you still need an update on this?

https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/view/frontend/web/js/model/shipping-rates-validator.js#L37

[2016-07-05 13:04] slackerzz commented on #2816
same problem after upgrading from 2.0.7 to 2.1 (EE), following @YugiHoang suggestion fixed it

maybe a real FIX is needed

[2016-07-05 13:05] commcad commented on #5473
In your default.xml, add this before/above your js/css:

**< script src="require js" / >**
< css src="xx::css/xx.css" / >
< script src="xx::js/xx.js" / >

That should force it. Works here anyway.

[2016-07-05 13:07] ceer commented on #1840
@Taral-Patoliya, I think you can download Magento 2.1.0 and find it here: /vendor/magento/module-import-export/Files/Sample/customer_composite.csv

[2016-07-05 13:10] jzahedieh commented on #4750
I see a few commits in relation to the fix were included in 2.1, could you please confirm that the issue is fixed because I can still add infinite products to both my minibag and checkout side bar, if so I will update with more formal bug report.

Thanks.

[2016-07-05 13:17] emmajohns commented on #4883
Try to check email adress at [https://2ip.io/mail-checker/](https://2ip.io/mail-checker/). It takes only few seconds to test the email. Very convenient and absolutely free to use. The verification tool actually connects to the mail server and checks whether the mailbox exists or not.

[2016-07-05 13:32] pboisvert commented on #4883
@pareshe were you able to resolve this issue by translating this string in your language pack? If so please close the issue or provide more details

[2016-07-05 13:35] pboisvert commented on #5466
Functionality for Design tab has been moved to Content > Configuration. Closing as a non-issue

[2016-07-05 13:35] #5466 closed, assigned to nobody

[2016-07-05 13:37] yssource opened #5475 "Warning: Illegal offset type in /www/magento2/xxx/app/code/Magento/Catalog/Model/CategoryRepository.php on line 133"
It seems that the issue is related to multi stores and multi views.

If you have the default store view ONLY, then the error won't be found and you will be redirected to the product page view, and it works fine.

But, if you add a new store view whether it's enabled or disabled, the issue will appear and the error will be found.

[code]

This related to another similar issue #4018

[2016-07-05 13:50] pareshe commented on #4883
Please check this screen-shot:
http://awesomescreenshot.com/0f1600sw6a

[2016-07-05 14:03] yssource commented on #5475
I try to bypass this problem, by commenting out the two lines in file /www/magento2/xxx/app/code/Magento/Catalog/Model/CategoryRepository.php

[code]

But another problem happens
Warning: addcslashes() expects parameter 1 to be string, object given in /www/magento2/xxx/vendor/magento/zendframework1/library/Zend/Db/Adapter/Pdo/Abstract.php on line 296
`$value = addcslashes($value, "\000\032");`
her

[2016-07-05 14:03] narcisipopescu opened #5476 "Update to 2.1.0 - no access to products and categories"
Hi,

After upgrading to 2.1.0 when I need to either see catalog products, or access categories, or add a product to cart I get the following error:

Uncaught Error: You cannot apply bindings multiple times to the same element.

[2016-07-05 14:15] andidhouse commented on #4795
@mazhalai do you have a solution for us? we can´t go live with this...

[2016-07-05 14:15] veloraven commented on #5260
@sheldonli999 , thank you for report.

Unfortunately I was not able to reproduce the main issue you described.
Could you please provide us with more information? Like versions of PHP, MySQL and web server. Also it can be helpful if you describe settings of your Magento instance: was it fresh install or upgrade from previous version? Do you have many store views? Maybe some other settings.

Additio

[2016-07-05 14:16] afavata commented on #5294
I resolved the issue. In my case the problem was not Magento but a wrong operation I did time ago as follow:
I created a theme creating the relative path in app/design/frontend/**MyFolder/MyTheme** and registered it as explained in Magento 2 online documentation.
Then I decided to cancel the theme and instead to use the appropriate command:
bin/magento theme:uninstall frontend/MyFolder/MyTheme
I d

[2016-07-05 14:27] sma09sjb commented on #5445
Is there any update on this, i'm aware this was an issue in the previous version but this hasn't been resolved for me through upgrading to 2.1?

[2016-07-05 14:27] heyitsroberthe commented on #5431
The limiting factor is the max_input_vars. Each product variation takes at least 20 input vars. There is some overhead so I recommend 25 times the number of variations to be safe.

[2016-07-05 14:34] anton-huz commented on #3357
Also issue is not reproducible in 2.1 release. I close the issue.

@erikmulder , if you have additional comments fill free to post them here.

[2016-07-05 14:34] #3357 closed, assigned to guz-anton

[2016-07-05 14:34] anton-huz commented on #3357
@kokoc

[2016-07-05 14:42] kanduvisla commented on #4290
Is this issue already fixed in 2.0.7?

[2016-07-05 14:47] yssource commented on #5475
[code]

[2016-07-05 14:49] springimport commented on #5134
[code]

[2016-07-05 14:49] gamort commented on #4865
Thanks, I'll retest for the latest release and update

[2016-07-05 14:53] didineedthis commented on #5294
You my friend are a star i deleted a theme and forgot about it. all good now i just added and deleted a product :)

[2016-07-05 14:58] kanduvisla opened #5477 "2.0.7 : Can't translate FPT text on checkout/cart page"
**Preconditions:**

Magento 2.4-develop
Php v 7.3

**Steps to reproduce**

1. Enable FPT in admin; (Go to Admin->Stores->Configuration->Sales->Tax->Fixed Product Taxes);
2. Change translate to FPT `FPT,FPT(translate)` for example (app/code/Magento/Weee/i18n/en_US.csv);
3. Create simple product with FPT attribute and set value for it;
![Screenshot from 2020-04-30 12-05-32](https://user-images.githu

[2016-07-05 15:16] klein0r commented on #5239
I've started to use the php version of AMPPS instead of MAMP which includes TLS 1.1 and TLS 1.2 - this solved the named issue until MAMP 4 will be released... (just for composer update locally)

[2016-07-05 15:22] JDavidVR commented on #5457
as @Dayssam said, this is a new feature, I tested it too, looks like a new amazing feature. This is not be considered as an issue, because you have the option to disable or enable it.

[2016-07-05 15:22] jmg commented on #2540
Struggled with this for a while until applied the solution @EridianBrian proposed. Deleting entries from oauth_token worked for me. Thanks @EridianBrian!

[2016-07-05 15:25] pboisvert commented on #5457
closing as non-issue.

[2016-07-05 15:25] #5457 closed, assigned to nobody

[2016-07-05 15:33] klein0r commented on #5239
Finally found a solution:
- I've updates OpenSSL on my Mac by using brew (version 1.0.2h): brew install openssl
- Linked the new version to use it as systems default: brew link --force openssl
- Then I've downloaded AMPPS (http://www.ampps.com/)
- Switched to PHP Version 5.6 inside of AMPPS
- Added the following entry in my php.ini: openssl.cafile=/usr/local/etc/openssl/cert.pem
- Now I'm using th

[2016-07-05 15:37] maderlock commented on #1002
Given that the default website = 0 for stock id =1 in table cataloginventory_stock, this suggests that all website IDs should be 0.

@hoanglan87 believes that all website_ids should be 1, and the code in module-catalog-inventory/Model/ResourceModel/Indexer/Stock/DefaultStock.php equates website_id to stock_id so that seems to make it always 1.

If I set all website_ids to 0 in cataloginventory_sto

[2016-07-05 15:49] james-radweb commented on #4795
Getting the same issue, when will this be fixed?

[2016-07-05 15:51] matthijsleenen opened #5478 "2.1 Cannot upload a .ico as favicon"
## Steps to reproduce
1. Install Magento from `2.1` branch.
2. Go to Content / Configuration
3. Edit Default theme
4. Go to Other Settings / HTML Head
5. Click on 'Upload' button for Favicon
6. Select .ico file
## Expected result
1. .Ico file can be uploaded
2. ...
## Actual result
1. Error message appears: "Attention, We don't recognize or support this file extension type.".

In /vendor/magento/m

[2016-07-05 16:08] alexpotter commented on #4795
[code]

Same issue and cannot migrate without this command

[2016-07-05 16:21] safwkhan commented on #5458
This is a known issue on which we are working on. For internal reference: MAGETWO-46314.

[2016-07-05 16:23] maderlock commented on #4785
Thanks @commcad. Not happy with having to adjust the schema, but without any idea of timescales I've used your fix.

[2016-07-05 17:45] mattquest commented on #5431
It was php settings, I updated the max_input_vars and post_max_size because I was uploading 2 images per color as well

[2016-07-05 17:45] #5431 closed, assigned to nobody

[2016-07-05 18:42] cgaffney099 commented on #5172
I updated the description

[2016-07-05 18:52] darragh1001 opened #5479 "Place Order leads to 'Unable to place Order, Please Try Again'"
## Steps to reproduce
1. Installed Magento 2.1
   Expected result
   --
   Add product to cart then checkout
## Actual result

I get the error: "'Unable to place Order, Please Try Again

No error shown in log, however using browser bugging I get this error:

'https://www.mywebsite.com/rest/dreamstream/V1/guest-carts/c558626bd1545832dd378f9b8f92f445/payment-information Failed to load resource: the

[2016-07-05 18:56] amanuni commented on #5421
I have tried but no luck i have installed on both apache and nginx server and getting same issue. Even after new installation.

[2016-07-05 18:58] amanuni commented on #4449
Hi Guys,

Getting same issue i have purged my browser cache checked in private browser also but getting same above error.

[2016-07-05 18:58] dthampy commented on #5260
@sheldonli999 ,  the only way I was able to reproduce the error was , when I didn't have a SMTP server installed.

[2016-07-05 19:24] taylordipentino commented on #5476
I am having a similar issue. Not getting an error, but in the admin panel nothing in Products/\* or Sales/\* is loading. I'm just getting the perpetual spinning wheel icon after the page loads. This happened immediately after upgrading to 2.1 this morning.

[2016-07-05 19:27] narcisipopescu commented on #5476
Hi, the problem was solved by removing the browser cache.

But, there are other problems after the upgrade, i.e. stock is not
decreasing. If I buy a product in frontend, the stock is not decreasing at
all, having the option to decrease stock set to yes in bakend
configuration...
On Jul 5, 2016 22:24, "Taylor DiPentino" notifications@github.com wrote:

[2016-07-05 20:05] jibrandlr commented on #5244
@oshmyheliuk That solved the issue for me. I also had to run `php bin/magento setup:upgrade`

[2016-07-05 20:40] jibrandlr commented on #4290
I just upgraded to 2.1.0 and this issue has been fixed

[2016-07-05 20:41] Ctucker9233 commented on #5057
I agree with @Dayssam that the way bundles are handled is illogical. The idea behind a bundled product IMHO is that the items are supposed to be sold all together, not parceled out.

[2016-07-05 20:57] crantron commented on #5363
Current version 2.1.0

[2016-07-05 20:57] crantron commented on #5363
@wert2all

[2016-07-05 22:08] RG-1 opened #5480 "Can't edit products after csv import [Magento 2.1.0]"
## Steps to reproduce
1. I am using Magento 2.1.0 (after update form Magento 2.0.7 using Setup Wizard + MDVA-532 patch).
2. Before the update I had products created by import from csv file.
3. After Magento update, I downloaded the same file from "System > Import History" and tried to import it (once without any change and once with changed names).
4. Now I tried to see and edit products - "Produc

[2016-07-05 22:29] cadoworld opened #5481 "content ->design->configuration faulty"
Magento Communauty Edition 2.1

Just trying to create a new design theme but ...
Missing the design, got instead search engine robots

content ->design->configuration

![screenshot 2](https://cloud.githubusercontent.com/assets/20308662/16601964/592cfcfe-4308-11e6-9612-5240397d37a0.png)

[2016-07-05 22:43] stevekem commented on #5364
The "Buy 2 for $_._ each and save %" is working normally actually.  The issue I am having is when cache is enabled, "As low as $_.__" is appearing below the price on product pages (this text previously only appeared on category pages).  Once you flush the cache a few times through SSH, this goes away on product pages BUT ALSO goes away on category pages (which is not normal).

We have installed on

[2016-07-05 22:44] Ctucker9233 commented on #5151
I'm interested in this as well. Are there any updates?

[2016-07-05 22:55] pboisvert commented on #5151
@tkacheva not sure if this is you or Anton.

[2016-07-05 23:21] Ctucker9233 commented on #5456
@rasmuswikman You might want to reopen this. If themes can't transfer, that is a critical oversight that @magento-team should look at in my opinion.

[2016-07-05 23:28] Ctucker9233 commented on #4170
@tkacheva This link doesn't go to a pull request.

[2016-07-05 23:37] Ctucker9233 commented on #5423
@acidreian666 So it's a permissions thing? Can you tell which folder is causing the problem? My site is live so I'd rather not change the permissions for every folder. It might be a security risk. Thanks for taking the time to really investigate this.

[2016-07-05 23:40] Ctucker9233 commented on #5423
@tkacheva or @eug123 Is there any update on a timeline for this being fixed?

[2016-07-05 23:52] acidreian666 commented on #5423
@Ctucker9233 so I have found that my sever with
m2.1
varnish4.1
nginx-latest U
buntu 16.04
mysql-latest
php7.0.8-fpm
Permissions all = 777 files & folders of /var/www/html/
functions perfectly untill I listen to port 443 and attempted to view the site in https://example.com then the menu navigation is gone. So then using nginx-latest to reverse proxy SSL termination it opens the site and leaves th

[2016-07-06 01:51] acidreian666 commented on #5481
The new Magento 2.1 the Design has been relocated to
backend-> Content-> Configuration.

[2016-07-06 04:05] rcbharath opened #5482 "Attribute mapping to specific product types is missing"
## Steps to reproduce
1. Create attribute in magento admin
## Expected result
1. Need to know how to map this attribute to specific product types (as like in magento 1.x)
## Actual result
1. No option available to map

[2016-07-06 04:11] winechit1989 commented on #5223
I got that error!
 [ReflectionException]
  Class Magento\ConfigurableProduct\Model\Product\VariationMediaAttributes do
  es not exist

[2016-07-06 04:49] zindont commented on #5449
I'm facing this issue too and I think it related to migrate database before upgrade

[2016-07-06 04:56] pboisvert commented on #5481
please refer to documentation http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-apply.html

closing since this is not a report of an issue

[2016-07-06 04:56] #5481 closed, assigned to nobody

[2016-07-06 05:48] afavata commented on #5294
@didineedthis Happy you definitely resolved the issue and you can now proceed working again with Magento 2

[2016-07-06 05:51] didineedthis commented on #5294
Thanks again, Appreciated.

[2016-07-06 05:54] salelsol opened #5484 "Transactional Email error"
Can´t send transactional email error during operation:
Error filtering template: Warning: Missing argument 1 for Magento\Framework\View\Element\Template::setTemplate() in /home/39552-42818.cloudwaysapps.com/jwzsyzgrdt/public_html/vendor/magento/framework/View/Element/Template.php on line 187

[2016-07-06 06:38] sasilinux opened #5485 "After creating custom attribute from the admin side, i can't able to choose the empty value while adding the product."
## Steps to reproduce
1. Creates Custom Attribute.
2. Added custom values and selected first option as default.
## Expected result
1. While adding the product, i want to assign the empty value for the created attribute.
## Actual result
1. After saving the product, the custom attribute takes the default value that was selected when we created the custom attribute.

For ex: Attribute -> Color.
Attr

[2016-07-06 06:48] bartek9007 commented on #5395
It was not a bug.

[2016-07-06 06:48] #5395 closed, assigned to nobody

[2016-07-06 06:49] sasilinux opened #5486 "Custom Attribute frontend display not working in Magento 2.1"
## Steps to reproduce
1. After assigning the custom attribute in the admin side.
2. I have get the data and display it in frontend product view page.
3. In magento 2.0.x getAttributeText('color') is working fine. But Magento 2.1 it's not working.
## Expected result
1. I need to display the chosen value. for ex: Color: Blue
## Actual result
1. It shows empty result.

[2016-07-06 07:00] didineedthis commented on #5454
OK Some progress. i got this reply from my hosts if this is any help.

The -c specifies the path to your php.ini which you don't necessarily need if you haven't changed the .ini yourself. As for the cli, all the php versions/types you can call are located at /usr/bin/ and they are :

php         php5        php5-cgi    php5-cli    php-cgi     php-cli

So basically if you wish to call a .php file i

[2016-07-06 07:05] johnhughes1984 commented on #4795
Same problem here, can we get an update please @pboisvert ?

[2016-07-06 07:06] grasdaggel opened #5487 "Magento 2.0.6 - cart is not functional"
We are using Magento 2.0.6 on a staging Environment. Mode is set to Developer mode.

Adding items to the cart in general is functional, but as soon as a customer clicks on "To the cart" in the minicart, the page only loads 2 header elements and then aborts.

Does anyone else is having this problem? Is it maybe a unique problem on my side? If no, whats the next Version that fixes this bug?

[2016-07-06 07:09] tkn98 opened #5488 "Wording: Please re-run Magento compile command - Incorrect command name"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. After all Modules are installed, a message is shown in green letters on the last line. Read that message.

The message says:

It can be greatly improved by removing the inaccuracy as there is no such command named "`compile`". The command name is "`setup:di:compile`".

This should be trivial to fix.

[2016-07-06 07:20] didineedthis commented on #5454
I have just updated the crons on my live site and they seem to be running too. i changed the stock levels and the indexes got updated even without the update folder! Do we really need the update folder or can i remove this cron all together?

/usr/bin/php5-cli -f /home/xxxxxxxxx/public_html/update/cron.php >> /home/xxxxxxxxx/public_html/var/log/update.cron.log

this is the error from update.cron.l

[2016-07-06 07:58] tkn98 commented on #3529
@KrystynaKabannyk: May I ask to share the hash of the commit in which the fix has been applied?

[2016-07-06 08:21] vipin-eglobeits commented on #4242
After I upgraded the site to Magento 2.1, sometimes when we select the shipping method I'm getting the error : **Request does not match any route**
I also found a link with 404 page in the console area.

[2016-07-06 08:31] grasdaggel commented on #5488
Isn't the setup:static-content:deploy command meant with that? For developer envs its not mandatory to run di:compile each time you setup:upgrade.

[2016-07-06 08:38] tzyganu opened #5489 "\Magento\Catalog\Model\Product\ReservedAttributeList should not be a dependency for \Magento\Eav\Model\Entity\Attribute"
The class `\Magento\Eav\Model\Entity\Attribute` has as a dependency an instance of `\Magento\Catalog\Model\Product\ReservedAttributeList`.
This is wrong in my opinion.
Besides the fact that it introduces a circular dependency because EAV module now depends on the Catalog module and the Catalog module already depends on the EAV module.
But this circular dependency is not the main problem here (othe

[2016-07-06 08:54] tzyganu commented on #2266
@vzabaznov The problem stil exists in the develop branch.
Here is a screenshot that includes the version number:
![image](https://cloud.githubusercontent.com/assets/2447784/16612611/78b0fe6e-4370-11e6-922b-e72c7edc231b.png)

**Steps to reproduce:**
- Open the admin panel.
- Go to the cms pages list:  Content->Pages (from the main menu)
- After the grid is rendered add this code in the file `app/co

[2016-07-06 08:58] Deepthi57 commented on #5397
![2016-07-06_1429](https://cloud.githubusercontent.com/assets/17591809/16612729/12e51adc-4386-11e6-889e-7dc6a8c69620.png)
Hi,
I encounter the same problem where the view and edit cart page is empty. I have done fresh installation of the version 2.1.0. Kindly provide me with an update on the same

[2016-07-06 09:00] andidhouse opened #5490 "M2.1 Checkout step "Shipping" - Change country does not effect shipping price"
## Steps to reproduce
1. Magento 2.1 via download
2. Install table rates via csv

Country,Region/State,"Zip/Postal Code","Order Subtotal (and above)","Shipping Price"
DEU,_,_,0.0000,3.7500
DEU,_,_,67.2000,0.0000
AUT,_,_,0.0000,9.7500
ITA,_,_,0.0000,9.7500
CHE,_,_,0.0000,9.7500
## Expected result
1. In the Checkout step "Shipping" when the country is changed the shipping price in section "Shipping

[2016-07-06 09:02] ghost commented on #3507
Error still exists for me. Even after 2.1 update.

[2016-07-06 09:19] tkn98 commented on #5488
@grasdaggel: The command named "`setup:static-content:deploy`" does not contain the word _"compile"_, so by wording alone already I would assume it is not meant by that.

[2016-07-06 09:20] geeta-randev opened #5491 "Magento 2.0 - Credit Memo functionality not working"
Required info listed below... would be great to get some support. :)
## Steps to reproduce
1. Go to Sales > Orders > Select an Order > Select 'Invoice' > View Invoice > Select Credit Memo
2. Update qty to 0
3. Add amount in 'Adjustment Refund'
4. Click on 'Refund online' button
## Expected result
1. Credit memo is created & Customer is credited back the amount in the Adjustment Refund field
## Act

[2016-07-06 09:35] hgpit commented on #5306
Are we really the only users who find this approach for file-naming a bit... ridiculous? Surely it's not the intended functionality?

[2016-07-06 09:42] antboiko commented on #5439
Hi @ednacool , thanks for reporting. We've created internal ticket MAGETWO-55106 to investigate this.

[2016-07-06 09:42] duongquyet commented on #5438
Hi,
I have same problem. Do you have solution?

[2016-07-06 09:56] klein0r opened #5492 "Show message in reindex process when an index is skipped"
## Steps to reproduce
1. Install Magento
2. Start reindexing a single index or full reindex process via console
3. Start another reindex process
## Expected result

Skipped index (already running / in progress) ...
## Actual result

Catalog Search index has been rebuilt successfully in 00:00:00

[2016-07-06 10:02] antboiko commented on #5487
Hi @grasdaggel , I cannot reproduce the issue on 2.0.7 version following your description.
- I added 5 items to the cart
- clicked on mini cart and all 5 items are displayed correctly
- clicked "View and Edit Cart" and went to Shopping Cart page
- all 5 items are loaded and displayed there

Could you provide detailed steps?

Thanks,
Anton.

[2016-07-06 10:14] mebbopakko commented on #4834
@antonlazarchenko Thanks your solution worked like a charm for me :)

[2016-07-06 10:24] SasiKiranK opened #5493 "getChildhtml not working with the same name for different handles"
Steps to reproduce

i have added block in xml like this in cms_index_index and catalog_product_view in my custom module.

[code]

i have added below line in parent template file
echo $this->getChildHtml('exampletext');

in home page exampletext block rendered properly
in product page exampletext not working

if i changed the child block name then it is working in product page, but not working in h

[2016-07-06 10:40] apurv-anand commented on #4575
Any patch for 2.0.7. I would consider this as a critical issue if a major functionality is blocked. I am wondering how this is not included for 2.0 releases.

[2016-07-06 10:42] #5162 closed, assigned to vzabaznov

[2016-07-06 10:42] maciej-domski opened #5494 "Magento 2.1 - TypeError: events.has is not a function (events.js)"
Hi.

When adding custom block with template to checkout (checkout_index_index.xml) and using in my template file:
`require(
['jquery', 'Magento_Checkout/js/model/quote', 'Magento_Checkout/js/model/shipping-service'],
            function ($, quote, shippingService) {
// my code`

I'm getting "**TypeError: events.has is not a function**" in _events.js_ located in _module-ui\view\base\web\js\lib\cor

[2016-07-06 10:47] Crossmotion commented on #5484
@salelsol I had the same problem. In my case it was a bug in a module that was not compatible with Magento 2.1. yet. Dit you try disabling all modules yet?

[2016-07-06 10:56] developer-lindner commented on #5414
No feedback?

[2016-07-06 10:56] antboiko commented on #5485
Hello @sasilinux , thanks for reporting. We already have internal ticket MAGETWO-50123 to fix this issue.

Best,
Anton.

[2016-07-06 11:05] AntonEvers opened #5495 "Mobile navigation submenus need two clicks to open"
## Steps to reproduce
1. Open the site on a mobile device
2. Click on the Women menu item
3. Click on the Men menu item
4. Click on the Men menu item again
## Expected result
1. Men opens on the first click (step 3), Women closes simultaneously
## Actual result
1. Women closes at the first click (step 3)
2. Men opens at the second click (step 4)
## Expected fix
1. Functionality as in the expected

[2016-07-06 11:11] antboiko commented on #5478
Hi @matthijsleenen , thanks for reporting this issue. We've created internal ticket MAGETWO-55110 to fix it.

Thanks,
Anton.

[2016-07-06 11:36] SasiKiranK commented on #5493
Sorry, Closing this issue since i used the same name again in other block in the same handle.

Thanks Team

[2016-07-06 11:36] #5493 closed, assigned to nobody

[2016-07-06 11:36] prasanthnatrajan commented on #5042
still i am facing the same problem! i cant save any categories and products! please give me a solution!

[2016-07-06 11:41] tkn98 commented on #1382
Just FYI: If you set the base_url config setting to "{{base_url}}" alone, it creates invalid recursion and crashes magento.

[2016-07-06 11:54] tkn98 commented on #4548
@KrystynaKabannyk: Can you share the references in the repository regarding this fix changes?

[2016-07-06 12:01] amanuni commented on #5421
After very much resolving of previous on now getting

`knockout.js:2908 Uncaught Error: You cannot apply bindings multiple times to the same element.`

[2016-07-06 12:23] SerhiyShkolyarenko commented on #5289
Thank you for reporting! Internal issue MAGETWO-55037.

[2016-07-06 12:27] wsagen commented on #3789
This is still an issue with logged in customers.

Execution path is passing through estimateByAddressId function in ShippingMethodManagement which only passes in country, region and post code. There should be a separate execution path for checkout for logged in customers that passes in the full address details.

Can we get this reopened?

[2016-07-06 12:29] sdzhepa commented on #5358
@alexgifts  Thank you for reporting this issue. We have created an internal ticket `MAGETWO-55115` to fix the problem.

[2016-07-06 12:31] ppisarek opened #5497 "Development without media product images (using placeholders) [image stats]"
## Steps to reproduce
1. Remove product image file
2. Go to admin panel -> products -> catalog
3. Edit product with placeholder image
## Expected result
1. View with placeholder image
## Actual result
1. Cannot gather stats! Warning!stat(): stat failed for /Volumes/Data/[...]/pub/media/catalog/product/p/o/poc.jpg

[2016-07-06 13:07] #5494 closed, assigned to nobody

[2016-07-06 13:09] maciej-domski commented on #5494
Resolved. Issue was caused by js names confilcts, Can be deleted.

[2016-07-06 13:21] hvohra commented on #5449
zindont , you are right, I have this issue after data migration ( magento 1.7).  For now, I have resolved the issue by manually adding the lock_expires column in the DB.  After this, I was able to move forward with installation.   However, I hope this release actual fix.

[2016-07-06 13:30] BigBri41 commented on #5426
I had the same issue with this in two separate environments and for us it was more than just an inconvenience.  A customer placed an order that was successfully charged to Paypal and the order never showed up in the magento backend.  So basically we have an orphaned order and magento keeps trying to get the IPN info from Paypal and erroring out because the order doesn't exist.  Here is what I had

[2016-07-06 13:32] didineedthis commented on #5488
No need to run "bin/magento setup:di:compile" if your developing your site just run the upgrade and  "bin/magento setup:static-content:deploy" then run "bin/magento indexer:reindex" you only have to decompile when you set production mode

[2016-07-06 13:34] RG-1 opened #5498 "Can't change attribute sets via csv import [Magento 2.1.0]"
## Steps to reproduce
1. Magento 2.1.0
2. Go to Stores > Attribute: Attribute Sets and create two new sets (e.g. S-1 and S-2)
3. Assign some attributes to sets
4. Create a csv file with products. Value of `attribute_set_code` should be "S-1"
5. Go to System > Data transfer: Import
6. Import products [Import Behavior: Add/Update]
7. Edit csv file. Change value of `attribute_set_code` to "S-2"
8. Go

[2016-07-06 13:41] YevSent commented on #3789
Hi, @wsagen, for some reasons this still not fixed for logged in customers. Thanks for your reporting, I've created new internal ticket MAGETWO-55117.

[2016-07-06 13:41] grasdaggel commented on #5487
Dear @antboiko. I did the very same, except that when I click on View and Edit Cart-Link I receive a page with loaded footer and header, but no content in between.

When I click on "Checkout", I only receive the a white page with a loaded logo and our first, right positioned, navigation, no content loaded after that point.

[2016-07-06 13:43] grasdaggel commented on #5315
Hi @eug123 - while its true that the button is there, I would like to disable this caching temporarily, but its not possible - i have to flush the cache manually all the time, why can't I disable this cache as well, like full page cache or config cache?

[2016-07-06 13:44] grasdaggel commented on #5488
So we are even that there is no need to run di:compile on developer environments, right? Maybe Devs can add a check which mode is set, and if its Dev, hide this message (since it doesn't do anything useful on Dev Mode), while its necessary to do so on live systems.

[2016-07-06 13:46] BigBri41 commented on #4785
What commcad said.  I placed the column in a different place based on the insert query that errored, but I imagine both would work.  Here's the query i ran to fix the issue.

ALTER TABLE `magento`.`sales_invoice_grid`
ADD COLUMN `base_grand_total` DECIMAL(12,4) NULL DEFAULT NULL AFTER `shipping_and_handling`;

[2016-07-06 13:46] ktruehl opened #5499 "PHPSESSID cookie not generated"
## Steps to reproduce
1. install Magento 2.1.
2. install the Demodata
3. clear cache
4. clear domain cookies in browser
5. visit the home page
6. visit the category "Women" -> "Tops" -> "Hoodies & Sweatshirts"
7. visit any product page in the category
   => the breadcrumbs do not contain any category
8. register a new customer
9. clear cache
10. again visit the category "Women" -> "Tops" -> "Hoodi

[2016-07-06 13:48] yireo commented on #5330
We tracked this down to the file `vendor/magento/module-webapi/Model/AbstractSchemaGenerator.php` and then the `getListOfServices()` method: This method lists all the available SOAP methods when requesting this from a SOAP client. Within this method, there are two `foreach` loops. In the second loop, the check `$this->authorization->isAllowed` is used to check whether access to this Web API method

[2016-07-06 13:48] didineedthis commented on #5488
run this to check what mode you are in
bin/magento deploy:mode:show

you will more than likely be in Default mode.

then set either developer or production

1.bin/magento deploy:mode:set production
2. bin/magento deploy:mode:set developer

Once you leave default mode there is no going back to it.

[2016-07-06 13:51] Krapulat opened #5500 "[2.1] Get stuck in Products > Catalog"
I'm trying to access to Products > Catalog inside Magento Administration and I can't. It gets stuck. It shows nothing. No error neither.

I attach two screenshots. The second one is after 20 seconds. It gets stuck in that part.

![screen shot 2016-07-06 at 15 48 43](https://cloud.githubusercontent.com/assets/4441564/16620079/5f9457a2-4391-11e6-9c21-64390a80fe16.png)
![screen shot 2016-07-06 at 15

[2016-07-06 13:53] yireo commented on #5330
Pull request is now also added: https://github.com/magento/magento2/pull/5501

[2016-07-06 13:57] ktruehl opened #5502 "page cache also caches breadcrumbs"
## Steps to reproduce
1. install magento 2.1
2. install the demo data
3. clear the cache (including page cache)
4. visit the category "Women" -> "Tops" -> "Hoodies & Sweatshirts"
5. visit the product page of "Mona Pullover Hoodlie-XS-Green"
   => the breadcrumbs look like this

[code]
1. visit the category "Women" -> "Tops"
2. visit the product page of the same product "Mona Pullover Hoodlie-XS-Gr

[2016-07-06 14:01] Kraeutergarten commented on #4966
Same problem here

[2016-07-06 14:02] antboiko commented on #5467
Hello @duongquyet , thanks for reporting this issue. Internal ticket MAGETWO-55120 has been created.

Best,
Anton.

[2016-07-06 14:02] maderlock commented on #4785
@BigBri41 Did you try the alter statement by @commcad? Is the nullable part important?

[2016-07-06 14:09] Choufourax commented on #5323
I enabled again the review module as mentionned by @AndreasSundstrom and the error went away.
But if I disabled it again, the error comes back.

[2016-07-06 14:22] quienti commented on #5500
I had this problem after updated Magento 2.0.7 to 2.1.0
And my problem was because my custom modules added "Mass Action " .

And the system to add actions are different between the 2 versions .

I see you outside of Magento modules , checking that they are updated for Magento 2.1

[2016-07-06 14:26] cscd98 opened #5504 "Column not found: 1054 Unknown column 'cat_index_position' in 'order clause'"
Install of Magento 2.0
Use data migration tool to import data
Upgrade to 2.1.
Clear Caches
Re-index everything

**Issue 1: View Top Level Category:**

[code]

[2016-07-06 14:28] cscd98 commented on #5504
**Issue 2: Also in my sub-categories, no products are visible.**

Turning off flat categories and flat products fixes the first issue

[2016-07-06 14:31] sheldonli999 commented on #5260
I am able to reproduce the bug easily.  Select a customer and edit it (inside admin backend).  Click the reset password link, and received an email.  Click the link inside the email.  Typed in the new password.  The error is displayed.  Please see the attached screenshot.  I can't find any exceptions in the log.

[2016-07-06 14:32] sheldonli999 commented on #5260
![screen shot 2016-07-06 at 7 27 38 am](https://cloud.githubusercontent.com/assets/18491705/16621613/bcd436a8-434b-11e6-8984-a57979f8d9b3.png)

[2016-07-06 14:34] sheldonli999 commented on #5260
Now click the forget password link on the frontend page (customer page), filled the email address.  An error occurred.  Please see the attached.
![screen shot 2016-07-06 at 7 35 48 am](https://cloud.githubusercontent.com/assets/18491705/16621710/1301c0ae-434c-11e6-93ce-cff41f2f7f8c.png)

[2016-07-06 14:37] martinmonnier commented on #2368
I have the same problem with the url key while creating products by backend as well as by api. I tested with version 2.1.0

How to reproduce: Simple create two simple products with the same name in backend (or api). That's it.

[2016-07-06 14:48] RG-1 opened #5505 "Changing Attribute Sets clears value of attributes [Magento 2.1.0]"
## Steps to reproduce
1. Magento 2.1.0
2. Go to Stores > Attribute: Product and create two attributes (type: dropdown or swatches, scope: global, just admin values: e.g. alpha and beta, no default value) (e.g. A-1 and A-2)
3. Go to Stores > Attribute: Attribute Sets and create two new sets (e.g. S-1 and S-2)
4. Edit S-1 and S-2 > Assign A-1 and place it under sku > Create Group > Assign A-2 and pl

[2016-07-06 14:54] maksek commented on #5131
Ok, we finished excessive testing and 7.0.4 works fine on 2.1 branch. We are going to update composer with upcoming patch release. Thanks everyone for help.

[2016-07-06 15:10] BigBri41 commented on #4785
@maderlock The query that I ran is basically the same as the one @commcad posted, it just placed the column in a different place in the table, I expect that any inserts into the table reference the column by name though so that shouldn't be an issue.  I have a feeling that the nullable part is important as its parent table (sales_invoice) has base_grand_total set as nullable also.  I'm not sure th

[2016-07-06 15:23] kimmanwky opened #5506 "Fresh install Magento 2.1.0 from Softaculous - Unable login to admin site"
I have no problem accessing the homepage. However, this is the error message show when i type the admin username and password.

[2016-07-06 15:27] Nerogee commented on #5327
@alena-marchenko My case is not a simple ALTER query can fixed. btw, as I said my magento2.1 is fresh installed. There is no any error except that I found the **PAYMENTREQUEST_0_INVNUM** is always 000000001. So it means that order id is not auto increased. What a shame error it is! What should I do?

[2016-07-06 15:28] veloraven commented on #5191
@paulespino , thank you for your report.
I was able to reproduce this issue and get the result you're complaining, but only once and can not repeat it. Could you please provide more details about requests you used for products creation? Did you create configurable product with some other simples linked to it at once?

Anyway I created internal ticket (MAGETWO-55125) and linked it to this issue.

[2016-07-06 15:30] veloraven commented on #5243
@piatrouski , thank you for your report,
We have internal ticket created for such problem: MAGETWO-55126, I have linked it to your ticket.

[2016-07-06 15:44] tkn98 commented on #5488
It's all fine what you guys write here, but I'm more concerned about the message given and that it is not showing the concrete command intended to run. The discussion shows, that there are diverse scenarios in which the one or other command, also additionally, needs to be (not) run (at all). But please do not derail this report which is about the message missing the concrete command name.

[2016-07-06 15:49] ghost commented on #5454
The update cron is used during upgrades and component updates.

[2016-07-06 15:56] emmons714 commented on #3362
When you feed a foreach with data that are not an array, you get a warning:

rewrite the function like this to handle the null values:

[code]

[2016-07-06 17:07] duongquyet commented on #5438
Hi,
I have one more problem, We try add a image attribute for categories:

 in file: vendor\magento\module-catalog\view\adminhtml\ui_component.xml

And code add attribute

[code]

When I checked in controller(vendor\magento\module-catalog\Controller\Adminhtml\Category\Image\Upload.php), I see a hard code:

[code]

When we try upload a image it show a bug
![screen](https://cloud.githubusercontent.c

[2016-07-06 17:13] duongquyet commented on #5467
Hi,
Hope you can update it soon.

Best regards,

David

[2016-07-06 17:15] ghost commented on #5247
Same issue here with a clean install of 2.1. The setup wizard is not there in the system menu.

[2016-07-06 17:18] ghost commented on #4795
Same issue here as well on 2.1. The module that @hostep put together does seem to get around it but this appears to be a core issue that needs to be resolved. It would be nice to see Magento 2 in a more stable and usable state.

[2016-07-06 18:26] ComputerNorth commented on #5426
That is the solution, thank you!

[2016-07-06 18:42] springimport commented on #5198
@mbrinton01 Now I can't do it.

[2016-07-06 18:52] developer-lindner commented on #5414
@magento-team could someone have a look maybe?

[2016-07-06 18:55] liquidia commented on #4170
same issue 2.1, no merging no minification of css js .it was working after installation but suddenly no cart content just blank white minicart box

[2016-07-06 18:56] mbrinton01 commented on #5198
What result do you get?

[2016-07-06 19:10] dominik-eller commented on #4795
Same issue here, please fix.

[2016-07-06 19:26] Ctucker9233 commented on #5306
@hgpit You're not the only one. It seems excessive. But it might be because you can run multiple stores/websites on the same magento setup. If you have any product crossover, there may need to be a way for magento to create a unique file name.

[2016-07-06 19:30] jibrandlr opened #5507 "Magento homepage shows PHP warning after upgrading php from 5.5.9 to 7.0.8"
1. I upgraded php 5.5.9 to 7.0.8 before upgrading Magento from 2.0.6 to 2.1.0.

Magento was originally installed via composer create project, and upgrading to 2.1.0 was made also via composer.
1. After upgrading php version and making sure all extensions are correctly installed, I tried to enter my homepage and got this message:

Same happens when trying to access the back end.

To check the php v

[2016-07-06 19:48] hgpit commented on #5306
@Ctucker9233 I'm not really sure what you mean, sorry. We do actually run multiple websites and stores. But as every product image is imported via a URL, they're all still filed under **[magento]/pub/media/catalog/product/h/t/** regardless of the site/store because of their source path/URL.

We've just invested in Unirgy's uRapidFlow product importer for EE v2.1, and that brings in images (via URL

[2016-07-06 19:48] Ctucker9233 commented on #5423
@tkacheva @eug123 Any new information on this issue?

[2016-07-06 20:34] manhao-chen commented on #3605
any ideas of when the next release will be?

[2016-07-06 20:37] Tellfjord opened #5508 "The order confirmation email was not sent and orders does not show up under sales-orders."
## Steps to reproduce
1. Upgrade från 2.02 to Magento 2.1 using composer
2. Add configuration in backend, add some products, set up server with cron Jobs and all the req.
3. ...
## Expected result
1. A working magento store with standard functionallity add products to cart, register and so on works,
## Actual result
1. A magento store that doesent add orders under sales--Orders i can see the new o

[2016-07-06 20:39] zaoky commented on #4873
any update ??

[2016-07-06 20:48] Tellfjord commented on #5426
This helped me with the invoice problem. Thanks BigBri41

[2016-07-06 20:54] ghost commented on #5247
This is an expected result if you use `pub` as your Magento docroot; it's designed this way so you cannot run the Web Setup Wizard in a production environment. Try setting the docroot to the Magento install directory and you should see the wizard again.

[2016-07-06 21:14] rorteg opened #5509 "Translate messages on password strength"
## Steps to reproduce
1. Install Magento 2.1
2. Try to translate the messages on password strength (Translate inline or source)
## Expected result
1. Translated.
## Actual result
1. Not translated.

<img width="559" alt="captura de tela 2016-07-06 as 18 06 24" src="https://cloud.githubusercontent.com/assets/142829/16634709/4fee6e8c-43a5-11e6-9000-3ad01f5af7b6.png">

Thanks.

[2016-07-06 21:16] rorteg commented on #5509
We try to translate the theme package:

"Minimum length of this field must be equal or greater than %1 symbols. Leading and trailing spaces will be ignored.","O tamanho mínimo desse campo deve ser maior ou igual a %1 caracteres. Espaços a direita serão ignorados."

And in the translation package that we have:

"Minimum length of this field must be equal or greater than %1 symbols. Leading and trai

[2016-07-06 23:31] ghost commented on #5247
Web Setup wizard does not work if using the install directory as docroot or pub in 2.1.

It was also in the [2.1 release notes](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.0CE.html) that the Web Setup wizard is now accessible when using pub as the docroot.
- The Web Setup Wizard now works when Magento is installed in /pub. ([GITHUB-4159](https://github.com/magento/magento2

[2016-07-07 01:06] marekyggdrasil commented on #5441
We resolved it.

Cause of the problem: Github release and release from Magento website are not the same. Those have same version tag but different composer.json file (missing repository) and also updater directory is not there (which is confusing especially with inconsistent documentation that for some reason states it is obsolete).

<img width="455" alt="screen shot 2016-07-05 at 4 27 18 pm" src=

[2016-07-07 01:06] #5441 closed, assigned to nobody

[2016-07-07 01:22] phuc128t opened #5510 "Swatch attributes is not sorted by position"
## Steps to reproduce
1. Install Magento 2.1
2. Add configurable product have swatch attributes
3. Set attribute position in Store > Attribute > Product
## Expected result

Swatch attribute is sorted by position
## Actual result

The position in jsonConfig is wrong and Swatch attribute is not sorted.
![2016-07-07_8-27-03](https://cloud.githubusercontent.com/assets/1607243/16639791/05009d14-441d-11

[2016-07-07 01:37] alexcheng1982 commented on #653
Any idea when this issue will be fixed? There are already some [solutions](http://killerwhalesoft.com/blog/magento-unicode-url-key-products-categories-cms-pages/) or [extensions](https://github.com/Minglong/Magento-unicode-URL) available. It will be very good if this can be added to the core library.

[2016-07-07 01:41] phuc128t commented on #5510
As a fix, go to file  app/code/Magento/ConfigurableProduct/Model/ConfigurableAttributeData.php line 38 change to `'position' => $productAttribute->getPosition(),`

[2016-07-07 02:00] colyield commented on #5363
Same problem here. Only shows last activity time and type for visitors.

[2016-07-07 03:33] viken-tops opened #5511 "TypeError: Braintree.checkout.paypal is undefined in magento 2.1 Braintree.checkout.paypal.initAuthFlow()"
steps to reproduce for magento 2.1 braintree paypal configuration.
enviroment : production
payment action : authorize
public key
private key
merchant ID
Enable PayPal through Braintree
Vault enabled : no
Country Specific Credit Card Types
Country     Allowed Credit Card Types   Action
PayPal through Braintree :
Payment Action : authorize
Payment from Applicable Countries : all
Require Customer's B

[2016-07-07 04:45] cizgidekiadam commented on #5234
Components in /vendor folder. I have checked out github first, then install components with `composer install`. All necessary patches applied.

Problem may be about a previous composer self-update. Because, i tried a clean install and everything is fine.

[2016-07-07 04:46] cizgidekiadam commented on #5247
Docroot is not /pub folder. Same problem exist in 2.0.7 and 2.1

[2016-07-07 05:17] blizam opened #5512 "Product > Product in Websites > "Changes have been made to this Section" Pencil Icon always present"
Ever since upgrading to 2.1.0 all my Products have this Pencil Icon present on the "Product in Websites" option

[2016-07-07 05:24] blizam commented on #4096
My Products were originally created in Magento 2.0.3... never in a 1.x install

I never had a problem with product duplication myself until I upgraded to 2.1.0 recently... now when I Save an Duplicate a new product the behavior is the same as described here in this post.

If I should open a new post just holler... I was on the fence as the behavior seems the same as is noted here... the major diff

[2016-07-07 06:02] blizam commented on #4096
Eh... further issues with Images on Duplicated Products... after deleting eh original products Base Image I cannot set a new base/thumbnail image... well, I can set it... but it won't appear on the frontend for the Thumbnail or Small image... it only shows up in the actual Product View... Category View pulls in the system default image for the thumb/small display

Creating new products works fine

[2016-07-07 06:10] YevSent commented on #5511
Hi @viken-tops, thanks for reporting. Could you reproduce this issue on the latest develop?

[2016-07-07 06:32] ln8711 commented on #5462
Hi, sorry for the delay, this is the request sent when place the order. I clean the debug log before add the product into cart and there is nothing in there.
![fbug1](https://cloud.githubusercontent.com/assets/3814503/16644421/0e0a8d8c-4447-11e6-881e-9406322aab70.png)

[2016-07-07 06:39] YevSent commented on #5462
Without any logs, we haven't ability to find the reason of your problem.
Could you enable xdebug and set break points in the [exception throwing](https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/Model/GuestPaymentInformationManagement.php#L83) for guest customers or in the [exception throwing](https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/Mode

[2016-07-07 07:09] qwerty7869 opened #5513 "Rest api - PUT /V1/customers/password api used to get password reset link in email not working"
## Steps to reproduce
1. Use the api to get password reset link in email using admin token key.
## Expected result
1. Email should be received to reset password.
## Actual result
1. Getting below response on using api
   {
   "message": "No such entity with %fieldName = %fieldValue, %field2Name = %field2Value",
   "parameters": {
     "fieldName": "email",
     "fieldValue": "xyz@xyz.com",
     "f

[2016-07-07 07:15] YevSent commented on #5511
**UPD** On a  fresh installation of Magento 2.1 can't reproduce your issue, the place order via Braintree and Braintree PayPal works fine. Do you have any additional preconditions or another errors in the browser console, exception or debug log?

[2016-07-07 07:27] didineedthis commented on #5454
Seeing now my crons are running
can i just upload the "update" folder? from
Magento-CE-2.1.0.zip to my live site?
will this cause problems?

[2016-07-07 07:46] veloraven commented on #5260
@sheldonli999 , thank you for screenshots.
Unfortunately I still was not able to reproduce the issue.
Could you please answer my questions from a comment above? Probably you missed it, but your answers can help us in issue reproducing.

[2016-07-07 08:02] LiamFielding commented on #5376
My messages are showing everywhere and multiple times without SSL. I haven't done anything to setup Varnish either - simply installed from dev branch.

[2016-07-07 08:04] samc2810 commented on #5468
is there no Magento-Developer who cares about answering?

[2016-07-07 08:31] kristjan-h commented on #5418
Apparently duplicated rows are inserted into cataloginventory_stock_item table (either during product import or upgrade, not sure which), that is why this error happens.
**For a quick fix, remove all duplications from cataloginventory_stock_item table.**

I used something like `DELETE FROM cataloginventory_stock_item WHERE use_config_backorders = 0;` you might need a slightly different query thoug