[2019-05-17 06:31] #22897 closed, assigned to ajijshekh123

[2019-05-17 06:31] ajijshekh123 commented on #22896
@Eduran1234  fell free to reopen this issue when you will be ready to provide more details and we will review it and confirm

[2019-05-17 06:31] #22896 closed, assigned to ajijshekh123

[2019-05-17 06:35] krishprakash commented on #22924
@magento-engcom-team give me 2.3-develop instance

[2019-05-17 06:35] magento-engcom-team commented on #22924
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-17 06:36] magento-engcom-team commented on #22924
Hi @krishprakash, here is your [Magento instance](https://i-22924-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22924-2-3-develop.instances.magento-community.engineering/admin](https://i-22924-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-17 06:42] ajijshekh123 commented on #22925
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-05-17 06:43] magento-engcom-team commented on #22925
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-17 06:43] magento-engcom-team commented on #22925
Hi @ajijshekh123, here is your [Magento instance](https://i-22925-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22925-2-3-develop.instances.magento-community.engineering/admin](https://i-22925-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-17 06:44] krishprakash commented on #22924
@magento-engcom-team give me 2.2-develop instance

[2019-05-17 06:44] magento-engcom-team commented on #22924
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-17 06:45] magento-engcom-team commented on #22924
Hi @krishprakash, here is your [Magento instance](https://i-22924-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22924-2-2-develop.instances.magento-community.engineering/admin](https://i-22924-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-17 06:50] shikhamis11 commented on #22923
I am not able to reproduce this issue on magento 2.3.1 instance.Please share more details about the issue . also please check the same on 2.3-develop instnace If you find issue Please share screenshot also

[2019-05-17 06:51] magento-engcom-team commented on #22924
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99728`, `MAGETWO-99729` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-17 07:01] irajneeshgupta commented on #21696
@magento-engcom-team give me 2.2-develop instance

[2019-05-17 07:01] magento-engcom-team commented on #21696
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-17 07:02] magento-engcom-team commented on #21696
Hi @irajneeshgupta, here is your [Magento instance](https://i-21696-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21696-2-2-develop.instances.magento-community.engineering/admin](https://i-21696-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-17 07:03] hitesh-wagento commented on #22911
@magento-engcom-team give me 2.3-develop instance for version 2.3.1

[2019-05-17 07:03] magento-engcom-team commented on #22911
Hi @hitesh-wagento. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-17 07:03] magento-engcom-team commented on #22911
Hi @hitesh-wagento, here is your [Magento instance](https://i-22911-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22911-2-3-develop.instances.magento-community.engineering/admin](https://i-22911-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-17 07:09] rk-mxp opened #22927 "Removing Minimum Qty Allowed in Shopping Cart options triggers PHP error on Change Status Action"
### Preconditions (*)

1. Magento 2.3.x
2. No Option for ALL GROUPS is set for configuration "Minimum Qty Allowed in Shopping Cart"

### Steps to reproduce (*)

1. Remove all options from Minimum Qty Allowed in Shopping Cart in Configuration - Catalog - Inventory - Product Stock Options
2. Add any product
3. Select product and choose the Update Attributes Action

### Expected result (*)

1. Attrib

[2019-05-17 07:17] hitesh-wagento commented on #22911
Hi @ShaileshRawat

I have tested in magento version 2.3.1 I can change theme.

Thanks

[2019-05-17 07:17] #22911 closed, assigned to hitesh-wagento, AlexWorking

[2019-05-17 07:43] patrick-bigbridge commented on #15935
@niners52 That is terrible news! There was an actual fix!

I just tried to replicate the original problem on a 2.3.1 and I could not replicate it. Can you tell me exactly what you do to set it off?

[2019-05-17 08:00] oorobak commented on #20033
Ok, I had really stupid mistake. For extra bcc email addresses, what I want to add to each email, I set emails separete by semicolon, not comma (that is mistake). This situation has no error information. And after all the SenderBuilder can't read it properly, and don't send anything. I think that should be protect somehow agaist this situation. Becuase email with order can't go to clients. If it n

[2019-05-17 08:34] SeeniBorn commented on #15545
We have Magento EE 2.2.8 version with Elastic search 6.4
Recently we have upgraded from EE2.2.2 to 2.2.8 and Elastic search 2.x to 6.4
Suddenly we are facing issue with Elastic search and leads to site down issue.
NR says the following code part,
![elastic_search](https://user-images.githubusercontent.com/38650356/57914561-78ecbe80-78ac-11e9-828c-8d0e2006ed79.png)

Once we switch back search to My

[2019-05-17 08:57] duyetbv opened #22928 "Edit configurations can't save products"
Edit configurations can't save products.

### Preconditions (*)
1. Magento 2.2
2. Magento 2.3

### Steps to reproduce (*)
all step to show issue above
step 1: click to Edit configurations button
https://prnt.sc/npq139
step 2: Select new option for attribute
https://prnt.sc/npq1tk
step 3: Apply images for all
https://prnt.sc/npq2p0
Step 4: Generate products
Step 5: Save it

After save shown error
h

[2019-05-17 09:11] elioermini commented on #15545
<img width="938" alt="Screenshot 2019-05-17 at 11 05 53" src="https://user-images.githubusercontent.com/3743366/57917179-72524d00-7894-11e9-8f5b-691797ecf482.png">
very worrying database overload from 2.2.7 to 2.2.8.

[2019-05-17 09:11] duyetbv commented on #22928
Hi @krishprakash
Nice to meet you
can you support for me?

[2019-05-17 09:16] saiky commented on #22918
Hi @shikhamis11 ,

I get the solution for this by doing following:

`
$_helper = $this->helper('Magento\Catalog\Helper\Output');

<?= $_helper->productAttribute($_product, $product->getData('attribute_name'), 'attribute_name') ?>`

Thank you.

[2019-05-17 09:16] #22918 closed, assigned to shikhamis11

[2019-05-17 09:20] krishprakash commented on #22928
Hi @duyetbv.
I'm not able to reproduce this issue as per provided screenshot.
Please provide the additional steps to reproduce this issue.
Also, Please follow issue reporting guideline to report an issue as explained with below link.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
After that we can review in clean magento instance if issue is reproduced.
Thanks.

[2019-05-17 09:25] hitesh-wagento commented on #22803
Hi @Kjellzweers

I think you have set 1column layout in below screenshot. please once 2columns-left and test again.

https://prnt.sc/nmb6id

[2019-05-17 09:26] duyetbv commented on #22928
HI There
video error: https://irinaschrotter.com/clothing.html
I am using 2.3.1 version
But I was tried with 2.2.4 and other version same issue
I think it's core issue
Thanks

[2019-05-17 09:46] ankursachdeva11 opened #22929 "Catalog Product Gallery Processor: Add Image not working if move true"
### Preconditions (*)

1. Magento 2.2.8 and 2.3.1 CE

### Steps to reproduce (*)

1. Write custom module where you have an image place in any folder and you are using \Magento\Catalog\Model\Product\Gallery\Processor to link image in the product.
2. Use addImage($product, $newFileName, $imageType, true, $disabled); with move true in 4th param.

### Expected result (*)

1. It should add an image to

[2019-05-17 09:48] ankursachdeva11 commented on #22929
@magento-engcom-team give me 2.3-develop instance

[2019-05-17 09:48] magento-engcom-team commented on #22929
Hi @ankursachdeva11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-17 09:49] magento-engcom-team commented on #22929
Hi @ankursachdeva11, here is your [Magento instance](https://i-22929-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22929-2-3-develop.instances.magento-community.engineering/admin](https://i-22929-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-17 09:57] #22929 closed, assigned to ankursachdeva11

[2019-05-17 10:08] AlexWorking commented on #22916
Hello @jorgb90. Unfortunately we've been not able to reproduce Your issue. Would You please try to reproduce it Yourself on the clear 2.3-develop version instance. You may ask for an instance as there is written above:
![Advised](https://user-images.githubusercontent.com/27814011/57920777-16b69e00-7859-11e9-8ecd-ddbca67b0fba.png)
If You manage to reproduce it, that will mean we've missed something

[2019-05-17 10:08] magento-engcom-team commented on #22928
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99732`, `MAGETWO-99733` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-17 10:13] duyetbv commented on #22928
@magento-engcom-team
I don't understand
you are fixing it? that right?

[2019-05-17 10:14] hitesh-wagento commented on #20788
Hi @magento-engcom-team

Above listing page issue is resolved or need to work on it?

[2019-05-17 10:18] duyetbv commented on #22928
@krishprakash
let me know when resolved
Thnk so much

[2019-05-17 10:21] krishprakash commented on #22928
Hi @duyetbv.
You will get notification once it's fixed.
Thanks.

[2019-05-17 10:25] hitesh-wagento commented on #20788
@magento-engcom-team give me 2.2-develop instance

[2019-05-17 10:25] magento-engcom-team commented on #20788
Hi @hitesh-wagento. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-17 10:25] hitesh-wagento commented on #20788
@magento-engcom-team give me 2.3-develop instance

[2019-05-17 10:25] magento-engcom-team commented on #20788
Hi @hitesh-wagento. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-17 10:26] magento-engcom-team commented on #20788
Hi @hitesh-wagento, here is your [Magento instance](https://i-20788-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20788-2-2-develop.instances.magento-community.engineering/admin](https://i-20788-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-17 10:41] ajijshekh123 commented on #22925
@magento-engcom-team - Can you please provide me multistore Magento 2.3-develop and 2.2-develop Instance?

[2019-05-17 10:52] hitesh-wagento commented on #20788
I have reproduced this in **Magento ver. 2.2.9-dev**. So I am working on this.

[2019-05-17 10:56] AlexWorking commented on #22785
Thank You @qsolutions-pl. For posting issues related to migration from magento1 to magento2 there is a special repository https://github.com/magento/data-migration-tool. So we are closing this issue here and ask You to reopen it there. Also keep in mind that as an Enterprise Edition user You always may refer directly to Magento Support.

[2019-05-17 10:56] #22785 closed, assigned to AlexWorking

[2019-05-17 11:02] AlexWorking commented on #22913
@magento-engcom-team give me 2.3-develop instance

[2019-05-17 11:02] magento-engcom-team commented on #22913
Hi @AlexWorking. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-17 11:03] magento-engcom-team commented on #22913
Hi @AlexWorking, here is your [Magento instance](https://i-22913-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22913-2-3-develop.instances.magento-community.engineering/admin](https://i-22913-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-17 11:56] mattijv commented on #20186
@magento-engcom-team Unfortunately https://github.com/magento/magento2/pull/22081 does in no way fix the real issue in the Sniff, but pushes the problem a few lines down in the code.

The issue is that the `PHP_CodeSniffer\Files\File::findPrevious` method returns either a pointer to the previous token of a type **or `false` if none is found**. This case is triggered when the CodeSniffer is running

[2019-05-17 12:05] Nazar65 commented on #20186
Hi @mattijv i'm have following result -> can you explain ?
![DeepinScreenshot_select-area_20190517150259](https://user-images.githubusercontent.com/2481206/57926898-354a8280-78b5-11e9-95da-84e2d0094791.png)

[2019-05-17 12:17] AlexWorking commented on #22913
@psuthar12, we are still not able to reproduce the issue. Please watch the attached video and tell us where we go astray from Your way of reproduction. Thank You.
![SpPr](https://user-images.githubusercontent.com/27814011/57927520-7cac2100-786b-11e9-924f-1f3ab9b79a49.gif)

[2019-05-17 12:18] geet07 commented on #18337
@magento-engcom-team give me 2.3-develop

[2019-05-17 12:36] horebecommerce commented on #5873
@nowsathyasar I just replaced your renderer.php code with Magento code which resolved the issue on order page, but on the customer view (both backend and frontend) it has the same issue which simply displays the template. Also wondering why we should make the customization on the core code?

Further Details:
I got this issue after upgrading from 2.1.x to 2.3.1 version

[2019-05-17 12:43] geet07 commented on #18337
@magento-engcom-team give me 2.3-develop instance

[2019-05-17 12:43] magento-engcom-team commented on #18337
Hi @geet07. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-17 12:44] magento-engcom-team commented on #18337
Hi @geet07, here is your [Magento instance](https://i-18337-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-18337-2-3-develop.instances.magento-community.engineering/admin](https://i-18337-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-17 12:48] VasylBudnik opened #22932 "Doble query in filter function"
### Summary

When I make filter query in sales order create index grid. Magenta make filter and go to next page.  Delete all my custom modules, but the problem is still.

### To replicate:
Replicate > Sales >Orders>Create New order>use filters to search for a customer

### Magento 2 version:
Magento 2 version: Magento ver. 2.2.2

### Expected
Make the filter for the column

[2019-05-17 13:08] mattijv commented on #20186
@Nazar65 My bad, seems like there is another edge case that the code hits first with my example. The reason again is most likely the same (i.e. `false` being cast to `0`).

If you add an empty line between `<?php` and `class Foo{}` you get the error I reported reported.

[code]

[2019-05-17 13:12] Nazar65 commented on #20186
@mattijv yeap, thx, i will work on it.

[2019-05-17 13:13] #22932 closed, assigned to AlexWorking

[2019-05-17 13:24] Nazar65 commented on #22879
Hi @norgeindian thank you for you report, please open issue here -> https://github.com/magento/magento2-functional-testing-framework

[2019-05-17 13:24] #22879 closed, assigned to Nazar65

[2019-05-17 13:30] Nazar65 commented on #22861
Hi @SS7User
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-05-17 13:30] #22861 closed, assigned to Nazar65

[2019-05-17 13:32] Nazar65 commented on #22828
Hi @YevgenK thank you for you report, please open issue here -> https://github.com/magento/graphql-ce

[2019-05-17 13:32] #22828 closed, assigned to nobody

[2019-05-17 13:42] elioermini commented on #15545
I've readded `sprintf('`%s`.`source_id` = `%s`.`source_id`', $mainTable, $joinTable),` after line 143 of \Magento\CatalogSearch\Model\Search\FilterMapper\CustomAttributeFilter so like it was on 2.2.7, monitoring now the status.

[2019-05-17 13:59] SeeniBorn commented on #15545
@elioermini Whether the issue getting resolve when you add that line?

[2019-05-17 14:07] spleen1334 commented on #15545
That fix creates problems for configurable attribute filtering. Returns 0 products on some combinations.

[2019-05-17 14:29] elioermini commented on #15545
@spleen1334 I'll check the configurable issues however having a website that goes down is more critical, I usually set the attributes available for filtering as follows: Use in Layered Navigation "Filtrable with Result" and Used in Product Listing "Yes" and don't recall issues but I could be wrong. @SeeniBorn it's currently better. It's interesting to know if your indexer for Product EAV if is set

[2019-05-17 15:05] jbonot commented on #20783
There's a similar issue that had the same exception, which was resolved by fixing the Plex configuration.  Would this be relevant? https://github.com/magento/magento2/issues/12255

[2019-05-17 15:20] magento-engcom-team commented on #21473
Hi @mam08ixo. Thank you for your report.
The issue has been fixed in magento/magento2#22801 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [f9396dbdc9aaac6bc0647c13b0800bcf3f9f8ba4](https://github.com/magento/magento2/commit/f9396dbdc9aaac6bc0647c13b0800bcf3f9f8ba4)
 - [20e38184c350271d4c359e0fc2ad9dd56bab9cc5](https://github.com/magento/magento2/commit/20e38184c350271d4c359e0fc2ad

[2019-05-17 15:20] magento-engcom-team commented on #22395
Hi @MichaelThessel. Thank you for your report.
The issue has been fixed in magento/magento2#22836 by @shikhamis11 in 2.2-develop branch
Related commit(s):
 - [df7fad827caa3ec4b5c25f582d6153f3f4016295](https://github.com/magento/magento2/commit/df7fad827caa3ec4b5c25f582d6153f3f4016295)
 - [2e7c766b07b933e5fbcf38efdd6326b922262b16](https://github.com/magento/magento2/commit/2e7c766b07b933e5fbcf38efd

[2019-05-17 15:40] AlexWorking opened #22934 "Incorrect work of "Use Categories Path for Product URLs" in sitemap generation."
Related issue: #4788

### Preconditions (*)

1. Magento version 2.3-develop version clear install.

### Steps to reproduce (*)

1. Create category “categ”.
2. Create Product “simp” and assign it to categ.
3. Generate sitemap. URLs like http(s)://your-magento-instance/categ.html  and http(s)://your-magento-instance/simp.htm are present.
4. Now set to Yes "Use Categories Path for Product URLs"  in c

[2019-05-17 15:42] magento-engcom-team commented on #22934
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99740` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-17 15:56] AlexWorking commented on #4788
Hello @naydav. We retested the issue on the latest 2.3-develop version and did not detected the behavior You've described above. Probably it has changed though it still appears to be incorrect. So we deem it better to close the current issue and open a new one related to this. The new issue is #22934.

[2019-05-17 15:56] #4788 closed, assigned to nobody

[2019-05-17 16:18] Lumiahna opened #22935 "Multistore restrict user to a specific store"
### Preconditions (*)
Env: debian 9 / apache2/mariadb/php 7.1

### Steps to reproduce (*)

### Expected result (*)
On multistore mode, I would like to restrict an user / store and avoid them to get access to the others ones.
### Actual result (*)
I don't see any ACL permissions to check ..

[2019-05-17 16:46] jorgealonso78 commented on #22775
How long do you have to wait to review something that only takes 30 minutes? Can another person take this please

[2019-05-17 18:24] joaolisboa commented on #8815
I'm on version 2.2.8 with the fix and I must add that this was not properly fixed. We had issues on Varnish 4.0.5 due to incorrect tags sent by Magento due to the way the tags are split when sent in batches. Since you're splitting the tags by pipe and there are pipes inside each individual tag it can generate two invalid requests.

Right after the PURGE request I added logs to see each header bein

[2019-05-17 19:04] heldchen commented on #19597
same here on 2.3.1 CE _and_ EE using MariaDB-10.2.24

[2019-05-17 22:08] IntensoCommerce commented on #19479
In my case the issue was caused by the "pma__tracking" table created by PhpMyAdmin (in a local installation). I had to delete those pma__xxx tables to be able to complete the setup:upgrade. Definitely a Magento bug IMHO.

[2019-05-17 22:32] daschenbrener commented on #22373
anyone with any luck with this as we cannot get this to work . and how there isn't a patch is actually mind blowing , biut not the less i  try this and i dont even get an error message now

[2019-05-17 22:42] shreddieb commented on #10485
@EmilyPepperman did you by chance find a solution? I've upgraded to 2.3.1 and am also experiencing the date format issue

[2019-05-17 23:19] nathanjosiah commented on #22373
@daschenbrener 2.3.2 be released soon. I can't provide more information but rest assured it's almost out. In the meantime my [comment above](https://github.com/magento/magento2/issues/22373#issuecomment-487617118) mentions a commit that could be used as a patch if you wanted to go that route but consider the implications mentioned as well if you chose to do that.

[2019-05-18 06:08] Adr79 commented on #7570
We have same issue on magento 2.3.1.
Is this issue being investigated?

[2019-05-18 09:07] craigcarnell commented on #19518
@orlangur Any updates on js bundling improvements?

[2019-05-18 09:20] sudhanshu-bajaj commented on #4432
I was also facing the same issue but it started working for me when I tried to use the STORE CODE in the request rather then using all.

Example:

**REQUEST**
{
  "username": "xyz@gmail.com",
  "password": "xyz@123"
}

**RESPONSE**

 {"message":"You did not sign in correctly or your account is temporarily disabled."}

When I tried using store code:

**REQUEST**
{
  "username": "xyz@gmail.com",
  "

[2019-05-18 11:33] mavajih commented on #22863
@arnoudhgz thanks for suggestion but i tried this api URL /rest/all/V1/products/{sku}/media and it works. I guess, need to use "all" in api url when there are multiple websites/stores in single installation.

Now issue is - Product page's size image is generates but category page's images are not generated automatically when page renders or not pre-generated. I need to run "php bin/magento catalog

[2019-05-18 12:04] arnoudhgz commented on #22863
@mavajih this seems more an issue for your specific installation and not part of this issue. Please ask for help on stackexchange / stackoverflow.

[2019-05-18 12:05] arnoudhgz commented on #22863
Closed since @mavajih found already the solution for his issue.

[2019-05-18 12:05] #22863 closed, assigned to nobody

[2019-05-18 13:06] novikor commented on #18651
@Hoszi , please confirm the issue is fixed in `2.3-develop` now and reopen it if it is not.

[2019-05-18 13:06] #18651 closed, assigned to ElangoLS

[2019-05-18 13:46] mavajih opened #22938 "Products size images are not generating in cache directory"
Products page image are not generating when render page and not pregenerated. I need to run "php bin/magento catalog:images:resize" everytime in magento root.
Issue in generating size images in pub/media/catalog/product/cache/ and i think permission is not an issue since image is showing on category page after product page opens. Please suggest the way with we can automate size image generation in

[2019-05-18 14:08] SeeniBorn commented on #15545
@elioermini  My setting has update on Schedule for catalog search and indexer for Product EAV is Yes.
No clue how the Elastic search overloaded and site get affected.

[2019-05-18 16:29] JanuszWitrykus commented on #21027
@Renu05 Why did you close this bug? In Preconditions I said, that this bug exists in Magento 2.2.7. Have we any patch to fix this bug in 2.2.7? Please, don't test in in 2.3.x, this report does not apply to the version 2.3.x. I hope, that M 2.2.7 is still supported :)

@magento-engcom-team  Can you please confirm, that we have patch to fix this bug in 2.2.x? If not, maybe it can be still open to wa

[2019-05-18 20:45] AlexWorking commented on #22925
Hello @matthiashamacher. Thank You for applying. The current magento's behavior looks to be pretty correct. If You want to equalize Your subtotal with Your total please try to set Your Display Subtotal in Shopping Cart Display Settings to Including Tax instead of Excluding.

[2019-05-19 06:18] ghost opened #22939 "Product custom options date saved less then select date while add to cart"
I have just set the time zone from admin configuration.
Time Zone: Gulf Standard Time (Asia/Muscat) Time Zone Configuration
I have a product which has an option for the delivery date and once I am selecting any date and trying to add to cart at that time always 1 date is minus from selected date and save value is always less than one from a selected date see video for more information Issue Video

[2019-05-19 06:51] krishprakash commented on #22939
@magento-engcom-team give me 2.3-develop instance

[2019-05-19 06:51] magento-engcom-team commented on #22939
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-19 06:52] magento-engcom-team commented on #22939
Hi @krishprakash, here is your [Magento instance](https://i-22939-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22939-2-3-develop.instances.magento-community.engineering/admin](https://i-22939-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-19 07:09] krishprakash commented on #22939
@magento-engcom-team give me 2.2-develop instance

[2019-05-19 07:09] magento-engcom-team commented on #22939
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-19 07:10] magento-engcom-team commented on #22939
Hi @krishprakash, here is your [Magento instance](https://i-22939-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22939-2-2-develop.instances.magento-community.engineering/admin](https://i-22939-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-19 07:30] krishprakash commented on #22939
Hi @navinbhudiya.
I'm not able to reproduce this issue in clean magento instance.
Please provide additional steps for this issue.
Also could you please try to reproduce it on a clean instance of Magento as you described above
![test1](https://user-images.githubusercontent.com/46617848/57979072-0871a900-7a36-11e9-9736-83c7d233f9f0.png)
Thank You.

[2019-05-19 07:36] AlexWorking commented on #22935
Hello @Lumiahna. Thanks for applying. In fact, the feature Your are talking about is present in Magento but only in its Enterprise Edition versions. Please have a look
Community Edition Version:
![CE](https://user-images.githubusercontent.com/27814011/57979130-52c33d80-79d6-11e9-9ddb-778d869abee8.png)
Enterprise Edition Version:
![EE](https://user-images.githubusercontent.com/27814011/57979136-6f5

[2019-05-19 07:47] renard123 opened #22940 "Reset feature does not clear the date"
Reset feature does not clear the date

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
Admin > Marketing > Catalog/Cart price rule > Add New Rule > Fill all data with date > now click on reset > Review all the fields are cleared or not

### Expected result (*)
All fields should be blank.

### Actual result (*)
![date-reset-issue](https://user-images.githubusercontent.com/50658701/579

[2019-05-19 07:57] magento-engcom-team commented on #22940
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99760`, `MAGETWO-99761` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-19 09:31] navinbhudiya commented on #22939
@magento-engcom-team i just re generate issue. see
https://www.loom.com/share/630dccbe928842e18b1cc0fb6d8f853e

sorry i just for 2 things also need to seet this configuration then bug regenerated
1) Catalog configuration  In Date & Time Custom Options **Use JavaScript Calendar** enable it.
2) Set date format for options : dd/mm/YYYY

![download](https://user-images.githubusercontent.com/22772614/5

[2019-05-19 09:33] navinbhudiya commented on #22939
@magento-engcom-team information updated please check

[2019-05-19 09:35] navinbhudiya commented on #22939
@krishprakash i just regenerate bug please check

[2019-05-19 09:59] magento-engcom-team commented on #22939
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99762`, `MAGETWO-99763` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-19 10:03] navinbhudiya commented on #22939
@magento-engcom-team  i had fixed issue in local allready so please assign me i will commit code and create pull request

[2019-05-19 10:12] krishprakash commented on #22939
Assigned.
@navinbhudiya further you can assign your self in the issue.

[2019-05-19 10:14] navinbhudiya commented on #22939
@magento-engcom-team give me 2.3-develop instance
@magento-engcom-team give me 2.2-develop instance

[2019-05-19 10:14] magento-engcom-team commented on #22939
Hi @navinbhudiya. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-19 10:15] magento-engcom-team commented on #22939
Hi @navinbhudiya, here is your [Magento instance](https://i-22939-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22939-2-3-develop.instances.magento-community.engineering/admin](https://i-22939-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-19 10:36] navinbhudiya commented on #22939
@magento-engcom-team @m2-assistant i have Reproduced on 2.3.x issue on https://i-22939-2-3-develop.instances.magento-community.engineering/ please check

[2019-05-19 12:00] navinbhudiya commented on #22939
here module available for fixed issue https://github.com/navinbhudiya/bug-fix-product-options-date-saved-less

[2019-05-19 19:51] pmclain commented on #18787
@magento-engcom-team give me 2.3.1 instance

[2019-05-19 19:51] magento-engcom-team commented on #18787
Hi @pmclain. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-05-19 19:52] magento-engcom-team commented on #18787
Hi @pmclain, here is your [Magento instance](https://i-18787-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-18787-2-3-1.instances.magento-community.engineering/admin](https://i-18787-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-19 20:49] lfolco commented on #22833
Question about password complexity: should that be included in this issue or should it be moved into a separate issue? The two issues are related but are distinct functionality.

[2019-05-19 21:59] kibbyboi commented on #12844
I have this issue after i upgrade my magento to 2.3.1 , can someone help me to resolve it . Thank you

Fatal error: Uncaught Error: Cannot instantiate interface Magento\Framework\Acl\LoaderInterface in /home/edgeexpr/public_html/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php:116 Stack trace: #0 /home/edgeexpr/public_html/vendor/magento/framework/ObjectManager/Factory/Compiled.p

[2019-05-19 22:02] kibbyboi opened #22943 "Fatal error: Uncaught Error: Cannot instantiate interface Magento\Framework\Acl\LoaderInterface"
I have this issue after i upgrade my magento to 2.3.1 , can someone help me to resolve it . Thank you

Fatal error: Uncaught Error: Cannot instantiate interface Magento\Framework\Acl\LoaderInterface in /home/edgeexpr/public_html/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php:116 Stack trace: #0 /home/edgeexpr/public_html/vendor/magento/framework/ObjectManager/Factory/Compiled.p

[2019-05-19 22:16] kibbyboi commented on #22943
I am new to magento i dont know how to reproduce the issue on vanilla magento, if you can show me the way to do it

[2019-05-20 04:21] duyetbv commented on #22928
please give me your plan to fixed this issue
Thanks.

[2019-05-20 04:21] razza12 commented on #15461
Will this be resolved? Am still seeing this issue on 2.3.1

[2019-05-20 04:49] fme-tahir commented on #15675
Hi, any fix for this issue on Magento 2.2?

[2019-05-20 05:28] rifraff63 opened #22945 "Locked out of Admin."
I had super admin rights and was attempting to give my developer the same. Now he nor I have any rights. How can I get back into my site as a super user? I can still get into the admin section with another log in, but it doesn't have all of the rights. HELP!!!

[2019-05-20 05:32] rifraff63 commented on #22945
I'm using Magento 2
Could not reproduce once locked out
Would like to know how to have my rights back

[2019-05-20 07:14] Nazar65 commented on #22943
Hi @kibbyboi
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-05-20 07:14] #22943 closed, assigned to Nazar65

[2019-05-20 07:23] yash7690 opened #22946 "Timezone converts to invalid value"
Magento 2.3.0 converts timezone to invalid value when defining the cron job.

Preconditions (*)
1. Magento community 2.3.0
2. PHP 7.1.25-1+ubuntu16.04.1+deb.sury.org+1

Steps to reproduce (*)
1. Installed Magento 2.3.0 on a system which is having UTC timezone as server time
2. Setup Indian Timezone in Store -> Configuration -> General -> General -> Locale Options -> Timezone, Setup India Standard

[2019-05-20 07:28] sumeetmobiwebtech commented on #3757
@TangLiang

how did you solved ?

[2019-05-20 07:33] Datta commented on #8927
getting same issue in magento EE 2.3.1 after the upgrade.

Fatal error: Uncaught TypeError: Argument 2 passed to Magento\Framework\Stdlib\ArrayManager::set() must be of the type array, null given, called in vendor/magento/module-catalog-staging/Ui/DataProvider/Product/Form/Modifier/ScheduleDesignUpdate.php on line 64 and defined in vendor/magento/framework/Stdlib/ArrayManager.php:72 Stack trace: #

[2019-05-20 07:35] webkul-deepakkumar commented on #22925
@magento-engcom-team give me 2.3-develop instance

[2019-05-20 07:35] magento-engcom-team commented on #22925
Hi @webkul-deepakkumar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-20 07:36] magento-engcom-team commented on #22925
Hi @webkul-deepakkumar, here is your [Magento instance](https://i-22925-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22925-2-3-develop.instances.magento-community.engineering/admin](https://i-22925-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-20 08:05] magento-engcom-team commented on #21842
Hi @david-fuehr. Thank you for your report.
The issue has been fixed in magento/magento2#22805 by @david-fuehr in 2.2-develop branch
Related commit(s):
 - [64682601ec50fb09231de9ff29e51753d8cfd2ef](https://github.com/magento/magento2/commit/64682601ec50fb09231de9ff29e51753d8cfd2ef)
 - [1db265d90369de1a647c8aead9fc7fc600b7008d](https://github.com/magento/magento2/commit/1db265d90369de1a647c8aead9fc

[2019-05-20 08:19] sumeetmobiwebtech commented on #5352
This Issue is also present in magento 2.3 version

![email_custom](https://user-images.githubusercontent.com/27199724/58006574-02e39400-7b06-11e9-84c5-c86d9837a2a1.png)

[2019-05-20 08:21] matthiashamacher commented on #22925
@AlexWorking
So, which meaning have the "Include Tax In Order Total" setting then?
My goal is that the grand total is shown without tax. So in my second screenshot, "Bestellsumme" should be "1205,00 €".
Because the total should be shown without tax, including the tax in the subtotal doesn't solve the problem.

[2019-05-20 08:49] agata-maksymiuk commented on #4688
There is a cron job called every minute.
`<job name="indexer_update_all_views" instance="Magento\Indexer\Cron\UpdateMview" method="execute"><schedule>* * * * *</schedule>`

`public function afterUpdateMview(\Magento\Indexer\Model\Processor $subject)`
this method dispatches event `clean_cache_after_reindex`

and there is observer that cleans Varnish cache for all categories and products.
`    <even

[2019-05-20 09:07] #22935 closed, assigned to AlexWorking

[2019-05-20 09:14] AlexWorking commented on #9851
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-05-20 09:14] #9851 closed, assigned to nobody

[2019-05-20 09:35] magento-engcom-team commented on #22640
Hi @Surabhi-Cedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#22908 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [e5b5bc10ba53634a7b5de257ed10e3fa3d472023](https://github.com/magento/magento2/commit/e5b5bc10ba53634a7b5de257ed10e3fa3d472023)
 - [ae9fa7981ef8925baf8ed8f0914440d700cf70aa](https://github.com/magento/magento2/commit/ae9fa7981ef8925baf8e

[2019-05-20 09:35] #22640 closed, assigned to surabhisrivastava09, mahesh-rajawat

[2019-05-20 09:35] magento-engcom-team commented on #22788
Hi @DigitalStartupUK. Thank you for your report.
The issue has been fixed in magento/magento2#22906 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [a387566bfd91d0dca7c9955dc808e16175842c6a](https://github.com/magento/magento2/commit/a387566bfd91d0dca7c9955dc808e16175842c6a)

The fix will be available with the upcoming 2.2.10 release.

[2019-05-20 09:35] #22788 closed, assigned to gulshanchitransh, mahesh-rajawat, gauravagarwal1001

[2019-05-20 09:49] sumeetmobiwebtech commented on #19615
@emiprotech
How did you Solved?Would you please let us know ?

[2019-05-20 09:51] tnsezer commented on #22928
@magento-engcom-team give me 2.3-develop instance

[2019-05-20 09:51] magento-engcom-team commented on #22928
Hi @tnsezer. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-20 09:52] magento-engcom-team commented on #22928
Hi @tnsezer, here is your [Magento instance](https://i-22928-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22928-2-3-develop.instances.magento-community.engineering/admin](https://i-22928-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-20 09:57] Puru2016 commented on #2666
I am facing the same issue in Magento 2.3.1, To fix this I have follow the below steps:-
- use the page `/var/import` instead of `/pub/media/import`
- Set the full permission of var folder including import folder.
- Confirm respective images are there in import folder.
- Try to import the product using CSV.

Hope that helps you

[2019-05-20 10:08] jorgb90 commented on #22916
@AlexWorking Did you do the steps in the Magento 2 back-end? The initial order was created at the front-end and the re-order of that order was tried in the back-end. We have an almost clean 2.3.1 Magento install, but will try it with an instance here later on, but as said in my previous comment this commit https://github.com/magento/magento2/pull/19272/files fixed our issue.

[2019-05-20 10:24] AlexWorking commented on #22925
Yes @matthiashamacher, precisely - for Your case You need something like "Include Tax In Order Total" setting. But there is no such setting because Grand Total as You called it Yourself in the issue's title cannot exclude anything, not the tax ether. If it were able to it couldn't be called "Grand". Grand Total must always be the end amount the customer has to, so ta say, take out of his or her po

[2019-05-20 10:58] vini1996 opened #22948 "unable to add images in wysiwyg editor"
### Preconditions (*)
1. Magento 2.2.7
2. php 7.14

### Steps to reproduce (*)

1.  catalog -> products -> Add product -> content -> Insert Image

### Expected result (*)

1. image URL should be generated and the image will display.
![expected2](https://user-images.githubusercontent.com/39683802/58016619-b440f480-7b1b-11e9-86ad-c5adbe939e26.png)
![expected3](https://user-images.githubusercontent.c

[2019-05-20 10:59] olivianicholls commented on #9857
Hi there, I am also experiencing this issue. Magento ver. 2.3.0 is installed. Locally there is no issue, the GIFs loop as expected. The issue occurs in either a staging or a live environment. As @aaronware stated above, this issue is very easily reproducible. Please find steps to reproduce below.

**Steps to Reproduce:**
1. Log in to either staging or live environment's backend
1. Add GIF to produ

[2019-05-20 11:34] matthiashamacher commented on #22925
@AlexWorking
Thanks. I rechecked the tax rules settings and tax classes. With setting the "Tax Class for Shipping" to None and the tax class of the product to none for the website, the right grand total (without tax) is shown.

[2019-05-20 11:34] #22925 closed, assigned to nobody

[2019-05-20 11:52] snoroozi commented on #4688
@agata-maksymiuk I imagine the side effect is that you will not be showing up to date information, such as out of stock items still displaying in stock.

[2019-05-20 12:08] pmclain commented on #18787
@magento-engcom-team give me 2.3.1 instance

[2019-05-20 12:09] magento-engcom-team commented on #18787
Hi @pmclain. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-05-20 12:09] magento-engcom-team commented on #18787
Hi @pmclain, here is your [Magento instance](https://i-18787-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-18787-2-3-1.instances.magento-community.engineering/admin](https://i-18787-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-20 12:36] devozanges opened #22949 "Tool for debug block / layouts"
Hi, this post may not exactly follow the desired guidelines but to pass this kind of ideas is probably enough. I think one thing is clear: this old principle of positioning blocks through XML layouts that the different stacks and overloads end up making unreadable is really tedious and counterproductive.

A tool that would make it possible to work more efficiently would be really interesting. A ki

[2019-05-20 13:02] bhavik43 opened #22950 "Spacing issue for Gift message section in my account"
Spacing issue for Gift message section in my account

### Preconditions (*)
Magento 2.3

### Steps to reproduce (*)
1. Admin: Add product with enable gift option
2. Front end: Add to cart product
3. Shopping cart: Add gift option data and place order
4. Review at my order gift option data

### Expected result (*)
Spacing should appropriate.

### Actual result (*)
![test](https://user-images.github

[2019-05-20 13:03] krishprakash commented on #22950
@magento-engcom-team give me 2.3-develop instance

[2019-05-20 13:03] magento-engcom-team commented on #22950
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-20 13:04] magento-engcom-team commented on #22950
Hi @krishprakash, here is your [Magento instance](https://i-22950-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22950-2-3-develop.instances.magento-community.engineering/admin](https://i-22950-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-20 13:07] agata-maksymiuk commented on #4688
Yep this is not a solution but an example.

[2019-05-20 13:09] krishprakash commented on #22950
@magento-engcom-team give me 2.2-develop instance

[2019-05-20 13:09] magento-engcom-team commented on #22950
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-20 13:09] magento-engcom-team commented on #22950
Hi @krishprakash, here is your [Magento instance](https://i-22950-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22950-2-2-develop.instances.magento-community.engineering/admin](https://i-22950-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-20 13:15] magento-engcom-team commented on #22950
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99764`, `MAGETWO-99765` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-20 13:57] a-t-s opened #22952 "Delegated account creation fails with custom attributes present in customer address"
### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1.Create a customer address custom attribute either programmatically (CE) or more convenient via backend in Magento Commerce.
![blocking_test_attr](https://user-images.githubusercontent.com/10349826/58025351-8a380400-7b14-11e9-9784-8837348b5910.png)
2. Checkout without being logged-in / as guest
3. On the success page choose to "cr

[2019-05-20 13:58] orlangur commented on #19518
@craigcarnell not any I'm aware of. Please come to Slack `#app-design` or some frontend-related channel.

[2019-05-20 14:13] a-t-s commented on #22952
Is there a way to get a commerce instance too? This would be the only way to confirm it on your instances via the backend.

[2019-05-20 14:23] jcodo commented on #7199
Is this actually fixed?

[2019-05-20 14:47] syno-bvo commented on #22938
Hi,

There are comments here that seems related : https://github.com/magento/magento2/issues/19710#issuecomment-478573879

[2019-05-20 15:25] pitangaweb commented on #7199
I opened this issue almost 3 years ago. It's good to know that something has finally happened. I know it won't help anybody but I have to say that, after 10 years (!) on Magento, we have finally switched to another e-commerce platform that is actually opened to the possibility that there is life outside North America.

[2019-05-20 15:33] davemacaulay commented on #22776
The issue has been moved into Page Builder repository: https://github.com/magento/magento2-page-builder-ee/issues/63

[2019-05-20 15:45] lucasvm opened #22954 "Autorize.net Payment not loading checkout"
### Preconditions (*)
At this moment we are unable to get this working on a Magento 2.3.1 site

### Steps to reproduce (*)
Upgraded from 2.3.0 to 2.3.1 to use Autorize.net

### Expected result (*)

1. We should be able to accept the payment and go to next step
2.

### Actual result (*)

1. Javascript error
TypeError: a.authData.clientKey is null[Conocer más] AcceptCore.js:1:389
    b https://js.au

[2019-05-20 18:04] umarusaf commented on #15630
In order to get all the options including the last added follow below code. In my case I needed to change the sort order of the options in ascending.
`    public function updateOptions($formattedCode)
    {
        try {
            /**
             * Magento\Catalog\Model\ResourceModel\Eav\AttributeFactory $attribute
             */
            $attribute = $this->eavAttributeFactory->create();

[2019-05-20 19:17] zulus commented on #17784
I upgraded to 2.3.1 and still have empty store_view_code values.

[2019-05-20 21:47] niners52 commented on #15935
@patrick-bigbridge The user did exactly what you mentioned in the original post. They got impatient and hit delete again. I ended up restoring from a previous backup and importing all of the orders that came over since. It was a nightmare.

[2019-05-21 00:32] stephenbori commented on #10071
The issue for me on this one was mod security blocking the ajax page request if this helps anyone.

[2019-05-21 04:16] mohith227 commented on #22169
@magento-engcom-team this issue is their in 2.3.1 kindly give the development instance to check once

[2019-05-21 04:38] siddharth-vaghasia commented on #17813
@DrewML ... applying fixes for 3 files as mentioned is working correctly when we don't have any product in cart.... if we have a single product in cart....product loading still taking to much time...

[2019-05-21 05:42] eliadcohenn commented on #10067
Hey,
How I creating the rule? :
**Add a Tax rate/rule which applies 20% tax to the product**

[2019-05-21 06:18] rokslavec77 opened #22956 "Unable to translate checkout country names"
### Summary (*)

**Magento 2.3-develop**
I want to be able to change the translations for the country options names that display on the checkout shipping and billing address forms. Usual translations through csv don't work.

I have found that the current translations are located in this folder: /vendor/magento/zendframework1/library/Zend/Locale/Data/
I have tried to edit the files inside (even tho

[2019-05-21 06:41] gtrocks commented on #3739
Hi Everyone,

I have installed fresh magento 2.3.1 and its working fine . after data migration  now i am not able to login to my admin , it always showing 404 error

http://ashianadev.co.uk/admin_kksk2233

i have updated  backend 'frontname' to check but still not get any success.

please someone help me to resolve this issue

[2019-05-21 07:12] rokslavec77 commented on #22956
<h3>Summary:</h3>
I want to be able to change the translations for the country options names that display on the checkout shipping and billing address forms. Usual translations through csv don't work.

I have found that the current translations are located in this folder: /vendor/magento/zendframework1/library/Zend/Locale/Data/
I have tried to edit the files inside (even thought its vendor), but i

[2019-05-21 07:14] rokslavec77 commented on #22956
Reproduced on 2.3.x
Reproduced on 2.2.x

[2019-05-21 07:21] patrick-bigbridge commented on #15935
@niners52 Yes this is terrible having to restore all those orders.

But, did you say orders? My original post is not about orders. It is about products. Now it is true that the bug mentioned here applied to other grids as well (it is a generic grid problem). But (mass) deleting orders is not a standard Magento feature.

Do you have an extension installed that allows the user to do this, or do you

[2019-05-21 07:25] gtrocks commented on #5174
Hi @magento-engcom-team ,

i have followed the correct repository but still getting this issue . https://github.com/magento/data-migration-tool.

can you please check this

http://ashianadev.co.uk/admin_kksk2233

[2019-05-21 07:26] gtrocks opened #22957 "after data migration admin goes to 404"
### Preconditions (*)

1.i have installed magento 2.3.1 and migrated data from magento 1.9.1.1 to magento 2.3.1
2.

### Steps to reproduce (*)

1. after migrating multi-store site admin goes to 404
2.

### Expected result (*)

1 . able to see admin page and login to admin

### Actual result (*)

1. 404 page on admin
http://ashianadev.co.uk/admin_kksk2233 , please check and help me to resolve this

[2019-05-21 07:32] gtrocks commented on #22957
Hi @magento-engcom-team ,

Updated issue correctly

[2019-05-21 07:32] syno-bvo commented on #7862
I think I know this error and I solved it by the following patch :

`--- a/vendor/magento/module-translation/Model/Json/PreProcessor.php
+++ b/vendor/magento/module-translation/Model/Json/PreProcessor.php
@@ -77,11 +77,12 @@ public function process(Chain $chain)
             if ($context instanceof FallbackContext) {
                 $themePath = $context->getThemePath();
                 $areaCod

[2019-05-21 07:51] duyetbv commented on #22928
ok @magento-engcom-team
let me know once fixed
Thanks

[2019-05-21 07:57] tnsezer commented on #22928
working on it

[2019-05-21 08:42] mauveine commented on #22079
@engcom-backlog-nazar
I've tried to apply your fix and I still have the issue.
Magento 2.3.1 with PHP7.1

[2019-05-21 08:51] AlexWorking commented on #22957
Hello @gtrocks, thanks for applying. There could be several reasons for admin page going 404. And they are noty technical issues. Probably here You can find the answer to Your problem: https://magento.stackexchange.com/questions/133679/404-not-found-error-for-admin-page. If You still do not obtain the answer then it's probably some techncal issue. But if that's the case please reopen Your issue on

[2019-05-21 08:51] #22957 closed, assigned to nobody

[2019-05-21 08:54] AlexWorking commented on #22748
Hi @vini1996. The contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-05-21 08:54] #22748 closed, assigned to AlexWorking

[2019-05-21 09:00] JohanRoberthsonAteles opened #22958 "Cant have product attributes with long codes"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Go into Magento Admin and add a new Product Attribute.(Stores / Attributes Product / Add New Attribute)
2. Set the attribute code to "strange_attribute_name_not_working".
3. The attribute could not be saved.  The information to this field is "This is used internally. Make sure you don't use spaces or more than 60 symbols."
Att

[2019-05-21 09:01] ajijshekh123 commented on #22948
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-05-21 09:01] magento-engcom-team commented on #22948
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-21 09:02] magento-engcom-team commented on #22948
Hi @ajijshekh123, here is your [Magento instance](https://i-22948-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22948-2-3-develop.instances.magento-community.engineering/admin](https://i-22948-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-21 09:13] ajijshekh123 commented on #22948
Give me @magento-engcom-team give me 2.2-develop instance.

[2019-05-21 09:13] magento-engcom-team commented on #22948
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-21 09:14] magento-engcom-team commented on #22948
Hi @ajijshekh123, here is your [Magento instance](https://i-22948-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22948-2-2-develop.instances.magento-community.engineering/admin](https://i-22948-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-21 09:21] ajijshekh123 commented on #22948
The issue does not reproduce in Magento 2.3 Instance:

See attached the screenshot:

![2 3_1](https://user-images.githubusercontent.com/24711761/58083994-acdf2100-7bd7-11e9-8dd3-67e6dc6abb26.png)

![2 3_2](https://user-images.githubusercontent.com/24711761/58083996-acdf2100-7bd7-11e9-84aa-85e1783c9491.png)

Issue reproduced in Magento 2.2 Instance.

See attached the screenshot:

![2 2_1](https://u

[2019-05-21 09:22] magento-engcom-team commented on #22948
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99777` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-21 09:44] AlexWorking commented on #22948
Dear @ajijshekh123. Please, next time, do not assign to Yourself issues for confirmation if they are already assign to somebody else. There are plenty of open unassigned issues You may chose among. Thank You.

[2019-05-21 10:02] agata-maksymiuk commented on #5980
The same issue here. Clearing all varnish cache both from command line and admin panel works fine. But it does not work for tags - single product or category.

I've found an error in ```var/log/system.log``` (why it's not exception.log? seems like "happy debugging suckers") ```A valid response status line was not found in the provided string```

The error is thrown in
```\Zend\Http\Response::parse

[2019-05-21 10:06] ajijshekh123 commented on #22948
@AlexWorking - In this issue, you are not working for the last 22 hours that's why I have verified the issue.

[2019-05-21 10:07] xnhinzkyx opened #22960 "Error after upgrade to 2.3.1 from 2.2.5"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

Frontend:
1. Login to account with previous orders.

Backend:
1. Login admin account and go to Customers->All Customers
2. Click customer account and go to Orders tab.

### Expected result (*)

Frontend:
1. Shows customer details like orders, address, etc.

Backend:
1. Shows customer details and orders.

### Actual result (*)

1.

[2019-05-21 10:14] khasru commented on #14582
I could fix this issue by checking store code as follow

In this file

So, for this i created a custom module

[2019-05-21 10:29] agata-maksymiuk commented on #5980
Also - if you use basic auth - make sure your Varnish IP is excluded from basic auth.

[2019-05-21 10:53] tnsezer commented on #22928
I created pull request but it created new issue, someone needs to merge that issue with this issue
https://github.com/magento/magento2/pull/22959

[2019-05-21 10:59] menphis89 commented on #16079
Hi, I looked carefully if it was all correct in my magento as you describe in the following interventions and it is! Except that it doesn't translate this thing troubles me, the More button I can't translate it in any way...
i have magento:
    Magento 2.3.0
    PHP 7.1
    MySQL 5.7

in the file: /vendor/magento/module-swatches/view/frontend/web/js/swatch-renderer.js
moreButtonText: $t('More'), i

[2019-05-21 12:03] DanielRuf commented on #7165
If your env.php file is modified by any other process and has the `return 1;` line you can remove it as a workaround or recover an empty env file which has only this line like in https://github.com/magento/magento2/issues/7165#issuecomment-265120173

This is a bug due to race conditions and missing locks and too many processes which access and write to the env file.

[2019-05-21 12:04] GrishmaNayee opened #22961 "Detail page_When the 'More Information' tab is open, the screen focus is not displayed properly."
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Open Default Magento Front end in Mobile view.
2. Select Women Category > Jackets Subcategory.
3. Click on any product > Open the details page.
4. Click on details tab > Open the description content properly.
5. Click on More Information tab > Application focus is not displayed in a proper position.

### Expected result (*)

 Ap

[2019-05-21 12:06] ajijshekh123 commented on #22961
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-05-21 12:06] magento-engcom-team commented on #22961
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-21 12:06] magento-engcom-team commented on #22961
Hi @ajijshekh123, here is your [Magento instance](https://i-22961-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22961-2-3-develop.instances.magento-community.engineering/admin](https://i-22961-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-21 12:27] ajijshekh123 commented on #22961
Give me @magento-engcom-team give me 2.2-develop instance

[2019-05-21 12:27] magento-engcom-team commented on #22961
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-21 12:28] magento-engcom-team commented on #22961
Hi @ajijshekh123, here is your [Magento instance](https://i-22961-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22961-2-2-develop.instances.magento-community.engineering/admin](https://i-22961-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-21 12:30] GrishmaNayee opened #22962 "While adding product to cart as guest user same form key displaying for two different sessions."
### Preconditions
1. Magento CE 2.2.2 with sample data installed
2. Cache enabled

### Steps to reproduce
1.Navigate to the product detail page in the browser
2. Check the form key.
3. Open the same page on the incognito window and verify the form key.

### Expected result
1. Form_key should be different for different sessions.
### Actual result
1. Displaying the same form key for two different gu

[2019-05-21 12:32] rammohan-krish commented on #22962
Hello @AlexWorking, why I am unassigned may I know the reason, please

[2019-05-21 12:39] TonyRutherford1 commented on #15427
Same issue 2.3.1, customers complaining as orders are being missed. Any update on this bug?

[2019-05-21 12:40] magento-engcom-team commented on #22961
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information i

[2019-05-21 12:40] ajijshekh123 commented on #22961
@GrishmaNayee  I have verified this issue Magento 2.2 and 2.3 instances in mobile view but I haven't found this issue. If you found this issue in specific device please let me know.
I have reproduced this issue in iPhone 7.

[2019-05-21 12:40] #22961 closed, assigned to nobody

[2019-05-21 12:45] ajijshekh123 commented on #22961
@GrishmaNayee fell free to reopen this issue when you will be ready to provide more details and we will review it and confirm

[2019-05-21 12:53] AlexWorking commented on #22962
Hello, @rammohan-krish. Would You please answer me first (please look a bit above:
![assign](https://user-images.githubusercontent.com/27814011/58097599-7954c480-7be0-11e9-9da4-ba830993000b.png)) Tank You.

[2019-05-21 12:59] rammohan-krish commented on #22962
@AlexWorking oops, My mistake seems like a difference in milliseconds time while assigning.
I didn't see your name while assigning it to my self.
Anyway, you can go head with issue verification.
**ALL THE BEST**

[2019-05-21 13:02] AlexWorking commented on #22962
@rammohan-krish That's Ok. Thank You for understanding.

[2019-05-21 13:08] VasylBudnik opened #22963 "Magento_Backend modules search and filter in sales_order_create"
### Preconditions (*)

1.Magento ver. 2.2.2 EE

### Steps to reproduce (*)

1. Replicate > Sales >Orders>Create New order>use filters to search for a customer

### Expected result (*)

1. Get filter list of customer

### Actual result (*)

1. Make filter and go next page

[2019-05-21 13:20] AlexWorking commented on #22962
Hello @GrishmaNayee. Thanks for reporting. Currently we've been not able to reproduce Your issue on 2.3-develop version. Could You please try do it by Yourself as You are advised to
![Advised](https://user-images.githubusercontent.com/27814011/58099291-051c2000-7be4-11e9-81de-d3f2ca47fc57.png)
Thank You.

[2019-05-21 13:21] ketantambekar commented on #3827
Thanks  minlare

[2019-05-21 13:36] VasylBudnik commented on #22963
### Solution
1. In vendor/magento/module-backend/view/adminhtml/templates/widget/grid.phtml
`
                                <button  title="<?= /* @escapeNotVerified */ __('Next page') ?>"
                                        class="action-next"
                                        onclick="<?= /* @escapeNotVerified */ $block->getJsObjectName() ?>.setPage('<?= /* @escapeNotVerified */ ($_c

[2019-05-21 14:02] AlexWorking commented on #22948
@ajijshekh123 The matter is You can not know whether I'm working on the issue or not. You only can see when I make changes / adds to it. Please note these are not the same things. You may see If I have stoped working on a ticket as I will have unassigned it from myself, just for example, as You did it in #22925. You see I had not self-assigned that issue until You removed Your assignment. Lets res

[2019-05-21 14:14] niners52 commented on #15935
@patrick-bigbridge Sorry I worded that poorly. It was the products that were deleted. What I ended up doing was restoring to a previous version of the site since that had all of the products.

The problem with that restore was when I did that I lost all of my most recent orders over the last 5 days since the restore was from before that so I had to export and reimport those.

[2019-05-21 14:25] heldchen commented on #19597
I have debugged this extensively today. the problem is that some core modules use db_schema.xml to define a foreign key contraint, but then _also_ have schema-recurring scripts that changes the constraints again. so each time a db-schema update is done, constraints are created, then removed, and other constraints created again.

as an example the module `magento/module-bundle`:
1. the db-schema de

[2019-05-21 14:32] evs-xsarus commented on #19578
@liam-wiltshire I have the same issue, did you solve this and can you provide example code?

[2019-05-21 14:41] patrick-bigbridge commented on #15935
Thanks. Terrible that this bug still exists. Could not reproduce it myself though.

[2019-05-21 15:21] ionutturdean commented on #22567
Hi,
I have the same issue.
vendor/magento/module-catalog/Model/Product/Type/FrontSpecialPrice.php:117
I have noticed store zero is harcoded:
Original function:
private function isSuitableSpecialPrice($product, array $price): bool
    {
        $priceStoreId = $price[Store::STORE_ID];
        if (($priceStoreId == Store::DEFAULT_STORE_ID || $product->getStoreId() == $priceStoreId)
            && $p

[2019-05-21 15:23] heldchen commented on #19597
`ExternalFKSetup` should only create missing foreign keys without deleting unrelated ones. here's a patch that does just that:

[code]
this patch is not sufficient to get `setup:db:status` working ok, more changes are required as the `ExternalFKSetup` foreign keys are being removed by the db_schema installer on the next run.

for my case, all the offending modules created FKs with `xxxx_SEQUENCE_V

[2019-05-21 15:46] shikhamis11 commented on #22927
hello @Barakur
thanks for your report this issue is already confirmed you can check
#17592 #21640

[2019-05-21 15:55] orlangur commented on #7199
@pitangaweb I bet such platform does not have even 50% of Magento abilities and has it's own pitfalls 😉

[2019-05-21 15:57] shikhamis11 commented on #22923
@kamranbhutto I am closing this issue since this is not reproducible . Please share more details about the issue if you think it still exits, also please check the same on 2.3-develop instanace If you find issue Please also share screenshot

[2019-05-21 15:57] #22923 closed, assigned to shikhamis11

[2019-05-21 16:06] shikhamis11 commented on #22797
Hello @craigcarnell
sorry for delay in response , I think you must move the issue into feature request so that It must process faster https://github.com/magento/community-features/issues

[2019-05-21 16:17] shikhamis11 commented on #13957
@magento-engcom-team give me 2.3-develop instance

[2019-05-21 16:18] magento-engcom-team commented on #13957
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-21 16:18] magento-engcom-team commented on #13957
Hi @shikhamis11, here is your [Magento instance](https://i-13957-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-13957-2-3-develop.instances.magento-community.engineering/admin](https://i-13957-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-21 16:45] pitangaweb commented on #7199
@orlangur
Every platforms have their pitfalls for sure.

"I bet such platform does not have even 50% of Magento abilities"

Well, almost 3 years to finally have a basic feature like price filtering fixed does not inspire me to explore the other 50%.

[2019-05-21 16:53] jaxtheking commented on #12165
Same problem here, just as @goranhorvathr
I'm on 2.3.1 and I've added an imagechooser field to a custom widget. I save it and it works.
As soon as I toggle the editor, the double quotes for the media url get converted to &quot; and the widget breaks. :(

[2019-05-21 17:10] shikhamis11 commented on #13957
It seems this issue is already fixed so closing this one

[2019-05-21 17:10] #13957 closed, assigned to shikhamis11

[2019-05-21 17:33] mattlucian commented on #9186
I discovered that if you pass a "null" value in the PUT request for the default store, it will override the current value to be "use default value"

`PUT` - `{domain}/rest/default/V1/products/{sku}`

    {
        "product": {
            "name": "Storeview test name",
            "visibility" : null
        }
    }

After this request - regardless of what `visibility` was prior on the product - i

[2019-05-21 17:59] Nazar65 commented on #19220
HI here, actually this is configuration issue about mysql.
Translation: by default, MySQL 5.5 will “meta-block” for 1 year!  In my humble opinion, this is a bug, especially given the various subtle and sometimes quiet ways that metadata locking can lock the server.  The default for innodb_lock_wait_timeout, by comparison, is 50 seconds.  That’s reasonable, but 31536000 is not.  I would only set a

[2019-05-21 18:18] sidolov commented on #18651
Hi @Hoszi. Thank you for your report.
The issue has been fixed in magento/magento2#22936 by @novikor in 2.2-develop branch
Related commit(s):
 - [1cb2f22a7e898b925a736f00794e1b41dbce9026](https://github.com/magento/magento2/commit/1cb2f22a7e898b925a736f00794e1b41dbce9026)
 - [f8022f8ccbff824570f857fa25fc09400804084a](https://github.com/magento/magento2/commit/f8022f8ccbff824570f857fa25fc0940080408

[2019-05-21 19:16] rikwillems commented on #22112
I traced my appearance of this issue, on 2.2.8, to the file vendor/magento/module-checkout/view/frontend/web/js/model/shipping-rates-validator.js line 200.
Commenting this line fixes the issue and doesn't seem to have any other negative effect.

I notice that when being logged in and having an empty local storage the issue appears. After reloading the checkout the selected address remains selected

[2019-05-21 19:56] ioweb-gr opened #22964 "Unable to save any dates if the user interface locale is not english (US) in 2.3.1"
### Preconditions (*)
1. Magento 2.3.1
2. A user with interface locale set to Greek

### Steps to reproduce (*)
1. Create a product using the user that has interface locale set to Greek.
2. Add any date value, news_from_date, news_to_date, special_price_from_date, special_price_to_date
3. Save the product

### Expected result (*)
1. The product is saved correctly with the new date.

### Actual res

[2019-05-21 19:56] ioweb-gr commented on #22964
@magento-engcom-team give me 2.3-develop instance

[2019-05-21 19:57] magento-engcom-team commented on #22964
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-21 19:58] magento-engcom-team commented on #22964
Hi @ioweb-gr, here is your [Magento instance](https://i-22964-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22964-2-3-develop.instances.magento-community.engineering/admin](https://i-22964-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-21 20:03] ioweb-gr commented on #22964
Reproduced on demo instance.

![image](https://user-images.githubusercontent.com/20220341/58126820-8f807600-7c1c-11e9-864a-733baa231346.png)

[2019-05-21 21:12] rrrspirit commented on #10485
I am also having this issue after upgrading to 2.3.1 . I can not save modifications on special prices, as I get "Invalid input datetime format of value '5/08/2019'" error.

[2019-05-21 21:46] Karlasa commented on #16079
@menphis89
I have M2.3-dev branch
created new conf product
created new it_IT language pack
added phrase into app/i18n/Test/it_IT/it_IT.csv file
run setup:upgrade
changed store language into Italy and cleaned cache
works as expected.
<img width="594" alt="Screen Shot 2019-05-22 at 00 45 32" src="https://user-images.githubusercontent.com/5417554/58132802-ee4cec00-7c2a-11e9-8c3e-cbba146b29e3.png">

[2019-05-21 23:08] baskettcase commented on #21666
Yes Im having this issue in 2.3.1 also

[2019-05-21 23:52] orlangur commented on #7199
@pitangaweb it could be fixed by proper third-party developers if needed pretty quickly, probably not fixed by core developers because it is not a really frequent use case.

Anyway, good luck with a new platform of your choice and thanks for a bug report, such tiny steps help to improve Magento platform for sure.

[2019-05-22 00:01] orlangur commented on #22964
@ioweb-gr it's better to search for closed issues and reopen them to track regressions better.

https://github.com/magento/magento2/issues/9743 seems one of those, is it reproducible again? Is this issue introduced by 2.3.1 and not present in 2.3.0?

[2019-05-22 02:11] gtlt opened #22966 "store cookie saved on wrong storeview subdomain by using language switcher"
### Preconditions (*)

Magento CE 2.3.1
php : 7.2.18
nginx : 1.15.2
Full page cache : Built In

nginx config to simulate subdomains on localhost :
[code]

### Steps to reproduce (*)

1. setup 1 website / 1 store / multi storeviews
2. setup each base url storeview on a subdomain
3. keep cookie path and cookie domain empty

English - code : en - base url : www.test.localhost
French - code : fr - bas

[2019-05-22 02:13] gtlt commented on #22966
give me @magento-engcom-team give me 2.3.1 instance

[2019-05-22 02:13] magento-engcom-team commented on #22966
Hi @gtlt. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-05-22 02:14] magento-engcom-team commented on #22966
Hi @gtlt, here is your [Magento instance](https://i-22966-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22966-2-3-1.instances.magento-community.engineering/admin](https://i-22966-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-22 03:27] ioweb-gr commented on #22964
@orlangur For me it was never fixed in the first place. I can't seem to be able to track this issue that made me open a new one now, but it was a closed ticket with a few replies spaning over a year that the issue still persists.

I mean if noone reopened that ticket after a year or so, I kinda gave up on reopening closed issues.
Also I've tried to comment on a newer one #13112 which was for 2.2 v

[2019-05-22 03:49] farhangithub27 opened #22967 "Admin Menu doesn't slide out and configuration menue doesnt open"
### Preconditions (*)

1.Magento 2.3.1
2.Ubuntu 18.04.2 LTS
3. PHP 7.2.17

Working in dev environment and and enabled few optimization parameters which made admin panel inaccessible and buttons were don't appear correct with proper text , appears shrinked.
Admin panels don't draw out even if does then none of the buttons registers a click and hence I'm not able to change the configurations back.

[2019-05-22 04:50] nickpiro commented on #21985
@kamzata just tested some of your theories.

When I test the URL with ?d1=1 or ?dl=0 parameter, I don't even get redirected to Dropbox.

When I remove the ?dl=0 or ?dl=1 I am redirected to Dropbox, but the download fails on the Dropbox side!

[2019-05-22 05:09] ankursachdeva11 commented on #22781
@irajneeshgupta , I know about API response body and status code. Which is working as expected.

I want to know the reason behind giving empty response [].
No error when SKU is incorrect.

if we post multiple source-item updates in a single request and one source is incorrect then it will fail the whole request. why?

[2019-05-22 05:15] ajijshekh123 commented on #22948
Okay,  Thanks.

[2019-05-22 05:22] GrishmaNayee commented on #22962
It's reproducing in 2.2 and 2.3 instances.

[2019-05-22 05:24] rammohan-krish commented on #22962
Hello @GrishmaNayee , investigated on this issue, it is a valid issue but it is duplicate of #13746.
for your reference please verify the following link:
https://github.com/magento/magento2/issues/13746.
I am closing this issue, you can track the updates on the above-mentioned issue link.

[2019-05-22 05:24] #22962 closed, assigned to nobody

[2019-05-22 05:42] bhavik43 opened #22968 "Scroll in remove product popup in responsive view in compare/mini cart page."
scroll in remove product popup in responsive view in compare/mini cart page.

### Preconditions (*)
magento 2.2

### Steps to reproduce (*)
1. Front end: Add to compare product/Add to cart product
2. Compare page/mini cart
3. Click on remove icon
4. Review the popup horizontal scroll

### Expected result (*)
![scroll expected](https://user-images.githubusercontent.com/49804008/58149831-2b909880-7c

[2019-05-22 05:42] krishprakash commented on #22968
@magento-engcom-team give me 2.2-develop instance

[2019-05-22 05:43] magento-engcom-team commented on #22968
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-22 05:43] magento-engcom-team commented on #22968
Hi @krishprakash, here is your [Magento instance](https://i-22968-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22968-2-2-develop.instances.magento-community.engineering/admin](https://i-22968-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-22 05:48] krishprakash commented on #22968
@magento-engcom-team give me 2.3-develop instance

[2019-05-22 05:48] magento-engcom-team commented on #22968
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-22 05:49] magento-engcom-team commented on #22968
Hi @krishprakash, here is your [Magento instance](https://i-22968-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22968-2-3-develop.instances.magento-community.engineering/admin](https://i-22968-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-22 05:59] magento-engcom-team commented on #22968
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99791` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-22 06:20] farhangithub27 commented on #22967
Hi, I have found problem. Change Embedded JS translation strategy to Dictionary. AS upon inspection I was getting alot of i18n related js error in browser.

[2019-05-22 06:44] GrishmaNayee opened #22969 "Listing page _ sort by text is getting crop"
### Preconditions
1. Magento 2.3 with sample data installed
2. Open site in mobile view(320*568)
2. The listing page should be opened.

### Steps to reproduce
1. Go to home page -> Navigate to the listing page
2. Review shop by drop down and sort by text

### Expected result
Sort by text should not crop in between dropdowns
### Actual result
Should have some space between shop by & sort by drop do

[2019-05-22 07:04] jcodo commented on #7199
Can anyone here suggest how this new functionality might be switched on or configured? Can't work it out.

[2019-05-22 08:01] sumeetmobiwebtech commented on #19247
@VZeroCool
aftr try to fix uploader then getting error in console - Uncaught ReferenceError: Base64 is not defined

Anyone is there how solved it ?

[2019-05-22 08:04] orlangur commented on #22964
@ioweb-gr well, it is simply impossible, unless anybody finds such issue and reopens it or if we have a proper end-to-end functional test covering this scenario.

[2019-05-22 08:10] williankeller commented on #22969
Hi @GrishmaNayee,
Thanks for your request, we already have this issue tracked and fixed.
Issue: https://github.com/magento/magento2/issues/20124.
Pull request: https://github.com/magento/magento2/pull/20135.
Commit: https://github.com/magento/magento2/commit/11af87753f43c38d95c373a046ed9490cc2f88e3

[2019-05-22 08:12] #22969 closed, assigned to williankeller, rammohan-krish

[2019-05-22 08:13] orlangur commented on #13112
Such issue definitely shouldn't require more than a year to be fixed. Triggering re-check.

[2019-05-22 08:35] abhisekumar commented on #22036
Yes its works .. Direct path will be
**/public_html/new/magento/vendor/magento/module-catalog/Block/Product/View**

[2019-05-22 08:35] ioweb-gr commented on #22964
Only collaborators can reopen issues they closed though so it's out of out hands but one choice would be to mark the duplicates when found and reopen the originals I guess in such cases.

I'm sure you agree that since we can't reopen them, and commenting on the closed is never read, our only option as users is to raise a new issue

[2019-05-22 08:40] JungleHi commented on #15376
@ankurAuriga Just tested. The issue is fixed in Magento 2.3.1

[2019-05-22 08:50] rav-redchamps commented on #13466
Hey Guys,

This extension should solve the problem.

https://redchamps.com/invoice-email-magento-2-extension.html

[2019-05-22 09:31] himanshu-tech opened #22970 "Reindexing issue after upgrading to magento 2.3"
### Preconditions (*)

1. Install magento 2.2.x
2. Make custom multiselect product attribute with souce model

### Steps to reproduce (*)

1. Upgrade above magento2.2.x to magento2.3.1
2.Reindex Data

### Expected result (*)

1. Successful reidexing should happen for all indexers.

### Actual result (*)

1. Got error while reindexing Product EAV(catalog_product_attribute). The error which I got is

[2019-05-22 09:40] magento-engcom-team commented on #22786
Hi @serhiyzhovnir. Thank you for your report.
The issue has been fixed in magento/magento2#22873 by @serhiyzhovnir in 2.2-develop branch
Related commit(s):
 - [d4553a2234bd8c35374f2b474864c7f4f826fb65](https://github.com/magento/magento2/commit/d4553a2234bd8c35374f2b474864c7f4f826fb65)
 - [3ccf72bd952a6087092e711347d89599ca16ab7b](https://github.com/magento/magento2/commit/3ccf72bd952a6087092e7113

[2019-05-22 09:40] #22786 closed, assigned to serhiyzhovnir

[2019-05-22 09:40] magento-engcom-team commented on #19761
Hi @jaimin-ktpl. Thank you for your report.
The issue has been fixed in magento/magento2#22180 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [d23dd1ed5df664dcfbe79106058049e7e0b1e7fc](https://github.com/magento/magento2/commit/d23dd1ed5df664dcfbe79106058049e7e0b1e7fc)
 - [60034d5540bb959c5bf724b0f18c9fb962dc49e4](https://github.com/magento/magento2/commit/60034d5540bb959c5bf724b0f

[2019-05-22 09:55] kamzata commented on #21985
Yeah, exactly. You're right. Dropbox URL with ?d1=1 or ?dl=0 parameter fail and don't even redirected to Dropbox meanwhile without parameters redirect to Dropbox but the download fails on the Dropbox side. So, even this latter, doesn't work either.

[2019-05-22 10:00] alepane21 commented on #21993
If someone need a fast patch for Magento 2.2 (should also work on 2.3): https://github.com/Hevelop/magento2-patches/blob/master/Patch-Magento_Config-2.2.8-fix-config-set.diff

[2019-05-22 10:28] esseremmerik opened #22971 "Report search terms csv export"
### Preconditions (*)

Magento 2.2.7

### Steps to reproduce (*)

1. Setup Magento with multiple stores and views
2. Choose Report->Sales terms->export to CSV

### Expected result (*)

1. A valid CSV file containing all search terms

### Actual result (*)

1. A CSV is generated with an incorrect format, the storeview column contains invalid cr/lf lines. The system should not include cr/lf combinat

[2019-05-22 10:29] esseremmerik commented on #22971
@magento-engcom-team give me 2.3-develop instance

[2019-05-22 10:29] magento-engcom-team commented on #22971
Hi @esseremmerik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-22 10:30] magento-engcom-team commented on #22971
Hi @esseremmerik, here is your [Magento instance](https://i-22971-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22971-2-3-develop.instances.magento-community.engineering/admin](https://i-22971-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-22 10:34] esseremmerik commented on #22971
Just reproduced this issue on 2.3-develop instance
![image](https://user-images.githubusercontent.com/3390371/58168194-f12cf880-7c8d-11e9-8e9f-a16622ad5311.png)

[2019-05-22 10:46] karangar commented on #16737
I am facing same Problem in magneto 2.2.8

[2019-05-22 10:48] krishprakash commented on #22971
Hi @esseremmerik,
I'm not able to reproduce this issue.
PFA
![image](https://user-images.githubusercontent.com/46617848/58168895-01a09b80-7cad-11e9-8e26-d44770d4fc4f.png)
Can you please explain with more detail with proper reproducible steps.
Thank you.

[2019-05-22 10:48] karangar commented on #16737
@magento-engcom-team give me 2.2-develop instance

[2019-05-22 10:48] magento-engcom-team commented on #16737
Hi @karangar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-22 10:49] magento-engcom-team commented on #16737
Hi @karangar, here is your [Magento instance](https://i-16737-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-16737-2-2-develop.instances.magento-community.engineering/admin](https://i-16737-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-22 10:51] esseremmerik commented on #22971
Hi @krishprakash. Your screenshot looks like an excel view. Probably Excel can "fix" this issue automagically, but if you open the file with a plain file editor, you see the issue. Rows should be on 1 line, the CSV has rows over multiple lines.

[2019-05-22 10:54] logicallimit opened #22972 "Magento 2.3.1 installation gives 500 error"
Summary of the issue:
On a new installation of Magento CE 2.3.1, I get 500 error when I access my development sub-domain.

Information on the environment:
OS Name: CentOS Linux release 7.6.1810 at Digital Ocean
Using Varnish Cache Server and Nginx Reverse Proxy

### Steps to reproduce (*):
1. Uploaded Magento 2.3.1 CE zipped file to development subdomain root
2. Extracted it
3. Accessed developmen

[2019-05-22 10:58] vincentwinkel commented on #4019
Why this ticket is closed?
v20.14 and I also have the bug. The only workaround is to fetch orders 1 by 1. You really think we want to do this?
Please give us an update / patch / solution / viable workaround ASAP.

[2019-05-22 10:58] NikZar opened #22973 "Magento 2.3 - Country Options vs Customer Account Sharing Options"
### Preconditions (*)
Server config:
Ubuntu 16.04 LTS
MySql 5.7.26
Apache 2.4.18
PHP 7.2.18

In a Magento 2.3.0 installation we configured multiple stores (each one as its own custom prices).
We have 15 stores for each country (plus a "world" store for all the remaining countries).

In the single country stores configuration we configured as an allowed and default country (in the Country Options)

[2019-05-22 11:32] krishprakash commented on #22971
Opened with Notepad,N++ but not able to reproduce.
![image](https://user-images.githubusercontent.com/46617848/58171330-6828b800-7cb3-11e9-9bd4-26fd4d8fd696.png)

[2019-05-22 11:38] eliademoga commented on #22938
Hi,
we have exactly the same problem after a recent upgrade from Magento 2.2.5 to Magento 2.3.1.
After any .csv import we see the images in the back-end, but no resized image is created in the cache/ folder. We even saved the products again after the import, but again with no success.
Fortunately "php bin/magento catalog:images:resize" does the job, but running that for over 9000 images every time

[2019-05-22 12:13] AlexWorking commented on #22952
Hello @a-t-s. Thanks for reporting. We've got an incorrect behaviour following the steps You provided but somewhat another. When we choose password and submit form we are simply getting a blank page. Customer is not created. But we don't see fatal errors anywhere nether in the logs nor on that blank page providing the developer mode is enabled. Could You please guide us to where You get it? Thank

[2019-05-22 12:39] AlexWorking commented on #22916
@jorgb90 Itried all the variations with the reorder including the one You've mentioned above - no result. Probably the issue was fixed with some commit (not the one You are talking about. That one wasn't merged). In order to close this issue or confirm it Your help is needed. Please try with @magento-engcom-team give me 2.3-develop instance - upcoming 2.3.1. Thank You.

[2019-05-22 12:39] magento-engcom-team commented on #22916
Hi @AlexWorking. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-22 12:39] magento-engcom-team commented on #22916
Hi @AlexWorking, here is your [Magento instance](https://i-22916-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22916-2-3-develop.instances.magento-community.engineering/admin](https://i-22916-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-22 13:00] renard123 opened #22974 "empty space display below footer in search term page"
empty space display below footer in search term page

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
A. Front end -> Add 6-7 different product to the cart
B. Search Term page -> Open floating cart and scroll down to footer
C. Displaying empty space below footer

### Expected result (*)
Empty space should not display after footer.

### Actual result (*)
![image](https://user-images.g

[2019-05-22 13:01] krishprakash commented on #22974
@magento-engcom-team give me 2.2-develop instance

[2019-05-22 13:01] magento-engcom-team commented on #22974
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-22 13:02] magento-engcom-team commented on #22974
Hi @krishprakash, here is your [Magento instance](https://i-22974-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22974-2-2-develop.instances.magento-community.engineering/admin](https://i-22974-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-22 13:09] esseremmerik commented on #22971
Hi @krishprakash, your screenshot is actually confirming the issue instead of not reproducing it.
It should be on one line, so the file should contain 4 lines, 1 title row and 3 data rows. Your screenshot is showing 10 lines, 3 lines per data row.

[2019-05-22 13:13] magento-engcom-team commented on #22974
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99797`, `MAGETWO-99798` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-22 13:44] AlexWorking commented on #22958
Hello @JohanRoberthsonAteles. Unfortunately we've been not able to reproduce Your issue on 2.3-develop version. Please look whether we've done everything correctly:
![attributelong](https://user-images.githubusercontent.com/27814011/58179295-922cab00-7cb0-11e9-986f-74e660b89da8.png)
The result is:
![attributelongsuc](https://user-images.githubusercontent.com/27814011/58179318-a1135d80-7cb0-11e9-9a

[2019-05-22 13:51] wclrz commented on #13440
Any update on this? Can't believe this is still not working in Magento 2.3.x …

[2019-05-22 13:59] James-Hall195 opened #22975 "Magento 2.3 URL keys regenerate on import"
### Preconditions (*)
1. Magento 2.3.0
2. Import Functionality

### Steps to reproduce (*)
1. Mass update products with no "url_key" header present (only "sku","description") using the import feature. (I have tested this on other builds of Magento, and cannot reproduce it)

### Expected result (*)
1. The import should only update the fields in the CSV files. In this case, "description"
2. URL keys

[2019-05-22 14:47] Axel29 commented on #13440
Any update on this? Can't believe this is still not working in Magento 2.3.x …

The patch doesn't seem to work on Magento 2.3.0 (Exception triggered missing required $name argument in constructor, even though I added the full constructor's definition..)

Also, for WYSIWYG fields that remain disabled, view issue #20154.

[2019-05-22 14:50] dhorytskyi commented on #21879
@johncarlson21 Hi! As I know, currently it's behaviour by design.

[2019-05-22 14:52] lykciv opened #22976 "Corrupt layout cache causes white page on customer account login"
### Preconditions (*)

1. Magento 2.2.8

### Steps to reproduce (*)

1. I have not been able to reproduce this so far
2. This problem occurs randomly
3. Mostly the customer account pages seem to be affected, such as
    * /customer/account/login/
    * /customer/account/create/

### Expected result (*)

1. Page should contain data

### Actual result (*)

1. The HTTP response is empty
[code]
2. Cle

[2019-05-22 15:00] sdzhepa commented on #21179
Hello @magento/quality-maintainers team,

May I ask you to review this Issue and Confirm is it still reproducible on the latest vanilla Magento?
According to the last comments, there are concerns is Issue valid and related to Magento or not.

Thank you in advance!

[2019-05-22 15:06] sdzhepa commented on #16968
Closed this issue based on discussion under PR #19394 with fix and comment https://github.com/magento/magento2/pull/19394#issuecomment-445176791

[2019-05-22 15:06] #16968 closed, assigned to nobody

[2019-05-22 15:09] sdzhepa commented on #7200
Hello @magento/quality-maintainers team,

May I ask you to review this Issue and Confirm is it still reproducible on the latest vanilla Magento?
Probably need to update Steps to Reproduce or Issue is not actual any more(was fixed with another pull request)

Thank you in advance!

[2019-05-22 15:18] James-Hall195 commented on #22975
@James-Hall195 do you confirm that you were able to reproduce the issue on vanilla Magento instance following steps to reproduce?

  **yes**

[2019-05-22 15:19] esseremmerik commented on #22971
Hi @krishprakash, Why did you add the label "Issue: Cannot Reproduce", please update this to the correct state.

[2019-05-22 15:30] harrigo commented on #9885
Can you maybe explain this a bit better for me i'm trying something similar however having great difficulty, I asked a question https://magento.stackexchange.com/questions/275656/load-a-ui-component-with-ajax-within-admin-tab however not had much luck and hoping it is a simple fix like yours.

[2019-05-22 15:41] johncarlson21 commented on #21879
this is currently how it is, but in Magento 1.9.x etc.. and previous versions, it is not like this.
the thing is, when you are working with a product, the promotions should also affect the product option pricing. this needs to be standard functionality or people will not understand why their pricing doesn't match up with how it should be.

[2019-05-22 16:29] radub commented on #8788
I have this issue on M2.3

[2019-05-22 16:29] radub commented on #4662
Issue still present in M2.3

[2019-05-22 17:04] ivanoanekcha opened #22977 "BUG FIX"
we have security issue report and we need them to be fixed. One of the major issue is that the cookies flag.

Kindly help me fix this issues as soon as possible.

Thanks

[2019-05-22 17:08] callumstar commented on #10978
Hi @magento-engcom-team, is there any update on this being fixed? I am seeing this issue in a 2.2.6 build too.

[2019-05-22 19:01] sdzhepa commented on #21446
Hello @clockworkgeek

Thank you for contribution and collaboration!

I can confirm that from the first glance there is no sense to have these *.less files in Open Source Codebase.
And it is logical and obvious decision to move them to Commerce Source.

But it will have negative consequences on composer installation approach. Especially how Magento builds the packages for composer
We do not have se

[2019-05-22 19:20] clockworkgeek commented on #21446
Thank you @sdzhepa for looking into this in detail. I hope you will find a solution.

[2019-05-22 19:59] gtlt commented on #22966
(I forgotten that the issue is not testable on your magento instance)
I can workaround my issue by setting cookie domain in `Magento\Store\Model\StoreCookieManager`
[code]
I don't know if it is a magento bug or a misconfig somewhere on my side (nginx ?). For now I will override StoreCookieManager Model...

[2019-05-22 20:16] gtlt commented on #22966
When switching back to default store view the following message remains, it is also present when switching currencies sometimes.
 _The store that was requested wasn't found. Verify the store and try again._

[2019-05-22 22:48] bvboas commented on #14425
@joni-jones,

Sorry but this is a Bug.

Even if Magento does not support Apple Pay, there is not reason why a proper cardType availability is put in place and an exception thrown

[code]

[2019-05-23 06:31] krishprakash commented on #7200
@magento-engcom-team give me 2.3-develop instance

[2019-05-23 06:31] magento-engcom-team commented on #7200
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-23 06:32] magento-engcom-team commented on #7200
Hi @krishprakash, here is your [Magento instance](https://i-7200-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-7200-2-3-develop.instances.magento-community.engineering/admin](https://i-7200-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-23 06:49] archonkulis opened #22978 "After upgrade from 2.2.8 to 2.3 receiving "The stock item was unable to be saved. Please try again." error when saving the product in admin"
### Preconditions (*)

1. Magento 2.3.1
2. php7.2

### Steps to reproduce (*)

1. You need to have existing products in 2.2.8 version
2. Upgrade to 2.3.1 version
3. Open product in admin, click on Save

### Expected result (*)

1. The product should save successfully

### Actual result (*)

1. It throws following error: "The stock item was unable to be saved. Please try again."

After some initial

[2019-05-23 06:51] krishprakash commented on #7200
I have tested with same scenario as mentioned in issue description.
Also tried with some other scenarios.
But could not reproduce this issue on latest magento 2.3 instance.
Prices are displaying.
PFA
Admin:
![image](https://user-images.githubusercontent.com/46617848/58231364-7084ff80-7d54-11e9-8a5d-ab9127817aa1.png)

Front end:
![image](https://user-images.githubusercontent.com/46617848/58231370-7

[2019-05-23 07:04] Berdir opened #22979 "Dynamically created inventory tables (MSI) break integration tests"
### Preconditions (*)

1. Magento 2.3.1
2.

### Steps to reproduce (*)

1. Running an integration test that accesses alternative stocks
2.

### Expected result (*)

1. Tests work.
2.

### Actual result (*)
 Zend_Db_Statement_Exception: SQLSTATE[HY000]: General error: 1412 Table definition has changed, please retry transaction, query was: SELECT `inventory_stock_2`.`quantity`, `inventory_stock_2`.`

[2019-05-23 07:06] krishprakash opened #22980 "Wrong heading display in create configuration popup"
Wrong heading display in create configuration popup.

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
1. Admin
2. Add product
3. Configuration >> Create Configuration
4. Go to Summary Step with select all info
5. Review the heading "New Product Review" displaying.

### Expected result (*)
Heading should be Associated Products.
![image](https://user-images.githubusercontent.com/466178

[2019-05-23 07:07] krishprakash commented on #22980
@magento-engcom-team give me 2.2-develop instance

[2019-05-23 07:07] magento-engcom-team commented on #22980
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-23 07:08] magento-engcom-team commented on #22980
Hi @krishprakash, here is your [Magento instance](https://i-22980-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22980-2-2-develop.instances.magento-community.engineering/admin](https://i-22980-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-23 07:14] krishprakash commented on #22980
Same issue in 2.2.
![image](https://user-images.githubusercontent.com/46617848/58232915-649b3c80-7d58-11e9-9704-9a7c32312b1d.png)

[2019-05-23 07:16] magento-engcom-team commented on #22980
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99807`, `MAGETWO-99808` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-23 07:19] 1stKarkan commented on #7200
Hello,
This issue is still not resolved. Yes, the prices are shown, but only for the first dropdown. Any other attribute will not show the prices on the dropdown. I made a second product with two configurable attributes and it breaks.
![admin](https://user-images.githubusercontent.com/8205102/58233269-e29d1a80-7d3b-11e9-9175-08d86a0df1b2.png)
![front](https://user-images.githubusercontent.com/8205

[2019-05-23 07:21] archonkulis commented on #22094
I was able to overcome the issue by creating a new source (Stores -> Inventory -> Sources) with code 'default'.

While debugging, I've noticed that it tries to insert the data into `inventory_source_item` table with `source_code = 'default'`. And since that source_code is a foreign key to the `inventory_source` table, it showed the error. When creating the source with code 'default', it then fixed

[2019-05-23 07:21] archonkulis commented on #22978
Please close. The fix i that worked for me is mentioned here https://github.com/magento/magento2/issues/22094#issuecomment-495098764

[2019-05-23 07:21] #22978 closed, assigned to nobody

[2019-05-23 07:22] ioweb-gr opened #22981 "Admin is logged out multiple times when a module's system.xml is modified"
### Preconditions (*)
1. Magento 2.3.1
2. A custom module which adds a configuration section and tab defined via system.xml.
3. Create an acl.xml file for the module.
4. Developer Mode
5. Redis for cache
6. PHP 7.2
7. Debian 9 and 8.
8. CSS / JS Merging is off
9. Sign Static files is off (with it on we get too many times auto log out for no reason)

### Steps to reproduce (*)
1. Create a module an

[2019-05-23 07:34] dev-cogniter opened #22982 "Advanced Reporting shows 404 Error"
I own Magento ver 2.2.3. Advanced reporting shows 404 Error page. All settings are good but still it is not working.

[2019-05-23 07:41] manfrinm commented on #22094
@archonkulis forcing specific data on input can not be the solution for this issue!
For example in my case I've 4 different sources with different codes.
Please reopen this issue to allow community to propose more elegant solutions.

[2019-05-23 07:43] magento2dev commented on #6224
Does anyone has a fix I still have the issue on 2.2.3 and the fix above do not work ?

Thanks

[2019-05-23 08:18] archonkulis commented on #22094
@manfrinm this isn't my ticket, so I didn't close it. Of course, your situation is different, because I didn't have any source created in the beginning.

Have you tried setting code as 'default' for any of the sources, maybe the first one? Perhaps it could solve the issue.

Cheers

[2019-05-23 08:28] manfrinm commented on #22978
@magento-engcom-team any updates about it? you don't care anymore this issue?

[2019-05-23 08:30] manfrinm commented on #22094
@engcom-backlog-nazar  any updates about it? you don't care anymore this issue?

[2019-05-23 10:09] williankeller commented on #22972
Hi @logicallimit
Could you share the error in your Apache logs?

[2019-05-23 10:13] kumarbikash411 opened #22985 "Newsletter_subscription service interface and data interface is missing."
This issue is related with the API interaction to GET, POST,UPDATE AND DELETE API in magento 2, i was using the core component to subscribe via email which is working fine but when i was trying to delete or update using the rest API , it was not working.

The Interfaces are missing in vendor module and there are no endpoint available for newsletter_subscribers.

[2019-05-23 10:23] AlexWorking commented on #22982
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3-develop

[2019-05-23 10:23] magento-engcom-team commented on #22982
Hi @AlexWorking. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-23 10:24] magento-engcom-team commented on #22982
Hi @AlexWorking, here is your [Magento instance](https://i-22982-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22982-2-3-develop.instances.magento-community.engineering/admin](https://i-22982-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-23 10:48] Nazar65 commented on #22094
HI @djixas @manfrinm i think we need to open issue here -> https://github.com/magento-engcom/msi

[2019-05-23 10:51] ivanoanekcha commented on #22977
we have security issue report and one of the major issue is that the cookies flag.
attach below is the summary of the report and the steps to reproduce.

The environment is ubuntu
php7
nginx
mysql
magento 2
cache

The expected result is that the issue should be perfectly resolve.

[security  Detailed Scan Report (1) (1).pdf](https://github.com/magento/magento2/files/3211721/security.Detailed.Scan.

[2019-05-23 11:01] AlexWorking commented on #22982
Hi @dev-cogniter. Thanks for applying. We are closing this issue as a duplicate of #21452.

[2019-05-23 11:01] #22982 closed, assigned to AlexWorking

[2019-05-23 11:15] Techytt commented on #9857
Any update on this issue?

[2019-05-23 11:28] matthijsburki opened #22986 "Bulk update product attributes"
When a user wants to change or update an attribute to all products (or a selection greater that the given items shown per page) the result is that when attributes are changed, Magento reports that a total of the current items shown per page were updated. The expected result should be that all records were changed.

### Preconditions (*)
1. Magento 2.3.1
2. More than 25 products

### Steps to repro

[2019-05-23 11:40] abrarpathan19 commented on #22974
@krishprakash @magento-engcom-team
I have review Issue we can't consider as a bug because we can't add the fixed height to minicart and also we can't set the minimum height to the main content area when content is not available.
so, I am going to close this issue

[2019-05-23 11:40] #22974 closed, assigned to nobody

[2019-05-23 11:56] logicallimit commented on #22972
@williankeller

Following is the error log shown:

I researched a few places on internet and found people suggesting to use `Options +SymlinksIfOwnerMatch` instead of `Options +FollowSymLinks`

I found such a link although not related to Magento but to Drupal suggesting same.
[](https://www.drupal.org/project/drupal/issues/1269780)

[2019-05-23 12:20] krishprakash commented on #22986
Hi @matthijsburki. Thank you for your report.
This is duplicate to #22004

[2019-05-23 12:20] #22986 closed, assigned to nobody

[2019-05-23 12:33] AlexWorking commented on #22986
Hello @matthijsburki. Thanks for reporting. As You can see the issue is already reported, confirmed and is being worked on. But as a temporary solution You may try to go the last page of the grid with the selected products and try to make an update then. Seems it works - all the records are updated then.

[2019-05-23 12:50] #4628 closed, assigned to Karlasa

[2019-05-23 13:00] Den4ik opened #22988 "Wrong behavior of grid row and checkbox click"
Impossible check/uncheck checkbox if click on right bottom angle of checkbox
When you try to select value in input field checkbox unchecking automatically

### Preconditions (*)

1. magento 2.3-develop

### Steps to reproduce (*)

1. Go to Catalog->Categories page
2. Open Products in Category fieldset
3. Try to select value in position field with mousup not above input field

Same steps for admin

[2019-05-23 13:12] kandy commented on #22909
Looks like it enough to change
https://github.com/magento/magento2/blob/211dd25c73bb2539c3c064374d9d5649f253fd14/lib/web/requirejs/domReady.js#L92
[code]
I don't see any other different compare to https://github.com/jquery/jquery/blob/master/src/core/ready.js

[2019-05-23 13:28] magento2dev opened #22992 "Terms and Conditions validation not working on payment method change"
The default Magento_CheckoutAgreements module does not display error message for Terms and Condition checkbox even if it's not checked on payment change.

### Preconditions

1. Use Magento 2.2.7

### Steps to reproduce

1. Create a Terms and Conditions entry under Stores > Terms and Conditions and activate them under Stores > Sales > Checkout > Enable Terms and Conditions
2. Enable two payment met

[2019-05-23 13:32] ivanoanekcha opened #22993 "Cookies flag issue"
we have security issue report and one of the major issue is that the cookies flag.
attach below is the summary of the report and the steps to reproduce.

The environment is ubuntu
php7
nginx
mysql
magento 2
cache

The expected result is that the issue should be perfectly resolve.

[security  Detailed Scan Report (1) (1).pdf](https://github.com/magento/magento2/files/3212357/security.Detailed.Scan.

[2019-05-23 13:37] gulshankumar commented on #17813
Really a Great solution.

[2019-05-23 13:38] jburel-ca opened #22994 "Firefox JS translation issue when removing product from minicart"
### Preconditions (*)
1. Magento CE 2.2.7 or greater (I can't test in older version for now)
2. Another locale than default one. In my case, I used a Poland language pack installed by composer
3. Have one or more products availables for the website
4. Have Firefox browser (this bug is reproduced on all versions)

### Steps to reproduce (*)
1. With Firefox, navigate to a category or product page
2.

[2019-05-23 13:43] magento-engcom-team commented on #22994
Hi @jburel-clever-age, here is your [Magento instance](https://i-22994-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22994-2-3-develop.instances.magento-community.engineering/admin](https://i-22994-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-23 14:59] #22509 closed, assigned to sdzhepa

[2019-05-23 15:09] magento-engcom-team commented on #22988
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99812` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-23 15:09] DrewML commented on #22909
@kandy Pretty much!

[2019-05-23 15:39] AlexWorking commented on #22992
Hello @magento2dev. We've been not able to reproduce Your issue on the latest develop version. Could You please try to reproduce Your issue on 2.3-develop version as You are asked above:
![Advised](https://user-images.githubusercontent.com/27814011/58266210-e788bb00-7d89-11e9-891b-7eff39093d1a.png)
Thank You.

[2019-05-23 15:43] magento2dev commented on #22992
Hello @AlexWorking,

Thanks for your reply but as I mentionned the issue is tested on Magento 2.2 not on 2.3. I did not test on 2.3 because I don't want to switch version and many people still have the issue on 2.2 as you can see on closed issue #6224

Thanks for your help

[2019-05-23 15:45] DrewML opened #22995 "Decompose JQueryUI to speed up pages"
### Preconditions (*)

1. Any version of Magento 2

### Steps to reproduce (*)

1. Not a bug

### Expected result (*)

1. I expect us to only load JavaScript that is used on a particular page.

### Actual result (*)

1. We load several hundred kilobytes of dead code

### Further Details
jQuery UI is one of the biggest libraries loaded in the storefront.

Using a (currently unreleased) tool to bund

[2019-05-23 15:48] DrewML commented on #22995
Internal tracking ticket: MC-16887

[2019-05-23 17:36] sanjaychouhan-webkul commented on #22980
It is not an issue because it is saying to review the new products.
According to the code if the configurable products have associated products then it will show "Associated Products" and if we are adding new products then it will show "New Products Review".

![Selection_002](https://user-images.githubusercontent.com/42089978/58273929-57f60300-7daf-11e9-9a3a-8586f0d97dc2.png)

[2019-05-23 17:58] krishprakash commented on #22980
Thanks for clarifying.
Closing This as non issue

[2019-05-23 17:58] #22980 closed, assigned to imrandotftr

[2019-05-23 18:01] williankeller commented on #22972
Hi @logicallimit,
I did some research and this is not a Magento related issue and is not reproducible.
It's probably related with your CentOs server configuration.
Please make sure you have the right configuration under your virtual hosts, like:
[code]
You should keep using the `FollowSymLinks` for security reasons and also you can face some issues with the SEO rewrite, etc.

I'm closing this tick

[2019-05-23 18:01] #22972 closed, assigned to williankeller

[2019-05-23 18:28] urvishpatelce opened #22997 "Unable to delete whole saved cart"
### Preconditions (*)

1.  Should be logged in
2.

### Steps to reproduce (*)

     - Select one customer from customer list
     - Select Saved card from left navigation

### Expected result (*)

1. There should be option to delete whole cart in once.

### Actual result (*)

1. There is possibility to delete single item inside saved cart but it is not working

[2019-05-23 18:29] maghamed commented on #21990
The ticket should be re-validated

[2019-05-23 18:36] YurySk opened #22998 "POST on /orders fails when properties in the body are out of sequence"
- Summary of the issue,

POST on /orders succeeds or fails using semantically equivalent json body but different ordering of properties.
JSON data never has a guaranteed property order. Many systems use maps with undefined iteration order to form the data.

     - Information on your environment,

Magento 2.3 on Ubuntu.

     - Steps to reproduce,

Issue Swagger or Curl calls using the attached js

[2019-05-23 19:01] gldt-arandazzo opened #22999 "MySQL Error on setup:upgrade going from 2.2.8 to 2.3.1"
### Preconditions (*)
1. A magento 2.2.8 site with the files for 2.3.1 and a database that needs to be upgraded via bin/magento setup:upgrade

### Steps to reproduce (*)
1. Take a 2.2.8 site, upgrade the files following the directions here (https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html) (I did use 2.3.1 instead of 2.3.0 for the version numbers)
2. Get to the step of running

[2019-05-23 19:08] DrewML commented on #17813
@siddharth-vaghasia this could be caused by any number of issues. I recommend creating a new ticket with a clear description.

[2019-05-23 19:30] magento-engcom-team commented on #3795
Hi @samtay. Thank you for your report.
The issue has been fixed in magento/magento2#21397 by @ravi-chandra3197 in 2.3-develop branch
Related commit(s):
 - [8bb401e0ff8641d25e4fd70e935cff5c67f2def7](https://github.com/magento/magento2/commit/8bb401e0ff8641d25e4fd70e935cff5c67f2def7)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-23 19:30] #3795 closed, assigned to ravi-chandra3197

[2019-05-23 19:30] #22822 closed, assigned to eduard13, aman3103

[2019-05-23 19:30] magento-engcom-team commented on #22786
Hi @serhiyzhovnir. Thank you for your report.
The issue has been fixed in magento/magento2#22787 by @serhiyzhovnir in 2.3-develop branch
Related commit(s):
 - [9fc32471d7e72862604afff6f8236cee2dd414e1](https://github.com/magento/magento2/commit/9fc32471d7e72862604afff6f8236cee2dd414e1)
 - [ad9212ff85ba1e3ac28342044825a03a7e74ce62](https://github.com/magento/magento2/commit/ad9212ff85ba1e3ac2834204

[2019-05-23 19:31] glo-arandazzo commented on #22999
Environment  Is PHP 7.1-latest and Amazon RDS Aurora with compatibility of MySQL 5.7.12

[2019-05-23 19:48] hostep commented on #22977
Let close this as it duplicates https://github.com/magento/magento2/issues/22993

@ivanoanekcha: please only create one issue for the same problem. Also try to follow the issue template which you are presented with when opening an issue. Thanks!

[2019-05-23 19:48] #22977 closed, assigned to nobody

[2019-05-23 19:49] hostep commented on #22993
This might be related to https://github.com/magento/magento2/issues/22272

[2019-05-23 20:05] DrewML commented on #22993
Yep @hostep, good catch - dupe of #22272. Closing this, as there is more discussion over there + an open PR https://github.com/magento/magento2/pull/22793

[2019-05-23 20:05] #22993 closed, assigned to nobody

[2019-05-23 20:07] anttiranta opened #23000 "Getting payment child transactions by type never matches if conditions"
### Preconditions (*)

1. Create an instance of a payment transaction and child transaction for the first one. See that both transactions have a type.
2. Save created transactions to database.

### Steps to reproduce (*)

1. Load parent transaction from database.
2. For parent transaction instance, call \Magento\Sales\Model\Order\Payment\Transaction method getChildTransactions() with types paramet

[2019-05-23 21:56] magento-engcom-team commented on #22736
Hi @bhavik43. Thank you for your report.
The issue has been fixed in magento/magento2#22795 by @sanjaychouhan-webkul in 2.3-develop branch
Related commit(s):
 - [5621c4481748788d2ae3c6fbf116217c605e642c](https://github.com/magento/magento2/commit/5621c4481748788d2ae3c6fbf116217c605e642c)
 - [3ca7c02c826c61d87cfd39cee535eb382368bfb9](https://github.com/magento/magento2/commit/3ca7c02c826c61d87cfd39

[2019-05-23 21:56] #22736 closed, assigned to nobody

[2019-05-23 21:56] magento-engcom-team commented on #22875
Hi @amitvishvakarma. Thank you for your report.
The issue has been fixed in magento/magento2#22876 by @amitvishvakarma in 2.3-develop branch
Related commit(s):
 - [3fb72ae5638242bc83e261e3a88a8ba22f4bfeff](https://github.com/magento/magento2/commit/3fb72ae5638242bc83e261e3a88a8ba22f4bfeff)
 - [ed84c8d415a22cdc25751f85991d2e0bb6faccc6](https://github.com/magento/magento2/commit/ed84c8d415a22cdc2575

[2019-05-23 21:57] #22875 closed, assigned to amitvishvakarma

[2019-05-23 21:57] magento-engcom-team commented on #21852
Hi @talset. Thank you for your report.
The issue has been fixed in magento/magento2#22607 by @davidalger in 2.3-develop branch
Related commit(s):
 - [49b3c7213d6a968f478d479e2063855573acd880](https://github.com/magento/magento2/commit/49b3c7213d6a968f478d479e2063855573acd880)
 - [7631cbc6d0323e2a5feeda76c52ecfb53c0be723](https://github.com/magento/magento2/commit/7631cbc6d0323e2a5feeda76c52ecfb53c

[2019-05-23 21:57] #21852 closed, assigned to davidalger

[2019-05-23 21:57] magento-engcom-team commented on #22563
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#22607 by @davidalger in 2.3-develop branch
Related commit(s):
 - [49b3c7213d6a968f478d479e2063855573acd880](https://github.com/magento/magento2/commit/49b3c7213d6a968f478d479e2063855573acd880)
 - [7631cbc6d0323e2a5feeda76c52ecfb53c0be723](https://github.com/magento/magento2/commit/7631cbc6d0323e2a5feeda76c52ecfb53c

[2019-05-23 21:57] #22563 closed, assigned to davidalger

[2019-05-23 22:35] David-Magebinary commented on #15655
Hi team, any update for this issue? Also, may you please bring the "Reproduced on 2.2.x", "Reproduced on 2.3.x" labels back?

[2019-05-24 04:06] nayan88 opened #23001 "Invoice email not received while place order in magento 2"
I have not received invoice email after placing order.

Magento version : 2.2.2 & 2.3.0

Checked in these Payment Methods : Authorize.net & Zero subtotal Checkout

**Expected result:**
1. Order Created
2. Email with order information send.
3. Invoice Created
4. Email with invoice information send

**Actual Result**

1. Order Created <- working
2. Email with order information send. <- working
3. In

[2019-05-24 04:42] krishprakash commented on #22997
Hi @urvishpatelce.
Can you please explain the issue in proper way.
Here can not understand the issue what exactly you talking about.
Thanks.

[2019-05-24 05:45] urvishpatelce commented on #22997
Hello,

Thank you for your reply.

Can we have short call somehow? So i can explain you in more detail.

On Fri, May 24, 2019 at 6:43 AM Prakash Prajapati <notifications@github.com>
wrote:

--

Mit freundlichen Grüßen
Urvish Patel

[2019-05-24 05:50] krishprakash commented on #22997
@urvishpatelce Please explain with screenshots and proper reproducible steps.
Or you can record the video and attach here if possible.

[2019-05-24 06:21] swnsma commented on #5730
I am closing issue due to its irrelevance.
Please, if you have a real business case when this can be helpful, please re-open the issue.

[2019-05-24 06:21] #5730 closed, assigned to Wirson, sebastian-virtua, yuchenacidgreen

[2019-05-24 07:11] JohanRoberthsonAteles commented on #22958
Is it possible that someone setup a clean test environment. We use latin1_swedish_ci as collation_database, if that could be a problem.

[2019-05-24 07:43] HendyIvan commented on #5937
how about this issues? its happens on magento 2.3.0

[2019-05-24 08:10] danharper83 opened #23003 "SQL error on indexer:reindex 2.2.8"
### Summary
Catalog indexer is broken when flat mode is turned on.

### Information on your environment
Local environment (containerised NGINX with lando) and hosting provided by platform sh

### Preconditions (*)

1. Magento version 2.2.8
2. Flat category and flat product catalogue enabled (Error doesn't appear with them off)

### Steps to reproduce (*)

1. Updated to 2.2.8 from 2.2.6
2. Run ```p

[2019-05-24 08:51] Vinai commented on #22995
This is great 👍🏻

[2019-05-24 08:55] Nazar65 commented on #22979
Hi @Berdir thank you for you report, please open issue here -> https://github.com/magento-engcom/msi/issues

[2019-05-24 08:55] #22979 closed, assigned to Nazar65

[2019-05-24 08:56] Nazar65 commented on #22985
HI @kumarbikash411  It will be processed faster if you move this to https://github.com/magento/community-features

[2019-05-24 08:56] #22985 closed, assigned to nobody

[2019-05-24 08:57] AlexWorking commented on #22992
@magento2dev, unfortunately if the issue is not reproducible on a 2.3-develop version we consider it as fixed and do not provide fixes for earlier versions. (Please expound and look at the Details to the stage 4 of our recheck flow a bit above from here
![Supposed](https://user-images.githubusercontent.com/27814011/58315349-15b5db80-7e1a-11e9-9fea-67ac602b3049.png)
). But it's quite possible that

[2019-05-24 09:02] Nazar65 commented on #22964
@magento-engcom-team give me 2.3-develop instance

[2019-05-24 09:02] magento-engcom-team commented on #22964
Hi @Nazar65. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-24 09:02] magento-engcom-team commented on #22964
Hi @Nazar65, here is your [Magento instance](https://i-22964-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22964-2-3-develop.instances.magento-community.engineering/admin](https://i-22964-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-24 09:06] magento-engcom-team commented on #22964
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99821` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-24 09:08] Nazar65 commented on #22964
https://github.com/magento/magento2/pull/18578/files related "PR" may be help to process on this issue.

[2019-05-24 09:37] shibinvr opened #23006 "Store removing not working properly 2.3"
I removed Existing stores from Magento backend (All store link) after that customer filter not working properly, I tried to search customer they are registered from that old removed store,
Issue due to the customer_entity table contains store id that I removed previously. So join query not working properly. Then how can I remove that store from Magento?

[2019-05-24 09:39] #23006 closed, assigned to nobody

[2019-05-24 09:59] paul-gene commented on #22246
I am having a similar issue, but instead of the simple item not being invoiced, if I have multiple simple items, only 1 is invoiced

[2019-05-24 10:09] AlexWorking commented on #22958
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.1

[2019-05-24 10:09] magento-engcom-team commented on #22958
Hi @AlexWorking. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-24 10:10] magento-engcom-team commented on #22958
Hi @AlexWorking, here is your [Magento instance](https://i-22958-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22958-2-3-develop.instances.magento-community.engineering/admin](https://i-22958-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-24 10:14] AlexWorking commented on #22958
@magento-engcom-team give me 2.3.1 instance

[2019-05-24 10:14] magento-engcom-team commented on #22958
Hi @AlexWorking. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-05-24 10:15] magento-engcom-team commented on #22958
Hi @AlexWorking, here is your [Magento instance](https://i-22958-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22958-2-3-1.instances.magento-community.engineering/admin](https://i-22958-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-24 10:27] AlexWorking commented on #22958
Hi again @JohanRoberthsonAteles. We retested Your issue on the version You specified and we confirm the issue is present there. But it has been fixed in later releases. You may retest it Yourself by asking 2.3-develop instance or using the one I ordered and got above (its active for three hours). According to the 4-th step (Details expounded) of our issue recheck flow we are supposed to close this

[2019-05-24 10:27] #22958 closed, assigned to AlexWorking

[2019-05-24 10:33] #22803 closed, assigned to shikhamis11, gulshanchitransh

[2019-05-24 10:56] #22396 closed, assigned to shikhamis11

[2019-05-24 10:56] #22506 closed, assigned to dev-ajaysaini

[2019-05-24 11:12] bassmo commented on #19549
What does "get rid of them safely" mean? Removing the entire directory causes a whole load of errors.

[2019-05-24 11:16] VasylShvorak commented on #22754
Hi @bacacomanana , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-05-24 11:16] #22754 closed, assigned to nobody

[2019-05-24 11:22] VasylShvorak commented on #22945
Hi @rifraff63
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-05-24 11:22] #22945 closed, assigned to VasylShvorak

[2019-05-24 11:53] syed92hasan commented on #23001
I am working on this at #dmcdindia19

[2019-05-24 11:58] hitesh-balpande commented on #7561
Above code is not working in our live site(with https url) but same code is working http://35.456.781.89/xyz_wee url. Because in our live site with we are calling 2 apis and these apis are working live site only before validating the code so in our point of view session getting expired because all other site it is working fine using above layout.

[2019-05-24 12:01] KSATE commented on #15239
hi @dunagan5887 : did you try to switch the deploy mode to "developer" and re-execute "setup:upgrade" ?

[2019-05-24 12:45] VasylShvorak commented on #13112
Issue isn't reproduced by described steps on clean 2.3-develop

[2019-05-24 12:45] #13112 closed, assigned to VasylShvorak

[2019-05-24 13:44] ihor-sviziev commented on #22976
Hi @lykciv,

This issue was already reported in https://github.com/magento/magento2/issues/6942, even https://github.com/magento/magento2/issues/6942#issuecomment-490061713 and we already have PRs for that:
- 2.3-develop - https://github.com/magento/magento2/pull/22766
- 2.2-develop - https://github.com/magento/magento2/pull/22625

I'm closing this issue as it duplicates #6942.

[2019-05-24 13:44] #22976 closed, assigned to ihor-sviziev

[2019-05-24 13:44] ihor-sviziev commented on #22976
Duplicate of #6942

[2019-05-24 13:50] zanatta commented on #18251
@RamanMalhotra88 what have you done to fix? just started happening the same here.

[2019-05-24 13:54] magento-engcom-team commented on #22998
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99824`, `MAGETWO-99825` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-24 14:04] bhavik43 opened #23010 "Print This Page link alignment not as per magento 2.2"
Print This Page link alignment issue in compare page.

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
1. Front end: Add to compare product
2. Compare page
3. Review the Print this page link

### Expected result (*)
It should be display on right side as magento 2.2
![compare expected](https://user-images.githubusercontent.com/49804008/58333341-d3f95500-7e5a-11e9-816e-851f3db56c93.jpg

[2019-05-24 14:05] krishprakash commented on #23010
@magento-engcom-team give me 2.3-develop instance

[2019-05-24 14:05] magento-engcom-team commented on #23010
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-24 14:06] magento-engcom-team commented on #23010
Hi @krishprakash, here is your [Magento instance](https://i-23010-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23010-2-3-develop.instances.magento-community.engineering/admin](https://i-23010-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-24 14:10] krishprakash commented on #23010
@magento-engcom-team give me 2.2-develop instance

[2019-05-24 14:11] magento-engcom-team commented on #23010
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-24 14:11] magento-engcom-team commented on #23010
Hi @krishprakash, here is your [Magento instance](https://i-23010-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23010-2-2-develop.instances.magento-community.engineering/admin](https://i-23010-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-24 14:17] krishprakash commented on #23010
Hi @bhavik43.
Print This Page link position is left side in both magento 2.2 and 2.3.
So this is not an issue.

[2019-05-24 14:17] #23010 closed, assigned to krishprakash

[2019-05-24 15:38] danharper83 commented on #23003
@magento-engcom-team give me 2.3-develop instance

[2019-05-24 15:38] magento-engcom-team commented on #23003
Hi @danharper83. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-24 15:39] magento-engcom-team commented on #23003
Hi @danharper83, here is your [Magento instance](https://i-23003-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23003-2-3-develop.instances.magento-community.engineering/admin](https://i-23003-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-24 15:44] danharper83 commented on #23003
I could not replicate this on a Vanilla install.

[2019-05-24 15:50] danharper83 commented on #23003
I think the problem with this query is that the ```WHERE (condition IS NOT NULL)``` should be ```WHERE ('condition' IS NOT NULL)```

```SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'condition IS NOT NULL)' at line 5, query was: UPDATE `catalog_product_f

[2019-05-24 16:20] DavidSim80 opened #23012 "Incorrectly invoicing and capturing values when a bundle item is present"
### Preconditions (*)

Magento 2.3.1

### Steps to reproduce (*)

Add a bundle item to the cart
Add another item we added in our test (1x Sprite Yoga Companion Kit) then also 30x Joust Duffle Bag) from the sample data
Have payment gateway set to capture sale
Checkout as you would normally

### Expected result (*)
To invoice and capture full payments for all items, not part of it

### Actual result

[2019-05-24 17:07] sidolov commented on #21214
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#23009 by @niravkrish in 2.2-develop branch
Related commit(s):
 - [bea33600caa576d48234ef3aee4b428f1898a2d6](https://github.com/magento/magento2/commit/bea33600caa576d48234ef3aee4b428f1898a2d6)

The fix will be available with the upcoming 2.2.10 release.

[2019-05-24 17:07] sidolov commented on #21852
Hi @talset. Thank you for your report.
The issue has been fixed in magento/magento2#22610 by @davidalger in 2.2-develop branch
Related commit(s):
 - [fddb9f6fe752e178645a1e468b435a1ef47af663](https://github.com/magento/magento2/commit/fddb9f6fe752e178645a1e468b435a1ef47af663)
 - [158f9a4aabc4072e52a583e7d1f5ebf8b75afa9c](https://github.com/magento/magento2/commit/158f9a4aabc4072e52a583e7d1f5ebf8b7

[2019-05-24 17:07] sidolov commented on #22563
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#22610 by @davidalger in 2.2-develop branch
Related commit(s):
 - [fddb9f6fe752e178645a1e468b435a1ef47af663](https://github.com/magento/magento2/commit/fddb9f6fe752e178645a1e468b435a1ef47af663)
 - [158f9a4aabc4072e52a583e7d1f5ebf8b75afa9c](https://github.com/magento/magento2/commit/158f9a4aabc4072e52a583e7d1f5ebf8b7

[2019-05-24 17:07] sidolov commented on #22639
Hi @magesanjay. Thank you for your report.
The issue has been fixed in magento/magento2#22991 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [f6ea06e2b070148ec5764e6faca10227e26b8270](https://github.com/magento/magento2/commit/f6ea06e2b070148ec5764e6faca10227e26b8270)
 - [f71e8a6b9df57cad2c33613e49c53e636e9ff3a0](https://github.com/magento/magento2/commit/f71e8a6b9df57cad2c33613e4

[2019-05-24 17:07] #22639 closed, assigned to mageprince, mahesh-rajawat

[2019-05-24 18:41] magento-engcom-team commented on #574
Hi @steadweb. Thank you for your report.
The issue has been fixed in magento/graphql-ce#694 by @osrecio in 2.3-develop branch
Related commit(s):
 - [55ad3d0a55492871cedb0858288b97a93eb05158](https://github.com/magento/magento2/commit/55ad3d0a55492871cedb0858288b97a93eb05158)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-24 18:41] magento-engcom-team commented on #686
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/graphql-ce#695 by @osrecio in 2.3-develop branch
Related commit(s):
 - [898d0325e73c77db6b0d043825b510db713b4638](https://github.com/magento/magento2/commit/898d0325e73c77db6b0d043825b510db713b4638)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-24 18:48] nickpiro opened #23013 "Order Item Status to Enable Downloads Does Not Work"
When working with downloadable products, since upgrading to Magento 2.2.8 from 2.2.5, this error has occurred. You are not able to change the item status to enable downloads. For instance, there are two options: Pending, Invoiced. When a downloadable order comes in (specifically free) they come in as pending. We want users to be able to immediately download their free product. On 2.2.5 this functi

[2019-05-24 19:00] nickpiro commented on #23013
@magento give me 2.2.8 instance

[2019-05-24 19:00] magento-engcom-team commented on #23013
Hi @nickpiro. Thank you for your request. I'm working on Magento 2.2.8 instance for you

[2019-05-24 19:01] magento-engcom-team commented on #23013
Hi @nickpiro, here is your [Magento instance](https://i-23013-2-2-8.instances.magento-community.engineering).
Admin access: [https://i-23013-2-2-8.instances.magento-community.engineering/admin](https://i-23013-2-2-8.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-24 22:20] dverkade opened #23014 "Configuration fields not disabled when setting options in config.php"
### Preconditions
1. Magento 2.3.1

### Steps to reproduce
1. In the config.php file overwrite a config setting of a fields which is dependent on another field. So the field you're trying to set the configuration variable on is only visible when another field is enabled.
2. Go into the Magento backend and verify that the field is set and can no longer be changed by the user.

**system.xml file**
[

[2019-05-25 05:06] ivanoanekcha commented on #22993
Hello,
How would you please help me to resolve this issue?
we have Magento 2 e Commerce system installed on ubunto servers and we have
security issue report and we need them to  fixed, One of the major issue is
the cookies flag.

The summary of the report is attached below
The environment is SSH
Steps to reproduce:
lease follow the below steps for the installation of VPN client:

You need to insta

[2019-05-25 05:41] Eayshwary commented on #23003
Hi, can you provide me the instance for 2.2.8 ?

[2019-05-25 06:40] rammohan-krish commented on #23013
@magento give me 2.3-develop instance

[2019-05-25 06:40] magento-engcom-team commented on #23013
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-25 06:41] magento-engcom-team commented on #23013
Hi @rammohan-krish, here is your [Magento instance](https://i-23013-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23013-2-3-develop.instances.magento-community.engineering/admin](https://i-23013-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-25 07:39] rammohan-krish commented on #23013
Issue not reproduced on the 2.3-develop instance

[2019-05-25 07:39] rammohan-krish commented on #23013
@magento give me 2.2-develop instance

[2019-05-25 07:39] magento-engcom-team commented on #23013
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-25 07:40] magento-engcom-team commented on #23013
Hi @rammohan-krish, here is your [Magento instance](https://i-23013-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23013-2-2-develop.instances.magento-community.engineering/admin](https://i-23013-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-25 07:52] svenakela opened #23015 "Magento 2.2.8 - Config Cache not Updated on Save"
### Preconditions (*)
1. Upgraded 2.2.3 to 2.2.8, no issues during upgrade

### Steps to reproduce (*)
1. We did an upgrade, have no idea if the previous version affects the problem.
2. Config Cache should be enabled.

### Expected result (*)

1. Go to Admin System Config or Store Config and make any configuration change.
2. Save.
3. Value should be updated in GUI as well as DB.

### Actual result

[2019-05-25 08:06] rammohan-krish commented on #23013
Issue not reproduced on Magento ver. 2.2.9-dev

[2019-05-25 08:08] #23013 closed, assigned to rammohan-krish

[2019-05-25 08:23] hostep commented on #22993
@ivanoanekcha: I've edited your post and stripped out all passwords you posted. Please don't do that, everybody can just use these if they were correct. Please also **immediately** change all passwords since they've been out in the open for a couple of hours. People might abuse these to hack your system.

As for your problem, it looks like you might need to contact some professional developer to h

[2019-05-25 08:25] R-K-Shrivastaw commented on #19795
No, But with me in Magento 2.3.0 After downgrade php version, Some of the basic functionality dosn't work in PHP 7.1

[2019-05-25 08:28] R-K-Shrivastaw commented on #19795
Deprecated Functionality: idn_to_ascii(): INTL_IDNA_VARIANT_2003 is deprecated in

Any luck on this error.

[2019-05-25 09:24] ivanoanekcha commented on #22993
alright. Thanks

On Sat, May 25, 2019 at 9:24 AM Pieter Hoste <notifications@github.com>
wrote:

[2019-05-25 11:51] sanganinamrata opened #23016 "Profiler rendering issue on admin"
### Preconditions (*)

1. Configure the database profiler: https://devdocs.magento.com/guides/v2.0/config-guide/db-profiler/db-profiler.html
2. Enable profiling (MAGE_PROFILER) using CLI command https://devdocs.magento.com/guides/v2.3/config-guide/bootstrap/mage-profiler.html

### Steps to reproduce (*)

1. Enabled profiler for HTML and database queries, Go to admin panel login screen.

### Expect

[2019-05-25 12:33] sanganinamrata commented on #23016
I'll fix this design issue soon.

[2019-05-25 15:31] svenakela commented on #23015
The behavior is exactly as in this video clip, except that I must Flush Cache Storage to get the change visible.
https://www.youtube.com/watch?v=0E6TDEvcFbE

Setup is like following:
Nginx(SSL) -> Varnish -> Nginx(Magento) -> PHP FPM
Purging Varnish manually has no effect.

Only system and store config is affected. Changing products and customers behaves normally.

[2019-05-25 19:31] engineergreg opened #23017 "Newsletter Queue Start Time ends up 7 hours in future"
### Preconditions (*)
Magento 2.3.1

### Steps to reproduce (*)
1.create newsletter
2.queue newsletter
3. set start date and time

### Expected result (*)
 time should match entered time

### Actual result (*)
start time listed in queue is 7 hours ahead of expected time

[2019-05-25 19:33] engineergreg commented on #23017
the current solution is to enter a start time 7 hours before the expected start time

[2019-05-25 19:43] engineergreg opened #23018 "newsletter subscription simple captcha and double opt in"
### Description (*)
simple captcha requirement for newsletter subscibers to prevent bots from populating subscriber list

### Expected behavior (*)
admin can enable captcha for newsletter email form in footer of frontend if desired and require confirmation of subscription in response email, (double opt in to validate newsletter subscriptions)

### Benefits
subscriptions to newsletter would be from

[2019-05-25 21:47] frostbitten commented on #3594
Can confirm 2.3.1 still has this issue.

[2019-05-25 23:57] hish commented on #5504
reindex

[2019-05-26 15:47] orlangur commented on #23017
Please specify all relevant to timezone configuration of your PHP/MySQL.

[2019-05-26 17:31] Goeny commented on #13126
Problem still not fixed ?

[2019-05-26 18:58] hostep commented on #13126
Re-opening, since it looks like the fix never was forward ported to the `2.3-develop` branch.
If someone wants to take a stab at it, please do so :)

[2019-05-26 19:48] engineergreg commented on #23017
the xampp server on windows has NO TIME ZONE SETTING declared in the
php.ini, suppose it is using the windows time service

On Sun, May 26, 2019 at 8:48 AM Vlad Veselov <notifications@github.com>
wrote:

[2019-05-26 20:10] middlegrey commented on #22973
We are also experiencing this problem.

Multiple websites with specific allowed countries.

If Customer Configuration > Accounts Sharing Options > Share Customer Accounts is set to Global, during checkout rather than listing the allowed countries for that website, countries are shown from all websites.

Magento 2.3.1
Apache 2.4.39
PHP 7.1.29
MySQL 5.7.26

[2019-05-27 04:36] ajijshekh123 commented on #23018
Hi @engineergreg.
Please follow issue reporting guideline to report an issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Also please mention additional details about the issue.
Please explain the in which Magento version you phase this issue?

[2019-05-27 09:33] neddy236 commented on #13466
I have a Magento 2.3.1 installation and this issue seems like its still present

[2019-05-27 09:49] OvalMedia commented on #5847
I had the same issue using paypal.
Magento 2.2.8
iways paypal plus module

It was driving me nuts, every time I confirmed the checkout on the paypal site I ended up in the cart with the message "no such entity with cart id =".

Then I tried different browsers (chrome, internet explorer) and there was no issue. This led me to investigate my firefox addons. It turned out that uMatrix is the trouble

[2019-05-27 10:13] mavajih commented on #22938
Hi @magento-engcom-team around 15000 images took 3 hours to generate size images in cache directory  via "php bin/magento catalog:images:resize" Please suggest solution so that we can pre - generate images of selected products (new listed) or it auto generates when page render.

[2019-05-27 10:19] AlexWorking commented on #22809
Hi @knightfox1337. The contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-05-27 10:19] #22809 closed, assigned to gulshanchitransh, AlexWorking

[2019-05-27 12:06] harshvardhanmalpani commented on #14586
@Volvoxpl  I tried your recommendation, It says unable to process binding. getCartParam is not defined

Any thoughts?

[2019-05-27 12:45] magento-engcom-team commented on #3795
Hi @samtay. Thank you for your report.
The issue has been fixed in magento/magento2#23002 by @ravi-chandra3197 in 2.2-develop branch
Related commit(s):
 - [fe374b929cf074a6d1ec3fbe3b48f70d615e4f82](https://github.com/magento/magento2/commit/fe374b929cf074a6d1ec3fbe3b48f70d615e4f82)

The fix will be available with the upcoming 2.2.10 release.

[2019-05-27 12:47] AlexWorking commented on #23001
Hello @nayan88. Thanks for applying. Your issue seems to be the duplicate of an earlier issue #13466, which is confirmed and is already having been worked on.

[2019-05-27 12:47] #23001 closed, assigned to nobody

[2019-05-27 13:42] QuentinFarizon opened #23023 "Reinstall triggers"
### Description (*)
I think my database lacks some triggers, and I'd like to know if there a feature / workaround / command line to reinstall them.

In particular, I'm missing triggers on the catalog_product_entity table (trg_catalog_product_entity_after_insert, trg_catalog_product_entity_after_insert, ...), but I do have triggers on all, attribute tables (trg_catalog_product_entity_text_after_upd

[2019-05-27 13:45] AlexWorking commented on #13126
Issue is really reproduced only on 2.3-develop (fixed on 2.2-develop). Steps to Reproduce here have been slightly modified: there has been added an additional step number 3. Without it the issue won't reproduce - if You start to create a new bundle product and instead of Save You click Save and Duplicate everything will work as expected, e.g. two bundle products with the same bundle option will be

[2019-05-27 13:45] magento-engcom-team commented on #13126
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99840` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-27 13:52] mahesh-rajawat opened #23024 "Grid Action Column Design Issues"
### Preconditions (*)

1. Magento 2.3.x
2. Magento 2.2.x

### Steps to reproduce (*)

1. Open any Grid that action column have more than one action like CMS Block grid.
2. Programatically change the position of action column.
3. Comment updated_time column flush cache and reload grid.
4. Now remove comment and flush cache and reload the grid. now action column will at second last position.   https

[2019-05-27 14:17] magento-engcom-team commented on #22304
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99841` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-27 14:30] magento-engcom-team commented on #22028
Hi @mtwegrzycki. Thank you for your report.
The issue has been fixed in magento/magento2#22902 by @mtwegrzycki in 2.2-develop branch
Related commit(s):
 - [1f3f984aef9233c19a566513dcd6f39dfa49b18b](https://github.com/magento/magento2/commit/1f3f984aef9233c19a566513dcd6f39dfa49b18b)

The fix will be available with the upcoming 2.2.10 release.

[2019-05-27 14:30] #22028 closed, assigned to alepane21, mtwegrzycki

[2019-05-27 15:27] fasaro opened #23026 "Default uploading image size wysiwyg editor M2.3.1"

[2019-05-27 15:40] AlexWorking commented on #21990
Hello @jigar48. We revised Your issue and we confirm it's not a bug. lets take Your very case. Please take a look of the following things:
1. Price Display Settings You are most probably talking about in step 4
![1](https://user-images.githubusercontent.com/27814011/58428668-dd2d3080-80ab-11e9-8837-075461853f9e.png)
are responsible for Product Page price:
![2](https://user-images.githubusercontent

[2019-05-27 15:45] uniquedeveloper17 opened #23027 "Element 'move' : Magento"
Site Link : https://www.leis.synergixfast.com

1 exception(s): Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'move': This element is not expected. Expected is one of ( action, arguments, block, container, referenceBlock, uiComponent ). Line: 834

Element 'referenceBlock', attribute 'ifconfig': The attribute 'ifconfig' is not allowed. Line: 891

Element 'referenceBlock',

[2019-05-27 15:55] magento-engcom-team commented on #22822
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#23019 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [857c305e5e895135fc68083a9907322e43f03ec2](https://github.com/magento/magento2/commit/857c305e5e895135fc68083a9907322e43f03ec2)

The fix will be available with the upcoming 2.2.10 release.

[2019-05-28 04:48] uniquedeveloper17 commented on #23027
any response

[2019-05-28 06:32] Arshad83 commented on #5273
I was also facing the same issue when I was deleted my theme.
then I solved by deleting from the database table `core_config_data `

and then change

Finally

[2019-05-28 09:00] serucee commented on #12390
Is there any update on this issue?

[2019-05-28 09:09] shahbaztariq commented on #11526
For anyone experiencing this issue as I was I had the `generated` folder as a symlink - in hindsight a bad idea as it served no purpose.

Anyway, removing the symlink and creating a standard directory and running compilation resolved the issue and everything started working as normal.

[2019-05-28 09:20] innoppl-developers commented on #9497
Magento version 2.2.3
Disabling CSS merge and minify fixed the issue.

[2019-05-28 09:22] hryksbt opened #23029 "Shipping step is skipped in spite of associated configurable products."
1. Magento 2.2.7 CE
2. Magento 2.2.6 CE

### Steps to reproduce (*)
1. Try to checkout configurable products from front-end.
2. You will see no shipping method choice in checkout page. Magento 2 shows only Review&Payments step.

### Expected result (*)
1. Associated configurable products are not virtual products. But they must be virtual products in Magento 2 rule. That was simple products in Mage

[2019-05-28 09:33] hryksbt commented on #23029
I have tired to create products in 2.2.7. Associated products are changed to simple products.
I think this issue is resolved. But existing products are still virtual products they were created when version 2.2.6.
How to resolve? I think I need to change from virtual to simple.
I cannot delete and create new for same products.

[2019-05-28 09:39] himanshu-tech commented on #22970
@magento-engcom-team Yes, I was able to reproduce the issue on vanilla Magento instance.

[2019-05-28 09:41] hryksbt commented on #23029
I found solution.
![スクリーンショット 2019-05-28 18 40 10](https://user-images.githubusercontent.com/2483747/58468284-3c587700-8178-11e9-97f2-563d58a0b638.png)

[2019-05-28 09:41] #23029 closed, assigned to nobody

[2019-05-28 09:54] codercv commented on #7862
Thx man! You save my day :)

[2019-05-28 09:54] syed92hasan commented on #23027
I want to work on this issue.

[2019-05-28 09:58] matin73 opened #23030 "Magento2 Swatch change Image does not slide to first Image"
### Preconditions (*)
Magento 2.2.x and Magento 2.3.1
PHP 7.0

### Steps to reproduce (*)
Install Magento
Add some configurable products and swatches
Go to product detail page and click trough gallery
Now click on swatch-image (f.e. color)

### Expected result (*)
Gallery is loading images for color correctly and adding them on first position (method prepend)
Gallery should switch to first image b

[2019-05-28 09:59] matin73 commented on #23030
@matin73 do you confirm that you were able to reproduce the issue on vanilla Magento instance following steps to reproduce?

yes

[2019-05-28 10:00] matin73 commented on #23030
Solution: just add gallery.first(); in line 1253 in vendor/magento/module-swatches/view/frontend/web/js/swatch-renderer.js

`updateBaseImage: function (images, context, isInProductView) {
        var justAnImage = images[0],
            initialImages = this.options.mediaGalleryInitial,
            imagesToUpdate,
            gallery = context.find(this.options.mediaGallerySelector).data('gallery')

[2019-05-28 10:12] Eayshwary commented on #23030
Yes Worked Finally, Thanks @matin73 , I was experiencing same issue in 2 magento versions , the image was not being updated on swatch option selection, but after putting gallery.first() in swatch-renderer.js , Its working (y)

[2019-05-28 10:15] atishgoswami opened #23031 "[Magento 2.3.x] Declarative Schema :: Data/Schema Patches getAliases() not working as expected"
# Preconditions
**Project Environment**

Magento Version: 2.3.x CE
PHP: 7.2
Database: MySQL 5.7
OS: CentOS 7
Caching: Varnish Cache and OPcache

# Steps to reproduce
1. Create a schema patch with a class name e.g. ExampleSchemaPatch
2. Add a logger inside the apply method for the schema patch class to indicate that the apply method was executed
3. Run setup:upgrade
4. Check the `patch_list` table

[2019-05-28 10:25] IanFiretoys commented on #5980
heads up to anyone trying this, if you don't set up the correct http_X_Forwarded_for headers all of your orders will appear to be coming from 127.0.0.1 once this config has been set.

[2019-05-28 10:32] sanjay-wagento opened #23032 "php bin/magento setup:db-declaration:generate-whitelist command does not work when Magento install with prefix"
### Preconditions (*)

1. Install Magento 2.3.1 with the prefix

### Steps to reproduce (*)

1. Install Magento 2.3.1 with the prefix
2. Run `php bin/magento setup:db-declaration:generate-whitelist --module-name=Magento_Catalog` command

### Expected result (*)

1. Command must work and create db_schema_whitelist.json file

### Actual result (*)

1. It gives `Magento was installed with a table pre

[2019-05-28 10:57] uniquedeveloper17 commented on #23027
please tell me how can i resolve this ... i have ftp details

[2019-05-28 11:07] magento-engcom-team commented on #23030
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99844`, `MAGETWO-99845` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-28 11:59] AlexWorking commented on #12512
Hi there @avstudnitz, @Radosav and the other members of this conversation. Seems this issue is sternly fixed in today's 2.2 and 2.3 develop versions as we've been not able to reproduce it on those versions. Could any of You please try to reproduce it Yourself on those versions asking the bot for clear instance leaving the comment like "@magento-engcom-team give me 2.3-develop".

[2019-05-28 12:11] stkrelax commented on #12844
@djixas
module-ups
and
module-inventory-distance-based-source-selection

have the use Magento\Framework\HTTP\ClientInterface;

@toniodlab
fixed the problem

tag 2.3.1 is missing the
<preference for="Magento\Framework\HTTP\ClientInterface" type="Magento\Framework\HTTP\Client\Curl" />

branch 2.3-develop has it

[2019-05-28 12:49] Den4ik opened #23034 "Wrong behaviour of validation scroll"
### Preconditions (*)

1. 2.3-develop

### Steps to reproduce (*)

1. Open create order page in admin panel
2. Click Add Product button
3. Click Submit Order  button
Page scrolling down and up instead of focusing on non valid field

### Expected result (*)

![malu9_2019-05-28_15-38-05](https://user-images.githubusercontent.com/1129623/58478908-cba56080-815f-11e9-9a65-d1719ece79aa.gif)

### Actual

[2019-05-28 12:53] jignesh26 commented on #12356
Have same issue in Magento ver. 2.2.3

[2019-05-28 13:30] magento-engcom-team commented on #22973
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99848`, `MAGETWO-99849` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-28 14:40] jayachandraoggy commented on #22251
@magento-engcom-team give me 2.2.6 instance

[2019-05-28 14:40] magento-engcom-team commented on #22251
Hi @jayachandraoggy. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2019-05-28 14:40] magento-engcom-team commented on #22251
Hi @jayachandraoggy, here is your [Magento instance](https://i-22251-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-22251-2-2-6.instances.magento-community.engineering/admin](https://i-22251-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-28 14:43] jayachandraoggy commented on #22251
I am working on this #codilar

[2019-05-28 14:43] magento-engcom-team commented on #23034
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99852`, `MAGETWO-99853` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-28 14:53] jayachandraoggy commented on #16234
I am working on this #codilar

[2019-05-28 15:02] magento-engcom-team commented on #21747
Hi @bengower. Thank you for your report.
The issue has been fixed in magento/magento2#22581 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [020f970e51c754805674ce81e85ccfdd34301579](https://github.com/magento/magento2/commit/020f970e51c754805674ce81e85ccfdd34301579)
 - [aae1e595654105d450ba7b773bf2ae0c616cb9d3](https://github.com/magento/magento2/commit/aae1e595654105d450ba7b773bf

[2019-05-28 16:20] jozefpinter commented on #19795
i can confirm.

[2019-05-28 18:13] magento-engcom-team commented on #22215
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99855`, `MAGETWO-99856` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-28 18:50] danmooney2 commented on #23003
Yeah, try this in app/code/Magento/Catalog/Model/Indexer/Product/Flat/FlatTableBuilder.php line 368:

`)->where("`$attributeCode` IS NOT NULL");`

[2019-05-28 18:59] danharper83 commented on #23003
@danmooney2 it was an attribute called condition 🤦‍♂

I deleted the attribute on staging and it indexed successfully, I'm not sure how I can fix the attribute "condition" though.

[2019-05-28 19:12] lvampa commented on #22407
Looks like setting `cache_lifetime` to `0` for this particular block, as mentioned above, doesn't actually work because of the override of the `getCacheLifetime` method in the Topmenu block. `"0"` is a falsy value and the parent `getCacheLifetime` returns either `null | int` which allows a 0 return value. The Null Coalesce Operator should probably be used over the ternary shorthand.

[code]
VS
[co

[2019-05-28 19:12] danmooney2 commented on #23003
@danharper83 `condition` is a reserved word in MySQL/MariaDB, backticks (`) around the keyword would escape it and not be interpreted in a special manner by the parser; I think that's the correct change to make that I referenced above

[2019-05-28 19:58] tylers-username opened #23037 "Inconsistency in payment error message handling"
### Summary (*)

**Discovered:** Magento 2.2
**Reproduced:** 2.2 & 2.3

Magento allows developers to provide files such as `vendor/magento/module-braintree/etc/braintree_error_mapping.xml` so that we can output our own payment error messages to the end user. However, sometimes `GatewayCommand::execute()`'s validator sometimes outputs the message codes (as expected) but other times outputs "Process

[2019-05-28 19:59] tylerssn commented on #23037
@magento give me 2.3-develop instance

[2019-05-28 19:59] magento-engcom-team commented on #23037
Hi @tylerssn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-28 19:59] magento-engcom-team commented on #23037
Hi @tylerssn, here is your [Magento instance](https://i-23037-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23037-2-3-develop.instances.magento-community.engineering/admin](https://i-23037-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 04:56] swatts7777777 commented on #22589
Back on the topic at hand....

I am experiencing this same problem.  A vanilla install of 2.3.1 works on my server, but upgrading from 2.2.7 to 2.31 results in this error:

[code]

Can anybody help shed some light on how I can get around this issue?

[2019-05-29 05:06] ajijshekh123 commented on #23037
Give me @magento give me 2.3-develop instance

[2019-05-29 05:06] magento-engcom-team commented on #23037
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-29 05:06] magento-engcom-team commented on #23037
Hi @ajijshekh123, here is your [Magento instance](https://i-23037-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23037-2-3-develop.instances.magento-community.engineering/admin](https://i-23037-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 05:06] lakshmi13patil commented on #10565
Hello, How do i make the custom product  attribute created at back end , visible/available on frontend for vendor while listing his product.

[2019-05-29 05:37] ajijshekh123 commented on #23037
Give me @magento give me 2.2-develop instance.

[2019-05-29 05:37] magento-engcom-team commented on #23037
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-29 05:38] magento-engcom-team commented on #23037
Hi @ajijshekh123, here is your [Magento instance](https://i-23037-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23037-2-2-develop.instances.magento-community.engineering/admin](https://i-23037-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 05:49] sudhanshu-bajaj commented on #13143
Anyone working in it ?

[2019-05-29 05:58] ajijshekh123 commented on #23037
Hi @tylerssn,
I have verified this issue in Magento 2.3 and Magento 2.2 Instance as per your details.

In Magento 2.3, I have displayed the 'Transaction has been declined. Please try again later.' error.

**See attached the Screenshot:**

![2 3](https://user-images.githubusercontent.com/24711761/58532852-70797980-8204-11e9-95b1-f7953cc0ab71.png)

In Magento 2.2, I have displayed the Same 'Transact

[2019-05-29 06:02] rammohan-krish commented on #23012
@magento give me 2.3-develop instance

[2019-05-29 06:02] magento-engcom-team commented on #23012
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-29 06:02] magento-engcom-team commented on #23012
Hi @rammohan-krish, here is your [Magento instance](https://i-23012-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23012-2-3-develop.instances.magento-community.engineering/admin](https://i-23012-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 06:40] nikhil91100 commented on #20033
Any update ?

[2019-05-29 07:00] amanuni opened #23038 "Decimal qty with Increment is with specific values are not adding in cart"
### Preconditions (*)

1. Product with Any Decimal Quantity should be added in Cart If Decimal "Qty Uses Decimals" and option is "Yes"
2. Product is not adding in cart with qty decimal, qty increment is enabled and minimum qty assigned.

### Steps to reproduce (*)

1. Create simple product enable "Qty Uses Decimal" and Assign "Minimum Qty" to 0.5 then enable "Enable Qty Increments" and assign 0.1

[2019-05-29 07:00] sanjay-github commented on #14297
Facing the same issue. Not getting custom session in rest api calls. Session based authentication works only with customer or let's say global session. If we modify the path/namespace of session, we don't get the session.
Agree with all the comments by @rasmuswikman.

[2019-05-29 07:01] amanuni commented on #23038
@magento give me 2.3-develop instance

[2019-05-29 07:01] magento-engcom-team commented on #23038
Hi @amanuni. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-29 07:01] magento-engcom-team commented on #23038
Hi @amanuni, here is your [Magento instance](https://i-23038-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23038-2-3-develop.instances.magento-community.engineering/admin](https://i-23038-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 07:05] farhangithub27 commented on #6575
Overriding core js files is never a recommended approach

[2019-05-29 07:08] amanuni commented on #23038
@magento-engcom-team issue reproduced in provided instance. Check below mentioned product i have created and its happening with it.

https://i-23038-2-3-develop.instances.magento-community.engineering/test-decimal-product.html

[2019-05-29 07:25] zeekzeeky opened #23039 "Meta property not showing on social media such as Facebook"
### Summary
I have inserted Search Engine Optimisation metadata such as Meta title, description and keywords using Bluefoot CMS builder on Magento 2.1.9 (screenshot below).
<img width="1268" alt="Screenshot 2019-05-29 at 3 21 45 PM" src="https://user-images.githubusercontent.com/32473615/58537450-7c296800-8225-11e9-9948-217095790c6a.png">

The meta property appears perfectly when I inspect the web

[2019-05-29 07:56] rammohan-krish commented on #23012
Issue not reproduced on Magento 2.3-develop

[2019-05-29 07:56] rammohan-krish commented on #23012
@magento give me 2.2-develop instance

[2019-05-29 07:56] magento-engcom-team commented on #23012
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-29 07:57] magento-engcom-team commented on #23012
Hi @rammohan-krish, here is your [Magento instance](https://i-23012-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23012-2-2-develop.instances.magento-community.engineering/admin](https://i-23012-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 08:31] rammohan-krish commented on #23012
Issue not Reproduce on Magento 2.2-develop instance.

@DavidSim80 Issues not reproduce on clean Magento, please recheck and let me know if you are facing the same issue on Default Magento instance.

I am closing this issue.

[2019-05-29 08:31] #23012 closed, assigned to rammohan-krish

[2019-05-29 09:29] DanielRuf opened #23041 "Can not find current CI setup, missing CI status and tests"
### Summary (*)
Currently I am missing the CI status on the last commits and it is not clear where we can find the used tests and CI setup. It seems this is not public anymore?

[2019-05-29 09:30] orlangur commented on #22589
@swatts7777777 disabling module is not an option?

[2019-05-29 09:44] obukhow commented on #15950
This fix caused another bug.

### Steps to reproduce

1. Create product with positive qty in stock and stock status "In stock"
2. Create an CSV file for import products
3. Set Quantity (field qty) to 0
4. import CSV

### Expected result

Product should have quantity 0 and status "Out of Stock"

### Actual result

Product has zero quantity but is "In Stock"

The case worked properly before this iss

[2019-05-29 09:55] obukhow opened #23042 "Magento2 CSV product import automatic stock status broken"
### Preconditions

- PHP 7.1.26
- Magento CE 2.2.8
- MySql 5.6.35

### Steps to reproduce

1. Create product with positive qty in stock and stock status "In stock"
2. Create an CSV file for import products
3. Set Quantity (field qty) to 0
4. import CSV

### Expected result

Product should have quantity 0 and status "Out of Stock"

### Actual result

Product has zero quantity but is "In Stock"

And

[2019-05-29 09:58] swatts7777777 commented on #22589
Thanks @orlangur

Disabling both Magento_Amqp and Magento_MysqlMq allows me to upgrade.

Thankyou for your help.

[2019-05-29 10:15] iamsambrown opened #23043 "Plus sign is not allowed in SKU on Product API"
### Preconditions (*)

1. Found the bug using Magento 2.2.3
2. Vanilla implementation of Magento Product Repository

### Steps to reproduce (*)

1. Create a product with SKU containing '+' eg. 'BAH-SB+7'
2. Query Magento instance via REST API /rest/V1/products/BAH-SB+7
3. Observe response

### Expected result (*)

1. ![Screenshot 2019-05-29 at 11 13 43](https://user-images.githubusercontent.com/64

[2019-05-29 10:25] tdgroot commented on #14647
This issue was fixed in 2.3.1: https://github.com/magento/magento2/pull/18968

[2019-05-29 10:32] ashsmith opened #23045 "Exceptions from data patches do not show root cause"
### Preconditions (*)
1. Create a schema data patch that will throw an exception when executed.

### Steps to reproduce (*)
1. Run bin/magento setup:upgrade

### Expected result (*)
1. As a developer I expect the stack trace to pinpoint the specific patch that caused the exception to be thrown.

### Actual result (*)

1. The stack trace does not contain any reference to where the error originated

[2019-05-29 10:36] rammohan-krish commented on #23038
@magento give me 2.3-develop instance

[2019-05-29 10:36] magento-engcom-team commented on #23038
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-29 10:37] magento-engcom-team commented on #23038
Hi @rammohan-krish, here is your [Magento instance](https://i-23038-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23038-2-3-develop.instances.magento-community.engineering/admin](https://i-23038-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 10:40] amanuni commented on #23038
@rammohan-krish thank you

[2019-05-29 10:44] rammohan-krish commented on #23038
@amanuni you're welcome.

[2019-05-29 10:45] winds1983 commented on #20033
Same issue, any update in 2.3.2, could you provide some patch?

[2019-05-29 10:51] imark73 opened #23047 "We don't have as many quantity as you requested, but we'll back order the remaining 1"
Summary of the issue -
Hi. In the latest Magento 2.3.1 version, I'm getting a message in the basket - "We don't have as many quantity as you requested, but we'll back order the remaining 1." - See attached screenshot. I'm guessing this is a bug? It appears to be inserting the word "quantity" instead of the product name. It also causes the i18n translation not to work which is a problem for our sho

[2019-05-29 11:00] jorgealonso78 commented on #22775
please this looks like a pinpon game assigned to one person assigned to another and the bug where same. 22 days to test only if it's a bug with all the things that is needed

[2019-05-29 11:11] vanpear commented on #13504
The problem is that the layout xml of this controller path is not loading properly.

Check that the name and the namespace of the controller is matching with the layout file name. Take care of the case sensitivity.

For example:

- custom_module_admin_customcontroller_action.xml
- namespace Custom\Module\Controller\Adminhtml\Customcontroller and not CustomController

[2019-05-29 11:36] ghost opened #23049 "Entity Attributes not showing while export the Products"
### Preconditions (*)

1. 2.2.6

### Steps to reproduce (*)

1. Admin -> System -> Data Transfer -> Export
2. Select product from Entity type
3. It displays the entity attributes
4. Change the Entity type to -- Please Select --
5. It will hide the entity attributes
6. Now Again select the Products from Entity type

### Expected result (*)

1. Product should have exported buy it failed to export
Al

[2019-05-29 11:41] AlexWorking commented on #23043
Hello @iamsambrown. Thanks for reporting. The behavior You have described here is really reproduced. But it's hard to definitely say that behavior is a bug. You see the API requests are sent via URLs, and the "+" in URL stands for space and that is, so to say,  the universally known truth. So if one needs to pass the "+" sign via URL one will simply encode it to "%2B". Thus if You change the behav

[2019-05-29 12:04] AlexWorking commented on #22775
Sorry for delay @jorgealonso78. But as You can see from the above (pull request "Changed access for $allowLengthValidationTypes #24" has been created) the progress on Your issue hasn't stopped. Now the pull request needs to be verified. After that will have been done, it will be merged into 2.3-develop version. We'll try to do our best in order to fulfill all the procedures as quickly as possible.

[2019-05-29 12:12] krishprakash commented on #23049
@magento give me 2.2-develop instance

[2019-05-29 12:12] magento-engcom-team commented on #23049
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-29 12:13] magento-engcom-team commented on #23049
Hi @krishprakash, here is your [Magento instance](https://i-23049-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23049-2-2-develop.instances.magento-community.engineering/admin](https://i-23049-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 12:15] krishprakash commented on #23049
@magento give me 2.3-develop instance

[2019-05-29 12:15] magento-engcom-team commented on #23049
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-29 12:16] magento-engcom-team commented on #23049
Hi @krishprakash, here is your [Magento instance](https://i-23049-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23049-2-3-develop.instances.magento-community.engineering/admin](https://i-23049-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 12:18] orlangur commented on #20033
@nikhil91100 @winds1983 what do you mean? Issue is fixed in to-be-released `2.3.2` and `2.3-develop`.

[2019-05-29 12:25] nikhil91100 commented on #20033
@orlangur ok , thanks

[2019-05-29 12:26] magento-engcom-team commented on #23049
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99863` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-29 12:34] AlexWorking commented on #23047
@magento give me 2.3-develop instance - upcoming 2.3.1

[2019-05-29 12:35] magento-engcom-team commented on #23047
Hi @AlexWorking. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-29 12:35] magento-engcom-team commented on #23047
Hi @AlexWorking, here is your [Magento instance](https://i-23047-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23047-2-3-develop.instances.magento-community.engineering/admin](https://i-23047-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 12:38] AlexWorking commented on #23047
Hello @imark73. Thanks for applying. We've been not able to reproduce Your issue. Could You please try to do it Yourself on a clear magento instance. You may use the one above (in the previous comment of the bot).

[2019-05-29 12:42] iamsambrown commented on #23043
Hello @AlexWorking - I understand what you mean. A plus represents a space in a URL

The problem is that without this code in place, even putting in %2B in place ( ie. `BAH-SB%2B7` ) will return a space. It will encode %2B to a plus, and then seemingly encode it again into a space character. So `BAH-SB%2B7` will read as `BAH-SB 7`. Whereas inputting %20 will still result as a space character, with

[2019-05-29 12:42] karthik32cse commented on #13707
@sergeynezbritskiy This issue still persists in Magento EE 2.3.
Have you fixed this in Magento EE 2.3 or still I have to apply this patch?
Please give your inputs. Thanks in advance.

[2019-05-29 12:45] QuentinFarizon opened #23050 "styles-m.css and styles-l.css import duplicate CSS"
### Preconditions (*)
Magento 2.2.8 EE

### Steps to reproduce (*)
- Create a theme that inherits Magento/luma
- In a _theme.less file, add CSS conditionned by "& when (@media-common = true) {"
- Generate static assets for this theme

### Expected result (*)
CSS is only present in styles-m.css, as per documentation https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/responsive-web-design/rw

[2019-05-29 12:46] ArnoVDC opened #23051 "Customer session function getCustomerGroupId() doesn't work as expected"
### Preconditions (*)
See Summary

### Steps to reproduce (*)
See Summary

### Expected result (*)
See Summary

### Actual result (*)
See Summary

### Summary(*)
In the `\vendor\magento\module-customer\Model\Session.php` class you have a function getCustomerGroupId(). I assume (and red the php documentation) that this returns the customer group Id of the current logged in user. In my case this ret

[2019-05-29 12:53] naydav commented on #4788
Hello @AlexWorking, could you ask about this issue in #performance channel in the Slack
Thanks

[2019-05-29 12:58] imark73 commented on #23047
Hello @AlexWorking. Many thanks for looking into it - I've tested using your magento instance and can confirm that I do not get the same issue. I'll discuss it further with templatemonster who provided with version we have.

[2019-05-29 13:03] orlangur commented on #23043
Why? Will `urlencode('%2B')` work?

Described system behavior is absolutely correct.

[2019-05-29 13:03] #23043 closed, assigned to iamsambrown, AlexWorking

[2019-05-29 13:07] AlexWorking commented on #23043
@iamsambrown, don't exactly understand what You mean by "and then seemingly encode it again into a space character". I performed the request one by one for several times and here is what I got:
![plusku1](https://user-images.githubusercontent.com/27814011/58559315-8189b100-822b-11e9-974f-73e60ec854bb.png)
![plusku2](https://user-images.githubusercontent.com/27814011/58559321-85b5ce80-822b-11e9-887

[2019-05-29 13:09] AlexWorking commented on #23047
You are welcome @imark73.

[2019-05-29 13:09] #23047 closed, assigned to AlexWorking

[2019-05-29 13:12] iamsambrown commented on #23043
That does look correct. Is that on a vanilla Magento instance?

That was not working on my instance, please see in the screenshot below. In the trace, the product repository is trying to get `ProductRepository->get('BAH-SB 7', false, NULL, false)` - whilst the SKU passed in is `BAH-SB%2B7`

![Screenshot 2019-05-29 at 14 10 46](https://user-images.githubusercontent.com/6470667/58559720-a1b17400-821

[2019-05-29 13:13] tylerssn commented on #23037
@ajijshekh123 - thanks for jumping in here.

This is a generic error message that indicates that no messages have been mapped to the error code returned by this gateway -  thrown by `Magento\Payment\Gateway\Command\GatewayCommand::processErrors()` which is called by the class method pointed out in my opening comment `GatewayCommand::execute()`.

If the payment processor you were testing is Braintr

[2019-05-29 13:15] beachbum12 commented on #22243
Just found how to switch PayPal Credit option off!!  You need to set your Merchant Country to United States and clear cache. Then go to:

Basic Settings - Paypal Express Checkout > Advanced Settings > Frontend Experience Settings > Features > Disable Funding Options: Paypal Credit

If you set your Merchant Country to United Kingdom this option disappears and you can't turn it off.

[2019-05-29 13:23] krishprakash commented on #23050
Hi @QuentinFarizonAfrimarket.
Please follow issue reporting guideline to report an issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Thanks.

[2019-05-29 13:35] AlexWorking commented on #23043
@iamsambrown, yes, mine was on an almost vanilla instance. I mean there had already been created several products before I created the one with that SKU. But I don't believe I has some impact on the situation.

[2019-05-29 13:39] AlexWorking commented on #4788
@naydav, I've started a direct message conversation between You and me on Slack as  I'm not a member of the #performance channel, If I do understand it correctly. So please, attend to Your Slack.

[2019-05-29 13:53] ioweb-gr opened #23052 "cms page not redirecting correctly after changing store view"
I have these following cases for redirecting CMS pages to a different store view because of different language. In 2 different Magento 2 eshops using Magento 2.3.1 I'm facing this issue where the store switcher module redirects me to the homepage instead of the equivalent page.

### Preconditions (*)
1. Magento 2.3.1
2. 2 store views for 2 languages.
3. A CMS Page for each language with the same u

[2019-05-29 13:54] ioweb-gr commented on #23052
@magento give me 2.3-develop instance

[2019-05-29 13:54] magento-engcom-team commented on #23052
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-29 13:55] magento-engcom-team commented on #23052
Hi @ioweb-gr, here is your [Magento instance](https://i-23052-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23052-2-3-develop.instances.magento-community.engineering/admin](https://i-23052-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 14:05] ioweb-gr commented on #23052
Reproduced on demo instance. If you go to page https://i-23052-2-3-develop.instances.magento-community.engineering/test  and try to switch store view from "default store view" to "Gr"  you will get redirected to homepage
https://i-23052-2-3-develop.instances.magento-community.engineering/test

![2019-05-29_17-04-35](https://user-images.githubusercontent.com/20220341/58563516-f95bd980-8233-11e9-99d

[2019-05-29 14:15] TomashKhamlai opened #23053 "Sendfriend works for products with visibility not visible individually"
### Preconditions (*)

1. A simple product is created

### Steps to reproduce (*)

1. Find the product on the storefront and click EMAIL icon.
2. Add this page to bookmarks.
3. Restrict visibility of the product
4. Go back to your page from the bookmarks bar. URL should look like
`http://graphql-ce.io/sendfriend/product/send/id/1/cat_id/3/`
5. Send email

### Expected result (*)

1. On step 4 I se

[2019-05-29 14:16] QuentinFarizonAfrimarket commented on #23050
Hello @krishprakash
Sorry, I misclicked, I filled the description

[2019-05-29 14:18] magepro-dev commented on #22264
i have the same problem at magento 2.3.1. disabled FLAT categories and products.. and looks like it works now. but i hope in next release it will fixed

[2019-05-29 14:24] DavidSim80 commented on #23012
@magento give me 2.3-develop instance

[2019-05-29 14:24] magento-engcom-team commented on #23012
Hi @DavidSim80. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-29 14:25] magento-engcom-team commented on #23012
Hi @DavidSim80, here is your [Magento instance](https://i-23012-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23012-2-3-develop.instances.magento-community.engineering/admin](https://i-23012-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 14:25] DavidSim80 commented on #23012
@magento give me 2.2-develop instance

[2019-05-29 14:25] magento-engcom-team commented on #23012
Hi @DavidSim80. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-29 14:26] magento-engcom-team commented on #23012
Hi @DavidSim80, here is your [Magento instance](https://i-23012-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23012-2-2-develop.instances.magento-community.engineering/admin](https://i-23012-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 14:28] QuentinFarizon opened #23054 "Cron job not running after crashed once"
### Preconditions (*)
Magento EE 2.2.8
Crontab configured as per the documentation

### Steps to reproduce (*)
- An error makes the cron job indexer_update_all_views fail once (in my case, database unavailable)

### Expected result (*)
- Current run should be marked as failed in the table cron_schedule
- Next run should run correctly and status be updated at the end in cron_schedule

### Actual re

[2019-05-29 14:53] SteveEdson commented on #21299
Any idea when 2.3.2 will be released? Could do with a fix for this being available.

Thanks

[2019-05-29 15:08] RonakParmar opened #23055 "Advanced Search Allows Search using Blank Spaces"
Advanced Search allows search by entering only blank spaces in all the fields of the form and it will generate blank search result. which is not correct behavior of search result.
### Preconditions (*)

1. Magento 2.3.x
2. PHP 7.1

### Steps to reproduce (*)

1. Click on Advanced Search link in the footer
2. Enter only blank spaces in any/all fields
3. Click on Search button

### Expected result (

[2019-05-29 15:19] bizzi commented on #18264
I would not create a new issue for the same problem so will re-open this one.
This issue relates to bundle price indexer as well and as I see still exists in M2.2.8
https://github.com/magento/magento2/blob/2.2/app/code/Magento/Bundle/Model/ResourceModel/Indexer/Price.php#L319
It affects category product sorting if there are bundle products.
PR: https://github.com/magento/magento2/pull/23056

[2019-05-29 15:47] mozgbrasil commented on #22603
Hello @hiren-aimsinfosoft

if I can help you, please let me know.

[2019-05-29 16:25] magento-engcom-team commented on #23051
@AlexWorking Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2019-05-29 16:29] #22797 closed, assigned to shikhamis11

[2019-05-29 16:30] magento-engcom-team commented on #22899
Hi @eduan. Thank you for your report.
The issue has been fixed in magento/magento2#22914 by @serhiyzhovnir in 2.3-develop branch
Related commit(s):
 - [6e5cdb1bd969bee2ab2cd5de89e4bf9558348552](https://github.com/magento/magento2/commit/6e5cdb1bd969bee2ab2cd5de89e4bf9558348552)
 - [f1c85d4cc12328412e45ef5d51012798513eb0b2](https://github.com/magento/magento2/commit/f1c85d4cc12328412e45ef5d51012798

[2019-05-29 16:30] #22899 closed, assigned to serhiyzhovnir

[2019-05-29 16:30] magento-engcom-team commented on #18183
Hi @Cristiano81. Thank you for your report.
The issue has been fixed in magento/magento2#22718 by @this-adarsh in 2.3-develop branch
Related commit(s):
 - [e965f0ca8676b6e71e155843da8ebef1c65ae7da](https://github.com/magento/magento2/commit/e965f0ca8676b6e71e155843da8ebef1c65ae7da)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-29 16:30] #18183 closed, assigned to this-adarsh

[2019-05-29 16:30] magento-engcom-team commented on #22380
Hi @daniel-ifrim. Thank you for your report.
The issue has been fixed in magento/magento2#22387 by @krnshah in 2.3-develop branch
Related commit(s):
 - [d43eeb84d6d7b973d628f61cfb0ff97b4e70cb07](https://github.com/magento/magento2/commit/d43eeb84d6d7b973d628f61cfb0ff97b4e70cb07)
 - [20f677f7babe89e175a54d40d851b7611c93b495](https://github.com/magento/magento2/commit/20f677f7babe89e175a54d40d851b76

[2019-05-29 16:30] #22380 closed, assigned to krnshah

[2019-05-29 16:31] magento-engcom-team commented on #22346
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99866` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-29 17:23] Julen10 commented on #22243
Thanks a lot @beachbum12

[2019-05-29 17:52] khoi-le opened #23057 "Cannot create preference for Magento\Bundle\Block\Catalog\Product\View\Type\Bundle"
### Preconditions (*)

1. I've seen on 2.2.4 and it still occurs on 2.3.1.

### Steps to reproduce (*)

1. Create a module to use to override a block.
2. Override this block Magento\Bundle\Block\Catalog\Product\View\Type\Bundle.

### Expected result (*)

1. Override should load your file.

### Actual result (*)

1. Magento still uses the core file.

[2019-05-29 18:29] Shubham-Webkul commented on #23024
@magento give me 2.3-develop instance

[2019-05-29 18:29] magento-engcom-team commented on #23024
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-29 18:29] magento-engcom-team commented on #23024
Hi @Shubham-Webkul, here is your [Magento instance](https://i-23024-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23024-2-3-develop.instances.magento-community.engineering/admin](https://i-23024-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-29 19:25] magento-engcom-team commented on #22686
Hi @milindsingh. Thank you for your report.
The issue has been fixed in magento/magento2#22687 by @milindsingh in 2.3-develop branch
Related commit(s):
 - [2e344f1f8bf26571bc0d41e65b4a34c6d46273fc](https://github.com/magento/magento2/commit/2e344f1f8bf26571bc0d41e65b4a34c6d46273fc)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-29 19:25] #22686 closed, assigned to milindsingh

[2019-05-29 19:25] magento-engcom-team commented on #20788
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#22931 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [50d4ebf4ccb84d5f051198057ac5913da95d41db](https://github.com/magento/magento2/commit/50d4ebf4ccb84d5f051198057ac5913da95d41db)
 - [f984ab7f4be88c785cba0ddbdc0ec1d7c4c58ea3](https://github.com/magento/magento2/commit/f984ab7f4be88c785cba0ddbdc0

[2019-05-29 19:25] #20788 closed, assigned to hitesh-wagento, suryakant-krish

[2019-05-29 19:25] magento-engcom-team commented on #22767
Hi @Sharkozp. Thank you for your report.
The issue has been fixed in magento/magento2#22772 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [ef5a50ec4b75cd40b9ec475c156fc4aaae266479](https://github.com/magento/magento2/commit/ef5a50ec4b75cd40b9ec475c156fc4aaae266479)
 - [876d6327b4bd17592cb2d4fb84e42bd625803f69](https://github.com/magento/magento2/commit/876d6327b4bd17592cb2d4fb84e

[2019-05-29 19:25] #22767 closed, assigned to shikhamis11, mahesh-rajawat

[2019-05-29 20:44] helefa commented on #16203
I'm having this issue in 2.2.4 and cannot upgrade to 2.3. Is there a fix for my version?

[2019-05-29 20:56] sergeynezbritskiy commented on #13707
@karthik32cse it is not a bug, but feature. so nothing to fix here. Please check the commit from magento core team https://github.com/magento/magento2/commit/d91e96b529e70dcec55d3b5336b471791dc42d54
If you really need this to be fixed, you can try to override those styles

[2019-05-29 23:45] magento-engcom-team commented on #23051
:white_check_mark: Confirmed by @okorshenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17095`, `MC-17096` were created

**Issue Available**: @okorshenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-30 02:14] rodrigowebjump commented on #19670
@magento-engcom-team give me 2.3.0 instance

[2019-05-30 02:14] magento-engcom-team commented on #19670
Hi @rodrigowebjump. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-05-30 02:15] magento-engcom-team commented on #19670
Hi @rodrigowebjump, here is your [Magento instance](https://i-19670-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19670-2-3-0.instances.magento-community.engineering/admin](https://i-19670-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-30 03:03] rodrigowebjump commented on #19670
Hi
The issue was not reproduced.
The images are automatic generated by pub/get.php file. Probably the issue is related with webserver configuration.

[2019-05-30 04:02] nfourteen commented on #22975
I can also confirm this issue.

### Preconditions
1. Magento 2.3.1

### Steps to reproduce
1. Create a configurable product on a new Magento instance
2. Navigate to `System > Data Transfer > Export` and export the **Products** entity
3. Open the CSV file and update prices
4. Navigate to `System > Data Transfer > Import` and import the updated CSV file using the **Import Behavior** Add/Update.

###